[2019-10-09 08:24] Ehesp commented on #8612
Sorted the issue for me. In my `onClick` handler I now have this:

[code]

The `firebase` variable is my initialised one.

[2019-10-09 08:25] #17988 closed

[2019-10-09 08:42] ronanlevesque commented on #18319
Indeed, it should be the following:

`'/*': ['X-Frame-Options: sameorigin'],`

Working fine now :)

[2019-10-09 09:24] kdichev commented on #18366
You can wrap your component with a `window` check
[code]

[2019-10-09 09:41] adibfirman commented on #18363
Hello @topspinppy
can you make some steps to reproduce to make clear your issue?

[2019-10-09 11:07] #18321 closed

[2019-10-09 11:43] nd0ut opened #18376 "[gatsby-plugin-guess-js] JWT is exposed to the public bundle"
## Description

JWT private key used by `gatsby-plugin-guess-js` is exposed to the public bundle.

Gatsby site is also affected. See `https://www.gatsbyjs.org/app-e0ba54deda3d5858a927.js`

### Steps to reproduce

There is the minimal config:

[code]

### Expected result

No unused and private data in the production bundle. This also applies to the other gatsby plugins. Every `pluginOptions` is bun

[2019-10-09 12:24] Kadrian opened #18379 "Recommended way to share code between gatsby-node.js and components?"
Since it's node, `gatsby-node.js` uses commonjs, components use ES6 modules.

Say I want to share a function that calculates the slug of a created page:

[code]

Now I want to import this function both in

- in `gatsby-node.js` to use it in the `createPage` API
- in `Posts.js` to link to the individual post paths.

How would you recommend sharing code & dealing with the different module systems in

[2019-10-09 12:40] bersot1 commented on #18257
Thanks @arjunsajeev !!!

[2019-10-09 12:41] #18257 closed

[2019-10-09 13:06] margueriteroth commented on #18284
Love this. I think "R" is up for grabs in the docs folder so I will snag those.

[2019-10-09 13:07] bersot1 opened #18381 "How can I insert a script embed in my blog using gatsby-gitbook-starter theme"
## Summary
Hello, guys... i'm a new in React world... I gat a project in my work and I am needing to insert a script embed in my blog. This script embed is a yammer feed for my users to ask in yammer inside my blog...

What I have to do: In sidebar, i have to create a new link that will open a HTML page with this yammer feed. This new link is not a new page... it has to open like a normal page, in

[2019-10-09 13:08] virtualjoias commented on #8454
I solved this problem just turned the Return Format from "Image Array" to "Image URL".
![Screenshot_1](https://user-images.githubusercontent.com/53302439/66484104-be3ca300-ea7c-11e9-9dbc-29b90b64e4f9.jpg)

[2019-10-09 13:11] #17419 closed

[2019-10-09 13:12] derakhshanfar commented on #13442
same issue for me, did you find a workaround / fix?

[2019-10-09 13:15] qramilq opened #18382 "Double save for apply changes (hot reload bug?)"
## Description

When I make changes in `src/pages/index.js` file in file and save it, console says
[code]
ant then
[code]
but changes not applying. Then I save again, console says again  same text, as above and changes applying.
~~Looks like the compiled files doesn't have changes,~~ because i see, that hot reload fires after first save too.
UPD: if I update page manually (ex. by pressing F5) the

[2019-10-09 13:20] joebentaylor1995 commented on #14990
Having this issue too...

[2019-10-09 13:24] sidharthachatterjee opened #18383 "Map errors in internal plugins to activities and set status correctly"
When a plugin throws an Error in `gatsby-node.js`, the `status` in the redux store `gatsby-cli` is still set to _Success_. This is because
- don't catch errors in plugins and associate them correctly with an activity
- We don't create an activities for plugin API runners

We should be able to fix this

- [x] Create activities for API runners
- [x] Pass in reporter instance that delegates those fun

[2019-10-09 13:27] #17994 closed

[2019-10-09 13:40] samanthabretous commented on #17946
Closing this issue, since I can no longer replicate the bug. The client gets injected sometime before `onRouteUpdate` get triggers. And the package works as expected.

[2019-10-09 13:40] #17946 closed

[2019-10-09 14:00] derakhshanfar commented on #13980
same issue for me

[2019-10-09 14:06] wardpeet commented on #18376
Oh good catch, it's probably because we pass in pluginOptions. We probably want to sanitize it. Thanks for pointing that out.

[2019-10-09 14:12] dpdhruv commented on #18129
@marcysutton hey there , my first PR to gatsby is merged and i recieved a coupon but it's not working and hence I'm unable to claim my swag 🥺🥺.

Could you please help me out?

Thanks

[2019-10-09 14:31] david-nossebro commented on #13975
Also seeing this issue, would be good if it could be re-opened and addressed.

[2019-10-09 15:22] chrfritsch opened #18392 "Integrate smartcrop.js for nicer image crops"
## Summary

Integrate [smartcrop.js](https://www.npmjs.com/package/smartcrop) as fit strategy in gatsby-plugin-sharp.

### Motivation

When currently maxWidth and maxHeight are provided for a fluid image with the COVER strategy, the image will be cropped around the middle. But the focus of an image is often not in the middle. smartcrop.js can figure out where an image should be better cropped arou

[2019-10-09 16:01] liamfd commented on #13072
For those that may encounter this:

Gatbsy seems happy to serve non `.html` file extensions. My team just needed something html-ish, so we were able to get around this by loading an `.xhtml` file like:

[code]

The browser treats it like an html file, and Gatsby serves it statically. There may be a better way to structure that file, we didn't care about the actual markup much. We just took it from

[2019-10-09 16:44] Blightwidow commented on #17941
Interested into this issue, just wondering if you would prefer a standalone thing or include it into the `using-gatsby-example` ?

[2019-10-09 16:51] chadwyck242 commented on #18284
Just did one in the 'a' section, about adding comments functionality. Maybe I will also continue working in that area, is anybody else wanting to take some of those? Happy Hacktoberfest =)

[2019-10-09 17:00] universse commented on #18306
What other kinds of files are you thinking of? How do you intend to use those files?

[2019-10-09 17:39] samjt commented on #17947
This is actually an issue with mdx-js
https://github.com/mdx-js/mdx/issues/767

[2019-10-09 18:35] rishirD opened #18401 "CSV values to CSS background color"
How to parse graphql query data to css values. For ex. if I've data of colors (hex), I want those colors as background color of the div. How can I possibly do this? Screenshot attached with the below link. Thanks.
-
https://ibb.co/wcdrsHt

[2019-10-09 18:39] ppiyush13 commented on #18344
@dhhdev  thanks for the answer.

- By using the technique mentioned by you in previous comment, browser will give false positive because `gap` CSS property can also be used for CSS grid layout as well as mentioned here: https://developer.mozilla.org/en-US/docs/Web/CSS/gap
On chrome browser grid gap is supported but flex gap is not, so we cannot rely on this technique. That why I am resorting to JS

[2019-10-09 18:46] afleischer commented on #10401
Hi @shabith, would you kindly let the world know what the solution was?

[2019-10-09 19:16] rchrdnsh opened #18404 "How to populate a React Context File with MDX data and asset files from a GraphQL query?"
So, I have a working persistent music player on a project I am working on, thanks to this article:

https://upmostly.com/tutorials/how-to-use-the-usecontext-hook-in-react?unapproved=15591&moderation-hash=88f22760754aa9ff30643d45bc4c41eb#comment-15591

And it's just great. But The information for the music is contained in the Context File, like so:

[code]

...but rather than manually input all thi

[2019-10-09 19:40] dhhdev commented on #18344
@ppiyush13, I have never heard of a flex box specific gap (gutter) attribute. So I am not entirely sure as to how you would even implement that. (To my knowledge, flex-box doesn't have this. They usually use margins for making empty space between "cells".) The CSS specificiation you are linking to, is for the grid layout specification: https://www.w3.org/TR/css-grid-1/#change-2016-grid-gap

If you

[2019-10-09 19:44] dhhdev commented on #18306
@universse, I intend to use those files by simply doing something along the lines of:

[code]

What I am trying to get at:

1. Making a plugin with different folders of tools.

This could be icons in .svg format, it could be actual components, or something completely third option.

2.) A way for me to use those files from the plugin, in my actual site code directly.

Maybe, I am thinking of this w

[2019-10-09 20:22] GKJCJG opened #18413 "Errors in createPage cycle show between lines of GraphQL query"
## Description

When an error occurs in the createPage cycle, the error message often points to part of the GraphQL query even when the error occurred in code.

### Steps to reproduce

Throw an error in a plugin that manipulates MarkdownAST.

### Expected result

The error message should point to the lines of code in which the error actually occurred. Adding some error logging to createPages showe

[2019-10-09 20:39] atuttle commented on #14133
I'd be happy to take a crack at it, but I don't understand the code well enough. Can anyone lend a bit of insight to help get me started?

[2019-10-09 21:03] renatoi commented on #16728
This issue has been bugging me. I'm also on WSL and when it happens some of my graphql queries stop working too.

[2019-10-09 21:37] jordan314 opened #18418 "Endpoint not found after gatsby-source-contentful edit"
## Description

After commit fdd57d3 I'm unable to run gatsby build. The error I get is "Endpoint not found. Check if host and spaceId settings are correct". Reverting gatsby-source-contentful to 2.1.41 fixes the problem.

### Steps to reproduce

Run yarn upgrade --latest and then gatsby build.

### Expected result

Gatsby should build.

### Actual result

Get the error:
 ERROR

Accessing your Con

[2019-10-09 22:29] aditsachde commented on #18284
I've gone through the contributions folder and everything seems mostly alright. If its ok, I'm also going to have a look at the docs in the 'docs/docs/' folder starting with `building`, around half of the 'b' articles.

[2019-10-09 23:33] aditsachde opened #18422 "[docs"
## Summary

[2019-10-09 23:33] #18422 closed

[2019-10-09 23:33] aditsachde commented on #18422
Opened issue by mistake

[2019-10-09 23:43] aditsachde opened #18423 "[docs] new doc on Building Image heavy sites"
## Summary

We have documentation for dealing with images and working with images. There is already stub for building image heavy sites, this doc would be mostly about development and working with the site itself, such as using Git LFS / storing images outside of Git to prevent bloat, as well as making development easier by enabling features such as [image placeholders](https://github.com/gatsbyjs

[2019-10-10 00:46] armandoborge commented on #2359
In case somebody still needing a solution just install this plugin: https://github.com/stldo/gatsby-plugin-minify-classnames

It Is working with Gatsby v2

[2019-10-10 01:06] raunaqgupta commented on #18118
Package was successfully installed on upgrading gatsby to `2.15.34`

[2019-10-10 01:06] #18118 closed

[2019-10-10 01:08] jevinsidhu opened #18425 "404 Flashes Before Showing Correct Page"
I'm trying to have the following route render a page: `/tenants/:name`.

I wrote this code in `gatsby-node.js`:
[code]

This works, however, when I build on Netlify, it returns a 404 error in the console. The page still loads the tenants page, but the 404 page flashes first.

This is not broken in development, just when built.

[2019-10-10 01:23] AnalogMemory commented on #13645
@gfsd3v Would you be willing to share how you got your config working? Thanks! <3

[2019-10-10 01:38] jevinsidhu commented on #18425
I solved this by adding a check in my `404.js` for the window. If it's `undefined`, I don't render the 404 page.

[2019-10-10 01:38] #18425 closed

[2019-10-10 01:57] gc commented on #18091
^ Same here.

Error comes from here: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop.js#L74

[2019-10-10 03:11] op1127 commented on #15509
`/* autoprefixer grid: on */` only adds prefixes in development mode.
This is more than likely a bug with Gatsby. No matter what config I try, nothing seems to work. For example, this postcss.config.js works perfectly fine with Next.js and create-react-app but for whatever reason, it doesn't work with Gatsby.
[code]

[2019-10-10 03:52] LuisPinedaJR commented on #18284
Id like to help with this, I see 'q' hasn't been mentioned so I'll do that section :)

[2019-10-10 04:24] PiccoloYu commented on #18366
It's no use, but thank you.

[2019-10-10 04:31] PiccoloYu opened #18429 "Paging issues."
I used [gatsby-paginated-blog](https://github.com/NickyMeuleman/gatsby-paginated-blog) To paginate pages,
but its '/src/templates/blog-list.js' and my 'src/pages/pages/index.js' can not be used at the same time. I would like to ask how to modify the Gatsbyjs project to the front page and change'src/pages/indexjs', or The home page of the heading points to '/src/templates/blog-list. js'.

[2019-10-10 04:44] jonniebigodes commented on #18366
@PiccoloYu take a look at [this](https://www.gatsbyjs.org/docs/debugging-html-builds/), more specifically to [this section](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules). The documentation offers a couple of workarounds to help you get past the problem. But based on the information at hand it seems that the problem might be solved by [react-loadable](https://gith

[2019-10-10 04:47] jonniebigodes commented on #18429
@PiccoloYu can you create a reproduction of your issue, following [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) in order to fully understand what you intend to achieve and possibly offer a solution for your issue.

[2019-10-10 06:01] Madgeniusblink opened #18430 "Error: RelayParser: Encountered duplicate defintitions for one or more documents: each document must have a unique name. Duplicated documents:"
## Description

Describe the issue that you're seeing.

I am currently seeing the following issue:

warn Multiple node fields resolve to the same GraphQL field `ShopifyArticle.blog` - [`blog`, `blog___NODE`]. Gatsby
 will use `blog___NODE`.
success Add inferred types - 0.297 s
success Processing types - 0.175 s
success building schema - 0.595 s
success createPages - 0.077 s
success createPagesStat

[2019-10-10 06:13] Madgeniusblink commented on #17811
Hey guys,

I am having a similar issue:

 ERROR #85901  GRAPHQL

There was an error in your GraphQL query:

Error: RelayParser: Encountered duplicate defintitions for one or more documents: each document must have a unique name. Duplicated documents:
- allShopifyCollections

has anyone come up with a solution?

this happened very randomly.. I literally when to eat after taking a break.. and when I

[2019-10-10 06:15] leepowellcouk opened #18431 "Page query fails to work when using named export at the end of the page."
I have the following page template in Gatsby.
[code]

Which works as expected (taken from tutorial), however I tend to prefer to do all my exporting at the end of the page like so:

[code]
However this fails to work - props.data is undefined. It's a subtle difference but why would this cause the pageQuery to not execute?

[2019-10-10 06:18] universse commented on #18306
Gatsby plugins usually have a noop `index.js` file. I guess in your case you can export your assets from there.

[code]

The exporting of assets is manual but I guess you can write a script to automate it.

Then in your app code, import it like so

[code]

For reference, you can look at [gatsby-plugin-google-analytics](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-google-an

[2019-10-10 06:33] universse commented on #18404
First you need create the mdx nodes with `gatsby-plugin-mdx`.

[code]

Then you can use [useStaticQuery](https://www.gatsbyjs.org/docs/use-static-query/) to query for tracks in `Provider`.

[code]

[2019-10-10 06:36] #18429 closed

[2019-10-10 06:59] mendaomn commented on #18329
Hey, I opened a PR to address this issue (https://github.com/gatsbyjs/gatsby/pull/18432). Hope it helps!

[2019-10-10 06:59] rayriffy opened #18433 "[gatsby-source-filesystem] Deprecation warning"
## Description

I got the deprecation warning from this plugin for Node 12 environment

[code]

### Steps to reproduce

Just try to use `gatsby-source-contentful`

### Environment

[code]

[2019-10-10 07:16] Ovicakov commented on #16076
Thank you ! It works on FF Developer edition

[2019-10-10 07:32] #18306 closed

[2019-10-10 08:12] csywweb commented on #17947
i have a same question

[2019-10-10 08:21] davidbailey00 commented on #18078
Hey @janosh! I remember chatting with you at Gatsby Days 👋😄

So it looks like there are two issues happening here - one is the `<letter> is not a function` message, which could indeed be caused by something related to MDX, and the other is `ERR_FAILED` on refresh.

I'm not so sure about the former, but the latter of these issues is related to the offline plugin - however, I can only reproduce the

[2019-10-10 08:37] universse commented on #18306
You are welcome 🙂

[2019-10-10 08:45] universse commented on #18379
From my experience, you can just import node modules in your browser code like normal. There shouldn't be any issue. Are you facing any problem?

[code]

[code]

[2019-10-10 09:08] FissionCat commented on #18284
I'd like to help too! Currently looking at 'starters' through to 'styling' in the docs folder.

[2019-10-10 09:21] Haroenv opened #18437 "Can not fetch query from within plugin"
## Description

Data which can be fetched with the graphql playground or in a page, is seemingly not available for plugins.

The Algolia plugin uses this `query` argument:

https://github.com/algolia/gatsby-plugin-algolia/blob/cdb0c955230289d0dbfc630a57f71ef83fc026d3/gatsby-node.js#L13

(onPostBuild)

see the original issue here: https://github.com/algolia/gatsby-plugin-algolia/issues/39

### Step

[2019-10-10 09:30] LorenzHenk opened #18438 "[gatsby-transformer-remark] Interpret frontmatter description as markdown"
## Summary

I use `gatsby-transformer-remark` to transform my markdown posts to html.
In the frontmatter, there is a `description` field for the google search preview description.

I'd like to use markdown in this `description` field as well, but haven't found a way to do so.

## Relevant information

I'd like to have a `frontmatter` similar to this:

[code]

[2019-10-10 09:50] qramilq opened #18439 "Best way to change content inside components"
Hello.
I'm making landing page, with composes from different blocks-screens as simple components, for ex. `<Banner/>`.
The `<Banner />` contains some kind of picture as background-image, some text block with exclusive design and button to scroll to a specific block outside <Banner /> component.
I know that in the future I will have cases that will consist in displaying a different set of blocks an

[2019-10-10 10:17] janosh commented on #18078
@davidbailey00 Thanks for taking a look at this!

The site was actually locally built and then deployed via Netlify's CLI. On my machine, I had upgraded to `gatsby-plugin-offline@3.0.11` but not yet pushed that to GH. And it looks like since 3.0.11, [there have only been version bumps](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-offline/CHANGELOG.md) so far. So if you thi

[2019-10-10 10:34] davidbailey00 commented on #18078
Hmm, can you try clearing site data and see if the `ERR_FAILED` message still occurs? You can do this by opening dev tools -> Application -> Clear storage -> Clear site data (make sure you've only got one tab open with your site or it doesn't work properly).

[2019-10-10 10:39] janosh commented on #18078
I'd tried that as well. Sorry to say, the error persists.

[2019-10-10 10:53] janosh commented on #18078
With guest window I assume you mean incognito window? You're right, I'm not getting `ERR_FAILED` there!

Also, just to be clear, the error we're talking about is
[code]
at `www.google-analytics.com/analytics.js:1 `, right?

[2019-10-10 11:32] sidharthachatterjee opened #18443 "Document link correctness priority in Docs Contributions"
We've seen a couple of PRs (https://github.com/gatsbyjs/gatsby/pull/18396) that intend to fix links in Markdown to other pages in documentation. These PRs fix links for GitHub (but break gatsbyjs.org as a result)

While having links work on both is a nice to have, the priority is to have all links working on gatsbyjs.org

We should document this in https://www.gatsbyjs.org/contributing/docs-contri

[2019-10-10 11:38] #18376 closed

[2019-10-10 12:41] davidbailey00 commented on #18078
There's also a guest profile:

![image](https://user-images.githubusercontent.com/4248177/66569387-5f058e00-eb63-11e9-847c-5252631f9a7a.png)

Both have the effect of disabling extensions - the guest profile is just a bit more reliable since you can also choose to enable certain extensions in incognito, whereas they won't carry over to a different profile.

I was thinking the error in your initial

[2019-10-10 12:51] janosh commented on #18078
Ah, sorry for my confusion. The odd thing is, I can't reproduce that exact behavior anymore. Maybe that was before clearing site data, can't quite remember.

What's still causing trouble at this point is rapidly clicking links eventually results in a blank page which is definitely caused by `TypeError: <letter> is not a function`. But if I refresh now, I get a functioning page again, no "This site

[2019-10-10 13:00] simhol commented on #18443
I'd like to do that, alright?

[2019-10-10 13:12] dwb commented on #13975
This is fixed (for me, at least) in https://github.com/reach/router/commit/4b1d8f28b245ba726c95edde98c97b4db74a205d which is currently released in `1.3.0-beta.0`. I added this to my `package.json` (only works with [`yarn`](https://yarnpkg.com/lang/en/) I think):
[code]

[2019-10-10 13:14] thecodingaviator commented on #18443
@simhol I think 2 other contributors have already made PRs for the purpose if they close, you can go ahead. In the meantime, you might want to look for another issue!

[2019-10-10 13:21] ascorbic opened #18449 "Suggestion: Mocking static queries outside of Jest"
I've been thinking a bit about isolating components that use static queries. My particular use case here is Storybooks, but I expect there are other situations where it would be useful to display a component with mock data, such as other component libraries. We've documented how to do this inside tests, by mocking `graphql` and `useStaticQuery` or `StaticQuery`. However outside of a test environme

[2019-10-10 13:33] ppiyush13 commented on #18344
@dhhdev, the link which i quoted is for `gap` property which is applicable to grid, flex and multi-column layouts.
Here is the formal specification explaining same : https://www.w3.org/TR/css-align-3/#gaps

Go on this page: https://developer.mozilla.org/en-US/docs/Web/CSS/gap
Look into examples section. Very first example is for gap with flex layout.
If opened in chrome you wont notice any gap. Op

[2019-10-10 13:40] davidbailey00 commented on #18078
Okay, so the good news is that there is no longer an issue related to the offline plugin, so we've isolated it a big :D

Bad news is I'm not so sure what's causing the undefined issue just yet

[2019-10-10 13:47] SarahLKatz commented on #18284
I'll take the files in the 'docs/docs' folder that start with C, if nobody else has started on those (if someone has, let me know and I'll take a different letter). It will probably be a few PRs since there are ~20 files, so I'm happy to split if anyone else is attached to the letter C.

[2019-10-10 14:24] #17782 closed

[2019-10-10 14:28] raphadeluca opened #18451 "Shadowing a component with a query throws an error"
## Description
Shadowing `gatsby-theme-blog/src/components/bio.js` throws a GraphQl error:
[code]

### Steps to reproduce

[code]
Shadow  `gatsby-theme-blog/src/components/bio.js` to change some css in the <Image> component.
You'll get the error above, indicating duplicated documents: the BioQuery (theme file + shadowed file).
Changing the query's name to another resolve the error:
[code]

### Exp

[2019-10-10 14:47] visualfanatic commented on #16762
@kimbaudi How about giving an option to provide keys the same `media` property is provided?
[code]

[2019-10-10 15:03] alampros opened #18456 "[gatsby-plugin-fullstory]: Update fullstory snippet"
## Description

The snippet in the fullstory plugin does not contain the new `g.event` method for recording [custom events](https://help.fullstory.com/hc/en-us/articles/360020623274-FS-event-API-Sending-custom-event-data-into-FullStory).

### Steps to reproduce

1. Install the plugin
1. Call `FS.event()` anywhere in your app

### Expected result

Fullstory records a custom event.

### Actual resul

[2019-10-10 15:11] f0ffee opened #18457 "New Translation Request - Italian"
[code]

[2019-10-10 15:11] zwl1619 opened #18458 "Can I download sharp-libvips manually? `npm install` is very slow"
Can I download sharp-libvips manually? `npm install` is very slow:

![image](https://user-images.githubusercontent.com/13177997/66581379-92bbd480-ebb2-11e9-8945-97a228ff7041.png)

The last `downloading` command has taken 30 minutes.

[2019-10-10 15:18] nd0ut opened #18459 "[gatsby-plugin-mdx] Plugin options are exposed to the browser bundle"
## Description

Plugin options are used only on the build step and not necessary for the browser code. Also it can contain sensitive data like absolute paths, or just large amount of data like md aliases.

### Steps to reproduce

[code]

This is chunk of gatsby config from the real app.

`require('./refs.js')` is an object like `{foo: 'bar'}` with about 50kb of aliases used in markdown. It's not u

[2019-10-10 15:35] cendekia opened #18460 "New Translation Request - Indonesia"
[code]

[2019-10-10 15:42] cendekia commented on #18460
- **your experience level in open source**: I contribute to open source, especially in the hacktoberfest event (finished hacktoberfest 2019 and also got the swags from hacktoberfest 2018 )

- **your level of experience in the target language and localization**: Indonesia or we called _Bahasa Indonesia_ is my native language. I'm also contributed at (DiscoverMeteor)[https://github.com/DiscoverMeteo

[2019-10-10 16:01] lowtolerance commented on #11688
This started happening to me, seemingly out of nowhere. Exiting out of command line and reentering seemed to do the trick

[2019-10-10 16:15] n0k5 commented on #18091
Same ^ extremely annoying as it crashes every time I edit the html.js file

[2019-10-10 16:19] amolmt opened #18463 "[ feature request ] Filter in showcase"
## Summary

Currunt filters in gatsby showcase page are great which lets you filter between categories such as data, design, finance etc. But the user doen't know which are new and which are old. I am taking about a filter where user can access showcase by:
**Recently Added**
**Site of the day**
**Site of the week**
**Site of the Month**
**Site of the Year**

### Basic example

The best example fo

[2019-10-10 17:27] #17478 closed

[2019-10-10 17:42] marcysutton commented on #17346
This should be handled with #17730, so I'm going to close it!

[2019-10-10 17:42] #17346 closed

[2019-10-10 18:03] SamIngram96 opened #18467 "e2e tests failing on forked repo"
### Description

e2e tests are failing on a freshly forked gatsby repo.
after following all the instructions on [here](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/) and running
[code]
my gatsby-preview/base-functionality.js test is failing because it says npm doesn't exist.
I have no idea what could be causing this issue and have been trying to debug it for some tim

[2019-10-10 18:11] KiranAkadas commented on #18284
I'll take the files starting with 'how', hoping no one has started working on it..

[2019-10-10 18:32] gillkyle opened #18468 "[docs] add onClick prop to gatsby-image API doc"
## Description

Support was just added for an `onClick` handler in `gatsby-image` with this PR: #18465 it was documented in the `gatsby-image` plugin but we have the props you can pass in the [Gatsby Image API](https://www.gatsbyjs.org/docs/gatsby-image/#gatsby-image-props) doc as well.

## What to do

Add a similar note to the Gatsby Image API doc that was [added in the PR](https://github.com/gat

[2019-10-10 18:42] Slide109 commented on #18468
Would love to help with this one

[2019-10-10 20:11] gillkyle commented on #18468
Go for it @Slide109!

[2019-10-10 20:17] MaralS commented on #15662
Hello, sorry I'm responding so late. I think I know why I don't work. I have a custom domain but the link are generated from GHOST API (mydomain.ghost.io/ instead of mydomain.com/) that's why pinterest does not want to add automatically the rss feed. I don't know If I can change this. It would be great to change the links

Thanks in advance,
Maral

[2019-10-10 20:39] julessaysrawr commented on #9712
I also has this issue, but I resolved it by changing the nested content model in contentful.  I was trying to figure out how to to a 'join' and my mistake was referencing a model like a foreign key while in a nested section of that model

simplified example:

employer
|
- people
     - name
     - { ... other details }
     - employer ❌ this is what broke it for me

by removing that reference, it

[2019-10-10 20:54] arnaud-deprez opened #18474 "[gatsby-plugin-mdx] TypeError: Cannot read property 'name' of undefined"
Hi,

Thank you a lot for this great project, keep up the good work !
I've met a bug and didn't find any issue related to it yet (I saw some similar issue with `gatsby-source-wordpress` but it does not look to be linked to this)

## Description

GIVEN:
- a gatsby project using `typescript` and `gatsby-plugin-mdx`
- a `MDXRenderer` component used with some props like
[code]
- and the props is used i

[2019-10-10 20:58] atuttle commented on #18443
Ha, talk about timing. 1 minute apart. :)

[2019-10-10 21:02] marcysutton commented on #18468
One issue I can see is that image clicks don't provide accessible interactions. We should add a note about providing another UI affordance to complete the same task the click would provide (like a button or link that performs the same action or navigation) https://uxplanet.org/ux-design-glossary-how-to-use-affordances-in-user-interfaces-393c8e9686e4

[2019-10-10 21:53] julianguyen commented on #17851
Any updates on this? :)

[2019-10-10 23:22] AkSachin opened #18481 "Blank page instead of 404 page"
Visiting https://www.gatsbyjs.org/errorpage gives a proper error page but https://www.gatsbyjs.org/error%20page gives a blank page.

[2019-10-11 00:36] ascabknight opened #18483 "[gatsby-source-contentful] downloadLocal not working"
## Description

In our company, we have built a web site using Gatsby and Contentful. Our CI has been experiencing perfromance issues with the build time. Running a build in Production is taking around 1.5 - 2 hours to complete (yes, it's a large website). Debugging the build process, I noticed that the Contentful assets were being downloaded despite the _downloadLocal_ option was being set as "fa

[2019-10-11 00:41] marcysutton commented on #18291
Closed with #18482. thanks again!

[2019-10-11 00:41] #18291 closed

[2019-10-11 00:47] coroo commented on #18460
- your experience level in open source: I also contribute and want to contribute more and more for open source
- your level of experience in the target language and localization: Indonesia or we called Bahasa Indonesia is also my native language.

[2019-10-11 01:14] aditsachde opened #18484 "[docs] new doc on building sites with async data"
## Summary

When building sites which fetch lots of data from APIs, it is often useful to defer these requests to when the data is shown on screen or once the bulk of the site has loaded, including the UI. There are couple possible points to mention, such as [service workers](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/add-a-service-worker.md) which allow code on other threads, not bl

[2019-10-11 01:58] xiyizhou opened #18486 "New Translation Request - Simplified Chinese"
[code]

[2019-10-11 02:36] xiyizhou commented on #18486
- **your experience level in open source:** I'm a freshman but I'm already gaining experience.
- **your level of experience in the target language and localization:**  I'm living in China，Chinese is my native language. English is our second language, more than then years have passed since I began to learn English.  Two-year part-time translation on  tech news, Specialized in English-Chinese and Ch

[2019-10-11 02:42] dosden commented on #18284
I would love to work on this can I take docs/docs/ files starting with A

[2019-10-11 02:50] Boty22 commented on #17131
@Js-Brecht I'm using ubutu 18.04 and I'm running into the same problem occasionally. Is there any suggestion for my OS? Would you provide some detail about the possible causes for this problem?

[2019-10-11 02:52] ehowey commented on #17131
This has been solved thanks to the diligent work of @Js-Brecht and @RomanHotsiy. It was an upstream issue in fsevents, way beyond what I could have figured out on my own, and should be fixed in future updates once these changes are implemented and migrate down from fsevents into gatsby itself.  For now a reliable workaround is to resize the terminal window, there is a way to fix this in your repo

[2019-10-11 03:02] dosden commented on #18284
#18488

[2019-10-11 03:16] Js-Brecht commented on #17131
@Boty22 Ubuntu doesn't use `fsevents`, so it's probably something different.  Some issues have been encountered when retrieving data from a remote location; check out #6654 and #17940 for some details on fixing concurrency issues.

Quick question: does resizing your terminal help?  If so, then it could be _something_ similar to this issue.

[2019-10-11 03:23] Boty22 commented on #17131
@Js-Brecht resizing the terminal does not help for Ubuntu. I'm retrieving data from an AirTable table using the plugin gatsby-source-airtable BTW

[2019-10-11 03:42] Js-Brecht commented on #17131
That could be the problem.  Check out [this comment](https://github.com/gatsbyjs/gatsby/issues/17131#issuecomment-538034915).  If that doesn't work, might be better to open a new ticket

[2019-10-11 03:53] Js-Brecht commented on #17131
@steinitz sorry, I missed your comment.  Can you try the fix described in #17938?  More specifically, [here](https://github.com/gatsbyjs/gatsby/pull/17938#issuecomment-540661991) and [here](https://github.com/gatsbyjs/gatsby/pull/17938#issuecomment-540879767). If it doesn't work, then there's probably more going on in your case.

[2019-10-11 04:36] #17079 closed

[2019-10-11 04:48] Blumed commented on #16195
@devrchancay Isn't this the issue? https://www.gatsbyjs.org/packages/gatsby-source-wordpress/?=wordpress#graphql-error---unknown-field-on-acf

[2019-10-11 05:12] KillMonger1 commented on #18284
I will take up files starting with 'h'. Let me know if anyone is working on it too

[2019-10-11 05:22] imlastrebor commented on #18246
Still need help for this. Can't get image working.

[2019-10-11 05:41] robmoggach opened #18489 "Build Challenges - Generating SSR bundle failed - File: .cache\static-entry.js"
## Summary

## Relevant information

Site is working well in `develop` mode - trying to build locally using `yarn build` or as a job on gitlab CI fails with the following error:

[code]

### Environment

[code]
### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-11 06:31] kimdhoe opened #18492 "New Translation Request - Korean"
[code]

[2019-10-11 06:32] kimdhoe commented on #18492
- **your experience level in open source**: Not much, but I have an experience in translating open source project([Sass Guidelines](https://github.com/HugoGiraudel/sass-guidelines/issues/96)). Other than that and a couple of my npm packages, I’ve participated in open source via small corrections or issues.
- **your level of experience in the target language and localization**: I am a native Korean

[2019-10-11 07:33] joranquinten opened #18493 "New Translation Request - Dutch"
[code]

[2019-10-11 07:37] joranquinten commented on #18493
- **Your experience level in open source**: Contributed multiple translations from English to Dutch or vice versa.
- **Level of experience in target language and localization**: High, as I'm a Dutch inhabitant. Codewise, I've been working with in multilingual (defaults to using the English language) scrum/development teams for a couple of years now, and coaching in Dutch/English.

[2019-10-11 08:10] KyleAMathews opened #18495 "Mention on css-in-js docs page that a plugin to extract styles is necessary to prevent flash of unstyled content"
https://www.gatsbyjs.org/docs/css-in-js/

It should mention that every css-in-js lib has a Gatsby plugin which extracts styles and inserts them into the HTML during builds which prevents FOUC.

It's very common for people to start building with Gatsby & a css-in-js lib and discover later that styles aren't applied until JS loads so we should document why this happens everywhere.

[2019-10-11 08:16] prewk commented on #6362
FWIW: I encountered this and had `export const wrapRootElement` correctly in `gatsby-browser.js`, but hadn't understood that I needed to add it to `gatsby-ssr.js` as well.

Adding the `wrapRootElement` stuff to `gatsby-ssr.js` solved my prod build problem.

[2019-10-11 09:14] ehannes opened #18497 "Broken icon links in Manifest file when using assetPrefix"
## Description
It seems that `gatsby-plugin-manifest` does not care about `assetPrefix`.

### Steps to reproduce
1. Create a new Gatsby project
2. Add an `assetPrefix`
3. Run `gatsby build --prefix-paths` and compare the icon links in `public/index.html` with the ones in `manifest.webmanifest`. Those in `index.html` are prefixed, while the ones in the manifest are not.

Se this repo: https://githu

[2019-10-11 09:19] ehannes commented on #18497
I guess it's [gatsby-plugin-manifest/src/common.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-manifest/src/common.js) that should take `assetPrefix` into consideration.

[2019-10-11 09:20] maffsojah commented on #18495
Hi, I'd love to work on this

[2019-10-11 09:47] nihakue commented on #15080
I believe you are confusing 'no-cache' and 'no-store' directives. AFAICT 'no-cache' and 'max-age=0, must-revalidate' behave the exact same way apart from the fact that with 'no-cache', if the origin fails to revalidate then the cache can still respond with the cached content, wheras with must-revalidate it is meant to return a 504 error. See [this Stack Overflow question](https://stackoverflow.com

[2019-10-11 09:49] rubengmurray commented on #17131
Haven't had any issues with `CHOKIDAR_USEPOLLING=1 gatsby develop` since mentioned.

Thanks for the workaround @Js-Brecht

[2019-10-11 09:52] mujeex commented on #18241
Never mind, I found the answer to the problem. I just happened to miss passing all the required props to the **layout** in all the pages that it was used. Sorry for adding to your stack of issues😇

[2019-10-11 09:52] #18241 closed

[2019-10-11 10:13] stefanprobst commented on #16529
I don't think this has been clarified.

[2019-10-11 10:14] davidbailey00 opened #18498 "[gatsby-plugin-offline] Expose public API for to add/remove items to/from the cache"
## Summary

Expose a public API to allow adding items to, or removing items from, the service worker cache, while using `gatsby-plugin-offline`.

### Basic example

Something like this:

[code]

### Motivation

Allow for more control over the service worker without users having to know the low-level implementation details

[2019-10-11 10:21] davidbailey00 opened #18499 "[gatsby-plugin-offline] Doesn't cache images on initial page load"
## Description

gatsby-plugin-offline doesn't cache a page's images on initial load.

### Steps to reproduce

1. Create a site with gatsby-plugin-offline
2. Add some images to the homepage.
3. Build and visit the site.
4. Go offline.
5. Reload the page.

### Expected result

Images should be visible

### Actual result

Images are not visible or when using gatsby-image, the blur-up placeholder imag

[2019-10-11 10:43] canvaspixels commented on #17131
I'm seeing this too with 2.15.28 when I do gatsby build. Do i need to stop the gatsby develop in the other terminal? It's intermittently happening

[2019-10-11 11:06] canvaspixels commented on #17131
Happened again without the dev server running. I've got a simple blog from following the blog tutorial though.

[2019-10-11 11:14] bersot1 opened #18503 "embed in markdown"
## Summary

I need to put a iframe embed in my blog. I saw that there are some plugins, but I couldnt put it to work...

using this plugin for exemplo: gatsby-remark-embed-markdown

gatsby-config.js
![gatsby config](https://user-images.githubusercontent.com/51892738/66647434-4e0a5a80-ebff-11e9-87a2-96a460556c37.png)

my struct
![struct](https://user-images.githubusercontent.com/51892738/66647358-1

[2019-10-11 11:17] sidharthachatterjee commented on #17210
I understand the motivation here but I'm not sure if returning back placeholder text like you've described is a good idea.

This could be something a user could very easily miss during development. What do you think?

However, I do think that we could display a more descriptive error in the console.

[2019-10-11 11:22] sidharthachatterjee commented on #17766
@kcurtet is working on this!

[2019-10-11 11:35] canvaspixels commented on #17131
It seems to be almost every other run. I'm on a Mac btw

[2019-10-11 12:01] RomanHotsiy commented on #17131
@canvaspixels does resizing the terminal window unstuck your progress? If so, please try this and let us know if that helped https://github.com/gatsbyjs/gatsby/pull/17938#issuecomment-540661991

[2019-10-11 12:11] bersot1 commented on #17852
Hello @RobinJayaswal i have issue almost equal yours... Maybe you can help me...

You can pass me how you put embeded in your md in file?

I'm trying using this same plugin gatsby-remark-embed-markdown but it is not working... you can see more information in my issue: #18503

please, thks

[2019-10-11 12:43] luisFilipePT opened #18507 "Link in recipes page pointing to invalid page (404 NOT FOUND)"
## Description
In the page https://www.gatsbyjs.org/docs/recipes/ the link under the `Choose your Team.` text is broken it points to https://www.gatsbyjs.org/docs/teams/ that returns a 404 response
Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ e

[2019-10-11 12:50] luisFilipePT commented on #18507
So since I had this in hands sumited a `PR` ☝️ with a possible fix if you have a better way or others suggestion pleas add it in the `PR` review 🙏

🎉 keep up the good work 💪

[2019-10-11 13:10] Prabuela opened #18510 "gatsby with contenta cms"
success open and validate gatsby-configs - 0.060 s
success load plugins - 0.915 s
success onPreInit - 0.029 s
success initialize cache - 0.037 s
success copy gatsby files - 0.200 s
success onPreBootstrap - 0.037 s
Starting to fetch data from Drupal
articles fetched 9
fetch Drupal data: 105.431ms
success source and transform nodes - 0.379 s
success Add explicit types - 0.034 s

 ERROR

UNHANDLED RE

[2019-10-11 13:17] jratoxgeeks opened #18511 "Broken link in gatsbydocs (https://www.gatsbyjs.org/tutorial/part-eight/)"
## Description

On page https://www.gatsbyjs.org/tutorial/part-eight/ in the link `Adding an SEO Component` is broken leading the user to a 404 page.

### Steps to reproduce

1 Go to https://www.gatsbyjs.org/tutorial/part-eight/, go to `Add page metadata` section
2 Click on `Adding an SEO Component`
3 User is redirected to a page not found

### Expected result

- User goes to a page about Adding S

[2019-10-11 13:17] jratoxgeeks commented on #18511
I will open a PR to fix this issue

[2019-10-11 13:34] selrond commented on #1994
@KyleAMathews Why is that? Does it make sense to import static files after css-in-js? I would like to know the reasoning behind this

[2019-10-11 13:35] sidharthachatterjee opened #18514 "NO_COLOR does not work with Ink"
Ink uses chalk internally which does a bunch of magic to figure out whether to render colours or not.

In /packages/gatsby-cli/src/reporter/index.js we try to set `FORCE_COLOR` to 0 but that is too late because chalk has already initialised and set colours to true.

[2019-10-11 13:54] henrikmmm1 commented on #18246
Having the same issue.

Do the images load if you're using DevTools and viewing the site as a device?

[2019-10-11 13:55] sidharthachatterjee commented on #18514
Probably also want to set `hideColors` correctly in /packages/gatsby-cli/src/reporter/loggers/ink/cli.js

[2019-10-11 14:04] isoftninja opened #18516 "[gatsby-transformer-remark] get nodes in custom plugin"
There are many nodes with HeadingMetadata type, each of which is for a specific file .md.
File .md is transformed into gatsby-remark-custom-plugin and it is in it that access to data from HeadingMetadata is required. How to do it? the getNodesByType function is not there...

[2019-10-11 14:28] henrikmmm1 commented on #18246
I've fixed it on my end! Here's the GraphQL query:
[code]

I haven't done anything with ACF images before, so can't really help you too much on that one.

[2019-10-11 14:39] sidharthachatterjee opened #18518 "Fix preview workflow structured logging integration tests"
These are currently very flaky (especially in CI) and don't add much value. We definitely want to fix these though. I'll add more details and thoughts to this later!

Cc @pieh

[2019-10-11 14:48] cloverich commented on #15181
(Mostly unrelated to OP, but in case any other lost souls find this in Google)

I had this issue recently, because I"d **inadvertently included `gastby-plugin-remark`** twice. Silly mistake, but I was at a complete loss for how to debug. I guess the second plugin was overwriting GraphQL properties from the former node or... honestly I don't even know. Minimal reproduction notwithstanding, is there

[2019-10-11 15:41] nik72619c commented on #15233
Shall I work on this if the PR has not been made yet ?

[2019-10-11 15:42] lannonbr commented on #15233
@nik72619c it looks like @Carike will be working on this so just because there isn't a PR up yet doesn't mean they aren't working on it.

[2019-10-11 15:43] kostyabushuev opened #18520 "Bug with merge css styles"
Hello.
I code two ```padding``` styles. And one of it is wrong. But it is not break my padding from left and right in development mode.
![bug-1](https://user-images.githubusercontent.com/31274471/66664855-cb1cea80-ec66-11e9-8679-64173e1b5b6e.png)

Then i skip this issue and build my sources and see this. My padding merge in one and i don't have padding from left and right, because selector is brok

[2019-10-11 15:45] lannonbr commented on #18443
So I'd say since @JoaoJesus94's PR is merged, I'd say this is done. Any opinions @sidharthachatterjee @marcysutton?

[2019-10-11 15:49] nik72619c commented on #15233
no issues ! I dont wish to step up before @Carike either.

[2019-10-11 15:55] johno opened #18521 "[gatsby-theme-blog-core]: Add configuration option for post index path"
## Summary

Right now the blog-core theme only allows for a `basePath` to be set. This can be limiting if you want top level post urls (like `/my-post-slug`) and your post index path to be something different like `/writing`.

As it currently stands, setting `basePath` to `/writing` results in posts being placed prefixed with the path (understandably) and we result in `/writing/my-post-slug`.

###

[2019-10-11 16:08] #15924 closed

[2019-10-11 16:22] johno commented on #18521
Looks like I was mistaken and [we are allowing absolute paths for posts](https://github.com/gatsbyjs/gatsby/blob/db43ed9b75cbcfe1c7b171460121655867ab4515/themes/gatsby-theme-blog-core/gatsby-node.js#L115-L117) so going to go ahead and close this!

[2019-10-11 16:22] #18521 closed

[2019-10-11 16:36] kcurtet commented on #17766
Gatsby CLI version: 2.7.58
package.json from gatsby-cli source code
[code]
HI, I have some issues for recreating the error with the source code.

First i change my `~/.gitconfig` to look like this:
[code]
Then I try the command with the official gatsby package.
[code]
The error appears.
![gatsby git error](https://i.imgur.com/okhwYjE.png)

Next I build the source code from `gatsbyjs/gatsby/package

[2019-10-11 17:06] robmoggach commented on #18489
This was an obscure error related to misconfiguration of the `gatsby-plugin-module-resolver` convenience helper plugin.

Here's details of the problem and fix:

https://github.com/abdullahceylan/gatsby-plugin-module-resolver/issues/1

[2019-10-11 17:06] #18489 closed

[2019-10-11 17:27] #17171 closed

[2019-10-11 17:27] #17480 closed

[2019-10-11 17:27] #17512 closed

[2019-10-11 17:27] #17475 closed

[2019-10-11 17:42] vai0 commented on #15126
Can we label as not not stale?

[2019-10-11 17:57] ehowey opened #18525 "[gatsby-theme-blog-core] Would it be useful to have support for a featured image in the frontmatter?"
## Summary

I have a use case for having a featured image supported in the front matter for a blog. My preference would be for this support to come directly from the core theme. I imagine this would also be a frequent use case for others as well.  I would be happy to take a go at building this functionality into `gatsby-theme-blog-core` but don't want to start on this project unless others also fe

[2019-10-11 18:03] frederikhors commented on #11672
Gatsbot, please.

[2019-10-11 18:04] jaredsilver commented on #15080
@nihakue You could very well be right! I am not an expert on caching by any means. Are you certain that `no-cache` also allows for caching by intermediary caches? Would you be open to taking a look at the Caching part of the docs and updating anything that seems incorrect? https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/caching.md

[2019-10-11 18:14] sheedy opened #18526 "Markdown local variables from frontmatter without using layout or template"
## Summary

The ability to reference the frontmatter of a markdown file in the content - **without the need for the added complexity of things like MDX or Gatsby Templates and Layouts**.

I've searched high and low for what is the most basic (fundamental?) feature of almost every static site generator that came before Gatsby and can't seem to find anything.

### Basic example

`example.md`

[code]

[2019-10-11 18:38] viktor-wolf opened #18528 "The first gatsby-image in a Swiper slideshow is always blurred after first loop"
## Description

I have a [Swiper](https://swiperjs.com/) slideshow filled with gatsby-images on a website. On the initial load, the first image is blurred for a short while and then gets cleared up when it's fully loaded. The slideshow proceeds normally through the rest of the slides and then loops back to the first one, which will display the blurred version of its image, only flashing the correc

[2019-10-11 18:55] TylerBarnes commented on #18528
Hi @viktor-wolf!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2019-10-11 20:07] ndotmdot opened #18530 "Missing images in build"
## Description

Not all images are being fetched from wordpress during gatsby build. Gatsby develop works fine and fetches all.

### Steps to reproduce
Live site
- [Example missing image in the third row on the left](https://5d9f386a8b1301eededd28d6--eham-live.netlify.com/projekte/)

Backend
- Wordpress 5.2.3 hosted on bluehost.com
- Content is structured with Advanced Custom Fields, flexible cont

[2019-10-11 20:23] pieh commented on #18449
Before diving into implementation details like that, let's see what are requirements for this mocking system.

I think there is at least few:
 - There could be potentially multiple queries we would need to mock to display component - we do need a way to identify individual queries and way to supply mocks for each of them. I think query name is good candidate to use as query identifier
 - We should

[2019-10-11 20:24] bitttttten opened #18531 "[gatsby-plugin-offline] TypeError: messageApi[gatsbyApi] is not a function"
### Description

In my browser Firefox, page navigations are issued and then the website immediately refreshes which breaks the "single page application". I am not sure if this is related, so I came here to report this issue.

So after a page navigation, I see an error in the console from the service worker and then the page refreshes.

Which leads here:

[code]

### Steps to reproduce

Use my con

[2019-10-11 20:54] 8ctopotamus commented on #11688
This is still happening using gitbash in VScode terminal.

[2019-10-11 21:35] bsonntag commented on #18220
Could it leave to the user to set an `id` (like when creating a node)? When it's not present, it could still fallback to the `fromPath` as an identifier.

[2019-10-11 21:38] billy-le commented on #18498
I would like to give this a go

[2019-10-11 21:59] rgroves commented on #17979
As reported in the previous PR I tried walking through tutorial part four again, and I can no longer reproduce the issue.

There are various differences between the package.json and lock file from the starter repo used in this tutorial (gatsby-starter-hello-world) as they exist freshly cloned today versus the one cloned back on 9/28. If I go back and use the package.json and package-lock.json file

[2019-10-11 21:59] #17979 closed

[2019-10-11 22:16] marcysutton commented on #18443
Yep! I can close it. Thanks all!

[2019-10-11 22:16] #18443 closed

[2019-10-11 22:28] viktor-wolf commented on #18528
@TylerBarnes Hi! I have added a [minimal reproduction](https://github.com/viktor-wolf/gatsby-image-swiper-bug) to my original comment.

[2019-10-11 22:50] marcysutton commented on #18468
In talking internally, we're actually going to roll this feature back as it wasn't thought through in terms of accessibility. Even with notes about affordances in the docs, encouraging clicking on images has the very real potential to produce inaccessible websites; something that conflicts with our [commitment to accessibility](https://www.gatsbyjs.org/blog/2019-04-18-gatsby-commitment-to-accessib

[2019-10-11 22:50] #18468 closed

[2019-10-12 00:09] rchrdnsh opened #18536 "How do I create and query collections of mdx content?"
I have `content` in a folder structure like so:

[code]

...where the articles and music folders are two different content categories, or collections, but both are using mdx as their main file type and delivery mechanism.

So, I did this in the `gatsby-config` file:

[code]

...to give each collection a name.

But now I am unsure as to how to proceed in generating nodes, pages, and querying them a

[2019-10-12 00:29] kaylasween commented on #18284
I didn't see anyone mention it, so I'll start on `write-pages`!

[2019-10-12 00:35] adibfirman commented on #18284
sorry? is already taken by @aitchiss isn't it?

[2019-10-12 00:40] prevolorio commented on #11934
I had to recompile after but it worked!

[2019-10-12 00:42] moonmeister commented on #12506
@lekoarts is there a reason not stale got removed?

[2019-10-12 00:47] Zyclotrop-j commented on #12238
Issue still exists

[2019-10-12 00:50] kaylasween commented on #18284
Good catch! I've finished it, but won't open a pull request in case @aitchiss is still working on it.

[2019-10-12 02:50] universse commented on #17960
Fixed in 2.15.36.

[2019-10-12 02:50] #17960 closed

[2019-10-12 02:52] universse commented on #17821
@smashercosmo can you check if it's still a problem in v2.15.36?

[2019-10-12 02:56] virginiarcruz opened #18544 "New Translation Request - Portuguese"
[code]

[2019-10-12 03:14] jonniebigodes commented on #18544
@virginiarcruz i see that you hail from brazil...there's already a issue requesting a portuguese brazilian created in #18178. If you don't mind reply there and coordinate your efforts with the maintainers involved. And if possible close this issue as it's a duplicate

[2019-10-12 03:23] alexlee-dev commented on #15153
Same. .webp images are failing silently.

[2019-10-12 03:42] kimberrypi commented on #18439
I may not have the best way but I usually create components thinking about the moving parts of the component. Whenever I think that a part of the component will be heavily customized in the future, I'd rather add it as children.

So in your case, maybe I'll make a Banner component like this:

[code]

and then I'll use the `Banner` component like this.
[code]

If you think that the button will alwa

[2019-10-12 04:11] adibfirman commented on #9503
this issue im have been solved by just update these latest `gatsby-plugin-manifest` and remove `.cache` and `node_modules`

[2019-10-12 06:51] roseline124 commented on #15891
I'll work on it :)

[2019-10-12 07:50] pjg commented on #9310
On my end, I'm getting this error when GA (UA) is being included on subsequent navigation events via GTM pageview trigger. You can verify yourself how many GTM instances are being created by executing: `ga.getAll()`. It should return only one.

[2019-10-12 08:09] vermario commented on #10020
I have noticed this plugin:  `gatsby-source-drupal-multilanguage` https://www.gatsbyjs.org/packages/gatsby-source-drupal-multilanguage/?=gatsby-source-drupal-multilanguage but it looks like maybe it's just a placeholder?

[2019-10-12 08:51] #17606 closed

[2019-10-12 08:55] eugeneoei commented on #13867
hello @universse

my css is breaking but i am not using any forms of plugins besides `gatsby-source-contentful` and
`gatsby-source-wordpress`. any suggestions how this can be fixed? been stuck at it for hours.

the following is in my `package.json`

[code]

[2019-10-12 09:01] aitchiss commented on #18284
Hey @kaylasween my changes were merged in #18331. So if your branch is up to date any you found some issues I've missed, you're good to go 🙂

[2019-10-12 09:08] ndotmdot commented on #18530
I think this might be related https://github.com/gatsbyjs/gatsby/issues/6654

[2019-10-12 09:10] gengengengengen opened #18547 "Class name of css-in-js overwritten after run build & serve"
## Summary

Please forgive my pool English.

I am using the injectSheet HOC of 'react-jss' to styling my components.

When I run server in development mode, everything look good and class names between jss and elements are matched:
![image](https://user-images.githubusercontent.com/12140810/66698929-f6f6a980-ed14-11e9-827f-5d50b3abf234.png)
![image](https://user-images.githubusercontent.com/121408

[2019-10-12 09:18] antoinerousseau commented on #11934
@prevolorio did you read this thread?...

[2019-10-12 09:46] universse commented on #13867
@eugeneoei Can you please provide more details, like your gatsby-config, gatsby-browser etc...? Or you can share your repo for e.g. your codesandbox?

Also, do you mind opening a new issue so that we won't notify others?

[2019-10-12 10:16] imlastrebor commented on #18246
Yes images load if I do that. I try later your fix and tell what will happen.

[2019-10-12 10:37] PiccoloYu commented on #18366
Thank you very much. I solved the problem using [react-loadable] (https://github.com/jamiebuilds/react-loadable)
@jonniebigodes

[2019-10-12 10:37] #18366 closed

[2019-10-12 10:40] universse commented on #18536
Can you try this?

[code]

I believed I answered your other issue as well.

[2019-10-12 10:51] #18404 closed

[2019-10-12 10:53] Kadrian commented on #18267
When are open issues answered / not answered? @KyleAMathews Anything that can be improved here?

[2019-10-12 13:40] canvaspixels opened #18549 "JS blocking the rendering TTFP"
##  Summary

I'm testing my new gatsby blog https://courgette-testing.com/blog/the-sdet-qa-handbag-manbag/ and it looks like all the JS is blocking the Time To First Paint even though the blog works without JS. Is there a plugin or something I need to use? I've been digging around for a while. See the waterfall from https://www.webpagetest.org/result/191012_YX_3678b3a8989e95fcf1e9ae592a4e119c/1/de

[2019-10-12 14:34] mrkutly opened #18550 "[docs][contributing] Add step to check node version in dev environment set up"
## Summary

When following the dev environment setup instructions here: https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/

It would be helpful to have a note about checking your node version along with checking your yarn version. When running `yarn run bootstrap` on a node version older than 10.16, there is console output letting you know to update node, but it is very h

[2019-10-12 15:18] thecodingaviator commented on #18495
@maffsojah feel free to take it

[2019-10-12 15:18] thecodingaviator commented on #18495
Feel free to take it up @maffsojah

[2019-10-12 15:44] maciekgrzybek commented on #18137
Hey, I'm happy to help with this one. Polish is my native language, but I live in UK for almost 4 years.

[2019-10-12 16:22] #18379 closed

[2019-10-12 17:07] KyleAMathews commented on #18549
What are you seeing? All the purple stuff at the bottom is DOM work which happens before the yellow js execution.

[2019-10-12 17:23] BlackLanzer commented on #18457
* **your experience level in open source**: I've contributed a little to open source in the past.
* **your level of experience in the target language and localization**: Italian is my native language. I have little experience in localization, but I want to take this opportunity to improve my skills.

[2019-10-12 17:34] mariusgessler opened #18552 "< styled component > property disappearing after gatsby serve"
## Summary
Hello everyone,
I'm using < styled components > for my gatsby site, everything is working fine except one detail: border-radius is not applied to Img after I "gatsby serve".
## Relevant information
[code]
This shows when inspecting the img on "gatsby develop":

[code]
This shows when inspecting the img on "gatsby serve":

[code]
Thanks!

### Environment (if relevant)

System:
    OS: ma

[2019-10-12 18:27] canvaspixels commented on #17131
@RomanHotsiy that indeed sorts it! Thanks!

[2019-10-12 19:22] yokomotod opened #18554 "[gatsby-theme-blog] Can't shadow bio-content.js with .jsx/.tsx"
## Description

in [gatsby-theme-blog],

`src/components/bio.js` imports `bio-content` with `.js` extension.

It makes impossible to shadow `bio-content` by `bio-content.jsx`, `bio-content.tsx`.

### Steps to reproduce

[code]
make `src/gatsby-theme-blog/components/bio-content.jsx`

### Expected result

`bio-content` will be shadowed.

### Actual result

`bio-content` is not shadowed.

### Environ

[2019-10-12 20:55] atomiks commented on #9649
Is there a way to periodically clear out old files, say after 7 days, upon a new build, and force the site to refresh for users with the tab still open if they return? My GH-pages branch often gets huge with tons of old files left there from previous deploys.

I'm not really sure what the best practice is regarding cleaning public but not breaking the site for stale users 😕

[2019-10-13 00:58] Dave-Lindberg opened #18559 "Emotion Guide setup produces error at npm start"
## Description

Following the steps for the Emotion tutorial (https://www.gatsbyjs.org/docs/emotion/), running `npm start` produces the following output:

[code]
### Steps to reproduce

As per https://www.gatsbyjs.org/docs/emotion/:

### Expected result

Oughtta see a new site at localhost/8000

### Actual result

[code]
### Environment

Run `gatsby info --clipboard` in your project directory and

[2019-10-13 01:25] N7Layla commented on #18116
Is there still help needed on this? Being that I made my personal site using a Gatsby starter I think I might be able to put some thoughts together so let me know if there's any piece I could contribute.

[2019-10-13 02:54] #17902 closed

[2019-10-13 05:11] yyyyaaa commented on #15724
Any update on this? With the latest gatsby version I still have this issue, and it affects `gatsby develop` as well, which leads to hot loading not working

[2019-10-13 06:44] srepollock commented on #12967
I would just like to add (for future note) that moving `gatsby-plugin-google-analytics` to the top of my plugins solved the issue. Thanks for the assist @ThomasUta !

[2019-10-13 08:26] xiyizhou commented on #18486
@nelsonkuang ,欢迎一起翻译Gatsbyjs 文档

[2019-10-13 08:28] xiyizhou commented on #18486
@Ynewtime ，欢迎一起翻译 Gatsbyjs 文档

[2019-10-13 08:29] xiyizhou commented on #18486
@zhouyuexie ，欢迎一起翻译 Gatsbyjs 文档

[2019-10-13 09:29] jollypuppet commented on #18457
- **your experience level in open source:** I'm new in the open source world, but I would like to start from somewhere, and translation looks as a pretty good start to me.

- **your level of experience in the target language and localization:** Italian is my native language. I had some experience in the past translating a mobile game from English.

[2019-10-13 12:10] samajammin commented on #15216
I'm hitting this same issue. I cloned [the repo](https://github.com/amberleyromo/gatsby-client-data-fetching) mentioned in the [client data fetching example](https://www.gatsbyjs.org/docs/client-data-fetching/).

[code]

[2019-10-13 12:11] samajammin commented on #15216
@stefanprobst please let me know if I should create a new issue. I can't re-open this.

[2019-10-13 12:26] antoinerousseau opened #18563 "[gatsby-plugin-styled-components] Improve default options"
## Summary

Improve the developer experience while producing optimized production output.

### Basic example

I think we should either update the plugin documentation, giving a better example, like this:

[code]

Or maybe even set `process.env.NODE_ENV === "development"` as the default value for `displayName`.

### Motivation

People first adding `gatsby-plugin-styled-components` to their project

[2019-10-13 12:59] JustFly1984 commented on #14990
We are having this issue too. Please update docs and default build script

[2019-10-13 13:01] eyalroth commented on #16765
@gatsbybot @wardpeet Still not stale, still has all the required info, and things have definitely happened on this issue in the past 30 days 😕

[2019-10-13 13:13] isoftninja opened #18565 "[gatsby-source-filesystem] + [gatsby-transformer-json] bug with json files..."
If name path to json file contains numbers an error occurs.
assets/2019/config.json // Error

Gatsby is magic........ .... ..  I lost two days to identify this bug. It is invisible if the json file is represented by an array.More HYIP, less work. The juniors will write the code! This is the world of lemonade frontend...

[2019-10-13 13:14] stefanprobst commented on #15216
This looks like a dependency issue in the repo you linked to. Can you try again after removing `yarn.lock`/`package-lock.json` and reinstalling dependencies?

(Optionally you can also remove a bunch of unused deps from package.json -- all the example seems to use is `axios`, `gatsby`, `gatsby-source-graphql` and `react`+`react-dom`)

[2019-10-13 13:15] JustFly1984 commented on #14990
Solved by adding a script to package.json:
[code]

and running `yarn keygen $$ yarn develop`

[2019-10-13 13:17] isoftninja opened #18566 "createResolvers bad api"
createResolvers should only return an array... Is that normal?I need an object that I can carefully destruct, which is not true of data in array. The data in array makes you write a lot of extra code.

[2019-10-13 14:19] batuhantastekin opened #18567 "New Translation Request - Turkish"
[code]

[2019-10-13 14:30] JustFly1984 commented on #14990
So issue today became critical. Chrome stopped allowing `NODE_TLS_REJECT_UNAUTHORIZED=0` for me.

We have found solution:

navigate to `chrome://flags` in chrome, and switch `Allow invalid certificates for resources loaded from localhost.` to `Enable`

[2019-10-13 14:42] btk commented on #16765
@eyalroth Your reproduction breaks.

But what is your actual reason using `encodeURI()`? I have been using `createPage()` with Turkish script characters, and haven't faced any issue.

Just tried as;
`
createPage({
        path: encodeURI("/page-שלוש/", // this is "three" in Hebrew
        component: path.resolve('./src/components/page3.js'),
    })
`
And this is not producing any errors. Both stag

[2019-10-13 14:52] mrozilla opened #18570 "[gatsby-plugin-mdx] MDX in frontmatter"
## Summary

Following the conversation in https://github.com/ChristopherBiscardi/gatsby-mdx/issues/352

Since we're already parsing the body of an .mdx file, we could do the same thing to certain fields in the frontmatter which can then be rendered through the MDXRenderer just like the body.

### Basic example

I'd imagine a flag (off by default) for the plugin options that triggers the mechanism,

[2019-10-13 14:53] rosslh opened #18571 "Extra comma and " | Gatsby" in showcase details title"
## Description

Showcase details pages have an extra `,` and ` | Gatsby` in the document `<title/>`

### Steps to reproduce

- Visit https://www.gatsbyjs.org/showcase/www.metaprojection.ca
- Visit https://www.gatsbyjs.org/showcase/reactjs.org

### Expected result

- The title should be `MetaProjection: Showcase | GatsbyJS`
- The title should be `ReactJS: Showcase | GatsbyJS`

### Actual result

-

[2019-10-13 15:34] lostpebble commented on #12922
Installed Gatsby today. The message about tracking popped up for literally 3 seconds, I could read the first couple bits and then it disappeared completely and was replaced by all the other logging.

To not have that message actually remain in the console so that people can actually read it is a bit ridiculous and even comes off as malicious. I hope that is not the case and this was completely uni

[2019-10-13 16:55] rchrdnsh commented on #18404
Hi @universse,

So I've added this query, which is the same query that I am using from your other example, to query in the context file:

[code]

...but without doing anything different to any other file that is accessing and using this context, I am getting this error in the browser:

<img width="940" alt="Screen Shot 2019-10-13 at 9 49 40 AM" src="https://user-images.githubusercontent.com/788426

[2019-10-13 17:00] rchrdnsh commented on #18536
ok, that worked like a charm, thank you very much! XD

[2019-10-13 17:00] #18536 closed

[2019-10-13 17:27] #17195 closed

[2019-10-13 17:27] #17401 closed

[2019-10-13 17:27] #17501 closed

[2019-10-13 17:34] Js-Brecht commented on #14990
I just started working on a fix yesterday that should resolve this and a couple other open tickets.

For now, what OS are you using, @JustFly1984?

[2019-10-13 18:33] jonniebigodes commented on #18559
@Dave-Lindberg i've just ran the tutorial to completion without any issues. Checked it with both windows and a wsl machine running on ubuntu 18.04. The only caveat to my setup is the way i have to run gatsby in wsl, i have to run it with su. But going over your log, it seems that there was problem with a package being transfered. If you don't mind, issue `gatsby clean` to purge both `.cache` and `

[2019-10-13 18:41] jonniebigodes commented on #17457
i'm onboard with the author and this api should be made available. Probably some cases more than the one reported might benefit from this.

[2019-10-13 18:48] jonniebigodes commented on #17970
@pepibumur as the issue is resolved and now it can handle the mdx card generation via the pull request that i've submitted to the repo of the plugin creator. If you don't mind, i'm going to close this issue as it's resolved. Should any issues resurface feel free to re-open it.

[2019-10-13 18:48] #17970 closed

[2019-10-13 18:55] jonniebigodes commented on #9649
A quick solution would probably be to to trigger a build with a service like [zapier](https://zapier.com/). It has a integration with netlify and some other hosts aswell. Take a look and see if it fits what you intend to accomplish

[2019-10-13 20:01] laurenskling opened #18577 "Maximum call stack size exceeded on "gatsby-plugin-netlify" in huge site"
## Description

"gatsby-plugin-netlify"  gives `Maximum call stack size exceeded` on my 200k pages gatsby site

### Steps to reproduce

Make a ridiculous huge gatsby site :P

### Expected result

It should work with no settings

### Actual result

[code]

### Environment

[code]

[2019-10-13 20:23] ascorbic commented on #18449
- Using query name would certainly be the neatest way of identifying a static query, though it would be good to handle anonymous queries (assuming we allow them). In any case it would be good to allow users to provide a stack of responses per query name so that it could return different responses for subsequent calls. Then we could treat anonymous as just another name.
- I think the docs should en

[2019-10-13 21:44] Dave-Lindberg commented on #18559
thanks @jonniebigodes — Happy to work through this, and appreciate the guidance. However, using `gatsby clean` produces `Unknown argument: clean`.

Fwiw, I proceeded to delete `node_modules` and ran `npm install`. Getting the same error on `gatsby develop`....

[2019-10-13 22:15] nickyfahey opened #18579 "Automatic page dependency registration not working as described in the docs (ie hot reloading not always working when it should)"
## Description

When you create a resolver that uses `context.nodeModel` a page dependency is not automatically added unless a path is specified, or you manually call `trackPageDependencies`.

The [schema customisation docs](https://www.gatsbyjs.org/docs/schema-customization/#taking-care-of-hot-reloading) say:

It also implies that specifying a connection type in `gatAllNodes` should be enough to

[2019-10-13 22:48] jonniebigodes commented on #18559
Quick question, what version of the cli do you have? On your machine can you run `gatsby info` and supply the version of the cli you have installed?

[2019-10-13 23:26] Dave-Lindberg commented on #18559
Running `gatsby cli` produces the code below. but running `gatsby -v` gives `1.1.51`

[code]

[2019-10-13 23:46] jonniebigodes commented on #18559
That explains quite a bit. Current version of `gatsby cli` is 2.7.58 and gatsby is 2.15.36. And sometime ago, don't know which version , the clean flag was introduced. Also taking a look at the version you have and the current version, alot as changed in terms of emotion and gatsby. And it probably it introduced the issue you're experiencing. Can you update the cli to the most recent version runni

[2019-10-14 00:20] Dave-Lindberg commented on #18559
Well, that provided some progress...

• Successfully upgraded Gatsby CLI to 2.7.58, Gatsby to 2.15.36
• Ran `gatsby clean`
• Deleted `node_modules`
• ran `npm install`

But `gatsby develop` still produces same error

[2019-10-14 00:49] Js-Brecht commented on #17131
Hey everybody, the patched version of `fsevents` has been published.  You should be able to simply delete your yarn.lock file, and run yarn again.  Each of your dependencies should automatically pick up `fsevents@2.1.1`, which should resolve the issue.

[2019-10-14 00:57] Dave-Lindberg commented on #18559
Okay — trashed the old Emotion Tutorial which was built with Gatsby 1.x, and created a new instance. Works like a charm. :-)

Really appreciate for your help!

[2019-10-14 01:11] jonniebigodes commented on #18559
@Dave-Lindberg glad that you managed to get it to work. Sorry if i wasn't more helpfull. Feel free to close this issue as it's now resolved.

[2019-10-14 01:23] #18559 closed

[2019-10-14 01:33] Danondso commented on #18284
I'd like to help out, @marcysutton has anyone taken docs that start with ```m```?

[2019-10-14 01:46] #18213 closed

[2019-10-14 02:16] tf-currenxie opened #18582 "Self-hosted fonts requested in every page of the project"
Problem: Each font is requested in the every page of the project.
Question: What am I doing wrong?

Env: **dev**

**My layout file:**

[code]

**styles/fonts file:**

[code]

**styles/normalize file:**

[code]

<img width="422" alt="Screenshot 2019-10-14 at 10 14 47 AM" src="https://user-images.githubusercontent.com/40813720/66726393-b3628380-ee6b-11e9-8c8b-ffb15688361a.png">

[2019-10-14 02:24] colbyfayock opened #18583 "Showcase: Referrer not available on external link visits"
## Description
I've noticed within GA traffic that the showcase I had submitted isn't showing up even 1 time in the traffic source. Now this could definitely simply be no clicks, but out of curiosity, I tried clicking myself while reviewing a GA debugger, looking at `document.referrer`, and GA itself and sure enough, the referrer was blank and the traffic source was defaulted to direct/none.

I tr

[2019-10-14 03:28] FidelVe opened #18585 "Contributing to the blog with an article about using PrismJs with Gatsby"
## Summary

I'm interested in adding a new entry to the blog about using PrismJs with Gatsby. I'm asking here first to see if the content is appropriate or not for the blog.

### Basic example

You can see the content I want to post in the blog [here](https://dev.to/fidelve/the-definitive-guide-for-using-prismjs-in-gatsby-4708)

### Motivation

Basically my motivation is that I recently went throu

[2019-10-14 03:59] dustinhorton commented on #18570
Just ran into this need as well.

Markdown widgets are my use case so far.

Currently all my markdown is passed to a custom Markdown component. Think I'll work around this limitation for now by checking the type of `children`—if it's a `string`, return via [ReactMarkdown](https://github.com/rexxars/react-markdown), otherwise, via MDXRenderer.

[2019-10-14 04:46] universse commented on #18404
For your `TrackList` component, you need to map `trackList` like so

[code]

Basically because you are querying using graphql, the data structure of `trackList` has changed and you haven't updated `<TrackList />` to reflect that.

Not sure I'm missing anything else though. You can try that first.

[2019-10-14 05:02] universse commented on #18582
Are you using `gatsby-plugin-layout` for your Layout?

[2019-10-14 05:10] tf-currenxie commented on #18582
No

[code]

[2019-10-14 05:16] universse commented on #18582
Can you try moving this to `gatsby-browser.js`

[code]

[2019-10-14 05:50] #17131 closed

[2019-10-14 06:16] tf-currenxie commented on #18582
Works ! Thanks a lot !

***gatsby-browser.js file: ***

[code]

[2019-10-14 06:26] universse commented on #18582
You are welcome. The problem is because `<Global styles={() => css([normalize, fonts])} />` is un-mounting and re-mounting every time you navigate from page to page, causing duplicated requests.

[2019-10-14 06:26] #18582 closed

[2019-10-14 06:47] davwheat commented on #16288
I can try to do this. No promises though.

[2019-10-14 07:26] #17109 closed

[2019-10-14 07:42] sidharthachatterjee commented on #17109
Published in `gatsby@2.16.0` and `gatsby-cli@2.8.0`

[2019-10-14 08:12] BerlinChan opened #18597 "Gatsby Link check current href should with escape"
## Description

Gatsby **Link** Component check current href NOT with escape

This bug **[has fixed](https://github.com/reach/router/commit/137a1ae931d62afe1e1bb0f6180ad9347baacb4c)** in dependency @reach/router 1.2.1, but Gatsby Link still use version 1.1.1, like below:

https://github.com/gatsbyjs/gatsby/blob/b2fb80551b967a087897e0fb738242736bb25b7c/packages/gatsby-link/package.json#L28

### Ste

[2019-10-14 08:14] freiksenet commented on #18579
Hello @nickyfahey!

Thank you so much for a very detailed issue. I think first solution is what we should do - it's an oversight that we didn't think of when we removed automatic tracking for all `getAllNodes` calls. We can't really do second solution because we shouldn't mutate root nodeModel - it's possible that there are multiple contextual node models running off the same normal nodeModel at t

[2019-10-14 08:35] nickyfahey commented on #18579
@freiksenet That makes sense. I was thinking there was probably some kind of issue with that second solution. Will try and get a PR made later today.

[2019-10-14 08:44] #18597 closed

[2019-10-14 08:45] pieh opened #18601 "Add link to "Minimal Reproduction" docs in bug report issue template"
We do have documentation about creating reproduction cases for bug reports:
https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/ , but we don't really link this in our bug report template ( https://github.com/gatsbyjs/gatsby/blob/master/.github/ISSUE_TEMPLATE/bug_report.md ). Adding link to that document in our bug report template would be great, as it document what nice rep

[2019-10-14 08:51] karlhorky commented on #17131
Another, more precise option if you're using `yarn` is to use `yarn upgrade-interactive` (https://yarnpkg.com/lang/en/docs/cli/upgrade-interactive/). This will just upgrade the package(s) that you want.

Deleting your `yarn.lock` file can also cause other packages to be upgraded - just keep this in mind if you choose this option.

[2019-10-14 09:02] LekoArts commented on #17335
IMO getting 10 posts is better than nothing. People might want to show their latest posts somewhere. Feel free to discuss the future of the plugin here or in a new issue (but please close this one here then) and if e.g. the JSON solution would be feasible. In the meantime the documentation should probably be updated to make people aware of these issues.

[2019-10-14 09:08] rob-bar opened #18603 "Install react and react-dom globally? When installing the cli."
When I clean install the cli I get this weird prompts on the absence of react and react-dom.
When I add them globally it works. Are they set as peer dependencies?

Is this normal? Or am I missing something...

[code]

[2019-10-14 09:15] camilaavilarinho commented on #18601
I'd like to do this

[2019-10-14 09:28] #18222 closed

[2019-10-14 09:32] zuuperman opened #18604 "Root of a country gives 404 when a matchPath is configured for a 404 per country"
## Description

Homepage of a multilingual site gives 404 when there is a 404 configured per language.

### Steps to reproduce

Follow the guide at https://www.gatsbyjs.org/docs/creating-prefixed-404-pages-for-different-languages/ to create a 404 page per country.
Also add a page that acts as homepage per country. The page should have the path:
/uk/

### Expected result
When you browse to the /uk/

[2019-10-14 09:32] dutchalphaa commented on #18603
I ran into the same issue, also resolved with installing globally

[2019-10-14 09:33] clarkd commented on #18603
We are also seeing this issue - rolling back to 2.7.58 seems to have fixed the issue.

Without these installed globally none of the CLI commands work and you see an error saying react-dom is missing.

[2019-10-14 09:34] #18550 closed

[2019-10-14 09:40] ErisDS commented on #18603
Also seeing this issue and had to downgrade

[2019-10-14 09:47] wardpeet commented on #18583
Refer-policy is currently set on `same-origin` which means we're not exposing any data. By default netlify sets this to `same-origin`, see https://github.com/gatsbyjs/gatsby/pull/13452.

We could change this into `strict-origin` so we expose `https://www.gatsbyjs.org` instead of the full url. I don't have a strong opinion on this but i'm in favor of moving to `strict-origin`

cc @gatsbyjs/core

[2019-10-14 09:55] jsomedon commented on #18603
Having exact same error as well.

[2019-10-14 10:05] pieh commented on #18603
Opening PR with fix soon. Thanks for report!

[2019-10-14 10:10] sonusynup opened #18608 "Getting 'no such file or directory, open 'gatsby-project/public/page-data/news-media/page-data.json'' error when I do gatsby build. But it goes away when I do gatsby clean. Why does it happen?"
## Description

Getting 'no such file or directory, open '/Users/synup/Documents/SONU/repos/Synup-Gatsby/public/page-data/news-media/page-data.json''  error when I do gatsby build. But it goes away when I do gatsby clean. Why does it happen?
Also it works fine when I remove my static query from contentful.

### Steps to reproduce

gatsby build

### Expected result

The build supposed to be success

[2019-10-14 10:14] pieh commented on #18603
Can you try installing `gatsby-cli@cli-react-dom` and let me know if that fixes it for you? I did reproduce the issue and seems like my fix in https://github.com/gatsbyjs/gatsby/pull/18607 work for me, just want to check with you too

[2019-10-14 10:16] pieh commented on #16688
@DZuz14 Can you share reproduction?

[2019-10-14 10:19] KyleAMathews commented on #18603
This seems like a bug in react-redux. We should also file an issue there (in addition to unblocking ourselves).

[2019-10-14 10:27] pieh commented on #18603
Yeah - `react-redux` imports `react-dom` in https://unpkg.com/browse/react-redux@7.1.1/lib/utils/reactBatchedUpdates.js , but `react-dom` is not dep or peerDep of `react-redux` ( https://unpkg.com/browse/react-redux@7.1.1/package.json ). I will open issue there once we hot fix it in our side

[2019-10-14 10:34] KyleAMathews commented on #18583
Yeah I'm surprised we're not already set to strict-origin -- we want people to know they're getting lots of traffic from us!

[2019-10-14 10:43] hagiosofori commented on #18603
worked for me..

[2019-10-14 10:53] nstayte commented on #18528
I'm having the exact same issue using [react-id-swiper](https://github.com/kidjp85/react-id-swiper) component. I've also tried using fixed instead of fluid images and the issue happens with those as well.

[2019-10-14 11:01] Prabuela commented on #18603
Same issue lie for me while installing react and react dom global it is resolved

npm install -g react
npm install -g react-dom

[2019-10-14 11:03] pieh commented on #18601
Go ahead @camilaavilarinho!

[2019-10-14 11:16] jsomedon commented on #18603
Works :smile:

[2019-10-14 11:25] DZuz14 commented on #16688
Yup. I can probably do that. Will get back to you on that.

[2019-10-14 11:36] D19cannon commented on #18109
@hugo-marques-m3 I just refactored and it works! Thanks for the reply! :)

[2019-10-14 11:41] hugo-marques-m3 commented on #18109
Np, glad it helped 😄

[2019-10-14 11:48] sidharthachatterjee commented on #9350
@alexlbr and I just got off a call discussing this. Alex will be picking this up!

[2019-10-14 11:55] #18507 closed

[2019-10-14 12:07] faahim commented on #18418
Was having the same issue and it got me on the verge of tearing my hair out rofl:

Turns out, for whatever weird reason, I had the `CONTENTFUL_ACCESS_TOKEN` variable added at a system level. I'm using dotenv in my project, but since I have the variable stored at the system, it was using the system one, and obviously, it failed to connect with that wrong access token.

Just thought I'd give a shout

[2019-10-14 12:12] colbyfayock commented on #18583
I'm not well versed on this, but reading the [definitions from MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy), would you all want `strict-origin-when-cross-origin`? Sounds like that will allow same origin requests to still utilize referrer, giving you all more insight between internal traffic, and still restrict the cross origin to only the origin. I noticed you al

[2019-10-14 12:21] vincentpelage commented on #16765
Got same issue here:
Our client (Gatsby / WordPressAPI hosted on Netlify) created an URL with accent on WordPress then decided to remove accent, created a new URL and ask to redirect for SEO purpose. We used in gatsby-node.js:
[code]
When we try to access "/blog/réseaux-sociaux", a 404 is displayed few ms before being replaced by a blank page. We also notice that every page that contains unicode c

[2019-10-14 12:21] wardpeet commented on #18583
Oh yeah definitely, I didn't look at mdn yet but yes `strict-origin-when-cross-origin
` is what we want, feel free to open a PR!

What need to be done?
Change https://github.com/gatsbyjs/gatsby/blob/acc3031e74761965339e4e2245338f3dadb4ede5/www/gatsby-config.js#L309

into (I haven't tested this so it might nog be 100% correct):
[code]

[2019-10-14 12:25] colbyfayock commented on #18583
cool, ill grab it 👍

[2019-10-14 12:37] #18603 closed

[2019-10-14 12:37] fk opened #18610 "Add two sites to the site showcase"
Both https://www.edenspiekermann.com/eu/ and https://www.ibm.com/design/ are using Gatsby, and are missing in our site showcase! Let's add them to the end of https://github.com/gatsbyjs/gatsby/blob/master/docs/sites.yml, and tag them as `featured: true`.

Detailed instructions here: https://www.gatsbyjs.org/contributing/site-showcase-submissions/

[2019-10-14 12:47] fk opened #18613 "Add four sites to the site showcase"
- https://pof.com/ 🐠
- https://www.bitcoin.com/ 💸
- https://frame.io/ 🎥
- https://www.sainsburys.co.uk/ 🛒

are using Gatsby, and are missing in our site showcase! Let's add them to the end of https://github.com/gatsbyjs/gatsby/blob/master/docs/sites.yml, and tag them as `featured: true`.

Detailed instructions here: https://www.gatsbyjs.org/contributing/site-showcase-submissions/

[2019-10-14 12:48] sidharthachatterjee commented on #18603
Published in `gatsby-cli@2.8.1`

[2019-10-14 12:48] luisFilipePT commented on #18610
Can I grab this one? (and set myself as assignee)

[2019-10-14 12:49] fk commented on #18610
Hey Luis! Sure, and done! 🙏

[2019-10-14 12:50] Areadrill commented on #18613
Hi, I can take care of this! :)

[2019-10-14 12:51] fk commented on #18613
Hey @Areadrill! 👋
Thank you so much! 🙏

[2019-10-14 12:51] Areadrill commented on #18613
Wow that was fast! I'll make PR at the end of the workday (in about 5-ish hours).

[2019-10-14 12:54] ariadne-github opened #18614 "[gatsby-source-contentful] can't connect on windows - proxy"
## Description
On windows, gatsby-source-contentful cannot connect to Contentful.
The issue seems related to the new proxy config, it happens only on version 2.1.44 and above.
It doesn't happen on linux systems (tested on AWS Codebuild).
The error goes away by modifying the following line from 'gatsby-coruce-contentful'
in fetch.js line 18:
[code]
It seems that an undefined proxy object passed dow

[2019-10-14 12:55] sidharthachatterjee opened #18615 "Set a sane schedule on Renovate"
Renovate is fantastic but because of our config at the moment, we get several updates in a day.

We should probably do two things

- batch all minor updates in a single PR
- schedule them at a reasonable time (twice a week, perhaps at 10 am GMT)

This should go in config at https://github.com/gatsbyjs/gatsby/blob/master/renovate.json

Documentation for options is at https://docs.renovatebot.com/co

[2019-10-14 12:58] pieh commented on #18614
Hey, I think we are missing the required modification in the issue description.

Without seeing the change you made, it's also possible that this is a bug in `contentful` package as we just pass `proxy` plugin options forward to it

[2019-10-14 12:59] pieh commented on #18614
Hmm, do you use `proxy` plugin option? Or don't use it at all?

[2019-10-14 13:00] ariadne-github commented on #18614
No, I don't use the proxy option, but hte validation forces me to pass either an object or undefined. Undefined produces the error.

[2019-10-14 13:02] pieh commented on #18614
Super weird that it doesn't happen on macOS, will try to reproduce on Windows

[2019-10-14 13:03] pieh commented on #18614
Also - what's your node version? (`node -v`)

[2019-10-14 13:03] ariadne-github commented on #18614
v10.16.3

[2019-10-14 13:10] marcysutton commented on #15387
Reopening this since we still need docs for @reach/router! I'm nearly finished with this doc, and I'll incorporate some of the discussion here into it.

[2019-10-14 13:22] FailedSitcom commented on #18615
I'd like to take care of this 🙂

[2019-10-14 13:47] sidharthachatterjee commented on #18615
@FailedSitcom It looks like @fboechats opened a PR doing the second point. Do you want to open another PR doing the first?

[2019-10-14 13:49] sidharthachatterjee commented on #18615
Will likely need something like this

https://github.com/gatsbyjs/gatsby/commit/c087a89aaac5a8281a7742d60fc883d0ae554ca7#diff-76e62915fba4048ac877a875e2e3b8d2

[2019-10-14 13:54] FailedSitcom commented on #18615
@sidharthachatterjee I'd be glad to! Will submit a PR later today

[2019-10-14 13:56] prydda commented on #17557
`npm run develop` will get you up & running for now.

[2019-10-14 14:20] alexlbr commented on #9350
@sidharthachatterjee thanks for taking the time to walk me through the code. Yes, I'll give work on this in the next days 💪

[2019-10-14 14:22] lavelle commented on #16544
Is there any progress on this? It's preventing us from migrating some of our components to TypeScript, since the API docs then no longer appear. It works fine with components using `forwardRef` and the `prop-types` library though.

I'd be happy to contribute a fix myself if you could provide some pointers on where to look. I'm interested on where the bug arises, because it seems like a similar iss

[2019-10-14 14:44] fk commented on #18613
Well you were fast, too! ;-)
Please don't stress!

[2019-10-14 14:45] rudolphfunk opened #18636 "[gatsby-plugin-sitemap] - why remove trailing slash?"
## Summary
The plugin `gatsby-plugin-sitemap` removes trailing slashes from paths. For example:
`https://www.example.com/test/` becomes `https://www.example.com/test` in the generated `sitemap.xml`

## Relevant information
It seems that by design Gatsby redirects to path's with trailing slashes server-side, for example
[code]

Where `/test` has a 301 redirect to `/test/`.

The result is that Searc

[2019-10-14 14:47] waltercruz commented on #18178
Hey, I can help too.

[2019-10-14 14:52] waltercruz commented on #18221
It seems that you're missing automake!

If you're using homebrew, try:

`brew install automake`

[2019-10-14 15:05] FailedSitcom commented on #18615
@sidharthachatterjee would you like a rule like the one before to exclude the same/equivalent patterns ("^react", "^@babel/", "^eslint")? Or are absolutely all minor versions to be grouped in this rule?

[2019-10-14 15:17] aldrinpvincent commented on #18221
Awesome it worked.
Thanks @waltercruz for the help.
Closing the issue

[2019-10-14 15:17] #18221 closed

[2019-10-14 15:17] JustFly1984 commented on #14990
@Js-Brecht  MacOS Catalina

[2019-10-14 15:22] Kol-Cyber commented on #14530
Thank you very much for this solutions! Saved me!

[2019-10-14 15:40] markerikson commented on #18603
Yeah, the reasoning for this is:

- React-Redux v7 relies on importing `unstable_batchedUpdates`
- But, that is a renderer-specific function, so it has to come from ReactDOM or React Native, not the core React package
- We specify ReactDOM in our imports, but have a fallback file that Reat Native's bundler will pull in instead that imports from React Native
- If we specified either of those as dir

[2019-10-14 15:42] lavelle commented on #16544
cc @danoc who may be interested in fixing the missing API docs in thumbtack/thumbprint

[2019-10-14 15:43] joeattardi opened #18639 "[question] Is it possible to use hash routing with Gatsby?"
I don't have control over the server my Gatsby site is going to be hosted on, so I can't configure the server to work with the default HTML5 routing.

I can't find any information in the documentation on how to configure Gatsby to use hash routing instead. Is this even possible?

[2019-10-14 15:56] usotnyk opened #18640 "ContentfulAsset's localFile field missing in GraphQL schema using gatsby-source-contentful"
## Description

I am using gatsby-source-contentful plugin to get data using GraphQL from Contentful into my gatsby site.

Previously I was able to gain access to various fields using the `localFile` field (ex: `publicUrl`, `chilImageSharp`, etc.). However, now whenever I start up my project on my local machine the query fails. These are the details of the error message from GraphiQl:

{
  "errors

[2019-10-14 16:11] Js-Brecht commented on #14990
Since it is giving you the error "ERR_CERT_REVOKED", I'd like to see if creating a new certificate will fix the issue.

Remove the certificate `devcert` from your keychain, and then delete the directory `~/.config/devcert/`.  Then run `gatsby develop --https` to recreate the certificates; it should automatically add the root CA as a trusted root certificate to your keychain.  It will also likely f

[2019-10-14 16:20] gojutin opened #18642 "Merged Gatsby starter not showing up on https://www.gatsbyjs.org/starters/?v=2"
Hello, my pull request for a new Gatsby TypeScript starter was merged on Sept. 23rd, 2019, however, I can't seem to find the starter on [https://www.gatsbyjs.org/starters/?v=2](https://www.gatsbyjs.org/starters/?v=2).

Here is a link to the original PR:

[https://github.com/gatsbyjs/gatsby/pull/17770](https://github.com/gatsbyjs/gatsby/pull/17770)

I'm not sure if it may have fell through the crac

[2019-10-14 16:32] Pratikkakkad commented on #18642
It will take some time to reflect your changes on [Gatsby](https://gatsbyjs.org) because they must be updating their site periodically in cycle of 2-3 days.

[2019-10-14 16:33] in-in commented on #14990
I created a certificate using [mkcert](https://github.com/FiloSottile/mkcert) and it works on my system (Linux Mint) with Chromium and Firefox

[code]

[2019-10-14 16:40] likarajo commented on #3002
Add the following in gatsby-config.js
`{
      resolve: `gatsby-transformer-remark`,
      options: {
        plugins: [
          {
            resolve: "gatsby-remark-normalize-paths",
            options: {
              pathFields: ["cover"],
            },
          }
        ]
      }
    }
`

[2019-10-14 16:42] likarajo commented on #2054
Add the following in gatsby-config.js
[code]

[2019-10-14 16:43] likarajo commented on #11412
Add the following in gatsby-config.js

{
resolve: `gatsby-transformer-remark`,
options: {
plugins: [
{
resolve: "gatsby-remark-normalize-paths",
options: {
pathFields: ["cover"],
},
}
]
}
}

[2019-10-14 16:47] Pratikkakkad commented on #18458
I had the same issue few days ago.
I'm using Windows 10 machine.
To solve this delete `npm-cache `folder from `C:\Users\User_name\npm-cache`

[2019-10-14 17:27] #17383 closed

[2019-10-14 17:32] #18639 closed

[2019-10-14 17:33] Js-Brecht commented on #14990
If you want full trust, so you don't have to deal with errors/warnings in your browser or in node, try this:

The following works flawlessly for me using self signed certificates.

* In my site directory, I've created a folder called ".certs".
* When using openssl, you can write this configuration to file.  I'll call it ".certs/selfsigned.cnf":
[code]

* Then run openssl like this to create a self

[2019-10-14 17:44] Js-Brecht commented on #17131
Oh, wait.  That's only if you have chokidar as a direct dependency 🙄 .  Forgot.  @karlhokry is right

[2019-10-14 17:56] jackhair commented on #18418
Trying to update from `2.1.44` to `2.1.49` and getting the same issue. Nothing in the changelog seemed to mention a difference in pulling access tokens.

[code]

[2019-10-14 17:57] imlastrebor commented on #18246
Ok your fix is step forward I think. Now the images are appearing if I open my deployed site with phone, but they're blurred and this is error pop ups to the console:```Failed to load resource: the server responded with a status of 404 ()```. Images are blurred with desktop too. On the localhost everything is working ok.

This the query from ```gatsby-node.js```:
[code]

And this is from ```portfo

[2019-10-14 17:59] Js-Brecht commented on #14990
@in-in I've never used `mkcert` before, but it looks pretty cool; looks like its pretty reliable in setting the trust for its CA for you.  I can only speak to how I got the trust working correctly in Ubuntu (which shouldn't differ that much, in this regard, from Mint).  It took adding the certificate to `~/.pki/nssdb`, which I guess is not really specifically Chrome's nssdb (more like the current

[2019-10-14 18:11] Js-Brecht commented on #14990
Here's something right out of their docs, which I assume should work on linux and mac:
[code]

[2019-10-14 18:11] codingCookie commented on #18284
I'd like to contribute as well and will grab the `docs/mdx` folder. Is it ok?
I didn't see anyone mention it.

[2019-10-14 18:12] #18456 closed

[2019-10-14 18:26] chrismgonzalez commented on #12158
Looking into claiming this issue.  Is it still up for grabs?

[2019-10-14 18:33] fboechats commented on #18571
@rosslh How can I reproduce it locally??

[2019-10-14 18:55] FidelVe opened #18655 "Is it necessary to install `gatsby-plugin-catch-links` when using `Link` or is that behavior build into `Link`"
## Summary
I'm seeing that the 'intercepting local links' behaviour of [gatsby-plugin-catch-links](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-remark/src/pages/2017-03-21---copy-linked-files-intercepting-local-links/index.md) is the default behaviour while using `Link` so I guess that is not necessary to `npm install gatsby-plugin-catch-link`.

Am I correct in this?

[2019-10-14 18:58] codingCookie commented on #18284
I'd like to contribute more 🤗 i would also grad the **GraphQL-Files** in docsFolder - if nobody already claimed those.

[2019-10-14 19:27] chrismgonzalez opened #18659 "Hyperlink to join the Discord is broken"
## Description

Links to join the Discord from the Gatsby website or Github repo lead to an error page: "Gatsby.dev's server IP address cannot be found"

### Steps to reproduce

- How to Contribute page on Gatsbyjs.org - Discord link in the "Not Sure How To Start Contributing?" paragraph leads to the error page
- Gatsby repo front page  - Support: Discord link leads to error page.
- Entering "http

[2019-10-14 19:30] chrismgonzalez commented on #18659
I would be happy to tackle the issue - updating the to the working hyperlinks if I could get some guidance/correct links.

[2019-10-14 19:31] baobabKoodaa opened #18661 "Hot reloading error: "path" argument must be of type string"
Hot reloading in `gatsby develop` gives this error in my project. Hot reloading sometimes works despite the error (as in, I see the error in the console window where I ran `gatsby develop`, but the website in browser appears to hot reload and work just fine). This error appeared after I updated some (mainly Gatsby) npm dependencies. Stack trace is giving me no ideas on how to debug this. Is it a G

[2019-10-14 19:49] RuthYMNg opened #18663 "Error: gatsby-plugin-manifest library not loaded"
## Description

When I run `gatsby develop` I get the following error:

[code]

### Steps to reproduce

Demo project (although my version has diverged somewhat): https://github.com/wonism/gatsby-advanced-blog

Node version 8.16.1 (have tried in Node 11)

Package.json:

[code]

### Expected result

Would expect `gatsby develop` to serve site on localhost

### Actual result

[code]

### Environment

[2019-10-14 20:34] pieh commented on #18614
Took a while, but finally found some time to try to reproduce on windows 10 and it seems I don't get this error:
![Screenshot 2019-10-14 at 22 31 28](https://user-images.githubusercontent.com/419821/66780955-62d24100-eed2-11e9-9c06-20e1995613b5.png)

I'm using latest versions of our packages:
[code]
and same contentful example as one you reported

I don't have a clue why this happens :/

[2019-10-14 20:35] manuelnas commented on #18091
Is there any kind of fix or known reason for this error? I keep getting it, and while it's not breaking because it doesn't happen in build, it's incredibly frustrating. I too have a custom `HTML.js` file in my `src` folder, but this happens when I don't change anything in it at seemingly random times.

[2019-10-14 20:51] D19cannon opened #18664 "Is there a possibility create a function that can still run a query Mutate / subscribe after the build?"
Hi,

I've been playing around with Gatsby, WP + Apollo and I am trying to figure out an efficient way to subscribe and mutate (post) data in the WP backend.

The only solutions I can find are usually related using fetch() or axios(). However, I wish to have either to option to send a graphql mutation from the Gatsby or a Node/Apollo server.

As far as I can tell and understand, Gatsby is removing

[2019-10-14 21:08] harobed opened #18665 "What is the good method to configure redirection from `/` page to another page ?"
How can I redirect `/` to `/page-2/` ?

I have tryed 2 solutions:

# First solution

https://github.com/harobed/gatsby-redirect-on-root-index in `master` branch.

When I execute `npm run develop`, I have this error in Browser console:

[code]

but no error after `npm build; npm serve`

# Second solution

https://github.com/harobed/gatsby-redirect-on-root-index in `page-resources-is-undefined` bran

[2019-10-14 21:12] tommmlij commented on #17475
If somebody stumbles upon this:

In my case purgecss was "stealing" the style. So adding `whitelist: ['gatsby-resp-image-figcaption']` to the purgecss options helped.

See https://www.gatsbyjs.org/packages/gatsby-plugin-purgecss/#whitelist-solutions

[2019-10-14 21:13] harobed commented on #12234
@sidharthachatterjee https://gatsby.dev/discord is down for me

[2019-10-14 21:16] #18095 closed

[2019-10-14 21:31] pieh commented on #18603
Thanks for your response here! I lacked context around decision to not include either `react-dom` nor `react-native` and definitely we are just limited about what we can currently declare in `package.json`.

[2019-10-14 22:19] fpigeonjr commented on #13918
I can confirm that running on the WSL side does fix hot-reloading and the performance is a lot better. My CPU was running hot on the windows side this is the only way to live.

[2019-10-14 22:22] scottschup commented on #14502
I've been wrestling with this issue for days! Thanks so much for that!

[2019-10-14 22:42] wodenx commented on #14862
@MunifTanjim Do you not have issues when gatsby-cli updates the version of react and react-dom on which it depends?  For us (using lerna +npm, not yarn), this results in a different version of react being installed at root and for gatsby-cli.

[2019-10-14 23:11] wodenx opened #18672 "Why is gatsby-cli a dependency of gatsby?"
## Summary

A follow-on to https://github.com/gatsbyjs/gatsby/pull/14863.  I understand why react-cli needs to declare react/react-dom as dependencies -- but why does gatsby itself need to depend on react-cli?

## Relevant information

Again, the issue is with a monorepo.  We have react defined as a peerDependency for most our packages, and install it at the repo root.  We have an example site in

[2019-10-15 01:00] ajmariduena commented on #17891
As you can see in the example: https://client-only-paths.gatsbyjs.org/page/4 first it shows 1 and then 4 that's the issue do you guys have any workarounds?.

[2019-10-15 01:50] #18610 closed

[2019-10-15 01:52] universse commented on #18655
Yeah you're right.

[2019-10-15 02:34] mrkutly commented on #18571
It looks like the happens when you link directly to a showcase page. If you navigate to any of them from the showcase index, the title is fine. The extra comma only gets added if you go directly to a show page.

[2019-10-15 02:36] MunifTanjim commented on #14862
@wodenx Yes. I had to switch to `lerna+yarn`.

[2019-10-15 02:48] fk commented on #18610
Thanks again Luis! 🤗

[2019-10-15 03:16] Pratikkakkad commented on #18665
You can simply redirect like this
[code]

[2019-10-15 04:50] MatheusRV commented on #17814
How could i implement this?

[2019-10-15 04:59] thchia commented on #18672
Also, gatsby-cli recently listed React in its dependencies, which is causing issues due to multiple copies of React.

[2019-10-15 05:35] brettinternet commented on #15625
As @wesbos says, this error can throw when `gatsby-transformer-sharp` is installed but the plugin is not added to `gatsby-config.js`. This is problematic with yarn workspaces and the `gatsby-transformer-sharp` plugin is used in a separate workspace, which makes it a hassle to develop multiple themes in a single repo.

[2019-10-15 05:36] adrian271 commented on #9849
I had a similar issue, and in fact was detecting for mobile with react-device-detect for a link in my header. On Android and iOS I wanted to use a certain URL and something different for everything else.

After trying a few different methods of detecting it appeared the static page hydration was causing the same problem. I ended up making the link a component of its own. I would have just changed

[2019-10-15 06:03] imlastrebor commented on #18246
I found out that if I bring images with gatsby-image their URL is pointing to something like this : ```https://imlastrebor.github.io/static/0fd96c360c6fcbeb3aafa01a9fb57851/0aa4b/maidot_rivissa_FB.jpg``` and that produces 404 page. Then in the chromes Dev Tools I tried to add repo's name(/portfolio) to the URL: ```https://imlastrebor.github.io/portfolio/static/0fd96c360c6fcbeb3aafa01a9fb57851/0aa4

[2019-10-15 06:05] FidelVe commented on #18655
Thanks!

[2019-10-15 06:05] #18655 closed

[2019-10-15 06:39] mendaomn commented on #18659
Works fine for me, could it have been a temporary issue? Could you please check now? @chrismgonzalez

[2019-10-15 07:31] harobed commented on #18665
@Pratikkakkad  I would like a redirection from `/` to `/page-2` and not the other way round.

Why can't I use this below?

[code]

Why treat / page differently to other pages?

[2019-10-15 07:58] alexandrtovmach opened #18677 "Protect master branch"
## Description

We are working on Russian translation in https://github.com/gatsbyjs/gatsby-ru repo, and in some reason a few not native speakers sending to us PR with robotic translation of docs (Google Translator or something else):

https://github.com/gatsbyjs/gatsby-ru/pull/7
https://github.com/gatsbyjs/gatsby-ru/pull/17

We are still not sure why they are doing that (maybe for a swag 🤔), but

[2019-10-15 08:03] alexandrtovmach opened #18678 "Blacklist bad contibutor"
## Summary

Extended version for #18677 please read it first to understand the whole problem.

A bit more context, the same "language expert" tried to contribute to Spanish translation too:
https://github.com/gatsbyjs/gatsby-es/pull/52
https://github.com/gatsbyjs/gatsby-es/pull/50

And seems like @xmartinezpujol also had some problems with him.
Also, he's removing comments of other contributions a

[2019-10-15 08:18] xmartinezpujol commented on #18678
Yes, it's something global even, they are contributing in other projects this way. If you check their profiles you can see they are spammers.

I reported them to Github as spammers, I think the case is pretty clear.

[2019-10-15 08:21] HUFGhani opened #18679 "Testing components with GraphQL (useStaticQuery example code is wrong)"
The example code snippet [found here]( https://www.gatsbyjs.org/blog/2019-02-20-introducing-use-static-query/#after) or look below

![Screenshot 2019-10-15 at 09 14 52](https://user-images.githubusercontent.com/13970445/66813407-98a41380-ef2c-11e9-8c50-0b4156272e0f.png)

There are a few errors here which needs to correct as here is how to correct  it

[code]

[2019-10-15 08:30] harobed commented on #18665
@KyleAMathews an idea? what is your vision / guideline about this? It is a bug or a feature?

[2019-10-15 08:33] pieh commented on #18661
Are you able to share your project so we could reproduce and debug?

[2019-10-15 08:37] sixclones opened #18682 "MiniCssExtractPlugin not used in production"
## Description

According to [source code](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack-utils.js#L184-L192), the plugin [MiniCssExtractPlugin](https://github.com/webpack-contrib/mini-css-extract-plugin) should be used in production mode.
What I'm seeing it that's not the case.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please ple

[2019-10-15 09:15] #18511 closed

[2019-10-15 09:54] sidharthachatterjee commented on #18143
@JoeWrenn Thank you for opening this!

This sounds like a pretty _niche_ use case and adding a hook for this doesn't seem like it would be worth the long term maintenance burden.

It is currently possible to run multiple instances of `gatsby develop` on different ports using `gatsby develop -p XXXX` and that should suffice for the use case you describe, I think?

Closing this for the moment but pl

[2019-10-15 09:54] #18143 closed

[2019-10-15 10:07] #18579 closed

[2019-10-15 10:19] LekoArts commented on #18659
It's been a temporary problem, thanks for the issue though!

[2019-10-15 10:19] #18659 closed

[2019-10-15 10:26] m-allanson commented on #18677
Thanks for pointing this out @alexandrtovmach. The `gatsby-es` and `gatsby-ru` repos now have branch protection and require a CODEOWNERS code review before merging PRs.

[2019-10-15 10:46] sever1an commented on #18665
The message `The route "[...]" matches both a page and a redirect; this is probably not intentional.` shows even if the page is `404.js`, which seems to make this warning pointless as configured.

Redirects seem to generate `page-data.json` requests for the `fromPath` even in production builds.

This might be another issue, but do redirects belong in `match-paths.json` now?

[2019-10-15 10:56] jakeherp opened #18684 "Connecting to authenticated AWS AppSync GraphQL endpoint"
I am trying to connect a Gatsby site using `gatsby-source-graphql` to an AppSync endpoint, that requires authentication and needs to be signed.
My approach so far was to pull in `sign` from the aws4 package and sign it as follows:

[code]

But this fails with a 403 response:

[code]

I assume that the `fetch` method for the plugin doesn't do what I expected, but how else would I pass this informat

[2019-10-15 11:02] sever1an commented on #18665
Stopping `gatsby develop` and running `gatsby clean` after deleting `index.js` resolves the `Cannot read property 'page' of undefined` error and restores expected functionality of displaying the dev 404 page.

This is also a bug... deleting a page file should not require restarting `gatsby develop` and really should not require running `gatsby clean`.

[2019-10-15 11:18] valsouche commented on #5900
For me the problem happened just after my first `gatsby build`.
And like @tristankrass , changing the port fixed the issue. 8001 to 8000.

[2019-10-15 11:26] sidharthachatterjee opened #18686 "Log formatted stack trace and remove usage of error formatter"
https://github.com/gatsbyjs/gatsby/blob/3d38af239bd99a653ce66d379d9d4a112cb97291/packages/gatsby-cli/src/reporter/index.js#L177-L181

[2019-10-15 11:32] kuworking commented on #15317
@dougwithseismic I somehow has stumped again against this, and I can confirm that making sure that Netlify pretty-urls is truly unclicked as you say effectively removes the redirect problem

Thanks :)

[2019-10-15 11:48] #18601 closed

[2019-10-15 12:00] alexandrtovmach commented on #18677
@m-allanson Thank you

[2019-10-15 12:00] #18677 closed

[2019-10-15 12:05] imlastrebor commented on #18246
It started working. I'm not sure why but now the images are showing correctly with mobile and desktop. Big thanks @henrikmmm1 !

[2019-10-15 12:05] #18246 closed

[2019-10-15 12:07] endymion1818 commented on #18636
hmm I can't see that behaviour on my test site ... https://gatsby-starter-carraway.netlify.com/sitemap.xml

[2019-10-15 12:44] valse commented on #18457
Hi, I'm a Gatsby lover too and I'd like to help translate the Gatsby "Bible" Doc :P
I made meetups in Italian about Gatsby because this is my native language and even if I have no experience in localization, I know this framework and its doc too. Thanks!

[2019-10-15 13:53] Italox commented on #18178
Let's translate! :brazil:

 **your experience level in open source**: I contribute in many repositories as then I can, usually helping with docs and readme.

**your level of experience in the target language and localization**: I'm Brazilian and pt-br is my native language. I translated a bunch of plugins in Wordpress using transifex and direct poeditor files.

[2019-10-15 13:55] #18679 closed

[2019-10-15 14:23] usotnyk commented on #18640
This issue seems to be revolved with the most recent update to the plugin on Oct. 14th.

[2019-10-15 14:23] #18640 closed

[2019-10-15 14:47] Fdango opened #18688 "gatsby build Building static HTML failed"
my components:

[code]

index.js:
[code]

[2019-10-15 14:58] manuelJung opened #18689 "Manual code-splitting"
## Summary

Currently Gatsby only supports dynamic code-splitting (by pages). But there are situations, where this process cannot cleverly decide what is the optimal way to split code. That happens when you have to decide at gatsby's bootstrap phase what components you need. One example is, when you use a CMS that defines a Component as a "renderer":
[code]
The problem here is, that all possible c

[2019-10-15 14:59] thetre97 commented on #16765
I have this issue when using locales from Prismic - I have a slug with cyrillic characters, i.e. `/за-нас` (shown as `/bg/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81`) and when navigating to that page, Gatsby says it cannot be found, even though it shows that exact page url below.

![image](https://user-images.githubusercontent.com/12587127/66843409-a83f4e80-ef64-11e9-9a30-dc4de1bbd761.png)

[2019-10-15 15:00] thetre97 commented on #16765
Can provide a reproduction of this if needed,

[2019-10-15 15:28] baobabKoodaa commented on #18661
Also, this commit (npm update) caused the error to appear: https://github.com/baobabKoodaa/blog/commit/2cfb359cd322a58eb809a667dc6dc4e1dad8e2ba

The error will disappear if you revert `package.json` and `package-lock.json` to their state before that commit.

[2019-10-15 15:34] rchrdnsh commented on #18404
hmmmmmm....having a bit of trouble following exactly how to go about changing everything across multiple files. I also think that it would be nice to be able to convert the `trackList` into what it needs to be to work with what has already been established. SO in my head I am thinking that one way to do that would be to create an array and then iterate through all the graphql data that has been re

[2019-10-15 15:49] mats-codes commented on #15019
Is there anything left here, that I could help with? I'd be very happy to do so :)

[2019-10-15 15:58] Pratikkakkad commented on #18688
Can you provide the error message.?

[2019-10-15 16:39] mendaomn commented on #18682
Hey!

Inlining CSS in the head of the HTML document is a common practice to improve performance, as it greatly reduces the time to first paint.

I'm not sure about the plugin you are referring to, but my guess is Gatsby is using the plug-in to process the CSS before inlining it into the HTML!

[2019-10-15 16:56] kdichev commented on #18318
Solution can be found here:
https://twitter.com/kylemathews/status/1184147269521563648

[2019-10-15 16:56] #18318 closed

[2019-10-15 17:05] urielhdz commented on #18688
The error should help us to debug the problem, but I think we can see potential problems with the code you provided. You are using the AceEditor react component which [does not work in server side rendering environments](https://github.com/securingsincity/react-ace/issues/27), this could produce errors during the build step of Gatsby.

There are some suggestions on [the Gatsby docs](https://www.ga

[2019-10-15 17:05] florinme commented on #6300
Thanks to both @moonmeister and @urielhdz for the work on this! What are the implications of removing the router, if we disable it for translating, navigation will stop, correct? Can we disable routing temporarily while the user is viewing a translated page?

[2019-10-15 17:06] codingCookie commented on #18284
aaand another one - i will grab the letter **'i'** in the **docs-folder** - hope nobody else already grabed it

[2019-10-15 17:07] raleytom commented on #15235
I'd be happy to try and work on this, although I myself am a bit confused as to where the allProductsJson key comes from. If someone could clarify that, I can try and tackle this.

[2019-10-15 17:08] urielhdz commented on #6300
I can confirm that navigation still works,

In regards of the downsides, I think that you lose the speed and performance benefits of using a client side router, so for example, every page transition requires a roundtrip to the server.

[2019-10-15 17:11] tbrannam commented on #16408
@sidharthachatterjee  Still curious - if this is a limit of `useStaticQuery` or the underlying Provider - or the stripping in webpack.

[2019-10-15 17:12] kitos commented on #5330
I am still interested in this.
My team is currently working on migration of [our app](http://tourlane.de) from nextjs to gatsby (some pages were already moved). We have several markets on different domains: tourlane.de, tourlane.com, ... and we have to host them as a separate applications in netlify, which is not ideal, since we have to manage 5 apps now.

What I would prefer to do is to build pag

[2019-10-15 17:27] #16984 closed

[2019-10-15 17:27] #17110 closed

[2019-10-15 17:27] #17499 closed

[2019-10-15 17:27] #17588 closed

[2019-10-15 17:27] #17594 closed

[2019-10-15 17:27] #17603 closed

[2019-10-15 17:32] codingCookie commented on #18284
so nobody mentioned **'p'** - as far as i see - so i will take care of the p-files

[2019-10-15 18:29] dlbnco commented on #6300
Good question @florinme I was asking myself the same.

@urielhdz Thanks for clarifying.

I would set a separate instance of the website with this setting in a separate domain, something like translate.domain.com.

[2019-10-15 18:33] chrismgonzalez commented on #18659
It's working today.  Thanks!

[2019-10-15 18:39] chrismgonzalez commented on #18284
Looking forward to tackling some of this later tonight!

[2019-10-15 19:02] pieh commented on #18689
This is awesome!

Ok, so this to me is problematic part, because you would need to know what "widgets" are needed to render the page in `createPages` gatsby node hook. With your setup (`content.component` stating what component is needed) this is probably not a deal breaker, but in general in `createPages` we should query only minimal amount of information to create a page (so pick page template,

[2019-10-15 19:03] itujono commented on #9121
Can confirm, as @chri5bot stated, if you are using `styled-components`, installing `gatsby-plugin-styled-components` as well as `babel-plugin-styled-components` should do the tricks.

Had similar issue for like a week, and now my app is working like a charm. 👍🏼

[2019-10-15 19:06] westhouseit commented on #13965
Doing my first Gatsby project, came across this post and wondered if what I'm doing now is similar:

 gatsby-config.js
[code]

Then I can just use `this.props["*"]` in pages/card.js

Is this unique to that plugin?

[2019-10-15 19:13] pieh commented on #18684
I don't have much insight on this particular issue, but saw that we had few similar issues already ( https://github.com/gatsbyjs/gatsby/issues?q=is%3Aissue+sort%3Aupdated-desc+AWS+AppSync+GraphQL+is%3Aclosed ). Comments in this https://github.com/gatsbyjs/gatsby/issues/17302 issue seems to suggest that this is solvable?

`gatsby-source-graphql` doesn't support `fetch` config option, we do have `fe

[2019-10-15 19:16] rubengmurray commented on #17131
I'm using `npm`. Deleting `node_modules`, running `npm i --save fsevents@2.1.1` and then `npm i` did the trick for me. Took 19s to startup and I'm using the `gatsby-lumen-starter` as a base.

[2019-10-15 19:18] Dajamante commented on #17475
Thank you so much for informing!
I don't think I have purgecss in my config, or is it something similar?

[2019-10-15 19:31] tommmlij commented on #17475
I would check my gatsby-config.js for
[code]
The default gatsby starters do not use it, AFAIK.
I used a community starter (https://github.com/netlify-templates/gatsby-starter-netlify-cms) and there the plugin was installed.

[2019-10-15 19:31] mickm77 commented on #18284
Unless i missed it - 'c' looks un-taken - i'll do them...

[2019-10-15 19:35] tom-raley commented on #15235
I'd be happy to try and work on this, although I myself am a bit confused as to where the allProductsJson key comes from. If someone could clarify that, I can try and tackle this.

[2019-10-15 19:46] TylerBarnes commented on #18530
Hi @ndotmdot ,
Sorry to hear you're running into an issue. My initial instinct is that this is related to a core WordPress REST api bug which prevents images from being accessed via REST if the post they were originally uploaded to becomes private. [Check here](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#graphql-error---unknown-field-localfile-on-type-image-field) for more info.
It'

[2019-10-15 19:48] scottschup commented on #18382
Someone on my team is having the same issue, except that it seems like the update is just one save behind. So if you change `Hello world!` to `Hello Gatsby!` and save, nothing. But then if you change `Hello Gatsby!` to `Hellooooooooo!` and save, it will update to `Hello Gatsby!`. A subsequent change and save will update to `Hellooooooooo!`.

I however cannot duplicate the problem locally. His env

[2019-10-15 19:49] TylerBarnes commented on #18308
Hi @santinfoa !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2019-10-15 20:12] TylerBarnes commented on #18277
Hi @kylemadkins ,
When `gatsby-plugin-sharp` installs, it installs a version of `sharp` compiled for the current version of node, if your node version changes you'll need to reinstall your node modules. I believe `npm ci` installs from `package-lock.json` instead of `package.json` and uses specific versions so that could be the problem.

To fix this you'll need to use the same version of node in d

[2019-10-15 20:17] DanielRuf commented on #18277
Please try `npm rebuild sharp --force`.

[2019-10-15 20:17] DanielRuf commented on #18277
Also NodeJS 9 already reached its EOL.

[2019-10-15 20:39] crgeary commented on #17985
Just to update this thread for future readers, the [WordPress plugin](https://github.com/crgeary/wp-jamstack-deployments) mentioned above (I'm the author), works with any provider that supports Webhooks to trigger deployments, whether it be Netlify, Zeit or a custom solution.

It's also completely optional to automatically deploy when content changes, all configurable in the settings. There is a m

[2019-10-15 20:50] pieh commented on #18474
This is related to `gatsby-plugin-feed` and either `html` or `excerpt` (or both) fields in query ( https://github.com/arnaud-deprez/arnaud-deprez.github.io/blob/issue/gatsby-18474/gatsby-config.js#L157-L158 ). When this is being executed it's outside of `MDXRenderer` so it doesn't have access to props that you define in your index page

[2019-10-15 20:54] pieh commented on #18474
Alternatively you could apply:
[code]
filter in feed plugin configuration to ignore about page, which will always fail to generate excerpt/html because of its reliance on additional context/props.

[2019-10-15 21:26] jlengstorf commented on #15235
Oh whoops, I missed this the first time around. I did not create a live example.

@tom-raley the `allProductsJson` key is created by `gatsby-transformer-json`. You can see how the names are generated if you play with filenames and plugin settings — I can't remember off the top of my head exactly how it works.

Good luck!

[2019-10-15 21:50] grantglidewell opened #18699 "Image-sharp silently fails to process animated gifs"
## Description

If I have an animated gif in my content, image-sharp or transformer sharp does not throw any error, does not notify in any way that the image could not/has not been processed.

### Steps to reproduce

Use an animated gif in content from your cms, see that childImageSharp is null

### Expected result

An error should be displayed when the image is not processed.

### Actual result

[2019-10-15 21:56] TylerBarnes commented on #18528
Hi @viktor-wolf and @nstayte , I pulled down the reproduction to have a look locally. The issue is that swiper is duplicating the DOM nodes of the first and last image and appending them to the end of the swiper-container element. This doesn't play nice with React because swiper is duplicating DOM nodes instead of React elements which removes all of the statefulness of `gatsby-image` and only copi

[2019-10-15 21:56] #18528 closed

[2019-10-15 21:57] sever1an commented on #5318
The `exports.downloadMediaFiles` is for `gatsby-source-wordpress` to use as a plugin and will not work in `gatsby-node.js`

[2019-10-15 22:34] carolstran opened #18702 "More inclusive language in docs"
:wave: Sorry I'm ignoring all of your well-thought-out issue templates, but hear me out...

I noticed that there are a couple of instances of words like "simply" and "easily" in your documentation. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facing issues.

If it's alright with your team, I'd

[2019-10-15 23:44] muescha commented on #17764
Since @marcysutton moved this issue to `parking lot` I removed the `not stale`... is this ok?

[2019-10-15 23:52] muescha commented on #17763
@gatsbyjs/core should we add this code check from github to CI?

[2019-10-15 23:54] marcysutton commented on #18702
That would be fantastic, @carolstran! We would love to have your contributions. I've edited words like that out in every place I see them (particularly in new PRs), but haven't gotten to them all obviously. Thanks for bringing this up!

[2019-10-16 00:09] tesseralis commented on #18678
GitHub already deleted that user: https://github.com/gatsbyjs/gatsby-es/pull/50

Thanks for bringing this up!

[2019-10-16 00:09] #18678 closed

[2019-10-16 00:41] muescha commented on #18284
@marcysutton

Is the you / your here formal or  informal?

For some translations it is important.

My guess was informal but I may be wrong ...

[2019-10-16 00:48] tesseralis opened #18704 "Make JSDoc for API files translateable"
## Summary

Much of the content of the [API section](https://www.gatsbyjs.org/docs/api-reference/) of the website is directly sourced from documentation through [Documentation.js](https://www.gatsbyjs.org/packages/gatsby-transformer-documentationjs). This content can't be as easily extracted for translation as markdown files or yaml strings, so we need to figure out a way to deal with them.

## St

[2019-10-16 00:54] mrkutly commented on #18571
Digging around I found at least 2 react Helmet components that were tryin to set the title for each page. Setting the prop `titleTemplate=""` for the Helmet in the showcase-details.js component did the trick.

[2019-10-16 00:55] muescha commented on #18284
@marcysutton

Could we add an info if or when headings are capitalized to the s"Gatsby Style Guide section headings"?

I remember you changes often to capitalized but in #18668 it's changed to lowercased.

[2019-10-16 01:38] sever1an commented on #13305
More ideas for security

- Plugin & dependency trust, evaluating the quality of npm packages.
- XSS & reflected XSS. How to handle non-trusted data sources. What does React protect from by default? What is still dangerous?
- Use managed services such as Netlify or CloudFront/S3 instead of self-hosted servers.

[2019-10-16 02:35] steph-chan commented on #18284
I'd like to work on the remainder of the '**s**' docs that have yet to be worked on

[2019-10-16 03:33] universse commented on #18404
You can do that in MusicPlayerProvider

[code]

[2019-10-16 03:39] universse commented on #13965
The concept behind it is [client-only routes](https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/). The plugin serves to simplify the process a little bit.

[2019-10-16 03:48] universse commented on #18689
This reminds me of the [F8 2019: Building the New Facebook.com with React, GraphQL and Relay](https://youtu.be/WxPtYJRjLL0?t=1320) talk. Not sure how much of it is relevant to Gatsby.

![image](https://user-images.githubusercontent.com/15166715/66886638-a0d28080-f00a-11e9-9de6-be08c7215774.png)

[2019-10-16 05:03] universse opened #18713 "Support local plugins in theme"
I have a set of local plugins that I want to include for every site that I develop. As some of those are super simple plugins, moving each of them to its own package seems to be an overkill and adds unnecessary complexity (i.e managing and publishing etc...)

From #16128 I understand there's potentially some technical roadblock.

Is there a way around this?

[2019-10-16 05:25] franreysaycon opened #18714 "<Redirect /> doesn't seem to work in production build"
## Summary

## Relevant information

I have the code snippet below in which I suspect that <Redirect /> is not working in production build. It seems fine when I use `gatsby develop`. I need to prefetch some data before the actual redirection as it is important to define what id is going to be part of that url. Thus the code led to below:

Am I doing something wrong?

[code]

### Environment (if re

[2019-10-16 06:44] rudolphfunk commented on #18636
Here is a snippet from my gatsby config:

[code]
As you can see, I am using the default settings (no additional configuration).

I am running:
[code]

I am using the `createPage API` to programmatically create pages from entries in a database as documented [here](https://www.gatsbyjs.org/tutorial/part-seven/).

[2019-10-16 07:42] ethernal commented on #17849
It is not stale.

[2019-10-16 07:57] arhoy commented on #6254
Thank you. I trashed two content models and was tearing my hair out! Why does it do that in some cases and not others? I have created several content types for different clients and that is the first time that has happened. Seems like a bug that should not happen

[2019-10-16 08:00] manuelJung commented on #18689
You are right. The **createPages** hook should be as clean and small as possible. But somewhere you have to calculate your needed widgets. So I ended up to create a custom field extension to calculate my widgets:

[code]

I think something similar should work wir MDX too. You could create a custom field extension that does some static analysis in the mdx content. there you could read all your depe

[2019-10-16 08:05] TepyThai commented on #1754
I was having this problem regarding ``gatsby-plugin-sharp`` and the problem got resolved by **upgrading my dependencies**.  I hope it helps.

[2019-10-16 08:07] zilahir commented on #1754
for me this problem caused by changing `node` version globally.

`rm -rf node_modules`, then

`npm i`

helped.

[2019-10-16 08:16] PiccoloYu opened #18720 "netlify use problem"
I have successfully deployed my website on netlifly, but there are still some problems. When I enter the homepage, I will judge as follows:
` ` ` `
Const rootPath = `${PATH_PREFIX_}/`;
Const test = location. Pathname = = = rootpath;
< div classname = {` main ${test? 'main_sreen': (url = = = 'article'? 'main_img': 'main_none')} `} > < div >
` ` ` `
There will be a problem with the website deployed

[2019-10-16 08:18] lxynox commented on #1754
@zilahir can you share your node/npm version? eg `npm -v && node -v`

[2019-10-16 08:21] zilahir commented on #1754
@lxynox sure.

[code]

[2019-10-16 08:50] sixclones commented on #18682
Ok thx for the information, I think my issue comes from an misundertanding of the Gatsby code source and how to use the plugin.

[2019-10-16 08:50] #18682 closed

[2019-10-16 10:17] centrical commented on #18497
Plus 1

[2019-10-16 10:47] PiccoloYu commented on #18720
In this way, I assign a variable to this class through judgment, and the a variable is dynamic.
![image](https://user-images.githubusercontent.com/44945137/66912486-40146980-f045-11e9-9c2e-4438ef5f87e9.png)
His first entry is supposed to be the 'main_sreen'.His output is exactly like this
![image](https://user-images.githubusercontent.com/44945137/66912527-502c4900-f045-11e9-9466-32b33bf9ff37.png)

[2019-10-16 11:08] Prabuela commented on #17576
gatsby-source-contenta also product this error

success open and validate gatsby-configs - 0.027s
success load plugins - 0.071s
success onPreInit - 0.006s
success initialize cache - 0.035s
success copy gatsby files - 0.051s
success onPreBootstrap - 0.020s
Starting to fetch data from Drupal
articles fetched 9
fetch Drupal data: 192.076ms
success source and transform nodes - 0.437s

 ERROR

UNHANDLE

[2019-10-16 12:08] #18495 closed

[2019-10-16 12:12] #18554 closed

[2019-10-16 12:15] nkint opened #18723 "How to have full server-side-rendering in develop?"
## Summary

How to have full SSR in develop such as how to have develop and serve working the same way?

## Relevant information

I'm following a quickstart and so goog so far. But it happens that..

In develop:
[code]

Provide me an empty page (no SSR):
[code]

While everything works after build and serve:

[code]

and I see what I want to see.

I'm heavily using a [Webgl viewer](https://doc.baby

[2019-10-16 12:39] #18613 closed

[2019-10-16 12:57] janosh commented on #18078
Anyone with any more ideas? This is proving quite hard to debug.

[2019-10-16 12:58] muescha commented on #18615
Can we name also the PR something like the following, I always trapped into this PR because the `by bot` info is very small on the second line:

`[Renovatebot] chore: update ...`

[2019-10-16 13:17] Undistraction commented on #15690
@sidharthachatterjee I've been thinking about this again.

I see the main advantage here that a developer doesn't need to care about implementation details for the image type they have chosen. They should be able to select an image type, and Gatsby should do what is necessary to render that image in the most optimal way possible.

Currently there is no unity in this regard, and the two routes (for

[2019-10-16 13:47] Dhruv9979 commented on #14931
Hi, I would like re-open this issue as I am getting similar issue when I try to deploy my website on netlify. You can find my code on: https://github.com/Dhruv9979/DhruvPatel
I am getting the following error message:

9:41:14 AM: Build ready to start
9:41:17 AM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
9:41:17 AM: build-image tag: v3.3.2
9:41:17 AM: buildbot version: 8727aab44

[2019-10-16 13:55] universse commented on #18720
are you using `gatsby-plugin-offline`?

[2019-10-16 14:08] jsilva234 opened #18727 "(BUG) Broken link"
## Description
On page https://www.gatsbyjs.org/blog/2019-08-30-speed-up-your-time-to-interactive-by-delaying-third-party-scripts/ there are a broken link.
### Steps to reproduce
Go to page, click the "gatsby-plugin-segment-js"
### Expected result
Open the https://www.gatsbyjs.org/packages/gatsby-plugin-segment-js/
### Actual result
![image](https://user-images.githubusercontent.com/46353605/66926

[2019-10-16 14:27] aharris opened #18728 "Gatsby 2.13.50 installing incompatible gatsby-cli"
## Description

Gatsby 2.13.50 uses a `^` to include `gatsby-cli`. This lead to in npm install causing us to pull in an incompatible version of the gatsby cli.

![image](https://user-images.githubusercontent.com/713398/66927900-9b6f3900-effe-11e9-8fde-fb9f6904ac5a.png)

This version causes the error:

[code]

### Steps to reproduce

In an existing project running gatsby@2.13.50
- remove package.lo

[2019-10-16 14:53] yakovleva-tanya commented on #10448
Hi, I would like to work on this one, is it still available?

[2019-10-16 15:01] #18566 closed

[2019-10-16 15:37] laurenskling commented on #14611
I'm experiencing the same;

[code]
The page query is run in the original file, the React component of the shadow is being rendered

[2019-10-16 15:43] laurenskling commented on #14611
It makes sense with this warning:
[code]

[2019-10-16 15:54] aharris commented on #18728
I was able to resolve this eventually locally by deleting my global `gatsby-cli` and specifying the old `gatsby-cli` directly:

[code]

Debugging this issue though caused significant down time that could be resolved by using exact version.

[2019-10-16 16:09] neefrehman opened #18731 "Gatsby querying and rebuilding unchanged pages on Netlify after Contentful fetch"
## Description

We're working on ustwo.com at the moment and are trying to tackle our ever-growing build times. We're finding that Gatsby is querying and rebuilding every page on when deployed to Netlify. I'm unsure if this is an issue with how Gatsby manages the `.cache`, how Netlify deals with it, or if it is an issue with `gatsby-source-contentful`, but the end result is much longer build times

[2019-10-16 16:10] pieh commented on #18728
Hey, are you able to share your project? I was able to reproduce some issue with following package versions:

[code]

But issue I had was different than one you reported:
[code]

I'll work on fixing that part, but it seems like completely different issue than you had

[2019-10-16 16:19] DecadentIpsum opened #18732 "CSS splitting on production build"
## Summary
In the production build of the following [url](https://i18n-dumptruck-dispatcher.netlify.com/en/) when I click "view page source" in Chrome, the source code seems to include all the CSS written for all the pages of the site.

For styling the pages I used CSS modules, where every single one of them is imported to a specific component.

## Expected result
I guess that every page should in

[2019-10-16 17:03] afridley opened #18736 "gatsby-source-wordpress yoast SEO not pulling posts `content vs content___NODE`"
## Summary
I am trying to pull yoast info using this plugin https://wordpress.org/plugins/wp-rest-yoast-meta/

## Relevant information
The plugin adds rest endpoints to give each post and page object a yoast_meta object. That gatsby gathers.

This works perfectly on pages.
On posts of any post type I get nothing but an empty object.

If i examine the wordpress post endpoint I can see the yoast_met

[2019-10-16 17:25] drakeloud commented on #18661
I'm interested in looking into this. @pieh , Mind if I poke around and see if I can resolve the issue?

[2019-10-16 17:27] #8609 closed

[2019-10-16 17:27] #17587 closed

[2019-10-16 17:28] pieh commented on #18736
Try adding following to gatsby-node.js file (you might need to update your gatsby version, but try it first with one you currently use):

[code]
If it will fix the issue for `wordpress__POST` type, repeat setting `yoast_meta` field for `wordpress__wp_media`, `wordpress__wp_insights` and `wordpress__wp_work`

[2019-10-16 17:47] TylerBarnes commented on #18530
Thank you for opening this, @ndotmdot

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-10-16 17:47] #18530 closed

[2019-10-16 18:31] #18736 closed

[2019-10-16 18:37] ghost opened #18740 "What's the best approach to add tags with images?"
I'm trying to figure out the best approach to adding images to tags.

Ideally, each tag should have a corresponding image. Example: Tag: **Pizza** has image of 🍕

Any suggestions?

[2019-10-16 19:47] PSalaun commented on #16481
@isaacdpierce I second this, ran into this issue when using sanity's block-content-to-react and Theme UI, which also relies on a <ThemeProvider>. The error came from a named import instead of a default one.

[2019-10-16 19:50] rchrdnsh opened #18742 "How do I query an audio file in a staticQuery from some MDX frontmatter?"
I am trying to query an audio file that is referenced in the frontmatter of an MDX file. My frontmatter looks like this:

[code]

The `audio` key is referencing an audio file in the same folder as the `mdx` file. I am then trying to query and use the audio file in a staticQuery inside a context file, like so:

[code]

...but I have no idea whether or not the absolutePath is actually giving me the

[2019-10-16 20:00] rgiese commented on #17811
@Madgeniusblink , provided you're on Windows, make sure that your current path as shown on the command line has an uppercase drive letter.

[2019-10-16 20:23] adstr123 commented on #18728
@pieh I had the same issue as you after updating gatsby-cli where the yoga-layout-prebuilt module was throwing the error, but I imagine these are related.

### Environment
Node 12.4.0
npm 6.10.3

package.json:
`
{
  "dependencies": {
    "bootstrap": "^4.3.1",
    "gatsby": "^2.15.29",
    "gatsby-cli": "^2.8.1",
    "gatsby-image": "^2.2.24",
    "gatsby-plugin-manifest": "^2.2.20",
    "gatsby-p

[2019-10-16 20:32] rodolfogarciab commented on #6654
Additional to use GATSBY_CONCURRENT_DOWNLOAD = 5, add the following code into your gatsby-node.js file

// Internationalization
exports.onPostBuild = () => {
 ChildProcess.execSync("ps aux | grep jest | grep -v grep | awk ‘{print $2}’ | xargs kill")
 console.log('Copying locales')
 fs.copySync(path.join(__dirname, '/src/locales'), path.join(__dirname, '/public/locales))
}

[2019-10-16 20:46] sidharthachatterjee commented on #18615
@FailedSitcom That was a setting I ended up setting while I was playing with Renovate and while it made sense in the beginning (for visibility into a vast set of updates when we first enabled it for packages), it seems less necessary now.

@muescha I'm not sure if adding a label or changing the title to include that it is made by a bot adds any value since one can filter by user to see these PRs (

[2019-10-16 21:00] #18615 closed

[2019-10-16 21:14] drakeloud commented on #18661
So what I found is that the markdown front matter is getting confused as a ContextualNodeModel. So when you run Path.resolve(args), it is getting the front matter object, which doesn't have the 'dir' attribute. I'm going to throw up a PR for the fix.

[2019-10-16 21:42] iDatLe commented on #18731
Hello! I've had a huge problem with this issue for the past month. The problem was obscure and took me a while to find it.

Netlify has its own caching system, caching files upon every build and does a checksum to see if any file has changed since the previous build. If it has then it will reupload that file. Gatsby has this thing called the webpackCompilationHash.

Problem: Gatsby will build your

[2019-10-16 22:33] kompounder opened #18744 "Temporary dynamic routes"
Hi,

I am evaluating Gatsby for a project that enables users to create their own content on the site.

Let's say that:
- The UGC (user-generated content) is immediately stored in a DB/CMS
- We know what the URL & slug should be at the time of content submission (e.g. it could be something like https://site.com/article/best-beer-ever-2019

Questions:
1) What would be the best technical approach to

[2019-10-16 22:36] alexlee-dev commented on #10592
For anyone coming here looking for a solution on how to get data all the time (not just on the first go), the above PR adds a handy option you can pass to your config.

[code]

https://www.gatsbyjs.org/packages/gatsby-source-contentful/#configuration-options

👨‍💻

[2019-10-16 22:45] jessescn commented on #18178
Heys guys, i already send an email to @lannonbr asking him to create the repository so we can start working on. Any news i'll send here :)

[2019-10-16 23:04] muescha commented on #18615
yes i can add a search term ` -author:app/renovate` to the search box everytime but github not remember this setting.

filter by eye is not that easy because the second line with username is very small to see it :( and more smaller on my mobile phone

there are this 2 kinds of PR:

`chore: update ... to ...`
`fix: update dependency ...`

this lines often get used by others users also for some PRs

[2019-10-16 23:08] lannonbr commented on #18178
@jessescn So I am not on the core team so I am going to have to let Marcy and Handle this. I know the team is busy with Hacktoberfest so please be patient for the time being

[2019-10-16 23:08] cryptofool13 commented on #18740
do you mean by tag? like html tag <Pizza />?

[2019-10-16 23:10] jessescn commented on #18178
@lannonbr ok, no problems :+1:

[2019-10-16 23:39] sever1an commented on #15529
Using homebrew on Linux is not great. I strongly prefer using nvm for development machines, and whatever package manager instruction that is appropriate from this list for environments that should be updated automatically:
https://nodejs.org/en/download/package-manager/

[2019-10-17 01:02] pieh commented on #18689
@universse Yup, not gonna lie - I was inspired by that and wanted to do something like this ever since I saw that talk :)

@manuelJung
My idea was that you wouldn't have to define `widgets` in `createPage` at all.

I will be doing some pseudocode examples do illustrate what I had in mind:

In your gatsby-node -> createPages you would continue to only care about minimal data required to be able to

[2019-10-17 01:20] PiccoloYu commented on #18720
yes

[2019-10-17 01:33] dspacejs commented on #17087
@shehbazjafri hey did you figure out how to fix this?

[2019-10-17 02:41] marichellebisuna commented on #8488
I had the same problem about this gatsby-transformer-sharp.
 but what i did to solved this problem was to install the extension c/c++ in the visual studio code
 then install the "npm install --save gatsby-transformer-sharp gatsby-plugin-sharp" again.
then run "gatsby develop".  so yeah finally it runs successfully!

[2019-10-17 03:04] universse commented on #18404
For that you need to query for path to audio + image source.

[code]

[2019-10-17 03:08] universse commented on #18720
I'm assuming you are using gatsby-plugin-layout as well? Take a look [here](https://github.com/gatsbyjs/gatsby/issues/13867#issuecomment-489481343).

[2019-10-17 03:16] aharris commented on #18728
@pieh I also saw that issue when I tried to install via yarn instead of npm for some reasons. I didn't look into it further and kept debugging with npm.

[2019-10-17 03:48] urielhdz commented on #18740
You may list your tags on a JSON file and use the [gatsby-transformer-json]( https://www.gatsbyjs.org/packages/gatsby-transformer-json/), you can structure your data like this:

[code]

I think that the simplest way to handle dynamic images is to put them in the public folder of a Gatsby site, then you can refer to those images while listing your tags. For example

[code]

[2019-10-17 03:56] PiccoloYu commented on #18720
thank you very much. This really helped me.

[2019-10-17 03:58] adrianescat commented on #386
native HTML anchor links are broken, even using `import { Link } from "gatsby";` ...
Only this worked for me *:

[code]

*But my website works with and without `www`. This approach only works for my website without `www`.

[2019-10-17 04:08] #18720 closed

[2019-10-17 04:20] universse commented on #18720
you are welcome

[2019-10-17 04:22] #17818 closed

[2019-10-17 06:19] mendaomn commented on #18284
I'm taking on the 'u' docs!

[2019-10-17 06:30] aitchiss commented on #18284
@menadomn I think @BeniRupp took those a while back?

[2019-10-17 06:36] arnaud-deprez commented on #18474
Hi @pieh,

Thank you very much !

I'm wondering how did you find the issue was actually in another plugin 😮cause the error is definitely not clear and the stack trace does not help

[2019-10-17 07:13] manuelJung commented on #18689
ok, i understand. That's a really cool api! but how would you solve ssr, like creating preload links and injecting to used scripts into the DOM. All of this is done within the createPage hook. Also the code-splitting could be a tricky thing: Webpack analyses the code and creates shared chunks (1.[]hash.js...) different pages can use. This can be done, because you have a single entry (createPage) f

[2019-10-17 07:13] mendaomn commented on #18284
You are right! I totally missed his comment! I did find some punctuation fixes with the aid of [Grammarly](https://www.grammarly.com), so I was thinking to open a PR anyway. What do you think? Should I discard my changes and work on something else?

[2019-10-17 07:19] aitchiss commented on #18284
@mendaomn I'm not sure if @BeniRupp's changes are merged back yet or not, but if they are and you've spotted something else that can be tweaked, sure go for it!

[2019-10-17 07:25] LekoArts commented on #18713
Generally speaking we want our users to build small, re-usable themes but since this has come up multiple times now there is work done on that.

It'll be fixed by https://github.com/gatsbyjs/gatsby/pull/15856

[2019-10-17 07:41] freiksenet commented on #16529
OK, so decision here is whether we want to have special kind of plugins that are themes or are all plugins created equal.

It seems that @ChristopherBiscardi wants to not have any special theme treatment. However this conflicts with our restrictions of what plugins can do with different types.

In a way, we might be just blocked because we don't have plugins do the types for themselves, instead of

[2019-10-17 08:28] shehbazjafri commented on #17087
@dspacejs Well, I wasn't able to find a proper solution, but apparently this is how Graphql works with Gatsby (or in general), so I used a workaround - I added a "hidden" property to the frontmatter and then added a dummy markdown file.

 So, there would be one dummy file with `hidden` set to `true`, and every new file added (using a CMS) would have `hidden` set to `false` by default.

[2019-10-17 09:22] #18727 closed

[2019-10-17 09:34] LekoArts commented on #17956
Thank you for opening this!

It's not clear from your description what problems you're having. It sounds like it is specific to the browser so I'd suggest opening a bug report on the Chrome/Chromium platforms. Or it's a problem with how you use React for these transitions (you can ask on Stack Overflow or Reactiflux about that).

We're marking this issue as answered and closing it for now but plea

[2019-10-17 09:34] #17956 closed

[2019-10-17 09:36] LekoArts commented on #17981
Thank you for opening this!

When deleting the `public` folder you should also delete the `.cache` folder. That's what our CLI via `gatsby clean` does. You shouldn't have issues when using `gatsby clean`.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank yo

[2019-10-17 09:36] #17981 closed

[2019-10-17 09:38] LekoArts commented on #17990
Thank you for opening this!

I'd suggest contacting the AWS support about this issue as it doesn't seem related to Gatsby. You can't make these paths relative.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 09:38] #17990 closed

[2019-10-17 09:39] LekoArts commented on #17996
Thank you for opening this!

As you can fix these issues by leveraging CSS I won't think that this needs to be changed/fixed.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 09:39] #17996 closed

[2019-10-17 09:39] eclectic-coding commented on #15529
Actually, Homebrew is MacOS only. I totally agree, using NVM on Linux is the best way to manage Node versions

[2019-10-17 09:43] LekoArts commented on #18030
Thank you for opening this!

Yes, it is working as expected. It's not really a question about caching things but about inferring and constructing the GraphQL schema. That only happens during the bootstrap and hence you need to restart the development server. As you have already discovered there is an endpoint you can POST to -- some source plugins like from Sanity.io already use that and it's our

[2019-10-17 09:43] #18030 closed

[2019-10-17 09:46] neefrehman commented on #18731
@iDatLe Thanks for the info!

We were hoping that using [`gatsby-plugin-remove-fingerprints`](https://www.npmjs.com/package/gatsby-plugin-remove-fingerprints) would achieve the same outcome for us. We've verified that the hashes are being removed from the filenames when we use the plugin, but the issue persists so I'm guessing there's more nuance to the hashes when it comes to Netlify's diffing th

[2019-10-17 09:48] cloudratha opened #18758 "[gatsby-react-router-scroll] Scroll updates when navigating within the same pathname."
## Description

When on a page e.g. `/test/`, I use `navigate` to replace the current location state to reference a marker on the page.

[code]

Even though I'm on the same page, the scroll position is set back to the top.

I found this reference in the pakage:

https://github.com/gatsbyjs/gatsby/blob/e4fc96a8d10f861f2f559a77095c790db6f908a9/packages/gatsby-react-router-scroll/src/ScrollBehaviorCo

[2019-10-17 09:54] cloudratha commented on #18758
This can obviously be solved with the `shouldUpdateScroll` browser api method, however I don't see the value in the short circuit, and I'm inclined to think it should be the default behaviour.

[2019-10-17 10:20] LekoArts commented on #18063
Thank you for opening this!

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 10:20] #18063 closed

[2019-10-17 10:24] LekoArts commented on #18117
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-10-17 10:29] LekoArts commented on #17984
Thank you for opening this!

According to https://support.google.com/webmasters/answer/183668?hl=en Google doesn't even support the priority tag. You could also try excluding the pages or use the serialize function to change the priority and its entries.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this d

[2019-10-17 10:29] #17984 closed

[2019-10-17 10:33] LekoArts commented on #18223
Thank you for opening this!

I've looked at https://www.gatsbyjs.org/starters/?c=Firebase&v=2 and all the starters that are presented use Firebase in some way. We can't remove starters because they are hosted there -- you should use the category to filter for it :)

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to cont

[2019-10-17 10:33] #18223 closed

[2019-10-17 10:35] LekoArts commented on #18219
Thank you for opening this!

We normally don't want our components to be refactored just for the sake of refactoring something. Class components will always be working and changing everything creates unnecessary churn. Hope that clears things up!

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussio

[2019-10-17 10:37] LekoArts commented on #18225
Thank you for opening this!

This solution seems fine. Have you tried contacting the Mixpanel support? This seems like a more appropriate place to ask this question.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 10:37] #18225 closed

[2019-10-17 10:39] LekoArts commented on #18226
Hi, thanks for opening the issue. I can't reproduce the issue with Chrome 77.0.3865.120. Can you please update your project or give more details on how to reproduce this problem?

[2019-10-17 10:40] Jphilistin12 commented on #1695
I can't assume to know what the OP meant. But I am trying to add contentful to my react native project using a gatsby plugin but I am running into a wall trying to figure out how to integrate gatsby then the contentful plugin.

[2019-10-17 10:41] LekoArts commented on #18217
Thank you for opening this!

Please take this request to the author's GitHub: https://github.com/graysonhicks/gatsby-plugin-remote-images

Thanks!

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 10:41] #18217 closed

[2019-10-17 10:44] LekoArts commented on #18244
Thank you for opening this!

You should be able to solve your problem by using the typeName as a function as shown here: https://www.gatsbyjs.org/packages/gatsby-transformer-json/#configuration-options

I've got a codesandbox with the yaml transformer that does the same: https://codesandbox.io/s/multiple-yaml-0lewv

Check for `node.name` and set your correct typeName. Please let me know if that wo

[2019-10-17 10:45] LekoArts commented on #18249
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-10-17 10:49] LekoArts commented on #18255
Thank you for opening this!

No, Gatsby of course supports both source plugins. The guide also uses it: https://www.gatsbyjs.org/docs/sourcing-from-prismic/

Switching source plugins will certainly require you to also change GraphQL queries and whatnot. You should contact the maintainers of both plugins if you need clarification about what the differences are and how you could possibly migrate.

W

[2019-10-17 10:49] #18255 closed

[2019-10-17 10:58] slorber commented on #1695
@Jphilistin12 it's not really clear to me what you are trying to do at all. Gatsby plugins are not meant to be run inside ReactNative apps.

[2019-10-17 11:28] fandy opened #18764 "How to add scss no .module extension"
Has anyone who's figured out how to get Sass with modules using `.scss` instead of the `.module.scss` extension? Could you share your config?

[2019-10-17 12:21] pieh commented on #18689
Under the hood it would be pretty similar to what you already implemented - so `page-data` for pages would contain list of additional modules (components in this case) that both `loader.js` (in browser) and `static-entry.js` (for ssr) would need to handle.

I don't think there would be any difference in terms of webpack setup for both of our ideas - in the end we would end up with list of addition

[2019-10-17 12:46] theajr commented on #11165
@sidharthachatterjee  @LekoArts

So far, I found that we are not enforcing webpack rules on js/jsx file.
We can do that in `packages/gatsby-plugin-preact/src/gatsby-node.js` file by adding below rule under `module.rules`
[code]

Or is there any other generic place to add such enforcing rules? Please let me know your thoughts.

I would like to work on this. Can you please assign it me?

[2019-10-17 13:00] LekoArts commented on #18392
Thank you for opening this!

Sharp already has a feature called `cropFocus` which you can see in action here: https://image-processing.gatsbyjs.org/

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 13:00] #18392 closed

[2019-10-17 13:01] LekoArts commented on #18339
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-10-17 13:08] RobinHerzog commented on #18225
This is not related to Mixpanel but to gatsbyjs.

How can I get more data on the function bellow?

[code]

[2019-10-17 13:08] LekoArts commented on #18401
Thank you for opening this!

I think universse already gave a good answer. If you need further help you could also ask on Reactiflux or StackOverflow.

We're marking this issue as answered and closing it for now. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 13:08] #18401 closed

[2019-10-17 13:10] LekoArts commented on #18437
Thank you for opening this!

Please refer with your question to the respective source plugins as we don't maintain those ourselves. Thanks!

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 13:14] LekoArts commented on #18438
Thank you for opening this!

Please have a look at this issue: https://github.com/gatsbyjs/gatsby/issues/5021
It should answer your question.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 13:14] #18438 closed

[2019-10-17 13:15] LekoArts commented on #18570
@dustinhorton You could have a look at these solutions in the meantime: https://github.com/gatsbyjs/gatsby/issues/5021

[2019-10-17 13:22] LekoArts commented on #18344
Thank you for opening this!

Is my above understanding correct ? Please do comment if you have better suggestions.

If you're referencing browser APIs or `window` and guard against that (so that during the build Node.js doesn't complain), then yes it'll only be rendered on the client and won't be in the HTML.

However, I personally think your Flexbox component isn't ideal and you should use `@supp

[2019-10-17 13:22] #18344 closed

[2019-10-17 13:27] LekoArts commented on #18327
Hi. Please make sure that you installed the CLI correctly. Try running `gatsby --version` and see what the result is. Please also provide more information on what you tried and what errors you're seeing (and when). Thanks!

[2019-10-17 13:33] manuelJung commented on #18689
ok. so what are the next steps? Who should create the RFC?

[2019-10-17 13:35] LekoArts commented on #18510
Thank you for opening this!

Please reach out to the authors of the source plugin as we don't maintain it ourselves. Hopefully they can help you with your issue. Thanks!

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby!

[2019-10-17 13:35] #18510 closed

[2019-10-17 13:37] LekoArts commented on #18503
Thank you for opening this!

Please reach out to the authors of said remark plugins, I'm sure they are able to help you with the issue. As we don't maintain these plugins we don't have any context on their intended usage.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to

[2019-10-17 13:37] #18503 closed

[2019-10-17 13:44] LekoArts commented on #18516
Thank you for opening this!

Please follow our issue template in the future as I don't currently understand what you're asking. I'd highly appreciate it if you could open a new issue following that or updating this issue.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to

[2019-10-17 13:44] #18516 closed

[2019-10-17 13:59] KyleAMathews commented on #18689
Awesome to see this discussion! There's a lot of fun things we could do with this. One note is that the API would need to be generic so multiple types of resources could be attached to pages for prefetching (didn't see if that came out clearly in the above discussion).

See my RFC on prefetching critical images for another use case this would satisfy https://github.com/gatsbyjs/rfcs/blob/prefetch-

[2019-10-17 14:31] LekoArts commented on #18563
https://www.styled-components.com/docs/tooling#better-debugging

The official documentation doesn't mention that you absolutely must disable it in production. I also think that it's OK as of right now, people who want to disable it (and have reasons for it) are able to do it.

[2019-10-17 15:41] wodenx commented on #18672
Yes - that was exactly the problem for us.   I understand that gatsby-cli needs react as a dependency (otherwise you couldn't run it without first installing react globally) -- so I'm proposing we move up the chain of dependencies and remove the dep of gatsby on gatsby-cli.

[2019-10-17 16:03] gillkyle opened #18775 "[docs] add more specific file instructions for Using Gatsby Image doc"
## Description

Several comments on the [Using Gatsby Image](https://www.gatsbyjs.org/docs/using-gatsby-image/) doc mentioned their difficulty understanding where the GraphQL query should be added in step 4 of the instructions. Currently, the code block example in step 4 just shows a GraphQL query, that query is what would be used in the same code block in step 5, but the instructions don't make t

[2019-10-17 16:11] sazhang commented on #18775
hey, i'd love to tackle this. thanks!

[2019-10-17 16:15] nucliweb opened #18776 "Optimize all `docs/` images"
## Summary

I know that the plugins optimize the images in the build process, but we can optimize **lossless** all images into the `docs` folder: screenshots, avatars, gif animations, etc...

This optimizes too the build time because the images are smaller

### Basic example

I have the images optimized in [perf/images-optimization](https://github.com/nucliweb/gatsby/tree/perf/images-optimization)

[2019-10-17 16:25] scnroy commented on #5330
For what it's worth, we never found a good solution here. Our workaround has been a little node script that runs`gatsby build` once for each domain, then moves and renames the generated public folder into a final dist folder.
In some cases, we're running `gatsby build` 18 times in a row, which takes ~45 min.

[2019-10-17 16:30] gillkyle commented on #18775
Sure thing, go for it @sazhang!

[2019-10-17 16:45] pauleveritt commented on #15305
Should this work with deletion of the parent?

I have a parent-child transformer working using:

[code]

When I comment out that line, and add `@childOf(types: ["Mdx"])` on my type, my queries fail to grab the parent (and don't delete the child.)

[2019-10-17 17:24] horacioh commented on #18776
ping @LekoArts @m-allanson :)
this would be great for the translation repos too 👍

[2019-10-17 17:27] #12999 closed

[2019-10-17 17:27] #16472 closed

[2019-10-17 17:27] #17609 closed

[2019-10-17 17:27] #17628 closed

[2019-10-17 17:29] iDatLe commented on #18731
@neefrehman

Yup, no problem! Unfortunately, that plugin only removes the hash from javascript file names. Gatsby bakes another hash (webpackCompilationHash) into HTML files (every one of em it seems). There was no solution to this until that PR arose.

They've now removed the hash from all HTML files and put it into a singular app-data.json file.

[2019-10-17 17:31] trangthule opened #18777 "Unable to Connect to localhost with local Wordpress"
## Summary
I tried to connect Gatsby with a local installation of my Wordpress site. Besides lots of 401 errors, I was unable to connect to localhost.
[unable to connect](https://imgur.com/IP4IcmS)

## Steps to Reproduce
- install Local by Flywheel
- make a copy of my live site in Flywheel
- edited gatsby-config.js
[code]

- added this to gatsby-node.js to fix the self-signed certificate issue in

[2019-10-17 17:39] gillkyle opened #18778 "[docs] add console.log instructions to debugging the build process"
## Description

A suggestion from documentation feedback asked if there was a way to `console.log()` output from the build process. Reviewing the [Debugging the Build Process](https://www.gatsbyjs.org/docs/debugging-the-build-process/#vs-code-debugger-auto-config) doc shows a detailed guide on setting up debugging for VSCode or the Chrome developer tools. However, at its simplest, knowledge that y

[2019-10-17 17:45] aconnor731 commented on #10841
## High-level error message or summary

[code]

### Stacktrace
I'm not sure how to do this.

### Environment info
[code]

[2019-10-17 18:07] leepowellcouk commented on #1514
Sorry to bring this up on such an old issue - but was there ever any solution to re-run createPages when source changes from something like `gatsby-source-wordpress`?

[2019-10-17 18:18] sakshamtaneja21 opened #18780 "New Translation Request - Hindi"
[code]

[2019-10-17 18:24] gillkyle opened #18781 "[docs] convert reach router and Gatsby stub article to a short doc"
## Description

The doc for [Reach Router and Gatsby](https://www.gatsbyjs.org/docs/reach-router-and-gatsby/) is a stub right now, waiting to be filled in. Several comments from the feedback widget have noted finding this page empty is frustrating.

Adding at least an overview of how the two are related would be better than nothing.

## What to Do

Add some simple information about how Gatsby uses

[2019-10-17 18:28] antoinerousseau commented on #18563
Well you don't have to minify your JavaScript either, but doing so makes the payload lighter... And there is no obvious advantage not doing it in production

[2019-10-17 18:52] oowowaee commented on #5330
Facing this issue right now - all the other pages within my app are fine (I am using the localized slugs for those pages, so the paths are different), but I am trying to rewrite domain1.com to domain2.com/spanish.  Everything works fine on the netlify side, but unfortunately gatsby updates the url in the navbar to domain1.com/spanish.

[2019-10-17 19:06] tylerwray commented on #18781
🙋🏻‍♂️I'll be happy to take this one.

[2019-10-17 19:38] judepark opened #18782 "Trying to create a second blog template on my Gatsby site, Help with gatsby-node.js file?"
## Description

Trying to create a second blog template (articles and projects) on my gatsby site, but current gatsby-node.js file leads to ```TypeError: Cannot read property 'articles' of undefined```

### Steps to reproduce

My current gatsby-node.js file:
[code]
### Expected result

I expected two new markdown templates or my "articles" blog posts and my "projects" blog posts.

### Actual resul

[2019-10-17 20:00] asokani commented on #5136
I have the very same problem right now. className for div just disappears when project is built.

[2019-10-17 20:02] leepowellcouk commented on #18040
Just been playing with the `__refresh` hook - very handy. Thanks. Seems to work great with Wordpress except on trashing/deleting pages ... even when they're deleted via the admin area and non-existant in the DB the graphql query is still returning them upon refresh as being published. Even in `GraphiQL` I can query and see them.

[2019-10-17 20:04] leepowellcouk commented on #18040
By the way, I'm using refresh from my wordpress theme like so:
[code]

[2019-10-17 20:15] muescha commented on #17931
CC @gatsbyjs/learning @marcysutton

[2019-10-17 20:25] tylerwray commented on #18781
Got a PR up. I'd love any feedback.

[2019-10-17 20:27] marcysutton commented on #16981
The remaining work is covered by open issues:

- #15231 (digestible API docs)
- #15157 (Finish the Static vs. Normal Queries Page)

I'm going to close this workflow issue as a result, and we can continue on those outstanding issues separately.

[2019-10-17 20:27] #16981 closed

[2019-10-17 20:33] #17385 closed

[2019-10-17 20:40] marcysutton commented on #13305
Hey @jjroush, how's it going on this issue?

[2019-10-17 20:46] gillkyle commented on #11946
I'll take this on, one thing worth noting is that with adding dark mode and changing to Theme-UI, we can add some more of the notes in the `www` README to the Contributing docs as well so folks contributing can be aware how the design tokens are working.

[2019-10-17 20:47] marcysutton commented on #16095
Hey @DSchau, there's a related issue to the plugin authoring stuff that may be worthwhile to include as part of this work: https://github.com/gatsbyjs/gatsby/issues/8697

[2019-10-17 20:49] marcysutton commented on #16980
My recommendation is to break up the recipes by topic, so that people can compare and contrast different techniques in the same category. We are not going to create a tagged database at this time -- it's outside of the scope of this issue.

[2019-10-17 20:49] leepowellcouk commented on #14395
@DotFreelance - I’m experiencing the same issue, don’t suppose you found any solution?

[2019-10-17 20:50] marcysutton commented on #11200
Hey @nullhook, I just saw this–that would be fantastic. We would love a PR if you're up for it, and if you can pull it off in the month of October you could get credit for Hacktoberfest as well!

[2019-10-17 20:52] marcysutton commented on #14125
That sounds great, @FlorianDr!! Let us know if you have any questions.

[2019-10-17 20:54] marcysutton commented on #12093
This is delayed, but a PR would be pretty fantastic as no one has yet picked this up. @LekoArts any input on @CanRau's questions?

[2019-10-17 20:55] marcysutton commented on #12158
Yes it is! Based on the original issue title including "contributing", this seems partially related to #11946. We would definitely welcome a PR, and if you have any questions let us know!

[2019-10-17 20:56] marcysutton commented on #13782
I'm to close this issue as I believe it's resolved, but feel free to open if needed. Thank you!

[2019-10-17 20:56] #13782 closed

[2019-10-17 21:05] laurenskling commented on #14611
Could the stale label be removed?

[2019-10-17 21:07] laurenskling commented on #18451
Renaming the query is just wiping away an actual error.

What is happening is that the _original_ query is being run. as mentioned here: https://github.com/gatsbyjs/gatsby/issues/14611#issuecomment-542762340
You are probably seeing `warn The GraphQL query in the non-page component ...` on your shadow component in the build steps as well

[2019-10-17 21:12] laurenskling commented on #18451
Just found this: https://github.com/gatsbyjs/gatsby/issues/16927 🎉

[2019-10-17 21:31] DotFreelance commented on #14395
No, unfortunately. I still use Gatsby, the workflow aside from this is incredible, it would just be nice to have the option to refresh the backend data on dev.

For now I’m just restarting the server when data changes.

[2019-10-17 21:36] Travisg25 commented on #14931
I'd love to help but I was never able to find a solution to this particular issue. I ended up restarting the project and did not have the same issue.

[2019-10-17 22:00] sever1an commented on #15529
Homebrew has (had?) aspirations to be useful in Linux as well and definitely *can* be installed there. The instructions to use homebrew are probably guiding some Linux users to install it however ill advised.

https://docs.brew.sh/Homebrew-on-Linux

[2019-10-17 22:13] unclecheese commented on #13993
@good-idea Did you have any luck with this? I'm experiencing the same issue.

[2019-10-17 22:15] pieh commented on #18672
Gatsby is making heavy use of `reporter` utility that is part of gatsby-cli (which propably should be ripped out to be separate package). But the issue would remain, because it's actually `reporter` that needs `react` as it uses [ink](https://github.com/vadimdemedes/ink) (React for CLIs) to build out CLI output. And we can't just rely on `react` installed for gatsby site, because CLI can be used a

[2019-10-17 22:26] kompounder commented on #18744
Thank you. I tried the client-only route and it works well - it doesn't conflict statically generated pages. Gatsby-link works as well.

[2019-10-17 23:02] #18781 closed

[2019-10-17 23:26] Jeddf opened #18785 "[docs] Togglable "added" lines in code blocks (with GIFs! 🎉)"
## Summary

New "added" sections for code blocks, with the same mechanism as highlighting, highlighted in green and able to be toggled in and out of the block.

Currently have a messy but working implementation (#18786 ), keen to get feedback on based on the gifs below.

### Basic example

**Animated**
![added-toggle](https://user-images.githubusercontent.com/2471488/67053066-328bdc00-f138-11e9-9d

[2019-10-17 23:54] thchia commented on #18672
The issue with 2 copies of React is that it will break. It’s a known prohibition (it even throws an error saying that you can’t have 2 copies of React).

[2019-10-18 00:07] marcysutton commented on #17210
This seems like something that would benefit from a structured error message, as related to #15019.

[2019-10-18 00:08] sbodi10 commented on #16281
When downgrading to `2.13.25`, I get the following error when running `npm run start`

The above error occurred in the <StoreStateProvider> component:
    in StoreStateProvider
    in App

React will try to recreate this component tree from scratch using the error boundary you
provided, App.
Warning: App: Error boundaries should implement getDerivedStateFromError(). In that method, return a state

[2019-10-18 00:53] marcysutton commented on #18278
Great question (and thanks for your patience)! I agree, this is very related to the [Themes Workflow](#18242) and it provides an opportunity to clarify what Gatsby themes are and how styling fits into them. I do think we need to be careful about introducing new terminology or definitions, especially since Gatsby "themes" already provide a bit of a learning curve.

Themes are a type of plugin with

[2019-10-18 01:14] marcysutton commented on #18242
To add some of the things we talked about today:

- Some content is covered on the blog and could be cross-linked in the docs, such as Why Themes and the Roadmap. See the themes tag for where that stuff exists: https://www.gatsbyjs.org/blog/tags/themes
- For the Marketplace thing, we need to have bigger discussions internally but we could link to the [Theme Jam submissions](https://themejam.gatsby

[2019-10-18 01:27] me4502 commented on #17754
@skrapkam Which plugin was causing the issue for you? I've just been reported it on a site that only uses a small number of the official Gatsby plugins :/

[2019-10-18 02:11] Js-Brecht commented on #14990
I have submitted a PR that should fix the problem, but it's dependent on an upstream PR.  Check out #18703.  Could be a little while before it gets merged, though, depending on how long we wait for `devcert` to merge the PR there

[2019-10-18 02:26] slightlyoff opened #18787 "`gatsby/cache-dir/loader.js` eval's JSON on main thread, doesn't use `fetch()`"
## Description

In traces like this one:
    https://www.webpagetest.org/result/191017_J5_d438a3f9ef614a319b46a66ae936fb5b/1/details/#waterfall_view_step1

The way that Gatsby's `loader.js` evaluates JSON leads to long main-thread tasks. At core, this is because of the use of [`JSON.parse(responseText)`](https://github.com/gatsbyjs/gatsby/blob/6c64948edf547b59bf68133956f6be55954f7735/packages/gats

[2019-10-18 03:20] jayphelps commented on #18787
My understanding has been that using Response's `await json()` doesn't actually parse JSON off the main thread. Few years ago folks pointed this out on twitter when someone suggested using it as a more performant json parsing solution.

Testing right now seems to confirm this is still the case, though I don't have time to put together an example that is easy to understand, here is at least an exam

[2019-10-18 03:24] universse commented on #18713
Not sure if it's the same thing. I'm requesting for theme that can resolve its own local plugins. This way, I can publish this theme and share among projects.

On the other hand, the PR is to enable local theme that is exclusive to individual project.

[2019-10-18 04:16] trangthule commented on #18777
After making this post, I realized that the issue was definitely not Gatsby's. It had something to do with the way my Wordpress was set up. I then disabled the plugins from the database, and it worked.

I'm closing this issue now. If someone encounter the same problem as mine, try disabling plugins, because they may force SSL certificates.

[2019-10-18 04:16] #18777 closed

[2019-10-18 06:07] universse commented on #18744
You are welcome.

[2019-10-18 06:07] #18744 closed

[2019-10-18 06:26] d4rekanguok opened #18791 "Hide component path in componentChunkName"
## Summary

Currently, the component path is exposed publicly via `window.___chunkMapping`:

[code]

I recently saw this SO question <sup>[link](https://stackoverflow.com/questions/58389721/rename-webpack-gatsby-chunkmapping-strings)</sup> & I think it's reasonable to hide these path, maybe only in production build.

Upon a bit of search, I found that the code here is responsible for generating:

[2019-10-18 07:11] LekoArts commented on #18563
Updating the documentation (+ including a short explanation what the line does) should be enough IMO.

[2019-10-18 07:56] leepowellcouk commented on #18040
After some investigation last night it seems that Gatsby (maybe this is the responsibility of `gatsby-source-wordpress`) quite happily adds new nodes upon refresh but isn't removing nodes that are not returned from the refresh of source data. I've managed to get this working as a POC for now by utilising the `normalizer` callback in  `gatsby-config.js`:

[code]
I've only tested this with removing

[2019-10-18 08:01] leepowellcouk commented on #14395
@DotFreelance If it helps I had some success in getting it to work - documented here https://github.com/gatsbyjs/gatsby/issues/18040

[2019-10-18 08:04] zteric opened #18795 "Override default options of gatsby-plugin-page-creator doesn't work on windows."
## Description

Can not override default options of gatsby-plugin-page-creator on windows because the path can not match.

### Steps to reproduce
I was tring to override the default configurations to avoid some of the files being turned into real pages but failed.
Here's the configuration.

[code]

Here's what I found after exploring and debug in source code.

`packages/gatsby/src/bootstrap/load-p

[2019-10-18 08:16] MarcusCemes commented on #17136
As far as I'm concerned, this is still an open issue, as it seems that libraries using `core-js@3` (such as `redoc`) are not compatible with Gatsby. This seems like it would require some refactoring of Gatsby's internal code, which I'm not familiar with.

I'll leave the question of to close or not to close to someone with more of an idea of the complexity of the issue.

[2019-10-18 09:08] neefrehman commented on #18731
@iDatLe Thanks for the extra details, that makes sense!

One more question, when deploying your site with the linked branch are you still `gatsby-plugin-remove-fingerprints` and/or `gatsby-plugin-netlify-cache`, or does moving the hash into `app-data.json` remove the need for these as well?

[2019-10-18 09:55] pieh commented on #18787
Reason for not using `fetch` (when this code was written) was related to chrome doing double fetches when using

`<link rel="preload" href="/some-path" as="fetch" />`

and later on doing `fetch` request. We initially were using `fetch` but it was resulting in double requests (regardless of various possible configurations) - but it wasn't the problem with xhr. So we were presented with 2 choices, b

[2019-10-18 10:00] citypaul commented on #17875
Can somebody please add the "not stale" label to this issue, as I don't believe this is stale?

[2019-10-18 10:33] jonicious opened #18796 "Custom eslint config is not getting picked up"
Hey everyone!

First, I want to thank you for creating Gatsby. I am having more fun developing websites than ever before.

However, I am having trouble using a custom eslint config. Sorry if this is an issue on my side. I also had a look at the existing issues but did not find anything.

## Description

Following the [docs on eslint](https://www.gatsbyjs.org/docs/eslint/), I installed the mentione

[2019-10-18 10:52] jonicious commented on #18796
I found [this plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/?=eslint). Using the plugin, eslint errors are shown in the console when running `gatsby develop`. This brings up more questions:

* Is the plugin the way to go?
* If the plugin is the way to go, should we update the docs as they seem to be not working?

[2019-10-18 10:57] olavea commented on #8478
This was useful. Thanks @mikelax 😺 . Thanks @nicolasrouanne 😺. Thanks @anderskitson 😺

[2019-10-18 11:02] universse commented on #18795
It should be

[code]

You're welcome to open a pull request :)

[2019-10-18 11:07] bersot1 opened #18798 "iframe in markdown"
## Description

I need to put a iframe embed in my blog. I saw that there are some plugins, but I couldnt put it to work...

using this plugin for exemplo: gatsby-remark-embed-markdown

gatsby-config.js
![gatsby config](https://user-images.githubusercontent.com/51892738/66647434-4e0a5a80-ebff-11e9-87a2-96a460556c37.png)

my struct
![struct](https://user-images.githubusercontent.com/51892738/666473

[2019-10-18 11:16] pieh commented on #18796
The ["Using ESLint" docs](https://www.gatsbyjs.org/docs/eslint/) seems to skip important note, that gatsby disables builtin `eslint-loader` if it detects custom eslint configuration (assuming that if custom .eslint config exists, then user takes over linting and we should disable basic linting that gatsby does), which is what this snippet that you found is doing:

https://github.com/gatsbyjs/gatsb

[2019-10-18 11:33] aharris commented on #18728
@pieh thanks for looking into this. Unfortunately I cannot share the code. I have it working for me by rolling back to 2.7.26. I just think changes to packages should be opt in, not forced behind the scenes. Using exact versions would prevent both of these error messages from coming out of now where forcing unnecessary debug time.

[2019-10-18 11:34] jonicious commented on #18796
Alrighty, that explains the problem. Thanks @pieh! What do you think about mentioning this in the docs?

[2019-10-18 11:38] MartDL commented on #15038
Hi Dina,
I’m having exactly the same fault. How did you solve it in the end??
Many thanks
Martin

[2019-10-18 11:44] pieh commented on #18728
Yeah, that's valid point about pinning our own deps. Even if do that we can't fix already released package versions tho :S

[2019-10-18 12:26] #18571 closed

[2019-10-18 12:31] tbrannam commented on #14228
Would be great to cover how to create directives for non-fields (createFieldExtension only covers FIELD_DEFINITIONS).
Is there an equivalent of createFieldExtension for types?   It seems that there isn't a way to add a directive to non-fields?   Looking for a way to add a directive that can be annotated at an Object level.

[2019-10-18 12:56] simonjoom opened #18801 "Gatsby compilation much Slower with ink than yurnalist's logger"
I have got a big application to build with gatsby,

i constated a build much more slower still i ve got updated my gatsby, (it's not related to the last version but the logger to use), i found out that the cause is the logger

I checked that if i force gatsby to use the logger yurnalist instead by default Ink that gatsby-cli select, my application build in 30sec less time!

AS well in all my scrap

[2019-10-18 13:01] stefanprobst commented on #14228
@tbrannam what's the usecase for custom type extensions?

[2019-10-18 13:04] sidharthachatterjee commented on #16957
So to summarise, it appears that we're hitting this when multiple versions of `sharp` are encountered. When this is with other dependencies (like `favicons`), we can't really control that.

However, we should probably improve the experience if people are hitting this using multiple gatsby plugins (like `gatsby-plugin-sharp` and `gatsby-plugin-manifest`)

Let's track that in https://github.com/gats

[2019-10-18 13:04] #16957 closed

[2019-10-18 13:41] sidharthachatterjee commented on #18042
@TomFevrier Thank you for opening this and apologies for not being able to take a look at this earlier.

We just took a look at this. The reason you aren't able to query with a `relativePath` argument is because

- Your config an instance of `gatsby-source-filesystem` for the `public/static` directory
- The directory doesn't have any images
- Therefore Gatsby doesn't generate the right schema

A s

[2019-10-18 13:41] #18042 closed

[2019-10-18 13:43] sidharthachatterjee commented on #18801
Hello! This is a known issue and is being tracked in https://github.com/gatsbyjs/gatsby/issues/15505

Let's continue the conversation there. Closing this for now! Thank you for opening nonetheless.

[2019-10-18 13:43] #18801 closed

[2019-10-18 13:44] DmacTorstar commented on #14395
@jeffreznik can we reopen this issue? This is quite important.

[2019-10-18 13:47] sidharthachatterjee commented on #18780
@sakshamtaneja21 I've taken the liberty to rename the issue title and fix the description 🙂

[2019-10-18 13:55] sidharthachatterjee commented on #18382
@qramilq Sorry for not responding to this before!

Can you please try reproducing this with the latest version of `gatsby`? If it is still reproducible, I would love to take a look and help fix this.

[2019-10-18 14:01] TomFevrier commented on #18042
Thank you for the pull request. However Netlify still gives me a similar error on deployment:
[code]
I must precise that Gatsby builds successfully locally, the issue only occurs on deployment. Is there an issue with Netlify and gatsby-image?

Looking forward to hearing from you!

[2019-10-18 14:02] simonjoom commented on #15505
yeah got the same problem too much slow with ink,
for me i use yurnalist, no need much more animations anyway.

To use yurnalist just remove ink from your dependencies, gatsby won't use Ink it if he doesn't find Ink

[2019-10-18 14:03] leepowellcouk commented on #14395
@DmacTorstar - there is a PR happening here that might open up some conversation: https://github.com/gatsbyjs/gatsby/pull/18802

[2019-10-18 14:30] tbrannam commented on #14228
I may have the name of what I'm looking for wrong.

In this particular use case I am working to add additional metadata which would be processed by an Apollo-Link (by modifying the graphql context for the query) The implementation of the link would modify some headers which are required to modify some HTTP headers for a few specific Graphql queries (Localization related).

Originally I thought tha

[2019-10-18 14:39] kevee commented on #16980
Agreed, I've been buried in other projects for a few weeks but I'll get on a PR early next week.

[2019-10-18 14:42] sidharthachatterjee opened #18803 "Accessibility audit of official starters and themes"
We have several official starters and themes in this repository now and I think it's a good time to consider auditing them for accessibility.

We should audit the following

### Starters

- [ ] blog
- [ ] default
- [ ] gatsby-starter-blog-theme
- [ ] gatsby-starter-blog-theme-core
- [ ] gatsby-starter-notes-theme
- [ ] gatsby-starter-theme
- [ ] gatsby-starter-theme-workspace
- [ ] hello-world

##

[2019-10-18 14:48] sidharthachatterjee opened #18804 "GraphQL schema for File"
Currently, the `File` Node type in Gatsby has its schema inferred from example files present in the site.

This can cause a frustrating experience for folks when sites don't have an example file or when first including a theme with no content. An instance of this is documented in https://github.com/gatsbyjs/gatsby/issues/18042

The way to fix this would be to use the Schema customisation API to de

[2019-10-18 14:57] lannonbr opened #18805 "[site-showcase-validator] check source_url in entries are public"
## Summary

Have a way for the site showcase validator to notify us if an entry has a `source_url` pointing to a private repo.

### Basic example

Say I have a site at gatsby-site.dev and in the entry I have the `source_url` at https://github.com/lannonbr/gatsby-site, but that repo is private. then we should contact the site maintainer to either make the repo public or remove the `source_url` fiel

[2019-10-18 15:01] sidharthachatterjee opened #18806 "GraphQL schema for SitePage"
Currently, the `SitePage` type in gatsby has its schema inferred from pages present in the site.

We should use the Schema customisation API to define the schema for `SitePage`. This should live in `gatsby` which owns this type.

Here is how I recommend getting started

- Use gatsby-plugin-schema-snapshot to print a snapshot of a schema (including an image and this plugin)
- Audit that schema
- Us

[2019-10-18 15:19] kriswep commented on #18778
I‘d like to write something regarding that.
Could you assign me?

[2019-10-18 15:22] DmacTorstar commented on #14395
I agree so strongly with @DotFreelance
The workflow with gatsby having to rebuild manually every time is such a chore.
The very least we could have would be a manual refresh button, and some big disclaimer in the docs so that people are not wondering why their data is not being re-built.
Perhaps in the cli tool, a refresh endpoint hit could be injected into the app.
**_Something_** to help the dev

[2019-10-18 15:24] sidharthachatterjee opened #18808 "Sanitise Error in gatsby telemetry"
We used to sanitise Error in telemetry and still have code for it in the `sanitizeError` function in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-telemetry/src/error-helpers.js but appears that we don't use it anymore.

Most errors passed to this are structured errors and shouldn't have an issue. However for other errors, the entire Error object is _indeed_ passed through in http

[2019-10-18 15:29] lekterable commented on #18805
I could pick it up

[2019-10-18 15:58] sidharthachatterjee opened #18809 "Mark gatsby binary as an executable in gatsby-dev-cli"
When `gatsby-dev-cli` copies over files in a local project, it doesn't mark the `gatsby` binary in `node_modules/.bin` as an executable which causes running `yarn gatsby develop` to fail.

We fix this by running `chmod +x node_modules/.bin/gatsby` but it would be nice to get to the root of this issue and fix it in `gatsby-dev-cli`

[2019-10-18 16:07] gillkyle commented on #18778
Thanks @kriswep, it's all yours!

[2019-10-18 16:08] lannonbr commented on #18805
Go ahead!

[2019-10-18 16:12] trentontri commented on #16097
@wardpeet I am still seeing this issue on gatsby version `2.13.45` here is my repo that is being deployed to github pages https://github.com/trentontri/trentontri.github.io
and here is the route that fails to load for some reason http://trentonkennedy.com/projects

[2019-10-18 16:19] zteric commented on #18795
Sure, I've fixed it on my local while debugging and will open a pull request.Thanks.