[2019-04-22 12:16] giacomocerquone commented on #7484
This is awesome, if someone of you needs help tell me, I'm available to work on the doc!

[2019-04-22 13:59] brimtown commented on #13164
PR is open over at https://github.com/gatsbyjs/gatsby/pull/13395, would love to start getting feedback!

@DSchau noticed in #13397 that Gold Medal Flour also forked `gatsby-image` to support art direction, with a slightly different API than what has been talked about here: https://github.com/thadroe/art-direction-images-for-gatsby.

It looks like that approach only supports art directing between t

[2019-04-22 14:32] kripod opened #13546 "Strongly typed GraphQL queries"
## Summary

Currently, the only option available to check for invalid GraphQL queries is through [eslint-plugin-graphql](https://github.com/apollographql/eslint-plugin-graphql) by using [gatsby-plugin-extract-schema](https://www.gatsbyjs.org/packages/gatsby-plugin-extract-schema/).

It would be nicer if static types could be generated with [graphql-code-generator](https://github.com/dotansimha/gra

[2019-04-22 14:40] orta commented on #13546
The [under-the-hood](https://github.com/gatsbyjs/gatsby/blob/5078f03027c868554111f48fbd5d685c403a9fdd/packages/gatsby/src/query/query-compiler.js#L7-L9) relay-compiler should have enough knowledge to generate for them for you (similar to how we build React apps ([query](https://github.com/artsy/emission/blob/1183c139191b9557724e386dfae7caada1cc55e1/src/lib/Scenes/Settings/MyProfile.tsx#L127-L134)

[2019-04-22 15:38] jeffchuber commented on #13437
@DSchau what do you think about the idea above of setting up a route to serve a static file?

[2019-04-22 16:20] BubbaJoe commented on #10457
I don't understand.. Why is this closed? Can the developers actually do something please?

[2019-04-22 16:35] krishnakakade1999 commented on #11179
This is kind of related to this issue #3733. When pulling the content:

<div dangerouslySetInnerHTML={{ __html: post.content }} />

the image is loaded from the domain where the WordPress is installed.

Is there anyway we can load the WordPress content images similar to how ACF images are loaded and saved internally?

[2019-04-22 16:57] realgt commented on #12155
i  just ran into the same issue trying to refactor my growing gatsby-node query into fragments stored elsewhere. hope theres a fix for this

[2019-04-22 17:04] baobabKoodaa commented on #12155
@realgt If you only need those fragments inside a gatsby-node query, then string interpolation is not a bad solution. I actually ran into this issue again yesterday, but I need to use the fragments in static queries as well, which means I can't use string interpolation and now I have duplicated code :(

[2019-04-22 17:08] realgt commented on #12155
@baobabKoodaa string interpolation just seems like a dirty solution, the graphql equivalent of sql injection

[2019-04-22 17:27] #11541 closed

[2019-04-22 17:39] tylercrosse commented on #12569
@maxpou had another issue involving static queries in a theme that has been resolved but I think @masimplo's originial issue is still unresolved.

**Supporting static queries defined in places other than the current site**

It looks like there is some potential to resolve this using themes or potentially listing packages that contain static queries in the `gatsby-config` but it's unclear what that

[2019-04-22 18:00] TylerBarnes commented on #11179
@krishnakakade1999 the issues are the same. The plugin mentioned above solves the issue!

[2019-04-22 19:02] bigtiger commented on #11436
Sign post for other travelers ⏩https://github.com/gatsbyjs/gatsby/issues/12384

This resolved a similar issue for me.

[2019-04-22 19:40] protoEvangelion commented on #13213
I was still getting an error but this fixed it:

[code]

No need to install core-js module.

[2019-04-22 20:06] zslabs commented on #5021
@skylarweaver I'm definitely on the same page with ya. While I do understand the nature of creating a node field that can have this information parsed, it also becomes a bit unwieldy with CMS data that may have repeatable fields and a large amount of variations of field names to sift through; on-top of not having a clear way of re-using any/all Gatsby Remark plugins at that time.

[2019-04-22 20:09] JoshRozin commented on #3686
@deegha I FOUND A WORK AROUND. Holy hell, that was about 2 weeks of errors. Okay, I'm a little bit excited so I'll try to explain the best I can. The issue comes from a problem with gRPC (a dependency of firebase/firestore), which has trouble finding bindings from node-pre-gyp (it's dependency) on Windows.   So instead of importing Firebase like this: import firebase from 'firebase/app'; , you nee

[2019-04-22 20:27] jafaircl commented on #13454
@hcavalieri the `gatsby-plugin-amp` plugin doesn’t *need* a .amp version of the template. If it finds a matching page, it’ll try to convert it to an AMP page either way. Most simple gatsby sites would probably be fine. But, any dynamic content or functionality would break during this process. That’s why there’s the option to create an AMP-specific template. It’s not strictly necessary, though.

Le

[2019-04-22 20:28] jonniebigodes commented on #13392
@onokje  i've picked up on your issue and first and foremost sorry for the late response.

From my testing i think i have a solution for you.

Below are the steps i took:

- Created a basic Gatsby website based on the hello world starter.
- Added the dependencies `babel-preset-gatsby`, `react-intl` and `babel-plugin-react-intl`
- Created a `.babelrc` with the following content:
[code]
- Created a

[2019-04-22 20:29] jaredsilver opened #13549 "Alias `--with-prefix` to `--prefix-paths`"
I don't know about everyone else, but I make this mistake all the time. `--with-prefix` feels like a more natural way to say this.

[2019-04-22 20:45] cosbor11 commented on #3220
@KyleAMathews - Hey! It it looks like parcel supports code-splitting with the current version:
https://parceljs.org/code_splitting.html. I like that parcel is all about trying to minimize configuration

[2019-04-22 20:54] JustFly1984 opened #13551 "How can I use different set of gatsby.config.js plugins for dev, staging and production environments?"
For all of our gatsby.js projects, we are using at least 3 environments, and the typescript.

Is there a way to use unique set of plugins, or even different gatsby.config/node/ssr js depending on ENV variable?

[2019-04-22 20:58] KyleAMathews commented on #13551
You can add/remove plugins and node/SSR code depending on the environment as it's all JavaScript.

[2019-04-22 20:58] KyleAMathews commented on #13551
You can access env variables at `process.env.MYVAR`

[2019-04-22 22:12] wardpeet commented on #13551
@JustFly1984 we have an env variable just for that called `GATSBY_ACTIVE_ENV` (more info: https://www.gatsbyjs.org/docs/environment-variables/#additional-environments-staging-test-etc). It will still put NODE_ENV=production when running gatsby build so your site is minfied and everything but it will read different .env files from disk. You can also use it directly in code as @KyleAMathews describe

[2019-04-22 22:36] tessereth commented on #12964
I'm happy to open a PR for this, I just need to know whether your interested. In particular:

1. Is this something you think the plugin should fix or something the user should handle?
2. Assuming you want to handle it, do you want a periodic or on-navigation strategy?
3. What, if anything, should be configurable?

[2019-04-22 23:37] cluzier opened #13554 "gatsby-plugin-siteman returned an error ==> Error: URL is required"
## Description

Describe the issue that you're seeing.

I cannot deploy or build my website to GitHub Pages.
### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

Repo: https://github.com/cluzier/cluzier.github.io

if you check out my Gatsby-config.js file and

[2019-04-22 23:57] KyleAMathews commented on #13554
Did you set `siteURL` in your site metadata?

[2019-04-22 23:59] cluzier commented on #13554
yes I did

[2019-04-23 00:00] KyleAMathews commented on #13554
Not really sure what the problem is — does the site build without `gatsby-plugin-sitemap`?

[2019-04-23 00:04] cluzier commented on #13554
The site runs locally but when I try to either npm run build or deploy it gives me the same error:

[code]

[2019-04-23 00:24] AurelioDeRosa opened #13555 "[gatsby-plugin-offline] Can't exclude certain paths"
## Description

I have my own website built with Gatsby which have some folders that should not be managed by it. For instance, I have a blog running on WordPress and some static HTML files that I want to be served as they are, without Gatsby kicking in. This is an example of the project's folder structure:

/
--- /projects  <-- Gatsby
--- /speaking <-- Gatsby
--- /blog   <-- WordPress
--- /demo

[2019-04-23 00:50] dja commented on #13534
@KyleAMathews It looks like the site documenting how to create a reproduction doesn't work.

[2019-04-23 01:13] DSchau commented on #13534
@dja do you have something redirecting .dev domains?

The non-redirected URL is https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

[2019-04-23 01:28] DSchau commented on #13554
The issue is that the serialize option requires a normalized structure containing _url_ not siteUrl.

This is the corrected gatsby-config.js.

[code]

[2019-04-23 01:28] #13554 closed

[2019-04-23 01:31] cluzier commented on #13554
Thank you very much!

[2019-04-23 02:09] polarathene commented on #13164
@brimtown I'll review.

[2019-04-23 02:09] ferni opened #13556 "[gatsby-image] How to make a fluid image with minimum height?"
I want to make it so the image gets smaller when the container gets smaller, but, when the image reaches an arbitrary minimum height, the image would stop resizing and it would simply overflow the container.

[2019-04-23 02:30] fedort commented on #6654
I had the same issue, stuck on "source and transform nodes". After a lot of console.logs the problem ended up being time out issues with retrieving media files from wordpress. The problem wasn't the server not being able to handle it, but rather cloudflare rate limiting and throwing timeouts after about 350 requests.

I bypassed cloudflare, went straight to the vps and I'm no longer seeing "source

[2019-04-23 02:31] deegha commented on #3686
Thank you very much for the update. anyway i have created that API so i decided to go with that.

[2019-04-23 02:56] humbertqz commented on #6654
My workaround was to have a local wordpress for testing, the live site is in netlify, while deploying it did not cause any issue.

[2019-04-23 03:18] ferni commented on #13556
It was simply a matter of adding `style={{ minHeight: '200px' }}` to the Img element.

[2019-04-23 03:18] #13556 closed

[2019-04-23 04:36] lukebennett88 opened #13558 "objectPosition prop on `gatsby-image` does not appear to work"
## Description

[objectPosition prop on `gatsby-image` does not appear to work](https://www.gatsbyjs.org/packages/gatsby-image/?=gatsby-image)

### Steps to reproduce

Clone the following repo: <https://github.com/lukebennett88/objectPosition-bug-demo> and run the dev server (cd into directory and run `npm i && npm run develop`).

### Expected result

Use your dev tools to inspect the `gatsby-astr

[2019-04-23 07:57] LekoArts commented on #13558
As per [gatsby-image props](https://www.gatsbyjs.org/packages/gatsby-image/#gatsby-image-props) the `objectPosition` only applies for:

If you want to modify the style I'd advise to use `imgStyle`. `style` will apply your CSS to the wrapper, not the `img` tag.

[2019-04-23 07:58] LekoArts commented on #12983
Hello, thank you for opening this issue!

We would really like to help you with your problem/question but we don't understand your language and therefore kindly ask you to write in the English language. Google Translate can only help a bit and in the end it would be a frustrating guessing game for both parties.

Please feel free to open a new issue (in English) and we'd be happy to help you then 💜

[2019-04-23 07:58] #12983 closed

[2019-04-23 08:07] moonmeister commented on #13436
Okay, @wardpeet and I had a good chat comparing methods. I'm going to try to summarize.

## TL;DR

We have three options, 2 that are viable, both have pros/cons. The immediate action item for me (or any one who wants to help) is to create a example of `gatsby-plugin-manifest` using both viable options and that will get presented in a community meeting in the future for more discussion.

## The Opt

[2019-04-23 08:15] Kikobeats commented on #13534
Fixed ma problem: https://github.com/microlinkhq/www/commit/ebd5c8f9e0ae011415095e7ceb0f5ac27cad462b

I have a webpack alias over the `src` folder to be easy import any component, like `import { Svg } from 'components/elements'`

I rebuild the code many times, mainly for identifying what is introducing the error and generate the specific reproducible case.

I took me until `src/helpers/hoc/with-sl

[2019-04-23 08:15] #13534 closed

[2019-04-23 08:18] claudiobmgrtnr commented on #11867
Hey @wardpeet
Thx for looking into the problem!  🙌
Do you know if there will be a fix for this in the near future?

Cheers

[2019-04-23 08:21] MaralS commented on #13242
I have this issue too.
Here is the console log
[code]

I have no issues with the development version. I deleted the cache folder but it did not resolve the problem.

[2019-04-23 08:27] rzubrycki commented on #2407
Hey, guys, need help with this error:

"error Plugin gatsby-plugin-sitemap returned an error

  Error: Cannot query field "siteUrl" on type "siteMetadata_2". Did you mean "siteURL" or "start_url"?
  GraphQL request (5:11)
  4:         siteMetadata {
  5:           siteUrl
               ^
  6:         }"

[2019-04-23 09:06] ariadne-github commented on #13443
Thank you for your clarification, but I think I didn't explain myself well about the second part.

I'm fully aware that the issue is caused by trying to render two different things on client and server and that's ultimately a React problem.
The point is, that I'm not trying to do this for a specific app requirement, but because I'm following your suggested approach of client-side routes.
In my und

[2019-04-23 09:18] CyberV opened #13562 "React Slick breaks in Gatsby Build"
WRT #8188 and #8184. Both these issues are pointing to similar behavior but were closed due to lack of info.

Issue:
Slick-carousel component works fine when running in the gatsby develop mode. But when we switch to the prod build using 'gatsby build', Slick-carousel behaves erroneously. The carousel is not able to scroll through all slides even with infinite scrolling enabled. On some digging aro

[2019-04-23 10:25] onokje commented on #13392
Thank you for taking the time to write this essay, i really appreciate it ;)

After i tried your steps, it still didn't work for me at first, until i took a good look at our code, it turns out that we didn't use defaultMessage anywhere. That is the reason I didn't get any output, but it works now.

[2019-04-23 10:28] freiksenet commented on #12272
Published `2.4.0-alpha.2`.

[2019-04-23 11:17] lukebennett88 commented on #13558
Completely missed that, thanks Lennart!

[2019-04-23 11:17] #13558 closed

[2019-04-23 11:23] pieh commented on #13562
This is most likely caused by react-slick rendering different DOM structure in server side render and client side rendering. This is mentioned in react docs ( https://reactjs.org/docs/react-dom.html#hydrate ):

Also because server side rendering doesn't have concept of window width (there is no window when we produce static html), this is pretty difficult to solve (especially if `react-slick` chan

[2019-04-23 11:56] #11930 closed

[2019-04-23 11:57] frinyvonnick commented on #13549
I made a PR for this 😄

[2019-04-23 11:59] pieh commented on #6656
This should be mostly fixed (for now) with #10732

[2019-04-23 11:59] #6656 closed

[2019-04-23 12:01] frinyvonnick commented on #13270
Do you have some examples of usage for this function ?

[2019-04-23 12:09] pieh commented on #12485
Update about this - I tried using
[code]
with `gatsby@schema-customization` and it did work (as in it skipped trying to infer schema for context`). We will probably be merging that PR pretty soon.

In meantime I will close this issue as main problem (build was fixed) and it's getting confusing to touch on multiple different in same issue. Please create new one if it's still the problem.

[2019-04-23 12:09] #12485 closed

[2019-04-23 12:11] pieh commented on #8301
Update on this that I forgot to mention before:
We published `gatsby-plugin-sharp@2.0.33` with potential fixes for this problem - we are not sure if this will fix all instance of it so we keep to issue open, but please update and report back if you still are hitting this issue

[2019-04-23 12:18] frinyvonnick commented on #12836
I made a PR for it 😄

[2019-04-23 12:28] janosh commented on #13512
Slightly related: I think the CLI could also be improved by not asking the user if `gatsby-cli` should use a different port if something is already occupying the default one (8000) but _simply do it_. I.e. rather than

[code]

just inform the user that the next available port will be used instead:

[code]

[2019-04-23 13:11] jonleopard opened #13567 "Error: Cannot find module 'gatsby/utils'"
## Description

An error occurs when running gatsby in development mode.

### Steps to reproduce

Use gatsby-source-filesystem in your site.

### Expected result

Gatsby should run in development mode with no errors.

### Actual result

Getting strange error after upgrading the `gatsby-source-filesystem` package:

[code]

This happens when I run gatsby in development mode.

Any clue on whats going

[2019-04-23 13:22] Arcath commented on #13567
I was literally writing up the same issue.

My `gatsby info`:

[code]

If it helps my sites source is here: https://github.com/Arcath/arcath.net-gatsby

My site builds fine from source until you update to gatsby 2.3.26 and gatsby-source-filesystem 2.0.30

[2019-04-23 13:24] KyleAMathews commented on #13567
https://github.com/gatsbyjs/gatsby/pull/8992 broke this. I'll fix it real quick.

[2019-04-23 13:32] wardpeet commented on #13549
It's how you would read this 😛 . --prefix-paths actually tells we add prefix to paths, with-prefix does not.

It's probably better to make sure we show you a message like --prefix-paths not found, you probably mean --with-prefix. We have a https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/did-you-mean.js but I'm unsure how it actually works

[2019-04-23 13:33] hcavalieri commented on #13454
@KyleAMathews it seems that their implementation is actually quite basic... You're right, they're simply toggling an AMP context and then it's up to you to do the appropriate changes for it to work properly.

Based on a big commit they did on ["Update to use withAmp"](https://github.com/zeit/next-site/commit/c95a37b8a91161a7e152f4935d3850fd13d7c302), developers have to manually check the `useAmp()

[2019-04-23 13:38] jaredsilver commented on #13549
It’s not necessarily just paths that are being prefixed now though. It could also be assets.

[2019-04-23 13:45] KyleAMathews commented on #13567
@pieh just published https://github.com/gatsbyjs/gatsby/pull/13568 so things should be working again! Sorry for the bother.

[2019-04-23 13:45] #13567 closed

[2019-04-23 13:48] hcavalieri commented on #13454
@KyleAMathews it seems that their implementation is actually quite basic... You're right, they're simply toggling an AMP context and then it's up to you to do the appropriate changes for it to work properly.

Based on a big commit they did on ["Update to use withAmp"](https://github.com/zeit/next-site/commit/c95a37b8a91161a7e152f4935d3850fd13d7c302), developers have to manually check the useAmp()

[2019-04-23 13:49] pieh commented on #13544
The issues were posted because those examples were using outdated `gatsby` related packages (not on latest major version). Which is most of what we care about in our examples.

Our examples don't have lock files - so even if they specify `react@^16.4.0` - they will install latest react (at least until react@17 comes out). Examples also don't need to use `useStaticQuery` instead of `<StaticQuery>`

[2019-04-23 13:49] #13544 closed

[2019-04-23 13:50] KyleAMathews commented on #13454
@hcavalieri sounds excellent! Would be great to add "official" support as well for AMP. Perhaps we can move `gatsby-plugin-amp` into this repo for extra love?

[2019-04-23 13:53] jonleopard commented on #13567
Appreciate the quick fix @KyleAMathews

[2019-04-23 13:54] pieh commented on #13506
I just tried this and it does work here. I think we need more information on this

[2019-04-23 13:54] pieh commented on #13506
Can you provide [Reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)?

[2019-04-23 13:54] Arcath commented on #13567
@KyleAMathews Thanks! Can confirm my site is building again after an update.

[2019-04-23 14:03] sidharthachatterjee commented on #13549
@jaredsilver While I understand that this can be confusing, I don't think this is a valuable addition because:
- This could be solved by better documentation
- Added aliases will need to be maintained till the next breaking version (and best to avoid API surface bloat)

What do you think?

[2019-04-23 14:07] jafaircl commented on #13454
@hcavalieri I’d be happy to help and I’m fine with moving the plugin in to the main repo. I’ll confess I’m not super confident I know the best way to do that, though.

While you’re testing just remember that you only need the *page* to exist for the plugin to find and convert it, not the template. We could probably integrate the `amphtml-validator` package to check if a page passes and throw a war

[2019-04-23 14:15] wardpeet commented on #12776
@talves, I've tested this and version 2.9 works! Thanks a bunch, hopefully we can get your other PR in too.

[2019-04-23 14:15] #12776 closed

[2019-04-23 14:15] pieh commented on #13516
Reproduced this in linux VM. Curiously it doesn't hand in OSX. Will investigate

[2019-04-23 14:19] c0b41 commented on #13454
@hcavalieri I'm just testing my own fork with new stuff and sent them `gatsby-plugin-amp` repo today.

[2019-04-23 14:19] #12621 closed

[2019-04-23 14:32] mrlubos commented on #5021
+1 what @skylarweaver said!

[2019-04-23 14:36] #13416 closed

[2019-04-23 14:38] sidharthachatterjee commented on #13416
Not sure if it's worth the effort. @adarshlilha fixed all of these in https://github.com/gatsbyjs/gatsby/pull/13570 🎉

[2019-04-23 14:47] gael-boyenval opened #13571 "Is it possible to externalize gatsby logic (tmp, configs, plugins, components) as an NPM module ?"
## Summary

I would like to pack all gatsby logic (components, templates, configs, custom plugins) into an external dependency to reuse logic, and have it imported as a dependency in multiple projects.

The idea being to share a common build across multiple projects with the same architecture.
Those projects, would only contain pages (markdown files in my case)

Could you point me toward a possibl

[2019-04-23 14:47] nugoo1 commented on #3064
Same.. It just stopped working after my latest commit. This keeps happening to every project when I work on it for too long. Does gatsby have issues with bigger builds? Seems like it ...!

[2019-04-23 15:02] pieh commented on #13516
It seems like there is upstream issue of fs watcher package we use - potentially related - https://github.com/paulmillr/chokidar/issues/469#issuecomment-397809966 . I've also reproduced this on OSX (by forcing `useFsEvents: false` in chokidar configuration)

[2019-04-23 15:04] pieh commented on #13516
The `chokidar`'s `ready` event is never emitted in this case

[2019-04-23 15:11] mesvil7 commented on #13213
I got the same issue without firebase and solved with core-js@2.6.5 the 3.0 didn't work.

[2019-04-23 15:19] pieh commented on #13571
We agree! :)

That's why we work on "themes" support which will do what you describe. Right now they are marked as experimental as we iterate on them quite heavily and we might introduce some breaking changes, but those are already usable.

Here's couple of resources that are available:
 - https://www.gatsbyjs.org/docs/themes/
 - https://www.gatsbyjs.org/blog/tags/themes/

The brief overview is th

[2019-04-23 15:21] dergroncki commented on #13213
Me too.

[2019-04-23 15:26] Bulletninja commented on #12576
@nodox would be great if you could share some references to the solution, if you have any.

[2019-04-23 15:54] nickreese opened #13572 "Situations Where gatsby-node.js wouldn't run?"
## Summary
We've had a gatsby install running on netlify.com for almost 2 months with no issues. In the last few days, their build process has stopped reading our gatsby-node.js file as evidenced by this [simple console.log](https://www.dropbox.com/s/7tumv6nvxc2kwob/Screenshot%202019-04-23%2010.14.48.png?dl=0) not getting printed in the build information.

To troubleshoot we’ve downloaded the [net

[2019-04-23 16:03] pieh commented on #13517
Hey @violabg - could you expand on this? Ideally create minimal reproduction case ( https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/ ) so we could take a look at that.

[2019-04-23 16:07] pieh commented on #13525
Deprecated packages don't stop working. Ideally we use newer dependencies, but using older (but working) ones is OK too.

[2019-04-23 16:09] jonniebigodes commented on #13392
@onopko81 no need to thank, glad i was able to help you solve your issue.

[2019-04-23 16:09] pieh commented on #13543
As mentioned in linked issue ( https://github.com/gatsbyjs/gatsby/issues/13525 ):

Which means that we probably won't prioritize bumping dependencies if bumping it doesn't enable new features or fix some bugs.

[2019-04-23 16:09] #13543 closed

[2019-04-23 16:11] violabg commented on #13517
it looks like Drupal jsonapi can't be filtered by setting languageCode on querys, but you need separate entry points, one for each language, that you want to localize.

https://github.com/gatsbyjs/gatsby/issues/10020

I'm not sure how to implement that

[2019-04-23 16:11] pieh commented on #13501
Please bump `gatsby-plugin-netlify-cms`. It was fixed in `gatsby-plugin-netlify-cms@3.0.18`

[2019-04-23 16:11] #13501 closed

[2019-04-23 16:25] pieh commented on #13503
Not ideal, but we copy files from `<project-root>/static` to public directory, so it would be worth checking setup when symlink is created:
`<project-root>/static/assets -> <project-root>/src/assets`, so those would be automatically copied.

Other option is to copy files there as part of build step - either in npm script or in `gatsby-node` - i.e.:
[code]
(it won't watch for files and copy new one

[2019-04-23 16:42] pieh commented on #13517
Thanks for bringing related issue. I'm pretty sure it wasn't fixed and issue was closed due to being "stale". So same things apply what was mentioned there

I'm not sure how to approach that - we are mostly consumers of Drupal APIs and if there is no API that we could use to fetch available languages, users would need to specify them manually :(

[2019-04-23 17:20] jonniebigodes commented on #13366
@theofromthelabo Sorry for the late response and yes, the `.cache` `public` and `node_modules` should only exist on your end, on your local machine for the reason i stated above. Also i've been tinkering with contentful model trying to get something like you asked in your comment above, To no luck. The only way is to do it the "old fashioned way" (pardon the bad pun) with the css or inline styles.

[2019-04-23 17:22] pieh commented on #13572
Just to verify, I deployed some site on Netlify and gatsby-node worked there - but this was using some vanilla options.

There is potential that there were some errors that until recently Gatsby would silently swallow so users wouldn't be notified about (it was fixed in `gatsby@2.3.26` - so please try bumping to this one and see if there is any new insight showing)

If this does not help, I don't

[2019-04-23 17:22] adamwade2384 opened #13573 "useStaticContext custom hook with contentful throws error"
# Code

[code]

## Description

"Error: The result of this StaticQuery could not be fetched."

### Steps to reproduce

1.) Create a contentful account
2.) Connect Gatsby to the contentful source
3.) Write a custom hook using useStaticQuery that connects to contentful data
5.) Log the result from the hook in any component or page

### Expected result

The data should be fetched.

### Actual result

[2019-04-23 17:24] pieh commented on #13573
Where in your project do you make this query? Gatsby will not extract queries outside of `<project-root>/src` directory.

[2019-04-23 17:27] #12661 closed

[2019-04-23 17:27] #12725 closed

[2019-04-23 17:27] #12753 closed

[2019-04-23 17:27] #12624 closed

[2019-04-23 17:35] pieh commented on #13541
This is because wordpress plugins doesn't access details routes and rely on data being available in "index" routes.

Changing that would mean that fetching data for 200 posts would need to make 200 requests instead of 2. We have special cases for some plugins (i.e. one for fetching menu data) that fetch detailed pages. But in this case I think better solution would be to created alternative wordpr

[2019-04-23 17:46] pieh commented on #13537
Thanks Alex for putting this "epic" issue together.

Shannon is doing series of interviews with users this week, so we don't work on design part yet as first we need to get as much information as we can to inform design process.

[2019-04-23 17:49] holmberd commented on #2987
@gespiton icon option in gatsby-config, please do tell ? :)

[2019-04-23 17:50] infiniteluke commented on #3763
FWIW, https://github.com/gatsbyjs/gatsby/issues/3763#issuecomment-480076939 works but `typeof` is necessary here:

[code]

[2019-04-23 17:59] gael-boyenval commented on #13571
how can I have missed that ? 👍
Thank's I'll look into it !

[2019-04-23 17:59] shannonbux commented on #13537
Hi @moonmeister and thanks for surfacing these valid concerns! I'm putting together an RFC as we speak and will include this information you've gathered. Will ping you when that RFC is ready

[2019-04-23 18:00] JacobDFrank commented on #13019
Just got this issue on my netlify build.

[2019-04-23 18:02] Hypothesis-github opened #13574 "props for image.js"
The code blow in the default gatsby

[code]

returns an image. I want to add a prop to it so it changes the graphql query through a dynamic input. like this

[code]

Is there anyway to achieve this ? I don't want to write a graphQL query for every image.

[2019-04-23 18:13] jonniebigodes commented on #13574
@Hypothesis-github Gatsby's `StaticQuery` don't allow variables as of now. More on that [here](https://www.gatsbyjs.org/docs/static-query/#how-staticquery-differs-from-page-query), For what you want to achieve i would recomend a different approach. From the top of my head you can for instance create the queries on `gatsby-node.js` and then inject the results via `context` and access it through the

[2019-04-23 18:20] pawelotto opened #13575 "Image blur-up on every page load"
After checking the docs I don't see any solution to my problem where the logo on [travelem.com](https://travelem.com/en-us) gets blurred-up on every page load.
Any suggestion how to fix this?

[2019-04-23 18:26] Hypothesis-github commented on #13574
Thank you so much for the quick reply. Your technique will surely work but I wonder if there is any other way to lazy load stuff ( with minimal effort) without  actually making them go through the long graphQL query. After all Gatsby is supposed to speed things up not down. I will employ your method ( if there is an example on the node code available please cite.

[2019-04-23 18:33] heart-of-code commented on #7659
Unfortunately I wasn't able to figure out why this wasn't working. I ended up writing my own source plugin instead..

[2019-04-23 18:42] jonniebigodes commented on #13574
@Hypothesis-github if you don't waiting a bit i'll create a detailed explanation with both approaches i mentioned and report back to you. Sounds good?
Regarding your comment, there is already some work being done in this "department" and by department i mean adding variables to `StaticQueries`, but this is rather a big problem to take on as there's alot of moving parts going on and some code will

[2019-04-23 18:55] derricktsmith commented on #10324
I'm having the same issue. How was this fixed?

[2019-04-23 19:13] Hypothesis-github commented on #13574
I am looking forward to the explanation.  cheers.

[2019-04-23 19:46] jaredsilver commented on #13549
Sorry, I should clarify that the way that I read this is "gatsby build with prefix" which makes sense as an English sentence whereas "gatsby build asset prefix" does not. If others don't have this same issue, then it's not really a problem. I'll close the issue.

[2019-04-23 19:46] #13549 closed

[2019-04-23 20:31] nephlin7 commented on #13575
Hi @pawelotto, have you checked this link? https://www.gatsbyjs.org/packages/gatsby-image/
<img width="770" alt="Captura de pantalla 2019-04-23 a la(s) 2 28 15 p  m" src="https://user-images.githubusercontent.com/22168189/56613569-26cdbb80-65d4-11e9-8f0c-487da3657760.png">

[2019-04-23 20:48] adamwade2384 commented on #13573
Thanks for the quick response @pieh! I placed my 'hooks' folder at the same level as src by mistake. I'm no longer receiving the error. Cheers!

[2019-04-23 20:51] #12836 closed

[2019-04-23 20:58] #13453 closed

[2019-04-23 21:28] ancashoria commented on #6654
Guys, I managed to fix this by running `createRemoteFileNode` requests in serial instead of parallel.

Here's the function I'm using:
[code]

and here's how I'm using it:

[code]

After the images are downloaded, here's how my source and transform step looks
[code]

Hope it solves your problems too.
Cheers

[2019-04-23 21:28] #13573 closed

[2019-04-23 21:33] idomusha commented on #12762
For me, it's a bug.
Lets says we have 2 images in both folders.

[code]
returns
`getPhotos:allFile(filter: { sourceInstanceName: { eq: "images" } }).totalCount: 4`
`getPhotos:allFile(filter: { sourceInstanceName: { eq: "photos" } }).totalCount: 0`

while

[code]
returns
`getPhotos:allFile(filter: { sourceInstanceName: { eq: "images" } }).totalCount: 2`
`getPhotos:allFile(filter: { sourceInstanceNa

[2019-04-23 21:41] mpoisot commented on #5002
I'm currently evaluating using Gatsby to speed up an old Heroku-hosted Rails 3.x site that's slow as molasses. It has about 1 million pages so incremental builds are the only way it would work. Most pages don't change so making them static feels like a huge win, but new pages are constantly added and some old pages get edited. Users expect to see the changes within seconds. My hope was to add just

[2019-04-23 22:46] KyleAMathews commented on #5880
We should do this — it's kind of a breaking change though so we should do it in v3.

[2019-04-23 22:51] adam-foster commented on #6291
I have a Gatsby site with 900+ images (all < 30kb). For the last few weeks my build has consistently failed with the same `segmentation fault` errors from `sharp` as described here.

E.g.
[code]

After re-trying the build up to 5-6 times locally, it would eventually succeed (each time the number images `sharp` processed would drop as images from the last failed build would be in `cache`).

I just

[2019-04-23 22:57] TylerBarnes commented on #6291
@adam-foster if deleting the cache solved it for you locally, you can clear your cache in netlify.
Go to the deploys list page `/sites/[site-name]/deploys?filter=master`, click the "Trigger deploy" dropdown in the top right and click to clear cache and redeploy.

[2019-04-23 23:03] tariknz commented on #6800
Wouldn't it make more sense to default it to a string type?

[2019-04-23 23:36] lannonbr commented on #13475
So after a session with @shannonbux and @marcysutton tonight, we got some ideas for this feature and made some mockups for what we think would possibly work when displayed on the sites:

We are thinking that in a large layout, we can display a breadcrumbs component above the top heading and see a hierarchy of where someone is on the site and then have the current page be bolded. As described earli

[2019-04-23 23:43] lannonbr commented on #6896
@shannonbux, @marcysutton and I brainstormed on this today and we came up with some ideas on how we could implement this.

On large displays, we have room on the right side of the page to have a sticky section on the right side of the screen that we could have to notify people of their current place in the current document. Below I show how we will take the table of contents out of the normal flow

[2019-04-24 00:10] #13404 closed

[2019-04-24 00:25] lannonbr opened #13583 "Update Style Guide to prefer shorter names for documents"
## Summary

While working on #13475, A topic came up that if we have breadcrumbs where the document titles are all long, the breadcrumbs component could become very long on a screen. A thing that could reduce this could be two things:

1) Update the Gatsby Style Guide to suggest that shorter titles are better
2) Add a new field for a short version of the title that will be used when put in the bre

[2019-04-24 00:50] nickreese commented on #13572
@Pieh — Got it building again for our deadline.

Will confirm what the root cause was once we sort it out. The fix was either upgrading our packages as you mentioned or resolving a conflict between two plugins. Will confirm tomorrow when back in the office so see if I can get it to fail with the plugin conflict.

[2019-04-24 01:02] FraserThompson commented on #7628
Also pretty keen on this, seems like logical behaviour to honour the sort behaviour even in groups.

[2019-04-24 03:48] KyleAMathews commented on #13425
/cc @freiksenet

[2019-04-24 04:26] adam-foster commented on #6291
Thanks @TylerBarnes not sure how I missed that. It worked 🎉 - I still get the occasional build failing locally but this is the first successful build I have had with Netlify for this number of images.

I have seen a few suggestions of having an automatic retry in `gatsby-plugin-sharp` on `sharp` error.  I'd hope that would resolve any remaining issues of builds failing in this case

[2019-04-24 04:29] moonmeister commented on #13537
@shannonbux I should have known you would be on top of things! I was talking with @sidharthachatterjee yesterday about getting #10294 merged soon. Should we hold off for the RFC process to be complete?

[2019-04-24 04:42] moonmeister commented on #12506
@missmatsuko I've never seen this plugin run for more that a couple seconds (usually <1s). Doesn't mean it's not causing you troubles, but this is definitely not typical.

Your troubles aside, this is an excellent suggestion and future i18n support from #13471 makes this more important. We're happy to take a PR to support this from you or anyone who would like to contribute.

[2019-04-24 05:12] vinutha93bnvs commented on #12566
Hey,

i have site with quite large data to be queried from contentful.
Need some quick fix.
Please help

[2019-04-24 06:08] #13575 closed

[2019-04-24 07:38] freiksenet commented on #13425
That is an issue I want to tackle. I'm not 100% sure on the approach, but first steps would be to add some kind of query combiner so that multiple queries can be combined in one query for the backend. It can be supplemented with a controllable cache. It would be possible to pre-populate it by running eg a list query beforehand. I'll look at it as soon as #13028 lands.

[2019-04-24 08:22] Khaledgarbaya commented on #11364
@simoneb it can be a good starting point for a fix and we can work together on it
there

[2019-04-24 08:28] jessepinho commented on #11364
@Khaledgarbaya I think a better solution would be to fix the underlying problem — that `gatsby-source-contentful` doesn't realize that it's already loaded a node into its internal node graph (not sure I'm using the correct terminology here), and keeps loading it in an infinite loop due to the cross-references. Probably a better solution would be for it to keep track of what it's already loaded, an

[2019-04-24 09:04] KalleVuorjoki commented on #10556
I'd love to see documentation on this. @jonniebigodes example works nicely with Reactivesearch 2.x, but npm install gives Reactivesearch 3.x. where things have changed and example does not work out-of-box.

[2019-04-24 09:08] ThomasT404 opened #13588 "[Sharp] Nodejs 12 API makes gatsby broken"
## Description

Since I have updated nodejs 11 to nodejs 12 some packages don't build anymore surely because of the new native APIs.

Examples :

etc...

### Steps to reproduce

-Install Nodejs12
-gatsby new nodejstest

And wait for it

### Expected result

A normal installation

### Actual result

A bug caused by the incompatibility with the new API

### Environment

[2019-04-24 09:13] kepi0809 commented on #12280
any news according to this? about 1/4 my teaser-imgs are failed to process :/

[2019-04-24 09:21] orta commented on #13436
Yeah, I think babel + ts is probably the right route. I think the main advantages are solid tooling for contributors (which is why we ported jest) as well as being able to provide 1st class type definitions for people using the modules.

Ideally JSDoc annotations should be added anyway, mainly so people get inline docs when working with the API.

Would this allow `gatsby-config.ts` from a user's p

[2019-04-24 09:31] Khaledgarbaya commented on #11364
This is mainly happening because there is a circular reference and somewhere in the SDK or the plugin it's not clear when to stop when resolving references.
@marcneander can you please share the json of your content types to use it as a test?

you can do that by calling this on the `contentful-cli`

### Steps

1.
[code]

2.
[code]
and follow the instruction

3.
[code]

you will get a js file that

[2019-04-24 09:49] moonmeister commented on #13436
@orta Thanks for poiting that out. Using TS + Babel still allows for documentation using JSDoc. Types are just not defined through JSDoc.

Yes, I believe it would allow for `gatsby-config.ts`.

@orta Are you able to estimate whether people have had more/less troubles contributing since the switch? (i.e. is TypeScript a barrier to entry, or does the developer tooling it enables provide a lower barr

[2019-04-24 09:50] LekoArts commented on #5499
So I tried to use `@parcel/watcher` -- without success sadly. Firstly, the documentation is currently really sparse and I used a WIP PR from Parcel and their tests to figure out some things.
Secondly my tests with a Gatsby site show that the Watcher only registers changed files which resulted in no nodes created at all on the startup of `gatsby develop`. Their snapshot feature also doesn't work fo

[2019-04-24 10:37] sami616 commented on #12832
reopen

[2019-04-24 10:52] dennismorello commented on #13506
Hi Michal,

I think the issue is related to my web server configuration and not to Gatsby, but I need to do further investigations.

We can close this issue for now.

Thank you.

[2019-04-24 10:53] #13506 closed

[2019-04-24 11:06] LekoArts commented on #10250
Did you see these articles? I'm not sure if your current solution is the best one and there is probably the need for more investigation:

https://developer.chrome.com/webstore/i18n
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Internationalization

[2019-04-24 11:07] jonlay opened #13589 "Using createPage where GraphQL API (DatoCMS) sets a limit on records returned"
## Summary

I'm trying to build a medium-sized blog (about 150 posts), where all content is hosted within DatoCMS.

DatoCMS's GraphQL content API enforces a limit of 100 records per response, meaning that I need to use their [pagination parameters](https://www.datocms.com/docs/content-delivery-api/pagination) to access the second group of 50 posts which are not returned in the first query.

I'm un

[2019-04-24 11:10] lannonbr opened #13590 "[docs] Stub list not collecting all stubs"
## Description

#13510 from @fk:

I believe this is due to some mishap in the findStubs method in the [stub-list.js](https://github.com/gatsbyjs/gatsby/blob/master/www/src/pages/contributing/stub-list.js) file.

[2019-04-24 11:49] orta commented on #13436
We _think_ there are more first time contributors to jest, but don't really have anything quantifiable - Jest was already very deeply covered by flow, so there already was the types barrier to entry for JS folks.

In most of our projects owe transpile TS via babel, then after use `tsc` to emit `*.d.ts` [during deploys](https://github.com/artsy/reaction/blob/d1bcf23e9abd0c135d64059d6bb9c305bd0ada42

[2019-04-24 11:54] fk commented on #6896
💯, it does!

IMO for the first shot we don't even need to worry too much about making the ToC sticky when it's displayed as a "sidebar", although it'd be nice to have! FWIW here's something similar I did recently:

![image](https://user-images.githubusercontent.com/21834/56657115-84770c00-6697-11e9-8f82-a7a047febca9.png)

![image](https://user-images.githubusercontent.com/21834/56657261-dcae0e00-6

[2019-04-24 12:00] pieh commented on #13588
See https://github.com/lovell/sharp/issues/1668 - this is 2 part issue:
 1. upstream - sharp maintainer mentioned this will be fixed in `sharp@0.22.1` (which is not yet released)
 2. in here we will need to update sharp dependencies in few packages

[2019-04-24 12:03] #13588 closed

[2019-04-24 12:10] #13474 closed

[2019-04-24 12:18] lannonbr opened #13593 "[docs] Hide "Top Level Documentation Pages" heading on stub list if it contains no stubs"
## Summary

As an addendum to #13510 there was one thing that @pieh brought up that if there are no top level stubs, the `Top Level Documentation Pages` heading would appear but there would be no links under it. With that, we likely will want to hide it if it doesn't have any stubs.

[2019-04-24 12:28] pieh commented on #13589
You can continue to query `allBlogs` increasing `skip` parameter until it returns less than 100 items (meaning that there is no more items after that):

[code]

[2019-04-24 12:28] jasonbahl commented on #13425
Ya, one thing Apollo Client does is provide cache redirects. So you can query a list of items, then if you run a `{ post( id: "..." ) { ... } }` query, you can tell it to first look for that ID in the cache instead of making another network request

Takes some manual mapping, but might be something along those lines that could be done.

[2019-04-24 12:32] fk commented on #13475
💯 to everything here (too 😃) — great work!
As Shannon wrote, the only thing I'm torn about is if we really need "Home":

[2019-04-24 12:32] jasonbahl commented on #13425
I still think if there's a way to share fragments between template files and the build queries, we could just do something like:

`pageFragment`, similar to `pageQuery`, then during the build it can make use of that fragment in the query that gets the list of items.

Seems to me to solve the readability issue and the n+1 issue. . .I just don't know node enough to know how to do this, or if it's ev

[2019-04-24 12:33] joefiorini commented on #387
@benstepp @abumalick Just curious, why rely on this custom code when you could add plugins to the webpack config to handle it? Is there something about the way gatsby builds that makes webpack unreliable for compressing files?

[2019-04-24 12:40] ancashoria commented on #6291
Just curious, how should I go about deploying a site with an insane number of images?

[2019-04-24 12:51] feychenie commented on #13464
Actually, during development when a rebuild is a trigger by a file save, this triggers a warning for every path that gets it's trailing slash removed by this documented tip (and the related plugin):
https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes

![Screenshot 2019-04-24 at 14 48 59](https://user-images.githubusercontent.com/277455/56660635-374b6800-66a0-11e9-

[2019-04-24 12:57] moonmeister commented on #13436
Good to hear. And that is the exact method I want to use for Gatsby.

[2019-04-24 13:01] abumalick commented on #387
there is more than one webpack configuration in gatsby, it is difficult to imagine that a simple webpack plugin will do that job correctly. I am interested by any feedback if you can make it work.

https://www.gatsbyjs.org/docs/behind-the-scenes/

[2019-04-24 13:05] feychenie opened #13594 "Removing trailing slashes like documented triggers warnings since #13470"
## Description

Since https://github.com/gatsbyjs/gatsby/pull/13470, removing trailing slashes as documented here https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes triggers warnings when pages are rebuilt after a file save.

### Steps to reproduce

- add [gatsby-plugin-remove-trailing-slashes](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slash

[2019-04-24 13:13] jonlay commented on #13589
Thanks @pieh - that's exactly what I wanted, and makes total sense. Really appreciate the pointer!

[2019-04-24 13:13] #13589 closed

[2019-04-24 13:15] feychenie commented on #13594
#13464

[2019-04-24 13:27] Undistraction commented on #12640
@DSchau Sorry for the delayed reply. You were right on the money - it appeared that babel was failing to replace the imports, but it had already done so in a previous build and cached the result.

This means that using `entry` does work correctly with Gatsby!

This means that #12409 is valid, and I think it would be useful.

[2019-04-24 13:28] stefanprobst commented on #12832
with #13028 it should be possible to say:
[code]

[2019-04-24 14:08] bgbohling opened #13595 "How can I get custom entities in gatsby-source-drupal?"
I've got Gatsby up and running and getting data from a Drupal site where I have quite a few custom (non-Node) content entities.  When I go to Explorer, it looks like I can only query on default Drupal entities like nodes, taxonomies, users, etc.  I don't see anything for my custom entities.  I've checked JSON API configuration and there's nothing there to tell JSON API to work on specific entity t

[2019-04-24 14:09] jgalat commented on #13590
Hi @lannonbr! Can I take this?

[2019-04-24 14:15] lannonbr commented on #13590
Sure @jgalat. If you need any help I am here given I wrote the majority of that file, but I'm always welcome for contributors taking issues that I open up if I don't directly assign them to myself.

[2019-04-24 14:16] marcysutton commented on #13583
Thanks for filing this issue, I think it all sounds very doable! Both items would be useful solutions moving forward: shorter titles would work well in both the sidebar and breadcrumbs, and the flexibility to specify a short title for the breadcrumb specifically would ease the burden on everyone.

[2019-04-24 14:20] pieh commented on #13595
I have no insight into Drupal, so can't comment on non-node entities much on Drupal side, but if JSON API would support those we definitely would look at implementing support for them in `gatsby-source-drupal`.

Is there any public Drupal instance with JSON API enabled / easy way to spin out preconfigured instance that use those so we could investigate?

[2019-04-24 14:30] nextlevelshit commented on #10482
Regarding @hiddentao solution I had to transform it to fit into my setup. I was to lazy to investigate what's exactly the point; might be the environment, versions etc. But heres a apadapted solution. Thanks for your input @hiddentao:

[code]

[2019-04-24 14:40] k-five opened #13599 "cjpeg on 32-bit machine"
## Description

I am using a 32-bit machine.

### Steps to reproduce

I used the step on doc page:
https://www.gatsbyjs.org/docs/quick-start

Since it is a 32-bit machine I built the `libvips` from source

here is the full log for **new** project
the `cjpeg -version` has been failed

[code]

then if I run

[code]

It complains about **sharp** while I have installed correctly

### Expected result

[2019-04-24 14:41] moonmeister commented on #13436
TS + Babel Example Projects:

https://github.com/apollographql/apollo-client
https://github.com/facebook/jest

[2019-04-24 14:44] pieh commented on #13403
PR with update was merged, thanks @samovertonjr!

[2019-04-24 14:44] #13403 closed

[2019-04-24 14:56] jonlow commented on #6800
You can use the new schema customization API to tell Gatsby that the fields exist https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/

eg

[code]

[2019-04-24 15:03] #13590 closed

[2019-04-24 15:26] LukeSchlangen opened #13600 "Deleting node breaking build"
[Stack Overflow](https://stackoverflow.com/questions/55819440/getting-error-upon-deleting-gatsby-node-of-a-type-owned-by-another-plugin)

## Description

I'm getting the following error:

[code]

I know I am getting this error because I am using `gatsby-source-apiserver` and it returns nodes that I don't want. I filter them out and use `deleteNode` to remove them. It was working, and still is work

[2019-04-24 15:36] tareefdev opened #13601 "using-i18n example: Adding mdx file at src/pages makes gatsby stick in a loop"
## Description

After cloning this example [repo](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-i18n/), I tried to add an mdx page to the `src/page`, but whenever trying to build or develop the site, gatsby seems to stuck at `source and transform nodes`.

I added ` console.log(localizedPath);` at [this line](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-i18n/gatsby-

[2019-04-24 15:47] mmafe commented on #12848
Hi @wardpeet , thanks for the response! Unfortunately I can't provide access to the repo (it's not a personal one).

In any case, it's not a show-stopper anymore since the project is complete. However, if you do solve the issue, I'd love to know the cause for the next time I use Gatsby in a project.

[2019-04-24 15:58] CanRau commented on #10250
No I haven't @LekoArts thanks for bringing them up 🙏
More in https://github.com/gatsbyjs/gatsby/pull/13471

[2019-04-24 16:02] muescha commented on #13583
i vote for 2 - short name for breadcrumbs and TOC on left side

[2019-04-24 16:03] smakosh commented on #13410
Insert this into your gatsby-browser.js file
[code]
It will reload the window when ever a new update is available, you could use desktop push notification as well

[2019-04-24 16:05] muescha commented on #13475
just a side note: when i jump to a doc then in the doc hierarchy is bolded.

but i miss here that the bolded selected doc is also moved to be visible area. i always need to scroll down to find the bolded text

[2019-04-24 16:09] lannonbr commented on #13248
After discussion in the maintainers meeting, we decided that for now we will switch everything to CommonJS require syntax and in the future we can switch to the ES Modules syntax if that becomes the standard way to do so later. I'll open a PR for this later today

[2019-04-24 16:13] jedrichards commented on #12066
Netlify support has manually disabled all the postprocessing they can on my ~5000 page site, but I'm still seeing long build times even when the pages are technically remaining unchanged, due to the issue detailed above. Most of the time is spent on Netlify uploading the pages to their CDN ... in my case this is taking anywhere between 5 and 10 minutes. But if the unchanged pages had stable conten

[2019-04-24 16:16] VickyPhoton commented on #3368
So is it possible to reduce the delay from 1000 to 0 ?

[2019-04-24 16:35] holmberd commented on #8560
Seeing the same kind of issues.

[2019-04-24 16:38] TylerBarnes commented on #6291
@ancashoria you'll have better luck if the images are stored locally in your gatsby repo instead of remote images. Which source plugin are you using?

[2019-04-24 16:51] lannonbr opened #13602 "[docs] Current page not always in view in sidebar when navigating around docs"
just a side note: when i jump to a doc then in the doc hierarchy is bolded.

but i miss here that the bolded selected doc is also moved to be visible area. i always need to scroll down to find the bolded text

_Originally posted by @muescha in https://github.com/gatsbyjs/gatsby/issues/13475#issuecomment-486307738_

[2019-04-24 16:52] lannonbr commented on #13602
I agree with @muescha that it can be stressful when a page that is not immediately visible in the sidebar when you navigate to it from another page. Is there a way we can scroll the sidebar down so the page is in view?

[2019-04-24 16:53] lannonbr commented on #13475
@muescha I agree with your comment but I do think it is a separate topic so I moved it to another issue

[2019-04-24 17:00] marcysutton commented on #13602
I also agree! Fixing the scrolling and expanding of the sidebar would improve things a lot.

[2019-04-24 17:04] #12923 closed

[2019-04-24 17:07] ancashoria commented on #6291
@TylerBarnes I'm using `createRemoteFileNode` from `gatsby-source-filesystem` because I need to fetch the images from a remote location. Then I also try to transform them using `childImageSharp` which also takes a lot of time.

I was optimistic about deploying to Netlify, but I hear it has a build runtime limit of 15 minutes and by my calculations, I need a few hours for the initial build. Do you

[2019-04-24 17:17] broskoski opened #13603 "Error: Cannot find module './showAnalyticsNotification' on installation"
## Description

Seeing `Error: Cannot find module './showAnalyticsNotification'` on installation

### Steps to reproduce

- Run ` npm install -g gatsby-cli`

### Expected result

Gatsby CLI should install without error

### Actual result
`Error: Cannot find module './showAnalyticsNotification'`

### Environment

Node v8.10.0

[2019-04-24 17:21] broskoski commented on #13603
Detailed stack trace:

[code]

[2019-04-24 17:27] #12601 closed

[2019-04-24 17:27] #12745 closed

[2019-04-24 17:47] TylerBarnes commented on #6291
@ancashoria if you haven't already you should install the [netlify cache plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cache/?=netlify) (while you're at it the [netlify plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/?=netlify) is great for some easy performance gains). As long as you're caching your remote file downloads in your code I believe the netlify cache p

[2019-04-24 17:48] jonniebigodes commented on #13574
@Hypothesis-github sorry for the wait, here are the steps i took for both approaches.

- Started out by creating a basic Gatby website using the hello world starter, to keep it simple and avoid adding unnecessary dependencies.
- Added only the dependencies i wanted, namely `gatsby-image`, `gatsby-plugin-sharp`, `gatsby-source-filesystem` and finally `gatsby-transformer-sharp`
- Grabbed some images

[2019-04-24 18:13] KyleAMathews opened #13606 "Extract logic for watching a directory from gatsby-page-creator so can reuse for custom page creation"
[This PR](https://github.com/gatsbyjs/gatsby/pull/10960) suggested adding custom validation and path manipulation to gastby-plugin-page-creator. In general we don't want to complicate plugin interfaces much. It's a better pattern to extract out logic into libraries that can be reused in multiple plugins or in a site's gatsby-node.js.

So this PR is around creating a separate library (it would be a

[2019-04-24 18:22] Ameobea opened #13608 "[gatsby-transformer-remark] Section titles with code in ``s creates escaped HTML <code> tags"
## Description

When using the automatic TOC generation from `gatsby-transformer-remark` with markdown section titles that contain code in backticks, the generated TOC heading contains escaped HTML `<code>` tags that show up in the document.  Instead of actually emitting the `<code>` tag in the HTML string, it's escaped and the HTML is rendered as text.

### Steps to reproduce

Create a markdown r

[2019-04-24 18:48] jonniebigodes commented on #10556
@KalleVuorjoki for now if you don't mind use the version i provided in my reproduction. Namely 2.5.1 not the release candidate that is publicly available in the registry. I've not forgotten about this. But it was put on the "back burner" for some time. I'll see if can muster some time to catch up on the changes they made and see if i can create a reproduction based on the new version.

[2019-04-24 19:09] Moocar commented on #13594
@feychenie Thanks for reporting this. I've tried a few different sites with the latest version of gatsby and the `remove-trailing-slashes` plugin, but have been unable to reproduce this. Any chance you'd be able to create a standalone repo that reproduces the problem?

[2019-04-24 19:25] Ameobea commented on #13608
This looks like the same thing as #5764, but I'm not using the `gatsby-remark-autolink-headers` plugin.  I *am* using `gatsby-remark-prismjs` though.  I tried putting it at the end of the plugins array, but the same thing happened.

Here's my `gatsby-config.js` file: https://github.com/Ameobea/homepage/blob/master/gatsby-config.js

[2019-04-24 19:30] LeviSchuck commented on #10482
I was doing something similar as hiddentao and nextlevelshit
I have since switched to pre-processing my markdown into an external graphql service to do more complicated mappings, the markdown makes references to entities via shortcodes (parsed with remark-shortcodes), which are then included as references in the graphql service.

Entity:
[code]

MarkdownDocument:
[code]

Template:
[code]

gatsby-n

[2019-04-24 19:53] lucasmarcelli commented on #9733
Still have this issue in April 2019.

[2019-04-24 20:06] lucasmarcelli commented on #8560
Having this issue as well. We have a gatsby repo that pulls components from an NPM library. The components import `.scss` files which are being injected into `<head>` in the wrong order on build. On develop, the gatsby repo's styles come last, so they take precedence, but on build they come first and are being overridden by the imported component's styles.

[2019-04-24 20:07] d4rekanguok commented on #13608
`gatsby-remark-prismjs` is indeed the culprit here... it looks like table of content is always generated after all plugins have applied to the markdown ast though -- perhaps there is a way to tell `gatsby-remark-prismjs` to ignore inline code in headings?

[2019-04-24 20:19] #13574 closed

[2019-04-24 20:21] scottschup commented on #13603
Similar issue here:
[code]

Gatsby version is `^1.6.5` in `package.json`, gatsby-cli is `^1.1.28`.

Can't replicate locally; error only occurs during Jenkins build job.

[2019-04-24 20:23] broskoski commented on #13603
Appears to have been fixed in https://github.com/gatsbyjs/gatsby/pull/13605 .

Clearing npm cache (locally) and retrying worked for me.

[2019-04-24 20:23] sebastienh opened #13611 "No generated HTML in production build"
## Description

My issue looks like the #10322... The `gatsby serve` command outputs pages in js without HTML content, like in development mode. I need this HTML for SEO purpose but also because I want to use Netlify form which require generated HTML to parse and detect `form` tag elements. I made my GitHub repo public for solving this issue.

### Steps to reproduce

Run the following commands usi

[2019-04-24 20:30] pieh commented on #13600
Yes, this is bad idea. It will lead sometimes to very confusing caching problems and that's exactly why it was added. Much better approach would be to have this filtering option added in `gatsby-source-apiserver` plugin, so nodes you don't want are not even created. If plugin doesn't support it and doesn't want to support it - consider forking it.

[2019-04-24 20:32] pieh commented on #13611
Linked repo either doesn't exist or is private :(

[2019-04-24 20:35] LukeSchlangen commented on #13600
Got it. Deep down, I think I knew this was the answer, I just didn't want that to be the case since it's probably a couple hours of development time for something that was previously - event if dangerously - working.

Thanks for the response!

[2019-04-24 20:35] #13600 closed

[2019-04-24 20:50] sebastienh commented on #13611
The repo is now public, sorry!

[2019-04-24 20:55] pieh commented on #13599
I think this should be reported in https://github.com/mozilla/mozjpeg repository, because there is nothing we can do here about it (and we also weren't aware of this problem previously)

Seems like prebuilt binaries are just for x64 (there is no distinction for arch, just platform): https://unpkg.com/mozjpeg@6.0.1/lib/index.js (hence ELF signature stating x64)

and building from source requires `a

[2019-04-24 20:56] d4rekanguok commented on #13608
I made a dirty edit of `gatsby-remark-prismjs` that ignore inline code in headings, you can give it a test:
[code]
and replace `gatsby-remark-prismjs` in your config with `gatsby-remark-prismjs-no-heading`.

All it does is replace `unist-util-visit` with `unist-util-visit-parents`, so we can get some information about the direct parent & do nothing if it's inside a heading block.

pinging @pieh, w

[2019-04-24 21:11] d4rekanguok commented on #13362
This is a problem with `remark-parse` & not with Gatsby, I think it's better to open an issue over there: https://github.com/remarkjs/remark/issues

I've just realized you've already known this since in your first comment you reproduced the bug explicitly with `remark`, sorry that you went through the trouble of creating a test gatsby repo!

[2019-04-24 21:12] pieh commented on #13603
As @broskoski mentioned - this should be fixed after https://github.com/gatsbyjs/gatsby/pull/13605 - so please re-trigger jenkins job (and potentially update lock files if you use them). Problematic release was `latest` for few minutes, but newest should not have this problem

[2019-04-24 21:12] #13603 closed

[2019-04-24 21:28] Ameobea commented on #13608
@d4rekanguok yep that fixed it for me!  Thanks so much.  Looking forward to seeing the fix upstream 👍

[2019-04-24 21:46] #13248 closed

[2019-04-24 21:47] pieh commented on #13601
Hey, you are totally right. One way to fix this is to add early return in `onCreatePage` handler:

[code]

[2019-04-24 21:47] pieh commented on #13601
/cc @LekoArts

[2019-04-24 22:04] shannonbux commented on #13537
Hi @moonmeister, thanks for your patience! I think #10294 is fine to merge
- it matches up nicely with plans for the CLI! So it's up to the core team,
from my perspective!

On Tue, Apr 23, 2019 at 9:30 PM Alex Moon <notifications@github.com> wrote:

[2019-04-24 22:08] shannonbux commented on #13583
I think doing both is a good idea, because even with infinite space, you'd still want the shortest title possible that does the job of a title - communicating the topic of the article so someone knows if they want to read it or not.

[2019-04-24 22:23] sebastienh commented on #13611
After some tests, it seems the problem is related to the use of MediaQuery from 'react-responsive' npm module. Without it the HTML content is generated correctly...

[2019-04-24 22:47] pieh commented on #13608
@d4rekanguok I'm not sure I like the idea - as it would remove `<code>` completely from heading text (not only from ToC links / heading ids)? (i.e. in https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#what-well-cover)

I'm not sure if there's better alternative tho

[2019-04-24 23:10] shannonbux commented on #13512
I like both of those ideas!

On Tue, Apr 23, 2019 at 5:28 AM Janosh Riebesell <notifications@github.com>
wrote:

[2019-04-24 23:12] d4rekanguok commented on #13608
@pieh We'd still keep the `<code>` in headings, since `toHAST` turn inline markdown code to `<code>` anyway (remark-prismjs turns them into html node - which cause the issue in the first place); but it's a bit of annoying because the styling that comes with remark-prismjs is gone:

![image](https://user-images.githubusercontent.com/3383539/56699597-28f95c80-6731-11e9-93bd-d7a6275b743a.png)

But it

[2019-04-24 23:27] d4rekanguok commented on #13608
That works, I managed to retain the class name generated by remark-prismjs for inline code inside headings while `toc` is untouched

<img width="691" alt="image" src="https://user-images.githubusercontent.com/3383539/56700105-7676c900-6733-11e9-9c13-f326cb9895a8.png">

If we could rewrite [`highlight-code.js`]() so that it retains the markdown format, I think we could actually keep code highlighti

[2019-04-24 23:42] sebastienh commented on #13611
We can close this as I found a replacement that does the same thing and which doesn't interfere with HTML content generation. For others stumbling on the same problem use 'react-media' instead of 'react-responsive'.

[2019-04-24 23:48] vanwalj opened #13615 "Video does not work on Safari with gatsby-plugin-offline"
## Description

Caching video with gatsby-plugin-offline works almost everywhere, except on Safari

After digging a bit, it seems that Safari do some pretty weird stuff when loading video, I found [this blog post interesting](https://philna.sh/blog/2018/10/23/service-workers-beware-safaris-range-request/)

A quick fix would probably be to exclude video files from the `gatsby-plugin-offline` cache,

[2019-04-24 23:51] AllanPooley commented on #2987
Hey guys! I had some confusion from where my app was sourcing it's favicon earlier today and stumbled across this thread. I found a solution and thought to share it here just in case anyone else got lost.

In my case, icon and favicon generation was being handled by [gatsby-plugin-manifest](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-manifest).
You can check out the [docu

[2019-04-24 23:56] tariknz commented on #6800
Thanks @jonlow that was easier than I expected.

[2019-04-25 00:20] #13611 closed

[2019-04-25 00:24] pieh commented on #13608
I think we potentially try to approach this from wrong direction - right now we are trying to workaround that `<` become `&#x3C;` and therefore `code` and `class` and classname end up in toc - should we rather try to fix that (if not possible in our code, send PR to upstream packages)?

[2019-04-25 00:38] d4rekanguok commented on #13608
oh, do you mean to strip out html code during mdast to toc transformation? That's  would certainly be a lot cleaner

[2019-04-25 01:57] JDeLay-JR commented on #13615
I can start taking a look at this one

[2019-04-25 03:08] polishedwp opened #13620 "Question about the "Adding Page Transitions with gatsby-plugin-page-transitions" stub"
## Summary
I have a question about the newly structured [Stubs List](https://www.gatsbyjs.org/contributing/stub-list/). I understand the general idea about the stub-list and from an organizational perceptive it is a great idea.

My question is concerning  the Stub for [Adding Page Transitions with gatsby-plugin-page-transitions](https://www.gatsbyjs.org/docs/adding-page-transitions-with-plugin-pag

[2019-04-25 03:21] tgy3300 opened #13621 "Using gatsbyjs as a blog site, is it necessary to use gatsby build once for each post?"
Using gatsbyjs as a blog site, is it necessary to use the gatsby build command to repack each time an article is published, otherwise how to generate a new article page?

[2019-04-25 03:22] BarryThePenguin commented on #13608
I don't have much knowledge of gatsby, or the gatsby ecosystem, so I'm looking at this issue with a [10,000 foot view](https://dictionary.cambridge.org/dictionary/english/10000-foot-view)

In regards to syntax highlighting, [`remark-highlight.js`](https://github.com/remarkjs/remark-highlight.js#remark-highlightjs) makes the following suggestion

I'm wondering if this issue stems from a similar cir

[2019-04-25 03:40] cdtinney commented on #13621
Yes, that is correct.

You can use automated CI (e.g. Travis CI) to do this for you as you commit/merge PRs to a specific branch (e.g. `master`).

[2019-04-25 03:47] cdtinney commented on #13583
I'd be happy to pick up both solutions if possible.

[2019-04-25 03:54] cdtinney commented on #13602
I'd be happy to pick this up if possible.

[2019-04-25 04:03] tgy3300 commented on #13621
However, my program has not changed, but the data has changed. This also needs to be re-gatsby build. There is no other way.

[2019-04-25 04:08] d4rekanguok commented on #13608
@BarryThePenguin Thank you for the quick response, and great suggestions!

`rehype-prism` looks really interesting. However in the current Gatsby remark plugin system, it's not possible for user to apply plugins to the transformed `htmlAst`.

I was exploring the option of turning `gatsby-remark-prismjs` to retain `markdownAst` structure, so that no `html` node is passed into `mdast-util-toc`, but

[2019-04-25 04:24] tgy3300 opened #13622 "Can you remove the <style id="typography.js">...</style> part of the page?"
Create a gatsby blog project using the `gatsby new my-blog-starter https://github.com/gatsbyjs/gatsby-starter-blog` command. After the `gatsby develop` test, the page was found to have `<style id="typography.js">. ..</style>`, can you remove this?

[2019-04-25 04:26] DSchau commented on #13622
Hello!

You'll want to remove `gatsby-plugin-typography` from `gatsby-config.js`, as well as the associated `typography.js` file in `src/utils`.

However--note that you'll lose the nice, optimized typography that you may have wanted.

Thanks!

[2019-04-25 04:26] #13622 closed

[2019-04-25 04:29] DSchau commented on #13621
I think you're asking for a feature we're terming "Incremental builds." The idea will be that you don't have to re-build the _entire_ site, but rather can do so in a more performant matter by understanding the internal data layer and knowing which pages to re-build.

This isn't currently possible--so the recommended approach will be to re-build the entire site on a change, e.g. with a CI build as

[2019-04-25 04:29] #13621 closed

[2019-04-25 04:49] thecox commented on #9513
@sami616 Sorry that this response is so late. Unfortunately, we had to abandon Gatsby due to the issue above. Our setup just wouldn't work without separating paths for assets without the client-side redirect. Looks like there's some work going on to resolve the issue above.

Still love Gatsby and use it on other projects, but a bummer that it wasn't a fit here.

[2019-04-25 05:50] sami616 commented on #12832
HI @stefanprobst i tried installing ```gatsby@schema-customization``` and using your code above, but am now seeing ```Cannot read property 'split' of undefined``` in my terminal

[2019-04-25 06:07] wardpeet commented on #12832
could you update https://github.com/sami616/gatsby-contentful-custom-schema-bug so we can test it ourselves and createa fix :)

[2019-04-25 07:33] chenshuai2144 opened #13626 "[gatsby-transformer-remark] I want to build code code with webpack"
hi guys
I want to migrate the code of ant.desgin to gatsby, which is a great product. I have migrated [ant design pro](https://pro.ant.design/). [repo](https://github.com/ant-design/ant-design-pro-site)
But I encountered a very difficult problem in antd, the code in md in antd will be compiled by webpack, so he can directly display his demo. I can't do it in gatsby, I hope I can have a good soluti

[2019-04-25 07:55] smakosh commented on #10457
Having the same issue here even after deleting both the `public` and `.cache` folders, I even removed the `node_modules` and re-installed them

[2019-04-25 08:07] stoltzrobin commented on #7373
Sorry for late response, but yea we have had some memory issues (not sure tho if it was due to the movement of queries) but we solved it by adding a filter to contentful #12939  (to minimize the amount of nodes created)

[2019-04-25 08:09] stoltzrobin commented on #7373
Sorry for late response, yea we have had this issues as well. But we moved away from running an dev server for authers and we always build the application instead and trying to use the internal cache as good as possible to lower build times. This have worked good for us.

[2019-04-25 08:23] sami616 commented on #12832
@wardpeet done! :)

[2019-04-25 08:42] feychenie commented on #11105
I had a similar issue, a 301 redirect from non-slash to slash while removing trailing slashes with the plugin.

@itmayziii, are you creating pages in gatsby-node?

I noticed that for one (and only one) type of pages, I was calling createPage({ path: ... }) passing a `path` with a trailing slash (_ooops_), but as it was removed later by the plugin, the mistake wasn't visible when listing all the av

[2019-04-25 09:00] feychenie commented on #13594
@Moocar, my bad, this was actually happening on pages created programmatically in gatsby-node, where some paths used with `createPage` had trailing slashes, that wasn't visible when listing all available path to debug because this list was already processed by the plugin before printing it out (_duh_).

I also couldn't notice a difference in behavior with regular files in `pages/`, because we are

[2019-04-25 09:00] #13594 closed

[2019-04-25 09:01] DSchau commented on #13594
@feychenie please don't apologize! Thanks for opening the issue, remedying the issue, and wrapping up what the issue actually was for others! We appreciate it!! 💜

[2019-04-25 09:49] feychenie commented on #11105
Actually, all is said in this phrase (by @sidharthachatterjee)

So yeah, double check the paths you create programmatically :)

[2019-04-25 10:06] k-five commented on #13599
I expected that a world-class CLI like yours had a better dependency management.
32-bit machines are not new and there are many of them out running.

Your CLI should do some kind of checking or prerequisite checking.

Nether have I.
And thank you for quick reply. You can close the issue.

[2019-04-25 11:08] stefanprobst commented on #12832
@sami616 This should already work (needs a new alpha/beta release that contains #13591)

[2019-04-25 11:13] vanwalj commented on #13615
This seems to be the root issue https://github.com/GoogleChrome/workbox/issues/1663
Unfortunately it doesn't seems straightforward to fix 😨

[2019-04-25 11:32] pieh commented on #13620
https://www.npmjs.com/package/gatsby-plugin-page-transitions is excellent plugin that abstracts lot of setup needed for page transitions, but it also is a bit opinionated (using `react-transition-group`). I think for the most part complete page would look something like this mention available packages for this:
 - so already mentioned https://www.npmjs.com/package/gatsby-plugin-page-transitions
 -

[2019-04-25 11:41] muescha commented on #13583
If wenn add a short Name: in the same step Wenn can add a short teaser.

Usage:

- as tooltip over a Link (like the preview here in at GitHub when I hover over a issue number)
- in search results
- tooltip if I hover over the left TOC

[2019-04-25 11:57] pieh commented on #13626
This is possible to do with `mdx` (using `gatsby-mdx` as alternative to `gatsby-transformer-remark`)

When using that, you can actually import and use react components inside your .md(x) files:

[code]

For documentation pages, you can also use `docz` which automates a lot of things for this usecase + provide nice utilities:
 - `<Props of={SomeComponent} />` component that will list available prop

[2019-04-25 13:02] chenshuai2144 commented on #13626
i konw this.
We have quite a lot of stock md documentation. If you need to rewrite it with this. It is very difficult to change it.
My ideal api is to convert the code in` http://pro.ant.design/static/d/140/path---index-6a9-0SUcWyAf8ecbYDsMhQkEfPzV8.json ` to webpack

[2019-04-25 13:27] paschalidi commented on #13401
@KyleAMathews hey, I might be wrong but it looks like this issue needs to be closed.

[2019-04-25 13:28] #13401 closed

[2019-04-25 13:37] #13593 closed

[2019-04-25 14:41] sidharthachatterjee opened #13631 "Unify express middleware APIs"
As noted in https://github.com/gatsbyjs/gatsby/issues/12924, there isn't an equivalent way to add middleware for `serve` like there is for `develop` (developMiddleware)

Adding a new API for this like we proposed earlier doesn't seem like a great idea and would expand the API surface unnecessarily. Instead we ought to unify these for the two in v3

[2019-04-25 14:42] sidharthachatterjee commented on #12924
Just closed the pull request that @iFlameing opened after a discussion with the team. We'd like to keep `serve` as lean as possible since it isn't meant to be used other than during testing and adding another API for this doesn't seem like a worthy investment!

We could perhaps unify express middleware APIs in v3 (and rename from `developMiddleware`) but in the mean time, you should be able to cop

[2019-04-25 14:42] #12924 closed

[2019-04-25 15:13] nickreese commented on #13572
@peih — We were unable to reproduce the issue when enabling both plugins. Our team believes it was fixed by upgrading our packages including gatsby.

[2019-04-25 15:13] #13572 closed

[2019-04-25 16:18] davidbailey00 commented on #12964
Hey there! Sorry for replying late - just wanted to give my two cents :)

I think we have discussed this behavior before internally and agreed that there are some advantages and disadvantages to both the current behavior and proposed. Primarily, introducing an instant refresh would cause a delay and might appear odd to users of a site.

If you want to force a refresh immediately, you can use the [

[2019-04-25 16:19] davidbailey00 commented on #7454
Closing, since this has been fixed (or else caused by dodgy plugins / CSS). Please open a new issue if any further problems occur :)

[2019-04-25 16:19] #7454 closed

[2019-04-25 16:24] FlorianMarsch commented on #10371
Added a dummy Tag. That works for me

[2019-04-25 17:11] sidharthachatterjee commented on #8714
Closing this since https://github.com/gatsbyjs/gatsby/pull/11100#issuecomment-486755549

Keep an eye out for @mrfunnyshoes's fantastic plugin that will enable this!

[2019-04-25 17:11] #8714 closed

[2019-04-25 17:22] hdev0301 commented on #2518
I would like to know what this means.

[2019-04-25 17:27] #12728 closed

[2019-04-25 18:08] rafcontreras commented on #13437
Hi @jeffchuber,

Why do you need to route to the `apple-app-site-association` file? Safari looks if the file exists on your server for credential sharing.

It may be that your server is restricting access to dotfiles which are hidden to some OSs.

I use express to serve the gatsby files and express.static to allow access to the `.well-known` folder.

[code]

<img width="277" alt="Screen Shot 2019-

[2019-04-25 18:21] marcysutton commented on #13583
@muescha I think this issue should remain focused on supporting breadcrumbs. Tooltips are entirely different patterns that we aren't addressing here, so we should keep the scope limited if possible.

[2019-04-25 19:50] jasonnoahchoi commented on #3853
not sure where else to ask this but a bit relevant. do any of these plugins support gatsby's `pathPrefix`?

[code]

[2019-04-25 20:03] CanRau commented on #3853
Hmm interesting, I think the former makes usually more sense though as the pathPrefix is kind of making your domain to be `domain.com/prefix` so changing the root when you have installed Gatsby in a subdirectory, if you don't install it to a subdirectory you don't need it, if you use a subdirectory changing the prefix to be after the language would break it..

Now the question comes up, why are yo

[2019-04-25 20:05] kuworking commented on #13035
Hi @wardpeet, at the end I was having a bunch of errors and I've decided to ditch `esm`, thinking that this was causing the error.

__It is not.__

I have made a minimal repo

https://github.com/kuworking/test_cannot_update_workspace

where all packages are up to their last version except `gatsby`. At version 2.1.4 (as it is in the repo) it works. If you update to the latest (2.3.30) it is not wor

[2019-04-25 20:20] kuworking commented on #13035
This is weird:

If you

[code]

it doesn't work

Then, if you go to
https://github.com/kuworking/test_cannot_update_workspace/blob/master/packages/gatsby-theme-inici/gatsby-node.js#L58

And there add a silly `console.log`

[code]

Then it __works__ (I would add a smiley of shock here)
Then you can delete it and it __still works__.
You can delete `node_modules` and `.cache` and then `yarn` and then

[2019-04-25 20:27] shannonbux opened #13632 "Plugin library not rendering some images"
## Description

I've seen this issue before, and thought we fixed it months ago. The plugin library doesn't seem to render some kinds of images from READme files.

### Steps to reproduce

Go to these links and notice the images at the top of the READme files. The first one doesn't render correctly, the second one does.
https://www.gatsbyjs.org/packages/gatsby-mdx/?=gatsby-mdx
https://www.gatsbyjs.

[2019-04-25 20:30] KyleAMathews commented on #13632
The image in gatsby-mdx has a relative path pointing to @ChristopherBiscardi's github repo. That could be changed to an absolute link. We could also while building the pages try to download images with relative paths and use that.

[2019-04-25 20:50] itmayziii commented on #11105
@feychenie

Thanks for the tip and we are creating pages using gatsby-node, but we definitely do not have trailing slashes in our data. The issue for me specifically was that the gatsby javascript was putting the trailing slash back in the URL after the page had loaded so that if a user were to refresh there page they would get a 301 which is not ideal.

[2019-04-25 21:19] rzubrycki commented on #11123
It's 25th april and issue is still present

[2019-04-25 21:48] marcysutton opened #13633 "[www] remove plugin and starter feedback widget"
On https://www.gatsbyjs.org/plugins/, there is a feedback collection widget for the Plugin Library. When I tried logging into Unbird (where the data is going), I found that Gatsby doesn't have a current subscription. The widget is also inaccessible, and uses a non-interactive SVG icon instead of a button element. Given this has gone unnoticed for a while and the plugin library data hasn't been rev

[2019-04-25 21:48] ppsirius opened #13634 "Unknown field 'localFile' on type 'wordpress__wp_media'"
## Description

I try to use images from ACF fields on my site but can't handle that. I saw similar issues but all are closed and without a solution. I also try to change the field name to "featured_media" but without success.

### Steps to reproduce

gatsby-config.js

[code]
and the query

[code]

### Expected result

Builder doesn't throw an error and I can use images through gatsby-transformer-

[2019-04-25 22:06] polishedwp commented on #13633
It looks like the component `<Unbird />` in on line `116` of the `plugin.js` file located @ `www/src/pages/plugins.js`. Is this all the changes you need made? Or do you need `www/src/components/unbird.js` removed as well? I will be glad to work on this one.

[2019-04-25 22:07] zslabs commented on #12924
@sidharthachatterjee Cool, no worries! [Here's a blog post](https://zslabs.com/articles/local-gatsby-production-builds-with-netlify-functions/) that goes into a bit more detail how I accomplished the workaround for anyone who needs this for the future.

[2019-04-25 22:09] marknsikora opened #13635 "[gatsby-plugin-sharp] Sharp 0.22 needed for node 12"
## Description

Newest version of node 12 has some api changes that require a newer version of sharp.

See: https://github.com/lovell/sharp/issues/1668

### Steps to reproduce

Try installing gatsby-plugin-sharp with node 12

### Expected result

Build should succeed.

### Actual result

Build fails.

### Environment

[code]

[2019-04-25 23:09] polishedwp commented on #13635
@marknsikora It looks like latest release of Sharp, released a few hours ago fixes this issue. So, [Sharp v. 0.22.1](https://github.com/lovell/sharp/issues/1668#issuecomment-486808156 ) is compatible with Node 12.

[2019-04-25 23:15] ChristopherBiscardi commented on #13632
gatsby-mdx is being PR'd to the monorepo anyway soon. After #12514 lands.

This is definitely a gatsby-mdx relative image in readme issue and not a .org issue.

[2019-04-25 23:41] marcysutton opened #13638 "Docs: some packages show up without Gatsby site chrome"
## Description

Some package listings open on the .org site without the Gatsby site navigation and gloabl markup. We should determine why!

### Steps to reproduce

- Visit this page: https://www.gatsbyjs.org/packages/gatsby-dev-cli/
- Observe how the style differs from another package: https://www.gatsbyjs.org/packages/gatsby-plugin-sharp/?=

![gatsby-dev-cli](https://user-images.githubusercontent

[2019-04-25 23:47] #13633 closed

[2019-04-25 23:54] muescha commented on #13583
@marcysutton

Just when we touch all files for a short name then we can add also the teaser in the same step.

When a short name has a teaser then it is more easy to find a short name. that's the idea

[2019-04-26 00:31] lannonbr commented on #13638
Linking another issue as it is related to this: #13457

[2019-04-26 01:36] pieh commented on #13635
We do need to bump `sharp` ( https://github.com/gatsbyjs/gatsby/blob/1443d4c6fccaf5f9700a1d020f283537f3a857d2/packages/gatsby-plugin-sharp/package.json#L23 ) in our packages as we won't install 0.22.1 automatically.

[2019-04-26 01:46] qnguyen12 commented on #11672
I don't know if this is the cause of the big size of images after building?
For example, file on Github is 138KB https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/static/img/home-jumbotron.jpg
but it's 437KB on https://gatsby-netlify-cms.netlify.com/
Both files have the same dimensions, resolution and bit depth.

[2019-04-26 01:47] polishedwp commented on #13635
@pieh I could bump the `package.json` but would not know about how to test if there are any compatibility issues with the new version of Sharp.

Let me know what you need.

[2019-04-26 02:44] hydrosquall commented on #5563
Hi @marcysutton, I'll open a PR to take care of a first pass at this.

[2019-04-26 03:42] hydrosquall opened #13641 "[docs site] Webassembly Error When Building"
## Description

Documentation site was unable to build locally, encountered while trying to test #13640

### Steps to reproduce

Following the directions in the [docs contributions](https://github.com/gatsbyjs/gatsby/blob/master/docs/contributing/docs-contributions.md#docs-site-setup-instructions) page

### Expected result

Build completes without error

### Actual result

[code]

### Environment

[2019-04-26 03:49] hydrosquall commented on #13641
After searching around for this error message, it seems like this issue is  possibly related, something related to interactions between React Hooks and the React Hot Loader.

https://github.com/gaearon/react-hot-loader/issues/1088#issuecomment-448038342

[2019-04-26 04:00] hydrosquall opened #13642 "[docs-contributing] Generate Developer Preview Branches with Netlify"
## Summary

Connect Netlify to the Gatsby repo, so that changes to the `docs/` folder triggers a build of the docs folder. This way, people can share changes that they've made to the site without requiring reviewers to build the site locally. The link to the preview site shows up in the "Checks" area of the pull request, similar to the existing tests that are run.

Documentation about the Netlify

[2019-04-26 04:03] tessereth commented on #12964
That all makes sense but I think you might have missed what I'm actually concerned by. Let me try and explain. The service worker update lifecycle is something like:

1. Original version of the service worker is installed
2. Browser checks if `sw.js` has changed
3. New service worker is installed
4. New service worker takes over pages

`onServiceWorkerUpdateReady` is to do with steps 3->4. I'm con

[2019-04-26 04:58] stefanprobst commented on #12510
@angeloashmore For custom directives, this is how it could look like: #13623

[2019-04-26 05:04] stefanprobst commented on #13634
Is this the same issue as described in #10347?

[2019-04-26 06:01] kuworking commented on #10531
@jgierer12 It didn't work for me, it fails with the first `import *` from `/gatsby-node.mjs`, also after installing `@babel/core` as said [here](https://babeljs.io/docs/en/babel-register)

[code]

with

[code]

[code]

I get after `yarn` and `yarn workspace site develop`
[code]

[2019-04-26 07:01] marknsikora commented on #13635
@polishedwp  Changelog for sharp looks like it was just a version bump of the underlying library, no mention of any backwards compatibility issues

http://sharp.pixelplumbing.com/en/stable/changelog/

[2019-04-26 07:13] KartSriv commented on #13473
Sorry, @jlengstorf! Missed your response in the cluttered notifications. I'll take this issue but give me some time cause I am AFK for the next couple of days. I think @marcysutton is referring to this live stream: https://www.youtube.com/watch?v=IADSsClWVtA I'll just see it and add more stuff to the E2E doc. Thanks - Karthik Srivijay

PS: Sorry for the delay for both following up this issue and f

[2019-04-26 08:28] loxaxs opened #13644 "Complete documentation for `createPages`"
I'm looking for the documentation for `exports.createPages` in `gatsby-node.js`, but all I found is this: https://www.gatsbyjs.org/docs/node-apis/#createPages, which is purely example.

Is there some doc I'm missing? If not, what's the list of arguments passed to `createPages`?

[2019-04-26 09:10] loxaxs commented on #7540
I have the same problem. I'd like to get an answer to this question. Could it be reopened please?

[2019-04-26 09:16] loxaxs commented on #7540
Okay, it's actually trivially possible by passing `path: "/"` to `createPage`.

[code]

[2019-04-26 09:23] feychenie commented on #11105
Yes that's exactly what I am talking about

[2019-04-26 09:40] slorber opened #13645 "Dynamic route (/product/id) with static layout"
Hi,

I'd like to have some kind of dynamic `/product/id` route but keeping my layout static.

I don't want to have one static page per product and rebuild on every product change.

I want the product page to be server rendered with empty content, and the product details to appear in the layout only on client side.

It has often been advised to use client side only routes for such an usecase, but I

[2019-04-26 09:58] joealden commented on #13641
I am also seeing this error in a private Gatsby project. It looks like this release is the culprit: https://github.com/gatsbyjs/gatsby/commit/25a36d3332f6ac27e6369b851968fc100f3c02f0.

[2019-04-26 10:11] kuworking commented on #13035
At the end, I've solved it by moving from `setFieldsOnGraphQLNodeType`  to `onCreateNode`. Reading the docs I'd say I wasn't using properly the former, and it ended up in not working consistently (like if depending on when it was executed, the changed nodes would be available or not).

Somehow with the old Gatsby this wasn't a problem.

With `onCreateNode` I am able to use the same functionality,

[2019-04-26 10:12] universse commented on #13645
Client-only route is the right solution for your use case.

First you need to create pages/product.js and this is where you create static layout for /product/:productId.

Then you need to extract productId from props.location and fetch the data from your api accordingly.

This way, your layout will be server rendered and become available asap while data is being fetched happens. Don't forget to co

[2019-04-26 11:17] minimit commented on #8560
I've a similar problem maybe related to this, I load the styles dinamically, on gatsby develop the styles are relative to the current document/component, on gatsby build all the styles inside 'source.less' are applied to the whole app

`
  componentDidMount() {
    require("./source.less")
  }
`

[2019-04-26 12:04] luukdv commented on #13410
Could this be the same issue as https://github.com/gatsbyjs/gatsby/issues/11524 and https://github.com/gatsbyjs/gatsby/issues/12399#issuecomment-480082161?

[2019-04-26 12:05] pieh commented on #13635
There seems to be issue if some packages will use sharp 0.22 version and other ones will use 0.21, so this is not easy thing to fix - see comments in https://github.com/gatsbyjs/gatsby/pull/13646. In the meantime, you potentially could workaround this by using `yarn` instead of `npm` and make use of [`yarn resolutions`](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) to force `sha

[2019-04-26 12:22] smakosh commented on #11524
Workaround: https://github.com/gatsbyjs/gatsby/issues/13410#issuecomment-486306784

[2019-04-26 12:22] smakosh commented on #12399
Workaround: https://github.com/gatsbyjs/gatsby/issues/13410#issuecomment-486306784

[2019-04-26 12:24] pieh commented on #13626
Ah, ok.

Given that switching to mdx is not feasible for this use case, there is still some value in it - because mdx does something like that under the hood.

Just to clarify, so we talking about more concrete examples - are we talking about handling (for example) this https://github.com/ant-design/ant-design/blob/master/components/button/demo/basic.md (and rest of demos) as input
to achieve some

[2019-04-26 12:31] QasimRRizvi commented on #11406
it saved my day

[2019-04-26 12:43] chenshuai2144 commented on #13626
yep.
I used babel to compile, but I can't handle third-party dependency reports.

[2019-04-26 12:52] bgbohling commented on #13595
I don't know of any public instances.  I could possibly try to send you some custom entity definitions, if that would help.

[2019-04-26 14:29] verpixelt commented on #6175
Thanks so much for this Answer @KyleAMathews. Found this while googling trying to solve the same issue and it worked :)

[2019-04-26 14:31] moreguppy commented on #3344
I found this approach worked:

[code]
It seems for reference fields, you have to define the shape of the model you are referencing as well

[2019-04-26 15:07] antoinerousseau commented on #11524
@smakosh I'm not using service workers.

[2019-04-26 15:09] Omar-Gee commented on #5667
Hi all,

[MY SOLUTION]

Installed and configured plugins as documented on https://www.gatsbyjs.org/docs/styled-components/

[THE ISSUE]

Migrated from CSS Modules to Styled Components and forgot to install and configure the corresponding plugins properly.

Hope this helps someone out there as this caused me a few days of annoyance.

[2019-04-26 15:13] smakosh commented on #11524
The offline plugin is using it

[2019-04-26 15:21] jonniebigodes commented on #13644
@loxaxs the page you've linked has the de facto arguments that are mostly used with the `createPages` api.
For some more context on what the arguments used see [here](https://www.gatsbyjs.org/docs/actions/#createPage). It complements the one you mentioned.

[2019-04-26 15:26] slorber commented on #13645
@universse I don't really understand, the name "client only route" means to me that the page won't be server-rendered, so I'm confused.

Actually, according to my test, it looks like a "client only route" is still server-rendered. I get in my public folder the following:

![image](https://user-images.githubusercontent.com/749374/56818426-e37b8300-6847-11e9-95ea-398974a3da94.png)

My conf is

![ima

[2019-04-26 15:31] jeffchuber commented on #13437
@rafcontreras thanks for the idea!

currently im using Cloudfront -> S3 -> gatsby static site.

I found a workaround which is hosting on a subdomain, so I'm going to close this for now out of respect for the community.

[2019-04-26 15:31] #13437 closed

[2019-04-26 15:32] jkjustjoshing commented on #4572
Can we re-open this? This seems like a pretty important thing to document inside the [Plugin Authoring Guide](https://www.gatsbyjs.org/docs/plugin-authoring/#plugin-naming-conventions).

I'm writing an extension right now that is taking nodes defined by `gatsby-source-filesystem` and transforming them. Should `gatsby-source-filesystem` be a nested plugin of my transformer plugin? I do not know the

[2019-04-26 15:52] antoinerousseau commented on #11524
Ok but what I mean is that the bug happens even without that plugin.

[2019-04-26 16:04] muescha opened #13648 "missing Links on community events page"
## Description

i miss some links at [community events](https://www.gatsbyjs.org/contributing/events/):

GatsbyGatsby Days NY — May 6, 2019
-> can not find any link

Total Newbie Introduction to Gatsby — June 6, 2019
https://www.colabroanoke.com/public-events

JAMStack Conference — April 9, 2019 (NYC)
https://jamstackconf.com/

[2019-04-26 16:04] KartSriv commented on #13644
**@loxaxs I think [this](https://www.gatsbyjs.org/blog/2017-11-06-migrate-hugo-gatsby/#programmatic-page-creation) is the doc you're looking for.**

[2019-04-26 16:11] smakosh commented on #11524
Can you check that you've successfully unregistered the SW as maybe you have used it before, try also clearing your Gatsby cache by deleting the `public` and `.cache` folders

[2019-04-26 16:15] muescha opened #13649 "more links between the pages in section 'community'"
i miss some crosslinks in section community at the pages. i think in the overview there should also some links to the subpages of this section. what are your opinions?

**where i miss some crosslinks:**

on [community](https://www.gatsbyjs.org/contributing/community/):

- Why Contribute to Gatsby.js?
- Gatsby Community Events
- Where to Participate in the Community
- Organize a Gatsby Event
- How

[2019-04-26 16:17] antoinerousseau commented on #11524
Never used any SW on that project. (and just checked just in case)
`public` and `.cache` are always recreated by Netlify.
Errors are being reported in production by Sentry.
https://sentry.io/share/issue/738b234836814442b7702866c6814fdf/

[2019-04-26 16:29] jonniebigodes commented on #13645
@slorber content in the `pages` folder or created dynamically with the `createPages` API will always created and server rendered, now the process on how they are rendered to the client is a whole diferent thing altogether.

The best analogy i can offer is in [here](https://www.gatsbyjs.org/docs/authentication-tutorial).

In a nutshell, you are creating the routes and the pages to acommodate those

[2019-04-26 16:36] smakosh commented on #11524
Is your project open sourced? if so can you link below, I'd love to check it out and see how I can fix that

[2019-04-26 16:45] jonnybot0 commented on #8479
I'm still having this issue on 2.0.89... lemme see if I can scare up a quick repro repo.

[2019-04-26 16:58] antoinerousseau commented on #11524
Sorry it's not, but basically it's a Gatsby site served by Netlify...
[code]

[2019-04-26 17:05] smakosh commented on #11524
I'm seeing the offline plugin installed

[2019-04-26 17:11] slorber commented on #13645
Hi,

Actually in my case there is no authenticated part at all, but I've already read that tutorial multiple times + the auth examples + the email client example :D still not easy to figure things out.

And those routes are "one shot", like "/product/id", "/scan/id", there are not multiple ones behind a single path, and there is not a path prefix like app/* with multiple client routes behind, so d

[2019-04-26 17:12] universse commented on #13645
@slorber i guess it's just a case of confusing terminology. I guess "client-only" means data is available client-side only while the static parts (layout) is still server-rendered. This is in contrast with normal use cases where data is also server-rendered. I made a product with similar use case and the method worked well for me.

[2019-04-26 17:14] universse commented on #13645
You are right. gatsby-plugin-netlify will automatically create redirect for client-only routes. Something like this

_redirects
[code]

[2019-04-26 17:16] antoinerousseau commented on #11524
Yes sorry but not used, here is my Gatsby config:

[code]

[2019-04-26 17:26] smakosh commented on #11524
I can't help without a reproduction repository as I need to check more stuff to debug

[2019-04-26 17:27] #12790 closed

[2019-04-26 17:27] #12827 closed

[2019-04-26 17:27] #12831 closed

[2019-04-26 17:54] slorber commented on #13645
Actually I understand now. Everything was unclear because I'm creating pages manually.

`onCreatePage` does not wire when you create pages manually (I thought it was wired to all page creations actually, not only the ones in /pages folder), and also the client page plugin is hooking with `onCreatePage` so basically this plugin is useless for my usecase too.

And as I was setting matchPath this way

[2019-04-26 18:06] marcysutton commented on #9332
@rizchelwood I just noticed you had expressed interest in working on this issue, if you're still interested I know we could use help (and some internal knowledge to make sure the messaging is accurate)!

[2019-04-26 18:24] marcysutton commented on #13648
Here's a link for Gatsby Days: https://www.gatsbyjs.com/resources/gatsby-days/

PRs welcome!

[2019-04-26 18:59] marcysutton commented on #9374
We would definitely love for someone to take this on! If you're interested in working on it, go for it. Submitting a PR is the best way to move this forward.

The location for this in the docs may move as I'm proposing some changes to the Tutorial section (grouping the main tutorial + advanced tutorials) but that shouldn't impact the content. For ideas on what an image tutorial should cover, you c

[2019-04-26 19:37] kenlu89 opened #13655 "Issue with integrating with reactstrap/bootstrap"
We're facing a problem when import the reactstrap into our Gatsby site. When we do a build on Gatsby the bootstrap or reactstrap, the CSS code embed into all the public static html page. This causing our site from to change folder size from 400MB all the way to 4.6GB and may eventually be more.

Is there a way to include reactstrap also our own CSS rule to not embed into the html pages?

[2019-04-26 19:40] MurphyPone opened #13656 "gatsby-remark-images are not receiving the path-prefix"
## Description

I'm trying to render images from some markdown blogposts on a site being hosted on GitHub Pages that's at a url like:

"username.github.io/reponame/specific-blog-post-page",

but I'm receiving 404 errors as the markdown is trying to pull from

"username.github.io/static/.../image.jpg" rather than ""username.github.io/reponame/static/.../image.jpg"

This results in drastically compr

[2019-04-26 20:01] jonnybot0 commented on #8479
Here's my reproduction: https://github.com/jonnybot0/gatsby-static-image-bug-demo
@NathanLawrence @kakadiadarpan - should I open a new issue?

[2019-04-26 20:34] broeker commented on #13213
I found this page via Google when searching on this same error. In my case, I first encountered the error when trying to spin up a sample project from the Material UI/gatsby repo, and was not able to run `gatsby develop` due to this same error:

WebpackError: Cannot find module 'core-js/modules/es6.object.assign'

I found a similar starter kit on gatsbyjs.org that uses and clicked the "Try this st

[2019-04-26 20:35] jmssmth commented on #4967
[ Also related to #10398 ]

**Path Issues with Homebrew Node on WSL**
I'm finding that after installing node via Homebrew onto WSL, `.npm-global` isn't being added to $PATH. Maybe it's not supposed to, but given the tutorial instructions, this will be a stumbling block for those utilizing WSL and/or unfamiliar with such things. For now I'm simply adding `.npm-global` manually to the WSL $PATH as a

[2019-04-26 20:52] jmssmth opened #13657 "Homebrew Node on WSL not Adding `.npm-global` to $PATH"
**Description**
I'm finding that after installing node via Homebrew onto WSL, `.npm-global` isn't being added to $PATH. Maybe it's not supposed to, but given the tutorial instructions, this will be a stumbling block for those utilizing WSL and/or unfamiliar with such things. For now I'm simply adding `.npm-global` manually to the WSL $PATH as a fix.
<br>
**Steps to reproduce**
After installing gat

[2019-04-26 20:52] jradikal opened #13658 "gatsby-plugin-page-creator creating pages with paths differently cased to the filesystem"
## Description

gatsby-plugin-page-creator is creating pages with a lowercase path however my filesystem uses some uppercase paths.

### Steps to reproduce

just run gatsby develop on https://github.com/jradikal/jaredsmith.tech, however I'm not sure that this would happen to everyone, I'm currently on windows 10 x64

### Expected result

gatsby develop should compile with no errors

### Actual res

[2019-04-26 21:28] derricktsmith opened #13660 "Trying to add mapping for authors in blog"
## Description

I am trying to add author information to my blog posts. However, it is not working and I am getting the following error message.

`Error: MarkdownRemarkFrontmatter.author cannot convert to OutputType the following string: 'AuthorYaml'`

I looked at the [mapping in the Gatsby docs](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types).

I also saw, and copied, how Gatsby

[2019-04-26 22:21] polishedwp commented on #13660
Sorry... Looking at repo on my phone but It does not look like you modifed the GRAPHQL query like the example in the docs.

Need to add the yaml fields to the query.

[2019-04-26 22:27] muescha commented on #13648
since i can not make pull request to the airtable, the maintainer of this airtable need to make the update...

BTW: is there any public database sytem with an "Pull Request"-Feature?

[2019-04-26 22:38] lemon-31 opened #13662 "Build Error - Writing documentation with Docz"
Hi, I just tried following the Docz tutorial from scratch located at:
[https://www.gatsbyjs.org/docs/writing-documentation-with-docz/](https://www.gatsbyjs.org/docs/writing-documentation-with-docz/)

I received a build error:
[code]

Any idea what could be causing this issue?

Some of my environment details:
[code]
package.json
[code]
gatsby-config.js
[code]

Feel free to let me know if you would

[2019-04-26 23:14] judah-firewood commented on #7713
Same

[2019-04-27 00:10] j-lasak opened #13664 "gatsby-source-drupal - Skip certain JSONAPI resources (file--file)"
The Drupal backend I'm using has many images that won't be used in the Gatsby app, but are downloaded regardless due to the way gatsby-source-drupal gatsby image processing works. This is causing a longer build time than I'd like.

I think it's possible to include the image data with the node endpoints via an "include" using the filter option. Something like:

`filters: {`
`          // collection

[2019-04-27 00:35] polarathene commented on #9374
[A PR for another feature to `gatsby-image` is currently in development/review](https://github.com/gatsbyjs/gatsby/pull/13395). It adds support for art-direction by supplying an array of fluid/fixed image data, allowing an image to represent multiple variants based on their matching media query condition.

Would be good to include that too, or an update if these docs are finished before the PR is

[2019-04-27 01:01] Mohammed-Alama opened #13665 "GraphQL does Not output path,date,auther from md file"
## Description
I'am trying to follow this tutorial and when i write query to get frontematter and excerpt it show only title and excerpt
### Expected result
`{
  "data": {

    "allMarkdownRemark": {
      "edges": [
        {
          "node": {
            "frontmatter": {
             "path":"/post-one"
             "date":"2019-4-26"
             "title": "First Post"
             "author":"Mo

[2019-04-27 01:11] Mohammed-Alama commented on #13665
it working with me after restart gatsby develop
Thank BTW 👍

[2019-04-27 01:11] #13665 closed

[2019-04-27 01:18] EAdeveloper commented on #4987
@jmolivas
 There are many packages and plugins to convert markdown to HTML.
I particularly used a package called [showdown.js](https://github.com/showdownjs/showdown)
to convert the markdown formatting coming from [Strapi.io Headless CMS API](https://strapi.io/)

 If Drupal does the job of converting the markdown to HTML,
I do not see any advantage of using any other plugin since
the pages are cre

[2019-04-27 02:12] polishedwp commented on #13660
Responded to the repo https://github.com/derricktsmith/gatsby-blog-author/pulls

[2019-04-27 03:14] alexdevero commented on #13635
@pieh Thanks a lot! This worked. It is usable at least as a temporary workaround.

[2019-04-27 03:37] jgalat opened #13667 "wrapPageElement is not working when being exported using CommonJS syntax"
## Description

wrapPageElement is failing to render when being used in gatsby-browser.js and not working
when being used in gatsby-ssr.js.

### Steps to reproduce

Export wrapPageElement from either gatsby-browser.js or gatsby-ssr.js

You can clone this repository which contains a reproduction of the bug
https://github.com/jgalat/wrap-page-element-bug-reproduction

### Expected result

Pages shou

[2019-04-27 06:05] mujeex opened #13669 "How to fix "unknown argument slug""
<!--
I am currently trying to create a blog site using gatsbyjs, and would like my blog posts to have their pages created for them programmatically.

I followed the steps in the tutorials section of the official documentation, but instead of creating the pages from a markdown file, I am pulling data from the contentful CMS. I keep on hitting this block whenever I run my code.

##gatsby-node.js fil

[2019-04-27 06:13] mujeex commented on #13669
##Description
I am currently trying to create a blog site and would like my blog posts to have their pages created for them programmatically.

I followed the steps in the tutorials section of the official documentation, but instead of creating the pages from a markdown file, I am pulling data from the contentful CMS. I keep on hitting this block whenever I run my code.

##gatsby-node.js
`const pat

[2019-04-27 07:32] Blumed commented on #1754
Just had this issue happen to me. Interesting enough I was working in another directory with an older version of gatsby blog starter but I want to start fresh. So, I downloaded a fresh copy and ran into the error above. I was forced to downgrade my node version. Current stable node version is: 12.0.0. This version creates the head ache seen above. node v11.14.0 worked for me and it worked perfectl

[2019-04-27 08:11] universse commented on #13667
Hi you can try switching require to import/export for **both** gatsby-ssr.js and gatsby-browser.js
[code]

[2019-04-27 09:45] loxaxs commented on #13644
I guess one more example can still be useful.

[2019-04-27 12:09] kimfucious commented on #2470
[Gatsby Background Image](https://github.com/timhagn/gatsby-background-image) is a step forward...

[2019-04-27 12:56] Avizura commented on #9918
I had same issue with props based styles. My case was that ThemeProvider has been located in gatsby-ssr config. After moving it to layout component everything worked even with minification.

[2019-04-27 14:12] jgalat commented on #13667
Hi @universse, thanks for answering. Yes! It worked for gatsby-browser.js, thanks!
Was I doing something wrong with my exports/imports?

I don't know if both APIs can be used at the same time as they are equivalent according to the docs.

For gatsby-ssr.js, I tried the same but when running `gatsby develop` the page isn't wrapped. And
when doing a build and serve it does wrap the page, but after a

[2019-04-27 14:18] jgalat commented on #13667
About the second part of my last comment, I've just deployed the reproduction test case with @universse's changes for gatsby-ssr.js so you can see what I've described: https://objective-jepsen-ce78b2.netlify.com/

[2019-04-27 15:03] nephlin7 commented on #13669
Hi @mujeex,
Error is in the blog-post.js query,  should be for a single entry like this:

### blog-post.js
[code]

[2019-04-27 15:47] jgalat commented on #12517
Hi @fk! I've made some research and found that the `overflow-y` in the component property was causing the issue when collapsed (still don't know how haha).
I'm making a PR with the change (#13673).
Can you please review it? Thanks!

[2019-04-27 16:12] MurphyPone commented on #1505
I'm still having this issue in v2 -- Is there a new fix or workaround?

Thanks!

[2019-04-27 17:01] universse commented on #13667
I guess browser's es6 import/export and node module systems are not entirely compatible. I'm not super clear on the difference between those two. But my general rule of thumb is to use es6 import/export style for both gatsby-browser and gatsby-ssr.

Yes, you need to use both gatsby-ssr and gatsby-browser at the same time. In fact it's even better if wrapPageElement.js is shared between them. You c

[2019-04-27 17:09] jgalat commented on #13667
Thanks for all the answers! Guess I'll close this issue

[2019-04-27 17:27] #12342 closed

[2019-04-27 17:31] narration-sd commented on #12997
Right on time, as I'm about to release a complicated product, and it must not have its screen jumping around.

I've been leaving it pinned to the version before this bug showed up, and will check if there's been any silent repair.

Meanwhile, kindly do not close this issue, thanks.

[2019-04-27 17:33] IvanKovnovic commented on #13641
I've updated my Gatsby project to gatsby@2.3.31, but I still get the same error.

[2019-04-27 17:37] joealden commented on #13641
@IvanKovnovic 2.3.31 is the release that caused this to break. Rollback to 2.3.30 or earlier until a fix for this is released.

[2019-04-27 17:59] jradikal commented on #13658
Ok having tried a lot of different options, it seems to be the fact I was using powershell to run "gatsby develop", this seems to be causing my file path to be all over the place (This is native to windows and the ntfs file system and the fact that windows does not care for a case sensitive path).
I changed to cmder and this resolved the issue.

[2019-04-27 18:23] bchehraz commented on #13442
Today I tried updating my Gatsby project to a more up-to-date version (from 2.0.53 to 2.3.31). Along with that, I updated all of its dependencies to their recommended versions. I am now having the same issue. Luckily I can revert back with this project.

I also created a fresh Gatsby JS project (the default starter) to see if it's just my old project or if there's really a problem here. All I did

[2019-04-27 20:02] Hypothesis-github opened #13674 "Multiple options for gatsby-source-filesystem"
This is probably asked multiple times here and there so please excuse my incompetence to find a proper answer as I scoured through many topics but still failed to get a suitable solution.

[code]

I have access to 'images' through GraphQL but I can't access 'posts'.
How can I access both or more options in my source file system ?

[code]
This is my query,

[2019-04-27 20:14] pungggi opened #13675 "Extend BrowserApi for React Concurrent Mode"
## Summary

Allow to tweak how the React App is rendered, but not only by wrapping the root element.

### Basic example

Standard React:

[code]

Concurrent React:

[code]

### Motivation

Allow Gatsby to be used with the future of React Concurrent Mode.
https://www.gatsbyjs.org/docs/browser-apis/#wrapRootElement does not seem to do it, as it wraps the root element only.

[2019-04-27 20:40] pungggi opened #13676 "Remove Legacy Context API"
## Summary
Running my App in React.StrictMode brings the following

[code]

### Basic example

https://github.com/gatsbyjs/gatsby/blob/3cbaadeea397d7ee871149e117f4e0eaea23b7d2/packages/gatsby-react-router-scroll/src/ScrollBehaviorContext.js#L103

### Motivation
Use the new Context API all over to try out Concurrent Mode now and to be prepared for React 17.
https://reactjs.org/docs/legacy-context.h

[2019-04-27 21:40] gastongarcia commented on #12040
Why did this get closed?  I'm having the exact same issue as others here.

[2019-04-27 21:53] #13204 closed

[2019-04-27 21:58] KyleAMathews commented on #12040
@gastongarcia this isn't a Gatsby issue.

[2019-04-27 22:14] lannonbr commented on #13667
I'm reopening this issue as the original issue was not resolved.

[2019-04-27 22:15] lannonbr commented on #13667
@jgalat could you make your reproduction available again?

[2019-04-27 22:24] gastongarcia commented on #12040
@KyleAMathews You're right.

Here's a the fix that probably everyone needs:

For Netlify Forms, if you're using a SSG like Gatsby, a hidden input field with the form name is needed. Without this it won't work.

https://www.netlify.com/blog/2017/07/20/how-to-integrate-netlifys-form-handling-in-a-react-app/#step-2

<input type="hidden" name="form-name" value="Your-Form-Name" />

[2019-04-27 23:16] jgalat commented on #13667
@lannonbr I've just uploaded it again. Thanks for taking a look at it.

[2019-04-27 23:19] jgalat commented on #13667
Also, according to the [docs](https://www.gatsbyjs.org/docs/layout-components/)

I should be able to use one or the other instead of being forced to implement both the same.

[2019-04-28 00:14] narration-sd commented on #12997
Ok. @KyleAMathews , I've just spent hours I didn't have untangling this, I hope, for responsibility on the project I'm about to release.

It would be very helpful if you could explain what is actually going on.

To make a long story short, _now_ scroll memory has returned to working as it had prior to this change. But the code...that's the question.

I set up to do a PR, in fact, and then found th

[2019-04-28 00:51] narration-sd commented on #12997
(@KyleAMathews, an intermediate message deleted, as a cache apparently fooled tests, and this mod still causes the same trouble. I'll be back...)

[2019-04-28 04:15] nephlin7 commented on #13674
Hi @Hypothesis-github,

if the posts folder is inside /images _**sourceInstanceName**_ it will always be "images". You have to put the post folder outside of images folder.

### gatsby-config.js
[code]

### grapql query
[code]

### Result example
[code]

[2019-04-28 04:32] nephlin7 commented on #13656
Hi @MurphyPone,

did you set **"/code-blog"** pathPrefix on gatsby-config.js?

###  gatsby-config.js
[code]

[2019-04-28 04:37] MurphyPone commented on #13656
Yup, tried that.

[2019-04-28 04:39] Frost0x opened #13680 "Gatsby issues Cannot GET /page error when reloading the /page"
## Description

I deployed the project on the hosting, and when going to the subpage and updating the page, the server gives the error Cannot GET /page. Until I added a server script to send the feedback form by email and installed the node on the hosting everything worked fine .
I also installed the plugin "gatsby-plugin-htaccess" to add .htaccess in other directories but it did not help.

Please

[2019-04-28 04:45] nephlin7 commented on #13656
Ok, i will try to reproduce the error, to try to solve it. I keep you updated.

[2019-04-28 06:46] MicroBenz commented on #11280
Any update? This problem also appears on my Chrome 73.

[2019-04-28 09:03] mujeex commented on #13669
Thanks a lot, nephlin7 but I found out that if querying for entries with "all" prefixed, we are to first use the **filter** argument before the query.

[2019-04-28 09:06] mujeex commented on #13669
So the correct query goes like this

`
export const pageQuery= graphql`
query ($slug: String!){
    allContentfulBlog (filter:{slug:{eq: $slug }}) {
        edges{
          node{
              slug
              author
           content{
               content
           }
          }
        }
      }
}
``

[2019-04-28 14:37] ValeraS opened #13684 "After replace `request` with `got` development proxy does not work properly"
## Description

after #13434
Development proxy does not reflect requests to a new URL.

### Expected result

the proxy should make a request to a new URL which reflects initial request.

### Actual result

the proxy makes `GET` request with default headers to a new URL.

### Environment

  System:
    OS: Linux 4.15 Ubuntu 16.04.6 LTS (Xenial Xerus)
    CPU: (4) x64 Intel(R) Core(TM) i5-2410M CPU

[2019-04-28 14:42] steoneill commented on #13399
@DSchau OK so everything seems to be working as it is before the update :)

I seem to be getting hot update errors though, before & after updating. Is this to be expected?

[2019-04-28 14:44] nephlin7 commented on #13669
ur welcome,

I recommend get item with "contentfulBlog" because is more ease destructuring data in template like this:

### template-blog.js

[code]
If u use `allContentfulBlog ` you will have to iterate in the node to get the data.

[2019-04-28 14:53] paschalidi opened #13686 "Update React InstantSearch to v5"
Hello you all, first things first, I cant really put into words how much I have been amazed by the way you have this project running! 🏆 wow.

## Update React InstantSearch to v5

I am wondering if it makes any sense for you to have the `react-instantsearch` from `algolia` to be updated into the latest version `v5`. I dont think that this is a duplicated issue although I might be wrong..

### Motiv

[2019-04-28 14:58] paschalidi commented on #13638
@marcysutton I am trying to start working on this, it seems to be that somehow when
[code]
is being defined https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/plugin-searchbar-body.js#L486

Some list is being parsed to the component that is being determined from `appId` and `apiKey`. Is there a way that we have access into that so that we can list all the plugins and therefore make

[2019-04-28 15:14] valdezDev commented on #12040
I will be soon publishing a YouTube video as well as a blog post going over
this issue if anyone is interested. As I've stated before, I found that a
correctly set up Netlify form can only work on the index page that the
gatsby boilerplate provides the dev. I had it set up so that the user would
have to navigate to a 'contact' page where the form would be and I would
only get 404 errors. If anyone

[2019-04-28 15:53] jonniebigodes commented on #12040
Catch up on this and it looks like my reproduction not the one above, but the one directed specifically at valdezDev magically disappeared. Humm interesting......Anyway, I've made a pull request to valdezDev repository and you can see there the code i used to make it work.

[2019-04-28 16:05] julessaysrawr commented on #7007
@iammatthias your example was very helpful for me to get graphql data of local photos, 'gatsby-image', and the lightbox from 'react-images' working together.  Thank you 🙌

[2019-04-28 16:16] KyleAMathews commented on #13686
Oh yes please! 🙏

The components are massive right now.

[2019-04-28 16:18] vpicone commented on #11616
I wonder if it's possible that we could revisit this issue. Proper theme development requires that you essentially maintain a starter as your example/dev space in the same repository as your theme.

I think a pattern that allows for themes to publish starters simultaneously would enhance theme adoption and dev experiences. Allowing starters published to npm or revisiting monorepos would be a big i

[2019-04-28 16:21] gastongarcia commented on #12040
You can have the contact form wherever you want. As I posted above, the problem is not having the hidden input field. When using a Static Site Generator it's best to set it up that way.

[2019-04-28 16:23] muescha commented on #11616
The only argument is that we need to clone the full report. And the Gatsby repo is big. But I think there are more repos in the wild which has small repos and there the "repo is to big" argument is not applicable

[2019-04-28 16:42] muuvmuuv opened #13688 "[gatsby-transformer-json] Can not query field `allFooterJson`"
## Description

When I try to access content from one of my JSON data files it seems GraphQL doesn't know the file. I have two files `content/data/social-media.json` and `content/data/footer.json`. The first one is an array the second an object. I added the plugin to my [gatsby-config.js](https://hastebin.com/atiyaboloj.js). `social-media.json` works fine when I call:

[code]

but `footer.json` do

[2019-04-28 16:47] jonniebigodes commented on #13688
@muuvmuuv let me take a look at it and see if i can come up with a solution for your issue. Do you mind waiting just a bit while i tackle another issue? Sounds good?

[2019-04-28 16:48] jsjoeio commented on #13641
For anyone who comes here after me, I rolled back Gatsby to 2.3.30 and still see the game error. I had to rollback to 2.3.29

[code]

[2019-04-28 16:53] joealden commented on #13641
@jsjoeio are you sure about that? 2.3.31 is the version that introduced the change that causes this error, so I can't see why 2.3.30 would be effected by this. Did you ensure that you actually had 2.3.30 installed locally?

[2019-04-28 17:06] jsjoeio commented on #13641
@joealden to give you some context, I was trying to help a friend with [this issue](https://github.com/pedronauck/docz/issues/832). I cloned his repo and was having problems running `gatsby develop` then found this issue, tried rolling back Gatsby and hence, found it didn't work with 2.3.30 (unless I did something else that would have caused this same Webassembly error.

So the answer is, I'm not

[2019-04-28 17:20] joealden commented on #13641
@jsjoeio if I came off a bit abrasive in my above comment, I didn't mean to, so sorry if I did.

I was only commenting as I didn't see how the issue would still exist when having 2.3.30 installed.

I've have since tested it locally and can say with a high degree of confidence that 2.3.30 doesn't cause this error, so I think you must have accidentally still had 2.3.31 installed without realising it

[2019-04-28 17:24] jsjoeio commented on #13641
@joealden no worries at all! I know you were just trying to clarify.

Glad you made that point. I think you're right right about that. I must have still been using 2.3.31.

Hoping all of this contributes to us solving it as a community!

[2019-04-28 17:27] #12868 closed

[2019-04-28 18:06] #13674 closed

[2019-04-28 18:07] charrondev commented on #13436
I think it would be particularly helpful to have IDE assistance and validation when using gatsby APIs in plugins.

I'm trying to do some more complicating things using `onCreateNode` and `createPages` but it's like stepping backwards in terms of knowing if I'm doing things properly or not. It's difficult to find the which package a particular method belongs to so I can find it's signature.

I'm go

[2019-04-28 18:17] charrondev commented on #13436
Sorry to make another comment but I'd also love to see how you guys approach setting up a monorepo w/typescript and lerna.

I was trying to break up an existing typescript monorepo in packages with lerna and came away with the conclusion that the tooling would need improvement before our team could move forward with Typescript + Lerna. You might already come across these types of friction due to t

[2019-04-28 18:24] orta commented on #13436
I don't feel like we have any of these ^ problems with Jest which is a big Lerna mono-repo in TypeScript

[2019-04-28 18:26] orta commented on #13436
WRT to the types in end-user code, that's pretty close to happening independent of this PR in here: https://github.com/gatsbyjs/gatsby/pull/13619 (you can see some screenshots of my app which has it set up)

[2019-04-28 19:52] polishedwp commented on #13635
To confirm, today I testing Node v.12 on Ubuntu 18.10 (Mac/Parallels).
If I use the recommendation of the resolutions field in the `package.json` file I can install the default starter (with modified `package.json`). I think after this issue is resolved and merged, it will fix the Node v.12 issues.

Node v.12 moves to LTS status in October, so there is some time to resolve.
<img width="774" alt="S

[2019-04-28 20:00] jonniebigodes commented on #13688
@muuvmuuv sorry for the delay, the other issue took me a little longer to work on.
Below are the steps i took to solve your issue.

- Created a new Gatsby website, i used the hello world starter to avoid unnecessary packages being added and keep the reproduction simple.
- Added the dependencies `gatsby-source-filesystem` and `gatsby-transformer-json`.
- Created the folder structure to emulate your

[2019-04-28 20:19] paschalidi commented on #13686
Cool! I will open a PR soon @KyleAMathews. Any special requests?

[2019-04-28 21:36] lexaurin commented on #11168
How do I remove default gatsby-plugin-page-creator plugin? If I add my own gatsby-plugin-page-creator with ignore glob then gatsby runs both plugins - default without ignore and my version with ignore..

[2019-04-28 21:54] Warped2713 commented on #11168
@lexaurin You can use [gatsby-dev](https://www.gatsbyjs.org/packages/gatsby-dev-cli/) to run gatsby with a custom plugin as if it were a default plugin:
[code]

That said, if you update your gatsby version, the default should already have ignore options: https://www.gatsbyjs.org/packages/gatsby-plugin-page-creator/#ignoring-specific-files

[2019-04-28 22:54] KyleAMathews commented on #13686
A straight upgrade seems fine 👍

[2019-04-28 22:54] KyleAMathews commented on #13686
Thanks!

[2019-04-28 23:10] Kosai106 commented on #13686
Good call! Please let us (Algolia) know if you need any help. 😄

[2019-04-29 00:01] Mohammed-Alama opened #13695 "Cannot query field for Wordpress"
## Description
Hay there I'am trying to fetch some data from wordpress API but it field
### Steps to reproduce
**1- Trying to execute this query**
{
  allWordpressPost {
             edges {
                   node {
                          id
                          slug
                          title
                          content
                          excerpt

[2019-04-29 00:38] colbyfayock opened #13696 "[docs] Plugin search input encoding"
## Description
When visiting the docs plugin search directly with a pre-existing query in the URL, the search input displays the encoded characters, such as `%20`, instead of in this example, a space ` `.

![image](https://user-images.githubusercontent.com/1045274/56872287-42322f80-69f5-11e9-860b-59d55310b3b5.png)

**Note:** this does not appear to impact functionality, just aesthetics.

### Steps

[2019-04-29 00:54] narration-sd commented on #12997
@KyleAMathews  Ok, I've fixed this for our purposes, so shipping can happen. First the fix for others interested, and then a comment or two may not go amiss.

- If you are trying to get your page to use the current scroll position it, by looking at the list Gatsby is using, this will work now, after gatsby-react-router-scroll changes at version 2.0.7. Something like:
[code]
That's I think pretty b

[2019-04-29 01:08] videoAbyss commented on #2586
@pieh You mention that "insert data from your api to gatsby data store and create pages for each product at build time". But what if we have millions of products, that means a million Product Detail pages ? Are you saying at build time, it will add a million Pages to the source bundle ?

I am sure I misunderstood, because that seems unreasonable. Could you elaborate ?

[2019-04-29 01:15] gc opened #13698 "Extremely long (25+ min) build time happening randomly"
I have a gatsby website which uses gatsby-source-wordpress (with ACF), and build times are usually 5 minutes with netlify-cache plugin, and randomly (possibly with dependency version changes?) its started taking 25 minutes which causes it to not deploy because it takes way too long. I'm not sure exactly what is taking so long.

This log seems to be longest one (nothing comes after this log for 10-

[2019-04-29 01:15] gc commented on #13698
Here are my deps:

[code]

[2019-04-29 01:22] brianbento commented on #11110
@moonmeister I'm running into a similar situation. Can you post what you did? Would be really appreciated!

[2019-04-29 01:38] gc commented on #13698
After some investigation, the thing which is taking a long time is the image generation, it takes longer 15+ mins without the images being already cached on Netlify

Most likely a duplicate of #8056 , where the only workaround is to check in the cache (in my case, probably over 1GB) to git :(

[2019-04-29 03:30] moonmeister commented on #11110
@brianbento Hey, my boss(the original poster) mostly figured this one out. I know we're copying the gatsby files in to the root of the WP site and not using any wp "templates" but I think there was also some .htaccess magic done. One of the issues we had with assets was their relative nature. There is a feature in the work for gatsby (that's maybe been merged) to allow assets being hosted on a dif

[2019-04-29 06:14] muuvmuuv commented on #13688
Hey @jonniebigodes,

first thanks for this detailed issue fix, really awesome and easy to follow!

Okay, I understand now how it works but I really dislike this way, IMO this makes it more complex. Can we not provide an option like `parseEachFileIndividual` so we select one folder where each file gets its own query? And I didn't know that just an array in JSON is not valid... sadly :D IMO this wou

[2019-04-29 07:05] moonmeister opened #13699 "Repo Size"
## Summary

Cloning the Gatsby repository is becoming a little absurd due to its size. The git clone transfers 550 MB compressed and uncompressed on disk the repo is **854 MB** ( this takes several minutes to clone even on a decent connection). There has been one attempt to fix this in the past(#6486) though I'm not sure if they rewrote git history to purge the large files.

Getting this reduced w

[2019-04-29 07:12] paschalidi commented on #13083
@lannonbr and @pieh I would also like to get involved here if there is need for it. Please let me know !

[2019-04-29 07:13] paschalidi commented on #12743
@jlengstorf can you please describe how one could reproduce this so that I could have a closer look please?

[2019-04-29 07:18] wardpeet commented on #11168
@lexaurin why not move away from src/pages? https://github.com/gatsbyjs/gatsby/issues/12937#issuecomment-478025499

[2019-04-29 07:19] Jsalvat opened #13701 "gatsby-plugin-google-tagmanager without jquery"
## Summary

gatsby-plugin-google-tagmanager throws an error of jquery not defined. We're not using jQuery on our project and we want to know if it's possible to use this plugin without jQuery

## Relevant information

Use gatsby-plugin-google-tagmanager without jQuery for projects without this module
### Environment (if relevant)
    System:
    OS: macOS High Sierra 10.13.6
    CPU: (4) x64 Intel

[2019-04-29 07:58] moonmeister commented on #2719
@KyleAMathews We still interested in doing this?

[2019-04-29 08:40] #12517 closed

[2019-04-29 08:50] #13684 closed

[2019-04-29 09:22] paschalidi commented on #13686
@KyleAMathews @Kosai106 rad! Will be working on that then :) Thanks 🙏 for making this possible!

[2019-04-29 10:57] Mountains-and-rivers opened #13704 "GraphQLError: Schema is not configured for mutations"
i type ```{
  allStrapiDianzan {
    edges {
      node {
        id
        dianzan
      }
    }
  }
}```  in ___graphql,then i get blow:
[code]

now i want to update "dianzan" to 300 , i type like this:

[code]

got error:

[code]
i got data from strapi by adding gatsby-config.js like this:
[code]

I can't find the reason for the mistake. i selected "update" and "find" in strapi  Permissions

[2019-04-29 11:00] janosh commented on #2609
This issue seems to have dried out without any resolution. Just to ensure I'm not missing something, specifying a width or adding classes to markdown images is currently unsupported in Gatsby (or rather any of its Remark plugins), correct?

[2019-04-29 11:02] Undistraction commented on #2609
@janosh probably best you look at mapping custom html elements to your own components, or at MDX.

[2019-04-29 11:06] seidtgeist commented on #12155
Chiming in here to report that I expected my GraphQL fragments to be available in `gatsby-node.js`.

[2019-04-29 11:10] fk commented on #12517
Thank you (again ;-)) @jgalat! <3 🙏

[2019-04-29 11:50] wardpeet commented on #13641
gatsby@2.3.33 should fix your issues. We rolled back the PR that caused this

[2019-04-29 12:03] abumalick commented on #11524
be careful @antoinerousseau
`gatsby-plugin-netlify` plugin should be the last in the plugin array according to the plugin documentation
https://www.npmjs.com/package/gatsby-plugin-netlify

[2019-04-29 12:03] wgao19 commented on #13134
Hi @pieh @idahogurl  I encountered this issue too when I tried to add mapping to my site. I also learned that the file needs to be in the directory picked up by the `gatsby-source-filesystem` as well. Since I'm pretty new to Gatsby this was a #TIL for me.

What do you think of the following:

[code]

[2019-04-29 12:14] jeroenoomsNL commented on #7713
Same here!

[2019-04-29 12:21] Frost0x commented on #13680
The solution that helped me: add "/" at the end of the page. Strange on the local server is not required and on the server hosting provider the only way it works. That is, the page should look like this site.com/page/

[2019-04-29 12:22] #13680 closed

[2019-04-29 12:23] janosh commented on #2609
That seems like a lot of manual setup for a very common use case. I'll probably take the MDX route for now but I'd say this issue is worth reopening in the future.

[2019-04-29 12:30] adrw opened #13707 "Support symlinked node_modules for gatsby-theme package"
## Description

I'm working with the new Gatsby-Themes API and Gatsby won't build my child theme if the parent theme is in a symlinked directory in the child's node_modules. This is the standard repo setup for a [Rush monorepo](https://rushjs.io/) and allows you to test against local changes very easily. Could symlinked node_modules be supported? Other JS projects I've worked on which rely on the

[2019-04-29 12:42] alexanderwe commented on #10841
## Fail to process .jpg images

I am trying to use gatsy-plugin-sharp with gatsby-source-wordpress. The Wordpress instance contains around 600 images, including some large images with around 5-6mb. The processing of the images fails randomly, every time with another image, but it seems it's always a .jpg but not with a max. file size. Sometimes an image with 5mb fails, sometimes it's a 2mb one.

I

[2019-04-29 12:50] arturhenryy commented on #10841
@alexanderwe
https://github.com/gatsbyjs/gatsby/issues/10347. there is a pull request waiting for this issue. you could test it if you have some time. will do the testing tomorrow as well.

[2019-04-29 12:57] alexanderwe commented on #13442
I can confirm I have the exact some error with 99% the same use case. I am working on a photography portfolio with images saved by Photoshop's save-for-web feature.  The image which is causing the build to fail changes randomly every time I want to build the site. For me it seems it is always a `.jpg`

I get the same error messages:

[code]

With following dependencies:
[code]

And the following o

[2019-04-29 13:00] alexanderwe commented on #10841
@arturhenryy Thanks for pointing me to the pull request. I will try to test it. But if I get it correct this pull request is about images not being downloaded correctly ? Do you think this is the root cause of getting this `!= null` failures ? Because when I view the images in the file directory the user half of the image is correctly displayed but the lower half is just grey with missing pixel in

[2019-04-29 13:05] jonniebigodes commented on #13704
@Mountains-and-rivers if i'm reading this right you're using the plugin right? the `gatsby-source-strapi` plugin right? If that's the case i'm sorry to inform you that like some  of the plugins available to gatsby, they are a "one way street" (pardon the bad pun), which in other words means you can only get the data, not modify or create. For that case you'll have to make another arrangements, you

[2019-04-29 13:09] DSchau commented on #13704
@jonniebigodes correct, yeah!

Gatsby source plugins are currently enabled only to query data, not provide mutations. The reason for that is that a mutation would typically be done client-side, and would require shipping a GraphQL client library alongside our runtime, which is not something we're currently doing.

Thanks for noting this! If you'd like to set up a mutation-aware GraphQL version of

[2019-04-29 13:09] #13704 closed

[2019-04-29 13:11] prestonso opened #13708 "[docs] (meta) Incrementally improve top 25 learning workflows with baseline evaluations"
A meta issue to track incremental improvements to documentation captured in baseline evaluations of the [top 25 workflows](https://docs.google.com/spreadsheets/d/175iZyC8khLy1JQncvgyvAD_vXpfsHxswQcn6N7GDeRA/edit).

You can participate in this initiative too! See below for information about contributing.

# Summary

Thanks to @marcysutton and @jlengstorf in their [enumeration of the top 25 workflow

[2019-04-29 13:17] adberard commented on #13437
Where do you use express exactly ?

[2019-04-29 13:42] prestonso opened #13710 "[docs] [workflows] Improve docs for setting up a blog that pulls content from Markdown"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to create a blog that pulls content and images from Markdown and allows me to query it.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😞 | 😄 | 😄 | 😐 | 😄 | 😄 |

[2019-04-29 13:44] prestonso commented on #13708
Added `help wanted` label as this is a great way for new contributors to begin contributing to Gatsby documentation.

[2019-04-29 14:05] brianbento commented on #4337
I need to disable client side routing temporarily while I migrate a site on an old CMS to Gatsby. I'm doing it one page at a time before flipping the switch completely over to just gatsby.

I've tried @wardpeet plugin but it seems to not be working.

[2019-04-29 14:14] wardpeet commented on #4337
@brianbento do you have a reproduction? if you can create an issue on the repo https://github.com/wardpeet/gatsby-plugin-static-site I can have a look what's missing

[2019-04-29 14:16] prestonso opened #13712 "[docs] [workflows] Improve docs for linking to Gatsby and non-Gatsby content"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to understand the difference between `<Link>` and `<a>` and successfully link internally and externally.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😐 | 😐

[2019-04-29 14:22] pivotal-kaveh opened #13714 "cant disable telemetry using: export GATSBY_TELEMETRY_DISABLED=1"
Hi,

according to [telemetry docs](https://www.gatsbyjs.org/docs/telemetry/), one should be able to opt-out by setting ` GATSBY_TELEMETRY_DISABLED` environment variable.

My build script is something like:

[code]
but this doesn't seem working. I still see the following message during the build:
[code]

[2019-04-29 14:26] charrondev commented on #13436
That's great to hear! Maybe I should have prefaced this with the fact that the last time I tried this was around typescript 3.1 I think? I don't think jest was typescript at the time either. I'll go give it look, Thanks.

[2019-04-29 14:31] jonniebigodes commented on #10841
@alexanderwe i've been trying to tackle a issue that is somewhat similar to yours. And from my experimentation with a 200+ data set with a average(not really a exact one) of 3MB and factoring the Gatsby website pipeline process, it would be stuck. Or the images were not correctly downloaded. I was facing a file corruption of upwards of 80%, my reasoning is that as there's alot of moving parts goin

[2019-04-29 14:41] prestonso opened #13715 "[docs] [workflows] Improve docs for using starters"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to learn how to use all available starters to jumpstart my Gatsby development.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😄 | 😄 | 😄 | 😄 | 😄 | 😄 |

# Steps

[2019-04-29 14:58] alexanderwe commented on #10841
@jonniebigodes Sounds like a reasonable cause of this problem. Especially since I see the corrupted images on my file system. Do you have a starting point where one could start to solve this issue ?

Maybe the pull request @arturhenryy mentioned might be good enough for a quick fix, but I am not sure.

[2019-04-29 15:01] robinmetral commented on #12493
@ergunpp I understand your content is already localized and fetched from Contentful.

Are you looking for information on how to build your site in both English and Turkish, based on your content?

Or did you already manage to do this, and are simply looking for a way to route your users based on their browser settings?

[2019-04-29 15:03] kennedyrose opened #13717 "gatsby-plugin-emotion breaks onRenderBody"
## Description

Including gatsby-plugin-emotion in the gatsby-config.js file makes the onRenderBody API unusable.

### Steps to reproduce

1. Clone repo: https://github.com/escaladesports/emotion-bug (which is just the Gatsby blog starter with emotion)
2. Run `gatsby develop`

### Expected result

Both "GATSBY SSR" and "ONRENDERBODY" should be logged to the console. These are logged in the gatsby-

[2019-04-29 15:45] brianbento commented on #4337
@wardpeet I'll see if I can get something up. The main issue is that your previously mentioned "fix"(https://github.com/gatsbyjs/gatsby/issues/4337#issuecomment-465497418) doesn't work when you use pathPrefix. It always "corrects" the address to what's expected.

[2019-04-29 15:55] KyleAMathews commented on #12300
@pieh did a basic test of this on his own machine. Next step is to try building a setup for a kubernetes cluster. Next step after that is to "productize" this a bit where we can run tests on demand for PRs.

[2019-04-29 16:01] KyleAMathews commented on #8307
Thinking we could maintain the same list of keywords and just remove them from file names and replace them with gibberish? Or hashes I guess of the "bad" words?

[2019-04-29 16:05] KyleAMathews opened #13719 "Investigate adding thread-loader & cache-loader — should be easy speedup of JS compilation"
We'd planned to do this for v2 but somehow it didn't happen :-( Should be easy to get in.

[2019-04-29 16:07] ergunpp commented on #12493
No my site is only in turkish. I need to add english language

On 29 Apr 2019 Mon at 18:01 Robin Métral <notifications@github.com> wrote:

[2019-04-29 16:12] DSchau commented on #12566
@vinutha93bnvs could you please open a new issue with more detail and a [reproduction](https://gatsby.dev/reproduction) if you'd like additional help? Thank you!

As far as this issue--we believe it to be _mostly_ closed with some changes related to stringifying data that @pieh implemented in #10732 which seems to scale Gatsby much more effectively.

As such--closing this out. Thanks for all the h

[2019-04-29 16:12] #12566 closed

[2019-04-29 16:12] robinmetral commented on #12493
Did these docs help at all? Check out the linked resources at the bottom too :slightly_smiling_face:

[2019-04-29 16:18] luchoster commented on #13695
what's your WP url?
Also, I don't see your WP info in your `gatsby-config.js` form your repo

[2019-04-29 16:24] derricktsmith commented on #13660
@polishedwp Anyway we can get something added to the Gatsby docs?

[2019-04-29 16:28] ethagnawl commented on #4337
@brianbento Have you tried [the solution I mentioned above](https://github.com/gatsbyjs/gatsby/issues/4337#issuecomment-453244611)? That has worked well for me on two different projects.

[2019-04-29 16:31] robinmetral opened #13720 "Plugin library not rendering some READMEs"
## Description

The plugin library doesn't render READMEs for some plugins.

I've seen this happen in the `gatsby-plugin-i18n` series of plugins, organized as a monorepo. Not sure if the monorepo structure causes this. They render correctly on the npm registry.

### Steps to reproduce

Go to:
- https://www.gatsbyjs.org/packages/gatsby-plugin-i18n/
- https://www.gatsbyjs.org/packages/gatsby-plugin-

[2019-04-29 16:38] robinmetral commented on #13720
Further investigation:

The "View plugin on GitHub" link on these plugin pages doesn't work either, it links to a GitHub *search* instead of the repo.

A weird case is this of [`gatsby-plugin-i18nstatic`](https://www.gatsbyjs.org/packages/gatsby-plugin-i18nstatic/). The README renders correctly, but the link still points to a GitHub search.

[2019-04-29 16:52] polishedwp commented on #13134
Hi @pieh this has happened again. See #13660.
I helped the user with a PR to their repo and worked them through the steps for the mapping to work, but I think we at least add a note to remind the read to add the plugin with a link to the [gatsby-transformer-yaml](https://www.gatsbyjs.org/packages/gatsby-transformer-yaml/?=yaml). I think it would help new users.

[2019-04-29 16:56] #13660 closed

[2019-04-29 17:07] brianbento commented on #4337
@ethagnawl I still get the URL correction and then it doubles up the path prefix.

So "/<prefix>" becomes "/<prefix>/<prefix>" after the canonical doesn't match.

Maybe I'm implementing it wrong. Did you use path prefix for your pages?

[2019-04-29 17:13] jgalat commented on #13696
Hi @colbyfayock! I'm taking this. I'll publish a PR in a moment

[2019-04-29 17:15] ethagnawl commented on #4337
Yes. I was also using [this](https://github.com/DSchau/gatsby/tree/gatsby/asset-prefix) branch to allow for remote assets. So, it's _possible_ that branch introduced behavior which made the fix work for me and not you.

However, it's more likely that subsequent Gatsby releases have broken my "solution", as it was a hack to begin with.

[2019-04-29 17:27] #12908 closed

[2019-04-29 17:27] #12427 closed

[2019-04-29 17:27] #12792 closed

[2019-04-29 17:40] brianbento commented on #4337
@ethagnawl Super helpful! Thank you! I know @DSchau made some plugins to test out the assetPrefix feature. I'll give it a shot!

[2019-04-29 18:09] jonniebigodes commented on #13688
@muuvmuuv no need to thank, glad that i was able to be of assistance.

Regarding your previous comment, basically that's the way the plugin is defined and the parsing algorithm is implemented as of now, as of the present state of the plugin.

If you want and you're willing, fork the repo, read the appropriate docs [here](https://www.gatsbyjs.org/docs/how-to-contribute/) for contributions, make the

[2019-04-29 18:45] mikaelkristiansson commented on #13701
I dont think `gatsby-plugin-google-tagmanager` is using jquery, so there must be something else throwing the error. If you look here:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-tagmanager/package.json

Could you post the error here so we can see what might be causing it?

[2019-04-29 18:47] KyleAMathews commented on #2719
Perhaps? It's not a pain point for me but it could be confusing to others?

[2019-04-29 18:48] marcysutton commented on #11490
Hey @robinmetral, I DM'd you on Discord last week and didn't hear back. So I'll post here:

I wanted to check in and see how the CSS reorder in the Gatsby docs is going. I think that stuff would be really great to have in before I go speak at An Event Apart on May 6th. Let me know how your schedule is looking and I can either start a branch to collaborate with you or hold my horses! Thanks again f

[2019-04-29 18:51] jonniebigodes commented on #13701
@Jsalvat upon checking the plugin it isn't using any jquery, i haven't checked all the packages you're using but so far none of them is using it. Probably the issue is stemming from another package you have installed that is requiring jquery.

[2019-04-29 18:54] Jsalvat commented on #13701
It seems that GTM add some script with jquery. I'll have to look into it. Thanks guys. I'll close this issue now

[2019-04-29 18:54] #13701 closed

[2019-04-29 18:55] robinmetral commented on #11490
Hey @marcysutton! Sorry I've been quiet (and away from Discord).

I finally got started on the issue this weekend :tada: I can submit a PR by wednesday night if that's okay for you, and we can collaborate from there on :slightly_smiling_face:

How does this sound?

[2019-04-29 18:59] FredericMartinez opened #13723 "error GraphQL Error Unknown type "ImageSharpFixed""
## Description

When I use `createRemoteFileNode`, I have an `error GraphQL Error Unknown type "ImageSharpFixed"`

Node is created (available on `allFile`), but not in `allImageSharp`

### Steps to reproduce

In `gatsby-node.js`, on create nodes, I try to download multiple image for each node

### Expected result

Image should be available thought `allImageSharp`

### Actual result

[code]
### Env

[2019-04-29 19:00] marcysutton commented on #13131
That sounds great @andrewfairlie! We're going through an effort to improve key workflows, and this is one of them. The first step in this work would be to evaluate the "finding a source plugin"  workflow to identify potential improvements: there's a new meta issue with a grading rubric for you to use: https://github.com/gatsbyjs/gatsby/issues/13708

After establishing a baseline, improvements coul

[2019-04-29 19:00] marcysutton commented on #11490
That sounds fantastic! Keep me posted!

[2019-04-29 19:07] vcarl commented on #8301
I just stumbled upon this issue while looking for a resolution. Intermittently getting it with `gatsby-plugin-sharp@^2.0.35` and `gatsby-source-contentful@^2.0.53` (not sure if the latter is relevant). Everything seems consistent with other comments, I can work around the issue by replacing `GatsbyContentfulFluid_tracedSVG` with `GatsbyContentfulFluid`.

[2019-04-29 19:56] kenlu89 commented on #9911
Hello i'm having same issue with having two different result in dev and prod. Is there a solution for this? Running on latest 2.5.12 Gatsby.

[2019-04-29 19:56] kenlu89 commented on #11072
Hello i'm having same issue with having two different result in dev and prod. Is there a solution for this? Running on latest 2.5.12 Gatsby

[2019-04-29 19:57] jonniebigodes commented on #13723
@FredericMartinez Based on my experience, the only thing i can remember is that you cannot use fragments in the "server side", i.e `gatsby-node.js` out of the box, they are reserved for "client side" (components/pages) all my experiments with fragments in `gatsby-node.js` resulted in build errors. A workaround is to write them yourself, if you're willing take a look at the [gatsby-transformer-shar

[2019-04-29 20:05] ernestosotelo opened #13724 "Gatsby SVGs"
**Edit:** This issue has been pointed out here: https://github.com/jhamlet/svg-react-loader/issues/102 which seems to be affecting **gatsby-plugin-react-svg**.

[2019-04-29 20:16] jonniebigodes commented on #13724
@ernestosotelo if you don't mind follow [this](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) and share the link so that we can take a look at it and track down the actual problem  and work on a solution for your issue?

[2019-04-29 20:27] ernestosotelo commented on #13724
@jonniebigodes I think I'm going to close this issue and troubleshoot more. I inserted the SVG components inside the Header component initially, and now I inserted the components into the IndexPage component to do additional testing and it rendered in an awful way. It's much more complicated than I thought - or I am missing something regarding using SVG components in Gatsby...

[2019-04-29 20:30] jonniebigodes commented on #13724
@ernestosotelo it's entirely up to you, if you want, share a repository emulating the issue you're experiencing so that it can be looked at. Otherwise feel free to close it and come back afterwards and reopen it when you're willing.

[2019-04-29 20:41] KyleAMathews commented on #11072
@kenlu89 can you run `gatsby info` in your site and post the output here?

[2019-04-29 20:42] violy commented on #10347
yes, maybe my PR 13110 should also solve overload issues

[2019-04-29 21:33] FraserThompson opened #13725 "Groups of groups"
## Summary

I want to be able to nest groups in GraphQL queries.

### Basic example

[code]

And what comes out would look like

[code]

### Motivation

For my site I'm grouping posts in elements by year and month so I can display them on a big page with a scrollspying sidebar. Like this:

![image](https://user-images.githubusercontent.com/6093858/56927893-68f18280-6b29-11e9-9b02-4478eb6a28ba.png)

[2019-04-29 22:01] krischer commented on #13072
I have a use case where a transformer plugin creates some html pages in the `public` folder which are later embedded as iframes into other components.

This works fine for production builds but the contents of the iframes are not displayed with the develop server which is a bit of a bummer. A whitelist would work fine for my use case. I'd be happy to contribute this if you point me to the best pla

[2019-04-29 22:11] mattcdowning commented on #12454
Anyone else want to chime in here?

[2019-04-29 22:11] patriziosotgiu commented on #13072
I'm currently working on a project with a similar use case.
We are using a static `index.html` that includes custom components and an iframe to serve Gatsby generated content.

[2019-04-29 22:31] duongthienlee commented on #12040
I'm also facing the same problem, but somehow on the Netlify app dashboard, I can submit the form. but on the site, I can't.
Anothing is that data-netlify="true" and data-netlify-honeypot="bot-field" are visible in my form on the website only after I tried to submit the form on the Netlify App dashboard.  But on the website, it is still unable to submit the form.

[2019-04-29 22:38] KyleAMathews commented on #12454
Yeah, please remove it. Thanks for noticing!

[2019-04-29 23:22] MWalid commented on #2492
For me `post_parent = 0` solved it

    UPDATE wp_posts SET post_parent = 0 WHERE post_type = 'attachment'

[2019-04-30 02:09] jonniebigodes commented on #12040
@duongthienlee if you check the network tab on your development tools you're probably seeing that you're getting some 404. The code below was the one used to correct the issue at hand, it worked for @valdezDev in my now missing comment when i made a reproduction for solving the issue for him.

[code]

see if the code above helps you in any shape or form and report back.

[2019-04-30 02:46] dja commented on #11524
@abumalick @antoinerousseau We move `gatsby-plugin-netlify` to the end of our plugin array, and it didn't change anything.

[2019-04-30 03:00] Mountains-and-rivers commented on #13704
OK thank you ! i find this: https://www.apollographql.com

[2019-04-30 05:09] iamskok commented on #5030
Added toaster notification option for [gatsby-remark-code-buttons](https://github.com/iamskok/gatsby-remark-code-buttons).

![](https://media.giphy.com/media/hoHRea4IdkDBrsE4Bu/giphy.gif)

[2019-04-30 06:38] #13688 closed

[2019-04-30 07:21] zuyetawarmatik opened #13737 "Gatsby build (prod) doesn't generate static HTML and head meta tags"
My Github repo at https://github.com/zuyetawarmatik/zuyetawarmatrip

How: If you try to clone and run `gatsby build`, checking .html files in public folder, such as in public/trips/2015-may-meteora-greece/en/index.html.

Expected: the generated HTML should have static content. (We can curl localhost:9000/<page path> to see: it's not static content)

Reality: The static content is empty. Head meta

[2019-04-30 07:43] robinmetral commented on #11490
@marcysutton I'd like to group the styling approaches into categories. I've thought of two possible solutions:

**Solution A**:
1. CSS in .css files (traditional CSS, CSS Modules)
2. CSS in .js files (inline styles, CSS-in-JS)

**Solution B**:
1. Cascading CSS (tranditonal CSS with or without preprocessors)
2. Locally-scoped CSS (CSS Modules, CSS-in-JS)

What do you think would make more sense to

[2019-04-30 08:57] #13696 closed

[2019-04-30 09:01] PolGuixe commented on #7373
In CI/CD environment, would you recommend to cache the `.cache` and `public` folders?

[2019-04-30 09:12] duongthienlee commented on #12040
However, If I enter the home page first : https://thienwinchester.netlify.com, then navigate to the contact page, it sometimes works, sometimes doesn't. Don't know why? I entered my site by incognito tab, but it still doesn't work.

[2019-04-30 09:25] LekoArts commented on #13720
Thanks for the issue! This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/11129 and hence I'm closing this. Please leave a comment there, thanks!

[2019-04-30 09:25] #13720 closed

[2019-04-30 09:33] stoltzrobin commented on #7373
We save our `.cache` and `public` folder on S3 and retrieve them when building the page again. This lowered our build time by quite much.

[2019-04-30 09:59] wardpeet commented on #11934
I created a new PR https://github.com/gatsbyjs/gatsby/pull/13713 would be fun if this could get tested on a few repos.

[2019-04-30 10:18] duongthienlee commented on #12040
Oh

[2019-04-30 10:20] joealden commented on #13641
@wardpeet this rollback fixed the issue. I think this issue is safe to close for now.

[2019-04-30 10:55] anonimoconiglio opened #13742 "SEO and Images: the src URL changes at every build whenever you change max-width property"
## Summary

I fond that whenever I change the max-width property within the `graphql` query that gets the image, it slightly changes the URL of the source on the build. Despite the name of the image is the same.

Here is an example of how the URL changes

when I have the same image with (maxWidth: 1400):
![photo_2019-04-30_12-44-45](https://user-images.githubusercontent.com/22715417/56956911-cd223

[2019-04-30 10:58] robinmetral commented on #13720
Oops! Sorry about this, it didn't come out in my search. Thanks @LekoArts

[2019-04-30 11:01] anonimoconiglio commented on #13737
I see from your config file that you're using `gatsby-plugin-manifest` along with `gatsby-plugin-offline`.

I think the behavior you see it's normal since with this two plugins the head meta tags are now on the service worker:

[2019-04-30 11:15] maxie-max commented on #13072
At [https://playchap.io/](playchap.io) we serve games with static html files via iframe and we bound to use Gatsby 2.0.65 due to the aforementioned issue

[2019-04-30 11:43] lemon-31 commented on #13662
I'll close this as the PR which caused this issue has been rolled back.

[2019-04-30 11:43] #13662 closed

[2019-04-30 12:31] zuyetawarmatik commented on #13737
My site is based on `https://github.com/gatsbyjs/gatsby-starter-blog`, which configures the `gatsby-plugin-manifest` and `gatsby-plugin-offline` the same way. Building starter blog outputs HTML with raw contents. The thing is just half a month ago everything was still going OK for my site.

[2019-04-30 12:37] FredericMartinez commented on #13723
Thank's, I'll take a look

[2019-04-30 12:52] kenlu89 commented on #11072
@KyleAMathews  here is our site github link https://github.com/franz-hartl/teachers . Try run on dev and build you will see two different style result. Thank you

[2019-04-30 13:07] LekoArts commented on #12272
@prashant-andani Pleae don't unpin this issue. Thanks!

[2019-04-30 13:21] wardpeet commented on #11123
@rzubrycki try chrome canary. Chrome is still on an old version of lighthouse. Or go for the lighthouse extension
![image](https://user-images.githubusercontent.com/1120926/56964466-8dfee900-6b5b-11e9-90db-380f0ad82ce6.png))

[2019-04-30 14:04] wardpeet commented on #13641
Do you mind testing #13713 or if possible share your repo so we can test the PR ourselves and see if we actually fixed the issue so we don't break it again.

[2019-04-30 14:30] anonimoconiglio commented on #13737
You're right.
I don't know if it could work but I guess that maybe it's because you have `gatsby-plugin-offline` before `gatsby-plugin-react-helmet` and other plugins. Did you try to load offline plugin at the end? (Or at least before netlify one)

[2019-04-30 14:36] ergunpp commented on #12493
Actually I read it all, what I was looking was a more specific strategy
suggestion.

On Mon, Apr 29, 2019 at 7:13 PM Robin Métral <notifications@github.com>
wrote:

[2019-04-30 14:43] pieh commented on #13719
Something worth checking - CRA added `thread-loader` and removed it later on because of some problems ( https://github.com/facebook/create-react-app/pull/5170 ).

[2019-04-30 14:49] joealden commented on #13641
@wardpeet unfortunately the repo that it is failing on for me is a private work related project, so I can't really give you access to it. When I get some free time today, I'll test this PR with this repo myself.

[2019-04-30 15:14] jonniebigodes commented on #13742
@anonimoconiglio i believe that's related to the build process. when you change the argument(variable) for fluid, gatsby during it's build process will re process the images and update the nodes information about the image. And that will result in the update on that path.

[2019-04-30 15:22] jonniebigodes commented on #13704
@Mountains-and-rivers good to know, also take a look at [this](https://github.com/jlengstorf/gatsby-with-apollo) for a example on how to connect apollo and Gatsby

[2019-04-30 15:40] danboyle8637 opened #13746 "preload fonts using Typeface from NPM"
I'm using Kyle's Typeface project to get in the two fonts I'm using on my websites.

In my gatsby-browser.js file, I have...

[code]

But I don't know how to make sure they's a rel='preload' tag on the link tags.

I've seen some ways of doing this but they weren't using the Typeface fonts from npm.

Thanks!

[2019-04-30 16:03] sidharthachatterjee commented on #13714
Thank you @pivotal-kaveh

Currently, when `GATSBY_TELEMETRY_DISABLED` is set to something truthy, telemetry is **not** sent (as expected) but this message is displayed and I see the potential confusion.

I've fixed this in https://github.com/gatsbyjs/gatsby/pull/13747

[2019-04-30 16:08] zuyetawarmatik commented on #13737
@anonimoconiglio I've figured out the problem, it's because I used `withWidth` function of material-ui, which will break SSR generation when building (but service working is still working, so everything outside looks still fine, but not correctly inside). The SSR generation doesn't know about media query so it can't build the HTML perfectly, but it's too silent to figure out the bug.

[2019-04-30 16:08] #13737 closed

[2019-04-30 16:32] schalkventer commented on #9383
I'm interested in this as well.

Seems that passing the following options to the plugin doesn't seem to do the job. Did I perhaps miss something or is this beyond the scope of the plugin? I.e. Should rather just customise the Gatsby webpack config?

[2019-04-30 16:47] Undistraction commented on #12833
@liamfd Gatsby will only polyfill code within your project. If you are using third party modules that need polyfills that _have not been needed within your project code_, the polyfills will be missing at runtime and cause hard-to-debug errors.

[2019-04-30 17:05] polishedwp commented on #13746
It is documented in the [Starter Blog](https://github.com/gatsbyjs/gatsby/tree/master/starters/blog):

The npm packages are loaded in the [package.json](https://github.com/gatsbyjs/gatsby/tree/master/starters/blog) file.

Take a look at the [layout.js](https://github.com/gatsbyjs/gatsby/blob/118e0d0628e8adc3b471c1bf7f3dda1f39655b97/starters/blog/src/components/layout.js#L37) file.

[2019-04-30 17:27] mathieucaroff commented on #2698
This is a problem if you are using the gatsby-plugin-algolia search plugin. The cache is only (re)generated when `gatsby build` is run. In the case of Algolia, the `exports.createPages` entry point is a viable alternative to `exports.onPostBuild` if you want to edit your `node_modules/gatsby-plugin-algolia/gatsby-node.js` file.

[2019-04-30 17:27] #12364 closed

[2019-04-30 17:51] DSchau commented on #13725
@FraserThompson since Gatsby renders that .reduce at _build time_ the client-side performance isn't suffering! That loop will run in the Node.js process--and so the end result will be sweet, sweet performant HTML (with a React runtime once it hits the client-side).

However - to best check this out to see if it is possible, could you supply a [reproduction](https://gatsby.dev/reproduction) so we c

[2019-04-30 17:52] timotta commented on #7410
I had the same problem and fixed putting this on babel configuration:

[code]

[2019-04-30 17:52] timotta commented on #10456
I had the same problem and fixed putting this on babel configuration:

"babel": {
    "presets": [
      "babel-preset-gatsby"
    ],
   ...
}

[2019-04-30 18:00] danboyle8637 commented on #13746
@polishedwp Awesome thank you!

[2019-04-30 18:00] #13746 closed

[2019-04-30 18:57] wKovacs64 opened #13754 "[TS] TypeScript errors updating gatsby 2.3.33 to 2.3.34"
## Description

Upon attempting to update the core gatsby package from 2.3.33 to 2.3.34, I ran into a few TypeScript errors introduced in #13619:

[code]

1. We need `@types/express` now. Easy enough to add to my project, but maybe it should be a Gatsby dep/devDep? Not sure.
1. ~Gatsby's `Node` interface conflicts with [`Node` from the TypeScript `dom` library](https://github.com/Microsoft/TypeScr

[2019-04-30 18:59] joealden commented on #13641
@wardpeet I can confirm that #13713 works fine, and doesn't error out in my project.

[2019-04-30 19:03] orta commented on #13754
IMO this should probably get removed from exported types (and switched with an `any`) - the lack of a dependency graph for `@types` is annoying.

Yeah, I think Gatsby will need to re-name Node here. There was a GatsbyNode - but I feel like that does something else?

For the rest, you have more strict mode options turned on than my project did. We need to get a linter on the dts at some point, not

[2019-04-30 19:14] wardpeet commented on #13641
Thanks that's super valuable feedback!

[2019-04-30 19:15] #13641 closed

[2019-04-30 19:21] joealden commented on #13641
@wardpeet no problem! Looking forward to this PR being merged!

Also, something I forgot to mention, I read the PR description and saw that you mentioned the underlying issue was with a `fetch` function check, and it caused an error to be thrown when a project polyfilled the fetch function in the node environment. This was indeed the case with the project I am working on, as we use `isomorphic-fet

[2019-04-30 19:38] wKovacs64 commented on #13754
Looks like `GatsbyNode` is for the `gatsby-node.js` API. How much damage would we do if we renamed that to `GatsbyNodeAPI` or something and renamed `Node` to `GatsbyNode`? :stuck_out_tongue_closed_eyes: (could also rename the other API interfaces for consistency)

I can probably PR everything but the linter shortly if that sounds acceptable.

[2019-04-30 19:49] j-lasak commented on #13664
Ah, I see it's possible to add a filter where no image resources are pulled in with something like

`'file--file': 'filter[filemime]=none'`

But now that I'm using the "include" as mentioned above, I see that data isn't getting imported to graphQL.

Anyone have any ideas about importing only selected images?

[2019-04-30 19:55] tanaypratap commented on #12857
Not stale. Started working on it.

[2019-04-30 20:06] schalkventer commented on #9383
Turns out that I needed to change my config as follows:

[code]

However, I can't seem to get URLs with query strings to resolve. @LekoArts, is it possible to resolve this issue with the plugin, or should remove the Gatsby plugin and rather do this by customising the webpack config in Gatsby?

[2019-04-30 20:49] orta commented on #13754
I think that makes sense - yeah!

[2019-04-30 21:22] jmssmth commented on #13657
Disregard this please. Not sure how my .npmrc was config'd to set the prefix to `$HOME/.npm-global`, but sure enough, that was the problem.

[2019-04-30 21:22] #13657 closed

[2019-04-30 22:24] anantoghosh commented on #13699
I would like to mention bfg https://rtyley.github.io/bfg-repo-cleaner/ which has worked very well for me.

[2019-04-30 22:32] DSchau commented on #13699
Agreed on a lot of this, and I think this is certainly worth considering, but your initial numbers are a little off.

[We recommend using a shallow clone](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/#gatsby-repo-install-instructions) (e.g. `--depth 1`), which in doing so gets the repo size down to `246.98 Mb`.

I think you raise some work that's worth doing, specifi

[2019-04-30 22:46] jackhair commented on #11524
Perhaps this may have something to do with it? https://github.com/gatsbyjs/gatsby/issues/11982

When ever I've come across the problem myself (pure chance), it always has some kind of error to do with pages-manifest missing.

[2019-05-01 00:01] decimoseptimo commented on #9207
@KyleAMathews

@KyleAMathews this is seo danger
This subject isn't explained at all in https://www.gatsbyjs.org/docs/gatsby-link/
If someones decides to use no-trailing-slash-urls, a couple of days later the google serp becomes full of 301 redirections for your site.

[2019-05-01 00:13] #13222 closed

[2019-05-01 00:55] iammatthias commented on #7714
Has anyone had luck with this? I've tried getting it to work based on the repo that @LekoArts suggested, but so far nothing has worked.

[2019-05-01 00:59] jasonmit commented on #2698
@mathieucaroff seems `gatsby-plugin-algolia` requires `onPostBuild` because it needs the `graphql` API.  If `onPostBootstrap` had access to the `graphql` API then the plugin could be refactored and cache would be rebuilt properly.

I ran into this same limitation building a localization plugin and found no alternative.  Hoping this hook behavior gets cleaned up or `onPostBootstrap` gains access to

[2019-05-01 02:34] billie66 commented on #13362
@d4rekanguok

The two methods can fix the problem. Thanks for your help.

[2019-05-01 02:34] #13362 closed

[2019-05-01 03:15] gc opened #13759 "Ability to disable prefetching for certain links."
## Summary

The ability to tell a Link component to not pre-fetch.

### Basic example

It could possibly be named `prefetch` instead of `noprefetch` and just have it set to true by default, either way:

[code]

### Motivation

To give developers finer control over their links, I personally would like to disable it for some certain links to reduce network requests/bandwidth usage and for debugging

[2019-05-01 03:16] decimoseptimo opened #13760 "How much memory is too much? vps build"
## Summary
I'm still experiencing https://github.com/gatsbyjs/gatsby/issues/5321

After `gatsby build` i get
[code]

We are talking about 5 pages.

I can confirm with `htop` that it is due to memory issues. My VPS goes from [478M/992M] to [9XXM/992M] then throws the error.

## Relevant information

### Environment (if relevant)

It doesn't happen during development (win10)
It happens in my staging

[2019-05-01 03:59] moonmeister commented on #13699
@DSchau Yes, using `--depth 1` is helpful but how is the developer experience? The means you're only downloading the latest copy...I don't think you can even checkout other branches, and if you're trying to look at commit history you might really me lost. this might be useful for some but not sure it solves this problem in its entirety.

Cleaning up branches will help a full clone. Git makes copie

[2019-05-01 04:06] MartinConde opened #13761 "[gatsby-source-wordpress] Polylang not exposing data as shown in the docs?"
## Description

After struggling a little with Gatsby and WPML I thought I'd give Polylang a shot since according to the gatsby-source-wordpress docs, it exposes pretty much everything for every language in a straight forward way.

I am using Polylang Pro(v2.4) and have installed the 'WP REST - Polylang' Plugin

### Expected result

I was hoping to query for the same info as shown in the docs like

[2019-05-01 04:26] robinmetral commented on #12493
If you're after a step-by-step guide to transform the Gatsby default starter into a multilingual site, I don't think we have any, yet.

Looking at the code for the [`gatsby-starter-default-i18n`](https://github.com/angeloocana/gatsby-plugin-i18n/tree/master/packages/gatsby-starter-default-i18n) ([demo](https://gatsby-starter-default-i18n.netlify.com/)) (built with [`gatsby-plugin-i18n`](https://gi

[2019-05-01 05:26] sangzc commented on #1739
This solved it for me. Thank you!

[2019-05-01 06:09] FraserThompson commented on #13725
@DSchau Hold on, have I completely misunderstood a fundamental part of how gatsby works? 😯 I was under the impression only code in gatsby-node.js was run at build time and the React code in my page and other components was run in the clients browser like a normal React app... Is this not the case? If so then Gatsby is even more magical than I thought 🌠

I've made a bit of a reproduction here using

[2019-05-01 06:34] Zyclotrop-j opened #13763 "Set plugin configuration from graphql query"
## Trying to set gatsby-plugin-manifest's options to values queried via graphql

### My use-case:
- I want to set the manifest's values based on values I have in a database
- I want to process the icons (public path to picture (S3-bucket) stored in the database) with 'gatsby-transformer-sharp' / 'gatsby-plugin-sharp' and use these in the manifest

### More abstract use-case:
Programmatic injection

[2019-05-01 08:11] jurra commented on #6358
if the ```---``` notation is to indicate a document, then why not support several documents. For the application I am working on I need to support several documents in one file, it makes a lot of sense.

[2019-05-01 08:42] mathieucaroff commented on #2698
@jasonmit What about using the `createPages` hook instead ?

[2019-05-01 09:02] MeLlamoPablo opened #13764 ""The result of this StaticQuery could not be fetched" when calling useStaticQuery within a custom hook and declaring the query in the usage of the custom hook"
## Description

Executing `gatsby build` throws the following error:

[code]

when using a custom hook that uses `useStaticQuery`, and passes the `query` parameter as a variable, as opposed to [the example in the docs][0], which inlines the query in the `useStaticQuery` call.

An example of a custom hook which causes this behavior is:

[code]

### Steps to reproduce

I have set up a [demo repo][1]

[2019-05-01 09:43] heldrida opened #13765 "first parameter or limit causes `Unknown field 'fieldName' on type 'Query'.`"
## Description

When passing a variable to the Gatsby-source-graphql graphql function causes the error `Unknown field 'fieldName' on type 'Query'.`; The `fieldName` is the property in gatsby-config.js

A tested query in Graphiql works fine, but not in `gatsby-source-graphql`

My stack is gratsbyjs + wordpress graphql wp plugin

### Steps to reproduce

`import React from 'react'
import PropTypes fr

[2019-05-01 09:45] Undistraction commented on #11524
For anyone needing a quick fix, I found that the only solution that worked in all cases was to create a local plugin that adds all polyfills manually in its `gatsby-browser.js`. I then added that plugin as the _very first plugin_ in `gatsby-config.js`.

This is pretty ugly, but it works in multiple cases where this error occurs and other solutions fail.

Note that it is not enough to put this in y

[2019-05-01 09:46] heldrida commented on #13765
Here is a paste.ee of the `src/pages/index.js` file ( https://paste.ee/p/83AUF#BunbvcT6To9QOQC8hFqKeKciVyzTwOP2 )

Tested in the graphiql without the fieldName in the query, works absolutely fine! and through a HTTP Post.

[2019-05-01 09:57] Undistraction commented on #12399
For anyone needing a quick fix, I found that the only solution that worked in all cases was to create a local plugin that adds all polyfills manually in its `gatsby-browser.js`. I then added that plugin as the _very first plugin_ in `gatsby-config.js`.

This is pretty ugly, but it works in multiple cases where this error occurs and other solutions fail.

Note that it is not enough to put this in y

[2019-05-01 10:21] robinmetral commented on #11490
@marcysutton PR submitted at #13766 :tada:

I'd love it reviewed if you have the chance, the structure of course but also the language (my English isn't native) :slightly_smiling_face:

[2019-05-01 11:29] heldrida commented on #13765
Ok, so I changed my gatsby-node.js, that has a createPage that is not the src/pages/index.js but src/component/Blog/Post. Both with the same query! Ran the gatsby clean and dev command with success and no errors thrown. The hell?! The createPage is not even related to the index page!

`  query {
    wpcms {
      posts (first: 3) {
        pageInfo {
          hasNextPage
          endCursor

[2019-05-01 12:52] davidbailey00 commented on #11240
I've had a look into this - since the issue was opened, I'm no longer sure if this will be useful.

The rationale for opening this issue was that sometimes, upon upgrade of a SW, certain Webpack chunks would be unavailable, causing the error "Loading chunk <no> failed" originating from the Webpack runtime.

I've tried reproducing this error in order to make sure that the issue is still relevant, b

[2019-05-01 12:59] #13765 closed

[2019-05-01 13:28] haezl commented on #12238
@davemeyer @framini Probably all the author wanted to express is that if the plugin is not sufficient enough for your need you can just register your own service worker without that plugin. So when the plugin is not installed your version of the file `static/sw.js` gets copied to `public/sw.js` (without getting overwritten) and is then picked up from Gatsby when `export const registerServiceWorker

[2019-05-01 13:35] GainorB commented on #1754
Any update here? This is a headache

[2019-05-01 13:42] muescha commented on #529
I also vote for a principle of least surprise.

public should be always fresh generated

`gatsby clean` not solve this because it clears also the `.cache`

I vote for an opt-out of the public clean if some like to preserve some files.

[2019-05-01 14:14] zuyetawarmatik opened #13770 "Generated HTML is not interpreted correctly in Facebook Scrape (Sharing Debugger)"
I have been using my website using Gatsby 2, React Helmet and Material UI. Everything looks good so far: if I do a `curl` or inspect html response from server (one example page https://www.zuyetawarmatrip.com/trips/2017-oct-pokhara-nepal/en/), the returned HTML is correct.

But when I do sharing debugger: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fwww.zuyetawarmatrip.com%

[2019-05-01 14:26] DSchau commented on #13725
It is run like a normal React app--but the build process _produces_ static HTML that is then hydrated with the "normal React app" functionality! So you get the best of both worlds!

Also just for clarity--a reduce/loop is generally O(n) time if you're just iterating, so the performance is actually _great_ ;)

I'll take a look at that starter in a minute and see if we can figure out a solution--tha

[2019-05-01 14:55] #13669 closed

[2019-05-01 15:30] violetamenendez opened #13773 "gatsby-transformer-xml README with wrong example"
## Summary
The ['How to query'](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-xml#how-to-query) section of the README for gatsby-transformer-xml package is wrong.

## Relevant information
I have run the example from [this page](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-xml#how-to-query) to try to understand better how queries work. I ha

[2019-05-01 16:31] i8ramin opened #13775 "DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
## Description

This used to throw a _warning_, but now throwing an **error**

[code]

### Steps to reproduce

[code]

### Environment

Run `gatsby info --clipboard` in your project directory and paste the output here.

[code]

[2019-05-01 17:05] jackhair commented on #12399
@Undistraction Does this solution not work just importing `core-js` as a whole?

[2019-05-01 17:10] jonniebigodes commented on #13764
@MeLlamoPablo i've picked up on your issue and i have a answer for your:

From my undestanding of Gatsby, this is technically not a bug, it's reported as such but it's not. What you're doing from Gatsby's point of view is using a variable with a `StaticQuery`, that's not possible, more on that [here](https://www.gatsbyjs.org/docs/use-static-query/#known-limitations). There's some work being done i

[2019-05-01 17:39] zuyetawarmatik commented on #13770
Fixed by disable Netlify prerender. Malformed HTML response is due to https://github.com/prerender/prerender/issues/563

[2019-05-01 17:39] #13770 closed

[2019-05-01 17:44] ammarjabakji opened #13778 "Hot reload not working using VM"
Hello,

Hot reload is not working using Virtual Machine.
I am using VSCode "the server version" and I am running `gatsby develop -H 0.0.0.0` to listen to the Server's IP address. I could know what cause this problem.

[2019-05-01 18:06] DSchau commented on #13778
Hi!

We'll need a lot more info for this problem to begin to address. We use web sockets to handle the hot module reloading--are these supported with whatever VM/container you are using?

This seems largely out of our control for two reasons:

1. We are using technologies that are supported in local environments that _should_ translate just fine to e.g. a VM
1. It's difficult to diagnose an issue

[2019-05-01 18:07] DSchau commented on #13775
@i8ramin could you provide [a reproduction](https://gatsby.dev/reproduction)?

I've seen the warning before, as well (generally when using themes?), so taking a look at the project will help us diagnose.

[2019-05-01 18:09] DSchau commented on #13773
Hi Violet!

Thanks for reporting this--this definitely seems to be a gap in the current documentation.

Could you provide a [reproduction](https://gatsby.dev/reproduction) so we could experiment with this, ourselves?

Thank you!

[2019-05-01 18:12] DSchau commented on #13761
@MartinConde this is an incredibly challenging one to diagnose, because we'd need to configure a project exactly as you specified with Wordpress, which is not a trivial endeavor.

Would you be able to grant us access to your source code and the Wordpress instance so we could take a look for ourselves? Feel free to DM on Twitter or e-mail me (dustin [at] gatsbyjs [dot] com).

Thank you!

[2019-05-01 18:15] mohoff commented on #13442
I'm experiencing the exact same issue. It errors with images of 5000x3000 but succeeds with smaller photos of 1000x600. The used images were stock ones from https://picsum.photos

[2019-05-01 18:15] DSchau commented on #13760
@decimoseptimo this seems something to be a little out of our control, and rather seems to be some issue with how your CI environment is configured.

Are you able to build other Node.js projects, e.g. something build with create-react-app? A site of 5 pages should absolutely be able to be built even in a CI environment, so I'm left with a few options:

1. Server needs optimization to build out Nod

[2019-05-01 18:19] DSchau commented on #13759
@gc if you don't want some of the functionality (rather, the _core_ functionality) of gatsby-link, perhaps just use a regular `a` tag?

That seems to be a much better use case for this functionality, rather than extending gatsby-link in perhaps fringe-y ways. Every additional modification to core components introduces some small measure of complexity that we then have to maintain.

Rather, I would

[2019-05-01 18:19] #13759 closed

[2019-05-01 18:21] DSchau commented on #13695
As @luchoster noted, it doesn't look like you've installed/configured gatsby-source-wordpress which you will need to do to query Wordpress nodes.

Please try that--and then re-open/reply if we can help further. Thanks!

[2019-05-01 18:21] #13695 closed

[2019-05-01 18:22] polishedwp commented on #13773
Very good. I stepped through this one as well, and you are correct. It looks like the [How to Query](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-xml#how-to-query) is incorrect and needs to fixed. Why don't you submit a PR?

Make sure you read the [How to Contribute](https://www.gatsbyjs.org/contributing/how-to-contribute/).

Or you could put up an example repo for te

[2019-05-01 18:27] polishedwp commented on #13773
@DSchau I just posted that. 👍

If it would help, here is a barebones [Repository](https://github.com/polishedwp/gatsby-testing-xml) I set up to test this one locally.

[2019-05-01 18:27] DSchau commented on #13717
@kennedyrose am I missing something?

I did the following:

1. Cloned the repo
1. Ran `yarn`
1. Ran `yarn dev`

And I see the following in the console:

[code]

Could you provide some more detail?

[2019-05-01 18:29] Undistraction commented on #12399
@jackhair that would work, but you'd be including every polyfill in your build.

[2019-05-01 18:31] DSchau commented on #13763
I think this issue is rather more focused with setting dynamic values for a plugin, which is a reasonable use case. I'm less convinced of using Gatsby's internal APIs in this pre-config phase because that seems to be more of a niche use case? (and would also be fairly challenging to implement in core, e.g. plugins _create_ the schema so how would we know which plugins are safe to use and which nee

[2019-05-01 18:32] jonniebigodes commented on #13773
@violetamenendez i've just created a Gatsby website using the hello world and added the dependencies needed.

Upon testing it. The example is not entirely accurate.

Following the documentation, i've created a folder called `content` and added the xml content inside a file called `book.xml`. Configured `gatsby-source-filesystem` to point where the file is held.

First of all using the following qu

[2019-05-01 18:33] DSchau commented on #13676
@pungggi you've done a great job debugging where this issue occurs.

Would you be interested in making this change? Context was introduced in React 16.3, and our minimum supported version of React is 16.4.2, so we can make this change.

We'd love a PR! Thank you!

[2019-05-01 18:36] #13686 closed

[2019-05-01 18:40] DevelopwithTom opened #13779 "Errors when starting a new Gatsby project"
Im getting the following error when I try to start a new Gatsby project.

I type

and receive:

info sharp Using cached /Users/tom/.npm/_libvips/libvips-8.7.0-darwin-x64.tar.gz
prebuild-install WARN install No prebuilt binaries found (target=12.1.0 runtime=node arch=x64 libc= platform=darwin)
  TOUCH Release/obj.target/libvips-cpp.stamp
  CXX(target) Release/obj.target/sharp/src/common.o
In file i

[2019-05-01 18:44] DSchau commented on #13656
@MurphyPone I just checked out your project, and ran the following steps:

[code]

and was able to see the images with the correct paths. Could you share any more details to help reproduce?

![Screen Shot 2019-05-01 at 1 44 49 PM](https://user-images.githubusercontent.com/3924690/57035300-4d64a580-6c17-11e9-84b4-6df25f2f9068.png)

[2019-05-01 18:45] DSchau commented on #13656
Also I'd recommend you _not_ commit your `.cache` folder to Github, as an aside!

[2019-05-01 18:46] DSchau commented on #13655
@kenlu89 could you provide a [reproduction](https://gatsby.dev/reproduction) so we could take a further look?

In particular, I don't think it's extremely likely that including a dependency makes your site weigh *4.6Gb* but I would honestly love to be shown otherwise, here!

[2019-05-01 18:49] DSchau commented on #13779
Thanks for the logs, this certainly appears to be a Sharp issue.

Could you paste the output of `gatsby info --clipboard` so we could debug further? Thanks!

[2019-05-01 18:50] DevelopwithTom commented on #13779
Thanks for the reply DSchau!

Yes, absolutely:

System:
    OS: macOS 10.14.4
    CPU: (8) x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.1.0 - ~/.nvm/versions/node/v12.1.0/bin/node
    npm: 6.9.0 - ~/.nvm/versions/node/v12.1.0/bin/npm
  Languages:
    Python: 3.6.5 - /anaconda3/bin/python
  Browsers:
    Chrome: 74.0.3729.131
    Firefox: 66.0

[2019-05-01 18:51] DSchau commented on #13779
It's possible Sharp binaries hasn't as of yet been updated for Node 12.

Could you try Node 11 and see if you run into similar failures?

[2019-05-01 18:56] DSchau commented on #13649
@muescha if cross-linking is indeed valuable on some of these pages (which seems reasonable) we'd happily take PRs adding some extra detail where it makes sense.

Thanks!

[2019-05-01 18:56] kenlu89 commented on #13655
@DSchau  we figure out the issue from 400MB to 4.6GB is that instead using import bootstrap inside the layout component we would use CDN method in the html.js . This shrink from 4.6 to 1.1GB. The site still in production but the problem is solved.

[2019-05-01 18:56] #13655 closed

[2019-05-01 18:56] t2ca commented on #13779
Im currently getting an error running gatsby develop after upgrading to node 12.

[code]

[2019-05-01 18:57] DSchau commented on #13779
@t2ca you obviously ran `yarn` again after updating to Node 12?

[2019-05-01 18:58] t2ca commented on #13779
Yes

[2019-05-01 18:59] kennedyrose commented on #13717
Super weird. We tested this with 2 members of the team and it wasn't working. Closing for now, I'll try to get more info about what might be happening.

[2019-05-01 18:59] #13717 closed

[2019-05-01 18:59] DSchau commented on #13642
Very much agreed! This is complicated, however, because Netlify only allows builds 15 minutes to complete, and gatsbyjs.org takes a little bit longer than that.

One thing I have tossed around is a very much simplified version of gatsbyjs.org (e.g. without screenshots, sites, showcase items, etc.) that would build out much quicker.

We'd love any assistance with this!

[2019-05-01 18:59] jeremypuchta opened #13780 "Cannot setup Gatsby Default Starter"
## Description

I am trying to setup a new Gatsby project using the default starter template, following the associated [documentation](https://www.gatsbyjs.org/tutorial/part-zero/). This is the error I'm getting:

[code]

I already tried a couple of things I found here and on other forums concerning similar issues. What I need to mention is, that I am able to setup _gatsby-starter-hello-world_ wit

[2019-05-01 19:08] DevelopwithTom commented on #13779
Thank you DSchau! I used the LTS node of 10.15.3 and everything went smoothly :)

[2019-05-01 19:09] DSchau commented on #13780
Well this is unfortunate!

We use slightly older versions of `sharp` in our packages that depend upon sharp, e.g. `^0.21.3`. This will not grab the latest version of packages, e.g. `^0.22.1`, which appears to correctly compile with Node 12.

![Screen Shot 2019-05-01 at 2 08 27 PM](https://user-images.githubusercontent.com/3924690/57036725-b4d02480-6c1a-11e9-92b2-5e7740f86cc7.png)

So, two solution

[2019-05-01 19:11] DSchau commented on #13599
@k-five sorry for the issue--generally there are a _lot_ of checks we could add, but each check we add introduces complexity which may not be worth the smaller % of people using e.g. a 32-bit machine.

Thanks for reporting!

[2019-05-01 19:11] #13599 closed

[2019-05-01 19:12] DSchau commented on #13779
For further context, this is the underlying issue: https://github.com/gatsbyjs/gatsby/issues/13780#issuecomment-488383193

[2019-05-01 19:15] DSchau commented on #13780
And a 3rd solution from @pieh if a yarn user. Use the `resolutions` feature in yarn in your package.json:

[code]

[2019-05-01 19:16] #13779 closed

[2019-05-01 19:26] Undistraction commented on #12409
So I think this is the rub:

Exposing `entry` as an option will only work effectively if Gatsby adds an import for babel-polyfill itself at a point in the lifecycle prior to the imports from any other plugins being parsed to ensure all client-side code (whether local to the project or applied by a plugin) is already polyfilled.

[2019-05-01 19:31] jeremypuchta commented on #13780
Thank you @DSchau for your quick reply. I've setup NVM to managing multiple Node versions. Now using the latest LTS-Version of Node and everything works fine.