[2020-06-23 08:18] #25193 closed

[2020-06-23 08:24] janosh commented on #25193
@LekoArts Thanks a lot for this detailed walk-through!

[2020-06-23 08:47] ptrhck opened #25222 "How to manage secrets with Gatsby?"
After reading [this](https://www.gatsbyjs.org/blog/2018-11-07-gatsby-for-apps/) blog post about Gatsby, I am considering to use it for a Mapbox app, which is outlined [here](https://medium.com/@brendan_ward/migrating-from-create-react-app-and-leaflet-to-gatsbyjs-and-mapbox-gl-98b49c2e75c4). I would like to pick this up to ask the following questions: How do you manage secrets within a Gatsby app?

[2020-06-23 08:48] janosh commented on #25193
Just for posterity, here's the version with `SVGO` optimization:

[code]

[2020-06-23 08:54] janosh commented on #25193
Also, it's probably a good idea to include a check like

[code]

so as not to waste build time on generating URIs for SVGs that are too large to be inlined anyway.

[2020-06-23 09:03] McInkay opened #25223 "Scroll to hash will attempt to scroll, even if the hash is not a valid selector"
## Description

Since 2.23.6, if you put in a hash that isn't a valid selector (for example including a `=` character), then we get an error when gatsby tries to scroll to that hash, and the whole application dies.

### Steps to reproduce

Take any gatsby site, go to any url and put this hash on the end: `#test=test`.

For example: https://90bvv-8000.sse.codesandbox.io/#test=test

### Expected res

[2020-06-23 09:13] Ilham-Pratama opened #25224 "Gatsby-plugin-react-helmet doesn't work if there is replaceRenderer function in gatsby-ssr.js file"
## Description

As we know that Gatsby-plugin-react-helmet makes your react-helmet tags ready in sever-side. But unfortunately, that feature will not work if you have replaceRenderer function in your gatsby-ssr file. I'd like to know why, and What can I do in order to make it work.

### Steps to reproduce

- Create new gatsby project by running`gatsby new my-hello-world-starter https://github.com/

[2020-06-23 09:28] LekoArts commented on #25224
Thank you for opening this!

What you're describing is expected behavior. On https://www.gatsbyjs.org/docs/ssr-apis/#replaceRenderer it says:

And on https://www.gatsbyjs.org/docs/ssr-apis/#onRenderBody it says:

By using `replaceRenderer` you're overwriting the contents of https://github.com/gatsbyjs/gatsby/blob/a72caa67f85907ddf394d21c4b645e5a58bf32c4/packages/gatsby-plugin-react-helmet/src/gats

[2020-06-23 09:28] #25224 closed

[2020-06-23 09:31] JustFly1984 commented on #25064
@Js-Brecht we are running gatsby develop -S, cos it is faster than running gatsby build and run webserver to run it with cypress. Currently cypress silently running with dev server with gatsby@2.23.4. devcert rolled back to 1.1.0, and we are installing libnss into github actions ubuntu docker

[2020-06-23 09:35] JustFly1984 commented on #24272
@pieh still same issue in @2.23.9

[2020-06-23 09:44] josub commented on #25127
Thank you for the reply. I am closing this issue since it is not in the Storefront API and therefore not viable to add. I will update here if I find some easy workaround.

[2020-06-23 09:44] #25127 closed

[2020-06-23 10:00] CharlieRick commented on #25223
We have run into this issue ourselves, I think it's being caused by a recent update of this dependency - https://www.npmjs.com/package/gatsby-react-router-scroll

We're using keycloak which puts the state as a hash in the url and it is breaking our entire application, coming up with a similar error to yourself. We would appreciate a fix for this so that we don't need to worry about managing versio

[2020-06-23 10:08] stanleyyuenyiu commented on #25188
@LekoArts yes, similar, but i try to set up a env for everyone to test

[2020-06-23 10:09] muuvmuuv commented on #24272
Found the issue: `program.ssl` isn't set before creating the proxy...

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop.ts#L121-L125

This PR should not have been merged! https://github.com/gatsbyjs/gatsby/pull/25015

[2020-06-23 10:12] CharlieRick commented on #25223
Rolling back to version 3.0.1 has worked as a temporary fix.

Add `"gatsby-react-router-scroll": "3.0.1"` to your package.json and npm install again :)

[2020-06-23 10:20] Ilham-Pratama commented on #25224
Thank you @LekoArts for your fast respond, I really appreciate that.
Weirdly, when I remove the replaceRenderer function, I ran into this error.
[code]

[2020-06-23 10:46] Ciantic commented on #22206
I don't have means to add labels. I wish one could just give reaction to that bot to not close it. Sort of that, I have to comment.

[2020-06-23 10:48] ddennis commented on #13806
@LekoArts i saw you have been working on **https://github.com/LekoArts/gatsby-theme-i18n** implementing examples - would it make sense to start using your solution? or should we wait for a more official release?

[2020-06-23 10:55] LekoArts commented on #13806
This is currently WIP and not released yet.

[2020-06-23 10:57] LekoArts commented on #24962
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-06-23 10:57] #24962 closed

[2020-06-23 10:58] LekoArts commented on #24909
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-06-23 10:58] #24909 closed

[2020-06-23 11:12] NotMoni commented on #25222
@ptrhck  you can use [.env](https://www.npmjs.com/package/dotenv) files to define your api code

[2020-06-23 12:08] LekoArts commented on #22206
We are happy to review a PR changing the behavior of `gatsby-plugin-react-helmet` however we won't work on this and thus the bot asking for activity is correct. We don't consider this being broken but a feature request.

[2020-06-23 12:46] shavidzet commented on #25223
I don't like rolling back version :smile:
As I dived in source code it's already fixed, but it is not shipped yet in npm registry :cry:

[2020-06-23 12:49] axe312ger commented on #23120
The starter Jimmy was using was pretty much out of date. I upgrade the dependencies here: https://github.com/contentful/starter-gatsby-blog/pull/126

So if you run into this, ensure you run the latest versions of `gatsby` & `gatsby-source-contentful` before reopening this. Thanks

[2020-06-23 12:52] axe312ger commented on #24679
No as the code won't be executed at all in a production environment :)

[2020-06-23 12:53] Ciantic commented on #22206
I closed this, since that's what the bot would have done, if this is not actionable.

I would have thought that if the default gives a broken behavior as commented by others, it would be a bug. But others bug is someone's feature as the saying goes.

[2020-06-23 14:10] iray-tno commented on #25152
Hi @PetroPavlenko . Maybe wrong mention? XD

Thanks for your comment.

Yeah, I'm doing the same thing with that for article content.
What I meant is I wanted to do that for the table of contents also.

By filtering elements except for headers, I can actually use the `htmlAst` for rendering the table of contents also.
But I think it's more convenient if I'm able to access AST of the table of conten

[2020-06-23 14:28] lawwantsin commented on #15317
This is a problem in AWS as well.  Gatsby is a scam.

[2020-06-23 14:29] lawwantsin commented on #9207
This is a problem in AWS as well.  Gatsby is a scam.

[2020-06-23 14:29] #25129 closed

[2020-06-23 14:56] madalynrose commented on #25220
Hi there @AboyL! You should be able to override this behavior using Gatsby's [shouldUpdateScroll Browser API](https://www.gatsbyjs.org/docs/browser-apis/#shouldUpdateScroll).

[2020-06-23 15:00] madalynrose commented on #25222
Yes, @NotMoni is correct! You can see more about using .env variables in Gatsby in this [doc](https://www.gatsbyjs.org/docs/environment-variables/) that goes through a couple different use cases.

[2020-06-23 15:03] blainekasten commented on #25223
This was fixed by https://github.com/gatsbyjs/gatsby/pull/25161, let me publish a new version of gatsby quick!

[2020-06-23 15:07] blainekasten commented on #25223
Published!

gatsby-react-router-scroll@3.0.6
gatsby@2.23.10

[2020-06-23 15:07] #25223 closed

[2020-06-23 15:10] samOpenforce opened #25232 "Gatsby build issue with react-i18next (SSR?)"
Building a Gatsby application and using `react-i18next`. Implemented the `withTranslation()` approach and wrapped our layout component with `i18NextProvider`, layout in turn wraps all other components. Project builds fine in dev but in prod (SSR) we receive the following browser error:

`react-i18next:: You will need pass in an i18next instance by using initReactI18next`

Using [this older guide](

[2020-06-23 15:17] madalynrose commented on #25207
Thanks for letting us know about this issue, @disintegrator! I'm tagging @moonmeister in case he has context on this.

[2020-06-23 15:35] madalynrose commented on #25217
Hi @iKeeko !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a

[2020-06-23 15:39] madalynrose commented on #25216
Hi @mimiza!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a m

[2020-06-23 15:45] #24272 closed

[2020-06-23 15:47] BernardA commented on #25171
Thanks for the prompt response.
I have implemented your solution as below, but there are a few issues with that. Some minor but a major one as well.

Here is the code that replaces the section after // ***** BELOW DOES NOT WORK ***** above.

        onCreatePage: async ({ page, actions }) => {
        const { createPage } = actions;
        // const component = path.resolve('./src/templates/search

[2020-06-23 15:51] markjenkinson commented on #17576
No, we're using Netlify, and the production builds don't have this issue. It's only the local builds, using the `gatsby develop` or `netlify dev --live` commands that this issue persists.

[2020-06-23 15:52] moonmeister commented on #23923
Mostly it'll be a matter of detecting if an SVG was specified (sharp should be able to help with this), if it is, add the primary SVG favicon code to head in addition to the fallback PNG. Then testing to verify all the work. So small/medium size PR.

[2020-06-23 16:02] moonmeister commented on #25207
I don't have any specific background, I remember working on this PR with core team but nothing specific that'd help. This probably just got over looked. I'll take a look at the repro when I get a chance.

[2020-06-23 16:31] jzabala commented on #25232
Sorry if I am asking a dump question but how exactly does the `Layout` gets the `i18n` instance?

From what I see `Layout` is expecting an `i18n` prop (`const Layout = ({ children, t, i18n })`), but the it is rendered by `gatsby-plugin-layout`, so how is it getting the prop?

[2020-06-23 16:31] kaihaan commented on #24845
I've just had the same problem - has this been resolved?

[2020-06-23 16:41] KishokanthJeganathan commented on #11688
I had this same issue with when I was having the below code in 2 pages

export const query = graphql`
	query contentFulAddBlogPost($slug: String, $locale: String) {
		contentfulAddBlogPost(path: { eq: $slug }, node_locale: { eq: $locale }) {
			path
			node_locale
		}
	}
`;

to avoid this I changed contentFulAddBlogPost to allContentFulAddBlogPost in one of the components as below

export const qu

[2020-06-23 16:48] Mrazator commented on #20718
I have the same problem. My setup is: `yarn link gatsby-theme-xyz`, `yarn install` and `gatsby build` then fails with this error. Could this be connected to the `yarn link`? Problem with themes?

[2020-06-23 16:57] muescha commented on #23929
we should wait until #24372 `mainenance(docs): Add retext-spell to check spelling` is merged

[2020-06-23 17:01] iray-tno commented on #25152
This looks like the proper use-case of headings. #23546
I'll look into it a bit more tomorrow.

[2020-06-23 17:21] gxwheel152 commented on #11851
I was having trouble using it in components that were not pages --- I switched to this and then it worked in the components as well.

`    query {
      file(name: { regex: "/wrestling_Friend_450x450/" }) {
        childImageSharp {
          fluid(maxWidth: 200, maxHeight: 200) {
            aspectRatio
            base64
            sizes
            src
            srcSet
          }
        }

[2020-06-23 17:30] seancdavis commented on #24910
Thanks, @herecydev! Of course it was a stupid mistake on my part. Writing the schema properly did help fix all the issues listed above.

Taking this approach led to another issue with setting mappings in `gatsby-config.js`. But that's not directly related to the issue here, so I will close.

[2020-06-23 17:30] #24910 closed

[2020-06-23 17:33] jzabala commented on #21420
I tested this issue with Gatsby 2.23.3 and it seems to be working.

CodeSanbox: https://codesandbox.io/s/inspiring-dirac-7yzhp

Example: https://7yzhp.sse.codesandbox.io/

In the example `Go to page 2` is a redirect to a pdf file.

[2020-06-23 17:34] MikeBroders commented on #20238
@sumanthyedoti can u give some example on how u achieved this?

[2020-06-23 18:00] moonmeister commented on #21420
Hey, Thanks for taking a look. Maybe it got fixed but I am seeing two issues with you repro that don't match the details above. First, my `/terms/` page doesn't exist in  anyway other than in the redirect, you have a `page-2` that exists and is redirected. Second, My PDF is a relative url (i.e. `/Terms-and-conditions.pdf`) not an absolute url (i.e. `https://example.com/Terms-and-conditions.pdf`).

[2020-06-23 18:04] acuthbert commented on #20331
@brootle how would you feel about posting a snip or a gist for that? I'd be interested to see how you tackled it. I was thinking of trying to mine the graphql data for a flat list of all pages with their path - I was then going to split that up using a forward slash and then manipulate into a tree structure. I'm interested to see if you did something similar?

[2020-06-23 18:29] brootle commented on #20331
@acuthbert yes, I did exactly same thing! Looked like most easy and straight forward approach to me and my file structure was only 4 level deep, I mean the longest url looks like this /folder/folder/folder/post/ where post is generated based on post.md and I am not sure if this is mentioned in the docs, but you can get url like /folder/folder/folder/ by simply creating index,md file inside /folder

[2020-06-23 18:36] acuthbert commented on #20331
Thanks @brootle - any chance you could share the graphql you used to get the data?

[2020-06-23 18:38] cakasuma commented on #4603
any workaround how can we fix pretty print for sitemap?

[2020-06-23 18:41] judepark commented on #25214
I am having the hardest time trying to get it to work...  🤕 Do I need to rewrite my entire gatsby-node.js file? I keep getting the error message **Cannot query field "fields" on type "MarkdownRemark"** everytime I try to rewrite it in whichever way.

[2020-06-23 19:58] JustFly1984 commented on #24272
@pieh @wardpeet still hangs in 2.23.10, reverted back to 2.23.4

[2020-06-23 20:03] Hrishikesh-K opened #25238 "Really weird 'ReferenceError: window is not defined'"
## Description

I have a website up and running already. I had used a starter, but, at this stage, it's more like a completely new website due to a lot of customizations. For the past few days, I didn't have to update my website. But, today, when I got to update it (just added a custom plugin, no other change in source code), I thought it's a nice time to update all dependencies to the latest vers

[2020-06-23 20:07] Hrishikesh-K commented on #25238
Update: Another user of the previously problematic plugin is mentioning the same error here: https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/217

Maybe, the plugin is still a problem after all. It's weird, because even when I used the older version from my hard drive, it was still giving the same problem, but, still there's hope. I'll re-open this issue if that plugin isn't a p

[2020-06-23 20:08] TylerBarnes commented on #25238
Thanks for opening this issue, checking it out now!

[2020-06-23 20:08] kenny-f commented on #25003
I'm seeing the same thing on a new project after running `gatsby new`

[2020-06-23 20:14] mariusGundersen commented on #25066
I've stumbled onto this using just mdx and rehype-mathjax. The problem shows up as all the generated html having `classname=""` attributes rather than `class=""` attributes.

[2020-06-23 20:29] TylerBarnes commented on #25238
This is fixed in `gatsby-plugin-transition-link@1.20.2`
Please let me know if you run into any more issues and I'll have a look right away.
I'm rusty on this package since it's been a while since I've been working on it. Looks like my first couple releases did more harm than good 😜 but now I'm back in the hang of it

[2020-06-23 20:29] #25238 closed

[2020-06-23 20:35] magaldistudio commented on #10404
Good afternoon!

After opening my project in the gatsby folder, when I turn on the gatsby develop command, I get the following error:

 ERROR

Looks like develop for this site is already running. Try visiting http://localhost:8000/ maybe?

[2020-06-23 21:03] muuvmuuv commented on #24272
It isn't yet released @JustFly1984 . Just go to `node_modules/gatsby/dist/commands/develop.js:127` and move the `proxy` and `developProcess` (together) below the `program.https` if-clause manually.

[2020-06-23 21:07] pvdz commented on #24845
I think this is a dupe of https://github.com/gatsbyjs/gatsby/issues/21982

Closing as such. Please see that issue for workarounds or reasons why this is a WSL problem.

Please re-open if you can reproduce this problem on a mac or linux machine.

[2020-06-23 21:07] #24845 closed

[2020-06-23 21:22] JustFly1984 commented on #24272
@muuvmuuv can't do that in ci/cd workflow, waiting for release. maybe not closing an issue till fix released?

[2020-06-23 21:45] mgienow opened #25240 "[www/blog] Allow Markdown in `<Pullquote citation>`"
Hello!  I would like to request a feature to go with the <Pullquote> component.

The `<Pullquote>` component, which is allowed in MDX, supports setting an optional `citation` like so:  `<Pullquote citation="Dennis Brotzky, Founding Partner, Narative">`.

The feature I'm requesting is the ability to add links to the citation, e. g. if we want to link to the website of the person we attributed the q

[2020-06-23 22:15] jzabala commented on #21420
Hi @moonmeister, I tried with you details and it works but for some reason only with the production build. I deployed it in Netlify: https://csb-7yzhp.netlify.app/. Clicking `Go to page 3`, opens up the PDF.

[2020-06-23 22:15] brootle commented on #20331
@acuthbert I just used title from frontmatter to generate user-friendly name for the menu item, basically I needed this graphql request just to get the list of urls of all markdown documents
`{
  allMarkdownRemark {
    totalCount
    edges {
      node {
        id
        frontmatter {
          title
        }
        fields {
          slug
        }
      }
    }
  }
}
`

[2020-06-23 22:52] fk commented on #25240
Hey @mgienow! 🤗 🎉
Welcome, and thanks for opening this!

To add to your great issue description, [here's that `<Pullquote>` component](https://github.com/gatsbyjs/gatsby/blob/a40fd01c9e4998eea00f856bba63dc6a0b956d76/www/src/components/shared/pullquote.js).

---

I can see a couple of ways enabling this, but given my very shallow understanding of MDX, I can't help but think that the easiest probabl

[2020-06-23 23:37] mathewTH commented on #24863
Yes that file exists, however the filename being used from the stack trace
has 'async ' prepended which causes the file to not be found.

On Thu, 18 Jun 2020, 22:08 Matt Kane <notifications@github.com> wrote:

[2020-06-24 00:30] LordLalwani commented on #25151
Any Updates? this is really becoming a blocker.

[2020-06-24 00:54] moonmeister commented on #21420
Cool, I'll double check when I'm not on a phone but maybe this got resolved.

[2020-06-24 01:41] TorrinLynn opened #25242 "Gatsby version 2.23.5 and above breaks local HTTPS development ..."
## Description

When running gatsby 2.23.5 or above, local HTTPS doesn't work. Rolling back to 2.23.4, HTTPS works properly.

### Steps to reproduce

gatsby develop --https -H \<host name\>
### Expected result

I should be able to navigate to https://\<host name\>:8000 or see the certificate by running
[code]

### Actual result

Navigating to https://\<host name\>:8000 in a browser shows:

[code]

[2020-06-24 01:56] mimiza commented on #25216
@madalynrose Hi there!
Please clone this repo https://github.com/mimiza/mimiza.com
I'm using Windows 10 (x64), my editor is VSCode.
Thank you so much for your response.

[2020-06-24 02:57] Hassan307 commented on #24679
- **

1.

- [ ] @

**

[2020-06-24 06:05] muuvmuuv commented on #24272
@JustFly1984 check the latest release. *2.23.11* should include the fix

[2020-06-24 06:12] LekoArts commented on #25242
I think this is a duplicate of https://github.com/gatsbyjs/gatsby/issues/24272
We released a fix at `gatsby@2.23.11` so please try that version. If it doesn't work please comment on the linked issue. Thanks!

[2020-06-24 06:12] #25242 closed

[2020-06-24 06:27] JustFly1984 commented on #24272
@muuvmuuv @pieh @wardpeet  Thank you, it is fixed

[2020-06-24 06:28] dididy opened #25244 "Broken URL on packages/gatsby-transformer-remark/README.md"
## Summary

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/README.md

- Above links url's REAMDE.md has problem of containing broken url
- Below sentence is 39 lline on `/packages/gatsby-transformer-remark/README.md`

- You can check `remark-parse's documentation is return 404 page of github

### Motivation

- I want to check `options.commonmark`, `options.footno

[2020-06-24 06:35] LekoArts commented on #25232
Thank you for opening this!

While this isn't directly related to Gatsby but more so about the correct implementation in your React code I'll give you some pointers to unblock you.

Firstly, the article you linked is pretty outdated, you can find articles like https://itnext.io/techniques-approaches-for-multi-language-gatsby-apps-8ba13ff433c5 via Google which should give you a better guidance.

Yo

[2020-06-24 06:35] #25232 closed

[2020-06-24 06:35] samOpenforce commented on #25232
@jzabala My understanding, and I could well be wrong, is that `withTranslation` supplies both `i18n` and `t`?

Translations work as expected when using `gatsby develop` but not using `gatsby build` so I'm assuming its an issue caused by SSR?

[2020-06-24 06:37] samOpenforce commented on #25232
@LekoArts Thank you for the response and the tips. I will work through the information you've kindly provided.

[2020-06-24 06:38] LekoArts commented on #25214
Please provide a [minimal reproduction][reproduction] or alternatively link your complete project as we can't help otherwise. Thanks! :)

[reproduction]: https://gatsby.dev/reproduction

[2020-06-24 06:57] LekoArts commented on #21392
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-24 07:14] sumanthyedoti commented on #20238
@MikeBroders
Create context and add that to `wrapRootElement` in both **gatsby-browser** and **gatsby-ssr**
[code]

[2020-06-24 07:21] rennehir commented on #20327
Hi @endormi I would like to help you with maintaining the Finnish translation, if you are still up for taking on this project :)

Maintainers

If you would like to be a maintainer, please respond to this issue with:
* your experience level in open source: Just starting open source contributions. Git and GitHub are very familiar since I work with them every day.
* your level of experience in the ta

[2020-06-24 07:25] AjayDhimanELS opened #25246 "Error while using 'new' command while creating a project in gatsby"
![Annotation 2020-06-24 124143](https://user-images.githubusercontent.com/64720226/85514604-d871dd80-b619-11ea-8b41-f47bc29fea0e.png)
This is the error I get while I'm trying to get a new starter project in gatsby. `node version: v14.4.0` `npm version: 6.14.5` `gatsby version: 2.4.17`. Also, the error is the same while working with recent gatsby version. I did nothing other than everything that is

[2020-06-24 07:36] #25246 closed

[2020-06-24 08:54] wardpeet commented on #25244
This might not be 100% what you're looking for but something like this is more or less what I think you're looking for.

[code]

Thank you for raising this question. If you think we should add extra notes to the tutorial, please let us know.
For more guidance and help I suggest you go to [Discord](https://gatsby.dev/discord).

Cheers!
Ward

[2020-06-24 09:04] wardpeet commented on #21392
I ran
[code]

I don't have any issues with the latest setup.
[code]

[2020-06-24 09:25] henricazottes commented on #15287
We still have those on version `2.1.0`

[2020-06-24 09:29] wardpeet commented on #25041
Hey @polarathene,

Thanks for the issue, it seems like `gatsby-plugin-remote-images` isn't using the proper API to fix this. CreateRemoteFileNode needs to use gatsby's reporter, if not it fallback to a different one.

https://github.com/gatsbyjs/gatsby/blob/debe18e972b73d26a7f6d45ed632ab1721c0f230/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L324-L336

I suggest opening a PR on

[2020-06-24 09:29] #25041 closed

[2020-06-24 09:31] wardpeet commented on #24577
@gustavpursche yes that narrows it down. We can check what changed between those versions. Thank you!

[2020-06-24 09:32] wardpeet commented on #25054
Is it possible to create a small reproduction? I can't seem to reproduce on the latest gatsby package.

[2020-06-24 09:38] wardpeet commented on #25097
This might not be 100% what you're looking for but something like this is more or less what I think you're looking for.

[code]

Thank you for raising this question. If you think we should add extra notes to the tutorial, please let us know.
For more guidance and help I suggest you go to [Discord](https://gatsby.dev/discord).

We're marking this issue as answered and closing it for now but please

[2020-06-24 09:38] #25097 closed

[2020-06-24 09:39] wardpeet commented on #25244
Sorry closed the wrong issue. Thank you for opening this issue! We're happy to receive a pull request.

More info how to get started can be found at https://www.gatsbyjs.org/contributing/

[2020-06-24 09:47] polarathene commented on #25041
@wardpeet ah ok, thanks for looking into the issue and identifying the problem and advising of a fix! I'll relay that information, cheers :)

[2020-06-24 09:49] wardpeet commented on #25151
@LordLalwani can you send me an email at ward@gatsbyjs.com and maybe send me the correct credentials so I can try it out? We're using contentful ourselves and haven't encountered this issue ourselves unless a wrong API key is present.

Are you sure the correct keys are provided? Is it possible to manually call contentful API with your credentials?
[code]

[2020-06-24 09:52] wardpeet commented on #25179
@dfireBird does your plugin has a package.json? A plugin needs a package.json to work.

If it's still not working then I feel it will be resolved by https://github.com/gatsbyjs/gatsby/issues/21592

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for us

[2020-06-24 09:52] #25179 closed

[2020-06-24 10:15] wardpeet commented on #24932
@hammund0 Sadly gatsby only supports if the url matches with the URL of your page. You can use options [path-prefix](https://www.gatsbyjs.org/docs/path-prefix/) if your site isn't on a subpath.

You can also disable client-side routing by using https://github.com/wardpeet/gatsby-plugin-static-site/.

That's all we can do from a gatsby side for now.

We're marking this issue as answered and closing

[2020-06-24 10:15] #24932 closed

[2020-06-24 10:29] Ranjith10 commented on #25244
I would like to take this issue @wardpeet

[2020-06-24 10:31] wardpeet commented on #25171
You'll have to create 1 search page that will be used as the root search page. All other pages will be client-side only. You can still create static pages for them but you should drop the matchPath for those pages.

To talk about SEO, how would Google be able to reach those search pages? If they are linked by other pages google will still find them. Google is crawling SPA and waits for them to com

[2020-06-24 10:31] #25171 closed

[2020-06-24 10:32] wardpeet commented on #25222
Thank you for opening this, @ptrhck

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-06-24 10:40] pieh commented on #25095
I think it's not the `createNodeField` that cause problems here, rather it's `fmImagesToRelative`

It looks like you are using https://www.gatsbyjs.org/packages/gatsby-remark-relative-images/ plugin, which have the error you are reporting listed in it's FAQ section. I'm not sure if the solution listed there is applicable to your case, but generally this plugin does seem to cause this kind of issue

[2020-06-24 10:40] DanailMinchev commented on #10668
I have similar issue, because I am using Yarn Workspaces / monorepo setup.

The solution suggested by @AaronFeledy in https://github.com/gatsbyjs/gatsby/issues/10668#issuecomment-580951826 is working for me.

I've created a small fix which checks if the Gatsby is not in your project's `node_module` and calculates the correct path then to be used in `config.module.rules[0].include`, this way it wil

[2020-06-24 11:07] wardpeet commented on #25216
Hey @mimiza.

I could reproduce this one but I don't really know the reason why this happens. Maybe it's the svg 🤷
When I add console.log inside the plugin, everything works as expected.

@moonmeister do you know of any race conditions that can occur here?

[2020-06-24 11:10] ascorbic commented on #24906
No, it's not as expensive because it doesn't need to update the DOM apart from attaching listeners. That means it's a lot cheaper. The SSR is to improve the first page load. On subsequent navigation, by just loading the page data we can load far less data and it's quicker still.

I'm going to close this because I can't see a use case for it. The reality of React SSR is that you'll almost always ne

[2020-06-24 11:10] #24906 closed

[2020-06-24 11:14] LordLalwani commented on #25151
Hi @wardpeet, I'll send you an email shortly.

I wasn't able to call get any success with the following
[code]

However this worked for me:
[code]

[2020-06-24 11:15] VLeads commented on #5462
I'm also occuring the same issue. Anything didn't worked for me and getting the error :- gatsby <clean> can only be run for a gatsby site.
Either the current working directory does not contain a valid package.json or 'gatsby' is not specified as a dependency

[2020-06-24 11:32] fk commented on #25240
So turns out I didn't see that forest for those trees. 😅 🤦 🤷

@sidharthachatterjee to the rescue ❤️ — we can pass [JSX](https://reactjs.org/docs/introducing-jsx.html) to `citation` like so:

[code]

Thank you Sid! 🤗
Follow-up PR to #25239 incoming!

[2020-06-24 11:38] fk commented on #25240
https://github.com/gatsbyjs/gatsby/pull/25251

[2020-06-24 12:02] EliranGooner opened #25252 "sharp plugin failing to be installed"
## Description

After not touching a certain project for a while, I changed a few minor things and tried to push to Heroku. I noticed that the build keeps crushing and sharp always fails to install. I referred to old issues and cleared npm cache, deleted node_modules and ran ```npm install```. But now every time I run ```npm install``` it runs into an error while installing sharp

### Steps to rep

[2020-06-24 12:03] BernardA commented on #25171
@wardpeet, thanks but I do not feel that you answered the question or resolved the issue. So closing it is premature.

My needs are clear:
1 - /search pages should be SEO ready, easily available to search engines.
2- is not practical to pre-build 100% of the /search routes due to sheer volume, so some need to be generated on the fly and, **for those only**, SEO is not a real concern as they are te

[2020-06-24 12:04] #24387 closed

[2020-06-24 12:09] LekoArts commented on #11165
This is still up for grabs if someone wants to contribute to Gatsby.

[2020-06-24 12:40] ehrencrona commented on #24625
<img width="1100" alt="Screen Shot 2020-06-24 at 9 37 38 AM" src="https://user-images.githubusercontent.com/1862212/85557683-617b1b80-b5fe-11ea-851a-02c0b11fb327.png">

Seems like the navigation container is still on screen, just empty.

The child div (with class `css-eie263` in this screenshot) has a `transform: translateX(-320px);` that moves it beyond the edge of the screen. I'd suspect that if

[2020-06-24 13:05] Pyrax commented on #24625
@ehrencrona you can find the site in this same repo under "www". This might also help: [sticky sidebar component](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/sidebar/sticky-responsive-sidebar.js)

[2020-06-24 13:14] PetroPavlenko commented on #25095
@pieh Almost yes. As it only crashes with cache. Without cache everything is ok

[2020-06-24 13:25] #25252 closed

[2020-06-24 13:29] alexfornuto commented on #11243
`/shrug`

Did you know that they make you a "maintainer" even if you only make small improvements to the documentation? In other words, I'm in the same boat as you. I'm hoping @LekoArts will look at this issue and provide the insight you seek.

[2020-06-24 13:33] jonasbarsten commented on #23512
Hi!

I'm having a similar issue as @jojobagings78.

I also checked @LekoArts example with facebooks sharing debugger and it doesn't look happy:

https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Ftmdb.lekoarts.de%2Fdetail%2Ftv%2F72750

@jojobagings78, did you figure this out? Or does anyone else have a solution?

All the best.

[2020-06-24 13:38] EliranGooner opened #25257 "Building JS and and CSS fails during deployment"
### Description

When I try to deploy my gatsby project to heroku after I didn't touch for a while, the deployment just keeps failing. It gets to building the JS and CSS but then runs into a bunch of errors. When I run ```gatsby build``` it finishes successfully.

### Steps to reproduce

Run ```git push heroku master``` on the repo.

### Expected result

JS and CSS building successfully.

### Actu

[2020-06-24 13:57] #25244 closed

[2020-06-24 14:06] judepark commented on #25214
Thank you, does this help? https://codesandbox.io/s/broken-hooks-rx98x?file=/gatsby-config.js

[2020-06-24 14:37] ptrhck commented on #25222
I do understand how to use API keys for example at build time. However, as far as I understand, mapbox needs the access token at runtime. In that case, someone could grab the key from the client side js and use it somewhere else. Am I missing something here how to handle this use case with gatsby?

[2020-06-24 14:58] ivan3web opened #25258 "gatsby rich snippets - encoding issue (cyrillic)"
Hello,

I am developing a Gatsby website and I have an issue with rich snippets.

There is a problem with the Cyrillic letters I believe, take a look at what the testing tools return.

Link: https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fbg.dianurse.com%2Fptuvane-s-diabet%2F
Url: https://bg.dianurse.com/ptuvane-s-diabet

[code]

[2020-06-24 15:25] comoser commented on #16763
@gatsbyjs/core how is this closed when people are still having this problem nowadays?
PS I'm having the exact same issues, so maybe we can reopen the ticket 👍

[2020-06-24 15:46] endormi commented on #20327
Yeah, absolutely @rennehir. I'm not able to start working this week, but the next.

[2020-06-24 15:50] Wookie93 opened #25260 "The gatsby-source-cloudinary plugin has generated no Gatsby nodes. Do you need it?"
## Description

Hello,
I try to create images gallery in my gatsby project. I decided to use cloudinary, however it do not want to work. I used Static Query the component.
How can I fix it?

### Steps to reproduce

Follow instructions from https://scotch.io/tutorials/handling-images-in-gatsby-with-high-performance
1. Install gatsby-source-cloudinary
2. Setup your environments
3. Run local server

[2020-06-24 15:51] machineghost commented on #451
How does one easily remove case sensitivity from Gatsby with extra code?

[2020-06-24 16:05] jzabala commented on #25260
The plugin [gatsby-source-cloudinary](https://github.com/Chuloo/gatsby-source-cloudinary) is not part of Gatsby core so, you might need to open the issue in that project.

From what I see the problem is that you don't have data in Cloudinary and the plugin is inferring the GraphQL Schema. To fix this the author of the plugin should add the Schema using [createSchemaCustomization](https://www.gatsb

[2020-06-24 16:44] laradevitt commented on #19980
Thanks @johno. Although I recognize that StaticQuery and page query are different, I guess I wasn't fully grasping that this creates a limitation when it comes to importing a component in order to shadow it. Your explanation helps with that. I'm wondering if the docs should be updated to point out that components with page queries can't be imported as described [here](https://www.gatsbyjs.org/docs

[2020-06-24 16:46] wardpeet commented on #25260
Like @jzabala mentioned, there is nothing we can do from our end. Api's are working corectly. Please open a ticket in the plugin itself.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-06-24 16:46] #25260 closed

[2020-06-24 17:00] johno commented on #25184
Thanks for the breakdown @polarthene! Looks like this has now been addressed in #24917 by only installing the specific subpackages we need for GraphQL SDL parsing in Recipes.

The following no longer returns dependency output:

[code]

[2020-06-24 17:00] #25184 closed

[2020-06-24 17:26] rennehir commented on #20327
@endormi cool! No hurry mate, let's start working next week :)

[2020-06-24 17:27] ishanloya opened #25264 "gatsby-source-shopify plugin quantityAvailable field for ProductVariant"
Since as of apiVersion 2020-04, the `quantityAvailable` field can be queried from the Storefront API, is it possible to query this field now if I set the apiVersion to "2020-04"? It doesn't seem to be working for me. Is there something I need to do apart from enabling the `unauthenticated_read_product_inventory` permission for the Storefront API (which I've already done)?

Thanks

[2020-06-24 18:18] janosh commented on #24854
Also running into this issue.

[2020-06-24 18:53] dandv commented on #21664
@itejman, please consider reopening this issue. It's <kbd>Closed</kbd> but it has no clear solution, and we don't even know the cause.

[2020-06-24 19:51] itejman commented on #21664
Ok.

[2020-06-24 20:39] MrSaints commented on #16865
Apologies for the late response @joyfulelement.

AFAIK, no. You have to use the body. Because the `excerpt` would have filtered out any non-text elements, plus, it is truncated.

I'd see how well it performs before optimising. Personally, didn't have too much of an issue on this front.

Thanks for your kind words. And yes, it is intentional, for now. I'm in the process of cleaning up before I make

[2020-06-24 21:06] ernaneluis opened #25266 "gatsby-source-wordpress ACF filter relation just disappeared"
## Description

I add an ACF field `tags` to media objects on wordpress. Thus, installed gatsby config with:

[code]

and using this graphql query:

[code]

**It used to work just fine**, but now I tried to build again, I got this error:

[code]

This filter `filter: { acf: { tags: { eq: $id } } }` just disappeared on docs inside graphql explorer `localhost/__graphql`

- The endpoint is working fi

[2020-06-24 21:39] marcysutton opened #25268 "retext-spell failing CI on warnings"
## Description

With https://github.com/gatsbyjs/gatsby/pull/24372 merged, there are some lint failures on the master branch that can be inspected with Circle CI: https://app.circleci.com/pipelines/github/gatsbyjs/gatsby/44142/workflows/1136923a-d2a9-4a57-98f1-631d0ee3ccc8/jobs/447601/steps

Looks like retext-spell is having a tough time with proper nouns, and the `--frail` flag fails them by defa

[2020-06-24 21:43] marcysutton commented on #25119
I should also chime in that mobile users employ Bluetooth keyboards quite often, so I don't think mobile usage can necessarily predict whether someone will or won't use a keyboard.

[2020-06-24 21:45] jzabala commented on #17952
I would like to take this one 🙂

[2020-06-24 22:19] bughishor commented on #2392
I can confirm that the same approach works with Strapi (e.g type StrapiElement).

[2020-06-24 22:38] Cecile-Lebleu opened #25272 "gatsby-remark-images with MDX: Can't set backgroundColor"
## Description

A png image added inline in a md or mdx file using `gatsby-remark-images` shows a white background, when the backgroundColor has been specified in `gatsby-config.js`.

### Steps to reproduce

Using `gatsby-plugin-mdx` and `gatsby-remark-images`, using the same syntax and *very* similar structure as the docs. I set the background color in `gatsby-config.js` but it doesn't change fro

[2020-06-24 23:32] tesseralis commented on #25268
There's a script `scripts/update-dictionary.js` that automatically adds all new words (mostly proper nouns) to `dictionary.txt`. I ran it when creating #25270. I forgot to add documentation for it with the initial PR. I'll make a follow-up to do it and add more words!

[2020-06-24 23:42] DannyHinshaw commented on #24332
@wardpeet would you mind expanding on this please?

[2020-06-25 00:07] #20526 closed

[2020-06-25 00:07] #20525 closed

[2020-06-25 00:07] #19344 closed

[2020-06-25 00:07] #18484 closed

[2020-06-25 00:08] #15057 closed

[2020-06-25 00:08] #11963 closed

[2020-06-25 00:08] #11200 closed

[2020-06-25 00:29] moonmeister commented on #23923
Started work on this. ^^

[2020-06-25 06:10] kp-futami commented on #14497
Me,too.
[code]

[2020-06-25 06:11] dougwithseismic commented on #9207
Guys, it's a setting within Netlify as described above. Perhaps a new issue
needs to be created.

On Tue, 23 Jun 2020, 16:29 Lawrence Whiteside, <notifications@github.com>
wrote:

[2020-06-25 06:45] LekoArts commented on #21664
Please provide a [minimal reproduction][reproduction] then as otherwise this issue here isn't actionable.

[reproduction]: https://gatsby.dev/reproduction

[2020-06-25 07:19] LekoArts commented on #25214
Yeah, that helped!

I forked your codesandbox and added the behavior you were after:

![image](https://user-images.githubusercontent.com/16143594/85674103-d87ae780-b6c4-11ea-8df9-b567416b6105.png)

You can find it here: https://codesandbox.io/s/issue-25214-xrnpz (live preview at https://xrnpz-8000.sse.codesandbox.io)

For archival reasons, here's the important snippet from `gatsby-node.js` and `ga

[2020-06-25 07:19] #25214 closed

[2020-06-25 07:20] kuworking commented on #24332
@DannyHinshaw I received this explanation from lighthouse
"What I think is going on is that LCP does care about images being fully loaded and the time that's reported is when the image is completely loaded and not when it is first visible. This time can be different due to progressive images and iterative paints."

And then this link, perhaps of help
https://web.dev/lcp/#when-is-largest-contentful

[2020-06-25 07:22] gabdorf opened #25289 "static query fails on gatsby build"
## Description

I'm trying to build a page based on a theme locally with yarn workspaces. Everything works fine when running `gatsby develop`, but as soon as I run `gatsby build` I get the following error:

[code]

The query that is failing:

[code]

When I remove that query, everything works fine.
Seems to be related to this: https://github.com/gatsbyjs/gatsby/issues/24890#issuecomment-642140380

[2020-06-25 07:26] KosGrillis commented on #16763
I'm experiencing the same problem, are we able to reopen this one?

I query for my images as follows:

[code]

I set up my sources as follows:

[code]

In development this works fine, but in production the first source in that array is matched, until the screen is resized. Is it something to do with SSR?

[2020-06-25 07:44] tesseralis opened #25290 "enhancement (docs): Improvements to retext-spell"
## Overview

This issue is an overview of improvements to standardizing the spelling and formatting of words in our docs. Fixing these involves going to [`dictionary.txt`](https://github.com/gatsbyjs/gatsby/blob/master/dictionary.txt) and removing unneeded entries.

1) put filenames like `.htaccess` in code blocks
2) put code like `inferInputObjectStrctureFromNodes` in code blocks
3) put names of

[2020-06-25 08:12] hanshank opened #25291 "Unknown field 'metafield' on type 'ShopifyProduct'"
## Description

I've been using gatsby-source-shopify and it's been working just fine. However, after following the guides for exposing/whitelisting metafields to the Storefront API, I still get the following error when trying to query for the metafield like so:

[code]

### Steps to reproduce

1. fire up `gatsby build` or `gatsby develop` will both cause this error: '- Unknown field 'metafield' o

[2020-06-25 10:14] BladimirDelBarrioPizarro commented on #4967
Eres un subnormal qu eno tiene ni puta idea. La qu ehe liado por tú culpa.Inútil!

[2020-06-25 10:42] pieh commented on #25257
Can you try re-generating npm/yarn lock file? For a test just deleting lock file (and maybe `node_modules` as well for a good measure) and installing deps again and trying to push that to heroku.

This issue doesn't seem gatsby specific given I found similar in other projects:
 - https://github.com/JeffreyWay/laravel-mix/issues/2383
 - https://github.com/storybookjs/storybook/issues/10477

In part

[2020-06-25 10:55] Antoshkiv commented on #9902
I have same problem, installed gatsby-plugin-styled-components styled-components babel-plugin-styled-components
Any solution to the problem?

[2020-06-25 11:12] balibebas commented on #25232
@samOpenforce Though still quite helpful I too tripped up with the guide you linked in OP. While following that post everything seems to go smoothly until the very end where it says **Not tested**. Anyway, here's an i18n starter I threw together in case it helps:

https://git.habd.as/comfusion/gatsby-starter-i18n-react-i18next

I'm able to run `gatsby build` and see translations using `gatsby serv

[2020-06-25 11:29] jakehopking opened #25293 "warn The GraphQL query in the non-page component "./src/templates/default.js" will not be run."
## Description

When running `gatsby build` the site cannot create pages using a defined template for:
`allMdx(filter: {frontmatter: {category: {eq: "page"}}})`.

However it works with the same exact code for:
 `allMdx(filter: {frontmatter: {category: {eq: "episode"}}})` type.

When running `gatsby develop`, both templates are successfully used to build pages.

### Steps to reproduce

Run `gatsby

[2020-06-25 11:45] pieh commented on #25293
Can you try to move your .mdx "page" out `src/pages` to anywhere else just so it's not under `src/pages` (and likely adjust slug creation after it)?

I think there is some race condition here, because `gatsby-plugin-mdx` will automatically create pages from `.mdx` if it's in `src/pages`, but then you also create pages yourself for same "paths" (but using different template - the default).

I think

[2020-06-25 11:46] Oyyou commented on #25151
Jumping in to see if there are any clear fixes for this? Just downloaded my project from GitHub to another computer, and no longer working (still working on the original!)

[2020-06-25 11:51] ZachHoskins commented on #24137
I am still having the same issue with all of these plugins as well as the following plugins:
 * [ ]  https://www.gatsbyjs.org/packages/gatsby-plugin-coffeescript/
 * [ ]  https://www.gatsbyjs.org/packages/gatsby-plugin-stylus/
 * [ ]  https://www.gatsbyjs.org/packages/gatsby-plugin-postcss/

I installed the Gatsby site locally on my machine, and I'm still getting the same issue locally.

![image](

[2020-06-25 11:54] LordLalwani commented on #25151
@Oyyou I had a Zoom call with @wardpeet and we concluded that my work computer might be the one causing this problem for me. We tested the access tokens with Gatsby cloud and they all worked correctly.

Oddly enough, I was able to curl to the Contentful api and retrieve the data however when I start my Gatsby project it still fails for me. The cause is unknown, i'm assuming it's just my local mach

[2020-06-25 11:56] iamdarshshah commented on #24137
Sure @ZachHoskins Give it a try.

[2020-06-25 11:57] Oyyou commented on #25151
Hey, I'm unfamiliar with "curl", so what I'm going to do is look at that, and then try this project on a few other computers to see if it's consistent.

I'll report back later

[2020-06-25 12:00] LordLalwani commented on #25151
Sounds like a plan ! take a look at the curl examples above :)

[2020-06-25 12:06] pieh commented on #25258
I don't think this is gatsby specific issue here, but from some research that I did - this _might_ be just google's structured data testing tool issue (but this is just my feeling, I wouldn't bet on it).

On https://webmaster.yandex.com/tools/microtest/ (might need to register) it shows like this:
![Screenshot 2020-06-25 at 13 56 56](https://user-images.githubusercontent.com/419821/85715546-dc6e30

[2020-06-25 12:18] LordLalwani commented on #25151
@wardpeet I was able to add *.contentful.com to my CNTLM proxy settings and that allowed me to curl the preview tokens and get the correct data however when I attempt to build my gatsby project it still has the same problem.

Is there a specific gatsby url I can add to my proxy? perhaps that will fix the issue?

[2020-06-25 12:18] LukeTongue commented on #21392
I am having this issue too, the OP (@ovsw) has detailed the exact steps to reproduce this issue.

[2020-06-25 12:55] samOpenforce commented on #25232
@balibebas Thanks for the update on your project.

I've managed to solve my issue based on advice from @LekoArts, as well as a thorough re-reading of the react-i18next docs now I have a better understanding of what the plugin is doing. Refactored to only use the `i18nProvider` and `useTranslation()` hook and everything is working as expected.

[2020-06-25 12:59] LekoArts commented on #25258
So I looked a bit into this issue and think that this is not caused by Gatsby. I found this StackOverflow thread (https://stackoverflow.com/questions/8310560/microformats-hrecipe-vs-schemas-recipe) where they talk about special microdata for Yandex, however nowadays all major search engines support the schema.org format, and most people now use the JSON-LD syntax.

I looked at the test tool link y

[2020-06-25 12:59] #25258 closed

[2020-06-25 13:44] pieh commented on #25289
Hey @gabdorf, are you able to provide reproduction? Or at least actual logs - the edited parts of the message just hide any potential clues (tho they might not be helfpful, but with paths being edited very little context is lost)

[2020-06-25 13:50] EliranGooner commented on #25257
I re-generated the lock file and now passes this hurdle but I came across another one.
I'm getting this error now:
[code]

I don't use ```window``` anywhere in my code and this still happens. Got any idea why this popped up all of a sudden?

[2020-06-25 14:03] zwl1619 opened #25294 "Could give a tutorial for integrating gatsby and redwood"
There is an issue of redwood: https://github.com/redwoodjs/redwood/issues/217

I want to use Gatsby for the static parts of my site and Redwood for the dynamic parts. The auth system of redwood relies on third parties at present.  I want to try the [authentication service](https://www.gatsbyjs.org/tutorial/authentication-tutorial) of gatsby.

Could give a tutorial for integrating gatsby and redwoo

[2020-06-25 14:08] ehrencrona commented on #24625
I could reproduce the offscreen menu still being read by VoiceOver but I couldn't reproduce the menu items not being selectable. I could select menu items while offscreen and the page would update correctly. But anyway, I added `aria-hidden to fix it. Actually removing it from the DOM or using `display: none` would mess with the animations.

[2020-06-25 14:12] Mrtenz opened #25297 "How to disable a specific Babel plugin?"
## Summary

I need to disable a specific Babel plugin (`@babel/plugin-transform-exponentiation-operator`), since it isn't compatible with `bigint`. Somehow, Gatsby seems to always include this plugin, even when using a custom Babel config, or adding it to `@babel/preset-env`'s `exclude`.

## Relevant information

When running Gatsby, Babel (I'm assuming) changes `a ** b` to `Math.pow(a, b)`. If a

[2020-06-25 14:14] pieh commented on #25272
This is unfortunately known issue. Root cause is tracked in https://github.com/gatsbyjs/gatsby/issues/21592

As a workaround please configure your `gatsby-plugin-mdx` as follows:

[code]

[2020-06-25 14:20] EliranGooner opened #25298 "'window is not defined' error from build files"
## Description

In build I constantly get the dreaded 'window is not defined' error from files I'm sure how to tackle. These are files I suspect have to do something with the page build and they consistently throw this error only in build time.
I major change I did today is re-installing the ```package-lock.json ```file to solve another issue. But this came up after the initial issue was solved.
R

[2020-06-25 14:25] #25257 closed

[2020-06-25 14:28] Oyyou commented on #25151
@LordLalwani A bit embarrassed to say, but I had the wrong access_token..

Sorry about my spam!

[2020-06-25 14:37] gabdorf commented on #25289
Hi @pieh.
Can I share the files with you privately somehow?

Here is the log again with edited things in caps:

[code]

[2020-06-25 14:43] ehrencrona commented on #23755
I looked at this briefly. I don't think there is any sensible place to put that configuration. Also, you might conceivably want different intervals on different pages so I don't think it should be a global configuration.

I think the cleanest solution would be to add a new API `onRouteUpdateStart` that is triggered before the page load when navigating. The project code can then determine  determin

[2020-06-25 14:43] KyleAMathews commented on #22991
Hey 👋 as part of our virtual slow-rolled gatsby days, we demoed some work @johno, @shannonbux, and I have been working on for recipes.

The demo creates a Contentful blog from scratch with user input in just a few seconds!

https://twitter.com/kylemathews/status/1275797534028345344?s=19

- run recipes in Gatsby Admin
- new custom React Renderer allows for dynamic creation of resources
- support fo

[2020-06-25 14:49] harshalimatte commented on #11934
you need to add the matched version for react-hot-dom in your package file

"@hot-loader/react-dom": "^16.8.6",

and in your webpack config, you need to add

 alias: { 'react-dom': '@hot-loader/react-dom'  }

[2020-06-25 14:50] pieh commented on #25289
@gabdorf feel free to DM me at https://twitter.com/mipiechowiak to share source files if you can't share it publicly

But this seems like your theme is completely outside of your project directory - that might yarn workspaces or some sort of symlinks - we generally _should_ support this, but it seems not in this case

[2020-06-25 15:14] JacoboGallardo commented on #24573
any news? The workaround suggested in #24349 did not work for me.

Thanks.

[2020-06-25 15:24] kdichev commented on #25051
@vladar I am closing this issue as it seems not to be directly connected to Gatsby per say.
We have bumped up our build agent hardware (cpu cores) and we are experiencing extreme speeds now.
Our rendering now is 2000% faster, I guess this was the issue here.

ps. for anyone landing here if you have ssr perf regressions you should probably consider using gatsby cloud or bumping up your build agent

[2020-06-25 15:25] #25051 closed

[2020-06-25 15:26] gabdorf commented on #25289
Thank you. Sent you a DM on twitter.

[2020-06-25 15:28] Cecile-Lebleu commented on #25272
Worked great with `red` and with `transparent` too. Goal achieved. Thanks @pieh :)

[2020-06-25 15:28] #25272 closed

[2020-06-25 15:35] soniasingla opened #25302 "[gatsby-plugin-google-analytics] ReferenceError: UA is not defined"
## Description

I want to add the `gatsby-plugin-google-analytics` to my website and while building facing some errors.

[code]

### gatsby-config.js file
[code]

### gatsby-browser.js file
[code]

[2020-06-25 15:37] soniasingla opened #25303 "[gatsby-plugin-google-analytics] ReferenceError: UA is not defined"
## Description

I want to add the `gatsby-plugin-google-analytics` to my website and while building facing some errors.

[code]

### gatsby-config.js file
[code]

### gatsby-browser.js file
[code]
### Error

[code]

[2020-06-25 15:38] pieh commented on #25303
Closing as duplicate of https://github.com/gatsbyjs/gatsby/issues/25303 (seems like same issue got posted twice)

[2020-06-25 15:38] #25303 closed

[2020-06-25 15:40] jzabala commented on #23755
Hi @ehrencrona, thanks to your comments I now see that in reality we don't need to do anything here.

The new api that you proposed `onRouteUpdateStart` already exists with the name [`onPreRouteUpdate`](https://www.gatsbyjs.org/docs/browser-apis/#onPreRouteUpdate). So, people wanting to bail out of the 1s delay can just use a combination of `onPreRouteUpdate` and `onRouteUpdate`.

Yeah, your are r

[2020-06-25 15:41] pieh commented on #25302
Hi @soniasingla!

You are missing quotes around the tracking id value (it tries to do math operation without those and `UA` is the not defined in this case:

[code]

[2020-06-25 15:41] #25302 closed

[2020-06-25 15:45] soniasingla commented on #25302
Thanks @pieh !

[2020-06-25 15:58] connorlindsey commented on #25298
In several of your components, you reference `window` in a useEffect hook (navbar.js). During server-side rendering, the window is undefined and is probably why you're running across this error on build.

[Issue #309](https://github.com/gatsbyjs/gatsby/issues/309) references this same problem. To fix it, check if window is defined like this:
[code]

Hope this helps!

[2020-06-25 16:16] EliranGooner opened #25304 "'window is not defined' error from build files (used correctly everywhere)"
## Description

I don't use ```window``` anywhere in my code without checking if it's defined first.
In build I constantly get the dreaded 'window is not defined' error from files I'm sure how to tackle. These are files I suspect have to do something with the page build and they consistently throw this error only in build time.
I major change I did today is re-installing the ```package-lock.json``

[2020-06-25 16:26] jlkiri commented on #20699
Should be fixed by #21518. We probably should close this?

[2020-06-25 16:31] dimadotspace commented on #24332
In the meantime what you can also try is changing your Largest Contentful Paint (LCP) from an image to text (if you have the luxury), preloading/prefetching fonts and lazy loading the images. In my case that meant reducing the size of the hero image on mobile which boosted our score back into the upper 90's while the issue is being discussed.

<img width="888" alt="image" src="https://user-images.

[2020-06-25 16:42] pieh commented on #25294
Hi @zwl1619!

Side note first - Gatsby itself also doesn't have authentication system built-in - in practice it will also rely on 3rd party services - the tutorial you linked is using just some hardcoded values, but in reality you would want to use external service for authentication/authorization.

As for using Gatsby and "something else" together - this will not be `redwoodjs` specific because I

[2020-06-25 16:59] ardalis opened #25307 "The Dreaded Field "image" must not have a selection since type "String" has no subfields. Error"
## Summary
I keep getting this error when I try to build locally. Most of the time, at least, my site builds successfully on Netlify's build servers.

Output from `gatsby develop` after clean:

[code]

## Relevant information

My repo is publicly available here:
https://github.com/ardalis/ardalis-com-gatsby

The site is online at https://ardalis.com

### Environment (if relevant)

  System:
    OS

[2020-06-25 17:15] pieh commented on #25298
I was doing some checks here, and there are few problems here:
 a) the error message doesn't have the right stack trace, which makes it impossible to get actual problematic SSR pieces - this is a Gatsby bug/regression
 b) in this specific case it's the `react-slideshow-image` that is not "SSR ready" - you can check this issue - https://github.com/femioladeji/react-slideshow/issues/80 - commenting

[2020-06-25 17:19] scnroy opened #25308 "[gatsby-source-contentful] field resolution for 'entry-hyperlink' can generate large, unused payloads"
## Description

Say I have a bunch of entries of type `Document` in Contentful. Each of these has three fields:
1. title (Short Text)
2. slug (Short Text)
3. body (Rich Text)

Within `body`, we frequently use the `entry-hyperlink` type to link to other `Documents`. Suppose that each of these entries has a `body` containing roughly 1000 words and each contains 10 or more `entry-hyperlinks`.

In my

[2020-06-25 17:22] mbwatson commented on #25077
@LekoArts Thank you so much!

[2020-06-25 17:34] EliranGooner commented on #25298
Tried the workaround suggested in the gatsby docs you sent. Put the snippet in ```gatsby-node``` with the slideshow component  name. Now I get a different error:
[code]

[2020-06-25 17:34] robintom commented on #25290
Hi @tesseralis could you please assign this to me? I have been looking to do some open source contributions.

[2020-06-25 17:56] ardalis commented on #25307
I did try this but it didn't appear to help at all so I removed it:
https://www.gatsbyjs.org/packages/gatsby-remark-normalize-paths/

[2020-06-25 17:59] pieh commented on #25298
Ah, the `null-loader` will mean that import will return `null` - meaning that You do have to make checks before using those components. The #130 error happens because without checking if components are defined it essentially executes something like this (well not even close - just to illustrate what is happening):

[code]

Now - given that the components you use here wraps other content - I would

[2020-06-25 18:00] pieh commented on #25304
This looks like duplicate of https://github.com/gatsbyjs/gatsby/issues/25298, and given that the newer one already have some discussion going, I'll close this one

[2020-06-25 18:00] #25304 closed

[2020-06-25 18:01] rahul-sundaresan opened #25309 "Does the Link API support adding custom styles for the currently active fragment?"
## Summary
I'm trying to create a navbar for my single page website. The navbar will highlight the current section the user is on. I saw the gatsby docs for styling links. While it works for linking to different pages (and highlighting the approriate item on the navbar), the styling part doesn't work when I'm using HTML fragments

## Relevant information
My nav bar is like this:
![image](https://u

[2020-06-25 18:03] probablyup opened #25310 "Smaller core size"
## Summary

At the moment, gatsby relies on gatsby-cli, which relies on gatsby-recipes. This pulls in a metric f*ton of dependencies that most people will never use. Can this be refactored away?

[2020-06-25 18:16] pieh commented on #25307
This is most likely `fmImagesToRelative` from `gatsby-remark-relative-images` problem - it's listed in their FAQ (this is community plugin and is not maintained in this repo) - https://www.gatsbyjs.org/packages/gatsby-remark-relative-images/#im-getting-the-error-field-image-must-not-have-a-selection-since-type-string-has-no-subfields

This is most likely because the plugin I mentioned does seem to

[2020-06-25 18:19] muescha commented on #25290
@robintom since this issue is like an "umbrella" issue: the best is if you take only one small change at a time (for example put one package in code fences). this is more easy to approve a pull request.

post here which change you will do, so others can take an other one.

[2020-06-25 18:28] ehrencrona commented on #23392
@elrumordelaluz I tried running your reproduction repo. `AppPage` does get called even with the prefix when you run `gatsby serve`; the issue is that the client-side router you've built assumes the site is served on the root.

If you just replace tell the router where you serve the site from using `<Router basepath={__PATH_PREFIX__}>` it will work fine in both cases.

`__PATH_PREFIX__` is a global

[2020-06-25 18:31] pieh commented on #25308
Hi @scnroy! You might be interesting in checking on https://github.com/gatsbyjs/gatsby/pull/24905 (and follow links to issues and comments from there). There is currently effort under way where you can specify what to resolve ( just not sure if this operates just on content types or also on rich-text "link" type). In any case you should be able to define small subset of the fields from the type -

[2020-06-25 18:40] pieh commented on #25307
I actually do think this is in fact duplicate of #25095 so I'll close this one as duplicate in favour of already open issue

[2020-06-25 18:40] #25307 closed

[2020-06-25 18:53] amlcodes opened #25312 "directly accessible client only paths"
## Summary
As referenced in a lot of issues (but I don't think documented), Client only paths work well in development and even while using gatsby-serve, but not when accessed directly when served from express. I am serving 'public' to an express server hosted on an ec2. I want to avoid configuring a URL rewrite or redirect through the provider, and want to contain the solution entirely within the

[2020-06-25 18:54] pieh commented on #25309
I don't think this API is suitable, because Link primarly uses just `pathname` and I think in this case you do want to "hook" into scrolling events or intersection observer to know which section is in view (and not necesairly just rely on `hash` part of location).

My solution would be to hook various sections of your page to `IntersectionObserver`, have some react context to keeps track which sec

[2020-06-25 18:57] jakehopking commented on #25293
@pieh Thanks for your thoughts on this. I was hoping not to have to move things to a new folder structure, but so be it.
I've followed your suggestion and all templates are rendering correctly now.

[2020-06-25 18:57] #25293 closed

[2020-06-25 19:06] dalalRohit commented on #23829
How did you solve this? I'm also facing the same issue and it gets stuck for hours if not pressed ctrl+c ;(

[2020-06-25 19:07] pieh commented on #25312
`gatsby serve` is also `express` "app": https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/serve.ts so if you do want to use `express`, but you need it to do more than `gatsby serve`, you could copy the client only paths "router" from that file to your own application.

Please do keep in mind that we generally don't recommend using either `gatsby serve` or custom express a

[2020-06-25 19:26] sbardian opened #25313 "bug: theme template mirroring lossing query data"
## Description

As of 6a82da8b8b3aca106f0f1b14ab11d2d087827df1

Situation:   A theme with a page template including a page query.  If using the theme and mirroring the template, the query `data` is no longer forwarded to the mirror as a prop.  Query appears to be dropped when viewing `gatsby repl`->`components`.

Guessing this might be a miss match from the components store to the new `page.compon

[2020-06-25 19:35] ehrencrona commented on #25188
@stanleyyuenyiu I posted an answer in #23392 . Not sure if you're experiencing the same issue but you might want to check it out.

[2020-06-25 19:39] amlcodes commented on #25312
@pieh thanks for the response! So I'm confused, I should copy what exactly?

[2020-06-25 19:47] LouisBertin opened #25314 "An external Javascript library does not work properly"
## Summary

Hi there,

I'm trying to use GatsbyJS with [Weglot](https://weglot.com/) which is a JavaScript library to fully translate a website with no effort. The only thing to setup is a CNAME record and a piece (3 lines) of JavaScript.
Everything works pretty well except the last step.. the demo server is located at this URL (hosted with Netlify) : https://www.multilingual-gatsby.com/

As you c

[2020-06-25 20:12] ewagstaff commented on #14161
I see this is getting stale, but I would only say that it took several sprints for our team to code around this issue, and it's a bummer to have the framework dictate workflow like that.

[2020-06-25 20:39] jzabala commented on #21602
Hi @alexluong, still working on this one?

[2020-06-25 20:44] alexluong commented on #21602
Hey @jzabala, no I'm not working on this one. Turn out there are other ways to solve my problem.

I still think this is a great addition though. Feel free to take it on!

[2020-06-25 20:46] ProteanCode commented on #24272
I just started to learn gatsby and this was bit confusing error since I got this on a new site made with gatsby cli tool. I installed the 2.23.11

Small recap:
The gatsby develop --https still not work in 2.23.11 (the localhost is invalid domain)
The gatsby develop --host=0.0.0.0 --https still not work in 2.23.11 (the localhost is invalid domain)

I had to manually create the pem files (using mkce

[2020-06-25 20:55] gabrielgiordan commented on #16984
Same here, any workaround? These Lighthouse complaints are rather annoying.

[2020-06-25 21:13] jzabala commented on #21602
Awesome @alexluong. Thanks for letting me know.

[2020-06-25 21:19] tschaub commented on #14161
Also feels "not stale" to me.  But I'm not actively using Gatsby (because of this issue).

[2020-06-25 21:24] pieh commented on #25310
Let's start with saying that there are always opportunities to reduce number of deps (no argue there).

We can't easily detach `gatsby` from `gatsby-cli` tho - every gatsby run use `gatsby-cli`. Not without massive refactor. Is this doable? Sure. Is it worth to prioritize this over other efforts (performance, features, bug fixes)? If you stack rank "effort * impact" and here impact would be "less

[2020-06-25 21:35] pieh commented on #25313
For clarification - shadowed template file doesn't include any query in this example?

If that's the case - then current is behaviour desired (and previous was a bug) - otherwise there would be no option to remove page query when shadowing. So this is case of "It's a feature, not a bug".

However I do understand that this makes it harder to adjust component without changing query - while Gatsby it

[2020-06-25 21:59] sbardian commented on #25313
@pieh this might be for the best.  Looking into this more, I don't see a way to preserve the query before the shadowing takes place.  Since it is being shadowed in `createPages`, the original template page has not been created, and so the page has not had the page query extracted/saved to the store/etc.

That said, I am surprised that I was "shadowing/mirroring" (functionally at least) my template

[2020-06-25 22:13] sbardian commented on #25313
@pieh Sorry, I'm not sure what you are asking here, I have seen examples in the documentation of template files _having_ page queries in them (can dig some up if it's helpful), but I am not sure if _shadowing_ them has been a part of that documentation.

This is something I had going in a theme I was working on awhile back, and just picked it back up and noticed the breaking change (breaking for m

[2020-06-25 22:27] davegariepy commented on #23542
getting `TypeError: promise.finally is not a function` on `gatsby build` using `gatsby-cli@2.12.51`

[2020-06-25 23:01] sbardian commented on #25313
I see your point here.  I guess lets consider this me taking advantage of a bug, and it has been fixed 👍

Thanks for taking the time to address/explain this to me 🥇

[2020-06-25 23:01] #25313 closed

[2020-06-25 23:23] aaronearl commented on #5153
“They are unique because they provide a lot of features that normal strings built with quotes do not, in particular: they offer a great syntax to define multiline strings.” I quote I found; the point is they are cleaner code syntax and very versatile.  When I first started using them it was strange but now it’s the norm.

[2020-06-25 23:58] SnakeSmoke commented on #23694
I had the same problem and my fix was to import https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/ into my gatsby-config.js

[2020-06-26 00:08] #19260 closed

[2020-06-26 00:36] theship commented on #19827
Uninstalling and re-installing `gatsby` (v 2.23.11) worked for me.

[2020-06-26 00:52] tesseralis commented on #20327
@AishaBlake I think this is ready to start? Could you get the repo set up?

[2020-06-26 01:43] MonoJackay opened #25318 "Yarn deleting 'node_modules', but then requires it when I command "gatsby develop""
## Summary
So based on Gatsby's recommendations it seems they want you using yarn as your package manager. Using gatsby-default-starter as my theme of choice for this project, I wanted to add theme-ui to assist with designing and developing my site! So I use "npm i theme-ui gatsby-plugin-theme-ui" but whenever I attempt to use yarn for any plugins such as "gatsby-plugin-web-font-loader" it removes

[2020-06-26 01:46] NotMoni commented on #25222
Hey, @ptrhck Check this out.

[2020-06-26 03:11] ZachHoskins commented on #24137
Now it looks like the issue is resolved. I looked through the PRs since I experienced the issue this morning, but I didn't find anything that specifically dealt with this issue. Here is a screenshot form the GraphQL query I ran this morning, and another that I ran just a few minutes ago after bringing my local repo up to date with the Gatsby one:

![image](https://user-images.githubusercontent.com

[2020-06-26 06:04] vipulcssoftsolutions commented on #13695
I have the same issue, it does not show the Wordpress query in Grpahql interface. I installed the gatsby-source-wordpress and also added my website in config file.

Please help./

[2020-06-26 06:42] LekoArts commented on #25222
This isn't a specific problem to Gatsby or even React. You'll always have this problem when needing to make request with a key you don't want to expose.
You'll need to create a little Node/Express backend where you can send the requests to and which then will make the actual API call with the token and send the data back. Using Google will give you plenty of results, e.g. https://github.com/react-

[2020-06-26 06:52] LekoArts commented on #24848
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-06-26 06:52] #24848 closed

[2020-06-26 06:52] LekoArts commented on #24922
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-06-26 06:52] #24922 closed

[2020-06-26 06:53] LekoArts commented on #24947
Please create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

[reproduction]: https://gatsby.dev/reproduction

[2020-06-26 06:53] LekoArts commented on #25021
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-06-26 06:53] #25021 closed

[2020-06-26 07:07] wardpeet commented on #25297
@Mrtenz Thanks for opening this issue. Just to clarify, is this bigint problem occurring in node_modules or your src code? The reason I ask is that we currently do not allow to edit node_modules babel-preset but I can give you a workaround for that.

If it's user code, creating your own .babelrc file should work instead of calling `onCreateBabelConfig`

[2020-06-26 07:26] wardpeet commented on #24332
Sure I don't know which site this was, I tried to find URLs in this thread but that was hard. LCP doesn't take in account CSS animations (transition, animation props in css). However, if you have content that uses setTimeout/setInterval that switches react component, it will take it into account. The latter approach will give you really bad CLS scores.

So if you want to animate your hero text/ima

[2020-06-26 07:35] Chizzah commented on #24332
Hi there,

I tried to figure out why my project is scoring so low on Google Page Speed Insights, Google Lighthouse audit and more.

Short of starting from scratch I'm not sure what the problem is. I used this starter/theme to get started: https://github.com/alexislepresle/gatsby-shopify-theme

I mostly and am in the process of changibg css stuff like moving from bulma to chakra-ui.

This is my rep

[2020-06-26 08:05] suraneti commented on #17506
Still an issue

[code]

[2020-06-26 08:22] Mrtenz commented on #25297
@wardpeet It initially happend in a node_modules dependency, but I am able to reproduce it in my own code as well. I will likely only use it in the dependency though. The compiled code in the dependency looks like
[code]
so that shouldn't be the issue. I'd like to hear about the workaround.

[2020-06-26 09:10] bolonio commented on #14477
https://github.com/angeloocana/gatsby-plugin-i18n/pull/93

[2020-06-26 09:57] LekoArts commented on #23935
Thank you for opening this!

What you're asking for isn't possible at the moment. You could import the video in the MDX file with `import Video from "./video.mp4"` and pass that `Video` to the component.
Alternatively you'll need to place this file in the `static` folder and reference it this way.

We're marking this issue as answered and closing it for now but please feel free to comment here if

[2020-06-26 09:57] #23935 closed

[2020-06-26 10:02] LekoArts commented on #24163
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-26 10:06] ascorbic commented on #23791
Hi @maxkoretskyi. No, there's not currently a way to access that data at runtime. It's something people have requested, but couldn't be implemented without running a live GraphQL server for each site.

I'm going to close this now. If you have any more questions, let me know.

[2020-06-26 10:06] #23791 closed

[2020-06-26 10:06] dalalRohit commented on #3318
Thank you for this Solution @kripod. But this doesn't work in production. With gatsby build, it says "window" is not available during server-side rendering."

[2020-06-26 10:09] LekoArts commented on #24760
Thank you for opening this!

With MDX and `gatsby-plugin-mdx` you can simply import the file like `import MyFile from "./index.mdx"` to your component and use it like `<MyFile />`. Here would be an example of this: https://github.com/LekoArts/gatsby-themes/blob/f25dfb6105669f62468abc63ceb73c2fbbb73065/themes/gatsby-theme-cara/src/components/about.tsx#L9

We're marking this issue as answered and cl

[2020-06-26 10:09] #24760 closed

[2020-06-26 10:13] LekoArts commented on #24859
Thank you for opening this!

The PR https://github.com/gatsbyjs/gatsby/pull/25158 will solve some of those warnings, updates we want to do to your dependencies in the near future will solve the others. For now you don't need to do anything as they are just warnings. The CLI and Gatsby will work as usual :)
With having packages that have dependencies and those dependencies have dependencies etc. th

[2020-06-26 10:13] #24859 closed

[2020-06-26 10:20] yinyimingall commented on #20389
I meet the same problem. But I have been yarn it successful.
I will be sharing my experience blow.
I install libpng on my mac. then yarn, It still errors.
So I view [https://pngquant.org/install.html](https://pngquant.org/install.html) and try to install pngquant. But it makes errors.
![屏幕快照 2020-06-26 下午6 15 25](https://user-images.githubusercontent.com/20675416/85846864-0f422200-b7d9-11ea-913b-e

[2020-06-26 10:21] LekoArts commented on #24787
Thank you for opening this!

This isn't something that Gatsby can fix for you or something that is specific to Gatsby. If you reference this isuse https://github.com/gatsbyjs/gatsby/issues/24332 and this talk about LCP https://www.youtube.com/watch?v=diAc65p15ag you'll see that the culprit is your animation itself. These information will give you a better understanding how that score comes to play

[2020-06-26 10:21] #24787 closed

[2020-06-26 10:23] LekoArts commented on #24866
Please provide a [minimal reproduction][reproduction] for this issue. Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2020-06-26 10:23] flogy commented on #4560
Thank you @bitttttten ! I believe you this was quite some work, but nothing beats native apps 😉

[2020-06-26 10:26] LekoArts commented on #24855
Can you please explain the use case/motivation further here?

Your Gatsby build wouldn't let that pass as at the GraphQL stage Gatsby would complain about missing data. So when would `fluid`/`fixed` be `null`?

[2020-06-26 10:28] LekoArts commented on #24926
Is there a specific reason that you chose to use `dart-sass` instead of `node-sass`? Can you please try the latter?

[2020-06-26 10:58] FocalChord commented on #25290
@muescha Hey I will be working on this issue. In particular this part:

- put filenames like .htaccess in code blocks

Should I open a PR for this particular part and then reference this issue?

[2020-06-26 10:58] pieh commented on #25312
https://github.com/gatsbyjs/gatsby/blob/1cf0c277eb1dd94472161d81a5712c64df9cbd88/packages/gatsby/src/commands/serve.ts#L110-L111 are the "main lines" - you would have to grab `readMatchPaths`, `matchPathRouter` functions aswell

[2020-06-26 11:29] pieh commented on #529
For anyone reading this currently - please don't use this solution - it leads to problems like https://github.com/gatsbyjs/gatsby/issues/25289

If you absolutely must clear `public` - you also need to clear `.cache` directory as well (we have now `gatsby clean` command for doing that) - and you need to do this before running `gatsby build`, because `onPreBuild` runs too late (some files are alread

[2020-06-26 11:32] #25289 closed

[2020-06-26 11:34] gabdorf commented on #25289
Thanks to @pieh for helping out. This was not a bug but me relying on an old hack cleaning out the public folder on build (see link above)

[2020-06-26 11:36] liam-brooks commented on #25318
just stick you yarn as a default package manager

It's not a good practice to mix package managers

[2020-06-26 11:44] pieh commented on #25318
This.

It really doesn't matter much if you use npm or yarn - you just need to use one of those consistently. `gatsby new` will install dependencies and on very first run it will ask for preferred package manager - unfortunately we don't have nice way to switch selection - but you can manually edit config file in `<homedir>/.config/gatsby/config.json` find `cli` -> `packageManager` and use `npm` o

[2020-06-26 11:50] pieh commented on #25314
I can't help in regards to Weglot because I'm not familiar with it - but found this random "review" - https://www.trustpilot.com/users/5ee1071363833f2cd9084dac which seems to mean that it's doable, but integration might be more involved then just calling `Weglot.initialize` with your api key

Did you try to reach out to Weglot support as well? I think that if this is client-only solution, then set

[2020-06-26 12:04] #24303 closed

[2020-06-26 12:04] muescha commented on #25290
@FocalChord great! - i updated the issue text

[2020-06-26 12:08] FocalChord commented on #25290
@muescha So for each other sub-issue do I make a seperate branch and then seperate PR?

Also when does the PR get merged in?

[2020-06-26 12:11] muescha commented on #25290
Hint: searching for text which is not already in code fences in files with RegEx (and File Mask `*.md*`)
[code]

BTW: in WebStorm it shows you a section "Usage in comments" if the text is already in code blocks :)

[2020-06-26 12:14] muescha commented on #25290
yes - new branch and new PR

it takes some time to get merged, just be patient. the Gatsby team has to approve each PR and with smaller steps this is more easy to check :)

[2020-06-26 12:15] FocalChord commented on #25290
@muescha Awesome! Thanks for this :) I'll work on the 2nd, 3rd, 4th bulletpoints soon.

[2020-06-26 12:24] NickBarreto commented on #25077
I ran into exactly the same issue, and while @LekoArts' answer above provides the solution, I just wanted to expand on it a little for reference if others run into this. This was working fine for me until I updated my Gastby install, but I was on a pretty older version so I'm not sure when @link stopped working for arrays.

Partially because I'm not using any type inference, and because I've got a

[2020-06-26 12:33] iKeeko commented on #25217
Hi @madalynrose sorry, a little late.

here is the minimal repo with the exact packages and configs I used where this error happening with gatsby-source-shopify

gatsby clipboard is in it too as a txt file.

[https://github.com/iKeeko/gatsby-repro](url)

Thank you

[2020-06-26 12:52] AlexanderProd opened #25324 "Cannot find module 'gatsby' or its corresponding type declarations in VSCode"
###  Description

I want to switch an existing [Gatsby project](https://github.com/AlexanderProd/gatsby-shopify-starter) to TypeScript, I followed the official Gatsby TypeScript example to do so, but VSCode always complains about the imports from `gatsby`.

```Cannot find module 'gatsby' or its corresponding type declarations.ts(2307)```

I'm using the latest version of Gatsby and tried reinstalli

[2020-06-26 13:03] onyebuchi702 commented on #20705
gatsby clean worked for me too

[2020-06-26 13:12] HashemKhalifa commented on #23792
@blainekasten you saved my day, thanks!

[2020-06-26 13:32] ptrhck commented on #25222
@NotMoni
I absolutely understand, thanks for your detailed answer! In this case, however, there is some backend server involved, e.g. gatsby develop server.

@LekoArts
That is excatcly what I was looking for, many thanks! Do you know of any example Gatsby/Node repo that has an example implementation?

[2020-06-26 13:33] circlingthesun commented on #24748
While this kinda works, it results in a flash of the wrong image until the JS kicks in. If the paddingBottom was determined via media queries instead that would eliminate the issue.

[2020-06-26 13:36] schwartzmj commented on #24855
My Shopify product didn’t have an image. It compiled and crashed the app in production.

[2020-06-26 13:43] SimonScholz commented on #16053
Same here!

[2020-06-26 13:49] vsolanogo opened #25327 "ReferenceError: self is not defined"
it's probably because of some updated npm packages, but i cant detect which one

## Description

success Rewriting compilation hashes - 0.007s
failed Building static HTML for pages - 16.059s

 ERROR #95313

Building static HTML failed

See our docs page for more info on this error: https://gatsby.dev/debug-html

  WebpackError: ReferenceError: self is not defined

  - build-html.js:107 doBuildPage

[2020-06-26 14:04] filipowm opened #25328 "[gatsby-remark-images]: Blur does not disappear after image is loaded and image remains invisible"
## Description

I build documentation site using `gatsby-plugin-mdx` and `gatsby-remark-images`. When I include image to my page, blur is visible and it does not disappear after image is loaded. Also loaded image does not appear.

I have been playing around with plenty of different settings, but none of them worked. I also walked through #15486 and #17017, but none of solutions there solved my iss

[2020-06-26 14:29] karlhorky opened #25330 "Add timeout + abort to Link prefetching to prevent unclickable Links"
## Description

If the background prefetch request triggered by hovering `<Link />` elements does not complete, subsequent clicks on the link appear to be broken.

Eg. Hovering over a link on a page that has not yet been prefetched (or is stale) leads to a prefetch requests to `/page-data/app-data.json` (due to [the call to `loader.loadPage()` in `cache-dir/navigation.js` -> `navigate()`](https://

[2020-06-26 14:30] karlhorky commented on #4779
Ok, I've created an issue for my issue. Maybe it's related:

https://github.com/gatsbyjs/gatsby/issues/25330

[2020-06-26 14:36] agazso commented on #17434
I ran into the same problem and I solved it on the server side by creating the digest based on the `localize` icon.

In the browser I ended up with the same problem as @dkthehuman, namely that the digest is missing from the information that is available in the runtime. Or more precisely only the Main app digest is there, but it's missing for all the localized pages. Here I am talking about an obje

[2020-06-26 14:44] amlcodes commented on #25312
Oh perfect! cool! I see what you were having me do - basically follow how gatsby serve works. Thanks!

[2020-06-26 14:47] PieterT2000 commented on #18241
Thanks for the hint @mujeex! I had exactly the same issue.

[2020-06-26 14:49] mujeex commented on #18241
I'm glad it helped you. Cheers!

[2020-06-26 15:05] amlcodes commented on #25312
What's the 'program' in the serve props and being passed to readMatchPaths? I can't find where that is being passed and how to recreate the object

[2020-06-26 15:07] brootle commented on #21975
having a problem with pathPrefix when deploying to Github pages, the pathPrefix is not added to images that are used from static folder, I checked generated urls that are on gh-pages, the actual files are there... when importing images into same component via **import** everything is fine, pathPrefix is added

[2020-06-26 15:16] dkthehuman commented on #17434
Hey @agazso, I wasn't able to figure out a way to support cache busting so I ended up building a custom plugin to handle this use case without cache busting support: https://github.com/dkthehuman/gatsby-plugin-manifest-multiple

I got a bit carried away and ended up refactoring all of `gatsby-plugin-manifest` to use a more modular structure, but I wrote this back in September and haven't kept it i

[2020-06-26 15:49] agazso commented on #17434
@dkthehuman Nice!

I will take a look at your plugin because it seems that it supports my use-case (having sub-sites with different icon instead of localized pages) better and the code also looks cleaner at first glance. Maybe combined that with my approach for cache busting we can have the best of both.

[2020-06-26 15:53] vietvudanh commented on #17719
I have updated all packages to newest version but still have this problem. It's frustrating when it happened suddenly.

[code]

[2020-06-26 15:58] brootle commented on #8479
run into same issue with urls to images located in static folder in the root of the project after deploying to gh-pages

[2020-06-26 16:00] cowglow opened #25331 "Disable oauth2/token from WPCOM"
## Summary
I'm using the plugin with a WPCOM site and I always see the error:
[code]
This feature request aims at implementing a way to remove the query for an oauth token

### Basic example

[code]
### Motivation

This should remove unnecessary error messages..

[2020-06-26 16:08] scnroy commented on #25308
Oh, that's great! Happy to close this out if the fix is captured in that PR. I'll let @axe312ger confirm one way or another. V excited about those changes.

[2020-06-26 16:46] kapil-raj commented on #25290
Can I work on "Standardize names of libraries and brands"?

[2020-06-26 17:01] mjsarfatti commented on #23755
I think 99% of the times the interval would be the same on all pages. Is it really not possible to place the config in `gatsby-config.js`?

I believe having this "baked in" gatsby's navigation can avoid many problems to users who would have to reinvent the implementation every time.

[2020-06-26 17:42] LouisBertin commented on #25314
Thank you for the answer.

On this review, the person talks about "Javascript integration" which involves to click on a language button on each page to see the translation. That's why I choose the CDN integration because everything is automated and it creates the french version of my website on a subdomain : https://fr.multilingual-gatsby.com/

If you check the source code : view-source:https://fr

[2020-06-26 19:24] zohaibulhassan opened #25335 "my surge is not deploying"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

### Expected result

What should happ

[2020-06-26 19:28] JustFly1984 commented on #24272
@ProteanCode you need to pin devcert to 1.1.0 in package.json

[2020-06-26 19:42] stefanprobst opened #25336 "@link graphql field extension regression in gatsby@2.23"
## Description

Queries on fields with the `link` field extension broke with gatsby@2.23.

### Steps to reproduce

[code]

### Expected result

Working query

### Actual result

Query failure: "Cannot return null for non-nullable field Tag.posts."

### Environment

[code]

[2020-06-26 20:01] stefanprobst commented on #25336
also: in #25109 a section was added to the schema customization docs, explaining that the `by` arg to `@link` does not support array values. i think this is not correct, as in the above repro case the following worked with gatsby@2.22, which is pretty much the same example as the one in the docs:
[code]

[2020-06-26 20:13] philsinatra commented on #21975
Same problem for me. All assets in the `static` directory do not include the `pathPrefix` in the production build.

[code]

Browser console reports:

    [Error] Failed to load resource: the server responded with a status of 404 (Not Found) (favicon.ico, line 0)
    https://mydomain/data/myfile.json

The rest of the site is running properly from `https://mydomain/subfoler/another-subfolder/`

[2020-06-26 20:15] stefanprobst commented on #25336
i have added the [`pr-25109`](https://github.com/stefanprobst/gatsby-issue-link-extension-regression/tree/pr-25109) branch in the above repo that shows the example from #25109 working with gatsby@2.22

[2020-06-26 20:44] stefanprobst commented on #25077
related: #25336

[2020-06-26 20:50] kelvindecosta commented on #24926
I don't remember exactly why I chose `dart-sass`.

After switching to the `node-sass` implementation, rebuilding takes relatively lesser time.

Changes made to `gatsby-config.js`

[code]

Example log during rebuilding after a similar change:

[code]

I don't think I mentioned this before but my `styles` directory has a size of `57K` (without Tailwind).
I'm not sure if it matters much since I am on

[2020-06-26 21:37] kelvindecosta commented on #24926
I realized that Gatsby uses [`autoprefixer`](https://www.gatsbyjs.org/docs/browser-support/) already, so I removed it from my `postCssPlugins`. This reduced rebuild time by a lot.

Funnily enough, `sass` (`dart-sass`), which takes abut 5 seconds, performs better than `node-sass` (which takes 7).

[2020-06-27 00:07] #22794 closed

[2020-06-27 00:08] anim8rDev opened #25342 "Uncaught (in promise) Error: page resources for / not found. Not rendering React"
## Description

I'm trying to use Gatsby with react-spring and react-three-fiber.  I'm able to successfully get my example code to work while in develop mode.  However, after a build and serving that page, I get an in-browser console error.

**Uncaught (in promise) Error: page resources for / not found. Not rendering React
       at production-app.js:128 **

There are no build errors.  The problem

[2020-06-27 00:49] tophat8855 commented on #19846
I was having the same issue, but realized I had another process using port 8000 and when I switched ports for develop, it worked.

[2020-06-27 00:57] nghiepit commented on #18858
This is because Cache-Control HTTP header, The `image` should be cached `Cache-Control: public`
Remove `no-store`, `no-cache`, or `must-revalidate` on Cache-Control HTTP header.

[2020-06-27 02:13] adisher commented on #24854
It was working fine until I pushed my code to Github and deployed it on Netlify. Ctrl+C is also not working to disconnect my localhost.

[2020-06-27 02:38] Grsmto opened #25345 "[gatsby-plugin-preact] runtime errors don't show up"
## Description

When using `gatsby-plugin-preact` on a project that has a runtime error, component doesn't render and error doesn't show up.

### Steps to reproduce
1. Clone repository https://github.com/Grsmto/gatsby-starter-plugin-preact-bug
2. `yarn` then `yarn start`

### Expected result

User should see an error like `ReferenceError: test is not defined`, as seen in `pages/index.js` file line

[2020-06-27 02:45] insuusvenerati commented on #25327
Got a way to clone your project and reproduce the error? Unfortunately there really is no way to help with an error like that without at least the rekey source code.

[2020-06-27 02:57] vsolanogo commented on #25327
it's pretty big private project

[2020-06-27 03:09] insuusvenerati commented on #25327
I’m afraid you won’t find much help with this type of error without a way to reproduce it or at least specific information about it.

Good luck

[2020-06-27 03:21] insuusvenerati commented on #25324
This issue disappeared for me when setting:
[code]

[2020-06-27 03:23] tesseralis opened #25346 "maintenance(www): Switch layer-icon to pure SVGs"
## Description

Since #25282, we can now import SVGs directly as React components. We have a file [`layer-icon.js`](https://github.com/gatsbyjs/gatsby/blob/master/www/src/assets/icons/layer-icon.js) that inlines icons that we use in the `LayerModel` component. Convert these into raw SVG files that can be imported normally.

## Motivation

Raw SVGs can be optimized with SVGO.

[2020-06-27 03:35] abhishekjakhar commented on #25346
I have started working on the remaining components

[2020-06-27 04:16] balibebas commented on #20177
@gtsop Thanks for the mocking pattern. I haven't tried it but it gives me ideas on how to structure fixtures for individual tests. Regarding the push-back from Blaine, try this and let me know how it works for your use case [Mock Gatsby's useStaticQuery with Jest](https://florian.ec/blog/mock-gatsby-usestaticquery-jest/). I'm also interested to know how things might have changed for your set-up si

[2020-06-27 04:23] balibebas commented on #20271
@funkfinger If you want a code review, try codereview.stackexchange.com. I saw this issue was marked as `not stale` and I, like others, am struggling a bit to get `useStaticQuery` mocked properly in my tests. Without more guidance I expect more people will just go with what works even if it's not in the docs (hence the usefulness of the Florian post using `spyOn`). Regarding the starters, the defa

[2020-06-27 04:24] balibebas commented on #20271
I saw this issue was marked as `not stale` and I, like others, am struggling a bit to get `useStaticQuery` mocked properly in my tests. Without more guidance I expect more people will just go with what works even if it's not in the docs (hence the usefulness of the Florian post using `spyOn`). Regarding the starters, the default starter should have unit tests incorporated in it without a doubt and

[2020-06-27 04:24] balibebas commented on #20271
I saw this issue was marked as `not stale` and I, like others, am struggling a bit to get `useStaticQuery` mocked properly in my tests. Without additional guidance I expect more people will just go with what works even if it's not in the docs (hence the usefulness of the Florian post using `spyOn`). Regarding the starters, the default starter should have unit tests incorporated in it without a dou

[2020-06-27 04:25] balibebas commented on #20271
I saw this issue was marked as `not stale` and I, like others, am struggling a bit to get `useStaticQuery` mocked properly in my tests. Without additional guidance I expect more people will just go with what works even if it's not in the docs (hence the usefulness of [the Florian post using `spyOn`](https://florian.ec/blog/mock-gatsby-usestaticquery-jest) linked in OP).

Regarding the starters, th

[2020-06-27 04:26] balibebas commented on #20271
I saw this issue was marked as `not stale` and I, like others, am struggling a bit to get `useStaticQuery` mocked properly in my tests. Without additional guidance I expect more people will just go with what works even if it's not in the docs -- hence the usefulness of [the Florian post using `spyOn`](https://florian.ec/blog/mock-gatsby-usestaticquery-jest) linked in OP.

Regarding the starters, t

[2020-06-27 04:28] balibebas commented on #20271
I saw this issue was marked as `not stale` and I, like others, am struggling a bit to get `useStaticQuery` mocked properly in my tests. Without additional guidance I expect more people will just go with what works even if it's not in the docs -- hence the usefulness of [the Florian post using `spyOn`](https://florian.ec/blog/mock-gatsby-usestaticquery-jest) linked in OP.

Regarding the starters, I

[2020-06-27 04:48] balibebas commented on #20271
Those landing here are likely struggling to test `useStaticQuery` so please see [the blog post](https://florian.ec/blog/mock-gatsby-usestaticquery-jest) linked by OP and check out the following GH search for ideas: https://github.com/search?q=jest.spyOn%28Gatsby%2C+%22useStaticQuery%22%29%3B&type=Code

[2020-06-27 06:16] AlexanderProd commented on #25324
@insuusvenerati Thanks, fixed it for me as well! Still wondering though why the Gatsby TypeScript [example](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-typescript) uses `esnext` as target and module.

[2020-06-27 06:48] balibebas commented on #20177
This looks useful for those who want to create multiple components to test or start to realize mocking hooks can lead to brittle tests and the [bad test death spiral](https://agileinaflash.blogspot.com/2009/09/stopping-bad-test-death-spiral.html):

https://www.npmjs.com/package/react-hooks-compose

In a nutshell:

[code]

[2020-06-27 06:56] balibebas commented on #20271
@robinmetral I'm not so sure about that Mocking example you linked. The author is setting up spies and doesn't provide a complete example. Searching GH I already see 109 instances of that pattern and many seem to be doing it differently. On top of that I don't see the author explaining spies/mocks may need to be reset in a teardown of some sort such as `afterEach`. I feel at a minimum the takeaway

[2020-06-27 07:13] balibebas commented on #20271
@robinmetral I'm not so sure about that Mocking example you linked. The author is setting up spies and doesn't provide a complete example. Searching GH I already see 109 instances of that pattern and many seem to be doing it differently. On top of that I don't see the author explaining spies/mocks may need to be reset in a teardown of some sort such as `afterEach`.

I feel at a minimum the takeawa

[2020-06-27 07:14] abhisheksaini333 commented on #19846
Hi, I am new to gatsby and just started today. I ran `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world` and then I ran `gatsby develop`. Now it is stuck at `success Re-building development bundle - 0.051s`.
Can someone help me out.
I tried changing the port using `--port` but it still the same and the browser is stuck

[2020-06-27 07:14] balibebas commented on #20271
@robinmetral I'm not so sure about that Mocking example you linked. The author is setting up spies and doesn't provide a complete example. Searching GH I already see 109 instances of that pattern and many seem to be doing it differently. On top of that I don't see the author explaining spies/mocks may need to be reset in a teardown of some sort such as `afterEach`.

I feel at a minimum the takeawa

[2020-06-27 10:53] muescha commented on #23929
make it sense to move it now or wait until: #25290  `enhancement (docs): Improvements to retext-spell`?

[2020-06-27 10:57] brootle commented on #21975
@philsinatra the solution would be to check if you are in production or development environment and add pathPrefix to those assets that are in static folder if you are not in development, here is pretty nice code to solve that Gatsby bug https://github.com/gatsbyjs/gatsby/issues/8479#issuecomment-576067799

[2020-06-27 12:28] meyian commented on #25290
Hello @muescha and @FocalChord, I'm new here and I'd like to help. Since the list is being tackled one bullet point at a time, I was thinking I could start on bullet point #5.

If I understand the task correctly, there are two parts to this:

- Delete "with-layout2" and other similar lines from `dictionary.txt`
- Go through the docs and give better alt text for those images

Do I have the right id

[2020-06-27 12:30] tesseralis commented on #25290
@meyian Yup! We'd want to add better alt text to the images in the tutorial.

[2020-06-27 12:58] MANTENN commented on #22763
I tried using unions then found out unions do not support arguments...
[code]

What you can do is use two queries with an alias and concatenate them on the results page:

[code]

[2020-06-27 13:01] muescha commented on #25290
i would suggest (for expample for type 1) a PR should only remove one line per dictionary so PR are small scoped and approved fast.

[2020-06-27 13:15] MANTENN commented on #22763
I created a repo with a rough idea of how the plugin will work right here: https://github.com/MANTENN/gatsby-plugin-logic-filters/issues/1

[2020-06-27 14:33] muescha commented on #25290
somehow it not catches all places?

i run the lint for #25355 but in not catches for the NPM in:
https://github.com/gatsbyjs/gatsby/blob/17ca4854d12228d93257f88ab66f2642cf5f01b0/docs/blog/2018-05-24-launching-new-gatsby-company/index.md#L14
https://github.com/gatsbyjs/gatsby/blob/17ca4854d12228d93257f88ab66f2642cf5f01b0/docs/blog/2018-05-24-launching-new-gatsby-company/index.md#L40

but this get c

[2020-06-27 15:09] endasil commented on #22157
Why is this closed when the bug is not fixed? Installed gatsby-cli today  gatsby-cli@2.12.51
\AppData\Roaming\npm\node_modules\gatsby-cli\lib\init-starter.js:117
  } catch {
          ^

SyntaxError: Unexpected token {
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:617:28)
    at Object.Module._extensions..js (module.js:664:10)

[2020-06-27 15:11] philsinatra commented on #21975
I was able to use a Gatsby function `withPrefix` to solve this without having to incorporate the production/development check.

[code]

Had to wrap each reference to a static asset in this function call. For example:

[code]

This solved the issue, assets load properly with the correct paths in both development and production mode.

[2020-06-27 15:26] ehrencrona commented on #25047
I took a brief look at this. Per se I agree that `/g` should be added in the replace, but on the other hand I'm kind of wondering about why the double escaping replacement is happening at all. If I remove it completely all unit tests still pass.

(the `_.last`, on the other hand, is required for the flags to be passed)

[2020-06-27 17:05] machineghost commented on #5718
@mxmzb That link is a 404.

Also https://markoskon.com/modals-in-gatsby/ makes it seem like the Gatsbygram approach relies on outdated behavior.  It outlines the (very complex and hacky) steps that are (evidently) needed to get page-based modals working in Gatsby.

[2020-06-27 17:31] cakasuma commented on #5888
thanks it works for me, but is there any workaround to get it pretty-printed, or customize sitemap styling

[2020-06-27 18:57] NotMoni commented on #25222
Try this: https://www.gatsbyjs.org/packages/gatsby-source-apiserver/

[2020-06-27 18:57] #25222 closed

[2020-06-27 19:39] dandv commented on #22157
Because this repo has a policy (and bots to enforce it) to automatically close issues without activity (30 days between comments), even if the lack of activity is due to no solution being found.

At the same time, issues with [pointless](https://github.com/gatsbyjs/gatsby/issues/11406#issuecomment-630212834) activity (e.g. "Thanks") stay open if they are active.

[2020-06-27 19:58] andrezimpel commented on #24748
So you would actually have multiple placeholders?

[2020-06-27 20:03] Escavalier commented on #25335
I do not get the bug here?

[2020-06-27 20:34] cakasuma commented on #5888
@asainov maybe this could be of help, this is my working solution, tho its still not pretty printed
[code]

[2020-06-27 20:44] hoffmanilya commented on #22157
@endasil - Just ran into the same thing and upgrading NodeJS seems to have fixed the issue. I was running 8.16 and upgraded to stable (14.4).

[2020-06-27 21:19] RonaldTshawe commented on #23829
Yep pretty much does the same on my side...waited for hours and still stuck

success open and validate gatsby-configs - 0.041s
success load plugins - 1.051s
success onPreInit - 0.026s
success initialize cache - 0.028s
success copy gatsby files - 0.138s
success onPreBootstrap - 0.018s
success createSchemaCustomization - 0.007s
 -> wordpress__POST fetched : 55508
 -> wordpress__PAGE fetched : 14
 ->

[2020-06-27 22:34] danielmgzzg opened #25359 "Support for App + Web property Google Analytics Measurement ID in gatsby-plugin-google-tagmanager"
## Summary

I'm not sure if I'm setting this up correctly but I know my gatsby-plugin-google-tagmanager has a problem when I load the measurement id as in the picture below as a tag, it's not returning data from the production build even with the same gatsby-route-change trigger in the tag configuration.

I'm not sure if there is support yet, since this is still a beta (see links below for referen

[2020-06-27 22:37] Dsingh-wp commented on #10698
Hello There,

How I can pass this `pageContext ` to class component

[2020-06-27 22:59] styxlab opened #25360 "[gatsby-plugin-offline] causing "A preload <link> was found... but was not used by the browser""
# Description

According to the Lighthouse report (version 6.1.0), `gatsby-plugin-offline` inhibits the browser to properly use `preload links`.

### Steps to reproduce
[code]
![image](https://user-images.githubusercontent.com/19638263/85933696-6380fb00-b8da-11ea-9716-e3b7a57550bc.png)

### Adding `crossorigin` attribute does not help

I tried to do the obvious and installed the plugin `gatsby-plu

[2020-06-27 23:59] polarathene commented on #24748
@andrezimpel if you are using art-direction which is what triggers the issue, you should already have multiple placeholder images. It's just that the `padding-bottom` style which controls the aspect ratio needs to correctly match.

My PR resolves that once JS is available, prior requires something at SSR, which has a solution that we can use(style tags out of the head element), but is against html

[2020-06-28 00:07] #23468 closed

[2020-06-28 00:08] #17422 closed

[2020-06-28 03:36] MonoJackay commented on #25318
Certainly not good practice at all.
I am just trying to find the best method to using yarn since Gatsby is using it at it's core, plus I will be using one of the Starter Themes which will require yarn. Yet in the Documentation tutorial that is provided by Gatsby, it recommends npm (even when you look into yarn). I know it doesn't matter which one but it a real conflict when you are trying to use y

[2020-06-28 03:39] MonoJackay commented on #25318
I mentioned to liam-brooks about the documentation but I am still confused as much as before. It doesn't allow me to go further into the project when I want to use `gatsby develop` without having "node_modules" installed. Even when using Yarn 2

[2020-06-28 03:40] zohaibulhassan commented on #25335
I am creating the dynamic application using surge and git,if update a code than  push the code to git its remotely change at the surge,but my surge is not deploying on my code

[2020-06-28 03:50] MonoJackay commented on #25318
And I would change this manually of course, but it doesn't even install .config folder for me. I am surely not doing this correctly? But I am trying incredibly hard to follow all the steps that Gatsby have provided within their documentation. So for someone brand new to this, it is hard to follow what is being done wrong.

[2020-06-28 05:17] MonoJackay commented on #25318
And another thing I will add to this is it doesn't seem to matter if I use yarn or NPM.
The steps I took to install:
1. Use command `npm install -g gatsby-cli` (into the folder that I will be using for my website). Works as expected.
2. Use command `gatsby new . https://github.com/gatsbyjs/gatsby-starter-default`. Works fine but doesn't install node_modules, not sure if that's the issue.
3. Use `g

[2020-06-28 05:29] MonoJackay commented on #25318
Hey guys! Downgrading to 1.22.4 has made thing run fine! I didn't specify I was testing this out on Yarn 2 and I apologise for that as it seems the assumption was I was using Yarn 1. Sorry for the confusion, next time I will make sure to have all relevant information at my hands so make things more understanding when I seek help and assistance! Thank you!

[2020-06-28 06:21] lifeeric commented on #16527
@matowang Thanks that worked for me!

[2020-06-28 07:53] JustFly1984 commented on #18866
@wardpeet @pieh is there any progress on this issue?

[2020-06-28 09:39] zohaibulhassan opened #25364 "workflow error"
https://github.com/zohaibulhassan/class4

[2020-06-28 09:59] brootle commented on #21975
Thank you @philsinatra! This is the best solution, I just checked Gatsby docs and found location where this function is mentioned! If guys from Gatsby team are reading this, it would be great if they moved info regarding withPrefix function to documentation section that describe deployment.

[2020-06-28 11:24] duelingbanjos commented on #14161
still no solution - the need for this is definitely still present.

[2020-06-28 11:32] AlexanderProd opened #25365 "gatsby-source-shopify uses different types as shopify-buy-sdk"
## Summary

I'm trying to use `gatsby-source-shopify` in a project with TypeScript. But I've noticed that `gatsby-source-shopify` uses different types than the type declarations for the official `shopify-buy` packages. This makes using both packages (which you need to) in a TypeScript project impossible to do right.

## Relevant information

This is how the Product type which gets queried, looks o

[2020-06-28 11:33] #25324 closed

[2020-06-28 11:47] akrishna0 commented on #11406
Error: ENOSPC: System limit for number of file watchers reached,

I am having this issue

[2020-06-28 11:49] FormidablePencil opened #25366 "Console logging doesn't seem to work for me."
The gatsby environment runs and displays in the browser what it should display but console logging from anywhere in the code doesn't print in the running terminal. Idk if it's how gatsby is created internally that doesn't allow console logging or if there's something I'm missing. Before anyone jumps to conclusion and thinks I've some nooby programmer (which I am) that can't console.log('hello worl

[2020-06-28 12:26] herecydev commented on #25366
Would be helpful if you could make a minimal reproduction so it's obvious what you're trying: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

[2020-06-28 13:21] JustFly1984 commented on #23004
Not stale! @wardpeet what is the status on the issue?

[2020-06-28 13:38] styxlab commented on #24332
Thanks for this thread as a discussion on achieving good lighthouse scores is needed.  Superb scores have become more difficult with v6, mostly due to the new LCP metric. My site (https://www.jamify.org) dropped from ~100 to ~70 with Lighthouse v6.

In order to bring it back to 100 on desktop, I had to

- remove a background image that was not needed (as it was wrongly chosen as the LCP)
- optimiz

[2020-06-28 13:44] collegewap commented on #5900
It started happening to me when PWA and offline caching is enabled. The page simply keeps reloading indefinitely.  I had to click Ctrl+Shft+R every time to see the changes. After clearing the Application Storage in Chrome dev tools, it started working.

[2020-06-28 13:47] ehrencrona opened #25368 "`npm run watch` broken on Gatsby master: /^(src$/: Unterminated group"
# Description

Running `yarn run watch` in the Gatsby repo fails with

[code]

The cause seems to be the following change in `microbundle` 0.12.2: https://github.com/developit/microbundle/blame/master/src/index.js#L518

`gatsby-design-tokens` was updated to this version a couple of days ago:
https://github.com/gatsbyjs/gatsby/blame/master/packages/gatsby-design-tokens/package.json#L34

### Steps t

[2020-06-28 15:10] ehrencrona opened #25370 "Gatsby image crashes with unhelpful message if not passed any parameters"
## Description

Including a Gatsby image on a page without any parameters, like so `<Img />`, crashes the page at runtime with the error message `TypeError: Cannot read property '0' of undefined`.

I came across this in a [Stackoverflow question](https://stackoverflow.com/questions/62616962/netlify-is-displaying-the-html-version-of-my-gatsby-website/62622605#62622605)

### Steps to reproduce

Crea

[2020-06-28 15:33] t2ca commented on #24332
Has anyone done any tests yet on lighthouse v6.1? I have noticed an improvement in my performance score.

[2020-06-28 16:09] hamzashahab1610 commented on #19618
Also facing the same issue.

[2020-06-28 17:14] Julius-R commented on #19064
Just ran into this issue while trying to install gatsby-plugin-sass. To fix, I removed package.json lockfile and yarn installed. Everything worked for me.

[2020-06-28 17:44] KyleAMathews commented on #24332
Asked Addy from Google about the blur-up LCP issue & it's something they're working to fix https://twitter.com/addyosmani/status/1277293541878673411

Lesson here is don't treat the new perf scores as absolute just yet — they're refining edge cases still.

[2020-06-28 18:11] atxnyc commented on #24822
This would be great, working with an image heavy site whenever the cache gets cleared it means 30 minutes or more of hanging out and waiting for it to complete.

a fake runner would be great as an option here. I actually was trying to get parallel runner to work for develop, even if it means a couple cents in cloud costs to have google functions make the images, that would be operable to waiting m

[2020-06-28 19:59] dandv commented on #25074
@KyleAMathews, @janson - until the bot gets updates, does your agreement with the spirit of this issue mean that it would be OK for volunteers to manually delete bot comments as specified in the proposal?

[2020-06-28 20:00] dandv commented on #14161
@ewagstaff, @tschaub, @duelingbanjos - please see #25074 for a discussion on the auto-stale policy.

[2020-06-28 21:30] kripod commented on #3318
Are you sure you’ve copied the `if (typeof window !== "undefined")` criteria correctly? It should prevent code execution during SSR.

[2020-06-28 21:56] FormidablePencil commented on #25366
yeah sure. Here's a repo of a blog I was building in gatsby https://github.com/FormidablePencil/blog-site

[2020-06-28 21:59] FormidablePencil commented on #25366
The problem as previously mentioned is not specific to any repo but Gatsby itself in general

[2020-06-28 22:41] ljpernic opened #25373 "Mapping multiple yaml files to frontmatter in Gatsby"
**The problem:**

I am having trouble mapping a second .yaml file to a second markdown frontmatter field in Gatsby. The project is for a magazine, with the first yaml file storing details about each author and the second file storing details about each issue.

The author.yaml file worked like it was supposed to, and I can query it across every template and page, but the issue.yaml file only works

[2020-06-28 22:55] fidiego commented on #17059
I had this issue and it was due to use of a file, `pages/components.js`, that didn't export a default. I modified it to export a dummy component and it resolved the issue.

[2020-06-28 23:52] KyleAMathews commented on #25366
Where are you putting the `console.log`?

[2020-06-29 00:07] #24292 closed

[2020-06-29 00:07] #24229 closed

[2020-06-29 00:07] #24063 closed

[2020-06-29 00:07] #23652 closed

[2020-06-29 00:07] #23533 closed

[2020-06-29 00:07] #23466 closed

[2020-06-29 00:07] #23398 closed

[2020-06-29 00:07] #23254 closed

[2020-06-29 00:07] #21299 closed

[2020-06-29 00:07] #21253 closed

[2020-06-29 01:44] eneim opened #25374 "[gatsby-plugin-offline] TypeError: Cannot read property 'startsWith' of undefined"
## Description

My build fails with the following error:

[code]

I think that this line:

https://github.com/gatsbyjs/gatsby/blob/c9c3d68b589a1feba64d232c6b496968083e8e88/packages/gatsby-plugin-offline/src/get-resources-from-html.js#L46

doesn't check the url for nullability.

### Steps to reproduce

It occurs in my private blog. Sadly I have no idea how I could reproduce it with a simple repo.

[2020-06-29 02:45] gdstewart commented on #25290
Hello! I wouldn't mind helping out too! I'd like to tackle 6 but I'm a bit confused about which imported components are being referred to, is it all imported components or only ones involving remark-mdx?

[2020-06-29 03:57] bhargav-kahar-everestek opened #25375 "Location undefined issue on gatsby-browser"
Hi,

Can you please look into issue of gatsby browser
![image](https://user-images.githubusercontent.com/53463085/85971451-c1046d00-b9ea-11ea-9691-c4a49f65529c.png)

[2020-06-29 04:20] FormidablePencil commented on #25366
within the functional components like so
const SomePage = () => {
console.log("hello world")
return (
  <div><div>
)}

Also tried putting it into a function and triggering it with an onClick event but still no printing "hello world" in the terminal:
const SomePage = () => {
 const onClickHandler = () => {
  console.log('hello world')
}
return (
<div className='clickableElement' onClick={onClickHan

[2020-06-29 07:29] lalasmuathasim commented on #25064
I also faced the same issue the steps I did to rectify this are

1 - Created a certificate and key using OpenSSL (For windows machine - https://helpcenter.gsx.com/hc/en-us/articles/115015960428-How-to-Generate-a-Self-Signed-Certificate-and-Private-Key-using-OpenSSL) - The steps will be different for Mac and Linux but the Idea might be same

2 - Copy the Certificate and Key file to the project fold

[2020-06-29 07:32] Hrishikesh-K commented on #14109
It's been over a year since this was opened and I'm surprised, not many people have commented here. What @buoyantair is so true.

[2020-06-29 08:49] b4stien commented on #19618
Hi Gatsby team, hi everyone. Would it be possible to specify the errors returned in `loadPage` which seems to be the source of the various errors surfaced in this issue?

Ref to the function: https://github.com/gatsbyjs/gatsby/blob/030d927cddbdc64f8d93d409a5ada7442d5e62bf/packages/gatsby/cache-dir/loader.js#L179-L242

It is my understanding that this function tries to load `app-data.json`, `page-d

[2020-06-29 08:56] stanleyyuenyiu opened #25376 "gatsby-plugin-create-client-paths wildcart prefix will go to 404 if there is a 404.js"
- install plugin gatsby-plugin-create-client-paths
- add below code  to the gatsby-config.js -> plugins section
{
      resolve: \`gatsby-plugin-create-client-paths\`,
      options: { prefixes: [\`/*\`] },
}
- create page index.js in pages folder
pages
   - index.js
   - 404.js

- include a router and define the path in index.js

 <Layout>
      <Router>
        <Hi path="/:locale/hi" default />

[2020-06-29 10:08] axe312ger commented on #25308
Yes #24905 should handle this properly :)

[2020-06-29 11:05] wardpeet commented on #23392
We would love an update to our docs, stating this fix when path-prefix is used!

[2020-06-29 11:57] ehrencrona commented on #23392
@wardpeet So you think it's ok to access `__PATH_PREFIX__ ` in this way? The name kind of makes it smell "private" to me. Could we an accessor function somewhere instead?

Or re-export a Router component that always binds `basepath` to it? There's not really any case when you wouldn't want it.

[2020-06-29 11:58] nhc commented on #22206
For the record I also had to implement this fix and I think ordering of head elements should be a feature. I want that level of control right out of the plugin

[2020-06-29 12:44] Undistraction opened #25380 "Missing endsWith polyfill for Gatsby's internal absolutify utility in IE11"
## Description

I'm seeing errors in Sentry for our Gatsby site being caused by one of Gatsby's internal utilities using `string.endsWith` which is not being correctly polyfilled with [core-js](https://github.com/zloirock/core-js/blob/v3.6.5/packages/core-js/modules/es.string.ends-with.js): `/es.string.ends-with.js`

The error originates [here](https://github.com/gatsbyjs/gatsby/blob/e2c6cf2a66419

[2020-06-29 13:06] vaibhavahuja commented on #1767
I did exactly this and it works now. Any idea why this might be happening?

[2020-06-29 13:25] gdstewart commented on #18702
I'm going to give this a go! Are the docs in the contributing folder included in this as well?

[2020-06-29 14:15] blainekasten commented on #25380
@Undistraction Uh oh! That's problematic!

I just tested this locally and found the endsWith polyfill. Wondering if you could test this and it might help us pinpoint something. Do the following:

1. `gatsby build`
1. `gatsby serve`
1. In your browser at localhost:9000, look at the resource for `app-[hash].js` and search for `endsWith`, you should find a polyfill that looks roughly like this:

![im

[2020-06-29 14:26] blainekasten commented on #25375
Can you share your `gatsby-browser` file with us?

[2020-06-29 14:26] blainekasten commented on #25374
Feels related to #25380

[2020-06-29 14:27] wardpeet commented on #25366
Hi @FormidablePencil!

For me console.log works fine in the browser. I'm not entirely sure how to reproduce this.

To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very

[2020-06-29 14:32] Undistraction commented on #25380
@blainekasten I made a repro using the hello-world starter, and I am seeing both `starts-with` and `ends-with` polyfills being added to the bundle, however they are missing for my project. Looks like things are working out of the box, so error is somewhere in my project. I'll close this out and reopen if the problem isn't my own stupidity.

[2020-06-29 14:32] #25380 closed

[2020-06-29 14:35] Undistraction commented on #25380
@blainekasten sorry. One question. Should Gatsby be polyfilling IntersectionObserver automatically?

[2020-06-29 14:38] wardpeet commented on #25297
This should remove transforming node_modules entirely.

[code]

[2020-06-29 14:38] wardpeet commented on #23004
These are new vulnerabilities, this will always happen. We'll make sure we keep our packages up to date through renovatebot.

[2020-06-29 14:40] wardpeet commented on #25380
@Undistraction no but it shouldn't break your site. Gatsby should use progressive enhancement

[2020-06-29 14:43] Undistraction commented on #25380
@wardpeet Thank you.

[2020-06-29 14:47] blainekasten commented on #25327
Yeah, there isn't much to offer for advice here. However, the stack trace you have also is extremely poor because of a recent regression we had in our stack traces. I'm working on fixing. Once we publish a fix, an update to the new version should give you better insight to where the problem is occurring.

[2020-06-29 15:01] Olipear commented on #5021
I've been struggling with this since I wanted to use a more complex data structure for one of my pages.
In frontmatter I had an array of sections, with a few fields like title and featured image, and then on each I had a body made with markdown.
Using createNodeField wasn't doing it for me because I had trouble linking them logically since they are created in their own field, not appended to the e

[2020-06-29 15:15] FormidablePencil commented on #25366
Thx @wardpeet I've checked the console in the browser and there was my "hello world" I console logged. I'm used to seeing console logging in the terminal where my app is running so I forgot browser's console also outputs console logs

[2020-06-29 15:15] #25366 closed

[2020-06-29 15:35] JustFly1984 commented on #23004
@wardpeet I would recommend you to remove `^` in semver for every dependencies and devDependencies, and setup tests, cos some dependencies could have bugs or misconfiguration even in patch versions, which breaks gatsby - for example devcert accident - update from 1.1.0 to 1.1.1 broken gatsby in all of our projects for several days. Every package version update should be reviewed, not just blindly

[2020-06-29 15:51] #25368 closed

[2020-06-29 16:02] blainekasten commented on #25364
Hey, thanks for the issue! Unfortunately this issue does not provide enough information for us to support you. Please create a new issue with information on what is happening, where things are going wrong, and what you are expecting. Thanks!

[2020-06-29 16:02] #25364 closed

[2020-06-29 16:10] wardpeet commented on #24876
The question I have here why would you want to augment the image itself and not add a wrapper around it? We'll be making the gatsby-image more modular in the future to make this use case possible. As of know I rather do not want to add this feature as it adds extra complexity without a benefit.

@marcysutton if I add `role="presentation"` to the parent wouldn't the whole item be marked as presenta

[2020-06-29 16:15] vsolanogo commented on #25327
it happened after i updated from these:
"gatsby": "^2.20.29",
"gatsby-image": "^2.4.7",
"gatsby-plugin-emotion": "^4.3.4",
"gatsby-plugin-google-analytics": "^2.2.2",
"gatsby-plugin-google-tagmanager": "^2.2.1",
"gatsby-plugin-manifest": "^2.3.3",
"gatsby-plugin-sharp": "^2.5.4",
"gatsby-plugin-sitemap": "^2.3.1",
`"gatsby-transformer-sharp": "^2.4.4",`
"moment-timezone": "^0.5.28",`
`"react-helme

[2020-06-29 16:40] moonmeister commented on #25216
I'm not aware of anything off hand but possible. Maybe file system related too. If I get a chance I'll do some testing now that I have a windows machine.

[2020-06-29 16:41] ooloth commented on #24876
@wardpeet An extra wrapper around the already wrapper-heavy `gatsby-image` output is one way to go, that's true.

One side effect of requiring an additional wrapper around the already wrapper-heavy `gatsby-image` output would be having to updating your CSS (i.e. layout styles that target `.gatsby-image-wrapper`) anytime you need to pass an attribute to the root element (e.g. adding a `data-` attri

[2020-06-29 17:31] muqadas12 commented on #1767
No I have no idea about this

On Mon, Jun 29, 2020 at 6:06 PM Vaibhav Ahuja <notifications@github.com>
wrote:

[2020-06-29 17:41] #25294 closed

[2020-06-29 18:04] abeMedia commented on #5021
For anyone else that's interested I solved it using a custom YAML type to allow parsing any arbitrary field as markdown like so:

[code]

To do so create a custom type and then override grey-matter's YAML parser:

[code]

[code]

[2020-06-29 18:05] clukeh commented on #24859
Thank you for that. I'll give it a go :-)

[2020-06-29 18:49] blainekasten commented on #25327
Try updating to `gatsby@3.23.12` and you should get a better error message to help you figure it out. I'm going to close the issue because this should get you moving in the right direction. If you can't figure it out, even after the update, please ping back in here and I'd be happy to help you out!

[2020-06-29 18:49] #25327 closed

[2020-06-29 18:55] blainekasten commented on #25335
Are you using gatsby cloud?

[2020-06-29 19:08] perstromswe commented on #21515
I have the same problem. Works on OS X but not on production Ubuntu 16.

[2020-06-29 19:12] ehrencrona commented on #23392
I found the client-only routes chapter a bit confusing so I wound up rewriting quite a bit. Thankful for feedback!

[2020-06-29 19:16] blainekasten commented on #25335
I'm going to close this issue because it is severely lacking information and the author did not fill in the issue template as we require. If this is a gatsby cloud issue, please email support@gatsbyjs.com and include as much information as possible.

If you are not using Gatsby Cloud, we need more information.

[2020-06-29 19:16] #25335 closed

[2020-06-29 19:38] nelsonwenner opened #25393 "project crashes when starting"
## Description
Following the documentation tutorial for a quick start from gatsby, the application breaks when running.
* quick-start: https://www.gatsbyjs.org/docs/quick-start/

### Expected result
execute the project to start studies.

### Actual result
![Screenshot from 2020-06-29 16-21-39](https://user-images.githubusercontent.com/40550247/86048379-d0a1a700-ba26-11ea-93be-0b3038e22066.png)

##

[2020-06-29 20:09] blainekasten commented on #25342
This took a lot of tracking down.. finally figured it out. The module is throwing an error:

[code]

However I don't totally understand why this is happening yet

[2020-06-29 20:26] GreenOn commented on #25342
We are chasing a similar error that says `Uncaught (in promise) Error: page resources for / not found. Not rendering React`.
It is getting incredibly difficult to know what the problem is. Any clues on how we go about debugging a problem like this?

[2020-06-29 20:37] blainekasten commented on #25345
Tested this and confirmed.

[2020-06-29 20:59] alveshelio commented on #25393
Hi,

Have you tried to do what the message says, install the missing package? Try `npm i engine.io-client`? And run `gatsby develop` again

[2020-06-29 21:16] nelsonwenner commented on #25393
@alveshelio  It worked, but it is strange that this dependency is not in the package by default.

[2020-06-29 21:19] #25393 closed

[2020-06-29 21:55] brootle commented on #21241
this must be definitely mentioned in the documentation, I had same problem as I generate all pages based on md, mdx files :)

[2020-06-29 22:11] femesq commented on #18497
Is it working for anyone using  with `assetPrefix` and `gatsby build --prefix-assets`?

Tried this code on `gatsby-node.js`:
[code]
and `basePath` is '' - used [here](https://github.com/gatsbyjs/gatsby/commit/9c81f3cbbcb3092e3638fc325f95f6914cdd0a88#diff-4606cc9066942a1129552adc6bd0b87dR61).

Thanks for any help on this!

[2020-06-29 22:17] learis opened #25396 "How do I stop the preview in localhost:9000 from gatsby serve?"
Hello, I previously used gatsby serve to preview a build at localhost:9000. Days later I am realizing that the preview is still appearing on localhost:9000. I'm just being nitpicky, but I don't want it to appear anymore. I would normally use ctrl + c to cancel the preview in gatsby develop, but how do I do it for the preview that comes from gatsby serve?

[2020-06-29 22:37] tesseralis opened #25397 "bug(www): "Last Updated" field is broken"
## Description

The "Last Updated" field will always display the date that the site was last deployed. For example, the [Docs Index](https://www.gatsbyjs.org/docs/) hasn't been updated since May but still says "Last updated: June 27, 2020"

<img width="243" alt="Last updated: June 27, 2020" src="https://user-images.githubusercontent.com/1278991/86062424-87992500-ba1d-11ea-970c-53376530fdb2.png">

[2020-06-29 22:50] dav92lee opened #25398 "Proper way to do an external redirect programmatically"
## Summary

I am trying to programmatically perform a redirect but to an external website.  Exactly as what `window.location.href = ...` does.  I was wondering if there's a preferred gatsby way to do this.

## Relevant information

For example.  My website makes an api call to our shopping cart service which returns some `uuid`.  When that api call returns, i want to redirect the person to `cart.c

[2020-06-30 00:07] #23737 closed

[2020-06-30 01:07] FranciscoImanolSuarez commented on #25398
I think this can help you!  [#19294](https://github.com/gatsbyjs/gatsby/issues/19294) , Another alternative I think would be to implement [gatsby-plugin-client-side-redirect](https://www.gatsbyjs.org/packages/gatsby-plugin-client-side-redirect/)

[2020-06-30 01:18] FranciscoImanolSuarez commented on #25376
Never implement this, but try changing the path to **index.js** and create your **index.js** page folder. When reading the documentation it says "In this example, all paths prefixed with **/app/** will show the path described in **src/pages/app.js**." So I understand that if your app.js is not in your page folder, it would not work and would return 404 (page not found)

https://www.gatsbyjs.org/pa

[2020-06-30 01:42] stanleyyuenyiu commented on #25376
sorry i didnt mention clearly

i create a page named index.js in page folder

beside, above case will make the useParam not work any more, always return null

[2020-06-30 01:58] polarathene commented on #24876
Responding here as per wardpeets request on the associated PR.

@RetroCraft this is how passing of props is being supported internally for `<Placeholder />`:

https://github.com/gatsbyjs/gatsby/blob/b8a355db538c5597af80d8743d793e34a2ea4200/packages/gatsby-image/src/index.js#L265-L270

If you were to use a dummy component, you can specify props in a more natural way if you prefer. You can then acqu

[2020-06-30 02:38] bhargav-kahar-everestek commented on #25375
The contents are as below for `gatsby-browser` file.
[code]

[2020-06-30 02:40] GreenOn opened #25405 "Query.node defined in resolvers, but not in schema"
## Description

We are trying to make use of an existing Apollo Graphql Server for a new Gatsby site. I am not sure why but we are getting this error on `gatsby develop`.

Error: `Query.node defined in resolvers, but not in schema`.

Our Apollo server has been working with no issues and the above error we are getting from Gatsby doesn't seem to be legitimate.

Our schema does have the `node` defin

[2020-06-30 04:12] jfrolich opened #25406 "Make require("gatsby").graphql work"
This is necessary for properly supporting tagged template literals in BuckleScript/ReasonML. It's probably a small change in the babel-plugin to make it work.

Example

[code]

I can PR this. Mostly a reminder and happy to get feedback.

[2020-06-30 05:23] ehowey opened #25407 "[gatsby-plugin-feed] can this plugin be run onPreBuild instead of onPostBuild?"
## Summary

So I have a pretty complex themes setup with nested themes. I recently found a pretty sneaky error happening with `gatsby-plugin-feed` when generating images for the RSS Feed in some edge cases when it was being initialized father down the theme chain. In brief these errors seem to be solved by changing the plugin to run its main function `onPreBuild` instead of `onPostBuild` - but my

[2020-06-30 06:26] LekoArts commented on #24855
I tried it locally and when I piped in a `null` to the `fluid`/`fixed` prop the development server showed an error overlay, the built app showed something in the console but kept working.

You should add a conditional to your component then when the data is sometimes there and sometimes missing.

I think https://github.com/gatsbyjs/gatsby/pull/25371 will also fix your issue.

[2020-06-30 06:39] LekoArts commented on #25396
Thank you for opening this!

Using <kbd>Ctrl</kbd> + <kbd>C</kbd> is cancelling `gatsby serve` that is serving your site. It's the same as with `gatsby develop`. Make sure that you actually cancelled the server in your terminal/IDE etc. - also see if you have `gatsby-plugin-offline` installed as this will install a service worker also for your localhost:9000 and one of it's purposes is to serve th

[2020-06-30 06:39] #25396 closed

[2020-06-30 06:43] LekoArts commented on #25376
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-30 07:24] LekoArts commented on #25373
Thank you for opening this!

I cloned your repository and it's working (as intended):

![image](https://user-images.githubusercontent.com/16143594/86095550-5c144a00-bab2-11ea-83b0-04956d691c00.png)

You'll get results for `issue` on the posts that have a valid issue ID. Since you only defined `Issue One Summer 2020` and `Isuse Two Fall 2020` you'll get `null` for all other posts that e.g. have `Is

[2020-06-30 07:24] #25373 closed

[2020-06-30 08:08] remorses commented on #21256
I made a mini graphiql component to document graphql queries, it has also auto completion
https://github.com/remorses/mini-graphiql-playground

[2020-06-30 08:14] stanleyyuenyiu commented on #25376
Here is the sandbox url
https://codesandbox.io/s/spring-sea-yjy5c

type url in the test browser ->

https://yjy5c.sse.codesandbox.io/en/test

[2020-06-30 08:18] axe312ger commented on #24679
This will be fixed in the next major version as it requires potentially breaking refactoring to get rid of these dependencies.

See #25249

[2020-06-30 08:18] axe312ger commented on #24220
This will be fixed in the next major version as it requires potentially breaking refactoring to reduce the network requests.

See #25249

[2020-06-30 08:34] artrn-nt opened #25411 "'Window is not defined' failed build process"
Hello. I got the 'Window is not defined' error during the build process using Netlify. I know this is a recurrent issue and I checkout a lot of documentation on how to solve this but unfortunately I was unable to figure it out. Consider I'm still in the React learning process.

For instance I checked this:
https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined
https

[2020-06-30 10:11] vladar commented on #25336
Probably caused by #24743 as it's the only change in 2.23. @pvdz any idea which change could have caused this?

[2020-06-30 12:04] #20152 closed

[2020-06-30 12:13] muescha commented on #25240
it can done the way like in:
- #25414 `fix(blog): Gatsby Partner program - add links back to Pullquote`

but the JSX code should be in **one line** until `remark-mdx` is implemented in:
- #25290 `enhancement (docs): Improvements to retext-spell`  *(part: implement `remark-mdx`)*

[2020-06-30 12:34] polarathene commented on #24615
Seems related to [this PR](https://github.com/gatsbyjs/gatsby/pull/25325).

Images processed by sharp are being processed a 2nd time via imagemin, which inherits the quality setting, thus the lower it is(50 by default), the more compounding the impact is likely to be. For my own tests, the additional file size reduction wasn't worth the increased quality degradation via artifacting(using a lower q

[2020-06-30 12:41] pvdz commented on #25398
@dav92lee if that answers your question please feel free to close this issue. Thank you :)

[2020-06-30 12:46] #25398 closed

[2020-06-30 12:49] pvdz commented on #25406
I don't think this is a babel/TS change but the symbol just has to be exported in order to be imported :) Looking forward to the PR.

[2020-06-30 12:53] pvdz commented on #25411
_(I updated the desc to add the code in a code block, only. It was already a partial paste)._

The example you pasted was cut off. Do you have a repo with a reproduction we can take a look at? In general it should be safe to do `typeof window` but we'd need to see what you were trying to do in order to help you further. Thanks :)

[2020-06-30 12:53] guillaumebriday commented on #6945
@KyleAMathews @ascorbic Hey!

I think this PR has broken the Link behaviour. I got something like that in a component:

[code]

This link is under the page `/articles` and the `post.fields.slug` is just a string.

Before it was rendered as (excepted result):

[code]

and now (wrong):

[code]

I think many sites will be affected by this modification.

How could we fix it? Thank you in advance

[2020-06-30 12:58] ascorbic commented on #6945
@guillaumebriday I'm guessing the slug doesn't start with a slash? That means it's a relative link, so this is expected behaviour. Previously it would have given you a warning as it was unsupported, even if it happened to work. You can get the correct behaviour in your case by adding a slash to the start of the link.

[2020-06-30 12:59] ljpernic commented on #25373
This was an enormous help. Thank you for taking the time to look at this. The solution was easy, and I'm embarrassed to say how long I spent trying to fix it myself.

Aber danke!

[2020-06-30 13:06] vladar commented on #25405
Quick googling shows that it is probably an apollo-server issue (at least there are similar reports in their repo a couple of times):

https://github.com/apollographql/apollo-server/issues/2656
https://github.com/apollographql/apollo-server/issues/1534

Have you checked those?

[2020-06-30 13:12] guillaumebriday commented on #6945
@ascorbic It doesn't. I use `allMarkdownRemark` with the createFilePath method from `gatsby-source-filesysteme` to generate a slug field.

By default it does not prefix with a slash.

I fixed it in https://github.com/guillaumebriday/guillaumebriday.fr/commit/36d1848f3fe931ce74dacdd83c451a9698542cce

But I think there are plenty of applications with this behavior.

Anyway, thanks for the help 🙏

[2020-06-30 13:36] EricEisaman commented on #22206
Thank you @ttstauss .  Your fix worked for me.

[2020-06-30 13:47] Chaosbohne opened #25416 "Integrate static pages generated by Gatsby into Gatsby"
How to integrate generated Gatsby files into another Framework or in another Gatsby Project?

Status Quo:
I got an app A based on Gatsby. This application is running fine and provides a path for '/blog/'. For example '/blog/1' gives the blog entry with id 1, '/blog/2' gives the blog entry with id 2 and so on. This app is not hosted as standalone.

I got another app B (the main app) running on Angu

[2020-06-30 14:04] jrusso1020 commented on #25374
Just a little more info @blainekasten @wardpeet

I have the same issue using `gatsby-plugin-offline` version 3.2.13, I started my website from https://github.com/gatsbyjs/gatsby-starter-blog so I think that would probably be a minimal repo to reproduce this.

I also get the issue with 3.2.12, 3.2.11, etc (that I tried). Looking at the linked issue https://github.com/gatsbyjs/gatsby/issues/25380

I

[2020-06-30 14:44] GreenOn commented on #25405
Yes, but why only Gatsby graphql plugin complains about this? Our graphql server has been working fine for some time. If we have to make changes to get this running, we can, but I find it odd that only Gatsby has issues with this?

[2020-06-30 15:00] mumbii opened #25417 "How do you update your Gatsby site that's hosted on Heroku when a new Wordpress blog is published"
## Summary
 Hello! So I'm a newby in Gatsby but have a fair understanding on programming (HTML, CSS etc). But I've managed to integrate a Wordpress blog to a Gatsby site using all the tutorials online. The part I'm stuck at is how to update the site when a new post is published whilst using Heroku. I've seen that most people seem to be using Netlify to host their site and I'm not sure how to apply

[2020-06-30 15:59] jquense commented on #7027
still an issue

[2020-06-30 16:20] xmflsct commented on #22792
Not stale.

[2020-06-30 16:36] swethusiast commented on #25151
@LordLalwani @wardpeet
 i have the same issue but i don't know how it works sometimes and other times doesn't!! it's acting so weird,

[2020-06-30 17:14] SilencerWeb opened #25420 "Add information about css-loader version and point to its actual documentation"
## Summary
Currently, Gatsby uses `css-loader@1.0.1` and when it comes to configuration of this loader, Gatsby's documentation always points on `css-loader`'s documentation which is good except the fact that current `css-loader`'s version is 3.6.0 and it has a lot of breaking changes in their API, including adding and removing some options.

So, basically, Gatsby's documentation says that you can

[2020-06-30 17:34] vladar commented on #25405
You are right, it happens when we try to transform the schema using `graphql-tools`. Somewhere in this call:

https://github.com/gatsbyjs/gatsby/blob/c2f42cbaf30ae1cdc69ab800c59ba91d5e092e29/packages/gatsby-source-graphql/src/gatsby-node.js#L97-L101

It throws even without custom Gatsby transforms. So probably a bug somewhere in `graphql-tools`.

One interesting thing though is that you have this

[2020-06-30 17:39] marlomgirardi opened #25421 "Why Gatsby don't end the process on GraphQL "conflicting field type"?"
## Summary

By default, if any conflict happens with GraphQL types, it will be omitted by Gatsby and a message will be shown:
https://github.com/gatsbyjs/gatsby/blob/d847855cbedac25522947c36e67e59b6b3bcefc4/packages/gatsby/src/schema/infer/type-conflict-reporter.ts#L130-L139

In some cases, missing information might not be an acceptable thing.

Log Sample:
[code]

## Relevant information

My probl

[2020-06-30 17:51] moonmeister commented on #18497
@femesq Is your problem related to https://github.com/gatsbyjs/gatsby/issues/25207 ?

[2020-06-30 17:59] kapil-raj commented on #25290
if I understand this correctly, for point 6 and point 7. We need to edit the dictionary.txt and spilt the text characters from the numbers. Similarly for point 7, we need to split the words with dashes to separate individual words.
Can I work on this :)

[2020-06-30 18:10] muescha commented on #25290
7. try out if this working like this.
6. it is a more general change to the system and i think the hardest one...

[2020-06-30 18:31] jf-home opened #25422 "GraphQL not pulling back leading forward slash from string widget in markdown file"
## GraphQL not pulling back leading forward slash from string widget in markdown file
Repeatable section (list widget) in markdown file contains a string widget (name: "link").  The leading forward slash "/" of one of three values is not being returned.  Bizarrely, this only happen when the string value is "/real-estate".  Changing the value to "/deal-estate" will return the leading slash when tes

[2020-06-30 18:35] muescha commented on #24142
@blainekasten the same remark linting like for /docs/ documents...

[2020-06-30 18:38] #23697 closed

[2020-06-30 18:59] muescha commented on #20925
it would be good if the error message give a little bit more info about the source of the error

we can guess about the `NPMPackage.type.ts` but which field or which file / creator would be nice...

[2020-06-30 19:15] kapil-raj commented on #25290
okay, I'll start working on these.

[2020-06-30 19:24] judepark commented on #25214
Thank you !

[2020-06-30 19:50] learis commented on #25396
@LekoArts Yes I think it's because of the offline plugin. But now there's another problem. I just built and served another website. However the page stays white with errors because it's trying to load stuff from the previous website still. Something to do with cache I think. I have to hold shift + r to reload it properly. How do I remove all of the info from the previously built website so I can g

[2020-06-30 19:54] artrn-nt commented on #25411
Hello Peter. Thank you for your answer. Yes I've got a repository with the whole project (a simple and personal project) but I'm not sure I want to make it public and accessible. As I said above, the code I pasted is the one that make the build fail.

I implemented a switch button in a header which enable the user to toggle between two languages (english and french). I would like the user choice t

[2020-06-30 20:02] laurieontech commented on #25407
Thanks for opening this issue Eric! There are a number of challenges with `gatsby-plugin-feed` compatibility at the moment. @johno opened #25069 as an umbrella issue for some of them.

We'd certainly be open to a PR with this change so we can explore the impacts. My suspicion is that it may have some unexpected edge cases, but that's a challenge of the current implementation as well.

[2020-06-30 20:11] IgordeOliveira opened #25424 "Duplicate History when I click on a gatsby link"
## Description

I'm creating a multi-language site, so what I did was delete the original pages, and recreate them with the language slug in front resulting in: /pages/page1 => /en/page1, all this part of multilanguage works perfectly, but a problem arose at least strange, when I click on a link gatsby within the site, and I go to an internal page for example, it duplicates that page in the browse

[2020-06-30 20:22] #19785 closed

[2020-06-30 20:35] #25067 closed

[2020-06-30 21:27] talatkuyuk opened #25427 "DeprecationWarning: OutgoingMessage.prototype._headers is deprecated"
## Description

I am working on gatsby with strapi.
I receive that message when I run develop
(node:43092) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated

### Steps to reproduce
The program fetchs all apis from strapi, no problem, but the error message appears in this context:

`info Starting to fetch data from Strapi - http://localhost:1337/jobs?_limit=1000
info St

[2020-06-30 22:03] femesq commented on #18497
@moonmeister Yes! Thanks for pointing me to there... will keep track for updates in that issue.

[2020-06-30 22:18] GreenOn commented on #25405
I actually had to convert the `interface` to `type` to get this working. Actually, this whole schema was auto-generated by Prisma (v1).
It has a whole bunch of things like `interface`, `input`, `DateTime` etc. I tried to upgrade `graphql-tools` to the [latest v6](https://www.graphql-tools.com/docs/migration-from-tools-v5), but it is throwing more errors now on the schema generated by Prisma. So fo

[2020-06-30 22:18] #25405 closed

[2020-06-30 22:29] robertjk opened #25430 "Compilation error after switching to Dart implementation"
## Description

Development compilation of my styles is failing after changing from `node-sass` to `sass` (Dart implementation). The error message doesn't tell me anything about what's going on - it seems it's a syntax error on a perfectly legal Sass syntax.

When I try compiling that same file that's throwing an error manually using the same `sass` executable: `npx sass <name-of-the-file>` the co

[2020-06-30 23:52] adisher commented on #8148
`gatsby clean` helped to develop `npm install sharp`

[2020-07-01 00:09] #23943 closed

[2020-07-01 00:09] #17202 closed

[2020-07-01 00:28] tbrlpld commented on #20271
I just ran into that issue too. This is really confusing, especially as a beginner to Gatsby.

Thankfully this issue exists and pointed me in the right direction. I was able to adjust the test from `StaticQuery` to `useStaticQuery` (which is actually used in the components created by the current starter template).

In case anybody else is running into this issue while learning, I was able to redef

[2020-07-01 00:31] adisher commented on #3437
I did that but it didn't work for me. The only difference is I'm using npm instead of yarn.

[2020-07-01 00:37] mosesoak commented on #19088
@sidharthachatterjee Unfortunately this is still a problem.

I'm on a new machine running WSL, latest Node LTS via NVM (v12.18.1), and latest Gatsby CLI (2.12.52).

Tried globally installing the cli via latest npm and yarn. (Project uses yarn.)

Works fine on my mac but throws the same error listed in WSL:

[code]

[2020-07-01 00:38] mosesoak commented on #19088
Actually when I look at it, this is a slightly different error, but the cli isn't loading either way.

[2020-07-01 01:30] graysonhicks commented on #25424
Just followed reproduction steps and cannot reproduce.  I get the expected behavior returning to `/en`.

[2020-07-01 02:04] graysonhicks commented on #25375
I attempted to recreate in this sandbox (https://codesandbox.io/s/fervent-lehmann-3hvlb?file=/gatsby-browser.js), but the script completes as expected.

@bhargav-kahar-everestek Could you post the output of your `gatsby info --clipboard` command?

[2020-07-01 02:11] graysonhicks commented on #25427
I believe this is a duplicate of #20529 and #18433 regarding an older version of the `got` package that is required by `gatsby-source-filesystem`.

`gatsby-source-strapi` looks be using version `1.5.39` of `gatsby-source-filesystem` ([package.json](https://github.com/strapi/gatsby-source-strapi/blob/master/package.json#L42)).  The latest version of `gatsby-source-filesystem` is `2.3.14`.

I believ

[2020-07-01 02:25] SilencerWeb commented on #10668
It would be awesome to have a fix for `__BASE_PATH__` in the documentation, would save some time for me and I'm sure it will save some time for other developers 🙂

[2020-07-01 02:32] ehowey commented on #25407
Thanks Laurie - sounds like people smarter than me are already looking at this.  I will leave this open for now.  I made a PR too - but I do think this one is a bit beyond me as there are lots of edge cases to test for.  Just wanted to draw attention to some odd behaviours I have run into with it in use.

[2020-07-01 04:21] bhargav-kahar-everestek commented on #25375
Hi,
Still happening after some 20-30 min. later; then reload the page.  (Must, to reproduce the issue)
![GatsbyInfo](https://user-images.githubusercontent.com/53463085/86202411-c646f080-bb7f-11ea-9726-1c80dd210fbf.PNG)

[2020-07-01 04:37] hervemangalakitungwa commented on #19827
use yarn install, that should work

[2020-07-01 04:48] seaneking commented on #2826
I just ran into the same limitation as @richburdon — sharing static assets across a monorepo (eg: between design system with Storybook, site with Gatsby, and app in vanilla React). Is it still not possible to set a custom path for the `static` directory, in an env variable or something?

[2020-07-01 07:51] datakurre commented on #5002
Has anyone here tried, or know if it is possible, to tweak GatsbyJS webpack configuration to simultaneously produce both development preview and production build version with ”gatsby develop”? (Possible resulting ”incremental builds” with cost of forever running development server.)

[2020-07-01 08:18] femioladeji commented on #25298
@EliasJorgensen just as @pieh mentioned the major problem was that the `react-slideshow-image` package was not SSR ready. I've worked on fixing that issue and the new version `2.0.1` is good for SSR.

[2020-07-01 08:20] EliasJorgensen commented on #25298
@femioladeji Cheers for pinging me, but i think you've got the wrong guy 😄

[2020-07-01 08:21] femioladeji commented on #25298
Ooops I meant @EliranGooner 🤦‍♂️

[2020-07-01 08:31] stefanprobst commented on #25336
looks like the following works in v2.23:

[code]

it's a bit confusing though because `link.by` should be a path to a field

[2020-07-01 08:34] morgan-sam commented on #25346
Hi @abhishekjakhar are you still working on this?

[2020-07-01 08:56] jjbully opened #25433 "gatsby-source-contentful: cannot get image uri after updating content in contentful"
## Description

cannot get image's uri after updating content in contentful

can go back to normal if i use `gatsby clean` after updating things in contentful and then `gatsby develop` again

### Steps to reproduce
- create a blog post content type contentful,
 sthg like:
\- blog post
\-- image
\-- title
\-- subtitle

-  `gatsby develop`   source the data from contentful

- change sthg in contentf

[2020-07-01 10:07] axe312ger commented on #23415
This might be fixed as soon #25249 is published

[2020-07-01 10:10] abhishekjakhar commented on #25346
@morgan-sam hey you can pick this up if you want to, I got occupied with another PR.

[2020-07-01 11:05] fayddelight commented on #25151
I updated Gatsby and it works just fine now.

[2020-07-01 11:05] kamit-transient commented on #21392
I am also facing the same issue, only difference is when I run `gatsby develop` its works fine but when I run `gatsby build` I am getting exactly same error.

[code]

[2020-07-01 11:13] joseph4tw commented on #23850
Hello, I actually ran into the same issue and I was finally able to identify what was happening (although I don't know why it's happening).

Following the [minimal reproduction](https://gatsby.dev/reproduction) steps, I have 2 pages: index.js and page2.js:

*index.js*
[code]

*page2.js*
[code]

If you run `gatsby develop`, everything looks fine. You can refresh the pages and the elements render li

[2020-07-01 11:55] laurieontech commented on #25407
Absolutely, if it's alright with you I'm going to close this issue but reference in the umbrella one. It cuts down on the noise of the repo a bit but gives us access to all this great research.

[2020-07-01 11:55] #25407 closed

[2020-07-01 12:45] iKeeko commented on #14193
Same. Any luck?

[2020-07-01 14:21] Korede-TA commented on #16621
same issue for me using Zsh on MacOS (`gatsby@2.23.10`, `gatsby-cli@2.12.51`)

[2020-07-01 14:39] #25091 closed

[2020-07-01 15:07] balibebas commented on #25091
Thanks @LekoArts et al. This is a much appreciated change. :comet:

[2020-07-01 15:16] ThomasRutzer commented on #17783
@jonniebigodes thanks for your amazing solution, the  "advance approach" works really well.
One appendix, if you happen to have a list of images, this works for me:

in `data.json`:
[code]

in `gatsy-node.js`
[code]

[2020-07-01 15:38] barbalex commented on #19618
I tried again with v2.23.12. Same result: https://vermehrungch-1j64x2olp.vercel.app/Vermehrung

To us it seems absolutely systematic since every version above 2.20.36. On every of five apps built using gatsby. So we have been blocked from updating since.

Which is starting to become a bit of an issue. For instance we are blocked from using any libs using core-js in v3 (https://github.com/gatsbyjs/

[2020-07-01 15:55] muescha commented on #20732
some notes:

### 1) remark heading id

maybe this plugin is also useful, if the current processor can not use the heading id:

https://github.com/imcuttle/remark-heading-id

#### Input

[code]

#### Output

[code]

### 2) gatsby-remark-lang-slug

if we don't use the english header id then this can be interesting for creating better language aware slugs:

https://github.com/GaiAma/Coding4GaiAma/tre

[2020-07-01 16:19] mosesoak commented on #19088
Follow up: after another full clean install of the repo and cli it is
working. Not sure what the issue was.

On Tue, Jun 30, 2020 at 5:38 PM moses gunesch <notifications@github.com>
wrote:

[2020-07-01 16:21] graysonhicks commented on #25417
I haven't used Heroku in a bit, but it looks like they have a webhooks API [here](https://devcenter.heroku.com/articles/app-webhooks).  Wordpress also has webhook functionality [here](https://wordpress.com/support/webhooks/#:~:text=You%20can%20add%20a%20webhook,when%20the%20selected%20action%20fires.).

You will need to configure your Wordpress to trigger your Heroku webhook when content is publis

[2020-07-01 16:28] Js-Brecht commented on #16621
@Korede-TA what is it that it’s doing/not doing?

[2020-07-01 16:38] jarodpeachey opened #25446 "Gatsby useStaticQuery fails with NPM package"
## Description

I'm creating two NPM packages for Gatsby. One of these is a source plugin, and the other includes a JSX component that grabs data from GraphQL to be imported as a component by the end user.

However, the static query for the latter component fails with an error.

[code]

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo p

[2020-07-01 16:52] vladar commented on #25416
User experience with iframes is rather poor. I would suggest replicating common parts of the UI (top menu?) in all projects and just navigate as usual (so when moving across different app boundaries the page would reload but when you are within the same app it will transition smoothly)

Make sure to set [path prefix](https://www.gatsbyjs.org/docs/path-prefix) in `gatsby-config.js` to make gatsby s

[2020-07-01 16:53] Korede-TA commented on #16621
@Js-Brecht every so often the hot reloading hangs, and it can't be triggered by refreshing the page. if i hit ctrl-c to kill the `gatsby serve` command, it doesn't respond either.

[2020-07-01 17:03] probablyup commented on #17402
I think this relates to some unbounded cache growth issues we've been seeing in CI.

[2020-07-01 17:04] FranciscoImanolSuarez commented on #25376
Please let us know if what I provide @stanleyyuenyiu  has worked for you.

[2020-07-01 17:07] vladar commented on #25420
Sorry to hear you've wasted some time because of this. The note in docs makes perfect sense to me. Mind opening a PR with suggested changes?

Thanks for caring about the community 💜

[2020-07-01 17:10] SilencerWeb commented on #25420
I'll try to open it this weekend. Any suggestions and tips? 🙂

[2020-07-01 17:15] vladar commented on #25421
Hi @marlomgirardi !

Technically it should break if you query this data somewhere (as the field you are trying to query doesn't exist). Are you saying that this doesn't happen for you?

If so then it sounds like a bug. Can you provide a [minimal reproduction][reproduction] so that we could take a look at this? This is a simplified example of the issue that makes it clear and obvious what the issue

[2020-07-01 17:31] vladar commented on #25422
Hi @jf-home !

Just to clarify, do we need Netlify CMS step to reproduce this? Or this be reproduced on plain Gatsby?

To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're

[2020-07-01 17:38] vladar commented on #25424
Also could not reproduce this. Worked fine for me.

[2020-07-01 17:42] vladar commented on #25427
Closing this as it must be fixed in the upstream dependency. I suggest you open an issue (or better a PR) in the https://github.com/strapi/gatsby-source-strapi with version bump of the `gatsby-source-filesystem`.

[2020-07-01 17:42] #25427 closed

[2020-07-01 17:48] timmywil commented on #16840
Are there any immediate plans to make these updates? I'm especially interested in using graphql@^15.2.0 without forcing resolutions. Thanks.

[2020-07-01 17:49] vladar commented on #25430
Hi @robertjk !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2020-07-01 17:55] vladar commented on #25433
@axe312ger Does it relate to the rich text work you do now? Is it a known issue?

[2020-07-01 18:20] jasonbahl commented on #25417
If I'm not mistaken, the Heroku webhooks API @graysonhicks linked to is for configuring webhooks to be sent _out_ of Heroku when things happen in the Heroku environment.

I believe what would be needed is to make use of the Heroku  Platform API to make a build request: https://devcenter.heroku.com/articles/platform-api-reference

You could use the WordPress webhook functionality to send a webhook

[2020-07-01 18:22] vladar commented on #25446
Hi @jarodpeachey

I've followed your steps but I don't see this error. What I get is this:

[code]

But that's because you don't import `graphql` in your [index.js page](https://github.com/jarodpeachey/netlify-comments/blob/master/packages/gatsby-demo/src/pages/index.js) (as the error says).

As for [`packages/netlify-comments/src/Comments.js`](https://github.com/jarodpeachey/netlify-comments/blob

[2020-07-01 18:23] stevenkkim commented on #22285
@arualana I think you need to also install https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/

I had a similar issue and tried following https://www.gatsbyjs.org/docs/eslint/ like you did. I finally got mine to work after installing and configuring gatsby-plugin-eslint

[2020-07-01 18:27] stevenkkim opened #25449 "Using ESLint https://www.gatsbyjs.org/docs/eslint/ ... missing step?"
I tried following the steps outlined here https://www.gatsbyjs.org/docs/eslint/ and it did not work.

After trying various things out, I finally got it to work after installing https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/

If installing gatsby-plugin-eslint is a required step, then it should be added to the instructions here: https://www.gatsbyjs.org/docs/eslint

See also my response he

[2020-07-01 19:20] cwkang1998 commented on #17551
I still don't see this information in  the official docs, and it confused me until I find this thread. Mind I ask if I may add this as documentation for mdx in the [Programmatically creating pages](https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/) section as suggested by n-laverenko? I think it would help a lot of people.

[2020-07-01 19:22] juanjoseluisgarcia opened #25451 "If this is an 'official' plugin you need to document it better"
- Do not include minified code in the examples. If you think it's better that way include the functionality in the plugin itself

- provide a full working example. Not pseudo-code or place holders like '...'

- make sure anyone that has not coded the plugin themselves with knowledge of React can actually use it.

[2020-07-01 19:29] jbhannah commented on #21419
I'm going to test disabling footnotes in the plugin configuration and manually adding remark-footnotes to the set of dependent plugins.

[2020-07-01 19:38] jarodpeachey commented on #25446
Ah, my bad. I forgot to push the latest code. I just did that now.

[2020-07-01 19:39] munwr commented on #24854
Hi,
I confirm i face the same issue. it started happening couple of hours ago.
<img width="471" alt="image" src="https://user-images.githubusercontent.com/6573105/86284432-82e09680-bc00-11ea-88a2-ac54f5c3ae6c.png">

also
<img width="486" alt="image" src="https://user-images.githubusercontent.com/6573105/86284509-a0adfb80-bc00-11ea-9b18-8cd615a64015.png">

@KyleAMathews and @shannonbux all the help

[2020-07-01 20:01] s-herbert commented on #23842
I will say I ended up here because I also followed the Docs and only saw `null`

[2020-07-01 20:16] amingilani commented on #24159
I just want to add that [Bulma images](https://bulma.io/documentation/elements/image/) also require an `is-rounded` applied directly to the image to function correctly. I'm certain other frameworks require similar things as well.

[2020-07-01 20:22] herecydev commented on #25449
It is in there:

[2020-07-01 21:00] mohsinulhaq opened #25453 "Gatsby build fails on "core-js/modules/es.array-buffer.constructor""
## Description

I am using gatsby via [docz](https://github.com/doczjs/docz). After the latest release, the static build has started failing. It works fine when I pin the package to the immediately previous version. Since it was a patch release, there shouldn't be any breaking changes in the release.

### Steps to reproduce

[code]

### Environment
[code]

[2020-07-01 21:28] Js-Brecht commented on #16621
Hmm, `gatsby serve` doesn't do hot reloading.  Do you mean `gatsby develop`?

[2020-07-01 21:43] swethusiast commented on #25151
@fayddelight  yes me too and it was working fine for today. i wish nothing breaks it again.

[2020-07-01 21:55] wardpeet commented on #19618
@barbalex You have the following error in your app:
![image](https://user-images.githubusercontent.com/1120926/86294967-def1ed80-bbf5-11ea-8b63-5cb2ad7ae398.png)

We should definitely show this error. Feel free to add a PR, I don't have enough bandwidth to do this atm.

[2020-07-01 22:33] smthomas commented on #25365
This is an interesting question. The first problem I see is that `gatsby-source-shopify` by default is using the Shopify Storefront API version `2019-07` while `shopify-buy` version 2.10 uses `2020-04`. On top of that I also noticed https://github.com/Shopify/js-buy-sdk#expanding-the-sdk which says that the sdk does not support all of the fields available from the Storefront API. I don't think `ga

[2020-07-01 23:01] crypto-jones opened #25455 "Build fails with subsequent runs of gatsby build with the GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES flag"
## Description
Build fails with subsequent runs of `gatsby build` with the `GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES` flag

[code]

`departments` is fetched with plugin `gatsby-source-apiserver` and passed down from a StaticQuery.

### Steps to reproduce
1.
[code]
which builds all pages as expected and logs all pages

2.
Make changes to a page
[code]

### Expected result
Build should complet

[2020-07-01 23:18] IgordeOliveira commented on #25424
Oops, I'm sorry, I ended up doing a "workaround" yesterday and I did deploy it, I climbed the old version at this address: https://duplicate-history.underlab.com.br/en
What I did that worked ( but do not know why ) was:

gatsby-browser.js
[code]
@graysonhicks Yes I always use gatsby clean before doing build, and my link is exactly the same as gatsby documentation, I import { Link } from 'gatsby' a

[2020-07-01 23:18] stevenkkim commented on #25449
Ok, that note wasn't clear to me at all.  I thought that note referred to a **different** method of managing ESLint configuration because the instructions on https://www.gatsbyjs.org/docs/eslint refer to using `.eslintrc.js` while the note refers to using a custom `.eslintrc` file. I thought they were two different files and therefore two different methods.

In other words, I interpret the docs as

[2020-07-01 23:51] pindjur commented on #21423
deleting node_modules/.cache worked before but now its not working still getting default polyfils, will try removing whole node_modules.

[2020-07-02 00:21] marcysutton commented on #25451
Hi @juanjoseluisgarcia, we need more information from you to properly take action on this issue. Can you provide more details, such as:

- Which plugin you're talking about
- Links to any documentation pages

Thanks!

[2020-07-02 01:05] bennetthardwick opened #25459 "[feat]: run babel macros before extracting graphql queries"
## Summary

Babel macros are [supported](https://www.gatsbyjs.org/docs/babel-plugin-macros/) by Gatsby, however, despite being run at compile time they're not able to generate static queries. Attempting to do so results in:

[code]

It would be incredibly useful to allow plugin authors and users to leverage babel macros to generate static queries.

### Motivation

Currently, the ergonomics around

[2020-07-02 01:14] t2ca commented on #25453
I can confirm. Same core-js error since updating to the latest version.

[2020-07-02 01:27] munwr commented on #24854
This temporaru fix help me continue my work.
`gatsby develop -p 8001`

[2020-07-02 01:37] stanleyyuenyiu commented on #25376
@FranciscoImanolSuarez what have you provided? i dont see any change on the sandbox

[2020-07-02 01:40] FranciscoImanolSuarez commented on #25376
Sorry, it was a misunderstanding of mine, I didn't see that you provided the sandbox and that you also started this problem (# 25376). Now I look at the sandbox

[2020-07-02 01:47] 454de6e commented on #20413
This is still a problem.

[2020-07-02 03:51] hcygit opened #25462 "error-map.js 11328 shows undefined"
## Description

The output variable context.fileName in "11328" should use context.component instead of context.fileName if someone have one file like this:
[code]
In spite of no any valid component importing this file, this method is totally no problem while running in development but result in an error exception while building production.

### Steps to reproduce

gatsby develop -> OK
gatsby buil

[2020-07-02 04:37] AlexanderProd commented on #25365
Yeah I think using a custom Query with aliases would help, especially for cases like `available` vs`availableForSale`. Also I think it would make sense to upgrade `gatsby-source-shopify` to the `2020-04` api.

[2020-07-02 05:37] apanagar commented on #20320
@kentmz I followed the suggestion, but just hit the same error somewhere else

[code]

[2020-07-02 05:43] kentmz commented on #20320
@apanagar You will need to make the change to this file as well. I've already mentioned in my comment. :)

[2020-07-02 05:45] apanagar commented on #20320
Ah got it. Thanks for letting me know, I wasn't sure if I was going down a path of lots and lots of changes 👍

[2020-07-02 05:51] apanagar commented on #20320
Actually, upgrading to node 10 using the instructions here solved my problem

https://www.gatsbyjs.org/docs/upgrading-node-js/

I was on node 8

[2020-07-02 05:54] LekoArts commented on #25453
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-07-02 06:00] LekoArts commented on #20413
I'll close this in favor of https://github.com/gatsbyjs/gatsby/issues/23729 as this has a reproduction and clearer description while being the same issue.

[2020-07-02 06:00] #20413 closed

[2020-07-02 06:01] LekoArts commented on #23729
From https://github.com/gatsbyjs/gatsby/issues/20413

[2020-07-02 06:07] LekoArts commented on #25455
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-07-02 06:08] LekoArts commented on #25462
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-07-02 06:10] LekoArts commented on #25054
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-07-02 06:10] #25054 closed

[2020-07-02 06:19] esped-dfds opened #25464 "gatsby-source-contentful: Performance problems with 100+ entries"
I'm looking into switching from gatsby-source-graphql to gatsby-source-contentful in order to better support incremental or conditional builds

In the process I've identified two performance problems. One is inside client.sync() https://github.com/gatsbyjs/gatsby/blob/5ad9582fa174c75c4ea67daf3e4e312c464a3421/packages/gatsby-source-contentful/src/fetch.js#L92 for which I created this issue with con

[2020-07-02 06:29] LekoArts commented on #25128
Hi, thanks for the issue!

I don't think that we'll fix this as the GraphQL playground always has been behind a flag (on purpose) and soon will be deprecated: https://github.com/prisma-labs/graphql-playground/issues/1143

The GraphiQL explorer that comes by default with Gatsby has more capabilities than GraphQL playground and soon will also have complete feature parity with it. We'll also remove t

[2020-07-02 07:13] ehannes commented on #14551
@pieh we still have this problem with `gatsby-plugin-sharp@2.6.10`. Are you sure this was actually resolved?

[2020-07-02 07:22] wardpeet commented on #25453
@Mohsin Ul Haq @t2ca
I cloned https://github.com/mohsinulhaq/react-popper-tooltip, weird that I didn't saw these issues earlier. I'm on it!

[2020-07-02 08:06] OPerel opened #25466 "`gatsby develop` crashes with latest versions of Gatsby and gatsby-cli"
## Description
Running `gatsby develop` isn't working with latest versions of Gatsby and the cli.
I know there's already a lot of issues similar to this one (e.g https://github.com/gatsbyjs/gatsby/issues/23214, https://github.com/gatsbyjs/gatsby/issues/24577, https://github.com/gatsbyjs/gatsby/issues/24589, https://github.com/gatsbyjs/gatsby/issues/24325, https://github.com/gatsbyjs/gatsby/issues/

[2020-07-02 09:05] wardpeet commented on #25466
Hey! Could you try and run `npm dedupe` just to see if it resolves your issue?

If not, yarn should fix it. We'll try to prioritize this fix.

[2020-07-02 09:15] pvdz commented on #25464
Very interesting!

I've looked at this `fixIds` function before but I'm not seeing the n^2 runtime you're seeing. I'll walk through it explicitly, also to verify I didn't miss anything. IIRC my conclusion was that it's just expensive because it walks every property recursively and there's no painless quick way to do that in JS.

This is the current state on master, except comments are mine for thi

[2020-07-02 09:16] pvdz commented on #25464
I should add, if `currentSyncData.entries` contains duplicate entries, then yes those will not be deduped and always visited. I don't expect that tot be the case..?

[2020-07-02 09:22] esped-dfds commented on #25464
I added some log statements and alreadyWalkedObjectRefs.size is rutinely > 10000 for our dataset. Considering fixIds is called for all entries it is getting pretty close to n^2

This may be due to how our data is connected in contentful where basicly every entry is connected to most of the website because we have type called url-slug which is used both for defining a page, but also when creating l

[2020-07-02 09:24] pvdz commented on #25464
I'd love to get rid of this fixids step entirely because it takes so much time for such a superficial update. I'm not familiar with Contentful's own model, or how it delivers it to us, so I'm unfortunately not in a position to give any insights into that.

[2020-07-02 09:26] OPerel commented on #25466
Hey! Thanks for the quick response.
I'm getting the same result after running `npm dedupe`...

Maybe it's worth mentioning that I also get an NPM vulnerability report with 922 vulnerabilities, all of them are caused by lodash. Don't know if that's got anything to do with it.

Thanks again!

[2020-07-02 09:26] pvdz commented on #25464
Maybe we can `data.replace(/sys: {id: ([^,}])/g, 'sys: {contentful_id: $1, id: ' + blabla($1) +'` or some hack on the input data set :D

[2020-07-02 09:26] esped-dfds commented on #25464
I'm not sure I understand the reason for it being there. Initially I expected id to be the contentful id. I don't know why we need both id and contentful_id

[2020-07-02 09:29] wardpeet commented on #25466
Could you run this `CI=1 gatsby build` or `CI=1 npm run build` just to narrow down the issue. If you're on windows you'll probably want to use [cross-env](https://npm.im/cross-env)

[2020-07-02 09:35] OPerel commented on #25466
I already tried it before, 'npm run build' works as expected.
Not sure what `CI=1` is for, but I just ran `set "CI=1" && npm run build` and everything works fine (I am on windows and didn't use cross-env).

[2020-07-02 09:38] pvdz commented on #25464
I'm going to see if we can get rid of this step entirely. Non-trivial and a breaking change (people can query the `contentful_id` field, so somebody will be doing that, so it's a breaking change) but that's not a big blocker. Thanks for putting this on my radar again.

[2020-07-02 09:41] esped-dfds commented on #25464
Great! I would think for most developers, they would only use `contentful_id` and not `id` if they need to hardcode an id since it is not obvious how to get the value for `id` (I believe some kind of deterministic guid)

[2020-07-02 10:06] esped-dfds commented on #24222
I've made a feature request to contentful so they

1: dont wipe cache for sync api(for full(100 entries) pages) since those should never change
2: reuse the response from sync?initial=true because any updated entries will just be added to the last pages

These changes make the difference between 150ms or 900ms IOW: 3 minutes or 15 minutes for 100k entries

In the meantime i'm using a local proxy w

[2020-07-02 10:56] entr commented on #25453
I wonder whether the fact that `gatsby-cli` is still using js-core@2 is a problem here?

[2020-07-02 11:02] cjjenkinson commented on #16321
Also confirmed the quotes or extra strings around your api token (locally or on deployed env vars) will trigger this error

[2020-07-02 11:19] barbalex commented on #19618
It seems that this issue is in our case caused by [react-contextmenu](https://github.com/vkbansal/react-contextmenu) when that lib is used server side: https://github.com/vkbansal/react-contextmenu/issues/284

[2020-07-02 12:04] sameersegal commented on #25466
I am getting a related error in my local as well as netlify.

**Error**
[code]

Repository:  https://github.com/sameersegal/vsb20

**Environment**
[code]

[2020-07-02 12:05] #24633 closed

[2020-07-02 12:05] #16985 closed

[2020-07-02 12:05] #16765 closed

[2020-07-02 12:22] pvdz commented on #25464
While this isn't landed, you could try something like https://github.com/gatsbyjs/gatsby/pull/25473

That's basically what you already had above.

[2020-07-02 12:24] pvdz commented on #25464
PS. you can do `gatsby build --verbose` to get the internal node counts. Will be printed during bootstrap (there will be another line after `createPages`). Can not be used together with `CI=1`. This might give you some insight into how the data is internally represented.

[2020-07-02 12:42] pawelBareja commented on #24854
"Temporary fix" does not work for me, I get this:
![image](https://user-images.githubusercontent.com/27962420/86360110-346be000-bc72-11ea-8077-33a4fda9aa20.png)

[2020-07-02 13:02] barbalex commented on #19618
@wardpeet

Sorry to say, I don't seem to have enough grey cells for that 😢
Maybe @b4stien does?

[2020-07-02 13:17] riccardolardi commented on #25466
Not sure if this is related but I'm getting an error on build: `error Couldn't find any versions for "babel-plugin-remove-graphql-queries" that matches "^2.9.10"`

It seems `babel-plugin-remove-graphql-queries` was updated a few hours ago but the update hasn't propagated to NPM yet since there the latest version is still tagged with 2.9.9.

[2020-07-02 13:24] barbalex commented on #20082
I am suddenly getting this when updating gatsby from v2.20.36 to v2.13.16.

I have absolutely no idea what could be wrong - after all: gastby-config.js has not changed. Only the gatsby version.

[2020-07-02 13:25] wesbos commented on #20082
post your gatsby-config

[2020-07-02 13:35] barbalex commented on #20082
The error is a bit different in that it refers to gatsby-plugin-offline:
[code]

So maybe I should create a new issue.

Here is my gatsby-config:
[code]

[2020-07-02 13:37] samuelgoddard commented on #25466
Also getting the `npm ERR! notarget No matching version found for babel-plugin-remove-graphql-queries@^2.9.10` error when trying to run `npm install` - also appears to be broken across all my Gatsby based Netlify builds :( - getting a few different errors but the main one seems to be the above and `error Couldn't find any versions for "babel-plugin-remove-graphql-queries" that matches "^2.9.10"`

[2020-07-02 13:40] lewismorris opened #25475 "No matching version found for babel-plugin-remove-graphql-queries"
## Description

When trying to run `npm install` with `gatsby: 2.23.16` the following error is outputted.

`No matching version found for babel-plugin-remove-graphql-queries@^2.9.10.`

### Steps to reproduce

`npm install --save gatsby@2.23.16`

### Expected result

NPM install should finish running.

### Actual result

NPM install errors.

### Environment

  System:
    OS: macOS 10.15.3
    CPU:

[2020-07-02 13:48] zhenwan commented on #25466
same here:
npm ERR! code ETARGET
npm ERR! notarget No matching version found for babel-plugin-remove-graphql-queries@^2.9.10.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'gatsby'

[2020-07-02 13:50] ascorbic commented on #25449
Tagging docs team to see if this needs clarifying.

[2020-07-02 13:52] stephencweiss opened #25476 "bug: starters are broken with yarn"
## Description

Describe the issue that you're seeing.

When following the documentation to create a new starter, example [gatsby-starter-blog](https://www.gatsbyjs.org/starters/gatsbyjs/gatsby-starter-blog/), the build process fails with the default `yarn`.

### Steps to reproduce

[code]

Note -- No minimum reproducible repo is provided because the problem is _with_ the minimum reproducible repo

[2020-07-02 13:53] ssshooter commented on #25475
![image](https://user-images.githubusercontent.com/13051472/86367386-73b82200-bcae-11ea-8a8f-ca303e73fe03.png)
Same situation

[2020-07-02 13:54] pieh commented on #25475
Thanks, on this right now - should be fixed soon. Sorry for the problem

[2020-07-02 13:55] zsolt-p commented on #20082
Seeing the same as @barbalex above https://github.com/gatsbyjs/gatsby/issues/20082#issuecomment-653009254
Neither our Gatsby (2.20.23) nor our Gatsby-plugin-offline version has changed (3.2.0)

[2020-07-02 13:55] barbalex commented on #20082
I have been stuck on gatsby v2.20.36 for two months now, because of this issue when upgrading: https://github.com/gatsbyjs/gatsby/issues/19618. That seems to be about the same time my gatsby-config changed significantly.

I wonder if there is a connection.

[2020-07-02 13:57] ascorbic commented on #25476
Hi. SOrry about this. It should be fixed imminently. See #25475

[2020-07-02 13:57] #25476 closed

[2020-07-02 14:00] stephencweiss commented on #25476
Thanks @ascorbic ! Sorry for the duplicate!

[2020-07-02 14:05] munwr commented on #24854
Did you set port as 8001... like this `gatsby develop -p 8001`

[2020-07-02 14:10] barbalex commented on #20082
When I uncomment gatsby-plugin-offline in gatsby-config.js, the error is same as others have posted, I think:
[code]

[2020-07-02 14:10] JustFly1984 commented on #20082
@wardpeet @ I'm getting this error while running build, rolling back to any previous version doesn't help, issue persists:

<img width="516" alt="Screenshot 2020-07-02 21 03 02" src="https://user-images.githubusercontent.com/2255993/86368499-706d6800-bca7-11ea-80f8-67a9f80cf087.png">

running in `gatsby develop -S` is working, affected only `gatsby build` pipeline.
Everything started after I have

[2020-07-02 14:15] barbalex commented on #20082
Same problem here. I have reverted to gatsby v2.20.36 but the actual issue persists

[2020-07-02 14:17] gabrielgiordan commented on #20082
I'm also having the same issue after upgrading `gatsby`, I think it's not related to `gatsby-config`, because it seems valid. Any clue on this?

[2020-07-02 14:27] akoudal commented on #20082
Also started seing this today.

Upgrading or downgrading gatsby does not appear to have any effect. Neither does gatsby cache clean or yarn cache clean.

[code]

[2020-07-02 14:29] barbalex commented on #20082
Yep, I have tried upgrading/downgrading/removing some plugins/gatsby cache clean/yarn clean/completely new install, all several times. Still happens though sometimes mentions gatsby-plugin-offline, sometimes only gatsby-node.js.

[2020-07-02 14:31] barbalex commented on #20082
Meanwhile I can't even develop any more without this issue preventing it 😢

[2020-07-02 14:32] mstingl commented on #20082
We just had the same issue.
After downgrading gatsby-cli to version 2.12.54 this error is no longer raised.

[2020-07-02 14:34] JustFly1984 commented on #20082
I've tested on another project, has updated everything, except latest gatsby 2.23.15, and build was working. As soon as I updated gatsby to 2.23.15, build has broken.
I've compared yarn.lock

<img width="831" alt="Screenshot 2020-07-02 21 32 23" src="https://user-images.githubusercontent.com/2255993/86372001-d0fea400-bcab-11ea-8e78-3cd869d05590.png">

[2020-07-02 14:37] thetoine commented on #25453
Actually, I had a build error yesterday linked to `yoga-layout-prebuilt`, which is used by `gatsby-cli` through `ink` according to my ```package-lock```. Also raising an `core-js` error.

[code]

[2020-07-02 14:38] PierreCrb commented on #20082
Works for me thanks ! ✅ ❤️

[2020-07-02 14:38] truumahn commented on #20082
Might be related to: https://github.com/gatsbyjs/gatsby/issues/25466

[2020-07-02 14:39] tomthornton commented on #25466
Same here, same error

[2020-07-02 14:41] riccardolardi commented on #25466
[https://www.npmjs.com/package/babel-plugin-remove-graphql-queries](url) just now updated to 2.9.11 let's see if that helps

[2020-07-02 14:48] gabrielgiordan commented on #20082
Also worked for me, thanks mate!

[2020-07-02 14:54] barbalex commented on #20082
Downgrading gatsby-cli from 2.12.55 to 2.12.54 resulted in my case in this error when running `yarn build`:
[code]

[2020-07-02 15:11] JustFly1984 commented on #20082
Ok, hear me out: I solved build issue with 3 steps:
- Found a commit before updating gatsby(2.23.14), copied yarn.lock, and replaced in current commit.
- in package.json added to resolutions "babel-plugin-remove-graphql-queries": "2.9.9"

[code]
and just replaced gatsby packages to this versions:
[code]
and only after that run `gatsby build` successfully

after that I have updated every gatsby plu

[2020-07-02 15:22] pieh commented on #25475
I just republished https://github.com/gatsbyjs/gatsby/commit/fa41d8a5bce683cddb3d271a09baed9ee25fe6b5 :

[code]

Something must have gone wrong in original publish, so I will leave this issue open even tho I republished

[2020-07-02 15:30] JustFly1984 commented on #20082
2.23.17 is working correctly with all packages and without pinning resolutions "babel-plugin-remove-graphql-queries": "2.9.9"!

[2020-07-02 15:38] pieh commented on #25475
@lewismorris Can you try again and let me know if issue was fixed?

[2020-07-02 15:40] barbalex commented on #20082
With:
- gatsby v2.23.17
- gatsby-plugin-offline v3.2.16
- gatsby-cli v2.12.56

dev mode works 🚀

but building errors:
[code]

[2020-07-02 15:43] marcelo-umg opened #25477 "I am unable to create pages dynamically using Gatsby."
I am using Gatsby on my project. I am trying to create a page which needs pagination.

I followed this https://www.gatsbyjs.org/docs/adding-pagination/ and this other guide https://nickymeuleman.netlify.app/blog/gatsby-pagination/ and how to do it but it is not working.

I have multiple queries on `gatsby-node.js`:
[code]

This is my React component:
[code]
I keep getting these errors:
[code]

If

[2020-07-02 15:50] ascorbic commented on #25466
@riccardolardi @tomthornton @zhenwan @samuelgoddard The babel plugin issue is different, and should now be fixed. See #25475

[2020-07-02 15:52] ascorbic commented on #24947
Hi. I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue. Thanks!

[2020-07-02 15:52] #24947 closed

[2020-07-02 15:54] ascorbic commented on #25151
@LordLalwani Can you confirm whether this is now working with the latest version of gatsby and the contentful plugin?

[2020-07-02 15:55] ascorbic commented on #25188
Hi. I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue. Thanks!

[2020-07-02 15:55] #25188 closed

[2020-07-02 16:02] spences10 commented on #25466
This is working for me now on the last update of the Gatby mono-repo

[2020-07-02 16:05] diegomadeit opened #25478 "Error running yarn install + gatsby build. ERROR #11321 PLUGIN. Error while running the createPages lifecycle: Reducers may not dispatch actions."
## Description

Since today 2nd July 16:00 CET when trying to run yarn install + gatsby build with gatsby 2.6.7 the following error is outputted. Codebase was not changed.

 ERROR #11321  PLUGIN

"gatsby-theme-style-guide" threw an error while running the createPages lifecycle:

Reducers may not dispatch actions.

  Error: Reducers may not dispatch actions.

  - redux.js:214 dispatch
    [build_bl

[2020-07-02 16:11] tombunn commented on #25478
Having the same issue. Unable to build:

`"gatsby-plugin-offline" threw an error while running the createPages lifecycle:

Reducers may not dispatch actions.`

[2020-07-02 16:16] pieh commented on #25478
Investigating

[2020-07-02 16:17] NickBarreto commented on #25477
Your GraphQL query is failing, so there aren't any nodes to create pages for in the `products` variable.

I'm not super familiar with using variables in GraphQL myself, but shouldn't you be passing an integer instead of `$skip` in the value for skip in the query?

[code]

[2020-07-02 16:23] brysbra commented on #20082
@barbalex, I'm experiencing the same thing. I'm not using `gatsby-plugin-offline` though.

15:40:44  success createPages - 0.001s
15:40:44
15:40:44   ERROR
15:40:44
15:40:44  UNHANDLED REJECTION Reducers may not dispatch actions.
15:40:44
15:40:44
15:40:44
15:40:44    Error: Reducers may not dispatch actions.
15:40:44
15:40:44    - redux.js:214 dispatch
15:40:44      [app]/[redux]/lib/redux.js:214