[2018-10-13 22:27] mrfoster commented on #9085
@moonmeister Thanks, I am not too sure either but it does work fine on the home page. Your comment has led me to simply add a noscript tag which does the job of getting a 100 score and I think we are all way past caring about browsers without javascript.

I added it to gatsby-ssr.js which I guessed was better than overriding html.js.

[code]

[2018-10-13 22:31] lemon-31 commented on #9091
Update:

I just found the state data located at:
[code]
I will close the issue in a few days to give anyone time to correct me if I'm doing this wrong.

Cheers,

Alex

[2018-10-13 23:27] KyleAMathews commented on #9089
Gatsby is writing out the data you add via context during the graphql stage as we combine the data from context and any graphql query at that time and write it out.

Could you compare your site to our create-pages benchmark as it seems like your site is a bit slower than I'd expect though the exact speed of different operations depend a lot of hardware and the site itself.

https://github.com/gats

[2018-10-14 00:07] ben-rogerson commented on #7862
Adding `"@babel/polyfill": "^7.0.0",` and following those instructions didn't work for me.
Adding core-js did work `npm install --save core-js`.

[2018-10-14 03:37] arcticicestudio commented on #7862
@ben-rogerson I should have updated my comment, because the error occurred again after I removed my `package-lock.json`. It looks like the dependencies haven't been resolved correctly, but ironically it worked after doing so. Sometimes `npm` is a mystery of rainbow unicorns  :roll_eyes: Also in mdx-js/mdx#271 the maintainer posted it didn't worked with `npm`, but when using `yarn` everything run f

[2018-10-14 05:35] moonmeister commented on #8697
I just build a plugin and the lack of docs has been obvious. Happy to help with this. Struggle points were mostly as have been mentioned. All plugins in the Gatsby repo use Gatsby build/lint/jest configs and thus it's hard to determining what config you need (I'm also new to using/configuring these things period). I'm also new to npm and struggled with realizing I needed to build before deploy and

[2018-10-14 05:57] appsolutegeek opened #9092 "Prismjs + line numbers: Line numbers not aligned with code"
## Description

PrismnJS: Line numbers in the gutter are not aligned with the code (on the X axis)

### Steps to reproduce

Follow the instructions for setting up the gatsby prismjs plugin. The only thing I have done is in my gatsby-browser - i do

[code]

here is the part of my config

[code]

### Expected result

The line numbers should be aligned with the line they represent

### Actual result

[2018-10-14 06:48] talolard opened #9095 "Changes to Typography.js aren't applied without server restart"
## Description

When following tutorial 2, [line 240](https://github.com/gatsbyjs/gatsby/blame/master/docs/tutorial/part-two/index.md#L240) implies we should be able to make a change to typography.js configuration and see the changes immediately.

This has not been working for us when following tutorial 2.

Additioanlly, we've tried "gatsby new " with the default starter, disabling layout.css and

[2018-10-14 07:48] lemon-31 commented on #9091
Thanks for the response.

I just tested by logging the `window.location` object to my console but I did not find the state data in it. I think that in the pull request linked below by "nsimonson" passed the location state data into the history object.

https://github.com/gatsbyjs/gatsby/pull/3802

So perhaps accessing the state data via `window.history.state` is the correct way for Gatsby.

Cheers

[2018-10-14 07:49] #9091 closed

[2018-10-14 08:32] Ehesp commented on #9089
Hey @KyleAMathews ,

The results are sub 20s (see below) for `build` on the create-pages benchmarking, however the same results also show when running `develop`. Even removing `context` from the `createPage` function causes the same issue.

Results are below for full build on `create-pages`:

build:
5000 - 14.624s
10000 - 17.442

develop:
5000 - 21.337s
10000 - 72.408s

[2018-10-14 09:07] tsmith123 opened #9096 "Cannot run gatsby build in Bitbucket Pipeline"
## Description

I cannot run 'gatsby build' on a Bitbucket Pipeline.

### Steps to reproduce

image: node:8.12.0

[code]

### Expected result

Locally, running `gatsby build` everything works fine. The pipeline should build in the same way as local

### Actual result

This error is in the `gatsby build` step:

![image](https://user-images.githubusercontent.com/7639854/46914688-a41ad280-cf98-11e8-9

[2018-10-14 09:42] hackhat commented on #309
@joshwcomeau completely agree with you, also I don't think is a good idea to run dev in browser only and build in node.js. The difference is so big, and as in DEV and PROD environment you want to make the environments as similar as possible, I think gatsby should do the same, run both dev and build in an environment that is as similar as possible.

[2018-10-14 11:47] janosh commented on #9068
@silvenon Thanks for the reply!

That reminds me I also wanted to ask is there a timeframe for [`gatsby-mdx`](https://github.com/ChristopherBiscardi/gatsby-mdx) to become an official plugin?

[2018-10-14 13:39] silvenon commented on #9068
That's also a question for gatsby-mdx maintainers. Personally, I don't think it will happen because gatsby-mdx has quite a lot of things going on under the hood in comparison to most official plugins.

[2018-10-14 15:33] F-DK commented on #4967
Thanks @pereiraryan and @fvcproductions, solved it for me as well.

[2018-10-14 17:37] musangowope commented on #8996
I've been experiencing problems relating to this issue. A fix would be much appreciated

[2018-10-14 18:00] #6221 closed

[2018-10-14 18:40] pieh commented on #8322
Opened PR with fix: #9101

[2018-10-14 18:41] pieh commented on #7251
Problem here is we don't create proper filter schema for mapped fields - we need to add support for that

[2018-10-14 19:00] sanyaswain commented on #4120
I'd like to take this up.

[2018-10-14 19:13] vadimshvetsov opened #9103 "How to use remark-bracketed-spans with gatsby-transformer-plugin?"
## Summary
I'm trying to bind [remark-bracketed-spans](https://github.com/sethvincent/remark-bracketed-spans/blob/master/index.js) with `gatsby-transformer-remark`. I'm really stuck with it about 3-4 weeks and can't understand why it's not working together. I've already asked this question at Discord and StackOverflow but nobody helps.
I've opened issue, even provided pull request, the history is

[2018-10-14 20:10] felipesere opened #9104 "Scoping GraphQL queries to folders"
## Summary

I am creating a personal page with a couple of "sub-sections" that I have split into folders:
* /blogs/
* /portfolio/
* /photography/

When I added some markdown files under `/portfolio/` they spilled over into my blogs.
I was wondering if I now have to always "scope" the queries via the slug like so:
[code]

### Environment (if relevant)

  System:
    OS: macOS 10.14
    CPU: x64 Int

[2018-10-14 20:22] oorestisime opened #9105 "Triggering deploy on netlify produces an error in transform nodes"
## Description

I ve upgraded my gatsby site to the latest version (was already in v2) and right now i can no longer trigger manually a rebuild on netlify since it fails with

[code]

### Steps to reproduce

Unfortunately i can't reproduce this locally. When i run gatsby build twice locally everything works. I am not sure if this has something to do with https://github.com/axe312ger/gatsby-plugin-

[2018-10-14 20:31] oorestisime commented on #9105
Hm i upgraded the netlify cache plugin and things are working again.

[2018-10-14 20:31] #9105 closed

[2018-10-14 21:30] braco commented on #6372
Agree this would be a nice source transformation. Inlining is difficult from headless CMSes, I'm having this problem with Wordpress right now. I would expand this topic to something more like "Inlining external SVG"

[2018-10-14 21:38] pieh commented on #7251
All right - here's is WIP working branch that enables filtering by mapped fields https://github.com/gatsbyjs/gatsby/compare/master...pieh:mapping-filter-schema - this need to be cleaned up and tests definitely need to be added (and maybe more tests need to be updated)

![screen shot 2018-10-14 at 23 37 37](https://user-images.githubusercontent.com/419821/46922491-2becf500-d00a-11e8-977f-4229c29432

[2018-10-14 21:40] KyleAMathews commented on #9089
Ah ok. So the reason for the difference is simply we've spent more time optimizing the data layer for builds as the intention is that you don't run all queries up front during development so their speed isnt as important. @pieh is working on a PR to do this actually.

[2018-10-14 21:53] pieh commented on #9104
You are correct with your "guess". Just using `allMarkdownRemark` will get all markdown entries, so for blog / portfolio listings you will need to use some kind of filter. Using `slug` will work here just fine

[2018-10-14 22:38] simonjoom commented on #8858
Hello , ok now the stable version inferno-v6 is out )) correctly tested
it's live with my gatsby repo published here: https://www.ski-courchevel.deals  ))

[2018-10-14 22:50] pieh commented on #9103
Try using something like this in your `gatsby-remark-bracketed-spans` plugin:
[code]
you were just setting parser plugins - but you don't actually want to parse anything, but transform

[2018-10-14 23:13] bluefig99 commented on #8838
Kyle , did you get a chance to look in to this issue.

Thanks
Aravind

[2018-10-14 23:48] KyleAMathews commented on #8838
No not yet. @kakadiadarpan can you validate @bluefig99's reproduction?

[2018-10-15 00:03] pfftdammitchris commented on #8237
This seriously should be solved.

[2018-10-15 00:11] shanekenney commented on #8905
@KyleAMathews correct. Terser does take opportunities to use more compact syntax if the ecma version allows it. E.g. Shorthand object properties raised in issue #9034

Here's the test documenting it:
https://github.com/terser-js/terser/blob/master/test/compress/object.js#L111

[code]

[2018-10-15 04:57] KevinMongiello opened #9110 "Production / Development discrepancy. Using react-background-slideshow."
## Description

I'm using this React tiled image slider package:
https://github.com/transitive-bullshit/react-background-slideshow
When I run in dev it works fine
`gatsby develop`

However, When I run it in production the images don't transition and remains on the first image.
`gatsby build && gatsby serve`

### Steps to reproduce
Clone the repo & install.  Run in dev & watch background change eve

[2018-10-15 06:02] KyleAMathews commented on #8905
Cool! Great to know. Could someone PR a fix?

[2018-10-15 06:29] bluefig99 opened #9111 "production versus development environment discripencies. Website is not functioning properly when refreshes"
## Description

The website behaviour in production is not same as the behaviout in development environment. In the development environment, all the pages are in the pages folder. So, when the page is refreshed, it will be loaded properly.

In the production environment , All the pages except index.html are placed in folders. So , when the page is refreshed, the page is not loaded. We are using cl

[2018-10-15 07:37] Ehesp commented on #9089
Thanks - makes sense, it's only the initial boot time on dev which is a pain.

@pieh do you have a PR link?

Cheers guys

[2018-10-15 07:42] IMBurbank opened #9112 "How to Enable Resource-Responsible Polling for When inotify Won't Work"
It's a known issue on Docker for Windows that [inotify does not work](https://docs.docker.com/docker-for-windows/troubleshoot/#volumes) on shared volumes. This means that running `gatsby develop` in a docker container and editing the files locally will not trigger webpack-dev-server updates.

I came across this issue while working on [GatsD](https://github.com/IMBurbank/gatsd), a lightweight tool

[2018-10-15 09:13] adrienpoly commented on #5667
I am having a similar FOUC problem with Gatsby 2 and Material UI.

my gatsby-srr.js file is similar to @pdhodgkinson recommendation
[code]

in development, I don't have any FOUC problem only when I build and serve the production files.
after doing some investigation I was able to remove the FOUC effect by turning of the offline support in my `gatsby-config.js`.

I have tried to play a bit with the

[2018-10-15 10:20] muhajirframe commented on #8612
Same issue

[2018-10-15 10:41] pieh commented on #9089
@Ehesp I didn't create PR yet - check this comment to see status https://github.com/gatsbyjs/gatsby/issues/7348#issuecomment-427793635 and demo of how it would work

[2018-10-15 10:42] #9077 closed

[2018-10-15 10:47] Ehesp commented on #9089
Nice one - I'll keep track over there. Thanks for the help.

[2018-10-15 10:47] #9089 closed

[2018-10-15 10:57] Luke93dev opened #9115 "Error while using "gatsby develop" command for starters"
## Description

Hello :) I'm new to GatsbyJS and I wanted to use some starter to begin with, but each time I get the same error while using "gatsby develop" command after creating new project using starter.

### Steps to reproduce

Error below comes from gatsby-starter-default. I installed Gatsby CLI globally, then created project using "gatsby new project_name" command and got an error while usin

[2018-10-15 11:05] JanLenoch commented on #8053
Hi @pieh , I found a semi-hacky way of passing plain objects to Gatsby while still being able to utilize our JS SDK at the same time. We're currently doing a peer review of my PR that brings the plain objects. In the mid-term future, it would still be great if Gatsby supported class instances. That way, we could avoid this semi-hacky solution. I'll close this one for now and I'll file a new issue

[2018-10-15 11:05] #8053 closed

[2018-10-15 11:11] JanLenoch opened #9117 "Allow class instances to be passed onto Gatsby"
## Summary

Currently, only plain JavaScript objects can be passed onto Gatsby's `createNode` API method. When a class instance is passed, Gatsby build will fail with an "Unknown field … on type …" GraphQL error (#8053).

### Motivation

Our [headless CMS](https://kenticocloud.com) has a solid [JS SDK](https://github.com/Enngage/kentico-cloud-js) that works with class instances by default. We'd li

[2018-10-15 11:55] pieh commented on #9055
That's because `gatsby build` is producing static html files and to serve them you don't really need special server - anything that can serve static files will be fine. To have it run like that you would need to run `gatsby build` when your content changes on wordpress backend (instead of hitting `/__refresh` endpoint), but if you are running `gatsby build` and `gatsby serve` on same instance that

[2018-10-15 12:03] AlmeroSteyn commented on #7003
@KyleAMathews Sorry to be an utter pain here. Don't want to be THAT developer but I have no idea currently how to fix this issue aside from turning off uglification.

The project I am using Gatsby in for an accessibility company, so using Gatsby in our own products would be a great push for the accessibility possibilities of the tool itself.

However, not working in IE11 could very well be a deal

[2018-10-15 12:04] pieh commented on #9062
Maybe just using proxy polyfill would be easy way out of it - something like https://github.com/GoogleChrome/proxy-polyfill?

As for `[If !IE]` you would probably need to adjust `html.js` as you suspected and use something like https://zhenyong.github.io/react/tips/dangerously-set-inner-html.html so react just render strings there. Not sure if this will really work, but worth a try I think

[2018-10-15 12:10] pieh commented on #9065
You definitely can - in fact our example is using root path and not subfolder: https://github.com/gatsbyjs/gatsby/tree/master/examples/client-only-paths

[2018-10-15 12:10] #9065 closed

[2018-10-15 12:30] aslafy-z commented on #9115
For reference:
- https://github.com/gatsbyjs/gatsby/issues/8189
- https://github.com/gatsbyjs/gatsby-starter-default/issues/46

[2018-10-15 13:05] #8322 closed

[2018-10-15 13:10] Siregar opened #9119 "i18n with different Markdown files"
👋
Hi,
I am working on a new Gatsby project and want to implement i18n.
My plan was to store the content in multiple markdown files (**de** and **en**). Routes like `/de/product1` and `/en/about` should be available.

My folder structure for the content looks like this:
- content/
  - pages/
    - index.en.md
    - index.de.md
    - about.en.md
    - about.de.md

  - products/
    - product_1.en.md

[2018-10-15 13:13] m-allanson commented on #6785
@marisamorby's decision flowchart from #8415: https://whimsical.co/5bsueDnUNG2K7qQDZKYTGQ

[2018-10-15 13:14] m-allanson commented on #8415
I've posted the whimsical link to #6785, closing. Thanks!

[2018-10-15 13:14] #8415 closed

[2018-10-15 13:17] smakosh commented on #9119
you can add a `language` property to the front matter of each markdown file and handle the rest with graphql queries.

[2018-10-15 13:17] pieh commented on #9112
I thinkg we need to use `CHOKIDAR_USEPOLLING` env var here - also see https://www.npmjs.com/package/chokidar#performance for implication of that

[2018-10-15 13:19] smakosh commented on #9087
Same here

[2018-10-15 13:32] pieh commented on #9087
Right now workflow is like that - when there is SW update, gatsby will just set flag to reload page on next navigation (so it doesn't refresh itself which would cause weird UX)

You can hook into [`onServiceWorkerUpdateFound browser API hook`](https://www.gatsbyjs.org/docs/browser-apis/#onServiceWorkerUpdateFound) in `gatsby-browser.js` if you want to display custom message, so users are aware of

[2018-10-15 13:35] DSchau commented on #8821
@travi I think I'll work on this today. Should be a fairly minimal/easy change!

[2018-10-15 13:36] pieh commented on #9092
@phacks any clues about that?

It seems like some styling miss-alignment, but I don't have any context on that :/

[2018-10-15 13:39] DSchau commented on #9092
@appsolutegeek if you try downgrading to e.g. `gatsby-remark-prismjs@3.0.0-beta.6` does that solve the issue?

[2018-10-15 13:43] appsolutegeek commented on #9092
Hi, @DSchau

I just installed the recommended versions (beta) and i ran gatsby develop - same issue.

[2018-10-15 13:44] DSchau commented on #9092
@appsolutegeek that's actually "good," it's not something we introduced recently then. Thanks for confirming! I can take a look at this in a bit!

[2018-10-15 13:45] appsolutegeek commented on #9092
Great!, Thanks.. If you need me to test anything, just shout.

Or if you need me to provide more info.

[2018-10-15 13:49] pieh commented on #9117
Some context for this - this check https://github.com/gatsbyjs/gatsby/blob/eb7648c9e6716772608358e534b0267239c0d1dc/packages/gatsby/src/schema/data-tree-utils.js#L174 would need to be changed to be smart enough to allow class instances, but blacklist at least some of them (like Date, Number, Array, Map, Set, WeakMap, WeakSet, Promise, ArrayBuffer)

[2018-10-15 13:57] vsaarinen commented on #7003
Echoing the sentiment. I finally had the time to upgrade our website to Gatsby 2, but am unable to merge the changes since the site now doesn't work on IE11.

I can also try to help if there's anything I can do to track down the issue.

[2018-10-15 13:59] pieh commented on #9039
Can you show how example markdown file that reference Uploadcare looks like?

I think we could make at least inline images work with remote sources in `gatsby-remark-images`:
in here https://github.com/gatsbyjs/gatsby/blob/eb7648c9e6716772608358e534b0267239c0d1dc/packages/gatsby-remark-images/src/index.js#L226 we skip checking if it's relative path and move that check to `generateImagesAndUpdateNo

[2018-10-15 14:03] aamorozov opened #9121 "Gatsby serve | Styles are not loaded on initial site load"
## Description

Currently, when running `gatsby build && gatsby serve` and navigating to the page where the site is being served, some of the styles are not loading initially. However, if I navigate to any page within the app - it loads all the styles correctly. I am trying to isolate which exactly styles are not loaded, but there are no console/network errors at the moment.

I am using jsxstyle.

[2018-10-15 14:14] pieh commented on #7003
I've just checked www.gatsbyjs.org on IE11 and it works (built with `gatsby@2.0.21`. So we probably need some reproductions to pinpoint where and why this is happening and determine if this is something we can try to fix

[2018-10-15 14:40] DSchau commented on #9121
@aamorozov would you be able to put together a reproduction? It really helps us dive in much more quickly, and it's a big time saver for us.

Thank you!

[2018-10-15 14:42] aamorozov commented on #9121
Sure - I'll create a setup matching to my project as close as possible during the day @DSchau

[2018-10-15 14:46] DSchau commented on #9121
Thanks so much! I do feel like there are similar issues to this, so we may merge this issue with one of those once we learn more!

e.g. see #1836

[2018-10-15 14:50] pieh commented on #9111
Just to clear things up - `gatsby develop` doesn't produce any html files other that one main `index.html` that doesn't have actual content and just links to script bundles - all the rendering is happening purely on the client there.

But about the issue - it's weird that cloudfront + S3 doesn't handle that - https://www.gatsbyjs.org/blog/2018-08-24-gatsby-aws-hosting/ this doesn't mention any spe

[2018-10-15 15:01] DSchau commented on #9111
@bluefig99 isn't the issue here index document support? [My blog](https://blog.dustinschau.com) is hosted with S3 + Cloudfront, and I specifically remember having to set up something special to get, e.g. `some-folder/index.html` to be routed to successfully.

See [configuring index documents](https://docs.aws.amazon.com/AmazonS3/latest/dev/IndexDocumentSupport.html) for more info!

I probably woul

[2018-10-15 15:07] AlmeroSteyn commented on #7003
@pieh I am unable to create a simple reproduction of the issue. Tried the usual suspects but they are not creating the issue.

From the issue I thought this was a more general problem.

Will need to completely break apart the component where this is going wrong. So will dig into that later.

[2018-10-15 15:15] Coriou commented on #9062
Hey, thanks for taking the time to take a look at this.

However, Google's polyfill doesn't support all of proxy's traps and unfortunately won't help me. I still have the option to downgrade MobX, but since I don't really care about IE I chose the "display a message" route. But yeah, ideally, a polyfill would have been what I would have chosen.

As for HTML comments, React requires a wrapper to us

[2018-10-15 15:18] phacks commented on #9092
@appsolutegeek Hi! I can have a look at this by tomorrow, I’ll keep you informed 😊

[2018-10-15 15:34] DSchau commented on #9062
@pieh also recommended using [`onClientEntry`](https://www.gatsbyjs.org/docs/browser-apis/#onClientEntry). This is a great place to test out the above script and see if it works for you!

[2018-10-15 15:42] DSchau commented on #4921
See #9075 for the implementation of this. Can merge when it's merged!

[2018-10-15 15:45] pieh commented on #9083
At this moment it's not possible to do incremental builds. It's definitely something we will want to support but it's not trivial to do as currently all code expects that everything is built when running `gatsby build`.

Here's open issue for that https://github.com/gatsbyjs/gatsby/issues/5002, so I'll close this to not have multiple open duplicate issues

[2018-10-15 15:45] #9083 closed

[2018-10-15 16:46] phacks commented on #9092
@appsolutegeek I was able to reproduce the problem, by omitting to include the additional CSS used for line highlighting.

Could you please try to add the following (taken from the gatsby-remark-prismjs docs) to your `layout.css` ?

[code]

and see if it fixes the misaligned line numbers?

[2018-10-15 17:02] phacks commented on #8900
This issue seems to be resolved, can it be closed @pieh? Happy to do it myself (on this one and possible others) but wanted to check with you if I could.

[2018-10-15 17:10] appsolutegeek commented on #9092
Great! That worked. I placed all the CSS in my project and the line numbers were aligned BUT of course, it overrode my theme colours. So, I placed the background-color as 00000 (black) which matches the theme I imported.

So - thanks it does work!

Is this a workaround that we need to always have or is it something that will be fixed in an upcoming version?

Thanks in advance

[2018-10-15 17:14] KevinMongiello commented on #9110
Thanks for your message, I'll use your "window check" workaround for now.

Can you explain what you mean by

...

It seems to be working fine now using the "window check".

[2018-10-15 17:15] braco commented on #7465
Chatting about this here, just FYI:

https://github.com/crossfield/gutenblock/issues/13

[2018-10-15 17:32] DSchau commented on #8998
It sure can! I have an example [here](https://github.com/DSchau/speaker-signup) where I create a Gatsby application that renders Github issues, and then once the app is launched, it adds a listener to Github's GraphQL API with apollo.

Check it out! In particular, the [gatsby-ssr][gatsby-ssr] is probably most helpful. Additionally, I'd recommend checking out #3650, as the question is relatively si

[2018-10-15 17:32] #8998 closed

[2018-10-15 17:40] sarahannnicholson commented on #7003
@AlmeroSteyn I found that

Didn't work for me as well.

You mentioned

Myself and others have had success running locally by following these instructions https://github.com/gatsbyjs/gatsby/issues/7003#issuecomment-424960907 . Have you given it a try?

[2018-10-15 17:43] DSchau commented on #817
Just to chime in here, we'll also want to consider XTerm compatible output (e.g. linux compatibility without weird, special characters) with whatever logging solution we bake in. I'd definitely like to make in some improvements to the CLI logging as part of these changes, and getting improved logging for Preview kinda dovetails alongside this issue.

The requirements as I see them are basically a

[2018-10-15 17:51] IMBurbank commented on #9112
Thank you for the quick response, @pieh

I read what I could about find about chokidar with Gatsby, including [#3043](https://github.com/gatsbyjs/gatsby/issues/3043).

I tried the simplest implementation - exporting `CHOKIDAR_USEPOLLING=1` into the dev environment. But it didn't seem to start the polling.

What's the best way to set the chokidar options in a Gatsby project?

So far in my fiddling,

[2018-10-15 18:00] KevinMongiello commented on #9110
@DSchau Let me make sure I have it straight:

1) In theory, an image slider (like `react-background-slideshow`) should be possible to accomplish  with ssr/gatsby, and the process would be similar to one you explained in your comment:

2) For whatever reason, this is not working in my specific case just because `react-background-slideshow` is "not ssr friendly".

Is that what you're saying?

[2018-10-15 18:02] DSchau commented on #9110
Yep!

It seems like that "whatever reason" is because of window reliance, but not entirely sure what the issue is! A question for one of the maintainers over there, for sure!

[2018-10-15 18:06] TylerBarnes commented on #9077
This issue was opened based on my comment in another issue but this issue doesn't actually solve the problem I was having there. Should this be closed?

[2018-10-15 18:20] stjepangolemac commented on #9039
Here is the example image from the markdown that is uploaded with Uploadcare widget from the netlifycms admin panel.

[code]

Did I paste the right thing or you need something else?

[2018-10-15 18:51] anderskitson commented on #9074
Yes I did try that already, and no luck.

[2018-10-15 19:00] intelligence commented on #7737
Seeing this issue aswell. While browsing the site, activeClassName will get applied. But loading any page (besides index) directly and it will append "/" to the slug and activeClassName won't get applied.

[2018-10-15 19:06] braco opened #9127 "Minimize CSS names from any source"
It would be nice if Gatsby could compress/minimize CSS classnames from any source. This seems possible since Gatsby usually has full control over the entire site, correct?

Here's one project doing that, but no Webpack support:
https://github.com/JPeer264/node-rename-css-selectors

[2018-10-15 19:20] AAverin opened #9128 "Input form with results"
I have a nodejs async module that would get the array as input, talk to some APIs and produce array of  results.
Is it possible to build a somewhat dynamic UI for this module?
I need an input field where user would enter some data, press the button, wait for results to be delivered and see them on the screen.

[2018-10-15 19:49] phacks commented on #9092
@appsolutegeek From my own testing, it looks like most (not all) of the additional CSS is currently required to have a proper layout when enabling line numbering — even when line highlighting is not used.

I see two options: I could update the docs to reflect this, or try and build a minimal CSS setup that would work for line numberings only and add it to the docs.

@pieh @DSchau any thoughts abou

[2018-10-15 20:05] DSchau commented on #9092
@phacks what are you thinking? It seems like it's [documented][gatsby-remark-prismjs], but clearly we can do more here.

I think we should do both :) Would be helpful to have more focused line-number styles that work outside of other styles, and then document that approach!

[gatsby-remark-prismjs]: https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/#optional-add-line-highlighting-styles

[2018-10-15 20:07] Luke93dev commented on #9115
I created project in different location and it works :) This may be the reason, path which don't include non-latin characters. Thanks for reply

[2018-10-15 20:07] #9115 closed

[2018-10-15 20:16] appsolutegeek commented on #9092
My 2 cents here, when I applied the fix, all worked well but it overrode the background-color which i assumed came from the valid theme i imported .. I did remove the background-color completely but this didn't seem to work. The only thing I could do was apply the background-color back to the original that came from the theme.

It's not a problem, i know about it - but would be nice if it didn't o

[2018-10-15 20:34] #8821 closed

[2018-10-15 21:20] pieh commented on #9127
Pretty interesting - will this package work with dynamic class name generation you can do in react?

[2018-10-15 21:28] DSchau commented on #8900
@phacks good call!

Thank you @fhavrlent for the fix!

[2018-10-15 21:28] #8900 closed

[2018-10-15 21:44] DSchau commented on #9005
@yeskunall I think I like your thinking there! Let's keep the separate "duplicate" deploy documents, because it gives us an avenue to fully flesh out and provide more detail in those separate documents. Then we can follow an approach of keeping the deploy document itself _light_ and focused, while also providing a means to learn more with more fully-fleshed out documentation.

Sound like something

[2018-10-15 21:55] elliotrpmorris commented on #8806
Nope no out put at all quite stuck on why it is not working. As i run the shell script via command line it works but via the php function it doesnt, but i can get it create a file via the php function for example.

[2018-10-15 21:58] yeskunall commented on #9005
Oh yeah, I'd love to take that up. Hopefully I can get it in before Tuesday (tomorrow) night. You're not gonna believe this @DSchau, but I have another midterm tomorrow. Haha 😅

Thanks for the feedback! I'll get started on it and ping you guys when I've made substantial progress.

💖

[2018-10-15 21:59] HriBB commented on #8237
@pfftdammitchris you are welcome to help ;) I'm pretty busy ATM, so I cannot focus on stuff that does not pay the bills. If someone can figure out where and what to fix, that would be a big step towards the solution. From what I understand, it's not yet clear where the problem is: Gatsby, MaterialUI, React Hot Loader or a combination.

For sure it is related to https://github.com/gatsbyjs/gatsby/i

[2018-10-15 22:17] #8943 closed

[2018-10-15 23:08] josekhon opened #9134 "Passing state to route through navigate"

[2018-10-15 23:35] josekhon commented on #9134
Also, how would I be able to access that state if successfully passed in the page that generates the search route.

[2018-10-15 23:44] braco commented on #9127
Not sure, but I would assume

Paging @JPeer264

[2018-10-16 00:01] pieh commented on #4799
This was fixed in gatsby v2 by, so I'm closing this issue

[2018-10-16 00:01] #4799 closed

[2018-10-16 00:01] #7385 closed

[2018-10-16 00:09] kaumac opened #9136 "Gatsby+Redux: SSR "rehydrate" doesn't update the content properly."
## Description

Let's say you have the following conditional blocks:

[code]
On the SSR stage `count` will be undefined, so a falsy value and the green div will be rendered. But after gatsby "rehydrates" (the JS kicks in with Redux) then `count` is defined, so you should get the red div, instead, the green div remains, and only the inner content is updated, so you end up with the green wrapper div

[2018-10-16 00:13] pieh commented on #9136
We use `ReactDOM.hydrate` which mentions that "gotcha" - https://reactjs.org/docs/react-dom.html#hydrate:

[2018-10-16 00:42] chasemccoy opened #9137 "Serving site from a sub directory"
I have a general question about Gatsbg relating to a bug that I’m running into.

I would like to serve a Gatsby site from a Netlify deployment at a URL like `site.netlify.com/subdirectory`. I’ve configured Gatsby to use a path prefix of `subdirectory` and I’m building the site with prefix paths enabled.

I’m my postbuild script I am moving the files in `public` to `public/subdirectory`. The site i

[2018-10-16 00:48] #4921 closed

[2018-10-16 01:46] AryanJ-NYC commented on #1732
@NhielSalvana I didn't use one and I successfully got it to work. My `Layout.js` looks something like:

[code]

theme/default.js
[code]

And I wrap `<Layout>` around all pages.

Good luck!

[2018-10-16 01:47] dustinhorton commented on #5458
@pieh did you happen to write something to allow for v1 behavior? have multiple projects where this change is causing some pain.

[2018-10-16 01:54] hackhat opened #9139 "Google analytics tracks pages, but not always the path and the title are from the same page. Sometimes a visitor visits "/" but the title of another url."
## Description

Google analytics tracks pages, but not always the path and the title are from the same page. Sometimes a visitor visits "/" but the title of another url.

Looks like the url is correct but the title is from the previous page I've seen. I'm using `import { Link } from 'gatsby'` for the links.

### Steps to reproduce

Created default app:

Add Google analytics script:

    {
      re

[2018-10-16 01:58] ammarbinfaisal commented on #9095
The same is happening with me when I am using plain css/sass
And I am have Ubuntu 18.04, browser is chrome 69 and node version is 10.8.0

[2018-10-16 02:27] josekhon opened #9140 "Expected an assignment or function call"
I've posted my code below. Basically I'm trying to call two functions on Submit, and I keep getting this error. It goes away when I get rid of this.search in my onSubmit. But without it I can't execute my search. And after my search, I'm trying to do a programmatic navigation to /search route. I appreciate any help.

[code]

[2018-10-16 02:52] nicomfe commented on #5888
+1

[2018-10-16 03:07] #9134 closed

[2018-10-16 03:28] bluefig99 commented on #9111
I do not prefer lambda option as well because it introduces another dependency , latency and also cost associated to it. it is very ideal to fix this in code itself.

[2018-10-16 04:29] JPeer264 commented on #9127
I am not quite sure what you mean with dynamic class name generation. But the core library [`rcs-core`](https://github.com/JPeer264/node-rcs-core) is pretty flexible and single class or id names can be set and get on the fly with `rcs.selectorLibrary.get()` or `rcs.selectorLibrary.set()`.

[2018-10-16 04:52] hackhat opened #9141 "Some `<p/>` elements have no className when build only on homepage "/", but works if you change page and come back"
## Description

Some paragraphs are rendered just as `<p>text</p>` instead of the p with the class from emotion-js.

### Steps to reproduce

Add config:

    `gatsby-plugin-emotion`,
    {
      resolve: `gatsby-transformer-remark`,
      options: {
        plugins: [
          {
            resolve: `gatsby-remark-images`,
            options: {
              // It's important to specify the maxW

[2018-10-16 05:10] AlmeroSteyn commented on #7003
@sarahannnicholson I dunno what I did the previous time around and which one of the fixes for IE11 dev mode I tried but yours works. Thank you!!!

I now have the same situation as you, works in dev, not in prod.

Gonna see this morning if I can narrow it down adding some realtime functionality works and others don't.

[2018-10-16 05:37] AAverin commented on #9128
Even if I run my module on a lambda function, I still need user input.
It's kind of like search, where user would enter something in the search field and get results, except I can't pre-cache responses in the index and query them – response is completely dynamic.

Any examples on how to do such thing in Gatsby?

[2018-10-16 06:55] xyy94813 opened #9142 "[Gatsby-plugin-less]Support override the default options of css loader"
## Summary

Gatsby-plugin-less support override the default options of css loader. Such as `localIdentName` and `camelCase`.

### Basic example

in `gatsby-config.js`:
[code]
### Motivation

The default css loader options provided by Gatsby will set camelCase is `true`.
But the third-party lib we reference does not use `camelCase` and we need to reference its `less` file.

For example, use `antd`

[2018-10-16 07:34] muukii opened #9143 "[Gatsby v2] In TypeScriprt, module keyword can't compile."
## Summary

[Gatsby v2] In TypeScriprt, module keyword can't compile.

I know `namespace` are not supported with `babel-plugin-transform-typescript`.
So, I've changed `namespace` to `module`, but build has still failed.
How to fix this?

[code]

## Relevant information

### Environment (if relevant)

  System:
    OS: macOS 10.14
    CPU: x64 Intel(R) Core(TM) i7-7567U CPU @ 3.50GHz
    Shell: 5.5

[2018-10-16 08:59] iaindurie opened #9144 "GraphQLError: Cannot query field "allWordpressPost" on type "Query"
## Description

I have a Wordpress ACF post object which allows me to link to posts from other posts. If I link to the same post more than once (i.e if I link to "Post 1" from "Post 2" as well as "Post 3", using the same acf field), I get the following error when running gatsby:

'GraphQLError: Cannot query field "allWordpressPost" on type "Query". Did you mean "allWordpressTag", "allWordpressWpUs

[2018-10-16 09:56] brod-ie commented on #5002
@KyleAMathews 5K is cute but we need 1M 😉

[2018-10-16 10:36] Tawfiqh commented on #5002
If we want to compile parts of the site separately, we can set flags on build so that gatsby-node knows only to generate the parts of the site specified. We could then add back in the *previously* generated static files. This works for us as long as we link to the previously generated files with a basic `<a href>` as opposed to a `<Link to >`.

I'm wondering if we can make `<Link to>` work when li

[2018-10-16 11:04] pieh commented on #9112
Would running `CHOKIDAR_USEPOLLING=1 gatsby develop` work? I must say I didn't try it, just something I remember was used and reported to work

[2018-10-16 11:09] anilbhanushali opened #9145 ""gatsby-plugin-offline@2.0.6" is exporting a variable named "onPostPrefetc hPathname" which isn't an API"
I am following the tutorial to add offline support https://www.gatsbyjs.org/tutorial/part-eight/#add-offline-support

While building site using `gatsby build` I am getting below error. As mentioned in error, there is no exported method called "onPostPrefetchPathname" in browser-apis. may be this was renamed in version 2.0

[code]
Below is the environment info
[code]

[2018-10-16 11:35] pieh commented on #7003
@AlmeroSteyn Would you be able to apply changes from https://github.com/gatsbyjs/gatsby/pull/9135 to your gatsby (in `node_modules/gatsby/dist/utils/webpack-utils.js` - it will be transpiled, so might be hard to read - but you should find `terserOptions` there) and see if it fixes it? This PR port setup from create-react-app, so possibly this is the problem we have.

[2018-10-16 11:37] gaaabor commented on #9145
I have exactly the same, i just wanted to post the issue.

[2018-10-16 11:38] pieh commented on #9137
Do you perhaps use `gatsby-plugin-catch-links`? There is issue with pathPrefix right now ( https://github.com/gatsbyjs/gatsby/issues/8907 with this plugin)

[2018-10-16 11:51] pieh commented on #9140
You are not calling search function here - try changing:
[code]

[2018-10-16 11:51] AlmeroSteyn commented on #7003
@pieh Oh that fixes it alright! Awesome!

If I apply those settings, my production app works with minification and has a clean console.

Please merge :-)

[2018-10-16 11:53] Coriou commented on #9062
Hey. Just a little follow up on this issue :

- I found out that `onClientEntry` isn't guaranteed to run first, using this hook didn't help me because `html.js` was already rendered by the time I ran my code and the JS was crashed on IE. Maybe I'm doing something wrong here, but it seemed pretty straight forward

- I tried using usual logic in `html.js` to implement my own version of this hook : i

[2018-10-16 11:54] JanneVincit commented on #8301
I can confirm the same error message in our project. The difference is that I haven't been able to fully isolate the issue on my part yet. Though this issue is so far the only one, that might give me a hint on the issue.
The error on our project comes randomly, not on every build. I removed the tracedSVG fragment, from the code and so far it seems to work more reliably, but in my case as I'm not a

[2018-10-16 12:07] pieh commented on #9141
Could you put together minimal reproduction site and post link to repo?

[2018-10-16 12:13] pieh commented on #9142
Would You be interested in opening PR that adds that option? Here's walkthrough what's needed:
https://github.com/gatsbyjs/gatsby/blob/341034f9fae5b375ddfac2d273d145160ecf3e68/packages/gatsby-plugin-less/src/gatsby-node.js#L5
add something like `cssLoaderOptions` which defaults to empty object `cssLoaderOptions = {}`,
And then apply those option when we specify css loader for less rules:
https://g

[2018-10-16 12:16] pieh commented on #9143
@resir014 Do you have any suggestions for this issue?

[2018-10-16 12:21] pieh commented on #9144
[code]
It seems like this is problem in wordpress ACF Rest API plugin and there's nothing that gatsby can do about it.

It just fails to provide response to REST request for posts data. This should be reported in https://github.com/airesvsg/acf-to-rest-api

[2018-10-16 12:28] pieh commented on #9140
Maybe you could move
[code]
from `onSubmit` handler to your search function and not use `this.state.results` at all there?

[2018-10-16 12:30] rtm619 commented on #7003
@pieh I applied the changes from PR #9135 too and it definitely fixed it for me as well. My app's working fine in IE 11 with no console errors. :)

[2018-10-16 12:37] josekhon commented on #9140
@pieh I could try, but I needed a way to pass props to a route since Gatsby is using react router under the hood. I'm not sure how else to have the search results array available at the route /search without passing it in that way.

[2018-10-16 12:45] pieh commented on #9140
What I mean is something like this:
[code]

[2018-10-16 12:50] pieh commented on #9140
Please check `react`'s `setState` function docs: https://reactjs.org/docs/react-component.html#setstate

When You use `this.setState` to set results in your `search` function it doesn't update state immediately - it enqueue state update. That's why when you use `this.state.results` immediately after using `setState` it doesn't have `results` updated (yet).

[2018-10-16 12:55] #9140 closed

[2018-10-16 13:10] romulomachado commented on #9142
I'd like to work on this if @xyy94813 can't.

[2018-10-16 13:32] resir014 commented on #9143
@muukii @pieh `module`s and `namespace`s cannot be compiled, as it's a limitation to the babel compiler that we use. See: https://babeljs.io/docs/en/babel-plugin-transform-typescript#caveats

I'd suggest refactoring them to use ES6 modules.

[2018-10-16 13:43] resir014 commented on #9143
Nevermind, I lied. Normally I'd say both modules and namespaces behave the same and therefor should normally work, but I didn't see that `module { }` was the recommended path in the babel doc.

I'll take a closer look when I'm back home.

[2018-10-16 13:45] GuyKh commented on #9145
Updated to latest (2.0.24) in this PR

[2018-10-16 13:57] abumalick opened #9151 "Documentation about caching javascripts assets needs an update"
## Description
Documentation about caching javascript is outdated:

https://www.gatsbyjs.org/docs/caching/#javascript

### Steps to reproduce

mmmh, visit the documentation link https://www.gatsbyjs.org/docs/caching/#javascript

### Expected result

have the documentation about caching javascript assets for gastsby v2

### Actual result

The documentation describe what to do for gatsby v1

### Env

[2018-10-16 13:58] abumalick commented on #8527
Just opened a new issue about updating the documentation for this : https://github.com/gatsbyjs/gatsby/issues/9151

[2018-10-16 14:17] chasemccoy commented on #9137
Yes, I am using that plugin. This is most likely a duplicate of #8907

[2018-10-16 14:19] xyy94813 commented on #9142
It is great if @romulomachado are interested.

[2018-10-16 14:19] chasemccoy commented on #8907
Has this change been published? I am still seeing this issue on the latest version of the plugin.

[2018-10-16 14:29] grubersjoe commented on #9119
You might also want to look into https://github.com/angeloocana/gatsby-plugin-i18n

[2018-10-16 14:48] arnriu commented on #9145
Still have this very same issue after updating.
My infos:

[code]

[2018-10-16 14:56] arnriu commented on #9145
Ok, next was the problem, it's stuck at rc version, I used latest instead. Did the trick.

[2018-10-16 15:01] #8905 closed

[2018-10-16 15:25] JanLenoch opened #9154 "Union type not created properly"
## Summary

The docs ([here](https://www.gatsbyjs.org/docs/create-source-plugin/#union-types) and [here](https://www.gatsbyjs.org/docs/schema-gql-type/#foreign-key-reference-___node)) say that Gatsby creates union types of all types of nodes that appear in a foreign key relationship. Apparently there's no manual creation of GraphQLUnionType needed by the source plugin developer (as was in case of

[2018-10-16 15:57] jlengstorf opened #9158 "Should `gatsby-image` be added to the default starter?"
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/gatsbyjs?ref_src=twsrc%5Etfw">@gatsbyjs</a> Is installing Gatsby-image plugin a must for having auto image opti? But I didn’t see this plugin is included by gatsby-starter-blog starter.<br>Huge thanks.</p>&mdash; Alex (@Alexs7_cpp) <a href="https://twitter.com/Alexs7_cpp/status/1052118364674355200?

[2018-10-16 16:04] resir014 commented on #9143
@muukii @pieh Alright, I found it: https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html

So I was kind of right. Both `module` and `namespace` behave similarly in modern TS, therefore it cannot be transpiled with Babel. I'm not even sure why the Babel doc recommends `module { }` anyway.

The only case that `module` will work is when you use it in the context of an ambient decla

[2018-10-16 16:05] LekoArts commented on #9158
Probably easier although there's a whole example page dedicated to gatsby-image / image-processing. You'd add a bunch of plugins, too.

gatsby-image shouldn't be used every time in my opinion. It shouldn't replace the img tag and I think this would imply exactly that.

Can you use gatsby-image with SVGs? I think people wrote that it doesn't work on Spectrum.

[2018-10-16 16:09] dj opened #9159 "Search is broken on v1 documentation site"
## Description

When I search the v1 docs site, I get results for pages that only exist on v2. If I click them I get taken to an error page.

### Steps to reproduce

1. Visit https://v1.gatsbyjs.org/docs/
2. Focus search input, type in `createPage`, click first result
<img width="749" alt="screen shot 2018-10-16 at 11 55 20 am" src="https://user-images.githubusercontent.com/2610172/47029849-81c0ba

[2018-10-16 16:15] jlengstorf commented on #9158
What we've noticed is that a large number of sites don't use `gatsby-image` _at all_, and it would appear that this is largely due to not knowing about it. In fact, I just realized we don't even talk about `gatsby-image` in the tutorial. 😱 (cc: @shannonbux @amberleyromo)

Showing how to use `gatsby-image` as part of the default workflow in Gatsby is important. I agree that we don't want to imply t

[2018-10-16 16:17] amberleyromo commented on #9158
Good call...

[2018-10-16 16:19] oorestisime commented on #6883
this looks fun. i ll work on a dropbox source plugin.

[2018-10-16 16:41] OskarKaminski commented on #9026
I've implemented a node server:
[code]
1. While it's run, it uses forever to run gatsby in the development mode.
2. I set the Contentful webhook to GET :8001 port for every entry publish/unpublish event.
3. When the GET is fired, gatsby is killed, and forever runs it again - with the updated data.

It works, but it's far from the legit solution I would like to have. Any tips to improve it?

[2018-10-16 16:51] pieh commented on #9154
So this is just graphql thing - when unions are used people need to use something called "Inline fragments" to get to the data - check https://graphql.org/learn/queries/#inline-fragments for general graphql docs

`gatsby-source-wordpress` also make use of unions and here's part that explain how to use them https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#query-with-acf-flexible-content

[2018-10-16 17:10] lexishanson commented on #9158
I'd be interested in taking this one

[2018-10-16 17:14] DSchau commented on #9062
@Coriou is there a reason the approach I posted won't work? It seems pretty clear that that snippet will execute before any other JS executes, and will therefore work exactly like you want?

I just tested it out, and it it seems like that script executes like you'd want and works appropriately.

[2018-10-16 17:30] DSchau commented on #9111
@bluefig99 [here's an example](https://github.com/DSchau/gatsby-9111) of the third approach.

What this will do is create `public/sample.html` instead of `public/sample/index.html`, so you can sidestep the issue with index.html not being routed correctly.

[2018-10-16 17:40] jlengstorf commented on #9158
@lexishanson it's all yours!

[2018-10-16 17:40] pieh commented on #9111
development builds don't create any `.html` files other than base `index.html`, I'm not sure where this `following.html` is coming from?

It seems like you go out of your way to make it complicated - serving `index.html` is what most hostings do and I think You need to purposely reconfigure things to not do that.

But that being said you can configure gatsby to not create `<dir>/index.html` - if y

[2018-10-16 17:50] PHironaka commented on #9016
@LekoArts  I was able to query localfile and childImageSharp in GraphQL, but I'm still having issues w/displaying images (and any nested arrays):

[code]

Is there anything else I should be trying?

[2018-10-16 18:02] LekoArts commented on #9158
Yeah, didn't want it to sound like it's not important - images are often the biggest problem for loading speeds

If this sentence makes it analogous into the doc one should add to take that with a grain of salt :)

[2018-10-16 18:04] LekoArts commented on #9016
gatsby-image (`<Img>`) expects you to use fragments (or all properties) inside the `fluid`. So not only use `tracedSVG` there but the fragments.

[2018-10-16 18:07] PHironaka commented on #9016
@LekoArts  thanks for the help! I'll give that a shot today.

[2018-10-16 18:08] fk commented on #8301
Hmmmm, I just changed the extension of one of the `using-gatsby-image` [example images](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-gatsby-image/src/images) to `jpeg` and everything seems to work fine. :/

@JanneVincit Are you also experiencing this in the context of Contenful like @tylermenezes?

[2018-10-16 18:15] tylermenezes commented on #8301
Renaming the file from .jpeg -> .jpg in Contentful was the solution which solved _my_ problem, but the error message is extremely generic, and when I looked into the code while trying to troubleshoot, it seems like _any_ error will result in this message. A better solution is probably to improve the error message quality, but IIRC that requires a fix from both Gatsby and Potrace.

[2018-10-16 18:41] muukii commented on #9143
@resir014
Oh, I see. I understand.
Thank you.

[2018-10-16 18:41] #9143 closed

[2018-10-16 18:42] siddhant1 commented on #9159
Should we redirect them to the v2 docs or should we block these searches?

[2018-10-16 19:03] pieh commented on #9145
offline plugin should report of there is missmatching gatsby version thanks to @GuyKh PR #9150 , so I'm closing this issue

[2018-10-16 19:03] #9145 closed

[2018-10-16 19:07] appleJax commented on #9121
I have never used jsxstyle, but I had a similar issue with material-ui.

The problem for me was that in Gatsby, each page produces a separate html tree, so the material-ui class-name generator was assigning the same class name to different components on different pages.

Material-ui has an option to customize the generated class prefix, so my solution was to use a different prefix for each page. N

[2018-10-16 19:17] Coriou commented on #9062
@DSchau I’ll give this exact approach a try tomorrow, you’re right it might just work... sorry for wasting your time. I’ll let you know

[2018-10-16 19:20] thornberger opened #9166 "gatsby-plugin-offline: Service worker is causing blank pages when JS is disabled"
[source.html.txt](https://github.com/gatsbyjs/gatsby/files/2484611/source.html.txt)
## Description
The plugin gatsby-plugin-offline is causing a blank page on any page except index when JavaScript is disabled.
If the service worker is unregistered, the pages are showing.

This is what is showing up in the Chrome developer console (not sure if it is helpful):

`workbox-precaching.prod.js:1 Fetch fi

[2018-10-16 19:52] calcsam opened #9168 "Add shopflamingo.com to showcase"
* We should add shopflamingo.com to the showcase (https://www.gatsbyjs.org/showcase/).
* It should be featured on top and #3 between Stitch Fix and Airbnb Data Engineering.
* We should remove cajunbowfishing.com from the featured section (but keep in showcase, just not in featured section)

[2018-10-16 19:54] #8907 closed

[2018-10-16 19:54] openmedi commented on #9168
I would like to try that. 😄

[2018-10-16 19:58] Yurickh commented on #9159
I would say that searching from within the v1 docs should only yield results from the v1 docs, and vice-versa.

[2018-10-16 19:59] #9137 closed

[2018-10-16 20:44] Yurickh commented on #9159
My guess here is that we'll need to create a new index in [docsearch](https://community.algolia.com/docsearch/) for the v1 docs, but I'm not sure on how to.

[2018-10-16 20:58] #8341 closed

[2018-10-16 21:14] pieh commented on #8907
Published `gatsby-plugin-catch-links@2.0.5`

[2018-10-16 21:28] gjurgens commented on #9151
I think this wasn't fixed on v2 and we still need to avoid using cache on JavaScript files.

[2018-10-16 21:35] gjurgens commented on #8527
I'm on v2 and still don't see this fixed. I've made some changes on my pages, and after rebuild, I see the same hashes on my files so I think those headers are still needed in v2.

[2018-10-16 21:39] DSchau commented on #8527
@gjurgens Hi Gabriel!

Rather than comment on several issues, would you be able to comment on #9151 (or open a new issue) with any reproduction steps and/or a repo that we could take a look at?

Thanks so much!

[2018-10-16 21:41] DSchau commented on #8527
@gjurgens additionally, we have an integration test that tests just this caching/hashing. It's called [`long-term-caching`](https://github.com/gatsbyjs/gatsby/tree/master/integration-tests/long-term-caching), and is run on every build as part of the CI process. If we break that functionality, we'll be made aware of it as soon or if it breaks.

[2018-10-16 22:34] IMBurbank commented on #9112
Adding the env variable to the run line definitely works, thank you!

Do you know where I can set the polling config to cut down on resources?

[2018-10-16 22:36] pieh commented on #9112
From the same link - https://www.npmjs.com/package/chokidar#performance

so at least interval can be configured via env var as well it seems

[2018-10-16 22:38] kmorf commented on #8800
Since you are already querying `event id` you can get the length of each node.

[code]

[2018-10-16 22:46] IMBurbank commented on #9112
The interval can be overridden with an env variable, but it's the only setting that can be. I was hoping to fine-tune the polling a bit for windows users as they're likely the primary ones to need it.

[2018-10-16 22:46] gjurgens commented on #8527
@DSchau : Sorry about that! I didn't knew that actual work was done to fix this issue. I thought that the documentation was outdated and that this issue wasn't addressed yet. I will try to reproduce it and make a test case. Thanks for your help!

[2018-10-16 22:47] AttilaTheHen commented on #8553
Was running into this myself just now - thanks!

[2018-10-16 23:17] gjurgens commented on #8527
@DSchau running the integration tests I realized that I was checking the hashes on the "component---src-pages-[name]-js-[hash].js" files but not the other files where my modifications were actually applied. I assumed that changes made on page components where applied on those files, so, when I saw that those files had the same hash after builds, I thought that we still needed to avoid js caching.

[2018-10-16 23:27] DSchau commented on #9151
Agreed! I've added the hacktoberfest labels so hopefully someone will claim this one 💪

[2018-10-17 00:12] pieh commented on #8545
@ArthurYidi Would you be interested in adding warning to `gatsby-plugin-react` readme - it can even point to this issue to provide more context

[2018-10-17 00:45] josekhon opened #9172 "Markdown images not showing up"
So I'm using the image remark plugin and I'm not able to display images from my mark down.
This is my config settings.
[code]

This is how my markdown looks. I've tried both moving the images into a separate images folder within the same folder as the markdown files, as well as just having them in the same folder as the markdown. Nothing is working. This is how my markdown looks

[code]

[2018-10-17 02:13] PHironaka commented on #9016
@LekoArts  still not able to display images:

[code]
`<Img fluid={node.images.childImageSharp.fixed} />
`

[2018-10-17 04:37] AlmeroSteyn commented on #7003
@pieh Thanks you! Test drove it this morning and all good now. Thanks for jumping on it so quickly.

[2018-10-17 04:40] calcsam opened #9174 "Images don't appear the first time the user loads a page on gatsbyjs.org"
## Description

Images don't appear the first time a site is loaded on gatsbyjs.org.

Seems like an offline-plugin issue -- perhaps @davidbailey00 could take a look?

### Steps to reproduce

Visit a post you haven't visited before, that has images, such as https://www.gatsbyjs.org/blog/2018-10-04-journey-to-the-content-mesh/, that has images.

### Expected result

![image](https://user-images.gith

[2018-10-17 05:48] KyleAMathews commented on #9174
It happens in an incognito window so it's not an offline problem.

[2018-10-17 06:47] Coriou commented on #9062
Indeed, it just works... Thanks a lot !

[2018-10-17 07:08] tbo-axelor opened #9175 "how to connect graphql server"
it it possible to connect graphql server for requesting data ??

[2018-10-17 07:14] kakadiadarpan commented on #8838
@KyleAMathews I'm able to reproduce the issue reported by @bluefig99. When you load the build for the first time, you get a blank page. When you load it again, we get to see the login screen as expected.

The first load fails to load the redirected screen, the second load is successful.

[2018-10-17 07:27] SimonIMG commented on #6868
Removing the `.cache` folder worked for me too. Thanks, @millette!

[2018-10-17 07:36] #9128 closed

[2018-10-17 07:42] tanvibhakta commented on #8798
Hey Shannon! What would the UI of this page look like? Can I put together a quick thing on paper and get it through to you?

[2018-10-17 07:45] tanvibhakta commented on #8968
Here's the PR for those interested:
https://github.com/gatsbyjs/gatsby/pull/8969

It looks like discussion has stalled on that thread. Can we add a claimed label to this bug as well?

[2018-10-17 07:46] Zurc commented on #6492
Hi, I'm experiencing the same error on netlify, but I don't understand that uppercase fix...

This is my github repo
https://github.com/Zurc/gatsby_static_website

And this is my netlify deploy log

Any help is really appreciated

[code]

[2018-10-17 08:05] christiansgithub commented on #9175
Does the [gatsby-source-graphql](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-graphql) plugin do what you're looking for?

[2018-10-17 09:08] Siregar opened #9176 "V2: PageRenderer and Modals"
## Description

👋
I try to render the index page with `PageRenderer` when I visit the `/about/` path. The about page will be rendered in a modal, the index page should be visible in the background.

'gatsby develop`: I can open the about page in a modal, but there's no index page in the background. I am using this (`<PageRenderer location={{ pathname: '/' }} />`) for rendering the index page. Not

[2018-10-17 09:22] mtzfactory opened #9177 "V2: debugging, no src folder in browser dev tools"
Hi,

I'm used to work with __Gatsby V1__ and debugging there was very simple, I could see all my files inside `src` folder, see [1].

I've just created a new project in **V2** for curiosity, but I don't know how to debug my code, I can't see the `src` folder anymore.

[1] Project with Gastby V1
![screen shot 2018-10-17 at 11 17 27](https://user-images.githubusercontent.com/200234/47076275-a5e5cf80

[2018-10-17 09:28] Manoz commented on #8968
@tanvibhakta This is not part of the Hacktoberfest but why not :p

[2018-10-17 09:43] kmorf commented on #9175
Also [Strapi](https://strapi.io/), you might want to skim through the [Gatsby tutorial](https://blog.strapi.io/building-a-static-website-using-gatsby-and-strapi/) to see the mechanics of it.

[2018-10-17 10:02] pieh commented on #9172
Can you create minimal reproduction repository?

[2018-10-17 10:41] Zurc commented on #6492
I've found the isuue!

on gatsby-node.js the path to resolve my templates started with '/'. removed that and it works

[code]

[2018-10-17 10:43] gpetrioli commented on #8608
Actually this has nothing to do with the `expiresCookie` options, which in fact works just fine as it is part of the `knownOptions` object defined at the top. The problem the OP has is with the server side caching of the google-analytics code which is hosted on the google servers and does not provide server caching.

There are only tricks to handle t"his, like hosting the file locally or sniffing

[2018-10-17 10:55] fk commented on #9159
@pieh I guess I know as much about this as you (probably less ;-)), but what @Yurickh commented makes sense to me.

I think adding a new config file for v1.gatsbyjs.org with the config file from https://github.com/algolia/docsearch-configs/blob/b0c02ab108e53d1e8fe7d17ba26a6546b466104e/configs/gatsbyjs.json — which should have the correct setup/selectors for v1 should work.

👋@s-pace I saw you did

[2018-10-17 12:14] s-pace commented on #9159
👋
We can continue to use the same index and add a `facetFilter` in order to reduce the scope of the search to either v1 or v2. Your analytics will be more relevant.

Could you add a meta tag within your website in order to highlight the version of your documenation? It should looks this way:

[code]

Then ping me and I will update your index

[2018-10-17 12:41] pieh commented on #9176
`PageRenderer` is tricky and have lots of gotchas right now - that's one of the reason it's not really documented.

Problem is it doesn't trigger fetching resources and will work only if resources were already fetched by normal navigation. See how we implemented that in showcase right now on https://www.gatsbyjs.org/showcase - when you click on entry, it will show modal with entry details and rend

[2018-10-17 12:42] gpetrioli commented on #9174
Additional info:

The problem manifests in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js#L181-L183.
When the image is not cached this somehow breaks and renders as

      style="...;background-image: url('data:image/png;background-size:cover;display:block;}"

So inside the `background-image` the `url` is abruptly/wrongfully ended and it results in wrong

[2018-10-17 12:47] pieh commented on #9159
@s-pace thanks for info! I just have a question: v1 and v2 sites are completely separate (`www.gatsbyjs.org` vs `v1.gatsbyjs.org`) and have separate sitemaps - will that cause problems with using same index? If not we will add meta tags to v1 and v2 sites :)

[2018-10-17 13:02] deadcoder0904 commented on #8608
@gpetrioli Yep I thought so too but was not sure

Regarding its not related to Gatsby, can it be done through `gatsby-plugin-google-analytics`?

Or should I just add [this](https://stackoverflow.com/a/47279446/6141587) using `react-helmet`?

[2018-10-17 13:07] muhajirframe commented on #8612
Hey, guys. If you still facing this issue. I already created a Gatsby + Firebase that works.

[2018-10-17 13:20] pieh commented on #9177
Can you try adding this to your `gatsby-node.js`:

[code]

It should restore v1 behaviour. Seems like `devtool` setting was changed in v2 - it does seem like this definitely impact build/rebuild speed ( https://webpack.js.org/configuration/devtool/ ) so not sure if we want to restore default behaviour, but maybe we could document it

[2018-10-17 13:48] josekhon commented on #9172
hi @pieh I've created a Mrepo
https://github.com/josekhon/mrepo-gatsby

[2018-10-17 13:48] aswinckr commented on #6097
I have the same issue. I deleted the .cache folder and ran `gatsby develop` again to get it working.

[2018-10-17 14:14] Kosai106 opened #9184 "Unexpected token - gatsby-plugin-react-helmet"
## Description

When using `gatsby-plugin-react-helmet` & `react-helmet`, I get a syntax error.
The odd thing is that it worked just fine last week, and I can't seem to figure out why it suddenly stopped.

### Code

[code]

### Result

[code]

### Environment
[code]

[2018-10-17 14:15] pieh commented on #9174
This is more nuanced - building locally or on netlify we don't get issue - it only show up when we build on our custom build runner

[2018-10-17 14:38] s-pace commented on #9159
We can handle both sitemap normally. Let's give it a try

[2018-10-17 14:39] pieh commented on #9184
Maybe it's because of `class` which is reserved keyword - can you try `className` and if that works?

[2018-10-17 14:44] Yurickh commented on #9159
If it is a matter of adding the meta tags, I can look into it.

[2018-10-17 14:46] pieh commented on #9159
Thanks for offer @Yurickh - I was just doing that when you commented ;)

[2018-10-17 14:47] gpetrioli commented on #9174
More info: This is the same as [[gatsby-remark-images] new images 404 or end up being 0x0 pixels](https://github.com/gatsbyjs/gatsby/issues/3545) and is explained in detail in (Rewrite parseStyle parser to correctly transform parenthesis and quotes)[https://github.com/syntax-tree/hast-to-hyperscript/pull/13].

Locally (the developer build) works correctly but the live site (gatsbyjs.org) still has

[2018-10-17 14:48] Yurickh commented on #9159
Looks like I wasn't fast enough XD

[2018-10-17 14:50] Kosai106 commented on #9184
@pieh Actually... That makes it compile again. 🤔
However now in the compiled output, my body element looks like

[code]

rather than

[code]

[2018-10-17 14:54] pieh commented on #9184
So this is more of `react-helmet` question at this point - but maybe instead of using
[code]
You could use something like this:
[code]

I saw they show this usage in [reference guide](https://github.com/nfl/react-helmet#reference-guide)

[2018-10-17 14:56] pieh commented on #9184
or maybe just wrap `class` property name in quotes (unless your formatter will strip that automatically)?

[2018-10-17 14:58] Kosai106 commented on #9184
@pieh I already tried with quotes, but indeed Prettier removes them.

And I know it's more of a `react-helmet` question, however it used to work in `gatsby`, which is why I'm asking it here.

That being said, your suggestion with the body tag did work. Thank you!

[2018-10-17 15:02] #9184 closed

[2018-10-17 15:02] hackhat commented on #9141
I can't reproduce anymore. But definitively was broken. I just added different text and it fixed. You can close if you wish or you can investigate.

[2018-10-17 15:10] silvenon commented on #7517
I have a lot of CSS files, with the assumption that the module bundling would put them in the correct order. I don't want to have to worry about specificity, that's the point of CSS Modules. This prefetching duplication is an unbearable bug.

[2018-10-17 15:21] pieh commented on #9172
It seems like you were using outdated versions of packages - after updating them things works - https://github.com/josekhon/mrepo-gatsby/pull/1 .

I think we need to implement some checks and display warnings about that

[2018-10-17 15:29] m-allanson commented on #7143
This could be useful: https://github.com/npm/node-semver

[2018-10-17 15:34] #9172 closed

[2018-10-17 15:52] simonjoom opened #9189 "Add ski-courchevel.deals to sites.yml"
Hello, a full website working with gatsby latest , inferno and apollo, transition client only paths; :)

 Thanks for supporting us too

[2018-10-17 16:12] pieh commented on #9141
@hackhat It's hard to investigate if we can't reproduce and backtrack to see what is causing this. Let's close this for now - but if you hit this problem please comment back so we re-open issue with more details

[2018-10-17 16:12] #9141 closed

[2018-10-17 16:31] pieh commented on #9174
That's interesting and really looks like the same issue, but `www` uses `rehype-react@^3.0.3` which should contain `hast-to-hyperscript` version with the fix ( https://github.com/rhysd/rehype-react/commit/106ffb5ee015f0cae52563f80460b55a16f662d7 ). Maybe there is more going on there and there is some dependency weirdness happening that make build runner use older version?

[2018-10-17 16:39] fk commented on #9159
💜🙏🤗🙌 @s-pace, @Yurickh and @pieh!

[2018-10-17 17:49] IMBurbank commented on #9112
If there's not a way set Gatsby's chokidar settings, beyond the one env setting, I'll leave it at that... I know you guys are working on a lot - and I primarily do my dev on a linux machine.

I may have missed it in the docs, but this limitation may be worth mentioning.

In any case, thank you very much for looking into this.

[2018-10-17 18:03] sarahannnicholson opened #9190 "Content is not sized correctly for the viewport"
## Description

I ran a Lighthouse audit on my site and on the Gatsby site. I noticed the same note appearing in the "Progressive Web App" section.  Content is not oversized for the viewport.
![image](https://user-images.githubusercontent.com/10520771/47102750-61eccd80-d1f2-11e8-943b-e9ec3fc7f545.png)

### Steps to reproduce

1. Go to the Gatsby website https://www.gatsbyjs.org/docs/
2. Open the c

[2018-10-17 19:00] imshuffling commented on #7517
@silvenon this is what I ended up doing for now, does using <Link> have any performance benefits?

[2018-10-17 19:02] pieh commented on #9190
@fk Any clues? I'm not really familiar with gatsbyjs.org code so not even sure where to look

[2018-10-17 19:42] silvenon commented on #7517
`<Link>` is recommended because it starts loading the content on hover, it has a noticeable performance benefit. Fortunately not using it is fine too and gets rid of this CSS issue.

[2018-10-17 19:48] sarahannnicholson commented on #9085
Thank you @mrfoster your solution was very helpful! :)

[2018-10-17 20:51] fk commented on #9190
No clues yet, but will take a look! 🔍

Thanks so much @sarahannnicholson for my "today I learned" 🙏 — I have to admit I _never ever_ saw "Content is not sized correctly for the viewport" anywhere yet.
Apparently it's been some time since I did a Lighthouse audit on `www`. :-/

Also 👍🙏 for the super detailed issue description and investigation!

[2018-10-17 20:55] fk commented on #9190
Ah, hold on. Clearly not able to multitask today/night.

Do I understand this correctly and you are seeing the same warning for your website, too?

[2018-10-17 21:01] sarahannnicholson commented on #9190
Hey @fk Im glad to have been some help!

Yes I am seeing it on my website as well as the Gatsby website. Which makes me believe its a Gatsby issue. So to test that theory I added a breakpoint in the layout.js before the content had loaded, but after window had been initialized. That way I could test and confirm that the `window.innerWidth` and `window.outerWidth` were in fact not the same, and tha

[2018-10-17 21:06] fk commented on #9159
And @dj, of course, and @siddhant1!
Sorry about forgetting you! 💜🙏🤗🙌
;-)

[2018-10-17 21:13] fk commented on #9190
Whoa that was fast @sarahannnicholson! Thanks for the clarification/validating that I _can_ still read/process if I take a little more time. ;-)

💯!

Hmmmm. (My guts) Thinking out loud — maybe it's something that happens in relation to reach router handling focus?

[2018-10-17 21:53] zslabs opened #9193 "Window not always there during local development"
## Description

I've been using a common check mentioned several times here about checking for the existence of window when grabbing interior methods to get around issues during the prod build process:

[code]

However, it seems that this function is pretty inconsistent on whether or not it returns the actual value I'm looking for. Hard-refreshes don't seem to show anything, yet client-pushes some

[2018-10-17 22:57] fk commented on #9190
Hey @sarahannnicholson — I tried to reproduce your findings but fail to do so. Screenshot is taken at ~1600px viewport width though:

![image](https://user-images.githubusercontent.com/21834/47120787-432d1c00-d270-11e8-97e9-41e031e7b7dc.png)

Am I missing something? @pieh did you try reproducing?

[2018-10-17 23:00] pieh commented on #9190
I didn't check it yet - I don't really understand how/why `window.innerWidth` and `window.outerWidth` would not match :)

[2018-10-17 23:49] ryanwiemer commented on #7997
@davidbailey00 I have noticed this issue again using Gatsby `v2.0.22`. Not sure when the issue was reintroduced but I am reopening this ticket.

I also confirmed that the workaround of `?no-cache=1` still works.

[2018-10-18 00:07] schabibi1 opened #9195 "Creating a button source code returns 'Uncaught TypeError: Cannot read property 'configure' of undefined'"
## Summary
I'm building an e-commerce site based on a tutorial entry from [here.](https://www.gatsbyjs.org/docs/ecommerce-tutorial/#setting-up-a-serverless-function-in-aws-lambda)

Yet, from a source code for checkout.js returns these errors and entire page is all white out.

`Uncaught TypeError: Cannot read property 'configure' of undefined`
`The above error occurred in the <Checkout> component:`

[2018-10-18 01:08] k-tests opened #9196 "gatsby develop: "gatsby-source-wordpress" - Error"
Hi,

Would appreciate any help with the following error when trying to run 'gatsby develop' after setting up the gatsby-source-wordpress following the official documentations:

The Error (in the terminal):

`error Plugin gatsby-source-wordpress returned an error

  TypeError: Cannot read property 'request' of undefined

  - http-exception-handler.js:14 httpExceptionHandler
    [wp-gatsby]/[gatsby-

[2018-10-18 02:15] pieh commented on #9112
But windows doesn't need polling (I think)?

[2018-10-18 02:23] seanngpack opened #9198 "[General GraphQL/Image question] Trouble querying for images in a component"
Hi, my issue is that I cannot query my images located in `src/images` when I'm inside a component. In my index file `src/pages/index` I can query for images perfectly.
[code]

Then I'd pass it to my Navbar

`
<Navbar data = {data} /> `

Now I'm working with a layout component and templates so I'd like the navbar to query for images inside its own component located in `src/components`

I'm using th

[2018-10-18 02:31] #9198 closed

[2018-10-18 02:43] YannickLeRoux commented on #4202
Any ressources/tutorials regarding automatic scheduled deploys on netlify ??

[2018-10-18 03:14] k-tests commented on #9196
Thanks devrchancay!
Hope this info might help:

============================================================

I have setup a local Wordpress installation with MAMP (the database named 'gatsby-tutorial').
Inside the Wordpress folder I created a wp-gatsby folder with the gatsby installation.

============================================================
**My gatsby.config.js looks like this:**

modul

[2018-10-18 03:18] devrchancay commented on #9196
great, I get home I will try to replicate the error in my computer.

[2018-10-18 03:29] k-tests commented on #9196
Thank you so much devrchancay!! much appreciated.

[2018-10-18 04:07] aarondack commented on #9172
@pieh

I'm curious as to what versions you updated to. I'm seeing some discrepancies with images in markdown files. FWIW, these are the package versions I'm using.

[code]

[2018-10-18 04:36] TylerBarnes opened #9199 "Infinite &no-cache=1 redirect loop"
## Description

Some pages are redirecting infinitely with &no-cache=1 being appended to the end of the url over and over.

### Steps to reproduce

The issue only happens in build, everything works fine in develop.

You can see the issue at
https://baread.netlify.com/featured-projects
https://baread.netlify.com/team
https://baread.netlify.com/contact

oddly it doesn't happen at
https://baread.netl

[2018-10-18 04:44] hackhat opened #9200 "Gatsby works with material-ui?"
So I added material ui v3 to gatsby and the modals are broken. See more here https://github.com/mui-org/material-ui/issues/13288

I wonder if is a problem with gatsby or material ui?

[2018-10-18 04:48] c0b41 commented on #9200
probably duplicate #8237

[2018-10-18 04:50] hackhat commented on #9200
Looks like the main problem is the inline styles by material ui are not added.

[2018-10-18 04:50] #9200 closed

[2018-10-18 04:51] hackhat commented on #9200
I need to add the position myself now.

[2018-10-18 05:31] tanvibhakta commented on #5030
Hey @felipecaputo Have you had a chance to look at the plug in yet?

[2018-10-18 06:37] KyleAMathews commented on #9199
Can you confirm please you're on the latest version of all gatsby packages?

[2018-10-18 06:42] tanvibhakta commented on #9158
@lexishanson Have you made any progress? Happy to help you with it if required!

[2018-10-18 08:06] ugogo opened #9203 "404 flash before rendering the actual page content"
## Description

Hey guys,
Before rendering the actual page, there's a 404 like rendered, but it's like it's not a "real" component because every debuggers and console.log are not triggered.

Might be related to https://github.com/gatsbyjs/gatsby/issues/5329?

### Steps to reproduce

[code]

[code]

### Expected result

Rendering of the actual page 😄

### Actual result

Some screen captures could h

[2018-10-18 09:16] nakedible commented on #8502
I have this bug as well

[2018-10-18 09:17] nakedible opened #9204 "Gatsby image sharp traced SVG does not respect forced aspect ratio"
## Description

When using gatsby-image and gatsby-plugin-sharp to produce traced SVG images for image loading, and specifying both `maxWidth` and `maxHeight` for the resulting image, the traced SVG image is from the full (uncropped) source image, where as the actual generated image is cropped to aspect ratio with the crop location defined by `cropFocus`. The end result is very jarring where the t

[2018-10-18 09:55] nakedible commented on #9204
Doing some additional testing, this seems to be broken in a few ways. The `healOptions` handler seems really weird, only converting some values from strings to integers, filling in hardcoded `width` even when both `maxHeight` and `maxWidth` are present. In addition to that, the fluid handler does a lot more processing for width and height and other things before passing on those things to resize (

[2018-10-18 09:56] gpetrioli commented on #9174
Not very well versed in build systems and yarn, but i see in the root yarn.lock https://github.com/gatsbyjs/gatsby/blob/master/yarn.lock#L9238-L9249) that it references 3.1.0 version of hast-to-hyperscript.
Could that be an issue ?

[2018-10-18 10:20] stefanprobst commented on #8502
This works fine for me in a Debian stretch VM. What version of Debian are you using?

[2018-10-18 10:41] simonjoom commented on #8545
For me i use reach router and inferno and i have no issue
https://github.com/simonjoom/gatsby-starter-inferno-master

[2018-10-18 10:42] tanvibhakta commented on #9151
Hello I think I can work on this one!

[2018-10-18 10:51] h0rhay opened #9205 "[Question] Is there a way to disable map files?"
I'm trying to eliminate the sourcemap clutter for a production build deployment.

I've tried the `gatsby-transformer-remark` plugin.. with this config:
[code]
I've also tried this:
https://medium.com/@bjornrixman/disable-source-maps-in-gatsby-7e9f82bdc55f

I've also tried this:
[code]
From this thread:
https://github.com/gatsbyjs/gatsby/issues/3817

None of the above works.. I still get a sourcema

[2018-10-18 11:01] rabidhadron commented on #8500
Thoroughly bad form closing an issue without explaining the solution to the original problem or giving a reason for closing the issue.

I too am experiencing the same problem fwiw.

[2018-10-18 11:18] RobinHerzog opened #9206 "Caching files Gatsby V2 ?"
The documentation about caching javascript is still about v1.

https://www.gatsbyjs.org/docs/caching/

Is it possible to cache javascript files now ?

[2018-10-18 11:40] lloydh opened #9207 "Preventing 301 redirects on URLs with no trailing slashes (Netlify)"
## Summary

URLs with no trailing slash on sites hosted by Netlify lead to an immediate 301 redirect to the page with a trailing slash.

``foo.com/bar`` --> ``foo.com/bar/``

This has a performance cost and implications for SEO.

_Is there a Netlify configuration that resolves these URLs without redirecting?_

## Relevant information

While this question is specific to Netlify, I did a quick revie

[2018-10-18 11:42] pieh commented on #9193
I'm not sure if it means that `window` is not defined or that css is not loaded yet when you use `getVar`. Because develop works in browser only window should be always there

[2018-10-18 11:45] Yurickh commented on #9207
I'm not really familiar on how Netlify runs the static site, but I know that this is the default behaviour for `express` when serving static folders.
I'm not sure which are the performance costs you're implying here, can you link me to a reference? Would love to read more about that.

[2018-10-18 12:09] aswinckr opened #9208 "Page scroll height of a rendered markdown page shows a lesser value on the first load"
## Description

Page scroll height of a rendered markdown page shows a lesser value on the first load. On navigating back to the page the scroll height shows the right value again.

### Steps to reproduce

1. Install [ScrollProgress plugin](https://github.com/jeremenichelli/scrollProgress) on a rendered markdown page, preferably a long one with images.

2. Now try printing the `scrollHeight` on `c

[2018-10-18 12:17] nakedible opened #9209 "Netlify CMS always includes Netlify Identity Widget in JS"
## Description

Netlify identity widget can be disabled for `gatsby-plugin-netlify-cms` by specifying `enableIdentityWidget: false` in configuration. I would expect that this would also ensure that the netlify identity widget would not be included in the built application JS files through WebPack. However, by using `source-map-explorer` that there is 161 kB of `netlify-identity-widget` present in

[2018-10-18 12:28] josekhon opened #9210 "Integration of Gatsby into larger site"
Has anyone integrated gatsby into a large project in which only one part of the web app will be using gatsby? I was curious about any experiences people here have had integrating gatsby as opposed to all the examples in which the entire site seems to be generated by gatsby. I'm trying to integrate gatsby into a larger client repo that uses react as well. I'd appreciate any pluses or limitations in

[2018-10-18 12:44] stefanprobst commented on #8502
Tracked this down: This is a bug in the `envinfo` package which throws when there is no `VERSION` field in `/etc/os-release`.

[2018-10-18 12:47] pixzels commented on #9168
I'd also like to try this.

[2018-10-18 12:48] nakedible commented on #8502
The bug has already been fixed in `envinfo`: https://github.com/tabrindle/envinfo/issues/51

[2018-10-18 12:51] nakedible commented on #8502
But apparently there is no release yet which includes the fix, as latest 5.10.0 does not.

[2018-10-18 13:00] pieh commented on #9206
Ah yeah - you can long term cache now ( https://github.com/gatsbyjs/gatsby/pull/6905 ). Would you be interested in updating that doc page - https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/caching.md ?

[2018-10-18 13:09] RobinHerzog opened #9212 "CSS Delay"
## Description

I just migrated to gatsby 2.

I use Prismic, Styled Components, last version of everything.

On gatsby serve, when I first load my webpage, the css is not loaded. After 2sec, the website looks fine.

### Steps to reproduce

Go here : http://swapcard.com/

### Expected result

A clean website on first load

### Actual result

First load of website have no css

### Environment

Build

[2018-10-18 13:18] shansmith01 commented on #9212
You may want to share your repository to help diagnose but the first thing which stands out is rather than loading your fonts via google you can host them yourself. See this library https://github.com/KyleAMathews/typefaces. This will stop your font load flicker and speed up the site

[2018-10-18 13:19] #9212 closed

[2018-10-18 13:29] lloydh commented on #9207
The performance cost is the synchronous delay for the first byte of useful data caused by the redirect.

Using the Hopper example above, visiting [https://www.hopper.com/company](https://www.hopper.com/company) takes 150-300ms for the redirect, before any page data is received. On cellular connections with high latency it can add up to 1s.

[2018-10-18 13:29] Kosai106 commented on #9038
I'm getting a similar issue.

[code]

[2018-10-18 13:36] Yurickh commented on #9207
I see.

From my experience with static sites, we always redirect to the `/`-ending url whenever it represents a folder (with an implicit `index.html`), not a file (like `shavers-for-men.html`). If you don't, the static resolution will simply fail.

[This is also what the "pretty url" option on netlify does.](https://www.netlify.com/docs/redirects/#trailing-slash)

I guess the best approach here is

[2018-10-18 13:50] smakosh opened #9213 "[gatsby-transformer-json] - Can we have multiple type names?"
I'm struggling to provide a secondary type name to the options object to the `gatsby-transformer-json` and I couldn't find anything that answers my question on the docs, so is it actually possible to do something like this:

[code]

[2018-10-18 14:50] dj commented on #9159
@fk no worries!

Is this deployed / ready to be tested? I can still reproduce right now

[2018-10-18 14:55] jserrao opened #9214 "Media players and Gatsby"
I'm working on a new v2 Gatsby project and have added in the usually great [`react-media-player`](https://github.com/souporserious/react-media-player). It works great locally as expected but makes use of `audioContext` on the `window` object.

When I go to build the site I run into that familiar `window not defined` as there is no window for server-side generated React sites like Gatsby. I've read

[2018-10-18 15:00] hoop71 commented on #8500
@rabidhadron #8996 is similar. Is this helpful?

[2018-10-18 15:08] oorestisime commented on #9205
FYI gatsby 2 is already out (1 month ago) https://www.gatsbyjs.org/blog/2018-09-17-gatsby-v2/

[2018-10-18 15:09] zslabs commented on #9193
@pieh Yep, that sounds much more plausible 😏

I guess I'm off to see if there's anything I can do to depend on those values being there when I need them.

[2018-10-18 15:18] TylerBarnes commented on #9199
Wow, I should've asked the pros before beating my head against the computer all day. Noob mistake. That solved it immediately. Thanks Kyle! You're a saviour!

[2018-10-18 15:18] #9199 closed

[2018-10-18 16:17] h0rhay commented on #9205
Nice! thanks @oorestisime :)

[2018-10-18 16:17] #9193 closed

[2018-10-18 16:32] josekhon commented on #9210
@pieh I was wondering if you have any experience with this. or any insight you could provide for me.

[2018-10-18 16:35] DSchau commented on #9210
@josekhon it depends, and there's a few considerations here.

Probably the easiest would be to deploy your documentation site at a route (e.g. /docs), which you can do [super easily with `pathPrefix`](https://www.gatsbyjs.org/docs/path-prefix/). This would let other routes (e.g. /whatever, /this, /other, etc.) pass through to existing content, but then Gatsby should pick up at /docs. It's possible

[2018-10-18 16:42] amberleyromo commented on #9151
Awesome, thanks @tanvibhakta! Adding the "claimed" label.

[2018-10-18 16:44] amberleyromo commented on #8847
@rosariopfernandes @Deborah-Digges would love for one of you to pick this up -- please comment back here, and I'll assign the "claimed" label.

[2018-10-18 16:44] josekhon commented on #9210
@DSchau Hi Sorry, could you clarify this. I don't have experience with Apache/Nginx routing. I built a gatsby test site which I've put into a subdirectory of the larger client repo which is also using react and webpack. My subdirectory opens up on its own port. But I'd like to integrate it into the site so that yes the gatsby site runs at like you said something like 127.0.0.1/docs of the site and

[2018-10-18 16:45] josekhon commented on #9210
@DSchau Hi Sorry, could you clarify this. I don't have experience with Apache/Nginx routing. I built a gatsby test site which I've put into a subdirectory of the larger client repo which is also using react and webpack. My subdirectory opens up on its own port. But I'd like to integrate it into the site so that yes the gatsby site runs at like you said something like 127.0.0.1/docs of the site and

[2018-10-18 16:46] Deborah-Digges commented on #8847
Awesome! I can pick this one up @amberleyromo

[2018-10-18 16:52] felipecaputo commented on #5030
@tanvibhakta I was studying the code last week, but this week I couldn't make it because we were on a rush here at work. I believe I'll finish this till the end of this weekend!

[2018-10-18 16:53] sarahannnicholson commented on #9190
@fk  I ran it again to double check :/ got the same
![image](https://user-images.githubusercontent.com/10520771/47170624-5addc200-d2bb-11e8-999f-d1ff308f0407.png)

### Audit settings
Device: Desktop
Audits: All
Throttling: Simulated Fast 3G, 4x CPU Slowdown
Clear storage: checked

[2018-10-18 16:59] DSchau commented on #9210
@josekhon are you referring to the hosted site, or running locally?

[2018-10-18 17:08] josekhon commented on #9210
@DSchau running locally on my machine. I'd like to integrate the gatsby project into one part of the larger site. But I'm not exactly sure where to start or how to think in terms of integration. I have experience just building sites from scratch using one framework, and now I need to look into integrating the project(using gatsby in this case) into a larger site.

[2018-10-18 17:10] #8844 closed

[2018-10-18 17:12] amberleyromo commented on #8847
Ok, thanks @Deborah-Digges! I'll mark it claimed.

@rosariopfernandes, would love to have you contribute on another issue. I'll be opening up some more docs issues soon, but take a look at all the open issues! https://github.com/gatsbyjs/gatsby/issues/8719

[2018-10-18 17:19] amberleyromo commented on #8716
Hi @audoralc! Are you still interested in working on this?

[2018-10-18 17:33] josekhon commented on #9210
@DSchau Never mind, I kind of understand what I need to do now. Thank you!

[2018-10-18 17:35] KyleAMathews commented on #9168
Fixed by @openmedi in #9170 thanks!

[2018-10-18 17:35] #9168 closed

[2018-10-18 17:41] amberleyromo commented on #8716
Awesome, thanks @audoralc! (And thanks for the username spelling correction, lol!)

[2018-10-18 18:03] extesy opened #9218 "[gatsby-plugin-google-tag@1.0.0] Build error when used"
## Description

When `gatsby-plugin-google-tag` is installed, it breaks the build because it exports `__esModule` variable.

### Steps to reproduce

1. Install `gatsby-plugin-google-tag@1.0.0`
2. Enable plugin in `gatsby-config.js`
3. Build project using `gatsby build`

### Expected result

Successful build

### Actual result

[code]

### Environment

[code]

[2018-10-18 18:05] pieh commented on #9174
@gpetrioli Yeah, seems like transitive dependency of `gatsby-transformer-remark` there, so my bad here - let's hope https://github.com/gatsbyjs/gatsby/pull/9219 will fix it

[2018-10-18 18:08] siddhant1 commented on #9206
i think someone is already working on this #9151

[2018-10-18 18:12] DSchau commented on #9218
ah, got it!

So what's happening is that packages are distributed as CommonJS. We're using babel to transpile ES2015+ to CommonJS and minimally Node 6 support.

gatsby-plugin-google-gtag is following a similar approach, but it's exporting ES modules, rather than CommonJS.

Normally, this isn't a big deal, but babel is trying to be helpful here and give us a hint that this code is _now_ commonjs bu

[2018-10-18 18:20] i8ramin opened #9221 "[gatsby-plugin-create-client-paths] function does not return on initial resolve()"
PR: https://github.com/gatsbyjs/gatsby/pull/9220

## Description

When the page path matches in the initial `if` statement, we `resolve()` the promise, but do not `return`, so the rest of the code is still processed.

### Steps to reproduce

If you take the code from the plugin, add it to your own `gatsby-node.js` file and then modify it a bit so it checks against other `page.paths` (ie, `/auth/`

[2018-10-18 18:20] DSchau commented on #9210
@josekhon OK! Let us know if you have any other questions, and we'll be happy to help!

[2018-10-18 18:20] #9210 closed

[2018-10-18 18:21] KyleAMathews commented on #9214
You can also PR a fix to the component so it doesn't check window APIs during SSR. Most maintainers are happy to take PRs like that and it ensures everyone else who uses the component has a great experience.

Let us know if you need any more help!

[2018-10-18 18:21] #9214 closed

[2018-10-18 18:28] Seldszar commented on #9218
I'd like to take this one if you don't mind.

[2018-10-18 18:30] mcstean commented on #4967
after typing: `npm i -g gatsby-cli` I receive an error message and i don't know what to do.
![screenshot from 2018-10-18 19-30-03](https://user-images.githubusercontent.com/8142382/47175930-44ac2200-d30c-11e8-98a4-091e5250b7ca.png)

[2018-10-18 18:38] DSchau commented on #4967
@mcstean `sudo chmod 755 /usr/local/lib` perhaps?

[2018-10-18 18:46] amberleyromo opened #9222 "Content migration - fill out "Static Folder" stub"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-18 18:48] pieh commented on #9209
cc @erquhart - can we use `null-loader` or some other stuff to conditionally (not) include `netlify-identity-widget` in bundle?

[2018-10-18 18:50] #9221 closed

[2018-10-18 18:51] tylerbuchea commented on #9218
I think solution 2 would probably be the best don't you guys think? You're more than welcome to take this on @Seldszar if you need help or get stuck please reach out we can collaborate on it 😄

[2018-10-18 18:52] KyleAMathews commented on #9151
We also need to update gatsby-plugin-netlify as part of this change https://github.com/gatsbyjs/gatsby/blob/6951db0864190015d05d763980e34424db9fbc39/packages/gatsby-plugin-netlify/src/constants.js#L28

[2018-10-18 18:58] Seldszar commented on #9218
@tylerbuchea  Sure! I was thinking about making 2 PRs, one for the plugin for unifying code style, then another one for the ES module support. Does that sound good to you?

[2018-10-18 18:59] ammarbinfaisal commented on #9095
So will this(not reloading when imported css is changed and not displaying the changes even after reloading manually) not be considered a bug? is this a part of gatsbyv2?

[2018-10-18 19:01] omattman opened #9223 "Change language of graphql output"
I'm currently developing a site and I wish to change the language of the data output to my locale language. Currently my days are displayed as:

[code]

And my graphql is:

[code]

How do I change this to my locale language?

Using Wordpress as a backend and set everything to locale language and timezone.

I am also aware of moment.js playing a role, but I am unware of how I approach this.

[2018-10-18 19:13] tylerbuchea commented on #9218
Sounds groovy 😎

[2018-10-18 19:59] pieh commented on #9174
It seems like it was fixed with this upgrade. Thanks @gpetrioli for providing context for that! I owe you!

I'm still baffled why it wasn't manifesting locally for me

[2018-10-18 21:31] amberleyromo commented on #9222
@rosariopfernandes great! thanks so much! Marking as claimed

[2018-10-18 21:55] #9218 closed

[2018-10-18 23:06] pieh commented on #8051
@openmedi Please ping me if you get stuck or need any help

[2018-10-19 01:09] TylerBarnes commented on #5801
Seems like something must've changed! The only thing that kinda works for me is `gatsby develop -H 0.0.0.0` but I don't get HMR on my device.
I tried the rest but it doesn't connect at all on my local machine or my phone.

When

[2018-10-19 01:35] SimonIMG commented on #8242
Hi @smakosh. I just left my String as not required. Our relatively large and complex Gatsby site with WP backend has gone live and had no problems.

All pages are rendering in `gatsby develop` and `gatsby build` fine.

If you manage to work this out with the String required, please share. But for now, if you're struggling with this (and no one else has any reason to **not** recommend this due to s

[2018-10-19 01:55] smakosh commented on #8242
By removing the `!`, I get the same content on each page even though the slug changes which is weird, while the query works just fine on the `GraphiQL` playground

[2018-10-19 01:58] DSchau opened #9233 "[CI]: e2e path prefix test seems to intermittently fail"
## Description

In CircleCI, the e2e path prefix test seems to fail intermittently. Let's fix it!

### Steps to reproduce

Check out a PR, e.g. https://github.com/gatsbyjs/gatsby/pull/9227

### Expected result

The e2e tests should _all_ pass unless actual regression was introduced in current PR

### Actual result

[code]

[2018-10-19 02:00] sbrookes4 opened #9234 "Command line filepath name does not accept special characters for command "gatsby develop""
## Description

Command line filepath name does not accept special characters for command "gatsby develop"
### Steps to reproduce

1. Open your CMD/ Git CMD
2. Clone the repository to you local machine. You local machine should have a special character in the file path name - in my case it was C:\Users\Shawna's PC\hacktoberfest
3. execute 'npm i'
4. execute 'gatsby develop'
5. it will go through t

[2018-10-19 02:13] DSchau opened #9235 "feat(gatsby-remark-prismjs): add in ability to use comments to specify line highlighting"
## Summary

It's pretty monotonous to (up front) determine which lines are to be highlighted. It's also pretty fragile, in that if you make changes to the code snippet itself, the highlighted lines often get changed, therefore leading to inevitable confusion and churn in keeping these updated.

### Basic example

I'd propose we offer a separate mechanism for highlighting lines. I'd be interested i

[2018-10-19 03:02] AryanJ-NYC commented on #9121
Data point: Like @appleJax , I too have this issue when using `material-ui`.

[2018-10-19 03:33] magdielikari opened #9236 "Question, where do I have to load a theme for Office UI Fabric in Gatsby V2?"
Hi,
I try to use a theme for Office UI Fabric but I can't. The documentation oficial say:
"an application must call loadTheme() immediately at app startup before any app code executes."

But, I don't know where I have to load the theme. I try to call the function in several parts (the components, the pages, gatsby-node) of the app but it don't work. I use gatsby version 2

Thanks...

[2018-10-19 04:56] appleJax commented on #9121
@AryanJ-NYC you can also create client-side routes with the `@reach/router` package. I think this is the recommended way? https://www.gatsbyjs.org/docs/building-apps-with-gatsby/

[2018-10-19 04:58] lexishanson commented on #9158
@tanvibhakta I implemented the changes but thank you for the offer!

[2018-10-19 05:33] carrickjason commented on #6274
We are having this problem as well. We have to set the host to 0.0.0.0 for docker but that doesn't work on Windows.  Does anyone know of a workaround?

[2018-10-19 07:12] tbo-axelor commented on #9175
thanks to all for replay

gatsby-source-graphql it is usefull...
is it possible to fetch all schema to another url server  without specify typename or field name??

[2018-10-19 07:30] Siregar commented on #9176
@pieh Thanks for the detailed explanation.

[2018-10-19 07:34] tanvibhakta commented on #1546
Hi, I looked into what @lassiter said and it looks like you can get the number from [Google Analytic's Real Time Reporting API](https://developers.google.com/analytics/devguides/reporting/realtime/v3/devguide) but the API is in developer beta, and to request access in the form [here](https://docs.google.com/forms/d/e/1FAIpQLSc9OpoDGB3tBD7oy1OG9fyum8KBIxs-2ihPCsHp13WTnM-SSQ/viewform) you need to gi

[2018-10-19 07:58] stefanprobst commented on #9223
Date fields take a `locale` argument, e.g.
[code]
Tip: You can explore the GraphQL schema in the GraphiQL console at http://localhost:8000/___graphql (The Docs button on the right), which will list all Fields and Types.

[2018-10-19 08:12] stepheljobs commented on #4816
Sadly this steps doesnt work on me.

delete package-lock.json
delete node_modules
run npm install
run npm run build

I hope the gatsby team, look at this issue.

[2018-10-19 08:18] jiv-e commented on #6958
This is also referenced here: https://github.com/gatsbyjs/gatsby/issues/4452#issuecomment-403456868

[2018-10-19 09:18] ascorbic commented on #9166
This is [a Chrome bug](https://bugs.chromium.org/p/chromium/issues/detail?id=656516). When JavaScript is disabled via chrome://settings then the SW cache is correctly bypassed. However if it is disabled via the devtools then it still uses the SW cache. Firefox has the same behaviour: JS diabled via about:config bypasses the SW, but disabled in devtools it still uses the SW. The problem here is tha

[2018-10-19 09:28] omattman commented on #9223
@stefanprobst Thanks, it works like a charm!

Closing this for now.

[2018-10-19 09:28] #9223 closed

[2018-10-19 09:40] thornberger commented on #9166
Thanks for the investigation @ascorbic!

I will close this issue.

[2018-10-19 09:40] #9166 closed

[2018-10-19 09:49] chmac opened #9241 "Proposal: Automatically filter for v2 starters in starter showcase"
## Summary

On the Gatsby Starters showcase, I suggest we set the v2 filter automatically.

### Basic example

Currently when you load the [starters list](https://www.gatsbyjs.org/starters/) you see both v1 and v2 starters. If you use a v1 starter, it's not super obvious to the user that they need to ignore the v2 docs and use the v1 docs instead. If we automatically set the v2 filter on the start

[2018-10-19 09:58] rahulkumaran commented on #8727
@shannonbux I'd like to take this up if the person who has claimed this hasn't made a PR

[2018-10-19 10:43] kukoba opened #9242 "Unhandled promise rejection logging"
## Summary

Would be great to add logging on errors during downloading required components.
In this catch: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/loader.js#L93

### Motivation

I spent a day on understanding the following situation: our site work well on local env (gatsby serve), under cloud watch, **but not under S3 directly in specific circumstances**.
The issue

[2018-10-19 10:58] AryanJ-NYC commented on #9121
I ended up not using a `withStyles` `material-ui` method call and all is well.

[2018-10-19 11:52] tanvibhakta commented on #8798
After discussion with @shannonbux, the proposal is to
1. Change the bottom text from "Was this page helpful? Yes/No" to "Was this page helpful? Helpful/Somewhat helpful/Not helpful"
2. Make a dialogue box open up on clicking 'somewhat helpful' or 'not helpful' so that the user can then give us more information if they wish to.

[2018-10-19 11:55] pieh commented on #9242
@kukoba Would you be interested in opening PR that adds more detailed logging there?

[2018-10-19 11:59] kukoba commented on #9242
@pieh yes, sure, will do it

[2018-10-19 12:04] pieh commented on #9236
Did you check https://www.gatsbyjs.org/docs/creating-global-styles/#how-to-add-global-styles-in-gatsby-using-css-in-js - it should cover this in css-in-jss section

[2018-10-19 12:05] pieh commented on #9241
/cc @amberleyromo

[2018-10-19 12:10] pieh commented on #9235
`gatsby-remark-embed-snippet` is using `gatsby-remark-prismjs` under the hood already, so I think directive handling part ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-embed-snippet/src/index.js#L56-L86 ) could be moved to `gatsby-remark-prismjs` and enchanced to support `highlight-start` -> `highlight-end` "syntax"

[2018-10-19 12:16] pieh commented on #9234
Seems like we need to escape paths when writing things out - at least here:
https://github.com/gatsbyjs/gatsby/blob/9057427080128d6b78356efc799adcc4cda6c7da/packages/gatsby/src/bootstrap/index.js#L317-L322
and potentially in other places as well, maybe just `siteDir` would need to be escaped

[2018-10-19 13:17] LekoArts commented on #9241
Funnily enough I already proposed that [here](https://github.com/gatsbyjs/gatsby/issues/5334#issuecomment-399894713) and [here](https://github.com/gatsbyjs/gatsby/issues/7785#issuecomment-417756169).
Hence this issue here: https://github.com/gatsbyjs/gatsby/issues/7900

[2018-10-19 13:33] chmac opened #9244 "[starter-library] Empty search field on "Reset all filters""
## Summary

When clicking the "Reset all Filters" button the starter showcase, the "Search starters" input should be emptied.

### Basic example

* Go to the starter showcase https://www.gatsbyjs.org/starters/
* Enter `lumen` into the "Search filters" input (top right, left of "Submit a Starter")
* Click the "Reset all Filters" button (top left, grey)

Expected result:

* The "Search filters" inpu

[2018-10-19 13:37] Seldszar commented on #9195
It seems your `gatsby-config.js` is wrong. The `plugins` property takes an array of strings or objects for each plugin you want to use.

Here's the right one:

[code]

Also, adding `gatsby` in plugin is not right because it's simply not one.

[2018-10-19 13:46] chmac commented on #9244
I've had a little look into this. The input is a `DebounceInput` component:

https://github.com/gatsbyjs/gatsby/blob/9057427080128d6b78356efc799adcc4cda6c7da/www/src/components/debounce-input.js#L6-L10

The `onChange` callback pushes the search string into URL state here:

https://github.com/gatsbyjs/gatsby/blob/9057427080128d6b78356efc799adcc4cda6c7da/www/src/views/starter-library/filtered-starte

[2018-10-19 13:47] josekhon opened #9246 "Accessing data"
Could someone look at my queries and let me know if they see something that I don't . I keep getting the error "cannot read property front matter of null" .  I can see the data in my console and I'm not sure what I'm doing wrong. These are the lines that are throwing the code off. Which is strange because when I do
console.log(data.clinicalQuery.edges[1].node.childMarkdownRemark.frontmatter.title)

[2018-10-19 14:05] robertoaikode opened #9247 "HMR no actualiza todo el componente"
## Description

HMR does not update the entire component.
It only updates the RENDER but not the functions.

### Steps to reproduce

Use the following class:

==========================================

import React from 'react'

class Test extends React.Component {

    constructor(props){
        super(props)
        this.functionName = this.functionName.bind(this)
    }

    componentDidMount()

[2018-10-19 14:09] azamatsmith commented on #5824
Adding `babel-plugin-remove-graphql-queries` helped me get Storybook working 🙌

[code]

[2018-10-19 14:19] chmac commented on #7439
I think this can be closed now that Gatsby v2 is live and layouts are just arbitrary components. @sunfudge if you think this is still an issue, please reopen and I'll try to help you resolve the issue.

[2018-10-19 14:19] #7439 closed

[2018-10-19 14:31] chmac opened #9249 "[starter-library] Starter slugs are not unique"
## Description

The slug for each starter is the GitHub repo stub (the part after the username). There are currently 2 starters in the list called `gatsby-starter`. Those two starters have the same URL on the starter showcase.

### Steps to reproduce

* Filter starters by "Cosmic JS" https://www.gatsbyjs.org/starters/?c=Cosmic%20JS
* Click on the `cosmicjs/gatsby-starter` starter (the first in the

[2018-10-19 14:40] chmac commented on #8757
It looks like this is a slightly inconsistent problem. In the [current starter list](https://www.gatsbyjs.org/static/d/304/path---starters-a-58-958-ap6IwuUtyp53vIlEVBGEoX6MgqA.json) every starter except the last one in the list has a `starterShowcase` value.

Reading the code that generates these fields, it looks like the field should always be created. It's not clear to me how a starter gets into

[2018-10-19 14:44] amberleyromo commented on #9241
@LekoArts `no triage` is a label added by the Gatsby team to indicate that it's a valid issue that doesn't require author reproduction (in the case of a bug) or verification (in the case of a feature proposal). These are generally issues created by someone on the core team.

So, thanks for discussing! @chmac were you just proposing or interested in working on it? If you want to grab it at #7900 fe

[2018-10-19 14:45] amberleyromo commented on #8757
Hi @chmac -- it's not clear to me either. If you want to take a look at the current PR to address this issue, feel free -- #8763

I'm not sure why it's happening, part of that PR is just a stopgap for the problem.

[2018-10-19 15:48] #8757 closed

[2018-10-19 16:40] m-allanson commented on #7916
Hey @Greegko can you try updating your repo to the latest version of Gatsby? It looks like this will have been fixed by https://github.com/gatsbyjs/gatsby/pull/8570

[2018-10-19 18:28] pieh commented on #9246
Then those image file will be included so you need to add `extension` filter as well:

[code]

[2018-10-19 18:39] appleJax commented on #9121
@AryanJ-NYC if you want to use `withStyles` on multiple pages, just pass a unique prefix as a prop to the `Layout` component and forward it to `JssProvider`. Looking at your repo, you'd modify the `Layout` component like this:

[code]

And then instantiate `Layout` like so:
[code]

[2018-10-19 18:53] #9246 closed

[2018-10-19 18:55] AryanJ-NYC commented on #9121
@appleJax 🙏 🙏 🙏

[2018-10-19 18:59] pieh commented on #9247
I think that's because `react-hot-loader` doesn't actually remount component.

[2018-10-19 20:53] pieh commented on #9247
Well I'm not sure - can you try your component in `create-react-app` and see if same thing happen there?

[2018-10-19 20:54] sbardian opened #9258 "TypeError when submitting feedback on remote plugin."
## Description
Getting `TypeError: t.props.page is null` when attempting to thumbs up or down a remote plugin.

### Steps to reproduce
Open plugins page and thumbs up or down at the bottom of a remote plugin page readme.
(example: https://www.gatsbyjs.org/packages/@sbardian/gatsby-source-amazon-wishlist/)

### Expected result
Expected result is `Thank you` like sending feedback for a local plugin.

[2018-10-19 20:57] pieh commented on #9249
Seems like adding `owner` to `slug` does make sense - but it will mess existing links - so we would need to create redirects as well

@amberleyromo do you have other ideas that we could use (busy day today for starter showcase :) )

[2018-10-19 21:00] jbranchaud commented on #9249
I'd be happy to work on this.

My first thought would be to include the `owner` as part of the slug (as @pieh suggested). If, for any reason, you didn't want to have the `owner` name in the URL, another possibility is to use an md5 hash of the `owner` and `repoStub`.

[2018-10-19 21:13] shannonbux opened #9259 "Combine two docs into one and add redirects"
There are two docs that basically cover the same topic.

The goal here is to combine these two docs into one titled: “Add offline support with a Service Worker”
1. https://www.gatsbyjs.org/docs/add-offline-support/
2. https://www.gatsbyjs.org/docs/add-a-service-worker/

Process:
Read both docs thoroughly and make sure the final doc covers all the necessary information to help someone "add offline

[2018-10-19 21:13] shannonbux opened #9260 "Docs - remove double link from docs sidebar"
This URL is linked to two places on the docs sidebar. We ought to remove the link to this URL from `doc-links.yml` under "Adding website functionality" and keep the link under "Performance".

https://www.gatsbyjs.org/docs/add-page-metadata/

## Motivation
Reducing redundancy in the docs increases clarity, or at least doesn't introduce more confusion (usually :).

[2018-10-19 21:21] #9260 closed

[2018-10-19 21:29] YKalashnikov opened #9261 "WebpackError: window is not defined in Gatsby"
Hello, trying to solve this problem

  228 | }
  229 |

      | ^
  231 | var cancelFn = window.cancelAnimationFrame || getPrefixed('CancelAnimationFrame') ||
  232 | 		getPrefixed('CancelRequestAnimationFrame') || function (id) { window.clearTimeout(id); };
  233 |

  WebpackError: window is not defined

  - leaflet-src.js:230
    ~/leaflet/dist/leaflet-src.js:230:1

  - leaflet-src.js:7 version

[2018-10-19 21:56] rfbotto commented on #9259
I will gladly take this one @shannonbux :)

[2018-10-19 23:37] YKalashnikov commented on #9261
**UPDATES**
Solved the problem by

import React, { Component } from "react";
//import { Map, Tooltip, TileLayer, Circle, Rectangle } from 'react-leaflet'
//import 'leaflet/dist/leaflet.css'

      const center = [32.713024, -117.166873]
      const rectangle = [[32.711332, -117.216577], [32.709620, -117.192976],[32.692375, -117.219004], [32.688305, -117.200345]]

 class Maps extends Component {

[2018-10-19 23:37] #9261 closed

[2018-10-19 23:43] leolabs opened #9264 "[gatsby-image] Base64 version of image isn't hidden on first page load"
## Description

I'm using gatsby-image to lazy-load some png images. Normally, after the image is loaded, the small base64 version is hidden. However, this doesn't happen when I load the built site. This leads to both images being visible at the same time which looks weird.

Upon inspecting the component, I see that `imgLoaded` is correctly set to `true`, but that doesn't seem to affect the base64

[2018-10-20 00:35] schabibi1 commented on #9195
Seldzar, thank you for your response.
It's very important to fix in the right way to write!
I fixed `gatsby-config.js` and figured out 404 errors were because I forgot to add this right after closing html tag.

 `<script src="https://checkout.stripe.com/checkout.js"></script>`

It worked but when I check on the next day is always somehow this script tag disappears and show me the same 404 errors.

[2018-10-20 02:47] rwieruch commented on #9087
@pieh do I understand correctly, that with every new gatsby build the service worker gets the update and I don't need to worry about my users getting an old version of the webiste? I couldn't find anything about it in the gatsby-offline-plugin docs.

[2018-10-20 07:36] stefanprobst commented on #9264
Possibly related: #8323

[2018-10-20 09:38] leolabs commented on #9264
After digging around in the code, I think the problem lies in the caching system. It only occurs when an image is used twice on the page. The check ([index.js, L126-138](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L126-L138)) only sets IOSupported to true if the image hasn't been seen before, which might cause problems. However, I don't know if that is the roo

[2018-10-20 09:41] leolabs commented on #9264
The issue could also be fixed by #7539.

[2018-10-20 09:59] stefanprobst commented on #9264
Would you be able to test locally if #7539 fixes it for you? If you're adventurous you could also try [this very unofficial drop-in replacement](https://github.com/gatsbyjs/gatsby/issues/8323#issuecomment-427853031).

[2018-10-20 10:15] leolabs commented on #9264
It's hard to merge #7539 with the current codebase as the current code base has changed in the meantime. However, I'll try out your drop-in replacement. That looks promising 👍

[2018-10-20 10:49] jpomykala opened #9267 "WebpackError: TypeError: Cannot read property 'frontmatter' of null"
## Description

Cannot build a working webpage using markdown. With ``npm develop`` is ok

### Steps to reproduce

Create gatsby page with ``gatsby new my-page https://github.com/gatsbyjs/gatsby-starter-default``

and follow the tutorial: https://www.gatsbyjs.org/docs/adding-markdown-pages/

``npm run build``

### Expected result

Build successfully

### Actual result
[code]

Project: https://gith

[2018-10-20 10:59] schabibi1 commented on #9195
It fixed!
It happened when I fixed gatsby-config.js and before fixing it. But After I fixed in above was no problem.

[2018-10-20 10:59] #9195 closed

[2018-10-20 11:09] LekoArts commented on #9267
You need to put the post-page.js file into the folder „templates“ - the tutorial mentions that. The reason behind that is that every js file in the pages folder gets processed to a page and it won’t have access to this query

[2018-10-20 12:07] jpomykala commented on #9267
Weird, I was thinking that if I set my own path to template it will still work. I think it's worth mention that in tutorial.

[2018-10-20 12:07] #9267 closed

[2018-10-20 15:41] c0b41 opened #9271 "[www] Graphviz elements not responsive"
example docs url: https://www.gatsbyjs.org/docs/schema-generation/

![www gatsbyjs org_docs_schema-generation_](https://user-images.githubusercontent.com/2834954/47257518-9503bb00-d497-11e8-964a-58b2ca684719.png)

[2018-10-20 15:44] agyeiarcher commented on #3571
I'm having this problem connecting to WordPress, has anyone else had it and got it resolved?

[2018-10-20 16:26] niklasravnsborg opened #9272 "[gatsby-plugin-react-helmet]: <title> isn't rendered server-side"
## Description

gatsby-plugin-react-helmet doesn't prerender the title tag as expected for pages other than /. Example on view-source:https://www.gatsbyjs.org/features/. Title should be `Features | GatsbyJS` but it is just an empty tag:

<img width="637" alt="screenshot 2018-10-20 at 18 13 03" src="https://user-images.githubusercontent.com/6717303/47257870-d2fee000-d493-11e8-85d4-039af908efcf.png"

[2018-10-20 17:01] jlengstorf commented on #9077
@TylerBarnes I think it might be worth opening a new issue or asking @DSchau on Discord. This issue isn't really scoped for the problem you're describing, so we should get something open to capture it directly.

[2018-10-20 18:04] AryanJ-NYC commented on #9121
Update (in case anyone comes looking for help): I just ended up following the material-ui gatsby example: https://github.com/mui-org/material-ui/tree/master/examples/gatsby

[2018-10-20 23:45] lloydh commented on #9207
@Yurickh I agree specifying the ``/``-ending urls as canonical is a pragmatic option but it does seem like advocating a schizophrenic url scheme for something that was easily solved with nginx / apache but not today's static site hosts.

If this really is the best approach then perhaps ``gatsby-plugin-remove-trailing-slashes`` should have this as an option (at least mentioned in the docs). Alterna

[2018-10-21 01:51] Seldszar commented on #9272
After some investigation, it seems a service worker (provided by `gatsby-plugin-offline`) is still registered, serving the wrong assets.
Unregister the said service worker and the page should be back to normal.

[2018-10-21 02:00] KyleAMathews commented on #9272
When you view source with a sw you're I'm guessing serving the source for the empty app shell page the SW serves. This loads the js for the page and then renders it. Is the title being set in the browser? Also for seo, it's what's in the html that matters.

[2018-10-21 02:50] smakosh opened #9276 "Query variables no longer work"
## Description

Query variables no longer work which makes the data's value set to `null`,
I'm forced to use `pageContext` as a workaround

### Steps to reproduce

1- `git clone git@github.com:gatsbyjs/gatsby-starter-blog.git`
2- `yarn`
3- upgrade to the latest gatsby `2.0.28`
4- run `yarn develop` and navigate to specific blog post

### Expected result

The data's value has not to be set to `null

[2018-10-21 07:29] yeskunall commented on #9276
It would help if you mentioned _which_ specific blog post.

Other than that, with my `package.json` contents after cloning and updating to latest:

[code]

... my blog _seems_ to be working just fine. Key word here is "seems" because I don't really know what's going on. Some screenshots would be 👍🏽

[2018-10-21 08:17] designforhuman commented on #8996
I have the same problem..

[2018-10-21 10:33] siddhant1 commented on #9259
Adding claimed

[2018-10-21 12:52] niklasravnsborg commented on #9272
@Seldszar @KyleAMathews Thanks ☺️. Didn't figure out it could be the service worker. Thought I'm viewing the html in fact. So SEO is fine!

Anyway, is this the expected behavior or can I close this issue?

[2018-10-21 14:20] #9272 closed, assigned to nobody

[2018-10-21 15:33] smakosh commented on #9276
Seems to work fine, closing this issue.

[2018-10-21 15:33] #9276 closed

[2018-10-21 16:40] rjhilgefort opened #9280 "Remark Bulleted List Output In Single `p` Tag"
## Summary

My markdown is being rendered in HTML, but my unordered lists are presenting all in one line in a single `p` tag. I was expecting them to present on separate lines. How can I adjust/fix this?

I'm expecting something like

- one
- two
- three

But I'm seeing something more like

[code]

[2018-10-21 16:42] designforhuman opened #9281 "gatsby-source-filesystem: cannot query allFile"
I can't query allFile after installing gatsy-source-filesystem.
It is the same when I started a fresh gatsby hello-world project with only the plugin installed. I didn't do anything else, but I still cannot find allFile tag on graphiQL either.
Does it has to be with my computer? Do you have some suggestions to solve this? Thanks.

  System:
    OS: macOS 10.14.1
    CPU: x64 Intel(R) Core(TM) i5-6

[2018-10-21 16:49] KyleAMathews commented on #9280
Can you create and share a site which reproduces this?

[2018-10-21 16:50] KyleAMathews commented on #9281
Can you share your code? Or a site which reproduces the problem? I assume you've read the plugin's README closely?

[2018-10-21 16:53] rjhilgefort commented on #9280
I'm sorry, it looks like it was my fault, I was using a list I copy and pasted out of another page and it was using `• ` instead of `-`.

[2018-10-21 16:53] #9280 closed

[2018-10-21 16:57] designforhuman commented on #9281
@KyleAMathews
On my main project, I heavily use gatsby-source-contentful. But when I installed gatsby-source-filesystem, I couldn't query somehow.
To just be sure, I started a fresh basic project -> https://www.gatsbyjs.org/tutorial/part-one/
Then I installed gatsby-source-filesystem -> https://www.gatsbyjs.org/tutorial/part-five/#source-plugins
Then I guess I should be able to query allFile like

[2018-10-21 16:59] KyleAMathews commented on #9281
Can you provide steps to reproduce the problem? We don't hear this bug report often so we need to understand better what you're doing to help.

[2018-10-21 17:11] designforhuman commented on #9281
@KyleAMathews
NPM 6.x and the latest gatsby installed.
1. gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world
2. npm install --save gatsby-source-filesystem
3. made gatsby-config.js
4. added the code below
module.exports = {
  plugins: [
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `src`,
        path: `${__dirname}/src/`,
      },
    }

[2018-10-21 17:13] KyleAMathews commented on #9281
Did you run `gatsby develop`?

[2018-10-21 17:15] designforhuman commented on #9281
@KyleAMathews
Yes. That would be the step between 5 and 6. Otherwise I wouldn't able to see the graphql ready screen.

[2018-10-21 17:16] KyleAMathews commented on #9281
Can you push your code to a repo on GitHub?

[2018-10-21 18:37] justsml opened #9283 "Error in Wordpress Queue Loses Stack Trace"
## Description

This is a minor issue around error visibility.

Here's how Bluebird's warning about the issue shows up:

![image](https://user-images.githubusercontent.com/397632/47270777-d47ce680-d52d-11e8-9a1d-1812a9837d5a.png)

`Warning: a promise was rejected with a non-error: [object String]`

To fix this, `rej(string)` must be called with `new Error(string)` instead.

PR, coming soon. ❤️

[2018-10-21 19:10] rchrdnsh commented on #5213
I am suuuuuper duper interested in this whole thing, as I am struggling mightily to get Gatsby to do what I want it to do for a baseline SPAPWA experience. +infinity that y'all awesome peeps are working this out :-)

[2018-10-21 22:38] mdalzell commented on #8790
Just ran into this issue as well after upgrading from v1 to v2.  Everything looked good using `gatsby develop`, but `gatsby build` displayed "Loading (Static Query)".  The inlining workaround described above worked for me.

[2018-10-22 04:44] thebarty commented on #4985
As a reference and no brainer: `npm update gatsby` fixed it for me

[2018-10-22 05:44] kakadiadarpan commented on #9189
@simonjoom Please follow the steps provided in the documentation for [Site Showcase Submissions](https://www.gatsbyjs.org/docs/site-showcase-submissions/)

[2018-10-22 05:48] kakadiadarpan commented on #9189
@simonjoom Please follow the steps provided in the documentation for [Site Showcase Submissions](https://www.gatsbyjs.org/docs/site-showcase-submissions/)

[2018-10-22 06:11] yeskunall opened #9288 "Incorrect picture when sharing Gatsby's site"
## Description

This issue might be specific to Facebook Messenger, but might be a larger issues: if you share [Gatsby's website](https://gatsbyjs.org) in Facebook Messenger, you see what I believe is @calcsam's face! 😆

### Steps to reproduce

Just share [this](https://gatsbyjs.org) link in Facebook Messenger.

### Expected result

What should happen?

Should have seen Gatsby's logo, or something

[2018-10-22 06:15] YangSongGit commented on #6358
I also met this problem when I run this code:
[code]
and I do not have another  `.yml`  files in current folder,  I don't know what to do now...

[2018-10-22 09:17] stefanprobst commented on #9281
I cannot reproduce this with your reproduction repo. Could you try again after removing your outdated global gatsby version?

[2018-10-22 09:17] stefanprobst commented on #9281
I cannot reproduce this with your reproduction repo. Could you try again after removing your outdated global gatsby version?

[2018-10-22 09:18] stefanprobst commented on #9281
I cannot reproduce this with your reproduction repo. Could you try again after removing your outdated global gatsby version?

[2018-10-22 09:19] stefanprobst commented on #9281
I cannot reproduce this with your reproduction repo. Could you try again after removing your outdated global gatsby version?

[2018-10-22 10:22] yeskunall opened #9289 "Incorrect image displayed when sharing Gatsby's site"
## Description

This issue might be specific to Facebook Messenger, but might be a larger issues: if you share [Gatsby's website](https://gatsbyjs.org) on Facebook Messenger, you see what I believe is @calcsam's face! 😆

### Steps to reproduce

Just share [this](https://gatsbyjs.org) link in Facebook Messenger.

### Expected result

What should happen?

Should have seen Gatsby's logo, or something

[2018-10-22 11:08] spookylukey commented on #2444
For me a critical feature to have on this list is what I would call "HTTP basics" (sometimes called "server side rendering") which is a bunch of things:

* a URL for some specific HTML resource should return the actual HTML content for that resource (not some Javascript that, when executed, will fetch and build that HTML).
* URLs should return appropriate HTTP response codes at the server level (e

[2018-10-22 11:16] spookylukey commented on #2444
For me a critical feature to have on this list is what I would call "HTTP basics" (sometimes called "server side rendering") which is a bunch of things:

1. a URL for some specific HTML resource should return the actual HTML content for that resource (not some Javascript that, when executed, will fetch and build that HTML).
2. URLs should return appropriate HTTP response codes at the server level

[2018-10-22 11:25] shakes90 commented on #9145
Problem still exists with gatsby v2.4.3

[2018-10-22 12:34] Seldszar commented on #9289
Duplicate of #9288

[2018-10-22 12:34] #9289 closed

[2018-10-22 12:40] Seldszar commented on #9288
The `og:image` metadata seems to be missing in the HTML for some reason. My guess is to add it and the image should be fixed.

[2018-10-22 13:35] kodemi commented on #4926
Why issue is closed? The problem is still actual.

[2018-10-22 14:54] amberleyromo commented on #9249
@pieh @jbranchaud I agree that the most straightforward way would be to add owner to slug.

@jbranchaud thanks for offering to take this up!

[2018-10-22 14:57] #9283 closed

[2018-10-22 15:11] zslabs opened #9293 "gatsby-transformer-remark: information is not a function"
## Description

I think [this PR](https://github.com/gatsbyjs/gatsby/pull/9219) may be causing some issues on `gatsby build` for me:

[code]

As soon as I upgrade to `2.1.8` it's throwing this error.

### Steps to reproduce

1. Upgrade `gatsby-transformer-remark` to `2.1.8` (I was on `2.1.7`)

### Expected result

Successful build.

### Actual result

🚫

### Environment

Run `gatsby info --clipboa

[2018-10-22 15:32] designforhuman commented on #9281
@stefanprobst Could you try again?

[2018-10-22 15:40] jodays opened #9295 "Parsing Image link in markdown on search"

[2018-10-22 15:46] stefanprobst commented on #9281
Yup, still working. To me this seems to indicate a problem with your local setup. I assume you have removed your global gatsby install?

[2018-10-22 15:52] designforhuman commented on #9281
@stefanprobst Yes. I did npm uninstall gatsby-cli.
Do you guess which local setup may cause the problem?

[2018-10-22 15:54] stefanprobst commented on #9293
Probably because of an [outdated `property-information`](https://github.com/gatsbyjs/gatsby/blob/69fd92b85c3b212f81bbe2f5b36ab933ba729c3c/yarn.lock#L15040) package.

[2018-10-22 16:17] #9295 closed

[2018-10-22 16:29] oobidin commented on #5129
Same issue:

I have the nginx conf:
[code]
where $geoip_base_url is a country-language combination like `us-en`.

So, I have a 404 page inside every counry-language folder like `/us-en/404/index.html` and would like to show a country-language specific 404 page without any redirects. So, after I reach any not found URL nginx shows the right 404 page but after a moment location changes from e.g. `/x

[2018-10-22 16:31] pieh commented on #9293
@zslabs Can you share repo so I can check if fix from @stefanprobst will work or we need to dig deeper

[2018-10-22 16:40] designforhuman commented on #9281
@stefanprobst Oh you're right. I did npm uninstall -g gatsby.
But I still don't see the allFile. Do you have other suspicious local setups that cause the problem?

[2018-10-22 16:52] stefanprobst commented on #9281
Ok so to summarize, after the following steps it works for me, but not for you:
[code]
Then I'm out of ideas, sorry, maybe someone else?

[2018-10-22 16:59] designforhuman commented on #9281
@stefanprobst I did the 4 steps you mentioned. It still doesn't work. It is very strange.

[2018-10-22 17:19] calcsam opened #9298 "Filter posts in www by date"
Currently all blog posts on `www` are displayed. As a result, when we calendar posts for the future, sometimes we need to hold merging them until the future, and then we forget....

In order to avoid this problem, we want to be able to merge posts right away, but have them not show up in lists until they are published.

As a result:
* Blog posts should continue to page be created as pages, no matt

[2018-10-22 17:36] pieh commented on #9214
The `test` should be `/react-media-player/` (no quotes around it - it's regex test). it will check the way you import module and not its path in node_modules. This will catch imports like:
`import ReactMediaPlayer from "react-media-player"` or `import SomethingElse from "react-media-player/someOtherThing"`

If the switch you refer to is `if (stage === "build-html")` then this is needed so it only

[2018-10-22 17:36] jgierer12 commented on #9298
I'd like to work on this :)

[2018-10-22 17:39] DSchau commented on #9298
@jgierer12 we would love if you do :) Thank you!

[2018-10-22 17:43] zslabs commented on #9293
Unfortunately I won't be able to; internal website.

[2018-10-22 17:52] TylerBarnes commented on #9077
@jlengstorf thanks again for all the awesome support you guys are doing! I ended up learning how to use the context api and realized it makes much more sense for what I'm trying to do.

A Gatsby example of using javascript frontmatter in combination with another source plugin still might be helpful for someone in the future though.

[2018-10-22 17:52] #8741 closed

[2018-10-22 17:55] mikelax commented on #9288
nice @Seldszar . for completeness you may want to add a few additional meta tags to get better sharing support on other sites.
I made a similar PR in the gatsby store repo a little while ago.

gatsbyjs/store.gatsbyjs.org#142

[2018-10-22 18:00] coreyward commented on #4926
@kodemi Looks like my fault! I mentioned the issue in a totally separate private repo pull request and Github mistakenly took it as a fix. 😳

[2018-10-22 18:04] Seldszar commented on #9288
Will do! :)

[2018-10-22 18:14] jodays opened #9299 "Static query and Gatsby Lunr Autocomplete Search"
I have a stateful component in which I want to do a static query for all the titles of my markdown. Store them in an array to use for an autocomplete search. I'm not sure I understand the syntax for a static query in a react component like this for example. I'd appreciate any direction. I'm trying to use the react autosuggest library, for that I need to store an array of options.

[code]

[2018-10-22 18:31] KyleAMathews opened #9300 "Build source plugin for Marvel API"
Marvel has a great API that lets you access a ton of data — it'd be great to have it wrapped in a source plugin that let sites easily pull in data

https://developer.marvel.com/

[2018-10-22 19:09] swashata opened #9301 "[Q] Is it okay to return Promise[] to gatsby-node createPages for multiple queries"
## Summary

To understand gatsby better, I am creating everything from scratch. So far so good. One of my experiment has been to use multiple `graphql` queries within `createPages`, run each of them and create relevant pages.

So looking at the promise interface, I first thought of, creating promises and then return `Promise.all([stuff, morestuff])`. It just worked.

Then I went on full experiment

[2018-10-22 19:50] jlengstorf commented on #9077
@TylerBarnes could you share your final code with me? I'd love to see how you're using the Context API for page transitions.

[2018-10-22 20:01] pieh commented on #9301
You probably need to use `Promise.all`. I would suspect that returning array of promises works by accident here (not sure) - would probably need to check with something that artificially delays execution to be sure.

[2018-10-22 20:04] pieh commented on #8996
Is `null` happening for resource that got changed or for "unrelated" data?

We probably need more information here

[2018-10-22 20:10] pieh commented on #9293
Let's try other way around then.
If you use `yarn` you can try adding to package.json [`resolutions`](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) entry:
[code]
and run `yarn` to install deps (that will force to use newer version of package) - so it will do same thing that mentioned PR is doing.

If you could try and let us know if it fixes the problem (with `gatsby-transformer

[2018-10-22 20:13] TylerBarnes commented on #9077
@jlengstorf I spent a bunch of time on it over the weekend and I'm packaging up a demonstration plugin as a kind of working proof of concept. I'll post it up for you once I get something worth looking at.

[2018-10-22 20:42] hoop71 commented on #8996
@pieh for my project, any data field changed that is not related to the image `eg: title, heading, etc` results in a `null` value for mainImage.

If I change fields related to mainImage `title, heading, etc` but not the image itself, everything works as expected.

If I change/modify the image itself, mainImage is a again a`null` value.

[2018-10-22 21:16] pieh commented on #8996
Any additional information - like do you use locales would be really helpful for us to debug this problem

/cc @Khaledgarbaya

[2018-10-22 21:32] pieh commented on #8996
Ok, I can definitely reproduce that

[2018-10-22 21:39] pieh commented on #9159
Sorry for delay - it should be deployed on both v1 and v2 sites now (v1 site had problems with rebuilding but it's fixed now)

[2018-10-22 22:14] pieh commented on #8996
oh, I got this - will have PR with fix soon

[2018-10-22 22:47] hoop71 commented on #8996
@pieh Rad! Excited to see what you came up with!

[2018-10-22 23:04] #8727 closed

[2018-10-22 23:05] shannonbux commented on #8727
@rahulkumaran Hi! The PR got merged and this issue didn't get closed until now! Apologies and thanks for offering to help! Have you checked #8103 to see if there is anything else you'd like to contribute to there?

[2018-10-22 23:17] #9142 closed

[2018-10-23 02:07] jbranchaud commented on #9249
I've submitted a PR to add `owner` to the slug. Does something also need to be done about redirecting what will now be broken URLs?

[2018-10-23 02:09] ibanlopez commented on #7293
I get same issue but with gatsby-plugin-sharp. Seems to be tunnel-agent:

`├─┬ gatsby@2.0.19
│ └─┬ request@2.88.0
│   └── tunnel-agent@0.6.0
├─┬ gatsby-plugin-manifest@2.0.5
│ └─┬ sharp@0.20.8
│   ├─┬ prebuild-install@4.0.0
│   │ └── tunnel-agent@0.6.0  deduped
│   └── tunnel-agent@0.6.0  deduped
└─┬ gatsby-plugin-sharp@2.0.7
  ├─┬ imagemin-mozjpeg@7.0.0
  │ └─┬ mozjpeg@5.0.0
  │   └─┬ bin-build@2

[2018-10-23 03:41] cmdalbem opened #9308 "[gatsby-remark-images] null CSS style in "gatsby-resp-image-wrapper" span node"
## Description

I'm getting an error `span[style]:1:43: property missing ':'` when trying to use gatsby-remark-images with the `showCaptions` option turned ON. It completely breaks my website :(

![image](https://user-images.githubusercontent.com/467471/47333899-15bee480-d65b-11e8-8f58-95b1225155d7.png)

Looking at what Gatsby spits in the system console I think I found the problem: there's a `nul

[2018-10-23 04:29] kakadiadarpan commented on #9204
@nakedible can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

As you are not able to provide the result of `gatsby info --clipboard`, can you share your `package.json` here?

[2018-10-23 04:31] kakadiadarpan commented on #9205
@h0rhay can you try updating to Gatsby v2 and check if that resolves the issue for you?

[2018-10-23 04:35] kakadiadarpan commented on #9207
@lloydh did you had a chance to look at this documentation of [Redirects|Netlify](https://www.netlify.com/docs/redirects/#trailing-slash)?

[2018-10-23 04:42] kakadiadarpan commented on #9258
I'm able to reproduce this error when clikcing on thumbs up or down:

<img width="585" alt="screenshot 2018-10-23 at 10 11 20 am" src="https://user-images.githubusercontent.com/10805593/47336118-0a47d980-d6ac-11e8-8702-69c8049a3d4d.png">

[2018-10-23 04:54] 416serg commented on #7005
@jlengstorf Jason, so sorry for seeing this 2 months later 😅I have all the Gatsby emails going into the same folder and there are thousands. Yeah, I'd love to do a tutorial on this, stay tuned. Also adding it to the starters for now

[2018-10-23 05:06] jeremylynch opened #9310 "Multiple installations of Google Tag Manager detected"
When using [Gatsby-plugin-google-tagmanager](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-google-tagmanager), I am getting the following error only after I navigate to the 2nd page:
[code]
Is this expected?

[2018-10-23 05:43] SalomonSmeke commented on #7293
Hey. Ive been tracking this tunnel-agent stuff for a minute and its not very hopeful, highly recommend forking CAW and shrink-wrapping, or shrink wrapping tunnel-agent to the latest commit hash.

[2018-10-23 05:46] kakadiadarpan commented on #9310
@jeremylynch I've found Google Tag Assistant to be a little buggy. To confirm it is being installed multiple times, can you copy the GA ID, view the page source, and search, (cmd+F) for the ID in the code. If you find it's occurance more than once, that would mean that there is an issue. If your website is live somewhere, I can take a look at this an verify.

Can you also provide relevant environm

[2018-10-23 05:51] kakadiadarpan commented on #9213
@smakosh As per the documentation `typeName` can either be a `string` or a `function`.

Please refer the [documentation](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-json#configuration-options) for more details on configuration options for `gatsby-transformer-json`.

[2018-10-23 05:51] #9213 closed

[2018-10-23 05:56] kakadiadarpan commented on #9299
@jodays Please refer this [documentation](https://www.gatsbyjs.org/docs/static-query/) for `StaticQuery`. Please go through `How to use StaticQuery in components` and `Basic example`.

[2018-10-23 05:56] #9299 closed

[2018-10-23 06:06] sami616 commented on #8996
Great to hear this is being fixed thanks guys!

[2018-10-23 06:07] ugogo commented on #9203
Thanks @kakadiadarpan for the follow-up 👍

[2018-10-23 06:18] khus29 opened #9311 "Gatsby query for multiple ids"
My requirement is to fetch data for particular ids only. Graphql query is following

[code]
Issue is, it is returning only 1 data, the one which is added last in contentful. Please help

[2018-10-23 06:34] khus29 commented on #9311
@

[2018-10-23 06:43] kakadiadarpan commented on #9308
@cmdalbem I updated the Gatsby and packages to their latest version in your repo and that resolved the issue for me. Please update the following dependencies, that will resolve your issue:

<img width="1333" alt="screenshot 2018-10-23 at 12 12 08 pm" src="https://user-images.githubusercontent.com/10805593/47340796-ed67d200-d6bc-11e8-9896-81151fabb86d.png">

[2018-10-23 06:43] #9308 closed

[2018-10-23 08:50] haroldangenent commented on #8615
This was fixed in #9052. Thanks again for your help @pieh!

You can now use this notation: https://github.com/gatsbyjs/gatsby/issues/8615#issuecomment-425951215, where `<NameOfContentFieldType>` is `union<fieldKey>Node_2`. In the example, it would be: `unionContentNode_2`.

[2018-10-23 08:50] #8615 closed

[2018-10-23 08:52] s-pace commented on #9159
I have done a crawl of your website in order to let you know what we need from our side.

Please have a look to [the requirements exposed in this PR](https://github.com/algolia/docsearch-configs/pull/603)

Quickly, we will need you to:
- update the sitemap of the v1
- update the DocSearch javascript snippet in order to filter on the proper part of your documenation.

[2018-10-23 08:58] pieh commented on #9311
`contentfulFeaturedContent` will return always just 1 result - you'll want to use connection here:
[code]

[2018-10-23 09:46] lzbSun commented on #3014
I got the same one

[2018-10-23 10:08] Bouncey commented on #8504
@ajithr We have to increase the `max_old_space_size` for the node process doing the build for it to be able to build on netlify. Our site had 4000+ markdown pages.

[This is our npm script for doing so](https://github.com/freeCodeCamp/guide/blob/011f38c99eedb9d28657fcb73e925ad4b32aa8e6/package.json#L68)

Hope this helps

[2018-10-23 10:17] swashata commented on #9301
Thanks for your clarification. I will try to test with a hard-coded delayed `resolve` and see if this works with `Promise[]`.

Also if you think returning `Promise.all(Promise[])` is the right way, then I would like to document it somewhere in the docs.

[2018-10-23 11:40] kakadiadarpan commented on #9027
@zivc are you also getting `ERR_IPC_CHANNEL_CLOSED` when the build fails?

[2018-10-23 11:51] kakadiadarpan commented on #7897
We'll be closing this issue as it's resolution is confirmed by @gi-alec and @jameygleason

Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-23 11:51] #7897 closed

[2018-10-23 11:51] #8996 closed

[2018-10-23 12:05] kakadiadarpan commented on #8608
@gpetrioli yes you are right, `cookieExpires` sets the expiration date for the cookies and not for the static resources caching.

I agree that we should close this issue as it does not relate to Gatsby.

[2018-10-23 12:05] #8608 closed

[2018-10-23 12:06] swashata commented on #9301
Hello,

I have tested and if we have

1. `return Promise.all(Promise[])`, it works (with manual setTimeout delay). The `createPages` actually waits for the promise to resolve.
2. `return Promise[]`, it doesn't raise any error, but `createPages` doesn't wait for the promise to resolve. So pages aren't available at the very moment, but with time it does get resolved.

Here's a sample code.

[code]

[2018-10-23 12:08] swashata commented on #9301
You can clone [my repository at this commit](https://github.com/swashata/wp-webpack-script/commit/447c2129aef60bf5c0851d75b7cd259461559412) and

[code]

and of course change the last line to see the behavior. So I think your conclusion is absolutely correct, we should use `Promise.all`, and right now `Promise[]` is handled incorrectly. It should actually raise an error.

[2018-10-23 12:11] kakadiadarpan commented on #8560
@jonathan-chin can you try suggestions provided by @DSchau in this comment?

[2018-10-23 12:34] kakadiadarpan commented on #2714
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:34] kakadiadarpan commented on #4570
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:35] kakadiadarpan commented on #7597
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:37] kakadiadarpan commented on #8144
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:38] kakadiadarpan commented on #8161
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:38] kakadiadarpan commented on #8188
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:39] kakadiadarpan commented on #8319
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:39] kakadiadarpan commented on #8344
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:40] kakadiadarpan commented on #8395
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:42] kakadiadarpan commented on #8488
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 12:44] kakadiadarpan commented on #8675
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-23 13:03] pieh commented on #9301
This is a bit problematic, because some gatsby-node API hooks are more "sync" than others (ie. `resolvableExtensions`, `onCreateBabelConfig`, `onCreateWebpackConfig`) are fine with being sync and there we don't need to return promise at all.

So what we would need to do is check if actions passed to gatsby-node api are executed after that api already finished, which isn't so straight forward to do

[2018-10-23 13:39] swashata commented on #9301
I don't really understand it because I don't know the inner working of gatsby. But if `createPages` does (**always?**) expect a promise to return, can't it be checked explicitly during runtime?

I don't know what happens if we don't return anything from `createPages` at all.

[2018-10-23 13:49] joostdecock opened #9314 "Programmatic routing: Should I use Reach router's navigate() method, or is there a Gatsby-specific way?"
## Summary
I want to route the client after a form submit. I got it to work using reach's `navigate()` method, but I wonder if this is *the Gatsby way*?

## Relevant information
I Googled but could not really find any details about programmatic routing in gatsby. What I do know is that it uses [Reach router](https://github.com/reach/router) under the hood, and that Reach provides [the navigate met

[2018-10-23 13:52] pieh commented on #9314
Please check https://www.gatsbyjs.org/docs/gatsby-link/#programmatic-navigation

[2018-10-23 13:53] pieh commented on #9314
Gatsby does use `@react/router` navigate but it also does some extra stuff - like ensuring needed resources are loaded before changing page content

[2018-10-23 15:07] oskareke commented on #9293
@pieh What would be the equivalent of the resolutions fix for npm users?

[2018-10-23 15:47] franz-see commented on #9038
Im also experiencing this. I have a 3rd party module that uses `window` and that causes error in `npm run build`. I followed the docs (https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) as to how to fix it.

And although the error message for `window` is gone, I am now experiencing this as well

[code]

@pieh I dont understand your comment. Im not sure if you were jus

[2018-10-23 15:51] KyleAMathews commented on #8504
@Bouncey you still have to do that with Gatsby v2?

[2018-10-23 15:54] pieh commented on #8996
Fix was published in `gatsby-source-contentful@2.0.5` please update and let us know if it fixes the issue or there are situation where it still happen

[2018-10-23 15:56] pieh commented on #9293
@oskareke I'm not aware of `npm` equiavalent. The `resolutions` suggestions is just to try locally if upgrading that package is fixing the issue - if it does we will merge PR from @stefanprobst so this isn't needed to do in your code, but currently I don't have way to reproduce this problem

[2018-10-23 15:57] pieh commented on #9293
If you are hitting same problem and can share your repository (or create minimal reproduction repository) then I could test it locally without asking You to test that change

[2018-10-23 16:04] pieh commented on #9038
Please check https://github.com/gatsbyjs/gatsby/issues/9214#issuecomment-431073612 which is similar issue. We will be working on improving [Debugging HTML Builds](https://www.gatsbyjs.org/docs/debugging-html-builds) docs to show more concrete examples there

[2018-10-23 16:08] KyleAMathews opened #9315 "Add https://www.landr.com/ to the site showcase"
landr.com just relaunched on Gatsby and it's a beautiful site that should be added to site showcase!

[2018-10-23 16:18] StuffBySpencer commented on #9315
I'll do this for ya :)

[2018-10-23 16:37] erquhart commented on #8662
The CMS plugin runs it's own webpack build. It doesn't impact the performance of the main site, so I wouldn't be concerned with caching here.

[2018-10-23 16:41] erquhart commented on #5990
@stlk a PR with a quick blurb in the main cms plugin readme would be welcomed, glad you found a working solution!

[2018-10-23 16:43] Bouncey commented on #8504
@KyleAMathews We never tried it without.

[2018-10-23 16:50] erquhart commented on #9209
This is mostly about how Netlify CMS itself is distributed - it currently includes all first party extensions, one of which is the Netlify Git Gateway backend. There's plenty of unecessary code there for sure, it's something we're definitely planning to improve.

That said, the Netlify CMS plugin creates and outputs it's own build straight to the `public` directory, along with generating it's own

[2018-10-23 17:02] pieh commented on #9209
I guess it comes from here https://github.com/gatsbyjs/gatsby/blob/6e0a7ae4f5b0f965368d0a8b5e1ccf95240045f9/packages/gatsby-plugin-netlify-cms/src/gatsby-browser.js - importing it in gatsby-browser will include that in app bundle even if `enableIdentityWidget` will be set to false as this is variable that can't be resolved during build time - we could either use DefinePlugin so webpack can do buil

[2018-10-23 17:10] KyleAMathews commented on #9315
@StuffBySpencer thanks! Looking forward to your PR!

[2018-10-23 17:29] erquhart commented on #9209
Ah, forget everything I said, it's that import, right.

Can Gatsby's webpack/babel setup handle dynamic imports? That'd be a pretty ideal approach here.

[2018-10-23 17:39] KyleAMathews commented on #9315
Fixed

[2018-10-23 17:39] #9315 closed

[2018-10-23 17:41] KyleAMathews commented on #6775
@davad thanks! @fk do you think this is "good enough" now?

[2018-10-23 17:42] designforhuman commented on #9281
@stefanprobst @KyleAMathews
It seems like most of the plugins are not working for me (ie. gatsby-transformer-remark, gatsby-plugin-sharp, etc.)
while some of them is working properly such as gatsby-source-contentful.
Do you have any idea what is happening here? Have you heard of similar problems?
This is what I tested with.
https://github.com/designforhuman/gatsby-test2.git

[2018-10-23 17:50] pieh commented on #9209
Yeah, you can do dynamic imports

[2018-10-23 17:50] jserrao commented on #9214
@pieh - thanks for the suggestions. I got the gatsby loaders.null() thing working but that leads to more errors down the dependency chain. How far out do I have to nullify components?

This error seems to be created by the fact webpack is no longer loading `react-media-player`. I feel like I'm chasing my tail!
[code]

Offending component - seems like `withMediaProps` never gets loaded so this whol

[2018-10-23 17:51] zslabs commented on #9293
@pieh Yessir, adding that `resolutions` entry in along with the remark upgrade did fix the issue for me.

[2018-10-23 18:00] jserrao commented on #9038
@franz-see - can you explain that syntax and what you're doing in your component more thoroughly? That line of code doesn't make sense to me.

[2018-10-23 18:01] maecapozzi commented on #5987
@b0gd4n, I think the reason that you're having trouble creating a back button is because `@reach/router` does not include this, the way that `react-router` used to.

That feature has not yet been implemented in `@reach/router`, but an issue is open for it: https://github.com/reach/router/issues/44

[2018-10-23 18:07] jbranchaud commented on #8841
@Soundug Pending some feedback, I've basically finished it -- #9069

[2018-10-23 18:10] fk commented on #6775
Late to the party, yep this is good to go … and already merged I see :/!

Thanks @davad, that brings us much closer to https://github.com/gatsbyjs/gatsby/issues/6710#issuecomment-417380873 and in line with what we do for the [starter showcase detail view](https://www.gatsbyjs.org/starters/gatsby-starter-blog)! 🙏 🤗

Closed via  #9320. ✌️

[2018-10-23 18:10] #6775 closed

[2018-10-23 18:27] justinwhall opened #9321 "[gatsby-source-wordpress] using deleteNode() in onCreateNode()"
## Description

I'm trying to call `deleteNode()` within `onCreateNode()`. I'm also using `gatsby-source-wordpress` plugin. Looking to conditionally remove nodes based on a metafields value.

Is this the right way to use this method?

### Steps to reproduce

[code]

### Expected result
WordPress post Node should be removed.

### Actual result

[code]

### Environment

- node 8.10.0
- npm 5.6.0

[c

[2018-10-23 18:51] fk commented on #9204
I can confirm that traced SVGs do not match the cropped images. :(
Really sorry you're running into this @nakedible and thanks for opening up this issue! 🙏

[2018-10-23 19:36] fk commented on #9204
Looked into this for a couple minutes, and want to clarify that this only is happening for `fluid` queries, not for `fixed` ones.

[2018-10-23 19:49] jgierer12 commented on #9298
One thing I noticed is that, if this were to be implemented server-side, we'd have to make sure the site is rebuilt once the article should be listed. Does this happen often enough anyways (at least once per day)? Or is there some way to programatically force a rebuild? Otherwise I think we'd have to find a client-side solution.

[2018-10-23 19:52] WebD00D opened #9324 "Followed the v2 upgrade guide. Site builds, but is just blank (with no errors?)"
## Summary

Upgraded to Gatsby v2. After following the guide I'm stuck with a blank screen, with no console / terminal errors to point me in even the slightest direction. I wish I had more to go off, but posting here incase maybe someone has already dealt with this before. Am I missing something obvious?

### Environment (if relevant)

System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R

[2018-10-23 19:55] robertoaikode commented on #9247
@pieh @kakadiadarpan Sorry for the delay in answering. I will perform the test with CRA, but even so, I am interested to know if you have the same problem.

[2018-10-23 19:57] KyleAMathews commented on #9298
Yeah, for many sites this might be a problem but gatsbyjs.org is rebuilt probably 10-15 times a day (or more. Just counted and it's been built 13 times in the last 13 hours so once an hour on average).

[2018-10-23 20:19] jkjustjoshing opened #9325 ":target selector not re-running"
## Description
When linking directly to a fragment within a page, the `:target` pseudo-selector isn't getting triggered. It gets triggered on page load and on `hashchange` events, neither of which fire when you change routes using `<Link>`.

### Steps to reproduce
1. Create a page (let's say `pages/test.js` with an element `<p id="foo">The linked paragraph</p>` and CSS `#foo:target { background: y

[2018-10-23 20:43] pungggi commented on #8662
hi @erquhart, the concern is about the Client getting the updated Version in case the cms is updated.

[2018-10-23 20:47] bluefig99 commented on #8838
@KyleAMathews can you please check whether this is an issue here?

[2018-10-23 20:52] schwiet commented on #8559
I ran into this while migrating from v1.0 to v2.0. Was initially using gatsby v2.0.28, updating to v2.0.29 made the problem go away for me.

[2018-10-23 20:54] LekoArts commented on #9324
As the upgrade guide can't cover every use case it has general statements as something like:
- Upgrade your packages to v2
- Install peerDependencies or new dependencies these plugins now need

So, e.g.
- remove gatsby-link
- add `gatsby-plugin-styled-components` and add it other dependencies
- Your missing the `react-helmet` dependency as said [here](https://github.com/gatsbyjs/gatsby/tree/master

[2018-10-23 21:41] #8567 closed

[2018-10-23 21:42] danielhusar commented on #9174
Im having the same issue, has the fix been released?

[2018-10-23 21:56] WebD00D commented on #9324
@LekoArts - Thanks for the insight. Gave those all a go, however still running into the same issue.

[2018-10-23 22:06] WebD00D commented on #9324
For the hell of it, decided to run `gatsby build` and got a little bit more of heading possibly.

` WebpackError: Invariant Violation: You should not use <Redirect> outside a <Router>`

Not much after that though, as far as where it could be coming from inside my app.

[2018-10-23 22:31] openmedi commented on #8051
@pieh I just made a PR concerning this.

[2018-10-23 22:33] maecapozzi opened #9330 "Docs: Clarify that when using `gatsby-plugin-layout` you can't refactor any components to the new `<Layout />`"
## Summary

Originally when I was upgrading to Gatsby v2, I thought I could refactor some components to use the new `<Layout />`, and use `gatsby-plugin-layout` for the others. It would've saved me a lot of time if there had been a sentence saying that it's all-or-nothing.

I'd be happy to add this to the docs myself! I just want to get a sense of whether other people agree this would be a relevan

[2018-10-23 22:34] zivc commented on #9027
Hi,

Mine has magically fixed itself after removing a few console.logs and now works when I add them back.

I can invite you to a repository and you can checkout a specific commit to debug if you'd like.

Ash

[2018-10-23 23:10] sarahannnicholson commented on #6879
Hey! This seems like a great feature! Just a little curious about the progress?

[2018-10-23 23:20] marisamorby opened #9331 ".org redesign: ecosystem [metrics] benchmark metrics for ecosystem landing page"
### Goal
Decide what metrics we want to implement to track that the Ecosystem page is adding value for visitors

### Next steps
- @amberleyromo to review what we will actually be able to measure on the Ecosystems page
- @amberleyromo and @marisamorby to discuss and establish benchmark and then set metrics for Ecosystem page

[2018-10-23 23:32] shannonbux opened #9332 "Update `gatsby-core-philosophy.md`"
Would be nice to update gatsby-core-philosophy.md with some of these possible ideas:

https://www.gatsbyjs.org/docs/gatsby-core-philosophy/

- Core values
- OSS goals
- What do we believe is good or bad?
- What are we committed to working on? What are we not trying to do?

## Motivation
Helps us make unified decisions as an OSS community.

@jdemieville

[2018-10-23 23:53] KyleAMathews opened #9333 "Add https://2017.peopleforbikes.org/ to the site showcase"
A very nice Gatsby site! Deserves a bit of showcase love :-)

https://www.gatsbyjs.org/docs/site-showcase-submissions/

[2018-10-24 00:02] KyleAMathews opened #9334 "Add https://www.gotmilk.com/ to the site showcase"
https://www.gatsbyjs.org/docs/site-showcase-submissions/

[2018-10-24 00:08] #9158 closed

[2018-10-24 00:11] pariola commented on #9334
on it!

[2018-10-24 00:13] Kouthk commented on #9333
on it

[2018-10-24 00:15] KyleAMathews commented on #9334
Thanks!

[2018-10-24 00:15] KyleAMathews commented on #9333
Thanks!

[2018-10-24 00:41] TylerBarnes commented on #8810
If anyone else comes here with the same problem, @orshick's solution solved it for me but I didn't realize it at first because I had to disable gatsby-plugin-offline and get a chrome extension to clear the service worker.

[2018-10-24 00:59] Kouthk commented on #9333
Done =)

[2018-10-24 03:18] twhite96 opened #9339 "TypeError: node.frontmatter.tags.map is not a function during gatsby develop"
## Description

Getting: `TypeError: node.frontmatter.tags.m  ap is not a function` when running `gatsby develop`.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?
I expected to be able to see my site live in the

[2018-10-24 03:30] ewolfe opened #9340 "Documentation for adding Gatsby to an existing repo/project"
## Summary

It would be nice to add documentation for adding Gatsby to an existing repo/project. Even if it means creating a new project via `gatsby new my-blazing-fast-site` and manually plucking the contents over to your existing project -- Since it would make it clear there no better alternatives (like `gatsby new .`).

### Motivation

Why are we doing this?

_To make clear the suggested proces

[2018-10-24 05:28] KyleAMathews opened #9341 "Add two sites to the site showcase"
- https://wideeye.co/
- http://guster.com/

https://www.gatsbyjs.org/docs/site-showcase-submissions/

[2018-10-24 05:35] KyleAMathews opened #9342 "Add https://www.markets.com/ to the site showcase"
https://www.gatsbyjs.org/docs/site-showcase-submissions/

[2018-10-24 05:46] jishvi commented on #9342
May I work on it?

[2018-10-24 05:49] Dipeshwagle commented on #9341
I'll work on this one :)

[2018-10-24 05:50] KyleAMathews commented on #9342
@jishvi go for it!

[2018-10-24 05:51] KyleAMathews commented on #9341
@tomanistor already jumped on it https://github.com/gatsbyjs/gatsby/pull/9343 but thanks for offering!

[2018-10-24 06:00] #9341 closed

[2018-10-24 06:42] hackhat opened #9346 "White page on some devices randomly"
Hi!

I recently deployed a gatsby website and I get reports of users seeing white screen. I see it myself on my device and I don't know why?

I have it on my android/chrome and a user from safari on mobile. I think has to do with service workers being messed up, but not sure how it can happen and how to fix it now for all users?

I managed to clear my android/chrome, there was 252MB of data... not

[2018-10-24 06:43] abumalick commented on #8522
@rtm619  I think this issue was fixed for you with https://github.com/gatsbyjs/gatsby/issues/7003#issuecomment-430218645 right ?

[2018-10-24 07:02] rtm619 commented on #8522
@abumalick Yes. i'll close it now

[2018-10-24 07:02] #8522 closed

[2018-10-24 07:42] Haroenv commented on #9038
@jserrao, React Media Player is a component which uses things that are available in the browser, but not in node (eg. document, window ...). Since we want to avoid that component to render at all in node (prerendering) and leave an empty div, we do this:

[code]

[2018-10-24 08:00] nakedible commented on #9204
No worries, it's nice to get actual bugs found and fixed. I added a comment about `healOptions` to the pull.

[2018-10-24 08:03] nakedible commented on #9209
Actually, I do not understand why `netlify-identity-widget` needs to be included for every page? Isn't that only needed for pages under the `/admin/` path, which anyway has a separate javascript etc. setup? Or is there some use case where the identity widget would be required by Netlify CMS on the actual rendered pages?

I can make a PR, but I need to understand first the rationale behind the curr

[2018-10-24 09:20] kakadiadarpan commented on #9330
@maecapozzi As far as I know, Gatsby doesn't provide `<Layout />` component. Can you share more information on this?

[2018-10-24 09:28] kakadiadarpan commented on #9339
I'm able to run `gatsby develop` successfully for this project.

<img width="1130" alt="screenshot 2018-10-24 at 2 56 18 pm" src="https://user-images.githubusercontent.com/10805593/47420834-fdef7980-d79c-11e8-8c76-e4b5224a2068.png">

Steps followed:
1. Clone the repo.
2. Run `yarn`
3. Run `yarn develop`

Environment info
[code]

[2018-10-24 09:33] abumalick opened #9348 "gatsby new site from template don't work on ie 10"
## Description
A fresh new site crashes on ie 10 because 'Set' (used in react-dom) is not polyfilled.

### Steps to reproduce
open https://gatsby-freshinstall.netlify.com with ie10

(source: https://github.com/abumalick/gatsby-freshinstall )

or:
- create a new site with gatsby-cli
- deploy to netlify
- test deploy link with ie10

### Expected result
javascript should load without error

(a polyfi

[2018-10-24 09:36] kakadiadarpan commented on #9346
@hackhat can you share the link to your website or repo for us to look at what's wrong?

I assume you are talking about the data size which you get to know in app information. This size is the total data(stored locally) size for the browser and it's completely normal to have it that huge. (I have data size of 2 GB, doesn't cause any problem)

[2018-10-24 09:38] abumalick commented on #9348
ie 9 and ie 10 are in the supported browser by default right ? https://github.com/gatsbyjs/gatsby/blob/master/.babel-preset.js#L13

[2018-10-24 09:38] swashata commented on #9301
For the record, this works when doing multiple promise based operation on `createPages`.

[code]

@pieh If it is okay, then I would like to add to the documentation of gatsby. Please let me know where to add. I am thinking https://www.gatsbyjs.org/docs/node-apis/#createPages

[2018-10-24 10:07] swashata commented on #9348
Hi,

I don't know if gatsby and/or the babel preset provides polyfills by default. But this is surely a polyfill issue. Maybe you can try with https://polyfill.io/v2/docs/

[2018-10-24 11:10] #9342 closed

[2018-10-24 11:20] stefanprobst commented on #9348
Do we need to set `corejs: true` option for `babel-transform-runtime`? Babel7 does not include those by default.
https://github.com/gatsbyjs/gatsby/blob/4d5c5e0d26c231b9ea1396a8c58432dc100411c0/packages/babel-preset-gatsby/src/index.js#L64-L68

[2018-10-24 11:30] #8051 closed

[2018-10-24 11:31] #9293 closed

[2018-10-24 12:17] phacks commented on #9235
I may have some time this weekend to work on this 😊

[2018-10-24 12:42] tanvibhakta opened #9350 "Update documentation for Build Sequence and Client Sequence"
The documentation on this page https://www.gatsbyjs.org/docs/gatsby-lifecycle-apis/#build-sequence
detailing how the build-sequence and client-sequence works is missing (and I don't see an open issue for this available already.)

I think this might take some reading of the code, to understand how the things work before writing them in a simplified manner? Not sure if there are already other resour

[2018-10-24 13:17] kakadiadarpan commented on #2438
@edouerd can you try the suggestion provided by @danrosenthal?

[2018-10-24 13:33] kakadiadarpan commented on #9350
@tanvibhakta Thanks for raising this issue. I agree that it'll involve a good amount of code reading to understand how things work in Gatsby. Would you be open to work on this?

[2018-10-24 13:38] kakadiadarpan commented on #9350
This might be of help to you: [Behind the Scenes](https://www.gatsbyjs.org/docs/behind-the-scenes/)

[2018-10-24 13:39] hoop71 commented on #8996
@pieh  Thanks! Everything is working as expected for me with `gatsby-source-contentful@2.0.5` &    `gatsby: "^2.0.19`

[2018-10-24 13:40] JanLenoch commented on #9117
Hi @pieh , just to get an idea: Is this issue somewhere higher in the priority list (if any)? We're currently thinking of doing other plugin development and if the class instance support is on the horizon of say weeks then we'd wait for you to implement it. It would be better than writing code that we'd probably throw away after the class instance support comes. Thanks!

[2018-10-24 13:47] erquhart commented on #9209
Many Netlify CMS users also use the identity widget. When you first sign up with the identity widget, you have to confirm your email, and the link in your email must send you to your site root. The widget must be running to catch you there with the auth token and forward you to your CMS page.

If Gatsby had a way to target specific pages with `gatsby-browser` we'd use it, but I don't think that's

[2018-10-24 13:51] maecapozzi commented on #9330
Hi @kakadiadarpan, I'll clarify!

In Gatsby v2, the `<Layout />` component is no longer at the top level like it used to be in Gatsby v1.

In v1, layouts looked like this:

[code]

In v2, they look like this:

[code]

I'd like to clarify in the docs that you can't have it both ways in a project. You can either use `gatsby-plugin-layout`, and have layouts always at the top-level, or you can just us

[2018-10-24 13:57] JanLenoch commented on #9154
Hi @pieh , thanks!

For the future readers of this issue:

A query:

    {
      allKenticoCloudItemProjectReference {
        edges {
          node {
            elements {
              related_project_references {
                value
              }
              related_project_references_nodes {
                __typename
                ... on KenticoCloudItemBlogpostReference {

[2018-10-24 13:57] #9154 closed

[2018-10-24 13:58] twhite96 commented on #9339
Okay. Will try again.

[2018-10-24 13:58] kakadiadarpan commented on #9330
@maecapozzi Thanks for the clarification. Currently in the `gatsby-plugin-layout` the only relevant information I can find about this is:

It would be great to add your suggestions there. Would you be open to work on this and raise a PR to update the docs accordingly?

[2018-10-24 13:59] twhite96 commented on #9339
Actually this is the wrong repo. I didn't add my posts to this repo. Will share that one.

[2018-10-24 14:01] twhite96 commented on #9339
@kakadiadarpan this is the one with the posts [here](https://github.com/twhite96/TWBlog-new).

[2018-10-24 14:02] jedrichards opened #9352 "Using a Gatsby app as a package within a monorepo works"
## Summary

I was surprised to discover that Gatsby is able to operate normally as a package within a monorepo, while importing and transpiling source code from other packages in the monorepo with its Webpack config.

Example repo: https://github.com/jedrichards/monorepo-test

## Relevant information

My assumption was that Gatsby would treat monorepo packages as it does everything from `node_modu

[2018-10-24 14:28] kakadiadarpan commented on #9339
@twhite96 The issue seems to be coming because of the following line:

[code]

The value that you get for `node.frontmatter.tags` is not always an array and that's why you are getting this error.

[2018-10-24 14:35] jserrao commented on #9038
@Haroenv - thanks, very helpful for a generic, basic use case. Mine is far more complex. I'm working through it and will post once I figure it out.

[2018-10-24 14:40] Greegko commented on #7916
Thank you, the issue has been fixed!

[2018-10-24 14:40] #7916 closed

[2018-10-24 14:43] twhite96 commented on #9339
@kakadiadarpan hmmmmm. I'm not sure what you mean. New to Gatsby and I'm using a starter. So is it because the tags in my front matter sometimes use an array and sometimes not?

[2018-10-24 14:44] twhite96 commented on #9339
Ohhhhhhhhh okay I see now. I'll change those posts then. Thanks.

[2018-10-24 14:49] maecapozzi commented on #9330
I'd be happy to! Thanks @kakadiadarpan

[2018-10-24 15:37] danielberndt commented on #7379
This issue is still valid. You can reproduce it in [my repo](https://github.com/danielberndt/danielberndt.net).

Interestingly the warning

is wrong, as the [`pageQuery`](https://github.com/danielberndt/danielberndt.net/blob/a17e62e338c97544146e6bf47bb45613a34f610f/src/components/MdxBlogPostLayout.js#L37-L46) is executed as desired.

[2018-10-24 15:48] paulclifford opened #9354 "Help with using UIKit"
## Summary
I'd like some help using UIkit with Gatsby. Using the current Gatsby default starter I've:

1. NPM installed uikit, node-sass, and gatsby-plugin-sass
2. created a style.scss with:
@import 'node_modules/uikit/src/scss/variables-theme.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';
and called this style.scss from the

[2018-10-24 16:01] hackhat opened #9355 "All search results on Google (only mobile) now have "?no-cache=1" appended"
I'm on mobile so I can't put too much info, but my search results on Google are all ?no-cache=1 I don't know why it's so messed up. I now have a lot of duplicate content indexed and I hope I won't get blocked or similar.

What is going on?

Thank you

## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please ple

[2018-10-24 16:03] hackhat commented on #8169
Getting this for all pages on Google

https://github.com/gatsbyjs/gatsby/issues/9355

What is going on?

[2018-10-24 16:05] hackhat commented on #9355
Anything that I can do to fix it quickly before I lose my Google ranking?

[2018-10-24 16:08] hackhat commented on #9346
I'm talking about my website specific data only, not the Android app data.

I can't share the website I'm sorry.

I also can't reproduce it on all devices. After you clean the data works fine.

Sometimes gets messed up.

Also check the other issue https://github.com/gatsbyjs/gatsby/issues/9355 might be related to this, I don't know

[2018-10-24 16:10] hackhat commented on #9355
I can see from Google web console that this is happening

[2018-10-24 16:18] hackhat commented on #9355
Only happens if you come from Google on a mobile. Works fine on desktop

[2018-10-24 16:55] ooloth opened #9357 "gatsby-plugin-subfont build errors (can't find SW files)"
## Description

I've tried to use `gatsby-plugin-subfont` on several Gatsby v2 sites, but it always errors out for one of the following reasons:

1. It can't find `sw.js` (which it says is included by `public/app-1b277d8308c390a95f4b.js` even if I haven't yet enabled `gatsby-plugin-manfest` and `gatsby-plugin-offline` during development)
2. It can't find `public/workbox-v3.6.2/packages/workbox-sw/

[2018-10-24 17:10] alexandernanberg commented on #7589
Solved with #8724

[2018-10-24 17:10] #7589 closed

[2018-10-24 17:57] maecapozzi commented on #9324
@WebD00D, have you taken a look at #8344?

[2018-10-24 19:45] kmorf commented on #6230
@Mrtenz @JacobTheEvans
How can I build my own search index? I'm using a local version of `gatsby-plugin-elasticlunr-search` and I'm stuck on getting the images to work. Can you share your process?

[2018-10-24 19:50] rametta opened #9362 "Gatsby V2 can't handle the generation of BIG sites."
## Description

Gatsby V2 can't handle the generation of very big sites. We build around 2000 pages (however, the data is those pages is pretty big, e-commerce...), and the build step ends up failing.
We narrowed it down to this line of code: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/redux/index.js#L82
stringify seems to crash with error:
[code]
Note that this error comes

[2018-10-24 19:53] DSchau commented on #9362
@rametta would you be able to try out the latest version of Gatsby (at least 2.0.18)? We recently worked on some cache improvements, which led to some pretty significant improvements as it relates to building out large sites.

See #8435 for additional context

[2018-10-24 20:17] Whipgit commented on #9362
Hey @DSchau we have the same issue with Gatsby v2.0.30.

[2018-10-24 20:31] phacks commented on #9092
@appsolutegeek @DSchau Gave it a go with #9368! Any thoughts? 😊

[2018-10-24 20:37] DSchau commented on #9362
This sounds like it's specific to the redux state being serialized, rather than anything to do with caching then (which we've seen most frequently before!).

I think we can follow a similar approach, and if we can segment the redux state to separate, smaller files/pieces (and then re-assemble from cache on startup) that would solve this issue! Not sure of the best approach on this yet, but in gene

[2018-10-24 20:44] DSchau opened #9369 "alias `develop` script to `start` in all starters and gatsby applications"
## Summary

It's pretty expected in frontend for a `start` script to exist that will launch a local development server that will watch for file changes and reload--hot or otherwise. See create-react-app, angular-cli, etc. for prior art, here.

Similarly, we should expose a `start` script that aliases the `develop` script in our Gatsby projects. Minimally, it should be done in the following project

[2018-10-24 20:52] piotrkwiecinski commented on #9355
@hackhat There is a way to exclude **no-cache** in Google Webmaster tools: https://support.google.com/webmasters/answer/6080550?hl=en&authuser=1&ref_topic=6080547

Also implementing canonical urls should help too.

[2018-10-24 20:56] amberleyromo commented on #8564
Closed in #8647

[2018-10-24 20:56] #8564 closed

[2018-10-24 20:57] amberleyromo commented on #7563
Closing out [EPIC] v1.0 Starter Library

[2018-10-24 20:57] #7563 closed

[2018-10-24 21:00] merelinguist commented on #9369
Can I take this?

[2018-10-24 21:01] DSchau commented on #9369
@merelinguist you better believe it! Marking it as claimed, thank you 💪 💜

[2018-10-24 21:03] rametta commented on #9362
@DSchau I opened a PR with a fix, let me know what you think.

[2018-10-24 21:17] nakedible commented on #9209
Okay, that means that for the user who **does not** use Netlify Identity on their website, but **does** wish to use Netlify Identity for Netlify CMS only, the only approach currently is to include extra 161 kB in every page load (or atleast for site root loads, which is about as bad).

So this is because the confirm emails are not directing the user to /admin/, but instead to the site root, the si

[2018-10-24 21:35] shannonbux commented on #9158
@jlengstorf There is a tutorial for adding images to a WordPress site here: https://www.gatsbyjs.org/docs/image-tutorial/

We could do something similar for just pulling local images in from the filesystem. Imho, this would be most effective as a recommended Advanced Tutorial after the main tutorial, since the main tutorial is already pretty long!

[2018-10-24 21:40] shannonbux commented on #8796
Closed via #8963

[2018-10-24 21:40] #8796 closed

[2018-10-24 21:48] shannonbux commented on #5030
@felipecaputo do you still have the bandwidth to tackle this issue? I've removed the "claimed" label. Let me know if you have a WIP PR and we can add that label back here!

[2018-10-24 22:06] amberleyromo opened #9372 "[EPIC] Community-driven ecosystem area improvements"
### Description

This epic will help manage and track work done by external contributors on areas affecting the Ecosystem AoR that are outside of a particular project Epic (generally bug fixes, potentially some small feature improvements)

### Goals

_This epic diverges from the norm, in the sense that it is not timebound. It will capture ongoing work._

1. Measure the community-driven impact on E

[2018-10-24 22:30] oorestisime commented on #9288
closing this as PR was merged and problem seems fixed

[2018-10-24 22:30] #9288 closed

[2018-10-24 22:31] shannonbux commented on #8798
Hm, just looking briefly, here are some examples of things I'd like to imitate, so I've changed my mind a little:
https://docs.ghost.org/install/ubuntu/
https://docs.silverstripe.org/en/4/

Looks like most developer documentation sites do what React's site does, which is just links to GitHub and invites readers to edit the doc themselves.
https://reactjs.org/

There are two reasons we want to open

[2018-10-24 22:38] SimonIMG opened #9373 "Exclude pages from having Google Tag Manager (GTM) code added"
## Summary

The [gatsby-plugin-google-tagmanager](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-google-tagmanager) plugin adds GTM code to all pages of a Gatsby site. Is there any way to exclude a page from having the GTM snippet applied to it?

### Basic example

Adding a blank page on a website so a service like [Uptime Robot](https://uptimerobot.com/) can check if our si

[2018-10-24 22:41] oorestisime commented on #7781
@jamesadarich any chance you could go ahead with a PR on this one? i would like to see this implemented as well in remark images and it would be best to avoid double effort here ;)

[2018-10-24 22:44] jlengstorf commented on #9158
@shannonbux I agree that the main tutorial is a bit long, but personally I'd recommend dropping other parts (e.g. the surge.sh setup) to make `gatsby-image` fit. We're regularly seeing sites ship without using `gatsby-image`, and that points to an awareness issue. The tutorial should make it clear that `gatsby-image` exists and handles a whole class of performance problems automatically. That seem

[2018-10-24 22:53] shannonbux opened #9374 "Tutorial: add `gatsby-image`"
## Summary

We want to create a new tutorial for `gatsby-image` for intermediate users. This learning resource should show how to create responsive images step-by-step. It would fit best as the first item on the [Additional Tutorials](https://www.gatsbyjs.org/tutorial/advanced-tutorials/) page.

Here's some information on creating tutorials: https://www.gatsbyjs.org/contributing/docs-templates/#tu

[2018-10-24 22:56] shannonbux opened #9375 "Tutorial: Add list of official plugins and official starters to end of tutorial"
## Summary

We would like to link to a filtered list of
- official plugins
- official starters

at the end of the main tutorial.

### Motivation

These links would be a great segue into helping new Gatsby users continue to explore and find plugins and starters that fit their use case.

the plugin library and starter library will have to include filters before we can easily implement this.
^ @amber

[2018-10-24 23:04] jamesadarich commented on #7781
@oorestisime I'm done already see #7800 :) just awaiting a review from someone I think CI needs to be retriggered too due to some tests which were failing from an unrelated PR. Any chance you can help me out with this @oorestisime ?

[2018-10-24 23:05] jamesadarich commented on #7781
Just rechecked looks like it's got a conflict, I'll take a peek now

[2018-10-24 23:08] amberleyromo commented on #8797
This work probably fits in to the .org redesign project where we're addressing the homepage (which is not currently accounted for in existing epics: #8768 #8769 #8770

[2018-10-24 23:46] luskin opened #9376 "Absolute Imports Only Work Locally"
## Description

We are building out our Gatsby app and trying to use absolute paths. Locally (running gatsby develop or gatsby build) works fine using either `gatsby-plugin-resolve-src` in our gatsby-config.js or adding:

[code]

as discussed in gatsby docs here: [Add Custom Webpack Config - Absolute Imports](https://www.gatsbyjs.org/docs/add-custom-webpack-config#absolute-imports)

The problem ex

[2018-10-25 00:17] jonathan-chin commented on #8560
@kakadiadarpan I think I tried to implement this just now. I installed gatsby-cli-dev, forked and pulled, switched the branch, etc etc.

The issue still persists.

How can I double check that the new node_modules/gatsby that I have is correct and not the old one?

[2018-10-25 03:04] TimRoussilhe commented on #8996
Was having issue were only the Image added last was showing up. Updating to @2.0.5 fixed it. Thanks @pieh !

[2018-10-25 05:15] TylerBarnes commented on #5213
Over the weekend and the last couple nights I created a working page transitions plugin and I'm excited to share it!

I had the idea that it actually makes sense for the Link component to take props describing what the transition should look like, since the link is already in charge of transitioning (although usually quite abruptly). So I came up with the idea of `gatsby-plugin-transition-link` wh

[2018-10-25 06:06] kakadiadarpan commented on #9354
@paulclifford can you provide a reproduction repo for this? That would make it much easier to help you out.

Also, can you please provide environment info by running `gatsby info --clipboard`?

[2018-10-25 06:45] Optarion commented on #9369
Hi there.
Can I take this one ?
10hours to make 5 copy/past seems a bit too long to me.

[2018-10-25 06:54] kakadiadarpan commented on #9376
@luskin `gatsby-plugin-resolve-src` isn't compatible with Gatsby v2. The code snippet you provided in the description is exactly what you would need for Absolute imports.

@pieh any thoughts regarding this?

[2018-10-25 07:06] kakadiadarpan commented on #9373
@SimonIMG Currently `gatsby-plugin-google-tagmanager` does not provide an option of excluding a page from having the GTM snippet applied to it.

But like you said it would be really useful.

The required changes needs to be done in [this file](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-tagmanager/src/gatsby-ssr.js). `onRenderBody` function gets a parameter called

[2018-10-25 07:15] kakadiadarpan commented on #9339
@twhite96 We'll be closing this issue. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you need more help 👍

[2018-10-25 07:15] #9339 closed

[2018-10-25 07:19] kakadiadarpan commented on #7279
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-25 08:07] emilbruckner opened #9381 "Clarification about location action needed"
The v2 upgrade docs say:

But the docs still mention the action: https://www.gatsbyjs.org/docs/browser-apis/#onPreRouteUpdate, even though it’s undefined.

But it doesn’t look to me like reach router doesn’t support actions, so what’s the problem here?
Was is implemented into gatsby after being added to reach router in https://github.com/reach/router/issues/119?

[2018-10-25 09:37] hackhat commented on #8970
I get the same thing as well, just comes out of the box. You need to put these settings:

    {
      resolve: `gatsby-transformer-remark`,
      options: {
        plugins: [
          {
            resolve: `gatsby-remark-images`,
            options: {
              // It's important to specify the maxWidth (in pixels) of
              // the content container as this plugin uses this as the

[2018-10-25 10:06] piotrkwiecinski commented on #9373
I can give it a try on the weekend if you could wait.

[2018-10-25 10:09] pieh commented on #5498
This is fixed in gatsby version 2.

[2018-10-25 10:09] #5498 closed

[2018-10-25 10:12] pieh commented on #7565
This should be fixed by https://github.com/gatsbyjs/gatsby/pull/9011

[2018-10-25 10:12] #7565 closed

[2018-10-25 10:16] georgezouq commented on #9321
Same problem

[2018-10-25 10:18] spences10 commented on #3763
Is this the same way you would do it for React 16.6 `{lazy, Suspense}`?

I tried a simple example last night and was getting Webpack errors

[2018-10-25 10:18] kakadiadarpan commented on #9381
`actions` was implemented in `reach/router` after the Gatsby v2 release. That's why it is missing in the migration documentation. Currently actions is still supported, but the way to access has changed. Please refer below:

Gatsby v1:
[code]

Gatsby v2:
[code]

@pieh @m-allanson should we put the `actions` as a parameter for `onPreRouteUpdate` API? We'll also need to update documentation according

[2018-10-25 10:55] bmihelac commented on #3853
I have made two internationalising examples with react-intl integration

[First example](https://github.com/bmihelac/gatsby-react-intl-demo/tree/master) is focused on bundling only current translations in js chunks (something I couldn't find in other plugins  that I checked).

[Second example](https://github.com/bmihelac/gatsby-react-intl-demo/tree/test/dynamic-query) focus on using dynamic querie

[2018-10-25 11:43] siddhant1 commented on #9374
On it !

[2018-10-25 11:56] #7787 closed

[2018-10-25 12:22] cardiv opened #9383 "[gatsby-plugin-offline] Configure to cache all resources on first visit"
Hey, Gatsby (and JAMstack in general) newcomer here.

A customer is asking for an app to display showcase information on iPads. (These iPads will be in front of their products in the showcase room.)

I'd like to use Gatsby for this since it is a rather small project to test things out. But there is one thing I am not sure Gatsby could handle.

The client wants an app-like offline experience withou

[2018-10-25 12:57] LekoArts commented on #9383
My experience is that I can visit my index page and then all linked pages are pre-cached. So I didn't have to visit really *every* page.

Sure you can. You override the [default options](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline#overriding-options) with the fitting [workbox config](https://developers.google.com/web/tools/workbox/modules/workbox-build).

They say

[2018-10-25 13:55] ybv commented on #9121
Leaving here if anyone else stumbles up on the same issue while using Gatsby v2 + Material UI; I had to remove `withRoot` from all child components and have just one `withRoot` HOC per page as mentioned [here]( https://github.com/mui-org/material-ui/tree/master/examples/gatsby#withroot-usage)

[2018-10-25 15:07] jlengstorf commented on #9374
All yours, @siddhant1!

@shannonbux Where do you think this should go? My thought is that it might be its own new section after Part 4 that could be called "Using Images in Gatsby".

Things to cover:

- Gatsby _can_ use regular images, just like any other web framework (show a small example)
- Gatsby has tools to automatically optimize images that have been packaged up in `gatsby-image`
- Show how

[2018-10-25 15:09] pieh commented on #9159
So sitemap update for v1 obviously need to go in first. What about changes for client side `docSearch` init options change? If we update that before index is updated it will break our current search, right? So we would need to sync it somehow

[2018-10-25 15:43] openmedi commented on #5308
@pieh Shouldn't this be closed since #6036 was merged?

[2018-10-25 15:47] pieh commented on #5308
@openmedi You are right! Thanks for ping

[2018-10-25 15:47] #5308 closed

[2018-10-25 15:49] jserrao commented on #9214
For future googlers / those interested, the final solution to this issue required a quite a few hoops to jump through on my end. I'll walk through all the things it took on my end, hope this helps others:

**`AudioPlayer` Component Issues**

  * The reason I think `react-media-player` is especially difficult to get working with an SSR is because it's a collection of components rather than just one

[2018-10-25 15:55] amberleyromo opened #9392 "[starter library] change initial load from 9 starters to 12"
Currently on first load of [`/starters/`](https://www.gatsbyjs.org/starters) we load nine starters. This produces empty space at some resolutions. Changing the initial number loaded to 12 will be smoother at more resolutions.

[2018-10-25 15:56] amberleyromo opened #9393 "[site showcase] change initial load from 9 sites to 12"
Currently on first load of [`/showcase/`](https://www.gatsbyjs.org/showcase) we load nine sites. This produces empty space at some resolutions. Changing the initial number loaded to 12 will be smoother at more resolutions.

[2018-10-25 16:07] grzegorzbialy commented on #4926
For me, the IntersectionObserver polyfill is fixing this. More on this: https://github.com/gatsbyjs/gatsby/issues/8323

[2018-10-25 16:12] outofgamut commented on #9393
also had a PR in progress for this

[2018-10-25 16:12] amberleyromo commented on #9393
Yep, marking as claimed. Thanks @abilash13!

[2018-10-25 16:14] amberleyromo commented on #9393
Ah, ok @outofgamut.

@abilash13 could you check out the rest of the hacktoberfest issues? I'll be adding new Ecosystem ones periodically as well.

Apologies, I'll make it more clear that the issue should be claimed before a PR is opened. Y'all are too quick on the draw..!