[2019-02-25 02:18] jonniebigodes commented on #12031
@bartofzo did you set what the plugin should fetch? the routes that should be hit? Because based on the configuration you supplied you didn't. More on how to configure the plugin [here](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/)

Feel free to provide feedback. So that we find a solution or if what i've mentioned helped in any shape or form, that we can close this issue

[2019-02-25 02:45] skinandbones opened #12053 "createRemoteFileNode re-downloads unchanged files (the `If-None-Match` header is not being sent)"
## Description

When using `createRemoteFileNode` from `gatsby-source-filesystem`, remote files get downloaded each time `yarn develop` is restarted (or each build) even though the remote files are unchanged and the cache is present.

There are multiple issues in `createRemoteFileNode`.

1. The `headers` option is not being set properly on the `got` HTTP request and, thus, the `If-None-Match` head

[2019-02-25 02:51] KyleAMathews commented on #12053
A PR would be great!

[2019-02-25 03:06] cpboyd commented on #8237
@oliviertassinari I copied the plugins directory from that example into my project and tried using it.

As noted, I had rendering issues with the production build of my site, when `<MuiThemeProvider>` didn't have any issues.

[2019-02-25 03:22] skinandbones commented on #12053
@KyleAMathews PR is good to go 👍

[2019-02-25 03:43] snide commented on #11364
@simoneb TY for your fork. This fixed the issue for me as well. It's pretty easy to get into this kind of reference, so although it's not an optimal fix I really appreciate you publishing your fork.

[2019-02-25 03:46] wmbenedetto commented on #9899
Developer of StayFocusd here. I can confirm that it is one of the culprits, but the real culprit is, as @atav32 mentioned, the chrome.runtime.sendMessage() API. That's the source of the error, but I haven't figured out the fix yet. If anyone else has, let me know.

[2019-02-25 04:31] achmadk commented on #11934
@wardpeet I replace `react-dom` with [@hot-loader/react-dom](https://github.com/gaearon/react-hot-loader/tree/7089062eac273832102c074a368d5af27e23e0b0#react--dom) to remove this warning.

[2019-02-25 05:18] #11592 closed

[2019-02-25 05:47] #11688 closed

[2019-02-25 06:33] #12053 closed

[2019-02-25 06:40] sidharthachatterjee commented on #12053
@skinandbones Your fix was just published in `gatsby-source-filesystem@2.0.23` 🙂

[2019-02-25 06:46] wardpeet commented on #11934
that works as well! 💪

[2019-02-25 07:17] freiksenet commented on #12002
Can you try adding `react` as a dependency of your plugin? It fixed this issue when I was reproducing this problem.

[2019-02-25 07:21] freiksenet commented on #12003
Thank you for the report! Would you like to make a PR to fix this issue?

[2019-02-25 07:26] freiksenet commented on #12007
Thank you for the report, pinging @sidharthachatterjee who is the StaticQuery expert.

[2019-02-25 07:31] freiksenet commented on #12008
Thank you for the report and great reproduction example! It seems to be a bug with transformer-sharp. Possibly the original file is used instead of cropped one to create a traced SVG. Do you want to try to create a PR to fix this?

[2019-02-25 07:37] handreistoicescu commented on #12009
It's not so much Gatsby that does that, but the inner workings of how the browser interprets the <picture> tag.

[2019-02-25 07:38] bartofzo commented on #12031
I didn't. But I've tried it with this:

[code]
But the error persists.

This is the entire output of npm run develop if it helps. The error occurs before anything else...

[code]

[2019-02-25 07:40] freiksenet commented on #12014
We haven't updated gatsby-link to use React>=16.4 API yet, so you can only use function refs through innerRef function. `ref` isn't even an allowed prop type in Gatsby link component. We definitely do want to support it though, do you want to make a PR to do that?

[2019-02-25 07:47] freiksenet commented on #12028
We had tests around doing typescript generation internally and that was a big pain point. We are getting better tools to do that with #11480 and we'll make sure to make more stuff non-nullable, at least for derived fields like edges, pageinfo etc.

[2019-02-25 08:06] Simply007 commented on #11989
Thanks for clarification @KyleAMathews.

[2019-02-25 08:08] azcn2503 commented on #9493
I am having the same issue with loading scss. I have tried to copy the configuration used by @IvanKalinin above, with some slight modifications (removing resolve block, removing the resources loader), so our config looks like this:

[code]

The error seen in the console is:

[code]

[2019-02-25 08:21] freiksenet commented on #12034
Thank you for your report! I think that should be an issue with react-hot-loader, I wonder if you can create a bug report there.

[2019-02-25 08:25] ollelauribostrom commented on #12014
@freiksenet I'm definitely up for that. Does that mean we should allow both `ref` and `innerRef`?

[2019-02-25 08:28] freiksenet commented on #12031
You've included source wordpress twice in your config. You should remove string `gatsby-source-wordpress` above your config with `resolve: \`gatsby-source-wordpress\``.

[2019-02-25 08:31] freiksenet commented on #12014
@ollelauribostrom yes, let's match reach-router API.

[2019-02-25 08:34] bartofzo commented on #12031
How did I not see that. Wow. Thanks, it works now!

[2019-02-25 08:34] #12031 closed

[2019-02-25 08:36] freiksenet commented on #12038
Thanks a lot for a detailed report! Would you like to make a PR with the fix for that?

[2019-02-25 08:37] wardpeet commented on #12027
Hey! if I look at the emotion docs https://emotion.sh/docs/globals it looks like you're using GlobalStyle wrong. Could you try

[code]

[2019-02-25 08:38] freiksenet commented on #12042
`process.exit` also fails very annoyingly in jest tests (hanging jest infinitely). Should we fix that too?

[2019-02-25 09:28] Steffi3rd opened #12063 "Why I can't use dash character "-" in path?"
I would like to use this `<Home path="/page-test" />` it doesn't work.
Without the dash like this:  `<Home path="/pagetest" />`, it works.

Here is the error when I use dash in path

<img width="1043" alt="capture d ecran 2019-02-25 a 10 27 03" src="https://user-images.githubusercontent.com/814410/53327358-ed384700-38e7-11e9-9272-65be0e8230f1.png">

[code]

[2019-02-25 09:36] Sondro commented on #12027
Hi wardpeet.

That doesn't seem to work (the error is the same).

Also tried importing with:
[code]
[code]

Any other ideas?

[2019-02-25 10:14] faycelbouamoud opened #12064 "Do I can use use Gatsby with soap API ?"
Hello,
As I mentioned in the title, Do I can use Gatsby JS with a SOAP api ?
Thanks.

[2019-02-25 10:18] humphreybc commented on #11730
I also ran into this issue after upgrading gatsby from 2.0.85 to 2.1.18.  In my case, I had `"graphql": "0.13.2",` in my `package.json` file. I removed that, blew away .cache and node_modules, reinstalled, and tried to start Gatsby again. Then it worked fine.

[2019-02-25 10:25] m-allanson commented on #12047
This is strange... I can replicate the behaviour you're seeing. Using Chrome's Network tab with caching disabled and javascript enabled I see similar results to yours.

However, if I try and dig into this more using the Performance tab on Chrome, I see the normal 'fast' behaviour.

![screenshot 2019-02-25 at 09 56 39](https://user-images.githubusercontent.com/381801/53329538-31294d00-38e4-11e9-94c

[2019-02-25 10:36] alexkirsz commented on #11453
@Undistraction Here's my _redirects file:

[code]

I've created redirects for both these 404 pages in Gatsby. I've *also* set up a `matchPath` property on both these pages. I've found this configuration to be the closest to a fully functional i18n setup with support for localised 404.

[2019-02-25 10:44] oorestisime commented on #12064
Do you mean to create a source plugin taking in data from a SOAP api?

Generally as long as you are able to do this in JS then you shouldn't feel in any way limited in gatsby. It is a JS and React app in any case.

[2019-02-25 10:47] #11385 closed

[2019-02-25 10:49] simoneb commented on #11364
@snide you're welcome!

[2019-02-25 11:14] KidkArolis commented on #10341
Replying to keep this issue open. It's still an issue and the suggested workaround doesn't work.

[2019-02-25 11:36] asilgag opened #12066 "Changing only one file changes all files between builds"
This issue references [Netlify and cache busting urls #11961](https://github.com/gatsbyjs/gatsby/issues/11961)

I commented on that issue after it was closed, so I guess nobody has reviewed it. Please consider closing this issue and reopening the previous one it that makes sense.

@KyleAMathews @jedrichards @futuregerald I am experiencing the very same when deploying to Netlify, and I have a worki

[2019-02-25 11:43] KidkArolis commented on #10341
In the meantime, I dropped this into my `plugins/gatsby-remark-unwrap-images/index.js`:

[code]

and configured it like so in `gatsy-config.js`:

[code]

[2019-02-25 11:48] freiksenet commented on #12021
Thank you for the report! We can't do the build with the linked repro, cause it uses some private packages. I wonder if it's possible to remove them, that would really help us.

Thanks a lot!

[2019-02-25 11:55] jedrichards commented on #11961
@futuregerald Thanks for the info! Can you confirm whether Netlify's cache invalidation strategy means that cache busting urls are optional? E.g. when a site is redeployed and a user revisits the site, they'll see latest assets whether cache busting urls have been used or not?

[2019-02-25 11:59] freiksenet commented on #12051
Thank you for the report, it seems to be a bug in plugin-manifest. Do you want to try to make a PR fixing it?

[2019-02-25 11:59] sidharthachatterjee commented on #12027
@Sondro Could you link to a quick reproduction repo if possible? Might make it easier to debug 🙂

[2019-02-25 12:00] jedrichards commented on #12066
@asilgag Thanks for opening this. The thrust of my issue #11961 was about whether cache busting urls  are even required on Netlify, whereas this issue relates to whether Gatsby is needlessly changing cache busting urls and so invalidating cacheable static content that references them. The two are interrelated, but having two different issues makes sense I think - and this one seems the most pertin

[2019-02-25 12:02] freiksenet commented on #12006
This would be a new feature, likely a flag or config option in `gatsby-transformer-csv`/`gatsby-transformer-json` and their like, something like a `merge` flag that you can pass. Do you want to try tackling this? It's probably not a very small feature. As a workaround, you could concatenate files into one big CSV file for now.

[2019-02-25 12:02] dimitrisnl opened #12067 "Allow path whitelisting for gatsby-plugin-fullstory"
## Summary

`Gatsby-plugin-fullstory` adds the [fullstory](https://www.fullstory.com) tracking code in each page. It would be great to provide an array of pathnames where this script will not be present.

### Basic example

[code]

[2019-02-25 12:03] freiksenet commented on #12006
You could also write a local source plugin, reusing code from transformer-csv, to do this loading locally.

[2019-02-25 12:10] freiksenet commented on #12011
Currently we don't have any solutions to this except increasing open file limit (not sure if it's possible on Windows). One workaround could be using `CHOKIDAR_USEPOLLING=1` env var to tell `chokidar` (our fs watcher package) to poll instead of using file watchers. This has performance implications, but could help with this problem.

[2019-02-25 12:14] freiksenet commented on #12066
Currently we don't support this. Hashes of compiled assets will change between builds, meaning all files that include them will be changed. I'll mark it as a feature request.

[2019-02-25 12:15] freiksenet commented on #12067
Thank you for the report! Do you want to make a PR to add this? Thanks!

[2019-02-25 12:21] dimitrisnl commented on #12067
I would love to @francesmx

[2019-02-25 12:21] fwielstra opened #12068 "Cypress tests fail because of Gatsby's 404 page"
## Summary

For some reason, when running our existing Cypress tests, Gatsby gives us the development 404 page with the message "`There's not a page yet at /__/`". I know this used to work up until last week or so. I just went back a couple weeks in Git history though, and now what I think used to work a couple of weeks ago is also no longer working. Going back to that point does open the cypress

[2019-02-25 12:21] freiksenet commented on #12063
Thank you for the report! Could you please provide a bigger reproduction case, eg a simple gatsby project with a reproduction?

[2019-02-25 12:51] nikoladev commented on #8707
The reason I'm using GraphQL is that in my project I'm using `gatsby-image` to optimize all my images. I've removed the dependency from the example repo so that it doesn't increase the surface area for bugs.

Your solution hardcodes the URLs of the images into the code. While if you use GraphQL it allows `gatsby-image` to optimize the images for different resolutions and breakpoints.

@jonniebigod

[2019-02-25 13:01] MaralS opened #12071 "Issue when fetching Contentful data with GraphQL - "URL scheme must be "http" or "https" for CORS request""
Hi everyone

## Description
I'm trying to build my blog with Contentful. I already installed Contentful plugins. But I have some issues to display the data in my blog post template. I really don't know what's wrong because I followed tutorials on gatsby official docs.

### Steps to reproduce

clone my repo and run `yarn develop` on the dev branch - [link to the repo](https://bitbucket.org/maralsab

[2019-02-25 13:17] freiksenet commented on #12071
Hi! Thanks for the report. I can't reproduce, I can get your site to display with dev branch (though there is some style issue and they don't load like they do for master). Could you try reinstalling node_modules and maybe deleting `.cache` directory on your site?

[2019-02-25 13:22] MaralS commented on #12071
@freiksenet Hi,
Thanks for your reactivity. It's normal the dev version is completely different from master branch. I'm working on the different pages :)
If you go the URL [http://localhost:8000/blog/create-a-blog-using-gatsby-js-and-contentful/](http://localhost:8000/blog/create-a-blog-using-gatsby-js-and-contentful/), do you have the same error ?

[2019-02-25 13:22] ergunpp opened #12072 "Multiple form submissions, form not cleared"
I have a contact page with a simple form with ajax post to aws lambda, which runs ok. But the form is not cleared after submission thus enabling the user tosend mutliple times the same form.

[code]

[2019-02-25 13:24] freiksenet commented on #12068
Thank you for the report! Could you include a reproduction? We do run cypress in our end-to-end tests, so it should be working at least in theory :)

[2019-02-25 13:27] freiksenet commented on #12071
I get the following error:

![2019-02-25-15 26 23](https://user-images.githubusercontent.com/172936/53340497-d0b10480-3911-11e9-98fc-16ce0fe6bc60.png)

[2019-02-25 13:29] freiksenet commented on #12071
However it could also cause I don't have your contentful API key and maybe it doesn't return the same data as for you.

[2019-02-25 13:31] freiksenet commented on #12071
Ok, actually I could make it run by removing some of the undefined variables (metaDesc, scale, rhytm).

[2019-02-25 13:34] MaralS commented on #12071
The api key is in the .env file
You can test the graphql query
[code]
I replaced
metaDesc by post.metaDesc
metaTitle by post.metaTitle
I do not have the error related to the metaDesc variable but I always have the error
![capture](https://user-images.githubusercontent.com/19915917/53340862-516c0280-390a-11e9-9cee-e61b8b9e14e1.PNG)

[2019-02-25 13:35] freiksenet commented on #12072
You need to add `value` to your input elements. Like this:

[code]

[2019-02-25 13:38] freiksenet commented on #12071
@MaralS could you push those changes to the dev branch?

[2019-02-25 13:40] MaralS commented on #12071
@freiksenet it's done

[2019-02-25 13:45] freiksenet commented on #12071
It runs for me :disappointed:

![2019-02-25-15 43 38](https://user-images.githubusercontent.com/172936/53341410-28506f80-3914-11e9-95fb-88b72510ce0c.png)

Can you try fixing the import for `DefaultLayout` in the component? It should be `import { DefaultLayout }`. That's the only change that I do to make it run, but I don't get the above errors even in that case. But it could be difference of behav

[2019-02-25 13:54] sidharthachatterjee commented on #12007
Hey @anthonytranDev

This is breaking because the graphql queries aren’t being run (they’re run by gatsby when you have gatsby develop running)

The best approach here is to mock out graphql and StaticQuery

Check out the documentation at https://www.gatsbyjs.org/docs/unit-testing/#3-useful-mocks-to-complete-your-testing-environment

[2019-02-25 13:56] MaralS commented on #12071
@freiksenet It runs for me too now but i don't see the content metaDesc and metaTitle in the code.

[2019-02-25 13:58] oschade commented on #12002
Of course, this fix this. But then the plugin using its own version of react and I think, this could become a problem. I was hoping for a better solution. Normaly, gatsby-plugins don't have to include its own "react". But for locally development, this might be ok...

[2019-02-25 14:00] #12071 closed

[2019-02-25 14:28] KyleAMathews commented on #11996
We could also use this to detect which files are causing trouble (assuming it is a particular file and not something randomly glitchy inside sharp). We could detect which job Sharp was working on when it crashed and if the same job crashes multiple times in a row (2? 3?) then exit Gatsby altogether and point to the file that's causing trouble for the user to fix.

[2019-02-25 14:30] KyleAMathews commented on #5499
Watching lots of files still seems to be causing trouble and I'm keen to see if this technique improves build speeds.

Also Parcel has published their wrapper around Chokidar as a separate plugin so would be straightforward to try @parcel/watcher

[2019-02-25 14:30] KyleAMathews commented on #5499
https://www.npmjs.com/package/@parcel/watcher

[2019-02-25 14:38] anonimoconiglio opened #12073 "Change the main layout according to its path (retrieving data from graphQL)"
## EDIT:
I created a demo on github if you want to take a look (now all the config resides on _springhero.js_ component): https://github.com/anonimoconiglio/gatsby-for-debugging

## Summary
Sorry if this question seems noob, I tried everything and feel like there's something missing but I don't understand how to do it.

I need to change my hero-image (that is part of the main layout) according to

[2019-02-25 14:39] handreistoicescu opened #12074 "gatsby-image lazy loading not working in MacOS Safari"
## Description

In MacOS Safari, all images are downloaded at once, regardless of the expected lazy loading. In all the other browsers I tested in (i.e. Chrome, Firefox), lazy loading works just fine.

### Steps to reproduce

Open a website built in Gatsby that contains as many fluid gatsby-image Img components as the browser will start displaying the scroll bar, so a few images won't be in the vi

[2019-02-25 14:44] dimitrisnl commented on #12067
@freiksenet 	I did an implementation, that can be found [here](https://github.com/dimitrisnl/gatsby/commit/dc5b489f8479d96dc499f27ebd3ea256bc490652)

There is a caveat that I didn't think about. If I visit the whitelisted page then I don't include the script in the <head>, which is good.

But if I navigate to another page that I want to track, the script won't be present since the routing was done

[2019-02-25 14:50] tchaffee commented on #6274
Please keep this open. Per @wardpeet "it's probably valuable to fix this". Thanks!

[2019-02-25 15:04] anthonytranDev commented on #12007
Thanks for replying back @sidharthachatterjee

That's the current course being taken for theses components, however this solution doesn't scale very well when mocking of the component on StorybookJS - i.e. writing a similar component for every component produced.

As with StorybookJS, it's main purpose would be drag and drop components, test the UI there and then; for it's convenience.

What I wan

[2019-02-25 15:11] asilgag commented on #12066
I understand that hashes of compiled assets will change between builds, but that means that Netlify gets blocked on every build because it has to re-upload all files to its CDN.

For example, I'm building a site with ~5k pages. I change only one page, and Netlify builds the whole site in ~40-50 seconds. But then, it gets stuck deploying the whole site again to its CDN nodes.

This is a real build

[2019-02-25 15:16] yogeshkotadiya commented on #12074
That's because Safari 12 doesn't support `IntersectionObserver` yet. But the support is now coming soon as it's already available in Sarafi 12.1 Technical Preview.

[2019-02-25 15:22] handreistoicescu commented on #12074
All clear now. Didn't know `IntersectionObserver` even existed, so thank you for the enlightenment.

P.S. Amazing work you're doing here, people. I'm fascinated by what Gatsby has under the hood.

[2019-02-25 15:23] fwielstra commented on #12068
Hey @freiksenet, thanks for your quick reply; I've taken our repo and stripped out as much as possible to avoid noise, and pushed it to https://github.com/fwielstra/gatsby-cypress-404

Steps to start and reproduce; note that npm may work just as well, just need to go into the individual packages and run the start commands.

[code]

Then start the single `index.ts` test. Expected: it opens a Cypres

[2019-02-25 15:23] arturhenryy commented on #12074
@handreistoicescu
here is how to fix this.

add a gatsby-browser.js to your root

insert following code
[code]

this will polyfill intersectionObserver for Safari until it will be supported native.

[2019-02-25 15:29] arturhenryy commented on #12073
@yogeshkotadiya i think the easiest and cleanest solution here is to not embed the hero component in the layout and rather move it in the page templates / components. the you have the page specific context. just imagine you would have single-blog pages where you would have to check all the slugs manually and output the right hero image in the layout component. would be pretty messy haha.
so i thin

[2019-02-25 15:34] arturhenryy commented on #12073
another option is you could leave the hero image in layout and pass the image as a prop to layout on every page you need it. i hope this is clear if not feel free to ask.

[2019-02-25 15:38] arturhenryy commented on #12073
both approaches have pros and cons.
i you leave the here in layout you can have no page specific changes to it in case you would need for example an extra title in it for some pages e. g. but as a pro you only need to embed the code once in layout. so if you dont need page specific changes in this component (except the different images) this approach would be ok.

[2019-02-25 15:39] brendonco opened #12075 "Cant get npx gatsby new project to work"
Hi,

I am getting below errors:

[code]

I am using node version: 8.10.0

[2019-02-25 15:42] handreistoicescu commented on #12074
Where do I import `"intersection-oberver"` from? If I do only as you said, I get a reference error (`Module not found: Error: Can't resolve 'intersection-observer'`)

[2019-02-25 15:43] arturhenryy commented on #12074
@handreistoicescu i just noticed that is missed that part. i edited it. if you use npm just switch
yarn add intersection-observer
with
npm install intersection-observer --save

[2019-02-25 15:47] #12029 closed

[2019-02-25 15:52] handreistoicescu commented on #12074
Thank you. Worked like a charm!

[2019-02-25 15:55] yogeshkotadiya commented on #12074
@handreistoicescu Please close the issue if resolved.

[2019-02-25 15:56] #12074 closed

[2019-02-25 16:42] baobabKoodaa commented on #12008
@freiksenet Could you help me understand where the transformation happens exactly?

This is the only relevant file I could find: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/extend-node-type.js

It's not documented or commented and I'm struggling to understand how it's supposed to work. To me it looks like this function in `transformer-sharp` calls `plugin-s

[2019-02-25 16:51] anthonytranDev opened #12078 "gatsby-cli error semantics `Did you mean <command>?` doesn't correctly convey command options given"
## Description
When `gatsby y develop` has been typed. The resulting stdout suggests `Did you mean new ?`, more precisely `new` being very different from `develop`. Doesn't accurately depict the command typed in

### Steps to reproduce
Demo Project - not required
Start up a new project gatsby and type in `gatsby y develop`

### Expected result
`Did you mean develop?`

### Actual result
`Did you me

[2019-02-25 17:11] johnreynoldsventure opened #12079 "gatsby-plugin-feed requires creating slugs for pages"
This is probably obvious to many, but while adding gatsby-plugin-feed to my site I discovered that you must add slugs to your MarkdownReact nodes.

The documentation for how to do this is very clear: https://www.gatsbyjs.org/docs/creating-slugs-for-pages/

What wasn't clear (to me) was that this was a dependency for gatsby-plugin-feed.

I hope this helps others...

[2019-02-25 17:27] #4950 closed

[2019-02-25 17:27] #5888 closed

[2019-02-25 17:27] #10727 closed

[2019-02-25 17:27] #7859 closed

[2019-02-25 17:27] #9310 closed

[2019-02-25 17:27] #10914 closed

[2019-02-25 17:27] #11024 closed

[2019-02-25 17:27] #6722 closed

[2019-02-25 17:27] #11013 closed

[2019-02-25 17:29] #1546 closed

[2019-02-25 17:29] #10965 closed

[2019-02-25 17:35] saranshkataria commented on #11496
still waiting for a possible solution

[2019-02-25 17:50] KyleAMathews commented on #12066
Most of netlifys postprocessing is optional so you can ask them to disable some of it.

There is a way we can avoid changing the webpack hash and it's something we're looking into.

[2019-02-25 17:57] KyleAMathews commented on #12079
The plugin shouldn't work this way. You should pass into the configuration which field to use does the slug. Would you be interested in working on a PR for this?

[2019-02-25 18:14] baobabKoodaa opened #12080 "Feature request: use file hashes to download the same asset only once"
## Summary

If a static file is downloaded and cached in the browser, it shouldn't be downloaded again. The browser should just serve it from cache. Currently this is not working as it should, because separate GraphQL queries generate separate sets of assets - even when the output files are exactly same. This means that the exact same file will be generated into different paths, so the browser has

[2019-02-25 18:15] silvenon commented on #7517
This has probably been solved by #11800, I think it stems from the same issue.

[2019-02-25 18:17] johnreynoldsventure commented on #12079
I'd love to help more Kyle, but I fear I don't know enough - I'm just getting started with gatsby.
I started with the gatsby tutorial, and have been added functionality as I need it.  Likely my problems are due to me missing a step or two along the way rather than anything fundamental.

[2019-02-25 18:17] anonimoconiglio commented on #12073
@arturhenryy Hi, thanks for the suggestion.
I removed the condition inside _Spring_, leaving only the Img component of the main-hero that already worked in the homepage. This to be sure that it wasn't that "Spring" component.

Then I created imghero.js component and placed it within a condition in the main layout like this:

[code]
This is the content of ImgHero component:
[code]
It gives me some

[2019-02-25 18:30] t2ca commented on #12073
You are getting this error because in a non page component you need to use static query https://www.gatsbyjs.org/docs/static-query/

`warning The GraphQL query in the non-page component`

[2019-02-25 18:40] ergunpp commented on #12072
Thank you.
This helped me with fields not clearing after submit, but I am still getting empty submits.

[2019-02-25 18:45] anonimoconiglio commented on #12073
I convert the query on a StaticQuery. Now the image on the post is always the same. Its the hero image of my first post. It's like Gatsby don't filter the right hero image, it only take the one that appears first (I think this happens because I can't give a variable on a static query, in order to tell Gatsby to filter according to the slug).

This is my new ImgHero.js component:

[code]

[2019-02-25 19:13] t2ca commented on #12073
Thats correct static query does not accept variables.

[2019-02-25 19:32] anonimoconiglio commented on #12073
Tha's my problem :/
Is there any way to tell gatsby to evaluate the context here? Even if this is not a page query?

[2019-02-25 19:41] t2ca commented on #12073
Typically this would be accomplished as its shown in this tutorial. https://www.gatsbyjs.org/tutorial/part-seven/#creating-pages

You would have a template file such as:
component: path.resolve(`./src/templates/blog-post.js`),

And this file would contain your query.

[2019-02-25 19:46] baobabKoodaa commented on #12008
Some more information: if the original file was used to create the tracedSVG, then we should expect `cropFocus: NORTH` to align placeholders nicely. Surprisingly, it doesn't. The only cropFocus which works is `CENTER` for some reason. So clearly the tracedSVG placeholders are in fact being created from a cropped image, just something goes wrong which misaligns the cropping.

[2019-02-25 19:46] ergunpp opened #12082 "Page scrolling not smooth"
Hi,
I have almost finished a web project and built it and am now serving a test version at: http://chefs-test.s3-website.eu-central-1.amazonaws.com

But I have now realised on mobile, the touch page scroll is not working or just very jumpy and not smooth.
Is there a way to solve this?

Thanks,

[2019-02-25 19:46] ndejesus1227 commented on #12006
@freiksenet hey!

I would love to take a shot at working on this. I personally need something done sooner than later so I might look into your workaround solution for now, but I would love to try and add this feature. I'd definitely need some help with approaching this if you'd be so kind to guide me

[2019-02-25 19:54] san7hos commented on #12051
Sure, I am just not sure what would be the preferred way to solve it.

[2019-02-25 19:54] Undistraction commented on #11453
@alexkirsz The reason I ask is because our problem was related to a lack of a trailing slash, not on the error page, but on the page triggering the error page. We are deploying to Apache, and it didn't like the fact that we were using urls `/like/this` instead of `/like/this/`.

Sorry I can't be of more help.

[2019-02-25 20:18] anonimoconiglio commented on #12073
I already do that, indeed I have a postLayout.js where there is a Page Query that is used to create the posts. But I can't replicate that query on my imghero.js because it's not a page. So I'm stucked.

[2019-02-25 20:19] cpboyd commented on #8237
@oliviertassinari @deltaskelta I found my issue: I was importing `createMuiTheme` from `@material-ui/core` rather than from `@material-ui/core/styles`

After adding the `/styles` to the import, everything seems to work consistently (with old methods and new methods, as well as `develop` and `build`).

[2019-02-25 20:23] anonimoconiglio commented on #12073
Now I followed the warming that Gatsby gives me when was compiled that second page query. I put a fragment on my postLayout.js:
[code]

And this is my imgHero.js component:
[code]

It gives me no errors at all, but the posts have all the same image :(
I have run out of ideas here

[2019-02-25 20:31] leworking opened #12083 "Pagination for tags? → Create tag pages, and then pagination for each tag"
If I have several tag pages with 50 entries each one, and would like to build 5 pages of 10 entries for each tag group, how can this be done?

In other words, in `createPage ` (`gatsby-node`) I can retrieve the array of tags of my (markdown) files, and then within a `tags_array.map` send each tag within the `context `of `createPage`.

Then, in my `template`, for each tag I can retrieve the number

[2019-02-25 20:43] Saifadin opened #12086 "Using the useState setter doesn't rerender component from template"
## Description

`useState` Hooks do not work when they are part of a template. I tried multiple solutions, eg adding `pureSFC`. It just doesn't work.

### Steps to reproduce

1. Clone this [example](https://github.com/Saifadin/test-shopify-gatsby) and install dependencies
2. Run `yarn start`
3. go to [http://localhost:8000/product/henning-ss-crew/](http://localhost:8000/product/henning-ss-crew/) a

[2019-02-25 20:44] Saifadin commented on #12086
PS: If I use a class component it works just fine.

[2019-02-25 20:46] arturhenryy commented on #12073
as i said before, please move the ImgHero component inside your postLayout and pass the image data as a prop. you can also remove the key from the Img inside ImgHero because you dont iterate

[2019-02-25 20:51] ndejesus1227 commented on #12006
I just want to add one thing to make sure it's clear what I'm trying to do:

[code]

See where it says "allAkumaMovesCsv"? I'd love for there to be a way to have like, "allFile" or something there that would look at every single file and get each value from the columns that exist.

[2019-02-25 21:04] t2ca commented on #12073
I think you want something like this:

[code]

[2019-02-25 21:30] rotexhawk commented on #7810
@reaktivo your scripts work locally but I wasn't able to get it to work with netlify. Are u able to deploy your site to netlify with `npx`?

[2019-02-25 21:36] alexlafroscia commented on #8047
Definitely not stale -- I ran into this exact issue right now. You currently cannot define a client-side `Redirect` through `@reach/router` because the proxy around the element breaks the `element.type` check that `@reach/router` does.

[2019-02-25 21:39] anonimoconiglio commented on #12073
@arturhenryy @t2ca I already tried but unfortunately that's not a solution, since I want that the image takes the place of the main-hero, with this solution the image resides on it's relative post but there is a sidebar and a hero that still remain in their place.

Here's an example of what I mean.
This is the homepage:

![screenshot_home](https://user-images.githubusercontent.com/22715417/5337043

[2019-02-25 21:39] youmustfight commented on #12021
Hey @freiksenet! I just removed the private dependencies and environment requirements.

Found something interesting. For times sake I decide to prune out StaticQuery components and page level queries for things I was grabbing from Contentful. This reduced the graphql query count from around ~96,000 to 83,000.

But most interesting off all, the build was successful!!! 🤔 ???

Here are some things I

[2019-02-25 21:47] baobabKoodaa commented on #12083
I'm not sure what you're trying to do with this part: ```}, {tag: `${tag}`}```? This is how I would try to do it.

In `gatsby-node`:

1. Make a GraphQL query for all your markdown files.
2. Calculate how many pages you need for each tag
2. Loop over needed pages and `createPage` for each of them. You need to pass context parameters like this:

[code]
Then in `PaginatedTagTemplate`:

4. Make a quer

[2019-02-25 22:09] youmustfight commented on #12021
Eh tried removing that component's static query and didn't seem to do anything :/

[2019-02-25 22:26] t2ca commented on #12073
I think you can do something like

[code]

Inside your Layout component you will have a hero prop

[code]

[2019-02-25 23:01] marcysutton commented on #2080
I am also interested in this. I asked @DSchau for context, and he said it would be challenging to implement because:

So a fix won't happen right away, but potentially in the future? I'll mark this as not stale to keep it open so we can track it.

[2019-02-25 23:06] anonimoconiglio commented on #12073
@t2ca Thanks, I tried with a div instead of "Layout"  (I don't use Layout because I'm using gatsby-plugin-layout to make the layout "static" or "fixed". So it automatically wraps my postLayout component (its children))

[code]
and then this (to simplify things for the moment):
[code]

Compilation goes fine but post pages are white again, with this errors:

[code]

[2019-02-25 23:22] javiersuzuki commented on #4103
Thank you so much @stefanwille and @tatwater for your help!!!

Adding that sneaky missing forward slash made it work!

[2019-02-25 23:27] marcysutton commented on #11957
Ah yes, I could see how that would be confusing. To clarify your steps, did you search on Google for "adding analytics" and land on the Github page? The page on the Gatsby docs shows the file title (`gatsby-config.js`), but the Github version does not: https://www.gatsbyjs.org/docs/adding-analytics/#using-gatsby-plugin-google-analytics

I agree that showing a more complete `gatsby-config.js` struc

[2019-02-25 23:30] t2ca commented on #12073
Sorry i'm not familiar with using gatsby-plugin-layout

[2019-02-25 23:32] anonimoconiglio commented on #12073
do you think that's generating the problem? I thought it only wrapped the layout in its children.

[2019-02-25 23:35] t2ca commented on #12073
Well this code below is incorrect which is causing the undefined error.
[code]

It would be something like

[code]

[2019-02-25 23:45] anonimoconiglio commented on #12073
@t2ca mm ok, now there is only one error:
[code]

[2019-02-25 23:59] t2ca commented on #12073
Im sorry, i'm not sure, i don't any experience with gatsby-plugin-layout

[2019-02-26 00:02] anonimoconiglio commented on #12073
It's ok, thanks for your help anyway :)

[2019-02-26 00:09] Sondro commented on #12027
BTW does anyone know if these warnings are normal:
[code]

[2019-02-26 01:10] JustFly1984 opened #12091 "The plugin "gatsby-plugin-typescript-css-modules@1.0.4" is exporting a variable named "modifyWebpackConfig" which isn't an API warning at `yarn start`"
Is there a way to update this package for v2 support?

[2019-02-26 01:31] baobabKoodaa opened #12092 "GraphQL fragments and repetition in queries"
## Summary

How can I extract repeating parts of GraphQL queries?

### Motivation

I have two GraphQL queries which are ~50% identical. My website will exhibit inconsistent behavior if I will accidentally modify one query and forget to change the other. These queries are also fairly verbose. For these reasons I would like to extract the repeating portion of these queries to its own file.

### What

[2019-02-26 01:44] shannonbux commented on #10449
Apologies @ashleymavericks for not seeing this earlier! I recently put some github filters into my email and was able to uncover a few that I missed. This epic got finished; if you're interested in documentation issues, try filtering for issues labelled "documentation" and "good first issue" if you're new to the Gatsby github repo!

[2019-02-26 01:46] shannonbux commented on #9374
Don't close!

On Fri, Feb 22, 2019 at 9:28 AM gatsbot[bot] <notifications@github.com>
wrote:

[2019-02-26 01:48] marcysutton opened #12093 "feat: gatsby-plugin-feed and i18n"
To capture @LekoArts' suggestion in https://github.com/gatsbyjs/gatsby/pull/11941, RSS feeds should also support internationalization. There is a prerequisite for better i18n support in general, but this issue is specifically for generating internationalized RSS feeds.

@DSchau's work in https://github.com/gatsbyjs/gatsby/pull/12085 is also a good prerequisite, as he's fixing issues with multiple

[2019-02-26 02:01] fab commented on #9979
Strangely I no longer have this issue, although I did install [Google Search Console](https://www.google.com/webmasters/) on the domain since posting this issue. At first the Google search results were not picking up the meta description tag correctly but that appears to be sorted now. For anyone running into this problem I would suggest looking at @jlengstorf's SEO components, that's what I model

[2019-02-26 02:33] rohintangirala commented on #12003
I'll check it out.

[2019-02-26 02:59] marcysutton commented on #5581
I think we need to reopen this, as I'm not hearing page changes announced on my website or gatsbyjs.org now that @reach/router is in place. The resetting of focus to the top of the page works fine, but I don't hear anything announced when I navigate through top-level pages in Voiceover with Safari and Chrome, IE11 and JAWS, or Edge and NVDA. I can open an issue with Reach Router as well, but rathe

[2019-02-26 03:07] marcysutton opened #12094 "docs: Managing pull requests"
## Description

It would be really helpful to have a doc on Managing PRs in the contributing section. It was in my original [contributing IA RFC](https://github.com/gatsbyjs/rfcs/pull/29) but we didn't write that page for launch. So this issue is an attempt to make that happen!

Specifically, we need a page that describes what contributors and maintainers should know about changing the Gatsby code

[2019-02-26 03:18] universse opened #12095 "WebWorker support"
Hi. Is it possible to use web workers with Gatsbyjs? I can't seem to find any resource related to this. If I wanted to use something like https://github.com/developit/workerize-loader, I would need to create custom webpack config?

[2019-02-26 03:49] keidrun commented on #12051
Hi, I've chosen the easiest way and sent PR but I think there're the following options:
- resize rectangular images to square but cut parts outside the images
- resize rectangular images to square but fill the images in the square
- just output message

I adopted the first one in my PR but I feel like the second one is better now and I don't like the third one so much.
If someone agree this, I'll

[2019-02-26 03:56] deltaskelta commented on #8237
@oliviertassinari I am confused. `@material-ui 4.0.0-alpha.1` seems to have moved everything from `@material-ui/styles` to `@material-ui/core/styles` but your plugin is still importing from `/styles` I have not been able to get it to work on my own project because of some complications related to this I believe

[2019-02-26 04:03] cxue4ur19 commented on #3425
I had similar issue earlier today with deploy. Did not work in the .vscode terminal. Tried the same command in git bash and worked with no problem. Hope this helps someone.

[2019-02-26 04:42] leworking commented on #12083
Yes, your **number 2**, how do you calculate how many pages you need for each tag? I'd calculate it by querying it with the filter, but if I want to run this `queryQL `inside `gatsby-node`, how can I do it?

Or otherwise, how can I calculate the number of posts that have that particular tag without a `queryQL`?

[2019-02-26 04:59] baobabKoodaa commented on #12083
Say you have a `posts` object containing all metadata for all posts after your first GraphQL query. We don't need to make any additional queries to get the number of pages per tag.

Let's first calculate number of posts per tag:

[code]

Now number of pages per tag:

[code]

[2019-02-26 05:47] pungggi commented on #12034
You are probably right.

[2019-02-26 05:47] #12034 closed

[2019-02-26 06:04] leworking commented on #12083
Done, I don't know why I was understanding that I should retrieve the data through additional queries _no matter what_, but obviously is much simpler to do with `js`. Thanks a lot :)

[2019-02-26 06:04] #12083 closed

[2019-02-26 06:21] freiksenet commented on #2080
We will support directives with #11480.

There are two parts of this issue:

a) implementing the directive that will put data behind @defer to a separate data chunk that page can load
b) implementing the convenient client-side abstractions to trigger the loading of that chunk.

I feel b) will also be tricky because we probably want to fetch it optimistically (same way we do with the links).

[2019-02-26 07:44] freiksenet commented on #12021
Thanks a lot for the repro!

I managed to build it on my thinkpad (though I do have 16GB of RAM). Seems it might be dependent on that.

The big issue atm is that we can't see the actual error because it's swallowed by the console reporter. Could you try running it again with console.log in the "error" function in reporter/index.js? (You can for example edit it directly in node_modules). I'll ask m

[2019-02-26 07:48] freiksenet commented on #12095
Hi! What do you want to do with workers? We use workers in [gatsby-plugin-offline](https://www.gatsbyjs.org/packages/gatsby-plugin-offline/), for example.

[2019-02-26 08:17] freiksenet commented on #12092
You can extract repeated parts into query fragments and collocate them with components. Check out [this guide](https://www.gatsbyjs.org/docs/using-fragments/).

[2019-02-26 08:22] stefanprobst commented on #11184
With [this](https://github.com/techfort/LokiJS/pull/744) and [this](https://github.com/gatsbyjs/gatsby/compare/master...stefanprobst:loki-elemmatch) we *should* be able to solve the `elemMatch` issue. As for storing the resolved nodes directly in the Loki db (if I understand the proposed solution correctly?), I don't think this will work because we can't JSON-serialize links (and circular refs), i

[2019-02-26 08:43] freiksenet commented on #12078
I think that's a good idea (pinging @gatsbyjs/docs just to make sure). Do you want to make a PR to add this feature? Thanks a lot!

[2019-02-26 08:47] freiksenet commented on #12091
Hi! This plugin isn't maintaned by Gatsby, I wonder if you could report the issue in [their repo](https://github.com/jcreamer898/gatsby-plugin-typescript-css-modules).

[2019-02-26 08:54] meyginix commented on #12038
Sure, I can do that.

[2019-02-26 09:42] freiksenet commented on #12008
I read the code wrong first time - the resizing happens in traceSVG, so issue is inside it in `plugin-sharp`. Seems there are two problems, one is that maxHeight and maxWidth aren't used in `traceSVG`. I guess logic from fluid should be copied to traceSVG or somehow split out so it can be reused. Second is that there is an issue with the memoization of the tracedSVG. It memoizes by file name and a

[2019-02-26 09:49] wardpeet commented on #12078
some extra info: we use yargs as a cli parser. Code can be found https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/create-cli.js. Yargs as an option to add completion text to the cli. Currently I don't think we use it.

reference: http://yargs.js.org/docs/#api-completioncmd-description-fn

[2019-02-26 09:53] Fazyyy opened #12099 "Page templates returning "The GraphQL query in the non-page component""
## Description

I'm trying to create a number of post templates dependent of a field in the front matter, so if the front matter is "product: motorbike" it uses the "motorbike-post.js" template. If it is "product: event" it uses the "event-post.js" template. I believe I've set it up correctly but it seems not as I keept getting a fairly long error message with multiple parts including "Page not fo

[2019-02-26 09:58] PoppinMic commented on #6372
For anyone who is looking an answer like I was. There is a library from react [https://github.com/gilbarbara/react-inlinesvg](url) and this can convert svg served remotely to inline-svgs.

[2019-02-26 10:06] freiksenet commented on #12080
We generate file names in `gatsby-plugin-sharp`, it contains file internal digest (which is the same for your images) and sorted picture resize argument digest (which is different). Unless arguments that are used to process this image are different, then this is a bug somewhere. Could you link to the source of the blog so I can investigate more?

[2019-02-26 10:33] freiksenet commented on #12086
Thank you for the report! That indeed sounds like a bug. Not sure what's the issue here. Wanna investigate it further and make a PR? Pinging our resident hook expert @sidharthachatterjee :)

[2019-02-26 10:42] freiksenet commented on #12099
You need to lead the `path.resolve` path with `./`, so eg `const postBike = path.resolve('./src/templates/motorbike-post.js')`.

You also have some missing fields in your graphql in gatsby-node, you should add them so that it builds. After fixing that your `createPages` could look smth like that:

[code]

[2019-02-26 10:43] youmustfight opened #12100 "[gatsby-plugin-sitemap] Multiple/Split Sitemap Files"
## Summary

When submitting sitemaps to Google Search Console, an error is thrown for sitemaps with more than 50,000 urls. It'd be great if there was an option to have multiple sitemap files generate with a 50,000 url limit per file.

This could be done with a number limit or maybe an include option (rather than just exclude)?

### Basic example

Expecting `sitemap-1.xml`, `sitemap-2.xml`, etc.
[c

[2019-02-26 10:45] freiksenet commented on #12100
That would be a great feature indeed! Would you like to try to tackle it and create a PR?

[2019-02-26 10:49] seidtgeist commented on #7373
Would it be possible to change the development server to run page exported queries on demand, rather than running all queries upfront?

It’s necessary for a production build, but it probably makes some people wait a long time before being able to develop, or to chose to pass data via `pageContext`.

[2019-02-26 10:54] m-allanson commented on #12099
Note that you can also check for errors in your result object, which should give pointers towards missing fields and that sort of thing. See an example in [the blog starter here](https://github.com/gatsbyjs/gatsby-starter-blog/blob/599d48ab02aee201b7981730264b394724102b43/gatsby-node.js#L29-L31).

[2019-02-26 10:57] imshuffling commented on #7517
@silvenon I've just updated my site locally and there seems to be no duplication errors. Can anyone else confirm?

[2019-02-26 11:00] Fazyyy commented on #12099
Ah, I can't believe that was all it was. Working now, thank you!

[2019-02-26 11:00] #12099 closed

[2019-02-26 11:01] luukdv commented on #11524
Same issue here, seeing this periodically on websites I haven't visited for a few days (the Gatsby website as well). Not on IE11 but Chrome. After a few seconds of blank page, there's a refresh after which everything is working again.

Versions of one example:
`gatsby`: `2.0.118`
`gatsby-plugin-offline`: `2.0.23`

[2019-02-26 11:25] jamo opened #12101 "gatsbyjs.org build assumes native dependency `libvips-dev`"
## Description

`yarn run develop` for gatsbyjs.org (`www/`) fails with following errors on a fresh ubuntu 18.04 setup:
[code]

Installing `libvips-dev`  fixed the issue; maybe we should note the native dependency in the readme?
Although it's fairly easy to figure it out.

[2019-02-26 11:30] m-allanson commented on #11076
I opened an RFC for tackling further work on this: https://github.com/gatsbyjs/rfcs/pull/31

[2019-02-26 11:31] anthonytranDev commented on #12078
@freiksenet @wardpeet Just made a PR to the gatsby-cli codebase. My aim here to improve the DX for y'all

[2019-02-26 11:33] JABedford opened #12102 "gatsby-plugin-typography - Error whilst following Gatsby tutorial."
## Description

Trying to get up and running with the Typography plugin as per the gatsby tutorial. An error is thrown when I come to run develop.

### Steps to reproduce

`npm install --save gatsby-plugin-typography react-typography typography`

I update my gatsby-config file as per the tutorial.

`gatsby develop`

### Logs

[code]

[code]

[2019-02-26 11:47] deltaskelta commented on #8237
Just tested a production build and it worked successfully! no more first paint issues

[2019-02-26 12:00] Jonic commented on #8833
@jaredsilver This looks great - we've been struggling with this recently too, so we're going to give this a try! Thanks :)

[2019-02-26 12:01] freiksenet commented on #12075
It's likely to be the same issue as https://github.com/gatsbyjs/gatsby/issues/10620. What's your version of Python?

[2019-02-26 12:05] codingfunwoody opened #12104 "Building static HTML failed when you createContext with empty default value"
## Description
It's working when `gatsby develop`
but failed to build when you use React.createContext with empty default value
You can solve it by assigned default value in React.createContext method. But I cannot modify other npm packages which are using React.createContext with empty default value. So I cannot build the website.
Usually I set the default value by <Context.Provider value={defaul

[2019-02-26 12:08] MarcCoet commented on #11541
Seeing this too almost every time I restart the dev server manually but I just need to refresh the page manually too to make it disappear. If I can pinpoint the exact definition of this 'almost' I will report back.

[2019-02-26 12:08] freiksenet commented on #12078
You can just create a PR. We don't really have separate responsible people per packages, everyone in Gatsby team is responsible :)

[2019-02-26 12:13] freiksenet commented on #12102
Thank you for the report! You need to create a Javascript file for the typography config (default is `src/utils/typography.js`). Documentation should be improved so that it tells one to do it and provide a minimal config example. Do you want to make a PR to fix the docs?

[2019-02-26 12:15] freiksenet commented on #12104
Could you provide a bigger reproduction case with both parent and child file fully included? I can't reproduce it here.

[2019-02-26 12:23] tomoyukikashiro commented on #12100
@freiksenet @youmustfight It's interesting for me too 👀 Can I tackle it ? I'll send PR for it later.

[2019-02-26 12:34] wardpeet commented on #12003
@rohintangirala I'm actually fixing this one already #11001

[2019-02-26 12:35] wardpeet commented on #12003
@fk i'm closing this one in favour of #11001 so we don't have 2 people working on the same issue.

[2019-02-26 12:35] #12003 closed

[2019-02-26 12:39] yogeshkotadiya commented on #12102
Docs already have how to create `typography.js` file and configure it.
[https://www.gatsbyjs.org/docs/typography-js/#creating-the-typography-configuration](https://www.gatsbyjs.org/docs/typography-js/#creating-the-typography-configuration)

[2019-02-26 12:42] codingfunwoody commented on #12104
Sorry for late, i upload my whole project to github
you can clone my project to reproduce
https://github.com/codingfunwoody/reproduceGastby

[2019-02-26 12:46] tomoyukikashiro commented on #12079
@johnreynoldsventure

Your are right. :)  `gatsby-plugin-feed` require `slug` by default.
=> [here is the code](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-feed/src/gatsby-node.js#L16-L17) where plugin use `slug` to define each page url.

But you can costomize it by passing option into `gatsby-config.js`.

In my example I try to change default site url from `https://examp

[2019-02-26 12:47] JABedford commented on #12102
I see where it is mentioned now. Your right, it needs to be a bit more explicit and point to the link that @yogeshkotadiya shared above.

Yes @freiksenet I'll create a PR.

[2019-02-26 13:07] reaktivo commented on #7810
@rotexhawk Just pushed an example and it worked fine:

https://github.com/reaktivo/gatsby-esm/
https://gatsby-esm-example.netlify.com/

Make sure you're running `npm install --save-dev esm` before and that your build config runs `npm run build` instead of `gatsby build`

Check out this commit: https://github.com/reaktivo/gatsby-esm/commit/cf620259ac8b118dea38b99409963cb26bf1b240

[2019-02-26 13:07] baobabKoodaa commented on #12092
I think this part is my problem when I'm trying to create a fragment: `sort: { fields: [fields___prefix, fields___slug] order: DESC }`. I guess fragments can't be made for that purpose? Or what would be the `TypeName` for that fragment?

[2019-02-26 13:12] baobabKoodaa commented on #12092
Hmmh what if I extracted the repeating parts into a separate query, define that entire query in another file, and import it into places where I need it? Is that possible?

[2019-02-26 13:47] m-allanson commented on #2114
@KyleAMathews and @DSchau you were working on this recently I think? Could you post an update of where you got to? Was there some issues with handling multiple webpack configs?

[2019-02-26 14:32] handreistoicescu opened #12109 "allImageSharp query sort"
## Summary

I'm using GraphiQL to test an allImageSharp query with a sort parameter, but the sorting doesn't happen at all.

## Relevant information

I have a folder with images named 01.jpg, 02.jpg to xx.jpg. I want my query to return the results ordered by originalName.

The query looks like this in GraphiQL:

[code]

Here are the query results:

[code]

What I expected was that the items from t

[2019-02-26 14:42] danoszz commented on #8560
Issue is still not resolved. Please stay open for a bit

[code]

[2019-02-26 14:49] rohintangirala commented on #12003
@fk Alright sounds good. I didn't really get to it anyway.

[2019-02-26 14:55] wardpeet commented on #12003
Sorry about this. If I knew earlier I would have gave you a few pointers instead

[2019-02-26 15:22] oliviertassinari commented on #5496
I have a SSR issue, I would like to debug the problem without having to rebuild the whole app between each iteration. It's frustrating.

[2019-02-26 15:50] stefanprobst commented on #12109
This is actually a bug in Gatsby, see #11368. Currently we cannot sort on fields that are added with the `setFieldsOnGraphQLNodeType` API (which the sharp plugin uses).

[2019-02-26 15:52] stefanprobst commented on #12109
You could try work around this by using something similar to this:
[code]

[2019-02-26 15:56] DSchau commented on #2114
@m-allanson thanks for tagging us in!

We did. Here's where we ended up (with more work on this probably coming this week):

The current state of the work is [here](https://github.com/DSchau/gatsby/pull/7).

What we'll need to do is do two webpack builds (ideally in parallel, utilizing something like [jest-worker](https://www.npmjs.com/package/jest-worker)), one with a modern config, and one with

[2019-02-26 16:00] handreistoicescu commented on #12109
Thanks for the info, and for the amazing work on GraphQL. Should I close this issue now?

[2019-02-26 16:08] stefanprobst commented on #12109
Closed. Thanks for using Gatsby!

[2019-02-26 16:08] #12109 closed

[2019-02-26 16:33] youmustfight commented on #12100
Go for it @tomoyukikashiro! 😄 I can get to it tomorrow if you aren't able to later today

[2019-02-26 16:39] DSchau commented on #12086
Just to be clear here - this is a template component in a theme, correct?

I can create a reproduction in a bit--but does this issue also impact non-theme template components?

[2019-02-26 16:43] Saifadin commented on #12086
@DSchau yes it’s impacting a component in a template. They work perfectly fine in other places, like the icons in the header.

[2019-02-26 16:44] Saifadin commented on #12086
I am not sure what is causing it, tried to investigate but I didn’t get that far.

[2019-02-26 17:27] #10126 closed

[2019-02-26 17:27] #1648 closed

[2019-02-26 17:27] #3263 closed

[2019-02-26 17:27] #4976 closed

[2019-02-26 17:27] #8366 closed

[2019-02-26 17:27] #10709 closed

[2019-02-26 17:27] #10796 closed

[2019-02-26 17:27] #11050 closed

[2019-02-26 17:27] #11056 closed

[2019-02-26 17:27] #11057 closed

[2019-02-26 18:18] youmustfight commented on #12021
Not sure if this is helpful but some input/outputs for reporter and create-cli

Create-CLI `handlerP`
[code]

Reporter's `panic` function arguments
[code]

Reporter's `error` function arguments
message =>
[code]
error =>
[code]

Create CLI handleP's Promise error handler =>
[code]

[2019-02-26 18:27] thomasryu commented on #11507
Any progress on this issue? `babel-plugin-remove-graphql-queries` not working properly breaks both my project's Jest tests and Storybook stories :(

[2019-02-26 18:34] kbrgl commented on #11747
Oops, unpinned this accidentally. Sorry!

(Perhaps GitHub should make repository actions more obvious 😛)

[2019-02-26 18:40] kendallroth commented on #11497
As far as I can tell this is still an issue that hasn't been fixed.

[2019-02-26 18:43] kbrgl commented on #12082
Hi!

Are you using any libraries that modify scroll behavior (smooth-scrolling anchors, Remark autolink, etc.)?

Can you reproduce this / let me know what plugins you have installed?

[2019-02-26 19:17] ergunpp commented on #12082
No I am not using any library. Which one do you recommend?

On 26 Feb 2019 Tue at 21:43 Kabir Goel <notifications@github.com> wrote:

[2019-02-26 19:40] DSchau commented on #11507
@thomasryu could you explain how this breaks functionality? This is a warning--it shouldn't impact underlying functionality.

[2019-02-26 19:49] denisx commented on #11515
wake up, need to fix

[2019-02-26 19:54] Kosai106 commented on #12082
You can try adding `-webkit-overflow-scrolling: touch;` to your containing divs, but ultimately it's a hack and the issue lies somewhere else.

[2019-02-26 19:55] kbrgl commented on #12082
Sorry, I should have been more clear. Are you currently using any libraries that make changes to scroll behavior?

(I think it's more likely that this is an issue with the website layout as opposed to an issue with Gatsby 😄)

[2019-02-26 20:09] rchrdnsh opened #12121 "Current state of i18n?"
Just a few general questions about building an i18n site with Gatsby?

What are the best possible solutions for creating an i18n site with Gatsby?

Is the core team working on something in this regard?

Are there any current tutorials that people in the community recommend?

I have been googling a bunch but I'm just getting more and more lost. Any curated guides and/or assistance on the matter wou

[2019-02-26 20:14] ergunpp commented on #12082
No i am not using any libraries. Can you give me hint what issues may cause
this? You can also check the demo site with the link above.
I aporeciate your help.

On 26 Feb 2019 Tue at 22:55 Kabir Goel <notifications@github.com> wrote:

[2019-02-26 20:17] kbrgl commented on #12121
You might find [this post on the Gatsby blog](https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/) useful.

[2019-02-26 20:35] kbrgl commented on #12082
May or may not be related to your bug, but somewhere in your code you have a where a div has a `classname` attribute as opposed to a `className` attribute. (Note the uppercase 'n'.)

[2019-02-26 20:45] baobabKoodaa commented on #12080
It looks like it's not possible for me to set the exact same arguments in both places.

Here is my `gatsby-config.js` for "how to transform `<re-img>` images inside markdown files":

[code]

Here is the comparable portion of my GraphQL query to generate images for my front page (not from markdown):

[code]

So we have 2 differences:

1. Markdown image transform arguments have `tag: 're-img'`. If I

[2019-02-26 20:50] baobabKoodaa commented on #12080
Even if it's possible to fix this by modifying `gatsby-remark-rehype-images` or `plugin-sharp`, I think a better, more general fix, would be to generate asset paths using file hashes. That way the same issue is not going to re-occur with many different plugins, etc.

[2019-02-26 20:52] alexandrtovmach opened #12125 "Make github docs more user friendly"
## Summary

Currently we have a known issue with representation docs in normal GitHub markdown, because they are adopted to be parsed with a list of plugins for a website. And the most important thing, from my point of view is hidden names of files in codesnippets. That's really confusing everyone.

### Basic example

For example, please take a look on the markdown first:
https://github.com/gatsby

[2019-02-26 21:02] kbrgl commented on #12082
Could you create a small repo to reproduce this issue and link it here? I spent some time trying to track down the bug (using devtools) and couldn't figure it out.

[2019-02-26 21:03] jonniebigodes commented on #8707
@nikoladev i've seen your comment and based on it i've added `gatsby-image` and made some changes to your code, replaced the `img` element with Gatsby's image, resulting in the following:
[code]
Running a production build with `gatsby build && gatsby serve` yelds the following:
![nicoladev_1](https://user-images.githubusercontent.com/22988955/53443770-52815a80-3a04-11e9-8018-a965797fc321.png)
![ni

[2019-02-26 21:19] lauragift21 commented on #12094
I could take a stab at this if it's still open.

[2019-02-26 21:23] goksu commented on #12086
As far as I can tell from just reading the components — `ProductDetails` component always uses the same variant value as a state variable, thus change not being reflected.

`const [variant, setVariant] = useState(variants[0]);` will get run *every time* there's a render, unlike in a class component variant value is probably set once and used directly from that same object on future renders _(i.e.

[2019-02-26 21:28] oorestisime commented on #12080
Well gatsby-transformer-sharp is generating the tracedSVG transformations in a different way this is why the `generateTracedSVG` is not available there. This can get fixed in a 3.x.x version since would be kind of a breaking change. More info on this https://github.com/gatsbyjs/gatsby/pull/11981 and https://github.com/gatsbyjs/gatsby/issues/11912

This also extends to cache (meaning it should avoi

[2019-02-26 21:31] jonniebigodes commented on #12072
@ergunpp i've picked up your issue. Let me take a look and see if i can provide a solution to your issue. Also if you don't mind while i'm checking your code i might make some submissions? Is that ok to you? You don't mind? If there are issues with rates of submissions or something in that nature, just mention it and i'll make some adjustments, Sounds good?

[2019-02-26 21:55] oorestisime commented on #12080
Ok so this in the end is more tightly related to my plugin and recent changes in sharp.

proposed solution is to
*  strip `generateTracedSVG` from the hec calculation so that transformer-sharp and bare sharp images are using the same arguments.
* update my plugin in order to strip the tag before going in the sharp processing

[2019-02-26 21:56] aarondack commented on #11747
This is a pretty systemic problem whenever adding a new image. Pretty much exclusively I have to `rm -rf .cache/` and re-install. Sometimes I also just nuke the `public/` folder. I know this is sort of already known, just figured that I'd share that I _have_ had this experience.

[2019-02-26 22:55] danoszz commented on #8560
As referenced in https://github.com/gatsbyjs/gatsby/issues/11072 the problem should be resolved in 7058a256d2dcfab91259bdf00e811375737414e7.

Only in my specific use case `@emotion/global` was used for inserting global styling in the application. Somehow the code-splitting issues still persisted in combination with the `@emotion/global` functionalities.

## Workaround fix

**TL;DR** `update Gatsby

[2019-02-26 22:58] johncmunson commented on #10392
@sourabh1031 I'm not familiar with Gatsby's internals, only the APIs that it exposes. While tackling this issue may be a good learning exercise, I don't think it would provide much practical benefit to the project. If you are new to Gatsby, I would recommend first getting familiar with using it to build some simple projects. If you like it as a tool, then you may also find it worthwhile to contrib

[2019-02-26 22:58] #10392 closed

[2019-02-26 23:09] Saifadin commented on #12086
That is not how hooks work 😅
The initializing happens only ones with `useState`. After that with each rerender it will not reset to that value.

The main problem is that the component does not rerender at all when I click on one of them, but the state changes🤔

[2019-02-27 00:49] KyleAMathews commented on #12082
It seems to scroll just fine for me. Perhaps what you're seeing is a bit of glitchness when images load? Is scrolling smoother when you scroll back up?

[2019-02-27 00:49] baobabKoodaa commented on #12008
Thanks for the explanation. I will take another stab at this!

[2019-02-27 00:52] KyleAMathews commented on #12125
We optimize the reading experience for the website. Markdown on GitHub simply can't express everything we'd like so we try to warn people away from reading there. Thanks for your thoughts!

https://github.com/gatsbyjs/gatsby/blob/master/docs/README.md

[2019-02-27 00:52] #12125 closed

[2019-02-27 01:00] jaredsilver commented on #8833
ℹ️Functionality will be added in https://github.com/gatsbyjs/gatsby/pull/12128. Thanks, @DSchau!

[2019-02-27 01:43] marcysutton commented on #7484
@V1shvesh sorry for the delay, yes we would love for you to take this one! I've added a stub for the REPL and some stuff in the CLI docs in a new PR, once it is merged you can start there: https://github.com/gatsbyjs/gatsby/pull/12132

[2019-02-27 01:55] ergunpp commented on #12082
What i mean is on other websites when you pull your finger down once it
keeps scrolling down freely and than comes slowly to halt. But for this one
it just scrolls down as much as you pull. You have to make multiple
pulldown or up movements to navigate

On 27 Feb 2019 Wed at 03:49 Kyle Mathews <notifications@github.com> wrote:

[2019-02-27 01:57] ergunpp commented on #12072
Of course no problem. Thanks a lot.

On 27 Feb 2019 Wed at 00:31 jonniebigodes <notifications@github.com> wrote:

[2019-02-27 02:14] madcatsu commented on #11123
Issue still outstanding

[2019-02-27 03:54] KyleAMathews commented on #12082
What device are you on?

[2019-02-27 03:58] KyleAMathews commented on #11123
This isn't a bug. When a service worker serves a file, it uses http 1.

See the bug Ward filed with lighthouse https://github.com/GoogleChrome/lighthouse/issues/7158

[2019-02-27 03:58] #11123 closed

[2019-02-27 04:27] chiamakaikeanyi commented on #12101
Can I make a PR to address this?

[2019-02-27 04:29] dkrasniy commented on #12082
It’s a CSS issue. Try adding the following css to your body/html

overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

[2019-02-27 04:47] ergunpp commented on #12082
I am on iphone xs max

On 27 Feb 2019 Wed at 06:54 Kyle Mathews <notifications@github.com> wrote:

[2019-02-27 05:26] goksu commented on #12086
@Saifadin I guess I wasn't very clear with my previous comment. Your variants is a nested object and that signature does not change and won't trigger re-render, I guess I wasn't clear enough when I was talking about your initial state value pointing to the first object in array, that's my bad. But thank you for explaining to me how `useState` works.

Aside from that, if you were to change the `han

[2019-02-27 05:35] takuyahara commented on #12007
While it seems hack-y I solved this problem by changing 2 files. You can try by cloning my repository.
https://github.com/takuyahara/gatsby-graphql-storybook-integration

# What I changed
## [.storybook/webpack.config.js](https://github.com/takuyahara/gatsby-graphql-storybook-integration/commit/afe67916cc8f9b9a8638fd25cbf4eecd4c9bbe20#diff-6da49b24efd584154cfb4ec759745192)
I added `babel-plugin-re

[2019-02-27 06:34] freiksenet commented on #12101
@chiamakaikeanyi Of course, we'd really appreciate that :)

[2019-02-27 07:04] universse commented on #12095
Hi. There are a few use cases I have in mind. I have a big list of items and I want to display it as a feed. The users can manipulate the list through sorting and filtering. I was testing on throttled cpu on chrome and the UI just froze. So I was thinking maybe could offload that to another thread via web worker instead. I understand that we could query presorted and prefiltered data but that mean

[2019-02-27 07:06] Saifadin commented on #12086
This is not a proper solution either. `variant` now has still the same id of the first variant. If i select another option it is supposed to Exchange the whole variant 🤔

I will have another look and will answer back 😊

[2019-02-27 07:09] GlynL opened #12135 "npm install error"
## Description
When running `npm install --save gatsby-plugin-styled-components` an npm error is received. This is on a brand new project installed used npx gatsby new 'project'

npm ERR! path C:\Users\glyn_\Documents\Coding\Projects\gatsby-portfolio\node_modules\@types\events\npm-shrinkwrap.json
npm ERR! code EPERM
npm ERR! errno -4048
npm ERR! syscall open
npm ERR! Error: EPERM: operation not pe

[2019-02-27 07:19] freiksenet commented on #12092
You can include the whole part from the root as a fragment too if you want, eg

[code]

Other options is to reuse filter fields as variables, because you can pass them to pages when you create them. Then you can pass variable `sort` and reuse it as just javascript object. After that you can reuse the selection set of the rest of the query as a fragment.

Ultimately it depends on what you are tryin

[2019-02-27 07:37] alexandrtovmach commented on #12125
@KyleAMathews Okay, thanks

[2019-02-27 07:56] #11001 closed

[2019-02-27 08:23] laurosilvacom commented on #12079
I'll like to work on a PR @KyleAMathews. Can you point me on the write direction?

[2019-02-27 08:36] #11424 closed

[2019-02-27 08:43] Saifadin commented on #12086
[code]

You were right, this might be a bug with React. The above approach works fine and fulfils my needs.

I will try to reproduce it in a codesandbox and open an Issue there, but it could be intended behaviour.

I will close this issue, sorry for wasting your time and thanks to @goksu for the solution. 👏🏽

[2019-02-27 08:43] #12086 closed

[2019-02-27 08:44] JustFly1984 commented on #12091
@freiksenet Thank you, it seems that plugin is unmaintained. It could be useful to have official version supported by v2

[2019-02-27 08:54] Saifadin commented on #12086
I tried to reproduce it in a clean environment, but it works 🤔.

https://codesandbox.io/s/zlj9vp66m

[2019-02-27 08:57] LekoArts commented on #12101
This should already be covered with the install of `build-essential`
https://www.gatsbyjs.org/docs/gatsby-on-linux/

[2019-02-27 09:02] JacobBlomgren commented on #10607
@sidharthachatterjee any updates on this? I was just about to file an issue about `Gatsby new`, where yarn will print

which is related to this. As I see it, there are two solutions to this, either remove the lock file that is not used during `Gatsby new`, or only ship the default starter with package-lock and then do `yarn import` as mentioned above. I’d be happy to help! This has also been repor

[2019-02-27 09:05] wardpeet commented on #12095
Sure you can! By default we do not support it but we use webpack under the hood which means all available plugins are available.

https://www.gatsbyjs.org/docs/add-custom-webpack-config/#add-custom-webpack-config

you can add your specific workerize code using https://www.gatsbyjs.org/docs/browser-apis/. If you need any help, just let us know!

[2019-02-27 09:19] JABedford commented on #12135
This may be really basic of me, but you are changing into the right directory after creating the new project aren't you?

`npx gatsby new 'site'`
`cd site`

I notice you have a project folder set up so I expect you have unless you have run the command within the folder and now have an extra subfolder? I only ask because I have made this mistake accidentally before and whilst I am on Mac a fairly s

[2019-02-27 09:23] FraserThompson commented on #12011
Thanks for the response. For me CHOKIDAR_USEPOLLING=1 doesn't seem to help, and as far as I know there's no soft file limit on Windows. Maybe I'll look into building it inside a Linux Docker container or something if this is a Windows problem.

Google seems to suggest https://github.com/isaacs/node-graceful-fs as a drop in replacement for fs, I might also experiment with that to see if it makes a

[2019-02-27 09:26] hussain-t commented on #6800
It even happens for `gatsby-source-wordpress`

[2019-02-27 09:35] freiksenet commented on #12101
Not everyone uses Ubuntu/Debian. It would be nice to have a list of packages required.

[2019-02-27 09:37] whs-dot-hk opened #12138 "The site is empty after going back"
## Description

Describe the issue that you're seeing.

I see nothing, the page is blank.

### Steps to reproduce
1) Visit https://www.gatsbyjs.org/showcase
2) Click on ReactJS
2) Click the purple visit site button
3) Go back

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

###

[2019-02-27 10:07] GlynL commented on #12135
haha yes, that fixed it... now I feel silly. And here I was thinking I'd found the bug in my other repo. Back to the drawing board... thanks!

[2019-02-27 10:07] #12135 closed

[2019-02-27 10:38] AlbericTrancart commented on #11268
Hey! [This issue has a PR ready and waiting for approval.](https://github.com/gatsbyjs/gatsby/pull/11273)

[2019-02-27 11:19] JacobBlomgren commented on #12138
Interesting. I can reproduce on my machine. The console shows `TypeError: Cannot read property 'json' of undefined` and this https://github.com/gatsbyjs/gatsby/blob/3971ed4d6cc788b2fdc44d3b197bfe3fe68037ab/packages/gatsby/cache-dir/public-page-renderer-prod.js#L12 seems to be the line that breaks.

[2019-02-27 11:23] eyyyyyyy opened #12141 "how can i add global header and footer?"
## Summary

## Relevant information

i try to add my header and footer component in html.js but the on enter effect did not trigger. unlike when i try to add the Header component and footer component in my pages it run correctly

### Environment (if relevant)
  System:
    OS: Linux 4.15 elementary OS 0.4.1 Loki
    CPU: (4) x64 Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz
    Shell: 4.3.48 - /bin/bash

[2019-02-27 11:54] JABedford commented on #12135
Happens to us all buddy! Glad I could help.

[2019-02-27 12:04] b0gd4n commented on #11053
I am still getting this issue - just updated all packages, nothing changed.

[2019-02-27 12:29] Developerayo opened #12142 "Image not displaying as expected"
Image not displaying as expected, image was imported as Signature and called as signature with className also as signature. The path to the email is correct but image does not seem to show up. Image is also not coming up under the Network Request Tab.
@brotzky @gatsbyexperts

[code]

[2019-02-27 13:18] tomoyukikashiro commented on #12100
@youmustfight I'm still working it now 😅 in this [branch](https://github.com/tomoyukikashiro/gatsby/tree/topics/gatsby-plugin-sitemap-options). plz wait one moment. 👍

[2019-02-27 13:31] tcerdaITBA opened #12143 "[V2] Hot reload doesn't work on pages deleted and created by onCreatePage"
## Description

Hot reload fails when updating pages deleted and created by `deletePage` and `createPage` inside `onCreatePage`. It renders correctly after `npm start` but it fails to hot reload. Updating any other type of file works correctly.

It actually updates correctly but it attempts to refresh the page after 1 second and then it fails.

The idea is to replace pages inside `src/pages` by th

[2019-02-27 13:52] tcerdaITBA opened #12145 "gatsby-plugin-offline & gatsby-plugin-styled-components css is not injected"
## Description

CSS class is missing in some components when including `gatsby-plugin-offline` during deployment. During development it works as expected.

The missing CSS corresponds to the `Tab` styled component in  `src/components/Header.jsx`. The `div` tag renders but without the corresponding class. On the first load it may render fine, but on refresh the header CSS styles are missing. Naviga

[2019-02-27 13:57] m-allanson opened #12147 "Remove broken avatar image on gatsbygram example"
## Description

The post detail page on https://gatsbygram.gatsbyjs.org is missing the avatar image. This should be updated to fix the image, or if that's not possible, remove the image completely.

### Getting started

The [Gatsbygram code can be found in the example directory of this repo](https://github.com/gatsbyjs/gatsby/tree/master/examples/gatsbygram).

The avatar is rendered in [post-detai

[2019-02-27 14:03] stefanprobst opened #12148 "Grouping query results by "null""
When grouping query results with the `group` field, we internally use `lodash`'s `groupBy` which apparently treats `null` and `"null"` (the string) the same. This is unexpected.

[code]

[2019-02-27 14:09] freiksenet commented on #12148
Amazing.

[2019-02-27 14:12] FlaviooLima commented on #11181
@helmerdavila  The @sidharthachatterjee comment make it worked on my project.
Maybe some update fixes it or there is another issue with your code?

[2019-02-27 14:13] DylanTackoor commented on #12147
I'll take a stab at fixing this today 😄

[2019-02-27 14:18] deltaskelta opened #12149 "Gatsby Image types not consistent with nullable graphql types"
## Description

I believe that the types listed in gatsby-image [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/index.d.ts#L14) are not consistent with the schema, which is a nullable field. I am using the gatsby graphql schema to automatically generate types for all my queries and the required fields in gatsby image are in fact nullable.

### Steps to reproduce

1. use

[2019-02-27 14:48] pieh commented on #4120
After long time without updates on this - their is finally PR open https://github.com/gatsbyjs/gatsby/pull/12087 (there is preview link to new page in PR description). Any help with improving initial jsdocs I wrote for helpers is very welcome.

[2019-02-27 15:08] whs-dot-hk commented on #12138
Hi, my error is like this

![screenshot from 2019-02-27 23-07-37](https://user-images.githubusercontent.com/35202375/53500055-92b80a00-3ae4-11e9-8c63-46ecf36e75b0.png)

[2019-02-27 15:21] #12102 closed

[2019-02-27 15:36] igor-velickovic commented on #11963
+1 on this issue. Any news?

[2019-02-27 16:56] baobabKoodaa commented on #12092
It seems I'm unable to get custom fragments working at all. This is the most recent error I'm seeing:

[code]

Here's what I did before seeing that error:

First I tried to import the fragment like the [example in the docs you linked](https://www.gatsbyjs.org/docs/using-fragments/). This didn't work, because my `gatsby-config.js` has several lines of this syntax:

`const fs = require('fs');`

and

[2019-02-27 16:59] jonniebigodes commented on #12142
@Developerayo can you share a bit more of information?
Namely:
1. Can you post here the output of `gatsby --info clipboard`?
2. Are you using a starter? If so which one?
3. Can you share a github repository link, that demonstrates this issue? So that we can take a closer look at it?

Feel free to provide feedback.

[2019-02-27 16:59] alandarr commented on #9899
I ran across this issue with a Joomla! admin login page. Turns out I was using the wrong login #*^$!

Chrome threw the error, but Joomla! never said that I had the login incorrect. That in itself is strange because the admin page usually reports the login error. Took me a few minutes to figure out the login issue. I didn't seem to have any issue with extensions, one being LastPass which autofills.

[2019-02-27 17:04] KyleAMathews commented on #12082
Can you see the same issue on any other Gatsby sites?

[2019-02-27 17:16] gswirrl opened #12151 "Upgrading to Gatsby 2.1 breaks multiple stylesheet output (via custom webpack config)"
I have code in `gatsby-node.js` that patches the WebPack config to output multiple css files -

[code]

Under gatsby `2.0.17` this builds two css files in `/public`, `theme-a.css` and `theme-b.css`.
Under gatsby `2.1.n` this builds one file, `styles.css`.

If I just log out the config to the console, it's the same in each...

Is this expected? If so, any ideas how I could get the old behaviour bac

[2019-02-27 17:18] baobabKoodaa commented on #12092
I've implemented infinite scroll with fallback to pagination. I'm generating the paginated pages with `createPage` calls inside `gatsby-node`. In order to make infinite scroll work efficiently, it needs access to JSON corresponding to those individual pages. However, Gatsby doesn't provide me access to that JSON, so I have to recreate it separately inside `gatsby-node`. So in summary, I'm taking s

[2019-02-27 17:27] #7737 closed

[2019-02-27 17:27] #10403 closed

[2019-02-27 17:27] #10438 closed

[2019-02-27 17:27] #10465 closed

[2019-02-27 17:27] #10990 closed

[2019-02-27 17:27] #11004 closed

[2019-02-27 17:27] #11026 closed

[2019-02-27 17:27] #11033 closed

[2019-02-27 17:27] #11092 closed

[2019-02-27 17:27] #11119 closed

[2019-02-27 17:27] #11122 closed

[2019-02-27 17:27] #11140 closed

[2019-02-27 17:46] oliviertassinari commented on #5667
Regarding Material-UI, we are taking care of the problem in https://github.com/gatsbyjs/gatsby/issues/8237#issuecomment-465337532.

[2019-02-27 17:50] krismorf commented on #12151
Hi @gswirrl see here the related PR #11800 and issue #12018

[2019-02-27 17:59] gswirrl commented on #12151
Hi @krismorf ah - understood. Is there a way I can work around it?

[2019-02-27 18:07] dantesolis commented on #7986
not stale working on it 😄

[2019-02-27 18:21] V1shvesh commented on #7484
Awesome! I believe it's merged now.

[2019-02-27 18:23] Devin-Chaves commented on #10203
Me too!

[2019-02-27 18:24] DSchau opened #12152 "Replace gatsby.app with gatsby.dev"
## Summary

We recently purchased a new top-level domain, `gatsby.dev` that we can use for our short-links.

These short links are typically used in error messages, so that we can keep them nice and concise _and_ update these links if needed in the future.

These short links are currently hosted on the `gatsby.app` domain. We can and should swap all of these for `gatsby.dev`, and then going forwar

[2019-02-27 19:54] arcanis commented on #10245
I've found an issue in `bootstrap/load-plugins/load.js` - the plugin loader uses `require.resolve` without the `paths` option, meaning that from PnP's point of view the plugin must be listed inside `gatsby`'s dependencies.

I'd recommend to slightly change the `require.resolve` call in order to use something like this:
[code]
The require call would be disambiguated and PnP would return the expecte

[2019-02-27 20:09] DSchau commented on #10245
@arcanis awesome (on all accounts!). We'll need to make sure that implementing that functionality doesn't break something unrelated, but that looks good to me.

Would you be interested in PRing anything necessary to get this functionality up and running? We could expose a `--use-pnp` option from the Gatsby CLI once this is all ready!

[2019-02-27 20:11] #12152 closed

[2019-02-27 20:31] ronaldborman opened #12154 "Command name in help output is wrong."
## Description

When I run 'npx gatsby --help' (as suggested by https://www.gatsbyjs.org/tutorial/part-zero/) the help text displays the wrong command name:

When I then install the cli globally the help text output (with or without the use of npx) changes to:

### Steps to reproduce

run 'npx gatsby --help'
run 'npm install -g gatsby-cli'
run 'gatsby --help'

### Expected result

The help text sh

[2019-02-27 20:37] baobabKoodaa opened #12155 "Support custom GraphQL fragments inside gatsby-node.js"
How can I use custom GraphQL fragments inside gatsby-node? [Here](https://github.com/gatsbyjs/gatsby/issues/12092) is more information on what I've tried so far, but it would perhaps be better if someone just provided a working example. [The example in the docs](https://www.gatsbyjs.org/docs/using-fragments/) doesn't work when applied to gatsby-node (or I'm doing something wrong).

[2019-02-27 20:40] baobabKoodaa commented on #12092
I solved my issue in a different way (I decided to pass relevant portion of results from the first GraphQL query as pageContext, instead of making a second GraphQL query).

I'm still interested in learning why I couldn't get fragments working, so I opened a new issue about it. I'm closing this one because I've bloated the issue so much that I don't think anyone will want to read through this.

[2019-02-27 20:40] #12092 closed

[2019-02-27 21:29] williamtstanley commented on #5255
I just ran into this issue today. I have duplicated my function call in both onCreatePage and createPages to handle it for now.

[2019-02-27 22:00] KyleAMathews opened #12157 "API docs should link to the code definition in github for each function"
Right now if you go to an action e.g. https://www.gatsbyjs.org/docs/actions/#createPage there's no link to the actual code definition at https://github.com/gatsbyjs/gatsby/blob/026eaaa171ba04c9c9278e00f597f61b3b09a438/packages/gatsby/src/redux/actions.js#L111

Documentation is great but sometimes you can get more clarity by looking at the code itself.

[2019-02-27 22:02] KyleAMathews opened #12158 "Create page in contribution guide that lists the files/folders for major parts of the Gatsby code base"
E.g.

- actions
- reducers
- api-runners
- build scripts
- etc.

[2019-02-27 23:19] arcanis commented on #10245
@DSchau sure, I'll open a PR once I'm done investigating. I'm currently blocked on the following error. I don't have any other error log, so I'm not sure where to look for explanation. Would you have any tip, like the location where `childImageSharp` is registered in the `File` structure?

[code]

[2019-02-27 23:29] LekoArts commented on #12155
You can use normal string interpolation:
https://github.com/LekoArts/portfolio/blob/master/gatsby-node.js#L108

[2019-02-27 23:46] arcanis commented on #10245
I think the problem was at this line - for some reason ``getNodesByType(`ImageSharp`)`` was returning an empty array. I don't understand why, but now it contains two elements, I can't reproduce the crash even after deleting the cache directory :(

[2019-02-28 00:05] jlengstorf commented on #10418
@sourabh1031 I know we'd love to have the help. 😄

Did you want to write an overview of e-commerce in Gatsby? That would be a big help.

Thank you!

[2019-02-28 00:12] HurricaneInteractive commented on #12141
Have you tried adding it in your `layout.js` file? Have a read through this page in the [docs](https://www.gatsbyjs.org/docs/layout-components/) for more information.

I am not sure how recommended it is to edit the `html.js` directly. Someone else more experienced might be able to answer that one.

[2019-02-28 00:33] HurricaneInteractive opened #12164 "WordPress Source - Flexible Content layouts ignored by graphql when not used"
## Summary
I've setup ~15 different layouts in WordPress using the Flexible Content feature in ACF. Because there are so many it means that some are not used by the content author. When gatsby pulls in the content and generates the graphql data structure, it will create the structure based on the layouts that have been used. When I set up my queries to pull in all the layouts I get an error becaus

[2019-02-28 00:39] jlengstorf commented on #9979
Glad to hear it, @fab!

@Jornve are you still seeing this issue? Or are we good to close?

[2019-02-28 01:14] t2ca commented on #12138
Im getting the same error and the blank page.

[code]

[2019-02-28 01:28] mgifford commented on #6212
Ok, so if I set up a demo site on my local.

Add the manifest & offline:
npm install --save gatsby-plugin-manifest
npm install --save gatsby-plugin-offline

Then edit gatsby-config.js

Uncomment  `'gatsby-plugin-offline',`

Then run:
npm run develop

I should be able to evaluate http://localhost:8000/ with Google's Lighthouse and have 100% for my Progressive Web App settings, right?

I'm seeing so

[2019-02-28 01:55] miguelmota commented on #8096
hot reloading is not working for me either

[2019-02-28 03:02] whs-dot-hk commented on #12138
Looks like the findpage function is null

https://github.com/gatsbyjs/gatsby/blob/3971ed4d6cc788b2fdc44d3b197bfe3fe68037ab/packages/gatsby/cache-dir/loader.js#L163

but I can't fire a debugger to confirm

How to debug a built gatsbyjs site?

[2019-02-28 04:19] senorgeno commented on #3643
Hey @LekoArts or @KyleAMathews  I can't work out from the docs or code how this is meant to work if it has been merged. I get into a circular loop of duplicate issues.

I have this query ```{
  dataJson(data: {allRestaurants: {elemMatch: {id: {eq: "132"}}}}) {
    data {
      allRestaurants {
        id
        title
      }
    }
  }
}
[code]
Any idea what I am doing wrong or is this not possibl

[2019-02-28 06:08] yogeshkotadiya commented on #12011
@FraserThompson Use `fs-extra` module since it's already added in package.json and also `fs-extra` is built on top of `graceful-fs` and it's a drop-in replacement for `fs` module.

[2019-02-28 06:22] yogeshkotadiya commented on #12138
Not just `reactjs.org` site but all the sites.

* Go to [showcase](https://gatsbyjs.org/showcase) Page
* Click on the site title.
* Press Reload button.

[2019-02-28 07:24] yogeshkotadiya commented on #12154
I can't reproduce this, working as expected.
Same as #5838
I'll take a look into this.

[2019-02-28 08:14] thebarty commented on #9348
This issue still exists with current versions

[2019-02-28 08:22] thebarty commented on #11524
I am getting this error in IE (edge mode).

It is pointing to the file `react-dom.production.min.js` in line 1 char 195183.

when clicking on the error in IE it points to this code:
[code]

[2019-02-28 08:35] pgilad commented on #6698
I actually stumbled into this case again, and it seems that only by applying @martin-css solution of adding `ignoreFileExtensions: []` I was able to solve this

[2019-02-28 08:38] Undistraction commented on #11524
@marcysutton Thanks for the update. I hadn't spotted that syntax error in your console. For us we have no error at all. The page navigation is completely broken in IE11, then on a page refresh we get the missing resources error. We've had to drop IE11 support because there is nothing to go on.

[2019-02-28 09:36] ollelauribostrom commented on #12014
@freiksenet Had a go at this in #12174 🙂

[2019-02-28 10:41] wardpeet commented on #12143
This might be why it starts failing
https://github.com/gatsbyjs/gatsby/pull/11831

[2019-02-28 12:13] gswirrl commented on #12151
Minimal demo of the issue: https://github.com/gswirrl/gatsby-multiple-stylesheet

[2019-02-28 13:09] wardpeet commented on #12145
It seems like an issue with `gatsby-plugin-styled-components`. If I comment it out everything works as expected. I'll check the plugin how they do SSR & rehydration as I have some experience with styled-components.

[2019-02-28 13:09] pieh commented on #12164
Hey, it's limitation of current graphql schema construction.

Right now what you can is to create "dummy" posts that have all possible layouts:
![screenshot 2019-02-28 at 14 07 50](https://user-images.githubusercontent.com/419821/53568452-588d4d80-3b62-11e9-813e-2d5514bdca7e.png)

And when you query for data, use filter to remove "dummy" posts from results:
![screenshot 2019-02-28 at 14 08 16](htt

[2019-02-28 13:45] JacobBlomgren commented on #12157
@KyleAMathews I can do it! Should it be a text link or the github icon link used in other places in the docs?

[2019-02-28 14:13] thefrontendwizard commented on #11778
I'll close this one due because #11786 solves this by adding a prettier config into all the starters.

[2019-02-28 14:13] #11778 closed

[2019-02-28 14:19] leworking opened #12181 "GraphQL, allFile or file queries that work in gatsby develop don't work in gatsby serve"
## EDIT
What I see is that what is not working are the queries that look for files (`allFile` and `file` queries), while they work when under `gatsby develop` they don't retrieve the content when under `gatsby build => serve`.

So what does it mean? allFile and file are sort-of forbidden queries? Or have I to modify them somethow?

## Summary

While in develop everything works, in serve the images

[2019-02-28 15:44] tcerdaITBA commented on #12143
Yes, I can confirm that is the reason. Gatsby 2.1.9 hot reload works fine but 2.1.10 fails, which is the version which corresponds to the merge #11831.

I can't exactly say why is the reason though. The page refreshes by itself and renders 404-development after the hot reload.

[2019-02-28 15:59] baobabKoodaa commented on #12155
The problem with string interpolation is that it can't be used inside page queries or static queries. I thought fragments were supposed to solve the issue of repetition (and dependencies) inside GraphQL queries?

[2019-02-28 16:12] KyleAMathews commented on #12157
@pieh might actually already have handled this in a different PR he was already working on.

[2019-02-28 16:23] fabe commented on #6212
@mgifford To test Lighthouse scores/service workers, run `npm run build && npm run serve` or test the deployed version. The `develop` version of your site will not have all the optimizations.

[2019-02-28 16:25] pieh commented on #12157
The UI design is TBD (I didn't work on this part)

For `actions` reference page:

I just added support for providing code location in https://github.com/gatsbyjs/gatsby/pull/11597/commits/c81f6e0d0e3a8df0edb7cb6c785550100f16d6f0 (it's in not yet merged PR #11597)
![screenshot 2019-02-28 at 01 53 05](https://user-images.githubusercontent.com/419821/53581330-a6fc1580-3b7d-11e9-9579-87a2563d90b5.png)

[2019-02-28 16:29] chiamakaikeanyi commented on #12101
@freiksenet, can you help review [the PR](https://github.com/gatsbyjs/gatsby/pull/12183)

[2019-02-28 16:49] jsanchez034 opened #12184 "[gatsby-plugin-feed] Api for creating multiple dynamic feeds based off of a query"
## Summary

When creating rss feeds with `gatsby-plugin-feed` it would be great to have the ability to create multiple feeds from dynamic data coming from a single GraphQL query. In other words to create numerous feeds at build time where you wouldn't know up front ( without GraphQL query data ) how many you need.

### Basic example
Bellow I'm proposing adding a new config property to a feed objec

[2019-02-28 16:52] jonniebigodes commented on #12072
@ergunpp i've done a code analysis to what was submitted in the issue and with that i'm going to break it down into smaller parts so that it's better to understand and after that the code i used that used to solve this issue:

[code]
jquery does not play nice with react, they tend to "fight" for the [DOM](https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model/Introduction) ownershi

[2019-02-28 17:08] #12040 closed

[2019-02-28 17:21] zimmi commented on #529
I just ran into this and agree with all the reasons already stated why the public folder should be cleared.

From what I read, the reasons to keep previous files around are backward compatibility with workflows that depend on this behavior and the mid-browsing-deploy issue.

I would argue that a workflow that relies on local copies on the machine of a single developer is inherently error prone: sw

[2019-02-28 17:22] yogeshkotadiya commented on #12181
Can you provide minimum reproduction repo?

[2019-02-28 17:27] #8102 closed

[2019-02-28 17:27] #10463 closed

[2019-02-28 17:27] #11137 closed

[2019-02-28 17:27] #11161 closed

[2019-02-28 17:27] #11189 closed

[2019-02-28 17:27] #11223 closed

[2019-02-28 17:27] #9945 closed

[2019-02-28 17:27] #11183 closed

[2019-02-28 17:29] m-allanson commented on #8714
Reopening as there is a related PR open for this.

[2019-02-28 17:32] jonniebigodes commented on #11130
it's being rebased and reworked

[2019-02-28 17:57] leworking commented on #12181
@yogeshkotadiya I've begun to remove everything except the necessary for a repo and it works, don't really know what's happening but as soon as I find where's the error I'll post it here

[2019-02-28 18:33] DSchau commented on #529
@zimmi could you share your workflow and _why_ you need this folder cleared?

We recently introduced a `gatsby clean` command that when invoked, will clear out the `.cache` and `public` folders.

Generally speaking, keeping the public folder around (for local builds) and adding to `.gitignore` is a good practice. It will make your local builds faster, because images and other content is _cached_ t

[2019-02-28 18:35] KyleAMathews commented on #2044
Yeah — you can do it with Apollo. See @jlengstorf's talk on this exact subject https://www.youtube.com/watch?v=wNUg1jpj9T0

If you want something more fancy where Gatsby internally swaps out the build-time graphql result for run-time i.e. makes live requests instead of loading the built ones — that's something we'll be working on in the future but no ETA just yet.

[2019-02-28 18:53] saranshkataria opened #12187 "[gatsby-plugin-google-adsense] does not exist anymore?"
## Description

https://www.gatsbyjs.org/packages/gatsby-plugin-google-adsense/ is empty, https://github.com/callicoder/gatsby-plugin-google-adsense gives a 404

[2019-02-28 18:53] Hypothesis-github opened #12188 "Persist state with useReducer hook"
As we know the new hooks are officially out and everyone is trying to figure out the future of React.
I come from a Mobx background myself and I want to switch the new useReducer and useContext hooks to take care of my state. However, I cannot carry the state through the route, There are some ways which I found in the documents that Redux state and Mobx state can be carried out, but the new hooks

[2019-02-28 19:25] jonniebigodes commented on #12181
@leworking i've picked up on your issue.
I've tried to reproduce it and breaking into smaller steps:
- Created a new Gatsby website based on a starter.
- Added the dependencies and configured them as i could, based on the information at hand.
Transforming my `gatsby-config.js` into the following:
[code]

- Copied over some images i had laying around to emulate the folder structure. Transforming it

[2019-02-28 19:37] rchrdnsh commented on #12121
hmmmm...reading through it...
is it still considered relevant, considering the posts age?
Do these concepts work well with V2?

[2019-02-28 20:01] mgifford commented on #6212
Brilliant.. with that the only thing that doesn't work is "Does not redirect HTTP traffic to HTTPS" which really is an easy enough thing to do in Apache anyways.

[2019-02-28 20:03] zimmi commented on #529
@DSchau thank you for the explanation, much appreciated. I also didn't know about `gatsby clean`, nice!

To be honest, I didn't run into any actual problems with this yet, I was just surprised by the folder growing after deleting code and running `build` again. For me it's just another thing to remember when building for production, as I have no CI system in place yet. So my workflow would be:

1.

[2019-02-28 20:11] DSchau commented on #529
@zimmi I think I'd recommend just shifting your perception on this a little bit, if you're able!

That's the thing--you don't have to remember to do this, and there's really no reason to--especially because you haven't/likely won't run into issues.

Static content is _cheap_ (you can host gigabytes of data for pennies), so a growing public folder (from old builds) is generally not a huge concern.

[2019-02-28 20:45] leworking commented on #12181
Hi @jonniebigodes, I'm still troubleshooting the issue, but I can tell that it's (apparently) nothing related to
 `graphQL` or to `gatsby-images` alone. I'm still isolating what's originating the failure, but if I remove (I think) the `ThemeContext.Provider` then it works, and this context is based on `window.localStorage`, which didn't build initially until I workarounded it with a "if it doesn't

[2019-02-28 21:01] omattman opened #12191 "gatsby build: WebpackError: X is not a constructor"
Currently building the site to move to production buy receiving this current error message:

[code]

And this is the file producing the error

[code]

How can I make it so, that the video player, Plyr, is a constructor?

[2019-02-28 21:06] laurenskling commented on #11587
Thanks for the research.
I'm not sure if misusing JSON.stringify/parse is the way to go. Plus it'll be slow and error prone.

I think the best way to handle this is to actually follow the `ObjectId`s to their relationship. This will give the best GraphQL experience as well. But i'm not sure if the pure MongoDB output will actually tell you _what_ the relationship is. I was hoping some MongoDB wiza

[2019-02-28 21:10] jonniebigodes commented on #12181
@leworking regarding one thing caught my eye. Semantic ui added. Semantic ui, if you don't adjust it correctly, starts throwing some weird errors with Gatsby that can be a bit troublesome to correct.
When i'm required to add semantic ui i usually take [this gatsby-node.js](https://github.com/pretzelhands/gatsby-starter-semantic-ui/blob/master/gatsby-node.js) configuration example and copy over the

[2019-02-28 21:10] laurenskling commented on #11736
Thanks for the detailed research.
@pieh what would be steps to take to create a new version for gatsby-transformer-xml?

[2019-02-28 21:12] jonniebigodes commented on #11736
@laurenskling i'm going to push tomorrow some changes i've done to the code i've provided. If you want to pick up from there fine by me. At least two issues are corrected.

[2019-02-28 21:17] HurricaneInteractive commented on #12164
@pieh So I'll just need to filter out the dummy pages in `gatsby-node.js` to make sure that I don't create a publically available page but the graphql queries will still have a reference to those layouts?

[2019-02-28 21:20] jonniebigodes commented on #11587
From what i know it cannot achieve that. See [here](https://docs.mongodb.com/manual/reference/method/ObjectId/). "Thinking out loud", you would have to fetch all of the documents from all collections first and then match the ObjectId_A to collection_B  field_C.
For small cases scenarios it wouldn't  be too troublesome. But when you go big and have alot of collections it could turn into a troubleso

[2019-02-28 21:22] rickymetz commented on #5826
I used flickity in my project via the library [react-flickity-component](https://github.com/theolampert/react-flickity-component)

I had some trouble getting it to build due to the ever-bothersome `Window is not defined` error #309.

I wasn't able to get it working using the methods described in the docs: https://www.gatsbyjs.org/docs/debugging-html-builds/

But I was able to get around it  and ha

[2019-02-28 21:26] laurenskling commented on #11587
Thats what I hope MongoDB and Gatsby wizards can tell us :)

[2019-02-28 21:29] leworking commented on #12181
I have the repo

https://github.com/leworking/gatsby_testing

In my hands, in serve it doesn't display the images
[code]

But, if you remove the ThemeProvider (or don't use the globalStyle) then it works
[code]

At the end then it is related to not having access to `window` during build time, but I thought I had solved it (with the code of the repo). Obviously not, any help here will be greatly ap

[2019-02-28 21:36] jonniebigodes commented on #12181
@leworking cloning as i'm typing this. Going to check it out and see if can come up with a solution to your issue? If you don't mind waiting a bit while i take a look at it? Sounds good?

[2019-02-28 21:38] zimmi commented on #529
Well, I guess it's just a philosophical difference then. I would rather have reproducible builds that only depend on the inputs than save a couple seconds / minutes on build time. I still believe that's the better default. That can always be optimized when the page grows so large that it matters, Gatsby is really fast (for me at least).

One potential issue is deleting sensitive information that w

[2019-02-28 22:31] janosh commented on #10113
@Haroenv Any reason to keep this open?

[2019-02-28 22:34] DSchau commented on #10113
@janosh @Haroenv guessing it wasn't clear this is now written!

@Haroenv if you'd like to take another look at the guide or tweak anything--more than welcome to!

For now though, am going to close this, since it has been implemented thanks to @janosh!

[2019-02-28 22:34] #10113 closed

[2019-02-28 22:36] crickford commented on #5332
Had a similar issue, found the solution in the react-router-scroll documentation: https://github.com/ytase/react-router-scroll#scrolling-elements-other-than-window
Bottom line: use `ScrollContainer` rather than `ScrollContext`.

Perhaps this could be added to the Gatsby documentation? A note or link from here might be helpful for others with this issue: https://www.gatsbyjs.org/docs/browser-apis/#

[2019-02-28 23:14] pieh commented on #12164
@HurricaneInteractive Yeah, in `gatsby-node` is one place, but also if you have any  queries for `allWordpress(Page|Post)` in any page component query or static query

[2019-02-28 23:41] HurricaneInteractive commented on #12164
Thanks you @pieh got it working now so 👍

[2019-02-28 23:41] #12164 closed

[2019-02-28 23:48] jonniebigodes commented on #12181
@leworking ok...it looks like we have a problem with the repository you've supplied.
I've cloned into my machine, installed the dependencies and issuing `gatsby develop` or `gatsby build && gatsby serve` i'm presented with the following:

[code]

Compairing both the package.json you supplied and the issue description and the one on the repository. You might have forgotten some configuration you're

[2019-02-28 23:49] KyleAMathews opened #12195 "Revert instructing people to use npx and npm scripts"
We recently started suggesting people use `npx` and `npm scripts` more which I think was a mistake.

There are some cli commands that we use constantly — `git`, `npm`, `ls`, `cd`, etc. These are all global commands that we want accessible at all times.

People often suggest using npm scripts for a few reasons:

- it ensures that you're using the locally installed version (perhaps you want to use a

[2019-02-28 23:51] DSchau commented on #12195
For extra context, and a handy diff of what changed, #11556 contains most of the changes that will be necessary here to revert.

[2019-03-01 00:56] senorgeno commented on #3643
Never mind, i ended up building a source plugin for my use case

[2019-03-01 01:04] JustFly1984 commented on #11934
@achmadk @wardpeet  where did you replaced react-dom with
@hot-loader/react-dom ?
I do not see that in my codebase, it should be somewhere inside the gatsby code

[2019-03-01 01:47] jonniebigodes commented on #11587
Did a little more research and if you want take a look at [this](https://www.gatsbyjs.org/docs/schema-gql-type/) to get you started if you want to pick up on this and make a change to the plugin.

[2019-03-01 01:50] achmadk commented on #11934
@JustFly1984 for example, I use [codebase](https://github.com/kripod/gatsby-starter-strict/tree/6c06471110b9a821871decf5772330a332894b34) from @kripod . In `package.json` file, It has `react-dom` inside `dependencies`. And then replace `react-dom` with `@hot-loader/react-dom`.

[2019-03-01 01:51] ChristopherBiscardi commented on #11456
keep

[2019-03-01 04:06] leworking commented on #12181
Hi, sorry for the delay (sleep time), I see I cleaned too much the file ... I've updated it, and I've checked now that it works (well, I've deleted node_modules and run npm install again, and it works). Sorry again :)

[2019-03-01 04:55] atomiks opened #12198 "Potential memory leak when navigating between pages"
## Description

If this is expected behavior or I'm reading the Memory tab wrong, feel free to close this  😅

What I'm seeing is when navigating between pages (even retracing steps back to an already-visited page), the JS heap size keeps growing.

### Steps to reproduce

This happens on both my website and the React site.

1. Open https://reactjs.org/
2. Open DevTools > Memory > Take Heap Snapshot

[2019-03-01 05:03] leworking commented on #12181
Ok, I see what's happening here. The code of the repo shouldn't build, it should give that error of `ThemeProvider: Please make your "theme" prop an object.`

When in develop, the "theme" prop is indeed an object. In building time, it is not. If I write this directly:

[code]

Then it works in develop, and it gives the **error in build**, which is great. The problem, then, is that with the code of

[2019-03-01 06:02] yogeshkotadiya commented on #12181
You can't put a number to get an object element.
If you put a number then that will be considered an Array, and it will become `undefined` since themes array doesn't exist.

[code]
One more thing `window` object will be `undefined` when you build gatsby site because it's a server-side rendering and only browser client have `window` Object.
Once your code will re-render in browser, `window` Object

[2019-03-01 06:08] florinpop17 opened #12199 "Setting margin-left or right on to gatsby-remark-images 'wrapperStyle' prop, is not overwriting the default margin-left"
## Description

Setting margin-left on to *gatsby-remark-images* 'wrapperStyle' prop, is not overwriting the default margin-left which is set the be `auto`.

### Steps to reproduce

Add the *gatsby-remark-images* plugin to your project and try setting the following value in gatsby-config.js:
[code]

### Expected result

It should overwrite the default `margin-left: auto`.

[2019-03-01 06:09] florinpop17 commented on #12199
I noticed [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js) on line 244 that the `options.wrapperStyle` is set before other inline css declarations.

[2019-03-01 06:09] leworking commented on #12181
Yes @yogeshkotadiya , the mistake was this, but the _problem_ was that gatsby builder wasn't complaining about it, and instead it returned errors related with `gatsby-images` that should not have been affected by this (or this is what I think).

And yes, I've discovered that we don't have access to the `window` object during build time, and it makes total sense (once you read about it)

[2019-03-01 06:24] yogeshkotadiya commented on #12181
Replace your Image Query with this
[code]

[2019-03-01 09:54] gswirrl commented on #12151
FIXED?

Problem is the new
 https://github.com/gatsbyjs/gatsby/blob/0a3705f5a0e0d2ac417cd2db012e92c66c16f8c3/packages/gatsby/src/utils/webpack.config.js#L399

My hacky solution (in `gatsby-node.js`) is to just stomp `config.optimization.splitChunks.cacheGroups.styles`

[code]

Seems to work? May have unintended drawbacks! :-)

[2019-03-01 10:10] calcsam opened #12205 "Add LivingDocs magazine example to starter library"
There's a great new magazine code example -- we should add this to the starter library!

Code:
https://github.com/livingdocsIO/gatsby-magazine-example

Site:
https://magazine-example.livingdocs.io/politics-4942

[2019-03-01 10:30] #11933 closed

[2019-03-01 10:48] JABedford commented on #12195
I'm happy to sweep the tutorial if anyone hasn't started already.

[2019-03-01 11:27] jedrichards commented on #10452
Another option is to use `@babel/register` at the top of the file you want to import TS into:

[code]

[2019-03-01 12:21] janosh opened #12209 "Docs: add guide on how to enable comments"
[Gatsby offers a number of great guides](https://www.gatsbyjs.org/docs/adding-website-functionality) on how to add various kinds of functionality such as search, analytics, forms, etc. One feature that is extremely common for blogs but not yet covered is how to enable comments.

There's a [discussion on this topic](https://spectrum.chat/gatsby-js/general/whats-the-best-way-to-make-commenting-syste

[2019-03-01 13:04] antware commented on #11589
OK to report back hot reloading only works in my newly installed Vivaldi browser (which I only heard about today. It does not reload in any of the following - Chrome, Firefox or Edge in Windows.

[2019-03-01 13:07] cbetta opened #12210 "Dev server started before all nodes are created"
## Description

I am fetching some remote files and then parsing their content. I am fetching the remote files using `sourceNodes` and  `createRemoteFileNode` from `gatsby-source-filesystem`. All of this works fine.

Where things go wrong is where I then listen to `onCreateNode` to extract content from these fetched files. It seems that the development server starts before all `createNode` calls a

[2019-03-01 13:07] antware commented on #11589
Vivaldi an offshoot of Opera browser apparently.

[2019-03-01 13:39] dotlouis opened #12214 "Incorrect/Random warning about GraphQL query in non-page component"
## Description

Hello,
We're encountering an issue in which our Gatsby builds (`develop` and `build` alike) are throwing warnings irregularly about GraphQL queries in non-page components.
This should not happen because the query in non-page component is actually a page component in a `template/` directory which are then instanciated in _gatsby-node.js_.
Besides, if the warning is thrown, the query

[2019-03-01 13:55] thomasryu commented on #11507
@DSchau sorry for the delay. I've recently updated Gatsby in order to use `useStaticQuery`.

**Before** the update, I was already using the standard `StaticQuery` to load images into my components, and my jest tests (simple render tests) and Storybook stories were working fine.

**After** the update, it seems Gatsby is unable to remove GraphQL queries inside components after the update, the compla

[2019-03-01 14:09] asilgag opened #12216 "GraphQL queries are executed even if not using GraphQL"
## Description

I am creating 10k pages from a set of 10k json files, and I'm doing it without using GraphQL at any moment. I just read their contents from the filesystem and call `createPage` passing the JSON data in the context.

I'm not using any GraphQL query in my project, but when I run `gatsby build`, I see the following line in the logs:

`success run graphql queries — 5.223 s — 10000/1000

[2019-03-01 14:24] universse commented on #12095
Ok got it. Thanks a lot!

[2019-03-01 14:24] #12095 closed

[2019-03-01 14:26] universse commented on #12188
You can investigate using gatsby-plugin-layout (https://www.gatsbyjs.org/packages/gatsby-plugin-layout/) to persist state across route.

[2019-03-01 14:33] universse commented on #12188
For example
[code]

Then in your component
[code]

[2019-03-01 14:36] jonniebigodes commented on #12181
like i mentioned before it's a bubbling up issue. The problem comes from below and it rises through the hierarchy of objects till the parent object.

[2019-03-01 14:42] jonniebigodes commented on #12210
@cbetta looking at your code it looks like you're missing something. You should return something, namely a promise. More on that [here](https://www.gatsbyjs.org/docs/node-apis/)

[2019-03-01 14:47] erikhoj opened #12217 "[gatsby-image] Image resolution too low if image overflows page"
## Summary
If a gatsby-image overflows the page, firefox will pick a src with a lower resolution. Like so:

![Illustration of the issue in Firefox](https://i.imgur.com/a7RyQGX.png)

Does anyone know how to solve this issue?

## Relevant information
It seems to only happen in Firefox. In Chrome, it picks the following size:

![What happens in Chrome](https://i.imgur.com/8hqyiP2.png)

### Environmen

[2019-03-01 14:50] cbetta commented on #12210
@jonniebigodes not quite, the async is just there because otherwise the `await` won't work.

I figured out the real issue though: I wasn't waiting for `createRemoteFileNode` to complete. I wrapped those into a nice await and returned a promise and now it all works fine. Closing this issue.

[2019-03-01 14:50] #12210 closed

[2019-03-01 15:07] wardpeet commented on #4337
I've setup this repo :)
https://github.com/wardpeet/gatsby-plugin-static-site

unsure if this works for your use cases.
For now you need to do

[code]

add gatsby-plugin-static-site to your gatsby-config.js

Let me know if this is ok for your use case, I have no intention to actually support it so i'm happy to transfer it :smile:

[2019-03-01 15:09] patricknick opened #12219 "[gatsby-source-filesystem] Broken Basic Auth on createRemoteFileNode"
## Description

Basic auth headers seem not to be set correctly anymore in the latest version. Instead in the request header only a `"auth":"some_user:some_pass"` are set without proper encoding.

The broken change seems to be introduced here: https://github.com/gatsbyjs/gatsby/commit/a358239be945485388601159e7f18cf4a5c17cc8

### Steps to reproduce

It's a bit hard to test, I had to intercept my r

[2019-03-01 15:16] ryancharris commented on #12195
@JABedford Did you jump on this already? Was going to make this my first contribution, but don't want to duplicate work 🙏

[2019-03-01 15:19] DSchau commented on #12195
@JABedford @ryancharris thanks to both of you!

If it makes sense--perhaps @JABedford could focus on the tutorial, and then @ryancharris perhaps you could focus on the other changes that #11556 introduced?

That way you won't double up on work.

[2019-03-01 15:20] ryancharris commented on #12195
@JABedford @DSchau Works for me!

[2019-03-01 15:50] JABedford commented on #12195
Yes that sounds good to me too @DSchau and @ryancharris 👍

[2019-03-01 16:58] samscarsella opened #12222 "AWS Amplify build fails"
## Description

Similar to the issues here involving Netlify, attempting to build on AWS Amplify throws similar errors and build fails.

### Steps to reproduce

Build started with https://github.com/gatsbyjs/gatsby-starter-default
AWS setup follows this tutorial https://www.gatsbyjs.org/blog/2018-08-24-gatsby-aws-hosting/.

**gatsby-config.js**: https://pastebin.com/t6C8L1S9
**AWS logs**: https://

[2019-03-01 17:27] #6961 closed

[2019-03-01 17:27] #7013 closed

[2019-03-01 17:27] #7642 closed

[2019-03-01 17:27] #8335 closed

[2019-03-01 17:27] #9190 closed

[2019-03-01 17:27] #11251 closed

[2019-03-01 17:27] #11276 closed

[2019-03-01 17:27] #11370 closed

[2019-03-01 17:35] leworking commented on #12181
Then that's it. Still, isn't the building process failing here? Since it shouldn't compile (?)
Anyway, to me we can close the ticket, and thanks a lot both of you for your time

[2019-03-01 17:44] dgutride commented on #11650
Replying to keep this open

[2019-03-01 18:35] jonniebigodes commented on #12181
@leworking closing this issue! Feel free to open a new one, should new issues arise. And no need to thank, glad i could help even if a little.

[2019-03-01 18:35] #12181 closed

[2019-03-01 18:54] jeffrafter opened #12225 "gatsby develop can only serve 5 pages at a time"
## Description

When running `gatsby develop` everything works perfectly and fast for the first 5 pages I open (in multiple tabs). Subsequent pages opened in new tabs hang indefinitely. When I close one of the previously opened tabs the last pages load immediately. I've tried to see if this is related to similar issues including (https://github.com/gatsbyjs/gatsby/issues/12143, https://github.com/

[2019-03-01 18:54] bjfresh opened #12226 "Layout styles partially loaded when deploying to Netlify"
## Description

I'm having an issue where Layout styles are only partially loading when deploying to Netlify, while CSS modules are loading fine. The deploy itself is completing without error. By partially loading, I mean I have a core SASS file with custom properties and breakpoints defined, where I'm also importing a small number of SASS files which apply styles to third-party components where I

[2019-03-01 19:53] ijones16 opened #12227 "[RFC] gatsby-plugin-manifest query for site data"
## Summary

Add a `query` option for the plugin to query `site.metaData` instead of passing `options`.

Then, `onPostBootstrap`, where can, if a query is present, query site data and set the manifest up that way.

I think [`gatsby-plugin-feed`](https://github.com/gatsbyjs/gatsby/tree/51be9e633d247e5948681073cb290d7192b7e66a/packages/gatsby-plugin-feed) is a good example of this.

### Basic example

[2019-03-01 20:39] anthonytranDev opened #12229 "Potential Node Mismatch: Any reason why Dockerfile is using node v8.x.x, whereas package.json is node v6.11.5?"
## Summary
Came across the 2 versions here, wanted to know the reason for using mismatched versions of node.

### package.json
![screenshot 2019-03-01 at 20 33 58](https://user-images.githubusercontent.com/26009168/53664848-ac329080-3c61-11e9-97bc-ff83201ef238.png)

### Dockerfile
![screenshot 2019-03-01 at 20 35 19](https://user-images.githubusercontent.com/26009168/53664916-e6039700-3c61-11e9-87

[2019-03-01 21:17] AleC77 commented on #3643
Can you provide a link for the source plugin? I have the same problem. Thank you

[2019-03-01 21:20] tcerdaITBA commented on #12143
I found a way around it that is to only include the `pages/recipes` directory in the `gatsby-source-filesystem` plugin, which is the only directory I actually need to read files from. Therefore the `index.jsx` and every other page which is deleted and recreated for each language due to translation is excluded from the filesystem plugin.

### Gatsby config

#### Before
[code]

#### Now
[code]

[2019-03-01 21:24] senorgeno commented on #3643
@AleC77 it is currently part of my private repository. It works for my use case but i think it would need more work for it be useful to others.

[2019-03-01 21:26] shannonbux opened #12230 "[docs] Reorganize plugins section"
## Summary

I want to split the current "plugins" category in the docs into two categories and rename a number of docs as well as create some new docs. Thought of this idea through interviewing plugin authors and also while working on #12228, which implements a very small number of these proposed changes.

### Basic example

Here are what the current plugin docs look like:
<img width="270" alt="sc

[2019-03-01 21:39] AleC77 commented on #3643
Can you send me a short piece of code of that? I am becoming crazy to find a solution. It looks it is impossible with graphql filter the content of json file for me

[2019-03-01 22:15] dvonlehman commented on #11599
This was resolved by #11637

[2019-03-01 22:15] #11599 closed

[2019-03-01 22:49] bradleyg commented on #11243
+1

[2019-03-01 22:56] TWry opened #12233 "[gatsby-plugin-manifest] Configurable name for icons folder?"
I use gatsby-plugin-manifest in my project to generate icons. When serving it using a popular hosting service, I'm getting 404 errors for all of the icons, however. I found that the `icons` folder is aliased to the apache icons which causes the files not to be found. Since it's a shared environment, it is impossible to change the apache configuration unfortunately.

Is it possible to configure the

[2019-03-01 22:58] elevee commented on #6492
Thank you @Zurc. That was holding my deploy up as well. It looks like it's building the files just fine in development and on a gatsby build locally, but removing that leading '/' cleared it all up.

[2019-03-01 23:04] spacenate opened #12234 "gatsbyjs.org documentation Discord link is broken"
## Description

The Discord link in the gatsbyjs.org tutorial header navigation is broken.

### Steps to reproduce

Go to gatsbyjs.org, click Docs, then click the Discord icon in the header.

### Expected result

The link should work.

### Actual result

The link did not work (unable to connect to server at gatsby.dev)

### Environment

The Internet.

[2019-03-02 02:46] KyleAMathews commented on #12229
Node 6 is just the minimum version we support. We actually suggest using node 10 now (the latest stable release) so the Dockerfile could be updated now.

[2019-03-02 02:46] #12229 closed

[2019-03-02 02:46] KyleAMathews commented on #12229
And yeah, newer versions of node are faster, have more features, have fewer bugs, etc

[2019-03-02 02:50] KyleAMathews commented on #12195
Something else I noticed is that @jlengstorf needs to reshoot his video on https://www.gatsbyjs.org/docs/quick-start

[2019-03-02 03:29] ShawnBaek opened #12237 "[gatsby-source-wordpress] Can't fetch the featured_media field"
## Description
After upgrade to the latest GatsbyJS, I can't fetch some wordpress.com REST API fields.

`author` `featured_media` is not working.

## "gatsby-source-wordpress": "^3.0.2"

I rechecked 3.0.2. It has no problem.
The problem has only happened in the latest version.

[code]

### Steps to reproduce

I checked **Wordpress.com** `REST API` using Postman.

The `featured_media` field and `au

[2019-03-02 03:46] davemeyer opened #12238 "gatsby-plugin-offline custom serviceworker"
## Summary
custom serviceworker with gatsby-plugin-offline doesn't seem to work

## Relevant information

according to https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/#using-a-custom-service-worker-in-gatsby

i can use my own serviceworker in just a couple of steps. i created a simple worker in `static/sw.js` and added `exports.registerServiceWorker = () => true;` to `gatsb

[2019-03-02 07:49] ergunpp commented on #12072
Hi,
Thank you for putting so much effort into this incredibly detailed analysis.
As I am travelling right now i will not have the chance to rewrite it until
tuesday. If questions arise I will write to you.
Thanks again and be well.

On 28 Feb 2019 Thu at 17:53 jonniebigodes <notifications@github.com> wrote:

[2019-03-02 08:09] asilgag commented on #11934
I reproduce this warning with gatsby-starter-default.

So, what should we do?

Wait for "react fire" being released? Or replace `react-dom` with `@hot-loader/react-dom`?

[2019-03-02 09:53] Alfrex92 commented on #8205
I had the same problem, I fixed by manually changing the imports.

Before:
`import Features from "../components/features/features";
`
After:
`import Features from "../components/features/Features";
`

Credits to[ talves ](https://stackoverflow.com/questions/53117333/deploying-gatsby-v2-to-netlify-errors)on StackOverFlow

[2019-03-02 10:37] kuldeepkeshwar commented on #7230
I am still facing it

[code]
[code]

[2019-03-02 10:43] V1shvesh commented on #10445
Hey @shannonbux! Apologies for not replying sooner.

I was going through the docs and I'd like to clarify a doubt.

Since Gatsby generates static sites, we can't have dynamically sourced content. So I just wanted to make sure that by "async data", do we really mean data sourced from APIs at build time? Or handling frequently changing data at runtime ([first point under Other Considerations](https:

[2019-03-02 11:14] V1shvesh commented on #7484
Hey @kkemple. Feeling a lil embarassed to admit that I don't have a clue where to start.

I found the [list of REPL commands](https://www.gatsbyjs.org/docs/gatsby-cli/#repl), but I am unable to understand the motivation for such a feature. Please help.

[2019-03-02 11:48] OrKoN commented on #11081
Beware of this issue as well https://github.com/swagger-api/swagger-ui/issues/4745

[2019-03-02 12:54] Hypothesis-github commented on #12188
You are a life saver, mad props.

[2019-03-02 13:08] j-651 commented on #12040
@deeheber Did you hear anything back from Netlify?  I'm experiencing the same issue.

[2019-03-02 13:35] Alfrex92 commented on #9580
thanks @anicolaides it is working :D

[2019-03-02 14:53] deeheber commented on #12040
They said they thought it was the service worker. I just gave up bc I'd like a reliable form anyway.

[2019-03-02 15:44] lannonbr commented on #12234
@spacenate can you possibly try again? The link is https://gatsby.dev/discord for me and it resolves to the invite link for the discord.

[2019-03-02 16:57] ShawnBaek commented on #3228
Same problem...

[2019-03-02 17:01] universse commented on #11738
Seems like the issue is fixed now. Thanks!

[2019-03-02 17:27] #11197 closed

[2019-03-02 17:56] #12188 closed

[2019-03-02 18:10] loconluis commented on #12075
Same issue. Im using Python 2.7.15

[2019-03-02 18:11] loconluis opened #12241 "npx gatsby new has a problem with Sharp dependencie"
## Description

I can not create a new Gatsby project with npx

### Steps to reproduce

npx gatsby new <name>

### Expected result

A gatsby boilerplate to develop

### Actual result
[code]
### Environment
[code]

 Others
  Python 2.7.15

[2019-03-02 18:39] Undistraction commented on #5995
@DylanVann @ronanlevesque I know this is an old issue, but did you come up with a good solution? I'm facing the same problem - I'm using [rehype-react] to map custom html tags in Mardown to react components, which is creating a bottlenecked file with imports for all possible components, meaning they all end up in the same chunk.

[2019-03-02 19:03] KyleAMathews commented on #11982
We could also use something like https://github.com/gaearon/react-side-effect for the `linked-pages.json` — how it works is when a page is rendered each time a `<Link>` component renders, it passes upwards its pathname which can be collected once the page finishes.

[2019-03-02 22:32] JacobBlomgren commented on #12138
@whs-dot-hk Do you want to take a stab at this? Otherwise I can try.

[2019-03-02 22:56] LaRuaNa commented on #12138
@JacobBlomgren  I'd also like to give that one a try if you are not already on it :]

[2019-03-02 23:08] JustFly1984 opened #12246 "gatsby typescript production build error on Building static HTML for pages, which does finish build successfully!"
I'm having this issue for 3 days already, tried everything

[code]

package.json:
[code]

tsconfig.json
[code]

I need an advise how to debug.

[2019-03-03 00:23] Angel-SG opened #12248 "gatsby plugin sass stopped compiling"
## Description

I'm building a site with Gatsby and I originally used the hello-world starter pack. Everything worked perfect until without apparent reason the plugins sass stopped working. If I'm not importing the global.scss to my index.js then everything works as expected. Anyone can help please?

### Steps to reproduce

This is the error on my terminal:

error  in ./src/styles/global.scss

Mod

[2019-03-03 00:55] sylvhama commented on #10586
@arnriu Sorry I am re-opening this because I've found something new:

My problem is: my activeClassName does not seem to work every times.
Important detail: My navigation bar is rendered via `wrapPageElement` in gatsby-browser and gatsby-ssr because I don't want it to be unmounted at each route change because it has CSS transitions.

- On very first load, everything looks good
- Then Service Worke

[2019-03-03 01:27] KyleAMathews opened #12249 "Pages created by "stateful" plugins can get deleted (e.g. those in src/pages)"
Something caused (exposed?) by https://github.com/gatsbyjs/gatsby/pull/11831

[2019-03-03 01:28] KyleAMathews commented on #12249
https://github.com/gatsbyjs/gatsby/blob/057f1ceeb8767cdfd4ad03dc92e951e32c8945ef/packages/gatsby/src/bootstrap/page-hot-reloader.js#L61-L70

[2019-03-03 01:39] JGallardo commented on #2212
for anyone doing a google search and ends up here, your answer may be at
https://www.gatsbyjs.org/packages/gatsby-transformer-remark/

[2019-03-03 02:16] dsebastien commented on #10890
@thomkrupa @mattburrowsmonzo, thanks for sharing!
Your solution does help, but I'm still having issues with gatsby-image that generates inline styles.

When I use `gatsby develop` it works fine (with CSP enabled), but it fails with `gatsby build`

For now I'll have to keep unsafe-inline there :(

[2019-03-03 02:23] whs-dot-hk commented on #12138
@JacobBlomgren You can

[2019-03-03 02:33] lednhatkhanh commented on #4459
Hello, any updates on this.

[2019-03-03 02:56] #8270 closed

[2019-03-03 02:57] dsebastien commented on #10890
By the way, at the moment I'm using gatsby-plugin-netlify (https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/) to add security-related headers and it would be great to be able copy the CSP generated by your plugin to the "_headers" file generated by gatsby-plugin-netlify.

I'm trying to do it now by parsing the generated "public/index.html", but I'm guessing that there could be an easier sol

[2019-03-03 03:06] #11591 closed

[2019-03-03 04:35] lannonbr commented on #6274
This I believe was resolved in #11227. Reopen this if not

[2019-03-03 04:35] #6274 closed

[2019-03-03 07:04] KyleAMathews opened #12254 "If gatsby-image already has an item in cache, don't show the placeholder"
You can see this happening on this blog post. Click to it and back several times. The blurred up base64 image is shown every time.

https://www.gatsbyjs.org/blog/2019-03-01-localization-with-gatsby-and-sanity/

[2019-03-03 07:33] phenax opened #12255 "New lines disappear from code-blocks using gatsby-remark-prismjs"
## Description
I am using gatsby-mdx with gatsby-remark-prismjs. The syntax highlighting works this way but for some reason, the entire code appears in one line. Im not entirely sure if this issue should be a part of this repo or the gatsby-mdx repo.

What I wrote
![screenshot from 2019-03-03 12-56-23](https://user-images.githubusercontent.com/11407672/53692357-56bac880-3db4-11e9-87b1-2d9ac0b4a507

[2019-03-03 08:43] #12248 closed

[2019-03-03 09:53] LaRuaNa commented on #12205
On it :]

[2019-03-03 11:31] danechitoaie opened #12258 "Is there any way to create a dynamic "prefix" for the pages?"
I'd like to handle the localization by having the locale id as prefix to all my pages.
So something like `/en/contact-us`, `/fr/contactez-nous`, etc.

Is this possible?

[2019-03-03 12:13] reimertz commented on #1989
I fixed this by applying the following diff

[code]

[2019-03-03 12:59] ryancharris commented on #12234
@spacenate @lannonbr Just tried myself and the link seems to work properly. Link goes to `https://gatsby.dev/discord` as expected.

[2019-03-03 14:33] anthonytranDev commented on #12229
Thanks @KyleAMathews I assumed that would the case

[2019-03-03 16:13] anthonytranDev commented on #12007
Workaround Successful
===
Cheers @takuyahara !!!

I want to confirm that this **workaround**
- **Works for my circumstance** - where I imported images via `StaticQueries` and `graphql` component and methods from the `gatsby`module. Not certaub if it works for other aspects, as I have not tested for those conditions
- **Not a workaround is not Hacky** - similar additions required to alter babel's t

[2019-03-03 16:13] anthonytranDev commented on #12007
Request to close this issue ASAP

[2019-03-03 17:27] #10659 closed

[2019-03-03 17:27] #10795 closed

[2019-03-03 17:27] #11175 closed

[2019-03-03 17:27] #11421 closed

[2019-03-03 17:33] lyyourc commented on #12027
Duplicate of https://github.com/gatsbyjs/gatsby/issues/11494

[2019-03-03 17:45] Jessidhia commented on #11934
That is completely unrelated to "react fire" and the emoji is confusing.

A workaround that can be done locally is to install `@hot-loader/react-dom` as a `devDependency` and add this hook to `gatsby-node.js`:

[code]

[2019-03-03 17:54] LittleHamster commented on #11179
@TylerBarnes any recent updates about the process of your plugin?

[2019-03-03 18:23] TylerBarnes commented on #11179
@LittleHamster I've been too busy lately unfortunately. It shouldn't be too much work to finish it off once I get a moment to work on it.

[2019-03-03 20:06] senorgeno commented on #3643
@AleC77 have a look at what this module does with create node - https://github.com/GraphCMS/gatsby-source-graphcms/blob/master/src/util.js and then look at this tutorial - https://www.gatsbyjs.org/docs/source-plugin-tutorial/

You basically need to take the JSON, loop over it and create a gatsby node.

[code]

[2019-03-03 20:19] anonimoconiglio commented on #12073
I created a demo on github if you want to take a look (now all the config resides on springhero.js component): https://github.com/anonimoconiglio/gatsby-for-debugging

Thanks for the help.
cc/ @t2ca

[2019-03-03 20:30] sylvhama commented on #10586
Work around: I've update the live version, I don't display my Nav bar if the path is `offline-plugin-app-shell-fallback`. That's a bit dirty and you can see the content jumping because the Nav will pop :/

[2019-03-03 21:03] Moocar commented on #11184
@stefanprobst Nice work adding `$elemMatch`. And argh, you're right about linked fields. One possible fix would be to have the resolver return the full object, but at JSON serialization time, we save the linked ID instead of the full object. And then on deserialization, we do the opposite. But this sounds pretty messy.

[2019-03-03 21:10] Moocar commented on #11982
@KyleAMathews nice, we'd still have the back references problem, but `react-side-effect` would definitely be a more reliable way of tracking the page linking in the first place.

[2019-03-03 22:32] plhnk commented on #12205
PR submitted #12267

[2019-03-03 22:33] plhnk commented on #12205
ah shoot...I opened this last night and didn't refresh the tab before submitting the PR 😭

[2019-03-03 22:43] SammyIsra commented on #8238
Does this solution work with yarn alone? I use npm instead, but I'm receiving the same error with the solution listed.

[2019-03-03 22:47] #12007 closed

[2019-03-03 22:52] gvocale opened #12268 "CSS Modules not working with bracket notation (eg. `style['class-name']`)"
Currently writing CSS classes with dashes by using the bracket notation (eg. `style['class-name']`) doesn't seem to work in Gatsby. The CSS modules page says bracket notation should work https://github.com/css-modules/css-modules#naming.

Is it intended behavior in Gatsby to not support dashed classes in bracket notation?

The use case is: I am moving many components using SUIT classes to Gatsby.

[2019-03-03 23:27] steelbridge-io commented on #11730
I also had trouble with this. I used NVM and was able move up to 10.15.2 and that resolved the issue.

[2019-03-03 23:30] t2ca commented on #12268
This should help https://github.com/gatsbyjs/gatsby/issues/10852

[2019-03-04 01:07] Siregar opened #12270 "docs: js-search example not working"
👋
When I try the **adding search with js-search** (https://www.gatsbyjs.org/docs/adding-search-with-js-search/) tutorial, I get the following error:

*TypeError: search.search is not a function*
`const queryResult = search.search(e.target.value)`

Does anyone know how to solve it? I just did copy/paste the code.

Thanks for your help!

[2019-03-04 01:43] jonniebigodes commented on #12270
I've written the documentation in question and with probably a little more information i can help solving your issue.

[2019-03-04 02:10] c0d3d commented on #6654
@twhite96 I just ran into the issue and what worked for me was removing temporary files that I still had open (from emacs), not sure if that will help you or not, but it allowed my build to move forward.

[2019-03-04 05:31] deadcoder0904 opened #12271 "Babel Plugin Styled Components must be a dev dependency?"
When you visit https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/, I think `babel-plugin-styled-components` must be a dev dependency, not sure tho?

Right now it's

[code]

I think it must be changed to

[code]

Correct?

[2019-03-04 05:51] KyleAMathews commented on #12271
Some dependencies that other tools consider dev should be normal dependencies with Gatsby as e.g. on a CI server, often dev dependencies won't be installed which will break your gatsby build.

[2019-03-04 05:51] #12271 closed

[2019-03-04 06:33] freiksenet commented on #11536
Fixed in latest relay, should be tested and used.

[2019-03-04 06:49] freiksenet opened #12272 "[bug] ☂️ umbrella issue for schema customization issues"
This is a meta issue for all the issues with 2.2.0, that were introduced by the schema refactoring.

# What?

See the [blog post](https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/) for the details about why we did the refactoring and what's it all about.

See the [release blog post](https://www.gatsbyjs.org/blog/2019-03-18-releasing-new-schema-customization/) for release notes and

[2019-03-04 06:55] wmitsuda commented on #2467
I've found issues when generating sitemaps using the solution @satazor pointed out. It would be nice to have a "native" solution in gatsby that works out-of-box with any plugin.

My use case is trying to make a gatsby website available in IPFS.

[2019-03-04 07:02] sidharthachatterjee commented on #12268
Hey @gvocale

From the documentation at https://www.gatsbyjs.org/docs/component-css/

[2019-03-04 07:19] #11727 closed

[2019-03-04 07:59] sidharthachatterjee commented on #12234
https://gatsby.dev/discord works for me as well

Closing this for now but please feel free to reopen if you're still seeing this @spacenate

[2019-03-04 07:59] #12234 closed

[2019-03-04 08:08] deadcoder0904 commented on #12271
Gotcha!

This is a naive example but suppose if many such dependencies are installed then won't it increase the build size?

Which dependencies are supposed to be normal vs dev? How would I differentiate?

[2019-03-04 08:13] #12205 closed

[2019-03-04 08:15] LaRuaNa commented on #12205
Ehm.. Ok

[2019-03-04 08:16] sidharthachatterjee commented on #12209
@janosh This seems like a great idea! Thank you for the detailed issue.

[2019-03-04 08:20] sidharthachatterjee commented on #12191
Hey @omattman

Can you try initialising the new Plyr in `componentDidMount` instead of `render`? Looks like it's failing during build because Plyr expects a browser environment.

[2019-03-04 08:25] sidharthachatterjee commented on #12187
Looks like it is still on npm but the repository was taken down or made private by @callicoder?

[2019-03-04 08:51] apmsooner commented on #11696
@pieh,
I went a slightly different route but I've been able to make it work without any errors. Not sure its the best way as I'm primarily a php coder but I'd like to get your feedback.

Structure for gatsby-config.js

`resolve: `gatsby-source-drupal`,
      options: {
        baseUrl: `http://mysite.com/`,
        apiBase: `jsonapi`,
        filters: {
          filter: {
            type: `foods

[2019-03-04 08:57] apmsooner commented on #11696
Sorry, my paste into markdown is not too legible. The main change to gatsby-node.js is:

[code]

Again i don't know if this is the optimal way of doing it but it works like a charm and filters exactly like i needed to. And this way, i can combine various other filters on other node types.

[2019-03-04 09:49] javiersuzuki commented on #12099
Thanks so much @freiksenet!!! Finally got multiple page templates working 🎉

[2019-03-04 10:07] sidharthachatterjee commented on #12205
Sorry about that @LaRuaNa

Would love to see more contributions from you in the future!

[2019-03-04 10:58] nextlevelshit opened #12278 "Scoping folder structure in GraphQL Queries"
## Summary

The plan is to enrich all nodes with a certain parameter, namely its parent folder. For better understanding, I've implemented all important parts of my code so far. At the end I will explain my main problem in more detail.

**Folder structure:**

    work
    ├── drawing
    │   ├── drawing-1
    │   │   ├── image.1.jpg
    │   │   ├── image.2.jpg
    │   │   ├── image.3.jpg
    │   │

[2019-03-04 11:04] hesamkaveh opened #12279 "gatsbyjs 404page problem"
I added src/pages/404.js
It is loading correctly on developing mode, but on build version, css not loading ( [see my 404 page](https://hesamkaveh.com/pppppppp/ ) )

[2019-03-04 11:08] dja commented on #9207
This is definitely still an issue, and we’ve experienced SEO penalties as well. Additionally, turning off Netlify’s pretty URLs feature seems to result in errors stating “Missing resources for /“ or “Missing resources for /slash/“. We’ve tried solutions recommended here: https://github.com/gatsbyjs/gatsby/issues/11524 but haven’t had any luck.

[2019-03-04 12:10] antoinerousseau opened #12280 "[gatsby-source-filesystem] why createRemoteFileNode failing still resolves the promise?"
## Summary

When `createRemoteFileNode` fails to download the remote file (e.g. 404), it still resolves with an empty fileNode, and writes `Failed to process remote content {url}` to the console:

https://github.com/gatsbyjs/gatsby/blob/a358239be945485388601159e7f18cf4a5c17cc8/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L126
https://github.com/gatsbyjs/gatsby/blob/a358239be945

[2019-03-04 13:07] ArpitaSrivas commented on #7117
Hi,

Any updates on this? Are we going to have the support of page variants in future?

[2019-03-04 13:43] AleC77 commented on #3643
Thank you so much for the help @senorgeno

[2019-03-04 14:10] JhonathaNunes opened #12283 "Styled Components Problem"
## Description

I have an issue while using styled-components with gatsby. I already use the styled-components plugin. It works, but if I reload the page the style stops working. When in develop it works normal, when built this happens, maybe it is some problem with path.

### Steps to reproduce

Use styled component with gatsby, install the plugin and in a different page from index reload the pag

[2019-03-04 14:22] lannonbr commented on #12283
@JhonathaNunes Is there a possibility that you could link the code for this or possibly create a reproducible test case to resolve this. Here's the docs on such: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

[2019-03-04 14:28] thomkrupa commented on #10890
hey @dsebastien, thanks for your feedback! Feel free to create an issue(s) -> https://github.com/bejamas/gatsby-plugin-csp/issues so we can track the progress on them.
Gatsby-image issue is something I will definitely look into.

[2019-03-04 14:51] freiksenet commented on #12272
# Known Issues

* Adding Node interface type has undefined consequences
* Multiple calls to createTypes for same type results in breakage

[2019-03-04 15:09] nextlevelshit commented on #2575
To be honest, this is not super clear for me. Could someone provide an example, please?

[2019-03-04 15:38] sondrele opened #12286 "ValidationError when exporting a function from gatsby-config.js"
## Description

I'm testing out `themes` with gatsby, and from [gatsby-theme-examples](https://github.com/ChristopherBiscardi/gatsby-theme-examples/blob/master/themes/gatsby-theme-blog/gatsby-config.js#L3) I can see that it's also possible to export a function from `gatsby-config.js`, in order to configure a theme dependency.

This works when the theme is plugged in as a dependency to a project, b

[2019-03-04 15:45] #11082 closed

[2019-03-04 16:19] DSchau commented on #12286
I'm not sure it's (currently) possible to run themes locally for development, rather I think the intended use case would be to `link` (`yarn link` or `npm link`) the theme in a "parent" project that uses the theme.

If we were to tweak the validation, it may give a false sense of security that a function can be used, when in fact, functions are currently exclusive to themes.

Themes are still in t

[2019-03-04 16:19] #12286 closed

[2019-03-04 16:29] DSchau commented on #12279
Hi @hesamkaveh!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2019-03-04 16:29] krismorf commented on #12279
Hi @hesamkaveh , I see that you are using an older version of Gatsby. Can you update all your packages to see if the problem is fixed? If not, please share a [reproducible](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) example.

[2019-03-04 16:43] DSchau commented on #12268
@sidharthachatterjee exactly, yep.

@gvocale we specifically convert class names to camel case (e.g. `my-class-name` is available as `styles.myClassName`) for easier consumption in the JS files.

I'm going to close this as answered, but please feel free to continue the discussion if we can help further.

Thanks for using Gatsby! 💜

[2019-03-04 16:43] #12268 closed

[2019-03-04 16:49] DSchau commented on #12270
@Siregar would you be able to provide a reproduction so we could take a further look?

Tracing that example, it looks like the `rebuildIndex` function gets invoked on componentDidMount which initializes the `search` state value. This should be a searchable index that will have a `search` method.

The most likely culprits of the error are:

1. Entire lifecycle/class component has not been implement

[2019-03-04 16:55] DSchau commented on #11730
@Knaackee can you link to your repository? We can take a look and help debug that further once that's provided!

Thanks!

[2019-03-04 16:59] DSchau commented on #12027
@Sondro let's close this out as a duplicate of #11494 as @lyyourc noted.

Please, please feel free to reply to this and we can take a look once you provide a reproduction, and take a look at the above issue (which may help you resolve your issue). We'd be happy to help if we're able!

Thanks!

[2019-03-04 16:59] #12027 closed

[2019-03-04 17:05] DSchau commented on #12237
Did your credentials change? Did the way you sourced variables (e.g. username/pw) change?

You can see a number of 401 errors in your console, so the issue is that there aren't any nodes being created because the plugin is failing to fetch _any_ content with the aforementioned 401 error.

If you're able, I'd strongly encourage you to [create a reproduction](https://gatsby.dev/reproduction), so tha

[2019-03-04 17:08] DSchau commented on #12255
@phenax looks like you solved this with [this commit](https://github.com/phenax/phenax.github.io/commit/64775eaaa506ce3086c52ab1b82394be1d587c07)?

If this is not the case, please feel free to reply and we'll re-open this promptly.

Thanks!

[2019-03-04 17:08] #12255 closed

[2019-03-04 17:14] sondrele commented on #12286
I understand that this example repository is there for demonstrative purposes, and that the project relies on yarn and its workspaces to properly link the themes and the dependent packages.
I'm also aware that themes are in early stages.

However, I still think it would be beneficial to be able to build and develop a theme package in isolation as if it was a simple gatsby site.
I actually had the

[2019-03-04 17:19] DSchau commented on #12286
@sondrele most non-trivial themes would need some type of content injection that only a "parent app" could provide (e.g. content as Markdown, MDX, posts sourced from wordpress, etc.), so it seems like sort of an anti-pattern to develop locally with a theme for any reason other than testing and ease-of-use.

That being said--I do think the ease-of-use argument is a fair one. Something we've tossed

[2019-03-04 17:27] #10040 closed

[2019-03-04 17:27] #10537 closed

[2019-03-04 17:27] #11277 closed

[2019-03-04 17:27] #11436 closed

[2019-03-04 17:33] ajaymenon0 commented on #9911
I had to eventually resort to using `overrideThemeStyles` in `typography.js` to override the styles which were getting lower priority and hence never saw the light of day. For example:
[code]

[2019-03-04 17:34] cdaringe commented on #11667
hush hush @gatsbot, the issue is alive and valid

[2019-03-04 17:37] baobabKoodaa commented on #11875
I can't get this to work on gatsby-default-starter. Here is a demo:

https://github.com/baobabKoodaa/font-problem-demo/commit/0b6e7c6bac41225ac0bc1612155f9fe5975b5de2

[2019-03-04 17:40] DSchau commented on #4459
Yeah!

So - we added an HTML addition to the excerpt functionality relatively recently. Using this HTML excerpt functionality will transform the excerpt from plain text to HTML, if there's HTML to be transformed. For example, in the above example, the excerpt would translate italics/bold/etc. into their corresponding HTML tags.

It can be used like so:

[code]

This still works with the excerpt_se

[2019-03-04 17:40] #4459 closed

[2019-03-04 17:46] DSchau commented on #11649
@simonjoom circling back to this--this doesn't seem like an issue that's a problem with gatsby core.

If you'd like to resolve _one_ version of cheerio for your project you can use [yarn resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) for this use case.

In your scenario, you'd add a key to your **package.json** like so:

[code]

As far as this issue in Gatsby core, i

[2019-03-04 17:46] #11649 closed

[2019-03-04 17:47] DSchau commented on #12246
Hi @JustFly1984!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2019-03-04 17:48] DSchau commented on #12246
Also one note - I'd recommend updating `gatsby`. It contains a newer feature where it will log the path of the template/file/etc. that fails, which may help you further track this down.

[2019-03-04 17:48] t2ca commented on #11875
Try the following without dash

`font-family: Open Sans;`

[2019-03-04 17:49] DSchau commented on #12075
Looks like you're on Windows, which requires some set-up steps to get up and running with Sharp, in particular.

I'd encourage you to check out the [Gatsby and Windows](https://www.gatsbyjs.org/docs/gatsby-on-windows/) documentation, which may help you resolve this issue.

Please check that out, and then if you're still running into an issue, please reply back here and we'll help further in debugg

[2019-03-04 17:49] #12075 closed

[2019-03-04 17:54] baobabKoodaa commented on #11875
Ah, of course! Thank you!

[2019-03-04 17:54] DSchau commented on #11081
Sounds like this is an upstream issue with swagger-ui not being super server-side rendering friendly.

I'd recommend following the remediation as @OrKoN mentioned [here](https://github.com/gatsbyjs/gatsby/issues/11081#issuecomment-466634634). Additionally, I think using [null-loader](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) may also help in this case.

Since

[2019-03-04 17:54] #11081 closed

[2019-03-04 17:54] #11875 closed

[2019-03-04 17:57] DSchau commented on #12072
@ergunpp thanks to @jonniebigodes looks like you have a great basis on which to begin solving this problem.

This sounds like it's a code issue outside of Gatsby, so I'm going to close this out. If you'd like to discuss further *as always* feel free to reply and we can take another look and offer more assistance.

Thanks so much!

[2019-03-04 17:57] #12072 closed

[2019-03-04 17:59] DSchau commented on #12238
@davemeyer the documentation mentions to use `static/sw.js` (which will be copied to public) _not_ `public/sw.js` which you seem to have used.

If you use `static/sw.js` is the issue resolved?

[2019-03-04 18:01] DSchau commented on #12226
Hi @bjfresh!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a

[2019-03-04 18:05] DSchau commented on #12222
@samscarsella could you provide a [reproduction](https://gatsby.dev/reproduction)?

This generally looks like an issue with (as you note) casing. I've seen `git` be incredibly confusing and finicky with changing the case on files. Generally I've had to do `git mv <options>` (e.g. [this StackOverflow post](https://stackoverflow.com/a/24979063)).

It _could_ also just be a relative path issue, but i

[2019-03-04 18:07] m-allanson commented on #12268
Note that you can change this behaviour by modifying Gatsby's webpack config - there's an example here: https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#update-css-modules-class-names-that-use-dashes

[2019-03-04 18:13] DSchau commented on #9979
@Jornve been a few days, so going to close this out. As @jlengstorf said though, if you are still having this issue _please_ reply and we'll re-open the issue and take another look.

Thanks all for using Gatsby 💜

[2019-03-04 18:13] #9979 closed

[2019-03-04 18:27] DSchau commented on #12091
@JustFly1984 as @freiksenet mentioned, this is an issue outside of Gatsby.

We are working on quality metrics and "official Gatsby plugins" to our plugins search, so hopefully implementing both of those will help you avoid this issue in the future.

Thanks for using Gatsby 💜

[2019-03-04 18:27] #12091 closed

[2019-03-04 19:21] DSchau commented on #12141
Hard to pin-down exactly what the issue is here. As @HurricaneInteractive noted, the recommendation for shared component pieces/blocks (e.g. header, footer, etc.) is to use a Layout component, documented [here](https://www.gatsbyjs.org/docs/layout-components/).

Generally - we recommend only editing/creating the `html.js` file if *absolutely necessary* and it does not seem to be necessary here.

S

[2019-03-04 19:21] #12141 closed

[2019-03-04 19:39] davemeyer commented on #12238
@DSchau sorry that was a mistake in my description. i did indeed use `static/sw.js`. i was watching the content of `public/sw.js` during the build process, and i can see the stages that it goes through: first it is a copy of my file from `static/sw.js`, then it is replaced by the generated content.

[2019-03-04 19:44] DSchau commented on #12258
Definitely!

Because we expose our [Node APIs](https://gatsbyjs.org/docs/node-apis/) (e.g. createPages) you're in total control over _what_ gets created and the path(s) which you create pages.

So, if we wanted multiple variants of our pages, we just need to ensure we have the appropriate content and a structure that makes sense. For example, if your app were powered by Markdown, we could do a dir

[2019-03-04 19:44] #12258 closed

[2019-03-04 19:47] jaymdq commented on #12143
Any update on this? I 'm facing the same problem with gatsby 2.1.20
The hot reload fails whenever I edit my pages and the solution is to run `gatsby develop` again.

[2019-03-04 20:37] bjfresh commented on #12226
The site itself is fairly minimal, with the issue seemingly in the core

I've made the repository public for now at https://github.com/bjfresh/trufflepigs.com

It's based on [Gatsby Starter WordPress ](https://www.gatsbyjs.org/starters/GatsbyCentral/gatsby-starter-wordpress/)

Almost all of the styles are in CSS modules, and each of these are working fine.
The issue is in a small number of imports

[2019-03-04 20:48] narration-sd commented on #7230
@KyleAMathews I don't think --no-uglify is working now - due to the change to terser seems likely?

I really need to build with 'the non-minified environment' at the moment; a quite obscure error in a router <Redirect /> which works perfectly in develop.

Please advise -- thanks. All latest Gatsby/-cli.

[2019-03-04 20:55] adamclifford commented on #12225
@jeffrafter This is a limitation of the browser you are using.

When you are developing with GatsbyJS there is a connection to the GraphQL endpoint open and all of the pages queries are then rendered based on the live queries, this is how getting live data to the pages you are editing works in the back ground.

However, each browser has a limited set of connections that it uses to connect to the s

[2019-03-04 21:04] DSchau commented on #12225
@adamclifford whoa! Today I learned!

Could you provide a source on that? Would be helpful to document for posterity.

In any case--this doesn't seem like an issue we can resolve within Gatsby, and we're not doing anything outside the ordinary (apart from opening up a web socket) that would cause any weirdness here!

Going to close as answered--but please reply if we missed something or if the abo

[2019-03-04 21:08] omattman commented on #12191
Hey @sidharthachatterjee,

Thanks for taking your time to reply.

How would one go around using `componentDidMount`?

I've tried both of these solutions down below:
[code]

And

[code]

The first solution mentioned works on `gatsby develop`, however the 2nd solution doesn't work. **Note:** none of the solutions work on `gatsby build`

[2019-03-04 21:17] adamclifford commented on #12225
@DSchau the HTTL/1.1 specification stipulates 2 connections as a limit, as can be read [here](https://www.w3.org/Protocols/rfc2616/rfc2616-sec8.html#sec8.1.4).
Most modern browsers now allow more than that, as the official limit has hindered the effectiveness of said browsers, an [RF7230](https://tools.ietf.org/html/rfc7230#section-6.4) replaced the previous limit, and told browser vendors to not

[2019-03-04 21:22] DSchau commented on #12187
Looks to be the case. This isn't really an issue with Gatsby (this is an external plugin), but I'd love to hear more about what happened here.

@callicoder if you have a few minutes to spare, would love to know if taking down the repo was intentional! If so, perhaps @saranshkataria would be interested in taking over maintenance from you?

Going to close this out--but please feel free to chime in i

[2019-03-04 21:22] #12187 closed

[2019-03-04 21:27] danechitoaie opened #12290 "gatsby-source-plugin, what are some limitations? How much data is too much?"
When creating a gatsby-source-plugin, what are some limitations?
What if I need to query a REST API and load 10k items? Does Gatsby keep all of them in memory to be able to expose them to graph API? Or is there some kind of "caching/pagination" done.

Can we have issues if we load too much data? How much is too much? Is this depending on the RAM/CPU of the computer running Gatsby?

[2019-03-04 21:42] bradleyg commented on #7366
I think this would work, as the cache falls back (note the use of `keys` rather than `key`). Effectively always reusing the latest cache. [Docs](https://circleci.com/docs/2.0/caching/#example-caching-configuration).

[code]

[2019-03-04 21:44] ChristopherBiscardi opened #12291 "Gatsby config validation should suggest related keys"
## Summary

When running a gatsby site the gatsby-config is validated. The error message is quite long due to multiple instances of the failed validation error that appear after the initial `ValidationError`. The error also doesn't suggest any possible mis-spellings, so a user new to Gatsby can become frustrated fairly easily, not knowing that `plugin` should be `plugins`.

<details>
 <summary>ful

[2019-03-04 22:21] DSchau commented on #11622
@zslabs the analogy to custom server routing would be [client-only routes](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/#client-only-routes--user-authentication).

To address your specific question(s):

I think you'd be surprised how OK people are with this. _If_ this is not the case and you find that a re-build is an unnecessary barrier to using a tool like Gatsby, you can certainly th

[2019-03-04 22:21] #11622 closed

[2019-03-04 22:39] jtstodola commented on #7628
Any update when/if this will be added?

[2019-03-04 22:43] rshackleton commented on #11563
Seeing the same preload warnings on PSI for my own website: https://rshackleton.co.uk/

![image](https://user-images.githubusercontent.com/13448395/53767851-ec4a7b00-3ece-11e9-94b4-afad65c9f318.png)

[2019-03-04 22:44] DSchau commented on #12241
@loconluis could you try [the tip specified here](https://github.com/lovell/sharp-libvips/issues/18#issuecomment-468358687)?

Generally - when an issue like this occurs it's most helpful to delete `node_modules` and try from a fresh install. `npm cache clean` can also help quite a bit!

[2019-03-04 22:49] DSchau commented on #12195
Let's keep this open until #12273 lands.

[2019-03-04 22:57] loconluis commented on #12241
Already works! Thanks for your help!

[2019-03-04 22:58] DSchau commented on #12241
Great! So what was the solution?

Going to close this out--but if you could chime in with what helped you solve it, that would be great!

[2019-03-04 22:58] #12241 closed

[2019-03-04 23:03] loconluis commented on #12241
@DSchau As the comment you pinned, I delete the corrupt file that was giving problem `<~/.npm/_libvips/libvips-8.7.0-linux-x64.tar.gz>`, and ran the CLI again, and everything worked fine

[2019-03-04 23:09] zslabs commented on #11622
Thanks @DSchau really appreciate the thorough response!

[2019-03-04 23:26] jeffrafter commented on #12225
@adamclifford thanks for those links, this is super helpful; I never realized that limit was _per browser_ not _per tab_!

Is this just for HMR? Do you know if there is a config/fallback strategy for polling instead of open connections?

[2019-03-04 23:33] DSchau commented on #12225
Yep! We build out the data from the local GraphQL schema, so there isn't a trace of that in the production code.

Not really. Generally - is this something you do often? 5 open tabs with the same content seems to be a little overkill, but maybe there's a use case we're missing here with our current strategy!

[2019-03-04 23:49] ryancharris commented on #12291
@ChristopherBiscardi @DSchau I can take a whack at this one, if that's cool with you gents.

[2019-03-04 23:55] jeffrafter commented on #12225
@DSchau it isn't a great use case... I just keep a lot of tabs open and forget some on a desktop here or there. Then I open a new tab and it is empty and I wait and then 10-15 seconds later realize "Oh, I must have 5 other tabs open somewhere" and go hunt them down through my mess of desktops and tabs and disorganization. Often it is different pages with different styling and I want to see the imp

[2019-03-05 00:05] DSchau commented on #12291
@ryancharris of course! Let us know if @gatsbyjs/core can help out further!

[2019-03-05 00:15] DSchau commented on #5943
We actually did this! We aren't as smart (so it's more manual) but it just checks if you don't own a package--if you don't, the publish will fail.

https://github.com/gatsbyjs/gatsby/blob/master/scripts/check-publish-access/index.js

Closing!

[2019-03-05 00:15] #5943 closed

[2019-03-05 00:16] alexanderjsx opened #12294 "gatsbyjs.org plugin search breaks with some values"
## Description

Plugin search on www.gatsbyjs.org break page with some search phrases

### Steps to reproduce

Just open this in a browser:
https://www.gatsbyjs.org/plugins/?=len
or
https://www.gatsbyjs.org/plugins/?=lenr
or
https://www.gatsbyjs.org/plugins/?=lern

### Expected result

0 to many search results should be visible.

### Actual result

Empty white page and error in console: `TypeError

[2019-03-05 00:31] DSchau commented on #12294
Yikes.

Should be an easy fix! You've already gone through the work of identifying the issue--would you be interested in PRing the fix?

Looks like that toLocaleString call happens in react-instantsearch, so it could be a case of us passing props down or otherwise invoking one of those components incorrectly [here](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/plugin-searchbar-

[2019-03-05 00:33] DSchau commented on #7396
Haven't looked into this _at all_ but a cursory Google surfaced Probot, which seems to have this capability by default.

Would be nice to leverage tools so we don't have to build it ourself, but would merit some further research before we start enabling things on a whim!

https://probot.github.io/apps/delete-merged-branch/

[2019-03-05 00:35] KyleAMathews commented on #1836
This fixes the typography.js problem https://github.com/gatsbyjs/gatsby/pull/12295

[2019-03-05 00:58] ryancharris commented on #12291
@DSchau Sweet! I'm sure I'll have some questions as I get more familiar with the codebase 👍

[2019-03-05 01:16] #6302 closed

[2019-03-05 01:24] KyleAMathews commented on #12225
Huh, this is an unfortunate bug. We could change from websockets to long-polling to solve this. It shouldn't have much effect on performance.

[2019-03-05 01:48] Moocar commented on #11982
@KyleAMathews raised the idea of including query results in the new `page-manifest` file. So instead of first requesting the page-manifest to get the `dataPath`, and then requesting the actual data. The browser would only need to download the page-manifest, which would look something like:

[code]

The downside obviously is that query results would no longer be infinitely cacheable. But, since pag

[2019-03-05 01:53] jeffrafter commented on #12283
@JhonathaNunes just checking but are you using styled components 4 and `createGlobalStyle`? If you are using `injectGlobal` then there is a known problem with hot module reloading (which is why it is deprecated)

[2019-03-05 02:26] jeffrafter commented on #12225
Actually, I spent some time digging into this... if we upgrade the development experience to `SPDY` instead of `HTTP` the problem is resolved. Unfortunately, doing this (effectively) requires running the local development environment behind TLS.

I changed [this line](https://github.com/gatsbyjs/gatsby/blob/66ebe958bb004d99e859b664b295d510d8999678/packages/gatsby/src/commands/develop.js#L199) to:

[2019-03-05 03:06] KyleAMathews opened #12300 "Create way to quickly test potential breaking changes on large numbers of "in the wild" Gatsby sites"
There's occasional PRs that touch a lot of surface area and can break in subtle ways that it'd be good to have a way to test really throughly against real-life sites.

Like 1000s of sites.

We have two features that are largely done but we haven't released due (in part) to uncertainties around whether they 100% work — the loki.js replacement for sift.js for querying & the schema refactor so we nee

[2019-03-05 03:37] #12249 closed

[2019-03-05 03:50] jeffrafter commented on #12225
@DSchau would you consider re-opening this, considering #12302

[2019-03-05 04:16] sidharthachatterjee commented on #12300
Now that Lambda supports being run from SQS, we should be able to put a 1000 jobs in a queue, wait for them (and maybe let them retry once or twice) and then put the ones that didn't work in a dead letter queue.

If DLQ is empty, we're good. If not, the ones that will break can be pulled out of it for stats

[2019-03-05 04:23] DSchau commented on #12225
Of course! Consider it done!

[2019-03-05 04:41] KyleAMathews commented on #12300
SQS would be great!

[2019-03-05 05:36] KiengKnot commented on #9899
I had tried turn off all chrome extension. Then enable one by one.
I had found that the extension `Video Downloader professional` and `AdBlock` caused the error.
I had about 25 extensions installed on my google chrome.
Note: There is not only one extension causes the error, but there are more extension that could lead to the error.

[2019-03-05 05:49] lxibarra commented on #10482
Plus one here im trying to optimize image loading bu at the same time dont want to write graphql queries for each image.

[2019-03-05 06:50] jumpalottahigh opened #12306 "404 link on Gatsby home page"
## Description

Clicking the "Creating Plugins" button on the https://www.gatsbyjs.org/ home page in the plugins section (see image) leads to a 404.

![image](https://user-images.githubusercontent.com/4155121/53785962-cb137a00-3f22-11e9-824d-8f0724f9045b.png)

Refreshing the page after that triggers the correct(?) redirect.

Additionally, there is at least one more broken link on this page:
https:

[2019-03-05 07:08] matt-assemble opened #12307 "gatsby-plugin-sharp 2.0.24 requires gatsby@2.1.20 but specifies peer dependency of gatsby@^2.0.0"
## Description

gatsby-plugin-sharp 2.0.24 requires gatsby@2.1.20 but specifies peer dependency of gatsby@^2.0.0

https://github.com/gatsbyjs/gatsby/pull/10257
https://github.com/gatsbyjs/gatsby/blob/8e1661806931b0af42b744b9b5c8cf2909ae1201/packages/gatsby-plugin-sharp/package.json#L43

### Steps to reproduce

Use the right combination of plugins and configs to actuate gatsby-plugin-sharp and then

[2019-03-05 07:16] LekoArts commented on #12307
![85ecf14e-8a45-460f-89b9-d8492caff761](https://user-images.githubusercontent.com/16143594/53787369-f005ee00-3f1e-11e9-992f-42c2ad8bbb6c.png)

Yeah, this user had the same experience :/

[2019-03-05 08:03] n-batalha commented on #8790
Ping for issue to remain open.

[2019-03-05 08:48] arcticicestudio commented on #11645
Sorry for the delay, I'll try to submit a new PR this weekend that adds some documentation improvements.

[2019-03-05 08:51] frederikhors commented on #11672
Please, bot, do not stale.

[2019-03-05 10:10] Fazyyy opened #12312 "Help debugging vague error"
## Description

Site deploys to netlify and builds fine but if I try to run it locally with npm run build or gatsby develop-
it's 'compiles' fine but then if you navigate to localhost:8000 it will 'load' for several minutes while displaying nothing and then the server will crash.

### Steps to reproduce

Repo:
https://github.com/Fazyyy/Trago2Wheels

Simply run a local development and navigate to l

[2019-03-05 10:27] StormPooper commented on #4459
@DSchau any suggestions for if we just want the text of the excerpt as per the default `excerpt` behaviour, but with a defined separator for some posts and relying on the `prune` value for the rest?

[2019-03-05 10:30] Fazyyy commented on #12306
Could this be something specific to your machine? I'm not able to replicate the issue and the link works as expected for me in both Firefix and Chrome on Windows 10, also fine on my Pixel 2 in Chrome.

[2019-03-05 10:42] MaralS opened #12313 "Cannot render the "Rich Text" field from Contentful"
Hello everyone,

## Description

I have some issues rendering the rich text field from Contentful. I tried to use the gatsby plugin, but there are bugs for the rendering of assets and entries inside the rich text field (#9821 - #10592)
So I installed the package from Contentful.
But when I want to parse the JSON to HTML nothing renders.

Here is the code from my blog template

[code]
### Steps to

[2019-03-05 10:51] jumpalottahigh commented on #12306
Hm, don't think it's just me, or then could it be some CDN edge caching issue?

I get consistent 404 when clicking the button on my mac, any browser, incognito or not; also tested on my Pixel 3 chrome incognito and not, either way always 404 on that link (also tested on 4G and WiFi, just to change networks). Would be nice if more people could test.

[2019-03-05 10:56] Fazyyy commented on #12306
Apologies, I think I was mislead by the "Using plugins" being white in your screenshot and was testing that instead, updated with my original post as I do in fact experience the same issue as you when clicking "Create Plugin"

[2019-03-05 11:01] Siregar commented on #12270
Hey there,
I just 1:1 copy/pasted the code from https://www.gatsbyjs.org/docs/adding-search-with-js-search/#js-search-with-a-small-to-medium-dataset.

Pushed everything into a repo. Hope it helps: https://github.com/Siregar/js-search-example

[2019-03-05 11:23] phacks commented on #12313
In your `graphql` query, try to use the following snippet to fetch the Rich Text content :

[code]

You can see an example for an [live website](https://jamstack.paris) built with Gatsby & Contentful [here](https://github.com/JAMstack-paris/JAMstack.paris/blob/a60ec51fe1b414aaeab223bcef4ead417ac573e3/src/pages/index.js#L81-L84) (for the graphql query) and [here](https://github.com/JAMstack-paris/J

[2019-03-05 11:34] wodin commented on #8019
This is still a problem. It can be reproduced on https://www.gatsbyjs.org/docs/recipes

[2019-03-05 11:40] MaralS commented on #12313
Hi,
I already tried to use the plugin as I said before. The reason why I don't use it anymore is that the assets and the entries  inside the rich text fied are not rendered.

[2019-03-05 11:43] anantoghosh commented on #12226
This looks like an issue caused by `gatsby-plugin-purgecss` .
First, update the plugin to the latest version.
Then try these options to configure `gatsby-plugin-purgecss`
[code]

Furthermore read the documentation https://github.com/anantoghosh/gatsby-plugin-purgecss if you continue to face issues.

This issue does not belong here and should be reported to the "Gatsby Starter WordPress" repo for a

[2019-03-05 12:17] stefanprobst commented on #4261
Everyone: We have an alpha version of our new Schema Customization API ready, and we'd love your feedback! For more info check out [this blogpost](https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/).

[2019-03-05 12:18] sondrele commented on #12286
I agree. In general I think it's better/easier to rely on the tooling and best practices that already exists in the ecosystem, than re-inventing new ways of connecting and building Gatsby apps. It just increases the amount of domain knowledge required to develop a gatsby project, that is not transferable to other js-projects.

Fair points, and I also fully agree on being restrictive on features/al

[2019-03-05 12:19] stefanprobst commented on #3344
We have an alpha version of our new Schema Customization API ready, and we'd love your feedback! For more info check out [this blogpost](https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/).

[2019-03-05 12:58] phacks commented on #12313
Oh, sorry! Read your issue in a hurry, and had trouble setting up Contentful’s RichText myself, so I went ahead with what I assumed was the same problem. My mistake 😅

[2019-03-05 13:42] framini commented on #12238
I'm also having the same issue. Here is a sample project to reproduce it (blank project created using `npx gatsby new custom-sw` and following the steps outlined [here](https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/#using-a-custom-service-worker-in-gatsby))

### Sample:
[custom-sw.zip](https://github.com/gatsbyjs/gatsby/files/2931127/custom-sw.zip)

[2019-03-05 13:54] Fazyyy commented on #12312
Seems to have resolved itself.
Not sure how, perhaps just by running npm install?

[2019-03-05 14:15] imshuffling commented on #7517
Closing this as #11800 solved the issue for me.

[2019-03-05 14:15] #7517 closed

[2019-03-05 14:20] lannonbr opened #12317 "gatsby-plugin-page-creator's package.json file does not include a repository field"
## Description

gatsby-plugin-page-creator's package.json file does not include a repository field which is used to notify it is an official plugin.

As seen below, it is an official plugin but it does not get a icon in the sidebar because the repository field is undefined

![screenshot_2019-03-05 gatsby-plugin-page-creator](https://user-images.githubusercontent.com/3685876/53809978-ecc13100-3f23-

[2019-03-05 14:45] rexxars commented on #12272
The filters for ID fields now expect an ID as input where they previously wanted a string. This breaks certain queries, for instance:
[code]

Will report:
[code]

While it may be more correct to update the query to reflect this, it is a breaking change, so I thought I would report it.

[2019-03-05 14:47] lannonbr opened #12320 "Site Showcase entry doesn't include category fields"
## Description

Josef Aidt's site in the site showcase does not have any category fields.

@josefaidt Would it be possible to update your entry so this warning doesn't appear

![image](https://user-images.githubusercontent.com/3685876/53813278-411bdf00-3f2b-11e9-9a32-d94e7c2f590f.png)

Here's the docs for the page for reference on site showcase submissions: https://www.gatsbyjs.org/contributing/si

[2019-03-05 15:04] wcastand opened #12322 "Gatsby Theme not building the pages but works in develop"
## Description

I'm using the gatsby theme feature for a project, in `develop` it works perfectly but when i try to build it, i get no error but only the index page is built, but not the other pages.

### Steps to reproduce
I made the project's repo public so you can take a look.
[repo](https://github.com/teamplanes/dashbored)

you can see the theme in `packages/gatsby-theme-dashbored`
and the dem

[2019-03-05 15:06] josefaidt commented on #12320
@lannonbr just added the categories. Apologies for missing that 🙂

[2019-03-05 15:11] freiksenet commented on #12272
@rexxars Nice find! I assume we used to convert ID filters to String. I'll restore old behaviour.

[2019-03-05 15:30] m-allanson commented on #12209
I agree, this sounds like a good idea 👍

This could start out as an _Adding Comments_ page in [the section you pointed out](https://www.gatsbyjs.org/docs/adding-website-functionality).

[2019-03-05 15:45] #12317 closed

[2019-03-05 15:46] bjfresh commented on #12226
Thanks a million! This solved it. Odd that the starter is configured for different output than the production build... seems like a real oversight.

For the record, I solved the problem using the following config:

`
    {
      resolve: 'gatsby-plugin-purgecss', // purges all unused/unreferenced css rules
      options: {
        develop: true,
        printRejected: true,  // Show purgecss rejec

[2019-03-05 16:02] misterbridge commented on #11934
The owrkaround removes the warning but ..
There is no hot reloading for now ? (Saving a file will refresh the page on my app)

[2019-03-05 16:10] anantoghosh commented on #12226
@bjfresh no problem.
Also make sure to update `gatsby-plugin-purgecss` to v3.1.0 as the `develop` option was introduced in v3.0.0 and `purgeOnly` was included in v3.1.0. [changelog](https://github.com/anantoghosh/gatsby-plugin-purgecss/blob/master/CHANGELOG.md).
Your repo's package.json is still using "gatsby-plugin-purgecss": "^2.4.0".

[2019-03-05 16:14] morloy commented on #12143
Same issue here. Luckily, the workaround from https://github.com/gatsbyjs/gatsby/issues/12143#issuecomment-468815458 proved really helpful. Thanks, @tcerdaITBA.

[2019-03-05 16:16] jonniebigodes commented on #12270
@Siregar going to break it into smaller steps for a better understanding:
- Cloned your repository.
 - Installed the dependencies.
- Issued `gatsby develop`
- Opened a browser window and devtools,  i'm presented with:
![search_develop_entry](https://user-images.githubusercontent.com/22988955/53817481-69243600-3f5d-11e9-8392-e048cff69eb3.png)
- Checked the component's state to see if anything was w

[2019-03-05 16:37] eballeste opened #12324 "development speed-bumps / inconsistencies"
I'd like to start by saying that Gatsby is amazing! I'm closing up a project and made the decision to migrate a React site to Gatsby in order to get SEO/social meta working properly. I was able to migrate the whole project in less than 24 hours with very basic Gatsby experience and I feel like it would have been even faster had I not gone through several inconsistencies between the dev and build e

[2019-03-05 16:59] whnunlife opened #12326 "How to create multiple copies of the site base off an API"
## Summary

So, have a very strange request here. We are looking for a way to create copies of the site that are all powered by an API. I'm not concerned with consuming an API (that is fairly straight forward), but where I'm getting stuck is how would I build multiple versions of the site.

Example API Response:
[code]
Not sure if this is the idea structure, but we could end up with something like

[2019-03-05 17:23] #12294 closed

[2019-03-05 17:26] Fazyyy commented on #12312
Issue has returned, once again unsure of cause.

Console says site compiled successfully.
Go to localhost:8000
Page loads for 5 minutes+ without actually displaying anything
Then gatsby develop stops running with the error:

[code]

[2019-03-05 17:27] #11021 closed

[2019-03-05 17:27] #11194 closed

[2019-03-05 17:27] #11473 closed

[2019-03-05 17:27] #8665 closed

[2019-03-05 17:27] #9826 closed

[2019-03-05 17:27] #11471 closed

[2019-03-05 17:35] ayu15 commented on #11714
Keep open

[2019-03-05 17:40] hesamkaveh commented on #12279
Hi @DSchau and @krismorf and thank you for reply,
While creating minimal reproduction of my website, i understood that this bug because of Gatsby version,
But when update gatsby@next(2.1.20-alpha.0) to gatsby@latest(2.1.22) and try to build it, i got these errors:
[code]
You can see my [ category.js on github](https://github.com/hesamkaveh/Sansi/blob/master/src/templates/category.js) .It works bef

[2019-03-05 17:41] eballeste commented on #12312
Error: The system cannot find the path specified.

[2019-03-05 17:43] DSchau commented on #12279
@hesamkaveh would you be able to cross-post that to #12272

Generally, by latest, we mean non-alpha latest (e.g. latest stable). You can use that with `npm i gatsby`

[2019-03-05 17:45] MitchellCash commented on #11280
This issue still exists on gatsby latest. I have bumped all dependencies on my demo repo to show this:

Repo: https://github.com/MitchellCash/gatsby-no-blur-demo
Prod URL: https://gatsby-no-blur-demo.netlify.com/

This issue should be reopened, but I don't have access to change labels or reopen the issue.

/cc @jonniebigodes and @sidharthachatterjee who might have this power.

[2019-03-05 17:52] josefaidt commented on #12312
Have you tried reinstalling node_modules and clearing Gatsby's `/.cache/` directory?

[2019-03-05 18:00] josefaidt commented on #12312
@Fazyyy I just downloaded your repo and installed deps, and ran the site without issue. I would start by deleting the `/node_modules/` and `/.cache` directories locally. Also, I'd suggest removing one of the lockfiles to mitigate any further issues (ex: if you use `npm` then remove `yarn.lock` and vice-versa).

[2019-03-05 18:05] josefaidt commented on #12326
Are you wanting to do this on-demand via an API? Would the sites have different content, or literally just a clone?

[2019-03-05 18:10] krzysztofpniak opened #12327 "gatsby-remark-code-repls do not support scoped dependencies (started by @ character)"
## Description

At the moment `gatsby-remark-code-repls` plugin do not support scoped npm packages (started by @ character). It expects only one @ character for name - version separation.

### Steps to reproduce
1. git clone https://github.com/reactjs/reactjs.org.git
2. cd reactjs.org
3. run `yarn`
4. go to file: `gatsby-config.js`
5. find `dependencies` array and add `@material-ui/core` to that a

[2019-03-05 18:12] josefaidt commented on #12324
👋 Hi @eballeste! I don't think I can *accurately* answer question 1, but I have some comments for the other two!

2. The way I use globals like `window` in my application is by checking if window is undefined: `{typeof window !== 'undefined' && window.innerWidth >= 760 ? <Nav /> : ''}` though I'm not 100% certain this is the *best* approach, it certainly works.
3. Are you using the json plugin to

[2019-03-05 18:15] Fazyyy commented on #12312
@eballeste
I'm not exactly sure how to find out what path without more to go on.

@josefaidt
The 'yarn.lock' was just from me fiddling with a few things in order to try and troubleshoot a few things. I'll definitely be deleting that. I will try your suggestion with deleting the other directories and report back shortly.

[2019-03-05 18:21] danielo515 commented on #7013
Oh @gatsbybot , thank you for closing a real issue just because nobody is rude enough to bump it every week.

[2019-03-05 18:56] eballeste commented on #12324
Thanks @josefaidt I'm not looking for workarounds, the workarounds have already been implemented in my project... my whole motivation for this post is as inspiration for possible direct solutions to these problems... mostly, the output of develop should be the same output with build... right now that's not the case

[2019-03-05 19:38] mmafe opened #12329 "How to trap focus in modal/dialog window? (Accessibility)"
## Summary

I'm attempting to create an accessible modal window on a Gatsby (v2) site. Once the modal window is open, I would like to _trap_ the focus in the modal window so folks aren't tabbing into the darkened (unavailable) background.

Is there a way to trap the focus?

## Relevant information

I have attempted the following:
- updating the tabIndex of all elements in the dark background (unsu

[2019-03-05 19:51] jonniebigodes commented on #11280
@MitchellCash just reopened and i'm labeling it to inkteam review. Sounds good?

[2019-03-05 19:53] DSchau commented on #12329
@mmafe have you checked out [Reach UI Dialog](https://ui.reach.tech/dialog)?

It seems to have accessibility/trapping baked in, but please let me know if I'm off base here!

[2019-03-05 20:01] danboyle8637 commented on #12324
@eballeste What are you using to style your content?

I was using styled components when I was learning Gatsby... didn't use the official plugin... just a direct npm install of the package and I suffered from the initial flash of un-styled content.

Once I installed the styled components plugin from Gatsby plugins... everything worked well.

Not sure if that helps. But thought I'd mention it.

[2019-03-05 20:10] KyleAMathews commented on #7013
@danielo515 there doesn't seem to be a reproducible bug on this thread? We need issues with bugs that we can reproduce on our machines before we can fix the bug.

[2019-03-05 20:10] danboyle8637 opened #12330 "Creating Pagination with Headless CMS... a little confused."
I am using GraphCMS as my headless cms at the moment. I can pull all my data in... but now I'm working on pagination for my blog page.

I deleted my original blog.js page under the pages folder since now these blog pages should be build dynamically in my gatsby-node.js file.

Here is what I have in my gatsby-node file:

[code]

I followed the docs and understand everything up until the exports.onC

[2019-03-05 20:10] KyleAMathews commented on #7013
Would love you to create a github repo with a Gatsby site that fails as you're seeing so we can help you.

[2019-03-05 20:17] whnunlife commented on #12326
@josefaidt I would like to get our current build process in place, which is CircleCi. I'm okay with the new sites being created during the build process of fetching a API, parsing the array of sites, then creating the necessary root files (existing site) and all the new sub-sites. Hopefully that makes sense.

[2019-03-05 20:28] josefaidt commented on #12326
No problem, trying to wrap my head around what you're wanting to do. Do you plan on having one "master" site with children sites sharing the same tooling and component libraries? If so this sounds like an interesting use case for [Gatsby Themes](https://www.gatsbyjs.org/blog/2019-02-11-gatsby-themes-livestream-and-example/).

Do these websites serve a different purpose from the main site? I'm tryi

[2019-03-05 20:30] DSchau commented on #12324
First of all--thanks for the feedback. We appreciate it!

Let me address a few of your points:

1 and 2 are both related to unifying development and build behavior, which is very much something we're aware of--and we've seen a number of issues related to what you describe. In general, this is a challenging problem to solve. We need to balance developer experience (e.g. don't want to introduce slow

[2019-03-05 20:30] #12324 closed

[2019-03-05 20:35] whnunlife commented on #12326
Exactly, we will have one master site, that serves as our current site (https://www.cpbgroup.com/).

Now, the business reason to have multiple sites located under "sites" or another folder, is we're using this as a new biz tool. Meaning, we're creating a CMS so you can customize the landing page, customize the the component copy throughout the site. As well as create various site. Maybe I create a

[2019-03-05 20:44] DSchau commented on #12227
We don't really need an RFC for this, but appreciate you labeling it as such!

This is a feature request, and how you've designed it makes a fair amount of sense. onPostBootstrap should have access to the `graphql` function, so you could query (if supplied!), grab the data, and then inject it however you'd like.

However - I wonder what the benefit of doing this at the theme level is compared to j

[2019-03-05 20:47] jonniebigodes commented on #12330
@danboyle8637 a little insight on the `onCreateNode ` api call [here](https://www.gatsbyjs.org/docs/node-apis/#onCreateNode) and the `createFilePath` explanation [here](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/#createfilepath).

In a nutshell almost every single piece of data that is pulled into Gatsby will be have a type associated with. Taking the example of markdown. When the

[2019-03-05 20:52] mmafe commented on #12329
Just realized it might be [gatsby-plugin-modal-routing](https://www.gatsbyjs.org/packages/gatsby-plugin-modal-routing/?=modal), but if that doesn't work, I'll try Reach UI Dialog. (Thanks for the quick response, @DSchau! :))

[2019-03-05 20:55] DSchau commented on #12322
It's a bit hard to untangle exactly what's going on here. I don't fully understand all of the flowRight/lodash stuff that you're doing here.

That being said, I don't think this is correctly being awaited:

[code]

seems to return undefined, rather than a Promise like you'd expect.

If you attempt to build this out locally you get a helpful here, e.g.

[code]

If you fix this error, are you able t

[2019-03-05 20:56] DSchau commented on #12329
Sounds good! Going to close this as answered, but please feel free to reply if we can help further!

Thanks for using Gatsby 💜

[2019-03-05 20:56] #12329 closed

[2019-03-05 20:58] #12320 closed

[2019-03-05 21:05] #12022 closed

[2019-03-05 21:06] omattman commented on #12191
Fixed with following:

[code]

[2019-03-05 21:06] #12191 closed

[2019-03-05 21:11] omattman opened #12333 "Netlify build error on gatsby-source-wordpress"
Hello, just finished up a website and wanted to use Netlify as host, but i receive erros on build.

I can confirm that the following builds work **locally**:
* **gatsby develop**
* **gatsby build**

The following setup for netlify:
* **Repository:** github.com/omattman/djb
* **Base directory:** frontend
* **Build command:** npm run build
* **Publish directory:** frontend/public

However when deplo

[2019-03-05 21:13] DSchau commented on #12333
Do you have environment variables that are present locally but are not exposed via Netlify?

Could you provide a [reproduction](https://gatsby.dev/reproduction)

[2019-03-05 21:17] omattman commented on #12333
@DSchau Thanks for replying this soon.

Quite frankly I'm kind of lost by what you mean when referring to environment variables:

I can just provide you with the current repo, I'll open it up for you in an instant.
https://github.com/omattman/djb

[2019-03-05 21:24] mmafe commented on #12329
For posterity, if anyone else runs into this question, @DSchau's suggestion to use [Reach UI Dialog](
https://ui.reach.tech/dialog) worked like a dream.

The documentation is fantastic and it took 5 minutes to switch to using <DialogOverlay> with my overlay content inside of <DialogContent>.

(Note: The gatsby-plugin-modal-routing looked promising, however, it's in an alpha state, so I ended up go

[2019-03-05 21:25] DSchau commented on #12333
Got it-thanks!

You won't be able to use your `localhost` variant of Wordpress when building in Netlify (because it won't be available!).

You'll want to swap [this line](https://github.com/omattman/djb/blob/master/frontend/gatsby-config.js#L17) with a hosted path to your Wordpress instance.

Going to close as answered, but please reply if we can help further and we'll re-open.

Thanks for using G

[2019-03-05 21:25] #12333 closed

[2019-03-05 21:28] josefaidt commented on #12326
Oh this sounds like a great use case for Gatsby Themes. Themes allow you to set up a base "theme" which is essentially a template for its child. Then you can set up a site that can either use the existing setup, or extend it. In Jason's post I linked they show how to create a child theme and build a site on top of that. It helps reduce the redundancy between all of the sites. (I'm not sure how it

[2019-03-05 21:29] #12307 closed

[2019-03-05 21:30] danboyle8637 commented on #12330
@jonniebigodes Thanks! When you said to check graphiql it was not a head slap moment.

I will give this a try and see if I can get my code to work.

Thanks again!

[2019-03-05 21:33] pieh commented on #12307
[code]
was published with the fix. We don't need updated gatsby version, just added code to gracefully fallback to previous behaviour if gatsby is a bit older

[2019-03-05 21:45] DSchau commented on #12326
@josefaidt completely agree.

@whnunlife I'd recommend checking out [Gatsby Themes](https://www.gatsbyjs.org/blog/2018-11-11-introducing-gatsby-themes/).

In this example, you'd define a base Gatsby theme that establishes the data layer and visual theme (or feel free to structure as a parent/child theme), and then you'd re-use this theme whenever you'd like a site with a similar look and feel.

Wi

[2019-03-05 21:45] #12326 closed