[2019-01-08 02:34] sarahbethfederman commented on #9911
So upon further digging, turns out the culprit was CSS that was coming from a component in my node_modules folder. I've manually added the import to the file in node_modules into `gatsby-browser.js` and it looks to be working now

[2019-01-08 02:57] polarathene commented on #10895
Is the issue local testing? Try disable the cache in your browser dev tools, if that doesn't help, try remove .cache and public folders in your project and rebuild.

Still getting a problem? Inspect the problem image in the browser, There should be a <picture> element and above that your blurred image, is it base64(inlined/embedded) or a link to a file? Check the styles of the two image types, set

[2019-01-08 03:12] polarathene commented on #10841
## High-level error message or summary

Attempting to build the example [using-gatsby-image](https://using-gatsby-image.gatsbyjs.org/) fails, no changes made.

libvips should be installed fine afaik as it's worked on other projects with the Docker image I've been using.

### Stacktrace

[code]
I can confirm that libvips has written jpg images to /tmp successfully, just not this .v file.

The later

[2019-01-08 03:35] Dogtiti commented on #10789
@jonniebigodes @sidharthachatterjee here is the repo which reproduces the problem.
[repo](https://github.com/Dogtiti/gatsby-debug.git)

[2019-01-08 04:38] Dogtiti commented on #10789
@jonniebigodes thanks 👍

[2019-01-08 05:42] antonmedv commented on #10878
Maybe problem with variable import? Will try more.

[2019-01-08 07:26] holyjak opened #10908 "Docs: Explain all operators that can be used in a GraphQL filter, including "glob""
I failed to find anywhere what "glob" in a GraphQL query filter does, could somebody please update the docs? I guess https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/graphql-reference.md should be updated to describe all the operators that are supported in a filter, preferably with examles. Linking to sift is not enough as it doesn't support `glob` but supports many Gatsby doesn't and also

[2019-01-08 08:13] d3lm commented on #10884
Yep, I can see the font flashing for the gatsby site as well. Ok, that's no biggy I guess and I could always serve the font statically and include it in the head via helmet. But I still see unstyled content sometimes which I don't see for the gatsby site. But this is probably the way I import global styles or something. I will also investigate the scroll issue. I am using a package `react-scroll`

[2019-01-08 08:16] schorfES commented on #10885
Hi @sidharthachatterjee and thanks a lot for your answer. I will take a look at it!

[2019-01-08 08:16] #10885 closed

[2019-01-08 09:14] d3lm commented on #10884
I have tried to reproduce the scrolling bug in a fresh gatsby v2 starter and I can. It's really easy to reproduce:

`gatsby new test`

Then go into the `index.js` page and make that div very heigh and give it a background so we can better see the element on the page:

[code]
So I gave it a height of `5000px` and a background of `red`. If you run `yarn develop` it works perfectly fine and the scrol

[2019-01-08 10:18] d3lm commented on #10884
I also just noticed that the [React documentation](https://reactjs.org/) has exactly the same scrolling issue. Visit the page, scroll and reload it. Tada 😆

[2019-01-08 10:20] cardiv commented on #10871
I had no issues with the glob patterns of documentation. But I didn't excluded anything. Is this only relevant to routes of which some endpoints have been excluded?

Like:

[code]

[2019-01-08 10:43] PHILATSHAKA commented on #309
Hi,
I am experiencing the same issue here,  Coverflow works fine for gatsby develop but for build it throws an error:
WebpackError: window is not defined

         - react-coverflow.js:1 Object.<anonymous>
           ~/react-coverflow/dist/react-coverflow.js:1:330

         - main.js:1 Object.<anonymous>
           ~/react-coverflow/main.js:1:1

import Coverflow from 'react-coverflow';
import { St

[2019-01-08 11:12] wezzle opened #10909 "[gatsby-plugin-sharp] Duplicate versions of the same image and size"
## Description

When using Gatsby sharp's fluid image the plugin generates multiple versions (depending on variations of max-width/max-height) of the same image with the same size but a different hash. This is because when hashing the arguments ([here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sharp/src/index.js#L390)), the arguments contain the `maxWidth`, `maxHeight`

[2019-01-08 11:13] elrumordelaluz commented on #10070
As @pieh pointed, something like this works for me:

[code]

[2019-01-08 11:27] marijan111 opened #10910 "gatsby develop failing"
## Description

Error: It appears like Gatsby is misconfigured. JSONStore is Gatsby internal development-only component and should never be used in production.

Unless your site has a complex or custom webpack/Gatsby configuration this is likely a bug in Gatsby. Please report this at https://github.com/gatsbyjs/gatsby/issues with steps to reproduce this error.

### Steps to reproduce

Just install

[2019-01-08 11:37] cardiv commented on #10910
Sounds like #7642.

[2019-01-08 11:53] Marijan111 commented on #7642
I've just deleted node_modules and it worked, tried restarting my computer it seems like problem is solved with reinstalling node_modules

[2019-01-08 12:00] sidharthachatterjee commented on #10895
Hey @rotexhawk

I can reproduce this on the url you posted and a few images do appear blurry. It seems that the `opacity` of the base64 encoded image is still `1` even after the full sized image is downloaded. (it should get reset to 0)

Can you please link to a minimal reproduction of this so that we can figure out what's going on?

[2019-01-08 12:03] Marijan111 commented on #7642
It just broke again, but this time reinstalling node_modules did not help.

[2019-01-08 12:08] sidharthachatterjee commented on #10893
Hey @dderooy

Found this old thread that seems to describe something similar
https://twittercommunity.com/t/search-tweets-api-returned-empty-statuses-result-for-some-queries/12257/5

Closing this for the moment since this is specific to the Twitter API and out of our control.

[2019-01-08 12:08] #10893 closed

[2019-01-08 12:20] mattwexa commented on #9836
Hi, we still have the issue. Do you have any suggestion? From what I can see in the code, we could filter the `locales` to the one specified in the plugin's `options`, and it should pretty much do the job. Am I correct?

[2019-01-08 12:37] sidharthachatterjee commented on #10899
Apologies you're seeing this @Wolfy64
This appears to be a Chrome bug https://bugs.chromium.org/p/chromium/issues/detail?id=918944

Related workbox issue at https://github.com/GoogleChrome/workbox/issues/1811

Can you try disabling `chrome://flags/#enable-service-worker-servicification` and see if you can still reproduce it?

[2019-01-08 12:39] pieh commented on #10871
@chawax I just checked and currently documented route globs works for me (TM), but my routes looks like `/wp/v2/posts` (without protocol + host like in your example), did you set `protocol` option in gatsby-config to `https`?

In either case there is no harm in adjusting docs to use `**` (it still works in my tests) but maybe we could look into why discovered routes differ.

@cardiv
By default `in

[2019-01-08 12:46] #10871 closed

[2019-01-08 12:50] chawax commented on #10871
@pieh I set `protocol` to `https`. I tried with `http` too but behaviour is the same.

I saw `minimatch` lib is used to check the route name. I have version 3.0.2 in `node_modules`. I don't know if it can be part of the problem, but I work on OSX. And my node version is 10.13.0.

[2019-01-08 13:21] alexcroitoru95 commented on #10253
The problem was the **maintainCase: true** on gatsby-config.js.

[2019-01-08 13:21] #10253 closed

[2019-01-08 13:30] jtanguy commented on #8712
The PR #8885 has been merged, I think this issue can be closed

[2019-01-08 13:33] LekoArts commented on #8712
Yeah!

[2019-01-08 13:33] #8712 closed

[2019-01-08 13:43] sidharthachatterjee commented on #10908
Thank you for opening this @holyjak

We would love to accept a PR with more examples 🙂

[2019-01-08 13:54] cpboyd opened #10912 "gatsby build does not call componentWillMount()"
## Description

The redux state for the current page doesn't seem to be cleared from a prior rendering or updated by `componentWillMount()` before being rendered.

Possibly due to asynchronous rendering?

### Steps to reproduce

1. Have a site with multiple pages using a single, global Redux in `wrapRootElement()`
2. Modify a redux state parameter utilized by layout in `componentWillMount()`
3. La

[2019-01-08 14:14] jtanguy opened #10914 "Extend the gastby-transformer-asciidoc plugin"
## Summary

I would like to enhance the `gastby-transformer-asciidoc` plugin, making it extensible like `gatsby-transformer-remark`.

I would like to add the a `gastby-asciidoc-images` plugin to the asciidoc  transformer, to process images like the remark plugin.

### Basic example

I understand that the basic plugin structure would be the following:

[code]

However the `gatsby-remark-images` plu

[2019-01-08 14:33] sidharthachatterjee commented on #10910
Hey @Marijan111

Are you setting `NODE_ENV` to `production` anywhere explicitly?

[2019-01-08 14:35] sidharthachatterjee commented on #10912
Hey @cpboyd

Can you please link to a minimal reproduction of this?

[2019-01-08 14:45] sidharthachatterjee commented on #10914
Hey @jtanguy

If I understand your question correctly, you want to be able to transform images that are referenced in asciidoc?

Can you elaborate a little more on what issue you're facing?

[2019-01-08 14:58] hexrcs commented on #6480
I'm also having this issue recently, haven't tried to investigate yet. Symptoms are exactly like what @khwkang has described, but didn't notice this happening when my project was on a beta version of Gatsby v2.

Gatsby CLI version: 2.4.8 (noticed since 2.4.5)
Gatsby version: 2.0.59

[2019-01-08 15:08] hagnerd commented on #10884
Good deductions! The scroll on refresh does seem to be pretty common then, but I wonder if that is just a constraint to be worked around in a single page web app that supports caching scroll position.

It's likely because the scroll position is being set by the JavaScript once the page is loaded 🤔. And if that's the case, I'm not quite sure how you'd prevent that from happening or how Gatsby would

[2019-01-08 15:16] imshuffling commented on #10886
Thanks @sidharthachatterjee

I've added the repo here - https://github.com/imshuffling/auth0-test

[2019-01-08 15:20] arturhenryy opened #10915 "gatsby-source-wordpress create pages programmatically for translated pages with wpml"
## Summary

Hello,

i am having trouble setting up the multilingual feature for my gatsby app. i have setup all the relevant stuff in my wp backend and translated the relevant pages already. what i was trying to do next was to programmatically create the pages for original language and translated page via the gatsby-node.js like below.

[code]

the problem i have right now is that if i query all m

[2019-01-08 15:21] jonnybot0 commented on #1457
Pardon the spam... trying to decide the most appropriate place to leave this comment. **If you've read this far looking for answers to the above problem, just skip this note! Everything you need to know is above.** :)

I've been toying around with gatsby themes. I created a theme, and installed it into my project via yarn (that is, as a dependency in my package.json). My theme used the above solut

[2019-01-08 15:31] antoinerousseau commented on #3792
thanks @szimek for sharing your code.
isn't `fetch` [already polyfilled by gatsby](https://www.gatsbyjs.org/docs/browser-support/)?

[2019-01-08 15:34] sidharthachatterjee commented on #10870
Thank you for opening this @martynhoyer

I added a resolver for the `markdownAst` to `gatsby-transformer-remark` so inspect what remark returns for the markdown you posted above

Calling `remark.parse(markdownNode.internal.content)` on it returns
[code]

Looks like it is an upstream issue with remark
![screenshot 2019-01-08 21 01 29](https://user-images.githubusercontent.com/7701981/50840448-95ba3

[2019-01-08 15:35] antoinerousseau commented on #2177
is importing `babel-polyfill` still required for older browsers in current Gatsby version?

[2019-01-08 15:35] joakimbording commented on #9139
Same problem here. Using the `gatsby-plugin-google-analytics` cause page view reports in GA with the correct path and previous pages title.

[2019-01-08 15:39] pieh commented on #7642
@Marijan111 can you try running this: `NODE_ENV=development gatsby develop` and see if this fixes the issue?

[2019-01-08 15:45] sidharthachatterjee commented on #10915
Not familiar with `wpml` but quick question—does allWordpressPage include pages in all languages or just the current language?

If the plugin only fetches pages for the current language, then this might require a patch to `gatsby-source-wordpress`

[2019-01-08 15:48] cardiv opened #10916 "Advanced proxying: ERR_TLS_CERT_ALTNAME_INVALID"
I tried [this example](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/api-proxy.md) on advanced proxying in Gatsby, but I constantly got the error `Error occured while trying to proxy to: localhost:8000/ENDPOINT/` with code 500 when I visited `localhost:8000/api/` in the browser.

My shell displayed the following error: `ERR_TLS_CERT_ALTNAME_INVALID`
I had to add `changeOrigin` to the fo

[2019-01-08 15:51] arturhenryy commented on #10915
@sidharthachatterjee it only includes current language but i dont think this i a problem with `gatsby-source-wordpress` because if i check `http://jmb.dgn.mybluehost.me/wp-json/wp/v2/pages` there are only the pages in original language as well. to get the english ones i need to prepend ?lang=en to the url.

but right now i dont see any good way how to fetch those pages in gatsby.

[2019-01-08 16:04] sylvhama commented on #7737
Sorry my previous comment was incomplete. When combining Link's `avtiveStyle` or `activeClassName` with `gatsby-plugin-offline` and with `wrapPageElement` from gatsby-browser / gatsby-ssr then the active style won't be shown when refreshing the page. I guess it's related to the fact the Service Worker will cache the nav bar when all links are inactive.

Demo: https://gatsby-link-active-test.netlif

[2019-01-08 16:06] #10800 closed

[2019-01-08 16:11] sidharthachatterjee commented on #10886
Thanks @imshuffling

I've sent you a pull request fixing the issues at https://github.com/imshuffling/auth0-test/pull/1

Here were the problems
- the webpack config was being overridden to ignore auth0-js, I removed that because it is not necessary (please correct me if I am wrong)
- some code in Layout was trying to access `localStorage` in the render function which was breaking during `build` be

[2019-01-08 16:11] Wolfy64 commented on #10899
Thanks @sidharthachatterjee you right it's Chrome bug!

If I disabling the service worker it works.
So I close this issue.

[2019-01-08 16:11] #10899 closed

[2019-01-08 16:14] frivolta opened #10918 "Gatsby, form and post request"
## Summary
Hello I am sorry for the static site newbie question it is my first attempt with a static site generator.
I am wondering what is the best way to manage post request from Gatsby. I would like to have a wordpress headless backend with Gatsby frontend. I will have no problems pulling data thanks to gatsby-source-wordpress, my question is about posting to the backend. For example, let's say

[2019-01-08 16:18] antoinerousseau commented on #7003
I still have this issue with Gatsby v2 in IE11

[2019-01-08 16:48] imshuffling commented on #10886
Thanks @sidharthachatterjee

![screenshot 2019-01-08 at 16 43 04](https://user-images.githubusercontent.com/739061/50845626-38f95600-1365-11e9-824c-640ab68cf364.png)

Getting this error now when i run `gatsby develop`

[2019-01-08 16:52] sidharthachatterjee commented on #10886
@imshuffling Can you please clear the `.cache` directory and try again?

[2019-01-08 16:58] imshuffling commented on #10886
Whey thanks `gatsby develop` works.

Though when I goto `gatsby build` i see this.

![screenshot 2019-01-08 at 16 57 15](https://user-images.githubusercontent.com/739061/50846220-8924e800-1366-11e9-945e-0326bd5ae5f8.png)

[2019-01-08 17:06] #5794 closed

[2019-01-08 17:06] #7450 closed

[2019-01-08 17:06] #7614 closed

[2019-01-08 17:06] #7615 closed

[2019-01-08 17:06] #7633 closed

[2019-01-08 17:13] jonniebigodes commented on #10918
@frivolta not at all. You can have it both ways. You can use graphql for pulling data from the wordpress cms and you can make post requests back to the cms using rest. Gatsby does not mind, If you browse through the starters library and see the actual code you'll see that most of them use graphql to get data and rest to post back. Hope i could be of assistance,

[2019-01-08 17:16] sidharthachatterjee commented on #10886
I can't seem to reproduce this @imshuffling

`master` in your repository works fine for me after the merge
![screenshot 2019-01-08 22 44 26](https://user-images.githubusercontent.com/7701981/50847229-0ff1b900-1397-11e9-92d3-0e06666ba6e6.png)

Could you clear `.cache`, delete node_modules, run npm install and try again?

[2019-01-08 17:42] cpboyd commented on #10912
@sidharthachatterjee Based on the "using-redux" example from this repo:
https://github.com/cpboyd/gatsby-redux-bug

All pages should initially display a "1" since they'd be the first page loaded (and, thus, `componentWillMount()` ought to have been called exactly 1 time).

That's the behavior with `gatsby develop`.

However, `gatsby build` results in the following:

0. A
1. B
2. C
3. Home

Note th

[2019-01-08 17:44] #10883 closed

[2019-01-08 17:58] cardiv commented on #10918
Hey @frivolta,

this is exactly what [I am working on](https://github.com/gatsbyjs/gatsby/issues/10714).

Writing to WordPress using the REST API requires authentication of a user with the permissions.
But how do we authenticate without exposing both credentials and API endpoints to the visitor?

There are some authentication plugins like [JWT](https://de.wordpress.org/plugins/jwt-authentication-f

[2019-01-08 18:05] d3lm commented on #10884
Yea, but again... this was working properly in v1 so there must be some regression, no? I would like to avoid turning this off because this is basically how every other site behaves as well, that if you reload, you end up where you left off - in terms of scroll position.

[2019-01-08 18:11] cardiv commented on #10915
Did you install [wpml-rest-api](https://github.com/shawnhooper/wpml-rest-api) as documented in [gatsby-source-wordpress](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress)?

Also, I think your query misses [something](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress#query-posts-with-the-wpml-fields-node):

[code]

[2019-01-08 18:14] rotexhawk commented on #10895
This happens both in prod and locally, even with the cache disabled and in incognito. I will create a minimal repo and post it here.

[2019-01-08 18:14] laradevitt commented on #9917
I came across this error and just wanted to clarify for others what @Steffi3rd is saying above:

From Kyle Mathews' https://github.com/gatsbyjs/gatsby/issues/8481#issuecomment-424143867:

It should be obvious but, I confess, I sometimes forget this.

So if you see the error it's likely there is an item (page or post or whatever the image should be attached to) that's missing an image.

Fixed by ad

[2019-01-08 18:15] systemride commented on #1790
Since this still shows up in google search results, I thought it was worth mentioning that adding to Helmet no longer works.

Using the gatsby plugin does:
https://www.gatsbyjs.org/packages/gatsby-plugin-html-attributes/

[2019-01-08 18:19] DSchau commented on #1790
@systemride we use `htmlAttributes` in our starters.

See [gatsby-starter-default](https://github.com/gatsbyjs/gatsby-starter-default/blob/master/src/components/seo.js#L15) as an example.

[2019-01-08 18:32] zslabs commented on #10866
👋 I created https://github.com/zslabs/remark-relative-links and https://github.com/zslabs/gatsby-remark-relative-links which are pretty straight forward implementations on both end of the spectrum if you want to take a look at those. Are you placing that local plugin in `/plugin` because it needs to be `/plugins`

[2019-01-08 18:39] hagnerd commented on #10884
If we go further down the rabbit hole, `gatsby` uses `gatsby-react-router-scroll` for scroll behavior, and they implemented a temporary fix for issue #7758 in August which is the last update the source for that project has had and could explain the issue not being present in a v1 website.

However the issue this was a temp fix for, `@reach/router` [(#119)](https://github.com/reach/router/issues/11

[2019-01-08 18:43] TylerBarnes commented on #2114
That makes sense, that is tricky. It would be mindblowing to see gatsby shave off even that much more since you guys are already doing such an incredible job on optimization. Either way I'm excited to see what comes out of this issue.

[2019-01-08 18:45] Marijan111 commented on #10910
No, but I found this in render-page.js.map in public folder: '(process.env.NODE_ENV !== 'production')'

[2019-01-08 18:49] Marijan111 commented on #7642
It just gives me an error 'NODE_ENV=development : The term 'NODE_ENV=development' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.'

[2019-01-08 18:52] arturhenryy commented on #10915
@cardiv yeah the wmpl-rest-api is installed but its only used to add current locale and the link to the translation to the api entry. and yeah i dont really need that referenced query block. i think basically the problem is that wpml only adds the default language entries to the pages api endpoint and the translated page entries are only available if the lang=en parameter is appended

[2019-01-08 19:04] cardiv commented on #10915
Your current query fetches only the default locale. If you want to create pages from the translated ones, you need to query these too. The query block I posted does that.

Or what are you trying to do?

[2019-01-08 19:12] andrico1234 commented on #9876
Hey all!

About a month ago I opened the PR (https://github.com/gatsbyjs/gatsby/pull/10490), and a couple of the members of the Gatsby team were kind enough to go through the entire article (which is lengthy) and leave a few suggestions for improvements.

I fixed them all about 2 weeks ago and have been waiting for approvals. I can understand that those particular reviewers may be busy, or out of

[2019-01-08 19:13] ewagstaff commented on #2293
I've taken a couple stabs at this but without luck. From the example in the tutorial, it seems like for each new optimized image URL, you need a separate component. I couldn't find an example of a gatsby-image optimized component being passed an image URL from a file or elsewhere.

I understand it can't be done at run time, but I'm not sure how it can be done at build time.

[2019-01-08 20:31] yeskunall commented on #7642
@Marijan111 oh, that’s because you’re using Windows. In that case, first install [`dotenv`](https://www.npmjs.com/package/dotenv), add `require('dotenv').config()`, then do as @pieh suggested!

[2019-01-08 21:37] ewagstaff commented on #2293
For all who arrive at this issue later, here is what eventually worked for me:

[code]
Then images can be used anywhere like this:
`<Image imgsrc="yourimage.jpg" />`

(Please let me know if there's a flaw in my implementation here.)

[2019-01-08 21:42] gurpreet-hanjra opened #10928 "Custom page name (multilingual)"
Hello, I'm not really sure how to call this feature/functionality. But I will try to explain as much I can -
I have a multilingual static website in 2 languages - en and de. I'm not using any gatsby i18n plugin. Just custom implementation to load strings dynamically from JSON file as per language selected. So, a single page like `pages/contact.js` loads in both cases with different languages.
So n

[2019-01-08 22:23] amberleyromo commented on #10907
@LMulvey sure, thanks for offering!

[2019-01-08 22:34] LMulvey commented on #10907
@pieh, @amberleyromo - I've got it in progress at home, I'll submit a PR tonight. I added links to the bottom of the blog-list (underneath Pagination) and to the individual post templates.

I'm wondering though–should we maybe explore making the existing tag page a bit more user-friendly? I'd scour for a few examples of tag pages but at the very least maybe break the tags into a few columns? The l

[2019-01-08 22:36] arturhenryy commented on #10915
@cardiv sorry i dont really know what you mean here. how should this code nested inside the node influence the nodes above being fetched? the problem is that the translated pages are not even showing up in the api response.

[2019-01-08 22:38] pieh commented on #10907
By no means I meant that current page is perfect ;) just wanted to add more context to the issue - code is located here - https://github.com/gatsbyjs/gatsby/blob/master/www/src/pages/blog/tags.js

[2019-01-08 23:41] dlindahl commented on #7827
Sorry, didn't mean to imply that the plugin itself is broken. It does require an extra step of configuration in order to work that I did not see documented in the plugin. Specifically, the code that needs to be added to `gatsby-ssr.js` that @sylvhama linked to. I think including example code for `gatsby-ssr.js` in the README would be very helpful.

[2019-01-09 00:05] jgierer12 commented on #10928
You could set up a [redirect](https://www.gatsbyjs.org/docs/actions/#createRedirect), or create two pages for the two languages (`pages/contact.js` and `pages/kontakt.js`) which share the same components.

[2019-01-09 01:09] jwilliamhall commented on #5100
I also had the same issue running Styled Components on Netlify. Installing [gatsby-plugin-styled-components](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-styled-components) and adding it to my config file did the trick.

**Note:** I had to clear my browser cache to see the changes.

[2019-01-09 01:20] marisamorby commented on #9748
@fk:
Blocked until we decide on messaging. We need to create a new plan after we complete messaging and prototype research.

We will create a new issue once the research is completed and we can work on prototyping.

[2019-01-09 01:20] #9748 closed

[2019-01-09 01:21] marisamorby commented on #9755
Closing this until messaging and prototype research is completed. We will create a new issue once we have direction on next steps.

[2019-01-09 01:21] #9755 closed

[2019-01-09 01:32] jazzlexter commented on #8612
@Douglashdaniel this used to work for me, but not it just started to run into the same error as above

[2019-01-09 01:35] marisamorby commented on #9525
This is blocked by the .org homepage research. We'll revisit once research is complete and we can get to design.

[2019-01-09 01:36] marisamorby commented on #9526
This is blocked on research and messaging, so I will pass this over once we are on to next steps.

[2019-01-09 01:37] marisamorby commented on #9754
Closing because we will update once research is done.

[2019-01-09 01:37] #9754 closed

[2019-01-09 01:47] marisamorby commented on #9752
@fk: Closing this since we will do layout prototyping that will answer where this should live on the homepage.

[2019-01-09 01:47] #9752 closed

[2019-01-09 01:50] marisamorby commented on #9753
@fk: This requires research to validate whether this is important to people and we want to move forward with any design. I've reassigned to @shannonbux, but we aren't prioritizing this for now.

[2019-01-09 03:04] markhagemann opened #10934 "Heroku deployment with heroku-buildpack-static using https_only set to true isn't enforcing https"
I've deployed a gatsby site with heroku using https://github.com/heroku/heroku-buildpack-static and my understanding is that if https_only is set to true in the static.json file then it should be forcing http requests to https.

static.json
[code]

When logging into heroku and viewing the deployed static.json it is also set to true.

The site is https://www.ltnetwork.co/

Thanks

[2019-01-09 03:44] EvHaus commented on #9632
I am having the same issue with `gatsby-source-wordpress`. To reproduce simply add the following `gatsby-config.js` plugin:

[code]

The error is a complete failure of the Gatsby build with:

[code]

[2019-01-09 04:15] KyleAMathews opened #10935 "The plugin library sidebar "blinks" when you change links"
![kapture 2019-01-08 at 20 13 09](https://user-images.githubusercontent.com/71047/50876478-1cb7e200-1382-11e9-9326-dbf9dbfbb002.gif)

[2019-01-09 04:58] jgierer12 commented on #10934
Works fine for me, navigating to `http://ltnetwork.co` in incognito mode redirects to `https://www.ltnetwork.co`.

[2019-01-09 05:01] tylerhunt opened #10937 "[gatsby-image] Transparent PNGs always fade-in"
## Description

When using a PNG with a transparent background, there's a blurred fade-in effect even with `fadeIn` set to `false`.

### Steps to reproduce

Add a PNG with an alpha channel to the page using `<Img fadeIn={false} />`.

### Expected result

There should be no fading when the page loads or when navigating between pages.

### Actual result

A blurred version of the image is visible for

[2019-01-09 05:33] markhagemann commented on #10934
It does redirect to https://www.ltnetwork.co but once the page has loaded, if I edit the address in chrome to remove the s from https it will allow me to view http://www.ltnetwork.co

Example:
https://imgur.com/a/AXZpTzz

Are you able to reproduce that? I'm not sure if the https_only option is meant to work the same way as htaccess or nginx server blocks for forcing port 80 to 443.

[2019-01-09 05:33] jasonxia23 commented on #10708
If there is no any other reason, probably technical, passing pre and next location is better. I can do some help.

[2019-01-09 06:20] polarathene commented on #6125
@KyleAMathews is it? I just went to raise a new issue(This one came up when I entered DX in the title).

I'm on what I assume is a slow connection in China with a VPN to the outside world. I ran `gatsby build` on the `using-gatsby-image` example and wondered why it was taking so long or if it had hung(or in some sort of loop). Then I noticed this example is pulling images remotely, 130MB worth..

[2019-01-09 07:38] freiksenet commented on #4261
@stefanprobst We definitely do want to fix the issues with Gatsby schema. I'm currently responsible for this issue at Gatsby and I'm very interested in helping more with that. Maybe we should sync up on that more? We can chat eg in Discord (Gatsby Discord https://discord.gg/jUFVxtB) or we can set up a voice/video call.

So resolve functions depend on resolver type signature (parent, args, context,

[2019-01-09 07:50] gurpreet-hanjra commented on #10928
Thank you @jgierer12 I would try server redirect. And creating 2 pages for different languages is something I wanted to avoid. Because there would be good number of pages and would be exactly same.

[2019-01-09 08:07] martynhoyer commented on #10870
Thanks for looking! I did a bit more research myself and ended up at the remark route too. It's a bit odd though - using this preview tool it seems to work as expected and that uses remark/unified under the hood:
https://rexxars.github.io/react-markdown/

This one, however has the same issue, but _doesn't_ appear to be using Remark at all...! 🤷‍♂️
https://markdownlivepreview.com/
https://github.co

[2019-01-09 08:37] Marijan111 commented on #7642
Okay, I've installed [`dotenv`] and it's working now. Could you please explain to me why this happens, I'm new to Gatsby. Thank you!

[2019-01-09 08:56] LekoArts commented on #10935
https://github.com/gatsbyjs/gatsby/pull/10590
😊

[2019-01-09 09:00] hackhat commented on #2928
Thanks but for some reason is not doing that :(

Plugins:

[
    {
      resolve: `@wapps/gatsby-plugin-material-ui`,
      options: {},
    },
    `gatsby-transformer-sharp`,
    `gatsby-plugin-sharp`,
    {
      resolve: `gatsby-plugin-sitemap`,
      options: {
        exclude: [
          '/internal/**',
        ],
      },
    },
    `gatsby-plugin-catch-links`,
    `gatsby-plugin-emotion`,

[2019-01-09 09:01] hackhat commented on #10881
I can't reproduce it all the time but it happens on all projects. I'm quite sure it is not just because of my setup because I'm not doing anything special, just using some plugins and config:

[
      {
        resolve: `@wapps/gatsby-plugin-material-ui`,
        options: {},
      },
      `gatsby-transformer-sharp`,
      `gatsby-plugin-sharp`,
      {
        resolve: `gatsby-plugin-sitemap`,

[2019-01-09 10:09] davidbailey00 commented on #9087
Hi @laradevitt, I believe the problems you've described should be fixed in #10432 - hopefully this should be merged soon so please could you have another look once this is ready? Thanks!

[2019-01-09 10:21] Dogtiti opened #10939 "[gatsby-source-strapi] only return 100 data"
[code]
In fact , I have more than 1000 data in my database,but it only return 100 .In `strapi dashboard`also have all data.
![image](https://user-images.githubusercontent.com/38354472/50893180-43861f00-143b-11e9-9a1d-e698a7a48c52.png)
![image](https://user-images.githubusercontent.com/38354472/50893201-526cd180-143b-11e9-9f24-b71f7ed009d4.png)

[2019-01-09 10:43] wardpeet commented on #7642
@Marijan111 In gatsby we check for the global NODE_ENV variable to change our process. When running `gatsby develop` we check if it's set. In our code we set check `process.env.NODE_ENV !== 'production'`. Some tools or processes might set the global NODE_ENV to "production". Like @pieh suggested we should not look at NODE_ENV when running gatsby develop.

you can test if this is the case by runnin

[2019-01-09 10:46] YMIndustries commented on #10036
I've found a way to reproduce this bug reliably on my site. If I use the DevTools (in Firefox or Chrome) and in settings select "Disable Javascript", my site will always appear as a blank page. (Service Workers continue running even when JS is disabled, which is interesting)

It has taken me a long time to find the cause of this issue, because in Firefox (my primary browser) there's no indication

[2019-01-09 10:49] sidharthachatterjee commented on #10870
https://rexxars.github.io/react-markdown doesn't use `mdast-util-to-hast`

It has its own renderers for elements. They do seem to include paragraphs in non tight lists in the last element at https://github.com/rexxars/react-markdown/commit/3bee068ea60069a5ce8a6b964e66ed35f0e4992f

[2019-01-09 10:55] martynhoyer commented on #10870
I see! In that case, apologies for the noise!

[2019-01-09 10:55] sidharthachatterjee commented on #10928
@gurpreet-hanjra You're probably better off creating pages for each language in `gatsby-node` _and_ using redirects to ensure the user is on the right page.

Without multiple pages being server side rendered, you'll have have a flash of the default language Strings if i18n is client side

[2019-01-09 10:58] sidharthachatterjee commented on #10870
No problem at all, @martynhoyer 🙂

Let's keep this open for now and see what everyone else thinks

[2019-01-09 11:10] sidharthachatterjee commented on #10934
Hey @markhagemann

Looks like it enforces `https` for me. Since this has to do with heroku-buildpack-static specifically I'd open an issue at https://github.com/heroku/heroku-buildpack-static 🙂

Closing this for now but please feel free to reopen if there is something Gatsby related that we can help with!

[2019-01-09 11:10] #10934 closed

[2019-01-09 11:17] sidharthachatterjee commented on #10937
Thank you for opening this @tylerhunt

From the documentation at https://www.gatsbyjs.org/packages/gatsby-image/

Can you try removing Base64 from your query and confirm if this happens?

[2019-01-09 11:22] LekoArts commented on #8714
@mrfunnyshoes Hi! So is your plugin ready to go for a PR against Gatsby's repo? If so we should close this PR https://github.com/gatsbyjs/gatsby/pull/8875 and you can open up yours. Please let us know if you need help with the PR.

I don't think you need to publish to npm as the monorepo will handle this once your PR is merged 👍

[2019-01-09 12:15] cardiv commented on #10915
I tried that locally and, to be honest, after a closer look at the use case I can see your issue now.

As you can see, I have worked out a PR that is on the way to handle parameters with custom routes. So you could request `/wp/v2/pages/?lang=en` and you have the translated pages.

But I have some trouble getting the fetched response into GraphQL. Hopefully, this will get merged soon!

[2019-01-09 12:43] ukch commented on #10816
It's very strange that you can't reproduce the issue at all. Are you using the provided `node_modules` from the zip archive, or did you rebuild them?

Correct. But as mentioned in the original bug report, `window.URL` itself is being overwritten. To test:

* On Firefox, open the developer tools and switch to the console tab
* Type `URL` into the console, and inspect the output

On a normal site (e

[2019-01-09 12:43] ukch commented on #10816
I'm on Firefox 64 by the way, just in case that matters.

[2019-01-09 13:40] iamskok commented on #5030
Hi, guys! Is there any progress with this feature?

[2019-01-09 13:45] necheporenko commented on #3150
Using plugin gatsby-source-filesystem add also path to your folder with .md files.

[2019-01-09 13:53] LekoArts opened #10943 "[gatsby/www]: Fix ESLint warnings"
## Problem

When running `yarn lint:code` on Gatsby's repository you'll be greeted with some ESLint warnings. It would be nice to fix those warnings!

[code]

## Solution

Follow the [How to Contribute](https://www.gatsbyjs.org/docs/how-to-contribute/) guide. If you want to validate the fixes in the browser console you'll also need to run the `www` (gatsbyjs.org) site at some point.

To speed up t

[2019-01-09 14:47] pieh commented on #2114
Another resource/guide for setting up webpack + babel to produce 2 sets of bundles https://web.dev/fast/serve-modern-code-to-modern-browsers/codelab-serve-modern-code

[2019-01-09 15:07] tylerhunt commented on #10937
@sidharthachatterjee Thanks for the quick response. The `_noBase64` suffix did the trick. Somehow missed the note in the documentation.

[2019-01-09 15:07] #10937 closed

[2019-01-09 15:39] trickydisco78 commented on #10794
We've gone live now. The first university homepage in the world to use gatsby (as far as i know)

https://www.bristol.ac.uk

[2019-01-09 15:40] laradevitt commented on #9087
@davidbailey00 - Thanks! Yes, I mentioned that PR above. Was looking for a quick fix in the meantime but I guess I should just be more patient. :) If there is anything I can do to help test, let me know.

[2019-01-09 16:02] patricksimonian commented on #5030
Sorry i've been swamped at work, we ended up forgoing this feature as apart of our sprints in favor of other ones so I haven't had a chance to take a look

[2019-01-09 16:20] #9084 closed

[2019-01-09 16:21] amberleyromo commented on #10935
Closed in #10590

[2019-01-09 16:21] #10935 closed

[2019-01-09 16:51] freshcoat commented on #1878
Hello,

My scenario is the needs of having one code base but to ability to build different production builds with different languages.

It would be pity if such option won't be supported as I want to pull website translations based on a env locale variable through i18next during the production build. What I don't want is a website based on a language switcher, I don't want to put any locale parame

[2019-01-09 17:03] ChristopherBiscardi commented on #7379
This btw is completely fixed in gatsby-mdx in the 0.3 line (current stable version 0.3.3), so shouldn't appear anymore related to that library

[2019-01-09 17:06] #6176 closed

[2019-01-09 17:06] #7591 closed

[2019-01-09 17:06] #7629 closed

[2019-01-09 17:06] #7592 closed

[2019-01-09 17:11] pgegenfurtner commented on #7064
Any news on this? With the new theming capabilities it would be a great addition to extract graphql fragments into a theme. Or could this be achieved in any other way?

[2019-01-09 17:16] DSchau commented on #7064
@pgegenfurtner great point! So how we currently handle this now is we leverage the existing APIs we already offer. Longer term--we'd like to _not_ have to do this (e.g. transpile node_modules) but for now, you can just use `onCreateWebpackConfig` to transpile the current theme.

For an example, check out my [blog-theme](https://github.com/DSchau/gatsby-theme-blog/blob/master/gatsby-node.js#L130).

[2019-01-09 17:21] LekoArts commented on #9085
Fixed with https://github.com/gatsbyjs/gatsby/pull/10945 👍

[2019-01-09 17:21] #9085 closed

[2019-01-09 17:21] thorn0 commented on #10866
@Songkeys

From this error, you can see where Gatsby tries to find the plugin. Put your code there, not to `/plugin/gatsby-remark-breaks/src/index.js`.

[2019-01-09 17:30] DSchau commented on #5030
@iamskok sure!

One note here: a PR was opened up on one of my repos that implements this feature.

I haven't had a ton of time to take a look, but feel free to take that as a base!

https://github.com/DSchau/gatsby-remark-code-titles/pull/1

[2019-01-09 17:41] pgegenfurtner commented on #7064
@DSchau thank you for your quick response!
Via [this issue](https://github.com/ChristopherBiscardi/gatsby-theme-examples/issues/14) and your [fixing commit](https://github.com/gatsbyjs/gatsby/pull/10835) I found out about the naming convention with `gatsby-theme-*`. It works just like I imagined!

Definitely one of the best new gatsby features.

[2019-01-09 17:52] KyleAMathews opened #10948 "Show progress for downloading remote files"
Many plugins rely on [`createRemoteFileNode` from `gatsby-source-filesystem`](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/?=#createremotefilenode) to download files from remote systems. E.g. gatsby-source-wordpress downloads all the files from the wordpress instance so you can include them in your site and do data transformations e.g. image thumbnail creation.

This is great but som

[2019-01-09 17:55] KyleAMathews opened #10949 "Push changes to example sites to own repos so they can be installed as starters"
Ref https://github.com/gatsbyjs/gatsby/pull/10310

[2019-01-09 17:58] KyleAMathews commented on #4746
gatsbyjs.org's page metadata chunk is up to 451kbs yikes 😬

[2019-01-09 18:36] shannonbux opened #10950 "Site search is linking to headers when not needed"
## Description & Steps to Reproduce

1. I typed in "api" into the search bar on .org
2. clicked on the title "Debugging replace renderer api"
3. it took me to:
https://www.gatsbyjs.org/docs/debugging-replace-renderer-api/#debugging-replace-renderer-api

Seems strange that it took me to the title instead of the overall page, since they have the same name...the URL just looks messy.

### Expected re

[2019-01-09 18:39] shannonbux opened #10951 "Plugin library shows two plugins selected"
## Description & steps to reproduce

At https://www.gatsbyjs.org/plugins/
1. I typed in "shopify"
2. I clicked on `gatsby-source-shopify2`
3. I couldn't tell which READme file was getting pulled up on the right, partially because the titles of both `gatsby-source-shopify2` and `gatsby-source-shopify` are the same, and partially because the sidebar looked like both plugins were selected:

<img widt

[2019-01-09 18:42] DSchau commented on #10890
cc @xjamundx, you'd be interested in this too, correct? With the additional consideration of `nonce` if I recall, correctly?

[2019-01-09 18:43] Songkeys commented on #10866
@th0th
I made a typo here, it's `/plugins` where I put.
But it's worthy noticing that the `index.js` should be indeed placed into `/gatsby-remark-breaks` but not `/src`. I resolved this after doing that. Thanks!

---

@zslabs
Thanks for your reference. I saw you have two same `index.js` file under root and `/src` folder. What's that for?
I refered to some other projects. They just put `index.js` u

[2019-01-09 19:12] karenhou opened #10953 "dead link in e-commerce tutorial"
## Description

So I was reading the gatsby/docs/docs/ecommerce-tutorial/index.md for tutorials on how to do a e-commerce with Gatsby, then I found that the link for the following leads to a 404 page. I have no idea what the main tutorial is referring to.
![image](https://user-images.githubusercontent.com/6285935/50922020-6d2d4f00-1417-11e9-8e2c-d1d7643b5105.png)

[2019-01-09 19:14] cezarcarvalhaes opened #10954 "Unique case: Version 2.0.90 not working well with loadable component and unstated."
## Description

Bear with me, this is a bit odd:

We have a Gatsby project that pulls in a create-react-app as a submodule. The create-react-app component is being async loaded using @loadable/component. The component renders perfectly in Gatsby v2.0.80, but when I updated to v2.0.90, I got an error saying that <Subscribe> components must be wrapped by a <Provider> component from unstated. The cre

[2019-01-09 20:03] sarahbethfederman commented on #10592
Just throwing this out there...is there a way to possibly use the contentful sync API to update the content? https://www.contentful.com/developers/docs/concepts/sync/

[2019-01-09 20:14] gurpreet-hanjra commented on #10953
It's due to relative link `/tutorial/` that works fine when coming from https://www.gatsbyjs.org/docs/ecommerce-tutorial/ but it doesn't relate properly on Github. Maybe have absolute path like other links in md file.

[2019-01-09 20:58] sarahannnicholson commented on #5377
To add some more details to this...

I know Gatsby dynamically creates the schemas from your data source(s), but is there something on wordpress's side I need to do in order to see the `localFile` property in `featured_media`?

I've been trying to understand why `localFile` isn't present in my schema for a while now. And I am constantly seeing examples like in the [Gatsby gatsby-source-wordpress p

[2019-01-09 20:58] #10953 closed

[2019-01-09 21:11] daydream05 opened #10957 "[v2.0.9] useHooks causes webpack error when deployed to Netlify"
## Description

In local development, useHook works but when deployed to Netlify, it breaks

### Steps to reproduce

Install the latest GatsbyJS, update to the latest React packages
and useHooks (see what i did there)

Here's the link to the repo https://github.com/daydream05/engravethatshit-website

### Expected result

The site should build and webpack should recognize hooks

### Actual result

[2019-01-09 21:13] DSchau commented on #10957
Hey! Fun (or not so much) :)

Checking this out now.

[2019-01-09 21:16] daydream05 commented on #10957
@DSchau Awesome thanks! You're about to kill two birds with one stone! Taught me hooks and possibly fix a bug haha

[2019-01-09 21:20] t2ca commented on #10957
Have you tried changing react and react-dom to 16.8.0-alpha.0

[2019-01-09 21:30] daydream05 commented on #10957
@t2ca that did the trick!! Thanks! I was at 16.7.2. Closing this now

[2019-01-09 21:30] #10957 closed

[2019-01-09 21:31] DSchau commented on #10957
@daydream05 heh - the alpha you're using should have still worked. Weird!

https://github.com/DSchau/engravethatshit-website/blob/master/package.json#L23

Glad to hear it's solved, thanks @t2ca!

[2019-01-09 21:38] t2ca commented on #10957
It's possible that Netlify was using 16.7.0 which doesn't support hooks instead of 16.7.0-alpha.2

[2019-01-09 21:49] sarahannnicholson commented on #6879
hmm quick question, how would one make a jwt authenticated request to wordpress?
I had a peek at the [gatsby-source-wordpres docs](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/) and couldn't find an example.
I was hoping to see some queries in GraphQL?

[2019-01-09 22:56] openmedi commented on #6879
The authentication and usage of the token happens automatically behind the scenes, so you don't need to explicitly do anything different when using JWT authentication.

[2019-01-09 23:21] MitchellJThomas opened #10958 "underscore.string < 3.3.5: Moderate vulnerability for gatsby-transformer-remark"
## Description

npm audit found 1 moderate severity vulnerability

### Actual result

[code]
### Environment

[code]

[2019-01-09 23:21] zslabs commented on #10866
Sounds like a good PR idea for ya 😏

Just a bit of redundancy on my end. The one in `/src/` is what I edit; and when run through babel, it spits out what is actually consumed by the user in the root one. The other way you mentioned is also perfectly fine.

[2019-01-09 23:33] MitchellJThomas commented on #10958
I'm not an experienced JS coder... but I am daring (foolish) enough to try.

[2019-01-09 23:34] DSchau commented on #10958
@MitchellJThomas you got this 💪

Happy to [pair with you](https://www.gatsbyjs.org/docs/pair-programming/) if that helps you get this started, as well!

[2019-01-09 23:39] ethagnawl commented on #10794
Before this gets closed: I think I'm seeing the same/a related issue and I'm wondering if there's anything I can do to prevent it. (Happy to open a separate issue if that's preferred.)

I'm deploying my site to http://somewhere.s3-website-us-east-1.amazonaws.com. For $REASONS, I'm also deploying a slightly modified copy of the index.html file generated by Gatsby to other.html, which can be seen at

[2019-01-10 00:04] #7595 closed

[2019-01-10 00:40] sarahannnicholson commented on #6879
Behind the scenes? hmm.
I think I'm still missing something. From what I understand, jwt extends the WP REST API. And I'd like to get data from one of the extended endpoints: ie)
`{wp-domain}/wp-json/wp/v2/alerts?status=draft`
This jwt-authentication feature is great cause now we don't need to worry about getting a token. But how do I get data from the extended endpoints? I didn't notice any new q

[2019-01-10 02:15] mrfunnyshoes commented on #8714
Thanks @LekoArts! I _think_ the plugin is ready for PR, I'm not completely sure how to proceed with it though. I'll start by following [these instructions](https://www.gatsbyjs.org/docs/how-to-contribute/) and come here with any doubts.

[2019-01-10 02:34] Dogtiti commented on #10939
@sidharthachatterjee oh thanks, maybe I have found the problem.I'll close it.

[2019-01-10 02:34] #10939 closed

[2019-01-10 02:56] jeremylynch opened #10959 "Repeating page graphql query"
I am making the same graphql query on many pages, only changing the regex query. Is there anyway I can define this query somewhere and pass a variable to change only the regex query? (eg.`"/page-image/"` in this case)

[code]

[2019-01-10 02:59] reese commented on #5211
Doesn't seem like there's been any work on this in a little while. I'd love to start contributing on it, hopefully will have something up soon!

[2019-01-10 04:49] nikhilag commented on #10773
@sidharthachatterjee The new version of gatsby-source-shopify should work properly now. See this change - https://github.com/gatsbyjs/gatsby/pull/10955
I will be deprecating my plugin.

[2019-01-10 05:02] nikhilag commented on #10711
@adamrasheed Please try using the new version 2.0.5 of `gatsby-source-shopify` and see if this works for you.

[2019-01-10 05:10] sarahbethfederman commented on #10592
Fwiw, updating from gatsby 2.0.83 to 2.0.90 breaks the resolution sometimes even on gatsby build, which previously worked (gatsby develop is the problem)

[2019-01-10 05:47] sarahbethfederman commented on #9911
I take it back. This issue came back. It seems that on build, gatsby is pulling extra css from node_modules that's never actually imported by any code in use and the order is unpredictable so it overrides the css that is explicitly imported.

[2019-01-10 06:03] polarathene commented on #10948
Also related: [#6125](https://github.com/gatsbyjs/gatsby/issues/6125#issuecomment-452585023)

Over 11 minutes on `source and transform nodes` for me with one of the example projects(gatsby-image that pulls 130MB remote images from unsplash). Before being aware of the large remote content being downloaded I thought the build process had become stuck.

My suggestion in the linked issue was to consid

[2019-01-10 06:19] rrathbone commented on #9682
Hi marcaaron. Were you able to find a solution to this problem? I just ran into the same issue.

[2019-01-10 06:50] sarahbethfederman commented on #10592
Also it turns out that nested embedded entries (embedded entries that include an embedded entry) are not resolved either.

[2019-01-10 06:59] gnujoow commented on #6053
i manually fixed this problem import bootstrap.min.js and other bootstrap's dependency with CDN in `html.js` file.

I also curious that what makes conflicting in build time.

[2019-01-10 07:45] polarathene commented on #10659
I am able to reproduce this with the default starter of `gatsby new` by replacing the GraphQL spread like demonstrated in my initial issue message.

Building with `gatsby develop` or `gatsby build` throws no warnings/errors in console, viewing the page, no image is displayed, inspecting HTML the mentioned padding is also `NaN%` (on `gatsby build`). Error does show on browsers console(PropType erro

[2019-01-10 08:19] Khaledgarbaya commented on #10592
Hey @sarahbethfederman,
I would like to investigate the problem further with your help.
How can we work together on getting a small project that replicates this issue?
From there I can debug it and come up with a fix.

[2019-01-10 08:30] polarathene commented on #10882
Going with last suggestion for handling this type of problem beyond just mozjpeg, [image-type](https://github.com/sindresorhus/image-type) could work.

[2019-01-10 08:39] stefanprobst commented on #4261
@freiksenet Excellent, let's chat early next week! Monday? I'm in GMT+1 timezone.

Ah, I get your point now. However: how consequential is this with how things work in Gatsby (at least currently)? Node resolvers always query with args, and don't use `parent`, no? In any case, I have now put `link`, `findMany`, `findOne` and `findById` on `context.resolvers`.

Interesting!

[2019-01-10 08:47] freiksenet commented on #4261
@stefanprobst Most of Gatsby is having a company gathering at Barcelona so I'm afraid I won't have much time :( I'm available tomorrow or then any day after next week. I'm in GMT+2, so timing shouldn't be a problem. Could you select a good time for you in my calendly? https://calendly.com/freiksenet/60min/01-21-2019?back=1

[2019-01-10 09:06] yuriMalakhov commented on #9348
@abumalick @DSchau Manually adding `import 'core-js/modules/es6.set';` polyfills to `gatsby-browser.js` is a workaround, but not real solution. As stated in [gatsby docs on browser support](https://www.gatsbyjs.org/docs/browser-support/) it should have IE9+ available with `browserslist`.

I think it should be fixed the way that `core-js/modules/es6.set` and other polyfills added automatically with

[2019-01-10 10:02] cardiv commented on #10916
I think this is less a problem with the target being a sub directory or SSL, but it has more to do with CORS. The WordPress REST API does not allow cross origin requests by default.

If this has to do with CORS, I could file a PR that mentions this.

The strange this is, though, that it works locally without `changeOrigin`.

[2019-01-10 10:17] ThisNameWasTaken opened #10965 "Share common chunks"
## Summary

Share common chunks of code to the components that need them.

### Basic example

In this example I am going to refer to the default boilerplate which `gatsby new` creates.
As of right now, importing the default `layout` component inside the `404.js`, `index.js` and `page-2.js` creates three separates css files (`component---src-pages-404-js.[hash].css`, `component---src-pages-index-js

[2019-01-10 11:07] antoinerousseau opened #10967 "Warning: React version not specified in eslint-plugin-react settings."
## Description

I get the warning when running `gatsby develop`

### Steps to reproduce

I'm using the default starter. I run:

    gatsby develop

### Expected result

No warning

### Actual result

    Warning: React version not specified in eslint-plugin-react settings.
    See https://github.com/yannickcr/eslint-plugin-react#configuration

Note that it's nothing critical, it works anyway.

###

[2019-01-10 12:07] ezekielaquino commented on #10909
I'm having the same issue. i have page-1/page-2 with identical set of images and an identical graphql queries-- however, the same images with exactly the same params are outputted to two different directories == no cache. Any fix for this yet?

[2019-01-10 12:36] freiksenet commented on #9682
Hi! There isn't any existing strategy for that. From the size limited result, you should check if there is next page and then continue until there is no next page. For example with github, assuming you are using `gatsby-source-graphql`.

[code]

[2019-01-10 12:40] dedan commented on #8188
@mahayash  Did you solve this problem in the end? I also have a problem where react-slick works in development, but not in production

[2019-01-10 12:43] sidharthachatterjee commented on #10954
Thank you for opening this @cezarcarvalhaes

Can you maybe link to a minimal reproduction of this?

[2019-01-10 12:49] sidharthachatterjee commented on #10959
@jeremylynch Sure, if you're creating the pages manually and if they're all pretty much the same, you could create a template for them, call `createPage` for each in `gatsby-node.js` and pass in the regex as part of context. Values passed in context are available are variables in GraphQL queries so you should be able to get away with changing `regex` to `$regex`

Take a look at the example at http

[2019-01-10 13:13] tsriram commented on #10951
Ah, I seem to have broken this here https://github.com/gatsbyjs/gatsby/blob/d7f8e7712739633902f3e95121fa6c93f172a6a1/www/src/components/plugin-searchbar-body.js#L308

Will try to fix this up later today.

[2019-01-10 13:13] oorestisime commented on #10948
I would love to give this a go since i use that api quite often. I am assigning it to myself to avoid double work.

[2019-01-10 13:20] mattwexa commented on #9836
@KleiOz @kakadiadarpan do you know who I can ping who could advise me and perhaps guide me in implementing this feature? Thanks!

[2019-01-10 13:31] sidharthachatterjee commented on #10967
Thank you for opening this @antoinerousseau

We use `eslint-config-react-app` under the hood and this was fixed in it in https://github.com/facebook/create-react-app/pull/6132

We'll update once they publish a new version 🙂

[2019-01-10 13:41] LekoArts commented on #8714
If you have problems you can also join our Discord (https://discord.gg/jUFVxtB) and ask there 👍 (Or open the PR and we'll talk in the PR)

[2019-01-10 13:44] sidharthachatterjee commented on #10965
Thank you for opening this @ThisNameWasTaken

On a side note, you can override the webpack config provided by Gatsby by using the `onCreateWebpackConfig` hook in `gatsby-node.js`

Take a look at the documentation at https://www.gatsbyjs.org/docs/add-custom-webpack-config/

[2019-01-10 13:54] LekoArts commented on #10943
@Kexin-Li Hi! How is it going with the PR? Do you have already worked on it? Just wanna ask you since @markusguenther opened a PR for that and I didn't want to pass you over.

[2019-01-10 14:12] Kexin-Li commented on #10943
@LekoArts , @DSchau Hi!
I just finished this work, and I think @markusguenther's code is better than mine. I'll open a PR if you don't mind. Feel free to merge the better one.

[2019-01-10 14:20] markusguenther commented on #10943
Sorry did not see a PR for that and so I just started. The solutions are not that different ;)
But @LekoArts will decide. Sorry that it is more review work now.

[2019-01-10 14:26] arturhenryy opened #10970 "[gatsby-source-wordpress] error when deleting polylang translated page"
## Description

I just encountered this error during running gatsby dev

[code]

After some searching i found the cause for that error was deleting a translated page in the wordpress backend. i did this because i dont need any translation for this page and ergo no duplicate version of this page.

### Expected result

There should be some kind of check in place for empty values in that normalizing

[2019-01-10 14:34] #8069 closed

[2019-01-10 14:38] amberleyromo opened #10971 "www(showcase): closing modal after navigating items doesn't persist filters"
#9483 implemented the fix for opening a modal item from the showcase, closing it and then losing applied filters. This works if only one item is browsed.

However, if the site visitor browses multiple showcase items in the modal and then closes, the filter state is lost.

The filters should persist whether one showcase item is viewed, or multiple.

[2019-01-10 14:45] arturhenryy commented on #10928
@gurpreet-hanjra i just implemented this solution @sidharthachatterjee recommended a few days ago. sharing my code here if you need a hint. i am using wordpress as source but this approach works with every other source.

this is the part of my gatsby-node.js which creates the pages for the languages programmatically.

[code]

you would need to move your files inside the pages directory to the temp

[2019-01-10 15:02] arjunnn commented on #10950
Hi, may I submit a PR for this? It would check if the fragment part is the same as the slug and remove it.

[2019-01-10 15:07] sidharthachatterjee commented on #10950
Sure @arjunnn

We'd love to receive a pull request fixing this! You can add the check in https://github.com/gatsbyjs/gatsby/blob/2684055ba669737c983769159e6726cc4685acb0/www/src/components/search-form.js#L275

Thanks!

[2019-01-10 15:12] sidharthachatterjee commented on #10706
Another issue that could be potentially handled by this is https://github.com/gatsbyjs/gatsby/issues/9911

[2019-01-10 15:16] sidharthachatterjee commented on #10970
Just looking at the source @arturhenryy and it does seem to check if the `entity` has `polylang_translations` (please correct me if I am wrong)

https://github.com/gatsbyjs/gatsby/blob/2684055ba669737c983769159e6726cc4685acb0/packages/gatsby-source-wordpress/src/normalize.js#L292

Can you link to a minimal reproduction of this?

[2019-01-10 15:19] sidharthachatterjee commented on #10970
I'm not familiar with this on WordPress but maybe along with deleting the translation, you need to delete the relationship in the entity as well?

[2019-01-10 15:33] Undistraction commented on #660
The problem here is that so many gatsby plugins use `process.env.NODE_ENV`, for example `gatsby-plugin-analytics` checks for a production environment to decide if it should add the tracking code.

When it comes to deploying to a staging environment this is problematic as you don't want to add the tracking code, but Gatsby forces the `NODE_ENV` to `production`. The same is true of Raygun, Hotjar, F

[2019-01-10 15:40] LekoArts commented on #10943
@Kexin-Li Thanks for being so understanding 👍  I've closed your PR in favor of markus' one but as I commented: We'd be happy to have you as a contributor and you can have a look at other issues. Thanks!

[2019-01-10 16:16] birkir opened #10972 "Add Ueno's starter"
It would be great to include Ueno's starter in a list of starters in the documentation.

[2019-01-10 16:24] sarahbethfederman commented on #10592
I can't do that as it's an internal project and can't publish the keys or code. Have you tried reproducing with nested embedded entries?

[2019-01-10 16:52] wllkle commented on #7208
Hi there, if at all possible would you have an example using this? I'm having problems implementing this functionality. Thanks!

[2019-01-10 16:54] polarathene commented on #10592
@sarahbethfederman you're not able to make a similar reproduction repo? Your issue can be generalized out of it's current context with the internal project right?

[using-contentful](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful) example might be of use to you? You can register a personal account with Contentful(assuming the one you're using atm is related to business/wo

[2019-01-10 16:58] sidharthachatterjee commented on #9836
Thanks @kakadiadarpan

@mattwexa I just tried this out by filtering locales from contentful by a locales key passed in options
[code]

Unfortunately, this is a little trickier than this because of possible fallback locales. You would have to account for selected locales + their fallbacks so the localization algorithm doesn't break.

On a side note: I'd like to understand your use case better — is

[2019-01-10 17:02] jonniebigodes commented on #10060
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to open a new one if you still experience this problem 👍

[2019-01-10 17:02] #10060 closed

[2019-01-10 17:03] sidharthachatterjee commented on #10773
Thanks for the clarity, @nikhilag

Closing this issue now since [gatsby-source-shopify2](https://github.com/nikhilag/gatsby-source-shopify) is now deprecated

[2019-01-10 17:03] #10773 closed

[2019-01-10 17:03] stefanprobst commented on #4261
@freiksenet Tomorrow won't work for me unfortunately, I have scheduled tue 22th in your calendar. Thanks!

[2019-01-10 17:06] #6747 closed

[2019-01-10 17:06] #7493 closed

[2019-01-10 17:06] #7584 closed

[2019-01-10 17:06] #7593 closed

[2019-01-10 17:33] janosh commented on #7208
@wllkle This is how I am using it.
[code]
In my case, the actual styles are then coming from a `styled-component`.
[code]

[2019-01-10 18:08] sidharthachatterjee opened #10975 "Add the ability for plugins to add metadata about inferred types"
Currently we infer types for schema generation. `extend-node-type` supports setting new fields on existing nodes (`setFieldsOnGraphQLNodeType`) but doesn't support mutating existing fields

We probably need a new hook for mutating existing fields

Potential use cases for this include
- letting plugins override an incorrect (or imperfect) inference
- letting plugins add _better_ documentation for a

[2019-01-10 19:09] #9876 closed

[2019-01-10 19:10] ethagnawl commented on #2335
An application I'm working on requires this functionality, too.

#10933 looks very promising, but likely won't be ready until after my initial rollout. In the meantime, I'm thinking I'll use sed to manipulate the asset paths after the production build and before the assets have been deployed. Has anyone else come up with a similar solution? Were there any surprising edge cases you ran into?

[2019-01-10 19:16] Songkeys commented on #10866
@zslabs

Thanks. Really helpful for me!

I'd like to help with docs but my understanding is poor now lol. So I'll close this issue then...

[2019-01-10 19:16] #10866 closed

[2019-01-10 19:52] Ronva commented on #2114
@pieh and I have started tackling this and we made some good progress. Turns out this is much more complex than either of us thought.

**Progress**
Using an environment variable, we loaded a modern babel preset env configuration that generated smaller bundles (about 15% smaller uncompressed for the default starter) with an mjs extension. These files weren't loading by default because they were lac

[2019-01-10 19:53] cardiv commented on #10970
Hey @arturhenryy,

testing some alternatives to WPML? :smile:

Did you found a way to fetch the translated posts with Polylang? According to [wp-rest-polylang](https://github.com/maru3l/wp-rest-polylang), the plugin does the same as `wpml-rest-api`: Populating only the current language and the translated locale + id. As I can see, it does not allow to even switch the language on WP REST API (e.g.

[2019-01-10 20:02] cardiv commented on #10537
Just stepping by to mention PR #10942 that should help creating translated pages and solves your issue #10915.

As I will work on the same WPML-front in the future, we could work out some best practices and enhance the [gatsby-source-wordpress](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/) docs.

[2019-01-10 20:13] arturhenryy commented on #10970
@cardiv hey mate,
first of all thanks for your pr and your work. yeah i switched to polylang for now. i have a pretty tight deadline for the multilanguage implementation so i had to find a quick solution for this.
considering your question, yes as far as i know that is not possible, but i do not need that at all. if you want to have language specific data you can just filter your graphql query wit

[2019-01-10 20:13] DSchau commented on #9911
@sarahbethfederman could you provide any more detail on that? We haven't personally seen _extra_ CSS be added as part of the build step--as far as we know!

We have seen (as this issue notes) the order of CSS imports change. Also is this something you can link to?

Minimal reproduction would be ideal--but we're aware that that might not be something you can easily do.

[2019-01-10 20:20] arturhenryy commented on #10970
@sidharthachatterjee sorry unfortunately i just have the full repo which is private. so you mean that although deleting the page it is still referenced as a translation in the original page? and probably need to be fixed in the database because in the backend i see no option for removing that.

[2019-01-10 20:24] KyleAMathews commented on #2114
Why a separate babel config? I thought you just had to change the "target" key? Or is that what you mean by "separate"? :-)

Also what are you changing in webpack? Is there a branch or PR w/ your code changes so far?

Why are you generating `.mjs` files instead of `.js` files? The entry file needs to be `.mjs` if `type=module`?

I'd assume the two builds create two webpack runtime modules right? Y

[2019-01-10 20:32] pieh commented on #2114
It is almost same babel config, just options for `@babel/preset-env` are different.

For the most part just `output` field to produce files with `.mjs` ext - I guess extension itself might not matter - we were replicating guides here on that - might be not needed.

It will, and those should have either `type="module"` or `nomodule` on their script tag, so only one of them will be fetched and loade

[2019-01-10 20:34] Ronva commented on #2114
@KyleAMathews Yup, by "separate" I only mean changing targets to `{ esmodules: true }`, and loose + useBuiltIns to false in babel preset env's options. [Changes found here](https://github.com/Ronva/gatsby/blob/967915aa9181aac8969b0fd33a679588cfba7231/packages/babel-preset-gatsby/src/index.js#L16-L29)

[2019-01-10 20:37] ethagnawl commented on #4337
I'm also hoping to use Gatsby to build a single page application and would like to disable routing entirely. Does anyone know of a workaround (a la @TuckerWhitehouse's) that would be compatible with V2?

[2019-01-10 20:45] KyleAMathews commented on #2114
Cool! This is super exciting!

[2019-01-10 21:01] KyleAMathews opened #10978 "Warn in development when people use `<Link>` for external links"
People often don't realize that `<Link>` can't be used with external links.

We should detect this and warn people in the console and point them to https://www.gatsbyjs.org/docs/gatsby-link/#use-link-only-for-internal-links

Probably we could use the same regex there to test links and print out a warning in the console.

[2019-01-10 21:31] cardiv commented on #10970
Interesting. Have I misunderstood what you want to do? I thought you want to create full pages of translated GraphQL nodes. Based on that I wonder how do you filter the query for the lang parameter when no lang parameter has been queried (so no translations were fetched from WordPress)?

Could you explain your use case a bit more, please?

[2019-01-10 21:59] arturhenryy commented on #10970
@cardiv
ok so for example with the query for all the pages in the gatsby-node.js i query the lang field provided by polylang. on create page i provide that lang value in the context so this value is available in my page template. so now if i need language specific content like only the posts in german i can use $lang in my posts query like that to filter my posts.

[code]

[2019-01-10 22:18] glauberfc commented on #10950
Hi, @sidharthachatterjee, I trying to solve this, but I have some questions:

1. What is `navigate(${a.pathname}${a.hash}) ` for? I thought that it redirect the user when it clicked on a search's result link, but I commented it and the page continued to be redirect to link.

2. Where the search result link is created? I noted that it already have a link and I don't know how update it

[2019-01-10 22:32] glauberfc commented on #10950
I tried to solve this issue on this way:

![image](https://user-images.githubusercontent.com/15311858/51000826-f5d9e700-150c-11e9-87e1-370f91949f10.png)

For example on the url **https://www.gatsbyjs.org/docs/debugging-replace-renderer-api/#debugging-replace-renderer-api**:
1. I extract the hash **#debugging-replace-renderer-api** and remove the **#** and save on const **hashString**;
2. I extract

[2019-01-10 22:47] craig1123 commented on #7885
I couldn't get window working
[code]

So I used the `document.body` and it worked
[code]

[2019-01-10 22:57] openmedi commented on #6879
Is this comment relevant? https://github.com/gatsbyjs/gatsby/pull/9509#issuecomment-434895644

[2019-01-10 23:07] sarahannnicholson commented on #6879
ahh okay, yes that is exactly what I was trying to do :P thanks so much for the clarification!

[2019-01-10 23:08] cardiv commented on #10970
I had a look into the docs of [gatsby-source-wordpress](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/) and it seems that all fields are available inside `polylang_translations` as in, for example, `allWordpressPost`. WPML populates only a few.

And to understand your filter correctly: GraphQL searches for `polylang_current_lang` (since this includes `lang` and compares that to the cur

[2019-01-11 00:14] sarahannnicholson opened #10982 "gatsby-source-wordpress to support jwt authentication requests (drafted content types)"
## Summary

Now that we can successfully get a bearer token from WordPress [PR 9509](https://github.com/gatsbyjs/gatsby/pull/9509)
It would be awesome for gatsby-source-wordpress to support JWT requests to WordPress to get drafted content types.

### Basic example

Enable a status flag for getting posts from WordPress that allows the user to get draft posts
[A more detailed description](https://gi

[2019-01-11 01:33] amykapernick commented on #8674
Still only seem to be able to use yarn to install Gatsby, any updates on this?

[2019-01-11 01:54] ezeev commented on #1499
I wonder if something new was added that is causing this now?

I don't have any non-pages in my pages directory but I am getting this error. I have absolutely no clue what is causing it. It runs fine with 'gatsby develop'. This happens during `gatsby build`. I've chased down all of the clues I can think of based on this the great comments on this issue.

[code]

[2019-01-11 02:05] sdras opened #10984 "Vue Support"
## Summary

Please add Vue support. Heart emoji. Praying hands emoji. Trollface emoji but not really.

### Basic example

Example is the same as your examples but _computed properties_ are dope and super great animation capabilities like transition modes. I would make demos for you. They would be slick.

### Motivation

Imagine appealing to both React and Vue audiences and expanding your reach. By

[2019-01-11 02:10] andycunn opened #10985 "Advanced Proxying Example doesn't proxy"
## Description

Trying to use the [advanced proxying](https://www.gatsbyjs.org/docs/api-proxy/#advanced-proxying) example as-is for netlify functions.

The proxy doesn't seem to work, as i get 404 when i try to call `/.netlify/functions/hello`.

I see the same repro when i use the vanilla [create-react-app-lambda](https://github.com/netlify/create-react-app-lambda) repository.

Calls to the `.netl

[2019-01-11 02:47] andycunn commented on #10985
here's some code to repro:

gatsby-config.js
[code]

starting gatsby
[code]

curling the netlify function
[code]

output from gatsby server
[code]

[2019-01-11 03:40] arjunnn commented on #10950
Hi @sidharthachatterjee, thank you for the pointers, I just submitted a PR.

[2019-01-11 03:57] glauberfc commented on #10950
Hi, @arjunnn! These changes (#10986) are working on your machine?

[2019-01-11 04:14] theiliad commented on #5951
I think that this is a very essential feature. Anytime I create `gatsby` blog-type sites, as content grows the performance is bound to decrease. Also it's an SEO issue.

Is there a timeline or estimation of the implementation of this functionality?

Also for PRs, any direction in which you can point me in to look at this...?

[2019-01-11 04:18] arjunnn commented on #10950
Hi @glauberfc, yes they're working.
![#10986](https://user-images.githubusercontent.com/6116387/51012963-f06cb300-1585-11e9-9655-b626dece6181.gif)

[2019-01-11 04:19] sarahbethfederman opened #10987 "[gatsby-image] only getting 1 and 1.5x w/ contentful"
## Summary
I'm wondering how to get a 2x image to work with gatsby-image and gatsby-source-contentful. I'm trying to render an image at 344 pixels wide with a srcset that includes a resolution of 2x (so 688px wide)

Here's my query:
[code]

## Relevant information

Here's what is output:
[code]

Here's what I want to happen, and it works when I add the additional url and 2x in dev tools:
[code]

#

[2019-01-11 04:31] sarahbethfederman commented on #10592
Huh weird. Nested embedded entries seem to have started working again

[2019-01-11 04:41] glauberfc commented on #10950
Awesome! For some reason when I click on a search result link I'm redirected to the link's page on localhost and after to the same page on [https://www.gatsbyjs.org/](https://www.gatsbyjs.org/)

[2019-01-11 04:57] arjunnn commented on #10950
Huh, weird :/ I only made changes to `search-form.js`. I'm not able to reproduce that behavior, sorry

[2019-01-11 05:04] wKovacs64 opened #10988 "CSS-in-JS theming lost on page reload (prod-only)"
Buckle up 🚗 , this is weird.

## Description

Gatsby appears to be failing to apply the correct CSS-in-JS generated classes after reading a theme (or indicator thereof) from localStorage. I would normally not suspect Gatsby to be at fault (and it may not be, still) but the same code copy-pasted to a CRA site works as expected, so I'm logging this here in case it is something Gatsby is doing that c

[2019-01-11 05:16] andycunn commented on #10985
for reference, when i use `changeOrigin: true`, the requests hang, and when i don't, they're being proxied to the local dev server (as opposed to `localhost:9000`).

[2019-01-11 06:59] cardiv commented on #10982
Hey @sarahannnicholson,

I am interested in use cases for REST API authentication. Would you mind explaining more about your use of JWT authentication in `gatbsy-source-wordpress`?

To the topic: I plan to build a preview for drafts in Gatsby, but from the browser side (proxying API requests to WordPress, authenticate with a token from env and fetch a draft for that a preview has been requested).

[2019-01-11 07:08] bencodezen commented on #10984
Just had to express my support for this issue. Would be happy to help out in whatever way I can!

[2019-01-11 07:10] kapral18 opened #10989 "Syntax Error: Invalid character escape sequence: \. graphql/template-strings"
## Description

[code]

after executing produces the error in title

### Steps to reproduce

1. put the query in `index.js`
2. `gatsby develop`
3. get the error

### Expected result

Should not error out and should find the image node

### Actual result
errors out

Also tried `\\\\` no success (since as far as I understand
new RegExp(`\\\\.`) will produce actual regexp literal like this `/\\./`
wh

[2019-01-11 07:34] jgierer12 commented on #10988
It seems like it's the combination of SSR + React Hooks + CSS-in-JS + theming that causes this. In my tests, it worked with class components but not hooks, and with client-side rendering (CRA, `gatsby develop`) but not SSR (`gatsby build`). The next step would be to try this in a non-Gatsby SSR environment to see if the issue is specific to Gatsby or if it's on the side of the CSS-in-JS libs.

[2019-01-11 08:12] sondrele opened #10990 "[GraphQL] Querying with Sift on any array node field"
## Summary

The node query API of Gatsby is really powerful, it's a joy to use, and it helps us move some of the complexity from the view/js down to the node sourcing build step instead.

However, sometimes I wish I could express even more in a query, especially when it comes to filtering/sorting (Sifting) array fields of a node. This is not possible today, although it could easily be expressed in

[2019-01-11 08:15] sw-yx commented on #10985
hi andy

does this project run if you clone it? https://github.com/sw-yx/jamstack-hackathon-starter

just trying to narrow down what the cause of this is

[2019-01-11 08:46] razvan-soare opened #10991 "Gatsby react helmet v6 beta"
Hey, i was looking for a way to fix react-helmet bug where having it will crash my page throwing "Maximum call stack size exceeded". This seems to be a bug from them because they use `deep-equal`. Changed it in the latest release.. 6.0.0-beta but is throwing an error when i try to build my project
![screen shot 2019-01-11 at 09 44 05](https://user-images.githubusercontent.com/39434481/51022789-780

[2019-01-11 08:55] stefanprobst commented on #10989
See https://github.com/gatsbyjs/gatsby/issues/9944#issuecomment-453009343

[2019-01-11 08:59] imshuffling opened #10992 "pm2 start with gatsby?"
I'm trying to get auth0 demo of mine hosted on platform.sh, I keep on running into a 502 Bad gateway error on the callback.

Speaking with the support team at Platform.sh they are saying I need to start nodejs in my `.platform.app.yaml` script.

See documentation here - https://docs.platform.sh/languages/nodejs.html#configuration

What I've got so far.

[code]

I managed to get something together

[2019-01-11 09:03] gurpreetatwal commented on #8357
I believe the problem is caused by the following code (please take this with a grain of salt as I don't have much react experience)

https://github.com/gatsbyjs/gatsby/blob/bbeae87ef12d8beebd391c3d8c8c4f584db36c67/packages/gatsby/cache-dir/production-app.js#L64-L84

this causes reach router to set `transitioning` to true (which causes reach to do a `history.replace` instead of `.push`) until `_onT

[2019-01-11 09:09] gurpreetatwal commented on #8357
@LekoArts here are the reproduction steps based on that repo:

assuming base url is: `https://confident-goldstine-20bc0e.netlify.com/`

1. navigate to `https://confident-goldstine-20bc0e.netlify.com/blog/` (note the trailing slash which is opposite of how the route is configured)
2. Click on any other route
3. Use your browser's back button and you will be on the page you were on prior to step 1

[2019-01-11 09:15] kapral18 commented on #10989
@stefanprobst  Doesn't work. I pointed that out in the 'actual result' part.

[2019-01-11 09:15] stefanprobst opened #10993 "Query with relativePath should return unique result"
## Description

A GraphQL query for files with `relativePath` currently is not unique, since `relativePath` refers to the path of the source instance as the basepath, and there can be multiple instances of `gatsby-source-filesystem`. This is confusing and can lead to surprising results.

### Steps to reproduce

See [this repo](https://github.com/stefanprobst/gatsby-relativepath), which has two ins

[2019-01-11 09:48] ThisNameWasTaken commented on #10965
After taking a look over [this example from the gatsby docs](https://www.gatsbyjs.org/docs/add-custom-webpack-config/#modifying-the-babel-loader) and [this one from webpack](https://webpack.js.org/plugins/split-chunks-plugin/#optimization-splitchunks), I came up with the following solution.

Inside the `gatsby-node.js` file I have added this code which mimics the behavior I was expecting.

[code]

[2019-01-11 09:51] stefanprobst commented on #4261
Done. #10995

[2019-01-11 09:52] Khaledgarbaya commented on #10592
@sarahbethfederman,
Glad it works now, as I said if you still have a problem you can make a sample gatsby project and I can take care of the contentful side of things I will need to know the structure of the content.
If the issue is solved for you now you can close this issue

[2019-01-11 10:00] Raincal commented on #10984
You can try out [Gridsome](https://github.com/gridsome/gridsome).

[2019-01-11 10:03] polarathene commented on #10592
It would be good to have an example of it in the documentation. I've not played with rich text much myself, but it sounds like there are currently gotcha's to using or understanding how to use it properly with gatsby/react, so it'd probably be really helpful to others that run into the same situation?

[2019-01-11 11:48] sidharthachatterjee commented on #10992
Looks good. Noticed that gatsby-cli is v1. If you're, using v2 `gatsby -- serve-build` becomes `gatsby -- serve`.

Also on a side note, since the output from Gatsby are all static assets you probably don't need the Node server and can get serve them straight off a CDN. Check out Netlify if you're interested in this approach.

[2019-01-11 12:06] FrankM1 commented on #10592
Removing the `.cache` directory seems to resolve this issue.

[2019-01-11 12:10] sidharthachatterjee commented on #10989
Hey @kapral18

Try
[code]

This works for me!

[2019-01-11 12:28] likush opened #10998 "Page source content doesn't appear with gatsby-plugin-offline"
I want to use gatsby-plugin-offline in my project, but if it's connected, source page content disappear (I tried to see it in "View page source")
<img width="2555" alt="google chrome_2019-01-11 14-45-34 2x" src="https://user-images.githubusercontent.com/31741926/51032952-d2697780-15b2-11e9-97b0-8cb29a3461e0.png">
Without gatsby-plugin-offline and unregister service workers everything is ok.
<img w

[2019-01-11 12:33] koreyboone commented on #10991
Having the same issue. Following.

[2019-01-11 12:40] kapral18 commented on #10989
@sidharthachatterjee nopes the same

[2019-01-11 12:46] sidharthachatterjee commented on #10989
@kapral18 Can you post a simplified reproduction please? Let's get to the bottom of this!

[2019-01-11 13:10] sidharthachatterjee commented on #10985
Hey @andycunn

I just cloned the repository, added Gatsby, the `gatsby-config.js` from https://www.gatsbyjs.org/docs/api-proxy/#advanced-proxying and moved App into pages so that Gatsby creates a page for it and it seems to work fine.

Here's my fork: https://github.com/sidharthachatterjee/create-react-app-lambda

And here is the diff: https://github.com/netlify/create-react-app-lambda/compare/mas

[2019-01-11 13:12] sidharthachatterjee commented on #10985
Here's a gif

![2019-01-11 18 40 25](https://user-images.githubusercontent.com/7701981/51035588-757cba00-15d0-11e9-9956-d04ec1177242.gif)

Ran `gatsby develop` and `npm run build:lambda` and then `npm run start:lambda`

[2019-01-11 13:32] wardpeet opened #11001 "[site-showcase] category filters shouldn't jump up"
## Description
It's part of #9048 where we want to scroll down when people visit the page with ?filters in their url.

Sadly we scroll up on each time we select a new category.

### Steps to reproduce

1) go to https://www.gatsbyjs.org/showcase/
2) click on a category filter
3) site jumps back up

### Expected result

It should not scroll up, maybe it should scroll back to the top of the showcase

[2019-01-11 13:33] kapral18 commented on #10989
@sidharthachatterjee https://github.com/kapral18/gatsby-test

[2019-01-11 13:33] NathHorrigan commented on #8101
not stale

[2019-01-11 13:38] imshuffling commented on #10992
Thanks @sidharthachatterjee

I did think that, but they have told me differently.

Anyways I'll give it a go - thanks again :)

[2019-01-11 13:49] sidharthachatterjee commented on #10992
You're very welcome, @imshuffling 🙂

Closing this for the moment, please feel free to reopen if you see any issues with this!

[2019-01-11 13:49] #10992 closed

[2019-01-11 13:51] LekoArts commented on #10998
Hi!
You're not the first person to ask this question, that's why we added a _Notes_ section on the README:
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline#notes

I'll close this issue but if you need further explanation than the README, please let me know 👍

[2019-01-11 13:51] #10998 closed

[2019-01-11 13:53] kapral18 commented on #10989
![gatsby](https://user-images.githubusercontent.com/1625373/51037470-9cc38f00-15b0-11e9-81ff-6703036632c4.gif)

[2019-01-11 13:53] stefanprobst commented on #10989
@kapral18 Can you check if the above works for you?

[2019-01-11 14:11] sidharthachatterjee commented on #10989
![screenshot 2019-01-11 19 37 16](https://user-images.githubusercontent.com/7701981/51038163-66016f00-15d8-11e9-9ac7-562f91c35060.png)

@kapral18 Looks like `regex: "/whatever.png/"` works!

We use [sift](https://www.npmjs.com/package/sift) under the hood which implements
MongoDB style PCRE regular expressions

https://docs.mongodb.com/manual/reference/operator/query/regex/#op._S_regex

According

[2019-01-11 14:16] kapral18 commented on #10989
well the `.` is in the quoted list of yours.

try `regex: "/whateve..png/"` will still find the whatever.png, I need the strict detection

[2019-01-11 14:18] likush commented on #10998
@LekoArts Thanks. Also, I have another one problem: I tried to make page sharing, and there are no actual information in sharing preview. Meta tags values exist in <head> tag (in Inspect -> Elements). It may be because there are no content in page source?

[2019-01-11 14:19] pieh commented on #10988
Uhh, this is react hydration related issue.

The `<div>` with background color has `css-tgyek8` (white background) class in DOM (what's statically rendered to html), but `css-1jgbt2s` (dark background) in React vDom (what's rendered client side)

From https://reactjs.org/docs/react-dom.html#hydrate :

And this is exactly case of "There are no guarantees that attribute differences will be patched u

[2019-01-11 14:21] sidharthachatterjee commented on #10989
If I understand it correctly (please correct me if I am wrong!) the list mentions that `.` doesn't need to be escaped inside character classes

[2019-01-11 14:32] jtanguy commented on #10914
I would like to have the images referenced in the asciidoc document known by gatsby and bundled in the output along with the document.

In the spirit of transformer plugins, I would like to not fetch them from the filesystem implicitly

[2019-01-11 14:34] anku255 commented on #4401
I was facing the same issue today. I fixed it by just deleting the `.cache` folder.

[2019-01-11 14:41] kapral18 commented on #10989
@sidharthachatterjee I know that `/whatever.png/`, and I know that you shouldn't escape the dot character itself, if you intend to have any character, but I intend to match specifically the `.` not just any character.

The article you mentioned clearly states that if you want the symbol and not the character class, you SHOULD escape, which was my initial intent with all these character escaping tr

[2019-01-11 14:42] arturhenryy commented on #10984
@sdras pretty impossible as you can imagine, because gatsby not just uses react it is entirely based on react. so you basically would need to recreate the entire project to work with vue and in the end you would have to maintain both projects separately.

[2019-01-11 14:42] sidharthachatterjee commented on #10990
This is not too difficult to implement (since we already use sift to help query connections) but I think the complexity lies in knowing when to create connections out of an Array

cc @pieh @freiksenet

[2019-01-11 14:47] sidharthachatterjee commented on #10989
Ah, I understand now @kapral18

How about `regex: "/whatever[.]png/"`?

[2019-01-11 14:54] abraham commented on #10984
Ionic supports React, Vue, Angular, and Stencil so it's certainly not "impossible" for a project to support React and Vue at the same time. As with everything development it's a matter of priorities and cost:benefit.

[2019-01-11 14:58] sidharthachatterjee commented on #10914
@jtanguy Okay, similar to how `gatsby-remark-images` works

So I suppose you would want to download any references images and bundle them?

Take a look at https://github.com/mikegajda/gatsby-transformer-remote-image

It does something similar albeit to Markdown nodes, you could write something similar for asciidoc nodes

[2019-01-11 14:58] kapral18 commented on #10989
@sidharthachatterjee ye that was the one I initially tried and it obviously works, but I doubt character set is good solution for this problem, since its purpose is different. So the problem is still open.

[2019-01-11 14:59] kapral18 commented on #10989
@stefanprobst could you explain how can I test this patch? Unfortunately my build of gatsby is blowing up. I guess just changing the dist/utils/prepare-regex.js is not enough?

[2019-01-11 15:10] benjaminabel opened #11004 "[gatsby-transformer-remark] move toc and excerpt to remark-plugins"
Hi, as the title says, I think it would be preferable to move the toc, excerpt and other remark extra features to respective `gatsby-remark-toc`, `gatsby-remark-excerpt` in order to keep the separation of concern of each plugin.

[2019-01-11 15:16] arturhenryy commented on #10984
@abraham yeah the huge difference is that ionic is built as framework agnostic and gatsby a framework built on react. of couse it is not impossible but not very reasonable either.

[2019-01-11 15:38] patrickcameron opened #11005 "Adding itemProp="image""
## Summary

It seems as though adding the `itemProp="image"` attribute to a Gatsby Image component doesn't work - it just gets stripped out when the page is compiled.

### Basic example

`<Img itemProp="image" fluid={image.fluid} key={i} />` - itemProp does not show up on the rendered image container or any of its children.

### Motivation

Having this ability would be useful for adding schema.org

[2019-01-11 15:40] sidharthachatterjee commented on #10993
Hey @stefanprobst

This is a fair point. On a side note, you _could_ use sourceInstanceName as a filter along with relativePath
[code]

[2019-01-11 15:44] sw-yx commented on #10985
right. my hunch is andy got some small part of the config wrong. need to check closely.

[2019-01-11 15:49] sidharthachatterjee commented on #11004
Just want to mention that this will be a breaking change for existing users of `gatsby-transformer-remark`

[2019-01-11 15:50] DSchau commented on #11004
@benjaminabel could you provide some more detail as to why this would be beneficial? I can see your point, but co-locating this common functionality into the one plugin has some additional benefits, e.g. you can make changes to related functionality in _one_ spot rather than in several.

[2019-01-11 15:51] stefanprobst commented on #10993
True, but then you'd already have to be aware that the query result was not the expected one. The issue is more that the query might return unintended results without being immediately obvious.

[2019-01-11 15:52] sidharthachatterjee commented on #11005
Thank you for opening this @patrickcameron

Should be simple to add a prop and pass it down to the image element in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js

We would love to accept a PR adding support for this!

[2019-01-11 15:55] bencodezen commented on #10984
Agreed. I'd also put the thought out there that even inviting a small team of OSS maintainers to help build out the Vue version is an option as well if the core team does not have resources to devote a lot of time to it.

[2019-01-11 15:56] DSchau commented on #10984
@sdras thanks so much for opening this. As @jlengstorf said, we 💜 Vue, and certainly want _as many_ people using Gatsby as possible.

That said -- there is a maintenance cost for this, and I do worry that even if technically we _could_ build this out (and we certainly could), it'll be challenging to maintain these disparate functionalities side by side particularly when developing new features. Th

[2019-01-11 15:59] WhippetsAintDogs opened #11006 "[gatsby-plugin-offline] ServiceWorker registration causes a quick blank page on website loading/refresh"
## Description

In a project using the gatsby-offline-plugin, in production (gatsby build), when you access or refresh a page, you'll get a quick blank page instead of the styled HTML from the React's render. Disabling the ServiceWorker from Chrome's DevTools (bypass for network) fixes this.

### Steps to reproduce

1. Install gatsby-offline-plugin with vanilla options in a project with a home pag

[2019-01-11 16:03] patrickcameron commented on #11005
I will give it a try! Should have a PR ready to submit today or tomorrow.

[2019-01-11 16:05] sidharthachatterjee commented on #11006
Love the incremental editing on this one 😛

Jokes apart, hi @WhippetsAintDogs! Waiting on the rest of the details but based on the title, this looks like it could be potentially related to https://github.com/gatsbyjs/gatsby/issues/10998

Check out the README at the https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline#notes

cc @LekoArts

[2019-01-11 16:05] sidharthachatterjee commented on #11005
Great! Thank you @patrickcameron

[2019-01-11 16:08] WhippetsAintDogs commented on #11006
Haha sorry for that, I missclicked on submit before even completing the title xD

[2019-01-11 16:09] sdras commented on #10984
Sounds good. I figured, but worth asking. I see your team growing with some amazing people so some of the curiosity was towards that kind of investment- where Gatsby might head in the future. It's probably worth mentioning that quite a lot of people have asked me if Gatsby does or ever will support Vue, but I'm sure you're also asked about a lot of other things as well that are untenable, you can'

[2019-01-11 16:09] #10984 closed

[2019-01-11 16:12] cardiv commented on #11006
Sounds like #9346, too. I don't know if the PR of @pieh fixed the blank page issue.

[2019-01-11 16:14] sarahbethfederman commented on #10592
This issue is absolutely not fixed. Gatsby develop is still completely unusable and I can't delete my cache.

[2019-01-11 16:15] WhippetsAintDogs commented on #11006
@cardiv No, not at all. I think it's just the registration process of the SW that blocks the normal render. Delaying it could fix that, I suppose.

[2019-01-11 16:16] i8ramin opened #11007 "How to reference Fragments in gatsby-node / page creation"
## Summary

Say I have the following graphql fragment defined in my `Layout` component:

[code]

I am using the *gatsby-source-contentful* plugin, so I want to generate pages based on a `GlobalPage` content model that I have defined in the `gatsby-node.js` file. Question is, how do I reference fragments defined in other files during this process? Is it even possible?

### File contents (if changed

[2019-01-11 16:22] cardiv commented on #11006
Thanks @WhippetsAintDogs! You may have the latest version which fixes the errors.

But the blank pages appeared very randomly on my end. I didn't check it again.
If the Service Worker is blocking rendering, blank pages should appear consistently, shouldn't they?

[2019-01-11 16:23] sidharthachatterjee commented on #10987
So sorry you're seeing this @sarahbethfederman

Just tried to reproduce this at https://github.com/sidharthachatterjee/contentful-playground but I can't seem to

The live site is at https://silly-rosalind-090e60.netlify.com/

It seems to have 1x, 1.5x and 2x

[code]

[2019-01-11 16:42] sidharthachatterjee commented on #10987
Okay, just managed to reproduce this help from @pieh

Turns out it filters the sizes out when 2x of the query width is _not_ less than actual width of the image

It should do a `<=`, patching this in a min!

[2019-01-11 16:45] polarathene commented on #10592
@sarahbethfederman Why is that?

If this is still an issue, providing a small reproduction repo for others to use can help with collaboration.

[2019-01-11 16:46] WhippetsAintDogs commented on #11006
@cardiv I've tried with gatsby 2.0.91 and gatsby-plugin-offline 2.0.21 and I still get consistent blank pages appearing in production when the ServiceWorker in on.

[2019-01-11 16:47] DSchau commented on #11006
@WhippetsAintDogs first thing is you should be using the latest `gatsby-plugin-offline` if you're able.

We've actually seen this issue on gatsbyjs.com intermittently, and we haven't noticed it for quite a while running the latest version of the offline plugin.

[2019-01-11 16:48] WhippetsAintDogs commented on #11006
Hi @DSchau, like I said in my previous post, I still have the issue with gatsby 2.0.91 and gatsby-plugin-offline 2.0.21.

[2019-01-11 16:51] DSchau commented on #11006
Whoops - I saw the `2.0.17` and didn't catch your edit/latest, sorry about that!

Do you have somewhere where we can reproduce? Could you share which page (in particular) and browser version(s) as well?

[2019-01-11 16:53] WhippetsAintDogs commented on #11006
Yes, this is the page [Fika Productions](https://www.fikaproductions.com) in question. I use Chromium 71.0.3578.98 (Official Build) Arch Linux (64-bit).

[2019-01-11 16:54] cardiv commented on #11006
After a few tests, i can confirm that this still happens on gatsbyjs.org. Blank page and after a second, the page renders. But, I haven't noticed blank pages that require a reload to get rid of.

The site you linked behaves the same (blank page for a sec).

[2019-01-11 16:58] chiamakaikeanyi commented on #6722
I think the `date_added` field should also be added to the [site showcase](https://www.gatsbyjs.org/docs/site-showcase-submissions/) page on the docs

[2019-01-11 17:01] sarahbethfederman commented on #10592
I can't delete my cache because it breaks with another error https://github.com/contentful/rich-text/issues/46#issuecomment-451267836

This is my last day on the project so I can't make another repo but other people are having this issue too.

To be clear: gatsby develop has never resolved the entries properly. Gatsby build used to resolve all entries properly, but as I said in my above comment it

[2019-01-11 17:06] #7610 closed

[2019-01-11 17:06] #7511 closed

[2019-01-11 17:06] #7613 closed

[2019-01-11 17:07] fk commented on #6726
NOT STALE :P

[2019-01-11 17:13] gurpreetatwal commented on #8357
Here's a kind of hacky workaround anyone can use for now

[code]

Just call that function on any custom pages you have as well as on the template you have for your generated pages

[2019-01-11 17:16] sarahbethfederman commented on #10987
Thanks for the quick response and PR!

[2019-01-11 17:22] wKovacs64 commented on #10988
Ah, sure enough! I should have compared against Next.js or another SSR solution rather than CRA. Thanks.

[2019-01-11 17:22] #10988 closed

[2019-01-11 17:43] andycunn commented on #10985
trying your suggestions. will check back in a bit

[2019-01-11 17:53] andycunn commented on #10985
hmmm maybe this is environmental?  can't get https://github.com/sw-yx/jamstack-hackathon-starter to work.

1. clone https://github.com/sw-yx/jamstack-hackathon-starter
2. `yarn`
3. `yarn start`
4. open localhost:8000
5. click function button

[code]

response is the empty gatsby index

[code]

any environmental info i can provide that would be helpful?

[2019-01-11 17:59] andycunn commented on #10985
FYI @sidharthachatterjee i had to use `SKIP_PREFLIGHT_CHECK=true` to yarn your fork, dunno if that's helpful info.
also your fork did not compile when i cloned it: https://github.com/sidharthachatterjee/create-react-app-lambda

[code]

[2019-01-11 18:23] sidharthachatterjee commented on #10987
You're welcome, @sarahbethfederman

Happy to help! 🙂

[2019-01-11 18:39] #10948 closed

[2019-01-11 18:43] i8ramin commented on #11007
**UPDATE:** I wasn't thinking about the problem the right way. `gatsby-node` doesn't need to know about my fragments. I just needed the contentful model ID, so that I can pass it down to my page template, and then in that page template component, run another query that reads the data along with fragments.

So in my `gatsby-node.js` file, I have the following now:

[code]

And my `src/templates/pag

[2019-01-11 18:43] #11007 closed

[2019-01-11 18:54] parkerproject commented on #175
@KyleAMathews I don't think you addressed the original question which was if Gatsby is designed to handle a large number of pages. I know @QuincyLarson mentioned 10,000 articles, but what of a million pages? that is possible with a large online magazine. Let me know your thoughts

[2019-01-11 19:02] KyleAMathews commented on #175
That's the direction we're headed. It doesn't yet support a million page site but it will.

[2019-01-11 19:06] parkerproject commented on #175
Awesome, thanks for clarifying that.

[2019-01-11 19:07] danedavid commented on #10971
Hi, I would like to start contributing to Gatsby by helping with this issue. Can I work on this?
As I understand, the filter state is lost after viewing more than one showcase item in the showcase page. The filter should preserve state no matter how many items are viewed, right?

[2019-01-11 19:44] DSchau commented on #10987
This has been closed in #11009.

If for some reason this isn't the case, please re-open and we'll work on a fix; thanks!

[2019-01-11 19:44] #10987 closed

[2019-01-11 20:04] #10886 closed

[2019-01-11 20:09] #10972 closed

[2019-01-11 20:11] davidbailey00 commented on #10036
@YMIndustries thanks for the information! Unfortunately what you've described isn't a reproduction of the original problem, despite the same effect - the problem is that sometimes during upgrades, there's a mismatch between file versions which results in 404s. Disabling JS unfortunately can't help us figure out exactly when and how these problems are occurring, and the offline shell is intentional

[2019-01-11 20:14] laradevitt commented on #10727
Just came across this. Some additional info, FWIW...

Can also replicate in Edge 42.17. Refreshing the page in Edge will load it normally. In Chrome (71.0.35) it does not; the error persists.

To reliably replicate the problem in Edge I need to restart the browser; in Chrome I just need a new incognito window.

Also: if I start on a Showcase site page (e.g., https://www.gatsbyjs.org/showcase/airbn

[2019-01-11 20:24] Marijan111 commented on #7642
@wardpeet Yes, totally makes sense. Thank you!

[2019-01-11 20:43] sw-yx commented on #10985
this seems an environment issue then. something is up in your computer that is getting in the way of your ability to do a proxy. read the error messages closely - anything jump out?

[2019-01-11 21:10] daydream05 opened #11013 "How do you insert an external script using gatsby-browser?"
## Summary
I would like to external scripts that would work after the React Dom is rendered.  In addition, I would only like it loaded on specific pages.

## Relevant information

I'm trying to load an external script that uses the global `document`. It works locally but I keep getting a `WebpackError: ReferenceError: document is not defined` when deployed on Netlify.  I've tried using React-Helme

[2019-01-11 21:39] rotexhawk commented on #11013
React helmet is a great package for that. You can place it in your page/template or other react components.

https://github.com/nfl/react-helmet#readme

[2019-01-11 21:42] sgnl commented on #6350
fwiw, for those coming from Search Engine results - I had a renegade `export const query = // ... more code` in Component used within a Page component that I overlooked. Once I removed the `export` the page loaded correctly ;)

[2019-01-11 21:52] andycunn commented on #10985
there aren't really any error messages. any way i can turn on some more low-level logging there? We do use ZScaler network security in my office. wonder if that could interfere?

[2019-01-11 21:58] andycunn commented on #10985
that was it! got our IT to turn off our traffic monitor and it's all good now :)

sorry for the confusion. closing this out.

[2019-01-11 21:58] #10985 closed

[2019-01-11 22:39] sarahannnicholson commented on #10982
Oh neat, I didn't come across your PR in my searching yesterday.

Also, this could work? but we were planning to go about this a different way.
We were hoping to deploy to a separate environment with an env flag to denote a preview environment, if in the preview env we could make authenticated requests to WP's JWT, then we could show drafted content. The preview environment would be password prote

[2019-01-11 22:56] IvanKalinin commented on #9493
### UPDATE:

To fix build issue we have to check the stage and include miniCssExtract only on `html` stage

`gatsby-node.js`

[code]

[2019-01-11 23:04] ethagnawl commented on #2335
@DSchau I looked into using `onPostBuild` but, compared to using sed and manipulating the asset paths during my build, found that approach to be very complicated. (If I'm straying from the golden path, why not take the shortest route?) I was hoping to use a dummy `pathPrefix` (e.g. ASSET-PATH), which could be easily subbed out during the build, and that does get me most of the way there. Unfortuna

[2019-01-11 23:04] smerth commented on #9850
This can be done by creating a source plugin [creating a source plugin](https://www.gatsbyjs.org/docs/source-plugin-tutorial/).

[2019-01-11 23:04] #9850 closed

[2019-01-11 23:06] andycunn commented on #10985
thanks for your help and your time!

[2019-01-11 23:34] daydream05 commented on #11013
Sorry if I didn't I make it clear, I mentioned on my original post that I'm running into this exact issue https://github.com/nfl/react-helmet/issues/324 with react-helmet. According to one of the comments, they were also using gatsbyjs and they ended up using `exports.onInitialClientRenderer` to make it work.

[2019-01-12 00:02] stmcallister opened #11014 "gatsby-plugin-google-tagmanager and Google Search Console Verification"
Has anyone had issues getting Google Search Console to verify ownership of your site with Google Tag Manager using `gatsby-plugin-google-tagmanager`?

We're using the plugin, and our analytics are flowing wonderfully. But, I'm being told by the person who is trying to add our site in Google Search Console that GTM is not verifying. The only difference between the gatsby plugin code and the code th

[2019-01-12 00:14] rotexhawk commented on #11013
No problem, for that you can put your js file in the `static` folder and include it like this. See here:
https://www.gatsbyjs.org/docs/static-folder/

[code]

[2019-01-12 02:08] 0x6e6562 commented on #2293
@ewagstaff I'd like to do the same thing as you.

I like your pragmatism. This approach might be expensive for massive builds, since you are querying a lot of data and searching through for each `<Image/>` instance you create. But I guess this is not too bad in practice for you?

It seems like `gatsby-image` is only useful for components that can define their image sources statically. It feels lik

[2019-01-12 02:32] lassiter commented on #1546
@hgmeza are you still working on this? If not, I'd be interested in taking a crack at it. What are we counting as a download now with the current layout of the site? On [gatsby-starter-blog](https://www.gatsbyjs.org/starters/gatsbyjs/gatsby-starter-blog/) there are really three main links: preview, deploy to netlify, and starter source code. Are all of those clicks considered a download? Or, is th

[2019-01-12 04:04] andrew-anguiano commented on #10971
@danedavid go for it! Sounds like you know what to do. Let me know if you need any help.

[2019-01-12 04:41] marcos-rios opened #11015 "createPages context must be nullable in graphql?"
## Summary
When generating pages from markdown files and passing the slug to the component context it's not working on graphql as intended in the documentation/guides.

## Relevant information
[code]

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`:
[code]
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

I had a hard time debugging and figuring out what was wrong with this code. The pro

[2019-01-12 09:12] YMIndustries commented on #10036
Same symptoms, different problem I guess. Is it worth me creating another issue to track the "blank page when JS is disabled" problem?

[2019-01-12 10:07] RobinCsl commented on #10908
I will try and give it a go!

[2019-01-12 10:41] cardiv commented on #10982
Ah, I understand. A preview environment would help to keep previews private. Although waiting on the build to preview pages could take a long time at the moment – if you build them like published pages – the team is working on faster, incremental builds – so only changed pages will be build and not the whole site every time.

Currently, I need to figure out the details of a browser side preview. S

[2019-01-12 12:07] davidbailey00 commented on #10036
I'm not sure if it's worth creating another issue, because if users have disabled JS in their browser then the SW won't install, so they will see the HTML content correctly.

The difference in your case was that JS was disabled after the SW was already installed, rather than being disabled beforehand, but we can expect this to be reasonably unlikely. For this reason I think we shouldn't make an ef

[2019-01-12 12:18] utophii opened #11019 "display mode of gatsby-remark-katex/mathjax rendered to inline math"
## Description

Same phenomena with #3473. KaTeX display formulae are rendered to inline formulae.

I checked the issue #3473, but I think the conclusion of that issue is not appropriate... `\displaystyle` should not be necessary.

Is this a problem of `remark-math`?

### Steps to reproduce

Clone `https://github.com/utophii/blog-src`, `yarn` and `gatsby develop`. Enter `localhost:8000/2019-01-12-

[2019-01-12 12:20] YMIndustries commented on #10036
Ah, the reason I was going to make a separate issue for it is because I didn't realise that it was intended behaviour for the HTML result of sw.js to not include the page contents.

[2019-01-12 12:51] zilahir commented on #9144
Hey!

Was this resolved somehow?

I am not using `ACF` since I can't get the posts from `wordpress.com` hosted site.

I assume the `auth` is ok, i am not getting any error on console after `gatsby develop`.

(If i provide wrong password in `gatsby.config.js` on purpose, then `auth` `error` is present.

I dont'w want to achieve much, just get the `posts` in `graphql`, with the following `query` fro

[2019-01-12 13:05] jakallergis commented on #10795
@sidharthachatterjee Do you know if there are any plans for exposing access to the internal Instance of Prism? Thanks.

[2019-01-12 14:54] iamskok commented on #5030
Thanks, @DSchau for pointing me to https://github.com/DSchau/gatsby-remark-code-titles it was very
helpful for getting my head around markdown parsing.

I was thinking about various use cases of this plugin usage and came to the conclusion that it's better to create two separate plugins. Because not every blog requires copy functionality and not everyone
requires code titles and probably it's even

[2019-01-12 15:17] zilahir opened #11021 "gatsby-source-wordpress: Fetching the JSON data from 0 valid API Routes..."
## Description

Trying to fetch the date from `API` provided by `wordpress.com`.

`APP` is created and set up.

I think the auth is working, i am manage to verify it, and getting:

[code]

Providing the related stuff in the `gatsby-config.js` file, such as:

[code]

and

[code]

### Steps to reproduce

Create a new wordpress site on wordpress.com, associate an `app` with it, provide the `url` and

[2019-01-12 15:43] bhavaniravi opened #11022 "Filter out medium post based on tags"
I am trying to bring in all my medium blogs and display them on my Gatsby site.

I am trying to write a GraphQL query which will eliminate posts with certain tags. How do I go about doing it

My current query filters out just the post leaving the Series
[code]

[2019-01-12 15:51] cardiv commented on #11021
Hey @zilahir,

this ...

[code]

should be ...

[code]

Hope that works.

[2019-01-12 15:56] zilahir commented on #11021
@cardiv if course its in an `auth` object,  i just did not copy that part :(

[code]

[2019-01-12 16:07] cardiv commented on #11021
Hm, well. Besides that, Gatsby needs wordpress.com authentication only for downloading media – as I know.

Is this your config? If so, I would remove the unnecessary `htaccess` and `jwt` parts.

Are the whitelisted endpoints available if you request them in the browser or with Postman? Checked both `http` and `https`?

Could you provide a quick reproduction repository of your Gatsby app?

[2019-01-12 16:13] rahuldhir opened #11023 "Semantic UI <Responsive> component in production build causes child components to render incorrectly"
## Description

Semantic UI React's `<Responsive>` component is causing a child `<Dropdown>` component to render incorrectly in my production build. However, this is fixed after a refresh or navigation to another page. This issue does not occur when running `gatsby develop`.

In [`src/components/Header/index.js`](https://github.com/rahuldhir/gatsby-issue-11023/blob/master/src/components/Header/ind

[2019-01-12 16:48] zilahir commented on #11021
@cardiv yes, the endpoints seems to be working,

for example:

`https://public-api.wordpress.com/wp/v2/sites/fmehu.wordpress.com/posts`

i have created a repo:

https://github.com/zilahir/fme-web

Thank you!

[2019-01-12 16:49] benjaminabel commented on #11004
@sidharthachatterjee I know that this implies breaking changes, however this could be covered smoothly adding the new plugins as dependencies wirh a warning message until a further release.

[2019-01-12 17:00] cardiv commented on #11021
I managed to reproduce that. Am on it.

[2019-01-12 17:06] #5700 closed

[2019-01-12 17:06] #6729 closed

[2019-01-12 17:06] #7619 closed

[2019-01-12 17:06] #7623 closed

[2019-01-12 17:33] cardiv commented on #11021
It seems that something is not right with the WordPress REST API.

Response for every route should be:

[code]

Actual response:

[code]

I tested the same route in Postman and the response is correct.

Removing `_accessToken` brings a correct response. I will test further and keep you updated.

[2019-01-12 17:34] Pitchlab opened #11024 "When i create a wildcard path, a folder named * is created"
## Wildcard path creates folder named * - which I can't upload
I created a path like this:
[code]

When using `gatsby develop` this works fine locally on MacOSX. But after running `gatsby build` and trying to upload to a generic Linux server, I got some errors. Investigating showed me that a folder named '*' is present in the public folder. Linux apparently doesn't like that.

[code]

What should

[2019-01-12 17:39] zilahir commented on #11021
@cardiv thank you!

is this related though?

https://github.com/gatsbyjs/gatsby/issues/10427

[2019-01-12 17:59] cardiv commented on #11021
Thanks for mentioning @zilahir! I didn't find that during my search.

Gatsby is using the **testing** method of receiving an access token. This is intended for testing purposes only as explained [by the docs](https://developer.wordpress.com/docs/oauth2/#receiving-an-access-token).

The result after requesting an access token seems wrong:

[code]

These keys inside `data` should be filled, I think.

[2019-01-12 18:06] benjaminabel commented on #11004
@DSchau first of all I think toc,  metadata, excerpt, are out of the scope of the transformer plugin, they are really handy but could be provided by plugins.
These changes could allow to extend the API that the transformer provide to plugins for exemple to allow them to work on the hast tree as it is done when creating the toc, maybe we could also allow plugins to handle the html code.

[2019-01-12 18:13] holyjak commented on #10908
❤️

On Sat, Jan 12, 2019, 11:07 AM Robin Cussol <notifications@github.com>
wrote:

[2019-01-12 18:25] ergunpp opened #11025 "jsconfig.json for Gatsby project is not respected"
I am trying to set up a new project with gatsby and am trying to set compiler options like so:
[code]
My objective is being able to reference components and etc. with 'components/something' instead of '../components/something'

But when the compiler runs, it returns error
[code]
Any thoughts appreciated. Am on gatsby version 2.4.8

[2019-01-12 18:27] daniel-vera-g opened #11026 "Failed at the sharp@0.21.0 install script. on ubuntu 16.04"
## Description

I am using`"gatsby-plugin-sharp": "^2.0.17",` as well as `"gatsby-transformer-sharp": "^2.1.3"`. After installing, it seems that there is an issue installing the sharp dependency.

### Steps to reproduce

[code]

### Expected result

Everything installed properly.

### Actual result

[code]

### Environment

[code]

---

UPDATE:

Before submitting this issue I tried extensively nea

[2019-01-12 18:33] utophii commented on #11019
Found a solution, it is solved when I use a line break after and before the double dollar signs:

[code]

[2019-01-12 18:33] #11019 closed

[2019-01-12 20:13] chadly opened #11027 "Remove GATSBY_ prefix for environment variables accessed on the client"
## Summary

Currently, Gatsby makes environment variables prefixed with `GATSBY_` available to client-side scripts via the `Define` webpack plugin. I'd like to make those same environment variables available to the client without the `GATSBY_` prefix as well.

### Basic example

[code]

from client scripts:

[code]

### Motivation

I'm pulling in libraries that require some configuration to be set

[2019-01-12 20:16] cardiv commented on #11014
Hey @stmcallister,

thank you for raising this issue.

Does the requested changes to GTM code work adding the site to Search Console?

If so, would you mind creating a PR for that?

[2019-01-12 20:42] cardiv commented on #10970
@arturhenryy

And to your issue: I can confirm that the deleted translation is still _connected_ to the page in WordPress. Build is crashing.

To unlink the translation, edit the original and click on the edit button for that translation. This will remove the translation title. After that the build works for me.

<img width="290" alt="unlink-translation" src="https://user-images.githubusercontent.

[2019-01-12 21:13] tinder-kyleboss commented on #4603
Heya! For those stumbling across this issue looking to internationalize their sitemaps, I do have a bit of good news 😄gatsby-plugin-sitemap actually does support [internationalized sitemaps](https://support.google.com/webmasters/answer/2620865?hl=en)

Let's say your website is https://sitemaps.com and your Spanish version is https://sitemaps.com/es.

[code]

Unfortunately, this will cause most web

[2019-01-13 04:43] chrisdrackett opened #11033 "not all nodes available in `sourceNodes` within `gatsby-node.js`"
## Description

I'm getting markdown files from my file system and creating nodes. I'd like to do work on these nodes after they are all created and read that this is possible via `sourceNodes` within `gatsby-node.js`. The problem I'm running into is one set of my markdown files don't seem to be available at this step. I do see them in graphiql, but if I run a log during `sourceNodes` some of my n

[2019-01-13 04:57] KyleAMathews commented on #11033
Transformer nodes won't be done necessarily by the time your code is called. You should use onCreateNode to extend nodes.

[2019-01-13 07:31] sandeepone commented on #9611
For me On Safari, if you have service worker registered, when you "Empty Cache" and refresh page, you get this error.

[2019-01-13 09:10] ergunpp commented on #11025
I have solved the issue with the following entry to gatsby-node.js

[code]

[2019-01-13 09:10] #11025 closed

[2019-01-13 09:18] ergunpp opened #11036 "How to port an existing html/bootstrap scss website with some custom js code to gatsby?"
Hi,
I have just finished my first website with Gatsbyjs showcasing around 15 products with product data coming from contentful.

Now I have another website running at chefschoice.com.tr that I want to port to gatsby. I have played around with directly adding existing scss to gatsby (which failed at module.exports even after adding node-sass plugin) and also with reactstrap. Reactstrap seemed to re

[2019-01-13 09:28] oorestisime opened #11037 "[Regression] createRemoteFileNode is not able to guess filename from temporary urls"
(Sorry for not respecting the template)

So #9777 introduced a regression when the It tries to guess the remote file name on urls that do not contain the filename. Such urls are temporary download urls. I guess this is acceptable

**But** when those urls are somewhat long (>255 characters) then it will try to save the file under that name and fail since it exceeds the maximum characters allowed in

[2019-01-13 11:15] jumpalottahigh commented on #6559
Hi, @omrllm. The `gastsby-starter-default` doesn't reach 100 score in the PWA category, because the service worker is opt in. You can enable it and that's going to get you to 100, but unless you are aware of how service workers function, I'd suggest you are probably better off leaving it like that, as it might introduce caching issues and serving stale content in some cases. That being said it cou

[2019-01-13 13:07] d-ivashchuk opened #11040 "Importing image into file throws error"
## Summary
I am trying to import a pattern image into `global.js` file where I want to use it with styled components. When I try to use standard `import pattern from '../assets/x.jpg'` I think I get a webpack error:
[code]
Maybe I am missing something, but `url-loader` seems to be present in `node-modules` and I've already tried to delete them and reinstall again. I have tried it with .jpg, .png a

[2019-01-13 14:07] omrllm commented on #6559
I still get the same results.. how do you get that 100 PWA score?

What I did:
- Went to https://github.com/gatsbyjs/gatsby/tree/master/starters
- Cloned the https://github.com/gatsbyjs/gatsby repo
- Deleted everything in the folder
- Installed the gatsby-cli with `npm install gatsby-cli` inside the blog and default folders
- `gatsby build`
- `gatsby serve`

Same results..

**Brave (a browser base

[2019-01-13 15:52] jumpalottahigh commented on #6559
I like testing on Netlify in an incognito Chrome tab for (hopefully) most trustworthy results. Following the same steps as you, cloning the monorepo, going to `starters/blog` and installing the dependencies with yarn, then building a production version and deploying it to Netlify, does indeed give me 100 scores across the board except for best practices.

![image](https://user-images.githubusercon

[2019-01-13 16:17] hackhat commented on #11006
I'm also getting this. I try to refresh, no matter how many times I see a blank screen. Many users reported they can't access the website because they get a white page. It's so annoying as it seems to affect many people. :(

[2019-01-13 16:34] ocian opened #11049 "Plugin gatsby-transformer-remark is not compatible with your gatsby"
## Summary
I use `gatsby-cli@2.4.8` when create my project, and add the `gatsby-transformer-remark` followed by the document. But I notice this warn:

And, it takes no effect.
## Relevant information
node: v10.15.0
npm: 6.4.1
Operate System: Debian buster

### Environment (if relevant)
Here lists all I has done:
[code]

### File contents (if changed)

`gatsby-config.js`:
[code]
`package.json`: N/A

[2019-01-13 16:55] locohost commented on #10742
Sorry for taking so long to reply but... Wow! Thank you @jonniebigodes! I'll give this all another try. I reeeeeallly want to use Gatsby on Netlify :-)

[2019-01-13 17:04] JoshuaWalsh opened #11050 "Allow choosing element types for gatsby-remark-custom-blocks"
## Summary

Currently with custom blocks you can either have your blocks come out as div elements, or as details/summary elements.

It would be nice if we could specify for each block type the element types for the container, title, and body.

### Basic example

[code]
### Motivation

My primary motivation for wanting this feature is to be able to use HTML5 semantic elements such as `<address>`, `

[2019-01-13 17:08] locohost commented on #10742
I'm trying to remember: I think that I did have code like above working _locally_, but it was erroring when deployed to Netlify. I'll work on this again today. Thanks again @jonniebigodes :-)

[2019-01-13 17:16] #5900 closed

[2019-01-13 17:16] #5919 closed

[2019-01-13 17:16] #5995 closed

[2019-01-13 17:16] #7808 closed

[2019-01-13 17:56] azamatsmith commented on #10991
Can confirm that I am experiencing this issue during hot reloading as well. Unfortunately, I do not have a repository that I can share.

[2019-01-13 18:51] maxlapides commented on #11014
I tested the idea of removing the `+''` and it unfortunately didn't resolve the issue for me.

[2019-01-13 18:54] chrisdrackett commented on #11033
the issue is I'm trying to map nodes to each other, but I assume its possible that during onCreateNode the related nodes I'm looking for might not have been created yet?

[2019-01-13 19:04] stmcallister commented on #11014
Do you get any kind of error message?

On Sun, Jan 13, 2019, 10:51 AM Max Lapides <notifications@github.com wrote:

[2019-01-13 19:12] maxlapides commented on #11014
"We could not find any Google Tag Manager container ID on the index page of your site.”

[2019-01-13 20:40] ergunpp opened #11052 "Graphql query not running in component, data is undefined"
Hi,
I have a Header component where site navigation is rendered. The navigation is running fine except for the image, which is not displayed.
I am trying to get the logo with graphql query, which runs fine on graphql console, but the data object is not passed to props in page query. The code is below posted:

[code]

My gatsby-config.js is as follows:

[code]

What am I missing? The image query is

[2019-01-13 20:46] j10sanders commented on #11026
Getting the same, ubuntu 18.10

`error An unexpected error occurred: "EACCES: permission denied, unlink '/home/jonathan/git/jonsjournal/node_modules/gatsby-plugin-sharp/node_modules/fs-extra/CHANGELOG.md'".`

[2019-01-13 21:04] hagnerd commented on #11052
To use a query in a non-page component, you need to use the `StaticQuery` component. [Here is the official docs](https://www.gatsbyjs.org/docs/static-query/) on using `StaticQuery`.

[2019-01-13 21:09] ergunpp commented on #11052
Where do i need to place the query exactly?

On 14 Jan 2019 Mon at 00:05 Matt Hagner <notifications@github.com> wrote:

[2019-01-13 21:31] hagnerd commented on #11052
So `StaticQuery` is a component, that takes a `query` prop (this is where you will query for the image) with the caveat that static queries cannot have variables. You render the returned data via a render prop.

`StaticQuery` will wrap the portion of your header that has the data requirement.

If you take a look at the [official docs](https://www.gatsbyjs.org/docs/static-query/) for `StaticQuery`

[2019-01-13 21:41] b0gd4n opened #11053 "GraphiQL not working"
The GraphiQL interface (http://localhost:8000/___graphql) open just fine, however it does not work.

We've started building the project with Gatsby v1 and we've been using GraphiQL just fine. However, since updated to v2, it stopped working.
A few seconds after opening the ui, I get this error `TypeError: Failed to fetch` in the interface and this trace in terminal:

<--- Last few GCs --->

[80995

[2019-01-13 21:48] americos commented on #9511
I had this same issue using Gatsby `2.4.8`, I tried @aflansburg fix and it worked for me

[2019-01-13 22:45] hbish commented on #11037
I think it makes sense to have an override as there are lots of different use case of this utility method and there is no way to cater for each and every use case. Thanks for proposing this @oorestisime

[2019-01-14 01:54] Dogtiti commented on #10789
@jonniebigodes @sidharthachatterjee Hey,  have any good news?

[2019-01-14 02:00] bealearnscode commented on #4950
I just started using Gatsby today. When I ran "gatsby develop", I got two errors. The first said "Unable to copy site files to .cache". The second said "Error: EISDIR: illegal operation on a directory, readlink..." and lists the path to the .cashe directory in my project.

My very limited understanding of EISDIR tells me the .cache directory should be a single file. Is that correct? If possible, h

[2019-01-14 02:02] KyleAMathews commented on #4950
@bealearnscode — it sounds like node.js doesn't have permission to write to your site folder.

[2019-01-14 02:11] bealearnscode commented on #4950
@KyleAMathews Thank you for the lead!

[2019-01-14 02:33] devrchancay commented on #11053
Hello @b0gd4n

I happened something similar in another project is something from the memory of nodejs.

try
[code]

[2019-01-14 02:42] devrchancay commented on #11052
I think the image does not come out because you're passing it as a string "logo.childImageSharp.fluid"

Actually I did not read all the complete code, but if it is useful to you, it would be more or less your component with `StaticQuery`

[code]

[2019-01-14 03:38] hagnerd commented on #11052
Good catch @devrchancay!

That should fix your issue @ergunpp. If everything's good I'm going to close this issue.

[2019-01-14 04:03] hemakshis commented on #8366
Hi @amberleyromo, can I take this up? This would be my first issue to gatsbyjs. Also, it would be helpful if you could provide a little more detail on what needs to be done as the description is not much clear to me. Thank you :)

[2019-01-14 06:39] schalkventer commented on #8122
Has this been implemented in Gatsby 2? I.e. can it be closed?

[2019-01-14 07:35] razvan-soare commented on #10991
Hey sorry for the delay.

https://github.com/razvan-soare/gatsby-helmet-bug

Here i made a basic gatsby project ( just `gatsby new name` ) and installed `gatsby-plugin-react-helmet` and the latest beta version from `react-helmet@6.0.0-beta`

Steps to recreate: `clone` -> `npm install` -> `gatsby build`

[2019-01-14 07:45] deltaskelta commented on #3882
If using the HTML tags in the markdown file can you still refer to the pre processed image location and let remark images do the rest?

Or do you have to stick it in the static folder?

[2019-01-14 08:20] pgegenfurtner commented on #7064
@DSchau a new question raised as I'm working with this feature. Is it possible to override a query fragment from a theme? Currently my theme has a file with many fragments in it. A page I'm using the theme, may not have all fields of a fragment, so I would need to override it without the fields.

I seem to can't default export a fragment, but I think I need to to override it? Exmple:

Theme queryF

[2019-01-14 10:22] b0gd4n commented on #11053
hey @devrchancay - I tried making a `.npmrc` file with `NODE_OPTIONS=--max_old_space_size=4096` inside, as well as changed the develop script to
`"develop": "node --max_old_space_size=4096 node_modules/gatsby-cli develop",`

Both resulted with the same errors

[2019-01-14 10:59] nikosolihin commented on #9694
I can't seem to reproduce the issue too. Strange!

[2019-01-14 11:02] b0gd4n commented on #11053
also tried using this module https://www.npmjs.com/package/increase-memory-limit - but same result

[2019-01-14 11:25] osartun opened #11056 "Enable advanced redirects"
## Motivation

We're in the process of migrating a big Wordpress instance to Gatsby which uses plugins to configure many redirects. These redirects also include wildcards and pattern matching. We were able to convert these redirects into [the redirect format that Netlify uses](https://www.netlify.com/docs/redirects/).
However, this only supports the redirects on the server side. At some point we w

[2019-01-14 11:50] LekoArts commented on #11022
Do you have your repository available? You should have a look at the GraphQL docs on `filter`: https://www.gatsbyjs.org/docs/graphql-reference/#filter

[2019-01-14 11:52] LekoArts commented on #11024
You need to pass in `<some GUID>` in the `createPage` function instead of the `*`. The `path` doesn't accept "wildcards", it creates pages on the respective paths.

[2019-01-14 11:55] LekoArts commented on #11040
Do you have a link to a repository or can share your code?

[2019-01-14 11:58] LekoArts commented on #11049
Update your `gatsby` package in your project. When you use `new` the [starter](https://github.com/gatsbyjs/gatsby-starter-default) gets cloned. Its yarn.lock is currently at 2.0.76 that's why you see this message. It should be updated soon but in the meantime just update the gatsby package(s).

[2019-01-14 11:58] #11049 closed

[2019-01-14 12:07] JoshuaWalsh commented on #11050
I've realised this is actually dependant on an upstream package and have created an issue there as well: zestedesavoir/zmarkdown#310.

[2019-01-14 12:18] devrchancay commented on #11053
How rare is it that the maximum ever increase was `8192`

[2019-01-14 12:21] devrchancay commented on #11053
hello @KyleAMathews , why is this error

[2019-01-14 12:33] ergunpp commented on #11036
Yes I can confirm Version 2 and gatsby-plugin-sass

[2019-01-14 12:34] bjfresh opened #11057 "Can ACF Field Groups be queried at the group level?"
## Summary

Using gatsby-source-wordpress and ACF, it doesn't seem like it's possible to query ACF Field Groups.

## Relevant information

On a larger site with larger components and sections, grouping fields for convenience is a necessity. Using ACF Field Groups, I'd expect to be able to query at the group level with GraphQL, but it appears that groups are essentially flattened and the query must

[2019-01-14 12:36] ergunpp commented on #11052
Thank you very much!

[2019-01-14 12:36] #11052 closed

[2019-01-14 13:03] sidharthachatterjee commented on #11013
@daydream05 Since the external script you're referring to uses `document` and since you'd like to execute after render, the best place to put it would be [onInitialClientRender](https://www.gatsbyjs.org/docs/browser-apis/#onInitialClientRender) in `gatsby-browser.js`

[2019-01-14 13:08] sidharthachatterjee commented on #11014
@stmcallister @maxlapides

`gatsby-plugin-google-tagmanager` adds the script recommended in https://developers.google.com/tag-manager/quickstart at https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-tagmanager/src/gatsby-ssr.js

Can you please link to a minimal reproduction of this if possible?

[2019-01-14 13:16] sidharthachatterjee commented on #11015
Thank you for opening this @marcos-rios

The reason the above isn't working is because StaticQuery does not accept variables as documented in https://www.gatsbyjs.org/docs/static-query/#how-staticquery-differs-from-page-query

You need to export a page query from the Post component file and then the context passed to it will be available in the GraphQL query.

This is a red herring and works becau

[2019-01-14 13:21] selrond commented on #4028
@ajayns just stumbled upon `createFilePath`, and haven't found any docs for it - any updates?

[2019-01-14 13:46] edgarnansen commented on #6654
`got@8` seems to implement RFC 7234 compliant HTTP caching, so gatsby-source-filesystem could supply it's own file system cache adapter. Which should at least reduce time spent in source and transform nodes the second time around given that the resource is cacheable.

[2019-01-14 13:49] sidharthachatterjee commented on #11022
Hey @bhavaniravi

Took a look at the response from Medium and the schema. I don't see tags for `allMediumPost` whereas I do see them in `allMediumCollection`

Can you elaborate a little more on your use case?

[2019-01-14 13:56] eikhunter commented on #8280
I am having the same issue, I don't want to build pages out of .md files I simply want to reference them in a component, not have to create a graphQL query to do something simple. I am currently trying to implement a t&c page and have the t&c saved in a .md file that is pull from a server and updated during build, I just want to be able to parse it. Any help would be appreciated

[2019-01-14 14:24] #11015 closed

[2019-01-14 14:34] sidharthachatterjee commented on #11023
Thank you for opening this and including a reproduction repo @rahuldhir

This looks like a React hydration issue

When the production build is rendered, the desktop menu is not included in the HTML (disabled
![screenshot 2019-01-14 19 58 57](https://user-images.githubusercontent.com/7701981/51118633-dad1e480-1836-11e9-91a2-7f8f1f96bd3b.png)

This is because `Responsive` as seen below defaults `wid

[2019-01-14 14:43] danedavid opened #11060 "(www): Gatsby site development server does not start"
## Description

Building Gatsby site (gatsbyjs.org) takes infinitely long (stuck at `onPreBootstrap`).

### Steps to reproduce

I `cd` to `gatsby/www` and ran `gatsby develop`.
Then the terminal is stuck at step `onPreBootstrap`. I tried for about an hour, many times, with Node V8 as well as Node v10.

### Expected result

Gatsby dev server should be up.

### Actual result

Stuck.

### Environment

[2019-01-14 14:49] bhavaniravi commented on #11022
@sidharthachatterjee It does have `tags` in `allMediumPost` under `virtuals->tags->name`.
@LekoArts

[code]

Here is the filter I am trying to write but it says `name field is unknown`

![image](https://user-images.githubusercontent.com/10116000/51119769-b3304b80-1839-11e9-8891-e51834f14b39.png)

[2019-01-14 14:52] fk commented on #6723
We still want to do this! ✌️

[2019-01-14 14:56] sidharthachatterjee commented on #7277
Leaking env variables was fixed in https://github.com/gatsbyjs/gatsby/pull/10030

Adding variables defined in `.env.development` and `.env.production` to the bundle is by design as documented in https://www.gatsbyjs.org/docs/environment-variables/

@jarekpelczynski Closing this for now but please feel free to reopen if there is anything else

[2019-01-14 14:56] #7277 closed

[2019-01-14 15:04] sidharthachatterjee commented on #11027
Thank you for opening this @chadly

The reason we don't _automatically_ make _all_ environment variables available in the bundle is because it could lead to unintentionally leaking credentials to the client side. That's why we require variables to be explicitly prefixed with `GATSBY_`so that it is clear that their inclusion in the bundle is explicit and and intentional.

Now, with respect to your

[2019-01-14 15:09] sidharthachatterjee commented on #11022
@bhavaniravi Here you go

[code]

[2019-01-14 15:14] graysonhicks opened #11062 "Adding guide to Docz integration"
## Summary

Add a guide for [Docz](https://www.docz.site/) integration to a Gatsby project.  Both projects emphasize the use of `.mdx` files but after spending a weekend, I can't get them working together and can't find any resource that points me in the right direction.

### Basic example

The [Storybook](https://www.gatsbyjs.org/docs/visual-testing-with-storybook/#visual-testing-with-storybook)

[2019-01-14 15:19] sidharthachatterjee commented on #11036
@ergunpp Can you link to a reproduction repo for the issue you're facing with [gatsby-plugin-sass](https://www.gatsbyjs.org/packages/gatsby-plugin-sass/)?

[2019-01-14 15:30] sidharthachatterjee commented on #11040
@d-ivashchuk Does this happen with a specific image or with any image that you try to `import`?

[2019-01-14 15:38] sidharthachatterjee commented on #11053
Hey @b0gd4n

Can you please link to a minimal reproduction of this?

[2019-01-14 15:49] danedavid commented on #11060
Okay, the development server ran after about 1.5 hours. Does it take that long every time? Is there any way to speed up subsequent dev server starts?

[2019-01-14 15:50] sidharthachatterjee commented on #11040
@d-ivashchuk We've set url-loader's limit option to 10000 bytes (10kb). We do this to set a good default limit. The files you are trying to import are over a MB.

Remember files handled by this are base64 encoded and add to the size of your bundle.

Might I recommend using [gatsby-image](https://www.gatsbyjs.org/packages/gatsby-image/)?

[2019-01-14 15:58] chadly commented on #11027
Yes, I understand the use case for not automatically making all env variables available to client. The proposal here would be to still require the `GATSBY_` prefix for system environment variables to be exposed to the client. The only change here would be to also make those same `GATSBY_` prefixed variables available to the client without the prefix.

[2019-01-14 15:59] danedavid commented on #11060
Ok, but I read in the README that if you're working on the starter or showcase (which I am) you cannot use that setting.?

[2019-01-14 16:01] sidharthachatterjee commented on #11027
This would be really confusing in my opinion.

[2019-01-14 16:03] sidharthachatterjee commented on #11060
I do thing subsequent restarts will be much faster since a lot in cached in `.cache`

Are you seeing subsequent restarts take the same amount of time?

[2019-01-14 16:13] sidharthachatterjee commented on #11027
@chadly A plugin is a good idea. If there is enough usage and feedback on this issue (let's keep this open), we could always consider merging it into core.

[2019-01-14 16:20] bjfresh commented on #11057
Digging in further, it looks as though this is more a function of the nature of the acf-to-rest-api plugin implementation and how it surfaces endpoints. It seems like this will need to be done manually in many cases.

[2019-01-14 17:07] d-ivashchuk commented on #11040
Hmm, I didn't know that, thanks! I would like to use image as a background for the website and wasn't sure that `gatsby-image` is the best option for this. Anyways thanks for pointing out, I will try to do it with `Img`

[2019-01-14 17:16] #7435 closed

[2019-01-14 17:16] #4992 closed

[2019-01-14 17:16] #7831 closed

[2019-01-14 17:16] #7856 closed

[2019-01-14 17:18] janosh commented on #8456
Not stale!

[2019-01-14 17:30] devrchancay commented on #8122
@schalkventer I would think that if it can be closed.

[2019-01-14 17:58] danedavid commented on #11060
Yes, it seems to download all screenshots again. Is there any config or setting I should set first?

[2019-01-14 18:01] gazpachu commented on #7917
Hi, using `!important` to remove the hardcoded styles is not a valid option for me, as it leaves me with little possibilities to style different types of images in my blog posts.

Would it be possible to remove those hardcoded styles? @kakadiadarpan

[2019-01-14 18:50] RobinCsl commented on #11062
@graysonhicks I just pushed the following repo https://github.com/RobinCsl/docz-with-gatsby and I managed to get Gatsby and Docz work together. Let me know if this was what your are asking about or if I misunderstood your question.

Ah, maybe what I missed was that you also want Gatsby to deal with the `mdx` files, not just Docz. Is that it?

[2019-01-14 18:54] benjamingrobertson commented on #11062
@RobinCsl Were you able to successfully import a component from your Gatsby source into an .mdx file? Based on the errors I was getting last week, I would think you need to customize the docz webpack config to work with Gatsby.

[2019-01-14 18:58] mattdufeu commented on #10126
I found your issue because I couldn't get captions to appear at all. I didn't realise the caption text was after the image, but inside the brackets:

`![Netflix (Kids section)](./netflix-kids.png '<this is the caption>')`

So thank you for that!

Yet more good news, is that while playing, I think I found the answer to your extra `<p></p>` statements. It appears that any blank lines before and afte

[2019-01-14 18:58] graysonhicks commented on #11062
Thanks @RobinCsl .  What I am trying to do is import a component from the Gatsby `src` directory.  In this case, try and import the `header` component from the Gatsby `src` dir and document it with Docz.

[2019-01-14 19:02] RobinCsl commented on #11062
Oh right. 😊
I encounter the same problem as you then:
[code]

[2019-01-14 19:04] graysonhicks commented on #11062
Yep thats the same error.  The Storybook link I posted above shows how to fix this issue for Storybook.  Looking for the same information, but for Docz.  Thanks for looking at it.

[2019-01-14 19:06] RobinCsl commented on #11062
I’d like to give that a try, I’ve been playing a bit with Docz recently.
But of course, anyone else is welcome to look at it too!

[2019-01-14 19:37] #8277 closed

[2019-01-14 21:04] antoinerousseau commented on #7747
Fyi, I was able to get my `<StaticQuery>` working with `wrapPageElement` but not `wrapRootElement`.
I'm using it to load i18n messages into `react-intl`'s `<IntlProvider>` in the root layout.

[2019-01-14 22:11] shansmith01 opened #11066 "Upgrade from Gatsby 2.0.82 to ^2.0.83 breaks Styled Components"
When I upgrade to anything above Gatsby 2.0.83 styled components breaks. My site looks ugly and i get the following message

[code]

As far as I can see there are no duplicate declarations anywhere

Thanks for the help

### Steps to reproduce

run NPM upgrade from 2.8.2 to ^2.83
run gatsby develop
Site is broken

### Expected result

It should not throw and error and break

### Environment

  Syst

[2019-01-14 22:47] locohost commented on #10742
@jonniebigodes Yes I have this same example working locally. Thank you for that. I will investigate the code and see how I can refactor to deploy to Netlify and test.

[2019-01-14 23:14] locohost commented on #10742
Ok so the confusing parts are...

- Why in the gatsby-node.js is the "pageContext" passed into createPage as "context", but then in the component, in props, it comes out as "pageContext"? This was absolutely tripping me up.
- Why in gatsby-node.js do I have to use require.resolve(... inside the exports.createPages to load my components? Why can't I import them (I tried, it doesn't work) at the top

[2019-01-15 00:36] cameron-martin commented on #2374
@levibuzolic When I follow your steps I get the following error

![image](https://user-images.githubusercontent.com/1467158/51150285-8726c180-185d-11e9-8add-eae8126ecae2.png)

[2019-01-15 00:40] levibuzolic commented on #2374
Sorry @cameron-martin I'm not using Gatsby at the moment, my guess is there's been a change in a recent version of `apollo`. This comment may help: https://github.com/apollographql/apollo-tooling/issues/792#issuecomment-452724432

[2019-01-15 00:49] cameron-martin commented on #2374
The correct config seems to now be:

[code]

[2019-01-15 03:35] devbisht opened #11070 "Gatsby with a million pages"
Anyone working /worked with a million pages build in Gatsby?

Just want to see what is the build time and performance of Gatsby before actully implement it.

[2019-01-15 03:42] devrchancay commented on #11070
I've been asked the same thing several times. for my part I will try to generate many pages with data obtained from faker or something similar and I tell you when I do it.

[2019-01-15 04:43] hemakshis commented on #8366
Hi @LekoArts, I have submitted a PR #11071. Please let me know if any changes are required :smiley:

Thank you!

[2019-01-15 05:29] KyleAMathews opened #11072 "Stop code splitting CSS?"
We get many many big reports for v2 where people report weird CSS problem where depending on how they load the site and the order they visit pages, they get inconsitent styling.

These seem all related to splitting CSS as that means styles load in different orders changing the priority of rules.

We had far fewer problems in v1 without CSS splitting.

This tweet is also a good evidence for the pro

[2019-01-15 05:58] KyleAMathews commented on #11070
FYI there's benchmark sites for this sort of thing https://github.com/gatsbyjs/gatsby/tree/master/benchmarks

Also, we don't yet support sites this large. There's a few key blockers e.g. https://github.com/gatsbyjs/gatsby/issues/4746

[2019-01-15 09:07] steoneill commented on #10446
@shannonbux  i'll take this if you want to assign it over? :)

[2019-01-15 09:09] #10943 closed

[2019-01-15 09:51] Siregar opened #11075 "Conditional injection of gtag through gdpr cookie layer"
👋
I am trying to implement a gdpr cookie layer in a **Gatsby V1** project, which should inject the gtag script when the user clicks accept. My first attempt was to manipulate the `html.js` and sync the cookie with the files state. This isn't working, no script in the DOM.

Any hints what's the right place for that implementation?

Thanks for your help!

[2019-01-15 10:15] oorestisime opened #11076 "[feat]: improve logging by introducing structured logging"
I am restructuring this issue after my pair session with @DSchau  to cover the
broader problems facing (discussed while trying to fix this one)
with logging in Gatsby.

To solve the flickering issue it will require either an ugly hack
or more structural changes.

Current problems with logging:

* non standard way to log in gatsby core and in packages. Plugin authors
  are using a mixture of `conso

[2019-01-15 10:36] LekoArts commented on #7963
Global `eslint` is now also running the `/www` code 👍

[2019-01-15 10:36] #7963 closed

[2019-01-15 10:37] LekoArts commented on #7964
Prettier and husky and all that kind of stuff was added in the meantime, so close this as resolved!

[2019-01-15 10:37] #7964 closed

[2019-01-15 10:52] b0gd4n commented on #11053
@sidharthachatterjee here's a stripped down repo of our webite https://github.com/kaizenagency/public-kaizen-dummy - it happens on it as well

[2019-01-15 12:08] sidharthachatterjee commented on #11075
Hey @Siregar

You could add the script in an event handler in a component, I suppose
[code]

[2019-01-15 12:23] jbolda commented on #11076
Perhaps, coming back to #4803, using https://github.com/nuxt/webpackbar is a good option?

[2019-01-15 12:31] sidharthachatterjee commented on #11053
Looks like this might be potentially related to https://github.com/webpack/webpack/issues/6929

[2019-01-15 12:37] sidharthachatterjee commented on #11060
Unfortunately, no. 🙁

There is `GATSBY_SCREENSHOT_PLACEHOLDER` but like you mentioned you need screenshots to be generated for what you're working on.

[2019-01-15 12:40] sidharthachatterjee commented on #11040
`gatsby-image` is great because you get a bunch of stuff for free including
- ability to resize images
- lazy load them
- generate blurred versions while the actual image downloads

Closing this issue in the mean time but please feel free to comment or reopen if there is anything else!

[2019-01-15 12:40] #11040 closed

[2019-01-15 12:41] sidharthachatterjee commented on #11022
Closing this issue for now but please feel free to reopen if there is anything else @bhavaniravi

Thanks!

[2019-01-15 12:41] #11022 closed

[2019-01-15 12:50] sidharthachatterjee commented on #10991
@razvan-soare

Change `import Helmet from 'react-helmet'` to `import { Helmet } from 'react-helmet'`

[2019-01-15 13:00] sidharthachatterjee commented on #10742
Sorry about the confusion, @locohost

It's called `pageContext` because there could be multiple contexts in case of app where the user wraps the root element with a Provider and we wanted to be explicit

This is because we need to pass the path of the template component to `createPage` and not the component itself

I do understand the frustration though and we should definitely make this clearer i

[2019-01-15 13:33] danedavid commented on #11060
@sidharthachatterjee Thanks a bunch! I'm closing this issue.

[2019-01-15 13:33] #11060 closed

[2019-01-15 13:58] pbeshai commented on #6944
I also just ran into this problem. Curious what the recommended solution is. I suppose for now I can check if the first character in the URL is `/` and create the absolute URL myself.

[2019-01-15 14:39] jonniebigodes commented on #5810
@wulffeld expanding on what i've said. While using the latest angular-cli for a project i was working on. The same problem happened here. Adding "assault to injury" (pardon the bad pun) but i had to touch in the electron cli also. And i got the same issue. What leads to me to believe that this is not actually a gatsby issue, like i said before, but more of os+node+package dependencies  implementat

[2019-01-15 14:57] jonniebigodes commented on #7885
@craig1123 when you use the `window` object always do a sanity check to see if it's not null, this will prevent some issues that might pop up in the future, This because the object is not available.
My approach when i have to touch the window object is always the following:
[code]
With this i'm able to circumvent most of the problems, for this particular case you could even optimize it with [lodas

[2019-01-15 14:58] gendronb commented on #10070
@pieh

The fix mentionned in https://stackoverflow.com/questions/52051090/gatsbyjs-client-only-paths-goes-to-404-page-when-the-url-is-directly-accessed-in for Heroku doesn't work.

I tried to deploy the client-only-paths example to Heroku, using https://www.gatsbyjs.org/docs/deploying-to-heroku/ as guidelines, and adding a static.json as mentionned in https://github.com/heroku/heroku-buildpack-sta

[2019-01-15 15:01] Meemaw opened #11081 "Gatsby with swagger-ui"
Hello! I'm trying to setup a documentation page with `swagger-ui` inside. I bootsraped my project with `gatsby new example`. In one of my components I import swagger-ui as:

[code]

This works when running locally, but fails at build time:
[code]

[2019-01-15 15:09] lannonbr opened #11082 "Plugin Library: Mark plugins that are officially maintained by Gatsby"
## Summary

It would be helpful to have on plugins that are maintained by Gatsby to have something on each plugin page so devs can know what plugins are official plugins compared to developed by the community. So something like the gatsby-image and other official plugins can be easily noticed as being products being built internally by Gatsby

[2019-01-15 15:10] eikhunter opened #11083 "Can't import .md files into a component"
https://github.com/gatsbyjs/gatsby/issues/8280 - Issue reference.

TL;DR - Basically I want to import some privacy policies that are updated via a cli globally for my company and stored in S3, which our Gatsby static website then pulls down and updates manually (or via a webhook) But the issue is that because of the way you have to use frontmatter to create a template that then calls the .md file

[2019-01-15 15:16] alex-greco-harrys commented on #4337
@ethagnawl I have a hacky sort of solution to produce a single page app that can be served at any URL. By single page, I actually mean one single page with no routing at all.

If you look at the following Gatsby example: https://github.com/gatsbyjs/gatsby/tree/master/examples/client-only-paths .

You can edit [this file](https://github.com/gatsbyjs/gatsby/blob/master/examples/client-only-paths/src

[2019-01-15 15:35] jonniebigodes commented on #10742
@locohost like @sidharthachatterjee said and expanding a bit.
Regarding your first point.

During the build process, the inner workings of gatsby will generate a "metric ton of nodes" (pardon the bad pun), if you open the devtools you'll see them, one example i could give you is the following:
![nodes_galore](https://user-images.githubusercontent.com/22988955/51189240-8599df80-18d7-11e9-937a-ae7da

[2019-01-15 16:08] Robinnnnn commented on #9671
For those who are unsure whether an aggressively cached `sw.js` is indeed the issue, checking "Update on reload" under Chrome Dev Tools helped a lot: https://stackoverflow.com/questions/40783790/disable-service-workers-when-in-development-mode

[2019-01-15 16:18] jonniebigodes commented on #10910
@Marijan111 i came across your issue and while reading up on it, one thing caught my eye. It's the fact that you're running the project inside the onedrive folder. And that can cause issues, and i'm speaking from personal experience. For reasons ulterior to the issue at hand, i was testing out gatsby inside the onedrive folder and while inside it issuing `gatsby develop` or `gatsby build` i was pr

[2019-01-15 16:49] ettaibi opened #11084 "Error: 'darwin-x64' binaries cannot be used on the 'linuxmusl-x64' platform."
## Description

I am trying to dockerize my gatsby app containing` gatsby-transformer-sharp v2.1.3`,  my Dockerfile is as follow:
[code]
after running `docker-compose up `(I have a docker-compose file too)which runs `gatsby build` command, I get the following error
` Error: 'darwin-x64' binaries cannot be used on the 'linuxmusl-x64' platform. P  lease remove the 'node_modules/sharp/vendor' directo

[2019-01-15 17:03] artbycrunk opened #11085 "gatsby-remark-images doesnt handle imageReferences in md files"
## Description

When images are referenced in markdown files, remark images doesnt process them,
example syntax that doesnt work
[code]

### Expected result

Remark images should lookup the reference definition to find the image url and process it like a standard image.

### Actual result

The reference image node is ignored.

### Environment

System:
    OS: Windows 10
    CPU: (8) x64 Intel(R) C

[2019-01-15 17:18] JackieZon commented on #1767
Right！My project port number changed to 3200 just fine. Previously number 9080.

[2019-01-15 17:19] shansmith01 commented on #11066
Tried that. No joy sorry.

[2019-01-15 20:15] Siregar commented on #11075
@sidharthachatterjee Thanks for your help. This was the right hint. :)

[2019-01-15 20:21] cardiv commented on #3263
Unfortunately, Polylang does expose more information into `polylang_translations`, which is included within any post on the REST API. WPML does only include the id, link and current language for translations.

It is possible to switch the language by appending a query param like `?lang=en` to the endpoint. But `gatsby-source-wordpress` does not include functionality for adding custom (hidden) rout

[2019-01-15 21:41] #10908 closed, assigned to RobinCsl

[2019-01-15 23:24] akoolenbourke opened #11090 "Can I conditionally import a dependency in Gatsby?"
## Summary
An NPM package I wish to use seems to not support SSR very well. During a Gatsby Build I get
[code]

I assume this is SSR as I have had this problem with other situations and gotten around it with the canonical `typeof (window) !== 'undefined'` check with great success.

Unfortunately before starting this Gatsby project I had very little JS experience (I'm a C++ guy) and have even less

[2019-01-15 23:44] macandcheese commented on #6211
Also seeing this while developing after migrating to v2 . Would be great to get a fix for this!

[2019-01-16 01:45] 0x6e6562 opened #11092 "ImageSharp nodes cannot be created by other plugins"
### Description

`ImageSharp` nodes cannot be created by other plugins:

[code]

### Steps to reproduce

[This minimal POC project](https://github.com/0x6e6562/image-sharp-node-creation) is based of the [Hello World starter](https://github.com/gatsbyjs/gatsby-starter-hello-world) and reproduces the symptom:

1. Configure `gatsby-transformer-yaml` to process YAML - this emulates the process of crea

[2019-01-16 04:45] markhagemann commented on #10934
Hey @sidharthachatterjee

I realised that I should have linked the heroku link instead: http://ltnetwork.herokuapp.com

The http://ltnetwork.co redirect is due to an old server with that domain setup to redirect via .htaccess to https://www.ltnetwork.co

If you visit http://www.ltnetwork.co/ you will also see it isn't working.

I did create a thread on heroku-buildpack-static but it appears to not

[2019-01-16 07:16] LpmRaven opened #11094 "Querying reference fields from Contentful"
I'm am using contentful to hold re-usable feature information for products. I have a content model where I have products and I have features. The products each have a reference field where you can select multiple features (which is returned as an array of strings). How do I use GraphQL to query additional information about the features that my product has? features is a reference field so I was ex

[2019-01-16 07:38] jgierer12 commented on #11090
First of all, I think it's a bad idea to store components in the state. Looking through the source code of `react-sliding-pane`, I can't see how it would interfere with SSR, so perhaps there is something wrong on your end. Could you share a reproduction repo?

A couple of other things I noticed, that aren't critical but you typically you wouldn't do like that:

- You don't have to check for `isBro

[2019-01-16 07:46] jgierer12 commented on #11090
That's what I was trying to say with  *"You only need to change your source file, Gatsby already configures Webpack correctly to enable dynamic imports"*. Gatsby provides a webpack.config.js under the hood so that you don't have to worry about configuring it yourself.

It's true that the JS ecosystem is pretty complex and fast moving, but you don't have to learn everything at once. It's important

[2019-01-16 07:53] jgierer12 commented on #11083
Since the originally referenced comment was posted in 2016, I would assume that this functionality was since removed in Gatsby 2.0.

You can easily [add a Webpack loader](https://www.gatsbyjs.org/docs/add-custom-webpack-config/) for markdown yourself. There are a variety of different loaders available, I personally like [@mdx-js/loader](https://www.npmjs.com/package/@mdx-js/loader).

[2019-01-16 08:10] Marijan111 commented on #10910
@jonniebigodes I did't have any problems with "fun" errors since then, but I've learned something new from your feedback, thank you sir!

[2019-01-16 08:12] akoolenbourke commented on #11090
Thanks heaps for the information.

 stored in the state so that render would be recalled once the import had completed, due to it being async. Is there another pattern I should use? Would I be better served using await (See below for why I used async) or just storing it in a member and using some other state to trigger rerender?

For a repo of the problem I'd have to work on one as I can't put up

[2019-01-16 09:11] adityakmr7 opened #11096 "bash: gatsby: command not found on running "gatsby new gatsby-site""
## Description

Describe the issue that you're seeing.
after running  `npm install --global gatsby-cli `

I get something like this

[code]

but while trying to to `run gatsby new gatsby-site`

it gives

### Actual result

bash: gatsby: command not found.

### Environment
    operating system  :   windows 10
     $ node --version
        v10.12.0
      $ npm --version
        6.4.1

Run `gatsby in

[2019-01-16 09:45] AkankS19 commented on #1767
I am getting the same issue. Did you get any fix for this ?

[2019-01-16 10:07] wardpeet commented on #10709
@simonjoom can you give us a reproduction as I don't think that part of our code is the issue as it's a simple enum that is used by [lodash orderby](https://lodash.com/docs/4.17.11#orderBy).

[2019-01-16 10:12] edgarnansen opened #11097 ".cache not deleted when mounted in docker"
## Description

When running gatsby in a container with a mounted .cache folder, deletion of the .cache folder fails.

### Pre-requisites:
 - git
 - docker

### Steps to reproduce

1. Clone my [dockerized gatsby-default-starter](https://github.com/edgarnansen/gatsby-docker-mounted-cache)
2. Run `docker build -t gatsby-bug-mounted-cache-folder .`
This might take a few minutes the first time.
3. Run

[2019-01-16 10:31] jgierer12 commented on #11083
I honestly don't know, I only started contributing to the project when v2 was already released. Maybe someone from @gatsby/core can answer.

[2019-01-16 10:33] polarathene commented on #11097
Is there any reason you're mounting volumes like that vs the whole project as a single volume mount? I use docker as well, I'm not sure if .cache is actually meant to be deleted though(haven't tried without docker), it doesn't happen with my container(my own docker image for gatsby), and since I haven't setup user mapping with docker yet, the files contents are owned by root.

Normally if I want t

[2019-01-16 10:36] itaisteinherz commented on #11081
I also experienced this while _not_ using Gatsby, and so this is probably related to your configuration and `swagger-ui` usage. Have you taken a look at [this issue](https://github.com/swagger-api/swagger-ui/issues/4805)?

[2019-01-16 10:38] polarathene commented on #11096
Is any actual gatsby command working for you? Did you open a new terminal/console window to try the command?

At `C:\Users\adity\AppData\Roaming\npm` You should have a bin folder I think for global modules, and there should be a gatsby file there, go to that location and try the gatsby command again, it should work then, if that's the case then you need this bin directory in your PATH variable, wh

[2019-01-16 10:51] polarathene commented on #11066
Do you have reproduction repo? Styled-components seems to be fine for me with `2.0.91`.

package.json
[code]

[2019-01-16 10:51] eikhunter commented on #11083
Thanks for your help either way! 👍

[2019-01-16 12:02] chmac commented on #10262
I guess at this point we probably need to accept that a breaking change was introduced in a patch release and that's that...

[2019-01-16 12:02] #10262 closed

[2019-01-16 12:02] AlexLich commented on #10792
@jonniebigodes, the same problem, but the solution did not help :-(

[2019-01-16 12:19] sidharthachatterjee commented on #11066
Sorry you're seeing this @shansmith01

Can you please link to a minimal reproduction repo?

[2019-01-16 12:21] sidharthachatterjee commented on #11075
Glad it worked for you, @Siregar 🙂

Closing this issue for now but please feel free to reopen or comment if you need anything else related to this

[2019-01-16 12:21] #11075 closed

[2019-01-16 12:38] sidharthachatterjee commented on #11081
I can reproduce this

@Meemaw Take a look at [this](https://github.com/swagger-api/swagger-ui/issues/4805#issuecomment-438796130) comment in the issue linked by @itaisteinherz

It looks like the bundle isn't SSR friendly

You could load this on the client side only in `gatsby-browser.js` maybe

[2019-01-16 12:47] sidharthachatterjee commented on #11083
Hey @eikhunter

The general idea is that we want to discourage expensive computation like parsing at runtime and _strongly_ encourage build time transformations

However, you can definitely add a loader to the webpack config and make it work

Like @jgierer12 mentioned https://github.com/mdx-js/mdx is quite nice

[2019-01-16 12:55] sidharthachatterjee commented on #11084
So from the error message it appears to be related to https://github.com/lovell/sharp/issues/1303#issuecomment-410476054

I notice that you're deleting the `sharp` module and running `npm i` again but the error message suggests that `node_modules` in the container still has a darwin-x64 compiled sharp

Can you attach to the container and check the `node_modules` directory once?

[2019-01-16 13:02] GuskiS commented on #6274
Just noticed this on fonts: `http://0.0.0.0:8000/static/some-font-bd67f25d9c25994ffde79d2a81b85a66.woff`
My issues is that I'm running VM and then accessing page on local network, but obviosly that doesn't work because 0.0.0.0 doesn't exist for that client.

Is it possible to remove host from url? So that it should be only `/static/some-font-bd67f25d9c25994ffde79d2a81b85a66.woff`?

[2019-01-16 13:09] sidharthachatterjee commented on #11083
Did some digging, we did indeed put any files that were _imported_ in the public directory in v1
https://github.com/gatsbyjs/gatsby/blob/899bf5be088fc743253ec5a3430608135372f2e2/packages/gatsby/src/utils/webpack.config.js#L421

Now we only allow pdf files
https://github.com/gatsbyjs/gatsby/blob/c3ef5a718ca7a78371be295c4c0b4930f478ab83/packages/gatsby/src/utils/webpack-utils.js#L376

With respect t

[2019-01-16 13:17] sidharthachatterjee commented on #11090
Hey @akoolenbourke

I think @jgierer12 already answered most of your questions so just adding a quick note here

You can add a gatsby plugin that will do all that is necessary for TypeScript support! https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-typescript

[2019-01-16 13:20] eikhunter commented on #11083
Awesome, really appreciate the answer - I have got around this another way but will look at doing it this way in the future 👍

[2019-01-16 13:20] #11083 closed

[2019-01-16 13:30] polarathene opened #11099 "`gatsby build` vs `gatsby develop` - conditional props behave unexpectedly"
## Summary

Query string / URL parameters for conditionally styling placeholder in `gatsby-image` component, works in development(`gatsby develop` but not always production(`gatsby build`)?

## Relevant information

[code]

Gallery component contains a list of GridCell components(styled `gatsby-image` components):

[code]

Data contains two different qraphql queries on image data to filter based o

[2019-01-16 13:34] sidharthachatterjee commented on #11094
cc @Khaledgarbaya

[2019-01-16 13:43] mmmoli commented on #4976
I published this a couple months back for GDPR compliance:
https://www.gatsbyjs.org/packages/gatsby-plugin-cookiehub/

Cookiehub looked way nicer than tarteaucitron.

[2019-01-16 13:51] sidharthachatterjee commented on #10717
@ergunpp Closing this for now but please feel free to reopen if there is anything else

[2019-01-16 13:51] #10717 closed

[2019-01-16 13:52] sidharthachatterjee commented on #10719
You're welcome @matthewharwood

Closing this issue for the moment but please feel free to reopen if you have any other questions regarding this

[2019-01-16 13:52] #10719 closed

[2019-01-16 14:03] Khaledgarbaya commented on #11094
👋
your query can be something like this

[code]

[2019-01-16 14:04] koreyboone commented on #10036
This may be the right strategy: https://developers.google.com/web/fundamentals/instant-and-offline/offline-cookbook/#cache-then-network

[2019-01-16 14:08] sondrele commented on #10990
Thanks for your answer @sidharthachatterjee !

This was my thought about this as well! :)

How so? Wouldn't it be possible to somehow make all arrays "siftable", no matter how the nodes are connected? Note that I have no insight in how the schemas are actually generated, so I don't know where exactly the complexity lies.

[2019-01-16 14:30] bonakor commented on #4976
Yes, it does, but it's not as customizable as Tarteaucitron :(
And I needed some services other than GA, that Cookiehub doesn't support! But I tried your plugin when I started working on my project and it worked as expected :)
Le 16/01/2019 à 14:43, Michele Memoli a écrit :

[2019-01-16 14:31] wardpeet commented on #10971
@danedavid you probably have missed this section in the Readme.md
https://github.com/gatsbyjs/gatsby/tree/master/www#running-slow-build-screenshots-placeholder

[2019-01-16 14:35] AlexLich opened #11101 "Error: Failure gastby new project (sharp)"
Configure PC:
[code]

$ npm config list -l
[code]

ERROR:
[code]

I work through a proxy as you can see from the configuration npm, did the documentation https://www.gatsbyjs.org/docs/gatsby-on-windows did not help

[2019-01-16 14:37] koreyboone commented on #10036
From: https://developers.google.com/web/tools/workbox/modules/workbox-sw

[2019-01-16 14:48] #10971 closed

[2019-01-16 14:48] ergunpp opened #11102 "Component with static query fails"
Hi,
I am trying to build an image component with a static query to use with props filename and width, and am trying to return the image with requested file name and requested width:

[code]

The query runs fine on graphql console but when running, the following error is returned:

Originally I was trying to pass the required path name directly to staticquery as variable but I could not master it.

[2019-01-16 15:02] eikhunter opened #11103 "Inconsistencies between develop and build"
## Description

I am trying to deploy a recently built Gatsby site and having major problems between develop and build which I cannot for the life of me figure out why. Both develop and build compile successfully but when I go to the index.html file or view it on our staging site there seems to be css issues, and no images are showing

Build
![screen shot 2019-01-16 at 14 52 33](https://user-image

[2019-01-16 15:12] adityakmr7 commented on #11096
I have only two foders "bin" and "node_modules". there is no "bin" folder

[2019-01-16 15:31] GuskiS commented on #6274
Also, getting this error each time HMR should happen:
[code]

[2019-01-16 15:37] adityakmr7 commented on #11096
Yes I you are right problem is with nodejs installation I guess. I reinstalled my nodejs and know gatsby is working fine. Thank you.

[2019-01-16 15:38] wardpeet commented on #11096
That's awesome to hear! Have fun with gatsby!

[2019-01-16 15:46] wardpeet commented on #6274
It's probably valueable to fix this, sadly this issues is going to be low prio on our list so if anyone wants to take it, feel free to do so.

You can find code that create-react-app is using here:
https://github.com/facebook/create-react-app/blob/706b319633a59e1e0d58f1bb957e9d30d172f9d8/packages/react-dev-utils/WebpackDevServerUtils.js#L54

[2019-01-16 15:48] LekoArts commented on #11102
Similarly to normal page queries, you also can't directly access the query but have to use `data` first (like [here](https://github.com/gatsbyjs/gatsby/blob/master/starters/blog/src/components/seo.js#L10)). So try to use:

[code]

[2019-01-16 15:51] arturogh commented on #10126
My short-term solution had been to not include the caption after the image route:

`![Netflix (Kids section)](./netflix-kids.png)`

Now, trying out what you suggested (no break before and after the image), I get something strange happening:

<img width="438" alt="image" src="https://user-images.githubusercontent.com/7030831/51260491-42854e00-1963-11e9-8ef9-7d5b6c4ea00d.png">

I get the text in quo

[2019-01-16 16:06] ergunpp commented on #11102
Thank you. I am past this issue with the following code:
`
render={({ images }) => renderImage(images.edges.find(image => (image.node.relativePath === props.file))) }`

But now I have the problem that renderImage function is called 2 more times for the rest of images with the parameter undefined.

[2019-01-16 16:06] jgoux opened #11104 "Proxy isn't working with the graphql prefix"
Hello,

## Description

During development, I want to be able to proxy my GraphQL queries to my own GraphQL server at http://localhost:3000/graphql

I configured Gatsby like this :
[code]

Gatsby's development server is running at http://localhost:8000

My queries aren't proxied, they fired on http://localhost:8000/graphql and I got the empty `index.html` content as a response :

`<!DOCTYPE html><

[2019-01-16 16:08] polarathene commented on #11097
[code]

Sharing that error might have been a bit more useful :P

---

~~So if I understand correctly, `fs.remove()` is equivalent to `rmdir [directory]` and will fail if there is files in that directory, so `fs.emptyDir()` prior would fix that. At least that's what I think @edgarnansen and [this stackoverflow answer](https://stackoverflow.com/questions/52026342/thumbnail-cloud-function-fails-with-

[2019-01-16 16:12] itmayziii opened #11105 "gatsby-plugin-remove-trailing-slashes not working when using `gatsby develop`"
# Description

gatsby-plugin-remove-trailing-slashes seems to work when running `gatsby serve` but not when running `gatsby develop`

### Steps to reproduce
I created a demo project from the CLI to demonstrate the behaviour.
https://github.com/itmayziii/gatsby-trailing-slahes-demo
<img width="1675" alt="screen shot 2019-01-16 at 11 09 28 am" src="https://user-images.githubusercontent.com/13625506/

[2019-01-16 16:12] polarathene commented on #11096
I am so confused..

@adityakmr7 you just said one of the two folders is "bin", then you say that there isn't a "bin" folder.. what?

@wardpeet ...what? Was there more context to this earlier that's been deleted? OP hasn't confirmed they've solved the issue have they? What's awesome to hear?

[2019-01-16 16:20] polarathene commented on #11103
You're likely going to need to provide more information, a reproduction repo (strip it down to a part that differs, and then make it generic if you feel the need to) for anyone to be able to assist.

At the very least, share more details about the project such as what dependencies(package.json) you're using, gatsby-config.js etc. I have a similar issue where `develop` and `build` are inconsistent

[2019-01-16 16:21] sidharthachatterjee commented on #11103
Sorry you're seeing this @eikhunter

This is likely a React hydration issue. Since we don't do server side rendering during `develop`, a lot of these issues become apparent only during `build` at the moment.

We're trying to converge behaviour between `develop` and `build` as documented in https://github.com/gatsbyjs/gatsby/issues/10706.

In the mean time, can you link to a reproduction repo?

[2019-01-16 16:28] YoungElPaso commented on #10796
This is very interesting, I have a similar use case - I want to expose the data for a given component to an entirely different site that doesn't use the Gatsby stack - but benefits from the Gatsby build.

In my case, I want to be able to build a 'staging/preview' site using Gatsby so authors can fairly easily see the results of their edits in the CMS but then have a workflow where another site, on

[2019-01-16 16:36] jonniebigodes commented on #11103
@eikhunter like @polarathene said, it's really good for us to address the issue you're experiencing with a full blown reproduction, i.e a repository where it can be looked at and reproduced. If the work you're doing is private, or otherwise protected, create a simple dummy repository in order for the issue to be reproduced. Also, and this based without any knowledge of your actual code, the 'Loadi

[2019-01-16 16:41] jonniebigodes commented on #10910
@Marijan111 no need to thank, I'm glad to be of help. And thank you for using Gatsby 👍

[2019-01-16 16:44] sidharthachatterjee commented on #11105
Sorry about the confusion @itmayziii

Just cloned this and tested it out. The plugin seems to be working fine but I suppose the confusion is based on the fact that the Link in https://github.com/itmayziii/gatsby-trailing-slahes-demo/blob/cfe4de7d85be0be5ec22d608fb52974e8cd96405/src/pages/index.js#L17 actually links to /page-2/

From the documentation at https://www.gatsbyjs.org/packages/gatsby-plu

[2019-01-16 16:46] eikhunter commented on #11103
https://github.com/eikhunter/website-repository - Give this a go

[2019-01-16 16:49] sidharthachatterjee commented on #11101
Probably related to https://github.com/nodejs/node-gyp/issues/695#issuecomment-145236715

Try setting `NODE_TLS_REJECT_UNAUTHORIZED=0`

[2019-01-16 16:50] polarathene commented on #11099
Probably related to: #10706

Is there a docs page about this behaviour, some sort of tips/best practices to avoid such situations? Linked issue does describe that rehydration into a React app does appear to prevent any changes to attributes like styles and img src's(base64 placeholder thumbs) from being changed, but for elements it's alright?

And of course navigation to other pages is client-side

[2019-01-16 16:50] danedavid commented on #10971
@wardpeet Actually I read that. But it was also written if you're working on showcase, you shouldn't do it.

[2019-01-16 16:56] polarathene commented on #10706
Is there a docs page related to this topic? Some tips/advice/best practices about it would be a good reference to have.

My linked issue #11099 uses URL params to affect a component, one prop adds blur if true, another adds a div if true, the latter works but the prop that would update/modify styles doesn't.

I know that original issue comment here quotes about why that behaviour happens with how

[2019-01-16 17:02] itmayziii commented on #11105
My mistake @sidharthachatterjee, you are right that changing the link to /page-2 fixes the issue.

Actually I encountered this issue in a little more complicated setup and am still experiencing the issue, even when going directly to the url, but it is a private repository for work. I'm trying to figure out the best way to share the example with you.

Below is the network request to localhost:8000/

[2019-01-16 17:08] sidharthachatterjee commented on #11105
@itmayziii Do you have any redirects specifically configured? That 301 looks strange

This is when running `gatsby develop`, correct?

[2019-01-16 17:12] sidharthachatterjee commented on #10706
Not at the moment, unfortunately. I definitely see value in adding some documentation for hydration gotchas (since a lot of people have been hitting them lately).

Seems counterintuitive to me because (if I understand this correctly) it defeats the purpose of any SSR

[2019-01-16 17:14] sidharthachatterjee commented on #11099
@polarathene Definitely seems like a hydration issue but do link to a minimal reproduction is possible. I'd like to take a look at this!

[2019-01-16 17:16] #6508 closed

[2019-01-16 17:16] #6519 closed

[2019-01-16 17:16] #8000 closed

[2019-01-16 17:16] #8024 closed

[2019-01-16 17:16] #8070 closed

[2019-01-16 17:16] #8132 closed

[2019-01-16 17:16] #8159 closed

[2019-01-16 17:16] #7149 closed

[2019-01-16 17:16] #7895 closed

[2019-01-16 17:36] tbinte opened #11108 "dangerouslySetInnerHTML does not work on production builds"
I'm transforming and adding frontmatter content from markdown to html to my page, with the help of showdown. Its working on develop builds, unfortunately in production builds the content is missing.

Here's the page code:

[code]

Thank you for the support,
Thomas

[2019-01-16 17:41] itmayziii commented on #11105
@sidharthachatterjee this was running `gatsby develop`. I just double checked gatsby serve again though and it appears to be the same problem

<img width="1676" alt="screen shot 2019-01-16 at 12 40 19 pm" src="https://user-images.githubusercontent.com/13625506/51267537-f8649280-198b-11e9-8c4e-0f3868b87214.png">

[2019-01-16 17:46] polarathene commented on #10706
I guess this issue serves to collect those? It's a bit confusing as a new user to gatsby with it blurring the lines between static and dynamic sites.

In my case I know gatsbygram was using the URL location prop to be a bit dynamic like and use that information to render components/page in certain ways, so I thought I could do similar and it worked in develop, then confused for some time trying to

[2019-01-16 17:58] sidharthachatterjee commented on #11105
I just realised that the 301 is default behaviour for most servers (and express in this instance). Chrome does not append the trailing slash in the status bar though.

The plugin is only intended to remove trailing slashes from paths generated by Gatsby itself. Just to clear up confusion, can you please elaborate on expected behaviour versus actual?

[2019-01-16 18:06] sidharthachatterjee commented on #10706
I might've misunderstood what you meant by this. When you say re-render itself upon hydration, do you mean discarding everything in the DOM and React _rendering_ on a clean slate? This can be jarring after the initial HTML render.

[2019-01-16 18:10] sidharthachatterjee commented on #11108
Thank you for opening this @tbinte

Can you please link to a minimal reproduction for this?

[2019-01-16 18:35] polarathene commented on #11099
@sidharthachatterjee [Here you go](https://github.com/polarathene/gatsby-develop-build-issue). I have a similar(not quite same code) hosted on netlify presently [here](https://gifted-brattain-4080d7.netlify.com/)(it'll accept bg and blur params, [this one](https://gifted-brattain-4080d7.netlify.com/placeholder) will accept blur and base64webp params), not that it's particularly useful :)

Do note,

[2019-01-16 18:38] polarathene commented on #10706
Yes, anything on the page that was related to React, assuming that'd fix all the issues.

Oh that's not good then :(

[2019-01-16 18:59] patricksimonian opened #11109 "Intermittent/inconsistent build/develop errors"
## Description
There a 2 different error messages I have been getting on my local development/production builds which appear to be intermittent and inconsistent. Firstly, if there is a preference to open an issue for each separate one I will be happy to do so. Just let me know:)

### Steps to reproduce
Unfortunately I have no clue how to reproduce these issues for **Error 1** and **Error 2** , the

[2019-01-16 19:03] patricksimonian commented on #11109
I'd think that this would have to be a caching issue somewhere. But it is a bit perplexing. I know for a fact in our openshift environment we create a new image for each PR (as well as any new code changes pushed to the PR) and so caching wouldn't appear to be an issue for that scenario. I Don't claim to be an expert, it could very well be something in our codebase but I don't think I am modifying

[2019-01-16 19:07] patricksimonian commented on #11109
I would like to note ***that one of my attempts to rebuild in production*** was successful just now which is even more perplexing.

[2019-01-16 19:11] patricksimonian commented on #11109
And again to clarify this issue has been only happening in development when running `gatsby build` or `gatsby develop`

[2019-01-16 19:15] vickylance commented on #10792
@AlexLich Are u using windows or linux?

[2019-01-16 20:09] singlemind opened #11110 "Hosting Static HTML without path awareness"
## We want to take the static HTML (index files and such from the 'public' directory) and host them under a directory structure manually rather than have the index files create a relative path from the root.

## Relevant information

We are in the process of building out a new site and moving away from Wordpress. The issue is that in the immediate, we need to be able to just launch a couple of new

[2019-01-16 20:52] akoolenbourke commented on #11090
Hi @sidharthachatterjee

The thing with that plugin is that it's just linting (Which is nice), but I still have to manually run TS over the code first. I ideally want something automated that just added TS, and I go and write TS and it's transpiled for me as part of the build process,
Thanks

[2019-01-16 21:00] JacobBlomgren opened #11111 "[gatsby-plugin-google-gtag] no pluginConfig causes crashing"
## Description

The gtag plugin crashes if `pluginConfig` is not defined, even though its fields are in turn documented as optional. The code carefully treats all of the fields as optional too ([exclude](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-gtag/src/gatsby-ssr.js#L23), [head](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-gtag/s

[2019-01-16 21:02] barrymcgee commented on #11110
This seems to be a question about Wordpress and not a question specific to Gatsby?

[2019-01-16 21:19] JacobBlomgren commented on #11111
I just realized that `respectDNT` is erroneously documented as an option under `pluginConfig` when it's in fact a root option, see https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-gtag/src/gatsby-ssr.js#L47. So, I removed the reference to where it's treated as optional. I can make a PR for that too soon.

[2019-01-16 21:36] valayd opened #11113 "Navigation menu renders twice as per documentation"
## Description

Header component renders twice on page.
And a typo in `<Helmet
          title={'tite'}`

### Steps to reproduce

Follow instructions given here: https://www.gatsbyjs.org/docs/centralizing-your-sites-navigation/

### Expected result

What should happen?

Header should render only once.

Gatsby 2

[2019-01-16 21:36] singlemind commented on #11110
No. This is a question about how to place index.html files at an arbitrary path and view them at that path without the URL being redirected.

Wordpress is a red herring.

I just want the index.html file to RENDER. Not redirect me to point at the file(s) directory location.

[2019-01-16 21:51] mclarkos commented on #5553
Not stale—still keen to see this fixed.

[2019-01-16 22:15] LpmRaven commented on #11094
Thank you @Khaledgarbaya!

[2019-01-16 22:15] #11094 closed

[2019-01-16 22:31] fauslg opened #11118 "Webfontloader plugin self-hosted fonts not loading"
## Summary
I want to use self-hosted fonts using Webfontloader but when I check google chrome dev tools NETWORK TAB > fonts, the fonts.css file appears **in red and status is cancelled**. The fonts of course won't load.

## Relevant information

This is what I'm doing:

In **gatsby-config.js** I added the plugin and a custom line like this:

[code]

the fonts are inside the fonts folder.

In fonts

[2019-01-16 22:50] vai0 opened #11119 "Can modules imported into cms.js for netlify-cms be resolved relative to one specified directory?"
It seems like imports and the imported module's dependencies in the cms.js module must be all be relative. Is there a workaround to allowing absolute imports, something similar along the lines of webpack config's [resolve](https://webpack.js.org/configuration/resolve/)?

The reason I ask is because I'm importing a React component that is resolving it's own imports relative to `src`.

Essentially,

[2019-01-16 22:57] 0x6e6562 commented on #11092
By [invoking the fluid API](https://github.com/0x6e6562/image-sharp-node-creation/commit/850c724eaf1c3c50b25c54da3d5044e6dc6c1f9d) I was able to add the ImageSharp (dynamically) statically to the `feature` node, which means that I can obtain to the ImageSharp attributes in a single query:

[code]

[2019-01-16 23:03] barrymcgee commented on #11110
@singlemind Are you placing the index.html file in a Wordpress codebase or a Gatsby codebase?

Gatsby is a static site generator which uses React, a Javascript library. If you just drop a HTML file into a Gatsby site root, it will not render.

The following link will help you understand how to create a basic index page in Gatsby: https://www.gatsbyjs.org/tutorial/part-one/#familiarizing-with-gatsb

[2019-01-16 23:13] singlemind commented on #11110
I appreciate the fact that you've responded to me and have offered feedback and suggestions.

I don't feel that you understand the nature of the issue.

I'm doing server side routing. I want to manage the routing to pages using standard server side routing. I want to take the static HTML file produced by 'gatsby build' in the public directory, and drop it into directory and have it just render. At

[2019-01-16 23:33] valayd commented on #11113
My mistake.  I've layout.js in src/components/ and using below code in gatsby-config.js renders layout component twice.
[code]

[2019-01-16 23:33] #11113 closed

[2019-01-17 00:13] Saifadin opened #11120 "Use Playground instead of GraphiQl"
## Summary

Gatsby should use [Prisma GraphQl Playground](https://github.com/prisma/graphql-playground) instead of GraphiQl for its Query Browser.

### Motivation

After using the Prisma Playground for the last months, I can not go back to GraphiQl. To just list the pros/cons and after being motivated by @KyleAMathews on twitter to create an issue. I will try to be objective and focus on the benef

[2019-01-17 00:48] erquhart commented on #10767
Digging into this now.

[2019-01-17 01:04] 0x6e6562 commented on #11092
[This approach](https://github.com/0x6e6562/image-sharp-node-creation/commit/2f60b4dd739f108c36b604459375f35c46dfb358) also supports the `gatsby-image` React component.

However, I still haven't figured out how to propagate a query such as resize via graphql e.g.

[code]

This seems to be because I invoked the `gatsby-plugin-sharp` API directly during `onCreateNode`, whereas the `ImageSharp` fragm

[2019-01-17 01:21] cpboyd commented on #10912
OK, so it seems to be standard React behavior:
https://github.com/facebook/react/issues/12495

That said, the current redux example should probably be modified to avoid suggesting a static Redux store for rendering.

[2019-01-17 01:21] #10912 closed

[2019-01-17 01:22] macandcheese commented on #7737
This does seem like a regression, previously 'gatsby-link' handled these cases very easily with the 'exact' attribute. Now extra logic is needed to check for match between, for instance, window.location and anchor link href props. Additionally handling partial URL matches, and trailing #header sections, also needs additional custom logic in addition to detection on page load.

[2019-01-17 01:31] MirelesCloud commented on #10683
@jgierer12 I was looking for the graphql background image syntax for ages.  Thank you so much.

[2019-01-17 01:45] macandcheese commented on #7737
This does seem like a regression from `gatsby-link`'s 'exact' attribute, as neither 'isPartiallyCurrent' nor 'isCurrent' completely match the functionality.

For instance, take a URL structure of `url.com/this`, that can have child pages that reside at `url.com/this/something`

Using 'isPartiallyCurrent' while on `url.com/this/something` will assign an active class to both my current page, and the

[2019-01-17 01:57] khus29 opened #11121 "Gatsby data filter on page"
Hi folks, I am working on a scenario where we are dynamically generating pages at build time depending on data. Per page can have max 10 data so there is limited data query per page. Now there is one more feature required from client, to implement select based filter on page. I am not sure if we can apply filter after pages are generated? Please help.

[2019-01-17 03:17] rchrdnsh commented on #1384
hmmmm...similar issue...I have a .mdx file with the following front matter:

[code]

and I query it in my component, like so:

[code]

and then use it my template like so:

[code]

and get the following breaking error:

[code]

soooooooo...dunno what to do for this image to work...

[2019-01-17 03:33] polarathene opened #11122 "[feature]: Avoid duplicating processing effort in sharp"
## Summary

If the same source image has been processed by sharp before, it should not need to be processed again.

### Basic example

I have two similar pages using the exact same graphql query and using `gatsby-plugin-sharp` to process the images. During a build, CLI output doubles the number of images to process. Another page with a custom feature that allows requesting a different size for the

[2019-01-17 03:40] polarathene commented on #11109
Are you using remote assets at all? I've been using docker for development with Gatsby and get similar errors, these tend to be due to my poor/unstable connection in China+VPN where downloading my remotely sourced images can fail(either no image at all, or partially downloaded image(which avoids the error).

In my code, , I'm using the graphql data result in my props, if the image failed to downlo

[2019-01-17 03:42] polarathene commented on #11120
I haven't tried the playground, is it that much different to get used to from GraphiQL as your cons suggest? Does it not support something you can do with GraphiQL, or work/behave in a very different way to do similar tasks?

[2019-01-17 03:45] adamUpchurch commented on #4166
Would one of you point me to a resource why running 'gatsby develop' deletes html and css file changes and what is the proper way to make such a change that isn't supposed to be deleted? Google isn't doing the trick. lol

[2019-01-17 05:04] rayriffy opened #11123 "ServiceWorker serving cache in HTTP/1.1 protocol"
## Description

I deployed my prodution and staging site on Netlify and I got reports from Lighthouse audits that some my resources are being served in HTTP/1.1 protocol which it shouldn't do that.

I found out later that all of the resurces that being served in HTTP/1.1 are from ServiceWorker. I think there's some issue with `gatsby-plugin-offine`

### Steps to reproduce

1. Open DevTools with Ne