[2018-11-05 15:29] DSchau commented on #9674
Yeah @HriBB - I fixed this in a different way in detecting process.env.NODE_ENV. If it's test, we use `commonjs`, but I do think there's some value in making this configurable, as well.

[2018-11-05 15:32] SamFrampton01 opened #9712 "Gatsby Contentful Source Plugin Issue"
Hi,

I have run into an issue when trying to build a contentful-gatsby the website.

** Apologise if this has been answered before / I am new to Node.JS and a Gatsby novice.

I added the gatsby plug to the config.js file and post inserting space ID and access token Gatsby build did not launch my website. I tried looking at previous documentation but can't quite see a solution at the moment.

Gatsb

[2018-11-05 15:35] btk commented on #9666
@Aboumicho can you share the Image(s) you used on that mentioned post. Or can you confirm that your build takes 5min when you remove that post?

The image might be faulty?

[2018-11-05 15:41] btk commented on #9712
Hey there, welcome.

You have an "ls" at 16th line of your `gatsby-config.js` file. You probably tried to do `ls` command in your commandline and ended up typing and saving the file. That is probably the problem?

[2018-11-05 15:45] HriBB commented on #9677
@kakadiadarpan yes. I think it has something to do with multiple image nodes being created for the same resource. I know it was fixed in #3859, but maybe there is still an edge case. I have some custom sourceNodes logic and I need to sit down and take some time to debug this.

[2018-11-05 15:45] btk commented on #9702
I'm not sure why this happens but if you check the starter projects, you will see wordpress titles always inserted into elements as HTML like;

[code]

The intended use of the titles is probably this. Can you check and confirm?

[2018-11-05 15:46] juliansthl commented on #9705
I tried to do some tests in order to see what impact on performance the creation of the intermediate arrays has: https://runkit.com/juliansthl/5be05a512513440012fffa3c (scroll to bottom)

It looks like the sorting function with the proposed change takes around 2x as long as the original version (~16s vs. ~8s for 1000 random entries).
No idea what this means in relation to overall build time in a r

[2018-11-05 15:58] SamFrampton01 commented on #9712
Hi,

I removed `ls` command from `Gatsby-config.js`, but I still have the same issue unfortunately.

[2018-11-05 15:59] valse opened #9713 "External CSS is always imported in dev server app"
Hi,
   I'm adding a new page to my site that has a different layout.

It's easy with Gatsby v2 to do it but even if I'm using a different layout, the new imported CSS is included also in the other pages' header and not only in the new one.

[code]

If I build the site all works fine but developing with this strange behavior is quite annoying.

A workaround is to include the new CSS by Helmet using

[2018-11-05 16:04] fk commented on #9711
Desktop:
<img width="1280" alt="desktop_ homepage_ blog" src="https://user-images.githubusercontent.com/21834/48009714-87e3fe80-e11c-11e8-859e-37f20bf4c7b1.png">

(Not too happy with this, esp. the Newsletter stuff)

[2018-11-05 16:08] aofolts opened #9714 "Specific value in graphql query is undefined with gatsby-link or hot reload, but fine on manual reload"
## Description

When I visit the Home page, everything loads fine.

However, when I make a change to any files (which kicks off hot reload) or click a `gatsby-link`, a certain value in my query (via gatsby-source-contentful) becomes undefined.

### Steps to reproduce

Making file changes or clicking a `gatsby-link`.

* Changes to `.less` files do not cause an issue.

### Expected result

The `Inde

[2018-11-05 16:12] KyleAMathews commented on #9626
Thanks @ascorbic for the great explanation! Also it's good to test stuff like this in an incognito/private window to avoid problems with things like sw caches, etc.

[2018-11-05 16:12] #9626 closed

[2018-11-05 16:14] KyleAMathews commented on #9661
/cc @DSchau @davidbailey00

[2018-11-05 16:30] pieh commented on #9705
Something like this would also work:
[code]

[2018-11-05 16:32] btk commented on #9712
Would you be able to pull the gatsby contentful starter and just plug your own credentials to see if your problem is caused by misconfiguration of your contentful, or some kind of syntax bug from your current implementation?

https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful

[2018-11-05 16:33] SamFrampton01 commented on #9712
Sure I'll try that now

[2018-11-05 16:39] yjacobowitz opened #9715 "gatsby-plugin-lodash with gatsby v2 not working"
## Description

When trying to migrate gatsby from v1 to v2 and running `gatsby build`  I receive an error in lodash. When running `gatsby develop` I do not have this issue.
### Steps to reproduce

Following the instructions from gatsby-plugin-lodash README and running `gatsby build`.

### Expected result

Should be able to use lodash everywhere in the app without having to import it.

### Actual

[2018-11-05 16:40] hackhat commented on #9355
@davidbailey00 excellent decision, it seemed to be a bit tricky and with many edge cases. Thank you very much for your support.

[2018-11-05 16:43] hackhat commented on #9415
@davidbailey00 I think we should be sure that is the case. I think is a pretty big deal if is it actually happening both in Gatsby or in chrome, so we should not rule them both out.

Well, I and another user were able to reproduce, so I think is a bit too early to close it. Even if is dependent on platform, it might be a bug.

Can anybody get in touch with Chrome team to ask what they think?

I th

[2018-11-05 16:45] juliansthl commented on #9705
Ah, nice!

What is weird though, is that this operation now takes significantly longer (even longer than the one with the intermediate arrays): https://runkit.com/juliansthl/5be071af6ca8210012bcacb6

Thanks for all your help so far!!

[2018-11-05 16:46] pieh commented on #9705
So after adding some benchmarks for our relatively small input: https://runkit.com/pieh/5be04dba39eeb40015e74baf your most recent implementation definitely wins out

[2018-11-05 16:48] hackhat commented on #9649
so if you don't check in, your model is completely broken.

Some cases it will break:

 - Move CI
 - Wipe caches of CI

Let's say you build and deploy on the same machine

 - Dev A, deploys
 - Dev B, deploys

Dev B will not include the public folder of Dev A build, so it will deploy a version without the files build in Dev A. And so on. Now imagine Dev A deploys, it will contain his previous chang

[2018-11-05 16:50] hackhat commented on #9676
Ok, that's good, but if you don't check in your public folder (as you said here https://github.com/gatsbyjs/gatsby/issues/9649 ) and you clone a fresh project you lost all the old images.

I'd suggest to open this issue because what you said can't be a solution.

[2018-11-05 16:50] juliansthl commented on #9705
Awesome. Thanks for the benchmarking!
Do you see the limitation of max. 26 "matchPathSegments" as a deal breaker or anything else that should be improved?

[2018-11-05 16:51] SamFrampton01 commented on #9712
Ok so I think you're right and it is a misconfiguration with my Contentful.

This is what I got returned on my terminal. I've attached my config file in a zip file.

![screen shot 2018-11-05 at 16 48 37](https://user-images.githubusercontent.com/40734207/48012778-b2cd5300-e11a-11e8-9973-0825a0845088.png)

[gatsby-config.js.zip](https://github.com/gatsbyjs/gatsby/files/2549674/gatsby-config.js.zip)

[2018-11-05 16:51] pieh commented on #9705
Do we actually need to map to `a-z` range or can we use entire ascii range for sorting?

[2018-11-05 16:52] pieh commented on #9705
we could also format number to be 2 digits instead of mapping to a-z

[2018-11-05 16:53] pieh commented on #9705
I don't think it's likely to hit 26 path fragments limit, but would be great if we didn't have such limitation

[2018-11-05 16:55] DSchau commented on #9676
@hackhat want to clarify on your point there?

If we take the following statement as true (it is -> see gatsbyjs/gatsby#8808, and the original functionality as evidence):

this means that images will be re-generated, named identically and deterministic on file contents, in the public folder. I'm not sure I see the issue, but please let me know if you think I'm off base or missing something!

A re-

[2018-11-05 16:55] KyleAMathews commented on #9649
No. If you don't preserve the public directory, gatsby just recreates the files. Where you went wrong is deleting just the public directory and not also .cache. If you delete one of them, you need to delete both of them.

[2018-11-05 16:59] juliansthl commented on #9705
yes, you're absolutely right.

how about this?

[code]

[2018-11-05 17:08] treb0r commented on #9626
It would be great if we could load static site pages in Firefox with Javascript disabled.

[2018-11-05 17:14] aesthytik commented on #9694
sure i will do a PR, after fixing it @kakadiadarpan

[2018-11-05 17:15] ascorbic commented on #9626
It works for me in Firefox. Have you tried it in a private window? It might be getting confused with a cached sw.

[2018-11-05 17:15] btk commented on #9712
Yeah, maybe you can follow up on this quick tutorial to see what you are missing: https://www.contentful.com/r/knowledgebase/gatsbyjs-and-contentful-in-five-minutes/

Maybe your space is empty, don't have any nodes?

[2018-11-05 17:18] hackhat commented on #9649
Ok, I think I didn't explain properly, anyway is not related to this issue. Is related to this one: https://github.com/gatsbyjs/gatsby/issues/9676 I will put the comment there.

[2018-11-05 17:19] lablancas commented on #5726
Using these settings in my `gatsby-config.js` worked for me

Had to add an empty array for `navigateFallbackWhitelist`

[code]

[2018-11-05 17:21] hackhat commented on #9676
So there is a major problem:

 - I check out the repo
 - I add "imageA" in the source code
 - CI will add "imageA" to the "public" and will be all fine
 - Now we clean the cache of the CI or we move CI to another provider
 - Now I delete the "imageA" in my source code
 - CI will build, but will be no "imageA" in the public folder because we moved CI or cleaned cache

Now how will you get the "imag

[2018-11-05 17:22] DSchau commented on #9676
Can you explain this? It will re-build the public folder contents (that need re-building). Since it doesn't exist between CI re-builds regardless, that's clearly proof that it's working as intended?

[2018-11-05 17:23] kmorf commented on #9704
@kitos is this what you are trying to achieve? [stack overflow answer](https://stackoverflow.com/questions/49456106/how-to-make-a-one-to-many-connection-between-netlify-cms-and-gatsby)

[2018-11-05 17:28] DSchau commented on #9676
I think most _want_ this. The image changed, it's fair that the hash changes? It wouldn't really make sense for us to implement some type of % changed algorithm and keep the same file name, nor do I think it's _safe_ to re-use the same image name (or lose the hash) to prevent the inverse, e.g. we have an image that we _want_ to change, but it's being cached too aggressively.

[2018-11-05 17:38] hackhat commented on #9676
We are talking about SEO for images, not about graphql.

I don't know if I want or not, but @KyleAMathews suggested to don't wipe the public folder. So I guess it will remain there unless you delete that folder.

So if you delete the folder you don't have it, if you keep the folder you have it. Do you think is a good practice? I personally think is not, but that's my opinion.

Maybe. If I change a

[2018-11-05 17:51] JanLenoch commented on #9560
Thanks @pieh again for help. I've handled it in an [aggregated PR](https://github.com/Kentico/gatsby-source-kentico-cloud/pull/26).

[2018-11-05 17:51] #9560 closed

[2018-11-05 17:55] davidbailey00 commented on #9661
This is probably as a result of the offline plugin - @DSchau and I recently decided it's best to simplify it due to the problems people are facing.

I was planning on starting the rework next week, but given the problems some people are still facing like your issue, I'll try to get this done sooner - hopefully by the end of the week.

[2018-11-05 18:03] Strandedpirate commented on #9464
[code]

[2018-11-05 18:06] SamFrampton01 commented on #9712
Ok, thanks for the help. I will give this a try.

[2018-11-05 18:10] treb0r commented on #9626
Boom. I cleared the cache and it works. Thanks so much. I can now adopt Gatsby. I know this stuff is annoying but I also know a usability / accessibility tester who always turns off Javascript.

[2018-11-05 18:14] hackhat opened #9717 "How to use "request" with gatsby, redux and typescript?"
I'd like to use https://www.npmjs.com/package/request but I get this error when I run `yarn start`:

Module not found: Error: Can't resolve 'tls' in 'xxx\node_modules\tunnel-agent'
 @ ./node_modules/tunnel-agent/index.js 4:10-24
 @ ./node_modules/request/lib/tunnel.js
 @ ./node_modules/request/request.js
 @ ./node_modules/request/index.js
 @ ./src/createStore.ts
 @ ./wrapWithProvider.js
 @ ./gatsb

[2018-11-05 18:19] erquhart commented on #9661
More likely to be https://github.com/gatsbyjs/gatsby/pull/9269 (although triggered by the offline plugin query string in this case). That PR either needs to be rolled back or updated to account for other entities interacting with the location. My knee jerk is roll it back.

[2018-11-05 18:35] DSchau commented on #9676
If you delete the image, it's likely queried with GraphQL (or some other mechanism, even a relative link), which would break in that scenario, regardless. We use GraphQL for images + SEO in gatsbyjs.org, as do many people, e.g. to request an image of a certain size from our file system.

If we're talking the deletion scenario, e.g. an image in src/, that has since been deleted, it wouldn't _matter

[2018-11-05 18:40] DSchau commented on #9676
If you want images where the file name never changes, I would recommend checking out the [static folder](https://www.gatsbyjs.org/docs/adding-images-fonts-files/). This effectively short circuits some build process stuff, so if you create `static/some-image.png` it will always be copied to `public/some-image.png` and available as a relative link, e.g. `<meta property="og:image" content="https://yo

[2018-11-05 18:56] patricksimonian commented on #5030
This is actually a user story at my work to enable this feature. @alexboffey have you started on this? I'd be interested in watching/contributing if I can to your project. If not I'd be looking into doing my own implementation at some point within the next few sprints here.

[2018-11-05 19:02] DSchau commented on #5030
@patricksimonian hey, awesome!

I've thought a bit more about this feature, and I think it _may_ sense to "fork" my repo [`gatsby-remark-code-titles`](https://github.com/dschau/gatsby-remark-code-titles), and add in copy functionality since it could then easily re-use that header structure that it creates.

So we could call this plugin `gatsby-remark-code-header` or something, and it could have a

[2018-11-05 19:08] patricksimonian commented on #5030
@DSchau wow sounds great. I'll take a look into your repo over the next coming weeks. I'm liking your thoughts on allowing for other plugins. I do agree that delivering functionality is probably best at first. At the very least, allowing for a className to be appended to the 'icon' element would allow for *some* flexibility.

Like i said, I know this is a feature thats been requested at my work pl

[2018-11-05 19:09] DSchau commented on #5030
@patricksimonian definitely, there's no required deadline or anything for this plugin, but as always... the sooner the better! This would be a big enhancement for not only our docs but a lot of other sites that use Gatsby for documentation!

[2018-11-05 19:18] RobinHerzog commented on #6654
I upgraded to  "got": "^9.2.2" now it's working houra!

[2018-11-05 19:21] pieh commented on #6654
Definitely need to take a look to upgrade our `got` version. This is intermittment problem so it might be coincidence that it worked. @RobinHerzog please let us know if you will run into similar problems with upgraded version of `got`

[2018-11-05 19:29] pieh commented on #6654
@dustinhorton what portion of the build was pulling images (or `source and transform data` as we don't show explicitly how long downloading files take)?

[2018-11-05 19:31] primaveraentalca commented on #7505
Hi folks,
In case this is useful for someone else, what did work for me was to use both `gatsby-plugin-layout` and React.cloneElement as @azdanov said.

In v1 the layout component was wrapped around the outside of the pages, and children was a function you could pass props as arguments. In v2 the layout component is not special anymore so I used `gatsby-plugin-layout` for the layout to be wrapped

[2018-11-05 19:38] #9298 closed

[2018-11-05 19:40] #9614 closed

[2018-11-05 19:41] RobinHerzog commented on #6654
I have 150MB images with a 1GB internet connection. Now it's working in. I need 30 sec to download et continue building.

[2018-11-05 19:57] thecox commented on #9513
@hanchennz - Sorry for the delayed response. So I am still having issues with the prescribed method above and I believe you're correct in your assessment that there are other areas of the code that are making use of the prefix that no longer function without it.

It does seem that the only missing piece of functionality is the ability to access the router's `basepath` directly, or at least to cust

[2018-11-05 20:05] JanaVanMaele opened #9721 "Gatsby Transformer Html"
I followed the tutorial generating markdown files in to static pages as a blog post.
Now I want to do the same, but instead of using .md files, I'd like to use .html files.
My .html files should exist out of frontmatter and a html string.
My goal is to render the html of the .html files inside a react layout/template.
Is there an easy way to do this? Does there exist a formatter for this?

I am us

[2018-11-05 20:36] muhammadnaveel opened #9722 "Error: Cannot find module '@reach/router'"
my gatsby was running perfectly. I add some npm packages and removed the node_modules folder and reinstall npm install. I am facing errror while run gatsby build.

[code]

### Environment

I updated npm install -g gatsby-cli` and facing problem on this too.

  System:
    OS: Windows 7
    CPU: x64 Intel(R) Core(TM) i7-2720QM CPU @ 2.20GHz
  Binaries:
    npm: 5.2.0 - C:\Program Files\nodejs\npm.C

[2018-11-05 21:32] Strandedpirate commented on #9464
The cut of this project I had was using the "next" label for several gatsby packages. I upgraded everything to "latest" but the build is still failing.

[code]

[2018-11-05 21:54] #8145 closed

[2018-11-05 22:07] rchrdnsh opened #9723 "dunno how to use 'gatsby-plugin-layout'..."
I have made a site using Gatsby V2 and have gotten to the point of adding view transitions and now I'm running up against the 'pages' wall, where everything re-renders due to Gatsby V2 being page based, rather than view based.

So, I'm trying to use 'gatsby-plugin-layout' but I really don't know how to use it at all and the documentation for the plugin is really minimal, rather than being a full t

[2018-11-05 22:13] DSchau commented on #9723
layouts/index.js is a layout component, i.e. it will be a parent to any files/routes in pages. They're separate because pages are used for _routing_ whereas layouts/index.js wraps a page component, if that makes sense?

The name of the .js files in pages directly correspond to a route, so what you've created now is a route at /home. Probably want to keep it index, which follows the convention most

[2018-11-05 22:35] k3lh4m commented on #9615
Anybody able to take a look at this?

[2018-11-05 22:53] rchrdnsh commented on #9723
hmmmm...I'm prolly asking the wrong questions.

The thing is, I don't even know where to start...

I installed the `gatsby-plugin-layout` and added it to the config file, but from there I really have no idea how to refactor my V2 site to properly use the plugin. My site's architecture basically follows the V2 tutorial where I have a layout component and every page is wrapped with it, but when fina

[2018-11-05 23:01] DSchau commented on #9723
The general idea with that plugin is that you don't _have_ to refactor your layout component or page components to accommodate. It's generally used for some of the reasons you listed (e.g. keep page context, animations, etc.), but it's also provided to ease the migration path.

Really, nothing needs to be re-factored! Generally, just keep things as is, follow the [migration guide](https://www.gats

[2018-11-05 23:24] marisamorby opened #9724 ".org redesign: ecosystem [content/copy]"
## Goal

As we're going through the .org redesign, we'll be updating the copy on each of the pages. We want to make sure that the right copy is listed for our community, and that the copy also fulfills our marketing goals.

The ecosystems landing page will be the starting place for people who are on gatsbyjs.org to learn more about Gatsby. We are featuring plugins, starters, and external resources

[2018-11-05 23:39] rchrdnsh commented on #9723
ah, crap buckets! The config file is not in the src folder...Im so dumb! Thank you @DSchau XD

Although, now I have two nav menus, which should not be happening...

<img width="1440" alt="screenshot 2018-11-05 15 36 54" src="https://user-images.githubusercontent.com/7884263/48033622-df7c6d00-e110-11e8-9648-4eb2e5a18fb2.png">

any thoughts as to why that might be? You have been very helpful so far,

[2018-11-05 23:45] DSchau commented on #9723
@rchrdnsh are you kind of following a hybrid approach? My guess is you have imported the Layout component into various pages, when if you use gatsby-plugin-layout, you explicitly shouldn't wrap any pages!

[2018-11-05 23:54] marisamorby commented on #9711
Based on our conversations earlier today, we'll allow an image to show in each of these cards, if an image exists for the post. However, a post can be published without an image, in which case the card would show the title, author, and date (as listed in the design). Only the most recent post would show an excerpt.

[2018-11-06 00:00] marisamorby opened #9725 ".org redesign: homepage [content/copy] overview issue"
## Goal

As we're going through the .org redesign, we'll be updating the copy on each of the pages. We want to make sure that the right copy is listed for our community, and that the copy also fulfills our marketing goals.

The sections for the homepage will be:
**Gatsby Explanation**
<img width="1969" alt="screenshot 2018-11-05 16 15 31" src="https://user-images.githubusercontent.com/13393126/480

[2018-11-06 00:01] marisamorby commented on #9567
I'm closing this comment as it's a duplicate of #9725

[2018-11-06 00:01] #9567 closed

[2018-11-06 00:06] #6999 closed

[2018-11-06 00:15] ahansson89 commented on #9671
So setting /sw.js to "cache-control: public, max-age=0, must-revalidate" should be good?

[2018-11-06 00:19] #9705 closed

[2018-11-06 00:39] marisamorby opened #9726 ".org redesign: community [content/copy]"
## Goal

As we're going through the .org redesign, we'll be updating the copy on each of the pages. We want to make sure that the right copy is listed for our community, and that the copy also fulfills our marketing goals.

The sections for the homepage will be:
- Code of Conduct
- How to Contribute
- other community specific information or guides we want to surface (this is an ongoing conversatio

[2018-11-06 00:42] lindaleebumblebee commented on #9725
Thanks @marisamorby We have the main points covered here but I'd like to talk through the messaging on this. Is there a meeting on the books to review the content/messaging for the .org homepage? Also, I've seen some comments go around about the image so I assume that's changing?

[2018-11-06 00:44] lindaleebumblebee commented on #9726
It'd also be great to include a link to a page that has 'How to connect' or something to that effect that then lists all the Gatsby Days and meetups that are planned. We need to build that page as well, but we should make it easy for the community to connect with us and each other.

[2018-11-06 00:46] marisamorby opened #9727 ".org redesign: docs [content/copy]"
## Goal

As we're going through the .org redesign, we'll be updating the copy on each of the pages. We want to make sure that the right copy is listed for our docs landing page, as a way to guide people and introduce them to the docs we have.

## Next steps
- @shannonbux: are there specific questions you've heard about general docs copy that we should consider as we're building out the docs page?

[2018-11-06 00:56] rchrdnsh commented on #9723
ok, so liiiiiittle bit of refactoring then ;-P

k, so I replaced the `<Layout>` with `<div>` and this happened...

<img width="1440" alt="screenshot 2018-11-05 16 47 53" src="https://user-images.githubusercontent.com/7884263/48035914-df816a80-e11a-11e8-9363-434d95094464.png">

so that's no bueno, but then I was like...what about a fragment, like this `<>`...

then this happened:

<img width="1440"

[2018-11-06 00:56] lindaleebumblebee commented on #9711
As long as we keep the titles descriptive and catchy (which we usually do), then I'm good with leaving it as is and only giving a excerpt for the most recent post.

[2018-11-06 01:14] rchrdnsh commented on #9723
I'll close this for now, hoping to not run into any more issues :-)

[2018-11-06 01:25] KyleAMathews opened #9729 "Add https://docs.ghost.org/ and https://www.getbellhops.com/ to the site showcase"
https://www.gatsbyjs.org/docs/site-showcase-submissions/

[2018-11-06 01:43] pieh commented on #9584
Change was reverted and `gatsby-plugin-netlify-cms@3.0.6` was published - please update and if it fixes the problem closes the issue or let us know if there is still problem

[2018-11-06 01:44] pieh commented on #9661
@Destroy666x please update to `gatsby-plugin-netlify-cms@3.0.6` and let us know if issue is fixed for You

[2018-11-06 01:48] jlengstorf commented on #9723
Great news, @rchrdnsh — we'd love to get the docs updates to help people understand how all this works a bit better. Glad you got it worked out!

[2018-11-06 01:48] #9723 closed

[2018-11-06 02:03] jlengstorf commented on #9047
@ekdev2 Yes! If you supply a component to `createPage`, it treats that component as a page component. Under the hood, Gatsby is effectively calling `createPage` for each component in the `src/pages/` directory and doing exactly that.

Hope that helps!

[2018-11-06 02:30] hackhat commented on #9676
@DSchau

I'm not sure how to explain it, but I'm not talking about graphql at all.

Let me put the scenario again more clearly:

 - I check out the repo
 - I add "imageA" in the source code and **graphql will import that image**
 - CI will add "imageA" to the "public" and will be all fine
 - Now we clean the cache of the CI or we move CI to another provider
 - Now I delete the "imageA" in my sourc

[2018-11-06 02:53] KyleAMathews commented on #9676
You're discussing a pretty obscure scenario (changing CIs or providers) and in this sorts of radical changes (combined with simultaneous design changes) site breakage is inevitable.

Our advice is to not change hosts or CIs very often ;-)

[2018-11-06 02:57] KyleAMathews opened #9731 "Check in gatsby if any plugins have peerDependencies set for a newer version of gatsby than what's currently installed and error if so w/ clear upgrade instructions"
We occasionally add new APIs to core that plugins can start using. This can cause troubles when someone is using an older version of `gatsby` but installs the newest version of the plugin. We should detect this and error out and instruct them to upgrade their gatsby version.

[2018-11-06 03:03] kilgarenone commented on #9016
I'm getting `Unknown Fragment` using `GatsbyImageSharpFluid_withWebp_tracedSVG` but `tracedSVG` is fine in my `http://localhost:8000/___graphql`

[code]

[2018-11-06 04:07] kakadiadarpan commented on #9707
@pedrotavaresgoncalves React error `#152` says the following:
[code]

Can you once check if no component is returning nothing from render? It would be great if you could share a reproduction repository for this issue.

[2018-11-06 04:15] kakadiadarpan commented on #9713
@valse I assume you are including the CSS in one specific layout and it is being loaded in the other as well?

[2018-11-06 04:19] kakadiadarpan commented on #9715
@yjacobowitz can you share the reproduction repo for this issue?

[2018-11-06 04:29] nzwnabdulwahid opened #9733 "CSS order messed up after build"
Hi everyone, I have an issue where my css is either missing or order is messed up after I build.
For example:

This is the development one.
<img width="386" alt="screen shot 2018-11-06 at 12 26 42 pm" src="https://user-images.githubusercontent.com/15116775/48043042-65ef8800-e1bf-11e8-8e25-929c1e65c60d.png">

And this is one after I build
<img width="387" alt="screen shot 2018-11-06 at 12 26 56 pm"

[2018-11-06 05:18] valse commented on #9713
Yes exactly. I added a summary stat page using semantic UI for react but its CSS import is applied to other pages too...

[2018-11-06 05:45] #9712 closed

[2018-11-06 05:50] palerdot commented on #8348
@pieh `GATSBY_WEBPACK_PUBLICPATH=/ gatsby develop -H 0.0.0.0` works in linux also (tested in a ubuntu vagrant setup). I think `/` path should be made default so that the user's do not have to mention this explicitly. @drubin Sorry, I cannot answer for why it is not a default as I just observed this issue when working with gatsby. I think the relative path `/` should work for all host switches irre

[2018-11-06 05:54] btk commented on #9721
If I were you, I would create nodes, relative to that HTML files, in my gatsby-node.js. Than create pages for that nodes, that would get the contents of the HTML string as context.

And create a template which would insert the HTML string into a react div like;

[code]

[2018-11-06 06:52] MohankumarAmbati commented on #9729
#9735

[2018-11-06 07:04] greglobinski commented on #9711
Perhaps the newsletter subscription could move to the top (with the "submit an article" button) if the "all posts" link went to the bottom.

It depends on the goals of the newsletter (of which I really know nothing yet :) ), if the Newsletter exists only for the convenience of users the idea is ok, but if we care about the form's conversion, I assume we do, the form should stay as a separate secti

[2018-11-06 07:47] VladBlow opened #9736 "Gatsby i18n with gatsby-plugin-i18n"
Hello.
https://www.gatsbyjs.org/packages/gatsby-plugin-i18n/?=i18 this link not provide information about this plugin and don't have link to repository https://github.com/angeloocana/gatsby-plugin-i18n

Also, this repository not maintained now and example https://github.com/angeloocana/gatsby-plugin-i18n/tree/master/packages/gatsby-starter-default-i18n don't working with Gatbsy v2.

I found it dif

[2018-11-06 08:42] kakadiadarpan commented on #9713
Currently, in dev mode, split chunk plugin is not enabled. Fixing that should resolve this issue. Please follow issue #8342 for more updates regarding this.

Closed in favor of #8342

[2018-11-06 08:42] #9713 closed

[2018-11-06 08:44] hackhat commented on #9676
But what if you build on your own machine? and you have 2 developers, is not a mess?

I don't think is obscure, is a normal case that should be handled. I understand that for you don't need a robust application, and if this is the case, I think is important to put a note on the project that it might break to some people randomly if you delete the public folder.

I think at this point the best thin

[2018-11-06 08:47] JanaVanMaele commented on #9721
@btk Thank you for your reply
Can you give me a hint on how "create a node, relative to HTML files" would look like in code? I have a rough idea how to do the rest of your explanation in code, but as a newbie to node, react and gatsby, I have no idea how to read the content of a HTML file.
Thank you in advance!

[2018-11-06 08:53] kakadiadarpan commented on #9733
@nzwnabdulwahid There are a couple of issues similar to this one #1836 & #6302. Also, #6302 has an open PR(#8092) which once merged should resolve this issue.

@DSchau @pieh should we merge these issues as they all are related to the ordering of the imported CSS(or SASS)?

[2018-11-06 09:00] kakadiadarpan commented on #9736
@VladBlow unfortunately `gatsby-plugin-i18n` isn't compatible with Gatsby v2 at the moment as it has not been updated after the launch of Gatsby v2.

@angeloocana any plans of updating it to support v2?

[2018-11-06 09:12] muhammadnaveel commented on #9722
@kakadiadarpan did as per your instructions. same error coming..

[2018-11-06 09:38] btk commented on #9721
@JanaVanMaele ofc.

You should have a quick look at these page, it is a general reference for node apis on gatsby. https://www.gatsbyjs.org/docs/node-apis/  (Especially `createNode` and `createPage` actions)

Since your problem is pretty spesific I can't really point you out to a good source code you can edit. But you can try these links;

https://www.gatsbyjs.org/docs/source-plugin-tutorial/
http

[2018-11-06 09:42] JanaVanMaele commented on #9721
@btk Thanks! I'll give it a try

[2018-11-06 09:43] yjacobowitz commented on #9715
I just took one of the examples from the gatsby repository (using-sass) and added the plugin:
https://github.com/yjacobowitz/GatsbyWithLodash

[2018-11-06 09:51] #9721 closed

[2018-11-06 09:55] Destroy666x commented on #9661
Doesn't seem to still, tested in incognito. Only non-external way of registering an account works. I also contacted Netlify support to make sure the issue isn't on their side.

[2018-11-06 10:08] haroldangenent commented on #8145
@davidbailey00 PR is looking good, thanks for your work on this!

[2018-11-06 11:59] PawanHegde commented on #8560
I am facing the same issue. The gatsby develop and gatsby build versions are very different for me.

If I land directly or refresh a page with material-ui components, the CSS is broken for those components. The classes are present in the source but they aren't applied to the elements. If I follow a <Link> to the same page, however, everything works fine.

I have also noticed that if I run `gatsby

[2018-11-06 12:18] fk commented on #9725
@Linda First shot at a new diagram design and discussion here: https://github.com/gatsbyjs/gatsby/issues/9525

[2018-11-06 12:32] pedrotavaresgoncalves commented on #9707
@kakadiadarpan I checked every component before. Now I went even further, abandoned implicit return and made all returns in React explicit.

Still no work

Here's the repo

https://github.com/pedrotavaresgoncalves/gatsby-debug

[2018-11-06 12:58] kmorf commented on #9715
In your index.js you are not importing lodash, hence the failing

`import _ from 'lodash'`

[2018-11-06 13:12] yjacobowitz commented on #9715
@kmorf In v1 of the plugin, there was no need to import lodash, is this a new change in v2? If so, what is the difference between using the plugin and just importing lodash?

[2018-11-06 13:19] tommy-dev commented on #9406
I am stuck too at trying to use mutation from GatsbyJS version 2. I was excited to get AWS Appsync and Gatsby querying data. This is the next missing puzzle.

[2018-11-06 13:33] yjacobowitz commented on #9715
Got it! In v1 there was no need to import lodash, is this a change that will be added to v2?

[2018-11-06 13:38] yjacobowitz commented on #9715
Got it! In v1 there was no need to import lodash, will this be added to v2?

[2018-11-06 13:48] kmorf commented on #9715
Not sure I understand your question. It doesn't have to be added to v2 since it is a separate utility library, but users can add it manually.

[2018-11-06 13:50] tommy-dev commented on #9406
Thanks @juankaram I managed to get it mutation to work with AppSync and Dynamodb using Apollo Client. I am pretty new to the graphql world, so a bit curious why you did not go forward with Apollo Client? Anyway example code  below in case other people is interested.

// @ts-check
import React from "react"
import EventList from "../components/EventList"
import { graphql } from 'gatsby'
import Apoll

[2018-11-06 14:05] yjacobowitz commented on #9715
In v1 there was no need to manually import lodash in every js file, you were able to use it seamlessly without adding the line `import _ from ‘lodash’`. This change requires me to add the line to every js file in my code, while before it was not required.

[2018-11-06 14:10] fk commented on #9711
@jlengstorf

I agree — ironically I had a link like this in the initial design; removed it b/c I felt it conflicted with the newsletter form.

I wondered about that when I added the "card" design to https://www.gatsbyjs.org/blog/ somewhere…last year? I decided too keep the existing order back then because I felt the author information to be less important than the excerpt in terms of making a deci

[2018-11-06 14:38] Aboumicho commented on #9666
I can't really show you because it's a company website and I can't simply take off the post. I know this error started happening after one post. I don't think this is the cause might be a coincidence I don't know..

[2018-11-06 14:43] kmorf commented on #9736
@VladBlow if you are in a hurry you can try this:

1. Download the plugin locally and add it in a `plugins/` folder at the root of your project.
2. Replace `boundActionCreators` with `actions`
3. `cd plugins/gatsby-plugin-i18n &&  npm install`
4. Add the plugin in your `gatsby-config.js` if it's not already there

[2018-11-06 14:50] Aboumicho commented on #9666
There is nothing special in this post, there are as many images. But if you need to see it, here is the [**blog**](https://broadsign.com/blog/) section of the wordpress website

here is the most recent [**post**](https://broadsign.com/blog/dooh-metrics/?blog-origin=blog)

[2018-11-06 15:10] hoodsy commented on #3348
btw for gatsby v2 you'll need to install the latest version: `yarn add gatsby-plugin-resolve-src@next`

https://github.com/alampros/gatsby-plugin-resolve-src/issues/7

[2018-11-06 15:12] DSchau commented on #9676
Alright - let's take a step back here, I think there's some reasonable confusion on both of our parts.

How are you referencing images in your Gatsby application? Relative links with an `img` tag? A meta tag pointing to a reference? Are you `require`ing the images? You made a reference to Markdown, so are you using relative links in your Markdown content? Something else?

Knowing that will help us

[2018-11-06 15:29] DSchau commented on #8710
This was done in #8878. Thanks @ctxhou!

[2018-11-06 15:29] #8710 closed

[2018-11-06 15:31] VladBlow commented on #9736
@kmorf thank you for the consultation, but I set up this plugin, and it works right now. I just wanna to helped the community solve the same problem.

[2018-11-06 15:45] pedrotavaresgoncalves commented on #9707
install instructions:
1)npm install --save firebase --build-from-source
2)npm install --save gatsby@2.0.19
3)npm install --save gatsby-plugin-sharp@2.0.6 --build-from-source
4)npm install --save gatsby-transformer-sharp@2.1.3
5) npm install

[2018-11-06 15:50] pedrotavaresgoncalves commented on #9687
@btk I don't think this is a duplicate issue, right?

[2018-11-06 16:18] kmorf commented on #9736
@VladBlow That's the spirit :)

https://www.gatsbyjs.org/docs/plugin-authoring/
https://www.gatsbyjs.org/docs/submit-to-plugin-library/

[2018-11-06 16:26] dustinhorton commented on #3348
And alternatively there is [`gatsby-plugin-root-import`](https://github.com/mongkuen/gatsby-plugin-root-import).

[2018-11-06 16:36] marisamorby commented on #9726
That's a great idea @lindaleebumblebee. I'll add it to the Epic so we can log it!

[2018-11-06 16:41] ManoelLobo commented on #9731
Hey, @KyleAMathews, maybe something in the lines of this package: [check-peer-deps](https://github.com/Arcanemagus/check-peer-deps)? It checks all the first level deps, shows a clear message, and could be hooked (I guess) in some build/install step.

[2018-11-06 16:42] ng-hai commented on #8749
It works like a charm, @pieh! Thank you for saving my time a lot ❤️

[2018-11-06 16:44] marisamorby commented on #9725
@lindaleebumblebee: There's not a meeting on the books for this yet. There's a separate issue for the diagram specifically on issue #9525. I thought I added you, but will do so now. We can log messaging, goals, and requirements for the diagram there. Thanks!

[2018-11-06 16:46] erquhart commented on #9661
Any chance you're also using the offline plugin?

[2018-11-06 17:05] jlengstorf commented on #8998
For future Googlers, here's a working example of Apollo + Gatsby V2: https://github.com/jlengstorf/gatsby-with-apollo

[2018-11-06 17:21] fk commented on #9711
Not very inspired today :/, had such a hard time coming up with that newsletter component… 😓

- moved author/timestamp meta below headline
- added (calm) "Read more" links to all blog post cards (and not mad about it at all, thanks for making that call @jlengstorf 🤗)
- optimized/tidied up whitespace/margins in blog post cards
- "universal" newsletter component (have to say that a "Subscribe to new

[2018-11-06 17:32] DSchau commented on #8998
@jlengstorf is it worth moving that to the examples directory in gatsbyjs/gatsby?

[2018-11-06 17:47] Vpr99 commented on #7827
@thibautvs bummer. I managed to make it work by wrapping just that component in its own `ThemeProvider` but that feels super bad.

[2018-11-06 18:01] PawanHegde commented on #8560
It did not fix the issue for me. I still see the same behaviour.

<h6>Expected</h6>
<img width="490" alt="screenshot 2018-11-06 at 11 29 03 pm" src="https://user-images.githubusercontent.com/3167291/48083676-ce6c5280-e21b-11e8-8c2f-4e0cc9924c77.png">

<h6>Actual</h6>
<img width="760" alt="screenshot 2018-11-06 at 11 27 18 pm" src="https://user-images.githubusercontent.com/3167291/48083674-cdd3bc00

[2018-11-06 18:02] amberleyromo commented on #9711
@fk I like it! I think the newsletter component design is a huge improvement. I also like the card for "View all Posts".

[2018-11-06 18:11] btk commented on #9687
@pedrotavaresgoncalves yeah, I followed your steps, but couldn't work it out. It might be about the environment? Can you reproduce the issue on a repository, and maybe hook it into a CI to see if your problem is about the environment, or a bug in Gatsby is causing this?

[2018-11-06 18:12] amberleyromo opened #9744 ".org redesign: homepage [content/copy] - Blog / Newsletter section"
## Goal

As we're going through the .org redesign, we'll be updating the copy on each of the pages. We want to make sure that we have input and agreement on all sections of homepage copy.

## Next steps

We need to finalize the mockup for the Blog / Newsletter section: https://github.com/gatsbyjs/gatsby/issues/9711#issuecomment-436335535

@shannonbux @lindaleebumblebee ^take a look, and please eit

[2018-11-06 18:20] lindaleebumblebee commented on #9711
So are we calling the blog 'Gatsby Gazette' now? I like the name but we also use that name for the maintainer's weekly email so we don't want confusion there. I love the newsletter sign up CTA- that looks great. Other than that- it looks good to me.

[2018-11-06 18:21] amberleyromo commented on #9744
@lindaleebumblebee's input: https://github.com/gatsbyjs/gatsby/issues/9711#issuecomment-436355046

[2018-11-06 18:57] amberleyromo opened #9747 "Add Content / Copy for .org Homepage - Ecosystem section"
## Goal

As we're going through the .org redesign, we'll be updating the copy on each of the pages. We want to make sure that we have input and agreement on all sections of homepage copy.

## Next steps

We need to finalize the copy for the Ecosystem homepage section: https://github.com/gatsbyjs/gatsby/issues/9709

@shannonbux @lindaleebumblebee notable questions/needs include:
- The intro under "

[2018-11-06 18:59] fk commented on #9711
@lindaleebumblebee No, I picked that title pretty much randomly; just commented on that over at https://github.com/gatsbyjs/gatsby/issues/9744#issuecomment-436356162, totally agree with your reservations.

[2018-11-06 19:05] #9630 closed

[2018-11-06 19:15] #9729 closed

[2018-11-06 19:16] shannonbux commented on #9747
I think the copy looks great.

One question:
Upon first glance, I couldn't remember the difference between "plugin docs" and "plugin authoring."

For the homepage overall intro, what about:

With over 527 plugins, 86 starters, guides on how to build your *own* plugins and starters, and dozens of external tutorials and podcasts, the Gatsby ecosystem has tools to help you build your Gatsby projects.

[2018-11-06 19:20] fk opened #9748 ".org redesign: homepage [design] "hero/above the fold" section"
<img width="1180" alt="hero" src="https://user-images.githubusercontent.com/21834/48087795-8a1f8900-e200-11e8-899d-d8c6546424df.png">

- claim with "rotating words" ("Build ______ apps and websites with React") remains
- "Get Started" CTA button stays
  - would like to suggest adding a secondary CTA button "Take the Tutorial" (similar to https://reactjs.org/)
- add a "Gatsby Preview" product tease

[2018-11-06 19:21] amberleyromo commented on #9747
What about "Using plugins" and "Creating plugins" instead?

Moving the intro description to the top-level comment.

[2018-11-06 19:32] jakelumetta commented on #9612
Ok I think we're all set on this one. Thanks!

[2018-11-06 19:32] #9612 closed

[2018-11-06 19:37] ludwig-vaan opened #9749 "Error during the Building static HTML phase with graphQL query"
## Description

Can't build with `gatsby build` there is error during the Building static HTML phase.

### I have test my query in graphQL & the website work fine with `gatsby develop` mode

**source code :** https://github.com/ludwig-vaan/osteopathie-animale-bordeaux
_ps: there is my api key for prismic if you want to test_

[code]

### Steps to reproduce

source code : https://github.com/ludwig-

[2018-11-06 19:45] DSchau commented on #9749
Sounds like you have a null data case for that particular animal.

If you inspect the query in GraphiQL, e.g. http://localhost:8000/___graphql, I'd wager that you're getting back a null or otherwise invalid animal in [this component](https://github.com/ludwig-vaan/osteopathie-animale-bordeaux/blob/master/osteopathie-animale-bordeaux/src/components/Prestation.js)

You can explicitly filter or handl

[2018-11-06 19:49] rchrdnsh opened #9751 "'gatsby build' getting stuck with some odd warnings..."
Trying to run Gatsby Build and I'm getting this in the terminal:

[code]

it's getting stuck running queries and won't stop running them, and nothing is building, and it worked fine last night. It just seems stuck this morning.

Any thoughts on what might be happening?

[2018-11-06 19:53] fk opened #9752 ".org redesign: homepage [design] "used by" section"
Up to now, the "Used by" section was featured prominently above the fold.
We could keep it that way…

![image](https://user-images.githubusercontent.com/21834/48089337-8857c480-e204-11e8-93e1-fcd90593d4a3.png)

or move the section down, allowing it to span the whole width of the page, possibly scrolling the logos in an endless loop, freeing the space next to claim and main CTA buttons to be used f

[2018-11-06 20:05] fk opened #9753 ".org redesign: homepage [design] community/creators section"
We want to feature the recently added "[Community/Creators](https://www.gatsbyjs.org/community)" section of gatsbyjs.org on the homepage and need a design for that.

[2018-11-06 20:06] fk opened #9754 ".org redesign: homepage [design] showcase section"
Design for the homepage section that teases https://www.gatsbyjs.org/showcase.

[2018-11-06 20:12] fk opened #9755 ".org redesign: homepage [design] features section"
Design a section that provides an overview over Gatsby's core features, similar to what we currently have with these six content blocks:

![image](https://user-images.githubusercontent.com/21834/48090851-46c91880-e208-11e8-81f1-d0a402f70af4.png)

- I'm somewhat hoping that we can reduce the space that this section currently occupies.
- One way to do so is by including that information in the "expl

[2018-11-06 20:12] #9749 closed

[2018-11-06 20:15] ludwig-vaan commented on #9749
Thanks 🙌 the error was so obvious that it was impossible for me to see it

[2018-11-06 20:18] fk commented on #9526
@amberleyromo @greglobinski Finally got to create bespoke issues for all work, and updated the issue description above.

While I'm treating those sections as separate components that do not require a certain order, it would be nice to define the content order. Apart from "hero content", IMO the positions/priority of "Features" and "Diagram" are pretty much set in stone—I'm wondering what your thou

[2018-11-06 20:21] amberleyromo commented on #9526
I think this is more of a content / IA question for @shannonbux and @lindaleebumblebee. First blush I agree with the way you've ordered it in your comment.

[2018-11-06 20:24] jakelumetta opened #9756 "Can I contribute Blog Example?"
## Summary

I'd like to contribute a comprehensive blog example to https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/building-a-blog.md

It would use https://www.gatsbyjs.org/packages/gatsby-source-buttercms/ for the blog backend.

### Motivation

ButterCMS has developers using it's blog engine API to power their own personal Gatsby websites and many of them ask for better docs to support t

[2018-11-06 20:27] jakelumetta opened #9757 "ButterCMS Headless CMS Guide"
## Summary

I'd like to add ButterCMS to the list here: https://www.gatsbyjs.org/docs/headless-cms/

I'd also like to work with @LekoArts to write a full ButterCMS guide akin to:  https://www.gatsbyjs.org/docs/sourcing-from-prismic/  - those videos a very well done!

[2018-11-06 20:29] greglobinski commented on #9752
I like that :+1:

[2018-11-06 20:38] DSchau commented on #9756
@jakelumetta since that stub seems (to me!) to be more general purpose, I'd probably recommend an example and a guide, rather than a general documentation article! Take a look at this page for what I mean -> https://www.gatsbyjs.org/docs/headless-cms/

But we'd happily take any type of content you're willing to contribute! We ❤️ PRs adding examples, improving documentation, and in general, just ma

[2018-11-06 20:49] shannonbux commented on #9526
I will have all my UX research interviews on the homepage done by next Friday (Nov 16th) so will have a more informed opinion by then! As with every project, this is a balance of meeting two goals:
- internal goals (what path do we *want* people to go down)?
- user goals (what path do users want to go down and how can we help them get there?)

My first impression is that this is a lot for a homepa

[2018-11-06 20:51] jakelumetta commented on #9756
Thanks @DSchau  - yeah I saw that page so I opened https://github.com/gatsbyjs/gatsby/issues/9757 ; so will definitely want to move forward with that one.

For this blog page, what do you mean by more general purpose? Can you provide an example?

[2018-11-06 20:52] shannonbux commented on #9747
oh yeah, I like that!

On Tue, Nov 6, 2018 at 12:21 PM Amberley <notifications@github.com> wrote:

[2018-11-06 20:58] amberleyromo commented on #9526
If that's the case, then I think community/creators should drop off. We have a lot more work to do in that domain defining it before we can (in an informed way) think about how it might relate to the homepage.

Also, @KyleAMathews -- I think it was you who first suggested pulling featured Gatsby sites into the homepage. Do you have an opinion about where it goes? Now that I'm remembering that, I'm

[2018-11-06 21:01] DSchau commented on #9756
Definitely! I can certainly be wrong here, too, just my opinion :)

By general purpose, I mean non-opinionated. We certainly could highlight any CMS here, e.g. Wordpress, Contentful, ButterCMS, etc. but I think that approach has two disadvantages:

1. It asserts an opinion, e.g. "Use this CMS for blogs!", and
1. There's a precedent of _not_ having an opinion and using a guide for CMSes

So those t

[2018-11-06 21:01] shannonbux commented on #9711
I like the sign up and the layout; I wonder about the buttons and whether it makes sense to capitalize them. If so, it should read:
"View All Posts"
"Submit an Article" or "Submit a Post"

I think the capitalization looks a little funny for some reason. In some brief browsing, I'm noticing that many websites do sentence caps (first word starts with capital letter), title capitalization, or ALL CAP

[2018-11-06 21:06] Destroy666x commented on #9661
Yes and I just updated to `.12` since I see that came out yesterday, I guess I'll need to set up some kind of notifications for the most "sensitive" Gatsby parts :stuck_out_tongue:.

But updating didn't help, you basically need to be in a session with service workers disabled in the console or it doesn't work.

[2018-11-06 21:23] rotexhawk opened #9759 "Gatsby-Wordpress inconsistency between image in post vs page"
## Description

I am using this plugin https://wordpress.org/plugins/wp-api-yoast-meta/ which ads yoast info to the rest api. I added opengraph-image to the post and pages. Gatsby detects the images in the page and the type for opengraph-image is wp_media but no matter what I do, the images in the posts are not detected. I tested in GraphiQL as well. I also ran `gatsby develop` multiple times and

[2018-11-06 21:34] lindaleebumblebee commented on #9711
Thanks Flo. In that case, I'd title that section as 'The Gatsby Blog'. It's not super exciting, but people will know exactly what that is. Other than that, looks great to me.

[2018-11-06 21:35] lindaleebumblebee commented on #9744
I'm good with the design so I've marked it as 'approved' from my end with just the one change to the title (The Gatsby Blog instead of Gazette).

[2018-11-06 21:43] aofolts commented on #9714
**Update**

So I've traced the problem back to the use of "layout" in the fragment.

If I change this to `layout2: layout`, the data is passed properly. Not sure what the exact problem is, but I'll continue to investigate.

[2018-11-06 21:55] alexboffey commented on #5030
Hey @patricksimonian 😄
So far, just set up the codebase on my machine and been fiddling around. If I make any progress I will update this thread with a link to the topic branch.

[2018-11-06 22:04] Destroy666x commented on #9661
And the fix seems to be straightforward - `navigateFallbackBlacklist` by default for some reason assumes that the URL ends with the parameter, but that's quite a big assumption. Removing `$` worked.

[2018-11-06 22:05] zvinless opened #9760 "FOUC when using typeface- package"
## Description

There is a quick flicker of unstyled content on initial page load when using a font from a [typeface package](https://github.com/KyleAMathews/typefaces).

I'm guessing it's [this issue](https://spectrum.chat/thread/8177276a-15a7-41c8-96c3-82d382d17609).

### Steps to reproduce

1. Install a typeface package, e.g. `yarn add typeface-pattaya`
1. Use it as a font in some css
1. Import

[2018-11-06 22:06] shannonbux commented on #9744
I like sentence caps instead of title caps for buttons because it seems like these are complete sentences rather than a "title" for something. Don't know who has the final say though. I don't think this is blocking, so I'll approve this. Just a consideration for how we handle buttons across the site. In this case the change would read:
"View all posts"
"Submit an article" or "Submit a post"

We've

[2018-11-06 22:07] VladBlow commented on #9736
@kmorf thanks, hopefully I will find time to make a plugin. What exactly you mean for `That's the spirit`? The spirit of open source?

[2018-11-06 22:10] fk commented on #9526
@shannonbux I can follow your concern.
FWIW [here's the internal issue comment](https://github.com/ichabod-cranes/mansion/issues/987#issuecomment-415492200) in which I initially captured the content of the homepage and I'm still basing the sections listed above on.
I did abandon this "more compact" version of the layout (trying to fit multiple subsections into row columns) because I felt it was to

[2018-11-06 22:15] fk commented on #9711
Argh! Thanks for asking that, @shannonbux. That arrow is a leftover from the first design iteration and shouldn't be there at all anymore. If we want an icon, it should go to the right of the button label.

The purple background IMO is enough to show that this is the primary button.
Wondering if you like the arrow though?

[2018-11-06 22:31] davidbailey00 commented on #9661
Oops, another edge case I forgot to consider - Gatsby always writes `no-cache=1` at the end of the URL so it's reasonable to expect it to be last, but if a page appends something else afterwards then that might not always be the case. Thanks for spotting this!

Just to reiterate on my previous point that we're planning to remove the `no-cache` URL handling entirely, in favour of a dynamic whitelis

[2018-11-06 22:40] jlengstorf commented on #8998
@DSchau good point, yeah. If you want to move it, feel free. I can get to it probably after the GraphQL Summit otherwise.

[2018-11-06 22:51] laszlogulasz opened #9761 "Broken link to Crator Showcase in gatsbyjs/docs"
Link to Creator Showcase at https://www.gatsbyjs.org/docs/submit-to-creator-showcase/ under the title drives to "Page not found". In submit-to-creator-showcase.md I found following: [Creator Showcase](link TBA)?
Maybe link should be inactive until Creator Showcase is ready?

[2018-11-06 23:09] shannonbux commented on #9711
@fk I do like the arrow, just not sure how you would be able to use it when
multiple buttons are side-by-side. The purple background is enough for now
I think! I do like the arrow though... :)

On Tue, Nov 6, 2018 at 3:15 PM Florian Kissling <notifications@github.com>
wrote:

[2018-11-06 23:11] shannonbux commented on #9526
@fk yes, I can see why you'd feel it was too dense. I agree! I think having
a long homepage is fine. Probably the most important question is actually
just what goes above the fold, since that's what most people focus on, at
least the first visit to the site :) And to have a more refined opinion on
that, I'll need to do 3 more interviews :)

On Tue, Nov 6, 2018 at 3:11 PM Florian Kissling <notifica

[2018-11-06 23:34] pedrotavaresgoncalves commented on #9687
Solved the development mode problem but still having trouble to build  as you can see in #9707

Maybe node 11 is not yet very safe to use with gatsby v2

[2018-11-06 23:45] pieh commented on #9714
The `layout` find is pretty weird (I couldn't find any code that would have special handling for `layout` field) - would you be able to provide reproduction repository for this problem?

[2018-11-07 01:01] shannonbux commented on #9726
You know, I think @jlengstorf and the rest of the developers who have been
on pair programming sessions would have the best summary of contribution
- FAQs
- other pain points or problems we could solve

I don't really have any research on this; almost no interviewees have
commented on the contribution process other than to say this:
- Kyle is super positive and quickly responds
- I wish all the st

[2018-11-07 01:31] marisamorby commented on #9726
@shannonbux: this is a good callout. We'll be creating the copy on the community page from scratch, so getting more info from the pair programming sessions would be great!

[2018-11-07 01:38] marisamorby opened #9765 "Update the blog process and tools"
### Summary
There is an opportunity to make the blog authoring and posting process easier and less manual by using a CMS that integrates with GitHub and also uses a template so that we make sure everything follows the style guide.

### Next Steps
* review problems and requirements (below) and create product scope
* prioritize this against existing work

### Problems
* Writing in markdown and manag

[2018-11-07 02:08] mjkrause opened #9766 "README of Unit Testing section refers to something that doesn't exist"
## Description

Check line _Back to the Jest config, you can see the next option is testRegex. This is the pattern telling Jest which files contain tests. The pattern above matches any .js file inside a `__tests__` directory,..._ in gatsby/docs/docs/unit-testing.md.
There is no variable named `testRegex` in the above example of `jest.config.js`. I have seen somewhere below in that file, though. In

[2018-11-07 03:46] aofolts commented on #9714
@pieh Here's the repo: [aofolts/connecting-core](https://github.com/aofolts/connecting-core)

Maybe there's something super-obvious, but if not and you want to run it, let me know and I'll create a Contentful access token for you.

[2018-11-07 04:56] aofolts commented on #9714
I solved the problem. I was using a HOC named "withLayout" which was mutating the layout property in `data` then passing it to `Layout` and then `Index`.

For whatever reason, this was causing the layout property to become undefined on hot reload or when I clicked a `gatsby-link`.

[2018-11-07 05:44] aofolts commented on #9714
I solved the problem. I was using a HOC named "withLayout" which was mutating the layout property in data then passing it to Layout and then Index.

For whatever reason, this was causing the layout property to become undefined on hot reload or when I clicked a gatsby-link.

[2018-11-07 05:44] #9714 closed

[2018-11-07 06:30] OrKoN opened #9770 "Why does Gatsby unregister all service workers in development?"
I have realized that after spending some hours debugging a not working service worker used for push notifications. This service worker is a feature of the website, and it's not just for caching/offline mode. So I was wondering why does Gatsby unregister all service workers in development? In my opinion, it should only unregister service workers it has installed itself. Otherwise, the behavior is q

[2018-11-07 06:31] kakadiadarpan commented on #9751
@rchrdnsh can you provide environment info by running `gatsby info --clipboard`?

[2018-11-07 06:39] kakadiadarpan commented on #9766
@mjkrause the best way of going through the Gatsby documentation would be through www.gatsbyjs.org, the links would not work as expected in the Github's README.md

For unit testing, please check the following link on gatsbyjs.org: https://www.gatsbyjs.org/docs/unit-testing/

[2018-11-07 06:41] btk commented on #9687
I pulled your test repository, there was no errors thrown. My node version is v8.10.0, it might be bc of that, would you be able to try [changing the version of your node](https://michael-kuehnel.de/node.js/2015/09/08/using-vm-to-switch-node-versions.html) and see if it is about the node version?

[2018-11-07 06:42] kakadiadarpan commented on #9761
@laszlogulasz Thank you for pointing this out. The href for that link is actually supposed to be this: https://www.gatsbyjs.org/showcase/

Would you like to fix this?

[2018-11-07 06:44] Dipeshwagle commented on #9761
I'll handle it.

[2018-11-07 06:53] btk commented on #9770
I think you are right, gatsby should tag the service workers that registered by itself or its plugins and unregister these ones on the development, leaving developer the chance to debug their registered service workers.

But keep in mind the development version is not a static output, a javascript application that mimics the output. So it would be tricky to debug service workers on that environmen

[2018-11-07 07:16] LekoArts commented on #9766
No, you’re misunderstanding something here @kakadiadarpan
The text mentions a testRegex that was there before but @dschau removed that from the config file with his last commit

[2018-11-07 07:18] jodumont commented on #2692
Hi;
I have the same question
now I did `npm uninstall gatsby-cli` and `sudo npm uninstall gatsby-cli`
but `npm ls -g|grep gatsby`
still showing me
[code]

[2018-11-07 07:39] LekoArts commented on #9760
It’s working as expected. Using typefaces doesn’t mean that you won’t have FOUC out of the box. Moreover `font-display: swap` exactly does that. If you don’t want FOUC you have to preload your fonts.

[2018-11-07 07:41] LekoArts commented on #9757
You can find my email on my profile 😀

[2018-11-07 07:44] cardiv commented on #9383
I had a look at the Workbox config and tested some Gatsby starters that use the offline plugin in the newest iOS Safari with airplane mode.

**My steps:**

1. Load home page.
2. Go offline.
3. Browse through the other pages.

It seems that the offline plugin caches resources that are linked on the page I visited while online.
That's great so far.

Unfortunately, the precache config is not easy to

[2018-11-07 07:48] kakadiadarpan commented on #9766
I can see the `testRegex` in the jest config file. Please check the attached screenshot below:

<img width="835" alt="screenshot 2018-11-07 at 1 15 18 pm" src="https://user-images.githubusercontent.com/10805593/48117477-5ccdec00-e28f-11e8-9c07-ac5b30642bfd.png">

[2018-11-07 07:59] DSchau commented on #9766
Yeah, whoops! Easy fix to remove and re-arrange that paragraph. I did remove it because it wasn't necessary for JS files, but is still necessary for Typescript.

Someone want to tackle this? If not, one of us will get to it as soon as we can!

[2018-11-07 08:16] Manoz commented on #8335
@kakadiadarpan here's the env infos:
[code]

[2018-11-07 08:40] JohnONolan commented on #9729
Thanks team 💘🤗

[2018-11-07 08:58] OrKoN commented on #9770
@btk the interesting part is that I am not using `gatsby-plugin-offline` but it seems that the code to unregister service workers belongs to Gatbsy project itself. Are there any other service workers installed by GatsbyJS? is it possible to move the unregister code to `gatsby-plugin-offline`?

[2018-11-07 09:34] endymion1818 opened #9773 "[gatsby-transformer-csv] on Build unable to render"
## Description

I'm parsing a local CSV and in develop mode I can query the nodes in GraphQL. Using the query in my component in develop mode works fine. But when running "Gatsby Build" I experience an error.

### Steps to reproduce

Gatsby Node has the following:

[code]
My GraphQL query is as follows:

[code]
In my parent component I'm passing the data down as follows:

[code]
And in that child

[2018-11-07 09:49] hackhat commented on #9676
I use images in my markdown, so the plugin creates the img tag under the hood. Yes, relateive images from markdown. gatsby-remark-images I guess everybody is using this.

What I think is the main problem is that somebody says you need to keep those files otherwise it will break the app for users of old apps. But then you tell me that those files don't matter. I think they are crucial, you can't ju

[2018-11-07 10:01] Steffi3rd opened #9774 "Contentful ID is not the same in the GraphQL query, why?"
Hi,

I just started Gatsby with Contentful and GraphQL.

I playing with GraphQL and I'm wondering why ID is not the same in GraphQuery and Contentful dashboard?

There is a `c` before the ID, if I remove it (exactly as the Contentful dasboard) I doesn't work anymore.

Contentful dashboard : `15jwOBqpxqSAOy2eOO4S0m`

- GraphQL query : 15jwOBqpxqSAOy2eOO4S0m >> **doesn't work**
- GraphQL query : **c

[2018-11-07 10:03] rbmedia commented on #5002
I have no worry with the build time but more with the volume of static files that I need to upload for any update, we launched a large visual portfolio with Gatsby and the static site to upload is over 150 MB
Mostly images.
This makes the site unavailable around 40 minutes during an update
The availability to rebuild a part of the site is definitely a feature that would boost Gatsby.
I plan to use

[2018-11-07 10:09] laszlogulasz commented on #9761
@kakadiadarpan I'd like to, if @Dipeshwagle gives me the green light 😊

[2018-11-07 10:17] iaindurie commented on #9060
@DSchau I've found that this error is happening when the GraphiQL IDE is running. If I run gatsby develop and then open the IDE, or if the IDE is already open before running gatsby develop, I get the error.

[2018-11-07 10:28] gustafsilva opened #9775 "Error deploy in Github pages"
## Summary
Error while trying to deploy on github pages :bug:

## Relevant information
Error message in the browser console:
[code]
:point_right: [Repository on Github](https://github.com/gustafsilva/todoapp-gatsby) :point_left:

### Environment
Locally LinuxMint :penguin: and trying to deploy with **github pages** :octocat:

### File contents
`gatsby-config.js`:
[code]
`package.json`:
[code]
`gat

[2018-11-07 10:42] h0rhay commented on #9398
Is there any documentation I can refer to for this issue?

I am essentially trying to pass some toggled state between 2 pages when a navigation occurs.

So you click a link.. this toggles some state, then the page you arrive on would have access to this toggled state.

I'm trying with Gatsby v2 like this:

[code]

I guess I need redux or similar for this right?

[2018-11-07 10:49] Steffi3rd opened #9776 "Unpublished content from Contentful, directory is now empty but not removed, why?"
Hi,

I try to unpublish a blog post named "hello-world" from Contentful, it works well.
But I still have some files about the post I just unpublished as  `hello-world-_____.js`, `hello-world-_____.js.map`
And the directory `hello-world` is still there but **empty**.

Why, how can clean everything?

Thanks

### Hello world post unpublished

<img width="1431" alt="capture d ecran 2018-11-07 a 11 46

[2018-11-07 10:51] pieh commented on #9774
There are some graphql restriction that ID fields can't start with number so we prefix them with `c`. Contentful entries should have `contentful_id` field which does not have that restriction that you can filter by (instead of `id`)

[2018-11-07 10:58] Destroy666x commented on #9661
I see. Yes, there can be a lot of edge cases for that, so replacing it with a different solution would be better.

I hope to see the plugin for optionally unregistering old SW for users that have, let's say, some kind of localstorage `lastVisitVersion` or whatever value. Should I create a different issue for that or do you want to with a better description?

[2018-11-07 11:00] pieh commented on #9662
Hey @korylus. We don't have proper theme system yet (see not yet published blog post on work being done on this front: https://github.com/gatsbyjs/gatsby/blob/bff64cff17aff346ce917bdea74f3188443960dd/docs/blog/2018-10-26-introducing-gatsby-themes/index.md )

This also explains limitations with using starters as theming tool - they are one use only (scaffolding), so it is also difficult and time co

[2018-11-07 11:07] kakadiadarpan commented on #9776
@Steffi3rd did you create a new build after unpublishing your blog post?

[2018-11-07 11:10] Steffi3rd commented on #9776
Yes I did.

Step 1 : unpublished
Step 2 : npm run dev
Step 3 : npm run build
Step 4 : npm run serve

And that's the result.

[2018-11-07 11:12] Steffi3rd commented on #9774
Thanks for your answer.

I tried contentful_id so, then it seems to work.

But I just found that the edges returns "two nodes" instead one.

Why?

### Before (with cid)
![capture d ecran 2018-11-07 a 12 08 54](https://user-images.githubusercontent.com/814410/48128310-5ab35f80-e286-11e8-8bca-f5239175b4b2.png)

After with contentful_id
![capture d ecran 2018-11-07 a 12 08 37](https://user-images.git

[2018-11-07 11:20] pieh commented on #9774
That is interesting - do you use multiple locale/languages? can you add locale and actual id to query results?

[2018-11-07 11:29] Steffi3rd commented on #9774
Yeah, I add a local : "French", so I have 2 locals in my Contentful.

Can you show me how to query with locale, please? I don't find any documentation about this.

[2018-11-07 11:35] kakadiadarpan commented on #9776
I think on new builds, the existing files in public folder aren't cleared. Is that correct @pieh?

[2018-11-07 11:35] pieh commented on #9774
There should be field like `locale`, `node_locale`, `lang` or something like that available to query (and to filter by)

[2018-11-07 11:37] pieh commented on #9776
Hmm, correct - we only delete .html files.

[2018-11-07 11:39] Steffi3rd commented on #9774
Yeah! Thanks, got it!

### With Local
![capture d ecran 2018-11-07 a 12 36 35](https://user-images.githubusercontent.com/814410/48129461-d5ca4500-e289-11e8-9a2c-f4650aaa13ab.png)

### Without local
![capture d ecran 2018-11-07 a 12 08 37](https://user-images.githubusercontent.com/814410/48129478-eaa6d880-e289-11e8-8a7f-d7c8cb5e61d2.png)

### Final question to close this thread please.

Where I can

[2018-11-07 11:42] Steffi3rd commented on #9776
Why???? :(
Even .js and .js.map are not delete?

[2018-11-07 11:50] pieh commented on #9776
I'm not 100% sure now, but I would think this edge case scenario might be the reason - consider scenario:
Someone visits your page and our runtime that fetches those files is loaded. While user is on the page you deploy new build (which deletes those .js files that our runtime depend on). Now when user tries to navigate to page you deleted (without refreshing), gatsby would try to fetch files that

[2018-11-07 11:56] pedrotavaresgoncalves commented on #9687
Some findings:
Downgrading Node solves npm install issues that forced to use --build-from-source.
Can upgrade Gatsby to latest version and everything works in dev mode.

If upgrade gatsby-plugin-sharp it breaks. Have to stay in 2.0.6

  System:
    OS: macOS 10.14
    CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.13.0 - ~/.nvm/version

[2018-11-07 11:57] pedrotavaresgoncalves commented on #9687
@btk could you give a look at #9707. Maybe you have some ideas :)

[2018-11-07 12:00] pedrotavaresgoncalves commented on #9707
Just to let you know.
npm install problems disappear with downgrading to older versions os Node (tested with 10 and 8).

build problems don't disappear with downgrading node or updating gatsby and react to latest versions.

  System:
    OS: macOS 10.14
    CPU: (8) x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.13.0 - ~/.nvm/versions/node/v10.

[2018-11-07 12:19] btk commented on #9770
@OrKoN Afaik there is not, but let's tag inkteam to see if unregister service worker should be moved to the offline plugin.

[2018-11-07 12:31] ItsPugle commented on #2692
Hey @jodumont. Have you tried giving `npm uninstall -g gatsby-cli` a shot?

[2018-11-07 12:38] pieh commented on #9774
Check https://www.contentful.com/developers/docs/tutorials/general/setting-locales/ - this is more about Contentful than Gatsby and I don't know enough about it to explain properly ;)

[2018-11-07 12:39] pieh commented on #9774
@Khaledgarbaya Do you think it's worth adding localization section to gatsby-source-contentful docs?

[2018-11-07 12:41] trickydisco78 commented on #1878
What a shame. I really need to change the output paths as we are hosting a one off page using gatsby and been told by the apache guys they need the file in folders so they know which one's to proxy

(we've got a complicated set up and i'm asking them to take the main homepage out of the cms and host a single page which is proxied to look like it's come from the root)

I've tweaked the page now tha

[2018-11-07 13:06] Steffi3rd commented on #9774
Thank you very much! Found to enable fields for locale : In the paragraph : **Enabling on fields**

[2018-11-07 13:06] #9774 closed

[2018-11-07 13:17] Steffi3rd opened #9778 "Why GraphQL returns empty and null when local is not set in an entry?"
Hi,

I just found how to query with locale and how to enable it in the Contentful WebApp.
But I don't understand why it returns null and "" for some fields whereas I don't enable it on the webapp.

### Settings of locale

<img width="720" alt="capture d ecran 2018-11-07 a 14 10 54" src="https://user-images.githubusercontent.com/814410/48133572-8d198880-e297-11e8-8c46-d89749d672c3.png">

### Conten

[2018-11-07 13:17] #7209 closed

[2018-11-07 13:21] mattferderer commented on #5002
@rbmedia you might want to consider a host that does deployment switching like Netlify so your current site stays running until your new version is ready.

[2018-11-07 13:39] eivindflobak opened #9779 "[docs] Content request - Dynamic sidebar documentation"
Hi, this has been a stub for some months: https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/rendering-sidebar-navigation-dynamically.md

Would love to see a guide if anyone could write one.

Best regards

[2018-11-07 14:47] fk opened #9782 "(examples/using-gatsby-image) `coverImage` dimensions, navigation position is off"
When visiting https://using-gatsby-image.gatsbyjs.org/ in Mobile Safari or Chrome for Android, you'll notice that the initial `coverImage` dimensions as well as the navigation position are off:

![bild von ios hochgeladen 1](https://user-images.githubusercontent.com/21834/48138038-b4765280-e2a3-11e8-827a-a83525fbecf0.png)

This resolves itself once the user scrolls down a bit:

![bild von ios hoch

[2018-11-07 15:15] jakelumetta commented on #9756
@DSchau Thanks - very helpful!  I agree. I'll close this issue and continue with https://github.com/gatsbyjs/gatsby/issues/9757

[2018-11-07 15:15] #9756 closed

[2018-11-07 15:34] jedrichards commented on #8970
Are you using Safari by any chance? If so this could be due to `gatsby-image` not fully supporting that browser yet. There's an incoming PR to fix.

https://github.com/gatsbyjs/gatsby/pull/9451

[2018-11-07 15:45] lindaleebumblebee commented on #9752
I agree with @fk about the legal grey area for showing logos. It's best to get permission but may not be legally required (since Gatsby is open source and anyone can see who uses it). Most startups our size take the approach of 'it's easier to get forgiveness than permission'. Many of these logos we will have case studies for soon so that should be fine showing their logo in this section (just dep

[2018-11-07 15:51] lindaleebumblebee commented on #9747
Let's see how the text looks when it's in context (in the design). It might be a bit long. If so, I suggest this:
With over 527 plugins, 86 starters, and dozens of tutorials, the Gatsby ecosystem has tools to help you build your Gatsby projects.

[2018-11-07 15:53] fk commented on #9711
Here's an updated version of the "Desktop" layout:

- updated headline to say "The Gatsby Blog". Writing this, I realize that I introduced a regression here: The current "Blog" section on https://www.gatsbyjs.org/ has the title "Latest from the Gatsby blog", hinting to the user that the following content only is an excerpt—the latest _n_ posts—and that there's more to read. Should we go with the e

[2018-11-07 15:55] abumalick commented on #387
Here is the code of @benstepp ported new gatsby hooks, if someone needs it
[code]

[2018-11-07 15:58] lindaleebumblebee commented on #9526
I'm starting to lose track of all these issues about the .org homepage (a github newbie), but I will say that the 'above the fold' is the most important section of the homepage and we should keep it simple and have 1 CTA (with a possible 2nd CTA). Since our audience is developers, the 'Get Started' CTA still makes sense as we want people to build Gatsby sites!

[2018-11-07 16:00] craftedsystems commented on #9190
Lighthouse 3.0.3 (Chrome Stable 70.0.3538.77) seems to have the following bug:
When you dock the Dev Tools to the right, you get the false viewport width alert. Detaching or docking the Dev Tools to the bottom solves this for me.

Desktop or mobile does not matter because the PWA test will always test for _mobile-friendy_.

[2018-11-07 16:00] lindaleebumblebee commented on #9711
Yes, good call out @fk to say 'Latest from the Gatsby Blog' for this section and then 'The Gatsby Blog' for when a visitor is actually on the blog page.

[2018-11-07 16:03] fk commented on #9711
Here's a shot at mobile using the "horizontal scrolling cards" from "Ecosystem":

<img width="360" alt="mobile_ homepage_ ecosystem" src="https://user-images.githubusercontent.com/21834/48143400-01135b00-e2af-11e8-8d73-8ec9eedd944d.png">

- not showing images and excerpts to keep the card height relatively even
- I don't think we need an additional "View all posts" card in the scroller, or a butto

[2018-11-07 16:07] fk commented on #9711
…and here's one alternative with card content matching the "Desktop" layout:

<img width="360" alt="mobile_ homepage_ ecosystem_2" src="https://user-images.githubusercontent.com/21834/48143505-361fad80-e2af-11e8-91bf-b60faa3c027b.png">

That "View all posts" card at the bottom (that is a square smallish card on "Desktop") unfortunately introduces an element that is somewhere in between card and bu

[2018-11-07 16:08] jakelumetta commented on #9757
See https://github.com/gatsbyjs/gatsby/pull/9784

@LekoArts sounds good.

[2018-11-07 16:11] lindaleebumblebee commented on #9711
I vote for the top one as it keeps the newsletter CTA higher up on the page
and people can still scroll through the featured blog posts.

On Wed, Nov 7, 2018 at 8:07 AM Florian Kissling <notifications@github.com>
wrote:

--
Linda Watkins
Director of Marketing
*Gatsby* <https://www.gatsbyjs.com/>

[2018-11-07 16:18] amberleyromo commented on #9747
Thanks to you both!

I'm going to mark this issue closed / consider copy final for the initial homepage PR.

[2018-11-07 16:18] #9747 closed

[2018-11-07 16:20] amberleyromo commented on #9709
Considering design closed -- PR for review in https://github.com/gatsbyjs/gatsby/pull/9783

[2018-11-07 16:20] #9709 closed

[2018-11-07 16:28] #9744 closed

[2018-11-07 16:37] zslabs opened #9785 "Modification times 💩"
## Summary

I'm using the following snippet to automatically add file modification times to certain pieces of content on our site:

```fs.statSync(node.fileAbsolutePath).mtime```

I was scratching my brain at this one for a while, because my local builds do show differences in those dates, but on production they all show the last deploy date.

I did some digging and it looks like this is a “git” i

[2018-11-07 16:49] amberleyromo commented on #9724
I took first stab at this independently, before we got a content/copy process going. Closing this via #9747.

[2018-11-07 16:49] #9724 closed

[2018-11-07 17:02] fk commented on #9747
🙏

[2018-11-07 17:10] rchrdnsh commented on #9751
here you go :-)

[code]

[2018-11-07 17:12] rchrdnsh commented on #9751
it might be an issue with Gatsby-plugin-layout, as it started happening after I added that to my project, but not immediately. It worked at first, but when I came back to it the next day it wasn't working...I' m trying to isolate what makes it happen myself as well.

[2018-11-07 17:16] alexcroitoru95 opened #9787 "[gatsby-source-twitter] Error - Content reloads only after I delete local .cache"
Below is how I imported the plugin in _gatsby-config.js_

<img width="1101" alt="screenshot 2018-11-07 at 18 08 36" src="https://user-images.githubusercontent.com/22367700/48143989-a7179300-e2b8-11e8-9691-3b5227ab51db.png">

And this is how I used it in my component file

<img width="1471" alt="screenshot 2018-11-07 at 19 12 52" src="https://user-images.githubusercontent.com/22367700/48147911-2dd0

[2018-11-07 17:20] rchrdnsh commented on #9751
yeah, I think it's probably an issue with `gatsby-plugin-layout`...before adding that to my project it builds fine. Then when I add `gatsby-plugin-layout` it seems to work fine for a few hours, then these errors appear and the queries won't build and the site won't run.

[2018-11-07 17:22] Steffi3rd opened #9788 "Just wondering why I have an error "cannot query field Metadata on Type Site""
Hi,

I'm new to GatsbyJS and GraphQL and Contentful

I'm wondering  why I have an error cannot query field `Metadata` on Type `Site`
whereas the query returns the good result.

Thanks

![capture d ecran 2018-11-07 a 18 21 49](https://user-images.githubusercontent.com/814410/48148450-0b872200-e2ba-11e8-8e4e-70419aa81ace.png)

![capture d ecran 2018-11-07 a 18 19 53](https://user-images.githubuserco

[2018-11-07 17:28] Steffi3rd opened #9789 "Why title is undefined whereas Helmet and Metadata are defined?"
Hi, what's missing?

My title is undefined...

### index.js
![capture d ecran 2018-11-07 a 18 24 24](https://user-images.githubusercontent.com/814410/48148635-8b14f100-e2ba-11e8-82ad-493852b8c7c3.png)

### gatsby-config.js
![capture d ecran 2018-11-07 a 18 21 49](https://user-images.githubusercontent.com/814410/48148690-a41da200-e2ba-11e8-9ea9-eeb2057d69e5.png)

### Result
![capture d ecran 2018-1

[2018-11-07 17:34] jkjustjoshing commented on #9539
What's the practicality of allowing the hash to be customizable too (or fully remove for non-duplicate filenames?)?

I'm moving a site over that has a bunch of PDFs on it. I'm using [gatsby-source-directus](https://www.gatsbyjs.org/packages/gatsby-source-directus/) to pull down the PDFs from my Directus server, which uses `createRemoteFileNode()` to add the files to Gatsby.

Our current PDF urls l

[2018-11-07 17:43] rchrdnsh commented on #9751
ran an `npm audit` with these issues:

[code]

so I ran `npm install gatsby-plugin-sharp@2.0.12` and then `npm audit fix` and got these errors both times:

[code]

I don't know what's happening here but it seems like there might be an issue with the sharp plugins and packages maybe...and that might be conflicting with `gatsby-plugin-layout` somehow?

I dunno, but I'm pretty dead in the water at th

[2018-11-07 17:47] Steffi3rd commented on #9789
Found the solution but don't understand why.
I had to "**merge**" both query.

Now my metadata is displayed inside `props.data`.

### Before

[code]

### After

[code]

[2018-11-07 18:06] d-ivashchuk opened #9790 "Reading mode is not working in Safari"
## Summary
I've finished writing my first blogpost on my newly built Gatsby blog to find out that Safari reader is not working for it for some reason. Tried to find a solution but didn't really get anything useful. As it works in other examples I think it's something potentially wrong with my code, so maybe you guys could help me!

## Relevant information

Open [this link](https://d-ivashchuk.gith

[2018-11-07 18:07] rchrdnsh commented on #9751
hmmmmm...so I had a crazy idea and I just deleted the entire node_modules folder and then I ran `npm install` to re-download everything, and now it seems to be working again...I don't know why this would work to fix issues, tho.

Is this something that people do ever?

[2018-11-07 18:09] Steffi3rd opened #9791 "Why assets called from CSS is not found on production Github Pages? (404)"
In local, it works. url is `http://localhost/`

In production, I have a `pathPrefix: /steffi` so the Gatsby is located to : `http://blabla.com/steffi`

### CSS
![capture d ecran 2018-11-07 a 19 07 49](https://user-images.githubusercontent.com/814410/48151041-923efd80-e2c0-11e8-80a0-ccd4624f90b2.png)

### Result
<img width="552" alt="capture d ecran 2018-11-07 a 19 10 12" src="https://user-images.g

[2018-11-07 18:10] rchrdnsh commented on #9723
I need up deleting the node_modules folder manually and then running `npm install` in the project to re-install the goodies and it seems to be working again now...

Is this something that people do often? Is it a good idea? Is it safe to do?

[2018-11-07 18:38] cpboyd commented on #7862
Just an FYI, but I recently switched from Yarn to NPM on one of my Gatsby sites and had this issue.

As @arcticicestudio states, it seems especially strange given that `gatsby` lists `core-js` as a dependency.

[2018-11-07 18:42] daydream05 opened #9793 "[webpack?] when importing an svg file, it's returning the "data:image" instead of url path"
## Description

I have 2 svg files on my static folder. One of them when imported is returning `data:image:/blabalbalabal` instead of the correct url path. The other one works fine

### Steps to reproduce

[code]

### Expected result

It should return
[code]

### Actual result

[code]

### Environment

[code]

[2018-11-07 19:28] d-ivashchuk commented on #9790
I figured out that long `svg` breakers the reader, the number

[2018-11-07 19:28] #9790 closed

[2018-11-07 19:46] zvinless commented on #9760
@LekoArts thanks for the clarification!

[2018-11-07 19:46] #9760 closed

[2018-11-07 19:56] LekoArts commented on #9793
Because the file size is smaller. You can read everything about that here:
https://www.gatsbyjs.org/docs/adding-images-fonts-files/

[2018-11-07 19:56] #9793 closed

[2018-11-07 19:58] LekoArts commented on #9788
duplicate:
https://github.com/gatsbyjs/gatsby/issues/9789

[2018-11-07 19:58] #9788 closed

[2018-11-07 20:01] marisamorby commented on #9331
@amberleyromo I just wanted to follow up on this and see if you were ready to have the conversation about what metrics we should be implementing for the ecosystem landing page.

I think that this should be changed to an issue that considers analytics across all of .org site, since we're not currently capturing that information (or at least not accurately).

My suggestion would be to have a convers

[2018-11-07 21:07] pedrotavaresgoncalves commented on #9707
In my repo took firebase credentials out for privacy reasons . To develop,  a firebase test account is needed.

[2018-11-07 21:17] oorestisime commented on #9791
did you put the font in your static folder? is it getting copied in your public one? did you try to hard-refresh maybe a cache issue?

[2018-11-07 21:19] oorestisime commented on #9789
you can only have one pagequery. and you should put all your queries in there. why would you need to define two?

[2018-11-07 22:32] jkjustjoshing opened #9796 "[gatsby-plugin-google-analytics] Log events when running `gatsby develop`"
### Summary
Allow Analytics tracking in development mode, behind a gatsby-config.js flag

### Basic example
One possible solution would be adding a flag in the plugin config called `enabled`. If true, log analytics events. If false, do not log them. The default value could be `process.env.NODE_ENV === 'production'` to not change the default behavior.
Another solution could be a config flag called

[2018-11-07 22:37] shannonbux commented on #9711
that does look nice!

agreed

I love the sentence caps btw! Glad that worked out.

as far as small/even cards vs. cards with more content. What about using cards with content and making them horizontally scroll to still keep the newsletter CTA visible? Is that possible? I'm guessing it's tricky b/c the content is different length for each card.

If that's not possible, then my vote is with Linda's

[2018-11-07 23:16] #9775 closed

[2018-11-07 23:19] gustafsilva commented on #9775
The repository name ( `pathPrefix`) in github pages was incorrect in the `gatsby-config.js` file:
[code]

[2018-11-08 00:24] sanathko opened #9797 "gatsby build fails for gatsby-plugin-manifest"
## Summary
Trying to integrate gatsby-plugin-manifest to my gatsby project.  Was following this
[Doc](https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/)
## Relevant information
Getting this error when gatsby build is run.

[code]

![screen shot 2018-11-08 at 11 30 11 am](https://user-images.githubusercontent.com/3269999/48170163-6ec09500-e34a-11e8-80b4-e5affc97e207.png)

1.

[2018-11-08 00:44] DSchau commented on #9415
It's fair to re-open this. Both @pieh and I were able to reproduce the issue, so it seems to be a real issue.

![Gatsbyjs.com](https://thumbs.gfycat.com/ObeseAthleticHamadryad-size_restricted.gif)

It doesn't seem to be anything introduced super recently, as gatsbyjs.com exhibits the issue and that's on 2.0.5 of gatsby-plugin-offline. It's possible it's still a Chrome bug, but I think this deserve

[2018-11-08 01:06] jackyho112 opened #9799 "Fields missing for fluid image data"
## Summary

I tried to retrieve the fluid object of a Media field, but pretty much all the attributes in that object are missing. I'm not sure if this has to do with Contentful or this package. Thanks in advance for all the help!

## Relevant information

My query:

<img width="861" alt="screen shot 2018-11-07 at 5 08 29 pm" src="https://user-images.githubusercontent.com/25375401/48171219-c65df280

[2018-11-08 01:30] pieh commented on #9799
It would be great if you provided more details - as what version of plugins you are using (please paste output of `gatsby info` command)

[2018-11-08 01:42] julian009 opened #9801 "[gatsby-source-contentful] 'TypeError: createNodeId is not a function' when environment variable GATSBY_CONTENTFUL_RICH_TEXT is set to 'enabled'"
## Description

According to the docs at [https://www.gatsbyjs.org/packages/gatsby-source-contentful/](url) in order to use the new Rich Text feature we need to set the following environment variable:

`export GATSBY_CONTENTFUL_RICH_TEXT='enabled'`

After setting that, we try running `gatsby develop`, but this fails with the following error:

`error Plugin gatsby-source-contentful returned an erro

[2018-11-08 01:48] endymion1818 commented on #633
For anyone else using @tonymilne 's fantastic code above, and encountering the following error message:

[code]

I fixed the issue by noticing that Tony had used the name `wepack.config.js` - not `webpack.config.js`

[2018-11-08 03:36] bradrar opened #9802 "Part 4 Tutorial - Cannot query field "siteMetadata" on type "Site" graphql/template-strings"
## Description

I am now at part 4 of the gatsby tutorial and I followed the tutorial step by step but at the part of graphQL, this error appeared.

**"Cannot query field "siteMetadata" on type "Site"  graphql/template-strings"**

this error appeared when I tried to put this code in src/pages/about.js:

[code]

### Expected result

The error shouldn't appear and I can continue on with the tutorial

[2018-11-08 04:26] dustinhorton opened #9804 "[gatsby-image] [gatsby-transformer-sharp] Emulate <img srcSet> behavior (restrict 2x images to 1x width)"
## Summary

## Relevant information

Prior to using `gatsby-image`, most of my high-resolution image work in markup was via the [`img` `srcSet` atrribute](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images). [Check out this Codepen](https://codepen.io/anon/pen/MzKqrE?editors=1100) for a quick demo. Basically, given the following markup:

[code]

The resu

[2018-11-08 04:44] KyleAMathews commented on #9804
Hey! This is exactly how gatsby-image works! Checkout https://using-gatsby-image.gatsbyjs.org and https://using-wordpress.gatsbyjs.org/sample-post-1 to see how you can do image processing with gatsby and WordPress.

Wp example site link https://github.com/gatsbyjs/gatsby/tree/master/examples/using-wordpress

[2018-11-08 04:44] #9804 closed

[2018-11-08 04:46] hackhat commented on #8970
@jedrichards  using chrome. Happens all the time.

[2018-11-08 05:03] kakadiadarpan commented on #9776
@Steffi3rd I hope @pieh answered your question. It would be great if you can remove the content of your public folder and then build your website again.

@pieh In my opinion, we should have this in our documentation so that it's not a surprise for everyone. Or do we have it there already?

[2018-11-08 05:07] kakadiadarpan commented on #9778
`gatsby-source-contentful` plugin offers full support for Contentful's localization features. I'm not sure why this could be happening.

@pieh any idea regarding this?

[2018-11-08 05:08] kakadiadarpan commented on #9779
Does someone want to tackle this? If not, one of us will get to it as soon as we can.

[2018-11-08 05:12] dustinhorton commented on #9804
@KyleAMathews Thanks for weighing in.

I think I must still be missing something. In my [repro repo](https://github.com/dustinhorton/gatsby-issue2), you'll notice what `gatsby-image` instance expands until it fills a container:

<img width="1192" alt="screen shot 2018-11-07 at 11 02 30 pm" src="https://user-images.githubusercontent.com/378165/48178849-7ac43c80-e2e1-11e8-9ec3-377328cb45b4.png">

Ev

[2018-11-08 05:31] kakadiadarpan commented on #9373
@SimonIMG I hope that answers your question. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you need more help 👍

[2018-11-08 05:31] #9373 closed

[2018-11-08 05:34] kakadiadarpan commented on #9796
@jkjustjoshing This makes a lot of sense. Would you like to work on this and raise a PR?

[2018-11-08 05:50] KyleAMathews commented on #9804
Oh used "fixed" not fluid :-)

[2018-11-08 05:53] dustinhorton commented on #9804
Okay, I'll experiment with that more—currently images are rendering with 0 height upon swapping. Thanks for the tip.

[2018-11-08 06:02] kakadiadarpan commented on #9797
@sanathko With Gatsby v1, you will need to use version `1.x.x` of the `gatsby-plugin-offline` and `gatsby-plugin-manifest` as version `2.x.x` are only compatible with Gatsby v2.

[2018-11-08 06:02] #9797 closed

[2018-11-08 06:05] dantehemerson commented on #9802
Maybe you forgot to add this in your `gatsby-config.js`
[code]
**Note**: Every time you update `gatsby-config.js`  you have to restart the development server.

[2018-11-08 06:12] dustinhorton commented on #9804
Hm, just updated [the repo](https://github.com/dustinhorton/gatsby-issue2/commit/01833980d2030436b68d5ce87adff13293b88f42).

Now it is restricted in `width`, but in querying for a `width: 600`, I'm looking for a 300px 1x and 600px 2x image—but it just renders a 600px image.

<img width="536" alt="screen shot 2018-11-08 at 12 09 58 am" src="https://user-images.githubusercontent.com/378165/48180813-

[2018-11-08 06:16] kakadiadarpan commented on #9801
@julian009 This issue has already been fixed. Can you update the `gatsby-source-contentful` plugin to latest version `2.0.13`?

https://github.com/gatsbyjs/gatsby/blob/90b0ea74915dbeaaaefd17df828831fa5b85bed7/packages/gatsby-source-contentful/src/normalize.js#L196

Feel free to reopen if you still experience this problem 👍

[2018-11-08 06:16] #9801 closed

[2018-11-08 06:35] dial3x opened #9805 "[gatsby-image] Images not being displayed iphone 5S"
## Description
Images are not being displayed correctly:

Gatsby Image seems to be incompatible with older iOS devices:

![image](https://user-images.githubusercontent.com/29848406/48181333-c4a93300-e372-11e8-9862-1656c46632d4.png)

I've been experiencing other issues with my site and Gatsby not correctly polyfilling `Set` on iphone 5S but I'm unsure if this is related.

`Uncaught ReferenceError:

[2018-11-08 07:48] kakadiadarpan commented on #9805
Might be related to #9348

/cc @DSchau

[2018-11-08 08:20] Steffi3rd commented on #9778
I already have it

[code]

[2018-11-08 08:31] Steffi3rd commented on #9791
Yes I do. It's in `/static` folder.

On production, It's in `/public` but the `public/static` is empty...

### /static

![capture d ecran 2018-11-08 a 09 29 21](https://user-images.githubusercontent.com/814410/48186681-02896580-e339-11e8-8893-47a5e49917d7.png)

### /public but /public/static is empty
![capture d ecran 2018-11-08 a 09 29 12](https://user-images.githubusercontent.com/814410/48186677

[2018-11-08 08:35] Steffi3rd commented on #9788
Hi, why did you close it?
Same topic yeah, but not the same question.

My question is about GraphiQL and the other one about merge queries...

[2018-11-08 08:45] Steffi3rd commented on #9776
For example:

I only have 1 page index and 1 page blog.
Now look my tree... Start to become a mess... 6 `path---index` (3 `.js` and` .js.map`)

It's okay about one of each... but 3 of each, I don't understand why, even with the explanation of @pieh.

![capture d ecran 2018-11-08 a 09 40 44](https://user-images.githubusercontent.com/814410/48187129-75dfa700-e33a-11e8-88d2-d04e614ab66a.png)

[2018-11-08 08:54] kmorf commented on #9789
Yes, if you have different sources and want to have  them in one query you can do this:
[code]

[2018-11-08 09:39] Steffi3rd commented on #9789
Thank you all!

[2018-11-08 09:39] #9789 closed

[2018-11-08 09:47] Steffi3rd opened #9806 "where the layout is used?"
Hi,

I'm using the starter `gatsby-contentful-starter` and I'm trying to understand the project.
I came to this question. Where the **layout** is called?
I have a layout folder with index.js.

I think the **main page** is `pages/index.js`, right? So it's the main entry?
But in this page, `layout` is not called anywhere.

So where is it call?

In fact, I would like to add a `lang` attribute to the

[2018-11-08 10:13] kakadiadarpan commented on #9778
@Steffi3rd can you provide complete environment information by running `gatsby info --clipboard`?

[2018-11-08 10:18] gswirrl opened #9807 "custom webpack config fails / how to mini-css-extract?"
Hi

I need to reuse the css Gatsby is building and would like to output it to a separate css file. In the past I've used the mini-css-extract plugin with webpack, but adding this to Gatsby doesnt work as I'd hoped, i think because Gatsby already uses it internally. Any ideas how i can get my css output to a file?

[2018-11-08 10:21] Steffi3rd opened #9808 "How to run gatsby build from Contentful webhoooks with Github Pages?"
Hi

I would like to re-build my static blog when new content is found from Contentful without I run manually a `gatsby build`...

The project lives in Github Pages.

Is there a way to do that please?

[2018-11-08 10:28] Steffi3rd opened #9809 "Why gatsby command not found but runs using npm run build?"
I'm trying to build using `gatsby build` but it says `gatsby` command not found.

Whereas `npm run build` runs the `gatsby build`

It's because Gatsby CLI or whatever is missing?

[2018-11-08 10:36] Steffi3rd opened #9810 "Error CSS on production (with w3c validation) why?"
I have a CSS and it's transformed into `-ms-grid-columns`

Why, and where is it done?

I use the `gatsby-contentful-starter`

### Before
![capture d ecran 2018-11-08 a 11 23 20](https://user-images.githubusercontent.com/814410/48193200-4042ba00-e34a-11e8-9fbe-06c214348418.png)

### After
![capture d ecran 2018-11-08 a 11 31 41](https://user-images.githubusercontent.com/814410/48193205-43d64100-e34

[2018-11-08 10:47] Steffi3rd opened #9811 "Spotify for Artists website, is it done in Gatsby?"
Blazing fast website using Contentful. But is it with Gatsby?

https://artists.spotify.com/

[2018-11-08 10:49] oorestisime commented on #9791
Have a look here https://www.gatsbyjs.org/docs/adding-images-fonts-files/?no-cache=1#using-the-static-folder

[2018-11-08 11:00] Steffi3rd commented on #9791
Yeah! I think I found the solution thanks to your link.

It seems I have to use `withPrefix()`. But how can do that inside a `.css`?

![capture d ecran 2018-11-08 a 11 58 47](https://user-images.githubusercontent.com/814410/48194619-cad8e880-e34d-11e8-9728-a433f7a3a76e.png)

[2018-11-08 11:17] kakadiadarpan commented on #9806
@Steffi3rd `gatsby-contentful-starter` uses Gatsby v1. The layout component is wrapped around the outside of the page component, which, in pseudo-code, looks something like this:

[code]

On a side note, please always provide environment information by running `gatsby info --clipboard`. That makes it easier for us to help you out in figuring out issues or answering your questions.

[2018-11-08 11:18] kakadiadarpan commented on #9807
@gswirrl can you please provide environment information for your project by running `gatsby info --clipboard`?

[2018-11-08 11:24] #9809 closed, assigned to nobody

[2018-11-08 11:33] Steffi3rd opened #9812 "Contentful vs Prismic.io for a huge blog using Gatsby?"
I tried Contentful right now, but I want a to publish a lot of post and I see the limit of 5000 entries/assets without paying a lot... I'm not a company.

What do you think?

[2018-11-08 11:34] kakadiadarpan commented on #9811
I don't think that they Gatsby. If it would have been built using Gatsby you can find `__gatsby` ID of a div in the elements list. Refer the screenshot below:

<img width="488" alt="screenshot 2018-11-08 at 5 04 03 pm" src="https://user-images.githubusercontent.com/10805593/48196321-51a2bb00-e378-11e8-8dca-3ec5bfb495fd.png">

[2018-11-08 11:34] #9811 closed

[2018-11-08 11:41] kakadiadarpan commented on #9810
[-ms-grid-columns](https://msdn.microsoft.com/en-us/ie/hh772246(v=vs.94)) is inserted for compatibility to convert `grid-template-cloumns`. I'm not sure though why it would fail w3c validation.

[2018-11-08 11:44] LiangNex commented on #9308
This 🐛  persists after upgrading ```gatsby-remark-imges``` to the latest version if below 2 options present:
[code]
Removing them works for me currently...

[2018-11-08 11:50] dhoulb commented on #3849
@kripod @calcsam FYI I recently made a plugin to do something like you want: https://www.gatsbyjs.org/packages/gatsby-plugin-templated-files/

I wanted to dial back the configuration complexity for simple sites, so the config is minimal and doesn't need `gatsby-source-filesystem` or any page creation hooks in `gatsby-node.js`:

[code]

I originally had it replace `gatsby-plugin-remark` too (to mak

[2018-11-08 12:03] trickydisco78 commented on #1878
The other option. Is there anyway of prefixing the output js and css files?

the server team need a way to proxy these files to the root as it's going to be the homepage. They need a way of identifying requests for gatsby specific js files. Can i append something to the chunkname?

[2018-11-08 12:03] gswirrl commented on #9807
System:
    OS: macOS 10.14
    CPU: x64 Intel(R) Core(TM) m3-7Y32 CPU @ 1.10GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 11.0.0 - /usr/local/bin/node
    Yarn: 1.10.1 - /usr/local/bin/yarn
    npm: 6.4.1 - /usr/local/bin/npm
  npmPackages:
    gatsby: ^2.0.19 => 2.0.40
    gatsby-image: ^2.0.15 => 2.0.19
    gatsby-plugin-manifest: ^2.0.5 => 2.0.7
    gatsby-plugin-offline: ^2.0.11 =>

[2018-11-08 12:04] gswirrl commented on #9807
thanks!

[2018-11-08 12:20] kmorf commented on #9812
You can check all the CMSs here https://headlesscms.org/. Some are free and some are not. Just make sure before you start your project that the CMS covers all your needs i.e gatsby source plugins, gatsby images, search index etc.

Personally I'm using netlify-cms but there are a lot other free promising ones like Strapi.

[2018-11-08 12:57] oorestisime commented on #9791
Maybe you should look on using a css-in-js library for your styling. If you don't want that then maybe you need a plugin that copies files around or do that on your own in gatsby-node

[2018-11-08 13:00] oorestisime commented on #9812
You should probably close this issue since it is not related to gatsby. maybe stackoverflow is better for this kind of questions.

[2018-11-08 13:14] hbish commented on #9539
Hey @jkjustjoshing

I think what you've proposed for (1) is reasonable and makes total sense to have the filename first.

With regards to (2) & (3), I think there are different use cases based on the source. For images, the filename may not mean as much compared to downloadable content like documents. So we could add an optional parameter to `createRemoteFileNode` toggle between hash and no hash a

[2018-11-08 13:33] pieh commented on #9539
I think we could keep original filename and just put file in directory with hash.

@jkjustjoshing How are you referencing files when constructing download links - using query and `publicURL`?

[2018-11-08 13:34] pieh commented on #8348
`gatsby@2.0.42` was released with changes from PR

[2018-11-08 13:34] #8348 closed

[2018-11-08 13:52] bradrar commented on #9802
here is the full code in my gatsby-config.js

[code]

Exactly the same as the tutorial in gatsby tutorial.

I also tried looking for something missing like a curly braces or comma because most of the time,that is the problem but I see it's not missing any .

[2018-11-08 13:54] stoltzrobin commented on #3344
@moreguppy @loeildes Yea, that's exactly how we also solved it in the meantime. But it makes it harder in the long run, every time you add a new content model/new field you need to create/update all "dummy" entries created.

[2018-11-08 13:57] bradrar commented on #9802
SOLVED!

@dantehemerson Thank you for commenting.

after reading your comment and typing my reply, I just realized my file is named `gatsby.config.js`
and not `gatsby-config.js` . After renaming it, it works as intended.

[2018-11-08 14:09] grega commented on #1878
@trickydisco78 we've got around this using:
[code]

and setting the following in `gatsby-config.js`:
[code]

(the `9df4b` identifier is just to ensure the path is unique)

This results in request paths such as `/homepage-9df4b/app-fd734074ed92697dcac6.js` which we can then route to the correct host (we use a Cloudflare Worker to route requests for the homepage / homepage assets to a Gatsby site on

[2018-11-08 14:37] jkjustjoshing commented on #9539
#4 would be a way to fully customize the filename while still avoiding collisions - if the callback is passed a list of all other files the plugin implementer could check for duplicates and ensure any potential collisions are avoided.

I really like your suggestion @pieh, putting a file in a folder with the hash (potentially doing so only when a flag is passed to `createRemoteFileNode()`). I am re

[2018-11-08 14:40] Khaledgarbaya commented on #9488
Hey @pieh,

After debugging a bit further it looks like `type instanceof GraphQLScalarType` here does return false.
which is weird

[2018-11-08 14:42] jkjustjoshing commented on #9796
Yeah definitely. Any thoughts on which solution might work better and have better developer ergonomics? I'm leaning toward the `enabled` flag, with 3 values, `true`, `false`, or `'auto'`, where `'auto'` is default and checks for `process.env.NODE_ENV === 'production'`

[2018-11-08 14:43] Vpr99 opened #9815 "Link precompiling query params at build time?"
Hey folks!

I'm trying to get a feature working where a query param from the URL is passed down to a Link. I'm grabbing the `location` prop from my page and passing it down to the component correctly. (this all works fine) When I try and append that query param to the Link, it works fine in development mode, but when I run `gatsby build` and `gatsby serve`, the query param vanishes. Here's an exam

[2018-11-08 14:47] grega commented on #1878
Yep exactly that! (sorry wasn't completely clear in my original post)

[2018-11-08 14:47] monsieurnebo commented on #1878
@tribou The path prefix thing **wont create** the folder, it will make Gatsby **works in this folder** (that you have to create the way you want).

[2018-11-08 14:51] sondrele opened #9816 "The links in the "Behind the scenes" documentation does not work"
## Description

Tested in **Firefox 64** and **Chrome 70**.

The links in the generated graph of the Gatsby architecture does not work properly.

When hovering over a node (e.g. **source nodes**) the link seams to be interpreted correctly by the browser, but by clicking the node you get routed to this path [0] instead of [1] which was to be expected.
It does however work when you open the link in

[2018-11-08 15:01] LekoArts commented on #9812
Agree with that. The issues here are mainly for bugs/questions/feature requests regarding Gatsby directly. You also can ask on Spectrum: https://spectrum.chat/gatsby-js

[2018-11-08 15:01] #9812 closed

[2018-11-08 15:06] Richardloveada commented on #7668
remove the old node_modules and npm install

[2018-11-08 15:11] Respm opened #9817 "Gatsby Build error"
Trying to run Gatsby Build and I'm getting this in the terminal:

[code]

### Steps to reproduce

1. npm install --global gatsby-cli
2.  gatsby new respm
3. sudo gatsby build

[2018-11-08 15:14] oorestisime commented on #9808
again this is not directly related to gatsby. it is more of a general question on how to re-trigger deploys and it depends on your deployment platform.
anyway I dont know if contentful allows webhooks or can have some sort of mechanism to have side-effects on new publication.
To give you an example, i use this on netlify https://www.netlify.com/docs/webhooks/#incoming-webhooks to rebuild every day

[2018-11-08 15:36] Respm commented on #9817
Thank you, you're right) This is not a bug)

[2018-11-08 15:43] eojthebrave opened #9818 "[gatsby-image] Image data not loading during build/develop"
## Description

I'm using the `gatsby-image`, `gatsby-plugin-sharp`, and `gatsby-transformer-sharp` plugins to work with images imported from a Drupal backend. Up until a couple of days ago this was working fine. At some point I stopped and restarted `gatsby develop` and things just stopped working.

The issue is related to images imported from Drupal, and specifically, an error where `props.image

[2018-11-08 15:47] #9817 closed

[2018-11-08 16:45] KyleAMathews commented on #7644
Perhaps instead you could try using guess.js? https://www.npmjs.com/package/gatsby-plugin-guess-js

Manually fiddling with prefetching isn't very easy or accurate so we'd prefer to push forward on automated ways of optimizing prefetching based on analytics.

[2018-11-08 19:50] oherterich opened #9821 "[gatsby-source-contentful] Missing content in rich text fields"
## Summary
The `gatsby-source-contentful` plugin does not return correct data for the rich text field type in Contentful.

Specifically, it only returns the text fields, and not any embedded content. The embedded content is represented by an empty array, instead of a real value.

After using the `allContentful***` GraphQL query, the following is returned for the `post` field, which is the rich tex

[2018-11-08 19:54] zslabs commented on #9785
To put this a bit more generally since I know ☝️is a mouthful; is there a hook "on-save" of content that I can use to modify frontmatter data?

[2018-11-08 20:21] #9802 closed

[2018-11-08 21:02] #9761 closed

[2018-11-08 21:05] DSchau commented on #9785
Not sure exactly what type of content you're trying to augment, but this sounds like a good use case for [`onCreateNode`](https://www.gatsbyjs.org/docs/node-apis/#onCreateNode)

The general idea would be something like this:

[code]

[2018-11-08 21:17] RobinCsl commented on #9766
I believe this issue can be closed now, since my PR was merged.
cc @DSchau @LekoArts @shannonbux

[2018-11-08 21:17] #9766 closed

[2018-11-08 22:04] zslabs commented on #9785
Hey @DSchau thanks for the reply. That's actually where I'm doing it 😄

Great that I'm following a recommendation, but sucks that the `mtime` is basically moot being pulled from a repo on Netlify and built on theirs.

[2018-11-08 22:11] krvajal commented on #5030
Hey, I got something working here (https://github.com/DSchau/gatsby-remark-code-titles/pull/1). Is this the right direction to go. I would love to get some feedback on it and try to get it working.

[2018-11-08 22:20] zslabs opened #9826 "Webfont usage within Sass (flickering)"
## Summary

This one is a bit sporadic so stay with me 😝

I write all of my styles in `.scss`. After reading https://www.gatsbyjs.org/docs/adding-images-fonts-files/ I decided with the webfonts I needed to load I'd stick them in `/static/fonts/` and import them with Sass; no problem there at all. Developing locally, everything works fine and as expected.

I noticed something odd though when buildi

[2018-11-08 22:34] TylerBarnes opened #9827 "how to use disableCorePrefetching? true or false?"
## Summary

I'm building a starter/plugin that allows for previewing changes in a WordPress source gatsby site. I'm generating a preview version of the site to be used by WP and I want to disable prefetching since I'm also going to disable navigation from previews. [The docs](https://www.gatsbyjs.org/docs/browser-apis/#disableCorePrefetching) are a little unclear on how to use this api. When I jus

[2018-11-08 22:47] DSchau commented on #5030
@krvajal I'm currently at GraphQL Summit, but I'll try to take a look at this tonight or tomorrow. Thank you!

[2018-11-08 22:51] DSchau commented on #9785
What about adding an explicit creationDate field in the frontmatter? If it's a git issue, I'm not sure we can work around that in Gatsby apart from something manual like setting the metadata explicitly!

[2018-11-08 23:03] taktran commented on #2659
This worked for me in the graphql too:

[code]

From https://github.com/gatsbyjs/gatsby/issues/3984#issuecomment-364799710

[2018-11-08 23:35] tbrannam opened #9828 "gatsby-plugin-netlify v2 excludes some link headers"
## Description

Since migrating to Gatsby V2 - it appears that fewer JS files are eligible to be be considered for preloading when generating the `_headers` file.

### Steps to reproduce

Add gatsby-plugin-netlify to gatsby-config, no options are necessary.

Build project and view `public/_headers`

Compare results of `/` with the <link> headers in `public/index.html`

In Gatsby V1 - more JS bundl

[2018-11-08 23:49] pedrotavaresgoncalves commented on #9707
Solved it.

if (typeof window !== `undefined`) {
  const module = require("module")
}

badly formulated was messing the return statement of a template.

Thanks for the help guys

[2018-11-08 23:49] #9707 closed

[2018-11-08 23:55] Bassetts commented on #9816
I also noticed this and have narrowed it down to

https://github.com/gatsbyjs/gatsby/blob/6fed3e5452dd5544924396b2a46633defb9f2e2b/packages/gatsby-plugin-catch-links/src/catch-links.js#L121

Because the `xlink:href` attribute of `SVGAElement` is an `SVGAnimatedString` it causes `destination.href` to become malformed for anchors in SVGs. In order to handle this situation I believe the code should b

[2018-11-09 00:05] lindaleebumblebee commented on #9727
I'll defer to Shannon on this as she does the research with the target audience for this page. The only thing we might want to add is a bit more of a description of what Gatsby is in case someone hits that page and doesn't know. But, leaving that final call up to @shannonbux  . If more description is needed, I suggest the following:
Gatsby is a blazing fast modern site generator for React. Build p

[2018-11-09 00:16] #9816 closed

[2018-11-09 00:32] nratter commented on #6654
I'm also having this issue consistently. Any success with adding additional tracing to source-wordpress so we can try and debug what the problem is?

[2018-11-09 01:40] muhajirframe commented on #7381
For anyone else facing this problem.

You can also prefix `GATSBY__` on variable name for example in your `.env.development` or `.env.production`
[code]

then you can access it like this
[code]

[2018-11-09 01:59] dial3x commented on #9805
@kakadiadarpan This is on iOS 7.

[2018-11-09 04:38] github0013 opened #9831 "Is there a way to avoid graphql error when yaml's array element is empty"
## Summary

I understand yaml files need proper contents according to graphql queries in codes, but in my case, yaml contents are dynamic.  They are sometimes no data (I update yaml files before a build).

If an array in yaml is empty, graphql queries using the yaml will fire an error.  This error is critical, and it stops the process when to build.
** I need to show the page with the empty data.

[2018-11-09 06:08] kakadiadarpan commented on #9715
@yjacobowitz I hope your question is answered. Feel free to reopen if you need more help.

[2018-11-09 06:08] #9715 closed

[2018-11-09 06:14] kakadiadarpan commented on #9808
@Steffi3rd Netlify has better hook support to achieve what you want to. Please take a look at this guide on [Deploying to GitLab pages](https://www.gatsbyjs.org/docs/deploying-to-gitlab-pages/), it is similar to what you are looking for. GitLab Pages are very similar to GitHub Pages.

[2018-11-09 06:14] #9808 closed

[2018-11-09 06:42] KyleAMathews commented on #9808
You can also use a ci server like circle ci to run the build and push to GitHub pages.

[2018-11-09 07:20] chhh opened #9833 "`gatsby --help` lists wrong commands, e.g. `index.js serve`"
## Description

This has already been bought up and the issue was closed. I see that with the most recent gatsby () and node.

### Steps to reproduce

Just install gatsby and `gatsby --help`.

### Expected result

Usage displayed with `gatsby` as the command name.

### Actual result

Usage displayed, but the command name is `index.js`.

### Environment
[code]

[2018-11-09 07:30] TylerBarnes commented on #9827
I'll make a PR for sure!

[2018-11-09 07:31] btk commented on #9833
Reproduced on node v11.1.0, but not with node v8.10.0, maybe this is about node/upstream?

[2018-11-09 07:32] kakadiadarpan commented on #9821
@oherterich please provide the relevant environment information by running `gatsby info --clipboard` in your Gatsby project directory and paste its contents here.

I understand that your project is based on the `gatsby-starter-gcn` starter, but it's important for us to know the package versions that you are using.

[2018-11-09 07:33] AdamElmakias commented on #9821
I am having this issue as well.

[2018-11-09 08:29] ng-hai commented on #8749
After deployed, it did not work as expected 😞
I don't know why the router always renders two routes, but the weirdness is, the second route is nested inside the first route. These are all my attempts to fix without success:

[code]

[code]

[code]

[code]

All of them only work in development mode, the `nginx` server is so messy. Even `reach/router` repo doesn't have any issues related to `nginx`.

[2018-11-09 08:47] dcorb opened #9834 "[gatsby-source-drupal] Images URI / URL handling changes in JSON API 2.x"
## Description

With Gatsby 2.x and latest Drupal module JSON API 2.x version, it's not possible anymore to take advantage of `gatsby-transformer-sharp` images query
[code]
From https://www.drupal.org/node/2982209

### Steps to reproduce

Have a Drupal site with JSON API 2.x and a content type with image fields.
Configure gatsby-source-drupal, and install the "sharp" related plugins.
Run `gatsby d

[2018-11-09 08:51] gswirrl commented on #9807
I _thought_ that I'd be able to do something like the approach at https://www.gatsbyjs.org/docs/add-custom-webpack-config/ (though not with LESS) but (1) that example doesn't work for me anyway

[code]

(2) i cant figure out an alternative.

So... how can I output a css file?

[2018-11-09 08:52] dcorb commented on #9834
This PR fixes the issue of indexing correctly the files
https://github.com/gatsbyjs/gatsby/pull/9835

But still I can't see the `localFile` field inside the images fields. (Are you supposed to see them also through the GraphiQL interface?)

[2018-11-09 08:54] KleiOz opened #9836 "[gatsby-source-contentful] Specify Locale as an option"
## Summary

Add an option to specify the locale we want to fetch data with

### Basic example

[code]

### Motivation

Get the same data as a result than the request below, without having to specify the filter on each request :

[code]

To become :

[code]
And have the same result if the Locale option is specified.

Why ? Because we generate 2 static websites (FR/EN) in 2 different processes, and

[2018-11-09 09:39] mcstean commented on #4967
@Dschau please scan you advise on a book or basic stuffs beginners should master to easily find their way ?
Thanks

[2018-11-09 11:15] Steffi3rd opened #9841 "Why Helmet attribute is not generated on build?"
Hi

I want to have a lang attribute on my page.  So I have` <Helmet><html lang="fr" /></Helmet>`

And when I load the static page from Gatsby, it applies the lang after the rendering.
![capture d ecran 2018-11-09 a 12 14 18](https://user-images.githubusercontent.com/814410/48259694-0ab8d200-e419-11e8-94c4-831f0d4e36d4.png)

And when I check the source code, it's not there.
![capture d ecran 2018-1

[2018-11-09 11:50] fk commented on #9790
Ugh…glad you figured out why this was happening though, and thanks for coming back and letting others know!

[2018-11-09 12:18] trickydisco78 commented on #1878
Ah cool thanks.

Did also wonder about prefixing the filenames listed in the webpack config

`filename: `[name]-[contenthash].js`,
 chunkFilename: `[name]-[contenthash].js`,`

Any downsides of doing this (apart from having to support it with a postinstall patch)

[2018-11-09 12:34] kakadiadarpan commented on #9834
@dcorb Thanks for the quick PR! I added a suggestion to your PR, that might fix it up.

[2018-11-09 13:13] kakadiadarpan commented on #9833
@chhh Thanks for filing this issue! I'm having trouble reproducing, though. Is there any other information you can provide that would help me out? I'm unable to reproduce this on `Node 11` or `Node 10`. Can you also provide the version of `gatsby-cli` that you are using?

<img width="1679" alt="screenshot 2018-11-09 at 6 40 54 pm" src="https://user-images.githubusercontent.com/10805593/48264366-41

[2018-11-09 13:16] kakadiadarpan commented on #2714
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:16] #2714 closed

[2018-11-09 13:17] kakadiadarpan commented on #4570
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:17] #4570 closed

[2018-11-09 13:17] kakadiadarpan commented on #7279
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:17] #7279 closed

[2018-11-09 13:18] kakadiadarpan commented on #7597
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:18] #7597 closed

[2018-11-09 13:18] kakadiadarpan commented on #8144
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:18] #8144 closed

[2018-11-09 13:19] kakadiadarpan commented on #8161
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:19] #8161 closed

[2018-11-09 13:19] kakadiadarpan commented on #8188
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:19] #8188 closed

[2018-11-09 13:19] kakadiadarpan commented on #8319
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:19] #8319 closed

[2018-11-09 13:20] kakadiadarpan commented on #8344
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-11-09 13:20] #8344 closed

[2018-11-09 13:20] #8395 closed, assigned to nobody

[2018-11-09 13:36] drubin commented on #9625
Maybe try setting `GATSBY_WEBPACK_PUBLICPATH=/` as an env variable?

see https://github.com/gatsbyjs/gatsby/pull/9734 and https://github.com/gatsbyjs/gatsby/issues/8348

Also what docker command are you using to run it?

[2018-11-09 13:42] kakadiadarpan commented on #8079
@koreyboone Yes, that would still be considered as a bug. Would you like to submit a minimal reproduction repo for this issue? It may just have `gatsby` and `gatsby-plugin-typography`

[2018-11-09 13:57] pieh commented on #7379
@danielberndt This warning happens because `gatsby-mdx` at the moment need to use some clever "hacks"/workarounds (`gatsby` at the moment doesn't expose enough APIs) to make it work cleanly:

It seems when you use `componentWithMDXScope` in your `createPage` function in `gatsby-node.js`, `gatsby-mdx` will create (modified?) copy of your page template in `.cache` directory and your page component i

[2018-11-09 14:15] ryanditjia opened #9843 "[Feature Request] Unification and simplification of Gatsby data query"
## Summary

Hey 👋. I thought I’d write about the thing that’s been [on my mind](https://github.com/gatsbyjs/gatsby/issues/7284) for a while. That’s to unify Gatsby’s idiomatic method for querying for data. I’m not familiar with the inner workings of Gatsby, and thus I have no knowledge of whether or not this API is possible. Purely coming from a user perspective.

### Basic example

I imagine Gats

[2018-11-09 14:24] mrhut10 opened #9844 "gatsby-link hover Style"
## Summary
Currently a lot of work for users to set hover styling on Links
I'm wondering if anyone would appreciate a hoverStyle option on gatsby-links ??
or if we need a more generic solution that covers things that aren't links.

### Basic example

[code]

### Motivation

Hoping to get feedback if anyone else would like this solution or do we need a more generic solution that covers hover state

[2018-11-09 14:31] LekoArts commented on #9844
Sorry, but I don't see the need here. Styling `gatsby-link` is not different from styling normal links. It may also collide with the CSS solution the user is using (e.g. CSS-in-JS). Last but not least you can create your own Link component if you want that property.

[2018-11-09 14:40] oherterich commented on #9821
@kakadiadarpan Done! Result is below:

[code]

[2018-11-09 14:43] nathansebhastian commented on #2880
@Lidofernandez hello, May I know where did you put the script file?

[2018-11-09 14:44] LekoArts commented on #9810
It's done by `autoprefixer`. Also don't see why W3C should flag this. I use grid and didn't get this error. Furthermore you're _probably_ using an outdated starter. We can't really tell as you didn't follow the issue instructions.

Please fill out the instructions/template as otherwise no one can really help you as you don't give any valuable information on how to reproduce this issue.

[2018-11-09 14:44] #9810 closed

[2018-11-09 15:36] fk commented on #9526
I just realized that we might want to tease the store on the new homepage!? 😓

[2018-11-09 15:37] amberleyromo opened #9847 ".org redesign: homepage [implementation] - blog section"
Implement the new "Blog" section design for the revamped gatsbyjs.org homepage.

Design issue: #9711

[2018-11-09 15:41] amberleyromo commented on #9711
@shannonbux 👍🏼 that was @fk's suggestion from here: https://github.com/gatsbyjs/gatsby/issues/9711#issuecomment-436675662

@fk @greglobinski I agree with @shannonbux and @lindaleebumblebee:

agree

button below the scroller

agree

Let's go with this version for mobile: https://github.com/gatsbyjs/gatsby/issues/9711#issuecomment-436675662

Closing the design issue for this section. Thanks all!

[2018-11-09 15:41] #9711 closed

[2018-11-09 16:04] talves commented on #9707
Reference: [StackOverflow Answer](https://stackoverflow.com/questions/53192688/building-static-html-webpackerror-invariant-violation-minified-react-error/53193338#53193338)

I am wondering if there is a way to expose the culprit when running `gatsby build`, because in some cases (not this case), the error could have been caused by environment issues that would not show up during `gatsby develop`.

[2018-11-09 17:11] zslabs commented on #9826
I also tried just putting a static `.css` file with those font-face rules in the JS imports; and it's still doing the flickering. What only seems to work is a static `<head>` inclusion of those styles.

[2018-11-09 17:15] ooloth commented on #9687
There's an upstream issue with one of `gatsby-plugin-sharp`'s dependencies on Node 11.

The workaround for now is to delete your `node_modules` and run `npm install --build-from-source`.

For details, see: [https://github.com/grpc/grpc-node/issues/594#issuecomment-435563547](https://github.com/grpc/grpc-node/issues/594#issuecomment-435563547).

[2018-11-09 17:16] lindaleebumblebee commented on #9526
It's not a bad idea to let visitors of .com know that we have a swag store, but if we go that route, I'd like to keep it as very much a lower priority CTA (at the bottom of the page or elsewhere) as we need to keep the main CTA(s) above the fold. Thanks for thinking of it Flo!

[2018-11-09 18:39] jazozaya opened #9849 "Mobile page gets served Desktop version incorrectly."
## Description

I am having a bizzare problem. I have two types of headers in my site, a desktop version and a mobile version. I am using window.innerwidth to determine which one to display.

Depending on the width, one react component will be loaded over the other.

In the production version of the app, a 'hybrid' version of the header is loaded. Where certain elements of the Desktop Component ar

[2018-11-09 18:46] #7900 closed

[2018-11-09 18:48] smerth opened #9850 "How to create pages from the README.md files from each repo in a Github account"
I would like to create a page for each readme file, on the master branch,  of each of my repositories on Github.

 want the content of these files to be processed into `MarkdownRemark` nodes in the same way that my local readme files are processed.  (I want to do that so that the markup for my blog section and the section containing readme files from Github repos is the same.)

What's the best way

[2018-11-09 19:45] jackpendleton commented on #9196
Hi @k-tests,

I ran into the same TypeErrors as you and eventually came across this in the _Troubleshooting_ section at the bottom of the [`gatsby-source-wordpress`](https://www.gatsbyjs.org/packages/gatsby-source-wordpress) docs:

The errors didn't match, but I decided to try it anyway, and... it worked 🎉

Hopefully this solution resolves your issue as well.

[2018-11-09 19:56] #8841 closed

[2018-11-09 19:57] chhh commented on #9833
@kakadiadarpan
[code]
[code]
[code]

[2018-11-09 20:01] ChristopherBiscardi commented on #7379
@pieh yes, that is what happens (we create a wrapper that imports the user's page component). @danielberndt's issue looks separate from the original filing here.

The warning is accurate (what it says is happening is actually happening) but irrelevant to MDX users (because we hoist the pageQuery and run it in a higher level wrapper).

It is a warning that causes people some confusion since it does

[2018-11-09 20:38] zslabs commented on #9841
Do you have https://www.gatsbyjs.org/packages/gatsby-plugin-react-helmet/ installed? That will allow those attributes to be available server-side.

[2018-11-09 20:45] #6771 closed

[2018-11-09 23:01] thorn0 commented on #8502
A new version of `envinfo` [has been released](https://github.com/tabrindle/envinfo/releases/tag/5.12.1). Currently, the latest one is 5.12.1. `gatsby-cli` has ^5.8.1 in its dependencies. So it should be enough to update the dependencies (e.g. run `npm update`) for the issue to go away.

@ukch @nakedible @stefanprobst Can you confirm that it's been fixed?

[2018-11-10 00:50] RedHoodJT1988 commented on #8712
I would like to try to take a stab at this if it is still open.

[2018-11-10 00:53] RedHoodJT1988 commented on #9591
Has this been fixed? If not I would like to take it on.

[2018-11-10 01:34] marquez138 commented on #7658
@akolybelnikov were you able to figure out how to add a logo and animation? I would also like to implent it for my project if possible?

[2018-11-10 01:55] zvitez commented on #8437
Thanks so much @braco. Hope you didn't waste too much time figuring this out. You definitely saved me some!

[2018-11-10 02:02] mcstean commented on #4967
@DSchau     More Unix like as I admit also Being a fan.
Is true I really wish to understand how things work to ease the deployment of existing open source application to small businesses.

[2018-11-10 03:14] warriorpostman commented on #633
In case anyone is still struggling with this problem, folks at Gatsby seem to have provided a solid solution in their documentation here: https://www.gatsbyjs.org/docs/visual-testing-with-storybook/

I just used the solution presented above, and it worked perfectly. 💯

[2018-11-10 03:52] ng-hai commented on #8749
I have tested `@reach/router` using CRA 2.0 with the same server configuration and it works 🤔

[2018-11-10 08:14] stephangriesel commented on #9533
Thanks guys. npm update solved this.

[2018-11-10 08:28] mrfunnyshoes commented on #8714
Is this open? If so I would like to work on it if someone's not doing it already.

[2018-11-10 10:09] HeikoMueller commented on #9658
Thank you @kakadiadarpan ! I now realized gatsby-plugin-postcss is included in gatsby-plugin-sass, so I can adjust the postcss plugins inside of gatsby-plugin-sass config section. Great!

[2018-11-10 10:09] #9658 closed

[2018-11-10 12:31] peterjaap commented on #4360
@Jonqth thanks so much for that last edit. Finally fixed this issue after hours of hunting..!

[2018-11-10 12:53] #5887 closed

[2018-11-10 12:54] #9827 closed

[2018-11-10 14:15] fk commented on #9591
@RedHoodJT1988 Yes, there's a PR for this #9620 that needs review.

[2018-11-10 14:55] hcavalieri commented on #6654
Tried changing `concurrentRequests` and `perPage`, as well as upgrading `got` to the latest version, but none worked. Right now I can fetch `categories`, `posts`, `pages` and `tags`, but when I include `users` or `media`, right after `=END PLUGIN===`, the plugin returns with an error: `TypeError: Cannot read property 'id' of undefined`.

If I include all routes and blacklist the ones I don't have

[2018-11-10 15:03] calcsam commented on #3849
Wow, that's great. Thanks @dhoulb!

[2018-11-10 15:51] ptrckvzn opened #9857 "[gatsby-plugin-sharp] custom base64 width and height of 1px to get 'average color' placeholder"
## Summary

Hello, I am using `gatsby-image` to display images from a WordPress source. I am trying to manipulate the base64 placeholder to display an 'average' color of the source image.

## Relevant information

My first idea was to request a base64 with a width and height of 1px, so that the image library reduces it to 1px of the average color. I think, at this time, there is no way to specify

[2018-11-10 16:35] DSchau commented on #8714
@mrfunnyshoes yep! Feel free to tackle this, we'd love to see this!

[2018-11-10 16:44] ajmalafif commented on #2583
I tried @monsieurnebo solution but it seems like it didn't detect `injectGlobal` at all.

Repo: https://github.com/ajmalafif/gatsby-interUI/tree/master/src/shared/css
Demo: https://gatsby-interui.netlify.com/

[2018-11-10 16:47] deadcoder0904 commented on #2583
@ajmalafif Bcz for v4 `injectGlobal` has been deprecated. Use [createGlobalStyle](https://www.styled-components.com/docs/api#createglobalstyle) instead.

[2018-11-10 16:53] btk commented on #7658
@zabute uhm. Not really. The api might be supplying some kind of data that is getting updated daily or hourly. Like the price of bitcoin, the weather etc.

Some people use gatsby for dynamic or hybrid pages/components. https://www.gatsbyjs.org/docs/building-apps-with-gatsby/

[2018-11-10 16:59] jonniebigodes commented on #9833
This issue traces back to earlier versions. I've ran `gatsby --h` on a old windows 7 machine running i had laying around running gatsby version 1.1.58 and node 8  and it throws out the same output.

[2018-11-10 17:33] jonniebigodes commented on #9849
i've reproduced your steps with a new project and copied your code.
i've ran `gatsby develop` with device toolbar activated and it's working as it's should. With a screen width of under 800 loads the mobile version and above the desktop version like you described.
Running `gatsby build ` and `gatsby serve` outputs the same result.
Without any further information i'm more inclined that it's not a g

[2018-11-10 18:33] pieh commented on #8749
@ng-hai are you able to share either your repo or minimal reproduction repo?

[2018-11-10 18:36] akselinurmio opened #9858 "All parentheses and nested calc() being ignored in CSS"
## Description

In CSS nested calc() functions must be treated as simple parentheses.<sup>[MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/calc#Notes)</sup> In Gatsby, however all the parentheses are currently being dropped in the build process (`gatsby build`).

The issue persists even when the `--no-uglify` flag is used on `gatsby build`. Issue doesn't occur on development (`gatsby develop

[2018-11-10 18:38] pieh commented on #9849
This is probably react hydrate (taking existing DOM from server side rendering and adding event listeners, etc when react js app mounts) limitation (not a bug as it's documented and intended to work that way for performance reason)

https://reactjs.org/docs/react-dom.html#hydrate

[2018-11-10 20:00] ajmalafif commented on #2583
@deadcoder0904 been pulling my hair, thanks for the heads up! Hopefully that helps others too. Thanks again!

[2018-11-10 20:16] andrewnaeve opened #9859 "Unable to find plugin"
## Description
After installing babel-plugin-styled-components and listing it in my .babelrc, I am unable to build.
[code]
## What I've tried
Deleting node_modules, package-lock.json, yarn.lock, and reinstalling. Have tried both npm and yarn, taking care not to have both lock files at once. Currently I have the plugin in dependencies, but have also tried dev dependencies.

### Steps to reproduce
r

[2018-11-10 20:35] #9859 closed

[2018-11-10 21:37] jonniebigodes commented on #9806
@Steffi3rd as the starter was created with v1 of gatsby, here are some [docs ](https://v1.gatsbyjs.org/docs/)to help you figuring out the library. These are outdated as the way layouts are used in the current released version. But nonetheless will point you in the right direction on how everything is wired up and get you started on learning how to develop using gatsby.

[2018-11-11 10:08] hackhat opened #9861 "gatsby-plugin-sitemap exclude not working properly"
So if the path is "/internal/a/b" it will not be excluded, but if is "/internal/c" will be excluded. Is it a feature or a bug? Excluding "/internal/*"

[2018-11-11 10:30] hackhat commented on #9861
Fixed with `/internal/**`.

[2018-11-11 10:30] #9861 closed

[2018-11-11 12:35] frewinchristopher opened #9862 "Creating React Components as Posts - Frontmatter, Templating, and More"
## Summary

Is there a standard. I've been searching for a few hours now, [I've found this from gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog/commit/e333cb1aadbba2d5053a3b471fa841b29b3187c2) from @KyleAMathews  for v1, but this was an old commit and `pages/index.js`
is now written in a completely different fashion for v2, not to mention the fact that the `exports.data` synta

[2018-11-11 13:19] reeversedev opened #9863 "[gatsby-source-filesystem]: The path passed to gatsby-source-filesystem does not exist on your file system: undefined"
## Description

I am unable to build my application which was working absolutely fine like an hour ago. Running `gatsby build` doesn't work.

### Steps to reproduce
I am providing my package.json and gatsby-config.js code so that one can have a better understanding of what version of packages I am using in my project (because that might be an issue according to me but i'm not sure).

**gatsby-conf

[2018-11-11 14:10] leimonio commented on #9858
It seems there is an issue with the minification using `optimize-css-assets-webpack-plugin`.

[2018-11-11 15:18] mrhut10 commented on #9844
yeah i think a generic solution would be better anyway so you can do hover on any element

[2018-11-11 15:18] #9844 closed

[2018-11-11 16:18] ValidRobot opened #9864 "How defer rendering until some function is finished?"
Useful Links:
  - font face loader: https://fontfaceobserver.com/

## Summary
I want to defer rendering until the Webfonts are loaded by fontfaceobserver. What would be the best practise in GatsbyJS for that?

[2018-11-11 17:06] sami616 commented on #3344
creating dummy entries has worked for me as a temporary work around. not ideal for the reasons mentioned above, is this likely to be looked at any time soon?

[2018-11-11 17:15] ChristopherBiscardi commented on #9863
Your gatsby-source-filesystem options are specified as an array:

[code]

Try specifying them without the array wrapper, as shown in the [readme](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/)

[code]

[2018-11-11 18:31] kristojorg opened #9867 "[gatsby-plugin-offline] html not building on netlify"
## Description

I serve my site using netlify. When I use `gatsby-plugin-offline`, the html does not build. It only produces an html shell. I check by turning off javascript.

Here is a branch deploy with `gatsby-plugin-offline`:  https://5be8701ce5cd1642c9029441--spine.netlify.com/

Here is one without (that's the only change): https://5be871c3ec8a89588503358e--spine.netlify.com/

Check both by d

[2018-11-11 19:08] KyleAMathews commented on #9867
Try opening up an incognito window with js disabled and then browsing around the site.

Disabling js in the devtools doesn't actually disable the SW. You can also verify that the html is being created by curling files.

[2018-11-11 19:08] #9867 closed

[2018-11-11 19:13] hmbrg commented on #4769
@thekevinbrown Using your code snippet, I get the following error `The \"path\" argument must be of type string. Received type undefined`.

My setup matches yours precisely.
Is there any documentation on how Gatsby decides when a String should be File node?

[2018-11-11 19:39] jonniebigodes commented on #9864
component wise? project wise?

[2018-11-11 19:47] jonniebigodes commented on #8335
Can you provide a repo if possible? Because i'm not being able to reproduce the issue also

[2018-11-11 20:28] hmbrg opened #9871 "Using onCreateNode not working correctly - issue resolved after restarting Gatsby develop"
## Description

Using onCreateNode to create relative paths to images so I can use those with gatsby-images throws an error on first use. But restarting Gatsby and using the cached version of the query (onCreateNode is not being run) resolves that problem and the query works just fine.

### Steps to reproduce

I have a JSON file like this located at `content/file.json`:

[code]
I'm using [this sni

[2018-11-12 02:44] marisamorby opened #9872 "[WIP] Move issues from ichabod/cranes into the gatsbyjs/gatsby repo"
## Goal
Now that we can easily move over issues from one repo to another, we should start moving issues that were in ichabod/cranes but should be in the public gatsbyjs/gatsby repo.

## Plan
- Review slack messages to finish plan for moving issues over.

[2018-11-12 02:53] jonniebigodes commented on #9815
I was unable to reproduce your issue.
But before that, one thing, you have a problem with your code namely in here:
[code]

This will append a second `?` to your link url.
Now onto the issue at hand.
The actual code i used was this.

The page code:

[code]
The component with the code provided and a query parameter like so  `myQueryParam=abc1234`
[code]
tested with gatsby dev  and it was getting th

[2018-11-12 03:48] reeversedev commented on #9863
It works! Thanks, I think I was trying to resolve the two times but in a wrong way.

[2018-11-12 03:48] #9863 closed

[2018-11-12 06:04] bgnz968 commented on #3344
still no fix in sight?  we have a launch in 21 days

[2018-11-12 06:14] marisamorby commented on #8770
@amberleyromo: This will be affected by the OSS Process Automation work in issue #9634 for OSS Dashboard Spec. We'll want to be sure to consider the OSS Process as we're building out this page.

[2018-11-12 06:49] marisamorby commented on #9634
@jlengstorf

Here is the OSS Dashboard Spec that is a work in progress: https://docs.google.com/document/d/1DrH5I0dR6K9p3Mt3aigH5y2En7vikqHD0-P5u95hLH0/edit#

[2018-11-12 07:29] AbhimanyuAryan opened #9874 "Using React Plugin with Gatsby"
I want to use AFrame for VR blog. There's a plugin for React but I don't know how to use this plugin with https://github.com/ngokevin/aframe-react Gatsby

Thanks

[2018-11-12 08:05] monsieurnebo commented on #2583
The example has been updated with the new `createGlobalStyle` syntax.

[2018-11-12 08:29] Steffi3rd opened #9875 "How to update GraphQL queries without re-deploy?"
Hi!

I just started CMS Headless with Gatsby.  And I make some changes to structure of the type (post, page). So my GraphQL queries need to be update.

But to be updated, I have to stop manually and do `gatsby develop` again.

**Is there an easy way to update GraphQL Queries automatically when there are changes in the CMS?**

[2018-11-12 08:32] Manoz commented on #8335
I have the same issue everywhere actually but you can try on this repo https://github.com/Manoz/k-legrand.com

[2018-11-12 08:35] Steffi3rd commented on #9806
Thanks! So I switched to Gatsby V2 ^^

[2018-11-12 08:35] #9806 closed

[2018-11-12 08:43] Steffi3rd commented on #9875
Found the answer: https://github.com/gatsbyjs/gatsby/issues/5455

[2018-11-12 08:50] andrico1234 opened #9876 "Permission to add Gatsby monorepo blog post to blog post list."
## Summary

I've previously published [this](https://codeburst.io/develop-and-deploy-your-own-react-monorepo-app-in-under-2-hours-using-lerna-travis-and-now-2b140d647238) blog post and felt like it would be a useful resource to add to the list of [Gatsby blog](https://www.gatsbyjs.org/blog/) posts.

## Relevant information

The tutorial covers the process of converting a regular Gatsby application

[2018-11-12 09:18] Pangolino91 opened #9877 "How can I fetch data from my SQL Database on shared hosting linking gatsby with the Express backend part?"
## Summary

## Relevant information

I have been trying to fetch some data from a database of mine on a shared hosting provider (Hostgator).
To do that, I created a basic backend environment with Express running on port 3000 and I linked it to my gatsby front-end setting up a proxy in the gatsby-config.js as described below. When I try to fetch these data, though, even if there is no error thrown,

[2018-11-12 09:52] Steffi3rd commented on #9841
In fact,

When you try to **Validate by URI** you don't have the `lang` problem.
But if you copy/paste the source code to **Validate by Direct Input**, the `lang` problems appears.

[2018-11-12 09:56] Steffi3rd opened #9878 "gatsby-offline-plugin add as="fetch" to Link, cause W3C error"
### Bad value `fetch` for attribute `as` on element `link`.

![capture d ecran 2018-11-12 a 10 55 43](https://user-images.githubusercontent.com/814410/48339908-87da8600-e669-11e8-83af-4b7089fc90f3.png)

### `package.json`
<img width="315" alt="capture d ecran 2018-11-12 a 10 56 10" src="https://user-images.githubusercontent.com/814410/48339933-9628a200-e669-11e8-82a8-a7b3633c9746.png">

[2018-11-12 10:02] #9875 closed

[2018-11-12 10:39] m-allanson opened #9880 "Add an `auto-config` section to the debugging doc"
## Summary

Add a new section to the [debugging the build process doc](https://www.gatsbyjs.org/docs/debugging-the-build-process/).

Maybe also restructure the document so the sections go from 'simplest' to 'most complex', like this:

- VS Code debugger (automatic config) _<-- this is the new section_
- VS Code debugger (manual config)
- Chrome DevTools for Node

### Basic example

If you use VS C

[2018-11-12 10:58] rgllm opened #9881 "react-hot-loader error on IE11"
## Description

react-hot-loader is broken on IE because of Polyfills import. The issue is related with these: [4.3.12 breaks polyfills for IE11](https://github.com/gaearon/react-hot-loader/issues/1099).

### Environment

npmPackages:
    gatsby: ^2.0.31 => 2.0.45
    gatsby-image: ^2.0.17 => 2.0.19
    gatsby-plugin-react-helmet: ^3.0.0 => 3.0.1
    gatsby-plugin-sass: ^2.0.1 => 2.0.3
    gatsby-

[2018-11-12 11:24] Steffi3rd opened #9882 "Why ...GatsbyImageSharpFixed is unknown fragment in GraphiQL?"
![capture d ecran 2018-11-12 a 12 22 23](https://user-images.githubusercontent.com/814410/48344545-afcfe680-e675-11e8-8934-6c525bc2a1fc.png)

### `package.json`
<img width="318" alt="capture d ecran 2018-11-12 a 12 23 37" src="https://user-images.githubusercontent.com/814410/48344589-d2fa9600-e675-11e8-9183-2da7111e27b9.png">

[2018-11-12 11:52] kakadiadarpan commented on #9874
@AbhimanyuAryan Gatsby is powered by React, so you can use it the same way you would use it in a React project.

[2018-11-12 12:11] hyperparsa commented on #2444
Pretty sure the wordpress features list is wrong. It shoes all the features as "Out of the box".

[2018-11-12 12:19] AbhimanyuAryan commented on #9874
Thanks got it

On Mon, 12 Nov 2018, 5:22 pm Darpan Kakadia, <notifications@github.com>
wrote:

[2018-11-12 12:20] AbhimanyuAryan commented on #9874
Also if I want to turn the markup into an aframe react code. Do I need to
implement a plugin? If yes how to implement a plugin guide would help

On Mon, 12 Nov 2018, 5:48 pm Abhimanyu Aryan, <abhimanyu@soal.io> wrote:

[2018-11-12 12:39] ExSoax commented on #9733
Same here! In development i see everything right but after build all styles are messed...

[2018-11-12 12:43] Steffi3rd commented on #9882
Found the answer : **Due to some limitations**

![capture d ecran 2018-11-12 a 13 14 31](https://user-images.githubusercontent.com/814410/48348211-f2e38700-e680-11e8-8c5e-c8f18f0d1bb4.png)

[2018-11-12 12:43] #9882 closed

[2018-11-12 12:44] pieh commented on #2444
Ah, sorry - will fix soon https://github.com/gatsbyjs/gatsby/pull/9883

[2018-11-12 12:55] Steffi3rd opened #9884 "Why graphql returns undefined whereas GraphiQL returns something?"
### console.log(data) returns undefined

<img width="454" alt="capture d ecran 2018-11-12 a 13 53 41" src="https://user-images.githubusercontent.com/814410/48348751-7e114c80-e682-11e8-831e-9516b0ad3aa4.png">

### GraphiQL

![capture d ecran 2018-11-12 a 13 54 11](https://user-images.githubusercontent.com/814410/48348766-8b2e3b80-e682-11e8-93cd-02f8f7ff8418.png)

[2018-11-12 13:14] Steffi3rd commented on #9884
I tried alternative with `StaticQuery` and it worked.

I don't know why it doesn't work without `StaticQuery`

Someone can help please?

[2018-11-12 13:18] LekoArts commented on #9884
Please open an issue following the issue template (as I already told you). Otherwise we cannot help you. The issue template exists for a reason.

[2018-11-12 13:18] #9884 closed

[2018-11-12 13:22] Steffi3rd opened #9885 "Why GraphQL returns undefined whereas GraphiQL returns something?"
## Summary

I made a query with GraphQL and I want to display results with data but it's `undefined`.

### `console.log(data)` returns `undefined`

<img width="454" alt="capture d ecran 2018-11-12 a 13 53 41" src="https://user-images.githubusercontent.com/814410/48348751-7e114c80-e682-11e8-831e-9516b0ad3aa4.png">

### GraphiQL

![capture d ecran 2018-11-12 a 13 54 11](https://user-images.githubuse

[2018-11-12 13:52] cwlsn commented on #9885
On the [querying with GraphQL page](https://www.gatsbyjs.org/docs/querying-with-graphql/), it mentions if you want to query in non-page components, you do need to use `<StaticQuery />`.

[2018-11-12 13:59] pieh commented on #3344
@bgnz968 It's very unlikely there will be proper fix (or rather feature) land in 21 days. I don't have any dates here. There is a lot of problems that need to be solved here - some related to gatsby builtin inferred schema, some to 3rd party stitched schemas ( https://github.com/gatsbyjs/rfcs/pull/11 ).

[2018-11-12 14:08] Steffi3rd commented on #9885
Okay so that's normal! Thanks !

[2018-11-12 14:08] #9885 closed

[2018-11-12 14:17] wking-io commented on #6278
This was a problem back in v1 and @KyleAMathews fixed it here: https://github.com/gatsbyjs/gatsby/pull/812/commits/f5191a0b7159ea8152340eb9c83809ad6cc5db40

However, it looks like the same issue is back on v2: https://github.com/gatsbyjs/gatsby/blob/ad142af473fc8dc8555a5cf23a0dfca42fcbbe90/packages/gatsby/src/utils/webpack.config.js#L256

[2018-11-12 14:49] njmyers commented on #6654
Hello,

I managed to add tracing using the steps outlined here [https://www.gatsbyjs.org/docs/performance-tracing/](https://www.gatsbyjs.org/docs/performance-tracing/). Unfortunately it did not provide much info as it simply told me that indeed source and transform nodes is taking quite long.

I have however done some of my own debugging on the issue after having some non-deterministic behavior in

[2018-11-12 16:01] trickydisco78 commented on #5344
I've fixed this by adding ```gatsby-plugin-polyfill-io``` to the project. What i want to know is how do i only do this for develop mode as this is all i need it for

[2018-11-12 16:11] eojthebrave commented on #9818
I have a feeling this might be a duplicate of this bug https://github.com/gatsbyjs/gatsby/issues/9834 which provides a better explanation of the problem.

[2018-11-12 16:14] zslabs commented on #9355
👋 @davidbailey00 Just wanted to check-in to see if there was anything I could help test. Thanks again for looking into this!

[2018-11-12 16:21] DSchau commented on #9355
@zslabs is there more info on your end about this issue? We actually solved this issue previously as there was an issue in the source code, i.e. arrow functions weren't being transpiled in Chrome 41 (what Googlebot uses). You shouldn't see _many_ of the no-cache hits in your normal flow!

[2018-11-12 16:22] zslabs commented on #9355
@DSchau Oh, interesting! Did you have the commit for that handy? I've been holding off on upgrading a few deps until this was resolved, so wanted to see where we were at currently.

[2018-11-12 16:23] DSchau commented on #9355
@zslabs it was not an issue on _our_ end, but rather with a node_modules lib making its way into the browser untranspiled!

To clarify, is this at all related to any Gremlin stuff?

[2018-11-12 17:22] jonniebigodes commented on #9877
At first glance it looks like you have a issue with your url.
In gatsby-config.js you defined the following:
[code]
but on your components you have this:
[code]
and gatsby does not understand that path is a redirect and will go to `http://localhost:8000/users`

Try and change the fetch url to `fetch('/api/users')` and see if you get data back.

[2018-11-12 17:50] davidbailey00 commented on #9355
Yeah that's right, I'm working on the new approach right now actually - hopefully it should be ready later today or tomorrow!

[2018-11-12 22:36] kempsterrrr opened #9893 "[V1] gatsby-plugin-sitemap V2 doesn't build when using Gatsby version 1"
## Description

I'm running a v1 version of Gatsby for an existing personal site and realised I hadn't submitted a sitemap to google search console so added gatsby-plugin-sitemap from the latest version on npm which kept failing with the following err.

`Error: Module not found: Error: Cannot resolve module 'gatsby' in /opt/build/r  epo/node_modules/gatsby-plugin-sitemap`

### Suggested resolution

[2018-11-12 22:39] kempsterrrr commented on #9893
Sorry to be clear. The environment details shared above were after I fixed the issue by installing the 1.2.25 version of `gatsby-plugin-sitemap`

Hope that's OK

[2018-11-12 22:47] DSchau commented on #9864
Gatsby is "just React," so you'd write this like you would any other component that needs state as @jonniebigodes noted.

It'd end up looking like something like this:

[code]

since you have an action that will be re-performed on every component mount, you may want to look into using [`gatsby-plugin-layout`](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/) if you're using gatsby v2.

I do

[2018-11-12 22:47] #9864 closed

[2018-11-12 22:53] mrfunnyshoes opened #9895 "[gatsby-source-wordpress] `localFile` field null on *some* featured media from wordpress posts"
## Description
When querying **featured media** from wordpress posts, some images get their corresponding `localFile` node created but others do not, giving me a `localFile = null`. Weirdest thing is this error occurs on different sets of images on development and production (netlify).

### Steps to reproduce

The graphql query I'm using to get the posts data:
[code]
My wordpress plugin config ins

[2018-11-12 22:57] kristojorg commented on #9867
Ah interesting, so it's the service worker causing issues when JS is disabled but the SW is not. Okay, well I'll add it back in then, thanks!

[2018-11-13 01:34] freddydumont commented on #7776
@borekb Did you figure out a way to make the relative url() work?

[2018-11-13 02:01] jonniebigodes commented on #9893
Glad you solved it. If you don't mind i'm closing this issue. If any other issues arise please create a new one.

[2018-11-13 02:01] #9893 closed

[2018-11-13 03:10] mrfunnyshoes commented on #8714
Thanks! Do you guys think using [knex](https://knexjs.org/) be overkill for this task?

[2018-11-13 04:28] rjhilgefort opened #9899 "Unchecked runtime.lastError: The message port closed before a response was received."
## Description

I'm seeing an issue on my Gatsby V2 site when it loads and while the page is running.

![image](https://user-images.githubusercontent.com/2034823/48390921-77ee9080-e6c1-11e8-829e-beb6893d9603.png)

### Steps to reproduce

I started with the v2-starter- I don't have a demo site to link here :(

### Expected result

There shouldn't be any console errors on load.

### Actual result

T

[2018-11-13 04:53] vinayan3 opened #9900 "Authenticated section with Markdown Pages?"
I'm trying to have a set of markdown pages behind a login wall. Is there a good example of this? I have tried to use ` gatsby-plugin-create-client-paths` and a  `Router`  at the base path of the auth area which I have as `/app/`. In the function `createPages` in ` gatsby-node.js`  I put the path of the markdown files as `/app/{post.node.fields.slug}`.  After that how would I get the router to have

[2018-11-13 05:31] kakadiadarpan commented on #9878
@Steffi3rd I'm not sure why that is happening. As per the [Mozilla standard](https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content#What_types_of_content_can_be_preloaded), fetch is a correct value for "as" in case of a JSON file.

[2018-11-13 05:53] LekoArts commented on #9878
Is W3C even relevant? The times are over when people had W3C banners on their site 😂

[2018-11-13 05:59] DSchau commented on #8714
@mrfunnyshoes. Whoa, I’ve never heard of that! That seems like a nice, flexible option!

All for it!

[2018-11-13 06:47] borekb commented on #7776
Had to do some digging as we removed resolve-url-loader since but this was our `gatsby-node.js` at that point, incl. the comment :)

[code]

[2018-11-13 09:09] Timsig opened #9901 "Google font link vanished -"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2018-11-13 09:10] Steffi3rd opened #9902 "Delay when loading CSS with Gatbsy"
# Description

When I load for the first time the gatbsy blog, I have a delay before CSS is loading. I think 300ms...
Whatever the browser is, it always do this.

It renders once before CSS is applied and 300ms after is rendered well.

Why?

[Demo here](https://imgur.com/gallery/av23KHP)

### On page loading
<img width="720" alt="capture d ecran 2018-11-13 a 10 09 32" src="https://user-images.gith

[2018-11-13 09:12] Timsig commented on #9901
I am just running in develop mode at the moment. I added a link to a google font in the header of the index.html file. The font still displays correctly, but the link is gone. I want to move to self-hosting the font, so need to remove the original link - where do i find it?

[2018-11-13 10:00] mddizon commented on #8144
In case anyone stumbles onto this issue from a search engine:
I ran into the same issue as well and @tdharmon was able to provide some guidance here: https://github.com/tdharmon/gatsby-starter-typescript-sass/issues/1

[2018-11-13 10:05] khus29 commented on #6003
Hi,
I am facing same issue. Somehow my font are not getting applied. Fonts are defined globally.

[code]

[2018-11-13 10:34] Greegko opened #9904 "[gatsby-source-contentful] Build throws error for conflicting labels when .cache dir exists"
## Description

During the build process if there is no .cache directory then the build is totally fine without error. But if I have .cache directory it throws error.

### Steps to reproduce

Repo URL: https://github.com/Greegko/gatsby-issue-9904

Requirements:
 - Contentful
 - Have a ContentModel which has `labels` named field in it, also make an instance of it.

Steps: Build the project twice

#

[2018-11-13 11:38] Steffi3rd commented on #9902
It's on `build`.

On `develop`, I have a blank page very very fast before it renders well.

[2018-11-13 12:01] Steffi3rd opened #9905 "How to use gatsby-image with data from GraphQuery?"
## Summary

I have this as a GraphQL:

[code]

And I would like to use fluid of Gatsby-image : `...GatsbyImageSharpFluid`

[code]

So the idea is to replace `dimensions` with Gatsby-Image. But it doesn't work.

[code]

The final result is to use it with something like this : `<Img fluid={props.data.portrait_author.childImageSharp.fluid} />`

**How can I do this please?**

### Environment

[code]

[2018-11-13 13:04] Timsig commented on #9901
@kakadiadarpan Many thanks for the reply - I'm going to look into self-hosting the fonts.

[2018-11-13 13:13] kakadiadarpan commented on #9905
@Steffi3rd did you had a chance to go through the example of [using-gatsby-image](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-gatsby-image)?

[2018-11-13 13:15] kakadiadarpan commented on #9905
Also, you can check this example query in the documentation of [gatsby-image](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image#query-1) which uses `GatsbyImageSharpFluid_noBase64`

[2018-11-13 13:16] kakadiadarpan commented on #9902
@Steffi3rd can you provide us with a minimal reproduction repo for this issue?

[2018-11-13 13:22] kinduff commented on #5990
@peterlazzarino I submitted a PR. If the documented solution works for all, this issue should be closed now.

[2018-11-13 13:36] camden commented on #8216
Setting the parent id fixed this for me!

[2018-11-13 15:01] Vpr99 commented on #9815
Thanks so much for taking the time to respond in such detail! This is **so weird.**

I ran through your example with the following setup (to try and make a proof of concept):

* New Gatsby Hello World (`gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world)
* Copied your `TestqueryParams` component to `/src/pages/index`.
* Tested in Chrome, FF and Safari

Here are my result

[2018-11-13 15:31] peterlazzarino commented on #5990
@kinduff I had a different solution to this in place and attempted to switch to yours without any luck. I might be doing something wrong here but here's my setup.

```gatsby-config```
[code]

Snippet from a now failing query

[code]

I get an error at the query above

[code]

Screen shot showing my folder structure

![screen shot 2018-11-13 at 10 29 58 am](https://user-images.githubusercontent.com

[2018-11-13 15:32] malcolm-kee commented on #8714
I just implemented something similar, but for mysql only. It is just a thin wrapper around the library `mysql`. See https://github.com/malcolm-kee/gatsby-source-mysql

[2018-11-13 15:44] DSchau commented on #8714
@malcolm-kee great! I think there's still some value in what @mrfunnyshoes proposed, so perhaps we can work on integrating `gatsby-source-sql` into _this_ repo whereas yours can live under your own name!

Looks great, though - happy to see more plugins relating to this! Nice work!

[2018-11-13 15:49] jonathanphz commented on #5990
@peterlazzarino you might be missing this part: https://github.com/danielmahon/gatsby-remark-relative-images#to-convert-frontmatter-images

[code]

[2018-11-13 15:53] malcolm-kee commented on #8714
@dschau agree! That is much useful than only support mysql. Just share as another  reference 😁

[2018-11-13 16:17] peterlazzarino commented on #5990
ah yep that was it! Thanks, closing

[2018-11-13 16:33] fk commented on #9591
Fixed via #9620, thanks everybody! 🙏 🤗

[2018-11-13 16:33] #9591 closed

[2018-11-13 16:42] gswirrl commented on #9807
For anybody having similar problems, you may be able to get away with this awful wretched bodge by hardcoding a name in your `gatsby-node.js`

[code]

it's really unsatisfactory - i really wanted to extract several css into several files but its better than nothing. Would be very grateful if anybody can come up with a way to have eg

`src/basic.css` -> `basic.css`
`src/other.css` -> `other.css`

[2018-11-13 16:56] Steffi3rd opened #9906 "error UNHANDLED EXCEPTION on gatsby develop"
## Description

![capture d ecran 2018-11-13 a 17 48 17](https://user-images.githubusercontent.com/814410/48429338-361b2400-e76d-11e8-9d00-996b42206032.png)

### Steps to reproduce

[code]

### Expected result

It should display the gatsby blog

### Actual result

What happened.
![capture d ecran 2018-11-13 a 17 48 17](https://user-images.githubusercontent.com/814410/48429392-5945d380-e76d-11e8-9f

[2018-11-13 17:14] jonniebigodes commented on #9815
No need to thank...Here to help out others as much as they have helped me.

[2018-11-13 17:24] Steffi3rd commented on #9906
Damn... I have to remove the cache folder.

https://github.com/gatsbyjs/gatsby/issues/2410#issuecomment-362288591

[2018-11-13 17:33] jonniebigodes commented on #9805
@dial3x i've just opened the gatsby site on a old iphone 4s running version 9.3.5. And aside from the images taking a bit to load and the grid showcase layout not being applied correctly all is working correctly.
Did some navigation, went back and forward on the gatsby site and the images were loading as they are supposed.
Still i'm going to clone a starter template, add some pictures and deploy i

[2018-11-13 17:42] jonniebigodes commented on #9398
@h0rhay, one thing that caught my eye when looking at your code.
Why are you passing the function to the state and not the state value itself?

You have:

[code]
When you should probably should have this:
[code]
then when you "land" on the page you want you can set the state on that page accordingly and push it back to the previous one using the same strategy.
As per [docs](https://www.gatsbyjs.or

[2018-11-13 17:43] stasgavrylov commented on #5626
I just wanted to point out that this bug is still reproducible.
I'm using `gatsby@2.0.46` and `gatsby-plugin-typescript@2.0.1`.

StaticQuery in TS component works fine in dev mode, but produces `Loading (StaticQuery)` in build output.

I wish I'd find this issue earlier. Changing my component to plain JS fixed the problem.

[2018-11-13 17:44] freddydumont commented on #7776
Thanks! I ended up inlining my svg but I'm sure your answer will help anybody who comes across this problem in the future, because there's currently no solution on all the issues mentioning Sass `url()` resolution in the repo.

[2018-11-13 18:20] #9584 closed

[2018-11-13 18:33] codejamninja opened #9908 "Gatsby Styled Components Plugin not working without SSR"
## Description

Gatsby Styled Components Plugin is not overriding styled properties when server-side rendering is disabled.

For example, I am using carbon components react, and carbon components react applies the following styles to a button.

This only happens when I am not using server-side rendering.

### Steps to reproduce

1. Generate new gatsby project
[code]

2. Install carbon components
[

[2018-11-13 18:34] codejamninja commented on #9908
I have used styled components in the past without server-side rendering, and it has no problem overriding stylesheets.

[2018-11-13 18:54] codejamninja commented on #1994
I'm having a similar issue at #9908

[2018-11-13 18:56] codejamninja commented on #1836
I'm having a similar issue at #9908

[2018-11-13 19:43] axelboc commented on #1836
In case it helps someone, here is what happened to me. I have a single import in my layout to an `index.css` file. When I had ordering issues with `normalize.css` coming before my base styles, this index used to have:

[code]

The tilde `~` is for webpack's `css-loader` to look into `node_modules`. This is equivalent to requiring from JS with `require('normalize.css')`. Anyway, so I think `css-loa

[2018-11-13 20:34] oorestisime commented on #9905
if i understand correctly what you are trying to do: the image you have is not available locally? because gatsby-image only works with local images. providing a url can not work

[2018-11-13 21:53] Vpr99 commented on #7827
I ran into this another 5 or 6 times today. Any chance we could reopen @DSchau ? It looks like @thibautvs got a reproducible demo.

[2018-11-13 21:56] skywinston opened #9909 "gatsby-source-contentful plugin throws error `getNodesByType is not a function` when running `export GATSBY_CONTENTFUL_RICH_TEXT='enabled' && gatsby develop`"
## Description

The CLI command `export GATSBY_CONTENTFUL_RICH_TEXT='enabled' && gatsby develop` results in the following:

[code]

### Steps to reproduce

Wishing to use the Contentful Rich Text Beta, I followed the instructions at [gatsby-source-contentful](https://www.gatsbyjs.org/packages/gatsby-source-contentful/) plugin docs (at the very bottom of the page).  I began by upgrading the `gatsby

[2018-11-13 22:08] DSchau commented on #7827
@thibautvs the main issue that's happening in your example is that `src/pages/index/StyledFontAwesomeIcon.js` is being treated as a page component, and is _not_ being wrapped with the special Layout component. This is leading the component to be rendered during SSR without a ThemeProvider, thus, the error that `theme` is not defined.

I'd recommend that if you have React components that are just t

[2018-11-13 22:10] lindaleebumblebee commented on #9725
ok- I'm not sure if this is the latest discussion on this homepage image but I have a few comments:
- I'd like to add 'Bring your content from anywhere' in the 'data sources' section (can just replace it)
- isn't the GraphQL section before the build or at least powering the build?
- I'd then list the build step via Gatsby with the output being static HTML
- Deploy should have some language around

[2018-11-13 22:18] systemlevel opened #9911 "Inconsistent CSS Styling Differs Between gatsby develop and build - Why?"
develop:
<img width="282" alt="images" src="https://user-images.githubusercontent.com/894983/48446821-90a98580-e757-11e8-9c47-f1fbd0c3a2c0.png">

build:
<img width="265" alt="images-1" src="https://user-images.githubusercontent.com/894983/48446838-9ef7a180-e757-11e8-9ab8-1379c9e17054.png">

I don't even know where to start on this.  I've cleared the .cache in the project folder to no avail.

Also,

[2018-11-13 22:34] hamishtaplin opened #9913 "Force remove service worker?"
## Summary

I have a website in development and I initially started with `gatsby-plugin-offline` enabled but decided I don't want to use it anymore. The problem is that the service worker is already registered so pushing updates for client to look at just result in it loading an old version. I don't really want to have to explain how to unregister the sw to them. Is there a way I can force its rem

[2018-11-13 22:35] DSchau commented on #9913
Yup!

[`gatsby-plugin-remove-serviceworker`](https://www.npmjs.com/package/gatsby-plugin-remove-serviceworker)

Going to close this out as answered, but please feel free to re-open if we can assist further. Thanks!

[2018-11-13 22:35] #9913 closed

[2018-11-13 22:43] Vpr99 commented on #7827
@DSchau thanks for the detailed response—I guess I didn't look close enough at Thibaut's repo. My problem is slightly different since I'm using `wrapRootElement` to wrap the entire site in the `ThemeProvider`. It seems to be super intermittent, but I'll try and make a repro here in a few.

Thanks again!

[2018-11-13 23:31] metamas commented on #8561
I would love to know more about this as well. Even simple text fields that haven't been filled out on Prismic will break my build. [According to the Prismic docs](https://user-guides.prismic.io/api-application-and-token-management/difference-between-api-v1-v2) their API should at least respond with an empty string (or array), for fields that have not been given content. So, why am I not see this r

[2018-11-14 02:06] lundgren2 commented on #9911
I've had similar behaviour before. Have you tried to both remove .cache and node_modules, the lockfile and run npm install again?

Otherwise, what plugins are you using? are you running the latest version of Gatsby? You can also use e.g. Chrome DevTools to inspect the elements and see what css-classes used both under the "Styles" and "Computed" tabs.

[2018-11-14 02:40] lundgren2 commented on #9911
Hi! I think it worked after I removed .cache and node_modules, but it was a long time ago.

I see you're using gatsby-plugin-offline, try to disable it and have a look at #5734

[2018-11-14 05:02] kakadiadarpan commented on #9911
@systemlevel can you check if the CSS applied in `develop` and `build` is in a different order? I think it might be related to #9733

[2018-11-14 05:04] kakadiadarpan commented on #9908
@codejamninja can you provide a minimal reproduction repo for this issue?

[2018-11-14 05:09] kakadiadarpan commented on #9906
@Steffi3rd any idea what changes you made that caused this error?
[code]

[2018-11-14 05:18] kakadiadarpan commented on #9909
@skywinston you will need to remove `gatsby-plugin-react-next` as it is not compatible with Gatsby v2 and causing this error.

Also, with Gatsby v2 you have to install React as a separate dependency and hence no need of this plugin anymore.

We'll be closing this issue, please reopen if you need more help.

[2018-11-14 05:18] #9909 closed

[2018-11-14 05:54] TylerBarnes opened #9915 "Programatically adding a prefix from a plugin"
Is it possible to programatically add a site prefix or can it only be done from gatsby-config.js?

[2018-11-14 06:01] kakadiadarpan commented on #9915
@TylerBarnes At the moment it can only be done from `gatsby-config.js`

[2018-11-14 06:18] TylerBarnes commented on #9915
@kakadiadarpan thanks for the quick response! That's what I suspected. Thanks for the confirmation. My plugin is running partially outside of gatsby. Maybe I'll have it temporarily rewrite the config file and then put the old one back. 🤣

[2018-11-14 06:18] #9915 closed

[2018-11-14 06:56] Jaikant commented on #7457
@dantehemerson you are right. `gatsby-link` should also be removed from the `package.json` and the node_modules deleted and reinstalled.

[2018-11-14 07:16] silvenon commented on #1836
You probably meant `@import url("...")`, not `@import "..."`, right?

[2018-11-14 07:22] #8561 closed, assigned to nobody

[2018-11-14 07:44] ng-hai commented on #8749
I think I have found the point. The problem caused by SSR, if I return null when `windows is undefined`, the error will not appear.

[2018-11-14 08:06] kakadiadarpan commented on #9208
@aswinckr can you provide a reproduction repo for this issue?

[2018-11-14 08:07] kakadiadarpan commented on #9139
@hackhat can you provide a minimal reproduction repo for this issue?

[2018-11-14 08:08] thibautvs commented on #7827
Thanks very much for your explanation and fix @DSchau!

[2018-11-14 08:12] kakadiadarpan commented on #9074
@anderskitson can you provide relevant environment information by running `gatsby info --clipboard`?

[2018-11-14 08:16] Steffi3rd opened #9917 "On build WebpackError: TypeError: Cannot read property 'childImageSharp' of null"
<img width="854" alt="capture d ecran 2018-11-13 a 19 40 32" src="https://user-images.githubusercontent.com/814410/48469005-cdc05700-e7ed-11e8-94e9-8f80fa99a6db.png">

## Summary

It works perfectly on develop but when I `gatsby build` I have this error.

### Environment

[code]

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`:

[2018-11-14 08:17] Steffi3rd commented on #9905
Yeah! This is exactly what I wanted to do

[2018-11-14 08:17] #9905 closed

[2018-11-14 08:18] Steffi3rd commented on #9906
Really no idea. It came up without any modifications. Very weird. I didn't move or delete anything.

[2018-11-14 08:32] kakadiadarpan commented on #9906
@Steffi3rd The log that you shared above shows that before the error occurred it compiled some changes:
[code]

Are you sure you didn't make any changes?

Also, did this occur just once? Or are you still facing this problem?

[2018-11-14 08:33] eriktiekstra opened #9918 "gatsby-plugin-styled-components breaks styling based on props"
## Description

I am trying to pass props to `styled-components`, but when I am trying to serve the application after doing `gatsby build` or `gatsby develop`, the styles are not even added according to the props passed. When I `console.log` the props inside the styles, it is outputting the correct values in the terminal during the `build` process.

Only after setting the config to `minify: false`

[2018-11-14 08:52] Steffi3rd commented on #9906
Sure I did make any changes.

I'm not facing the problem anymore, I remove cache everytime before `develop` or `build`
`rm -r ./.cache/*`

To rebuild cache just run
`gatsby develop` or `gatsby build`

[2018-11-14 08:59] davidbailey00 commented on #9415
Hey there, sorry for closing this initially! It turned out that I had my adblocker enabled, which prevented this problem from occurring, which is why I couldn't reproduce the problem initially.

I've identified the cause of the problem - Google Analytics loads a tracking GIF with a unique URL on each reload, each of which is cached by the offline plugin. Since these are cached opaquely, the data i

[2018-11-14 09:05] kakadiadarpan commented on #9918
@eriktiekstra can you provide a reproduction repo for this issue? That would make it much simpler to diagnose this.

[2018-11-14 09:31] Steffi3rd commented on #9902
By the way, CSS is not render the same in mobile and web.

![unnamed](https://user-images.githubusercontent.com/814410/48473236-5d6b0300-e7f8-11e8-83b3-29cdc9b848a8.jpg)

[2018-11-14 09:42] craftybones commented on #7251
Until the branch is accepted and merged, do we simply filter using `Array.filter` on the data in JS?

[2018-11-14 09:47] clarkd commented on #2909
Will this be fixed in gatsby 1 at all?

[2018-11-14 10:14] oorestisime commented on #9917
Hello can you please provide a minimal reproduction repo?

[2018-11-14 11:14] dafanasiev opened #9920 "devcert-san package try to make some dirs when no --https provided to gatsby-cli"
## Description

When I try to run `gatsby develop` inside docker container with **readonly** and **empty** `$HOME` under **non-root** user I see:

[code]

This because `devcert-san` try to make some dirs inside `~/ .config`
see: [devcert-san/dist/constants.js, Line:59](https://github.com/davewasmer/devcert/blob/c2638eb82d32c0e882d63743746c81d9e35906a5/src/constants.ts#L59)

I think, that we need t

[2018-11-14 12:06] kmorf commented on #9918
@eriktiekstra does the issue also occur when you use hex values instead of rgb?

[2018-11-14 12:42] h0rhay commented on #9398
Finally figured out a way to achieve this 👍
Its all in here:
props.location.state

[code]

[2018-11-14 13:03] k3rn31p4nic opened #9921 "Using StaticQuery in html.js"
## Summary
I'm overriding `html.js` to add some data dynamically which I'm trying to get using GraphQL (using `StaticQuery`). Turns out it doesn't work, it compiles successfully and website opens up, but all it shows is this: `Loading (StaticQuery)`. Is this a bug or `html.js` doesn't support `StaticQuery`?

Since `StaticQuery` is (or rather, should be) supported by *any* component (as mentioned [

[2018-11-14 13:47] njmyers commented on #6654
Hello,

Following up on my comment from a few days ago. Here is my repo.

https://github.com/njmyers/byalejandradesign.com.git

I am using a monorepo in this project so here are some steps if you want to run the repository locally.

1. Ensure you have the latest version of Yarn 1.12.3
2. Clone the plugin branch `git clone https://github.com/njmyers/byalejandradesign.com.git -b wordpress-plugin`
3.

[2018-11-14 14:01] njmyers commented on #6654
Also if anyone wants to trace or debug their own site I suggest starting here...

[https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L240-L244](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L240-L244
)

I added logging to the catch clause and was able to determine that th

[2018-11-14 14:02] pieh commented on #6654
@njmyers I just did very brief look at that and I'm thinking that if this works, we should use similar approach in `createRemoteFileNode` directly. We are using `queue` there, so consumers of this function (`gatsby-source-wordpress` in this case) shouldn't need to worry about this. One thing that is potentially problematic is that 200ms throttle - maybe we could start without it and when we start

[2018-11-14 14:10] LoicMahieu opened #9922 "styled-components: global styles pollution"
## Description

In Styled Components, we can create global styles with the method `createGlobalStyle()`. This method results a Component and the stylesheet is only used when the component is mounted.

With Gatsby, if you use it, the global styles does not apply only for the page where the GlobalStyleComponent is mounted. In fact, the behavior is correct in development mode but not in the static bu

[2018-11-14 14:16] Steffi3rd commented on #9917
I found why...

With `gatsby develop`, Gatsby doesn't execute **each** post.
With` gatsby build`, Gatsby does.

In fact, I had post which has the field `image`, I didn't see it on develop.

So I just had a condition to display this `<Img ... />`

[2018-11-14 14:32] njmyers commented on #6654
@pieh Yes that would probably be the place to apply this logic. The throttling for me was a way to approach this and diagnose the issue so I agree that the `createRemoteFileNode` should be able to handle this on it's own.

Particularly problematic however is the current behavior of silently failing the errors and returning null. In my opinion there should be some communication about either the fai

[2018-11-14 14:36] njmyers commented on #6654
Also just read briefly the `queue` docs. I see what you are saying about `queue` being able to manage this on it's own.

[2018-11-14 15:39] jonathanphz commented on #5990
Hi @kinduff - is there documentation for`name` in:

[code]

I'm trying to figure something out and can't find it anywhere.

I'm using Netlify CMS and I set up the images folder to be `uploads` using `public_folder: uploads` (config.yml for CMS) but now that I have this working correctly I see that I have an `uploads` folder and a `static` folder basically duplicating all the images inside `public`

[2018-11-14 15:45] peterlazzarino commented on #5990
@jonathanphz the name should match a corresponding entry for gatsby-source-filesystem AFAIK

[code]

In my site the "media" named folder is referenced above, for gatsby-remark-relative-images as "media" and then in my config.yml I have the following

[code]

[2018-11-14 15:49] jonathanphz commented on #5990
@peterlazzarino yeah that's what I think but could not find documentation on using 'name' in `options: {}`

So on your public directory do you have an `img` directory and a `static` directory which both have the same images?

Right now the generated images are being placed in both for me - creating lots of duplicating image files.

[2018-11-14 15:51] #9917 closed

[2018-11-14 15:52] danielmahon commented on #5990
@jonathanphz @peterlazzarino The `options.name` config was removed in the latest version (which supports Gatsby v2), so you shouldnt need to worry about it anymore. The plugin will resolve all relative links from `gatsby-source-filesystem`. Just need:
[code]

If you have issues or feature request please feel free to open an issue on https://github.com/danielmahon/gatsby-remark-relative-images

[2018-11-14 15:56] peterlazzarino commented on #5990
@jonathanphz my images only end up in the static/img folder. Not sure how they'd end up in both, is the CMS inserting them in both places on publish?

[2018-11-14 16:04] pippo111 opened #9925 "[gatsby-source-wordpress] TypeError: Cannot read property 'find' of undefined"
## Description

When fetching data from wordpress.com hosted site with acf enabled got and error:

`TypeError: Cannot read property 'find' of undefined`

which leads to `fetch.js`, and line 513:

`const acfNamespace = allRoutes.data.namespaces.find(namespace => namespace.includes(`acf`));`

Seems like fetching from `https://public-api.wordpress.com/wp/v2/sites/[sitename]` does not includes `namesp

[2018-11-14 16:21] jonathanphz commented on #5990
@peterlazzarino When I run `gatsby develop` a `public` folder is generated. Inside that `public` folder I see the `img` folder but also a `static` folder - they share most of the images. This only started happening after I configured `gatsby-image`.

Not sure how it's happening but the images on the front end are coming from the static folder.

[2018-11-14 16:30] jonniebigodes commented on #9902
@Steffi3rd if you can, provide a repo so that this issue can be further investigated and we can provide better assistance with this.

[2018-11-14 16:38] erquhart commented on #5990
Netlify CMS only commits images to one destination, whatever path you've set as `media_folder` in your CMS config.yml. You can check the commits created by Netlify CMS in your repo to confirm this.

[2018-11-14 17:10] LekoArts commented on #9921
Why are you modifying the file?
And no, I most certainly think that GraphQL in general doesn’t work there. You can do everything with Gatsby’s APIs, there should be no need to modify this file.

[2018-11-14 17:16] Kosai106 commented on #4767
Try this in your `gatsby-node.js` file.
I had the same problem in my own project, but it seems like moving the `createPage` function and such into the `resolve`, fixed it. At least for me.

[code]

[2018-11-14 17:20] kakadiadarpan commented on #9807
@gswirrl `mini-css-extract-plugin` should support extracting several files, I'll check this.

[2018-11-14 17:31] Siilwyn opened #9927 "StaticQuery with React.createElement returns loading state"
## Description
Calling `StaticQuery` with `React.createElement` instead of JSX causes the output of `gatsby build` to be "Loading (StaticQuery)". Interestingly enough I see multiple closed issues around `StaticQuery` hanging and found that I get mixed results when using `gatsby develop`.

I made a repository to reproduce the issue, took the default gatsby starter and changed [layout](https://githu

[2018-11-14 17:47] amberleyromo commented on #9847
Note: @greglobinski fold into this work a "pullquote" style for blog posts that can be selectively employed. design is at your discretion, good opportunity to weave in some elements from the homepage section redesign.

(cc @lindaleebumblebee @marisamorby)

[2018-11-14 17:49] jonathanphz commented on #5990
Actually false alarm - this is still happening. Is not happening on publish. It's when I `gatsby develop`. The generated `public` folder contains images in `static` as well as `uploads`. Seems all the images in `uploads` are also in `static`. Currently debugging this.
![gatsby-config_js_ _cliniko-website](https://user-images.githubusercontent.com/1545577/48501670-7a193200-e81c-11e8-901a-80c689fcb5

[2018-11-14 17:54] axelboc commented on #1836
Hmm, no, just `@import "..."`. I think [the spec](https://developer.mozilla.org/fr/docs/Web/CSS/@import#Syntaxe) supports both syntaxes. Not sure about `postcss-import`.

[2018-11-14 17:56] jonniebigodes commented on #8335
@Manoz on the pc i'm using for development currently
with the following output from gatsby info
[code]
i get the following when running `gatsby develop`
[code]

i'm currenty updating yarn and node to the latest stable releases and see if anything changes and report back to you

[2018-11-14 18:40] aesthytik commented on #9902
@steffi3rd if you are using a CSS  library then it's better to put the cdn link in html.js. let us access to your repo for further assistance! 😁👍

[2018-11-14 19:02] BenjiLee commented on #9925
We were having similar issues after the gatsby@2.0.48 release yesterday. I think it was working for us for  when gatsby@2.0.40.

[2018-11-14 19:07] systemlevel commented on #9911
@kakadiadarpan I can confirm that I am experiencing the same thing.  The CSS styles are loading in different order.

<img width="399" alt="screen shot 2018-11-14 at 11 57 18 am" src="https://user-images.githubusercontent.com/894983/48505865-48e13780-e805-11e8-9904-d36e123e6359.png">

<img width="400" alt="screen shot 2018-11-14 at 11 58 58 am" src="https://user-images.githubusercontent.com/894983/

[2018-11-14 19:09] systemlevel commented on #9911
#9733

[2018-11-14 19:54] codejamninja commented on #9908
Absolutely, I'll get it to you later today.

[2018-11-14 20:03] codejamninja commented on #9908
[code]

[code]

Go to [localhost:8000](http://localhost:8000) and notice that the button is blue because `styled-components` **is not** overriding `carbon-components`.

[code]

Go to [localhost:9000](http://localhost:900) and notice that the button is orange because `styled-components` **is** overriding `carbon-components`.

[2018-11-14 20:06] cpboyd commented on #8237
FWIW, I don't remember this being an issue when I filed #7716 and #7568 (there was another issue, related to not being able to track styles when building more than one page).

I'm sure @oliviertassinari's method works, but you then lose out on the ability to have smooth transitions between pages with shared layouts...

Which is what `wrapPageElement` and `wrapRootElement` were intended to resolve.

[2018-11-14 20:14] Steffi3rd commented on #9902
I use Styled Component, is there a problem with this?

[2018-11-14 20:15] Steffi3rd commented on #9902
This url is : https://edgebase.github.io/blog/

[2018-11-14 20:17] silvenon commented on #1836
Oh, I thought `@import "..."` was exclusively a postcss-import/Sass thing. Nevermind.

[2018-11-14 20:29] jonniebigodes commented on #9902
@Steffi3rd no...that's the url for the production build, the full blow website address...What i and other people before me asked is if you could provide a repo as in a github repository address,  where you have your code hosted so that i and other people can check the code and see what is the issue and how we can assist you on resolving your issue. If you cannot provide that address because your c

[2018-11-14 21:59] KyleAMathews commented on #9902
If you're using a css-in-js library, you need to install its corresponding gatsby plugin to ensure that the css for pages is extracted and added to the generated HTML as otherwise, css isn't added until after the JS loads which causes the delay you see.

See https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/?=styled

[2018-11-14 21:59] #9902 closed

[2018-11-14 22:11] KyleAMathews commented on #6654
@njmyers nice investigation work! Definitely agree that the file downloading needs to be a lot smarter!

[2018-11-14 22:33] KyleAMathews commented on #6654
It could be nice actually to extract out the file downloading piece to its own package that focuses on this problem of downloading and caching remote files.

[2018-11-14 22:34] KyleAMathews commented on #6654
There's a good chance we'll need to use the functionality in multiple places in Gatsby and the future and it's something other folks on the internet would want to use as well.

[2018-11-14 23:30] njmyers commented on #6654
@KyleAMathews you mean extracting `createRemoteFileNode` to a separate package?

[2018-11-14 23:38] #7003 closed

[2018-11-15 00:18] gswirrl commented on #9807
@kakadiadarpan that would be fantastic - thank you so much!

g

[2018-11-15 00:38] cpboyd commented on #8237
Hmm.  So, after looking into it further, it seems that `gatsby-plugin-offline` was leading to my style issues.

[2018-11-15 00:50] cpboyd opened #9932 "gatsby-plugin-offline: jumbled JSS styles after load"
## Description

Styles are jumbled if `gatsby-plugin-offline` is enabled.  (In Chrome, when not using incognito mode.)
This was also mentioned in #5734.

### Steps to reproduce

Create a project with JSS styles (either material-ui or `gatsby-plugin-jss`) and try a `build`.

### Expected result

Styles should look as they do during `develop`.

### Actual result

Styles appear jumbled after JavaScri

[2018-11-15 00:57] k3rn31p4nic commented on #9921
Yeah. I'm just experimenting with it, to find its limits. Like, `StaticQuery`, does it not support it or is it a bug that's preventing it from working?

[2018-11-15 00:59] KyleAMathews commented on #6654
No just the file downloading and caching part. createRemoteFileNode would then just call this package and get back a promise that'd resolve when the file was downloaded (or returned from the cache).

[2018-11-15 02:08] Vpr99 commented on #7827
Okay @DSchau I've managed to get a working reproduction of my issue:

https://github.com/Vpr99/gatsby-sc-reproduction

Please take a look when you have a sec—I'm really stumped.

[2018-11-15 02:40] gzhihao commented on #5100
@justinformentin Did you try adding 'gatsby-plugin-emotion' to your gatsby-config.js? I had exactly the same issue like you (not emotion, but styled-component), after I added 'gatsby-plugin-styled-components' in the plugins config, the production build worked as normal.

If this is a common issue, it might worth adding warning message in dev mode.

[2018-11-15 02:54] jonniebigodes commented on #8335
@Manoz re-ran it same output. It compiled without issues, booted a vm running ubuntu 18.04 same result, no issues reported. Sorry that i could not help out more

[2018-11-15 03:19] daydream05 commented on #9918
Can you also post the variables file containing the colors object?

[2018-11-15 03:49] justinformentin commented on #9900
First, have you read through the docs? The [official tutorial](https://www.gatsbyjs.org/tutorial/) should answer most of your question, it has a ton of info. For auth, check out the [entry in the docs about it](https://www.gatsbyjs.org/docs/building-a-site-with-authentication/)

It has links to steps to take, examples, and tutorials. This is a good starting place. If you want some more content to

[2018-11-15 03:51] justinformentin commented on #9779
@kakadiadarpan I'll do this!

[2018-11-15 04:17] pfftdammitchris opened #9935 "passing CLI arguments to the client side?"
Does gatsby currently have support for passing in CLI arguments to client side?

Can we do something like gatsby build --testapi   and the client side will be able to pick that up? I am aware that environment variables are able to be pick up in the client side however

[2018-11-15 05:16] ikhudo opened #9936 "[gatsby-source-wordpress] How to safe query images from ACF in case if image is not set"
## Summary

How to handle situations when ACF image field is not required field and some posts has it set and other not? Build crashes with error `error GraphQL Error Field "general_post_icon" must not have a selection since type "String" has no subfields.`

[code]

[2018-11-15 05:20] #5851 closed

[2018-11-15 06:09] axhon commented on #9880
I've taken a stab at this. I will make a PR momentarily.

[2018-11-15 07:32] kakadiadarpan commented on #9921
@k3rn31p4nic `html.js` doesn't support `StaticQuery`. Check the documentation for [customizing html.js](https://www.gatsbyjs.org/docs/custom-html/), it only does things mentioned there.

[2018-11-15 07:56] kakadiadarpan commented on #9932
@cpboyd can you provide a minimal reproduction for this issue?