[2020-01-23 12:30] NiviJah commented on #20290
Thank you @vladar for confirming that.

[2020-01-23 13:14] DevSide opened #20815 "Some gatsby package dependencies should be devDependencies"
## Description

Migrate some dependencies in devDependencies for gatsby package.

At least these (non exhaustive):
- "@typescript-eslint/eslint-plugin"
- "@typescript-eslint/parser"
- "eslint"
- "eslint-config-react-app"
- "eslint-loader"
- "eslint-plugin-flowtype"
- "eslint-plugin-graphql"
- "eslint-plugin-import"
- "eslint-plugin-jsx-a11y"
- "eslint-plugin-react"
- "eslint-plugin-react-hooks"

#

[2020-01-23 13:21] iAdramelk opened #20816 "[gatsby-plugin-sharp] Regression of the thumbnail generation bug"
The bug described in https://github.com/gatsbyjs/gatsby/issues/19576 and fixed in 2.3.3 returned in 2.4.0.

After upgrading plugin to 2.4.0 it started generating thousands of thumbnails and regenerating them after each change, downgrading plugin to 2.3.13 fixed bug.

[2020-01-23 13:24] sidharthachatterjee commented on #20811
When using npm to run commands and to pass down arguments, you need to run `npm run serve -- -p 9001` as opposed to `npm run serve -p 9001`

You could also run `gatsby serve -p 9001`

Thanks!

[2020-01-23 13:24] #20811 closed

[2020-01-23 13:27] sidharthachatterjee commented on #20585
Thanks for opening this @jrotering

While the issue is on WordPress, `gatsby-source-wordpress` should definitely print a nicer error.

@TylerBarnes What do you think?

[2020-01-23 13:27] yaacovCR commented on #13425
At least for n+1 issue, you should be able to use existing createLink option and use an Apollo Link that supports batching, ie https://github.com/prisma-labs/http-link-dataloader

[2020-01-23 13:30] sidharthachatterjee commented on #20805
Closing this since it isn't a Gatsby issue.

Thank you for the report though @whoisryosuke and for updating gatsbyjs.com @KyleAMathews 🙌

[2020-01-23 13:30] #20805 closed

[2020-01-23 13:39] Olanetsoft commented on #20725
it's now working fine. What I did was to run my terminal as administrator and it worked perfectly.
Thanks to everyone and @TylerBarnes

[2020-01-23 13:41] sidharthachatterjee commented on #20745
Interesting issue, @karlhorky and thank you for taking the time to write this up.

`webpack.stats.json` which is written to `public` should contain _most_ of the stuff you'd like from a manifest. It typically looks like:

`{
   "errors":[

   ],
   "warnings":[

   ],
   "namedChunkGroups":{
      "app":{  },
      "component---src-pages-404-js":{  },
      "component---src-pages-index-js":{  },

[2020-01-23 13:55] sidharthachatterjee commented on #20442
Cc @erquhart

[2020-01-23 14:03] yaacovCR commented on #20083
You should be able to use existing createLink option and use an Apollo Link that supports caching, ie https://github.com/prisma-labs/http-link-dataloader

[2020-01-23 14:16] yaacovCR commented on #19995
Seems in the meantime you should use the prefixed version as canonical and strip prefix (the namespace) on client end (if possible).

[2020-01-23 14:21] sidharthachatterjee commented on #20445
Just to confirm, the `/product/:id` pages are generated at build time right and are not client side only routes right?

Can you post a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)?

[2020-01-23 14:22] karlhorky commented on #20745
Ok great! So I just need to `import` this file on the start of the Express server and use the information within it, I guess.

I'll see if I can make something work in the repo: https://github.com/karlhorky/gatsby-serverside-auth0

[2020-01-23 14:23] sidharthachatterjee commented on #20577
The packages you referred to _are_ all included in `commons` along with `react-dom`

This is intended behaviour. What was the behaviour you were expecting in this case?

[2020-01-23 14:25] sidharthachatterjee commented on #20815
These are correctly set to `dependencies` because they're used when running `gatsby develop` (Gatsby lints your site's code)

"eslint-plugin-flowtype"
"@typescript-eslint/eslint-plugin"
"@typescript-eslint/parser"

These on the other hand _are_ indeed devDependencies and could be moved there.

[2020-01-23 14:27] yaacovCR commented on #19995
Or possibly Gatsby could be smart enough to optionally add the prefix to unprefixed queries using a flag in config prior to delegation, would have to be done prior to validation...

[2020-01-23 14:28] karlhorky commented on #20568
Super interesting @ThewBear!

I would also have a use case for it, from #20745. "These solutions" is talking about access control - denying access per-user and per-page on an Express static file server, which will cause failed requests with pre-fetching.

[2020-01-23 14:29] erquhart commented on #20442
@wardpeet on the PR that added the `customizeWebpackConfig` option, [you mentioned](https://github.com/gatsbyjs/gatsby/pull/17442#issuecomment-534020542) that the proper fix would be to utilize a child compiler - would doing so cause the plugin to receive webpack config customizations that occur in a project's own `gatsby-node.js`?

[2020-01-23 14:29] karlhorky commented on #20568
Could you share your current solution with us?

I may use it in the interim to work around the failed requests in my proof of concept Gatsby + server-side Auth0 + Express repo: https://github.com/karlhorky/gatsby-serverside-auth0

[2020-01-23 14:30] sidharthachatterjee commented on #20816
@iAdramelk Do you happen to have a [minimal reproduction](https://gatsby.dev/reproduction) for this? That should allow us to take a look and resolve this as soon as possible.

[2020-01-23 14:32] #20728 closed

[2020-01-23 14:32] DevSide commented on #20815
What is the use case for running `yarn install --production` then `gatsby develop` ?

[2020-01-23 14:39] karlhorky commented on #20745
Ah I guess the `webpack.stats.json` file does **not** include the following (will update as I find more):

- files such as images under `static`

[2020-01-23 14:41] #20787 closed

[2020-01-23 14:44] sidharthachatterjee commented on #20812
@FONDSMATIVE The issue isn't a memory leak here but the fact that `sharp` is trying to allocate more memory to process _more_ images concurrently but unable to allocate more memory because Node allows you allocating 1 GB by default.

You should be able to fix this by setting `NODE_OPTIONS=--max_old_space_size=4096`

While you're at it, please set `GATSBY_CPU_COUNT=2` as well since Circle CI (incor

[2020-01-23 14:44] #20812 closed

[2020-01-23 14:46] sidharthachatterjee commented on #20810
In this case it looks like it's unable to load the actual image because it isn't being served?

https://test-site.averyfreeman.com/static/c78df94be856ff14ee88a2bb20f6a4e7/08bc8/trench-for-buildings-2.jpg gives me a 404 Not Found

That's the reason it stays blurry. Likely an issue with your hosting setup?

[2020-01-23 14:49] sidharthachatterjee commented on #20575
My guess here is what's happening is that iOS is loading a larger size due to Retina?

Have you tried looking at the network tab in the console when running on iOS and confirming what size loads?

[2020-01-23 14:51] sidharthachatterjee commented on #20262
@ichik Hmm, you're right. This looks like a regression.

I'll take a look at this and get this fixed.

[2020-01-23 14:54] ryanhefner commented on #20696
@vladar This should be resolved via #20794 .

@danoszz, @daydream05 This fix has been published. Please let me know if it resolves your issues.

[2020-01-23 14:56] sidharthachatterjee commented on #20630
@stephencweiss Have you tried https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/#optional-add-line-highlighting-styles?

[2020-01-23 14:58] TheFirstMe commented on #20575
@sidharthachatterjee Unfortunately, I don't have a Mac so I can't test that. But when I checked the link for the image, it was pointing to the original file (the one before processing). This started happening when I updated the outdated npm packages (gatsby and gatsby-image were among them). So when I checked the netlify deploy before updating the npm packages, the correct sized images were loadin

[2020-01-23 15:07] TheFirstMe commented on #20575
@sidharthachatterjee gatsby 2.4.3 was updated to 2.18.18 and gatsby-image from 2.0.41 to 2.2.37 among many others.

[2020-01-23 15:09] sidharthachatterjee commented on #20634
We're using `matchPath` from Reach here (which is documented in https://reach.tech/router/api/Match) so I'm unsure if `/*` works

Can you create a quick repo with the code you posted above for a minimal reproduction and I'll give it a run and take a look?

Thanks!

[2020-01-23 15:10] sidharthachatterjee commented on #20802
@zslabs Feel free to invite me and tag me in here once you've done so!

[2020-01-23 15:13] sidharthachatterjee commented on #20799
@saadsaifse Can you post the rest of your `gatsby-config`? Do you have `gatsby-source-filesystem` included?

A [minimal reproduction](https://gatsby.dev/reproduction) would help!

[2020-01-23 15:15] wardpeet commented on #20816
Hey @iAdramelk,

Can you check your build times as well? The latest upgrade seems like a regression but is actually not. We now log all transform operations even if they won't be processed. So it might say 300k images but actually only run 1000 images.

Previously the cache was inside gatsby-plugin-sharp but it's now moved to gatsby itself to make sure we can restart images processing when gatsby

[2020-01-23 15:16] sidharthachatterjee commented on #20658
@watermelemon Running `gatsby clean` and restarting `gatsby develop` like @ascorbic (rightly) suggested should do the trick but this is definitely a DX issue which we should fix.

I'll try to reproduce this locally and mark this confirmed then. Thanks!

[2020-01-23 15:20] Davey-Wright opened #20818 "useStaticQuery returning TypeError: Cannot read property 'edges' of undefined in Production"
I'm trying to query an image in my repository at src/assets/images/logo.png using the useStaticQuery hook inside of a functional component. Everything is working great in development, however in production I am getting a "TypeError: Cannot read property 'childImageSharp' of undefined"

### Steps to reproduce
[This is the production site which is hosted on Netlify](https://focused-banach-89bab7.net

[2020-01-23 15:21] iAdramelk commented on #20816
@wardpeet build time slightly increased, but not very much. The main problem is not static build time, but that in development mode, after each update, all images are regenerated. Basically: Add 1 symbol to md file, save, and wait for 30-60sec for all images to rebuild.

@sidharthachatterjee Sorry don't have it ATM, can create it tomorrow if examples from old tickets is not enough.

[2020-01-23 15:28] #20664 closed

[2020-01-23 15:31] bartol commented on #20816
I have same problem. What is lastest version that I can roll back to?

[2020-01-23 15:32] corymcdaniel opened #20819 "Sorting an array of objects does not update img src"
## Description

This only occurs in a production build.

When providing an array of objects that include an image source url to a component, you would expect the properties to display per object.

Shuffling the array randomizes everything, but React seems to re-render everything other than the img tag.

Various sort methods to randomize the array have been tried with the same result.

Code example

[2020-01-23 15:32] iAdramelk commented on #20816
@bartol 2.3.13 is ok.

[2020-01-23 15:53] averyfreeman commented on #20810
I just threw the test site up there, I forgot to add the subdomain to `gatsby-config.js`

I first noticed the problem after uploading it to my production site  `gatsby serve` and `gatsby develop` also do not load images.

Tried to get the updated packages to work before I finally gave up, reverted back to the depreciated packages and re-uploaded.

Same exact site works fine with the old packages,

[2020-01-23 16:03] karlhorky commented on #20745
Updated the proof of concept repo:

https://github.com/karlhorky/gatsby-serverside-auth0/commit/72d41bfde2c6eca27bee9947a1420eecf95070b8

Here's the difference:

### Old Solution

[code]

### New Solution
[code]

[2020-01-23 16:07] KamranMaqbool commented on #20788
@vladar i'am using WordPress it has live on this URL
https://okaraherbal.com/
when i'am hit  API request using postman then return me proper results using this URL
( https://okaraherbal.com//wp-json/wp/v2/posts)
i'am follow all the steps that are give in gatsbyjs website

[2020-01-23 16:17] #20696 closed

[2020-01-23 16:18] KamranMaqbool commented on #20788
@vladar when using wordpress demo (https://demo.wp-api.org/) API then return me proper results
but when using our hosting wordpress site then give me error

Path: /wp-json
The server response was "403 Forbidden"
 ERROR #11321  PLUGIN
"gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle:
Cannot read property 'data' of undefined
 TypeError: Cannot read property 'data' of

[2020-01-23 16:21] vladar commented on #20788
Probably you have a special WordPress plugin installed (like https://wordpress.org/plugins/wp-rest-api-authentication/ or similar)

So you must up WordPress `auth` properly in Gatsby plugin. Check out `auth` option in the [plugin documentation](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/).

Also, quick google returns [this article](https://www.dajocarter.com/posts/wordpress-authenti

[2020-01-23 16:29] vaclavnovotny commented on #15601
I run into same issue porting large SPA from custom webpack config to Gatsby. I need corejs@3 features since codebase relies on it heavily.

After installing corejs@3 I patched babel config in *babel.config.js* to use `corejs: 3` in [babel-preset-gatsby](https://github.com/gatsbyjs/gatsby/blob/master/packages/babel-preset-gatsby/src/index.js#L54)

[code]

and I removed alias in webpack config

[co

[2020-01-23 16:29] KamranMaqbool commented on #20788
@vladar i also follow article that you share
my gatsbyjs file are this

/**
 * Configure your Gatsby site with this file.
 *
 * See: https://www.gatsbyjs.org/docs/gatsby-config/
 */

module.exports = {
  /* Your site config here */
  // iteMetadata: {
  //   stitle: "Gatsby Default Starter",
  // },
  plugins: [
    `gatsby-plugin-react-helmet`,
    {
      resolve: `gatsby-source-wordpress`,

[2020-01-23 16:30] KamranMaqbool commented on #20788
error are this

Path: /wp-json
The server response was "403 Forbidden"

 ERROR #11321  PLUGIN

"gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle:

Cannot read property 'data' of undefined

  TypeError: Cannot read property 'data' of undefined

  - fetch.js:141 fetch
    [hello-world]/[gatsby-source-wordpress]/fetch.js:141:21

  - next_tick.js:68 process._tickCallback

[2020-01-23 17:01] pieh commented on #20816
Note here after some investigation:
I tried reproducing this with `gatsby-starter-blog` and editing markdown file with some images ( https://github.com/gatsbyjs/gatsby/blob/master/starters/blog/content/blog/hello-world/index.md ):

We do get progress bar, but image generation doesn't actually happen (we reuse previously generated ones). Only way I could trigger true image processing is when I actu

[2020-01-23 17:13] danoszz commented on #20696
@ryanhefner yessir! Thanks for the quick fix 🏄‍♂️

[2020-01-23 17:15] tomivirkki commented on #19608
This is still an issue with the latest version of Gatsby. It's reproducible with `gatsby-source-filesystem` and `gatsby-transformer-remark` alone.

I bumped into this while working with `gatsby-transformer-asciidoc` to be precise, but it seems to be about the same issue.

My current workaround is to fix Gatsby version to `2.17.16`.

Created a repro at https://github.com/tomivirkki/bug-repro

[2020-01-23 17:25] zslabs commented on #20802
@sidharthachatterjee Did you have an email I could reach out to you at by chance?

[2020-01-23 17:26] joebentaylor1995 opened #20821 "Scrolling fast causes rendering issues"
## Description
Whenever I scroll a gatsby site really fast, its like gatsby cant keep up with how fast i am scrolling and i end up seeing the background or only partial components, I've got a really basic static site without much animation, this happens on every project.

Its sounds very similar to this discussion but without the listeners:
https://spectrum.chat/gatsby-js/general/ways-to-avoid-scr

[2020-01-23 17:35] jonniebigodes commented on #20784
@vinyltek before moving on and to get the most accurate information possible that will allow me to help you further, i would like for you to compare the following json content to your prismic content model and see if it's accurate so i can move onto adding some dummy content and with that get a sense of what is happening, sounds good?
[code]
The custom type i've created is called homepage and a si

[2020-01-23 17:41] jonniebigodes commented on #20819
@corymcdaniel if you don't mind waiting a bit i'll take a look and come back with possibly a detailed solution and explanation.

[2020-01-23 17:45] corymcdaniel commented on #20819
@jonniebigodes having a second eye on this would be awesome, thank you

[2020-01-23 17:59] vinyltek commented on #20784
Hey @jonniebigodes, The Slider is in my homepage, which is also singleton type. I have quite a bit of content in my home page so I stripped out the Slider JSON for you:

[code]

[2020-01-23 18:46] stephencweiss commented on #20630
@sidharthachatterjee Yes, I believe so.

Reading over my initial post, I may not have been totally clear in my original question. Let me try again.

I have highlighting configured on my site (see the screen shot below).

What I'm missing is what the CSS would look like for the `diff` language so that it's red for `-` lines and green `+` lines. Per [Prism's site, this appears to be called `diff-hig

[2020-01-23 18:49] stephencweiss commented on #20630
Said another way:
1. Is `diff-highlighting` built into the `remark-prism` plugin?
2. If it is, is there a way to indicate within the code fence that you want to apply that style? Similar to how you add a title by saying:
[code]

[2020-01-23 19:03] kmcaloon commented on #14395
@jeffreznik thanks. It's actually working beautifully for me right now. I'm sourcing my data in a very custom way and mostly leveraging `createPages`. Everything is updating as it should _extremely_ quickly.

[2020-01-23 19:25] jonniebigodes commented on #20819
@coreyward i think i have a solution for you, i'm going to make some tests to confirm and come back to you. I need to check with smaller pictures as the ones you're providing in the repo are extremely large. Do you mind waiting a bit further?

[2020-01-23 19:26] jonniebigodes commented on #20784
@vinyltek i was a bit off there, i'll adjust the json on my end and put some content and proceed from there

[2020-01-23 19:33] vinyltek commented on #20784
Sounds good, @jonniebigodes. Thank you :)

[2020-01-23 19:43] rosnovsky commented on #18661
A fix by @sdobz totally works as a dirty temporary solution. The error stops breaking gatsby, and you just need to hit refresh to see your changes (not ideal, but whatever, it's better then restarting gatsby every time I save a file)

This is still a pressing issue though, rendering `gatsby develop` unusable for, well, development. It would be really cool if some one from the core team  addressed

[2020-01-23 20:08] TylerBarnes commented on #20802
@sidharthachatterjee @zslabs just wanted to note that I've seen a similar issue before and in my case the problem was that emotion was loading a ton of source maps. If I remember correctly I turned source maps off for that project and it sped up the develop load 100x.

[2020-01-23 20:20] zslabs commented on #20802
@TylerBarnes You are an absolute hero! 💪 Turning off sourcemaps in develop mode 100% did the trick. Thank you so much for the tip!

Thanks @KyleAMathews and @sidharthachatterjee for the super-fast responses to this one. I know it can be quite difficult to help debug all the different types of crazy things we're building out there on the web, but sincerely appreciate you being willing to help debug

[2020-01-23 20:26] tkh44 commented on #20802
I've been noticing and seeing reports or larger projects experiencing negative effects of having source maps enabled when using emotion. I think its just the sheer amount of additional content generated. I've been leaning towards recommending disabling sourcemaps by default in emotion 11.

cc @mitchellhamilton

[2020-01-23 21:08] zslabs commented on #20802
@tkh44

[2020-01-23 21:08] #20802 closed

[2020-01-23 21:29] saadsaifse commented on #20799
Thank you @sidharthachatterjee. I created a minimal reproducible project [here](https://github.com/saadsaifse/gatsby-repro) and that helped me identify my issue.

As you can see, I am using `gatsby-remark-prismjs` pulgin that depends on `prismjs` but `prismjs` was not installed (my bad) that was causing the issue. If you want to reproduce the issue, checkout my repository and follow the README.

C

[2020-01-23 21:48] jquense opened #20826 "Fragments referencing each other causes a stack overflow"
## Description

If you have two fragments and they reference each other

`determineUsedFragmentsForDefinition` hits a infinite loop

### Steps to reproduce

[code]

[2020-01-23 22:05] corymcdaniel commented on #20819
@jonniebigodes That's fine, although I am curious why the filesize would make a difference.

[2020-01-23 22:20] jonniebigodes commented on #20819
@corymcdaniel i've checked it and it seems to be working correctly. Below are the steps i took to triage and solve your issue and after that i'll try to add some context on what is happening.

- Cloned the repo you supplied in the description.
- Installed the packages.
- Ran `yarn build && yarn serve` to generate the production build and i saw the issue.

Based on that i made some changes to the c

[2020-01-23 22:38] corymcdaniel commented on #20819
@jonniebigodes Thank you so much for the in-depth response.  I'll use your solution for now, but I think this is a deeper issue that needs to be investigated at some point.

Just as a side-note, I wanted to make sure it was Gatsby related before posting this which is why I tested the issue against create-react-app.  Since CRA didn't experience the same problem, I am pretty sure it has something to

[2020-01-23 22:43] lqze commented on #20818
Was this working prior or has this just started occurring. Did you recently update Gatsby?

[2020-01-23 22:57] Davey-Wright commented on #20818
I just added the query hook today and it hasn't worked in production yet

[2020-01-23 23:01] TylerBarnes commented on #20585
@marcospaiva I believe your issue is different than the original issue. Yours sounds like your server is getting overloaded by the requests, while @jrotering's issue is about 1 post in a list of posts causes an internal error on the WP server.

We should definitely have a nicer error in this case. I think we should print out whatever error the server responded with as well as which endpoint was cu

[2020-01-23 23:04] TylerBarnes commented on #20585
One more thing! The next major version of `gatsby-source-wordpress` will use WPGraphQL, so we will receive clearer errors from the server and that will be a huge help for those that upgrade.

[2020-01-23 23:11] jonniebigodes commented on #20819
@corymcdaniel fine by me to leave it open, no offense taken whatsoever, i personally don't like it, but the workaround works and i'm more inclined to the hydration aspect than the ssr, i might be wrong about this, but it's a "gut feeling" i have.

[2020-01-24 00:02] lqze commented on #20818
Interesting, and obviously it's not giving any output on `gatsby build`?

[2020-01-24 00:03] cbdp opened #20829 "gatsby-image: Querying for multiple images listed in a JSON file returns childImageSharp as null"
## Relevant information
Hi. Right off the bat, let me say I'm new to react and gatsbyjs. It's quite possible my issue is easily solved, but in case it's not, I thought it'd be worthwhile to add it here.

The issue is this: Despite countless tries, I can't get graphql to return anything other than null for images listed in a json file. I've been reading most of the relevant issues on this board to

[2020-01-24 00:32] maecapozzi commented on #20815
I can take this.

[2020-01-24 00:41] maecapozzi commented on #20815
@sidharthachatterjee is Gatsby really running `gatsby develop` in production? Seems like that command would be solely for development, with `gatsby build` being used to prepare the site for deployment.

[2020-01-24 01:11] jonniebigodes commented on #20829
@cbdp see if #12916 helps you if not, feel free to provide a minimal reproduction based on [this](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so it can be looked at in more detail

[2020-01-24 01:31] cbdp commented on #20829
@jonniebigodes Thank you for your quick reply, I've read almost all your replies to problems of this nature, including #12916. I have to say, they've helped me a lot, but I'm stilling getting the null issue. Yours is a help I'd appreciate, since your posts are always incredibly thorough. I don't mind waiting if it means an end to the headache this is causing me. I know you always say no thank you

[2020-01-24 02:59] iAdramelk commented on #20816
@pieh sorry, can't do minimal reproduction yet, but our project is in open github repository so you can check it there.

Project: https://github.com/iterative/blog/

Commit with that had the bug: https://github.com/iterative/blog/commit/f90b2fc8e2a7749eed1c3d390481ba3b761463bd
Commit that downgraded it and fixed the bug: https://github.com/iterative/blog/commit/a773f5fc337113de3b4f3a47fbba166667aa

[2020-01-24 09:26] joebentaylor1995 commented on #20821
On further insection, this issue only becomes apparent in Firefox

[2020-01-24 10:17] pmarxbraun opened #20833 "Passing static query data"
## Summary

I'm trying to use ['react-grid-gallery'](https://benhowell.github.io/react-grid-gallery/) component in my Gatsby project. It works perfectly when I copy/paste the example code. But when I want to use staticQuery to get my images I can't pass the data in the IMAGES array.

Here's my code

## Relevant information

import React from "react"
[code]
The first image in my array from staticfl

[2020-01-24 10:19] ThewBear commented on #20568
@karlhorky I call `window.___loader.enqueue` inside useEffect hooks in Page component. `gatsby-link` also implements this.
https://github.com/gatsbyjs/gatsby/blob/721e9d1cf4a53604cddb7901003046bd3649836c/packages/gatsby-link/src/index.js#L70

[2020-01-24 10:22] ichik opened #20834 "Hybrid mode for gatsby-plugin-manifest doesn't load icons from static folder anymore"
## Description

Recent update broke loading of icons from static folder, only auto-generated icons are loaded now.

### Steps to reproduce

This is the config I have:
[code]

What happened previously was that manually created ico file was used and for other sizes auto-generated ones were used. Now the ico file is disregarded. Switching to manual mode (without ```icon: `src/images/site-icon.png`,``

[2020-01-24 10:28] pieh commented on #20816
That's good! I think reproduction being larger site is what contributes to the general slowness.

I do suspect it's not related to image generation as that's just visual bug (at least in my testing of very small blog), but rather to extraneous query running I mentioned in my previous comment, but will keep you posted once I check site from your repo (to see if there is image generation happening t

[2020-01-24 10:42] #20834 closed

[2020-01-24 10:53] Davey-Wright commented on #20818
here is the output, there is an DeprecationWarning error, but don't think that is the issue.

[code]

[2020-01-24 11:02] Davey-Wright commented on #20818
I'm also using the gatsby-source-instagram plugin and making a staticquery to get posts and then using that query to render them in the sidebar. But I am getting the same error with these as well, it works as expected in development/localhost but in production these errors are being raised. It's almost like I can't use the useStaticQuery hook at all!?

[2020-01-24 11:15] ichik commented on #20834
Appears to be an error with my config, after some tinkering I reverted it back to previous behaviour.

[2020-01-24 13:28] pvdz commented on #20787
FYI: this may have been a red herring. While the count was definitely broken, it seems develop had another problem with redundant build steps being triggered. This should be fixed after https://github.com/gatsbyjs/gatsby/pull/20836 merges.

[2020-01-24 13:46] averyfreeman commented on #20810
I stand corrected

I fixed the "siteURL' under module.exports {} and the images appear to load properly

This is kind of weird though because the siteUrl was properly set for the production server, but the images didn't load.

Unfortunately I don't really feel like it's resolved unless I know what actually happened, but it doesn't appear to be the subject of the original report topic, so I'll go a

[2020-01-24 13:54] sidharthachatterjee commented on #20787
Fix was published in `gatsby@2.19.4` @wodenx

Thanks for the report!

[2020-01-24 13:57] averyfreeman commented on #20810
I just noticed I tried to use 'gatsby build' in another terminal that was using node 13.5.0 through nvm and it failed bc of the sharp module

switched to node 12.14.1 and gatsby build worked straight away.  Perhaps this is related.

[2020-01-24 13:57] #20810 closed

[2020-01-24 14:00] DRiFTy17 commented on #20645
For anyone else running into this, I figured it out with some trial and error. Might be worth mentioning this on the docs page, but you don't want to include `gatsby-transformer-remark` inside of the `gatsbyRemarkPlugins` option for `gatsby-plugin-mdx`:

[code]

[2020-01-24 14:00] #20645 closed

[2020-01-24 14:14] sidharthachatterjee commented on #20575
@TheFirstMe Interesting. That's useful context. Let me try bisecting changes between those versions.

[2020-01-24 14:25] dlangsam commented on #15553
@ImedAdel We also have this issue. Do you have an example of your solution?

[2020-01-24 14:29] sidharthachatterjee commented on #20788
@KamranMaqbool It looks like you're setting

[code]

[2020-01-24 14:30] tmvst commented on #18835
@studentofcoding were you able to solve this? I'm in a similar situation – I want to add a custom page separate from the articles list, and I want to load two most recent articles from contentful into it. I wasn't able to achieve this from the /pages directory. So my idea is to add it as a template to gatsby-node.js same as how other templates are there currently.

[2020-01-24 14:35] sidharthachatterjee commented on #20745
@karlhorky Yup, absolutely. I think this could be a pretty cool gatsby plugin which could use `onCreateWebpackConfig` (off the top of my head) to hook into webpack using a custom plugin to get all assets for a page (including more than just `js`).

Could list these like you said in `onPostBuild` in a plugin

These names _can_ be hard coded because they will always be called these (by design) but I

[2020-01-24 14:41] sidharthachatterjee commented on #20821
The site scrolls fine for me on Chrome. I haven't tried Firefox.

I would attribute this to user land code or React and _not_ Gatsby as the spectrum page suggests.

Closing this for that reason. Thank you so much for taking the time to open this though!

[2020-01-24 14:41] #20821 closed

[2020-01-24 14:43] joebentaylor1995 commented on #20821
Im sorry but thats such a poor reason to close this issue, this issue needs fixing in firefox

[2020-01-24 14:49] sidharthachatterjee commented on #20815
Hmm, after some thinking I just realised that these shouldn't be dependencies of `gatsby` but in our monorepo root `package.json` since they're used when developing gatsby (and not a gatsby site)

[2020-01-24 15:36] andrewgilliland opened #20838 ""gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle while deploying to Netlify"
## Description

I am seeing the error  ""gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle", "Cannot read property 'data' of undefined" when I deploy to Netlify. I had looked through a previous issue that was similar, but none of the suggestions fixed this issue.

### Steps to reproduce

I am using Local by Flywheel to host my wordpress locally at the url "http://head

[2020-01-24 15:58] jonniebigodes commented on #20829
@cbdp i accept it, but seriously there's no need to thank. I'm more than glad to help out as much as i can to the best of my knowledge, I can take a look at it during the weekend and come back with a response.

I saw that @sidharthachatterjee assigned himself to this and you'll be in good hands aswell. @sidharthachatterjee if you're ok with it i can provide further context.

[2020-01-24 16:04] cbdp commented on #20829
@jonniebigodes I cut the example out of a larger (non-avian) project, so I have plenty of busywork to do during the weekend, but I'll be at a (non-tech) conference from monday to thursday next week. So please, take as long as you need.

@sidharthachatterjee Thank you for assigning yourself to see my issue resolved. This is my first go around on github actually participating in the endless threads

[2020-01-24 16:08] maecapozzi commented on #20815
Just to make sure I understand, I can remove all dependencies related to typescript and flow from `/packages/gatsby`?

So for example, I can ditch `eslint-plugin-flowtype`.

[2020-01-24 16:48] pieh commented on #20816
Can you try updating:
 - `gatsby` package to at least 2.19.4 (there was fix related to  extraneous query running)
 - and `gatsby-plugin-sharp` to use `progress-fix` dist tag:

`yarn add gatsby gatsby-plugin-sharp@progress-fix`

this seems to fix the issues here, but want to double check

The gatsby-plugin-sharp changes have in progress / draft PR that you can track in https://github.com/gatsbyjs/g

[2020-01-24 16:50] Wilmerj opened #20841 "Cannot find module 'gatsby/graphql'"
## Description

Bug when install two basic plugins gatsby-transformer-remark and gatsby-source-filesystem

### Steps to reproduce

Install gatsby-transformer-remark and gatsby-source-filesystem and run comand gatsby develop

Versions installed:

"gatsby-source-filesystem": "^2.1.46"
"gatsby-transformer-remark": "^2.6.48"

### Actual result
success delete html and css files from previous builds — 0

[2020-01-24 17:12] ArcaneTSGK opened #20842 "A more elegant way to create pages with multiple routes"
## Summary

The project requires conditional rendering of components depending on which platform the end user accesses our gatsby application, requiring multiple routes/paths for the same page. We know what we need to render for each platform, therefore these pages should be created at build time (static content).

For example, two platforms, Web and Download.

The following is the solution I have

[2020-01-24 17:29] caseykey commented on #20734
Hi Tyler!

Thanks for your help. If you want some StackOverflow cred I also posted this question [here](https://stackoverflow.com/questions/59831767/graphql-query-access-all-transformed-json-files-within-a-folder-located-in-subdi).

[2020-01-24 19:20] muescha commented on #20184
there are some new broken links in beetween:

https://www.meetup.com/es-ES/Rockstar-JavaScript-Barcelona/events/260615768
https://www.gatsbyjs.org/contributing/events/xperion.ieeesbnssce.org
https://www.gatsbyjs.org/contributing/events/www.startupweekend.com
https://www.gatsbyjs.org/contributing/events/www.hackbmu.com
https://www.gatsbyjs.org/contributing/events/wizathon.in
https://www.gatsbyjs.or

[2020-01-24 19:46] Jongtelles commented on #17557
I am still running into this issue now attempting to follow the Gatsby tutorial, running node v13.6.0

[2020-01-24 21:10] vladar commented on #19608
Thanks for the repro. I'll take a look when I have a chance!

[2020-01-24 21:19] kudos commented on #19103
This seems to be an issue with yarn vs npm. In a clean environment I can run gatsby with npm installed modules, but not with yarn installed.

[2020-01-24 21:25] TylerBarnes commented on #20734
Glad to hear that helped! Thanks for the link. Just posted my first-ever SO answer ;)

[2020-01-24 21:27] gillkyle commented on #20184
Thanks for the research investigating this and the ping @muescha! I'll go in now and update the links missing the `http://` protocol on Airtable. I do like the idea of finding a better check for urls!

[2020-01-24 21:29] TylerBarnes commented on #20725
Apologies for the late reply. Glad to hear you have it working! It sounds to me like your node/npm installs may have been installed as admin which could be the problem. I think it's a bad idea to run scripts as admin as it gives them access that can be dangerous if you were to unintentionally run a malicious package. I would recommend trying to re-install node/npm again to see if that fixes it

[2020-01-24 22:23] jonniebigodes commented on #20784
@vinyltek i think we're in great shape, i'm going to make some more tests and see if it's working and tomorrow i'll post back a comment with a solution and what is actually happening. Do you mind waiting a bit longer?

[2020-01-24 22:49] rayhatfield opened #20851 "Wrong source image for cropBottomLeft in image-processing documentation"
## Description

The `cropBottomLeft` image on the image-processing documentation is using the wrong source image.

![Screen Shot 2020-01-24 at 4 45 54 PM](https://user-images.githubusercontent.com/1164081/73109652-5d20ca00-3ec9-11ea-99fc-1a7191cf52e3.png)

### Steps to reproduce

1. Visit [https://image-processing.gatsbyjs.org/](https://image-processing.gatsbyjs.org/)
2. Notice the thumbnail for `

[2020-01-24 23:09] tesseralis opened #20853 "Figure out integration strategy for translation repos."
## Description

Integrating a lot of different translation repos as sources can lead to a lot of issues that can break the build. This issue lists some of those issues and possible mitigation strategies.

## Possible Issues

### Formatting errors in translation repos

For example, the Indonesian translations had this in frontmatter of one of the tutorials:

[code]

The intention was to italicize "

[2020-01-24 23:28] vinyltek commented on #20784
Hey @jonniebigodes, exciting news! I don't mind waiting at all. This is a website for a client, expecting to launch next week so we have more than enough time. I'm glad you may have a solution! I was tinkering around myself a bit more with no avail. Have a great night!

Thanks again

[2020-01-24 23:38] devprodark commented on #14160
found a solution that worked for me. in package json add the following script and run npm run clean. cleans the cache. this is a cache issue with gatsby.

`{
  "scripts": {
    "clean": "gatsby clean"
  }
}`

[2020-01-24 23:56] tesseralis opened #20854 "(docs) Move content about Breadcrumbs and Table of Contents from "docs-and-website-components""
## Summary

The [Docs and Website Components page](https://www.gatsbyjs.org/contributing/docs-and-website-components/) has a section called "other available components", which lists breadcrumbs and table of contents as components you can import to your page.

But that those components are *already* included by default on most docs pages and don't need to be manually imported to markdown. The relev

[2020-01-25 00:36] lqze commented on #20818
Hmm.,..anyway you can get a reproducible environment to test?

I can clone your repo but I need the .env config

[2020-01-25 00:53] melilocacr opened #20855 "Gatsby build fails with "Cannot read property 'page_blocks' of null""
## Description

I am able to run`gatsby develop` locally on my laptop, but when I run `gatsby build` on my server to deploy my site, the process crashes and I get the following error:

[code]

The issue seems to be occurring in the output of a GraphQL query that provides me with the `data` object. But this doesn't happen in my local setup, and it seems like the GraphQL connection is working and fe

[2020-01-25 02:54] meronek commented on #16097
I'm running into this same problem also, and where it's affecting me is SEO and URL linting. As soon as a 404 is returned, SEO and URL linters just fail. A Lighthouse audit will demonstrate it, too.

This page here is pre-rendered: https://theboardr.netlify.com and everything's fine. Lighthouse audit works.

This page is client side only and returns a 404 but the page loads fine in the browser. UR

[2020-01-25 05:03] hitchcott commented on #18961
I'm experiencing a similar issue; `app-data.json` isn't getting prefetched on mobile, even with a fast simulated network (and over WiFi on a real device). It's making a round trip when navigating links and feels slow.

Here's what it looks like. First on desktop demonstrating `onMouseOver` prefetching, and then on viewport without the same behaviour, and slow navigation.

![Screen Recording 2020-0

[2020-01-25 06:01] snigp opened #20858 "Heroku deployment doesn't work"
Hello, I'm trying to deploy gatsby on Heroku but it doesn't work... I'm getting this error:

<img width="363" alt="Schermata 2020-01-25 alle 06 52 37" src="https://user-images.githubusercontent.com/60283077/73116998-a449a200-3f3f-11ea-997a-e56d3ef2bb18.png">

`2020-01-25T05:46:32.061460+00:00 app[web.1]: 2020/01/25 05:46:32 [error] 32#0: *5 directory index of "./public/" is forbidden,`

### **Setu

[2020-01-25 07:22] rajatsharma commented on #20709
This PR #20860 fixes this

[2020-01-25 08:53] Olanetsoft commented on #20725
Okay I will do that 🤗 and give feedback... thank you @TylerBarnes

[2020-01-25 08:56] radscheit commented on #2492
@lauritowal Thank you very much, saved my life! :)

[2020-01-25 11:06] hitchcott commented on #18961
Closing this, I'm assuming this is intended behaviour now.

I must have just had a very slow connection when testing.

[2020-01-25 11:06] #18961 closed

[2020-01-25 11:12] arhoy opened #20861 "How to create a checkout process using gatsby-source-shopify"
Hello,
Quick question on how to create a checkout process using this plugin. It seems like there is no way to handle checkout via this plugin. Am I missing something?

https://www.gatsbyjs.org/packages/gatsby-source-shopify/?=shopify

Thank you!

[2020-01-25 12:02] #20288 closed

[2020-01-25 13:21] KamranMaqbool commented on #20788
@sidharthachatterjee i'am checking credentials also and update source-wordpress-plugin then above error are gone but new error are generated.like this

**The request failed with error code "ENOTFOUND"**
ERROR #11321  PLUGIN
"gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle:
Cannot read property 'data' of undefined
TypeError: Cannot read property 'data' of undefined

[2020-01-25 13:22] KamranMaqbool commented on #20788
any one help i'am send our wordpress admin panel credentials for test what's the problem are there

[2020-01-25 13:27] KamranMaqbool opened #20863 "The request failed with error code "ENOTFOUND""
when run `gatsby develop` command then this error are generated. i'am using wordpres source plugin and use live wordpress site for data fetching.

The request failed with error code "ENOTFOUND"
ERROR #11321 PLUGIN
"gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle:
Cannot read property 'data' of undefined
TypeError: Cannot read property 'data' of undefined

fetch.js:1

[2020-01-25 13:36] KamranMaqbool commented on #20863
![Screenshot from 2020-01-21 23-46-48](https://user-images.githubusercontent.com/53546053/73122022-9462aa00-3fa1-11ea-83fd-07beb4355e30.png)

[2020-01-25 15:57] Jimbob001 opened #20867 "Rendering based on screen width not working correctly in production"
## Description

Not 100% sure what this issue is, but I've fallen into twice with my own project and I seem to have found others are having the issue as well.

When rendering different elements based off querying the screen width, you get some funny results when you build the code into production. This is despite putting in protection again the window object being missing during the build.

For in

[2020-01-25 16:14] ImedAdel commented on #15553
@dlangsam That was for my internship and I really forgot the details, but I think what I did was that I defined an array with all the paths `["/path1", "/path2", "/path3"]`, I looped over it using `forEach`, and I ran `actions.createPage()`.

[code]

Initially, I didn't want to have to generate duplicate pages with different paths, however, that appeared to be impossible with Gatsby.

[2020-01-25 17:11] jonniebigodes commented on #20784
@vinyltek i'm going to detail the steps i took and where the issue lies and the solution for this, not only for you, but for anyone else that might encounter this issue.

 - Updated the prismic custom type, based on your information, my type now looks like the following:
[code]

- Added a couple of images to the media library.
- Created a entry to fill in the content and it looks like this(the ima

[2020-01-25 17:42] vinyltek commented on #20784
Wow, @jonniebigodes, I can't believe it was such a small issue causing this problem! I can't thank you enough for all the time and help you put into helping me solve this! Gatsby is a great framework, with a great community. I can now proceed to get this site ready for my client.

Thank you so much once again, @jonniebigodes!

[2020-01-25 18:09] cainlevy opened #20870 "typing for onCreatePage incorrectly says page arg is Node"
## Description

I'm using TypeScript for my `gatsby-node` file so that I can use `GatsbyNode` type definitions. When following the example in https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/#configuring-pages-with-matchpath, I get TS errors such as:

<img width="472" alt="image" src="https://user-images.githubusercontent.com/4449/73125297-2f379600-3f5a-11ea-92db-5095741307

[2020-01-25 18:16] jonniebigodes commented on #20784
@vinyltek that was my thought aswell, this small thing was the issue? To be honest, when i saw the issue i've linked,i was laughing like a mad man as at that stage i had amost of the website's code rewritten.... and your answer quasi ready to be posted 😃.

No need to thank, i'm glad that i was able to solve your issue.

If you don't mind, i'm going to close this issue as it's resolved, should any

[2020-01-25 18:16] #20784 closed

[2020-01-25 19:01] kingisaac95 commented on #20790
@bball07 are you still looking into this? If not, I can take it on as my first issue to resolve

[2020-01-25 19:24] hejsfj opened #20872 "onCreatePage runs into a loop"
I am using onCreatePage to localise all my existing pages and add context as well as manipulate the path. However onCreatePage triggers every time the new page is created. The Gatsby mechanism which should prevent this does not seem to work in my case. What am I missing here?

`const locales = require(`./config/i18n`)

const {
    removeTrailingSlash,
} = require(`./src/utils/gatsby-node-helpers`)

[2020-01-25 21:47] gpspake commented on #17826
I'm still having this issue on OSX using Yarn. I pulled down a gatsby project that was last updated and working fine just a month or so ago and I can't run yarn install without it blowing up:
[code]
I've tried all of the solutions above as well as deleting node modules, deleting yarn.lock, creating a new gatsby project (which worked) and copying all the dependencies from the latest package json ov

[2020-01-25 22:17] daneden commented on #20543
I’m experiencing this issue on my site too!

[2020-01-26 00:45] sarahbethfederman commented on #20808
Seems that this might be a rule for all plugins in the gatsbyRemarkPlugins array, that they need to also go in the root?

[2020-01-26 00:48] sarahbethfederman commented on #15486
Possibly related? https://github.com/gatsbyjs/gatsby/issues/20808

[2020-01-26 02:34] jonniebigodes commented on #20872
@hejsfj can you make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that i can further looked at and based on it possible offer you a solution ?

[2020-01-26 07:08] shrey-sachdeva2000 commented on #17722
Hi! I'm a designer and I can solve this issue. Where exactly shall these icons be used and what style of icons/illustration are you looking for?

[2020-01-26 09:49] shrey-sachdeva2000 commented on #20694
Could you please attach a screenshot of the same? @GK-Hynes

[2020-01-26 10:13] shrey-sachdeva2000 commented on #20716
The link is properly working now and this issue can be closed.

[2020-01-26 10:16] shrey-sachdeva2000 commented on #20716
The link is properly working now and this issue can be closed. Thanks.

[2020-01-26 10:16] #20716 closed

[2020-01-26 10:27] ptlab-la opened #20883 "On iOS Safari, refreshing page issue after navigating to an external link and pressing the browser back button"
## Description

On iOS Safari, after I navigate away from Gatsby to an external site and then press the back button, I get strange results with the page not refreshing after clicking a Gatbsy Link. Often when I first tap Links they change to the hover state but don't load the next page. Sometimes the next page loads scrolled halfway down the page.

### Steps to reproduce

1. On Gatsby site, either

[2020-01-26 10:51] shrey-sachdeva2000 opened #20884 "Change the outline-color of buttons"
**Issue:**
The outline-color of buttons in the docs is currently set to #90bafe which doesn't match the Gatsby theme.

**Solution:**
It would be much better if the outline-color matches the Gatsby primary color palette to bring consistency, as mentioned here: [](https://www.gatsbyjs.org/guidelines/color/
Please find attached screenshots of the same.

![issue#3](https://user-images.githubuserconten

[2020-01-26 11:23] Elod23 commented on #17498
Hello guys. I've been trying to build up an app while using this feature and it seems not to work at all:
`exports.onCreatePage = async ({ page, actions }) => {
  const { createPage } = actions
  // page.matchPath is a special key that's used for matching pages
  // only on the client.
  if (page.path.match(/^\/room/)) {
    page.matchPath = "/room/*"
    // Update the page.
    createPage(page)

[2020-01-26 11:36] jack2gs opened #20885 "Could not start the server locally"
## Description

Could not start the local develop server.

### Steps to reproduce

[code]

### Expected result

the local server should start.

### Actual result

*symbol lookup error* happened.

success load plugins - 0.294s
success onPreInit - 0.007s
success initialize cache - 0.008s
success copy gatsby files - 0.013s
success onPreBootstrap - 0.005s
success createSchemaCustomization - 0.003s
suc

[2020-01-26 11:45] abuuzayr commented on #16018
I can confirm this is happening, as @Boogy62 described: Adding a `setup` method for `gatsby-plugin-feed` options in `gatsby-config` would 'reset' the following fields:

- title
- description
- link
- generator

![Screenshot 2020-01-26 at 7 22 58 PM](https://user-images.githubusercontent.com/19371989/73134430-65b40480-4071-11ea-8a71-e3e1a0968165.png)

You can also return an empty object for the `se

[2020-01-26 12:04] cartant commented on #20000
I guess the "not stale" label mentioned ^ is warranted here.

[2020-01-26 12:04] RIP21 commented on #16310
Not stale, dear bot.

[2020-01-26 12:32] GK-Hynes commented on #20694
Absolutely. I should have done this to begin with.

Here's the page currently with `color: #bbb` (Contrast ratio 1.92)
![image](https://user-images.githubusercontent.com/28233682/73135176-29fc4900-4037-11ea-8b49-cf913a7f16d8.png)

Here's how it would look if the lightness was reduced to `color: #767676` (Contrast ratio 4.54)
![image](https://user-images.githubusercontent.com/28233682/73135187-44ce

[2020-01-26 13:04] Bahlaouane-Hamza commented on #20867
That's a trade-off you have to work with. If my understanding is correct.

Gatsby build your pages based on a certain viewport (desktop), you access to the page and have full HTML to work with (desktop again), React takes over and re-render your components based on what conditions you have. for 1 sec you see a desktop version then a mobile one.

In development mode. There is no full HTML to work w

[2020-01-26 13:27] dan-mba commented on #19261
Are you requiring prism-command-line.css in gatsby-browser.js?

Compare the HTML generated for your cases to the HTML in the prism documentation for
[Command Line](https://prismjs.com/plugins/command-line/).

The command prompts are a collection of span tags with display set to block in a container floated to the left. Without the CSS it will not look right.

[2020-01-26 14:44] Jimbob001 commented on #20867
@Bahlaouane-Hamza Thank you for your reply. I understand these work arounds, if this is the only option I will re-write my components to use media queries in due course.

However, the reason I brought this up as an issue is this:

I don't think this is what is happening! The mobile version isn't being correctly rendered, parts of the desktop html/class names are remaining I think. Whilst what I'm

[2020-01-26 14:58] naoya7076 opened #20888 "[bug]docs:e-commerce Tutorial"
## Description
Working on Gatsby [e-commerce Tutorial](https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/).
It is about the section 'Installing the StripeJS plugin'.
When setting gatsby-config.js as instructed, an error occurs.
### Steps to reproduce
`shell`
[code]

`gatsby-config.js`
[code]
then
`npm run develop`
### Expected result

![image](https://user-images.githubusercontent.com/32981554/

[2020-01-26 15:48] benawad commented on #20450
I just got this on v2.15.24

[2020-01-26 15:58] mghazanfar commented on #19256
Worked for me. Thanks @LekoArts

[2020-01-26 16:30] muescha commented on #20184
this link can also fixed in the airtable:
http://arcs.ieeecsvit.com/%20(We%20are%20currently%20working%20on%20the%20present%20years's%20website) to http://arcs.ieeecsvit.com/

[2020-01-26 18:45] valoricDe commented on #20436
Hey folks, in this document (https://github.com/mui-org/material-ui/blob/master/docs/src/pages/guides/minimizing-bundle-size/minimizing-bundle-size.md) it says tree shaking is only performed on production mode. So I guess it is always recommended to use @rubas snipped, right?

[2020-01-26 19:45] b0nbon1 commented on #20884
Can I take this one @shrey-sachdeva2000 ?

[2020-01-26 20:39] ricokahler opened #20892 "Unhelpful error message when `gatsby-source-graphql` introspection call fails."
## Description

Unhelpful error message when `gatsby-source-graphql` introspection call fails.

[code]

### Steps to reproduce

- create a new gatsby project
- add `gatsby-source-graphql`
- add this 👇 bit of configuration with a mock`fetch` implementation

[code]

- run `gatsby build`
- observe the `[object Object]` error message

### Expected result

This should output the error message from the

[2020-01-26 21:44] qikevinjkw opened #20893 "gatsby-plugin-sharp rotate bug"
## Description
According to [docs](https://www.gatsbyjs.org/packages/gatsby-plugin-sharp/), rotate is a shared option for fluid, fixed, etc.
But when specifying 'rotate' field in graphql query, results in error `Expected numeric for angle but received true of type boolean`

### Steps to reproduce
The query I'm using:

useStaticQuery(graphql'
query {
      allMdx {
        nodes {
          frontma

[2020-01-26 21:49] qikevinjkw commented on #20893
I think I know the fix, in gatsby-plugin-sharp/plugin-options.js, inside `createTransformObject`, change `rotate: !!args.rotate` to `rotate: args.rotate`

[2020-01-26 22:32] rejas commented on #16239
I just stumbled over this too.

In my gatsby config i use the mdx plugin together with the remarkplugin like this:

[code]

and my images are rendered with this error in the console:

[code]

It renders but the error is of course annoying, is there anything I can do to get this fixed?

[2020-01-26 23:55] mjmaurer opened #20895 "'sizes' param for fluid images should be well documented"
## Summary

What problem(s) did you run into that caused you to request additional documentation? What questions do you think we should answer? What, if any, existing documentation relates to this proposal?

The [documentation](https://www.gatsbyjs.org/docs/gatsby-image/#fluid-image-query-parameters) for fluid images doesn't mention the "[sizes](https://developer.mozilla.org/en-US/docs/Web/HTML/El

[2020-01-27 00:17] qikevinjkw commented on #20893
created fix https://github.com/gatsbyjs/gatsby/pull/20894

[2020-01-27 02:06] shrey-sachdeva2000 commented on #20884
Sure! @b0nbon1

[2020-01-27 03:53] clintvidler opened #20897 "503 Errors from gatsby-source-drupal"
## Description

info Starting to fetch data from Drupal
⠹ source and transform nodes
⠋ Fetch data from Drupal

5-10 seconds after the above I get a bunch of 503 errors resulting in failure to build.

The Drupal site being sourced from has only 17 pages, and the host has already had the CPU level turned up to 300%, the highest I can make it will be 400%. On 200% CPU all builds failed, on 300% CPU b

[2020-01-27 03:58] b0nbon1 commented on #20884
thanks

[2020-01-27 04:24] muescha commented on #17498
@Elod23 can you please create a new issue, so that your problem not get lost?

[2020-01-27 05:19] bball07 commented on #20766
PR #20898

[2020-01-27 05:19] #20766 closed

[2020-01-27 05:47] bball07 commented on #20756
PR: [docs] Mark localhost URLs as code snippets #20899

[2020-01-27 07:10] bradleyayers opened #20900 "gatsby-plugin-typescript missing dependency on @babel/core and graphql"
## Description

gatsby-plugin-typescript ([package.json](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-typescript/package.json)) depends on @babel/plugin-proposal-nullish-coalescing-operator which depends on @babel/core, but gatsby-plugin-typescript doesn't provide that. Under Yarn 2, it's required that gatsby-plugin-typescript has a dependency on @babel/core to satisfy the

[2020-01-27 08:26] Austaras commented on #20900
for anyone fixing this, please remove @babel/plugin-proposal-nullish-coalescing-operator and @babel/plugin-proposal-optional-chaining from dependence, they are provided by @babel/preset-env already

[2020-01-27 08:36] #20290 closed

[2020-01-27 09:56] FlorianDr commented on #14125
Hi @marcysutton I'm so sorry for not responding or working on this issue for such a long time. I kept postponing it. That's bad behavior.

I will work on it this week and open a PR.

[2020-01-27 10:17] turistua commented on #19957
Is there any additional ways to investigate commons.js content? I use gatsby-plugin-webpack-bundle-analyzer, however it doesn't explain why I have these components inside of commons.js

For my case the size of the page is around 280kB, which is not what I expect when open lightweight home page

[2020-01-27 10:20] #20851 closed

[2020-01-27 11:07] mpodlasin commented on #20331
@wardpeet I am ok with closing this issue.

I used yaml file do define my catalogues structure.

It's kind of double the work, but it works and arguably has other benefits, like explicitly defining order of files.

I guess it's just weird that in the docs it's not clearly explained what are the good practices on creating menus and tables of contents, unless I missed something?

[2020-01-27 11:47] #20709 closed

[2020-01-27 11:53] pieh commented on #20709
Published `gatsby-plugin-sharp@2.4.2`

[2020-01-27 11:59] #20893 closed

[2020-01-27 12:00] expatguideturkey opened #20903 "Page Name other than english language are not generated"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

I have below wordpress pages with page name in 4 different languages:

/تركيا/
/tурция/
/ترکیه/
/turquie/ - **Only this page generated, rest of the above pages not generated.**

What do I

[2020-01-27 12:41] iAdramelk commented on #20816
@pieh sorry for the long answer. If I understand corectly, fix was alredy merged to master and released?

I tried to compare my current version of dependencies with the latest ones. Current one:

- "gatsby": "^2.19.1"
- "gatsby-plugin-sharp": "2.3.13"

I deleted `public` folder and run `yarn gatsby develop` and got this:

[code]

Then I updated to the latest versions:

- "gatsby": "^2.19.6"
- "gat

[2020-01-27 12:43] pieh commented on #20816
I will iterate on this more

[2020-01-27 12:56] gabeszrozsa commented on #20767
I'd like to grab it, interested in contributing

[2020-01-27 13:14] akkie commented on #1878
We try to implement a catalog builder that builds static product catalogs for different customers. The catalog builder is able to build catalogs in parallel. So we need different output paths for every build.

[2020-01-27 14:06] #18497 closed

[2020-01-27 14:07] AmberWilliams commented on #5936
Will support when?

[2020-01-27 14:22] dandenney commented on #20450
@benawad Were you able to reproduce it or was it only in Sentry?

[2020-01-27 14:30] jaredsilver commented on #20450
Just seeing @antoinerousseau's edit now:

This is what's happening to us also, and it's incredibly confusing. Perhaps some sort of windows-specific browser extension / adblocker / security software that's e.g. interfering with the `page-data.json` file loading?

[2020-01-27 14:42] Borisboky opened #20906 "Error: Invariant Violation: Encountered an error trying to infer a GraphQL. There is no corresponding node with the `id`"
I'm using Strapi and Gatsby. I want to rebuild Gatbsy everytime when something is changed in Strapi.

I have one content type (bsixtbanner). Inside /api/bsixtbanner/models/Bsixtbanner I have code as follows:

    const updateFrontend = require('../../../updateFrontend');

    module.exports = {

      // After creating a value.
      // Fired after an `insert` query.
      afterCreate: async (mode

[2020-01-27 14:51] connorlindsey commented on #20888
Because the default starter uses `gatsby-source-filesystem` and `gatsby-transformer-sharp` to display images, you still need to include those in your gatsby-config. That's why the GraphQL query for the images is failing. The config file will look like this:

[code]

[2020-01-27 15:03] pieh commented on #20816
Ok, I tried with gatsby-plugin-sharp@2.3.3 and newer ones

When starting with clean cache (that means both `.cache` and `public`), the 2.3.3 one says it generates 788 as well for me which is similar to newer plugin - this one says 791 (so 3 difference).

The kicker is when I added more debug logging the 2.3.3 still actually make 791 operations (and not 788) - so there was some visual bug happening

[2020-01-27 15:04] pieh commented on #20816
So I'm inclined to say this is result of changing how hashes are generated and not deleting `public` directory as well as `.cache` between reruns

[2020-01-27 15:14] iAdramelk commented on #20816
@pieh Thanks for the update! Tried again after deleting `.cache` folder this time.

Before update:

[code]

After update:

[code]

Looks like difference in amount of images was indeed because of the cache folder, sorry for confusion, I was wrong here.

But there is still an increase of compilation time for almost 50% (or 40s in my case). Is it possible to reduce it back?

[2020-01-27 15:15] Phizzard commented on #20895
I've done had some experience manually using srcsets and sizes on images and using the gatsby-image component.

I'd be happy to write some documentation for the sizes parameter if it's available?

[2020-01-27 15:54] tijoer commented on #10523
+1 to get this into the docs. @jonniebigodes the hook does not work in class components. As I just started out with react and use classes everywhere it is kinda hard to switch to hooks and I am glad that I found this example. The Gatsby doc is a bit empty for class components.

[2020-01-27 16:23] pvdz commented on #20527
The main thing I tried to surface was discoverability. If you end up on the tutorial tab before the docs tab then you're not likely to find what you want if you're looking to create a plugin. A "source plugin" is terminology that may not mean anything to somebody.

As for my case, I wasn't looking to create a plugin for sourcing (which I'd assume to have different API's, why else make the distinct

[2020-01-27 16:31] alexfornuto commented on #19261
Yes, from `gatsby-browser.js`:

[code]

The span tags are there and they have the CSS from prism and from my overriding CSS. I've tested using just the default CSS from the plugin, and the issue persists.

[2020-01-27 16:44] pieh commented on #20816
We will be working on improving performance more, I do see increase in total time builds. Please use total build time here, because we were shuffling things around and the time for `Generating image thumbnails` step isn't 1:1 comparable with before. Tho I did notice increased total build time with newer plugin version so will keep working on that and see what exactly caused this.

[2020-01-27 16:57] jonniebigodes commented on #10523
@tijoer to the best of my knowledge, out the box, hooks are not intended to work with class components, not only the ones Gatsby uses, but hooks in general. There's some caveats to this off course, you can use some "tricks" and get away with it, but for now and if you'll allow me, keep focused on learning React and use class components as there's nothing wrong with them, they are here to stay and

[2020-01-27 17:10] sonapraneeth-a opened #20912 "Sorting in GraphQL"
## Summary

Is it possible to sort entries in a graphql query based on multiple fields?

Let us suppose, our graphql schema is as below. Can we sort allEmployee based on ```id``` in ASC and ```date``` in DESC?
[code]

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`ga

[2020-01-27 17:19] alex-nicaise commented on #14862
This helped me! Using npm + gatsby on Windows

[2020-01-27 17:22] orta commented on #18983
Just to link everything, I wrote on the Gatsby blog a little bit about TS + Gatbsy: https://www.gatsbyjs.org/blog/2020-01-23-why-typescript-chose-gatsby/

[2020-01-27 17:23] seandearnaley commented on #17865
I would also like a status update thanks

[2020-01-27 17:30] #20888 closed

[2020-01-27 18:22] dan-mba commented on #19261
That output looks correct for `outputLines:2,8-33`

The output I think you want is `outputLines:2,5,7-33`

I built a codepen for your other case.
Does the output you are seeing look like the generated HTML(not the source HTML in the pen)
[here](https://codepen.io/dan-mba/pen/povBPZB).

If not, can you paste in the full span with `class="command-line-prompt`.

[2020-01-27 18:26] bradydowling commented on #6834
Is the solution to this really to switch from `npm` to `yarn`? Seems like that's just a workaround that might not always be desirable since it can probably cause issues for some people.

[2020-01-27 18:43] classicmatsuo commented on #20912
yes, [codepen example](https://711808k40x.sse.codesandbox.io/___graphql?query=%7B%0A%20%20allMarkdownRemark(%0A%20%20%20%20sort%3A%20%7B%0A%20%20%20%20%20%20fields%3A%20%5Bfrontmatter___date%2C%20frontmatter___title%5D%0A%20%20%20%20%20%20order%3A%20%5BASC%2C%20DESC%5D%0A%20%20%20%20%7D%0A%20%20)%20%7B%0A%20%20%20%20totalCount%0A%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20node%20%7B%0A%20%20%20%20

[2020-01-27 18:47] KamranMaqbool opened #20916 "The request failed with error code "ENOTFOUND""
gatsby-source-wordpress give error

The request failed with error code "ENOTFOUND"
ERROR #11321  PLUGIN

"gatsby-source-wordpress" threw an error while running the sourceNodes lifecycle:

Cannot read property 'data' of undefined

  TypeError: Cannot read property 'data' of undefined

[2020-01-27 19:03] AishaBlake commented on #20790
@kingisaac95 I appreciate you asking before submitting a PR, particularly since this was originally assigned to a specific person! You may want to check [issues with the "help wanted" label](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) for potential first PRs if you haven't already.

[2020-01-27 19:29] pedro-surf opened #20918 "Navigation cache bug in JQuery crashes app"
After successfully building, this error suddenly comes in at one point:
[code]
Thank you
And I'm available to help

[2020-01-27 19:35] ksntcrq opened #20919 "wrapPageElement not working during Netlify build"
## Description

`wrapPageElement` doesn't seem to be picked up during Netlify build even though it is in local.

### Steps to reproduce

Here is my `gatsby-browser.js`:

[code]

Looking at some issues, I also tried to use commonjs modules:

[code]

In my pages, I use `const intl = useIntl();` and I am allowed to as every single page should be wrapped in the provider.

You can find the codebase [he

[2020-01-27 19:56] epgui commented on #20692
@TylerBarnes I think the above description is pretty much on the nose. I'm getting the same issue _when and only when_ I use `nodes` instead of `edges.node`.

[2020-01-27 20:16] #20697 closed

[2020-01-27 20:26] lawwantsin opened #20920 "TypeError: Cannot read property 'match' of undefined"
Why is there no way to debug GraphQL if it doesn't load on start?
TypeError: Cannot read property 'match' of undefined with no line numbers is not a useful error.
I've been on this bullshit for hours.  There's no problem exxcept Gatsby can't keep relevant line numbers.  Must be busy with all that interconnectedness.
I quit Gatsby!

[2020-01-27 20:27] alexfornuto commented on #19261
Thanks @dan-mba - while testing this I think I figured out the issue, to some extent.

First, I was pulling the CSS to `gatsby-browser.js` from the plugin's default CSS file, then overriding it elsewhere. I'm now calling my overridden CSS directly, which I recreated because it was missing _something_ (probably [this](https://github.com/pantheon-systems/documentation/pull/5476/files#diff-2c79c851c9

[2020-01-27 20:27] #19261 closed

[2020-01-27 20:32] gillkyle commented on #20184
I updated the http://arcs.ieeecsvit.com site and removed entries for urls that were resulting in 404s if they were already past so it doesn't negatively affect the page's SEO.

I also updated the airtable request form with more context to instruct users to include the scheme (http or https) as well as an example so that hopefully most won't input a broken link in the future.

I think those measure

[2020-01-27 20:32] #20184 closed

[2020-01-27 21:53] jyn514 commented on #16076
I have the same issue.

[2020-01-27 21:55] tesseralis opened #20925 "(www) Conflicting types on dot-org graphql schema"
## Description

[code]

### Steps to reproduce

Run `gatsby develop` on `www`.

### Expected result

No warnings.

### Actual result

The above warning.

### Environment

[code]

[2020-01-27 21:58] tesseralis opened #20926 "(www) Invalid prism language"
## Description

When running `gatsby develop` on `www`:

[code]

### Steps to reproduce

Run `gatsby develop` on the `www` directory of the gatsby repo.

### Expected result

No warnings.

### Actual result

The above warning

### Environment

  System:
    OS: macOS Mojave 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i7-4558U CPU @ 2.80GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.1

[2020-01-27 23:06] #20796 closed

[2020-01-27 23:06] jpvajda opened #20927 "After upgrading Gastby to use New Builds functionality getting error: static HTML failed for path "/blog/contentful-int""
## Description

After upgrading Gastby to use New Builds functionality getting error: static HTML failed for path "/blog/contentful-int"  when trying to deploy a build on Gatsby Cloud. However the I can still build locally without errors.

### Package.json
[code]

### Steps to reproduce

0. With a site using Contentful as a CMS..
1.upgrade the Gatsby packages to use Distributed Builds functionalit

[2020-01-27 23:09] tesseralis opened #20928 "(www) Support alternate fonts for different languages"
## Description

We need to support the ability to have different fonts in different languages, such as languages that use different scripts.

For example, the Polish translation (image courtesy of @pieh):
![Example of Polish gatsby website with nonstandard letters in the usual font](https://user-images.githubusercontent.com/1278991/73221836-b893c780-4116-11ea-9824-dcaee02e7cfe.png)

Once we figure

[2020-01-27 23:53] lqze commented on #20861
Also interested, as have only really seen Gatsby sites use the Storefront API to get product information and have a cart, but every instance of the checkout takes you to your Shopify checkout page.

This is probably relevant:
https://www.gatsbyjs.org/packages/gatsby-source-shopify/?=shopify#a-note-on-customer-information

[2020-01-28 00:03] #19993 closed

[2020-01-28 00:05] redknite opened #20929 "why did you stop using dangerouslyset"
Why did you stop using dangerouslysethtml in page.js and post.js?

it used to be
[code]

but now is just
[code]

[2020-01-28 00:15] #20769 closed

[2020-01-28 00:29] tesseralis opened #20930 "(docs) Figure out how to localize the glossary"
## Description

The [glossary](https://www.gatsbyjs.org/docs/glossary/) is a Markdown file that lists Gatsby-related terms in alphabetical order:

[code]

While this is simple and works for English, we run into problems when we try to translate this page. Pages in other languages may have entries that begin with different letters. This puts an undue burden on translators to rearrange the glossary,

[2020-01-28 01:13] arhoy commented on #20861
Just want to update.
This really helped me out so adding here for future developers
https://github.com/AlexanderProd/gatsby-shopify-starte

If you are using the Shopify Button, ($9.month plan as of this writing ) then there is no way to have the checkout page remain on your domain. (I asked Shopify)

If you want to have the checkout remain on your domain, than you need to upgrade to at least the b

[2020-01-28 01:13] #20861 closed

[2020-01-28 01:19] sonapraneeth-a commented on #20912
Why does such an option not show in GraphiQL?

[2020-01-28 02:03] benawad commented on #20450
@dandenney only one user on sentry

[2020-01-28 02:43] rtluu commented on #9423
Has anyone found a solution to this? When I run my build locally, everything works perfectly, but when I deploy my build to gh-pages it only loads the lowest resolution, barely visible images.

<img width="1005" alt="Screenshot 2020-01-27 21 39 46" src="https://user-images.githubusercontent.com/7230519/73231149-8c476d80-414d-11ea-969c-d1fff50bbfe3.png">

Here are my `gatsby-config.js` plugins:
[co

[2020-01-28 03:33] tesseralis opened #20932 "(www) Update Algolia DocSearch to support localizations"
## Description

Update DocSearch so that it has intuitive behavior once localized docs are on the main site. Ideally, searching the docs will only yield content in the current language.

[2020-01-28 03:59] tesseralis commented on #20932
It seems like there is support here: https://www.algolia.com/doc/guides/managing-results/optimize-search-results/handling-natural-languages-nlp/how-to/multilingual-search/

[2020-01-28 04:18] vinyltek opened #20933 "Styles not applying on page load"
The css on my thank-you and 404 page seem to be applying a many seconds after page load. This seems to be happening on build. I have required **babel-plugin-styled-components**, **gatsby-plugin-styled-components** & s**tyled-components** installed and configured in my project.

 I've looked into related issues: https://github.com/gatsbyjs/gatsby/issues/14978#issuecomment-514372027 & https://github

[2020-01-28 05:10] dandv opened #20935 "Gatsby community confusion"
I was reading https://www.gatsbyjs.org/contributing/community/ while trying to figure out where to post [a question](https://stackoverflow.com/questions/59867580/folders-and-path-structure-for-ghost-posts-rendered-with-gatsby). And I ended up with a paradox of choice:

* should I post on SO? "Many members of the community use Stack Overflow to ask questions"
* on Hashnode, since "Many members of t

[2020-01-28 05:59] sonusynup commented on #16189
Is this issue got fixed? Its happening for me too. Why #Gatsby ignoring such a #critical_bugs?

![Screenshot 2020-01-28 at 11 28 40 AM](https://user-images.githubusercontent.com/48202771/73239168-5d6adf00-41c1-11ea-873a-12eed8177752.png)

[2020-01-28 08:15] sonusynup opened #20937 "Gatsby develop and build getting failed when I unpublish an entry on Contentful. It started happening after I update the gatsby version."
## Description

I have been using gatsby and contentful for my static website.
After I unpublish a Contentful entry, gatsby develop and build getting failed. I've tried to clear the cache but unfortunately the problem still persists.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easi

[2020-01-28 08:18] #20826 closed

[2020-01-28 08:26] Monsiter opened #20938 "Simple login password authentication not working on PROD version"
## Description

I just added password protection to the documentation app. The protection functionality working as expected but the styling crashing when I use `gatsby build` and `gatsby serve`. Everything working as expected on `gatsby develop`

### Steps to reproduce

In `gatsby-ssr.js` and `gatsby-browser.js` I have same code as bellow
[code]
The `isLoggedIn()` function is very simple(utils.js

[2020-01-28 08:32] FredrikSigvartsen opened #20939 "Page-data.json 404 - With slow loading"
## Description

I'm getting really slow response time on some pages (up to 7 seconds). It looks like it is `page-data.json` that is causing this:

<img width="1304" alt="Screenshot 2020-01-28 at 08 47 50" src="https://user-images.githubusercontent.com/8544513/73244758-fd693e00-41aa-11ea-9b3b-b971c45e03ed.png">

I think these issues are somehow related, but I don't think the discussions there solve

[2020-01-28 08:45] mythril opened #20940 "Bundle Consumable Self-hydrating Gatsby Component Library"
## Summary

I think it would be nice if gatsby could easily generate a self-hydrating component library that can be consumed by other projects / static HTML.

### Basic example

Maybe a `library.js` entry point that would export the components meant for the library. I kind of assume this would only make sense for components based around `StaticQuery` / `useStaticQuery` but I haven't thought too de

[2020-01-28 08:46] expatguideturkey commented on #20743
@jonniebigodes @vladar  Any suggestion for my updated code.

[2020-01-28 08:49] mythril commented on #20940
Thinking about it a second longer maybe each `libraries/*.js` would create a separate library bundle named after the file it was sourced from.

[2020-01-28 08:50] mythril commented on #20940
@coreyward mentioning you just in case you are interested in critiquing my suggestion / adding to it.

[2020-01-28 09:31] ascorbic commented on #20935
Thanks for the feedback. We don't have a suggested priority of places to ask, except that Discord is best for quick answers. It's more that there are different people in different places. I've tagged this as documentation as this could probably be clarified.

[2020-01-28 09:35] ascorbic commented on #20897
Hi. This is almost always a configuration or load issue with the server. If you load `/jsonapi` on your site in a browser, does it load ok? Copy the URL from your gatsby-config to make sure you've got it exactly the same. Do this in an incognito/private window. If your API needs authentication, use the same basic auth credentials as in the site config. Let me know if this helps.

[2020-01-28 09:41] FredrikSigvartsen commented on #20939
It looks like this is not an issue with Gatsby at all. The issue lies in `gatsby-node.js`, where we use `fnImagesToRelative`:

[code]

This leads to all paths being an image, and therefore the path is changed to `../name-of-page` instead of `/name-of-page`.  I guess until this is fixed by either of these, I will go back to type the paths directly into the code, and not store it in a markdown file.

[2020-01-28 09:48] ascorbic commented on #20841
Hi. Is the project code available publicly anywhere, or are you able to provide a reproduction?

[2020-01-28 09:54] freiksenet opened #20941 "Clean up query runner"
Query runner is currently controlled by the queue and then recreated. Ideally it should know how to reset it's state (which is basically node-model) on changes like schema or data. In future that can lead to us being able to do partial cache resets, not full.

[2020-01-28 10:43] khushwantkodecha commented on #1767
Your site is running at ``` http://localhost:8000```
Try changing your port. Like 3000 or 8080.

```app.listen(3000)```

My 8080 post was taken, so I got this same error

[2020-01-28 11:09] DominicTobias opened #20942 "gatsby-plugin-mdx infinite render loop on changing file content"
## Description

Hi, using the following MDX example: https://github.com/mdx-js/mdx/tree/master/examples/syntax-highlighting

I observed that while everything works (even without `gatsby-source-filesystem`, though following this README I added it but seems to make no difference), if I make a change to a component in the MDX tree (works fine for other components), it causes an infinite render loop c

[2020-01-28 11:11] galvogalvo opened #20943 "Upgrading to Gatsby 2.19.x breaks existing queries"
## Description

I'm trying to test out Gatsby Builds which requires updating to the latest Gatsby and Sharp, and it also seem we need a more current gatsby-source-contentful.

When I do this all our queries have an additional id added to the query, at each level. This breaks the queries, as an example:

<img width="960" alt="Screenshot 2020-01-28 at 11 06 35" src="https://user-images.githubusercon

[2020-01-28 11:38] MelMacaluso commented on #19827
To desperate devs looking for problems that should not exist in the first place just:

-remove node_modules folder
-delete package.lock.json
-run npm i

[2020-01-28 12:03] pieh commented on #20943
I suspect bug introduced https://github.com/gatsbyjs/gatsby/pull/20849 which adds `id`s to selection sets but there is some type mismatch happening somewhere (which I don't quite understand).

Is there way to get access to your repository so it's easier for us to reproduce?

/cc @vladar

[2020-01-28 12:07] pieh commented on #20841
What version of gatsby are you using? The "Cannot find module 'gatsby/graphql'" could suggest using gatsby v1. Can you provide output of `gatsby info`?

[2020-01-28 12:18] rathesDot opened #20945 "Styled Components + Gatsby Offline Plugin + Google Fonts"
## Summary

So I have been working on refactoring my TailwindCSS/PostCSS based website to use Styled Components and I came across something strange that I don't really know how to handle.

In https://github.com/rathesDot/rathes.me/pull/238 I have been implementing the last steps to remove PostCSS/Tailwind and therefore added a Global stylesheet for styled-components.

This also includes importing

[2020-01-28 12:25] vladar commented on #20943
Yeah, this is super confusing. We need a repro for this (or at least a full query and a printed schema)

[2020-01-28 12:44] vladar commented on #20937
Please try `gatsby@2.19.7`. This issue should be fixed there via #20904

[2020-01-28 12:57] pieh commented on #20945
Confirmed the bug. Investigating now

[2020-01-28 13:02] pieh commented on #20945
Also note, that even after removing that font import I get similar results, so I don't think it's strictly related to that.

It seems like just combination of styled-components/gatsby-plugin-styled-components/gatsby-plugin-offline doesn't mix very well now.

[2020-01-28 13:03] pieh commented on #20945
The global styles created in Layout component doesn't seem to get extracted to css file and is just inline in html files. So offline plugin just doesn't see it

[2020-01-28 13:10] galvogalvo commented on #20943
I'll need to create a separate repro for this as I can't share the actual repository.

[2020-01-28 13:10] vladar commented on #20941
Related: #20586

[2020-01-28 13:42] pieh commented on #20945
Hmm, seems like I was wrong about this not being related to font import

[2020-01-28 13:44] Ekwuno opened #20947 "[docs][Tutorial] Using Multiple Themes Together."
## Summary

When new Gatsby users come across the concept of themes they become excited about the possibilities it offers. Even more when they see the added advantage of using themes over starters, with more emphasis on using "Multiple themes" on one site.

The concept is explained in this [part of the theme doc](https://www.gatsbyjs.org/docs/themes/using-multiple-gatsby-themes/). However, the doc

[2020-01-28 13:57] pieh commented on #20945
This might be related to https://github.com/styled-components/styled-components/issues/2920#issuecomment-563082377

[2020-01-28 14:34] ascorbic opened #20949 "☂️ [Umbrella issue] Yarn 2 issues"
This is an umbrella issue for anything Yarn 2-related. If you test your sites, themes and plugins with Yarn 2 and there are issues that are not present in Yarn 1.21+ then reply with a comment below. Ideally include a link to a minimal reproduction, or at the very least a copy or gist link to your package.json and yarn.lock.

Yarn 2 tests its builds against Gatsby, so we are confident that the defa

[2020-01-28 15:14] ajscholz commented on #20943
This is happening to me as well. My problem seems to be that on queries where I've aliased the contentful_id with id (as shown below) I'm now getting the conflict error.
`
  {
    guides: allContentfulBuildGuides(filter: { type: { eq: "DIY" } }) {
      all: nodes {
        id: contentful_id
        name
        description {
          description
        }
        image {
          fluid {

[2020-01-28 15:39] DominicTobias commented on #2112
I had a similar issue where I moved my base component `<Application>` which was doing some basic setup like meta tags, top navigation with theme switching, setting the title etc

This was easy to render as the root component of my various page layouts but then it became apparent than when switching routes everything was being unmounted and re-rendered, causing the state in `Application` to be loos

[2020-01-28 15:41] rathesDot commented on #20945
Thanks, @pieh for looking into this. It indeed looks like a bug with `@import` in styled-components. I found similar reports here: https://github.com/styled-components/styled-components/issues/2670 (also referenced in the issue you linked to)

As a workaround, I'm going to use the `gatsby-plugin-prefetch-google-fonts` https://github.com/escaladesports/gatsby-plugin-prefetch-google-fonts to load th

[2020-01-28 15:45] pieh commented on #20945
Not much more to add here really: I just tracked it to pretty much confirm that is `styled-components` issue (at least for production builds)

Just some details I produced in production builds for actual rules that get injected (because they don't really show in dev tools easily)

With `@import`:
![Screenshot 2020-01-28 at 15 41 02](https://user-images.githubusercontent.com/419821/73279296-36c29d8

[2020-01-28 16:22] pvdz commented on #19512
For anyone still tracking this. I haven't forgotten! It just takes time. I'm still interested in large example sites. This helps me to uncover problems that smaller sites don't exhibit. Generally this is "big oh" stuff, but that's just the low hanging fruit.

Solving these problems helps us to improve the build pipeline in general. This in turn helps you.

It's not us that it helps, though, becaus

[2020-01-28 16:25] dontdomilk commented on #20943
I can confirm this is happening too, though its unrelated to contentful:

`ERROR #85901  GRAPHQL

There was an error in your GraphQL query:

vipspng: libpng read error
vipspng: libpng read error
vips2png: unable to write to buffer
vips2png: unable to write to buffer

  129 |       thank_you_page_download_file_url
  130 |       thank_you_page_youtube_video_id
  131 |       resource_button_label
  1

[2020-01-28 16:42] dannyvaughton commented on #13761
For anyone wanting to use Polylang Pro + gatsby-source-wordpress:

I have slightly modified @maru3l's wp-rest-polylang to enable the same fields.

See: https://github.com/dannyvaughton/wp-rest-polylang-pro

[2020-01-28 16:47] eads commented on #19512
@pvdz I'm still following! Many thanks for all your work on this. I'm excited to try out the improvements in the coming weeks and will report back. Maybe my site will finally build!

[2020-01-28 16:56] jonniebigodes commented on #20743
@expatguideturkey can you create a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) with all the packages used and the code for this issue, so that it can be better looked at?

[2020-01-28 16:56] GKJCJG commented on #18413
@LekoArts in the last couple of weeks, I've noticed that the behavior of these error messages has changed to show the full stack trace rather than the just the query. I didn't watch closely to see whether a particular version change anywhere in my packages produced the change, but it does seem that the behavior has improved.

[2020-01-28 16:57] pvdz commented on #19512
@eads it's not building? I've been using that site to benchmark certain things for a while. It should build with little problems. There's plenty of room for improvement, like adding a graphql schema and not passing the entire data structure through the context, using static queries, etc. But as it is, it should run fine. And with my latest fix you wouldn't even need to switch to filter by `id` (it

[2020-01-28 17:11] dominicfallows commented on #5002
Further update to the PR: https://github.com/gatsbyjs/gatsby/pull/20785#issuecomment-579355927

[2020-01-28 17:29] jonniebigodes commented on #12104
I was going over this and the i see it is like so, techinically this is not a Gatsby issue per se. And i might be completely off base here. But going over the flow of the intended behaviour. A React context is created somewhere in the app without nothing inside, no variable or anything, you go about coding in development mode, which lets you get away with some things, that normally you wouldn't to

[2020-01-28 17:33] martin2844 commented on #12104
Look, I am by no means experienced with either Gatsby or React, I've done a few sites though.
The only (serious) App I did, is a Mern app which handles state and user Auth via useContext hook. And, lets not forget React in the end is Static.  The build process with a React app and UseContext does not fail at build.

So, this is clearly a Gatsby Issue. Context is not being defined at build time per

[2020-01-28 17:36] dnlmzw commented on #20943
I also started receiving errors regarding the ID a couple of hours ago:

**The field "ContentfulAssetFile.id." was explicitly defined as non-nullable via the schema customization API (by yourself or a plugin/theme). This means that this field is not optional and you have to define a value. If this is not your desired behavior and you defined the schema yourself, go to "createTypes" in gatsby-node.

[2020-01-28 17:41] brotzky opened #20954 "gatsbyjs.com loads blank screen"
## Description

When loading gatsbyjs.com I get a blank white screen.
This appears to be a service worker issue.

Here's the console and network:
<img width="1715" alt="Screen Shot 2020-01-28 at 9 37 44 AM" src="https://user-images.githubusercontent.com/8007686/73289629-e4b05680-41b1-11ea-9cd0-d4d2546a6e44.png">
<img width="1715" alt="Screen Shot 2020-01-28 at 9 38 01 AM" src="https://user-images.

[2020-01-28 17:58] brotzky commented on #20954
I wasn't going to open this issues but the second error was really strange. Occurred after I cleared the SW, refreshed the page, and then hard refreshed the page.

I know the report isn't too helpful but SWs are hard to nail down and report. Feel free to close this issue without discussion and just add it as a mental note that there could be something up with the SW or caching / IndexDB.

[2020-01-28 18:08] KamranMaqbool opened #20957 "Something went wrong installing the "sharp" module"
install gatsby-plugin-sharp plugin but when run command

then return error

![Screenshot from 2020-01-28 23-05-22](https://user-images.githubusercontent.com/53546053/73291811-c0409280-4222-11ea-9f0c-5c286e351021.png)

[2020-01-28 18:09] iDVB commented on #3759
I'm having this exact issue and I **have** looked under `node.fields` which does not seem to exist.
I can only see the field added if I console out that node inside of `onCreateNode` just after calling `actions.createNodeField`

[code]

[2020-01-28 18:14] mythril commented on #20940
It looks like @coreyward was kind enough to write up how they did it https://coreyward.svbtle.com/exporting-an-embeddable-react-component-from-a-gatsby-app

[2020-01-28 18:44] iDVB commented on #17719
I'm also getting the same error during build. When I seach my whole repo, I can't find a single reference to `offline-plugin-app-shell-fallback`.

I believe I'm using all the latest modules....
[code]

[2020-01-28 19:18] vpicone commented on #16135
Has there been any more thought about this? Would be a big quality of life fix for the most common theme development workflow.

[2020-01-28 19:29] galvogalvo commented on #20957
@KamranMaqbool I sometimes see this, especially when moving between different branches that have different dependency versions, sharp seems especially vulnerable to this.

To resolve I do (with yarn):
- `rm -r node_modules/sharp`
- `yarn install --check-files`

[2020-01-28 19:29] ahummel25 opened #20960 "No matching service worker detected"
## Summary

## Relevant information

I followed the steps to add a service worker to my site and was hoping to have full PWA functionality. However, when viewing the manifest in Chrome dev tools, the installability section says, `No matching service worker detected. You may need to reload the page, or check that the service worker for the current page also controls the start URL from the manifest.

[2020-01-28 19:34] kmcaloon opened #20961 "Generating SSR bundle fails only during development with gatsby-ssr.js"
### Description

I have an app with custom `gatsby-browser.js` and `gatsby-ssr.js` leveraging `wrapRootElement` and `wrapPageElement` pretty much for a global context provider and layout component. Everything is working smoothly with `gatsby build`.  However, the ssr file is causing some issue during development as the process crashes because webpack can't resolve certain modules. If I comment out

[2020-01-28 19:40] AskatDzhambulov opened #20963 "gatsby-plugin-google-tagmanager initialize after accept cookies"
Hey!
I need some help! I m using gatsby-plugin-google-tagmanager plugin. Now this google tag manager is set to cookies automatically when page open, but in my case i need to initialize this google tag manager after i accept cookies, how can i do this ?

`gatsby-config.js`:
[code]

[2020-01-28 20:01] t2ca commented on #20927
`TypeError: Cannot read property 'json' of null - blog.js:37 Blog src/templates/blog.js:37:69`

This could be the problem, is it building locally with `gatsby build`

[2020-01-28 20:08] t2ca commented on #20954
I can confirm, I am having the same experience. @KyleAMathews

Steps to reproduce:
1. Go to gatsbyjs.com
2. Click on docs in the menu
3. Click reload page
4. White screen

Error in console:

[code]

[2020-01-28 20:26] ehowey commented on #20947
I have some experience with this - I would be interested to help out if you wanted any help?

[2020-01-28 20:27] iDVB commented on #5997
Do we have a concensus on where to put `<GlobalStyle />` ?
`gatsby-browser.js` or `layout.js` ?

The overwhelming documentation says `layout.js`
But some nay-sayers are stating that without putting it higher up... like `gatsby-browser.js` you may risk cross-route css animations from breaking.
I believe we would be in this group wanted our cake and eating it.

If we put it only in `gatsby-browser.j

[2020-01-28 20:30] iDVB commented on #17719
I think my issue was that I was using GlobalStyle in both `gatsby-browser.js` and `gatsby-ssr.js`.
I moved it to Layout.js and now it works.

https://github.com/gatsbyjs/gatsby/issues/5997#issuecomment-579439687

[2020-01-28 20:53] iDVB commented on #1471
Also having no luck getting a custom field to stick to a node.

[code]

That console.log shows the `node.fields.slug` being added... but then when I try to access it from graphql, or from graphiQL its not there.

[2020-01-28 22:14] Rikpat opened #20967 "[Docs] Gatsby Docs autolink headers need to be offset by navbar"
## Description

I've noticed that after I've updated autolink-headers in #20363, Gatsby Docs scroll past the heading, not being offset by the navbar, since the autolink plugin now calculates from top of the page.

### Steps to reproduce

Go to docs and click on any header link, for example [here](https://www.gatsbyjs.org/docs/#go-further)

### Expected result

The heading should be below navbar, n

[2020-01-28 22:29] devrchancay commented on #17202
Hey! This is very interesting and this issue has open time, I will try to do it.

[2020-01-28 22:30] pieh commented on #20961
Are you able to provide reproduction project for this?

It's not immediately apparent what might be causing this - there's plenty of plugins also that can cause some weirdness with this (as a lot of them "mess" with webpack configs)

[2020-01-28 22:32] clintvidler commented on #20897
The URLs are all correct, and the basic auth isn't required. The 503 errors are caused by the server being overloaded by Gatsby requests. During the build I visit jsonapi in my browser and it comes back with a 503, this usually works. It's certainly an issue of the server being overloaded but it's strange that it happens even when I set the number of concurrent requests to 1.

[2020-01-28 22:39] pieh commented on #20960
This seems like a bug when using `pathPrefix`, just managed to reproduce. Doesn't happen when not using it.

[2020-01-28 22:57] pieh commented on #20960
Ok, seems like `start_url` in manifest configuration need to be `/profile/` (notice trailing slash).

When we register service worker with `pathPrefix`, it set's Service worker "scope" to `http(s)://domain/<pathPrefix>/`. The `start_url` must be within service worker scope to work. So that means we do need that trailing slash, as otherwise browser consider this to be out of scope and wouldn't allo

[2020-01-28 22:58] pieh commented on #20960
So this isn't exactly a bug, but probably something we could document as edge case

[2020-01-28 23:07] pieh commented on #20954
We are looking into this now

[2020-01-28 23:27] Jhony0311 opened #20969 "Extend custom Types and Interfaces"
## Summary
Hey Gatsby people,

I'm starting a project where my data source is a set of JSON files. In order to make them a bit more robust, I would like to get them extender using custom types. I already put something in place for custom types nested inside of a field of my JSON but the things are not working for me when I tried to do an interface for an array.

I was looking into the documentatio

[2020-01-28 23:27] jpvajda commented on #20927
@t2ca  thanks for taking a look! Actually it builds with `gatsby develop` but when I run `gatsby build` I get this error:

[code]

[2020-01-28 23:32] jpvajda commented on #20927
@t2ca  Yeah, i was write. I added a .env.production file and it builds and get the error you pointed too:

[code]

[2020-01-28 23:36] ahummel25 commented on #20960
@pieh I was going to try that too! Haha. Yep, that seems to fix it. Yes, maybe more an edge case if you have a `start_url` other than just the root dir of `"/"`.

[2020-01-28 23:40] t2ca commented on #20927
You need to checkout contentful to see why the body is null.

I think you could do something like this to remove the error:
`{documentToReactComponents(props.data.contentfulBlogPost.body && props.data.contentfulBlogPost.body.json)}`

or with the new syntax
`{documentToReactComponents(props.data.contentfulBlogPost?.body?.json)}`

[2020-01-28 23:43] hasparus opened #20970 "libXtst.so.6 missing on Gatsby Cloud"
## Summary

**`libXtst.so.6` seems to be missing on Gatsby Cloud.**

Not sure if I should open an issue, but this may be relevant for other people too.

I'm running puppeteer to screenshot social card images for my blog posts.
Chromium requires some shared objects (libXtst.so.6) to run and they're not there on Gatsby Cloud.
I'm not sure what docker image / OS is used and what can be on user side.

[2020-01-28 23:46] jpvajda commented on #20927
@t2ca I had an old test blog post with no body content, which seemed to be causing this error. Interesting that the site used to build on Gatsby Cloud with no issues, but now this was throwing an error. Thanks for the help! I just made the blog content field a requirement of all posts on Contentful, so this should happen again.

[2020-01-28 23:46] #20927 closed

[2020-01-28 23:55] pieh commented on #20954
Not yet fixed, but we are using bit old version of offline plugin, so we will be updating that (once it goes through review etc)

[2020-01-29 00:33] maecapozzi commented on #20815
@sidharthachatterjee @pieh I'm following up because I'm losing the thread a bit here between the issue and the PR.

Would one of you just let me know what you'd like?

[2020-01-29 00:45] leesh22 commented on #18226
I'm also having this issue, hard reload works but still a pain to work with.

[2020-01-29 00:45] FranciscoImanolSuarez opened #20972 "Onesignal"
Query, any Onesignal implement with React in Gatsby? if you can give me an example because i don't know how to do it

[2020-01-29 01:39] devrchancay commented on #20972
This is likely to work for you: https://github.com/c0b41/gatsby-plugin-onesignal

[2020-01-29 01:51] devrchancay commented on #20969
I think this can help you: https://learnwithjason.dev/advanced-graphql-techniques-in-gatsby

 At first glance everything looks good, I am also in the mobile when I get home I will see the detailed mind on my computer

[2020-01-29 01:53] #20366 closed

[2020-01-29 02:01] devrchancay commented on #20943
the same thing happens to me, when I use id as an alias `id:wordpress_id` on my site that is in production https://recetas.eluniverso.com

 You know what the solution is?

[2020-01-29 02:09] devrchancay commented on #20938
I see no error with the naked eye, you think you can replicate it in codesanbox to help you better

[2020-01-29 02:33] b0nbon1 commented on #20967
I can help you with this @Rikpat

[2020-01-29 03:07] stephencweiss opened #20974 "`createNodeField` fails silently?"
## Description

I've configured several node fields to be created at build time. One of them seems to fail silently making debugging rather difficult.

### Steps to reproduce

1. Clone [the branch  of my Gatsby site](https://github.com/stephencweiss/stephencharlesweiss.com/tree/bug/failing-node-fields)
2. Run `yarn install` & `yarn dev`
3. Go to `http://localhost:8000/___graphql`
4. Try to write a

[2020-01-29 03:33] stephencweiss commented on #20974
Okay. I figured it out. It's _not_ failing silently. It's _returning_ `null`... which then means that the field doesn't show up.

For anyone who is wondering, I was referencing `FAKE_START`, but I exported `FAKE_TIME`, so the final line of the the function (`return maxDate && maxDate.isAfter(FAKE_START) ? maxDate : null`) always returned `null`.

🤦‍♂ ... really need to add typescript.

So, I think

[2020-01-29 04:17] tesseralis commented on #19102
I took the liberty of researching a couple of translation libraries and their associated gatsby plugins, since we have some instances of rich text (for example [here](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/feedback-widget/feedback-form.js#L128) and [here](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/feedback-widget/feedback-form.js#L139)) that could

[2020-01-29 04:27] soohoowoohoo commented on #20416
bump

[2020-01-29 04:41] AishaBlake opened #20975 "Starter processing Square payments"
## Summary

In attempting to write a reference guide for processing payments with Square, I realized we could use a starter to help people do this without quite as much digging into the Square documentation and adapting of available examples.

### Motivation

Square is a solid choice for people who are just starting a business because they don't charge a monthly fee for their basic service. Right

[2020-01-29 04:48] seetdev commented on #20326
@samovertonjr Thanks for the pointers. I managed to get the change working in the test environment. The following screen shots show the difference.

Pre Code Change
<img width="1360" alt="Screen Shot 2020-01-28 at 11 46 19 PM" src="https://user-images.githubusercontent.com/35116035/73328665-9c804b00-4228-11ea-8aa1-0611b7e78ea9.png">

Post Code Change
<img width="1221" alt="Screen Shot 2020-01-28 a

[2020-01-29 07:27] sbliznyuk commented on #3285
Hey!

Shortcut for fragment still not working:

`postslist.js: Unexpected token (11:13)

   9 |           return (
  10 |             {/* <div className="blog-post-preview" key={post.id}> */}

     |              ^`

[2020-01-29 07:42] ajfisher commented on #20000
Can confirm that this is still an issue on latest version of `gatsby-remark-images` if you set `markdownCaptions: true`.

[2020-01-29 08:43] kepi0809 commented on #20164
Not stale

[2020-01-29 08:50] codyzu commented on #19669
Just hit this while setting up my linter with [import/no-extraneous-dependencies](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md).

Any ideas how to work around this with Gatsby?

I can add eslint ignore comments into the files that import reach router, but we have over 20 files that import the router.

[2020-01-29 09:17] wardpeet commented on #6291
I'm wondering if people still see this issue on gatsby-plugin-sharp@2.4.3. We have reduced memory usage of the sharp plugin itself.

[2020-01-29 09:29] vladar commented on #20838
Most likely that Netlify is trying to reach your local site which is not available from their servers (well, because it is local). You should probably have your wordpress site deployed somewhere first and then use it in your `worpdpress-source-config` for production mode. Have you tried it?

I may be completely missing something here though.

[2020-01-29 09:35] pvdz commented on #6291
Keep in mind that the segfault was a real race condition problem that was only exposed by high pressure. It was not about memory.
It is possible symptoms get reduced as we rely less on sharp for queuing. But they are also prepping a next release fixing some more bugs.
I guess, basically as long as I can repro it and they can confirm it, there's at least a problem left.

[2020-01-29 09:47] kosvrouvas opened #20981 "GraphQLError: Syntax Error: Unexpected Name "wordpress__complianz""
Hi, we just installed the complianz.io plugin on our production website (standard WordPress) and we are getting an error when building our GatsbyJS development site.

`success Downloading remote files - 149.064s - 457/520 3.49/s
success source and transform nodes - 164.366s
⠙ building schema

 ERROR

UNHANDLED REJECTION Syntax Error: Unexpected Name "wordpress__complianz"

  GraphQLError: Syntax E

[2020-01-29 09:57] wardpeet opened #20982 "Add how to style remark-autolink-headers anchor icon"
## Summary
It's unclear how to style the SVG that is generated by https://www.gatsbyjs.org/packages/gatsby-remark-autolink-headers/. This was raised on https://github.com/gatsbyjs/gatsby/pull/20968.

We should add a small section to the readme that explains how to do this with css.

### Motivation

Users who use the gatsby-remark-autolink-headers plugin.

## Steps to resolve this issue

Edit [Read

[2020-01-29 10:04] vladar commented on #20842
Thank you for opening this, @ArcaneTSGK

Did you check our [docs on routing](https://www.gatsbyjs.org/docs/routing/)? This quote from docs sounds like what you describe:

[2020-01-29 10:09] bogodars commented on #20658
gatsby clean worked for me as well

[2020-01-29 10:13] esentai8 opened #20983 "Error re graphql and contentful"
When attempting to run the server in development mode I get this error:

`Cannot query field "allContentfulBlogPost" on type "Query".
`
This error occurred immediately after I tried to wire up relation with contentful in order to dynamically create blogposts.

Now this causes problem with webpack. Here is the additional message I am seeing.

Generating development JavaScript bundle failed

C:\User

[2020-01-29 10:22] expatguideturkey commented on #20743
thank you @jonniebigodes for your response. here is the **Repro link:** https://github.com/expatguideturkey/expat-repro.git
if you browse blogs and then to individual blog post you get the error: **TypeError: Cannot read property 'catId' of undefined**

[2020-01-29 10:36] pieh commented on #20983
Do you have any content in your contentful space?

Right now by default we infer types from data, so if you: a) either don't have "ContentfulBlogPost" type or b) don't have any entries of that type in your contentful space, then we won't be able to build schema for it and you will get graphql errors like that

[2020-01-29 10:37] LpmRaven commented on #17131
For the record: This started happening to me when I added `gatsby-source-s3-image` and the s3 bucket reached over 100 images. It goes through all 145 images at the `source and transform nodes` stage and then hangs there forever. It's still happening, I've tried the fixes above. Luckily, it works after 5-6 attempts so I am not blocked.

[2020-01-29 10:41] sonusynup commented on #20937
Thanks @vladar. It works!

[2020-01-29 10:41] #20937 closed

[2020-01-29 10:47] pieh commented on #20981
I think this falls into similar category as https://github.com/gatsbyjs/gatsby/issues/20596 (not exactly the same, but type name provided by plugin seems to fail validation)

This type name is also auto generated by wordpress plugin (similar as in the issue I linked)

/cc @vladar

[2020-01-29 10:47] Coriou opened #20984 "Gatsby Image - Unknown fragment ..."
## Description

This morning I navigated to a Gatsby project of mine which has been in production for a year, fully functional. I launch a `gatsby develop` command and I'm getting an `Unknown fragment "GatsbyImageSharpFluid_noBase64"` error even though it worked for months and I haven't changed anything...

I've tried reinstalling all my dependencies, double checked everything, searched for help o

[2020-01-29 10:51] pieh commented on #20596
Can we import some typename validation utils, or would we have to re-implement them?

The thing is - lot of those are autogenerated by plugins, where users might not have control over it, so only course of action would be to report that issue to plugin maintainers. But plugins also often reuse some type names from source of their data and to "fix" the issue they would need to implement some type n

[2020-01-29 10:54] pieh commented on #20969
Can you share some minimal reproduction? It's hard to say what's going on without seeing source data and what you schema customization looks like

[2020-01-29 11:00] ma-pe commented on #20279
@candres0819

I have two questions regarding your snippet.

First: Am I correct to assume you are using this `deepMap` function?
`const deepMap = require("deep-map");`

Second: id is not defined in your snippet. Where is it coming from? This should be some kind of dynamic value, right?

[2020-01-29 11:12] vladar commented on #20981
@pieh Yeah, it is highly likely that type name contains space here (like: `wordpress__complianz something`) so it fails type name validation.

[2020-01-29 11:28] FranciscoImanolSuarez commented on #20972
From what I saw is a plugin that is installed using NPM, isn't it, if so, is there any kind of documentation?

[2020-01-29 11:33] vladar commented on #20596
Validation is simple - it is pretty much defined in spec as regex `/^[_a-zA-Z][_a-zA-Z0-9]*$/`. But sanitizing may be a bit more difficult. There are no ready tools (afaik) to transform any string to GraphQL-compatible type name.

We use this to generate query names from file paths (which would work for type names too):

https://github.com/gatsbyjs/gatsby/blob/acf2c35aa98d4eb52b678d59f82d00c107189

[2020-01-29 11:44] #18806 closed

[2020-01-29 11:48] esentai8 commented on #20983
Thank you pieh for a quick response. Yes I do have content of contentfulBlogPost. In addition to that I searched for similar errors and found that uploading a media file in contentful (even if I don't use it) might help to resolve the issue, however this was not helpful so far.

[2020-01-29 12:03] nicolasrouanne opened #20985 "Standardize `gatsby-starter-blog` components and functions"
I've been using Gatsby recently to teach _React_ to beginners, especially [`gatsby-starter-blog`](https://github.com/gatsbyjs/gatsby-starter-blog). I find they are often confused by React's possibility to use both _Function_ and _Class_ components. Same goes for _classic_ functions vs _arrow_ functions.

Both are used indifferently in `gatsby-starter-blog`; I would like to suggest using only one k

[2020-01-29 12:06] vladar commented on #20943
Anyone having this issue because of the `id` alias, please upgrade to `gatsby@2.19.9`. The subject issue of @galvogalvo seems to be different so keeping this open (and waiting for repro to fix).

[2020-01-29 12:14] vladar commented on #20855
Can you run the same query in GraphiQL? What does it return for this page (and other pages)? Is it possible that you don't have ACF for some page and have it for others?

[2020-01-29 12:21] vladar commented on #20858
Thanks for opening this issue! It seems to be unrelated to Gatsby directly but let's keep it open for some time, maybe someone will be able to help. In the meantime, you could ask for help in [Heroku community](https://stackoverflow.com/questions/tagged/heroku)

[2020-01-29 12:24] vladar commented on #20916
As far as I understand this is the same issue as #20863 Let's close this one and track the status there as it has more info.

[2020-01-29 12:24] #20916 closed

[2020-01-29 12:24] KristinaKoeva commented on #20337
Fixed by #20570

[2020-01-29 12:24] #20337 closed

[2020-01-29 12:25] disintegrator commented on #20984
We are seeing a similar issue using fragments from `gatsby-source-contentful`

[code]

### Environment

[code]

[2020-01-29 12:28] vladar commented on #20788
As far as I understand you've opened a new issue for this: #20863 Let's close this one and continue there (since the error seem to be different now)

[2020-01-29 12:28] #20788 closed

[2020-01-29 12:31] vladar commented on #20863
Hi @KamranMaqbool !

We'd very much appreciate if you could [provide a minimal reproduction][reproduction] and we'll be able to take another look. You can create a private github project (with all credentials) and invite me if you don't want to make it public.

Thanks for using Gatsby! 💜

[reproduction]: https://gatsby.dev/reproduction

[2020-01-29 12:55] stephencweiss commented on #20974
It's also worth noting that you may need to clear the `.cache` and `public` directories in order to resolve this issue truly.

[2020-01-29 13:10] sidharthachatterjee commented on #20970
@hasparus Thanks for reporting this!

I've opened an issue on our internal Gatsby Cloud tracker.

We currently run a stripped out linux container and don't support this. I'll keep you posted if we do in the future!

Let's close this for now. Thank you once again! 💪

[2020-01-29 13:10] #20970 closed

[2020-01-29 13:11] samovertonjr commented on #20326
Awesome! Get a PR up for this and you should be good to go.

[2020-01-29 13:19] kmcaloon commented on #20961
Thanks @pieh. Unable to provide a realistic reproduction at the moment but will do some troubleshooting and try to put together a minimal repo that replicates the issue.

[2020-01-29 13:21] stephencweiss commented on #20974
Also- there's no limitation on the `type` of node fields, right?

I got this to work by converting the return value _from_ `dayjs` to `string`:
[code]

[2020-01-29 13:46] Jhony0311 commented on #20969
I did, is part of the issue. Here you can see what I have: https://codesandbox.io/s/quirky-pare-bk01t

[2020-01-29 13:54] vladar commented on #20867
Hi @Jimbob001 !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

Thanks for using Gatsby! 💜

[reproduction]: https://gatsby.dev/repro

[2020-01-29 14:09] vladar commented on #20872
You should probably add something like this at the top of your `onCreatePages`:

[code]

Otherwise, this cycle is pretty expected.

[2020-01-29 14:40] vladar commented on #20985
Thank you for opening this, @nicolasrouanne

It makes sense to me and it also seems to be in line with our tutorials, so feel free to send a PR! Hopefully, it will make it easier to teach Gatsby! 💜

[2020-01-29 15:02] vladar commented on #20974
We don't enforce it (because it is expensive to check) but Gatsby does expect serializable values for node fields. Probably need to add a note to documentation on `createNode` and `createNodeField`.

Related: https://github.com/gatsbyjs/gatsby/issues/12819

[2020-01-29 15:13] Digital-E commented on #7348
Update?

[2020-01-29 15:19] metalandcoffee opened #20991 "Local HTTPS server not working properly."
## Description
When following the instructions in the Gatsby docs to use a [Local HTTPS](https://www.gatsbyjs.org/docs/local-https/) server during development, the process seems unsuccessful.

When I go to https://localhost:8000/, it shows the following privary error (Chrome):
![image](https://user-images.githubusercontent.com/20868511/73369164-28719180-4280-11ea-8f14-7711d0f41d06.png)

### Steps

[2020-01-29 15:19] vladar commented on #20957
Thank you for opening this, @KamranMaqbool

There are several issues discussing this problem with suggested solutions:

#18277
#17659
#15320

Try those, one of them should fix it for you.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsb

[2020-01-29 15:19] #20957 closed

[2020-01-29 15:27] laurieontech opened #20992 "Adding the notes theme to a site with the blog theme breaks the styling"
## Description

When adding `gatsby-theme-notes` to a site that has `gatsby-theme-blog` configured the styling on the blog breaks.

### Steps to reproduce
This repo is configured with the problematic setup. https://github.com/laurieontech/blog-theme-test
Run `gatsby develop` and navigate to `localhost:8000/blog`. The styling should be broken, and note that the light/dark mode toggle no longer work

[2020-01-29 15:27] gfpacheco opened #20993 "Gatsby renders my 404.tsx in /404.html route but not on unknown routes"
## Description

I just changed my `404.js` page to `404.tsx` and even if Gatsby creates the `/404.html` page correctly any unknown routes are using the default Gatsby.js development 404 page.

### Steps to reproduce

Create a new project using the typescript starter (or add the typescript plugin to any other one and change `404.js` to `404.tsx`) and start the server:

[code]

Navigate to `/404.htm

[2020-01-29 15:28] vladar commented on #12819
Oh, turns out this was done in Materialization PR #16091

[2020-01-29 15:28] #12819 closed

[2020-01-29 15:29] danspratling commented on #20933
We're going to need more info to be able to diagnose the issue you're having. Styled components works well across multiple projects, and it sounds like you're only having the issue on 2 pages?

If you can create a minimal reproducible example that would be really useful to help others diagnose your problem. You may also realise the issue which is happening as you're creating it.

Instructions for

[2020-01-29 15:33] gfpacheco commented on #20993
Oh boy, I just realized this is the expected behaviour in development mode only. If the server runs in production mode everything works just fine.

[2020-01-29 15:33] #20993 closed

[2020-01-29 15:35] andrewgilliland commented on #20838
I have not tried it, but I will. Thanks for the help!

[2020-01-29 15:39] danspratling commented on #20920
There are plenty of users willing to help and potentially fix errors which will cause substantial issues for users of Gatsby, but in order to do so they need clear descriptive issues to work with.

Unfortunately, this is not clear what's causing your error. As this seems more like venting frustrations than attempt to resolve the issue, i'll close this bug. If you can provide a more substantial err

[2020-01-29 15:39] #20920 closed

[2020-01-29 15:46] ShivamGoyal1899 commented on #20694
@shrey-sachdeva2000 Is this issue still unresolved? If it is, I can help out. Kindly assign it to me, if it's available.

[2020-01-29 15:59] vladar commented on #20942
Hi @DominicTobias

I tried but couldn't reproduce it locally. I don't have an infinite render loop. Maybe you could [provide a minimal reproduction][reproduction] or alternatively try reproducing it on [codesandbox](https://codesandbox.io/) to eliminate platform-specific issues?

[reproduction]: https://gatsby.dev/reproduction

[2020-01-29 16:05] vladar commented on #20991
I couldn't reproduce this, so it is probably something specific to your environment. Can you post a full output of `gatsby develop` maybe we'll see some hints there?

[2020-01-29 16:06] Js-Brecht commented on #20991
Hello @metalandcoffee,

Can you try something for me?  The dev certificates should be stored at `~/Library/Application Support/devcert`.  If that folder exists, please delete it, then go into your Keychain and remove the `devcert` certificate authority.  After that, run `gatsby develop --https` again.

There may be other issues, especially running on Mac with the current version of the package `de

[2020-01-29 16:08] Js-Brecht commented on #20991
Oh, correction.  That's the **new** folder for development certificates.  The old folder is `~/.config/devcert`, I believe

[2020-01-29 16:12] vladar commented on #20939
Thanks so much for opening this issue! As stated, this is slightly tangential to Gatsby, and it seems like you’ve already figured out the source of the problem.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby :muscle:

[2020-01-29 16:12] #20939 closed

[2020-01-29 16:17] metalandcoffee commented on #20991
Hey @vladar and @Js-Brecht! I went ahead and deleted the folder at `~/.config/devcert` and removed `devcert` from my Keychain. I'm guessing this essentially clears the previously generated devcert! And then I ran `gatsby develop --https` again. Output is below and I'm still having the same issue. Thank you for letting me know about the open PR, @Js-Brecht !!! I'll most likely be waiting for that t

[2020-01-29 16:18] vladar commented on #20984
Can you please upgrade to `gatsby@2.19.9` to check if it still happening for you?

[2020-01-29 16:22] Js-Brecht commented on #20991
I think you need to trust the certificate authority manually, since it looks like you don't have `certutil` installed installed on your machine already;  or you can follow [this section of the revised documentation](https://github.com/Js-Brecht/gatsby/blob/devcert-upgrade/docs/docs/local-https.md#in-case-certutil-is-not-installed-on-your-machine) to install `certutil`, in order for `devcert` to tr

[2020-01-29 16:25] Js-Brecht commented on #20991
Unless, of course, you followed the Firefox prompts.  Sometimes I forget that not everything shows up in your console 😆.

Can you locate your localhost certificate under `~/.config/devcert`, and run `openssl x509 -in "<certificate path>" -noout -text" here?

[2020-01-29 16:26] vladar commented on #20983
Also, can you paste `gatsby build` output? It may be useful to see contentful fetching/sourcing messages.

[2020-01-29 16:27] shrey-sachdeva2000 commented on #20694
Yes, please go for it! @ShivamGoyal1899

[2020-01-29 16:33] vladar commented on #20981
@TylerBarnes any idea how can we override bad type names coming from `wordpress-source-plugin`? I don't think we can fix this using schema customization.

[2020-01-29 16:34] esentai8 commented on #20983
Hello Vladimir. I just have resolved this issue. I am not sure why but for some reasons deleting the .cache and running the server again helped to fix the problem. Thank you and your colleagues for taking time to review my request

[2020-01-29 16:35] Danielshow commented on #20991
ss

[2020-01-29 16:48] crock opened #20995 "[gatsby-source-wordpress] Ability to set a custom route prefix (not wp-json)"
## Summary

So on my WordPress instance, I created a plugin to modify the default WordPress REST API route prefix from `wp-json` to just `api`. However, gatsby-source-wordpress doesn't have a configuration option to handle this, so builds will fail if the site isn't using `wp-json` as the api route prefix.

### Implementation

I'd leave `wp-json` as the default, but have a configuration option cal

[2020-01-29 16:48] avinoamsn commented on #20701
Thanks for the response, @TylerBarnes, I feared this was the case. For posterity, I took Tyler's advice and wrote a [custom normalizer](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#using-a-custom-normalizer) that added a new `textLink` field (populated with the url string) to all custom post types that were experiencing this problem. The url string is conditionally assigned to `textL

[2020-01-29 16:55] Coriou commented on #20984
@vladar Thanks for your input.

I've tested, without success the following Gatsby versions:

- 2.19.10
- 2.19.9
- 2.19.8
- 2.19.7
- 2.19.6

However, I have a local, a staging and a production site which all built just fine with the exact same code base on 2.19.8 a couple of weeks or so ago and when I got back at it earlier today (still on 2.19.8) I got the error I'm reporting here.

[2020-01-29 17:00] vinyltek commented on #20933
Hey @danspratling thanks for the reply! Yes it only seems to be happening on two pages (thank-you & 404). For now here's a link to the errors:

Thank You Page: https://vinyl-tekshutters.com/thank-you/
404 Page: https://vinyl-tekshutters.com/wrong-path

The styles either take a REALLY long time to load, or dont load at all. I can notice quite a few things going on in the network tab in chrome, but

[2020-01-29 17:02] metalandcoffee commented on #20991
I'm not entirely sure about which `<certificate path>` to use so here is an `ls -la` first
[code]

And then here is the output from running `openssl x509 -in "devcert-ca-root.crt" -noout -text`:
[code]

[2020-01-29 17:05] Js-Brecht commented on #20991
Can you please post the output for `gatsby-starter-default.crt` as well?

---

It does seem strange that it would give you a "REVOKED" message, especially after recreating all of the certs.  I do know that MacOS will reject a certificate if its expiration date is more than 825 days, but I don't know if that applies to Chrome on Mac, though.  You could try running this from your project root:
[code

[2020-01-29 17:08] vinyltek commented on #20933
**UPDATE:**
It seems as if the styles tend to load whenever you hover near to a <Link></Link>

[2020-01-29 17:08] DominicTobias commented on #20942
Hi Thanks for the effort, that’s interesting I’ll try and repro on
codesandbox tomorrow

On Wed, 29 Jan 2020 at 23:59, Vladimir Razuvaev <notifications@github.com>
wrote:

[2020-01-29 17:13] mjmaurer opened #20999 "[gatsby-source-contentful] No way to link to non-image local asset when `downloadLocal` enabled"
## Description

I have a PDF as a Contentful asset and `downloadLocal` enabled. With images, `downloadLocal` works fine as childImageSharp will link to `/static/...` for `src`.

For a query like:

[code]
none of the paths link to somewhere in `/static/`, so I'm not sure if there is even a way to do this right now. Instead, everything links to the CDN or somewhere in `/cache/`

### Steps to reprodu

[2020-01-29 17:15] crock commented on #20995
Opened a PR for this here https://github.com/gatsbyjs/gatsby/pull/20998

[2020-01-29 17:22] metalandcoffee commented on #20991
I'm having issues with the `sed` command:
[code]

Here is the output for `gatsby-starter-default.crt`:
[code]

[2020-01-29 17:24] mjmaurer commented on #20999
Happy to work on this btw. Probably best to add another field under 'localfile' so it's not a breaking change. Maybe something like `localUrl`?

[2020-01-29 17:30] Js-Brecht commented on #20991
Okay, MacOS apparently uses an old BSD version of `sed` by default.  I'm not even going to try to work out the syntax for that particular command without having access to the program.  Just go edit the file, and change this line where it says 7000 to 825:
[code]
Also, I think you'll have to change `node_modules/devcert-san/dist/index.js` as well:
[code]

[2020-01-29 17:40] Js-Brecht commented on #20991
Aha... I dug up an old issue in the `devcert` repository.  _**Pretty**_ sure changing the `days` parameter is what will fix this issue
https://github.com/davewasmer/devcert/issues/39

The only issue with changing the source like I've suggested is that it'll be replaced any time you update your `node_modules`.  Probably the best alternative would be to use your own custom certificate.  You can read

[2020-01-29 17:43] metalandcoffee commented on #20991
Omgosh. You fixed it!!!! Things work perfectly now. But I'm going to go through the information you linked above to look into creating my own custom certificate. Thanks so much for taking the time out to help me! You're a gem.

[2020-01-29 17:53] vladar commented on #20969
@Jhony0311 Thanks for opening this! We lack documentation on how to create custom interfaces indeed.

The missing piece in your sandbox is defining `resolveType` method for the Block interface. This method accepts an incoming value and decides the specific object type of this value (using some discriminator, in your case `kind`).

So what you could do is to define this interface separately:

[code

[2020-01-29 17:57] Js-Brecht commented on #20991
You're welcome.  Glad I could help 🙂

[2020-01-29 17:59] vladar commented on #20984
This sounds very weird.

I'd very much appreciate if you could [provide a minimal reproduction][reproduction]. Or if you have a private project - you can invite me there and I will check. It is hard to help without some code to look at.

[reproduction]: https://gatsby.dev/reproduction

[2020-01-29 18:04] #20967 closed

[2020-01-29 18:46] Doomd commented on #20603
I'm sorry I didn't respond earlier...I got wrapped up in another project. @jonniebigodes , I really appreciate your in depth response. I've learned a great deal in going through everything you detailed. You are a gentleman and a scholar. PS...I usually rename all my _descriptive_ functions something clean after I'm done with the project...but I have to have a little fun while I'm coding it...

[2020-01-29 18:46] #20603 closed

[2020-01-29 19:12] patricksimonian commented on #10988
I have had this issue on my work project for quite a while and it has been something we have on and off debugged.

Our site shows a particular view at `/` and during a search `/?search=something` it shows a different set of components. As explained from above...

This clearly explains that there was a mismatch between the __hydrated html__ and the __client side render__. We were getting __extremel

[2020-01-29 19:12] esphen commented on #20949
:wave: I'll contribute by adding a repro repo

|Issue| Missing peer deps|
|-|-|
|Repro| https://github.com/esphen/gatsby-peer-dep-repro|
|Possibly related issues|#20900 #20915|
|Resolved?| No |

[2020-01-29 19:22] blainekasten opened #21004 "Improve .env.* usage"
## Summary

Our current setup with `.env.development` and `.env.production` has some limitations.

- First it is [confusing](https://github.com/gatsbyjs/gatsby/issues/20646#issuecomment-575518340) that command line variables must be prefixed with `GATSBY_` to end up in the client bundle while the `.env` files do not have this rule.
- Secondly we have had [security issues with hacky patches](https:

[2020-01-29 19:25] blainekasten commented on #20646
Closing this in favor of discussion here : #21004

[2020-01-29 19:25] #20646 closed

[2020-01-29 19:26] tmilewski commented on #20984
I'm running into, what I believe to be a similar issue. That said, I'm receiving it on other fragments that I've created, as seen below. I'll work to get more information.

### Versions:
#### Known Working Gatsby Versions:
- `2.17.0`
- `2.19.0`
- `2.19.5`
- `2.19.7`

#### Known Failing Gatsby Versions:
Not Working:
- `2.19.8`
- `2.19.9`
- `2.19.10`

### Following The Issue:

#### `yarn build` log

[2020-01-29 19:33] Js-Brecht commented on #20991
Closing this because the issue is tracked by #14990, and fixed by #18703

[2020-01-29 19:33] #20991 closed

[2020-01-29 19:56] Js-Brecht commented on #20885
@jack2gs Have you tried using a newer version of Node?  I seem to recall seeing an issue somewhere where ImageSharp was having some similar issues on some of the less current versions of Node

[2020-01-29 19:57] Js-Brecht commented on #20885
I use Ubuntu v19, with Node v12, and I don't have any problems running Gatsby

[2020-01-29 20:02] #20799 closed

[2020-01-29 20:06] jonniebigodes commented on #20603
@Doomd no need to thank, glad that i was able to solve your issue, or at least give you some insights.

 I hear you...i hear you and fully understand why you originally used it.

Svelte, like React, Vue or *shrugs Angular are all excelent frameworks, built by awesome people. And i wouldn't discard React just yet, my rule of thought when picking up a project is to implement it is to choose the righ

[2020-01-29 20:09] iDVB opened #21009 "[gatsby-source-lever] Does not support `createNodeField`"
## Description

The `gatsby-source-lever` source does not support adding custom fields with `gatsby-node.js` and `createNodeField`.

### Steps to reproduce
Go to codesandbox example:
https://codesandbox.io/s/gatsby-source-lever-bug-5n2op

Make this GraphiQL call which **WORKS**:
[code]

Then make this GraphiQL call which **FAILS**:
[code]

**Additional Test:**
Make this GraphiQL call which also **

[2020-01-29 20:10] Jhony0311 commented on #20969
That worked perfectly @vladar I appreciate it. I also appreciate the explanation, helped me a lot to understand what's happening and what I need to do to accomplish what I'm looking for.

Is there any improvements to the docs that I could help with? I'm not a graphql expert myself but I'll be more than happy to jump on anything that could help people to get things clearer.

[2020-01-29 20:15] Js-Brecht commented on #20885
Information for reference: `_ZNK4vips
6VImage11premultiplyEPNS_7VOptionE` is a symbol in `libvips-cpp` which is used by [`sharp`](https://github.com/lovell/sharp), which is in turn used by [`gatsby-transformer-sharp`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/package.json#L16).

If it's not node, perhaps there were some issues during the install process?

Pre

[2020-01-29 20:24] tristanMatthias opened #21011 "[gatsby-plugin-netlify-cms] Multiple git branches support"
# Summary

I would like to be able to configure what git branch my Netlify CMS instance uses. Currently, I have not found any way to pass in environment variables from Gatsby to Netlify (attempted webpack configs)

### Motivation

This allows us to deploy to multiple environments and the content is linked to the current environment, not the one setting for all.

[2020-01-29 20:35] Js-Brecht commented on #20883
@ptlab-la that's interesting.  Do you, perhaps, have a minimal reproduction repository you could share?  I've tried to replicate the issue using a default gatsby starter, and serving it on my local network so I can run the site using Safari on my iPhone.  I was unsuccessful in recreating the problem.

[2020-01-29 21:06] dandv commented on #3406
If you want fast builds, turns out you need the newly announced [Gatsby builds](https://www.gatsbyjs.org/blog/2020-01-27-announcing-gatsby-builds-and-reports/), part of the commercial Gatsby Cloud offering.

[2020-01-29 21:17] Js-Brecht commented on #21009
I kind of wonder if this has to do with the usage of [`createSchemaCustomization`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-lever/src/gatsby-node.js#L6-L35).  According to [the docs](https://www.gatsbyjs.org/docs/node-apis/#createSchemaCustomization), that API endpoint runs immediately before schema generation.  Perhaps it is overriding the adjustment you made during `

[2020-01-29 21:19] alex-nicaise opened #21013 "GraphQl Data not showing up in "build", but showing in "develop""
## Description

Hello,

I have a netlify build of my site [here](https://boring-wilson-2d2823.netlify.com/).

As you can see under the "SOS Meetings in New York State" section, some meetings do not contain a location (in grey text) like the others. I'm confused why this is happening, because in the development bundle, this works fine and all the data shows up as it should. However, after netlify t

[2020-01-29 21:28] Js-Brecht commented on #21009
Well, maybe it's not quite as direct as that.  `gatsby-source-hacker-news` uses the same endpoint.  However, they do differ in that `gatsby-source-lever` uses the `@dontinfer` directive.

`gatsby-source-hacker-news`:
[code]

`gatsby-source-lever`:
[code]

[2020-01-29 21:30] zhandosweb opened #21016 "Question about Google Analytics code insert"
Hello!

Please, tell me. If I want to insert Google Analytics code to my site, then I should use [Google Analytics Plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/?=google%20analytics), or create a custom component?

Why I can't just insert Google Analytics code to header.js, or footer.js component? This is isn't work? For example, on simple HTML-sites (Jekyll or Wordpress

[2020-01-29 21:49] iDVB commented on #21009
Thanks @Js-Brecht.
I found that the issue was that the package's [typeDefs](https://github.com/gatsbyjs/gatsby/blob/dd96604b91227a281df279626ae0d34002d89436/packages/gatsby-source-lever/src/gatsby-node.js#L8) we're opting out of [inference](https://www.gatsbyjs.org/docs/schema-customization/#opting-out-of-type-inference) with `dontInfer`.

Removing it fixed the issue. I created a PR https://github

[2020-01-29 22:17] connorlindsey commented on #21016
Use the google analytics plugin with your tracking id. When your gatsby site is built, the plugin will automatically insert the tag into your HTML.

[2020-01-29 22:53] marcysutton commented on #18278
I'm opening this one back up to the community by removing an assignment, if anyone is interested in working on it let us know!

[2020-01-29 22:55] marcysutton commented on #9350
@alexlbr how's it going with this issue? Are you still working on a PR? You can typically ignore most of the CI checks when working on a docs PR (aside from linting).

[2020-01-29 22:56] marcysutton commented on #20050
I'm opening this up to the community; if anyone wants to work on it let us know!

[2020-01-29 23:06] jonniebigodes commented on #20743
@expatguideturkey i'm cloning the repo as i type this. I'm going to take a look at it and come back with a possible solution for your issue. Do you mind waiting a bit while i take a closer look at this?

[2020-01-29 23:06] baerrach commented on #1789
This works fine for tags, but what about `titles`?
Titles need to be case insensitively sorted.

The workaround is to do the sorting in code...

[2020-01-29 23:08] marcysutton commented on #15233
Hi @Carike, are you still working on this issue? If not, it would help to open it back up to the community. Thanks so much!

[2020-01-29 23:12] jonniebigodes commented on #20975
@AishaBlake is this time sensitive? if not i can start going over this during the weekend and report back when i have something more concrete. Also once #20977 goes through it would help out immensely

[2020-01-29 23:31] marcysutton commented on #21013
Here's a suggestion, try running `gatsby build && gatsby serve` locally so you can investigate the data layer in your built site before deploying to Netlify. Do you get any errors?

[2020-01-29 23:37] marcysutton commented on #20932
This could be done as part of https://github.com/gatsbyjs/gatsby/issues/12503; search improvements have been on our list for a while, and are currently slated for Q2 in terms of priorities.

[2020-01-29 23:40] marcysutton commented on #20895
@Phizzard we would love your contribution to the Gatsby docs, and would welcome a PR if you're able!

[2020-01-29 23:49] marcysutton commented on #20969
@Jhony0311 we have Using Schema Customization coming up as a workflow to evaluate next quarter. If there are things you feel could be improved in the docs in the meantime, we would welcome a PR! Another way to contribute would be to get a jump start on the workflow evaluation as outlined here (# 15): https://github.com/gatsbyjs/gatsby/issues/13708

[2020-01-29 23:58] angelocabanerodedicatoria93 commented on #11406
delete react node_modules

[code]

if error occurs use this method again

[2020-01-29 23:58] jonniebigodes commented on #21013
@marcysutton i think you meant to say `gatsby develop` and open up `http://localhost:8000/__graphql` as the combination of those two commands and the said url is opened then a error will pop up, more specifically a 404 page

[2020-01-30 00:00] marcysutton commented on #20384
Hi @srs231198, checking up on this issue -- are you still interested in working on it? Let us know!

[2020-01-30 00:15] muescha opened #21021 "chore(www): Cannot read property 'resolve' of undefined"
## Description

Cannot read property 'resolve' of undefined

### Steps to reproduce

- checkout github gatsbyjs
- run `gatsby develop`

### Expected result

no error

### Actual result

Error:

[code]

### Environment

Run `gatsby info --clipboard` in your project directory and paste the output here.

### Cause

two `,,` in `gatsby-config` get me a `undefined` plugin in:

[code]

[2020-01-30 00:22] mjmaurer commented on #20895
`sizes` is actually a param on `childImageSharp.fluid`. If set, I believe it doesn't affect sharp processing and just gets passed through to the `fluid` attribute of Gatsby's `Img`.

As such, it should be listed [here](https://www.govtrack.us/congress/members/bernard_sanders/400357) as well as in the image docs. Happy to do this as well! Just let me know if you plan on tackling

[2020-01-30 00:26] AishaBlake commented on #20975
@jonniebigodes, this isn't super time-sensitive. (I'd also _love_ any feedback on that guide as you go through this.) The team will be occupied with Gatsby Days and Gatsby Gathering next week, so my response time will be a bit slower, FYI.

[2020-01-30 00:52] alex-nicaise commented on #21013
@marcysutton @jonniebigodes i have tried locally doing gatsby buid & serve, the same error still occurs. I'm not sure what's wrong, I've checked the wordpress posts backend - that's okay; I've double checked the way I call the hooks in - seems okay. Just really confused at this point.

You can also inspect the title of each post, it should be displaying as `<p class="my-5"<strong>{{content}}</stro

[2020-01-30 00:59] KyleAMathews commented on #3406
@dandv hey, could you post your site over in this issue? We've been collecting examples of sites there that have slower than expected build times and we'd love to see what's going on with your site.
https://github.com/gatsbyjs/gatsby/issues/19512

[2020-01-30 01:08] CanRau commented on #20949
Hey there 👋 I'm trying to upgrade https://github.com/GaiAma/Coding4GaiAma/ to Yarn 2 with PnP and local cache, unfortunately even tho `gatsby` is of course listed as dependency `yarn build` which effectively runs `gatsby build` responds with
[code]
`yarn why gatsby` yields
[code]
and `yarn why gatsby-cli` yields
[code]
tho indicating, I believe, that gatsby & gatsby-cli indeed have been installed

[2020-01-30 01:14] daaain commented on #16697
Maybe a more flexible solution to this problem (without needing changes in existing plugins too) would be a generic way to extend the theme config by making the theme config object importable through some resolution?

See: https://github.com/gatsbyjs/gatsby/issues/16593#issuecomment-580037645

[2020-01-30 01:41] pravynandas commented on #17557
For what it's worth.. for the same package.json file, below two commands install the packages in node_modules quite differently. Pay attention to the 'core-js' folder (to which I'm getting **#98123 WEBPACK** error. The **gatsby new** version works great.

Note: Project under test is an official starter example from [here](https://www.gatsbyjs.org/starters/muhajirdev/gatsby-starter-redux-firebase/)

[2020-01-30 01:41] devrchancay commented on #17202
[code]
in the constructor of the Image component

[code]

[code]

It is very likely that I am not taking something into account, but I would like to know if I am on the right track @KyleAMathews

[2020-01-30 01:47] vinyltek commented on #20933
**UPDATE**
Problem solved!!! It seems as if i forgot to wrap my 404.js & thank-you.js pages with the <Layout /> component!

[2020-01-30 01:47] #20933 closed

[2020-01-30 02:32] muescha opened #21025 "gatsby-dev-cli: ERROR #11321 PLUGIN Cannot find module"
## Description

`ERROR #11321 PLUGIN Cannot find module './transformation/file/file'`

### Steps to reproduce

- checkout gatsby repo
- install gatsby-dev-cli
- go into www directory
- run `gatsby-dev --packages gatsby-plugin-mdx` and wait until finish
- run `gatsby develop`

### Expected result

should run

### Actual result

Error (exerpt - see full error stack below):

[code]

<details>
<summar

[2020-01-30 03:04] jordan314 opened #21026 "gatsby-source-contentful Response Size Too Big"
## Description
We're running into an issue similar to #20081 with gatsby-source-contentful where once we have too many entries, we're getting an error "400 Response size too big. Maximum allowed response size: 7340032b." I've run into the same error with contentful CLI which can be mitigated with --max-allowed-limit, but there doesn't seem to be any pagination limit options in gatsby-source-conten

[2020-01-30 03:04] muescha opened #21027 "gatsby-dev-cli: how to remove the installed plugins"
### Summary

describe better the removal of changes when not use `gatsby-dev` anymore

### Steps to replay this issue

- i installed gatsby-dev-cli
- i used it to run `gatsby-dev` or the `gatsby-dev --packages`
- now i run again `yarn install`
- but the changed files still stay there (my `console.log`s are still there)

### Draft the doc

add it to the gatsby-dev-cli docs

[2020-01-30 03:27] glauberfc opened #21028 "Custom page URL"
## Summary

## Relevant information

I have a page on my Gatsby website w/ name profile, but I want to customize the url to **profile/some-string**. I want to open the profile page w/ this custom url and could read the string after the bar. I already tried to do this manually w/ reach router, but it not worked.

There is a way to do this?

### Environment (if relevant)

  System:
    OS: macOS 10.

[2020-01-30 03:44] deriegle commented on #21028
[Looks like this comment could help you](https://github.com/gatsbyjs/gatsby/issues/1171#issuecomment-446171714)

Here is a sample that you could add to your `gatsby-node.js` file to make this work for your use case.

[code]

[2020-01-30 04:49] deriegle commented on #21026
I tried my hand at putting in a fix for this. You can see that [here](https://github.com/gatsbyjs/gatsby/pull/21030). I can see this being useful for some of the projects I'm working on with Gatsby <> Contentful integrations.

[2020-01-30 05:01] deriegle commented on #21011
It looks like this is probably a limitation on the Netlify side of things and not Gatsby.

According to [this section](https://www.netlifycms.org/docs/authentication-backends/#options) in their docs which gives you all the options that you can set in your `config.yml` file,  Netlify currently only supports a single git branch.

[2020-01-30 05:41] muescha opened #21032 "chore(image-sharp/vips): ERROR Failed to process image ... Input file contains unsupported image format"
## Description

[code]

### Steps to reproduce

- checkout gatsby
- cd www
- run `gatsby develop`

### Expected result

no error

### Actual result

i got the error

### Tried steps

- i checked out an older commit (from december 2019) but error still exists
- upgraded `vips` from 8.9.0 to 8.9.1

[code]
upgraded to:

[code]

### Environment

[code]

[code]

### Note

i see the error here:
https://

[2020-01-30 06:08] muescha commented on #21032
downgrading to 8.8.4 works:

[code]

or did i missed the new yarn/npm install after vips upgrade to 8.9.1?

[2020-01-30 07:16] muescha commented on #21032
created issue in vips repo: https://github.com/libvips/libvips/issues/1539

[2020-01-30 07:32] expatguideturkey commented on #20743
@jonniebigodes yes its ok, I can wait, I want to be solved this issue.

[2020-01-30 07:46] #21021 closed

[2020-01-30 07:57] #21009 closed

[2020-01-30 08:17] zhandosweb commented on #21016
Thank you for your answer. But I'm living in Kazakhstan, and do SEO sites in Russia. And what, if I want to add Yandex Metrika code? It's a Google Analytics alternative from Russia.

Also in the future, I want to add Google Adsense, Yandex Ads, and other ad platforms code. For all of this, I should create custom components?

Why I can't just insert Google Analytics code to the footer.js component?

[2020-01-30 09:17] masives commented on #20185
@pieh I've drafted PR https://github.com/gatsbyjs/gatsby/pull/21037

[2020-01-30 09:23] Olanetsoft opened #21038 "Markdown image not showing"
## Description

image not showing in the markdown file

{
			resolve: `gatsby-transformer-remark`,
			options: {
				plugins: [
          {
            resolve: `gatsby-remark-images`,
            options: {
                maxWidth: 590
            },
          },
					`gatsby-remark-prismjs`,
					`gatsby-remark-smartypants`,
          `gatsby-remark-copy-linked-files`,

				]
			}
		},
### Step

[2020-01-30 09:25] #20900 closed

[2020-01-30 09:27] riddla commented on #10482
@sidharthachatterjee, sounds great. Any news on this?

[2020-01-30 10:13] kiliw commented on #15304
Please reopen this. Urgent topic and there is an endless discussion about minor things in the PR so will take a while to get merged. Please advise with a workaround for the time being.

[2020-01-30 10:21] muescha commented on #16135
a better sparse checkout is now in Git 2.25:
https://github.blog/2020-01-13-highlights-from-git-2-25/

[2020-01-30 10:33] muescha commented on #21032
@lovell comment https://github.com/lovell/sharp/issues/2062#issuecomment-580189056

so i need to wait if v0.24 is available in gatsby dependencies

[2020-01-30 10:43] DominicTobias commented on #20942
@vladar I had trouble getting codesandbox to run, but I can reliably repo the issue.

Here is a prepared repo, even simpler than the original: https://github.com/DominicTobias/mdx-infinite-render-loop

Steps to repo:
- `yarn start`
- Open up browser and observe this page:
![Screenshot 2020-01-30 at 18 41 53](https://user-images.githubusercontent.com/760314/73442666-33b3e280-4390-11ea-9fac-96d51ecb

[2020-01-30 10:47] glauberfc commented on #21028
Thanks @deriegle!

[2020-01-30 10:47] #21028 closed

[2020-01-30 10:48] DominicTobias commented on #20942
Interestingly the issue only occurs if `<LivePreview />` component is rendered 🤔

[2020-01-30 11:54] vavra7 opened #21042 "Query data in Pages (class component)"
I walked through [documentation](https://www.gatsbyjs.org/docs/page-query/) and all examples are using function components. However I need to use graphql query on page using **class component**. But using class component, there are no queried data available in props. I didn't find single mention that graphql is supposed to work only in function component.

Is it a bug, or it is not supported in cl

[2020-01-30 11:56] deriegle commented on #21028
You're welcome! I think you will. I am not 100% sure, but it seems like you'll need to rebuild everytime you make a change on the server. It depends if the plugin actually listens for changes on the server, the documentation for the AppSync plugin doesn't say anything about that.

[2020-01-30 11:59] muescha commented on #21004
there was also a confusion between .dev and .prod:

#19388 Gatsby automatically loading dotenv in an undocumented way

i think the arguments there can also goes into consideration ...

[2020-01-30 12:00] Coriou commented on #20984
How can I reach out ?

[2020-01-30 12:02] Fatme commented on #21042
Hey @vavra7,

Most probably you can access them using `this.props.data`.

[2020-01-30 12:07] andreasnett opened #21043 "Sorting of markdown-pages is incorrect"
## Description

Describe the issue that you're seeing.

As specified in the tutorial I added the line of code `(sort: { order: DESC, fields: [frontmatter___date] })` to the allMarkdownRemark to sort the md files by frontmatter date. However, this sorting is incorrect. It gives a different sorting than not having it there, and order ASC gives the opposite of DESC, but for some reason a few files th

[2020-01-30 12:13] pvdz commented on #17233
Ok, I am looking into it now. Consider this a research post while I'm trying to dig in.

I think https://github.com/nodejs/help/issues/1059 is interesting because that implies that there shouldn't be a concrete difference between the v8.serialize and json.stringify, apart from a more aggressive gc schedule. This could very well be the reason. Additionally we might consider that the performance imp

[2020-01-30 12:22] vavra7 commented on #21042
Hi @Fatme, you are right.
I made several attempts and did mistake. I considered my [client-only route](https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/) as a page but it appears that on this type of pages, page graphql query unfortunately can not be used  at all.

Thank you for you answer.

[2020-01-30 12:38] leymannx commented on #18433
Getting the same on Node 13 when using the `gatsby-source-drupal` plugin.

[2020-01-30 12:39] freiksenet commented on #21043
Hi!

`06.06.2018` is not a valid Gatsby date format, thus it's interpreted and sorted as string. It will work correctly if you use eg `2018-06-06`.

[2020-01-30 12:39] #21043 closed

[2020-01-30 12:44] #21042 closed

[2020-01-30 12:44] Ekwuno commented on #20947
Awesome! @ehowey I am happy to collaborate with you on this. Would you like to share your thoughts on topics to cover?

[2020-01-30 12:49] Ekwuno commented on #20947
I am looking to use the gatsby-theme-blog & gatsby-theme-notes to show this as these are themes Gatsby maintains.

[2020-01-30 12:59] andreasnett commented on #21043
How might I change the date formats of all my files efficiently?

[2020-01-30 13:02] freiksenet commented on #21038
Hi!

In your config, you have declared two `gatsby-transformer-remark` and only the latter is used. You should combine their config together in plugin and then the images would show correctly.

Thank you for using Gatsby and feel free to open new issue if you have further questions!

[2020-01-30 13:02] #21038 closed

[2020-01-30 13:09] freiksenet commented on #20963
Unfortunately that plugin doesn't support it. You would have to write some custom logic in `gatsby-ssr.js` or in your app code. You can try looking at `gatsby-plugin-google-tagmanager` code for inspiration.

I hope that helps!

[2020-01-30 13:09] #20963 closed

[2020-01-30 13:11] #21026 closed

[2020-01-30 13:15] Olanetsoft commented on #21038
Oh my goodness it worked like magic.
thank you @freiksenet

[2020-01-30 13:26] #20694 closed

[2020-01-30 13:41] pieh commented on #21032
While not proper fix (we need to bump sharp) - but until it's fixed you can workaround this by using yarn + resolutions, by adding:
[code]
to your `package.json`

[2020-01-30 13:42] freiksenet commented on #21032
Adding that we can't bump sharp because it requires node 10 and we officially support node 8. We will update it when we drop node 8 support.

[2020-01-30 13:42] #21032 closed

[2020-01-30 13:43] jack2gs commented on #20885
@Js-Brecht , thank you very much! I installed the libvips manually following this instruction: https://github.com/libvips/libvips/wiki/Build-for-Ubuntu

[2020-01-30 13:43] #20885 closed

[2020-01-30 13:53] AskatDzhambulov commented on #20963
Thanks!

[2020-01-30 14:01] vandesh commented on #19487
In my case it seems similar to the issue above. I have the following code -

[code]

As you can see, I have added a check for the `window` object in the `useEffect` hook within the component, but it still throws -

`"document" is not available during server side rendering.`

Am I missing something obvious here?

[2020-01-30 15:04] blainekasten commented on #19959
@jquense I was looking into this and I'm not certain I see the issue. Did you run into this or did you just identify it while looking through the code?

From what I see, we initialize pageResources in the constructor by synchronously loading the resources for a given path. If we implemented a componentDidMount check, it would fail in the same way that the initial state setting would fail if there

[2020-01-30 15:06] freiksenet commented on #20918
Hi @pedro-surf!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2020-01-30 15:08] kevin940726 commented on #20949
@esphen I believe I have found the issue, `gatsby-source-graphql` should also list `graphql` as peer dependency. I can create a fix to it later :)

[2020-01-30 15:36] andreasnett commented on #21043
@freiksenet

[2020-01-30 15:45] DSchau commented on #13512
Hi @shannonbux!

This works!

[code]

Maybe we could improve the comprehension of the message so it's clearer?

[2020-01-30 15:48] 8ctopotamus commented on #16330
I am not sure if there's a better place to continue this discussion, but I was trying to find a way to do kind of the same thing as @vavra7 .

In theory, wouldn't there be a way to build your own C.D. process if you have both your CMS and Gatsby site on Node hosting? (Take WordPress out of the equation for now).

Roughly something like this:
1) Use NetlifyCMS or TinaCMS to edit content
2) Push sav

[2020-01-30 16:11] jokokoloko commented on #20984
I am also getting the same/similar error as @tmilewski but some additional weirdness is that it happens while editing seemingly unrelated code (such as removing a className from an element and then saving) and having the hot-module-loader automatically refresh my browser. Either making another change to my code and then saving or running "gatsby develop" rebuilds the site/app correctly without any

[2020-01-30 16:21] jonniebigodes commented on #19487
@vandesh the logic applies, as Gatsby is a server side rendering framework, some apis, like `window` and in this case`document` are not present during the build process. You'll have to do some additional checks with this. Or based on the use case of the component you could probably go with [this](https://www.gatsbyjs.org/docs/using-client-side-only-packages/), basically you move the component in q

[2020-01-30 16:30] CanRau commented on #20949
https://github.com/yarnpkg/berry/issues/766#issuecomment-580284760

Ok, just "abandoned" the yarn2 branch for now 😅

[2020-01-30 17:01] #20985 closed

[2020-01-30 17:12] alex-nicaise commented on #21013
This is fixed. There was a problem with the way the returned HTML was written.

[2020-01-30 17:12] #21013 closed

[2020-01-30 17:19] jonniebigodes commented on #21013
@alex-nicaise glad to know that you managed to solve it...i was just finishing cloning the repo and check your issue. But it's great that you managed to solve it.

[2020-01-30 17:22] brandontb12 opened #21053 "GraphQL for a single pdf file"
I found documentation for querying all pdf files by using the allFile type, but I want to query a single pdf file. I haven't been able to find any documentation on querying a single pdf file. This is what I have tried so far but I haven't had any luck.

const data = useStaticQuery(graphql `
        query {
            pdf: file(base: { eq: "resume.pdf" }) {
                publicURL
            }

[2020-01-30 17:31] karlhorky commented on #20568
Ah interesting. I guess a new Gatsby `<Link />` component could be created with a `prefetch` prop, to control this behavior:

[code]

I'll have to see whether this is useful enough for us. If so, maybe I'll implement + publish this too.

[2020-01-30 17:33] TylerBarnes commented on #20903
Hi @expatguideturkey!

Sorry to hear you're running into an issue. I'm not sure if this is a Gatsby problem or a WordPress problem. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it

[2020-01-30 17:59] marcysutton commented on #21016
The plugin is an abstraction to make working with Google Analytics easier to control from a gatsby-config without having to go deep into other files. But that makes sense why you'd want to have more fine-grained control over it: you could insert it yourself by creating an html.js file: https://www.gatsbyjs.org/docs/custom-html/

[2020-01-30 18:31] #20326 closed

[2020-01-30 18:40] dubble-G opened #21055 "Gatsby Config Validation Fails When Proxy is an Array (expects object)"
## Description

gatsby develop fails due to validation error.  I have an array of proxies, but proxy is expected to be an object.

### Steps to reproduce

I have multiple endpoints that I wish to proxy.  I used the following Gatsby documentation:

https://www.gatsbyjs.org/docs/api-proxy/  to configure. Note the proxy docs indicate that proxy can be an array.

### Expected result

According to the

[2020-01-30 19:09] shannonbux commented on #13512
That does look like an improvement since it now says the word "error," which wasn't there before.

However "error Usage: gatsby <command> [options] " still isn't quite as helpful as it could be because the user still has to scan the list with no assistance. It could say something like

[code]

or even better
[code]

[2020-01-30 19:19] WonderPanda commented on #19518
@seanemmer Can you share a bit more information about your set up for this? I'm hoping to achieve something similar but am still a bit new to the Gatsby APIs

[2020-01-30 19:37] ivan-aksamentov opened #21058 "gatsby-remark-autolink-headers: SSR assumes let keyword is available"
I opened PR with a fix here:
https://github.com/gatsbyjs/gatsby/pull/21083

## Description

I initially encountered this error while porting https://nextstrain.org to IE:
https://github.com/nextstrain/nextstrain.org/issues/113

When `gatsby-remark-autolink-headers` is enabled, Internet Explorer 10-11 will fail with

[code]

pointing to the line 6 in the snippet below:

[code]
As you see, the code

[2020-01-30 19:45] vladar commented on #20984
@Coriou email me vladimir@gatsbyjs.com I'll check as soon as I have a chance

[2020-01-30 19:48] madalynrose opened #21059 "Add additional configuration options for client-side routing announcements"
## Summary

Add additional configuration options for the `RouteAnnouncer` created in #19290 by adding a `<RouteAnnouncement>` Gatsby component.

### Basic example

[code]

or

[code]

### Motivation

Allowing developers to specify what exactly should be announced instead of inferring that information based on the `h1` or `title` of a page will ensure route change announcements are accurate. This c

[2020-01-30 19:54] saitodisse commented on #8431
Try to use this type: `ReplaceComponentRendererArgs['props']`

[2020-01-30 20:31] AishaBlake commented on #20179
Hey, @karthi07! Checking in on this. Have you been able to work on this issue?

[2020-01-30 20:36] tesseralis commented on #20587
I'm considering an approach where the *-links files only contains only the links and no English text, and we source that information from the documents themselves.

Aside from making translations easier, this will also get of a lot of duplicated text that is [error-prone](https://github.com/gatsbyjs/gatsby/pull/20762) when editing page titles/headings.

## Method

We would add two fields to the fr

[2020-01-30 20:40] AishaBlake opened #21060 "[docs][guides] New guide on working with Snipcart"
## Summary

As part of the ongoing effort to improve on the top 25 learning workflows identified in #13708, we'd like to add a Reference Guide on working with Snipcart in Gatsby. This will be one of several guides added as part of the [e-commerce workflow](https://github.com/gatsbyjs/gatsby/issues/19768).

Some recommended topics to cover:

- brief explanation of [Snipcart's features](https://snip

[2020-01-30 20:49] amritdeveloper commented on #16455
Why gatsby-source-contentful fix this by default

[2020-01-30 21:07] galvogalvo commented on #20943
I'm able to recreate via GraphiQL with the full query, here's what happens as I add an ID (which is what happens to our queries):

![conflict](https://user-images.githubusercontent.com/1539759/73490404-5fd95e80-43a4-11ea-90c4-85a3986854d9.gif)

This is the full query, as you can see *items* appears multiple times.

[code]

[2020-01-30 21:12] ksntcrq commented on #20919
I copied and pasted the content of `gatsby-browser.js` to `gatsby-ssr.js` and everything is working fine for both the development and the production builds. It seems the server-side rendering wasn't working for the production build, maybe because it is not enabled locally?

Closing the issue.

[2020-01-30 21:12] #20919 closed

[2020-01-30 21:50] fullofcaffeine commented on #1526
+1, should be optional.

[2020-01-30 22:01] fullofcaffeine commented on #17914
Started using Gatsby recently. In some ways, it improves the static-site generation workflow a lot, and in other ways I really wished I was using something like jekyll or middleman instead. It all started when I needed to simply push the typography.js styles down the stack so that it could override the bootstrap typeface settings, but something so simple in concept is far from trivial with Gatsby,

[2020-01-30 22:35] jordan314 commented on #21026
@deriegle thanks so much for the quick help. We're still having errors even with pageLimit = 10. I'm digging deeper into our queries and will report back.

[2020-01-30 22:56] james-willett commented on #10867
Why is this closed again? Still having this issue. If it's closed... at least tell us why (and what the resolution is)?

[2020-01-30 23:13] classicmatsuo commented on #21053
@brandontb12 try this:
`query {
  allFile(filter: { base: { eq: "resume.pdf" } }) {
    edges {
      node {
        publicURL
      }
    }
  }
}`

[2020-01-30 23:16] itesainnovation commented on #15322
Hi @gregwhitworth! I'm having the same issue with azure. How did you fix it? What do i need to change? Thanks a lot

[2020-01-30 23:20] deriegle commented on #21026
@jordan314 you're welcome! Sorry it's not working to fix your issue. Let me know what you find and I can try to take another look.

[2020-01-30 23:26] jordan314 commented on #21026
@deriegle thanks very much. Our query is failing on `currentSyncData = await client.sync(query)` in fetch.js, which does not seem to use the pageLimit variable.

[2020-01-31 00:09] jordan314 commented on #21026
I think our bug is with contentful, I can hit their sync API with curl and it will error out about response size. Reaching out to them and will update here

[2020-01-31 00:44] brandontb12 commented on #21053
I was able to get further with that query! Unfortunately, {this.props.data.allFile.edges.node.publicURL} can't find publicURL, but it the edges and node no longer throw an error.

[2020-01-31 01:40] tesseralis opened #21066 "[docs] stub: Adding Search with Elasticlunr"
## Summary

Write the article for [Adding Search with elasticlunr](https://www.gatsbyjs.org/docs/adding-search-with-elasticlunr/)

## Steps to resolve this issue

### Draft the doc

- [ ] Write the doc, following the format listed in these resources:
  - [Overview on contributing to documentation](https://www.gatsbyjs.org/contributing/docs-contributions/)
  - [Docs Templates](https://www.gatsbyjs.

[2020-01-31 01:43] tesseralis opened #21067 "[docs] stub: Maintaining a Plugin"
##  Summary

Write the article for [Maintaining a Plugin](https://www.gatsbyjs.org/docs/maintaining-a-plugin/)

[2020-01-31 01:45] tesseralis opened #21068 "[docs] stub: Data Storage (Redux)"
## Summary

Write the article for [Data Storage (Redux)](https://www.gatsbyjs.org/docs/data-storage-redux/)

[2020-01-31 01:47] tesseralis opened #21069 "[docs] stub: Gatsby for Freelancers"
## Summary

Write the article for [Gatsby for Freelancers](https://www.gatsbyjs.org/docs/gatsby-for-freelancers/).

## Steps to resolve this issue

### Draft the doc

- [ ] Write the doc, following the format listed in these resources:
  - [Overview on contributing to documentation](https://www.gatsbyjs.org/contributing/docs-contributions/)
  - [Docs Templates](https://www.gatsbyjs.org/contributin

[2020-01-31 02:03] deriegle commented on #21026
Yeah, that sounds like a good idea. I'm looking at the docs for the sync API and it says [`"The synchronization endpoint delivers a maximum of 100 items per page. You will need multiple requests to sync large data sets."`](https://www.contentful.com/developers/docs/concepts/sync/) and so it _shouldn't_ run into that response size error. Hopefully you can get it figured out soon.

[2020-01-31 02:07] geneno99 commented on #3874
how to execute this one in vagrant?

[2020-01-31 03:52] ehowey commented on #20947
Hi Ekwuno,
These are just some thoughts that have been rambling in my head:

- A mental model for explaining themes, I think what Gatsby has is different enough from WP and Drupal that it would maybe be helpful for their to be an introduction so people can understand that themes are _composed_ together, almost like building a lego set, or orchestrating a music piece.

- I agree with sticking with

[2020-01-31 04:30] fullofcaffeine commented on #1994
How do I go about re-ordering the CSS placement on the header nowadays? The latest Gatsby version's `default-html.js` does not include that logic anymore, it seems you're injecting the css from somewhere else, but I couldn't find where yet.

I need to force the css (included (somehow) by `gatsby-plugin-sass`) to be loaded BEFORE the styles added by `gatsby-typography`.

Any insights greatly apprec

[2020-01-31 04:42] ajayns opened #21074 "Unable to setup Google Analytics"
## Description

I'm unable to setup Google Analytics on my Gatsby site. I've used 3 different approaches and all of them failed to send any data to GA.

1. `gatsby-plugin-google-analytics` based on the plugin documentation
2. `gatsby-plugin-gtag` tried this as Google seems to be pushing for gtag instead of analytics code.
3. Manually placing code snippet for analytics in Helmet:
[code]

I've used

[2020-01-31 06:02] ganapativs commented on #17233
Thanks for picking this up and that's a great analysis. I'll try to spend some time this weekend on this and see if I can figure out something more.

[2020-01-31 06:29] knowBalpreet opened #21076 "Inconsistent CSS on serving production build on S3"
I am seeing different results when pushing production build on s3 with respect to when doing `gatsby serve`. During build creation, I see a bunch of mini-css-extract-plugin warnings. Attaching screenshots for reference. I have also tried to extend webpack config to enable `ignoreOrder` in mini-css-extract-plugin.

Output with S3:
<img width="1437" alt="Screenshot 2020-01-31 at 11 49 02 AM" src="ht

[2020-01-31 07:40] expatguideturkey commented on #20903
Hi @TylerBarnes thank you for your response. Below is my repro link: https://github.com/expatguideturkey/expat-repro.git
if you browse below pages:

**Pages in 4 different Languages**
Arabic /تركيا/
Russian /tурция/
Francais /turquie/- **only this page generates as it has English alphabets in the url/path**
Persian /ترکیه/

[2020-01-31 07:53] fullofcaffeine opened #21079 "global-styles plugin doesn't work well alongside the sass-plugin"
## Summary

I'm trying to use the `gatsby-plugin-global-styles` to re-order the css link tags so they come __before__ the style tag added by `gatsby-plugin-typography`, but it seems they don't play along well (or maybe I'm missing something?).

I followed the instructions but when I import the `scss` file, something in gatsby (I couldn't find out what yet) just injects them to the bottom of the he

[2020-01-31 11:20] hbrls commented on #15718
How can I disable it with config? I'm using docz.

[2020-01-31 11:32] vandesh commented on #19487
Thanks for the link @jonniebigodes
I understand that they're not present during the build process, but isn't that what the check in the `useEffect` hook is for? To bypass loading the component till `window` object is available

[2020-01-31 12:26] sidharthachatterjee commented on #20984
We've published a canary of a potential fix for this issue in `gatsby@2.19.11-issue-20984`

Please try it out and let us know if it fixes it for you! 🙌

[2020-01-31 13:25] EMoore13 opened #21085 "In need of Order and Payment nodes"
Documentation says to raise an issue if in need of Order and Payment data for private development. Any assistance would be greatly appreciated.

[2020-01-31 13:39] smashercosmo opened #21086 "Netlify Identity Widget is being loaded on all pages in production"
## Description

Netlify Identity Widget is being loaded on the index page in production. This makes user to load unnecessary 50kb of js.

### Steps to reproduce

1. Add gatsby-plugin-netlify-cms to gatsby project
2. ```npm run build```
3. ```npm run serve```
4. Check network tab

### Expected result

Netlify Identity Widget should be loaded only on the ```/admin``` page

### Actual result

Netlify

[2020-01-31 13:51] Coriou commented on #20984
@sidharthachatterjee I can confirm that the fix published in `gatsby@2.19.11-issue-20984` works for me. The site builds just fine with the code I posted previously as is.

Thank you team for such a quick response and resolution !

[2020-01-31 14:20] naoya7076 opened #21088 "e-commerce tutorial need not SEO keywords"
https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/#what-did-you-just-do
## Description
Why there are SEO keywords?
[code]
following the e-commerce tutorial, this place should be like this:
[code]

### Actual result

[code]

### Environment
[code]

[2020-01-31 14:23] #21058 closed

[2020-01-31 14:28] naoya7076 opened #21090 "'Link' is defined but never used"
## This is about following tutorial
https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/#create-a-component-that-lists-your-skus
## Description

In this file,`src/pages/advanced.js` 'Link' is imported but never used.
Therefore, you need not import 'Link' in this file.

### Expected result

[code]

### Actual result
[code]
### Environment
[code]

[2020-01-31 14:38] afladmark commented on #20984
I am experiencing this issue as well, getting the error:
[code]

I can confirm that using the fix in `gatsby@2.19.11-issue-20984` I am still experiencing the issue, unfortunately.

The one difference that stands out to me in the case of where it's still occuring is that the fragments are nested within other fragments. I.e. I have an `...Asset` fragment used in a page query which contains the above

[2020-01-31 14:45] Axnyff opened #21091 "Is it possible to support 410 pages ?"
## Summary
For Seo reasons, I need to be able to return a 410 page for gone pages.
It works fine with a couple of nginx directives but the gatsby browser runtime gets in my way.
It will redirect to my template url : /410 but I need to stay at the original location.
I've noticed there's an exception in the gatsby code for a 404 page but no for 410.

Is there a way to properly handle this case ?
##

[2020-01-31 14:53] #20444 closed

[2020-01-31 14:54] sidharthachatterjee commented on #20984
@afladmark Interesting. Do you happen to have a minimal reproduction of this? It'll help us knock out edge cases and get this fix shipped.

[2020-01-31 15:09] tmilewski commented on #20984
@sidharthachatterjee This looks to work for me! Thank you for the fast fix!

@afladmark Did you `rm -rf .cache public`? I was running into the same issue with the new build until I cleared everything out.

[2020-01-31 15:12] naoya7076 opened #21092 "[docs]Two types of quotes"
## about this tutorial
https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/#create-a-component-that-presents-a-single-sku
## Description
In this tutorial, Only following file, single quote is used.
In other files, double quote is used.
[code]

### Expected result
[code]

### Actual result

[code]

### Environment

[code]

[2020-01-31 15:18] tmilewski commented on #20984
So, this is super odd.

- Installed the canary.
- Built, didn't work.
- Ran `rm -rf .cache public`
- Built, worked.
- Built a second time, didn't work.
- Now it's continuously not working, with the same issue.

[code]

[2020-01-31 15:25] codingimages commented on #9087
That is the same issue I am having, cache is not updating new content, annoying as hell.

[2020-01-31 15:27] naoya7076 opened #21093 "[docs]add high-lights on changed lines"
## About following tutorial.
https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/#create-a-component-that-presents-a-single-sku

## Description

add high-light on changed lines.

### Expected result

[code]

### Environment

[code]

[2020-01-31 15:40] afladmark commented on #20984
As we source our data from a Contentful account, I'm not sure how best to provide you a minimal reproduction. I can provide some insight into the queries we're using as a starting point. In the page template we have a page query:

[code]

And then the Asset fragment is defined as:
[code]

If I replace both usages of the `...Asset` fragment with the identical graphql query inline the build then com

[2020-01-31 15:44] afladmark commented on #20984
Hmm. The only different between the Asset fragment and the other similar ones is that it's a fragment based on `ContentfulAssetConnection` and the rest are `ContentfulAsset` fragments.

[2020-01-31 16:01] #20870 closed

[2020-01-31 16:02] Olanetsoft commented on #21074
Oh sorry for that. Are you running the site locally? if yes you need to run the command:

gatsby develop && gatsby serve

or

npm run build && npm run serve

[2020-01-31 16:04] alexlbr commented on #9350
Hi @marcysutton, I was waiting for the [first part to be merged](https://github.com/gatsbyjs/gatsby/pull/19775) to continue with the rest. I plan to work on the build sequence next week.

[2020-01-31 16:08] jonniebigodes commented on #21053
@brandontb12 i've picked up on your issue and based on the information you mentioned in the description i'm going to detail a possible solution for your case. This will extrapolated from the information available.

- Created a new Gatsby website based on the hello world starter.
-  Installed `gatsby-source-filesystem`
- Changed `gatsby-config.js` to the following:
[code]
- Created the `src\data` f

[2020-01-31 16:49] wokejacqueline commented on #6291
Still experiencing this issue as of `"gatsby-plugin-sharp": "2.4.4"
` (just upgraded from `2.3.3`)  & `"gatsby-transformer-sharp": "2.3.13"`

300-ish images processed into 1800 thumbnails of different sizes will usually fail once or twice before succeeding.

<img width="915" alt="Screen Shot 2020-01-30 at 9 42 08 PM" src="https://user-images.githubusercontent.com/3680375/73556755-e9207d80-4404-11e

[2020-01-31 16:50] ajayns commented on #21074
@Olanetsoft nope already doing that.

[2020-01-31 16:58] jonniebigodes commented on #20833
@pmarxbraun as probably @sidharthachatterjee is busy continuing to build awesome stuff and further improving Gatsby and to avoid the issue being without answer for more time and if you both don't mind, i've taken a look at your issue and i have a solution for you.

Going to detail the steps i took to triage this.

- Created a new Gatsby website using the hello world starter.
- After that the follo

[2020-01-31 17:09] pieh commented on #20984
The hot-fix we came up is indeed not reliable - it worked for reproduction we had, but this was probably incidental :(

We still need reproductions here folks! Specifically ones that still fail after trying test gatsby version that @sidharthachatterjee posted

[2020-01-31 17:45] zhandosweb opened #21097 "Question about Gatsby update"
Hello!

Please, let me ask one question.

If I create my site on the previous Gatsby version. And now is available new Gatsby framework version.

In this case, I should update Gatsby to the latest version? Or after updating, can I encounter issues on real working site? For example, plugin compatibility issues after updating Gatsby ..

And if my site working well, can I just not update Gatsby?

Sor

[2020-01-31 18:20] marcysutton commented on #18278
We're taking this on internally, so stay tuned.

[2020-01-31 18:42] DSchau opened #21100 "[bug] .org is using Gatsby Link for all link components, even on "external" links"
## Description

We need to ensure the mdx-link component handles external links and passes through to an a tag instead of the GatsbyLink component.

[This file](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/mdx-link.js) needs to handle the text: `/gatsby-cheat-sheet.pdf` as an "external" link

Specifically, `/gatsby-sheet-pdf` passes the `isInternal` function test, when it shou

[2020-01-31 18:48] brandontb12 commented on #21053
I have gatsby-source-filesystem installed.
This is in my gatsby-config

``module.exports = {
  plugins: [
    {
      resolve: `gatsby-source-filesystem`,
      options: {
          name: `files`,
          path: `${__dirname}/src/assets/files`
      }
    },
  ],
}``

I have a `src\assets\files` folder with `resume.pdf` inside.

In my `src\components\example.js` I have the following

`export defa

[2020-01-31 18:51] gillkyle commented on #21067
Related to some evaluation material written up in #20232, I'll remove that from my issue there so it can be handled by this issue when @Ekwuno works on it 🙂

[2020-01-31 19:14] jonniebigodes commented on #19487
@vandesh not quite, my read on this and based on my knowledge what is happening with your code is that the return will "bail out " of the `useeffect`. As a test that you could do is just place a `console.log()` before the last return.
To demonstrate what i'm saying i've created a simple reproduction based on the information at hand. The code used below should not be used in any way/shape or form i

[2020-01-31 19:28] larryg727 commented on #17661
Thank for this. As a side note we also had this issue during `gatsby develop` as well. When running gatsby develop the stage is `develop-html`. So if you are getting this error during development you can always add this as an or conditional in the stage check in the above fix.

[2020-01-31 19:39] coreyward commented on #20940
For what it's worth, the approach I took doesn't instrument SSR, but if you wanted to include that it would be reasonably straightforward to add.

[2020-01-31 19:51] jonniebigodes commented on #17661
@larryg727 when this was written it was intended for production build with Gatsby, with that i ommited any configurations relevant to that. But nonetheless nice touch to include it and expand the response.

[2020-01-31 19:54] #21100 closed

[2020-01-31 19:57] classicmatsuo commented on #21053
@brandontb12 try updating your `src\components\example.js` file to this. worked for me.

[code]

you can also post a link to your repo if you'd like

[2020-01-31 20:02] jonniebigodes commented on #21053
@brandontb12 if you can please make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/), so that it can be better looked at, with all the code you're using and files, but one thing, for the resume, it would be best if you created a dummy pdf file with some content, to avoid having your personal information be displayed while this issu

[2020-01-31 20:07] brandontb12 commented on #21053
Finally got it to work, thanks for all of the help @jonniebigodes & @classicmatsuo! Switched my example.js to the most recent post and re-ran gatsby develop and it worked like a charm.

[2020-01-31 20:12] jonniebigodes commented on #21053
@brandontb12 ok, no need to thank, glad to hear it, feel free to close this as it's fixed if you don't mind.

[2020-01-31 20:13] benrobertsonio opened #21102 "[gatsby-source-contentful] Initial page queries filtered by reference fields are missing content on initial `gatsby"
## Description

Starting in Gatsby 2.15 and up, page queries that filter on a reference field in `gatsby-source-contentful` are failing to hydrate in the initial `gatsby develop`. Once the development server is running, changing any portion of the page query fixes the issue and the query works as expected.

### Steps to reproduce

Here is an example query - working on getting a sandbox setup for b

[2020-01-31 20:14] #21053 closed

[2020-01-31 20:36] vandesh commented on #19487
Ah! Thanks a lot @jonniebigodes . I did fix it eventually with a similar check like you added, but completely missed the fact that the return in the useEffect wouldn't return from the component itself. I do feel stupid and in search for coffee!

[2020-01-31 20:50] tesseralis opened #21104 "(www) "This page is not yet translated""
## Description

Display a warning on localized docs when the current page is not translated yet (similar to the stub warning), with a link to help translate the page. Optionally, we can also display untranslated pages as greyed out in the sidebar, much like stub pages, and on the [language toggle](https://github.com/gatsbyjs/gatsby/issues/17776).

## Motivation

It can be disheartening to look at

[2020-01-31 20:54] tesseralis opened #21105 "(www) Create localized versions for all site pages"
## Description

Create localized versions of all site pages (home page, packages, themes, etc.) so that even if content isn't translated, the UI will still be in the user's language

## Considerations

Gatsby has a *lot* of pages and creating new pages for each language where only the UI is different might dramatically increase the build time.

[2020-01-31 21:54] tristanMatthias commented on #21011
Yeah, that's what I was afraid of. Ok, thanks @deriegle

[2020-01-31 21:54] #21011 closed

[2020-01-31 22:44] kingingcole commented on #14300
Hello. I do not know if this issue has bee fixed, but I still get a timedout error, even with the paginationSize set to as low as 50.
Any help please?

[2020-01-31 22:52] tesseralis commented on #19382
We're going to go with @muescha's suggestion and create an interface for actions and node-model in flow/typescript with the doc comments attached.

[2020-01-31 22:52] #19382 closed

[2020-01-31 23:14] AaronFeledy commented on #10668
For me the issue was related to using Yarn Workspaces to develop my Gatsby theme and nesting it within the Gatsby package. The Webpack config runs in the root of the current package, in this case my Gatsby theme directory/ Yarn Workspace. My `node_modules/gatsby` files that need transpiling are actually in a parent directory. The code in the guide doesn't consider this scenario, so I needed to upd

[2020-01-31 23:24] tesseralis opened #21109 "(docs) Consider moving/removing fragments section of GraphQL API"
## Summary

Consider moving the "Fragments" section of the [GraphQL API](https://www.gatsbyjs.org/docs/graphql-api/#query-fragments) to its own page(s). Alternately, remove these sections, since their content is already covered under the [Gatsby Image API](https://www.gatsbyjs.org/docs/gatsby-image/#image-query-fragments).

### Motivation

The "Fragments" section contains GraphQL fragments for two

[2020-02-01 00:04] epgui commented on #20984
Updating gatsby from `2.19.7` to `2.19.10` broke our GraphQL fragments as well.

[2020-02-01 00:07] DSchau commented on #21088
Could you explain this? I don't see why we wouldn't want keywords for an SEO tutorial (albeit that keywords aren't actually the best way to maximize SEO).

[2020-02-01 00:08] kingingcole opened #21110 "[gatsby-source-shopify] - timeout error on build"
## Description

I have a client's Shopify store with over 1000 products. When I use this plugin, I always get a timedout error when running `gatsby develop`.
I have tried reducing  paginationSize to as low as 50, but it still shows same error.

### Steps to reproduce

I don't know how else someone can reproduce this if not using the plugin on a large Shopify store.

How to Make a Minimal Reproduct

[2020-02-01 00:23] isaacs commented on #1789
@baerrach Another workaround is to provide something other than the title to sort on?  It's kludgey, but you could even do something like this:

[code]

And, you could perhaps define this sortTitle field when ingesting the content, so it doesn't have to be hard-coded in the markdown files.

I personally haven't found any cases where I need to sort titles alphabetically.  Usually there's either som

[2020-02-01 00:29] jacobrienstra opened #21111 "[gatsby-plugin-preload-fonts] Skip route scraping"
### Summary

I was wondering if it would be possible to use the preload fonts feature without having to scrape every page.

### Motivation

I have about 2K pages in my site and only 3 fonts, all of which are used on every page. So it seems an unnecessary overhead to crawl every route, especially when I'll be adding pages fairly regularly, and will want the fonts automatically preloaded on those pa

[2020-02-01 00:40] baerrach commented on #1789
@isaacs Great idea thanks. I'll keep that in the pocket for later.

I'm already converting markdown front matter to fields so I can consistently treat nodes the same across my gatsby spaces.

It wouldn't be a huge burden to add another field for this type of thing.

[2020-02-01 01:11] tesseralis opened #21112 "[docs][i18n] Replace live examples docs/data-fetching with a CodeSandbox <iframe>"
## Summary

Remove the "live" examples from [Build Time and Client Runtime Data Fetching](https://www.gatsbyjs.org/docs/data-fetching/) and replace them with <iframes> to CodeSandbox for an example app.

### Motivation

The "live examples" in this page just show special code that is run on www/. They don't really allow for interactivity and don't clearly show *how* it's live. By replacing this wit

[2020-02-01 03:13] asdac3 opened #21116 "Working with images in front matter"
## Description

Getting an error in GraphQL Query
[code]

### Steps to reproduce

It's appearing weirdly, see below

### Expected result

Should parse a frontmatter field as File

### Actual result

parsing frontmatter field as String

### Environment

I don't think it is a problem on my side, because if I change the word cover to image it is giving correct output where I can use it with gatsby-im

[2020-02-01 03:22] asdac3 commented on #21116
I want to know how gatsby works to find whether a frontmatter element is a string or file?

[2020-02-01 03:44] asdac3 commented on #21116
I don't know the issue but when I changed the word _cover_ to _coverImage_, it's working now.
Is the word **image** necessary?
Please anyone explain, or update the docs please...

[2020-02-01 04:06] miller-productions commented on #11934
+1

Seeing this issue also , on a windows 10 machine via Chrome (if that is relevant)

[2020-02-01 05:56] ttstauss commented on #18858
I'm facing the same issue when using [gatsby-background-image](https://www.gatsbyjs.org/packages/gatsby-background-image/) which I believe uses gatsby-image under the hood.

[2020-02-01 07:33] baerrach commented on #1789
I use https://www.gatsbyjs.org/packages/gatsby-plugin-node-fields/ to make this easier.

[2020-02-01 09:27] rbelow commented on #20642
Is the proper way to test the plugin with `npm link` and a Gatsby starter project? Or is there a Gatsby way of plugin testing?

[2020-02-01 09:42] nik72619c commented on #20022
@marcysutton could you tell me where is this doc gonna be inserted in the Gatsby docs ?

[2020-02-01 09:45] alexandreramosdev opened #21117 "[gatsby-remark-images] modify max-width inline"
## Summary
modify max-width inline on the build

### Basic example

[code]
[code]

### Motivation
I need modife the maxWidth of image on build but the puglin don't have this feature now

[2020-02-01 11:41] herecydev commented on #20949
![image](https://user-images.githubusercontent.com/11328618/73591535-98ce1c00-44e7-11ea-8e43-ded4f16fc1ed.png)

I had these warnings when installing fresh with yarn 2, which ultimately detonated when building;

![image](https://user-images.githubusercontent.com/11328618/73591549-cadf7e00-44e7-11ea-8d2f-02e21baa5f1a.png)

Hope that helps?

[2020-02-01 11:56] kevin940726 commented on #20949
@herecydev ahh yeah seems like typescript and sass plugin have some issues? I can look into them. Thx!

[2020-02-01 12:04] #20854 closed

[2020-02-01 12:14] jack2gs opened #21119 "UNHANDLED REJECTION Maximum call stack size exceeded"
## Description

*UNHANDLED REJECTION Maximum call stack size exceeded* shows when run `gatsby develop`

### Steps to reproduce

[code]

### Expected result

Gatsby should run successfully in local.

### Actual result

*UNHANDLED REJECTION Maximum call stack size exceeded* shows

### Environment

  System:
    OS: Linux 5.3 Ubuntu 19.10 (Eoan Ermine)
    CPU: (8) x64 Intel(R) Xeon(R) E-2174G CPU @

[2020-02-01 12:58] sidyes opened #21120 "Anchor Links / Hash in URL is ignored on initial page load"
## Description

I am having a SPA built with gatsby. I am using `<a href="/#sectionX">section x</a>` links for navigation in the header. This is working just fine.
Unfortunately, reloading the page (having the anchor link in the URL) does not scroll to the expected section but stays unscrolled at the top of the page.

### Steps to reproduce

Take any gatsby starter, add anchor link, reload page.
#

[2020-02-01 14:05] MrCEO63 opened #21122 "Routing With Gatsby Link Crashes Returns Blank Page"
## Description

Experiencing crash with errors when using gatsby Link.

### Steps to reproduce
[code]

### Expected result
Route to other pages with no error.

### Actual result

Throw errors, blank page
`backend.js:6 TypeError: n is not a function
at t.unstable_runWithPriority
`

### Environment

  System:
    OS: Windows 10 10.0.19041
    CPU: (4) x64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz
  B

[2020-02-01 14:58] #21090 closed

[2020-02-01 15:14] #21092 closed

[2020-02-01 15:21] blainekasten commented on #20642
@rbelow im on my phone, so sorry for the short answer. But this doc should help you get a local dev setup

https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/

[2020-02-01 15:24] justFlow5 opened #21124 "Props data are undefined with gatsby build (client path), gatsby develop works fine"
### **Description**
When I run gatsby build in my project, one of the components gets undefined props. With gatsby develop everything works fine.

The problem is with planTemplate file. That's the component which is dynamically rendered. When I use console.log on props, the data are there, but using map function on these props result in undefined.

I'm passing state via Gatsby Link to the plantemp

[2020-02-01 15:28] blainekasten commented on #21122
Hey there! Sorry for the snafu your hitting! The details above isn’t enough yet to action upon.. the stack trace for `n` is a bit obtuse. Can you give us any more of a trace? Or use reacts developer tools to figure out what it’s referring to?

[2020-02-01 15:43] MrCEO63 commented on #21122
`react-dom.production.min.js:4684 TypeError: n is not a function
    at react-dom.production.min.js:4782
    at t.unstable_runWithPriority (scheduler.production.min.js:274)
    at Ga (react-dom.production.min.js:2842)
    at hl (react-dom.production.min.js:4772)
    at bl (react-dom.production.min.js:4953)
    at bu (react-dom.production.min.js:6311)
    at t.unstable_runWithPriority (scheduler.pr

[2020-02-01 16:05] yash-chowdhary commented on #20416
Hi, I'd like to take a look at this if it's up for grabs. :)
Noticed this issue here as well - [Part 8 - Add Offline Support](https://www.gatsbyjs.org/tutorial/part-eight/#add-offline-support) and [Part 8 - Add Page Metadata](https://www.gatsbyjs.org/tutorial/part-eight/#add-page-metadata).
There could be more of these. I just noticed these ones above.

[2020-02-01 17:42] muuvmuuv opened #21126 "[gatsby-transformer-json] add graphql-type-json to allow better handling of JSON files"
## Summary

I'm currently trying to add my `package.json` file to GraphQL. I already created a plugin which sources single files instead of directories with helpers from `gatsby-source-filesystem`. But this plugin does not allow me to get all from the key `dependencies` since GraphQL is explicit. After searching, I found a type plugin for graphql which adds this cap.

https://github.com/taion/grap

[2020-02-01 18:34] zhandosweb commented on #21016
Thank you very much for your answer! Html.js is solution for my case.

And great blog: https://marcysutton.com/, I subscribed :)

[2020-02-01 20:14] vladar commented on #20984
The bug was in fragment cycle detection (in an edge case when the same fragment was referenced multiple times within one query and then also referenced in another query).

The caveat though is that the error was reported on the **next** fragment usage in another query (sometimes seemingly innocent). That's why it was so hard to reproduce.

#21128 should fix it (hopefully)

@Coriou thanks a lot for

[2020-02-01 20:28] #20984 closed

[2020-02-01 20:40] jonniebigodes commented on #20829
@cbdp sorry for the late response and i hope you had a excellent conference. As probably @sidharthachatterjee is busy continuing to build awesome stuff and further improving Gatsby and to avoid the issue being without answer for more time and if you both don't mind, i've taken a look at your issue and i have a solution for you.

Going to detail the steps i took to triage this:
- Cloned you repo.
-

[2020-02-01 20:52] sidharthachatterjee commented on #20984
Thanks to @vladar this was fixed in `gatsby@2.19.11`

Thank you everyone!

[2020-02-01 21:07] vladar commented on #20984
Hopefully fixed 😅 At least should be fixed for the original issue description (as I was able to test on this repo).

But if someone encounters a similar error, please open a new issue with your details (and ideally - [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/))