[2017-11-18 01:10] KyleAMathews commented on #2674
If you log the data what do you get? What happens when you try the same query in graphiql?

[2017-11-18 01:58] jim-moody commented on #2955
Yes - v1.9.110
No - it seems like a different issue

It appears to be related to the `gatsby-plugin-catch-links` plugin because when I take that out, I don't get the error.

[2017-11-18 02:11] benforshey commented on #2956
This might be a bit out of scope for this issue, but I'd love to help others understand their choices with typography in CSS. The docs present two ways to customize typography: [Webpack file loading](https://www.gatsbyjs.org/docs/adding-images-fonts-files/) and [Typography.js](https://www.gatsbyjs.org/tutorial/part-two/#typographyjs).

But I find myself most often just using your [Typefaces projec

[2017-11-18 02:29] jim-moody commented on #2955
I'm closing this issue because I think another issue was actually causing this random error to show in the console.

I was using Array.find and String.includes without polyfill in IE and I guess it could have just happend to propagate itself on this particular line of code even though it wasn't the root cause.

I kind of assumed those would be available because of Babel, what am I missing about th

[2017-11-18 02:29] #2955 closed

[2017-11-18 02:40] kildareflare commented on #2956
@benforshey Thanks for the heads up. I also self hosted mys sites fonts, but did so through this site.
https://google-webfonts-helper.herokuapp.com/fonts
I like the idea of using npm to handle this though :0)

[2017-11-18 03:00] dustinhorton commented on #2956
It's an awesome project, but it's not "more performant than the `@font-face` declaration—it leverages it, as all modern webfont tech does : ]

I could do a PR with an example site using Typefaces, but it's implementation in Gatsby isn't anything special: just import a font into your layout file, and then use it in your CSS.

[2017-11-18 03:03] dustinhorton commented on #2956
@kildareflare Which font are you using from Google Fonts? Chances are, you can already use it via NPM via Typefaces. The list of current supported fonts are @ https://github.com/KyleAMathews/typefaces/tree/master/packages

[2017-11-18 03:05] kildareflare commented on #2956
@dustinhorton Yup it is supported, thanks. I only did not use npm as did not realise it was an option. I'll be updating soon.

[2017-11-18 03:06] benforshey commented on #2956
Hmm, I'm puzzled. I personally found using Typefaces over my globally-imported `@font-face` declarations to drop about 150k off my page weight, with no other changes. I also scored much higher on PageSpeed Insights for prioritizing above-the-fold content.

[2017-11-18 03:08] benforshey commented on #2956
So, it's not that I think using Typefaces is magic, but I figured that it was more performant because of code-splitting and bundling...that that good Webpack / Gatsby stuff that happens out of the box. But, admittedly, I'm still learning.

[2017-11-18 03:29] jquense commented on #2956
For v1 we should also cover the default postcss plugins included, like cssnext, import,  etc

[2017-11-18 03:30] KyleAMathews commented on #2956
@benforshey curious why you say typography.js is heavy?

Also are you comparing a non-gatsby project to a gatsby one? Curious how a simple change would lead to 150kb diff. Which is huge for css. Perhaps your other method was pulling in extra stuff.

One nice thing about Gatsby + typefaces is the font-face declarations are inlined which means the browser starts downloading the font files all that m

[2017-11-18 03:48] benforshey commented on #2956
Oh, well, maybe heavy isn’t the right choice of words? I think Typography.js includes modernizer and default styles that I end up overwriting. I usually only use a CSS reset and some basic responsive typography rules. I remember running a PageSpeed Insights test using Typography.js and getting dinged for having a blocking CSS resource.

No, it’s a Gatsby to Gatsby comparison. I’m really curious ab

[2017-11-18 04:11] benforshey commented on #2956
By the way, I don’t mean to derail the issue or cause a huge dustup over what I experienced. Maybe I screwed something up in my testing. I’ve screwed up simpler things. :-)

I’m just trying to say that I’d be happy to help write (or at least be glad to see) Typfaces in the docs.

Also, thanks so very much for your work on this stuff—I’m quite literally using it to earn a living. Your work + the co

[2017-11-18 04:18] martinpsz commented on #2674
This is the error that shows up when  enter "gatsby develop":

GraphQL Error There was an error while compiling your site's GraphQL queries.
 Invariant Violation: GraphQLParser: Unknown field `siteMetadata` on type `Site`. Source: document `AboutQuery` file: `GraphQL request`.

Haven't explored graphiql.

[2017-11-18 04:48] KyleAMathews commented on #2674
What is the path to your gatsby-config.js? Could you paste it here?

[2017-11-18 05:10] martinpsz commented on #2674
gatsby-config.js is located on the same level as my 'src' file. The files are .cache, .vscode, node_modules, public, src, .gitignore, gatsby.config.js and so on. This is the path:
~/Desktop/tutorial-part-four/gatsby.config.js

[2017-11-18 07:21] wedelgaard commented on #2940
@TomiTakussaari thanks. Interesting approach. I'll have a look at it 👍

[2017-11-18 07:34] KyleAMathews commented on #2956
@benforshey coooool! That's what we're all working for!

[2017-11-18 08:58] pinaudnico commented on #553
I've got an error : children is not defined

[2017-11-18 09:21] rudasn opened #2957 "Creating multiple layouts from the same component does not work as expected"
[code]

**Steps to reproduce**

Clone the repo https://github.com/rudasn/gatsby-layout-test and run `npm run develop`. Open the development site on your browser (http://localhost:8000/) and observe the list of pages and their properties.

**Expected behaviour**

- The index page and all other pages not created via `gatsby-node.js` should be using the default `index` layout, but are instead using o

[2017-11-18 10:51] creimers commented on #2252
@fpoumian Do you happen to have an example of how you got it to work with react-loadable and require.ensure?

[2017-11-18 11:01] creimers commented on #2252
@fpoumian Never mind, I figured it out. I'm posting my solution here, maybe it'll be usefull for someone else:

[code]

[2017-11-18 11:14] #2953 closed

[2017-11-18 11:21] rudasn commented on #2946
@KyleAMathews I opened a new issue for this https://github.com/gatsbyjs/gatsby/issues/2957

Check the repo here: https://github.com/gatsbyjs/gatsby/issues/2957

[2017-11-18 12:13] benforshey commented on #2956
@KyleAMathews @dustinhorton If its helpful to anything, I just reproduced the page size increase that I was talking about. Without `@font-face` in global CSS and using Typefaces, page size is 642KB. With `@font-face` declarations in global CSS and without Typefaces, page size is 900KB.

I have a my master branch (Typefaces) and a branch preview (`@font-face`) set up with Netlify for testing. Maybe

[2017-11-18 12:47] mhyrr commented on #2755
Fixed this, fonts weren’t being loaded initially, which seemed to cause the rerender.  Handled them all in the injectGlobal and issues went away.

[2017-11-18 12:47] #2755 closed

[2017-11-18 18:20] tderflinger commented on #1594
There is a Gatsby AMP Starter: https://github.com/chiedo/gatsby-amp-starter-blog
Hope this helps!

[2017-11-19 01:36] dustinhorton commented on #2956
@benforshey If you want to toss it in a public repo with a branch with & branch without Typefaces, I'd could take a look and try to debug.

[2017-11-19 02:18] SachaG opened #2960 "TypeError: Cannot read property 'address' of null"
I've started getting this error when running `gatsby develop`:

[code]

I'm on Mac OS High Sierra with Node 8.9.1. I first got the error while using Node 9 so I downgraded and the error went away, but I noticed that hot module reloading wasn't working. From reading #864 I got the idea to try `gatsby develop --host localhost --port 8000` instead of `gatsby develop`, but then that triggered the `add

[2017-11-19 02:24] KyleAMathews commented on #2960
What version of Gatsby? I just made a PR with the develop command so could have added a bug https://github.com/gatsbyjs/gatsby/pull/2951

[2017-11-19 02:29] FourEyebrowXiake opened #2961 "How the react component receives the data found by the graphql?"
for example :
[code]
How data is sent to the 'BLogIndex'?

[2017-11-19 03:20] rdela commented on #2961
Hi did you check out https://www.gatsbyjs.org/docs/create-source-plugin/ already?

[2017-11-19 03:24] parvezk commented on #2107
You can also follow this approach to fix the XMLHTTPRequest issue with module bundling:
https://github.com/webpack/webpack-dev-server/issues/66

[2017-11-19 03:38] rdela commented on #2956
Hi all I would be happy to take a crack at updating the tutorial and/or adding any new examples.

I import a css file in /examples/using-redirects/ and could pull that out into a wider css example with other uses or separate them into distinct css examples or update existing ones. I am going to try to commit another example using all the netlify redirection options soon as well, `using-redirects-n

[2017-11-19 04:45] artfaktor commented on #2960
I have this error too. I am trying out the gatsby-starter-blog and it seemed fine until I started to add my own images to one of the sample .md files.
I haven't changed anything except this one .md file.
I'm using Windows 10, Node.js 6.9.2 (x64), and only installed gatsbyjs a few days ago so presume it is the latest version.

[2017-11-19 05:25] Magneticmagnum commented on #2960
I am also getting this when starting tutorial-part-three as part of the tutorial!

[2017-11-19 05:44] KyleAMathews commented on #2960
Could y'all try 1.9.118?

[2017-11-19 06:59] artfaktor commented on #2960
Thanks @KyleAMathews,
gatsby@1.9.118 but I still get the same error.

[2017-11-19 09:42] szimek commented on #2796
@KyleAMathews I looked into it and version 1.9.32 works, but 1.9.33 doesn't. It looks like the culprit is commit 7dd5f3b39b2231c91b7d0f410693267cf5575a40. Unfortunately, it added a bunch of recursive functions, so it's not that obvious yet, which one(s) are causing it.

[2017-11-19 11:34] fabien0102 commented on #553
The doc to understand functionnal/classic react component -> https://reactjs.org/docs/components-and-props.html#functional-and-class-components

To resume:
[code]

So with your example:

[code]

BUT you can't give `data` to your children like that ^^ (children is not a function), you need create new react component with props. This is a little codepen to illustrate the trick (lines 4-8): https://c

[2017-11-19 13:34] habibridho opened #2963 "Redux integration failed during build"
Hi, I tried implementing gatsby and redux. I follow [this](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-redux) example and it works in dev. However, when I try to build it, I got a webpack error:
`WebpackError: Could not find "store" in either the context or props of "Connect(Template)". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Conne

[2017-11-19 13:37] m-allanson commented on #2963
Are you missing the `Provider` component in `gatsby-ssr.js`?

[2017-11-19 15:36] habibridho commented on #2963
Well, I don't have `gatsby-ssr.js` in my project. I started my project using [this](https://github.com/noahg/gatsby-starter-blog-no-styles) starter. At first, I also didn't have `gatsby-browser.js`, I added it after reading the redux integration.

Where can I find the documentation about these `gatsby-*.js` files? I'm sorry, this is my first time using gatsby, still having difficulty on how it wor

[2017-11-19 16:13] jlengstorf commented on #1143
I just ran into this question while setting up ESLint, so I took a crack at expanding the tutorial to explain why this doesn't explode in #2965. Someone who understands this better should probably review pretty closely, though, because I only _sorta_ get how this works. 😅

[2017-11-19 16:48] jazen commented on #2944
Also related due to old `webpack` version:

I had to downgrade `babel-loader` (`yarn add babel-loader@7.1.1 --dev`) to get `gatsby develop` working — otherwise this error pops up:

[code]

* See this issue for more details: https://github.com/babel/babel-loader/issues/503

[2017-11-19 16:59] m-allanson commented on #2963
Huh, I actually can't find any docs that specifically mention the  `gatsby-ssr.js` and `gatsby-browser.js` filenames. They're hinted at by the structure of the docs and used in a lot of the example sites.

In that redux example [`gatsby-ssr.js`](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-redux/gatsby-ssr.js) is implementing Gatsby's [replaceRenderer API](https://www.gatsbyjs.org

[2017-11-19 17:06] KyleAMathews commented on #2963
Huh yeah — they do need better intros. The browser API docs neglect to say that these APIs are implemented in gatsby-browser.js

https://www.gatsbyjs.org/docs/browser-apis/

[2017-11-19 17:46] KyleAMathews commented on #2960
So I managed to reproduce this by dropping down to gatsby-cli@1.1.11 but then managed to "fix" it by opening up `node_modules/gatsby/dist/commands/develop.js` and saving the file (triggering a Prettier run).

It seems to be some sort of timing bug? E.g. the server hasn't finished starting yet.

[2017-11-19 18:46] squall-cuckoo opened #2966 "External JSON endpoint"
Great framework, exporting to static is brilliant.
However, I have an use case here which I'm not sure is it covered by the documentation.

My JSON file is hosted in AWS S3,
having that said, I'm not able to host put my files in src/data/

I tried to define an absolute path at gatsby-config.js:

    {
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `tnc`,
        path: `<

[2017-11-19 19:00] KyleAMathews commented on #2966
gatsby-source-filesystem only works with the local filesystem.

Easiest thing to use the filesystem plugin with gatsby-transformer-json and download the json file to your site.

A fancier and more automated way of doing this is with `createRemoteFileNode`.

It's not documented and I don't have time to explain it right now but perhaps you can understand how to use it from jts usages in the repo htt

[2017-11-19 19:08] squall-cuckoo commented on #2966
It seems like this require to download the json file instead of reading directly from the external JSON directly?

[2017-11-19 19:22] Magneticmagnum commented on #2960
@KyleAMathews - That seemed to resolve the issue when I'm now on 1.9.118.

However, going back to a different project I had (not the tutorial-part-three), it seems none of my images are able to load.  They get the following error in the web console:

`0.0.0.0:8000/static/bar.66fc6cc3.jpeg:1 GET http://0.0.0.0:8000/static/bar.66fc6cc3.jpeg net::ERR_ADDRESS_INVALID`

[2017-11-19 19:33] Magneticmagnum commented on #2960
Perhaps still something to do with the `address` refactoring from #2951.

My dev site is located at `localhost:8080`.  I'll try to help debug it. Perhaps we should reopen this issue.

[2017-11-19 20:02] kildareflare commented on #2946
@KyleAMathews I was on 1.1.11 and updated to 1.1.20, but it made no difference. Just tried `gatsby new layout-test` again in case it was gremlins on my windows - but still no dice. I'll try again on next update.

[2017-11-19 21:12] benforshey commented on #2956
@dustinhorton Thanks! I just made a new gatsby-starter-default and [put it into a public repo](https://github.com/benforshey/typefaces-vs-fontFace).

The `master` branch is set up with font-face declarations and locally-served font-files (woff2 & woff). The `typefaces` branch is set up with no font-face declarations and the typefaces installed through npm. A quick `gatsby build` showed a 1MB diffe

[2017-11-19 21:13] ilyabo opened #2968 "ImageSharp doesn't work for images in siteMetadata"
I am trying to apply ImageSharp queries to images included as `siteMetadata`. For some reason, the nodes with the image path are then defined as String instead of File. Subsequently they aren't transformed to ImageSharp by `gatsby-transformer-sharp`:
[code]
I could make the same work for image fields defined in frontmatter (as discussed in #2054). But I couldn't make it work with `siteMetadata`.

[2017-11-19 21:41] kildareflare commented on #2819
I'm also seeing this repeatably. I have added some code to gatsby-node to download files from remote urls in order to process them. This all appears to work fine. However intermixed within the file results is an error related to the dev 404 page. It appears that this file is created multiple times and the first few pass, when it fails I've narrowed it down to this line in `fs-extra/copy-file-sync.

[2017-11-19 21:59] rdela commented on #2960
I experienced this issue for the first time today and resolved it by updating to `gatsby-cli@1.1.22` and re-running `gatsby develop`, on `node 8.9.1`, `gatsby 1.9.118`, no `host`, `localhost`, or `port` specified either time.

[2017-11-19 22:07] rdela commented on #2956
@benforshey the difference is because your are measuring `public` font files end up in `node_modules` in `typefaces` branch because they are installed through `npm`. Look in `node_modules/[typeface-russo-one,typeface-source-sans-pro]` post-build.  Unlike `master`, where those directories will not be there because they end up in `public` like you wrote.

[2017-11-19 22:11] mohhasbias commented on #309
the error is disappeared when using ```componetDidMount```

[2017-11-19 22:22] rdela commented on #2956
@benforshey oh nevermind I see what you meant they do get moved to `static` on build in both cases

[2017-11-19 22:29] rdela commented on #2956
@benforshey That said, here are my results building both branches, only 8.909 kB difference in `public` sizes, not 1MB.
[code]

[2017-11-19 22:38] jamieguerrero commented on #1769
I am also experiencing this issue with a previous gatsby project which HMR has worked for in the past.

[2017-11-19 22:38] rdela commented on #2956
@benforshey Also only the `master` branch served the fonts correctly once built and serving locally, the `typefaces` branch never displayed the headline font Russo for sure, hard to tell on Source Sans because I have it installed locallly. Did not try to debug any further so not sure why.

[2017-11-19 23:32] kildareflare commented on #2819
I have the same issue. also Windows 10 x64. Node 6.11.3.

I've traced it through and found the line causing the issue is
[code]
in `fs-extra/copy-file-sync.js`.

I've seen this error before, but currently only getting it when running this code in `onCreateNode`.

[code]
Full error log here: https://gist.github.com/kildareflare/754fee0e2c8002b28afb16464504981f

Log preceding the error spit out the

[2017-11-19 23:49] benforshey commented on #2956
@rdela Ah, sorry about that. I forgot the `require()` statements in the layouts file, but never noticed because I *did* have the font files installed locally on my system. I pushed the fix to the `typefaces` branch.

Once I fixed that, I couldn't get `gatsby serve` to display the fonts on the `typefaces` branch because of CORS (this may just be my problem): `Access to Font at 'http://0.0.0.0:8000/

[2017-11-19 23:56] SachaG commented on #2960
Just tested with `gatsby-cli@1.1.22` and `gatsby@1.9.118`, same thing. `gatsby develop` works but no HMR, `gatsby develop --host localhost --port 8000` triggers the error,

[2017-11-20 00:31] rdela commented on #2960
Yep. Can repro.
`gatsby develop --host localhost --port 8888`
triggers error.

Interestingly,
`gatsby develop --port 8888`
does not, and visiting `http://localhost:8888/` works.

@SachaG thoughts?

[2017-11-20 00:39] SachaG commented on #2960
@rdela is hot module reloading also broken for you?

[2017-11-20 00:41] rdela commented on #2960
Error seems to be specific to passing `--host localhost` for me. Passing
`gatsby develop --host 0.0.0.0 --port 8000`
works, displays
[code]
as with `gatsby develop --port 8888`, `On Your Network` is my correct IP that works for local network testing, and visiting localhost:8888 works.

(Checking on HMR.)

[2017-11-20 00:45] rdela commented on #2960
@SachaG HMR working with `gatsby develop --host 0.0.0.0 --port 8888`

[2017-11-20 00:49] rdela commented on #2960
@SachaG same for plain `gatsby develop --port 8888`

[2017-11-20 01:25] rdela commented on #2960
@SachaG @KyleAMathews wait, I got it to break. Which port I set, `8000` or `8888`, makes no difference, and whichever working command I use, I get this console error and warning below on compile with plain `gatsby develop`, `--host 0.0.0.0` and `--port 8000` or just `--port 8000`, at first compiled successfully and site updated, now compiles but HMR hosed. Weird because it was working then stopped

[2017-11-20 01:31] rdela commented on #2960
Could be CORS related too, or both? On the `Failed to load […]hot-update.json` error in console:

[2017-11-20 01:34] fazouane-marouane commented on #312
Hi,

I'm taking another stab at it. I have a working example of the first part that creates the HAST here [remark-custom-element-to-hast](https://www.npmjs.com/package/@dumpster/remark-custom-element-to-hast). It still needs to support usage of markdown as child elements and maybe a webpack loader that uses it.

@KyleAMathews Do you think the approach matchs your view?

As for the second part, we

[2017-11-20 01:46] rdela commented on #2960
Yeah CORS looking like the culprit https://github.com/gatsbyjs/gatsby/issues/2956#issuecomment-345560772

[2017-11-20 01:47] kildareflare commented on #2819
Updated to node 8.9 and now get a bit more error detail
[code]

[2017-11-20 01:52] rdela commented on #2956
@benforshey CORS problem related to #2960 I think, thanks for updating branch, when we get CORS 0.0.0.0/localhost issue resolved I will update my clone and we can resume font-face testing and trying to figure out why you are seeing such a big discrepancy. I will `du -h` as well to make sure we are using same steps.

[2017-11-20 02:16] kildareflare commented on #2902
This where I've got to, but I'm stuggling a bit now.
This solution is hacked together from the links above and the source from remark-images.
https://gist.github.com/kildareflare/3b1371c6f68066310fc68dece2409a71

What I have attempted to do:
1) look out for prismic data that contains images (they are always in a field called slideshow and only on certain node types)
2) download all images to local

[2017-11-20 03:18] habibridho commented on #2963
@m-allanson That helps to shed a light. I've added `gatsby-ssr.js` to my project with the following:
[code]

And my `initStore` implementation:
[code]

After that, I got `TypeError: Cannot read property 'initial' of undefined` when doing `gatsby build`. So, I follow [this recommendation](https://github.com/gatsbyjs/gatsby/issues/1846#issuecomment-324744367) and now I got this error:
`WebpackError:

[2017-11-20 03:41] kildareflare commented on #2960
Also seeing this. Steps:
1) clone starter blog
2) npm install
3) gatsby develop

windows 10 x64
node 8.9.1
gatsby-cli 1.1.22

[2017-11-20 03:58] realseanp commented on #2422
I've spent DAYS trying to debug this issue and I've finally figured it out. The same instance of the `extract-text-webpack-plugin` must be used in the loader AND the plugin. Gatsby sets up the plugin for you. If you require another `extract-text-webpack-plugin` it might not work. Here is my `gatsby-node.js` file for sass. Notice the `build-css` step where I am splicing out the current ExtractTextP

[2017-11-20 04:09] rdela commented on #2960
Ok so seems http://0.0.0.0:8000/ is only IP working with HMR

[2017-11-20 04:11] rdela commented on #2960
@SachaG can you try hitting http://0.0.0.0:8000/ instead of http://localhost:8000/ or your local IP and confirm if HMR works for you?

[2017-11-20 04:23] rdela commented on #2960
I ran more tests specifying `host` and `port` with
`gatsby develop --host 0.0.0.0 --port 8000`
and used http://0.0.0.0:8000/ instead of `localhost` and HMR works

Same for `gatsby develop --host 0.0.0.0 --port 8888`
and http://0.0.0.0:8888/ HMR works

[2017-11-20 04:27] rdela commented on #2960
`gatsby develop --host bob.dev --port 8888` triggers the

[code]

error exactly like `gatsby develop --host localhost --port 8888`

[2017-11-20 05:04] rdela commented on #2960
Since #2951 `packages/gatsby-cli/src/create-cli.js` now sets `defaultHost` to `0.0.0.0` instead of `localhost`

https://github.com/gatsbyjs/gatsby/commit/6ddcc6d971e56e973fc80ea3beff8347c66e7b29#diff-dfccf547543bb987b0ff0a7281348933R17

Then in `packages/gatsby/src/commands/develop.js` seems we end up always following `if (isUnspecifiedHost)` path in `prepareUrls`

https://github.com/gatsbyjs/gats

[2017-11-20 06:14] rongierlach commented on #2276
@sebastienfi when I use your code I get an error : `Cannot read property 'getResourcesForPathname' of undefined`.

This is happening because the loader prop on ReplaceComponentRouter is undefined. Not sure how to pass this in or why it is not present.

Anything I could be missing?

[2017-11-20 08:48] rdela commented on #2960
Opened #2970 swapping `0.0.0.0` in for `localhost` as `prettyHost` in `isUnspecifiedHost` section of `/packages/gatsby/src/commands/develop.js` L259. This restores HMR in URL printed to terminal post-`gatsby develop` because ends up printing `Local:            http://0.0.0.0:8000/`. This matches `host` (`0.0.0.0`) of requests getting blocked by CORS as cross-site due to `localhost` mismatch descri

[2017-11-20 09:00] SachaG commented on #2960
HMR does work on `http://0.0.0.0:8000/`! I'll just use that from now on :)

[2017-11-20 09:28] rppld commented on #2963
Ran into this same issue yesterday when trying to integrate Redux based on [this](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-redux) example. In `develop` everything works fine, but when running the `build` task I get the error:

`
WebpackError: Could not find "store" in either the context or props of "Connect(Cart)". Either wrap the root component in a <Provider>, or explicitly

[2017-11-20 11:16] MarcCoet commented on #2712
@attfarhan could you delete your cache and public folders and try again pretty please?

It seems to me that it is the same old issue (like #2392 and a few others before this one). I would really like to know if this is fixed but since I had to hack the contentful plugin to work for my usecase it is not an easy task to just test the last version.

[2017-11-20 11:18] sebastienfi commented on #2960
`0.0.0.0` is not universal, this address that bind _any interface_ in UNIX does not exists in Windows.

[2017-11-20 12:07] m-allanson commented on #2963
@rppld that helps a lot, thanks. It looks like you're running into #2005. I was able to get your build to run by removing the styled components plugin from `gatsby-config.js` and then updating gatsby-ssr to use @akadop's [example code](https://github.com/gatsbyjs/gatsby/issues/2005#issuecomment-326787567)

@habibridho I'm not sure what your new error is, if you're able to create a minimal repo i c

[2017-11-20 12:17] rppld commented on #2963
@m-allanson Ah dangggg!! In a previous approach I had already tried to remove all components that were using _styled-components_ to see if this solves it, but to no avail. Removing the actual plugin like you suggested did the trick! Thanks a lot for this!

[2017-11-20 14:37] szimek commented on #2541
@KyleAMathews What exactly is this `webpackManifest` used for? Does it list *all* pages? We're planning to use Gatsby and Contentful to run a blog with ~5000 pages, so it will probably get quite huge - assuming a single entry is ~60 bytes, it will be additional ~300kB on each page?

[2017-11-20 15:18] habibridho commented on #2963
I'm trying to create a minimal repo but I still could not reproduce the error (the project build well without error). I will try moving my components one by one in the morning and hopefully something will break and give us clue of what went wrong. I'll keep you posted.

Thanks for the response anyway!

[2017-11-20 15:44] sebastienfi commented on #2960
We have the bug also, last version of Gatsby and CLI.

[2017-11-20 15:51] MarcCoet commented on #553
@pinaudnico my bad. It is `props.children(...)` and `props.data. ...` in the render method. I was writing too fast.
`children` is indeed a function in the layout but there are some shortcomings. For example, last time I checked, if you changed `data`, the children would not rerender (like normal components receiving props would do). So it is only useful for passing data on mount.

[2017-11-20 15:58] zionis137 commented on #2444
"CSS Extensions (eg Sass)" is fully supported in Jekyll
https://jekyllrb.com/docs/assets/#sassscss

[2017-11-20 16:11] andrew-codes commented on #332
I turned some earlier work from this thread into a gatsby plugin NPM package; [npm](https://www.npmjs.com/package/%40andrew-codes%2Fgatsby-plugin-elasticlunr-search) and [repo](https://github.com/andrew-codes/gatsby-plugin-elasticlunr-search). I'd like some feedback on it, though. I feel like the `gatsby-config.js` was not intended to have imperative code like in the example of the readme. If this

[2017-11-20 16:20] pinaudnico commented on #553
React is not very easy. I've changed the project because I don't succeed with that. I've put the data call in my main app. I think making components speaking is really awful. Now I'm trying to catch some gps value from a component child to compare with my data values with a componentDidUpdate but make an error Maximum call stack size exceeded....

[2017-11-20 16:20] KyleAMathews commented on #332
Adding code to the config is certainly allowed as it's a normal node.js module, especially small amounts of code like in your readme. If the plugin could require more code than that, I'd encourage consumers to out the code in a separate module.

[2017-11-20 16:22] DaleWebb commented on #553
You might be invoking an infinite loop with your solution there. What are you trying to do?

[2017-11-20 16:22] pinaudnico commented on #553
class GPS extends React.Component {

  componentDidUpdate () {
    this.props.fonctiongps(this.props.coords.latitude);
  }

  state = {
    latitudegps: 0,
    longituedgps: 0
  }

	render() {

  return !this.props.isGeolocationAvailable
      ? <div>Your browser does not support Geolocation</div>
      : !this.props.isGeolocationEnabled
        ? <div>Geolocation is not enabled</div>
        : th

[2017-11-20 16:24] pinaudnico commented on #553
it works but done an error

[2017-11-20 16:25] pinaudnico commented on #553
oh my divs disappears

[2017-11-20 16:26] pinaudnico commented on #553
`import React from 'react';

import {geolocated} from 'react-geolocated';

class GPS extends React.Component {

  componentDidUpdate () {
    this.props.fonctiongps(this.props.coords.latitude);
  }

  state = {
    latitudegps: 0,
    longituedgps: 0
  }

	render() {

  return !this.props.isGeolocationAvailable
      ? <div>Your browser does not support Geolocation</div>
      : !this.props.isGeol

[2017-11-20 16:26] pinaudnico commented on #553
import {geolocated} from 'react-geolocated';

class GPS extends React.Component {

  componentDidUpdate () {
    this.props.fonctiongps(this.props.coords.latitude);
  }

  state = {
    latitudegps: 0,
    longituedgps: 0
  }

	render() {

  return !this.props.isGeolocationAvailable
      ? <div>Your browser does not support Geolocation</div>
      : !this.props.isGeolocationEnabled
        ? <div

[2017-11-20 16:27] pinaudnico commented on #553
how to post with divs ?

[2017-11-20 16:28] pinaudnico commented on #553
and the index.js 👍

import React from 'react';
import ReactDom from 'react-dom';

//components
import Navigation from './navigation'
import Fenetre from './fenetre'

// css
import'../style/index.css';

import GPS from '../pages/GPS'
import Donnees from '../pages/donnees'

class App extends React.Component {

state = {
	contenuaffichage: "",
	latitude: "latitude"
}

//call back des fonctions d'affi

[2017-11-20 16:30] jquense commented on #553
@pinaudnico please checkout githubs markdown guide for Syntax highlighting and code blocks: https://guides.github.com/features/mastering-markdown/

its very hard to read your posted code and will be alot easier for folks to help you out if its easier to read :)

[2017-11-20 16:36] pinaudnico commented on #553
`import React from 'react';
import ReactDom from 'react-dom';

//components
import Navigation from './navigation'
import Fenetre from './fenetre'

// css
import'../style/index.css';

import GPS from '../pages/GPS'
import Donnees from '../pages/donnees'

class App extends React.Component {

state = {
	contenuaffichage: "",
	latitude: "latitude"
}

//call back des fonctions d'affichage
fonctiontexte

[2017-11-20 16:38] pinaudnico commented on #553
[code]

[2017-11-20 16:39] pinaudnico commented on #553
[code]

[2017-11-20 16:41] pinaudnico commented on #553
ok you see in the last file, componentdidupdate make an error
In the first one, index.js u see as I solve my first problem. Not so beautiful but works.

[2017-11-20 16:44] fabien0102 commented on #553
@pinaudnico You can add `javascript` after your first \`\`\` to add color in your snippet ;)

Example:
\`\`\`javascript
my code
\`\`\`

[2017-11-20 16:46] pinaudnico commented on #553
good thanks

[2017-11-20 16:47] pinaudnico commented on #553
[code]

[2017-11-20 16:48] pinaudnico commented on #553
[code]

[2017-11-20 16:49] fabien0102 commented on #553
And you can edit your post to avoid spamming ;) (top right corner)

[2017-11-20 16:52] fabien0102 commented on #553
BTW, I don't see any `fonctionGps` in your `props`, you can add `console.log(this)` to understand a little bit more what you have in your react component ;)

[2017-11-20 16:52] DaleWebb commented on #553
@pinaudnico I think you should open a new issue for this.

Potentially could be an SSR issue with Gatsby or an error in your application layer logic.

[2017-11-20 16:54] pinaudnico commented on #553
ok thanks for all to everyone

[2017-11-20 16:54] fabien0102 commented on #553
@pinaudnico Or go to reactiflux #need-help :wink: (a discord channel for this kind of case)

https://www.reactiflux.com/

[2017-11-20 16:59] pinaudnico opened #2971 "Gatsby componentDidUpdate() create an infinite loop"
Hi everyone,
I'm trying to make a component who can give me GPS coords. This component will update very often and I want to catch the coords in a parent. Problem : my componentDidUpdate() create an error . Wht does I miss ?

[code]

and my GPS.js 👍

[code]

[2017-11-20 17:01] pinaudnico commented on #553
yes there is fonctiongps in my index.js

//call back du module donnees
fonctiongps = (latitude) => {
	this.setState({ latitude: latitude });

	};

[2017-11-20 17:07] rdela commented on #2960
Thought I remembered Windows having to do with the change. Seems using `0.0.0.0` in place of `localhost` in the browser (which one can do without touching the code, just do not specify `host` or will get error) is only a temp. workaround for Mac/Unix devs who need HMR right now.

Means we need to figure out where/why `defaultHost` from `gatsby-cli` (`0.0.0.0`) ends up being set as `host` for font

[2017-11-20 17:27] fabien0102 commented on #2971
https://scrimba.com/c/cDyk7sp

It's just due to react-geolocated, too many triggers

[2017-11-20 17:42] rdela commented on #2960
This seems especially relevant https://github.com/gatsbyjs/gatsby/issues/2837#issuecomment-343023777
Think `program.host` in the webpack config snippet @JLongley links to is one of the values that ends up set to `0.0.0.0` instead of `localhost` when HMR breaks using `localhost`

[2017-11-20 18:08] sarahatwork commented on #1703
@Khaledgarbaya @MarcCoet @sebastienfi I ran into this issue as well and created a PR #2967 with a "make both usages coexist" solution (although I agree needing a stringified version is the more common use case). If you have time to look it over, I'd be interested in hearing your thoughts.

[2017-11-20 18:54] fabien0102 commented on #2971
@pinaudnico A way to do what you want, is to inverted your logic. Add geoloc data into your parent, and give the props to children.

Example:  https://scrimba.com/c/cKQgNcd

[2017-11-20 18:55] fabien0102 commented on #2971
BTW, I close this issue because is not related with gatsby :wink:

[2017-11-20 18:55] #2971 closed

[2017-11-20 19:02] martinpsz commented on #2674
Hi Kyle,

Any thoughts on how I can address the issue I raised?

Thanks for your work on Gatsby JS. I am new to static site generators and am looking forward to working with Gatsby.

[2017-11-20 19:06] KyleAMathews commented on #2926
This doesn't seem right — the _globstar_ `**` matches all subdirectories.

[2017-11-20 19:07] KyleAMathews commented on #2926
https://github.com/isaacs/node-glob#glob-primer

We don't limit the depth of deletion.

Perhaps something else is causing the file not to be deleted?

[2017-11-20 19:08] KyleAMathews commented on #2925
Would either of you like to put together a PR fixing the issue?

[2017-11-20 19:10] KyleAMathews commented on #2933
We're going to drop it when we move to webpack 3. It still works fine for our current version of webpack (v1).

[2017-11-20 19:10] #2933 closed

[2017-11-20 19:13] KyleAMathews commented on #2930
I'd be totally open to moving to Typescript — as long as someone wants to really *really* own it. We'd be in a far worse position than we are now if someone got partway into converting things over and then abandoned the effort leaving us with part-flow, part-typescript, part-js codebase.

It'd be a several week project at minimum to convert things over.

@Zalastax if you've got that kind of spare

[2017-11-20 19:18] KyleAMathews commented on #2942
FYI, redirects don't work out of the box — you need to build integration between them and however you're hosting the files as redirects need to be handled by the host of the site e.g. gatsby-plugin-netlify has integration built in.

[2017-11-20 19:23] KyleAMathews commented on #2945
oh interesting! Yeah, this comes up fairly often — someone complains about `default-site-plugin` returning an error but this makes sense that it'd be an invalid page causing trouble.

I'll assign this to myself to look into. Probably we need better validation when creating pages to catch the problem earlier.

[2017-11-20 19:25] KyleAMathews commented on #2945
Could you create a small site reproducing the error? Or describe in detail how you were creating the invalid pages?

[2017-11-20 19:27] KyleAMathews commented on #2955
No we don't automatically polyfill old APIs. Perhaps we should? /cc @jquense thoughts?

[2017-11-20 19:31] KyleAMathews commented on #2961
Gatsby has a runtime that loads in the data from queries and automatically passes it as props to the page components. You can see the code for this in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/component-renderer.js

[2017-11-20 19:31] #2961 closed

[2017-11-20 19:41] KyleAMathews commented on #2966
Yeah — I'd suggest doing that.

[2017-11-20 19:45] KyleAMathews commented on #1703
@sarahatwork curious why you'd do translations as a JSON string instead of using Contentful's localization features? Seems like that'd just complicate your life? I'm sure there's reasons but generally Gatsby (and Contentful) push people towards structured data as that simplifies a lot of things.

[2017-11-20 19:52] KyleAMathews commented on #2968
Yes — links to files are "relative" links. So Gatsby can figure out what a relative link from a markdown file is because it knows where the markdown file. But the site metadata doesn't "exist" anywhere (as of right now). It would be good to add support for this e.g. hard code inside Gatsby that siteMetadata lives at the root of the site.

I'd love a PR adding support for ^^^

Another option is que

[2017-11-20 20:04] codejet opened #2972 "Error during production build when using Preact plugin"
When I add the Preact plugin development works fine, but when I run `gatsby build` I get this:

[code]

When I remove the plugin the production build is successful.

[2017-11-20 20:09] sarahatwork commented on #1703
@KyleAMathews This seemed like a good solution for "utility strings" that don't correspond to module instances, like the words "Close" and "Menu." They're things I'd normally save locally as some kind of language bundle, but since I'm using Contentful anyway, I figured it'd be best to put all my strings in one place, so updating translations won't require a new code deploy.

I'm using Contentful's

[2017-11-20 20:34] jim-moody commented on #2955
I don't think it automatically needs polyfill as long as it is clear how to customize the build process to have babel do that.

Another example - I am trying to use `async` and `await` in a `gatsby-node.js` file but `gatsby develop` blows up.

If it was a standard vanilla project I would just throw in a .babelrc with the correct settings and configure webpack and be good to go. With gatsby, I am n

[2017-11-20 20:38] KyleAMathews commented on #2955
async/await only works in node 8 which I'm guessing is your problem.

[2017-11-20 20:42] jim-moody commented on #2955
Ah good call, sorry I forgot I had switched to an older version for another project

[2017-11-20 20:44] Zalastax commented on #2930
That's really good to know! I don't have the time to do a conversion right now but I'll look into how TS is best added to a lerna+babel project. Looking at https://babeljs.io/blog/2017/09/12/planning-for-7.0 it seems like the workflow is similar to flow.

[2017-11-20 21:05] kildareflare commented on #2674
Hi @martinpsz , this is probably not your problem, since you are following the tutorial. However for future reference...

When I see that error, 9 times out of 10 it is because another graphQL query in my app is broken and does not compile. E.g. my app pulls data from prismic. If I have not formatted it correctly, I will see the error you are seeing. What I do then, is start graphiql and format th

[2017-11-20 23:28] GramParallelo commented on #1769
hmmm me tooo : / (as reference, hmr works on a clean install of create-react-app)

[2017-11-21 00:53] moisesv commented on #1655
Hi @alampros. I tried, did not fix it for me.

[2017-11-21 01:06] habibridho commented on #2963
It turns out that in my case, [this lib](https://github.com/FormidableLabs/nuka-carousel) cause the `WebpackError`. The lib can be built using pure react project though, so I guess it just doesn't go well with gatsby configuration for now.

I think this is not gatsby's issue, so I'll close it. Thanks!

[2017-11-21 01:06] #2963 closed

[2017-11-21 04:44] Sorgrum opened #2975 "nprogress always show bar"
I know that it isn't generally needed to show the progress bar all the time. However, small mobile phones the size of the screen can be small enough that header content covers a relatively large portion of the screen.

While a keen observer may be able to notice a small portion of screen changing, it can be difficult, especially when pages update as quickly as they do when using Gatsby. The proble

[2017-11-21 04:49] vibertthio commented on #2926
Oh yes, I think I found the real problem. Its in the cache.
I found that if I use prefix setting in build and no-prefix in local dev,
the cache wouldn't be replaced, and make the prefix settings not working right.

I solved this problem with an extra script that delete the ./.cache every time I run the dev server or build.

[code]

here is the repo and how I use.
https://github.com/vibertthio/port

[2017-11-21 05:11] Magneticmagnum commented on #2819
I'm also running into this problem on a Windows 10 x64 machine :(

[2017-11-21 05:13] Magneticmagnum commented on #2819
Forgot to add:  Emptying my static folder works.

[2017-11-21 07:27] pinaudnico commented on #2971
Thanks for help.
With the last problem I had (read a csv into gatsby layout and make data available in a child module), I finished by include the module I want to make in the parent index.js. Here, I finish to include the module in the parent. Now I am asking me if it's a good idea to use react because all is in the parent ???

[2017-11-21 07:36] KyleAMathews commented on #2926
How is the cache causing trouble when switching between prefixed and non-prefixed builds? There shouldn't be any differences in what's cached in the two styles of builds and if there is, let's try to narrow that down and fix it.

[2017-11-21 07:44] vibertthio commented on #2926
It's the url of the remark-image isn't modify properly with prefix when cache is presented. I will give you a procedure to reproduce the problem.
Do you have any clue of that where the problem of image link in markdown is?

[2017-11-21 07:45] duivvv commented on #2135
there is a nohoist option WIP / RFC for yarn workspaces, that could help I guess https://github.com/yarnpkg/rfcs/pull/86

[2017-11-21 08:05] fabien0102 commented on #2971
The main goal of react is to permit to separate your ui in small/dump ui parts (easier to read/maintain and test). After it also permit to have access to all react components/plugins community :wink: So it depends of your needs. But I can totally understand that you use partially react for a specific need (if you use Gatsby for example, you don't have to deal with webpack, dev server and build) so

[2017-11-21 08:51] vibertthio commented on #2926
I reproduce the bug in this [repo](https://github.com/vibertthio/gatsby-remark-image-prefix-bug)

Try deploy to gh-pages w/ and w/o cleaning cache first. You can see that the remark-image url produced by gatsby is wrong w/o cleaning cache.
Moreover, I searched the exact url in my project directory, and found that the cache contained some info about the exact url. These are two reason why I think t

[2017-11-21 10:45] Khaledgarbaya commented on #1703
Hi @sarahatwork, your solution looks great my only concern is having this `internal.content` just for the JSON Node which can create some inconsistency

[2017-11-21 11:28] m-allanson opened #2977 "Failing tests on master?"
I have a clone of Gatsby, with HEAD set to the latest commit from master (6780cac881c8c6243ea2d6162299f5c6c2229a8d).

I run:

- `rm -rf node_modules/`
- `yarn run bootstrap`
- `yarn test`

and get 6 failing tests. Is that expected? Should the tests all be passing?

Versions:
[code]

<details>
  <summary>Click to see test summary</summary>

[code]
</details>

[2017-11-21 11:40] wedelgaard opened #2978 "Object spread operator not supported?"
Hi, I'm having trouble using object spread operators. I'm using gatsby together with typescript. Typescript does not complain. I must be related to gatsby's build process? (Module build failed: SyntaxError: Unexpected token).

Here's the actual code it complains about

`
          data.push({
            key: doc.id,
            ...doc.data(),
          })
`

Using Object.assign() works.. but meee

[2017-11-21 11:44] exrishu commented on #2945
Same error with same work. I am also new to gatsby trying to run blog tutorial but getting the same error. How should I resolve it.

[2017-11-21 11:52] exrishu commented on #2945
@KyleAMathews check out this link this is what exactly I am doing. [markdown-tutorial] ( https://www.youtube.com/watch?v=n1NaVkKdrwc) But there is small difference in naming the files and folders

This is what  gatsby-node.js look like:
`const path = require('path');

exports.createPages = ({ boundActionCreators,graphql}) =>{
 const { createPage } = boundActionCreators;

 const postTemplate = path

[2017-11-21 12:22] Maxhodges opened #2979 "how to get https:// on relative paths?"
[code]
emits an image path preceded by `http://`, which makes my site appear as not secure. any idea how to get it to emit `https://`

[2017-11-21 12:31] exrishu commented on #2945
@nodox Can u tell me exactly where were u wrong because I have checked twice and I can't find any misspelled words.  and still am fighting to solve this error.

[2017-11-21 13:47] nodox commented on #2945
I would have to reproduce the error via commit messages (which I'm not sure how I introduced/fixed in the first place). I find that if you misspell something or miss a comma it'll cause the error. The problem is that it needs to build with a programmer error as any operational error will break the bootstrap build.

[2017-11-21 13:49] nodox commented on #2945
@KyleAMathews I believe you might be right on this one. While the server was on I kept creating and deleting markdown pages to get stuff working with my GraphQL queries. I will look into how I can reproduce this error.

[2017-11-21 14:17] alampros commented on #2978
Sounds like you might need to include a polyfill in your webpack entries.

Are you transpiling your typescript with `tsc` or a webpack loader? If you're using a webpack loader, I don't think it includes any polyfills by default.

[2017-11-21 14:19] wedelgaard commented on #2978
I've added Typescript as an Gatsby plugin. [https://www.gatsbyjs.org/packages/gatsby-plugin-typescript/](url)

[2017-11-21 14:24] wedelgaard commented on #2978
@alampros just managed to figure out what was wrong. Using the optional configuration stated at [https://www.gatsbyjs.org/packages/gatsby-plugin-typescript/](url) seems to do the job just fine.

`plugins: [
  {
    resolve: 'gatsby-plugin-typescript',
    options: {
      transpileOnly: true, // default
      compilerOptions: {
        target: `esnext`,
        experimentalDecorators: true,

[2017-11-21 14:29] wedelgaard commented on #2978
@alampros sorry, was a bit too quick. It doesn't seem to fix the issue 👎

[2017-11-21 14:45] alampros commented on #2978
I'm fairly sure this is a typescript configuration issue, and not a problem with gatsby. I'm using the spread operator in several gatsby sites without TS.

I haven't played with ts recently, but I would start by looking at the [compiler options for typescript](http://www.typescriptlang.org/docs/handbook/compiler-options.html). The `--lib` option looks pretty promising at first glance.

[2017-11-21 15:27] pinaudnico opened #2982 "gatsby dynamic img loading"
Hi everybody, I have another problem, how to load dynamic an img ?

[code]

[2017-11-21 15:49] brandonjcreek commented on #1769
I too am running into this issue when running gatsby develop from a Windows machine.

Node is currently at 9.2.0
Gatspy is currently at 1.9.118

Chrome is throwing the following error in console:
`GET http://0.0.0.0:8000/__webpack_hmr net::ERR_ADDRESS_INVALID`

[2017-11-21 15:53] kripod commented on #1769
@KyleAMathews The issue is that on Windows, `localhost` should be used instead of `0.0.0.0` for development. Since some update which happened during the last few days, all of my webpack-imported resources are being loaded from `0.0.0.0`, which is incorrect for Windows users.

[2017-11-21 16:19] kripod commented on #2819
Unfortunately, I'm still getting errors even after removing the `static` directory, cleaning the cache and re-donwloading `node_modules`.

[2017-11-21 18:21] sarahatwork commented on #1703
@Khaledgarbaya It's already a property created for text nodes: https://github.com/gatsbyjs/gatsby/pull/2967/files#diff-0f3299a5d7eb6ef91bdf3a22e5059e0fR153

But I'm definitely open for moving/renaming it!

It might be helpful to look at the two functions together:

[code]

[2017-11-21 18:22] azamatsmith commented on #2660
Update to above - For now @ptrikutam and I are using this solution for sourcemaps with `gatsby-plugin-sass`:

[code]

We know there is probably a better way to update the loaders object below (this is from the gatsby docs), but we are not sure how.

[code]

[2017-11-21 18:30] mewdriller commented on #1769
As @kripod mentioned, it looks like the issue is that `program.host` is coming in as `0.0.0.0` on Windows [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack.config.js#L135)

[2017-11-21 19:21] wedelgaard commented on #2978
@alampros hmm tried various options for lib in the tsconfig file, doesn't seem to help. Weird. Typescript should support this at version 2.1

[2017-11-21 19:25] KyleAMathews commented on #1769
This should be fixed now https://github.com/gatsbyjs/gatsby/pull/2983

[2017-11-21 19:25] #1769 closed

[2017-11-21 19:30] thibmaek commented on #1769
My issue was actually occurring on macOS High Sierra (latest stable).

[2017-11-21 19:38] rdela commented on #1769
@thibmaek same deal see https://github.com/gatsbyjs/gatsby/issues/2960#issuecomment-346130796 for more

[2017-11-21 20:05] fpoumian opened #2984 "[gatsby-source-contentful] Passing arguments to a child node."
I have a Contentful model with the following Content Types:  Post, Tag and Category.

I want to query a specific Tag and also get the list of Posts that belong to that Tag, so I'm using the following GraphQL query:

[code]

This query works as expected, however, ideally I would also like to be able to sort the list of Posts that are returned by that query (i.e. sort them by date).  I tried using t

[2017-11-21 21:31] benforshey commented on #2960
@rdela I can confirm the that this update fixed the CORS error. Thanks!

[2017-11-21 22:55] sarahatwork commented on #1502
Also checking in on the status of this - @Khaledgarbaya if you can give a quick update. This is something I'd want to use on my Gatsby/Contentful project as well :). I might have some time over the next couple weekends if you need some help (or help testing).

[2017-11-21 23:35] jbolda opened #2986 "Multiple graphql query variables"
I presume you can have more than one query variable? It works in graphiql and appears to actually return the proper data, but it is throwing an error. I can't find any example of this use case. It isn't used in any of the examples or in the tutorial. Is this a false positive error, and a bug?

[code]

[2017-11-22 02:21] yirichie opened #2987 "Can't add favicon?"
I'm not sure if I missed it, but the docs don't seem to show you how to add a favicon. I followed the "getting started" guide.

[2017-11-22 02:34] benforshey commented on #2987
@yirichie I don't the docs mention it specifically, but here's where the [concept is laid out](https://www.gatsbyjs.org/docs/adding-images-fonts-files/). If I recall correctly, a favicon is just a special icon (or series of icons) that browsers look for in the root of the domain.

If you put your favicon in the `static` folder, it'll get loaded into the root of your site. Alternatively, you could

[2017-11-22 02:44] benforshey commented on #2987
Hey, I just noticed that you mentioned *changing* the favicon the (in issue title), and Ive been talking about *adding* a favicon. Do you have a favicon that's showing up, but you want a different one to show up? Because favicons are cached **forever**.

[2017-11-22 03:03] yirichie commented on #2987
Hey Ben sorry I did mean adding, I'll edit the title and post. And ah thanks, I'll go through what you linked above!

[2017-11-22 04:40] theiliad commented on #2932
@nodox Do you have some sample code by any chance?

[2017-11-22 06:07] exrishu commented on #2945
@nodox I have figured out the error. and yes I agree with you, I missed the comma in gatsby-node.js.

[2017-11-22 06:08] exrishu commented on #2544
@jonbellah Yeah it helped Thanks.

[2017-11-22 08:12] ryanwiemer commented on #2984
@fpoumian I had a similar issue while I was getting familiar with GraphQL and working with Contentful. I too thought it would just be a matter of setting up a tag or category content type and then using a reference field in the post to associate it to a given tag / category. While that may work if you actually want the control of sorting or filtering via another filed I believe you have to set it

[2017-11-22 10:24] robmccardle commented on #2796
Running into this issue on my project also. In our context it only kicks in once we have over ~2000 pages on our site & we only require ~1200 for our Jan milestone so we're using as is for now. Will provide details/tests later once we can commit time & resource to fixing but just bumping to let you know others are affected

[2017-11-22 10:44] nilutz opened #2988 "TypeError: Invalid value used as weak map key"
Hi
I am running into the following error when running ```gatsby develop```:

[code]

I was running ``` npm outdated ```and ``` npm update``` to get the new packages but after that running  ```gatsby develop``` will give me that error.

Working package.json:
[code]
Not working package.json:

[code]

My motivation for updating the npm packages was that I wanted to make a yarn.lock file for easier de

[2017-11-22 11:24] gagan0723 opened #2989 "Error with hot reloading"
### Steps
1. ```gatsby new tutorial-part-one https://github.com/gatsbyjs/gatsby-starter-hello-world```
2. ```cd tutorial-part-one && gatsby develop```
3. Initial view

![first](https://user-images.githubusercontent.com/6944095/33125090-97b4a724-cf7f-11e7-99ea-45c166d772f5.png)

4. Edit ```index.js``` in ```src/pages/``` and save the file.

![react](https://user-images.githubusercontent.com/6944095

[2017-11-22 11:39] Khaledgarbaya commented on #1502
Hey @sarahatwork @3CordGuy I started a branch [here](https://github.com/Khaledgarbaya/gatsby/tree/feat/gatsby-remark-contentful-images/packages/gatsby-remark-contentful-images). I am terribly sorry about the delay, but i've been super busy lately 😞

[2017-11-22 11:41] Khaledgarbaya commented on #1703
@sarahatwork ah yeah, sorry I missed that

[2017-11-22 11:44] m-allanson commented on #2587
Unfortunately I couldn't figure out how to make this work, and have run out of time to investigate further.

In the end I created a script that downloads the remote images, processes them outside of Gatsby, then saves them into the `/static/` directory.

[2017-11-22 11:44] #2587 closed

[2017-11-22 12:19] pieh commented on #2988
That would be my PR that cause this in your case - https://github.com/gatsbyjs/gatsby/commit/8ac749fac605101e2013088413315092803c590b , can you provide repo where this problem appear so I could reproduce and fix it?

[2017-11-22 12:39] uttrasey commented on #2775
Raised something super rough to get feedback https://github.com/gatsbyjs/gatsby/pull/2990

[2017-11-22 12:59] 3CordGuy commented on #1502
Sweet. No worries. Glad to hear it’s still moving forward 😁. I’ll try take a look today on my lunch break.

[2017-11-22 13:14] artfaktor commented on #2960
@rdela updating gatsby-cli has resolved this issue for me too. Thank you.

[2017-11-22 13:37] jim-moody opened #2991 "Is there a way to access the fields created by the gatsby-remark-transformer plugin?"
I want to access the `headings` field on a Markdown node for a plugin but the field is not accessible in the `onCreateNode` function.

I can see that the field is created by the `gatsby-remark-transformer` plugin so how can I have my plugin access the node after the field has been created?

Sample gatsby-node  code:

[code]

[2017-11-22 13:43] szimek opened #2992 "Allow to create a script tag with src attribute for chunk manifest file"
Currently the chunk manifest is always inlined into generated html files. It's ok if there are not that many pages/chunks, but in my prototype with ~500 pages the uncompressed `chunk-manifest.json` file has already size of ~30kB (12kB gzipped) and I can assume that with ~5000 pages that we got in total, it will be ~10x larger.

That's why it might be a good idea to add an option to generate a `chu

[2017-11-22 13:55] pinaudnico opened #2993 "access to img with her URI"
Gatsby generate a link to my img which looks like that : http://localhost:8000/static/photo2.38a4b984.jpg
I want to know the part 38a4b984 of my img to rebuild it, how can I do that ?
Thanks for help

[2017-11-22 15:11] aouerfelli commented on #2276
@rongierlach Updating Gatsby fixed it for me.

[2017-11-22 15:43] kripod opened #2995 "Add responsiveness support for images uploaded through Netlify CMS"
Currently, the recommended way to upload images to a static website through [Netlify CMS](https://www.netlifycms.org) is by using the `static` folder, which does not offer any support for responsiveness. I would like to ask for a way to make CMS-managed assets queryable through GraphQL.

[2017-11-22 16:17] KyleAMathews commented on #2995
You could setup gatsby-source-filesystem to read files from the `static` folder.

[2017-11-22 16:31] fpoumian commented on #2984
@ryanwiemer Thanks for the tip, it's definitely helpful.

[2017-11-22 16:49] MrToph commented on #2912
Same here, seems to be an issue with `sharp`. Are you on windows?

[2017-11-22 17:17] MarcCoet commented on #1703
So that's how you get a PR approved... Thanks for the lesson @sarahatwork . ;)
Nice touch using `intenal.content`. Thanks for moving this forward. I'll close this issue as soon as the PR gets merged.

[2017-11-22 18:11] benjaminhoffman commented on #2993
@pinaudnico that part -- `38a4b984` -- is called the image "hash".  if you change the file, that string will change too.  if you dont change the file, the string stays the same.  you can link to the image as normal in your html/css/js, gatsby will make sure to update your links with the image hash.

may i ask why you need this value?

[2017-11-22 18:12] rdela commented on #2960
@benforshey @artfaktor thank you both for testing!

@SachaG (+ others on Mac) are you seeing `secure origin` Chrome errors in my #2983 comments? Any opinion on `localhost` vs `127.0.0.1` as future default Mac/*nix dev URL vs lobbying Chrome for inclusion of `0.0.0.0`? @sebastienfi ? Guess we need to decide whether to open new issue or continue that discussion here, @KyleAMathews (+ everybody) you

[2017-11-22 18:51] rongierlach commented on #2276
@aouerfelli Thanks!

My problem now is that I'm using [react-motion's](https://github.com/chenglou/react-motion#transitionmotion-) `TransitionMotion` component and it doesn't seem to be playing nice with the lifecycle of ReplaceComponentRenderer.

Anyone else using an animation library or api's other than `react-transition-group` to achieve a similar effect?

[2017-11-22 19:55] benforshey opened #2998 "Internal Links on gatsbyjs.org with Absolute Path Resolve as Duplicate Protocol + Domain Name"
Please see the links in the [Style Guide](https://www.gatsbyjs.org/docs/gatsby-style-guide/#what-are-guide-articles) to reproduce. Clicking on any of the links within the *What are Guide articles?* paragraph will return a 404, because the link is resolving as `https://www.gatsbyjs.org/https://www.gatsbyjs.org/{path/to/endpoint}`, with `{path/to/endpoint}` being representative, and not literal.

Th

[2017-11-22 21:21] kripod commented on #2995
I think that gatsby-source-filesystem wouldn't help much here. Basically, I'm trying to read a `thumbnail` attribute which points to an image like `/images/uploads/test.png` as an absolute URL (so, the aforementioned file is physically stored at `static/images/uploads/test.png`). The `thumbnail` attribute gets read as a string instead of being transformed into an image object.

[2017-11-22 22:34] durkinio opened #3002 "Field "______" must not have a selection since type "String" has no subfields."
I've been struggling with this for a week now, but can't seem to get any closer to a solution.  I'm trying to show a frontmatter defined cover image on my blog.

**Here's the top of the markdown file:**

path: "/blog/my-path"
date: "2017-07-14T03:49:16.408Z"
title: "My title"
cover: "/img/my-image.jpg"

**The query:**
  query BlogPostByPath($path: String!) {
    markdownRemark(frontmatter: { path:

[2017-11-22 22:41] shannonbux opened #3003 "Plugin Library lo-fi sketch"
Hey @KyleAMathews, @calcsam, and @fk (and others welcome as well!). Here's a lo-fi version of a possible plugin library. Thoughts? I'm concerned it's a bit crowded, and maybe too much like [js.coach](https://js.coach/). Also included summary of the research for reference (so you know what pain points are and what Gatsby fans are experiencing w/ current plugin situation).

<img width="1184" alt="sc

[2017-11-22 23:05] KyleAMathews commented on #3003
Looking good!

A few thoughts:

* It's totally fine to imitate design from another site/app. That's all I ever do :-)
* https://about.sourcegraph.com I believe has an API for searching for GitHub projects that depend on something. So for each plugin we could surface that information. GitHub might have added an API for this as well.
* It'd be great to highlight plugins which have official example s

[2017-11-22 23:42] shannonbux commented on #3003
@rdela looping you in here too. Would love to hear your thoughts on this potential plugin library design!

[2017-11-22 23:52] shannonbux commented on #3003
AND @rdela looping you in here too. Would love to hear your thoughts on this potential plugin library design!

[2017-11-23 00:26] KyleAMathews commented on #3003
Yeah exactly. If you're trying to figure out how to build something, a useful pattern is to find other plugins that are similar and copy them.

[2017-11-23 01:06] rdela commented on #3003
Love it! Looked at Sourcegraph on my phone, Think we can get all we need straight from GH?

https://github.com/blog/2470-introducing-security-alerts-on-github

Security notifications great thing to surface in index as well.

Are we ready to prototype?

@redmega @hmeissner @rafacm @mlukaszczyk @flexzuu any of you have thoughts on comments so far or ideas on best approach to get something working to

[2017-11-23 01:13] KyleAMathews commented on #3003
I already signed up for access for Algolia's search index of NPM https://blog.algolia.com/yarn-search-javascript-packages/

That should work really well for us.

[2017-11-23 01:15] KyleAMathews commented on #3003
Most security alerts wouldn't apply to Gatsby I'd guess since it's a dev/build tool and you generally don't build from unknown code/data.

[2017-11-23 01:21] rdela commented on #3003
Well we may have to wait for dependency graph and security notifications to get added into public API, I scanned quickly and did not see anything dependency or security related in the GH dev docs yet. So we may need to use Sourcegraph and [Node Security Project](https://nodesecurity.io/opensource) or similar if we want those features right away.

[2017-11-23 05:01] creativegeniusod opened #3005 "Graph queries do not work from components with Dynamic Parameter"
I’m trying to run a `GraphQL` query with variables, this works fine in the query editor (`/___graphql`), but I'm unable to get this working outside a `pageQuery`.

The intention of the query is to lookup pages bases on the arguments of a function (so not to create the actual page, but to feed a section of the page), to create for example dynamic menu’s such a for a footer section.

I’m able to run

[2017-11-23 05:22] rdela commented on #3003
Algolia NPM search looks amazing, there is an open issue for [security alerts](https://github.com/algolia/npm-search/issues/72) so I could add there or wait for someone else to either way, and later on if people do end up publishing enough client running code to warrant inclusion Shannon could do real tests with live side by side to see if or how people want it.

Seems we could get most everything

[2017-11-23 05:33] KyleAMathews commented on #3003
We've already got a token so we just have to help Shannon finish the design then someone can start building.

[2017-11-23 06:44] pinaudnico commented on #2993
Thanks for the info. Yes you can ask. I'm coding an app I want to change picture on the screen with geoloc points. It is built in react with gatsby. Gatsby uses webpack to data uri pictures. So it is coded with the adress just up there. Ad I want it to be dynamical, I must find the hash code to build this adress. Now I know it is hash, I can find on npm something which make hash code for me I thin

[2017-11-23 07:05] rdela commented on #3003
Unreal, that is great news about the token. Shannon have you thought about how we should approach the mobile interface?

[2017-11-23 07:25] andreasgruenh commented on #2989
It works for me when I start the server with `gatsby develop --host localhost`. This is either unexpected behavior or should be added to all tutorials that mention hot reloading with `gatsby develop`.

[2017-11-23 09:07] tlvenn commented on #2847
This is also my use case with prismic instead of contentful. I dont really understand why we could not start `gatsby develop` with an additional flag that would force gatsby to refetch its data for the requested page.

Pushing that concern for this particular use case (preview mode) to each individual source plugin does not seem like the right approach.

I dont really see any other way to let auth

[2017-11-23 12:21] thibmaek opened #3006 "Building fails because fetch is not defined"
<details>
<summary>gatsby-config.js</summary>

[code]

</details>

<details>
<summary>gatsby-node.js</summary>

[code]
</details>

Trying to run `gatsby build` fails because it can not find fetch:
[code]

I tried polyfilling this with unfetch, node-fetch, isomorphic-fetch, whatwg-fetch and none of these worked. I think it might be an issue, if not where do I start to fix this?

[2017-11-23 13:14] codejet commented on #2972
@KyleAMathews could you maybe point me to the place where the props for layouts/index.js are being (pre)filled or how this works, respectively?

When console logging during build, I saw that at first the props contain a location object with a pathname member, but in the next iteration they look like this: `{ layoutContext: {}, children: [Function: children] }`.

Prefilling the location object (`co

[2017-11-23 13:28] sedubois commented on #2392
How about the kind of GraphQL IDL syntax like in Graphcool GraphQL-up? https://github.com/graphcool/graphql-up
(NB: I never actually built a GraphQL backend myself and am just planning to use Graphcool, Apollo, Gatsby where needed.)

[2017-11-23 14:58] eladams opened #3008 "querystring with dots returns 404 on develop mode"
Running `gatsby develop` and trying to access:
`http://localhost:8000/select-location?lat=31.4217965&lng=34.59296380000001`
returns 404.
removing the querystring dots (`.`) loads the page.
any thoughts?
BTW opening this href by clicking a gatsby-link works.

[2017-11-23 16:09] sebastienfi commented on #2960
with the latest version atm of Gatsby, Gatsby-cli, running `gatsby develop` produces :
On Windows, a link to localhost is generated, HMR is working, no CORS issue.
On Mac, a link to locahost is generated, HMR is broken, CORS issues are showing. After launching the site this way, on Mac if you navigate to 0.0.0.0:8000 then everything is works and no CORS.

My 2 cents on this : `localhost` is more w

[2017-11-23 17:17] craig-doyle-uk opened #3009 "WP ACF repeater with image bug"
Node version v6.7.0
Gatsby version 1.9.108

gatsby-config.js :

[code]

gatsby-node.js
[code]

pacjage.json :
[code]
We have an issue whereby our site works correctly when we add a page with a repeater that includes maybe 3 or 4 images (in the above case the field is named article_image). When we then create a couple more similar pages the site stops working with the following error in our gatsby-

[2017-11-23 20:23] matthewmcclatchie commented on #864
Even though this issue is long closed, I was having the same problem with `localhost` when following part one of the tutorial.

@fpaboim - Your suggestion works for me.

[2017-11-23 21:31] againer opened #3010 "gatsby build static html failing ReactDOM errors -- Parser.pp$4.raise"
I am getting the following error when running `gatsby build`:
[code]

I have a bunch of js files in `/pages` and they all export react components correctly.  I removed all of the js files in `/pages` except for one to see if the error persisted -- it did.
[code]
Even with just the file above in `/pages`, the build fails.  I am using `gatsby-cli@1.1.23`.

[2017-11-23 21:55] KyleAMathews commented on #3010
Can you reproduce this error by copying your page component into one of the starters?

[2017-11-24 02:06] kildareflare commented on #2946
Open a new issue for gatsby new issue.
Closing as original issue resolved.

[2017-11-24 02:06] #2946 closed

[2017-11-24 02:08] kildareflare opened #3013 "Creating a new gatsby site from starter hangs"
Trying to create a new gatsby site:

```gatsby new layout-test```

installation hangs after this message

I've tried updating gatsby to latest (1.1.20) it was (1.1.11) and same error.

No directory or any files created.

Also tried using started other than the default, but to no avail.

I'll simply clone a repo for now.

[2017-11-24 02:11] kildareflare commented on #2674
@martinpsz have you got any further with this?

[2017-11-24 02:25] kildareflare commented on #2947
Issue resolved.

[2017-11-24 02:25] #2947 closed

[2017-11-24 03:23] KyleAMathews commented on #3013
All the gatsby new command does is spawn a git clone so not sure why you're having problems.

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/init-starter.js

[2017-11-24 04:32] benjaminhoffman commented on #2993
okay cool.  if you are happy with the result, please don't forget to close this issue!  thank you. :)

[2017-11-24 05:29] benjaminhoffman opened #3014 "Sitemap not working on example sitemap page (https://sitemap.gatsbyjs.org/sitemap.xml)"
see below.

![sitemap gatsbyjs org](https://user-images.githubusercontent.com/6520022/33196654-20a5c582-d0a6-11e7-9b5e-199a835c98f7.png)

[2017-11-24 06:28] #2993 closed

[2017-11-24 07:43] rgdelato opened #3015 "`createPage` route params not getting passed to component"
Hello there!

When I pass a route param to a page created with the `createPage` action creator in `gatsby-node.js` (such as `/user/:id`), the param (in this case, `id`) isn't included in the props of the component that gets rendered.

To double-check, I made a fresh `gatsby new` project using `gatsby-cli@1.1.23`.

Here's the contents of `gatsby-node.js`:
[code]

With that, when I navigate to somet

[2017-11-24 08:26] 2metres commented on #2359
Maybe a simpler solution would be to make the `LOCAL_IDENT_NAME` a configurable option in `gatsby-config.js` using the same webpack replacement syntax

[2017-11-24 08:42] rudasn commented on #2991
`remark-transfomer` parses headings, toc, and html from markdown when a node is first queried for (not on creation).

I haven't tried it, and I'm not sure if it's the right approach, but you could query for the created node (in onCreateNode) and then process the result.

[2017-11-24 08:46] mpartipilo commented on #3015
That is because when creating pages all their paths must be hard-coded. In your case, you must create a page for each user id, and pass the user id and any other relevant data as context to the "template" component.

You then retrieve those values from the context with the pathContext property.

[2017-11-24 10:24] pie6k opened #3016 "Weird errors when tsconfig file has syntax error"
I'm using gatsby with typescript. I had syntax error in tsconfig.json file:

[code]

Error I had because of that:

`Module build failed: (8,42): error TS1136: Property assignment expected.`

![image](https://user-images.githubusercontent.com/7311462/33206251-e4ed2b3e-d109-11e7-847c-f5e05675deba.png)

Took me quite a while and some headache before I found out it was related to json syntax.

Removin

[2017-11-24 10:55] craig-doyle-uk commented on #3009
The data for images in the ACF repeater field are still visible via the REST API, but are being stripped out in the app's GRAPHQL- I think this is occurring in the normalise.js mapEntitiesToMedia function but I'm not yet sure. Is there any way of resolving this?

[2017-11-24 12:08] pie6k commented on #1847
I've got exactly the same issue as @whmountains . I'm using gatsby with typescript.

[2017-11-24 13:48] pie6k commented on #2725
I've got the same issue.

[2017-11-24 13:50] pie6k commented on #2628
@adamwiggall could you describe a bit more about how you've solved it. Any idea what it was? I've got exactly the same issue and not sure what my 'rookie mistake' might be.

[2017-11-24 13:59] IljaDaderko opened #3019 "gatsby new projectName doesn't include react-helmet"
So I was playing around with new project and decided to build it to test if everything is ok, got an error that `react-helmet` couldn't be found in `gatsby-plugin-react-helmet` installing it as separate package solved the issue.

Hence my suggestion, if `gatsby-plugin-react-helmet` is included as default, should `react-helmet` also be? If so let me know and I'll submit quick pr to fix this 👍

[2017-11-24 14:36] pie6k commented on #2922
I've switched to gatsby from next.js. It's like 6 hours now I'm fighting exactly this issue. I'm having query like

[code]

and if I change even name of the query, my server crashes.

[2017-11-24 15:00] pie6k commented on #2827
I have few pages that require very similar set of data. I've decided to make one big query that cover all needs for every page and move it to another file to import it in every page I have.

Took me several hours to figure out I'm not allowed to do this...

[2017-11-24 15:45] craig-doyle-uk commented on #3009
I'm closing this issue as it appears to be the result of a particular image file, or group of images- we can track their urls and data through the various normalise.js functions without an obvious reason for them causing a problem- but they do. When we remove and replace these image files the site runs correctly on both `develop` and `build`.

[2017-11-24 16:21] LeKoArts opened #3020 ""gatsby develop" Hot Reloading opens browser tab multiple times"
Hi,

I normally modify the "scripts" in the package.json to ``gatsby develop -o`` to save some time. With the latest Gatsby version some weird behavior occurred. Initially it opens my browser tab as always but when I edit my markdown files for example it opens up a new browser tab on every save instead of hot reloading the old one.

Right now I have to remove the ``-o`` to have Gatsby working as i

[2017-11-24 18:43] tomazy opened #3022 "TypeScript files are not minified during build (gatsby-plugin-typescript)"
When running `npm run build` all typescript files are converted into non-minified javascript files in the `public` folder.

Example based on **Gatsby default starter**: https://github.com/tomazy/gatsby-site-typescript-issue (see the `public` folder)

Environment:
* gatsby@1.9.119
* node v8.2.1
* macOS Sierra 10.12.6

`gatsby-config.js`
[code]

`package.json`
[code]

[2017-11-24 20:46] angeloashmore commented on #1199
Hey everyone,

I created a helper library for source plugin writers. It should help reduce some of the boilerplate needed for source plugins.

`gatsby-node-helpers`: https://github.com/angeloashmore/gatsby-node-helpers

I've started using it for a Shopify source plugin I'm writing and found value in it, so I figured I would share it. Please let me know what you think if you try it out. Thanks :)

[2017-11-24 20:47] shannonbux commented on #3003
Ricky, that is a great question--I assumed people wouldn't be searching for plugins via mobile, but I could be wrong! I didn't even ask about that in interviews (classic greenie mistake). Do you think ppl will be searching via mobile a lot? If so, for a mobile interface I'd probably use the middle section of the desktop version as the main dashboard, and then the filters could be a screen that pop

[2017-11-24 20:58] rdela commented on #2725
@pie6k @syzer I think this is related to https://github.com/gatsbyjs/gatsby/issues/2960 are you seeing same errors after updating to `gatsby-cli@1.1.23` &
`gatsby@1.9.119`? … https://github.com/gatsbyjs/gatsby/issues/2960#issuecomment-346130796

[2017-11-24 21:23] rdela commented on #3003
Occurred to me when I followed js.coach link on my phone. Phone interface there seems shrunken down, like it is zoomed out to me, and touch targets feel small.

I was imagining more or less what Shannon articulated more clearly than I could have. I think what she suggests would work much better and give our interface more breathing room on small screens.

How should we start turning these into bro

[2017-11-24 21:36] KyleAMathews commented on #3006
Try importing fetch instead of doing a polyfill.

[2017-11-24 21:37] shannonbux commented on #3003
Awesome! I can probably get most of the desktop version done by next Wednesday afternoon and have a clickable prototype, and then I will definitely need more feedback on functionality and look and feel. I'm thinking it would be best to get that done and then address mobile after that? @KyleAMathews thoughts on doing mobile first or desktop first?

[2017-11-24 21:41] thibmaek commented on #3006
Tried both import 'isomorphic-fetch' and import fetch from 'ismorphic-fetch'

Did this with node-fetch, whatwg-fetch, isomorphic-fetch and unfetch. None of them seemed to work

[2017-11-25 01:43] nodox commented on #3014
Please provide a bit more context so that we can help you resolve your issue.

[2017-11-25 10:21] jurosh opened #3024 "Gatsby sitemap includes error (404) pages"
Sitemap generated by sitemap plugin contains 404 pages.

[code]

It contains custom page and also default location of 404 page.

**Expected behavior:**

Sitemap shouldn't contain error pages.

**Details:**

[code]

[2017-11-25 10:51] benjaminhoffman commented on #3014
When you navigate to https://sitemap.gatsbyjs.org/ what do you see?

[2017-11-25 12:00] zionis137 commented on #3002
Do you have `gatsby-plugin-sharp` and  `gatsby-transformer-sharp` in your "gatsby-config.js"?

[2017-11-25 13:07] abumalick opened #3025 "Creating 2 layouts from same component with different context"
Hello,

I am developing a multilingual website and need to pass the current language to
the layout. For this I used `createLayout`:

[code]

The problem is that when I log `props.layoutContext.locale` inside my
`MainLayout`, I always get `fr-FR` (on the arabic page and the french page)

While investigating, I could make it work when I duplicate my
template/MainLayout file, and use one file for eac

[2017-11-25 13:52] benforshey commented on #3014
I get the same error, but why should that subdomain resolve? Do you perhaps mean to look for this: https://www.gatsbyjs.org/sitemap.xml

[2017-11-25 14:36] lebarde commented on #1899
Hello @KyleAMathews, same for me here:

[code]

[2017-11-25 14:45] abumalick commented on #3025
I am using last version of gatsby

[2017-11-25 14:45] Nick-vr commented on #2599
Downgrading to v2.0.0 did not fix the problem for me.

[2017-11-25 16:23] gagan0723 commented on #2989
@andreasgruenh Adding ```gatsby develop --host localhost``` will not expose development server to the network.

[2017-11-25 18:42] benjaminhoffman commented on #3014
ah!  Apologies for the lame issue description.  I'm looking through all the example plugin pages and came across this: https://github.com/gatsbyjs/gatsby/tree/master/examples/sitemap

Notice the link in the README doesn't work, and neither does https://sitemap.gatsbyjs.org/sitemap.xml

I figured I'd try to fix this myself this morning but when I run `yarn build`, I get `Error: MarkdownRemark.html

[2017-11-25 18:50] benjaminhoffman commented on #3013
just ran it.  works great for me!
[code]

[2017-11-25 19:16] nathanjdunn commented on #2599
Similarly to @Nick-vr, I'm also having this issue

[2017-11-25 21:24] Antoine007 commented on #1138
Could `gatsby-transformer-sharp` accept `.gif` at some point?! It's almost 2018 guys 😂

[2017-11-25 21:51] daniel-simpson commented on #2392
Just throwing another idea in the ring.  We could have the graphql schema be generated off of (or affected by) the Content Management API?  e.g:
* https://api.contentful.com/spaces/{space_id}/content_types/?access_token={access_token}

Using this API alone to generate graphql schemas would be problematic as it would make it a lot harder using the JSON object type in Contentful (there would be no w

[2017-11-25 22:43] nicholaswyoung commented on #1138
@Antoine007 [`libvips`](https://github.com/jcupitt/libvips/issues/235) doesn't support `gif images.

Perhaps you could write a plugin with imagemagick to do roughly the same thing. (The [code is relatively easy to understand,](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-sharp/src) and the Gatsby team is generally friendly and helpful.)

[2017-11-25 23:17] davidprae commented on #1769
I'm experiencing this issue as well. The site compiles fine but there is no hot reloading. On macOS Sierra.

I receive these warnings in the console when changing a file:

    [HMR] Update check failed: hotDownloadManifest/request.onreadystatechange@http://localhost:8000/commons.js:34:23
    Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://0.0.0.

[2017-11-25 23:23] #2987 closed

[2017-11-26 03:18] rdela commented on #3003
Also maybe we rename https://github.com/gatsbyjs/gatsby/projects/1 Road to 2.0? …and merge these todos? Or start 2nd one so when other issues come in we can coordinate them with roadmap there?

[2017-11-26 06:48] calpa opened #3028 "How to integrate gatsby.js with Sentry.io?"
I have tried to install sentry.io with raven.js in two ways, but none of them seems to catch the errors correctly...

1. Add the raven.js script tag into page
[code]

2. Use `raven-js` via npm

I wonder what kinds of error catching methods or utilities I can use in gatsby.js.

I can report the error manually using `Raven.captureException(e)`, which is stated at https://docs.sentry.io/clients/javas

[2017-11-26 06:51] calpa commented on #3006
@thibmaek you may use [axios](https://github.com/axios/axios) instead of fetch.

[2017-11-26 07:43] zionis137 opened #3031 "gatsby-image <noscript> support"
- **current behaviour**
When deactivating JavaScript `gatsby-image` is not replacing the placeholder-image. So the grey-box or traced-SVG stays there.
Demo (go to Dev-Tools and deactivate JS): https://using-gatsby-image.gatsbyjs.org/

- **expected behaviour**
no-script users are getting a normal image (without any effekts/lazy loading). Optimally `srcset` would be used, otherwise they just get a l

[2017-11-26 09:26] abumalick commented on #3028
you can could instegrate an error boundary in `src/HTML.js` and log the error to sentry there.

[2017-11-26 09:26] abumalick commented on #3028
https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html#introducing-error-boundaries

[2017-11-26 11:28] thibmaek commented on #3006
@calpa I might, but that's really not a solution though but an alternative. Seems weird that I could use all the nice ES6 & ESNext stuff out of the box with Gatsby, but I shouldn't use a widely supported API in the official Javascript spec.

[2017-11-26 11:58] migs540 opened #3032 "gatsby build with gatsby-image shows first image only (blurred, svg, bkg color) not full resolution"
When doing a `gatsby build` the resultant index.html files in the public directory only show blurred, svg or background colors - the full resolution image never appears).

This happened on a website I am developing so I git cloned the original gatsby examples and ran that locally (`gastby develop`) successfully (images blur up to full resolution). But when i run a `gatsby build` in the /gatsby/exa

[2017-11-26 13:25] migs540 commented on #3032
This was happening because I gzip *.js files on the website. That stops them running. gunzipping files has resolved this but I wonder if it's possible to compress files to improve load speeds? Ideally i can gzip files and continue to execute js?

[2017-11-26 16:20] OmarJaber commented on #1767
I have The same error !!

[2017-11-26 17:08] yachaka commented on #3025
Exact same problem here.
The only context picked up is the last one

[2017-11-26 17:40] yachaka commented on #3025
Problem comes from https://github.com/gatsbyjs/gatsby/blob/2bda70e3dd2b32499ee3fe9838dcd74fd570ace3/packages/gatsby/src/internal-plugins/query-runner/pages-writer.js#L89

Layout are cached along their `context`, but the identifier for them only comes from the component path. So there can't be multiple contexts for the same component path.
Identifier should be changed to an other thing or otherwise

[2017-11-26 17:43] yachaka commented on #3025
As a temporary solution, I wrote down the layouts file manually.

[2017-11-26 19:21] fk commented on #1500
Together with @yisela 🙏 I spent some time last week expanding [my little "butler" guy that I drew earlier this year](https://github.com/gatsbyjs/gatsby/issues/1173#issuecomment-311098011) into a complete character:

![image](https://user-images.githubusercontent.com/21834/33237102-f8fc4374-d269-11e7-94b1-c64ca3ae75bd.png)

The darker blue for the illustration is "Gatsby" from @ArchieHicklin's [sug

[2017-11-26 20:23] thibmaek commented on #3006
@calpa I tried it out with axios but the same deal:

[code]

which results in this:

[code]

Works fine in dev for this endpoint: https://gh-latest-repos-ohdfptbedm.now.sh/

[2017-11-26 20:41] thibmaek commented on #3006
Seems like I was able to build using `isomorphic-fetch` to polyfill fetch not being defined. The last error was related to placeholder files in pages/ which were empty or did not export a valid React component.

[2017-11-26 20:41] #3006 closed

[2017-11-26 21:47] abumalick commented on #3025
thanks @yachaka ,
it seems you are right, here is the next step in layout creation:

https://github.com/gatsbyjs/gatsby/blob/25e3c6aee2f769026df1d2e7a1ec27e9c2d63fc1/packages/gatsby/cache-dir/static-entry.js#L36

I will try to fix it.

[2017-11-27 00:10] migs540 commented on #2049
@mhyrr I have the same problem as I see on your site.

What we see on the screen:

homepage loads (with a css keyframe transition) then after a second or so the css keyframe transition is repeated (it shouldn't repeat) resulting in a kind of flash like on your site.

What Developer tools, network shows:

The first keyframe transition (remembering we should only see this once) appears when layouts-

[2017-11-27 06:44] rdela commented on #2989
Hi @andreasgruenh @gagan0723 please see https://github.com/gatsbyjs/gatsby/pull/2983#issuecomment-346126702 and https://github.com/gatsbyjs/gatsby/issues/2960#issuecomment-346130796 and more recent comments. Looks like we should default to `localhost` on Mac as well to avoid these. For local network testing on Mac can do `-H [machine_name].local`, any of that help?

[2017-11-27 08:03] hirviid commented on #2427
@yasserzubair @halloween603 Did you find the cause / solution for this?

[2017-11-27 10:01] ahstro opened #3043 "`gatsby develop` only sporadically recompiles on save"
Running `gatsby develop` on my project, I expect my code to be recompiled whenever I change and save a file, but this is rarely happens. It's _usually_ fine for the first save, but after that it seems completely random, most often requiring me to kill the process and run it again (wasting, as you can imagine, a lot of time).

I thought it might be related to the rate at which I save (I've got my s

[2017-11-27 10:10] rdela commented on #3043
Hi @ahstro did you see https://github.com/gatsbyjs/gatsby/issues/2960#issuecomment-346130796 &/or https://github.com/gatsbyjs/gatsby/pull/2983#issuecomment-346115283 and newer comments in both?

You may be able to resolve your issues by passing
`gatsby develop --host localhost`
or
`gatsby develop --host [machineName].local`

until we go back to `localhost` default on non-Windows as well, it is eit

[2017-11-27 10:15] ahstro commented on #3043
@rdela That did not seem to do it, unfortunately. I dug a bit deeper and realized you were using chokidar under the hood, so I found a workaround by forcing it to use polling with the [`CHOKIDAR_USEPOLLING` env variable](https://github.com/paulmillr/chokidar/blob/cbdf25563cfff7f526e16ab4732b236e94be8f42/index.js#L97). Guess that might mean that this is not your issue after all. You can close it un

[2017-11-27 10:56] rdela commented on #3043
@ahstro Sorry to hear it did not help, glad you found a workaround. I am inclined to say leave this open as may indicate a different issue specific to your environment or Gatsby setup/use causing you issues with chokidar. Could help others or best case, lead to an eventual fix that lets you stop forcing polling.

[2017-11-27 11:32] Jaikant commented on #2674
@martinpsz I hit this precise issue, when a different query failed.
The query failed because the JSON was malformed. JSON does not support trailing commas.

[2017-11-27 13:31] calcsam commented on #3028
Take a look into how Gatsby plugins for Google Analytics and Intercom.io work. You'll probably want to modify the `onRenderBody` hook of `gatsby-ssr.js` and cut-and-paste the JS in your raven.min.js file there so it is called before the page loads.

Eg, https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-analytics/src/gatsby-ssr.js

[2017-11-27 13:42] calcsam commented on #3024
If you'd like to overwrite the default query to exclude 404 pages, you can include that as an option in your plugin config.

The default query is below: https://github.com/gatsbyjs/gatsby/blob/524ff171cd890b79ce9535d6dc10550c70365d33/packages/gatsby-plugin-sitemap/src/internals.js#L16-L35

Even better: submit a PR that implements an `excludes` option for this plugin.

[2017-11-27 13:45] calcsam commented on #3019
Can you copy-paste the error message?

[2017-11-27 14:01] calcsam commented on #3008
Discussed at https://github.com/gatsbyjs/gatsby/issues/1655

[2017-11-27 14:15] calcsam commented on #623
@Necmttn -- thanks for taking the initiative on this. We really appreciate this -- huge priority for making Gatsby accessible & easy to use for more people, especially folks who are experiences website developers but less used to the Gatsby toolchain.

Could you post updates on this (screenshots, new features) on this thread as you make progress?

[2017-11-27 16:37] calcsam opened #3045 "Automatic file validation for components in src/pages"
Add regex validation to make sure files in `src/pages` export React components. Throw error otherwise. Programmatically enforce language in the docs: https://github.com/gatsbyjs/gatsby/pull/3011

A cheap way of doing this is to make sure files contain at least two statements:

(1) an uppercase `React`
(2) `export default` or `module.exports`

[2017-11-27 16:42] ziyafenn commented on #2599
@nathanjdunn @Nick-vr uninstall the styled-components package and run this again:
`npm install --save gatsby-plugin-styled-components styled-components@2.2.0`

[2017-11-27 16:51] #2989 closed

[2017-11-27 17:11] craigmcginley commented on #1786
@KyleAMathews I'm experiencing similar issues. Following the tutorial closely, I can retrieve all markdown files, accessed from a file inside `src/pages` directory, as the tutorial describes. If I try to relocate the query (meaning I've removed the original query from `src/pages` file, so it's not an issue of duplicated queries) to a `src/components` or `src/layouts` directory file, `data` is unde

[2017-11-27 17:13] andrew-codes commented on #332
I believe that is the extent of code required for the config file. I will submit a PR shortly to the docs's page listing the above plugin on the list of community supported plugins. Thanks!

[2017-11-27 17:37] #3025 closed

[2017-11-27 18:44] benedfit commented on #2796
I'm also running into this issue when creating ~1700 pages. I've tried my best to optimize the queries on each page as much as possible, but I can't get the `run graphql queries` step to complete

[2017-11-27 18:53] Nick-vr commented on #2599
@ziyafenn Thank you!

[2017-11-27 19:21] danoc commented on #1990
This would be great for cleaning up incorrect "unmet peer dependency" warnings.

Also, it seems inline with the approach taken in the recent Gatsby breaking changes for Styled Components and React Helmet.

[2017-11-27 19:54] szimek commented on #2796
@robmccardle @benedfit There's already a PR that fixes this issue: https://github.com/gatsbyjs/gatsby/pull/2969. Please +1 it or sth to get it merged faster :)

I've also created an issue (including very rough implementation) to not inline webpack chunk manifest here: https://github.com/gatsbyjs/gatsby/issues/2992 It might also be something that you might be interested in, if you're trying to use

[2017-11-27 21:32] yachaka commented on #3032
@migs540 that should definitely not prevent them from running, the problem comes from either a bad gzip or an other place

[2017-11-27 23:14] PepperTeasdale commented on #2847
I agree with @tlvenn , a gatsby preview server sounds like the ideal solution. It could offer a basic version to allow re-bootstraping before handling requests, taking the responsibility off the plugins. Even better would be to expose an API to receive webhooks from data sources and allow source plugins to update accordingly.

I took a look at the filesystem source plugin as @KyleAMathews recommen

[2017-11-27 23:17] fk opened #3048 "[examples/no-trailing-slashes] Throws in cache-dir/loader.js"
Stumbled upon this in relation to a question on Twitter (https://twitter.com/benhoffman_/status/934497974553595909) – https://no-trailing-slashes.gatsbyjs.org/:

![image](https://user-images.githubusercontent.com/21834/33294523-4e6c6272-d3d1-11e7-9e3f-16d1754f8b24.png)

[2017-11-27 23:31] mukealicious commented on #3048
This is also happening on https://using-gatsby-image.gatsbyjs.org/

<img width="954" alt="screen shot 2017-11-27 at 3 30 16 pm" src="https://user-images.githubusercontent.com/1085841/33294977-ed501b08-d387-11e7-8b93-05c356de3afb.png">

[2017-11-28 01:21] KyleAMathews commented on #312
@fazouane-marouane cool! Yeah, from a quick look it seems really close. Great work!

We don't want to use hast-to-hyperscript though in the frontend as it has a bunch of dependencies and we want the runtime to be as light as possible — e.g. just recurse through the AST creating React elements. So move as much in the second library into your module.

[2017-11-28 02:18] gregorskii commented on #309
I have a similar issue, but I am using localStorage to persist some of my redux state on the browser. How do I bypass this issue if I cannot use `window.localStorage` in the store.js file.

:sad:

Thanks!

[2017-11-28 02:57] KyleAMathews commented on #3048
Our runtime broke earlier — fixed it in https://github.com/gatsbyjs/gatsby/pull/3049

[2017-11-28 02:57] #3048 closed

[2017-11-28 03:01] KyleAMathews commented on #3032
Most servers GZIP files automatically for you. If you're GZIPing files yourself, you need to setup your server to handle that which is probably the problem.

In any case, this isn't a Gatsby bug so closing.

[2017-11-28 03:01] #3032 closed

[2017-11-28 03:04] migs540 commented on #3032
@yachaka OK thanks, I can troubleshoot gzipping files and if that's not successful I can open a new issue for that as the title of this one will be misleading.

[2017-11-28 03:05] KyleAMathews commented on #2992
Since the webpack manifest is loaded only once per session and is on the critical path for getting to interactive (better to inline things on critical path as we need them ASAP), we don't want to defer loading the script.

We do want however to move the inlining *after* the body as the manifest isn't on the critical path for the initial paint so putting it in the head is slowing down the initial p

[2017-11-28 03:05] #2992 closed

[2017-11-28 03:06] benforshey commented on #2998
Fixed with commit 58de609.

[2017-11-28 03:06] #2998 closed

[2017-11-28 03:07] KyleAMathews commented on #3032
@migs540 issues for your hosting environment are best posted elsewhere e.g. stackoverflow so we can focus on Gatsby-specific issues here.

[2017-11-28 03:14] migs540 commented on #3032
@KyleAMathews yeah totally - i was just about to close this one and you beat me to it. Same problem exists when running `gatsby serve` locally but I'll keep troubleshooting and open a new issue in the right place with the right title.

[2017-11-28 07:37] szimek commented on #2992
@KyleAMathews But wouldn't that mean that:
1. At 5K pages, every page size of 300KB+ which gives 1.5GB in total?
2. The same user who opens different pages (thus different "sessions") from our mobile app or marketing campaigns will have to load 300KB of _the same data_ over and over again? If it was extracted, it would be cached, so it would be loaded instantly. On mobile devices it kind of sucks

[2017-11-28 08:10] KyleAMathews commented on #2992
1. The total size of this manifest will shrink soon as we won't be managing the results of GraphQL queries through webpack like we are now
2. we'll also soon be splitting and lazy loading manifests so we'll only inline what's necessary to bootstrap webpack on the initial page

[2017-11-28 08:10] KyleAMathews commented on #2992
Hopefully you won't be building 5k page sites before then :-P

[2017-11-28 08:31] ViliamKopecky opened #3050 "gatsby-plugin-typescript should ignore `.d.ts` files in `pages` dir"
Having types declaration file in `src/pages` causes error, because Gatsby tries to build it to html. It should be ignored for creating pages.

[code]

[2017-11-28 08:40] marcobiedermann opened #3051 "Question: Cache API Requests"
Is there a way to cache external API requests and and make a call every XX minutes / hours / days?
Most APIs have a request limit so a better approach would be to fetch external data, store it in DB / file system and read from that. Via timer or cronjob the store should be updated.

[2017-11-28 11:21] baseten opened #3052 "Modifying js babel loader"
I'd like to modify the JS babel loader, so that I can tweak the excludes / includes and run the loader against some of my node_modules - I'm using some ES6 modules which allow this and will allow me to import only required parts of a library instead of whole bundled files.

I understand how to use `modifyWebpackConfig` in order to do this, but ideally I'd like to use Gatsby's own babelConfig gener

[2017-11-28 12:05] fergiemcdowall commented on #332
Heres an article about how to make a searchable static site with `search-index`: http://www.gordonburgett.net/post/2017/07_making_a_searchable_static_site/

[2017-11-28 12:14] barraq commented on #2992
Thanks @KyleAMathews for you support, that is awesome news!

[2017-11-28 12:42] yachaka commented on #2957
#3039 fixes this!

[2017-11-28 13:26] alampros commented on #1655
@moisesv - Does this still happen with gatsby@1.9.123?

[2017-11-28 14:50] baseten commented on #3052
On looking further into this, I can provide the necessary program properties manually. This seems to be nearly what I'm after, but the exclude seems to be ignored, am I doing anything obviously wrong? That `debugger` is never hit at all.

[code]

[2017-11-28 15:01] baseten commented on #3052
Forgot to return the promise! This is working now, hopefully someone else will find it useful:

[code]

[2017-11-28 17:12] markmichon commented on #2892
I occasionally run into this with yarn. Give `yarn global remove gatsby-cli` a try, then try installing again with `yarn global add gatsby-cli`. Also upgrade yarn if available.

[2017-11-28 17:15] heldrida commented on #309
@gregorskii

`const windowGlobal = typeof window !== 'undefined' && window`

then, `windowGlobal.localStorage`

[2017-11-28 17:16] yaronlevi commented on #2892
@markmichon thanks I'll try it

[2017-11-28 18:04] gbailey4 commented on #1899
I get a similar error with the https://github.com/AustinGreen/gatsby-starter-netlify-cms starter. Doing a gatsby new site does not have the issue.

[2017-11-28 18:47] PepperTeasdale commented on #2847
I guess ignore the latter part of the above comment, I came up with some options. @tlvenn , maybe have a look at #3054 if you'd like to join that conversation

[2017-11-28 19:38] KyleAMathews commented on #1899
Could you try upgrading gatsby-cli to the latest?

[2017-11-28 19:39] gbailey4 commented on #1899
It works for me upon upgrading!

[2017-11-28 19:41] #519 closed

[2017-11-28 20:24] rgdelato commented on #3015
Closing this issue since it's been clarified that Gatsby intends for client-only routes to be the solution to this kind of use case.

[2017-11-28 20:24] #3015 closed

[2017-11-28 20:25] calcsam commented on #3052
Glad you figured it out! This looks like a great example -- could you add it to the docs?

https://www.gatsbyjs.org/docs/add-custom-webpack-config/

[2017-11-28 20:25] #3052 closed

[2017-11-28 20:32] syntactic-salt commented on #2292
I'm having an issue where some of my team members have the version of this plugin which defaults sizeByPixelDensity to true. I'd like to update the minimum version in my project to the version where this was reverted to default to false. Can anyone tell me what version that is?

[2017-11-28 20:37] jquense commented on #3052
you can edit the parts of the babel loader directly without needing to generate an entire new `query` here

[2017-11-28 21:44] KyleAMathews commented on #2992
@barraq np! Yeah the goal has always been to make Gatsby work for any sized site e.g. 10s of millions of pages even — actually, really want to rebuild Wikipedia on Gatsby someday haha :-)

But yeah, had to ship something first and then go from there but there's straightforward ways to remove all the current scaling problems.

[2017-11-28 21:45] KyleAMathews commented on #2992
Will be putting together a new roadmap for this stuff in coming weeks.

[2017-11-28 22:49] gregorskii commented on #309
Ya this worked, but I had to mock local storage using https://www.npmjs.com/package/localstorage-memory:

[code]

Using https://www.npmjs.com/package/redux-localstorage.

[2017-11-29 00:31] #3008 closed

[2017-11-29 00:32] KyleAMathews commented on #20
Closing as super old and there's more recent issues on themes which will cover this.

[2017-11-29 00:32] #20 closed

[2017-11-29 00:35] calcsam commented on #3014
Right now we have to manually add example sites on Netlify, and we haven't done this yet. We're going to automate the build process, until then, feel free to change the docs so it doesn't point to a dead link.

[2017-11-29 00:36] KyleAMathews commented on #33
There's now https://github.com/pixelstew/gatsby-paginate which is pretty awesome. Closing this issue as it's old and not active.

[2017-11-29 00:36] #33 closed

[2017-11-29 00:37] KyleAMathews commented on #3003
Previous issue on this https://github.com/gatsbyjs/gatsby/issues/56

[2017-11-29 00:37] KyleAMathews commented on #56
closing this issue as active discussion has moved to https://github.com/gatsbyjs/gatsby/issues/3003

[2017-11-29 00:37] #56 closed

[2017-11-29 00:39] KyleAMathews commented on #332
Closing this issue as it's a problem that'll be solved via plugins rather than in Gatsby core.

[2017-11-29 00:39] #332 closed

[2017-11-29 00:39] #341 closed

[2017-11-29 00:41] KyleAMathews commented on #582
This is shipped! Thanks again @timer!

[2017-11-29 00:41] #582 closed

[2017-11-29 00:42] KyleAMathews commented on #575
There's a gatsby-plugin-netlify now — would love to see plugins for Nginx, S3, etc.

[2017-11-29 00:42] #575 closed

[2017-11-29 00:42] KyleAMathews commented on #571
Closing as this isn't particularly actionable

[2017-11-29 00:42] #571 closed

[2017-11-29 00:43] calcsam commented on #3051
We think that's super important! In Gatsby already does this. It fetches all data necessary at build-time. The diagram on
https://www.gatsbyjs.org/ illustrates this a bit.

Of course, your underlying data, whether it lives in a CMS or wherever, may change over time. If you control the data source, you can use webhooks to trigger a re-build whenever data changes. If you don't, you can trigger perio

[2017-11-29 00:43] #3051 closed

[2017-11-29 00:44] KyleAMathews commented on #553
Seems this conversation has resolved itself — open a new issue please if anyone still needs help!

[2017-11-29 00:44] #553 closed

[2017-11-29 00:44] calcsam commented on #2977
No, this isn't normal. Is this still occurring? What's your system information?

[2017-11-29 00:45] KyleAMathews commented on #550
I think this was fixed? Comment or reopen if there's still trouble.

[2017-11-29 00:45] #550 closed

[2017-11-29 00:46] KyleAMathews commented on #537
We shipped this! A while ago w/ v1 :-)

[2017-11-29 00:46] #537 closed

[2017-11-29 00:46] dardub commented on #3003
What will the test story be like for community plugins? Can / do we need to display version compatibility?

[2017-11-29 00:47] calcsam commented on #2988
@nilutz could you provide additional info here?

[2017-11-29 00:48] KyleAMathews commented on #523
This is fixed

[2017-11-29 00:48] #523 closed

[2017-11-29 00:52] KyleAMathews commented on #517
Closing since we got gatsby-plugin-feeds now

[2017-11-29 00:52] #517 closed

[2017-11-29 00:53] KyleAMathews commented on #497
Would love to see docs for gitlab added to https://www.gatsbyjs.org/docs/deploy-gatsby/!

[2017-11-29 00:53] #497 closed

[2017-11-29 00:56] KyleAMathews commented on #3003
What do you mean by "test story"?

[2017-11-29 00:58] calcsam commented on #2979
Can you post more info please? Doesn't look like Gatsby -- it doesn't look like you're using the default gatsby-image component, example of how that works here:

https://github.com/gatsbyjs/gatsby/blob/master/examples/using-gatsby-image/src/pages/blur-up.js
https://using-gatsby-image.gatsbyjs.org/blur-up/

[2017-11-29 00:58] #496 closed

[2017-11-29 01:00] #478 closed

[2017-11-29 01:00] #463 closed

[2017-11-29 01:01] KyleAMathews commented on #431
We shipped v1! :tada:

[2017-11-29 01:01] #431 closed

[2017-11-29 01:02] KyleAMathews commented on #429
@stevensurgnier has been working on adding great support for page transitions —
 see https://github.com/gatsbyjs/gatsby/tree/master/examples/using-page-transitions

[2017-11-29 01:02] #429 closed

[2017-11-29 01:03] calcsam commented on #2982
Hi @pinaudnico -- this type of general "how do I do X in Gatsby" is probably best asked in StackOverflow.

You can look at using-gatsby-image for an example of how Gatsby handles image pipelining if you are curious:

https://github.com/gatsbyjs/gatsby/tree/master/examples/using-gatsby-image
https://using-gatsby-image.gatsbyjs.org/

[2017-11-29 01:03] #2982 closed

[2017-11-29 01:04] KyleAMathews commented on #421
Shipped in v1!

[2017-11-29 01:04] #421 closed

[2017-11-29 01:04] KyleAMathews commented on #420
Shipped in v1!

[2017-11-29 01:04] #420 closed

[2017-11-29 01:04] KyleAMathews commented on #419
We shipped v1!

[2017-11-29 01:04] #419 closed

[2017-11-29 01:07] KyleAMathews commented on #408
Ok, initial branding + logo work is done. Great work team :-) Archiving this (working on cleaning up issues) but feel free to create new issues to discuss further work you're interested in helping out with.

P.S. go check out @fk's t-shirt design!! https://github.com/gatsbyjs/gatsby/issues/1500#issuecomment-347031574

[2017-11-29 01:07] #408 closed

[2017-11-29 01:09] KyleAMathews commented on #925
Per @sebastienfi comment, we've got solid support now for page transitions — would love a really fancy example site too someday but this will suffice for now.

[2017-11-29 01:09] #925 closed

[2017-11-29 01:10] calcsam commented on #2975
Thanks for the feedback.

Re: the screen size issue, can you include screenshots?

Re: the accuracy of the README including that sentence, thanks for the point. We'd love a PR fixing this, feel free to submit one!

[2017-11-29 01:10] KyleAMathews commented on #922
Relay Modern solves a lot of these problems 👌

[2017-11-29 01:10] #922 closed

[2017-11-29 01:10] KyleAMathews commented on #921
We're using the fancy CRA error overlay now

[2017-11-29 01:10] #921 closed

[2017-11-29 01:11] KyleAMathews commented on #913
Closing this as we've got gatsby-source-contentful now

[2017-11-29 01:11] #913 closed

[2017-11-29 01:12] KyleAMathews commented on #885
Open PR for this @ https://github.com/gatsbyjs/gatsby/pull/2990

[2017-11-29 01:12] #859 closed

[2017-11-29 01:13] calcsam commented on #2984
Thanks @fpoumian -- we've been hearing more and more about folks new to GraphQL stumbling over this sort of error, appreciate you highlighting this. We're trying to think of how to make it easier for people, eg perhaps some sort of Gatsby-specific GraphQL query builder. Suggestions welcome!

[2017-11-29 01:13] #858 closed

[2017-11-29 01:13] #2984 closed

[2017-11-29 01:13] #856 closed

[2017-11-29 01:14] KyleAMathews commented on #855
Closed as not support v0 anymore

[2017-11-29 01:14] #855 closed

[2017-11-29 01:14] KyleAMathews commented on #853
Closed as not support v0 anymore

[2017-11-29 01:14] #853 closed

[2017-11-29 01:15] #850 closed

[2017-11-29 01:15] #846 closed

[2017-11-29 01:16] #801 closed

[2017-11-29 01:16] #796 closed

[2017-11-29 01:17] KyleAMathews commented on #794
Would love to see a plugin for this but closing this now as it's not a core concern.

[2017-11-29 01:17] #794 closed

[2017-11-29 01:18] calcsam commented on #3002
What the plugins @zionis137 do are transform your relative path into nested image data. Otherwise they will stay as Strings, which aren't nested, hence the error.

You can verify this by going to GraphiQL and pasting your query in there, but omitting the nested

` ``{
childImageSharp{
responsiveSizes (maxWidth: 200) {
src
}
}```

after `cover`. That should show you that the `cover` field is still

[2017-11-29 01:19] #3002 closed

[2017-11-29 01:19] nadiia opened #3059 "During production build the location object doesn't include pathPrefix if any"
Issue: A `location` object passed to a layout component doesn't include pathPrefix in it's `pathname` during the production build, `gatsby build --prefix-paths`, when there is a `pathPrefix` defined.

Expected: The `location.pathname` includes `pathPrefix` and consistent in a production build and in a browser.

[2017-11-29 01:19] KyleAMathews commented on #754
Fixed I believe

[2017-11-29 01:19] #754 closed

[2017-11-29 01:19] #711 closed

[2017-11-29 01:23] KyleAMathews commented on #678
Fixed by deleting html from public on bootstrap

[2017-11-29 01:23] #678 closed

[2017-11-29 01:24] KyleAMathews commented on #633
Given @m-allanson's starter — closing this out. Please open more issues if there's something we can do to improve how Gatsby works with Storybook!

[2017-11-29 01:24] #633 closed

[2017-11-29 01:25] KyleAMathews commented on #631
Closing this out as it's a bit old. If people are still having trouble — would love to see an issue with suggestions on how we can improve our implementation.

[2017-11-29 01:25] #631 closed

[2017-11-29 01:27] #1103 closed

[2017-11-29 01:29] #1086 closed

[2017-11-29 01:30] #1082 closed

[2017-11-29 01:31] KyleAMathews commented on #1079
Cl

[2017-11-29 01:31] #1079 closed

[2017-11-29 01:32] #1056 closed

[2017-11-29 01:33] KyleAMathews commented on #1048
This should be fixed now

[2017-11-29 01:33] #1048 closed

[2017-11-29 01:35] KyleAMathews commented on #1037
If you're still having trouble, checkout the sass example site in the examples folder

[2017-11-29 01:35] #1037 closed

[2017-11-29 01:36] #1002 closed

[2017-11-29 01:36] #998 closed

[2017-11-29 01:37] KyleAMathews commented on #996
Closing as not supporting v0 anymore

[2017-11-29 01:37] #996 closed

[2017-11-29 01:37] #993 closed

[2017-11-29 01:37] #992 closed

[2017-11-29 01:38] #984 closed

[2017-11-29 01:40] KyleAMathews commented on #981
PR for this https://github.com/gatsbyjs/gatsby/pull/2996

Also two other issues on this so closing this as least focused #2954, #1807

[2017-11-29 01:40] #981 closed

[2017-11-29 01:41] #980 closed

[2017-11-29 01:42] KyleAMathews commented on #975
We switched to babel-preset-env (mostly) so closing this

[2017-11-29 01:42] #975 closed

[2017-11-29 01:48] #961 closed

[2017-11-29 01:49] KyleAMathews commented on #930
Not supporting v0 anymore

[2017-11-29 01:49] #930 closed

[2017-11-29 01:52] SachaG commented on #1500
Could we add the "G" monogram somewhere in there somehow? Also maybe we want to keep the number of colors down to save on printing costs, so I'd suggest getting rid of the cyan.

[2017-11-29 01:57] KyleAMathews commented on #3059
Oh hmmm you're right — would you like to put together a PR fixing this?

https://github.com/gatsbyjs/gatsby/blob/19e18a6e5a30b5147b57eb772fe776e9d3553a0c/packages/gatsby/cache-dir/static-entry.js#L88

https://www.gatsbyjs.org/docs/how-to-contribute/#contributing

We're using pathPrefix elsewhere in that file https://github.com/gatsbyjs/gatsby/blob/19e18a6e5a30b5147b57eb772fe776e9d3553a0c/packages/

[2017-11-29 01:58] KyleAMathews commented on #1703
Yeah, it very well might be. I'm not a contentful user so dunno — @Khaledgarbaya

[2017-11-29 01:58] #1703 closed

[2017-11-29 01:58] KyleAMathews commented on #1703
thanks everyone!

[2017-11-29 02:21] iamkevingreen opened #3061 "Build Process fails inside of Netlify but works locally (wordpress)"
I have a site using gatsby-source-wordpress that builds when I run the commands locally but fails when I run it within netlify auto deploy.

I have a .nvmrc file and followed this guide https://www.netlify.com/blog/2016/02/24/a-step-by-step-guide-gatsby-on-netlify/

was using the a 1.0 version of gatsby wordpress but upgraded it to 2 and the problem continues.

[code]
I can continue to deploy loca

[2017-11-29 03:29] jquense commented on #1500
Super cool!

[2017-11-29 03:56] KyleAMathews commented on #3061
First two things I'd try are

1. `rm -r node_modules && npm install`
2. Try building your site on a linux VM

[2017-11-29 03:57] KyleAMathews commented on #3061
Also you could look at the source code for gatsby-source-wordpress to see what's happening.

[2017-11-29 04:10] m-allanson commented on #2977
Hmm.. Closing as this works on a fresh checkout of Gatsby.

My previously checked out copy of Gatsby (updated to commit 18c513c01d9f8acfbcc944c8c3a957a6e549f54c) still has test failures, but that must be a problem on my side. (I'm on MacOS Sierra 10.12.6)

[2017-11-29 04:10] #2977 closed

[2017-11-29 05:43] ivorpad opened #3063 "[gatsby-source-wordpress] Fetch protected endpoints"
Hi first of all thanks for GatsbyJS!

I'm looking into the `auth` option log into WordPress and query protected endpoints like `/wp-json/wp/v2/users/me` but I just can't wrap my head around it.

Unfortunately the comment is confusing: `If auth.user and auth.pass are filled, then the source plugin will be allowed to access endpoints that are protected with .htaccess.`

    auth: {
     htaccess_use

[2017-11-29 05:57] iamkevingreen commented on #3061
not sure if this is related https://github.com/yarnpkg/yarn/issues/4799 but I am on a really old version of yarn 0.18.1, so I'll play around with that as well.

[2017-11-29 06:10] wangsongiam commented on #2005
@akadop Thanks for the workaround! It saved me tons of time!

[2017-11-29 06:28] KyleAMathews commented on #1282
We're not using react-router-scroll anymore (we forked it) so closing this issue.

[2017-11-29 06:28] #1282 closed

[2017-11-29 07:46] marcobiedermann commented on #3051
@calcsam Ah, thank you. Cool, I will give it a try!

[2017-11-29 08:43] kripod commented on #463
@KyleAMathews Why did you close this? I think that using `peerDependencies` could eliminate a lot of warnings for yarn users.

[2017-11-29 10:22] cpannwitz opened #3064 "[gatsby-source-contentful] Error at fresh installment"
Hey. I'm currently trying to setup a basic gatsby site with the contentful-source-plugin.
Last week everything went pretty great, until that moment I had to show off my results and - bam - the whole thing went down in 5 minutes. I had no success in recreating and debugging.

Specifically gatsby-source-contentful errors out with the following:
`entryItemFields[foreignReference.name].push is not a f

[2017-11-29 10:34] pinaudnico opened #3065 "problem on sorting with graphql"
I try something like this:
allImageSharp (sort: {fields:id}){
  edges {
    node {
      sizes {
        src
        originalImg
        originalName
      }
    }
  }
}

it works on the graphiQL web window but when I put it in my gatsby it says
GraphQLError: Argument "sort" has invalid value {fields: "id"}.
In field "fields": Expected type "ImageSharpConnectionSortByFieldsEnum", found "id".

Any

[2017-11-29 10:42] cpannwitz commented on #3064
Seems to be related with Contentful itself.
Creating a new workspace without any content doesn't throw.

My Contentful content type structure:
![https://preview.ibb.co/mTg4kG/Bildschirmfoto_2017_11_29_um_11_39_05.png](https://preview.ibb.co/mTg4kG/Bildschirmfoto_2017_11_29_um_11_39_05.png)

None of these fields are empty, no other Locale is enabled than the default (German).

[2017-11-29 10:59] ziyafenn opened #3066 "Google Analytics plugin breaks the typography.js"
I use typography.js and installing Google Analytics Plugin just breaks it so all my stylings are gone.

[2017-11-29 11:07] ziyafenn commented on #3066
My mistake! Solved.

[2017-11-29 11:07] #3066 closed

[2017-11-29 11:54] piotrf opened #3067 "Issues with domready—animation flickering on page load."
I’m having a hard time getting around an issue that I think has to do with `domready`. Each time I load my site (https://piotrf.pl) the plain keyframe CSS animations are being triggered twice, which causes an awkward flickering: https://s3-us-west-2.amazonaws.com/dropbox.piotrf.pl/Untitled.mov

Note how this flickering occurs only on server, not on hotloaded localhost. Here’s why I think `domready

[2017-11-29 13:31] pinaudnico commented on #3065
Ok I've found it :
allImageSharp (sort: {fields: [id]})
Enjoy...

[2017-11-29 13:31] #3065 closed

[2017-11-29 13:38] fk commented on #1500
@SachaG Yes, I had the monogram in there (in the background) at the beginning, but it has been a while since then – and I cannot remember why I chose to remove it. Will give that another shot tonight. Also will add a version with the current palette.

@jquense Thank you! 🤗

[2017-11-29 14:10] ivorpad opened #3068 "Dynamically fetch data from a blog with GraphQL"
Since GraphQL queries are run at build time, how do I dynamically load data from a blog? I'm using [gatsby-source-wordpress](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress).

Everytime I create a new post I have to stop the server and start it again.

Thanks.

[2017-11-29 14:19] migs540 commented on #3067
Yes I've been looking into this for the past two days. I have the same symptoms - keyframes get triggered twice on initial load. What I have noticed so far is:

- I'm now using a poor workaround at futurebrilliant.team : I have disabled keyframes on the initial (index.js) page. I have keyframe animations on linked pages (sub-pages). With this workaround if a user lands on index then they don't see

[2017-11-29 14:24] migs540 commented on #3067
@piotrf your animation keyframe runs twice when google analytics runs:

Request URL:https://www.google-analytics.com/r/collect?v=1&_v=j66&a=1842669742&t=pageview&_s=1&dl=https%3A%2F%2Fpiotrf.pl%2F&dr=https%3A%2F%2Fgithub.com%2Fgatsbyjs%2Fgatsby%2Fissues%2F3067&dp=%2F&ul=en-gb&de=UTF-8&dt=Piotr%20F.%20%E2%80%94%20Product%20designer%20%26%20front-end%20developer%E2%80%94An%20overall%20full-stack%20U

[2017-11-29 14:24] piotrf commented on #3067
@migs540 I can confirm that your sample seems to be the very same issue I’m having. Happen only on the first page load. Once the site’s been cached, it’s ok.

[2017-11-29 14:25] piotrf commented on #3067
@migs540 I thought it was Google Analytics, then I disabled it but the issue persisted. I now have re-enabled it.

[2017-11-29 14:32] nickmccurdy opened #3069 "Gatsby depends on gatsby-link implicitly"
I'm new to Gatsby and experimenting with migrating a single page site to it. Because I only need a single page I have no need for `gatsby-link`. However, after removing the package (which was included by the default `gatsby new` starter) I get the following error:

[code]

It's clear to me that Gatsby's internal development 404 page relies on `gatsby-link` so I should keep it in my own `package.js

[2017-11-29 14:33] migs540 commented on #3067
@piotrf Yes. It was behaving strangely for me which is why I ran up a version of  https://github.com/gatsbyjs/gatsby/tree/master/examples/using-gatsby-image  at trustingcustomers.com

Keyframes are CSS. So CSS is being run twice? Or part of the DOM is updating triggering CSS again? Not sure how CSS works at the dom / virtual dom level.

[2017-11-29 16:04] kripod commented on #1769
I just started a new Gatsby project and observed that the wrong behavior starts when I add an `imageSharp` object to a GraphQL query. I think that the bug might be related to `gatsby-plugin-sharp`.

[2017-11-29 16:06] kripod commented on #2819
I just started a new Gatsby project and observed that the wrong behavior starts when I add an `imageSharp` object to a GraphQL query. I think that the bug might be related to `gatsby-plugin-sharp`.

[2017-11-29 16:20] KyleAMathews commented on #463
@kripod we're working on that already (gatsby-plugin-react-helmet & gatsby-plugin-styled-components have been upgraded) and #1990 is a much more focused issue for this effort. Sorry for not explaining :-)

[2017-11-29 16:21] KyleAMathews commented on #3064
This sounds like a genuine bug — would you like to put together a PR for this?

[2017-11-29 16:23] kripod commented on #463
@KyleAMathews Fantastic! I'm amused by your quick and accurate responses, keep up the great work!

[2017-11-29 16:32] KyleAMathews commented on #3069
Agreed — it should have always been part of `gatsby`. As part of v2 we'll be combining the two.

[2017-11-29 16:32] #3069 closed

[2017-11-29 16:34] nickmccurdy commented on #3069
Awesome, thanks! Do you think it would make sense to add it as a `peerDependency` (or at least document that `gatsby-link` should be installed) in a release before 2?

[2017-11-29 16:35] KyleAMathews commented on #3069
Also you really need to use Gatsby's special Link component as it has some of the logic needed to make Gatsby work e.g. waiting for code splits to load.

[2017-11-29 16:35] KyleAMathews commented on #3069
Yeah, a PR documenting this somewhere would be great!

[2017-11-29 16:42] iamkevingreen commented on #3061
I got this operational by getting yarn build to work locally, I had to add the url-loader and json-loader and now it works in netlify as well.

[2017-11-29 16:42] #3061 closed

[2017-11-29 16:44] cpannwitz commented on #3064
I can try to find out, whats the problem, but I'm not sure if I know enough about this specific plugin or gatsby's way of handling data. So, can't promise anything 🤷‍♂️

[2017-11-29 16:46] KyleAMathews commented on #3067
Well this is bad… it sounds like Gatsby is rendering twice perhaps? What happens if you add a console.log to the render function?

Could one of you create a small reproduction site I could look at? E.g. your using-gatsby-image fork @migs540

[2017-11-29 16:52] KyleAMathews commented on #3064
Ok :-)

Start by adding console.logs around where the error is happening in the plugin — that's what I do to understand what type of data is triggering the error and how to handle it.

[2017-11-29 16:56] KyleAMathews commented on #3050
Seems reasonable! Would you like to add support for this to https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/component-page-creator/validate-path.js?

[2017-11-29 16:56] KyleAMathews commented on #2957
It does!

[2017-11-29 16:56] #2957 closed

[2017-11-29 16:59] ChrisSki opened #3071 "[gatsby-source-contentful] Markdown editor link formatting issue"
Gatsby: 1.8.11
Node: 8.9.1
OS: MacOS High Sierra

This is a strange bug and the errors in my terminal were not helpful at all. I finally found the issue to be the way links are used within Contentful's markdown editor. I received the error if links are formatted as normal Markdown links.

`[This is a link](https://example.com)`

But I did not get the error if links are reference style

`[This is a

[2017-11-29 17:06] KyleAMathews commented on #3071
Could you try adding a PR fixing this? It should be straightforward to add a test that reproduces the issue here: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-copy-linked-files/src/__tests__/index.js

[2017-11-29 17:13] alvinsight opened #3072 "Parse all the metadata in the front matter"
Hi Gatsby Team,
Thank you for your great work on the project, loving it so far!

I was wondering if it would be possible to parse all the data in the front matter as opposed to only the few that are pre-supported, like `title`, `date`, etc.
Ideally a front matter like this:
[code]
Would give us a node with an `xyz` property too, the readme of the transformer currently says:

which doesn't seem to

[2017-11-29 17:16] benjaminhoffman commented on #3045
I believe they can export a string too and still be valid.

[2017-11-29 17:21] KyleAMathews commented on #3072
It does parse everything in the frontmatter! You can see here we add all data from the markdown file including all the frontmatter https://github.com/gatsbyjs/gatsby/blob/fcd3f379f8a200f61e3d7b17d48c3262b9fccd94/packages/gatsby-transformer-remark/src/on-node-create.js#L53

There must be something else wrong e.g. new fields aren't added to the GraphQL schema unless you restart `gatsby develop`.

[2017-11-29 17:21] #3072 closed

[2017-11-29 17:31] dardub commented on #3003
@KyleAMathews I mean, what is the process like to verify a community plugin does not break with new gatsby releases?

[2017-11-29 17:38] KyleAMathews commented on #3003
Ultimately the responsibility is on the plugin maintainer.

One thing we can do to help out is once I finish the new example site testing tools is that community plugin maintainers can add example sites for their plugins so that the plugin will be tested on every PR to core.

[2017-11-29 17:42] ChrisSki commented on #3071
Yup. I'll give it a go!

[2017-11-29 18:10] dardub commented on #3003
Ya, I think it would be nice if we could show the last gatsby version the plugin passes for. Just thinking about wordpress ecosystem and how frustrating it can be downloading plugins that don't work anymore.

[2017-11-29 18:25] KyleAMathews commented on #3003
Yeah totally — perhaps what we could do is highlight plugins which have an example site and say something to the effect that "this plugin is tested against the latest Gatsby" or whatever. I agree that anything we can do to vet plugins will make the ecosystem much more robust and ease a lot of friction around trying/using plugins.

[2017-11-29 18:29] shannonbux commented on #3003
Like these ideas. I'm creating a clickable prototype by the end of today. @KyleAMathews, I read the previous issue about starters. Do ya'll think it makes sense to search for starters sort of within the same library?
Also, I am looking at a couple other examples of plugin websites that are cool. [Microsoft's Visual Code Studio extension library](https://marketplace.visualstudio.com/VSCode) and Ske

[2017-11-29 18:34] dardub commented on #3003
I like the basic approach of Visual Studio site since it highlights featured and popular plugins but still put's the search at the forefront compared to Sketch where I don't even see a search available.

[2017-11-29 18:40] Redmega commented on #3003
@dardub Sketch needs you to click on "See all" to get the search. Definitely not optimal.

[2017-11-29 18:57] KyleAMathews commented on #3003
@shannonbux we can't rely on icons as almost no plugins will have icons. I do like the emphasis on search (though search should start as soon as the user starts typing).

We do want a faceted search however so it's easy to filter/browse by narrowing down scope.

Including starters does make a lot of sense now that you mention it. We're basically creating a marketplace so why not put all addons to

[2017-11-29 19:15] shannonbux commented on #3003
Great ideas. Also, can you all help me out with some use cases for mobile? I assume most developers aren't trying to install plugins via mobile devices, so what do we need mobile for? Just browsing, sharing URLs w/ people, following updates?

[2017-11-29 21:08] DarrylD commented on #2427
I'm getting the same error out of nowhere. Any idea what It would be?

[2017-11-29 21:41] shannonbux commented on #3003
Ok everyone. Here's a very basic prototype. The tasks you should try to accomplish here are 1) Try to see more details on the "gatsby-image" plugin. 2) Need lots of feedback! https://marvelapp.com/766i07a

[2017-11-29 21:42] ChrisSki commented on #3071
So digging deeper, I'm noticing that this is specifically related to images. In this line of code, `.dir` is undefined.

`var imagePath = path.posix.join(getNode(markdownNode.parent).dir, image.url);`

I'm not sure where that's being assigned.

[2017-11-29 21:49] Redmega commented on #3003
In the "Stuff about the plugin" section, can't we just show the plugins' README.md? Would require less work as it would be up to the plugin authors to keep it up to date.

[2017-11-29 21:54] shannonbux commented on #3003
@Redmega yeah, totally agree, great idea!

[2017-11-29 21:57] ivorpad commented on #3068
Closing per https://github.com/gatsbyjs/gatsby/pull/3054

[2017-11-29 21:57] #3068 closed

[2017-11-29 22:01] bjrn commented on #3068
Hi @ivorpad, there's a related discussion here: https://github.com/gatsbyjs/gatsby/issues/2847 and a pull request for adding an endpoint for refreshing external data: https://github.com/gatsbyjs/gatsby/pull/3054 - might solve your use case too?

[2017-11-29 22:09] ivorpad commented on #3068
Hi @bjrn,

Thanks and yes, I closed the issue a few minutes ago.

[2017-11-29 22:15] dardub commented on #3003
I think the placement of the "Submit a Plugin" button could lead to some confusion since it's in the section with the faceted navigation. If someone didn't read it too carefully they might assume it's to submit the filters. Just a minor annoyance I know, but still a potential annoyance. It could simply be placed in the welcome screen area.

[2017-11-29 22:21] dardub commented on #3003
Sorry... also if we are lumping results of plugins and starters together, there should be something to quickly distinguish it in the results.

I think to get back to the initial page, rather than clicking "Gatsby Library", it might make sense to have a clear all button somewhere (possibly where submit a plugin button currently is).

[2017-11-29 22:42] pieh commented on #2988
Didn't seem like we would get something we could reproduce this problem, so i just followed my code changes and documentation and only way i see is if subnode is array with first element that is object and any element of array that is not object (null included)

this is something we can reproduce problem with:
[code]
will make pull request with fix shortly

[2017-11-29 23:31] fazouane-marouane commented on #312
@KyleAMathews That's great then! I'll try to do the remaining steps in the next few days. Hopefully this will get us a step closer to a practical solution.

[2017-11-29 23:45] migs540 commented on #3067
@KyleAMathews I created a new repository (because I couldn't work out how to fork just a subsection of gatsbyjs):   [https://github.com/migs540/debug-animations-using-gatsby-image](https://github.com/migs540/debug-animations-using-gatsby-image)

That is what is running at [http://trustingcustomers.com/](http://trustingcustomers.com/)

It comes from the original ( https://github.com/gatsbyjs/gatsby

[2017-11-29 23:48] fk commented on #1500
![1](https://user-images.githubusercontent.com/21834/33405213-cd5730de-d567-11e7-90c7-f0e78387917e.jpg)
![2](https://user-images.githubusercontent.com/21834/33405214-cd7e0d44-d567-11e7-8439-c15ef2d15b9f.jpg)
![image](https://user-images.githubusercontent.com/21834/33405338-2bb688b4-d568-11e7-8443-91c7480a33c0.png)

[2017-11-30 02:33] KyleAMathews commented on #3071
Ohhhh right — yeah, you shouldn't use `gatsby-remark-copy-linked-files` with anything other than gatsby-source-filesystem as that's what it assumes. It should fail more gracefully though so wrapping that code you found with an `if (getNode(markdownNode.parent))` might fix things. Or you could just remove the plugin.

[2017-11-30 02:39] ChrisSki commented on #3071
You're right. That solved the issue. I removed it via `yarn` and from my `gatsby-config.js`

Thanks for sorting this out :)

[2017-11-30 02:39] #3071 closed

[2017-11-30 02:39] KyleAMathews commented on #3071
Another successful Gatsby issue :-D

[2017-11-30 02:42] ChrisSki commented on #3071
As an FYI. This is an issue with a direct clone from [https://github.com/Vagr9K/gatsby-advanced-starter](https://github.com/Vagr9K/gatsby-advanced-starter). I'll reach out to him and suggest he removes it as well.

[2017-11-30 02:44] #3050 closed

[2017-11-30 03:14] ChrisSki commented on #3071
@KyleAMathews do you think this plugin removal should be included in the `gatsby-source-contenful` docs?

[2017-11-30 03:16] KyleAMathews commented on #3067
Awesome! I should have time in the morning to investigate (if you don't solve it of course while I sleep :-))

[2017-11-30 03:21] KyleAMathews commented on #3071
yeah, that makes sense — warn that some gatsby-remark-* plugins don't work unless you have a filesystem. This one and gatsby-remark-images I believe.

Though we should really fix this one so it doesn't blow up on other markdown sources. There are times you might want to have local markdown along with markdown from Contentful (or some other non-filesystem source)

[2017-11-30 03:27] ChrisSki commented on #3071
That's probably true. I just don't know my way around gatsby enough to fine tune this :(

For example, you stated above that we should check if `getNode(markdownNode.parent)` exists, which it does in my case at line `149`, but `getNode(markdownNode.parent).dir` doesn't. And I don't really know why without digging through all the source code.

[2017-11-30 03:30] KyleAMathews commented on #3071
We need to do something like we do here: https://github.com/gatsbyjs/gatsby/blob/4bc96cf82cee87f8e2d90a08a3db99ad96783ffd/packages/gatsby-remark-images/src/index.js#L39

[2017-11-30 03:31] ChrisSki commented on #3071
Ok. I'll work on this and submit a PR.

[2017-11-30 04:09] SachaG commented on #1500
I don't think this works, you can't really make out the monogram… I don't want to seem like I'm arguing for it just because it's my design, so maybe it's ok if the shirts don't feature it :)

[2017-11-30 04:17] Charon77 opened #3081 "[gatsby-transformer-yaml] README.md differs from reality"
This issue refers to [gatsby-transformer-yaml README.md](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-yaml/README.md).
I'm using gatsby-transformer-yaml 1.5.12.

__Summary:__
I believe README.md is not accurate or does not represent the current version thus needs to be updated.

__Highlights:__
- allLettersYaml instead of allLetters
- `type` is inside `internal` and d

[2017-11-30 04:28] resir014 commented on #2819
@kripod Oddly enough, the problem exists for me even without `gatsby-plugin-sharp`.

[2017-11-30 04:31] migs540 commented on #3067
@KyleAMathews we all win when you are awake.

In short: animations are executed twice. Once in index.html then a second time in  component*index*.js:

I added console logging and can see the render is triggered just once in js (in component---src-pages-index-js-2d6cb1471a0df592f43f.js):

...E=(0,T.keyframes)(f),x=t.AboutContents=k.default.div(d,E),A=function(t){function n(){return(0,o.default)(thi

[2017-11-30 06:12] haysclark opened #3082 "[gatsby-remark-copy-linked-files] does not move images path in frontmatter."
I'm trying to put an image path into the frontmatter data in my Markdown post. If the image is included in frontmatter the posts with have a jumbotron image under the title.

[Project example of original issue](https://github.com/haysclark/gatsby-starter-blog/tree/dd56751f8eb7f55bf7f856bbb1bf67aa583d1b31)

In this demo, I include a relative URL in the blog post's frontmatter object, which is corre

[2017-11-30 08:56] monsieurnebo commented on #2599
Seems fixed by https://github.com/styled-components/styled-components/releases/tag/v2.2.4

[2017-11-30 10:07] ziyafenn opened #3083 "How to add <script> inside the body?"
Hi guys! Sometimes i need to add some js scripts inside `<body>` but i have totally no idea how i could do that! Adding it to head it's easy with Helmet, but what about body?

Thanks!

[2017-11-30 10:13] benedfit commented on #1979
I'm also experiencing the same issues, on the same browsers/devices for https://beta.destinyclanwarfare.com/

[2017-11-30 11:30] pbellon commented on #312
Hi @fazouane-marouane & @KyleAMathews, I've followed your discussion since I needed to do the exact same thing this issue is for and implemented a "simple" version of the various parts you described here on [this app](https://github.com/Skoli-Code/skoli-app-template) I'm working on.

The interesting parts are the ones using @fazouane-marouane code in the form of a gatsby plugin [here](https://gith

[2017-11-30 11:46] fazouane-marouane commented on #312
@pbellon Thanks for joining in! This will save everyone a lot of time. The code seems to be doing what's needed for the rest of the steps. I'll try it later this evening.

[2017-11-30 11:54] chiedo commented on #1500
I could see there being two different types of shirts. One with the monogram. One with the butler guy

[2017-11-30 12:16] craig-doyle-uk opened #3084 "WP Plugin access ACF Flexible Content data"
I am using the Wordpress plugin and having trouble working out how to use the results of one query to create another dynamic query which effectively loops over the returned array.

As I am using ACF Flexible Content in wordpress, I'm unable to know the structure of the data prior to making the first query. The first query (children) returns an array of the __typenames and IDs of the flexible layou

[2017-11-30 12:21] pbellon commented on #312
One thing that I need to debug is the way to handling components' children.
Right now if I set write in markdown `This is a test <MyComponent>let's see how children are handled</MyComponent>` the `MyComponent`'s `children` property will be set to `[0, null]`.

[2017-11-30 12:49] pieh commented on #3084
try this:
[code]
and add rest of your types like this (you can do same thing when accessing via `acf` field)

those are called [inline fragments](http://graphql.org/learn/queries/#inline-fragments)

[2017-11-30 12:52] fazouane-marouane commented on #312
@pbellon it comes from the parser. It's a minimalist parser to prototype this whole react in markdown thing. It will definitely need some fixes to be usable in all cases. Feel free to submit an [issue](https://github.com/fazouane-marouane/remark-jsx/issues) if come across more examples. It will help make a good test base anyway.

[2017-11-30 13:00] craig-doyle-uk commented on #3084
@pieh Thanks SO MUCH! I have been trying to find a solution to this since yesterday lunchtime! I knew there must be an elegant way of doing it but wasn't sure exactly what question I needed to ask in order to find the answer.

[2017-11-30 13:00] #3084 closed

[2017-11-30 13:18] markmichon commented on #3083
Have a look at the [docs for customizing html.js](https://www.gatsbyjs.org/docs/custom-html/). It should do what you're asking.

[2017-11-30 13:24] pbellon commented on #312
@fazouane-marouane I see, it doesn't seem a trivial modification 😮
I've created an issue on your repo [here](https://github.com/fazouane-marouane/remark-jsx/issues/1)

[2017-11-30 13:29] ziyafenn commented on #3083
@markmichon thanks!
So do i have to just add this
[code]
and replace _this.props.body_ with `<script>myCode</script>` ?

[2017-11-30 13:32] markmichon commented on #3083
Take a look at the file, as mentioned in the doc link. Looks something like this:
[code]
Insert script where you'd normally insert it the html structure. I suspect right before the body closes is what you're looking for.

[2017-11-30 13:35] ziyafenn commented on #3083
Thanks a lot!!!

[2017-11-30 13:35] #3083 closed

[2017-11-30 14:52] ataylorme opened #3085 "Question: What is the best way to separate pages and posts by directory?"
Howdy,
I'm building a personal site and would like to have two types of content, pages (about, contact, etc.) and blog posts.

I'd like to query these separately to easily get things like the latest blog posts for display on the home page. Additionally I'd like for items in`src/pages` to be pages and `src/posts` to be posts.

I've read through some other issues and am currently doing this by runni

[2017-11-30 16:14] ziyafenn opened #3086 "PDF is not opening on published site"
Hi guys! So i imported few JPG's and one pdf file into my .js file.
On local server during `develop` and `serve` everything works great. Once i push my website to surge, all images showing up except link (a href) to my PDF. It's just can't find it.

Any ideas?

Thanks!

[2017-11-30 16:20] kripod commented on #2995
@KyleAMathews How can I transform a `String` node into an `ImageSharp` node? I just set up gatsby-source-filesystem to read files from the static folder, but need to access those images' nodes by a public path.

[2017-11-30 16:23] ataylorme commented on #3085
I'm wondering if something like this will work:
[code]

then I can have `src/content/pages` and `src/content/posts` being able to query them separately.

[2017-11-30 16:50] KyleAMathews commented on #2599
Great! Closing this now.

[2017-11-30 16:50] #2599 closed

[2017-11-30 16:51] lrn2prgrm opened #3087 "'gatsby develop' overrides the main html file"
Hi I know that we can use helmet to handle the header but I really need to customize the main html file.

When the css file is directly set on the header I can pre render some loading state, if i use helmet it takes longer to load.

I just want to know if you could remove this override or at least make it configurable in some way.

[2017-11-30 16:54] kripod commented on #2995
Basically, I have a string property called `thumbnail` in some of my markdown files' `frontmatter`, and I want to transform them into `ImageSharp` nodes:

E.g. from `/assets/uploads/conference.jpg` into an `ImageSharp` node with the following absolute path: `C:/Development/Projects/mvk-web/static/assets/uploads/conference.jpg` (where `C:/Development/Projects/mvk-web` is my Gatsby project root)

[2017-11-30 17:00] monsieurnebo commented on #461
Hello !

Any news about the Webpack v2 progress? :)

[2017-11-30 17:10] KyleAMathews commented on #3085
Yeah, generally people use regex/glob to filter by path e.g. https://github.com/gatsbyjs/gatsby/blob/4bc96cf82cee87f8e2d90a08a3db99ad96783ffd/www/src/pages/blog/index.js#L104

[2017-11-30 17:10] #3085 closed

[2017-11-30 17:11] KyleAMathews commented on #3087
Use gatsby-plugin-react-helmet as it inserts then data from react-helmet is inserted in the html head at build time.

[2017-11-30 17:11] #3087 closed

[2017-11-30 17:12] KyleAMathews commented on #2995
Use `onCreateNode` to create a link to the File node — can give you a code sample if that's not enough a hint.

[2017-11-30 17:18] kripod commented on #2995
It would be great if you could provide me a code sample. Thank you in advance!

[2017-11-30 17:27] KyleAMathews commented on #2995
[code]

[2017-11-30 17:50] beardedfinch opened #3088 "HTML5 Download Link"
I'm trying to do something fairly simple - offer a file for download, but am finding much difficulty in the process. I'm specifically wanting to offer a yaml and a pdf for download. Should this be done using the static folder? Thank you for the assistance!

Specifically looking to do something like:
`<a href="/src/pages/category/_fields.yaml" download="fields.yaml">Download</a>`

[2017-11-30 17:52] benforshey commented on #3063
## What I Think I Know
Hi, @ivorpad. I'm going to make the assumption that you're not hosting on WPCOM, and that you don't have the [Basic Auth Handler](https://github.com/WP-API/Basic-Auth) plugin installed on your WP instance. Once you install that and fill in your `htaccess_user` and `htaccess_pass`, you should be able to query the `wordpress__acf_options` and `wordpress__wp_me` source and tran

[2017-11-30 18:05] ataylorme commented on #3085
Great, thanks for confirming!

[2017-11-30 18:21] markmichon commented on #3082
As far as I know the plugin only moves files in the markdown content itself. The frontmatter isn't part of the markdown AST, so it never sees anything in there.

[2017-11-30 18:22] KyleAMathews commented on #3082
Yup — frontmatter is supposed to be yaml so markdown won't be parsed there and images won't be moved either.

You need to write a GraphQL query to access the files you link to from the frontmatter.

[2017-11-30 18:32] ziyafenn commented on #3086
UPD.

I tried to add PDF into /static folder as well, as it described [here](https://www.gatsbyjs.org/docs/adding-images-fonts-files/), same problem.

[2017-11-30 18:55] shoemakerdr commented on #3086
Could you post the component code for the link tag to give a better idea of what happened?

[2017-11-30 19:13] ataylorme opened #3089 "data not showing up from GraphQL query"
I'm attempting to use `gatsby-image` to pull in a single hero image inside of a component. My graphql query is following the instructions from the [`gatsby-image` README](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image) with the `$hero` variable coming from frontmatter via `context` in `createPage`.

[code]

The issue is that `data` is undefined. Not sure what I'm doing wrong

[2017-11-30 19:16] ataylorme commented on #3089
I tried hard-coding a known good query in my component as well (see below) but `data` is still undefined.

[code]

[2017-11-30 20:41] benforshey commented on #3088
Your `/src/pages/category` folder won't exist in your production site (after you run `gatsby build`), so you can use the static folder like you suggested. If you placed the file in `/static/documents/`, your `href` would be `/documents/_fields.yaml`.

Let me know how it works out for you! :-)

[2017-11-30 20:41] haysclark commented on #3082
@markmichon Thanks for clarifying! I did a Google search of `Markdown AST` and that REALLY helped me understand what was going on inside this plug-in. [Link](https://github.com/textlint/textlint/tree/master/packages/markdown-to-ast)

[2017-11-30 20:42] KyleAMathews commented on #3067
Thanks for all your research + reproduction @migs540. Only had a brief moment to look at it so far but this is definitely a hydration issue — if you disable JavaScript then it only animates once. So now to see if the hydration problem is generic and needs fixed in core or if it's triggered by certain behaviors in sites.

[2017-11-30 20:45] beardedfinch commented on #3088
Thanks, @benforshey, that makes a lot of sense. I had tried using the static folder, but I'm discovering the problem is deeper - the contents of my `static` and `img` folders aren't actually getting copied into `/public` when running dev or building. I'm assuming something is wonky in my gatsby configuration causing this issue.

[2017-11-30 21:00] benforshey commented on #3088
Sure thing, @beardedfinch. If you feel like opening up a public repo, I'd be happy to take a look at your code.

You probably already know this, but Gatsby generally recommends keeping things within the module system—importing your images if at all possible instead of dropping them into a static image folder. You can read more about why in [Adding Images, Fonts, and Files](https://www.gatsbyjs.org

[2017-11-30 21:46] beardedfinch commented on #3088
Thanks again, @benforshey. This is likely the result of growing pains from updating gatsby from `0.10` to `1.9`.

The site is open source, so feel free to take a look and let me know if you see where something went wrong: [repo](https://github.com/FDA/open.fda.gov/tree/fda-114_website_redesign).

[2017-11-30 21:50] rdela commented on #3003
@shannonbux Once I figured out what you meant, 1, 2, 3 all very easy. Unchecked filter then clicked Gatsby Library to return for 3.

https://npms.io/search?q=gatsby-plugin
Is interesting, especially how `unstable` label shows on hover, for example:

Compare to https://yarnpkg.com/en/packages?q=gatsby-plugin&p=10 for example, with no semver warning.

Nice, subtle touch and maybe something we could

[2017-11-30 21:58] beardedfinch commented on #3088
@benforshey importing seems to be working well, so I'll move forward with that and convert the other site resources to do the same. Thank you again for the assistance.

[2017-11-30 21:58] #3088 closed

[2017-11-30 22:10] benforshey commented on #3088
Neat project! Glad that importing is working well for you. You might have some trouble turning an imported `*.yaml` file into an downloadable asset (just a guess, not proven).

From the repo, I noticed that your `static` folder is not at the project root. It has to live at root level for Gatsby:  `/static/*` will end up at `/public/*`. For instance, if you were to drop your favicon.ico in `/static

[2017-11-30 22:48] haysclark commented on #3082
@KyleAMathews Thanks for your help today!

Here is my solution, in case it helps others, and my conversation with Kyle from [Discord](https://discord.gg/0ZcbPKXt5bVoxkfV).

After looking at the _gatsby-image_ I saw that my `fontmatter.image` object had a `childImageSharp` property which I could use with the image library.

### Steps:
- add _gatsby-image_ to my project
- import the library into my

[2017-11-30 22:55] #3082 closed

[2017-11-30 23:52] kripod commented on #2995
Thank you for your kind assistance! Although the `createNodeField` method didn't work as expected, I ended up with the following code, based on yours:

[code]

It would be great if there was a more in-depth documentation about linking nodes (or even their properties) together.

[2017-11-30 23:52] #2995 closed

[2017-12-01 02:13] ivorpad commented on #3063
Thanks @benforshey, I will definitely try this.

[2017-12-01 02:16] shannonbux commented on #3003
@dardub yeah, good point. I will think of a way to reset the filters to the initial state, and also a way to delete search terms easily (like an x that appears in the search bar to delete the entire search bar contents).

[2017-12-01 02:24] shannonbux commented on #3003
@rdela Thanks for those examples. Definitely seems like the hover thing on npms can open up a lot of white space and make the design look simpler by hiding details and making them available via hovering. Also, thanks for the suggestion of the `unstable` label and interesting to see how the npms library calculates all its scores: (https://npms.io/about). It seems pretty complex actually--would this

[2017-12-01 03:56] DamnedScholar commented on #3081
I'm having all of the same problems, except that I can't even get `value` out of my YAML nodes (image below). The readme definitely needs to be updated to the correct information. I used `npm install gatsby-transformer-yaml` yesterday, so I know for sure that I have `1.5.12`.

![image](https://user-images.githubusercontent.com/4084322/33467261-d7b4a3de-d618-11e7-848f-ac55d363b70a.png)

[2017-12-01 03:58] KyleAMathews commented on #3081
@DamnedScholar does your yaml file have a field named "value"?

@Charon77 you're right! Would you like to PR a fix?

[2017-12-01 04:01] DamnedScholar commented on #3081
@KyleAMathews Ah-ha! I see now. That was my fault, of course, but I was having trouble finding `allMenuYaml` in the first place (just like OP did, for the same reasons), so I guess it seemed like it must be attached to the same thing. Thanks for the reality check.

[2017-12-01 05:54] Haroenv commented on #3003
The NSP data is almost in the index, I never got time to finish that PR though, if someone of you wants to add that, feel free to get in touch, all data should be in that issue

[2017-12-01 10:20] monsieurnebo commented on #461
Hello !

Any news about the Webpack update progress? I'm stuck with some dependencies that need Webpack v2+ :(

[2017-12-01 14:55] Charon77 commented on #3081
@KyleAMathews Sure thing!
I'll probably rewrite some parts of the readme as well. I'll be working on this for the next couple of days.
@DamnedScholar
I had that problem because one of these:
1. I forgot to add `gatsby-source-filesystem`
2. Forgot pointing `gatsby-source-filesystem` to the right folder / file
3. Have no yaml file

among other things.

[2017-12-01 16:43] beardedfinch commented on #3088
Thanks for the tip on the static folder, @benforshey, that's a big help. You're right about the yaml file - it just gets read in as an object - I'll find a workaround for that or just download a different file type.

[2017-12-01 19:40] francas commented on #1913
Is this fixed or won't be fixed?

[2017-12-01 19:52] Connorelsea commented on #2327
On version 1.9.101 of Gatsby.

Removing line 6 makes the error go away.

![image](https://user-images.githubusercontent.com/1844458/33500579-e6c147fc-d69e-11e7-8e98-b945eeeb1872.png)

[2017-12-01 20:22] arsmth opened #3091 "Problem building blog on Netlify"
My site builds and works fine locally but Netlify build from repo fails. Am I doing something wrong?

`7:06:32 PM: success Building CSS — 7.214 s
7:06:49 PM: success Building production JavaScript bundles — 17.286 s
7:06:54 PM:
7:06:54 PM: error Building static HTML for pages failed

See our docs page on debugging HTML builds for help https://goo.gl/yL9lND
7:06:54 PM:
  89 |
  90 | export default

[2017-12-01 20:40] HaoZeke commented on #3086
Not relevant, also surge.sh does not support .pdf files as described [here](https://github.com/sintaxi/surge/issues/257)

[2017-12-01 20:43] HaoZeke opened #3092 "Change the markdown renderer."
Is it possible to get pandoc markdown compilation through [simple-pandoc](https://www.npmjs.com/package/simple-pandoc)?

[2017-12-01 20:44] KyleAMathews commented on #3091
Try building your site on a Linux vm. Problems often crop up when you move to linux from Windows or Mac.

[2017-12-01 20:48] KyleAMathews commented on #3092
Absolutely. You'd need to build a transformer plugin like gatsby-transformer-remark. They're fairly straightforward to build. Happy to give tips if needed and there's some docs on the process plus plenty of similar plugins to look at.

[2017-12-01 20:50] KyleAMathews commented on #1913
It's fixed

[2017-12-01 20:54] KyleAMathews commented on #461
Still a bit off. @jquense has done a lot of the work but there's some other things I want to do for v2 that we're blocked on. I can't get to working on the upgrade for another couple weeks probably. My plan/hope is to have the release done by Christmas.

[2017-12-01 22:29] ziyafenn commented on #3086
Thanks

[2017-12-01 22:29] #3086 closed

[2017-12-01 22:42] ryami333 opened #3093 "[gatsby-plugin-postcss-sass] Fails build on fresh cache"
When I build with an empty/deleted `.cache` folder, I get the following error:

[code]

I am using `gatsby-plugin-postcss-sass` in combination with `gatsby-source-prismic` and on the surface it would appear that the issue lies with the latter (which is why I have contributed to an [issue](https://github.com/angeloashmore/gatsby-source-prismic/issues/14) on that Github repo), but if I swap `gatsby-

[2017-12-01 23:59] healingfromjava opened #3094 "Upgrade from gatsby@1.9.123 to gatsby@1.9.127 seemingly breaks JSON parsing when there's a significant amount of JSON"
**Preamble**

Gatsby version: 1.9.127
node.js version: v8.9.1
OS version: Linux version 4.13.16-35.current (Solus OS)

gatsby-config.js
[code]

package.json:

[code]

**The issue**

In development mode, some pages with long JSON strings as variables throw this error before successfully recompiling (after which the pages can be successfully rendered in-browser):

[code]

When trying to create the p

[2017-12-02 01:52] Charon77 commented on #2032
Hi.
I was stumbled upon this question as well and believe I have found the answer inside the source code
(Man, this project really needs more docs 😸 )

[Here](https://github.com/gatsbyjs/gatsby/blob/e9bb320ef7ac5d36e1a6ff9898c0a2fbc2c58c17/packages/gatsby/src/joi-schemas/joi.js) it is.

[2017-12-02 01:57] Charon77 opened #3095 "[gatsby-config.js] Documentation needed"
Following #2032, We need to have docs for `gatsby-config.js`.

It seems Joi is used for validating the schema and the spec can be derived from [here][joi].

[joi]:
https://github.com/gatsbyjs/gatsby/blob/e9bb320ef7ac5d36e1a6ff9898c0a2fbc2c58c17/packages/gatsby/src/joi-schemas/joi.js

[2017-12-02 02:34] rshah03 commented on #3091
@KyleAMathews I seem to be having a similar issue with my site. I don't get any errors locally or on the production build via Netlify, but the route to my blog page just takes me back to my index path ("/") in production, while changing the URL to "www.mysite.com/blog" after clicking the link. It works fine locally. I've tested several linking methods on multiple browsers.

[2017-12-02 03:17] daniel-vu commented on #3094
Actually, maybe better practice would be to avoid having such large JSON to work with... I'll close this.

[2017-12-02 03:29] austin43 commented on #1886
This is interesting, I'm using apollo and a gatsby-browser.js file with a similar implementation, but the router isn't replaced with the wrapped component when doing a production build, only locally using `gatsby develop`

[code]

[2017-12-02 04:19] c2pig commented on #3094
i have the same error
[code]

[2017-12-02 05:07] KyleAMathews commented on #3094
And downgrading reliably fixes this?

This actually makes sense — we saw this before where some queries hadn't finished being written out before moving to next step which meant the JSON was sometimes only partially written out. It's possible this recent PR introduced a similar bug https://github.com/gatsbyjs/gatsby/pull/2969

[2017-12-02 06:13] nickmccurdy commented on #3069
I added a peer dependency in #3096

[2017-12-02 07:17] c2pig commented on #3094
Error message below does not show the root cause(deeper error stack) :-
[code]

so i have to `console.log(webpackErrors)` manually.  :-
[code]

I found that image links in markdown files transformed to base64 string and larger json files will be produced.

Once `gatsby-remarks-images` remove from `gatsby-config.js`, project built successfully.  ie:
[code]

Hope this helps.

[2017-12-02 07:52] m-allanson opened #3097 "Add search to gatsbyjs.org"
It'd be really useful to have a site search on the gatsbyjs.org site. See the [React docs](https://reactjs.org/) for an example. They're using [Algolia](https://www.algolia.com) (via [DocSearch](https://community.algolia.com/docsearch/)) to provide the search functionality.

Algolia provide [free accounts for open source project](https://www.algolia.com/for-open-source).

I'd be happy to implement

[2017-12-02 08:14] m-allanson commented on #1886
@austin43 If you're seeing errors in `gatsby build` but not `gatsby develop`, it's often because there's an issue with the code that does the server side rendering. Have you added a `gatsby-ssr.js` file alongside your `gatsby-browser.js` file?

[2017-12-02 09:56] daniel-vu commented on #3094
@KyleAMathews Yep, downgrading reliably fixes this. I've run builds both on 1.9.123 and on 1.9.127 for various sites containing a few hundred pages each. 1.9.123 builds succeed every time whereas 1.9.127 cannot be relied upon to do the same.

Example of a long line in our case:
[code]

[2017-12-02 12:51] ahstro opened #3102 "Gatsby doesn't extract graphql from TypeScript files"
I recently started using `gatsby-plugin-typescript` to convert a project to TypeScript. It's been working fine so far, but when I converted a file containing a [`graphql`-tag](https://www.gatsbyjs.org/tutorial/part-four/#wait--where-did-the-graphql-tag-come-from), I got the following errow when building:

[code]

I _assume_ this is because the `graphql`-tags are not extracted as they should be, al

[2017-12-02 14:02] nilutz commented on #2988
Sorry for responding late.
The problem was a wrongly formatted gastby-config.js:

The following object was the problem:
[code]
The 'gatsby-plugin-offline' shouldn't be part of the array...although syntactically correct if rises the Error message quoted above.

This is the version that works properly:
[code]

Sorry for any inconvenience...

[2017-12-02 15:30] ooloth opened #3103 "GraphQL queries break after git clone"
I'm encountering a strange issue.

I've built a site with Gatsby the works totally fine (`gatsby develop` and `gatsby build`) in the original local folder and builds fine on Netlify after pushing to GitLab.

For some reason, though, all my GraphQL queries break when I `git clone` a new copy of the site and run `npm install` followed by `gatsby develop` from the new local folder. Strangely, `gatsby

[2017-12-02 16:24] #219 closed

[2017-12-02 17:18] Sorgrum commented on #2975
![ambiguity](https://user-images.githubusercontent.com/3497076/33517926-a4050edc-d75a-11e7-9f25-e74f57ebea14.png)

Sorry for the crude drawing. But if you have two different pages, one with the black content, one with the green content, but both have the same top heading. If you change from one page to another without any indicator you might not realize that the page has actually changed because y

[2017-12-02 17:50] rshah03 opened #3104 "Routes to other pages not working in production only"
None of my links from my index route ("/") are working in production. They all reload the index page but the URL changes to reflect that the page has been navigated to.

I.e. if I click a button to take me to my blog page, the url will change to "www.mysite.com/blog" but the home page just reloads.

I have tried using <Button> with href, and Link via gatsby-link. Neither of which seem to make a di

[2017-12-02 18:14] KyleAMathews commented on #3104
You need to use `<Link />` from gatsby-link.

Beyond that, it's hard to tell what might be wrong. Is there console errors?

[2017-12-02 18:21] rshah03 commented on #3104
@KyleAMathews I do use that, but they still don't seem to work. No console errors. The Netlify deployment console ends with complete success, and it's the same on my local machine.

I haven't changed anything as far as the underlying code, which was working fine last time I checked (a few weeks ago). Was there a recent update pushed to gatsby? Maybe I need to update?

These are my dependencies:
[

[2017-12-02 19:03] danny-waite opened #3105 "using react components"
guys, great project, a newb question, couldn't find the answer after initial search/testing.

Can I make use of regular react components, for example, something like fullpage-react, to provide dynamic functionality rather than having the output static generated?

[2017-12-02 22:26] BrunoBernardino opened #3107 "How to build without minifying HTML"
I'm having [this problem](https://reactjs.org/docs/error-decoder.html?invariant=32&args[]=2) which is mentioned [here in the docs](https://www.gatsbyjs.org/docs/deploy-gatsby/#dont-minify-html), but there's no explanation on _how_ to do that (building without minifying the HTML).

[2017-12-02 22:29] #3014 closed

[2017-12-02 22:56] benjaminhoffman commented on #2910
When we think about the point of alt text, it's for a11y (screen readers) and SEO (tells googlebot what this is an image of).  In order of preference, it's better to have: 1) accurate, hand-typed alt text, then 2) empty string alt "", then 3) no alt text, and finally 4) incorrect alt text.

Assuming the above is true, a feature like this could cause issues b/c auto generating alt text from horribl

[2017-12-02 23:05] kripod opened #3109 "[gatsby-image] Support image loading with JavaScript disabled"
I think that by default, images' `src`, `srcSet` and other attributes should be set to the final displayable image instead of e.g. an image with a width of 20 pixels.

If JS is enabled, change to the preview image immediately until the final image is available.

[2017-12-02 23:07] kennethormandy commented on #1086
Just following up on this getting closed—I’m not sure exactly where this was fixed, but after upgrading to `gatsby@1.9.127`, I was able to remove [the quick fix I posted about](https://github.com/gatsbyjs/gatsby/issues/1086#issuecomment-324605081) from my site. Thanks @KyleAMathews!

[2017-12-02 23:37] dbrookes commented on #3107
This is a setting on your production environment not Gatsby - the docs are saying to disable HTML minification on your CDN or web server you have deployed the site to.

For example, if you use Cloudflare you should disable HTML under Speed -> Auto Minify as it'll strip out HTML comments as part of the minification and break React.

[2017-12-03 01:04] KyleAMathews commented on #3109
There's no way afaik to tell the browser to delay loading an image *unless* we don't render the img element in the HTML.

I'm not sure any image lazy loading technique works with JavaScript disabled.

[2017-12-03 01:10] fk commented on #2975
Hey @Sorgrum!

I agree there are use cases where it makes sense to always show the NProgress loading bar on every page load – no matter if the "[page is delayed in loading](https://github.com/gatsbyjs/gatsby/blob/0c84ed00b22b4c5c5d30a2fe2f1dada503d3b6b7/packages/gatsby-plugin-nprogress/src/gatsby-browser.js#L4)" as per Gatsby's definition ("[one second after clicking on a link](https://www.gatsbyj

[2017-12-03 01:15] kripod commented on #3109
I think that the `noscript` tag [could be used](https://stackoverflow.com/questions/30319/is-there-a-html-opposite-to-noscript) to display the entire image instead of using a preview.

[2017-12-03 01:19] KyleAMathews commented on #3109
Ahhhhhh!!!! Yes! Of course! Could you put together a PR adding this?

[2017-12-03 01:22] kripod commented on #3109
I’ll try my best to do so as soon as I’ll have some free time 😊

[2017-12-03 01:27] #2988 closed

[2017-12-03 02:06] rshah03 commented on #3104
I have reverted to a deploy from September 28th through the Netlify CMS. Everything works fine here. Any commits I make now will break it. Even if all I do is erase an empty line from a one file and only that one file, the links stop working.

I effectively cannot work on the site until this is resolved. Has anyone come across any potential solution?

[2017-12-03 02:12] Swizec commented on #3105
From what I can tell, the frontend is still running React so you can do whatever you want in the browser. I use it in a couple of my projects to add dynamic functionality and responding to click events and such.

You can also see that the React devtools pickup on your site being made in React. I think that proves it's all still there :)

[2017-12-03 03:37] KyleAMathews commented on #3104
This isn't normal behavior — can you try to replicate the behavior you're seeing starting with a fresh site from running `gatsby new`?

[2017-12-03 03:38] KyleAMathews commented on #3104
also try upgrading all packages to the latest.

[2017-12-03 04:04] KyleAMathews commented on #3067
The problem with your reproduction site is you have both gatsby-plugin-glamor and gatsby-plugin-styled-components added to the config. This broke the client side hydration causing a complete re-render. When I moved the styled-components stuff into a css file and removed gatsby-plugin-styled-components, things started working as expected.

[code]

[2017-12-03 04:26] Cammisuli commented on #2877
I tried to follow the advice from @resir014's post, but I kept getting `Cannot read property 'initial' of undefined`.

So, I found the proper solution for me, and maybe this could help  others in the future. In the plugin section of `gatsby-config.js`, specify the typescript target in compilerOptions to `'es5'`
[code]

[2017-12-03 04:26] daniel-vu opened #3113 "What's the current state of support for URL rewriting?"
We're trying to serve some Gatsby pages by using Nginx to rewrite the page URLs, but it seems that Gatsby depends on the page URL to reference a direct path on disk--I get the following console errors when I then try to access these sites (we're rewriting URLs such as `/hotels-ng?district=1234` to page directory paths such as `public/district_1234`):

[code]

I saw that a similar question about pa

[2017-12-03 04:49] daniel-vu commented on #3113
Actually, if I'm understanding https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes properly, it seems like I should also be able to use onCreatePage to modify a page path like 'district_1234' to look like 'hotels-ng?district', no?

[2017-12-03 05:42] KyleAMathews commented on #3113
When you're working with a static site generator — you need to create paths which correspond to file directories.

Why not just make urls like `/hotels-ng/district/1234/`?

[2017-12-03 05:44] KyleAMathews commented on #3094
Can one of you create a site which reproduces the problem and push it to GitHub? Or would you like to take a crack at figuring out how the changes in #2969 broke things for you?

[2017-12-03 06:19] wodin opened #3114 "gatsbyjs/docs broken link"
On the following page in the docs:
https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules
The `customize` link takes you here:
https://www.gatsbyjs.org/add-custom-webpack-config

Strangely if I hover over the link it looks right (i.e. it includes /docs/) but if I click on it it doesn't work.

[2017-12-03 06:33] #3114 closed

[2017-12-03 06:44] KyleAMathews commented on #3114
Huh yeah — fixed now — it's something we should also add support for to https://www.gatsbyjs.org/packages/gatsby-plugin-catch-links/

[2017-12-03 06:47] wodin opened #3116 "Broken scroll behaviour involving links with fragments"
On https://www.gatsbyjs.org/docs/deploy-gatsby/, scrolled all the way to the top, click on one of the top three links, e.g. GitLab Pages. That scrolls down the page to the right section. Now click the browser's Back button and nothing happens, except the fragment is removed from the URL in the location bar.

I can reproduce this with latest Firefox and Chrome/Chromium on macOS, Linux and Windows 1

[2017-12-03 06:49] daniel-vu commented on #3113
We could. I can see how this could call for pushing back on the URL structure. Thanks for the quick reply.

[2017-12-03 06:49] #3113 closed

[2017-12-03 06:52] daniel-vu commented on #3094
I can do the first for sure, just gotta clean up the data for public access. I'll take a crack at the second too if I get some time later.

[2017-12-03 07:32] BrunoBernardino commented on #3107
@dbrookes THANK YOU! That totally explains why I was so baffled to not finding any webpack setting to override. I completely forgot Cloudflare was doing that. Disabling it fixed the problem.

[2017-12-03 07:32] #3107 closed

[2017-12-03 08:24] calcsam commented on #3105
Yep! Anything normal React components can do, Gatsby can do using them. Just try plugging a fullpage-react sample component into one of the Gatsby starters (eg the Hello World starter: https://github.com/gatsbyjs/gatsby-starter-hello-world/blob/master/src/pages/index.js) if you want to see how i

[2017-12-03 08:27] calcsam commented on #3097
That would be great! @fk, do you think you'd be able to design this?

[2017-12-03 09:05] migs540 commented on #3067
OK @KyleAMathews - I suspected it had something to do with how i was using styled-components and can see what you've done here. However, I'd like to use styled-components with gatsby. Is it possible to do the same here and drop the glamor plugin (keeping styled-components)? I tried that a short time ago and it failed (but it was only a quick test).

Is it a case of _**either**_ glamor or styled-co

[2017-12-03 14:40] MrToph opened #3121 "Can't use `graphql` in `onCreateNode`"
Hi,
I'm trying to make a graphql query in `onCreateNode` in `gatsby-node.js`, but `graphql` is undefined.
It seems like it's not passed to this function.

[code]

It works on `exports.createPages`, so I expected it to also work here. (The [documentation](https://www.gatsbyjs.org/docs/node-apis/#onCreateNode) also doesn't give much info on what arguments are available for the `gatsby-node` function

[2017-12-03 15:10] pieh commented on #3121
It's because it this stage of build process graphql schema is not yet created. Use `getNodes` to get all created nodes and filter/process it in js

[2017-12-03 15:13] MrToph commented on #3121
Alright will do it this way then, thanks.

[2017-12-03 15:13] #3121 closed

[2017-12-03 17:25] fk commented on #3031
Hi @zionis137! There's a duplicate of this issue in #3109 (and a PR already, #3122 🎉 ).

[2017-12-03 18:19] #3031 closed

[2017-12-03 18:20] aderaaij commented on #3109
Would this be achieved by something like adding

[code]
to the index.js of gatsby-image?

[2017-12-03 19:15] Sorgrum commented on #2975
Ahh I see what you're saying @fk . I completely misinterpreted the config option.

Seeing as the docs are entirely correct in this case, maybe we implement an addition to the functionality of `gatsby-plugin-nprogress`.

If instead of

`gatsby-plugin-nprogress/src/gatsby-browser.js`
[code]

if there existed a `window.___emitter.on(`onPreLoadPageResources`, () => {` then an addition would be fairly

[2017-12-03 20:15] fk commented on #2975
👍  Equally unsure how to approach this 🙄 , but I did a quick search and found [this](https://github.com/gatsbyjs/gatsby/blob/dc4c9a4a09271c64bc7b70da502a1740f2124fb5/packages/gatsby/cache-dir/production-app.js#L76-L82). I'm sure that if @KyleAMathews finds the time he has some input for us. 🙏  😉

[2017-12-03 20:19] ataylorme commented on #3089
@KyleAMathews I was able to run my graphql query in the template defined with `component` in `createPage` when then pass the data down via props to components. Is this the right approach? Just want to be sure I'm doing things properly.

[2017-12-03 21:27] kripod commented on #3109
I have already created a pull request which solves the issue (tested on the latest version of Firefox).

[2017-12-03 21:28] angeloocana commented on #2180
Hi guys!
It was fixed but when I upgrade from gatsby@1.9.36 to gatsby@1.9.128 the error starts to happen again. =(

Should I open a new issue?

[2017-12-03 21:37] KyleAMathews commented on #2180
Yeah a new issue with a reproduction would be ideal.

On Sun, Dec 3, 2017, 1:28 PM Ângelo Ocanã Martins <notifications@github.com>
wrote:

[2017-12-03 21:37] KyleAMathews commented on #3089
Yup!

On Sun, Dec 3, 2017, 12:19 PM Andrew Taylor <notifications@github.com>
wrote:

[2017-12-03 22:00] aderaaij commented on #3109
👌 that's awesome, thanks! Does it also prevent the base64 or tracedsvg image from showing up?

[2017-12-03 22:03] kripod commented on #3109
@aderaaij With Firefox, the base64 / traced SVG image is shown until the original gets loaded.

[2017-12-03 23:56] ryami333 commented on #3093
The largest consequence of this is that I can't do builds on CI/CD platforms like Netlify.

[2017-12-04 00:56] ivorpad commented on #3116
I can't reproduce this in Chrome v62.0.3202.94. All fine.

[2017-12-04 02:07] markmichon commented on #3097
I was just looking into this the other day. AFAIK the react docs are using [DocSearch](https://community.algolia.com/docsearch/), which looks a bit more turnkey than implementing it manually.

[2017-12-04 02:40] Swizec opened #3124 "[gatsby-remark-code-repls and gatsby-remark-images] Doesn't listen to pathPrefix"
This is a bug.

I'm using Gatsby to build for gh-pages where sites have a path prefix. For example [on my workshop page](https://swizec.github.io/intro-to-react-workshop/2-your-first-component/#two-flavors-of-components)

That page is at `.../intro-to-react-workshop/` which works fine for the most part.

One of the problems I've found is that `gatsby-remark-code-repls` works wonderfully in local d

[2017-12-04 02:57] KyleAMathews commented on #3124
Hmm yeah — sorry about that :-(

Would you like to put together PRs for these?

[2017-12-04 04:14] piotrf commented on #3067
Is that a general `gatsby` vs. `styled-components` issue? Asking as I don’t use `glamor`, yet have the same problem. Unsure what I can do to help, here’s my `config` if that hint at anything. Otherwise I can create a simple repo you could work with. Let me know @KyleAMathews.

*gatsby-config.js*
[code]

[2017-12-04 07:11] wodin commented on #3116
Not sure what to tell you. I can. On multiple machines/VMs/operating systems and browsers. So far the only one that I cannot reproduce this on is Edge, although I haven't tried IE or Opera, etc. I've just double checked the version of Chrome on a couple of the machines and it is v62.0.3202.94.

Here's a demonstration: https://gfycat.com/AmusedAdmirableCub

[2017-12-04 07:51] HaoZeke opened #3125 "[enhancement] Split plugins, examples from main repo."
It's rather inconvenient to have to clone the entire repo for these segments which should probably be separate repos...

Is this by design?

[2017-12-04 13:28] markmichon commented on #3116
I couldn't reproduce in latest FF, but I am seeing the behavior in latest chrome on OSX.

[2017-12-04 13:59] wodin commented on #3116
Well at least I might not be hallucinating! :)

However, I can reproduce this on FF (57.0.1, some 32 bit and some 64 bit) on macOS, Linux and Windows. I have no idea what could be different about these machines compared to yours such that this doesn't happen for you.

If there's any other information I can provide to help get this diagnosed, let me know. Or is this perhaps something that Gatsby ha

[2017-12-04 15:59] m-allanson commented on #3097
DocSearch looks good. I've updated this issue to reference the DocSearch signup page instead of an Algolia API key.

[2017-12-04 16:22] fk commented on #3125
Yep, Gatsby is a [monorepo managed using Lerna](https://github.com/gatsbyjs/gatsby#packages).

I do not have a lot of personal experience with monorepos and/or frequently publishing (_many_) NPM packages, but I think [this article](https://github.com/babel/babel/blob/master/doc/design/monorepo.md) might do a good job explaining the reasons.

[2017-12-04 18:09] erichodges commented on #1100
@sedubois did you get anywhere with this. I'm specing out tech for a project and would like to do something similar.

[2017-12-04 18:20] HaoZeke commented on #3125
Ah, damn, I missed that line in the README...

Nevertheless perhaps a dev repo (not for publishing to npm) might be officially sanctioned?

[2017-12-04 19:33] sedubois commented on #1100
@erichodges I haven’t progressed much. Been migrating the static marketing pages which is a start! https://imagineclarity.com

I plan on adding auth when all those are done. I’m thinking to simply go for client-side authentication and loading the content asynchronously. I still need to figure out how to keep a live GraphQL client in my code even after the site has been built by Gatsby.

Any ideas

[2017-12-04 20:02] erichodges commented on #1100
@sedubois Your site looks good!
I just starting looking at this static approach, which seems really cool. It's weird that the auth piece does not seem to be well worked out yet. I sent email today to the Auth0 people asking about working with Gatsby. Trying to find all the pieces needed to build a basic site with auth and a shopping cart. I like the super fast load times, of course.

I'm a long ti

[2017-12-04 20:48] avigoldman commented on #2608
Took a while, but I've got that PR ready 😅 @rdela mind giving it a look?

[2017-12-04 21:56] rshah03 commented on #3104
Okay, so I updated all of my packages via`npm update --save [package name]` to their most recent optimal versions, created a copy of the site in a new github repo, and deployed it via Netlify. No errors in develop or production, but the issue persists.

When you say `gatsby new` do you mean to start from scratch?

[2017-12-04 22:48] luczaki114 opened #3129 "Is there a way to query/gain access to other markdown files/nodes when resolving a Graphql query?"
Is there a way to query/gain access to other markdown files/nodes when resolving a Graphql query?

I have pages as markdown files with a front matter field for a list of widget names. These widgets are markdown files of their own with a bunch of front-matter fields that I will use as props in a react component.

I have all of the widgets in a separate folder and am not directly using them to creat

[2017-12-05 02:39] Garbonauta commented on #3064
I am encountering this issue as well. It seems to be tied to references. As cpannwitz described, the issue resolves itself when removing the references from the content altogether. It does not need to be removed from the content model. Note, in my case the reference was a "One Reference," and like cpannwitz, the reference was populated.

Attaching my log.
[gatsby-reference-failure.log](https://git

[2017-12-05 04:13] Swizec commented on #3124
Sure, I can give it a shot this weekend. :)

[2017-12-05 04:17] Swizec commented on #3104
I'm experiencing a similar issue. In my case clicking on a `<Link />` changes the URL, but not the rendered page. If you reload on the new URL, it first renders the correct page, then re-renders with the index page.

![bug](https://user-images.githubusercontent.com/56883/33589826-26f27eac-d949-11e7-9e0f-4bb5f72baa0a.gif)

I upgraded to the latest packages 2 days ago. Gatsby version 1.9.127

[2017-12-05 04:31] rshah03 commented on #3104
@Swizec Are you buy any chance hosting your site via Netlify?

[2017-12-05 04:32] KyleAMathews commented on #3104
Any console errors that you're seeing?

[2017-12-05 04:50] Swizec commented on #3104
No console errors

On Mon, Dec 4, 2017 at 11:32 PM Kyle Mathews <notifications@github.com>
wrote:

[2017-12-05 05:12] KyleAMathews commented on #3104
Can one of you start with an empty site and slowly add in new pages or code until you can replicate the problem? Or isolate the release in which the problem started? Or check if any of the example sites illustrate the problem? I'd love to look at this but need a way to reproduce the problem.

[2017-12-05 05:19] KyleAMathews commented on #3125
Why split off the plugins?

Agree it'd be really nice if it was easier to create copies of the example site. I have some ideas on how to do that. Having a monorepo makes maintaining Gatsby far easier as for example, PRs affecting core and plugins can land at the same time. Also we can maintain common tooling for things like tests and prettier and linting.

[2017-12-05 05:19] #3125 closed

[2017-12-05 05:47] benjaminhoffman commented on #679
Closing this issue as it seems it's solved.  @Vaestro @KyleAMathews or others, feel free to re-open if I am mistaken.

[2017-12-05 05:47] #679 closed

[2017-12-05 05:57] benjaminhoffman commented on #1484
@matthewtole closing this issue as it's 5 months old and not much follow up.  If I'm mistaken or you'd like us to continue to investigate, please re-open with add'l context.  Thanks!

[2017-12-05 05:57] #1484 closed

[2017-12-05 06:01] benjaminhoffman commented on #1593
hi @vilav, closing this issue for now.  It appears the add'l tutorial parts have been completed: https://www.gatsbyjs.org/tutorial/

Feel free to re-open if I am mistaken.  Thanks!

[2017-12-05 06:01] #1593 closed

[2017-12-05 06:07] benjaminhoffman commented on #1526
@creotip closing this issue for now as it appears your question got answered.  If I'm mistaken or you have a follow-up, feel free to re-open it.  Thanks!

[2017-12-05 06:07] #1526 closed

[2017-12-05 06:08] benjaminhoffman commented on #1600
Thanks for the suggestion @dsslimshaddy!  Closing this issue for now as we have included this in the README and will likely expand on it in the near future. https://github.com/gatsbyjs/gatsby#showcase

[2017-12-05 06:08] #1600 closed

[2017-12-05 06:12] benjaminhoffman commented on #1633
@adekbadek Thanks for the issue.  There hasn't been much follow up or repro steps for a few months so I'm closing this issue for now.  If you are still having trouble or would like to keep this issue open, feel free to re-open.  Thx!

[2017-12-05 06:12] #1633 closed

[2017-12-05 06:24] benjaminhoffman commented on #1829
thx @Bouncey for the issue!  Doing issue cleanup so closing this for now in favor of 445.  Feel free to re-open if I'm mistaken or if you think your problem is different enough to justify its own issue..  Thanks again!

[2017-12-05 06:24] #1829 closed

[2017-12-05 06:33] benjaminhoffman commented on #1461
super cool!  Thanks @prayasht for creating that list.  Closing this issue for now but feel free to open a PR with a link to your list (esp if you continue to keep it update to date!)

[2017-12-05 06:33] #1461 closed

[2017-12-05 06:34] benjaminhoffman commented on #1468
@sethjenks is your issue solved?  Closing this for now bc of inactivity but feel free to re-open if I am mistaken.

[2017-12-05 06:34] #1468 closed

[2017-12-05 06:39] benjaminhoffman commented on #1594
@vilav feel free to take a look at all the gatsby starters here, many of which do have SEO support: https://www.gatsbyjs.org/docs/gatsby-starters/.  Closing this issue for now but feel free to re-open if your question has not be addressed.

[2017-12-05 06:39] #1594 closed

[2017-12-05 06:43] benjaminhoffman commented on #1719
This may be an issue with gatsby taking control of scroll.  Trying adding this to your `gatsby-browser.js` file. (https://www.gatsbyjs.org/docs/browser-apis/#shouldUpdateScroll)

[code]

Closing this issue for now due to lack of activity but feel free to re-open if the above doesn't solve your problem and/or you are still searching for a fix.

[2017-12-05 06:43] #1719 closed

[2017-12-05 06:56] benjaminhoffman commented on #2147
hi @1244k, did you get your issue resolved?  Have you looked into https://www.gatsbyjs.org/packages/gatsby-image/ ?  That should address your problem.  Closing this issue now bc of lack of recent activity but feel free to re-open if you'd like to continue to troubleshoot.

[2017-12-05 06:56] #2147 closed

[2017-12-05 06:56] rshah03 commented on #3104
Although I don't have time to create from scratch at the moment, I will go ahead and check the example sites to see if I can find the problems. I've been speaking with support staff over at Netlify to make sure the issue isn't from their hosting service(s).

Once I have some free time, I'll start to recreate my site from scratch and see if I can replicate the issue, if it's still needed at that ti

[2017-12-05 06:57] benjaminhoffman commented on #2172
closing in favor of https://github.com/gatsbyjs/gatsby/issues/2645

[2017-12-05 06:57] #2172 closed

[2017-12-05 06:57] Swizec commented on #3104
I'm hosting via zeit.co

I can try to replicate in a from-scratch environment in a couple days.

[2017-12-05 07:04] benjaminhoffman commented on #2339
@AdamWagner I simply import from an `src/assets/img/...` directory.  If you prefer better organization, try `src/assets/img/case-study/...`

Closing this issue now for lack of recent activity. Feel free to re-open if I am mistaken and you'd like to continue to troubleshoot.

[2017-12-05 07:04] #2339 closed

[2017-12-05 07:06] benjaminhoffman commented on #2340
Thank you @kalinchernev @jeroenransijn & @Maxhodges for the kind words!  Glad to see your support and positive feedback.  Please continue to contribute and encourage others to do the same. :)

Closing this issue now as we're looking to get a handle of all our open issues.  Thanks again! 👍 😄 📉

[2017-12-05 07:06] #2340 closed

[2017-12-05 08:00] LeKoArts commented on #3020
@KyleAMathews Still relevant :/

[2017-12-05 08:19] cfowlerdev commented on #3102
You should be able to solve this by creating a **declarations.d.ts** file in your **./src** folder and add the following:
`declare const graphql: (query: TemplateStringsArray) => void;`

Probably not ideal, but at least this is the way they solved the issue in the gatsby-typescript-starter:
https://github.com/fabien0102/gatsby-starter

[2017-12-05 08:32] KyleAMathews commented on #3104
Played around with @Swizec's site and found that building locally with a `pathPrefix` in the `gatsby-config.js` is what was breaking things. Commented that out and things worked as expected.

Not sure when or where this started happening. Found it by adding console.log to find-page.js and seeing that pathPrefix was being passed in.

[2017-12-05 08:32] KyleAMathews commented on #3104
@rshah03 do you have a `pathPrefix` by chance in your gatsby-config.js?

[2017-12-05 08:45] m-allanson commented on #3104
Could this be related to #2551 ?

[2017-12-05 09:41] monsieurnebo commented on #2005
**Thank's a lot** @akadop, I didn't understand why it wasn't working on SSR... You're the real mvp 👊

[2017-12-05 09:42] tderflinger opened #3131 "Image Generation not Working"
Hello!

I have GatsbyJS version 1.1.5 and Node 6.3.1 on Ubuntu Linux 15.04.
Every time I am building for production with "yarn build", the images are not converted correctly. Meaning they look fuzzy on the production site.
When I change something in my gatsby-config.js, the images are generated though. I can see that when I subsequently call "yarn build".

Is there any switch or any other way to l

[2017-12-05 09:51] nik-s opened #3132 "[gatsby-source-filesystem] createRemoteFileNode replaces original filename with hash"
If files are downloaded through createRemoteFileNode [the original filename is replaced by digest](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L45).

The problem is that if you download images you lose the descriptive filenames (a similar issue has already been fixed in [gatsby-plugin-sharp](https://github.com/gatsbyjs/gatsby/tree

[2017-12-05 13:14] danny-waite commented on #3105
thanks guys, yeah that worked, not exactly sure why my previous test didn't, but onwards...

[2017-12-05 13:14] #3105 closed

[2017-12-05 14:09] cpannwitz commented on #3064
I experienced the same, @Garbonauta .
At first, there was no error. Seems like contentful and/or the source-plugin needs some time to update the queried data.
Also I experienced - like you - that there was no way back, when the `References` field was introduced to the content model. It errors out afterwards, no matter what you change clientside or at contentful.

I tend to think, it has something

[2017-12-05 14:55] calcsam commented on #3132
What's the use-case where you'd like the original image name to remain? Do you expect the user to download images?

[2017-12-05 14:59] calcsam commented on #3131
Assume you're using gatsby-plugin-sharp / gatsby-transformer-sharp -- are you downsampling the images in your GraphQL queries?

[2017-12-05 15:02] calcsam commented on #3095
Yes, this should be a new page living under "Reference" in the docs. Want to add this documentation @Charon77?

[2017-12-05 15:14] Kageetai commented on #2740
Hey, I also just noticed the same problem with the [gatsby-advanced-starter](https://github.com/Vagr9K/gatsby-advanced-starter). Is there a PR for this now?

[2017-12-05 15:16] tderflinger commented on #3131
Tnx for the response!

This is part of my gatsby-config.js:

{
      resolve: 'gatsby-transformer-remark',
      options: {
        plugins: [
          {
            resolve: 'gatsby-remark-images',
            options: {
              maxWidth: 600,
              linkImagesToOriginal: false
            }
          },
          {
            resolve: `gatsby-plugin-google-analytics`,

[2017-12-05 15:18] calcsam commented on #3097
That sounds right. From the original comment, we wouldn't need any design work with this, just loading the library in `html.js` and then designing a component. Should probably have colors match the schema but that's about all.

https://github.com/reactjs/reactjs.org/blob/85a70b74a191ca6925778b55c22c73cd746f8c28/src/html.js#L21
https://github.com/reactjs/reactjs.org/blob/b8d13d5fe53462fbf45f9eab412

[2017-12-05 15:26] rshah03 commented on #3104
FIxed. Removed `pathPrefix` from my `gatsby-config.js` file and everything is working again. Thanks @KyleAMathews! I think the #2551 nails it.

Alternatively, I could build with the --prefix-paths flag if I wanted to keep that variable.

Is there a way to resolve #2551?

[2017-12-05 15:45] nik-s commented on #3132
As pointed out in #2306, descriptive image file names containing keywords are important for SEO.

Plugins such as [gatsby-source-wordpress](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress) download media from remote sources using **createRemoteFileNode** (I see now that *gatsby-source-wordpress* is the only one working like that at the moment?).

Thanks!

[2017-12-05 16:43] IronTony opened #3134 "Build problem using NPM package (google-maps-react) to add Gmaps"
Hi all,

I am trying to use this package `google-maps-react` to add GMaps to my Gatsby project (Gatsby v.1.9.102).
Everything seems to work well, but when I build the application, I get back the following error:

![image](https://user-images.githubusercontent.com/3645225/33618407-c1a62ec8-d9e2-11e7-8551-c587470ba752.png)

So I added to my `gatsby-node.js` the following code:
[code]
But without suc

[2017-12-05 16:46] m-allanson commented on #2740
I've not looked at this yet. If anyone else wants to jump in, please do.

[2017-12-05 17:06] jquense commented on #3134
using the null loader only works if the code path isn't hit in the static build mode, which in your case it is, hence the second error.

Since the google api wrapper depends on the `window` object you need to not use it when the window doesn't exist. In tandem with the null-loader setup I'd either export nothing if it doesn't exist or export a dummy object:

[code]

[2017-12-05 17:06] #3134 closed

[2017-12-05 17:07] jbolda commented on #3134
It sounds as if that module is not built for server side rendering. See https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined for additional details.

[2017-12-05 18:03] sedubois commented on #1100
@erichodges sounds great, I'd be interested in Auth0's feedback. And feel free to ping [here](https://linkedin.com/in/sedubois) or [here](mailto:sebastien.dubois@imagineclarity.com) to chat about meditation + web dev.

[2017-12-05 18:06] fk commented on #3097
Sorry for coming back so late @calcsam, I was swamped with work the past two weeks and am only slowly catching up with my inbox. I still got some emails to read (<img src="https://user-images.githubusercontent.com/21834/33621098-08fe3b60-d9ea-11e7-95e0-31c34915cc43.png" /> 🙄 😄 ) … Ah, I see you edited your [original comment](https://github.com/gatsbyjs/gatsby/issues/3097#issuecomment-348748650) wh

[2017-12-05 18:33] fk commented on #3131
Hi @tderflinger! I think @calcsam is headed in the right direction when mentioning downsampling: As you mentioned, `gatsby-remark-images` uses `gatsby-plugin-sharp`, more specifically its [`responsiveSizes`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sharp#responsivesizes) method, to generate responsive images from images referenced in Markdown.

`responsiveSizes` has `q

[2017-12-05 18:56] erichodges commented on #1100
@sedubois Ok, I put a question to their community, I'll let you know if anything interesting comes up. Thanks for the invite to ping! I will do that...cheers.

[2017-12-05 20:23] flmuel commented on #3084
haha had the same problem! :D thank you (Y)

[2017-12-05 22:37] r1b commented on #2645
Perhaps the entire background should be red like the background of the error prototype. I would be happy to fix this.

[2017-12-05 23:02] kennedyrose commented on #3020
I am experiencing this as well. I'm using the latest Gatsby version (1.9.128), with Chrome on Mac.

[2017-12-06 01:17] benforshey commented on #3063
Hey, @ivorpad. How did this end up working for you?