[2020-05-08 20:31] Vacilando commented on #12560
Only in develop indeed.

Is there a place that clearly lists such differences between build and develop? There are quite a few of them and some may not be obvious to all of us. At least until after Gatsby is able to provide exactly the same behaviour in develop and in build (I think there's an issue about that somewhere).

[2020-05-08 21:13] mirabilio opened #23924 "gatsbyjs.org www color tokens: which tool was used to generate the hues/saturations in colors.js and https://www.gatsbyjs.org/guidelines/color/ ?"
The color palette for gatsbyjs.org is quite verbose (as documented here https://www.gatsbyjs.org/guidelines/color/) and I was wondering if a tool was used to generate the stepped hue/saturation values that are shown in the below image from the style guide and in [colors.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-design-tokens/src/colors.js) If so, which tool? I am hoping to

[2020-05-08 21:41] shrthnd commented on #23344
Thanks, @anishanair6. This is basically what I was expecting to see. Would you mind sharing the contents of `./src/templates/BlogPost.js`?

[2020-05-08 21:42] yannicklaclau commented on #14815
Figured it out.

My setup includes:
- client-side routes
- authentication

I'm using a pattern similar to this: https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication.

The problem was that the state was being passed to the router, and then rendered in a <PrivateRoute> component, which in turn failed to pass on the location props to the component it was itself rendering after the

[2020-05-08 22:22] DSchau commented on #23908
@cjdunteman thanks for letting us know!

I think you'll want to use `gatsby-remark-prismjs` to get that syntax highlighting. You can see how that works [here](https://using-remark.gatsbyjs.org/code-and-syntax-highlighting/).

Thanks for using Gatsby 💜

[2020-05-08 22:22] #23908 closed

[2020-05-08 22:25] DSchau commented on #23909
Hi @emmadigital!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2020-05-08 22:40] tesseralis opened #23926 "refactor(www, i18n): Make gatsbyjs.org a theme"
## Description

Make the source of the gatsbyjs.org website into a theme, and turn the current `www` directory into a skeleton that imports the theme.

## Motivation

We need a theme for the site so that it can be included in translation repos.

[2020-05-08 22:50] melanieseltzer opened #23927 "CLI: `gatsby new` without arguments produce errors"
## Description

When running `gatsby new` without arguments I get errors. From what I read in the [docs](https://www.gatsbyjs.org/docs/gatsby-cli/#examples), it's supposed to run an interactive shell asking for inputs?

It also never asked for my preferred shell like documented [here](https://www.gatsbyjs.org/docs/gatsby-cli/#how-to-change-your-default-package-manager-for-your-next-project) (it's

[2020-05-08 22:54] tesseralis opened #23928 "refactor (www): Make gatsby-transformer-gatsby-api-calls a standalone plugin."
## Description

Make `www/plugins/gatsby-transformer-gatsby-api-calls` its own plugin.

## Motivation

Precursor of #23926

Currently `gatsby-transformer-gatsby-api-calls` is a local plugin that defines an `apiCall` endpoint in the content mesh. This endpoint is called in our API reference pages.

We are factoring out gatsbyjs.org into a theme to facilitate translations. Themes cannot have their o

[2020-05-08 23:08] tesseralis opened #23929 "maintenance(docs): remark-preset-lint-gatsby-style-guide"
## Summary

Move the rules defined in our [remarkrc](https://github.com/gatsbyjs/gatsby/blob/master/.remarkrc.js) to a package `remark-preset-lint-gatsby-style-guide`

### Motivation

As we add more rules (#23692) to the remark linter and even make our own rules (#20732), we end up cluttering up the top-level workspace with dependencies to remark plugins. Moving these dependencies to one place wou

[2020-05-08 23:58] tesseralis opened #23931 "maintenance(docs): Switch docs formatter from Prettier to customized remark-stringify"
## Description

Switch the [docs formatter](https://github.com/gatsbyjs/gatsby/blob/master/package.json#L114) from prettier to [remark-stringify](https://github.com/remarkjs/remark/tree/master/packages/remark-stringify), customized with additional rules.

## Motivation

remark-stringify is extensible and allows users and plugins to [extend the compiler](https://github.com/remarkjs/remark/tree/mast

[2020-05-09 00:48] TimFletcher commented on #10594
Yeah, same issue. Seems to work if you do a `gatsby build && gatsby serve` though.

[2020-05-09 01:00] richardhsueh commented on #23902
@herecydev Firstly, thank you for your answer. I think I know what to do next.
But can you explain a little bit more on when do we need to create graphql nodes ? I am still very confused. 🤔

[2020-05-09 01:43] huy-nguyen commented on #5880
Not every Gatsby setup will have a node_modules directory e.g if you use Yarn v2.

[2020-05-09 01:54] emmadigital commented on #23909
Hi @DSchau, here is my repo: https://github.com/emmadigital/ardalis-newsite

[2020-05-09 02:17] JimmothySanchez opened #23932 "Saving the Gatsby source WordPress data"
This probably isn't the right place to ask but I'm having trouble finding a solution to this problem. I'm currently trying to migrate a personal wordpress site to Gatsby. I'm using the source wordpress plugin, but I'd like to retire my old site and just keep everything in Gatsby. Is there a way to use the plugin to pull the info fromwordpress, but then store it locally in a file so that it don't n

[2020-05-09 02:19] aaronadamsCA commented on #17557
I resolved this by removing an old `.eslintrc` that referred to a plugin I'd uninstalled.

So if you're stuck, check that too!

[2020-05-09 02:21] emmadigital opened #23933 "Disqus Plugin Configuration"
## Summary
I have installed disqus plugin https://github.com/tterb/gatsby-plugin-disqus to my theme, it shows the disqus widget in the blog posts but its not properly linking to the disqus account. I have used correct shortname. The comments are zero on all posts. Whereas there are comments on most of my posts.

## Relevant information

Here is my disqus plugin configuration code https://github.co

[2020-05-09 02:25] dandv commented on #1457
[This gist](https://gist.github.com/JohnAlbin/2fc05966624dffb20f4b06b4305280f9) by @JohnAlbin worked great as of the current Gatsby version, and was very easy to follow and set up.

[2020-05-09 03:18] shrthnd commented on #23320
Cool beans, @shannonbux. There's definitely no need to apologize.

I would be _delighted_ to see what you're baking up (from the perspective of a wandering dev camped at the bottom of this mountain.) Appreciate the opportunity to contribute!

[2020-05-09 07:50] herecydev commented on #23902
Yer that's fine. As I said there's no requirement to use graphql.

In a way you can think of it as 2 different ways to achieve the same thing, you could:

1. Use the restful api call and pass that into the pageContext to create a page. This is a really simple approach but has some drawbacks; there might be too much data that isn't all needed (overfetching) and if other pages need to share the data

[2020-05-09 08:45] #22776 closed

[2020-05-09 08:53] AishaBlake commented on #22776
@eduayme @siddux, my apologies for the delay. You should be all set. Please feel free to reach out in Discord. You can ping me if you'd like a [language-specific channel](https://www.gatsbyjs.org/contributing/translation/#language-specific-channels).

[2020-05-09 09:01] muukii opened #23935 "How can I copy any files into public from .md .mdx?"
## Summary

Hello,
First of all, thank you for beautiful tool.

I have a question about generate file path while creating a page from MDX.
Image or any file link are supported by gatsby-remark-copy-linked-files
However, I'd like to pass some file url to my local React Component.
Technically, that component create video tag inside and provides some controls.
So I'd like to write like following:

my

[2020-05-09 09:39] dandv commented on #18847
@fandy: have you managed to figure this out?

I'm running into the same issue, and I don't think it's a Babel preset problem, because I use a similar setup with Jest, and didn't have to file an issue against Babel:

[code]

How can one instruct `gatsby-plugin-typescript` to also use those two Babel plugins?

[2020-05-09 09:50] wadkar commented on #15601
Thanks @wardpeet looking forward to the PR against this issue. Will be happy to test and contribute to the PR.

[2020-05-09 11:04] vladar commented on #23891
Sadly, this is expected behavior at the moment. Page queries (as well as static queries) are additionally processed when we extract them from source files using babel. For those queries, we append global fragments automatically.

In other words, when you write the following page or static query:
[code]

It is transformed to a full executable version automatically:
[code]

But it doesn't happen for

[2020-05-09 12:25] D0m3- opened #23940 "Use Sharp Fragment in Sitemap plugin"
## Summary

I want to reuse Sharp Fragment to index the images that I show on my pages. I have declared the plugins in correct order and the query works fine in my pages but not in the sitemap plugin config.

I get Error: Unknown fragment "GatsbyImageSharpFluid".

How can I solve that?

## Relevant information

[code]

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.j

[2020-05-09 12:54] laurenskling opened #23941 "There is no flag --log-pages in my gatsby build command"
## Summary

at https://www.gatsbyjs.org/docs/page-build-optimizations-for-incremental-data-changes/#reporting-what-has-been-built it is writting I can use a `--log-pages` flag. But my cli says that flag does not exist. I tried different recent versions of gatsby.

[2020-05-09 13:39] richardhsueh commented on #23902
I see, thanks a lot. 👍

[2020-05-09 13:39] #23902 closed

[2020-05-09 14:30] dsanderson90 commented on #22855
I am experieincing what looks to be the same issue on this project https://github.com/dsanderson90/gatsby-source-pokeapi

[2020-05-09 14:31] kokokenada opened #23942 "Unnecessary CSS included in html files when using SCSS modules leading to bloated HTML files"
###  Description
* The app uses CSS Modules.  As normal there is a <file>.module.scss associated with the .tsx file and a related import styles from './styles.module.scss';
* The app runs fine and all the styles are present
* However, the generated files are very big (e.g. 250KB) of which most is CSS in a style element (e.g. after running prettier on the output in public/ there are 11500 lines and

[2020-05-09 14:46] Ir1d commented on #21193
Hi, we're getting the same issue with latest release of gatsby

repo: https://github.com/OI-wiki/gatsby-oi-wiki
demo: https://ng.oi-wiki.org/
another demo: https://stale-while-revalidate-oi-wiki.surge.sh/
best reproduction:
1. visit https://ng.oi-wiki.org/math/poly/intro/
2. click “快速傅里叶变换”, the third link under the gray button in the sidebar.
It should direct you to this page: https://ng.oi-wiki.

[2020-05-09 14:48] PierreMouchan commented on #14239
Edit: This add like 400 kb to the final bundle of your app because it import the whole he and lodash library ! I try to find a work-around to these libraries.

[2020-05-09 15:02] joris- opened #23943 "Use of @link directive, return `null` without error"
## Description

I'm using `@link` directive to link data between entities.  It works expect for one case which does not throw error.

### Steps to reproduce

Reproduction repo : https://github.com/joris-/gatsby-issue

Just clone the repo ⬆️, `yarn develop`, open graphqli and exec these queries :

Two subqueries with similar data structure :

[code]

### Expected result

`version_groups` should ret

[2020-05-09 16:54] jrgleason opened #23945 "Gatsby requires Node.js v8 or higher (you have v15.0.0-pre)"
When I try to build NPM from source using a locally compiled version of Node I get...

I can delete the reference in `.//docs/node_modules/gatsby/node_modules/gatsby-cli/lib/index.js` and manually remove the check it works.

[2020-05-09 17:10] Schmerb commented on #8234
I could be silly, I am facing this exact thing and hot-reloading isn't reliable...but I am about to try some vanilla dom API stuff and click the button lol This might actually be a decent dev only (of course) work around. Will update soon...this is just my initial reaction when I basically read "we have to click the button"

[2020-05-09 17:47] imthatalex commented on #12431
If anyone else is still experiencing this issue, I found a simple solution to the problem that can be extrapolated from @eclectic-coding's example.

If you simply create a seperate css.modules stylesheet and input his stylting to the link directly it should remove the white background effect. I believe it's just the text-shadow + background-image causing the issue.

[2020-05-09 17:55] stephaniedavidson commented on #23891
thank you so much for looking into this! really appreciate it.

I'm a beginner so not sure what the query not being statically analyzable entails but I understand you're saying it's not possible right now to generate tag pages from gatsby-node and send it fluid image data, correct?

I wonder then instead of trying to generate static tagged pages if I should just make a vanilla js filter on my inde

[2020-05-09 19:03] muescha opened #23948 "Aria-Label: change `{title} expand` to `expand {title}`"
## Summary

change order of words in aria label

### Basic example

https://github.com/gatsbyjs/gatsby/blob/e36d73157e5964267fbcc62ed3b2d0e2582b735e/www/src/components/sidebar/section-title.js#L169-L172

[code]

### Motivation

when there are long titles then i guess it is better when the important part comes first when the voicereader say the label.

[2020-05-09 20:56] ElijahCano33 commented on #23421
I made a PR with the changes [here](https://github.com/gatsbyjs/gatsby/pull/23949)

[2020-05-09 21:34] capndave commented on #23945
It's weird that the error message suggests you're using Node v15 (which isn't supposed to be released til October)! Can you tell me the results of `node --version`?

[2020-05-09 22:02] capndave commented on #23948
I'd like to work on this if @muescha is not already working on it! I haven't contributed to Gatsby yet so please let me know if there is a particular protocol to follow for checking out issues.

[2020-05-09 22:09] eesa1980 commented on #4818
For anyone who can't see the plugin, I had the same issue.  To resolve it, you'll also need to install the the original plugin:

[code]

once you've done that you can import the plugin's css file

[code]

and either create your own or add some customisation, eg:

[code]

Hope this helps.

[2020-05-09 22:12] anindha opened #23950 "gatsby-plugin-typography doesn't handle pathToConfigModule in theme"
## Description

I am trying to use `gatsby-plugin-typography` with a theme but the `pathToConfigModule` seems to searching in the site directory rather than the theme directory.

### Steps to reproduce

1. `git clone https://github.com/lamnohq/gatsby-theme-typographyjs-bug.git`
2. `yarn workspace example develop`

### Expected result

The plugin should read the typography.js file in the theme dire

[2020-05-09 22:14] danspratling opened #23952 "Improve Tailwind CSS implementation docs"
## Summary

Docs do not show how to use @tailwind directives
Docs do not show how to purge css (which is crucial for performance)

### Motivation

All creators looking to use Tailwind CSS in future projects will benefit from this change

### Draft the doc

N/A - doc already exists
https://www.gatsbyjs.org/docs/tailwind-css/#installing-and-configuring-tailwind

### Open a pull request

- [X] Open a

[2020-05-09 22:38] jsjoeio commented on #22991
## Recipe: Generate a Blog Post Faster with Hygen

👋🏼 I made my [first recipe](https://gist.github.com/jsjoeio/ccc1cc5bf7f12df329da3eafa00c79d2) and the experience was delightful! Really excited to see where this goes.

Thought I did run into something that is either my own misunderstanding, or a bug.

## Bug Report

**Describe the bug**
- code block not showing in recipe step
- link isn't clickab

[2020-05-10 00:04] #22950 closed

[2020-05-10 00:21] jlarmstrongiv commented on #23952
I remember I researched for a while trying to make a nice postcss.config.js.  I’m curious to see what your recommended config will be 😄 here’s the one I settled on:

[code]

[2020-05-10 00:47] jacobarriola commented on #23890
I'm looking at customizing the webpack config to somehow ignore font files in the url-loader.  Looks like this might be a start, although it's a bit heavy to get a sense of how to do it.

https://www.gatsbyjs.org/docs/node-apis/#onCreateWebpackConfig

Meanwhile, I may just download the Google Font files onto my project and stick them in `/static` in order to bypass webpack's processing, which is w

[2020-05-10 02:00] anoriqq commented on #21995
I'll work on `gatsby-cli/src/reporter/loggers/ipc/index.js`!

[2020-05-10 03:00] jacobarriola commented on #23890
Ok, this seems to be working for me now. Setting the `limit` value to `0` seems to do the trick. I tried passing `false` but got an error message that a number is required.

[code]

I also ended up grabbing fonts from https://google-webfonts-helper.herokuapp.com/ instead of `typeface-`. The typeface package adds `@font-face` rules for all the variations, which is unnecessary (even though the brows

[2020-05-10 04:14] alitnk commented on #23778
Hey, thanks for the reply.
I got my previous PC fixed, it works fine in it...

[2020-05-10 04:14] #23778 closed

[2020-05-10 06:54] danspratling commented on #23952
The edits I've made actually don't change the suggested method for creating css/scss/css-in-js setups. They add more info to make sure you're not going to run into any roadblocks later.

If you feel the docs are missing a good config setup, it might be worth adding additional changes for review.

I used sass so I didn't need to make a postcss config, so this definitely doesn't apply to all use cas

[2020-05-10 07:49] danspratling commented on #23952
I'm using scss so my entire config is this, with purge being handled directly within tailwind. I think personalisations should be handled by starters, rather than by the setup docs.

[code]

I don't think any of the stuff which was already there needed much change, so I haven't updated it, but i was more concerned with ensuring the docs were fully fleshed out.

[2020-05-10 08:52] Lucascoorek commented on #7997
I confirm this is still an issue. Its working fine without `/?no-cache=1` in Chrome but not in Safari. Fortunately adding `/?no-cache=1` to fetch URI  does the job. Thank you.

[2020-05-10 10:00] dehamzah opened #23955 "Error thrown when doing client side redirect"
## Description

Error thrown in development when doing client side redirection using `Redirect` component from `@reach/router`.

[code]

### Steps to reproduce

I already create code example here: https://codesandbox.io/s/kind-jones-uter0?file=/src/pages/c.js

Click link "Go to page /c" and wait a few seconds. It will thrown an error like i mention above.

### Expected result

It should redirect s

[2020-05-10 11:04] rbelow commented on #20642
@manishsundriyal I have written an article explaining: [how to set up your local environment](https://rubenbelow.com/posts/contributing-to-the-gatsby-project/). Please, contact me if something in the guide doesn't work as expected or it's hard to understand.

[2020-05-10 11:13] Pakinwet opened #23957 "Is it possible if I set the Dynamic route path e.g /:username, /:username/:postslug and :username/post/:postid with the Component path of the Hybrid app pages?"
## Summary
If I would like to create route path e.g `/:username`, `/:username/:postslug` and `:username/post/:postid` with the Component path.

![image](https://user-images.githubusercontent.com/9396436/81497551-7408f200-92e9-11ea-93eb-9a7431b196c3.png)

There is a way to do this?

### Environment (if relevant)
  System:
    OS: macOS 10.15.4
    CPU: (4) x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60G

[2020-05-10 11:19] tizzle opened #23958 "[gatsby-source-shopify] — Limit products in ShopifyCollection"
## Summary

Wouldn't it be great to limit the number of products pulled in when querying a collection in the gatsby-source-shopify plugin? This would reduce the size of the generated page-data.json files, making page load and prefetching even faster.

### Basic example

[code]

### Motivation

Speed. And thrift.

Right now the plugin pulls in all the products in a collection. Say you only want to

[2020-05-10 11:51] vladar commented on #23891
Not exactly. You can do this, you just need to add all the fields manually instead of using a fragment. Here is a fragment for contentful fluid: https://github.com/gatsbyjs/gatsby/blob/e267ca00f519a1cddb230a34fc11acf5d8e2fc17/packages/gatsby-source-contentful/src/fragments.js#L92-L97

So instead of spreading a fragment you use the equivalent query manually:

[code]

This query is identical to the

[2020-05-10 12:56] alejandrorosas commented on #7628
not stale, still valid. It sorts by group

[2020-05-10 13:24] DysonLinDev commented on #23392
+ 1

[2020-05-10 13:37] maxkoretskyi commented on #23791
@ascorbic , so since there's no `getNodesByType` inside `actions` that are passed to `onCreateNode`, I managed to implement my solution like this:

[code]

can you please confirm this is how you expected it to me implemented?

[2020-05-10 13:42] strongSoda commented on #3425
In my case turns out some empty markdown files were causing the failure. So not only js files but any empty file might cause this.

[2020-05-10 13:48] albertlincoln commented on #23941
I ran into the same issue - the code is in gatsby but not gatsby-cli. I've fixed it here:

https://github.com/gatsbyjs/gatsby/pull/23951

[2020-05-10 14:14] JustFly1984 commented on #22983
not stale!

[2020-05-10 14:30] adriandmitroca commented on #23941
I'm pretty sure this flag existed in the past.

Is there any new equivalent? I couldn't find anything related to this change in the changelog.

[2020-05-10 15:24] mujeex opened #23962 "gatsby-theme-ui is not working."
## Summary
Hello everyone! I am trying to use the theme-ui for a new gatsby project I am working on. After following the instructions on the theme-ui documentation, I am still unable to get theming to work properly. The **sx** props doesn't seem to have access to the theme object create at **/src/gatsby-theme-ui/index.js**. Thanks in advance.
## Relevant information
This is a bug-repo created for

[2020-05-10 15:43] richardbruskowski commented on #9979
I have the same issue: Google/Twitter/Facebook don't detect the meta data, although it's in there. I've compared the last deployment where everything seemed to work fine with the current one, which does not work fine. Is it possibly that the issue is caused by the order of the data attribute in the meta tags? 🤔
Current one on the left  (data-react-helmet last), last deployment that worked well on

[2020-05-10 15:52] herecydev commented on #23942
[It's an oversight that the team is aware of](https://github.com/gatsbyjs/gatsby/issues/21253)

Maybe you can add the potential fix and see if it works for you. Let us know here!

[2020-05-10 16:03] ezelohar opened #23964 "gatsby-plugin-asset-path causing warm builds to fail"
## Description
When running gatsby build, it fails if cache is not deleted before running build.

### Steps to reproduce
Clear cache - gatsby clear
Run Build - gatsby build --prefix-paths
Run Build Again - gatsby build --prefix-paths

### Expected result
Not to have errors and to build static version

### Actual result
The code break with
[code]

### Environment

  System:
    OS: macOS Mojave 10.

[2020-05-10 16:12] stephaniedavidson commented on #23891
Thanks for clarifying, understand how to edit the gatsby-node page now, but I see what you're saying about querying in the template making more sense. Sorry this is probably getting into stackoverflow question territory here, but I don't know GraphQL well and I'm not sure what the query would look like in the tagged.js page. I'm sending the tagged.js page all my post data as a json under a certain

[2020-05-10 17:14] clementhk commented on #23941
Same here, my daily build just failed.

[2020-05-10 17:17] clementhk commented on #23941
Broke by gatsby@2.21.21 2 days ago.

[2020-05-10 17:32] clementhk commented on #23941
The build logic is changed and converted to ts, that's probably why? Hopefully nothing else broke.

[2020-05-10 18:29] kokokenada commented on #23942
@herecydev - thanks for the reply!  The fix worked for me! The public directory is significantly smaller. It also got rid of some annoying build warnings that I couldn't figure out. The following errors use to show up in the build and now they're gone:
[code]

[2020-05-10 18:41] wartburggraaf commented on #21727
Unfortunately, I couldn't solve it with the above suggestion. I got the same error `unknown: Identifier '_frontmatter' has already been declared (1646:13)` while I was adding this into my project `https://theme-ui.com/guides/linked-headings/`

[2020-05-10 20:38] herecydev commented on #23942
Glad it helped!

@wardpeet hope this information if of some use. Would it be helpful to put a disclaimer in some of the documentation about this. For a lot of people, I think the assumption would be that using css modules would provide the correct isolation and this is kind of issue is fairly frequently raised.

[2020-05-10 23:08] pieh commented on #23924
Hey @mirabilio! I'll close the issue because it's not bug report or anything like that.

@fk who did work on both design and guidelines themselves will be best person to ask (and I just did :) )

[2020-05-10 23:08] #23924 closed

[2020-05-11 00:11] copperwall commented on #23928
I'm up to work on this if that's cool

[2020-05-11 01:02] Ir1d commented on #21193
[update]: we've found that the delay is actually caused by the lags in re-rendering the page. The first screen has SSR so its fast enough, but following routing changes are provided by client side render.

Our fix: https://github.com/OI-wiki/gatsby-oi-wiki/pull/192/files

[2020-05-11 05:32] Ruchika30 commented on #20117
Hi , I am facing this same issue. And things are not working for me . Can't even open console, hard refresh is also not working. Kindly help

[2020-05-11 05:32] Ruchika30 commented on #18226
Hi , I am facing this same issue. And things are not working for me . Can't even open console, hard refresh is also not working.Not even incognito. Kindly help

[2020-05-11 06:00] GodaProjects opened #23969 "Create pages in Gatsby on runtime (From lets say Contentful) Related to #11966"
Following up on the question from @nadrane in #11966, what if I do need pages to be created in Gatsby whenever content items are created in contentful?

For example while doing a POC, I was creating an integration between Contentful and Gatsby. While doing that I did all the usual stuff. Configuring node API (createPages), configs etc.

Everytime I created pages in Contentful, and restarted Gatsby

[2020-05-11 07:10] tracy-liucui commented on #23896
@pvdz thanks for responding, here is a repo for reproducing the issue
https://github.com/tracy-liucui/gatsby-reproduction

Steps to reproduce
1. `npm run build`
2. make a `assets` directory inside `public` and copy all the static files into `assets`
3. serve the public directory by any static file server

Issue1:
The `public/index.html`, the url for manifest becomes '//manifest.webmanifest'

Issue

[2020-05-11 07:19] tracy-liucui commented on #23896
There is another issue we encountered also related to assetPrefix.

With the same reproduction repo, after `npm run build` in the `sw.js`
[code]
the `offline-plugin-app-shell-fallback/index.html` also has the asset prefix which we don't expect

[2020-05-11 07:22] devuxer commented on #11934
Is installing `@hot-loader/react-dom" and adding the webpack config to gatsby-node.js a workaround or a permanent solution? If it's permanent, shouldn't this be built into Gatsby? If it's a workaround, what will be the trigger for us to remove it?

I'd also like to add that I ran into certain pages simply wouldn't render after updating from Ant Design 4.1.5 to v4.2.0. They refactored the `List.Ite

[2020-05-11 08:14] ascorbic commented on #23791
@maxkoretskyi  OK, now I understand a bit better what you're after. A custom resolver is what you need. Attach as a new field on `Analytics`, and inside the resolver you can access `Post` and handle `mixData`. See https://www.gatsbyjs.org/docs/schema-customization/#createresolvers-api

[2020-05-11 08:21] jepek commented on #20718
@RichardStark tried multiple times, did not help
@tomwanderer yes, `gatsby-source-filesystem` is installed in a project

[2020-05-11 08:32] ascorbic commented on #23969
Hi. This depends on what service you are using to build your site. Essentially, you need Contentful to trigger the build using a webhook. This is quite simple to set up in most cases. In Contentful admin, go to Settings > Webhooks and add one there. There are pre-made templates for several hosts such as Netlify which makes it quick. In Gatsby Cloud you can set this up automatically using the Conte

[2020-05-11 08:32] #23969 closed

[2020-05-11 08:44] pvdz commented on #23627
Loki is out so I'm going to work on getting this merged this week :)

[2020-05-11 09:01] mjsarfatti commented on #23755
I have the same need. I feel like 1s is a _long_ time for a website that's supposed to be instant.

Personally, I'd like to show a loading indicator after 250ms. Some smart folks at Google even consider any delay above 100ms as deserving an indicator (and they developed the whole gmail experience around this).

I don't have a problem with it being 1s by default, but I feel it should be customizabl

[2020-05-11 09:04] manuelJung commented on #18689
@pristas-peter WOW!!! The idea is brilliant. I will check it out and test it in a real-world example with dozend of components.

[2020-05-11 09:31] pvdz commented on #23964
@ezelohar from your report it seems like you're running this back-to-back without changing anything else in between, is that correct? No changes locally nor on contentful remotely between these two runs?

[2020-05-11 09:33] pieh commented on #18689
Hey folks, I just want to let you know that work has started on the code-splittable modules added by queries. We are still in API design and exploration phase, but what I'm aiming for right now is something like that:

This register module (so webpack can bundle it) and ties this module to page we execute query for (so it get's loaded in frontend as part of resource loading)
https://github.com/pie

[2020-05-11 09:36] ascorbic commented on #23958
Interesting idea. It would require changing `products` to be a custom resolver. You could add that field yourself with a [createResolvers](https://www.gatsbyjs.org/docs/schema-customization/#createresolvers-api) function inside your gatsby-node. A simpler, if less elegant way is to query the get the products list in `createPages`, and then pass the list of ids through to the template in context. Y

[2020-05-11 09:40] freiksenet commented on #18689
@pristas-peter Awesome plugin! One missing part that we planned for this api is being able to pass props to components from the GraphQL resolver (so you can eg create `component` child for `fluid` and `fixed` fields of `ImageSharp`).

The initialization logic that you do in `gatsby-browser` will get much easier with so-called "Page Data Processor", which would allow custom initialization logic for

[2020-05-11 09:50] ascorbic commented on #23950
This issue seems to be that shadowing isn't working properly with the plugin's system of writing the module file out to .cache

[2020-05-11 09:51] pristas-peter commented on #18689
Thanks @freiksenet  and @pieh. In a bigger scale of things I needed this feature for my `gatsby-theme-wordpress-gutenberg` plugin, when the components are autogenerated during the build phase (you map a block from content editor to a react component in gatsby and everything is patched together into content component automatically), but were hard to get to from userland.

@freiksenet the props feat

[2020-05-11 10:01] slorber commented on #22991
Hi,

I'm trying to create a recipe for RNW, and being able to apply it easily to a blog:

[code]

The problem I have is it seems the plugins order matter.

The following works:

[code]

But the following does not work so great:

[code]

It renders with CSS issues:

![image](https://user-images.githubusercontent.com/749374/81548585-cd226580-937d-11ea-9a4b-cba84633c627.png)

The cause is that my plu

[2020-05-11 10:04] ascorbic commented on #23945
Gatsby is behaving as expected. The required version in the latest CLI is set as ">=10.13.0", which is not satisfied by "15.0.0-pre". See [the checker](https://jubianchi.github.io/semver-check/#/%3E%3D10.13.0/15.0.0-pre). Whether this _should_ be the behaviour is another question. Perhaps we should specifically allow prerelease versions. In any case, as you probably expect, we're not going to supp

[2020-05-11 10:04] #23945 closed

[2020-05-11 10:10] rishichawda commented on #7454
After wasting a whole hour going through all the issues and references, nothing worked except manually setting the `scrollTop` on `document.body` to 0 like so:

[code]

Works for both refresh and page visits.

[2020-05-11 10:11] ezelohar commented on #23964
Hi @pvdz

No changes in between. I just clear cache, run build, it works. Then I just run build again, it fails.
Unfortunately, we use this on gatsby cloud, and because of this, every build will fail until we do manual press on the button and clear cache.

So I need to find a solution without applying clear cache every time.

[2020-05-11 10:41] ascorbic commented on #23942
Thanks for handling this, @herecydev. I'm goign to close this as a duplicate, but also flag this as a potential documentation and/or webpack issue.

[2020-05-11 10:41] #23942 closed

[2020-05-11 10:42] pieh commented on #18689
Yesss!! Page builder is the other "demo" scenario I have for this API we work on (other being MDX) - if you check code links I provided in https://github.com/gatsbyjs/gatsby/issues/18689#issuecomment-626589078 - those actually showcase API in page builder scenario (so I assume Gutenberg case would be very similar)

Few more links to my demo site:
Structured content similuating page builder data:

[2020-05-11 10:53] #23941 closed

[2020-05-11 10:58] pieh commented on #23941
Hey folks. We just released `gatsby-cli@2.12.16` / `gatsby@2.21.22` (thanks to PR by @albertlincoln  ). Updating should fix this problem

[2020-05-11 11:00] ascorbic commented on #23940
Hi. Unfortunately we don't support fragments inside gatsby-node (which is where these queries are executed). This is a known issue. #12155

In the meantime, you could copy the contents of the fragments from https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/fragments.js

[2020-05-11 11:00] #23940 closed

[2020-05-11 11:01] pristas-peter commented on #18689
Well, what I am doing is that since every block has its own graphql type (sourced by new wordpress plugin by @TylerBarnes - still working on a support for this (I am also the author of `wp-graphql-gutenberg`)) you create a fragment in the react component which represents the block of the structured content on the block graphql type and the fragment is automatically included in the auto generated c

[2020-05-11 11:05] ascorbic commented on #23933
Hey. Could you file this issue on [the plugin repo](gatsby-plugin-disqus)? It's a community plugin that isn't maintained by Gatsby.

[2020-05-11 11:05] #23933 closed

[2020-05-11 11:05] stevemarksd opened #23973 "gatsby-plugin-emotion adds styles inside body during build, but on rehidratation styles are moved to the header"
## Description

gatsby-plugin-emotion adds styles inside body during build, but on rehidratation styles are moved to the header

### Steps to reproduce

Simply use this plugin `gatsby-plugin-emotion` and run build.

### Expected result

im not sure, but should not jump to <head/>

### Actual result

styles are added to <head/>

### Environment

  System:
    OS: Windows 10 10.0.18363
    CPU: (12)

[2020-05-11 11:21] rburgst commented on #20083
@vladar can you give more hints on how to integrate this into a source plugin?

[2020-05-11 11:24] D0m3- commented on #23940
Thanks for the info

[2020-05-11 11:30] paveli opened #23974 "CORB errors in Chrome when using assetPrefix and gatsby-plugin-offline"
## Description

When using Gatsby with `assetPrefix` option and `gatsby-plugin-offline` I receive multiple CORB errors while making PWA test in Lighthouse (Chrome Version 81.0.4044.138).

![CORB Warnings](https://github.com/paveli/gatsby-corb-bugreport/raw/master/src/images/warnings-screenshot.png)

### Steps to reproduce

Visit https://gatsby-corb-bugreport.now.sh using latest Chrome version in i

[2020-05-11 11:31] sanderploegsma commented on #20083
Here's a sample `gatsby-node.js` that uses the `sourceNodes` API to create local copies of remote images in Wordpress:

<details>
<summary>gatsby-node.js</summary>

[code]
</details>

[2020-05-11 11:31] pieh commented on #18689
I will take a look at using `wp-graphql-gutenberg` in my demo sites (that I use to validate API designs). It's much more real-worldy case than using my somewhat mocked page builder.

Do you use `gatsby-source-graphql` or new version of `gatsby-source-wordpress` in your project?

Also is your project public? Maybe I could use yours and not have to build one from scratch 🤔 Alternatively - do you hav

[2020-05-11 11:44] pristas-peter commented on #18689
Yes, it's open-source, but it it still a WIP, although I have written some docs here: https://gatsbywpgutenberg.netlify.app/features/page-templates/. However I want to get rid of that page templates part and replace it with this queryable component.

Yes, it uses gatsby-source-wordpress (v4), but I have to source some parts myself because of the complicated schema. We are chatting with Tyler to wo

[2020-05-11 11:58] GeorgeSnitar commented on #15397
It works for me too. Thanks )

[2020-05-11 12:44] fk commented on #23924
Hey @mirabilio! 👋

The color palette is handcrafted. One reason for that was that we started out with a couple colors that we didn't want to change, but work into a color scale — e. g. `rebeccapurple / #663399` in the `purple` color scale.

https://www.colorbox.io/ is a great <3 <3 <3 tool to generate similar scales, allowing to slightly switching the color hue, etc., and even to lock colors.

IRT

[2020-05-11 12:54] anishanair6 commented on #23344
@shrthnd Apologies for the late response. I have created a redproducable test case, please find github link for the same from below url

[Gatsby-Wordpress](https://github.com/anishanair6/gatsby-wordpress-slowness)

[2020-05-11 12:54] pvdz commented on #23964
Okay that's good.

Looking at your original report, it seems you can repro this locally. I was unable to repro this. I can see your Cloud builds do fail with this but have not been able to manually repro this. But considering it's Cloud, it's not a bug that is bound to a mac or windows env.

I know it's a bit of a tall ask but considering you can repro this locally, is there any chance you could t

[2020-05-11 13:00] rburgst commented on #20083
@sanderploegsma thanks a lot for the fast response, I tried your approach but am running into problems

either if I create a resolver in the original wpgraphql type, I get
[code]

and otherwise if I use your code as is, it complains that `MediaItem` is not defined (and I should use `createTypes`)

I have created a sample project: https://github.com/rburgst/gatsby-rebuilding-problem/tree/experiment

[2020-05-11 13:02] laurieontech commented on #23962
Thanks for your question! I cloned your repo and changed some styles in the sx prop without issue. It appears to be working. My suspicion is that it was a hot-reload or installation issue. Confirm that you've run `npm install` and try starting up your project with `gatsby develop` after that.

I'm going to close this because I haven't be able to reproduce the issue. However, please come back if yo

[2020-05-11 13:02] #23962 closed

[2020-05-11 13:08] mujeex commented on #23962
Thank you very much for your support. I also just noticed it was a hot-reload problem and a little bit of CSS specifity issue that caused the issue.

[2020-05-11 13:46] sanderploegsma commented on #20083
if I clone your example project everything seems to work correctly. Judging by the error you posted it looks like you have multiple versions of the `graphql` dependency, maybe you're using an older version of Yarn? If you remove the `node_modules` folder and do a clean install, it should work.

[2020-05-11 14:00] wardpeet commented on #23974
Thanks for the bug report! Indeed gatsyb-plugin-offline isn't handling no-cors fetches correctly. @paveli, you should be fine for now as chrome isn't forcing CORB right now on stable chrome.

We'll look into this.

[2020-05-11 14:06] pvdz commented on #23627
Hm I was almost ready to merge the fix when I realized the implementation was buggy and the performance implication was quite bad. While we do have the nodes grouped by type, this group is a Map without direct access. This means we either have to create a temporary array to hold all nodes of one type, so that we can access them directly, or we loop through all nodes, which is also expensive.

The

[2020-05-11 14:09] paveli commented on #23974
@wardpeet, thank you very much for fast response!

I want to point to this link, as it describes why the errors appear faster in incognito mode: _"In Chrome, for instance, even an opaque response of a few kilobytes will end up contributing around 7 megabytes towards your quota usage."_
Source: https://developers.google.com/web/tools/workbox/guides/storage-quota#beware_of_opaque_responses

Also, th

[2020-05-11 14:17] rburgst commented on #20083
You are correct, i had 2 graphql versions in my dependencies. Sorry for not reading the error well enough. Thanks so much! It works now. I will update my test repo so people can find a working solution if they encounter the same issue.

[2020-05-11 14:20] noah-hornak commented on #22608
Would also like to know how to accomplish this. Trying to send custom dimension on page view event for a specific page so I can A/B test.

[2020-05-11 14:27] ascorbic commented on #23331
I think this may be fixed if we update `@pmmmwh/react-refresh-webpack-plugin`. The version we have installed includes a dependency on react-dev-utils, which has an exact dependency on an ancient version of browserslist. The new version of @pmmmwh/react-refresh-webpack-plugin removes that.

[2020-05-11 14:29] #14815 closed

[2020-05-11 14:45] #23955 closed

[2020-05-11 14:47] jonniebigodes commented on #12040
@Lucascoorek that's great. Glad to hear it that it worked for you. And it goes without saying, really no need to thank, just glad that the code/comment helped you aswell.

[2020-05-11 14:48] ascorbic commented on #23923
This sounds like a useful enhancement. Any thoughts, @moonmeister? If anyone would like to contribute a PR that would be welcome.

[2020-05-11 15:01] ascorbic commented on #23973
Hey. Could you [provide a minimal reproduction][reproduction] so we can look into this further? Rehydration issues like this usually indicate an issue with the SSR HTML.

[2020-05-11 15:18] mirabilio commented on #23924
@fk Many thanks for the info! Super helpful :)

[2020-05-11 15:37] EmaSuriano commented on #12569
I faced the same issue and I can confirm that by following the solution provided by @sidharthachatterjee works! In summary, if you have a package called `shared-ui`, rename it to `gatsby-shared-ui`, change the references of the package and re-install all dependencies. Now you should be able to use `StaticQuery` and `useStaticQuery` 👌

[2020-05-11 15:45] shrthnd commented on #23344
All good, @anishanair6. Thank for pulling this together. My gut says the reactHook approach may only be appropriate for external assets but I'm also not convinced it was the right suggestion on my part to begin with. If you haven't tried a full `gatsby build` yet I'd be interested to know if the results are the same.

[2020-05-11 15:53] shrthnd commented on #23344
@anishanair6, you might also consider signing into the [Gatsby chat](https://discord.com/invite/br9rbUE) to talk through the issue with other devs in real time. My gut says with the work you've put together, and our notes here, someone out there might be able to unblock you sooner than I.

Otherwise, my next step is to get a local instance of wordpress set up and connected to this example. I'll re

[2020-05-11 15:58] KyleAMathews commented on #23932
Curious what information source-wordpress gets that other ways of exporting data doesn't?

This is a cool idea though — a process for exporting data into the repo & then having a source plugin which keeps the data in the same shape so if you stop using a CMS or some other source — you could close it & all your templates work the same.

[2020-05-11 17:08] TylerBarnes commented on #23932
That's a cool idea indeed! Since nothing like that exists right now I think a reasonable path forward is to write a script to export to JSON files and then use  [`gatsby-transformer-json`](https://www.gatsbyjs.org/packages/gatsby-transformer-json/) to create a similar or identical schema to `gatsby-source-wordpress`. For example if you have posts you could export to `src/json/posts/*.json`, be sur

[2020-05-11 17:21] akmalnawfer opened #23983 "Parameterized URL parameters are being stripped when changing URL"
<!--
  I've released a website in S3, I am using query parameters to load some data, but when URL with parameters entered in the URL bar it strips the parameters and loads the default page.

Is it something to do with S3 or Gatsby.

I released the same app on a shared server its working fine.

 website link:
  - http://betterpride.com.au/
Link with parameters
 - https://betterpride.com.au/mediatio

[2020-05-11 17:21] akmalnawfer commented on #23983
<!--
  I've released a website in S3, I am using query parameters to load some data, but when URL with parameters entered in the URL bar it strips the parameters and loads the default page.

Is it something to do with S3 or Gatsby.

I released the same app on a shared server its working fine.

 website link:
  - http://betterpride.com.au/
Link with parameters
 - https://betterpride.com.au/mediatio

[2020-05-11 17:27] tizzle commented on #23958
Hey @ascorbic,

thanks for the detailed feedback. I think i will try to go the way of the custom resolver, as i would like to keep my context as slim as possible.

Do you think this functionality could sooner or later find its way into the plugin? I assume it should be discussed in more breadth, as this would be a breaking change.

I would build this in gatsby-node first and then – if there's inte

[2020-05-11 17:32] ascorbic commented on #23958
@smthomas what do you think? Would this be worth adding to the plugin?

[2020-05-11 19:17] blainekasten commented on #23983
@akmalnawfer We'll need to have much more information to understand what the problem is and find a solution for you. Please open a new issue with details.

[2020-05-11 19:17] #23983 closed

[2020-05-11 19:18] moonmeister commented on #23923
For clarity of discussion and implementation lets do a little mini-RFC discussion here and define what the functionality and config would look like. I'll start by reviewing current favicon support for Automatic and Hybrid modes(manual is unsupported) we can use the source icon (which currently supports SVG), to create the 48x48 PNG for favicon use.

What I think you're asking for is that the src i

[2020-05-11 19:46] jasonbahl commented on #23344
I wanted to follow up on what I said [above](https://github.com/gatsbyjs/gatsby/issues/23344#issuecomment-618031558):

It's not super easy or straightforward to do what I suggested at the moment. There's some changes that will need to be made to core WPGraphQL processing (specifically the model layer) to make this work.

But, I've made some good progress:

See: https://github.com/wp-graphql/wp-gra

[2020-05-11 20:58] emaildano opened #23988 "Question regarding hashing"
## Summary

I have a question regarding hashing and the use of md5. Correct me if I'm wrong but it looks like Gatsby uses md5 as the algorithm of choice for naming files and folders in the local cache. I'm not too familiar with Gatsby "core" but reviewing the bootstrap files and searching the source it looks like this is the only used aside from sha256 for telemetry data.

Why md5?

Hashing is a c

[2020-05-11 21:26] emaildano commented on #23988
Reference:

https://www.quickhash-gui.org/what-is-the-newly-added-xxhash-algorithm/

[2020-05-11 21:36] arjunvegda commented on #23900
Any update on this? I want to leverage from Gatsby's default mechanism of creating pages and just update the slugs (for different languages) from CMS. Having access to graphQL on onCreatePage would make this super easy.

[2020-05-11 21:38] notaduck opened #23990 "Gatsby cannot build after being pushed and cloned to github"
## Description

I have a small project which builds fine on "my machine" However, as soon as I push it to github, clone it and try to build it it fails. The odd thing is that it works in a codesandbox.

### Steps to reproduce

[code]

### Expected result

Gatsby should build the page and serve the site on localhost.

### Actual result
[code]

### Environment

[code]

[2020-05-11 21:57] emmadigital commented on #23909
Hi @DSchau any suggestions why the category field not showing up in Graphql.

[2020-05-11 22:11] py563 commented on #6357
@LekoArts can we follow similar flow to make it work on your gatsby-cara-theme starter

[2020-05-11 22:44] PilgrimMemoirs commented on #10341
Is there a chance of reopening this? I'm having to hack around this issue as well and I don't quite understand the purpose of having them in paragraph tags to begin with. Thanks!

[2020-05-11 23:24] muescha commented on #23948
just waiting for @gatsbyjs/learning and a11y team if this change is ok

[2020-05-12 01:26] JimmothySanchez commented on #23932
So I've added a fs.writeFile to the gatsby-node.js file for each word-press post and it's a bit of a workaround, but seems to be working. What about the images though? Is there a good way to write those to disk locally, and if I do is there a way to make sure that the paths match the old paths that the posts already reference?

[2020-05-12 01:43] Blissfulair opened #23994 "How do I make a page already loaded with data retain its loaded data when a user re-visit the page"
I am new to gatsby and i developing shopping app. currently i am fetching data from laravel backend with axios when the page loads but if I leave the current page and return back, the data have to load up again. I don't think this is experience for a user. How can I make the already loaded page retain the fetched data on re-visit?

[2020-05-12 01:52] JustFly1984 opened #23995 "[gatsby-plugin-offline] IOS 13 Safari error `null is not an object (evaluating 'n.announcementRef.current.innerText')`"
I got error in Sentry logs, it points to `./.cache/navigation.js in apply at line 177:52`

[code]

<img width="1113" alt="Screenshot 2020-05-12 08 44 19" src="https://user-images.githubusercontent.com/2255993/81629212-d3bbe600-942c-11ea-8c74-95bd9af41e65.png">

which triggered after 2 consecutive errors in the console `InvalidStateError: Service Worker state is redundant`

<img width="1149" alt="S

[2020-05-12 02:34] stevemarksd commented on #23973
Look on gatsby https://www.gatsbyjs.org/ for the class in source code and the class once is rendererd: `.css-c14scv`

first render is set inside the body, then is moved to the <head> tag

[2020-05-12 02:57] KyleAMathews commented on #22991
@jsjoeio hey recipe looks great! Glad it worked for you. On the link — that's working for me in iterm2 build 3.3.9 — you have to hold down cmd for it to work though — links aren't super well supported in terminals — it might be easier to just paste in the whole link.

On the code blocks — that's definitely a bug. I'll whip up a little PR to fix it now.

[2020-05-12 03:00] KyleAMathews commented on #22991
@slorber hmm plugin order mattering is a tough issue — it's best to avoid that whenever possible cause it's not something people expect to happen so most wouldn't ever think to look at this when debugging problems.

[2020-05-12 03:32] shrthnd commented on #23344
Thank you, @jasonbahl. Based on your feedback I started [working in this direction](https://github.com/anishanair6/gatsby-wordpress-slowness/pull/1/commits/7b679919e680e5052c91f15063a2dd331768ca44) but ran into an issue interpolating the EnqueuedScriptsFragment:

![image](https://user-images.githubusercontent.com/25191/81632973-937f4800-93d9-11ea-9b1e-4ad910c4275b.png)

Here is the relevant portio

[2020-05-12 03:40] angeloashmore commented on #23958
As an aside, it would be nice to have generic resolvers that allowed limit, sort, skip, etc. on array values. Something like a `@listOperators` directive:

[code]

Something like that could benefit other source plugins.

[2020-05-12 03:54] saadaouad commented on #22920
@LekoArts I'm facing with another issue now,

**Sometimes** I get a blank page when I click on any link without any error message and when I refresh the page I can get my content (I'm not sure if this is due to the cache or not).

Here is a [record](https://recordit.co/8RMBYzPo2N) for that

[2020-05-12 05:17] micha149 opened #23997 "Worker Error: Expected number greater than zero for threshold but received true of type boolean"
## Description

I am playing around with some childImageSharp queries for cropping my images, as I run into an error the following error:

[code]

### Steps to reproduce

I'm using the following query to select the thumbnails. The error occured after I added the `trim` argument.

[code]
### Expected result

Getting some trimmed thumbnails or at least an error which helps me to solve the problem

#

[2020-05-12 05:31] cedricwang28 commented on #9707
I removed all comments within my JSX section and everything is fine now

[2020-05-12 05:32] aikodeio commented on #23254
Hello! This is not yet resolved

[2020-05-12 06:41] linxianxi opened #23998 "How to use routing parameter?"
![image](https://user-images.githubusercontent.com/47104575/81646836-87899980-945e-11ea-9a51-09175e87a359.png)

Is this the wrong way to use it？

![image](https://user-images.githubusercontent.com/47104575/81646898-a4be6800-945e-11ea-8e70-84c2e5a0073e.png)

[2020-05-12 06:45] anishanair6 commented on #23344
Thank you @shrthnd

Yes definitely i will update you the results once i done full build !!!

Yes i will update on this

[2020-05-12 06:49] me4502 commented on #23627
We've actually stopped using the patch so it's not major if it doesn't go in right now. We made another patch to set a maximum depth of contentful nodes, as that lowered the size by a decent amount without causing issues.

[2020-05-12 07:30] wardpeet commented on #12560
There are only a few, this is what I can think of out of my head:
1) Page is only built client side so no server-side-rendering (think of it as [client-only routes](https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/)
2) Hot module reloading is on, when you do a change, your browser changes without a refresh
3) Stylesheets aren't created, <style> tags are injected

I'll be cl

[2020-05-12 07:30] #12560 closed

[2020-05-12 07:31] wardpeet commented on #23974
I'll be looking into this bug today :)

[2020-05-12 08:02] jmadelaine commented on #9979
I'm having the same issue: [jonathanmadelaine.com](https://jonathanmadelaine.com/). you can see the meta tags in the head, but when crawling using either the [Facebook](https://developers.facebook.com/tools/debug) or [Twitter](https://cards-dev.twitter.com/validator) debugger, those meta tags are not detected.

[2020-05-12 08:31] pvdz commented on #23627
Can you elaborate on that? The contentful plugin is being a problem with the amount of nodes that it generates and it's quite hard to find a proper solution for it that doesn't come down to "make Gatsby faster at scale". A 15k page contentful site acts like a million page local sourced site.

[2020-05-12 08:42] jmadelaine commented on #22908
I have discovered that wrapping the `Seo` component with context providers inside `wrapRootElement` (exported from `gatsby-ssr.js`) causes this issue for me.

My current setup is something like this:

[code]

[code]

Building the above app results in the `index.html` missing all the meta tags that are defined inside the `Seo` component.

---

If I render the `Seo` component inside `wrapRootElement

[2020-05-12 10:14] phanatuan opened #24000 "How to connect one Foreign Field to another (I use gatsby-source-mongodb)"
Hi,

I use `gatsby-source-mongodb` to query the following collection in my Mongo DB:

`posts`: [featureImage, authorId]
`authors`: [id (mongoID), authorName]

Gatsby generates the GraphQL as expected. I could query the following:

[code]
But I'm having problem connecting the "authorId" from `posts` to the `authors`.  I read the guide on [foreign field mapping](https://www.gatsbyjs.org/docs/schema-

[2020-05-12 10:24] slorber commented on #22991
Thanks @KyleAMathews I really want to remove this duplicate js loader as soon as I'm able to merge correctly the gatsby + expo-web plugin, but this is the state I'm currently in, unfortunately.
That  still works fine on my blog: https://sebastienlorber.com/using-expo-in-gatsby

Do you think it's possible to have a `<GatsbyPlugin name="gatsby-plugin-react-native-web"
 position="first"/>` or somethi

[2020-05-12 10:24] mtiziano commented on #19846
@megant how did you solve?

[2020-05-12 10:27] Jaikant commented on #11013
Love this answer!
Just a question, does this mean the script will be loaded on every page transition or it is loaded only once?

[2020-05-12 10:48] emmadigital opened #24001 "Condition to control Featured Image display"
## Summary
I want to set featured image optional for my blog posts. I am using Netlify with Netlify CMS.

## Relevant information

This is how I created the condition to display featured image if its not null. But this sometime gives build error:

[code]
**GraphQL Query**
[code]
**Build Error**
[code]

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.

[2020-05-12 10:50] #12291 closed

[2020-05-12 11:56] sumanthyedoti opened #24003 "How to cache a React library"
I am using [React-fullpage](https://github.com/alvarotrigo/react-fullpage) library. Currently, the library is getting into action with some delay of few seconds depending on bandwidth.

I need to **fetch this library on high priority and cache** it locally so the library comes into action quickly as page loads and consecutive page hits don't download the library again

Please help with a possible

[2020-05-12 11:59] jjato opened #24004 "Gatsby-image + Safari + CSS Columns: Not all images are displayed"
## Description

For some reason, since a recent update of Gatsby or Safari, Gatsby-image doesn't work as expected on Safari when using the CSS property column-count.
From my understanding, it's like the images on the second column never get revealed. They have a forced property `transition: none` and even by forcing it in the stylesheet, they keep a 0 opacity.

Everything works fine in Firefox and

[2020-05-12 12:03] #22477 closed

[2020-05-12 12:05] richardbruskowski commented on #22908
Moving the SEO component up to wrapRootElement also made the og:tags etc. visible to Google, Twitter and Facebook for me again. Thank you!

I keep struggling though what the proper architecture should look like regarding these …

- SeoComponent (only appears to work outside of ContextProvider for me)
- ContextProvider (for global stuff like theme information, navigation state)
- ContextConsumer
-

[2020-05-12 12:12] jjato commented on #24004
Forcing the overflow to be visible with an `!important` at the line bellow seems to fix that issue...

https://github.com/jjato/portfolio/blob/0321c0c6f87c6bf876243e96ab73bc77d03b4ff0/src/assets/styles/Screen.less#L19

[2020-05-12 12:18] richardbruskowski commented on #9979
@jmadelaine's finding applied to me as well. In my case I had to move the SEO component not only outside of my theme provider but also outside of my context provider.
So relieved 😅. Is that architecture recommendable, though? 🤔

[2020-05-12 12:55] shrthnd commented on #23344
Looking over my notes today, I think I need to register `enqueuedAssets` with the `graphql_register_types` action I mentioned in this [comment](https://github.com/gatsbyjs/gatsby/issues/23344#issuecomment-620570229) (which calls `register_graphql_field`.)

I'll see how this works when I have a moment and will share any meaningful results.

[2020-05-12 13:09] vstojkovski opened #24006 "Gatsby Build + Gastby Serve + Anchor tag href change not working."
## Description

The href tag of the anchor tag was changed based on a state change in dev mode (gatsby develop). When I switched to the production environment using gatsby build + gatsby server the href is no long affected i.e it stays the same no matter the change.

### Steps to reproduce

Create a <a href={stateHere}>stateHere</a> link and make the href change based on a state. When using gatsby

[2020-05-12 13:22] rayronvictor opened #24007 "Relay support for client-only data fetching"
Gatsby have support for client-only data fetching using Relay?

I'm trying to create a funcional example but at build Gatsby conflicts with Relay Graphql template literal tag.

[2020-05-12 13:25] MaciekBaron commented on #22991
Hi! Great work so far on the recipe functionality, I see it can help in a lot of use cases.

I've had a quick look, but can't see if it is possible to use "parameters" when using recipes. I was thinking of something similar to `ng generate`, which would, say, allow you to use a recipe to create a new component of a specific type or of specific functionality, or, when applying a recipe, have some r

[2020-05-12 13:28] malcolm-kee commented on #9979
If you keep the SEO inside, but switching the styles and the meta tag like this, is your problem solved?

[code]

[2020-05-12 13:48] art0rz opened #24008 "elemMatch not working"
I have a nested data structure on which I'm trying to run a query using `elemMatch`, but the query is returning all elements rather than just the ones that match the condition.

I'm not sure if I'm using it correctly, or there is a bug somewhere.

I've redacted the actual content, but the source is [gatsby-source-contentstack](https://github.com/contentstack/gatsby-source-contentstack/).

Query:
[

[2020-05-12 13:52] jasonbahl commented on #23344
@shrthnd I'm still working on this in WPGraphQL. It's not been merged yet. Hoping to have a PR soon

[2020-05-12 14:00] kinnikumegane opened #24010 "Variable "$skip" of required type "Int!" was not provided"
Hello all,

can anybody help me to fix the error "Variable "$skip" of required type "Int!" was not provided." ?

I followed instruction below;
https://www.gatsbyjs.org/docs/adding-pagination/

I am trying to add pagination on top page of my blog, but got stuck with error "Variable "$skip" of required type "Int!" was not provided." I got also another error "Variable "$limit" of required type "Int!"

[2020-05-12 14:33] muescha opened #24014 "Feature Request: add test for trailing slashes in yaml files with links"
## Summary

add a test for trailing slashes to yaml/json files with links to have sidebar links selected

### Basic example

- `/docs/guides/` <- trailing slash
- `/tutorial/part-zero/#install-git` <- trailing slash before hash #

but should ignore comments like:
[code]

### Affected files

- key `links:`
  - [www/src/data/sidebars/contributing-links.yaml](https://github.com/gatsbyjs/gatsby/blob/m

[2020-05-12 14:40] mifantwan commented on #9354
[code]

add this to layout.js.
I don't know if this is a good way ... it's just working on the latest version of Gatsby.

[2020-05-12 14:58] madalynrose commented on #24006
Hi @vstojkovski!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2020-05-12 15:02] dshubhadeep commented on #21995
Hi
I would like to work on `gatsby/src/query/queue.js`

[2020-05-12 15:20] viraf commented on #20558
I am facing the same issue. ping localhost does not work however 127.0.0.1 does work.

My environment is macOS 10.15.4
node 14.0

[2020-05-12 15:25] madalynrose commented on #24001
Hi there, @emmadigital! It looks like perhaps your conditional rendering should use the logical `&&` operator instead of `?`

see [example here](https://reactjs.org/docs/conditional-rendering.html#inline-if-with-logical--operator)

If that doesn't resolve your issue, it would be incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the

[2020-05-12 15:35] muescha opened #24019 "[Umbrella] Rename Zeit to Vercel"
*Note: please wait for classification of this issue from @gatsbyjs/learning before submitting PR*

## Description

Zeit is now renamed to Vercel.

Important renamings:

- ZEIT → **Vercel**
- ZEIT Now → **Vercel**
- ZEIT Smart CDN → **Vercel Edge Network**

## References

- [Vercel Banding Timeline](https://www.notion.so/Change-Timeline-fab7622780694753a92c0a396cea7eb6)
- [Vercel Branding FAQ](http

[2020-05-12 15:38] johno commented on #23815
Thanks for opening up an issue! Turns out that this is a problem with compatibility between `gatsby-plugin-mdx` and `gatsby-plugin-feed`. If you remove `gatsby-plugin-feed` your build _should_ succeed.

I'm curious what you're looking to achieve by passing props into an MDX document. This isn't a usecase we've considered (though it is technically supported). Perhaps you can try using frontmatter o

[2020-05-12 15:38] #23815 closed

[2020-05-12 15:38] madalynrose commented on #23995
Hi there, @JustFly1984! A [fix for this](https://github.com/gatsbyjs/gatsby/pull/23956) actually went out just yesterday! Try updating your Gatsby version and let us know if that fixes it!

If that doesn't fix it, to help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue

[2020-05-12 15:41] madalynrose commented on #23994
Hi @Blissfulair!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2020-05-12 15:54] johno commented on #23950
Thanks for opening up an issue @anindha!

The error you're seeing is a result of resolution from your gatsby-config. With themes, the resolution happens from a different directory/context. In order to fix this you can explicitly create a full path from the current directory using `path.join`.

[code]

[2020-05-12 15:54] #23950 closed

[2020-05-12 15:55] KyleAMathews commented on #22991
@slorber yeah sorry that's not something we want to support. We've deliberately stayed away from anything to do with meaningful ordering in `gatsby-config.js` from the get go as it causes a lot of confusion.

yeah that's the plan for now — we want to make it really easy for anyone to share recipes & have them be discoverable. In the short-term we're planning to add a markdown file in the gatsby-re

[2020-05-12 15:55] TylerBarnes commented on #23932
@JimmothySanchez you'll need to write a script to download them all and save them to disk as well. You can store them in a directory the same way they're stored on the server so the paths match up, then modify the paths in your nodes to point to them. `yoursite.com/wp-content/uploads/2020/01/image.jpeg` could be fetched and stored at `images/wp-content/uploads/2020/01/image.jpeg`, then in your nod

[2020-05-12 15:58] KyleAMathews commented on #22991
@MaciekBaron yeah this is definitely a pattern we want to support! Generators are a sub-class of recipes that you'd want to run over and over again with different inputs. The main blocker is adding input support in general — @johno wrote about how we're approaching this problem https://github.com/gatsbyjs/gatsby/issues/22991#issuecomment-625985760 — hopefully will have updates on this in the next

[2020-05-12 16:08] johno commented on #19980
Thanks for opening up the issue @laradevitt!

The problem that you're encountering is that you're using a page query in your blog post template but when you use it as an import and compose it into another component it's no longer top level. Page queries have to be at the top level in order to be run, so a directly rendered page or a template that's rendered from `gatsby-node`. If you want to perfo

[2020-05-12 16:08] #19980 closed

[2020-05-12 16:13] shrthnd commented on #23344
Appreciate the effort, @jasonbahl. This is going to be great. Please let me know if I can test or otherwise support this work.

[2020-05-12 16:18] vladar commented on #24008
СС @pvdz

[2020-05-12 16:23] iamdarshshah commented on #24019
@muescha Nice catch. Digging into it. Thanks

[2020-05-12 16:24] sumanthyedoti opened #24020 "Cache React library"
I am using [React-fullpage](https://github.com/alvarotrigo/react-fullpage) library. Currently, the library is getting into action with some delay of few seconds depending on bandwidth.

I need to **fetch this library on high priority and cache** it locally so the library comes into action quickly as page loads and consecutive page hits don't download the library again

Please help with a possible

[2020-05-12 16:29] muescha commented on #24019
oh - that was a draft, i updated it now...

[2020-05-12 16:31] muescha commented on #24019
please lets wait before some PR for a classification from @gatsbyjs/learning

[2020-05-12 16:32] iamdarshshah commented on #24019
Sure, Thanks for the quick update.

[2020-05-12 16:35] herecydev commented on #24020
Closing as duplicate of #24003

[2020-05-12 16:35] #24020 closed

[2020-05-12 16:37] herecydev commented on #24003
Out the box, I would expect your library to be bundled up and requested as a dependency of your pages. This will result in it being immediately requested and if you've set the `Cache-Control` headers correctly it will be cached forever.

Are you not seeing that behavior?

[2020-05-12 16:43] herecydev commented on #23998
Can you elobarate on what you're trying to achieve?

If you're trying to create different men pages you can try something like:

[code]

But I'm kinda guessing on what you're trying to achieve.

[2020-05-12 17:05] ezelohar commented on #23964
Hi @pvdz

I removed all plugins except contentful and issue still occur. I can assume it is related to the contentful.

Going further and trying to get it to work without contentful is pointless in my opinion, but if that can help, maybe I can do something.

What do you suggest?

[2020-05-12 17:21] humbertqz commented on #12801
It worked for me to switch http - https

`protocol: "http"`

[2020-05-12 17:24] madalynrose commented on #23990
Hi there, @notaduck! I'm sorry you're having this issue!

Unfortunately I can't reproduce this on my machine either. Could you provide any more information or reproduction steps?

[2020-05-12 18:11] muescha commented on #24010
is this the repo with the error?

https://github.com/kinnikumegane/myblog

[2020-05-12 18:17] herecydev commented on #22989
Related: #23901

[2020-05-12 18:18] MaciekBaron commented on #22991
@KyleAMathews Thanks for letting me know, will be exciting to use that later on!

[2020-05-12 18:35] Tooluloope commented on #5900
Clearing the site data worked.

[2020-05-12 18:41] richardbruskowski commented on #9979
@malcolm-kee No in my case the order in the `<head />` wasn't the cause. Instead, the social graph/SEO tags weren't server-rendered at all. Observing index.html in the public folder was more helpful than looking at the Facebook/Twitter debugger. I've had made some conceptual mistakes which led to a mismatch between SSR and Runtime, got help in spectrum.chat which made that clear: https://spectrum.

[2020-05-12 19:19] richardbruskowski commented on #9979
Can confirm that resolving the mismatch of SSR and Runtime solved the issue for me.

A little note: Both, the Twitter Debugger and the Facebook Debugger didn't immediately show results after publishing the fix, so probably better to rely on checking public/index.html if the social graph/search tags there appear for debugging.

[2020-05-12 19:37] richardbruskowski commented on #22908
I got some help on spectrum.chat ( https://spectrum.chat/gatsby-js/general/unable-to-generate-twitter-facebook-cards~852b7d81-b4fe-4843-8c6f-9917a3d5fb63?m=MTU4OTI5OTcwNTMwMw== ) and was now able to resolve the issue for me. The root cause was a mismatch between SSR and Runtime that I introduced some time ago and that led to the open graph meta tags not being rendered on the server side.

To solve

[2020-05-12 19:39] madalynrose commented on #23948
Hi there, @muescha and @capndave! I really appreciate the passion for accessibility!

That said, after consulting prior art around expand/collapse functionality, including the [WAI-ARIA best practices](https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html), I've found that `${title} expanded/collapsed` is how assistive technology interprets toggle button behavior using `aria-e

[2020-05-12 19:44] wesbos commented on #20082
For me it was changing `siteMetaData` to `siteMetadata` :)

[2020-05-12 19:51] muescha commented on #23948
thanks for the response,

i was not able to find with google how is the advices for aria, i will dig into your link for best practices :)

yes - the best is to be consistent with the standards

what this mean exactly? did you mean the `{0}` in the screenshot?

[2020-05-12 20:11] muescha commented on #24010
i found the error:

[code]

your template get processed one time more than expected: when it automatic reads the `pages` directory - and in this case there is no context with the variables.

the solution is to move the template out of the `pages` directory:

[code]

[2020-05-12 20:34] Kornil commented on #21995
@hiwelo Still working on `gatsby/redux/reducer/component.js`?
I've worked on `page-component` and it is quite related, let me know if I can help.

[2020-05-12 20:49] madalynrose commented on #23948
@muescha, yes! The `{0}` in the screenshot is where the title should appear. You can verify this without using a screen reader by using [Chrome's Accessibility Pane](https://developers.google.com/web/tools/chrome-devtools/accessibility/reference#pane) in its developer tools.

This is what that same element looks like in the accessibility pane:

![Chrome accessibility pane showing accessibility tre

[2020-05-12 20:54] 4lm commented on #23828
Maybe I found the reason for the trailing slash issue in the prefixed base path!

If I create a `gatsby-node.js` file in the root folder of the demo project [gatsby-bug-reproduction](https://github.com/hlolli/gatsby-bug-reproduction) and console log the page creation with `exports.onCreatePage = props => console.log(props)` (in a newly created `gatsby-node.js` life-cycle file) I can see, that:

-

[2020-05-12 21:01] TylerBarnes commented on #18689
fwiw @pristas-peter @pieh I believe I have wp-graphql-gutenberg working in the new WP source plugin now (and as a side effect sped up some parts of the build process by 20x). I should have a release out in the next little while.

[2020-05-12 21:02] muescha commented on #23948
thx - i did not know this pane before :)

[2020-05-12 21:04] #23890 closed

[2020-05-12 22:01] emmadigital commented on #24001
I have updated my code to below:

[code]

Can you check my build error, is this because of this condition. As I don't see it highlights this code but it talks about featuredimage, why the build fails.

Here is my repo: https://github.com/emmadigital/ardalis-newsite

[2020-05-12 22:05] awwit commented on #22070
@blainekasten problem is still not resolved.

But here's how to solve it: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-7.html#example-8

You will have to use one of the helpers: `__importDefault` or `__importStar`

And do not forget to specify in the `tsconfig.json`:

[code]

[2020-05-12 22:11] musicbyjing opened #24030 "Disable right click on images?"
I saw that you can set `linkImagesToOriginal` as false in order to not link to the image, but I'm wondering if there's a way to go a step further and disable right click on images completely.

I tried adding [this script](https://stackoverflow.com/questions/47076947/disable-rightclick-on-on-images/47076988) within a copied version of `html.js`, as mentioned [here](https://www.gatsbyjs.org/docs/cus

[2020-05-12 22:19] hiwelo commented on #21995
@Kornil I am not working in `gatsby/redux/reducer/component`. Afaik, this file is not assigned at the moment :)

(I worked on `gatsby/redux/reducer/static-query-components`, but I don't recall having a look at this one at all so far)

[2020-05-12 22:32] nandorojo commented on #18689
@pieh That's so exciting – thanks for the great work. Can't wait to use it.

[2020-05-12 22:49] pofallon commented on #23815
Thanks for the reply @johno!  The short version of what I'm trying to achieve is to make part of the template's `pageQuery` results accessible in the *.mdx file.  If there's a better way to do that in Gatsby, I'd be interested to learn that too!

Here's the longer, more specific version of what I'm trying to do:
- In my [blog project](https://github.com/pofallon/blog) I want to include YouTube pla

[2020-05-12 22:56] AmirYalamov opened #24033 "[gatsby-image] "TypeError: Cannot read property 'edges' of undefined" error when trying to use a queried image from a markdown post"
## Description

I've been working on this issue for the past day and a half and after going through every single solution I have found online I still can't seem to fix this issue. I am writing a personal website and I want to query an image from a Markdown blog post field. I followed the instructions on the Gatsby site here: https://www.gatsbyjs.org/docs/working-with-images-in-markdown/ but it doe

[2020-05-12 22:56] KyleAMathews opened #24034 "If there's no gatsby-config.js, verify that "gatsby" is installed in the local package.json to validate we're actually in a Gatsby site"
Interesting issue in general — how do we know if we're running a recipe in the right place. This will be easier from admin obviously as the experience is more controlled.

[2020-05-12 22:58] tesseralis opened #24035 "a11y (www): "View all posts" in homepage doesn’t get tab focus outline"
##  Description

The "View all posts" link in the Gatsby site homepage doesn't get focus when tabbed into.

### Steps to reproduce

1. Go to https://www.gatsbyjs.org
2. navigate using the TAB key until "View all posts" is selected

### Expected result

A visible outline should appear showing the element was selected.

### Actual result

No outline is visible.

<img width="1280" alt="Screenshot of

[2020-05-12 23:10] mpaccione opened #24036 "ACF Images Return Null"
Hello, I have a bug test repo here:
https://github.com/mpaccione/gatsby-debug

Just install and run develop, then go to 8000 and look in the textarea where I output stringified JSON of ACF Fields.

All of my ACF Fields are populated in the Wordpress site.

Here is the GraphQL

[code]

[code]

[2020-05-12 23:16] carlesnunez commented on #24035
I'd like to help in this one, can I?

[2020-05-12 23:20] tesseralis commented on #24035
@carlesnunez sure!

[2020-05-12 23:28] shannonbux opened #24037 "If a proposed change runs and *isn't* implemented for some reason, tell the user"
## Problem

It's important for users to know if something was successfully installed and *also* if it wasn't installed.

## Solution
We should communicate these statuses:

- success
- error
- nothing happened because it was already installed in the past

[2020-05-12 23:29] shannonbux opened #24038 "User can see proposed diff for past steps that included a diff"
## Problem

It seems that past steps, while visible, aren't leaving their diff visible. In a usability test we saw that users want to see the past diff to remember what the step actually accomplished.

## Solution
User can see proposed diff for past steps that included a diff. If the step didn't include a diff, no need to show anything more than we're already showing.

[2020-05-12 23:53] shannonbux opened #24039 "Users can see a list of all available recipes"
## Problem

Right now there is an increasing # of recipes by community members that aren't part of this directory https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-recipes/recipes

So there isn't one place someone can go to see a list of recipes they can run and get the URL for each recipe.

Eventually, too, we'll want to pull the list into Gatsby Admin and eventually eventually make

[2020-05-13 00:10] carlesnunez commented on #24035
Thank you so much! It's done, let me know if I have something else to do!

[2020-05-13 01:13] #24035 closed

[2020-05-13 01:21] linxianxi commented on #23998
If I have 10,000 products, this is going to create 10,000 pages, is that good？

[2020-05-13 02:27] starrett67 opened #24041 "Can I cache app-data.json?"
## Summary
app-data.json is hitting s3 rate limits during peak hours. I wonder what would happen if I applied some caching
## Relevant information
So basically we are seeing some 503 (slow down) origin responses during times of heavy traffic. We have strictly followed the caching guidelines here: https://www.gatsbyjs.org/docs/caching/ but we want to start caching this file for a bit to avoid hitti

[2020-05-13 02:56] tracy-liucui commented on #23896
@pvdz Sorry but can you take a look at the reproduction repo, thanks

[2020-05-13 03:44] JustFly1984 commented on #23995
@madalynrose  I can't create a reproduction, since I got only single error in logs in Sentry in single project from many. I will update gatsby.js to the latest version in all my projects and will look if it repeats in logs

[2020-05-13 03:45] carrotderek commented on #21995
I'd love to start contributing! I can pick up `C:\Development\gatsby\packages\gatsby\src\redux\reducers\page-data-stats.js` to get my feet wet.

[2020-05-13 03:58] sumanthyedoti commented on #24003
I am using `gatsby-plugin-htaccess` plugin with custom rules
[code]

Does this do the job?

[2020-05-13 05:20] Blissfulair commented on #23994
Thanks @**madalynrose**
I have solved the problem using localstorage but I am not sure if this is the best solution anyway

[2020-05-13 05:24] me4502 commented on #23627
Basically the contentful plugin appears to be creating nodes that recurse for rich text fields. Eg, If I have a rich text field that links to a page containing another rich text field that links to another page, the node for that rich text field will contain the entirety of the two other pages. So we added a maximum recursion depth for rich text fields, preventing it becoming too large. In our cas

[2020-05-13 05:39] GodaProjects commented on #23969
This is super... let me check this out.....

[2020-05-13 05:49] abdokouta opened #24043 "Subdomain"
hello, i would like to create a subdomain like my.example.com for customer account pages in my app and i would like upon login or upon click on my account button it should navigate to my.example.com and serve all account pages like 10 to 15 pages under this subdomain, i have read the path prefix but path prefix not dealing with subdomain it's dealing with subdirectories, any references or help on

[2020-05-13 05:55] wardpeet commented on #23994
Hey @Blissfulair,

What data are you fetching with axios? It seems like, it's better to opt into the datalayer gatsby provides. If you want to read more about how to configure gatsby to load your data into the datalayer, here are some resources:
- https://www.gatsbyjs.org/docs/creating-a-source-plugin/
- https://www.gatsbyjs.org/docs/data-fetching/
- https://www.gatsbyjs.org/docs/content-and-data/

[2020-05-13 05:55] #23994 closed

[2020-05-13 06:08] wardpeet commented on #24003
Hey @sumanthyedoti,

Have you looked at https://www.gatsbyjs.org/docs/caching/? You'll have to setup something along these lines, I haven't tested it.

It should be already setup that way if you use `gatsby-plugin-htaccess`. Maybe drop the custom rules? If you can share a URL that would be helpful.

[code]

We're marking this issue as answered and closing it for now but please feel free to reopen

[2020-05-13 06:08] #24003 closed

[2020-05-13 06:21] wardpeet commented on #24030
Hey,

i'm not 100% sure why you would like to do this but you can add this snippet to your website. Just note that people will still be able to download your pictures. It's also not user friendly.

[code]

I would recommend disabling hotlinking instead.
https://www.google.com/search?q=hotlinking+protection
https://www.google.com/search?q=disable+hotlinking

Thank you for opening this, @musicbyjing

[2020-05-13 06:21] #24030 closed

[2020-05-13 06:27] mateustav commented on #23995
Any luck, @JustFly1984? I was facing the same issue before updating gatsby from v2.21.11 to v2.21.24. Now I get a blank page instead, and the following console errors:
`Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

![Error](https://user-images.githubusercontent.com/8979428/81778614-0eaf2f80-94a8-11ea-888a-c2a56f4f0719.png)

[2020-05-13 06:27] wardpeet commented on #24037
@shannonbux, this sounds a little bit vague. Where do you want these messages to pop up? Maybe a screenshot with some pointers could help here?

[2020-05-13 06:32] wardpeet commented on #24036
I'm adding some extra information to the ticket

In console while running I see:
[code]

This is the ACF content:
[code]

[2020-05-13 06:38] wardpeet commented on #24041
We recommend that you do not cache app-data. It might bring your site into a weird state. 10 seconds sounds reasonable and probably won't cause much harm.

The question is why does it get requested so many times? You might want to move to cloudfront as a cdn. You can than let cloudfront cache app-data until a new version is uploaded.

We're marking this issue as answered and closing it for now but

[2020-05-13 06:38] #24041 closed

[2020-05-13 06:39] gndx commented on #17725
Thanks @devboldly

[2020-05-13 06:42] wardpeet commented on #24033
Hey @AmirYalamov,

Seems like `projects.js` is not entirely correct.

Try this
[code]

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-05-13 06:42] #24033 closed

[2020-05-13 07:07] jbFeDev commented on #23466
@gusbmurphy I have the same question, and I think it's a good question. I was able to use ImageSharp and gatsby-image within my project without any problem, but when I switched to Cloudinary media library, I also get plain absolute urls to the images (which are fun). But now we should be able to process them the same way as gatsby processes relative images in markdown. I also hope there will be an

[2020-05-13 07:31] wardpeet commented on #24043
You'll have to create 2 gatsby sites. 1 that works on `example.com` and another one that works on `my.example.com`. You don't need any special `pathPrefix` settings.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-05-13 07:31] #24043 closed

[2020-05-13 07:38] wardpeet commented on #24004
I didn't see your overflow fix yet in the inspector. I do see this:
![safari](https://user-images.githubusercontent.com/1120926/81784657-7a6fb780-94fd-11ea-8906-432e01877cdc.png)

I think this is slightly tangential to Gatsby, and it seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or

[2020-05-13 07:38] #24004 closed

[2020-05-13 07:41] PaulieScanlon commented on #22991
Hey all, i've been tinkering with a Google Analytics Recipe and encountered a small issue when using `<GatsbyPlugin />` with `options`

The following prevents the plugin being correclty added to the `gatsby-config` plugins array

[code]

This however **does** work as expected

[code]

There seems to an **issue** with the use of _underscores_ in strings.

For reference here's the `gatsby-plugin-goo

[2020-05-13 07:44] #24010 closed

[2020-05-13 07:46] freiksenet commented on #24000
You can use schema customization for this. See this [guide for adding foreign key fields](https://www.gatsbyjs.org/docs/schema-customization/#foreign-key-fields) with it.

[2020-05-13 07:47] #24000 closed

[2020-05-13 09:31] notaduck commented on #23990
@madalynrose  It looks like there was some version mismatch somewhere, but a user on Gatsby's discord server helped me out.

[code]

But I've to admit that I still don't know what went wrong since my system packages seems to be using the same versions

[code]

[2020-05-13 10:32] pieh commented on #23988
I'm not sure if using `md5` was very intentional for those cases (other than being very well known and established).

Do you know what hashing algo is used by `webpack` to create hashes for assets it emits? Our usecase is very similar, because we don't really use it for cryptographic purposes but mostly as a way to identify some changes (used when we compare hashes) or to "communicate" content cha

[2020-05-13 10:35] minhtanpham opened #24046 "Can't update the config.yml for gatsby-plugin-netlify-cms"
## Description

I am using the `gatsby-plugin-netlify-cms` plugin to work with Local NetlifyCMS on my computer.
1 month ago, I completed basic setup and running NetlifyCMS. However, today my Gatsby project changed the structure as well as updated the new collection, so I updated my `config.yml` file.
However, after the update is finished, I run `gatsby-develop` and all my updated content is revert

[2020-05-13 10:41] pieh commented on #23988
Things for us to consider I guess are collision characteristics and length of generated hashes for the algos you mentioned

[2020-05-13 10:44] pieh commented on #23988
For the performance part - I don't think I ever looked specifically into that, but worth doing profiling build ( https://www.gatsbyjs.org/docs/debugging-the-build-process/#chrome-devtools-for-node ) and record cpu profile and look up how much of the build is spend on generating those hashes (so look for `crypto` calls there). It will not be 100% accurate because just attaching debugger does change

[2020-05-13 11:03] freiksenet commented on #24008
I'm not 100% sure what result you are looking for. This output is correct - the filter applies to the top level `lists` item, so it sees a correct category as one of the elements and returns that parent item. It won't do filtering of the internal list.

I wonder if you can provide a fuller reproduction with both the working and not-working query. Thank you!

[2020-05-13 11:18] maxkoretskyi commented on #23791
@ascorbic , got it working, awesome, appreciate your help! Last quick question, is there any way to access nodes storage (context.nodeModel in resolvers) in a runtime, from component through redux maybe?

[2020-05-13 11:38] zheeeng opened #24049 "How to add inline script to html head before React rendering?"
I want to execute some inline script to add the operation system info as the classname to HTML element. It is used to hide/display some download buttons under different OS.
I used offline-plugin, enabled prerendering and the service worker.

Can I have a chance to execute the script as soon as possible before React rendering? The `ComponentDidMount` lifecycle happens too later for adding OS classn

[2020-05-13 11:38] herecydev commented on #23998
Depends on your view of good. If you're statically creating 10k pages then the user experience will be blazingly fast. That's the core of what makes gatsby so fast. Of course, you have to make the tradeoffs in your achitecture, i.e. what happens when a product's price changes.

What are you trying to achieve, do you want the product pages to be statically built?

[2020-05-13 12:07] wardpeet commented on #24046
Hey @minhtanpham, I think you forgot to add the repository :)

[2020-05-13 12:17] idleberg commented on #23923
No, but maybe I'm not imaginative enough to think of a useful use-case

Sounds good to me, especially with callbacks working

Overall, I'd like to thank you for the positive response! In the meantime, I've managed to implement a workaround in Helmet. But of course, simpler is better.

[2020-05-13 12:19] wardpeet commented on #24049
There are a few things you can do:
1) you can modify `html.js` to include your snippet. https://www.gatsbyjs.org/docs/custom-html/
1) You can use https://www.gatsbyjs.org/docs/ssr-apis/#onPreRenderHTML to add your script tag to the dom
1) Use https://www.gatsbyjs.org/docs/browser-apis/#onClientEntry, it's executed right before we do the client render.

We're marking this issue as answered and clos

[2020-05-13 12:19] #24049 closed

[2020-05-13 12:21] minhtanpham commented on #24046
Hi @wardpeet, thanks for your reply. Here is my configuration for the repository in the top of my `config.yml`

[code]

Is that the part you think I am missing?

[2020-05-13 12:24] wardpeet commented on #24046
Hi,

No I mean a link to the github repository so we can checkout what the issue could be. It's hard to actually see where the bug lies without a repository.

[2020-05-13 12:27] wardpeet commented on #22655
Thanks so much for opening this issue! As stated, this is slightly tangential to Gatsby, and it seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby 💪

[2020-05-13 12:27] #22655 closed

[2020-05-13 12:28] wardpeet commented on #23343
Thank you for opening this, @nikita-seliverstov

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-05-13 12:28] #23343 closed

[2020-05-13 12:30] wardpeet commented on #22920
Hey @saadaouad ,

I'm going to close this issue as it's not a Gatsby issue. Please reach out on https://gatsby.dev/discord or open a new issue with additional information.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-05-13 12:35] wardpeet commented on #23973
It can be reproduced with https://github.com/gatsbyjs/gatsby/tree/master/examples/using-emotion

Thank you!

[2020-05-13 12:36] rebwill commented on #17460
Same issue for me as well.

Steps to reproduce:
- installed gatsby cli `npm i -g gatsby-cli`
- created new gatsby project `gatsby new gatsby-site`
- `cd gatsby-site`
- tried to start hot reloading environment `gatsby develop`

Expected behavior:
- launch hot reloading environment at http://localhost:8000

Actual behavior:
- result of running `gatsby develop`:

[code]

Any recommendations on how to

[2020-05-13 12:36] wardpeet commented on #22822
@blurr83 mind telling us what you did exactly? Like a before and after so we can update our documentation?

[2020-05-13 12:42] LekoArts commented on #23927
Hi!

Can you ugprade the CLI to the latest version (re-run `npm install -g gatsby-cli`)? I tried it in my playground folder and it works.

However, your error indicates that you didn't run `gatsby new` but something in the realms of `gatsby new <some-code>`. Because when I run `gatsby new .` it throws a similar error:

![image](https://user-images.githubusercontent.com/16143594/81813537-e0713480-9

[2020-05-13 12:52] minhtanpham commented on #24046
Thanks for your goodwill @wardpeet . I understand it is difficult to know where the cause is, but this is a private project and I cannot share it publicly. There is an information I hope will be useful.

Currently integrating NetlifyCMS into Gatsby I have only done on the develop branch, so the file `cofig.yml` does not exist on the master branch yet.

Anyway, thank you very much for the reply. I

[2020-05-13 13:06] art0rz commented on #24008
### This output is correct - the filter applies to the top level lists item, so it sees a correct category as one of the elements and returns that parent item. It won't do filtering of the internal list.

That makes sense, but not exactly what I expected. I expect this query to return what I am getting now:
[code]
But that fails because `elemMatch` is not available on that element.

Not sure I can

[2020-05-13 13:28] ndglover commented on #16281
@KunalBurangi - this worked for me when using version 2.17.54.

Since updating to the gatsby 2.21.27 it is no longer an issue for me and doesn't require any workarounds.

[2020-05-13 13:28] wardpeet commented on #7628
Can you still add a small reproduction so we can test this without having to setup a test case ourselves?

[2020-05-13 13:32] josswright commented on #8563
@fk: Apologies for an off-topic comment in an old thread, but what is the serif font used in the normal text in the images above? I can't quite place it, and it's beautiful.

[2020-05-13 13:34] wardpeet commented on #23909
I saw the following inside the cli:
[code]

This means your category doesn't have a consistent type. You should move everything to an array instead so `"personal"` becomes `["personal"]`

[2020-05-13 13:35] wardpeet commented on #23909
Thank you for opening this, @emmadigital

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-05-13 13:35] #23909 closed

[2020-05-13 13:37] wardpeet commented on #22983
@JustFly1984 thanks for following up but without a reproduction, we can't come to a solution. If no reproduction can be provided we should let this issue get closed by stale bot.

[2020-05-13 13:38] fk commented on #8563
@josswright 👋 No need to apologize, no worries! 🤗
(Thank you for bringing back some nice memories!)

That serif font is [Spectral](https://fonts.google.com/specimen/Spectral) by [Production Type](https://www.productiontype.com/) (for Google). More info here:

- https://design.google/library/spectral-new-screen-first-typeface/
- https://spectral.prototypo.io/

[2020-05-13 13:41] wardpeet commented on #22855
@dsanderson90 could you elaborate what problem you're seeing?

[2020-05-13 13:52] saadaouad commented on #22920
@wardpeet this is a Gatsby issue and it's related to Gatsby navigation.
This happened when I upgrade Gatsby to the recent versions.

[2020-05-13 13:54] dsanderson90 commented on #22855
Unfortunately I can't reproduce the bug because I rebuilt the project, force pushed and erased the history of the repo :( Here was the behavior - when I would run gatsby develop or build I was seeing an old GQL query and and console.log that had been removed from `gatsby-node.js`. I tried clearing the cache with gatsby clean, removing node_modules/reinstalling, and deleting the lock files all to n

[2020-05-13 14:01] saadaouad commented on #22920
@wardpeet first it was giving me `Uncaught TypeError: Cannot read property 'getElementsByTagName' of null` error, and once this has been fixed on https://github.com/gatsbyjs/gatsby/pull/23196 I'm getting right now a blank page https://recordit.co/8RMBYzPo2N without any error on the console.

[2020-05-13 14:04] dehamzah commented on #22920
hi @saadaouad i see the record is the production build. did it work in development?
and are you using client side navigation there?
can you provide minimal example in https://codesandbox.io/ so that we can debug it. the video recording is not too helpful if we cannot see the actual code and error message.

[2020-05-13 14:06] JustFly1984 commented on #23995
I can't deploy to staging yet, waiting for PR review before deploy. Will look at Sentry logs. Possible tomorrow.

[2020-05-13 14:08] #23298 closed

[2020-05-13 14:10] saadaouad commented on #22920
Hi @dehamzah, yes it's a production build, it works well in development env and we are using client side navigation.
I think this is more related to the cache since when I refresh the page using production env it works well.

[2020-05-13 14:17] MotaZor94 opened #24057 "pathPrefix being ignored"
## Description
Hi, guys, I am trying to build and serve my gatsby application with path prefix `/live`.
After I ran the update my application is ignoring the prefix during build and during gatsby serve with --prefix-paths flag.

Describe the issue that you're seeing.

### Steps to reproduce

1. Create

module.exports = {
  pathPrefix: `/live`,
  siteMetadata: {
    title: "test",
    description:

[2020-05-13 14:21] jasonbahl commented on #24036
@mpaccione I have 2 things to try can you change your image field in ACF to output the "image array" instead of the "image URL"?

![Screen Shot 2020-05-13 at 8 10 10 AM](https://user-images.githubusercontent.com/1260765/81824079-4c38aa80-94f2-11ea-8460-6036d4b60ee9.png)

This will change your WP REST API to output full objects instead of just the url:

**Before**:
![Screen Shot 2020-05-13 at 8 09

[2020-05-13 14:44] wardpeet commented on #22594
I'm going to close this thread, please re-open new issues if you have any problems.

Please checkout https://www.gatsbyjs.org/docs/debugging-html-builds/ for more information.

[2020-05-13 14:44] #22594 closed

[2020-05-13 14:44] emmadigital commented on #23909
@wardpeet thank you for your response, can you please explain where do i need to make these changes insise confi.yml file?

[code]

[2020-05-13 14:50] #24057 closed

[2020-05-13 14:52] #10178 closed

[2020-05-13 14:59] josswright commented on #8563
Wonderful. Thank you so much!

[2020-05-13 15:07] wardpeet commented on #19618
@barbalex could you share your site with us? If it's private send an email to ward@gatsbyjs.com.

I'm getting this error on your site when I debug it
[code]

Stacktrace:
[code]

[2020-05-13 15:07] muescha commented on #24010
please tell me if my solution works for you.

feel free to reopen this issue, when it is not solved

[2020-05-13 15:13] wardpeet commented on #23694
@stevemarksd Could you create a reproduction inside gatsby? As in a small git repo?

[2020-05-13 15:15] barbalex commented on #19618
The site is:
- https://vermehrung.ch
- https://github.com/barbalex/vermehrung
- you can even log in using the password sent in mail

The site is in development. So you can even edit data.

[2020-05-13 15:23] wardpeet commented on #23062
You probably want to make sure only one grapqhl version is inside your project.

try running
[code]

If you have multiple, please use [yarn resolutions](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/) or remove your lock file and node_modules.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to contin

[2020-05-13 15:23] #23062 closed

[2020-05-13 15:31] jack0wsky commented on #23062
For those who will face with this issue, I found out that you simply need to install older version of GraphQL. In my case, I had to install ```graphql@^14.6.0``` instead of 15.0.0 version.

[2020-05-13 16:01] wardpeet commented on #23410
Repro is gone :'( How big is the tif? Maybe that's part of the issue?

[2020-05-13 16:07] wardpeet commented on #22908
I'm going to close this as it looks like a user issue rather than a Gatsby error. Make sure you don't use clientside only paths.

Thanks so much for opening this issue! As stated, this is slightly tangential to Gatsby, and it seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment

[2020-05-13 16:07] #22908 closed

[2020-05-13 16:58] Md-Abdul-Halim-Rafi commented on #20159
I am unable to create multiple nodes in my case :

[code]

my homepageContent will look like :
[code]

[2020-05-13 16:59] 8shaks opened #24063 "Favicon not showing up on mobile"
## Description

I notice once I change the favicon files in the static folder, the icons no longer work on mobile but still works on desktop. Instead in mobile I just get a letter.

### Steps to reproduce

Cloned the gatsby ghost starter repo.
Replaced the favicon files in the static folder within client with my own favicon files.
Added a node server to serve the static pages.

[https://github.com

[2020-05-13 17:33] melanieseltzer commented on #23927
@LekoArts Upgrading the cli seems to have worked, although I did install it fresh 5 days ago 🤔 Weird, but yes it's working! I can run `gatsby new` anywhere.

[2020-05-13 17:45] wardpeet commented on #22590
Seems like our robot didn't work

Please keep in mind that I’m only a robot, so if I’ve closed this issue in error, I’m HUMAN_EMOTION_SORRY. Please feel free to reopen this issue or create a new one if you need anything else.
As a friendly reminder: the best way to see this issue, or any other, fixed is to open a Pull Request. Check out gatsby.dev/contribute for more information about opening PRs,

[2020-05-13 17:45] #22590 closed

[2020-05-13 17:49] moonmeister commented on #23923
It's not just you, I can't think of a useful use case for converting png either. :upside_down_face:

[2020-05-13 17:52] wardpeet commented on #23539
Hey,

https://www.gatsbyjs.org/packages/gatsby-source-contentful/#configuration-options has an option called `useNameForId` that is set to `true` by default. If you set it to false, your bug will be fixed.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank y

[2020-05-13 17:52] #23539 closed

[2020-05-13 17:58] wardpeet commented on #23203
@abmagil, this could slowdown the process by a ton and seems like a niche use case. Thanks for the feedback, I'll share it with the team!

[2020-05-13 17:58] #23203 closed

[2020-05-13 18:00] wardpeet commented on #22419
Hi!

If things I private, you can always reach out on ward@gatsbyjs.com

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd ve

[2020-05-13 18:10] ishan0445 commented on #10870
Just like @martynhoyer suggested, I have removed the extra space from the <p> tag inside <li>.
[code]

[2020-05-13 18:20] kasonde opened #24064 "Gatsby Source Graphql bug when using a variable"
## Description

Currently the bug shows up whenever I try to use the 'pathContext' that's passed to the template props for a graphql query. Specifically the id property inside the pathContext. If I replace this with an ordinary string, it works. Without it however, I see the bug

### Steps to reproduce

Here's my gatsby-node
[code]

Component:
[code]

Response:
<img width="1101" alt="Screenshot 20

[2020-05-13 18:36] rebeccapeltz commented on #9121
I'm using a starter project that uses `gatsby-plugin-emotion`, but seeing that content is rendered unstyled for a second or 2.  I tried installing the `gatby-plugin-styled-components` on top of that and it didn't seem to have any effect.  Would the `emotion` plugin interfere with this? The starter errors out when I switch everything to `styled-components` as they're using some `emotion` features.

[2020-05-13 18:36] shannonbux commented on #22991
Hey folks I know this isn't just about recipes; just thinking that many of you might also be interested in Gatsby admin and how recipes will operate in that interface. So thought it'd be worth sharing this:

## Want to come propose some designs for recipes in Admin?
Come to a community sketching exercise for Gatsby Admin dashboard!

Please [fill out this 2 question survey](https://www.surveymonkey

[2020-05-13 18:40] PaulieScanlon commented on #22991
Hey @shannonbux, i have something more than a sketch, it's a built prototype kind of thing. Would this also be of value?

[2020-05-13 18:46] #23679 closed

[2020-05-13 19:10] rayronvictor commented on #24007
I created an example that should fetch the name of the repository "facebook / relay" on Github using the [Github GraphQL API](https://api.github.com/graphql). You will need to generate a personal token and add `REACT_APP_GITHUB_AUTH_TOKEN=YOUR_TOKEN` to your `.env`

https://github.com/rayronvictor/gatsby-relay-example

I'm using [`gatsby-plugin-create-client-paths`](https://www.gatsbyjs.org/packag

[2020-05-13 19:46] gillkyle commented on #23952
Closed by #23944

[2020-05-13 19:46] #23952 closed

[2020-05-13 19:59] vickywane commented on #9121
@rebeccapeltz i really would suggest you stick to either emotion or styled-components. I figured out some styling bugs only pop up after you run build.

Your comment wasnt 100% clear. Do you have the styling error?

[2020-05-13 20:20] jasonbahl commented on #23344
@shrthnd I have a PR with a lot of initial work on this including heaps of tests.

check it out: https://github.com/wp-graphql/wp-graphql/issues/1308#issuecomment-628224050

[2020-05-13 20:21] wardpeet commented on #21701
Let me sketch the problem here a bit. When gatsby loads on  page, the next navigation will be a client side navigation. So, no page refresh. We try to load a page-data.json file for each URL. If it doesn't exist it will return a 404. When people use matchpaths, this fails and we need to know what the rootPath is. That's why matchpaths exists.

If we kept doing a page-data fetch that could result i

[2020-05-13 20:24] wardpeet commented on #23358
@starrett67 it's the same bug as #21701. I'll close this one and move the conversation there.

[2020-05-13 20:24] #23358 closed

[2020-05-13 20:24] pvdz commented on #23964
Yeah I understand that. The point would be that I could more easily repro and play with it here, rather than rely on an external data source. But I also understand that it's tedious to get there.

My best suggestion is that we pair up so you can help me poke around in your repro :)

[2020-05-13 20:25] #15397 closed

[2020-05-13 20:26] pvdz commented on #23627
Maybe creating arrays for each type isn't all that bad and still a viable way forward. But I'll have to run some scaling perf tests to verify this. I'll keep this on the back of my mind. You may currently not be blocked by this, but this is definitely an issue in the back of my mind.

I feel like, if nothing else, we should try to explicitly pick `PageData` type nodes, since those are generically

[2020-05-13 20:52] kershnerd opened #24072 "Routes on Netlify not working quite right... capital letters?"
I have a very simple app running correctly locally but a few routes don't work when deployed to Netlify.

These routes work:
[code]

These routes do not work... they show an empty page with no errors in the console:
[code]

I don't have any redirects and all routes are just automatically created from:
[code]
... etc

One interesting thing I noticed is that for some reason putting on a trailing '/'

[2020-05-13 21:23] #23386 closed

[2020-05-13 21:24] nfornadim commented on #23386
Thank you

[2020-05-13 21:24] bostrom commented on #10668
Gatsby has some useful information on how to tweak the Storybook config to make it work https://www.gatsbyjs.org/docs/visual-testing-with-storybook/.

However, since Storybook's config files have changed in version 5.3, and Gatsby's documentation isn't up to date yet, the stuff they say should go into `./storybook/config.js` should actually go into `./storybook/preview.js`. And the things they say

[2020-05-13 21:53] KyleAMathews commented on #22991
@PaulieScanlon what did you build??

[2020-05-13 22:06] capndave commented on #23948
Madalyn - what a great and thorough insight/explanation! I'll make the
changes you suggested to this pr and open a new one for the item.table
issue with aria-label. Best, -Dave

On Tue, May 12, 2020, 2:39 PM Madalyn <notifications@github.com> wrote:

[2020-05-13 22:08] kinnikumegane commented on #24010
Hello @muescha

thanks a lot for your support, and your support worked !!!

What I have done is to create 'blog-list-template.jsx' file under `templates` directory.
And, deleted `index.jsx` under `pages` directory.

Here is revised code;

blog-list-template.jsx
[code]

gatsby-node.js
[code]

[2020-05-13 22:22] muescha commented on #24010
great.

thank you for the status update.

[2020-05-13 22:28] muescha commented on #23948
Did I see it right in the linked ARIA page with the acordeon that the button just had no aria title because the title is already in the DOM as an element and then the label is redundant?

[2020-05-13 22:36] agamm opened #24074 "How do I use nested component directories?"
## Summary
I'd like so separate the components that are related to different pages (with different layouts for example).
For example, let's say I have a landing page with vastly different layout strucutrte than a conrol panel. So I'd like to move the control components to a different directory like so:
![bla2](https://user-images.githubusercontent.com/1269911/81872661-d92b4480-9582-11ea-8376-80843

[2020-05-13 22:38] emileber commented on #10668
@bostrom The problem exposed in this issue is not about the outdated Storybook config documentation, but about a dependency version mismatch between Storybook and Gatsby, making it impossible to import anything from the `gatbsy` module (e.g. `import { Link } from 'gatsby';`) in a component that's used in a story.

If you're **not** importing `gatsby` in a component used in a story, then it works w

[2020-05-13 23:22] mpaccione commented on #24036
Hi again Jason, thanks for your help,

In wanting to debug this I am experiencing some strangeness... I went and created an image gallery field. Populated one post with the gallery field but it doesn't show on the graphql inspector.

Do all posts need to have the field populated for it to show in the graphql inspector?

[2020-05-13 23:33] vcarl opened #24075 "[gatsby-remark-prismjs] Bake prism highlighting into static html"
## Summary

PrismJS highlighting (especially in MDX) produces extremely noisy output. On pages with a large number of code snippets, this means `page-data.json` will be bloated with unnecessary information.

Consider this code snippet:

[code]

The resulting mdx `body` property for an otherwise empty document with prism highlighting (stripped of leading helper functions) is

[code]

This is substa

[2020-05-13 23:56] rebeccapeltz commented on #9121
I removed the `styled-components` code so it's just `emotion`.  In this video I refresh several times and you can see a flash where it shows the page unstyled content and even the icons are rendered unstyled. I like this starter and I'm glad to find this problem so I can better understand how to make this work.  I don't see this problem running the app locally so it's something to do with the serv

[2020-05-14 00:01] shrthnd commented on #23820
I have some change blindness when it comes to working on Github? This is ready for review when you have a moment: #24077

[2020-05-14 00:10] rchrdnsh opened #24078 "UNHANDLED REJECTION Invalid options object. React Refresh Plugin..."
Updated to the latest version of gatsby and am getting this error trying to run develop mode:

[code]

no idea what's going on here.

Here is the Info report:

[code]

[2020-05-14 00:19] KyleAMathews opened #24079 "Remove current/new states from plan — describe & diff are the only ones used"

[2020-05-14 00:29] vickywane commented on #9121
Hi,

Did you add the plugin to your `gatsby.config.js` file as stated here https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/ ?

You also need to install `babel-plugin-styled-components` alongside the `styled-components-plugin`.

[2020-05-14 01:00] jjato commented on #24004
Hey @wardpeet , thanks for having taken a look at the issue.
Which version of Safari are you using? I'm on Catalina, and I still have the issue, same by using an iPad and on another laptop using Catalina as well.

I haven't published the overflow fix but I'll do it today. It's a bit of a hack but it seems to fix it...

[2020-05-14 01:35] emmetthannigan opened #24081 "gatsbyjs.org/creators/ crashes when using the "Skip to main content" button"
## Description

The gatsbyjs.org/creators/ site works as expected, but crashes when the user uses the tab "skip to main content button". The broken link is: https://www.gatsbyjs.org/creators/#reach-skip-nav

### Steps to reproduce

1. Go to www.gatsbyjs.org/creators/
2. Press "tab" on your keyboard
3. Click the "skip to main content" button

### Expected result

The page would skip to the main con

[2020-05-14 01:55] shrthnd commented on #23320
How about a variation of the existing Pullquote component, which looks like this:

![image](https://user-images.githubusercontent.com/25191/81883068-4aa6cb00-9562-11ea-8b2f-6e06987fee61.png)

[2020-05-14 02:06] jackmorrison12 commented on #17892
@aikodeio I'm having the same problem - what path did you change the `/bad-module/` to in your `gatsby-node.js` file?

[2020-05-14 02:25] stevemarksd commented on #23694
I can't reproduce, but I'm pretty sure is because I had some @material-ui/styles included twice. (I have a common repo and the website repo, both had that node_module) I fixed by putting a resolver in webpack.

[2020-05-14 02:25] #23694 closed

[2020-05-14 02:30] carlaiau commented on #10161
@shendriksza you're a life saver! I'm developing with around 20K thumbnails

[2020-05-14 03:42] jeffkershner commented on #24072
So apparently routes nested in folders doesn't work?

When moving the `/src/pages/about/index.js` to `/src/pages/about.js`, all routing issues are fixed.

[2020-05-14 03:48] #24072 closed

[2020-05-14 03:52] LekoArts commented on #23927
Awesome!

[2020-05-14 03:52] #23927 closed

[2020-05-14 05:30] aikodeio commented on #17892
@jackmorrison12 I don't know if it's late, but I will share my code that solved this problem:

my gatsby-node.js :

[code]

[2020-05-14 05:51] PaulieScanlon commented on #22991
Hey @KyleAMathews thanks for your interest. I'll do my best to explain.

I've built a few things over the last 6 months, each of them are very focussed on one very small area pertaining to Gatsby projects. I should point out i've developed these prior to knowing about the upcoming Gatsby Admin proposition so they may not be at all aligned with your vision.

The first project i'd like to introduce

[2020-05-14 06:37] tmkasun commented on #19155
Hi @satvikpendem,

 Did you find a way to achieve this requirement, I too want to change the `prismjs` theme based on user theme preference dynamically in the run time ?

Can you please share a method if you found any

Thanks
~Kasun

[2020-05-14 06:39] johnnyoshika commented on #19064
Same problem happened to me as soon as I installed `gatsby-plugin-sass` and `node-sass`. If I rolled back those installs, it worked fine, so the problem clearly had something to do with using plugins. To solve this, I deleted `yarn.lock`, `package-lock.json`, `node_modules`, then re-installed everything via `npm install` and it worked again.

[2020-05-14 06:46] bostrom commented on #10668
Ok, maybe I misunderstood the original issue, but I faced the same error as @pdeka when importing components from `gatsby` and thought I'd share a workaround provided by the Gatsby documentation, which clearly states

But maybe this is about that very issue, i.e. that we have to do a workaround for it, and it doesn't work out of the box.

But nevertheless, that piece of documentation helped me get

[2020-05-14 07:08] kasonde commented on #24064
I've just now read in the cmd 🤦🏾‍♂️:
[code]
I was using a static query with variables and not a page query. My bad. I'll close this now.

[2020-05-14 07:08] #24064 closed

[2020-05-14 07:32] LekoArts commented on #24074
Thank you for opening this!

I'm not sure how this is specific to Gatsby, it will surely work with it. I suggest asking your general React questions in places like SO or Reactiflux. Thanks!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.g

[2020-05-14 07:32] #24074 closed

[2020-05-14 07:39] wardpeet commented on #24004
I'm using browserstack as I'm not on a mac which should be the same as a real device. I'm testing on safari 13 (Catalina). Also tested on iPad 7th generation on safari and also worked 😬

[2020-05-14 08:17] wardpeet commented on #22920
I'll re-open but without a proper reproduction we won't be able to tackle this.

[2020-05-14 08:28] freiksenet commented on #16840
@jameesy Please don't unpin issues in this repository.

[2020-05-14 08:47] #23482 closed

[2020-05-14 08:56] erezrokah commented on #24046
Thanks for assigning me @wardpeet.
@minhtanpham, I'm sure what "revert to old version" means? Does the file changes locally to a previous version or that the file remains the same but the changes are not reflected in the CMS?
If changes are not reflected in the CMS, how are you accessing it? Via localhost or the published site? Can you share the site URL?
If accessing the site locally can you prov

[2020-05-14 09:17] pmarxbraun commented on #13949
Hey @DSchau @daydream05

My Gatsby [site](https://fehrgroup.com) has a performance score of 35 on Lighthouse... which is really not what I expected.
Here's the [report](https://googlechrome.github.io/lighthouse/viewer/?gist=be1f9ada331f56b3bb3c4e0411ccbdd8)

I reckon Tawk.to script is not doing any good but it seems that other improvements should me made. But I can't quite figure out what to do ..

[2020-05-14 09:31] minhtanpham commented on #24046
Hi @erezrokah, I mean all my changes on the `admin / config.yml` file have been changed and reverted back to its previous version. I cannot setup an example repo right now for you. However, I will send you my `cms.js` and `gatsby-config.js` files. Accompanied by a short clip describing the error that I am experiencing.

`cms.js` and `gatsby-config.js` file
[Archive.zip](https://github.com/gatsbyjs

[2020-05-14 09:33] p0wl commented on #23062
Installing `graphql@^14.6.0` wasn't enough for me.
Had to update all dependencies (probably especially gatsby) to solve the issue.

[2020-05-14 09:53] erezrokah commented on #24046
Hi @mingaldrichgan, looks like you're editing `public/admin/config.yml` where you should be updating `static/admin/config.yml`

[2020-05-14 12:03] #22980 closed

[2020-05-14 12:03] #22890 closed

[2020-05-14 12:03] #22887 closed

[2020-05-14 12:03] #22826 closed

[2020-05-14 12:03] #9818 closed

[2020-05-14 12:28] minhtanpham commented on #24046
yeah, you're right. Sorry my stupid mistake. Thanks @erezrokah for you help. Close this issue

[2020-05-14 12:28] #24046 closed

[2020-05-14 12:29] abdokouta opened #24086 "Dynamic Navigation Menu"
Hello, i want to create Dynamic Navigation Menu which i'm using source plugin and having query prams based on locale so what i have done i have created a menu template and make the graphql query and called navigation component and passing data to it but when i call it in header component it's not getting data, i will attach files to a better understanding
[index.txt](https://github.com/gatsbyjs/ga

[2020-05-14 12:31] Glinkis commented on #20984
I'm encountering this same issue.
[code]

[2020-05-14 12:36] Coriou commented on #20984
@Glinkis Probably not the same issue actually. Check https://github.com/gatsbyjs/gatsby/issues/15397 and https://github.com/gatsbyjs/gatsby/issues/16455 (duped)

Seems like cleaning cache & reinstalling some related modules might suffice.

[2020-05-14 12:54] LekoArts commented on #24086
Thank you for opening this!

Please head to our communities listed below as this React question isn’t related to Gatsby specifically. You'll find help there. Thanks!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing

[2020-05-14 12:54] #24086 closed

[2020-05-14 13:06] plcosta commented on #5329
@smakosh any thoughts?

[2020-05-14 13:08] pieh commented on #24078
Thanks for the report!

Appears that this bump https://github.com/gatsbyjs/gatsby/pull/23917 yesterday broke it ( https://github.com/pmmmwh/react-refresh-webpack-plugin/blob/e0ddc1e3f1f2af3ab0637d40000791d7ee571751/CHANGELOG.md#030-10-may-2020 ).

You should be able to revert back to previous version of gatsby while we get to fixing it or if you use yarn resolutions - you could add:
[code]

To for

[2020-05-14 13:10] smakosh commented on #5329
I tried reproducing your use case here: https://codesandbox.io/embed/goofy-lake-i0c7z?codemirror=1

Can you fork it & implement what you have from your side?

[2020-05-14 13:26] Glinkis commented on #20984
@carlaiau hmm, I don't think it's that issue. I have images in Contentful, have cleared my cache and reinstalled by dependencies multiple times with no avail.

[2020-05-14 13:43] pieh commented on #21885
Hey @edmcman

I tried your reproduction and it's not quite "working" - I do get error:
[code]

So seems like there is something missing in your reproduction repository? Could you check it out and possibly update it so we can investigate further?

That said I found multiple other issues (some of those you linked):
 - https://github.com/giuseppeg/styled-jsx-plugin-postcss/issues/32 (you linked it al

[2020-05-14 14:12] hlolli commented on #23828
@4lm thank so much for looking into this problem. You are correct in your analysis. The comfort of prefix paths in gatsby is that they are added afterwards, meaning one can always change the path endpoints without changing any code. But that also means that the root page is stored as "/" and removal of it would mean an empty string, which is currently not legal (but that could be changed?). And th

[2020-05-14 14:18] emileber commented on #10668
@bostrom maybe it's fixed now? I didn't had the chance to try it since January.

[2020-05-14 14:35] pieh commented on #21885
Hold on - seems like on second run I got into infinite loop thingie - investigating now

[2020-05-14 14:41] abdokouta commented on #24086
@LekoArts no it's not related to react it's related to gatsbyjs cuz gatsbyjs graphql avalible only while build and fetching data source so i need gatsbyjs help here

[2020-05-14 14:44] edmcman commented on #21885
@pieh Great.  Let me know if not and I'll see if I can fix the repro.

[2020-05-14 15:21] gillkyle opened #24093 "Tutorial step titles show a bullet point over number in dark mode"
## Description

While in dark mode while viewing the docs. A noticeable circular bullet point covers up the number of the tutorial step. (Note: this also occurs on light mode, though the bullet is much fainter and doesn't seem to cause any issue seeing the number).

![image](https://user-images.githubusercontent.com/21114044/81952101-48288d80-95c3-11ea-9f3a-f1d236cc6cf7.png)

This is only an issue

[2020-05-14 16:24] pieh commented on #21885
I'm not sure if this is a reason - but I initially used node 10.16 and then I hit the error, after switching to 13.8 (one that is mentioned in your report) - I instantly hit the problem. Not saying this is where problem is, but it is possible that there is something in dependencies that doesn't quite work in newer node versions

[2020-05-14 16:33] probablyup commented on #22450
@raRaRa what did support end up saying?

[2020-05-14 16:33] Pyrax commented on #24093
Hey, I'd like to take a look at it.

[2020-05-14 16:47] mclarkestudio opened #24096 "Shouldn't gatsby build warn developers of missing plugins, if possible?"
Gatsby is very well documented.
Although, shouldn't [common troubleshooting errors](https://www.gatsbyjs.org/docs/troubleshooting-common-errors/#inconsistent-css-styles-between-develop-and-build-using-styled-components-or-emotion) such as missing plugins be added directly to the `gatsby build` log?

It seems worthwhile to warn the developer that they are using a library with a missing gatsby plugi

[2020-05-14 17:26] pieh commented on #24078
Published `gatsby@2.21.31` which contains the fix - please upgrade and let us know if you run into any troubles. I did check locally and it worked then ... but you never know :)

[2020-05-14 17:57] Kornil commented on #21995
I'm gonna attempt gatsby's babelrc.js reducer

[2020-05-14 18:01] cbravo commented on #17607
I was looking for something along these lines too...

I co-locate my images in the components that need them and this would help me too create a clean gatsby-source-filesystem config

example:
[code]

[2020-05-14 18:03] pieh commented on #24096
Theoretically yes, but `gatsby` core is rather agnostic to plugins and we try to keep it that way. As soon as gatsby core know about styled components - maybe instead of suggesting plugin it should just come with plugin as internal dependency? But styled components is just one example of it - if we do this for everything then every user pays the perf price for things like this, so there is non-zer

[2020-05-14 18:03] #24096 closed

[2020-05-14 18:06] pieh commented on #24063
Can you provide reproduction? There are multiple ways to add favicons and it's not clear which one you are using.

I tried it on few sites and they working fine on mobile for me (showing actual favicon), so this might be something specific about your setup.

[2020-05-14 18:24] diminishedprime commented on #23441
not stale

On Thu, May 14, 2020 at 5:03 AM github-actions[bot] <
notifications@github.com> wrote:

[2020-05-14 18:31] rchrdnsh commented on #24078
All good again, thank you @pieh XD

[2020-05-14 18:31] #24078 closed

[2020-05-14 19:06] kapilgorve commented on #9878
I also ran into this issue.  I have created an issue on `validator`.
https://github.com/validator/validator/issues/960

[2020-05-14 19:13] raRaRa commented on #22450
@probablyup You can set an environment variable named `PREFIX_PATHS` to `true` in Gatsby Cloud and your site will be built with the pathPrefix and/or assetPrefix set in your gatsby-config.js. This requires gatsby-cli version 2.9.0 or higher.

Ref: https://www.gatsbyjs.com/docs/cloud-configuration/#how-can-i-build-my-site-with-the---prefix-paths-option

[2020-05-14 19:28] gillkyle commented on #24093
That'd be great @Pyrax 🙂 feel free to give it a shot!

[2020-05-14 20:04] 8shaks commented on #24063
Hey, I edited the reproduction section a bit and also added a link to the code repo. I notice that when I add the website to my home screen(on mobile), the favicon appears correctly for my website. However if I look at the browser history the icon for the website is just a letter.

[2020-05-14 21:08] tesseralis commented on #24081
Thanks for bringing this up! Looking at the console, it seems like the crash is caused these errors:

[code]

It might have to do with the way the Creators page handles filtering.

[2020-05-14 21:28] vickywane commented on #9121
I do not have much experience with `emotion` , however elements that are wrapped with styled-components shouldn't show as unstyled as you have shown.

I  would advice you follow the documentation written at the plugin section of the docs and you make little incremental changes i.e trying styled-components on a component and see if it renders that same way before migrating everything.

You can leav

[2020-05-14 22:16] mnurik commented on #23964
@pvdz @ezelohar I am pretty sure `gatsby-plugin-asset-path` causes that issue, not by contentful plugin. Looking into more details.

[2020-05-14 22:42] zslabs opened #24100 "createSchemaCustomization is failing to find tracer in 2.21.31 vs 2.21.19"
## Description

`createSchemaCustomization` is not working as intended in `2.21.31` vs `2.21.19`

Is https://github.com/gatsbyjs/gatsby/pull/23589 potentially related?

### Steps to reproduce

1. https://github.com/duanecilliers/gatsby-mdx-frontmatter-starter uses the same setup as mine, but happy to pair over Zoom
1. Use Gatsby `2.21.19` to start develop server
  1. Should work fine
1. Upgrade to

[2020-05-14 22:45] edueter opened #24101 "[gatsby-source-wordpress] featured_image is missing in GraphQL"
Hey, while sourcing from a wordpress.com blog where all posts have a featured image, there's no such field within my query to pull. I have gatsby-transformer-sharp and gatsby-plugin-sharp installed.
This is a sample of a node from allWordpressPost in my graphql:
![Firefox_Screenshot_2020-05-14T22-41-01 399Z](https://user-images.githubusercontent.com/39069806/81992859-de3bd280-961a-11ea-9016-69b7e2

[2020-05-14 22:46] emmadigital commented on #23909
@wardpeet @DSchau Please reply I am stuck with this issue.

[2020-05-14 23:03] artypineda commented on #16470
i agree with @mavalon. It's 2020 in May and building a new headless setup with gatsby-source-wordpress and I cannot get across not adding dummy data for new pages. Im not having the issue where the conditional statements aren't working either. I will attempt to use gatsby-source-graphql next.

[2020-05-14 23:13] rebeccapeltz commented on #9121
I found this starter project.  If you add some markdown under the content and push to netlify you'll get the same effect.  I tried removing emotion and replacing with styled-components,  but there are some code dependencies I don't understand.  Do you know of another starter that produces a similar git book?   https://github.com/hasura/gatsby-gitbook-starter.  I really appreciate you looking into

[2020-05-14 23:22] chri5triplemint commented on #9121
Hey @rebeccapeltz. I used the same git-book https://condescending-pike-950821.netlify.app/ and I have the same problem. I was reading about this topic but I didn't find a good solution . Maybe It would help with something:

https://github.com/emotion-js/emotion/issues/1332

Could you try it?

let me know if it works.

Regards :)

[2020-05-15 00:04] #22988 closed

[2020-05-15 00:04] #21932 closed

[2020-05-15 00:17] loremipson commented on #23398
Ah, I've been waiting for the "spooky quiet" post. It _has_ gone quiet, and I understand, but that makes me sad.

So, when I created this issue, it was definitely at the wrong time, because I couldn't remember details or what the actual problem was. My comment above touches on the problem now, but in short:

Multiple versions of gatsby, **breaking change or not**, in a monorepo _can_ have differen

[2020-05-15 00:19] pieh commented on #24100
It seems very likely that PR you linked is responsible.

Last working version I found is `2.21.22`, and next one (`2.21.23`) breaks with error you describe (that was also release that introduced changes from that PR)

[2020-05-15 02:21] christianjosephvarriale commented on #3984
I had the same issue and solution as @moritzWa, the quality of the .jpg images was not increased **unless** I also set the `maxWidth` prop as he outlined

[2020-05-15 02:38] tesseralis commented on #23948
@madalynrose, would it make more sense to label the toggle button `${item.title} toggle` instead, to differentiate it with the actual item heading, which will also have a label of `item.title`?

[2020-05-15 02:57] carrotderek commented on #21995
I can pick up `nodes-touched` and `nodes-by-touch` reducers.

[2020-05-15 03:33] linxianxi opened #24107 "How to use this Graphql in gatsby-node.js？I want to use this to create pages,please help me,"
Api like this in graphql-playground,
 How to use this api to create pages in gatsby-node.js?
![image](https://user-images.githubusercontent.com/47104575/82008472-6663bb80-969f-11ea-84b5-7896e6412fda.png)

--------------------------------------------------------------------------------------------------------------

Not down here，I can use this
![image](https://user-images.githubusercontent.com/471

[2020-05-15 04:08] sfonua10 commented on #17434
why is it so difficult to add something simple like a favicon in gatsbyjs?

[2020-05-15 04:30] moonmeister commented on #17434
It's not. No one has needed to scale favicons to be unique across languages and locales; thus, no one has taken the time to solve that problem.

If this is your trouble, then we welcome you to help solve this problem with constructive conversation, thoughtful ideas, and good code code.

[2020-05-15 04:46] jbertel2 commented on #21649
I face the same issue. While the comments here suggest to not touch .babelrc for a gatsby site, that contradicts the documentation [here](https://www.gatsbyjs.org/docs/babel/#how-to-use-a-custom-babelrc-file).

[2020-05-15 06:36] wardpeet commented on #23909
Hey @emmadigital,

Can you check https://github.com/emmadigital/ardalis-newsite/blob/master/src/pages/blog/house-shopping.md#L11

it should be:
category:
  - personal

[2020-05-15 07:10] herecydev commented on #24107
Well if you want articles you can start with:

[code]

You will see that the allShopifyArticle will be selected and give you additional options

[2020-05-15 07:14] linxianxi commented on #24107
If not shopify,like this, it's my project.How to use it?
![image](https://user-images.githubusercontent.com/47104575/82022139-b900a000-96be-11ea-97e2-b9e3e82dad89.png)

[2020-05-15 07:17] herecydev commented on #24107
Can you put together a reproduction? https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

If you haven't read [this](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) then I would suggest that's a good start to learning.

[2020-05-15 07:22] linxianxi commented on #24107
It don't need an example for this, just want to know how to use the other graphql API in createPages。I used react-Apollo。

[2020-05-15 07:23] herecydev commented on #24107
Take a read of this and see if it helps: https://www.gatsbyjs.org/tutorial/part-seven/#creating-pages

[2020-05-15 08:04] cedricdelpoux opened #24109 "How to persit folders and files between builds on Gatsby Cloud"
## Summary

Sometimes, we need to keep specific files or folders between builds and Gatsby cache is irrelevant because it can be invalidated and clear data.

It is possible using `Netlify` builds and [gatsby-plugin-netlify-cache](https://github.com/axe312ger/gatsby-plugin-netlify-cache)

[code]

I can't find any documentation about this and it prevent me to use Gatsby Cloud instead of Netlify buil

[2020-05-15 08:43] Hannah-goodridge opened #24110 "Gatbsy createNode arbitrarily building nodes on `gatsby develop`"
## Description

I'm trying to use createNode after running a few fetch requests, but I'm finding that these nodes don't always get created. I've read a few other issues like [this one ](https://github.com/gatsbyjs/gatsby/issues/5650) and they mentioned to use promises which I've tried implementing but I still get issues.
Should I be using the `onCreateNode` method instead of  `sourceNodes`?
I supe

[2020-05-15 08:49] herecydev commented on #24008
@art0rz just weighing in here because I've faced similar situations.

I believe this is correct, but it's not clear (hence several issues like this). I'm pretty sure from my experiences there's 2 ways to overcome this:

1) Query all the stuff and then filter in your page/components. Simple solution but means that you have to pull more data then needed, only to filter it and throw some of it away.

[2020-05-15 08:59] herecydev commented on #24110
Sounds like your missing a promise being returned (and therefore the gatsby api runner continues without waiting). I might be wrong but this looks problematic:

[code]

I think that needs to be returned:

[code]

I personally don't find promises "thens" very easy to read, so just a suggestion but it might be easier to use async/await

[2020-05-15 09:05] hxykjc opened #24111 "Gatsby Cloud install dependencies Error"
![image](https://user-images.githubusercontent.com/13358760/82032536-f15baa80-96cd-11ea-99a1-a0d564e90122.png)

use template in gatsby ，Follow the documentation step by step

[2020-05-15 09:24] herecydev commented on #23886
Hey 👋 , there's a chapter [here](https://www.gatsbyjs.org/docs/adding-pagination/) that covers exactly your scenario. The end result is you will have `/blogs`, `/blogs/1`, `/blogs/2`, etc.

[2020-05-15 09:29] Hannah-goodridge commented on #24110
Ran this a few times and it seems to be working, thanks ever so much!
I think you are right about the promises point too, I'll take it in to consideration!

[2020-05-15 09:29] #24110 closed

[2020-05-15 09:31] karlhorky commented on #22719
Ah it looks like publishing additional "wrapper" npm packages to wrap every remark plugin is the recommended way of doing things 😞 At least in 2018 it was like this.

**References:**

- @KyleAMathews in https://github.com/gatsbyjs/gatsby/issues/2322#issuecomment-381345998
- @pieh in https://github.com/gatsbyjs/gatsby/issues/9103#issuecomment-429670139
- More background https://github.com/gatsbyjs/

[2020-05-15 09:48] danspratling opened #24113 "Custom fonts in Gatsby node build cycle"
I've been creating a custom social image using NodeJS and [Canvas](https://github.com/Automattic/node-canvas) but I'm running into troubles using custom fonts.

Following canvas' recommendations, I'm registering the font for use
[code]
[socialImage.js](https://github.com/danspratling/portfolio/blob/7756b032236d2d71e3f6486d692725b9cb541e1c/functions/socialImage.js)

This function is then used in ga

[2020-05-15 09:56] #24100 closed

[2020-05-15 09:59] freiksenet commented on #24100
Thank you for you report! This is fixed in `2.21.32`. Resolver now checks if context is passed at all before using tracer.

I recommend always passing `context` and `info` to resolvers - they are compulsory parameters and they would break without them in a similarly confusing manner. I've added warning now so that people can fix it.

[2020-05-15 10:34] LekoArts commented on #24111
Please use the Help button in the top of the navigation, this repository is solely for the open source project. Thanks!

[2020-05-15 10:34] #24111 closed

[2020-05-15 10:59] pvdz commented on #23964
Ok, that's a little out of our control. But at least that cuts out the complexity of Contentful from the repro, that's nice. If you can build a repository with locally sourced data that repros this I'm more likely to be able to repro it here as well, and can join in on the fun! :)

[2020-05-15 11:18] Pyrax commented on #24093
I would love to get some opinions which solution is preferred/which behavior is expected. @gillkyle @tesseralis

Solution 1 - remove bullets on the accordion:
![solution_without_indent](https://user-images.githubusercontent.com/4885581/82044610-f0b31c00-96ad-11ea-8479-272821017edc.png)
Solution 2 - pass the `ui: steps` property down to children (still needs adjustments to position):
![solution_wit

[2020-05-15 12:35] fedriz commented on #12560
Our site is in production so it's happening with gatsby build.
Here → [https://belkadigital.com/](https://belkadigital.com/)

After a few quick page refresh, begins to scroll down. Maybe it can help.

[2020-05-15 12:41] pvdz commented on #23964
I have a repro on another, tiny, site. Also Contentful. Doesn't use that plugin so I expect it to be something else. I'll start digging.

[2020-05-15 12:55] #23410 closed

[2020-05-15 12:56] antoinerousseau commented on #16682
I could make a PR on Gatsby typings, what do you think?
I could either `Omit` the ref as you did, or override the `ref` key,
maybe with `ref: LegacyRef<HTMLAnchorElement>`
Any insight?

[2020-05-15 13:05] pvdz commented on #23964
Ah dang, they _are_ using that plugin, just as an inline fork, which was why it was misleading to me.

The plugin is the problem: it's literally moving files from `/public` to somewher else. But `public` and `.cache` are _both_ required for caching to work. So when this plugin is moving `public/static` out, a warm build (when you run `gatsby build` without `gatsby clean` will fail because parts of

[2020-05-15 13:22] LekoArts commented on #23886
Thank you for opening this!

As Dan said please follow the official guide in our docs and you should be all set up!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) if you have ques

[2020-05-15 13:22] #23886 closed

[2020-05-15 13:26] wardpeet opened #24117 "Add schema customisation to gatsby-source-contentful"
## Summary

Enable schema customization for contentful data. Contentful gives us all the information we need to create typings.

Rich Text is the hardest one because it contains a JSON blob. In my opinion, it should stay that way. I'm not certain how we handle it currently in the plugin, so it might become a breaking change.

Schema customization gives us faster type creation and also better error

[2020-05-15 13:46] wardpeet opened #24118 "Enable paginated synced fetch for gatsby-source-contentful"
## Summary

Currently, we have to download all information from contentful before we start creating nodes. For large sites, this can take up to 10 - 20 minutes on huge sites. Waiting for http requests means our cpu is idle and is being wasted.

If we use the paged sync api we could start downloading and when the first page is downloaded start processing nodes. This would reduce idle time.

Content

[2020-05-15 14:14] wooorm commented on #22719
Ohh. I think that’s unfortunate. I see some upsides in doing that, but mostly short term, I feel like in the long run it would be better to not do wrappers.

[2020-05-15 14:51] pieh commented on #21885
Ok so from my testing - seems like node version is important here:
It seems to "work" (as in not be stuck - it errors out with error I mentioned in https://github.com/gatsbyjs/gatsby/issues/21885#issuecomment-628645322) up to Node 11 (including 11) - but Node 12 and above get stuck in infinite loop.

From checks that I did we are stuck in `styled-jsx-plugin-postcss` in this place https://github.co

[2020-05-15 15:06] chocobuckle commented on #15820
I'm a bit confused by this. Could you show an example please? This is my current code for wrapPageElement

[code]

How would one do the same server side if implementing your recommendation.

[2020-05-15 15:59] karlhorky commented on #22719
Yes, agree it's unfortunate.

Wonder if the Gatsby team would be open to changing this for Remark plugins (the wrapper bit can also be absorbed into `gatsby-transformer-remark`, I guess?).

[2020-05-15 16:10] edmcman commented on #21885
Well, thanks for confirming that the problem lies in `styled-jsx-plugin-postcss`.  Maybe it makes sense to remove `gatsby-plugin-styled-jsx-postcss` from the [gatsby website](https://www.gatsbyjs.org/packages/gatsby-plugin-styled-jsx-postcss/)?

And similarly warn [these starters](https://www.gatsbyjs.org/starters?d=gatsby-plugin-styled-jsx-postcss)?

[2020-05-15 16:17] edmcman commented on #21885
I filed a bunch of issues.  Short of removing the package from the gatsby website, not sure there is much else to be done so I'll close the issue.  Thanks for investigating @pieh

[2020-05-15 16:17] #21885 closed

[2020-05-15 16:46] joelwilsonmt opened #24121 "Support for Google Optimize Anti-Flicker Snippet in gatsby-plugin-google-gtag"
## Summary

When using gatsby-plugin-google-gtag it would be nice to have the google optimize anti-flicker snippet added to the top of the document as per [Google's installation guidelines](https://support.google.com/optimize/answer/7100284?hl=en)

### Basic example

Change the [gatsby-ssr.js file](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-gtag/src/gatsby-ssr.js)

[2020-05-15 16:48] gillkyle commented on #24093
Hey @Pyrax! Thanks for a quick turnaround on this! Solution 2 looks like it's on the right track 🙂

I pulled up an old build of the site before the changes that tweaked this (you can refer to it yourself here if you want: https://build-d65cadf7-eeda-4ea1-816a-354c4ab514f3.gtsb.io/tutorial/)

That makes it look like we'd like to keep the subheadings indented like your solution 2 shows, and the bull

[2020-05-15 17:01] jquense opened #24122 "Proposal: CSS plugin and infrastructure improvements"
Hey Folks 👋

I'd like to write out a few ideas and proposals for modernizing and future proofing the CSS infrastructure.

## Issues

1. css-loader in Gatsby is old, and rarely updated. That's expected since it's built into Gatsby core and limited in the major versions it can bump on css-loader to Gatsby's own major bumps

2. Extending CSS handling is hard, `gatsby-plugin-postcss` has to fully find

[2020-05-15 17:16] emmadigital commented on #23909
Hey @wardpeet thanks a lot for pointing out and resolving my issue.

[2020-05-15 17:19] #14213 closed

[2020-05-15 17:35] rebeccapeltz commented on #9121
I took out the react-helmet and it did seem unnecessary.  When I deploy to netlify it still shows the unstyled lists before final render.  I think if you're looking at 'gatsby develop', you won't see the problem, only when deployed on netlify.  I'm trying to remove `emotion` from the Layout component.  It's using an Emotion Theme Provider to give the feature that allows you to control background c

[2020-05-15 18:37] TylerBarnes commented on #21649
@jbertel2 the comment is that there's no need to touch .babelrc in this specific instance (because `babel-preset-gatsby` is for plugins not for sites and Gatsby handles everything that that plugin does for your site already). You can absolutely use a custom .babelrc file if you need to :)

[2020-05-15 19:09] muescha opened #24125 "Feature Request: better error message if templates in /pages/ and get an error"
## Summary

if templates are placed "accidently" in `/pages` then they run twice, one time from `gatsby-node.js` and one more time "unexpected" with the automatic `/pages` step

### Basic example

see Issue:
- #24010 `Variable "$skip" of required type "Int!" was not provided`

[code]

### Improvements

possible improvements:
#### 1) Context

print also the context variables when a graphql error is

[2020-05-15 19:10] muescha commented on #24010
i added a feature request to have better hints:

- #24125 `Feature Request: better error message if templates in /pages/ and get an error`

[2020-05-15 19:51] dfamilia33 opened #24127 ""The result of this StaticQuery could not be fetched" on basic graphql query to render gatsby-image"
<h2>Description</h2>

Executing `gatsby develop` throws the following error:

[code]
when executing the basic use case as per the official [tutorial](https://www.gatsbyjs.org/docs/using-gatsby-image/):

[code]
I can not seem to figure out what's wrong as the query in graphql's IDE
at [http://localhost:8000/___graphql](http://localhost:8000/___graphql) seems to be delivering expected results.

<h3>

[2020-05-15 21:23] TylerBarnes commented on #24101
Hi @edueter , it appears to be an authentication problem or a permissions issue for your WordPress.com instance.

If you look at the response from the REST api for posts
https://public-api.wordpress.com/wp/v2/sites/corpusfisioterapiapilates.wordpress.com/posts?page=3

You can see in the first post (110), the featured media item is for an item with the id 111.

If we attempt to access that media it

[2020-05-15 21:27] zoubarevm opened #24130 "Any reason this is forced to be HTTP?"
https://github.com/gatsbyjs/gatsby/blob/f4939b5c545f238aaf2f4a82a05a55d7d5766a8d/packages/gatsby-source-contentful/src/download-contentful-assets.js#L59

[2020-05-15 21:33] DanielRuf commented on #24130
This was probably overseen in reviews.

https://github.com/gatsbyjs/gatsby/pull/10682

[2020-05-15 21:35] TylerBarnes commented on #21649
@jbertel2 I tried to reproduce using the hello-world starter and it appears to be working there. Try updating to the latest versions of packages, clear your cache, and run a build again. If it doesn't work please open a new issue with a minimal reproduction.
Thanks!

[2020-05-15 21:43] TylerBarnes commented on #24109
@nicholascapo do you know if this is possible?

[2020-05-15 21:51] zslabs commented on #18570
This is now available as [a plugin](https://github.com/zslabs/gatsby-plugin-mdx-frontmatter) to help get everyone up and running even quicker!

[2020-05-15 21:52] zslabs commented on #24100
Thank you very much @freiksenet!

[2020-05-15 22:03] billymitchelldesign opened #24131 "The result of this StaticQuery could not be fetched"
## Description

Running gatsby develop causes "The result of this StaticQuery could not be fetched"

### Steps to reproduce

Here is a repo of the code:
https://github.com/billymitchelldesign/gatsby-test

### Expected result

It should pull the site metadata title into the header from the config file.

### Actual result

Throws Error

### Environment

  System:
    OS: macOS 10.15.5
    CPU: (8) x

[2020-05-15 22:07] AmirYalamov commented on #24033
Hey @wardpeet, thanks for answering! I really appreciate your help as your suggestion worked and allowed me to add a few extra features to my personal website that I really wanted to have :) I have nothing to discuss, the problem has been fixed, but just wanted to give credit where it's due. Just out of curiosity, do you know what I was doing wrong before or what the issue was? It would be good fo

[2020-05-15 23:48] Pyrax opened #24132 "Scroll-sync of sidebar sets wrong items active"
## Summary

For most items in the documentation the sidebar components sets wrong items as active.

Best way to reproduce is clicking on this link: https://www.gatsbyjs.org/tutorial/part-zero/#install-git
Although, I linked "Install Git" it immediately highlights "Create a Gatsby site" which is the second next section. I have tested it on a viewport of 1905x948 where "Create a Gatsby site" feels t

[2020-05-16 00:40] muhzulzidan commented on #11160
does anyone know how to make gatsby fast while using ads ?

[2020-05-16 04:24] dandv commented on #13083
Good to see this documented, because the lack of documentation has led to all sorts of [overengineered](https://medium.com/@chrisfitkin/how-to-get-query-string-parameter-values-in-gatsby-f714161104f) [solutions](https://dev.to/5t3ph/how-to-use-url-query-string-parameters-in-gatsby-a71).

[2020-05-16 04:38] dandv commented on #8431
@seaneking: nice find, but is this documented somewhere? I don't see it at https://www.gatsbyjs.org/docs/location-data-from-props/ for example.

[2020-05-16 05:15] seaneking commented on #8431
AFAIK Gatsby’s typescript types aren’t documented anywhere? I just discovered it by playing around with VSCode’s intellisense importing

[2020-05-16 05:25] devuxer commented on #23841
@wardpeet , What is the relationship between GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES  and netlify-plugin-gatsby-cache? [This blog post](https://www.netlify.com/blog/2020/04/23/enable-gatsby-incremental-builds-on-netlify/) suggests the environment variable is required to turn on incremental builds. Is that not correct?

[2020-05-16 06:02] dandv commented on #22151
I've also run into this issue. What's the word, wrong typings?

Please [document](https://www.gatsbyjs.org/docs/gatsby-link/#how-to-use-the-navigate-helper-function), thanks! :purple_heart:

[2020-05-16 06:59] dandv opened #24135 "Mention that the navigate helper is not available during SSR"
### Motivation

When using the [`navigate` helper](https://www.gatsbyjs.org/docs/gatsby-link/#how-to-use-the-navigate-helper-function), it was easy to forget/not realize that it's not available during SSR. The documentation page should mention how to handle that.

[2020-05-16 07:47] maxkoretskyi opened #24136 "Can Gatsby infer the structure and create GraphQL types automatically from data returned by a resolver"
I've written a custom resolver that returns a data which is a nested mix of arrays and objects. It seems that I need to explicitly define a type for each nested object, something like this for just one `CustomAuthor` object:
[code]

**Is there any way, like helper or something, for Gatsby to infer types from the returned data?**

As you can imagine, if an object is deeply nested it's going to be a

[2020-05-16 11:38] RohitChattopadhyay opened #24137 "bug(www): some plugin READMEs are not properly rendered"
## Description

Plugin description is not rendering the Readme file properly, instead only _README.md_ is visible.

### Steps to reproduce

Visit https://www.gatsbyjs.org/packages/gatsby-plugin-sass/

### Expected result
![image](https://user-images.githubusercontent.com/19877300/82118796-16682000-9797-11ea-964b-d4f37b58717e.png)

Readme `gatsby-plugin-sass` should be transformed the same way as f

[2020-05-16 12:03] #23167 closed

[2020-05-16 12:03] #23164 closed

[2020-05-16 12:17] nickrazes opened #24139 "Some 'Best Practices' Questions"
Hello everyone:

What's the best practice for going about the following? Can someone with experience using these things point me in the right direction?

1. SVG files? How should I use these kinds of image files within my Gatsby.js project? I first tried using gatsby-image to no avail. I seem to be having problems with this no matter what I try. Should I be using the publicURL approach or just sim

[2020-05-16 13:42] rebwill commented on #17460
I just figured out my issue. After spending a bunch of time trying to reinstall different version of Gatsby, rolling back my Node version, etc....it turns out I was running `gatsby develop ` *from the wrong directory*. 🤦‍♀️

If you are encountering this error, make sure you actually cd into the project folder.

[2020-05-16 14:37] herecydev opened #24141 "How to specify order of plugins"
As a plugin author, I want my plugin to run after the "site plugins", as it provides information that the consumer can use.

A contrived example is:

[code]

Because the site plugins always get injected last, it always runs last and thus wraps the plugin component. Therefore making it impossible to access the information. Is there a method to flag order?

[2020-05-16 14:52] mukul-rathi commented on #22521
This might provide additional context: for large mdx posts, I get the following error:
[code]

This leads to a significant performance hit - the kind mentioned by the OP.

[2020-05-16 15:08] rahul-nath commented on #2847
I sourced my data with `gatsby-graphql-source` which has a `refreshInterval` you can input in (value is in seconds). Setting this value will pull from your datasource at that interval and run `createPages`. Look at the Gatsby docs on the strategies around that -- you can batch requests to make the refresh faster. Better than setting up a build endpoint imo.

[2020-05-16 15:11] herecydev commented on #24136
I've been doing this a lot lately and not found such thing unfortunately. Definitely would be helpful if something existed

[2020-05-16 15:22] muescha opened #24142 "Feature Request: format check for README.md"
## Summary

There should be a check also for README.md files.

### Basic example

there are some errors in some readme files.

### Motivation

To find errors in README.md

[2020-05-16 15:57] florent-andre commented on #23403
Many thanks for the feedback. Will try with this plugin on the next iteration and keep you posted.
Regards

[2020-05-16 16:00] iamdarshshah commented on #24137
**Similar Issues:**
#16322
#13720
#11129

**Other Plugins with the same issue:**

- [ ] https://www.gatsbyjs.org/packages/gatsby-plugin-i18n/

- [ ] https://www.gatsbyjs.org/packages/gatsby-plugin-i18n-tags/

- [ ] https://www.gatsbyjs.org/packages/gatsby-plugin-i18n-readnext/

- [ ] https://www.gatsbyjs.org/packages/gatsby-plugin-sass-resources/?=gatsby-plugin-sass

- [ ] https://www.gatsbyjs.org

[2020-05-16 16:17] soniCaH opened #24145 "gatsby-parallel-runner throwing invalid_grant errors when executed"
## Description

I followed the entire set-up of parallel image processing via Google Cloud functions via https://community.netlify.com/t/almost-all-of-my-builds-are-failing-suddenly/10597/2

### Steps to reproduce

- All steps were executed without any issue/error.
- In my "activity" tab on Google Cloud, I see successful connections during a deploy (generating bucket / pub/sub subscription):

[cod

[2020-05-16 17:04] ImSolitude opened #24146 "How to achieve SEO for dynamic content received from API ?"
I am not sure If Gatsby works best for this use case, But I have an API to provide me content for static websites for list of companies (Text and Images).
Let's just say If user hit `company1.mygatsby.com` then `company1` content will be received and displayed. I've done the website and content shown perfectly

 My problem now how to achieve SEO for those websites? How to make whatever SEO checker

[2020-05-16 17:32] Haven3 commented on #23958
Hey @tizzle,

Have you had any luck with your custom resolver? I am trying to limit the number of product images I pull in on collection pages but I have not had any luck yet.

[2020-05-16 17:46] edmcman commented on #21885
Another issue for the same problem: https://github.com/baobabKoodaa/gatsby-starter-photo-book/issues/4

[2020-05-16 18:22] kapilgorve commented on #9878
@LakesGeek It's fixed now. Validator wont show error for this.

[2020-05-16 18:27] LakesGeek commented on #9878
Brilliant - never occurred to me that the validator itself was wrong! Thanks for passing it on to the right place.

[2020-05-16 18:36] anyxem commented on #21885
I also got that problem and switched back to gatsby-plugin-styled-jsx, no nesting for now

[2020-05-16 19:48] capndave commented on #23948
@tesseralis great point. Making a distinct label for this button could help distinguish it from the adjacent button of the same/similar name. That being said I'm making the changes that @madalynrose suggested, with the understanding that we can still discuss/modify.

[2020-05-16 20:18] capndave opened #24148 "Gatsby Documentation: set isExpanded property to true/false rather than true/undefined"
## Description

It looks like the `isExpanded` property imported at line 90 of `gatsby/www/src/components/sidebar/section-title.js` evaluates to either true if the dropdown is expanded and undefined if it is not. Since a11y properties (`aria-expanded` at line 93) and probably other things depend on this, it should be initialized as false at the file where the property is originally defined.

[2020-05-16 20:43] LethalPants opened #24149 "How to stop Gatsby from converting SVG favicon to PNG during build"
## Summary

Hi! I have a SVG file which I want to use for the favicon of my website, because of the flexibility to change color depending on the theme. On building the site, the SVG is converted into PNG format. How do I stop that from happening?

## Relevant information

### Environment (if relevant)

  System:
    OS: Windows 10 10.0.18362
    CPU: (8) x64 Intel(R) Core(TM) i5-8300H CPU @ 2.30GH

[2020-05-16 21:07] daiky00 commented on #10556
@jonniebigodes Any implementation example with version 3?

[2020-05-16 22:14] capndave opened #24150 "Gatsby Documentation: Change sidebar expand arrows to point downward rather than upward"
## Description

The dropdown arrows on the gatsby docs point upwards to expand rather than downwards. Am I crazy or should they point downward?

![image](https://user-images.githubusercontent.com/15132517/82131211-6b586600-9798-11ea-87a1-88188473bfea.png)

### Steps to reproduce

Go to the [gatsby docs](https://www.gatsbyjs.org/docs/). Click on any arrow on the left-hand side. Note direction.

[2020-05-16 22:46] capndave commented on #24139
I'll take a stab at these though I'm sure someone else may have better insight into this.

1. You should use gatsby-image rather than importing directly into your file. Basically it gives you optimized image loading. If you're having trouble getting that to work please post a separate issue with more detailed information and samples of your code.

2. I don't know of any reason why using react boot

[2020-05-16 23:57] sfonua10 commented on #2987
Thanks Everyone! Y'all rock! This all helped

[2020-05-17 00:59] varughese commented on #16224
I also had an issue with this. I think https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/ should be explicitly updated such that it explains that the MDX plugin automatically configures the `src/pages` directory.

[2020-05-17 01:03] edueter commented on #24101
Yes, they should. Not sure why it is like this.

However, based on what you said after, maybe I should get an instance of WP installed somewhere so I could take advantage of the new features of V4.

Thanks for this link and your comment on this case.

I'm going to close this since there's no purpose anymore.

[2020-05-17 01:03] #24101 closed

[2020-05-17 01:07] melbahja commented on #11406
instead of increase max_user_watches, webpack watcher should not watch 1 million file inside node_modules!

[2020-05-17 09:29] tizzle commented on #23958
Hey @Haven3,

I only started looking into this yesterday, but found the documentation on doing this was a bit incomplete. The place i struggled most was creating ConnectionTypes. The documentation on this is unfortunately outdated and i was not really able to dive into the Gatsby source to figure out how this is handled.

Sorry for such little information, maybe someone — who is more experienced a

[2020-05-17 10:49] herecydev commented on #24146
Are you sourcing the content dynamically or statically (at build time when gatsby build runs). It sounds like the content is static and you would be best off building all your page content ahead of time rather then dynamically.

Once you have all that being built into your pages, the seo story becomes much easier to work with.

[2020-05-17 11:33] wardpeet commented on #23841
Incremental builds isn't really the right term. We call it [Conditional Page Builds](https://www.gatsbyjs.org/docs/conditional-page-builds/). It only builds pages that are necessary but it's not the same as Incremental Builds on gatsby cloud.

That's something you'll have to ask Netlify, I don't really know what `netlify-plugin-gatsby-cache` does.

[2020-05-17 11:58] distor-sil3nt opened #24157 "Navigation links to top level route on subpages (created with createPage) not working"
This might be a rookie question however I couldn't really find a solution to this while searching the forum:

I have a page 'careers' created through the pages folder (file name careers.js with corresponding slug /careers) and several subpages of careers created with the createPages API in the file gatsby-node.js like so:

[code]

My problem now is that once I am on a slug of a subpage (i.e. /care

[2020-05-17 13:07] dandv commented on #10167
Same here, how do you track these errors?

[2020-05-17 13:15] dandv commented on #10167
[This](https://github.com/isaacs/pseudomap/blob/master/map.js#L3) is the culprit. As @wardpeet explained [here](https://github.com/gatsbyjs/gatsby/issues/12901#issuecomment-477619581), Webpack can't deal with assignments to environment variables. @isaacs, any chance to avoid that statement in [pseudomap](https://www.npmjs.com/package/pseudomap)?

[2020-05-17 13:18] lannonbr commented on #24145
Hi @soniCaH, so `gatsby-parallel-runner` is not a package maintained by the Gatsby team, so I'd reccomend filing this issue on the repo here: https://github.com/netlify/gatsby-parallel-runner

Closing this issue as it's not an issue with Gatsby itself.

[2020-05-17 13:18] #24145 closed

[2020-05-17 14:18] hbish opened #24159 "gatsby-image: Add the ability to have className on actual img element"
## Summary
I have a requirement to add `className` to the actual `<img>` element to support microformats.

Currently GatsbyJs only has
- `ClassName` - on the wrapper only
- `placeholderClassName` - on the placeholder `<img>`

There is no support for the actual `<img>` element.

### Basic example

[code]

### Motivation

In microformats `u-photo` is only valid on (`<img src>`) elements.
gatsby-imag

[2020-05-17 14:19] wispyco opened #24160 "Generating development JavaScript bundle failed"
## Description

I am getting a error Generating development javascript bundle failed, after installing react-big-calendar-like-google and moment.

### Steps to reproduce

Install package import like below and use.

[code]

### Expected result

Gatsby runs on localhost:8000

### Actual result

[code]

### Environment

[code]

[2020-05-17 15:54] JesterOrNot opened #24162 "PWA Not working on Netlify"
## Description

I followed the steps on https://www.gatsbyjs.org/docs/progressive-web-app/ to create a Gatsby PWA, and it worked in development using `gatsby build && gatsby serve` but in the Netlify deploy preview the service worker fails to register, this is the error `The installing service worker became redundant.`

### Steps to reproduce

Unsure how to reproduce in another project but to see

[2020-05-17 17:17] emmadigital commented on #23886
@herecydev thanks for sharing the chapter it was very helpful can you also share how to create pagination for blog categories or tags https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/src/templates/tags.js

[2020-05-17 17:22] herecydev commented on #23886
Same principal, just query the tags instead of blogs...

[2020-05-17 17:35] ImSolitude commented on #24146
@herecydev, The # of companies is big and the content is huge so I guess it must be dynamic, I don't think something like [this](https://www.gatsbyjs.org/docs/recipes/sourcing-data/#pulling-data-from-an-external-source-and-creating-pages-without-graphql) works best for my use case? because I cannot loop over the companies and get all the data, It's just too much.

Just to demonstrate, User goes to

[2020-05-17 17:45] herecydev commented on #24146
Well give me an idea of how many companies and how big the data is. I've worked with 10k pages and that works fast, I'm confident gatsby can easily push much further (into the 100k page territory as well)

[2020-05-17 17:51] wiput1999 commented on #21995
@alisson-suzigan I've done `packages/gatsby-cli/src/reporter/loggers/json/index.js` PR #24140 but I forgot to add my name in the list. Can I use my PR?

[2020-05-17 18:19] darokrk commented on #11006
Same here, still saw blank site when reload :(

did anyone solve this problem?

[2020-05-17 18:27] speculati0n opened #24163 "adding a custom endpoint to the whitelist routes in gatsby.-config.js file."
hello, I am using the wordpress plugin for gatsby. I am trying to whitelist a route in my gatsby-config.js file.
![image](https://user-images.githubusercontent.com/26420672/82156610-212fbd00-984a-11ea-82d9-ca942a494f6a.png)

however when I run gatsby develop in the terminal it is not showing up.
as you can see here the last fetch shows the /users
![image](https://user-images.githubusercontent.com/

[2020-05-17 18:29] emmadigital commented on #23886
[code]

[2020-05-17 18:35] varughese opened #24164 "Make gatsby-plugin-mdx not automatically create pages under src/pages"
## Summary
Is there a way to stop gatsby plugin mdx from automatically creating pages in `src/pages` so that I can provide a custom template using `createPages`?

Can we update the plugin or the documentation to make it more explicit, more emphasis that it does this?

## Relevant information

When creating a page with MDX and `gatsby-source-filesystem`, say I have this structure:

[code]

gatsby-n

[2020-05-17 18:44] darokrk commented on #16984
Same problem here.

Did anyone find a solution?

[2020-05-17 18:47] redconfetti commented on #10457
I had the same issue. Thank you. I had deleted the `public` folder to troubleshoot an issue with a left over asset displaying, but ran into this error after. After deleting the `.cache` folder, my issue was resolved.

[2020-05-17 18:48] kylegoetz opened #24165 "Gatsby proxy DELETE request strips request body"
## Description

When I have a proxy configured with Gatsby during development and make a DELETE request with a request body, Gatsby forwards the request but strips out the request body. (**Edit** Actually now I'm not so sure it actually forwards the request rather than hanging without forwarding)

### Steps to reproduce

Using `axios` as the request library, and assuming Gatsby is set up to run on

[2020-05-17 19:21] monsieurBoutte opened #24166 "onCreatePage doesn't seem to get fired off on normal reloads"
## Description

`onCreatePage` doesn't seem to get fired off on normal reloads. Only hard reloads

### Steps to reproduce

Adjust `gatsby-node.js` to match mine and test normal and hard reloads

### Expected result

My pages should load the same way they do on hard reloads

### Actual result

Normal reloads result in a blank white screen

![gatsbyReloadIssue](https://user-images.githubusercontent.

[2020-05-17 19:23] devuxer commented on #23841
@wardpeet , Aha! I was wondering how Gatsby was saying incremental builds are only available on Gatsby Cloud, then suddenly Netlify was claiming they had them too. Based on my ~20-page test site, "conditional page builds" saved only a little bit of time.

One thing in particular that seems to really slow down builds for me is how long it takes for mini-css-extract-plugin to run when using Ant Desi

[2020-05-17 19:25] jonniebigodes commented on #10556
@daiky00 sorry for the delay in answering. I've been tinkering with it once it hit a stable version on and off and forgot to update the repo or post something in here regarding it. The [repo](https://github.com/jonniebigodes/gatsby-test-reactive-search-v3) and a [deployed version](https://gatsby-reactive-search-v3.netlify.app/) . Some caveats, as i'm using the same api keys used by the documentati

[2020-05-17 19:37] kinnikumegane commented on #24010
Yep, I saw it, and thanks for sharing your expertise !
I could learn how documentation should look like )

[2020-05-17 19:52] mpaccione commented on #24036
Hey everyone so I went through and made sure to populate all posts gallery field, cleaned gatbsy, and ran develop.

**The gallery field appears as an empty array.** I have pushed to the repo.

The old graphql in index.js is commented out and the new one with the gallery field is in effect. I haven't changed the field structure on the wordpress database so you can still go back and test the issue w

[2020-05-17 19:57] antoinerousseau commented on #22151
@dandv PR welcome ;)

[2020-05-17 20:09] nikolayval opened #24168 "Question: How Search Engines crawl Internal Links for SEO and will it affect my SEO?"
Hello!

I'm working with personal SEO-sites. And I have one question about react router. Sorry for bad English, I'm from Russia and learn English.

For SEO Internal Links very important. Internal Links help to Google better site crawling. In Internal Links anchor I write the main keywords, and it improve SEO for my other pages too.

Anchor-words (link-word) on links will help to Google, what about

[2020-05-17 20:58] chrisands commented on #23676
Have same issue using `yarn v2` and `react-hook-form@5.7.2`.
Workaround is to install `regenerator-runtime` as direct dependency.

[2020-05-17 21:33] emmadigital commented on #23886
Below is tags.js file

[code]

[2020-05-17 22:15] Lenetta opened #24169 "How to change doctype in gatsby?"
Hi people.
I choose between React and Gatsby to create custom emails with reusable components.
React has index.html, which is created manually, but static files out of the box are not generated there.
In Gatsby, I cannot find where to change the DOCTYPE.
Someone can say, is it possible to change DOCTYPE in Gatsby?

[2020-05-17 23:38] fenilgandhi commented on #21664
I am on node 14.2.0, the problem's still lurking.

[2020-05-17 23:42] Haven3 commented on #23958
I wish I had something to offer! This is new territory for me. I’ve been going through the documentation trying out different scenarios but nothing has worked yet unfortunately.

I have collection pages that show the first image of each product. Unfortunately, having to pull in all images means, 150-200 products Per collection with 5-15 images for each item! Page-data.json files are getting pretty

[2020-05-18 00:04] #23212 closed

[2020-05-18 00:04] #21920 closed

[2020-05-18 01:16] sn3h commented on #3759
Same here, using gatsby-source-prismic plugin

[2020-05-18 01:20] freaksauce opened #24171 "Should I be able to use a path such as /v1.0.0"
I'm building a release notes app and want each page to be the release number ie. /v1.0.0. When I refresh the pages or try to direct link they 404 or redirect to the index page. If you use the Gatsby Link to navigate to the pages it works as expected?

### Environment
[code]

[2020-05-18 01:59] monsieurBoutte commented on #24166
turns out there was an issue with the version of `netlify-cli` I was running. I updated to latest (`2.51.0` at the time of this post) and everything worked as expected

[2020-05-18 01:59] #24166 closed

[2020-05-18 03:05] alexantom opened #24173 "Update shopify plugin to support Accept-Language Header"
## Summary

Shopify Store Front API Supports Multi Language by adding `Accept-Language: "it"` in request header

https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-shopify

https://shopify.dev/tutorials/manage-app-translations-with-admin-api

https://github.com/Shopify/js-buy-sdk/pull/749/files

### Basic example

https://shopify.dev/tutorials/manage-app-translations-with-admin-

[2020-05-18 04:42] jjato commented on #24004
Yeah it seems to work for some people and not for others... I forced the overflow in the CSS, I'll check in a few updates to see what has changed :-)
Thanks for your time!

[2020-05-18 06:42] rakeshshubhu opened #24176 "Installing module in gatsby removing some gatsby dependent modules."
#issue
My issue is similar to his https://github.com/gatsbyjs/gatsby/issues/6834. I've faced this issue before just a day in a new gatsby project.
When installing a module after a project is set up it deletes some of the gatsby depencies. And I'm unable to run `gatsby develop` because of missing dependencies.

#solution:
It can be solved by running Npm install again which is definately not ideal.

[2020-05-18 06:51] iloveip commented on #10094
Hi @kripod!

Have you found a way to import values variables in Gatsby? I'm facing the same problem.

[2020-05-18 07:19] Dorkside commented on #14707
Hi, I'm experiencing this in gatsby cloud, any ideas if the fix got broken by another update ?
My package.json:
[code]

[2020-05-18 07:50] paveli commented on #23974
@wardpeet
Hi, any updates on this issue?

[2020-05-18 08:08] LekoArts commented on #24125
Yeah, makes sense to improve this. Thanks for the issue!

[2020-05-18 08:12] osartun commented on #2847
I just randomly found my comment from 1.5 years ago (https://github.com/gatsbyjs/gatsby/issues/2847#issuecomment-434398283) and given the number of reactions on that comment I want to leave this here: The Gatsby Cloud service is the very idea that I'm proposing in the comment.
So, if anyone else is trying to fix this issue – save the engineering time and get yourself a subscription: https://www.ga

[2020-05-18 08:13] dhakan commented on #3759
If I remember correctly, my issue was that I was running some async calls which I never made the gatsby API aware of(like a missing `await` or something like that). This is vague in my memory so take it with a grain of salt, but I recall my error being flaky and not consistent. https://www.gatsbyjs.org/docs/debugging-async-lifecycles/ was helpful anyways.

[2020-05-18 08:14] LekoArts commented on #24157
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

Also: You're mixing up `career` and `careers` up multiple times in your text, ar

[2020-05-18 08:49] distor-sil3nt commented on #24157
My bad, I had some typos in the description of the issue. I corrected them now. The slug is in any case called /careers/

I will try to provide a code example asap to demonstrate my problem.

[2020-05-18 09:01] LekoArts commented on #21990
Hey, thanks for the issue!

But I don't think anything is wrong with `yarn` and our tutorial. It works fine for me and in the past the only problems occurred due to `npm`.

The starters come with both a `package-lock.json` and `yarn.lock` as npm requires the lock file. If your global config uses `yarn` and you run `gatsby new` the `package-lock.json` file will be deleted. A subsequent run of `npm

[2020-05-18 09:01] #21990 closed

[2020-05-18 09:06] LekoArts commented on #24176
Thank you for opening this!

As mentioned in some other issue (https://github.com/gatsbyjs/gatsby/issues/20225, https://github.com/gatsbyjs/gatsby/issues/19827, https://github.com/gatsbyjs/gatsby/issues/19064) this is due to a bug with npm and its lock files. You probably have `yarn` installed or chose it as your package manager for the Gatsby CLI hence a `gatsby new` will delete the `package-lock

[2020-05-18 09:06] #24176 closed

[2020-05-18 09:24] LekoArts commented on #24168
Thank you for opening this!

Gatsby uses `@reach/router` and those links are just `<a>` tags. This doc https://www.gatsbyjs.org/docs/seo/ also touches on the fact that all the HTML is generated when using Gatsby so your site (and thus also Google) will work without JavaScript. You get distinct pages with working links.
So yeah, everything will work! :)

We're marking this issue as answered and clo

[2020-05-18 09:24] #24168 closed

[2020-05-18 09:36] LekoArts commented on #24146
Thank you for opening this!

As Dan mentioned: If you're creating these pages on the client-side it's just a normal React SPA and hence it has the typical SEO situation (worse than what Gatsby creates at build time). On this front Gatsby can't help you as client-side is just client-side.

However, I would encourage you to try to build your site! https://github.com/gatsbyjs/gatsby/issues/19512 has

[2020-05-18 09:36] #24146 closed

[2020-05-18 09:49] #23500 closed

[2020-05-18 10:03] hbish commented on #24159
@LekoArts apologies for jumping the gun and raising a PR on this.

Happy to wait and see what the Gatsby team thinks of this small enhancement and will resubmit the PR once it has been approved. Cheers!

[2020-05-18 10:04] pvdz commented on #23964
According to the maintainer, @raurir

So please bump your dep and that should fix this issue. Thanks for reporting it!

[2020-05-18 10:04] #23964 closed

[2020-05-18 10:21] lalasmuathasim commented on #23737
I was also looking for Gatsby user authentication using passport and eventually I reached here.

[2020-05-18 11:01] wardpeet commented on #24159
Hey @hbish,

I get the issue, adding another prop is painful as it's already so bloated. Wouldn't it be possible to do css nesting?

With sass:
[code]

Love to hear your response, thank you!

[2020-05-18 11:06] wardpeet commented on #24033
I think it's more about experience than really an easy way to figure out what the problem was. When I see something is "undefined" it means something in your chain `edges.node.something` isn't correct.

[2020-05-18 11:16] stevemarksd commented on #13072
same here. pdftron can't be used in dev mode https://www.pdftron.com/documentation/web/get-started/npm/

[2020-05-18 11:19] stevemarksd commented on #17761
you just need to add this code in `gatsby-node.js`

[code]

[2020-05-18 12:03] #21600 closed

[2020-05-18 12:03] #21599 closed

[2020-05-18 12:14] hbish commented on #24159
@wardpeet Thanks for the suggestion. I agree that the component is already bloated but its probably the cleanest/simplest solution.

While I think I could get it working by introducing postcss but it feels like overkill and also a hack as I would have to write a pretty nested rule like below. This is because the `<img>` immediately follows the wrapper is the placeholder and not the actual `<img>`.

[2020-05-18 13:28] blainekasten commented on #24171
Hey @freaksauce !

Thanks for the report. I can't think of a reason off the top of my head why this would be problematic. Can you share more code on how this is setup?

[2020-05-18 13:33] blainekasten commented on #24165
Hey @kylegoetz!

Thanks for reporting the above issue, and sorry for the trouble you're running into. I've never heard of anyone needing to send DELETE requests to the gatsby development server. Can you explain a bit more what you are trying to achieve?

Under the hood we are running a light express API and using webpack-hot-middleware. I don't think our setup has anything specific to it, but it d

[2020-05-18 13:35] freiksenet commented on #24008
@art0rz I'm now a bit confused on what query you are using and what result you are expecting - could you please clarify?

One way to provide the reproduction would be to export the data to JSON from contentstack and use gatsby-transformer-json to test.

[2020-05-18 13:38] Defite opened #24187 "Hitting direct link redirects to main page"
## Description

I have gatsby project with pages created programmatically with `createPage` inside `createPages`. Both dev and prod modes work good locally, but on the server, while typing direct link manually in the browser (like https://example.com/some-link) I've got redirect to the main page. Nginx doesn't show any redirects, so I'm sure it's Gatsby doing something :) I see no errors in the co

[2020-05-18 13:52] blainekasten commented on #24169
At this point I don't see that we support changing the DOCTYPE based on a quick search through our codebase. Using Gatsby for generating emails is a new use case we haven't really considered and we don't see this very often.

I'm curious why you chose Gatsby for this?

[2020-05-18 13:52] kylegoetz commented on #24165
I have a restful api I need to interact with during development. After build, the static site and restful api are both served by Nginx/apache.

I set the `proxy` config in `gatsby-config.js` as per the Gatsby documentation to proxy the requests as I develop the UI.

There are a number of http actions you can do to interact with a server. Get, post, put, patch, delete, etc.

In restful architecture

[2020-05-18 13:57] blainekasten commented on #24187
Hey! Thanks for the report.

If the gatsby app is working as expected with `gatsby develop` and `gatsby serve` it is most likely not related to gatsby, but more specific with your hosting setup. I don't know that we'll be able to give the best advice for Nginx but we can try.

First, can we confirm that the app works as expected in develop and serve?
Second, can you share more of your nginx setup?

[2020-05-18 14:04] blainekasten commented on #24162
Thanks for the report! I've assigned our Learning team to review this and get back to you. Thanks!

[2020-05-18 14:05] Defite commented on #24187
Hey!

Yes, it's working as expected when I build it via `gatsby develop` and `gatsby build`. On remote server it begin working correctly when I disable JS in Chrome, so I suppose it's not Nginx related problem...

[2020-05-18 14:10] Lenetta commented on #24169
Because I liked the component approach as in reaction with the generation of static files.
The letter template is individual and requires fine styling and layout, various tools for letters are either heavily overloaded or have defects when working on the desired platforms. And it’s more convenient for me to write a set of my components for their reuse. And you also need to store all the files, and

[2020-05-18 14:17] jasonbahl commented on #24036
@mpaccione Ah yes. This happened to work for me because I modified the first post in my local site and that allowed Gatsby to infer the shape from that post and create a schema from that. I see how this would be an issue if the first post had different shape of data. This gets us back to why Gatsby is investing in WPGraphQL for the future of WordPress + Gatsby.

Since the WP REST API doesn't enfor

[2020-05-18 14:18] josvieira commented on #11406
Thanks,

[2020-05-18 14:22] jasonbahl commented on #24163
@speculati0n Currently you have your route added as `**/rest-routes`, but since there's no prefix before the route (such as `wp/v2/`), I believe you might need to try adding the route to the `includedRoutes` like so: `rest-routes/**`.

Can you give that a try and see if that works?

[2020-05-18 14:26] axe312ger commented on #23120
Hey, I am trying to reproduce this issue, but self-referencing entities work fine for me on single and multiple reference fields.

Can somebody provide a content model from Contentful where this issues pops up?

This is mine, you can import it into a new space via the contentful cli import command to see if I match the self-referencing pattern mentioned above (https://github.com/contentful/content

[2020-05-18 14:28] blainekasten commented on #24149
Hey @LethalPants, thanks for the report. I've assigned this to @wardpeet to help you out.

[2020-05-18 14:31] kylegoetz commented on #24165
For my own tracking purposes, here is the code where the proxy is set up in Gatsby https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop.ts

[2020-05-18 14:32] blainekasten commented on #24142
@muescha What sort of errors exist and what sort of check do you suggest implementing?

[2020-05-18 14:42] blainekasten commented on #24136
Thanks for reporting ya'll! I've assigned to @vladar who leads development on our graphql code. He'll be able to discuss and find out solutions here. 💜

[2020-05-18 14:59] maxkoretskyi commented on #24136
@blainekasten, thanks! It seems that it's even more complicated than simply setting up types, it seems Gatsby requires me to set up a resolver for each nested object like this:

[code]

@vladar can you please confirm that this is indeed the right approach at the moment?

[2020-05-18 15:01] sjcodebook commented on #14673
I faced the same problem to solve this by setting the build command in netlify as 'gatsby build'.

[2020-05-18 15:14] blainekasten commented on #24135
@dandv if you want to submit a PR feel free. However I personally feel like it's not that beneficial to document for a few reasons.

1. Devs rarely should be invoking functions like this during the render phase
1. The API is deprecated and will be removed in the next version of Gatsby.

I'm going to close the issue, but i'll cc @AishaBlake who leads our documentation to weigh in if she feels diffe

[2020-05-18 15:14] #24135 closed

[2020-05-18 15:22] viveksharmaui commented on #24137
Hi i wants to work on this issue.

[2020-05-18 15:25] rgreid commented on #11246
@kirill-konshin Did you check to make sure the `slug` matches the `relativeDirectory` name?  In the links you gave above the slug has been [transformed to kebab case](https://github.com/LekoArts/gatsby-starter-portfolio-emilia/blob/0ef63139538f85eede922282cc444e0509b446d0/gatsby-node.js#L16) with `slug = /${_.kebabCase(node.frontmatter.slug)}` so it no longer matches.

[2020-05-18 15:31] blainekasten commented on #24141
@herecydev No there is not a way to flag the order of the plugins. We'd have to do a decent amount of exploration to consider supporting an API to do that. Right now the site plugin is loaded in by gatsby (along with some other internal plugins), and we push those at the end.

I don't see us changing the way this works any time soon. So you'll have to find a different way to achieve this.

If you

[2020-05-18 15:31] #24141 closed

[2020-05-18 15:32] iamdarshshah commented on #24137
@viveksharmaui sure go for it!!

[2020-05-18 15:34] herecydev commented on #24141
Is there anything unclear about the example I provided? When the consumer of a plugin relies on a react "context provider" that the plugin provides.

Because the site always "goes last" and wraps the provider, it can never consume the information

[2020-05-18 15:36] distor-sil3nt commented on #24157
I solved the problem after reconstructing the problem in a minimal reproduction app. The Link component has been rewritten by a custom Link component and the route matching of the custom Link component was not done properly / was buggy. That's why Links were not working properly on subpages / subroutes.

Thanks for your help!

[2020-05-18 15:36] #24157 closed

[2020-05-18 15:40] Defite commented on #24187
I've disabled client routing with `gatsby-plugin-static-site` but it shows me the main page when I hit links different from the main page. Any thoughts of what's broken in my project?

[2020-05-18 15:44] blainekasten commented on #24160
Hey @wispyco!

Thanks for raising an issue. Unfortunately I can't really help you with this. I found this issue from [`react-event-listener`](https://github.com/oliviertassinari/react-event-listener/issues/101) which is what your library is using under the hood. It seems to be an issue with the library expecting an older version of babel. You could try installing the expected version of babel, but

[2020-05-18 15:44] #24160 closed

[2020-05-18 15:46] blainekasten commented on #24113
@danspratling Do you know if you're using incremental builds feature in Gatsby Cloud?

[2020-05-18 15:48] danspratling commented on #24113
- @blainekasten I’m not. I’m just using normal builds.

[2020-05-18 15:51] viveksharmaui commented on #24137
Please assign me this issue so that i can start my work .

[2020-05-18 16:01] hdJerry commented on #21707
I would like to book for pair programming

[2020-05-18 16:04] 4lm commented on #23828
@hlolli yes, I see it now, you are right, trying to solve this via build-time API hooks doesn't work!

So, I looked a little deeper and found out, that in "production" the contents of [`production-app.js`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/production-app.js) are called. In the code, I can see, that:

- a function named `navigate` is called.
- the path which i

[2020-05-18 16:11] iamdarshshah commented on #24137
@viveksharmaui You can give it a try and request PR for this issue. The team will review your PR and will get back to you with the required changes if needed. Thanks

[2020-05-18 16:13] viveksharmaui commented on #24137
Sure! I will try

[2020-05-18 16:18] kylegoetz commented on #24165
Found the problem. The proxy server created by Gatsby isn't enabling cors, so the pre-flight requests aren't forwarded. This means GET, POST, and OPTIONS work, but PATCH, PUT, DELETE will not.

The Express docs explain it here, that you have to pass cors to all the middleware. I see it passed at some point in another section of the code, but not for the proxy part. https://expressjs.com/en/resourc

[2020-05-18 16:30] 4lm commented on #23828
Mhhh 🤔, I get some error messages in the console:

[code]

So more code has to be refactored, a simple regular expression seems to not be enough ...

[2020-05-18 16:58] Immortalin opened #24190 "Differences in query/config"
When using the Gatsby-image-sharp plugin, the following query does not work and gives `Unknown fragment: GatsbyImageSharpFluid_tracedSVG`:
[code]
but this works:
[code]

Is there a misconfiguration somewhere?

[2020-05-18 17:03] Defite commented on #10794
I'm having the same issue!

[2020-05-18 17:10] Gercog52 opened #24191 "gatsby image increases assembly"
## off gatsby imges
![1](https://i.ibb.co/9vs3HJY/test.png)
## on gatsby images
![2](https://i.ibb.co/6wkmHMc/test2.png)

# how to fix big bundle ?

[2020-05-18 17:10] viveksharmaui commented on #24137
@iamdarshshah I'm struggling with setting up gatsby project can you help me? I want to run locally unable to regenerate this issue.

[2020-05-18 17:17] RohitChattopadhyay commented on #24137
Please elaborate on the problem you are facing
https://github.com/gatsbyjs/gatsby/tree/master/www
This is the codebase of the concerned website

[2020-05-18 17:32] viveksharmaui commented on #24137
I have installed npm modules and run npm install but still facing error.

[2020-05-18 17:42] RohitChattopadhyay commented on #24137
See if this helps https://www.gatsbyjs.org/contributing/website-contributions/

Adding screenshots/log of your error, will help a lot

[2020-05-18 17:48] blainekasten commented on #24190
Are you trying to execute this query within gatsby-node? If so, we don't currently support fragments in gatsby-node.

Otherwise, share a bit more information about your setup please! The `GatsbyImageSharpFluid_tracedSVG` fragment gets added by `gatsby-transformer-sharp`, so make sure you have that package installed and part of your gatsby-config plugins.

[2020-05-18 17:49] viveksharmaui commented on #24137
![Screenshot from 2020-05-18 22-48-20](https://user-images.githubusercontent.com/28563357/82243864-bc638800-9959-11ea-8dd7-49f5b60a4cef.png)

[2020-05-18 17:50] 4lm commented on #23828
After investigating the errors, I come to the conclusion, that at least the direction I took could be still feasible, but also, that a simple regex as code change is not enough:

[code]

- is triggered because `findPath` function in `find-path.js` now resolves the path as `"/de"` and not `"/"`, which triggers that it looks in `[...]/de/page-data.json` instead of `[...]/index/page-data.json`, so it

[2020-05-18 17:50] viveksharmaui commented on #24137
I'm facing this issue on my system even tried to run `sudo apt install libvips-dev` on my linux mint.
I'm using node version `v12.16.1`

[2020-05-18 17:53] viveksharmaui commented on #24137
also tried to use node version `v10` according to this guide : https://www.gatsbyjs.org/docs/gatsby-on-linux/

but still facing same error.