[2019-01-29 02:06] #9667 closed

[2019-01-29 03:10] iwfan commented on #10967
After I added the `gatsby-browser.js` file, I also encountered the same warning.

[2019-01-29 05:06] transf3r opened #11375 "Error running hello world. Can't resolve 'prop-types'"
## Description
@m-allanson

I am trying to run the starter hello world project and cannot seem to get the` gatsby develop` to run without errors.

### Steps to reproduce

1. I have updated the CLI to the latest version. (2.4.8)
2. `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world`
3. ` cd hello-world`
4. `gatsby develop`

### Expected result
gatsby should start the bui

[2019-01-29 06:57] waifo commented on #10742
when i am doing console.log in gatsby-node.js, i am getting all the products
Destructuring is fine, it runs when i do gatsby develop all products pages are created and respective data comes on the page

[2019-01-29 07:02] DanielRuf commented on #11198
Did you try to install the dependencies with `yarn` too?

[2019-01-29 08:01] seonim-ryu commented on #11198
@cyrildurand
Did you encounter this error when you installed `npm`?
![2019-01-29 4 50 27](https://user-images.githubusercontent.com/18183560/51893028-06cc9880-23e7-11e9-94d3-d76d8b764a12.png)
I also had the same issue, but upgrading `arcon`'s version to 6.0 worked well.

[2019-01-29 08:10] DanielRuf commented on #11198
This is just a warning and not related to the Gatsby issue.

[2019-01-29 08:16] waifo commented on #10742
@sidharthachatterjee @jonniebigodes
You can clone this repo https://github.com/waifo/gatsby-test.git
Steps to reproduce
1 run gatsby develop
2 navigate to localhost:abcd/employees
You will see list of employees clicking onto each employee you will get details of each employee

Now run gatsby build
You will get error

[2019-01-29 08:40] Khaledgarbaya commented on #9488
@janosh it was moved [here](https://github.com/contentful/rich-text/tree/master/packages/gatsby-transformer-contentful-richtext) as I mentioned in the README

[2019-01-29 09:04] janosh commented on #9488
@Khaledgarbaya Sorry, I missed that. Regarding the features of `gatsby-transformer-contentful-richtext`, is it possible to render block and inline entries using React components?

[2019-01-29 09:08] rutzfutz commented on #11355
Can you please send us the output of this site using the browser that you experience the freezing issue on?

https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_nav_all

It just outputs all navigator object properties. This may help as the freezing fix unfortunately had to rely on browser detection, which uses some of these properties.

[2019-01-29 10:06] #6097 closed

[2019-01-29 10:25] cyrildurand commented on #11198
Same error after the installation of `acorn`

it works with `yarn`. I updated the gist with `yarn list` output

[2019-01-29 10:36] m-allanson commented on #10884
Hey @d3lm, did you get a chance to try @wardpeet's fix? It should be released in the latest version of Gatsby.

[2019-01-29 10:40] DanielRuf commented on #11198
Which error?

[2019-01-29 10:46] cyrildurand commented on #11198
I tried upgrading `acorn` has suggested by @seonim-ryu and try to run `gatsby build` and had the same, "unexpected token" error (the one from the first message of this isssue)

If I use yarn, the issue disappear, the `gatsby build` comand succeed.

[2019-01-29 10:59] d3lm commented on #10884
Will give it a spin now and get back to you asap.

[2019-01-29 11:10] DanielRuf commented on #11198
Does it also happen with previous acorn releases? Or is this not the cause?

[2019-01-29 11:11] DanielRuf commented on #11198
Did you try my proposed fix? Not sure if this would break anything.

[2019-01-29 11:15] cyrildurand commented on #11198
It also failed with previous version of acorn, I don't think it is related to it.

It is working now that I install the dependencies and I'm not sure on how to apply your proposed fixed.

[2019-01-29 11:24] DanielRuf commented on #11198
Go to node_modules/gatsby/dist/internal-plugins/query-runner/pages-writer.js and change the two `import(` to `require(`, also see https://github.com/gatsbyjs/gatsby/issues/11198#issuecomment-457915157

[2019-01-29 11:34] slk333 commented on #11355
Hi and thanks for the reply.

Browser CodeName: Mozilla

Browser Name: Netscape

Browser Version: 5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/71.0.3578.89 Mobile/15E148 Safari/605.1

Cookies Enabled: true

Browser Language: en-US

Browser Online: true

Platform: iPhone

User-agent header: Mozilla/5.0 (iPhone; CPU iPhone OS 12_2 like Mac OS X) Apple

[2019-01-29 11:39] wardpeet commented on #10570
@sydneypalumbo we did a scroll fix a week ago, can you test this behaviour again? ^^

[2019-01-29 11:44] cyrildurand commented on #11198
It works with the fix

[2019-01-29 11:46] iamskok commented on #5030
@DSchau Did you have a chance to checkout  [gatsby-remark-code-buttons](https://github.com/iamskok/gatsby-remark-code-buttons)?

[2019-01-29 11:50] DanielRuf commented on #11198
Is anything broken because of the fix? The failing CI builds do not look great.

[2019-01-29 11:59] mufaddalmw commented on #8612
@jpmasud after adding code you mentioned it throws another error -
```  WebpackError: TypeError: htmlComponentRenderer.default is not a function```

[2019-01-29 11:59] adriantombu commented on #8707
Hey there! Sorry for the late answer, I had no time until now to check your solution 😊

I made some adaptation that can be found in this PR: https://github.com/adriantombu/the-greaaat-gatsby/pull/9

The image problem is now resolved thanks to you, but I still have some glitches with the text that changes after a few miliseconds. I can make some placeholder too for the text, I'll see when I have so

[2019-01-29 12:46] rutzfutz commented on #11355
Thank you. Your browser is still identified correctly by the detection we added in https://github.com/taion/scroll-behavior/pull/129, so this part of the scroll-behavior package is unlikely to cause the freeze you're encountering, as it's not setting `window.history.scrollRestoration` in your scenario.

The bug must lie somewhere else. Sorry not to be of more help!

[2019-01-29 12:53] slk333 commented on #11355
Yes, hopefully this will be fixed by Apple before iOS 12.2 ships. I don't know if we should keep the issue open in the mean time. I can open a new one if ever the bug still remains when iOS 12.2 ships (out of beta)

[2019-01-29 13:51] DSchau commented on #5030
@iamskok I'll take a look now! At a glance, it looks good--mind PRing it to our `www` directory (aka gatsbyjs.org)?

One note is that I'm not sure I like the opt-in behavior. I think it should be enabled, by default! opt-out perhaps makes more sense?

[2019-01-29 14:29] nestarz opened #11385 "Error trying to visualize size of webpack output files using "webpack --profile --json > stats.json""
Hello,

1. I'm trying to output stats.json using this cli tool from webpack:

`webpack --profile --json > stats.json
`
I did it from my gatsby project root AND from public dir but both led to this output:

[code]

2. I also tried to do as stated here
https://spectrum.chat/gatsby-js/general/visualize-bundle-tool-how-to-generate-stats-json~81724d89-10ba-45da-8ef9-e81eb0480419
by adding to gatsby-con

[2019-01-29 15:30] frivolta opened #11388 "Expire Headers better metrics"
Hello,
I just published my first website using Gatsby, works great so far and I have 96 in page speed score and 85 in yslow in GTMetrix, since what seems to be an issue is that I have not set an expire header for the static resources (There are 18 static components without a far-future expiration date.) What would be the best way to achieve this? I couldn't find the right answer online, maybe I am

[2019-01-29 15:31] frivolta commented on #11388
By the way, I already took a look at https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/ since I am on Netlify but I couldn't figure out what I should do.

[2019-01-29 15:33] sidharthachatterjee commented on #11355
Let's close the issue for now @slk333 since it affects beta iOS. Please feel free to reopen on release if this still occurs. Thank you!

[2019-01-29 15:41] sidharthachatterjee commented on #10742
Just took a look at the repo @waifo

One of the employee objects has `first_name` and `last_name` set to `null`
![screenshot 2019-01-29 21 07 18](https://user-images.githubusercontent.com/7701981/51919663-ebbf5000-2409-11e9-8cc4-00d49e95c333.png)
You should be able to fix this by adding a `null` check in the React component or filtering out bad data when fetching and creating nodes. The reason it

[2019-01-29 15:41] #10742 closed

[2019-01-29 15:44] iamskok commented on #5030
@DSchau Thanks for checking it out!

Do you mind clarifying what opt-in/opt-out behavior are you talking about?

Sure, no problem! I'm gonna do it once the code will be ready.

[2019-01-29 15:48] DSchau commented on #5030
@iamskok it _appears_ that you have to add a specific handler, e.g.

[code]

correct?

[2019-01-29 15:53] iamskok commented on #5030
Yes, this is how it's working right now.

[2019-01-29 15:55] DSchau commented on #5030
Right! So I think we'd generally want _all_ code snippets to have the functionality. I'd prefer something like:

[code]

I think! I'm open to however you prefer building in this functionality, but I think generally most will want this opt-out rather than opt-in!

[2019-01-29 15:57] sidharthachatterjee commented on #11362
Thank you for opening this @aprather51

@reach/router's Link
We pass down all props to

[2019-01-29 16:08] sidharthachatterjee commented on #11388
@frivolta Headers like Expire need to be set up where the content is hosted — in your case, Netlify

Check out the Netlify documentation to add custom headers at https://www.netlify.com/docs/headers-and-basic-auth/#custom-headers

Closing this since this isn't a Gatsby issue but please feel free to comment if there is anything else we can do to help!

[2019-01-29 16:08] #11388 closed

[2019-01-29 16:09] waifo commented on #10742
@sidharthachatterjee
Thanx for looking into it
I have removed null value from db, still i am getting same error

[2019-01-29 16:18] thibautRe commented on #11128
Just following up on this one - is the API I mention (allow exports of Promise from `gatsby-config`) something that would be accepted by the maintainers? I can work on a PR

[2019-01-29 16:22] sidharthachatterjee commented on #10742
@waifo Your API is still returning an empty object for that employee
![screenshot 2019-01-29 21 52 23](https://user-images.githubusercontent.com/7701981/51923065-393ebb80-2410-11e9-8156-c5717da6229b.png)

[2019-01-29 16:26] waifo commented on #10742
I don't see any null value returned from this api https://emp-server.herokuapp.com/getEmp

[2019-01-29 16:27] jonniebigodes commented on #10742
@waifo i've just cloned your repo, let me set it up and see what i can come up with. Sounds good?

[2019-01-29 16:29] KyleAMathews commented on #11128
Couldn't the plugin itself go fetch the config?

[2019-01-29 16:33] pieh commented on #11128
As @KyleAMathews mentioned you can let your plugin accept functions:
[code]
and you could invoke that and await inside your plugin

[2019-01-29 16:35] sidharthachatterjee commented on #10742
@waifo Just took another look and realised what it causing this. employee.js is inside the the pages directory and Gatsby creates pages for each of the files in that directory automatically. In the case where it does so automatically, it doesn't get any context and hence build fails.

A simple fix is to rename pages to templates (and also change it in the paths in gatsby-node)

[2019-01-29 16:44] waifo commented on #10742
@sidharthachatterjee @jonniebigodes
Thank you very much for your time and effort, i really appreciate it

[2019-01-29 16:49] waifo commented on #10742
(Y)

[2019-01-29 16:57] LekoArts commented on #11350
https://github.com/gatsbyjs/gatsby/pull/11356

[2019-01-29 16:57] #11350 closed

[2019-01-29 17:08] sidharthachatterjee opened #11394 "Semver for releases"
Tricky but we should try to follow https://semver.org/

[2019-01-29 17:15] kyleshevlin commented on #8612
FWIW to future visitors of this thread, in response to my previous post, `gatsby-plugin-layout` and putting a `firebase` instance into context are not necessary steps to solving the issue of loading the Firebase SDK with Gatsby. Dynamic importing *is* necessary. Here's why.

Firebase has an `initializeApp` method that makes reference to the `window` object. Gatsby does not have access to the `wind

[2019-01-29 17:16] #2196 closed

[2019-01-29 17:16] #2349 closed

[2019-01-29 17:16] #7034 closed

[2019-01-29 17:16] #8578 closed

[2019-01-29 17:16] #8652 closed

[2019-01-29 17:16] #8654 closed

[2019-01-29 17:16] #8661 closed

[2019-01-29 17:56] KyleAMathews commented on #9770
Hmm yeah — we definitely shouldn't unregister all service workers, just ones from gatsby-plugin-offline. Or perhaps make it configurable.

The reason the code was added is because people will frequently have SWs hanging around which can be super confusing as it blocks your development environment with no clear way to fix it.

[2019-01-29 18:43] gagandeepp commented on #11165
@sidharthachatterjee can i look into this?

[2019-01-29 19:18] #9757 closed

[2019-01-29 20:12] sorensenjg commented on #7252
Just ran into this myself, hosting on AWS S3. Any news?

[2019-01-29 20:13] abohannon commented on #9207
I'm not having this issue with Netlify specifically, but my UTM query params are being deleted for this same reason. `/mypage?utm_source=google` becomes `/mypage/` and this is causing tracking issues.

[2019-01-29 20:18] moonmeister opened #11397 "gatsby-plugin-manifest invalidate http caches"
I recently update a icon I'm using for our company's site and while the plugin worked flawlessly, thanks to http caching, it appeared the updated icon wasn't making it to production. I realized in the end that this was not a browser cache issue but our website host was caching the old icon. Once I realized this I went into the admin panel and reset the cache and everything was good.

This made me

[2019-01-29 20:36] abohannon commented on #9025
I'm encountering this, too.

Locally, using surge, and in production. The redirect is removing our tracking query params, as well, which is why I'm searching for a solution. Anyone have any ideas?

[2019-01-29 20:54] pantelis commented on #11320
Thank you @sidharthachatterjee for the timely response. Unfortunately I have no prior coding experience in Javascript. I use Gatsby without having to go down to Javascript level.

[2019-01-29 20:56] sidharthachatterjee commented on #11165
@gagandeepp Sure! Please comment if you need any help 🙂

[2019-01-29 21:12] sydneypalumbo commented on #10570
@wardpeet that fixed it! It ends up on the proper place on the page for both of the cases I described above -- thanks so much :+1:

[2019-01-29 21:12] #10570 closed

[2019-01-29 21:37] sidharthachatterjee commented on #11348
So this isn't an issue with webpack-dev-middleware as the tests at https://github.com/webpack/webpack-dev-middleware/pull/365 assert

The issue is that in `packages/gatsby/src/commands/develop.js`, we only serve index.html if
[code]
I'll fix that since it is unnecessary as everything _should_ be caught that low in the pipeline

[2019-01-29 21:42] abohannon commented on #11105
I also have this concern. We recently switched a lot of properties to Gatsby, but using the same urls because we have marketing campaigns using these urls. However, the 301/302 redirect is deleting the url params.

e.g.

`mysite.com/page?utm_source=google`

becomes

`mysite.com/page/`

and the tracking does not register.

Any insight into this would be very helpful.

[2019-01-29 22:10] Saifadin commented on #11120
A PR adding it as an experimental feature has been merged. To use it update your version and add the environment variable `GATSBY_GRAPHQL_IDE=playground` to use it.

Have fun 👋🏽

[2019-01-29 22:11] #11120 closed

[2019-01-29 22:15] sidharthachatterjee commented on #11320
No worries, @pantelis

I've added support for this in a new PR. We'll let you know once merged and released so you can upgrade and start using macros!

[2019-01-29 22:18] eballeste commented on #4514
i personally use npm but anytime i start a new gatsby project it automatically uses yarn in it's install process and throws an npm related warning:

it also creates a yarn lock file in addition to the package-lock.json

[2019-01-29 23:03] krismorf opened #11405 "[site-showcase] Blank page when visiting and navigating back"
## Description

In Gatsby Showcase when the user clicks on 'Visit site' and navigates back, a wild blank page appears.

### Steps to reproduce

1. https://www.gatsbyjs.org/showcase
2. Click any site
3. Click 'Visit site'

### Expected result

When clicking back user should return to the showcase, although it would be a better if the page opened in a new window.

### Environment

All browsers

[2019-01-29 23:20] sidharthachatterjee commented on #11368
cc @freiksenet

[2019-01-29 23:23] sidharthachatterjee commented on #11405
Thank you for reporting this @krismorf

This is a known issue and documented at https://github.com/gatsbyjs/gatsby/issues/10727

I'm closing this for now since it is a duplicate but please feel free to follow along there!

[2019-01-29 23:23] #11405 closed

[2019-01-30 00:23] sllvn commented on #11324
@AlexanderProd I'm running into the same issue; what was the cause of yours?

[2019-01-30 00:55] omrllm opened #11406 "Error: ENOSPC: System limit for number of file watchers reached, watch '/home/foldername/abcrypto/static'"
## Description

The web app compiles but when I reload the website, the compilation end with an error.

### Steps to reproduce

Just type `gatsby develop` and if you click an article for example or you reload (ctrl + r) the website compilation will end.

Repo: [There you go](https://github.com/anabcrypto/abcrypto).

### Expected result

`gatsby develop` should work.

### Actual result

[code]

###

[2019-01-30 01:01] sidharthachatterjee commented on #11406
It’s hitting your systems limit if file watchers

Try

echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

[2019-01-30 01:43] judah-firewood commented on #11198
Possibly a separate issue, but I got a similar error after upgrading to latest Gatsby (2.0.106) and adding a 404 page as per the docs ('src/pages/404.js'). Develop would run fine, but build failed.

Moving 404 page into its own folder ('src/pages/404/index.js') resolved the error on my end and works as expected (locally and on deployment to Netlify).

[2019-01-30 01:46] twhite96 commented on #11353
I'm getting a `Cannot read property 'version' of undefined` in line 627 of the `elasticlunr.js.elasticlunr.Index.load` file. I enter search criteria in dev and hit enter and the type error comes up. I just basically did some copy pasta for the search component. Here it is:

[code]

I have spent about an hour trying to figure out what the error is, apparently on lines 46 and 53. Any help would be a

[2019-01-30 07:37] iamskok commented on #5030
That sounds fair.  Though I'd prefer key-value pair options:

[code]

 I'll update the code today. Once you will say that everything looks good I'll push it to `www` directory.

I don't have plans on adding any other functionality at the moment, but I can see it being extendable to other feature.

[2019-01-30 08:00] stefanprobst commented on #4261
@freiksenet Sorry it took a bit longer - there is now a branch with everything squashed, merged with master, and with the original tests added at https://github.com/stefanprobst/gatsby/tree/schema-refactor-v2

[2019-01-30 08:16] freiksenet commented on #4261
@stefanprobs Thank you! That's very helpful.

[2019-01-30 08:31] LekoArts commented on #11397
You can work on this PR and bring it over the finish line 👍
https://github.com/gatsbyjs/gatsby/pull/8343

[2019-01-30 08:34] freiksenet commented on #4261
@stefanprobst I do'nt quite understand this code:

[code]

[2019-01-30 09:42] freiksenet commented on #4261
Also I feel I'd make a similar thing that was done with lokijs and put the new schema thing under a flag. Without the flag, the two new apis won't work, but otherwise it should (hopefully) work identically. I feel many changes that @stefanprobst did to the APIs/internal logic are very good, but I want to first release something that's fully compatible before possibly adding those for 3.0.

[2019-01-30 09:54] stefanprobst commented on #4261
@freiksenet Thanks for the update! Sounds like a great plan!

This is what's happening:
We use the `getProjectionFromAST` utility from `graphql-compose` (that's also used internally in its `Resolver` class) to get all fields in the selection set *plus* all fields defined in `projection` properties. This is returned as an object.
We then use this object (that represents all the fields that need to

[2019-01-30 09:57] stefanprobst commented on #4261
Also for info: except for a few tests that didn't make sense anymore (I left a comment there) all the old tests are ported and passing - except (i) sorting `null` values, and (ii) we infer a mix of date objects and strings as `string`, not as invalid.

[2019-01-30 10:55] dzonib commented on #8488
Using stable node version, not latest worked for me as well.

[2019-01-30 10:55] dzonib commented on #4693
Use stable version of node, not latest. That fixed errors for me.

[2019-01-30 10:59] jmknoll commented on #7885
@alexandor3x Just to confirm, this seems to be an issue with semantic.css, not with gatsby. Scroll events weren't working for me until I removed semantic-ui.

[2019-01-30 12:15] marcneander commented on #11364
https://discovery.contentful.com/entries/by-content-type?delivery_access_token=809074d7507cf609df4dd9210903910a91c6f35d3ddc7ecbc2cb2cd4d5a260c4&preview=false&preview_access_token=&space_id=7b9jienzv022

https://github.com/marcneander/gatsby-contentful-bug

[2019-01-30 12:55] gurpreet-hanjra commented on #11308
Hello, can I take this task?

[2019-01-30 13:20] #11320 closed

[2019-01-30 13:36] #11085 closed

[2019-01-30 13:37] #11307 closed

[2019-01-30 13:39] #10852 closed

[2019-01-30 14:43] stefanprobst commented on #11368
Note that all of this is working as expected in the schema refactor branch - I noticed those issues when porting over the old tests, and noted them here so there is something public to refer to.

[2019-01-30 14:45] AlexandraVlasenko opened #11412 "GraphQL Error Field "image" must not have a selection since type string has no subfields"
DESCRIPTION
1)GraphQL
![screenshot from 2019-01-30 17-23-50](https://user-images.githubusercontent.com/36598405/51987796-4f9e5300-24b4-11e9-96b4-231753e24765.png)
2)Markdown
![screenshot from 2019-01-30 17-42-10](https://user-images.githubusercontent.com/36598405/51988714-6b0a5d80-24b6-11e9-8b2a-e400451a4473.png)

STEPS TO REPRODUCE

1)Install plugins: gatsby-transformer-sharp, gatsby-plugin-sharp

[2019-01-30 14:52] kiley0 commented on #5329
We just launched (last night!) a full rewrite of our product using Gatsby and we are seeing the 404 page every time the user loads a client-only route -- either by directly navigating to a client-only route or by clicking reload in the browser.

We've got about 100,000 monthly active users, so plenty of surface area to try solutions that you post in this thread. Happy to provide any details that m

[2019-01-30 15:14] pieh commented on #5329
@kiley0 did you setup any server rewrites for you client-only route? If not this usually means that server will not find page in normal directory structure and will serve 404 page and later on when gatsby/react mounts it will find client-only route and update DOM with proper route

[2019-01-30 15:17] omrllm commented on #11406
Alright I restarted, and now everything works fine again.

[2019-01-30 15:23] seanislegend commented on #7377
I've not yet looked into _why_ this fixes it, but it did fix this issue for me 👍🏻

[2019-01-30 15:47] coxom commented on #7747
@elskwid Could you share that code? We started a new project and are again having this issue.

[2019-01-30 16:03] cyrildurand commented on #11198
I fixed the issue by deleting my `package-lock.json` file and run `npm install`. The new generated `package-lock.json` file had lot of differences.
Don't know exactly what happens here.

[2019-01-30 16:38] JohnMilazzo commented on #11198
Running into the same issues across a few different sites I have.   Some with the exact same dependencies and versions... one will hit the errors, one will not.   It started happening around 2.0.98 I believe and still with 2.0.106.   I've tried removing the node_modules, .cache, and public folders, but that hasn't helped either.  Only happens on build, not develop.

[2019-01-30 16:45] JohnMilazzo commented on #11198
And for what it's worth... also noticed ever since this started happening I'm getting permission warnings when trying to delete the entire node_modules folder.  Prior to these errors I had no problem removing that folder.  I'm on Windows 10.

[2019-01-30 16:47] moonmeister commented on #11397
@lekoarts Good call!! @jordanoverbye not bad idea, just a little more manual. Thanks for your enthusiasm and input on this!

[2019-01-30 16:54] danedavid commented on #11127
Any updates on this?

[2019-01-30 16:55] omrllm commented on #11198
I renamed package-lock.json to something else, and `npm install`ed everything, but I got again:

[code]

[2019-01-30 16:58] jkjustjoshing commented on #11108
Just as a further note, I encountered this issue a couple days ago. I have reproduced the issue at [this repository](https://github.com/jkjustjoshing/gatsby-reproduce-dangerouslysetinnerhtml-error).

Swapping out `<p dangerouslySetInnerHTML>` for `<div dangerouslySetInnerHTML>` did the trick for me!

[2019-01-30 16:58] cyrildurand commented on #11198
Did you clean your `node_modules` folder ?

[2019-01-30 17:00] omrllm commented on #11198
How do you do that? :(

`npm prune node_modules`?

[2019-01-30 17:09] krismorf commented on #11412
Hi @AlexandraVlasenko check if #8195 fixes the issue for you. If not, please share reproduction code.

[2019-01-30 17:14] omrllm commented on #11198
- Delete package-lock.json
- Delete node_modules folder
- `npm install` in the main folder

Thanks @cyrildurand

[2019-01-30 17:14] DanielRuf commented on #11198
Just rename it to have a backup.

[2019-01-30 17:14] DanielRuf commented on #11198
So it is really just an issue with an outdated dependency then?

[2019-01-30 17:15] krazik commented on #11198
I deleted node modules multiple times and it never fixed for me.  only things that worked is yarn or the patch file above.

[2019-01-30 17:16] omrllm commented on #11198
@krazik and did you delete/rename package-lock.json?

[2019-01-30 17:16] #4115 closed

[2019-01-30 17:16] #8421 closed

[2019-01-30 17:16] #8531 closed

[2019-01-30 17:16] #8640 closed

[2019-01-30 17:16] #8663 closed

[2019-01-30 17:16] #8676 closed

[2019-01-30 17:16] #8771 closed

[2019-01-30 17:20] krazik commented on #11198
yes

[2019-01-30 17:21] #11062 closed

[2019-01-30 17:31] m-allanson commented on #10884
@d3lm I'm going to assume no news is good news and close this out 😅

Let me know if I've got it wrong and we can re-open this issue!

[2019-01-30 17:31] #10884 closed

[2019-01-30 17:37] SleeplessByte commented on #4115
This is a mistake..

[2019-01-30 17:38] krazik commented on #11198
just to be sure I tried it again, and deleting both I can get past the error above but now run into

  Error: Cannot find module 'core-js/modules/es6.regexp.to-string'
  Error: Cannot find module 'core-js/modules/es6.regexp.to-string'

for both build and develop.

[code]

[2019-01-30 17:41] jonniebigodes commented on #11175
@VilleKoivukangas sorry for the late response, but i ran into some issues while addressing the other issue i mentioned in my previous comment.
Going to break my comment in parts for a better understanding:
- Like i mentioned before, i have a wordpress running on wsl. With that i created some more posts in there, some with featured images and others without, imported over 100 images into there from

[2019-01-30 17:44] JohnMilazzo commented on #11198
Try closing your editor, delete .cache, public, node_modules, and package-lock.json.   Then do a npm install.

[2019-01-30 17:47] m-allanson opened #11421 "Azure Pipelines failing for new PRs"
## Description

Windows CI builds are failing for new PRs since yesterday. See https://github.com/gatsbyjs/gatsby/pulls, or a specific example at https://github.com/gatsbyjs/gatsby/pull/11409/checks?check_run_id=56525556

### Steps to reproduce

Create a new PR to the Gatsby repo.

### Expected result

Windows CI tests should run, and pass or fail appropriately.

### Actual result

Windows CI test

[2019-01-30 17:48] m-allanson commented on #11421
@vagisha-nidhi as you very kindly helped us out with the config before, I was wondering if you had any insights on how we could investigate this issue?

[2019-01-30 17:49] pieh commented on #11421
Here's test PR https://github.com/gatsbyjs/gatsby/pull/11420 that just removed `testRunTitle` optional field that references `parameters` and everything seems to work with this change

[2019-01-30 17:49] sidharthachatterjee commented on #11421
Maybe related — https://github.com/MicrosoftDocs/azure-docs/issues/13871

[2019-01-30 18:40] akselinurmio commented on #9858
No, this is not stale.

[2019-01-30 18:48] alexieyizhe commented on #11333
Hi, I've created a PR for this as you can see :)

[2019-01-30 18:48] skrapkam commented on #11109
Any updates or ideas on how to fix this?

[2019-01-30 19:01] jonniebigodes commented on #10828
@pippo111 as i said in #11175, i have got the data back correctly.
One post is pulling a gallery with 163 images and one other is pulling all 163 images individually in a post for testing purposes. I have the code in there, It's not deployed because i'm getting the `fetching the JSON data from 0 valid API Routes...` error in netlify when i build the site. Tried it with the approach in [here](https

[2019-01-30 20:11] fk commented on #11127
Argh, missed this.
I'm so sorry @danedavid (and @sidharthachatterjee)! 🙏

This was working already, so no additional design is required.
I don't know what broke — for small screens, we showed just the sidebar for https://www.gatsbyjs.org/plugins/, and selecting a plugin from the list brought up the markdown content.

… Just did a little digging, and also tested on my phone — looks like @amberleyro

[2019-01-30 20:52] sidharthachatterjee commented on #9872
Not stale

[2019-01-30 20:54] laradevitt commented on #9087
Hey, @davidbailey00 - Noting that #10432 had been merged I updated all packages and the problem as described in my [previous comment](https://github.com/gatsbyjs/gatsby/issues/9087#issuecomment-452119637) no longer exists.

I'll note here, in case somebody else stumbles upon this issue, that this:

[code]

should now be:

[code]

Works a charm. Thx. :)

[2019-01-30 21:02] #11127 closed

[2019-01-30 21:57] JacobBlomgren opened #11424 "Plugins search a11y"
First of all, the website is pretty nice a11y-wise, but I noted a couple of things with the plugins search.

1. The plugin search doesn't support keyboard navigation (up and down arrow keys), even though the main (nav) search does. As I understand it, it's Algolia that provides that search bar, but I think this behavior should be unified. At least I expected it to be. Github and others have this t

[2019-01-30 21:58] #9759 closed

[2019-01-30 23:12] kiley0 commented on #5329
@pieh thanks for quick reply. We namespaced our almost all of our client-only routes to always be a path that starts with `/app/*`, and we originally added a rule to always return `/app/index.html` when a user tried to directly visit a client-only route (or reload). Our `pages/app.js` file is the file that has all of our top-level `<Router>` and `<Route>`s, so our thought was that it would properl

[2019-01-30 23:23] elskwid commented on #7747
@antoinerousseau and @jedrichards (and the rest of you :wave:). We were able to get a component to stay mounted across page changes by using `wrapPageElement`.

I created a `SiteContext` component so I could share the providers between browser and ssr and have a central place to make additions/changes. In this case, we have a client-side search provider:

[code]

Then in `gatsby-browser.js` and `g

[2019-01-30 23:35] elskwid commented on #7747
@coxom this code is buried in a pretty complicated internal plugin at the moment. _I should note that this process is only needed if you have a *plugin* or *external library* that needs to add fragments to the site._ If you're looking for a way to get general usage fragments in a more standard setup just let me know, we have a way we're doing that too. 😉

Essentially, we have a file with GraphQL f

[2019-01-31 00:04] asilgag commented on #7348
Which is the current status of this PR? It seems to be abandoned, but it looks very promising as it solves one of the main problems when developing with Gatsby.

[2019-01-31 00:42] asilgag opened #11426 "Slow queries when running gatsby develop"
## Summary
I am trying to compile 7200 markdown pages with gatsby, which involves executing ~7200 graphql queries. I am experiencing some problems with the speed of these queries:

- When I execute `gatsby build`, I got about ~160 queries/second, which is fine

[code]

- When I run `gatsby develop`, I got about ~35 queries/second, which is NOT fine as they take 4 minutes to execute

[code]

Is thi

[2019-01-31 01:33] jlengstorf commented on #8697
Not stale. I’m just slow. 😢

[2019-01-31 01:35] jlengstorf commented on #1727
@ivanoats I'd love to see that — let me know if you get one rolling and I'll happily help you test it.

[2019-01-31 02:40] ericmarkmartin commented on #8609
Not stale

[2019-01-31 03:06] discovrbookings commented on #10040
Thank you @polarathene. This does remove the error `no ICC input profile`. However, now only to be replaced with `error GraphQL Error Unknown field 'childImageSharp' on type 'File'`. Any ideas why?

[2019-01-31 05:04] #11397 closed

[2019-01-31 05:07] martinratinaud opened #11427 "Styled-components and common layout breaks the build"
## Description

Hi there, I'm new to gatsby and find it pretty awesome but I stumble across this problem which I created a repo to reproduce

If I use a custom Layout to be used throughout my app, and use it in `./gatsby-browser.js` like so

[code]

and with this in `./src/Layout.jsx` including a theme for styled-components

[code]

With this in my `src/pages/index.js`

[code]
I get a `WebpackErro

[2019-01-31 06:57] homearanya commented on #11362
This is an issue that is [currently being addressed](https://medium.com/@probablyup/introducing-transient-props-f35fd5203e0c) by the SC guys. It seems like they're about to introduce the concept of "transient" props to prevent this from passing down from the uppermost component layer.

[2019-01-31 07:20] AlexandraVlasenko commented on #11412
Hi! It didn't worked. All images at our site dissappeared.
Gatsby-node.js
[code]
This is a path to image:
![photoeditorsdk-export](https://user-images.githubusercontent.com/36598405/52037974-c0d81780-2541-11e9-8473-699a6b72694c.png)

Can it be because we used this gatsby-plugin-root-import?
Thank you!

[2019-01-31 09:34] #10121 closed

[2019-01-31 09:49] iamskok commented on #5030
@DSchau added default opt-out behavior iamskok/gatsby-remark-code-buttons@8c20ac607fbc2f19108590b2d20315426785b07f

* What branch should I push it to?
* Do you want me to set it up on [gatsbyjs.org](https://gatsbyjs.org) as well? If so we have to come up with custom styles for buttons and/or tooltips first.

[2019-01-31 11:08] wezzle opened #11429 "[gatsby-source-filesystem & gatsby-source-wordpress] Wordpress Media with UTF-8 URL skipped without error"
## Description

The Wordpress REST API does not URL encode UTF-8 characters. As a result the gatsby-source-filesystem plugin does not download the file because of this check:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L345
[code]

I'm not sure where the problem should be fixed. The following options could result in a solution:
-

[2019-01-31 11:42] wezzle commented on #11429
For those looking for a quick fix, add the following to your theme or plugin in Wordpress:

[code]

[2019-01-31 13:13] ilyagru opened #11431 "[gatsby-plugin-google-gtag] ReferenceError: Can't find variable: dataLayer (Safari)"
## Description

Getting `ReferenceError: Can't find variable: dataLayer` and no content at all (empty window) when opening a website in Safari with `Content Blocker` enabled. A feature added from Ads Blocker extensions like "Ka-Block!". In Chrome everything is fine.

<img width="539" alt="screenshot 2019-01-31 at 13 44 43" src="https://user-images.githubusercontent.com/18074511/52055178-f5a69780-2

[2019-01-31 13:17] ilyagru commented on #11431
For those who is looking for a quick fix, modify the file `node_modules/gatsby-plugin-google-gtag/gatsby-ssr.js` and build with that.

[code]

[2019-01-31 13:20] ARXChrono commented on #6478
Did you end up figuring it out?

[2019-01-31 13:22] frivolta commented on #10537
Hi, what approach did you use at the end?
Do you think in a custom post type is bad practice adding a custom field "Language", query it in gatsby-node and make the node based on the custom field content?
Thanks!

[2019-01-31 13:47] m-allanson commented on #7348
@asilgag this has been split out into smaller parts. The first part is to just run image processing on demand, as this is often takes a significant amount of time. There's a PR that's nearly ready to land over at https://github.com/gatsbyjs/gatsby/pull/10964

[2019-01-31 13:57] m-allanson commented on #10398
It sounds like using homebrew is the strong consensus here, I think it makes sense to go with that.

@berkeleycole that would be amazing, thank you!

[2019-01-31 14:09] colbyfayock opened #11435 "[gatsby-source-wordpress] Wordpress Preview Link"
I'm curious, has anyone has found a good solution for managing the Preview link on Wordpress posts, particularly with the new Gutenberg editor?

The Preview link no longer seems to be as easily filterable, so my current thinking is having to build out the routes in Gatsby and support it, such as:

* /?post_type=blog_posts&p=[id]&preview=true
* /blog_posts/slug/?preview_id=[id]&preview_nonce=[nonce

[2019-01-31 14:30] m-allanson commented on #11130
@KyleAMathews do you see this as a case of adding more pointers to existing docs or adding a new docs section somewhere?

We have the following docs on using Gatsby without GraphQL:

- In the _Recipes_ section: https://www.gatsbyjs.org/docs/recipes/#using-gatsby-without-graphql
- In the _Sourcing content and data_ section: https://www.gatsbyjs.org/docs/using-gatsby-without-graphql/
  - Which also

[2019-01-31 14:45] KyleAMathews commented on #11130
This is a bit different than those pages. Those pages are about adding data to a page via `pageContext`. We're not telling people that they can also just do `const data = require(`../data/cool-data.json`). Which is sometimes all people want.

I haven't through through though how or where this should go though. Recipes would be a good place. I was thinking the tutorial but I'd have to look through

[2019-01-31 14:45] Arztpraxis-Schulzendorf commented on #2392
@Kikobeats Could you explain how to do this or provide a link that explains it?

[2019-01-31 14:54] acgray commented on #8148
FWIW I got rid of this by manually running `yarn add sharp`.  I guess for some reason it wasn't included as a dependency.

[2019-01-31 15:03] Kikobeats commented on #2392
Unfortunately I didn't find how to 😢

[2019-01-31 15:33] roc00 opened #11436 "I have performed 'gatsby develop' with no problem, but once I type 'gatsby build' that return many problems to me."
//gatsby develop
[code]

//gatsby build
[code]

[2019-01-31 15:46] gurpreet-hanjra commented on #11352
or import it like `import { COLOR } from 'constants/index.js'`

[2019-01-31 15:47] gurpreet-hanjra commented on #11436
Hello @roc00 would be helpful if you can use the issue template and share the minimal repo for reproduction.

[2019-01-31 16:19] endymion1818 commented on #9025
I think there might be 2 ways of doing this:

1) adding NGINX or some proxy in front of your hosting. This isn't great, because why have a static site if you're going to have a proxy in front of it?
2) using a lambda function to change status codes. This is what we're currently investigating, and theres some confidence from this SO comment: https://stackoverflow.com/questions/31329495/is-there-a-w

[2019-01-31 16:24] imshuffling commented on #7517
I resolved it using https://github.com/gatsbyjs/gatsby/issues/7517#issuecomment-429248616

[2019-01-31 16:48] m-allanson commented on #10113
@janosh sorry for the delay! If you still have the time, there's now a placeholder article for an Algolia guide. See https://www.gatsbyjs.org/docs/adding-search-with-algolia/

[2019-01-31 17:15] rayriffy opened #11443 "How to keep new posts appear in index page with gatsby-plugin-offline"
## Summary

New blog/posts will not appear in front page immediately, I must navigate to other page or keep refreshing until it appear

## Relevant information

This happened to me since the begining of using Gatsby V2.

When I published my blog to production with Netlify, new blog will not appear to the frontpage. I need to navigate to somewhere else or wait for a while before refreshing (also fo

[2019-01-31 17:55] cardiv commented on #10537
Hey @frivolta,

I think it is not quite maintainable to add custom fields for all fields + languages you might want to translate. A translation plugin like WPML or Polylang is definitely a better choice in my opinion.

The PR I filed is still waiting on review. If this does not get reviewed/merged soon I will fork the plugin temporarily – since I need that for a current project. This would allow y

[2019-01-31 18:08] cardiv commented on #11435
Indeed, Gutenberg does not have lots of hooks. I disabled it for now because the available hooks do not allow a convenient workflow for me.

In a custom theme, I work on some workflow enhancements in using WP + Gatsby. This needs much more testing and development at the moment. Currently I test this with two projects and make it production ready.

The theme will feature:

- Publish changes (trigge

[2019-01-31 18:17] krismorf commented on #11443
Hi @rayriffy , you can use the onServiceWorkerUpdateReady API for that.

https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/#displaying-a-message-when-a-service-worker-updates

[2019-01-31 18:20] #11348 closed

[2019-01-31 18:39] aprather51 opened #11449 "array mapping with gatsby-img"
## Summary
There are 24 images inside 'src/assets/sponsors/'. The goal is to iterate and render in loop with gatsby-image.

With gatsby-source-filesystem is installed,  inside **gatsby-config.js** I have included `path:/assets/sponsors`. This ensure all (_24_) images get fetched from **sponsors** directory only.

**_gatsby-config.js_**
[code]
Querying  **graphQL** from `http://localhost:8000/___gr

[2019-01-31 18:54] frivolta commented on #10537
No I mean, In a custom post type let's say "portoflio", I have just one custom field in a metabox with a dropdown where I can chose the custom post language. Obviously with wpml it would be better but how does it integrate with external plugin, let's say acf?

[2019-01-31 19:05] gagandeepp commented on #11427
Thanks for reporting this issue.We are looking into it meanwhile you can use below mentioned snippet
[code]
--------------------------------------
`const Div = styled.div`
  ${({theme}) => css`
    color: ${theme.mainDark};
  `}
`
`

[2019-01-31 19:05] appleJax commented on #9121
@DavidHe1127 I'd have to see your code to know what you're doing wrong. If you post a link to your repo, I can take a look. The class-prefix trick was just my little hacky solution. I think best practice would be to follow the official MUI gatsby example found here: https://github.com/mui-org/material-ui/tree/master/examples/gatsby

[2019-01-31 19:15] gagandeepp commented on #11427
if this answers your query feel free to close this issue

[2019-01-31 19:23] valayd commented on #2880
I tried everything mentioned here but site still loads older version. In Chrome Incognito it works fine. Any workaround available ? As The site is still in development and each time I need to check updates in Incognito mode.

[2019-01-31 19:38] cardiv commented on #10537
You can translate ACF field groups like any other post type. The drawback is, that you need to change every translated field group if you want to enhance this. The advantage is that you have full control over which language has which fields.

[2019-01-31 19:52] pieh commented on #11308
`gatsby-plugin-manifest@2.0.16` was released which added support for `include_favicon` config option.

Thanks @gurpreet-hanjra for adding support for it.

[2019-01-31 19:52] #11308 closed

[2019-01-31 20:07] colbyfayock commented on #11435
Sounds great! The triggering of builds with the button sounds great too. We're doing something similar hooking into `save_post` I believe in WP.

The Preview prevents the biggest issue for us, a big complaint is not being able to truly see the page on the site before publishing :/

[2019-01-31 20:15] andrewcroce opened #11452 "[gatsby-transformer-remark] TOC depth?"
## Summary
Is it possible to set the table of contents depth with gatsby-transformer-remark?

## Relevant information

### Environment (if relevant)

  System:
    OS: macOS 10.14.2
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.15.0 - /usr/local/bin/node
    Yarn: 1.10.1 - ~/.yarn/bin/yarn
    npm: 6.4.1 - /usr/local/bin/npm
  Lan

[2019-01-31 20:38] JacobBlomgren commented on #11431
Hm. I can't seem to reproduce, neither with Ka-Block nor any other Safari ad blocker. 🤔 Anyhow, after looking around it does seem like the best practice in the Google tracking community is to do as you suggested to be safe. It certainly doesn't hurt at all. So I would say please go ahead and create a PR!

[2019-01-31 20:50] sidharthachatterjee commented on #11452
Thank you for opening this @andrewcroce

Currently, this isn't possible but should be pretty easy to implement. `gatsby-transformer-remark` uses `mdast-util-toc` under the hood to create the table of contents and this takes a [maxDepth](https://github.com/syntax-tree/mdast-util-toc#optionsmaxdepth) parameter

It should be pretty easy to add a new option called `maxDepth` in `gatsby-transformer-rem

[2019-01-31 20:53] sidharthachatterjee commented on #11449
@aprather51 You need to map over `data.allFile.edges`

With GraphQL, the format of the data corresponds directly to the query

[2019-01-31 20:55] sidharthachatterjee commented on #11435
Thanks for the info, @cardiv

@colbyfayock Closing this since it isn't directly relevant to Gatsby or the source plugin but please feel free to reopen if there is anything else we can help with!

[2019-01-31 20:55] #11435 closed

[2019-01-31 20:55] Undistraction opened #11453 "App Error On Production 404 page with react-dom ensure-resources error"
## Description

I have a custom 404 page at `/404`. I can view this successfully in development. However on production, navigating to a non-existent page results in the page loading, but with all links and any components non-functional (For example there is a mailing list signup component in the footer which does not function). This includes links on the page and within the header and footer which

[2019-01-31 21:10] edgarnansen commented on #11097
OK, I ran into a problem with building in a docker container today, which was solved by emptying the `.cache` folder. Made a PR that tries to `fs.emptyDir()` if `fs.remove()` throws.

[2019-01-31 21:11] sidharthachatterjee commented on #11431
The code in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-gtag/src/gatsby-ssr.js seems to be correct according to from https://developers.google.com/analytics/devguides/collection/gtagjs/

While I see the point of the fix, I wonder if it a small edge case that only applies to the blocker in question or more generally.

Could you please post a minimal reproduction of

[2019-01-31 21:19] johno opened #11456 "Component shadowing requires the cache to be cleared"
## Description

When working with Gatsby themes, component shadowing requires the cache to be cleared in order for the [component shadowing webpack resolver](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby/src/internal-plugins/webpack-theme-component-shadowing) to properly pick up the newly shadowed component.

### Steps to reproduce

[code]

### Expected result

The shadowed compon

[2019-01-31 21:31] wardpeet commented on #10316
PR is merged! thank you very much!

[2019-01-31 21:31] #10316 closed

[2019-01-31 21:42] m-allanson opened #11457 "Test - ignore"

[2019-01-31 21:42] m-allanson commented on #11457
Good bot.

[2019-01-31 21:42] #11457 closed

[2019-01-31 21:47] JacobBlomgren commented on #11431
For added info @ilyagru I'm on the same safari and macOS version as you.

[2019-01-31 21:49] m-allanson commented on #4682
Stop that, gatsbot.

[2019-01-31 21:55] alisonjoseph opened #11458 "gatsby-plugin-manifest doesn't show home screen icon in latest version"
I was pulling out my hair trying to get `gatsby-plugin-manifest` to show my "add to home screen" icon on my phone with version `2.0.11` and it wasn't working. Changed to `2.0.2` (which the gatsby site is using) and it works fine.

[2019-01-31 22:00] #11111 closed

[2019-01-31 22:12] janosh commented on #10113
@m-allanson No worries. Just created a [PR](https://github.com/gatsbyjs/gatsby/pull/11459) with my suggestion for the guide. It's a little long. Let me know if you'd like me to cut it down by maybe removing the part on how to implement the UI. Although to be honest that was the part that took me the longest and something I personally would like to see in such a guide if I came across it.

[2019-01-31 22:17] Remigiusz-Wasiak commented on #11443
@rayriffy I observed the same problem with my blog. My config setup is very similar to yours. I also use Netlify. Blog is built on gatsby-starter-blog.

Recently my blog "disappear" after deploy. I got following error in console:
https://ibb.co/vhzCWy7
I had to unregister service worker and refresh page - blog came back to life.

@krismorf
Asking users for reloading page each time the blog post is

[2019-01-31 22:32] thinkocapo commented on #11453
I think I have same or similar issue, and I'm only using the starter app - no code modifications. Doing this because I was creating my own app and that threw errors, so decided I should make sure the native example works. Hmm.
I did:
[code]
then I went to `localhost:9000` and got:
[code]
`gatsby develop` works fine on `localhost:8000`

[2019-01-31 22:44] krismorf commented on #11443
@Remigiusz-Wasiak You don't have to ask the user to reload or click a button. You only need `window.location.reload()`. The rest is an example if the user wants to add a prompt or notification.

[2019-01-31 22:46] jaydanurwin opened #11460 "MDC React will run in develop but won't build"
## Description

I am trying to use the official [MDC React components](https://github.com/material-components/material-components-web-react) and set up a project using default gatsby starter following their step in the readme. The part that makes me think this is a gatsby build proccess issue is that:

1. It works while using `gatsby develop` locally
2. The build works great using `create-react-ap

[2019-01-31 23:04] fivetwelve commented on #3006
Hopefully, the following helps someone out; it took me a while.

I was `struggling` today with implementing a simple request with `whatwg-fetch`. After seeing some errors between `develop` & `build` I used
`import { fetch as fetchPolyfill } from 'whatwg-fetch';`.

When using v3.0.0, `fetchPolyfill` under `develop`  works correctly, but during `build` stops on:
[code]
When I try to downgrade to v2.

[2019-01-31 23:07] fivetwelve commented on #8612
I came to this thread due to `whatwg-fetch` causing me similar issues. With one version, it would work in `build` but not `develop`. Downgrading from 3.0.0 to 2.0.4 caused the opposite, failing `build` and working in `develop`. Details in my comment in a similar issue: https://github.com/gatsbyjs/gatsby/issues/3006#issuecomment-459540756.

Summary: I switched to `fetch-ponyfill` and it worked in b

[2019-01-31 23:09] jonlow commented on #6667
For this to work in the latest version of Gatsby, you need to modify https://github.com/gatsbyjs/gatsby/issues/6667#issuecomment-409836864 to this:

[code]

so `loaders.null()` instead of `null-loader`, as per https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules

[2019-01-31 23:32] thinkocapo opened #11461 "Gatsby Build, Serve can't find Resource '/'"
### Steps to reproduce

[code]
Go to http://localhost:9000/ and the page is blank (white), check chrome console...

### Expected result

The landing page should load. This works if I run `gatsby develop` and go to localhost:8000. No errors in chrome console.

### Actual result

When you run gatsby serve and go to localhost:9000, page loads blank (white), so check chrome console:
[code]

### Enviro

[2019-01-31 23:37] thinkocapo commented on #11461
Its not finding some of the generated files in /public? Mismatch between what's being called and what exists?
![screenshot from 2019-01-31 18-35-01](https://user-images.githubusercontent.com/8920574/52092897-3ca88300-2587-11e9-91d6-4345542df4ab.png)

[2019-01-31 23:46] silvenon commented on #7517
But it's a workaround for an actual bug, I don't think this should be closed. If that's a recommendation from Gatsby team, I think it's best if the starter and docs are also updated to use `gatsby-browser.js` instead.

I guess code-splitting and SSR are really tricky for CSS files. 😕

[2019-02-01 00:49] aprather51 commented on #11449
Mapped `data.allFile.edges` following...

[code]
And I still get **_TypeError: Cannot read property 'allFile' of undefined._**. Not only that, with `console.log(data)` browser console show this as `undefined`. I am assuming it does not detect any data?

[2019-02-01 01:43] heathblandford commented on #10363
@arturhenryy were you able to get this fixed? I'm getting same error and am unable to find anything to help

[2019-02-01 02:01] marcysutton commented on #11461
I ran into something similar when trying to build, and it was because an error was thrown in the build and there weren't generated HTML files in the public folder. You're saying `public/index.html` is there, but it's not loading for some reason?

[2019-02-01 02:37] seaneking opened #11463 "[plugin-react-css-modules] React CSS modules don't work in production"
## Description

When building for production with `gatsby-plugin-react-css-modules` styles are't correctly applied. Guessing the hash that react-css-modules defaults to and the hash that Gatsby's internal CSS module setup use don't match. The extended hash used in dev works fine.

### Steps to reproduce

1. Setup plugin-react-css-modules
2. Build site for production

### Expected result

Classes f

[2019-02-01 03:10] seaneking commented on #11463
Based on https://github.com/gatsbyjs/gatsby/blob/97c98e9cf9229369892f5fee04458c9018cd2c07/packages/gatsby/src/utils/webpack-utils.js#L201 guessing it should be `[name]--[local]--[hash:base64:5]` when in production, rather than just the hash like it currently is.

[2019-02-01 05:57] iammatthias opened #11464 ""TypeError: Cannot read property 'path' of undefined" on build (netlify and local)"
Site works using `gatsby develop`. Error occurs during build on local machine, and on netlify. Log output below.

Source: https://github.com/iammatthias/.com/tree/staging

Any help would be appreciated!

Log on Netlify: https://app.netlify.com/sites/iamnet/deploys/5c53dd88b966330008c70bb2
[code]

[2019-02-01 06:04] gagandeep commented on #11427
@martinratinaud you tagged the wrong gagandeep. Let me tag the correct one @gagandeepp

[2019-02-01 06:07] martinratinaud commented on #11427
@gagandeepp and @gagandeep Sorry about that :-)

[2019-02-01 06:10] codeartistrycode commented on #11464
I'm getting the very same stack trace, both on local builds and when deploying to Netlify. No errors in development.

[2019-02-01 08:02] madhusudhan1234 commented on #3582
Hi Guys! When I run ```gatsby build``` It gives me following error.

Building static HTML for pages{ Error: Cannot find module '!raw-loader!../public/styles.css'

```gatsby develop``` works fine. Could you guys please help me with this?

[2019-02-01 08:15] rayriffy commented on #11443
So, the solution will be something like

`gatsby-browser.js`:

<details>
<summary>Code</summary>

[code]

</details>

I will try this and I will give resolution within week

[2019-02-01 08:46] RohitRox commented on #8560
Having same issue
[code]

[2019-02-01 08:52] RohitRox commented on #5734
Having same issue.
Gatsby build applies different class name but I can see in React inspector proper class being applied.
[code]
<img width="1117" alt="screen shot 2019-02-01 at 8 47 24 am" src="https://user-images.githubusercontent.com/637558/52112433-6b157500-25fe-11e9-9187-91f77aac25b3.png">
<img width="1004" alt="screen shot 2019-02-01 at 8 47 08 am" src="https://user-images.githubusercontent.

[2019-02-01 09:06] pieh commented on #11452
Hey, there is open PR for it - https://github.com/gatsbyjs/gatsby/pull/9814 - we could get some help in reviewing and testing it

[2019-02-01 09:53] #11452 closed

[2019-02-01 10:19] ajayns commented on #11352
Oh I was unaware of this plugin, will give it a try. From what I tried I realized it was an issue only occurring for styled-components because webpack doesn't recognize imports there. So in my project removing the alias imports used for just styled-components worked.

[2019-02-01 10:40] Steffi3rd opened #11471 "Why FontAwesome doesn't show up on gatsby build ? But works on develop"
Hi,

I use FontAwesome. I display some icons on my page and it works great with `gatsby develop`.
But with` gatsby build`, and in production, FontAwesome icons doesn't show up or certain appear but not with the good style.

Someone know why?
I use emotion btw

[code]

[2019-02-01 10:54] gurpreet-hanjra commented on #11471
Hello @Steffi3rd would be possible for you to have minimal reproduction in github public repo?

[2019-02-01 11:12] riccardoferretti opened #11472 "Missing fields in `gatsby-source-graphql` response causes build to fail"
## Description

I am using the `gatsby-source-graphql` to get some data from a server.
My build has sporadically been failing with errors about missing fields, even though I could actually see them with GraphiQL (although they were `null`, which is perfectly fine according to the schema).
Eventually I came across [this article](https://www.gatsbycentral.com/gatsby-ignores-empty-fields) and [this t

[2019-02-01 11:41] DavidHe1127 commented on #9121
@appleJax Problems solved after following material-ui + gatsby example.
But I am still confused with their solution.

js
[code]
I assume css are collected from components and injected into html during build time?  Why do we need to dedupe here?

[2019-02-01 12:04] sidharthachatterjee commented on #11458
Hey @alisonjoseph

This could be related to a regression in `2.0.9` (https://github.com/gatsbyjs/gatsby/issues/10770) which was fixed in https://github.com/gatsbyjs/gatsby/pull/11203 and published in `2.0.14`

Can you update to gatsby-plugin-manifest 2.0.14 (or the latest) and give it a go?

[2019-02-01 12:40] #11097 closed

[2019-02-01 13:06] riccardoferretti commented on #11472
Building the sample repo has made me notice that I was using `@wyze/gatsby-source-graphql` instead of the official plugin. I am now in the process of switching (which is proving not straightforward due to some library conflicts), from your reply I assume the issue will disappear in once I transition over, thanks for the help!
Will close for now, will reopen if after the switch I am still experienc

[2019-02-01 13:06] #11472 closed

[2019-02-01 13:16] sidharthachatterjee commented on #11460
Thank you for opening this @jaydanurwin (You did great!)

It looks like material-components-web-react has a bug where Button doesn't work with SSR. It works with both Create React App and `gatsby develop` because neither of these perform any server side rendering.

This is why `gatsby build` is failing

I've gone ahead and sent you a PR (https://github.com/jaydanurwin/gatsby-mdc-test/pull/1) fixin

[2019-02-01 13:16] #11460 closed

[2019-02-01 13:30] sidharthachatterjee commented on #11461
Can't reproduce this locally

It seems like a lot of responses including the webpack runtime is coming from a service worker. Perhaps, a _previously_ run site on the same port registered a service worker?

Try clearing your application and service worker cache in Chrome and see if that fixes this?

[2019-02-01 13:32] Steffi3rd opened #11473 "has CSS Delay when using client-routes pages (Hybrid app pages)"
Hi,

I'm using gatsby as Hybrid app.

On static pages, CSS is great, and displays instantanely.
But on client-routes only, (example: `/login` or `/account`) I have a delay on these pages.

Is there a way to fix that?

[code]

[2019-02-01 13:32] madelyneriksen commented on #11198
I'm pretty sure that it's just some funky package resolution by NPM.

I did manage to get the dependencies sorted out on my sites by deleting the lockfile and `node_modules`. I wasn't able to reproduce it outside of sites that were broken.

[2019-02-01 14:03] thinkocapo commented on #11461
@sidharthachatterjee thank you that worked. I went to Dev Tools > Application Tab > Service Worker > click 'Unregister Service Worker' and it now works.

Before that I also tried running it in a Chrome Incognito Window and Mozilla - both worked. Should have tried that sooner. But didn't know Service Worker could cause interference here.

[2019-02-01 14:07] sidharthachatterjee commented on #11461
Glad that worked, @thinkocapo

Thank you for using Gatsby!

[2019-02-01 14:07] #11461 closed

[2019-02-01 14:07] coxom commented on #7747
@elskwid I tried the strategy to copy the fragments into the .cache and I'm still getting the "Loading (StaticQuery)". Using gatsby 2.0.19

My use-case is similar to @krabbypattified. I'm loading translations and currencies.

[2019-02-01 14:14] DSchau opened #11477 "[bug]: StaticQuery fails when `export` is used to export query"
## Description

When a component with a `StaticQuery` exports its query, e.g.

[code]

Building this code will lead to the query data _not_ being injected into the component and will lead to a display of `Loading (StaticQuery)`

### Steps to reproduce

- Use the above code, _or_ check out [this repo](https://github.com/marcysutton/gatsby-site/commit/7ae73eb46dbd008494b7610d7ae98ca6116ee014#diff-76

[2019-02-01 14:18] sidharthachatterjee commented on #11477
_Looks_ like we need to check in https://github.com/gatsbyjs/gatsby/blob/fbb77daa7eac39c1593f808bd837d0e470f63595/packages/babel-plugin-remove-graphql-queries/src/index.js#L254 if the same tag is used in a static query before removing it

[2019-02-01 14:22] sidharthachatterjee commented on #11473
Hey @Steffi3rd

If I understand correctly, the delay you're referring to is a result of the client side rendering of the route (or the lack of server side rendered markup for it)

Since client only routes aren't server side rendered this _seems_ unavoidable

Can you try moving some of the styles to a layout component and see if that helps?

[2019-02-01 14:34] alisonjoseph commented on #11458
Yep its working! thanks as always for the super quick response. 🥳

[2019-02-01 14:34] #11458 closed

[2019-02-01 14:40] frivolta opened #11479 "Image Names after build"
Hello,
I was wandering why image names after the production build changes from like "image.jpg" to `image-${id}.jpg` . Isn't a bad practice in terms of SEO? is there any way I can keep the image name?
Thanks,F.

[2019-02-01 14:42] sidharthachatterjee commented on #10910
Closing this for now since it seems like your issue is resolved @marijan111

Please feel free to reopen or comment if there is anything else that we can help you with

[2019-02-01 14:42] #10910 closed

[2019-02-01 14:44] sidharthachatterjee commented on #9666
@Aboumicho Closing this for now since it seems stale but please feel free to reopen if you're still seeing this or if there is anything else we can help you with

[2019-02-01 14:44] #9666 closed

[2019-02-01 15:02] arturhenryy commented on #10363
@heathblandford hey i fixed it but i dont remember what solution here was. two options:
1. outdated dependcies / check "npm outdated" and update
2. install missing peer dependencies

[2019-02-01 15:10] DiederikvandenB commented on #11464
Same issue here!

[2019-02-01 15:48] gurpreet-hanjra commented on #11352
Great! Just let know if you see any issues further!

[2019-02-01 15:55] isaac-martin commented on #11342
I can take this on if we want to go ahead? How is the grey styling applied in the sidebar? Could use the same logic to show / hide the link to the issue?

[2019-02-01 16:24] victorbjorklund commented on #10712
I have the same issue right now. Running node v8.12.0 with gatsby v2.4.8.

ls /usr/local/lib/node_modules/gatsby-cli/lib:
in index.js  init-starter.js reporter

[2019-02-01 16:31] jaydanurwin commented on #11460
Thank you for the help @sidharthachatterjee I really appreciate it! I figured it must have had something specific to do with Gatsby's build process and not React. I'll be sure to watch the issue over on the MDC React repo.

Thank you again hopefully they can get it squared away soon! 👍

[2019-02-01 16:54] wKovacs64 opened #11482 "[gatsby-plugin-emotion] old 3.x files published in 4.0.2 build"
## Description

`gatsby-plugin-emotion` 4.0.2 is breaking builds where 4.0.1 succeeded. It appears some old files from 3.x (`gatsby-browser.js`, `gatsby-ssr.js`, and `wrap-element.js`) somehow made it into the published package. These files were deleted in #10500.

Compare 4.0.1 to 4.0.2 on unpkg:

https://unpkg.com/gatsby-plugin-emotion@4.0.1/ (correct)
https://unpkg.com/gatsby-plugin-emotion@4.0

[2019-02-01 16:58] wKovacs64 commented on #11482
Looks like this has happened before as mentioned in #10500 and #10564. 🙃

[2019-02-01 17:27] #7617 closed, assigned to KyleAMathews

[2019-02-01 17:45] sidharthachatterjee commented on #11463
Thank you for reporting this and for the detailed info @seaneking

New version with fix is on the way

[2019-02-01 17:46] cardiv opened #11485 "docs(gatsby-plugin-catch-links): Make it more clear that not only markdown links are affected"
In the readme, only markdown is mentioned. But does this plugin work with every link inserted through `dangerouslySetInnerHtml` or equivalent?

Example: I fetch a WYSIWYG text with internal links from WordPress and that is inserted as HTML.

If not, how could I replace HTML links with the `gatsby-link` component?

[2019-02-01 17:47] axhon commented on #9880
The fix to this has been merge #9937

[2019-02-01 17:47] #9880 closed

[2019-02-01 17:55] TylerBarnes commented on #8782
@chmac if you're interested I ended up making my own gatsby wordpress source plugin! It adds a ton of features that `gatsby-source-wordpress` doesn't have like live instant previews, menu support, gatsby-image for images in WP wysiwyg areas, "instant" build times with live data during a build, and more. I haven't yet added the exact feature in this issue but this would be super easy to solve with

[2019-02-01 17:59] greatwitenorth opened #11487 "Gatsby Netlify CMS 'import' and 'export' may only appear at the top level"
## Description

I recently updated to gatsby v2.0.110 and I cannot start it anymore. I'm using Gatsby along with Netlify.

### Steps to reproduce

I updated all my packages:
`npm update`

I then ran:
`gatsby develop`

### Expected result

Gatsby should start normally.

### Actual result

When I started Gatsby I got the following error:
[code]

### Environment

[code]

[2019-02-01 18:00] sidharthachatterjee commented on #11352
Closing this for the moment because it looks like your issue was resolved by @gurpreet-hanjra 🙂 and the _broken_ imports are specific to styled-components

Please feel free to reopen if I've missed something. Thanks!

[2019-02-01 18:00] #11352 closed

[2019-02-01 18:01] rotexhawk opened #11488 "gatsby-source-wordpress: add jwt_base_path option"
Currently gatsby-source-wordpress hardcodes the jwt token endpoint `/jwt-auth/v1/token`.  I am using https://github.com/jonathan-dejong/simple-jwt-authentication/wiki/Documentation which uses `/simple-jwt-authentication/v1/token` endpoint instead. It would be great to pass the basepath in jwt options so we can support this plugin and future plugins that use different namespace.

[2019-02-01 18:03] sidharthachatterjee commented on #10712
@victorbjorklund That directory should include `create-cli.js`

This is _strange_. Can you post some details about your env? And did were there any errors in the console when you upgraded to 2.4.8?

[2019-02-01 18:06] sidharthachatterjee commented on #11449
@aprather51 Looks like you've aliased `allFile` to `source` in the query

So you will need to access it as `data.source.edges`

[2019-02-01 18:07] wardpeet commented on #11488
I'm referencing https://github.com/gatsbyjs/rfcs/pull/23 as this might be valuable for the RFC.

[2019-02-01 18:07] #11488 closed

[2019-02-01 18:18] greatwitenorth commented on #11487
The only thing that has soled the issue for me is downgrading the following to these versions:
[code]

[2019-02-01 18:20] sidharthachatterjee commented on #11485
@cardiv `gatsby-plugin-catch-links` adds an event listener to `window` so this should work for links from anywhere

[2019-02-01 18:37] robinmetral opened #11490 "[docs] restructure styling section"
In the [styling section of the docs](https://www.gatsbyjs.org/docs/styling/), there are guides about different styling methods (CSS Modules, styled-components, etc.), followed by a general article about creating global styles.

Since creating global styles varies depending on the styling method, I suggest to split this article up into the relevant guides. For example, [creating Global Styles with

[2019-02-01 18:50] sidharthachatterjee commented on #11479
We do to make cache busting simple

You can actually override this by [adding custom webpack config](https://www.gatsbyjs.org/docs/add-custom-webpack-config/)

You could do something like this
[code]
That'll keep the original name and _also_ add a hash for cache busting

[2019-02-01 18:53] sidharthachatterjee commented on #11479
Not sure but the above might be a good default too actually according to https://support.google.com/webmasters/answer/114016?hl=en

thoughts @pieh @DSchau?

[2019-02-01 18:59] sidharthachatterjee commented on #11482
Thanks for reporting this @wKovacs64

We're publishing a new patch version with the fix now! Will probably add a `clean` step soon as recommended by @DSchau in https://github.com/gatsbyjs/gatsby/pull/10564 to prevent this from happening again

[2019-02-01 18:59] pieh commented on #11482
That's my bad - I had old files laying around when publishing :/ We need to make sure to wipe old built files before publishing, but for now I'll just republish. Sorry for issues

[2019-02-01 19:00] wKovacs64 commented on #11482
All good, thanks for addressing.

[2019-02-01 19:05] sidharthachatterjee commented on #11464
Sorry about this, @iammatthias, @codeartistrycode and @DiederikvandenB

I've typically seen this happen when some component doesn't support SSR like in https://github.com/gatsbyjs/gatsby/issues/11460. We definitely need to improve errors here so sorry about the confusion!

I didn't get a chance to take a look at your repo yet @iammatthias. Maybe you can try removing imports to a couple of componen

[2019-02-01 19:05] pieh commented on #11482
gatsby-plugin-emotion@4.0.3 was just published, once again - sorry for issues

[2019-02-01 19:07] #11482 closed

[2019-02-01 19:07] frivolta commented on #11479
Looks great since the performance of gatsby are awesome, having a good image name / title is still a best practice. Is there any functionality reason why id (i guess is a unique id) is append to the images?
Btw thanks for the support

[2019-02-01 19:09] sidharthachatterjee commented on #11479
No functional reason per se other than having urls that can be cache busted per build

[2019-02-01 19:21] iammatthias commented on #11464
Thanks, @sidharthachatterjee. If this is connected to SSR, I think that the React-Images alpha is the culprit: https://github.com/jossmac/react-images/issues/199

A user in that thread shared a '[patch-package](https://github.com/ds300/patch-package)' fix, so I'll see if that works.

I'll leave this open for now, and report back later if this works or not.

[2019-02-01 19:34] joelschou commented on #8835
@KyleAMathews The bot does a nice job, but this doesn't need to be closed.

[2019-02-01 19:59] m-allanson commented on #8835
@joelschou the bot was a bit over-eager here, it's had some updates in the last few days that should prevent that in the future. That said, `gatsby-cli` is now using an updated version of yurnalist so I think it's ok to leave this closed?

[2019-02-01 20:43] shannonbux commented on #11342
I think this is worth doing. Whatever makes it easiest for people to fill out/contribute to the stub article gets an up vote from me!

[2019-02-01 20:52] shannonbux commented on #9374
Yes. It could go under the `Advanced Tutorials` section in the
`doc-links.yml` file or potentially under `Images and Files`. The tutorial
should assume that the reader has at least gone through the Main Tutorial,
or already knows how to do the tasks covered in the Main Tutorial.

Thanks!

On Sat, Jan 26, 2019 at 8:48 AM Harshil Agrawal <notifications@github.com>
wrote:

[2019-02-01 21:02] isaac-martin commented on #11342
Cool - i'll have a look now and open a PR.

[2019-02-01 21:09] shannonbux commented on #11329
It's probably important to coordinate this issue with #9374, which deals with adding a `gatsby-image` tutorial. @marcysutton I think you might be interested in following improvements to how people learn about and use `gatsby-image`. Far too many people are unaware of it!

[2019-02-01 21:19] shannonbux commented on #11297
For now, just removing the hyperlink but leaving the word there might work best. I don't have the technical expertise to know what we could link to, but at least this would get rid of the broken link.

Thanks!

PS I did some digging to figure out what this was supposed to link to, and no luck. This is the issue that led to the creation of this doc in the first place, though the link was broken in

[2019-02-01 21:30] #11463 closed

[2019-02-01 21:50] andrzejchmura commented on #11072
What's the status of this issue? I've tried a few workarounds proposed on related issues and none of them seem to really work. I don't know if there's a need for another issue, as this problems are clearly connected to CSS splitting. I could create a minimal reproduction repo which shows this problem clearly.

[2019-02-01 22:06] joelschou commented on #8835
Sounds good to me! 🤘

[2019-02-01 22:21] jtwillig commented on #4337
I was able to accomplish this by following the Customizing html.js directions in the docs and removing `{this.props.postBodyComponents}`

https://www.gatsbyjs.org/docs/custom-html/

[2019-02-01 22:33] #10958 closed

[2019-02-01 22:53] isaac-martin commented on #11342
Doing this now.
Not sure on best design decision to be made?
Small in footer next to the edit in the same style? Or up in the main body?

![image](https://user-images.githubusercontent.com/8649366/52154025-35967900-264a-11e9-8ca0-f2399a07fe0b.png)

[2019-02-01 22:55] LittleHamster commented on #11179
@riddla
this does not include your fix?
thanks

[2019-02-01 22:57] KyleAMathews opened #11491 "Sort tagged blog post by date + add author avatar/name"
E.g. on pages like https://www.gatsbyjs.org/blog/tags/themes

<img width="715" alt="screenshot 2019-02-01 14 56 15" src="https://user-images.githubusercontent.com/71047/52154166-a1201c80-2631-11e9-84f1-2abc5806edf1.png">

https://github.com/gatsbyjs/gatsby/blob/master/www/src/templates/tags.js

[2019-02-01 23:01] ethagnawl commented on #4337
Based on how active this thread continues to be, there seems to be a non-trivial number of users who desire this behavior.

To quickly reiterate my use case: I want to ([did!](https://www.vanityfair.com/hollywood/2019/01/25-best-movie-scenes)) use Gatsby as a static _page_ generator -- as opposed to a static _site_ generator -- and because the Gatsby "page" is injected into a containing page whose

[2019-02-01 23:16] simoneb commented on #11364
I've been looking into this issue because we're also experiencing it. I'm not very familiar with the contentful source plugin codebase but the first impression is that the logic in place to avoid circular references only accounts for field types which are not richText. The latter is a lot more complex to analyze because it can contain a "link" to another entry in deeply nested places. I _think_ th

[2019-02-01 23:17] Saifadin commented on #11491
Would like to take this ✋🏽

[2019-02-01 23:40] jlengstorf commented on #11491
Thanks @Saifadin!

[2019-02-02 00:14] LekoArts commented on #11479
Where do you see this behavior? Gatsby doesn’t modify the filenames on local images as the hashes are stored in the folder names

[2019-02-02 00:15] KyleAMathews commented on #11491
Thanks!

[2019-02-02 00:20] iammatthias commented on #11464
Found a nicer solution than the hacky '[patch-package](https://github.com/ds300/patch-package)' fix I mentioned earlier. I dropped the following into my `gatsby-node` file, and the page is building now.

[code]

[2019-02-02 00:20] #11464 closed

[2019-02-02 01:12] marcysutton commented on #11329
I too am struggling with gatsby-image, so this is a great proposal!

[2019-02-02 02:56] MaximeHeckel opened #11494 "Gatsby build fails with emotion ThemeProvider in gatsby-browser"
## Description
After reading the documentation about `gatsby-browser.js` (https://www.gatsbyjs.org/docs/browser-apis/#wrapRootElement) and wrapRootElement, I figured after seeing that it's best suited for Providers to use it for my emotion `ThemeProvider` from the `emotion-theming` package (see https://github.com/emotion-js/emotion/tree/master/packages/emotion-theming).

This is how my gatsby-brow

[2019-02-02 03:09] KyleAMathews commented on #4337
This seems like a reasonable feature to add @ethagnawl. I think it'd need a very long and obnoxious name like dangeouslySetInnerHTML so people are fully conscious of what they're doing as this is a very special edge case.

[2019-02-02 03:16] KyleAMathews commented on #11072
@gatsbyjs/core please comment! This would be a non-breaking change and would unbreak a lot of sites (or at least save frustration).

[2019-02-02 04:14] jordanoverbye commented on #11494
Where is your `ThemeContext.Consumer` located?

https://www.gatsbyjs.org/blog/2019-01-31-using-react-context-api-with-gatsby/#editing-the-layout-file

[2019-02-02 04:20] MaximeHeckel commented on #11494
`ThemeContext.Consumer` is used in my `src/pages/index.js` (this file doesn't use any layout at the moment, maybe this is why it's failing?) and in my `src/layout/index.js`

[2019-02-02 04:36] saranshkataria opened #11495 "Hot module replacement not working in IE"
## Description

I get a console error: webpack-hot-middleware's client requires EventSource to work. You should include a polyfill if you want to support this browser: https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events#Tools

### Steps to reproduce

1. Create new project
2. Run gatsby develop
3. open IE
4. (warning shows in console)

### Expected result

HMR should work in IE

###

[2019-02-02 04:38] saranshkataria commented on #11495
Seems like event-source-polyfill needs to be added to the project and then an entry needs to be made in the webpack config for importing it before importing webpack-hot-middleware/client. If I am on the right track, would like to create a PR for it

[2019-02-02 04:42] saranshkataria opened #11496 "gatsby info --clipboard gives errors on Windows 10"
## Description

I ran the gatsby info --clipboard command on command line for an issue I was reporting and got a bunch of errors stating " The system cannot find the path specified."

### Steps to reproduce

Create project, cd into directory, run gatsby info --clipboard

### Expected result

No errors should be present in output

### Actual result

`  System:
    OS: Windows 10
    CPU: (8) x64 In

[2019-02-02 04:52] damassi commented on #1875
Note that you can also pull it out via

[code]

If you don't want rerenders due to  `<Location>` changes.

[2019-02-02 05:05] kendallroth opened #11497 "Remark parser randomly fails to parse file"
## Description

I am using front matter (maybe too much) in some Markdown files that are being parsed by the `transformer-remark` library. I have several sections of the home page that are driven by Markdown files in a specific folder (different for each section). There are several `filesystem` sources for these Markdown files (may be a nested relationship in their file paths...). I am noticing th

[2019-02-02 05:17] kendallroth commented on #11497
To give an example of a random change I had to make, here is a diff from when I realized it had "broken" again and was skipping a file (`sap.md`):

[code]

Literally just switched two lines and it was able to parse the file. Going back and forth **always** yielded the same results before committing.

[2019-02-02 05:47] tatchi commented on #11297
Thanks for your suggestions 👍

Here's the PR:  #11499

[2019-02-02 06:37] denisx commented on #387
to
[code]

[2019-02-02 08:10] #11297 closed

[2019-02-02 09:07] m-allanson commented on #9233
Not stale gatsbot, not stale.

[2019-02-02 09:19] riddla commented on #11179
@LittleHamster: Currently not, no. It’s meant as a playground for @TylerBarnes‘ approach to solve the problem on a build level via a plugin.
Nevertheless, my quick hack that I posted above is working quite well for me at the moment. Downside is of course that it retrieves all Wordpress Media and than filters out the ones used in the post content.
It could be optimized by making use of the attached

[2019-02-02 09:40] Saifadin commented on #11491
Is this how you imagined it @KyleAMathews?

<img width="1010" alt="screenshot 2019-02-02 at 10 39 49" src="https://user-images.githubusercontent.com/1507057/52162598-f2361c00-26d6-11e9-9af4-5b169f8afa7b.png">

[2019-02-02 09:42] martinratinaud commented on #11427
Hi there, so here is the solution thanks to @sidharthachatterjee.

You have to add a `gatsby-ssr.js` exporting `wrapRootElement`

[code]

Thanks a lot for your help

[2019-02-02 09:42] #11427 closed

[2019-02-02 10:41] geocine commented on #2426
Thanks @braco  and @joshuaiz , your combined solutions worked for me. However, we should probably move to the `WP-REST-API v2 Menus` , since it is the most recently update Wordpress plugin. The `WP API Menus` was updated 2 years ago. Also, https://github.com/postlight/headless-wp-starter uses `WP-REST-API v2 Menus`

[2019-02-02 11:06] ilyagru commented on #11431
I've added a repo with a reproduction. Check it out here: https://github.com/ilyagru/gatsby-plugin-google-gtag-reproduction-bug

[2019-02-02 11:06] ilyagru commented on #11431
@sidharthachatterjee I've added a repo with a reproduction. Check it out here: https://github.com/ilyagru/gatsby-plugin-google-gtag-reproduction-bug

[2019-02-02 11:37] JacobBlomgren commented on #11431
@ilyagru Thanks for getting back. I'm now able to reproduce in Safari with Ka-Block. What was missing for reproduction was the do not track part. Did you say that other adblockers gave the same problem or only Ka-Block, because I can only get it with Ka-Block?

[2019-02-02 11:40] ilyagru commented on #11431
Hmm, I don't know actually if other adblockers gave the same problem. But some of them could work with a similar principal.

[2019-02-02 11:46] JacobBlomgren commented on #11431
I'm starting to think this is a bug in Ka-Block because that code should not execute in the first place, according to my understanding of the relevant lines of code.

[2019-02-02 11:48] gobeli commented on #11496
It seems like the maintainers of [envinfo](https://github.com/tabrindle/envinfo) [removed the clipboard functionality](https://github.com/tabrindle/envinfo/issues/83) because it was too hard to maintain and failed on windows and other systems. maybe it would be a good idea to remove the --clipboard flag from gatsby-cli as well...

[2019-02-02 11:52] ilyagru commented on #11431
Maybe you're right, but in this case, I think `window.dataLayer` will be a safer option, as you can't be aware of all adblockers that exist and that will appear. So I can prepare a PR very soon.

[2019-02-02 13:31] ilyagru commented on #11431
@sidharthachatterjee @JacobBlomgren I've just created a PR, so please take a look. :)

[2019-02-02 14:12] #11431 closed

[2019-02-02 15:39] paulmelnikow commented on #1878
I'm working on https://shields.io/, which has a relatively complicated setup involving two servers in a monorepo. There is an existing `public/` folder which serves a different purpose today and I'd like to build into `build/` to avoid conflict with the existing `public/` and to make a gentler migration path.

There are many use cases where this provides significant utility. In our case it's not a

[2019-02-02 16:37] mikeriley131 opened #11504 "Odd rendering issue in IE11, Safari, and Firefox - extra component"
## Description

In IE11, Firefox, and Safari I sometimes get a component that does not exist in my code. It's always a duplicate of the first component inside of `<main>` but it gets the class from a component further down the page (in this case, `class='ad'`, which contains a `video` element. In IE11 I sometimes get it on initial load, but almost always get it on refresh. In Safari and FF, it tak

[2019-02-02 17:29] krazik opened #11506 "400 from gatsby develop when cookies have period in name"
## Description

A library I'm using (Amazon Coginto in this case) writes cookies with a period in the name
ie: `CognitoIdentityServiceProvider.2tqfoo637.d4f5022e-1eda-48b4-aad1-527e0ce312f2.accessToken` .
When these cookies names are present gatsby develop returns a 400
[code]

### Steps to reproduce
Set a cookie with a period in the name and gatsby will give 400s for all requests.  Delete the coo

[2019-02-02 17:44] krazik commented on #11506
debugging this more it might be because of multiple large cookie names not the periods.

[2019-02-02 19:03] abumalick commented on #6392
I really think that this one is important

[2019-02-02 19:43] MikeBudimon commented on #9048
@amberleyromo yeah I am still intrested.
Next week I could work on issue #11001 to unblock this issue and then work on this one.

[2019-02-02 20:17] JustFly1984 opened #11507 "Please update express-graphql@0.6.12 and graphql-tools@3.1.1 eslint-plugin-graphql@2.1.1 warns about peer dependency graphql"
If I'm `npm i` my app with `graphql@0.13.2` I have this dependency issues with gatsby sub-dependencies:
[code]

if I'm `npm i` my app with `graphql@14.1.1` I have next sub-dependency issues
[code]
current versions of this dependencies:
express-graphql@0.7.1 - safe to update
graphql-tools@4.0.4  - safe to update
eslint-plugin-graphql@3.0.3 - need to be tested

[2019-02-02 22:11] podabed opened #11508 "TypeError: Cannot read property 'minify' of undefined at minify with terser plugin"
## Description

Production build doesn't build, but dev build is good

### Steps to reproduce

Just run gatsby build

P. S. This is after update
Part of yarn.lock before update while everything's works (good prod build without any errors)

[code]

After update we have this (errors in "Environment" section below)

[code]

### Expected result

Prod build

### Actual result

Prod build with error on

[2019-02-02 22:38] #11506 closed

[2019-02-02 23:05] devndive commented on #11508
I get the same errors with the latest packges - reverting to the versions I had before avoids this error.

Working setup
`gatsby info --clipboard`
[code]

Broken setup (npmPackages only, rest is the same as above)
[code]

[2019-02-02 23:12] deammer commented on #11508
Looks like a problem with terser-webpack-plugin:
https://github.com/terser-js/terser/pull/254

[2019-02-02 23:35] dakebl commented on #11494
I'd recommend adding your `ThemeProvider` as the top level element in our `Layout` component and using the `Layout` component as the top level element of your page files.

[2019-02-03 00:01] #9981 closed

[2019-02-03 00:46] imolorhe commented on #11120
There is also a gatsby plugin for [Altair](https://altair.sirmuel.design/), in case anyone wants to spice things up a little bit more! 😄
https://www.gatsbyjs.org/packages/gatsby-plugin-altair-graphql/

[2019-02-03 02:59] MaximeHeckel commented on #11494
Yeah that definitely works. However since I have multiple layouts I hoped that I could use gatsby-browser as the single entry point to pass my ThemeProvider

[2019-02-03 04:03] KyleAMathews commented on #6392
@wardpeet actually fixed this a couple of weeks ago!

https://github.com/gatsbyjs/gatsby/pull/11224

[2019-02-03 04:03] #6392 closed

[2019-02-03 07:29] dslemay opened #11513 "docs(blog): blog post about adding react hooks"
## Description

I recently converted my Gatsby Portfolio site to use React Hooks in advance of the stable release on February 4th, 2019. Blog post to include pragmatic take aways from converting to React Hooks as well as implementation within a Gatsby site. I ran into a few gotchas which are included in the draft post.

[2019-02-03 08:39] rdela commented on #11508
deammer's suggested workaround above did not help build succeed for me but [pitops suggestion on terser-webpack-plugin](https://github.com/webpack-contrib/terser-webpack-plugin/issues/66) did:

[code]

YMMV but thought I would drop it in here in case it helps someone else.

[2019-02-03 09:42] denisx opened #11515 "`pathPrefix` worked, but `window.___chunkMapping` has no affected paths at index.html"
at last gatsbyjs with standard config, and with pathPrefix

[2019-02-03 12:18] dakebl commented on #11494
No worries. What do your theme files look like? Can you show an example of your consumer being used?

[2019-02-03 13:12] #6478 closed

[2019-02-03 13:23] eisque opened #11516 "Cannot read property 'Avatar' of undefined"
**Description**
I am trying to import an image using gatsby-image and transformer plugins into one of the component
**Code**
[code]
**Query**
[code]

**Error**
[code]

[2019-02-03 13:41] gobeli commented on #11516
PageQueries only work for pages, what I would do in your case is a [static query](https://www.gatsbyjs.org/docs/static-query/)

[2019-02-03 14:03] jedrichards commented on #9352
Is this stale, or has the inkteam not reviewed yet? I'd be keen to shed some light on this, although not critical. Feel free to close otherwise.

[2019-02-03 14:41] mhjadav opened #11519 "Error while building site (gatsby develop)"
Issue resolved after deleting node_modules and .cache folder but not sure what is the root cause so I am logging this issue.

Logs -

here ./.cache/develop-static-entry.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: [BABEL] /Users/mj/Documents/Dreams/ruchir/nx-digital/gatsby-site/.cache/develop-static-entry.js: You gave us a visitor for the node type PrivateName but

[2019-02-03 14:54] pieh commented on #11494
Hey, you need to add equivalent Providers in `gatsby-ssr.js`:
[code]

I think we need to expand documentation on those - that usually you would need to add this in both places and it would not be the case only some subtle edge cases

[2019-02-03 15:08] Urigo commented on #2374
For some reason I see a lot of people are still coming from this issue into other issues in Apollo Codegen.
I would highly suggest that is you want to generate Typescript or Flow typings, for your frontend and/or backend, try out https://graphql-code-generator.com , as suggested in [one of the comments above](https://github.com/gatsbyjs/gatsby/issues/2374#issuecomment-335095742)

[2019-02-03 15:54] Nargonath commented on #11198
After deleting my `package-lock.json`, `node_modules` and installing using `yarn` I had another error about `terser-webpack-plugin` `cannot call minify of undefined` (something like that). [This](https://github.com/webpack-contrib/terser-webpack-plugin/issues/66) fixed it for me.

[2019-02-03 15:59] KyleAMathews commented on #10048
Yeah this would be a good change. We made the same change for image paths.

[2019-02-03 16:09] DanielRuf commented on #11198
I guess the Node.js ecosystem is really the fastest breaking one ;-)

So this is a new issue (in a dependency).

[2019-02-03 16:30] Jivings opened #11524 "Missing resources for /"
## Summary

Periodically on my production site I'm seeing the following error;

[code]

It seems like sometimes this causes the site to not render at all and just show a blank page.

## Relevant information

You can see the trace [on Sentry here](https://sentry.io/share/issue/3d8d44049ad9415b9d9aeff4a520be60/)

### Environment (if relevant)

This is the env on which the site is built;

[code]

No

[2019-02-03 16:31] gr2m commented on #11198
I can confirm it’s two different issues, I run into both of them.

The Terser error comes from these lines

[code]

It works if you replace `_terser.default.minify` with just `_terser.minify`

[2019-02-03 17:00] Undistraction commented on #11524
Might be related to https://github.com/gatsbyjs/gatsby/issues/11453

[2019-02-03 17:08] Undistraction commented on #11453
@sidharthachatterjee Sorry. Didn't manage to put a repro together and now on holiday for a week. Looks to me like EnsureResources is trying to get resources for a page that doesn't exist (the page which triggered the 404 page will never exist, that is why it triggered the 404 page), and erroring when it can't. It should actually be trying to get resources for the 404 page itself, or at least not t

[2019-02-03 17:27] #8882 closed, assigned to nobody

[2019-02-03 17:37] LekoArts commented on #9539
Fixed with https://github.com/gatsbyjs/gatsby/pull/9777

[2019-02-03 17:37] #9539 closed

[2019-02-03 17:43] davidbailey00 commented on #10036
@dustinhorton Was this showing repeatedly or just once? Old SW issues can still appear after we've updated the site, since the old SW is still installed in your browser - however, if this keeps happening then please open a new issue.

[2019-02-03 17:45] rotexhawk opened #11526 "Gatsby Source Wordpress crashes with Woocommerce Products"
Gatsby Source Plugin Crashes with Woocommerce products because the following function tries to normalize product categories the same way it does for posts. The problem is that product categories are not ids but instead they are objects so `t => tags.find(tObj => t === tObj.wordpress_id).id` `t never equals tObj.wordpress.id`.  and we get `error, can't get id of undefined`

[code]
**Product**
[code

[2019-02-03 18:20] dustinhorton commented on #10036
@davidbailey00 Just to clarify—this is the expected tradeoff, and is functioning as expected if I refresh and then get the page?

[2019-02-03 18:33] KingScooty commented on #11464
Getting the same issue. Probably worth reopening this, as it should be fixed at source instead of requiring a patch in the gatsby config files.

[2019-02-03 20:05] Simon-Tang commented on #8357
The above workaround by @gurpreetatwal worked for my own project. Does anyone know if the fix for this issue should be done in Gatsby or in Reach Router?

[2019-02-03 20:52] Maistho commented on #8789
Hi, I started looking into this and managed to [get themes working somewhat](https://github.com/Maistho/gatsby/tree/emotion-theming), but some of the styling is done by Typography.js and not in emotion.

Is there a good way to change themes in Typography.js?

Otherwise it might be nice to move the relevant styles (text colors and such) into emotion to make theming easier.

[2019-02-03 21:08] TylerBarnes commented on #11179
Hey guys, just created [`gatsby-wordpress-inline-images`](https://github.com/TylerBarnes/gatsby-wordpress-inline-images) and added it to the test playground above. Thanks for letting me use your repo @riddla!
As stated on the plugin github page, this is just an alpha – it only works on posts/pages, just the post content field, and it isn't even caching image downloads yet, but it works. If anyone

[2019-02-03 21:10] TylerBarnes commented on #11179
Oh, it's also missing the gatsby-browser code for the blur up technique. That code could come from `gatsby-remark-images`.

[2019-02-03 21:33] davidbailey00 commented on #10036
It's not an expected trade-off in the sense that it *should* happen with each update - what I meant was that old bugs can still appear once the site has updated, due to browsers having the previous SW installed, but future updates should be okay assuming the bug was fixed.

[2019-02-03 21:53] kamranayub commented on #8237
@relytmcd's list worked for me, finally. The key was the last bullet. That `replaceHydrateFunction` fixed the flash of styled content, followed by permanent messed up styles.

I kind of want Gatsby to have a "SPA" build mode since I am trying to make a PWA and this might be a dealbreaker 😢 I might have to go back to CRA but I really like Gatsby's workflow and helpers for pages/data sources.

[2019-02-03 21:58] danielvanc commented on #11464
Having this issue as well. Though I don't get the error when building locally. Only when building on netlify. Any update on this, yet? Agree with KingScooty as well, really should be fixed at source.

[2019-02-03 22:05] danielvanc commented on #11464
Also tried the above fix iammathias suggested but still no luck.  Below is the error I get on netlify.

<img width="788" alt="screenshot 2019-02-03 at 22 04 04" src="https://user-images.githubusercontent.com/310698/52183415-aa5ee400-27ff-11e9-849f-9312329ce250.png">

[2019-02-03 22:14] JustFly1984 commented on #7527
I had issues with @aws/amplify and some of other packages, containing setInterval in the code

[2019-02-03 23:18] LittleHamster commented on #11179
@TylerBarnes
but the image from the test domain is loaded from a WordPress site:
`https://headlessdata.files.wordpress.com/2019/01/headspace_wallpaper_white.jpg`

I thought it would download images locally and replaces the inline images

[2019-02-03 23:48] TylerBarnes commented on #11179
yes, it does. I'm not sure why that test site didn't rebuild. When I ran gatsby build && gatsby serve it's working

[2019-02-03 23:52] KingScooty commented on #11464
@danielvanc so i managed to fix my issue (it was exactly the same error as what's in your screenshot!).

The reporting when doing a `gatsby build` is quite bad. It's not very helpful.

However, it turned out my issue was i was pulling in a module that was trying to interface with the window. Gatsby blows up as it's not SSR friendly.

I solved this by conditionally requiring the module in `componen

[2019-02-04 00:52] TylerBarnes commented on #11179
@LittleHamster I forked it and deployed it to my own netlify. Looks like the one above is deploying the master branch but I pushed to the develop branch. Here's an example of it working https://zen-euclid-f672d1.netlify.com/a-test-post-with-text-and-images

[2019-02-04 02:08] dustinhorton commented on #10178
Replying to keep it open. Still busted.

[2019-02-04 02:12] orshick opened #11529 "Styling images in a blog post with markdown remark."
I am in the process of converting an old site with hand-coded articles. That means there are all sorts of unique styles for images in the blog (floated left and right, containing captions, etc).

Having converted the text portions of the articles to markdown in Gatsby I ran into a wall with styling the images. Was curious if it possible to do this, or if it would it be more fruitful to abandon the

[2019-02-04 02:40] #3291 closed

[2019-02-04 03:00] jonniebigodes commented on #11449
@aprather51 i've picked up on your issue and based on the information at hand, and i have a solution for you, i've figured out what is the problem and at the end of my comment you'll understand why. Going to break down into smaller pieces my comment for a better understanding.

- Started by creating a new website based on the default starter
- Copied some old wallpapers i had laying around in a fo

[2019-02-04 04:51] riddla commented on #11179
Great work, Tyler :)
There is also a branch deploy URL: https://develop--headless-wordpress-via-gatsby.netlify.com/.

[2019-02-04 04:55] TylerBarnes commented on #11179
Thanks! :)

[2019-02-04 05:05] MaximeHeckel commented on #11494
@dakebl here's an example of one of my Themes:
[code]

and here's an example on how it's being used in one of my layout files:

[code]

@pieh I'll give this a try as soon as I can

[2019-02-04 08:10] tHBp commented on #11123
@wardpeet Can you please provide link for the same?

[2019-02-04 09:49] diondiondion commented on #10550
Thanks for keeping this issue open, I've been running into similar problems and this discussion has been very helpful.

It seems that presently, creating a dedicated field in the frontmatter is the most straightforward solution, but I also feel like it _should_ be possible to programmatically create such a field based on the containing folder name, similar to how slugs for pages are usually added

[2019-02-04 11:35] dantesolis commented on #7986
Hey guys, question. Is this still open? I was working on it. But then got sidetracked 🙃 , but don't know if it's still open and not solved ? If so I'll take (again) if possible 😄

[2019-02-04 11:37] KatePavlovich opened #11534 "Field "image" must not have a selection since type string has no subfields"
DESCRIPTION:
![1](https://user-images.githubusercontent.com/31938901/52205665-db372b80-2888-11e9-9026-3cdf05c46fc9.png)

Part of our project for reproducing the problem
[REPO](https://github.com/KatePavlovich/YCopy)

STEPS TO REPRODUCE

1)Clone and open the project
2)Use graphql for writing that query

EXPECTED RESULT
Excpectd to see childImageSharp in Image like this but insted got a mistake
[cod

[2019-02-04 11:42] pieh opened #11535 "[gatsby-dev-cli]: don't check for local package.json when configuring path to monorepo"
When setting path to monorepo with `gatsby-dev-cli` (`gatsby-dev --set-path-to-repo /path/to/my/cloned/version/gatsby`) we shouldn't check for local `package.json`. This is confusing when doing initial setup and for that step it's also not needed to check it because we don't use it.

Here's related code - https://github.com/gatsbyjs/gatsby/blob/ad14073eac153930cb7c81451b7f9536b33baa0e/packages/gat

[2019-02-04 11:48] MarcCoet commented on #6299
For reference.
I struggled a bit with embedded content for a client (like form and badge from a third party platform).
I used React Helmet and everything was working fine on development server but not on build.
Obviously, **scripts that mess with the dom have to be deferred** since helmet put them in the head.
Adding the `defer` attribute on the script tag takes us back to wonderland.
Hope this he

[2019-02-04 11:49] amad-person commented on #11535
Would like to take this issue up!

[2019-02-04 12:08] Dakuan commented on #3064
I'm also running into this

[2019-02-04 13:22] freiksenet opened #11536 "gatsby: Don't use fork of relay-compiler"
## Description

When having literal enums that have non-string values (eg ImageCropFocus), Relay fails to print the query.

### Expected result

Should print normally.

### Actual result

Fails with exception.

Reported upstream in https://github.com/facebook/relay/issues/2633.

We should consider downgrading back to relay-compiler 1.

[2019-02-04 13:25] tsvetlin opened #11537 "Documentation code background"
## Summary

When reading the docks, I saw that the code sections inline with other text have a different font and background. The background color is '#fdfaf6', it's close to white, thus hardly visible. I have trouble isolating it from the text.

### Basic example

https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo
At this link, the shell commands should be copied from the p

[2019-02-04 14:00] acewf commented on #5572
@jb-san seems you didn't understand the issue.
your repo doesn't write the translation into the html file,
the translation just works on the client side.

[2019-02-04 14:37] sidharthachatterjee commented on #11495
So isn't supported on IE or Edge according to https://caniuse.com/#feat=eventsource

@saranshkataria Thank you for the debugging on this. We'd love to receive a PR!

[2019-02-04 14:48] sidharthachatterjee commented on #11504
So I can definitely see this happening on Safari

[2019-02-04 15:04] fk commented on #11537
Hey @tsvetlin! 👋
Thanks for pointing out this issue to me — I wasn't aware of it (and neither the problem itself 😞), @pieh made me aware of the problem in a direct message today.

Thank you for creating this detailed description, and glad to hear that #11538 solves the issue. 🙏 🤗

[2019-02-04 15:15] davidbailey00 commented on #7454
Hi everyone, I've just tested this out locally and can't see any problems with the current scroll behaviour. I can see the issue in the site @mrintoul, linked but this isn't occurring for me, so I'm suspecting it was fixed with a recent update.

From what I can tell there are some websites linked which highlight the problem, but reproduction repos linked in the comments - please could someone crea

[2019-02-04 15:17] davidbailey00 commented on #7421
Closed by #10940

[2019-02-04 15:17] #7421 closed

[2019-02-04 15:19] sidharthachatterjee commented on #11513
Thank you so much for opening this and for the associated blog post, @dslemay! Someone from the team will review your post soon.

[2019-02-04 15:22] fk commented on #7986
Hey @dantesolis! I _think_ this is still open, but I don't have the things needed to test myself right now. :( Could you do that?

I'll remove the `stale` label from the issue for now.

[2019-02-04 15:23] sidharthachatterjee commented on #11515
Thank you for reporting this, @denisx

Could you please link to a minimal reproduction and add expected and actual behaviour? It typically helps to follow the issue template so that there is enough context for someone to reproduce and fix

[2019-02-04 15:24] #11537 closed

[2019-02-04 15:26] davidbailey00 commented on #2880
To remove the service worker created by `gatsby-plugin-offline`, you should remove this line entirely from your `gatsby-config.js` and replace it with `gatsby-plugin-remove-serviceworker` (after installing this with Yarn/NPM).

When testing your site before deployment, this is unnecessary; you can use the Chrome console to quickly clear the service worker from your site:

![image](https://user-ima

[2019-02-04 15:26] #2880 closed

[2019-02-04 15:42] t2ca opened #11541 "Unhandled Rejection (SyntaxError): Unexpected token < in JSON at position 0"
## Description

Since updating gatsby to latest version i've been getting the following error in development.

Unhandled Rejection (SyntaxError): Unexpected token < in JSON at position 0

### Steps to reproduce

gatsby develop

### Expected result

no error

### Actual result

[code]

### Environment

  Binaries:
    Node: 11.6.0 - /usr/local/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm

[2019-02-04 15:45] davidbailey00 commented on #11129
This has started again / is still occurring, e.g. https://www.gatsbyjs.org/packages/gatsby-plugin-i18n/, https://www.gatsbyjs.org/packages/gatsby-source-prismic/

[2019-02-04 16:06] #11508 closed

[2019-02-04 16:09] gazpachu commented on #11198
I'm also experiencing this issue in my Travis CI builds. Any quick patch I could use until the proper fix is out? Thanks

[2019-02-04 16:10] sidharthachatterjee commented on #11496
Thank you for reporting this @saranshkataria

@gobeli Removing it would be a breaking change for us as well 😞

Are there any alternatives to `envinfo` that work well on all platforms?

[2019-02-04 16:36] sidharthachatterjee commented on #11519
Thank you for reporting this, @mhjadav

Seen this before in https://github.com/babel/babel/issues/8039 but strange because the current version shouldn't do this

Do you by chance have the lock file prior to deleting node_modules and reinstalling?

[2019-02-04 16:38] althe3rd commented on #2270
Did anyone ever find a solution to this? I am getting this as well having tried everything suggested but don't see a solution suggested.

[2019-02-04 16:39] jonniebigodes commented on #11534
@KatePavlovich i've picked up on your issue. Cloning your repo as we speak. Let me see if i can solve your issue.

[2019-02-04 16:43] sidharthachatterjee commented on #11529
Hey @orshick

Like @artbycrunk mentioned, if all the posts are fundamentally different in styling, you might want to _treat_ the differently styled sections as components and maybe use MDX then

On the other hand, if you can organise the different _hand styled_ pages into a couple of unique templates, then you can continue using Markdown and create pages for each template as shown in https://www.g

[2019-02-04 17:02] sidharthachatterjee commented on #11534
@KatePavlovich You need to add the `gatsby-remark-images` and ensure that urls to images are relative to the markdown directory

Check out https://github.com/gatsbyjs/gatsby/issues/5298#issuecomment-386842853

[2019-02-04 17:06] sidharthachatterjee commented on #11541
Sorry you're seeing this, @t2ca

Can you link to a minimal reproduction of this if possible?

[2019-02-04 17:13] iammatthias commented on #11464
@danielvanc Do you know what package introduced the issue for you? The fix I posted above was a fix for this issue as caused by the alpha for React-Images.

I'm not sure this is an issue with Gatsby, or really one that Gatsby needs to fix. I think the issue lies with 3rd party packages that have issues with SSR.

[2019-02-04 17:27] #8858 closed, assigned to nobody

[2019-02-04 17:27] #9177 closed, assigned to nobody

[2019-02-04 17:30] jonniebigodes commented on #11534
@sidharthachatterjee that's only part of the solution. I picked up on it and saw that the dependency was missing. Issuing `gatsby develop`, opening up `http://localhost:8000/___graphql`  with the query:
[code]
typing image, triggered the issue. Ctrl+space to check the if the image item was there. It wasn't

[2019-02-04 17:34] phacks commented on #10282
Issue is not stale, PR #10338 is still alive and kickin’

[2019-02-04 17:36] #9932 closed

[2019-02-04 17:51] tdharmon commented on #8792
@dotlouis I ran into a similar issue, so I started doing some research. Gatsby uses Relay to extract out the GraphQL queries, "transform/optimize them, and then generate build artifacts" [source](https://facebook.github.io/relay/docs/en/compiler-architecture.html). So it treats them differently than a normal React component with imports/exports.

I've chosen to use this to my advantage by creating

[2019-02-04 18:03] mikeriley131 commented on #11504
Hi @Kevin-Hamilton and @sidharthachatterjee. Thanks for the insights and suggestions.

Unfortunately adding keys to the components did not have any effect. The content should be identical on both the server and the client. There is nothing be added on the client that doesn't already exist on the server. All of the components and pages are stateless functional components.

Any chance you have any o

[2019-02-04 18:17] danielvanc commented on #11464
Thanks for the info @KingScooty ! In the end, I had to go with the 'fixing 3rd party modules' bit on here https://www.gatsbyjs.org/docs/debugging-html-builds/

The offending module was https://github.com/ntkme/github-buttons
I was trying to add GitHub buttons on my page, took this off and it built okay on netlify. So went with the above and updated my web pack config, pushed to master and it built

[2019-02-04 18:31] kamilgrzegorczyk commented on #6291
I am having the same issue at the same build step.

My plugin versions are:
[code]

[2019-02-04 18:47] ecstasy2 commented on #11108
I spent couple of hours today trying to fix this before stumbling on this issue. Could we keep this issue open until it is fixed. Gatsby prod-build should match develop behavior, so this is indeed a bug. Right?

[2019-02-04 19:11] maxlapides commented on #9733
As far as I know, this issue still exists.

[2019-02-04 19:21] sidharthachatterjee commented on #11198
The Terser error should be resolved now

terser-webpack-plugin was fixed and we published 2.0.112 with the new version of terser-webpack-plugin

I'm not sure if this is related but can you please try updating?

In the mean time, @DanielRuf @dlindahl could you please link to a minimal reproduction of the issue you're seeing?

[2019-02-04 19:24] sidharthachatterjee commented on #11108
@ecstasy2 Unfortunately there are currently some differences in behaviour between `gatsby develop` and `gatsby build` because we don't do SSR during development.

This is why such issues occur in build and not during develop. We are looking at converging the behaviour between the two in https://github.com/gatsbyjs/gatsby/issues/10706

[2019-02-04 19:57] #11342 closed

[2019-02-04 20:24] jonniebigodes commented on #11412
Closing this issue as it's a duplicate of #11534.

[2019-02-04 20:24] #11412 closed

[2019-02-04 20:37] DSchau opened #11547 "[docs]: move off of global installs and use package scripts"
## Description

Now that the [Node 8 RFC has been merged](https://github.com/gatsbyjs/rfcs/pull/24) we can perform some changes to our documentation with functionality available in Node 8 and NPM 5.

Specifically, one of these is **moving off of global installs and migrating to `npx`.**

## What should happen

All instances of `npm install -g gatsby-cli` followed up by `gatsby <some-command>` shou

[2019-02-04 21:03] DSchau opened #11548 "[docs]: move to async/await when appropriate"
## Description

Now that the [Node 8 RFC has been merged](https://github.com/gatsbyjs/rfcs/pull/24) we can perform some changes to our documentation with functionality available in Node 8 and NPM 5.

Specifically, one of these is **using async/await in our documentation.**

## What should happen

All documentation examples, blog posts, tutorials, etc. should be migrated to using `async` and `await

[2019-02-04 21:05] rjhilgefort commented on #9899
not stale

[2019-02-04 21:09] #11526 closed

[2019-02-04 21:21] DanielRuf commented on #11198
See https://github.com/gatsbyjs/gatsby/issues/11198#issuecomment-457905564

[2019-02-04 21:34] ooloth commented on #3720
I had no idea you could set an aspect ratio like this! Thanks for this @pieh.

[2019-02-04 21:55] PHironaka opened #11550 "Blog handle & Shopify static page nodes"
## Summary

Two suggestions for the Gatsby Source Shopify plugin:

1. For articles, would it be possible to include a handle node just like there's one for products? That way we can create detail pages for blog posts.
2. Is there a way to access static page nodes from a shop?

[2019-02-04 22:59] oreny1 commented on #2270
@SilasOtoko solution solved the issue for me the tl;dr is move the gatsby-config.js  file to the root directory.

[2019-02-04 23:34] #11477 closed

[2019-02-04 23:51] isaac-martin commented on #11547
@DSchau I'll start doing some of these tomorrow. Keep a look out for a PR, may not have time to get a PR for all of them

[2019-02-04 23:56] isaac-martin commented on #11550
I don't think pages are exposed from Shopify API.

[2019-02-05 00:35] joshdcuneo commented on #11547
@isaac-martin @DSchau sorry, should have mentioned I have been working on this. Admittedly it will be my first PR so no guarantees.

Submitting the PR now, I think I got all the references except in the translations. There were a few places where explanations needed to change as well as the code and that was a bit beyond me in another language.

[2019-02-05 00:35] LittleHamster commented on #11179
@TylerBarnes great job 👍

[2019-02-05 00:40] isaac-martin commented on #11547
Thanks for the contribution @joshdcuneo

[2019-02-05 00:53] Jivings commented on #11524
I haven't been able to reproduce locally 🙁 Is there any more information I can get you, or does the sentry report help at all? Under what circumstances might this occur so that I may be able to narrow it down?

[2019-02-05 01:40] joshdcuneo commented on #11548
@DSchau I'm happy to work on this one if you like?

Could the fixed example be further simplified by handling errors like this? Certainly .then() is less confusing than reject() but handling them syncronously might be even clearer.

[code]

[2019-02-05 01:53] TylerBarnes opened #11558 "How to polyfill picture in gatsbyjs"
Hey there,
I've been trying to polyfill the picture tag using [picturefill](https://scottjehl.github.io/picturefill/).
I've tried all 3 of the following with no luck; I still get "the picture tag is unrecognized in this browser" in IE11.

[code]

[code]

[code]

https://pfmutations-test.netlify.com/
https://github.com/TylerBarnes/pfmutations-test-gatsby

Is there a standard way of polyfilling pict

[2019-02-05 02:47] MaximeHeckel commented on #11494
@pieh it worked! Making sure the content between `gatsby-browser.js` and `gatsby-ssr.js` is the same fixed the build error.

Thank you!

[2019-02-05 02:47] #11494 closed

[2019-02-05 03:31] orshick commented on #11529
Thanks guys, I will look into using MDX for the posts. It isn't terribly complicated what was 'handcoded', simply some images would be floated left or right, and some would be in the middle, things of that nature. Thing is I wanted these posts to be editable via Netlify CMS as well, so hopefully I will be able to integrate the two.

[2019-02-05 05:25] souhailmerroun opened #11559 "Gatsby .env variables with Heroku"
## Description

I want to use .env variables to configure some plugins on my Gatsby website. I've added into my gatsby-config.js file:
[code]

Locally, process.env contains my .env.development variables when I run gatsby develop. I also tested with gatsby build and .env.production works well. When I deploy to Heroku though, I get undefined.

I have set up the variables on the Heroku dashboard.

##

[2019-02-05 05:41] KyleAMathews commented on #11558
Polyfilling picture isn't strictly necessary (as you perhaps know) as older browsers will fall back on img.

[2019-02-05 05:49] DanielRuf commented on #11558
Well, picturefill also introduces support for responsive images in IE11. Most clients and websites do not want the img fallback - so we use picturefill.

Generally picturefill and the IE code for the picture element should be loaded before all other scripts afaik.

[2019-02-05 05:52] DanielRuf commented on #11558
It seems it worked for others in previous releases, see https://github.com/gatsbyjs/gatsby/issues/7148

[2019-02-05 06:08] KyleAMathews commented on #11548
We shouldn't suggest people use async/await in browser code btw. The transform Babel does is pretty heavy.

[2019-02-05 06:41] patricknick commented on #5129
@davidbailey00 This is not yet in the docs, is it? :)

[2019-02-05 06:58] TylerBarnes commented on #11558
@KyleAMathews that's true but it would be nice to be able to set this up once and keep using it in future gatsby projects. Improvement is improvement :) even for IE users.
@DanielRuf I did see that before I opened this but yes, it doesn't seem to work in the current version. I guess that issue alone doesn't show us if it was actually working for @rtm619 though.
Maybe I'll try adding it to html.js

[2019-02-05 08:01] freiksenet commented on #11205
Could you send a repro case? Thanks!

[2019-02-05 08:12] dkhuntrods commented on #11364
@sidharthachatterjee Thanks for your work on this. Would just like to add my upvote to this issue - we've encountered the exact same scenario, and I would second @simoneb's comments about this being a very valid use-case and @marcneander's repro an accurate reduced test-case of our situation. We've got a very urgent situation on our hands at the moment - do you think it likely you'll be looking at

[2019-02-05 09:19] Jornve opened #11563 "Unused json and js files after gatsby build (Google pagespeed)"
Hi guys!

When validating our new Gatsby website with PageSpeed Insights our score dropped significantly due to unused json and js files. Anyone had this issue before and/or know how to solve this?

![Screenshot](https://duaw26jehqd4r.cloudfront.net/items/0G3y1C0K2I2S2f3U1L2y/Screenshot%202019-02-05%20at%2008.55.30.png?v=900aebdb)

[2019-02-05 10:19] m-allanson commented on #11548
@Dschau @joshdcuneo agreed that looks better 👍

This would possibly be ok once #2114 is done? Depending on someone's individual use case

[2019-02-05 10:43] EricSSartorius commented on #11524
I am also seeing this but only after deploying, I can't reproduce locally.
[code]
I have noticed though that I only get this error on a branch where I tried to removed ThemeProvider (styled-components) from my code and I am guessing somewhere things got messed up in the file structure since no packages were added/updated/removed. Will update if I pinpoint the cause but there isn't much to go by.

[2019-02-05 10:43] KatePavlovich commented on #11534
We did everything you've said, but it didn't work. Maybe we are doing something wrong, but have no idea what exactly.
[REPO](https://github.com/KatePavlovich/YCopy)

[2019-02-05 11:30] sidharthachatterjee commented on #11559
Sorry for the confusion here, @souhailmerroun

Environment variables from a `.env.development` file (your local setup) and set in the environment itself (Heroku in your example) behave slightly differently.

You need to prefix the latter with GATSBY_ if you'd like to access them in client side JavaScript as documented in https://www.gatsbyjs.org/docs/environment-variables/

Please note that _all_

[2019-02-05 11:36] joshdcuneo commented on #11548
Heavy indeed. Just tried generating two new projects and added a function returning an old school promise to one and the same code with async await to the other and the async / await bundle was 4kb bigger.

Let me know if you would like a PR to move the gatsby-node.js API examples over to async await. Seems like the rest needs to wait?

[2019-02-05 11:37] sidharthachatterjee commented on #11563
@Jornve These warnings are displayed when some assets that are preloaded in the browser are _not_ eventually used.

Gatsby preloads assets for pages that are linked to in the viewport — so the page loads practically instantly when the user clicks on the link. In this case, the PageSpeed Insights test is likely not navigating through to multiple pages and therefore this warning is being thrown.

I

[2019-02-05 11:42] #11491 closed

[2019-02-05 11:45] souhailmerroun commented on #11559
Thanks for the quick reply.

Okay, so here what I did:
- Rename my variable on Heroku to GATSBY_GOOGLE_ANALYTICS_TRACKING_ID
- I have a .env file on my project that looks like [this](https://github.com/idea-to-mvp-framework/documentation/blob/master/.env.development.example)
- I've updated my [gatsby-config.js](https://github.com/idea-to-mvp-framework/documentation/blob/master/gatsby-config.js) as

[2019-02-05 11:55] sidharthachatterjee commented on #11559
Is the .env file committed to the project? You might not need that since you're setting the env variables in the Heroku dashboard itself.

Also, you don't need `dotenv`. Gatsby reads .env.development and .env.production automatically

[2019-02-05 12:20] souhailmerroun commented on #11559
No, I didn't commit the .env file.

I also removed the dotenv from my [gatsby-config.js](https://github.com/idea-to-mvp-framework/documentation/commit/d236c9ff24feb2dd4276a79d528b73097f23e833)

It still not working. Locally I don't have access to variables anymore. I get undefined. On production, it not working as well. Heroku logs still show undefined.

[2019-02-05 13:12] bushblade commented on #7377
I am having exactly the same issue. Everything works fine in development including all images but not in build. I tried the @EvHaus 's fix above but that does not solve it for me.

[2019-02-05 14:08] dantesolis commented on #7986
@fk will do. Thanks man ;)

[2019-02-05 14:38] dotlouis commented on #8792
@tdharmon Thanks for the explanation. I wonder if this should still be considered an issue though.
While not urgent, this may leave people to scratch their head for no apparent reason.

[2019-02-05 14:52] davidbailey00 commented on #5129
@patricknick not yet, I'll just work on that!

[2019-02-05 15:41] teavirdis opened #11570 "Is it secure to run Gatsby in a develop mode in internet"
Hi Gatsby Team!

**Why do we need Gatsby develop mode in internet?**
Our authors are non technical people who contribute content directly to CMS.
We are running Gatsby in develop mode on an Amazon EC2 instance to provide them better preview experience. When authors make some changes on the CMS side, we just trigger <host>/__refresh on this preview instance,  and authors can see freshly updated/ren

[2019-02-05 15:58] pieh commented on #11072
I've done very crude test with this webpack config to force single css bundle (as documented in https://github.com/webpack-contrib/mini-css-extract-plugin#extracting-all-css-in-a-single-file):
[code]

[2019-02-05 16:00] sidharthachatterjee commented on #11072
@KyleAMathews This _might_ be a breaking change for few where behaviour that they're currently seeing will change. As what we deem as _incorrect_ behaviour might work for them?

[2019-02-05 16:05] sidharthachatterjee commented on #11559
@souhailmerroun Can you link to the logs and maybe the repo if its public? Or try to make a minimal reproduction of this that you can share?

[2019-02-05 16:08] lucasjohnston commented on #5667
Sorry to add to the noise, but I'm also experiencing a rather unpleasant FOUC with Gatsby and styled-components (using `gatsby-plugin-styled-components`). Will continue to investigate 🔍

[2019-02-05 16:09] aalises commented on #3763
Is there a fix for this? getting the same error.

[2019-02-05 16:09] sidharthachatterjee commented on #11570
Hey @teavirdis

There aren't any security vulnerabilities _per se_ but `gatsby develop` does expose the `/___graphql` route that gives access to all your data (which you might or might not be with)

Also, I really wouldn't recommend running `gatsby develop` as a production server as one would miss out of all the benefits of building to static assets. As an internal preview server of sorts, I suppo

[2019-02-05 16:12] pieh commented on #11072
Those cases will have different problems like I tried to show in the demo - it's enough you hover over a link and it will load css for other page and potentially change styling for current page. Maybe if we had some kind of scoping that would help but I'm not sure how feasible that is and what issues we would have to solve first (f.e. how should common styles between pages behave - for example sty

[2019-02-05 16:14] souhailmerroun commented on #11559
Here is the repo: https://github.com/idea-to-mvp-framework/documentation

The readme.md includes how to run it locally.

I can provide a readme.md to run on Heroku as well if needed.

Here is the logs of the deploy on Heroku: https://gist.github.com/souhailmerroun/2cd98b8a71aeb3622d441e770f503e09

[2019-02-05 16:23] AaronBentley opened #11571 "Weird error "SecurityError: Failed to read the 'rules' property from 'CSSStyleSheet'""
## Description

Hey everybody 👋

I've been having a blast with Gatsby.js, however I'm now getting a weird error, namely:

**"SecurityError: Failed to read the 'rules' property from 'CSSStyleSheet': Cannot access rules"**

... when using  [gatsby-background-image](https://github.com/timhagn/gbitest) and [Typography.js](https://kyleamathews.github.io/typography.js/) in all browsers **except Safari (

[2019-02-05 16:35] #11516 closed

[2019-02-05 16:49] geocine commented on #7465
@braco I am trying to accomplish the same but with existing block types, do you have a full working repository of your solution? I am unsure what these are:
[code]
and where are you using `wordpress_plugin.js` exactly?

[2019-02-05 16:56] spences10 commented on #3763
Maybe re-open this for visibility

[2019-02-05 16:57] jonniebigodes commented on #11570
@teavirdis expanding on what @sidharthachatterjee said, and from a perspective of a contributor to the project, vulnerabilities per se there are none until someone finds one and reports it and then it's fixed either by a development team member or even for a contributor like myself.

I've applied the same approach you're using a while ago to demonstrate a proof of concept to a audience that was no

[2019-02-05 17:04] pieh commented on #3763
I'm not sure but it seems that:
[code]
( https://reactjs.org/docs/code-splitting.html#reactlazy )

might be the root cause of this? I'm not sure if we can workaround this

[2019-02-05 17:05] KyleAMathews commented on #11072
We could document how to restore code splitting if people did know that was happening and wanted it. Then it's on them to deal with implications.

[2019-02-05 17:09] KyleAMathews commented on #11548
Yeah, modern builds would help though what'd be really nice is a Babel plugin which compiles async/await to promises.

[2019-02-05 17:16] spences10 commented on #3763
Yes, I ended up replacing `Lazy` with the loadable component eventually.

https://github.com/smooth-code/loadable-components

[2019-02-05 17:25] alfianridwan commented on #2583
@monsieurnebo Hi I tried your method, and imported the globalStyles.js file into a component, styled one of the elements with a font that I imported, but when I `gatsby build` and preview it on my github it doesn't work. The fonts aren't applied. Any suggestions?

[2019-02-05 17:27] #5987 closed, assigned to nobody

[2019-02-05 17:27] #9321 closed, assigned to nobody

[2019-02-05 17:35] frivolta commented on #11479
Sorry for the answer delay,
Actually I mean, when I deploy, those strings are appended to all images and then they are deployed in the static folder. If you inspect any image in my website for example: [www.filipporivolta.it/en](url)
the slider image is: /static/hero_1-58abed5adb2d83d3df6790e6ef4ff936.jpg, is real name is hero_1.jpg

[2019-02-05 17:36] tsvetlin opened #11574 "chore(www): Gatsby Showcase site categories sticking out from the page."
## Description

When I tried to scroll down to the bottom, to check out all the sections, it is not working properly. The sidebar with the categories is cut down, thus many categories on the bottom of the screen are unaccesible this way. If I resize my window to be smaller, even more categories are missing.

### Steps to reproduce

If you haven't selected a category yet, you can't scroll down to t

[2019-02-05 17:40] tsvetlin commented on #11574
I'd like to fix this issue.

[2019-02-05 18:19] fk commented on #7986
@dantesolis Yay! Thank _you_! 🤗

[2019-02-05 18:40] #11535 closed

[2019-02-05 18:42] #11255 closed

[2019-02-05 18:58] btk commented on #11198
@sidharthachatterjee I can confirm, upgrading to specific gatsby@2.0.112 solved my problem on Github CI.

[2019-02-05 18:59] zslabs commented on #10297
@LekoArts For fields that may have a combination of JPGs/PNGs and SVGs; it'd be super helpful if what was passed down to something like the `original { src }` attribute could be that same image; even if no transformations happened on SVGs. Has that ever been discussed?

[2019-02-05 19:05] gr2m commented on #11198
confirmed.

[2019-02-05 19:11] DSchau commented on #11198
Let's close this out. Please comment if we can help further or if this is _not confirmed_ to be fixed.

Thanks all!

[2019-02-05 19:24] gr2m commented on #11198
The original error that this issue was opened for remains:

    Error: ./.cache/async-requires.js 8:11
    Module parse failed: Unexpected token (8:11)

[2019-02-05 19:38] alfianridwan commented on #2583
@monsieurnebo 3 hours passed! Although I'm a beginner to React and Gatsby, I just can't stop pulling my hair for this!

Just for context I followed exactly what you've given, except using my own fonts, but the browser does not even detect a font. Chrome's dev tool under the Network tab does not display any fonts loaded. /static do have the fonts, and console logging one of the fonts (eg. fontfiles

[2019-02-05 19:40] tdharmon commented on #8792
@dotlouis I think that, because this is an artifact of how Relay functions (not how Gatsby functions), the solution to this is better documentation (I had to dig to find why this is the case). Especially because these aren't true javascript components, I don't think there is a need for them to work exactly like normal javascript components, especially when there are other graphQL features that wou

[2019-02-05 19:56] Jakst commented on #2374
@Urigo Can gql-gen generate types from string-literal page querys in gatsby? Apollo can do that, and I  couldn't find any info on it for gql-gen

[2019-02-05 19:56] LekoArts commented on #2583
Maybe that helps some future Google users: I implemented Inter UI with [these fonts and CSS](https://github.com/LekoArts/gatsby-source-tmdb-example/tree/master/src/fonts) and added it to the [Layout component](https://github.com/LekoArts/gatsby-source-tmdb-example/blob/master/src/components/Layout.jsx) while using `gatsby-plugin-layout`

[2019-02-05 20:05] Darkhogg commented on #9511
Gatsby `2.4.9` and still happening. After `rm -rf node_modules; npm install` everything is ok again. Something is very wrong with `gatsby new` if this happens... :confused:

[2019-02-05 20:08] protoEvangelion commented on #5667
@lucasjohnston did you check if any of your plugins might be conflicting because they are using the same `gatsby-node.js` apis?

[2019-02-05 20:12] lannonbr commented on #11173
Any updates on this?

[2019-02-05 20:16] skerschb commented on #1878
We need to support parallel builds in a kubernetes environment where we do not have control over how many gatsby builds are running in the same pod -- and against the same volume. The builds will clobber each other. I agree that most of these other use cases can be handled out of core, but in our case, we need to make sure the builds are outputted to separate directories.

[2019-02-05 20:28] CalebBarnes opened #11576 "Graphql errors don't get logged when the graphql is in a fragment"
## Description

Graphql errors don't get logged when the graphql is in a fragment, instead I get the following error
[code]
### Steps to reproduce

I have a graphql fragment exporting from a component.
Sometimes while editing something in the same file that is unrelated to the fragment, I'll have an error. Instead of the error being logged, gatsby crashes with UNHANDLED REJECTION.

[code]

### Exp

[2019-02-05 20:29] Neo-Hermes opened #11577 "Saving without sudo"
Newb Question--
I'm just getting Gatsby up and running on my mac and the install was on "Macintosh HD" along with users, system and applications, ect..  I starting testing the environment and it's works fine so for, but when I get this--
![image](https://user-images.githubusercontent.com/46298758/52302248-6b38ac00-2941-11e9-8f9f-0b1903101869.png)

I don't want to have to re-enter my password every

[2019-02-05 20:44] wardpeet commented on #11123
Thanks for reminding me, a small repro without gatsby can be found here:
https://remarkable-airboat.glitch.me

code can be found here:
https://glitch.com/edit/#!/efficacious-seahorse

[2019-02-05 20:46] #11577 closed

[2019-02-05 22:03] jkjustjoshing commented on #9325
I think this issue is still a good one to explore

[2019-02-05 22:49] aamorozov commented on #10487
I was thinking it will be useful to say whether the error is thrown because the server is not responding or because the field is missing.

[2019-02-05 23:56] vsahinid commented on #320
How are we able to add user JWT authentication without routing?  If we have multiple users and go to www.mysite.com/dashboard and /dashboard is a protected route we can do this using React and Express but it can't be done with Gatsby/Netlify?

[2019-02-06 00:01] thundernixon commented on #9423
I had the same (or a very similar) issue, using gatsby-mdx and a featured image in a page's markdown file.

TL;DR: I solved it by reinstalling my dependencies with `rm -rf node_modules`, then `yarn`

The page's .mdx file includes the frontmatter:

[code]

It's probably worth mentioning that the folder structure is like this:

[code]

The template's graphQL full query is:

[code]

I was getting thi

[2019-02-06 02:36] apvarun commented on #11576
I think a GQL fragment should be declared and used as a part of the query. In this case, there is no _query_ and so GraphQL will not know the operation to be performed.

[2019-02-06 02:37] CalebBarnes commented on #11576
The fragment is being exported and used in a query outside of this component.

[2019-02-06 02:52] KyleAMathews commented on #10563
So the problem is how to set environment variables for staging builds?

[2019-02-06 05:45] DanielRuf commented on #10563
Not really as webpack 4.x introduced the `prod/dev` flag.

[2019-02-06 05:47] DanielRuf commented on #10563
See https://webpack.js.org/guides/production/#specify-the-mode

[2019-02-06 06:09] KyleAMathews commented on #10563
Ah cool. Yeah setting NODE_ENV seems ideal as it's widely used for this sort of thing.

[2019-02-06 07:00] alfianridwan commented on #2583
@LekoArts that fixed it. I think this should be the answer and anyone struggling with the earlier answer should follow that method. I think its clean and easy.

[2019-02-06 07:30] kamilkisiela commented on #2374
@Jakst Yes, it's possible. GraphQL Code Generator looks for `graphql` or `gql` tags both in TypeScript and JavaScript files (including tsx, jsx).

In order to start using GraphQL Code Generator:

[code]

Then you can use our Wizard tool to guide you through the setup process:

[code]

It will ask you couple of questions, one is about the plugins, so please select typescript-client, typescript-serv

[2019-02-06 07:38] jafstar commented on #11453
Ditto on the errors

[2019-02-06 08:10] monsieurnebo commented on #2583
@alfianridwan [About the `createGlobalStyle` usage.](https://www.styled-components.com/docs/api#createglobalstyle)

If you cannot make it work with this documentation, feel free to create a repository with your code and I'll try to take a look.

[2019-02-06 08:24] monsieurnebo commented on #2583
@alfianridwan `createGlobalStyle` must be used as a (styled) component:

[Source](https://www.styled-components.com/docs/api#createglobalstyle)

Just use it in your **root** component (probably your pages). Based on my example, it would looks like that:

[code]

If you cannot manage to make it work, feel free to share a repository and I'll try to take a look at it.

[2019-02-06 08:43] geocine opened #11584 "props are not being passed to rendered component created by html-react-parser"
## Description

I am dynamically creating a react component from a `gatsby-source-wordpress` content. The dynamically created react component is through the use of [html-react-parser](https://github.com/remarkablemark/html-react-parser).

The dynamically created react component is created with props like so `<Gallery photos={photos} />`

### Steps to reproduce

This is the code I have on Gatsby

[

[2019-02-06 08:44] narration-sd commented on #11464
@sidharthachatterjee thanks for a good attitude  on this, and yes, I think the error reporting needs to become traceable to point. with this kind of error.

I hit it tonight on build after dev, no doubt typically - except my browser references were in style object(!). I was setting a contained element scaled to parent document sizing...had to easter egg before eyes could see this. Thanks be to Jet

[2019-02-06 08:50] Undistraction commented on #11453
@thinkocapo, @jafstar My suspicion is that this is related to `gatsby-plugin-offline`. We removed it from our app a while ago because it was unpredictable and error-prone, but digging into this error, it seems related.

[2019-02-06 08:57] Steffi3rd opened #11585 "How to deal with Gatsby site using 100k pages all editable ?"
Hi,

I want to run a build which creates 100k pages of companies. These companies page should be editable.
So the build should run for each modification _(Netlify hook already working)_

What happen if several users do modification at same time ? What Gatsby would build ?
Is this a good idea?

The other solution I think, We could be create these companies pages as "client page" (so not static). Bu

[2019-02-06 09:25] skychavda commented on #4503
# hello

[2019-02-06 09:39] dotlouis commented on #8792
@tdharmon Thanks for your comment; and in this case, I find it confusing to export queries like any other Javascript variable if they do not work the same under the hood. Better documentation is one thing, but maybe we should declare the queries differently.
Can anyone in the core team confirm this is the expected behavior? I don't want to close this issue just yet.

[2019-02-06 10:15] nugoo1 commented on #5734
Same issue here. I didnt change anything, atleast I think. Now its just broken on deployment. Looks great on development mode, very frustrating. Probably will look at earlier commits to isolate thr problem.

[2019-02-06 11:30] riddla commented on #11179
@TylerBarnes, I thought about re-using the `gatsby-image` component, so that we don't need to port the browser code from `gatsby-remark-images` ... what do you think?

[2019-02-06 11:58] alfianridwan commented on #2583
@monsieurnebo does that mean you have to add that <GlobalStyles /> tag for every page you create? What benefit does it have over the gatsby-plugin-layout method which automatically sets the global stylings as the parent to whatever code you've written? I'm only a week into React and Gatsby so any helpful and detailed answer or thought behind your previous answer will help :)

[2019-02-06 11:58] laurenskling opened #11587 "gatsby-source-mongodb doesn't support Relationships"
## Description

I have a relationship in my model. This relationship is stored in a `ObjectId`. This doesn't end up in the GraphQL schema (probably because it doesn't understand `ObjectId`'s). I also cannot use the `map` option, because it is not a String (https://github.com/gatsbyjs/gatsby/blob/c6fa2e130f4514713ad371bf431e91bbbc9b910d/packages/gatsby-source-mongodb/src/mapping.js#L5)

Is there a

[2019-02-06 12:44] antware opened #11589 "Gatsby not hot reloading after compiling on Windows 10"
## Description

Gatsby not hot reloading after compiling on Windows 10

### Steps to reproduce

Installed a new gatsby-blog-starter.
Ran gatsby develop in VS Code terminal and everything compiled successfully.
Once I Ctrl-cliked the localhost:8000 link and opened a page in Chrome the new blog template loaded with no issues.
Opened bio.js and changed some of the text.
Clicked save and compilation w

[2019-02-06 12:50] lipis opened #11590 "How to handle models from Contentful when there are no records in them?"
We have a case that sometimes the model is completely empty in Contentful (no job postings at the moment) and I'm getting the following error. Is there a way to handle that? Am I holding it wrong?

---

GraphQL
[code]
Result:

[code]

[2019-02-06 13:30] monsieurnebo commented on #2583
@alfianridwan  The feature provided by this plugin (layouts) has been removed in Gatsby v2, so yes, my example implies that you add this tag in every page.

However, you can avoid the code repetition by using a **layout component**, or the `gatsby-plugin-layout`. There is a complete explanation about this (and a little comparison between the two solutions) in the [official migration guide from v1

[2019-02-06 13:58] LMulvey opened #11591 "fix(www): fix spacing between tags list and 'View All Tags' button on blog posts"
## Description

A visual regression was introduced in #10936. There is no space between the tags and the 'View All Tags' button.

<img width="969" alt="screenshot 2019-02-05 10 04 49" src="https://user-images.githubusercontent.com/71047/52294198-7d105400-292d-11e9-9a12-394b0172bb41.png">

_Originally posted by @KyleAMathews in https://github.com/gatsbyjs/gatsby/pull/10936#issuecomment-460741722_

[2019-02-06 14:16] antware commented on #11589
Can I just add editing the Markdown files and then saving the content is instantly refreshed. But editing the .js files, the browser has to be manually refreshed.

[2019-02-06 14:30] krismorf opened #11592 "[gatsby-plugin-google-gtag]: Page and Title do not match in Analytics Dashboard"
## Description

`gatsby-plugin-google-gtag` records an event when the user navigates through the site. I can see the events in my Analytics Dashboard but the Page Title is 1 iteration behind.

In Google Analytics this shows as:

| Page     | Page Title | Pageviews |
|----------|------------|-----------|
| /        | (not set)  | 1         |
| /page-1/ | Home       | 1         |
| /page-2/ | Page 1

[2019-02-06 14:34] lucasjohnston commented on #5667
@protoEvangelion Yup - I'm not touching `onCreateBabelConfig` (which is the only node API I can see it touching 👀)

[2019-02-06 14:39] lucasjohnston commented on #5667
I've just merged in the redesign with FOUC, so you can see the error I'm encountering - https://github.com/monzo/progression-framework

[2019-02-06 14:42] tylerzey commented on #11198
I had the exact same issue.
Module parse failed: Unexpected token (8:11)
You may need an appropriate loader to handle this file type

The yarn fix worked for me.

Deleting .cache/public/node_modules didn't work.

The issue started for me after running npm update.

[2019-02-06 15:08] italodr commented on #11524
I am having the same issue here... first, sorry for my english, i'm spanish-speaker ¯\_(ツ)_/¯

[code]
First of all, a little of context, I had an issue related to a carousel package [Tiny Slider](https://github.com/jechav/tiny-slider-react) which was using `window`, so I search for different carousels with SSR implemented and I found [react-responsive-carousel](https://www.npmjs.com/package/react-

[2019-02-06 16:10] #8080 closed

[2019-02-06 16:11] jonniebigodes commented on #11559
@souhailmerroun looks like there's a bit of confusion in here.

In order for `gatsby-config.js` to read the environment variables. You'll need the `dotenv` package added to your project and if the .env file is in the root of the project's folder, namely:
[code]
You don't need the configuration like you were declaring it.
You only need it like so:
[code]
As you can see [here](https://github.com/jon

[2019-02-06 16:12] DSchau commented on #8080
[code]

[2019-02-06 16:23] brodneil commented on #9144
Is this resolved? My end, I am still getting the errors: "Cannot query field"

Is there another way to migrate from wordpress to gatsby without trying to do them manually?

[2019-02-06 16:48] denkristoffer opened #11598 "[gatsby-plugin-remove-trailing-slashes] doesn't work with slugs"
## Description

I'm using `gatsby-plugin-remove-trailing-slashes` with https://github.com/gatsbyjs/gatsby-starter-blog — the problem is that blog post slugs still have trailing slashes which gets used in the post links. The `path` field for pages DOES have the slashes removed though.

### Steps to reproduce

Run the following query in GraphiQL

[code]

### Expected result

[code]

### Actual resul

[2019-02-06 16:49] DSchau commented on #11598
I think this is on the creator of the slug field to implement!

This function here -> https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/gatsby-node.js#L57

has an option `trailingSlash` that can be disabled!

[2019-02-06 16:56] geocine commented on #11584
I noticed that primitive prop types are being passed down but non-primitive types are not passed

[2019-02-06 17:02] dvonlehman opened #11599 "Webpack error when running `gatsby develop`"
When running `gatsby develop` it fails with the following error:

[code]

I've deleted the `.cache` and the `node_modules` directories and re-run `yarn` multiple times, but keep getting the same error.

[2019-02-06 17:03] denkristoffer commented on #11598
Thank you @DSchau, that's fair and works perfectly for me 🙂 I think it'd be nice DX if that option was inferred from the plugin, but I'm not well versed in Gatsby's code to implement such an idea.

[2019-02-06 17:03] #11598 closed

[2019-02-06 17:05] jonniebigodes commented on #11534
@KatePavlovich sorry for the hasty response the other day. I'm going to elaborate on what i meant to say using a smaller example so that you can see what the problem is and try to find a solution for it.
Going to break it into smaller parts so that it will be better undestood.

- Cloned the started blog template created by Gatsby config.
- As the packages needed were already there there's no need

[2019-02-06 17:15] andersonsantos commented on #11585
Are this 100k pages of companies hosted as different websites (supporting custom domains names, etc) or they are something like LinkedIn profiles, all hosted on the same "main" website (like www.example.com/companyX/)?

[2019-02-06 17:18] #11584 closed

[2019-02-06 17:27] #5213 closed

[2019-02-06 17:27] #7407 closed

[2019-02-06 17:27] #7461 closed

[2019-02-06 17:27] #8800 closed

[2019-02-06 17:27] #8986 closed

[2019-02-06 17:27] #9159 closed

[2019-02-06 17:27] #9301 closed

[2019-02-06 17:27] #9324 closed

[2019-02-06 17:27] #9340 closed

[2019-02-06 17:27] #9354 closed

[2019-02-06 17:27] #9410 closed

[2019-02-06 17:27] #9414 closed

[2019-02-06 17:27] #9429 closed

[2019-02-06 17:27] #9436 closed

[2019-02-06 17:27] #9456 closed

[2019-02-06 17:27] #9485 closed

[2019-02-06 17:27] #6131 closed

[2019-02-06 17:27] #8769 closed

[2019-02-06 17:27] #8838 closed

[2019-02-06 17:34] araphiel commented on #11585
What will your clients use to edit data?

My thoughts on options:
- Fetch company data on the client.
- Run the site on a node server, use `gatsby serve` + [`ENABLE_GATSBY_REFRESH_ENDPOINT`](https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables) (not sure about the memory usage on this though)

I think the incremental build feature is still being worked on but I'm sti

[2019-02-06 17:43] kolya-ay opened #11602 "Consider integrating graphiql-explorer"
[It looks](https://github.com/OneGraph/graphiql-explorer) very useful for exploring Gatsby internals.

[2019-02-06 17:45] TylerBarnes commented on #11179
@riddla I like the idea but I'm not really sure how it could be accomplished. The images come in a string of text so they aren't react components. I imagine we would have to render gatsby image to a string during the current process of downloading and replacing the inline images but I don't know if that would break anything with gatsby image. I'm not sure if that means we would also have to do a b

[2019-02-06 17:51] simonfranzen commented on #11198
Same Issue here.

[code]

Tries to load a template from src/templates

[code]

gatsby-node.js
[code]

[2019-02-06 18:24] DanielRuf commented on #11198
`return import` please see the other comments.

[2019-02-06 18:33] wodin commented on #8019
If the bot is going to close issues regardless of replies, perhaps it should not suggest that one "reply here ... to keep this issue open" 😥

[2019-02-06 18:59] pauleveritt commented on #8907
2.0.10 appears to still have this issue.

[2019-02-06 19:02] gluemonkey opened #11604 "onInitialClientRender not called on IE10"
## Description

onInitialClientRender is never called and initial client render does not happen in IE10

### Steps to reproduce

View a basic starter build in IE10 and notice that render is never called within your components.

### Expected result

onInitialClientRender should be called inside of gatsby-browser.js and your React components should render.

### Actual result

onInitialClientRender i

[2019-02-06 19:28] Jakst commented on #2374
Hey @kamilkisiela, thanks for the elaborate answer.

I didn't realise I could target .ts files with the glob pattern. But anyway, it does not seem to work.

codegen.yaml
[code]

In src/pages/index.tsx I have the following:
[code]

It does generate all possible type combinations from the graphql endpoint, but I get no generated type for my pageQuery.

[2019-02-06 20:11] riddla commented on #11179
@TylerBarnes, I bumped my head around it today, too. Maybe we could ask someone on the Gatsby team, if they can think of an approach. I think it would be very helpful to re-use `gatsby-image` not only in your plugin, but maybe in others, too?

@DSchau, maybe you can speak to this topic?

[2019-02-06 20:17] DSchau commented on #11179
@riddla I'm honestly not all that familiar with the Wordpress plugin (@pieh is a better contact!) but you probably wouldn't be able to use gatsby-image directly.

What we do in `gatsby-remark-images` (a better reference point for this functionality!) is we replicate _similar_ functionality with plain HTML, CSS, JS, etc. _not_ React code.

To implement something like this, you'd want to parse the H

[2019-02-06 20:17] Timothy-Guyon commented on #11507
I am having similar issues
[code]

[2019-02-06 20:19] TylerBarnes commented on #11179
@DSchau that's what the new plugin is doing actually. :) I read the `gatsby-remark-images` plugin and used the same markup.

[2019-02-06 20:22] DSchau commented on #11179
@TylerBarnes nice! Rather than sorta splitting the ecosystem here--would you be interested in working on making gatsby-source-wordpress changes to enable a mechanism to use functionality like you've created?

That way--_everyone_ can get these benefits for free merely by upgrading the plugin and then using this `gatsby-wordpress-images` plugin (or whatever we decide to call it!).

Happy to help yo

[2019-02-06 20:28] TylerBarnes commented on #11179
@DSchau do you mean the functionality should be part of `gatsby-source-wordpress`? It's already a plugin so everyone can use it https://github.com/TylerBarnes/gatsby-wordpress-inline-images but I like the idea of it being part of `gatsby-source-wordpress` more for sure.

[2019-02-06 20:31] DSchau commented on #11179
@TylerBarnes whoa - that's great! Sorry, I was looking at [this](https://github.com/TylerBarnes/gatsby-plugin-wordsby) linked earlier.

If this plugin exists, and others can use it like you've documented--isn't this a solved problem?

[2019-02-06 20:33] riddla commented on #11179
@DSchau, the main problem was solved by @TylerBarnes, yes.
We we're just thinking about the remaining `blur-up` part.

[2019-02-06 20:42] riddla commented on #11179
@TylerBarnes, so if I activate `gatsby-remark-images` in my project it would just pick up the images created by `gatsby-wordpress-inline-images`?

[2019-02-06 20:43] TylerBarnes commented on #11179
@riddla No, this one is just for `gatsby-source-wordpress`

[2019-02-06 20:46] riddla commented on #11179
Yeah, that's what I meant. I think I was just mislead by one of your previous comments:

I thought you meant that this would still need to be implemented ... 🤦‍♂️

[2019-02-06 20:48] TylerBarnes commented on #11179
@riddla I think the file just needs to be copy pasted 😂
I ran out of time when I was working on the plugin. The remaining features should be easy to implement if anyone has a bit of time for it! If not when I get a sec I'll finish the plugin.

[2019-02-06 20:52] riddla commented on #11179
I’ll give it a shot if I find some time tomorrow :)

[2019-02-06 20:54] JustFly1984 commented on #10179
not stale

[2019-02-06 21:18] tmccombs commented on #2172
Why was this closed in favor of #2645? That fixes the problem of  light terminal backgrounds, but doesn't solve other use cases such as CI tools that can't handle ANSI color codes, or other  if you want to redirect the output to a file (or pipe to another program) that can't handle color codes.

[2019-02-06 21:55] pieh commented on #11179
Implementing it is feasible - just not sure if practical:
![screenshot 2019-02-06 at 22 51 35](https://user-images.githubusercontent.com/419821/52376333-25273980-2a62-11e9-950a-f6df2f99adfe.png)

See https://github.com/pieh/gatsby-wordpress-gatsby-image - in particular:
 - https://github.com/pieh/gatsby-wordpress-gatsby-image/blob/master/gatsby-node.js
 - https://github.com/pieh/gatsby-wordpress-g

[2019-02-06 21:58] pieh commented on #11179
Above takes similiar approach to https://using-remark.gatsbyjs.org/custom-components/ (with extra step of replacing inline img for custom element (with results of running fluid function from gatsby-pluginsharp) that is later replaced by React Component that uses `gatsby-image`

Also @oorestisime implemented very similiar thing to this for `remark` - https://github.com/oorestisime/gatsby-remark-reh

[2019-02-06 22:07] TylerBarnes commented on #11179
@pieh that's awesome! Really valuable info. Do you think the benefit of it is worth the work to implement it?

[2019-02-06 22:11] oorestisime commented on #11179
let me know if the plugin can be of any more help. i am willing to work on it if there are use cases not covered right now or if you have any features/bugs in mind :)

[2019-02-06 22:17] pieh commented on #11179
But getting back to the point - I think @TylerBarnes plugin is super valuable and we can add section to `gatsby-source-wordpress` docs with link to `gatsby-wordpress-inline-images` (where user would get installation and config instructions)

@TylerBarnes this is pretty much done in the demo repository - what would need to be done is package example site `gatsby-node` into its own plugin (and maybe

[2019-02-06 22:24] matthewlawson opened #11607 "Pagination and filtering on nested properties"
## Summary

I recently built an ecommerce style site with gatsby and I had a few issues with the build times as I was inadvertently over-fetching data. I have a simple Many to Many, Category <-> Product schema setup using [foreign keys](https://www.gatsbyjs.org/docs/node-creation/#foreign-key-reference-___node). I would like to be able to paginate on the nested properties the same way I can on the

[2019-02-06 22:39] seaneking commented on #7219
Would be great to keep this open — the Gatsby Babel preset helped, but there's still a fair few hacky workarounds needed to get Storybook working, would be great to see if we can get tighter integration out of the box

[2019-02-06 22:47] TylerBarnes commented on #11179
I see, that makes sense!
In my WP source plugin (wordsby) I currently have it doing this to fields recursively at the same time that it's creating them instead of in another step. In the recursive function it just check's if the field is a string and then if so does it contain "<img".
I did some performance profiling on the build and it didn't seem too bad but it definitely took more time.
I added

[2019-02-06 22:58] ankesh7 commented on #3064
Same

[2019-02-06 23:01] joebentaylor opened #11609 "Netlify Deploy Fail Since new Gatsby CLI update"
Hi, today i upgraded gatsby to the latest version, and ever since then ive had major issues...

Ive had to stop using NPM as the site wont build locally anymore and had to use yarn to fix this.

But, the biggest issue now is when i run the build inside of Netlify i get this build fail:

[code]

I have no clue where to start. Someone help!!! :(

[2019-02-06 23:03] DSchau commented on #11609
Does your code depend on a dependency (`lodash.camelcase`) that isn't installed?

Are you able to build this code locally i.e. outside of Netlify?

[2019-02-06 23:09] joebentaylor commented on #11609
Not that i know of. And can build it totally fine no problems outside of netlify

[2019-02-06 23:10] joebentaylor commented on #11609
Its literally only since updating the Gatsby CLI that this has become an issue

[2019-02-06 23:14] pzenger commented on #9511
Also running into this issue with the latest Gatsby 2.0.116
`gatsby new` is creating a project which fails to start.

[2019-02-06 23:47] sgnl commented on #6945
bump to keep alive

[2019-02-07 00:49] aprather51 commented on #11449
I see now, this all make sense now. Finally, that did insights on my long issues with Gatsby and queries. Thank you @jonniebigodes and @sidharthachatterjee surrender time to answer my question.

[2019-02-07 00:49] #11449 closed

[2019-02-07 00:50] iamtylerd opened #11611 "gatsby-node build question"
I am pretty new to Gatsby and using a static json file "PLAYERS" to build these pages.  Everything was working correctly until I added the 2nd createPage, this is also nested in ```exports.createPages```
I am not using graphql currently.  Is it bad practice to have two create pages here?

[code]

[2019-02-07 00:55] aprather51 commented on #10317
no responses, moving on...

[2019-02-07 00:55] #10317 closed

[2019-02-07 00:57] sgnl commented on #6945
Not exactly sure if this is on topic because the description is a little vague but...

:heavy_check_mark: I'm **able** to implement relative links if I use Link from `'@reach/router'`

:bug: I'm **unable** to implement relative links when using Link from `'gatsby'`

[2019-02-07 02:23] lannonbr commented on #11082
So I took a dive into what would actually be needed to do this and we have two places we could put something to distinguish official plugins

1) The Plugins search sidebar. To put it here, there would have to be some logic added to the crawler for Algolia to add a field stating if it is an official plugin (If the plugin is located in the packages/ folder of the Gatsby repo on GitHub) and then mayb

[2019-02-07 02:41] lsirivong commented on #10081
To avoid re-creation of some root component in your application you can use `gatsby-plugin-layout`.

Here's a branch where I moved the app code in your example to a layout with the plugin:

https://github.com/RobRuizR/gatsby-client-routing-with-class/compare/master...lsirivong:with-gatsby-plugin-layout

Deployed here:

https://happy-gates-15a7a6.netlify.com/

[2019-02-07 02:46] JustFly1984 commented on #11609
@joebentaylor can you run `npm ls lodash.camelcase` or `yarn list lodash.camelcase` ? it will tell you which dependency is it. Also it could help if you remove `^` from all semver of your dependencies and devDependencies, remove `package-lock.json`, `yarn.lock` and `node_modules`, run `npm i` or `yarn` again, and build locally. Possible that you have some dependencies in devDependencies, and you n

[2019-02-07 02:51] lsirivong commented on #11247
So you have a file structure you're happy with (folders under `content/`), but you want the URLs in your site to be `domain.com/articles/{slug}`. Is that correct?

What sidharthachatterjee was saying is you could achieve this in your `gatsby-node.js` code:

[code]

I recently set up something similar in my site, where it uses the subdirectory under `content` as the path in the URL.

eg. `content/b

[2019-02-07 03:21] lsirivong commented on #11590
I (believe) this is the main issue where this is being discussed: https://github.com/gatsbyjs/gatsby/issues/3344

Most folks seem to take the route of publishing some dummy data to work around the build error, and filtering it out of your app build in some way if necessary.

[2019-02-07 04:03] antonmedv commented on #8089
@gatsbybot not fixed

[2019-02-07 04:51] rayriffy commented on #11443
I just published new blog on my site. My expectation is when new ServiceWorker is updated with new blog it's going to automatically reload and show a new one. But it didn't the experience still the same.

[2019-02-07 05:46] muescha opened #11616 "starters should run generated from a subfolder in a repository"
## Description

- i forked the gatsby repo to change a little in the blog starter
- now it lives under https://github.com/muescha/gatsby/tree/patch-2/starters/blog
- i like to test it before submit
- `gatsby new blog3 https://github.com/muescha/gatsby/tree/patch-2/starters/blog`

### Steps to reproduce

- run `gatsby new blog3 https://github.com/muescha/gatsby/tree/patch-2/starters/blog`

### Expe

[2019-02-07 07:13] KyleAMathews commented on #11616
Starters only work when the site is at the root.

Cloning a repo with additional code would be messy as a) it's potentially a lot more data and b) it's unclear what Gatsby should do with the other folders — are they safe to delete? Perhaps not as they might have code the site is depending on.

It's a lot simpler to enforce that starters have the site at the root.

[2019-02-07 07:36] dotansimha commented on #2374
@Jakst which version of graphql-code-generator do you use?

[2019-02-07 08:31] paulgaumer opened #11617 "Importing data from two excel sheets create issue - gatsby-transformer-excel [help wanted]"
## Description

Hi there!
I am developing a paycheck document generator, importing data from an excel file called "salaries" using `gatsby-transformer-excel`.

This file has 2 sheets: "Sheet1" and "Sheet2". My plan is to have one sheet per employee, meaning the headers will be the same on all sheets, but data will differ.

While the GraphQL request works perfectly if "Sheet1" only exists, I face a

[2019-02-07 08:57] indiscreetak opened #11618 "Gatsby Build - Failed to load resource: net::ERR_FILE_NOT_FOUND"
### Description
Everything works fine with `gatsby develop`. When I run `gatsby build` and open the index.html, I get the following errors in my chrome console :

Failed to load resource: net::ERR_FILE_NOT_FOUND
/app-dc69784665b5b2447af7.js:1 Failed to load resource: net::ERR_FILE_NOT_FOUND
/12-c8bcf2beede8a33b73a6.js:1 Failed to load resource: net::ERR_FILE_NOT_FOUND
/0-2d176e3d90599d6f73e0.js:1

[2019-02-07 09:56] Ontopic commented on #11429
What's the status on this? We're experiencing the same issue.

[2019-02-07 09:56] Ontopic commented on #10909
What's the status on this? We're experiencing the same issue.

[2019-02-07 10:27] bakeruk commented on #10339
+1

Same issue!

JSON API has the data for the `alt` tag as meta data, but the source module does not publish this data via GraphQL. It would be great if this could be pushed to the `file__file` relationship or somewhere that easily accessible and semantic.

`...,
"field_cover_image": {
  "data": {
    "type": "file--file",
    "id": "2ab20275-366c-431c-8ec6-d5cc42d5c20e",
    "meta": {
      "alt

[2019-02-07 10:30] hehooleehoo commented on #10339
+ 1 Same issue here...

[2019-02-07 10:33] hehooleehoo commented on #10339
+1

Having the same issue here too!

[2019-02-07 10:35] bakeruk commented on #10339
@pascal-kubrick Comment + 1 or something to remove the `stale?` label ;)

[2019-02-07 11:18] pieh commented on #11173
One thing to note is that all our node APIs are `async` https://github.com/gatsbyjs/gatsby/blob/2032147f23d40fe8d986fd33996a8c5362e6c75d/packages/gatsby/src/utils/api-runner-node.js#L232-L244

Let's see what the flow would be if we have 2 `onCreatePage` hooks that delete pages - let's call them `onCreatePageA` and `onCreatePageB`:

 - createPage(X) (either from 'src/pages' automatic or programmati

[2019-02-07 12:24] igorpupkinable commented on #11105
I am experiencing `301 Moved Permanently` redirect to `/reviews/` when hitting `/reviews` page in development and build/serve mode.
Reviews page is located in `/src/pages/reviews.js`.
I am using gatsby@2.0.50, gatsby-plugin-remove-trailing-slashes@2.0.7, Node.js v10.15.0 x64, Windows 10 Pro x64.

[2019-02-07 13:51] zslabs opened #11622 "SSR content dependent on origin"
## Summary

Gatsby does an amazing job of SSR wherever possible, but with how my app works (currently all Node/Express) is I serve the root path different content based on where the origin domain is pointing; since I allow customers to map their "listings" to a custom domain; which points to the same server, and ultimately shows their content instead of the default marketing homepage I setup. Woul

[2019-02-07 13:55] mattclough1 commented on #3344
I know this isn't a solution to the problem in this version of Gatsby, but Gatsby 2.0's gatsby-source-graphql has pretty much eliminated schema inference problems in my experience.

[2019-02-07 14:27] stefanprobst commented on #3344
Everyone: this is actively being worked on in  #11480.

[2019-02-07 14:51] DSchau commented on #11609
Also linking to the build history (e.g. the Netlify build logs) would be helpful, as well as providing a reproduction, e.g. a copy of the repo on Github or elsewhere where we can try to reproduce.

[2019-02-07 15:39] danboyle8637 opened #11623 "Can't get my images from markdown frontmatter to display - "Cannot read property 'src' of undefined"
Here is my query and how I'm rendering a card component... Using images because my preview did not show indenting and made it super hard to read.

![screen shot 2019-02-07 at 10 37 41 am](https://user-images.githubusercontent.com/26289514/52422650-7a943280-2ac4-11e9-8a78-b59edece1156.png)

When I console log pic I I get the correct image object... but when I pass it as a prop and try to display it

[2019-02-07 15:47] DSchau commented on #11616
Yeah - I don't think we're going to solve this unfortunately. Monorepos complicate things here, and I don't recall there being a nice way to clone _just_ a subdirectory with `git` (but correct me if I'm wrong!).

If you are interested in distributing your code in a monorepo, you may look into syncing a starter with some code in your monorepo, and then publishing a "read only clone" of that code un

[2019-02-07 15:48] davidbailey00 commented on #8089
As per nfl/react-helmet#314, as a workaround, you can use the prop `defer={false}` in your `<Helmet>` component to set/update the title as soon as possible. (Thanks @beaugunderson for pointing me to the right place!)

[2019-02-07 15:50] t2ca commented on #11623
Try

`const PictureWrapper = styled(Img)`

[2019-02-07 15:56] m-allanson commented on #8019
:( sorry about that. There were some earlier issues with gatsbot being overenthusiastic which _should_ be fixed now.

[2019-02-07 16:10] zslabs commented on #11368
Does this recent change have anything to do with it? https://github.com/gatsbyjs/gatsby/pull/11381 `gatsby": "2.0.96"` works fine, but somewhere between then and now... something happened. This feels like a pretty high-priority bug since sorting by a field in graphql queries is busted.

[2019-02-07 16:12] #5129 closed

[2019-02-07 16:17] stefanprobst commented on #11368
@zslabs Could you specify what is broken for you? The sort examples in the [graphql reference docs](https://www.gatsbyjs.org/docs/graphql-reference/#sort) seem to work.

[2019-02-07 16:22] zslabs commented on #11368
Hey @stefanprobst,

`sort: { fields: [frontmatter___date], order: DESC }` within `allMarkdownRemark` is what appears to be broken in the newer versions of Gatsby. `2.0.96` does not have this issue; but I also downgraded `gatsby-transformer-remark": "2.2.3"` to `gatsby-transformer-remark": "2.2.0"` as well if that helps shed any light.

[2019-02-07 16:25] stefanprobst commented on #11368
@zslabs I'll look into it.

[2019-02-07 16:40] stefanprobst commented on #11368
@zslabs Ok, this needs more investigation. In a [basic hello-world starter](https://github.com/stefanprobst/gatsby-11368) (with `gatsby@2.0.116`), sorting on markdown frontmatter fields does work on my end. Would you be able to share a repo to reproduce the error?

[2019-02-07 16:41] zslabs commented on #11368
Unfortunately no; as it's a private repo. Here's a rundown of my `gatsby info` though from when the bug was occurring.

[code]

[2019-02-07 16:45] stefanprobst commented on #11368
Just to clarify: broken sort means you get an Error, or it just doesn't sort (neither ASC nor DESC)?

[2019-02-07 16:54] jonniebigodes commented on #11611
@iamtylerd assuming the block of code above is part of what exists in `gatsby-node.js` then there's no issue whatsoever in having 2...3..400 pages being created in there. For instance multiple starters use the file to generate the content pages through there.
With that out of the way, while reading your code it looks it can be optimized a bit to prevent further issues.
Bellow is the a more streaml

[2019-02-07 16:56] zslabs commented on #11368
Sorry, my comment was pretty vague; no errors; just the query was not actually returning sorted results correctly (not respecting the params of the query). This was happening with both `gatsby develop` and `gatsby build`.

[2019-02-07 17:01] pardesiaka08 commented on #10662
Hi, I am facing an issue on integrating storybook with gatsby.As my gatsby site consists of components which uses graphql queries which are giving an error.Is there any solution to create storybook for such components.

**footerSocialIcons Component**

<img alt="code_capture" width="950" src="https://user-images.githubusercontent.com/47422145/52421257-b73e4900-2b19-11e9-80e9-fca296f4c8ac.PNG">

**

[2019-02-07 17:08] stefanprobst commented on #11368
Hmm, at the moment, I'm out of ideas unfortunately -- this is working correctly for me with `gatsby@2.0.111`. You could try cloning [my example repo](https://github.com/stefanprobst/gatsby-11368) and check in GraphiQL if sorting works.

[2019-02-07 17:15] iamtylerd commented on #11611
@jonniebigodes Awesome thank you a ton, my issue was an async one from how the file was being read, but this code also looks a lot more readable.  Again thanks for taking the time to help

[2019-02-07 17:15] #11611 closed

[2019-02-07 17:27] #6735 closed

[2019-02-07 17:27] #6783 closed

[2019-02-07 17:27] #8418 closed

[2019-02-07 17:27] #9271 closed

[2019-02-07 17:27] #9434 closed

[2019-02-07 17:27] #9455 closed

[2019-02-07 17:27] #9542 closed

[2019-02-07 17:27] #9585 closed

[2019-02-07 17:27] #9616 closed

[2019-02-07 17:41] DanielRuf commented on #2410
Wait what?

[2019-02-07 17:43] jonniebigodes commented on #11611
@iamtylerd no need to thank, i'm glad i could help out and also that you managed to solve your issue.

[2019-02-07 17:46] jonniebigodes commented on #11617
@paulgaumer i've picked up on your issue, i'm currently testing out something. I'll provide you with an answer shortly. Sounds good?

[2019-02-07 18:31] danboyle8637 commented on #11623
@t2ca  Thanks. I imported Image from 'gatsby-image'

I thought you can name default exports whatever you wanted. I guess I was wrong.

But then why do my images work on all my other pages where I'm just querying the image?

[2019-02-07 18:35] itrevex opened #11628 "CSS styles inside static folder do not load when there is a trailing slash on route"
## Description

I picked up a template and converted to a react a component. I then decided to pass its styles through `link` tag in header of the page using react-helmet.
The styles work fine when I route the the page without no trailing slash but on routing to the pages with a trailing slash, the styles do not work. I have searched around but looks like the issue is unique to me

### Steps to re

[2019-02-07 18:55] blakenoll commented on #11628
Try importing the custom css file directly into custom_page.js instead of using the SEO component to add a link. The SEO component may be adding the link to custom.css before the link to your regular CSS causing it to be overwritten.

[2019-02-07 19:59] jlgouwyapizr commented on #11118
@bastianfiebig Where is your static folder ?
I have the feeling you put your file in /public/static folder. But you don't need to touch inside /public.
You need to create a static folder on the root of your project. At the same level than /src.

[2019-02-07 20:07] zslabs commented on #11368
@stefanprobst I think I've found the issue. This isn't related to the core gatsby package, but `2.2.1` of `gatsby-transformer-remark`; and specifically https://github.com/gatsbyjs/gatsby/pull/10924

Some of the dates are written as `2019-01-01` and others are strings, `'2019-01-01'` within the frontmatter; and when updating past `2.2.0` the issue appears.

[2019-02-07 20:07] #10211 closed

[2019-02-07 20:27] justinformentin commented on #11618
Certain built files / dependencies need JS to load. Off the top of my head, `gatsby image` is one that won't work this way. So you need to either use `gatsby serve` to view your site, or deploy the `public` folder to a server. Netlify or Github pages are good to start with because they're free and guide you through setup.

[2019-02-07 20:34] DSchau commented on #11618
@justinformentin that's true, but the general issue is that this isn't a supported pattern outside of Gatsby. It's a relative vs. absolute link issue.

e.g. given a folder with an `index.html` file and a `script.js` file. If you set up `index.html` like so:

[code]

It will also fail with ERR: File not found.

In a long-winded way, you should use a local file server (not opening up files directly

[2019-02-07 20:34] #11618 closed

[2019-02-07 20:54] tocteman opened #11632 "Sharp - Graphql error after update"
## Description

Can't compile project after today's update.

### Steps to reproduce

Updated some packages today; among them:
gatsby
gatsby-image
gatsby-plugin-sharp
gatsby-remark-image
gatsby-source-filesystem
gatsby-transformer-remark
gatsby-transformer-sharp
react
react-dom

Then gatsby wouldn't build. Backtracked these packages, reinstalled errors, erased cache; error persists. Currently getti

[2019-02-07 21:03] marcysutton opened #11633 "Plugins: Github link missing screen reader text"
## Description

The link to a plugin's source on Github uses an SVG icon and it is missing a text alternative. If a screen reader user navigates to this page and lands on that link, they won't know what it's for.

### Steps to reproduce

- Go to a plugin page like https://www.gatsbyjs.org/packages/gatsby-image/
- Above the header for the plugin (in this case, "gatsby-image"), inspect the Github ic

[2019-02-07 21:06] m-allanson commented on #2410
Well... that's not right.

[2019-02-07 21:27] jonniebigodes commented on #11617
@paulgaumer after some testing with the repository i was able to come up with a solution for your issue.
Breaking it into smaller parts for better understanding:
- Cloned the repo and installed the dependencies.
- Issued `gatsby develop` got the error you reported straight out of the box.
- Commented out all of the graphql part of the code and issued `gatsby develop` to get at least a successful b

[2019-02-07 21:37] DanielRuf commented on #2410
Sounds like some cachebusting might be the solution / workaround in general (hashes in generated file names and references).

[2019-02-07 22:34] trkaplan opened #11637 "gatsby develop command error: TypeError: Cannot read property 'options' of undefined"
## Description

I'm following the steps at [Quick Start document](https://www.gatsbyjs.org/docs/quick-start) to start a gatsby project. But `gasby develop` command gives this error:
I've tried these but didn't work.;
- removing `.cache`, `node_modules`then running `npm install`,
- removing `.cache`, `node_modules`, `package-lock.json` then running `npm install`,
- removing `.cache`, `node_modules`

[2019-02-07 23:58] kentcdodds opened #11638 "Make GraphQLCompilerContext errors helpful"
## Summary

Right now I'm struggling to understand why a query suddenly stopped working for me:

[code]

That's pretty much not helpful at all. I have no idea which of all the queries in my codebase is causing the issue.

### Motivation

It's super frustrating to debug something when I don't even know where to start. At least point me to the query that is causing this error then I can work from th

[2019-02-08 00:08] kentcdodds commented on #11638
By the way, I figured out the problem and it was kinda interesting.

I had a file in `components` that defined a fragment (called `site`) as part of an exported `pageQuery` (yes, I know that `components` can't have page queries, I was refactoring it to a StaticQuery). So, in refactoring away the page query, I removed the fragment definition and this error started happening. Several other page quer

[2019-02-08 01:07] paulgaumer commented on #11617
Thanks a lot @jonniebigodes, this does help! I'll fall back to this solution for now.

I was under the impression that simply having a different name for each sheet would create a new node in the data, and that the any children nodes would behave independently. I'd be interested to hear from people in the same situation.

[2019-02-08 01:42] pieh commented on #11617
@paulgaumer the `id` column in your spreadsheets is used to identify nodes - this mean that when we create nodes for second spreadsheet (nodes with id `1` and `2`) it overwrites nodes from first spreadsheet (with same ids). This is a bug in excel transformer - we shouldn't use value of `id` column for gatsby node id. Instead we should transform `id` from spreadsheet into something like `c_id` or `

[2019-02-08 01:44] paulmelnikow commented on #11198
This appeared in badges/shields#2947 while upgrading from 2.0.115 to either 2.0.116 or 2.0.117.

I recently merged badges/shields#2949 which updated `babel-preset-gatsby` from 0.1.6 to 0.1.7, though I have tried hacking in a downgrade and that did not fix the problem.

The problem was caught in CI and manifests there consistently. Our CI does not preserve `.cache`, so that can be ruled out.

[code

[2019-02-08 02:13] paulmelnikow commented on #11198
I think this may be the issue: webpack/webpack#8656.

[2019-02-08 02:34] jlengstorf commented on #6300
This isn't fixed, so I'm reopening it.

[2019-02-08 02:53] AllanPooley commented on #7454
Hi guys, debugging this for a few hours last night, to no avail.

However, this morning I was blessed with an epiphany sent by the software engineering gods! 🕊️

I had some pretty funky styles to make a togglable navigation drawer / menu appear and disappear by pushing away the app's main containing element.

To make this work, I had added:

[code]

In my case, removing this style fixed the behavi

[2019-02-08 03:08] AllanPooley commented on #7454
![image](https://user-images.githubusercontent.com/9204586/52456843-f36dba00-2baa-11e9-95e2-c07db6fcb2a1.png)

[2019-02-08 03:12] coreyward commented on #10203
I did a dive into this around the time I create the issue and found that doing this was a bit convoluted due to the way the code associated with this is structured and the different approach needed for `gatsby-image-contentful`.

I'm still interested in making this happen, but don't have bandwidth right now.

[2019-02-08 03:35] CLantigua2 commented on #4967
This worked great for me but I had to manually go into the npmrc file because my path has a space between the file. So if anybody else has the issue where their npm breaks because of this, try the following.
1. Locate your .npmrc file and open it (I just used notepad)
2. look at your current prefix location. (For me it was prefix=C:/Program Files/Git/usr/local)
3. If you're looks something like mi

[2019-02-08 03:38] muescha commented on #11616
If this is now possible.  there should be an tutorial (or an link to one) how to publish to a sub repo ...

[2019-02-08 04:51] rayriffy commented on #11443
EDIT: It's working but it need to reload one more time to get gatsby-browser in action. Closing issue now.

[2019-02-08 04:51] #11443 closed

[2019-02-08 05:05] paulgaumer commented on #11617
@pieh thanks a lot, that was it! Naming the column `id` was messing everything up. Makes total sense now!
The ticket can be closed 🙏

[2019-02-08 05:06] #11617 closed

[2019-02-08 06:05] DanielRuf commented on #11198
@paulmelnikow good catch. And this is why I recommend using CJS if we do not have to use ESM - it is still not 100% reliable in bundlers. And the other way should still work.

So pinning webpack in the root package.json should work?

[2019-02-08 06:06] DanielRuf commented on #11198
And this js also why SemVer in the JS ecosystem is totally broken imho. The automatic updates of (deep) deps because the lockfiles only work in the root level.

[2019-02-08 06:09] DanielRuf commented on #11198
To be clear, `acorn` and the way npm resolves the deptree are the issue and cause.

https://github.com/webpack/webpack/issues/8656#issuecomment-456010969

I can reproduce this.

[2019-02-08 06:23] DanielRuf commented on #11198
To be exact, it us a npm issue.

https://npm.community/t/packages-with-peerdependencies-are-incorrectly-hoisted/4794/4

https://npm.community/t/release-npm-6-8-0-next-0/5058

Solution: install latest npm release.

[2019-02-08 06:23] DanielRuf commented on #11198
To be exact, it is a npm issue.

https://npm.community/t/packages-with-peerdependencies-are-incorrectly-hoisted/4794/4

https://npm.community/t/release-npm-6-8-0-next-0/5058

Solution: install latest npm release.

[2019-02-08 06:34] paulmelnikow commented on #11198
I'm not sure I agree with that assessment. This may manifest in npm and not yarn due to differences in the way resolution takes place, however 4.29.3 is a perfectly correct version to install when a package has declared a dependency on ^4.12.0. That is what the caret means. If Gatsby wants to lock a specific version it is welcome to do so, and in that case npm will honor it.

Webpack is a dependen

[2019-02-08 06:45] DanielRuf commented on #11198
The issue is still acorn. See Tobias community post and the linked comment.

[2019-02-08 07:44] souhailmerroun commented on #11559
I've taken into consideration what you said @dimitrisnl & @jonniebigodes. I've updated my [gatsby-config.js](https://github.com/idea-to-mvp-framework/documentation/blob/master/gatsby-config.js). It works fine for the development environment.

Since I'm using Docker to deploy on Heroku, I think the variables defined in Heroku Dashboard at the "Config Vars" section are not loaded or something simila

[2019-02-08 08:02] DanielRuf commented on #11198
The issue is was the hoisting in npm (different in Yarn) and that `acorn` could not be loaded properly due to this. See Tobias community post and the linked comment.

[2019-02-08 08:05] itrevex commented on #11628
This worked for me and can use it as a solution for now but I am sure something can be done to make my earlier option work but that's for better coders than myself

[2019-02-08 10:36] teavirdis commented on #11570
Thank you guys for answers! Such great support brings a lot of confidence in using your solution:)

[2019-02-08 10:36] #11570 closed

[2019-02-08 10:59] treb0r commented on #9039
Bump!

[2019-02-08 11:31] PatrickResponsive commented on #4123
I had this issue, what fixed it for me was taking all the images out of the folder, doing a git commit and putting them back with the correct .JPG or .jpg

Hope that helps someone

[2019-02-08 12:23] paulmelnikow commented on #11198
I feel like I need you to explain that better. I skimmed those threads but don’t see how any it applies here.

I don’t know what is causing the bug in Webpack; however if we agree Gatsby shouldn’t use 4.29.3, the caret dependency needs to be changed.

[2019-02-08 12:27] arcticicestudio opened #11645 "feat(gatsby-link): Improve handling of internal links with anchor"
Currently the `Link` component of the `gatsby-link` package will check if the given target URL is internal and will print a warning when in development environment/mode, but the used regex doesn't handle anchors correctly resulting in (multiple) warnings being printed on each page change.

To prevent this console logging noise the regex can be extended to include the `#` character to handle anchor

[2019-02-08 12:42] DSchau commented on #11628
@itrevex PRs are more than helpful if you could share where things were confusing!

Generally - this is less a Gatsby issue and more a modern build process/expectation enabled with the rise of Webpack. This works the same way as tools like create-react-app!

That being said--sorry for the confusion here, and glad we have it ironed out. Closing this out, but please feel free to continue discussion

[2019-02-08 12:42] #11628 closed

[2019-02-08 12:49] finppp commented on #9918
I also have a similar problem.
On initial load, the styled component 'receives' the prop, but does not apply the styling.
`isCookieAccepted: "true"` should apply `top: -200px`
If I manually set the prop to `false` and back to `true`, the styling is then applied

[2019-02-08 13:08] finppp commented on #9918
This problem can be fixed from disabling the 'gatsby-plugin-styled-components'

[2019-02-08 13:59] DanielRuf commented on #11198
It works with yarn, it is just an issue with npm, in combination with specific dependencies and the deptree calculation. See the PR of Tobias.

See https://github.com/npm/cli/pull/147/files

[2019-02-08 15:43] simonjoom opened #11649 "update cheerio 1.0.0-rc.2 to 0.22.0"
**Need to change cheerio 1.0.0-rc.2 to 0.22.0 in gatsby deps**

## Description
see:
https://github.com/cheeriojs/cheerio/commit/e2f8436170e56190beb0dbbd284065624ca4d329

### Steps to reproduce

When i use cheerio 1.0.0-rc.2 my gatsby not running correctly with rehype-react (who use hast parsing)

I found that update to the last version cheerio@0.22.0 fix my compilation

### Environment
last gatsby

[2019-02-08 15:55] paulmelnikow commented on #11198
Aiiiee gotcha. It's that peer dependencies bug in npm which is what's causing webpack 4.29 not to work correctly.

What we _can_ prevent is the installation of webpack 4.29. And I'm not sure there is an easy way of an end user locking the webpack version. npm doesn't provide a way to do it, so users would have to use something like the [third-party tool npm-force-resolutions](https://www.npmjs.com

[2019-02-08 16:18] dgutride opened #11650 "[gatsby-transformer-react-docgen] - TypeScript generated docs missing properties from interface"
## Summary
When generating documentation from a component written in typescript, it works much better since the 3.0.3 release, but props from the interface are missing and only props set as default props are referenced.  Is there an issue to track the ongoing work to update to the latest react-docgen?

In the example below, only className and src show up in the allComponentMetadata props object (a

[2019-02-08 17:27] #3131 closed

[2019-02-08 17:27] #6552 closed

[2019-02-08 17:27] #7505 closed

[2019-02-08 17:27] #8103 closed

[2019-02-08 17:27] #8386 closed

[2019-02-08 17:27] #8846 closed

[2019-02-08 17:27] #9016 closed

[2019-02-08 17:27] #9464 closed

[2019-02-08 17:27] #9677 closed

[2019-02-08 17:27] #9693 closed

[2019-02-08 17:27] #9702 closed

[2019-02-08 17:27] #9704 closed

[2019-02-08 17:27] #9717 closed

[2019-02-08 17:27] #9765 closed

[2019-02-08 17:27] #9615 closed

[2019-02-08 17:41] KyleAMathews commented on #11638
Yeah... this is a terrible error /cc @freiksenet

And yeah, fragments _are_ global — we use relay-compilier which does this — graphql doesn't have a good native pattern for exporting/importing fragments so this is what the Relay team decided on. It'd be nice yeah to not do this.

[2019-02-08 18:00] alexieyizhe commented on #11333
@calcsam was wondering if you had a chance to take a look at the PR?

[2019-02-08 18:02] #11547 closed

[2019-02-08 18:28] paulmelnikow commented on #11198
Now that 2.0.118 ships a band-aid, npm users should be okay, and obviously can’t use webpack 4.29.x regardless.

Am I right that yarn users can use `resolutions` to force gatsby to use a later, out-of-range version, if they want?

[2019-02-08 18:35] DSchau commented on #11198
@paulmelnikow correct - but really shouldn't be necessary and I'm not sure there's a particular necessary benefit in doing so.

We'll update the pinned dependency as soon as we are able to (following the webpack issue now), so it should be but a blip for `npm` users in particular.

Thanks for the fix!

_Now_ I think I can close this out :)

[2019-02-08 18:35] #11198 closed

[2019-02-08 18:38] DSchau commented on #11574
I can't really replicate this--am I missing something? I'm using Chrome (latest), are you on a different version? Did I not follow the reproduction steps correctly?

[Link to video](https://gfycat.com/ShockingHarshClumber)

[2019-02-08 19:23] tsvetlin commented on #11574
I had Chrome Version 72.0.3626.81 (Official Build) (64-bit), it was buggy there (no scrollbar, and content was out of the screen), what my screenshots indicate.

On the newest version of Chrome Version 72.0.3626.91 (Official Build) (64-bit) it seems to be working as expected.

But on Mozilla its still not working as designed. There is no scrollbar inside the Categories. My PR also fixes that.

Mor

[2019-02-08 19:27] DSchau commented on #11368
@zslabs seems like _we_ can confirm that, and I suspect your suspicion about strings is correct.

See #11654 for _why_ I think this. Working on fixing the underlying issue now!

[2019-02-08 19:29] paulmelnikow commented on #11198
Confirmed fixed with the 2.0.118 release!

[2019-02-08 19:38] jonniebigodes commented on #11604
@gluemonkey i've picked up on your issue. And below are the steps i've taken and the results achieved.

- Created a new Gatsby website using the default starter through `gatsby new test_quick_start`
- Updated `gatsby-browser.js` to the following to check if i could get it to trigger:

[code]
- Issued `gatsby develop` and waited to the process to complete.
- Opened edge (as i don't have access to i

[2019-02-08 19:38] zslabs commented on #11368
@DSchau Thank you very much for looking into this and appreciate that link as well!

[2019-02-08 19:58] tsvetlin commented on #11574
Maybe it was a browser issue and Firefox will release a new version and it will be fine.

[2019-02-08 20:06] dvonlehman commented on #11637
This is the same thing I have reported in https://github.com/gatsbyjs/gatsby/issues/11599. At least it's not just me.

[2019-02-08 20:21] sidharthachatterjee commented on #11637
Sorry you're seeing this @trkaplan

I can't seem to reproduce this locally. Can you try deleting the the `public` directory as well along with  `.cache`?

If you're able to consistently reproduce this on your project, can you link to a minimal reproduction?

[2019-02-08 20:23] sidharthachatterjee commented on #11645
@arcticicestudio This makes sense. Thank you for reporting this and opening a PR as well!

[2019-02-08 20:29] DSchau commented on #11368
Here's a reproduction:

[Repo](https://github.com/DSchau/gatsby-11368) | [Live site](https://sleepy-torvalds-d9c080.netlify.com/)

The posts should be sorted in descending order (newest first) but clearly that's not the case.

Upgrading to the latest `gatsby-transformer-remark` _does_ trigger this issue, but I'm unsure if this is something we should fix in core or whether we should just revert the

[2019-02-08 20:30] sidharthachatterjee commented on #11649
Thank you for opening this @simonjoom

`cheerio` isn't a gatsby dependency but looks like several gatsby  remark plugins use it. Can you post some more details of the issue and a minimal reproduction if possible?

I see that in https://github.com/cheeriojs/cheerio/commit/e2f8436170e56190beb0dbbd284065624ca4d329 that they've reverted `1.0.0` and are back to `0.22.0` but I'm not sure if there were b

[2019-02-08 20:47] sidharthachatterjee commented on #11622
Hello @zslabs

Since Gatsby builds to static assets and doesn't handle serving them, _serving the right content_ would need to be handled outside of gatsby.

You should be able to run multiple builds (one for each origin) and serve the right one from Express.

[2019-02-08 20:52] stefanprobst commented on #11368
@DSchau Thanks for the reproduction!
Observations:
* in type inference, we allow fields with a mix of Date objects and Date strings as a special case.
* sorting works correctly on a second `gatsby develop` run, when Dates have been serialized to strings when read from `.cache`.
* this should not be solved just for the markdown transformer, since we could have a mixed field somewhere else as well
*

[2019-02-08 21:10] stefanprobst commented on #11368
But the more correct solution is that we should manually call resolvers for querying not only for `filter` fields, but also for `sort`, `group` and `distinct` fields. This is actually the third point in the initial issue description. For Dates, they would get serialized because of [this](https://github.com/gatsbyjs/gatsby/blob/b79cd3a32aed9e8e8f8bae5e77e8dcabcdb4e6c9/packages/gatsby/src/schema/typ

[2019-02-08 21:19] jonniebigodes commented on #11637
@dvonlehman and @trkaplan just tried it on windows 10 and wls running ubuntu 18.04 and i could not replicate it on either as you can see bellow, this is a plain new gatsby site based on the default starter, nothing else attached to them:
Left side is windows 10 output, right side wsl output of `gatsby develop`, ports in the right side because the wsl took precedence.

![build_win_wsl](https://user

[2019-02-08 21:22] sidharthachatterjee commented on #11650
Just tried this out locally. It does seem that `gatsby-transformer-react-docgen` doesn't take props declared as interfaces into account.

[2019-02-08 21:25] jonniebigodes commented on #11559
@souhailmerroun based on the information i've provided in my previous comment, to get the variables working on a heroku docker deploy, you'll need to adjust heroku.yml to the [following](https://devcenter.heroku.com/articles/buildpack-builds-heroku-yml#setting-config-vars), otherwise it looks no matter what environment variables declared on the dashboard, the docker instance will never pick them u

[2019-02-08 21:32] sidharthachatterjee commented on #11650
On deeper inspection, it seems that react-docgen doesn't support TypeScript at the moment. The relevant issue is at https://github.com/reactjs/react-docgen/issues/325

[2019-02-08 21:52] sidharthachatterjee commented on #11571
Sorry you're seeing this @AaronBentley and thank you for the detailed issue

I can reproduce this locally but removing `gatsby-background-image` seems to solve the issue. Maybe opening an issue in https://github.com/timhagn/gatsby-background-image is a good idea?

I haven't dug deep, but on first inspection it appears that the plugin tries to access `styleSheets. cssRules` and there is some kind o

[2019-02-08 21:58] sidharthachatterjee commented on #11576
@CalebBarnes Looks similar to https://github.com/gatsbyjs/gatsby/issues/11638

Is your fragment being exported from a page or a component?

/cc @freiksenet

[2019-02-08 22:00] CalebBarnes commented on #11576
It's being exported from a component.

[2019-02-08 22:00] sidharthachatterjee commented on #11599
Sorry you're seeing this @dvonlehman

Can you please link to a minimal reproduction if possible?

[2019-02-08 22:06] sidharthachatterjee commented on #11602
Hey @kolya-ay

`graphiql-explorer` does indeed look very useful and we've discussed the possibility of adding it. I'm not sure about adding it to core but one could definitely create a plugin for this.

Would you be interested? 🙂

[2019-02-08 22:14] trkaplan commented on #11637
Thanks for your reply @dvonlehman but I'm not on windows, I'm on macOS.
@dvonlehman could you please run `npx gatsby info --clipboard` and add the output to your issue?

[2019-02-08 22:14] sidharthachatterjee commented on #11587
Thank you @laurenskling

I'm not sure about the mapping but it seems like a bug if it drops the key altogether.