[2019-06-19 07:54] altano commented on #13981
Ah, thanks for the clarification. I need inventory information which is only available on the admin API. Any chance you could re-open this task as it is about a bug that isn't fixed that people might still need to be fixed?

Thanks!

[2019-06-19 08:04] joeynimu commented on #14864
Alright, thanks guys for your input.

I ended up fixing this by implementing my own logic in the hook and using ContextAPI to keep my components in sync. I did it like below;

[code]

With the above code I also deleted the nulling code in my `gatsby-node.js` for I am no longer using the library. I hope anyone else with such a problem will get the gist of how to solve this.

I am closing this for n

[2019-06-19 08:04] #14864 closed

[2019-06-19 08:18] stfnsr commented on #11830
Ah sorry, i might have been unclear here:

This was referring to the situation after trying the config above, even when starting from a completely fresh project that has never been run with offline-first.

So, did not work.
I'd like to use this as an opportunity to dig deeper into serviceworkers, my suspicion right now is that it could have something to do with the routes being precached?

[2019-06-19 08:19] bjatwork opened #14901 "how omit dangerouslySetInnerHTML"
i have to use dangerouslySetInnerHTML for almost every field returned from graphql, there's a way to define which fields are automatically transform to omit using dangerouslySetInnerHTML in comontents

[2019-06-19 09:24] MitchellCash commented on #14875
@narration-sd what I meant was the following versions worked for me:

- `gatsby-plugin-sharp@2.1.7`
- `gatsby-plugin-sharp@reporter-npm`
- `gatsby-source-filesystem@2.0.41`
- `gatsby-source-filesystem@reporter-npm`

The following (the cause of this whole issue thread) did not work for me:

- `gatsby-plugin-sharp@2.1.7`
- `gatsby-source-filesystem@2.0.40`

If you are still having issues you might w

[2019-06-19 09:31] solokiran commented on #4131
Hi,
Any solution for the similar problem please. Occurred while following tutorial video of quick-start https://www.gatsbyjs.org/docs/quick-start/

npm run develop

success open and validate gatsby-configs - 0.010 s
error Error in "/home/batman/gatsby/my-default-starter/node_modules/gatsby-source-filesystem/gatsby-node.js":

  Error: Cannot find module 'gatsby-cli/lib/reporter'

  - loader.js:636

[2019-06-19 09:34] #14875 closed

[2019-06-19 09:41] 1zaak commented on #14880
I think I found the plugin, https://www.gatsbyjs.org/packages/gatsby-plugin-remote-images/.

[2019-06-19 09:41] #14880 closed

[2019-06-19 09:45] wardpeet commented on #14875
we just published a new version, i'll be bumping our starters in a few minutes.

[2019-06-19 09:59] ken-nah commented on #13918
I am also experiencing the same issue. Running on ubuntu 19.04

[2019-06-19 10:06] wardpeet commented on #13918
Mind sharing your environment by running `gatsby info --clipboard` in your project directory and paste the output here.

It would also be really helpful if you can create a reproduction or share your source code.

[2019-06-19 10:06] harshil1712 commented on #14894
I would like to work on this

[2019-06-19 10:38] sdevil7th commented on #11665
Same issue for me as well! A new change in jsx or scss module file would freeze the app for atleast 1minute.

[2019-06-19 11:03] wodenx opened #14903 "In Gatsby 2.9, filesystem data changes are lost on browser reload"
## Description

Since Gatsby 2.9, using gatsby-source-filesystem, when running gatsby develop, changes to file data are correctly propagated to the browser, but then disappear when the page is reloaded (except on the homepage).  This behavior is not reproducible in 2.8.8.  I have published a test case illustrating the problem at https://github.com/wodenx/gatsby-fs-reload-bug.

### Steps to reprodu

[2019-06-19 11:12] KyleAMathews commented on #14903
Just reproduced the bug — that's an odd one. Thanks for the reproduction! Lemme think about why this is happening.

[2019-06-19 11:41] ryanditjia opened #14905 "TypeScript sites break with gatsby@2.9.9"
## Description

Something changed between 2.9.8 and 2.9.9 that breaks Gatsby sites with TypeScript. Problem doesn’t seem to have to do with `gatsby-plugin-typescript`, but more to do with Gatsby looking for an `index.js`. But please take that observation with a grain of salt.

### Steps to reproduce

Clone this minimal repo: https://github.com/ryanditjia/gatsby2.9.9-issue.git

Run `npm start`

###

[2019-06-19 11:45] IngoValente commented on #14905
Same here, reverting back to 2.9.8 works without problems.

[2019-06-19 11:50] sidharthachatterjee commented on #14835
@fboechats Sure! Thank you for picking it up 🙌

[2019-06-19 11:53] sidharthachatterjee commented on #14834
@leonlafa

Yeah, all of them (console.log, console.warn, console.info and console.error) should call reporter.log(util.format(...args))

[2019-06-19 11:58] sidharthachatterjee commented on #14814
@luisFilipePT Sure! Thank you for picking it up 🙌

[2019-06-19 11:59] chrsep commented on #14905
Same here, this happens to me only on `gatsby develop`, not on `gatsby build`. I think this might have something to do with the introduction of the status bar a0353be34b53eec7263c236256bfa9ca164fa7cf? Crash seems to be coming from GatsbyReporter.

[2019-06-19 12:06] leonlafa commented on #14834
@sidharthachatterjee thanks, I'll start work on this tonight.

[2019-06-19 12:06] KyleAMathews commented on #14903
Identified the problem. In 2.9 we started normalizing pathnames in the client but didn't on the server so we're not updating the server query result cache correctly. I'll pr a fix a bit later.

[2019-06-19 12:10] iAdramelk commented on #14905
Same for me. Reverting to 2.9.8 fixed issue.

MacOS 10.14.5 (18F132), node 12.4.0.

[2019-06-19 12:11] wardpeet commented on #14901
could you rephrase this issue a little bit? If the graphql is returning html you sadly have to do the `dangerouslySetInnerHTML` manually.

You can create a html component for this

[code]

[2019-06-19 12:21] lannonbr commented on #14873
@mo-seph So the PR Jared mentioned has been merged and published as gatsby-source-filesystem 2.0.42. Could you try updating the dependency and see if this fixes the issue you are getting?

[2019-06-19 12:31] KyleAMathews commented on #14905
Hmm will look soon. I started a (non typescript) site and it worked correctly. Are the rest of you using typescript as well?

[2019-06-19 12:31] KyleAMathews commented on #14905
2.9.9 was the release with the status bar.

[2019-06-19 12:33] chrsep commented on #14905
Yes, i am on typescript as well.

[2019-06-19 12:35] TanyaTandon2019 opened #14907 "gatsby-starter-default gives error on gatsby develop"
Experiencing and error on running 'gatsby develop' and also 'npm run develop'.
### Steps to reproduce
1. Clone the repo from github
 gatsby new [name of project]

2. cd [name of project]

3. gatsby develop OR npm run develop

### Expected result

Site should be deployed on local host(localhost:8000)

### Actual result

error Error in "/Users/tanyatandon/Documents/netlifyCMS-test/test/node_modules/

[2019-06-19 12:42] iAdramelk commented on #14905
Typescript, yes.

[2019-06-19 12:44] lannonbr commented on #14907
So this may be related to issue https://github.com/gatsbyjs/gatsby/issues/14875

Try updating gatsby-source-filesystem to 2.0.42 and see if this issue has been fixed

[2019-06-19 12:48] TanyaTandon2019 commented on #14907
Changed "gatsby-source-filesystem": "^2.0.40", to "gatsby-source-filesystem": "^2.0.42",
Did 'npm install' and then 'gatsby develop'
Still same error.

[2019-06-19 12:49] wardpeet commented on #14905
@ryanditjia thanks for the repro. Currently testing it out with the following fix:
`npm install gatsby@process-develop`

[2019-06-19 12:55] n8tb1t opened #14909 "Braking change 2.9.9"
After an update from 2.9.8 to 2.9.9
the `gatsby develop` is broken.
![Untitled](https://user-images.githubusercontent.com/50831958/59767246-52f77700-92bb-11e9-9117-185d480e8759.png)
[code]

[2019-06-19 12:57] n8tb1t commented on #14909
And I'm not using `typescript`

[2019-06-19 12:58] n8tb1t commented on #14905
I'm having the same error, though, I'm not using `typescript`

[2019-06-19 12:58] lannonbr commented on #14907
So the publish of PR that fixed the issue I mentioned had other packages updated as well so I would say read through this commit and update any of them that you are using: https://github.com/gatsbyjs/gatsby/commit/8457e706ca380e6bb8d115817ae43e9d786dc389

[2019-06-19 13:01] n8tb1t commented on #14905
installing the `gatsby@process-develop` seems to fix the bug.

[2019-06-19 13:03] #14909 closed

[2019-06-19 13:06] bjatwork commented on #14901
ok thanks, it's hard to get used to use for everything components not function.

[2019-06-19 13:09] wardpeet commented on #14905
We forgot to add `import fetch from "node-fetch"` on the file where we were using fetch. `node-fetch` adds fetch to the global namespace so you should only import it once. While testing it on a repo where a plugin was also initiating node-fetch it gave no problem.

Projects without any plugins using node-fetch break.

[2019-06-19 13:10] wardpeet commented on #14905
@n8tb1t can you define ugly? 😛

![image](https://user-images.githubusercontent.com/1120926/59768302-6ba86280-92a4-11e9-8912-9bd8036ea07b.png)

[2019-06-19 13:12] TanyaTandon2019 commented on #14907
Gosh! Thanks
Updated
"gatsby": "^2.9.6", ==> "gatsby": "^2.9.8"
"gatsby-plugin-sharp": "^2.1.6" ==> "gatsby-plugin-sharp": "^2.1.8"
"gatsby-source-filesystem": "^2.0.40", ==>  "gatsby-source-filesystem": "^2.0.42",

Now 'gatsby develop' works.

I would request you to please update these packages in the gatsby-starter-default repository because i just cloned that and ran 'gatsby develop'.

[2019-06-19 13:14] wardpeet commented on #14907
Weird, I get the latest gatsby packages when running `gatsby new my-cool-starter`.

[code]

[2019-06-19 13:14] n8tb1t commented on #14905
Yes, exactly like this. The horizontal line takes too much space, and the project name breaks at the end.
I noticed it has some kind of prompt, what it can be used for?
:)

[2019-06-19 13:16] TanyaTandon2019 commented on #14907
Yup. Saw that a PR has been merged an hour ago and I cloned it 2 hours ago :-D
Thanks

[2019-06-19 13:18] lannonbr commented on #14907
Alright, since I believe this has been resolved, I'm closing the issue.

For those who have this similar issue and come upon this in the future, update your dependencies to at least the ones described in https://github.com/gatsbyjs/gatsby/commit/8457e706ca380e6bb8d115817ae43e9d786dc389.

The starters now have these fixes.

[2019-06-19 13:18] #14907 closed

[2019-06-19 13:21] wardpeet commented on #14873
Should be fixed.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby 💪

[2019-06-19 13:21] #14873 closed

[2019-06-19 13:22] wardpeet commented on #14901
Thanks so much for opening this issue! As stated, it seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby 💪

[2019-06-19 13:22] #14901 closed

[2019-06-19 13:23] sidharthachatterjee commented on #14905
Fixed and published in `gatsby-cli@2.6.13`

Thank you for opening this @ryanditjia and fixing this @wardpeet 🙌

[2019-06-19 13:24] PedroLamas opened #14911 "gatsby-cli 2.6.12 error: RangeError: Maximum call stack size exceeded"
## Description

After using `yarn upgrade` and then `yarn start`, I now get an error `RangeError: Maximum call stack size exceeded`

I've seen a related issue with React Helmet, from my tests doesn't seem to be related to this.

### Steps to reproduce

[code]

### Expected result

No errors!

### Actual result

[code]
### Environment

Running on Windows 10 latest version via WSL!

[code]

[2019-06-19 13:25] wardpeet commented on #14814
@luisFilipePT You should be able to add it to [babel-preset-gatsby/src/index.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/babel-preset-gatsby/src/index.js)

[2019-06-19 13:30] wardpeet commented on #11665
Could you try running the following:
`setx CHOKIDAR_USEPOLLING 1; npm run dev`?

[2019-06-19 13:38] #14903 closed

[2019-06-19 13:40] eyalroth opened #14913 "gatsby-cli 2.6.13 error on `gatsby new`: cwebp: error while loading shared libraries: libXi.so.6"
## Description
Upon `gatsby new` (global installation) I get the error:
[code]

The `gatsby new` process will complete eventually, but it takes far more time and eventually there are additional errors with this CLI version as described in #14911.  I'm not sure if it's only since version `2.6.13` or a bit sooner, but I update regularly so I suspect it's quite a recent bug.

Describe the issue that

[2019-06-19 13:40] eyalroth commented on #14911
Same here on WSL as well.

[2019-06-19 13:47] wardpeet commented on #14898
Jawza, you're running old gatsby dependencies
![image](https://user-images.githubusercontent.com/1120926/59770819-eecbb780-92a8-11e9-98fa-5c3f9d32dc6e.png)

You probably want to consider `yarn upgrade` or `npm update` depending on which package manager you like. Doing 2 builds and gatsby serve wouldn't work as `path-prefix` doesn't create any folders for you in public. The idea is that you deploy

[2019-06-19 13:49] wardpeet commented on #14911
should be fixed in version `gatsby-cli@2.6.13` & `gatsby@2.9.10`

[2019-06-19 13:50] bjatwork opened #14914 "few react/gatsby beginner questions"
1.
if everything works as it should, let's assume that we have a shop with 10k products.
very estimating how long "gatsby develop" and "gatsby build" should last for 10 k products and 100 categories.

2.
i'm using now gatsby-source-custom-api, my question if i provide graphql API instead, will this significantly affect the build speed?

3.
i have issue 6654 my question is this problem occour only

[2019-06-19 14:01] muescha commented on #14800
You mean the browserlist mentioned here: [Gatsbyjs Browser Support](https://www.gatsbyjs.org/docs/browser-support/)?

Can you give your browserlist config you added to fix the problem?

[2019-06-19 14:01] Kamsou opened #14915 "TypeError: Cannot read property 'data' of undefined"
**Please help, i don't know where is my error.. It's when i try to deploy my site gatsby with netlify**

3:58:01 PM: error Plugin gatsby-source-wordpress returned an error
3:58:01 PM:
3:58:01 PM:   TypeError: Cannot read property 'data' of undefined
3:58:01 PM:
3:58:01 PM:   - fetch.js:148
3:58:01 PM:     [repo]/[gatsby-source-wordpress]/fetch.js:148:23
3:58:01 PM:
3:58:01 PM:   - Generator.throw

[2019-06-19 14:06] eyalroth commented on #14790
@ertrzyiks I see now that it is a more specific case of `gatsby-transformer-remark`.

Clone the [gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog) repository, create a new plugin with the following `index.js`:
[code]

and add it to the `gatsby-transformer-remark` list of plugins in `gatsby-config.js`.

[2019-06-19 14:22] muescha commented on #14800
Maybe here is somewhere a problem between Mac and Windows:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/create-cli.js#L27-L60

While i just read the code in this file are 3 different versions used for the current path

`path.resolve('.')`
`process.cwd()`
`resolveCwd`

And the next guess is that something in the `DEFAULT_BROWSERSLIST` is not working on windows on the loca

[2019-06-19 14:22] bmccaw commented on #14676
Just to update: I decided to do a `git fetch --all
` and `git reset --hard origin/master` to get rid of any local changes that may be causing the error but I'm still getting the error.  I'm going to delete my local folder and do a `git clone` to see if that does the trick.

[2019-06-19 14:36] bmccaw commented on #14676
That did the trick. Not sure what the actual issue was but I'm guessing there was some sort of conflict on my local machine that was causing the issue.

[2019-06-19 14:36] #14676 closed

[2019-06-19 14:36] jamo commented on #14428
That's a great idea

[2019-06-19 14:36] #14428 closed

[2019-06-19 14:38] jamo opened #14916 "Look into first and last errors gatsbyjs users experience?"
As a follow-up to: #14428 we want to dig deeper into errors gatsbyjs users experience, in particular, what's the last error our users experience, and possibly also what's the first error(s)

[2019-06-19 14:41] zslabs commented on #10549
Seems to be working well now! Here's an example of a deeply tested yaml file working just fine (this is inside of a repeating field group as well):

`'DataYaml.bottomArticles.articles.tutorial': 'MarkdownRemark.frontmatter.title'`

[2019-06-19 14:41] #10549 closed

[2019-06-19 14:43] PedroLamas commented on #14911
Confirmed, it's working fine after another `yarn update`!

Thanks for the quick fix! 😄

[2019-06-19 15:01] luisFilipePT commented on #14814
@wardpeet thanks for the tip 👍

I started to check it out last night, just not sure yet you to test it, this is what I have tried (so far)

1 - Added the npm package in `packages/babel-preset-react`
2 - Added the config to `.babelrc` in the same folder (so maybe this will go in `index.js` 🤔 )
3 - Built everything
4 - Build the default project in `starters`
5 - Go to `public` and search for `propTy

[2019-06-19 15:12] thomascorthouts commented on #11524
I don't know whether it'll help more, but I had it on gatsbyjs.org/contributing a few minutes ago:

<img width="2012" alt="Screenshot 2019-06-19 at 17 04 17" src="https://user-images.githubusercontent.com/26603461/59777605-47a14d00-92b5-11e9-8d48-3109814b0900.png">

Was fixed after a reload, but seemed worth to put here @KyleAMathews

[2019-06-19 15:13] FLoppix opened #14918 "[gatsby preview contentful] rich content text field in contentful not fetching new content in preview"
## Description

I have set up the gatbsy preview with contentful. However if you have a rich text field in one of your content types the preview instance is not fetching the new content. The data change is recognized but I dont receive the full payload to render the new data. Instead of getting all the fields back, I am only receiving the ID of the rich content field that changed. Any chances that

[2019-06-19 15:38] m-allanson commented on #14636
Thanks @wardpeet and @DSchau, I think this is something we should try. Ignore my nonsense about dates :)

[2019-06-19 15:47] derit commented on #3607
same issue  on development env
here for reproduce
i'm using plugin **gatsby-plugin-sass**

create a file with name mystyles.scss
the code
import styles from './mystyles.scss'

console.log(styles)

result

`{ }`

case two
in mystyles.scss create a styles
[code]
the code

[code]
i think this a bug

 mystyles.scss is loaded as global styles, background color of button with class mybutton is red,

exp

[2019-06-19 15:47] KyleAMathews commented on #14636
I'm actually strongly against this.

We don't want long-running experiments. We don't want people relying on experiments in any way. We either finish it and get it in or we drop it. ENV variables & canary builds are nice because they're _hard_ to discover and _hard_ to use — which is excellent. We only want highly motivated people to test and use experimental features. They'll work closely with us

[2019-06-19 15:51] derit opened #14919 "gatsby-plugin-sass styles loaded as global css not as variable"
here for reproduce
i'm using plugin **gatsby-plugin-sass**

create a file with name mystyles.scss
the code
import styles from './mystyles.scss'

console.log(styles)

result

`{ }`

case two
in mystyles.scss create a styles
[code]
the code

[code]
i think this a bug

 mystyles.scss is loaded as global styles, background color of button with class mybutton is red,

expect no backgroud because styles

[2019-06-19 16:17] grantglidewell opened #14921 "Possible issue with Fragments containing Unions?"
## Description

An exported fragment containing a union throws errors on develop, however only in a component, not in a page component.

### Steps to reproduce

---pages/index.js
[code]

--- pages/anotherPage
[code]
no error

--- components/ComponentWhoFails/ComponentWhoFails.js
[code]
throws an error in the build process. the build process does however complete.

### Expected result

The query sh

[2019-06-19 16:28] thomascorthouts opened #14922 "IE11: Object not valid as React Child"
## Description

Since a few weeks, we get more and more errors from IE11 users, the error messages are `Objects are not valid as a React child (found: object with keys {$$typeof, type, key, ref, props, _owner})` (similar to #7003, so sorry if it should have been re-opened instead)

Few things I've found so far (trying to fix it):
- The error seems to be introduced starting from Gatsby `v2.8.0`
- T

[2019-06-19 16:44] #14462 closed

[2019-06-19 17:26] DSchau commented on #14231
In thinking more about this--our main reservation in a major release is primarily in (pre-maturely) releasing Gatsby v3.0.0 and not being able to group more meaningful breaking changes (e.g. webpack, API changes, etc.).

This is a fair reason. However, to make strides towards reducing even less churn, I propose the following:

1. Minor release of gatsby (2.10.0)
1. Major release of all _other_ pac

[2019-06-19 17:27] #13645 closed

[2019-06-19 17:31] KyleAMathews commented on #14231
I'd say no. Major releases are bad because very few update. We don't want to harm everyone on v8+ by opting them out of improvements. Also the logic is inconsistent. People on v6 are just as broken with major releases for plugins. If they really want to stay put, they can pin everything.

[2019-06-19 17:39] florinme commented on #6949
Hi all, I came across this issue from searching Google.

I'm working on a project using **WordPress + Gatsby** and this issue comes up when I delete an ACF flexible content field in WordPress. I believe this is a problematic and the responsible party is the one that creates/updates the GraphQL schema. I believe Gatsby is responsible for that?

This is a big deal because when developing back-end la

[2019-06-19 17:47] sevonefive commented on #13442
This worked for me also, just make sure you delete .cache and node_modules after install and re-run npm install.

[2019-06-19 17:50] lukasa1993 opened #14925 "window is not defined"
[code]

how i find which file it is?

[2019-06-19 18:20] sophyphreak opened #14927 "App works fine locally, deploys to Heroku, but doesn't load, has error "App boot timeout""
## Description

I'm using gatsby 2.0.76, deploying through heroku-cli. The app seems to deploy just fine, getting this message in the command line:
[code]
But then it doesn't load, and I get the heroku application error page:

[![!\[Heroku Application Error Page][1]][1] I get this error when I run `heroku logs --tail` in the command line:

[code]
### Steps to reproduce

1. Clone [my github repo][2

[2019-06-19 18:40] narration-sd commented on #14800
Hallo @muescha  Michael, quickly here

Yes -- in particular where it says 'By default, Gatsby emulates the following config:' etc,

This is what I am issue-ing, that it doesn't seem to do on Win10

Sure -- actually I'm changing over to the contemporary suggested config, much as in that article page.

What I was using that works always, but only if  I manually provide it, usually in the package.jso

[2019-06-19 18:50] mattoni opened #14930 "Production Build Fully Reloading On Page Change"
## Description

In my development build, everything works as expected, and navigating to different pages does not trigger a full navigation and full page reload. In production, this is not the case and every page change results in the browser doing a full navigation.

### Steps to reproduce

I honestly have no idea, this was working before but something in my latest build is causing this. Maybe a

[2019-06-19 19:14] Bradcomp commented on #12922
I just ran into this last night. I have used Gatsby for work before, and was going to use it to set up my blog. I was shocked when the notification about telemetry popped up, and promptly uninstalled and started to do a little research into the background of the change, which led me here.

As we know from many years of security vulnerabilities, the definition of 'anonymized, non-traceable data' [c

[2019-06-19 19:26] good3n commented on #12922
@Bradcomp You're notified upon installation, and you're also able to opt out. (please see https://www.gatsbyjs.org/docs/telemetry/)

[2019-06-19 19:26] ertrzyiks commented on #14790
@eyalroth Thanks for providing extra information. I reproduced the issue following your steps and got:

[code]

The stacktrace is missing indeed.

[2019-06-19 19:26] narration-sd commented on #14875
@MitchellCash  Thanks for the clarification, Mitchell. What you say is exactly what I arrived at.

[2019-06-19 19:28] Bradcomp commented on #12922
I know.

[2019-06-19 19:38] Travisg25 opened #14931 "Failed during 'building site': Build script returned non-zero exit code: 1 || Netlify"
Hi. I am attempting to deploy with Netlify. I started with the gatsby starter build. The build works within development but will not deploy.
First time deploying to Netlify and using Gatsby.

There was an issue posted a few weeks ago #14434 but their solution did not work along with the others that I tried.

Been traversing all the suggested fixes on other posts. But have not ran into one that wor

[2019-06-19 20:07] ertrzyiks commented on #14790
function exported in remark plugin is called here: https://github.com/gatsbyjs/gatsby/blob/4f72687ce9b2c9edcf1358c9ece3a5aad3d003f3/packages/gatsby-transformer-remark/src/extend-node-type.js#L242

but it becomes an instance of GraphqlError and is presented to console in a special way:
https://github.com/graphql/graphql-js/blob/v14.3.1/src/error/printError.js#L18-L40

The stack trace is completely

[2019-06-19 20:14] jlengstorf commented on #14895
@ChristopherBiscardi has a playlist on using Emotion with Gatsby! https://egghead.io/playlists/using-emotion-with-gatsby-c167ea3d

[2019-06-19 20:17] jlengstorf commented on #6211
@sarneeh I'm not sure, honestly. My guess would be that it _is_ happening, but so fast that it's not noticeable with a single small CSS file.

[2019-06-19 20:21] DSchau opened #14933 "[bug]: ☂️ umbrella issue for Drupal + Gatsby Preview issues"
## Description

In this umbrella issue, we'd like to provide a means for others to share any issues encountered regarding the work-in-progress functionality with Drupal + Gatsby Preview. The changes in the source plugin are being worked on in #14630, but it is most helpful to provide a unified forum to best track upon and prioritize any issues that arise.

## Template

Please use the following tem

[2019-06-19 20:44] muescha commented on #14800
How about if you change it in the `package.json` to the `DEFAULT_BROWSERS` values for gatsbyjs version 1 and also for the version !=1

[2019-06-19 20:48] davidbailey00 commented on #11524
I believe this could be an issue with the offline plugin configuration, since it might not be correctly checking for changes with page manifest files, and therefore keeping old ones about.

Going to try and look at this next week with @wardpeet since I've written a lot of the offline plugin - sadly I've been really busy recently with exams and planning to move house so haven't been able to check o

[2019-06-19 20:56] mattoni commented on #14930
I did a bunch more testing and found the culprit. The issue was happening only when I built the gatsby build into a container, which made me suspect a dependency issue. I upgraded gatsby to the latest locally (v2.9.11) and the issue occurred outside the container. Reverted back to 2.4.6 and poof, no issue.

Looks like there may be a bug in the new version?

[2019-06-19 21:05] narration-sd commented on #14800
Hmm, I think something's missed in communcation here. My problem is not if I use my own browserslist configuration -- this works, whether in `package.json` or `.browserslistrc`. The issue is that no _default_ browserslist configuration is present to allow `npm run develop` to run successfully in the project folder, after installing via `gatsby new projectname`.

I've just discovered something fasc

[2019-06-19 21:06] narration-sd commented on #14800
Here's a log of the full process, showing the fail, the insertion of config, the success, the removal of config, and the success continuing after this removal anyway...

[fresh-site.log](https://github.com/gatsbyjs/gatsby/files/3307890/fresh-site.log)

[2019-06-19 21:09] jackhair commented on #11524
@davidbailey00 Before you get too deep in debugging, we experience this with or without the offline plugin.

[2019-06-19 21:30] wilcoxmd commented on #11524
@davidbailey00 we also were having the issue without the offline plugin. It is in my node modules, but still commented out of my config file.

[2019-06-19 21:33] wardpeet commented on #6654
Have you tried setting `GATSBY_CONCURRENT_DOWNLOAD` to a lower number? By default it's set to 200.

Linux/mac:
`GATSBY_CONCURRENT_DOWNLOAD=5 gatsby build`

Windows:
`setx GATSBY_CONCURRENT_DOWNLOAD 5; gatsby build`

[2019-06-19 21:39] wardpeet commented on #14913
🤔 We have bumped sharp in the past but still it shouldn't break.

Seems like an issue with WSL rather than gatsby but have you tried googling `error while loading shared libraries: libXi.so.6:` ?

[2019-06-19 21:41] sebastienfi commented on #11280
@MitchellCash <3 the picture

[2019-06-19 21:42] gillkyle commented on #14258
Closing and continuing in #14890 for a more focused effort on moving docs rather than updating this workflow about adding components

[2019-06-19 21:42] #14258 closed

[2019-06-19 21:45] marcysutton commented on #14890
Here's a relevant comment from the feedback widget on gatsbyjs.org:

[2019-06-19 21:49] gillkyle commented on #14890
Thanks, this is actually something I noticed too and have updated the example from the referred guide already 👍

[2019-06-19 21:52] marcysutton commented on #14931
Hi there, do you get the same issues with `gatsby build`?

At first glance it looks like something with your path is set unexpectedly (like from a global install), as I see references to `/opt/build/rep` in the stack trace which looks like the wrong place to look for component files.

[2019-06-19 22:00] marcysutton opened #14935 "[docs] Improve messaging on "Add a 404 page""
## Summary

We got some feedback on the Add a 404 docs page, and the suggestions seem like they would help everyone. https://www.gatsbyjs.org/docs/add-404-page/

Current text: "When developing, Gatsby adds a default 404 page that overrides your custom 404 page. But you can still preview your 404 page by clicking “Preview custom 404 page” to verify that it’s working as expected."

Action items:
- [

[2019-06-19 22:01] jaredsilver commented on #11524
We are also experiencing this without the offline plugin installed.

[2019-06-19 22:06] marcysutton opened #14936 "[docs] improve "Adding search with Algolia" guide"
## Summary

Feedback from gatsbyjs.org shows this page could be improved with an explanation about where to get environment variables from Algolia: https://www.gatsbyjs.org/docs/adding-search-with-algolia/

Also, it jumps right into the _how_ without much of the _why_. What's the motivation to do this work?

Action items:
- [ ] Explain in plain language where to find the `GATSBY_ALGOLIA_APP_ID` an

[2019-06-19 22:13] donaldboulton commented on #14925
Most likely in you node modules

[2019-06-19 22:16] marcysutton opened #14937 "[docs] add doc on "Life and Times of a Gatsby Build""
## Summary

Through feedback provided on gatsbyjs.org, it has become clear that the stub article on Life and Times of a Gatsby Build is an important one that needs filling out to explain Gatsby concepts: https://www.gatsbyjs.org/docs/life-and-times-of-a-gatsby-build/

This page is a stub in the [Conceptual Guide](https://www.gatsbyjs.org/docs/conceptual-guide/) section, and would be a great opport

[2019-06-19 22:17] marcysutton opened #14938 "[docs] improve messaging on "Client Data Fetching""
## Summary

Feedback from gatsbyjs.org shows the doc on Client Data Fetching could be improved, particularly for beginners: https://www.gatsbyjs.org/docs/client-data-fetching/

This page assumes quite a bit of knowledge with terminology. Some improvements would be to link to the glossary for [hydration](https://www.gatsbyjs.org/docs/glossary/#hydration) and explain the concepts more fully.

The pa

[2019-06-19 22:24] Travisg25 commented on #14931
Hey! Gatsby develop works.

With ``` gatsby build ```  I do get the error.

[code]
So it does look like something was thrown. Whats the best way to fix this if it is an issue with my pathing. I apologize if this is super simple.

[2019-06-19 22:28] marcysutton commented on #14895
Nice! thanks, @jlengstorf !

[2019-06-19 22:31] marcysutton commented on #14894
Sounds good @harshil1712! The change will go in `docs/docs/recipes.md`. There is already a heading for Styling, so this recipe would go into that section.

[2019-06-19 22:49] marcysutton commented on #13804
As for this question, "Can we correct Algolia indexes for `gatsby deploy` netlify"? The best ways to do that are with on-page content. One recommendation would be to add the command `gatsby deploy` to the page somewhere. Alternatively, you could change the title of the page to "Deploy your Gatsby Site with Netlify Hosting" or something similar to get the important search terms in there.

[2019-06-19 22:50] marcysutton commented on #13804
Here are two more items from the feedback widget on gatsbyjs.org that might help with this workflow:

re: https://www.gatsbyjs.org/docs/sourcing-from-netlify-cms/

[2019-06-19 23:00] marcysutton commented on #14931
No worries @Travisg25! I've seen similar errors before actually, but it's a little tough to say without a reproduction. Here are some instructions for how to do that: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

[2019-06-19 23:02] marcysutton commented on #14925
Looks like a script is being imported that needs access to the browser DOM, which isn't available at build time. Here's a doc on how to work with client-side-only packages: https://www.gatsbyjs.org/docs/using-client-side-only-packages/

If you still have trouble, a reproducible test case would help: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

[2019-06-19 23:04] marcysutton commented on #14914
Hi there, I think Discord would be a good place to ask questions in this format! https://www.gatsbyjs.org/contributing/community/#discord

[2019-06-19 23:06] marcysutton commented on #14915
Hi there! Sorry to hear you're having trouble. It's a little tough to say what's happening without a reproducible test case. Here are some instructions on how to do that: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

[2019-06-20 00:30] marcysutton commented on #14598
I would recommend using Git for that!

[2019-06-20 01:00] eduarmreyes commented on #14938
Hi @marcysutton, I would very much like to help on this issue, let me know if I can. Plus, I would like to confirm if links to the glossary are sufficient to fix this one.

![image](https://user-images.githubusercontent.com/3196685/59810883-4849db80-92d5-11e9-81ad-367e8dfc4d55.png)

[2019-06-20 01:16] mattoni opened #14940 "Preserve scroll in sidebar on page change without layout plugin?"
## Summary

Is it possible to preserve the scrollbar in a nav menu between page changes, without setting up a layout plugin?

## Relevant information

I'm building a documentation site that has two primary layouts interchanged depending on what "kind" of docs you're looking at (regular vs api). Both of these menus can be long, and changing pages always jumps the sidebar up to the top, which is a b

[2019-06-20 01:42] marcysutton commented on #14938
Hi @eduarmreyes, thanks for your offer to help! The glossary link is one to-do item (I also opened https://github.com/gatsbyjs/gatsby/pull/14939/ to update some terminology on that page), but the bulk of this issue is around explaining concepts on the docs page itself. New learners don't always know when client-data fetching is appropriate, so a brief explanation of build-time vs. client run-time

[2019-06-20 02:00] marcysutton opened #14943 "[docs][recipes] Install a starter with the Gatsby CLI"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a more actionable recipe on installing a Gatsby starter that comes after the Styling recipes (the last of which is #14897). Here's the current starter recipe: https://www.gatsbyjs.org/docs/recipes/#using-a-starter

This text should be changed to show how to work with the CLI _inline_ as concisely as p

[2019-06-20 02:08] marcysutton opened #14944 "[docs][recipes] install a theme"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on installing a Gatsby theme that comes after the starter recipe (see #14943).

I've assigned this to you, @amberleyromo, as you're working on the theme docs, but I'll let you decide whether to reassign. I've intentionally included both "install a starter" and "install a theme" as

[2019-06-20 02:18] cluzier commented on #644
I am having this issue as well.

[2019-06-20 02:21] marcysutton opened #14946 "[docs][recipes] Sourcing Markdown pages from the filesystem"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on sourcing Markdown pages from the filesystem that comes after the starter and theme installation recipes captured in #14943 and #14944.

This recipe should show how to install `gatsby-source-filesystem` in `gatsby-config.js` to source Markdown _pages_ in a Gatsby site (as oppose

[2019-06-20 02:24] marcysutton opened #14947 "[docs][recipes] Sourcing: Add a list of Markdown posts"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on sourcing a list of Markdown posts from the filesystem.

This recipe should show how to install `gatsby-source-filesystem` in `gatsby-config.js` to source Markdown _posts_ in a Gatsby site. In contrast to #14946, this recipe should show how to use `gatsby-node.js` and a template

[2019-06-20 02:35] marcysutton opened #14948 "[docs][recipes] Sourcing from Wordpress"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on sourcing from Wordpress that comes after the recipes on [sourcing Markdown pages](https://github.com/gatsbyjs/gatsby/issues/14946) and [blog posts](https://github.com/gatsbyjs/gatsby/issues/14947). This is also related to the Wordpress workflow evaluation in #13876.

This recip

[2019-06-20 02:43] marcysutton opened #14949 "[docs][recipes] Sourcing from Contentful"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on sourcing from Contentful that comes after the recipes on [sourcing Markdown pages](https://github.com/gatsbyjs/gatsby/issues/14946) and [blog posts](https://github.com/gatsbyjs/gatsby/issues/14947) and [sourcing from Wordpress](https://github.com/gatsbyjs/gatsby/issues/14948).

[2019-06-20 02:46] marcysutton opened #14950 "[docs][recipes] Sourcing from Drupal"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on sourcing from Drupal that comes after the recipes on [sourcing Markdown pages](#14946) and [blog posts](https://github.com/gatsbyjs/gatsby/issues/14947), [sourcing from Wordpress](https://github.com/gatsbyjs/gatsby/issues/14948) and [sourcing from Contentful](https://github.com

[2019-06-20 03:14] leonardolouie commented on #309
Hello folks still getting the same problem i didn't use any window function in my project but still it's throwing the same error why i having this one.. ?

1:09:03 AM: Build ready to start
11:09:05 AM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
11:09:05 AM: build-image tag: v3.3.2
11:09:05 AM: buildbot version: 75cd99f62ada9e21edea53208e8baf0eab85a045
11:09:06 AM: Fetching cache

[2019-06-20 03:14] leonardolouie commented on #309
I am using netlify for my server side

[2019-06-20 03:17] gregorskii commented on #309
If you are certain you are not using window a package likely is.

You have to define an empty window in webpack.

It’s not super straight forward, but this will lead you in the right direction:

https://stackoverflow.com/questions/37656592/define-global-variable-with-webpack

[2019-06-20 04:15] marcysutton commented on #13083
There was a request on the gatsbyjs.org feedback widget that sounds related, this was reported on https://www.gatsbyjs.org/docs/gatsby-link/

@paschalidi @hassan3095 we could definitely still use your help!

[2019-06-20 04:40] lukasa1993 commented on #14925
none of that was the case it was somewhere in src my code but finding this is unbearable i just went thrue line by line this error must be more specific

[2019-06-20 04:54] marcysutton commented on #14099
Tagging @amberleyromo who is working on Themes docs, since our current recommendation for the theme authoring tutorial location is in that section. We can also link to "Building for Gatsby" content from the Additional Tutorials page (see #14847)

[2019-06-20 05:26] KyleAMathews commented on #11524
@davidbailey00 yeah we think the main fix is correctly handling some unusual error cases for ajax requests & adding retry logic https://github.com/gatsbyjs/gatsby/pull/14889

[2019-06-20 06:31] gentleShark commented on #2374
Hi @dotansimha - it was a case of user error. I was missing @graphql-codegen/typescript in my devDependencies. up and running now! thanks!

[2019-06-20 07:21] Kamsou commented on #14915
we say me : gatsby-source-wordpress returned an error
my config gatsby.config its not okay ?

[code]

[2019-06-20 07:59] altano opened #14952 "Error in gatsby-source-shopify"
## Description

I am getting the following error during `npm run develop`:

[code]

### Steps to reproduce

Create a Storefront API Access Token that doesn't have access to "Read content like articles, blogs, and comments" and try to run gatsby

### Expected result

Site builds with only the queries I provide and successfully builds.

### Actual result

Unknown query is running and erroring. No wh

[2019-06-20 08:13] freiksenet commented on #11278
Ping @pgegenfurtner

[2019-06-20 08:16] freiksenet commented on #11924
Fetching node in Gatsby is already made through a cache, there isn't really a need to do additional cache on top of that on GraphQL level. Do you have any use case where this is important @axhamre?

[2019-06-20 08:18] freiksenet commented on #11924
Ah right, this is about using common chunks on client side. Disregard my comment above.

[2019-06-20 08:20] Manuelandro commented on #8242
I got the same error but my page template is not inside a "pages" folder.

`const staticTemplate = path.resolve(`./src/templates/static.js`)
  allWordpressPage.edges.forEach(edge => {
    createPaginatedPages({
      edges: allWordpressPage.edges,
      createPage: createPage,
      pageTemplate: staticTemplate,
      pageLength: 8,
      pathPrefix: `/${edge.node.slug}/`,
      context: {

[2019-06-20 08:41] freiksenet commented on #14008
@harshalpatel91 Sorry, we won't support changing URLs in `src/pages`, the point of that API is to be simple and we feel it will unnecessary complicate things. We recommend that you use `createPages` api in cases where you need custom URLs.

I'm closing this issue, feel free to open it if you have further questions. :purple_heart: :muscle:

[2019-06-20 08:41] #14008 closed

[2019-06-20 08:49] harshalpatel91 commented on #14008
@freiksenet, no worries will consider createPages api.

[2019-06-20 08:49] freiksenet commented on #14766
I wouldn't change the parent/child model. I think it's clean that there is only one parent with node.

Instead, how I would solve this is to add a `SomethingTags` chlid. This child would be a container for tags for a particular node, created by a particular transformer plugin. Let's consider your example.

Post nodes will have `PostTags` child. Here is the type definition for it:

[code]

`Tag` wo

[2019-06-20 08:56] freiksenet commented on #14952
`gatsby-source-shopify` doesn't currently have any way to limit what it queries for, so your token should have rights to access everything that it's trying to fetch.

It's possible to add this as configuration to `gatsby-source-shopify`, it could be something like:

[code]

We'd love a PR with this feature, I wonder if you would be interested in doing it :)

Thank you for using Gatsby! :purple_hea

[2019-06-20 08:58] freiksenet commented on #14765
As a long term solution to this, `gatsby-source-medium` should define all types in `createTypes`.

[2019-06-20 09:11] freiksenet commented on #14877
Thank you for the report @thepoynt!

Would you like to make a PR to Gatsby with that fix? We would really appreciate this. :purple_heart: :muscle:

[2019-06-20 09:17] freiksenet commented on #14878
Hi @ZolderonGitHub !

Sorry to hear you're running into an issue. I've tried to reproduce it, but I can't. Could you send all the steps you take before running `gatsby develop` (so how you started the project, what did you install with). In addition, please include result of `gatsby info` in the project.

[2019-06-20 09:19] freiksenet commented on #14872
Sorry to hear you are having an issue! Could you try if upgrading Gatsby fixes this?

[2019-06-20 09:24] ivanshinkarenko opened #14953 "Images are broken in build version and console has errors like 'Missing resources for /'"
On http://localhost:8000/ everything works properly but after deploy build version all images just displays with blur effect and blur doesn't disappear at all
<img width="467" alt="blur" src="https://user-images.githubusercontent.com/43337798/59836260-d5cc1080-9353-11e9-9753-eee9d4e03b44.png">

Also console has these errors('Missing resources'):
<img width="295" alt="errors" src="https://user-imag

[2019-06-20 09:26] freiksenet commented on #14879
Thank you for the great reproduction! We'll take a look at it.

[2019-06-20 09:31] ConorLindsay94 opened #14954 "JS Bundle size increased significantly since upgrade to 2.9.4 (~25k page site)"
## Summary
We have recently upgraded Gatsby from v2.3.4 to v2.9.4. We have since noticed a dramatic increase in the app[content-hash].js file size, it has gone from ~650kb to 3.1mb. After close inspection it is due to a massive array containing objects of `matchPath` data:

[code]

Is there a reason why this data is now built to the bundle app.js file now? On the previous version we don't get anyt

[2019-06-20 11:18] freiksenet commented on #14882
Hello @herecydev!

In the [action documentation](https://www.gatsbyjs.org/docs/actions/#setWebpackConfig) it says:

```Merge additional configuration into the current webpack config.```

Therefore this is an expected behaviour and your workaround is indeed the way we recommend solving this issue.

I'm closing this as we won't be changing this behaviour. Feel free to open it if you have any more qu

[2019-06-20 11:18] #14882 closed

[2019-06-20 11:21] hogyster commented on #14872
Have upgraded to the latest gatsby and the warning still come up

[2019-06-20 11:22] hogyster commented on #14872
Have upgraded to the latest gatsby and the warning still come up :(

[2019-06-20 11:23] himynameistimli commented on #5329
Just as a data point, we previously added fix https://github.com/gatsbyjs/gatsby/issues/5329#issuecomment-484741119 but we were recently having problems with our 404 page on production with the latest version of Gatsby. Removing the `const browser = typeof window !== "undefined" && window;` section fixed the issue, and it appears we now don't have the same flashing problem anymore.

[2019-06-20 11:28] himynameistimli commented on #387
Just as a note we were having problems with (https://github.com/gatsbyjs/gatsby/issues/387#issuecomment-436672441) and the latest versions of gatsby where, for some reason, 404.html was added a folder, so we modified `glob.sync()` with `{ nodir: true }`.

Just in case anyone else has this issue:

[code]

[2019-06-20 11:29] #14914 closed

[2019-06-20 11:31] freiksenet commented on #14915
Hello @Kamsou!

Could you set  `verboseOutput` to `true` in your wordpress plugin config and send the results of the query. I suspect something is misconfigured there which might result in empty result from wordpress.

[2019-06-20 11:48] freiksenet commented on #14888
Hi @mfuller22!

I'm afraid I can't reproduce, I have identical results in both serve and develop. Could you try cleaning your public folder of the build artifacts? Also you could try upgrading your version of Gatsby.

Hope this helps!

[2019-06-20 11:56] luisFilipePT commented on #14814
kind of struggling here, this are my current changes:

I'm missing something 😕

![image](https://user-images.githubusercontent.com/9373787/59847400-47a75880-935a-11e9-854e-d7f87e4a06c6.png)

[2019-06-20 12:06] freiksenet commented on #14919
Hello @derrit!

Unfortunately I can't reproduce this issue. If you look at https://www.gatsbyjs.org/starters/colbyfayock/gatsby-starter-sass/, it seems to import styles globally when you do the import. I wonder if you can make a minimal reproduction with that issue?

Thank you! :purple_heart: :muscle:

[2019-06-20 12:08] freiksenet commented on #14921
It's not yet possible to use fragments with `useStaticQuery`. We are working on the fix for this, so that fragments can be used there, but there is no ETA for this. I recommend that you use regular page  queries if you want to use fragments.

I'm closing this issue, feel free to open it if you have any more question.

[2019-06-20 12:08] #14921 closed

[2019-06-20 12:12] freiksenet commented on #14925
@lukasa1993 Could you provide us with a reproduction or access to the code? This way we could help you with this.

[2019-06-20 12:13] lukasa1993 commented on #14925
i already fixed it, but this errors are way harder to track down then it needs to, if it would prince just line where this happens would be much easier

[2019-06-20 12:19] freiksenet commented on #14940
Pages are always unmounted when they change. You can use [`wrapPageElement`](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement) API to provide a component that renders your sidebar.

[2019-06-20 12:20] Kamsou commented on #14915
Hey @freiksenet . Thanks for response!
[code]

[2019-06-20 12:22] Kamsou commented on #14915
But a guy say me "you'll need a live WordPress site before you can deploy on Netlify". What does he mean by that? I just have an ovh subscription.

[2019-06-20 12:23] freiksenet commented on #14927
Looks like the Heroku buildpack that is used is not the Heroku static one. Have you checked our [guide to deploying on Heroku](https://www.gatsbyjs.org/docs/deploying-to-heroku/)?

[2019-06-20 12:25] kindavishal commented on #14693
I'd be up for that! How should I proceed?

[2019-06-20 12:37] eyalroth commented on #14913
@wardpeet I googled and tried installing `libxtst6`, but that wasn't enough. Seems like `sudo updatedb` suggested in the blog you linked did the job. Thanks!

[2019-06-20 12:37] #14913 closed

[2019-06-20 12:45] freiksenet commented on #14915
[code]

[2019-06-20 13:15] freiksenet commented on #14872
The issue is that somehow `crossorigin=""` is added to the links. This is a bug. We'll investigate it.

Thanks a lot for reporting this! :muscle: :purple_heart:

[2019-06-20 13:25] lstar19 commented on #14753
Aliases is one use case, but when I've done this in the past I've stored paths to the images in yaml(or markdown) and queried them together. The only hiccup is this assumes you're going to loop through your results for display OR you can consistently assume an index for each image you want.

[2019-06-20 13:35] lstar19 commented on #9374
I'd be happy to take this on. I'd probably pull a lot from this post if that works?
https://dev.to/laurieontech/rewriting-a-static-website-using-gatsby-and-graphql---part-3-4ho9

[2019-06-20 13:41] #14231 closed

[2019-06-20 13:46] darrenparkinson opened #14959 "Cannot use gatsby-starter-default - pngquant error"
## Description

When trying to run through the quick start and using the gatsby-starter-default, it fails with an error:

[code]

### Steps to reproduce

* Install gatsby-cli (`npm install -g gatsby-cli`)
* Run `gatsby new gatsby-site`

Essentially just follow the [quick start](https://www.gatsbyjs.org/docs/quick-start/) or the instructions on the [gatsby-starter-default page](https://github.com/g

[2019-06-20 13:49] watadarkstar commented on #14693
@gillkyle Had some time this morning and I fixed the first task #14960

[2019-06-20 14:20] leonlafa commented on #14834
Anyone about to quickly review my PR? @wardpeet @sidharthachatterjee

[2019-06-20 14:27] wardpeet commented on #14497
Feels like a sharp issue, could you reinstall sharp/libvps perhaps?

[2019-06-20 14:28] andrejpavlovic opened #14962 "Gatsby build fails on shared hosting where listing of folder content (e.g /home) is not allowed"
## Description

I've tried running `gatsby build` on my shared hosting, but the build failed. More specifically, it seems to fail due to the fact that one of the parent directories (in this case `/home`) does not permit listing of files. The `true-case-path` library, used by gatsby, throws an error because it is unable to `scandir` a component path's parent folder (in this case the component path

[2019-06-20 14:32] andrejpavlovic commented on #14962
The workaround for now for me was to directly edit `gatsby-site/node_modules/gatsby/dist/redux/actions/public.js` and replace the following code:

https://github.com/gatsbyjs/gatsby/blob/08d5c05d4e7127fcb7fb3d608199d70b80209d0e/packages/gatsby/src/redux/actions/public.js#L215

with

[code]

[2019-06-20 14:39] ramsunvtech opened #14964 "Gatsby Issue with Google Web cache"
## Description

Gatsby pointing to 404 page when Google Web cache tried to open.

### Steps to reproduce

http://webcache.googleusercontent.com/search?q=cache%3Ahttps%3A%2F%2Fwww.loanabull.com%2F&rlz=1C1CHBF_enIN768IN768&oq=cache%3Ahttps%3A%2F%2Fwww.loanabull.com%2F&aqs=chrome..69i57j69i58j69i60l3j69i59.2078j0j4&sourceid=chrome&ie=UTF-8

### Expected result

Gatsby should route to the right page.

[2019-06-20 14:52] gillkyle commented on #14693
@watadarkstar thanks for the contribution!

@kindavishal feel free to open up a PR for any of the above broken links, I suppose if you get to it first than we can get things improved faster!

The gist I linked shows a lot of the problems that were had, if you can follow that to track down what pages have the broken links that's where things would need to be corrected.

[2019-06-20 15:08] subpopular commented on #14953
Running into the same issue right now with latest Gatsby when deploying to Netlify.

[2019-06-20 15:44] m-allanson opened #14968 "Expand PR bot to identify PRs for the Learning team"
## Summary

Update the [high priority PRs action]( https://github.com/gatsbyjs/gatsby/tree/master/.github/actions/high-priority-prs) to identify documentation and blog post PRs that need reviewing, then post them to the #docs-issues channel in Slack.

### Motivation

Help team members identify which PRs need attention first.

[2019-06-20 15:49] m-allanson opened #14969 "Create live dashboard of high priority PRs"
## Summary

Create a (Gatsby 😄) site the displays a live version of the information generated in the [high priority PRs action]( https://github.com/gatsbyjs/gatsby/tree/master/.github/actions/high-priority-prs). The site would auto-rebuild whenever a PR changed.

### Motivation

The high-priority-prs action is very useful, but it's only right once a day. It'd be great to have this always up to dat

[2019-06-20 15:53] n8finch commented on #7484
@marcysutton I'd love to give this a go! It might take me a week or two to get familiar with the commands and such to get some basic documentation together, but then we could go from there.

It seems like I can just break up the commands into different pages, and show examples of how and why you would use each, as well as how this could be combined with the GraphQL explorer to be useful to folks.

[2019-06-20 15:59] FLoppix commented on #14918
Can be closed. Just saw there is already an issue on the contenful repo ! https://github.com/contentful/rich-text/issues/94

[2019-06-20 15:59] #14918 closed

[2019-06-20 16:00] DSchau commented on #14918
Thanks Felix! I'll create a reproduction to illustrate the severity of the issue upstream!

[2019-06-20 16:04] marcysutton commented on #7484
@n8finch sounds awesome! I think one page would be ideal, though. The work slated in #6896 would help to organize it–in the meantime we're using hard-coded tables of contents like on this doc: https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/gatsby-image.md#in-this-doc

[2019-06-20 16:07] kanyo33 commented on #1767
This might be because your project port number and live-server port number are different

An easier way around this (if you are using vs code) is to install the live server extension
After that right click the file you want to open and select 'Open with live server'
In my opinion, that's much easier than changing the default port number of every project
Hope that helps

[2019-06-20 16:23] marcysutton commented on #9374
That sounds great, @lstar19! If you can make it a standalone piece, that would be awesome. I would also recommend using the `useStaticQuery` hook if possible since it's a little bit simpler to read. Thanks again for offering to work on this!

[2019-06-20 16:25] n8finch commented on #7484
@marcysutton perfect, I'll get to work on this! If the issue is quiet for a bit, don't worry, I'm still working... 🤓

[2019-06-20 16:33] watadarkstar commented on #14693
Yup feel free to work on any tasks in this PR @kindavishal - @kkaramch is on vacation and I rarely have time to work on too much stuff outside of work.

[2019-06-20 16:33] master12 commented on #14797
So I also just ran into this issue. Please add the flag for this let me know if you need help in contributing this change.

[2019-06-20 16:39] sophyphreak commented on #14927
Hi @freiksenet, thanks for replying! :)

I have checked your guide to deploying on Heroku. I believe I followed it to the letter. I ran
[code]
in the command line. The project has an `app.json` file that looks like this:
[code]
It also has a scripts in `package.json` that looks like this:
[code]
And lastly, it has a `static.json` that looks like this:
[code]
I believe I had previously checked all

[2019-06-20 16:52] altano commented on #14952
Thanks for the reply but I’m curious, why is the plugin fetching anything? Isn’t it just a data access plugin that lets me make queries? Why does it need blog posts if I never make a query for blog posts?

[2019-06-20 17:09] ybv opened #14971 "Hot reloading kills gatsby process"
## Description

As a part of regular housekeeping for [this](https://github.com/WeOpenly/localgov.fyi) I've updated `gatsby` from `2.1.18` to `2.9.11` along with other libraries. Hot reloading seems to kill the `gatsby` process upon changes to the source.

### Steps to reproduce
[code]
change any file and save

### Expected result

Hot reloading happens without any "side effects"

### Actual resul

[2019-06-20 17:11] unyo opened #14972 "gatsby-image loading="eager" does not work, only critical={true} works"
## Description

I'm trying to enable eager loading on images using gatsby-image.

### Steps to reproduce

1. npm i --save gatsby-image@latest
2. Import image from gatsby graphql w/ webp
3. Place below the fold and turn off chrome cache, and scroll down to image:
[code]
### Expected result

Critical and loading="eager" behaves the same way

### Actual result

Critical loads the image on DOM entry,

[2019-06-20 17:27] #14103 closed

[2019-06-20 17:27] #14145 closed

[2019-06-20 17:55] amberleyromo opened #14975 "Update theme API docs (config as a function, composition, component shadowing) for themes GA"
Update the theme API docs for themes stable release.

[2019-06-20 18:06] ybv commented on #14971
May be related to 13918?

[2019-06-20 18:10] marcysutton commented on #14607
Sounds like there is no overlap with theme efforts. @gillkyle what do you think about adding this as part of the MDX workflow (#14258)?

[2019-06-20 18:16] marcysutton opened #14976 "[docs][recipes] Sourcing Content: directly importing data (json & yaml)"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be an actionable recipe on directly importing simple JSON and YAML data without GraphQL.

From @KyleAMathews in https://github.com/gatsbyjs/gatsby/issues/11130: "We should emphasize that hard-coded data can be directly imported and that graphql is only necessary when you want db-like functionality e.g. f

[2019-06-20 18:28] phacks commented on #14525
Will try and work on it this weekend!

[2019-06-20 18:28] marcysutton opened #14977 "[docs][recipes] Querying data in pages"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on querying for data in pages with GraphQL.

This recipe should show how to write a pageQuery and provide the returned data to a page _inline_ as concisely as possible. It should briefly describe when someone would need a page query vs other kinds of queries (even if obvious

[2019-06-20 18:31] alexanderwe opened #14978 "[gatsby-plugin-styled-components] Styled components delayed css loading in build"
## Description

Currently I am facing an issue with styled-components in a production Gatsby site. It is similar to the following issue: https://github.com/gatsbyjs/gatsby/issues/9902 and others. Unfortunately none of those issues contained information that helped me to fix the issue.

I am developing a Gatsby theme with styled-components which then is used by my personal blog site. Both projects

[2019-06-20 18:33] marcysutton opened #14979 "[docs][recipes] using StaticQuery in components"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on using StaticQuery for data in components with GraphQL, with a slight learning team preference for the `useStaticQuery` hook for readability. See also: #14977 for a page query recipe.

This recipe should show how to write a staticQuery and provide the returned data to a co

[2019-06-20 18:35] Travisg25 commented on #14931
@marcysutton Okay so in the hopes of getting to the bottom of this I started a new repo. https://github.com/Travisg25/tes_dup .

I did not add styles and the rest of the build. Only added the most basic of goals for the site

In development, it works as expected. The 3 blog posts are fetched from Contentful and shown on the blog page and each post is created when clicked on.

To replicate this bui

[2019-06-20 18:38] marcysutton opened #14980 "[docs][recipes] Querying data: filtering"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on filtering data with GraphQL. See also: #14977 and #14979 for previous query recipes.

Common use cases for filtering include filtering content by type (published or draft, post or page, categories, with regex, etc.). This recipe should show how to filter data with GraphQL

[2019-06-20 18:42] marcysutton opened #14981 "[docs][recipes] Querying data: sorting"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on sorting data with GraphQL. See also: #14977, #14979, and #14980 for previous query recipes.

Common use cases include sorting content by date or alphabetical titles, either ascending or descending order. This recipe should show how to sort data with GraphQL _inline_ as co

[2019-06-20 18:43] EdgarNigel commented on #3318
Hey all, is it possible to adjust the scroll-speed somehow?

[2019-06-20 18:45] marcysutton opened #14982 "[docs][recipes] Querying data: limiting"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on sorting data with GraphQL. See also: #14977, #14979, #14980, and #14981 for previous query recipes.

A common use case is to limit content by an arbitrary number of items. This recipe should show how to limit data with GraphQL _inline_ as concisely as possible with a code

[2019-06-20 18:47] marcysutton opened #14983 "[docs][recipes] Querying data: aliases"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on using aliases with GraphQL. See also: #14977, #14979, #14980, #14981, and #14982 for previous query recipes.

Aliases make it easier to include multiple queries of the same type, and to identify which query is which. This recipe should show how to add aliases to a GraphQL

[2019-06-20 18:50] marcysutton opened #14984 "[docs][recipes] Querying data: fragments"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on using aliases with GraphQL. See also: #14977, #14979, #14980, #14981, #14982, and #14983 for previous query recipes.

Fragments make it easier to reuse queries, but they can be hard to envision how you might use them. This recipe should show how to use fragments in a Grap

[2019-06-20 19:00] marcysutton commented on #14753
I think any and all solutions would be helpful for the time being!

[2019-06-20 19:01] phacks commented on #13473
This issue seems resolved as far as I can tell, can we close it?

[2019-06-20 19:02] marcysutton commented on #13473
Yep, thanks @phacks!

[2019-06-20 19:02] #13473 closed

[2019-06-20 19:10] marcysutton opened #14985 "[docs][recipes] Images: import into a component with webpack"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on importing images directly into components with webpack to show that you don't necessarily need to use GraphQL.

This recipe should show how to import an image _inline_ as concisely as possible with code snippets. The [images docs](https://www.gatsbyjs.org/docs/importing-a

[2019-06-20 19:12] marcysutton opened #14986 "[docs][recipes] Images: reference from static folder"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on referencing images in the static folder to show that you don't necessarily need to use GraphQL. This should come after the importing assets recipe captured in #14985.

This recipe should show how to use the static folder _inline_ as concisely as possible with code snippet

[2019-06-20 19:17] bushblade opened #14988 "How to size a gatsby-image by height?"
Using `<Img />` from gatsby-image with childImageSharp fluid; the image responsively sizes to fill the parent container width wise, but how is it possible to constrain the the responsive sizing by height? Like a normal image with height: 100%; will responsively maintain it's aspect ratio when constrained by a parent elements height, in a grid row for example. If you explicitly set the parent conta

[2019-06-20 19:18] marcysutton commented on #14542
This work is being broken up into individual issues, so I'm going to close this one. See referenced issues for more!

[2019-06-20 19:18] #14542 closed

[2019-06-20 19:23] marcysutton opened #14989 "[docs][recipes] Images: querying with GraphQL and gatsby-image"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on querying for images with gatsby-image. This should come after #14985 and #14986.

This recipe should briefly mention the benefits of Gatsby's data layer and show how to query for an image with GraphQL _inline_ as concisely as possible. It should include code snippets and

[2019-06-20 19:27] thomascorthouts commented on #14922
@wardpeet let me know if there is something I can do

[2019-06-20 19:27] marcysutton commented on #14988
Can you query by maxHeight and use `aspectRatio` to keep it from getting cut off?

aspectRatio example: https://dev.to/laurieontech/rewriting-a-static-website-using-gatsby-and-graphql---part-3-4ho9#mce_31

[2019-06-20 19:36] lannonbr commented on #14427
@prestonso @fk So the guidelines pages are now live on .org, but as Marcy commented it may be useful to have a landing page too. That said, is this good to close now?

[2019-06-20 19:56] janczizikow commented on #14245
I came across this same error today when trying to set color in `tracedSVG` argument.

[code]

Link to repo: https://github.com/janczizikow/contentful-svg-fragment

I'm not sure if using tracedSVG on `GatsbyContentfulFluid_tracedSVG` / GatsbyContentfulFixed_tracedSVG` fragments was previously supported, couldn't find anything in docs. Certainly, would be cool to be able to use it.

[2019-06-20 20:13] bushblade commented on #14988
@marcysutton thanks for the suggestion I'll take a look. using `imgStyle={{objectFit: 'contain'}}` is getting me close in combination with styling the outer wrapper of Img.

[2019-06-20 20:20] gillkyle commented on #14607
I think this would be a great addition for sure! (for context I'm currently working on issue #14890 that's sort of just a bigger effort to move the existing guides on the gatsby-mdx site to .org, maybe we reopen #14258 for this)

What do you think @marcysutton if this were added as an Advanced Tutorial? (since I imagine this'd probably be a little more step by step @spences10) The reference guides

[2019-06-20 20:52] aaronjensen opened #14990 "Regression: self-signed certificates no longer work"
## Description

I'm having a hard time sorting out what package version where causes the issue, but when upgrading from gatsby 2.9.8 to 2.9.9 I now get this error when starting gatsby with a self-signed certificate:

[code]

My guess is it has to do with the upgrade of `node-fetch` in `gatsby-cli`

### Steps to reproduce

Create and trust ssl certificates, then run gatsby using them. I've also tri

[2019-06-20 21:03] bushblade commented on #14988
Using the aspectRatio gives the same results with the cropping or overflow as just providing the fluid prop.
This is the closet I have so far
[code]
with the 4rem accounting for the margin and padding it then takes up half of the viewport with margin and padding.

[2019-06-20 21:45] jamo commented on #14916
Added charts for most frequent first and last errors: https://modeanalytics.com/gatsby/reports/db549027a0d8

[2019-06-20 21:48] marcysutton opened #14992 "[docs][recipes] transform Markdown with gatsby-transformer-remark"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on transforming Markdown with `gatsby-transformer-remark`. This should be slightly different than the Sourcing from Markdown recipes in #14946 and #14947 to show transforming of data, specifically.  From [tutorial part six](https://www.gatsbyjs.org/tutorial/part-six/#transfo

[2019-06-20 22:29] alexlafroscia opened #14993 "Client-Side Routing Broken in Latest Release"
## Description

Client-side routing does not seem to be supported any longer when serving the app in "production" (either through `gatsby serve` or some other static file serving). An unrecognized route redirects back to the route where the client-side router has been mounted.

### Steps to reproduce

You can start with this repo here:

https://github.com/alexlafroscia/___gatsby-dynamic-routing-bu

[2019-06-20 22:39] alexlafroscia commented on #14993
To clarify, this behavior was fine previously. I went through my app's dependencies and upgraded all of the `gatsby-plugin-*` from the official repository, plus `gatsby` itself, and we had this break on us.

[2019-06-20 23:11] wmlutz opened #14995 "AppSync custom link for gatsby-source-graphql"
## Description

Using gatsby-source-graphql's createLink feature to source from AppSync produces an error: `TypeError: Cannot read property 'store' of undefined`

### Steps to reproduce

**link: https://github.com/wmlutz/appsync-gatsby-err**
create AWS amplify project, add api:
https://aws-amplify.github.io/docs/js/start
https://aws-amplify.github.io/docs/js/api
create AWS IAM credentials with acc

[2019-06-20 23:58] multidis commented on #10556
Regarding v3: as of reactivesearch `3.0.0-rc.15` this approach seems to work except for sorting (not part of the @jonniebigodes demo). I did some edits to make it v3 compatible [here](https://github.com/multidis/reactivesearch_gatsby).

With sorting it [fails](https://github.com/appbaseio/reactivesearch/issues/1024)

Hoping somebody could help resolve that part.

[2019-06-21 00:16] corymortimerhcp commented on #14797
@master12 We actually decided to rework our search since that would eventually break as well. In regards to the flag, our contribution may possibly be a few weeks out since we are resolving our issue by limiting the amount of data we pass through context.

[2019-06-21 00:24] ThermalIDTechnologies commented on #14953
I am also experiencing this. As well as blank pages on page refreshes :(

[2019-06-21 00:46] jhoffmcd commented on #14398
Would love to see any example of how this could be done 😜

[2019-06-21 01:24] bcye opened #14998 "Copy button to copy code from the documentation"
## Summary

A lot of documentation sites have the ability to copy the shown code with a button. (Instead of needing to highlight the code and then press Ctrl+C)

### Basic example

N/A

### Motivation

* Make it easier to learn Gatsby
* Code has the correct formatting (when highlighting code and copying it, sometimes the code doesn't get formatted right by the text editor)

[2019-06-21 01:25] grantglidewell commented on #14921
interesting, I have working fragments in useStaticQuery. The data resolves for all of the queries as I mentioned, it just throws the error. It's only a query with a union that behaves this way.

Is it maybe Unions that arent supported in useStaticQuery (even though it works, just errors)?

[2019-06-21 01:38] lannonbr commented on #14998
This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/5030. Closing

[2019-06-21 01:38] #14998 closed

[2019-06-21 01:47] superhawk610 commented on #14872
@hogyster keep an eye on #14608, I'm working on a plugin that will add `<link preload>` to each route as needed for each font used on that page. It allows the `crossorigin` attribute to be configured per-route if needed!

[2019-06-21 01:48] lannonbr commented on #14744
Further as a notice, I discussed this on the Maintainers meeting this week and @DSchau brought up that this would be a stepping stone that may not be the best solution. With that, he brought up the idea for instead looking into possibly making an action to create PRs to remove sites that the validator finds are no longer Gatsby sites.

With this, I am going to close this issue.

[2019-06-21 01:48] #14744 closed

[2019-06-21 01:49] hogyster commented on #14872
Thanks! hope the warning goes away soon.
:)

[2019-06-21 01:51] hogyster commented on #14872
great! will look up to it, else, not only to the fonts maybe it will be good if it adds to all the links. The warning I get seems to be happening on other scripts too.

[2019-06-21 02:01] n8finch opened #14999 "Bug: Icon Link in Tutorial Part Eight Is Broken"
## Description

In the Tutorial, Part Eight, the link for the example icon link is broken. It seems that the icon link doesn't resolve after the build process.

### Steps to reproduce

In the [Using `gatsby-plugin-manifest`](https://www.gatsbyjs.org/tutorial/part-eight/#-using-gatsby-plugin-manifest) section of part eight of the tutorial, there's a link to an example icon.

### Expected result

Cl

[2019-06-21 02:51] daningamells opened #15001 "Firing Custom Events"
Hey all,

I'm having an issue firing custom events for Analytics in Gatsby, this is how I'm doing it:

  componentWillMount() {
    var event= new CustomEvent('event-view-start');
    var obj = document.dispatchEvent(event);
  }

Everything works great when I use Gatsby Develop but when I go to build my application I get this:

**WebpackError: ReferenceError: CustomEvent is not defined** and the b

[2019-06-21 04:03] lourd commented on #15001
Have you tried dispatching a normal `Event` as a workaround?

[2019-06-21 04:08] lourd opened #15006 "Support the ability to use local node_modules"
## Summary

As inspired by [Rich Harris's tweet](https://twitter.com/Rich_Harris/status/1139908960520220677), it should be possible to use a local `node_modules` directory in `src` for simpler importing without having to use a custom plugin.

### Basic example

See https://github.com/lourd/gatsby-local-node_modules-bug for a simple reproduction. The first error to pop up when running the example i

[2019-06-21 04:27] gvocale opened #15007 "SCSS modules in Gatsby Themes"
I have created a Gatsby Theme out of a project and I have imported it into a new blank Gatsby project. On gatsby develop I am running into the error
`WebpackError: ./node_modules/gatsby-theme-name/src/components/ComponentName/styles.module.scss`.

Do I need to change the import path of each scss, similar to how I needed to change paths into `require.resolve...`?

I am currently importing scss in e

[2019-06-21 05:32] Moocar commented on #14993
@alexlafroscia Thanks for the detailed report. I think this is the same issue that was reported in https://github.com/gatsbyjs/gatsby/issues/14742. I just did some analysis on it. I believe the core problem is that I removed [this line](https://github.com/gatsbyjs/gatsby/blob/v2.5.0-rc.1/packages/gatsby/cache-dir/production-app.js#L72) in my [pages-manifest](https://github.com/gatsbyjs/gatsby/pull

[2019-06-21 05:34] wardpeet commented on #14993
So you never check the match path property?

[2019-06-21 06:18] sidharthachatterjee opened #15011 "gatsby-plugin-create-client-paths: Sets matchPath incorrectly for client side path entry"
When setting prefixes in the config for `gatsby-plugin-create-client-paths`, it seems that a client side path other than `/*` still gets its matchPath set to `/*` incorrectly.

This means that if a project has two different client side path entry points, say `/*` and `/app/*`, even for the second case, pages will reach the entry point for `/*`

Reproduction is at https://github.com/sidharthachatte

[2019-06-21 06:26] Moocar commented on #14993
@wardpeet correct. Should be fixed in https://github.com/gatsbyjs/gatsby/pull/15010

[2019-06-21 06:29] alexlafroscia commented on #14993
Ah, sorry for the duplicate issue if it’s the same as #14742! I tried to find existing issues but didn’t go back that far.

[2019-06-21 06:31] Moocar commented on #14742
Hopefully addressed by https://github.com/gatsbyjs/gatsby/pull/15010

[2019-06-21 07:38] pieh commented on #14954
@ConorLindsay94 Previously it was in separate file (`pages-manifest`), but still was loaded eagerly.

This is not easy thing to solve. Can you provide some details on why you want to create 25k pages with `matchPath` instead of single one?

[2019-06-21 07:54] sidharthachatterjee commented on #14954
This one is tricky to fix because for loader to work, we still put all matchPath metadata into a single file.

We could potentially solve this by doing multiple checks. For instance if a user navigates to `/foo/bar/baz/5432`, we could check `/*`, `/foo/*`, `/foo/bar/*` and then `foo/bar/baz/*`

[2019-06-21 08:01] #15011 closed

[2019-06-21 08:03] wardpeet commented on #14922
It has been a busy week so thank you for your patience. I have it on my schedule for today.

[2019-06-21 08:08] thomascorthouts commented on #14922
No worries, I can imagine! It's more of a "happy to contribute, if it would help" 😄

[2019-06-21 08:25] fk commented on #14427
Thanks Benjamin for giving this a bump! <3 🙏

Shortly before merging #14360 we decided to "dark deploy" and not link it in the footer and navigation for now so that @lindaleebumblebee can give https://www.gatsbyjs.org/guidelines/logo/ a (hopefully pro-forma) look.

I'll get a PR up now that adds links to the individual pages (_Logo_, _Colors_, _Typography_, _Design Tokens_) from the https://www.ga

[2019-06-21 09:16] himynameistimli commented on #11453
@Undistraction / @alexkirsz did either of you have any additional insights / learnings from this issue? It seems to be happening to me as well, but I just disabled `gatsby-plugin-remove-trailing-slashes` and I removed my lambda@edge function, but I still have the same problem.

[2019-06-21 09:53] ConorLindsay94 commented on #14954
Before upgrading, we changed these pages to now include a tabbing system, so we needed to implement sub routes. These routes were to be client-only, but we also needed to ensure that the default route for the page was static, as it contains a lot of SEO related data.

We previously did have one `matchPath` defined afterwards in the `onCreatePage` step, but we ran into issues with full page re-rend

[2019-06-21 09:56] Undistraction commented on #11453
@himynameitimli tbh we've had so many problems with Gatsby in production that I've rather lost track of what solved which issue.

[2019-06-21 10:02] mxxk commented on #14528
@freiksenet I've made some progress on this fix! 😄 There's still work in terms of formalizing it in a PR, but I'll elaborate my findings here for now.

For this test Markdown document,

[code]

the current excerpt logic spits out some a single (obviously German 😜) word:

[code]

This test Markdown document is crafted to be comprehensive for all cases affected by this issue. Why? Because according

[2019-06-21 10:46] shannonbux opened #15019 "Error messages - contribute to improvements!"
# The Great Error Message Voyage
## Summary
Great error messages are part of helping users recognize and recover from errors. This project summarizes how to make a list of errors and then improve the errors.

## 1. How to make a complete list of errors
A) When you find an error that is not yet on the list below, create an issue using [this template](https://docs.google.com/document/d/14e_z79hk6NmD

[2019-06-21 11:59] eduarmreyes commented on #14938
Hello, @marcysutton I opened a new PR, let me know your thoughts.

https://github.com/gatsbyjs/gatsby/pull/15020/files

[2019-06-21 12:19] rnnyrk commented on #11185
Same issue over here. Anyone found a solution yet? Updating the data via the CMS, but the API is still showing the old data. Tried re-running `gatsby develop` and deleting the `.cache` folder, no success.

[2019-06-21 12:48] silviopaganini commented on #2881
+1 watching this

[2019-06-21 13:02] daningamells commented on #15001
You mean like this?

componentWillMount() {
var event= new Event('event-view-start');
var obj = document.dispatchEvent(event);
}

If so, I used this but got the same error on Gatsby Build.

[2019-06-21 13:08] robinmetral opened #15021 "Update graphiql to fix "failed to advance stream" bug"
## Summary

A long-time [graphiql bug](https://github.com/graphql/graphiql/issues/735) is causing the [`gatsby-graphiql-explorer`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-graphiql-explorer) to freeze for some users when accidentally typing option-space instead of ctrl-space.

This was fixed by graphiql in version 0.13.1 and published to npm in version 0.13.2.

Currently `gat

[2019-06-21 13:22] #14467 closed

[2019-06-21 13:45] maxcountryman opened #15023 "Is there a way to rename the filenames of Gatsby-generated JavaScript?"
In particular I'm interested in filtering specific words that occur as part of component names in some of the generated JavaScript files.

Is there a way to do this with Gatsby?

[2019-06-21 14:14] SatyaSudheer commented on #13442
Updated .gitignore file with :

# gatsby files
.cache/
public

it worked.

[2019-06-21 14:17] ves-fyayc opened #15024 "AWS S3, Cloudfront and custom filename + extension"
Our Gatsby rendered pages will be stored in S3.

S3 can be configured as “Web Hosting” and would do subdirectory root resolution (so request /product/SAPPHIRE would resolve in /product/SAPPHIRE/index.html.)

But when delivering the site via CloudFront  with a restricted S3 bucket this is not possible.

My question: Is it possible, using createPages or any other API, to generate a custom path + fil

[2019-06-21 14:37] diegodorado commented on #14525
Let me know if I can be of any help.

[2019-06-21 15:38] DinaShantina opened #15025 "'env-cmd' is not recognized as an internal or external command and can't start gatsby file"
## Description

I have a problem
'env-cmd' is not recognized as an internal or external command
My Gatsby site is not starting and it was working, before few minutes everything was ok.
Someone maybe know what can be the issue?

### Steps to reproduce
[https://github.com/DinaShantina/gatsby-shanti-hostel]

[2019-06-21 15:51] #13606 closed

[2019-06-21 16:00] leomercier commented on #3888
I've written a step by step guide on how to host a Gatsby site on Firebase, as well as deploying it automatically using Google Cloud Build.

[Automatically Deploying a Gatsby Site to Firebase with Google Cloud Build (CI/CD)](https://www.crowdform.co.uk/blog/deploying-a-gatsby-site-to-firebase-with-google-cloud-build)

[2019-06-21 16:19] wKovacs64 commented on #14815
This broke in #14359, for what it's worth.

[2019-06-21 16:20] xaviemirmon opened #15028 "[gatsby-source-drupal] menu link content isn't displaying parent as expect"
## Description

I am seeing a value for the  menu link content in the GraphiQL browser as null when I would expect it to be an ID

### Steps to reproduce

Browse your menu in GraphiQL when you have a menu on Drupal with nested menu items

<img width="1440" alt="Screenshot 2019-06-21 at 17 10 28" src="https://user-images.githubusercontent.com/5609840/59936502-11480700-9448-11e9-8eec-69951d4e9ad9.pn

[2019-06-21 16:57] nwthomas commented on #15019
I want to be involved with this as I'm just coming off writing custom thrown errors for [React-Conflux](https://github.com/dustinmyers/react-conflux).

As this is my first Gatsby issue, I'm willing to do whatever is needed. I'd love to take on some of the first errors posted here and get my feet wet.

[2019-06-21 17:17] harshil1712 commented on #14894
Okay thank you! I will send a PR in a few days

[2019-06-21 17:27] #13996 closed

[2019-06-21 17:27] #14077 closed

[2019-06-21 17:27] #14172 closed

[2019-06-21 17:27] #14160 closed

[2019-06-21 17:27] #14168 closed

[2019-06-21 17:49] harshil1712 commented on #14894
Hey, so this will go under Styling section, with the recipe name, there's no need to make a separate file. I hope I understood right

[2019-06-21 17:54] mmirus commented on #14877
Hey, @freiksenet! I can PR this to update to 4.2.2. Should the PR include updates to the blog, default, and hello-world starters included in the repo so their lock files use the patched version, or just `packages/gatsby`? 😃

[2019-06-21 18:05] vcarl opened #15032 "Gatsby page query execution during build appears to be impacted by network conditions"
## Description

The `run page queries` step of the Gatsby build appears to be significantly affected by poor network conditions. I've now encountered this in Netlify (Recently there were network issues with their cloud hosting) and to a lesser extent locally when my wifi was dropping packets.

The only source plugins I'm using are  `gatsby-source-filesystem`, `gatsby-source-contentful`, and `gatsb

[2019-06-21 18:26] BraveLilToaster opened #15033 "Styled Component props not updating in dom"
## Description

I have been experiencing some unexpected behavior when trying to use styled-components in a Gatsby build that only seems to happen in production builds. I have a hook that changes the value of props being passed to a styled component. When the page is loaded in the browser it appears as though the styles are correct in react dev tools, but the DOM does not reflect these changes.

I

[2019-06-21 18:40] tom-raley commented on #14935
I can take this on.

[2019-06-21 18:51] bjatwork commented on #10551
I have the same issue.

Header.js
class Header extends React.PureComponent {

    shouldComponentUpdate(newProp, prevProp) {
        return false;
    }
    render () {
        return (
            <div>{ Math.random( 0 , 100)  }</div>
        )
    }
}

Layout.js
class Layout extends React.PureComponent {

  render() {
    return (
      <div>
        <Header />
        {this.props.children}

[2019-06-21 19:20] bjatwork commented on #6654
@wardpeet
i tried, nothing has changed

[2019-06-21 19:59] jonniebigodes commented on #10556
@multidis like i said on my previous comment, i would advise going with version 3 until it's actually a stable package. I've been fiddling with version 3 and i'm having issues "left and right" (pardon the bad pun), getting it to work properly. They have made some breaking changes and they are not documented still.

[2019-06-21 20:35] joefiorini commented on #14199
I running into this issue as well. I'm using a gatsby theme and I have multiple sites. Each one needs to pass an object that is used for some central configuration, and that object can have functions (it's for mocking API endpoints client-side). In the theme's `gatsby-browser` I take the configuration object and pass it on to a provider component. At that point it's lost the functions :(. Note tha

[2019-06-21 21:06] jonniebigodes commented on #15001
@daningamells as Gatsby is built with node, some apis  are not available at build time.
Based on your information, here are the steps i took and my results.
- Created a new Gatsby website based on the hello world starter.
- Created a new page called `about.js` inside the the pages folder with the following content:
[code]
- Issued `gatsby build` to get a production build and i'm presented with the

[2019-06-21 21:29] guandjoy commented on #14480
I have another solution. Just retrieve data after a component was mounted.
[code]
[code]

[2019-06-21 22:04] ichouu commented on #11240
hi,

i was wondering
"we should wrap the webpack runtime with a try/catch to force a refresh in these sorts of cases."
which file in gatsbys .cache folder does this refer too?

I am currently having some issues with webpack runtime 404s.

and think this might be a solution? or if anyone knows what else could be going on.

![Screen Shot 2019-06-21 at 1 44 30 PM](https://user-images.githubuserconten

[2019-06-21 22:18] ZolderonGitHub commented on #14878
@freiksenet i just install the project on my computer with git and i try to use it with gatsby develop

[2019-06-21 22:19] iepur1lla commented on #4836
@abohannon , I don't know if this is still an issue for you, for me it is.

This works in dev for me, prod not tested.
[code]

[2019-06-21 22:32] interglobalmedia opened #15037 "if I have found vulnerabilities in a gatsby plugin or gatsby itself whom should I tell about it?"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-06-21 22:44] xavivars commented on #4337
As expected, a fragile solution like the one provided in https://github.com/gatsbyjs/gatsby/issues/4337#issuecomment-453244611 doesn't work anymore, due to a change in Gatsby 2.9.2, for several reasons:

The first one, solvable, is that this line
` window.page.path = window.location.pathname;`
needs to be replaced with
`window.pagePath = window.location.pathname;`
in order to avoid the change in t

[2019-06-21 22:50] xavivars commented on #14788
@sidharthachatterjee: path-prefix allows to host at something other than /, but it doesn't allow you to host at something other than / while, at the same time, _serving_ at a different URL where it's in the filesystem, because first thing gatsby app does is a "canonical check":

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/production-app.js#L69

in #4337 there was a pro

[2019-06-21 23:28] DinaShantina opened #15038 "accessToken: undefined - "accessToken" is required"
## Description

accessToken: undefined - "accessToken" is required

### Steps to reproduce

Since today all the plugins seems to make me problem, i just don't understand why is this happening first project of mine in Gatsby and i have experienced all the problems till now...
this time the error is accessToken: undefined - "accessToken" is required
i uninstalled gatsby-source-contentful and install

[2019-06-21 23:40] gillkyle commented on #13475
I've been working on some updates to the `/features` page and was thinking this would be really helpful for what we're adding. Any update on this @lannonbr? I feel like this'll help a lot!

[2019-06-22 01:25] jonniebigodes commented on #15038
@DinaShantina sorry for the issues you're experiencing.
I've added the same dependencies that you supplied and copied over the content of `gatsby-config.js`, you have provided it looks like you have some configuration errors.

Your `gatsby-config.js` should look like:
[code]

[2019-06-22 01:33] lvidal1 commented on #6291
I have the same issue. Running good on my local machine but getting the `1393 Segmentation fault (core dumped) gatsby build` message on Netlify.
Any update on this?

[2019-06-22 01:52] BrunoQuaresma commented on #12967
I'm using this config:
[code]
And it is not working for me. No data is displayed in GA.

[2019-06-22 01:59] florinme commented on #11179
Just chiming in. Since @TylerBarnes's plugin doesn't support WYSIWYG fields coming from ACF, I don't have a solution for this other than adding the following as the sourceUrl. It might be worth adding to the documentation that this field accepts RegEx, which is great.

`myWPdomain\.com(?!.*\/wp-content\/uploads.*)`

[2019-06-22 02:14] jonniebigodes commented on #14976
@marcysutton sorry for the radio silence. But if you don't mind as most of the work is already done for this workflow in #12634 , more specifically in the file `sourcing-content-from-json-or-yaml.md`. Probably the only thing needed is to make some adjustments in the example and wording and this will good to be merged.

Feel free to provide feedback

[2019-06-22 05:11] aikodeio opened #15041 "Links with slow loading using version 2.10"
## Description

I am experiencing a strange loading process with my website in mobile browsers since the Gatsby update.

Using an excellent Internet connection, every time I browse the site, mobile browsers (chrome, firefox) show me a progress bar in loading the website ("loading" or "nprogress" style).
But only with this site created with version 2.10 of Gatsby.

I have another site with the vers

[2019-06-22 07:10] 97thjingba opened #15042 "Using the #title in the MD file does not seem to work."
![image](https://user-images.githubusercontent.com/39749571/59960773-c5f12f80-94ff-11e9-8aa5-48cb01f57b8b.png)
![image](https://user-images.githubusercontent.com/39749571/59960776-d1dcf180-94ff-11e9-9193-d3c246d8d7f6.png)

![image](https://user-images.githubusercontent.com/39749571/59960781-e1f4d100-94ff-11e9-80fe-7e3bbcd0a0ac.png)

[2019-06-22 07:29] Helloiain commented on #11040
@mwood23 wow I never would have thought about that. Thanks that fixed it for me.

[2019-06-22 07:48] alexanderwe commented on #14978
**Small update:** It seems that only components are affected which are not "pages". For example using styled components inside a `layout.js` causing the styles to be loaded delayed. But using styled-components inside `./src/pages/index.js` everything is working fine

[2019-06-22 08:58] rayriffy opened #15043 "Gatsby development cannot issue a proper certificate"
## Description

`gatsby develop --https` is failed to serve proper SSL certificate, resulting in binary termination.

![Term](https://cdn.discordapp.com/attachments/577046038716874762/591913268898037785/Screen_Shot_2019-06-22_at_15.51.37.png)

### Steps to reproduce

Pull a `author/rayriffy` branch of [rayriffy/rayriffy-blog](https://github.com/rayriffy/rayriffy-blog) and then start development se

[2019-06-22 09:32] sasivarnakumar commented on #9964
I was following the gatsby tutorial part 9. I also had the same issue @Dogtiti reported.

Like jonniebigodes advised, I reviewed the `gatsby-node.js` file

In my case, I had a `console.log()` statement. I removed the console log statement and tried to build and serve. Was successful.

[2019-06-22 09:49] matthieuauger opened #15044 "No tests found, exiting with code 1 when running `yarn test`"
## Description

When I run `yarn test` inside Gatsby repository and after having bootstrapped the project, I see the "No tests found, exiting with code 1" issue.

![image](https://user-images.githubusercontent.com/1172099/59962287-992f1f00-94e3-11e9-8697-eee8d2a56a4b.png)

### Steps to reproduce

- create a folder www
- clone Gatsby inside it
- install & bootstrap Gatsby
- run `yarn test`

### Exp

[2019-06-22 09:52] matthieuauger commented on #15044
After investigation, this is linked to the `testPathIgnorePatterns`option of Jest which is excluding full path of the files, so while my projects are in a www/ folder, they are all ignored

https://github.com/facebook/jest/issues/1047

I'm submitting a fix for this, there is a documentation about this on [Jest doc](https://jestjs.io/docs/en/configuration#testpathignorepatterns-array-string)

[2019-06-22 11:27] matthieuauger commented on #14922
Hello, the "promise" error seen in development mode is also referenced here : https://github.com/gatsbyjs/gatsby/issues/14502

[2019-06-22 12:07] DinaShantina commented on #15038
Hello and thank you for writing me, but i still get this error
error Problems with gatsby-source-contentful plugin options:
spaceId: "*********n4o"
accessToken: undefined - "accessToken" is required :(

[2019-06-22 12:53] ssijak commented on #14126
For me the error is in this line :

`const trueComponentPath = slash(truePath(page.component));`

In the `gatsby/dist/redux/actions/public.js`

truePath returns undefined for my path '/Users/ssijak/work/hocudabudem.fit/src/pages/plaćanje-online.js', but it works with some other non ascii letters in the url like 'online-vođenje.js'
Also, I have upgraded all my dependencies today, and this was worki

[2019-06-22 13:04] MassivDash commented on #15007
You need to have sass and css modules plugins installed on your gatsby project.

According to official docs, you should import your files:
import containerStyles from "./container.module.css"

<div className={containerStyles.container}></div>

[2019-06-22 13:07] #15044 closed

[2019-06-22 13:17] stevanpopo commented on #13092
Just the solution I was after. Thanks @jamessimone.

[2019-06-22 13:42] phacks commented on #14525
Sooo, I dug around a bit, created a repro repo, managed to get some insights with the Chrome Dev Tools, however it appears my knowledge of the inner workings of Gatsby isn’t deep enough to know where to start 😅

What I did:

- Created a repro repository following @diegodorado’s repro: https://github.com/phacks/gatsby-memory-leak-repro. Bumped the number of `<a>`s to 10 so that it’s easier to see t

[2019-06-22 13:47] luisFilipePT commented on #14693
Hi guys, can I give a ✋ ?

"https://www.gatsbyjs.org/docs/gatsby-in-the-enterprise/ (HTTP_404) - (this appears to be broken in the sidebar of all docs pages because of a createRedirect in /src/www/gatsby-node.js that is unnecessary, removing it seems like it would be enough to fix all of these issues)" - This one I cannot reproduce, maybe its already fixed?

"https://www.gatsbyjs.org/contributing/

[2019-06-22 14:36] luisFilipePT commented on #14693
Just to get my 🐾 wet 😄 opened a PR to fix this one:

 https://www.gatsbyjs.org/plugins/gatsby-transformer-remark (HTTP_404)

Hope you don't mind 😊

Thanks

[2019-06-22 15:01] seichodev commented on #3446
I still have this issue, big problem. 3 different components are all borrowing from one another. Website looks ridiculous.

[2019-06-22 15:30] jamessimone commented on #13092
@stevanpopo no problem!

[2019-06-22 15:37] kindavishal commented on #14693
Thanks @gillkyle and @watadarkstar. I am setting up my dev environment now and will try to find my way through from your previous work. I'll comment here if I get lost or stuck somewhere!

[2019-06-22 15:44] gvocale commented on #15007
Seems that Gatsby works with CSS Modules by default, I didn't have to install a plugin for it in my Gatsby site.
My theme includes in its dependencies:
[code]
I have tried to add the same dependencies manually in the gatsby site that is consuming that theme, but now luck. I still get `WebpackError: ./node_modules/gatsby-theme-memoriestoriche/src/components/CustomHits/styles.module.scss`

[2019-06-22 15:45] #14040 closed

[2019-06-22 15:47] gvocale commented on #15007
I have also tried cloning these gatsby theme examples https://github.com/ChristopherBiscardi/gatsby-theme-examples to see how they handle CSS, but none of them uses css files, or sass or css modules. They all seem to use inlined css.

[2019-06-22 15:59] ekremkaraca commented on #8637
I had similar issue but the link @rahilwazir points is no longer accessible. It's 404. Can you refresh the link or explain the issue with solutions?

[2019-06-22 16:06] wdevon99 commented on #12095
@universse Did you find a solution to your problem, i am trying to do the exact thing!

[2019-06-22 17:27] #13977 closed

[2019-06-22 17:27] #14206 closed

[2019-06-22 17:27] #14212 closed

[2019-06-22 17:27] #14214 closed

[2019-06-22 17:39] rahilwazir commented on #8637
Hi @ekremkaraca, I can't recall but ofcourse the issue which needs to reported WAS on the referenced repo https://github.com/gatsbyjs/gatsby-starter-default

Seems like the issues are disabled.

[2019-06-22 18:02] rchrdnsh opened #15049 "How might I get this component to work in a gatsby site?"
I'm trying to get this component to work in my gatsby app:

https://github.com/mvasin/react-div-100vh

...but I'm not sure how to implement it so that it will actually work. I tried importing it into my `layout.js` component, but it did not do the job it's supposed to do.

I'm wondering if I need to wrap my app with it inside the `gatsby-browser.js` file, and if so, how would I go about doing that

[2019-06-22 18:50] rchrdnsh commented on #15049
ok, I tried that and I just got a white screen and no error messages that I could make any sense of...

[2019-06-22 19:05] mongkuen commented on #9918
@eriktiekstra This is something that boggled me for half a day. Props work fine in dev, but will fail after building.

Not sure if it's precisely what's going on with you, but I found the way I write my ternaries/short circuits screwed with how props were getting rendered.

Use strict equality comparisons. I suspect it's the way things get ran/minified in production

Say a button has a prop of bei

[2019-06-22 21:34] nlicitra commented on #2796
For anyone that may still be having issues, don't forget to try removing any lock files (`package-lock.json` or  `yarn.lock`) and doing a fresh install with the most up to date version of gatsby. I spent a good amount of time trying to figure out why I was still getting this error even after updating gatsby and it turned out to be a stale lock file.

[2019-06-23 02:45] abv commented on #14680
I'm running into this too. It seems like when the graphql compiles, it forces the where value to string, instead of JSON, or something like that.

[2019-06-23 11:07] daningamells commented on #15001
Hey Jonnie,

That worked perfectly!!!!

Thank you so much for taking the time to figure this out (I was one step away from banging head off the wall).

Dan

[2019-06-23 11:07] #15001 closed

[2019-06-23 14:44] lannonbr commented on #13475
So I actually am going to unassign myself off this issue as I haven't had enough time to work on this issue, but I do still think it will be useful when someone implements this.

[2019-06-23 15:44] robinmetral commented on #15049
I took a look at [`mvasin/react-div-100vh`](https://github.com/mvasin/react-div-100vh) and it looks like it expects `window` to be defined ([check the `getWindowHeight` function](https://github.com/mvasin/react-div-100vh/blob/b764b11408a78e6ba2ef76c4efea03a0bb7ad26d/src/lib/getWindowHeight.js#L2-L4)).

Gatsby is rendered server-side, and when it builds, `window` is undefined. This would cause your

[2019-06-23 16:39] robinmetral commented on #15042
Hi @97thjingba, if you're referring to [this page](https://elated-lewin-51cf0d.netlify.com/blog4/blog-4/), it looks like the Markdown is correctly parsed and renders an `h1`:

| Screenshot from Firefox devtools |
| --- |
| ![screenshot](https://user-images.githubusercontent.com/35560568/59979080-302ed080-95e3-11e9-9e13-ac9f9116a70a.png) |

Your problem is caused by the Bulma stylesheet you're impo

[2019-06-23 16:46] robinmetral commented on #15038
@DinaShantina this might sound like a stupid question, but did you make sure your Contentful credentials are in your [environment variables](https://www.gatsbyjs.org/docs/environment-variables/#defining-environment-variables)?

Using the config @jonniebigodes provided, before running `gatsby develop`, you need to have a `.env.development` file at the root of your project that includes:

[code]

[2019-06-23 17:22] robinmetral commented on #14890
Quick aside: it took me a while to understand there were two ways of doing custom components, MDX and [Rehype](https://using-remark.gatsbyjs.org/custom-components/). Since we're trying to encourage MDX, shouldn't we recommend it over Rehype in [gatsby-example-using-remark](https://using-remark.gatsbyjs.org/)?

[2019-06-23 17:32] robinmetral commented on #10614
I believe that Markdown parsing inside [Rehype custom components](https://using-remark.gatsbyjs.org/custom-components/) does works. It's just inconsistent.

For example, in my case, this renders the Markdown as plain text:

[code]

While this renderd the image as expected:

[code]

The Gatsby community seems to be moving towards using [MDX](https://www.gatsbyjs.org/docs/mdx/) over [Rehype](https:/

[2019-06-23 17:45] robinmetral opened #15057 "Custom markdown components with Rehype are wrapped in paragraphs"
_Note: I'm aware that the current [recommended way](https://www.gatsbyjs.org/docs/mdx/) of adding custom components in Markdown is MDX, instead of the Rehype plugin. Therefore I'm not sure whether this should be fixed or not._

## Description

Custom components in Markdown, created following [this guide](https://using-remark.gatsbyjs.org/custom-components/), are nested in a paragraph element when

[2019-06-23 18:28] lannonbr commented on #14477
@rchrdnsh Any update on this issue. Have you figured out how to do this?

[2019-06-23 20:04] SecondeJK commented on #13442
Linux Mint 18 on an older HP Pavillion machine won't compile out of the box when running gatsby develop. Deleted the astronaut stock image, compiles.

[2019-06-23 20:09] i-bsd commented on #13442
Drop `gatsby-plugin-sharp` back to version 2.0.7 and see if it compiles.

[2019-06-23 20:14] jonniebigodes commented on #15038
@DinaShantina i think this is related to your other issue. After my last comment i've installed `env-cmd` as a  dependency and created a new script on my package.json file to check if  might be a problem with this package. My `package.json` now looks like the following:

[code]
Issued `yarn develop_env_cmd` and it ran to completion, no errors, i even logged it in `gatsby-config.js` and the variabl

[2019-06-23 20:23] SecondeJK commented on #13442
@i-bsd Magic - rolling back sharp to 2.0.7 results in completed compile. Sounds like bug has been introduced then?

[2019-06-23 20:25] i-bsd commented on #13442
Seems to be. I still have not received an answer on this. Been asking about it for months now. I thought it was a FreeBSD-specific problem but since you're using Linux Mint, now I'm convinced it's not OS-related.

Would love to hear from devs on this if there's a way to fix it without rolling back `gatsby-plugin-sharp`.

[2019-06-23 20:41] robinmetral opened #15058 "gatsby-remark-images in MDX doesn't generate base64 placeholders"
## Description

Using `gatsby-remark-images` in MDX (see [this guide](https://www.gatsbyjs.org/docs/mdx/plugins/#gatsby-remark-plugins)) doesn't generate a base64 placeholder.

:arrow_right: [**demo repo**](https://github.com/robinmetral/gatsby-image-with-mdx) :arrow_left:
:arrow_right: [**live example**](https://frosty-volhard-8742a0.netlify.com/testing-gatsby-image) :arrow_left:

### Steps to re

[2019-06-23 21:17] polishedwp commented on #15007
You need the following packages I believe:
`npm install --save node-sass gatsby-plugin-sass`

Refer to [gatsby-plugin-sass](https://www.gatsbyjs.org/packages/gatsby-plugin-sass/?=sass#gatsby-plugin-sass)

[2019-06-23 21:51] rchrdnsh commented on #15049
hmmmmmm...now I don't get any error in the console at all, but the build that has been pushed to Netlify and served to my phone is still completely blank.

Check out this site and see if you can spot anything on your phone, as it seems to work on the laptop:

www.alma.vacations

The routing broken as I am waiting on the fix that will be coming from Gatsby in the next few days.

Anyway, here is the

[2019-06-23 22:01] rchrdnsh opened #15062 "Keep getting the 'key prop' error, even tho it's there..."
Here is the code:

[code]

...and here is the error:

[code]

Not sure what I'm doing wrong, although it is pointing at MDX content, if that helps at all.

Thank you! XD

[2019-06-23 22:26] DinaShantina commented on #15038
@jonniebigodes  thank you so much for your efforts trying to help me, i put like this the script and still getting the same error with the token..
error Problems with gatsby-source-contentful plugin options:
spaceId: "*********n4o"
accessToken: undefined - "accessToken" is required
host (default value): "cdn.contentful.com"
environment (default value): "master"
downloadLocal (default value): false

[2019-06-23 23:26] jonniebigodes commented on #15038
@DinaShantina i've created a gist with the code [here](https://gist.github.com/jonniebigodes/1501c78547894eecae497d6acb45dc3b), This is the minimal setup i have to get gatsby working contentful.

One quick question that came to mind,
Based on the image below which key are you supplying to the plugin? The preview or the Contentful delivery api key

![dina1](https://user-images.githubusercontent.com

[2019-06-23 23:37] gvocale commented on #15007
Yep, I have both installed, but still the issue persists.

[2019-06-23 23:43] DinaShantina commented on #15038
@jonniebigodes  I am supplying Contentful delivery api key ( I tried though and the Preview ) ...
And now i have also error with the spaceID
error Problems with gatsby-source-contentful plugin options:
spaceId: undefined - "spaceId" is required
accessToken: undefined - "accessToken" is required
host (default value): "cdn.contentful.com"
environment (default value): "master"
downloadLocal (default

[2019-06-24 00:33] jonniebigodes commented on #15038
@DinaShantina i've just got your updated version of the repository and a couple of things.
- In `gatsby-config.js` the line `const dotenv = require("dotenv").config()` should be commented as you don't have that package and it could cause issues.
- Running `gatsby develop` i get the following:
[code]
Which is somewhat similar to what you're experiencing. This because the environment variables are n

[2019-06-24 01:36] bradleyayers commented on #15024
I'm also interested in this, though my motivation is to avoid the redirect that occurs from `/product/SAPPHIRE` to `/product/SAPPHIRE/index.html` for performance. I'd like to generate `public/product/SAPPHIRE.html` instead of `public/product/SAPPHIRE/index.html`.

[2019-06-24 02:19] rchrdnsh commented on #14477
I actually haven't had a chance to come back to this, but I would still like to :-)

[2019-06-24 02:47] 97thjingba commented on #15042
Thank you very much, I found the problem, it is indeed the CSS reorganization caused by Bulma. I am trying my best to find a new way to replace Bulma. I have not read the documentation of Gatsby seriously before, thank you. I will read it carefully. Thank you for visiting the blog that I started to write. @robinmetral

[2019-06-24 02:58] roweldev opened #15065 "build fail when using combineReducers"
## Description

Describe the issue that you're seeing.

### Steps to reproduce https://github.com/roweldeguzman/gatsby-redux

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen? should works same as how it works on develop

### Actual result

[2019-06-24 04:02] gvocale commented on #15007
Sorry, my bad. I just found out css modules is not the issue. I was creating a reproducible test case Gatsby theme with just one component using CSS modules, and it actually worked correctly out of the box. My issue then is somewhere else within the larger original site.

[2019-06-24 04:29] gvocale commented on #15007
In case anyone else runs in a similar problem, I believe the issue is I was importing some global css from `component.module.scss` via
`@import './src/styles/breakpoints/index';`

Instead I needed to import it with
`@import '../../styles/breakpoints/index';`

[2019-06-24 04:58] roweldev commented on #15065
it seems gatsby does not allow multiple nested folder structure for reducers, bringing the the reducer folder in src root works fine.

... issue can be closed

[2019-06-24 05:22] 97thjingba commented on #15042
I still haven't replaced Bulma, but I rewrote an **H1 style in the CSS file,** which looks very effective.

![image](https://user-images.githubusercontent.com/39749571/59993503-07f6ae80-9683-11e9-8196-4f2b5d6b45bb.png)

![image](https://user-images.githubusercontent.com/39749571/59993508-0dec8f80-9683-11e9-8d36-f266c67cf6cd.png)

[2019-06-24 05:41] robinmetral commented on #15042
Glad to hear this solved your problem! Enjoy Gatsby :slightly_smiling_face:

[2019-06-24 05:41] #15042 closed

[2019-06-24 05:57] robinmetral commented on #15049
I reproduced this on desktop with a hard reload of www.alma.vacations:

- hard reload: blank page
- reload: the site appears

Not sure what's going on there. Even when the site is blank, the markup seems to be rendered:

| screenshot from FF devtools |
| --- |
| ![screenshot](https://user-images.githubusercontent.com/35560568/59994639-e4b50a80-9654-11e9-90d9-bad043da2cee.png) |

In the built site,

[2019-06-24 06:40] deadcoder0904 opened #15066 "Theme Boilerplate"
## Summary

A theme boilerplate which sets up a basic scaffold for themes as the process requires a lot of time (~5-15 mins on understanding level) so theme boilerplate can simplify that.

### Basic example

It should be included within Gatsby CLI.

A simple example can be like:

[code]

Then for a complex example which includes Child Theme & all, you get a bunch of questions about adding child th

[2019-06-24 06:43] thatgriffith commented on #3607
For anyone still looking for a solution. I added .module to the filename of my variables file: variables.scss --> variables.module.scss. Do not forget to also update paths wherever you are using it.

Hope this one can solve some headaches!

[2019-06-24 07:13] rchrdnsh commented on #15049
well, i've pushed a new build, and the only thing i changed was commenting out the code for the plugin and it works fine again, minus the routes being broken, so........i don't know...

I'm really just trying to solve a problem, and I thought this react component would be the easiest way to solve it, but if that's not the case...

Here is a quick little article describing the issue quickly, with a

[2019-06-24 07:16] DamengRandom commented on #15038
Please create .evn.production and .env.development file, and then inside your gatsby-config.js file,
please try down this script:

let env = process.env.NODE_ENV || "development"
require("dotenv").config({ path: `./.env.${env}` })

Which works for me.

Cheers

[2019-06-24 07:22] jimmyromanticdevil commented on #14911
Thank you. I'm just using "yarn upgrade" since yarn update is not available"

[2019-06-24 08:10] rayriffy commented on #15043
This also not working on default starter site, too.

![Term](https://cdn.discordapp.com/attachments/577046038716874762/592627014549110784/Screen_Shot_2562-06-24_at_15.04.53.png)

New environment (after reset macOS)
---------------

[code]

[2019-06-24 08:12] TheBear44 commented on #12195
This docs https://www.gatsbyjs.org/docs/gatsby-cli/#note-on-globally-installed-executables stills encourage to use `npm run develop`

[2019-06-24 09:02] agjs commented on #309
I'm not really sure why is this issue closed? This issue, in fact, is probably the most critical one when Gatsby is concerned and the entire philosophy of it should be changed and fixed.

It's really bad that browser and SSR logic are coupled. Not to mention the fact that you run one version of the code in development and divergence of it in production. This is really bad. Why would you make such

[2019-06-24 09:02] benabel opened #15068 "Which plugin for mdx support?"
## Summary

Its is not really clear if we should use `gatsby-plugin-mdx` or `gatsby-mdx` to process mdx files. The [docs](https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/) sometimes use one or another.

## Relevant information

This doc [page](https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/) uses `gatsby-mdx`, but this [one](https://www.gatsbyjs.org/docs/mdx/ge

[2019-06-24 09:06] arturhenryy opened #15069 "gatsby-source-wordpress flexible content query structure problem"
## Summary

So i have custom post type called projects which has a acf flexible content field. somehow i am failing to structure the query right.

this would be the recommended way of the documentation:
[code]

but this throws an error in graphiQl and recommends me to use the actual field name of the flexible content like project_content. so like this i can query it. but if i query the typenames l

[2019-06-24 09:12] benabel commented on #15068
In fact it seems that `gatsby-plugin-mdx` has been archived in github. So docs should be updated. to only use `gatsby-mdx`. Do you want that I oopen a PR for this.

[2019-06-24 09:31] benabel commented on #15068
It seems that the gatsbyjs.org site use `gatsby-plugin-mdx`, see [package.json](https://github.com/gatsbyjs/gatsby/blob/460b2db675f811d417f4f15569a1bc5375c0d680/www/package.json#L36).

[2019-06-24 09:31] #14916 closed

[2019-06-24 09:42] thchia commented on #14862
@MunifTanjim how did you resolve this given that the PR was not accepted in the end? I am facing a similar issue. I do understand that for the vast majority of use cases, bundling react with gatsby-cli is more convenient and in keeping with a zero-config setup. However in my monorepo it's causing the issue you mentioned.

Furthermore, I can't remove react from the parent node_modules because other

[2019-06-24 09:55] axe312ger opened #15071 "Add transformer for video files (gatsby-transformer-video)"
## Summary

I am working on `gatsby-transformer-video` to transform videos within Gatsby.

For now, its just a `setFieldsOnGraphQLNodeType` in my projects `gatsby-node.js`.

## My main question:

Is @gatsbyjs/inkteam interested to have video transformation within the gatsby core repo?

The caching mechanism will be close to what `gatsby-transformer-sqip` does and I think in perspective of Gatsby v

[2019-06-24 09:58] juhosa commented on #14979
Hey @marcysutton, I can tackle this issue 👍🏽

[2019-06-24 10:06] furai commented on #14598
I could really use such docs or general guidelines about now. I'm searching the net for some best practices but can't find any. Is there any rough write up about how to upgrade minor/patch versions?
Is just doing "yarn upgrade" on default starter repo good enough?

[2019-06-24 10:13] n8tb1t commented on #13891
I'm having the same issue.
ESLint rules should merge with the gatsby baseConfig.

[2019-06-24 10:34] gregorskii commented on #309
While I don’t disagree this is a pain point. One could argue those libraries written with logic around the window variable are not suited for SSR use. Those libraries themselves should check if window is defined and work in SSR mode.

No other comments to the deeper point you are making, that’s a philosophical discussion better suited to the maintainers.

[2019-06-24 10:37] agjs commented on #309
With all due respect, what you wrote makes no sense. Why would someone who is building a "browser-only" library check if window object exists? Can you name or point to a single library on the entire NPM registry that does this? Or you are saying that all those libraries that people wrote are written wrongly?

Or people should consider that there is a framework called "Gatsby" that needs this? One

[2019-06-24 10:52] gregorskii commented on #309
By design Gatsby is a static site generator. Most of the work it does to accomplish that is done outside of the browser at compile time. It’s not only a “client” or “browser” tool.

Server side rendering is by definition done on the “server” side, where “window” is not a thing.

Gatsby’s compiling is done with Webpack, webpack by default does not wire up a window variable. From my experience there

[2019-06-24 11:16] wardpeet commented on #15068
We're moving gatsby into the monorepo, that's the reason why it's archived. Please use `gatsby-plugin-mdx` we'll deprecate `gatsby-mdx` in the future.

[2019-06-24 11:38] pantaley commented on #14629
I stumble to another issue related to GraphQL and non latin symbols.

Here https://github.com/pantaley/cyrillic-app/ I try to create posts with slugs like in https://www.gatsbyjs.org/docs/creating-slugs-for-pages/

The catch is that I need my URLs to be in Cyrillic so my folders are in Cyrillic as well. You can see it in here: https://github.com/pantaley/cyrillic-app/tree/master/src/projects/%D1%8

[2019-06-24 11:46] sandyklark opened #15073 "gatsby-cli missing the `better-opn` dependency"
## Description

Error when running `gatsby new`.  I believe the dependency is missing but is required [here](https://github.com/gatsbyjs/gatsby/blob/99fb7b44810d658805211073ddfc18e508b57c87/packages/gatsby-cli/src/init-starter.js#L13).

### Steps to reproduce

run `gatsby new`

### Expected result

a new project should be created

### Actual result

Get this error in the cli: `Error: Cannot find m

[2019-06-24 11:51] bilgorajskim opened #15074 "gatsby-cli fails to create new project"
## Description

After installing gatsby-cli with `npm install -g gatsby-cli` and creating a project with `gatsby new` or `gatsby new (starter-url)`, it crashes. The same happens when using Yarn instead of NPM.

**Installing better-opn globally (`npm install -g better-opn`) fixes the issue**

### Steps to reproduce

[code]

### Expected result

Gatsby should prompt for project name.

### Actual res

[2019-06-24 11:53] mgan59 commented on #15073
Same, was just getting ready to open an issue.

I run `nvm`, and had the issue with both `10.16.0` and `11.13.0`

This from a fresh installation of `gatsby-cli` this morning.

----

[code]

[2019-06-24 11:58] DSchau commented on #15073
Ah - whoops! #14097 makes a call to better-opn but doesn't depend upon it.

Would either of you like to PR this change? It'll be adding the dependency to gatsby-cli!

[2019-06-24 11:59] mikheevm commented on #14460
The solution here solved issue in my case.

[2019-06-24 12:06] YungTosti commented on #15073
Just had the exact same problem, please provide a fix :)

[2019-06-24 12:06] sandyklark commented on #15073
I am cloning now and will make a PR as soon as I can

[2019-06-24 12:09] YungTosti commented on #15074
Duplicate of #15702

[2019-06-24 12:09] YungTosti commented on #15074
Duplicate of #15703

[2019-06-24 12:11] xaviemirmon commented on #15028
Upon some further debugging, it seems that `parent` is a value used elsewhere and is overriding the value provided by Drupal (perhaps in some GraphQL transformation).  As far as I can work out there are two options:

We could copy the value of `parent` to something like `drupal_parent` so that it doesn't get overridden on whatever this transformation is.  For example, in `gatsby-source-drupal/gats

[2019-06-24 12:12] bilgorajskim commented on #15074
I see :) I was slower by 4 minutes. Haven't seen it when I started writing this issue.

[2019-06-24 12:13] #15074 closed

[2019-06-24 12:16] pieh commented on #15028
`parent` is something that Gatsby uses internally. `drupal_parent` seems best way for it - and there is precedence for this (wordpress is setting `wordpress_parent` for same reason.

[2019-06-24 12:20] xaviemirmon commented on #15028
@pieh Awesome thanks for letting me know.

[2019-06-24 12:23] benabel commented on #15068
Thanks, I created a PR to use `gatsby-plugin-mdx` on docs.

[2019-06-24 12:23] #15068 closed

[2019-06-24 12:25] YungTosti commented on #15073
This PR should fix it right? @DSchau please confirm :)

[2019-06-24 12:51] lannonbr commented on #15062
@rchrdnsh Do you have a repo that you can share for this error or possibly make a [reproduction](http://gatsby.dev/reproduction)?

[2019-06-24 12:51] portenez commented on #6291
This might be helpful...

The segfault happens to me when running the gatsby build in an `alpine` based container, but not in a `debian` based container.

To reproduce, try use this [docker file based on alpine](https://gist.github.com/portenez/244be4f0b8d19dc211c681ed5f9e61bb), and then this [other dockerfile using debian](https://gist.github.com/portenez/f913568a41157c6da4c6b915d3b63f46). The er

[2019-06-24 13:00] JustFly1984 commented on #2427
I got this error then updating gatsby from 2.5.3 to 2.10.0

[2019-06-24 13:00] #15073 closed

[2019-06-24 13:04] silviopaganini commented on #3344
am I the only one still having this problem?

[2019-06-24 13:07] KyleAMathews commented on #3344
Sorry we're working towards this. I'll set this as not stale so the bot stops closing it.

[2019-06-24 13:09] moreguppy commented on #3344
@silviopaganini I found this is a pretty good solution in the interim

[2019-06-24 13:14] silviopaganini commented on #3344
Yeah! trying this now, seems to work, but it's not scalable... I'm working on a *huge* website, if I have to create those for all non-required fields is not great, but works for now

[2019-06-24 13:20] wardpeet commented on #15073
publish in gatsby-cli@2.7.2.

Please update your gatsby & gatby-cli version

[2019-06-24 13:20] DinaShantina commented on #15038
@jonniebigodes tnx again for the reply... when i comment the code i am getting error both with id and token, and when is not commented only the token and then i  wrote  "develop_env_cmd": "env-cmd gatsby develop" still getting error only with the token....
@DamengRandom  didn't fix this code.. One question what you put in env.production and env.development the is and token?

[2019-06-24 13:25] mikheevm opened #15080 "Why are page-data.json files not content hashed?"
Hi gatsby team :) We've just spent few hours on debugging an issue with content not appearing on the website and turned out that it was because of page-data.json cached.

Why does it not use content hash? Should cache be handled another way?

[2019-06-24 13:41] cameron-martin commented on #11364
@Khaledgarbaya does your assignment of this mean that you're in the process of fixing it? I was going to take a look at this, but if you're looking at it then I'll hold off.

[2019-06-24 13:58] vpicone commented on #15058
I believe `gatsby-plugin-mdx` is for gatsby v1. From the readme:

For Gatsby v2, [`gatsby-mdx`](https://github.com/ChristopherBiscardi/gatsby-mdx) is the preferred plugin.

However, I'm currently experiencing this same issue with gatsby-mdx so I'm inclined to think this doesn't play a role in the issue.

[2019-06-24 14:18] mgan59 commented on #15073
Works, thanks! :+1:

[2019-06-24 14:23] sidharthachatterjee commented on #14993
Fixed and published in `gatsby@2.10.4`

[2019-06-24 14:23] #14993 closed

[2019-06-24 14:24] sidharthachatterjee commented on #14742
Fixed and published in `gatsby@2.10.4`

[2019-06-24 14:24] #14742 closed

[2019-06-24 14:24] DinaShantina commented on #15038
Ok so started the folder i just reinstalled the npm again i put again the variables and its working now...
So tnx everyone for the help...

[2019-06-24 14:24] oorestisime commented on #14525
I wonder whether this issue is related to https://github.com/facebook/react/pull/15157

[2019-06-24 14:26] #12491 closed

[2019-06-24 14:34] wardpeet commented on #15049
you have to do:

[code]

[2019-06-24 14:37] wardpeet commented on #6291
Let me see if I can get this reproduced on alpine docker container.

[2019-06-24 14:43] josefaidt commented on #15062
Is there an ID in the node that may be a duplicate? Is the error reproducible if you use the index of the node in the array? Something like

[code]

[2019-06-24 14:52] Khaledgarbaya commented on #11364
@cameron-martin please feel free to take a look at it

[2019-06-24 14:52] wardpeet commented on #15062
Are you sure node.id is filled?

[2019-06-24 14:52] MunifTanjim commented on #14862
@thchia I end up using Yarn workspaces with lerna. So, I only have a single `node_modules` for the entire monorepo. Yarn hoists all the dependencies for all the workspaces to the root `node_modules`. So, I only ever have a single `react` & `react-dom`. That solves the problem.

In case you want to see the monorepo yourself: https://github.com/MunifTanjim/draft-js-hooks. Gatsby is used inside the `

[2019-06-24 14:59] wardpeet commented on #15028
Thanks so much for opening this issue!It seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby 💪

[2019-06-24 15:00] wardpeet commented on #13891
We're open for pull requests 😄

[2019-06-24 15:05] wardpeet commented on #15038
Thanks all for helping DinaShatina out!

[2019-06-24 15:05] #15038 closed

[2019-06-24 15:52] MattMcFarland commented on #3290
sadly, `StaticQuery` doesnt work if you are setting environment variables to `siteMetadata` - so if I want to show if a user is logged in or not, and I am trying to access the auth endpoint from `siteMetadata` in my `Layout` component (or header, etc) - I can't because `StaticQuery` only works on a functional component.  But I want that info before the component mounts, and I dont want it in a ren

[2019-06-24 16:10] gillkyle commented on #14693
Thanks @luisFilipePT!! Of course we don't mind, every contribution is totally welcome! 😄

Sounds great @kindavishal! If you have any problems feel free to reach out!

[2019-06-24 16:24] ybv commented on #14971
@sidharthachatterjee @pieh
Sorry about the ping, just wanted to be sure I'm not doing something obviously stupid before ditching upgrade plans.

[2019-06-24 16:40] sidharthachatterjee commented on #14758
Fixed and published in `gatsby@2.10.4`

[2019-06-24 16:40] #14758 closed

[2019-06-24 17:08] stephenh commented on #6291
FWIW we worked with @KyleAMathews & the author of sharp to debug this on our internal ~large/~5,000 image gatsby build and the fixes were:

* The core issue was our build running in CircleCI and CircleCI reporting that our build had ~32 some cores to use (i.e. all of the cores of the entire host machine, instead of our build's docker container). This confused/made the sharp glibc concurrency buggy

[2019-06-24 18:06] robinmetral commented on #15058
@vpicone this was unclear to me as well, but with the plugin being integrated into Gatsby `gatsby-mdx` will be deprecated in favor of `gatsby-plugin-mdx`. See #15068 for fresh news :slightly_smiling_face:

As you mentioned though, I don't think this is related to the package.

[2019-06-24 18:12] jamo commented on #11996
Sorry for the delay -- based on a quick analysis it seems that extremely small amount (less than 0.1% of errors reported in the build phase has to do with sharp.

[2019-06-24 18:20] phacks commented on #14525
@oorestisime Interesting issue, nice catch!

When I patch, in the repro, `react-dom` by the [discordapp#react](https://github.com/discordapp/react/pull/1) suggested dirty fix (mentioned in https://github.com/facebook/react/pull/15157#issuecomment-503679734), no “Detached DOM Nodes” appear in subsequent snapshots, so it _seems_ to be _doing_ something.

However, the DOM Node counter is still increa

[2019-06-24 18:53] Kevin-Hamilton commented on #13891
@wardpeet if the diff in my post above looks good to you, I could submit that as a pull request...?

[2019-06-24 18:59] mikeattara commented on #13475
I would love to pair with someone to work on this...

[2019-06-24 19:21] Ayo91 commented on #14680
Same issue... I cant use a where filter inside the gatsby code because the query doesn't work. Any solution?
`houses(sort: "created_at:DESC", limit: 4, where: {id: 1})`

[2019-06-24 19:23] rchrdnsh commented on #14758
Hi @sidharthachatterjee! 😁

Thank you and your team for all your hard work on this issue...

buuuuuut...

it's still not quite working for me...

I ran `gatsby info`:

[code]

...and deleted the cache, package-lock and npm modules, then re-installed all of them again, then ran the site, and the problem of the router not working for me is still persisting.

If you have a moment, maybe you can take

[2019-06-24 19:46] Grsmto commented on #12359
Hey, would that mean we could use ESM for plugins?
I'm seeing that right now some plugins are adding huge load of useless content in the final bundle cause of tree-shaking not supported due to commonjs.
For example a plugin I'm using is importing all of Lodash and Ramda which adds about 200kb of script for nothing.

[2019-06-24 20:03] gillkyle commented on #13475
Hey @mikeattara I'd love to pair with you on this if you want! Shoot me an email: kyle.gill@gatsbyjs.com and we can set something up 🙂

[2019-06-24 20:27] mikeattara commented on #13475
@gillkyle I've sent you an email. Thanks and look forward to working with you.

[2019-06-24 20:28] n8finch opened #15087 "Bug: Image links broken in the WordPress Images Tutorial"
## Description

In the Adding Images to a WordPress Site tutorial, the image links are broken: https://cl.ly/8f94b00cea7d . It looks like they are relative links.

### Steps to reproduce

In the [Adding Images to a WordPress Site]https://www.gatsbyjs.org/tutorial/image-tutorial/) at the end of the article, there are three broken images.

### Expected result

The images should be displayed (on gif,

[2019-06-24 21:25] mlvlester commented on #3263
Hi @pieh, I'm trying to implement switching languages using Polylang but I can't find documentation about it. Maybe you could share an example of how you implemented it?
Thanks!

[2019-06-24 21:29] gillkyle commented on #14890
Yeah that's a good point @robinmetral, I know MDX uses rehype and remark internally (see [here](https://mdxjs.com/advanced/plugins/)) so trying to push people towards MDX seems like a good idea there, though I think it's great to have that documentation still the same.

[2019-06-24 21:38] vai0 opened #15092 "RuntimeError: memory access out of bounds - gatsby development extremely slow"
## Description

Developing on Gatsby has been over time significantly slowing down - at times taking up 20-30 seconds for the hot loader to refresh the page. After around 10-20 updates to a page - it eventually always runs into the following error below:

[code]
Our site is has roughly 250+ static pages in `/pages`, and is programmatically building around 30 pages from `*.yml` files generated by `

[2019-06-24 22:16] marcysutton commented on #14894
@harshil1712 that is correct! These styling recipes will replace the existing text.

[2019-06-24 22:25] marcysutton commented on #14976
@jonniebigodes this format is slightly different than a tutorial–it would need to be trimmed down to meet the parameters outlined above. But your work is definitely a good starting point!

[2019-06-24 22:28] aaronjensen commented on #14990
Is there anyone to ping to get visibility on this? As far as i can tell, self signed certificates no longer work, which means that we (and likely others) are blocked from upgrading Gatsby. If there's anything else I can do to help, please let me know.

Thanks!

[2019-06-24 22:29] harshil1712 commented on #14894
Okay! PR coming your way

[2019-06-24 22:30] freemh commented on #13442
Same problem here, I get an error message, even if I drop `gatsby-plugin-shar` back to version `2.7.0`

[code]

I run Gatsby on a Ubuntu Server, and this is the `package.json`:

[code]

[2019-06-24 22:47] marcysutton commented on #13305
Sorry, wrong button! I did not mean to close this.

[2019-06-24 23:35] freemh commented on #13442
I solve the problem by following these steps:
[code]
Then I install `libpng-dev`:

[code]
And at the end, I run an `npm install` and a `gatsby develop`.

I think that the problem is related to the operating system not Gatsby, I'm running gatsby from a Ubuntu Server installed as a virtual machine:
[code]

[2019-06-25 00:26] chrismgonzalez commented on #15019
I've got an error message that I would've been able to solve in 2 seconds had I had an appropriate prompt.  Will submit something soon.

[2019-06-25 01:00] tom-raley commented on #15087
I'd be happy to work on this. It seems that the images are missing entirely from the code base. If someone can point me in the direction of where to find these images I'd be happy to upload and update the code.

[2019-06-25 01:07] jonearley commented on #6962
@pieh I'm having a what I think is a similar issue with some relationships not appearing as I would expect.

https://cms.dev.lib.umich.edu/jsonapi/node/page/22e6d054-20ad-4d2d-8efd-eb165b9983e1?resourceVersion=id%3A100000201

![example](https://user-images.githubusercontent.com/1678665/60061601-c2a6a100-96c3-11e9-9351-448b4e89509d.png)

Could you help me figure out why only `__typename` is accessi

[2019-06-25 02:43] chadalen opened #15097 "Flicker of Unstyled Content (FOUC) with Gatsby and Material UI"
### Description
When I visit my deployed site ([blog.chadalen.com](https://blog.chadalen.com))  there's a flicker of unstyled content for a brief tick. This doesn't happen locally only when I use `yarn run deploy`

I know this is a duplicae of [https://github.com/gatsbyjs/gatsby/issues/5667](https://github.com/gatsbyjs/gatsby/issues/5667) and [https://github.com/gatsbyjs/gatsby/issues/12644](https

[2019-06-25 03:04] alexdkaminski opened #15098 "No instruction to import header to index.js"
## Description

In [Part One](https://www.gatsbyjs.org/tutorial/part-one/#-using-the-link--component) (Section "Using the <Link /> component") of the Gatsby tutorial, there is no instruction to add `import Header from "../components/header` to `index.js`. This line just appears in the code block of `index.js`.

In a previous step, the user is instructed to add this line to `about.js`. The user sho

[2019-06-25 03:54] Torara1998 opened #15100 "events.js:177 throw er; // Unhandled 'error' event"
Help me plz ! I'm newbie in react native android learner. When i try to build my app this is what i got:
Error: EPERM: operation not permitted, lstat 'F:\react\templatephoto\android\
app\build\generated\not_namespaced_r_class_sources\devKernelDebug\processDevKernelDebugResources\r\android\arch\core\R.java'
Emitted 'error' event at:
    at NodeWatcher.<anonymous> (F:\react\templatephoto\node_module

[2019-06-25 04:10] wiziple opened #15101 "Gatsby's matchPath still does not work as expected after v2.9.0"
## Description

👋 I'm filing an ongoing issue on behalf of `gatsby-plugin-intl` users since some people are keep asking me about the reason.
This issue happens since gatsby@2.9.0 and still happens on the latest version of gatsby@2.10.4.

The `matchPath` does not work as expected or at least it used to be. There was a related fix to solve some issues on the gatsby@2.10.4, but it still has some issu

[2019-06-25 06:56] #15087 closed

[2019-06-25 07:07] #14538 closed

[2019-06-25 07:18] #14877 closed

[2019-06-25 07:23] eknowles commented on #15043
I had this issue yesterday, I was able to allow the build to happen but not fix the issue.
adding the following to `.env.development` will accept it
`NODE_TLS_REJECT_UNAUTHORIZED=0`

[2019-06-25 07:25] eknowles commented on #15037
normally it would be https://github.com/gatsbyjs/gatsby/security/policy but it hasn't been setup yet... awaiting author response

[2019-06-25 07:26] gyss commented on #14911
I'm having the same outcome as @PedroLamas. But updating to the latest version or the versions proposed by @wardpeet gives me the same error after running `gatsby develop`.

Node: 10.12.0
NPM: 6.4.1

Package.json

[code]

Error:

[code]

Any idea?

[2019-06-25 07:26] wardpeet commented on #13891
Looks like it. Put one up :) we'll iterate from there.

[2019-06-25 08:04] stevanpopo opened #15102 "TypeError: Cannot read property 'hash' of undefined in createStaticQueryJob"
## Description

When I run the command "gatsby develop" I get the below error:

[code]

Looking into the file suggested ([gatsby]/dist/query/index.js:156) I seem to trigger an error in the createStaticQueryJob function. I only have one component which uses static queries (the SEO component from https://github.com/gatsbyjs/gatsby-starter-blog), and it looks like this:

[code]

Interestingly, if I l

[2019-06-25 08:11] xaviemirmon commented on #15028
Hi @wardpeet the issue is resolved by the PR I've submitted.  Shouldn't this remain open until that has been resolved? or do you folks do it differently?
Thanks! Xavier

[2019-06-25 08:41] Steffi3rd opened #15103 "Success source and transform nodes - 1188.045 s"
Success source and transform nodes **1188.045 s**

## Description

`gatsby develop` too long... I have less than 20 articles.

### Steps to reproduce

`gatsby clean && gatsby develop`

### Expected result

The project should start faster at this point.

### Actual result

<img width="1900" alt="Capture d’écran 2019-06-25 à 10 38 33" src="https://user-images.githubusercontent.com/814410/60083288-

[2019-06-25 08:45] wardpeet commented on #14878
Can you tell us the exact steps you did to clone this repo?
We advise doing `gatsby new my-blog-starter https://github.com/gatsbyjs/gatsby-starter-blog`

[2019-06-25 08:49] freiksenet commented on #14952
@altano Gatsby source plugins generally fetch all available data. We can't know what data is needed, because the data might become required due to some transformer plugins in later stages.

[2019-06-25 08:54] m-allanson commented on #4948
[Done in `gatsby-dev-cli@2.4.13`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-dev-cli/CHANGELOG.md) 🎉

[2019-06-25 08:54] #4948 closed

[2019-06-25 09:05] freiksenet commented on #14915
I'm going to be closing this issue, as apparently it's been resolved :) Feel free to open it again if you have any more questions.

Thank you for using Gatsby! :purple_heart: :muscle:

[2019-06-25 09:05] #14915 closed

[2019-06-25 09:21] sidharthachatterjee opened #15105 "Improve stack traces in build"
As mentioned in https://github.com/gatsbyjs/gatsby/issues/14925, it seems that in some cases like the example above, stack traces aren't very helpful
[code]

We need to improve this as part of our error messaging so that it is easier to track down where such errors originate.

[2019-06-25 09:24] sidharthachatterjee commented on #14925
Thank you for opening this @lukasa1993

As @marcysutton mentioned, this looks like an SSR issue. We're glad that you managed to fix it and hence, we'll be closing this out.

I have opened another issue where we'll handle improving stack traces though. Thank you for the valuable feedback and for using Gatsby!

[2019-06-25 09:24] #14925 closed

[2019-06-25 09:34] freiksenet commented on #14642
![okay](https://i.kym-cdn.com/entries/icons/original/000/003/617/OkayGuy.jpg)

There is no other way to pass variables, pages are created at gatsby-node level. Your only option is inline variables like I described above, either in page query or in `useStaticQuery`. We have plans to make `useQuery` accept variables, but there is no ETA.

[2019-06-25 09:37] sidharthachatterjee commented on #14320
@JeffWScott So the "popin" behaviour your describe typically occurs because styles aren't SSRed. In case of material-ui, the plugin solved the issue for you.

In case of reactstrap, based on the documentation, it seems like you need to import the CSS file. Where are you importing this?

You will need to import this in both `gatsby-browser.js` and `gatsby-ssr.js`

That should fix this.

Closing thi

[2019-06-25 09:37] #14320 closed

[2019-06-25 09:38] freiksenet commented on #14495
Fixed in 14496. Thank you again @joshuaavalon!

[2019-06-25 09:38] #14495 closed

[2019-06-25 09:40] wardpeet commented on #14927
This is weird, we just updated the docs page with some updated information.
It looks like the same issue as https://github.com/gatsbyjs/gatsby/issues/14546. Could you try if that resolves your issue?

[2019-06-25 09:40] freiksenet commented on #11536
Not fixed in Relay, we are still using Relay fork. Modifying the issue to be about that.

[2019-06-25 09:46] dontdomilk opened #15106 "Error: Cannot find module 'gatsby/utils' after fresh install"
## Description

Build is failing with an error on plugin gatsby-source-wordpress, though I'm not sure it is related specifically to that plugin. I tried a few versions and it still fails, though everything worked well, both locally and on Netlify, yesterday.

### Steps to reproduce

Either run a fresh build on Netlify or remove node_modules, run npm install, and run gatsby build

### Expected resu

[2019-06-25 09:48] pieh commented on #15028
Oh, yeah, let's reopen the issue while PR is not merged yet - sorry for that.

[2019-06-25 09:58] n8tb1t commented on #15092
I'm having the same issue on 8 core i7 with 64gb ram and SSD! But I'm using only generated pages and `mdx` content on a very small site. So,  no external sources of any content. After a couple of  hot reloads each reload is taking more and more time.

[2019-06-25 10:31] magdalena-dering opened #15107 "Divide pages into small component's folders."
Hi,
First of all, thank you for your time.
I want to divide pages into components to keep separate styles, data and component.
[Showcase](http://prntscr.com/o6d5iu)

- pages
-     components
-                404.jsx (React component)
-                404Data.jsx (GraphQL)
-     styles.js (Styled components)
-     index.js (export { default } from "./components/404Data";)

## Description
I want to

[2019-06-25 10:59] miraclemaker commented on #3344
@moreguppy I'm trying this to fix a similar issue with gatsby-source-wordpress, but I get the following message when I add this code to gatsby-node.js:

Error: Schema must contain uniquely named types but contains multiple types named "wordpress__PAGEAcf".

My code:
`exports.sourceNodes = ({ actions }) => {
  const { createTypes } = actions
  const typeDefs = `
    type wordpress__PAGEAcf implemen

[2019-06-25 11:07] miraclemaker commented on #3344
Nevermind, for anyone experiencing a simialr issue, this si the correct format ti fix it:

[code]

[2019-06-25 11:16] freiksenet commented on #15107
Hi @magdalena-dering!

Sorry to hear you are having an issue!

First of all, the re-export that you are doing in `pages/404.js` is not correct. To re-export default from the file, you need to use

[code]

However, even with this you'll have a similar error about `styles.js`. This is because all files in `pages` folder in Gatsby are processed as "pages", therefore you can't have any non-page compon

[2019-06-25 11:18] freiksenet commented on #15106
Hello @dontdomilk!

Sorry to hear you're running into an issue. You seem to be running a pretty old version of Gatsby and that might be what is causing the problem. I wonder if you could try updating it.

If that doesn't help, I wonder if you could provide us with a [minimal reproduction](https://gatsby.dev/reproduction), so that we could debug the issue.

Thank you for using Gatsby! :purple_heart

[2019-06-25 11:20] freiksenet commented on #15103
Hi @Steffi3rd!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2019-06-25 11:25] freiksenet commented on #15102
Hello @stevanpopo!

Sorry to hear you are running into an issue!

This is very odd. I have a feeling it might be related to how static queries are cached, it could be that if component loses the static query, then the cache for that still exists. I wonder if you could try if deleting `.cache` problem would solve this. Otherwise, I wonder if you could make a [minimal reproduction](https://gatsby.de

[2019-06-25 11:30] freiksenet commented on #15100
I'm sorry @Torara1998, but this isn't an Android repository, this is a repository for a Gatsby web framework. I wonder if you can open an issue with them.

Thank you! :purple_heart:

[2019-06-25 11:30] #15100 closed

[2019-06-25 11:32] freiksenet commented on #15098
Thank you very much for your report!

Would you like to make a PR to our documentation to fix this? We would really appreciate that. :purple_heart: :muscle:

[2019-06-25 11:34] freiksenet commented on #15097
Hello @chadalen!

This is happening because styles are included on client-side, but aren't included in the SSR'ed version of the page. [`gatsby-plugin-material-ui`](https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/) handles SSR for Material UI, I wonder if you could try if that helps with that issue.

Thank you for using Gatsby! :purple_heart: :muscle:

[2019-06-25 11:42] m-allanson opened #15110 "test issue - ignore"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-06-25 11:44] #15065 closed

[2019-06-25 11:51] freiksenet commented on #15057
Hello @robinmetral!

While we indeed recommend MDX, I don't think that means that using custom components shouldn't work. Would you like to make a PR to gatsby-plugin-remark to fix that, so that custom components aren't wrapped in <p>?

Thank you! :purple_heart: :muscle:

[2019-06-25 11:52] arturhenryy commented on #15069
ok so i found the solution to this problem. the project content field which is the flexible content acf was inside a acf group field which somehow prevented that i could query project_content_projects like described in the documentation. so i removed the acf group and it worked.

[2019-06-25 12:00] #15110 closed

[2019-06-25 12:01] m-allanson opened #15111 "test issue - ignore"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-06-25 12:01] #15111 closed

[2019-06-25 12:05] arturhenryy opened #15112 "gatsby-source-wordpress acf repeater query does not work when wrapped in group"
### Description

As described in further detail in https://github.com/gatsbyjs/gatsby/issues/15069
the query logic for repeaters as described in the documentation like [repeater_field_name]_[post_type] does not work when the repeater is wrapped inside a acf group. i have not tried if this also applies if the wrapping element is something other than a group as well. At this point i am not sure if t

[2019-06-25 12:12] chadalen commented on #15097
@freiksenet Ok thanks, I will try that when I get home :)

[2019-06-25 12:16] dontdomilk commented on #15106
@freiksenet Thanks for the quick reply. That was the issue, I'm not sure why the ^ on the version number wasn't working as expected, but I've updated my package json. Thanks!

[2019-06-25 12:16] #15106 closed

[2019-06-25 12:17] ThewBear opened #15114 "Update eslint-config-react-app to ^4.0.0"
For typescript-eslint supports.
Also, this Webpack rule needs to be changed to include `.ts`/`.tsx`

https://github.com/gatsbyjs/gatsby/blob/9fb78f8634d42e0f5547e320aafed9ae5b489223/packages/gatsby/src/utils/webpack-utils.js#L327-L334

[2019-06-25 12:22] Steffi3rd commented on #15103
@freiksenet Hello, sorry I can't. Content is not shareable online at this time.

My posts have images, I see "Downloading..." when I run `gatsby develop`
But I don't understand why I take too long on "local"

[2019-06-25 12:35] medyun commented on #14771
I installed gatsby globally. Now, gastby running on subfolder but not running index.html inside root ("/").

`example.com -> run index.html (NOT RUNNING)
example.com/blog -> run gatsby blog inside blog folder (RUNNING)
`

My netlify.toml:
`[build]
  base    = "blog"
  publish = "public"
  command = "npm run build"
`

My build command:
`npm install && gatsby build --prefix-paths && cd public && mkd

[2019-06-25 13:24] universse commented on #12095
@wdevon99  Yes. I ended up using https://github.com/developit/workerize-loader
gatsby-node.js
[code]
Then suffix your worker file with .worker e.g search.worker.js
Hope it helps!

[2019-06-25 13:28] HenryCharlesAnderson commented on #8431
import { PageRendererProps } from 'gatsby'

[2019-06-25 13:42] pieh commented on #15069
Can you post screenshot of your ACF fields definitions (before you removed it from group)? I'd like to take a look at this and that way I think I could reproduce this in easiest way

[2019-06-25 13:47] LaunchingDream commented on #15098
Hi. Can I work on this issue?

[2019-06-25 13:54] JeffWScott commented on #14320
Hey, thank you for the follow-up! I'll try that!

[2019-06-25 13:59] arturhenryy commented on #15069
@pieh yes i rebuilt it for you
![Edit Field Group ‹ MD-Relaunch-2019-WP-Backend — WordPress](https://user-images.githubusercontent.com/45144968/60104691-4020ee80-9762-11e9-8ace-129e84c72ed2.png)

[2019-06-25 14:11] Aswinpookkatt commented on #14693
Can I work on this to fix the links?

[2019-06-25 14:13] prestonso opened #15117 "[themejam] Design initial launch state for Theme Jam website"
We need to design the initial launch state for the Theme Jam website so that creation of the Gatsby theme can proceed.

### Specification

Taken from @jlengstorf's document:

For the initial launch, let’s timebox design to 2 days maximum. For the pages in this phase, I think it’d be wise to go for a fairly straightforward content template. The home page would probably benefit from having a hero bo

[2019-06-25 14:30] ukch commented on #4736
Agreed. @KyleAMathews this issue is still relevant, so can the issue please be re-opened?

[2019-06-25 14:36] ukch commented on #4736
A workaround to this problem is to wrap the `Img` in a div containing the event props:
[code]
It's not very elegant however, and results in HTML structure that looks a bit like this (lots of nested `div`s!):
[code]

[2019-06-25 14:38] VikLiegostaiev commented on #14797
Hi all, @stefanprobst can you, please, explain why "update schema" step take much more time comparing to the version 2.0.117, for example? Cause, our project migrated from 2.0.117 to 2.9.0 and the difference in "update schema" step is enormous.
Was - 36s
Now - 1581s

[2019-06-25 14:53] gillkyle commented on #14796
Merged in #14846

[2019-06-25 14:53] #14796 closed

[2019-06-25 14:55] gillkyle commented on #14564
Merged in #14768

[2019-06-25 14:55] #14564 closed

[2019-06-25 14:56] gillkyle commented on #13131
Addressed by issue: #14796 and merged changes with PR: #14846

[2019-06-25 14:56] #13131 closed

[2019-06-25 15:04] ChristopherBiscardi commented on #15058
gatsby-plugin-mdx was the gatsby-1-compatible version and gatsby-mdx the 2.0 compatible version. Since I'm in the process of giving gatsby-mdx to the gatsby monorepo in #14657, we're also doing a rename with the gatsby-mdx 1.0 release. The future-facing package will be gatsby-plugin-mdx@1.0.

I'll make this clear when I write and release the official gatsby-mdx 1.0 blog post. Until then the gatsby

[2019-06-25 15:29] #14999 closed

[2019-06-25 16:03] gillkyle commented on #14693
Feel free to open a PR to open to fix whatever you can @Aswinpookkatt!

[2019-06-25 16:18] mehtavishwa30 commented on #14992
Hey @marcysutton!
Is this issue open for contributors? I went through the Recipes and would like to work on this particular page for transforming Markdown with `gatsby-transformer-remark`.

[2019-06-25 16:20] GabrielAnarchy commented on #14911
same here...  after i use gatsby develop

[2019-06-25 16:35] marcysutton commented on #14992
@mehtavishwa30 yes it is! We would love to have your contribution.

[2019-06-25 16:39] mehtavishwa30 commented on #14992
Ahh, sweet! Looking forward to submitting a PR soon.
Thanks!

[2019-06-25 16:51] rchrdnsh commented on #15049
hmmmm...I threw that code in my app and got this error message in the browser:

<img width="1053" alt="Screenshot 2019-06-25 09 50 20" src="https://user-images.githubusercontent.com/7884263/60117313-b3a90880-972e-11e9-9bce-aaa50db5442e.png">

...which is odd, since you are doing the exact right thing in the code...🤷‍♂️

[2019-06-25 16:56] rchrdnsh commented on #15101
I am one of those users and I can confirm that I am running 2.10.4 and still having the same issue.

I ran `gatsby info` on my app:

[code]

...and deleted the cache, package-lock and npm modules, then re-installed all of them again, then ran the site, and the problem of the router not working for me is still persisting.

If your team has a moment, maybe you can take a look at the repo and see if

[2019-06-25 16:57] robinmetral commented on #15058
Thanks for clarifying @ChristopherBiscardi, and thanks for your work on the amazing plugin! :tada:

...now about these missing base64 placeholders, any thoughts? :stuck_out_tongue:

[2019-06-25 17:04] ChristopherBiscardi commented on #15058
@robinmetral I haven't had a chance to look into it yet since I just got back from vacation yesterday :) Thanks for this issue and the repro repo, that'll make it much easier to figure out what's going on.

[2019-06-25 17:13] mwardew opened #15118 "[gatsby-source-wordpress] I can't query widgets for specific sidebar"
Hello,

I use wordpress, gatsby-source-wordpress and I want to query widgets for specific sidebar. In my case I want to create dynamic footer content - text + social links.

I have sidebar called "footer" inside WP Dashboard and 2 widgets inside.

Plugin that I use:  [wp-rest-api-sidebars](https://wordpress.org/plugins/wp-rest-api-sidebars/)

I have these two endpoints:

[code]

In browser I can a

[2019-06-25 17:21] prestonso opened #15119 "[themejam] Theme initial launch state for Theme Jam website #themeception"
Theming for #15117.

[2019-06-25 17:24] isaacs opened #15120 "Linking to html in /static shows 404 on click, but works on reload"
## Description

Linking to an HTML doc in the /static folder results in a 404.  But, it shows the HTML when rendered

### Steps to reproduce

The page at http://localhost:9000/docs/getting-started/ has a link to an HTML example of coverage output, here: https://node-tap.org/my-awesome-module/coverage-1/lcov-report/index.html

The static coverage output HTML lives in the /static folder here: https:

[2019-06-25 17:27] #14275 closed

[2019-06-25 17:27] #14296 closed

[2019-06-25 17:33] sgrove commented on #14476
Definitely want to keep a eye on this one!

On Tue, Jun 25, 2019 at 10:28 AM gatsbot[bot] <notifications@github.com>
wrote:

[2019-06-25 17:34] prestonso opened #15121 "[docs][guides] Accessibility testing checklist reference guide / manual"
Discuss manual vs. automated testing and common process for ensuring accessibility.

First step is to create a Google doc and solicit feedback on it.

This will be important for having text about accessibility for Theme Jam participants.

* Working with Fable
* Building in Cypress for theme development
* Document building in that Cypress testing into the themes documentation.

[2019-06-25 17:41] prestonso commented on #14935
Merged in #15036. Closing!

[2019-06-25 17:41] #14935 closed

[2019-06-25 17:43] prestonso opened #15122 "Blog: themes GA announcement"
Two blog posts:

* Themes stable blog post by @christopherbiscardi
* Theme Jam announcement blog post by @jlengstorf

Will need review from @lindaleebumblebee.

[2019-06-25 17:48] prestonso opened #15123 "[meta] Introduce policy for volunteers to pick up work and assign themselves"
Introduce a policy for external contributors where we can assign volunteers and give folks a series of steps.

Automate this with Gatsbot so that we can reduce ambiguity where we can distinguish between issues where we are willing for the community to pick up and issues where we are willing for the community to pick up *and* are working on the issue.

[2019-06-25 18:10] stevanpopo commented on #15102
Ah, you're right. I ran **gatsby clean** in the cli to clear cache and now it's working. Thanks for that.

[2019-06-25 18:10] #15102 closed

[2019-06-25 18:20] JeffWScott commented on #14320
@sidharthachatterjee

Thank you so much for your suggestion.  Adding the bootstrap.css to my gatsby-browser.js fixed the issue!!

I hope this helps someone else as well!

[2019-06-25 18:37] marcysutton commented on #14935
Thanks for your work on this, @tom-raley! it was a great addition in response to user feedback on gatsbyjs.org. ✅

[2019-06-25 18:37] decimoseptimo opened #15124 "gatsby-remark-contentful-images and custom components"
Given a [gatsby-remark-images-contentful](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-images-contentful#how-to-use) example install.

If a "media" [custom component](https://using-remark.gatsbyjs.org/custom-components/) that targets the same 'img' element is used:
[code]

Contenful long text markdown:
[code]
--

Only the custom component will transform. There won't be res

[2019-06-25 18:37] robinmetral commented on #15058
Thank you! Let me know if there's anything else I can do :slightly_smiling_face:

[2019-06-25 18:38] adberard commented on #8612
what do you meant by "it" ? just tryed a few packages quoted here but didnt worked well.

[2019-06-25 19:01] marcysutton opened #15125 "[docs][guides] new reference guide on Markdown and MDX syntax"
It would help to pull Markdown syntax into a doc on the Gatsby site, so people know how to write it! This is especially true now that MDX is a key workflow. It would be helpful to cover syntax things, like:

- Frontmatter: what is it, and how do you use it (including when quotes are required for values)
- Headings, with recommendations for accessible heading order
- Emphasized text: italics and bo

[2019-06-25 19:07] nevace commented on #8612
@adberard the issue was caused by 'window' not being defined in a gatsby build. I had imported 'whatwg-fetch' in a javascript file like normal but it needs adding to the gatsby-browser.js file here

import 'whatwg-fetch'

Im assuming firebase has the same issue where it's using fetch internally and using the library in the project is causing the same issue.

[2019-06-25 19:23] robinmetral commented on #15057
Unfortunately I don't think I'm not sure I can manage it by myself, I can't even seem to figure out where the relevant code is in the `gatsby-transformer-remark` plugin :stuck_out_tongue:  Can you give me a hint?

[2019-06-25 19:29] vai0 opened #15126 "[gatsby-plugin-netlify-cms] Preview stylesheet is not registering"
## Description

After updating `gatsby-plugin-netlify-cms` to `4.1.0` from `3.0.9`, none of the netlify preview templates have styles applied.

What's interesting is if I import `netlify-cms` instead of `netlify-cms-app`, this problem goes away. Looking at the chrome's network tab, it appears `cms.css` is not getting picked up when importing `netlify-cms-app`

cms.js
[code]

It seems like the only

[2019-06-25 19:39] MateuszKuba opened #15129 "Iframe injection inside gatsby project"
What is an iframe that gatsby injects inside the code ???

![Screenshot_1](https://user-images.githubusercontent.com/26925370/60127912-aa9d5300-9791-11e9-8b44-a13c030cb4b5.png)

[2019-06-25 19:49] amberleyromo commented on #15123
Capturing the thoughts that prompted this (originally a DM to @marcysutton)

[2019-06-25 19:58] lannonbr commented on #15123
Just as a notice, GitHub announced this today: https://github.blog/changelog/2019-06-25-assign-issues-to-issue-commenters/

So this allows us to assign non-org members to issues and then we can have some other automation around it to keep in check how the progress is for an issue.

[2019-06-25 20:11] tom-raley commented on #14693
Hi @gillkyle, I was looking through the list of broken and missing image links and all the ones on blog seem to be actually working? Wondering why they're showing up as broken.

Regardless, I'd like to help with the other broken links as well! Is there a system for how they're being divvied up?

[2019-06-25 20:52] isaacs commented on #15120
Note: for the time being, I added a `target` property on the link to open in a new tab to work around this issue.  I'll whip up a standalone reproduction case this afternoon.

[2019-06-25 20:56] m-allanson commented on #15120
Are you using [gatsby-link](https://www.gatsbyjs.org/docs/gatsby-link/) to link to that document? If so, replacing it with a plain `a` tag should fix the problem.

There's a bit more info here: https://www.gatsbyjs.org/docs/gatsby-link/#reminder-use-link-only-for-internal-links

[2019-06-25 21:05] isaacs commented on #15120
It's a link from within a markdown page, so no.  Using a `<a>` tag  instead of `[foo](/bar)` has the same behavior.

Oddly, I _don't_ see this behavior when using the markdown starter, so it must be something in my setup.

[2019-06-25 21:07] Polyhistor commented on #6654
It definitely has something to do with source-file-system, as the logs show that the image has been successfully retrieved.... the issue is still huge... we are running late on our deadline, and we really look for a solution to this...

[2019-06-25 21:15] CathyMacars commented on #14911
Same as @gyss
[code]

When I run `gatsby develop` I get:

[code]

[2019-06-25 21:22] bjatwork opened #15130 "error GraphQL Error"
getting a error

`error GraphQL Error Variable "$id" of type "Int!" used in position expecting type "String".

[code]

My schema

` rootKey: "category",   schemas: {  category: `   category_id: Int! .... `

This error does not appear when I define in schema "category_id: String!" and I will use the query "query ($ id: String !, $ limit: Int !, $ skip: Int!) {"

It works without a problem with "Str

[2019-06-25 21:26] K-Kit commented on #6654
after setting the wordpress source plugin to debug I see this
![image](https://user-images.githubusercontent.com/7356362/60134759-3d2bfb00-976e-11e9-9046-b7f4e12b9501.png)
always hangs up between 470-480... not usually in the same place though.

does anyone know where in the code this is executing?

[2019-06-25 21:30] K-Kit commented on #6654
Ended up getting it to work by toggling a vpn halfway through

[2019-06-25 22:05] busticated opened #15132 "Error: Unknown field 'jsonName' on type 'SitePage!'..."
here's a weird one: i'm in the middle of upgrading to gatsby v2 and seeing an error when building:

[code]

which has me stumped b/c afaict it's an internal, built-in field: https://www.gatsbyjs.org/docs/internal-data-bridge/

the file in question is a "page" (lives in `src/pages/my-page/index.jsx`)

i can repro the error over in GraphiQL using this query:

[code]

### Environment

  System:
    O

[2019-06-25 22:12] marcysutton commented on #15118
@jasonbahl this one would be good for you to review!

[2019-06-25 22:25] isaacs commented on #15120
Aha!  [`gatsby-plugin-catch-links`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-catch-links) is the culprit.

Probably worth it to keep using that plugin, since I have a lot of cross-linking between markdown docs on the site, but at least the mystery is solved.  I'll keep using the `target` attribute for now.

Hopefully this issue is helpful for someone in the future :)

[2019-06-25 22:25] #15120 closed

[2019-06-25 22:45] gillkyle commented on #14693
@tom-raley the broken images on blog posts were fixed by upgrading `gatsby-remark-image` in this PR: https://github.com/gatsbyjs/gatsby/pull/14716 (which I forgot to reference, thanks for the reminder!)

If there are other existing links you can find it's been pretty first come first serve since these changes can be made pretty fast so if no one else has opened up a PR for something feel free to.

[2019-06-25 23:12] chadalen commented on #15097
@freiksenet It seems to still flicker. I followed this link [https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/](https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/) and I also referenced [https://github.com/mui-org/material-ui/tree/master/examples/gatsby](https://github.com/mui-org/material-ui/tree/master/examples/gatsby) any idea what I did wrong?

[2019-06-25 23:25] juddey commented on #14953
This is an issue for me also, but running straight from build dir with local webserver (whihch I understand you can do)
 Heres a shot of my deps:
[code]

[2019-06-25 23:28] decimoseptimo commented on #15124
perhaps @Khaledgarbaya can provide some insight.

[2019-06-25 23:38] monte-hayward commented on #11123
@rayriffy : can you report what lh version you are using? I did a new LH extension install v 5.1.0.1 from Chrome Web Store, and am seeing http/1.1 for my staged site.
![Screen Shot 2019-06-25 at 18 37 23](https://user-images.githubusercontent.com/3780422/60140751-5a65c700-9778-11e9-8b61-ac3753851010.png)

[2019-06-26 01:07] tom-raley commented on #14693
@gillkyle Sounds good, thanks for clarifying! Got a PR coming for the enterprise link issue.

[2019-06-26 02:18] svict4 opened #15136 "Storybook docs example broken since storybook v5.1.4"
## Description

The example for [Visual Testing with Storybook](https://www.gatsbyjs.org/docs/visual-testing-with-storybook/) will break for any new repo (and has been broken since [@storybook v5.1.4](https://github.com/storybookjs/storybook/releases/tag/v5.1.4))
This is because of a minor change to their [implementation of `core-js`](https://github.com/storybookjs/storybook/pull/7051)
An edit wil

[2019-06-26 03:46] gvocale commented on #14078
@jonniebigodes I'm still haven't managed to speed up the largest of the sites I have, with 10000 pages. To further test what's slowing the build down, I am creating a new fresh bare bone Gatsby project. It creates 9923 pages, with just a title and blank html, out of an allIndexJson graphql query. No extra plugins, no images.

This is the performance I'm getting when building locally:

**createPage

[2019-06-26 04:15] johntiger1 commented on #7794
having this issue, but i think i should have some type of fix in a few days, and i'll report back

[2019-06-26 04:27] Polyhistor opened #15137 "Parsing HTML and converting anchors to gatsby Link component"
I currently run a GatsbyJS website that fetches 300 Wordpress posts using gatsby-source-wordpress, despite the fact that media cannot be fetched and it freezes all the time in source and transform node, the contents are getting in easily.

But the issue is that there are links in those posts, and they are in original html anchor tag, which means if some one clicks on them, it's gonna refresh the p

[2019-06-26 04:59] kindavishal commented on #14693
Landed my first PR, took some homework, but was able to figure out! Thanks @watadarkstar and @gillkyle

[2019-06-26 05:04] nugoo1 commented on #13658
How do u do that?

[2019-06-26 05:05] sophyphreak commented on #14927
Thanks @wardpeet it works! Thank you!!!!

[2019-06-26 05:05] #14927 closed

[2019-06-26 05:24] svict4 commented on #14950
For reference: Lullabot has written some great guides for Drupal+Gatsby integration
https://gatsbyguides.com/

[2019-06-26 05:51] juhosa commented on #15137
If I understood you correctly, it looks like this [https://www.gatsbyjs.org/packages/gatsby-plugin-catch-links/](https://www.gatsbyjs.org/packages/gatsby-plugin-catch-links/) plugin should do what you want to achieve.

Hopefully this helps! 🙂

[2019-06-26 05:56] jradikal commented on #13658
Do what my dude? If you are having this issue make sure to not use powershell, I'm sure there is a way around ot but just easier to switch shells

[2019-06-26 06:00] nugoo1 commented on #13658
Got the issue fixed man.. Realised there was a copy of desktop on my new windiws 10 and the actual desktop is within OneDrive folder.. All good now, but netlify throwing an error on creatingPages for some reason, unrelated to this..

[2019-06-26 06:11] bartold3ak opened #15140 "Access data from gatsby-node.js API in pages/components"
Hi! I set up third party API that returns array of information in `gatsby-node.js`. How can I access that array in _normal_ code (like pages and components in /src/ directory)

`gatsby-node.js`
[code]

[2019-06-26 06:34] m-allanson commented on #14078
@gvocale thank you for the repro, that should be very helpful to work out what’s going on.

@wardpeet or @sidharthachatterjee do one of you have a chance to investigate this?

[2019-06-26 07:32] khus29 opened #15141 "dynamic robots.txt with gatsby"
I have a requirement to fetch domain name from contentful CT via a graphql query. Plugins I am using from graphql query is gatsby-source-graphql.
Current implementation is below
_{
      resolve: 'gatsby-plugin-robots-txt',
      options: {
        policy: [{ userAgent: '*', allow: '/' }],
        query: `{
          site: mySite {
            siteMetadata {
              siteUrl
            }

[2019-06-26 08:54] vickylance commented on #11123
@monte-hayward it might be also because of some corporate proxy network. Try in your home machine

[2019-06-26 09:51] kalinchernev opened #15143 "Access location from any child of layout component"
## Summary

Using `gatsby-plugin-layout`, the component under `/src/components/Layout.jsx` has the following signature:

[code]

I'm wondering how would be the best way to pass the `location` to each component used within the layout.

## Relevant information

The layout returns the following:

[code]
I want to avoid passing `location` repeatedly.

I believe it's a question of React-specific way of

[2019-06-26 10:11] wardpeet commented on #11123
@monte-hayward can't seem to reproduce this one.
https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://xenodochial-liskov-ebde8f.netlify.com

[2019-06-26 10:12] marco-th commented on #15080
@mikheevm The Gatsby Team describes [in this blog post](https://www.gatsbyjs.org/blog/2019-06-12-performance-improvements-for-large-sites/) why they are not hashing the page-data.json files anymore.

I am also running into some issues because of this and would like an option to enable the hashing again.

[2019-06-26 10:13] wardpeet commented on #14927
Can you tell us what the issue was? Should we add something to the docs pages?

[2019-06-26 10:15] wardpeet commented on #6654
Is anyone willing to share their repo with me and credentials so I can give this one a spin and try to find the problem?

Feel free to send me a private mail at ward@gatsbyjs.com

[2019-06-26 10:18] wardpeet commented on #14911
To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll be able to take another look.

Thanks for us

[2019-06-26 10:36] kindavishal commented on #14693
Hey @gillkyle @watadarkstar I am a bit confused about these two links

I cannot find a ```/docs/mdx``` directory in the repo, is there a possibility that it has already been fixed? Because I can't find it in the [site](https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/) either

And to fix this, I think we need to edit the link in the database?

[2019-06-26 10:42] rlynn523 commented on #15125
@marcysutton I would love to pick this up if it is still available!

[2019-06-26 10:58] notaduck opened #15145 "[gatsby-transformer-remark] Error: Cannot find module 'gatsby/utils'"
## Description
I'm having som issues atm. All works fine when I use npm, however if I use yarn or try to deploy the site at netlify I get the following error:

[code]

### Steps to reproduce
Repo: https://github.com/notaduck/Gatsby_CMS_Test

Steps to reproduce the error is:
[code]

### Environment

[code]

[2019-06-26 11:10] wardpeet commented on #15049
what about?
[code]

[2019-06-26 11:40] sidharthachatterjee commented on #14959
Thank you for opening this @darrenparkinson

I can't reproduce this on my machine. The error messages suggests that this has something to do with `pngquant` not building correctly.

https://github.com/imagemin/pngquant-bin/issues/77 might be relevant. Could you please open an issue in their repository?

[2019-06-26 12:00] sidharthachatterjee opened #15147 "Improve title for /how-to-make-a-reproducible-test-case"
Improve title and SEO for https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

Maybe it needs to be called "How to make a minimal reproduction"

[2019-06-26 12:00] sidharthachatterjee commented on #14971
@ybv Thank you for opening this! The repo you linked to seems to miss the `/data/orgs` folder that isn't letting me run gatsby.

Could you please link to a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)? Thanks!

[2019-06-26 12:04] karlsander opened #15148 "[gatsby-source-wordpress] send custom cookies/headers with api request"
## Summary

I would like a feature in gatsby-source-wordpress to send custom cookies. The reason is we want to send a "dev mode" cookie to never get cached API responses. I would be happy to create a PR for the feature but wanted to ask beforehand if you believe it makes sense for the plugin. Since cookies are (can be?) send as headers, it could also be full custom headers feature.

### Basic exam

[2019-06-26 12:06] sidharthachatterjee commented on #15006
Thank you for opening this @lourd

It seems like this is a pretty niche use case. Gatsby has a reasonably opinionated config and I'm not sure if supporting this is worth the change.

Can you elaborate on why you think this would be useful?

Related to https://github.com/gatsbyjs/gatsby/issues/12342

[2019-06-26 12:10] sidharthachatterjee commented on #15021
Renovate currently only updates packages for our starters. Do you want to open a PR updating this?

Thank you for pointing this out, @robinmetral 💪 💜

[2019-06-26 12:13] robinmetral commented on #15021
I'd love to @sidharthachatterjee! I'll upgrade locally, test it on my end and open a PR if it looks good :slightly_smiling_face:

[2019-06-26 12:13] sidharthachatterjee commented on #15023
Hey @maxcountryman

Currently, there isn't. Gatsby _owns_ these files during the build process and ideally, we shouldn't have to be concerned about them 🙂

Can you elaborate on why you'd like to do this in case I'm missing out on something? Thanks!

[2019-06-26 12:17] sidharthachatterjee commented on #15024
Unfortunately, we don't currently support this. File name and extensions are set to `index.html` (scoped within a folder for the path) and there isn't any way to customise it.

[2019-06-26 12:21] sidharthachatterjee commented on #15025
Hey @DinaShantina

It looks like maybe `env-cmd` isn't installed? Can you try deleting `node_modules` and installing them again?

Also, you could try replacing `"develop_env_cmd": "env-cmd -f gatsby develop"` in https://github.com/DinaShantina/gatsby-shanti-hostel/blob/master/package.json#L12 to `"develop_env_cmd": "./node_modules/.bin/env-cmd -f gatsby develop"`

Since this seems tangential to Ga

[2019-06-26 12:21] #15025 closed

[2019-06-26 12:25] sidharthachatterjee commented on #14990
Potentially related to https://github.com/gatsbyjs/gatsby/issues/15043

[2019-06-26 12:30] ravikirany711 commented on #11406
Thanks man , you are a hero

[2019-06-26 12:31] sidharthachatterjee commented on #15033
Thank you for the detailed issue @BraveLilToaster

I've seen issues like these before and they are typically a result your app not being hydrated correctly.

From https://reactjs.org/docs/react-dom.html

I'm not sure how to fix this but I would investigate the component that this is occurring in and maybe open an issue in https://github.com/styled-components/styled-components

[2019-06-26 12:33] sidharthachatterjee opened #15150 "[docs] React hydration mismatch"
We've seen several issues (like https://github.com/gatsbyjs/gatsby/issues/15033) where hydration tends to break something and therefore develop and build aren't the same.

We should probably document this better in https://www.gatsbyjs.org/docs/debugging-html-builds/

What do you think @gatsbyjs/docs?

[2019-06-26 12:38] sidharthachatterjee commented on #15032
@vcarl Thank you for opening this!

Resolvers can indeed connect to the network. For instance, `gatsby-source-contentful` will grab images (from Contentful) to generate base64 versions for blur-up.

Since the loading of the data and running queries are both steps in the same command (build), we would typically expect network connectivity through the build process.

[2019-06-26 12:46] sidharthachatterjee commented on #15041
Thank you for opening this @aikodeio

I did take a look at both sites (on desktop but with network throttled to Slow 3G) and I can't point to anything specifically slow on the latter.

Can you elaborate on what you mean when you say that the second site feels slower? It does seem to navigate to the page quickly enough. Images are taking a while to load but I don't think that is what you were refer

[2019-06-26 12:46] arturhenryy commented on #15143
hey, so you would obviously need some global state provider logic or a global variable. you could try use this https://www.npmjs.com/package/reactn.
it´s a simple global state tool build around hooks with not much boilerplate

[2019-06-26 12:50] gswirrl opened #15151 "Built site fails when deployed to Amazon S3 in 2.9.0 and later"
###  Description

Site builds and serves successfully with `gatsby build && gatsby serve`, but when I copy the built files to an AWS S3 web bucket, the site generates 'resource missing' errors.

(the same AWS bucket has served gatsby sites successfully in the past)

UPDATE: I believe rolling back in same project to

[code]

fixes the issue. 2.9.0 and later all have the problem)

### Steps to repro

[2019-06-26 12:50] sidharthachatterjee commented on #15066
Thank you for opening this @deadcoder0904

Seems like an interesting idea to add support for scaffolding this out. What do you think @ChristopherBiscardi?

[2019-06-26 12:51] kalinchernev commented on #15143
Hi @arturhenryy thanks for the suggestion. I'm not sure it's about state management. I have a relatively decent [state management](https://github.com/ec-inno/digit-eci-reference/blob/master/gatsby/src/Context.js). However, I feel it's more about some cool functional programming concept around props, as the layout component would mount once (i think) and even when i set state from it, components do

[2019-06-26 12:55] sidharthachatterjee commented on #15103
Where are these images coming from? Are they being downloaded from a CMS?

[2019-06-26 12:56] arturhenryy commented on #15118
i dont use sidebars but if i get this right you only need to whitelist **/sidebars" and this should return all sidebars and then you could filter for the right sidebar in your page or component

[2019-06-26 13:02] pierrenel commented on #15145
Seeing the same error :+1:

[2019-06-26 13:04] arturhenryy commented on #15143
ok so i cant really follow you here but if you want to use the location objects in components below layout you either can pass them as props or use a global state. their is no other option for that.

[2019-06-26 13:07] sidharthachatterjee commented on #15097
@chadalen I cloned your repository and did manage to reproduce this! It seems like styles are _not_ being injected at build time like @freiksenet suggested above.

<img width="1018" alt="Screenshot 2019-06-26 at 6 33 26 PM" src="https://user-images.githubusercontent.com/7701981/60181983-083ca880-9841-11e9-8e48-515bff890e84.png">

It looks like CSS in https://github.com/hupe1980/gatsby-plugin-mater

[2019-06-26 13:10] Steffi3rd commented on #15103
@sidharthachatterjee Yes! It comes from Prismic CMS

[2019-06-26 13:11] sidharthachatterjee commented on #15124
@decimoseptimo Thank you for the detailed issue. Can you please link to a quick reproduction of this?

[2019-06-26 13:11] sidharthachatterjee commented on #15126
CC @erquhart

[2019-06-26 13:11] arturhenryy commented on #15143
also if you change routes say from home to about the layout will get of course re-rendered because the location prop changes.

[2019-06-26 13:12] Steffi3rd commented on #15103
Guys! I think I found a "fix"...
I just updated React and ReactDOM to the latest. And it works.

Before :
gatsby develop : 1188s
gatsby clean && gatsby develop : 1188s

After
**gatsby develop : 1.2s**
gatsby clean && gatsby develop : 1188s

[2019-06-26 13:12] #15103 closed

[2019-06-26 13:15] sidharthachatterjee commented on #15130
I wouldn't worry too much about slowing down queries but I would prefer that we use the right data type!

This does seem strange though 🤔 @freiksenet Any ideas?

[2019-06-26 13:20] MorphyMeri opened #15152 "Cannot display some images of md file"
## Description
It is not able to create a dynamic folder for image...
like If I inspect the image the path is not inside static folder...

### Steps to reproduce

This is a personal project.Cannot reproduce using this project.
This is the link to my project
https://github.com/MorphyMeri/dynamic-blog-new
The images of "how-to-install-jenkins blog has this issue"
if the image is not enclosed in any

[2019-06-26 13:21] rayriffy commented on #15043
@eknowles That method will definitely work too but I think it's not a best practice.

[2019-06-26 13:29] sidharthachatterjee commented on #15129
@MateuszKuba That iframe isn't added by Gatsby. Perhaps it's added by some other JS  that is being loaded?

[2019-06-26 13:29] Steffi3rd opened #15153 "Images webp doesn't work"
My images `.webp` doesn't work.

How to fix `.webp` please ? Or not to using it, prefering `.png`

Thanks

## Description

My images `.webp` doesn't work on Chrome/Safari.

### Steps to reproduce

Nothing

### Expected result

`.webp` should be status 200 instead 404.

### Actual result

`.webp` has status 404.

### Environment

[code]

[2019-06-26 13:33] lannonbr commented on #15153
So I am not sure what is breaking with Chrome on your end, but I loaded the page and the webp files are loading in properly.

As well, Safari doesn't support webp yet as shown by the page on [caniuse](https://caniuse.com/#feat=webp)

[2019-06-26 13:35] m-allanson commented on #15019
Note that For PRs updating these error we'll need to wait for https://github.com/gatsbyjs/gatsby/pull/14904 to be merged. Until that happens please go ahead and create issues that identify specific errors!

Once #14904 is merged, this issue should be updated with more detailed instructions on how to improve a specific error.

[2019-06-26 13:44] wardpeet commented on #14841
Sorry for keeping you waiting. What I usually do is write the following in console and see if I get something back.
[code]

I can't show you a demo right now on gatbyjs.org as we have disabled it to fix a bug. I'll come back with a small gif when we fixed the bug.

[2019-06-26 13:44] Steffi3rd commented on #15153
@lannonbr This image worked for you? https://5d13291aac055fe6ae637674--edgebase.netlify.com/static/695387beff867443247f0e35e499b330/8b19c/b6b7fb67fbfd5f83a7fef410cc52b4d90310c281_slack.webp

Can you show me a screen please?

[2019-06-26 13:47] MateuszKuba commented on #15129
It is added by gatsby, check the website reactjs.org - it has the same iframe inside its code and many others, the most basic gatsby app has it as well, something is wrong here and i don't like that nobody informs about it inside a documentation

[2019-06-26 13:49] maxcountryman commented on #15023
I agree that's the ideal case, nonetheless it would be nice to have some configurable control over how these files are named, even if it's just basic obfuscation.

I'm sure there are any number of reasons, but among the most important in our particular case are compliance and regulatory considerations. I could also see not wanting to leak implementation details as another reason you might want to

[2019-06-26 13:50] lannonbr commented on #15153
@Steffi3rd So yes that particular image is not working for some reason as seen here:

![Screenshot_2019-06-26 Blog ··· Edgebase](https://user-images.githubusercontent.com/3685876/60185349-bd4a7300-97f7-11e9-9c1a-c168cfd7c362.png)

Would you be able to either share the codebase or make a [reproduction](https://gatsby.dev/reproduction) of this?

[2019-06-26 13:52] Steffi3rd commented on #15153
Yes indeed, It doesn't work.

All "Fluid" images seems doesn't work...

I don't understand why.

[2019-06-26 13:55] lannonbr commented on #15153
I'm not sure why either, but with this, would you be able to share the repo for this site? If not, be able to make a site that is similar to this that reproduces the bug?

[2019-06-26 14:00] KyleAMathews commented on #11524
We've deployed the PR to gatsbyjs.org for the last ~4-5 days and things are looking really good! There's been no new "missing resources" events since the deploy.

https://github.com/gatsbyjs/gatsby/pull/14889#issuecomment-505872897

[2019-06-26 14:00] KyleAMathews commented on #11524
@wardpeet is working on some tests to simulate network problems but we should have this out in the next 24 hours.

[2019-06-26 14:00] MateuszKuba commented on #15129
Yes, srry for trouble, it was another js library

[2019-06-26 14:00] #15129 closed

[2019-06-26 14:38] lannonbr opened #15157 "[docs] Finish Static vs Normal Queries page"
## Summary

The page on Static vs Normal (Page) Queries exists but seems to not be fully fleshed out.

https://www.gatsbyjs.org/docs/static-vs-normal-queries/

I think it would be good to clean this page up as it is a question that frequently comes up of the differences between the two.

[2019-06-26 14:45] pantaley commented on #14126
I think, I may have the same [issue for Cyrillic chars](https://github.com/gatsbyjs/gatsby/issues/14629).

[2019-06-26 14:47] lannonbr commented on #15157
As well, this is in the Gatsby Internals section of the docs which usually talks about the implementation details, so would it be discussing the technical details about the two types of queries.

With that, do we have a page for the more higher-level differences between the two?

[2019-06-26 14:52] chadalen commented on #15097
@sidharthachatterjee Hey thanks for the info. :) Yes I will open an issue there.

[2019-06-26 14:57] tabneib opened #15159 "[bug] Route components are mixed up after refreshing"
## Description
* In production: client-side routing works perfectly well until we refresh the page. If the current path is not root, say "/foo", the rendered page is a mixture of the the Route component for root "/" and the Route component for "/foo".
* In development: this issue does not exist.

### Steps to reproduce

I have setup a repo to illustrate this issue:
[https://github.com/tabneib/gats

[2019-06-26 15:01] wardpeet commented on #14922
seems like hot reloading being the culprit. We can add the `core-js/library/es6/promise` before loading hot reloading to get this fixed.

https://github.com/gatsbyjs/gatsby/blob/4e2cad113613a3e0071efaa560779a43df9e79f6/packages/gatsby/src/utils/webpack.config.js#L154-L160

[2019-06-26 15:09] thomascorthouts commented on #14922
@wardpeet Thanks, that could indeed be the resolution for the develop issue.
But we also get an error on production builds, being:  `Objects are not valid as a React child (found: object with keys {$$typeof, type, key, ref, props, _owner})` :/  I assumed they were one and the same error, but it might be the case that they aren't...

[2019-06-26 15:14] wardpeet commented on #14922
seems like something else. Can you try running it in develop and get us the unminified error?

[2019-06-26 15:17] thomascorthouts commented on #14922
Yeah, I'll give it a try! I get the same on `https://www.gatsbyjs.org/blog`:
`Minified React error #31; visit https://reactjs.org/docs/error-decoder.html?invariant=31&args[]=object%20with%20keys%20%7B%24%24typeof%2C%20type%2C%20key%2C%20ref%2C%20props%2C%20_owner%7D&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings. `

I'll try to

[2019-06-26 15:27] thomascorthouts commented on #14922
Interesting, in `gatsby develop` the error I get is:
 `Syntax Error File: commons.js, Line: 47228, Column: 16`
which is
`return key => (result, value) => {`

so it seems like some missing polyfill in general

[2019-06-26 15:36] sidharthachatterjee commented on #15157
I suppose this could be moved out of Gatsby internals and this page could focus on high level differences and limitations that are listed in https://www.gatsbyjs.org/docs/static-query/#how-staticquery-differs-from-page-query

[2019-06-26 15:48] #14693 closed

[2019-06-26 16:04] NiviJah opened #15161 "Gatsby build fails with "Element is not defined" when using "fullcalendar""
## Summary
Gatsby develop works fine, build fails when I use this package.
gatsby version: 2.5.14
node version: 11.12.0

Tried:
1. wrapping the import with Componentdidmount
[code]
2. wrapping the entire return statement with if !window
[code]

## Code in page:
edit: `src/pages/events.js`
[code]

## Full build log:
[code]

[2019-06-26 16:05] gillkyle commented on #14693
I'll reopen this because there are still a couple of links to work on. Thanks for all the PRs everyone! This will help page scores because we won't get dinged for 404 errors and will help people navigating the docs not get lost or annoyed.

@kindavishal I'm guessing that error is a result of that page being moved from docs at another location. I'll bet we have that link somewhere in our mdx docs t

[2019-06-26 16:07] elliotdickison commented on #15024
@sidharthachatterjee I'm trying to do something similar. If index.html is fixed, is there at least a way to keep Gatsby from stripping that off URLs when loaded? For example right now if I load `<cloudfront domain>/my-page/index.html` then it works, but Gatsby replaces the URL with just `<cloudfront domain>/my-page/` after JS loads which will not work if the user refreshes.

[2019-06-26 16:08] gillkyle commented on #14693
Just fixed this, and correct that it was a fix for the CMS, we actually pull that information in from Airtable and I just updated the link that will fix this once the .org site is rebuilt.

[2019-06-26 16:21] pantaley commented on #14629
Closing the issue, seems that somewhere between Gatsby v.2.8.5 and the latest 2.10.5 everything is working.

[2019-06-26 16:21] #14629 closed

[2019-06-26 16:38] sidharthachatterjee commented on #15037
@interglobalmedia Can you please send an email on kyle@gatsbyjs.com?

@eknowles We've set that up in https://github.com/gatsbyjs/gatsby/pull/15162

Thank you!

[2019-06-26 16:38] #15037 closed

[2019-06-26 16:45] lannonbr commented on #15157
I actually would be interested in helping out working on this. let me assign myself

[2019-06-26 16:52] NickyMeuleman opened #15163 "run Gatsby through WSL2"
Had trouble running `gatsby develop` through WSL2 (Windows subsystem for Linux v2)

### context
WSL2 is available, it is still in the early stages.
https://devblogs.microsoft.com/commandline/wsl-2-is-now-available-in-windows-insiders/
https://docs.microsoft.com/en-us/windows/wsl/wsl2-ux-changes

### Steps to reproduce

Run `gatsby develop` from WSL2.

### Actual result

Browser reports `connection

[2019-06-26 16:55] lannonbr commented on #15163
So for now my suggestion was to expose it out to the network with `-H 0.0.0.0`. It works, but I am not sure if this is the perfect solution. This may be good to add to the docs under the [Gatsby on Windows](https://www.gatsbyjs.org/docs/gatsby-on-windows/) page.

[2019-06-26 16:58] lannonbr opened #15164 "[docs] Add Livestreams to Awesome Gatsby Resources page"
## Summary

As suggested during the Gatsby Maintainers Meeting, I suggested adding a new section titled "Livestreams" to the [Awesome Gatsby Resources](https://www.gatsbyjs.org/docs/awesome-gatsby/) to list live streamers on sites like Twitch or YouTube who regularly stream development of Gatsby sites.

We could link Jason's stream page as well as other streamers who develop Gatsby sites

### Moti

[2019-06-26 16:58] dustinhorton commented on #6654
my repo isn't easily recreated at this point—i have a backup of the db as it was somewhere, but in order to get the site building i had to reduce every months worth of posts into a single post, for years of content.

[2019-06-26 17:14] ybv commented on #14971
@sidharthachatterjee Ah, sorry about that. Let me check in that folder.

[2019-06-26 17:27] #14124 closed

[2019-06-26 17:28] jackhair commented on #11524
Thank you @KyleAMathews can't wait to get this running!

[2019-06-26 17:30] brotzky commented on #11524
@KyleAMathews thanks to you and your team for that update!

[2019-06-26 17:57] slorber commented on #3782
For anyone interested to redirect with wildcard, you just need to ensure you have the correct host config (netlify/apache. Gatsby does not really filter it out so it gives us some freedom.

For example:

[code]

`:splat` is something specific for Netlify redirects. (see https://www.netlify.com/docs/redirects/#splats)
Your redirect won't be "portable" but at least it will work in Netlify.

[2019-06-26 18:50] zohaib10 opened #15166 "Question regarding integrating gatsby-plugin-google-tagmanager"
I am having a bit of trouble with gatsby-plugin-google-tagmanager integration into my app. Im very new to gatsby & react

  Useful Links:
  - Documentation: https://www.gatsbyjs.org/packages/gatsby-plugin-google-tagmanager/

I followed this link and have added the plugin into my gatsby-config.js file. Once adding the appropriate id I set includeInDevelopment: true, so I am able to test this locall

[2019-06-26 19:53] tr1s commented on #6655
Thank you very much! Data option worked great.

This just helped me solve my Gatsby issues. Now I've got mixins and variables getting injected while also live updating that can be used in Gatsby's CSS modules.

Perfect :)