[2016-05-11 17:11] KyleAMathews commented on #283
This should speed up the build significantly as it's almost entirely CPU bound. We can parallelize the HTML/CSS builds as to inline css, we have to wait for the CSS to be generated first.

[2016-05-11 18:44] KyleAMathews commented on #145
So I ended up not adding the helper as well... I couldn't make it work. Webpack can still be incredibly confusing sometimes :-) I put in the helper `<style dangerouslySetInnerHTML={{ __html: require('!raw!public/styles.css') }} />` much like what I ended up [adding to the starters](https://github.com/gatsbyjs/gatsby-starter-default/blob/7efa56e28db173aabe30c97a5d848be711e92a87/html.js#L18-L21) dir

[2016-05-11 18:45] KyleAMathews commented on #145
But ignoring that, things are looking great! This is a fairly significant performance win. Next big win will be making it simpler to inline images in css.

[2016-05-11 18:45] #145 closed

[2016-05-11 19:03] KyleAMathews commented on #235
Fixed in https://github.com/gatsbyjs/gatsby/pull/279 and released in 0.11

[2016-05-11 19:03] #235 closed

[2016-05-11 19:03] KyleAMathews commented on #129
Fixed in https://github.com/gatsbyjs/gatsby/pull/279 and released in 0.11

[2016-05-11 19:03] KyleAMathews commented on #264
Fixed in https://github.com/gatsbyjs/gatsby/pull/279 and released in 0.11

[2016-05-11 19:27] KyleAMathews commented on #145
Oh and service workers of course 💥

[2016-05-11 21:00] KyleAMathews opened #284 "Don't show "local install of Gatsby was not found" error when not running a site-specific command"
e.g. `gatsby` or `gatsby --help` or `gatsby new`

[2016-05-12 16:58] KyleAMathews opened #285 "Support responsive + preview images"
Just had a brainstorm last night. Images in sites/blogs are great but can really slow down page load times particularly on mobile. A lot of sites, perhaps most notably Medium, have implemented a technique where they first load a placeholder image which is a very low resolution/blurred version of the final image. So if you have a 500px wide image you put in your blog post, they'll load first a ~25p

[2016-05-12 21:47] MichaelCereda opened #286 "Line breaks in md data"
I'm tying to have a line break (<br/>) within two lines.

[code]

i tryed everything, >, |.
nothings seems to render that

i also followed this blog post but really nothing happens... any idea?
http://push.cwcon.org/learn/yaml-and-markdown.html

[2016-05-12 22:52] MichaelCereda commented on #286
i resolved editing the loader
[code]
editing to

https://github.com/gatsbyjs/gatsby/blob/master/lib/loaders/markdown-loader/index.js#L31

[code]

[2016-05-13 00:05] KyleAMathews commented on #286
Hmmm yeah the front matter in Gatsby isn't run through the markdown renderer like in that blog post. It looks like your solution works. But instead of forking Gatsby, just override the loader like here https://github.com/gatsbyjs/gatsby-starter-default/blob/master/loaders/markdown-loader/index.js

[2016-05-13 00:05] #286 closed

[2016-05-13 01:36] MichaelCereda commented on #286
Yes absolutely... I linked that line so if somebody needs it they won't
have to look around.

On Thu, May 12, 2016, 8:05 PM Kyle Mathews <notifications@github.com> wrote:

[2016-05-13 06:21] MichaelCereda opened #287 "background-image in less rendered as [object Object]"
I'm trying to add a background-image in a less file.

[code]

but it gets rendered as

[code]

any suggestion?
thank you

[2016-05-13 06:24] patrykkopycinski commented on #287
hey @MichaelCereda do you have loader for .jpg files? because by default Gatbsy doesn't contain any loader for images:
https://github.com/gatsbyjs/gatsby/blob/master/lib/utils/webpack.config.js#L220

[2016-05-13 06:30] MichaelCereda commented on #287
Oh.. no .. no loader :S.
I was suspecting about that... thank you.

do you suggest any particular loader? i just wanted the css to render it as plain css

[code]

[2016-05-13 10:37] patrykkopycinski commented on #287
`file-loader` should do the job

[2016-05-13 18:25] cutemachine opened #288 "Help needed with noProductionJavascript and Disqus Component"
Some days ago I decided not to use the bundle.js and set noProductionJavascript to true.

Now, my Disqus Component broke:
var ReactDisqusThread = require('react-disqus-thread');

Which was expected, but what is the best way to make it work?

Thanks

[2016-05-13 18:35] KyleAMathews commented on #288
You have to include the bundle.js. Why did you decide to turn off
javascript?
On Fri, May 13, 2016 at 11:25 AM Jo Meenen <notifications@github.com> wrote:

[2016-05-13 19:47] cutemachine commented on #288
Well, the generated bundle.js is 8MB. And the page load is quite fast, so I did not see the benefit of having a SPA.

[2016-05-13 20:07] herrstucki commented on #285
For transforming Markdown with custom components, [remark-react](https://github.com/mapbox/remark-react) has a configuration option where you can map tags to components, e.g. `{img: ResponsiveImage, a: Link}`. And no more `dangerouslySetInnerHTML`!

[2016-05-13 20:09] KyleAMathews commented on #288
Oh wow, that's huge :-) how many pages? How long does it take to generate
the site?

Turning off JavaScript generation altogether is a blunt tool as you've
noticed. With code splitting, this would be much more manageable as each
page could load just the JS for that page.
On Fri, May 13, 2016 at 12:47 PM Jo Meenen <notifications@github.com> wrote:

[2016-05-14 04:18] KyleAMathews commented on #100
So interesting thought I just had hear. One way to use Service Workers + code splitting is that every page has a separate bundle. But then when creating the service-worker file, we first analyze the link structure of the site so that whatever page you land on, you initially load just that pages JS bundle but then the service worker async loads and caches the bundle for every page that page links t

[2016-05-14 17:49] KyleAMathews commented on #285
Oh nice!! That'd make this a *lot* simpler. Actually, this is sounding very doable now w/o a lot more work :-)

[2016-05-16 19:10] KyleAMathews opened #289 "Add markdown-doctest to tests"
https://github.com/Widdershin/markdown-doctest/

[2016-05-16 23:22] jakubrohleder commented on #193
Hi! That's an awesome idea. I managed to make css modules work (tested for scss file) with following snippet in `/gatsby-node.js`.

[code]

If you find it worth adding to the gatsby webpack config I can create an appropriate PR

[2016-05-16 23:46] KyleAMathews commented on #193
@jakubrohleder so the reason I didn't add support for them is isn't turning on CSS Modules an all-or-nothing decision? Once they're enabled you have to use them? Or does the css module transformation only happen if you import a css file?

Assuming it is a binary choice, we need to wait until Gatsby has a plugin system w/ the ability to configure the css plugin.

[2016-05-17 01:25] talbet opened #290 "Integrating template languages (handlebars, liquid, etc)"
Gatsby has been a great tool to work with, and I am really enjoying what is possible. I was wondering if its possible to create static pages using template languages such as handlebars.

So far I have
- merged webpack config using `gatsby-node.js` to add support for '.hbs' templates.
- setup webpack loaders to handle the templates
- created a `hbs.js` wrapper to add transforms to the template

How

[2016-05-17 01:32] KyleAMathews commented on #290
So... unfortunately the list of file extensions that can become pages is hard coded atm https://github.com/gatsbyjs/gatsby/blob/cb9d686a5f27ee165607b96dcf0886d1d3a635fa/lib/utils/glob-pages.js#L8-L20 and https://github.com/gatsbyjs/gatsby/blob/43c26d22976aabed5c583ee40e8e89fc4cc3bf94/lib/isomorphic/create-routes.js#L84

So right now the easiest thing to do (unfortunately) is to fork Gatsby and add

[2016-05-17 01:49] talbet commented on #290
No worries, that's what I thought.

I'm currently working on a doc site for an existing project that uses handlebars. The idea was that we could implement handlebar templates so that it would be easy to use existing snippets. Then we can prototype new ideas in gatsby and export changes back out with minimum translation between template languages.

The data would be be a static .json file that is f

[2016-05-17 07:22] jakubrohleder commented on #193
@KyleAMathews you are totally right, this change isn't backward compatible (at least according to my knowledge). It is possible thought to use global classes in modules (their names are not processed):

[code]

or enable css module processing only for certain extensions (it's not standard, but why not `.mcss`?).

As you said: this change can wait for some time, nevertheless this snippet will help

[2016-05-17 09:06] andreypopp commented on #193
That's what I do too, by enabling `?modules` for `*.module.css`. Seems like a safe choice.

[2016-05-17 16:42] KyleAMathews commented on #193
`*.module.*` makes a lot of sense actually. Even if you're using CSS Modules, you probably would want to be able to drop in some 3rd-party css and have it just work. Is there any sort of standard yet around this? I don't use CSS modules myself so don't really know. Also Sass/Less can be used with CSS Modules so any sort of special processing rules would need to account for that.

@markdalgleish wh

[2016-05-17 16:46] KyleAMathews commented on #290
It really wouldn't be too bad to maintain a temp fork adding support for handlebar pages. You'd just need to make the two changes above, run `npm run build`, remove `dist` from `.gitignore`, `git add dist/` and commit and push to your repo, then `npm install` straight from your fork instead of npm.

Gatsby will hopefully have native support for new content types in the next month or so.

[2016-05-17 17:25] cusspvz opened #291 "Think gatsby core should fulfill webpack with some cache aspects"
@KyleAMathews we already talked on a PR about the pluggable API system, I'm waiting anxiously for it because I got some ideas that could really push up gatsby fowards.

Until that happens, I came across an issue relative with cache (I'm setting up a large cache for our assets).

Webpack has the feature of prepending an hash to bypass browser cache (suffixing a query after the script's public path

[2016-05-18 12:15] markdalgleish commented on #193
I think targeting `*.module.css` is a great idea for backwards compatibility with global CSS :+1:

[2016-05-18 14:32] NogsMPLS commented on #193
The convention ive seen actually has been the opposite, using `.global`. Either works fine though, just depends on what you want to take priority as "default"

[2016-05-18 16:34] andreypopp commented on #193
@NogsMPLS some of the packages on npm can require CSS from JS: `require('./styles.css')`, that's why relying only on `:global` isn't safe.

[2016-05-18 17:00] NogsMPLS commented on #193
Sorry on phone, i mean filename. `name.global.css` as compared to `name.module.css`. And letting webpack handle the rest.

[2016-05-18 17:19] KyleAMathews commented on #193
Thanks @markdalgleish!

I think *.module is safest. There'll be a lot of people using Gatsby who don't know what CSS Modules are so it's better that modules are opt-in vs. opt-out if we're going to turn them on for everyone.

[2016-05-18 17:23] KyleAMathews commented on #193
If someone wants to work on a PR for this, let us know and I'll assign it to you.

[2016-05-18 18:22] jakubrohleder commented on #193
Great discussion here! Enabling css modules for `*.module.css` seems a reasonable compromise. I can handle the PR by the weekend.

[2016-05-18 18:30] KyleAMathews commented on #193
@jakubrohleder thanks! 💯 Looking forward to your PR.

[2016-05-18 18:32] KyleAMathews commented on #193
Oh weird, I can't assign you I guess unless you're a team member of Gatsbyjs. So I just added you and will assign you once you accept :-)

[2016-05-20 04:49] benstepp commented on #291
I'm working on asset hashes for js/css right now. I'm not sold on a public API yet, but the implementation seems good and working right now. I'm have a lot of restructuring in the build stage to put css and js before html, and ideally in separate processes before this is ready for merge. I have a strong feeling the callback hell might become a problem in `build.js`.

Would the following implementa

[2016-05-20 05:39] cutemachine commented on #288
Yesterday, I wrote a new post with Markdown which had two images.When I built the site, the build.js grew to 12MB. Not good :)

I realized I had configured a URL loader:
[code]
It thought that the url loader would only be used when I require the images. I did not realize that the url loader would also inline the images I use in my Markdown posts.

I remove the loader and the size of the bundle.js

[2016-05-20 09:41] cusspvz commented on #291
@benstepp thanks for commenting this!

I've solved already my cache problems, webpack has mechanisms to apply hashes to invalidate caches but they won't work since there are 3 different build stages instead of one.

My solution was to create an hash solution based on an Environment Variable, my proposal is to insert a mechanism on the core that generates an hash on each `gatsby build` and applies

[2016-05-20 09:56] cusspvz commented on #291
@benstepp I've created a branch to apply things I've proposed over here. Want to discuss the `assets` method API? cc @KyleAMathews

[2016-05-20 11:05] jongold commented on #285
remark-react looks really nice, thanks @herrstucki :)

I did ~= the same thing by using marked in [my markdown loader](https://github.com/jongold/txt/blob/75809df37a293465a0dd66e04c222274a4d05140/loaders/markdown-loader/index.js)

[2016-05-20 14:26] benstepp commented on #291
This was the problem I was aiming on solving. Basically we know the only place we need the hashed assets are in the `build-html` stage, so as long as we build the css and js before the html, these assets should be available somewhere. Rather than write to a json file using the `webpack-assets-plugin` I thought it best to just keep the assets in memory between webpack compilations.

I would prefer

[2016-05-20 18:19] KyleAMathews commented on #288
This is definitely a *bug*. There's an open issue for it https://github.com/gatsbyjs/gatsby/issues/208

I haven't fixed it yet as I haven't decided on the right pathway forward. The *right* solution is you add support for "content types" individually with plugins and only they get loaded into the bundle (e.g. add `gatsby-plugin-markdown`) but people (like you) keep running into problems so I think

[2016-05-20 18:19] #288 closed

[2016-05-23 00:05] talbet commented on #290
What I've ended up doing is adding a 'language' attribute to the front matter. Then I can process the markup as 'handlebars' in the html wrapper based on what the language is set too. It means that the compilation is in react, rather than webpack, which has advantages and disadvantages. It is a testament to Gatsby (and React) that it is flexible enough to do this. This seems to be working for us,

[2016-05-23 00:05] #290 closed

[2016-05-23 04:39] KyleAMathews commented on #283
Discussion on this issue happening in https://github.com/gatsbyjs/gatsby/pull/294

[2016-05-23 15:51] phlogisticfugu commented on #168
In using gatsby, I'm actually finding that I'd want the opposite of this.  It'd be nice if the base gatsby came more "batteries included", loaded, wrappers, and all.

Right now one is required to do some hacking (React code) in order to use gatsby at all.  For example, I would expect that putting in a "title" in the front-matter in markdown files would specify the page title, but find I need to us

[2016-05-23 15:55] phlogisticfugu opened #296 "add link to netlify guide to gatsby"
Netlify provides a nice hosting and continuous build/deploy solution for those who want to "just" make the website part of their site, and they made a nice guide to using gatsby with their service:

https://www.netlify.com/blog/2016/02/24/a-step-by-step-guide-gatsby-on-netlify

it is admittedly a paid service, but may be a nice alternative to include in options for deploying gatsby beyond github p

[2016-05-23 16:31] KyleAMathews commented on #296
Thanks for the suggestion! Netlify is an awesome service. That blog post actually though already is in the Videos & Blogs section https://github.com/gatsbyjs/gatsby#videos-and-blogs

[2016-05-23 16:31] #296 closed

[2016-05-23 16:36] KyleAMathews commented on #168
Yes! Thanks for bringing this up!

I've been trying to find time to write this up but Gatsby will be adding soon both a plugin system (all currently part of core functionality will be moved to plugins) and a theme system which are NPM-distributable packaged Gatsby site which has plugins and (optionally) components/content/templates/css pre-specified.

So this issue (needs closed) was written a whi

[2016-05-23 16:36] #168 closed

[2016-05-23 17:17] #284 closed

[2016-05-28 22:51] bryannaegele commented on #281
I'm interested in getting to know more about Gatsby's core and Flow, so I'd be happy to take this on. Can you compile a list of which internal libs you would want to start with?

[2016-05-29 00:06] KyleAMathews commented on #281
@bryannaegele that'd be fantastic! Always nice to have someone take something off your TODO list :-)

How about for the first PR we focus on getting just one internal API setup correctly and then go from there? So add Flow as a devDependency and add to `npm test` so it'll be run on TravisCI on PRs, etc.

Probably a good place to start adding types is the code in https://github.com/gatsbyjs/gatsby/

[2016-05-30 08:54] MichaelCereda opened #301 "Cannot build project"
gatsby develop works perfectly and smoothly..
when i try to build (gatsby build) i receive the following error..
I couldn't come up with an answer.

[code]

I'm on mac.
Thanks in advance

[2016-05-30 14:09] adjohnson916 opened #302 "Support anchor links"
Support anchor/hash links. Refer to https://github.com/reactjs/react-router/issues/394#issuecomment-220221604 for a potential implementation to introduce to the `Router` in `lib/utils/web-entry.js`.

[2016-05-30 16:01] KyleAMathews commented on #301
Do you have a component names Signature? Perhaps it's missing an import for underscore/lodash?

[2016-05-30 20:34] MichaelCereda commented on #301
Yes... my fault.

I apologize, troubleshooting while tired is the worst thing to do when you have deadlines.
Thanks

[2016-05-30 20:34] #301 closed

[2016-05-30 21:12] KyleAMathews commented on #301
👍
On Mon, May 30, 2016 at 1:34 PM Michael Cereda <notifications@github.com>
wrote:

[2016-05-31 17:21] KyleAMathews commented on #302
Hey, this is an really interesting idea. My preference would be that it gets built-in to React Router. Failing that (or in the meantime), my preference would be we add a hook to Gatsby so you can add support for this in userspace though perhaps it's innocuous enough that we ship it to everyone.

[2016-05-31 17:27] KyleAMathews commented on #204
Added invariant for return value of `modifyWebpackConfig` in https://github.com/gatsbyjs/gatsby/pull/300

[2016-06-01 00:09] KyleAMathews opened #304 "Regression: Errors in server rendering in develop.js throw obscure errors"
Namely:

[code]

Which confused me for a bit until I saw that this custom Babel config in `develop.js` had been removed. @benstepp perhaps there just filter out `react-hmre` as a preset from there?

[2016-06-01 01:26] bryannaegele commented on #281
That is a sound plan. I'll track progress here. If there's anything else you can think of we can add it.

- [x] Add flow-bin, flow npm script, and call in test
- [x] Setup eslint & Babel to handle flow
- [ ] build-page utils - get flow check to pass (add necessary types, annotations, and external interface declarations)
    - [x] index
    - [ ] load-frontmatter (awaiting https://github.com/facebo

[2016-06-01 02:06] KyleAMathews commented on #281
Sounds great! Thanks again for taking this on!!

Re: Windows, this is not a deal breaker but we should communicate this to devs on Windows wishing to contribute. Perhaps add a `npm test-windows` command + a note in https://github.com/gatsbyjs/gatsby/blob/master/CONTRIBUTING.md

Or does this mean that the babel flow plugin wouldn't work at all meaning that Windows developers couldn't make changes t

[2016-06-01 02:38] bryannaegele commented on #281
They should be able to contribute. They won't benefit from the type checking and probably couldn't effectively add flow checks.

Babel will run fine. It is just stripping flow markup from the files before processing them.

Eslint may harp a bit but I think it will just ignore it since the plugins are more to ignore some flow markup conventions.

I can add a windows specific test that omits the cal

[2016-06-01 04:05] MoOx commented on #281
Here is what we are doing for phenomic to skip flow check on windows https://github.com/MoOx/phenomic/blob/104fa249b585d88302827af637261099b4fa4689/scripts/flow-check.js

[2016-06-01 04:56] bryannaegele commented on #281
Thanks @MoOx! Seems like a great starting point.

[2016-06-01 05:50] benstepp commented on #304
Went ahead and added the loader back to develop.js for now. There really shouldn't be any webpack config changing outside of webpack config. When I first saw that I knew it looked hardcoded, out of place, and not modifiable by a user or testable in anyway. Now that I know what it does, it's probably okay to leave there for now, but ideally it should be contained to webpack.config.js.

However, the

[2016-06-01 06:24] KyleAMathews commented on #304
Yeah, totally agree that it'd be better to keep everything in `webpack.config.js`

This is what I meant btw and perhaps is less objectionable as it just filters out the hmr preset.

[code]

[2016-06-01 11:00] timurc opened #306 "Make configurable what kinds of static assets will be copied"
It seems like static assets are set in this line:

https://github.com/gatsbyjs/gatsby/blob/9b14d0024e3a6136b56b1c61310312b73805e672/lib/utils/post-build.js#L58

In my current project I got a lot of large original images (jpg). I use them only via loader. So it would be nice if could prevent them from being copied to the `public` folder, so that uploading / deploying gets faster and no webspace is

[2016-06-01 13:40] benstepp commented on #304
Using lodash to filter is definitely more explicit (you can see the name `react-hmre`). However it does violate the law of demeter, and I think it would be best to use the public interface if we're changing the config where it doesn't belong. We'd also have to `eslint-disable no-underscore-dangle` on two lines and between that and the comment I feel like there would be too much noise surrounding t

[2016-06-01 14:44] prpatel opened #307 "Error when running 'gatsby develop'"
my-test-gatsby-site prpatel$ node -v
v4.2.2
my-test-gatsby-site prpatel$ npm install -g gatsby
my-test-gatsby-site prpatel$ gatsby new my-test-gatsby-site
....
my-test-gatsby-site prpatel$ cd my-test-gatsby-site/
my-test-gatsby-site prpatel$ gatsby develop
Failed to require /Users/prpatel/dev/reactair/my-test-gatsby-site/html.js
./html.js
Module not found: Error: Cannot resolve module 'babel' in /

[2016-06-01 15:23] KyleAMathews commented on #304
Ok, so add a new stage called `develop-server` (or whatever)?

[2016-06-01 16:03] KyleAMathews commented on #307
grrr... things w/ that starter are messed up with npm 2.x right now. The easiest way to fix this for now is to upgrade to the latest 3.x npm (`npm install -g npm@latest`). I'll work on fixing things for 2.x when I have time (or if someone else is motivated, please create PRs for the starters).

[2016-06-01 16:24] KyleAMathews commented on #306
This is not currently possible and a known sore spot. I have a pretty good idea for how to fix this and it's my next task on my TODO list for Gatsby. Hopefully the next release will have a good pattern for this.

[2016-06-01 16:26] benstepp commented on #304
I came up with a solution that works with minimal code (just parse the develop-html stage down to develop) and separate out the babel stage. It's not exactly clear, but I really don't want to have massive blocks of repeated cases in the switch statements.

[2016-06-01 17:44] prpatel commented on #307
Using npm 3 did the trick, thanks!

[2016-06-01 17:44] #307 closed

[2016-06-01 21:18] timurc commented on #306
Ok thanks, looking forward to the next release then :-)

[2016-06-02 05:18] jitendravyas opened #308 "How to build multi-language site?"

[2016-06-02 13:12] hitchcott opened #309 "Window is not defiend"
I'm trying to use a semantic-ui import along with my components.

Works fine in development but if I try to `gatsby build`, I get `Error: ReferenceError: window is not defined`.

I'm doing this:
[code]
Is there any workaround?

Edit: Managed to get it working with:

[code]

[2016-06-02 17:20] KyleAMathews commented on #309
Yeah, during development, react components are only run in the browser where `window` is defined. When building, Gatsby renders these components on the server where `window` is not defined. Generally with React the solution to this is only access `window` in `componentDidMount` or to check that `window` exists before accessing it. For third party libraries that don't do this, what you've done look

[2016-06-02 17:20] #309 closed

[2016-06-03 02:02] hitchcott opened #310 "CSS-included Assets not loading on all routes"
I'm using semantic ui framework which requires icon font files. This works on every route in development.

After building, the icons load fine on root url, but if you refresh or visit on a different route, the icons are 404ing - as they're trying to load relatively.

[2016-06-03 02:17] KyleAMathews commented on #310
Could you paste please the code you're using to link to them?

Almost certainly you just need to make the links to the icons absolute e.g. `/path/to/icon` instead of `path/to/icon`.

[2016-06-03 02:53] hitchcott commented on #310
It's an npm package with a `dist` folder, which I'm importing in js.

Looking at the source, It's including the icon font along the lines of:

[code]

In both develop and bundle, it generates the request on the root url: `URL:http://0.0.0.0:8000/97493d3f11c0a3bd5cbd959f5d19b699.woff2`

But only in the bundle, if I'm at another route, it'll request:
`URL:http://0.0.0.0:8000/currentRoute/97493d3f11c

[2016-06-03 03:05] KyleAMathews commented on #310
It's possible then the webpack configuration for loading urls is wrong.
Could you investigate that?
On Thu, Jun 2, 2016 at 7:53 PM Chris Hitchcott <notifications@github.com>
wrote:

[2016-06-03 05:00] hitchcott commented on #310
Sure, I can take a look - although to be honest I'm using gatsby party to try and get away from webpack configs!

Where is a good place to start poking around?

[2016-06-03 05:18] KyleAMathews commented on #310
lib/utils/webpack.config.js
On Thu, Jun 2, 2016 at 10:00 PM Chris Hitchcott <notifications@github.com>
wrote:

[2016-06-03 15:27] dvonlehman commented on #144
Along these lines I would suggest not taking on a dependency to node-sass, postcss, less, etc. The dependency tree for a stock install of gatsby is quite big leading to long install times. In `webpack.config.js`, common file extensions could still be preconfigured, but detect if the required loader is present in node_modules. If not, emit an error informing the user they need to install the necess

[2016-06-05 19:52] cutemachine opened #312 "Using React components in Markdown source"
Is there an easy way to use React components in my Markdown source. Something like [reactdown](https://www.npmjs.com/package/reactdown)?

[2016-06-06 00:05] ivanoats commented on #312
That is a great idea. I would be willing to work on if it's not available yet.

[2016-06-06 05:28] bryannaegele commented on #281
I got to spend some more time on this tonight but Flow is pointing out the trickiness of the build-page lib. Looking back at the history for this module, it seems like it was perhaps a quick breakup of a larger file (glob-pages) by @benstepp, but not a complete refactor.

I'm not confident this module could fully benefit or implement Flow without a refactor, which I think this module could use. In

[2016-06-06 08:01] andreypopp commented on #312
I the developer of reactdown. It would be awesome to see reactdown working with Gatsby. Ping me if you have questions or need some assistance regarding integrating it.

[2016-06-06 17:02] KyleAMathews commented on #312
👍 this is a common request so would be great to have something working that's widely available!

[2016-06-06 17:04] KyleAMathews commented on #281
Everything you're suggesting here seems reasonable. I don't feel married to the current implementation at all so if you see need for refactorings to clean things up or to make Flow happy, feel free. @benstepp any thoughts? @gatsbyjs/gatsby-core-maintainers

[2016-06-06 17:06] #304 closed

[2016-06-06 17:35] KyleAMathews commented on #144
@dvonlehman thanks for the thoughts! My plan atm is to introduce a plugin system so all these options would be moved there and only added if you want sass or less, etc. I'll be posting an RFC once I can find enough time to pull that together.

[2016-06-06 17:35] #144 closed

[2016-06-06 17:44] scottnonnenberg commented on #281
I'm ambivalent about Flow and really any attempt to make Javascript more type-safe. I think tests are way more important. I'd do that first. And I may still! :0) I'm preparing my blog for open-source release now, and it has pretty good tests - basic unit tests and React component tests with Enzyme...

(funny enough, just today encountered Dan Luu's post about type-safety: http://danluu.com/empiric

[2016-06-06 17:50] KyleAMathews commented on #281
@benstepp has been adding [a bunch of tests](https://github.com/gatsbyjs/gatsby/tree/master/test) recently! Still more to do there so feel free to jump in Scott :-)

Re: Flow & types. I dislike heavy-handed type systems but from what I've heard, Flow is pretty minimal and flexible so it seems like a safe thing to add. If it proves otherwise, we can just rip it out :-) I don't think there's any sil

[2016-06-07 14:18] edouerd opened #316 "Add test to install default starter and run "gatsby develop""
[code]

Hi there, attempting to use gatsby for the first time, followed the README instructions to a T, and after inputting `gatsby develop`, received the following:

[code]

[2016-06-07 14:20] edouerd commented on #316
Additionally, attempting to access localhost:8000 failed.

Not sure what's going on, any help would be appreciated!

[2016-06-07 15:06] chrisdhanaraj commented on #316
I think this is an issue with npm3 vs npm2 - running `gatsby new BLOG` on node 6/npm3, no issues. Running the same with with node 4/npm2, the issues that you have there.

[2016-06-07 16:06] KyleAMathews commented on #316
yeah... the starters are missing some dependencies I think for NPM 2. I've been on NPM 3 for a while and forget to check NPM 2. Let's add a test for installing the default starter actually to ensure this doesn't happen again.

[2016-06-07 16:11] edouerd commented on #316
Followed Chris' advice, it's all working now — can confirm installing LTS node was the issue.

I probably should have done the due diligence to figure this one out, but it might be a good idea to update the README.md with a more explicit reference for appropriate node versions.

Thank you all 😇 , and super kudos @chrisdhanaraj !

[2016-06-07 16:18] chrisdhanaraj commented on #316
👍  np, good luck

[2016-06-07 16:44] KyleAMathews commented on #316
@edouerd we still do support NPM 2... just it's not tested properly. I'm changing the title to add a test to install the default starter.

I downgraded to NPM 2 and got the starters all working again (hopefully) with NPM 2. If anyone following along here wants to test this and report back, that'd be much appreciated. Here's the commit https://github.com/gatsbyjs/gatsby-starter-default/commit/3dccd

[2016-06-07 21:46] KyleAMathews opened #317 ""gatsby new" fails on 0.12"
One of our dependencies (Loggy) switched to ES6 recently... http://pastebin.com/AD0tcDDD

We need to fix both that as well as add a test for `gatsby new` as there's also been bugs reported recently for NPM 2 when installing the default starter.

[2016-06-08 02:42] benstepp commented on #312
I set up a quick and dirty example repository of how to get reactdown working with gatsby. It's good to note that under the hood gatsby is just a very user friendly wrapper on top of webpack, so all of the power is still there to do just about anything.

https://github.com/benstepp/gatsby-reactdown

[2016-06-08 05:31] cutemachine commented on #312
Thanks, I will try it and will let you know how it went.

[2016-06-08 09:04] jitendravyas commented on #308
No comment?

[2016-06-08 09:29] MoOx commented on #308
I think it's up to you. You can use something like [react-intl](https://github.com/yahoo/react-intl) and your own data. For example http://putaindecode.io/ is a multilingual website (not build with gatsby but phenomic - but the way to handle this remains the same) and "just" have 2 yaml files with same keys for dynamic parts. Nothing really specific to the generator you will use.

[2016-06-08 16:23] KyleAMathews commented on #312
Oh cool! Nice Ben. That's a lot simpler to setup than I'd been imaging
haha. Nice work Andrey.

On Tue, Jun 7, 2016 at 10:31 PM Jo Meenen <notifications@github.com> wrote:

[2016-06-08 16:26] KyleAMathews commented on #308
Yeah, as Maxime said, there's nothing special about Gatsby here for
building multi-language sites. Perhaps one day someone will create a Gatsby
multi-lang plugin which will streamline the process but it should be quite
doable now.

On Wed, Jun 8, 2016 at 2:29 AM Maxime Thirouin <notifications@github.com>
wrote:

[2016-06-08 16:29] KyleAMathews commented on #308
Was there any specific part that you're struggling with?

[2016-06-08 23:08] wpioneer opened #318 "Strange behavior Autoprefixer"
This was observed in my Blog and [gatsby-starter-lumen](https://github.com/wpioneer/gatsby-starter-lumen/).

I changed the cssnext configuration in [gatsby-node.js](https://github.com/wpioneer/gatsby-starter-lumen/blob/master/gatsby-node.js):
[code]

CSS-prefixes are not changed. But they changed after adding postcss-loader to inline CSS [html.js#L18](https://github.com/wpioneer/gatsby-starter-lum

[2016-06-09 04:45] KyleAMathews commented on #318
Sounds reasonable :-) I only use inline styles so not entirely up to speed on this stuff. Would you like to put together a PR to make the updates?

[2016-06-09 04:47] KyleAMathews commented on #318
Also, you want to add a link to your starter to the README? It's looking great!

[2016-06-09 12:03] wpioneer commented on #318
Ok, then I'll create a PR now!

`Also, you want to add a link to your starter to the README? It's looking great!`

Yeah, it would be great =) In the Readme there is a section with the official starters

[2016-06-09 16:22] shouichi opened #320 "Organizing pages with react router"
Hi, I want to organize pages using react router e.g.,

[code]

The problem is build fails because `browserHistory` can't be used on the server. How can I accomplish the goal?

BTW thanks for the awesome project!

[2016-06-09 16:34] KyleAMathews commented on #320
Hey, with Gatsby, the React Router routing config is automatically created. You don't need to manually create routes and in fact can't (currently).

Look at the starters — none of them have routes setup. Routes are created from the position of a file. So if you have a file at `/pages/weather.js` a route will be created for it at `/weather/`.

[2016-06-09 19:55] MoOx commented on #320
This is interesting. I am curious to know why you use react-router to make a file to url mapping. On the opposite, Phenomic currently allow you to use your own routes (and there is even a WIP to generate all routes like /tag/:tag, based on front matter tags for example).

[2016-06-10 02:42] shouichi commented on #320
@KyleAMathews Thanks for the response. So, if I understand correctly Fig 1 and Fig 2 are equivalent?

###### Fig 1
[code]

###### Fig 2
[code]

@MoOx No particular reason but I want more control of routing rather than depending on the convention. I'll checkout Phenomic. Thanks!

[2016-06-10 03:32] adjohnson916 commented on #302
@KyleAMathews See my PR #321.

[2016-06-10 05:45] demoneaux opened #322 "Generate a JS file for each page."
I'm currently working on shifting my blog to Gatsby. I was wondering if it was possible to generate say one JavaScript file per page. This is to allow each post to use its own React components for demos and tutorials, while not adding excess page weight by causing users to load the whole blog's content.

[2016-06-10 06:47] KyleAMathews commented on #320
@shouichi yup!

@MoOx you like creating and maintaining route configurations? ;-)

[2016-06-10 06:47] #320 closed

[2016-06-10 06:50] KyleAMathews commented on #322
@demoneaux see https://github.com/gatsbyjs/gatsby/issues/10 for discussions of ideas on how to do this. It'd be great if you want to pick this up and run with it and start creating some PRs!

[2016-06-10 06:50] #322 closed

[2016-06-10 06:54] KyleAMathews commented on #318
@wpioneer I added Lumen just now to the README :-) https://github.com/gatsbyjs/gatsby#gatsby-starters

Is there a online demo of it somewhere? I'll add a link for that as well if there is.

[2016-06-10 08:21] MoOx commented on #320
@KyleAMathews Currently Phenomic rely on a splat parameter to catch all routes and the mapping is done into the component that handle the data fetching (Phenomic does not put all content in the bundle by default).
But soon you will be able to this kind of mapping

[code]

[2016-06-10 08:26] demoneaux commented on #10
@KyleAMathews would like to contribute, but I'm not too familiar with the Gatsby codebase and Webpack as well. Perhaps you could suggest a concrete place to start looking into?

[2016-06-10 10:51] wpioneer commented on #318
@KyleAMathews Thank you,

I added ;)

[2016-06-11 06:49] micahrye opened #324 "Building static site from contentful"
Is it possible to use a service like [Contentful](https://www.contentful.com/) with Gatsby. I want to build a static site from content stored/created on Contentful. Unfortunatly it does not work, and while the data is retrieved while running develop server, the build does not capture/use the content from Contentful.

This hybrid feature would be nice, pointers on where to start building this into

[2016-06-11 07:00] KyleAMathews commented on #324
Hi how are you doing the integration now? I'm not overly familiar with
contentful. Probably what you need to do though is write a script which
automatically copies down content to files within the Gatsby pages
directory.
On Fri, Jun 10, 2016 at 11:49 PM micahrye <notifications@github.com> wrote:

[2016-06-11 10:26] ivanoats commented on #324
I'm working on this too - I have a build step that connects to Contentful and then writes out the .md files needed for the build. I can ask if I can open source the code.

[2016-06-11 12:50] micahrye commented on #324
Ivanoats - if you can open source it I would be interested in contributing rather than starting from scratch. I want to use Gatsby for a project and in scoping out the project contentful fits one side and I want to use reactjs and Gatsby for the other side.

Kyle - not doing any integration yet. Just been scoping a project and deciding on tech approach. I think such support for something like cont

[2016-06-11 22:52] KyleAMathews commented on #324
@micahrye @ivanoats nice 👍 FYI, I'm going to be working fairly soonish on a site that will pull content from Evernote & (probably) Dropbox. I have some ideas for APIs that could be added to Gatsby that would simplify integration with 3rd party content sources as it'd be nice if each content source could have a robust Gatsby plugin. It'll be a little while so continue on with your approach but let'

[2016-06-12 07:26] KyleAMathews commented on #10
@demoneaux you'd like to contribute to this issue or in general?

[2016-06-12 18:10] adjohnson916 commented on #302
FYI I've published to npm a solution based on https://github.com/reactjs/react-router/issues/394#issuecomment-220221604 as a standalone module called [anchorate](https://github.com/adjohnson916/anchorate).

[2016-06-13 15:32] micahrye commented on #324
sounds good, will do :)

[2016-06-13 17:52] KyleAMathews commented on #302
@adjohnson916 anchorate looks cool. Perhaps even include it by default in at least the documentation starter as being able to link to headers is a feature people expect from using Github, etc.

We'd also need to add a header-id plugin for markdown-it. Do you use Markdown-it? Is there a plugin you'd recommend?

[2016-06-13 20:08] MoOx commented on #302
I did that if this can help https://github.com/MoOx/markdown-it-toc-and-anchor but this days I use remark as the AST approach is simpler for my brain.

[2016-06-13 21:31] KyleAMathews commented on #302
@MoOx looks good! Thanks for the pointer.

Good to know re: Remark vs Markdown-It. I don't really like that Gatsby hard-codes Markdown-It. I want to split Gatsby core soon into plugins so it'll be easy to swap in and out Markdown renders (as one example).

Also https://github.com/wooorm/remark-lint looks cool.

[2016-06-14 01:17] #310 closed

[2016-06-14 02:05] #317 closed

[2016-06-14 02:14] KyleAMathews commented on #281
@bryannaegele how are things? For a first PR, how about just adding the most basic Flow support e.g. flow-bin, the eslint & babel plugins, add a .flowconfig, and add /* @flow */ to each js file. After that's in, we add PRs that gradually add static typing (and fix errors like you found above as we go). I ask as I have some new Gatsby stuff in mind that I'd love to start playing with Flow plus have

[2016-06-14 02:50] #316 closed

[2016-06-14 05:31] bryannaegele commented on #281
Apologies @KyleAMathews. I've been slammed with a project at work. Luckily, it involves many hard-learned lessons with flow.

I can push a PR with the very basic setup later this week. We will need to refrain from running flow check as part of the test script if you want to add the flow flag to every file, as adding flow with even just the weak setting will generate a ton of errors.

So the two op

[2016-06-14 05:47] KyleAMathews commented on #281
Haha :-) sorry about that but lucky us :-)

Let's start with 2. I like having having things enforced by TravisCI as soon as possible. Also that'll give other people following along opportunities to jump in and contribute small Flow PRs if they'd like.

Re: narrowed scope. This is something I've been telling myself a lot recently as well as to break things into smaller chunks. I have to fit in Gats

[2016-06-14 13:55] brandonmp opened #329 "(quick) Question: new pages on live sites"
Since the site is rendering content files to html during the webpack build, does this mean that for something like a blog, every new post would require a fresh push to server?

If that's the case, does anyone have best-practices for that workflow?

New to static site concepts (but not react/webpack), so apologies if this is an absurd question!

[2016-06-14 14:53] Maxhodges opened #330 "Gatsby X Contentful X Netlify"
Hi I'm new here. Is there a forums for peer-to-peer help?

why "plain text"? Can it also render video and images?

Can it be used with content from Contentful? is anyone doing something like that?

Cheers!

[2016-06-14 14:56] Maxhodges commented on #308
Contentful has provisions for multi-lingual content. might be an interesting way to go
https://www.contentful.com/features/

_although I myself am still trying to get my head around how to integrate it with Gatsby!_

[2016-06-14 15:06] andreypopp commented on #308
The possible solution could be to create a `contentful-loader` for webpack. A relatively unknown feature of webpack is that loaders can be requested without the underlying resource:
[code]
Notice that `''` goes after the `!`.

[2016-06-14 16:01] Maxhodges commented on #308
btw just created the first [gatsby] tag for you on github

http://stackoverflow.com/questions/37816952/how-to-handle-contentful-content-data-in-gatsby

[2016-06-14 16:47] KyleAMathews commented on #308
@Maxhodges nice! Put a quick answer over there. Thanks for doing that. I don't have enough Stackoverflow cred to make new tags so hadn't been pushing people there. Probably time to start doing that as questions about Gatsby start to tick up.

[2016-06-14 16:50] KyleAMathews commented on #330
It can't natively treat video/images as "content types" *yet* but is in the plans. Right now you can still easily include images/text in pages either by linking to it normally e.g. `<img src="./my-picture.jpg" />` or using image loaders. See for example what @timurc did https://github.com/gatsbyjs/gatsby/pull/303

[2016-06-14 16:51] KyleAMathews commented on #330
Oh and on peer-to-peer help. Most activity has happened either here or on Discord but now that you've added the tag on Stackoverflow, I'm going to start pushing more people there. I've subscribed to the Gatsby tag there so should be easy enough to follow along.

[2016-06-14 16:54] KyleAMathews commented on #329
@brandonmp thanks for the question! I have an answer but this is the perfect sort of question to put on Stackoverflow. Could you go there and create the question (and tag it with `gatsby`) and then come back and paste the link here? I'll then answer over there. Thanks!

[2016-06-14 16:54] #329 closed

[2016-06-14 17:32] brandonmp commented on #329
Absolutely, thanks kyle. Great work keeping the issues channel clean :)

http://stackoverflow.com/questions/37818542/gatsby-static-site-gen-publishing-new-content

[2016-06-14 17:53] Maxhodges commented on #330
You prefer gatsby or gatsbyjs? 

Cheers,
Max

On Wed, Jun 15, 2016 at 1:51 AM +0900, "Kyle Mathews" <notifications@github.com> wrote:

Oh and on peer-to-peer help. Most activity has happened either here or on Discord but now that you've added the tag on Stackoverflow, I'm going to start pushing more people there. I've subscribed to the Gatsby tag there so should be easy enough to follow along.

—

[2016-06-14 18:01] KyleAMathews commented on #329
Answered!

[2016-06-14 18:04] KyleAMathews commented on #330
`gatsby` seems fine. I looked at a number of other JS projects to see what they use and it seems many don't have a trailing `js`. Gatsby is an uncommon enough word that we should be fine.

[2016-06-14 18:09] Maxhodges commented on #330
do you have any tips on how to get started with something like Contentful? So the articles would be structured JSON. Is there some way to feel that into the react components, or do I basically need to convert it to gatsby md first?

[2016-06-14 18:18] KyleAMathews commented on #330
Gatsby can handle JSON natively, see http://gatsbyjs.github.io/gatsby-starter-default/json/ So you could pull json straight from Contentful and use that to build pages.

Also there's some people discussing Contentful integration already @ https://github.com/gatsbyjs/gatsby/issues/324 How about we close this issue and move the discussion there?

[2016-06-14 18:32] Maxhodges commented on #330
Awesome news!
Sure thing! weird, I searched the repo before I posted, but somehow missed that

[2016-06-14 18:32] #330 closed

[2016-06-15 02:31] Maxhodges opened #332 "site search"
what are some strategies to getting search working on a static generated site? i.e. is it possible to allow people to search my blog if it's a static site? How would that work?

[2016-06-15 02:46] ivanoats commented on #332
I'm working on LunrJS integration. Therepo is on https://bitbucket.org/aerobatic/gatsby-lunr and hope to have a blog post on it by end of week.

[2016-06-15 04:48] Maxhodges commented on #332
thanks mate! LunrJS looks pretty good. Do let us know when your blog post is up!

[2016-06-15 05:03] MoOx commented on #332
You might find interesting stuff in this issue https://github.com/MoOx/phenomic/issues/142

[2016-06-15 05:06] Maxhodges commented on #330
tag approved!
http://stackoverflow.com/tags/gatsby/info

[2016-06-15 05:25] KyleAMathews commented on #330
nice! 👍

[2016-06-15 15:49] tribou opened #333 "Ignoring *.swp file types when using `gatsby develop`"
I wasn't sure where I'm supposed to configure ignoring file types such as `*.swp` produced by vim when using `gatsby develop`.  Currently, it reloads every time I switch between viewing different files since vim produces a `.swp` file for the current buffer.  Not a big issue, but it would be nice to ignore.  It might be good to go ahead and add that as default along with a `*.swp` entry to the def

[2016-06-15 16:44] KyleAMathews commented on #333
Webpack is what's responsible for watching files so I would research there. I'm not entirely sure how to help though as I use Vim and don't have any troubles. One easy solution would be to move saving your swp files to a different directory http://stackoverflow.com/questions/1636297/how-to-change-the-folder-path-for-swp-files-in-vim

[2016-06-15 16:44] #333 closed

[2016-06-16 08:53] crucialfelix opened #334 "Error: listen EADDRINUSE 0.0.0.0:8000 but no other process is running"
This is a bit curious.

1. Start up another webpack project that is serving on 0.0.0.0:8000
2. Try to run gatsby. It correctly complains of EADDRINUSE and hangs.
3. Ctrl-c gatsby
4. Ctrl-c the other webpack
5. Try to run gatsby again. Still complains of EADDRINUSE and hangs

Checking htop there are no other processes running. But something (perhaps gatsby at step 2) is still hanging onto this port

[2016-06-16 18:43] KyleAMathews commented on #334
Thanks for the error report! I agree this is a sucky UX + you're right, the dev server should *not* start listening if there's an error.

I just created a PR to fix this #335. In the above scenario, Gatsby now outputs an error message like the following then quits.

[code]

[2016-06-16 18:45] NogsMPLS commented on #334
+1000000 for including PID in the error message. bookmarking this so i can come back to it later for my own stuff.

[2016-06-16 19:25] crucialfelix commented on #334
Sounds good.  Thanks !

On Thu, Jun 16, 2016 at 8:43 PM Kyle Mathews <notifications@github.com>
wrote:

--
https://twitter.com/crucialfelix
https://medium.com/@crucialfelix
http://www.mattermind.com/

[2016-06-16 22:02] #334 closed

[2016-06-16 22:16] KyleAMathews commented on #334
Just published 0.11.5 🎉 🎉 🎉

Thanks for raising the issue @crucialfelix! This has always kinda bothered me but your pushing crystalized a good solution. Cheers and happy Gatsbing.

[2016-06-17 00:56] adjohnson916 commented on #302
For ideas on anchors with markdown-it, see https://github.com/markdown-it/markdown-it/issues/28.

Also consider https://github.com/bryanbraun/anchorjs that generates anchors with client-side JS, to which I recently added npm support.

[2016-06-17 02:07] adjohnson916 commented on #309
@KyleAMathews I can't seem to get `componentDidMount` to fire in `html.js` or `_template.jsx` using `gatsby develop`, maybe it's not supposed to, or I'm doing something wrong?

[2016-06-17 18:50] ivanoats commented on #324
Here's the script I am using to pull down data from Contentful:
https://gist.github.com/ivanoats/e79ebbd711831be2536d1650890055c4

I run this via an npm run script before gatsby build.

I would love to work on a plugin or get ideas on better architecture for this process.

[2016-06-17 20:44] emilyaviva opened #337 "Set NODE_ENV=production on node process when running "gatsby build""
I am finishing a Gatsby-ified version of my personal website (http://emilyaviva.github.io/eakm-website-gatsby) and a sticking point seems to be that when the source (http://github.com/emilyaviva/eakm-website-gatsby) is run normally in develop mode, the font-awesome fonts get included, but when it is actually built, the font-awesome fonts don't make it in, somehow. My guess is this has to do with t

[2016-06-17 21:14] KyleAMathews commented on #337
TBH, I haven't tried loading fonts with Gatsby. Someone else contributed the font webpack config here https://github.com/gatsbyjs/gatsby/blob/aeccf948ebe4470582e109dbfd5f6f1eb152e35b/lib/utils/webpack.config.js#L255-L258

It is setup to run the same though in both develop and production.

[2016-06-18 00:23] emilyaviva commented on #337
It worked fine once I built it with `NODE_ENV=production`. All I've done, in my `index.js`, is `import 'font-awesome/scss/font-awesome.scss'`, which uses the built-in Sass loader. I haven't needed to mess with custom loaders for woff, ttf, etc. files.

I like it when things Just Work™! :)

[2016-06-18 18:12] KyleAMathews commented on #337
Mmmm... I've heard people say this before and it just occurred to me why. We autoset `NODE_ENV=production` on `gatsby build` in the Webpack build but that only applies to *inside* Webpack e.g. the React.js code and *not* to stuff outside of the Webpack context e.g. Webpack loaders. I don't have time to throughly investigate this right now but I'm guessing that's the problem and the solution would

[2016-06-18 21:00] edouerd opened #339 "After running gatsby develop, I receive an error: 'YAMLException...'"
Hi there!

After running `gatsby develop`, I received the following error, one I haven't run into:

[code]

I'm not sure why this is happening, I didn't edit or change up any files to prompt the error.

Thanks!

[2016-06-19 22:40] KyleAMathews commented on #339
This looks like a YAML error. You'll want to look closely at the "frontmatter" in your markdown files (which needs to be proper YAML) for what's wrong. From this page, it might be that one of your yaml strings has a colon in it: https://hexo.io/docs/troubleshooting.html

[2016-06-19 22:40] #339 closed

[2016-06-19 22:42] #302 closed

[2016-06-22 22:44] ivanoats commented on #200
Yes this would be really useful.

[2016-06-27 17:11] kennu opened #341 "ES7 async/await support"
Hi. I added async/await support to my Gatsby project by adding this to `gatsby-node.js`:

[code]

And by installing the polyfill package:

[code]

I guess this could be some kind of default in Gatsby to avoid manually messing with the entry array order.

(Tweeted about it as @kfalck, I'm also @kennu on Twitter.)

[2016-06-27 18:23] KyleAMathews commented on #341
Hmmm... yeah normally you'd just import something like this at the top of your entry file but since Gatsby controls that you need to do this.

That being said, this is *exactly* why `modifyWebpackConfig` exists to make these sorts of customizations. I could be persuaded otherwise but is adding polyfills common enough that we want to add a new option to Gatsby just to support it? I think I'd just r

[2016-06-27 19:29] kennu commented on #341
The ugly part seems to be in getting babel-polyfill to the beginning of the entry array. I couldn't figure out a way to do it without manually resetting `config._config.entry`. If that could be solved nicely, this would be a simple thing to document.

[2016-06-27 19:59] KyleAMathews commented on #341
Perhaps the "config as a function" option would be cleaner? https://www.npmjs.com/package/webpack-configurator

But yeah, more examples of doing stuff like this with webpack-configurator would be +++

[2016-07-01 05:35] KyleAMathews commented on #281
Adding tcomb for runtime checks might be interesting thing to explore in future https://github.com/gcanti/babel-plugin-tcomb

[2016-07-06 01:53] #193 closed

[2016-07-06 02:38] #337 closed

[2016-07-06 02:38] KyleAMathews commented on #337
@emilyaviva this is going out in a new release in a sec. Would be very appreciative if you could upgrade and see if the issue is in fact resolved.

[2016-07-06 03:37] ivanoats commented on #337
I think this does it! Thanks Kyle, you have been rockin' today 🚀

[2016-07-06 03:44] KyleAMathews commented on #337
:D thanks!
On Tue, Jul 5, 2016 at 8:37 PM Ivan Storck <notifications@github.com> wrote:

[2016-07-06 04:58] emilyaviva commented on #337
fixz0r3d!

[2016-07-06 05:15] KyleAMathews commented on #337
💯
On Tue, Jul 5, 2016 at 9:58 PM Emily Aviva Kapor-Mater <
notifications@github.com> wrote:

[2016-07-06 06:52] #318 closed

[2016-07-06 11:55] Maxhodges commented on #309
@hitchcott can you share a bit more about your build? I just installed semantic-ui into a gatsby project but my CSS isn't working. Not sure how to get the CSS loaded in my page. React is suppose the in-line styles right, but how does it know about them? Also I suppose I should configure webpack to do the LESS build instead of gulp. Did you just install the webpack-lessloader?

[2016-07-06 13:05] Maxhodges opened #349 "how to replace index.md with index.jsx"
I pulled the [starter documentation demo](https://github.com/gatsbyjs/gatsby-starter-documentation), and added Semantic-UI to the project. How can I replace the default `index.md` file with a react component instead? I'm not sure why it's expecting index.md. I removed it.

[code]

[2016-07-06 13:08] Maxhodges commented on #349
ah nevermind! It seems after deleting files I need to stop the server and run gatsby develop again then refresh the browser!

[2016-07-06 13:08] #349 closed

[2016-07-06 15:56] KyleAMathews commented on #349
Yeah... :-( not obvious at all unfortunately. I think this can be eliminated in the future but need to do some experimenting...

[2016-07-06 18:07] kylegach commented on #309
@Maxhodges — It’s Webpack, not React, that “knows” about your styles. Webpack knows because you import or require the compiled file(s) somewhere in the JS files that get bundled.

For example, I import my main `styles.css` in the [`_template.js`](https://github.com/kylegach/kylegach_com/blob/master/pages/_template.js) file, so when Webpack builds the bundle, it includes those styles – inline when

[2016-07-10 23:00] pamo opened #352 "Vulnerable Package Dependency: minimatch"
Ran [snyk](https://snyk.io/features) on my blog and found a vulnerable dependency in Gatsby.

[Regular Expression Denial of Service](https://snyk.io/vuln/npm:minimatch:20160620)

**Snyk Details**

[2016-07-10 23:12] pamo commented on #352
Seems like it would be on the contributors of postcss-import to update 😞

[2016-07-10 23:13] KyleAMathews commented on #352
Hey @pamo — thanks for raising this issue. This *shouldn't* be a problem though for your blog or Gatsby sites in general as minimatch code is only run by Gatsby while developing so safely protected from any malicious actors. I don't recommend exposing a Gatsby development server to the public generally speaking. This is one of the great things about static sites is that they're just files, so not

[2016-07-10 23:13] #352 closed

[2016-07-11 23:15] ihororlovskyi commented on #287
@patrykkopycinski thanks
`file-loader` helped me

[2016-07-16 19:47] carlflor opened #353 "Wrapper vs Template"
Hi, I'm quite new with static site generators. I'd just like to clarify the difference between pages/_template and wrappers/md.js

I've been reading up on posts about Gatsby and watch videos, but I still couldn't get it exactly. I'm confused since they seem to show how a post and the index page would look like. I'm familiar how a template works though (I've used on Jekyll and Rails). Would really

[2016-07-16 20:00] carlflor commented on #353
okay nevermind, I figured out a few minutes after posting this noob question. If I got it right, posts in `.md` are wrapped as react components before they get rendered inside the template component?

[2016-07-16 20:00] #353 closed

[2016-07-17 16:52] luckypoem commented on #33
hi.
@KyleAMathews
now the pagination is still not supported?
http://surmount.biz.st:2357/
how to paginate?

[2016-07-18 01:45] KyleAMathews commented on #33
Not yet...

[2016-07-18 16:08] colbycheeze opened #356 "Unable to use the fs lib for some reason?"
Hi, I am trying to load a file with fs so doing the usual `import fs from 'fs'`

...but for some reason I get this:
[code]

Can't seem to find an answer that works from Google. Any idea what causes this?

[2016-07-18 16:34] KyleAMathews commented on #356
Is this in a frontend module or node module? If frontend, you can't access
the file system.
On Mon, Jul 18, 2016 at 9:08 AM Colby Williams <notifications@github.com>
wrote:

[2016-07-18 17:02] colbycheeze commented on #356
Nevermind I'm silly, I guess I was able to just `require('myfile.yaml')` and it read it as an object properly. Thanks for the quick response though :)

[2016-07-18 17:02] #356 closed

[2016-07-18 18:04] KyleAMathews commented on #353
Yup exactly!

[2016-07-20 15:25] everdimension opened #358 "What is the proper upgrade routine?"
If I install a newer version of `gatsbyjs`, should I / can I upgrade the project I am already working on?

[2016-07-20 15:54] KyleAMathews commented on #358
Do you mean when you install a newer "global" version of Gatsby? If that's the case, the global Gatsby install always defers to the local install so you don't need to worry about upgrading the actual project you're working on.

So if something is working, there's no need to upgrade really. That being said, you can read the release notes on newer versions and see if there's anything that tempts an

[2016-07-20 16:35] everdimension commented on #358
Just noticed that after I posted. An idea: why don't you ship the `package.json` with the `develop` and `build` scripts added so that someone who doesn't have `gatsby` installed globally can collaborate on a gatsby project, too? `npm run develop` and `npm run build` are by far more common within the community than `gatsby develop` and `gatsby build`

Another thing. More offtopic, but a problem occ

[2016-07-20 18:33] #208 closed

[2016-07-20 18:41] KyleAMathews commented on #358
That's a great point re adding scripts to the starters. I'll do that shortly.

Hmmm... it's a bug if the errors aren't being sent to the console... let me know if you figure out where they're being silenced.

[2016-07-20 19:02] KyleAMathews commented on #358
Added the scripts to the starters https://github.com/gatsbyjs/gatsby-starter-default/blob/master/package.json#L60

I'm going to close this now but please tell me if you find out why the error wasn't being written out.

[2016-07-20 19:02] #358 closed

[2016-07-20 19:41] colbycheeze commented on #287
How do you "add `file-loader`" to the project? (sorry, I'm really noob at webpack)
I'm having the same issue right now in my project.

[2016-07-20 19:49] KyleAMathews commented on #287
Hey Colby, you are in luck!
https://github.com/gatsbyjs/gatsby/releases/tag/v0.12.0

Fixed in latest release. Hadn't quite gotten to closing this.
On Wed, Jul 20, 2016 at 12:41 PM Colby Williams <notifications@github.com>
wrote:

[2016-07-20 19:49] #287 closed

[2016-07-20 19:50] KyleAMathews commented on #18
Shipped solution to this in 0.12 https://github.com/gatsbyjs/gatsby/releases/tag/v0.12.0

[2016-07-20 19:50] #18 closed

[2016-07-20 19:55] colbycheeze commented on #287
Wow, good timing. Thanks a bunch 😄

[2016-07-20 20:25] everdimension commented on #358
sure!

[2016-07-20 20:28] colbycheeze opened #359 "Do I need to make changes to the existing code to continue using yaml?"
After the update I am getting this error anywhere I am trying to read a yaml file:
![image](https://cloud.githubusercontent.com/assets/8884298/17001896/8a323148-4e8e-11e6-81f5-ff0eb4d1f758.png)

This is what shows up in the browser:
![image](https://cloud.githubusercontent.com/assets/8884298/17002096/6d34a462-4e8f-11e6-8272-d2141bd9872c.png)

I only bumped the version and then saw this.

[2016-07-20 21:11] KyleAMathews commented on #359
Quick thing to try is installing the latest yaml-loader in your project
On Wed, Jul 20, 2016 at 1:28 PM Colby Williams <notifications@github.com>
wrote:

[2016-07-20 21:16] colbycheeze commented on #359
I tried pulling down your latest "gatsby-starter-default" to see if it was related my project but it seems to be happening there as well:
![image](https://cloud.githubusercontent.com/assets/8884298/17003393/5ca3a660-4e95-11e6-8dac-de7c2e608672.png)

[2016-07-20 21:25] joshhornby commented on #359
I can confirm this is a bug on a fresh install.

[2016-07-20 21:28] KyleAMathews commented on #359
Hrmm... investigating

[2016-07-20 21:29] KyleAMathews commented on #359
huh... works on my machine :-)

Wiping `node_modules` and trying a fresh install.

[2016-07-20 21:38] KyleAMathews commented on #359
Ok found it. yaml-loader doesn't need to be chained with json-loader anymore. They just made a new release and I missed the change. https://github.com/okonet/yaml-loader/commit/36d12a8b336a87e7d4f0a3e60b83a6e82e5772e9 Will make a new release of Gatsby real quick.

[2016-07-20 21:38] #359 closed

[2016-07-20 21:42] KyleAMathews commented on #359
0.12.1 is out.

[2016-07-21 06:49] KyleAMathews commented on #27
Good resources:

* https://medium.com/@okonetchnikov/long-term-caching-of-static-assets-with-webpack-1ecb139adb95#.lsxm249f1
* https://github.com/mjackson/web-starter/commit/bc94edd2d4d6270e4905c33da2cf673b8eb3b6ce

[2016-07-21 22:31] interglobalmedia commented on #186
Has anyone successfully done this? I'm wavering between Jekyll and something like Gatsby. Any thoughts?

[2016-07-22 01:21] KyleAMathews commented on #186
@interglobalmedia have you tried using the Jekyll import tool for Wordpress? Once you've converted your site to Markdown, it'd be easy to try both Jekyll & Gatsby.

Just copy all the Markdown into the `/pages/` directory of the blog starter http://gatsbyjs.github.io/gatsby-starter-blog/ https://github.com/gatsbyjs/gatsby-starter-blog/tree/master/pages

[2016-07-22 01:52] interglobalmedia commented on #186
Thanks @KyleAMathews! I just downloaded Gatsby tonight for another project that is not WordPress related. I wanted to try and go with Gatsby because of the easy integration with React. I already know about Jekyll and will use it for WordPress import. I've decided to check out Gatsby for this smaller project that can use the benefits of React. Have the starter blog downloaded for Gatsby. Pretty coo

[2016-07-22 02:25] KyleAMathews commented on #186
Awesome! Let us know if you have any trouble!
On Thu, Jul 21, 2016 at 6:52 PM Maria Campbell <notifications@github.com>
wrote:

[2016-07-22 02:47] interglobalmedia commented on #186
I am having trouble with something, but I don't know where it is emanating from. Suddenly when I tried to install MongoDB onto my computer with homebrew, I was denied permission. This was after I had downloaded Gatsby. It related to the /user/local path. Anyone every complain of that problem? Not saying it's Gatsby, but just thought I would throw it out there. Still trying to figure this one out.

[2016-07-22 03:27] interglobalmedia commented on #186
Hey @KyleAMathews , it was an El Capitan/Homebrew issue that THINK I managed to resolve. I will be testing it out tomorrow. Looking forward to playing around with Gatsby tomorrow as well!

[2016-07-22 03:56] KyleAMathews commented on #186
great :-)

[2016-07-22 21:33] KyleAMathews opened #362 "Add eslint-loader"
We ship starters with eslint configs but they're basically useless unless a user has their editor setup to support Eslint. Add eslint-loader would change that as errors would then show up in the console/browser. If we do this however, the eslint config in starters should probably be a lot less opinionated though so we're not pointlessly pushing the arbitrary eslint choices I've made here.

https:/

[2016-07-22 22:34] kennu opened #363 "Out of memory with lots of files (1000+) under AWS Lambda"
I've started to get SIGKILLs when running Gatsby builds under AWS Lambda, after my project went over 1000 .md files. According to the logs all available memory (1536 MB) is being used, so I'm pretty sure this is caused by running out of memory.

Any ideas how to scale Gatsby without requiring more and more memory when the number of static files grows?

[2016-07-22 22:45] KyleAMathews commented on #363
Hey @kennu this would be a great question for StackOverflow — you want to move the question over there and tag it with `gatsby` and post the link back here?

[2016-07-22 22:45] #363 closed

[2016-07-22 22:47] kennu commented on #363
I take it this is then a configuration issue, not a development issue?

[2016-07-22 22:48] konsumer opened #364 "url / issue"
I have 2 demo sites [my blog](http://blog.jetboystudio.com/) and this [starter demo](http://konsumer.js.org/gatsby-starter-drunkenblog/). Both work great local.

Running with the same code, my blog still needs a trailing `/` on links to work (on gh_pages.) On the starter demo, it adds them.  The only real difference I can tell is that on my blog I put everything directly in `pages/articles/`(`page

[2016-07-22 22:49] KyleAMathews commented on #363
Yeah. I'd like to keep issues for bugs/new development and start moving
more "how do I do x" type questions to stackoverflow where they can live
forever. If an issue is closed it's hard to find which makes them a bit
useless for new people.
On Fri, Jul 22, 2016 at 3:47 PM Kenneth Falck <notifications@github.com>
wrote:

[2016-07-22 22:59] kennu commented on #363
Okay thanks. I added a question here: http://stackoverflow.com/questions/38536371/how-to-scale-gatsby-to-1000s-of-static-files-without-running-out-of-memory

[2016-07-22 23:07] KyleAMathews commented on #364
So the problem is `page.path` doesn't have a trailing slash at times? https://github.com/konsumer/gatsby-starter-drunkenblog/blob/master/pages/index.js#L38

[2016-07-22 23:13] konsumer commented on #364
Ah dood! I just need to edit the front-matter paths! thanks.

[2016-07-22 23:16] KyleAMathews commented on #364
Well... this is actually pretty weird. The `page.path` *should* always have a trailing slash. We should investigate why not. This isn't something a site should need to check for.

[2016-07-22 23:29] konsumer commented on #364
Yeh, that makes sense. I understand that `articles/article_name/` doesn't exactly map to `articles/article_name.md` as well as `articles/article_name/index.md`, but maybe it should be handled at a higher level than the path-fixer (like in the router) so it will work intuitively, out-of-the-box.

For just fixing the path front-matter on my blog, [here](https://gist.github.com/konsumer/ea6317c2e2d7a

[2016-07-24 09:12] alexzaporozhets opened #365 "I'm not able to start a new project with gatsby new command"
**> gatsby new my-test-gatsby-site**
[code]

[2016-07-24 15:40] KyleAMathews commented on #365
Hmmm NPM 2 strikes again. Need to look at our tests again for the new
command.

The simplest solution for now is to uninstall Gatsby, upgrade to npm 3 (npm
install -g npm), and then reinstall Gatsby, and then rerun the "gatsby new"
command.
On Sun, Jul 24, 2016 at 2:12 AM alexzaporozhets <notifications@github.com>
wrote:

[2016-07-24 22:03] benstepp commented on #365
related: airbnb/javascript#952

[2016-07-27 17:23] KyleAMathews opened #367 "Integrate Webpack validator?"
https://www.npmjs.com/package/webpack-validator

Run this on start to ensure any user-added webpack config is valid + add this as a test to ensure core webpack config is also valid.

[2016-07-27 22:04] KyleAMathews opened #368 "Offer to start server on different port if taken"
Currently we suggest people try a different port but no reason not to just do it for them.

Idea from https://github.com/facebookincubator/create-react-app/pull/101

[2016-07-30 17:22] #365 closed

[2016-07-30 20:23] cutemachine opened #370 "Upgrade to 0.12.1 is causing performance issues while building"
I just updated my project to use the latest Gatsby version 0.12.1 (0.12.2 has the same prob).

My project has over 180 images. When I do `gatsby develop` my whole computer becomes very slow. There are over 30 optipng (sometimes pngquant) processes in the process list.

It takes several minutes until I see the first webpack build message in the console:

[code]

I have no special setup regarding im

[2016-07-30 20:34] KyleAMathews commented on #370
Hmmm that's bad. Image optimization was added for 0.12 (
https://github.com/gatsbyjs/gatsby/releases/tag/v0.12.0) but clearly this
causes problems if you have a lot of images. I can give you more explicit
instructions when I'm near my laptop again but basically you'll want to
modify the default image loader to disable image optimization and just use
a simple file loader.
On Sat, Jul 30, 2016 at 1:

[2016-07-30 21:01] cutemachine commented on #370
Thanks Kyle for the quick response. I downgraded to 0.11.7 which works perfectly.

What do you think about moving the image optimization to a pre-build step? Whenever I add an image, I just run a script and add the optimized images to the git repo.

Would be great if you could drop me a line on how to add that default image loader. No rush though. Thanks again for Gatsby :)

[2016-07-31 21:48] LukeSheard commented on #368
I'll take this on. We can use the same idea as react app and increment the port if it's in use after prompting the user?

[2016-07-31 22:29] KyleAMathews commented on #368
Yup! Thanks!
On Sun, Jul 31, 2016 at 2:48 PM Luke Sheard <notifications@github.com>
wrote:

[2016-08-02 08:28] lifeiscontent opened #373 "dynamic pages?"
Hi, I was wondering if Gatsby has support for something like this?

https://middlemanapp.com/advanced/dynamic_pages/

I'd like to pass some data to a template and have Gatsby generate the pages

[2016-08-02 11:33] savolai opened #374 "When using gatsby develop with JS disabled, instruct the user that the HTML for pages are not rendered on the server"
instruct users on how to get both static and dynamic site running

Re: https://github.com/gatsbyjs/gatsby-starter-documentation/issues/10#issuecomment-235993501

[2016-08-02 19:01] tribou commented on #370
I also hit a perf issue with image-webpack-loader and ended up using it only for production builds:

`/gatsby-node.js`
[code]

However, in the end, I removed it entirely and started running any new images through [ImageOptim](https://imageoptim.com/mac) once manually to make both dev and prod builds much faster. 😉

[2016-08-02 19:23] tribou opened #376 "Enable camelCase by default for CSS Modules"
I wanted to bring this up for discussion as I use `camelCase` by default with CSS modules since it lets me key in the class associations a bit faster.

[code]

With:

[code]

Without:

[code]

This may just be an opinion piece; but for me, it looks cleaner and can be typed faster.

[2016-08-02 20:56] KyleAMathews commented on #376
Yeah this makes a lot of sense. Actually I thought CSS Modules did camelCase by default :-)

I'll support this change. Anyone else with thoughts? @gatsbyjs/gatsby-core-maintainers

This would be a breaking change so wouldn't go in for a bit.

[2016-08-02 21:08] cutemachine commented on #370
Thanks tribou.

I use this in my gatsby-node.js file:

[code]

And optimize my images manually with something like this:

    pngquant --force --ext .png */*.png

@KyleAMathews Please, feel free to close the issue. Cheers.

[2016-08-02 21:17] MoOx commented on #376
Why don't you just define your css classes as .camelCase ?
This will make it harder for everyone to lookup for references...

[2016-08-02 21:18] NogsMPLS commented on #376
CSS Modules doesn't enforce it, though ti is recommended that you write you classnames in camelCase specifically because of this case.

though I'm not sure if I agree with mutating the class names like that.

If i write `.my-class` in CSS, but want `myClass` in JS, why not just type `.myClass` in CSS in the first place?

[2016-08-02 22:30] tribou commented on #376
I have no excuse... Other than dasherized class/property names have been the standard with CSS for years and old habits die hard, I suppose. 😄

FYI, `css-loader` injects both versions of `css.myClass` and `css['my-class']` into the resulting object when `camelCase` is enabled, so this actually wouldn't be a breaking change.

e.g.
[code]

[2016-08-02 22:35] KyleAMathews commented on #376
Well if it's not a breaking change... I can't see the harm then.

[2016-08-02 22:47] NogsMPLS commented on #376
Ah, well, as long as it doesn't get rid of `my-class`, but instead appends a `myClass` then yeah, I'm for it.

:+1:

[2016-08-02 23:32] KyleAMathews opened #377 "Add option to skip css build step"
Not all sites have css so they should be able to save the ~5-10 seconds uselessly spent trying to build css.

Something like `gatsby build --skip-css`

[2016-08-03 00:07] KyleAMathews commented on #377
Then again... flags complicate the UX a lot. This is something Gatsby should be able to infer itself.

[2016-08-03 00:07] #377 closed

[2016-08-03 12:00] jakubrohleder commented on #376
Same thoughts, adding this option seems reasonable. I didn't know about 👍

[2016-08-03 23:47] KyleAMathews commented on #373
Yes-ish.

You can't yet dynamically create pages but if you add a react component file (e.g. `cool-dynamic-page.js`) it'll get created at `/cool-dynamic-page/`. Each page component gets passed all site data at `this.props.route.pages`. A good example of this is the index page for the blog starter https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/pages/index.js

[2016-08-03 23:47] #373 closed

[2016-08-03 23:47] KyleAMathews commented on #373
I'm working towards making this paradigm much more powerful.

[2016-08-04 03:27] benstepp commented on #341
So all you need is `babel-polyfill` at the beginning of the entry array? Maybe [Array.prototype.unshift](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/unshift) will help clean up the 'ugly'.

[code]

[2016-08-04 14:29] kennu commented on #341
I wasn't quite sure if you can just bypass `config.resolve()` and `config.merge()` and modify the variables directly.

[2016-08-04 22:06] KyleAMathews opened #379 "Fail in cleaner fashion if user runs gatsby develop in a non-gatsby directory"
Right now it complains about their not being a local gatsby install and throws out a bunch of cryptic errors and then quits. I was helping a friend setup Gatsby and they got stuck for a bit as they hadn't entered the new gatsby directory after running `gatsby new`.

It's now been ~6 months since we added support for Gatsby being a local install. I think at the next minor version we should enforce

[2016-08-08 21:45] dardub commented on #370
Besides number of images, we're also running into long compile times for larger images.  Between the marketing department and designers we're stuck with using large pngs for a current project. :(

[2016-08-10 13:36] theduke opened #383 "Path rewrite"
For some pages, I want to to change the URL path in the router to not map directly to the path on the filesystem.

For example: a blog post in a file "blog/2015-01-01-post-title" should have a path "blog/post-title".

Where can I hook into the route building process to change that?

[2016-08-10 13:40] hiddentao opened #384 "How do I get React Router to handle links to markdown files?"
I have a folder structure like:

[code]

In `pages/docs/index.md` I have a link to the middleware docs like: `[Middleware](Middleware/).

When I run `gatsby develop` the pages get rendered correctly. But when I click the middleware link above the browser loads the Middleware HTML page afresh instead of doing an in-page navigation (i.e. using React Router).

What am I doing wrong?

[2016-08-10 13:42] hiddentao commented on #384
I've tried to figure this out from looking at Gatsby code. From what I can see the files are stored in the bundle.js using against their original paths rather than the URL I use in the link (e.g. `./docs/Middleware/index.md`). Perhaps this is a reason why the React Router doesn't handle the URL?

[2016-08-10 13:47] theduke commented on #383
Ok, seems like Gatsby automatically rewrites the path if the page has a metadata field "path".

This should really be documented somewhere!

[2016-08-10 18:34] KyleAMathews commented on #384
You want to do something like this line in gatsby-starter-blog https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/pages/index.js#L29

Use the `<Link>` component from react-router and `prefixLink` from 'gatsby-helpers' if you are deploying to something like Github pages.

[2016-08-10 18:34] #384 closed

[2016-08-10 18:37] KyleAMathews commented on #383
You can also programatically rewrite paths by exporting a `rewritePath` in gatsby-node.js. Also not documented yet :-\

https://github.com/gatsbyjs/gatsby/blob/364a5496ce172e117cc9fc7b10bb1e338693c2ec/lib/utils/build-page/url-resolver.js#L11

See my blog for an example https://github.com/KyleAMathews/blog/blob/master/gatsby-node.js

[2016-08-10 18:37] #383 closed

[2016-08-10 22:25] ivanoats opened #386 "Anchor Links, part 2"
Is there a plan to support or document how to make anchor links work?

I know https://github.com/gatsbyjs/gatsby/issues/302 is closed for now, but it's not clear how to work-around.

I have a fork of gatsby-starter-default that reproduces the error here: https://github.com/ivanoats/gatsby-starter-default/blob/master/pages/html.html

[2016-08-10 22:28] ivanoats commented on #386
D'oh - https://github.com/adjohnson916/anchorate#gatsby - I will try that.

[2016-08-10 22:33] ivanoats commented on #386
Works great! Should we add it to starters, README, or both?

[2016-08-11 04:24] KyleAMathews commented on #386
Don't think they need to be in starters (other than perhaps the documentation one) but yeah, this would be great to add to the README.

[2016-08-11 04:41] ivanoats commented on #386
1) Cool, I will make a PR for the README.

2) Starters: OK, hear me out on this. Anchors are such a basic part of HTML that we need to explain if something is broken with HTML out of the box. Maybe I've been using HTML for too long and that's why I feel that way, but that's what I think.

[2016-08-11 11:38] funkybunky commented on #33
Hey there! :) Could you please outline the steps (files to touch, etc) in order to implement a tags feature? I'm thinking about contributing, but as I'm not familiar with the codebase, could need a few hints where to start.

[2016-08-11 16:59] KyleAMathews commented on #386
hmmm... that is a good point actually. I added react-router-scroll for the
same reason. We do have to emulate features that the browser normally
provides by default. Changed positions — perhaps even make this turned on
by default in Gatsby?

On Wed, Aug 10, 2016 at 9:41 PM Ivan Storck <notifications@github.com>
wrote:

[2016-08-11 17:03] KyleAMathews commented on #33
@funkybunky this is actually something I'm working on right now :-) to make it happen will require a fairly big change so not something that's easy to describe here.

If you need tags in the short-term, the easiest thing to do is to just manually (or programmatically) create pages for each tag e.g. `/pages/tag-1.js`, `/pages/tag-2.js`, etc. and in each filter out the tagged content you want to sho

[2016-08-11 17:14] KyleAMathews commented on #370
hmmm... looks like this feature was a flop :-) I'll remove it in the next minor breaking release. I'm planning on adding a plugin system (finally) soon so image optimization being added to Webpack would be a great plugin (with the caveat in the README that it's not optimal if you have a lot of images).

[2016-08-12 01:29] kaihendry opened #387 "gatsby build output should be gzipped"
I noticed the files in the `public/` output folder aren't gzipped. They should be by default, shouldn't they?

Or is there a deployment trick I'm missing?

[2016-08-12 02:01] KyleAMathews commented on #387
Most web servers gzip files on the file for you. This certainly could be
done if you'd like post-build.
On Thu, Aug 11, 2016 at 6:29 PM Kai Hendry <notifications@github.com> wrote:

[2016-08-12 02:05] kaihendry commented on #387
I think it's silly to put this (dynamic) task on the server when should be statically gzipped to begin with.

I'm not familiar with the JS toolchain. How doesn't one do a gzip post-build?

[2016-08-12 04:34] benstepp commented on #387
Gatsby has a [hook for postBuild](https://github.com/gatsbyjs/gatsby#perform-additional-post-build-step) that allows you to do pretty much anything with the files after their built. Here's a quick example that will gzip all html, css, and js files to their .gz counterparts postBuild.

[code]

That said I would still leave gzipping to the webserver / CDN.

[2016-08-12 04:43] kaihendry commented on #387
Why would you leave gzipping to server? Increase latency? For it to use something inferior to `gzip --best`? Seriously would love to know! :laughing:

Btw, you shouldn't add the .gz content. It should just be compressed and typically `--content-encoding gzip` needs to added to dumb servers if they can't detect it's gzipped.

[2016-08-12 04:54] benstepp commented on #387
We only have nginx running in front of a bunch of Rails APIs in Docker containers at this point and I'm just guessing that nginx is faster at gzipping than any ruby runtime.

For our static assets, we just check the compress objects automagically checkbox on CloudFront and let it do its thing. I figure Amazon has got the fastest way possible figured out by now.

[2016-08-12 05:52] kaihendry commented on #387
Surely the "fastest way" is to do it in advance as a build step? It's pointless to put this task on the server unless you're lazy.

[2016-08-12 05:55] KyleAMathews commented on #387
I'm perfectly happy to be lazy left and right as long as someone else picks up the slack :-)

I've never seen another system like Gatsby that defaults to gzipping output. It seems better to just let users choose. Once we have a plugin system, you could create a plugin that gzips everything by default and share it with the community. In the meantime, @benstepp's code example is a great solution. Cl

[2016-08-12 05:55] #387 closed

[2016-08-12 13:18] tribou opened #388 "Add API for hooking into the web and static entries"
I saw you can respond to route transitions, but is there a way to hook up browser initialization tasks like creating a `redux` store or starting the `offline-plugin` runtime?

[2016-08-12 13:30] benstepp commented on #388
We needed to put redux in our latest project, and as far as I know there isn't a way using gatsby-browser to hook into the entry. What we did was just copy the `static-entry` and `web-entry` files and just did what we needed there. We used modifyWebpackConfig to point to the entries.  I think a great idea for a starter would be one set up with redux.

[code]

[2016-08-12 18:15] KyleAMathews commented on #388
This would be an excellent hook to add.

[2016-08-12 18:18] KyleAMathews opened #390 "Blogged about plans for Gatsby"
This is a quick announcement issue. I blogged just now about my plans moving forward with Gatsby. The tl;dr is I'm now working full-time on Gatsby and I'm looking for sponsorship/consulting opportunities. Read the post for more details plus the highlights on what I want to work on in the next few months:

https://bricolage.io/gatsby-open-source-work/

Please contact me @ mathews.kyle@gmail.com if

[2016-08-12 18:35] kylegach commented on #390
Super excited about the Service Worker and ”Pull instead of Push” work!

Best of luck, Kyle!

[2016-08-13 16:58] tribou opened #392 "Webpack publicPath is not set during build-javascript stage"
Is there a reason the `output.publicPath` is not being set during the `build-javascript` stage?  I found that my imported images (using `file-loader`/`url-loader`) were generating relative paths which would break when browsing away from the root path.  Adding this to `gatsby-node.js` appears to fix:

[code]

I'm guessing a more permanent solution would need to respect the `linkPrefix` config.

[2016-08-13 19:36] KyleAMathews commented on #392
I can't think of/remember any reason why `publicPath` isn't set there (and for the build-html stage)... and yeah, it probably should use the `linkPrefix` that's set. Want to create a PR?

[2016-08-13 21:14] funkybunky commented on #33
@KyleAMathews thanks for the follow-up! Cool to know that you're working on it. If you need any help, let me know :)

[2016-08-13 21:19] KyleAMathews commented on #33
Will be releasing initial version soonish — would love feedback + help
working out kinks!

On Sat, Aug 13, 2016 at 2:14 PM Marcus Kleppe <notifications@github.com>
wrote:

[2016-08-14 14:24] KyleAMathews commented on #100
This would be sick (though probably create really big build times) https://github.com/gmetais/sw-delta

[2016-08-14 17:18] tribou commented on #308
One quick single-page, "gatsby-only" solution I used for a site with multiple languages is to use YAML files for your language data like:

[code]

Then, use the `wrappers/yaml.js` to wrap each data file with your page component(s):

[code]

For multiple pages, maybe there is a way to incorporate the `_template.jsx`?  But I think `_template.jsx` currently wraps the wrappers, so that might be a prob

[2016-08-14 20:40] cutemachine commented on #390
Tweet sent :)

Yes, best of luck from me too.

+1 for code splitting

[2016-08-16 06:08] hiddentao commented on #390
Totally with you on this. I find myself picking up Gatsby every time I want to do a static site nowadays.

[2016-08-17 05:27] edouerd opened #397 "Question re: Custom typography"
Hello!

I have a quick question regarding custom font inclusion:

How might I go about adding a set of fonts to a project? Is there a particular folder I'd place font assets inside? Is this all as straightforward as normally adding fonts to a `/static` folder (static assets) and referencing the fonts via style.css?

I saw that gatsby is packaged with typography.js, but I'm unsure how to have my si

[2016-08-17 05:44] KyleAMathews commented on #397
I haven't done this but this blog post should get you started https://shellmonger.com/2016/01/22/working-with-fonts-with-webpack/

Gatsby *should* be setup correctly already for Webpack to handle things so you just need to import the font files and they'll be included in the public directory.

If the default webpack config doesn't work out of the box please let us know! https://github.com/gatsbyjs

[2016-08-18 18:26] #364 closed

[2016-08-18 19:37] KyleAMathews commented on #397
I should add that you can still use Typography.js with custom fonts! Just put your font name at the start of the `headerFontFamily` and `bodyFontFamily` arrays!

[2016-08-18 19:37] #397 closed

[2016-08-18 19:38] KyleAMathews commented on #376
@tribou still want to add a PR?

[2016-08-18 20:36] edouerd commented on #397
thank you much!

for one last question re: the answers above — I see that the article you linked mentions placing fonts into a client/src/fonts directory, yet the file structure he's describing differs quite a bit from the default structure gatsby constructs pre-compiling:

The author's setup:

![screen shot 2016-08-18 at 4 35 53 pm](https://cloud.githubusercontent.com/assets/1195363/17789826/dc24

[2016-08-18 20:49] KyleAMathews commented on #397
I would simply create a fonts directory and put the src files there. The
webpack file-loader will take care then of copying the files to the public
directory.
On Thu, Aug 18, 2016 at 1:36 PM édouard u. <notifications@github.com> wrote:

[2016-08-18 23:24] renatorib commented on #373
I need something like this too =\

[2016-08-20 02:09] erlend-sh commented on #324
That sounds awesome. We've been playing with ideas like these for @discourse/discourse as well. Would for instance love to see a straight forward way to use Discourse as a backend for docs solutions like this one:

http://blog.discourse.org/2016/05/using-discourse-as-a-community-powered-wiki/

[2016-08-21 17:55] kwangkim opened #401 "[build error] skipping server-sided rendering for a react component using react-router (Spectacle)"
I am adding a spectacle presentation as a js file.
It works very well with develop mode.
But I got an error when I built it.
[code]
I think spectacle does not allow server-side rendering since it uses hashHistory.
Is there anyway to skip server-side rendering to avoid above problem?

[2016-08-21 17:57] KyleAMathews commented on #401
Is there some way you could add Spectacle in "componentDidMount"?
On Sun, Aug 21, 2016 at 10:55 AM kwangkim <notifications@github.com> wrote:

[2016-08-21 17:59] KyleAMathews commented on #401
Also a more convoluted way is to render the presentation in its own react
root.
On Sun, Aug 21, 2016 at 10:57 AM Kyle Mathews <mathews.kyle@gmail.com>
wrote:

[2016-08-21 19:45] kwangkim commented on #401
Unfortunately, it does not work.
By  adding import {Spectacle} from 'spectacle' , I got same error.
[code]

I am making a lecture note (presentation) site which includes many presentations.

[2016-08-22 00:21] KyleAMathews commented on #401
Try `require.ensure`. This is a more advanced technique but basically it let's you load code on demand. Wrapping the require of `spectacle` in this should ensure the code that's dying on the server isn't loaded until the client. Would be very interested to see if this works out.

You can read more about it here https://webpack.github.io/docs/code-splitting.html

Gatsby will be using it soonish to

[2016-08-22 00:53] KyleAMathews commented on #324
@erlend-sh the new version of Gatsby will be perfect for this! Totally love the idea of Discourse-powered sites as well.

If you read the "Pull instead of push" section in my recent blog post https://bricolage.io/gatsby-open-source-work/ basically what you'll be able to do for Discourse is create a GraphQL schema that wraps the Discourse REST API and then construct a site where page-providing comp

[2016-08-22 03:47] kwangkim commented on #401
It works very well with a minor modification.
[code]
require.ensure did not work with develop and build command  I also added a dummy state to re-render.
[code]
If I find a better way, I will post it later.
Thank you very much for your advise.

[2016-08-22 04:16] KyleAMathews commented on #401
Great! Please do post if you make any more improvements.

Closing this issue for now...

[2016-08-22 04:16] #401 closed

[2016-08-22 08:19] SachaG commented on #6
Is there any tutorial that provides more info about this? Or maybe it could be added to the documentation?

[2016-08-22 08:22] SachaG commented on #6
Oh, looks like that this is already part of the default boilerplate as `npm run deploy`. My bad!

[2016-08-22 08:37] jaen opened #402 "`gatsby develop` broken on case-sensitive filesystems."
For some reason this file here: https://github.com/gatsbyjs/gatsby/blob/master/lib/isomorphic/html.js is compiled into `HTML.js` in your dist tarball (https://registry.npmjs.org/gatsby/-/gatsby-0.12.5.tgz) which makes the `gatsby develop` command to break on case-sensitive filesystems.

Would you mind releasing a new version with lowercased filesystem names?

[2016-08-22 15:31] KyleAMathews commented on #6
👍😉👊
On Mon, Aug 22, 2016 at 1:22 AM Sacha Greif <notifications@github.com>
wrote:

[2016-08-22 17:35] KyleAMathews commented on #402
Well... that's bizarre. I have no idea why this is happening. The build script just runs babel over the `lib` files to compile them to `dist`. I release from my mac fwiw. If you have some time to research what's happening I'd really appreciate that. Otherwise I'll get to this in the next few days.

[2016-08-22 22:41] renatorib opened #403 "Uncaught TypeError: (0 , _reactRouterScroll2.default) is not a function"
This error is not leaving my application to run. What can be causing this, since this is part of gatsby core?

[2016-08-22 22:45] KyleAMathews commented on #403
You need to upgrade to 0.12.5. This bug was released as part of 0.12.4.

[2016-08-22 22:45] #403 closed

[2016-08-22 22:45] KyleAMathews commented on #403
Let me know if that doesn't fix it.

[2016-08-22 22:45] renatorib commented on #403
Thanks, I'll try

[2016-08-23 00:46] SachaG commented on #64
How do you get that `app.coffee` (or in my case `app.js`) file to be loaded?

[2016-08-23 00:52] KyleAMathews commented on #64
@SachaG you need to export a function from gatsby-browser.js called `onRouteUpdate`. This will be called on every route change. https://github.com/gatsbyjs/gatsby#structure-of-a-gatsby-site

[2016-08-23 01:30] SachaG commented on #6
Actually this isn't quite usable in its current state because it removes the `CNAME` file every time you deploy, thus breaking your custom domain:

https://github.com/tschaub/gh-pages/issues/74

I'll submit a PR to fix this once gh-pages itself is fixed:

https://github.com/tschaub/gh-pages/issues/113

[2016-08-23 01:48] SachaG commented on #64
Thanks, here's what I ended up with in my `gatsby-browser.js` file:

[code]

I'm not sure if that's the best way to do it though. I'm using [React-GA](https://github.com/react-ga/react-ga) btw.

[2016-08-23 01:50] KyleAMathews commented on #6
Perhaps just copy the CNAME file into public using the postBuild hook?

[2016-08-23 01:51] KyleAMathews commented on #64
Seems reasonable!
On Mon, Aug 22, 2016 at 6:48 PM Sacha Greif <notifications@github.com>
wrote:

[2016-08-23 01:54] SachaG commented on #6
Hmm, would that work? If I understand things correctly, the `CNAME` file is being removed by `gh-pages`, not by Gatsby itself?

[2016-08-23 01:57] KyleAMathews commented on #6
As I understand, gh-pages just copies directly over from the src directory.
So if the CNAME file is in public it'll end up in the gh-pages branch. That
being said, I could be wrong as I haven't tried to solve this issue.
On Mon, Aug 22, 2016 at 6:54 PM Sacha Greif <notifications@github.com>
wrote:

[2016-08-23 02:00] SachaG commented on #6
Oh of course! Since the CNAME has to end up at the root of the `gh-pages` branch, I stupidly put it at the root of my `master` branch too. But it should be in `/public`, that makes sense :)

[2016-08-24 06:52] zweicoder commented on #108
@KyleAMathews just installed React-toolbox and it doesn't work out of the box. Not sure what I have to check - any pointers?

[2016-08-24 16:15] KyleAMathews commented on #108
@zweicoder did you import the raw or bundled component? https://github.com/react-toolbox/react-toolbox#bundled-component

[2016-08-24 22:54] renatorib opened #405 "Use config.plugin() in webpack.config.js so easy to override webpack plugins in a site"
Why plugins are not used with webpack-configurator?
https://github.com/lewie9021/webpack-configurator#configpluginkey-constructor-parameters

Thus I thought it would be easier if you need to remove a plugin. `config.removePlugin('key')`

[2016-08-24 23:15] KyleAMathews commented on #405
It could... I don't remember for sure why that wasn't added (I didn't do the initial PR to add support for webpack-configurator) but this could sense to add in when we add a plugin system to Gatsby (soonish).

How would you group things if we were using webpack-configurator plugins?

[2016-08-25 01:44] zweicoder commented on #108
@KyleAMathews I imported the bundled one `import { Card, CardMedia, CardTitle, CardText, CardActions } from 'react-toolbox/lib/card';`

[2016-08-25 01:55] KyleAMathews commented on #108
Is there any errors in the browser or terminal console?

[2016-08-25 01:57] zweicoder commented on #108
@KyleAMathews no, nothing at all =/

[2016-08-25 02:10] KyleAMathews commented on #108
What do you get from console.log(Card)?
On Wed, Aug 24, 2016 at 6:57 PM zweicoder <notifications@github.com> wrote:

[2016-08-25 02:19] zweicoder commented on #108
@KyleAMathews hmm, it seems like the `theme` attribute is an empty object. From the React Devtools when inspecting `<Card>`: `$r.props
Object {children: "test", theme: Object}`

[2016-08-25 02:27] zweicoder commented on #108
There is a `<ThemedCard>` component as well, with these props: `{children: "test", composeTheme: "deeply"}` so it seems the `react-css-themr` is not working?

[2016-08-25 02:30] micahrye commented on #324
Cool. I have been busy between projects, but I did implement something with Gatsby + Contentful. Starting to explore using Gatsby in a hybrid way of static and distributed data. As I get more time I will try and structure it and see if it might be a PR.

[2016-08-25 02:35] KyleAMathews commented on #108
Could you create a GitHub repo with this so I could play around with it?
On Wed, Aug 24, 2016 at 7:27 PM zweicoder <notifications@github.com> wrote:

[2016-08-25 02:44] zweicoder commented on #108
@KyleAMathews [Here](https://github.com/zweicoder/git-gud-scrub) it is, thanks for helping!!!

[2016-08-25 03:47] KyleAMathews commented on #108
@zweicoder looks like you've been struck by the dreaded `node_modules` disease. From a fresh install it just worked

<img width="728" alt="screen shot 2016-08-24 at 8 43 42 pm" src="https://cloud.githubusercontent.com/assets/71047/17956091/e670a638-6a3b-11e6-8c78-477f8529f5b2.png">

See if deleting `node_modules` and reinstalling fixes things.

[2016-08-25 06:07] zweicoder commented on #108
@KyleAMathews uh... actually for the 'thoughts' section I manually copied the `css` styles to simulate the same styles :sweat_smile:  There's a real `<Card>` component with the words `test` inside. under the `ideas` category. I'll try a fresh install of `node_modules` though regardless

[2016-08-25 06:15] zweicoder commented on #108
Didn't work :(

![image](https://cloud.githubusercontent.com/assets/3684550/17958720/703fe77e-6ace-11e6-976d-585cd6cecec3.png)

[2016-08-25 06:27] KyleAMathews commented on #108
Figured it out!

Two things. React-Toolbox *does* require some sort of theme to be inserted as a prop. Each component folder has a default `theme.scss` file that you can include. Second hurdle was the module expects you to be using CSS Modules and Gatsby by default only processes files as a css module *if* it's named `*.module.(css|less|sass|scss)`. Since their scss file isn't, it was just being i

[2016-08-25 06:44] zweicoder commented on #108
@KyleAMathews Great job figuring it out! Since I only use CSS Modules I'm gonna try overriding the css loaders to always use `modules` and see if it works :)

[2016-08-25 10:02] zweicoder opened #407 "`Module Build Failed: Unknown Word` when trying to modify webpack config"
I copied the example in `README.md`

[code]
and got this:

[code]

Any idea why?

[2016-08-25 12:10] zweicoder commented on #407
ok my mistake, I removed the `css` loader but did not remove the `cssModule` loader.

[2016-08-25 12:10] #407 closed

[2016-08-26 01:20] KyleAMathews commented on #56
Some CLI inspiration https://github.com/drjekyllthemes/drjekyll

[2016-08-26 05:15] MoOx commented on #373
FYI, we implemented this in Phenomic by reading user react-router routes and generate all possible pages according to front-matter metadata https://phenomic.io/docs/usage/routing/

[2016-08-27 14:37] sebastienbarre commented on #306
Just curious about this. Having `.htaccess` copied over would be great to create a `drafts` directory, which would be generated like the rest of the site, but could be password protected for example. Another use would be to password protect specific subdirs for collaborators or clients.
Thanks for the great work.

[2016-08-27 15:44] cusspvz opened #408 "Gatsby logo/branding"
Gatsby is awesome!

Has been a while that I'm familiar with the project and I think it needs an equivalent awesome logo. Today I've seen [this on Hacker News](https://news.ycombinator.com/item?id=12372118) and I think it could be a nice spark for this discussion.

@KyleAMathews do you have any ideas in mind?

[2016-08-27 16:26] KyleAMathews commented on #408
Oh good find! Just posted something there. Please upvote everyone!

[2016-08-27 19:49] sebastienbarre commented on #288
@cutemachine just curious if you solved your issue somehow? Instant navigation is not a huge selling point to me either, for large blogs.

@KyleAMathews Shouldn't `html.js`skip including `bundle.js` when `noProductionJavascript` is true? I see [this is not the case](https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/html.js#L39) in the blog starter kit. Would you like a PR for that one, o

[2016-08-29 18:16] Gajit commented on #408
Just started playing with Gatsby and it looks great. I've been wanting something to easily write static files in other formats besides just markdown. Here's a pen I did a while back with some type styling around "the Great Gatsby" if it helps spur the process. http://codepen.io/Gajit/pen/Qyjpoy

[2016-08-30 03:57] KyleAMathews commented on #408
Cool logo!

I don't think I want any reference to the actual book though. There's only a loose connection between the book and the project. I just picked it caused I like the name + it was open on NPM :-)

[2016-08-30 04:03] KyleAMathews commented on #288
@sebastienbarre I don't want to add too much structure to html.js files. You often need to customize it when building out a site.

And yes, code splitting is coming and there'll be far less interest I assume in turning off Javascript then. See https://www.bricolage.io/gatsby-open-source-work/ for a loose roadmap. Will be posting more tomorrow.

[2016-08-30 20:25] renatorib commented on #405
Well, It's about replace core plugins.

On your core, can have something like this:
[code]

It's give me more flexibility if I want to replace it:
[code]

[2016-08-30 20:30] renatorib opened #410 "Gatsby fails on build"
I investigated a bit but could not figure out

[code]

[code]

[2016-08-30 22:55] KyleAMathews commented on #410
The problem is that ResponsiveMixin has a "dom check" https://github.com/akiran/react-responsive-mixin/blob/master/index.js#L2 that means it's not loading enquire.js when server rendering which is why `enquire.register` is not a function.

You should file an issue with ResponsiveMixin to not try to register enquire if server rendering.

[2016-08-30 22:55] #410 closed

[2016-08-30 23:09] renatorib commented on #410
Oh, dammit!
[code]

Struck by the fact a dependency of a dependency breaks my build

And sorry for the issue, I thought it was something of Gatsby...

[2016-08-30 23:12] KyleAMathews commented on #410
Haha no worries. Reminds me of this joke https://twitter.com/jckarter/status/762683017466744832

It should be an easy fix though for the mixin so hopefully you can get this working quickly.

[2016-08-30 23:27] renatorib commented on #410
Hahahaha, thanks! I will try to do something :D

[2016-08-31 01:16] sebastienbarre commented on #288
Thanks @KyleAMathews. BTW, a RSS feed on https://www.bricolage.io/ would be great, to keep up with the news ;)

[2016-08-31 01:32] KyleAMathews commented on #288
Haha there was one but I broke it when I upgraded to what will be
Gatsby-1.0-alpha1

On Tue, Aug 30, 2016 at 6:16 PM Sébastien Barré <notifications@github.com>
wrote:

[2016-09-01 13:45] frmok opened #411 "How to fix the issue of link without /"
I begin with the doc site starter. However `http://localhost:8000/examples` goes to 404 page while `http://localhost:8001/examples/` works. Is there any way to fix this? I want those without trailing slash will redirect to the one with trailing slash.

[2016-09-01 15:44] KyleAMathews commented on #411
This is something you have to setup with your web server.

What happens when you visit `/examples/` is that the web server traverses the file system looking for something to deliver — they see that `examples` is a directory and so they look to see if there's an index file for that directory aka `index.html` and if there is, serves that.

Almost every web server does this by default which is why Ga

[2016-09-01 15:44] #411 closed

[2016-09-01 18:05] renatorib commented on #408
![gatsby-black](https://cloud.githubusercontent.com/assets/3277185/18178629/83abd5d4-7055-11e6-81cb-45937ea0d948.png)

![gatsby-black-dashed](https://cloud.githubusercontent.com/assets/3277185/18178628/83a5a3b2-7055-11e6-8b08-9f6a5991c5a2.png)

![gatsby-colored-2](https://cloud.githubusercontent.com/assets/3277185/18178626/8381d1ee-7055-11e6-828f-88f47cd43163.png)

![gatsby-colored](https://cloud.

[2016-09-01 20:25] edouerd opened #412 "React-GA (Google Analytics) throwing errors on build"
Hello! Right now I'm being thrown the following errors after installing the [React-GA](https://github.com/react-ga/react-ga) npm module:

[code]

This is after installing the module via npm and importing it into my root index.js file as so:

[code]

Do you happen to have any direct idea as to why this would throw errors on build? While in develop mode everything appears to work fine, and while vie

[2016-09-01 20:45] KyleAMathews commented on #412
When Gatsby builds a site it's not running in a browser so the `window` object is not available. So if a React component relies on `window` it can't be rendered on the server.

The easiest work-around is to require the component in `componentDidMount` as that code will only be run in the browser.

[2016-09-01 20:45] #412 closed

[2016-09-02 05:14] renatorib opened #414 "Feature Request: Page collections"
### Briefing

My project has a big number of Landing pages for sales. One landing page per partner using the same template and changing only the variables.

But, it's a bit complicated. The landing pages change frequently.
Today I have a huge operational task to delete and create new .md files every time it is changed.

To handle that, _before I started using Gatsby_, we had a script that generate

[2016-09-02 11:08] edouerd commented on #412
Hello again!

While trying out the method you brought up on twitter, which worked perfectly during development, I appeared to run into some sort of issue with the formatting of the block that delineates the GA script:

Here's how I've gone about implementing it (note this is an `html.js` file, not a `html.cjsx` in your file I was referencing)

[code]

This file caused the issue seen here, while I

[2016-09-02 11:19] cusspvz commented on #408
Just a note: @renatorib I like the way you smashed the colors into the last one, 70's style. :D

[2016-09-02 12:17] MoOx commented on #408
My 2 cents: try to not be to close to Phenomic colors https://phenomic.io/ (which is another React/webpack static website generator)

[2016-09-02 15:22] newswim opened #415 "Url-loader dependency"
I got an error after a fresh install of gatsby and initializing from the starter-blog.

[code]

I believe that it was getting called by an internal gatsby package, `prefixLink`, simple fix:

[code]

[2016-09-02 15:56] newswim commented on #415
same for `raw-loader`

if this does not bear mentioning, feel free to close this issue.

[2016-09-02 16:00] KyleAMathews commented on #415
@newswim which version of node/npm are you using? NPM 2 isn't well supported right now. I or someone needs to go clean that up.

[2016-09-02 16:13] newswim commented on #415
For this I was using Node @ 4.5.0, and NPM @ 2.15.9

[2016-09-02 16:15] KyleAMathews commented on #415
Ok, if you can — just upgrade to NPM 3 and reinstall.

[2016-09-02 16:19] newswim commented on #415
Everything seems fine now, I just added those two modules to my dependencies and was able to deploy via netlify.

[2016-09-02 16:25] KyleAMathews commented on #412
Ooo yeah. That's a diff between coffeescript and JavaScript. For multi line
strings coffeescript uses """ where JS uses back ticks.
On Fri, Sep 2, 2016 at 4:09 AM édouard u. <notifications@github.com> wrote:

[2016-09-02 16:35] KyleAMathews commented on #415
Thanks for the report. I added those two modules to the blog starter.

[2016-09-02 16:35] #415 closed

[2016-09-02 18:15] renatorib commented on #408
@MoOx why? It's colors.

[2016-09-02 19:00] KyleAMathews commented on #408
@renatorib those are great! Let's turn this thread into a logo thread — let's get a bunch of ideas and then pick one for the coming website, social properties etc.

[2016-09-02 19:02] #390 closed

[2016-09-02 19:06] #283 closed

[2016-09-02 19:11] #280 closed

[2016-09-02 19:11] KyleAMathews opened #418 "Evaluate hard-source-webpack-plugin"
Has anyone tried https://github.com/amireh/happypack?

Curious if it could be adopted to Gatsby for reducing build times.

[2016-09-02 19:13] KyleAMathews commented on #226
Plan is to convert Gatsby to be Lerna monorepo and starters will get converted into "themes" which will be separate NPM packages.

[2016-09-02 19:13] #226 closed

[2016-09-02 19:20] #182 closed

[2016-09-02 19:20] KyleAMathews commented on #184
Increase project management complexity when it's actually necessary.

[2016-09-02 19:20] #184 closed

[2016-09-02 19:25] KyleAMathews commented on #179
Closing this as it's mainly an upstream Webpack issue to fix. [Happypack](https://github.com/amireh/happypack) and [hard-source](https://github.com/mzgoddard/hard-source-webpack-plugin) are two interesting options we can explore.

[2016-09-02 19:25] #179 closed

[2016-09-02 19:25] KyleAMathews commented on #418
Andd hard-source https://github.com/mzgoddard/hard-source-webpack-plugin

[2016-09-02 19:26] #173 closed

[2016-09-02 19:26] KyleAMathews commented on #173
Probably not a good idea.

[2016-09-02 19:28] KyleAMathews commented on #170
"Starters" are going to be replaced with "Themes" eventually which will be normal NPM packages which the maintainer could release updates to as normal NPM updates.

[2016-09-02 19:28] #170 closed

[2016-09-02 19:28] KyleAMathews commented on #151
Probably better option is investigating caching internal Webpack work #418

[2016-09-02 19:28] #151 closed

[2016-09-02 19:29] KyleAMathews commented on #150
Not a big deal especially since React renders minified HTML output on the server already. Someone could implement this as a plugin in the future though.

[2016-09-02 19:29] #150 closed

[2016-09-03 03:12] KyleAMathews opened #419 "1.0 roadmap"
Hi folks, Gatsby is now 1.25 years old — seems high time we push for a 1.0 :-)

Below is a high-level description for the Gatsby 1.0 goals. Some pieces are already working in the current version of Gatsby and others are in process of being developed. See the current status of work on the [Github project page](https://github.com/gatsbyjs/gatsby/projects/1).
## Goals for Gatsby 1.0

Make building hi

[2016-09-03 03:19] KyleAMathews opened #420 "1.0 new GraphQL data layer"
### Pull data into components instead of pushing

Data in Gatsby currently is _pushed_ into templates to be rendered into HTML (like pretty much every static site generator). This is a simple pattern and works great for many use cases. But when you start working on more complex sites, you really start to miss the flexibility of building a database-driven site. With a database, all your data is ava

[2016-09-03 03:21] KyleAMathews opened #421 "1.0 Programmatic Routes"
Gatsby currently is too magical when creating paths. It tries to auto-generate paths based on files' positions on the file system. So a file named `my-sweet-blog-post.md` becomes `/my-sweet-blog-post/`. Which is fun and works but often you want more control.

So with Gatsby 1.0, I'm planning that all paths will be created programmatically.

Within plugins and at the site level you can create a fun

[2016-09-03 03:26] KyleAMathews commented on #421
This has been prototyped and is part of the first 1.0 alpha. Very new though so please give feedback.

[2016-09-03 03:39] KyleAMathews commented on #414
With the current Gatsby I'd suggest you maintain the data as you suggest and then auto-generate JSON files for each page and create a json wrapper component (like https://github.com/gatsbyjs/gatsby-starter-default/blob/master/wrappers/json.js) for the landing pages.

For Gatsby 1.0 — read #420 and #421 — would love to hear your reaction to my ideas!

[2016-09-03 03:41] KyleAMathews commented on #33
Hey folks! Just wrote up ideas to make this possible. Would love to hear what you think. See #419 #420 and #421

[2016-09-03 03:43] renatorib commented on #414
Yes, I have the json wrapper :)

Nice to know you are working on 1.0
I'll check this!

[2016-09-03 17:02] KyleAMathews commented on #419
I forgot to mention that the code is being developed on the [`1.0` branch](https://github.com/gatsbyjs/gatsby/commits/1.0). This commit added the initial support for GraphQL, code splitting, filename hashing, etc https://github.com/gatsbyjs/gatsby/commit/1f0fe16616a22adbf9cc1c23e88153c79b541d4d

[2016-09-04 05:09] benmathews commented on #170
My thought with this is that typically, the user of the starter/theme is
going to make modifications and would like the ability to pull in future
changes by the starter/theme author. If that is supported, great.

On Fri, Sep 2, 2016 at 1:28 PM, Kyle Mathews <notifications@github.com>
wrote:

--
Ben Mathews

[2016-09-04 12:05] ProphetDaniel opened #424 "Problem installing Gatsby in windows 7"
Trying to install Gatsby in Windows 7 I got the following warnings:
Any idea why? What should I do to make it work?

[code]

[2016-09-04 12:29] MoOx commented on #424
gatsby not gastby

[2016-09-04 12:38] ProphetDaniel commented on #424
@MoOx I've noticed, updated and got the warnings above as last edit I made.

[2016-09-04 13:15] MoOx commented on #424
Warning should not be a problem

[2016-09-04 13:16] jquense commented on #424
these are just warnings for the various transient dependencies.  npm always has this sort of noise, doubly so on Windows where fs events is incompatible, it's fine though because it's an _optional_ dependency. nothing in the warnings here suggests gatsby didn't  install correctly

[2016-09-04 13:25] ProphetDaniel commented on #424
Ok, so it looks it installed well. That is something.
Now after I issue npm install command in the [ethereumclassic.github.io sources](https://github.com/ethereumclassic/ethereumclassic.github.io/tree/source) branch the following errors appear. I tought they had to do with Gatsby.

[code]

[2016-09-04 14:48] theduke opened #425 "Product page and documentation"
Gatsby is a really great project, but I think it needs better discoverability and documentation.

Does anybody want to collaborate on working on a product page, and writing up a Getting Started guide and some documentation?

It would probably be great to have something set up when publishing a 1.0 release.

@KyleAMathews  maybe you can set up a gatsbyjs/gatsbyjs.github.io repo where we can send PR

[2016-09-04 16:30] renatorib commented on #425
I think is great to launch documentation together with 1.0 release

[2016-09-04 17:26] frmok opened #426 "gatsby build doesn't generate css file"
I have following setting in `gatsby-node.js`. When I try to run `gatsby build`, all things work perfectly except the `style.css` is empty. However, if i use `gatsby developer`, i can get the `style.css`. Is there anything wrong in my setting?
[code]

[2016-09-04 17:35] KyleAMathews commented on #426
ExtractTextPlugin is already setup. What happens if you just remove your custom webpack config?

[2016-09-04 17:49] frmok commented on #426
wow, it works but instead it generates `styles.css` but it is ok. thanks a lot.

[2016-09-04 17:49] #426 closed

[2016-09-05 01:50] SachaG commented on #420
Wow, this is super exciting! But just to clarify, these GraphQL queries would only be running at bootstrap time, right? Or would there also be a GraphQL client in the app bundle?

[2016-09-05 03:11] KyleAMathews commented on #424
No clue about windows build errors.

But cool website! Would love it if you @ProphetDaniel or @dax-classix would create a PR to add the site to the README.md.

[2016-09-05 16:44] ProphetDaniel commented on #424
Just created the Pull request [Gatsby pull request number 427](https://github.com/gatsbyjs/gatsby/pull/427)

[2016-09-05 16:55] KyleAMathews commented on #420
@SachaG yup! The queries are run during bootstrap (or when the query or source data changes). The results of the queries are written out as JSON files. I'll be writing this up as part of describing idea for code/data splitting but basically you'll get a big directory of JSON files. There's then a `child-routes` file written out by Gatsby which for each route, requires its JSON file and calls the c

[2016-09-05 17:01] KyleAMathews commented on #425
@theduke it'd be fantastic if you start working on this! Launching a website concurrent with the 1.0 release is my plan.

My plan is to put docs as markdown files in a `/docs` directory and build the site from them. The place to start would be by making PRs against the 1.0 branch.

There's a website issue up already at https://github.com/gatsbyjs/gatsby/issues/149 so I'm going to close this one in

[2016-09-05 17:03] #425 closed

[2016-09-05 17:07] KyleAMathews commented on #170
Yeah that's the plan.

A simple example would be a Gatsby Blog Theme.

The theme includes a simple css stylesheet and a pagination plugin to list posts and a RSS feed plugin.

User X installs the theme and adds some more styles and deploys the site.

Theme author Y discovers there's an error in the pagination plugin and fixes the bug and publishes an update to the plugin and theme to NPM.

User X

[2016-09-05 22:35] SachaG commented on #420
Makes sense, thanks for the details!

[2016-09-06 02:29] SachaG commented on #408
I'm not great at logo design myself but I'd be happy to get things going, and provide some feedback. @KyleAMathews what do you think the logo should evoke? Any other project logos that you like?

@renatorib although I think the lettering logo you made looks great, maybe we want to stay away from the book and the retro theme? Also I don't know how readable the lettering would be at smaller sizes?

[2016-09-06 02:33] SachaG commented on #408
Without directly referencing the book or the movie, maybe there's elements we could take from the movie's visual design?

![http://rockingodshouse.com/site/wp-content/uploads/2013/05/the-great-gatsby-2012.jpg](http://rockingodshouse.com/site/wp-content/uploads/2013/05/the-great-gatsby-2012.jpg)

Also whatever we end up with, it'd be great to have something that's easily usable as a favicon/icon/sq

[2016-09-06 02:49] SachaG commented on #312
@benstepp nice! This looks straightforward enough when using Markdown files through a wrapper, but would this also work when importing the markdown file to use inside a React component?

[2016-09-06 05:19] KyleAMathews commented on #312
I'm been thinking about a different approach that the new GraphQL layer (#420) opens up. I opened an issue asking about it in the mdash repo https://github.com/wooorm/mdast/issues/13

[2016-09-06 06:38] SachaG commented on #312
That'd be awesome! I felt I was so close with Reactdown though… The markdown files are properly transformed into React components by webpack (at least it looks like it), but it just gives me empty components when I use them in my code.

[2016-09-06 07:06] andreypopp commented on #312
@SachaG have a repo somewhere I can took a look at?

[2016-09-06 11:38] cusspvz commented on #408
@SachaG I like this from the movie design:
<img width="62" alt="captura de ecra 2016-09-06 as 12 36 50" src="https://cloud.githubusercontent.com/assets/3604053/18272230/a24a74d2-742e-11e6-8925-fb457df9187e.png">

Inspite it may look-a-like a freemansory symbol.

[2016-09-06 22:50] spherop opened #429 "Low Hanging Animation Options"
One of the things that would be nice to have is either animation examples via added modules, or something baked in to the core that makes it obvious and easy to add animations/transforms to blog page changes.

[2016-09-07 00:46] KyleAMathews commented on #429
It'd be nice to have an easy way to do this. But before that it'd be nice to have someone do some exploration for available options.

One simple animation is simply fading in pages when you navigate to them as described here:

http://blog.mxstbr.com/2015/07/fade-in-react/

[2016-09-07 02:35] KyleAMathews commented on #408
@SachaG I haven't thought much about it yet... don't have much experience with logos either. Will chime in when I've thought things through but in the meantime everyone feel free to work through ideas.

Right now I don't have strong feels for or against drawing inspiration from the book/movie. I didn't pick the name because of them per se so we don't necessarily need to hold to its aesthetic but t

[2016-09-07 02:47] KyleAMathews commented on #408
Ok, got into the spirit of things a bit :-)

Here's Andes:
<img width="242" alt="screen shot 2016-09-06 at 7 43 48 pm" src="https://cloud.githubusercontent.com/assets/71047/18298045/6a35170a-746a-11e6-9af7-1ef49fe6b73d.png">

Poiret One:
<img width="291" alt="screen shot 2016-09-06 at 7 45 22 pm" src="https://cloud.githubusercontent.com/assets/71047/18298051/7b625b78-746a-11e6-951d-1121808311ae.pn

[2016-09-07 03:03] SachaG commented on #408
Looking at the other open-source static site generators, a lot of them use their initials as an icon (H for Hexo, MM for Middleman, etc.). So maybe we should do something around the "G"? So an art-deco G monogram of some kind?

[2016-09-07 03:11] KyleAMathews commented on #408
Yeah, that could work. Try some stuff and throw up some samples!

[2016-09-07 10:02] cusspvz commented on #408
@KyleAMathews I like the **Poiret One** font style. I also the `G` of it beautiful as a standalone lettering (for the icon).

[2016-09-08 01:03] SachaG commented on #312
Wow, really weird. I was trying to create a reproduction of the issue, and now it works! Not even sure what changed… Can't complain I guess :)

[2016-09-08 04:27] KyleAMathews opened #430 "On build show html and js gzipped size sorted largest to smallest"
Perhaps store these by git hash so can compare sizes overtime. Also warn when a particular page grows say more than 10% over a previous commit.

[2016-09-08 05:06] emilyaviva commented on #312
The gods of React came down in a golden chariot, and lo! the code worked

[2016-09-08 08:33] andreypopp commented on #312
@SachaG I remember there were some issues with how reactdown references its runtime. Anyway if you hit some issues I would be flat do help.

[2016-09-08 21:15] KyleAMathews opened #431 "1.0 improving performance and scalability"
1.0 is going to have a number of improvements to Gatsby's frontend performance. This issue provides some details about my plans and the reasoning behind them.
## What Gatsby gets right already

Gatsby 0.x is very fast. We've worked really hard at this and so far have added:
- CSS inlining in the `<head>`. This avoids the extra blocking network
  call to fetch your css.
- Static rendering of pages

[2016-09-08 21:26] KyleAMathews commented on #100
Offline + caching is coming to 1.0! Plan is to turn them on by default. Wrote up plans at https://github.com/gatsbyjs/gatsby/issues/431

Closing this issue in favor of that one.

[2016-09-08 21:26] #100 closed

[2016-09-08 21:28] KyleAMathews commented on #10
Code splitting is coming in 1.0! Wrote up plans at #431

Closing this issue in favor of that one.

[2016-09-08 21:28] #10 closed

[2016-09-08 21:36] lourd commented on #421
Hey @KyleAMathews, how's it going. First time caller, long time listener 😉  Gatsby looks like a really interesting project. Nice job! 😃

To repeat what I think you're proposing for clarity: A module that implements the `createRoutes` method can instruct Gatsby to render the html for every possible path reachable at build time. The prime use case is generating these pages programmatically based on

[2016-09-08 21:47] KyleAMathews commented on #421
With some optimizations even sites with many thousands of pages shouldn't take an unreasonable amount of time e.g. < 10 minutes.

It should be possible in the future to do incremental builds for only the subset of the site that's changed since the last build so for even huge huge sites, incremental builds would be fast.

So the main reason you should choose a dynamic site is if there's a logged-in

[2016-09-08 21:57] lourd commented on #421
Aside from the personalized experience, it doesn't seem like systems that need dynamic creation of data would work.

For example, an anonymous bulletin board system where anyone can type in a note. How would that work? You type in your note and hit submit on the form... where does that data go? How does data flow to instruct Gatsby to render the new page?

[2016-09-08 22:01] KyleAMathews commented on #421
Yeah, anytime data can change quickly and needs to be reflected immediately are problematic.

Solutions could be a) use a hosted service for the dynamic part e.g. Disqus is a common blog commenting solution and b) if incremental rebuilds can get down to a few seconds, dynamic data actually becomes possible!

But practically speaking I wouldn't build any sort of social network or anything with dyna

[2016-09-08 22:18] ChristopherBiscardi commented on #421
@KyleAMathews For those situations Leo is considering using Relay 2's "GraphQL Extensions" support to do something like deferred queries that go to a comment server at runtime. I haven't figured out how this plays out in figuring out the static vs dynamic line, but will be investigating it more in depth in the coming months.

As for `createRoutes`, the approach is interesting. In Leo this is a "po

[2016-09-09 09:10] SachaG commented on #408
Here's an early idea:

![https://d3vv6lp55qjaqc.cloudfront.net/items/442M2i0h1z052a460S3h/gatsby-logo.png?X-CloudApp-Visitor-Id=43642&v=cedc5c6c](https://d3vv6lp55qjaqc.cloudfront.net/items/442M2i0h1z052a460S3h/gatsby-logo.png?X-CloudApp-Visitor-Id=43642&v=cedc5c6c)

Let me know what you think!

[2016-09-09 18:13] KyleAMathews commented on #408
@SachaG nice!

Which fonts are those?

[2016-09-09 18:41] spherop commented on #429
My initial thought had been to drop this in to gatsby: https://github.com/maisano/react-router-transition which includes react-motion -- seems like could provide a robust set of options but unmet peer dependencies installing and haven't yet had time to look into further.

The example you show above looks good for basic and solid approach to page transitions.

[2016-09-09 20:11] renatorib opened #434 "Absolute paths: its possible?"
How I can set absolute paths?

I have this page:
[code]

With this data:
[code]

It resolve as `mydomain.com/foo/bar`, but I want `mydomain.com/bar`

It's possible?

---

**Post scriptum:**
I can't put the json in `pages/bar.json` because these files (hundreds) are generated by a script.

[2016-09-09 22:00] KyleAMathews commented on #434
Only in markdown frontmatter can you set the path directly. Paths are derived from the filenames by default which is why you're seeing `/foo/bar/`. You'll want to use the `rewritePath` API to set the path. This isn't documented atm but you can see an example on my blog https://github.com/KyleAMathews/blog/blob/master/gatsby-node.js#L3

It should be pretty straightforward, just look for a `path` ke

[2016-09-10 01:02] SachaG commented on #408
It's Futura Bold.

[2016-09-10 14:19] thangngoc89 commented on #418
Hi @KyleAMathews , I implemented hard source webpack plugin for Phenomic and I must say the result is awesome. It boosts build time up to 300%. But happypack isn't working with hard-source those.

[2016-09-10 18:16] KyleAMathews commented on #421
Yeah how do you do code splitting with Leo? Since Gatsby knows what routes there are, the new stuff can automatically code split for you on a per-route basis.

[2016-09-11 05:45] KyleAMathews commented on #418
Nice! It seems super promising. How plug-n-play did you find it?

[2016-09-11 05:47] thangngoc89 commented on #418
100% plug-n-play. There is some bugs, we reported it and a patch was released immediately.

[2016-09-12 10:44] rojobuffalo commented on #386
Maybe taking this one step further, it might be cool to be able to opt-in to have anchors auto-generated for all `h1` and `h2` tags based on the text for that heading.

[2016-09-12 18:59] ivanoats commented on #12
JSYK I have a gist here with how to make a sitemap: https://gist.github.com/ivanoats/8d01d9e934fdc17bae9090147f1e799b

[2016-09-12 19:31] rgbkrk opened #438 "Add onPostInstall extension hook"
All the base setup is there, and I'd love to see this `git init` if it can.

[2016-09-12 19:42] RileyTomasek opened #439 "Front matter in JS"
Hey there, I would like to use pure React components to write my posts, but I would also like to have front matter for title/path/etc.

I tried writing a loader to do this, but the webpack `require.context` call in `utils/load-context` always errors before I get the chance to parse and remove whatever I use to write the front matter.

Do you have any suggestions on how I can accomplish this, or if

[2016-09-12 19:52] KyleAMathews commented on #439
Hey, components don't need wrappers. Just drop a component of whatever sort
in /pages and it'll work. Wrappers exist for markdown and other sources as
every page in Gatsby has to be a react component so wrappers take in non
component data and react-ize it.

React component pages don't support front matter as you can just use JS
vars.
On Mon, Sep 12, 2016 at 12:42 PM Riley Tomasek <notifications@gi

[2016-09-12 19:54] KyleAMathews commented on #438
This is for starters? Setting up a git repo seems a bit too opionated as the end user might not have git installed or might want to use hg etc.

The next version of Gatsby will have plugin support plus more extension APIs. One could be onPostInstall at which point for a custom starter/theme you could create a git repo.

[2016-09-12 20:02] rgbkrk commented on #438
As a big user of git, I had no problem taking these steps:

[code]

However, I'd love to not have to walk others through that and have it be automated.

[2016-09-12 20:05] RileyTomasek commented on #439
how would i export the variables that would normally go into front matter (title, date) so that they are available in other places like this? https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/pages/index.js#L21

[2016-09-12 20:09] KyleAMathews commented on #438
For sure, I totally see the use case but I just don't think it should be
the default.

Are you creating a starter right now?
On Mon, Sep 12, 2016 at 1:02 PM Kyle Kelley <notifications@github.com>
wrote:

[2016-09-12 20:25] rgbkrk commented on #438
Not yet, this was the first "pain point" I experienced in starting out with gatsby and thinking of follow on users. This is pretty exciting stuff, thanks for building it!

[2016-09-12 20:45] KyleAMathews commented on #438
Ah cool! Yeah, I can imagine a "Github plugin" which installs a starter, creates a git repo, creates repo on Github, pushes the initial commit, then does an initial gh-pages install. That'd be ++.

a `onPostInstall` extension should definitely be added so I'll change the title of this issue to that.

Thanks for the pain report! Keep them coming. Working on turning Gatsby from a cool hack to a full

[2016-09-12 20:53] KyleAMathews commented on #439
Oh... hmmm right. That'd require a change to Gatsby internals actually. [This file](https://github.com/gatsbyjs/gatsby/blob/b996760d61e3f9b152e2bb133f338178a09b8287/lib/utils/build-page/load-frontmatter.js) is where the frontmatter is pulled off html/md files.

To make this work, we'd need some sort of static way of exporting data from a component because as this is in node.js context, we can't ju

[2016-09-12 21:42] renatorib commented on #439
I think js pages must be wrapped in 'wrappers/js.js' too.
As much as he can render himself, it is about standardization.

[code]

wrappers/js.js
[code]

[2016-09-12 21:50] KyleAMathews commented on #439
See the code here for wrappers — react components are required directly and data files are "wrapped" https://github.com/gatsbyjs/gatsby/blob/7a4c5534056c819e0a267bfde3528a096a60f014/lib/isomorphic/create-routes.js#L114

[2016-09-13 16:46] RileyTomasek commented on #439
@KyleAMathews ill look into supporting `export const data = {}` in the next few days.

It should be as easy as adding a new `else if () {}` to the `load-frontmatter.js` code you linked earlier and then parsing the file and checking for a data export, right?

[2016-09-13 18:33] KyleAMathews commented on #439
Yup!

As per [my TODO there](https://github.com/gatsbyjs/gatsby/blob/b996760d61e3f9b152e2bb133f338178a09b8287/lib/utils/build-page/load-frontmatter.js#L12) I'd thought about using [webpack-require](https://github.com/petehunt/webpack-require/) but that's kinda slow/overkill for pulling off static data.

Extra points if you support commonjs exports as well `exports.data = {}` and extra extra points

[2016-09-14 02:28] SachaG opened #443 "Dynamic Requires not working"
I'm trying to get dynamic requires to work but I'm running into a weird issue.

The following works:

[code]

But this gives me `Uncaught Error: Cannot find module '../../data/features/foo.md'.`:

[code]

How can I get dynamic requires to work?

[2016-09-14 03:02] alizain commented on #420
This is really great stuff!

I was recently looking into gatsby for a couple projects, but decided to build my own solution because the data model wasn't flexible enough - essentially I needed exactly what you've described above - a filesystem as a database.

The project is called [catalyst](https://github.com/alizain/catalyst). It also uses React to render views. Since gatsby is a much more matur

[2016-09-14 04:13] KyleAMathews commented on #443
Does something different happen if you do:

[code]

[2016-09-14 04:39] KyleAMathews commented on #420
@alizain oh very cool! Good to see we're thinking along the same lines.

My plan right now is that there'll be a very thin contract between source plugins and Gatsby. Basically the source plugin will give Gatsby GraphQL types to add to the schema and then Gatsby in turn will ask the source plugin to resolve queries as needed.

I'd been using Relay in a product so am building my source plugins with

[2016-09-14 16:09] alizain commented on #420
This sounds great, let me know if I can help 😄

[2016-09-14 16:41] KyleAMathews commented on #420
Awesome! You'll be super helpful as we work out the APIs needed for the data layer. I'll post here once the plugin system plus a handful of source plugins are released so you (and others) can test and try building your own. Super excited to see all the directions this can go.

[2016-09-14 17:12] alizain opened #444 "Thoughts on querying Markdown AST for custom rendering"
I read some of your comments regarding doing cool things with Markdown source from #420

and from wooorm/mdast#13

This is something I've also been exploring for the last year or so, and I'd like to share some opinionated thoughts, and get feedback.

Essentially, Markdown, as specified, is not setup best for this to occur. All markup languages that exist today draw a line between "content" markup

[2016-09-14 20:30] rossthedevigner commented on #419
@KyleAMathews This roadmap has some really great features lined up. I'm curious though how you'll handle loading critical CSS. Will it be based on routes or just the chrome of the page; header, footer, or basic site structure?

[2016-09-14 20:33] KyleAMathews commented on #419
@rossthedevigner thanks! I discuss options for loading critical styles in the issue discussing code/data/styles splitting https://github.com/gatsbyjs/gatsby/issues/431

[2016-09-14 21:31] KyleAMathews opened #445 "Run Webpack in separate process to reduce memory usage"
Some people have complained about Gatsby running out of memory on small VPSs.

I just hit the node.js built-in heap limit while building a largeish site.

Apparently by design Webpack doesn't release memory after builds so while building Gatsby sites we accumulate memory with each build. Running Webpack in a separate process would ensure the memory is reclaimed after each build https://github.com/

[2016-09-15 00:21] SachaG commented on #443
Well in my case the path is actually `../../foo.md`.

[2016-09-15 00:54] KyleAMathews commented on #443
It's a bit hard to debug this without seeing your directory structure etc. I can't think of anything that Gatsby would be doing to cause trouble with dynamic requires.

If you haven't read over this doc that might help: https://webpack.github.io/docs/context.html

Something I've found useful in the past is finding and examining the context module that's created.

[2016-09-15 00:56] KyleAMathews commented on #443
Also something that's tripped me up a few times is that if Webpack has trouble loading your loader then it won't tell you that. So if you've customized the markdown loader, put a console.log in there to make sure it's getting run.

[2016-09-15 02:45] SachaG commented on #443
OK, thanks for the tips. But I can work around it so I'll probably leave it for later.

[2016-09-15 02:56] KyleAMathews commented on #443
Ok great. I'll close this issue for now. Please reopen it if you discover it is a Gatsby caused problem.

[2016-09-15 02:56] #443 closed

[2016-09-15 03:16] KyleAMathews commented on #444
Huh, this is super interesting. So basically what you're saying is "screw just embedding react components in Markdown, let's build a new compile-to-jsx language (based on Markdown)"? Treating Markdown as not just a nicer way to render HTML but really a nicer way to write JSX is a fine goal.

Or... how much do you agree with what I'm thinking? I don't quite get your content vs. data distinction (th

[2016-09-15 03:17] KyleAMathews commented on #285
This Facebook article is 💯  They're also powering this system through GraphQL 🔥

https://code.facebook.com/posts/991252547593574/the-technology-behind-preview-photos/

[2016-09-15 06:08] alizain commented on #444
Yup, that's pretty much exactly what I'm saying, and I completely agree with what you're saying, and would absolutely love to see it happen too, along with the previous footnote example, and much more.

To make sure I've understood the image example it, I'm going to try a simple exercise:

**Markdown source document**

[code]

**Parsed AST**

[code]

With the **GraphQL model**, I'm guessing that i

[2016-09-15 14:35] ivanoats commented on #12
Nice. FWIW I wasn't using babel, just node 6 😎

[2016-09-15 14:37] chiedo commented on #12
Ahhh, that's makes sense @ivanoats  :)

[2016-09-15 14:50] alizain commented on #444
So I spent a bit of my morning thinking about this again, and a great example I want to try is a resume. I'm going to do a pure content (Markdown) based approach, a pure data (yaml) based approach, and then try to do a data-in-content approach (random syntax), to push this a little further.

Let's say the job is to render a pill-shaped status bar (like Github's languages-in-the-repo bar) except fo

[2016-09-15 21:27] KyleAMathews opened #446 "test"

[2016-09-15 21:28] #446 closed

[2016-09-15 21:32] KyleAMathews opened #447 "New themes/example sites for 1.0"
Currently we have three starters which also serve as examples. Once a theme system lands, we'll be converting starters to themes. We should create more themes + example sites to demo what you can do with Gatsby especially new capabilities coming with 1.0.

What sort of sites should we build? Add in the comments some of your favorite sites to copy or open source themes we should port over. Also cra

[2016-09-15 21:37] KyleAMathews commented on #447
Here's a list I've been accumulating:

- spectacular photography / blog website http://burkhardt.photography/en/journal/
- gorgeous blog/magazine style https://miscmagazine.com/
- Google  Photos clone w/ albums, tiled front-page view + photo viewer
- really fun blog + love Futura/Anonymous Pro combo https://www.helloper.com/blog/2012/10/google-docs-jekyll/
- footnotes along side + js inline + like

[2016-09-15 21:39] KyleAMathews commented on #447
Once an alpha or two more has been released and things are fleshed out a bit more and more usable I'll start building these and putting them in an examples folder. Please volunteer to take one from my list or one of your own!

[2016-09-16 03:09] KyleAMathews commented on #444
Ok, I'm getting where you're coming from now. For me, it still doesn't help much to draw the distinction. I think what you're seeing as opaque is free form text as text is hard to slice & dice much further (though NLP could help — which would be an interesting GraphQL schema to expose tbh. [Jekyll will use latent semantic indexing to show you related posts](https://jekyllrb.com/docs/variables/)).

[2016-09-16 03:49] KyleAMathews opened #448 "Easy self-hosting of fonts"
Hosting your own fonts is much faster than using Google Fonts or Typekit, etc.

But it's kind of a pain to setup.

Which it shouldn't be, at least not for free fonts.

Solution: build Gatsby plugin which downloads desired fonts from https://github.com/majodev/google-webfonts-helper

Should have easy integration with Typography.js.

Lots of good ideas here: https://www.zachleat.com/web/comprehensiv

[2016-09-16 06:03] KyleAMathews commented on #448
Might be easiest to push typefaces to NPM and then just install them from there... hmm...

[2016-09-16 22:07] chiedo commented on #419
Hey @KyleAMathews,
I've been reading through issues and am not sure where to post this.

But would it be possible to have something like a .leave-these-files-alone file where we could specify files that shouldn't be put through the Gatsby build process other than copying?

For example, I have a google webmaster tools verification file called `blahblah.html` and I want that to simply be copied from

[2016-09-16 22:10] chiedo commented on #419
I could implement if you're in favor of the idea and pull request it

[2016-09-16 22:54] KyleAMathews commented on #419
@chiedo want to move this to a new issue? I agree this would be a good idea.

[2016-09-17 04:51] SachaG opened #449 "Workflow question: converting SVGs to PNGs"
Sorry in advance if this is a bit off-topic, but I have some SVG graphs generated by React inside Gatsby, and I would love to convert them into PNG preview images to make it easier to share them on Twitter.

What would be the best way to integrate this into the overall Gatbsy workflow? Could the conversion be done at build time, and the resulting images stored in `public`?

[2016-09-17 05:08] SachaG commented on #421
I think programmatic routes would be awesome (I used them a lot with Middleman, for things like discount codes for example: https://www.discovermeteor.com/blog/three-middleman-hacks-were-using-on-this-site/), but I also really like the current simplicity of the automatic routing.

So I think it'd be great to keep the current `pages` directory functionality, but also add a more explicity API for ro

[2016-09-17 05:12] SachaG commented on #449
I guess another way to phrase my question would be, given that I have a bunch of SVG charts built by Gatsby, how can I access the resulting markup at build time, hopefully without having to manually create a new page for each individual chart?

[2016-09-17 06:36] KyleAMathews commented on #449
On my phone but search for the postBuild hook. Export it from
gatsby-node.js and it gets called when build is done and you can do
whatever you want there.
On Fri, Sep 16, 2016 at 10:12 PM Sacha Greif <notifications@github.com>
wrote:

[2016-09-17 07:05] SachaG commented on #449
Thanks for the tip! Correct me if I'm wrong, but that hook doesn't seem to pass the markup directly, right? It does pass the file path so I guess I could always retrieve the markup like that.

I'm not sure what would be the best way to then access the SVGs though. Maybe have one separate page that contains all of them, and then somehow parse that?

[2016-09-17 07:12] KyleAMathews commented on #449
Right I don't think the pages themselves are available but they'll be in
/public now so you can grab them there.
On Sat, Sep 17, 2016 at 12:05 AM Sacha Greif <notifications@github.com>
wrote:

[2016-09-17 07:12] KyleAMathews commented on #449
Perhaps just use cheerio to zoom through all the html pages and pull out
svgs.
On Sat, Sep 17, 2016 at 12:11 AM Kyle Mathews <mathews.kyle@gmail.com>
wrote:

[2016-09-17 07:30] SachaG commented on #449
Actually, I'm not sure if my idea can work after all… I want to make it easy to share SVG graphs as Twitter cards, but it looks like that would require each graph to have its own page with its own meta tags, I don't think you can just pass an image URL to Twitter. So I don't think this is possible until we get programmatic routes, sadly.

[2016-09-17 07:33] SachaG commented on #449
Unless maybe I generated new HTML files myself containing the right meta tags in the `postBuild` hook. Seems a bit involved but maybe it could work…?

[2016-09-17 11:31] chiedo commented on #419
Will do @KyleAMathews :) I'll work on it after I finish migrating a WordPress site over to Gatsby.

[2016-09-17 11:33] chiedo opened #450 "There should be a way to ignore the build process on certain files in the pages directory other than simply copying from the pages directory to the public directory."
I'd like to propose something like a .leave-these-files-alone file where we could specify files that shouldn't be put through the Gatsby build process other than copying

For example, I have a google webmaster tools verification file called blahblah.html and I want that to simply be copied from my pages directory into my public directory in the build process instead of it being converted to a fold

[2016-09-17 17:30] KyleAMathews commented on #450
Yeah — this is a decently common request. I think the best thing now is to just implement the `postBuild` hook and copy files over yourself — https://github.com/britt/britt.github.com/blob/0cdce436ced01eef9b7a6688a4c874afa63bc69a/gatsby-node.js#L99

In 1.0, with its plugin system, my plan is to add an officially supported plugin which will make this very simple e.g.

[code]

I'm also thinking ther

[2016-09-17 18:07] chiedo commented on #450
That sounds great @kyleAMathews

I ended up adding a
`& cp pages/blah public/blah` to the end of my build command in my package.json haha.

In regards to the name of such a directory, I think the name `static` would make sense. I know that everything is static after the build process but the `static` directory would be for files that don't change in any way and just get moved.

[2016-09-18 06:45] SachaG opened #451 "File name case issue (avoid caps and CamelCase)"
I'm used to naming React components using CamelCase (`MyComponent.js`) but I just realized that although this works fine locally, it doesn't work with GitHub Pages routing.

I would suggest Gatsby just normalize every name to lowercase at build time, so a `MyComponent.js` page would become a `mycomponent/index.html` file instead of the current `MyComponent/index.html`.

[2016-09-18 07:13] SachaG commented on #449
Here's what I ended up with. Works pretty well!

[code]

Where `svgcontainer` is a React component containing all my SVG graphs.

[2016-09-18 07:13] #449 closed

[2016-09-18 07:47] KyleAMathews commented on #451
Is there not use cases for having upper-case urls?

It seems like it'd be confusing to modify URLs like this e.g. what if someone wanted a handful of URLs to be uppercase or even if they had two urls with the same letters just with different casing.

I'd suggest just using the `rewritePath` api (not documented atm) https://github.com/KyleAMathews/blog/blob/7caa79d25b36e2204760df7ce993fd15543021f5/

[2016-09-18 07:47] KyleAMathews commented on #449
Nice!

[2016-09-18 07:54] KyleAMathews commented on #421
I'm hoping to keep most of the simplicity of the current arrangement. So far the plan is `/pages` remains and Javascript pages still automatically have routes created for them. For other common `file => page` stuff, there'll be themes which provide this sort of functionality out of the box. So for a blog theme, it'd include the routing code to auto-convert markdown files into blog post pages.

Bas

[2016-09-18 08:36] SachaG commented on #451
I feel like upper-case URLs are probably a bad idea anyway? I can't really think of a use case where you'd want to have both `/foo` and `/Foo` and have them point at different pages. In any case GitHub pages doesn't handle case-sensitive URLs.

[2016-09-18 13:20] knpwrs commented on #451
As far as the node community is concerned, `kebab-case` is preferred for all file names. You'll see a lot of people, especially in the React community for some reason, who use `CamelCase` for filenames. This convention comes from the thinking of "this file is a class (or component)," whereas the former convention comes from the thinking of "this file is a module which *exports* a class (or compone

[2016-09-19 06:14] KyleAMathews commented on #451
Reducing the number of concepts that make up a framework is a useful design principle. Right now there's one rule — the JS filename becomes it's URL. If we make this change @SachaG there'd be two rules, (filename) => URL *unless* filename is capitalized. Since it's easy enough to programmatically add this extra rule I'd say let's just keep things as they are.

[2016-09-19 06:14] #451 closed

[2016-09-19 07:05] SachaG commented on #451
Well I guess one way makes for a simpler codebase and a more complex experience, and the other way is the opposite. It's all about trade-offs… :)

[2016-09-19 14:38] GuillaumeHaben commented on #64
Hi !

The `gatsby-browser.js` file in the starter I use ([https://github.com/wpioneer/gatsby-starter-lumen](https://github.com/wpioneer/gatsby-starter-lumen)) is empty. I've tried your way but I can't get any infos on Google Analytics. Any idea @SachaG ?

[2016-09-19 17:33] KyleAMathews commented on #64
@GuillaumeHaben can you post the code you're using?

[2016-09-20 07:55] kaihendry commented on #149
Keen for some pointers how to generate an RSS feed from the starter blog template. Cheers!

[2016-09-20 08:43] stereobooster commented on #419
You are doing super cool project)

As of offline support: https://github.com/jeffposnick/create-react-pwa/compare/starting-point...pwa

[2016-09-20 08:57] stereobooster commented on #408
Do not aim at low hanging fruits: yes of course book and movie is obvious association. But what in common in tool and movie? One way to get to logo is to start from moto.

[2016-09-20 09:00] stereobooster commented on #376
I know gatsby uses Flow. But some more notes for potential restriction on css modules (if you use TypeScript) https://github.com/Quramy/typed-css-modules#remarks

[2016-09-20 09:33] stereobooster commented on #285
It is also important to set image (other components) size as per AMP recomendation https://www.ampproject.org/docs/get_started/technical_overview.html#size-all-resources-statically

[2016-09-20 15:43] GuillaumeHaben commented on #64
@KyleAMathews I'm using the same code as Sasha (except with my GA id instead of xxxxx). I've also installed react-ga.

[2016-09-20 16:17] KyleAMathews commented on #64
We'd need more info to help. It sounds like it should work. Is there errors
in the browser console? Can you add a console.log to your Gatsby-browser.js
and the message shows?
On Tue, Sep 20, 2016 at 8:43 AM Guillaume HABEN <notifications@github.com>
wrote:

[2016-09-20 17:42] KyleAMathews opened #452 "Redirect from non-slash to slash page in development"
This trips up people all the time.

This would be an easy PR if someone wants to take it on!

Check [here](https://github.com/gatsbyjs/gatsby/blob/ac270441f4489f0aca85720237b6a95dc6ff9da7/lib/utils/develop.js#L131) if the path ends with a slash and if not, add it.

[2016-09-20 18:00] KyleAMathews opened #453 "Add default 404 page for development"
It should use fuzzy search to find the nearest matching path and say "did you mean to go to xyz page?"

And then below that show a searchable list of all pages.

This may or may not be possible with Gatsby 0.x (have to think more about that) but will be trivial with 1.x.

[2016-09-21 00:58] f0rr0 opened #454 "HMR in production build?"
After generating a static site, I test it via a simple http-server. The server keeps logging:
[code]
every few seconds. Is this intended behavior?

[2016-09-21 01:55] KyleAMathews commented on #454
Do you have the dev site still open? It'll keep trying to reconnect to your
dev server. Close that browser tab and it'll stop trying to reconnect.
On Tue, Sep 20, 2016 at 5:58 PM Siddharth Jain <notifications@github.com>
wrote:

[2016-09-21 09:31] stereobooster commented on #453
Some ideas in the box http://alistapart.com/article/perfect404

[2016-09-21 13:36] #454 closed

[2016-09-21 21:33] KyleAMathews commented on #419
Alpha 2 is out! See the updated "how to help" "how to test" sections above. Also added a new [CHANGELOG.md](https://github.com/gatsbyjs/gatsby/blob/1.0/CHANGELOG.md).

<img width="670" alt="screen shot 2016-09-21 at 2 31 59 pm" src="https://cloud.githubusercontent.com/assets/71047/18729855/60a14174-8008-11e6-99d2-38a3a69b79bc.png">

[2016-09-21 21:34] KyleAMathews commented on #419
I'll be filling the "Alpha 3" column on our project roadmap in the next day or two — https://github.com/gatsbyjs/gatsby/projects/1

[2016-09-21 21:35] KyleAMathews commented on #419
Also click the "Subscribe" button to the right if you want to get future updates :-)

[2016-09-21 22:17] KyleAMathews commented on #285
This is a super detailed/helpful post https://cloudfour.com/thinks/responsive-images-101-definitions/

[2016-09-22 06:34] stereobooster commented on #418
Webpack 2.0 https://webpack.github.io/docs/roadmap.html? It promise tree shacking for ES6

[2016-09-22 10:29] Croissong opened #457 "No hot reloading when port occupied"
Hot reloading does not work when choosing yes for

[2016-09-22 14:38] GuillaumeHaben commented on #64
You can check my repo [here](https://github.com/GuillaumeHaben/personnal-website). I tried the html.js and the `gatsby-browser.js` method but it doesn't work. There is nothing in the console.
A console log in my `gatsby-browser` file doesn't show neither. Is there any thing I have to do to link it to my project ?

[2016-09-22 17:57] KyleAMathews commented on #457
I noticed that the other day... would be an easy PR if you want to take it on! It looks the new port just needs set on `program` as well here https://github.com/gatsbyjs/gatsby/blob/97499105ed04568e703089b41c2c1a9f63c8c737/lib/utils/develop.js#L205

[2016-09-22 17:57] KyleAMathews commented on #457
Or actually... I need to make a quick release this morning anyways so I'll make the fix.

[2016-09-22 18:16] KyleAMathews commented on #285
A popular JS library that implements these techniques https://github.com/aFarkas/lazysizes

[2016-09-22 19:01] #457 closed

[2016-09-22 19:22] KyleAMathews commented on #64
Glad you got it working!

And I should finish converting my blog out of Coffeescript — that it's mixed JS/CS right now is confusing.

[2016-09-22 19:34] KyleAMathews opened #458 "Consolidate data about which file extensions Gatsby handles"
See https://github.com/gatsbyjs/gatsby/commit/bc6d896a29b09f9ce68211507ff9ab66b16fffcd#commitcomment-19135620

[2016-09-22 19:35] KyleAMathews commented on #458
/cc @rgbkrk

[2016-09-22 21:09] edouerd opened #459 "Additional non 'post' pages"
In which file(s) might I add an additional non-post page?

I'm currently trying to build a site which has an 'index' (/), a similarly-structured 'info' page, and 'posts' which comprise of actual blog posts that could be iterated upon and rendered in the index — these 'post' pages are actually affected by the included md.js file.

[This blog post](http://jxnblk.com/writing/posts/static-site-generat

[2016-09-22 21:25] KyleAMathews commented on #459
All pages come from `/pages`. You can put react components there and they become pages automatically. If you put in static files e.g. markdown, they need a wrapper component but also become pages automatically.

That help?

[2016-09-23 07:26] chiedo commented on #439
Just to be clear. Is this not related to this?

https://github.com/gatsbyjs/gatsby/issues/2

It seems to me that it is but I could be misunderstanding

[2016-09-23 13:56] edouerd commented on #459
It did! Thanks!

[2016-09-24 00:37] f0rr0 opened #460 "Symlink posts directory?"
This does not seem to work for me. I kept the posts in an entirely separate directory and added a symlink in `my-project/pages`. Can someone confirm?

[2016-09-24 00:44] f0rr0 opened #461 "Upgrade to webpack 2 in 1.0 branch"
webpack 2 is fairly stable. Bundle sizes could reduce drastically via tree shaking.

[2016-09-24 00:50] f0rr0 opened #462 "Don't re render on hash anchors from markdown wrapper"
This should be set by default. Markdown headings usually have anchor hashes. The component gets re-rendered if the hash link is clicked.

[2016-09-24 03:46] KyleAMathews commented on #461
I'm planning on shipping 1.0 with this. It's only "fairly" stable atm though so don't want to convert over just yet.

[2016-09-24 03:47] KyleAMathews commented on #462
Oh? Didn't realize this. How do you stop the rerender? Some react-router config?

[2016-09-24 03:48] KyleAMathews commented on #462
related: https://github.com/gatsbyjs/gatsby/issues/386

[2016-09-24 04:13] emilyaviva commented on #462
What about https://github.com/adjohnson916/anchorate ?

[2016-09-24 08:28] f0rr0 commented on #462
@KyleAMathews a naive way could be to intercept links with `#something` in `componentDidMount` and then `document.querySelector(`#${something}`).scrollIntoView();`

[2016-09-24 08:30] f0rr0 commented on #386
@rojobuffalo you can use something likw `markdown-it-anchor` for that

[2016-09-24 09:14] f0rr0 commented on #462
that could be followed up with:
[code]
However, the back button does not seem to work as expected

[2016-09-24 10:13] f0rr0 commented on #386
@ivanoats are you sure it is working 100% of the time? i tested it in my project and the result is almost the same as without using anchorate.

[2016-09-24 10:21] f0rr0 commented on #386
The correct way to fix this would involve stopping a re render in the first place. anchorate gets called only after the route is changed

[2016-09-25 04:24] ivanoats commented on #386
Pretty sure. I haven't had any issues from manual testers. I would be interested in an automated test.

Sent from my iPhone

[2016-09-25 04:41] TheAncientGoat opened #463 "ESLint: Issues highlighted in default airbnb styleguide valid?"
Some of the React best practice warnings and import warnings highlight reasonable issues in the code; is there a reason these aren't being followed? Especially regarding the module imports; as having a resolvable/valid package.json file could help in portability between gatsby and a plain npm react project.

[2016-09-25 06:05] KyleAMathews commented on #463
You're welcome to add PRs fixing this. TBH, I haven't gone through the list of changes in a while so I'm not entirely sure why some of the exceptions were made originally. It's on my mental list of TODOs for the 1.0 release but isn't something I'm going to get to soon and perhaps not for the 0.x line.

[2016-09-25 06:33] TheAncientGoat commented on #463
Ok cool, I'll see what low-hanging errors I can find and fix, if there isn't an underlying reason for it. I think the unresolved gatsby-helpers module can't be solved as it's not on NPM & imports not being resolved due to missing extensions  might be tricky due to webpack? Will look into it.

[2016-09-25 06:43] KyleAMathews commented on #463
That particular problem will be fixed in 1.0 as we'll be moving Gatsby to a [Lerna](https://github.com/lerna/lerna) monorepo so gatsby-helpers will be published separately to Github.

[2016-09-25 13:11] TheAncientGoat opened #465 "HMR not working with Stateless components?"
Currently, if I create a stateless component, updating it does not trigger HMR re-renders. It may be because https://github.com/danmartinez101/babel-preset-react-hmre is deprecated due to the transform family hot loaders being deprecated https://github.com/gaearon/react-transform-hmr - there are a few issues suggesting changing to https://github.com/gaearon/react-hot-loader 's V3 release (which is

[2016-09-25 23:07] f0rr0 commented on #462
I think this issue was being faced by Phenomic as well https://github.com/taion/react-router-scroll/issues/37

The behavior I am seeing is the same as mentioned in the issue above

[2016-09-25 23:11] f0rr0 commented on #386
Confirmed this is a `react-router-scroll` issue.
https://github.com/gatsbyjs/gatsby/issues/462#issuecomment-249452553
https://github.com/taion/react-router-scroll/issues/10

[2016-09-26 00:42] f0rr0 commented on #462
Back button will not work for same page hash anchors with https://github.com/gatsbyjs/gatsby/pull/467
But the scrolling is fixed

[2016-09-26 01:58] f0rr0 commented on #386
As far as `anchorate` is concerned, you ca achieve what it does with this basically in `gatsby-browser.js`:
[code]

[2016-09-26 04:16] KyleAMathews commented on #465
I actually just got this working on the 1.0 branch. See https://github.com/gatsbyjs/gatsby/commit/5185c3ab69d6750de0f1ced9153ba99cc0f2b2a3

Would you like to try backporting this to the 0.x line? It should be fairly straightforward. React-hot-loader 3 beta has been stable in my testing. For backporting, just move things from the app.js to web-entry.js.

[2016-09-26 14:52] mjurczyk opened #468 "ES6 Modules"
# Issue

In the latest build of Gatsby, loaders doesn't seem to work with ES6 modules' `import/export`, even though sample loaders are written with those.

The issue occurs when I try to _modify_ a loader, if I leave them as they are after installation, nothing seems to happen.

`import/export` seem to work perfectly for `pages/`.
# Specs

Gatsby ver. - `0.12.9`
Node ver. - `v5.0.0`
OS - macOS Sie

[2016-09-26 16:52] KyleAMathews opened #469 "Drop Hapi and use Webpack Dev Server's built-in express server?"
Would simplify things

https://twitter.com/heisenbugger/status/780342804346208256

Two extra things our dev server needs to do — render and serve the html.js + serve files from /public.

[2016-09-26 18:36] #462 closed

[2016-09-26 18:43] KyleAMathews commented on #468
This is an oddity around Babel and .babelrc. Gatsby sets Webpack up to load JS files for your project JS files using babel-loader but afaik doesn't let you use the same babel-loader setup for loading custom loaders. Those only use Babel if you put a `.babelrc` in your project directory.

I removed the .babelrcs from the official starters recently which is perhaps is causing the problem you're seei

[2016-09-26 18:46] KyleAMathews commented on #460
What sort of error are you seeing?

[2016-09-26 18:53] KyleAMathews commented on #439
@chiedo yes, that's on the same issue. Didn't get to this in the past obviously :-)

[2016-09-26 18:55] chiedo commented on #439
Cool :)

[2016-09-26 19:08] myappincome opened #470 "Documentation: Windows Install Python Pre-Requisite"
I've just finished installing on Windows.

Just wondering if it's worth adding a Pre-Requisite section somewhere to say Python is needed? I installed Python 2 and it installed ok, but I'm not sure if that's required on other environments.

[2016-09-26 20:24] f0rr0 opened #473 "prefixLink not working as expected with webpack url loader?"
I require an image like so:
[code]
The image is not base64 encoded. A url is returned from url loader. In dev mode it looks something like `http://0.0.0.0:8000/423d290eaf378bf7e0361ddf2a3ed695.jpeg` but running this in production with `linkPrefix = "/xyz"` returns `/xyz423d290eaf378bf7e0361ddf2a3ed695.jpeg`

Using
[code]
fixes the issue in production but breaks it in dev. The output is `/http://0.

[2016-09-26 21:11] KyleAMathews commented on #473
I don't think the problem here is `prefixLink`. I'm pretty sure you have the same problem as https://github.com/gatsbyjs/gatsby/pull/393 — that a `publicPath` isn't set for build-javascript and build-html. I've fixed this in the 1.0 branch. It'd be great if you want to backport the same fix. Basically you'd need to pull in the config.toml into webpack.config.js and then if `program.prefixLink` is

[2016-09-26 21:29] f0rr0 commented on #473
@KyleAMathews If the `publicPath` is set to `xyz/` and `prefixLink` returns `xyz/myAsset.png`, the URL would become `xyz/xyz/myAsset.png`. I'm not sure if I understood you correctly

[2016-09-26 21:49] KyleAMathews commented on #473
Oh true... that's confusing. Hmmm... yeah this should be handled consistently — either with `prefixLink` or internally transparent to end user.

React router actually added support for setting a `basename` after Gatsby was started so we could actually just scrap `prefixLink` altogether in Gatsby 1.0 and rely on `publicPath` and `baseName` and then keep `prefixLink` around only for when people are

[2016-09-26 21:54] f0rr0 commented on #473
I think with 1.0 you should just scrap `prefixLink` in favor of `publicPath`. What do you suggest we do for now though? I think since `prefixLink` is documented nicely and used in all the starters, perhaps you should merge this pr.

[2016-09-26 21:59] KyleAMathews commented on #473
Yeah, sounds like a good plan. I'll create an issue to clean this up in 1.0.

[2016-09-26 22:00] KyleAMathews commented on #473
@f0rr0 any other fixes you want in before I roll another release?

[2016-09-26 22:03] f0rr0 commented on #473
@KyleAMathews Nope, this seems good enough for now! Thanks

[2016-09-26 22:10] KyleAMathews opened #475 "Reduce usage of linkPrefix in 1.x"
A common problem with building sites is that you may deploy the same site in dev/testing/prod with different URL roots. Often it's just `/` but perhaps you're deploying to Github pages at YOUR_NAME.github.io/PROJECT_NAME in which case you'd need to prefix all links with `/PROJECT_NAME`.

In 0.x we just run everything through a helper function `linkPrefix` in the included module gatsby-helpers. Thi

[2016-09-26 22:24] #473 closed

[2016-09-26 22:30] KyleAMathews commented on #473
0.12.10 is out 🎉

[2016-09-26 22:59] jannisg opened #476 "Compile to static html but allow some custom JS to be proccessed"
I'm just trying to move my static html workflow away from Ruby based tools like Middleman to NodeJS based tools like Gatsby and I am having trouble trying to work out if there is a way to:

1. Compile React modules to static html files (supported by gatsby using the `noProductionJavascript` option)
2. Allow _some_ JavaScript to still make it through the compile pipeline but still end up with a non

[2016-09-26 23:09] KyleAMathews commented on #476
It's perhaps possible but could I ask why? You could treat React as a dumb template layer and do old school jQuery tricks like adding classes to React components and then attaching javascript to that. But part of the beauty of React (and why Gatsby is so nice) is that you don't have to do this — JS enhancements are always easily available without any of the painful ceremony jQuery required.

Gatsb

[2016-09-26 23:10] KyleAMathews commented on #470
This would be great in the FAQ on the README — could you add that?

[2016-09-26 23:10] KyleAMathews commented on #470
We'll be building a website soon for this where we can add more detailed platform specific docs.

[2016-09-26 23:14] jannisg commented on #476
I agree, it's not an ideal use case by any means, I guess the main reason for this even being a use case at all is that these agencies are used to getting static assets this way and since they usually take the static assets I deliver to them and then put them into their own .NET (or other backend tech) backend system and template renderer they really just want to dump some HTML into their own syst

[2016-09-26 23:26] KyleAMathews commented on #476
Oh interesting. Yeah — React components aren't at all like normal templates you find in other static site generators. Components have to be run within a JS environment so data has to be loaded into the site in order for React to run. Also React components compose and pass data down to each other. .NET wouldn't know how to handle it so there'd be no way to let a backend system pump data through Rea

[2016-09-26 23:44] jannisg commented on #476
Yea I think the GraphQL data layer to build a more dynamic integration with legacy systems and APIs would be awesome (#420). One thing I didn't quite get from your #420 issue description is how this would deal with active backend systems, i.e. the author publishes a new article in WordPress or whatever legacy system they use and this post now being available in the static site. As far as I underst

[2016-09-27 00:25] KyleAMathews commented on #476
For integrating with a legacy system, I'd anticipate most people would setup a manual or automatic build trigger e.g. someone saves a change (or a change has worked it's way through a workflow system) and at that point whatever you're using to build Gatsby would be triggered to rebuild with the latest content and redeploy the site.

Gatsby is quite quick to build so most sites should rebuild in <

[2016-09-27 01:44] jannisg commented on #476
Yup, that makes perfect sense. :)
I'll close this issue seeing as the discussion has clarified that for the original question about this specific use case. Thanks for being so responsive!

[2016-09-27 01:44] #476 closed

[2016-09-27 02:21] TheAncientGoat commented on #465
Ok, implemented React Hot Loader 3 (well, removed babel-hmre-preset and used react-hot-loader's appcontainer) here: https://github.com/TheAncientGoat/gatsby/commit/376888654b64a9f45bdd69571e2b7bb32d85d333

It still doesn't seem to do HMR on stateless components when they're exported though? Stateless components inside stateful components update as expected - not sure if I've overlooked something h

[2016-09-27 04:13] f0rr0 commented on #460
The markdown files don't show at all. There's no error per se

[2016-09-27 04:20] TheAncientGoat commented on #465
Just realized that npm link isn't the only thing required to update gatsby - the locally installed version also needs to be updated (of course). Doing so indicates that it isn't implemented properly in that commit yet - element being passed to the container is undefined, will resolve now

[2016-09-27 04:49] TheAncientGoat commented on #465
Ok - it seems that with my implementation, `import { AppContainer } from 'react-hot-loader'`  results in an undefined AppContainer, as importing the 'react-hot-loader' module by itself results in a sourcemap wrapper - no idea why this is happening; not going to dig into it further for the time being - will rather see if I can test out the alpha instead

[2016-09-27 04:58] KyleAMathews commented on #465
You might be running into a similar problem as I did — make sure you've removed all the old hot reloading stuff (include the hapi-webpack plugin) and then run `npm prune`.

[2016-09-27 05:00] KyleAMathews commented on #460
I'd investigate how Webpack works with symlinks — not familiar myself. This issue might help https://github.com/webpack/webpack/issues/1643

[2016-09-27 05:16] f0rr0 commented on #460
@KyleAMathews webpack loads the files correctly. `require.context` is working as expected. `context.keys()` has all files in `./pages` directory including the symlinked ones

[2016-09-27 06:03] f0rr0 opened #478 "Cross post to Medium!"
I wrote a [script](https://github.com/f0rr0/f0rr0.github.io/blob/dev/src/scripts/medium.js) to automate cross posting to medium from my blog. I don't know how relevant this is, but someone may find it useful. Maybe we can add a ref in the `README`. If enough people find it useful, I can build this into gatsby itself. It makes it really simple and pretty:

![medium](https://cloud.githubusercontent.

[2016-09-27 08:01] TheAncientGoat commented on #465
If the hapi-webpack plugin is removed, it needs to be replaced with webpack-dev-server right? Seems like quite a few things were re-written to support that - my naive swap runs the dev server but webpack doesn't seem to be compiling a serve able bundle (but tests pass?)

[2016-09-27 14:00] myappincome commented on #470
Sure thing, I'll give it a go now.

[2016-09-27 17:34] KyleAMathews commented on #465
Yes it does. Look at my commit, it's all there.
On Tue, Sep 27, 2016 at 1:01 AM Ryan Swart <notifications@github.com> wrote:

[2016-09-27 17:45] #460 closed

[2016-09-27 17:53] #470 closed

[2016-09-27 18:13] KyleAMathews commented on #478
This would be make for an awesome Gatsby plugin! The next or next next alpha will have plugin support and it'd be great if you could figure out how to make this work there (adding any necessary APIs).

[2016-09-27 18:35] f0rr0 commented on #478
@KyleAMathews It should be fairly simple to implement this as a gatsby run command like `gatsby medium` or something. To maintain consistency between the original content as rendered on the gatsby site and that sent to medium, users should be forced to keep the core markdown parsing logic in a separate file which can be required by different plugins etc. Right now that logic is within a webpack lo

[2016-09-27 18:41] KyleAMathews commented on #478
With 1.0 and the GraphQL data layer, Markdown rendering won't happen in Webpack any longer but instead through "source" plugins (probable name). Plugins like this would be able to query a standardized Markdown schema. So a plugin could require the standard `gatsby-plugin-markdown-source` (or whatever they end up being named) be installed and from that know they can query for rendered HTML. The mar

[2016-09-28 02:41] KyleAMathews opened #481 "Support page URLs without trailing slash"
Jekyll has good documentation on how to setup this up with different hosts.

http://jekyllrb.com/docs/permalinks/#extensionless-permalinks

This shouldn't be the default as not all serving software/hosts support this.

[2016-09-28 07:26] DonJayamanne opened #482 "How to add links in markdown to other markdown pages"
OS: OS X Elcapitan 10.11.6
Nodejs: 6.6.0
Gatsby: 0.12.12

I'd like to add a link in a markdown file to another markdown file.
This works in development mode, however doesn't when trying to publish with the ```--prefix-links``` option.

Basically, links generated in the markdown files are not prefixed.
Is this supported or am I missing something?
Thanks.

[2016-09-28 07:36] KyleAMathews commented on #482
In 0.x It might be possible if you use a custom loader like https://github.com/gatsbyjs/gatsby-starter-default/blob/master/loaders/markdown-loader/index.js

Related is https://github.com/gatsbyjs/gatsby/issues/475 — this wouldn't be an issue if we were using `basename` with React Router.

[2016-09-28 08:37] Khaledgarbaya commented on #324
Hey Guys,

I am maintaining the Contentful JS SDK and I will be glad to provide help/direction for building the integration.
I think you Using the Sync api through the SDK would be a good idea to pull only the changed/new data and then write to md files as @ivanoats mentionned.

Cheers,
Khaled

[2016-09-28 18:35] KyleAMathews commented on #408
Brandon Grotesque is another great option for a font — inspired by Futura and other geometric-style fonts popular in the 20s-30s. One of the more popular web fonts right now. Would be great for headers or body on site.

https://typekit.com/fonts/brandon-grotesque

[2016-09-28 19:01] rgbkrk commented on #408
@SachaG Love that simple G for the square logo!

[2016-09-28 19:04] KyleAMathews commented on #408
@rgbkrk agreed ❤️

@SachaG you have a bit of time to play with the design? I was thinking a good place to try out your design would be our Twitter avatar which is currently quite hideous. What do you think about taking your monogram and colorizing it a bit and I'll put it up on Twitter? I'm going to start on the website this week so will be playing around with some design ideas that I'll share.

[2016-09-28 23:28] davad commented on #408
@SachaG Wow, love that logo.

[2016-09-29 00:57] SachaG commented on #408
OK, I'll work on something :)

[2016-09-29 01:25] DonJayamanne commented on #482
Perfect, that works along with the use of [markdown-it-replace-link](https://github.com/martinheidegger/markdown-it-replace-link)
Thanks

[2016-09-29 01:25] #482 closed

[2016-09-29 01:33] SachaG commented on #408
Did you have any specific color in mind? How about something like this?

![https://d3vv6lp55qjaqc.cloudfront.net/items/2U1S0G3P0E0Y3s2N431D/gatsby-1.jpg?X-CloudApp-Visitor-Id=43642&v=cdc164d5](https://d3vv6lp55qjaqc.cloudfront.net/items/2U1S0G3P0E0Y3s2N431D/gatsby-1.jpg?X-CloudApp-Visitor-Id=43642&v=cdc164d5)

[2016-09-29 01:41] SachaG commented on #408
SVG:

- https://cl.ly/hbTv
- https://cl.ly/hbjr

[2016-09-29 02:19] KyleAMathews commented on #408
Trying colors similar to the movie could be nice. This page has good stuff
http://vintagedancer.com/1920s/fabrics-and-colors/
On Wed, Sep 28, 2016 at 6:41 PM Sacha Greif <notifications@github.com>
wrote:

[2016-09-29 02:46] SachaG commented on #408
I thought about it but I figured it might be better to the clean, modern "JS library" aesthetic (https://facebook.github.io/react/, http://horizon.io/, etc.) rather than go all-out on the retro style.

Although I guess maybe a mix of browns/pinks/oranges could work if it's not too heavy? In fact I'm using a similar color scheme on http://stateofjs.com

[2016-09-29 02:56] f0rr0 commented on #408
Just my two cents here. I think @SachaG is right with the clean aesthetic. Gatsby should fit in well with other parts of the ecosystem (namely React, Webpack and GraphQL). In any case, if we were to go with a vintage look, then a more retro looking font would make more sense.

[2016-09-29 02:58] SachaG commented on #408
Here's a more retro color palette:

![https://d3vv6lp55qjaqc.cloudfront.net/items/0n27460Y3A3V0Y470M1C/gatsby-palette.png?X-CloudApp-Visitor-Id=43642&v=3f6cdb82](https://d3vv6lp55qjaqc.cloudfront.net/items/0n27460Y3A3V0Y470M1C/gatsby-palette.png?X-CloudApp-Visitor-Id=43642&v=3f6cdb82)

Btw, regarding the logo font I think we need to stay with Futura, otherwise it won't match the "G" in the monogra

[2016-09-29 03:01] f0rr0 commented on #408
#f92672 on #21232d might look nice

[2016-09-29 03:13] f0rr0 commented on #408
How about using a monospace font for the body copy? Gatsby is going to be used mostly for blogs and documentation sites. The [font](https://www.boldmonday.com/typeface/nitti/) used by [https://ia.net/writer] is stunning.

[2016-09-29 03:16] SachaG commented on #408
I like monospace fonts for headings, but they're not super-readable for body copy imho. You'll note iA don't use a monospace font for their blog, even if they use it inside the app.

[2016-09-29 05:12] KyleAMathews commented on #408
Trying it out :-) https://twitter.com/gatsbyjs/status/781360858467213312

[2016-09-29 05:16] SachaG commented on #408
Here's a slightly tweaked version with more contrasted colors:

![https://d3vv6lp55qjaqc.cloudfront.net/items/1t0L1R1m2z2I3u2f1802/gatsby-palette2.png?X-CloudApp-Visitor-Id=43642&v=7b1fbd9f](https://d3vv6lp55qjaqc.cloudfront.net/items/1t0L1R1m2z2I3u2f1802/gatsby-palette2.png?X-CloudApp-Visitor-Id=43642&v=7b1fbd9f)

[2016-09-29 05:18] SachaG commented on #408
And PNG of just the orange version: https://cl.ly/hbRC

BTW it's funny, somehow my designs all end up with the same orange-and-beige color scheme… see http://sachagreif.com/, http://www.communitybuildingguide.com/, and http://www.patternify.com/

I guess it's good to have a style :)

[2016-09-29 05:19] KyleAMathews commented on #408
I don't know that we need to keep with the aesthetic of React, etc. I don't get the feeling that a ton of thought went into their branding and also there's a lot of value in having something distinctive. Gatsby is already a pretty distinctive name so I say let's keep running with it.

[2016-09-29 05:21] SachaG commented on #408
I feel like https://middlemanapp.com/ is a nice example of a more muted, less "startupy" color scheme with their mustard color. You changed my mind, I think it's worth exploring that direction too :) It definitely has more personality.

[2016-09-29 05:22] SachaG commented on #408
More inspiration ;)

![https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Capsule_Corp_Logo.svg/2000px-Capsule_Corp_Logo.svg.png](https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Capsule_Corp_Logo.svg/2000px-Capsule_Corp_Logo.svg.png)

[2016-09-29 05:24] KyleAMathews commented on #408
@SachaG yeah :-) it's fun/effective to get in a grove and roll with it for a while.

On fonts, totally cool with Futura. [Typewolf suggests](https://www.typewolf.com/site-of-the-day/fonts/futura) as a font pairing, [New Caledonia](https://www.typewolf.com/site-of-the-day/fonts/new-caledonia) which I rather like. It'd [cost us $140](http://www.myfonts.com/fonts/linotype/new-caledonia/) for the 400/

[2016-09-29 05:27] KyleAMathews commented on #408
@f0rr0 I really like Space Mono among monos https://medium.com/google-design/introducing-space-mono-a-new-monospaced-typeface-by-colophon-foundry-for-google-fonts-84367eac6dfb#.h1cyt77cq

Anonymous Pro is cool too by same designer behind Proxima Nova https://www.typewolf.com/site-of-the-day/fonts/anonymous-pro

[2016-09-29 05:28] SachaG commented on #408
Yep I used Space Mono for https://crater.io/ and http://stateofjs.com/. Agree that Anonymous Pro looks great too!

In fact here's a site pairing Futura and Anonymous Pro: https://www.typewolf.com/site-of-the-day/per-sandstrom

[2016-09-29 05:34] KyleAMathews commented on #408
@SachaG yeah — I really like Middleman too. Something a bit off-beat and with more personality would suit my tastes.

Also more strategic — my feel is Gatsby can find a lot of traction beyond the early adopter React.js crowd. The designers, web agencies, hobby developers of the world. Something not so "I'm a JS library" would feel more approachable and friendly.

[2016-09-29 05:40] KyleAMathews commented on #408
Poppins (a Futura-esque font) and Anonymous Pro do look nice together — try them out on http://kyleamathews.github.io/typography.js/

<img width="1147" alt="screen shot 2016-09-28 at 10 40 14 pm" src="https://cloud.githubusercontent.com/assets/71047/18942272/929f8996-85cc-11e6-97fa-70a17f40fc84.png">

[2016-09-29 05:46] mxstbr commented on #408
Oooh I love the new colors @SachaG and the mark, very lovely 👍

I think a monospace font might be too techy, but then you need to be able to write Markdown to use Gatsby so maybe that's a fair assumption…

[2016-09-29 05:59] KyleAMathews commented on #408
@mxstbr with the new GraphQL layer you'll be able to write posts in hosted CMSs like Contentful or even just use Wordpress, etc. https://github.com/gatsbyjs/gatsby/issues/420

We'll also be able to do crazy stuff like use Trello as a CMS https://changelog.com/trello-as-a-cms/

[2016-09-29 06:11] mxstbr commented on #408
Ah yeah, then I'd definitely not go with a monospace font to not invoke that code-y feeling.

[2016-09-29 06:26] f0rr0 commented on #408
@KyleAMathews Anonymous Pro looks great if we decide go with monospace, imo it looks techy since we are used to seeing monospace fonts and associating it with code. To a non tech person it would like just another font and a neat one at that.

[2016-09-29 09:13] ArchieHicklin commented on #408
![gatsby dark](https://cloud.githubusercontent.com/assets/10767740/18947990/e30848dc-8667-11e6-83c7-42721d847e66.png)

[2016-09-29 09:20] ArchieHicklin commented on #408
This is Brown - it looks friendly and approachable while remaining traditional in some resepects https://lineto.com/The%20Fonts/Font%20Categories/Text%20Fonts/Brown/

![gatsby light](https://cloud.githubusercontent.com/assets/10767740/18948292/0e72fa2a-8669-11e6-96c9-a3efa75c48a0.png)

[2016-09-29 15:47] fk commented on #447
I would love to help out here, but I think both time and my limited React knowledge would cause me to be more of a pain than a help.

I loved discovering the reference to https://www.atlassian.com/git/ in the original "[Braindump of Ideas](https://github.com/gatsbyjs/gatsby/issues/1)" issue and if something like "[Low Hanging Animation Options](https://github.com/gatsbyjs/gatsby/issues/429)" or a

[2016-09-29 16:23] KyleAMathews commented on #447
@fk thanks for the validation on this issue! And I think you will quite easily be able to help. The theme system in Gatsby will be *composable* meaning someone can publish a theme and you'll be able to easily remix it into something similar but different or the same but extended. So it should be fairly easy to come up with compelling but unique themes in the future.

My first goal with these examp

[2016-09-29 16:34] fk commented on #447
Yay! I'd be happy to give things a try, and I'm sure I will do sooner or later! However I think I won't be of any help for issues like the aforementioned https://github.com/gatsbyjs/gatsby/issues/429 until my React-foo improves drastically – which I would _love_ to.

This might be a stupidly vague question, but: Is there are starter you would recommend to take a closer look at for now – without co

[2016-09-29 16:51] KyleAMathews commented on #447
Have you looked through [the starters on the README](https://github.com/gatsbyjs/gatsby#gatsby-starters)? The [blog starter](https://github.com/gatsbyjs/gatsby-starter-blog) might be a good place to start as it's focused and simple.

I'd start by looking first in the /pages directory then the /wrappers directory (these are React.js components that *wrap* static pages like markdown), and then final

[2016-09-30 01:02] brianstone opened #483 "So many files?"
"gatsby": "^0.12.6"
node: v4.4.2
macOS Sierra

Just starting Gatsby today and did `gatsby new my-test-gatsby-site` and was wondering:
Has anyone written a script to remove unwanted files from the install? (i.e. .cjsx, .less, etc.)

If not, I might jump on that.

[2016-09-30 01:06] KyleAMathews commented on #483
Yeah, agree it can be kind of excessive.

With 1.0 and the new "theme" system, one thought is that themes could explicitly provide "example" content that you could a) install without it or b) remove it after installing once you're done playing around with content and you want to add your own content.

[2016-09-30 03:41] renatorib commented on #408
@ArchieHicklin I liked this so much. You can put a outline effect like this
![image](https://cloud.githubusercontent.com/assets/3277185/18980030/94b36628-86a6-11e6-91b3-c9d10fe0dd53.png)

[2016-09-30 05:21] KyleAMathews commented on #408
Playfair Display for headers + Futura for body font looks quite nice.
<img width="725" alt="screen shot 2016-09-29 at 10 19 32 pm" src="https://cloud.githubusercontent.com/assets/71047/18981434/fd33f1ea-8692-11e6-8267-10394cd078c6.png">

[2016-09-30 05:29] KyleAMathews commented on #408
And adding a monospace font to the mix is cool too. This is Space Mono:

<img width="781" alt="screen shot 2016-09-29 at 10 27 59 pm" src="https://cloud.githubusercontent.com/assets/71047/18981532/1e519ffc-8694-11e6-9f12-7f9030f2e028.png">

[2016-09-30 05:33] SachaG commented on #408
That does look nice! I'd be curious to see what it looks like with the retro palette, too.

[2016-09-30 05:39] ArchieHicklin commented on #408
![gatsbytrial](https://cloud.githubusercontent.com/assets/10767740/18981688/45cee1c8-8713-11e6-9f86-3272894eb9e7.png)
how about more cute? 😂

[2016-09-30 05:43] KyleAMathews commented on #408
@SachaG

<img width="699" alt="screen shot 2016-09-29 at 10 43 21 pm" src="https://cloud.githubusercontent.com/assets/71047/18981793/2cfea82c-8696-11e6-9693-863154cea606.png">

[2016-09-30 05:45] KyleAMathews commented on #408
@ArchieHicklin haha! Did you draw that? That'd be hilarious to have him popping up throughout the design. A little whimsical add-on.

[2016-09-30 05:45] KyleAMathews commented on #408
Or maybe little as part of little helpful callouts — he could be the butler or whatever giving hints.

[2016-09-30 05:46] ArchieHicklin commented on #408
Here's the svg http://imgh.us/gatsbysvg.svg - maybe can even add a green light on a dock across the bay 😂

[2016-09-30 05:47] KyleAMathews commented on #408
😆 a green light for sure.

[2016-09-30 06:06] SachaG commented on #408
@KyleAMathews colors look great!

@ArchieHicklin I love the character! I can totally see him popping up throughout the site offering helpful tips :)

[2016-09-30 06:47] ArchieHicklin commented on #408
@SachaG Haha - thanks! I love how http://emberjs.com/ do that! Provides a nice design voice

[2016-09-30 15:13] colbycheeze opened #484 "Is it possible to add a resolve path to webpack config?"
I see how I can add plugins and loaders, but what about a root resolve path?
I always do something like this in my projects and it is very helpful.

[code]

[2016-09-30 23:35] SachaG commented on #408
Something I was wondering – should we use that off-white orange color as the background for the whole thing? Or keep a white background?

[2016-10-01 00:26] f0rr0 commented on #484
@colbycheeze Merge it to your config in `gatsby-node.js`.

[2016-10-01 01:37] KyleAMathews commented on #408
We could try it for sure — one cool thing about using https://www.netlify.com/ for hosting (as I'm planning to) is that when you make a PR, it rebuilds the site with your changes so it's easy to try something experimental and share it for feedback. I think I'll start with white but yeah, I'd be curious to see whether a colored background works. Ember does that and it works.

[2016-10-01 02:09] SachaG commented on #408
Oh that's pretty cool. I've been using Heroku and now GH Pages for my static sites, but I'll check out Netlify next time.

[2016-10-01 05:01] f0rr0 opened #485 "IndexRoute for markdown files with custom path?"
If I have a `about.md` file in `./pages` directory with `path` set to `/about/index.html`, this file will not be rendered as `IndexRoute` at `/about/` due to the way `IndexRoute`  is [currently set](https://github.com/gatsbyjs/gatsby/blob/dcb4d7b53d4135edb0eacbf2695ae18825dee531/lib/isomorphic/create-routes.js#L148) in `create-routes.js`.

[2016-10-01 08:15] SachaG commented on #408
Just had a thought, maybe we could use the newly-released [Figma](https://www.figma.com) to do a live collaborative design session around the Gatsby identity/homepage?

[2016-10-01 21:08] KyleAMathews commented on #408
I'd be down for that! Next week is pretty free for me.

If you want to join, choose some times when you'd be available — http://doodle.com/poll/tnf6tyu3my7ez3y6

[2016-10-01 21:08] KyleAMathews commented on #408
Make sure to change your timezone if not in PST.

[2016-10-01 21:12] KyleAMathews commented on #485
IndexRoute's are a bit odd. They're only used for the route which should render by default for a given parent route. So how Gatsby figures this out is it sets the IndexRoute to the `index.*` in the same directory as a `_template.*` file.

This is more explicit in Gatsby 1.0.

[2016-10-01 21:12] #485 closed

[2016-10-02 14:42] bdougie commented on #483
The idea of themes is interest, is this sort of like the [Hugo](http://themes.gohugo.io/) does their themes? Is this also being actively developed on a branch?

I would love to take a look and see if there is anything I can assist with.

[2016-10-03 21:02] KyleAMathews commented on #408
Let's plan on the Wednesday 7-8pm PST slot.

I created a Figma canvas for us to use https://www.figma.com/file/cdetTt0bxTyIYVJMJdNZKVm1/Gatsby Fill free to start adding stuff before Wednesday :-)

I'll create a Google Hangout link and post it here before then that we can use for talking.

[2016-10-04 02:33] wamatt commented on #408
nostalgic fun ![image](https://cloud.githubusercontent.com/assets/1271434/19060757/b23e3c1c-899f-11e6-8541-b08564309ce4.png)
Also like @ArchieHicklin's idea with mackey mc mascot, keeping it light hearted

[2016-10-04 06:40] KyleAMathews commented on #483
@bdougie themes are probably a post 1.0 feature or will be one of the last features added. They're not necessary to actually build a site — more of an optimization to make it easier for people to adopt Gatsby. But like all optimizations, they should be the last thing you add to ensure all the foundational pieces are really good first.

But yeah, they'll work really similar to theme systems. I real

[2016-10-04 09:49] ckhowell commented on #408
I added an art-deco typeface to the figma board

[2016-10-05 00:17] KyleAMathews commented on #149
@kaihendry check out what I did for my personal blog (need to convert this to JS) https://github.com/KyleAMathews/blog/blob/master/post-build.coffee

[2016-10-05 00:18] KyleAMathews commented on #149
Hey folks — been working on design + components for Gatsby powered documentation sites. As a test case I've been working on a PR to convert the new Webpack website to use Gatsby. Would love feedback on the design, etc. as whatever that ends up being will be what we will use here (or very similar).

https://github.com/webpack/webpack.js.org/pull/202

[2016-10-05 04:56] kaihendry commented on #149
Looks good @KyleAMathews. My only niggle is that View Source is FUGLY.
view-source:https://webpack-gatsby.netlify.com/concepts/targets/

I know one is supposed to use Chrome Dev tools to explore the markup in 2016, but I prefer to have readable markup. It's the way I learnt the Web and as a result, any site that has fugly markup gets minus points from me.

Oh btw CONFIGURATION is line breaked? htt

[2016-10-05 06:37] KyleAMathews commented on #149
@kaihendry ahhh I see you're an old-timey web developer who likes the fine patina developed on hand-crafted, hand-polished HTML ;-)

You'll love the new plugin system with Gatsby 1.0 as you could create a plugin to pretty-print Gatsby's output :-)

Hmmm... yeah, it looks like that line breaks at 872 pixels wide on my mac chrome. I'll shrink it down or set a min-width on that column in the morning.

[2016-10-05 06:58] MoOx commented on #149
@KyleAMathews I think the current visible css is very redundant. Is this something that can be improved?

[2016-10-05 16:20] KyleAMathews commented on #149
@MoOx not sure I understand what you mean? Which css? Redundant to what?

[2016-10-05 16:23] MoOx commented on #149
view-source:https://webpack-gatsby.netlify.com/concepts/targets/

![image](https://cloud.githubusercontent.com/assets/157534/19121966/bd4b5042-8b28-11e6-8fdc-774345951257.png)

[2016-10-05 16:31] KyleAMathews commented on #149
@MoOx oh gotcha... hmmm you're right, there is a lot of duplicates there. That's the output from extracting styles from [Glamor](https://github.com/threepointone/glamor/) — I'll file an issue there about deduping rules when server rendering. In the meantime though, all hail the magic of gzip :-)

[2016-10-05 18:54] KyleAMathews commented on #462
On not re-rendering, just was investigating this — easiest solution is to add a `shouldComponentUpdate` on routes and don't render on hash changes. This is possibly something Gatsby could add automatically as we generate the routes and could wrap them with a sCU like this.

[2016-10-05 18:55] KyleAMathews opened #487 "Wrap routes with sCU that that does shallow compare check + blocks renders on hash changes"
https://github.com/gatsbyjs/gatsby/issues/462#issuecomment-251765800

[2016-10-05 19:47] dardub opened #488 "Use react helmet as default"
I just wanted to get your thoughts on replacing react document title with react helmet.  Since react helmet is more full featured as mentioned on react document title documentation. I think it's needed if you want different meta description or facebook opengraph meta from page to page.

[2016-10-05 19:48] MoOx commented on #488
I confirm it's a good, choice. Really mature & flexible. We use it for Phenomic and it's 👌

[2016-10-05 20:02] KyleAMathews commented on #488
Agreed :-) @chiedo actually switched out all the starters to use it a few weeks ago e.g. https://github.com/gatsbyjs/gatsby-starter-blog/pull/15 It's an [easy switch](https://github.com/gatsbyjs/gatsby-starter-blog/pull/15/files) so go ahead!

[2016-10-05 20:02] #488 closed

[2016-10-05 20:08] f0rr0 commented on #488
Did the same thing today https://github.com/f0rr0/f0rr0.github.io/commit/8fb4da489099c35b887e10b605245b187b421ed5