[2018-01-17 17:53] #3564 closed

[2018-01-17 17:54] KyleAMathews commented on #3564
Done :-)

[2018-01-17 18:01] reramjiawan commented on #3183
The problem is solved! It is related to being a permission issue on Windows Machines. Installing Gatsby on a other drive or folder which does not need permission so **NOT** Program Files will solve the problem!

[2018-01-17 18:05] szimek commented on #3183
@reramjiawan Looks like `node-glob` package has some strange issues on Windows, e.g. https://github.com/isaacs/node-glob/issues/245 :/

[2018-01-17 18:08] KyleAMathews commented on #3183
@szimek hmm that could be it

Both node-glob and chokidar are failing to find the layout component file https://github.com/gatsbyjs/gatsby/blob/0a1e42cf39f5189a7730d7ef6c818bb8eefbda9e/packages/gatsby/src/internal-plugins/component-layout-creator/gatsby-node.js#L29

[2018-01-17 18:11] szimek commented on #3183
While it sucks a bit, if it's really caused by this permissions issue, maybe Gatsby could check file permissions when creating a new app and report an error/warning if they are incorrect (whatever it actually means) and could break `node-glob`?

[2018-01-17 19:46] szimek opened #3567 "Optimize inlined webpack manifest"
Current Gatsby inlines webpack manifest than includes entries for all generated pages. It looks like this:
[code]
It's used e.g. to preload code for all pages that are linked to on the current page to speed up opening new pages.

The issue is that when there are a lot of pages, e.g. a few thousand, this manifest gets pretty big (one entry in my case has ~65 bytes; times e.g. 5000 pages gives 325kB

[2018-01-17 19:56] busticated opened #3568 "[gatsby] v1.9.157 - TypeError: Cannot read property '35783957827783' of undefined when running in production mode..."
I ran into a weird error after upgrading to `gatsby v1.9.157`. if i manually revert [this change](https://github.com/gatsbyjs/gatsby/pull/3519/files), everything works as expected. likewise, downgrading to `gatsby v1.9.155` fixes the issue.

## Description
after running `gatsby build && gatsby serve` then visiting `http://localhost:9000`, i see the following error sporadically:

[code]

it appears

[2018-01-17 20:06] busticated commented on #3568
cc @szimek

[2018-01-17 20:12] szimek commented on #3568
😭  I checked it multiple times and it always worked for me... Could you check what exactly triggers this line:
[code]
?

According to the [docs](https://developer.mozilla.org/en-US/docs/Web/Events/DOMContentLoaded) inline scripts should be loaded synchronously and delay `DOMContentLoaded` event, which Gatsby waits for before it starts rendering React app. So I thought that any JS code that depends

[2018-01-17 20:38] szimek commented on #3568
I suspect it's caused by this script loader https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/static-entry.js#L186-L196.

Gatsby preloads all scripts using `<link rel="preload" />`, but this doesn't execute them, so it can't cause this issue. However, it also adds this script loader to the bottom of `<head>`, which loads the same scripts that are preloaded at the top of `<he

[2018-01-17 22:00] piotrf opened #3570 "GLib-CRITICAL — an issue with Sharp."
## Description

Not sure when that happened, wasn’t running my site for a while, changed nothing in the repo, and now `gatsby develop` fails at the following. Could mean has to do something with OS upgrade?

[code]

### Environment

Gatsby version: 1.9.157
Gatsby-cli version: 1.1.28
Node.js version: v9.4.0
Operating System: MacOS High Sierra 10.13.2

### File contents (if changed):

`package.json`

[2018-01-17 22:27] KyleAMathews commented on #3570
I'm guessing yeah,  something to do with the native dependency. Did you try removing node_modules and reinstalling?

[2018-01-17 22:28] piotrf commented on #3570
Yes, I did. No luck. I also tried rolling back gatsby and sharp a few versions, no luck.

[2018-01-17 22:39] stefvhuynh commented on #3546
yeah, usually for these links, you'd pass in `<a href="/some/path">`. so it's working now because `anchor.getAttribute('href')` returns that property verbatim. but it won't work if you do `<a href="https://mydomain.com/some/path">`. This will result in pushing `mydomain.com/some/path` to the end of the current url. However, if you use `anchor.pathname`, you will get `/some/path` in both examples,

[2018-01-17 22:45] sebhewelt opened #3571 "Inner exception message : "The OAuth2 token is invalid.""
## Description

Pulling posts from wordpress doesn't work on netlify, but works fine locally.

### Environment

Gatsby version: 1.9.92
Node.js version: 8.5.0

### Actual result

Netlify build log:

[code]

### Expected behavior

The same as locally. To pull all the data from wordpress without a problem. Here's the console log on running `gatsby develop `locally:

[code]

I can provide additional i

[2018-01-17 23:13] KyleAMathews commented on #2641
Great article from Slack on improving webpack build performance https://slack.engineering/keep-webpack-fast-a-field-guide-for-better-build-performance-f56a5995e8f1

[2018-01-17 23:43] KyleAMathews commented on #3559
Yeah for sure — I think eslint is something we should definitely add to core. Would happy to hear proposals for other specific additions! I don't think a `--strict` flag makes too much sense. Either something is in core, something is in the official starters, or we document "best practices" for other additions.

[2018-01-17 23:43] #3559 closed

[2018-01-17 23:44] KyleAMathews commented on #3159
Good take on this

https://twitter.com/aprilwensel/status/953387594783506433

[2018-01-17 23:53] kripod commented on #3559
I think that using the default ESLint config of create-react-app would definitely make sense.

[2018-01-18 00:53] ktei opened #3572 "webpack loading error after deployed"
Hi, I run `gatsby build` and deployed all the files, but when I open the website [http://ktei.github.io/](http://ktei.github.io/), I sometimes (very often actually) got this JS error:

<img width="1251" alt="screen shot 2018-01-18 at 10 54 43 am" src="https://user-images.githubusercontent.com/2195250/35075185-be027e40-fc45-11e7-9c4d-e77331bc3ac7.png">

And this is what sourcemaps told me:

<img wi

[2018-01-18 01:25] KyleAMathews opened #3574 "Increase webpack build speeds and decrease webpack manifest size by handling loading page data (from GraphQL queries) ourselves"
Currently we load data results from GraphQL through webpack.

This has a few negatives effects:

* Slows "hot reloading" of data when developing
* Slows webpack builds as webpack has to handle an extra file / page. This can be considerable. E.g. imagine a blog with 1000 posts. The blog might use ~10 components to power the site. That plus dependencies might be ~100 modules. The 1000 blog posts req

[2018-01-18 01:27] KyleAMathews commented on #3568
Ok, this was the problem that [I couldn't remember](https://github.com/gatsbyjs/gatsby/pull/3519#issuecomment-357520606) 😅

So yeah, the webpack manifest sets `webpackManifest` on the window object. Then each of the webpack bundles use that to translate their unique ids (e.g. `commons-68715c66e10bd35fbd81.js`) back to `commons.js` which is what we refer to it internally.

So if scripts are loaded

[2018-01-18 01:27] #3568 closed

[2018-01-18 01:32] KyleAMathews commented on #3572
Hi! Sorry about that — we merged a PR a few days ago that caused this. Luckily we also just merged a fix a few minutes ago so if you update to the latest Gatsby you'll be fine again :-) https://github.com/gatsbyjs/gatsby/issues/3568

[2018-01-18 01:32] #3572 closed

[2018-01-18 01:54] KyleAMathews opened #3575 "Add peerDependencies to every plugin"
Going forward, we'll be doing every so often major releases for Gatsby but individual plugins might not need upgraded as the APIs they depend on won't have changed. We should prepare for that now by adding a `peerDependencies` for Gatsby to every plugin. Then when there is a breaking change that affects the plugin or there's a new major release of Gatsby, we update the peerDependencies for the plu

[2018-01-18 03:19] mboudreau commented on #561
So, using `-H 0.0.0.0` worked for me to access the static website on the network, however, there is an edge case when it comes to webfonts.  I have this css:

[code]
When using it locally, no problem, since webpack (I'm guessing? I'm using `gatsby-plugin-sass` to compile my css) seems to be prepending the server url in front of the fonts, so it looks like this:
[code]
This works in localhost, no i

[2018-01-18 03:22] alexmacarthur commented on #2427
Having this same issue as well. Anyone have any ideas?

[2018-01-18 03:53] flipactual commented on #3560
I am getting very inconsistent results (detailed below) – can you let me know what additional information I could provide?

---

## First attempt (forgot to add `debugger` and just logged out some values, new content)

I added a new path, hit it with a cached SW, was redirected to 404, SW was updated, navigated to new path, everything was fine

## Second attempt (added `debugger`, new content)

ht

[2018-01-18 04:15] amberleyromo commented on #3095
Hey @Charon77, are you still adding these docs?

[2018-01-18 04:38] jonathan-chin commented on #2829
I came across this exact problem. I added two lines in my package.json that should be set-and-forget:

[code]

[2018-01-18 08:08] szimek commented on #3567
@KyleAMathews It looks like it's a (kind of) duplicate of https://github.com/gatsbyjs/gatsby/issues/3574. Close it if you think it doesn't make sense to keep both tickets opened.

[2018-01-18 11:13] harrisnguyen94 commented on #3495
@KyleAMathews I'd love to. It might take a while though cause I'm still kinda new to JS. In the meantime, if anyone need to fix this issue asap, please feel free to pick it up.

[2018-01-18 12:20] deepakjois commented on #3524
After further investigation, I noticed that the [using-remark sample has this][using-remark] in the layouts file:

[using-remark]: https://github.com/gatsbyjs/gatsby/blob/a38f49efcfdb79b86e0b646e3bd512a61d46e5f4/examples/using-remark/src/layouts/index.js#L10

[code]

So, I did a

[code]

And I was able to get it working without any errors.

It would be nice if somebody who wrote the using-remark c

[2018-01-18 14:20] alvinthen commented on #3190
I'd love to help on supporting filtering on linked nodes, would be great to point me to where to start  in Gatsby, I can work my way on GraphQL

[2018-01-18 14:51] stevensurgnier commented on #3094
I'm still seeing this behavior on 1.9.157 with our project. I'll report back with more info.

[2018-01-18 14:52] fk commented on #3524
Hi @deepakjois! Back when I added the https://using-remark.gatsbyjs.org/ example, I think I just copy-pasted the `require` bit to import the prismjs theme (but I can't reproduce from where any more :-() – it wasn't a concious decision.

Disclaimer: I'm not super familiar with Webpack in general, and even more so with how its working within Gatsby (yet!), but let me take a look and see what I can f

[2018-01-18 15:23] rdrnt opened #3581 "Styles.css is 0 bytes after building with SASS"
## Description
Hi! I'm having an issue where if I build my Gatsby project on my machine, Styles.css is being populated (It's not 0 bytes). Though if I build it on another machine, Styles.css is 0 bytes, but the build still succeeds. I'm using SASS, I haven't modified the webpack myself, and I'm using `gastby-plugin-sass`.

Not only is this issue happening with my project, but it's also happening w

[2018-01-18 15:34] fk commented on #3581
So that other machine is using Node.js v5.6.0? What Node.js version are you using on you machine – where I understand using-sass is working fine?

[2018-01-18 15:44] JasonStoltz commented on #3544
@Khaledgarbaya, FYI. Not sure if you've seen this.

[2018-01-18 15:51] deepakjois commented on #3524
Thanks for your response.

Yes you are right. My initial issue was importing from within CSS (there are so many different ways to do it, which adds to the confusion). I can confirm that replacing `require` w/ `import` in the JS works. So I could use that for now.

It might still be worth investigating why `@import '~font-awesome/css/font-awesome.min.css'` in CSS does not work. I can confirm that i

[2018-01-18 15:55] Khaledgarbaya commented on #3544
Hey @JasonStoltz,
there seems to be a problem, in this case, I haven't had time to check it out but as a workaround for now if you can maybe change the field from a single reference to multireference filed (array of refs).

I will try to check it out soon, I've been crazy busy lately :(

Best,
Khaled

[2018-01-18 16:18] krsjoseph commented on #3068
How does this work in production? Do I rebuild and deploy every time a new post is added? @ivorpad

[2018-01-18 16:20] sedubois opened #3582 "Website fails to load completely"
## Description

Since I started using Gatsby a couple of months ago, I regularly get issues when visiting the published site (hosted on Netlify). No issue in local development. The issue gets fixed when hitting Ctrl-Shift-R, but I can hardly expect all my visitors to do this every time...

I just see this error in the console:

<img width="629" alt="screen shot 2018-01-18 at 17 59 12" src="https:/

[2018-01-18 16:22] arnondora opened #3584 "[gatsby-transformer-sharp] Fail when build"
I got this error when run `gatsby build`, this error is happened. But when I use `gatsby develop` this error is not happen.

[code]

After I investigated I found the problem from this following query in `gatsby-node.js`

[code]

But after I change this query into `original` one, the problem is gone. I don't know is this problem comes from this warning "vips warning: VipsJpeg: error reading resolut

[2018-01-18 16:23] ivorpad commented on #3068
@krsjoseph Check this PR https://github.com/gatsbyjs/gatsby/pull/3293 I haven't test it, though.

[2018-01-18 16:26] KyleAMathews commented on #3567
Yeah, I'll close this one. Thanks for writing it up.

[2018-01-18 16:26] #3567 closed

[2018-01-18 16:34] KyleAMathews commented on #3190
@alvinthen sweet! That'd be a huge help.

The two files you'll be working in are:

* https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer-graphql-input-fields.js
* https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/__tests__/infer-graphql-input-type-test.js

This line in particular is where the action should happen https://github.com/gatsbyjs/gatsb

[2018-01-18 16:39] KyleAMathews commented on #3582
It's related to https://www.gatsbyjs.org/docs/caching/#javascript

The gatsby-plugin-offline SW is caching JS so sometimes this means that a module will change internally but its name won't so things break... :-( Gatsby v2 (working on this now) which upgrades us to webpack 3 will solve this.

I'd kinda forgotten about this issue w/ the offline plugin. The solution there is we shouldn't cache JS fi

[2018-01-18 16:41] KyleAMathews commented on #3584
The VipsJpeg error will go away with the bump to a new version of Sharp in Gatsby v2 (coming soon).

Not sure what the other error is — is this reproducible? Can you create a small site that shows the error that I or someone else could look at?

[2018-01-18 16:46] flipactual commented on #3560
I forgot to mention that when it's lodash that's looking for a value (which ends up being undefined), those variable names are minified

[2018-01-18 16:46] arnondora commented on #3584
I still don't know why this problem is happen. I am looking into which article is the cause of this problem. I'll keep in touch

[2018-01-18 16:50] MaralS opened #3585 "Set up react-share component into blog posts"
## Description

I implemented react-share component in order to share blog post on social network such as Facebook or Twitter but I can't get the current url of the page. I set ` const shareUrl = location.pathname;` but this URL doesn't appear when I share the post on Twitter (for example).

![reseauxsociaux](https://user-images.githubusercontent.com/19915917/35109946-00772d98-fc78-11e7-8f4b-564b9

[2018-01-18 16:52] arnondora commented on #3584
[code]

@KyleAMathews Is this warning is related to this problem ?

[2018-01-18 16:56] KyleAMathews commented on #3560
Not sure where `mapCacheClear` is coming from as it's not in our code base — perhaps it's in one of our dependencies or in your code?

Also quite possible this issue is affecting you https://github.com/gatsbyjs/gatsby/issues/3582

[2018-01-18 16:57] KyleAMathews commented on #3584
No

[2018-01-18 16:57] arnondora commented on #3584
Ok, I'll dig into which article causes this problem.

[2018-01-18 17:05] fk commented on #3585
Hey @MaralS, `location.pathname` will only give you the `pathname` ;-) of the current page, e.g. for https://www.gatsbyjs.org/blog/ this would be `/blog/`.

You'll want to include the protocol (`https:`), the slashes after it (`//`) and the hostname (`www.gatsbyjs.org`), too: `location.href` should give you all of that.

[2018-01-18 17:09] MaralS commented on #3585
@fk thank you for the quick answer :)
There is no other way to get the current hostname ?

[2018-01-18 17:10] fk commented on #3585
See my previous comment – try `const shareUrl = location.href;` instead of `const shareUrl = location.pathname;`.

[2018-01-18 17:11] MaralS commented on #3585
@fk Sorry I'm a little tired XD
Thank you so much :)

[2018-01-18 17:12] fk commented on #3585
No worries! Let us know if that worked!

[2018-01-18 17:13] MaralS commented on #3585
@fk `location.href `is not working, I can't even click on my twitter button :/

[2018-01-18 17:14] #3097 closed

[2018-01-18 17:22] aaronklaser commented on #2291
try changing @ to %40

[2018-01-18 17:30] fk commented on #3585
My bad, `location.href` only works in development (also I little tired I guess 🙄😉). For production you need `this.props.location`. One more hurdle is that in production you don't have access to `this.props.location.href`, so I'd suggest just hardcoding the protocol + hostname like this:

[code]

[2018-01-18 17:35] fk commented on #3585
If you require the protocol + hostname anywhere else and would like a single source of truth, you can use the `siteUrl` field in `gatsby-config.js` like in https://github.com/gatsbyjs/gatsby/blob/53c05d087218982cb157712b118dd9387bc1783d/www/gatsby-config.js#L4

and then query that field with GraphQL.

[2018-01-18 17:38] moretti opened #3587 "pathPrefix is ignored by the build script when generating static html pages"
## Description

I'm trying to upload static assets (images, JavaScript files, etc) to a CDN.

I changed the configuration, so that the public path points to a custom domain (`https://example.com/static/` - see the file contents section below).

The problem is that static HTML templates are still generated with relative paths:

![screen shot 2018-01-18 at 17 24 02](https://user-images.githubusercon

[2018-01-18 17:39] MaralS commented on #3585
When I replace by `const shareUrl = `https://www.example.com${this.props.location.pathname}`;` I get this error
[code]

[2018-01-18 18:04] krsjoseph opened #3588 "Getting new posts in production. [question]"
I'm using Gatsby with wordpress, when I publish a new post on my wordpress site, do I have to rebuild my Gatsby project and do a deploy every time this occurs?

[2018-01-18 18:26] rdrnt commented on #3581
@fk Hey sorry, I updated my issue with the correct information. My node version on my machine is v8.9.4, in the other environment where it's not working, it's node v8.7.0.

[2018-01-18 18:31] krsjoseph commented on #3588
closed per https://github.com/gatsbyjs/gatsby/issues/2753

[2018-01-18 18:31] #3588 closed

[2018-01-18 18:33] fk commented on #3585
Ayayay … I guess that's happening when you do a `gatsby build`?

`location.pathname` will only work for `gatsby develop`, for `gatsby build` this needs to be `this.props.location.pathname` (which works for both).

Before I send you down the wrong path again – is the source for your site publicly available somewhere so I can take a look?

[2018-01-18 18:34] fk commented on #3588
Just was about to send you that way, glad you found it yourself!

[2018-01-18 18:36] dotmagic commented on #3581
I'm using `gatsby-plugin-sass-postcss` and it works pretty well on my local machine and netlify. You should be able to easy switch since its just sass + postcss.
https://github.com/gatsbyjs/gatsby/tree/master/examples/using-postcss-sass

[2018-01-18 18:42] arnondora commented on #3584
I have tried by building with some of article randomly for several times, the error is not come up. But when I increase more articles, the error came up. I think it may come from the number of article?

[code]

As every time, it died on the step of query the GraphQL

[2018-01-18 18:50] calcsam commented on #3584
Can you post a repo that reproduces this error?

[2018-01-18 18:50] calcsam commented on #3584
Can you post a repo that reproduces this error?

[2018-01-18 19:00] arnondora commented on #3584
@calcsam Here's the original repo. It's contain the exact things that I use.
https://github.com/arnondora/arnondoraBlog

The error is in the `develop` branch

[2018-01-18 19:06] dotmagic commented on #3582
@KyleAMathews Could it be solved if a parameter is on requests append like `?build1234567` on deployments?

[2018-01-18 19:14] dotmagic commented on #3570
I had exactly the same issues yesterday! But I can't exactly tell how I've solved it?

It did appear after installing a new react component `react-cookie-banner`. Delete `node_modules` and `.cache` didn't help me. Then I removed the package and changes and gatsby worked again. I reinstalled `react-cookie-banner` and ....its worked! -Very, very scary! :)

[2018-01-18 19:35] rdrnt commented on #3581
@dotmagic Issue persists :(

[2018-01-18 19:38] sjkp commented on #3587
You need to run `gatsby build --prefix-paths`

[2018-01-18 19:39] piotrf commented on #3570
Hm. This sucks balls. I’ve been unable to work on my site ever since the issue surfaced. I had not added nor removed any packages.

[2018-01-18 19:47] sjkp commented on #3582
I had the same error. I believe it is because the window.webpackManifest is written to the bottom of the body. So sometimes it is not initialized, when the components script are loaded and trying to access it.
At least I haven't had the issues since I manually changed my html.js so that window.webpackManifest is written added within the head tag.

my html.js looks like this
[code]

I'm aware this

[2018-01-18 20:02] fk commented on #3581
FWIW ("works on my machine" doesn't help, I know :-/) – I just tried (both using-sass and using-postcss-sass) with Node 8.7.0 on OS X 10.11.6, all fine with `gatsby build`.

@rdrnt Could you update the issue so that it lists the problematic Node.js version (I understand everything works with 8.9.4 on your machine)?

A shot in the dark: Try to update Gatsby and [gatsby-cli](https://www.gatsbyjs.org

[2018-01-18 21:07] rdrnt commented on #3581
@fk So far, it's fine with node versions 8.9.4 & 9.3.0. The environment where it doesn't work is 8.7.0, BUT if I downgrade my machine to 8.7.0 it still works. (I've also updated the issue with this).

I've updated Gatsby & Gatsby-cli to the latest, works on my machine, but not the other machine :(.

After typing the above, I deleted my project and cloned it again, ran `yarn and then `npm rebuild n

[2018-01-18 21:07] #3581 closed

[2018-01-18 21:13] fk commented on #3581
Didn't do much! Thank you for reporting and following up with the solution!
Glad it's working now (and hopefully continues to do so)!

[2018-01-18 21:26] mrYakamoto commented on #2270
same as @theroncross, carefully copied the tutorial and data is undefined.

GraphQL Error There was an error while compiling your site's GraphQL queries.
  Invariant Violation: GraphQLParser: Unknown field `siteMetadata` on type `Site`. Source: document `LayoutQuery` file: `GraphQL request`.

[2018-01-18 22:12] MaralS commented on #3585
@fk yes I put the repo on public mode https://github.com/MaralS/autocontrole
Thanks a lot 🙂

[2018-01-18 22:20] moretti commented on #3587
@sjkp I tried that, and looks like the absolute `http://` path is turned into a relative one
![screen shot 2018-01-18 at 18 07 26](https://user-images.githubusercontent.com/1186409/35124311-8a71fc92-fc9d-11e7-8751-8e7e019b17da.png)
[code]
setting `pathPrefix` to `'/example.com/static'` seems to do the trick, but feels really hacky

[2018-01-18 22:29] alexyoungcl opened #3591 "[gatsby-source-wordpress] custom api endpoints"
I recently installed Gatsby and love it!

I am now working on migrating my existing site to use WP/Gatsby. As i was reading through the documentation about the gatsby-source-wordpress plugin, i came across this [section](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress#query-any-other-entity). To be honest, i am not entirely sure if i understood it correctly.

Is thi

[2018-01-18 22:41] sebastienfi commented on #3591
Hello @alexyoungcl
Your understanding is correct

[2018-01-18 23:03] alexyoungcl commented on #3591
@sebastienfi thanks, good to know.

I've created the route I mentioned above with the below snippet:
[code]

I am unable to get the data when testing it out inside of GraphiQL with `AllWordPressFooBar`. I get the following:

[code]

It's worth mentioning that I've restarted Gatsby and can see the route outputted in the console

![screen shot 2018-01-18 at 4 02 33 pm](https://user-images.githubuser

[2018-01-18 23:32] flipactual commented on #3560
`mapCacheClear` is an internal lodash thing used by (I believe) all lodash functions

[2018-01-18 23:56] fk commented on #3585
Took a look and [updating Gatsby to the latest version](https://github.com/fk/autocontrole/commit/cb7f328af702c1e9354f41c56227a1cd2946ff37) (or `rm yarn.lock && yarn`) resolves the problem – you had v1.9.157 in your `yarn.lock`, things work fine with 1.9.159 again! 👍

Let me know when I can delete my fork!

[2018-01-19 03:59] shendepu commented on #3479
I experienced this as well, while I add a file and delete the file in `static` folder. Then I found that the file link still exists in `public` folder. After deleting it in public folder, the error is gone.

[2018-01-19 04:38] #1408 closed

[2018-01-19 06:41] MaralS commented on #3585
I did yesterday yarn upgrade gatsby 1.1.27  it is not the lastest version ?
Ok I will try to do it again 🙂

[2018-01-19 07:18] #1414 closed

[2018-01-19 07:48] MaralS commented on #3585
@fk I modified gatsby-config.js file, updated Gatsby but as you can see on https://autocontrole-beta.netlify.com/conseils/bonjour-tout-le-monde It seems not working :/
I replaced`   const shareUrl = 'http://'+hostname+location.pathname;` by` const shareUrl ='https://autocontrole-beta.netlify.com${this.props.location.pathname}';`

Maybe I'm doing something wrong :/

[2018-01-19 07:53] MaralS commented on #3585
I still have this error
[code]

[2018-01-19 09:21] panzerdp commented on #3508
Same issue for me.
Solved by hitting an `npm install` in the root directory of the repository.

Normally `using-gatsby-image` should be installed and work independently.

[2018-01-19 09:24] m-allanson opened #3601 "[www] Update DocSearch config"
Just adding this to track changes over at https://github.com/algolia/docsearch-configs/blob/master/configs/gatsbyjs.json

Switch over from the XPath based config to using CSS selectors.

[2018-01-19 09:26] m-allanson opened #3602 "[www] Open search form with keyboard shortcut"
Add keyboard shortcut `/` to open the search form on gatsbyjs.org.

Ref: https://github.com/gatsbyjs/gatsby/pull/3421#issuecomment-358740434

[2018-01-19 09:27] m-allanson opened #3603 "[www] Add search form to home page"
Needs discussion on best approach.

Ref: https://github.com/gatsbyjs/gatsby/issues/3097#issuecomment-349389921

[2018-01-19 11:01] luosong commented on #2326
I got same issue. How to resolve it?

[2018-01-19 12:47] op3d commented on #2819
Hi there,

i have the same error on Windows x64. I tried to figure out why, but got no more time. My findings so far:
I guess it´s kind of a timing problem. When add a Filter to check if dest file is there in
 ./node_modules/gatsby/dist/internal-plugins/dev-404-page/gatsby-node.js:
[code]

it seems to work without any error occuring.

another quick and dirty workarround is to change copySync to co

[2018-01-19 13:42] KyleAMathews commented on #3584
Oh... it seems like it's actually a node.js error meaning your system is out of memory https://github.com/nodejs/node-v0.x-archive/issues/14170

[2018-01-19 13:44] KyleAMathews commented on #3570
@piotrf very weird :-(

Any chance you have another machine you could try running this site on?

[2018-01-19 13:45] KyleAMathews commented on #3582
@sjkp that's a separate issue which we solved recently by moving the scripts to below the manifest. They both used to be in the head then the manifest was moved to below the body https://github.com/gatsbyjs/gatsby/pull/3569

[2018-01-19 13:50] KyleAMathews commented on #3587
@moretti Gatsby is a static site builder so you should upload the entire site to your CDN. Gatsby doesn't have any native way to handle splitting off some assets for the CDN. Just serve everything from the CDN and you won't have to worry about changing paths.

[2018-01-19 13:50] #3587 closed

[2018-01-19 13:55] KyleAMathews commented on #3585
@MaralS try `props.location` instead of `this.props.location` :-)

`this` doesn't exist in functional components

[2018-01-19 13:55] #3585 closed

[2018-01-19 13:56] idjuradj opened #3607 "Importing scss variables in js"
I've tried using scss variables in .js files (in my components that is). So, I have one colors.scss files with my color palette, and I export some of those colors like this:

[code]

In the component I include these colors like
`import colors from '../../styles/colors.scss'`

and then use it like this
`<MyComponent color={colors.blue} />`

This works just fine in development mode. Ofc, I'm using `

[2018-01-19 14:01] rppld commented on #3013
Same. Installing all the dependencies hangs after a while after creating a new project with `$ gatsby new [projectname]`. Versions I'm using:

- gatsby-cli: 1.1.28
- Node: 9.4.0
- npm: 5.6.0

[2018-01-19 14:23] MaralS commented on #3585
When I try `props.location` I get `ReferenceError: props is not defined` -_-'

[2018-01-19 14:27] julien1619 commented on #3582
Hi @KyleAMathews ! I'm encountering the same issue and I didn't see the fact that JavaScript files shouldn't be cached for now. So my users are stuck with some erroneous files because I set `expiry 30d` on these (now disabled).

Is there a quick way to specify a parameter like @dotmagic suggested before? Thank you!

[2018-01-19 15:05] kripod opened #3608 "[gatsby-remark-images] Images with an absolute URL (not a file path) disappear"
## Description

When I try to load an image through an URL from a markdown file with gatsby-remark-images, the image just disappears. No image-related code makes it into the final, statically rendered HTML files.

### Environment

Gatsby version: 1.9.160
Node.js version: 8.9.3
Operating System: Windows 10 x64

### File contents (if changed):

`gatsby-config.js`:

[code]

`package.json`:

[code]

`

[2018-01-19 15:07] arnondora commented on #3584
So the temporary solution is increasing max-old-space-size ?

[2018-01-19 15:11] KyleAMathews commented on #2326
@luosong after thinking about this some more, this is almost certainly a bug in Remark, the JS library we use to parse markdown https://github.com/remarkjs/remark

You can test what's doing in the AST Explorer https://astexplorer.net/#/gist/0a92bbf654aca4fdfb3f139254cf0bad/ffe102014c188434c027e43661dbe6ec30042ee2 as well as file a bug in the Remark repo.

[2018-01-19 15:20] KyleAMathews commented on #3607
What does `console.log(colors)` output in development and production?

I'm surprised this works in development as I didn't realize you could import variables from sass into javascript. Though I haven't used sass in 3+ years :-)

[2018-01-19 15:28] idjuradj commented on #3607
I also recently found this out (used [this](https://blog.bluematador.com/posts/how-to-share-variables-between-js-and-sass/) article as reference).

In dev, console log outputs an object:
[code]

But after you run build and serve it as static version, console log outputs an empty object: `{}`

[2018-01-19 15:32] KyleAMathews commented on #3585
Oh looking at your original component code, you've destructured `location` already so you should be able to use just `location.pathname`.

[2018-01-19 15:34] KyleAMathews commented on #3582
@julien1619 not easy unfortunately — best bet is to post-process HTML files and add the query string programmatically to the script tags. You could use something like https://www.npmjs.com/package/cheerio in Gatsby's `onPostBuild` extension point https://www.gatsbyjs.org/docs/node-apis/#onPostBuild

[2018-01-19 15:39] KyleAMathews commented on #3608
Hmm yeah, doesn't look we account for this.

So these are files you're adding to the static directory?

I think a check for absolute paths added to https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js would fix this. Could you add a PR?

[2018-01-19 15:39] KyleAMathews commented on #3584
Not sure as I haven't run into this error before. Could you try that and report back if it fixes the error?

[2018-01-19 15:40] kripod opened #3609 "Unhandled exception during a build"
While a build was running [for a website](https://github.com/simonyiszk/mvk-web/tree/ca21f73905825562c36ea007ddb6e7217a714267) on Travis CI, I encountered the following issue:

[code]

Please see the repository of the site for further details.

[2018-01-19 15:41] kripod commented on #3608
Yes, I'm serving those images from the static directory, and I'll try my best to do a PR soon.

[2018-01-19 15:41] KyleAMathews commented on #3607
Huh interesting. Not sure why this is happening. But clearly either Sass, the sass-loader, or webpack is behaving differently in development vs. production. Could you research this issue in perhaps the sass-loader repo or elsewhere and try to find a solution?

[2018-01-19 15:43] KyleAMathews commented on #3609
`ENOSPC` means the filesystem is out of room or it's out of file watchers. Both are tough to deal with on shared hosts https://stackoverflow.com/questions/22475849/node-js-error-enospc

[2018-01-19 15:43] KyleAMathews commented on #3608
awesome! Reach out if you need any help :-)

[2018-01-19 15:51] arnondora commented on #3584
@KyleAMathews I tried with max-old-space-size=9999999, it also stuck with the same error. I also tried with the PC that has more memory, it also stuck with the same error.

[2018-01-19 16:18] KyleAMathews commented on #3190
@alvinthen fixed this! Thanks!

[2018-01-19 16:36] pieh commented on #3607
I think fact `gatsby-plugin-sass` use null loader for sass files in `build-html`/`build-javascript` stage ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sass/src/gatsby-node.js#L45 ) might be responsible?

[2018-01-19 16:45] fk commented on #3607
Dito…nice!

[2018-01-19 16:56] fk commented on #3585
Thanks for jumping in @KyleAMathews.
@MaralS I forked your repository yesterday (https://github.com/fk/autocontrole) and bumped the Gatsby version in this commit: https://github.com/fk/autocontrole/commit/cb7f328af702c1e9354f41c56227a1cd2946ff37

With the update, your original, unaltered code is working fine for me.

[2018-01-19 17:07] kripod commented on #3608
After a quick look at [some tests](https://github.com/gatsbyjs/gatsby/blob/53f66a4648989e604340afb9afa59751ea08b38c/packages/gatsby-remark-images/src/__tests__/index.js#L110), I'm honestly not sure about how this should be implemented.

I think that we may come across a solution by:

- Enforcing that file-based paths shall start with `.` _(this includes `..`)_.  This would totally break backwards-

[2018-01-19 17:14] kripod commented on #3608
I'm honestly not sure about how this should be implemented. I think that we may come across a solution by:

- Enforcing that file-based paths shall start with `.` _(this includes `..`)_.  This would break backwards-compatibility.
- Checking whether a file exists in the file system at the given location. If not, then we should assume that an URL-based path was given. This would make the build proce

[2018-01-19 17:21] KyleAMathews commented on #3607
@pieh oh right! That's almost certainly it.

Hmmm not entirely sure what the implications would be to removing that — the reason for `null-loader` is so CSS doesn't end up in the JS bundles. Probably we'd have to use the sass-loader & still extract but throw away the extracted CSS.

[2018-01-19 17:22] KyleAMathews commented on #3608
Yeah, definitely #2 — good point that an absolute path check is breaking/flaky. If we can't find the linked image, we should just quit gracefully and leave things as they are.

[2018-01-19 17:25] fk commented on #3423
Hi @awesomebob, thanks for reporting this!
Do you want to give switching [gatsby-plugin-sharp](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sharp) and [gatsby-transformer-sharp](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-sharp) to use `probe-image-size` a go?

Sidenote: Seems we're using two different versions of `image-size`: https://github

[2018-01-19 17:28] KyleAMathews commented on #3584
So tried running this locally and got a different error

[code]

I've never tried generating that many thumbnails so somewhere in how we're doing things, scaling image processing is breaking down. I'd need to do a deep-dive on this to understand where and how to scale up image processing more. Would love to hear from you @arnondora or anyone else who wants to start exploring.

[2018-01-19 18:12] arnondora commented on #3584
I'll dig into more detail ASAP. Thank you for investing this problem. @KyleAMathews

[2018-01-19 18:27] MaralS commented on #3585
Thank you, so i think you can unfork the repo @fk :)

[2018-01-19 18:28] #3608 closed

[2018-01-19 19:13] fk commented on #3585
Just deleted my fork! Hope things are working for you now!?

[2018-01-19 19:24] fk commented on #3131
@tderflinger Did you find a solution to this? Do you have your project online somewhere so we could take a look?

[2018-01-19 19:24] markmichon commented on #3602
Is this convention? Some browsers default `/` to Find. (like Firefox)

Currently, it's the first tab target, which generally a good a11y practice.

[2018-01-19 19:39] KyleAMathews commented on #3602
Oh hmmm good point. I've done it on a web app before and it was great but perhaps it's not worth doing it here.

[2018-01-19 20:11] kripod commented on #2819
@op3d Thank you for the suggestions, I highly appreciate your effort! Actually, I think that the first solution could be applied as a temporary measure, combined with a re-scheduler queue which can store the file operations to be done as soon as the files are available.

[2018-01-19 21:14] kripod commented on #2819
The first solution didn't work for me, but using `fs.copy` instead of `fs.copySync` seems to solve the problem.

@KyleAMathews Is there any reason against using `fs.copy`? Because if there isn't, then I think that mitigating this issue would greatly improve the developer experience for Windows users.

[2018-01-19 21:39] jamesdbruner commented on #3591
I'm running into a similar issue.

[2018-01-19 22:52] KyleAMathews commented on #2819
@kripod yeah, definitely doesn't need to be copySync so if you think it helps, PR a change to fs.copy.

It's not a timing problem — the `.cache` directory always exists by the time the copy code is run. It's a permission issue that for some reason only crops up on windows.

[2018-01-19 22:56] fk commented on #3363
@SachaG After fiddling around with the logo quite a bit, may I say I think those 10 minutes were spot-on, intuitive greatness?! ;-) I often noticed that the first (creative) idea stands the test of time and alternative proposals. I guess in a lot of cases, "intuitive" is the key aspect. The monogram does a great job in building a "bridge" to what most people might associate when they hear "Gatsby"

[2018-01-19 22:58] kevinsalerno commented on #3165
You're storing too much data in the allowed browser cache for the service worker.

See this:
https://github.com/NitroBAY/meteor-service-worker/issues/6

Ignore Ratikanta's answer.

[2018-01-19 23:17] kripod commented on #2819
@KyleAMathews What’s strange is that issue happens exclusively with `internal-plugins/dev-404-page/gatsby-node.js`. I remember that older versions of Gatsby didn’t have this issue. I think that the issue originates from the time between v1.9.30 and v1.9.45. A git blame may take us closer to a viable solution.

[2018-01-19 23:29] fk commented on #3363
One thing that I'd like to give another (ideally collective 🤗) look is the "Gatsby Purple".

@ArchieHicklin suggested a bolder palette in https://github.com/gatsbyjs/gatsby/issues/1173#issuecomment-309415650. It's also where I borrowed "Mustard" from for the home page accents.

I don't think that we should abandon the purple brand color at this point for the same reasons we should stick to the mon

[2018-01-19 23:36] awesomebob commented on #3165
This is happening on gatsbyjs.org, so I would think that the Gatsby project would benefit from catching this error and handling it instead of just letting site navigation break.

[2018-01-19 23:48] KyleAMathews commented on #3363
@fk love your analysis! Thanks for all the thinking that's gone into this! It's super nice having such a professionally designed logo/design.

I really like rebeccapurple — it definitely "pops" more than the others and still feels in the range where Gatsby purple has been living. And if it helps with sourcing t-shirts, stickers, hoodies, etc. all the better.

[2018-01-19 23:57] calcsam commented on #3609
Going to close this since issue is with the environment

[2018-01-19 23:57] #3609 closed

[2018-01-20 00:55] SachaG commented on #3363
I also like rebeccapurple. It's just a nice touch especially with the history behind the color :)

[2018-01-20 02:18] fk commented on #3363
Thanks guys for coming back! I also like rebeccapurple a lot.
I will add a PR over the weekend replacing the current https://www.gatsbyjs.org/ colors with `#639`.

🙏, but I merely realigned … a little.
All brand praise -> @SachaG!

@SachaG You're OK with the "demi" wordmark?
I have to admit my "theoretical derivation" for "demi" is not very strong… ;-)

[2018-01-20 03:25] misscs commented on #1786
I'm also having this issue. I can run the queries in GaraphQl but when I try to reference them in a React component I get errors stating the values are null. I have tried removing `node_modules`, `package-lock.json` and I even downgraded my Gatsby and plugins to match version on a site that I don't experience these issues with. No avail.

[2018-01-20 04:11] SachaG commented on #3363
Yeah I'm totally fine with your version. And you shouldn't undersell your part of the work, I actually think I did the easiest part. It's like people who are surprised that a simple logo can cost hundreds of thousands of dollars, they don't know all the little iteration/tweaking/discussion/etc. that goes in even once the basic concept is established :)

[2018-01-20 04:12] moltar commented on #2902
Also getting the same error:

[2018-01-20 05:04] justinfrench commented on #3183
@szimek I've just experienced this same issue on macOS, so it doesn't seem to be limited to Windows. Is there a particular file or directory that needs a specific set of permissions to work-around this?

[2018-01-20 06:29] flmuel commented on #2492
Basic Auth fixed!

[2018-01-20 06:30] rozenmd commented on #3446
In my case it was just a matter of adding
```require('./index.css')```
within the render method of my landingPage layout file and boom, selective styling.

[2018-01-20 07:14] waywardm commented on #2819
many thanks for looking further into this issue @kripod As someone with not too much technical knowledge where exactly do i change it to fs.copy

[2018-01-20 09:09] IridescentIndia commented on #3444
Assuming some sort of caching of API data is implemented in the future, would it work for the case of CI/CD with Netlify?

[2018-01-20 09:15] Jaikant commented on #3444
Assuming some sort of caching of API data is implemented in the future, would it work for the case of CI/CD with Netlify?

[2018-01-20 09:24] resir014 commented on #2819
@waywardm I'm currently applying the fixes suggested by @op3d @kripod and will put up a PR soon. Should be out in the next update.

[2018-01-20 09:54] m-allanson commented on #3602
Maybe we could look at how GitHub handles it? On the issues page `/` opens Firefox's built in 'Find in page' control, but for other browsers it focusses the issue search box.

[2018-01-20 09:56] m-allanson commented on #3602
We could also use a key that doesn't conflict with any existing browser shortcuts. Check out the full range of GitHub shortcuts with `?`.

[2018-01-20 11:13] #3451 closed

[2018-01-20 11:13] dominicfallows commented on #3451
Answered by the doc updates on #3579

[2018-01-20 11:56] szimek commented on #3183
@KyleAMathews I'm not really sure what this line https://github.com/gatsbyjs/gatsby/blob/0a1e42cf39f5189a7730d7ef6c818bb8eefbda9e/packages/gatsby/src/internal-plugins/component-layout-creator/gatsby-node.js#L29
is supposed to be doing. The path gets evaluated to something like
[code]
that doesn't find anything, because `?(js,jsx)` matches `js` or `jsx`. A different glob path is passed a few lines

[2018-01-20 12:13] vanbroup opened #3626 "Large HTML (css) & massive JS bundles (duplication)"
We are having some issues with our `gatsby build`:

1> The project is using `semantic-ui-react` and importing `semantic.less`. As result, the generated `index.html` files have become 500KB-700KB (compressed). Using a custom `html.js` and removing the embedded styles and importing the `style.css` directly does reduce the size to about 25k (still quite big) but is actually slowing down the time to f

[2018-01-20 12:17] kripod commented on #2819
I think I have fixed the issue for real, by changing the plugin loading order and awaiting `fs.copy`.

[2018-01-20 12:20] waywardm commented on #2819
@kripod i would be willing to test it now if you could tell me what code to replace as it is currently making the development process no fun

[2018-01-20 12:25] kripod commented on #2819
@waywardm If you are using a fairly new version of Node _(e.g. v8.9.3, which I am currently using)_, you could test the fix by applying the following modifications:

- Replace the code inside `node_modules/gatsby/dist/bootstrap/load-plugins.js` with https://github.com/kripod/gatsby/blob/c8b50f71eba518c7c182d108964c80b970f485b6/packages/gatsby/src/bootstrap/load-plugins.js
- Replace the code inside

[2018-01-20 12:43] vanbroup commented on #3626
Adding `gatsby-plugin-lodash` to the `gatsby-config.js` reduced the bundle with about 800KB for both bundles, the duplication is of course still there and the files are still massive.

[2018-01-20 12:53] waywardm commented on #2819
@kripod

I can confirm the error has gone away, I do get one error but it doesn't prevent gatsby from compiling which is: (apologies for the long compile)

You can now view gatsby-starter-default in the browser.

  http://localhost:8000/

View GraphiQL, an in-browser IDE, to explore your site's data and schema

  http://localhost:8000/___graphql

Note that the development build is not optimized.
T

[2018-01-20 14:55] gafemoyano commented on #2258
@KyleAMathews I'm sorry to bother you here but it seems like a good place to ask about client side routing since I haven't been able to wrap my head around it.

So for my use case I'm reading data from firebase but this data is not ALL available at build time, since users can modify it.

So in a Gatsby Page (ex: /podcasts) I can easily query the data from firebase in cDM. But then I'd like to go t

[2018-01-20 17:03] KyleAMathews commented on #2258
@gafemoyano creating a route for `/podcast/:id` totally makes sense if there'll be podcasts created by users as they're working on things. One downside to that is it slows TTFP for people visiting podcast pages directly as now there's server rendered HTML to load for them. You could perhaps do a hybrid too — statically render podcast pages that exist at build and then create more on the fly in the

[2018-01-20 17:08] KyleAMathews commented on #3602
Yeah, they use `s` which seems reasonable. We could also use copy their "go to" commands e.g. `gd` is go to docs, `gp` is go to package search page (once that's built that is :-)). Which would be fun too.

[2018-01-20 17:23] KyleAMathews commented on #3626
The default is to inline css in the head as that's the fastest way of loading pages. It sounds like you're loading lots of CSS that's not being used (you can check that here https://developers.google.com/web/updates/2017/04/devtools-release-notes#coverage). I suggest adding this plugin which automatically removes unused css. https://github.com/rongierlach/gatsby-plugin-purify-css

You have the opt

[2018-01-20 17:23] #3626 closed

[2018-01-20 17:48] #2819 closed

[2018-01-20 18:38] fernandes commented on #2258
hey @KyleAMathews as this have become the official "client side issue" hahah another thing I've been considering on this podcast issue, considering we have control on both podcasts frontend and backend, is there any way to trigger the rebuild of specific page only? or just cache the build and change just what have been modified. I'm not sure how this could works

possible related to https://github

[2018-01-20 21:48] rdela commented on #3363
I am pro rebeccapurple as well. Only remaining qualm I have is what @shannonbux brought up, almost verbatim from my wife Laramie’s thoughts when I showed her, that the G repeats in the horizontal treatment. I think all this means is where possible use the monogram alone or a vertical treatment, but curious what everyone else’s thoughts are.

[2018-01-20 22:34] kosirm opened #3632 "Can't disable webpack hmr"
## Description
Can't disable webpack hmr

### Environment
Gatsby version:1.1.28
Node.js version:6.11.2
Operating System:Ubuntu

### Problem
 According to [documentation](https://www.gatsbyjs.org/docs/add-custom-webpack-config/) I added this to gatsby-node.js:
[code]
I still get a bunch of webpack hmr related errors in a browser (chrome):
I run gatsby with this command on cloud 9: **gatsby develop

[2018-01-21 01:25] hamlim opened #3635 "[Docs] Add section on deploying to now.sh"
## Description

There are several great sections on deploying to different hosting solutions on the Gatsby site [here](https://www.gatsbyjs.org/docs/deploy-gatsby/), however it seems like there isn't a section on deploying to [Now](https://zeit.co/now).

One way that I am using is the following:

1. `yarn add serve`
2. Add a `start` script to package.json with `serve /public`
3. Run `now` in the p

[2018-01-21 01:37] KyleAMathews commented on #3635
Hey — we'd love a PR for a section on deploying to Now!

On the error — sorry you're running into that — could you double-check you're on the latest version of Gatsby? I think this was an error we fixed a month or two ago (though it might be new too in which case we should investigate).

[2018-01-21 01:41] brigand commented on #312
I did an experiment in this area where you can fully use the gatsby remark plugins as normal. You pass the graphql html to a webpack loader which produces react.js code. Unfortunately, it has several issues, and breaks the single production builds.

[code]

Where `cdResolve` returns a string like `!!cd-resolve-loader!foo.md`. Gatsby does not like that. It at least works in the development server.

[2018-01-21 02:01] KyleAMathews commented on #3635
Cool, whenever you have time!

[2018-01-21 02:17] KyleAMathews commented on #312
Huh interesting!

This unfortunately would also break hot reloading of the markdown in development as far as I can tell.

[2018-01-21 05:21] 01ivr3 commented on #3208
@ooloth I posted a reply about this on you Tailwind issue https://github.com/tailwindcss/discuss/issues/100

[2018-01-21 05:34] KyleAMathews commented on #3284
I'm working on actively on v2 of Gatsby — would love some help with improving PostCSS support in v2! There's a v2 branch we're pushing PRs to and I'll start releasing alphas next week.

[2018-01-21 05:57] tsriram commented on #3575
If it's still not taken up by anyone, I'd like to take this up.

[2018-01-21 06:39] KyleAMathews commented on #3575
Nope, have at it!

[2018-01-21 06:48] tsriram commented on #3575
Awesome! What version should be set as the peer dependency now - the latest one on npm v1.9.164?

[2018-01-21 07:27] kavanLi commented on #1739
what? how can I solve this same problem? I am a  junior, can you explain something details?

[2018-01-21 07:30] KyleAMathews commented on #3575
Just do `^1.0.0` to keep things simple.

[2018-01-21 08:49] julien1619 commented on #3582
@KyleAMathews Thank you! Finally, I did a more manual change: I replaced all `.js"` by `.js?blabla"` in all build files.

[2018-01-21 13:23] ryanditjia commented on #2842
As much as I want to see this fixed, this problem appears to be bigger than just Gatsby’s. It’s been bugging me, so I checked out other sites built with other tools (Next, React-Static). Some face similar issue.

### Next ###
- vinylbase.now.sh [repo](https://github.com/GraphCMS/example_01_nextjs_apollo) (has issue)
- https://next-episode.now.sh/ [repo](https://github.com/timneutkens/next-episode)

[2018-01-21 14:12] flipactual commented on #1990
I'm trying to discern the desired workflow here

Let's say you're using `gatsby-plugin-glamor` and you'd also like to have `glamor` in your gatsby project itself, cool, we can handle that with peer deps, but we have to change how the plugin is installed for everyone

Would you like the documentation to say that to install you should run `npm install --save gatsby-plugin-glamor glamor@^2.20.29`?

I

[2018-01-21 15:14] cricrio opened #3640 "Show a message when using the cli with a wrong option"
I try to start my project with `gatsby create my-blog` in place of  `gatsby new my-blog`.
When we use the cli with a wrong argument it does nothing.
I think it should be better if the cli throws an error message or shows the different options.

[2018-01-21 15:16] flmuel commented on #3190
@KyleAMathews reopen?

[2018-01-21 15:22] fk commented on #3284
@01ivr3 Docsearch is live since a few days now thanks to @m-allanson and his work in #3097.

[2018-01-21 15:56] arminnaimi commented on #1121
@KyleAMathews I am little puzzled on how I would pass values to `{this.props.headComponents}`.

[2018-01-21 16:47] KyleAMathews commented on #2842
Oh forgot to mention it here but someone on Twitter said this is a known safari issue so not much we can do about it. Thanks for your research! This is super obnoxious :-(

[2018-01-21 16:47] #2842 closed

[2018-01-21 21:30] #3635 closed

[2018-01-21 22:04] geoffdavis92 opened #3643 "[feature] Add support for arguments on GraphQL fields that return arrays"
## Description

It would be nice to have the ability to assign arguments onto dynamically-created schemas' node fields that return arrays.

Arguments could be near-identicle to `*Connection` types:

- `skip`
- `limit`
- `sort`
- `filter`

Those existing arguments could be modified to support array-specific needs, like exposure of an `__index`-type field and array index wrapping:

`characters(sort:

[2018-01-21 23:16] almorgan commented on #3401
Hey guys

Same issue here I think.

Categories don't seem to appear in the hints for a filter on allWordPressPosts on the latest version.

What I found is that in version 2.0.49 categories requires a nested statement such as:

categories {
          name
          slug
        }

I rolled back to version 2.0.0 and when you define categories it actually returns an array of IDs. You can actually see

[2018-01-21 23:16] victorhooi commented on #2662
Just wondering if there was any update on themes in GatsbyJS, or what direction you think this might take? =)

[2018-01-21 23:17] marcus-grant commented on #3043
@ahstro Can you please specify how you fixed by forcing `CHOKIDAR_USEPOLLING env variable`? I'm trying to get the file watchers to work on gatsby develop and so far I haven't found anything that works.

[2018-01-21 23:59] marcus-grant commented on #3043
Nevermind, I saw in the code that it uses environment variables on its host shell, so I came up with a basic script that enforces syncrhonous polling in chokidar. If anyone else has ahstro's problem or mine where it the dev server connects to the client correctly, but file changes aren't being detected or acted upon by gatsby develop *(seen if files inside of `src/` are saved with changes but no r

[2018-01-22 05:30] lvpreet commented on #2444
how we can study the architecture of this project ?
Thankyou

[2018-01-22 05:36] tsriram commented on #1564
I'm gonna give this a go!

[2018-01-22 05:43] danielemesh opened #3648 "[Question] real time dynamic routes"
Is it possible to have routes which are dynamic?
For example, if I have an ecommerce store which I want to build with Gatsby, but not all the products data will be available at build time.
Some of the data will be fetched at run-time.
What I mean is that I don't want to create all the products pages at built time, I want to fetch some of the products data for the catalog, such as name, thumbnail,

[2018-01-22 08:15] exrishu commented on #3446
@rozenmd  I also tried the same way but my requirements was to import different CSS for each page, and I was not in the mood to use CSS modules, So I figured out the uniqueness for every component which was the URL and rest code says it all.

[2018-01-22 10:59] vanbroup commented on #1850
I can confirm that we get this same error when using import or React Loadable for code splitting:
https://github.com/reactjs/reactjs.org/blob/master/content/docs/code-splitting.md

[2018-01-22 11:48] craig-doyle-uk commented on #3009
I have found two causes for this and a similar bug (elements being added in WP via ACF with FC not available in Gatsby app).

1. I've found that images that are too large cause the image not to be available (I had an image that was 11mb uploaded, and then cropped/resized using gatsby-transformer-sharp)- when swapped for a smaller original image everything worked as it should.
2. When some of the A

[2018-01-22 12:15] #3009 closed

[2018-01-22 12:22] flmuel commented on #3643
maybe related to #3190

[2018-01-22 13:26] calpa commented on #2276
Any update of this issue?

[2018-01-22 14:45] sedubois opened #3650 "Include Apollo client-side"
## Description

I understand that Gatsby v2 will allow to have dynamic data client-side (e.g. to load user-specific data from some remote GraphQL API) which is great and I'm eagerly waiting for this. However as there's no ETA on v2 and I need to start with this now, I tried to integrate an Apollo GraphQL client myself (just querying a GraphQL API which has nothing to do with Gatsby) by rendering t

[2018-01-22 16:01] Charon77 commented on #3095
@amberleyromo honestly I hadn't got the time to even start. Feel free to take over 😄
I'll add stuffs if I can.

[2018-01-22 16:02] tsriram commented on #1564
Seems this is working already unless I'm overlooking something. I created a test site with https://github.com/gatsbyjs/gatsby-starter-hello-world and when there is a compile time error, I see the error in the terminal and also an overlay in browser which takes me to the error line in my editor when clicked. Is this what we want? Am I missing something?

[2018-01-22 17:04] KyleAMathews commented on #3643
@flmuel no these are unrelated — @geoffdavis92 is asking for the ability to sort/filter on graphql lists not linked nodes.

[2018-01-22 19:07] dardub commented on #3065
Is this documented anywhere? I couldn't find it even with the new docs search. :)

[2018-01-22 19:11] pinaudnico commented on #3065
I've found it experimenting...

[2018-01-22 19:12] KyleAMathews commented on #2258
The `app` part of the path in the example is arbitrary. You can use whatever name you need e.g. `podcasts`.

An example site would be great :-) hopefully will have time soon. Invite anyone else following along who's solved this problem already to share some sample code!

[2018-01-22 20:08] erquhart commented on #1043
Possible fix in #3652, please test if you're still having this issue.

[2018-01-22 23:03] fazouane-marouane commented on #312
@KyleAMathews For the solution you proposed, we now know how to transform markdown containing jsx into [html AST](https://github.com/fazouane-marouane/remark-jsx) using remarkjs. We've solved the last blocking bug. All we need now is to create the code that can transform this AST into a react component and push it into npm. I'll have some free time to do this by the end of next week.

Don't hesita

[2018-01-22 23:10] KyleAMathews commented on #3558
I wonder if something changed in Hyper Terminal? I can click on links just fine in iterm3. I copied the characters and put it into a UTF-8 analyzer and all the characters are normal ASCII characters so we're not outputting weird stuff.

[2018-01-22 23:10] KyleAMathews commented on #3558
Anyone else seeing problems?

[2018-01-22 23:13] KyleAMathews commented on #3551
Is it actually infinite? Like it keeps going until you force kill the node.js process?

[2018-01-22 23:16] orf commented on #3551
As far as I left it, yes. The seems to take longer and longer to build (and `.cache/sync-requires.js` seems to grow, eventually babel will complain about the size and stop optimizing it).

I tried building my blog repo (linked above) on another, fresh machine and it continued to happen, so it does seem to be reproducible (at least with my config).

[2018-01-22 23:20] KyleAMathews commented on #3486
Ah, think I figured it out https://github.com/gatsbyjs/gatsby/blob/125faad13b4c69a5adcdd470c2333a2f357a48b7/packages/gatsby/cache-dir/production-app.js#L163

We're cloning the children prop.

[2018-01-22 23:20] orf commented on #3551
Hmm, after running `yarn dev` with the latest gatsby release something different happens. if you modify one of the files, it now throws an error:

[code]

[2018-01-22 23:21] KyleAMathews commented on #3486
We should probably just pass it in directly then yeah?

[2018-01-23 00:29] #3602 closed

[2018-01-23 00:56] KyleAMathews commented on #2894
@crgeary yeah this sounds great! Would love a PR adding this.

[2018-01-23 00:56] KyleAMathews commented on #3420
@pieh thanks for supplying the solution — closing this.

[2018-01-23 00:56] #3420 closed

[2018-01-23 01:14] calcsam opened #3656 "Add documentation about service workers"
gatsby-plugin-offline adds amazing service worker caching functionality that should be mentioned in the project documentation.

[2018-01-23 01:55] pieh commented on #3344
I've made some progress. Decided to go with gatsby specific approach for now (adding support for "forced types" in https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby/src/schema ) as I found it easier to work with than playing with graphql schema objects. I'll try to clean up my code a bit so it would be more readable and create pull request this week to discuss it further there.

Just

[2018-01-23 03:28] flipactual commented on #1990
Cool cool cool

What all from `gatsby` should be moved to `peerDependencies`? I know `react`, probably `react-dev-utils`, `redux`?

[2018-01-23 04:30] bradwestfall commented on #3486
@KyleAMathews I don't fully understand the context of the code you showed, but do you mean something like this to preserve children?:
[code]

[2018-01-23 06:35] KyleAMathews commented on #1199
This NPM library is pretty sweet. It analyzes a page and creates the necessary font files for just the actual characters used on that page for optimal loading speed https://www.npmjs.com/package/subfont

Would be neat to have a plugin which did that for all or designated pages on a site!

[2018-01-23 06:57] milad1367 opened #3659 "how to use react modules in gastby?"
## Description

I want to use the npm react modules in my Gatsby project but because  adding CSS is different in Gatsby these modules not worked correctly.for example :
https://github.com/negomi/react-burger-menu
https://github.com/KyleAMathews/react-headroom

Please give me a solution that I can use from these modules in my Gatsby project.
### Environment

Gatsby version:"^1.9.153"
Node.js versio

[2018-01-23 09:17] piotrf commented on #3570
Weird indeed. Yes I have tried that. Build was also failing on netlify, weirdly. I have now updated the following dependencies and the issue is gone.

[code]

…so closing this one for now.

[2018-01-23 09:17] #3570 closed

[2018-01-23 09:47] calcsam commented on #3659
Please push a repo including what you believe the intended behavior should be and what it is.

[2018-01-23 09:49] samjcarter commented on #3558
I've installed a fresh hyper on a different machine and could not reproduce the issue there. Reinstalled on my original machine and the issue has gone. I now get an all-white clickable hyperlink. This might have been a combination of my older 1.4.8 version of hyper and the hyperlinks plugin. I've updated hyper to their unstable pre-release version now, 2.0.0-canary10.

[2018-01-23 09:55] danielemesh commented on #1501
Hi, I have the same problem I believe.

I have an **app** directory inside the **pages** directory for client-only-paths.
Under development everything works great, all the client-only-paths are working fine even when I refresh.

When I build and serve the app, the client-only-paths works, but when I refresh I get blank 404 pages with a "Not Found" message.

This happens only for routes under the *

[2018-01-23 10:43] danielemesh commented on #2258
I have tried and have some sample code [here](https://github.com/danielemesh/gatsby-poc)

But I still have some issues.
One I described [here](https://github.com/gatsbyjs/gatsby/issues/1501)
In short, when I build for production and enter to a route under the ```/app/``` directory, e.g ```localhost:9000/app/posts/1``` and refresh the browser, I get a 404 blank page.
When I refresh the page in ```l

[2018-01-23 10:45] cricrio commented on #3640
Nice to hear that! I will try to do it.

[2018-01-23 10:51] peduarte commented on #3558
I look at the code that builds the link and everything looks fine. It's most likely an issue with Hyper, but as @samjcarter has said it seems to have been fixed in its latest release.

The code is also not setting any hardcoded colour, so if the link is all white, I believe it's also due to Hyper (or perhaps a theme if you're using one)

[2018-01-23 11:25] Jaikant commented on #3531
@KyleAMathews having the schema defined before hand would avoid this issue. I have been wrestling similar issues because of markdowns having different frontmatter.

[2018-01-23 13:03] Lc0rE opened #3663 "[question] Importing all images from a folder"
This is a question and not an issue.
First of all, thanks to the creator and to all the contributors for this awesome project. I recently started working as a freelance and I'm moving to Gatsby for all my static websites project.

I'm trying to recursively importing all the images from a specific folder. Since I'm new to Gatsby and I'm not so skilled in Webpack, my idea was to use the `gatsby-sour

[2018-01-23 14:27] rdrnt commented on #3663
Hi! I think I can help. Just to be clear, you want to import all images in a folder, correct? If so, I use the following code for importing _all_ my SVG's from a folder.

[code]

Obviously, if you're not using SVG's, replace the `/.*\.svg$/` with whatever file type you're using.

[2018-01-23 14:29] scottyeck commented on #1501
@danielemesh Have you modified your server configuration to serve `/app/index.html` for all routes matching `/app/*`?

[2018-01-23 14:44] Lc0rE commented on #3663
Hello and thanks for the comment!
Where should I write that piece of code? In my component?

Thanks!

[2018-01-23 14:49] rdrnt commented on #3663
Me personally, in my layouts/index.js, I call it in the `componentDidMount()` function.

[code]

Though I don't know if thats the best place to put it. Maybe in your html.js would be a better place? I'm not exactly sure of the best practice in this scenario.

[2018-01-23 14:56] zionis137 commented on #3663
Have you looked at [gatsby-image](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image)?

This will take care that the image is copied to the output in `public/` and can also perform all kinds of optimizations.

[2018-01-23 15:01] Lc0rE commented on #3663
Thanks again for the comment. Below my code:

[code]
Now Webpack it's complaining and returning this warning message when he tries to import the image:
[code]

It seems like he wants an appropriate loader for the JPG file...

@zionis137 Thanks I'm going to check right now

[2018-01-23 15:05] danielemesh commented on #1501
@scottyeck Nope. I'm still working on the POC, I don't really have a server.
I'm running ```npm run build && npm run serve```

Is there an option to modify the local dev server to handle it?

BTW I don't have an ```index.html``` under my ```app``` directory.
Should I have?

Which contains the
```<div id="app"></div>```
etc?

If you could take a look in the repo I would be grateful, maybe you could

[2018-01-23 15:09] zionis137 commented on #3663
If you put your images in the `static/` directory they will be copied directly to `public/` and **not** `public/static/`.
The `public/static/` directory also exists, mostly plugins put stuff there with a hash in the filename.

[2018-01-23 15:11] pieh commented on #3531
@Jaikant check https://github.com/gatsbyjs/gatsby/issues/3344#issuecomment-359644133 - I'm actually working on that

[2018-01-23 15:13] Lc0rE commented on #3663
If I edit it to `var req = require.context('/public/', false, /.*\.jpg$/)` I get the following error:
[code]

If, instead, I use the relative path: `var req = require.context('../../public/static/images', false, /.*\.jpg$/)` I'm still having the 404 not found error.

[2018-01-23 15:15] zionis137 commented on #3663
Look at gatsby-image. It really is the better way :smile:

[2018-01-23 15:19] Lc0rE commented on #3663
I'm looking at it. As far as I understand it's not solving the problem with the upload of all the bunch of images I have in my folder but it's "just overlaying" a React Component on the `<img>`  element with useful props for managing and optimizing images. Am I wrong?

Seriously... I'm such in a thick fog right now! Why can't I find anyone who has the same problem as me 😞

[2018-01-23 15:42] onetwothreebutter opened #3665 "gatsby-plugin-sass not working with imported sass files that have a property with "url(...)""
## Description

I have a series of imports of sass files and when I try to compile them with gatsy-plugin-sass I get the following error.
[code]

I've fixed the issue by copying gatsby-plugin-sass's config to my gatsby-node.js and using [resolve-url-loader](https://github.com/bholloway/resolve-url-loader) (see my gatsby-node.js below). I also disabled gatsby-plugin-sass.

Should resolve-url-loader

[2018-01-23 15:46] zionis137 commented on #3663
I tried to make a demo here: https://github.com/zionis137/gatsby-all-image

This takes all images in `data/` and displays them on the homepage

[2018-01-23 16:11] Lc0rE commented on #3663
Thanks for the demo! It's exactly what I was looking for!
I'm still wondering why it's not working without the gatsby-image plugin. But I think I'll not complain too much 😝

Thanks!

[2018-01-23 16:24] danielemesh commented on #3648
@KyleAMathews Thanks for your response.

I played with the client-only-paths plugin and came across some issues.

Would be grateful if you could pick [here](https://github.com/gatsbyjs/gatsby/issues/1501#issuecomment-359807433)

Thanks for the awesome work on Gatsby!

[2018-01-23 16:50] KyleAMathews commented on #1990
Just `react` and `react-dom`. The point of a peerDependency is that it allows a user to easily upgrade to newer versions without us Gatsby needing to do anything. So when React 17 comes out, people can upgrade to React 17 without us having to release a new major version of Gatsby.

`redux` is an internal dependency so not relevant to users. If they want to use Redux for their site, they'll install

[2018-01-23 16:54] KyleAMathews commented on #3486
Yeah exactly. When you have a chance, could you test that to make sure it works and then PR the change?

[2018-01-23 16:56] #3575 closed

[2018-01-23 17:01] KyleAMathews commented on #3558
Cool! Thanks for checking again @samjcarter!

[2018-01-23 17:01] #3558 closed

[2018-01-23 17:27] gafemoyano commented on #2258
@danielemesh Hi Daniel. I haven't had time to get back working on my gatsby app, but what I can see from your source code is that you've placed the `/app/*` directory within pages.
I'm not sure this where it's supposed to go, I'd try putting it on the `src/` directory.

Let me know if it works!

Cheers!

[2018-01-23 17:29] KyleAMathews commented on #1501
@danielemesh it would be very cool if the dev server could look at the `matchPath` routes and correctly handle those.

[2018-01-23 17:45] PepperTeasdale commented on #3544
Running into this too. I don't think it's to do with the multi-type single reference fields bug. This seems to occur when two different content types have fields that create the same union. I'm getting this error on a one-to-many reference, it's just that three different kinds of pages have the same type of one-to-many reference.

[2018-01-23 18:21] danielemesh commented on #1501
@gafemoyano suggested in another thread that maybe I should place the ```app``` folder at the root folder and not inside the ```pages``` folder.

Coult it solve the issue?

I'll be on my computer tomorrow and try it out.

[2018-01-23 18:45] KyleAMathews commented on #3663
@Lc0rE yeah the `relativePath` is just the relative path from the root of your `gatsby-source-filesystem` setup to where the file is at. That won't give you a path you can use.

You'll want to add `gatsby-plugin-sharp` and `gatsby-transformer-sharp` so you can query just the images + transform the images to get image thumbnails of the right size.

Check out also the using-gatsby-image example site

[2018-01-23 19:17] KyleAMathews commented on #3095
@amberleyromo's PR adding docs are in! Thanks!

[2018-01-23 19:17] #3095 closed

[2018-01-23 19:19] KyleAMathews commented on #2687
@owenhoskins try not repeating your keys (you have two `images`) and see if it starts working?

[2018-01-23 19:24] bradwestfall commented on #3486
@KyleAMathews I followed all the steps to use `gatsby-dev-cli`, and I'm fairly certain it's working -- when I make changes to my cloned repo in that file, I can see the same file in my site get the change, I have the watch running etc. However, when I do a refresh on the site I don't see changes. I tried doing this console log to prove this function was every running:
[code]
...and I didn't get a

[2018-01-23 19:29] KyleAMathews commented on #3486
Yeah, making changes to `production-app.js` is a bit tricky as it's only used for "production" e.g. when you run gatsby build. `root.js` and `app.js` are used during development. Try building your site and then see if your logs show up.

[2018-01-23 19:48] bradwestfall commented on #3486
@KyleAMathews we're making progress, made a production build then `cd` 'd to public and ran `http-server` to run it, I get the console log, and the problem with `<Foo><Bar /></Foo>` is fixed - it outputs "bar: world" instead of "not same". So that's great, but I didn't have to change anything to get it to work, so there's a discrepancy between dev and production. Just for the heck of it, I changed

[2018-01-23 20:17] hubertron commented on #2392
Hey Kyle - We are running into this issue as well. It's preventing build of more modular layouts that have varying content but one template.

[2018-01-23 20:26] whmountains opened #3670 "Example sites to document CSS systems"
https://github.com/gatsbyjs/gatsby/blob/10393e06e2a70db6c3d947604c356680c43b0682/examples/using-gatsby-image/src/pages/index.js#L13

I don't find any mention of it in the [documentation](https://www.gatsbyjs.org/packages/gatsby-image/) or source code.

[2018-01-23 20:53] m-allanson commented on #2392
@hubertron there's some great work happening at #3344 to fix these 'missing field' errors.

[2018-01-23 21:05] m-allanson commented on #3670
@whmountains I only worked this out the other day :) it's enabled by [`gatsby-plugin-glamor`](https://github.com/gatsbyjs/gatsby/tree/10393e06e2a70db6c3d947604c356680c43b0682/packages/gatsby-plugin-glamor), which the `using-gatsby-image` example [is using](https://github.com/gatsbyjs/gatsby/blob/10393e06e2a70db6c3d947604c356680c43b0682/examples/using-gatsby-image/gatsby-config.js).

I wonder if it

[2018-01-23 22:04] gifteconomist commented on #1624
Thanks @dlindahl, giving my import statements a `.css` extension fixed my build

[2018-01-23 22:37] calcsam commented on #3670
@m-allanson -- great idea. Probably not worth it to redo them with vanilla React CSS-in-JS, but documenting them would make a lot of sense.

[2018-01-23 22:38] calcsam commented on #3663
Going to close this as the original question seems to have been answered :)

[2018-01-23 22:38] #3663 closed

[2018-01-23 22:44] KyleAMathews commented on #3486
Awesome!

That's surprising the same change didn't work in dev. Double check your change is being applied? The children component must be being cloned elsewhere still.

[2018-01-23 23:06] KyleAMathews commented on #3670
Yeah, a "reading guide" of sorts added to the starter READMEs sounds great.

[2018-01-23 23:33] bradwestfall commented on #3486
I probably didnt say the last message clear enough, the only thing I did in production was the console log. So production always works without any changes but development doesn't work

[2018-01-23 23:43] jsanchez034 commented on #3344
Hi @pieh! Thanks for taking this on, your solution looks very promising! Sorry I couldn't contribute more to this issue in the past couple of weeks, I haven't had the time to dive into this. Let me know if there is anything I can help with.

[2018-01-23 23:44] KyleAMathews commented on #3486
Oh ok, gotcha. So mystery is still unsolved

[2018-01-24 01:39] thebarty commented on #1687
Hi guys,

I have to reopen as I am experiencing something similar PLUS looking at https://www.howtographql.com/ I still see the flash appear.

In my case the url is softwarepiloten.de.

Any ideas what to try?

[2018-01-24 01:47] KyleAMathews commented on #1687
@thebarty try opening the Gatsby webpack config at `node_modules/gatsby/dist/utils/webpack.config.js` and disabling uglify and then building your site and seeing what the checksum error says (the error is removed by uglify). This *probably* isn't a Gatsby error but something with your code. Please file a new issue if it does seem like there's something that needs fixed!

[2018-01-24 02:07] pieh commented on #3344
If anyone is interested you can view my code changes https://github.com/gatsbyjs/gatsby/compare/master...pieh:schema_wip (after deleting some dead code and refactoring some stuff I had yesterday it's much less code than I thought :) ).

Don't have time to put PR for comments with good description and website repository used for testing, so figured I would just share my code for now. If anyone want

[2018-01-24 05:02] milad1367 commented on #3659
sorry. I tested that module in react and that is same problems.
so the problem is not Gatsby.
I will create an issue on the related page.

[2018-01-24 05:02] #3659 closed

[2018-01-24 06:12] gregorskii commented on #3406
It is actually quite a pain when you are debugging SSR issues.

:/

[2018-01-24 06:47] brigand commented on #3406
I ended up switching to a different base project, and now the build times are around 20 seconds (pretty small site).

@gregorskii For debugging server rendering, maybe reduce the number of pages it's rendering to just enough to reproduce the issue and disable uglify.

[2018-01-24 07:58] Lc0rE commented on #3663
@KyleAMathews surely you did an amazing work and I'm here to congratulate you! I'd wish to have a bit more experience to be able to properly contribute to this amazing project.

By the way, I'm still wondering how I could use `gatsby-image` with something like Bootstrap Carousel.
I mean, components like Carousels are composed like this:

[code]

As you can see, this component is expecting me to pu

[2018-01-24 08:21] vanbroup opened #3673 "Can't remove default plugins via webpack-configurator"
I'm trying to replace the default `UglifyJsPlugin` via `config.removePlugin` as specified in the [webpack-configurator documentation](https://www.npmjs.com/package/webpack-configurator#configremovepluginkey):

[code]

Unfortunately none of the above seem to work. I think because the UglifyJsPlugin is not loaded via the `config.plugin` system in [webpack.config.js](https://github.com/gatsbyjs/gatsb

[2018-01-24 08:24] Cacivy commented on #2940
@TomiTakussaari when i run build, throw error " MobX injector: Store 'store' is not available! Make sure it is provided by some Provider"

[2018-01-24 08:54] danielemesh commented on #2258
@gafemoyano tried it, didn't work :(
Gatsby won't recognise it..

Thanks!

[2018-01-24 09:03] drakang4 opened #3674 "How to use animated transition in client-only paths site"
I'm trying to add animated transition in my client-only paths site so I looked [client-only-paths example](https://github.com/gatsbyjs/gatsby/tree/master/examples/client-only-paths) and I found out this example was actually designed to do animated transition like [this](https://reacttraining.com/react-router/web/example/animated-transitions)
[code]
However the example does not trigger any animatio

[2018-01-24 09:26] thebarty commented on #1687
@KyleAMathews You are quick!

Ok, the results of 2 experiments:
1) I disabled uglify, deployed and still had the same flash
2) The flash shows a huge FontAwesome Icon being rendered full-screen, so I switch from using `@fortawesome/react-fontawesome` (which renders svgs for selected fonts) to the real font via css. The result: The FLASH does NOT appear anymore, so I guess it had to do with some cs

[2018-01-24 11:25] IljaDaderko opened #3677 "[gatsby-plugin-offline] Ability to listen for service worker updates?"
## Description

I've implemented `gatsby-plugin-offline` today, works very nice, but I can't seem to find documentation on updating website if new assets are available. We have previously worked with webpack offline plugin to use service workers in similar manner. It exposed window events i.e. when new service worker files are available, so we had ability to show user a prompt to update, which in

[2018-01-24 13:22] TomiTakussaari commented on #2940
Do you have example code ?

I migrated my mobx-using-gatsby project to Next.js, because I needed dynamic pages, but I think this approach should still work with Gatsby..

Perhaps there should be "using-mobx" example in Gatsby, let's see if i'll find time and motivation for it

[2018-01-24 14:12] just-boris opened #3678 "Gatsby doesn't fail when there is an issue in CSS"
Whenever I have any issue in CSS file, for example, I import the missing image

[code]

It doesn't fail the build. `gatsby build`  just outputs an empty file, omitting all other stylesheets as well. For the sake of safe continuous delivery and deploy, I believe, that such issues should make Gatsby return non-zero exit code.

There are two possible solutions:
* Switch [bail option](https://webpack.

[2018-01-24 14:15] Cacivy commented on #2940
I think the code of gatsby-ssr is Useless,because `gatsby develop` is ok,and `gatsby build` is not work.
at last, I move `Provider ` to `layouts/index.js`

[2018-01-24 14:17] sandys commented on #2053
@KyleAMathews did you ever solve this ?
We have a usecase where we want to iterate over a bunch of directories - inside each directory I have a jpg and a yml and i want to create a page based on this pair. So I need to loop over directories... and for each directory, get all the files inside.

Currently, allfile and alldirectory dont intersect - so i am not able to use either of them . Is there so

[2018-01-24 14:46] benjaminhoffman commented on #3406
@brigand do you have instructions on how to implement both of those tips?  Sounds like very useful hacks I could use.

[2018-01-24 14:53] lukaszblasz opened #3679 "Server side rendering from ajax/fetch/axios GET data"
I have asked on SO but without any response:
https://stackoverflow.com/questions/48419175/gatsby-server-side-rendering-ajax-xhr-axios

Is it possible with gatsby to render some external data server side to have prepopulated content when accessing page with browser?

Lets assume i have a public api endpoint like this: http://jsonplaceholder.typicode.com/posts
I want data from such endpoint rendered

[2018-01-24 15:23] Jaikant opened #3680 "Question: Run graphQL query from within a template component with arguments from an array."
how do I run a graphql query to fetch an array of images based on an array which contains the ‘regex’ for the queries.

Lets say the props is an array of valid regex, something like - ['/a.jpg/', '/b.jpg/', '/c.jpg/', '/d.jpg/'] in my template component. I now need to run a query to fetch each of the above queries. How do I do this?

[code]

[2018-01-24 16:33] fk commented on #3363
I think there's not much we can do about that unless we rethink the whole monogram concept.
I personally do not have a big issue with this.

Yep, I think the monogram is working great on its own! But: Obviously for people without context/"prior knowledge", it won't even leave them with the brand/product name – unless that is provided along with the monogram somehow, e.g. in the Twitter profile.

I

[2018-01-24 16:39] fk commented on #3363
So, here's the final round of logos, will add links to SVGs for logo, monogram, wordmark, and their inverted versions in a bit.

![logos](https://user-images.githubusercontent.com/21834/35344224-df5c9fe4-012c-11e8-8184-af3027c9ac0f.jpg)

Please note that what you see above is not 100% `rebeccapurple` yet because I quickly screenshotted the mockup and forgot about color profiles, but it's close eno

[2018-01-24 16:49] fk commented on #3363
Aaaaand … right after posting above I started to [squint](https://www.sarahdayan.com/blog/kerning-leading-tracking-a-crash-course) and revisit the kerning _one last time_ :/ – moved the "a" away a little from "G" and "sb" a tad closer to "y":

![image](https://user-images.githubusercontent.com/21834/35344940-9a0d5cce-012e-11e8-87b3-db91ac25d105.png)

SVGs coming! 🎉  😶

[2018-01-24 17:15] fk commented on #3363
SVGs: https://www.dropbox.com/sh/icdpawcdqthtlg5/AACbsVpQ4CGj1WcO2MieHBLRa?dl=0

[2018-01-24 17:38] dardub commented on #3663
I'm actually trying to do the same thing right now and I had no issues with jpgs using the sharp plugins. But I have some animated gifs that aren't exported. Any advice?

@Lc0rE I don't think you would use gatsby-image with bootstrap carousel. You would just need to use one of the sources from your graphql query. Or you could try another carousel that's more idiomatic to react. I usually use https

[2018-01-24 19:24] fk commented on #3363
Thank you Ricky! 🤗 Far from it (and also this stuff is not really in my comfort zone), but doing what I can! I plan on adding some mockups for the basic "OGatsby" shirts later today, but don't let that hold you off of grabbing those logos and using them!

Btw., OT: I recently remembered the "Gatsby mandala" idea and noticed that there are a bunch of nicely looking tutorials on YouTube: https://www

[2018-01-24 19:33] fk opened #3682 "[www] Add reference to "How to contribute" and the "Gatsby Style Guide" to the "Community" page"
Both "How to contribute" and the "Gatsby Style Guide" provide important and helpful (and some quite unique!) content that currently is missing from the ["Community" section](https://www.gatsbyjs.org/community/) on https://www.gatsbyjs.org/.

I want to suggest adding these there – maybe along adding a new layout that allows content to live in two columns? I think on larger screens we should pull th

[2018-01-24 19:48] rdela commented on #1500
@fk:

https://github.com/gatsbyjs/gatsby/issues/3363#issuecomment-360245071 / [brand] Gatsby logo definition

[2018-01-24 20:10] rdela commented on #1500
OK revisiting https://github.com/gatsbyjs/gatsby/issues/1500#issuecomment-352224447

[Printful - Custom Shirts](https://www.printful.com/custom/shirts)
Choose from different models and brands, from apparel made in the USA or worldwide.

- Prices include printing. Shipping is extra
- Starting from 2XL an extra $1.50 is charged for each size up
- A second print on the other side of the shirt is $5.9

[2018-01-24 20:16] rdela commented on #1500
Oh there is a (unisex?) tank too kinda ❤️it lol

[Gildan 2200 Ultra Cotton Tank Top](https://www.printful.com/custom/tank-tops/13/gildan-2200-ultra-cotton-tank-top?tab=Info)
![Purple Gil img](https://d1yg28hrivmbqm.cloudfront.net/products/13/667.jpg)
[Purple Gil img link](https://d1yg28hrivmbqm.cloudfront.net/products/13/667.jpg)

[2018-01-24 20:31] rdela commented on #1500
lineup with hastily placed gatsby-vertical-negative.svg *see https://github.com/gatsbyjs/gatsby/issues/3363#issuecomment-360194796

![purps-lineup](https://user-images.githubusercontent.com/74381/35355571-88ba09da-0102-11e8-8b46-da55c489adba.jpg)

[2018-01-24 20:34] rdela commented on #1500
as I feared, the tank is my favorite lol

[2018-01-24 20:45] rdela commented on #1500
and checkout-wise think @SachaG has it https://github.com/gatsbyjs/gatsby/issues/1500#issuecomment-352614400

más links

- [The Gumroad Blog - Printful + Gumroad](http://blog.gumroad.com/post/121122529873/printful)
- [Integrating Gumroad with Printful to offer physical products | Blog - Printful](
https://www.printful.com/blog/integrating-gumroad-with-printful-to-offer-physical-products/)
- [Using

[2018-01-24 21:46] LegNeato opened #3684 "Add ability to sort groups"
Feature request: ability to sort groups

It appears there is no way to specify the sort order of groups: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/build-connection-fields.js#L97

[2018-01-25 00:13] KyleAMathews opened #3685 "[v2] Upgrade Remark and related packages to latest major release"
https://github.com/remarkjs/remark/releases

[2018-01-25 00:21] gvillenave opened #3686 "WebpackError: package.json does not exist at /package.json when building with Firebase SDK"
I'm seeing this build error in my project after starting to use the Firebase SDK when building (develop works fine), in the static HTML build phase:

[code]

I spent 2 days searching for answers related to webpack errors with gRPC and node-pre-gyp, came across https://github.com/grpc/grpc/issues/13049 and https://github.com/webpack/webpack/issues/1599 and tried their solutions by adding the follow

[2018-01-25 00:34] calcsam commented on #3684
We have the ability to sort and filter in GraphQL as the docs specify:

https://www.gatsbyjs.org/tutorial/part-four/#build-a-page-with-a-graphql-query

However we need more information on this so I've opened a PR to add additional info:

https://github.com/gatsbyjs/gatsby/pull/3687

[2018-01-25 00:53] calcsam commented on #3673
Yes, we hard-code uglify here:

https://github.com/gatsbyjs/gatsby/blob/3ce568dacf5aac0eaa1103cc1c8f9579e1253569/packages/gatsby/src/utils/webpack.config.js#L323

What's the use case you have for removing it?

[2018-01-25 00:55] calcsam commented on #3665
Can you upload an example repo demonstrating this? Eg branching off this: https://github.com/gatsbyjs/gatsby/tree/master/examples/using-sass

[2018-01-25 00:58] calcsam commented on #3679
If a plugin exists to pull data from your source of choice, then you can pull it in and use GraphQL to query it.

https://www.gatsbyjs.org/docs/plugins/

If it doesn't, you'll want to write a plugin to pull data or use the `sourceNodes` API in your `gatsby-node.js` file.

https://www.gatsbyjs.org/docs/node-apis/#sourceNodes

Closing this and responding with this answer on SO.

[2018-01-25 00:58] #3679 closed

[2018-01-25 01:07] calcsam commented on #3677
Currently gatsby-plugin-offline caches files locally on your system -- it doesn't use SW to push live content updates into your page post-load. We want to add this capability sometime in the future for live updating data (eg weather, sports scores) but for now if you want to do this the recommended way is having a component that polls your API for new data.

[2018-01-25 01:10] calcsam commented on #3680
We are adding some docs today that clarify this actually!

https://github.com/gatsbyjs/gatsby/pull/3687/files

[2018-01-25 01:13] calcsam commented on #3632
This is an issue with Cloud 9 -- google "hmr cloud 9" and see if the workarounds there help.

[2018-01-25 01:42] SachaG commented on #3363
I love it, but could you try a version in Comic Sans?

Just kidding, great work and I can't wait to see it on a tshirt :)

[2018-01-25 01:47] SachaG commented on #1500
Looking at the shirts, I think I'd probably prefer a version with just the logo and no "Gatsby" personally.

Or else some kind of illustration like we talked about. Maybe the skateboard butler could be carrying a tray with the "G" on top? Although that might turn him into more of a waiter…

But I feel like having the name makes it less cool somehow. I prefer my tech tshirts to be a bit more crypti

[2018-01-25 01:57] rdela commented on #1500
@SachaG @fk using gatsby-monogram-negative.svg

![purps-lineup-monogram](https://user-images.githubusercontent.com/74381/35366747-d1eaf3da-012f-11e8-94b3-39dff8f5e42c.jpg)

[2018-01-25 02:16] rdela commented on #1500
@SachaG @fk skater in `#f5f3f7`, formerly brandLighter, now ui.light: `hsla(270, 20%, 96%, 1)`
https://github.com/gatsbyjs/gatsby/pull/3639#issue-290278998

![purps-lineup-skater-f5f3f7](https://user-images.githubusercontent.com/74381/35367350-bacf1246-0132-11e8-86c6-4803b2446782.jpg)

[2018-01-25 02:28] VinSpee commented on #3396
similarly, this error occurs when trying to use a starter from a private git repo (even if I have access to it)

[2018-01-25 02:33] Redmega commented on #2427
Facing this same issue, no `.babelrc` here.

[2018-01-25 02:40] KyleAMathews commented on #3686
Yeah, the problem is your code is trying to run code that calls node.js APIs e.g. `existsSync` which don't exist in the browser or when building a site.

I haven't used Firebase much but I'm guessing you're requiring the wrong module. There should be one that's designed for using in frontend code.

[2018-01-25 02:40] #3686 closed

[2018-01-25 02:42] KyleAMathews commented on #3684
@calcsam this is a different issue — Gatsby lets you group connections by a field e.g. query a list of authors and group by "hometown".

@LegNeato how would you like to sort the groups I'm curious? Groups are returned as an object correct? Objects can't be sorted.

[2018-01-25 02:43] KyleAMathews commented on #3673
A PR making Uglify overridable would be great 👍

[2018-01-25 02:47] KyleAMathews commented on #3677
@calcsam he's referring to the SW update lifecycle events https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle e.g. an updated SW has been downloaded.

@IljaDaderko it's not currently possible but we'd be happy to take a PR exposing SW lifecycle events. They could be added to this file https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/register-ser

[2018-01-25 02:50] KyleAMathews commented on #3680
@Jaikant short and perhaps not very helpful answer is you need to pass in the regex as "context" arguments to `createPage`. The context keys are set as graphql arguments when running that page's query.

https://www.gatsbyjs.org/docs/bound-action-creators/#createPage

[2018-01-25 02:54] LegNeato commented on #3684
@KyleAMathews Ah, yeah. Hmmm, perhaps I mean edges? Let me explain what I am trying to do...

I am trying to group my pages into sections, and in those sections have an order (for a menu).

The query I am using is:

[code]

This correctly groups by `section`, but doesn't order the resulting edges/nodes in any meaningful sense. I want the edges sorted by `positionInSection`, but the `group()` can't

[2018-01-25 03:15] Redmega commented on #2427
Mine looks a bit different, probably because of the newer gatsby version:

[code]

[2018-01-25 03:16] KyleAMathews commented on #3684
Gatsby's GraphQL layer is custom to Gatsby so there's missing features and you ran into one of them :-)

I think it makes a lot of sense for items in groups to respect the sort (and filter, skip, and limit?) arguments passed to the connection. I'd love a PR adding this!

This is where we resolve the groups https://github.com/gatsbyjs/gatsby/blob/524ff171cd890b79ce9535d6dc10550c70365d33/packages/ga

[2018-01-25 03:17] LegNeato commented on #3684
Excellent, I'll take a look into putting up a PR...thanks for the quick response!

[2018-01-25 05:14] tsriram commented on #3640
Closed with #3668

[2018-01-25 05:14] #3640 closed

[2018-01-25 05:50] IljaDaderko commented on #3677
@KyleAMathews could be interesting!
I had a quick glance at https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/register-service-worker.js#L25 (so it will still reload the window when new content is available?).

Let me know how you'd like these events implemented, I'll give it a shot :)

[2018-01-25 06:15] arnondora commented on #2427
Sometime I just remove some of graphql query in the `gatsby-node.js` And build, it worked.  Then I just add the part that has removed and build again, it also work. I still don’t know why this problem happened.

[2018-01-25 06:24] arnondora commented on #3406
My site has more than 200 pages, build time is around 300-350 second. In develop environment, I just pick a bunch of article and sperated to use only in development purpose, this help me a lot in managing my memory and the time of rebuild the project when edit the code.

[2018-01-25 07:42] vanbroup commented on #3673
@calcsam the hardcoded version of UglifyJsPlugin breaks on many dependencies such as [punycode](https://www.npmjs.com/package/punycode) and [moment](https://www.npmjs.com/package/moment). The alternative [uglifyjs-webpack](https://github.com/webpack-contrib/uglifyjs-webpack-plugin)-plugin is using [UglifyJS v3](https://github.com/mishoo/UglifyJS2/tree/harmony) (`uglify-es`).

@KyleAMathews I would

[2018-01-25 08:49] MaralS opened #3693 "TypeError: Cannot read property 'allSitePage' of undefined"
## Description

I want to create a sitemap of all the links of the website. I tested my GraphQL query on `http://localhost:8000/___graphql`.
Here is the GraphQL query:
[code]
Here is the GraphQL result in GraphiQL console:

[code]
`plan-du-site.js`file :
[code]
[code]
Errors in the console :

[code]
### Environment

Gatsby version: 1.1.27
Node.js version: 8.9.3
Operating System: OSX El Capitan

##

[2018-01-25 09:33] gvillenave commented on #3686
No, the Firebase client JS SDK is made for use in the browser, and I have used it in other projects (including next.js projects) where this is not an issue.
https://github.com/firebase/firebase-js-sdk
Please do re-open this issue, I believe this is an actual use case for Gatsby that doesn't work in production, although it might just be related to a specific webpack config problem. Firestore is pre

[2018-01-25 10:11] alvinthen commented on #3693
Change your value of sort to `fields: [path]`

[code]

Somehow it's expecting an array

![image](https://user-images.githubusercontent.com/771989/35382632-c8b7e3f6-01fa-11e8-9458-935a73ab7534.png)

[2018-01-25 10:44] kosirm commented on #3632
Ok, thanks, so it will stay for now. Anyway, I'm planning to transfer everything to new Cloud9 AWS infrastructure, where all these problems with ports, reverse proxies etc will be gone, hopefully.
I just wanted to temporarily disable hmr so I don't look at these errors all the time 😄
All the best.

[2018-01-25 10:44] #3632 closed

[2018-01-25 10:50] MaralS commented on #3693
@alvinthen thank you I didn't know that.

I also want to exclude all the 404 pages of the results but as you can see, the 404.js component and the 404.html file still appears.

[2018-01-25 12:06] harrynorthover commented on #2087
Is this something that should be fixed? I'm getting a GraphQL Error when running a build and it still completes successfully...

[2018-01-25 12:15] kriim commented on #3318
@kripod Did you try to make back/forth navigation work for anchor links when using `smooth-scroll`?

[2018-01-25 14:16] discordianfish commented on #3570
I'm having the same problem after creating a new blog-starter project and adding my existing pages.

[2018-01-25 14:19] Lc0rE commented on #3020
I'm experiencing this issue on Windows. Even invoking the dev server with the `gatbsy develop -H localhost` is working for me.
I can't see an opening tab when I start the server and, of course, there is no Hot Reloading.
Curious thing: when I stop the server from the terminal, I can see this message in the browser console:

[code]

Should I try something else?

[2018-01-25 15:33] ShaneMckenna23 opened #3696 "Gatsby logo not found"
The Gatsby SVG image is missing: https://www.gatsbyjs.org/gatsby-negative.svg

[2018-01-25 15:40] fk commented on #3696
Hi @ShaneMckenna23! I removed that file in #3639, but tried to make sure it's not in use anywhere. Did I miss something? Were you linking to it directly?

[2018-01-25 15:56] fk commented on #1500
@rdela Nice!
@SachaG Totally following you!

Also made some, will post them in individual comments.

[2018-01-25 15:59] fk commented on #1500
"Skating butler" on "Heather Grey" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html) – click the image for full view:

![next-level-3600-3](https://user-images.githubusercontent.com/21834/35397880-e59605e8-01f0-11e8-99da-bfdc3bf0fc52.jpg)

[2018-01-25 16:09] fk commented on #1500
"Skating butler" on "White" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-white](https://user-images.githubusercontent.com/21834/35398119-7b6e95c6-01f1-11e8-8a4a-318dcbdc24a2.jpg)

[2018-01-25 16:20] fk commented on #1500
Horizontal logo treatment "nametag"-style on "Heater Grey" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-logo-horizontal](https://user-images.githubusercontent.com/21834/35399121-d7cb12a2-01f3-11e8-94af-1d69689f3d8e.jpg)

[2018-01-25 16:21] fk commented on #1500
Horizontal logo treatment "nametag"-style on "Natural" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-logo-horizontal-natural](https://user-images.githubusercontent.com/21834/35399238-17c35af4-01f4-11e8-9395-535c3eb4028d.jpg)

[2018-01-25 16:30] fk commented on #1500
Monogram and slightly adapted "Tutorial" icon (from the mobile navigation) on "Heater Grey" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-monogram tutorial-icon](https://user-images.githubusercontent.com/21834/35399751-4dd5daa8-01f5-11e8-8d35-e09eb5dbcb58.jpg)

[2018-01-25 16:32] fk commented on #1500
Monogram and slightly adapted "Tutorial" icon (from the mobile navigation) on "White" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-monogram tutorial-icon-natural](https://user-images.githubusercontent.com/21834/35399889-aba01d6a-01f5-11e8-9e1e-64e88c802c93.jpg)

[2018-01-25 16:34] fk commented on #1500
Monogram and slightly adapted "Tutorial" icon (from the mobile navigation) on "Natural" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-monogram tutorial-icon-natural](https://user-images.githubusercontent.com/21834/35399972-e5b5fec0-01f5-11e8-832a-5c4a1111d8d8.jpg)

[2018-01-25 16:41] fk commented on #1500
Monogram and slightly adapted "Tutorial" icon (from the mobile navigation) on "Dark Chocolate" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-logo-horizontal-tutorial-icon-brown](https://user-images.githubusercontent.com/21834/35400394-ea01244a-01f6-11e8-9fea-2d79eb24e8db.jpg)

[2018-01-25 16:43] Redmega commented on #2427
In my case it ended up being a syntax error that eslint wasn't alerting me to for some reason. I had a missing ] in my `typography.js`. Run your code through eslint and make sure there are no errors

[2018-01-25 16:45] fk commented on #1500
Monogram and slightly adapted "Tutorial" icon (from the mobile navigation) on "Purple Rush" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-3-logo-horizontal-tutorial-icon-inverted](https://user-images.githubusercontent.com/21834/35400568-6ee7e662-01f7-11e8-8b17-b3e803bdedd4.jpg)

[2018-01-25 16:52] calcsam commented on #3693
@MaralS you could try using a regex or combining ne operators to exclude this. We actually just added a docs page on this :) Going to close this since the original issue was resolved!

https://www.gatsbyjs.org/docs/graphql-reference/

[2018-01-25 16:52] #3693 closed

[2018-01-25 16:55] fk commented on #1500
Vertical logo treatment on "Purple Rush" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-1](https://user-images.githubusercontent.com/21834/35401085-dd1190ba-01f8-11e8-8a9f-246596e98b35.jpg)

[2018-01-25 16:55] fk commented on #1500
Monogram on "Purple Rush" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-1-monogram](https://user-images.githubusercontent.com/21834/35401111-ed985c98-01f8-11e8-914f-0d9866dbede0.jpg)

[2018-01-25 16:57] shannonbux commented on #3363
haha Comic Sans. Have ya'll seen the Ryan Gosling SNL skit on Papyrus? Very
good. Also, I like the re-kerned "a" and "bs", @fk!!! Squinting is a
professionally useful skill :D

On Wed, Jan 24, 2018 at 6:43 PM, Sacha Greif <notifications@github.com>
wrote:

[2018-01-25 16:58] shannonbux commented on #1500
I like those purples! Very vivid but dark enough to be classy. Nice.

On Thu, Jan 25, 2018 at 9:55 AM, Florian Kissling <notifications@github.com>
wrote:

[2018-01-25 16:59] shannonbux commented on #3682
Very much agree with this. In fact, at some point it would be great to rethink all three docs are organized because they are so closely interrelated. Right now I just keep adding things when we think of them, so the process has been a bit haphazard.

[2018-01-25 17:00] shannonbux commented on #3682
I'll do a PR later today

[2018-01-25 17:15] fk commented on #1500
Monogram centered on "Purple Rush" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-1-monogram-centered](https://user-images.githubusercontent.com/21834/35402084-bcf64a52-01fb-11e8-9e2f-6cff992d429a.jpg)

[2018-01-25 17:28] fk commented on #1500
Monogram (medium) centered on "Purple Rush" [NextLevel 3600](https://www.nextlevelapparel.com/fabric-collections/mens-cotton-crew.html):

![next-level-3600-1-monogram-centered-small](https://user-images.githubusercontent.com/21834/35402610-6c4d619c-01fd-11e8-9d60-194883cbc98e.jpg)

[2018-01-25 17:53] danielemesh opened #3698 "[question] Gatsby bundle size"
How much space doe's "gatsby code" takes from the final bundles?

Is it possible to assess?

[2018-01-25 17:55] KyleAMathews commented on #3698
Gatsby sites have a number of libraries it ships with e.g. react, react-dom, history, react-router, react-router-scroll, etc. Gatsby's runtime is fairly slim. I haven't measured it directly in a while but I'd guess it's ~5-10kb or so. You can use https://www.npmjs.com/package/source-map-explorer to look directly.

[2018-01-25 17:55] #3698 closed

[2018-01-25 19:03] ShaneMckenna23 commented on #3696
Hey @fk,
I was using it like this:
<img alt="Gatsby" src="https://www.gatsbyjs.org/gatsby-negative.svg" width="100">

I copied it from your readme, which is also missing the logo

[2018-01-25 19:33] fk commented on #3696
Ouch, sorry for that. That and some more logo variants eventually will come back to gatsbyjs.org, in the meantime you can grab the updated logos from https://github.com/gatsbyjs/gatsby/issues/3363#issuecomment-360206669 to fix your issue.

Argh! Apparently I am too stupid to properly search! 😳
Will fix in a minute! Thank you!

[2018-01-25 20:40] fk commented on #3696
Fixed, logo is now at https://www.gatsbyjs.org/monogram.svg. Maybe consider not hotlinking it in the future?! ;-) Thanks for reporting! <3

[2018-01-25 20:40] #3696 closed

[2018-01-25 21:52] #3356 closed

[2018-01-25 21:59] #2942 closed

[2018-01-25 22:08] sunnymis opened #3701 "[gatsby-source-contentful] Preview API not returning all data"
## Description

I am able to retrieve all of my content from Contentful when I use the Content Delivery API. However, when I use the Preview API my data is not being delivered. When I look into the `.cache` directory, some nested field references are missing from the page JSON. Not all of the pages are missing content and it seems to be random ones that are missing content.

Everything else is the

[2018-01-25 23:03] aoc opened #3702 "[gatsby-cli] Can't create project using 1.1.30"
## Description

Can't create a basic project using `gatsby new gatsby-site` on 1.1.30 version. Previous version (1.1.29) works fine.

### Environment

Gatsby version: 1.1.30
Node.js version: 9.4.0
Operating System: macOS High Sierra 10.13.2
Git version: 2.16.1

### Actual result

[code]

### Expected behavior

Creates basic project without errors.

### Steps to reproduce

1\. Run `gatsby new gatsb

[2018-01-25 23:45] rluncasu commented on #3702
Same thing here for ```gatsby new gatsby-site```. In addition, running gatsby new with a github url also results in a fatal error:
[code]

[2018-01-25 23:46] KyleAMathews commented on #3702
Hmmm sorry folks — will fix this real quick.

[2018-01-25 23:48] aoc commented on #3702
thanks @KyleAMathews I think you've already found the problem. But I tried to review the changes and made a comment here:

https://github.com/gatsbyjs/gatsby/commit/466aad7b91f6166bf6cac345f78a72b4360c1504#r27115011

[2018-01-26 00:07] #3702 closed

[2018-01-26 00:07] zachgibson commented on #3702
I can successfully install tutorial-part-one but once I run `gatsby develop` I get errors such as:

[code]

[2018-01-26 00:22] ptchiangchloe commented on #2518
@KyleAMathews is right about that, I wanna add the `__NODE` means the a property in a model type.

[2018-01-26 00:27] gvillenave commented on #3686
I ended up switching back to create-react-app for now, with the same code and dependencies and the webpack bundling is working fine. I would be interested to eventually switch back to Gatsby if I can get some help making it work with Firebase.

[2018-01-26 01:29] rdela opened #3705 "[gatsby-cli] npm warning deprecated graceful-fs"
So working, I see:

[code]

…during update to gatsby-cli@1.1.31

[code]

[/packages/gatsby-cli/package.json](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/package.json#L20)

…looks like that is [fs-extra](https://www.npmjs.com/package/fs-extra) depending on [graceful-fs](https://www.npmjs.com/package/graceful-fs)

[isaacs/node-graceful-fs](https://github.com/isaacs/node-gracef

[2018-01-26 01:36] rdela commented on #3705
Can we bump that to `5.0.0`? Or are we holding back for a we reason?

https://github.com/jprichardson/node-fs-extra/blob/master/CHANGELOG.md#500--2017-12-11

[2018-01-26 01:37] rdela commented on #3705
https://github.com/gatsbyjs/gatsby/blob/157f1c806bc5962c20c9c731048ef0fa2d8ac28e/packages/gatsby-cli/package.json#L20

[2018-01-26 01:38] KyleAMathews commented on #3705
Nobody has tried upgrading afaik. Would love it if could do the upgrade and take care of any breaking changes! Perhaps it might take care of all the weird copy issues on Windows

[2018-01-26 01:44] rdela commented on #3705
Great will give it a try and post here if I get stuck or lost!

[2018-01-26 02:08] onetwothreebutter commented on #3665
Ok, let me know the error happens for you when you run `gatsby develop`.

https://github.com/onetwothreebutter/using-sass-ericdjohnson

[2018-01-26 02:36] #3538 closed

[2018-01-26 03:33] ryanditjia commented on #3535
Hi guys, similar case, I thought I’d ask my question here instead of opening a new issue.

How do I query for the content under "fullSlot"? It seems I can only query for __typename.

Thanks.

[2018-01-26 05:12] calcsam commented on #1456
Merged into v2 branch. Going to close this.

[2018-01-26 05:12] #1456 closed

[2018-01-26 06:28] calcsam commented on #1853
Fixed in the PR, closing this

[2018-01-26 06:34] KyleAMathews commented on #1853
@calcsam @danielfarrell's PR was just to add the new helper function to v1 so this issue isn't done yet as we need to convert source/transformer plugins in v2 over to use UUIDs for ids.

[2018-01-26 06:35] GregBorrelly commented on #3357
@calcsam  I would like to work on this issue.

[2018-01-26 07:02] calcsam commented on #3357
@GregBorrelly it's yours -- i'll add you to the core team (check your email in the morning) and assign it to you!

[2018-01-26 07:02] calcsam commented on #3357
@GregBorrelly thanks for taking this on!

[2018-01-26 07:30] ryanwiemer commented on #3402
@lgraubner or @benjaminhoffman any luck with this?

I chose not to do trailing slashes on my website but I noticed an issue whenever a slash got accidentally added to the URL. The slug would just get appended to the URL for example `www.example.com/page1/page2`. This is particularly a problem when Facebook mysteriously decides to add a trailing slash when I share a link.

Should this be resolved a

[2018-01-26 08:05] GregBorrelly commented on #3357
Thank you @calcsam !!!!

[2018-01-26 08:49] cnolimit opened #3706 "Issue building project using firebase - firestore"
## Description

I'm having an issue using firestore in my project. Each time I try to build the project it produces the an error stating that it can't find the `aws-sdk` module. Then after installing the module it produces a webpack error.

I've been trying to work this out for a while, it works in development, but just can't seem to figure out why its happening during builds.

### Environment

Ga

[2018-01-26 09:11] calcsam commented on #3706
Seems to be an instance of this bug in grpc: https://github.com/grpc/grpc/issues/13049

[2018-01-26 09:11] #3706 closed

[2018-01-26 09:37] SachaG commented on #1500
Out of all these, `Monogram (big) centered on "Purple Rush"` is my favorite, although if we print it correctly (I forget the technical term, but we want the ink to feel infused into the fabric and not like it's "pasted" on top) it will probably be more like dirty white/light grey than pure white.

[2018-01-26 10:11] Cu3PO42 commented on #1769
It's not working for me either.

I have gatsby-cli 1.1.31 and have tried setting ̀ -H localhost` explicitly.
I have tried with Chrome (Canary) and Firefox (Dev Edition) and got the same results.
This is on Windows Server 2008 R2 (please don't ask).

The behavior I'm seeing specifically is that no hot reloading takes place, however the browser complains about a lost connection to the HMR endpoint w

[2018-01-26 11:16] LeKoArts opened #3708 "Add others‘ plugins?"
Hi,

I stumbled across two cool gatsby plugins which are sadly not on the homepage:
https://github.com/vacas5/gatsby-source-unsplash
https://github.com/Creatiwity/gatsby-plugin-favicon

Should always and only the creator submit a PR to add them to the list or can everyone do that?

[2018-01-26 11:47] vickylance commented on #3399
For me the above command didnt work, but the below command did the trick,

`git config --global url."https://github.com/".insteadOf "git@github.com:"`

[2018-01-26 12:27] cnolimit commented on #3706
@calcsam This issue seems to been more closely related to #3686 which I missed initially when searching through issues, but seemed to be closed with no real resolution. Would be good if we could re-open the original issue and work out why the build fails when using `firestore`

[2018-01-26 12:56] lgraubner commented on #3402
Sadly I still don't have a real solution. I can't even find a Netlify Option to force trailing slashes (or the opposite). The only thing I did was adding a canonical with trailing slash as well as making sure all internal link have the trailing slash.

[code]

[2018-01-26 13:41] monsieurnebo commented on #631
Similar issue here:

**Page A**: I'm scrolling to - let say - 50% of the page height, then click on a Gatsby Link.
**Page B**: I'm on the new page, on the top. I click on a link to go back to the previous page.
**Page A**: The page opens on the same position as I was when i leaved out, instead of the top.

[2018-01-26 13:44] monsieurnebo commented on #3249
Similar issue here:

**Page A**: I'm scrolling to - let say - 50% of the page height, then click on a Gatsby Link.
**Page B**: I'm on the new page, on the top. I click on a link to go back to the previous page.
**Page A**: The page opens on the same position as I was when i leaved out, instead of the top.

[2018-01-26 14:32] danielfarrell commented on #1853
Is there a process that changes flow from master to v2?  I can finish this up for v2, but didn't want to duplicate that code if it would flow through.

[2018-01-26 14:48] julien1619 commented on #3708
Hi,

I'm the creator of the second one, and yeah, I completely forgot to do a PR to add it to the list :)
I will do it right now. Thanks!

[2018-01-26 14:48] fk commented on #3708
Hmm, good question. While I don't see a big problem in other people than the plugin creator adding community plugins to the list, those adding should probably make sure that the plugin works with the latest version of Gatsby, is intended for a public release, is published to npm …

Maybe opening an issue here in which we ping the plugin authors – as long as the plugin source is hosted on GitHub, t

[2018-01-26 14:49] fk commented on #3708
Haha, hey @julien1619! Looking forward to your PR! 🤗

[2018-01-26 15:21] whmountains opened #3710 "Crash on missing GraphQL fragment."
## Description

Gatsby crashes when I try to use a missing GraphQL fragment.

### Environment

Gatsby version: 1.1.31
Node.js version: 9.4.0
Operating System: MacOS High Sierra

### Expected behavior

It should handle the error gracefully similar to other GraphQL errors.  Show an error message and wait for file change.

### Steps to reproduce

[code]

[2018-01-26 15:24] aberkow commented on #3591
I'm having this issue as well with a set of custom endpoints. The endpoint is validated and fetched correctly.
[code]
But then I get the error `GraphQLError: Cannot query field "allWordpressflbuilderall" on type "RootQueryType".`

When I connect to the endpoint via postman I get

[code]

[2018-01-26 15:27] sebastienfi commented on #3591
When you access GraphiQL and try the autocomplemtion with `Ctrl+Space`, do you have anything related to `flbuilder` at all ?

[2018-01-26 15:27] szimek commented on #3183
@KyleAMathews

I've just encountered the same error, but it was my mistake. When calling `createPage` in `gatsby-node.js` I'm passing layout name based on `locale` parameter coming from a query, but I forgot to create layout files for all supported locale. So it was trying to find a layout with id `de` but failed, because there was no such file in `src/layouts`.

So it looks like there are 2 simil

[2018-01-26 15:37] elboman opened #3711 "[gatsby-transformer-remark] `htmlAst` field always empty"
## Description

I noticed the `htmlAst` field has been recently added to the `gatsby-transformer-remark` plugin, which is awesome. The problem is, the field is always empty, no matter what the markdown file content is.

Am I missing something?

/cc @r24y

### Environment

Gatsby version: 1.9.169
Node.js version: 9.3.0
Operating System: macOs 10.12.6

### Steps to reproduce
1. clone new project fro

[2018-01-26 16:11] crgeary commented on #2894
Sweet.. Just been speaking to @endymion1818 and he wants to take a shot at implementing this :)

[2018-01-26 16:12] shashank1558 opened #3713 "fatal: Could not read from remote repository."
## Description

Started with Gatsby tutorial today, but i can't continue because of this error:
[code]

### Environment

Gatsby version:1.1.31
Node.js version: 8.9.4
Operating System:Ubuntu

[2018-01-26 16:18] aberkow commented on #3591
No. nothing related to that is coming up. (thanks for the tip about cntrl-space!). However, perhaps I was going about things the wrong way. When I ran `gatsby develop` this time I noticed that the relevant output re the api was
[code]
To me it appears that `/all` is not valid but it _is_ valid when related to a specific post. I'll have to check on that some more, but I'm not quite sure how to proc

[2018-01-26 16:25] KyleAMathews opened #3714 "[v2] Move gatsby-link inside the gatsby package"
Gatsby requires gatsby-link to work so it doesn't make sense to have it as a separate project.

[2018-01-26 16:28] KyleAMathews commented on #3686
It could just be that we're still on webpack v1 until Gatsby v2 is released.

[2018-01-26 16:28] KyleAMathews commented on #3706
It could just be that we're still on webpack v1 until Gatsby v2 is released.

[2018-01-26 16:29] KyleAMathews commented on #1853
Yeah, I merge them in :-) Lemme do that real quick.

[2018-01-26 16:31] LeKoArts commented on #3708
Yes, I also think that's the necessary steps.
But mentioning the respective authors is also a valid option 😆

[2018-01-26 16:32] ChrisSki opened #3715 "[gatsby-source-contentful] Internal absolute links to same domain are treated as relative links"
## Description

I have absolute urls in my blog posts that navigate to other blog posts. When clicking on these links, the absolute url is treated as a relative url, which sends the user to a 404 page.

### Environment

Gatsby version: 1.9.153
Node.js version: 8.9.1
Operating System: MacOS High Sierra 10.13.2

### Actual result

Internal link: `https://example.com/new-post`

End url: `https://exam

[2018-01-26 16:45] LeKoArts commented on #3708
@fk @KyleAMathews On the same note:
Aren't there also official plugins missing in the list? I had to open up the examples/using-emotion folder to see that  ``gatsby-plugin-emotion`` exists as it's missing on the website.

[2018-01-26 16:46] KyleAMathews commented on #1853
merged

[2018-01-26 16:48] fk commented on #3708
Yep, just added one today: #3712
Would be cool if you could add a PR for `gatsby-plugin-emotion` (and any other missing ones ;-))!

[2018-01-26 16:50] LeKoArts commented on #3708
Ok, will create a PR now 👍

[2018-01-26 16:51] fk commented on #3708
Thank you @LeKoArts! 🤗

[2018-01-26 17:09] Redmega commented on #3714
`import { Link } from 'gatsby';`!

[2018-01-26 17:23] dhnaranjo commented on #3713
Having an identical issue.

Gatsby: 1.1.31
Node: 9.4.0
Operating System: Arch Linux

[2018-01-26 17:29] shannonbux commented on #1500
Totally think the same thing, Sacha. My notes:

- *my personal favorite:* I like the gatsby butler on heather grey.

- *seems like most universally good-looking choice:* the big monogram on
purple t-shirt and the small monogram+wordmark on purple t-shirt seem like
they would look good on everyone. Agree with Sacha's note. Seems like we
have a dirty white + feels good vs. solid white + feels like a

[2018-01-26 18:09] salmanmanekia commented on #3045
@calcsam : If @ppatel221 isnt planning to do this, I would like to give it a shot

[2018-01-26 18:31] sebastienfi commented on #1100
@rwieruch this is a great starter, thank you for that.

[2018-01-26 18:39] ryanwiemer commented on #3249
@monsieurnebo, not sure if this is helpful or not but instead of dealing with the issue that you described I decided to simply force it to start at the top every time. Not very elegant but it was better than the current behavior for my use case.

https://github.com/ryanwiemer/rw/blob/master/gatsby-browser.js#L4-L10

[2018-01-26 18:51] ryanwiemer commented on #3402
@lgraubner gotcha. Thanks for responding.

@KyleAMathews any advice for this particular issue of whether or not to have a trailing slash and the proper method for forcing that? I noticed on https://www.gatsbyjs.org/ all URLs have a trailing slash and it is forced.

It would be great to come to some type of consensus especially since if you mix and match it has negative effects on Gatsby powered si

[2018-01-26 19:08] arsmth opened #3720 "[gatsby-image] Best way to force an aspect ratio?"
I'm trying to force a 4:3 aspect ratio on images using sizes from a graphql query. I can't find the best way of doing it though.

I know I need to alter the ```padding-bottom``` on the div child of ```gatsby-image-wrapper``` but what's the best way of doing this?

Maybe I'm just missing something obvious.

[2018-01-26 19:27] sedubois commented on #3142
I had the issue again when opening https://www.gatsbyjs.org/blog/ today. Second load was okay.

<img width="1397" alt="screen shot 2018-01-26 at 21 23 07" src="https://user-images.githubusercontent.com/4217871/35456828-7c899e6c-02df-11e8-8f5f-b5154eb53a24.png">

Error is thrown at bootstrap%204819ead1ea268be1797a:52 which is a file starting with `// install a JSONP callback for chunk loading`. Cod

[2018-01-26 19:29] sedubois commented on #3142
Closing as duplicate of #3582.

[2018-01-26 19:29] #3142 closed

[2018-01-26 19:42] dotmagic commented on #3673
@vanbroup I'm using CSS-in-JS, I think it's builtin with Gatsby? It still hurts my eyes sometimes because I always cared to keep styles separate. But Gatsby changed the game. It makes now sense to keep it in your Templates, so only the styles that's really used get loaded. Since it's not inline css you don't need to worry about performance. I think I'll remember that's the preferred way Kyle use,

[2018-01-26 19:44] jwright04 commented on #3713
Identical as well

Gatsby: 1.1.31
Node: 9.4.0
Operating System: MacOS El Capitan

[2018-01-26 19:49] arsmth commented on #3720
Are you using this on the actual gatsby-image component?

[2018-01-26 20:27] dhnaranjo commented on #3713
So I checked it out and was able to register my own issue by registering a public SSH key with my github account for the computer I was on. I confirmed that this was the case by:

- Running `git clone git@github.com:gatsbyjs/gatsby-starter-default.git gatsby` and observing failure.
- Adding this computers public SSH key to my GitHub account.
- Running `git clone git@github.com:gatsbyjs/gatsby-star

[2018-01-26 20:32] jwright04 commented on #3713
I assumed it was something similar I was going down that exact path, thanks for the confirmation!

[2018-01-26 20:34] aaronklaser commented on #3425
I had this same issue the other day. Make sure you don't have any empty js files. That seems to break the minify on the build and through errors for things that aren't error.

[2018-01-26 20:41] KyleAMathews commented on #3720
Just query for a width/height with the aspect ratio you want and gatsby-transformer-sharp will resize your image e.g. `image(width: 300, height: 400)`. gatsby-image just takes the aspect ratio of the image so resize away!

[2018-01-26 20:41] #3720 closed

[2018-01-26 21:20] hemnathmouli commented on #1767
`Your site is running at http://localhost:8000`
Try changing your port. Like 3000 or 8080.

`app.listen(3000)`

My 8080 post was taken, so I got this same error

[2018-01-26 21:22] rdela commented on #1500
Nominating

To move forward.

Should we also print Monogram (big) centered on heather grey in rebeccapurple `#663399`?

[2018-01-26 21:25] kripod commented on #3129
Is there a more detailed explanation about this? I would like to map markdown files to other markdown files by two distinct attribute names. How could that be done? @KyleAMathews even some clues would be highly appreciated.

[2018-01-26 21:28] rdela commented on #1500
I would like there to be at least one 100% cotton choice though, so maybe a solid, non-heather tee with `rebeccapurple`, as heathers are all blends?

[2018-01-26 21:31] rdela commented on #1500
“Sand” in nextlevel 3600 maybe?

[2018-01-26 21:34] rdela commented on #1500
Or “Natural”? “Cream”? “Lt Gray”? “White”?

[2018-01-26 21:38] rdela commented on #1500
On second thought, “Purple Rush” is 100% cotton so if we want “Heather Gray” with monogram big in`#639` that would work!

[code]

[2018-01-26 21:48] pieh commented on #3129
I'm not sure if I understand correctly but You can do something like this:

In frontmatter link to other markdown file (that's for single link - you can do array or object if you need more):
[code]
and then query:
[code]

[2018-01-26 21:55] kripod commented on #3129
@pieh Sounds great, but what I would like to achieve is similar to the `AuthorYaml` solution.

`books/lorem-ipsum.md`:

[code]

`authors/john-doe.md`:

[code]

[2018-01-26 22:55] pieh commented on #3129
Oh, we currently only map to ids. But we can make it work with some additional custom code in `gatsby-node.js`:
[code]
and in your `gatsby-config.js` use this mapping config:
[code]

[2018-01-26 22:56] kripod commented on #3129
@pieh Thank you for all your efforts! 😊 I'm wondering whether the developer experience could be improved, though...

[2018-01-26 23:21] Fetten commented on #3562
I also had this issue recently on a multi-language WordPress site, which uses Polylang Pro as translation plugin.

Polylang creates an additional database entry (= post) for every image translation, but doesn't duplicate the image file itself. So gatsby-source-wordpress receives e.g. 3 entities from the REST api, which all point to the same image file.

I think the problem could might be in `gatsb

[2018-01-26 23:23] pieh commented on #3129
There's always room for improvement for sure. I'm currently working on schema related things and will add this to my list (why that list is only growing and getting smaller 😠 ).

Way to to be able to specify on what field to we should link nodes would indeed be great as current mapping is best suited for json/yaml data (where we define id ourselves) or for programmatic solution (like one I pasted

[2018-01-26 23:26] kripod commented on #3129
Also, I think it would be a good idea to add optional path selectors (probably regex/glob) for nodes with the type `MarkdownRemark`.

[2018-01-26 23:33] arsmth commented on #3720
Sorry, I should have given more detail. I'm displaying my images in a flex grid where the width depends on the viewport width. I was using sizes in my query because the images aren't a set size:

[code]

[code]

Is there a way I can get my images to come in cropped from my query?

[2018-01-26 23:33] Fetten commented on #3450
Thought of passing custom normalizers as well today via `gatsby-config.js` and played around with an implementation before I saw this issue :)

Any progress on this? Do you need help with anything, @moshie?

[2018-01-27 00:20] benjaminmikiten opened #3721 "--path-prefix doesn't work on gatsby develop"
## Description
Using gatsby-cli@1.1.28 I'm able to use `gatsby develop --paths-prefix`
As of gatsby-cli@1.1.31 that throws `Unknown argument: prefix-paths`

It appears that changed in this PR: [https://github.com/gatsbyjs/gatsby/pull/1969](https://github.com/gatsbyjs/gatsby/pull/1969)

### Environment

Gatsby version: 1.1.28
Node.js version: 9.4.0
Operating System: macOS 10.13.2

### Steps to repr

[2018-01-27 00:51] pieh commented on #3721
This is correct - https://www.gatsbyjs.org/docs/path-prefix/#development

Why you want to use path prefix in development mode?

[2018-01-27 01:03] pieh commented on #3720
You can add maxHeight param to query and/or force gatsby-image inner wrappers to match height of flex row if you use `align-items: stretch;` (default value for this property) on your flex container:

[code]
(you propably want to do that only inside your Gallery component)

[2018-01-27 01:21] njosefbeck opened #3722 "The Gatsby plugin I built builds properly locally, but not when used via an NPM package"
## Description

Hello! I created a Gatsby plugin back in October that inserted the Stripe JS onto each page of a Gatsby site, similar to how your Google Analytics plugin worked. Code repo can be found [here](https://github.com/njosefbeck/gatsby-plugin-stripe-elements). I haven't touched this code for a couple of months, but was notified in December of issues occurring when users of my plugin try t

[2018-01-27 01:26] njosefbeck commented on #3722
Additionally, I tried changing the React element syntax like the below, but that also didn't work.

[code]

[2018-01-27 01:37] arsmth commented on #3720
Thanks for the reply @pieh

The maxHeight just reduces the quality of my image rather than crop it. I don't want to hardcode a height on my container, so the images just stretch to the height of the tallest one.

Am I being stupid here? I feel like I should be able to just pass ```Img``` an aspectRatio prop which calculates the padding percentage to apply to that inner div, no? 😩

[2018-01-27 01:38] pieh commented on #3720
Yes, you can - check edit to my comment - I actually show how to do it :)

[2018-01-27 01:42] arsmth commented on #3720
Perfect! Is that in the documentation? I couldn't find it. Thanks a lot @pieh !

[2018-01-27 01:59] shashank1558 commented on #3713
Worked like a charm, thanks.

[2018-01-27 02:18] benjaminmikiten commented on #3721
`navigateTo` from `gatsby-link` doesn't apply the prefix so to use those links in development, we've been relying on that from 1.1.28.

[2018-01-27 02:19] pieh commented on #3720
I'm not sure if it's in docs - I found about that when inspecting `gatsby-image` source and fields defined in `xxxSizes` fragments

[2018-01-27 04:00] jeff-jk commented on #2674
@kildareflare @martinpsz Maybe try a `yarn install` before `gatsby develop`?

[2018-01-27 05:40] ro-savage commented on #3495
Running into a similar issue. I delete my `export const query = graphql` and yet I still see the data, I had to manually delete the cache.

[2018-01-27 06:48] uttrasey opened #3724 "[gatsby-source-contentful] Flight mode"
## Description

Add a "flight mode" option so it would be possible* to develop locally using Contentful CMS even if you have no network connectivity.

`*` Dependant on existing prior connection/cache

### Actual result

Currently `develop` falls over

`source and transform nodesAccessing your Contentful space failed. Perhaps you're offline or the spaceId/accessToken is incorrect.`

### Expected be

[2018-01-27 06:50] uttrasey commented on #3724
If this is sensible I'll knock a PR together.... about to spend a lot of time on ✈️'s

[2018-01-27 08:32] netojose commented on #3679
[code]

[2018-01-27 08:38] bodia-uz opened #3726 "How to extend dynamically generated fields in graphql schema?"
## Description

What is the best way to extend GraphQL Schema for `markdownRemark frontmatter` and `site siteMetadata`?

Gatsby adds fields to schema automatically, based on the data source. But in our case fields may be or may not be in data. And we use those fields in graphql queries.

Currently I use some workaround like This:
![c1f3d07b-9284-44b9-817a-b3106096b035](https://user-images.githubus

[2018-01-27 08:52] sandys opened #3727 "[gatsby-source-filesystem] iterate over specific directories and get files from it"
There are other people with similar issues - https://stackoverflow.com/questions/47313856/executing-graphql-queries-on-the-result-of-another-one

We need run one graphql for a specific list of directories and then on those directories, run another graphql query to get specific files within them. One of the issues is that pull request https://github.com/gatsbyjs/gatsby/pull/2060 does not work. Allf

[2018-01-27 08:58] SanthoshRaju91 opened #3728 "[gatsby-link] support passing state data in navigateTo"
## Description

Hi, wanted to know if it is possible to send data in programmatic navigation `navigateTo()` in gatsby link. Check the index.js file of gatsby-link, but seems there is not option to send in any data.

So that the rendering component gets it in the location.state object.

### Environment

Gatsby version: 1.1.28
Node.js version: 8.9.4
Operating System: Mac OS

### Expected behavior

S

[2018-01-27 09:15] pieh commented on #3726
Hi, this is unfortunately known issue that I'm working to resolve - you can check discussion here - https://github.com/gatsbyjs/gatsby/issues/3344#issuecomment-359970488

[2018-01-27 09:22] moshie commented on #3450
Apologies, I have been short on time this week I have been working on bits here and there.

I will have something PR'd soon I `promise()` 👍

[2018-01-27 13:42] r24y commented on #3711
Oh no! I tested this locally on one of my projects but may have messed something up. I'll see if I can fix it.

By the way, if anyone has ideas on how to test this, I'd appreciate tips. The existing tests seem to rely on schema inference, which means they won't work with the GraphQlJson type. It would be helpful to instead run tests against the schema that actually gets generated.

[2018-01-27 14:03] elboman commented on #3711
No worries, actually I already opened a PR for fixing this (#3719), so we would just need tests for it, which I couldn't figure out either.

[2018-01-27 14:08] hightide2020 commented on #3713
The same problem used SSH and worked!

[2018-01-27 15:27] #1522 closed

[2018-01-27 15:31] benjaminhoffman commented on #3678
btw, does it fail for you when you `gatsby develop`?

[2018-01-27 15:32] benjaminhoffman commented on #3670
cc @shannonbux this ^^ may be related to the recent css doc re org you did the other day.

[2018-01-27 16:37] r24y commented on #3711
This is so I don't forget: as soon as #3719 lands, I've got [one more fix](https://github.com/r24y/gatsby/tree/feat/htmlAst-reparse-raw) and then an [addition to `examples/using-remark`](https://github.com/r24y/gatsby/tree/example/remark-with-htmlAst) to propose new content demonstrating the new `htmlAst` feature.

[2018-01-27 16:41] #3711 closed

[2018-01-27 16:44] dhnaranjo commented on #3713
@shashank1558 slow down my man, I really don't think it is like, desirable to require every single Gatsby user to have to register an ssh key with github in order to use the program, do you?

Like, just because this tool is hosted on github, should the use of it be tied to being a github user?

[2018-01-27 17:26] ryancoughlin opened #3733 "[WordPress - Question] Implementing `gatsby-image` with WordPress post content"
## Description/Potential Issue ##
We have been porting over our company blog to Gatsby and loving it so far. We noticed a few things when loading a single post. The index page loads pretty quick (as well as when paging through other content using `gatsby-paginate`

It is currently hosted on Netlify and we want to try out others to rule out the potential problem.

We are loading the post content fr

[2018-01-27 17:27] #2895 closed

[2018-01-27 17:38] KyleAMathews commented on #3733
Which part of loading is sluggish? Like text takes a while to show up on the screen or the images take a while?

[2018-01-27 17:41] ryancoughlin commented on #3733
Seems like the whole page. I am on a train now and when I get on a stable connection I can send a screenshot of the profiler. Also this was happening on the build version.

I noticed during development our `common.js` was 13.2mb (some of that is from no optimizations  I am guessing).

[2018-01-27 17:45] KyleAMathews commented on #3733
Yeah, the development commons.js is complete different than the production build. Although that is unusually large still.

[2018-01-27 17:54] cricrio opened #3736 "Add an option to disable the colours of the errors in the cli"
There is a problem of readability of the errors with a white background. (cf: #2645)
I made a pull request to change the background color to red but it doesn't look good. (cf: #3734)

A better solution to solve the problem may be to disable the color with an option like: --disable-error-color

Example:

    gatsby develop --disable-error-color

[2018-01-27 18:10] rdela commented on #1500
Maybe 2 designs is enough to start with?

They do make a nice pair:

![monogram big on purple rush](https://user-images.githubusercontent.com/21834/35402084-bcf64a52-01fb-11e8-9e2f-6cff992d429a.jpg)

![skater butler on heather gray](https://user-images.githubusercontent.com/21834/35398646-bba4b57a-01f2-11e8-9757-b3b1bc9c1ac4.jpg)

[2018-01-27 19:04] salmanmanekia commented on #3045
Thanks @benjaminhoffman. I will start with this. In the meanwhile can you please explain what do you meant by

[2018-01-27 19:28] dotmagic commented on #3373
@rogovdm Btw, I'm using the Markdown preview plugins for Visual Code & Atom. With a large screen you can type and see the result in another pane. I found it much more comfortable to work.

[2018-01-27 19:31] LeKoArts opened #3738 "[sharp & remark-images] Generating unused images?"
Hi,

when I first used ``gatsby-plugin-sharp`` respectively ``gatsby-image`` and ``gatsby-remark-images`` I didn't pay much attention to the details of these packages and how they generate images.
My personal site is still pretty small but I'm already generating **600** images and I first didn't understand why. Someone showed me these lines:

https://github.com/gatsbyjs/gatsby/blob/c147a08f0f4dd4a

[2018-01-27 20:49] KyleAMathews opened #3740 "Convert responsive image type names to "fixed" and "fluid""
The current "resolutions" and "sizes" are derived loosely from parts of the responsive image specs but do a mostly poor job of indicating to people what to use them for. Let's fix this before it's too late.

[2018-01-27 20:50] kripod opened #3741 "Server-side-rendered styles differ from the ones used during development"
## Description

When I import [`normalize.css`](https://yarnpkg.com/en/package/normalize.css) and then use the [`injectGlobal`](https://emotion.sh/docs/inject-global) function of [`react-emotion`](https://github.com/emotion-js/emotion/tree/master/packages/react-emotion), then I get inconsistent results between development and production builds.

### Environment

Gatsby version: 1.9.165
Node.js ver

[2018-01-27 20:53] KyleAMathews commented on #3741
The order of server rendered styles are determined by how you add styles to your html.js. This is a tricky issue since in development, styles are added by JS in the client, and in SSR, they're added by plugins / either the default or your custom html.js component.

There's not a simple way to solve this.

Ideally you use only one technology for injecting CSS e.g. use emotion as well to inject the

[2018-01-27 20:53] #3741 closed

[2018-01-27 21:19] calcsam commented on #3727
If you have a specific list of directories, why not include a filter on relativePath in your GraphQL query?

[2018-01-27 21:48] kripod commented on #3741
Actually, I just tried switching to emotion-only injects by using the following code inside `gatsby-node.js`:

[code]

When I inject all the styles using emotion's `injectGlobal` function:

[code]

Global styles take precedence over locally-defined styles, which is, in my opinion, an unwanted behavior.

[2018-01-27 22:14] calcsam commented on #3728
Currently Gatsby doesn't support passing history state. If you'd like to implement, please feel free to -- you'd need to pass along props eg here:

https://github.com/gatsbyjs/gatsby/blob/c1d47bbc9e7f7d0989c7e57cc5423202eec38fca/packages/gatsby/cache-dir/production-app.js

https://github.com/gatsbyjs/gatsby/blob/dcfa0fab32e168c075c052dde7ecd97736c6147a/packages/gatsby/cache-dir/root.js

[2018-01-27 22:20] calcsam commented on #3736
This is a great solution -- feel free to implement!

[2018-01-27 22:26] calcsam commented on #3736
You'll probably want to use the --no-color flag, or failing that FORCE_COLOR=0 on chalk: https://www.npmjs.com/package/chalk

[2018-01-27 22:32] calcsam commented on #3724
This would be great! Let's make the gatsby development experience on bad / spotty connections as good as the gatsby site viewing experience :)

[2018-01-27 22:41] calcsam commented on #3721
That issue was fixed a while back: https://github.com/gatsbyjs/gatsby/issues/1533

[2018-01-27 22:41] smerth opened #3742 "gatsby-transformer-yaml - Multiple nodes created for each yaml entry..."
## Description

Implementing gatsby-transformer-yaml results in duplicate nodes when queried with graphql.

### Environment

Gatsby version: 1.1.28
Node.js version: v8.9.1
Operating System: MacOS 10.13.2

### File contents (if changed):

`gatsby-config.js`:

[code]

`package.json`:

[code]
`gatsby-node.js`:
modified according to end of chapter 4 of Gatsby tutorial

`gatsby-browser.js`:
modified ac

[2018-01-27 22:42] calcsam commented on #3708
Closing this, thanks @LeKoArts ! :)

[2018-01-27 22:42] #3708 closed

[2018-01-27 22:43] calcsam commented on #3710
Please post the crash message?

[2018-01-27 22:46] calcsam commented on #3715
Can you post a repo reproducing this?

[2018-01-27 22:58] KyleAMathews commented on #3715
Also what plugins are you using?

[2018-01-27 22:58] kripod commented on #3741
@KyleAMathews I tried to tweak my `gatsby-node.js` even further and finally got the order right, but now, the contents of `normalize.css` don't get SSR'ed as CSS, but as JS.

`gatsby-node.js`:

[code]

`pages/index.jsx`:

[code]

I would appreciate if you could explain what I'm not taking into consideration...

[2018-01-27 23:00] KyleAMathews commented on #3741
Import the css like this:

`import normalizeCSS from 'raw-loader!normalize.css';`

That way you'll stop also loading the CSS through the normal css loader.

[2018-01-27 23:04] kripod commented on #3741
@KyleAMathews Unfortunately, that doesn't work because it sets `normalizeCSS` to the following string:

[code]

I don't want it to be converted to a file with `module.exports`.

[2018-01-27 23:13] KyleAMathews commented on #3741
or there's something goofy with our raw loader setup because it should just give you the actual text of the file.

[2018-01-27 23:25] kripod commented on #3741
@KyleAMathews It seems that the `normalize.css` package [exports an actual CSS file](https://unpkg.com/normalize.css@7.0.0/package.json). Even by using `import normalizeCSS from 'raw-loader!normalize.css/normalize.css';`, I get the same results, so there may be something goofy with the raw loader setup of Gatsby.

[2018-01-27 23:39] KyleAMathews commented on #3741
Oh my bad. You need to add an exclamation mark as well at the start to disable the normal loader chain.

I just tested this in a new project and it imported the raw css string as expected:

[code]

[2018-01-27 23:44] kripod commented on #3741
@KyleAMathews Awesome, and I don't even need a `gatsby-node.js`, then. Thank you so much! 😊

[2018-01-28 03:36] sandys commented on #3727
It's build time determination. Meaning , I can add a new directory with new
content...and the next time I run a Gatsby build, it will pick it up.

On 28-Jan-2018 02:49, "Sam Bhagwat" <notifications@github.com> wrote:

[2018-01-28 03:51] smerth commented on #3742
Ok. I solved this…  Here's the answer.

I noticed that if I add `id` the graphQL query I can see that the `id` is essentially the path to the data node… the first set of nodes had an id with an absolute path and the second set of nodes had an id with something that looked like a relative path.

That made me think I had mis-configured the `gatsby-source-filesystem` .

Sure enough that turned out to

[2018-01-28 03:51] #3742 closed

[2018-01-28 03:54] ryanwiemer commented on #3249
@monsieurnebo I know I just responded to this yesterday but you might want to check out the suggestion from @dsbrianwebster. His solution gave the added benefit of remembering the scroll position when using the back button or if the webpage is manually refreshed. I ended up switching to his suggestion.

See: https://github.com/ryanwiemer/rw/issues/1

[2018-01-28 04:52] mattferderer opened #3746 "Possible to add a noonce option for scripts?"
Would it be possible to add a `nonce` option to Gatsby as a whole or to plugins such as Google Analytics individually? This could possibly help issue #3427 & allow people to use Content Security Policies with inline scripts protected.

If this is something that makes sense, I would be happy to try & create some pull requests.

[2018-01-28 05:00] SanthoshRaju91 commented on #3728
Happy to help with this change.

So I went via the two files you have mentioned, I need to make change in the `window.___history.push(pathname)` to now except the state, something like below.

`window.___history.push(pathname, state)`.

Change the public API `navigateTo` to except the second parameter "state" and finally make change in the documentation for programmatic routing section, that it wi

[2018-01-28 07:11] alvis commented on #3015
Alternatively, you can use `route-parser` to capture the parameters from location.

[2018-01-28 08:36] kripod opened #3750 "Add a “CONTRIBUTING.md” file to the default starter"
I think there should be a default guide for contribution towards Gatsby-based projects in general, outlining the most important concepts of the framework (pages, templates and layout). It should give a quick introduction about the directory structure (and other conventions) of a typical Gatsby project, even for developers who have not been working with Gatsby before.

I think that advanced concept

[2018-01-28 08:58] danielemesh commented on #3698
@KyleAMathews Should I run it against all the js files in the public directory?

[2018-01-28 08:58] moshie commented on #3450
So I was thinking about how this might work and came up with this idea of setting the normalisers to an object.

Some people may want to run a normaliser before the "built in" ones so I specified a priority argument to define when it gets called, I was thinking the default priority could just be anything after.

This way also allows you to define multiple normalisers in one plugin.

[code]

If any

[2018-01-28 10:05] zionis137 commented on #3746
I tried it here: https://github.com/zionis137/gatsby/commit/3c260c62ca0706294cf52ed975edace4753bfc72
Works suprisingly well for scripts, one would need to add a (different) nonce for inline-styles ([here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/default-html.js#L17)).

As I don't have much time this week feel free to take it and make a PR.

[2018-01-28 10:18] bonbonio opened #3751 "Parsing Markdown files seems to randomly cause compilation error"
Hello,

I am using this boilerplate which is linked to from the Gatsby site; https://github.com/Vagr9K/gatsby-material-starter and when it compiles, sometimes I get this error, and then it wont seem to clear;

[code]

I have tried using no markdown files, to see if it just loads the templates (it wont), putting the sample pages bundled with it back and also making new markdown files; it just seems

[2018-01-28 10:27] yasserzubair commented on #2427
Mine also ended up being a syntax error.

[2018-01-28 10:58] Fetten commented on #3450
Giving priorities is a great idea! How about giving the built-in normalizers a priority as well, so you could modify entities between two of them?
Just a quick thought, could make things more complicated and might be a bit overengineered as well.

[2018-01-28 11:01] cricrio commented on #3736
Thanks! The --no-color flag does half the trick as it can already be used to disable chalk but it doesn't disable them in the errors because they are using pretty-error. I will write something to catch the flag and call the method  [withoutColors](https://github.com/AriaMinaei/pretty-error#disabling-colors)

[2018-01-28 11:13] pieh commented on #3751
Gatsby needs to create data types schema to be able use graphql data layer. Currently gatsby guesses types of fields based on data it has (you don't define anywhere what type of data given field is). Gatsby will fail to set field type if:

- there is no data of given field (so `nextTitle` field is never set)
- there are conflicting types of data (f.e. one post will have `nextTitle` as String and o

[2018-01-28 12:13] moshie commented on #3450
Glad you think so! I think that's a good idea about giving the built in normalisers the same priority argument, Ill write it up and report back soon :)

[2018-01-28 14:03] just-boris commented on #3678
Yes, I see an error in the console during `gatsby develop`, but not in `gatsby build` command.

[2018-01-28 16:16] CrowsVeldt commented on #1786
I've just started having this issue. I ran through the tutorials with no problem, but now I've started trying to rebuild my site in Gatsby it's happening. I've been extending the default site created by ` gatsby new`. So far it's only effecting the Header, everything else seems to get the data just fine, and I can run queries in GraphiQL without issue.

---

The Component:
`
import React from 'rea

[2018-01-28 16:17] oliverjam opened #3753 "netlify-cms css inlined on every route"
## Description

I installed `gatsby-plugin-netlify-cms` and now have the Netlify-CMS css file inlined into the head of every page of my site. I don't know if this is expected behaviour but it seems like it would make more sense for this to only get injected on the '/admin' route.

This is especially bad because Netlify-CMS doesn't scope its styles, so e.g. my headings are getting css applied that

[2018-01-28 16:23] michellocana opened #3754 "Question: Using with html-webpack-inline-source-plugin"
Is it possible to use Gatsby with [html-webpack-inline-source-plugin](https://www.npmjs.com/package/html-webpack-inline-source-plugin)?
I'm trying to configure the plugin inside ```modifyWebpackConfig``` on ```gatsby-node.js```, is that right?
I'm a newbie into webpack, so maybe i'm just missing something.
[code]
Amazing site generator by the way, thanks :)

[2018-01-28 16:49] benjaminhoffman commented on #3045
My apologies, I may have been mistaken.  The official error I get is `A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

So I guess you want to check for either a react element or `null`.

@calcsam may know where to start looking to fix this.

[2018-01-28 16:55] calcsam commented on #3750
This definitely seems like something we'd want to add. Would you like to submit a PR for this?

[2018-01-28 16:58] kripod commented on #3750
@calcsam Sorry, but I'm pretty busy nowadays, so I don't think I would be able to submit a PR...

[2018-01-28 19:05] nodox commented on #2918
@rayk go for it! I haven't been able to get to this but would love to be of help in any way.

[2018-01-28 19:12] LeKoArts commented on #3738
Closing this issue for now. Seems to be an edge case.
If I have time I'll do a PR for an option to remove the 1.5x, 2x etc.

[2018-01-28 19:12] #3738 closed

[2018-01-28 19:13] TomPichaud commented on #3318
@kripod

Having some issue with your code...
I need to click twice on the link to actually get the scroll... Any idea why ?
Also a direct access to http://myurl.com/#contact doesn't get me to #contact...

[2018-01-28 19:13] jonmilner commented on #3284
@KyleAMathews As someone who's moved on from Sass, but still prefers writing CSS in `.css` files, I'm glad to hear there's interest in improving PostCSS support.

I'd love to be able to drop a `postcss.config.js` into the project root, install the dependencies, and have Gatsby handle the rest.

FWIW, this is my go-to PostCSS config (all the benefits of Sass, with none of the features I don't want)

[2018-01-28 19:13] episodeyang opened #3756 "Starter doesn't work with Module build failed: Error: Couldn't find preset "env" relative to directory home/<user>"
## Description

install `gatsby`, do `gatsby create new-site`. go in new-site and do `gatsby develop`, gives following error:

[code]
### Environment

Gatsby version: newest
Node.js version: 9.3.0
Operating System: macOS 10.13.3

### File contents (if changed):

nothing changed. Directly from create.

Dear community, what is the problem here? I don't want to install `babel-preset-env` globally. I

[2018-01-28 19:23] LeKoArts opened #3757 "[gatsby-plugin-sharp] Generating (all) images fails"
## Description

Since the middle of this month (I don't know which version change) the image generation fails if I try to generate all images. I've got images all over my site and Gatsby tells me that it will generate ~ 600 images (since I'm using gatsby-image and responsiveSizes).

Last year everything was fine. During the image generation there were messages (I don't recall them in detail):
`Max

[2018-01-28 20:20] kripod commented on #3318
@kriim I did, but unfortunately, I could not make them work as intended.

@TomPichaud Please make sure that you are using regular `<a>` tags instead of `<Link>`s.

[2018-01-28 22:24] braco commented on #3183
@szimek Anything would be better than current, I'm having this issue on macOS and trying to debug the vague error messages.

[2018-01-28 23:05] whmountains commented on #1786
@CrowsVeldt Try deleting the `.cache` directory.  I get this issue on a regular basis and 80% of the time that will fix it.

[code]

[2018-01-28 23:56] chuckharmston opened #3758 "Allow Gatsby to run with a CSP without unsafe-inline."
In order to use Gatsby with a CSP, the inline CSS and JavaScript it produces requires it to be run with `unsafe-inline`, which renders it vulnerable to a broad swath of attacks and generally makes the CSP worthless.

There are two ways to permit this:

1. By allowing generated assets to be loaded as external assets, so origins can be used to control this.
2. By using `strict-dynamic` and hashes of

[2018-01-29 00:22] mannieschumpert opened #3759 "createNodeField having no effect"
## Description
I am using `onCreateNode` and `createNodeField` as I have seen referenced in many places, but node fields are not being added.

### Environment
Gatsby version: 1.9.54
Node.js version: 8.8.1
Operating System: MacOS High Sierra

### File contents (if changed):
In my gatsby-node.js:
[code]
I have tried limiting the code to check for specific `node.internal.type`, as well as removed the

[2018-01-29 00:25] KyleAMathews commented on #3759
Did you look under `fields`? The new field should be at `node.fields.newField`.

[2018-01-29 00:56] mannieschumpert commented on #3759
Arg. That's the issue. Apologies, I didn't find that referenced!

[2018-01-29 00:56] #3759 closed

[2018-01-29 01:08] KyleAMathews commented on #3759
Curious where you were looking? Would love a PR from you to clarify that part of the docs!

[2018-01-29 02:18] quentin- commented on #660
Would this project be open to add config files to whitelist host env variables?
Something like `.env.production.host` ?

[code]

[code]

[2018-01-29 03:58] mattferderer commented on #3746
I misunderstood how nonce works. It needs to be generated by the server on each http request. This may not be the best approach upon re-thinking this problem. I'm going to close this and try to come up with a better solution.

[2018-01-29 03:58] #3746 closed

[2018-01-29 05:23] arnondora commented on #3445
I have found the reason why the bundle size is so huge. I looked into the `path—___.js` File, I found the large amout of data that is not necessary from `pathContext` prop. So I filter the necessary data from `gatsby-node.js`. The bundle of the path file size is reduce from 2.1 MB to 15 kB

[2018-01-29 06:04] bradwestfall commented on #3486
I just haven't had time to keep looking at this yet, but I will soon I hope

[2018-01-29 07:13] CrowsVeldt commented on #1786
@whmountains I've tried a couple times, but it didn't help. Thanks, though.

[2018-01-29 07:18] avinashs735 commented on #501
I can not access local images stored in pages folder in computer using <img src=""/> tag...... though it accesses any image weblink....... I am new to gatsby help me with this....
![query](https://user-images.githubusercontent.com/34059263/35497993-80aaa760-04f2-11e8-9920-94559ac189e7.PNG)

[2018-01-29 08:13] zionis137 commented on #3746
sure, `nonce` = "number used once"

For static sites `nonce` might even work.... An attacker knows the nonce, but I don't think he can inject new content on the server without running `gatsby build` which changes the nonce.

Hashes are the better alternative https://github.com/gatsbyjs/gatsby/issues/3427.
The `static-entry.js` is called in one of the latest build-stages, every plugin that wants to

[2018-01-29 08:35] fcatuhe commented on #243
Even better now:  put your CNAME file in the `src/static/` folder and it will be copied untouched at the root or the `public/` folder on `gatsby build`, ready to be copied to GitHub Pages by `gh-pages`

[2018-01-29 09:03] fk commented on #3199
(Still catching up apparently :-/) … @shannonbux That's about what I expected _and_ worst case scenario. Let's fix this!

@rdela You got a PR going for this already?

[2018-01-29 09:11] fk commented on #1935
Will take another look at this @Defite @KyleAMathews

[2018-01-29 09:20] zionis137 commented on #3758
There are some related issues which go in the 2. direction:
* Hash: https://github.com/gatsbyjs/gatsby/issues/3427
* Nonce: https://github.com/gatsbyjs/gatsby/issues/3746

Ideally the CSP should be opt-out, the 2. way does not require http/2 to be efficient.

[2018-01-29 09:46] fk commented on #501
Hey @avinashs735! Have you seen https://www.gatsbyjs.org/docs/adding-images-fonts-files/?

[2018-01-29 10:13] monsieurnebo opened #3760 "Regroup non-static files into a public's subdirectory"
# The idea
It would be useful to regroup all the non-static files of the build into a subdirectory of `/public/`.

Something like:

[code]

Where `/res/` would be the directory, that's a placeholder name.

# Why ?

You can have some situation where GatsbyJS's files aren't the only files on the hosting root. If you need to apply any operation on the Gatsby's files, it's a pain to target them and no

[2018-01-29 10:21] monsieurnebo commented on #3249
That's working fine !

Thanks for the information @ryanwiemer 👍

[2018-01-29 10:25] sedstan commented on #1719
I'm still searching for a fix. The above did not work for me.

[2018-01-29 12:05] owenhoskins commented on #2687
@KyleAMathews Thanks for the reply. It turns out the repeating keys were not the issue! Rather I had a onCreateNode API function that was throwing off the file system.

[2018-01-29 12:46] jessicavrooyen commented on #2911
This seemed to solve the issue for me. Deleting the node_modules and doing a `yarn install`. Thank you.

[2018-01-29 13:00] tsriram commented on #3756
I could not reproduce this issue with same versions of Gatsby & Node on Ubuntu. Can you try with a starter explicitly like mentioned in #2092 and see if it works?

[2018-01-29 14:55] arnondora opened #3763 "Code splitting on Gatsby?"
I really curious that Can I have a code-splitting by using this line of code ?

[code]

I got an error in the following lines when I run `gatsby develop`

[code]

[2018-01-29 16:02] pieh commented on #3763
Gatsby uses webpack v1 currently (which will be updated in gatsby v2) and your code is valid in webpack v2+.

Try this:
[code]

[2018-01-29 16:50] sgriffey commented on #1384
@chiedo what was your solution—with respect to your example—which made this work? (I'm currently still wrestling with this challenge, not finding success.)

[2018-01-29 17:08] sgriffey commented on #1749
@foggy1 yes, please if you could post your working query and frontmatter example, that'd be huge!

[2018-01-29 17:10] #2526 closed

[2018-01-29 17:17] vacas5 commented on #3708
late to the party here, but I'll open a PR for mine as well

[2018-01-29 17:19] foggy1 commented on #1749
@sgriffey I just realized I missed Matt's comment! I'll post a couple of things later today.

[2018-01-29 17:30] sgriffey commented on #1749
Thank you!! Finding a straightforward explainer solution to this has been a wild-goose-chase. 🙏

—
Sent on the fly

Stuart Griffiths

[2018-01-29 17:55] arnondora commented on #3763
Oh! Thank you very much!

[2018-01-29 17:57] #3412 closed

[2018-01-29 18:52] KyleAMathews commented on #3324
This was fixed in #3326 thanks @tomazy!

[2018-01-29 18:52] #3324 closed

[2018-01-29 18:55] cjkoepke opened #3767 "[gatsby-source-wordpress] baseUrl differs from actual fetch"
## Description

I'm currently trying to import WordPress via `gatsby-source-wordpress`, but running into an issue where it's fetching from a URL different than the `baseUrl` option. I honestly don't even know where it's getting the domain from.

### Environment

Gatsby version: v1.1.23
Node.js version: v9.2.0
Operating System: MacOS 10.13.2

### File contents (if changed):

`gatsby-config.js`:
[co

[2018-01-29 19:06] #2827 closed

[2018-01-29 19:17] KyleAMathews commented on #2032
@amberleyromo added a docs page for gatsby-config.js!

https://www.gatsbyjs.org/docs/gatsby-config/

[2018-01-29 19:17] #2032 closed

[2018-01-29 19:19] #3081 closed

[2018-01-29 19:21] KyleAMathews commented on #3028
@octalmage awesome thanks!

[2018-01-29 19:21] #3028 closed

[2018-01-29 19:25] joakimlustig commented on #3402
I have problems with this as well, gatsby-plugin-remove-trailing-slahes doesn't seem to do anything about the urls. I'm also using gatsby-plugin-canonical-urls to generate canonical urls, and that plugin creates canonical urls without trailing slash for my blog posts.

So I have links that automatically goes to the posts with a trailing slash added, and canonical urls generated without trailing sl

[2018-01-29 19:46] tomazy commented on #3324
@KyleAMathews #3326 fixed only a part of the problem.
You can see that absolute paths are still exposed by running in your project dir:
[code]
I'm not sure yet if it's gatsby specific problem or it's here because webpack generates the source maps with absolute paths.

One way of fixing this would be disabling the generation of the source maps by default.
People are usually not aware that the sourc

[2018-01-29 19:47] KyleAMathews commented on #2467
I'd love to support this — but not really familiar with the problem. Is this something we can configure webpack to do for example? We'd need to make a change there + how we generate asset links in GraphQL & Markdown. Perhaps we could have a global `useRelativeAssetPaths` config flag.

Would love to hear the results of any research any of you have done.

[2018-01-29 19:58] chiedo commented on #1384
Hey @sgriffey!

I don't remember doing anything special other than what Kyle mentioned above. Make sure you have all the plugins he's using in that example installed as well though.

The plugins were the gotcha for me.

[2018-01-29 20:07] KyleAMathews commented on #3129
It's not documented yet but there is a way to add mappings directly between nodes e.g. in gatsbyjs.org, we map from an `author` field in markdown to an `authors.yaml` file https://github.com/gatsbyjs/gatsby/blob/36742df34648f6a392f5b37d297399266a76e047/www/gatsby-config.js#L7

[2018-01-29 20:12] KyleAMathews commented on #3727
@sandys this would be a sweet addition to Gatsby! What would need to happen is that we add to the `Directory` type in gatsby-source-filesystem a `allFiles` field which is the same files connection as used elsewhere but automatically filters file nodes to files in that directory. Would love a PR for this!

[2018-01-29 20:14] KyleAMathews commented on #3678
@just-boris sorry you're having trouble! We should definitely add the second option to better print out errors.

On bailing — I liked @jquense's suggestion here: https://github.com/gatsbyjs/gatsby/issues/2087#issuecomment-328618722 Would love a PR adding this!

[2018-01-29 20:18] szimek commented on #3183
`gatsby@1.9.173` will now report missing layout files:
[code]
instead of this:
[code]
It still doesn't solve the issue that Gatsby sometimes can't find layout files on Windows though :/

[2018-01-29 20:19] #3736 closed

[2018-01-29 20:47] davidwesst commented on #1769
It looks like the browser (i.e. client) is the cause of the issue on Windows. When I load up the starter using Microsoft Edge, I see the following message in the console: `webpack-hot-middleware's client requires EventSource to work. You should include a polyfill if you want to support this browser.`

Both Chrome and Firefox appear to support Server-Side Events ([reference](https://caniuse.com/#se

[2018-01-29 20:54] KyleAMathews commented on #3698
Try looking at several. E.g. commons & app & some page components.

[2018-01-29 20:57] KyleAMathews commented on #3713
Hey sorry about this — I merged a PR a few days ago which broke things for people without a public key. This PR removed that requirement https://github.com/gatsbyjs/gatsby/pull/3735

Upgrade to the latest `gatsby-cli` to get this.

[2018-01-29 20:57] #3713 closed

[2018-01-29 21:15] jjenzz opened #3770 "Visited pages load at previous scroll position"
## Description

Clicking back to a page you were previously on via main navigation brings you back to your previous scroll position.

### Environment

Gatsby version: 1.9.169
Node.js version: 7.4.0
Operating System: macOS Sierra

### File contents (if changed):

`gatsby-config.js`:

[code]

`package.json`:

[code]

`gatsby-node.js`: not changed
`gatsby-browser.js`: not changed
`gatsby-ssr.js`:  no

[2018-01-29 21:27] KyleAMathews commented on #3753
/cc @erquhart

[2018-01-29 21:27] avinashs735 commented on #501
yes I have the documentation that is why I asked,Is there anything i need to in my code coz I am unable to use the image stored locally in same folder where as the same works for http urls.

[2018-01-29 21:29] KyleAMathews commented on #3754
Hey, you could probably do this but Gatsby natively handles generating HTML so you don't want to use webpack's HTML plugins.

If you're trying to figure out how to do something specific, feel free to post another issue asking that question.

[2018-01-29 21:29] #3754 closed

[2018-01-29 21:32] Cu3PO42 commented on #1769
I don't see how that could be the case in my particular instance since I tried all of Chrome, Chrome Canary, Firefox and Firefox Dev Edition (all up to date).

[2018-01-29 21:34] KyleAMathews commented on #3757
I believe I've seen this. I won't have time to look into this right away but it'd be great if someone could trace where things break.

@LeKoArts in the meantime — could you try setting up your environment so you're caching the generated images in the `public` directory? That way even if generating all images fail, you can restart it with far fewer images to generate the second time. Then finally,

[2018-01-29 21:36] KyleAMathews commented on #660
@quentin- did you see this page? We do support .env.production files

https://www.gatsbyjs.org/docs/environment-variables/

[2018-01-29 21:37] KyleAMathews commented on #660
Not sure if what you're proposing is different. If it is, please post a new issue to track the discussion there!

[2018-01-29 21:41] KyleAMathews commented on #243
@fatuhoku yup! That's been added since — see https://www.gatsbyjs.org/docs/adding-images-fonts-files/#using-the-static-folder

[2018-01-29 21:58] KyleAMathews commented on #3767
The plugin auto-discovers additional routes to visit — I'm guessing there's some sort of global wordpress baseUrl setting you need to change on your local instance of WP https://github.com/gatsbyjs/gatsby/blob/cffa918679575317a31edd57c0d429784f06636b/packages/gatsby-source-wordpress/src/fetch.js#L225

[2018-01-29 22:00] KyleAMathews commented on #3324
@tomazy I'd be up for a disabling source maps by default in production for v2. I agree it's probably something that should be opted into. Could you create an issue for that and if you have time, work on a PR for that?

[2018-01-29 22:04] rdela commented on #3199
@fk I have a local branch with the multi-author post added, let me catch up to `master` and I will open the PR. Beyond linking avatar pics the idea is to add color to contributor page links, but not increase font-weight, in both the post and index views?
Maybe the underline or background-color appears on hover?

[2018-01-29 22:06] KyleAMathews commented on #3183
Hmmm... boo :-(

[2018-01-29 22:30] LucaColonnello commented on #2641
I can't wait to have Webpack 3!!! Thanks for the great work!!! :)

[2018-01-29 22:34] allanhortle commented on #2467
I can't say I've done any research into the Gatsby code for a solution. Currently I'm using plain webpack to get around this. As far as the webpack side goes you can set `output.publicPath` to `./`
and `file-loader` has the option: `useRelativePath: true`.

[2018-01-29 22:36] stefanoverna commented on #1517
This single issue is preventing our agency to extensively use Gatsby on every new project.. I would be happy to help proposing a PR but I'm not sure how to proceed :(

[2018-01-29 22:39] KyleAMathews commented on #2467
Ah cool! That'd be part of the solution. Getting Gatsby's file outputs to do this as well would be relatively straightforward. Happy to guide someone through a PR if you'd like to volunteer.

[2018-01-29 22:40] cjkoepke commented on #3767
@KyleAMathews I've done a search/replace across the whole WP database and don't see any more calvinkoepke.com references. Do you think it'd be in a theme/plugin file or something?

[2018-01-29 22:41] KyleAMathews commented on #1517
@stefanoverna would love to see you using Gatsby for every project! @pieh is working on a fix in #3344 — perhaps you could chat with him to see if you could help out? He's got a branch he's working on that you could look at.

[2018-01-29 22:41] KyleAMathews commented on #3767
This is past my WP working knowledge at this point :-)

I'd look at what the REST API is putting out and go from there.

[2018-01-29 23:11] benjaminhoffman opened #3771 "Misleading error in gatsby-node for `createPage` (`component` property)"
When using the `boundActionCreators`'s `createPage` of the `createPages` API, I get the following error when I don't have a **`component`** property: `TypeError: Path must be a string. Received undefined`.  This occurs even when I _do_ have a `path` property! :)

This error makes it confusing to debug, esp for users new to `gatsby-node`.

Reproduce:

`$ gatsby new gatsby-example-site`

in `gatsby-

[2018-01-29 23:15] cjkoepke commented on #3767
@KyleAMathews It must've been some crazy caching because now it's pulling the right URL. I also removed `.cache` before to try and it didn't update.

Either way, it's no longer an issue.

[2018-01-29 23:15] #3767 closed

[2018-01-30 00:21] KyleAMathews commented on #3771
Hmm yeah, not very helpful errors. Lemme fix this real quick.

[2018-01-30 00:59] #3771 closed

[2018-01-30 01:12] allanhortle commented on #2467
Yeah for sure. Let me know any details you have outside of the `CONTRIBUTING.md` and I'll try to give it a crack sometime this week.

[2018-01-30 01:20] KyleAMathews commented on #2467
Nope that should be it. My preference would be for this to be all done in a plugin but i suspect it'd need to be a gatsby-config setting.

[2018-01-30 01:32] srsgores commented on #3753
Yep, I have noticed this too.  I just removed the `import` to the css file in the `src/cms/cms.js` file.

[2018-01-30 01:41] pieh commented on #3129
Right, but mapping currently only tries to link on node `id`s and apart from non json/yaml type sources ids are not user defined but are generated, so I didn't suggest to use it.

This is something I will try to tackle with my schema adventures to allow to define fields we want to use to link on. Simple cases (like one I presented above with pseudo mapping config) are straight forward to implement

[2018-01-30 01:43] srsgores opened #3774 "gatsby-link within html.jsx Fails to Build"
## Description
If you put any template within `html.jsx` that uses `gatsby-link`, the build will fail with:

### Environment

Gatsby version: `1.9.172`
Node.js version: `8.5.0`
Operating System: Windows 10x64

### Actual result

Build fails.  `context.router` is `undefined`.  `context` is `{ router: undefined }`

### Expected behaviour

Build should succeed.

### Steps to reproduce

1. Place a tem

[2018-01-30 02:06] KyleAMathews commented on #3774
The `html.js` component is *only* used for server rendering and for things *outside* of `<body/>`. So stuff like this should go in `layout/index.js`. See the docs on html.js https://www.gatsbyjs.org/docs/building-with-components/#html-component

[2018-01-30 02:06] #3774 closed

[2018-01-30 02:11] #3770 closed

[2018-01-30 02:11] KyleAMathews commented on #3249
This should restore the correct behavior folks https://github.com/gatsbyjs/gatsby/pull/3775

[2018-01-30 02:36] foggy1 commented on #1749
Let's say I've got a `pages/` folder full posts. It's important that `gatsby-source-filesystem` is looking here, like
[code]
Let's say one of my folders in pages is `2017-some-date-whatever-time-is-arbitrary/` which contains `index.md` and a picture called `red_sprite.jpg`. In the frontmatter of `index.md` is the following value: `indexImage: "red_sprite.jpg"` For this next part, you should make s

[2018-01-30 04:24] SanthoshRaju91 commented on #3728
@calcsam, my friend found a way to resolve this issue. But I didn't quite understand how this worked after seeing the `navigateTo()` API.

To send data, he used the below method.

[code]

And at the resulting route `/user`, we get the data via `this.props.location`;

[code]

[2018-01-30 04:36] sgriffey commented on #1874
@theiliad did you ever make a tutorial for this?

[2018-01-30 07:19] arnondora commented on #3763
@pieh I have tried but I got SEO is not defined.

[code]

[2018-01-30 09:22] CrowsVeldt commented on #1786
I've added a Footer component (just a copy of the Header) to the layout and it has the same problem. Is there a reason that only components called from the layout would have this issue?

[2018-01-30 09:44] mathieudutour commented on #2792
I stumbled upon the same error.

In my case, it's because my gatsby folder was inside a `node_modules` folder.

The following webpack loader
[code]
is ignoring any file which has a name matching `/(node_modules|bower_components)/`. This is maybe a bit exessive. Could we perhaps exclude only if the name is `new Regex(process.cwd() + '/(node_modules|bower_components)'` or something?

[2018-01-30 09:57] pieh commented on #1786
You can query graphql only in layout and pages components - so put your query in layout and pass data down to header and/or footer as props

[2018-01-30 10:08] monsieurnebo opened #3776 "Using an iframe shows a 404 error"
# Dependencies
All my Gatsby packages are up-to-date.

# Context
I'm using an `iframe` in the homepage of my Gatsby's website, displaying a hardcoded HTML file (yep, that's ugly as hell but I have no other choice ATM).

This HTML page is imported from my React component:

[code]

Using the `url-loader` to handle the HTML file in webpack.

# Problem
When loading the homepage as the entry point of t

[2018-01-30 10:08] CrowsVeldt commented on #1786
@pieh Oh, right. I assumed I was probably missing something basic. Thanks!

[2018-01-30 11:02] kriim commented on #318
It was like this in the config I adapted. I guess it's due to the `extractTextWebpackPlugin` which wraps the other loaders in the `build-css` stage.

But I'm new to the Webpack game myself ;) ...

[2018-01-30 14:46] fk commented on #3199
@rdela 👍  🙏

As for the links: I'm personally leaning towards always showing the underline at the moment, that should be as clear as it can get – IMO – but I probably should not have the final word on this. 😉

I also thought about adding some kind of icon, but I think an avatar icon + an arrow pointing up-right might be mistaken as a link to the author's website (external). Another thing would be

[2018-01-30 14:55] pieh commented on #3763
I might started with wrong approach - why do you want to split this code?

Peace of code i presented is for lazy loading modules, but when i reread your example it doesn't seem like SEO component should be lazy loaded as then this won't be used in generated static htmls.

If SEO component if common in many of your templates (i think number is above 3 ) then gatsby will automatically place it in co

[2018-01-30 15:03] oliverjam commented on #3753
This seems to be an issue with any css imports. E.g. if I import some Prism syntax highlighting css in my blog template it still gets injected onto every page (even though the js itself is code-split).

I got around this by putting all my css into Styled-Components so it's just part of the bundle, but that's not really a solution if a plugin importing is it.

[2018-01-30 16:19] jeffnappi commented on #2565
Would be very cool if someone took up the effort to build something like [cloudcannon.com](https://cloudcannon.com/) for Gatsby. Free startup idea ;)

[2018-01-30 17:06] sidzan opened #3778 "How to build Gatsby without minifying ?"
I ran into some classic issue of HTML minification i.e Uncaught Error: Minified React error #32; and seems to be with Gatasby not related with any CDN ( how - > cause i tried to build it in my local and serve and i get the same issue ).

I am currently seeking any way to deploy it without minifying (with out production env), is there any way to do this ? Any suggestion is much appreciated .

here

[2018-01-30 17:44] foggy1 commented on #1749
Whoops! Forgot to include what this looks like within a single Post template.

[code]

[2018-01-30 17:52] rdela commented on #3199
@fk I have avatars all linking to contrib. pages. Glad you linked to Medium, I was wondering where the [Author above title](https://medium.com/personal-growth/make-life-easier-on-yourself-by-accepting-good-enough-accept-the-lack-of-perfect-5bac47c98ec8) style came from. This is the only example of this I can find, our other inspirations: [Airbnb](https://airbnb.design/designing-for-access/), [Segm

[2018-01-30 18:39] shannonbux commented on #3199
Last night I had a dream that this project was finished, lol! So funny.

It seems to me that as long as the name changes (either to an obviously
different color or underlined) when you hover over it, that could be
enough. Underlined all the time or a permanently different color would be
even more obvious. I can't remember where this conversation has landed as
far as the multi-author view. I'll scr

[2018-01-30 18:45] szimek opened #3780 ""gatsby build" breaks when dependencies use es6 code (which Uglify doesn't support)"
## Description

After upgrading Gatsby to 1.9.167, I'm getting the following error when I try to run `gatsby build`:
[code]
The line mentioned in the error contains keyword `let`. Looks like (at least) dependencies are no longer compiled to ES5 and UglifyJS version used by Gatsby doesn't understand ES6+, so it throws an error.

The same app works fine with 1.9.166. It's most likely caused by some

[2018-01-30 19:04] rdela commented on #1500
possible [3rd option](https://github.com/gatsbyjs/gatsby/issues/1500#issuecomment-360907763)?

![monogram-big-heather-gray](https://user-images.githubusercontent.com/74381/35585529-08301c82-05ad-11e8-8fbf-c3faaa6e52be.jpg)

[2018-01-30 19:12] erquhart commented on #3753
I'll dig into this soon.

[2018-01-30 19:21] rdela commented on #3199
@shannonbux I will try to save you the scroll-back!

[Kyle](https://github.com/gatsbyjs/gatsby/issues/3199#issuecomment-352924645):

…assuming same approach for blog index / blog-post-preview-item.js

We would add:
`www/src/components/blog-post-preview-item-multi.js`
and
`/www/src/templates/template-blog-post-multi.js`

[Kyle](https://github.com/gatsbyjs/gatsby/issues/3199#issuecomment-354980663):

[2018-01-30 19:30] shannonbux commented on #3682
Finished this!

[2018-01-30 19:30] #3682 closed

[2018-01-30 19:34] shannonbux commented on #3670
Thanks! This has been added to a list of things to do :)

On Sat, Jan 27, 2018 at 7:33 AM, Benjamin Hoffman <notifications@github.com>
wrote:

[2018-01-30 19:40] MaralS commented on #3751
@bonbonio I have the same problem when I try to compile.
Sometimes childImageSharp is null, one time markdownRemark is undefined or this time allSitePage is undefined.
I'm struggling with this kind of issues for weeks now.

I'm trying to implement NetlifyCMS on my Gatsby project

[2018-01-30 20:23] youmustfight opened #3782 "[Question] Redirecting a path to different domain?"
## Question

Is there a way to create a redirect for external domain? `createRedirect` works for pushing a user just from path to path. I'm looking for:

`myservice.com/doiqualify` -> `https://myservice.typeform.com/qw/2i42ori`

I noticed createRedirect just appends the url to the root like `myservice.com/https://myservice.typeform...`

## My environment

Deploying to S3 bucket and using Cloudfron

[2018-01-30 20:43] fk commented on #3682
👍

[2018-01-30 20:57] fk commented on #3199
@rdela Thank you for the mockups! 🤗

My initial reaction was 👍 to #2 from https://github.com/gatsbyjs/gatsby/issues/3199#issuecomment-361677102. Gave it 5 minutes to simmer and it holds up.

[2018-01-30 22:06] vishalniit opened #3784 "Build error after upgrade from V1 to latest"
## Description

Describe the issue or the enhancement that you want to see.

### Environment

Gatsby version: Latest
Node.js version: 8.9.4
Operating System: Windows 10

### File contents (if changed):

`gatsby-config.js`:
`package.json`:
`gatsby-node.js`:
`gatsby-browser.js`:
`gatsby-ssr.js`:

### Actual result
**Building static HTML for pages failed

See our docs page on debugging HTML builds fo

[2018-01-30 22:30] GregBorrelly commented on #3357
@calcsam  working on the issue, I got stuck migrating an app at work so that took a while.

[2018-01-30 22:31] charlesgiroux commented on #3341
OS: Windows 10
Node -v: 7.8.0
Gatsby: 1.9.158

I am not able to exceed 1600 pages. I am using the createPages API to create these pages based on a JSON model that I find too complex to use GraphQL with (total GraphQL noob).

I have tried:

`node --max_old_space_size=12000 --stack-size=100000 ./node_modules/gatsby/dist/bin/gatsby.js build --prefix-paths`

But it also crashes:

[code]

I will try la

[2018-01-30 23:06] alexjsdev commented on #3780
i am also seeing this. except for me it's running out of memory when trying to build the JS bundles, however pinning to the version you mentioned `1.9.166` works fine...
@szimek when you say some code isn't being compiled to ES5, do you know which code? I'd like to see if ES5-ing it would fix the error with the newer versions to prove your theory...

[2018-01-31 00:38] charlesgiroux commented on #3341
Quick update: seems like Windows is more sensitive to this issue. I was able to generate 2600 files on OSX without having to increase Node's stack-size or memory.

[2018-01-31 02:46] xiaoxinghu commented on #2001
Just want to add my own experience about this issue as I am now writing a plugin (transformer). @G100g 's solution/workaround worked for me, in production. i.e. I added `graphql` as peer dependency, publish my package to npm, install it on my site, it worked. But it doesn't work when I try to develop the plugin. My setup is: in my site folder I have `MySite/plugins/my-plugin`, which is a symbol li

[2018-01-31 02:47] xiaoxinghu commented on #2001
@calcsam Just want to add, export `graphql` from `Gatsby` doesn't solve the problem for plugin development, because you don't have `gatsby` as dependency in your plugin package.

[2018-01-31 04:38] mattferderer commented on #3022
Check out https://github.com/gatsbyjs/gatsby/pull/3369

[2018-01-31 10:31] szimek commented on #3780
In my case it's caused by `camelcase` package, but probably there are some others written in ES6 as well. This error has already been reported https://github.com/sindresorhus/camelcase/issues/21 and it won't be "fixed" - more info about that https://github.com/sindresorhus/ama/issues/446, which makes perfect sense from the maintainer point of view.

However, this means that dependencies should als

[2018-01-31 10:35] jjenzz commented on #3770
Wow, that was quick :+1: :heart:

[2018-01-31 10:39] craig-doyle-uk opened #3787 "Latest version of Gatspy Wordpress Plugin fails to build on Netlify"
## Description

When I run or build my site locally everything works correctly but when I deploy to Netlify, the latest version of all of the plugins are used and it has been failing to build since last Friday with the following error :

     TypeError: createNodeId is not a function

    - normalize.js:170
    [repo]/[gatsby-source-wordpress]/normalize.js:170:12

     - Array.map

     - normaliz

[2018-01-31 10:46] pieh commented on #3787
Try to update gatsby, updated wordpress plugin relies on functionality added to gatsby in 1.9.167

[2018-01-31 11:43] bonbonio commented on #3751
Yes, I have pinned it down to the markdown compilation, it seems to randomly break during a compilation and then cannot proceed when the process restarts.

I think clearer documentation for the markdown structure needed would help too.

[2018-01-31 12:05] HuuDuc commented on #660
Hi @KyleAMathews how about if I want to have .env.test or something else .env.beta??? There is any possibility to have more than only develop and production?

[2018-01-31 12:05] bonbonio commented on #3751
@MaralS try to delete the ./cache folder after fixing the markdown on the files - that worked for me.

It looks like some sort of terminal errors get cached and the cache is not cleared when npm run develop is re-run.

The cache should be cleared on everyone run of develop, or else it defeats the purpose of the mode.

[2018-01-31 12:18] craig-doyle-uk commented on #3787
Excellent, thanks @pieh , I'm not sure why Netlify was using the latest version of the WP plugin but not using the latest version of Gatsby itself. Once changed to `"gatsby": "^1.9.167",` everything builds correctly.

[2018-01-31 12:18] #3787 closed

[2018-01-31 12:31] MaralS commented on #3751
@bonbonio I already tried to delete the ./cache folder by doing` rm -R .cache && yarn build && yarn serve`
I still have the same error.

Console
[code]

[2018-01-31 12:55] MaralS commented on #3425
@ChrisSki I tried to :
- delete `./cache` and `/public` folder and run the building process by doing` rm -R .cache /public && yarn build && yarn serve `-> It failed
- delete `/node_module` by doing` rm -R node_modules && yarn install && yarn build && yarn serve` -> It failed
- upgrade Gatsby - I have the version 1.1.27 - It failed

Here is the console :
[code]

@aaronklaser  I don't have empty JS

[2018-01-31 12:58] MaralS commented on #3784
@vishalniit the link to the GitHub repository leads to a 404 page :)

[2018-01-31 13:09] MaralS commented on #2830
@wangsongiam I have the same issue but it markdownRemark of undefined. I tried to do yarn upgrade gatsby@latest, delete `./cache` and `/public` folder but it didn't work

Similar issue [#3751](https://github.com/gatsbyjs/gatsby/issues/3751)

[2018-01-31 13:13] MaralS commented on #3091
It's also similar to my issue #3425

[2018-01-31 13:31] daas-ankur-shukla opened #3789 "gatsby new project-name . creates infinite folders if terminated using CTRL+C"
## Description

While creating a new gatsby project I used a dot after the `gatsby new project-name` command, thinking that dot will make gatsby create the project within my parent directory (similar to some python packages).
When the command started creating the project i noticed that it was creating a directory named homepage inside my current directory. So I terminate the process by using CTRL+

[2018-01-31 13:33] gafasstudio opened #3790 "Gatsby build slow (800 pages)"
## Description

We build a website with gatsby (npm run build), the data comes from Contentful and it is build on Netlify. The website has around 800 pages. But it takes 15 minutes to build the site on Netlify and Netlify has a 15min limit. Locally it also takes 10 minutes to build the site, which seems a bit long or is it normal?

Deploy log can be found in the pdf
[deploy_log_netlify.txt.pdf](ht

[2018-01-31 14:10] Niko-La commented on #3220
Parcel fits in very well with Gatsby design philosophy @kylemathews

[2018-01-31 14:11] szimek opened #3792 "Question - how to correctly set up react-intl provider with Gatsby?"
I'm trying to add `react-intl` to my project and when I run `gatsby build` static pages are generated correctly, but when I load them in the browser, `intl` object is messed up in template components, i.e. it has incorrect locale and `intl.messages` object is empty.

My current setup looks like this:

1. I've got a separate layout for each locale, e.g.
[code]

2. I'm using `IntlProvider` in `index

[2018-01-31 14:16] bodia-uz commented on #2792
Similar error with the acorn.
I don't modify webpack config, but gatsby site is inside a `node_modules`.

Something like this:
`/PATH_TO_MY_APP/node_modules/PATH_TO_LIB/site/node_modules/gatsby`

Config generated by gatsby after `compilerConfig.resolve()` `(https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop-html.js#L23) looks like this (using JSON.stringify):
https

[2018-01-31 14:39] #3363 closed

[2018-01-31 14:42] fk commented on #2288
No worries! Understood…and :-/.

A shot in the dark (obviously not fully understanding what's happening here ;-D – layman wishful thinking): Could #3596, #3731 (#3732) change what you explained above in any way?

[2018-01-31 15:28] CALLIKA opened #3793 "Parent/Child/Nodes relations"
**Question**: how to work with parent/child relations or node relations in a context of source plugin?

**What I need**: I'm working on a plugin which loads data from a backend. In backend there are FAQ items and FAQ categories. Between these entities many-to-many relation: each item can be in more than one category and in one category can be more than one items. Both entity type is a complex obje

[2018-01-31 15:49] pieh commented on #3793
Parent/child relationship is one to many so it won't fit your use case. You will need to create additional fields in your nodes to create links between between them.

Here's simplified example:
[code]
then you will have `categories` field in your items nodes and `items` field in your categories

[2018-01-31 15:54] CALLIKA commented on #3793
yep, it's absolutely clear, just in my case will be already good to have all items related to each category (have relations to one direction [many-to-one])

@pieh Thx a lot!

[2018-01-31 15:58] CALLIKA commented on #3793
@pieh ,
btw, for parent/child properties will be the same algorithm?

[2018-01-31 16:12] jquense commented on #3793
I think that nodes can also be one to one? I was under the impression providing a single id (or maybe a different naming convention) would work like you'd expect

[2018-01-31 16:25] pieh commented on #3793
@CALLIKA
What do you mean by saying same algorithm? You can't have multiple parents so you couldn't use it in similiar way as in my code example.

@jquense yeah, you can set either single id value for 1-to-1 node linking or array of ids for 1-to-N (tried to state that in my poorly written comment). For problem we try to solve here (many to many) we need array of ids :)

[2018-01-31 16:26] CALLIKA commented on #3793
@pieh

no-no, I mean how to specify node parent or node children

[2018-01-31 16:57] pieh commented on #3793
via https://www.gatsbyjs.org/docs/bound-action-creators/#createNode
[code]
(parent and children fields are optional)

or with https://www.gatsbyjs.org/docs/bound-action-creators/#createParentChildLink (if node is created by other plugin)

but this shouldn't really be used to specify that kind of relationship you want here - its more for creating links between nodes that are related to same resourc

[2018-01-31 17:02] remoz commented on #2986
I've also encountered this issue. On the build in develop, Gatsby sends a bunch of 'id' of undefined errors even if the queries themselves aren't wrong, and even if the query doesn't ask for an id.

One interesting thing: I've noticed that queries inside the layouts folder aren't affected by this error. Queries inside the pages folder **do** trigger errors. 🤔  I'll explore it and see what I can fi

[2018-01-31 17:22] tomazy commented on #3324
Ok, I'll try to do it asap.

[2018-01-31 17:50] kripod opened #3795 "Use the name "frontmatter" for JSX data exports"
[Currently](https://github.com/gatsbyjs/gatsby/blob/dcfa0fab32e168c075c052dde7ecd97736c6147a/packages/gatsby-transformer-javascript-static-exports/README.md), `exports.data = { /* ... */ }` is being used, which could also be written as `export const data = { /* ... */ }`, but the latter option can be inconvenient _(variable name clashes may occur)_ when a GraphQL query is also in place for the giv

[2018-01-31 17:58] Fetten commented on #3562
Ok, I have a PR ready for this, which checks for duplicate media files.
Just waiting for the [new normalizer PR](https://github.com/gatsbyjs/gatsby/pull/3783) to get merged before adding it.

[2018-01-31 20:27] bkonkle commented on #2492
I'm starting to experience this on a public API - no basic auth.  How should I start to track it down?

[code]

[2018-01-31 21:07] jurosh commented on #3022
After update to `gatsby@1.9.175` minification works for me fine. So yea, looks like fixes in #3369 helped.

[2018-01-31 21:10] highlabs opened #3799 "Build gatsby/wordpress/3000 posts"
Hi! I'm testing Gatsby as an alternative to wordpress. I created a simples Gatsby project with index + content page.

But, when I try to build, I get some errors:
With `gatsby build`, It just don't compile.
https://pastebin.com/pyqB0nER

So I tried with `node --max_old_space_size=12000 --stack-size=100000 ./node_modules/gatsby/dist/bin/gatsby.js build --prefix-paths`
It's compile but takes 9minute

[2018-01-31 21:11] sebastienfi commented on #2492
Try the Link acf type, or anything that can send an image Object.

[2018-01-31 21:11] sebastienfi commented on #2492
@bkonkle Please create a new issue

[2018-01-31 21:14] sebastienfi commented on #3799
Thanks for bringing this matter forward @highlabs . I believe that Gatsby v2 will provide a faster build. @KyleAMathews Can you please elaborate on that ?

[2018-01-31 21:18] tomazy commented on #3022
I've just tried with the above mentioned project.
I upgraded all the packages first (`yarn upgrade`).
Then I ran `npm run build` and I got following error:

[code]

[2018-01-31 21:35] jjenzz opened #3800 "Use custom directory structure in `/pages`"
## Description

I am using `styled-components` and I like to structure components as follows:

[code]

I am assuming gatsby does a case-sensitive match against the filename in `/pages` and the location path so I tried the following:

[code]

But receive the `Minified React error #130` error when running `gatsby build`.

**Output**:

[code]

Is this something I should be able to do or is likely to

[2018-01-31 21:42] jurosh commented on #3022
Hm.. it might have something with configuration of tsconfig...

For me it's working fine with:
[code]

[2018-01-31 21:59] endymion1818 commented on #2894
Hah, thanks @crgeary ;-)

Having trouble setting this up, I've got the tooling right (I think!) but can't see the GA tracking code on my local build, either using `gatsby develop` or `npm run develop --NODE_ENV=production`

Chris, if you have any more ideas about this please let me know ...