[2018-10-04 00:16] marisamorby commented on #8416
@jlengstorf: Here is the link to the flowchart for this https://whimsical.co/FWmLPZEZR9f5GBmoSoCkJz

[2018-10-04 00:46] jkjustjoshing commented on #8103
I'm working on the "Using Fragments" section, should have a PR in the next 24-36 hours.

[2018-10-04 01:55] HurricaneInteractive commented on #5660
@heyalbert were you able to fix this issue?

[2018-10-04 02:36] alacret commented on #7686
No news on this? i'm trying to do it, i created a component <carousel></carousel>, the problem is that i can't find a way to send the img path into the component, passing them as props or childs, they are not changed by the gatsby engine, so, when i pass for example: `./media/picture-1.png` even using an <img> in the component, they won't get changed to be served

[2018-10-04 02:50] Tallestthomas commented on #8317
I'd like to take a shot at this one if it hasn't been claimed yet 👍

[2018-10-04 02:58] alacret commented on #7686
I test this: https://prestonrichey.com/blog/react-in-markdown/
But it does not work with gatsby v2

[2018-10-04 03:49] kakadiadarpan commented on #8755
@github0013 I understand you are trying to load a script by a `<script />` tag, but why not just import the JS file directly?

[2018-10-04 04:45] github0013 commented on #8755
Yes, I know I can just import the file, but there are conditions in my project that I have to use `<script/>` tag.
I believe this issue must be a very minor case,  but I just found behavior difference between dev and prod that I thought worth mentioning.

Thanks

[2018-10-04 06:33] endymion1818 commented on #7875
Swag has arrived! My toes and I are eternally grateful!

[2018-10-04 06:33] #7875 closed

[2018-10-04 07:04] mslooten commented on #8524
I'm interested in giving it a shot. I could use some guidance on the wording of the error. We could simply show the error message and append the file which triggered it, or we could supply some more text.

@pieh I have some trouble with `panicOnBuild`; I wrapped the Markdown processing in try/catch and used the `reporter.panicOnBuild`, which works, but it also terminates `gatsby develop`. I'm not

[2018-10-04 07:04] 07Gond commented on #7986
Hi! @dantesolis
I was thinking about doing some simple swift code to run on a WKWebView that URL.
I just tried that but with the iOS 12 simulator.

- The fixed position of that bar is not respected:
![image](https://user-images.githubusercontent.com/2708687/46457732-042f9e80-c779-11e8-81ab-6dc470b4311d.png)
- If you scroll down to the bottom you can see the bar:
![image](https://user-images.github

[2018-10-04 07:09] RIP21 commented on #8764
What about to add support for such filtering? Imagine you have 300 different keys under, and all of that will be fetched and added as a JSON making build of 10k pages weights around 10GB.
Or maybe any idea how to add such thing to it ourself, like a fork.

[2018-10-04 07:31] kakadiadarpan commented on #8771
@marcneander I followed the steps that you provided. But couldn't find fonts or index page chunk loading twice. Please refer screenshots below:

Fonts:
<img width="1581" alt="screen shot 2018-10-04 at 12 58 00 pm" src="https://user-images.githubusercontent.com/10805593/46459034-5a322f80-c7d5-11e8-985f-893290fe5c8b.png">

JS:
<img width="1586" alt="screen shot 2018-10-04 at 12 58 22 pm" src="https:

[2018-10-04 08:06] marcneander commented on #8771
@kakadiadarpan Hmm, thats weird. I cleared node_modules, .cache and public dirs and reinstalled and rebuilt everything. Still get the same problems in both Firefox and Chrome.

Firefox:
<img width="1276" alt="screenshot 2018-10-04 at 10 00 37" src="https://user-images.githubusercontent.com/2528612/46460646-dd935700-c7bc-11e8-8197-e0ee65455b5d.png">

Chrome:
<img width="1277" alt="screenshot 2018-1

[2018-10-04 08:20] marcneander commented on #8771
https://github.com/gatsbyjs/gatsby/issues/3067 seems like the same issue I'm having? Tried all possible solutions in that thread without any success

[2018-10-04 08:51] kkemple commented on #6212
@rcaracaus not having the `gatsby-plugin-offline` plugin installed and in config will definitely make that error occur. I would recommend installing and adding to config and seeing if that resolves your issue.

[2018-10-04 09:39] kakadiadarpan commented on #8771
@marcneander can you try clearing your browser cache and try?

[2018-10-04 10:02] ThePaulMcBride opened #8780 "gatsby-plugin-styled-components displays warning when building"
## Description

When `gatsby-plugin-styled-components` is installed and included in my project, get the following warning when I run `gatsby build`.

[code]

### Steps to reproduce

Follow the instructions to install the `gatsby-plugin-styled-components` plugin. Then run `gatsby build`

### Expected result

The project should build without a warning.

### Actual result

The project builds, but a w

[2018-10-04 10:04] chmac commented on #8576
@brandonferrer Can you fix your WP install to support permalinks? (That means links without `index.php` in the URL)

The WordPress source plugin automatically appends `/wp-json` to the `baseUrl` you provide [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/fetch.js#L36).

You might try adding the `/index.php` to your `baseUrl` value in `gatsby-config.js`. T

[2018-10-04 10:12] pieh commented on #8524
@mslooten I think you are right about `panicOnBuild` - it seems bugged right now and we need to fix it - it would be really nice if you could see if changing `!==` comparison to `===` here will fix it: https://github.com/gatsbyjs/gatsby/blob/bbd2a46e88de6ee6fe4da71978a3b2940bc31374/packages/gatsby-cli/src/reporter/index.js#L53-L58

As for the wording, yeah I think just adding filename in front of

[2018-10-04 10:13] marcneander commented on #8771
@kakadiadarpan It's not that. If you see screenshots I have "Disable cache" and you can see resources being fetched (not from cache)

[2018-10-04 10:14] chmac commented on #6670
@hadifarnoud @kilinkis Unfortunately there were some fairly simple issues like this with the Gatsby WordPress starter. It's a community starter, not officially part of Gatsby. [We've](https://www.gatsbycentral.com/) taken over maintenance and have fixed most of the issues you've hit above. We've removed the acf requirements.

There are several different problems being discussed in this issue.

* G

[2018-10-04 10:14] #6670 closed

[2018-10-04 10:15] marcneander commented on #8771
@kakadiadarpan You're serving my site with `gatsby serve` right? The issue I'm having is not present during `gatsby develop`

[2018-10-04 10:27] akucharska opened #8781 "On Production 404 is shown for 1 second before matching client paths"
I configured the gatsby-plugin-create-client-paths plugin like this:
{
resolve: gatsby-plugin-create-client-paths,
options: { prefixes: [/docs/*] },
},

On development everything works fine but after building the site, when I browse a url like /docs/latest/root/kyma
Gatsby shows the 404 page for a split second before it loads proper content.

PS It is basically the same issue as https://github.com

[2018-10-04 10:34] pieh commented on #8759
You can use [`onPreRenderHTML`](https://www.gatsbyjs.org/docs/ssr-apis/#onPreRenderHTML) SSR api to manipulate final order of components.

It's called just before constructing final html - so you can move any blocking scripts after `gatsby-script-loader` and `gatsby-chunk-mapping` there using `getPostBodyComponents`, re-ordering and `replacePostBodyComponents` to set final array
https://github.com

[2018-10-04 10:37] chmac opened #8782 "[gatsby-source-wordpress] Remove "Continue reading" links"
## Summary

WordPress includes "Continue reading" links inside it's `excerpt` field. For example:

    <p class=\"link-more\"><a href=\"https://wpdemo.gatsbycentral.com/2018/10/04/morbi-rhoncus-malesuada/\" class=\"more-link\">Continue reading<span class=\"screen-reader-text\"> &#8220;Morbi rhoncus malesuada&#8221;</span></a></p>\n

These links include the full URL of the WordPress site.

My sugge

[2018-10-04 10:42] Siyfion opened #8783 "Simple Auth Example - Application Routing Failure"
## Description

When running the `simple-auth` example, under certain situations the user can end up on the `/app/login` url but with nothing being rendered on-screen.

### Steps to reproduce

When running the `simple-auth` example, if:

* A user navigates to the page
* Goes through the login flow
* Gets redirected to `/app/profile`
* Manually removes the `user` from `localStorage`
* Refreshes the

[2018-10-04 10:45] gricard commented on #4873
If no one else is working on this then I'll snag it for Hacktoberfest. :)

[2018-10-04 10:46] ThePaulMcBride commented on #8781
Essentially, the same solution provided in the linked solution will work. The only problem is that I don't think Github pages supports rewrites. 🤔

[2018-10-04 10:46] oobidin opened #8784 "Is there a way to pass huge objects once?"
## Summary

I use GatsbyJS for creating the website with 22k+ pages in total. For some reasons, I have to GraphQL data from huge JSONs on some pages.

As a result, the size of the prod version is about 15 Gb and JSONs with the pageContext for those pages are about 600 kb each.

So, the question is: is there a way not to GraphQL that data and load it once somehow to reduce the size of the prod vers

[2018-10-04 10:47] kakadiadarpan commented on #8780
@ThePaulMcBride I have a project which uses `gatsby-plugin-styled-components`, but I'm not getting any warnings. Can you try updating your dependencies to the latest version and check if that resolves the issue for you?

My environment information:
[code]

[2018-10-04 10:49] akucharska commented on #8781
Is there any other way to handle rewrites on github pages? Maybe I can configure it in gatsby?

[2018-10-04 10:57] ThePaulMcBride commented on #8780
You're right! I used a weird starter for this project and didn't realise all of the deps were out of date.

Thanks for the help!

[2018-10-04 10:57] #8780 closed

[2018-10-04 10:57] Siyfion commented on #8783
I would imagine that it's something to do with the `PrivateRoute` component, and how it's doing the navigation: https://github.com/gatsbyjs/gatsby/blob/master/examples/simple-auth/src/components/PrivateRoute.js#L7-L11

[2018-10-04 11:01] lfurzewaddock commented on #8759
Thanks @pieh, I'll attempt to implement your answer and let you know.

[2018-10-04 11:09] Siyfion commented on #8783
I've added a PR that fixes the issue, though I'd really love to know _why_ `navigate` didn't work and `redirectTo` does!?

[2018-10-04 11:12] ThePaulMcBride commented on #8781
As far as I am aware, that's what the `prefixes` option is doing. The problem is, it happens client side, so the page has to load first before the redirect can happen, which is why you are seeing that flash of a 404 before the redirect kicks in.

[2018-10-04 11:54] podabed commented on #8751
I've resolved this problem. Just check option 'useLangKeyLayout: false' in gatsby-plugin-i18n options and start using one layout for every language. So, using one layout resolve this problem. But the reason is unknown.

[2018-10-04 11:54] #8751 closed

[2018-10-04 12:03] akucharska commented on #8781
In that case, shouldn't there be some kind of loading indicator instead of "Page not found"? Also the first thing in network is status 404.

You can check it here: https://kyma-project.io/
Go to docs, then go to any left navigation link and finally refresh the page.

[2018-10-04 12:34] amingilani opened #8787 "How can I get the current url (or path) in a page in v2"
## Summary

Hi there, I'm trying to create an `og:url` property, which requires the current page URL in the head tag. I have everything wired up, except the part where I can determine the current location of the page itself.

## Relevant information

Unfortunately, calling `this.props.location.pathname` in my `index.js` file didn't help and it stopped. I'm wondering if something before the stable

[2018-10-04 12:38] marcneander commented on #8771
Turns out that the `Layout` component rerenders on route changes even if I use `gatsby-plugin-layout`. That's probably why I'm getting this behaviour.

Any suggestions on how to add global styles with `styled-components`
v4 in Gatsby? My solution obviously don't work.

[2018-10-04 12:46] pieh opened #8788 "cache instance for subplugins"
After implementing separate cache for each plugin, there is issue with cache instance for subplugins:
- subplugins can implement their own API hooks and there they get cache instance for that subplugin
- way parent plugins interact with subplugins is most often implementing most of subplugin functionality in something like `index.js` in this is called by parent plugin and often we pass cache from

[2018-10-04 13:25] josefaidt opened #8789 "Documentation Dark Theme"
## Summary

Dark Theme toggle for Gatsby documentation.

### Basic examples

[Docker Documentation](https://docs.docker.com/) - toggle on right
[Some of MS documentation](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-overview-introduction?view=azure-bot-service-4.0) - toggle on top right
[DevDocs.io](https://devdocs.io/settings) - toggle in `preferences`

### Motivation

- **Why a

[2018-10-04 14:04] MrToph opened #8790 "StaticQuery fails if not inlined in built websites"
## Description

When you don't inline the query for a `StaticQuery` and run `gatsby build` and open the corresponding website, the site breaks and just displays `Loading (StaticQuery)` forever.

### Steps to reproduce

In my example. I saved the query to a variable and passed that variable to the query prop.

[code]

Make sure to run it with **gatsby build**, I did not have this issue while develo

[2018-10-04 14:50] DSchau commented on #8790
@MrToph thanks for the reproduction steps! This definitely does seem like an issue at first glance.

Would you be able to create a reproduction (i.e. basically a repo encapsulating the changes you describe) for us? It'll help us test this out ourselves much more effectively and also _test_ the fix presuming that's needed :)

If not, we can and will still check this out, just helps us be a little m

[2018-10-04 14:52] pieh commented on #8764
Array filtering would need to be done in gatsby core (if you want to use `gatsby-transformer-json`). But you can create custom plugin (or even in your site `gatsby-node`) to create separate nodes for each item in `SomeRootField` array

[2018-10-04 14:57] DSchau commented on #8789
@josefaidt I like the idea! I think it would be fairly challenging (albeit manageable) to implement this functionality though. We're using glamor on the www/ (gatsbyjs.org) side of things, which doesn't seem to have as great of a theming story as something like emotion, styled-components, etc. so there'd most likely be some rewrite required there, as well.

So high level, this would involve the fo

[2018-10-04 15:03] dotlouis opened #8792 "Can't we "name-export" graphQL fragments from components?"
## Summary

Gatsby throws a `Error: Invariant Violation: GraphQLCompilerContext: Unknown document 'HeaderFragment'.` when exporting a named graphQL Fragment from a Component.

## Relevant information

This is more of a question of how it works rather than a bug I think. That's why I labeled it as a question.

When using GraphQL fragments. I do as the [docs](https://www.gatsbyjs.org/docs/querying-w

[2018-10-04 15:26] kartik2406 opened #8794 "Problem with gatsby-transformer-json?"
## Description

Gatsby JSON transformer fails even with correct config.
I used the same configuration as on https://www.npmjs.com/package/gatsby-transformer-json.
I tried this with gatsbygram and the transformer works there, am i missing something here?

### Steps to reproduce

- Clone https://github.com/kartik2406/gatsby-json-test
- run `gatsby develop`
-  Observe that you get following error and

[2018-10-04 15:58] ojeytonwilliams opened #8795 "Querying by id prevents page updates in development"
## Description

When a `pageQuery` only searches by `id` then changes to the source for those pages do not appear in the browser (tested with Firefox and Chrome).  I've taken a look at this myself and it seems to be because the pages aren't getting added to the `component-data-dependencies`.  PR to follow!

### Steps to reproduce

I've changed the example for Remark, so that it queries by `id` rat

[2018-10-04 16:07] shannonbux opened #8796 "Write blogpost about decision tree for when to create new categories and new docs"
## Summary

Recently we have an influx of new contributions to the /docs/, which is super valuable and also brings up more decisions on what to include in the /docs/ and how to organize them. This issue proposes creating a blogpost that communicates how the @docsteam makes decisions on what goes into the docs.

[2018-10-04 16:07] isramv commented on #3467
Updating gatsby-cli to `2.4.2` fixes the issue.

[2018-10-04 16:07] shannonbux opened #8797 ".org popup/slideout form that asks people: What are you looking for on gatsbyjs.org today? with a rating/form to ask if they found what they're looking for"
## Summary

Let's create a popup/slideout form on the .org site that could ask people:

How can we improve your experience on this website?

## How to execute this plan
I'd like to use https://unbird.com/, which has a feedback widget we can customize and then all the collected data will be organized in Unbird (they have awesome free-form text analysis software).

## Motivation
It would be valuable

[2018-10-04 16:07] shannonbux opened #8798 "Add issue submission form at bottom of each doc"

[2018-10-04 16:12] KyleAMathews commented on #8788
Or do we really need different instances per plugin? My thought was that we'd track cache IDs by plugin so could purge cache items that way. Having plugins manage cache instances sounds like a confusing and error prone API.

[2018-10-04 16:14] KyleAMathews commented on #8787
What data is on this.props?

[2018-10-04 16:17] KyleAMathews commented on #8784
One way of doing this is to query it with StaticQuery in a component which you then use to wrap all the pages that need the data. This way the data is only loaded once.

[2018-10-04 16:20] KyleAMathews commented on #8759
Maybe we could also just ensure the gatsby script tags go first? Would that solve the issue?

[2018-10-04 16:29] #8783 closed

[2018-10-04 16:30] jlengstorf commented on #8421
We're using #8719 as an experiment to see how much of an impact this kind of issue writing has on community engagement with issues. (Early signs point to this being a _really_ good idea.)

[2018-10-04 16:34] amingilani commented on #8787
@KyleAMathews, no, I'm using a functional component.

Sighhh, update, I peeked through React Developer Tools.

<img width="778" alt="screen shot 2018-10-04 at 9 25 26 pm" src="https://user-images.githubusercontent.com/1188552/46488432-131b5d00-c81c-11e8-9b15-2c57f43e9ba6.png">

I should be getting props, but for some reason calling `this.props` makes the whole thing hang. For example, the page ren

[2018-10-04 16:35] jlengstorf commented on #8418
@marisamorby We need to do contributing docs onboarding planning to figure out where this lives.

[2018-10-04 16:44] supermoos opened #8800 "Is there a way to get the count/length of an array instead of the array with content?"
I'm running a graphql query on contentful data, like so:

[code]
but instead of

[code]
which returns an array of id's
I would like something like this:
[code]
to just get the length (i.e. amount of event's) and not an actual array of data.

Is there a way to do this?

[2018-10-04 16:59] jlengstorf commented on #8424
- [ ] @marisamorby to create an Airtable to capture notes on escalations
- [ ] @pieh @DSchau to take notes on topics of issues + counts

Example:

Topic           | Count
--------------- | -----
Dynamic Routing | 5

[2018-10-04 17:35] lfurzewaddock commented on #8759
Thanks @pieh, I got that working in production now.

I did have trouble though using `$ gatsby develop` as `getPostBodyComponents` only returned plugin components, not 'gatsby-script-loader', 'gatsby-chunk-mapping', etc. so I needed to use `$ gatsby build` for development instead.

Question: When using `$ gatsby serve` for the production code locally, I'm still seeing a blocking affect?
The site l

[2018-10-04 17:36] MrToph commented on #7013
@millette Yes, I just built it on Windows.

[2018-10-04 17:54] patricksimonian opened #8801 "Transform from a non-filesystem plugin"
## Summary
I may be completely misunderstanding some basic concepts of how graphQL and gatsby are working together. But I was wondering if there was a method to allow for transformation of source plugins that were not from the file system.
For example:
 I may use the gatsby-source-github-api to fetch some yaml files.
Could the result from that be run through the gatsby-transformer-yaml so that I w

[2018-10-04 18:07] amberleyromo commented on #8741
@alejandronanez go for it!

If you want a model for this type of content, Sourcing from WordPress and Sourcing from Drupal were just merged recently:
- https://www.gatsbyjs.org/docs/sourcing-from-wordpress/
- https://www.gatsbyjs.org/docs/sourcing-from-drupal/

[2018-10-04 18:09] amberleyromo commented on #8726
Closed in #8734

[2018-10-04 18:09] #8726 closed

[2018-10-04 18:18] alejandronanez commented on #8741
Awesome, I’ll take a look to those resources and will ping you if I need any more help!

[2018-10-04 18:19] amberleyromo commented on #8736
Closed with #8728

[2018-10-04 18:19] #8736 closed

[2018-10-04 18:52] Juan-Rios commented on #8561
If I understand correctly I wouldn't say the GraphQL query breaks, probably the query will return `"url": null`. I think you can handle it by adding conditionals in render() before the return (should work for stateless components as well).

I'll set a quick example:

[code]

Let me know if that helps.

[2018-10-04 18:52] smerth commented on #8794
I have been using gatsby-transformer-json 2.1.2 which works fine.  After upgrading to 2.1.3 I get this
[code]
I have rolled back to 2.1.2 for now

[2018-10-04 19:29] KyleAMathews commented on #8794
Oh you also need to upgrade core gatsby.

[2018-10-04 19:30] KyleAMathews commented on #8794
We should upgrade the peerDependency of transformer-json

[2018-10-04 19:30] DSchau commented on #5030
@felipecaputo I can mark this as taken if you're interested! Let me know!

[2018-10-04 19:49] dougajmcdonald commented on #8103
I'd like to write a guide on deploying from Github, via Wercker to Azure if you'd be interested in having it added to the docs

[2018-10-04 19:59] DSchau opened #8805 "feat: update gatsby plugins to use new createContentDigest helper"
## Summary

We [recently added](https://github.com/gatsbyjs/gatsby/pull/8687) a `createContentDigest` helper which is exposed to any gatsby plugin. This internalizes the unique key creation, which changes based on changing content.

We've added this to several packages, and we should now add it to any/all packages.

### Basic example

Any plugin that implements the following code snippet (or close

[2018-10-04 20:15] elliotrpmorris opened #8806 "Running Gatsby Build via a shell script"
Hey,

So for some context i have created a site using gatsby, that pulls data in from Wordpress' API. I figured out i can trigger a hook within wordpress to fire after a post is saved by adding this into my functions.php file.

[code]
so far it can open and run my shell script but it wont actually run gatsby build any one have any ideas? This is my shell script.

[code]
Thanks guys

[2018-10-04 20:28] gricard commented on #4873
Cool. Thanks!

[2018-10-04 20:29] pieh commented on #8788
Tracking cache keys by plugin will have similar issues (at least for this issue) as we are passing cache object (which would be what ultimately would have to track what cache keys belong to what plugin). With separate cache instances we get this tracking for free as every plugin just have its own cache, so we can just purge entire plugin cache and not filter out cache keys belonging to plugin we w

[2018-10-04 20:31] pieh commented on #8788
Also just to be clear - right now this change should only be used by `gatsby-transformer-remark` plugin when calling subplugins - other plugins should use `cache` objects they get from gatsby core

[2018-10-04 20:38] felipecaputo commented on #5030
That would be great. I'll take a look at the plugin tonight and get back to
you

On Thu, Oct 4, 2018 at 4:31 PM Dustin Schau <notifications@github.com>
wrote:

[2018-10-04 20:38] DSchau commented on #5030
Done!

[2018-10-04 21:15] patricksimonian commented on #8801
read more into the docs and it looks like the transformer runs based on the mediaType

[2018-10-04 21:15] #8801 closed

[2018-10-04 21:34] shannonbux commented on #3722
@raae what do you think would help people get plugins ready for the ecosystem?

[2018-10-04 21:36] shannonbux commented on #8716
@audoralc great! Once you create the PR, just mention in the first comment that it "closes #8716" :)

Also, I think the title "Gatsby i18n" isn't necessarily the best title. Any ideas for how to improve that are welcome!

[2018-10-04 21:56] oorestisime commented on #7518
I am closing this issue since the PR for the docs was merged (and forgot to close it automatically)

[2018-10-04 21:56] #7518 closed

[2018-10-04 21:58] shannonbux commented on #8727
oh man @dumblole thanks for volunteering! We just started using a `hacktoberfest - claimed` label for issues so it ought to make it easier to tell if an issue is available or not!

[2018-10-04 22:13] amberleyromo commented on #4396
Closed in #8752

[2018-10-04 22:13] #4396 closed

[2018-10-04 22:32] amberleyromo commented on #5073
Mostly closed in #8677.

There are a few remaining items with stub descriptions that are published plugins whose source has been deleted (no longer in the packages dir). Did these get relocated?

<img width="1455" alt="screen shot 2018-10-04 at 5 03 12 pm" src="https://user-images.githubusercontent.com/3461087/46506785-05091480-c7fb-11e8-8178-24a0010f08f7.png">

[2018-10-04 22:33] audoralc commented on #8716
@shannonbux How about something like "International content support"?

Also which subheading would be most appropriate? "Adding website functionality"?

[2018-10-04 22:35] orshick opened #8810 "Popular Animation Library (GSAP) doesn't work after site is built"
## Summary
Using GSAP on my [gatsby site](https://clever-wiles-b95d3a.netlify.com/other-page "site") works fine during development, but does not work in the built version.
I'm guessing this has something to do with me using it only in componentDidMount, and therefore being ignored from the server rendering or something of that sort. Either way, I'm not sure how I'd work around this. Any ideas woul

[2018-10-04 23:38] josefaidt commented on #8789
I'd be happy to work on this! I actually work mostly in the evenings/nights and the dark mode is really the only thing I believe its missing. Feeling dedicated to making this happen. I'll fork and see what I can come up with

[2018-10-04 23:51] garetmckinley commented on #8712
So I just found out that I'm starting a new job tomorrow, so I'm not sure how much time I'll have to work on this. If somebody else wants to take this issue, have at it. I'll have some time to work on it next weekend, so if nobody else claims it, I'll try and get it done then

[2018-10-05 00:04] DSchau commented on #8712
@garetmckinley not a problem at all. Congrats!

[2018-10-05 00:04] DSchau commented on #8789
@josefaidt want to start (as @fk noted) with adding emotion to the current gatsbyjs.org site?

Should be relatively simple, as emotion _also_ supports the `css` prop that we use so heavily with glamor!

[2018-10-05 00:07] DSchau opened #8816 "[www]: switch from glamor to emotion"
## Summary

We should swap from glamor to emotion for our CSS in JS needs on [gatsbyjs.org](./www)

### Basic example

Not much to document, but essentially the `css` prop is fully supported in emotion with `gatsby-plugin-emotion` so this should be a relatively doable refactor!

### Motivation

emotion has better theming support, and tends to do everything glamor does (and more!). We also used it

[2018-10-05 00:07] DSchau commented on #8789
See #8816 for more info re: glamor -> emotion.

[2018-10-05 00:31] kartik2406 commented on #8794
Thanks everyone :smile: I updated gatsby and gatsby-transformer-json packages and now everything works fine.

[2018-10-05 00:56] shannonbux commented on #8103
great @jkjustjoshing that'd be great! Want to mention this issue in your PR for easy tracking?

Also @dougajmcdonald would you be interested in writing a blogpost on that? We trying to keep the number of deployment docs to just a select few, and then blog about other deployment strategies (and link to those blogposts from the deployment overview doc (/docs/deploying-and-hosting/)

[2018-10-05 01:03] orshick commented on #8810
Thanks a lot for your reply Kyle!

Nope, no console errors unfortunately. Considering the page is only 39kb (when inspecting network tab) I doubt that GSAP is getting loaded at all.

The page i linked above (https://clever-wiles-b95d3a.netlify.com/other-page) is literally the page I was practicing with GSAP on. I'm not sure if it's gatsby per se, maybe it's more of a general SSR thing. However, it

[2018-10-05 01:07] jlengstorf commented on #8787
@amingilani functional components don't have a `this` prop, so you'd need to do this instead:

[code]

Another option is to use the `Location` import from `@reach/router`. I put together a [CodeSandbox example to show how that works](https://codesandbox.io/s/v82ol26w9l).

Let me know if that doesn't get you up and running.

[2018-10-05 01:11] shannonbux commented on #8716
Ok, how about "Internationalization" as the title. This is common in other docs, like Drupal (just did a google search). And since i18n will be in the body of the guide, google searches for i18n will still find the doc.

And can you clarify your question about the subheading? Thanks!

[2018-10-05 01:36] jlengstorf commented on #8416
@marisamorby I don't have access to edit/comment on that. Can you add me, please?

[2018-10-05 01:36] KyleAMathews commented on #8816
Yes

[2018-10-05 01:38] jlengstorf commented on #8414
@marisamorby I'm unable to edit/comment on this. Can you add me, please?

[2018-10-05 01:42] ryanditjia commented on #8789
If I’m not mistaken, `props.theme` will only be available to `styled` and not `css` prop.

A method I often see for theming is using CSS custom properties and changing the variables on toggle.

[2018-10-05 01:51] jlengstorf commented on #1875
@imshuffling I just made a CodeSandbox with two usage examples. See `index.js` and `page-2.js` for two ways of getting the location: https://codesandbox.io/s/v82ol26w9l

[2018-10-05 02:33] ukch commented on #8503
@kakadiadarpan Unfortunately not at the moment, but I can confirm the issue seems to happen most often whenever I add a new second-level CSS block while the development server is running.

[2018-10-05 02:59] tezahzulueta opened #8818 "index.css and index.js not compiling in gatsby build"
I'm having issues in gatsby build the index.js and index.css wasn't including or building properly. Everything is working perfectly in gatsby develop but when I do gatsby build and gatsby serve the styling isn't loading properly.

this exactly what is missing on the first load

<link rel="stylesheet" type="text/css" href="/component---src-pages-index-js.53e6bcb3057cef57a64c.css">

<script charset=

[2018-10-05 03:30] amberleyromo commented on #8738
Closed in #8731

[2018-10-05 03:30] #8738 closed

[2018-10-05 03:45] sparklesam commented on #8705
It works! Thanks a lot for your help!

[2018-10-05 03:49] ryanwiemer commented on #7921
@stefanprobst since #8061 got merged in what is the recommended way now to set a delay on the scroll position during the page transition? Is there example code anywhere?

[2018-10-05 04:06] psnaik commented on #8705
My laptop is windows 10,how to add this project

[2018-10-05 04:09] jlengstorf commented on #5213
@riencoertjens I just sent over a PR with changes to your repo that will get transitions running. The short answer is that V2 changed the way page components were mounted and unmounted, so you need to use the [`wrapPageElement` API](https://www.gatsbyjs.org/docs/ssr-apis/#wrapPageElement) to attach the transition handlers.

@TylerBarnes I think you make a good point about the API, but I don't have

[2018-10-05 05:30] chrisblow opened #8820 "Can I use GraphQL to filter child nodes?"
Context: I'm using gatsby-source-airtable. I have a table of Organizations, and each organization has members listed in a related Person table. Some members are marked as public; there is a IsPublic field on the Person table.

Goal: I am trying to create a GraphQL query that lists all the organizations with members, but exclude the non-public members.

My current query works fine:

[code]

To filt

[2018-10-05 05:44] CanRau commented on #8103
Brand guidelines/press kit page (https://github.com/gatsbyjs/gatsby/issues/4150) could maybe go on the list, too?

[2018-10-05 05:48] travi opened #8821 "gatsby `main` references es-module"
I'm not sure that calling this a "bug" is necessarily correct, but it seemed like the best category to have the conversation around this. This probably comes down to project conventions, but I'm hoping we can also align to community conventions.

I've been dragging my feet getting upgraded to v2, but thanks to a helpful nudge from @DSchau we're making progress. However, after [upgrading the compon

[2018-10-05 05:48] jrestall opened #8822 "Sliding transitions with client-only routes"
## Description

I'm trying to implement sliding transitions between two client-only routes. It was working but now I need to make changes to gatsby code to get it working again. It seems like on location.path changes the entire page gets rendered again, causing the animating components to be lost.

These are the hacky changes I'm making to fix the animation. I've also included my code as I very we

[2018-10-05 06:01] kakadiadarpan commented on #8705
@psnaik if you are talking about how to start with Gatsby, please head over to [`Get started`](https://www.gatsbyjs.org/docs/) section.

[2018-10-05 06:04] kakadiadarpan commented on #8781
@akucharska from [package.json](https://github.com/kyma-project/website/blob/master/package.json) I can see that you are using beta version of Gatsby. Can you please try updating them to their latest version? That might fix the issue for you

[2018-10-05 06:11] okabrionz commented on #4693
here steps to resolve this issue:

1. Delete _node_modules_ folder
2. Clear _npm cache_ `npm cache clean --force
`
3. (Optional) _upgrade npm packages_ `npm install npm@latest -g`
4. Re-install packages by running `npm install'
5. Try again to run `gatsby develop` on your terminal/cmd. Good luck and happy coding again :clap:

[2018-10-05 06:14] dougajmcdonald commented on #8103
@shannonbux I'd love to, do you have an oss Gatsby blog I can contribute to? Or do you want me to do something external?

[2018-10-05 06:20] akucharska commented on #8781
I updated gatsby and it didn't help.

[2018-10-05 06:20] kakadiadarpan commented on #8792
I was able to reproduce this in `gatsbygram` example. It's strange that it doesn't work, when they are both the same thing

[2018-10-05 06:21] #8794 closed, assigned to nobody

[2018-10-05 06:29] kakadiadarpan commented on #8795
Thanks for the quick PR @ojeytonwilliams

[2018-10-05 06:41] kakadiadarpan commented on #8806
If it doesn't run `gatsby build`, does it gives you any error?

[2018-10-05 07:11] kakadiadarpan commented on #8818
@tezahzulueta can you try updating `Gatsby` dependencies to their latest version. That might solve the issue for you.

[2018-10-05 07:15] kakadiadarpan commented on #8820
@chrisblow can you share the relevant environment information by running `gatsby info --clipboard?

[2018-10-05 07:17] sedubois opened #8823 "Incoherent behavior when visiting uncached page while offline"
## Description

I observe an error message and there is an incoherent handling of offline behavior for pages which haven't been pre-fetched before going offline (both in terms of visual feedback shown to user and of the browser URL).

### Steps to reproduce

- visit http://gatsbyjs.github.io/gatsby-starter-blog/
- turn network off
- click the "Hello world" post

### Expected result

As the browser

[2018-10-05 07:17] tezahzulueta commented on #8818
hi @kakadiadarpan sorry I'm new here can you let me know the script to update all the dependencies?

[2018-10-05 07:20] kakadiadarpan commented on #8821
@travi With Gatsby v2, you should not be using `gatsby-link`. Please check this [link](https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#import-link-from-gatsby) of migration guide regarding this change.

Can you try fixing that and check if that resolves the issue for you?

[2018-10-05 07:34] raae commented on #3722
How you go from a working local plugin to a plugin others can test to one that is available in the plugin directory at Gatsby.

In this case, I was wondering if there were any best practices regarding babel transpiling. But after talking to Micheal yesterday I realized I could skip that babel and just use React.createElement in gatsby-ssr.js.

After this was fixed my plugin can be tested by others

[2018-10-05 07:41] kakadiadarpan commented on #8822
@jrestall did you had a chance to look at [using-page-transitions](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-page-transitions) example?

[2018-10-05 07:47] ChiaraSammarco commented on #1875
I have a question on this topic (maybe for you it's an easy one).
I'm using react-router-dom and redux-saga. I need to get some params in the URL. I've done by using withRouter in the component that triggers the action the saga is listen at and then in this way

[code]

Now I've realized that by using window.location inside the saga would be faster. So my question is: is there a reason to use prop

[2018-10-05 08:02] ojeytonwilliams commented on #8795
@kakadiadarpan You're very welcome.  I hope it helps!

[2018-10-05 08:45] kakadiadarpan commented on #8823
@sedubois Thank you for providing a detailed description.

- `"The operation is insecure"` is a Firefox [issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1429714). The issue status says `RESOLVED` but it hasn't been fixed yet, check the last comment on that issue.

- I'm not sure if showing a visual feedback to the user should be handled by `gatsby-plugin-offline` as it's only a service worker

[2018-10-05 08:57] psnaik commented on #8794
Hi sir, this project how run, please help me

On Fri, Oct 5, 2018, 11:52 AM Darpan Kakadia <notifications@github.com>
wrote:

[2018-10-05 08:58] jrestall commented on #8822
Hi @kakadiadarpan,

Thanks for the example, it isn't using client-only routes though, are there any examples that show GatsbyJs being used as a [hybrid app](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/) with animations of the client only components that are tied to the page URL?

It would be great if we could find a way to use gatsby for a more dynamic web app with client-only routes a

[2018-10-05 09:09] psnaik commented on #8822
This project run or not, please help me hot to run this

[2018-10-05 09:33] SaulNML commented on #1403
https://github.com/gatsbyjs/gatsby/blob/master/examples/using-redux/gatsby-browser.js

This is great, but how do I do a lazy load of the store here?

[2018-10-05 09:33] SaulNML commented on #1403
I need to make something like this work: https://github.com/rt2zz/redux-persist/issues/126

[2018-10-05 09:33] SaulNML commented on #1403
I need to make something like this work: https://github.com/rt2zz/redux-persist/issues/126#issuecomment-320503234

[2018-10-05 10:29] baukevanderlaan opened #8824 "Question: fluid images with max width and height that retain original aspect ratio"
I'm looking for a way to query fluid images that fall between a maximum width and a maximum height but retain their original aspect ratio (so without being cropped) using `gatsby-image`. In other words, an image with a portrait orientation would be limited by a maximum height, while its width would never reach the maximum width. The opposite would be true for landscape images.

Right now, when usi

[2018-10-05 11:40] iaindurie commented on #7479
I've been getting this error frequently when querying ACF images from Wordpress. It happens suddenly with images that were loading fine previously. Seems to happen randomly after editing an arbitary piece of content in Wordpress. After rebuilding the error happens. Experienced in v1 and now v2.

[2018-10-05 12:02] jrestall commented on #8822
I've created an example project that shows what I'm trying to achieve:
https://github.com/jrestall/gatsby/tree/jrestall/client-transition-example/examples/using-client-transitions

I've also made a video of the example project. You can see how when I remove [line 75](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/json-store.js#L75) of json-store.js the animation starts wo

[2018-10-05 12:13] psnaik commented on #8822
Hi sir please give me yours contact information via social media,I want help from you

[2018-10-05 12:29] imshuffling commented on #1875
Thanks really helpful.

[2018-10-05 12:41] jrestall commented on #8822
Also I just took a look at the transitions in the existing client only paths example and they aren't fading between screens unless I make similar changes to json-store.js and I assume ensure-resources.js. https://github.com/gatsbyjs/gatsby/tree/master/examples/client-only-paths

Can anyone else confirm?

@psnaik, if you have a question why not post it publicly here or on  https://spectrum.chat/gat

[2018-10-05 14:11] kakadiadarpan commented on #8818
@tezahzulueta if you are using `yarn` just run `yarn upgrade-interactive` it will guide you through updating your dependencies.

If you use `npm`, run `npm update package-1 package-2` (where package-1 and package-2 and so on represents the dependecies you want to update)

Documentation:
[npm update](https://docs.npmjs.com/cli/update) | [yarn upgrade-interactive](https://yarnpkg.com/lang/en/docs/cl

[2018-10-05 14:34] oobidin commented on #8784
@KyleAMathews cool man! Thanks so much!

[2018-10-05 14:38] DSchau commented on #8784
@oobidin glad to hear that worked! Closing this out.

[2018-10-05 14:38] #8784 closed

[2018-10-05 14:52] amingilani commented on #8787
Thanks @jlengstorf, this works perfectly!

[2018-10-05 14:52] #8787 closed

[2018-10-05 14:53] jlengstorf commented on #1875
@ChiaraSammarco the downside of `window.location` is that it doesn’t exist during server-side rendering, which will [cause the Gatsby build to fail without adding extra checks](https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined).

[2018-10-05 14:59] sebastienfi commented on #6670
@hadifarnoud @kilinkis We welcome your help to create a starter kit for WordPress and Gatsby without ACF. Please create a PR. A good starting point would be to remove all mentions to ACF in the starter kit `using-wordpress` and publish `using-wordpress-raw` in the main repo!

[2018-10-05 15:12] chmac commented on #6670
@sebastienfi @hadifarnoud @kilinkis Just yesterday we started working on a Gatsby v2 WordPress starter. It doesn't have any reliance on ACF or other stuff. It's based on the Netlify CMS starter but ported to WordPress. Right now posts, categories, tags, and pages work. You can [check it out here](https://github.com/GatsbyCentral/gatsby-starter-wordpress/tree/v2).

[2018-10-05 15:16] kilinkis commented on #6670
Thank you @chmac I'll check it ASAP!

[2018-10-05 15:38] DSchau commented on #8816
@janczizikow yup, so as long as (for instance) styles.featuredSitesCard is used in a `css` prop block, or in something like

[code]

it should be good to go! Just test it out locally and let us know!

[2018-10-05 15:39] chrisblow commented on #8820
@kakadiadarpan sure thanks!

➜  gatsby info --clipboard

  System:
    OS: macOS High Sierra 10.13.5
    CPU: x64 Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz
    Shell: 5.3.1 - /usr/local/bin/zsh
  Binaries:
    Node: 9.8.0 - /usr/local/bin/node
    npm: 5.6.0 - /usr/local/bin/npm
  Browsers:
    Chrome: 69.0.3497.100
    Firefox: 62.0.2
    Safari: 11.1.1
  npmPackages:
    gatsby: ^2.0.0-rc.25 => 2

[2018-10-05 15:51] tezahzulueta commented on #8818
@kakadiadarpan same :(

[2018-10-05 16:00] amberleyromo commented on #8103
@dougajmcdonald we do! See this directory for blog content, and model your post in the same fashion: https://github.com/gatsbyjs/gatsby/tree/master/docs/blog

[2018-10-05 16:00] Simply007 commented on #8053
same here

[2018-10-05 16:03] amberleyromo commented on #8103
@CanRau good thought. I think not here, because this issue is for content migration (@shannonbux has identified source material that could be helpful/repurposed into documentation). #4150 is possible/probable future content, but not something we have existing content to migrate.

[2018-10-05 16:11] jaredsilver opened #8833 "Question: Putting Assets in a Different Folder"
## Summary

I'm a growth engineer @DataCamp, and I'm running an experiment that involves rewriting our home page in Gatsby to measure gains in performance and conversion metrics.

We plan to reverse proxy the homepage on datacamp.com to split 50% of traffic between our current application and our new Gatsby application.

The problem we're running into is that every JS, CSS, and other file that Gat

[2018-10-05 16:12] amberleyromo opened #8834 "Content migration - create "Using fragments" article"
(Thanks @jkjustjoshing for volunteering to work on this! Creating an issue to track this separately, branching off #8103).

## Draft the doc

Primary content identified as source material to repurpose (please cite!): https://www.gatsbycentral.com/reusable-graphql-queries-in-gatsby

Additional identified references that may be useful:
- https://stackoverflow.com/questions/49347775/how-to-share-grap

[2018-10-05 16:13] amberleyromo commented on #8834
@shannonbux did you have thoughts on where this would live in the docs IA?

[2018-10-05 16:15] tezahzulueta commented on #8818
the problem is index.css and index.js isn't loading smoothly

[2018-10-05 16:47] janczizikow commented on #5213
Not sure if that's still a problem, but I remember having an issue where on each page transition router would jump to the top of the screen ( see this for more details: #7921 ). I think when adding a page transition it would be also necessary to prevent the scroll to top using [`shouldUpdateScroll`](https://www.gatsbyjs.org/docs/browser-apis/#shouldUpdateScroll) and use `setTimeout` to manually up

[2018-10-05 17:00] #8795 closed

[2018-10-05 17:37] #8147 closed

[2018-10-05 17:50] ivandevp commented on #8709
Hey @thisizkp , how are you going with this feat? I would like to help you if possible 😃

[2018-10-05 19:01] joelschou opened #8835 "yurnalist 0.2.1 uses an awfully old node-emoji, can gatsby-cli do something different, please?"
## Description

I'm using Gatsby for a work project. `gatsby-cli` has yurnalist 0.2.1 as a dependency, which in turn has node-emoji 1.0.4. That particular version is really, really old. I've submitted a [PR](https://github.com/0x80/yurnalist/pull/8) on yurnalist in hopes they'll update. It appears to be borderline abandoned, so I'm hoping Gatsby can do something different to accommodate.

### Step

[2018-10-05 19:41] fool commented on #7527
FYI: This can prevent netlify builds from finishing if you use a version of gatsby before this was fixed.

[2018-10-05 19:58] amberleyromo commented on #8739
Closing issue per https://github.com/gatsbyjs/gatsby/pull/8733#issuecomment-427433594

[2018-10-05 19:58] #8739 closed

[2018-10-05 20:02] bluefig99 opened #8838 "Not able to render page upon redirect"
When the user is not logged in , the home page should be redirected to Login page. In the nav bar , i can clearly see that the url is http://localhost:3000/login but the login page is not rendered.

I have no issue with the same code in development environment. The issue is happening only when i try to run as a production build using gatsby serve command.

Is there any known issue with Gatsby navi

[2018-10-05 20:04] bluefig99 commented on #7707
I have similar issue but in my case it is not related to my code. The development environment is working fine but the issue is with the production build.

https://github.com/gatsbyjs/gatsby/issues/8838

Thanks
Aravind

[2018-10-05 20:05] shannonbux commented on #3722
@raae I do the UX interviews for Gatsby and it would be valuable to hear your feedback about how we can improve the docs. Feel free to put time on my calendar if you would like! https://calendly.com/shannon-soper

[2018-10-05 20:11] DSchau commented on #8835
@joelschou just to provide some context, what exactly are you running that requires emoji? It seems like this would be a build process thing, rather than something _in_ your site?

[2018-10-05 20:23] amberleyromo opened #8839 "Content migration - fill out "PostCSS" stub article in the docs"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 20:28] jkjustjoshing opened #8840 "eslint-loader is disabled when specifying a custom .eslintrc"
## Description

When I run the default Gatsby project, I'm alerted to ESLint errors in my terminal, and in the browser console, whenever I save a file.
However, when I add a custom .eslintrc file to the root of my project, those errors stop appearing. My code editor still warns me about linting errors based on my custom rules, but the Gatsby server doesn't tell me, and they are not logged to the b

[2018-10-05 20:29] amberleyromo commented on #8834
Yep I think that's perfect. I'll modify the issue description.

[2018-10-05 21:05] amberleyromo opened #8841 "Content migration - fill out "Programmatically create pages from data" stub article in the docs"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:14] samscha commented on #8805
Thank you for the reference. I'll do some testing on my own for some of the most popular plugins and report back / open a pr!

[2018-10-05 21:14] AllUsernamesHaveBeenTaken commented on #8839
I will tackle this one.

[2018-10-05 21:15] shmesa22 opened #8842 "[Docs/tutorials] internationalization"
## Summary

I noticed that there are only two parts of the docs/tutorials translated to Spanish and I couldn't find any issue related to that. If nobody is working on those I would like to help with that task 😄. Let me know, I can start right away.

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`:

[2018-10-05 21:15] jbranchaud commented on #8841
I'd love to work on this.

[2018-10-05 21:21] amberleyromo opened #8843 "Content migration - create "Submit to Plugin Library" article in the docs"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:31] shannonbux opened #8844 "Content migration - create Hosting on Netlify doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:37] shannonbux opened #8845 "Content migration - create Layout Components doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:38] gabbes commented on #7363
Stumbled across this as well and it's actually really simple to solve with a few lines in your `gatsby-node.js` file. Figured future issue readers might find this useful!

[code]

[2018-10-05 21:44] shannonbux opened #8846 "Content migration - create Optimizing site performance with Guess.js doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:47] lumos-gonz commented on #7996
@KyleAMathews Let's refine the question. What do we need to modify on the plugin's gatsby-ssr for it to work on v2? I cannot spot anything wrong so far https://github.com/biw/gatsby-plugin-aphrodite/blob/master/src/gatsby-ssr.js

[2018-10-05 21:49] shannonbux opened #8847 "Content migration - create "How to run a Gatsby workshop" doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:53] tbaustin commented on #8824
I believe I ran into this issue before. Long story short I used `fixed` instead of fluid.

But something you can do is target the image inside the `gatsby-image-wrapper` if I'm correct and change the width to auto instead of 100%. This is a hack but it did fix it for me.

[2018-10-05 21:56] shannonbux opened #8849 "Content migration - create "Using service workers with Gatsby" doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and *repurpose* it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

### Review the Gatsby

[2018-10-05 21:59] tbaustin commented on #8710
@ctxhou have you completed this or do you need help?

[2018-10-05 22:06] calcsam opened #8850 "Add IBM, McDonalds, Mozilla, FastCompany to site showcase"
Several prominent sites recently launched on Gatsby and should be added to the site showcase!

http://www.carbondesignsystem.com/
https://retirementcommunity.fastcompany.com
https://design.mcdonalds.com/
mixedreality.mozilla.org
uniform.hudl.com

[2018-10-05 22:13] ajisilva commented on #8850
Hi, I'd love to take this on. New to the project. Where would these be added?

[2018-10-05 22:20] Janice0218 commented on #8850
can i take this?

[2018-10-05 22:29] ericmarkmartin commented on #8609
Is there any more information I can give to help?

[2018-10-05 22:32] geekysrm opened #8852 "Error when running gatsby new gatsby-site; abrupt ending of installation"
## Description

I tried to run the command  `gatsby new gatsby-site`.
But I am presented with this error:

[code]

### Steps to reproduce

Running `gatsby new gatsby-site`

### Expected result

The new gatsby site would have been created

### Actual result

Abrupt error.

### Environment
  System:
    OS: Linux 4.15 Ubuntu 18.04.1 LTS (Bionic Beaver)
    CPU: x64 Intel(R) Core(TM) i5-6200U CPU @ 2

[2018-10-05 22:56] brianespinosa opened #8854 "When an .eslintignore file is present, it is not respected in Gatsby v2"
## Description

When running `gatsby develop` and there is an `.eslintignore` file present in the root folder, it is not respected. This causes some compiled packages to fail lint and throw errors.

### Expected result

The `.eslintignore` file should be respected by Gatsby's v2 `develop` command.

I would expect [something like this would happen](https://github.com/gatsbyjs/gatsby/blob/a775c2eac1

[2018-10-05 22:59] thakkaryash94 commented on #8844
I would like to work on this issue.

[2018-10-05 23:02] chadfawcett commented on #8610
Resolved in #8646

[2018-10-05 23:02] #8610 closed

[2018-10-05 23:11] KyleAMathews commented on #8838
Can you build a site that reproduces this issue?

[2018-10-05 23:53] CanRau commented on #8100
Right! Didn't really checked srcSet, thanks for the hint and the link, the PR looks promising 👍

[2018-10-06 00:18] bluefig99 commented on #8838
Hello Kyle , Thanks for your attention. Please find the attached code that reproduces the issue.
[navigate_issue_Aravind.zip](https://github.com/gatsbyjs/gatsby/files/2452583/navigate_issue_Aravind.zip)

[2018-10-06 00:25] simonjoom opened #8858 "Inferno v6 build succeed with gatsby"
Hello this is not an issue but an experience,
Just to say i succeed to make working gatsby and inferno together.

The only thing in dev inferno cannot use hot-reload but everything work well with some little hack in core. (just some alias and turn around hot-reload in webpack.conf)
the react16 context work well, just fragment is still not well supported
I can share my experience.
:)

[2018-10-06 00:30] #8702 closed

[2018-10-06 00:33] shannonbux commented on #8844
Hi @thakkaryash94 sounds great! Go ahead and add the label `hacktober - claimed` and then mention that your PR closes this issue (see last checkbox on list in this issue).

[2018-10-06 00:46] eunicode commented on #8845
Hi, can I take a stab (Halloween pun intended) at this?

[2018-10-06 01:08] shannonbux commented on #8845
Yes, just label it with `Hacktoberfest - claimed` and then mention this issue in your PR! Thanks @eunicode!

[2018-10-06 02:27] KyleAMathews commented on #8858
Hey nifty! You want to create and share a repo with all this working? That'd be fun to see!

[2018-10-06 06:15] endymion1818 commented on #8810
How are you loading GSAP Orshick? Where are you putting the <script> tag? It doesn't look like it made it into the built site to me.

[2018-10-06 06:38] loganfromlogan commented on #2426
I'm using `Version 1.3.1` of the WP API Menus plugin. It's activated, but I go into GraphiQL and there are no options for menus. I've searched but don't see anything. The other queries mentioned in this issue don't work. @braco What version where you using when you go this to work? I first installed the V2 Menus plugin, but then removed it and installed the WP API Menus. Doesn't seemed to have hel

[2018-10-06 06:47] avneet14027 commented on #8843
I attempted to work on this and created a pull request for this issue here: https://github.com/gatsbyjs/gatsby/pull/8862 , please let me know if  changes are required . Thanks.

[2018-10-06 06:59] loganfromlogan opened #8863 "How do I get gatsby to update sourced endpoints?"
I'm using the source-wordpress plugin. There are some endpoints I've removed or disabled, and some have changed. However, when I run `gatsby develop` I can see that it's still hitting those old endpoints instead of the updated ones. I also went to my the `/wp-json/` endpoint on my WP backend to verify that the endpoints are correct there, and they are. I removed the gatsby generated `.cache` dir.

[2018-10-06 07:34] jpmasud commented on #8612
Same issue here (happens when I try to import firebase)

[2018-10-06 08:55] ItachiUchiha1998 commented on #8849
Can i take on this issue?

[2018-10-06 08:58] lswest opened #8865 "Question: Gatsby recommended method for creating multiple pages of a type, with custom content."
## Summary

I'm in the process of creating a blog in Gatsby. To do this, I want to have a separate blog list page for each category of post (so far there are 4 categories, but it will increase over time). I'm not sure what the recommended approach is for Gatsby. I realize I could probably use React to create a filterable list of all the articles that way, but I want the option to be there statical

[2018-10-06 09:58] rosariopfernandes commented on #8847
Mind if I take this one?

[2018-10-06 11:04] janczizikow commented on #8816
After taking a close look today I found an issue with [GatsbyHubspotForm component](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/hubspot-form.js#L60). The default styles from Hubspot are still applied, thus messing up a bit the styles of the form. I checked [hubspot docs](https://developers.hubspot.com/docs/methods/forms/advanced_form_options), and I think the issue is that in

[2018-10-06 11:48] resir014 commented on #4459
Hey, any updates on this? I just stumbled upon this issue as well.

[2018-10-06 12:22] ollagada opened #8867 "Render same page though onCreatepage serves different urls"
Hi
I've quite enjoyed to build my own branding website. However, I've met a critical issue with page rendering.

I've made the urls and rendering each of pages through the doc 'onCreatepage' with creating markdown page. After all the works had looked going well. But now, suddenly it shows only a specific page although the url changes very well.

The bad thing is I dont know where should I to appro

[2018-10-06 13:34] simonjoom commented on #8858
i can share sure. The thing is my repo is little big, i need to do one light type hello-world inferno

[2018-10-06 14:29] smakosh commented on #3853
Just made this starter to help you folks: https://github.com/smakosh/gatsby-starter-i18n

[2018-10-06 14:36] simonjoom commented on #8858
Just done here. I made as simple as possible
https://github.com/simonjoom/gatsby-starter-inferno-master
Description to install and use in readme.
"npm run inferno" to start running inferno mode development
"npm run develop" run normal gatsby mode
"npm run build" build with inferno (no react)

[2018-10-06 14:52] sedubois commented on #8823
@kakadiadarpan I don't know where the issue should be fixed but I would suggest that if nothing else can take care of it, the offline-plugin should be transparent when clicking a link to a non-cached page, and let the browser render "not found" as if the plugin was not there. Currently the demos which make use of offline-plugin look broken in this regard. At least the incoherent URL should be fixe

[2018-10-06 15:37] mikelax commented on #8854
I think this is a duplicate of #8840 .

[2018-10-06 15:50] mikelax commented on #8833
One possible solution would be to use the [path prefix feature](https://www.gatsbyjs.org/docs/path-prefix/#path-prefix) of gatsby. If you go this route, one thing to consider is that any `<Link>` component you use will be relative to the gatsby site (ie will respect the path prefix when deployed. So if you are linking to other pages you will need to keep that in mind.

The other option is to deplo

[2018-10-06 16:53] thisizkp commented on #8709
@ivandevp thanks for asking, I've kind of stuck at some error. I think I need to use `wrapRootElement` instead of `replaceRenderer`. Will spend some more time debugging and learning more about it, if couldn't will let you know :)

[2018-10-06 17:22] transluciddata opened #8869 "Unable to remove undereline feature in a <Link > component"
I am facing a problem when I tried to remove the underline from a <link > component. So far I am able to easily grab the <link activeClassName= "myClassName"> class name property from the sass style sheet and change any other property excepting the underline. I am not sure what I am missing. Can anyone point me out where is my mistake?

Thanks in advance

  System:
    OS: Linux 4.15 Ubuntu 18.04.

[2018-10-06 17:46] NickyMeuleman opened #8872 "tests fail on fresh clone of gatsby repo"
## Description

I freshly cloned this repo and followed the [docs on how to contribute to the repo](https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo)
However, some tests fail when running `yarn test` in the root of this repo.

![code_2018-10-06_19-29-46](https://user-images.githubusercontent.com/30179461/46574126-2440a700-c99f-11e8-9dc4-0193b8f2cbb1.png)

Upon visual compa

[2018-10-06 18:04] stlk commented on #5990
I was having a hard time setting up Netlify CMS with `gatsby-remark-images`. I described the process on my [blog](https://blog.rousek.name/2018/08/10/cool-image-loading-with-gatsbyjs-v2-and-netlify-cms-v2/). @pieh suggested that I could describe the solution in [gatsby-plugin-netlify-cms/README.md](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-netlify-cms/README.md). What d

[2018-10-06 19:46] edykim commented on #8869
Did you check`box-shadow` as well? Some of styles apply underline using `box-shadow` for better styling.

[2018-10-06 20:04] ArthurYidi commented on #8545
Partially fixed with https://github.com/developit/preact/pull/1138 and https://github.com/developit/preact/pull/963.

Also requires aliasing `hydrate = render`.

However, due to type changes it introduced a bug that requires fixing:
https://github.com/developit/preact/issues/1232

After all of those fixes I was able to get local version working, hopefully everything lands in preact 8.4.

It would

[2018-10-06 20:42] youmustfight commented on #8053
Found a resolution for my case that might hint at the underlying issue (I'm on v2 btw `gatsby@next -> gatsby@2.0.0-rc.28`)

I'm pulling in multiple AirTable sources (`gatsby-source-airtable@2.0.1`) and the table that was throwing this error had a single record which had null values. When I filled all the rows values into the other fields, it no longer threw

[2018-10-06 20:55] transluciddata commented on #8869
thanks for that @edykim ! Your answer solved my problem!

[2018-10-06 21:34] edykim commented on #8869
Awesome! Let’s having fun with Gatsby!

[2018-10-06 21:34] #8869 closed

[2018-10-06 21:49] dbismut opened #8879 "Build Performance Strategy"
Hey - I have a naive question related to optimizing build performance when creating pages.

I can see from the tutorials in the docs that there’s an initial GraphQL query in `gatsby-node.js` that retrieves all page slugs like so:
[code]

The slug is then passed in the Page Context to be accessible in the page template.

Then in the page template, there is a GraphQL query that fetches all the data

[2018-10-06 21:57] dbismut commented on #8879
Just realizing that’s this is close to what’s being discussed here https://github.com/gatsbyjs/gatsby/issues/7373

Don’t hesitate to close if you feel it’s the right thing to do.

[2018-10-06 23:14] NickyMeuleman commented on #8865
are you getting the information you pass here? https://gist.github.com/lswest/2593a6da3064be7e88418d6bbeef892a#file-gatsby-node-js-L111

Try querying for that information in the graphql query above if you are not.

[2018-10-06 23:43] simonjoom commented on #7373
Yes i agree about this (i have got 5 languages), much better to prefetch everything in gatsby-node and store results in context.
As well i think it's better to separate ' View and controller '

[2018-10-07 01:07] dlaub3 commented on #8846
I'll work on this.

[2018-10-07 01:27] KyleAMathews opened #8882 "Add featured sites to front page of gatsbyjs.org"
Our site showcase is a great illustration of what you can do with Gatsby!

We should show everyone the awesome sites built with Gatsby and add to the front page a section of sites from the showcase that's similar to the top row of the site showcase.

Thoughts @gatsbyjs/admin?

[2018-10-07 05:47] liamdanielduffy commented on #8794
@psnaik just run:

`npm update gatsby && npm update gatsby-transformer-json`

[2018-10-07 06:36] lswest commented on #8865
Ha, now I feel silly. I added the category frontmatter to the query and now everything works. Thanks!

[2018-10-07 06:36] #8865 closed

[2018-10-07 06:48] ollagada commented on #8867
I found the solution. The surgery needs part was the Graphql.

It targeted only one page to come out.

So I changed to graph query such as

[code]

to

[code]

in `blog-post.js`, the post template page.

[2018-10-07 06:48] #8867 closed

[2018-10-07 10:13] ajayns commented on #8697
I'm not actually sure of those questions as I haven't read anything that recommends anything regarding them, but recently I've worked on a source plugin for Plone and will share a couple of things I figured then.

I'm unaware of any structure recommended by the Gatsby community so the setup I used was a `gatsby-node.js` that's transpiled by Babel (this enables support for latest ES6+ features), an

[2018-10-07 10:19] stefanprobst commented on #8852
(node:23050) UnhandledPromiseRejectionWarning: ZlibError: zlib: unexpected end of file

Looks like the cached zip is broken. Does it work after
[code]

[2018-10-07 10:49] geekysrm commented on #8852
That did the trick!
Thanks a ton @stefanprobst . Was struggling with this since 2 days.
:100:

[2018-10-07 10:49] #8852 closed

[2018-10-07 11:05] thakkaryash94 commented on #8844
Hey @shannonbux I have one doubt. Should I only need to write about how to host public folder on netlify or I need to write how to configure github with netlify, build and deploy using netlify?

[2018-10-07 11:51] liamdanielduffy commented on #5100
@rishichawda @osogrizz

I'm also using styled components. This was fixed for me as soon as I added the Gatsby styled-components plugin to my build, using the steps outlined here:

https://github.com/gatsbyjs/gatsby/issues/5100

[2018-10-07 12:05] codejet commented on #5726
@Khaledgarbaya how come you are passing an empty array to `navigateFallbackWhitelist`? i would imagine that is the default?
initially i used the the offline plugin without setting options, and also faced the issue of getting empty pages with js being turned off. then i saw your message and tried passing `navigateFallbackWhitelist: []`. and it started working... but i don't understand why 😅

[2018-10-07 13:13] eivindflobak commented on #2410
I had the same problem as @timojaask. I am using the latest version of GatsbyJS. Resolved the issue by adding a suffix to my jpeg filename.

[2018-10-07 13:33] jkjustjoshing commented on #8834
Would it be useful to also throw a GraphiQL code sample on the "API Reference -> GraphQL reference" page?

[2018-10-07 14:21] sedubois opened #8890 "Localized site metadata"
## Summary

I would like to populate my GraphQL API with localized site metadata, which would require the ability to pass a variable in the GraphQL query.

### Basic example

[code]

[code]

or

[code]

### Motivation

The various examples using `siteMetadata` currently don't take localization into account, which makes its use problematic for multilingual webapps. Even the basic properties shown [

[2018-10-07 14:34] derozan10 commented on #3529
Is it possible to show how to get this working on my example? I'm trying to sort on the "datumString"which has a format like "01-12-2018" (first of december, 2018).

[code]

[2018-10-07 15:03] thisizkp commented on #8849
I would like to work on this

[2018-10-07 15:48] codejet commented on #2972
After upgrading to Gatsby 2 there is a different issue which is described here https://github.com/gatsbyjs/gatsby/issues/8545

[2018-10-07 17:04] orshick commented on #8810
Thanks for inquiring @endymion1818! I'm importing it from node_modules like so

[code]

To reitterate, it does work during development, so I'm guessing this is an SSR issue. Do you know of some special way I have to import the library to have it not trip up during the SSR step?

Any help is appreciated!

[2018-10-07 17:27] NickyMeuleman commented on #8890
Hi @sedubois 👋,
there is some information in #5069. There's an RFC about this at https://github.com/gatsbyjs/rfcs/pull/3

[2018-10-07 17:32] janczizikow commented on #8816
Alright, nvm passing `css={...{css: ``}}` as a prop did the trick. Should be all good to go @DSchau

[2018-10-07 18:03] TylerBarnes commented on #8782
I think this isn't such a good idea since there may end up being many other places like this. Little workarounds in each case is going end up being painful. I think the better solution is to use the search and replace content urls option from the source plugin to just remove it entirely and make it a relative link in every case everwhere:

[code]

Then use wordpress to build your site structure fr

[2018-10-07 20:07] endymion1818 commented on #8810
No worries Orshick! I'd be interested in investigating this a bit further. But as it's not an issue with GatsbyJS itself, would you mind opening a discussion on https://spectrum.chat/? You can @ me with the same username over there.

That will open up the discussion to other community members who may be interested. It will also let the team here focus on working on Gatsby itself.

Thanks!

[2018-10-07 20:28] lmcjt37 commented on #8872
@NickyMeuleman I had issues with failing tests due to my version of Yarn being slightly too old?

Would try updating and running the tests again 😇

[2018-10-07 20:32] #8850 closed

[2018-10-07 20:38] maysanchez commented on #8872
Hi @NickyMeuleman, I followed the steps to reproduce the issue but everything works fine for me on macOS ...
<img width="814" alt="captura de pantalla 2018-10-06 a la s 14 19 34" src="https://user-images.githubusercontent.com/7445850/46575073-f5f9a200-c973-11e8-8cf5-58eaf06c3d1b.png">

But what about trying the  yarn stable version for windows

[2018-10-07 20:38] ChadoNihi commented on #8852
I have the same error (for the same Ubuntu Bionic) and doing @stefanprobst's `rm  /home/<user_name>/.npm/_libvips/libvips-8.6.1-linux-x64.tar.gz` before `gatsby new blog` does not help.

[2018-10-07 20:54] amingilani opened #8894 "What are "client-paths" & "client-only routes"? 🤔"
## Summary

I was just reading the docs on [Building Apps with Gatsby](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/). I'm trying to build a GraphQL server, that'll be consumed by a Gatsby powered front-end.

That's actually exactly what I'm building. A front-end page that's static, and then a logged-in area that fetches its information from GraphQL queries on the API. However, what are

[2018-10-07 21:07] ButterBridge opened #8896 "Using React Context within wrapRootElement fails with 'Objects are not valid as a React child (found: [object Module])'."
## Description

Hi, now that Layout has changed in Gatsby v2 so I can no longer use it as a React Context Provider, I am trying to get to grips with the wrapRootElement API as an alternative. However so far I haven't had any luck - I get the error message I've written in the title. I can't find any other examples online of people using React Context as a state provider with this API - only redux -

[2018-10-07 21:09] ButterBridge commented on #8896
I have also tried this variation of the code in gatsby-browser.js:

[code]

This does not break the programme, but doesn't work as a Provider either, i.e. the Consumers within the project are just producing undefined, as if there was no parent Provider.

[2018-10-07 21:58] ButterBridge commented on #8896
Sorry. Stupid one. Was using a Consumer imported from an old version of the Context.

If it's of any use, the second version I posted is how to do it.

[2018-10-07 21:58] #8896 closed

[2018-10-07 23:11] nxz91 commented on #2698
Hey @kripod , won't using /static produce caching issues all the time? Or are filenames in this folder changed whenever the content of the respective files change?

[2018-10-07 23:29] jonathan-chin commented on #8560
@DSchau sorry it took me so long to get back to this.

migrating the existing project to v2 was too much work. I decided to start a new v2 starter and migrate it piece by piece (copying and modifying as needed). In this case, gatsby develop produces **radically** different output than gatsby build:

gatsby build
![screen shot 2018-10-07 at 7 03 44 pm](https://user-images.githubusercontent.com/7519

[2018-10-08 00:16] i001962 opened #8900 "gatsby-source-wikipedia missing axios dependency"
After adding gatsby-source-wikipedia gatsby develop puked with missing axios module.

Steps to reproduce
[code]
error Plugin gatsby-source-wikipedia returned an error
  Error: Cannot find module 'axios'
  - loader.js:581 Function.Module._resolveFilename
    internal/modules/cjs/loader.js:581:15

I got around the issue by adding axios with
[code]
i.e. in package.json

"axios": "^0.18.0",

[2018-10-08 00:25] alacret opened #8901 "Glitches on Nginx deployment"
## Summary
I'm having a problem deploying my gatsby site on a production server with nginx

FRom Chrome console:
[code]

## Relevant information
![screen shot 2018-10-07 at 8 19 35 pm](https://user-images.githubusercontent.com/918895/46588691-5705a080-ca6e-11e8-86a6-32b6ad879d36.png)

### Environment (if relevant)

Nginx site configuration:

[code]

### File contents (if changed)

`gatsby-config.j

[2018-10-08 01:10] jkjustjoshing opened #8903 "Docs: Broken link on "GraphQL reference" page"
## Description

Broken link on https://www.gatsbyjs.org/docs/graphql-reference/#query-variables

Current link is to https://deploy-preview-4795--gatsbyjs.netlify.com/docs/creating-and-modifying-pages/#creating-pages-in-gatsby-nodejs, should be to https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#creating-pages-in-gatsby-nodejs

[2018-10-08 01:11] jkjustjoshing commented on #8903
Quick fix, I've submitted a PR to fix it.

[2018-10-08 01:51] simonjoom opened #8905 "options of minifyJs should to be reviewed"
use correct option of minifyJs
related to
https://github.com/facebook/create-react-app/pull/4234
to get the "why" Please read this thread upper

specify ecma: 5 like described in create-react-app to support ie11 and to avoid some bug on some browser.

[2018-10-08 02:12] simonjoom commented on #8858
Hello now Fragment is supported in last release of inferno-v6-rc3

[2018-10-08 04:28] transluciddata commented on #8869
I am sorry for reopening this question, but I am facing some similar problems with icons from react-icons. I tried to change the underline aesthetic using 'text-decoration: none', but that time adding 'text-shadow: none', but didn't remove the underline. Anything that I am missing? There is any way to avoid this underline aesthetic in a global way? Thanks in advance!

[2018-10-08 06:03] edykim commented on #8872
![capture](https://user-images.githubusercontent.com/33057457/46593911-6ee81f00-ca84-11e8-8001-476ac025030d.png)

I'm using Windows 10, Yarn windows nightly build and the newest version of node. I followed how to contribute page. I think Your Yarn is quite a low version for the build.

FYI, Failed tests are from `gatsby-plugin-feed` which I tried to fix with https://github.com/gatsbyjs/gatsby/pull

[2018-10-08 06:18] gera2ld opened #8907 "gatsby-plugin-catch-links fails if pathPrefix exists"
## Description

If pathPrefix exists, *gatsby-plugin-catch-links* works incorrectly for links in Markdown files. As a result, the prefix has been added twice, once by *gatsby-transformer-remark*, and once by `navigate`.

### Steps to reproduce

Demo project: https://github.com/gera2ld/demo-gatsby

[code]

### Expected result

Click on `page-2`, the expected behavior is to navigate to `/public/page

[2018-10-08 06:58] transluciddata opened #8908 "How do I remove the underline aesthetic from react-icons?"
I am having some problems removing the underline of icons  coming from react-icons. I tried to remove it using 'text-decoration: none', adding 'text-shadow: none', but didn't remove the underline. My confusion came because I can change other features like size or color, but not the underline. Anything that I'am missing? There is any way to avoid this underline aesthetic in a global way? Thanks in

[2018-10-08 07:15] dustinhorton commented on #8908
Did you mean to post this to https://github.com/react-icons/react-icons/issues perhaps? Either way, I'd create a reduced test case to try to better illustrate your issue, and allow people to help you. It doesn't like you're possibly targeting the wrong elements with your selectors, or possibly changing the wrong properties—it'd be best to first nail down the latter (is it a text decoration, shadow

[2018-10-08 08:08] huythieugia1996 opened #8909 "npm audit security vulnerabilities"
After install I was warned by npm of many security issues. Here is what I am seeing
These are all (except for a few) dependencies of gatsby

=== npm audit security report ===

# Run  npm update macaddress --depth 5  to resolve 2 vulnerabilities

  Critical        Command Injection

  Package         macaddress

  Dependency of   css-loader [dev]

  Path            css-loader > cssnano > postcss-fi

[2018-10-08 08:10] huythieugia1996 commented on #5335
=== npm audit security report ===

# Run  npm update macaddress --depth 5  to resolve 2 vulnerabilities

  Critical        Command Injection

  Package         macaddress

  Dependency of   css-loader [dev]

  Path            css-loader > cssnano > postcss-filter-plugins > uniqid >
                  macaddress
  More info       https://nodesecurity.io/advisories/654

  Critical        Command Inje

[2018-10-08 08:31] Coriou commented on #8651
@natew I figured that 404 on .map files were causing a lot of redirection problems. I removed source map generation on the production build and significantly reduced this error.

A problem I'm still having though, but haven't been able to debug yet, is once I update the site, I'll always land on the fallback page when trying to reach the site for the first time. I need to manually edit the URL mys

[2018-10-08 09:39] transluciddata commented on #8908
Here a small example! I just discovered that is the <a> tag where the underline aesthetic is being applied. So, this behaviour has nothing to do with the react-icons itself.

`import React from 'react'
import { FaFacebook, FaInstagram} from 'react-icons/fa'
import '../styles/style.scss'

const SocialLinks = () => (
  <ul className='social'>
    <a className='socialIcon' id='foo' href='https://www.

[2018-10-08 10:07] Manoz commented on #8335
Same issue...

[code]

[2018-10-08 10:36] AlmeroSteyn commented on #7003
Ok I have been getting the same issues on my site.

However I have tried all the above but only `--no-uglify` fixes it for me in IE.

Adding the new Webpack config to `gatsby-node.js` does nothing for me.

Is there any plan going ahead for how to do this without disabling uglification?

Would really appreciate this.

[2018-10-08 11:01] pieh commented on #7348
some updates - this is my very WIP and very unclean dev branch - https://github.com/gatsbyjs/gatsby/compare/master...pieh:dev-query-on-demand
that make it somewhat work - https://www.youtube.com/watch?v=OrX_btT3Ikk

Few notes:
- static queries are running as they were before, so they will run during bootstrap and all of them will be re-running if they are marked as dirty
- it tracks pages that are

[2018-10-08 11:39] janosh commented on #1524
How come the `gatsby-remark-katex` plugin ended leaving the css import
[code]
to the user? To me this really seems like something the plugin should handle.

[2018-10-08 12:02] liamdanielduffy commented on #8322
I'm also seeing this with `gatsby-transform-json`, when attempting to filter data from json files by `filter: {id:{eq:"..."}}`

[2018-10-08 12:24] jordyvg opened #8910 "[gatsby-source-wordpress] ACF Flexible content in Flexible content returns duplicates"
## Description

Flexible content in Flexible Content returns an array with only the first unique row times the amount of rows. So all the rows after row 1 are duplicates of row 1 (even if every row are different field types).

Only one level Flexible Content works just fine.

### Steps to reproduce

Add another ACF Flexible Content field inside the parent Flexible Content field.

### Expected resu

[2018-10-08 12:44] LaRuaNa commented on #8711
@AlexMunoz can i help you with anything to speed up the process? :) Need ASAP this feature :)

[2018-10-08 12:51] tbaustin commented on #8908
Maybe try targeting the `ul a.socialIcon`?

[2018-10-08 12:59] tbaustin commented on #8900
I'll make a PR for this if you haven't

[2018-10-08 13:11] chmac commented on #8782
@TylerBarnes Good feedback, you're right, specifically removing that exact `<p` doesn't make sense. I'd favour a more generic set of search and replace pairs. I tried the approach you mentioned of changing the domain, but I found that many other things were broken by this. For example some `<img` tags.

I think being able to perform arbitrary transformations on all content from WordPress would be

[2018-10-08 13:16] koreyboone commented on #8714
Is this claimed?

[2018-10-08 13:22] danielberndt commented on #4319
One thing that took me quite some time to understand is the `sizes` property of fluid images. My use case was to create fluid-size images that take up one third of the screen. By default, gatsby assumes that fluid images take up all the available screen width and therefore it loads images that are way too big.
[This comment](https://github.com/gatsbyjs/gatsby/issues/8124#issuecomment-421457611) he

[2018-10-08 13:22] pieh commented on #7617
@jeremyepling Sorry for getting back to You late, we just recently started experimenting with Azure Pipelines and right now we are facing git checkout CRLF/LF problem:
in https://github.com/gatsbyjs/gatsby/pull/8836 there is attempt to fix our unit tests for windows (which passes currently for appveyor CI but fails in our rudimentary Azure Pipelines setup) - snapshot don't match most likely becaus

[2018-10-08 13:53] davidbailey00 commented on #8297
Hey @DavidTheSimon, please can you open a new issue describing the problem? I'll be happy to have a look at this, but I need a demonstration repository so I can see the cases when it's happening.

N.b. in certain cases, `?no-cache=1` is still required in order to display the correct page so it will still occasionally be displayed in the address bar - if you can open an issue with better proposed b

[2018-10-08 14:19] stefanprobst commented on #8323
@JakeRider Sorry for getting back at this so late. I have tried to clean-up gatsby-image a bit (esp. removing stuff from state that does not need to live there). This is not a proper PR (yet), but if you're willing to try this out I'd be very interested if it fixes this particular issue. You can install the component directly from my github:
[code]
Then adjust your imports from `gatsby-image` to `

[2018-10-08 14:28] Kay2dan opened #8915 "How to updated deployed gh-pages website on github"
I am trying to update a deployed gatsby website on github-pages.
I followed the guide as per [Gatsby docs](https://v1.gatsbyjs.org/docs/deploy-gatsby/#github-pages). Everything worked well until I made changes to master branch & want to update the deployed 'gh-pages' branch.

However, everytime I run `npm run deploy` (as per above docs), it doesn't catch the latest changes within `master` branch &

[2018-10-08 15:10] i001962 commented on #8900
@tbaustin I’ll do it later today. Will be fun to have contributed.

[2018-10-08 15:29] coreyward commented on #8908
This does not appear to be related to Gatsby. You may wish to re-post to the appropriate project.

[2018-10-08 15:29] #8908 closed

[2018-10-08 15:32] amberleyromo commented on #8834
@jkjustjoshing Yep, that's an awesome idea. Thanks!

[2018-10-08 15:33] coreyward commented on #8894
Client = web browser, in this case. A “client-only” path or route is one that is not reflected in your statically rendered files. For example, you may wish for your client-side app to allow navigating to a page at `/messages`. You would need to add the appropriate route to your Gatsby app (via Reach Router if you're using v2) and setup the component that will handle the request, but you wouldn't h

[2018-10-08 15:45] amberleyromo commented on #8834
Closed in #8902

[2018-10-08 15:45] #8834 closed

[2018-10-08 16:11] tbaustin commented on #8498
This was related too https://github.com/escaladesports/gatsby-plugin-netlify-cms-paths/issues/3
and not gatsby. Going to close this.

[2018-10-08 16:11] #8498 closed

[2018-10-08 16:12] pieh commented on #8903
Closed by #8904, thanks!

[2018-10-08 16:12] #8903 closed

[2018-10-08 16:15] pieh commented on #8840
This is by design - https://github.com/gatsbyjs/gatsby/blob/2181126f144f51e6d0ef77e6c35f18006a6e6369/packages/gatsby/src/utils/webpack.config.js#L301-L304

Rationale behind it - add very basic eslint setup, but if user provide his own config - disable any builtin stuff and let user be in charge of it. You can use something like https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/ to re-add your

[2018-10-08 16:15] #8840 closed

[2018-10-08 16:16] dotlouis commented on #7527
I still have the issue on the latest gatsby version (2.0.18). I have a `setInterval()` call in gatsby-browser.js which causes a jest-worker child process running.

[2018-10-08 16:17] pieh commented on #8854
We have very basic non-configurable eslint setup baked in. You can use https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/ to have more control over eslint

[2018-10-08 16:29] baukevanderlaan opened #8916 "[gatsby-image] add placeholderClass prop to gatsby-image"
## Summary

Inspired by #5745, I think a class prop on the placeholder image would be a useful addition. Would you welcome a PR for this feature?

### Basic example

[code]

### Motivation

Instead of directly setting styles on the placeholder image using `placeholderStyles`, this offers the possibility to set styles based on class using old school stylesheets.

[2018-10-08 16:38] orshick commented on #8810
Thanks again. I assumed that something working in development but not in production builds would be categorized as related to GatsbyJS itself, but fair enough, i'll take it to the spectrum chat.

[2018-10-08 17:05] stefanprobst commented on #8822
I'm not sure what the recommended way is here, but doing something similar to what the `using-page-transitions` example does seems to work.
With Gatsby v2, there are no special layouts anymore - layouts are just components that live in pages. To have something stable across route changes we can use the[ `wrapPageElement`](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement) browser API. So

[2018-10-08 17:19] amingilani commented on #8894
Hrm, I suppose this needs an example to become comprehensive. But, thank you for explaining it.

[2018-10-08 17:19] #8894 closed

[2018-10-08 17:43] stefanprobst commented on #8822
Ok so I modified your example project and wrapping everything in wrapPageElement works - the index page is just a noop function so there is something to wrap. As I said, not sure if this how it should be done. In any case, the [`client-only-paths`](https://client-only-paths.gatsbyjs.org) example needs to be fixed as well. Have a look with
[code]

[2018-10-08 17:58] joelschou commented on #8835
This is a really, really minor thing, but I'm having some fun. See, I have a little plugin for getting content into Gatsby. I am using emoji to make the console logs more enjoyable:

[code]

I've added the newest version of node-emoji to my dependencies, I have this in my yarn.lock:
[code]

I could fairly easily work around this by publishing a modified yurnalist to our internal NPM server, but th

[2018-10-08 18:04] joelschou commented on #8835
I just poked around a little bit in `gatsby-cli` and I'm not sure yurnalist is even needed.

[2018-10-08 19:23] endymion1818 commented on #8810
No worries! It is confusing, but running "gatsby develop" is very different from building the site. It's a visual preview, but there's a lot more that happens. When I'm looking at other people's code I ask others to test it under "gatsby build" too, because of these differences.

[2018-10-08 20:07] GusLyon opened #8919 "Parent-Child nodes relations from markdown field (frontmatter)"
Hello,

I have some markdown files including (sometime) a reference field to a parent markdown (frontmatter).
For example, we have 3 files like :
[code]
[code]
[code]
I would like to generate a nav menu with different levels.

- My-Parent-Item
  - My-Child-Item-1
  - My-Child-Item-2

**How to use GraphQL to return an object with parent-child nodes relations ?**
Something like that for example :
[c

[2018-10-08 20:09] ajithr commented on #8504
@DSchau @KyleAMathews I have tried to resolve the memory issue from my end, but it still not working with the latest release. Now, the below issue throws on `gatsby build`.

[code]

Can you please help me to resolve this issue and able to run the gatsby in production?

[2018-10-08 20:19] ajithr commented on #8504
I have one more doubt in gatsby production output. Is it possible to publish multiple small applications in a same location?

If I could split-up the large project into small sections and generate each section as individual gatsby application, then publish all the sections into a single location. Is it possible, I don't know?

Example:

- app1
    - app10.md
     - app11.md
- app2
    - app20.md

[2018-10-08 20:29] Vazerthon commented on #8794
I'm experiencing problems with this plugin as well. My `gatsby-config` has nothing out of the ordinary in it:
[code]

`gatsby develop` crashes out with this message:

[code]

If I remove all json files from my data directory the app will start (kinda defeats the purpose though!). Even a json file with just `{}` or `[]` in it causes this error.

Any suggestions would be great.

I've upgraded to gat

[2018-10-08 20:38] ChadoNihi commented on #8852
It worked after I `npm uninstall -g gatsby-cli`, `rm` again and `npm install --global gatsby-cli`!

[2018-10-08 20:40] pieh commented on #8905
This is interesting. Will need to some research

@jquense do You have any thoughts on that?

[2018-10-08 20:43] pieh commented on #8863
It really shouldn't do that. List of used endpoints isn't cached so removing `.cache` won't change anything.

Can you try setting `verboseOutput` config setting for wordpress plugin to `true`, maybe it will provide more input.

You can also use `excludedRoutes` option to just blacklist some routes, but I'm really curious why would you be hitting endpoints

[2018-10-08 20:47] oorestisime commented on #8915
Did you specify which branch you want to use for the gh-pages? when you run `npm run deploy` do you get any errors? And did you check that after you deploy the branch gh-pages has changes? Maybe a cache problem, you could try hard reloading the page (ctrl-shift-r usually)

[2018-10-08 20:52] pieh commented on #8872
There were couple of just straight broken tests for windows (snapshot containing unix style paths) - that should be fixed in master now. But there is CRLF/LF issue - which we currently have when running tests on Azure Pipelines.

We will probably use https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings to force LF line endings when people checkout code (i've been usi

[2018-10-08 20:53] pieh commented on #8872
(that setting about forcing LF - probably just for .snap files for now)

[2018-10-08 20:57] jquense commented on #8905
seems reasonable tho i'm not sure what it means in terms of output. at the point to which uglify is run the code is already compiled to the desired ecma, i'm not sure if uglify will go out of it's way to upscale syntax unless it's told not too?

in other word's i can see uglify turning multiple `let` declarations into `let  foo, bar, baz` but i don't think it will decide to use `let` in the output

[2018-10-08 21:20] jlengstorf commented on #8882
It'd be especially cool if the featured sites component was reusable enough to just get dropped onto the front page. 😎

[2018-10-08 21:45] brianespinosa commented on #8854
Thanks @pieh I didn't know if the reported behavior was expected or if it was just missed when the basic integration was implemented.

[2018-10-08 21:51] pieh commented on #8872
Ok, so this seems to work https://github.com/gatsbyjs/gatsby/pull/8922

[2018-10-08 21:56] simonjoom commented on #8905
i think that just take and copy things without think too much from create-react-app is reasonable as it's a very used and debugged repo from Facebook!

[2018-10-08 21:59] KyleAMathews opened #8924 "Add https://developer.bitcoin.com/ to the Site Showcase"
Lovely new Gatsby site that recently launched!

https://developer.bitcoin.com/

[2018-10-08 22:04] pieh commented on #7617
Seems like we can use `.gitattributes` to handle CRLF/LF issues - https://github.com/gatsbyjs/gatsby/pull/8922 :)

[2018-10-08 22:09] jacobc1204 commented on #8924
I would like to try to do this.

[2018-10-08 22:48] maxlapides opened #8928 "[gatsby-source-wordpress] log failed HTTP requests"
## Summary

When setting up a new Gatsby Wordpress site, I was experiencing a lot of errors that looked like this:

[code]

As a new Gatsby user, I had no idea what this meant. It appeared to be a major blocking issue, but turned out to not be a big deal.

My suggestion is to log the paths to the routes that are failing so it's easy for the developer to update `excludedRoutes`. I ended up hacking

[2018-10-08 23:11] KyleAMathews commented on #8924
@jacobc1204 thanks, go ahead and take it! The submission instructions are @ https://www.gatsbyjs.org/docs/site-showcase-submissions/

[2018-10-08 23:18] KyleAMathews commented on #8905
@jquense perhaps it generates different syntax for newer versions? E.g. some new JS syntax produces smaller output so they opt into that if they can 🤷‍♂️

[2018-10-08 23:29] KyleAMathews commented on #8835
We could definitely move away from Yurnalist as we only use small sub-set of its functionality.

[2018-10-08 23:41] hnspn commented on #8322
changed "id" key to "uid" in my JSON files and everything works now
id seems to be a reserved keyword

thanks to @ghardin137 for the suggestion on the discord channel

[2018-10-08 23:49] jlengstorf opened #8934 "[www] Did we delete your blog from the site showcase?"
We’re getting ready to introduce new YAML validation for the site showcase, so I’m cleaning up entries that don't pass validation right now. It looks like we have quite a few showcase entries that are missing pretty much all of their data.

@gatsbyjs/maintainers (sorry for the mass ping) can you please make sure your site isn't included in the list below? If it is, can you please re-add it to the

[2018-10-08 23:49] KyleAMathews commented on #8924
Fixed in https://github.com/gatsbyjs/gatsby/pull/8931

[2018-10-08 23:49] #8924 closed

[2018-10-09 00:32] jeremyepling commented on #7617
I got a [successful build](https://dev.azure.com/jeremyepling/gatsby/_build/results?buildId=36&view=logs) after I created a [.gitattributes file](https://gist.github.com/jeremyepling/e727f0d9d94a2ef6267c9942beeb780f) that [sets all line endings to LF for your repository](https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings). This file will override Git user settings

[2018-10-09 00:32] KyleAMathews commented on #4682
Hmm confused as this didn't happen :-(

Sep 7 me was mistaken!

[2018-10-09 00:33] jeremyepling commented on #7617
I should have refreshed the page earlier. I'm just now seeing your comment. :)

[2018-10-09 00:35] KyleAMathews commented on #4682
@gatsbyjs/core we need to do this sooner than later as having gatsby-source-filesystem use `sourceNodes` will (is?) cause trouble with Gatsby Preview as every time we refresh nodes, a new Chokidar instance will be setup to read nodes which eventually will grow memory until it kills the process.

/cc @thebigredgeek @rase-

[2018-10-09 01:08] seanngpack opened #8935 "Using gatsby-image with CSS grids"
Hi, I am having trouble getting gatsby-image fluid to play nice with CSS grids. So here's my question:

I'm putting gatsby-image <Img /> components with fluid images set with 'maxHeight' and 'maxWidth'.

              childImageSharp {

                fluid(maxWidth: 1000, maxHeight: 700) {

                  ...GatsbyImageSharpFluid

                }

      }

If I set the grid row to a pixel h

[2018-10-09 01:49] jeremylynch opened #8936 "WebpackError: TypeError: Cannot read property 'jsonName' of undefined"
Since upgrading to Gatsby V2 I have been getting an error with CreatePage only when used in a promise like so:
[code]

Returns the error:
[code]

[2018-10-09 03:01] osogrizz commented on #5100
@liamdanielduffy @rishichawda

After reading everything I could find, contacting Netlify, and struggling with removing service workers per their advice, I decide to start over and slowly rebuilt my site to see what it could possibly be.

I did install the plugins correctly so i was good on that end. My confusion is primarily that styling was applied correctly in development but in production could

[2018-10-09 03:52] EricSSartorius commented on #7827
@thibautvs Have you found a solution for this yet? I am having the same problem when I migrated to Gatsby 2.0

[2018-10-09 04:32] thisizkp commented on #8849
@shannonbux @NickyMeuleman Hey guys, sorry for this. Got caught up with work, something priority came up. Will not able to work on this right at the moment. (for one week or so).

I don't want to block this issue. Let anyone else pick this up. Also lets remove the label `Claimed`.  :)

[2018-10-09 05:42] Deborah-Digges commented on #8847
If nobody's picked this up yet, I can start working on it :)

[2018-10-09 05:43] jumpalottahigh commented on #8934
Ok, will re-submit my site with all meta data required after you have merged #8933.

[2018-10-09 07:12] brandonferrer commented on #8576
@chmac thanks. I tried adding /index.php to my baseUrl with no luck. It definitely was a Wordpress implementation issue on my end though, and I ended up starting fresh with a new Wordpress. It worked as expected even after the plugin and V2 updates. Now I'm able to fetch post from brandonferrer.blog/wp-json/wp/v2/posts rather than needing /index.php in the baseUrl.

My issue was that I attempted t

[2018-10-09 07:12] #8576 closed

[2018-10-09 07:31] Khaledgarbaya commented on #5726
@codejet, I didn't investigate why that happened, probably Gatsby is setting something there but I need to check that up

[2018-10-09 07:52] thibautvs commented on #7827
@EricSSartorius Nope haven't found the problem, though I could isolate it like in the provided repo. It essentially works almost all the time, except for a particular page. Maybe it's related to some 3rd party dependencies, might be worth commenting them out one by one to (in)validate this hypothesis.

[2018-10-09 07:54] thibautvs commented on #7827
@LeKoArts Maybe we can now remove the label "status: needs reproduction"?
@kakadiadarpan Maybe we can now remove the label "status: needs more info"?

Thx!

[2018-10-09 08:35] LeKoArts commented on #7827
your styled components dependency is outdated

[2018-10-09 08:36] nicolasrouanne commented on #8478
As it was a test project, I **got it working** restarting from _scratch_ with the most basic setup I could using `gatsby-image` and `gatsby-transformer-sharp`.

I put everything to 2.x (including `gatsby` itself) and up and it works like a charm. 👌

Here is the ouput of `gatsby info` once more
[code]

[2018-10-09 08:40] XHMM opened #8943 "about site deploying using now"
I tried following the doc [deploying to now](https://www.gatsbyjs.org/docs/deploying-to-now/#deploying-to-now) to deploy my site . After several times , I find it's really time-wasting and cumbersome .

Because every time I run `now` in my root folder, `now-cli` will do  `upload files -->npm install(waste time) --> npm run build(waste time) --> ... --> finished/error report(crazy)` .

But if I do

[2018-10-09 08:40] dbismut commented on #7373
I'm currently building a blog with articles containing lots of images and getting between 2-4 queries per second on build (1 query = 1 article). It is my understanding that `gatsby-image` requires creating thumbnails of images on disk at build-time. Is it possible that creating these images make queries slow-er?

[2018-10-09 08:58] kakadiadarpan commented on #8794
@Vazerthon can you [open a new issue](https://github.com/gatsbyjs/gatsby/issues/new/choose) with a reproduction repo and environment information?

[2018-10-09 09:55] kakadiadarpan commented on #8335
@Manoz can you provide relevant environment info by running `gatsby info --clipboard`?

[2018-10-09 09:57] kakadiadarpan commented on #8651
@natew It would be great if we could take a look at your repo

[2018-10-09 10:00] kakadiadarpan commented on #8560
@jonathan-chin did you try this withv2 or as per steps mentioned in the [comment](https://github.com/gatsbyjs/gatsby/issues/8560#issuecomment-425218494) by @DSchau above?

[2018-10-09 10:04] kakadiadarpan commented on #2972
@codejet Preact support for Gatsby 2 is broken currently.

Since you have upgraded to Gatsby v2, we'll be closing this in favor of #8545

[2018-10-09 10:04] #2972 closed

[2018-10-09 10:11] kakadiadarpan commented on #8818
@tezahzulueta can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-10-09 10:14] kakadiadarpan commented on #8820
@jbolda can you help out @chrisblow?

[2018-10-09 10:16] kakadiadarpan commented on #7479
@iaindurie can you [open a new issue](https://github.com/gatsbyjs/gatsby/issues/new/choose) and provide relevant environment information and a reproduction repo?

[2018-10-09 10:33] daviddeejjames commented on #8934
My site is on there, I just updated it to Gatsby V2 also, so Ill be sure to add it 👍

[2018-10-09 10:36] kakadiadarpan commented on #8916
@baukevanderlaan Sure! You will need to make change [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js) and [README.md](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/README.md)

[2018-10-09 10:53] pieh commented on #8823
Actually I just realized - http://gatsbyjs.github.io/gatsby-starter-blog/ is using gatsby v1 - seems like I've missed updating starter showcase data. https://gatsby-starter-blog-demo.netlify.com/ this is using v2 and it might already be fixed

[2018-10-09 10:54] kakadiadarpan commented on #8943
@XHMM when your project size is huge and there are a lot of pages, uploading all of them would actually take a lot of time.

But we should mention the alternative approach as well. Would you like to work on this and raise a PR?

[2018-10-09 10:56] kakadiadarpan commented on #8936
@jeremylynch can you provide relevant environment info by running `gatsby info --clipboard`?

[2018-10-09 11:17] pieh commented on #8697
I think skeleton/scaffold for plugins is good idea - i could see at least 2 templates - for source and transform plugins. For packages in gatsby repo we have plop template but this relies on gatsby repo babel setup, so for standalone plugins we would need something different.

I wonder if it would make sense to reuse `gatsby-cli` for it - ie. `gatsby new gatsby/gatsby-source-plugin-starter gatsby-

[2018-10-09 11:59] davidbailey00 commented on #8823
This is actually because you're not using HTTPS - service workers only work over secure connections (and insecure localhost for testing)

[2018-10-09 12:00] davidbailey00 commented on #8823
On second thoughts I'll reopen because we should at least display an error in the console explaining the problem

[2018-10-09 12:29] NickyMeuleman commented on #8849
No problem, thanks for letting us know. 👍
We hope to see you here again in the future!

[2018-10-09 12:36] j33n commented on #8849
Hello @shannonbux @NickyMeuleman, I would be happy to take this up

[2018-10-09 12:43] lipis opened #8946 "(gatsby-plugin-sitemap) How can I update the changefreq and priority in the sitemap plugin?"
Maybe it would be a good idea to have that as an example as well in the [README.md](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sitemap)

[2018-10-09 13:10] NickyMeuleman commented on #8872
- Upgraded Yarn
- Deleted `node_modules`
- added `.gitattributes` file from #8922 to root of project
- `git pull upstream master`
- `yarn run bootstrap`
- `yarn run test`

Test failures dropped to
[code]

Will freshly clone and try again later today.

[2018-10-09 13:18] entr commented on #8946
You might be able to pass custom `serialize()` function in plugin options. Check the default one [here](https://github.com/gatsbyjs/gatsby/blob/f0088782dd5c09155b846367164426e551264b9c/packages/gatsby-plugin-sitemap/src/internals.js#L59).

[2018-10-09 13:18] tufantunc commented on #8946
Based on source code, you can change it with serialize function. Example:
[code]

[2018-10-09 13:31] ganny26 commented on #8849
Hi @shannonbux I have already worked and gave PR

[2018-10-09 13:35] tbaustin commented on #8919
You may have to edit the schema to achieve this. `addThirdPartySchema` may be what you want, but I am not totally sure.

[2018-10-09 13:47] sw-yx commented on #8934
happy to let it be deleted :) you dont need my crappy site haha

[2018-10-09 14:02] DSchau commented on #8872
@NickyMeuleman Windows, Mac, or something else? I would have expected only the snapshots to fail (if anything) not everything!

[2018-10-09 14:08] sedubois commented on #8823
Thanks @davidbailey00, yes that would be helpful. I would suggest that the deployed example site should also be configured to redirect http to https.

[2018-10-09 14:09] sedubois commented on #8823
In my browser I never specified the protocol. It just somehow defaulted to http.

[2018-10-09 14:56] davidbailey00 commented on #8823
@sedubois Actually the configuration is due to the server (i.e. GitHub Pages config) - it's possible to implement a client-side redirect but it might break some websites, so I think just doing a console log is the best idea.

[2018-10-09 15:13] jbolda commented on #8820
@kakadiadarpan I have been here: https://github.com/jbolda/gatsby-source-airtable/issues/11

[2018-10-09 15:42] #8478 closed

[2018-10-09 16:01] pieh commented on #8936
@jeremylynch You `resolve()` before pages are actually created - this might lead to unpredicted results (possibly actually causing this error)

[2018-10-09 16:03] marisamorby commented on #8414
@jlengstorf I had it in the wrong folder, my bad. Should work now! Here's the link: https://whimsical.co/55WMhe5r2FvAg4AnfADMVj

[2018-10-09 16:05] marisamorby commented on #8416
@jlengstorf It should work now. Here's the link: https://whimsical.co/FWmLPZEZR9f5GBmoSoCkJz

[2018-10-09 16:10] DSchau commented on #8711
Fixed in #8817 🎉

Thanks so much for the PR @AlexMunoz 💪

[code]

bumped the version due to a little hiccup with our build process!

[2018-10-09 16:13] #8711 closed

[2018-10-09 16:13] #8524 closed

[2018-10-09 16:16] marisamorby commented on #8424
@DSchau @pieh

Here's the Airtable to log the issue topics and counts: https://airtable.com/tblD1lnsYVsGhMCYg/viwCOMCExyiJPaOqC

I suggest taking notes on the escalations for 5 days and we can see where we're at.

I added a column for tags which we can add at the end, and depending on how the topics turn out, we can tag stuff to make it easier to organize. I also put in a spot for additional detai

[2018-10-09 16:22] joostdecock commented on #8936
I have the exact same issue when deploying to Netlify, but not when I build locally.
Here's [the Netlify build](https://app.netlify.com/sites/fs-beta/deploys/5bbcd40e3813f0127156db8d) and [this is the repository](https://github.com/freesewing/website/tree/2fef952c3099f75003df138f3a0cf2a449013d71).

I'm going to take the advice of @pieh and look at how promises are resolved in gatsby-node.js, for I

[2018-10-09 16:52] Kay2dan commented on #8915
apologies, in the end, the issue was not related to the above, it was related to SASS config. Resolved.

[2018-10-09 16:52] #8915 closed

[2018-10-09 16:52] amberleyromo commented on #8934
#8933 has been merged -- for anyone on this list who wants to, please re-add!

cc @daviddeejjames @jumpalottahigh

[2018-10-09 17:09] seanngpack commented on #8935
Thanks for the link, it's pretty insightful but I was already applying his techniques (explicit minimum dimensions).

Still can't seem to get the <Img> to fit the container properly, I might just go with fixed <img> and manually define their dimensions and make several media queries which is pretty painful and not responsive

[2018-10-09 17:16] #8845 closed

[2018-10-09 17:18] ryanwiemer commented on #5213
@janczizikow I still have the same issue with page jumping to the top prior to the transition finishing. This is particularly apparent when using a fixed nav bar.

@jlengstorf or @pieh  is the example code from @stefanprobst on  https://github.com/gatsbyjs/gatsby/issues/7921 still the best option to handle this? Or is there a better way?

[code]

[2018-10-09 17:40] NickyMeuleman commented on #8872
@DSchau Windows

Just tried again on a fresh up-to-date clone.

![image](https://user-images.githubusercontent.com/30179461/46687399-1dae6b80-cbfb-11e8-99cc-1fe533c25a9b.png)

GREAT SUCCESS 🎉

[2018-10-09 17:40] #8872 closed

[2018-10-09 18:09] jumpalottahigh commented on #8934
@amberleyromo Opened #8960 to add the site back with full meta data.

[2018-10-09 18:10] Vazerthon opened #8961 "gatsby-transformer-json returning error on startup"
## Description

`gatsby develop` fails when `gatsby-transformer-json` is included in `gatsby-config.js`

Possibly related to #8804 and #8794

### Steps to reproduce

Reproduction repo here - https://github.com/Vazerthon/gatsby-test
To reproduce error:
- Clone repo
- Run `npm run develop` or `npm start`

Commenting out

[code]
From gatsby-config gets rid of the error as does removing all `.json` fi

[2018-10-09 18:11] Vazerthon commented on #8794
Thanks @kakadiadarpan, have done.

[2018-10-09 18:29] #8823 closed

[2018-10-09 18:38] AmilKey commented on #8341
@tylerbuchea any updates here?

[2018-10-09 18:39] mikelax commented on #8961
hello @Vazerthon I think the issue is that the `gatsby` is pinned to `next`, which is *not* pulling the latest version. If you update your package.json file and replace the next values with `^2.0.0` and then do a yarn (or npm) install I think things will work for you. `gatsby-plugin-react-helmet` can be `3.0.0`

Out of curiosity, did you clone or use a gatsby starter for this test? I am asking bec

[2018-10-09 18:50] tylerbuchea commented on #8341
Been busy moving but my goal is to open the PR before this weekend.

[2018-10-09 18:54] eric-personal commented on #8561
Yes that's what I tried to do but when I don't add a link to the Prismic "Configuration of link field filed" it doesn't show url as null. It just doesn't have a reference to the object at all. I would love it it had url set to null then I could do exactly what you are saying.

[2018-10-09 19:11] liorbrauer commented on #8651
I'm getting this as well, usually after deploying an updated version of my site, both on chrome and safari.

[2018-10-09 19:19] Vazerthon commented on #8961
Thank you so much @mikelax, that's sorted it.

Yes I did, I used this one - https://github.com/nareshbhatia/gatsby-starter-material-ui - which I don't think is official but was linked from the official docs. It looks like the author has updated it in the last month and removed all the `next`s.

Thanks again for your help.

[2018-10-09 19:19] #8961 closed

[2018-10-09 20:01] mingaldrichgan opened #8964 "Blog excerpt formatting issue"
### Steps to reproduce

Visit https://www.gatsbyjs.org/blog/ (or scroll to the bottom of https://www.gatsbyjs.org under **Latest from the Gatsby blog**) and look at excerpt for **Delivering Modern Website Experiences: The Journey to a Content Mesh** from October 4 (currently the second result).

### Actual result

Note the extra space after "possible" and "incredible", before each period. Inspecti

[2018-10-09 20:09] ThiagoMiranda commented on #8323
I'm having the same issue on Chrome 69.0.3497.100 for MacOS as well. Is there a fix for this?
Thanks!
![captura de tela 2018-10-09 as 17 09 00](https://user-images.githubusercontent.com/141922/46695483-09ac3f00-cbe6-11e8-81a1-5e442d8745ff.png)

[2018-10-09 20:09] JimTheMan opened #8965 "Aint No Deployo"
## Description

Errors when I deploy:

![raw_plants_foundation](https://user-images.githubusercontent.com/5354163/46695439-8d156280-cbdd-11e8-8635-1c7114d51d93.jpg)

### Steps to reproduce

in gatsby.config:

[code]

### Expected result
it worky path prefix

### Actual result

no worky

### Environment

  System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20

[2018-10-09 20:12] siddhant1 commented on #8943
I am working on this one

[2018-10-09 20:44] pieh commented on #8053
@JanLenoch this happens because it this moment gatsby doesn't support class instances when constructing schema

`url` field that is missing is instance of `TextField` class ( https://github.com/Enngage/kentico-cloud-js/blob/94ce81548f167530c9376e7a852ac733a708e85b/packages/delivery/lib/fields/field-types.ts#L8-L32 ), which gatsby can't handle first time it sees it. But it works on second try becau

[2018-10-09 20:48] jordyvg commented on #8935
I'm pretty sure it have to do with your css and nothing with gatsby-image.
If the row height has the same pixel size of the image, the text above will push the image down.

Do you have a link so we can inspect it?

[2018-10-09 20:57] #6538 closed

[2018-10-09 20:57] #6634 closed

[2018-10-09 21:00] c0b41 commented on #8935
Try [object-fit ](https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit) property, also nice [video](https://www.youtube.com/watch?v=5CZyxnCdXuk)  explain

[2018-10-09 21:09] pieh commented on #8965
Do you build using `gatsby build --prefix-paths`? It should worky then

[2018-10-09 21:09] maxlapides commented on #8928
@kakadiadarpan I unfortunately don't have time to put a lot of thought into this right now, but I just submitted a small PR which I think is a good first step that will make a big difference. Let me know what you think. Thanks!

[2018-10-09 21:19] Manoz opened #8968 "[starter-library] "Submit a Starter" button is broken"
## Description

The **Submit a Starter** button is a bit broken on mobile version.

### Steps to reproduce

Take a look at the [starters](https://www.gatsbyjs.org/starters/) page on your smartphone or on mobile resolution with your dev tools.

### Expected result

I have no idea. What should we do? Since the block with the title and the search form are sticky on scroll what should we do? Hide the

[2018-10-09 21:22] ThiagoMiranda opened #8970 "gatsby-remark-images doesn't remove base64 background-image after image loading"
## Description

I'm using gatsby-remark-images v2.0.4 with gatsby-plugin-sharp v2.06 and I'm seeing a blurry effect on my images. Seems like the background-image is not removed from the `span.gatsby-resp-image-background-image` . I have a Gatbsy v1 site that the plugin remove its property and replaces it to
background-image: url("data:image/png");

### Steps to reproduce

Just use gatsby-remark-im

[2018-10-09 21:27] pieh commented on #8964
I think it should be formatted - there is open issue for it https://github.com/gatsbyjs/gatsby/issues/4459 and PR for it https://github.com/gatsbyjs/gatsby/pull/5586 - PR is abandoned now, so you can use that as starting point. I'll go to PR to document what need to be done there

[2018-10-09 21:27] Manoz commented on #8335
Everything looks ok on Windows or Mac. Just have the issue on my working computer.
Will share the stack tomorrow morning :)

[2018-10-09 21:32] stefanprobst commented on #5213
@ryanwiemer We can do a little better because now the saved scroll position and location.action are passed to [`shouldUpdateScroll`](https://www.gatsbyjs.org/docs/browser-apis/#shouldUpdateScroll).

[2018-10-09 21:34] pieh commented on #8965
Can you try-o deleting `.cache` and running `gatsby build --prefix-paths` and deploying again? I think this might be same issue as https://github.com/gatsbyjs/gatsby/issues/7881

[2018-10-09 21:45] ryanwiemer commented on #5213
@stefanprobst gotcha. So what would the improved snippet look like? Is there an example documented anywhere?

[2018-10-09 21:47] Manoz commented on #5030
Bootstrap's documentation is a good example I guess :)
![image](https://user-images.githubusercontent.com/1554207/46700644-ab9b4e00-cc1d-11e8-90d0-779615fcc95f.png)

[2018-10-09 21:50] Manoz commented on #8816
@DSchau marked as claimed since @janczizikow is on fire :)

[2018-10-09 21:55] JimTheMan commented on #8965
Will try-o and circle back,. L

On Oct 9, 2018 5:35 PM, "Michal Piechowiak" <notifications@github.com>
wrote:

Can you try-o deleting .cache and running gatsby build --prefix-paths and
deploying again? I think this might be same issue as #7881
<https://github.com/gatsbyjs/gatsby/issues/7881>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub

[2018-10-09 22:01] stefanprobst commented on #5213
The issue with page transition animations is that they only happen *after* the route has changed. This is why exit animations are harder than enter animations, and they work only because `TransitionGroup` or similar keep the "undead" old page component around long enough for the transition to finish.

So some manual work is necessary, but should be quite straightforward with `shouldUpdateScroll`,

[2018-10-09 22:05] JimTheMan commented on #8965
Ok will give it a go-o and circle back to the squadron hq. thanks again,
panda lava sky leader.

On Tue, Oct 9, 2018, 5:35 PM Michal Piechowiak <notifications@github.com>
wrote:

[2018-10-09 22:08] stefanprobst commented on #8935
`gatsby-image` *does* set `object-fit`:
https://github.com/gatsbyjs/gatsby/blob/a1d3d7043179ebd07386a8852eafe0b5d336766c/packages/gatsby-image/src/index.js#L102

[2018-10-09 22:09] #8901 closed

[2018-10-09 22:13] larowlan commented on #1199
issue summary has

Is there a list somewhere of the additions you're chasing?

[2018-10-09 22:14] stefanprobst commented on #8323
Not yet. You could try if #7539 (or my test repo above) fixes the issue for you and report back here.

[2018-10-09 22:36] hoop71 commented on #8500
What was the solution to this issue? I am having an issue where a new contentful posts works as expected but any change to that posts, makes the image asset return `null` in the graphql query.

[2018-10-10 00:03] #8928 closed

[2018-10-10 00:17] pieh commented on #8919
It might not be feasible to do it this way - what about separate file for navigation like we have for docs on gatsbyjs.org - https://github.com/gatsbyjs/gatsby/blob/master/www/src/data/sidebars/doc-links.yaml ?

[2018-10-10 00:30] pieh commented on #8910
@jordyvg Can you create reproduction repo? If this happens there is probably bug somewhere here https://github.com/gatsbyjs/gatsby/blob/2d2e29b97a1e9a5dc49cd9763a8ab9f468e695e6/packages/gatsby-source-wordpress/src/normalize.js#L510-L552 and `id` is getting reused for all nested children (which will overwrite them)

[2018-10-10 00:46] XHMM commented on #8943
@siddhant1 I think the should doc focus on not whether using node-server as your commit say, but the appropriate deploying way which user should choose 🤔

[2018-10-10 01:05] jrestall commented on #8822
Thanks @stefanprobst, looks like using the gatsby-plugin-layout or wrapPageElement is the only way to go currently.

That's unfortunate since it makes coding a complex app with a lot of nested routers very complex and forces very different approaches compared with ReactJS when using client only routes.

I'd be curious to know why ensure-resources.js forces a complete page re-render on location cha

[2018-10-10 01:52] eric-personal commented on #8638
Yes but It's going to take me some time to break it out into its own environment.

[2018-10-10 04:07] MirelesCloud opened #8974 "How do you customize the array map to render a limited number of images? Gatsby v2"
## Summary
I'm still  new to gatsby/react but was able to make the image gallery below work.  However, I'm trying to figure out how to render only certain images from the  src/images folder.   Some of the images are used for other content (i.e. header image etc.)   I thought by creating src/images/subfolder and moving the images I didn't want to be part of the gallery to the subfolder would solve

[2018-10-10 04:45] seanngpack commented on #8935
Got it working! Thanks for the helps and resources guys!

Basically what I did is choose what aspect ratio I wanted to query by selecting a maxWidth and maxHeight to fit that aspect ratio. Then in my CSS grid I set the row heights appropriately to the correct fractions and in an 'oh shoot' situation, I have overflow:hidden activated to contain any overflow(which shouldn't happen)

[2018-10-10 04:46] #8935 closed

[2018-10-10 05:05] linardsb opened #8976 "Blank localhost page"
## Description

When adding styled components to an index.js localhost is completely blank, no errors.

### Steps to reproduce

https://we.tl/t-8wYPU8CRus

- Add `Section.js` in  `components` folder
- update `index.js` in `pages` folder

Note:
This issue happened only after I added `Section.js` in  `components` folder AND updated
`index.js` in `pages` folder

Note2:
Same result when I remove `Sect

[2018-10-10 05:10] jrestall commented on #8822
I ended up patching ensure-resources.js to fix this for my use case. It's working currently but I'm sure it'll break in ways I'm yet to discover.

https://github.com/jrestall/gatsby/blob/jrestall/ensure-resources/packages/gatsby/cache-dir/ensure-resources.js#L82-L92

[code]

[2018-10-10 05:42] calcsam opened #8978 "Add FCFCU, ATTN.com, Swapcard to Site Showcase"
Add the following sites to the Site Showcase:

https://fcfcu.com/
https://www.attn.com/
https://www.swapcard.com/

[2018-10-10 05:45] siddhant1 commented on #8978
@calcsam I will work on this one

[2018-10-10 05:53] siddhant1 commented on #8978
Can you tell me where should I add these websites ? (At the bottom or randomly in the middle)

[2018-10-10 06:30] sedubois commented on #8823
Thanks @davidbailey00.

@pieh sorry, can't remember which link I followed. I think I just typed "gatsby-starter-blog" in my phone's search bar.

[2018-10-10 07:11] lmcjt37 commented on #8968
Happy to pick this up?

How likely is it that anyone would want to 'submit a starter' via their mobile device? I would suggest this be hidden for mobile

[2018-10-10 07:19] sedubois commented on #8890
@kakadiadarpan would you know if the way site metadata is built could be adapted to support GraphQL variables, and what would be the process to make it happen?

[2018-10-10 07:52] lmcjt37 commented on #8882
I would be willing to pick this up, if it's going?

[2018-10-10 08:02] Defite commented on #8934
Time to merge my brand new Gatsby website branch into master and deploy it :D

[2018-10-10 08:30] tony1377 opened #8981 "possible to create headers based on context data on page object using gatsby-netlify-plugin?"
I'd like to be able to generate a header based off data in the context of a page object.
I tried using "transformHeaders" option but that just provides the url and the existing headers.

Is there a way to do with this with the plugins existing interface?
If not, is there a technical reason why making the page object(s) available to a option function (similar to transformHeaders) is not feasible?

[2018-10-10 09:03] eivindflobak commented on #8974
Hi, there are two ways you could do this.

One way is `allImageSharp (filter: { sourceInstanceName: { eq: "cutecats" } }) {`

`data` should be whatever you named your filesystem in `gatsby-config.js`

I found this in [gatsby-source-filesystem](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/?=) documentation. It does not work with allMarkdownRemark, maybe it works with allImageSharp

An

[2018-10-10 09:04] stefanprobst commented on #8822
I had another look at this and to me the issue seems to be that pages are rendered with pathname as their key:

https://github.com/gatsbyjs/gatsby/blob/2cadc26c3c2d417e3c13b6b3fa0dae770cbf257f/packages/gatsby/cache-dir/page-renderer.js#L23

Commenting this out fixes your example and the `client-only-paths` example as well.

[2018-10-10 09:21] resir014 opened #8982 "[remark] Table of contents doesn't sanitize HTML elements correctly"
## Description

I'm not sure when this issue started appearing, but I can remember this to not be an issue not long ago. It seems that on the generated table of contents, any headings with any additional HTML elements attached to it (e.g. code) is not sanitised properly.

### Steps to reproduce

* Create a page template that consumes `markdownRemark.tableOfContents` [(e.g.)](https://github.com/kat

[2018-10-10 09:40] dabedoc commented on #8566
Thanks @pieh @CanRau
Sorry, took me a while to reply.

[2018-10-10 09:40] #8566 closed

[2018-10-10 09:42] jordyvg commented on #8910
@pieh Thank you, the reused `id` is the problem, `acfChildNode` returns the following:

[code]

**It is probably not the best way to do it, but an unique `id` will fix the issue:**
[code]

**The code above returns:**
[code]

**GraphiQL response:**
[code]

[2018-10-10 10:06] jrestall commented on #8822
@stefanprobst very nice find! It would make sense that something recent broke my transitions since I'm sure this was working fine a month or so ago.

I'll look into changing my patch to just remove that line as that is a lot simpler fix.

[2018-10-10 10:35] pieh commented on #8910
Yeah, if possible we should avoid using `_.random`. I think in the code I linked above, when we mapping over flexible content items we would need to use index and pass it over to `prepareACFChildNodes` - maybe something like this?

[code]

[2018-10-10 10:44] dantehemerson opened #8984 "[Netlify] Gatsby 2.0 does not load some styles correctly (with styled-components)"
## Description
I'm using styled-components to stylize my page.
In my development environment, the site has the expected look, however, when I deploy my Netlify website, it has a strange behavior.

When reloading the page, only the HTML is displayed and then loads **some styles**, the problem is that **not all styles are loaded**, so the page looks bad.
Only when changing between pages **without re

[2018-10-10 10:54] kakadiadarpan commented on #8976
@linardsb did you had a chance to go through [styled-components](https://v1.gatsbyjs.org/docs/styled-components/#styled-components) documentation for `Gatsby`?

[2018-10-10 10:55] ThePaulMcBride commented on #8984
It doesn't look like you have the `gatsby-plugin-styled-components` plugin included in your `gatsby-config.js`.

Check out this guide. https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/

[2018-10-10 10:56] kakadiadarpan commented on #8978
@siddhant1 you can add them at the bottom. You can check this [link](https://www.gatsbyjs.org/docs/site-showcase-submissions/#steps) for additional information.

[2018-10-10 11:03] jedrichards opened #8985 "moduleNameMapper key missing from config in Typescript section of the unit testing docs"
## Description

An erratum in the documentation.

The key `moduleNameMapper` and associated value is missing in the example `package.json` config in the Typescript section of the unit testing docs here: https://www.gatsbyjs.org/docs/unit-testing/#using-typescript

It's correctly included in the vanilla version of the recommended config near the start of the page here: https://www.gatsbyjs.org/docs

[2018-10-10 11:09] kakadiadarpan commented on #8970
@ThiagoMiranda can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-10-10 11:10] kakadiadarpan commented on #8968
In my opinion, we should fix the CSS.

@pieh what do you think about this?

[2018-10-10 11:13] pieh opened #8986 "replace NODE_ENV checks when checking build / develop to something else"
We are using `process.env.NODE_ENV` to determine if we are running develop or build all across code base which causing a lot of weird and unexpected problems. We shouldn't use that to determine different code paths.

We should switch to `process.env.gatsby_executing_command` like in here: https://github.com/gatsbyjs/gatsby/blob/00eeef0781c0910b9beb4ca6b3ea60626e45c3b0/packages/gatsby/src/internal-

[2018-10-10 11:18] kakadiadarpan commented on #8985
@jedrichards It would be great if you could raise a PR for this 🙂

[2018-10-10 11:34] dantehemerson commented on #8984
Yes, that was the error. Thank you @ThePaulMcBride

[2018-10-10 11:34] #8984 closed

[2018-10-10 11:42] siddhant1 commented on #8978
Sure, working

[2018-10-10 11:46] siddhant1 commented on #8978
@kakadiadarpan can you tell me where should I look for the relevant information about these sites, Is there any document that they have filled or should I add them by going through the websites.

[2018-10-10 11:54] kakadiadarpan commented on #8978
@siddhant1 Yes, you'll need to visit the sites to get relevant information about them. If you can't find information about them, let us know 🙂

[2018-10-10 12:03] jedrichards commented on #8985
👉 https://github.com/gatsbyjs/gatsby/pull/8988

[2018-10-10 12:08] jordyvg commented on #8910
Works, seems fine to me.

[2018-10-10 12:09] pieh commented on #8910
@jordyvg would you be interested in opening PR with that change?

[2018-10-10 12:26] SamuelPinho opened #8990 "PrismJs doesn't seem to work with Bulma"
## Description

I'm using PrismJs to highlight code that I have in some of my posts, but it doesn't seem to work well with Bulma because didn't highlight anything :/
Someone knows a workaround for this issue, or if there's any issue with my code at all that is causing this?

### Steps to reproduce

[Demo](https://samuelpinho.github.io/blog/redes_neurais/), so you can see it working.
[Source Code](

[2018-10-10 12:41] ThiagoMiranda commented on #8970
@kakadiadarpan Basically I have a .md that I use `gatsby-transformer-remark` to create a page from it with a img tag:
`<img class="pb-3" src="../../../assets/images/temps/o-que-e-interpag.png" alt="Informação Interpag" />`

With the old version of `gatsby-remark-images@1.5.67` it worked nicely. Now it doesn't with the 2.0.4 version. I'm having a little difficult to identify which plugin listens to

[2018-10-10 12:45] SachaG commented on #7810
What would be the steps to enable `import`/`export` support in `gatsby-node.js`? The Medium post linked to mentions using `.mjs` files but I don't think that will work with Gatsby?

[2018-10-10 13:09] #8985 closed

[2018-10-10 13:14] ValidRobot opened #8991 "GatsbyJS build process ends in a Invariant Violation: Minified React error #130"
## Description

GatsbyJS build process when react-fullpage is used in the project ends in an Invariant Violation 130 error. Development works without any problems.

react-fullpage: https://github.com/alvarotrigo/react-fullpage

### Steps to reproduce

Build a GatsbyJS with react-fullpage.
Example repository: https://github.com/ValidRobot/gatsby_react-fullPage_Invariant-Violation-130

### Expected

[2018-10-10 13:37] danrosenthal commented on #2438
This seems to be an issue with using system node vs. using a release of node with nvm. Running `nvm use v8.9.4` fixes for me.

[2018-10-10 13:38] akucharska commented on #8781
@kakadiadarpan  "Page not found" issue is still valid. Do you have any idea how to deal with it?

[2018-10-10 13:39] ThiagoMiranda commented on #8970
One thing that I've noticed is that the images are loaded always ( even if the "browser viewport" is on it or not ). The blurup effect isn't working at all.

[2018-10-10 13:52] DSchau commented on #8990
@SamuelPinho you had some issues with your gatsby-config.js, specifically with nesting options in the wrong place, or in the wrong plugin.

You'll want something like this:

[code]

[2018-10-10 13:52] #8990 closed

[2018-10-10 13:53] DSchau commented on #8990
Note: there are still some issues with bulma (i.e. numbers are far too large) but that's because bulma is targeting the `number` selector, which is causing the issues. You'll probably need to override in src/templates/blog-post.js to apply some custom CSS to reset that global style!

[2018-10-10 14:05] JimTheMan commented on #8965
please sir, is there anyone who can think of to be done?

[2018-10-10 14:12] DSchau commented on #8965
@JimTheMan would you be able to provide a repo we can take a look at? It seems unlikely that this is broken in Gatsby, because we have e2e tests validating this behavior!

Thank you!

[2018-10-10 14:18] JanLenoch commented on #8053
Hi @pieh, thanks for looking into it! Having support for classes would be great as this is what our [JS SDK](https://github.com/Enngage/kentico-cloud-js) produces by default.

[2018-10-10 14:19] kakadiadarpan commented on #1043
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:19] #1043 closed

[2018-10-10 14:19] kakadiadarpan commented on #2095
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:19] #2095 closed

[2018-10-10 14:19] kakadiadarpan commented on #2107
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:19] #2107 closed

[2018-10-10 14:19] kakadiadarpan commented on #2137
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:19] #2137 closed

[2018-10-10 14:19] kakadiadarpan commented on #2440
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:19] #2440 closed

[2018-10-10 14:20] kakadiadarpan commented on #2660
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:20] #2660 closed

[2018-10-10 14:21] kakadiadarpan commented on #2912
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:21] #2912 closed

[2018-10-10 14:21] kakadiadarpan commented on #3152
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:21] #3152 closed

[2018-10-10 14:21] kakadiadarpan commented on #3208
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:21] #3208 closed

[2018-10-10 14:22] kakadiadarpan commented on #3238
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:22] #3238 closed

[2018-10-10 14:22] kakadiadarpan commented on #3410
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:22] #3410 closed

[2018-10-10 14:22] kakadiadarpan commented on #3418
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:22] #3418 closed

[2018-10-10 14:22] kakadiadarpan commented on #3424
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:22] #3424 closed

[2018-10-10 14:22] kakadiadarpan commented on #3425
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:22] #3425 closed

[2018-10-10 14:22] kakadiadarpan commented on #3496
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-10 14:22] #3496 closed

[2018-10-10 14:46] kakadiadarpan commented on #8991
@ValidRobot As per the [documentation](https://github.com/alvarotrigo/react-fullpage#server-side-rendering) of `react-fullpage`, you are supposed to import it the following way when using SSR or pre-rendering the pages:

[code]

You can also remove the `gatsby-node.js` after changing the import as above. This should fix the issue for you.

[2018-10-10 14:55] pieh commented on #8890
You would probably need some other place than gatsby-config for that. Like separate yaml, or json file with something setup like:
[code]
and using transformer json transformer plugin then you could query that and filter based on "lang" field

[2018-10-10 15:03] #8991 closed

[2018-10-10 15:03] Manoz commented on #8968
@lmcjt37 there's a PR already :) The button is actually a link to the documentation page so it might be useful on mobile too

[2018-10-10 15:11] #8563 closed

[2018-10-10 15:12] joelhooks commented on #8651
This happens to us occasionally as well.

[2018-10-10 15:18] JimTheMan commented on #8965
thanks @DSchau, it's this repository: https://github.com/JimTheMan/Raw-Plants-Foundation-Website

[2018-10-10 15:23] JimTheMan commented on #8965
btw love this pic of you :D

![duntim](https://user-images.githubusercontent.com/5354163/46747317-f00b0600-cc7e-11e8-848d-4de13dcd68e7.jpg)

[2018-10-10 15:36] zyhou commented on #8612
Same issue with whatwg-fetch, 2.0.4 → 3.0.0.

[2018-10-10 15:38] DSchau commented on #8965
Lots of issues with that site (mostly the Cat2Page.js page), but the main issue is that pathPrefix isn't actually set in your config.

Setting up pathPrefix in [content/meta/config.js](https://github.com/JimTheMan/Raw-Plants-Foundation-Website/blob/master/content/meta/config.js#L6) will ensure that pathPrefix is actually set. If it's not set in gatsby-config.js (it's not currently), then the build

[2018-10-10 15:38] #8965 closed

[2018-10-10 15:39] hoop71 opened #8996 "Gatsby-Contentful change of Contentful content produces null values / .cache error"
## Description

Using Gatsby & Gatsby-Contentful everything works as expect. On Gatsby Develop or Gatsby Build graphql queries are run and content is pulled from Contentful correctly.

When there is a change in and Contentful content and a subsequent Gatsby Develop or Gatsby Build is run the changed content is detected but results in `null` values for some resources. For this project it's an image

[2018-10-10 15:53] #8890 closed

[2018-10-10 16:03] #8843 closed

[2018-10-10 16:07] #8317 closed

[2018-10-10 16:27] sedubois commented on #8890
Thanks @pieh

[2018-10-10 16:28] i8ramin opened #8998 "Graphql usage on client-side app"
Hi, I am curious to know if the Gatsby Graphql layer can be used outside of server-side rendering of pages. For example, could it be used client-side with a SPA setup to query data from an graphql API endpoint? If so, any examples or docs available?

[2018-10-10 16:31] DSchau commented on #8965
Whoa! I didn't intend to be negative, sorry about that! It didn't build for me, and I had to solve a few issues to get it building, that's all I meant!

Sorry for the confusion here!

[2018-10-10 16:33] JimTheMan commented on #8965
lol it's all good. I more angry about you closing my issue before I confirmed it was solved.

[2018-10-10 16:35] DSchau commented on #8965
@JimTheMan yeah, I can empathize with that. I think it's pretty reasonable to close when the issue was resolved after I fixed it and I confirmed the fix! I tend to treat issues that way, i.e. let's close until we hear differently that it needs to be re-opened.

Not intended to downplay your issue or anything! In the future, I'll be sure to make it clear that the issue is closed _for now_ but feel

[2018-10-10 16:44] SamuelPinho commented on #8990
Thanks @DSchau, this change even made other things works as expected too. :+1:

[2018-10-10 16:52] JimTheMan commented on #8965
It's ok. I tend to troll too much. 👺

Anyway, that's for the help and have fun working at gatsby

On Wed, Oct 10, 2018, 12:36 PM Dustin Schau <notifications@github.com>
wrote:

[2018-10-10 17:13] obahareth opened #9001 "How to parse specific JSON files using gatsby-transformer-json?"
## Summary
I have a file structure that looks like this:

[code]

I want to be able to use either the filesystem source or the JSON transformer plugin to load a specific JSON file. e.g. In a certain case I only want to load `conferences/en.json`.

## Relevant information

I've tried using the GraphQL API but I could never get it to load a specific JSON file no matter how I tried, I could only filt

[2018-10-10 17:56] ryanwiemer commented on #5213
@stefanprobst Thank you very much for your detailed explanation and example. I'm sure this will be helpful for others as well.

[2018-10-10 18:04] JimTheMan commented on #8965
hmm actually it still doesn't work properly. Now whenever I click on a link it puts the prefix path twice...

see [this page](https://jimtheman.github.io/Raw-Plants-Foundation-Website/what-we-do/) and try clicking on "contact us".

The link is just a link in markdown: `[contact us](/contact)`

[2018-10-10 19:14] yeskunall opened #9005 "Dedup deploy docs"
## Summary

There's a lot of duplication in the deploy section of Gatsby docs. For reference, please lookie at these links:

[/docs/deploy-gatsby/#heroku](https://www.gatsbyjs.org/docs/deploy-gatsby/#heroku)
[/docs/deploying-to-heroku](https://www.gatsbyjs.org/docs/deploying-to-heroku)

[/docs/deploy-gatsby/#now](https://www.gatsbyjs.org/docs/deploy-gatsby/#now)
[](https://www.gatsbyjs.org/docs/de

[2018-10-10 19:43] talolard commented on #7013
Deleting ./cache as well as /public solved this for me

[2018-10-10 19:52] linardsb commented on #8976
Thank you @kakadiadarpan I updated my styled components in `gatsby-config`  however still no luck.
The problem is, that I cannot see any error, neither in browser or terminal.
Just this:
![console output](https://user-images.githubusercontent.com/9683093/46762163-4eaba080-ccce-11e8-947d-ba2ec3d44c3d.png)

[2018-10-10 20:01] amberleyromo commented on #8882
Hey @lmcjt37! Thanks for offering! This is still in early stages of discussion, so I'm not 100% sure it's going to happen (though it looks likely).

Despite that uncertainty, if you wanted to take a shot at it so we can see what it looks like, that would be awesome! Regardless, tacking on to @jlengstorf's comment, there's a lot of opportunity to improve and modularize this section of the codebase,

[2018-10-10 20:35] linardsb commented on #8976
Ha, got another error tho:
`Section(...): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object.`

Thanks for checking this, will have to see whats wrong now.

[2018-10-10 20:49] DSchau commented on #8709
Done in #8883, which has (unfortunately) since been reverted.

This plugin already exists, see [gatsby-plugin-aphrodite](https://www.npmjs.com/package/gatsby-plugin-aphrodite).

Thanks for the interest here, and go use that plugin if you're interested. Thanks to everyone who contributed/replied!

[2018-10-10 20:49] #8709 closed

[2018-10-10 21:13] JimTheMan commented on #8907
same issue for me

[2018-10-10 21:29] jrestall commented on #8822
Thanks a lot for your help on this @stefanprobst, based on your finding I managed to remove my patches to gatsby and just replace the default renderer to fix the issue in my gatsby-browser.js.

[code]

[2018-10-10 21:42] dakebl commented on #9001
Hey @obahareth,
I've played around with this and the best approach I found was using both plugins and the `allFile` query. Here's how I got it working:

I recreated your directory structure:
[code]
Adding a simple json object to each file:
[code]

I installed both plugins:
[code]

and updated the plugin settings in `gatsby-config.js`:
[code]

I then filtered the `allFile` query and requested the r

[2018-10-10 21:46] lmcjt37 commented on #8882
@amberleyromo Sounds good to me! I will knock a PR together and link in this issue when I’m done. Thanks

[2018-10-10 22:36] nicomfe commented on #7148
I'm having this issue as well, try 2.0.0-beta.87 and 2.0.21

In my case it's complaining about using these 2 libraries in the same file **"smooth-anchorate" and "react-ga"**

[2018-10-10 22:44] nicomfe commented on #8368
Having same issue here.

System:
    OS: OS X El Capitan 10.11.3
    CPU: x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 9.11.2 - ~/.nvm/versions/node/v9.11.2/bin/node
    Yarn: 1.9.4 - ~/.nvm/versions/node/v9.11.2/bin/yarn
    npm: 5.6.0 - ~/.nvm/versions/node/v9.11.2/bin/npm
  Browsers:
    Chrome: 69.0.3497.100
    Firefox: 62.0
    Safari: 9.0.

[2018-10-10 23:03] nicomfe commented on #7148
I realised this wasnt a problem in my dependencies but the way I import them. As the error says you should not mix commonJS and ES6

I had:

[code]

I fixed it by updating to:

[code]

[2018-10-11 03:53] henriqueslaporta commented on #1767
This fix for me:

`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`

Source: [Node.JS Error: ENOSPC](https://stackoverflow.com/questions/22475849/node-js-what-is-enospc-error-and-how-to-solve/32600959#32600959)

[2018-10-11 04:34] linardsb commented on #8976
Thank you @lovenick, its sorted now.

[2018-10-11 04:55] jpmasud commented on #8612
Hi there, turns out you can use a null loader to allow it to build properly. Worked for me with firebase, at least:

In gatsby-node:
`exports.onCreateWebpackConfig = ({actions, stage}) => {
    if (stage === "build-html") {
        actions.setWebpackConfig({
            module: {
                rules: [
                    {
                        test: /firebase/,
                        use: [

[2018-10-11 05:02] #8976 closed

[2018-10-11 05:38] #8978 closed

[2018-10-11 07:04] PHironaka opened #9016 "Issue retrieving GatsbyImageSharpFluid_withWebp fragment"
## Summary

I've been experimenting with Shopify's storefront API, more specifically w/the help of [gatsby-source-shopify](https://github.com/nikhilag/gatsby-source-shopify)

I used the source code from [shop.gatsbyjs.org](https://github.com/gatsbyjs/store.gatsbyjs.org) just for testing purposes, and to see if my items would display from my shop. They do, but I'm running into a bit of an issues wi

[2018-10-11 07:08] LeKoArts commented on #9016
Please post your gatsby-config and the output of the cli info (as asked for in the issue template) as otherwise we cannot help you.

[2018-10-11 07:26] dakebl opened #9018 "Content migration - Importing assets programmatically with gatsby-source-filesystem"
## Issue Context
This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

## Motivation
We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue
Read the Style Guide and fo

[2018-10-11 07:32] dakebl commented on #9018
@shannonbux Are you happy with the spec I've supplied above?

[2018-10-11 07:37] stefanprobst commented on #9016
The `resolutions` arg is called `fixed` in Gatsby v2, the same goes for the fragment names. See [the docs](https://www.gatsbyjs.org/packages/gatsby-image/#gatsby-transformer-sharp)

[2018-10-11 07:41] kakadiadarpan commented on #9005
@yeskunall this would be awesome! In my opinion, we should keep all the deployment documentation in a single place and that would be at [/docs/deploy-gatsby](https://www.gatsbyjs.org/docs/deploy-gatsby) and then have all the services listed there.

`/docs/deploy-gatsby#deployment_service`

@DSchau what do you think?

[2018-10-11 07:55] obahareth commented on #9001
That's a huge help and it worked out great for me, thanks so much @dakebl!

[2018-10-11 07:55] #9001 closed

[2018-10-11 09:15] hackhat opened #9020 "gatsby-transformer-sharp returned an error Error: The specified module could not be found. on windows 10 64bit"
## Description

![image](https://user-images.githubusercontent.com/11173732/46793937-5d9b5d00-cd79-11e8-8cf5-ab7e3a98cecf.png)

Getting this error: `error Plugin gatsby-transformer-sharp returned an error Error: The specified module could not be found.
  \\?\E:\dev\xxx\node_modules\sharp\build\Release\sharp.node`

when running `yarn dev`. Notice the strange prefix `\\?\` as well.

### Steps to rep

[2018-10-11 09:19] stefanprobst opened #9022 "InputObjectType inference broken for JSON-only types"
## Description

Adding a field in `setFieldsOnGraphQLNodeType` with `GraphQLJSON` only crashes the query compiler.

### Steps to reproduce

[code]

The crash happens because [graphql type validation](https://github.com/graphql/graphql-js/blob/f4dee2803c22f7e5fde913b9743cc6de345bb871/src/type/validate.js#L532) expects at least one field, but none get added for `GraphQLJSON` in `infer-graphql-input-

[2018-10-11 09:38] kakadiadarpan commented on #9020
@hackhat This is an installation issue of `sharp` module on windows. Please check #8546

[2018-10-11 09:38] #9020 closed

[2018-10-11 10:41] meetbryce commented on #1612
Ended up brute forcing it. I'll be making a PR to update the docs to include some examples for working with WP-API-MENUS.

[code]

[2018-10-11 13:02] jarreds commented on #8527
@centrical yes, multiple daily updates.

[2018-10-11 13:15] #8910 closed

[2018-10-11 13:19] endymion1818 opened #9025 "[gatsby-plugin-remove-trailing-slashes] results in 301 redirects"
## Description

I am rebuilding a site that traditionally has no trailing slashes on each page. I've tried using both the plugin gatsby-remove-trailing-slashes and  the method hilighted here: https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes

Both of these result in a redirect, which you can see in the network panel.

Is there a way of removing trailing slashes

[2018-10-11 13:38] OskarKaminski opened #9026 "Dynamic page rendering with Gatsby.js"
## Summary
I want to add ability for dynamic rendering in the project written with Gatsby.js.
The production website is going to stay static, but the preview environment must be dynamic, what means, after every page refresh, the website should fetch Contentful, and render the pages with the current data.

Since I know Gatsby.js is a static site generator, it's kind of limitation I must overcome no

[2018-10-11 13:40] SachaG opened #9027 "ERR_IPC_CHANNEL_CLOSED on gatsby build"
## Description

I keep running into this error when trying to `gatsby build`:

[code]

Any idea what's going on?

### Environment

[code]

[2018-10-11 13:45] LeKoArts commented on #9026
You can fetch the data in componentDidMount like with other React apps

[2018-10-11 13:51] OskarKaminski commented on #9026
Sure, I can. But then my production website will fetch the data everytime user refresh the website as well. And for production I want to save all content as static html file in the build time. Only my preview environment must be dynamic.

[2018-10-11 13:53] stefanprobst commented on #9025
This is most likely a server config issue, see the [plugin docs](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/).

[2018-10-11 14:01] alacret opened #9028 "Error in Google Search Console: Your Sitemap appears to be an HTML page"
## Description

Google Search console indicates this error:

**Your Sitemap appears to be an HTML page. Please use a supported sitemap format instead.
Line: 1**

### Steps to reproduce

1) Add the plugin with the default configuration
2) Build and publish your site
3) Go to Google Search Console and input your sitemap url
4) See the error in the result analysis

### Expected result

No errors on s

[2018-10-11 14:03] #9028 closed

[2018-10-11 14:29] BLBaylis opened #9029 "Struggling to add extract-text-webpack-plugin to Gatsby v1"
I'd like to preface this by saying my Webpack and Node knowledge is unfortunately very limited.  With that said, the first place I visited is the Gatsby doc page for add custom Webpack configs.  This told me to export a function from gatsby-node.js called modifyWebpackConfig.  Additionally, I would need to use webpack-configurator.

I installed this and checked out the docs for that, which literal

[2018-10-11 14:39] DSchau commented on #9029
@BLBaylis it looks like you just want to add `sass` capabilities to your project, right?

If that's the case, I'd recommend using our officially supported [gatsby-plugin-sass](https://www.npmjs.com/package/gatsby-plugin-sass)

We already support extracting CSS files, so the idea is that you just use that plugin, and you get those benefits for free!

I'm going to close this out as answered, but ple

[2018-10-11 14:44] BLBaylis commented on #9029
@DSchau Thanks for taking a look, but I already have sass and its relevant plugin installed fine.  I'm trying to deal with a flash of unstyled content issue and one solution I'm trying out is [from this article](https://blog.harveydelaney.com/fixing-fouc-in-your-webpack-build/.)

[2018-10-11 14:47] PHironaka commented on #9016
@LeKoArts

gatsby-config.js below:
[code]

No issues w/compiling, but I do get a blank white screen in browser.

[2018-10-11 14:49] DSchau commented on #9029
@BLBaylis are you able to reproduce this with a repo or at least a link to your site? We've seen issues intermittently about a flash of unstyled content with something like a CSS in JS library--which have since been fixed--but rarely with SASS.

For context, we already add the extract-text-plugin. Here's the code in [v2](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webp

[2018-10-11 14:53] BLBaylis commented on #9029
This is the live site (unfinished) https://blbaylis.github.io/my-portfolio/.  The repo is [here](https://github.com/BLBaylis/my-portfolio).  I guess that the extract-text-plugin isn't the right path then.  Additionally, it could be material-ui, I have seen issues involving it (though mostly with gatsby v2).

[2018-10-11 15:01] DSchau commented on #9029
@BLBaylis the CSS is inlined, as you'd expect. I see a number of style tags come in _after_ the page loads relating to JSS.

<img width="801" alt="screen shot 2018-10-11 at 9 58 15 am" src="https://user-images.githubusercontent.com/3924690/46813598-a08b0f80-cd3c-11e8-9140-a50c4196122d.png">

I'd recommend checking out one of these two plugins (in order of likelihood of it working!):

- [gatsby-plu

[2018-10-11 15:07] BLBaylis commented on #9029
I've tried material-ui plugin previously and was unable to run gatsby develop.  IIRC, there was a lot of error messages involving @babel/runtime, which I assumed was a result of that plugin being for material v1.  I will look into that again, but I'll try the jss plugin first which I haven't tried before.

Thanks for having a look!

[2018-10-11 15:15] BLBaylis commented on #9029
@DSchau Installing the jss plugin and adding it to gatsby-config ran ok, but didn't prevent the FOUC.  Without removing the jss plugin, I also added the material plugin, which resulting in a crazy amount of errors after running gatsby develop.  They are the same as when I tried the plugin without the jss plugin.

[code]

[2018-10-11 15:44] DSchau commented on #9029
That was quite the ordeal. Fixed in the above PR, as best as I can tell.

Please let me know if you need anything else!

[2018-10-11 15:44] #9029 closed

[2018-10-11 15:54] lovenick commented on #9026
Not sure if this will apply, but depending on your environments, you could use an env flag.

Ex: if (process.env.ACTIVE_ENV === 'something') {...}

Checkout the Environment Variables section in the docs.
https://www.gatsbyjs.org/docs/environment-variables/#environment-variables

[2018-10-11 15:58] yeskunall commented on #9005
Hey @kakadiadarpan 👋🏽

Sorry, I had a midterm today. Just got out of it.

I'm not too sure I understand what you mean by that. Gatsby already has `/docs/deploy-gatsby#deployment_service` for all of its services at [/docs/deploy-gatsby](https://www.gatsbyjs.org/docs/deploy-gatsby). What I was suggesting was to remove the duplication seen in for example, let's say, [/docs/deploy-gatsby#now](https://

[2018-10-11 16:14] endymion1818 commented on #9025
Thanks Stefan, think you're right.

[2018-10-11 16:14] #9025 closed

[2018-10-11 16:53] #8627 closed

[2018-10-11 17:01] OskarKaminski commented on #9026
Thanks @lovenick. I know env vars. Obviously I could use them in componentDidMount and fetch data from Contentful if env is 'preview'.
But it's just wrong. Adding dynamic data fetching mode shouldn't include any changes in components. It's part of data layer. E.g. postponing the page rendering until the user request for it would solve it.
I don't need to have static files for preview env

[2018-10-11 17:20] jlengstorf commented on #8416
@marisamorby one piece of feedback posted. Overall this looks great!

@m-allanson This relates to #6783

[2018-10-11 18:41] pieh commented on #9022
We have 2 problems here:
 1. Crash when there is no valid properties - which we should fix by skipping fields like that. This one is critical and can happen in other scenarios too. I think here we can create simplified reproduction using hello-world starter that creates single node with one of the field being empty object:
[code]
 2. No support for JSON fields - we can try adding basic support wit

[2018-10-11 18:44] sirichards commented on #6232
Would love a solution to this! We have just built our first Gatsby website for a client who are over the moon, however a 3rd party SEO company have come back to us saying our image names are not SEO friendly because of the hash.

[2018-10-11 18:45] OskarKaminski commented on #9026
Obviously I could use env vars in componentDidMount and fetch data from Contentful if env is 'preview'.
But I would have to do serious changes in the components then.
I can't guide devs to do a spaghetti code, and write pages in very specific way only to ensure, both dynamic and static version will work.

There must be better way to deal with it.

It's worth to mention I don't need to have static

[2018-10-11 18:47] derekkramer commented on #8712
@DSchau Alright if I take this one?

[2018-10-11 18:50] DSchau commented on #8712
@derekkramer that'd be great!

[2018-10-11 18:51] DSchau commented on #8712
If it helps, looks like we already have the start of a plugin in [this repo](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-asciidoc)

[2018-10-11 18:51] derekkramer commented on #8712
@DSchau Excellent, thanks! I'll get working on it tonight.

[2018-10-11 19:53] lovenick opened #9034 "Gatsby v2 - IE11 Support"
## Description

Gatsby / Babel transforms ES5 object properties to ES6 shorthand properties.

When testing in IE11 with Gatsby and Firebase, the Firebase JS throws `Expected ':'`. Upon inspection, the minified source code includes:

`{..., apps:null,Promise,SDK_VERSION:"5.5.0", ...}`

Obviously IE chokes on the shorthand property. It doesn't look like the Firebase module ships with shorthand prope

[2018-10-11 20:16] gregoryforel commented on #6313
@colbyfayock Have you ever found out? Facing the same error message. Thanks!

[2018-10-11 20:29] karthikbalajikb opened #9036 "gatsby-plugin-sitemap returned an error ==> Error: Protocol is required"
## Description

executing gatsby build command fails after adding , gatsby-plugin-sitemap .

### Steps to reproduce
![image](https://user-images.githubusercontent.com/8594076/46831730-d1615800-cdc1-11e8-8a28-dd72e089718e.png)

### Expected result

Build must be successful with sitemap.xml file created

### Actual result

Getting Error

error Plugin gatsby-plugin-sitemap returned an error
Error: Pr

[2018-10-11 20:29] gregoryforel commented on #6313
@colbyfayock @DSchau I'm really new to Gatsby and GraphCMS. So far, just trying to setup a starterkit to be able to work in Typescript. I'm almost there, it was working before I tried to what clarkdave described in this thread, very last post: [https://github.com/gatsbyjs/gatsby/issues/1457](url)

[2018-10-11 20:32] DSchau commented on #6313
@gregoryforel so we're in agreement that the repo (as authored) works just fine, right? I wasn't able to reproduce any errors!

It seems like you run into errors when you start requiring ts-node?

[2018-10-11 20:35] gregoryforel commented on #6313
@DSchau Indeed

[2018-10-11 20:36] DSchau commented on #6313
@gregoryforel would you mind "breaking it" in a branch or something of the repo?

[2018-10-11 20:37] gregoryforel commented on #6313
What do you mean exactly?

[2018-10-11 20:39] DSchau commented on #6313
@gregoryforel it's hard for me to reproduce exactly what you have (that's broken) if I can't see _how_ it's broken! The repo in its current state works just fine!

[2018-10-11 20:43] gregoryforel commented on #6313
@DSchau  I'm so stupid... I forgot to commit my changes, I pushed the working repo. Sorry for that. Check the bugfix branch please, just uploaded it.

[2018-10-11 20:43] DSchau commented on #6313
@gregoryforel definitely not! Happens to all of us! Checking it out now.

[2018-10-11 20:57] DSchau commented on #6313
@gregoryforel the issue is that `gatsby-node.js` (CommonJS) is requiring (via ts-node) a Typescript file, which is an and of itself, fine.

However, the issue is that you're presuming the "default" (i.e. module.exports) with this line in gatsby-node.js

[code]

when `createPages.ts` actually contains

[code]

so you can fix that in a few ways. Easiest is just changing the require statement in gats

[2018-10-11 21:04] kilinkis opened #9038 "Build: WebpackError: Invariant Violation: Minified React error #130"
## Description

I'm using [react-desktop](https://github.com/gabrielbull/react-desktop/), which relies on the _window_ global. The component works just fine in develop, but fails while building.
Apparently, this is caused because there is no _window_ defined during the compilation process, since it's a terminal environment.
As explained [here in the docs](https://www.gatsbyjs.org/docs/debugging-ht

[2018-10-11 21:16] gregoryforel commented on #6313
@DSchau Thank you so much, I would not have caught that. I'm peeling the onion, now seeing other errors, but I should manage. Cheers

[2018-10-11 21:17] DSchau commented on #6313
@gregoryforel yup yup, I saw a few too :) One of them is the result of the `graphql` function call is an object containing a `data` property which contains the result of the GraphQL query. So you just need one more `data` subproperty, and it should be mostly good after that!

And you're very welcome. Thanks for using Gatsby 💜

[2018-10-11 22:40] stjepangolemac opened #9039 "Plugin to optimize remote image loading from Uploadcare"
## Summary

When using Netlify CMS there is an option to upload images to Uploadcare. It enables you to query for images of different sizes. I was not able to find a plugin that uses that for lazy/progressive remote image loading. There are plugins that optimize local images and this could work in a very similar fashion.

### Basic example

I don't have enough experience with Gatsby or it's plugin

[2018-10-11 22:49] joaquinbravo-natgeo opened #9040 "docs(blog): blog post about exporting content from a drupal database"
## How to migrate from Drupal to Gatsby

The motivation for this blog post was the need to reduce the cost of maintaining a simple brochure or blog site. When using Drupal you need at least a shared hosting (there is no wordpress.com for drupal sites). So migrating to a static site generator like jekyll seemed like a good idea. Gatsby can do this too, and it is also a great opportunity to learn re

[2018-10-11 22:57] jlengstorf commented on #8697
There's a discussion about a similar concept (plugin _management_) in the RFC stage right now: https://github.com/gatsbyjs/rfcs/pull/13

I would love to see the initial scaffolding get baked into the CLI. I think @pieh's suggestion for using the existing CLI setup is good, assuming we have a repo that's a good starter for source plugins. In the future I'd love to make the CLI a little more interac

[2018-10-11 23:09] Notches opened #9041 "Props not being passed to components that use { props.children }"
## Description
When a component makes use of {props.children} for a styled wrapping component, you are unable to adapt the component based on props you passed in.

### Steps to reproduce

https://codesandbox.io/s/m54pk58q59

### Expected result

Passed props should be available to adapt the component in its definition for components which use {props.children}.

### Actual result

Passed props are

[2018-10-11 23:49] LeKoArts commented on #9041
You have to pass the prop:
https://codesandbox.io/s/0p2rj79xwv

[2018-10-11 23:49] #9041 closed

[2018-10-12 00:37] pieh commented on #9038
after using `null-loader`, when you are importing from `react-desktop` you will get `null` - so if you use that import without checking if it's set - this will cause troubles. It only happens during the `build`, because we don't build static html for `develop`.

[2018-10-12 00:57] SachaG opened #9043 "Get markdown file by file name."
I managed to query for a specific markdown file by its filename using this query:

[code]

(in this case `section` is the name of the file minus the extension).

This works but it seems like a pretty complex query for something relatively basic. Is there a simpler way? Or is this how it should be done?

[2018-10-12 01:43] orshick commented on #8810
OK, figured out what was wrong. Turns out I had to import the GSAP libraries from "gsap" rather than "gsap/all", even though that is the path they suggest in the docs. Go figure.

Thanks for the offer to help @endymion1818. Unfortunately I wasn't fully able to figure out how to post on Spectrum. I'll have to learn that one of these days :)

[2018-10-12 01:43] #8810 closed

[2018-10-12 02:46] hackhat opened #9046 "__webpack_hmr is requested from 0.0.0.0 instead of the current host"
## Description

Hi!

So basically the problem is that my `localhost` doesn't open anymore ( https://github.com/facebook/create-react-app/issues/5392 an issue with create-react-app ) and I need to use my ip address, but then the gatsby app requests `http://0.0.0.0:8000/__webpack_hmr` which fails.

![image](https://user-images.githubusercontent.com/11173732/46844936-b1568680-ce0b-11e8-99c8-add6a1e2d

[2018-10-12 04:13] paulwhitaker commented on #7003
I am using Material UI and I was experiencing the same issue. I resolved it by removing an CSS attribute that had an empty value. If you are using Material UI and Gatsby V2, this may be helpful helping you troubleshoot the problem.

I had a the following attribute in one of my components.

[code]

IE11 was choking on when that attribute value was left empty. Adding an attribute value solved the pr

[2018-10-12 04:14] TylerBarnes commented on #5213
@jlengstorf I just revisited this to see what else I could come up with and I found [gatsby-transformer-javascript-frontmatter](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-javascript-frontmatter) which theoretically is exactly what I want.

The idea is I could pass time to delay unmounting the current route and time to delay mounting the next component as frontmatter

[2018-10-12 04:16] cmawhorter commented on #8755
i can't speak for OP but as someone looking to migrate an existing site to gatsby and doing some initial research, this issue stuck out.

i'd like to copy/paste existing templates as much as possible.  at least as a first step.

this seems to be specifically for pages.  i'm not sure if components or html.js would have the same limitation?

[2018-10-12 05:08] engilyin opened #9047 "Add variables attr into StaticQuery"
## Summary

According to docs (at
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/static-query.md#how-staticquery-differs-from-page-query):

However it could be very useful to add yet additional attribute to pass variables into the query.

Or may be add DynamicQuery to use queries inside the components with the variables.

### Basic example
The variables attribute may contain single defau

[2018-10-12 05:13] shanekenney commented on #9034
I am seeing a similar issue, changing the terser ecma version to v5 in `webpack-utils.js` seems to fix this by preventing terser from using shorthand properties.
https://github.com/gatsbyjs/gatsby/blob/a42d0de654e70be1b25697848529e118e6bf92c6/packages/gatsby/src/utils/webpack-utils.js#L448

Is there any easy way to configure minification options?

[2018-10-12 06:59] sheakelly commented on #9034
@shanekenney I was able to solve this with the following gatsby-node.js changes

[code]

This merges the updated optimization webpack config into the standard webpack.config.js used by gatsby

[2018-10-12 08:10] kakadiadarpan commented on #9034
Related to #8905

Closed in favor of #8905

[2018-10-12 08:10] #9034 closed

[2018-10-12 08:30] calcsam opened #9048 "[site-showcase] filters should cause scroll-down"
## Summary

URLs (and possibly interactions with filters) should cause the Site Showcase to scroll down past the "Featured" header

### Basic example

Eg: https://www.gatsbyjs.org/showcase/?filters%5B0%5D=Bank should load here:

![image](https://user-images.githubusercontent.com/4388699/46857635-31ee9600-cdbe-11e8-9f7c-e03fe3b5a4bc.png)

instead of here:

![image](https://user-images.githubusercon

[2018-10-12 08:32] simonlc commented on #7517
This cause two issues for me, one which could be fixed with better CSS architecture on my part. Firstly I also included my base CSS in a layout component, and in that, I loaded my fonts. When I hovered over a link for the first time I would see all the fonts be reloaded and the entire site flash.

I solved this by simply moving those includes into `gatsby-browser.js`, which is arguably a much bett

[2018-10-12 08:35] kakadiadarpan commented on #9046
Please follow #8348 for updates related to this issue.

Closed in favor of #8348

[2018-10-12 08:35] #9046 closed

[2018-10-12 09:14] kilinkis commented on #9038
hi @pieh, thanks for your answer. But it's still not very clear for me. Sorry, I'm a beginner.

here is my page template (where the error happens):

[code]

this is where the problem happens, if I remove this, it compiles just fine:

[code]

I wrapped that in an if statement (that's what I understood from you answer), but the issue persists.
I think I probably got it wrong, but hopefully this code

[2018-10-12 09:54] kakadiadarpan commented on #4475
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-12 09:54] #4475 closed

[2018-10-12 09:54] kakadiadarpan commented on #6283
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-12 09:54] #6283 closed

[2018-10-12 09:54] kakadiadarpan commented on #7379
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-12 09:55] kakadiadarpan commented on #7647
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-12 09:55] #7647 closed

[2018-10-12 09:57] pieh commented on #9040
/cc @shannonbux @amberleyromo

[2018-10-12 11:18] kakadiadarpan commented on #9027
Hi @SachaG, can you provide more details regarding this error? Is it occurring every time you run `gatsby build`? Did it start happening after any updates?

[2018-10-12 11:32] kakadiadarpan commented on #9047
@engilyin at the moment, StaticQuery isn't intended to accept GraphQL arguments and adding that functionality isn't on our roadmap. We'd be happy to see a pull request if someone wants to tackle this.

/cc @jlengstorf

[2018-10-12 11:37] NaderIkladiousC opened #9055 "Build on heroku after content saved"
Hello,

I Have a WordPress backend that I'm using its content using `gatsby-source-apiserver`

The problem is that using `/__refresh` endpoint only works when running `gatsby develop`, but it's not available while running `gatsby build` then `gatsby serve`.

I want to achieve the same result of `/__refresh` endpoint on a build on heroku?

How is that possible ?

Thanks in advance

[2018-10-12 11:43] kakadiadarpan commented on #8560
@jonathan-chin Thank you for the update. I'm able to reproduce the issue with the steps that you provided. Are you using Gatsby `v1` or `v2` for https://sharemeals.org/?

[2018-10-12 11:47] kakadiadarpan commented on #9005
@yeskunall we both are trying to say the same thing. What I was trying to say is that let's keep ` /docs/deploy-gatsby#now` and remove `/docs/deloying-to-now`. Similarly, for the rest of the services we should do the same?

[2018-10-12 11:50] kakadiadarpan commented on #8527
@ascorbic I hope your question has been answered by @jarreds

[2018-10-12 11:50] #8527 closed

[2018-10-12 12:04] iaindurie commented on #7479
@kakadiadarpan The Wordpress site I'm querying from isn't a publicly accessible site. I haven't seen this issue in a while, since clearing the cache folder and rebuidling. However If I stumble across it again, I'll create a new issue/repo and see if I can get my Wordpress site accessible too. Thanks.

[2018-10-12 12:16] brendanmc6 opened #9056 "gatsby-transformer-remark not properly transforming markdown strings."
## Description
Passing in a markdown string, the resulting html is broken. It has escaped all newlines and various other elements, and added quotation marks-- only \_\_strong__ and \_italic_ are converted correctly. Below is what it looks like when I query for both raw and converted html:
[code]

I am using Airtable to serve a string (the "long text" field type). I use gatsby-source-airtable to br

[2018-10-12 12:29] stefanprobst commented on #9022
I also don't think that adding JSON fields to the input filters makes a whole lot of sense.

Hopefully, #9057 is enough to fix this, although I must admit that I had a hard time reading this part of the codebase, so I'm not 100% sure.

[2018-10-12 12:53] MikeBudimon commented on #9048
I would like to work on this issue.

[2018-10-12 13:41] fk commented on #9048
👌🙏 Go for it Mike!

[2018-10-12 13:44] stefanprobst commented on #9056
What do you get for `childMarkdownRemark { rawMarkdownBody }`?

[2018-10-12 13:54] baukevanderlaan commented on #8916
Thanks for the lead, I plan to do this next week. I suspect it's a minor thing to implement but I need to get to grips with the gatsby-dev-cli first.

[2018-10-12 13:57] baukevanderlaan commented on #8824
@tbaustin Thanks for the suggestion! I'll try it soon and will report back with my findings.

[2018-10-12 14:01] tbaustin commented on #8824
Today my team does some hacktober so I could look into doing a PR to help this issue, but there is a possibility that what you are wanting isn't meant to be done, and that could be why there is fixed! Not sure though =p

[2018-10-12 14:46] iaindurie opened #9060 "JavaScript heap out of memory"
## Description

I'm seeing a 'Javascript heap out of memory' error when trying to run gatsby. Output is below:

[code]

Does anyone know what could be going on here? It's not a particularly large site. 50 pages, 34 posts, 50 media files.

### Environment

  System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz
  Binaries:
    Yarn: 1.5.1 - C:\Program Files (x86)\Yarn\bin\

[2018-10-12 15:04] kakadiadarpan commented on #8916
@baukevanderlaan I forgot to provide the link for [Contribution guide](https://www.gatsbyjs.org/docs/how-to-contribute/) earlier.

Please reach out to us if you need any help. 🙂

[2018-10-12 15:12] ivorpad commented on #8560
I'm having this exact same issue:

When using `injectGlobal` I'm getting diffent styles after running `gatsby build`. You can see the issue here: https://ivorpad.com/about

After the page finishes loading hover the links 'Writing' or 'Work' and you'll see the styles change.

[code]

[2018-10-12 15:15] brendanmc6 commented on #9056
@stefanprobst
That is coming out as:
[code]

It might be worth noting that when i use unified.js with remark-html, the markdown is perfect (but then I can't benefit from the great transformer-remark plugins)

[2018-10-12 15:29] #9060 closed

[2018-10-12 15:29] DSchau commented on #9060
@iaindurie did you figure out this issue? We'd love to hear what the solution was!

[2018-10-12 15:36] Coriou opened #9062 "Recommended way to gracefully display a message for unsupported browsers"
I'm using MobX 5 in my Gatsby app, which requires proxy support and thus it'll simply throw an error and crash on IE (all versions). I don't care at all about IE (nor Edge actually), but I still don't want my users to see an empty page when they try to access my app from one of those browsers.

I've tried a couple of different approaches, but they all seemed hacky and unpleasant.

What's the best

[2018-10-12 15:46] stefanprobst commented on #9056
I think this indicates an error with the source plugin (i.e. the airtable plugin), not the markdown transformer.

[2018-10-12 15:51] jbolda commented on #9056
Airtable is definitely inserting those newline escapes. How do other plugins that support markdown sources deal this? We may have to "purify" long text fields in `gatsby-source-airtable` if all of the other libraries deal with it internally as well.

[2018-10-12 15:57] DSchau commented on #9056
@jbolda it may be worth checking out gatsby-source-contentful! I'm not sure if the data we get from the API is already escaped, or we do anything special, but I know it's a plugin I've used that was able to handle childMarkdownRemark functionality flawlessly with Markdown/text content.

I don't think it'd be a terrible approach to just use a regular expression though, e.g.

[code]

[2018-10-12 16:00] brendanmc6 commented on #9056
The escapes don't appear when I remove the gatsby-transformer-remark plugin and access the string directly:

[code]

[2018-10-12 16:12] zslabs commented on #5314
Found this issue after dealing with quite an odd one on my end. Using `tableOfContents` from MarkdownRemark and here's what I'm seeing:

![kapture 2018-10-12 at 12 07 22](https://user-images.githubusercontent.com/1018402/46880712-6a6e8e00-ce17-11e8-92fb-28cbafdb1843.gif)

Then links generated by that property are just simple anchor links, but also noticed that refreshing the page with a hash isn't

[2018-10-12 16:17] brendanmc6 commented on #9056
@jbolda @stefanprobst Indeed I believe I've narrowed it down to airtable-source plugin, likely JSON stringify (not too familiar with how stringify works.) Sorry for not doing this sooner, let's move the issue over there.

[code]

[2018-10-12 16:18] #9056 closed

[2018-10-12 16:18] DSchau commented on #5314
@zslabs would you be able to provide a link to the repo or some other way to reproduce? [reactjs.org](https://reactjs.org/tutorial/tutorial.html#what-is-react) follows a similar approach (e.g. a sidebar linking to anchor tags) and it seems like it works just fine!

[2018-10-12 16:23] i8ramin opened #9065 "Client only SPA using Gatsby, but at the root level"
Hi, I've read the [post about using Gatsby for client-only routing and apps](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/), with all the examples assuming that your "app" will be under a subfolder (ie, /app). Wondering if its possible to have your app run under the "root" of the application vs a subfolder

[2018-10-12 17:18] iaindurie commented on #9060
@DSchau Nope, I can’t reproduce the error now, and I didn’t do anything to address it! Although, I am now getting a graphql error instead (going to raise a new issue for that one). The only thing that changed in the interim was some Wordpress content was changed.

[2018-10-12 17:36] joaquinbravo-natgeo commented on #9040
An example repo, with those files already in there, is here: https://github.com/jackbravo/joaquin.axai.mx

[2018-10-12 18:03] stefanprobst commented on #9043
The best way to explore graphql queries is on the GraphiQL console at http://localhost:8000/___graphql.

You can query for a file with
[code]
If necessary use additional filters like `relativePath` or `sourceInstanceName` or `extension`.

Alternatively, MarkdownRemark nodes have a `fileAbsolutePath` field you can filter by.

[2018-10-12 18:29] janosh opened #9068 "What's the state of gatsby-mdx?"
I would really like to start using `gatsby-mdx` as it clearly has immense potential!

However, I feel like the [documentation](https://gatsby-mdx.netlify.com) doesn't (yet) do a good job of telling you how to [get started](https://gatsby-mdx.netlify.com/getting-started). That in turn makes me wonder how mature the project itself is and how likely it is that it will continue to be developed well in

[2018-10-12 19:33] #8058 closed

[2018-10-12 19:55] zslabs commented on #5314
@DSchau This ended up being a very specific issue to my setup; not Gatsby-derived at all, a very odd CSS thing that I dare not recite 💪

Sorry for the false alarm!

[2018-10-12 20:54] fk commented on #8058
Yay! 🎉 Let's unpin `gatsby-remark-prismjs` for `www` https://github.com/gatsbyjs/gatsby/blob/aa9bc1b353c2f83dad7d39d07f5a7c1b8ac092a0/www/package.json#L39

[2018-10-12 20:57] joaquinbravo-natgeo commented on #9040
should I create a PR instead? (not that I have subscribed to the #Hacktoberfest :-p)

[2018-10-12 21:15] jonathanphz commented on #5990
Hi @stlk - tried your blog post but still getting `"Field \"thumbnail\" must not have a selection since type \"String\" has no subfields."`

[2018-10-12 21:17] jlengstorf commented on #9040
@joaquinbravo-natgeo Yes, please! A PR to add this into the blog would be excellent. Check out https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-blog for details.

Thanks!

[2018-10-12 21:54] gaven commented on #3285
Is this still relevant? I'm having issues implementing the `React.Fragment` shorthand in v2.

[2018-10-12 22:23] SimonIMG commented on #7855
Not sure if this helps, but I have one Early 2013 Macbook Pro that runs `gatsby develop` perfectly fine on a V2 Gatsby site with `gatsby-source-wordpress` (roughly 90 pages, one custom post type, lots of ACF fields and over 100 media/images). Connected to a live WP backend.

I pull down the repo to my older, but spec'd out, Mid 2011 iMac and try to run `gatsby develop` and it stops at...

[code]

[2018-10-12 22:35] SachaG commented on #9043
Oh ok, I didn't know about `file` vs `allFile`. Makes sense. As for `MarkdownRemark` nodes, they do have `fileAbsolutePath` but no `name` as far as I can tell?

[2018-10-12 22:35] anderskitson opened #9074 "Cannot read property 'allMarkdownRemark' of undefined on Netlify Deploy"
## Description
I am following a tutorial for deploying to Netlify from a GitHub repo. The Gatsby Repo works fine locally in gatsby develop and also worked fine when I deployed it to GitHub pages, however it breaks when I try to use Netlify. The error I am getting is

 ```TypeError: Cannot read property 'allMarkdownRemark' of undefined```

I am running "gatsby": "^1.9.202" in package.json and "gats

[2018-10-12 22:47] #8816 closed

[2018-10-12 22:51] stefanprobst commented on #9043
Yup, tbh i'm not really sure why `fileAbsolutePath` is there in the first place. I'd recommend doing filtering by name/dir on the file nodes.

[2018-10-12 22:53] silvenon commented on #9068
I've used it quite a lot and it's stable enough to use. MDX itself currently has certain limitations, like not supporting inline JSX, but otherwise it's really good, I'm one of the maintainers. Here are three ordered entry points to get you started with gatsby-mdx:

- [API Reference](https://gatsby-mdx.netlify.com/api-reference)
- [Writing Pages in MDX](https://gatsby-mdx.netlify.com/guides/writin

[2018-10-13 00:11] jlengstorf commented on #9047
@engilyin I agree that this would be really useful! However, the challenge is in the way `StaticQuery` is evaluated.

During the build, Gatsby looks for instances of `StaticQuery` in the AST and executes those queries in place. By accepting variables, we would need to trace the variables back to where they're set so we could pull those values out for evaluation, which is a non-trivial amount of ef

[2018-10-13 00:40] smerth commented on #8794
Hi there,  I have just run
[code]
and I get the following errors when trying to run `gatsby deploy`

[code]

and further down...

[code]

Just as before I had no error before upgrading `gatsby-transformer-json`

Is there any more information I can provide to help resolve this issue

[2018-10-13 01:04] yeskunall commented on #9005
Woohoo, that is exactly what I meant! These midterms have me going a bit crazy (I had another one today 😅)

I will update #8973 to reflect the suggestions made in these comments. Thanks for being patient with me on this one!

[2018-10-13 01:28] jlengstorf opened #9077 "[gatsby-transformer-javascript-frontmatter] Improve README and add peer dependencies"
Currently, `gatsby-transformer-javascript-frontmatter` doesn’t warn when `gatsby-source-filesystem` isn’t configured; instead, it just fails silently.

To fix this, we need to:

- [ ] Improve the README by including the filesystem plugin in the install step
- [ ] Add the filesystem config to the plugin config example
- [ ] Add `gatsby-source-filesystem` to `peerDependencies` in `gatsby-transformer

[2018-10-13 01:30] jlengstorf commented on #5213
@TylerBarnes I just played with this a bit, and the instructions mention, but don't explain, that you need to have `gatsby-source-filesystem` installed and configured as well.

I've opened https://github.com/gatsbyjs/gatsby/issues/9077 to track this. Please post any follow-up questions there to keep this issue focused on a single thread.

Thanks!

[2018-10-13 04:27] TylerBarnes commented on #9077
@jlengstorf thanks for being so on top of things! I was actually aware of the gatsby-source-filesystem requirement and I'm able to query the frontmatter using the plugin. It's definitely a good idea to add what you've listed though.

The problem I'm having is that I can't figure out how to connect the queried data to pages that are using the javascript files that have frontmatter. I have pages tha

[2018-10-13 05:42] JeremiGendron commented on #3395
worked

[2018-10-13 06:10] engilyin commented on #9047
@kakadiadarpan and @jlengstorf  thank you for a quick response! I just get started to use Gatsby and its internals are not so clear for me to help with pull request at this level.
However what about another idea to create DynamicQuery and execute it when variables are known?
Also there is an idea to define some global(page-wide) variables which would be know before you will process StaticQueries.

[2018-10-13 07:36] stlk commented on #5990
Hi @jonathanphz, do you have a public repo I could check?

[2018-10-13 08:48] yeskunall commented on #9005
Hey @kakadiadarpan so I looked into this a little further. While I agree that moving everything to `/docs/deploy-gastby` will reduce duplication, in some cases, the guide for deploying with X can be very long, which is why I think Gatsby team decided to move them to their individual sections. Take for example the documentation for deploying to Gitlab CI and the same for the in-depth guide.

So, ho

[2018-10-13 09:13] jonathan-chin commented on #8560
@kakadiadarpan that's using `"gatsby": "^1.9.277"`

[2018-10-13 09:36] rfbotto commented on #9077
I would like to tackle this one, if that's okay @jlengstorf :)

[2018-10-13 09:41] simonlc commented on #3758
The only problem with option 2 is it will not work with other deployments. In my opinion there should be an option for having zero inlined scripts/code. Option 2 is favorable however if you do have a supported host.

[2018-10-13 11:58] kmorf commented on #9074
Can you try triggering a deploy with the 'Clear build cache' option in Netlify?

[2018-10-13 14:09] Tawfiqh opened #9083 "Large sites ~200k pages, incremental builds?"
## Summary
We have a large site of about 200k pages and we don't want to have to rebuild the whole site every time we make a change and deploy.

## Relevant information

A lot of our pages are set pages that pull in a lot of data and take a while to build but they won't change often.

We could just build them in a separate Gatsby project to the rest of our site. Having two Gatsby projects `set-pag

[2018-10-13 14:19] amberleyromo opened #9084 "Plugin detail page reloads / experience is not smooth"
## Description

_Reported by [`@rchrdnsh` on Twitter](https://twitter.com/rchrdnsh/status/1050978923863887872):_

### Steps to reproduce

Scroll down the plugin list and select a plugin.

### Expected result

The plugin list maintains its position, and the plugin detail shows without reloading the whole page.

### Actual result

The plugin list resets, and the page reloads to show the plugin detai

[2018-10-13 14:52] brendanmc6 commented on #501
I'm struggling to grab images stored in my CMS (airtable) and place them in a designated folder. this would make it easy to reference them in my markdown like \![photo](/content/photo.jpg)

For some reason I can not query for `publicURL` as stated in the docs-- I can confirm that my photos are downloading correctly, as I see them located in .cache/gatsby-source-filesystem/, albeit with scrambled f

[2018-10-13 14:53] mrfoster opened #9085 "Gatsby Default Starter Lighthouse PWA Issue on subpages - Does not provide fallback content when JavaScript is not available"
The default starter gets top marks on lighthouse for the home page but, although very impressive, it misses out on a few PWA points for sub pages e.g. [https://gatsby-starter-default-demo.netlify.com/page-2/](https://gatsby-starter-default-demo.netlify.com/page-2/).

Lighthouse issue:
Does not provide fallback content when JavaScript is not available
[https://developers.google.com/web/tools/lighth

[2018-10-13 15:17] Manoz commented on #8816
Good job guys. Next step: switch from emotion to styled-components :p

[2018-10-13 15:45] sami616 commented on #8996
This is causing me many headaches too! Is this likely to be fixed soon??

[2018-10-13 16:34] DSchau commented on #8816
@Manoz we'll just have a recurring bi-annual issue to migrate to the hottest CSS in JS framework 😄

@fk @janczizikow thank you _so_ much for the work here!

[2018-10-13 17:08] jlengstorf commented on #9047
We could add a dynamic query to pages, but components are trickier. The benefit of `StaticQuery` is that it can be used anywhere, not just in pages.

Pages make it more predictable for us where the variables are set; with dynamic queries in components it's harder to determine where that data came from.

However, it's definitely possible; just not under active development right now. PRs welcome!

[2018-10-13 18:48] moonmeister commented on #9085
@mrfoster What server/stack are you running the tests against? `gatsby develop`/`gatsby build && gatsby serve` , `netlify`?? Thanks.

[2018-10-13 19:08] Knaackee opened #9087 "Document how to detect SW updates and alert users"
I am using the gatsby-plugin-offline plugin and would like to know if there is a way to handle updates.

I would like to display a message if a new version is available like
https://medium.com/progressive-web-apps/pwa-create-a-new-update-available-notification-using-service-workers-18be9168d717

At the moment I need to hard reload the site in order to see changes.

How to handle this?

Thanks in a

[2018-10-13 20:23] Ehesp opened #9089 "[develop] Building large volumes of basic pages is slow"
## Description

Using the basic Gatsby starter project, I'm experimenting the performance of creating a large number of pages from mock data (10,000) with nothing else. This will come from an external API at some point if performance is quick enough.

The actual creation of the pages is quick, however there's always a 70-80s (local) period of `run graphql queries`. My component/page is a simple Re

[2018-10-13 21:37] mrfoster commented on #9085
@moonmeister All tests have been done using netlify and is apparent on the example page ([https://gatsby-starter-default-demo.netlify.com/page-2/](https://gatsby-starter-default-demo.netlify.com/page-2/)].

Please disregard the javascript error as this is not happening in incognito and I've since realised was being caused by a browser extension.

With javascript disabled, I have observed that sub

[2018-10-13 21:45] moonmeister commented on #9085
@mrfoster offline stuff is out of my scope of knowledge, that said I know offline workers are javascript...I don't know if it's a bug or what, but maybe disabling js is breaking the offline workers.

[2018-10-13 22:02] lemon-31 opened #9091 "State not passed between pages when using "navigate" or "<Link>""
Hi all,

I have been unsuccessful in my attempts to pass the state between pages in my Gatsby v2 application.

Here is my attempt using the "Link" component:

[code]
On my "text-editor" page I run:
[code]
Unfortunately the object logged to the console is a blank object.

I then tried to use the "navigate" method instead:
[code]
But unfortunately the object logged to the console is a blank object a