[2019-10-18 16:26] vadimdemedes commented on #15505
@simonjoom Could you try the solution described here https://github.com/gatsbyjs/gatsby/issues/15505#issuecomment-520196928, but instead of `npm install ink#experimental-reconciler` execute `npm upgrade ink`.

[2019-10-18 16:32] RyKilleen commented on #14525
@phacks no worries, it was fun to dig in! Glad to know my hunch was in the right direction!

[2019-10-18 16:40] sidharthachatterjee commented on #12238
gatsby-plugin-offline 3.x now supports an `appendScript` option which lets you append custom code to your service worker. That should serve this use case.

Closing this issue as a result.

[2019-10-18 16:40] #12238 closed

[2019-10-18 16:49] kilburn commented on #16097
@trentontri Your site doesn't work because this URL returns a 404 not found:
[http://trentonkennedy.com/page-data/projects/page-data.json](http://trentonkennedy.com/page-data/projects/page-data.json).
This URL returns a 404 not found because for some reason on your generated files the `page-data/projects` folder is `page-data/Projects` (with a capital P) instead. If you rename it everything should

[2019-10-18 16:50] samrae7 commented on #12050
Hi I would like to take this on

[2019-10-18 16:55] pauleveritt opened #18810 "Custom type directives that mimic those such as @infer need an API like createFieldExtension"
## Summary

It's easy to write and register a schema field directive with the `createFieldExtension` action. It doesn't appear that this action works for making a type directive such as the built-in `@infer`, which is called during startup and has access to `schemaComposer.addDirective`.

*Note: I'm using `directive` instead of `extension`. Should I be saying "custom type extension"?*

### Basic e

[2019-10-18 17:00] sazhang commented on #18775
@gillkyle I added more to the existing page query, but the embedded videos show an example of a StaticQuery. This may or may not confuse readers, so I’m open to changing the example to stick with what is shown in the videos. Thanks!

[2019-10-18 17:12] rchrdnsh opened #18811 ":focus not working in safari and firefox...."
Trying to add some buttons to my site, this time using the `navigate` thing from reach router to create links on the same page, like so:
[code]

and the links on the same page are working fine. Then I tried to add a `:focus` style in the `styled-component`, like so:

[code]

...and it's working fine in Chrome, but not in Safari or Firefox. I even added a `tabindex`, but that does not seem to have

[2019-10-18 17:25] stefanprobst commented on #14228
@tbrannam thanks for the writeup! interestingly, there has been another request today for custom type extensions, should we move the discussion there to discuss how an api for a `createTypeExtension` action should look like? See #18810

[2019-10-18 17:27] sidharthachatterjee commented on #18458
Please open this in https://github.com/lovell/sharp

Thanks!

[2019-10-18 17:27] #18458 closed

[2019-10-18 17:27] #16780 closed

[2019-10-18 17:27] #17662 closed

[2019-10-18 17:29] sidharthachatterjee commented on #17814
You could use `GATSBY_LOGGER=json` to get logs as JSON for each event and maybe filter those.

Closing this for the moment since it's unlikely to change anytime soon. We do have some issues open discussing new CLI design. Please feel free to leave comments there!

[2019-10-18 17:29] #17814 closed

[2019-10-18 17:32] jakewhite1230 opened #18812 "Issues with gatsby-source-wordpress"
## Description

I am trying to start my first Gatsby + WordPress site. When following along with [this](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/) tutorial, I receive errors and can't move forward.

### Steps to reproduce

To reproduce, just follow the steps in the guide. Once I run `gatsby develop`, I get the following errors:
[code]
My versions are
Gatsby: 2.8.3
gatsby-cli: 2.16

[2019-10-18 17:36] siawyoung commented on #6230
Man, I'm facing the exact same issue, trying to replicate functionality for formatting dates and excerpts etc. This works great, thanks a lot!

[2019-10-18 17:54] samrae7 commented on #12050
Having said that I'd like to take this on I have noticed that since the issue was created, there is now some error handling added: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/redux/actions/public.js#L676 so I think this should possibly be closed. @stefanprobst what do you think?

In any case I am struggling to find a test case that covers this (failed validation) case. Am I

[2019-10-18 18:28] tbrannam commented on #18810
@stefanprobst amazingly very much in the same vain as my question

[2019-10-18 18:41] CRNRSTD commented on #18812
Same here. It looks like we found ourselves in the wrong place at the wrong time

[2019-10-18 18:41] sidharthachatterjee commented on #18787
`(new Response(...)).body.json()` is an alternative that is async. Posted here so we don't forget. Thanks @slightlyoff 👍

[2019-10-18 18:59] good-idea commented on #13993
hey @unclecheese , I ended up reverting and putting the query into the body of the component. It now loos like this:

[code]

[2019-10-18 19:09] iDatLe commented on #18731
Short answer: I think yes

Long answer: It is my understanding (and if I'm incorrect then anyone feel free to correct me) that when Gatsby builds your project, it gives a hash to the names of JS files. HTML files still inline reference those JS files. So because those JS file names have changed, Netlify will reupload those JS files. And because HTML files reference those changed JS files, Netlify

[2019-10-18 19:37] barbalex commented on #18531
Since a few days I am getting a very similar error when the site loads for the first time after a new version was published:

[code]

This leads to the site reloading indefinitely until the user closes the window. Next time the site is opened, it works.

Not nice UX 😞

[2019-10-18 19:42] viktor-wolf commented on #18528
@TylerBarnes Hi, thanks for looking into it. I have tried playing around with the opacity of the slideshow elements in browser dev tools, but I was unable to get the desired result. If you have time, could you elaborate what led you to believe that opacity was the problem and how your proposed workaround was supposed to work?

[2019-10-18 19:51] jakewhite1230 commented on #18812
Thanks for the suggestion. I tried to purge, but that didnt work for me. I tried installing with yarn, and that seemed to do the trick. I've seen several notes on here that npm doesn't seem to always work.

[2019-10-18 19:51] #18812 closed

[2019-10-18 20:16] Haroenv commented on #18437
I’m asking this because I maintain the plugin and I don’t know what’s causing the mismatch in life cycle :(

[2019-10-18 20:58] bvlktech commented on #18811
Does the :active sudo-code work?

[2019-10-18 20:59] rchrdnsh commented on #18811
whoops, sorry, yes, the `:active` pseudo code works, just not `:focus`.

[2019-10-18 21:00] KyleAMathews commented on #18787
Maybe we should just switch to `(new Response(...)).body.json()`? There's still a non-trivial number of people on older Chrome versions and this would be a quick change.

[2019-10-18 21:01] gfsd3v opened #18817 "Is it possible to disable the automatic page creation in the /page folder ?"
Is it possible to disable the automatic page creation in the /page folder ?

[2019-10-18 21:03] bvlktech commented on #18798
If using Netlify CMS they have a <codeblock /> in the CMS to use for this and if need to place a YouTube vid into the markdown i recommend this plugin `gatsby-remark-responsive-iframe` as i use it myself heres the url https://www.gatsbyjs.org/packages/gatsby-remark-responsive-iframe/?=iframe

for code it should start and end with three backticks and code between them

[2019-10-18 21:07] bvlktech commented on #18811
hmm this is strange because everything looks fine in the code u sent up there ^^ do you get anything in inspect element via safari or firefox under the css section is there like a yellow exclamation point next to the :focus selector? if you hover over it it might say why its not working

[2019-10-18 21:10] bvlktech commented on #18817
is this for a blog? if so you can delete the `gatsby-node.js` file from your projects tree because this is the code that auto makes the pages

[code]

[2019-10-18 21:17] rchrdnsh commented on #18811
if I activate focus in the safari inspector, it seems to work fine, and I'm not noticing any warnings specific to focus. The warning in the console is for react:

<img width="594" alt="Screen Shot 2019-10-18 at 2 15 38 PM" src="https://user-images.githubusercontent.com/7884263/67128864-cd74cc80-f1b1-11e9-90a8-bfc5bb2163ca.png">

but I just saw this when I clicked the button in question:

<img widt

[2019-10-18 21:19] #17861 closed

[2019-10-18 21:22] bvlktech commented on #18811
yea that triangle with the exclamation point in it if you hover over it or you click it it should (at least ik in firefox i dont have / own safari so idk if same) tell you why the selector isnt working but ur code up above ^^ is fine tho

[2019-10-18 21:37] rchrdnsh commented on #18811
yeah, it looks like all the yellow css warnings are either a duplicate or unsupported property, but nothing that relates in any way to the `:focus` state, as far as i can tell.

[2019-10-18 21:45] bvlktech commented on #18811
yea this is a issue that shouldent be happning because again all seems fine via ur styled-components umm have u tried this via SASS or SCSS?

[2019-10-18 22:02] everdimension commented on #16129
Sorry for silence, I will try to confirm whether the solution works for us within a couple of days. Thanks!

[2019-10-18 22:04] KyleAMathews opened #18819 "Add to telemetry how big page json & page bundle sizes"
probably just send descriptive statistics summary e.g. mean, median, max, min, std dev, & some measure of skew.

We want to warn against sending too much code/data on pages & it'd be good to keep track of how people are doing at the moment.

[2019-10-18 22:05] Italox commented on #6723
@riencoertjens Are you working on this? Need some help?

[2019-10-18 22:06] pauleveritt opened #18820 "childOf field directive doesn't replicate createParentChildLink behavior on parent deletion"
## Description

When using `@childOf` in a type definition, it correctly assembles the parent-child relationship. However, deleting the parent doesn't delete the child unless you restart the dev server to clear Redux. `createParentChildLink` works correctly.

### Steps to reproduce

[This `childOf` branch in this repo](https://github.com/pauleveritt/gatsby-plugin-paulcms/tree/childof) has a reprod

[2019-10-18 22:10] johnstonbl01 commented on #16519
Hey, @sidharthachatterjee ! 👋

I've just been working in this part of the CLI, and I think this one may already be done. Looks like there's a `verbose` method that logs as `debug` level. Code [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/reporter/index.js#L193).

If that's not acceptable or a debug log function is still needed, I'd be happy to add that in another PR

[2019-10-18 22:17] tw1t611 opened #18821 "Can gatsby-transformer-json plugin return filenames?"
## Summary
Hi, I need to get the names of files returned by gatsby-transformer-json plugin.
As this is a major use case of this plugin, it should be possible to do.

## Relevant information
I saw the File attribute in the schema, but this always returns null.
Furthermore I tried to map over query.allFiles.edges, but there was no way to retrieve the file content.
The files are stored in "src/data"

[2019-10-18 22:38] mrkutly commented on #18808
@sidharthachatterjee I would like to work on this if it is open. Is this the only error that needs to be sanitized? Or are there other places where the sanitization is not happening?

[2019-10-18 22:44] TylerBarnes commented on #18528
@viktor-wolf If you inspect the blurred elements and change the CSS manually for the hi-res image to `opacity: 1`, the image shows up. The problem is that Swiper removes the statefulness of gatsby-image when it copies the DOM nodes, so it will never reveal the hi-res image and just displays the base64 low-quality image placeholder. It also might be easier to replace Swiper with a React based slide

[2019-10-18 22:48] rchrdnsh commented on #18811
no, i have not, but i also don't have those setup, or even know how to, really. I kind of jumped from plain old css to styled-components ¯\_(ツ)_/¯

[2019-10-18 22:50] barbalex commented on #18531
It seems that the error comes from https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-offline/src/sw-append.js#L60 or https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-offline/src/sw-append.js#L67.

The variable `api` seems to be something else than expected in `const MessageAPI` (https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-offline/s

[2019-10-18 23:01] bvlktech commented on #18811
ahh SCSS is just like reg css except you can nest stuff ill show some examples

CSS
[code]

SCSS
[code]

[2019-10-18 23:48] marcysutton commented on #18811
Hi there, are you on a new Mac? Because there are settings at the Operating System and browser level that have to be adjusted to allow focusing on some interactive controls.

Safari Preferences, under "Advanced" (see "Press tab to highlight each item on a page"):
![Safari prefs](https://user-images.githubusercontent.com/1045233/67134387-c73d1b00-f1c6-11e9-8bd5-bf166dcf2770.png)

OSX Preferences fo

[2019-10-18 23:52] bvlktech commented on #18811
Thank you @marcysutton as I don't own a Mac I was at a loss

[2019-10-18 23:57] unclecheese commented on #13993
Thanks for the reply, @good-idea . One thing I didn't realise was that `useStaticQuery` only works when it is called from a component *within the `src/` directory*. In my case, it was in a thirdparty component, which was obscuring it from view. That's a key point that might be missing from the docs.

[2019-10-19 00:18] lpluispacheco opened #18823 "react-intl with wordpress cms"
Hello,

I'm looking for the best way to implement internationalisation on the pages that I've creating using Gatsby (the best experience ever btw) and I found react-intl with the plugin "gatsby-plugin-intl", but I need to have the JSON files on one specific folder, the problem is that using the WordPress CMS I get the data with a REST API and I request this data using GraphQL, and not using specif

[2019-10-19 00:21] rchrdnsh commented on #18811
Thank you @marcysutton for your reply,

I did not have the tab thing checked, but alas, it is not helping either :-/ But I figure that `:focus` should also work by default, as it does in Chrome, no?

I am also already using the `<button>` element as far as I can tell, as I am extending the `<button>` element in the styled-component, like so:

[code]

...and I am under the impression that this is t

[2019-10-19 00:56] riencoertjens commented on #6723
I'm sorry I got a sudden flood of work right before I wanted to tackle this... Hoping to do it this weekend

[2019-10-19 01:14] Fdango commented on #18688
Building static HTML failed

See our docs page on debugging HTML builds for help https://gatsby.dev/debug-html undefined

  Error:

not finished Building static HTML for pages - 3.588s

But I have followed the instructions of https://gatsby.dev/debug-html , but I can't avoid this mistake.

[2019-10-19 01:16] marcysutton commented on #18811
Oh, I totally overlooked the styled button! Yes, that should render a native button element, which is focusable by default -- no `tabindex` should be needed. From reviewing your code again, perhaps you're missing the ampersand to apply `:focus` as `button:focus`? As written, it's looking for a focusable element inside of the button which is probably not what you intended. Does this change things f

[2019-10-19 01:17] ryancat opened #18827 "Gatsby webpack doesn't resolve dependencies from "node_modules" folder"
## Description

When using gatsby in a monorepo and as a package, depends on the setup, the dependencies may end up hoisted at root level in that repo. In this case, if I run `gatsby develop`, I have issue with some packages (in my case packages under `lodash/fp/`) cannot be found by webpack during build step.

Note that this only happens when I already have the same package installed at the root

[2019-10-19 01:19] ryancat commented on #18827
I found if I do this
[code]

The packages will be resolved correctly. I think gatsby by default shouldn't remove `node_modules` from the `resolve.modules` array. It only resolves from current package and root level folder, but not any other folders like second level node_modules folder under root.

[2019-10-19 01:22] Fdango commented on #18782
I also have the same demand. I hope there are two sets of templates in a Gatsby. Do you have any examples?

[2019-10-19 01:40] Fdango commented on #18688
Well, I'm sorry. I tried the method provided by the official website. Maybe I didn't use the right method or how I said it. I posted a new error. I pasted my changed code and reported the error.

Aceeditor.js :

`import React, { Component } from "react"
import PropTypes from 'prop-types'
import AceEditor from 'react-ace'
import Loadable from "@loadable/component"
import 'brace/mode/xml';
import 'b

[2019-10-19 02:29] rchrdnsh commented on #18811
hi @marcysutton XD

So I tried adding the ampersand and nothing changed but I also notice that when i click on one of the buttons I get this error message in the console:

<img width="593" alt="Screen Shot 2019-10-18 at 7 27 55 PM" src="https://user-images.githubusercontent.com/7884263/67136625-91576100-f1dd-11e9-9aa6-cb99d62a498a.png">

dunno what it means, but it happens every time I click one o

[2019-10-19 02:39] Fdango commented on #18688
@urielhdz Thank you. I used @ loadable / component to pack successfully. But after packing, I opened build / index.html and found that my component was missing. Can you tell me what happened?

[2019-10-19 06:37] KorawitRupanya commented on #18284
Are there any works that I can do?

[2019-10-19 07:24] tw1t611 commented on #17302
Hi, now that I did implement auth, my advice is not to use the gatsby-source-graphql plugin.
Even if you get it working, which I did not. There are 3 auth types for aws right now and you probably will end up using them all. Just use the  amplify graphql transformer, without `graphqlOperation`.

[code]

https://aws-amplify.github.io/docs/js/api#aws-appsync-multi-auth

#18684 just for reference

[2019-10-19 07:49] tw1t611 commented on #18821
For everyone running into this issue, you are probably not getting the file name from the plugin, but you can query allFile.edges.node, filter `${relativeDirectory}/${name}` and use the children.id to match the file id of the gatsby-transformer-json plugin.
I will leave this issue open, until I got an answer on the filename.
This workaround should be mentioned in the readme.

[2019-10-19 08:33] NathHorrigan opened #18831 "Can I access GraphQL Fragment files from a source-plugin?"
## Summary
I want to access the all fragments defined in a project so that I can make a query on the frontend? Doesn't matter which Node API method aslong as I can access them?

### Environment (if relevant)
System:
    OS: macOS 10.14.5
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 10.13.0 - ~/.nvm/versions/node/v10.13.0/bin/node
    Ya

[2019-10-19 08:40] NathHorrigan opened #18833 "Calling `touchNode` on page node throws 'TypeError: locationAndPageResources.pageResources is undefined'"
## Description

Calling touchNode on a page causes the following error when you go to the hopefully cached page: `TypeError: locationAndPageResources.pageResources is undefined`.

### Steps to reproduce
Plugin Repo: https://github.com/NathHorrigan/gatsby-source-wagtail

[touchNode call:](https://github.com/NathHorrigan/gatsby-source-wagtail/blob/feature/cache/src/gatsby-node.js#L47)
[code]

### Ex

[2019-10-19 08:50] TomFevrier commented on #18042
I'm sorry but I don't see how my issue relates to [the new issue you raised](https://github.com/gatsbyjs/gatsby/issues/18804)... I am not using the `File` type, just unable to deploy my website because of some issue with gatsby-image...

[2019-10-19 09:00] nucliweb commented on #18776
Although I would love to send a PR like this to the Gatsby's repo 😊.

I have been thinking of a better and more automated solution. I think it would be easier and will help future image optimizations implement [ImgBot](https://imgbot.net/).

[2019-10-19 09:04] TomFevrier commented on #18042
When removing the `gatsby-source-filesystem` plugin (which I actually don't need), I now get the following error:
[code]
Found [a similar issue](https://github.com/gatsbyjs/gatsby/issues/16321) but no solution had been brought... Do you know how to solve this?

[2019-10-19 09:17] LekoArts commented on #18437
Pleaes provide a [minimal reproduction][reproduction] then :)

[reproduction]: https://gatsby.dev/reproduction

[2019-10-19 10:51] pieh commented on #18787
I've been doing some research on that and seems like using `fetch` or just `(new Response(...)).json()` doesn't really offload parsing off main thread (which was raised by @jayphelps) and it still blocks event loop:

- Using `fetch` + `response.json()`:
[code]
  ![Screenshot 2019-10-19 at 12 24 49](https://user-images.githubusercontent.com/419821/67143467-eb9f0300-f26b-11e9-9695-952c0c4f9eeb.png)

[2019-10-19 11:40] HaraldMuehlhoffCC commented on #4072
Got this error using Node.js v7.6.0 on Windows 10. Disappeared after I went to v10.16.3 LTS. So first Gatsby experience was an obscure SyntaxError. Maybe some initial health check could be added including friendlier messages?

[2019-10-19 11:51] studentofcoding opened #18835 "How to override gatsby-node.js @narative plugin on root"
# Summary

I use [@novela-gatsby-starter](https://www.gatsbyjs.org/starters/narative/gatsby-starter-novela/) for a project, and recently they requested to make a category sort function, so any article can be seperated by Blog and Event.
How to override gatsby-node.js file on plugin, so i can import the shadow (custom) of
- createPages,
- onCreateNode,
- sourceNode

In the mean time, all the custom

[2019-10-19 13:15] felixhaeberle opened #18836 "mobile fixed bottom nav has wrong height on mobile in safari"
## Description

The mobile fixed bottom nav has the wrong height on mobile in Safari.
<br>
<img src="https://user-images.githubusercontent.com/34959078/67145622-2eb8a080-f283-11e9-9d7c-74f81ca25485.png" alt="2019-10-19 15 06 19" width="50%" />

### Steps to reproduce

Open the website gatsbyjs.org in the Safari browser and start to scroll to the bottom that the bottom nav is docked to the bottom o

[2019-10-19 14:00] hashimwarren commented on #11665
I had the same problem this week with my terminal freezing after running gatsby develop.

I upgraded Node from 10 to 12.

Problem resolved. My terminal no longer freezes after running gatsby develop

[2019-10-19 15:27] jmsv commented on #18514
@sidharthachatterjee I think the PR referenced above should fix this, although not sure how to test. Do you have repro steps for attempting to disable colours?

[2019-10-19 15:32] jmsv commented on #18514
nvm, didn't see the other PR :smile: will close

[2019-10-19 15:58] tbrannam commented on #18810
My ask is very similar - with the assumption that the resolvers for these may be passed to Apollo-Link chain to be processed.

[2019-10-19 16:38] jmsv commented on #17766
can repro this with

[code]

![image](https://user-images.githubusercontent.com/14852491/67148262-bc04f080-f295-11e9-92bd-a154b22e3b54.png)

[2019-10-19 17:27] #14263 closed

[2019-10-19 17:27] #16970 closed

[2019-10-19 17:27] #17604 closed

[2019-10-19 17:27] #17624 closed

[2019-10-19 17:27] #17643 closed

[2019-10-19 17:38] jmsv commented on #17766
PR above removes `.git` directory when initial commit fails, as [discussed](https://github.com/gatsbyjs/gatsby/issues/17766#issuecomment-534083546) by @wardpeet and @pieh. Also added info message as per @muescha's [comment](https://github.com/gatsbyjs/gatsby/issues/17766#issuecomment-534124080).

[2019-10-19 17:46] jgoslow commented on #15189
+1 on this - definitely a broken feature until this is resolved. In my experience, "art direction" usally requires a change in aspect ratio to be useful.

[2019-10-19 18:26] muescha commented on #17766
i am a little against deleting the `.git` directory per default

is there an situation if there is an already exisiting `.git` directory from a previous usage and we delete this directory without an question

[2019-10-19 18:34] jonniebigodes commented on #18688
@Fdango if you can please make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be better looked at? Based on your actual info it's not enough to further help you.

[2019-10-19 18:45] EnKrypt commented on #18433
[Here is the documentation for this deprecation.](https://nodejs.org/api/deprecations.html#deprecations_dep0066_outgoingmessage_prototype_headers_outgoingmessage_prototype_headernames)

I believe a fix will involve finding the offending dependency and updating it to a later version (if the newer version of that package has switched to the proposed methods in the doc).

In the uncommon event that e

[2019-10-19 18:57] hhimanshu opened #18841 "Error: Cannot find module 'react' After adding a plugin"
## Description

I am following https://www.gatsbyjs.org/tutorial/part-three/ and the project fails with

[code]

### Steps to reproduce
The video to reproduce is here

https://imgur.com/download/ugF3gu0

### Expected result

What should happen?

### Actual result

What happened.

### Environment
[code]
Run `gatsby info --clipboard` in your project directory and paste the output here.

[2019-10-19 18:58] muescha commented on #18284
@KorawitRupanya

you can look for ideas at the [Hacktoberfest 2019 Umbrella Issue](https://github.com/gatsbyjs/gatsby/issues/18129)

[2019-10-19 19:04] EnKrypt commented on #18433
[Found the same issue on `axios v0.19.0`](https://github.com/axios/axios/issues/2469) which is being used by `gatsby-source-contentful` as well.

My guess is that `axios` is the culprit here (probably not even `axios` but rather one of its dependencies again), and since they don't have a fix yet, we might have to either:
* Wait for them (maybe we could help them speed things along), or
* Switch to

[2019-10-19 19:22] KyleAMathews commented on #18841
Can you remove your lock file and the node_modules directory and reinstall? Sometimes packages will get deleted like it looks react did.

[2019-10-19 19:26] develerltd commented on #2293
So, I wanted to create a reusable component that displayed banners given a page name. In order to do this, I edited gatsby-node to add in the pageName to the context of the page. Now the pageName comes from a file that is whatever the component file is +.context. Its an optional file so if it doesn't exist - it doesn't add it. If it exists, then it adds it into context. The code is as below:

[cod

[2019-10-19 20:04] brockduncan commented on #9689
Deleting .cache fixed it for me, thank you!

[2019-10-19 20:09] muescha commented on #17670
cc @gatsby/learning

any interests to add the same tech categories from starters to the showcase?

[2019-10-19 20:21] Henzelix opened #18844 "Error: Cannot find module './node_modules/detect-libc'"
Hi guys,

When I type `gatsby develop` in the terminal, I get this error:

`Error: Cannot find module './node_modules/detect-libc'`

And:

`error Error in "C:\Users\mikol\piec\node_modules\gatsby-plugin-manifest\gatsby-node.js":`

Does any one knows what to do?

[2019-10-19 20:25] lannonbr commented on #9332
Hey @marcysutton and @shannonbux. Would you say this is resolved as @calcsam seems to have fleshed this page out back in May.

[2019-10-19 20:32] lannonbr commented on #11076
So given #14973 was closed last week, I'd say this issue is resolved if I am not mistaken as the groundwork for structured logging is in as of Gatsby 2.16.0.

That said, it isn't clearly documented, but that is being tracked here: #16591 so I am going to close this issue.

[2019-10-19 20:32] #11076 closed

[2019-10-19 20:54] marcysutton commented on #18811
Sounds doubtful to be a bug in Gatsby – do you have a repo somewhere to debug? That would really help to figure out what's going on.

[2019-10-19 21:34] marcysutton commented on #9332
Yes, I'd say so! Thanks @lannonbr!

[2019-10-19 21:34] #9332 closed

[2019-10-19 21:57] brunokrebs commented on #3721
Why is this issue closed? This is a perfectly valid requirement. I, for example, have another app that I would like to run under the same "domain". That is, I would like to have an NGINX or similar in front of both apps and make Gatsby run under `/blog`, even during development.

[2019-10-19 22:05] hhimanshu commented on #18841
@KyleAMathews, after deleting the folder and running `yarn`, things work, but this raises a concern - Do we have to perform this step every single time when we add a new plugin. I tried with 2-3 different plugins and the failure steps were reproducible.

Coming from CRA (create-react-app), this is a bad user experience.

[2019-10-19 22:12] EnKrypt commented on #18433
Strange. I actually cannot reproduce this warning message with the [Using Contentful Gatsby Example](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful).

@rayriffy can you update your packages and check if the warning still persists?

[2019-10-19 22:20] bvlktech commented on #18811
this should help you in your use case this is the docs for styled-components if you scroll down a bit there is a section on styling a btn

https://www.styled-components.com/docs/basics#styling-any-component

[2019-10-20 00:48] polarathene commented on #15189
As long as nothing else comes up on my end, I should be able to allocate time to this in November.

[2019-10-20 01:41] gabrielgene commented on #15537
Hey @marcysutton
I think I can do that.
Is all the documentation in this document? https://docs.google.com/document/d/1X-oKnmkGp5M-Klw7mFnR257cU83DgjT0KjgF1sEEFNI/edit#

[2019-10-20 02:38] rchrdnsh commented on #18811
hi @marcysutton, here is the repo:

https://github.com/arrowgtp/alma

...and the page in question is the careers page in the pages folder, and the button in question is on line 76 of the careers page.

Hi, @bvlktech, apologies, but i did not see see a button section, or at least, not anythign that is different from what i am doing already, i think?

[2019-10-20 03:02] rchrdnsh commented on #17660
I googled "touch event listener: NONE" and this is the first result:

https://developers.google.com/web/updates/2016/06/passive-event-listeners

dunno what this is is happening to everything in the app, but it seems to be the case that every element has this on it.

Man, I have no idea how to debug this, and it's driving me nuts...

[2019-10-20 03:14] rchrdnsh commented on #17660
Any thoughts @KyleAMathews and @DSchau? Ever seen something like this before in a gatsby site?

[2019-10-20 03:43] fandy opened #18847 "Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
Are decorators not supported? I'm using `gatsby-plugin-typescript` and have enabled decorators in my `tsconfig.json`:

[code]

So I tried adding a `.babelrc`, with this config:

[code]

And here's the error I got:

 ERROR #98123  WEBPACK

Generating SSR bundle failed

/Users/fang/app/.cache/develop-static-entry.js: Unexpected token (31:4)

  29 | export default (pagePath, callback) => {
  30 |   l

[2019-10-20 03:44] Mike-Dax opened #18848 "Out of spec resolution of plugins"
## Description

I've written some plugins, our company policy is to place source files in `./src` and built library files in `./lib`. Our `main` entry in our package.json points at our `./lib/index.js` file.

This is all within spec of the node resolution algorithm and is a pretty common practice (shared with babel, redux, blueprint, etc).

However Gatsby's plugin resolution incorrectly assumes th

[2019-10-20 04:32] Brennvo commented on #13723
If anybody else is having this issue, I realized it was because I was using the fragment inside of `gatsby-node.js`, which is apparently not allowed (though no documentation exists on this). The solution is to pass a unique value to the component you are rendering's context, and then query inside that component based off the value being passed into it as context.

This is related to #8156, and mor

[2019-10-20 06:57] kripod opened #18850 "Zero-config plugins, based upon the Next.js RFC"
## Summary

As [an RFC](https://github.com/zeit/next.js/issues/9133) about zero-config plugins has been submitted to Next.js, I thought a similar approach could be leveraged by Gatsby v3.

### Motivation

Currently, some plugins should be loaded before or after specific packages (e.g. [`gatsby-plugin-offline`](https://www.gatsbyjs.org/packages/gatsby-plugin-offline/) should be listed after `gatsby

[2019-10-20 08:57] rayriffy commented on #18433
This warning is still being present in `2.1.50`. Maybe it coming from another plugin, I will update my `gatsby info` below and deployment log can be found [here](https://app.netlify.com/sites/rayriffy-blog-preview/deploys/5dac206683f7b100082a03f2)

[code]

[2019-10-20 10:21] EnKrypt commented on #18433
Ok, I've managed to identify the conditions under which this can be reproduced.

This warning occurs only when `downloadLocal` is set to `true` in the plugin options for `gatsby-source-contentful` in `gatsby-config.js`.

This option is not set in the Gatsby provided example, so it does not show this warning there. The warning will also not show if there is nothing new to download from contentful i

[2019-10-20 10:25] andrwrbnsn commented on #18048
I am also running into this error

[2019-10-20 10:34] DanielRuf commented on #18048
This might be because npm calculates the deptree differently.

Does this also happen with the latest release of npm?

[2019-10-20 12:02] sakkshm opened #18855 "Hindi translation"
[code]

[2019-10-20 12:34] wouter-dev opened #18856 "Link changes url in browser, but does not navigate to the page"
Hi guys,

Building a Gatsby site. Struggling with the menu. When you click the link on the page it changes the URL in the browser but does not navigate to the page. (the page exists)..

`<NavItem>
            <Link to="/blog/">
                Blog
              </Link>
            </NavItem>`

Does somebody know how to fix this?

[2019-10-20 12:47] EnKrypt commented on #18433
Turns out the culprit was `got`, which is a dependency of `gatsby-source-filesystem`.

Discovering that was easy by tracing the deprecation warning's stack by running :

[code]

The stack was as following :

[code]

I'm going to spend some time making sure the tests are passing before making a pull request.

[2019-10-20 13:15] spaut commented on #12254
@devrnt
I think I'm having the same problem.  How do you diagnose that the parent component is rebuilding?  How did you fix it?

[2019-10-20 15:09] rroslaniec commented on #6989
this issue is still here. can somebody re-open this?

[2019-10-20 16:00] dickwyn opened #18858 "Gatsby image flicker when navigating to another page"
## Description

My header component uses an optimized image from gatsby-plugin-sharp and I am rendering it with gatsby-image. I noticed that the image flickers when I am changing between pages (eg. between home and page 2).

I updated to the latest version of gatsby and gatsby-image

I tried debugging by putting the same image in the header component but using the <img> tag with a relative import

[2019-10-20 17:27] #17614 closed

[2019-10-20 17:27] #17688 closed

[2019-10-20 17:27] #17702 closed

[2019-10-20 17:27] #17713 closed

[2019-10-20 17:27] #16888 closed

[2019-10-20 18:38] kripod commented on #15601
I could barely figure out why [`Object.fromEntries`](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Object/fromEntries), but it turns out that the reason has been lying in the [changelog](https://github.com/zloirock/core-js/blob/bd50bd56519864758ee5c36a8839c9c3f505a540/docs/2019-03-19-core-js-3-babel-and-a-look-into-the-future.md#stable-ecmascript-features) of core-js v

[2019-10-20 18:51] obetomuniz opened #18864 "Why "gatsby-plugin-offline" works like an SPA?"
## Summary

Using "gatsby-plugin-offline" plugin, I noticed a "flashing" bug happening on every first load. Debugging the code a bit, I removed the given plugin and the flashing bug was gone.

## Relevant information

After more debugging to try to understand the problem, I added the "gatsby-plugin-offline" plugin again to check its output, and I noticed the following output in my `public/index.ht

[2019-10-20 19:19] pieh commented on #18787
Debugging chromium itself seems to confirm that `fetch` + `json()` still actually parse on main thread:

[code]

So I would say using XHR (no need to polyfill it for ie) + JSON.parse (as Body::parse() still execute v8::JSON::Parse on main thread) is better solution (same perf, more backward compatible).

Any thoughts on that part?

While it seems we can't really attack json parsing perf here, the

[2019-10-20 19:50] Carike commented on #15233
Hi all!

Sorry, I'm still busy with this!

[2019-10-20 20:04] Cobwebster commented on #17984
Hey,

Thanks for the reply.

So priority isn't a thing anymore, if I blacklist my blog catalogue from being index'd, would it still index any links it finds on those pages?

say for example it doesn't index the page /posts page but it'll still scan it and see that in that page it links to /post/1/

or does it just ignore the page entirely and doesn't even attempt to follow links on it.

[2019-10-20 20:29] alexluong opened #18865 "How to extend custom interface"
## Summary
I'm using `gatsby-theme-blog` and would like to extend `BlogPost` interface

## Relevant information

I tried using `createResolvers` but receive an error `Error: Cannot find ObjectTypeComposer with name BlogPost`.

[code]

[2019-10-20 20:48] antoinerousseau opened #18866 "Loading chunks while a new release is deployed"
###  Description

I think there is a structural issue with the lazy loading of page chunks.
I came across various `ChunkLoadError`s in Sentry reports, and just now it happened to me in Chrome, and it happened when I had loaded a page, then deployed a new version (via Netlify), and then tried to navigate to another page without a full page reload: the new deployed chunks have different paths, so th

[2019-10-20 21:20] iqbal125 opened #18867 "How do you track customs events in google analytics tracking plugin"
https://gatsbyjs.org/packages/gatsby-plugin-google-analytics/

## Summary
for example recording a button click or scroll position as a google analytic event. (different from clicking on outbound link)
## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-20 22:31] khalilbenachir commented on #17051
i m trying all the solutions proposed here but i don t figure out why it didn't work for me .
`11:28:46 PM: error "gatsby-source-graphql" threw an error while running the sourceNodes lifecycle:
11:28:46 PM: Response not successful: Received status code 401
11:28:46 PM:
11:28:46 PM:   ServerError: Response not successful: Received status code 401
11:28:46 PM:
11:28:46 PM:   - index.js:23 Object.exp

[2019-10-20 23:16] JaKXz commented on #15294
Not stale - does anyone know what the intended behaviour is for this plugin?

[2019-10-21 02:07] riencoertjens commented on #6723
@Italox if you want you can go ahead and do this, unfortunately I won't have time for it.

[2019-10-21 05:37] vladar opened #18872 "Schema customization: `@childOf` directive doesn't cover an edge case with convenience argument for the root field"
## Description

Schema customization API and a new `@childOf` directive won't add a convenience argument for the root field (only happens when there are no nodes of the type). It does add a convenience _field_ but not an _argument_.

Follow up after #18871
Related to #15305

### Steps to reproduce

- create a site with `gatsby-transform-sharp` plugin (e.g. default starter)
- delete all static imag

[2019-10-21 06:27] diyarfaraj commented on #15038
having the same issue. Tried @Paahn s solution, but did not solved anyhting. Are you guys on winows or mac?

[2019-10-21 06:56] freiksenet commented on #18872
I think this is an ordering problem. In `updateSchemaComposer`:

[code]

and in `processTypeComposer`

[code]

Implicit children are added in `processTypeComposer`, while `childOf` are added after they are processed. That is a bug, they should both be added at the the time.

CC @stefanprobst

[2019-10-21 07:16] freiksenet opened #18873 "[schema] Cleanup infer/dontInfer"
Currently we have non-symmetrical relation between directives `@infer`/`@dontInfer` and extensions `infer`. `@infer` maps to `infer: true`, while `@dontInfer` maps to `infer: false`. This not only breaks the convention that directives directly map onto extensions, but also the convention that extension values are objects.

I propose the following changes:

1. Add a parameter to `@infer` - `mode`.

[2019-10-21 08:45] vladar commented on #10203
@coreyward Will the approach taken in #18548 fix this for you?

[2019-10-21 09:26] ryanerringtonatom commented on #14497
Also got this problem, seems to be specific to windows and transparent png to webp format.

[2019-10-21 09:49] cbetta commented on #17335
I agree with @LekoArts, I'd love for this plugin to work even if only in a limited capacity. Right now it doesn't work at all.

[2019-10-21 10:11] thomaswangio commented on #14607
@spences10 thanks for all your work on this, found this closed issue while I was playing with mdx and `react-live` all weekend and it's a tougher than I expected to get working with an existing blog! The `gatsby-theme-blog` is very different than `gatsby-starter-blog` so that didn't end up being an option to switch over to. Your new tutorial is looking really great!

I think it is worth considerin

[2019-10-21 10:16] spences10 commented on #14607
Thanks @thomaswangio 🙏

That post has taken up a lot of my spare time as of late, it's nearly done too 🎉

For anyone else interested the URL will change when I publish it but the playlist of the videos is here: https://www.youtube.com/playlist?list=PLGi_uHe_v04DRZ58L_0O5cilalymkC7On

Thanks!

Closing again as I think it's been opened again in error.

[2019-10-21 10:18] thomaswangio commented on #14607
@spences10 Ahh no sorry I want to re-open to address these 2 issues:

[2019-10-21 10:22] pieh commented on #18873
Question about:

This is for when users/plugins declare type using `schema.buildObjectType`? If so, should using `@infer` (without params) and `@dontInfer` directives using SDL also trigger deprecation warning?

[2019-10-21 10:38] stefanprobst commented on #17051
@khalilbenachir
`Received status code 401` looks like an authorization error

[2019-10-21 11:03] EmaSuriano commented on #17335
Hello, guys as a quick workaround and in order to use this package the way it's right now you can include this script into your `package.json` that implements the patch that @biernacki proposed.

[code]

It works in MacOSX and Unix 👍

[2019-10-21 11:04] freiksenet commented on #18873
Yes, they should do `infer: {}` or `infer: { mode: 'ENABLED' }`.

I think it's fine to have defaults, so `@infer` is `infer: {}` that is a valid config.

[2019-10-21 11:29] dandv opened #18877 "GraphQL plugin config: document what exactly the `typeName` is"
## Summary

New Gatsby user, but experienced with GraphQL. I've cloned [gastby-with-apollo](https://github.com/jlengstorf/gatsby-with-apollo) and I'm trying to use the the [gatsby-source-graphql plugin](https://www.gatsbyjs.org/packages/gatsby-source-graphql/) to fetch a basic list of names. I can't figure out what to pass in the `typeName` field of the plugin configuration.

## Relevant informati

[2019-10-21 11:36] jakearchibald commented on #11961
@overlordofmu

Right, but for most requests, that's the majority of the delay, so this method doesn't really gain you much in terms of performance.

I guess this is why Netlify's own sites, such as https://www.netlify.com/blog/, use unique URLs and long max-ages, against the advice you're giving here 😄.

Here's some general advice on caching https://jakearchibald.com/2016/caching-best-practices/

[2019-10-21 11:49] #15872 closed

[2019-10-21 11:55] sidharthachatterjee commented on #15872
Published in `gatsby@2.17.0`

[2019-10-21 11:57] Haroenv commented on #18437
asked to the original author if they could add credentials to debug with, in case you do have them (I don't), this should be a repro: https://github.com/Haroenv/gatsby-bug-report

[2019-10-21 12:05] #17531 closed

[2019-10-21 13:24] lannonbr commented on #18855
Hey @sakkshm so this is a duplicate of #18780 so I am going to close this issue and suggest you posting a comment there saying you're interested in helping out with translations for Hindi.

[2019-10-21 13:24] #18855 closed

[2019-10-21 13:24] bitttttten commented on #18531
I could also imagine it's another plugin sending a postMessage to the service-worker, and this is not handling those cases. I didn't investigate this idea yet though.

[2019-10-21 13:50] pauleveritt commented on #18810
@tbrannam I suspect something like this might be deep enough that it takes a while. As a workaround, I plan to make a field directive `metadata` that does the same thing, with a default value so it doesn't have to be entered in instances (documents) of that type.

Sort of like the [example about drafts)(https://www.bradmcgonigle.com/blog/drafts-for-gatsby).

I'm hoping that I can introspect all th

[2019-10-21 13:56] MoliseMG commented on #4693
how do you add sharp manually?

[2019-10-21 14:08] sidharthachatterjee commented on #17531
Published in `gatsby-transformer-sharp@2.3.0`

[2019-10-21 14:20] sidharthachatterjee commented on #18803
Tagging the core team accessibility expert @madalynrose 🎉

[2019-10-21 14:27] citypaul commented on #7917
I'm not sure why this issue was closed. Doesn't this comment make the most sense: https://github.com/gatsbyjs/gatsby/issues/7917#issuecomment-421389519

It does seem odd to me that the wrapper provides any styling at all. Surely no styling but the option to add styles is the way to go?

[2019-10-21 14:37] daniloab opened #18884 "Video on Quick Start page is broken"
## Description
Video on quick start page at documentation is broken. I tried to do reload, open on incognito and don't work.

<img width="1438" alt="Screen Shot 2019-10-21 at 11 33 52" src="https://user-images.githubusercontent.com/19939822/67214931-fb971e00-f3f6-11e9-8166-2b33e41761d5.png">

### Steps to reproduce
Open [quick start](https://www.gatsbyjs.org/docs/quick-start) page and look for the

[2019-10-21 14:39] #18884 closed

[2019-10-21 14:40] daniloab commented on #18884
I concern that is my connection. On incognito, page works o/

[2019-10-21 14:52] fullspectrumprocessing commented on #6730
Quick question? When deploying on Netlify, they pretty much handle 'gatsby build' for you so I don't need to build the site prior to deploying it for the manifest plugin to work correct?

[2019-10-21 15:41] #18836 closed

[2019-10-21 15:43] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #18492
- your experience level in open source: Not much, but I have created a number of small open source projects, and I have experience in reporting issues and doing small PRs, especially in projects related to modern web development, devOps tools.

- your level of experience in the target language and localization: I am a native Korean and all Korean student have been studied English for many years. I

[2019-10-21 16:15] iamaladdin commented on #12040
Hi all , i had the same problem and i solved it , all i did is Empty Cache and Hard Reload in the browser . To do so : press **F12.** This opens the Chrome Developer Tools. Next, right-click on the browser Reload button click on **Emty Cache and hard reload** . I hope it works for you all .

[2019-10-21 16:20] aaronearl opened #18886 "Cannot read property 'childImageSharp' of undefined"
## Description

I am experiencing a local error, the development cannot read property of 'childImageSharp' of undefined.

### Steps to reproduce

https://github.com/aaronearl/thurz-party

run: gatsby develop

### Expected result

The expected result is to display the image 'LATHURZ' below the event section. however, this is not happening. I am getting the above-mentioned error "cannot read propert

[2019-10-21 16:34] fandy commented on #18764
Thanks! That solves it.

[2019-10-21 16:36] woonjangahn commented on #18492
- **your experience level in open source**: I have a experience with Korean translating [react-developer-roadmap](https://github.com/adam-golab/react-developer-roadmap), but I guess that's it for now.
- **your level of experience in the target language and localization**: Native Korean speaker, and also fluent in English.

[2019-10-21 17:27] #16762 closed

[2019-10-21 17:27] #17748 closed

[2019-10-21 17:54] marcysutton commented on #15147
Going to close this as it's outdated now!

[2019-10-21 17:54] #15147 closed

[2019-10-21 18:05] marcysutton commented on #15537
@gabrielgene this one was actually assigned on Friday. But if anything changes, we'll let you know!

[2019-10-21 18:18] marcysutton commented on #17931
That's exactly it. These pages were added at that location in the sidebar to surface important aspects of the Gatsby ecosystem, and we aren't going to remove them without further thinking. However, incorporating another solution is outside of our team's priorities at the moment. I'm going to close this as we aren't going to skip or remove important sidebar links any time soon.

[2019-10-21 18:18] #17931 closed

[2019-10-21 18:54] jjroush commented on #13305
@marcysutton I'll do my best to get a PR from my fork up in a day or so. I know the issue talked about putting this under the `Improving Performance` but it may be better suited in the security section of the conceptual guides. You may have a better idea after I get the PR up.

[2019-10-21 19:20] pauleveritt commented on #18810
@tbrannam I struck out...adding a metadata field with a directive to add *type* metadata didn't work. That information isn't available via queries on the type, e.g. `{__type(name: "Author"} {fields: {name}}}`

I can get lots of information on the field, but not the directive. Which means I'd need to query an actual document, which defeats the point of introspection.

I'll have to move type metadat

[2019-10-21 19:21] brettinternet commented on #17757
Increasing resources also helped my CI/CD build. I had a different error, but the issue appears to be similar (especially since OP's build stalled at `Generating image thumbnails`):

[code]

[2019-10-21 19:33] mhmdAljefri opened #18891 "Create folder with index.html instead of file.html"
I have news with posts
but after I create a page and run build my public folder looks like:
/public
---/news
------post.html

what I'm looking for is
/public
---/news/
------/post
---------index.html

any suggestions, please

[2019-10-21 19:45] mhmdAljefri commented on #18891
I found it...
the path should end with a forward slash.
/news/post/ instead of /news/post

I will close it
Thanks

[2019-10-21 19:45] #18891 closed

[2019-10-21 20:59] MichaelDeBoey commented on #18493
I'm willing to help with the Dutch translations. 🙂

- **Your experience level in open source:** I already contributed a lot of code to the CodeSandbox repo's
- **Level of experience in target language and localization:** I'm born and live in Belgium. I'm constantly coding in English as my day to day job and when doing open source work.
- **Commitment:** I can dedicate a couple of hours on a weekly

[2019-10-21 21:48] davidhellsing commented on #18791
+1

[2019-10-21 21:52] cakerake opened #18894 "Updating Gatsby instance with new build?"
So i got my first gatsby test site up and running and ive been trying to figure out an elegant way to update app with a new build and i can't seem to figure out an elegant/non-interruptive method yet

this is the basic method :
- Work locally running yarn develop
- Push git with all the latest updates
- Run yarn build on the server (the website at this point is throwing errors)
- Run yarn serve (n

[2019-10-21 22:54] joelwilsonmt opened #18896 "Exclude noindexed pages from gatsby-plugin-sitemap?"
## Summary
I am getting errors in my Google Search Console for "Submitted URL marked ‘noindex’". I am using both the React Helmet and gatsby-plugin-sitemap plugins. I know there is an option in the sitemap plugin to exclude certain predefined pages from the generated sitemap, but is there a way to programmatically exclude pages from the sitemap if a "noindex" can be found in that page's <head>? Th

[2019-10-21 23:15] Silic0nS0ldier commented on #17934
Stale check here seems tailored to pruning bugs back rather than a feature request backlog. Bot also seems to be ignoring certain interactions (label was added 25 days ago).

[2019-10-21 23:21] ColeTownsend commented on #11650
Not stale

[2019-10-21 23:48] idpokute commented on #18492
- your experience level in open source: I have some experience with Korean translating Laravel 5.6 documents and QA contributing for Wordpress Gutenberg.
- your level of experience in the target language and localization: Native Korean speaker. I live in Toronto, but I'm not a native English speaker. I'm still practicing English.

[2019-10-22 01:00] marcysutton commented on #18284
@muescha this PR only covers changes in the English repo, and there isn't really a formal "you" other than "you", and we aren't going to use "thou".

Once https://github.com/gatsbyjs/gatsby/pull/18424 is merged, there will be further instructions for translation repos.

[2019-10-22 01:37] tbrannam commented on #18877
`gatsby-source-graphql` stitches other GraphQL schemas into the Gatsby GraphQL schema.

When attaching an external schema - you are grouping all those queries under that fieldname.

try renaming Type to CClimate and fieldname to cclimate.

[code]

[2019-10-22 01:49] Fdango commented on #18688
@jonniebigodes okey, thanks.

[2019-10-22 01:49] #18688 closed

[2019-10-22 02:05] aebmknrl opened #18897 "After build the app, i got 404 errors with page-data.json"
## Description

After build the app with command `gatsby build` i got several 404 errors with page-data.json

![image](https://user-images.githubusercontent.com/5152002/67254949-b81bce80-f44d-11e9-91dd-e7421055b45e.png)

In addition, i have a dynamic routes set in the project (I don't know is this is related to the error, but i have a little suspect about this). Also, if you see something that is

[2019-10-22 02:12] universse commented on #18877
Can you try this?

[code]

[2019-10-22 03:07] kishanjasani opened #18898 "New Translation Request - Gujarati"
[code]

[2019-10-22 04:04] universse commented on #18894
Check out this [Deploying and Hosting Guide](https://www.gatsbyjs.org/docs/deploying-and-hosting/). I would recommend [Netlify](https://www.gatsbyjs.org/docs/deploying-to-netlify/).

[2019-10-22 04:26] aaronearl commented on #18886
import React from 'react'
import { graphql } from 'gatsby'
import styled, { css } from 'styled-components'
import { Flex, Box } from 'grid-styled'
import ContactForm from '../components/ContactForm'
import Hero from '../components/Hero'
import Layout from '../components/Layout'
import HeroText from '../components/HeroText'
import Social from '../components/Social'
import { media } from '../utils/s

[2019-10-22 05:05] dandv commented on #18877
@tbrannam: thanks for the suggestion, it works. Why the particular capitalization for typeName, `CClimate`, though? I replaced it with `BOGUS`, and the query worked just as well. So,

1. `typeName` can be, literally, anything
2. the `fieldName` is the arbitrary name for the field under which the remote GraphQL source will appear in Gastby's GraphQL schema. You'll use it in the `GatsbyQuery`. Worki

[2019-10-22 06:17] jasonsoden commented on #15213
I'd also like an update on this. We're stuck on gatsby v2.10.5 because 2.11 "enabled babel-loader for all dependencies" which completely killed our build time. We're literally blocked because of the 2.11 change and can't upgrade due to build timeouts.  Using `--max_old_space_size=4096` does nothing. Gatsby used to build so fast. How do we opt-out of the new ~~bug~~ feature? If there's no fix we're

[2019-10-22 06:23] rchrdnsh commented on #18404
Hi @universse, apologies for not replying sooner, as work has been rough this past week.

So, I threw this into the app, and the part that trips the app up is this part:

[code]
...which gives me the following error:

<img width="1028" alt="Screen Shot 2019-10-21 at 11 19 12 PM" src="https://user-images.githubusercontent.com/7884263/67262342-4fd2ea00-f459-11e9-9a78-27a0ccdb3356.png">

...so, i gue

[2019-10-22 06:43] kibagateaux opened #18902 "[gatsby-source-contentful] Generating conflicting field types for node id during schema generation"
## Description

As far as I can tell it's an issue with the Gatsby `id` field generation in the contentful-plugin. Obviously one is generating an array of string and the other is just a string. I'm not familiar with the library at all but I think I've narrowed it down to this section of code in [`normalize.js`](https://github.com/gatsbyjs/gatsby/blob/70fb3387a1a2ec4f0f5a4031cc27a4b074ecfb26/packag

[2019-10-22 06:44] universse commented on #18404
So in `useMusicPlayer` you are having this

[code]

Now it becomes

[code]

[2019-10-22 07:37] tbrannam commented on #18877
You are correct - both names are fairly arbitrary.  The typeName is used, if you peek at the Docs generated in GraphiQL you will see that `myRemoteGqlSource: BOGUS` is defined.  In this case BOGUS represents the type of all the resolvers of your GraphQL service.

[2019-10-22 07:50] LekoArts commented on #17335
We'd highly appreciate if someone could put up a PR implementing the JSON solution and updating the docs to make users aware of these recent changes (+ linking to this issue). Thanks a lot!

[2019-10-22 07:59] LekoArts commented on #18585
Thank you for opening this!

Blog posts on our blog should be news, releases, stories, and ephemeral content and sadly I don't see your blog post fitting in these categories. We'd highly appreciate if you'd be up for improving the current README of the plugin if you think some things are missing. Thanks!

We're marking this issue as answered and closing it for now but please feel free to reopen th

[2019-10-22 07:59] #18585 closed

[2019-10-22 09:14] itdsntwork commented on #17131
Got the same issue and could not track the reason. This happen to me both on mac and pc. Could try to relate this to internet speed, however this happened to me also when I was connected to high speed network. What seems to be working for me right now is to add this in my env

`GATSBY_CONCURRENT_DOWNLOAD=5`

[2019-10-22 09:25] wouter-dev commented on #18856
Got it fixed, some GraphQL errors..

[2019-10-22 09:25] #18856 closed

[2019-10-22 09:29] diyarfaraj opened #18904 "Can't deploy or build: Problems with gatsby-source-contentful plugin options: spaceId: undefined - "spaceId" is required accessToken: undefined - "accessToken" is required"
## Cant deploy or build

Hi guys, everthing is working fine on localhost, but on when I run build command this error comes up. Please help!

ERROR

Problems with gatsby-source-contentful plugin options:
spaceId: undefined - "spaceId" is required
accessToken: undefined - "accessToken" is required
host (default value): "cdn.contentful.com"
environment (default value): "master"
downloadLocal (default

[2019-10-22 10:14] Austaras opened #18906 "support other type of config file"
## Summary

I have read [previous issue](https://github.com/gatsbyjs/gatsby/issues/1457) and seen many people interested in writing gatsby config file using TypeScript. IMO it's also possible to write `gatsby-config.js` in json as it's quite simple and straightforward.

### Motivation

I believe this feature won't involve many work and will benefit many people who value type system and simpilicty.

[2019-10-22 10:45] MartDL commented on #15038
I got round it in the end by reinstalling the npm and adding the variables again and it worked... seems Dina did the same too :-)

[2019-10-22 11:56] muescha opened #18908 "create validator to check for broken links in www"
## Summary

It would be nice to have some link check on the gatsbyjs.org site maybe as validator while an PR or better also on `gatsby develop` to find old broken links

### Caveeats

I know we can not find and check all links because some are generated from sourced data.

### Motivation

During Hacktoberfest I see also some broken links reported. Example #18905

It would be nice to avoid broken l

[2019-10-22 12:03] lannonbr commented on #18908
Maybe putting something like [Hyperlink](https://github.com/Munter/hyperlink) into a GitHub Action could be a good solution to this so it would run similar to how the site showcase validator works right now.

[2019-10-22 12:21] jasonbodman commented on #18284
I'll take a look at files in the docs folder beginning with "L" if no one has taken them up.

[2019-10-22 12:21] bersot1 opened #18909 "Collapse by defaut Closed"
## Description

How can i set the Collpase by defaut Closed. Nowadays when I entry in my blog, the collpase come open.

Print:

## Print

![git ask collpase](https://user-images.githubusercontent.com/51892738/67285124-5ee38780-f4ad-11e9-9ec9-192ff0350bc6.png)

### Theme

gitbook-starter

### Environment

  System:
    OS: Windows 10
    CPU: (6) x64 Intel(R) Core(TM) i5-8500T CPU @ 2.10GHz
  Binar

[2019-10-22 12:26] diyarfaraj commented on #15038
Hi Martin
By reinstalling npm, you mean I remove NPM and then install npm again? Do I need to install all the packages again one by one?

Thanks!:)

[2019-10-22 13:16] guybowden commented on #11961
Just to add to this, I came across this exact issue (Netlify / Gatsby) - and  some experimenting found that even with a brand new site from the starter template, running successive `gatsby build` generates commons.js files with different hashes, but the exact same content when doing a diff.

Other chunks files remain the same - same hash, same content. Just the common one changes

[2019-10-22 13:31] wahlforss commented on #13956
@taigfs
Yes and we also didn't set the canonical urls correct!

[2019-10-22 13:35] #18514 closed

[2019-10-22 13:55] sidharthachatterjee commented on #18514
@jmsv Sorry for missing your comment!

Fixed and published in `gatsby-cli@2.8.4` thanks to @Mrigank11

[2019-10-22 14:23] Tammy-Butcher commented on #16455
Also added a placeholder image on the Media tab and that did the trick.

[2019-10-22 14:30] manuelJung commented on #18689
so should I create an RFC or should someone from the gatsby team do this? (due to the complexity)

[2019-10-22 14:41] KiranAkadas commented on #18284
I'll take a look at the files starting with 'g' if left out

[2019-10-22 14:49] psantini opened #18911 "Page-data not updated on post to __refresh endpoint"
## Description

I have a site setup with gatsby and contentful.  When running the preview server locally, if I make a change in a BlogPost (one of our content types in contentful with its own query / createPage call in gatsby), when I reload the page, it does not show the updated content.  However, if I make a change in a MarketingPage (another one of our content types) the change is reflected in

[2019-10-22 15:17] rchrdnsh commented on #18404
hmmmm...still having the same issue:

<img width="1030" alt="Screen Shot 2019-10-22 at 8 11 35 AM" src="https://user-images.githubusercontent.com/7884263/67300937-9baa8100-f4a3-11e9-83f8-69d3104d141d.png">

...and we're still not using the constants that we created here:

[code]

...so what are the `currentTrackArtworkSrc` and `currentAudioSrc` for? Should we not use them somewhere? I tried this b

[2019-10-22 15:32] universse commented on #18404
Would you mind sharing your repo so I can take a look later?

[2019-10-22 15:35] KN999 commented on #18780
Hi, I would like to work on this.

[2019-10-22 15:59] abeerk991 commented on #5601
Hello! Having the exact same issue as fredjens though I'm not sure I follow Pieh's recommendation. I've added pathPrefix: '/blog' to gatsby-config.js and am running the command gatsby build --prefix-paths when deploying on Netlify.
The site is still serving from domain.com though (instead of domain.com/blog) and clicking links goes to domain.com/blog/link where there's nothing (content remains on

[2019-10-22 16:17] pieh commented on #18433
See https://github.com/gatsbyjs/gatsby/pull/18857#issuecomment-545040298 - we are blocked with getting rid of deprecation notice until we can safely bump one of dependency.

[2019-10-22 16:41] joshuabaker commented on #9733
@rstacruz _Thank you!_ 🙏

The import order was what was causing this for us.

[2019-10-22 16:59] rchrdnsh commented on #18404
But, of course, thank you XD

https://github.com/rchrdnsh/RYKR

[2019-10-22 17:11] muescha commented on #18908
I found also https://www.gatsbyjs.org/packages/gatsby-remark-check-links/ but this is only for me files?

[2019-10-22 17:18] mshick commented on #11105
Problem here as well. This is an issue if you're trying to align your develop URLs with production URLs.

Seems it would need to be handled in this file with some simple middleware and a config switch:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop.js

[2019-10-22 17:27] #11179 closed

[2019-10-22 17:27] #11563 closed

[2019-10-22 17:27] #11672 closed

[2019-10-22 17:27] #12080 closed

[2019-10-22 17:27] #13846 closed

[2019-10-22 17:27] #14278 closed

[2019-10-22 17:27] #17159 closed

[2019-10-22 17:27] #17691 closed

[2019-10-22 17:27] #17701 closed

[2019-10-22 17:27] #17726 closed

[2019-10-22 17:27] #17739 closed

[2019-10-22 17:27] #17740 closed

[2019-10-22 17:39] carllippert commented on #11780
@josefaidt did this proof of concept work? I am trying to get a lerna monorepo set up and am running into about a days worth of issues seemingly related to staticquery's not being picked up if they are not in main src folder. In demo i see you had all your quries in site folder but was wondering if you went further with this?

[2019-10-22 17:46] rayriffy commented on #18433
Don't worry, I can wait but I think it will be able to safely remove support for Node 8 now since it's not an active LTS

[2019-10-22 17:59] fullspectrumprocessing opened #18917 "Gatsby-plugin-manifest does not work, 404 error in console after building site."
## Description

After deploying my site to netlify I continuously get a 404 error for manifest.json.
I have installed and configured the gatsby-plugin-manifest just like the docs say however I can not get rid of this 404 error. After reviewing other issues and questions I still haven't found a fix. I deleted modules, lock files, and caches to no avail. I also built the site locally then deployed i

[2019-10-22 18:18] josefaidt commented on #11780
@carllippert yes, however I use yarn without lerna now. My [personal site](https://github.com/josefaidt/josefaidt.github.io) uses a monorepo with a theme, demo site, and app site. In [app/content/pages/resume.mdx](https://github.com/josefaidt/josefaidt.github.io/blob/master/app/content/pages/resume.mdx) you can see I'm using a page query outside of the source folder

[2019-10-22 18:30] carllippert commented on #11780
@josefaidt did removing lerna aid in this? I would have to do a lot of digging but i think when you use the page-creator plugin it then can pickup pageQueries but yet basically just scans src folder for StaticQuery and useStaticQueryHooks thus killing any components say in a shared ui package. I use page creator to generate pages in a dif package and that seemingly works its just the underlying co

[2019-10-22 19:06] MartDL commented on #15038
No, so I hard coded the contentful api keys first in gatsby config which worked fine so I knew the fault was between the variables and the config..
Then I removed and reinstalled the npm plugin for contentful... added the variables again and ran the server and it worked..
hope this helps !

[2019-10-22 19:35] nkuehn opened #18918 "CLI: flag to disable animations for cleaner CI logs"
## Summary

Allow to run the CLI in a "plain log lines" mode for CI environments.

### Basic example

(up to you how to implement)

### Motivation

CI logs would (on some CIs, e.g. ZEIT now) be much more humane if it would be possible to disable the progress animations.  Analogous  to the  `--no-color` option,  `--no-animations` (or however you name it) would be very helpful. Including it in --no-

[2019-10-22 19:41] viktor-wolf commented on #18528
@TylerBarnes I don't know what I was doing wrong, but I was unable to get the image to show by changing the opacity, so I just bit the bullet and wrote my own little slideshow script that works correctly with gatsby-image. Thanks again for taking the time to look into this and giving me advice :)

[2019-10-22 19:45] TylerBarnes commented on #18528
@viktor-wolf anytime! Glad to hear you have something working for your site :)

[2019-10-22 20:11] danielimmke commented on #12850
I'd like to take this on.

[2019-10-22 20:44] alliestehney commented on #14228
@stefanprobst is this still an open issue? If so, I came across this issue when reading the documentation on `StaticQuery` components and opened a small PR to include a mention of the new `useStaticQuery` hook.

[2019-10-22 20:44] gillkyle commented on #13708
I'm going to begin working on #12 Building Apps with Gatsby soon, and will have an issue with a workflow assessment that links back to this issue when it's ready.

[2019-10-22 20:52] marcysutton commented on #18116
This issue has been internally assigned. There is a PR open in #18126, but as the feedback hasn't been addressed in a timely fashion, we have someone taking it on specifically.

Thanks so much for the offer, @N7Layla. We would still love to have you as a contributor for other open issues; let us know if you have any questions about the things you find!

[2019-10-22 21:08] josephkmh commented on #18284
I'm taking a look at files starting with "p" and "q"

[2019-10-22 22:47] devpato commented on #16455
Added a placeholder image and fixed my issues.

[2019-10-22 22:53] sazhang commented on #18284
looks like 'o' and 'f' are left so will tackle those

[2019-10-22 23:03] pieh commented on #18918
Gatsby does check following check - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/util/is-tty.js to decide whether to use those "animations". If now runtime isn't properly discovered as CI environment, you could force it by setting truthy `CI` env var

[2019-10-22 23:06] pieh commented on #18918
We also have some custom code for CI detection elsewhere which seems to cover "now" that was added in https://github.com/gatsbyjs/gatsby/pull/17314 but cli doesn't make use of that, so if this is something that you would be interested in contributing, making sure that CLI use this as well would be great improvement

[2019-10-22 23:56] dnsbty opened #18927 "Improve docs on import vs require"
## Summary
As someone with a pretty low understanding of Javascript coming into the project, I don't know much about the difference between `import` and `require` and when to use one over the other. Better documentation on that could be nice. Specifically in [part 7 of the tutorial](https://www.gatsbyjs.org/tutorial/part-seven/#creating-slugs-for-pages) near the text that says `function for creati

[2019-10-23 00:08] iammatthias commented on #7714
In the end, I think this was a case over complicating things. The [example provided in the gatsby-mdx repo](https://github.com/ChristopherBiscardi/gatsby-mdx/tree/master/examples/using-contentful) was a bit confusing. It seems like it mirrors the content to the local filesystem, then renders the MDX? Never got that working.

What ended up being really helpful was @johno's [gatsby-example-contentfu

[2019-10-23 00:36] lekterable commented on #18927
The reason why you have to use `require` know as `CommonJS` in `gatsby-node.js` is that this file is executed in the node env, not in the browser. Depending on your version of node it might not support `import` syntax known as `ES Modules` at all, or you might have to use a special flag to turn it on. There are some differences between `CommonJS` and `ES Modules` imports, but none of them matter i

[2019-10-23 01:00] makeupsomething commented on #18278
Sorry for the delay getting back to this!

I agree using the work "Templates" would be confusing in this context.

I think it should include pretty much what you have described here.
Styling themes wth different types of CSS, or using Theme UI. Maybe as an example I would take a theme and apply the same styles to it using these different techniques.

About layout components. I think we could defin

[2019-10-23 03:17] universse commented on #18404
First, in the `content/music` folder, guess you can safely delete `artwork` and `audio` folder.

Here's the final code with some comments. I cleaned up the code a bit also.

[code]

[code]

[2019-10-23 04:08] yertech opened #18932 "Develop ok but Build failed: WebpackError: TypeError: Cannot read property 'headerPageData' of undefined"
## Description

Hi, I have an issue when I launch the build with my personal website (https://github.com/yertech/portfolio). It's ok with npm start by failed with npm run build.

I have a page.js in src/template/ wich contains
[code]

The pageData object isn't accessible in the Layout.js and his header component but accessible in his children like Banner component  :

[code]

### Steps to reproduc

[2019-10-23 04:59] tesseralis opened #18933 "[TEST ISSUE] English Translation"
[code]

[2019-10-23 06:53] roadwig commented on #17556
This bug is still a problem for me. I can't seem to add a `not stale` label to this issue either.

[2019-10-23 07:05] #18872 closed

[2019-10-23 07:26] valiooo opened #18936 "markdownRemark configuring the tableOfContents"
I'm trying to configure tableOfContents to generate toc list only from second-level headings. My graphql looks like this:

`tableOfContents(
      heading: "h2",
      maxDepth: 2
    )`

If I add any string value to the heading field, I'm returned an empty tableOfContents. If I leave the heading field empty, full TOC (from h1) is returned as expected.
Is this is a bug or I'm doing something wrong

[2019-10-23 07:43] dandv commented on #18877
Thanks for the clarifications! I've submitted #18937 to improve the plugin's doc.

[2019-10-23 08:16] freiksenet opened #18939 "GraphQL Schema rebuilding"
Currently in develop the schema doesn't change when data changes, even thought this can sometimes happen. This proposes adding updating schema when needed.

Lots of the ground work has already been done, things that should react to schema changes do react to them, thus only implementing actual schema updating would be required.

We already rebuild a schema during our bootstrap process due to conte

[2019-10-23 08:30] Wolfsun commented on #17809
Please reopen this issue.

[2019-10-23 08:32] Wolfsun commented on #17607
Please reopen this one thanks.

[2019-10-23 08:53] Roshif commented on #12313
you can try :

content {
            json
         }

[2019-10-23 09:21] rmcsharry commented on #12313
@Roshif Yes, using the json node works, thank you so much!

[2019-10-23 09:39] #17824 closed

[2019-10-23 12:09] jasonbodman commented on #18284
Hi - I'll take the available "B" files in the docs/docs folder. (I think that is "babel" to "browser" since the "building" docs are already claimed.

[2019-10-23 13:10] nejurgis opened #18944 "Gatsby Navigation doesn't work when its deployed"
## Description
https://warehouse.netlify.com/
I have a Gatsby site thats deployed on netlify, (using netlifyCMS). It works locally and was always working when i would deploy it to netlify, until I implemented react hooks yesterday. Now, when I'm clicking on links in navigation it throws an error:
[code]
I think the component that's causing this is this one:
https://github.com/nejurgis/warehouse/bl

[2019-10-23 13:18] djangman commented on #15344
Thanks for this answer. I'm currently trying to do this, but when I attempt any image upload, getting "An error occurred while uploading your asset.", no matter what image I upload.
  Hopefully contentful will resolve that very soon.  ( might be a corporate firewall though, too,.. so I'm going to try connecting to their guest wifi here )

[2019-10-23 13:29] LekoArts commented on #17809
cc @vladar @freiksenet

[2019-10-23 13:32] neefrehman commented on #18731
Closing issue as PR #16686 that solves the problem has been merged!

[2019-10-23 13:32] #18731 closed

[2019-10-23 13:55] nejurgis commented on #18944
EDIT: sorry guys, it was my incorrect usage of state and hooks in a functional component, It seems that I solved it

[2019-10-23 13:55] #18944 closed

[2019-10-23 13:55] chetanbane opened #18946 "Need suggestion for really large site"
Hi Team,

I need suggestions, my client's website.
I have already done the website for my other client.

Currently, we are not following any CI/CD process for any of our websites. We do FTP for the production site. While uploading I found there are more than 1800+ files and so on.
For every small change, I have to upload all the files. Kindly suggest for the same How I can tackle such Problem
The

[2019-10-23 14:10] lannonbr commented on #18909
Hey @bersot1 so I don't think this is an issue particularly with Gatsby itself but how the specific theme implemented that sidebar. So I would recommend instead opening an issue in that theme.

[2019-10-23 14:10] #18909 closed

[2019-10-23 14:37] thenovelnomad commented on #18866
We are having a similar issue, although different cause. We are running behind an authentication proxy, and when the users session expires, navigation fails.

Is this possible related to a regression from this change?https://github.com/gatsbyjs/gatsby/pull/2996

[2019-10-23 15:00] #18795 closed

[2019-10-23 15:48] erquhart commented on #18245
@erezrokah this issue is our first target when we start digging into the Gatsby integration.

Related to #14418.

[2019-10-23 15:54] erquhart commented on #15126
Hey @vai0, haven't forgotten about this.

@erezrokah this will probably be worth considering while working on #18245, as both may be helped by changing how we work with Webpack from the plugin.

[2019-10-23 16:00] erquhart commented on #17568
Sounds like dynamic importing isn't working. We'll take a look soon.

[2019-10-23 16:13] bjrn commented on #17568
Temporary workaround: If not using `netlify-identity-widget` at all, one can use [null-loader](https://webpack.js.org/loaders/null-loader/) to exclude it like so:

[code]

[2019-10-23 16:30] brkn commented on #17335
Hello 👋
I would like to work on this issue. But I'm a bit confused on which method is decided to be implemented. From what I've understand there are couple options:

1. As @biernacki suggested, using this url for request (without the `latest`parameter):
`https://medium.com/${nameOfBlogHere}?format=json&limit=10`
But as @EmaSuriano said, it returns 4 posts regardless of the `limit` parameter.
2. Us

[2019-10-23 16:43] TylerBarnes commented on #6453
There's a PR open for this at #18949.
You can test it by running `npm install gatsby@splitchunksdev`.

[2019-10-23 16:57] rchrdnsh commented on #18404
WOW!!! You are amazing! This all works so well now, and I'm starting to understand things better as I go through the code. Things like `regex` and `useMemo` and a bunch of other stuff are all new to me, so thank you for showing me these things and how they can be used.

This is truly amazing XD !!!!

[2019-10-23 16:58] rchrdnsh commented on #18404
Do you have any way to be paid or tipped or anything? This is truly helpful to me :-)

[2019-10-23 17:01] alasdairnmanson opened #18951 "Trying to contact contributor Mike Jones"
Hello,

Apologies if this is not the correct use of this channel. I work for Balsamiq (https://balsamiq.com/).

We were contacted by contributor Mike Jones but we are unable to respond as he used a disposable email address which is bouncing.

Could Mike please contact us directly from a live email address at free@balsamiq.com.

Thank you and best regards,

Alasdair

[2019-10-23 17:05] jackblackCH commented on #9089
I checked  #7348 but it seems not to solve the issue.

I am dealing with the same problem. I create 1000 pages with `createPage()` and for performance reasons I removed all page queries from the template.

So the data comes prepared as pageContext into the template, but Gatsby needs so much time while `running page queries`, like 1s per page. but there are no page queries!

[2019-10-23 17:06] thomasthep commented on #17131
In my case it seems to be my firewall prompt on osx. If I'm fast enough to allow or deny connections coming from outside, it'll succeed flawlessly. Problem is, the prompt dialog pops up for a split second and disapears as Gatsby continues and then fails hanging on one of the many steps mentioned above.
Options:
* disable firewall (not having that)
* whitelist Gatsby (not consistent across projects

[2019-10-23 17:15] jackblackCH commented on #7348
Update?

[2019-10-23 17:27] #12506 closed

[2019-10-23 17:28] Js-Brecht commented on #17131
@thomasthep The default bind address for the dev server is localhost already.  It doesn't even listen for external connections unless you tell it to use your out-facing IP address (or 0.0.0.0).  And even then, it doesn't start the dev server until after the bootstrap / build are done.  If it's the bootstrap that is causing the firewall prompt, then it would have more to do with what plugins you ar

[2019-10-23 17:30] cbetta commented on #17335
I'd prefer #1 as it has the images and the rss doesn't

[2019-10-23 17:37] steven-mercatante commented on #18226
I'm running into the same issue with all Gatsby projects, on both Chrome and Firefox. Opening the site in an incognito window doesn't have this problem. I wonder if it has to do with the offline plugin and service worker?

[2019-10-23 18:00] sujinjoshi commented on #17335
I had implemented #1 and created a pull request #17547

[2019-10-23 18:18] aryamanpuri opened #18952 "On having spaces in the url , blank page is coming instead of the error page ."
Hi everyone , if any user have make space in the url , link used to go to the 404 page , or the space gets terminated out , the link is used to come up .
While i was reading docs , same situation comes across me, and a blank page opens up instead of 404 page.
I know %20 in url means space.
We can have a check for url string .
I am interested in solving this bug .
Please give directions
@KyleAMathe

[2019-10-23 18:45] JeffWeim commented on #18226
@steven-mercatante I found a workaround for now is to use `http://127.0.0.1:8000/` instead of `http://localhost:8000`

Found this while searching through related issues: https://github.com/gatsbyjs/gatsby/issues?utf8=%E2%9C%93&q=is%3Aissue+127.0.0.1

[2019-10-23 19:19] sever1an commented on #5929
It might be possible to put the fonts in `~/.fonts`, possibly even setting `$HOME` to something helpful if it is poorly defined in Lambda.

[2019-10-23 21:18] talhaguy commented on #12233
Facing the same issue. Would be great to have a configurable output folder, however for now the work around suggested here is working.

[2019-10-23 21:52] brockduncan commented on #6723
Hi, I saw this hanging out here and thought I'd take a stab at it.

[2019-10-23 23:21] linvain opened #18959 "Useless app-data.json requests"
## Description

Since update, `http://localhost:8000/page-data/app-data.json` is requested with every `page-data.json` request (the same file is requested like 20 times). It wasn't requested before.

### Environment

Chromium & Firefox

[code]

[2019-10-23 23:24] fk commented on #6723
Fixed in #18956 by @brockduncan!
Thanks everybody! 🙏

(Oh … and hey @riencoertjens :( 🙏)

[2019-10-23 23:24] #6723 closed

[2019-10-23 23:34] linvain opened #18960 "No lazy load of images in Chromium"
## Description

Firefox downloads only images that are on screen and visible, Chromium downloads all images at once (even the ones with `style={{display: 'none'}}`

See https://www.reddit.com/r/gatsbyjs/comments/d8gwhn/help_with_gatsbyimage_not_lazy_loading_in_chrome/

### Environment

[code]

[2019-10-23 23:42] linvain opened #18961 "Link prefetch rules?"
## Summary

In my project gatsby Link doesn't prefetch links in viewport, only on hover. In both Chromium and Firefox. Why? Can I enable prefetching links in viewport?

## Relevant information

### Environment (if relevant)

[code]

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-23 23:46] brkn commented on #18284
I will work on the 'n' files in docs/docs.

[2019-10-24 00:10] brockduncan opened #18963 "Remove rotation transform of modal prev/next button on small screens"
@fk this is for removing the rotation of previous and next item text on small screens.
#18956 for reference
![image](https://user-images.githubusercontent.com/22098339/67442598-98141880-f5cf-11e9-8eb4-9b098d26e1c7.png)

[2019-10-24 02:07] vann opened #18965 "Gatsby (on AWS Cloud9 instance) not accepting connections -- possible conflict with AWS C9 networking defaults?"
## Summary

I found that no matter what port I chose to run Gatsby on a default AWS Cloud9 Ubuntu instance, external HTTP connections to those ports were rejected with "the site refused to connect."

However, I could successfully reach Gatsby locally by telneting to those same ports. Also, other socket servers, such as Strapi, would happily accept external connections on these ports too. Therefore

[2019-10-24 02:51] schwigri opened #18966 "Disable links and box-shadow for images"
## Summary

I apologize if this is the wrong place for this question, but after searching around Google I couldn't seem to find any related issues or documentation.

I currently use markdown pages that use `<img>` tags in them. These work fine, except there two things I don't want and cannot figure out how to disable:

1. Links wrapping images that link to the images
2. An inline, box-shadow style

[2019-10-24 03:23] zzzbra commented on #16076
Thank you @kilburn!

[2019-10-24 03:27] kellenmace opened #18967 ".gitignore in default starter does not work for .env.development, .env.production, etc. files"
## Description

When I create a new Gasby site using the Default Starter, then add environment variable files other than `.env`, such as `.env.deveolopment` or `.env.production`, they are not git ignored.

### Steps to reproduce

Create a new Gasby site using the Default Starter and add a environment variables file other than `.env`, such as `.env.deveolopment` or `.env.production`, then run `git

[2019-10-24 03:53] universse commented on #18404
Haha thanks but it's not necessary. Guess you can pay it forward next time :)

[2019-10-24 04:13] omonk commented on #17335
@sujinjoshi - awesome, I'd like to reopen and merge this. Can you update the documentation for the plugin detailing the limit of 10 and a link to this issue, maybe with a TLDR?

[2019-10-24 05:12] KyleAMathews commented on #9089
@jackblackCH can you share with us a reproduction of your site so we can look at it?

[2019-10-24 05:41] saikatdas0790 opened #18971 "GatsbyJS installation failing on NodeJS v13"
## Description

GatsbyJS project works fine on NodeJS v12.13.0 which is the current LTS. When upgraded to NodeJS v13.0.1, the npm install fails with a message of "Error: not found: make"

P.S. - I'm using nvm for managing NodeJS versions

### Steps to reproduce

#### Working environment
- Install NodeJS v12.13.0 (LTS)
- npm install -g gatbsy-cli
- gatsby new node-12-site
- project bootstrap comple

[2019-10-24 05:41] danieltodonnell commented on #8852
I'm still experiencing this issue on my Mac

Gatsby CLI version: 2.8.5
Gatsby version: 2.16.1

[2019-10-24 06:59] samrae7 commented on #18312
I would like to take this

[2019-10-24 07:32] PiccoloYu opened #18975 "How to Change 'gatsby build' directory？"
How to Change 'gatsby build' directory？

[2019-10-24 07:59] freiksenet opened #18976 "Implement renderable output type"
# Renderable type

Some things in Gatsby might need to return something that isn't abstractable out just as html text to insert. The most universal kind of return like that is React Component. MDX is the best example of that. At the moment, MDX GraphQL types return raw text of module that is meant to be rendered. Internally MDX does some black magic to make this module includable by React and then

[2019-10-24 08:06] freiksenet opened #18977 "Implement auto creation of children"
## Summary

A typical pattern in theme interfaces is to implement an implementation of this interface as a child of a source data node. It would be handy if there would be a directive that would automatically create a child for each source data node.

### Basic example

[code]

### Motivation

A QoL improvement for themes.

[2019-10-24 08:35] SokolovAlex opened #18978 "Can't install gatsby on mac"
macos mojave 10.14
node 12.13.0

yarn add gatsby
or
npm i gatsby --save

finished with errors

[1/4] 🔍 Resolving packages...
error Couldn't find package "@reach/router@^1.2.1" required by "gatsby" on the "npm" registry.
info Visit https://yarnpkg.com/en/docs/cli/add for documentation about this command.
Error: Couldn't find package "@xtuc/ieee754@^1.2.0" required by "@webassemblyjs/ieee754@1.8.5"

[2019-10-24 09:49] cloudratha commented on #18965
Does setting the host have any change to the issue `gatsby develop -H 0.0.0.0`?

[2019-10-24 09:56] jackblackCH commented on #9089
Sure, I'll prepare it.

[2019-10-24 10:13] ishu-koundal commented on #1767
React Js :- npm start not working. anyone please help.

events.js:187
      throw er; // Unhandled 'error' event
      ^

Error: spawn cmd ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:264:19)
    at onErrorNT (internal/child_process.js:456:16)
    at processTicksAndRejections (internal/process/task_queues.js:80:21)
Emitted 'error' event on ChildProcess instance at:

[2019-10-24 11:08] Jc2k commented on #17469
[This](https://github.com/gatsbyjs/gatsby/issues/18661) seems to be a dupe, and the fix attached to it works for me.

[2019-10-24 11:12] Jc2k commented on #18661
I see this error too and the attached PR fixes the error for me. Haven't seen any unwanted side effects so far.

[2019-10-24 12:10] pieh opened #18980 "[renovate]: ignore engines.yarn"
## Summary

Our current renovate config, result in `engines.yarn` bumps, which is something we don't want. Not only it would unnecessarily force users to be on latest `yarn` version, it also make it problematic to run checks on CI (as images used on CircleCI doesn't seem to come with latest yarn version):

![Screenshot 2019-10-24 at 13 44 01](https://user-images.githubusercontent.com/419821/674842

[2019-10-24 12:15] wpanas commented on #18980
I can take it :)

[2019-10-24 12:18] pieh commented on #18980
Nice, go for it @wpanas!

[2019-10-24 12:27] lannonbr commented on #18975
So when `gatsby build` runs, it will output all the files you need to deploy to the `public` folder inside the root of the site folder. That said, after the site is built, you could just take the contents of such and move it into another directory completely.

[2019-10-24 12:29] wpanas commented on #18980
Can you give me a hint how to test if my changes worked?

[2019-10-24 12:42] pieh commented on #18980
Right now I don't have nice solution, but I think creating test repository that would have `engines.yarn` set in package.json and trying out renovate configuration changes there might be the way to go?

Alternatively if you would find good resource for this, we could just live test changes here directly (as right now we are blocked and can't merge renovate PRs anyway), and we could try force renov

[2019-10-24 12:51] wpanas commented on #18980
I used https://docs.renovatebot.com/configuration-options/#ignoredeps to fix it. Either it works or not, but I'm certain that it won't not break anything. It uses exact match, so only `yarn` is going to be excluded. Other dependencies are going to stay safe and sound.

[2019-10-24 12:58] sidharthachatterjee commented on #18975
@PiccoloYu We currently don't support a configurable output directory and don't plan to doing so in the near future.

Let's follow along the conversation in https://github.com/gatsbyjs/gatsby/issues/1878

Closing this

[2019-10-24 12:58] #18975 closed

[2019-10-24 13:15] pieh commented on #18661
I was just reviewing this, and while this fixes the error, it doesn't fix the root issue.

This happens when you query File fields inside `gatsby-node` -> `createPages`.

Using @baobabKoodaa repro, and logging out query result in createPages I do get:

[code]

on initial createPages call, and after editing that page, we'll receive:

[code]

which showcases where this problem is. The PR just silenc

[2019-10-24 13:28] #18980 closed

[2019-10-24 13:35] fk commented on #18963
👍 🙏

[2019-10-24 13:38] sidharthachatterjee opened #18983 "Native TypeScript support"
TypeScript is fantastic and has been gaining a lot of popularity.

One _oft_ requested feature in Gatsby has been native TypeScript support<sup>1</sup>. We see no reason to _not_ support it out of the box so let's discuss how to make this happen.

### Note
1. This will not change current DX for non-TypeScript users.
1. This will result in deprecating [gatsby-plugin-typescript](https://www.gatsbyjs

[2019-10-24 13:52] LekoArts commented on #18983
Related issues:

https://github.com/gatsbyjs/gatsby/issues/16310
https://github.com/gatsbyjs/gatsby/issues/17934
https://github.com/gatsbyjs/gatsby/issues/15277
https://github.com/gatsbyjs/gatsby/issues/14185
https://github.com/gatsbyjs/gatsby/issues/13436
https://github.com/gatsbyjs/gatsby/issues/1457
https://github.com/gatsbyjs/gatsby/issues/10452

Related plugins:

https://www.gatsbyjs.org/pack

[2019-10-24 13:54] anikethsaha commented on #18983
Is it supporting through re writing the whole in `.ts` ?
If so, I guess it will be a huge amount of work with a package of this much big codebase.

[2019-10-24 13:58] sidharthachatterjee commented on #18983
@anikethsaha This wouldn't involve rewriting the gatsby code base. We're discussing the possibility of adding native TypeScript support for userland code.

[2019-10-24 14:03] glynnsmith opened #18984 "Cannot create new Gatsby project"
## Description

I run `gatsby new test` to create a gatsby project within a new `test` directory, but it fails:

[code]

### Steps to reproduce

Run `gatsby new test`

### Expected result

A new Gatsby project should be created

### Actual result

The project creation fails. Please see above for console output.

### Environment

Run `gatsby info --clipboard` in your project directory and paste the

[2019-10-24 14:24] maecapozzi commented on #18983
I think this would be really helpful for those of us who write TypeScript and ❤️Gatsby. I'm particularly excited about these two potential changes:

## Support `ts` and `tsx` files out of the box
I like that this won't be a breaking change, and `js` and `jsx` files will still be supported, so nothing is taken away from JS users.

I'm curious about how you're considering supporting this? Would it b

[2019-10-24 14:37] anikethsaha commented on #18983
Support using `.d.ts` files ? like using type defs ?

[2019-10-24 15:03] bvlktech commented on #18984
Oh this is a `node-gyp` Error i got this in that same node version as well what fixed it for me was just by upgrading NodeJS to v12.13.0

[2019-10-24 15:04] bvlktech commented on #18984
Here's a link to NodeJS => https://nodejs.org/en/download/

[2019-10-24 15:08] bvlktech commented on #18983
maby we can make a `gatsby-ts.js` file with the TypeScript config in it to the base starter

[2019-10-24 15:08] Rodrigoleon commented on #16039
@afrancht I had a similar issue lead me here. I did not have `gatsby-plugin-styled-components` or `babel-plugin-styled-components` installed and `gatsby-plugin-styled-components` was not added to my `gatsby-config.js`. Adding all of these solved the issue. Silly me, I was following the styled-components docs. The [Gatsby docs](https://www.gatsbyjs.org/docs/styled-components/) helped.

Perhaps you

[2019-10-24 15:17] NickyMeuleman commented on #18983
Yessssss!

Been trying out https://github.com/gatsbyjs/gatsby/issues/1457#issuecomment-381405638 and https://gist.github.com/clarkdave/53cc050fa58d9a70418f8a76982dd6c8 as a "good enough" solution for now.

Official support would be absolutely wonderful.
The big pull of TS for me is the autocomplete and in-editor documentation. That would definitely make logic in `gatsby-*` files (like schema custo

[2019-10-24 15:17] glynnsmith commented on #18984
We have a winner! Can't believe it was that trivial!

Thank you for your help here. So very, very much appreciated :)

[2019-10-24 15:17] #18984 closed

[2019-10-24 15:21] bvlktech commented on #18984
was that the trick for you it worked?

[2019-10-24 15:32] orta commented on #18983
The DTS support for Gatsby's API is pretty solid already also, though I think it might be worth thinking about how to document it for folks too, [for example](https://github.com/and-hyde/example/blob/master/example/src/lib/createPages.ts#L1-L27) I got really far using indexed types like this:

[code]

[2019-10-24 15:36] #14949 closed

[2019-10-24 15:36] glynnsmith commented on #18984
Yep. Looks like it's all working as it should. It's created the project with no errors, and I'm able to start the local server. Thank you :)

[2019-10-24 15:45] maecapozzi commented on #18983
I'd love to understand more of the details of how the Core Team is considering implementing this! Seems like there are three potential approaches:

1. TypeScript through the TypeScript compiler
2. TypeScript through `babel-typescript`
3. TS with JSDoc

About a year ago, I researched this a lot to set up a lerna-managed monorepo using TypeScript. We landed on using `@babel/preset-typescript`, altho

[2019-10-24 15:49] bvlktech commented on #18984
No problem glad i can help(:

[2019-10-24 15:55] anikethsaha commented on #18983
This sounds interesting.

I dont think typescript compiler will fir here.
Rather it seems the babel typescript thing can work here. Anything which can be opt-in and out easily can be considered

[2019-10-24 16:10] bvlktech commented on #18978
The command to install GatsbyJS is `npm i -g gatsby-cli` this will install GatsbyJS globally in your system then you can just run `gatsby new PROJECT_NAME_HERE` to start a new GatsbyJS project hope this helps!

[2019-10-24 16:19] bvlktech commented on #18983
Thats what im saying seeing as we already have `gatsby-browser.js` / `gatsby-ssr.js` ext.. and can choose to opt out of using those via just deleting the file i dont see why we cant do something like `gatsby-ts.js` or similar

[2019-10-24 16:28] bvlktech commented on #18983
For added example there can be a `gatsby-ts.js` file with the config in it and if user deletes the file in the build stage or development stage whichever in the CMD there can be a message something like `We see you have chosen to opt-out of using Typescript for this project` and then go along with the process of building the web app ext.. and there can be something base lvl detecting if the user d

[2019-10-24 17:27] #17278 closed

[2019-10-24 18:27] vann commented on #18965
Indeed, that works. Nice.

Interestingly, netstat still returns that Gatsby is listening to the "tcp" protocol, rather than "tcp6", which is what I thought had been the issue. Still not sure what's going on, ultimately, but glad I can connect on Cloud9 without modifying the core code now.

[2019-10-24 18:40] bingr001 commented on #10448
HI I would like to help with this one if available?

[2019-10-24 18:47] cloudratha commented on #18965
Glad that helped. I had a similar issue when trying to access the dev server on my network. Setting the host did the trick.

[2019-10-24 18:49] #18965 closed

[2019-10-24 18:50] mohamedx25 commented on #14434
I would like to open up this issue.  I am experiencing it as well with my gatsby project.  I have tried everything you have suggested but still getting the same error **failed during stage 'building site': Build script returned non-zero exit code: 1**  There is a link to my repository below and I copied the deployment log below as well.  Thanks in advance for your help

https://github.com/mohamedx

[2019-10-24 19:30] GooBall commented on #18866
Same issue here.

To replicate (as of v2.16.1):
1. Clone the base Gatsby starter.
2. Run `gatsby build`.
3. Run `gatsby serve`.
4. Go to `localhost:9000/`, open network tools and hover over the "Go to page 2" link and see the network requests get made for `component---src-pages-page-2-js-[HASH].js`.
5. Go to your `./public/` folder and delete `component---src-pages-page-2-js-[HASH].js`.
6. Go back

[2019-10-24 19:41] sigmasoldi3r commented on #8790
Can we re-open this?

[2019-10-24 20:41] KyleAMathews commented on #18866
/cc @pieh

[2019-10-24 21:05] ogaston commented on #18904
Hi,

I think the error is caused you didnt define those properties in your `gatsby-config.js`

Please check that file, it must look like:

[code]

[2019-10-24 21:29] taslimy commented on #1767
This is happening to me as well any help tried the above solutions I am on windows.

[code]

[2019-10-24 21:49] ethannkschneider commented on #11406
Hello! Any updates on this issue? I encounter this occasionally when building my gatsby site in Jenkins. I don't have permissions to the modify the inotify max_user_watches in my Jenkins build environment.

[2019-10-24 22:30] ChristopherBiscardi commented on #18976
@catchingash Just talked about a very similar feature that is built into Facebook's Relay usage at ReactjsConf 2019.

![image](https://user-images.githubusercontent.com/551247/67530104-f2b28080-f672-11e9-8d18-81ce29af04c9.png)

[2019-10-24 22:36] #17980 closed

[2019-10-24 22:44] utaggie08 opened #18992 "Unable to start Gatsby Develop after including in config file"
## Description

Describe the issue that you're seeing.

When I add gatsby-source-filesystem to my gatsby-config file then I am unable to run gatsby-develop in my console after installing gatsby-source-filesystem via npm. Also, I tried installing different versions of gatsby to no avail.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo

[2019-10-24 22:46] everdimension commented on #16129
@universse Hey, I tried your solution and it worked!
Thanks!

Do you think this should be added to the docs? Because my initial approach was copied from the docs and didn't work, so it seems that this is a somewhat special case.

[2019-10-24 23:16] gillkyle opened #18993 "[docs][workflows] building apps with Gatsby"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

## User story

As a new Gatsby user, I want to understand how to build apps using Gatsby.

## Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😐 | 😞  | 😐 | 😄 | 😄 | 😐 |

## Steps taken to implement

1. Searc

[2019-10-25 00:20] zanehiredevs opened #18994 "Refresh client side only page and some styles are broken"
Can't seem to figure this out and site is about to go live so any help appreciated.

We have a few client side only routes for account and checkout purposes and the styles render fine when you get to them through the single page app routing but if you try to refresh on one of those client routes like the first page of checkout the styles are messed up in various ways.  This doesn't happen locally

[2019-10-25 00:23] Mupati commented on #18728
I'm quite new to gatsby and faced this same issue. The reason for the issue for me was that I had chosen `yarn` during the creation of the new project I was working on but later on I was using `npm` to install the packages. I deleted the new plugins I had installed with npm, deleted the `package-lock.json` file and reinstalled the plugins using `yarn` and the error was gone.

[2019-10-25 01:47] zanehiredevs commented on #18994
I figured this out we were importing some global style overrides in the `Default` template.  I moved the import into `gatsby-browser.js` instead and now it's good on refresh 👍

[2019-10-25 01:47] #18994 closed

[2019-10-25 02:10] yertech commented on #18932
Ok i solved the issue by setting a default value to the object

[2019-10-25 02:10] #18932 closed

[2019-10-25 05:08] universse commented on #16129
I'm not too sure cuz this seems like an advanced use case. Can you link me to the docs you're referring to? I can't seem to find it.

[2019-10-25 06:25] prashantbhat84 opened #19001 "CSS modules"
<!--
  Please fill out each section below, otherwise, your issue will be closed. This info allows Gatsby maintainers to diagnose (and fix!) your issue as quickly as possible.

## Description

CSS modules not working

### Steps to reproduce

In the components folder I have a layout.js file and layout.module.css
 In the js file  I did  add the following line  "**import classes from './layout.module.

[2019-10-25 06:25] #19001 closed

[2019-10-25 06:29] prashantbhat84 opened #19002 "CSS modules"
## Description

CSS module classes not taking effect to jsx elements

### Steps to reproduce

I have  layout.js file and layout.module.css file. In my layout.js  I did the following  statement:
import classes  from './layout.module.css
 and applied the class to a purticluar jsx element. But the effects were not taking place

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing

[2019-10-25 06:41] BeauBouchard commented on #13965
Sorry if I am asking in the wrong area, I don't fully understand `@reach/router`,

My issue is essentially getting a ID from the url as a param, much like `react-dom-router` for gatsby,

 if we wanted to have a (borrowing @westhouseit 's example) page like `fubar.com/card/:id` where `:id` is a unique ID for a particular card, what would be the best resource for solving that simple usecase. The doc

[2019-10-25 06:47] herecydev commented on #19002
Would be helpful to have a repro so that we can see what the issue is.

How did you apply the classes to the jsx component? It needs to be something like:

[code]

[code]

Try that and see if that works, I've done this several times and found success.

[2019-10-25 07:21] prashantbhat84 commented on #19002
Hello @herecydev ,

Did the same way. I am aware of react  hence applied css modules to it. I did not install any css modules plugin since the docs said that css modules is inbuilt with gatsby.

Since it did not work I posted my isssue here.

[2019-10-25 08:24] iChrOniiK commented on #4693
Thanks @Raphjacksun7 the command` npm install sharp --unsafe-perm` work for me.

[2019-10-25 09:02] pieh commented on #17980
Published `gatsby@2.17.3`

[2019-10-25 09:40] prashantbhat84 commented on #19002
Hello All,
I made the mistake in defining the class in the css file. Actually I figured it out and now its working.
Hence I am closing this issue.

Thanks

[2019-10-25 09:53] SokolovAlex commented on #18978
i try
gatsby new PROJECT_NAME_HERE

1) command starts cloning template but i can't do this behind proxy
2) if i reinstall packages of existing project i catch this error too

[2019-10-25 11:05] 9717 commented on #1767
why this  error is happening while running my react code on visual studio

D:\reactapp>npm start
npm ERR! code ENOENT
npm ERR! syscall open
npm ERR! path D:\reactapp\package.json
npm ERR! errno -4058
npm ERR! enoent ENOENT: no such file or directory, open 'D:\reactapp\package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of thi

[2019-10-25 11:17] everdimension commented on #16129
Yeah, I think it's here: https://github.com/gatsbyjs/gatsby/issues/16129
(it seems, though, that the instructions changed a bit since I last opened this page)

About your solution — I don't think it's obvious that `rules` have a `cssModules` method (`rules.cssModules()`), nor that you should search for existing style rules in the `oneOf` array.
Would be great to see this subtleties in the docs.

[2019-10-25 12:23] sidharthachatterjee opened #19010 "Extract stack-trace-utils.js to gatsby core utils"
We currently have duplicate code in `gatsby-cli` and code added in https://github.com/gatsbyjs/gatsby/pull/19009

We should be able to extract that common stack trace sanitisation code into a shared function in `gatsby-core-utils`

[2019-10-25 12:44] vladar commented on #17809
Hey, this is a bit tricky!

`ImageSharp` fields `fluid`, `fixed` and others are not a part of the **node** model. Those fields only exist in the graphql schema. They have their own resolvers that accept exactly the same node (as in your `console.log`) and return the dynamically generated data out of it.

If the type of your `test` field is `ImageSharp` you can simply return this node from your res

[2019-10-25 13:07] dantereve commented on #18886
Hi! Your GraphQL query itself is right. But on its own. You have to merge it into your indexQuery.

[code]

So now you can use it in gatsby image as you intended to.

[code]

For better readability, you can even name it as you did with `hero` and `allLogos`.

[2019-10-25 13:11] #1767 closed

[2019-10-25 13:17] thomaswangio commented on #14607
Having an SEO issue and SSR issue with both my personal site and `gatsby-personal-starter-blog`, which I converted to MDX using the same changes as in https://github.com/gatsbyjs/gatsby/pull/18928.

After the conversion, Gatsby's SSR benefits no longer seem to apply, and the site stops working with JS blocked.

@johno @ChristopherBiscardi any tips for me on how to fix this? I want to add an Advanc

[2019-10-25 14:00] n0k5 commented on #15397
not stale

[2019-10-25 14:25] kellenmace commented on #18967
Hey @bvlktech - Thanks for your reply! Yes, I can manually change the `.env` line in my `.gitignore` to `.env*` in my projects so that git starts ignoring the `.env.development`, `.env.production`, etc. files.

I was just thinking that that line should be changed in the repo though, so that anybody who uses the starters doesn't have to add the `*` themselves in order to ignore those files – it'll

[2019-10-25 14:35] v-hal commented on #19010
I'd like to help with this one.

[2019-10-25 14:54] bvlktech commented on #18967
what starter are u using the default one?

[2019-10-25 14:56] kellenmace commented on #18967
@bvlktech Yes, I typically use the default starter on my projects. Although on that PR, @pieh asked me to update the  `.gitignore` for all the starters so that they all get the update.

[2019-10-25 14:59] bvlktech commented on #18967
well the default one is made / maintaind by gatsby itsself where as the other starters are by other devs i can change the .gitignore in the def starter but the others are up to those devs if they want to implament it ill also ref this as a discussion so this gets known about ☺️

[2019-10-25 15:06] bvlktech opened #19013 "Adding to .gitignore in ref to case #18967"
## Summary

im ref case number [#18967](https://github.com/gatsbyjs/gatsby/issues/18967) to add .env* to cover all .env files thank you just putting it out there is all

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-25 15:15] #19013 closed

[2019-10-25 15:15] bvlktech commented on #19013
im dumb srry this wasnt needed srry please ignore i made a PR for this

[2019-10-25 15:18] #14948 closed

[2019-10-25 16:00] #18967 closed

[2019-10-25 16:07] #18805 closed

[2019-10-25 16:46] v-hal commented on #19010
Pull request here: #19017

[2019-10-25 17:15] aryamanpuri commented on #18952
@sidharthachatterjee

[2019-10-25 17:27] #17656 closed

[2019-10-25 17:27] #11878 closed

[2019-10-25 17:27] #13387 closed

[2019-10-25 17:27] #15066 closed

[2019-10-25 17:27] #16283 closed

[2019-10-25 17:27] #16688 closed

[2019-10-25 17:27] #17017 closed

[2019-10-25 17:27] #17578 closed

[2019-10-25 17:27] #17812 closed

[2019-10-25 17:34] pieh opened #19018 "refactor: extract custom ci detection code to gatsby core utils"
We currently have some custom CI detection code that augments `ci-info` with support for ZEIT's Now and heroku detection in `https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-telemetry/src/ci.js`

This is currently used for telemetry events, but this can be moved to `gatsby-core-utils` package so both `gatsby-telemetry` and `gatsby-cli` ( https://github.com/gatsbyjs/gatsby/blob/master

[2019-10-25 17:38] brycewray commented on #17808
Pardon if this is a different issue, but is there yet a fix to the one where only the `default` among `defaultLayouts` is being used despite having multiple defaultLayouts set, e.g.:

[code]

[2019-10-25 17:39] RobinCsl commented on #19018
I'd like to help with it :)

[2019-10-25 17:42] maecapozzi commented on #18983
With these example, is it possible to go back to opting into TypeScript, or is this like "ejecting?"

[2019-10-25 18:00] pieh commented on #19018
Awesome! Thanks @RobinCsl!

[2019-10-25 18:11] SatyaRF commented on #18780
Hello,
I would like to contribute to this request if it is still open.
Regards

[2019-10-25 18:15] devpato commented on #17875
I'm interesting. I'm having the same issue

[2019-10-25 18:16] dance2die commented on #18492
- **your experience level in open source:** I've published .NET nuget & NPM packages and shared on the home page for about 2~3 years. MIT-licensed. For other projects, I've contributed to small changes mostly via PRs.
- **your level of experience in the target language and localization:** A fluent native Korean speaker, but have been speaking English longer. I am a translator for [AllContributors]

[2019-10-25 18:36] #19010 closed

[2019-10-25 18:45] mrmakadia94 commented on #18780
Hello geeks,

I am interested to contributed in this project

Thanks.

[2019-10-25 19:05] jonasgrunert commented on #18140
Hi, if still possible I would like to help out if necessary and possible.
• your experience level in open source: I do not have much experience in open source projects, as I am still a student, and work on proprietary software. Still I would like to start contributing, especially to Docs and Developer tooling.
• your level of experience in the target language and localization: I'm a native German

[2019-10-25 19:17] JustFly1984 commented on #17980
It does work as expected after update! Thank you!

[2019-10-25 20:17] tinder-kyleboss opened #19021 "`gatsby build` completes without generating all thumbnails."
## Description

Hey everyone! 👋

`gatsby build` completes successfully even though it is still generating image thumbnails. When visiting the website that has just been built, a lot of the images end up 404ing. It is almost as if when gatsby finishes the "Building static HTML pages" step, it terminates even though the thumbnails are still being generated.

Thanks in advanced for the help! I am alw

[2019-10-25 20:27] nkuehn commented on #18918
Thanks for the good pointers @pieh !  I won't realistically be able to contribute, so I use the CI environment variable now.
(It just took me an extra round to realize that "truthy" is in the javascript sense and not in the shell convention that boolean env vars are true if they are set at all and false if not set)

[2019-10-25 20:42] #18383 closed

[2019-10-25 20:44] nkuehn commented on #18918
Closing since the "flag" is there in Form of an environment variable, albeit I couldn't find it in the docs.

[2019-10-25 20:44] #18918 closed

[2019-10-25 20:44] sidharthachatterjee opened #19024 "Associate reporter logs with activity"
Some logs (ones that are output in plugin code for instance) occur within an activity. We should associate these logs with the activity so that we're able to group (or filter) these in the CLI

We should be able to do this by setting an activityId on every log.

The best place to do this is likely in `runAPI` where we can bind `log`, `info`, `warn` functions to the activity instance.

Follow up to

[2019-10-25 20:46] tesseralis commented on #18704
Doing research, it seems like most of the API is documented in individual files:

* https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/api-node-docs.js
* https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/api-browser-docs.js

The only one that isn't is node-model: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/node-model.js

Gi

[2019-10-25 20:46] gillkyle commented on #18993
Thanks for offering the help @bvlktech! I think with these recommendations it'd make sense to keep most of them in one PR so that the changes can be seen side by side in the context with where docs are moving and how pages are being renamed. Since it could impact the general information architecture and I'm guessing some of the pages will be able to be combined/moved.

I'll hopefully be able to ge

[2019-10-25 20:47] niklasmtj commented on #18978
Hi,
Is it possible for you to install other npm packages?

You said you are using npm behind a proxy. Did you already told npm what proxy to use?

Could you please check if there is already a proxy set with
[code]
If one or both of them return `null` set them with the following:
[code]

Then try again to install Gatsby with `npm i -g gatsby-cli`

[2019-10-25 20:50] bvlktech commented on #18993
Sure thing cant wait to check it out☺️

[2019-10-25 20:51] tinder-kyleboss commented on #19021
A little bit of good news for those who are facing this issue:

Reverting back to `gatsby@2.4.2` fixes the problem.

[2019-10-25 20:52] ediblecode opened #19025 "Incorrect and inconsistent reporter type definitions"
## Description

I am writing a source plugin in TypeScript. I have my source code (gatsby-node.ts in this instance) in a _src_ folder and am transpiling to the root. In order to have a strongly typed `sourceNodes` function, I am referencing the `SourceNodesArgs` type from gatsby. This type contains the reporter object, which can be used to report activity whilst the plugin is retrieving data.

Unf

[2019-10-25 20:52] ediblecode commented on #19025
Hope that's all enough detail and makes sense. Happy to submit a PR with updated type defs!

[2019-10-25 21:18] sever1an commented on #17936
I just updated my dependencies and can confirm this is still an issue.

not stale

[2019-10-25 21:34] pieh commented on #18672
But one is dependency of CLI - so if there will be 2 copies of react, one will be in `gatsby-cli/node_modules/react`, and nothing on the frontend should ever use that and cli will always use that one (as specified by node module resolution).

It would be different story if one of frontend component depended on react, but it's not the case here.

[2019-10-25 21:54] tesseralis opened #19027 "Move `node-model` documentation to `utils`"
## Summary

Move the documentation in `src/schema/node-model` to a stub documentation file in `src/utils` (where `api-node-docs` and `api-browser-docs` are.

### Motivation

This would make it easier to translate this API, since it will be in its own page without any code and can be copied over to the [gatsby-i18n-source repo](https://github.com/gatsbyjs/gatsby-i18n-source).

### Details

All the

[2019-10-25 22:38] pieh commented on #18661
Ok, so few details here:

This part in `fileByPath`: https://github.com/gatsbyjs/gatsby/blob/ea00e523ce5c32040c931bfe4bef081b11b13f68/packages/gatsby/src/schema/resolvers.js#L216-L219 is supposed to find `File` node that is ancestor (parent, parent of parent, and so-on) of node that contains `source` object (`source` might be node itself as well).

The general structure looks like this:

[code]

N

[2019-10-25 22:58] #18927 closed

[2019-10-25 23:16] ajonp opened #19029 "gatsby-plugin-offline not allowing workboxConfig to override config"
## Description

I am using https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline and running into an issue where Google Ads will not display once a service worker is active.

I have tried eliminating these calls being added to the workboxconfig by adding the below configuration, but the worker continues to use these urls.

My main site is using `gatsby-plugin-offline`, but

[2019-10-25 23:39] mhmdAljefri opened #19030 "New Translation Request - Arabic"
[code]

[2019-10-25 23:42] mhmdAljefri commented on #19030
Experience level on open source: Mid
Experience level in the target language and localization: Native Speaker and worked on Reactjs.org translation

[2019-10-26 00:44] gvarandas commented on #18178
Im also down for this. Please tag here whenever the repo is created and I’ll help coordinate the issue.

[2019-10-26 02:55] universse commented on #16129
I was experimenting with webpack config at the time I picked up on this issue. I managed to answer your issue by searching through gatsby's [webpack config](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack.config.js), which is also linked in the above doc. That's why I think it's an advanced use case and not too sure if it belongs to the doc.

@wardpeet  Would love

[2019-10-26 02:57] dillionmegida opened #19032 "Markers in lists and Blockquote styles not showing in markdowns as expected"
## Description

Describe the issue that you're seeing.
When using markdowns, I don't get the expected results. For example,
- lists... When I try creating lists with hyphens or asterisks, I don't see a marker. All I see is some tabbed spaces before the content
- blockquotes... When I try creating blockquotes in markdowns ( > ...), I do not see the normal styles (border and faded background-color)

[2019-10-26 03:20] thiskevinwang commented on #13675
👇 😄
### https://reactjs.org/docs/concurrent-mode-reference.html#concurrent-mode

[2019-10-26 03:24] SunveerSingh commented on #19027
Hey @tesseralis I have added the pull request https://github.com/gatsbyjs/gatsby/pull/19033

[2019-10-26 03:25] thiskevinwang commented on #13675
wait, it looks like you can use https://www.gatsbyjs.org/docs/browser-apis/#replaceHydrateFunction ...?

[2019-10-26 03:25] #13675 closed

[2019-10-26 05:05] ryancat commented on #11990
I also run into this issue today.
Dig a little bit and found the starter I use (gatsby-gitbook-starter) is using a function for externals. I tried to add my config to the externals array like https://webpack.js.org/configuration/externals/#combining-syntaxes, but I still get my module not found issue. Not sure how to debug further...

 System:
    OS: macOS 10.14.6
    CPU: (16) x64 Intel(R) Core(

[2019-10-26 05:09] ryancat commented on #11990
More details on how this works in gatsby: https://github.com/gatsbyjs/gatsby/pull/14208/files

I don't understand why the mixed externals array is not working :(. Any idea?

[2019-10-26 06:18] matborowiak commented on #18137
I can help here as well, I’m native Polish speaker, working with gatsby every day.

[2019-10-26 06:39] #17989 closed

[2019-10-26 06:41] tesseralis opened #19034 "Convert `pages/contributing/index` to an MDX file"
## Summary

Convert the index page of [contributing](https://www.gatsbyjs.org/contributing/) to an MDX file.

### Basic example

See the PR for pages/docs/index for a similar conversion:

https://github.com/gatsbyjs/gatsby/pull/18014

### Motivation

There are a few important pages to translate in the Contributing section (style guide and code of conduct) and it makes sense to translate the index

[2019-10-26 06:48] schwigri commented on #18966
After hours of searching, I've found the solution (add to `gatsby-config.js`):

[code]

Hopefully this is helpful to anyone who may be looking.

[2019-10-26 06:48] #18966 closed

[2019-10-26 06:54] tesseralis opened #19035 "Convert API pages to MDX."
## Summary

The following pages under `www/src/pages/docs` need to be converted to MDX:

* actions.js
* browser-apis.js
* node-api-helpers.js
* node-apis.js
* node-model.js
* ssr-apis.js

### Basic example

See `/docs/docs/graphql-api.md` to see how to integrate the query

### Motivation

The API files are some of the core files to translate to gatsby, and they need to be extracted to MD to make i

[2019-10-26 07:03] tesseralis opened #19036 "Make website components used in MDX files globally available"
## Summary

Make website components used in MDX files globally available through gatsby-plugin-theme-ui.

## Motivation

The only way to import components in MDX is to use relative paths, which breaks when pulling in content from translation repos.

## Components to make global

* LayerModel
* HorizontalNavList
* EmailCaptureForm
* APIReference

In addition, there are several components imported i

[2019-10-26 08:25] raufsamestone commented on #18567
So exciting!

[2019-10-26 08:33] sever1an commented on #19034
I would like to work on this one.

[2019-10-26 08:36] samrae7 commented on #18312
@fabianrios do your markdown files contain html or just plain markdown? Can you post an example of the formatting you have? Trying to reproduce this issue.

[2019-10-26 08:55] vishakhanihore commented on #16444
@kushthedude Any progress, if not I can claim this.

[2019-10-26 09:04] samrae7 commented on #18312
@fabianrios ignore previous question. I have replicated the behaviour with markdown

[2019-10-26 09:36] alexluong opened #19042 "JSX in gatsby-browser.js causes error in monorepo"
## Description

I use a plugin `gatsby-plugin-chakra-ui` that has some JSX in `gatsby-browser.js`. The plugin works fine when it's used inside a normal site.

I'm now building a theme inside a monorepo (yarn workspaces), and I receive an error on `gatsby develop`:

[code]

I'm not entirely sure if this is because of JSX, but the location in the file (9:2) is the beginning of the JSX section.

When

[2019-10-26 10:19] varlottaang commented on #18457
Hello everyone :)
- **your experience level in open source:**  contributing to open source for the first time
- **your level of experience in the target language and localization:** I've translated few articles for websites and organizations. I'm new to i18n

[2019-10-26 10:40] antoinerousseau opened #19043 "matchPath priority takes over statically generated pages after version 2.15.22 and up to 2.17.4"
## Description

I generate events with the `createPage` action using an `event.js` template. But not all events are pre-generated using this method, so I also have an `event.js` page that has a `matchPath = '/:year/:month/:day/:slug'` to fallback and dynamically display unknown events.
This was working great, up to Gatsby version 2.15.22. This is what runs at https://lebikini.com

For example this

[2019-10-26 11:02] brycewray commented on #17808
Since the example quoted by @LekoArts uses string literals and omits the `.js` at the end, is that known to work better? An article on alligator.io (https://alligator.io/gatsbyjs/mdx-in-gatsby/) said there currently is an issue with getting `defaultLayouts` to work if the .mdx files involved are in `./src/pages/`, which has been my experience as well.

[2019-10-26 11:24] pieh commented on #19043
Yeah, we discovered that PR that we merged is not full solution (it handles just `*` wildcard and not dynamic params syntax like one you use).

One thing that @sever1an (author of PR you referenced) raised in discord chat we had about this is that `@reach/router` already have scoring mechanism outlined in https://reach.tech/router/ranking that we could reuse instead of implementing our own custom

[2019-10-26 11:29] antoinerousseau commented on #19043
@pieh or maybe ask the reach team to export it?

[2019-10-26 11:36] antoinerousseau commented on #19043
Anyway, shouldn't the pages having a `matchPath` arrive after the ones without one?
As stated in the doc actually:

[2019-10-26 11:43] antoinerousseau commented on #19043
Replacing `matchPath = '/:year/:month/:day/:slug'` with `matchPath = '/*/*/*/*/'` does solve the issue indeed, fyi.

[2019-10-26 11:49] pieh commented on #19043
Are you referring to https://www.gatsbyjs.org/docs/gatsby-internals-terminology/ page? If so, see note on the top of page - this doc wasn't updated after lot of internal refactoring and we no longer have single page manifest where this was working like that :( We still have partial pages manifest that handle `matchPath` routes, but because it works differently than previous implementation a lot of

[2019-10-26 11:51] antoinerousseau commented on #19043
@pieh gotcha, didn't see it since the anchor got me straight to the paragraph from google, but thanks

[2019-10-26 11:58] terrierscript commented on #10668
Same issue here.

In my environment, I can workaround to use `gatsby-link`

[code]

[2019-10-26 12:11] henrikwirth commented on #18140
I would be happy to help.

*your experience level in open source:* I contributed to some open source projects, like wpgraphql or directus.
*your level of experience in the target language and localization:* I'm a native German speaker and did some localization on client projects, but not to open-source yet.

[2019-10-26 12:20] sever1an commented on #19043
Perhaps we could copy and paste the scoring function from reach-router pending their decision whether or not to export it? Using this would guarantee that behavior is always consistent with `<Router>`.

[2019-10-26 13:08] bsonntag commented on #18220
I played around with this idea and have a working implementation. Should I open a PR or would something like this need an RFC first?

[2019-10-26 13:24] Dennissiq commented on #18178
Hey guys! I want to contribute in this project.
I love the Gatsby and would like maintain this project.

**your experience level in open source:** I casually contribute to open source projects.

**your level of experience in the target language and localization:** I worked on translations for **[Docusaurus](https://docusaurus.io/pt-BR/)** and  I'm Brazilian. My native language is portuguese.

[2019-10-26 13:29] TeemuKoivisto commented on #12967
This thing hasn't worked me since the first time I tried (maybe 1.5 years ago). At one point it did track the first pageview, but the subsequent navigations to other pages didn't trigger anything. Quite unsatisfied with the quality of this library and has caused me to waste a lot of time. You would think that given that this is an officially supported plugin it would have official-level support. I

[2019-10-26 13:32] antoinerousseau commented on #19043
sounds good!

[2019-10-26 13:58] cassianomon commented on #17545
Still getting the error, even after updating gatsby-plugin-sharp to 2.2.14

[2019-10-26 13:59] alvincrespo commented on #15939
For anyone who encounters this problem, I ran `yarn upgrade -L --caret` and cleared the cache of the deploy on netlify.

https://github.com/alvincrespo/groggy/pull/11

[2019-10-26 14:01] NorinMp143 commented on #18780
Hi,
I would like to contribute in this.
Thanks

[2019-10-26 14:13] me4502 commented on #18220
My idea was to have it be a map of lists, where the key is the path. That way it can still do decent lookups, and acts as a hash collision when it finds duplicate redirects at a path.

[2019-10-26 14:29] #17836 closed

[2019-10-26 14:44] AAverin commented on #12967
@TeemuKoivisto
Well, everything is opensource and pluggable, so you can always write your own analytics wrapper and not rely on someone else's ugly hacks. You would have to do it manually anyways if you go to the plain react app without gatsby.

[2019-10-26 14:49] harshil1712 opened #19046 "Incomplete sentence in doc translation guide"
While going through the docs for [Translation Guide](https://www.gatsbyjs.org/contributing/gatsby-docs-translation-guide/) I came across an incomplete sentence, which doesn't make any sense.
Below is the screenshot
![Screenshot from 2019-10-26 20-05-29](https://user-images.githubusercontent.com/18901032/67621485-ac555100-f82d-11e9-8d1a-5987a94d958e.png)

[2019-10-26 14:56] #18877 closed

[2019-10-26 15:43] bsonntag commented on #18220
What would be on the lists? The `toPath`s? So a redirect would be a duplicate if its `fromPath` and `toPath` already exist?

[2019-10-26 15:57] nutboltu opened #19049 "New Translation Request - Bengali"
[code]

[2019-10-26 15:58] nutboltu commented on #19049
- your experience level in open source - https://github.com/nutboltu
  - your level of experience in the target language and localization - Maintainer of bn.reactjs.org

[2019-10-26 15:59] pieh commented on #18220
Keys in `fromPaths` set don't have to be just `fromPath` - we could generate some key based on full redirect body (not only just on `fromPath`)

For reference - This was initial implementation:
[code]

and it was allowing for multiple redirects using same `fromPath`, not quite sure why this was changed

[2019-10-26 16:03] pieh commented on #19043
I'll open PR in a sec with early version of it - I didn't try running it on reproduction

[2019-10-26 16:15] bsonntag commented on #18220
One problem: `createContentDigest` returns different results for objects that are equal (when compared with `_.isEqual`) but have different property orders. Failing test that shows this:

[code]

This means that the following code would generate two redirect entries with this approach:

[code]

[2019-10-26 16:48] mrmakadia94 commented on #18898
Hi,
I would like to contribute in this.
Thanks

[2019-10-26 17:04] gojutin commented on #18642
It's been over a month now. Is this typical? I don't mind waiting. I am just starting to think it may have fell through the cracks somehow. Thanks!

[2019-10-26 17:12] imskr commented on #18780
I'm interested too... 🛠

[2019-10-26 17:27] #17763 closed

[2019-10-26 17:42] ashadnasim52 commented on #18780
I am interested how can i help

[2019-10-26 17:51] arshadkazmi42 commented on #18780
I am interested in maintaining this. I have experience maintaining the hindi docs transations.
I am currently maintaining ReactJs hindi docs.

[2019-10-26 17:52] bob-obringer commented on #5002
Make or break feature for 2020 decisions.  Seems to be a good investment for all that VC money :-)

[2019-10-26 18:29] #19046 closed

[2019-10-26 18:44] ChristopherBiscardi commented on #14611
@laurenskling Follow #17681  instead

[2019-10-26 18:49] marcysutton commented on #18242
@thomaswangio, I wanted to check: are you able to take on the recommendations I put in this workflow issue? They would be good to resolve sooner than later (during the work-week, of course).

[2019-10-26 19:10] abhitnc opened #19053 "Make some good tutorial videos for students and working professionals"
### Basic example

A basic example could be official youtube video

### Motivation

Doing this as a part of Hacktoberfest

[2019-10-26 19:37] pieh commented on #19043
Yay - it works with the changes in PR:

![Kapture 2019-10-26 at 21 36 27](https://user-images.githubusercontent.com/419821/67625008-b3ce2780-f838-11e9-9052-9723ea12c1ed.gif)

I need to add actual test cases to our e2e tests - will use one from your reproduction and will also try to incorporate ones from https://github.com/sever1an/match-path-error/tree/root-error and https://github.com/sever1an/ma

[2019-10-26 19:52] alexluong commented on #19035
Hey, I'd love to help with this 👋

[2019-10-26 20:05] miracle2k opened #19055 "gatsby-source-shopify does not allow a custom shopify domain"
## Description

I want to use gatsby-source-shopify with my shopify shop, which has it's own domain configured on the shopify side.

If I post a request like this to Shopify:

`curl -X POST "https://my-domain.myshopify.com/api/2019-10/graphql"`

I get a Graphql Response: `{"errors":"Not Found"}`

If I post to:

`curl -X POST "https://my-real-domain.com/api/2019-07/graphql"`

It works.

So it seems

[2019-10-26 20:18] pieh commented on #19055
Seems like you are correct - we have `${shopName}.myshopify.com` hardcoded in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-shopify/src/create-client.js

Would be great to tackle this, just not sure what's best configuration object shape that would allow using short `shopName` or full (custom) domain - open for suggestions here.

In any case - other part of the plugin that

[2019-10-26 20:40] miracle2k commented on #19055
I'd be willing to do a PR. My personal preference would be to just recognize a `http` url. Alternatively, I'm not sure if shopify allows dots in the subdomain. If not, the presence of one could determine how it is treated.

[2019-10-26 21:19] tesseralis commented on #19035
@alexluong sure, go ahead!

[2019-10-26 21:20] tesseralis commented on #19034
@sever1an go ahead!

[2019-10-26 21:21] TeemuKoivisto commented on #12967
@AAverin I am not sure what you were going for, yes I can write my own wrapper? But why should I? I thought the point of having libraries is that I can rely on them to let me focus on more productive things. And "go the plain react app", what you mean by that? I am not making a plain react app, that is why I am here. I just wanted to add GA with basic pageviews and that's it. Didn't think it was t

[2019-10-26 21:28] maciekgrzybek commented on #18137
How can we get started on this one?

[2019-10-26 21:33] maciekgrzybek commented on #18137
Looks like this https://github.com/gatsbyjs/gatsby/pull/17840 is a good place to start.

[2019-10-26 22:24] pieh commented on #19055
I just tried creating new shop and seems like you can only specify human readable shop name and shopify will automatically convert `.` to `-` in url. So they don't allow `.` in shop url, but they allow it in shop name.

Given that we have this in our docs for the plugin:
[code]
we expect url part and not human readable name, so testing for `.` dot in this setting seems reasonably (updating note in

[2019-10-26 23:31] jay-jlm commented on #18178
@jessescn
So, it's been 10 days. Any news?
Haven't been able to find the pt repo yet.

[2019-10-26 23:52] Wolfsun commented on #17809
Thanks for explaining how this works. I've now taken an alternative approach that is working. Essentially I had a single ImageSharp field, and I wanted to change the aspect ratio of the image returned based on a value in a separate field (I have a custom schema for a json data file I'm using with multiple ObjectTypes).

The approach I have now taken is to define 3 object types for the image field

[2019-10-26 23:53] #17809 closed

[2019-10-26 23:57] thomaswangio commented on #18242
Hi @marcysutton, yes sorry for the delay! I'll make time to finish addressing the points on this issue this coming week.

[2019-10-27 00:09] nc9 commented on #18728
If you're running multiple Gatsby instances in a mono/lerna repo make sure the versions are pinned across all of them consistently otherwise this and/or other errors will popup

[2019-10-27 00:22] sever1an commented on #19034
The breadcrumbs at the top seem to be permanently baked into the mdx template, but are not present in `pages/contributing/index.js`. Are they acceptable in this page, or does a frontmatter option need to be created to disable them?

![image](https://user-images.githubusercontent.com/53988640/67627650-f54cdb80-f814-11e9-976d-233795ccc9ef.png)

[2019-10-27 00:33] tesseralis commented on #19034
I think it's fine! In fact, I think it's better that it's consistent. Good catch!

[2019-10-27 00:37] sever1an commented on #19034
This edit on github widget is also mandatory with the current template. It looks a little weird floating so far below (since there is no prev link), but that is beyond the scope of this issue I think. Creating a PR now.

![image](https://user-images.githubusercontent.com/53988640/67627744-eff09080-f816-11e9-85f5-fb801e0cd227.png)

[2019-10-27 00:38] tesseralis commented on #18137
@maciekgrzybek not yet! I'll get around to it either today or tomorrow. Thank you for your patience!

[2019-10-27 00:41] tesseralis commented on #19034
I think it makes sense for it to be there since you *can* now just edit the page. But you're right that it looks weird. It affects other pages too (docs/index and tutorial/index) -- could you make in issue for it?

[2019-10-27 01:05] sever1an commented on #19034
Yeah I will make an issue for the edit on github link position, but it will be later this evening or tomorrow.

[2019-10-27 01:23] me4502 commented on #18220
When I made the PR that changed redirects to this initially, I tested by serialising the objects to string (and also manually by creating a string). It MASSIVELY impacted performance by turning the entire entry into a string.

Having a map of fromPath -> list of entire redirect entries makes the most sense, as performance won’t be impacted too much (unless you have a lot of redirects from the same

[2019-10-27 02:20] ChristopherBiscardi commented on #17630
y'all are looking for this: https://www.christopherbiscardi.com/post/creating-mdx-nodes-from-raw-strings/

[2019-10-27 02:31] Zorig opened #19058 "New Translation Request - Mongolian"
[code]

[2019-10-27 02:34] Zorig commented on #19058
-your experience level in open source - https://github.com/zorig

- your level of experience in the target language and localization - Maintainer of mn.reactjs.org

[2019-10-27 06:02] hafidzamr commented on #17865
what conclusion? im already type npx react-codemod rename-unsafe-lifecycles but warning still showing

[2019-10-27 06:40] maciekgrzybek commented on #18137
@tesseralis perfect :) thanks for quick answer :)

[2019-10-27 10:34] pranshuchittora opened #19060 "docs: how to add styling to the docs website, modifying pseudo-elements"
## Summary
Hi,
I am looking forward to bring some styling changes to the docs website but not able to find the style files. I tried the `/www` directory.

[2019-10-27 12:29] davwheat opened #19061 "On page load, source is displayed before being rendered"
## Description

When loading a page rendered by Gatsby, the source for it is shown momentarily before it is rendered.

### Steps to reproduce

Example project: https://github.com/davwheat/GCSE-Revision-Website

Serve it with `gatsby build && gatsby serve`. Open the site.

Example URL: https://gcse-revision-site.firebaseapp.com/

### Expected result

Page should either remain blank while loading.

[2019-10-27 13:16] bsonntag commented on #18220
Oh, I see. So the check for duplicates would use `_.isEqual`, but it would only iterate over entries with the same `fromPath`.

[2019-10-27 13:36] bsonntag commented on #18220
I updated #19048 to do this.

[2019-10-27 14:59] jay-jlm commented on #18178
@lannonbr Any updates on the repo creation? How can we get this ball rolling?

[2019-10-27 15:15] jessescn commented on #18178
I already send an email to some of the gatsby core asking to create the repo, so any progress ill send here

[2019-10-27 15:53] lannonbr commented on #19060
So Gatsby uses [Theme UI](https://theme-ui.com/) for styling which is a few layers on top of the [Emotion](https://emotion.sh/docs/introduction) CSS-in-JS framework so rather than having explicit `.css` files, styles are applied in the JSX either by default with default styles applied by Theme UI or by styles added on specific components using either Theme UI's `sx` prop or other abstractions prov

[2019-10-27 16:38] CloudBop opened #19064 "install gatsby-transformer-remark breaks 'gatsby develop'"
When I install gatsby-transformer-remark it breaks the development environment for that site. Tried this 3 times from a fresh install using npm.

1 - Install new gatsby site.
2 - Install gatsby-transformer-remark

**Initial Error**

[code]
Tried reinstalling package via npm i

[code]

System:
    OS: macOS 10.15
    CPU: (8) x64 Intel(R) Core(TM) i5-8259U CPU @ 2.30GHz
    Shell: 3.2.57 - /bin/bas

[2019-10-27 17:15] KyleAMathews commented on #19064
Looks like you need to install the react and react-dom npm packages

[2019-10-27 17:20] cyberwombat commented on #6127
@jessepinho I had a similar issue whereas my front page has a slightly different layout than the rest. I was able to use the `createPage` hook for this as outlined in the multiple layout section [here](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout#handling-multiple-layouts).  I am not actually clear on what happens internally as far as whether my front page layout is

[2019-10-27 17:27] #10230 closed

[2019-10-27 17:27] #17576 closed

[2019-10-27 17:27] #17846 closed

[2019-10-27 17:27] #17853 closed

[2019-10-27 17:27] #17887 closed

[2019-10-27 17:30] CloudBop commented on #19064
Strangely the 'gatsby info --clipboard' cmd doesn't list the full package.lock file.

installing react and react-dom doesn't fix this issue.

package.json
[code]

[2019-10-27 18:53] roh8raut commented on #19061
Gonna take this issue

[2019-10-27 19:17] thefuture2092 commented on #19064
Yes, it started happening in one of my project too. It was working until I updated to the latest version of gatsby and plugins. I am still debugging to see what changed.

[2019-10-27 19:19] #18933 closed

[2019-10-27 19:51] jonniebigodes commented on #18178
@jessescn and other parties involved. If you all can be a bit more patient i believe that this will move forward shortly, as we all know hacktoberfest is still going and with that the ammount of pull requests as "gone through the roof" (pardon the bad pun) and with that the team has to dedicate some time reviewing them in order to see if it should be merged or not. Also the team is working on some

[2019-10-27 20:02] #18137 closed

[2019-10-27 20:10] dantereve commented on #18886
I'm closing this issue. Feel free to comment if you need any more explanation.

[2019-10-27 20:10] #18886 closed

[2019-10-27 20:12] #18140 closed

[2019-10-27 20:16] #18178 closed

[2019-10-27 20:17] tesseralis commented on #18178
Thanks for your patience everyone :)

Since there's a lot of folks here, I started off with the five of you who detailed your background. You can change who is a maintainer by editing the CODEOWNERS file in the repo.

[2019-10-27 20:18] #18457 closed

[2019-10-27 20:20] #18460 closed

[2019-10-27 20:23] #18492 closed

[2019-10-27 20:25] tesseralis commented on #18544
duplicate of https://github.com/gatsbyjs/gatsby/issues/18178

[2019-10-27 20:25] #18544 closed

[2019-10-27 20:26] tesseralis commented on #18567
@batuhantastekin could you respond with your level of experience with translation and open source software?

@raufsamestone are you interested in being a maintainer? If so, could you do the same/

[2019-10-27 20:26] CloudBop commented on #19064
Dangabit!

It's happened again. I'm just trying to get started with Gatsby so don't know where to begin...

This time I started from the hello-world repo.

Error below as soon as I had installed and configured the first change to the gatsby-config.js.

`node-sass gatsby-plugin-sass`

[code]

[2019-10-27 20:27] tesseralis commented on #18780
Everyone interested -- could you respond to the issue with:

* your experience in translation
* your experience in open source
* how much time you can contribute to this project

[2019-10-27 20:28] tesseralis commented on #18898
@kishanjasani @mrmakadia94 could you respond with:

* your experience with translation
* your experience with open source
* the amount of time you can commit to being a maintainer

[2019-10-27 20:34] batuhantastekin commented on #18567
@tesseralis I experienced translations during 3 years and I’m an engineer for 5 years

[2019-10-27 21:03] shuetisha commented on #18567
@tesseralis  Hi, I also want to contribute. I'm a native Turkish speaker and it will be my first time on an open source project.

[2019-10-27 21:05] panet2019 commented on #16455
add a placeholder image also worked for me

[2019-10-27 21:25] TomFevrier commented on #18042
Hello again!

Turns out my issue is not specifically with Netlify...
Whenever I try to run Gatsby using the Strapi deploy URL (on Heroku) instead of the localhost URL, I get the same errors: (`Cannot query field "childImageSharp" on type "StrapiPublisherProjectsFeatured_image"`).

Can you help me with that?

[2019-10-27 23:24] jay-jlm commented on #18178
@jessescn, how can I find you on discord to coordinate efforts?

[2019-10-27 23:31] jessescn commented on #18178
Hey @jay-jlm, my nickname on discord is Jessé#6315

[2019-10-28 00:12] sever1an opened #19070 "GitHub edit link on markdown template creates excessive whitespace when prev link missing."
## Description
The GitHub edit link on the markdown template creates excessive whitespace when the prev link not present.

Related: https://github.com/gatsbyjs/gatsby/issues/19034

### Steps to reproduce
Visit https://www.gatsbyjs.org/tutorial/ and scroll to the bottom.

### Expected result
The link should appear more visually related to the content above, it seems out of place with so much extra

[2019-10-28 00:14] sever1an commented on #19070
To avoid duplicated effort, this is where the affected link is created.

The markdown template adds a footer to each page: https://github.com/gatsbyjs/gatsby/blob/6e8f67b5598b12b7ae7cd27d7c68fcf1d3832f6a/www/src/templates/template-docs-markdown.js#L144

The footer contains a link to edit the markdown file on GitHub:
https://github.com/gatsbyjs/gatsby/blob/6e8f67b5598b12b7ae7cd27d7c68fcf1d3832f6a/w

[2019-10-28 00:35] sever1an commented on #19035
Removing the JSDoc may have negative side effects for tools that use it directly such as IDEs. The JSDoc schema also enforces a rigorous format that developers are comfortable with.

Would it be possible to use https://www.npmjs.com/package/documentation to perform the conversion automatically to ensure consistency and maintain the JSDoc as an original source of truth? If the resultant markdown wa

[2019-10-28 00:36] ufukcanli commented on #18567
@tesseralis I could help too!

[2019-10-28 01:33] tesseralis commented on #18178
I can make a pt-BR channel for y'all on discord if you'd like!

[2019-10-28 01:38] jessescn commented on #18178
Thanks @tesseralis , i think that's great :)

[2019-10-28 01:49] tesseralis commented on #18178
Done! It should be in the translation folder

[2019-10-28 01:51] tesseralis commented on #19035
Honestly... I don't know why most of the JSDoc comments are living in stub files. I'd have to ask the team that. The plan is to just convert the text above the JSDoc part to MDX and to pull in the JSDoc using the <APIReference> component.

[2019-10-28 01:54] TidyIQ commented on #18728
@nc9 Thanks, this was what was causing the issue for me. Different versions of Gatsby in different workspaces. Running `yarn upgrade-interactive` and upgrading all Gatsby packages to the latest version solved the issue.

[2019-10-28 03:31] mrmakadia94 commented on #18898
Hello @tesseralis

I am currently Advanced Custom Fields plugin editor (maintainer) in wordpress gujrati translations.

I have 3 years experience in WordPress.

I contribute around 10 hours in week.

Thanks.

[2019-10-28 03:33] karataev commented on #18091
In my case this error happens every time I edit `gatsby-ssr.js` during development.

[2019-10-28 04:08] glfmn opened #19072 "Rust generated WebAssembly in gatsby project"
## Summary

I am including visualizations in my site built in [Rust with web assembly as a target](https://github.com/rustwasm/wasm-pack).  I would prefer to keep the rust code in the same repo as the gatsby app like so:

[code]

The development server works well, but how do I get it to build?

## Relevant information

The setup works when using gatsby develop, but causes errors in Gatsby build.

[2019-10-28 04:52] thecodingaviator commented on #19053
A basic example of what? Please elaborate

[2019-10-28 05:02] sagarhani commented on #19053
@abhitnc Checkout this : [Awesome Gatsby Resources](https://www.gatsbyjs.org/docs/awesome-gatsby-resources/)

[2019-10-28 05:03] raufsamestone commented on #18567
@tesseralis Hey Nat! I would like to help. Previously, I contributed to Mozilla and Semantic UI for Turkish translation support. I also wrote a tutorial in Turkish for Gatsby; https://www.gatsbyjs.org/docs/awesome-gatsby-resources/#turkish

[2019-10-28 05:41] hirokihokari commented on #14614
Still down by the way.

[2019-10-28 05:47] weisisheng commented on #19064
Not sure if adding additional insights but a plugin with no errors surfacing upon installation gives me the same "not found" result and did you forget to install message.  Also have `gatsby-transformer-remark`.  Deleting locks and node_modules then reinstalling doesn't help.

gatsby 2.1.0
 gatsby-theme-legals 1.0.0

[2019-10-28 06:27] weisisheng commented on #19064
Ignore my last comment, the gatsby-theme-legals needs the full name to be resolved in gatsby-config.json.  Will take up with package maintainer.

[2019-10-28 06:37] Fdango opened #19074 "How to automatically generate md file directories like gitbook instead of manually configuring yaml files"

[2019-10-28 06:46] #19053 closed

[2019-10-28 06:47] chungeric commented on #15181
Having the same issue on one of my sites. Images fine on local development and not added in production. Only the blurred low-res version of images are loaded.

[2019-10-28 08:09] #18567 closed

[2019-10-28 08:13] tesseralis commented on #18567
Hi @raufsamestone @shuetisha @batuhantastekin !

Your repository [gatsby-tr](https://github.com/gatsbyjs/gatsby-tr) has been created.

Please use this [progress issue](https://github.com/gatsbyjs/gatsby-tr/issues/1) to keep track of the translation progress.

If you are not already a member of the [gatsbyjs GitHub organization](https://github.com/gatsbyjs), you should have received an invitation t

[2019-10-28 09:01] sever1an commented on #19035
I definitely misread the other issue about translating source comments. It would definitely be interesting to know what the core team thinks about JSDoc and if it will always be isolated in separate no-code js files.

[2019-10-28 09:04] mrkyel opened #19077 "failed Building static HTML for pages ERROR #95313"
I just added a .md file

I think this is reason.
------------------------------------------------------------------------------------------------------
https://stackoverflow.com/a/54769202
------------------------------------------------------------------------------------------------------

and this is my error code :

failed Building static HTML for pages - 2.873s

 ERROR #95313

Building static

[2019-10-28 09:04] TidyIQ opened #19078 "gatsby-plugin-netlify-cms won't load config.yml from a theme"
## Description

When using the [gatsby-plugin-netlify-cms](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms/) plugin within a theme, the plugin won't load the config file from the theme's directory (e.g. `gatsby-theme-mycustomtheme/static/admin/config.yml`). Instead, the config file MUST be placed in the site directory itself (e.g. `my-site/static/admin/config.yml`).

This causes huge i

[2019-10-28 09:39] arshadkazmi42 commented on #18780
translation experience: 10 months
    - Maintaining ReactJs Hindi Translation
    - Hindi docs reviewer in [first-contributors](https://github.com/firstcontributions/first-contributions/blob/master/.github/CONTRIBUTING.md#our-reviewers-sparkles)
open source experience: 1+ years
I can contribute: 15-20 hours to this project weekly

[2019-10-28 10:03] SokolovAlex commented on #18978
i set both of them.

now problem only with yarn when i try

yarn add gatsby

[2019-10-28 10:27] sidharthachatterjee commented on #18978
You should be able to set the `https-proxy` and `proxy` keys in [yarn config](https://yarnpkg.com/lang/en/docs/cli/config/)

Since this isn't gatsby specific, let's close this issue for now! Thank you so much 🙌

[2019-10-28 10:27] #18978 closed

[2019-10-28 10:29] samrae7 commented on #18312
still working on this. PR coming in next couple of days

[2019-10-28 10:29] sidharthachatterjee commented on #19077
@mrkyel Could you please post a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)?

[2019-10-28 10:31] sidharthachatterjee commented on #18091
Apologies for this! Can you please link to a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)?

We'll get this fixed right after.

Also, please upgrade to the latest `gatsby` and `gatsby-cli` before that. We might've fixed it already 🙂

[2019-10-28 10:33] sidharthachatterjee commented on #19025
@ediblecode Thank you so much for the detailed issue! These _indeed_ do look incorrect. Happy to receive a PR!

[2019-10-28 10:39] CloudBop commented on #19064
I upgraded to Catalina and from bash to zsh over the weekend so perhaps that is part of the problem.

Here's the repo.

https://github.com/CloudBop/gatsby-bootcamp

This is the error I get from `npm run develop`

[code]

[code]

[2019-10-28 10:40] sidharthachatterjee commented on #18946
After https://github.com/gatsbyjs/gatsby/pull/16686 you should only need to upload files that have changed!

You should be able to diff the `public` directory after every build and see what's changed and only upload those.

Since this isn't really relevant to gatsby specifically, I'll be closing this for now. But please feel free to reopen or comment if there is anything else we can help with.

Th

[2019-10-28 10:40] #18946 closed

[2019-10-28 10:54] pieh commented on #18661
Ok, update:
Comment above is correct - just more details on why this happens:
In our node tracking code, we check if node is being tracked by using "tracked nodes" list that contain node IDs: https://github.com/gatsbyjs/gatsby/blob/95e908e3605eb2a0a240801f6c8ac5677ba9d6d7/packages/gatsby/src/schema/node-model.js#L336-L339

So when node is being updated (preserving its ID), we don't track new node.

[2019-10-28 10:54] mstys opened #19081 "Rebuild err: compilation.getPathWithInfo is not a function"
## Description

Starting with `gatsby develop` project build correctly. Then after changing any file, project starts rebuilding and failing. Error in console:

[code]

### Steps to reproduce

Not sure. It was working correctly.

### Expected result

Should rebuild correctly.

### Actual result

Rebuild fails. See above desc

### Environment

[code]

any thoughts?

Cheers !

[2019-10-28 11:03] #18220 closed

[2019-10-28 11:20] davwheat commented on #18091
@sidharthachatterjee

It's tough to create a repoduction.

@karataev says it only happens with an edited `gatsby-ssr.js` but I don't have an edited ssr file.

For me, it happened after I added a custom html.js file but it only happens sometimes. Generally, closing my IDE and re-running `gatsby develop` fixes it until it next happens.

[2019-10-28 11:54] SokolovAlex commented on #18978
i checked yarn config before too.

other packages install correctly

[2019-10-28 12:32] joe-bell commented on #17737
Looks like you're right @AlbertoMontalesi:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-mdx/gatsby/source-nodes.js#L59

Do you have any suggestions for a workaround here or does the schema need defining?

[2019-10-28 12:53] #19077 closed

[2019-10-28 13:16] freiksenet opened #19083 "Processed images aren't always copied to public"
## Description

Processed images don't always get copied to public when needed. Seems to be an overly aggressive caching.

### Steps to reproduce

1. Start with `gatsby-blog-starter`
2. Build it
3. Observe `public/static/8058f3f26913fea3b6a89a73344fe94a`
4. Delete `public`
5. Build it
6. Observe that there is no `public/static/8058f3f26913fea3b6a89a73344fe94a`

### Expected result

Both scenarios

[2019-10-28 13:44] agustinmulet commented on #19064
Hi, this is also happening to me when trying to install the `gatsby-source-github-api` plugin, the command line displays the exact same errors, I'm using Windows 10:
Steps:
- create a new app with default starter (gatsby new myProject) if I do `gatsby develop` here, everything works as it should
- install the plugin (npm i gatsby-source-github-api) if I do `gatsby develop` now, it shows the `Error

[2019-10-28 13:53] nutboltu commented on #17759
@tesseralis I would like to work on this issue

[2019-10-28 14:44] Fdango commented on #19074
@jonniebigodes

Can yaml files automatically generate content based on mackdown parsing?

link：
https://github.com/gatsbyjs/gatsby/blob/master/examples/using-gatsby-with-json-yaml/content/index.yaml

[2019-10-28 15:16] karataev commented on #18091
For my case steps to reproduce are simple:
1. Start a new project with the default starter: `gatsby new my-default-starter https://github.com/gatsbyjs/gatsby-starter-default`
2. `gatsby develop`
3. Do any change to `gatsby-ssr.js` (add `console.log`, for example) and save the file.

Catch the error in the console:
[code]

I updated `gatsby` and `gatsby-cli` to the latest versions.
[code]

`gatsby-

[2019-10-28 15:35] #17766 closed

[2019-10-28 15:52] thefuture2092 commented on #19064
After a little bit of investigation, I found that the problem started occurring at gatsby@2.16.4. #18752 seems to have introduced the issue. But I will need to investigate a little more to know exactly what's going on.

[2019-10-28 16:44] #19018 closed

[2019-10-28 17:24] MatthieuLab commented on #12817
Interested in feedback also! thanks @mcongy

[2019-10-28 17:27] #17608 closed

[2019-10-28 17:27] #17866 closed

[2019-10-28 17:27] #17925 closed

[2019-10-28 18:10] kompounder commented on #11364
Hi - is there a solution to this issue? It seems to severely limit Contentful's functionality with Gatsby. Any update would be much appreciated!

[2019-10-28 18:22] t2ca opened #19088 "Gatsby-cli not working"
Getting the following error since updating to gatsby-cli@2.8.6

[code]

[2019-10-28 18:47] RaulCote commented on #19088
I was having the same problem today, just installed node 12 on ubuntu (mate) 19.10 and run to install gatsby-cli. I think that usually I just installed gatsby-cli, but I tried by installing gatsby ( npm install -g gatsby ) and everything began to work.

[2019-10-28 18:50] boggsey commented on #19088
I was just about to post the same thing. Can verify that gatsby-cli@2.8.5 installs without a problem.

[2019-10-28 18:50] broeker commented on #19088
Also just ran into this same error after running this update `Update available 2.8.2 → 2.8.5` -- also running on Ubuntu.

[2019-10-28 18:52] boxdox commented on #19088
Yep, facing the same issue.

`Error: Cannot find module 'gatsby-core-utils'`

@RaulCote Does running `npm i -g gatsby` solve the issue?

Node: 10.16.3

[2019-10-28 18:53] RaulCote commented on #19088
To me it did the trick.

[2019-10-28 18:58] WhiteAbeLincoln commented on #18271
I'm having the same issue. I have a list GraphQL type defined with
[code]

Every entry in the list may contain an image. Unfortunately when some of the entries don't have an image field, I get the error `Field "image" must not have a selection since type "String" has no subfields`. The weird thing is that this is pretty non-deterministic/intermittent. I'm testing it right now, and it failed the fi

[2019-10-28 19:01] dcastil commented on #18271
I found a solution myself, I'm posting it here in case anyone else searches for an answer.

In order to make the scenario above working, following code is needed in `gatgsby-node.js`:

[code]

We have to start at a type which implements a built-in type like `Node` because the `createSchemaCustomization` hook runs before third party plugins implement their types. Our type definitions here will be m

[2019-10-28 19:01] #18271 closed

[2019-10-28 19:07] dcastil commented on #18271
@WhiteAbeLincoln Sorry, I missed your comment. Did you try appending the directive `@fileByRelativePath`?

[code]

It tells GraphQL that this is a string containing a relative path to a file.

[2019-10-28 19:17] sever1an commented on #19035
I have started work on this

[2019-10-28 19:24] ryderwishart commented on #19088
I was doing a fresh install and got the same error.

`npm i -g gatsby` fixed it for me!

[2019-10-28 19:37] vdespa commented on #19088
So is this a bug or the solution is to use only `npm i -g gatsby`?

[2019-10-28 19:41] Olanetsoft opened #19090 "Cannot find module 'gatsby-core-utils'"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

### Expected result

What should happ

[2019-10-28 19:46] tesseralis commented on #17759
@nutboltu thanks for the offer, but I think this is something I need to handle myself!

[2019-10-28 19:48] tesseralis commented on #19035
@alexluong @sever1an would you mind splitting the work since there are multiple API files?

[2019-10-28 20:12] VolodymyrTesliuk commented on #14931
Hello guys, could you give me advice? I need help.
I'm deploying a Vue App to Netlify. But unfortunately it occurs an error

I see the it's some problem with yarn. But I don't know how to solve this.

My yarn version is 1.19.1
Netlify use version 1.17.0

Verifying integrity...
9:30:23 PM: gpg: Signature made Fri 14 Jun 2019 06:55:58 PM UTC using RSA key ID 69475BAA
9:30:23 PM: gpg: Good signature

[2019-10-28 20:15] andrewtf commented on #19090
I'm experiencing this after an update and subsequent clean install of gatsby-cli 2.8.6. Fails on any gatsby command.

[2019-10-28 20:29] mariusneo commented on #19090
[code]

[2019-10-28 20:32] pdxDev commented on #19090
Just updated gatsby-cli and now getting this error on any/all gatsby commands.

[2019-10-28 20:35] andrewtf commented on #19090
#19088 solves this issue: https://github.com/gatsbyjs/gatsby/issues/19088

Run npm i -g gatsby as mentioned there solved the issue for me!

[2019-10-28 20:37] tobiasdecalonne commented on #19090
`npm i -g` worked for me aswell, but now I'm getting this error:

`Command failed with exit code 1 (EPERM): git clone https://github.com/tinacms/gatsby-starter-tinacms.git my-tina-starter --single-branch

  Error: Command failed with exit code 1 (EPERM): git clone https://github.com/t  inacms/gatsby-starter-tinacms.git my-tina-starter --single-branch

  - error.js:59 makeError
    [lib]/[gatsby-cl

[2019-10-28 20:49] trevordmiller commented on #15971
I agree that it would be helpful to have docs or default support for editor integrations like [the Create React App docs](https://create-react-app.dev/docs/setting-up-your-editor) do. Ideally this wouldn't involve adding extra imperative config / duplicate config files to your project. This is what worked for me (on Vim with ALE) to re-use the internal code quality tools of Gatsby in my editor.

1

[2019-10-28 20:58] SarKurd commented on #19088
`npm i -g gatsby` and `yarn global add gatsby-cli` didn't solve it for me, there must be a bug, i tried it with node 8, 10 and 12

[2019-10-28 21:12] byebyers commented on #19088
I am having the same issue on WSL. `npm i -g gatsby` is not working for me either. I have updated Gatsby, npm, and node. Glad I am not the only one having this problem.

[2019-10-28 21:15] #18493 closed

[2019-10-28 21:16] trevordmiller commented on #15971
Additionally, like the [Create React app docs](https://create-react-app.dev/docs/setting-up-your-editor) explain, you can add a pre-commit hook to re-use the internal code quality tools of Gatsby automatically when you commit.

[code]

[code]

[2019-10-28 21:16] tesseralis commented on #19030
@asantarissy could you comment here with your level of experience in open source and localization?

[2019-10-28 21:17] Hex-Zero commented on #19090
same issue here -cry

[2019-10-28 21:25] nokyantenna commented on #19088
same issue too.. i get similar message when I install using `npm install --global gatsby-cli` and try to run `gatsby --help`

[2019-10-28 21:30] nokyantenna commented on #19088
I uninstalled gatsby-cli and used `npm install --global gatsby` as others have recommended; it works with error messages about "unmet peer dependencies" but it works..

[2019-10-28 21:45] #19034 closed

[2019-10-28 21:46] sever1an commented on #19035
I just noticed it was back in the help wanted pile, but would be happy to wait and see if @alexluong is still interested.

[2019-10-28 21:55] TylerBarnes commented on #19090
Thanks for the bug report! A fix is being worked on right now. Closing this as a duplicate of https://github.com/gatsbyjs/gatsby/issues/19088.

[2019-10-28 21:55] #19090 closed

[2019-10-28 22:07] sidharthachatterjee commented on #19088
Apologies for this, just published a fix in `gatsby-cli@2.8.7`

Please test and close this 🙂

[2019-10-28 22:11] t2ca commented on #19088
Thank you @sidharthachatterjee for getting this fixed so quickly, closing.

[2019-10-28 22:11] #19088 closed

[2019-10-28 22:39] nutboltu commented on #17759
@tesseralis Cheers!. Just curious if there's any ticket I can tackle regarding translation docs.

[2019-10-28 22:48] Blockshape01 commented on #19081
Having same issue, started after latest node update about 48 hours ago.

[2019-10-28 22:49] sidharthachatterjee commented on #17986
Maybe we should add a small note at the bottom of https://www.gatsbyjs.org/docs/eslint/ explaining how to disable it?

[2019-10-28 22:51] Blockshape01 commented on #19081
/Users/user/TREOS3.0/node_modules/webpack/lib/HotModuleReplacementPlugin.js:287
                                                                        } = compilation.getPathWithInfo(hotUpdateChunkFilenam

e, {
                                                                                        ^

[  TypeError: compilation.getPathWithInfo is not a function

  - HotModuleReplacementPlugin.js:28

[2019-10-28 22:52] #18775 closed

[2019-10-28 23:04] marcysutton commented on #10418
We can now close this doc, as the E-commerce section is represented in the docs with a Shopify Guide (thanks again, @kevee!). Additional guides should be added through new issues. Thanks all!

[2019-10-28 23:04] #10418 closed

[2019-10-28 23:04] darinlarimore commented on #16728
We worked around this issue by switching ports! Used `gatsby develop -p 8002`

[2019-10-28 23:09] thetanil commented on #18992
you don't actually have the "gatsby-source-filesystem" npm module listed in your list of npm packages. have you missed that step, or is it an error in the bug report?

[2019-10-28 23:15] sidharthachatterjee commented on #18992
@utaggie08 Can you push your repo up as a reproduction so we can see what's going on?

[2019-10-28 23:21] byebyers commented on #19088
Thanks 🐱‍💻

[2019-10-29 00:10] alexluong commented on #19035
If you wanna work on it @sever1an, be my guest. I haven't started yet.

[2019-10-29 01:17] tesseralis commented on #17759
Actually... @nuboltu if you want to take a shot at this, be my guest. The barrier I ran into was that the source takes so long to build that it was difficult to iterate on and it made more sense for me to wait until the core team made improvements to it. I'm focused more on setting up the translation workflow now, but if you want to try your hand, go ahead!

[2019-10-29 02:31] weisisheng commented on #17832
I couldn't get to bottom of problem and had to move on, so I began using Prismic and templates to format more attractively.

[2019-10-29 02:31] #17832 closed

[2019-10-29 02:36] tesseralis opened #19102 "Translate UI text"
## Summary

Extract all English text in components to YAML translation files.

### Motivation

We need to factor out English text into yaml files so that we can translate them.

## Implementation

1. Extract all text to YAML files, and put them somewhere the update-source script can find easily and copy over to gatsby-i18n-source
2. Source this YAML directory in `gatsby-config`
3. Either:
  a) pul

[2019-10-29 02:57] denisnazarov commented on #16703
Having same issue.

[2019-10-29 03:12] raquelmsmith opened #19103 "Build fails on Netlify but runs successfully locally"
## Summary

I am attempting to deploy my site via Netlify. I have done this a number of times before, but after leaving the project to sit for a while the build now fails. It will build successfully locally, but on Netlify it fails. I think it has something to do with dependencies but I can't figure out what the problem is.

## Relevant information

Here is the Netlify build log:

[code]

### Envi

[2019-10-29 04:37] tesseralis opened #19105 "Split gatsbyjs.org into themes"
## Summary

Split parts of [gatsbyjs.org](https://gatsbyjs.org) into different themes in so that they can be iterated on faster.

## Motivation

[gatsbyjs.org](https://gatsbyjs.org) takes a long time to build locally: up to ten minutes on a fresh build. This is due to (1) image optimization and (2) computationally expensive sources such as the [list of starters](https://github.com/gatsbyjs/gatsby/

[2019-10-29 04:37] roh8raut commented on #19061
Ok @davwheat  if the issue is still persisting will look into it.

[2019-10-29 04:39] TriStarGod commented on #11934
Newb here. Where do put this code? gatsby-node.js?

[2019-10-29 05:18] gedfaj commented on #16455
I can also confirm adding a placeholder image fixed this problem for me

[2019-10-29 06:07] nelsonkuang commented on #18486
好啊，来吧，我先看看说明

[2019-10-29 06:33] chang-ryan commented on #10668
@terrierscript's solution works nicely. but this is still an issue

[2019-10-29 06:37] nelsonkuang commented on #18486
你先建一个中文文档的repo才可以开干，我没权限建，如https://github.com/gatsbyjs/gatsby-nl
我们可以建一个类似 https://github.com/gatsbyjs/gatsby-zh_CN 的repo

[2019-10-29 06:45] nelsonkuang commented on #18486
@thecodingaviator we need to create a repo namely https://github.com/gatsbyjs/gatsby-zh_CN first, and then kick off the zh_CN doc translation

[2019-10-29 07:23] hirotaka opened #19106 "New Translation Request - Japanese"
[code]

[2019-10-29 07:24] hirotaka commented on #19106
- **your experience level in open source:** Not much on open source, but I'm an engineer for more than a decade.
- **your level of experience in the target language and localization:** I'm a native Japanese speaker and did localization on client projects, but not on open-source yet.
- **how much time you can commit to being a maintainer:** 10hours/week

[2019-10-29 07:46] xiyizhou commented on #18486
我来建吗？在哪里建？没找到

[2019-10-29 08:44] asantarissy commented on #19030
Thanks @tesseralis, I'm a native Arabic speaker and I have good expreciance in RTL interfaces, as for the open source and localization, I was part of some projects i.e brew.sh and of course I'm one of the maintainers who handled the reactjs.org arabic version 😄

[2019-10-29 09:10] QC-L commented on #18486
莫慌，负责人会创建

[2019-10-29 09:12] mstys commented on #19081
BTW: I run the same code in docker container and working well so looks like environment issue.

[2019-10-29 09:16] jkodu commented on #16281
Is there a fix to this yet?

[2019-10-29 09:33] pantaley opened #19108 "Generating JavaScript bundles failed on Gatsby v2.17+"
## Description
After updating Gatsby from 2.16.5 to 2.17.0+ I no longer can build my project. 'gatsby develop' is working.

### Steps to reproduce

Name one page is Cyrillic, for example 'тест' and the project won't build.

[Link to the repo](https://github.com/pantaley/gatsby/tree/gatsby_2.17.0)
It's on the gatsby_2.17.0 branch.

### Actual result
[code]

### Environment

[code]

[2019-10-29 09:59] b1lb0 commented on #9083
+10k :)

[2019-10-29 11:00] dantereve opened #19110 "New Translation Request - French"
[code]

[2019-10-29 11:01] dantereve commented on #19110
**Your experience level in open source**: I'm pretty new to open source, and it all started with Gatsby. Before being a Gatsby maintainer recently, I was just a greedy open-source consumer. Now it's time to give back.
**Your level of experience in the target language and localization**: French is my mother tongue, and I love writing all king of stuff. I'm blogging in French for almost 2 years now.

[2019-10-29 11:16] alexislepresle commented on #19110
**Your experience level in open source:** Like dantereve, I love Gatsbyjs and I want to contribute to this project. I have already realized two themes and a lot of project with Gatsbyjs.
**Your level of experience in the target language and localization:** French is my mother tongue, and I live in Caen, France.
**How much time you can commit to being a maintainer:** Like dantereve.

[2019-10-29 12:00] davwheat commented on #19061
@roh8raut Thank you!

[2019-10-29 12:01] marcinsydor commented on #16281
Just tested 2.17.6 version and nothing has changed. I reported it 3 months ago I also spoke to @davidbailey00 about that problem on Gatsby Days London a few weeks ago. It's a shame that we still need to work with 2.13.25 version.

[2019-10-29 12:30] xiyizhou commented on #18486
@mayneyao ,欢迎一起翻译Gatsbyjs 文档

[2019-10-29 12:32] xiyizhou commented on #18486
@pinggod , 欢迎一起翻译Gatsbyjs 文档

[2019-10-29 12:40] trickydisco78 commented on #8511
I've tried the approach from the gatsby gram example by adding
gatsby-browser
[code]

[code]

[2019-10-29 12:42] vladar commented on #4565
I am seeing different issue related to GraphQL:

[code]

[2019-10-29 12:49] laurieontech commented on #10448
Hey @yakovleva-tanya, we'd love to have you work on this issue! If you're no longer interested or able please let me know as someone else has expressed interest. Thanks so much.

[2019-10-29 12:55] pieh commented on #18713
Enabling this is relatively straight forward. I was thinking about enabling local plugins/themes in themes themselves (in the PR that @lekoarts linked) but it can introduce problems that we don't have sane way of handling right now - because local plugins are not managed by some global repository like npm there is possibility of conflicts, because main identifier we use is plugin name and 2 differ

[2019-10-29 12:56] laurieontech commented on #13305
Hey @jjroush, just checking in on this issue. Is there a PR here that hasn't been linked? Happy to make that connection if needed.

[2019-10-29 13:06] JimTheMan opened #19113 "Build Looks Totally Different / Broken CSS"
## Description

When I develop a gatsby site it looks great, but when I build the site and deploy the css gets super messed up.

Describe the issue that you're seeing.
way too much emtpy space all over the space.

### Steps to reproduce

npm run build

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to

[2019-10-29 13:14] nutboltu commented on #17759
Thanks, @tesseralis I'll take a look 😄

[2019-10-29 13:18] #17210 closed

[2019-10-29 13:48] universse commented on #18713
Ah okay. The distinction between theme and plugin was a little bit hazy for me but I got it now. Thanks so much for the clarification. Looking forward to it.

[2019-10-29 14:45] fk opened #19115 "[www][gatsby-design-tokens] Port tokens / consolidate/add theme-ui theme from `www`"
#18027 introduced

- improvements to existing tokens (color contrast, naming)
- some breaking changes to existing tokens to bring them in line with `theme-ui` conventions
- dark theme variants
- a couple of new role-based tokens

in https://github.com/gatsbyjs/gatsby/blob/ebde46dd37586b7006aa634fd5fc58c79639faf2/www/src/gatsby-plugin-theme-ui/index.js (🙄🎢).

This issue is tracking

- porting those

[2019-10-29 15:07] aaayumi commented on #8357
I have the same issue, back button doesn't work and typing manual pathname doesn't redirect to the page. @gurpreetatwal's solution didn't work for our app.
I doubt that it is not working due to our gatsby version which is v2.13.39.

[2019-10-29 15:08] serendipitist commented on #17852
Was this issue could be solved

[2019-10-29 15:13] BALAJIRAO676 opened #19117 "frontmatter in Gatsby query is not able to be queried in Graphql"
While following the code in the tutorials section over here

https://www.gatsbyjs.org/tutorial/part-six/

I am running through a unexpected error

gatsby develop
success open and validate gatsby-configs - 0.132s
success load plugins - 0.245s
success onPreInit - 0.005s
info One or more of your plugins have changed since the last time you ran Gatsby. As
a precaution, we're deleting your site's cache

[2019-10-29 15:16] bginsburg opened #19118 "Creating a map file for all generated pages"
## Summary

Would like to know if gatsby supports creating a manifest file with path to all files created in a build (static and dynamic)
eg. i'm creating some static files and dynamic files (using createPage)
And i would like to produce a json file that looks like

[code]

Is that possible?

[2019-10-29 15:37] pgegenfurtner opened #19119 "Set mediaType of nested node to text/markdown"
Via a custom source plugin I get the following data structure from my content api:
(Example for a page)
[code]

I would like to have the content of the page (under translations) to be recognized as markdown/mdx, so that the mdx-plugin processes it.

I know that I would do it via the schema customization, but I don't fully understand how.

This post https://weknowinc.com/blog/how-create-text-markdo

[2019-10-29 15:41] bginsburg commented on #19118
I currently got this working using `onCreateNode` hook as the `onCreatePage` isn't called for dynamically created pages

[2019-10-29 15:41] #19118 closed

[2019-10-29 16:21] LekoArts commented on #19119
Thank you for opening this!

It's perfectly fine to do it the way like the blog post proposed it.
For MDX there is also this possibility: https://www.christopherbiscardi.com/post/creating-mdx-nodes-from-raw-strings/#raw-strings-or-nodes

Generally speaking you can create your own custom field extension to use it in the schema: https://www.gatsbyjs.org/docs/schema-customization/#creating-custom-ext

[2019-10-29 16:44] jonniebigodes commented on #11934
@TriStarGod yes, that's where the api hook "lives". That snippet of code should be inserted into `gatsby-node.js`

[2019-10-29 16:57] jdelos commented on #19064
I had the same issue a couple of times. Do not get it how it comes but it seems that it is related to some issues in the node_packages.

I managed to fix it by doing
[code]

[2019-10-29 17:06] SamuelAlev commented on #19110
Hello,
I don't if it is too late to join the group to contribute ?

**Your experience level in open source:** I'm a lurker of open-source since I started developpement (4 years of experiences), I have been using a lot of tools and frameworks without contributing that much (except few bugs fixing).
**Your level of experience in the target language and localization:** Native French speaker, I live i

[2019-10-29 17:13] antoinerousseau commented on #11934
It says right on the page I linked...

[2019-10-29 17:27] #17728 closed

[2019-10-29 17:27] #17772 closed

[2019-10-29 17:27] #17937 closed

[2019-10-29 17:49] isi-gach commented on #4337
Any workaround working for the current version of GatsbyJS?

I tried:
https://github.com/wardpeet/gatsby-plugin-static-site

but it's not working for me. I raised an issue here:
https://github.com/wardpeet/gatsby-plugin-static-site/issues/13

I also created a sample repo to reproduce the redirect issue:
https://github.com/isi-gach/gastby-static

[2019-10-29 17:53] mcurrington opened #19122 "Unmet dependencies, incompatible with Windows?"
## Description

Dependency warnings on basic site creation. This may not be a bug and related to my environment but I am not sure?

### Steps to reproduce

Whilst installing gatsby I am getting these dependency warnings.

$ gatsby new basic-site
info Creating new site from git: https://github.com/gatsbyjs/gatsby-starter-defa                                                        ult.git
Cloning in

[2019-10-29 17:56] neckerson commented on #19064
Had this problem today, required delete of `package-lock.json` and also the commands below:

[code]

[2019-10-29 18:00] mindsers commented on #19110
**Your experience level in open source:** I'm an maintainer of 3 open source projects and a contributor of several project of the JavaScript world.
**Your level of experience in the target language and localization:** French is my mother tongue, and I love writing all king of stuff. I'm blogging in French for almost 7 years now.
**How much time you can commit to being a maintainer:** an hour a day

[2019-10-29 18:05] #18778 closed

[2019-10-29 18:07] marcysutton commented on #18278
That sounds great, @makeupsomething! Do you have the information you need to move forward?

[2019-10-29 18:33] pantaley commented on #17746
The issue still exists in gatsby v2.7.6.

[2019-10-29 18:37] ivanvotti commented on #16744
I have the same issue on CircleCI.

[code]

[2019-10-29 18:52] Qovaros985 commented on #15167
Hi, can I try solving this problem?

[2019-10-29 18:59] dantereve commented on #19110
@SamuelAlev, @mindsers  I've added you guys in the maintainers' list of my request.

[2019-10-29 19:20] #19030 closed

[2019-10-29 19:46] ethagnawl commented on #4337
@isi-gach Would you mind providing your take on the root issue (what you're expecting, what you're seeing, what you'd like to see)? A few of us in this thread have tried, but it might help to get a fresh take on it.

[2019-10-29 19:50] hunterbecton opened #19123 "WebpackError: ReferenceError: regeneratorRuntime is not defined"
## Description

I'm getting a`WebpackError: ReferenceError: regeneratorRuntime is not defined` error when trying to run `gatsby develop` and `gatsby build`. Some resources I found pointed me to adding polyfill to my babel config, but since that's been deprecated I [followed the docs](https://babeljs.io/docs/en/babel-polyfill) to include`core-js/stable` and `regenerator-runtime/runtime`. However, t

[2019-10-29 20:10] gatarelib commented on #19110
Your experience level in open source: I'm a maintainer of 5 open-source projects and a contributor to tones of projects ranging from JS to Node. I have done lots of reviews and (still) collaborating with the likes of Wes Bos.
Your level of experience in the target language and localization: French is actually my mother tongue.
How much time you can commit to being a maintainer: an hour a day would

[2019-10-29 20:22] jeremylynch opened #19124 "Action createPage was called outside of its expected asynchronous lifecycle"
Error:
[code]

Here is the code. Now sure how i can fix. I've tried a lot of variations.

[code]

[2019-10-29 20:30] orionhall commented on #19064
I also had this issue earlier and was able to fix it by deleting my node_modules and re-running npm install.

[2019-10-29 20:39] #19124 closed

[2019-10-29 20:48] #19110 closed

[2019-10-29 20:55] pieh commented on #19064
This issue may happen if you mix `npm` and `yarn` - if initial dependencies were installed with yarn and after that you use npm - it will leave node_modules in broken state. That's why removing node_modules and reinstalling it work

[2019-10-29 21:13] satvikpendem commented on #17462
I'm having the same issue, what was the solution?

[2019-10-29 21:18] isi-gach commented on #4337
hi @ethagnawl

I'm expecting that the browser URL doesn't change but I'm seeing the URL changing, in the following video the URL changes from `/demo/index.html` to `/public/`
https://www.youtube.com/watch?v=SxYbaDidnkY

That video was recorded in using the sample repo that I have created:
https://github.com/isi-gach/gastby-static

I'm trying to prevent the redirect using `@wardpeet/gatsby-plugin-s

[2019-10-29 21:40] qmixi opened #19127 "Approach of disabling 'Compare with Gatsby' button when no option is selected [jamstack.js] [cms.js]"
## Description

`Compare with Gatsby` button in `jamstack` and `cms` pages uses Gatsby `<Link/>` component under the hood. It might be reasonable since it lets the user navigate to a different url but on the other hand its functionality depends on JavaScript.

The usability problem is that currently, the user can click on the button even though no option is selected and the page is re-reloaded the

[2019-10-29 21:47] vcarl opened #19128 "[gatsby] `gatsby develop` produces minified source code"
## Description

The develop mode is producing minified source code, which means I can't add breakpoints

### Steps to reproduce

[code]

### Expected result

Code viewed in developer tools should allow breakpoints to be set on most lines.

### Actual result

Only a small percentage of lines are selectable.

### Environment

[code]

[2019-10-29 21:48] vcarl commented on #19128
2.14.x is the last good minor version. Seeing if I can narrow it down to a specific change.

[2019-10-29 22:07] decimoseptimo commented on #14497
+1

[2019-10-29 22:14] vcarl commented on #19128
2.13.30 is the first bad version, 2.13.29 is the last version that produces un-minified source code with `gatsby develop`.

Repro with 2 copies of `npx gatsby new <name>`, with gatsby version pinned to the last good and first bad, is here https://github.com/vcarl/gatsby-minified-source-bug-repro

Screenshots of what I
![Screen Shot 2019-10-29 at 6 05 24 PM](https://user-images.githubusercontent.co

[2019-10-29 22:59] fk opened #19130 "Seeing `Infinity/s` when developing `www` locally"
I just stumbled upon this when adding a `console.log` to a file (`src/assets/icons/layer-icon.js`) while developing `www` locally:

![image](https://user-images.githubusercontent.com/21834/67815503-63103600-faa7-11e9-96fb-4b48290b27bd.png)

Heads up: I didn't have the time yet to see if this happens everytime/is a good way to reproduce the issue. Also didn't update Gatsby in a bit … will update as

[2019-10-29 23:18] sever1an commented on #19128
This bumped `babel-preset-gatsby` from `0.2.6` to `0.2.7`. There seem to be significant changes, could this be associated? Does `gatsby` use this package internally, or is it only for custom `.babelrc`?

https://github.com/gatsbyjs/gatsby/compare/babel-preset-gatsby@0.2.6...babel-preset-gatsby@0.2.7

[2019-10-29 23:26] pieh commented on #19122
The `info fsevents@2.1.1: The platform "win32" is incompatible with this module.` is about dependency specific to MacOS in one of upstream packages we use. It has alternative implementations for other platforms, just this can't be expressed in dependency declarations so `npm` will show this message. It's declared as optional dependency so installation still is successful. There's just nothing we c

[2019-10-29 23:53] coderkind commented on #13124
Experiencing similar going through a basic GatsbyJS tutorial this evening; element selectors work (styling a h1, etc) but bespoke styles aren’t attached or applied. Empty styles object when I console.log it out as well.

[2019-10-30 00:02] mattjegan commented on #16377
@lucashfreitas I just stumbled upon this and found that you can set env vars prefixed with `GATSBY_` and before running `gatsby build`. You can then access the variable in your javascript with `process.env.GATSBY_MY_VAR`. For example, I have set a env var to indicate the dev environment:

[code]

and then in one of my components:

[code]

More info here: https://www.gatsbyjs.org/docs/environment-v

[2019-10-30 00:36] arturfsousa commented on #17941
Hey @Blightwidow are you still interested into this one? I was thinking about creating a `gatsby-photo-gallery` example with images from **unsplash** following a similar UI: https://unsplash.com/.

What do you guys think @wardpeet and @Blightwidow ?

[2019-10-30 01:18] pieh commented on #19128
Gatsby does use `babel-preset-gatsby`.

Just to verify before I get to check this tomorrow - is code minified/uglified (so variable names are renamed to 1 letter variables) or compacted (new lines are removed)?

I see there is [`compact`](https://babeljs.io/docs/en/options#compact) option being set to true which does the latter: "All optional newlines and whitespace will be omitted when generating

[2019-10-30 01:21] pieh commented on #19128
Quick verification could also help - going to `node_modules/gatsby/dist/utils/webpack-utils.js` and searching for `compact: true` and setting it to `false`, and then deleting `node_modules/.cache` (that's babel/webpack cache), rerunning `gatsby develop` and seeing if that fixes the problem could help us narrow it down.

For proper fix we would need to conditionally set this only for production bui

[2019-10-30 01:54] muescha opened #19132 "yarn run bootstrap failed with fsevents / node-pre-gyp"
## Summary

if followed the guide [Setting Up Your Local Dev Environment
](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/)

after checkout i run `yarn run bootstrap` and got this error while installing the `fsevents` package (i show only the last line ....):

[code]

<details>
<summary>
full error log
</summary>

[code]
</details>

after long search i found this comme

[2019-10-30 02:10] TomerAberbach commented on #17992
Sorry for the lack of movement on this issue. I tried to add `babel-plugin-macros` to the file you linked, but couldn't get it to work. I was still ending up with static queries in the code after they were supposed to be extracted.

I haven't had the time to explore further recently. Any ideas or pointers?

[2019-10-30 02:20] bsgreenb commented on #17003
Can we re-open?  Not stale.

[2019-10-30 02:34] universse commented on #18337
Are you still having issue with this?

[2019-10-30 02:45] zhouyuexie commented on #18486
可以贡献一点微薄之力～

[2019-10-30 03:14] bsgreenb commented on #14185
Best approach I've found for temporarily dealing with this is [Type Assertions]
(https://www.typescriptlang.org/docs/handbook/basic-types.html#type-assertions):

[code]

[2019-10-30 03:37] sever1an commented on #19128
The code does not appear to actually be minified, some of my longer variable names remain, but just is on one line.

In gatsby 2.17.6 changing to `compact: false` in the following block of code resolves the no breakpoints issue for me. Some lines still do not allow them, but most do. The code is babel translated, so the breakpoints are set through the source map.

## node_modules/gatsby/dist/utils

[2019-10-30 04:05] tesseralis commented on #18486
@xiyizhou, would you be okay with naming the repo `zh-Hans` as we did with the React repo (zh-hans.reactjs.org) It's more neutral and follows the convention of a lot of other docs (see this thread: https://twitter.com/dan_abramov/status/1090924809255559168)

[2019-10-30 04:19] tylermenezes commented on #19064
+1, and I have a super clean reproduction: I had downloaded an old version of a starter project, and tried updating to a newer version. Nothing fancy, didn't mistakenly use Yarn, and I'm using Linux.

[2019-10-30 04:44] vcarl commented on #19128
Yep, fixes for me as well!

[2019-10-30 05:53] PawanHegde commented on #4274
I'd faced a similar issue recently with a local plugin. Code that had been working fine for months  started to fail with the following error.

[code]

Because I hadn't provided a value for `main` in my `package.json` file, gatsby was defaulting to `index.js`, which wasn't present. The solution is to either create an `index.js` file inside your plugin folder, or add the entry `main: "gatsby-node.js

[2019-10-30 07:01] pgegenfurtner commented on #19119
Thank you for your answer.
When I implement it this way, I would create a new mdx node for each translation available and append it to the page node. This gives me the following schema:

[code]

But I'd rather have the content field in the translations field to have a childMdx. Not a new fields node under page.

This is the structure I desire:
[code]
I don't know, how I could append the new mdx no

[2019-10-30 07:25] TidyIQ opened #19136 "Can't use gatsby-plugin-netlify-cms's useStaticQuery in wrapRootElement"
## Description

I'm using Gatsby with Netlify CMS and Material UI. I need to wrap the entire app in Material-UI's `ThemeProvider` component, which takes in a `theme` prop. I'm using Netlify CMS to allow users to easily create the theme, which is then added to the theme prop using `useStaticQuery`.

Unfortunately this doesn't work as it returns the error:

[code]

Stack trace:

[code]

I have teste

[2019-10-30 07:54] marcobiedermann commented on #17335
In general: Why not using their official API?
https://developers.medium.com/

[2019-10-30 08:15] roadwig commented on #17556
This bug is not limited to the netlify starter.
See also: https://github.com/roadwig/gatsby-site
If you build and serve this site, you will see that `/påge-2` works in other browsers but not MS Edge

[2019-10-30 08:49] cbetta commented on #17335
Because their API is not self-service actually.

[2019-10-30 09:55] Qovaros985 commented on #15732
@m-allanson @copperwall  Could I work on this issue?

[2019-10-30 10:41] TomSwiedler commented on #18339
I believe the file I attached is a minimal project required to reproduce the error.

[2019-10-30 11:00] xiyizhou commented on #18486
good idea, thank u

[2019-10-30 11:35] freiksenet opened #19142 "Investigate using schema customization instead of `createNodeField`"
## Summary

We have multiple cases in docs where we recommend using `createNodeField` to add functionality. We should investigate if we should use schema customization for that instead.

### Basic example

This is old

[code]

This is new

[code]

### Motivation

We should see if schema customization is easier to explain as it's likely a preferred way to add fields to types.

[2019-10-30 11:47] craftzdog commented on #17335
I switched it to use `rss2json.com` which returns thumbnail URLs like a charm. Manually creating nodes based on JSON data in `gatsby-node.js`.
Here is the diff of my work: https://github.com/inkdropapp/inkdrop-top/commit/49af291b07cb0aab7cd9dc8547ac5d75e8e33b3e

[2019-10-30 12:41] hunterbecton commented on #19123
The issue stems from updating `react-redux-firebase` from `3.0.0-beta.2` to `3.0.3`. I'm filing an issue with them to see if this can get resolved.

[2019-10-30 12:41] #19123 closed

[2019-10-30 13:08] laurieontech opened #19143 "Issues Getting Closed with One Time Answers"
## Description

Tickets are getting closed when community members respond with a satisfactory solution. However, the response is then limited to the user who opened the ticket.

### Steps to reproduce

N/A

### Expected result

If a user opens an issue and there is an available fix, the responder should be able to point to that answer in the documentation.

If that answer is not reflected in the d

[2019-10-30 14:10] batguyz commented on #19103
Hi, not an expert on debugging but I suggest trying Netlify Dev. It helps you build locally on your machine and then deploys your build. It's much faster!
https://www.netlify.com/products/dev/

[2019-10-30 14:11] disintegrator opened #19145 "[gatsby-source-contentful] Add option to customize locale fallback mechanism"
## Summary

`gatsby-source-contentful` currently looks at the locale information fetched from Contentful, which includes mapping of fallback locales. I propose letting developers override these definitions by passing an option to the plugin

You can get a good understanding about locales and locale fallbacks in Contentful here: https://www.contentful.com/developers/docs/tutorials/general/setting-l