[2019-01-17 06:15] AlexLich commented on #10792
@vickylance win 10

[2019-01-17 06:30] AlexLich commented on #10792
@DanielRuf I will try again setting NODE_TLS_REJECT_UNAUTHORIZED = 0, if the failure then I do not know what to do

[2019-01-17 06:43] DanielRuf commented on #10792
`NODE_TLS_REJECT_UNAUTHORIZED` is not ideal.

 Setting the verbosity level should shed some light on it.

[2019-01-17 06:56] AlexLich commented on #10792
He at least something helped, corporate computer. After setting NODE_TLS_REJECT_UNAUTHORIZED = 0, another mistake, I want to save, I only need to gettsby download and start developing:

[code]
I correctly understood, node / npm is not enough for him, do you also need yarn?

[2019-01-17 07:17] AlexLich commented on #11101
@sidharthachatterjee New error, OMG this damn corporate pc:
[code]

[2019-01-17 07:20] glauberfc commented on #11120
I think that's a good change

[2019-01-17 07:22] marktrobinson commented on #9911
I'm having this issue too where styles in build are re-ordered.

I was using a global.css imported through gatsby-browser.js but  I just read that "Add global styles with CSS files and no layout component" cannot be used with  CSS-in-JS which i'm fairly sure the gatsby-starter-blog uses.

I had to add create a layout.css and import it in my Layout component to get it to work.

See here: https://ww

[2019-01-17 07:37] DanielRuf commented on #10792
Please try opening https://registry.yarnpkg.com/@babel/code-frame/ and https://registry.yarnpkg.com/@babel/code-frame/-/code-frame-7.0.0.tgz in your browser.

Either your OS CA bundle is outdated or there us some caching issue.

Please also try upgrading Yarn. 1.5.1 is a bit outdated. This might be also the case.

[2019-01-17 08:42] KnisterPeter commented on #5002
Any news on this issue? We plan a site with around 100k pages and incremental builds would be awesome.

[2019-01-17 08:48] AlexLich commented on #10792
@DanielRuf  https://registry.yarnpkg.com/@babel/code-frame/ and https://registry.yarnpkg.com/@babel/code-frame/-/code-frame-7.0.0.tgz in my browser openend.
Yarn updated.
There are no errors, but it is so obvious that the npm has not installed a new gatsby project. The terminal looks like the previous one, only terminates without errors on
[code]

[2019-01-17 09:03] DanielRuf commented on #10792
Please enable debug / verbose mode and set it to the highest possible version. Also check if this is caused by your security solutions (antivirus, firewall and so on).

[2019-01-17 09:06] Khaledgarbaya commented on #10403
Hi @coreyward,
These are two types of field, `text/markdown` and `text/richtext`. I might be wrong, but IMO it is useful to have `internal.content` raw data so other plugins can further transform it, also it provides an easy way in GraphQL to get all the content at once instead of having to specify all the fields you want from that object which can lead to very verbose query.
This also gives the f

[2019-01-17 09:55] hcavalieri opened #11125 "Replace double slashes at the start of a page's path"
## Summary

Pages with paths that begin with double (or more) slashes (such as `//design`) get redirected to a non-existing url upon mounting, if loaded straight from the address bar. If they happen to show up through a router link (such as visiting the homepage and clicking on `/design`), then all is fine. Double slashes in the middle of the path don't make a difference, either, although they end

[2019-01-17 10:10] benjaminabel commented on #11004
@DSchau I can investigate in the creation of `gatsby-remark-toc`. Is it worth trying or there's no way to get this merged, or is this unnecessary.

[2019-01-17 10:15] Huvik commented on #11120
Hey :), it would be nice to have `graphql-playground` bundled with Gatsby. But first of all `playground` is made by [Prisma](https://github.com/prisma). And if you want some new feature inside [playground](https://github.com/prisma/graphql-playground/) please create an issue. Playground supports theming and there could be even `Gatsby` theme, so it would fit more to whole Gatsby family.

[2019-01-17 10:17] Saifadin commented on #11120
@Huvik you are totally right, we are using it with Apollo and mixed them up haha
I will fix that.

[2019-01-17 10:36] barrymcgee commented on #11110
Leaving the Gatsby generated index file aside for one moment - if you just add `<h1>Hello world</h1>` to that template, does it still redirect?

[2019-01-17 10:44] eikhunter commented on #11103
@sidharthachatterjee Thanks for this, really appreciate it. I have fixed my issue with inconsistencies, there was a media query bug in my code that wasn't generating the correct content which meant all my javascript calculations were screwing up and breaking the whole build, it was an issue with passing down props that had been set to have a media query. Thanks for your help!

[2019-01-17 10:44] #11103 closed

[2019-01-17 11:32] edgarnansen commented on #11097
Yeah, I guess I could've included a bit more info in the issue. 😛

We _could_ add [fs-filesystem](https://github.com/arthurintelligence/node-fs-filesystem) and actually check if the folder is mounted. That might break builds on Alpine though.

[2019-01-17 12:12] sidharthachatterjee commented on #11118
Hey @fauslg

You need to move the `fonts.css` file to the [static](https://www.gatsbyjs.org/docs/static-folder/) directory and change

`urls: ['src/fonts/fonts.css']`

to

`urls: ['fonts.css']`

[2019-01-17 12:14] sidharthachatterjee commented on #11118
What you saw with the request being cancelled was because
- src/fonts/fonts.css is a route that is not being served by the dev server and therefore the dev server returns a 404
- The 404 being an html file causes the request to be cancelled because of a strict mime type check

[2019-01-17 12:25] stefanprobst opened #11127 "[www] plugins page on small screen does not show plugin details"
On a mobile screen, selecting a plugin on [www.gatsbyjs.org/plugins](https://www.gatsbyjs.org/plugins/) should show the plugin's details, but does nothing.

[2019-01-17 12:33] thibautRe opened #11128 "Dynamic and programmatic gatsby-config"
## Summary

I have a use-case for which I can't find a way forward. It involves multiple gatsby-source plugins and how to have a dynamic configuration for them.

I'm in the process of writing a source plugin for Adyen (payment provider) to expose nodes about the Adyen data for a given merchant configuration. This plugin is intended to be open-sourced - so not specific to our own technical choices.

[2019-01-17 12:49] polarathene commented on #11097
Alpine is already painful enough to use with Gatsby(more specifically `gatsby-plugin-sharp`), no thanks :(

Is there an actual need to delete the folder vs empty it's contents?(I guess the latter might be slower?)

An alternative could be an env var for where the cache folder should be located? That way you could store it in your docker volume without directly being at the mountpoint?

[2019-01-17 12:58] sidharthachatterjee commented on #11110
From what I understand, you're seeing this because of
https://github.com/gatsbyjs/gatsby/blob/a11f79abcfe7f0390dedc5b10c7d0b79848595c2/packages/gatsby/cache-dir/production-app.js#L65

Have you tried setting a path prefix solve this?

On a side note: I understand your use case and would recommend routing to the static assets Gatsby generates on nginx, Apache or whatever as opposed to creating a Wor

[2019-01-17 13:01] sidharthachatterjee commented on #11120
@Saifadin I could see this being a plugin!

Should be easy to set up a new route in express [onCreateDevServer](https://www.gatsbyjs.org/docs/node-apis/#onCreateDevServer)

[2019-01-17 13:16] Saifadin commented on #11120
@sidharthachatterjee that is also a possible approach, that can be used in the meanwhile, as I think this would be at least minor version jump or even a major one.
To be frank I think for beginners to GraphQl the Playground might be easier to use. This is a very subjective viewpoint I know, but I stand by it 😝

[2019-01-17 13:16] wardpeet commented on #11123
@rayriffy this is a bug with chrome & lighthouse. It looks like all requests that are served from the Service Worker are marked with http/1.1 so lighthouse is actually just telling you something wrong.

I'll create a bug in the lighthouse repo with a reproduction so it can get fixed.

[2019-01-17 13:35] wardpeet opened #11129 "[www] Empty pages on plugin pages"
Some plugin pages have empty pages:
https://www.gatsbyjs.org/packages/gatsby-source-sanity/?=sanity

I've did some digging and found out that the api we're calling is responding with an empty readme property. So it's not an issue on our end but maybe we want to setup or own endpoint so we're not dependant on algolia.

The plugin we're using is [gatsby-source-npm-package-search](https://github.com/

[2019-01-17 13:43] wardpeet commented on #11120
if you want to use playground now you can checkout #4231 to start using it.

Sadly we have other priorities right now and don't see this as a blocking issue.

[2019-01-17 13:45] sidharthachatterjee commented on #11090
As far as I know and from the documentation, the plugin does transpile TypeScript

It does have some limitations though! I guess we could update the plugin to use https://github.com/TypeStrong/ts-loader maybe. Let me take a look.

In the mean time, closing this issue but please feel free to reopen or comment if any of your questions remain unanswered! Thank you @akoolenbourke

[2019-01-17 13:45] #11090 closed

[2019-01-17 13:49] KyleAMathews opened #11130 "Demonstrate use of directly importing data (json & yaml) for simple data in tutorial plus recipee"
People sometimes think you need to use graphql for everything including simple cases like using data from a json file.

We should emphasize that hard-coded data can be directly imported and that graphql is only necessary when you want db-like functionality e.g. filtering, sorting, pulling bits of data from connected data, and transforming data (images, markdown, dates, etc.).

Add this to the tuto

[2019-01-17 13:57] sidharthachatterjee commented on #11128
Thank you for opening this @thibautRe

We do allow config for the upcoming Gatsby themes for be functions so we could look at this
https://github.com/gatsbyjs/gatsby/blob/a11f79abcfe7f0390dedc5b10c7d0b79848595c2/packages/gatsby/src/bootstrap/index.js#L86

@pieh What do you think?

[2019-01-17 14:10] sidharthachatterjee commented on #11125
Thank you for opening this @hcavalieri

I _do_ see this is a potentially tricky scenario for a beginner but I'm not sure if we want to add more defensive code around this

Maybe we need to add a quick tip in documentation _encouraging_ a user to use `path.join()` when creating a path out of several parts?

We could add that in https://www.gatsbyjs.org/docs/actions/#createPage

[2019-01-17 14:21] sidharthachatterjee commented on #11122
Just dug into the code and found
https://github.com/gatsbyjs/gatsby/blob/a11f79abcfe7f0390dedc5b10c7d0b79848595c2/packages/gatsby-plugin-sharp/src/index.js#L330

@polarathene Can you please link to a minimal reproduction of this not working?

[2019-01-17 14:31] alexsinfarosa commented on #11101
I am getting the same error. I am on a Mac

[2019-01-17 14:32] sidharthachatterjee commented on #11119
@vai0 The Netlify CMS plugin runs a separate instance of webpack it does spread the gatsby webpack config  but this is probably being run before your code) so that would explain why your code in `gatsby-node.js` isn't working

Here is the webpack config for it
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-netlify-cms/src/gatsby-node.js

Would you like to open a PR with your

[2019-01-17 14:36] sidharthachatterjee commented on #11101
@AlexLich It looks like the first instance was using npm and the second is using yarn

Can you uninstall `yarn` and try again? (Gatsby prefers yarn if it is in your path)

[2019-01-17 15:17] jonniebigodes commented on #11130
@KyleAMathews if you don't mind i can whip up something and have the @gatsbyjs/docs go over it and fine tune the details. Sounds good?

[2019-01-17 15:23] polarathene commented on #11122
@sidharthachatterjee Sure, it could be a misunderstanding on my part. In the CLI output, I know that the same queries(or similar in the case of only changing the base64 width) was showing a larger total count of images to process/output with `Generating Thumbnails..`, for about 24 images I recall about 330-ish were being generated, using the same graphql query in another page doubled that, and my

[2019-01-17 15:26] krismorf commented on #11130
Can this also be a part of a tutorial about the use case of manually creating a search index JSON file in `gatsby-node.js` and then using onClientEntry in `gatsby-browser.js` to load the index to `window`?

[2019-01-17 15:31] ettaibi commented on #9376
how can we resolve this issue in linux

[2019-01-17 15:46] ettaibi commented on #8205
how to resolve this while pushing to a docker container ?

[2019-01-17 16:17] polarathene commented on #11122
@sidharthachatterjee

- 24 image folders in static, 108MB, 1,008 files, each folder has 42 images. Images are all using fluid queries with max-width or max-height with JPG and WEBP outputs. Still seems a bit high image count wise.
- 2nd build, remote images are downloaded again. I had additional folders added with 42 images, but some were skipped, this appears to be due to some remote files having

[2019-01-17 17:04] patricksimonian commented on #11109
I am using remotely sourced assets via a *locally authored source plugin*, however these two errors quit gatsby and built time and not run time. They both appear to be happening during *node creation*. Which comes to mind... perhaps I should try to reproduce the results **while not running my local source plugin** I'll come back with my results on that.

[2019-01-17 17:16] #5811 closed

[2019-01-17 17:16] #6167 closed

[2019-01-17 17:16] #8059 closed

[2019-01-17 17:16] #8115 closed

[2019-01-17 17:16] #8173 closed

[2019-01-17 17:16] #8202 closed

[2019-01-17 17:16] #8252 closed

[2019-01-17 17:16] #7414 closed

[2019-01-17 17:16] #7695 closed

[2019-01-17 17:16] #8190 closed

[2019-01-17 17:32] shansmith01 commented on #11066
Right found the bug.

I use bitsrc for some of my components. Some of these components were dependent on styled components v3 and I am using v4 in gatsby. This has not been causing a problem pre gatsby 2.0.82.

Removing bitsrc as a dependency seems to have fixed the issue

Thanks for being involved

[2019-01-17 17:32] #11066 closed

[2019-01-17 18:12] valayd commented on #6053
@gnujoow can you please share your solution here ?

[2019-01-17 18:23] skrapkam commented on #11109
Disabling my locally source plugin seems to resolve the error

[2019-01-17 18:48] valayd commented on #6053
I've to use `bootstrap-select`, `bootstrap`, `jquery`, `popper`, `isotope`, `wow` and a script file that uses all these libs with Gatsby. during gatsby develop I am not sure it works fine or not. During gatsby build it failed. So, I copied all these files to static and build passed.

Then I checked for all these files in common.js but not a single file code is there. How do I use all these depende

[2019-01-17 19:04] sw-yx commented on #5811
sad but ok

[2019-01-17 19:19] moonmeister commented on #11110
We figure a way around this, thanks ya'll.

[2019-01-17 19:19] #11110 closed

[2019-01-17 19:23] patricksimonian commented on #11109
can you provide a link to your plugin so i can check it out? Maybe I'm doing too much magic in mine...

[2019-01-17 19:32] jakemmarsh commented on #3560
I'm still seeing this issue in `2.0.21`. Looks like we're going to have to remove `gatsby-plugin-offline` for now, as this makes it impossible to circulate new blog posts.

[2019-01-17 20:14] pauleveritt commented on #7373
@stoltzrobin I've also moved stuff to sourceNodes but found the authoring experience suffers. You add a new Markdown doc that uses mapping to get linked to another and it requires stopping ``gatsby develop`` and ``rm -rf .cache``, many times a day.

I need to find an API similar to ``sourceNodes`` but which runs on each filesystem change.

[2019-01-17 20:36] sami616 commented on #1517
@Khaledgarbaya this works great for optional content types but we quickly run into the issue again if one of those types have optional fields that are undefined

[2019-01-17 21:21] jufemaiz commented on #10070
*follow*

I'm trying to do this with the static site build and am finding it unlikely to work, even with a workaround to route all requests through the "application" page.

I like the idea of gatsby, but particularly for static deployment, it's lacking in a number of areas in providing known solutions and best practices :(

[2019-01-17 21:35] patricksimonian commented on #11109
took a quick look. The only suspect i'd see from your code is https://github.com/MantasMikal/gatsby-source-instagram-all/blob/master/src/sourceNodes.js#L13

where you delete a property from a configuration object. Other than that it looks pretty normal. My local plugin is quite the behemoth but at the end of the day it does the same thing as all source plugins which is generate nodes by calling th

[2019-01-17 22:03] m-ttriley commented on #2435
why did u guys add this

[2019-01-17 22:41] vai0 commented on #11119
@sidharthachatterjee Would love to :)

Before I submit the PR - do you happen to know what the reason is for running a separate instance of webpack rather than relying on gatsby's?

Would you prefer the fix to simply be adding a resolve to the config, or switching `webpack(config).run()` to `actions.setWebpackConfig`?

[2019-01-17 22:44] vai0 commented on #11119
Actually `actions.setWebpackConfig` probably wont work

[2019-01-17 22:53] Saifadin commented on #11120
I would love for the gatsby team to consider using Playground and to discuss it. But for now I created this plugin that creates the `/___playground` route which can be used to query and navigate through the schema

https://github.com/Saifadin/gatsby-plugin-playground

It worked with multiple of my projects and I hope no issues arise :)

[2019-01-18 00:03] erquhart commented on #10767
Hot reloading looks like it would be a hot mess to implement for our parallel webpack build, but I'm opening a PR to at least watch CMS files, so you can get changes by refreshing. Hope it helps!

[2019-01-18 01:17] vai0 opened #11137 "gatsby-plugin-netlify-cms errors when components dependent on gatsby modules are imported in cms.js"
## Summary
I am attempting to register a preview template in `cms.js` with the component I'm also using in Gatsby. However, gatsby-plugin-netlify-cms throws the error below when Gatsby is built. I've narrowed it down to the reason being that gatsby-plugin-netlify-cms' webpack instance cannot process the Link component from the "gatsby" module.

[code]

[code]

Error
[code]

Is there an obvious wor

[2019-01-18 01:36] j10sanders commented on #11026
I was able to install on another machine with the same OS.  Any idea what I might be missing on the machine that doesn't work?

[2019-01-18 01:44] honza opened #11138 "JSON transformer runs out of memory loading a 67MB file"
## Description

I'm using the default starter, and I added the json transformer to load json data file from the file system. Node dies after about a minute with an out of memory exception.

### Steps to reproduce

As I said above, it's all pretty simple. File system source, then a `gatsby-transformer-json`, and there is a single file in a single directory. This file is 67MB. It has 6 levels of nes

[2019-01-18 02:40] marvinjude opened #11139 "Error:Must provide Source. Received"
## Description

[code]

### Steps to reproduce

[2019-01-18 02:57] marktrobinson commented on #9911
Actually that still didn't work... will have to look again this evening otherwise create an issue.  On first load of the page the css isn't there, when i hover near a set of links (which is styled by the css) they change colour.  No idea why! Will look into it

[2019-01-18 03:59] polarathene commented on #11109
I think I have a similar plugin to what you two are referring as local plugin? [I added offline/local support to `gatsby-source-contentful` via `createRemoteNode()`](https://github.com/gatsbyjs/gatsby/pull/10682), iirc I'd get some build errors sometimes that were fixed by clearing out the cache.

[2019-01-18 05:25] rtm619 opened #11140 "[question][gatsby-plugin-offline] Any plans to add support for push notifications in the future?"
## Summary

The current offline plugin provides a sw with caching options using workbox's generateSW plugin.
While this is enough, I think that the plugin could be expanded to support push notifications using firebase and APNS (for ios compatibility).

What do you guys think?

[2019-01-18 06:18] Dogtiti commented on #11026
same issue

[2019-01-18 06:48] KishanIos007 commented on #3539
Hi everyone I am searching how we can use gatsby inside specific folder of an angular app and google lands me here @KyleAMathews  Thanks for the technical description but after lots of research and google I am still not able to figure it out how we can combine this wonderful frameworks. anyone with any kind of success ?

[2019-01-18 07:34] AlexLich commented on #11101
Yes `yarn` has been installed, It seems the case in the corporate antivirus, the firewall is turned off, but still the antivirus does some dark things

[2019-01-18 07:51] wardpeet commented on #11026
What version of sharp is installed?
`npm list --pattern sharp"`

There are probably 2 issues here
**EACCESS error:**

EACCESS is mostly caused by wrong permissions on a folder or bad node installation.
you could try to remove node_modules and try `npm install` all over again, if it doesn't work try `sudo npm install`.

You could also try the following: (only applies to WSL, osx or linux)

This is

[2019-01-18 08:03] wardpeet commented on #11128
This one is fairly simple and we can introduce this one without doing much work. I'm not sure we will prioritize this feature as there is a workaround to make this work.

This is the line you probably need to do some magic:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/load-plugins/load.js#L122

it should be as simple as `plugin.options = await Promise.resolve(plugin

[2019-01-18 08:16] thibautRe commented on #11128
@wardpeet I was actually thinking about allowing async functions on the `module.exports` of the config, not on individual plugin's options. Your solution would indeed work in my use-case. But allowing async on the top-level would allow more things like asynchronous `siteMetadata` configuration, and maybe other relevant things. In that case, it would be just before https://github.com/gatsbyjs/gatsb

[2019-01-18 08:54] haxzie commented on #11108
@tbinte This is a bug in React https://github.com/facebook/react/issues/5479 and possible duplicate of #2750
Ran into this couple of days ago, possible work around is to avoid using `dangerouslySetInnerHTML` on `p` tags and use them within `div`s like this. https://github.com/gatsbyjs/gatsby/issues/2750#issuecomment-342245034
[code]

[2019-01-18 09:22] wardpeet commented on #11101
Could you try to run this on a pc without the corporate firewalls/antiviruses? To see if it works. It seems like an issue with downloading packages & installing.

I'm going to close this one because it looks more or less like a duplicate of https://github.com/gatsbyjs/gatsby/issues/11026 please move the discussion to that thread.

Thank you for understanding.

[2019-01-18 09:22] #11101 closed

[2019-01-18 09:53] wardpeet commented on #11129
It seems like there was an issue with the algolia index and got fixed. So I'm closing this one, if it happens again we probably want to consider a private instance.

[2019-01-18 10:09] bogdan-calapod commented on #7013
Hello,

Any news on this issue ? I'm running WSL on Windows 10 1809 and local builds always hang at `Building production JavaScript and CSS bundles`

Is there any way I can enable a "debug mode" so that at least I could see which command fails ?

[2019-01-18 10:09] wardpeet commented on #11128
that sounds even better 👍 thanks for thinking out of the box

[2019-01-18 10:27] joostdecock opened #11142 "[gatsby-plugin-netlify-cms] Make it possible to use Netlify CMS in pages/components"
## Summary

It is currently not possible to use Netlify CMS in your Gatsby pages or components. The only way to have a dedicated entry point (/admin/ by default).

The plugin creates its own webpack setup and keeps the CMS code out of the Gatsby bundle. That's a good thing because Netlify CMS's CSS code is not scoped, and including it in a Gatbsy page or component pollutes the CSS of your entire s

[2019-01-18 10:45] oorestisime commented on #11102
haven't tested this but since you already have the file in the props (and hence you know which file you want) why don't you filter on that directly instead of regexing on the extensions?

[2019-01-18 10:51] oorestisime opened #11143 "[www] Plugins feedback button is not working"
## Description

When i click on the mail icon in the plugins page i get

![screenshot_2019-01-18 gatsby-source-instagram](https://user-images.githubusercontent.com/3874836/51382507-3e9a2d00-1b17-11e9-8c07-8068be65e103.png)

### Expected result
Not sure :D

[2019-01-18 11:30] gurpreet-hanjra commented on #11143
Hello, in initial investigation it seems like unbird component is not getting the public key here https://github.com/gatsbyjs/gatsby/blob/b8422553a6cc2b0b1195ba1c788eea4727ec13ca/www/src/pages/plugins.js#L71
could someone help in debugging the publickey? @sidharthachatterjee

[2019-01-18 11:31] #2446 closed

[2019-01-18 13:56] Khaledgarbaya commented on #10403
@coreyward now I get your point, this makes total sense we would need to align with other people to decide which field to keep and which to omit

[2019-01-18 13:59] jedrichards commented on #7747
Can confirm StaticQuery doesn't work inside `wrapRootElement`. This is a pretty knarly bug I think, because `wrapRootElement` is generally where you want to setup providers. So if you want to initialise a provider with data from a StaticQuery, as the docs indicate (_"For setting Provider components use wrapRootElement"_) then you're currently stuck, afaics.

[2019-01-18 14:11] iamskok commented on #5030
Hey, guys!
Please checkout [gatsby-remark-code-buttons](https://github.com/iamskok/gatsby-remark-code-buttons) and let me know what you think.

Can someone assign me to this issue, please?

[2019-01-18 14:16] ergunpp commented on #11102
Because I amplanning to ıse that component from multiple components

On 18 Jan 2019 Fri at 13:45 Orestis Ioannou <notifications@github.com>
wrote:

[2019-01-18 16:13] alexsinfarosa commented on #11026
The issue in my case seemed to be related to npm. I have reinstalled node and npm and everything works fine.

[2019-01-18 16:57] tynsoltys commented on #9511
Unfortunately none of the above are working for me, have replicated all of your above version combos to no avail. Figures this happens on the one afternoon I've allocated to play around with this, haha.

[2019-01-18 17:16] #6655 closed

[2019-01-18 17:16] #6728 closed

[2019-01-18 17:16] #7390 closed

[2019-01-18 17:16] #7596 closed

[2019-01-18 17:16] #7743 closed

[2019-01-18 17:16] #8255 closed

[2019-01-18 18:30] zslabs commented on #9948
You can see it live by visiting https://www.gremlin.com/community/tutorials/chaos-engineering-monitoring-metrics-guide/ and interacting with the sidebar links; click it once, then when the element is scrolled-down to it; click that same item again, and it moves the position.

[2019-01-18 19:33] macandcheese commented on #11072
Is there a way to opt-out currently? This sounds like what I have been experiencing while trying to migrate from v1 -> v2. Everything works as intended locally, but when serving the built project initial page load does not correctly load CSS. Subsequent page loads while navigating will display correctly rendered styles. My issue is similar to ones such as this: https://github.com/gatsbyjs/gatsby/i

[2019-01-18 19:50] gustavpursche commented on #11072
@KyleAMathews Another use case on not using code splitting would be building static prototypes. We do this quite often to hand over markup & styles to other teams, but currently we always have to add a second build step in order to create a CSS file containing all styles.

[2019-01-18 20:38] WhippetsAintDogs opened #11150 "How to exclude a file from the hot reloader in gatsby develop ?"
## Summary

I wish to exclude a file from the hot reloader when I run gatsby develop.

## Relevant information

Using the gatsby-plugin-postcss with the postcss-preset-env PostCSS plugin, I can generate a CSS file from a JS constants file in order to share constants across both CSS and JS in my website. I use the importFrom and exportTo option of the plugin like this:

[code]

that generates this:

[2019-01-18 21:49] dsebastien commented on #8790
I have the same issue and in my case, inlining the queries does not seem to help. The problem only appears  with `gatsby build`.

[2019-01-18 22:31] dsebastien commented on #6032
@KyleAMathews Hello. I'm still facing this issue.

For some reason, even if I inline the queries, I end up with "Loading (StaticQuery)". Moreover it only happens with `gatsby build` and not with `gatsby develop`.

[2019-01-18 22:36] pauleveritt opened #11151 "Source and target nodes of a mapping relationship don't update under develop/build"
## Summary

When doing relationships with a `mapping` in `gatsby-config.js` as described in the docs, nodes don't update, either in `develop` or `build`. You have to remove the develop/build caches.

As commented below by @pieh this is related to a reported bug where a dependency should be added.

## Relevant information

[Reproducible repo, writeup, and video illustrating the problem](https://git

[2019-01-18 23:07] jonniebigodes commented on #11102
@ergunpp i've picked up on your issue and according on what you said and based on your code. I believe i have a solution for you.
Based on what you said it sounds like you have _n_ number of images inside the `image` folder and you want a abstraction created, meaning, you want to reuse the component across the entire site, injecting the name of the image and fetching and showing the image as you g

[2019-01-18 23:13] jonniebigodes commented on #10789
@Dogtiti sorry for the long wait. But i caught a case of the "bubonic plague"(pardon the bad pun), aka a really bad cold. With that the exposure to computer was limited to a small degree, if you don't mind being a bit more patient, but tomorrow, as where i'm at is still friday, i'll make some more tests on the code i have and provide a answer for your issue. Also a small matter side item, is your

[2019-01-19 01:02] macandcheese commented on #11072
I've definitely seen inconsistencies in how v2 concatenates / orders built css compared to v1.

In development, my app functions as expected, however when viewing the built app, the css files are incorrectly ordered / pre-fetched. The site structure is the same as my v1 app - I'm using `gatsby-plugin-layout` _without_ any css-in-js libraries, so most of the suggested fixes like installing `gatsby-

[2019-01-19 02:34] #10466 closed

[2019-01-19 03:16] harryparkdotio commented on #11138
loading such a massive file into node, resulting in an out of memory exception isn't all that surprising.

I presume it's failing somewhere in here
https://github.com/gatsbyjs/gatsby/blob/fc2ff3503ac1ed32a4b7677b12edf4c4ea4fd050/packages/gatsby-transformer-json/src/gatsby-node.js#L22-L35

but try increasing node's memory limit

[code]

[2019-01-19 03:46] WhippetsAintDogs commented on #11150
I've found the answer to my problem here: https://css-tricks.com/bridging-the-gap-between-css-and-javascript-css-modules-postcss-and-the-future-of-css/

[2019-01-19 03:52] ryanmargheriti commented on #7601
This should really be in the docs

[2019-01-19 06:41] daniel-vera-g commented on #11026
Same with me. Installed it on a VM and it works there.

[2019-01-19 06:44] miloofcroton commented on #6559
I have the exact same score. What is up with Netlify + Gatsby and HTTP/2?

[2019-01-19 06:53] daniel-vera-g commented on #11026
Thanks for your reply. Removin `node_modules` and doing `npm install` made it work again.

Nevertheless I tried the same extensively before submitting this issue and it did not work back then. Strange. Maybe someone fixed something in some package.

[2019-01-19 10:11] #6494 closed

[2019-01-19 12:58] JacobBlomgren opened #11159 "[gatsby-plugin-google-gtag] respectDNT has the wrong documented path"
## Description

The `respectDNT` option is erroneously documented to be provided as `pluginOptions.pluginConfig.respectDNT` when the code in fact only listens to `pluginOptions.respectDNT`, as can clearly be seen [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-gtag/src/gatsby-ssr.js#L47).

### Steps to reproduce

This config will not result in the expected resul

[2019-01-19 13:02] huanggm commented on #4334
@Kaisaurus @KyleAMathews Sorry to disturbing you! I am just have the same problem these days.
If we fetched data from client, it seems that we don't need gatsby. It's a pure react app.

I am a newbie in gatsby and react. I am not sure about what I say.

[2019-01-19 13:47] omrllm opened #11160 "How do you add Google Adsense?"
I've searched for a solution and I have found https://www.npmjs.com/package/react-adsense.

But I don't know how to use it, and being at the beginning I haven't got a slot id which from what I see is required.

How do you add Adsense to a gatsby website?
What is the equivalent of the <head> </head> tag?

[2019-01-19 14:45] haxzie commented on #6686
Found a similar issue in Gatsby docs https://www.gatsbyjs.org/docs/gatsby-cli/#gatsby-cli The `Gatsby Starters` link renders a 404 page. The original link specified is `https://www.gatsbyjs.org/docs/gatsby-starters/` while the same entered in browser redirects to `https://www.gatsbyjs.org/starters/?v=2`

[2019-01-19 14:59] haxzie commented on #11160
Slot ID is the ID of AD unit you have created on your Adsense Dashboard.
![screenshot_2019-01-19 google adsense](https://user-images.githubusercontent.com/18684321/51428361-d2a7e980-1c28-11e9-8393-c283cee4a5cb.png)

You need to manually create ad unit, specifying the style and type in `Ad Unit` option under `Ads` in the dashboard.

[2019-01-19 15:40] Chmarusso opened #11161 "Querying Strapi GraphQL endpoints with "where""
I've configured Gatsby to use GraphQL API exposed by Strapi:

[code]
Now I have a problem when I want to query for some items with `where` in my index page. Following GraphQL query works fine when executed in Strapi (http://localhost:1337/graphql) and Gatsby (http://localhost:8000/___graphql) playgrounds:
[code]

But same query does not work in index page:

[code]

I'm getting following error:
`er

[2019-01-19 17:16] #7455 closed

[2019-01-19 17:16] #7608 closed

[2019-01-19 17:16] #7728 closed

[2019-01-19 17:16] #7783 closed

[2019-01-19 17:16] #7844 closed

[2019-01-19 17:16] #7845 closed

[2019-01-19 17:16] #8271 closed

[2019-01-19 17:30] adriantombu commented on #8707
I just encoutered the exact same problem as described here : no problem at all on `gatsby develop` but the pictures are not the expected ones on `gatsby serve` after building the project.

[2019-01-19 17:39] davidharting commented on #2374
Does anyone know how to generate types if your queries use fragments that are defined inside of dependencies?

e.g., I have a page template like:

[code]

But `BodyFragment` is defined using `gatsby.graphql` inside a component that I am importing from a dependency.

I don't know if it's possible to make apollo code gen find and use that fragment when generating types.

Currently, it errors out wit

[2019-01-19 17:49] honza commented on #11138
Actually, the data that I was loading wasn't really graphql friendly. I changed it up so that it favors arrays of objects instead of deeply nested objects, and now it loads fine, and fairly quickly (<5s).

[2019-01-19 17:49] #11138 closed

[2019-01-19 17:56] nikoladev commented on #8707
@gatsbybot Please don't mark this as stale

[2019-01-19 18:08] bluepeter commented on #8237
For those following along, I am working on a Gatsby Material UI starter with the techniques discussed in this thread. https://github.com/bluepeter/gatsby-material-ui-business-starter

[2019-01-19 18:33] SleeplessByte commented on #4115
not stale

On Sat, 19 Jan 2019, 18:16 gatsbot[bot], <notifications@github.com> wrote:

[2019-01-19 18:53] coreyward commented on #11160
@omrllm I'm going to go ahead and close this since it's not actually related to an issue with Gatsby. If you need additional help you might want to try StackOverflow.

[2019-01-19 18:53] #11160 closed

[2019-01-19 18:53] #11150 closed

[2019-01-19 18:55] coreyward commented on #11139
Hi @marvinjude, without more information (as requested in the issue template) there's no action that can be taken on this. Can you confirm you still need something or better outline the issue you're reporting?

[2019-01-19 21:50] gaearon opened #11165 "Babel errors shouldn't let the site run"
I'm in a hurry, feel free to close if I'm not following the template.

I have some Babel errors:

<img width="727" alt="screen shot 2019-01-19 at 9 48 26 pm" src="https://user-images.githubusercontent.com/810438/51432715-1a803e00-1c34-11e9-8ad5-100edf7ad734.png">

But the site still loads in DEV. I guess it just serves the previous version.

This is very wrong and can lead to nightmare-ish debuggi

[2019-01-19 23:01] TheKnightCoder opened #11167 "Gatsby on windows (new project fail install)"
## Description
Cannot `npm install` or `gatsby new site` on windows 10 pro machine. I get errors.
I have node v11.6.0 64bit installed

(I got it working on docker for windows but then there is not INOTIFY to detect file changes for gatsby develop and no polling support on gatsby)

### Steps to reproduce

On a windows 10 machine run the command
`gatsby new site`

I get errors so I tried `npm instal

[2019-01-19 23:10] Warped2713 opened #11168 "Add ignore option to gatsby-plugin-page-creator"
## Summary

I would like to give my client the option of choosing, via a config file, whether or not to include blog pages on their generated site.

Example project:
[code]

The first part, dynamically selecting which content files to turn into pages, was easy.

The second part, dynamically selecting which `pages/*.js` files to process, eludes me, and is especially annoying when building results i

[2019-01-19 23:13] GuskiS commented on #9190
Just noticed this in my page. Weirdly that it happens only when `gatsby build && gatsby serve`, cause when I'm doing `gatsby develop` everything is fine.
I also noticed that when I turn on mobile view within chrome, I can scroll x/y, however if I do manual screen resize everything is fine.

[2019-01-19 23:38] jonniebigodes commented on #11167
@TheKnightCoder did you follow [this](https://www.gatsbyjs.org/docs/gatsby-on-windows/) before trying to install, also as per [nodegyp docs](https://github.com/nodejs/node-gyp) if you scroll down you'll see that it does not like/work with python 3, you'll need version 2.7.

[2019-01-20 01:39] stmcallister commented on #11014
Turns out the culprit is the `iframe` code snippet just inside `<body>`.  The plugin is generating line breaks to make the `iframe` code more readable, like so:

`<iframe
  src="https://www.googletagmanager.com/ns.html?id=GTM-xxxxxx"
  height="0"
  width="0"
  style="display: none; visibility: hidden"

This does not allow Google Search Console to verify ownership of the site. However, if you remov

[2019-01-20 01:47] j10sanders commented on #11026
I did all the steps outlined here.  Reinstalled node, messed with permissions, deleted node_modules and package.json.  I wasn't able to get it working until I finally deleted the project and re-cloned it from github.  works now :)

[2019-01-20 04:40] Dogtiti commented on #10789
@jonniebigodes Thank you very much for providing such a detailed answer. I will try to change the problem you mentioned as soon as possible to see if it works. Also, I wish you a speedy recovery！

[2019-01-20 05:20] zidoshare commented on #11006
Oh,sorry,I forgot to show my codes.Although I think there shouldn't be too many problems in my code, I still show you the code that has problems online.

[this my respository](https://github.com/zidoshare/curly-succotash/tree/master),only master.thanks.

[2019-01-20 07:39] marcysutton commented on #2080
I'm interested in this idea as well for loading content inline rather than linking off to separate pages (when client-side JS is enabled, anyway). It would be nice to load more blog post titles or small video embeds on click of a "show more" link rather than querying everything on load to keep the page lighter. Would that use case fall under deferred queries?

Something like this:
![grid of 4 vide

[2019-01-20 07:45] marcysutton commented on #5592
Can this issue be closed since there is an accessibility page? Love seeing this :) https://www.gatsbyjs.org/docs/making-your-site-accessible/

[2019-01-20 07:46] shooontan opened #11172 "deleteNode does not works in onCreateNode"
## Summary

I made local plugin which filter (markdown)posts with date in frontmatter.
But node was not deleted when  `deleteNode` execed. Posts which should be deleted are build and display on page.

There is a related issue(https://github.com/gatsbyjs/gatsby/issues/10844), but I do not know what is problem and what to do.

I will be happy if you tell me solution.

[code]

[code]

[code]

## Rele

[2019-01-20 07:53] daniel-vera-g commented on #11026
There was something strange. Did the same a week ago. It did not work. Yesterday I only deleted the node_modules folder and reinstalled them and it just worked.

[2019-01-20 07:58] ergunpp commented on #11102
Thank you so much for the detailed explanation @jonniebigodes.
What is the difference in using a const renderImage with arrow function and just a plain renderImage function? You get the same result?

[2019-01-20 08:42] TheKnightCoder commented on #11167
@jonniebigodes ahh thanks so much
running **`npm install windows-build-tools -g`** on an admin powershell fixed it.
I did see the docs but I'm a bit blind, I skipped the intro and went for the things in bold but the solution is in the intro. would be nice to make it more eye catching.
thanks again for the help

[2019-01-20 08:42] #11167 closed

[2019-01-20 08:49] ChristopherBiscardi opened #11173 "`deletePage` action is unexpectedly asynchronous"
## Description

The issue seems to be that calling `deletePage` in two different `onCreatePage` hooks is unexpectedly asynchronous, causing the [DELETE_NODE reducer](https://github.com/gatsbyjs/gatsby/blob/fc2ff3503ac1ed32a4b7677b12edf4c4ea4fd050/packages/gatsby/src/redux/reducers/nodes.js#L16) to receive

[code]

This causes

![image](https://user-images.githubusercontent.com/551247/51437023-b585

[2019-01-20 09:31] cardiv commented on #5801
`$HOSTNAME` is almost not set on my machines. So I need this one and it works flawless across my local network devices:

[code]

This is now my default develop command set in `package.json` and run with `yarn develop`. Great!

[2019-01-20 10:41] joostdecock commented on #11142
Having investing some more time in Netlify CMS, I frankly think it's not worth it. So I'm closing this.

[2019-01-20 10:41] #11142 closed

[2019-01-20 11:20] RobinCsl commented on #11062
@graysonhicks Hopefully, this helps you :slightly_smiling_face:

[2019-01-20 12:14] VilleKoivukangas opened #11175 "Issues loading wordpress featured images"
## Description

Loading wordpress posts seems to work randomly. Posts get loaded always as expected but there is problems to get featured images with them. Wordpress version that i am working with is **5.0.3**

### Steps to reproduce

1. Set up wordpress site and make couple posts and add featured images to them
2. Clone gatsby project "git clone https://github.com/VilleKoivukangas/wordpress-blog-

[2019-01-20 12:32] magnusarinell opened #11176 "Gatsby crashes on Chrome v 43.0.2357.81"
## Description

When browsing with Chrome v 43.0.2357.81, site crashes with error:
Uncaught TypeError: Cannot read property 'split' of undefined.

### Steps to reproduce

Visit https://reactjs.org/docs/hello-world.html with Chrome  v 43.0.2357.81.

### Expected result

Site should render.

### Actual result

Site crashes on hydration.

[2019-01-20 12:45] koreyboone commented on #11176
Why are you using chrome 43? I doubt that old of a version of chrome is compatible

[2019-01-20 13:13] DanielRuf commented on #11176
Please provide the line which throws the split error.
So far this issue is not a bug in Gatsby but a missing polyfill for your Chrome version.

Please check the browserslist config.

[2019-01-20 13:13] #11176 closed

[2019-01-20 16:17] machieajones commented on #11026
I managed to resolve this issue.
Firstly, CD into your new gatsby project folder and run
`yarn upgrade --latest`
then
`yarn install`
then `gatsby develop`

If that doesn't work for you, I resolved the issue by installing node 8.14 (I'm not sure if this part is totally necessary, but this is how I got it to work) by doing:
`nvm install v8.14`
I then switched to that instance
`nvm use v8.14`
install

[2019-01-20 16:38] deltaskelta commented on #8237
@bluepeter I tried to implement your example but I am still getting the same symptom that @relytmcd mentioned where the style initially looks ok and then freaks out a fraction of a second later. I had to add the hydrator. I don't know what is going on yet but I'll try to take a closer look

[2019-01-20 16:52] bluepeter commented on #8237
Thanks @deltaskelta ... do you have anything you can you PR to my repo? I plan to do some more work on this over the next several days (at the Oregon coast right now for 3 day weekend, so limited time).

[2019-01-20 17:16] #5928 closed

[2019-01-20 17:16] #6549 closed

[2019-01-20 17:16] #6780 closed

[2019-01-20 17:16] #6794 closed

[2019-01-20 17:16] #7847 closed

[2019-01-20 17:16] #7901 closed

[2019-01-20 17:16] #7980 closed

[2019-01-20 17:16] #7981 closed

[2019-01-20 17:16] #8326 closed

[2019-01-20 17:16] #8332 closed

[2019-01-20 17:59] LittleHamster opened #11179 "gatsby-source-wordpress content image"
## Summary

This is kind of related to this issue #3733. When pulling the content:

[code]
the image is loaded from the domain where the WordPress is installed.

Is there anyway we can load the WordPress content images similar to how ACF images are loaded and saved internally?

[2019-01-20 18:38] joelschou commented on #8835
FWIW, [yurnalist has been updated recently](https://github.com/0x80/yurnalist/blob/master/CHANGELOG.md) and has better support for newer emoji sets now 😄

[2019-01-20 18:42] matthewharwood commented on #10719
Hey @sidharthachatterjee finally got back to this and it's seemingly working on refresh of firestore but I cannot resolve the data for some reason.  I think I'm just resolving the promise incorrectly.  Could you help me out? [Repo feature/schema-router (branch)](https://github.com/morningharwood/portfolio/tree/feature/schema-router)

`plugins/gatsby-source-firestore-live/gatsby.node.js`
[code]
`ga

[2019-01-20 18:54] TylerBarnes commented on #11179
This isn't currently possible in gatsby-source-wordpress.
gatsby-remark-images needs to be "ported" to a new plugin to work for wordpress.
I've been working on a [gatsby-source-wordpress alternative](https://github.com/TylerBarnes/wordsby) and this is the part I'm working on now actually. Should be done soon!

[2019-01-20 18:57] jonniebigodes commented on #11175
@VilleKoivukangas this looks similar to this #10828 issue. i have a wordpress local wordpress installation running on wsl, and a post created to match what is now both behaviours. i'm going to do some testing and see if i can come up with a solution. Sounds good?

[2019-01-20 19:00] jonniebigodes commented on #11167
@TheKnightCoder no problem, glad i could be of assistance and help you figure it out. 👍

[2019-01-20 19:03] jonniebigodes commented on #11102
@ergunpp no problem at all, just trying to help out as much as i can. The reason i use a const with a arrow function is purely a coding style one. Both should achieve the same result, for this particular case i used it, so that it could be made available via a export if need be.

[2019-01-20 19:08] jonniebigodes commented on #10789
@Dogtiti no thanks are in order, you were due a explanation and i was at fault as i've committed to provide you with a answer/solution for your problem. And i should be the one to thank you for your concern and the worst part is over. good old chicken soup always does the trick 😁. Hoping to see if my comment solved your issue. Feel free to provide some feedback when you can.

[2019-01-20 19:43] omattman opened #11180 "Module build failed: Error: Final loader didn't return a Buffer or String"
Hello.

Receiving following compile error on ```gatsby-develop```:

[code]

And I have the following package.json:

[code]

Haven't been working on the project for approximately two weeks and got back to this. Any ideas?

[2019-01-20 21:51] helmerdavila opened #11181 "CSS overriding"
## Description

SCSS modules got loaded before global styles. Breaking my customized CSS modules

### Steps to reproduce

1. Using gatsby SCSS
2. Installed a CSS framework (Bulma)
3. Added bulma import into SCSS in `gatsby-browser.js`
4. Created a component `mycomponent.jsx` add connect it with a SCSS module `mycomponent.module.scss`. Added my own CSS, worked as expected on develop. i.e, overridin

[2019-01-20 22:58] bjj opened #11183 "gatsby-starter-blog blog-post.js fails hot reload due to graphql query failure"
## Description

There seems to be a well-known issue that saving markdown files sometimes causes an error on hot reload where this.props.data.markdownRemark is null.  I have seen this attributed to a "race".  I have no idea what the mechanism is.

### Steps to reproduce

Create a project based on gatsby-starter-blog.  Load one of the blog pages in a browser (in my case, firefox).  Make any change

[2019-01-20 23:52] LittleHamster commented on #9144
I have set acf usage to false as well but I am getting this error
[code]

[2019-01-20 23:54] LittleHamster commented on #11179
@TylerBarnes
I am not sure who manages `gatsby-source-wordpress`, any chance your fix can be implemented in the `gatsby-source-wordpress` as well?

[2019-01-20 23:57] TylerBarnes commented on #11179
@LittleHamster I believe `gatsby-source-wordpress` is maintained by the Gatsby guys. I'll consider turning it into a generic plugin. Right now it's tied to the specific setup of how my alternative source plugin works. It's definitely doable though with a bit of work.

[2019-01-21 00:07] Moocar opened #11184 "How we can remove sift.js"
## Summary

Exploration on how we can use loki.js for 100% of queries. Resulted from issue #11008

## Problem and background

Currently, we have two methods of filtering down the nodes in a graphql query. [redux/run-sift](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/redux/run-sift.js) (sift) and [loki/nodes-query.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gat

[2019-01-21 00:24] jesstucker opened #11185 "Updating WP REST API fields/values does not update GraphQL nodes"
## Description
New to Gatsby.

When I update my WP REST API (using ACF), `gatsby develop` runs GraphQL, which does not recognize the REST API updates... for several hours.

Sounded like a backend caching issue so I cleared all of those.  No difference.

When I check the REST API endpoint in the browser, everything is instantly up to date. But GraphQL doesn't know about it.

So I cleared the .cache

[2019-01-21 00:52] deltaskelta commented on #8237
Well yours seems to work as is. Are there any problems you know of? I'm trying to figure out why yours works and mine doesn't, so if I can figure it out I'll at least post it here

[2019-01-21 02:50] Dogtiti commented on #10789
@jonniebigodes
Thanks again！All things work well! I'll close it!

[2019-01-21 02:50] #10789 closed

[2019-01-21 03:04] bluepeter commented on #8237
@deltaskelta cool! I was experiencing problems prior to finding this issue (and following some of the steps within)... I still need to do a once over the code, but I am not able to reproduce the issues I was experiencing w/ the fixes outlined above and included in the repo.

[2019-01-21 03:54] abohannon commented on #11033
I'm also running into this issue. Trying to map two markdown files together, but it's a toss up whether Gatsby will 'see' both. Most often Gatsby only loads one of the nodes and I get null/undefined errors. And unless I'm misunderstanding the docs, `sourceNodes()` when defined in gatsby-node.js should only fire once all nodes are created, so there shouldn't be any race conditions, right? https://w

[2019-01-21 08:00] tbinte commented on #11108
I can confirm, using div's instead of p solved the problem.

[2019-01-21 08:04] haxzie commented on #11108
@tbinte thanks for letting us know. I'll be closing this issue for now, if you need any further information regarding this please follow up on the issue I mentioned in the previous comment.

[2019-01-21 08:04] #11108 closed

[2019-01-21 08:10] haxzie commented on #10447
@vojoup Are you still working on this? If not, I already have the content for this stub article ready for a PR.

[2019-01-21 08:21] marktrobinson commented on #10145
Cheers mate! @d-ivashchuk worked an absolute treat

[2019-01-21 08:26] carendivinagracia22 opened #11188 "How to construct createSchema for .js file in gatsby-source-graphql"

[2019-01-21 08:27] #11188 closed, assigned to nobody

[2019-01-21 08:37] carendivinagracia22 opened #11189 "How to construct createSchema for .js file (gatsby-source-graphql)"
## Summary

 I have with me my gatsby-config.js for gatsby-source-graphql:

![image](https://user-images.githubusercontent.com/28243205/51461332-c2168100-1d98-11e9-95e5-ced250ff5336.png)

And a `resolver.js` which contains a schema:

![image](https://user-images.githubusercontent.com/28243205/51461387-e4a89a00-1d98-11e9-9a89-59e5ed7c93e9.png)

And I just don't know on how to import this `resolver.

[2019-01-21 08:38] vojtechruz commented on #4459
Not stale

[2019-01-21 08:59] resir014 commented on #4459
Not stale. This issue is still happening.

[2019-01-21 10:48] jabranr commented on #3882
I have come across an issue where I did not want the wrapper, injected styles around images and not various width images through different templates/pages. Should I create an issue to make styling for images optional? I possibly be able to push a PR for this too.

[2019-01-21 11:08] vojoup commented on #10447
@haxzie No, all the changes are there 🙂

[2019-01-21 11:19] sidharthachatterjee commented on #11137
Interestingly, I'm not able to reproduce this

https://github.com/sidharthachatterjee/netlify-cms-test seems to build fine

I do remember fixing this for Storybook though so could you please try the repository I've linked to and reproduce this issue there?

[2019-01-21 11:31] u12206050 commented on #4461
Hi,

I have applied this fix and though I can see it works via the REST api, it still shows that it is conflicting in Gatsby. I have removed .cache and rebuilt but still doesn't work.

Anything else I am missing?

[2019-01-21 11:41] arturhenryy commented on #10970
@cardiv yeah so basically this is a bug of the polylang plugin and has nothing really to do with the way the source plugin handles the response. i will close this ticket then. thanks for the response

[2019-01-21 11:41] #10970 closed

[2019-01-21 11:51] arturhenryy commented on #10347
@pieh @sidharthachatterjee hey guys we are about to setting up another site but it will also be pretty image heavy. and i really want to use gatsby so i wanted to ask if this error will be fixed at all or do i have to look for another backend then wordpress here instead?

[2019-01-21 11:54] danedavid commented on #11127
I'll take this up 👍
Is any sort of design required? We'll just render the markdown content in mobile too, like we do for desktop, right?

[2019-01-21 11:56] sidharthachatterjee commented on #11143
Thank you for opening this @oorestisime and thank you for the help in debugging this @gurpreet-hanjra

We'll need to check but my best guess is that we will need to prefix this with `GATSBY_`

[2019-01-21 12:02] sidharthachatterjee commented on #10347
Hey @arturhenryy

Could you share the reproduction repo with me as well please? I'm at https://twitter.com/chatsidhartha

On a side note, based on what @pieh said above, since this is a rate limiting issue, a simple fix could be to whitelist the IP or domain that the build is occurring in

[2019-01-21 12:04] sidharthachatterjee commented on #10465
@arturhenryy I agree, we should log this. I'll write a quick patch for this once we resolve https://github.com/gatsbyjs/gatsby/issues/10347

[2019-01-21 12:13] 0x6e6562 commented on #11033
To get a deterministic order, can you partition your `gatsby-source-filesystem` configuration to ensure pre-requisite nodes exist before dependent nodes?

I have a scenario in `onCreateNode` where I need all image files to have been previously processed into nodes so that they can be referenced.

To ensure ordering, I partitioned the configuration of the source plugin like this:

[code]

This will

[2019-01-21 12:14] sidharthachatterjee commented on #11151
Thank you for opening this @pauleveritt

Can you please link to a simplified reproduction of this if possible?

[2019-01-21 12:18] 0x6e6562 commented on #11033
As an aside, I've been trying to achieve a two-pass process so that I can use intermediate node query results to enrich other nodes - see #11092

[2019-01-21 12:36] JacobBlomgren commented on #11159
Yes, I thought so too! But will that be a breaking change then? Even though it's not documented, that's how it has worked for the existence of this plugin.

[2019-01-21 12:36] sidharthachatterjee commented on #11165
Thank you for reporting this @gaearon

Posting reproduction steps here for future reference
- Clone https://github.com/sidharthachatterjee/gatsby-babel-test
- gatsby develop
- Uncomment line 33 in src/components/image.js
- Develop logs Babel error and error component is rendered in browser
- Hit refresh

Error component is not rendered and previous build is served instead

[2019-01-21 12:38] sidharthachatterjee commented on #11159
It will! I think we ought to just update docs for now and maybe clean this up in a future breaking release

@JacobBlomgren What do you think?

[2019-01-21 12:41] JacobBlomgren commented on #11159
@sidharthachatterjee Since it actually makes the most sense in `pluginConfig`, maybe the code can be updated, while still allowing it to be defined in root for now (with a printed deprecation warning)?

[2019-01-21 12:44] sidharthachatterjee commented on #11159
@JacobBlomgren That's a better idea!

Would you like to take a stab at this? 🙂

[2019-01-21 12:45] JacobBlomgren commented on #11159
@sidharthachatterjee Gladly 😊

[2019-01-21 12:49] sidharthachatterjee commented on #11168
Hey @Warped2713

This should be easy to add to https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-page-creator/src/gatsby-node.js

We could add a key in options called `ignore` and pass that to glob options

https://github.com/gatsbyjs/gatsby/blob/d71b3107ba05c92b6cbb70f05092d197c372e5d1/packages/gatsby-plugin-page-creator/src/gatsby-node.js#L55

Would you like to try this? We'd

[2019-01-21 12:50] omrllm commented on #11160
I think this is more of an issue with Gatsby:

I have followed your guide on getting an html.js file.
When I add the script given me by Adsense, it doesn't compile.

I add the <script></script> before the </head> tag inside the html.js and I get

[code]

Here is my [repo](https://github.com/anabcrypto/abcrypto).

[2019-01-21 12:54] sidharthachatterjee commented on #11172
Hey @shooontan

This is unfortunately a known issue as documented in https://github.com/gatsbyjs/gatsby/issues/10844

We're working on a fix for this and I'd urge you to follow along in the issue above

Closing this for now since this is a duplicate

[2019-01-21 12:54] #11172 closed

[2019-01-21 12:56] sidharthachatterjee commented on #11173
cc @pieh

[2019-01-21 12:57] arturhenryy commented on #10347
@sidharthachatterjee thanks for the reply i sent you the repo
via twitter.

ok could you explain this in a bit  more detail please?
where would i need to whitelist the ip?

[2019-01-21 13:07] sidharthachatterjee commented on #10347
@arturhenryy Depends on where the WordPress instance is hosted, I suppose

Typically this is in the nginx or Apache config that sits in front of the WordPress installation

[2019-01-21 13:12] sidharthachatterjee commented on #11179
@LittleHamster You mean links to images that are in the post content, correct?

Yeah, we would need to parse the html and _normalise_  links to images for this to work

[2019-01-21 13:13] stephanschubert commented on #11160
@omrllm It's not Gatsby—you're mixing JSX with regular HTML. Escape the `<script>` tag's content with `{' ... '}`.

[2019-01-21 13:23] sidharthachatterjee commented on #11189
Hey @carendivinagracia22

You don't necessarily _need_ to construct schema and pass into createSchema

If the GraphQL endpoint you'd like to consume is already live on a url, you could just set its url (like you have in the screenshot) and the schema will be introspected from the url

In case the above is your use case and why you'd like to pass in a constructed schema to the plugin, you need to r

[2019-01-21 13:31] sidharthachatterjee commented on #11183
@bjj Can you please link to a simplified reproduction of this?

[2019-01-21 13:34] sidharthachatterjee commented on #11181
@helmerdavila Consider using https://www.gatsbyjs.org/packages/gatsby-plugin-sass/ and importing the scss file in one of your top level components?

Adding it in `gatsby-browser.js` will always result it in being added in last because it is only added in the client side and not during the build

[2019-01-21 13:36] sidharthachatterjee commented on #11180
@omattman Could you please link to a minimal reproduction? Looking at the error, it appears something is tripping the `sass-loader` in `src/layouts/style.scss`

[2019-01-21 13:38] sidharthachatterjee commented on #11121
Closing this in the mean time, @khus29 but please feel free to reopen or comment on this if we missed answering your question! Thanks!

[2019-01-21 13:38] #11121 closed

[2019-01-21 13:43] sidharthachatterjee commented on #11120
@Saifadin Would you like to add support for Playground in core? @freiksenet mentioned that Playground is better maintained than GraphiQL and we would love to accept a PR!

[2019-01-21 13:48] Saifadin commented on #11120
@sidharthachatterjee sure I can get to that 👌🏽
Will make a PR soon-ish^^

[2019-01-21 13:56] omrllm commented on #11160
Edit: Escaping the `<script>` tag with `{``}` outputs the inserted script at the top of the website as is:

![ok](https://user-images.githubusercontent.com/45340167/51478785-b7ee8580-1d8c-11e9-8487-4f2aeaae8e08.png)

[2019-01-21 14:23] sidharthachatterjee commented on #10266
This was fixed in https://github.com/gatsbyjs/gatsby/pull/10224

[2019-01-21 14:23] #10266 closed

[2019-01-21 14:23] sidharthachatterjee commented on #10378
This was fixed in https://github.com/gatsbyjs/gatsby/pull/10224

[2019-01-21 14:23] #10378 closed

[2019-01-21 14:31] Saifadin commented on #11120
@sidharthachatterjee follow-up question, should I stick with `express-graphql` and add a new route for the Playground or replace it with `apollo-server-express`?

[2019-01-21 14:34] sidharthachatterjee commented on #11120
I think we should stick with `express-GraphQL` and add a new route for the moment

[2019-01-21 14:47] omrllm commented on #11160
I tried to escape every `<script></script>` too with `{``}` but again with the same result.

[2019-01-21 14:52] Huvik commented on #11120
@Saifadin  I would suggest you to use [graphql-playground-middleware-express](https://github.com/prisma/graphql-playground/tree/master/packages/graphql-playground-middleware-express), because this one receives most recent updates.  And its kind of easy to implement it.

[2019-01-21 14:54] Saifadin commented on #11120
Yes, exactly. That's what I am using in [gatsby-plugin-playground](https://github.com/Saifadin/gatsby-plugin-playground) and I already added
Spoiler: It works, just need to fix some little stuff

[2019-01-21 14:59] Saifadin commented on #11120
Yes I agree!! Will try to add that 😁

[2019-01-21 15:00] Huvik commented on #11120
If you need help hit me up!

[2019-01-21 15:33] superfunkminister opened #11192 "gatsby-image doesn't pass down the role prop"
## Description

`gatsby-image` doesn't pass down the role prop, which is often useful and indeed _required_ if you don't use an alt tag, i.e. `<img role="presentation" />`.

### Steps to reproduce

[code]

### Expected result

The role prop is passed down to the `img` tag, i.e.

[code]

Currently the alt tag will be empty if it's not been defined as a prop, this might not be necessary if the role

[2019-01-21 15:43] bjj commented on #11183
You can reproduce it with gatsby-starter-blog

[2019-01-21 15:48] sidharthachatterjee commented on #11192
Thank you for opening this @superfunkminister

We'd love to accept a PR fixing this! Would you be interested?

[2019-01-21 16:22] #11139 closed

[2019-01-21 16:30] stephanschubert commented on #11160
I meant:

[code]

[2019-01-21 17:16] #6620 closed

[2019-01-21 17:16] #6705 closed

[2019-01-21 17:16] #7426 closed

[2019-01-21 17:16] #7486 closed

[2019-01-21 17:16] #7487 closed

[2019-01-21 17:16] #7559 closed

[2019-01-21 17:16] #7560 closed

[2019-01-21 17:16] #7561 closed

[2019-01-21 17:16] #7427 closed

[2019-01-21 17:18] lannonbr commented on #6904
I believe this is still a good idea to eventually implement so I'm going to reopen this.

[2019-01-21 18:02] pauleveritt commented on #11151
I made the [smallest possible example](https://github.com/pauleveritt/sourceNodes-bug-11151) with a README that says what I did, how to reproduce the two problems, and further diagnosis.

I didn't yet illustrate the full `sourceNodes` issue which I'm facing because:

- It isn't clear to me if `mapping` is favored now over the documented way to do forwards/reverse relationships by maintaining a cus

[2019-01-21 18:04] superfunkminister commented on #11192
If I get time sure!

[2019-01-21 18:47] jaredsilver commented on #8833
Thanks, @gatsbot. This will hopefully be addressed in #10933, but leaving it open until then 🤞

[2019-01-21 18:51] jaredsilver commented on #8833
Also, for anyone who comes across this and is wondering how we solved it in the meantime: we used `onCreateWebpackConfig` in `gatsby-node.js` to manually prepend a string to all filenames and chunkfilenames, thus allowing us to reverse proxy on a regular expression including that string. However, this is awful, and I'm hoping #10933 will eliminate the need for us to continue doing it this way 😄

[2019-01-21 19:09] jaredsilver opened #11194 "Loading chunk failed"
## Description

In production, we're seeing a small but significant number of errors that `Loading chunk 5 failed`.

### Steps to reproduce

I have yet to figure out how to reproduce this. The application can be found [here](https://marketing-app.new.datacamp.com), chunk 5 can be found [here](https://marketing-app.new.datacamp.com/marketingasset-5-41bb936337cbeeeb432d.js), and the error on Sentry

[2019-01-21 19:33] Warped2713 commented on #11168
Okay, I will attempt a PR.

But looking into it, I don't think it's enough to just pass `options: { ignorePatterns }` into glob.

The files array is being updated by chokidar *after* glob has initialized the array, meaning there would be files added without checking against `ignorePatterns`

https://github.com/gatsbyjs/gatsby/blob/d71b3107ba05c92b6cbb70f05092d197c372e5d1/packages/gatsby-plugin-pag

[2019-01-21 19:42] jonniebigodes commented on #11161
@Chmarusso i've picked up on your issue and i can confirm what you are experiencing.
I'm breaking my comments in parts for a better understanding:

1. I've created a new content type in my local strapi installation, it's similar to yours not totally, but it will get the job done in illustrating it, as you can see bellow:

![strapi_1](https://user-images.githubusercontent.com/22988955/51488960-d78e

[2019-01-21 19:55] jonniebigodes commented on #11183
@bjj i've been doing some work with a repository in which the code uses version 1.7.39 of the plugin, the reason behind the use of that particular version being used in that repository is beyond the scope of this issue. What i've noticed is that doing small changes and those far apart in terms of time interval, won't trigger the error. But "hammering" the .md file constantly will lead to it. What

[2019-01-21 20:32] etiotan opened #11196 "Initial Routing on Production doesn't work, but works on development"
## Description
Been stumped on this bug for awhile now. Recently we started using v2 for our project. We love every bit of it except when we have to take it to production. Visiting https://inkblotpractice.com/faq or any other page will always cause a re-render bringing you back to the root URL of https://inkblotpractice.com/. Also it normally breaks the styling of the first div on the first page,

[2019-01-21 20:35] stefanprobst opened #11197 "Should Boolean input filter fields have $in and $nin operators?"
Currently, boolean input filter fields [allow querying with `$in` and `$nin`](https://github.com/gatsbyjs/gatsby/blob/d71b3107ba05c92b6cbb70f05092d197c372e5d1/packages/gatsby/src/schema/infer-graphql-input-fields.js#L38). Should we remove those, since it doesn't make much sense to search `in: [true, false]`?

[2019-01-21 20:44] coreyward commented on #11196
Can you provide some more information about how these pages are being generated? Are you exporting individual page components from `src/pages`, or are you calling `createPage` in `gatsby-node.js`? Any other info related to this would be helpful.

[2019-01-21 20:49] etiotan commented on #11196
I have individual components from src/pages.  I had my pages named as index.js, about.js, faq.js. Then I tried to create a `*.js` file and check the route to decide which page to render. Both methods gave me the same issue. Thanks.

gatsby-node.js
[code]

[2019-01-21 20:59] bjj commented on #11183
It may be that the race is easier to hit when things like gatsby-transformer-sharp and gatsby-remark-copy-linked-files are kicking in and making the update take longer.

[2019-01-21 21:15] szokrika commented on #10090
[code]
How can I get more then the `__typename` from this query?

My content model has a page that has a reference module `modules` that included a title and a list of other modules. Seems that content cannot be reached with the plugin. Do you know why? and how to fix it?

[2019-01-21 21:21] KyleAMathews commented on #11197
Query all that are true?

[2019-01-21 21:22] KyleAMathews commented on #11196
Can you reproduce this with a fresh site from the default starter?

[2019-01-21 21:36] stefanprobst commented on #11197
Do you mean `eq: true`?

[2019-01-21 21:39] KyleAMathews commented on #11197
eq: true is just for single values. in is for arrays.

[2019-01-21 21:52] scttcper commented on #5667
struggling with this using emotion https://gatsby-casper.netlify.com/

The transition on the cards really exacerbates the issue.

repo: https://github.com/scttcper/gatsby-casper

[2019-01-21 22:07] stefanprobst commented on #11197
Hmm, this is what I get:
[code]

[2019-01-21 22:59] dlindahl opened #11198 "Build fails after with "Unexpected token" in `async-requires` after upgrade to 2.0.84"
## Description

Running `rm -rf .cache && rm -rf public && gatsby-build` works fine under 2.0.83. After upgrading to 2.0.84, an error is thrown, aborting the build.

### Steps to reproduce

The only I am taking is running `gatsby build`. After downgrading back to 2.0.83, the issue disappears.

### Expected result

The build should complete successfully

### Actual result

The build quits with the

[2019-01-21 23:00] LittleHamster commented on #11179
@sidharthachatterjee
yes, so lets say I have a content that contains an image which was uploaded through the Editor

[code]

when we use `gatsby-source-wordpress` and parse the post.content the image doesnt change and will link to `WORDPRESS-INSTALL/uploads/sample.jpg` but if it is set as featured image, the image is downloaded locally and placed in the public folder.

[2019-01-22 00:15] mrispoli24 opened #11199 "Certain images in root `/static` folder appear as broken links when deployed to git pages"
## Description

Certain images are showing up as broken in my gatsby production build hosted on github pages. These images are in a `/static` folder since I need to be able to reference the route name directly. They show up in the proper folders inside my gh-pages branch and there are many other sections that work perfectly fine, just three sections gatsby will not display. They do work when runni

[2019-01-22 00:17] mrispoli24 commented on #11199
Update, I deleted the /public folder and renamed the images then ran deploy twice again and now they appear. Not sure if there is some kind of build cache that was preventing the build to run properly through git.

As a side note the domain still has to be re-entered on every build.

[2019-01-22 00:43] chrisanderss0n opened #11200 "Improving code examples"
## Summary

## Relevant information

Several times when following the Gatsby documentation I have been tripped up when following the code examples. The same pattern has tripped me up several times where the line highlighting of the code example has not been enough for me to understand the difference between the previous code, and the new code.

I would like to help improve the line highlighting by

[2019-01-22 01:07] ooloth commented on #11198
I'm experiencing a similar error after upgrading to `2.0.91`.

In my case, `gatsby develop` works fine, but `gatsby build` errors out on either the `template.js` page (if I include it) or `404.js` (if I remove the `createPages` snippet from `gatsby-node`:

[code]

or

[code]

Everything worked fine before upgrading `gatsby`. 🤷‍♂️

[2019-01-22 03:40] #11199 closed

[2019-01-22 03:42] marquez138 commented on #3446
Were you able to find a fix for this? Im also experiencing the same

[2019-01-22 04:35] vinayan3 commented on #7454
@ar-stackrox I am digging through this again because the scrolling thing has been pretty irritating. I found out that `window.scrollTo` doesn't work when you have these following CSS statements
[code]
My code base had that and I've changed it to

[code]

I found this solution on . https://stackoverflow.com/questions/1174863/javascript-scrollto-method-does-nothing

For now this seems to be a workar

[2019-01-22 05:04] andrewbranch commented on #8102
1. @redstubble I can solve your problem without disabling HMR:

[code]

(source: https://github.com/webpack/webpack/issues/6642#issuecomment-371087342)

2. It would still be nice to be able to disable HMR, so I would request to keep this issue open as a feature request.

Cheers!

[2019-01-22 05:19] miloofcroton commented on #6559
No, it's not that.

![screenshot from 2019-01-21 21-19-07](https://user-images.githubusercontent.com/11794494/51513920-387ba900-1dc2-11e9-8c6e-d11929001ad3.png)

[2019-01-22 06:05] tujoworker commented on #5667
@scttcper That really don't looks like a Gatsby nor a Emotion issue. You think about the wiggling of the text during the transition of the cards on hover? Looks to me as a common thing in CSS. You can try `scale3d` as this uses hardware acceleration, but I bet this will not help either.

[2019-01-22 08:50] edgarnansen commented on #11097
I don't think there's an actual need to **delete** the folder. I haven't compared delete vs empty, but I'd also guess emptying would be slower, the question is how much slower. Will emptying lead to a significant increase in build time? Is trying to empty when deletion fails an acceptable solution?

Should a build even continue when the cache might be stale?

That would work. An env var for emptyi

[2019-01-22 08:56] #8477 closed

[2019-01-22 09:50] polarathene commented on #11097
I'm not knowledgeable enough to answer that. I know some users have very big projects producing thousands of pages or many assets.

AFAIK deleting a directory and it's contents is a lighter/faster operation as it does something like flag the directory as deleted along with it's contents being available to overwrite? Whereas the empty approach has to do that for every file/directory individually?(I

[2019-01-22 09:54] polarathene commented on #11097
Oh, just checked the source you linked to. The cache may get stale but it's still usable during builds(at a glance, though I think I've always noticed cache to be cleared on build vs develop):

[code]

Along with the output to console:

[2019-01-22 10:31] JLGouwy commented on #11118
Hi @sidharthachatterjee ,

I use globally style. I follow the docs, I just put in gatsby-browser, :
[code]
and use gatsby-plugin-sass plugin.

But my localhost doesn't respond anymore, the localhost:8000 loops indefinitely !
I comment de @font-face import in my scss, and then, all works.

So, I suppose i miss something.

This is my font-face import
[code]

Do I have using the gatsby-plugin-web-fon

[2019-01-22 10:49] gurpreet-hanjra commented on #11143
Thank you @sidharthachatterjee I will submit a PR with adding prefix to the public key. I hope it's fine.

[2019-01-22 12:43] fauslg commented on #11118
Thanks so much for your help!

[2019-01-22 13:03] sidharthachatterjee commented on #11161
This should help us reproduce this @Chmarusso

[2019-01-22 13:11] sidharthachatterjee commented on #11118
@JLGouwy

Sorry about the confusion! The difference here is that since you're importing the scss file in `gatsby-browser`, the styles are loaded on the client side only and when they try to get the font files from a url like `'../../fonts/` it breaks because that url doesn't exist!

Good rule of thumb here is that if you want something to be accessible from the browser (if it isn't already process

[2019-01-22 13:11] #11118 closed

[2019-01-22 13:14] sidharthachatterjee commented on #11192
https://github.com/gatsbyjs/gatsby/issues/8256#issuecomment-422399731

Appears that screen readers automatically assume that images with an empty alt tag are background images, closing this

Thanks @stefanprobst!

[2019-01-22 13:14] #11192 closed

[2019-01-22 13:23] sidharthachatterjee commented on #11189
That's alright @carendivinagracia22

From what I understand, you can import the schema. The resolvers don't need to be imported since they are presumably running on an instance somewhere (which is the url that you set)

[2019-01-22 13:36] sidharthachatterjee commented on #11194
This looks tricky to reproduce. Maybe chunk 5 is sometimes inaccessible from S3? Not sure.

Don't think this is relevant to Gatsby though, keeping this open nonetheless till we learn more about this!

[2019-01-22 13:40] homemdasneves opened #11205 "Fragments with arguments in external component - possible?"
## Summary
I'd like to define a fragment in a component to reuse in several page queries. Ideally, this fragment would receive a parameter. This actually works, if the fragment with arguments is defined in the same code block as the page query. Unfortunately if I move the fragment to another graphql block, out of the page component, it won't work. In that case I get this error: "Variable "$lang" i

[2019-01-22 13:40] jaredsilver commented on #11194
Yeah, almost definitely not Gatsby-specific. When I look around on Google, I notice some other similar errors for other frameworks like Next.js. I’ll look into this a bit more and see if I can find anything useful. In the meantime, if anyone else sees a similar error, it would be great to pool our efforts!

[2019-01-22 13:42] ajayns opened #11206 "Why use /static when /src/images already available in gatsby-starter-default?"
## Summary

I noticed that a couple of starters and projects use a separate /static folder rather than /src/images for their image assets. Some even had both of them together.

I'm confused which one do I go for and what is the difference in the build process between the two. It seems that /src/images is handled by gatsby-source-filesystem and gatsby-sharp plugins while /static images are directly

[2019-01-22 13:43] sidharthachatterjee commented on #11194
Absolutely agree! Thanks @jaredsilver

[2019-01-22 14:08] sidharthachatterjee commented on #11198
@dlindahl @ooloth

Can you please link to minimal reproductions of this?

[2019-01-22 14:10] sidharthachatterjee commented on #10038
@khus29 Closing this for now since it seems stale but in case you're still seeing this please feel free to reopen and comment with a reproduction. Thanks!

[2019-01-22 14:10] #10038 closed

[2019-01-22 14:23] sidharthachatterjee commented on #11205
cc @freiksenet

[2019-01-22 14:46] aidandunlop opened #11208 "Gatsby production build fails on Netlify with "Unknown kernel" error"
## Description

Gatsby build fails when deploying to Netlify. I get an `Unknown kernel` error:

![image](https://user-images.githubusercontent.com/30293030/51542460-37df2300-1e53-11e9-9951-d8a1a21a2cfa.png)

Works fine locally when using `gatsby develop` or `gatsby build && gatsby serve`

I'm using the Gatsby default starter.
I've tried update gatsby and netlify, but still seeing the same issue.

[2019-01-22 15:00] sidharthachatterjee commented on #11208
@aidandunlop Could you please link to a reproduction repo?

[2019-01-22 15:06] ajayns commented on #11206
Thank you so much for your quick response! Much appreciated.

I was aware about the processing part but didn't know that the `static` directory is directly copied into `public`, is this there in the docs somewhere cause I feel it definitely should be mentioned.

I am using gatsby-sharp-plugin and yes it works great for png and jpegs but does it help for SVGs? Out of the box does Gatsby do any opti

[2019-01-22 15:10] aidandunlop commented on #11208
@sidharthachatterjee yeah sure: https://github.com/aidandunlop/aidan_dunlop

[2019-01-22 15:12] sidharthachatterjee commented on #11206
Here are the docs for the static folder
https://www.gatsbyjs.org/docs/adding-images-fonts-files/#using-the-static-folder

gatsby-plugin-sharp doesn't do anything with SVGs

You could put them in the static folder or `import` them in your JavaScript like
[code]

[2019-01-22 15:13] helmerdavila commented on #11181
I tried adding my scss in layout file and it doesn't work. Bulma still overriding my modules SCSS

[2019-01-22 15:15] Chmarusso commented on #11161
Gatsby repo: https://github.com/Chmarusso/gatsby-graphql
Strapi repo: https://github.com/Chmarusso/strapi-csms

[2019-01-22 15:15] sidharthachatterjee commented on #11181
@helmerdavila Where are you importing Bulma?

[2019-01-22 15:21] homemdasneves commented on #8046
I guess I found a sort of hacky way to do this: #11205

[2019-01-22 15:33] sidharthachatterjee commented on #11208
Updating gatsby-plugin-manifest seems to have fixed this

https://github.com/aidandunlop/aidan_dunlop/pull/10

Successful deploy at https://app.netlify.com/sites/fervent-leavitt-e8226a/deploys/5c4737577a17730007a02ffe

[2019-01-22 16:07] sidharthachatterjee commented on #11161
Hey @Chmarusso

Tried setting this up but realised that I'll need Postgres running and probably some data that reproduces this

Could you please update https://github.com/Chmarusso/gatsby-graphql to call a running instance of your strapi cms running somewhere with the issue _reproducible_?

[2019-01-22 16:41] thundernixon commented on #10523
Fantastic, that was just what I needed at https://www.gatsbyjs.org/docs/static-query/#how-to-use-staticquery-in-components!

[2019-01-22 16:57] davidbailey00 commented on #10036
@koreyboone Thanks for pointing this out! @pieh and I talked about this briefly last week and we're considering changing this option as well as `clientsClaim` due to the reasons you've mentioned - of course we'll have to look into potential impact of changing this.

[2019-01-22 17:11] Dara-To opened #11211 "[gatsby-source-contentful] TypeError: Expected parameter accessToken"
## Summary

I created a new Gatsby 2 project. Then created a new space in Contentful, added content model and content with just 2 short text fields. I went back to my project, added the `gatsby-source-contentful` plugin in my `gatsby-config.js`. I tried to run the GraphQL in my web local host server and the query couldn't get the data I entered in Contentful.

The error is `TypeError: Expected par

[2019-01-22 17:23] patricksimonian commented on #11109
yeah that's my solution to my build errors.

[2019-01-22 17:39] sidharthachatterjee commented on #11211
@Dara-To `option` needs to be `options` in `gatsby-config.js`

[2019-01-22 18:05] JustinTRoss commented on #4021
For folks copying from here, `import('object-fit-images')()` results in an error for invocation of a non-function. Without the async/await from the initial snippet, we're invoking a promise.

The following works as an alternative (The code is already on #9451).

`import('object-fit-images').then(ObjectFitImages => ObjectFitImages())`

[2019-01-22 18:09] ajayns commented on #11206
Makes sense, thank you for sharing the doc and for clearing the doubts.

Closing the issue.

[2019-01-22 18:09] #11206 closed

[2019-01-22 18:39] chrisanderss0n commented on #11200
I would be happy to design and make the changes to the docs as well.

[2019-01-22 18:39] aidandunlop commented on #11208
Ah perfect, thank you! 👏👏👏

[2019-01-22 18:42] sidharthachatterjee commented on #11208
You're welcome, @aidandunlop

Closing this for now but feel free to reopen if you see this again

[2019-01-22 18:42] #11208 closed

[2019-01-22 19:22] ergunpp opened #11215 "Gatsby cant resolve static image paths"
Hi to all. Its me again.
I have  a splash component using react-parallax component. It seems simple enough but I can not get the image file under static/images. I have a problem with relative paths and have a hard time using them:
The code is as follows:

[code]

My gatsby-config.js is

[code]

file structure:

static
--images
----main-photo.jpg
----gatsby-astronaut.png

[2019-01-22 19:46] sidharthachatterjee commented on #11215
Hello @ergunpp

What’s happening here is that the require to the image is resolving into /images in the current folder if I understand correctly.

A path to an image in static/images will simply be /images/gatsby-astronaut. So you don’t need the require there.

[2019-01-22 20:09] omrllm opened #11216 "Valuable Inventory: No content - Adsense"
I have written this issue here and not on Stackoverflow, because if this is really happening because there isn't a specific tag or something like that, this is gonna be related to Gatsby in a way.

## I'm getting refused by Google Adsense
with this given reason: Valuable Inventory: No content.

From what I've read online this could happen if you don't have the text tag inside the compiled html, so

[2019-01-22 20:37] sidharthachatterjee commented on #11211
@Dara-To Happens to the best of us! You’re welcome and happy building with Gatsby 🙂

[2019-01-22 20:39] jonniebigodes commented on #11161
@Chmarusso i believe the answer to your question is in the second approach i've mentioned. when the plugin instrospects and transforms the data it pulls, it expects a certain type to be provided to the query as an argument. in this case a object called `STRAPI_JSON`. If you expand the documentation on the graphql endpoint, you'll see that almost every single item in there as a argument with a cert

[2019-01-22 23:59] lannonbr opened #11219 "SVGs not rendering on iOS with "gatsby develop""
## Description

When running gatsby in development mode and exposing it to the local network with `-H 0.0.0.0` and opening a site that has SVGs, the image doesn't appear and if it has alt-text, the alt text appears.

That said, when built and served, the SVG does render on iOS.

### Steps to reproduce

Here's a reproducible build repo: https://github.com/lannonbr/gatsby-svg-bug

As said in the rea

[2019-01-23 01:00] jonlow commented on #10316
Can I get someone to please review my PR? https://github.com/gatsbyjs/gatsby/pull/11032

This is for SASS files, but I'll add another PR for regulare CSS modules once the SASS PR gets through

[2019-01-23 01:02] jgierer12 commented on #1384
@rchrdnsh first of all, it should be

[code]

Alternatively, you can use [`gatsby-image`](https://www.gatsbyjs.org/packages/gatsby-image/) like so:

[code]

However, I don't think your error is related to that. It complains about `arguments` and/or `caller` properties being used in your constructor. These are [deprecated](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Dep

[2019-01-23 01:08] filipetedim commented on #2293
I've been through it a couple of times @KyleAMathews , but no where in that tutorial it mentions arguments passing in to queries. Am I missing something?

I'm currently trying to get this going:
[code]

[2019-01-23 01:32] liorbrauer commented on #9826
+1 On this issue, had the same thing happen, but only for links on pages that were under a subdirectory of `/pages`. (So basically all links to `/pages/careers/..` caused the reloading of fonts and flickering)

[2019-01-23 01:44] vai0 commented on #11137
@sidharthachatterjee I was able to reproduce it by adding the following into your test repo's `gatsby-plugin-netlify-cms`'s `gatsby-node.js` webpack config variable:

[code]

Error:
[code]

Your test repo works perfectly without the resolve key in the webpack config - so this is more or less related to the other thread: https://github.com/gatsbyjs/gatsby/issues/11119.

I'm not exactly sure why it

[2019-01-23 01:44] jonniebigodes commented on #2293
@filipetedim in a nutshell, no you can't do it.  There's some discussion in here on that matter, but as of now, `StaticQuery` does not allow what your trying to do for instance. More on the subject can be found [here](https://www.gatsbyjs.org/docs/static-query/) and [here](https://www.gatsbycentral.com/staticquery-in-gatsby-v2)

[2019-01-23 03:01] chadly commented on #11027
I ended up creating a plugin for my use case. [`gatsby-plugin-env-variables`](https://github.com/chadly/gatsby-plugin-env-variables) allows you to whitelist system environment variables to be made available at runtime without the `GATSBY_` prefix.

[2019-01-23 03:01] #11027 closed

[2019-01-23 06:09] protoEvangelion commented on #5667
Using styled components and following the docs fixed the issue for me: https://www.gatsbyjs.org/docs/debugging-replace-renderer-api/#fixing-the-replacerenderer-error

[2019-01-23 07:32] khus29 commented on #9314
`navigate()` has issues with storybook. It fails with error message - _You may need an appropriate loader to handle this file type._
Am  missing anything here?
Please suggest.
Thanks,

[2019-01-23 08:42] rchrdnsh commented on #1384
ok, so I wasn't fetching as deep down as I needed to do. I get that now, and it has worked for me, thank you @jgierer12 XD

[2019-01-23 08:48] #10915 closed

[2019-01-23 09:12] viktorbengtsson commented on #4459
+1 Not stale.

[2019-01-23 11:06] MitchellCash opened #11222 "[gatsby-plugin-typography] omitGoogleFont not working on development server since v2.2.3"
## Description

Since `v2.2.3` of `gatsby-plugin-typography` the `omitGoogleFont` option no longer works on the development server.

When running a build it does the right thing and the font is not fetched from Google Fonts, but on the development server fetching the font is still injected into the `<head>` even with `omitGoogleFont: true`.

There is only one change between `v2.2.2..v2.2.3` and it

[2019-01-23 11:39] wezzle commented on #10909
Does the Gatsby inkteam have an update on this? The fix is really simple.

[2019-01-23 11:41] ginovski opened #11223 "Time to interactive really slow (tracking disabled for google)"
## Summary
Hello there I'm running one of our pages in PageSpeed Insights and we get a really low score on mobile

## Relevant information

<img width="898" alt="screenshot 2019-01-23 at 13 36 45" src="https://user-images.githubusercontent.com/6017552/51603953-f3678c00-1f13-11e9-9949-2838f2fdf43a.png">

The page is https://enhancv.com/resume-examples/. Can you give me some suggestions on how I can

[2019-01-23 12:21] LekoArts commented on #11222
It was "working" before because the plugin was completely broken on `develop`. TIL that `onClientEntry` also accepts `pluginOptions` so I'll send in a PR to fix that. Thanks for the detailed report!

[2019-01-23 12:39] guidolodetti opened #11225 "Use ApolloClient with Gatsby V2"
## Summary
I am trying to integrate ApolloClient with Gatsby V2, but I am having some troubles since it already includes GraphQL and they use different versions.

## Relevant information
Looking on the internet, I have found a workaround in develop environment using Yarn with:
[code]
Unfortunately, it won't compile with `gatsby build` and outputs the following:
[code]

This is the way I wrap my `A

[2019-01-23 13:36] sidharthachatterjee commented on #11219
This is happening because the url for the SVG is set to `http://0.0.0.0/<path>` which won't resolve correctly on any other device on the network. This should happen on any device other than the machine serving `gatsby develop`

![screenshot 2019-01-23 19 04 21](https://user-images.githubusercontent.com/7701981/51610057-c3cf7880-1f41-11e9-8a68-ad26c526652a.png)

[2019-01-23 13:51] sidharthachatterjee commented on #11219
On build, it seems to set a relative url for this

We should probably set relative urls for `develop` as well

[2019-01-23 13:55] sidharthachatterjee commented on #11225
@guidolodetti Could you please link to a minimal reproduction repository for this?

[2019-01-23 14:12] fk commented on #5030
@iamskok Niiiiiice! 😍 🙏

I'm the wrong one to do a "technical review", but I'm sure @DSchau & Co. will take a look ASAP!
I'll jump ahead and assign you to the issue now!

[2019-01-23 14:14] dyllandry commented on #10592
I put together [a github repo that I think demonstrates this issue](https://github.com/dyllandry/rich-text-asset-example). I created a dummy contentful account, so both the space id and access token are in gatsby-config.js as plaintext.

When retrieving 'blogPosts' and accessing its 'body' rich text field, assets within have content field values of empty arrays. This [url](http://localhost:8000/__

[2019-01-23 14:26] fk commented on #9190
@sarahannnicholson Maybe the comments by @craftedsystems and @GuskiS could help?

[2019-01-23 14:40] d3lm commented on #10884
Yep, the issue with the fonts and styles make sense.

@wardpeet Great to see that there's already a potential fix for the scroll jump bug. I'll give it a shot and see if it fixes the issue. Thanks for your work!

[2019-01-23 14:52] guidolodetti commented on #11225
@sidharthachatterjee here is [the started project with my additional commit for ApolloClient](https://github.com/guidolodetti/gatsby-site). Using `withApollo()` breaks the `yarn build` task!

[2019-01-23 15:02] #10767 closed

[2019-01-23 15:09] jonniebigodes commented on #11161
@Chmarusso probably i didn't phrase it correctly or there's some miscommunication here. What i meant goes in line with the following images. Taken from the documents sidebar created in graphql.

![1](https://user-images.githubusercontent.com/22988955/51615776-98886180-1f20-11e9-9670-1e4025f1241f.png)

And here:
![2](https://user-images.githubusercontent.com/22988955/51615869-cb325a00-1f20-11e9-94d

[2019-01-23 15:14] lannonbr commented on #11219
Ah gotcha. Tested it with using the IP of my machine and that worked. And yeah I think having the relative URL would be nice in development mode.

[2019-01-23 15:34] m-allanson commented on #10767
Fix published in `gatsby-plugin-netlify-cms@3.0.10`, thanks @erquhart 👍

[2019-01-23 15:50] Chmarusso commented on #11161
I did a small experiment. Instead of using graphql from gatsby I refactored component to use `graphql-client`. Now my page component looks like this:
[code]

Page is working and I do not have any errors complaining about STRAPI_JSON type.

@jonniebigodes That is why I still do not understand why it is not working when using `import { graphql } from 'gatsby`. I thought that when I'm using `gatsby-s

[2019-01-23 15:58] sidharthachatterjee commented on #11143
@gurpreet-hanjra Just saw your comment now after pushing and opening a PR.

I'm so sorry! Didn't mean to ignore your comment. Would love to receive more PRs in the future! Thank you again 🙂

[2019-01-23 16:01] #11143 closed

[2019-01-23 16:04] frivolta opened #11231 "Filter single custom post type acf"
Hello,
I am a gatsby and graphql newbie, I am moving my website from WP to WP/gatsby.
Actually I have a custom post type called 'portfolio' made of acf custom fields.
I managed to query all the post types of 'portfolio' using this query:
`query {
    allWordpressAcfPortfolio {
      edges {
        node {
          id
          acf {
            slug
            project_title
            featured_

[2019-01-23 16:12] SamSaprykin opened #11232 "refresh remove styles, Safari"
I have some problem with css styles(used styled components) in my Gatsby project(Netlify link https://keen-nobel-557cbf.netlify.com/valeurs).All browers show all my styles normally , but Safari has first loading without styles and everytime when I refresh pages styles disappear.

Has anyone ever faced this issue?

[2019-01-23 16:14] frivolta commented on #11231
Ok sorry, I was using a bad query I solved using this query:
`query portfolioQuery($id: String!) {
    wordpressAcfPortfolio(id: { eq: $id }) {
      id
      acf {
        slug
        project_title
        featured_image {
          id
          source_url
          localFile {
            id
            publicURL
          }
        }
    }
    }
  }`

[2019-01-23 16:17] sidharthachatterjee commented on #11127
cc @fk

[2019-01-23 16:20] jaredsilver commented on #11194
One thing to note is that if this were operating under normal conditions, chunk 5 would be lazily loaded. So my guess is that we're simply seeing slow connections resulting in the chunk not loading fast enough.

[2019-01-23 16:21] gurpreet-hanjra commented on #11232
Hello. Is it possible for you to provide more info using the template? Also, would like to see the source code, may be a stripped down version on github.

[2019-01-23 16:22] sidharthachatterjee commented on #11194
That _could_ be it!

[2019-01-23 16:23] gurpreet-hanjra commented on #11231
Hello, since you solved the issue, I hope it's fine to close this issue :) . Please feel free to reopen this, if needed.

[2019-01-23 16:23] #11231 closed

[2019-01-23 16:25] #11219 closed

[2019-01-23 16:28] sidharthachatterjee commented on #5801
This should be fixed via https://github.com/gatsbyjs/gatsby/pull/11227

[2019-01-23 16:28] #5801 closed

[2019-01-23 16:29] SamSaprykin commented on #11232
yes of course, here is the link

https://github.com/SamSaprykin/maskCSS

[2019-01-23 16:31] #11037 closed

[2019-01-23 16:57] helmerdavila commented on #11181
Right now in my `gatsby-browser.js` file, I did it on layout.js default file but Bulma styles were overriding too my custom styles (in development I never tested creating a build version). So, adding to `gatsby-browser` solves development styling but not for `build` command

[2019-01-23 17:16] #4404 closed

[2019-01-23 17:16] #4672 closed

[2019-01-23 17:16] #6746 closed

[2019-01-23 17:16] #7181 closed

[2019-01-23 17:16] #7205 closed

[2019-01-23 17:16] #4372 closed

[2019-01-23 17:16] #6725 closed

[2019-01-23 17:16] #6744 closed

[2019-01-23 17:16] #8101 closed

[2019-01-23 17:16] #7172 closed

[2019-01-23 17:19] amberleyromo commented on #9048
@MikeBudimon any interest in still working on this?

[2019-01-23 17:20] TylerBarnes commented on #5801
Nice! So what's the recommended way to view a dev site from another device? is it `gatsby develop -H $(hostname) -p 8000` or is there another way?

[2019-01-23 17:23] sidharthachatterjee commented on #5801
@TylerBarnes You should be able to run `gatsby develop -H 0.0.0.0` and open the machine at `<IP>:8000` on another device on the network

[2019-01-23 17:29] ergunpp commented on #11215
When I compile as you told, I get an 404 error

[code]

[2019-01-23 17:36] TylerBarnes commented on #5801
Awesome, thanks @sidharthachatterjee!

[2019-01-23 17:42] aesthytik commented on #11225
@devnasim you got same issue right ?

[2019-01-23 18:53] zslabs opened #11238 "gatsby-plugin-catch-links conflicting with Netlify redirects"
## Description

This may be somewhat related to https://github.com/gatsbyjs/gatsby/issues/6686 but since this is dealing with a generic redirect, wanted to raise the issue.

We have created redirects within Netlify that go from paths like `/test/` an external site, like `http://www.google.com`. When clicking on them directly from content, it brings up a 404 page; as the page doesn't actually exist

[2019-01-23 19:03] #10711 closed

[2019-01-23 19:14] jonniebigodes commented on #11215
@ergunpp that's happening because the file is not there, when you issue `gatsby develop` the file is not present in that location as you can see here, the file does not exist in the `public` folder.

![notpresent](https://user-images.githubusercontent.com/22988955/51629844-85858980-1f40-11e9-9ce5-c3a406d24fce.png)

By creating a `static` folder yourself like so and copy the image file inside:
![st

[2019-01-23 19:56] itwasmattgregg opened #11239 "gatsby-remark-images issues with relative paths in nested pages"
## Description

Using remark images and placing images in the directory next to the markdown file referencing them works fine when those directories are in the top level of the /pages directory. However when you move those page directories into a subdirectory like /posts or /blog the images return 404s. This is when using relative paths to reference the images like `./image-for-post.jpg`. Where th

[2019-01-23 20:14] omrllm commented on #11216
I did that and when I submitted the changes, I still didn't get a response from Google Adsense.

Now I've got the same **"Valuable Inventory: No content"** message, again.

[2019-01-23 20:30] KyleAMathews opened #11240 "Wrap entire application (including webpack runtime) w/ error catcher so can recover gracefully from service worker problems"
As a failsafe against the webpack runtime not being able to load some JS due to e.g. a js file being deleted from the sw cache, we should wrap the webpack runtime with a try/catch to force a refresh in these sorts of cases.

[2019-01-23 20:33] ivanoats commented on #1727
Maybe a plugin that uses the programatic interface of https://www.npmjs.com/package/broken-link-checker ? Any interest?

[2019-01-23 21:05] andycunn opened #11241 "composable `StaticQuery` with `withStaticQuery`"
## Summary

In the vain of `recompose` and hooks, i propose a composable way to use `StaticQuery` that improves upon the ergonomics of the current element-only build capability.

### Basic example

#### before

[code]

#### after

[code]

### Motivation

* keep components cleaner
  * don't have to make `StaticQuery` part of our component JSX
  * don't have to do ugly `props`/`data` passthroughs wh

[2019-01-23 21:08] #11241 closed

[2019-01-23 21:09] andycmaj opened #11242 "composable `StaticQuery` with `withStaticQuery`"
## Summary

In the vain of `recompose` and hooks, i propose a composable way to use `StaticQuery` that improves upon the ergonomics of the current element-only build capability.

### Basic example

#### before

[code]

#### after

[code]

### Motivation

* keep components cleaner
  * don't have to make `StaticQuery` part of our component JSX
  * don't have to do ugly `props`/`data` passthroughs wh

[2019-01-23 21:15] mikeriley131 opened #11243 "Getting an external link warning when using Link with createPages"
## Description

I'm using `<Link>` for pages generated from WordPress posts by `createPages`, and the links works just fine, but I am getting the following warning in the console...
[code]

### Steps to reproduce

1. Pull in Wordpress API data using the `gatsby-source-wordpress` plugin.
2. Follow the documentation to generate pages for each post.
3. Use Gatsby's `Link` component to link to any of

[2019-01-23 21:18] #11243 closed

[2019-01-23 21:19] mikeriley131 commented on #11243
Solved.

`<Link to={`/${node.slug}`}>{node.title}</Link>`

I did not include the `/` in the link.

[2019-01-23 22:05] iamskok commented on #5030
Thanks @fk :) For some reason I didn't get an invite.

[2019-01-23 22:49] benflinn opened #11245 "Wrapping with PersistGate blocks google/facebook from crawling the site"
I started using redux, and wrapped with provider, as described here:
https://github.com/gatsbyjs/gatsby/blob/master/examples/using-redux/wrap-with-provider.js

To use redux-persist, I wrapped with the PersistGate like this:
[code]
It seemed to work great!

Now, I realize, the site won't load without javascript, and google/facebook can't crawl the site.

How are you supposed to use redux-persist wi

[2019-01-23 22:51] benflinn commented on #11245
There are other examples of people having trouble, I just don't know the best way of fixing this problem?

https://spectrum.chat/gatsby-js/general/edit-fixed-currently-our-site-is-not-rendering-with-js-turned-off~47c0c48e-7394-45a5-98d5-62e061c61177

https://github.com/gatsbyjs/gatsby/issues/10414#issuecomment-448302435

[2019-01-23 23:08] apmsooner commented on #9945
I'm not able to see paragraph fields at all in the graphql query builder. I do see them in the jsonapi output. What am i missing here?

[2019-01-23 23:44] codeithuman commented on #7810
I was able to resolve my issue by using ES5 in my `src/utils/article.js` file, like so:

[code]

and then `gatsby-node.js`, like this:

[code]

[2019-01-23 23:59] gmossong opened #11246 "Use gatsby-image to get all images within post folder"
A typical use case for a photo gallery blog is to have posts with a set of images, each post would be contained within it's own folder with it's images and markdown file:

**-src
--posts
---my-first-post**
----index.md
----photo-1.jpg
----photo-2.jpg
----photo-3.jpg
[...]
**---my-second-post**
----index.md
----photo-1.jpg
----photo-2.jpg
[...]

I have followed along the gatsbyjs.org tutorial and t

[2019-01-24 00:26] rchrdnsh opened #11247 "want to set up a certain file structure and routing configuration for mdx documents..."
I have this file structure fore my content:

<img width="201" alt="screenshot 2019-01-23 15 41 36" src="https://user-images.githubusercontent.com/7884263/51645337-ae018980-1f28-11e9-9ca8-d9194f98eac2.png">

where each article is in it's own folder with it's own assets folders. In this case I only have an images folder, but more will come in the future.

I then want the routing to look like this:

[2019-01-24 01:39] marisamorby commented on #8416
Flowchart already exists, closing the issue.

[2019-01-24 01:39] #8416 closed

[2019-01-24 02:09] marisamorby commented on #6785
@jlengstorf: Closing this issue since perilbot is running for stale issues.

[2019-01-24 02:09] #6785 closed

[2019-01-24 02:11] marisamorby commented on #8414
Flowchart was created, closing this issue.

[2019-01-24 02:11] #8414 closed

[2019-01-24 02:13] marisamorby commented on #8422
@jlengstorf: Do we want to leave this open or close it?

[2019-01-24 03:56] WeZZard commented on #7810
Is the 5th "Use `import` in `gatsby-node.esm.js` all you want"?

[2019-01-24 05:01] mrfunnyshoes commented on #8714
Thanks @LekoArts, I submitted a PR

[2019-01-24 08:33] pgegenfurtner commented on #11243
I get these warnings even with a slash in the path.

[2019-01-24 08:46] gurpreet-hanjra commented on #11232
Thank you. It seems like some configuration is missing in your project, like including `gatsby-plugin-styled-components babel-plugin-styled-components`

Please try including `styled-components` as mentioned in the docs - https://www.gatsbyjs.org/docs/styled-components/

[2019-01-24 09:39] SamSaprykin commented on #11232
Hello! Thanks for the answer! Yes, I installed both packages, but still the problem is in Safari.

[2019-01-24 09:50] SamSaprykin commented on #11232
Ahahah, lol. Thanks a lot. Don't understand how I missed this :)

[2019-01-24 11:56] snirp opened #11250 "Child component of template not being parsed by Gatsby"
## Description

I have a Post template that can display a Gatsby Image. I tried moving the image to a separate React component (ImageHeader), but that doesn't work as expected. It seems like the ImageHeader has no access to the `data` (although that is explicitly passed to the component and shows up correctly in a `console.log`). The image will also not display. I even tried passing the `sizes` di

[2019-01-24 12:03] #10989 closed

[2019-01-24 12:22] skinenbayev commented on #7310
@colmtuite Consider to use something like height: 100vh.

[2019-01-24 12:45] enzoferey opened #11251 "Avoid confusion when reading transformers plugin doc"
Hi !

So I was reading through [custom transformers plugin docs](https://www.gatsbyjs.org/docs/create-transformer-plugin/). It tells that the common to use them is to do this:

`exports.setFieldsOnGraphQLNodeType = require("./extend-node-type")`

And then just underneath it provides a link to the [API docs](https://www.gatsbyjs.org/docs/node-apis/#setFieldsOnGraphQLNodeType). So if you go to that

[2019-01-24 12:54] nikoladev commented on #7810
@WeZZard You're totally right! I'll fix it in my post.

[2019-01-24 12:57] sidharthachatterjee commented on #11240
Could potentially address https://github.com/gatsbyjs/gatsby/issues/11194

[2019-01-24 13:03] sidharthachatterjee commented on #11251
Good catch, @enzoferey! We'd love to receive a PR fixing the example.

[2019-01-24 13:14] sidharthachatterjee commented on #11247
Hey @rchrdnsh

From what I understand, you want deeper paths to be set for each page that you create.

You're setting path for a page as `node.childMdx.fields.slug`. You can set it here as anything you want. Maybe get the relative path from GraphQL and use that to create a path?

[2019-01-24 13:20] hanoii commented on #9945
@apmsooner are you using the paragraphs fragments as per https://github.com/gatsbyjs/gatsby/issues/9945#issuecomment-441115895 ?

Can you post your graphql?

[2019-01-24 13:20] devnasim commented on #11225
@guidolodetti @sidharthachatterjee look into that https://github.com/devnasim/gatsby-apollo-graphql
might be helpful.

[2019-01-24 13:37] sidharthachatterjee commented on #11246
Hey @gmossong

Sorry about the confusion! If I understand correctly, the GraphQL query filtering out the images with the current directory is not working?

I tried this out and it seems to work fine!
![screenshot 2019-01-24 19 05 58](https://user-images.githubusercontent.com/7701981/51681596-23de2180-200b-11e9-84b7-1dfd4a844f75.png)

Could you link to a minimal reproduction of this?

[2019-01-24 13:47] sidharthachatterjee commented on #11238
From the documentation at https://www.gatsbyjs.org/packages/gatsby-plugin-catch-links/

It indeed is `gatsby-plugin-catch-links` catching any relative links as it _ought_ to

You could remove `gatsby-plugin-catch-links` or another simple fix is to set absolute urls for externals!

[2019-01-24 14:01] sidharthachatterjee commented on #11250
Just took a look at this @snirp

Changing ImageHeader.jsx to the following fixes it:
[code]

Basically,
- data needed to be destructured since the parameter to the function is `props`
- you were accessing `data.markdownRemark.post.fields` which needed to be `data.markdownRemark.fields`

Closing this but please feel free to reopen if this doesn't fix your issue!

[2019-01-24 14:01] #11250 closed

[2019-01-24 14:05] sidharthachatterjee commented on #11239
Hey @itwasmattgregg

Could you link to a minimal reproduction of this?

[2019-01-24 14:16] sidharthachatterjee commented on #11225
Hey @guidolodetti

This is breaking because on SSR the root element is unwrapped and therefore Apollo Client complains about the lack of a Provider.

You'll want to implement `wrapRootElement` in `gatsby-ssr.js` as well like this:
[code]
Also you'll need to add `isomorphic-fetch` to your dependencies since apollo looks for fetch to make HTTP requests

You can check out a minimal working example of

[2019-01-24 14:51] joostdecock opened #11255 "gatsby-plugin-netlify does not support rewrites, or setting a different status code"
## Summary

The netlify plugin allows you to add redirects programmatically. It does differentiate between permanent and non-permanent redirects (status code 301 or 302) but does not allow any other values.

Netlify redirect rules are as follows:

[code]
The plugin allows you to set all of these except the status code:

 - `FROM` is set with `fromPath`
 - `TO` is set with `toPath`
 - The exclamati

[2019-01-24 15:12] akoel commented on #8237
__having the exact same issue as @deltaskelta described above.__ Not sure why:
[https://github.com/Cruzercru/Queensland-Native-Seeds-Website](https://github.com/Cruzercru/Queensland-Native-Seeds-Website)
[https://github.com/bluepeter/gatsby-material-ui-business-starter](https://github.com/bluepeter/gatsby-material-ui-business-starter)
would work in a production build and my code doesn't!

[2019-01-24 15:25] JesseBilsten commented on #6053
I temporarily fixed this issue in mine by removing all import's of the bootstrap js files from my `/components/layout.js` file.

Before:
[code]

After:
[code]

I'm not sure yet what the proper way is to import these files yet.

[2019-01-24 15:26] jonniebigodes commented on #8707
@nikoladev i've picked on your issue and the solution is disabling the `gatsby-plugin-offline`, after doing that it worked, it was randomizing the order. The problem is that with the plugin activated the page is cached and when you visit it once and then revisit the content is cached and you're presented with the cached version, as there's no change in that page. I tested it it by changing your in

[2019-01-24 15:35] adriantombu commented on #8707
Hey @jonniebigodes, thanks for taking the time to look into it ! Since my comment, I disabled the shuffle ([the commented line 10](https://github.com/adriantombu/the-greaaat-gatsby/blob/master/src/pages/freelances.js#L10)) because I had to put the website on production, that's why you don't see any change 😊

The problem here is that I wanted to shuffle the people on [the page](https://greaaat.com/

[2019-01-24 15:36] magnusarinell commented on #11198
I'm getting the same error using Gatsby v 2.0.55 where package-lock.json is disabled in .npmrc. The site is built from a clean workspace daily. One day it worked, the next it didn't. I'm guessing the error is related to some transient dependency which has changed.

[2019-01-24 15:42] jonniebigodes commented on #11161
@Chmarusso and you can interact with any GraphQL endpoint with the plugin. Based on that, i'm inclined to believe that, it's a strategy that was used by the developer so that the where clause should work more like a sql where clause, making it as abstract as possible, so that it could used in a compound manner, to prevent later issues with people asking for a broader approach, allowing a compound

[2019-01-24 15:42] valayd commented on #6053
@JesseBilsten
I am doing like this in `gatsby-node.js`. The if condition `stage === "build-html"` is important while building. I tried to put all the packages with regex in `require.resolve` but it didn't work.
[code]

This works for me for `gatsby build`.

[2019-01-24 15:46] rotexhawk commented on #10895
The issue was resolved with the latest updated.

[2019-01-24 15:46] #10895 closed

[2019-01-24 16:07] jonniebigodes commented on #8707
@adriantombu on your code you have this:

[code]
right? By uncommenting this and issuing `gatsby develop` i get the following error:

[code]
The reason behind this is because your shuffling the wrong thing.
I've corrected it by doing so:

[code]

doing that change allowed the for a randomization of the items shown with the use of your library for randomizing the array. Feel free to provide feedbac

[2019-01-24 16:33] adriantombu commented on #8707
This is the commit where I removed the shuffle, as you can see I was using `edges` in the shuffle 😊
https://github.com/adriantombu/the-greaaat-gatsby/commit/d627cda17638df44f016df33f9f0f0be951cbb67

The shuffle was working properly on `gatsby develop`, it's only when using `gatsby serve` that I encounter the problem ^^ It looks like some cache problem, but I don't know how to counter it. It's my f

[2019-01-24 17:16] #8400 closed

[2019-01-24 17:16] #4603 closed

[2019-01-24 17:16] #4803 closed

[2019-01-24 17:16] #4892 closed

[2019-01-24 17:16] #6596 closed

[2019-01-24 17:16] #7295 closed

[2019-01-24 17:16] #7506 closed

[2019-01-24 17:16] #7621 closed

[2019-01-24 17:16] #7622 closed

[2019-01-24 17:16] #7638 closed

[2019-01-24 17:16] #8116 closed

[2019-01-24 17:16] #8125 closed

[2019-01-24 17:16] #8423 closed

[2019-01-24 17:16] #8447 closed

[2019-01-24 17:16] #4645 closed

[2019-01-24 17:46] RobinCsl commented on #11062
Exactly, the workaround being that you split the UI layer and the data layer into two components, and use the UI layer one in your `mdx` files.
I tried in the Storybook example and the same issue happened: using `StaticQuery` or `graphql` would prevent the build. So I assume a lot more work would be needed for that to work.

[2019-01-24 18:36] swaminator opened #11260 "Amplify starter PR merged but not showing up on the main website"
Hi,

The PR: https://github.com/gatsbyjs/gatsby/pull/11235 was recently merged. However, when I goto https://www.gatsbyjs.org/starters/ and search for 'amplify' or 'aws', it doesn't show up. Is there anything else I should do?

[2019-01-24 18:37] apmsooner commented on #9945
@hanoii, I think my problem was that I didn't have the paragraph type enabled in the jsonapi settings. Once I enabled it and reran gatsby develop, i can see the field available in relationships. Coincidentally, the paragraph fields are also available without the extra joins as depicted in #9945. I did just recently update jsonapi and jsonapi_extras modules. I didn't really want to enable the parag

[2019-01-24 18:39] graysonhicks commented on #11062
Okay, got it.  Great stuff!

[2019-01-24 18:49] Siregar opened #11261 "Variable in GraphQL query"
👋

I am working on a file named `pages/bookmarks.js`. This should display all the bookmarks which are saved in the local storage. What I want: push the bookmarks array from LS to query and get all the bookmarks. My page looks like that:

[code]

Any hints on how to do that? I red a lot about createPage but does it make sense? I'm just using the Layout and List components, no markdown file. The fun

[2019-01-24 19:46] sarahannnicholson commented on #10982
I managed to get around this by using client only routes.
1. Using client only routes I dedicated the route /drafts (and all sub routes) to wordpress content
2. In the index page for the client only routes (index.js in my /pages/drafts) I use fetch to query wordpress and get my bearer token
3. in the body of the index page, I select which component to render (post or page) based on the route
eg)
{

[2019-01-24 19:46] #10982 closed

[2019-01-24 19:50] mattfwood opened #11262 "Custom Webpack Config not Accepting `output` path option"
## Description

I'm trying to dynamically build a large number of Gatsby sites at once with different configs. But since they all build to the `public` directory by default, I'm forced to build them one at a time which presents significant scaling issues.

However, when I try to specify a custom output path in `gatsby-node.js` with `onCreateWebpackConfig`, it seems to ignore this change and still

[2019-01-24 19:53] rchrdnsh commented on #11247
hmmmmm...not sure how to do that @sidharthachatterjee. It seems like maybe mdx does not support relative paths in queries...it has a place for `fileAbsolutePath` but I'm not seeing fileRelativePath in the docs for mdx or in the docs in GraphiQL...

[2019-01-24 19:55] LekoArts commented on #11260
The build just had a hiccup and it's now live ;)

[2019-01-24 19:55] #11260 closed

[2019-01-24 20:17] gmossong commented on #11246
@sidharthachatterjee Yes the graphql query works as expected, see below. What I don't understand is how to use this with gatsby-image and loop through all the images displaying them in my post.

<img width="1209" alt="query" src="https://user-images.githubusercontent.com/18605121/51705688-28452180-2081-11e9-8f08-6f2ee0232c30.png">

@LekoArts Looks like your starter does a similar thing, though I'm

[2019-01-24 21:32] rafaelgfx commented on #11005
@patrickcameron how is the progress of this task?

[2019-01-24 21:50] BlierNicolas opened #11266 ""Module parse failed: Unexpected token (8:11)" when trying to build my project"
## Description

I want to build my website in order to put on live a new version, but the build crash even after I had rollback my edit.

### Steps to reproduce

1. Clone my project on your computer (https://github.com/BlierNicolas/NHU)
2. Do a little "npm install" to make sure that you have everything related to my project
3. Do either "npm run build" or "gatsby build" and the build process shoul

[2019-01-24 21:53] renschler opened #11267 "Unit Testing tutorial yields failing test after following steps"
## Description

I've attempted to follow the steps in the [Unit testing guide](https://www.gatsbyjs.org/docs/unit-testing/), as well as the [Testing components with GraphQL guide](https://www.gatsbyjs.org/docs/testing-components-with-graphql/), but the simple index.js test is still failing. I think the tutorial needs to be updated.

### Steps to reproduce

[code]
![screen shot 2019-01-24 at 3 31 2

[2019-01-24 21:55] renschler commented on #11267
Update: I noticed in __mocks__/gatsby.js we were calling jest.fn().mockImplementation() I changed this to jest.fn(--Inserted mock implementation here--) because that's what the most recent Jest documentation says to do. But this didn't change my output.

[2019-01-24 22:04] AlbericTrancart opened #11268 "Enable support for Webp in gatsby-remark-images-contentful"
## Summary

As of now, `gatsby-remark-contentful-images` doesn't have a `withWebp` option like `gatsby-remark-images`.

### Basic example

This config:

[code]

Would add srcsets to webp images with a fallback on the classic srcset for unsupported browsers.

### Motivation

This could provide a substantial speed improvement on supported browsers.

I volunteer for coding this feature :)

[2019-01-24 22:04] jonniebigodes commented on #8707
I rebooted the computer and the problem resurfaced. I've re-tested it and the problem still exists for you @nikoladev and for your aswell @adriantombu. I'm thinking that the problem is not cache at all but something else. I'm going to do some more testing and see if can come up with a answer or a workaround.

[2019-01-24 22:11] ghardin137 commented on #11266
You need to update the version of gatsby in your package.json.  You're receiving a really old pre 2.0 release version because of your semver.  Changing it to `^2.0.0` fixes the issue.

[2019-01-24 22:17] DSchau commented on #11267
My guess is that this changed with the introduction of the SEO component. For now - I think you'll want to mock the result of StaticQuery with something like:

[code]

want to give that a shot and let me know if it works? If it does, I'd propose we make a few changes to that guide, specifically:

1. Use the default starter instead of the blog starter (simpler!)
1. Mock out the SEO component in a l

[2019-01-24 22:55] renschler commented on #11267
thanks for the help, I tried your recommendation and I got a very similar error message. The main error is the same but the warning text at the bottom is slightly different.

![screen shot 2019-01-24 at 4 53 43 pm](https://user-images.githubusercontent.com/3973468/51713799-c640d980-1ff8-11e9-90d6-e013272771f8.png)

[2019-01-24 22:59] DSchau commented on #11267
@renschler guessing this repo is in a state where it could be shared. Could you share the link please?

[2019-01-24 23:02] adriantombu commented on #8707
I'm grateful for the time you're putting in this, I hope I'll be able to buy you a beer someday 🍻😊

[2019-01-24 23:03] MirelesCloud opened #11270 "How do you add the flatcion stylesheet to a project?"
## Summary
I'm trying to add flaticon [https://www.flaticon.com/home](url) to my project.  Per their  instructions I have added the css files and need to add `<link rel="stylesheet" type="text/css" href="css/fonts/flaticon.css" />` to the head.  However, it doesn't recognize the stylesheet and throws  the following error:

Using the <link...../> format for any css file throws the same error, hence

[2019-01-24 23:04] zslabs commented on #11238
Ah interesting! I am using https://github.com/zslabs/remark-relative-links (I'm the author) that makes links on the same domain relative so I can use https://github.com/remarkjs/remark-external-links/releases more reliably, so maybe I can create some filters to keep these as their full domain counter-parts. Will give this a shot and check back.

[2019-01-24 23:07] renschler commented on #11267
@DSchau I uploaded it here: [https://github.com/renschler/my-blog-starter](https://github.com/renschler/my-blog-starter)

[2019-01-24 23:34] jgierer12 commented on #11270
You should be using the [static folder](https://www.gatsbyjs.org/docs/static-folder/) for that kind of stuff, since that folder is the only one that gets duplicated into the build folder without any transformations.

The MIME type error occurs since the route doesn't exist as it's outside of the static folder. That leads to Gatsby displaying a 404 page on this route which has a MIME type of `text/

[2019-01-24 23:49] Mike-Dax commented on #6945
This is still an issue.

[2019-01-25 00:34] jephjohnson opened #11274 "How does google know what pages to crawl when using GatsbyJS"
Pardon my lack of knowledge here, I am still new to using GatsbyJS.

When building out locally if I hit a 404 page I get a list of available pages. (see attached)

Just wondering if google indexes all these pages?
<img width="906" alt="screen shot 2019-01-24 at 3 37 57 pm" src="https://user-images.githubusercontent.com/1817084/51717504-f044cc80-1ff5-11e9-9380-b009f62603f5.png">

[2019-01-25 01:00] DSchau commented on #11245
@benflinn I think the linked resources (in particular the comment in #10414) should lead you in the correct direction!

I'm not super familiar with redux-persist, but it sounds like it blocks rendering (and HTML extraction) until after some condition is true. If that condition isn't true during SSR render time, then only _some_ of your tree will be able to be parsed as HTML. Additionally, it could

[2019-01-25 01:00] #11245 closed

[2019-01-25 01:08] mgmolisani opened #11275 "cache.set does not resolve with value being cached"
## Description

When using the cache in plugins, calling cache.set always resolves to `undefined` when it appears the intention was to have it resolve with what was stored (pretty standard practice).

### Steps to reproduce

Attempt to access the return value of `await cache.set('a', 'b')` in your gatsby-node.js file inside of an api. Mine was in the resolve of a new field in `exports.setFieldsOnG

[2019-01-25 01:09] DSchau commented on #11242
I think this is interesting! I'm not sure we'd propose this solution, but rather I think the more future thinking approach would be to implement similar functionality using [React hooks](https://reactjs.org/docs/hooks-intro.html), which will similarly allow us to clean up some of our components and get some ergonomic benefits.

It _could_ look something like this:

__Note: I haven't thought about

[2019-01-25 01:09] #11242 closed

[2019-01-25 01:13] DSchau commented on #11275
This seems like a super easy fix to implement, so thanks for identifying!

Would you be interested in resolving the `value` rather than the `res` (which is apparently undefined) and additionally adding a test or two to guard against this behavior?

Generally - I don't know _why_ you'd want to retrieve the value of a cache.set, since you already _have_ that value. That being said--I see how is conf

[2019-01-25 01:52] mgmolisani commented on #11275
Wow, amazingly fast reply and confirmation. Loving Gatsby so much.

To share on why returning the value is important, I'll relate it to an HTTP POST or PUT request which is similarly asynchronous. Typically when you update asynchronously, you want some confirmation that the data you wrote actually got written and didn't get mutated in any way (unintentionally).

A potentially better example on the

[2019-01-25 03:01] mgmolisani commented on #11275
I agree. Since we know we aren’t mutating our data in the cache and we know it, we can safely return our input. This issue definitely arose out of my own annoyance as you pointed out as this makes 3 lines of code (define, set, return) just an inlined return.

Regarding error handling, the current callback ignores the err arg completely with a ‘_’ so my solution only built off that assumption that

[2019-01-25 05:08] renschler commented on #11267
I commented out the SEO and the Bio component and things worked. So I think you are right, just need to mock the StaticQuery for both of those components and things should pass.

That said, I'm new to jest/gatsby and I didn't follow most of the guide. So I agree starting with something simpler might be better.

[2019-01-25 07:06] stefanprobst commented on #4261
Quick Update:

I added an optional `from` argument to the `@link` directive. This makes it easier to do stuff like this:

[code]

Also, the `addResolvers` API works better with third-party schemas: it is possible to wrap resolvers on a field on a type from a third-party schema to do some post-processing, or add a new field to third-party types, which allows to add processing which changes the retu

[2019-01-25 07:58] stefanprobst commented on #4261
Issues, before this branch could become something more official:

* Use `moment` in `@dateformat` directive instead of `date-fns`
* Tracing annotations
* No `description` fields
* More tests with built schema. Test coverage overall is pretty good, but more tests with the executable schema are needed. Also adapt and add back the tests from current master, which should give much more confidence. I'm

[2019-01-25 08:39] magnusarinell opened #11276 "Default pedantic false in gatsby-transformer-remark"
## Summary

The default setting for gatsby-transformer-remark is true. I think it should be false. For my Gatsby site there are a lot of content writers that were complaining about the current behaviour, where some_file_name.txt renders partially emphasized words.

The default mode for remark-parse is false (https://github.com/remarkjs/remark/tree/master/packages/remark-parse#optionspedantic). Gat

[2019-01-25 09:49] raulrpearson opened #11277 "gatsby-source-mongodb not sanitizing dbName correctly"
### Description

I tried `gatsby-source-mongodb` with a database name with 2 dashes (something like `one-two-three`) and it seems the name is not properly sanitized. I get the following error when trying to build:

[code]

I think the culprit is a missing `g` in the regular expression of the [`sanitizeName`](https://github.com/gatsbyjs/gatsby/blob/cab8d7c53481963ac099d1be427a5600f0d342b4/packages/

[2019-01-25 09:59] pgegenfurtner opened #11278 "Graphql Errors for unused templates"
## Description
Using the new theme functionality, I have a core theme from which I generate multiple different projects, which consume this theme.
In the core theme I have different page templates. Some may not be used by theme consumers. But data which these unused templates want to query may not be available in a theme consumer, so I get a graphql error and the site cannot be build.
Is there som

[2019-01-25 10:06] Leocn commented on #5002
make another path as default static page folder, not '/public'.
After run gatsby build, copy the ../public/* to the default path.

[2019-01-25 10:57] #11159 closed

[2019-01-25 11:48] shansmith01 commented on #11261
CreatePage runs at build time on the server and Gatsby has no idea of what is going to be in local storage on the client side at build time.

Have a look at this tutorial https://hackernoon.com/how-to-take-advantage-of-local-storage-in-your-react-projects-a895f2b2d3f2

[2019-01-25 11:54] 0x6e6562 commented on #2293
@filipetedim I ended solving this issue by pushing the dynamic lookup into the node creation step, so that I could query statically. There is a discussion [here](https://github.com/gatsbyjs/gatsby/issues/11092) which is mainly me talking about an [example](https://github.com/0x6e6562/image-sharp-node-creation) that I created to illustrate my point.

[2019-01-25 12:20] nikoladev commented on #8707
@jonniebigodes Thanks for investigating! I'll try to find some time in the weekend to try out what you proposed and see if I can get anywhere with it. Thanks again for taking the time to look into it :)

[2019-01-25 12:34] sidharthachatterjee commented on #11261
@Siregar This is _not_ possible from what I understand because
1. GraphQL schema generation is done at build time and has no access to browser APIs or the _current_ user's browser instance
2. Queries are also resolved at build time and again in a non browser environment

You could use something like https://github.com/apollographql/apollo-cache-persist to persist to local storage and use apollo to

[2019-01-25 12:34] #11261 closed

[2019-01-25 12:35] m-allanson commented on #6834
Hey @transf3r could you open a new issue describing the problems you're seeing? If you can follow the issue template (in particular running `gatsby info` to provide some debug info) we can try to get you up and running. Feel free to mention @m-allanson in that issue.

We put a ton of work into trying to make [the tutorial](http://gatsbyjs.com/tutorial) work smoothly for as many people as possible,

[2019-01-25 13:19] sidharthachatterjee commented on #11262
Based on https://www.gatsbyjs.org/docs/actions/#setWebpackConfig

For full control over the webpack config, use replaceWebpackConfig().

However, I tried this out and this is tricky because a lot of the Gatsby source has `public` hardcoded in several places and many plugins depend on it as well

This was attempted at https://github.com/gatsbyjs/gatsby/pull/4756 but reverted because it broke a bunc

[2019-01-25 13:33] sidharthachatterjee commented on #11274
@jephjohnson That page is development only and doesn't get into the production bundle

Most search engines crawl pages by following links from one page to another. You _can_ make this easier for them by building a sitemap.

Check out the documentation at https://www.gatsbyjs.org/docs/creating-a-sitemap/

Closing this for the moment but please feel free to reopen or comment if I haven't answered yo

[2019-01-25 13:33] #11274 closed

[2019-01-25 13:41] MitchellCash opened #11280 "[gatsby-remark-images] The blur up effect on markdown images doesn't work in Firefox"
## Description

I am looking to replicate the blur up effect of `gatsby-image`, but in the body of my markdown blog post images using `gatsby-remark-images`.  Here are two examples, the top image is what I expect to happen, but the bottom image is what I am seeing (no blur up).

**Example image with blur up using `gatsby-image`**
![Blur up working in gatsby-image](https://user-images.githubusercon

[2019-01-25 13:43] BlierNicolas commented on #11266
Hi, sorry for the delay.

I'm currently looking to apply the potential fix.

[2019-01-25 14:01] asistapl opened #11281 "[gatsby-plugin-netlify-cms] Plugin's webpack build process overrides Gatsby's build process"
## Description

After adding `gatsby-plugin-netlify-cms` to gatsby project generated html files doesn't include scripts and are running without javascript. `chunk-map.json` file is overridden with chunks generated by plugin's webpack build and looks like this: `{"cms":["/cms.js"]}`.

### Steps to reproduce

https://github.com/asistapl/gatsby-plugin-netlify-cms-bug

I created that repository with t

[2019-01-25 14:16] BlierNicolas commented on #11266
Hi again,

I put only `^2.0.0` for Gatsby and did a `npm install` and the issue seems to have been fixed.

Thanks a lot! :) 👍

[2019-01-25 14:17] #11266 closed

[2019-01-25 14:25] jonasman opened #11282 "TypeError: Cannot read property 'spaceId' of undefined"
## Description

Installing contenful starting guide

### Steps to reproduce
Just follow the intro tuturial:

Copy the following commands into your terminal:
`git clone https://github.com/contentful/starter-gatsby-blog.git`
`cd starter-gatsby-blog`
`npm install`
`npm run setup -- --spaceId XXXX --deliveryToken XXX --managementToken CFPAT-XXXx`
See the blog in action:
`npm run dev` --> Fails here

#

[2019-01-25 14:31] freiksenet commented on #11205
I couldn't reproduce this error - I wonder if you are exporting your fragment in a way that it's picked up by Gatsby compiler (as show here https://www.gatsbyjs.org/docs/querying-with-graphql/#fragments).

[2019-01-25 14:38] mperrien commented on #9694
I have exact same thing as @aesthytik, but only for a short moment, probably the time for the font (FuturaPT) to load (FOUT). Maybe those of you who have the persistent problem are blocking custom fonts?

[2019-01-25 15:08] KyleAMathews opened #11283 "Add tracing support to gatsby-plugin-sharp for tracking image processing"
https://www.gatsbyjs.org/docs/performance-tracing/#adding-your-own-tracing

[2019-01-25 15:09] KyleAMathews opened #11284 "Add tracing support to createRemoteFileNode"
https://www.gatsbyjs.org/docs/performance-tracing/#adding-your-own-tracing

[2019-01-25 15:21] karenhou commented on #11282
Did you apply all the fields it required? All three of the fields need to be provided. For the managementToken you can obtained via Setting/APIs/content management tokens

[2019-01-25 15:30] #11282 closed, assigned to nobody

[2019-01-25 16:10] cyrildurand commented on #11198
same issue when I upgrade `gatsby` from `v2.0.91` to `v2.0.93`  (`v2.0.92`) doesn't exist

[2019-01-25 16:19] #11222 closed

[2019-01-25 16:35] sidharthachatterjee commented on #11277
Thank you for opening this and for debugging this @raulrpearson

Seems like an easy fix! Would you be interested in opening a PR? We'd love to accept one 🙂

[2019-01-25 16:47] #10951 closed

[2019-01-25 17:16] #8458 closed

[2019-01-25 17:16] #8475 closed

[2019-01-25 17:16] #8523 closed

[2019-01-25 17:16] #4539 closed

[2019-01-25 17:21] #8483 closed

[2019-01-25 17:57] harshil1712 commented on #11277
Yeah I would like to take this one

[2019-01-25 17:58] sidharthachatterjee commented on #11277
Awesome, thanks @harshil1712

[2019-01-25 17:58] codeithuman commented on #6350
@sgnl's fix worked for me. I had `export const query = ...` and just removed `export` since I'm not using it in any other components/files. `const query = ...`.

I should also note, 'Loading (StaticQuery)' only displayed in production once deployed to Netlify. The content is coming from Contentful.

[2019-01-25 18:00] sidharthachatterjee commented on #11281
Thank you for reporting this @asistapl

We have a fix ready in a PR and we'll comment on this again once released!

[2019-01-25 18:40] pauleveritt commented on #11151
Whether using `mapping` or `sourceNodes`, authors need to either make small changes to all content or blow away their caches, either under `gatsby build` or `gatsby develop`.

Here's a [2m15s video narrating the issue in play](https://www.youtube.com/watch?v=bP_yur3I5Po).

Conclusion: Don't do relationships as described in the docs. Instead of lifecycle APIs, manually recreate the universe inside

[2019-01-25 19:14] DSchau commented on #11267
@renschler thanks for letting us know about this! I updated the tutorial in #11293 to reflect some of these idiosyncrasies. I'll close this out when it's merged, but wanted to let you know!

[2019-01-25 19:33] asistapl commented on #11281
@sidharthachatterjee Thank you very much! You made my day 🎉

[2019-01-25 19:54] harshil1712 commented on #9374
Is anyone working on this? I would like to take this one

[2019-01-25 19:56] lvrbrtsn commented on #9374
@harshil1712 Feel free! I have not made much progress and have a lot coming up this next month.

[2019-01-25 19:57] filipetedim commented on #2293
Will take a look!

[2019-01-25 20:12] homemdasneves commented on #11205
Yes, that's exactly how I'm exporting the fragment. I believe the gatsby compiler successfully picks up my fragment, because I can see "success" on both the: _extract queries from components_ and run _graphql queries_ steps, as you can see below. It'll even run the queries!...

[code]

[2019-01-25 20:19] imcodingideas commented on #11251
@enzoferey yes, I am going it.

[2019-01-25 20:31] patrickcameron commented on #11005
I just submitted a PR. Please let me know if there's anything I need to fix. This is my first time submitting to a big open source repo.

[2019-01-25 20:38] tatchi opened #11297 "[docs] Broken anchor link in Adding Images, Fonts, and Files"
## Description

There's a broken link in the "Adding Images, Fonts, and Files" section of the documentation.

At the bottom of the page (within the "When to Use the static Folder"), the "stylesheets" link does not seem to work.

see: https://www.gatsbyjs.org/docs/adding-images-fonts-files/#when-to-use-the-static-folder

It tries to redirect to a position elsewhere in the page, but I couldn't find

[2019-01-25 20:39] elpuas commented on #9911
I got the same issue when deploying to Netlify, it won't load styles correctly, until I Hover a Link

[2019-01-25 21:03] wmcheung opened #11298 "Swap image source with gatsby-image"
A quick question, is it possible to swap images using gatsby-image?

The query I'm using in my Image component is:

[code]

This looks for the file name in my Image component which is sent to the gatbsy-image.
[code]

What should happen is if I create an onClick and I choose to change it into `image-2.png`, it should show the new image. The image gets replaced but it remains to show the blurred ve

[2019-01-25 21:19] zslabs commented on #11238
Yep, was just able to mess around with my regex to ignore a few specific patterns.

[2019-01-25 21:19] #11238 closed

[2019-01-25 21:39] riddla commented on #10871
@pieh, I'm using the plugin on a wordpress.com hosted site and I'm trying to include e.g. whitelist some routes.

[`getRoutePath` strips the base url from the route](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/fetch.js#L610) and then it is checked via [`checkRouteList`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/fetch

[2019-01-25 22:00] riddla commented on #10871
I think I found the reason: the „self“ link of pages that are hosted on wordpress.com do include the domain prior to the endpoints:

https://public-api.wordpress.com/wp/v2/sites/stoffwindelberatungjuliarose.wordpress.com/pages

That’s why „/pages” ends up being checked in the current logic.

Maybe this needs some unit tests with the different URL combinations that can exist? Self hosted vs. wordpr

[2019-01-25 22:03] SAGGameDeveloper commented on #8335
I got this exact problem on a fresh gatsby install:

- Ubuntu 18.04.1 LTS.
- gatsby 2.4.8
- npm 6.7.0
- node 11.8.0

I initially got this error with older versions, then updated everything to the last stable release. After an hour trying to find the problem, I found it was the name of the folder, which contained `[` and `]`. This seems to cause an error with the way gatsby parses the paths. I don'

[2019-01-25 22:09] bluepeter commented on #8237
@deadcoder0904 @akadop I have updated our repo https://github.com/bluepeter/gatsby-material-ui-business-starter to use `withStyles`. You can see this in `index.js` [here](https://github.com/bluepeter/gatsby-material-ui-business-starter/blob/c87884db0bafa7713f7eccc31e2785b877b02fa8/src/pages/index.js#L94), and in the [demo](https://bluepeter.github.io/gatsby-material-ui-business-starter/) you can s

[2019-01-25 22:12] artemartemov opened #11300 "requestAnimationFrame and Gatsby?"
hey there, I was wondering if utilizing `requestAnimationFrame` is possible in gatsby

I have a simple background slider and was implementing rAF but realized that the build fails on prod builds. This is the code snippet in question:
[code]

and during prod build I get `WebpackError: ReferenceError: requestAnimationFrame is not defined`

I haven't been able to find any sorts of discussions or talk

[2019-01-25 22:35] yeskunall commented on #11300
@artemartemov you’re getting a `ReferenceError`. In your code snippet, I don’t see you defining `requestAnimationFrame` anywhere. I think if you just use `window.requestAnimationFrame` everywhere, at least your webpack compile errors _should_ disappear.

I use [raf](https://www.npmjs.com/package/raf) as it also has a polyfill for browsers that don’t support the API.

[2019-01-25 22:38] GuskiS commented on #9190
Could this be related to
[code]
having the `shrink-to-fit=no` part? Here is some description of what it does - https://stackoverflow.com/questions/33767533/what-does-the-shrink-to-fit-viewport-meta-attribute-do

I have always used only these `width=device-width, initial-scale=1`.

[2019-01-25 22:43] artemartemov commented on #11300
@yeskunall wow yeah 🤦‍♂️ I am a dummy. defining window helps!

[2019-01-25 22:43] #11300 closed

[2019-01-25 22:52] yeskunall commented on #11300
I’m glad I could help @artemartemov! 😁

I am, however, a little curious. How did webpack only complain during a production build? It should have complained about this during any sort of compilation process, really.

If you’re too busy, I’ll let you move on, but I would appreciate it if you could let me know. I’m just wondering 😅

[2019-01-25 23:11] jephjohnson commented on #11274
Thanks @sidharthachatterjee

[2019-01-25 23:12] jonniebigodes commented on #8335
@SAGGameDeveloper if that's the case, then @Manoz for instance which has the content inside a folder with the following way ``dd-mm-yyy` also doesn't work for him, but for me it does, on either case, i.e: linux on wsl and win 10. Also if that's the case, the library not allowing special characters of combinations of characters, then the plugin should throw the appropriate message in the error not

[2019-01-25 23:33] MitchellCash commented on #11280
@sidharthachatterjee sure thing, I spun up this minimal prod build:

Repo: https://github.com/MitchellCash/gatsby-no-blur-demo
Prod URL: https://gatsby-no-blur-demo.netlify.com/

Notice on the first home page that the image blurs up thanks to `gatsby-iamge` and thenc lick on blog and either of the blog posts and notice the image does not blur up as advertised (using `gatsby-remark-images`).

[2019-01-25 23:41] akadop commented on #8237
@bluepeter i think you tagged the wrong person 👍

[2019-01-25 23:44] bluepeter commented on #8237
Oops, sorry @akadop ... hey @akoel please see https://github.com/gatsbyjs/gatsby/issues/8237#issuecomment-457748298

[2019-01-26 00:37] jonniebigodes commented on #11298
@wmcheung this is related to #8707 . I've been testing out and you can get a "false positive" running on development mode. You can change it at will. The real issue is when you start a production build. I'm testing to see if i can solve that issue if yo ucan, be on the lookout for that one and see if it helps

[2019-01-26 01:44] wmcheung commented on #11298
@jonniebigodes issue #11303 solved my problem.

[2019-01-26 01:54] mackyboy09 commented on #10878
give a ling please

[2019-01-26 02:19] jonniebigodes commented on #8707
@adriantombu thank so very much on the offer. And i don't mind helping out as much as i can. And i think i have already a solution for you both. Late today (as it's almost 3 am where i'm at) i'm going to do some final testing and i believe i have a solution for you both. I need to check @adriantombu repo with my approach and if that fixes it, you can implement that feature in it. Sounds good for b

[2019-01-26 03:00] gniquil opened #11305 "Can I prefix generated assets path with a different hostname?"
Hi All,

Is there a way to prefix generated assets path with a different hostname? For example, in one of my generated html page:

[code]
I would like to make it:

[code]

Is this possible? I tried `prefixPath`, but it doesn't work. The reason I want to do this is I have a rails app. For certain pages I am using reverse proxy to host the pages. For example:
[code]
While the html part of the page w

[2019-01-26 03:32] LpmRaven opened #11306 "Most efficient way to load dynamic data for e-commerce"
I'm looking for some advice on the best way to implement the retrieval of dynamic data. I have been working on building this website for a few weeks now. The page in question is my listing pages, here is an example: [Waterproof Jack - All Mens Products](https://waterproofjack.com/mens/)

Currently, all of my products are created at build-time from Contentful, this has some great advantages such as

[2019-01-26 03:43] raulrpearson commented on #11277
Thanks, @sidharthachatterjee. Would have loved to submit a PR, but it seems you have to move quickly here 😂 . Maybe next time.

[2019-01-26 05:11] raulrpearson opened #11307 "Reducing or removing gatsby-source-mongodb lodash dependency"
gatsby-source-monbodb requires lodash and uses it twice in `mapping.js` and once in `gatsby-node.js`.

- I'd recommend substituting [`_.isArray(collection)`](https://github.com/gatsbyjs/gatsby/blob/026d2a956296cb01936bcf45d2be1066dd844d00/packages/gatsby-source-mongodb/src/gatsby-node.js#L32) with `Array.isArray(collection)` since `_.isArray` is [deprecated](https://www.npmjs.com/package/lodash.is

[2019-01-26 05:11] seaneking opened #11308 "[plugin-manifest] Add option to opt-out of generating favicon (vs. pwa icon)"
## Summary

Currently `gatsby-plugin-manifest` automatically generates and links to a favicon as well as PWA style icons when in automatic or hybrid mode, and there's no way to opt-out of this behaviour without going full manual mode.

The plugin should expose an opt-out flag for this, as it already does for other problematic on-by-default features (eg: theme-color tags). Especially since a) favic

[2019-01-26 07:16] swashata commented on #9301
I am not sure if this needs to be added in the docs or some changes are necessary from gatsby 😃

[2019-01-26 07:47] gniquil commented on #11305
Hi All,

Here's something really hacky but seems to work.

[code]
and

[code]
Is this something ok to do?

[2019-01-26 08:00] hadifarnoud commented on #7621
no don't close this gatsbot

[2019-01-26 08:19] cardiv commented on #7713
The site of [Gatsby](https://www.gatsbyjs.org/) and my new [npm.cardiv.de](https://npm.cardiv.de/) are throwing the same warnings for me (Chrome), but both for a json file which seems to come from the offline plugin.

[2019-01-26 10:18] KyleAMathews commented on #11151
A few points.

Gatsby doesn't watch the file system. Plugins that wish to do this must do it themselves e.g. like gatsby-source-filesystem does.

Most people arrange their content on the fs so mappings between data can be done there.

[2019-01-26 11:05] KyleAMathews commented on #9374
Updated the description to make clear this issue is for a separate tutorial, not to amend the main tutorial.

[2019-01-26 12:05] pauleveritt commented on #11151
@KyleAMathews Thanks for the fast response. On the second point "Most people arrange their content on the fs so mappings between data can be done there" I think I'm following the example from the docs correctly.

[2019-01-26 14:16] pauleveritt commented on #11151
Thanks Kyle for the response. Feel free to say "You're painting outside the lines." I'm halfway to moving everything back to page queries, so I'm ok with closing this ticket. Though I'd really like to create and share a plugin with a rich relationship and content type system.

I'm able to get most of that in a plugin now but it is tied to sourceNodes, which doesn't fire after startup. I could swit

[2019-01-26 14:22] artemartemov commented on #11300
@yeskunall so I am not quite sure _why_ it only decided to fail on the production build end. But it could be due to the fact I am using [lerna](https://github.com/lerna/lerna) on my parent folder to run commands in the `/cms/` and the `/gatsby/` child directories, but all it was running was a `gatsby develop` and a startup script for the cms to spin up locally on another port.

this was code that

[2019-01-26 16:06] xxczaki commented on #4631
@ajayns are you still interested in that issue?

[2019-01-26 16:42] ewolfe commented on #9340
Bump (to remove the stale label) since there are 13 👍

[2019-01-26 16:47] harshil1712 commented on #9374
Just to be on the right track, this file should be in the docs folder, right?

[2019-01-26 17:12] jonniebigodes commented on #8707
Ok, looks like we have a solution. Going in by order.

@nikoladev and @adriantombu i'm going to break the answer into smaller parts for each of you.

Starting by @nikoladev

- Grabbed the code from the repo, installed and updated the dependencies up to par.
- Created `static` folder, inside, created a new one called `images_v2` as you can see bellow.

![gatsby_order_test_folder_struct](https://use

[2019-01-26 17:16] #8096 closed

[2019-01-26 17:18] #7930 closed

[2019-01-26 17:35] pantelis opened #11320 "gatsby-remark-katex macros"
I wonder if the inclusion of katex macros is supported in the current version of the plugin or if you can comment on the copied portion of the gatsby-config.js file where I tried to experiment with macros. I couldnt find any information in the Katex site other than the this [doc](https://github.com/KaTeX/KaTeX/blob/master/docs/options.md) that points to a [macros.js
 ](https://github.com/KaTeX/KaT

[2019-01-26 17:46] jonniebigodes commented on #11306
@LpmRaven if i'm reading this correctly let ask you some questions before i can try and answer your question

- Is the graphql-yoga and Prisma backend going to Contenfull for data or not?
- Also is your client/website going for both endpoints? Contentfull loading at build time and price fetching on client load?

[2019-01-26 18:01] wodin commented on #8019
<img width="664" alt="image" src="https://user-images.githubusercontent.com/4579020/51790968-e31a1000-21a4-11e9-8700-b76deb2eff97.png">
What? I was the last person to respond! And the scroll behaviour wrt. anchor links is still broken.

[2019-01-26 18:13] ergunpp opened #11321 "Do css media queries run in development mode?"
Hi,
I am trying to build a Splash image component using the react-parallax plugin. I am getting the image with a static query and injecting it to parallax component. I  am also using a css file for this component which consists of solely media queries for setting the height of the parallax component.

[code]
And this is the code in the css file:

[code]
The media queries seem not to run and as I h

[2019-01-26 18:19] DanielRuf commented on #11321
Did you add the meta tag for the viewport in your html file?

[2019-01-26 18:32] Cobwebster opened #11322 "What could cause this weird gatsby build issue"
So I have this issue which is explained  [HERE](https://stackoverflow.com/questions/54380676/style-sheet-loading-late-on-gatsby-build) but here is a TLDR..

If you go to my gatsby built site, you'll notice the homepage image has weird styling. https://www.craftmc.net/ when you hover over some of the navbar items (eg. login) I guess it triggers a update and grabs 4 more files which fixes the styles

[2019-01-26 18:51] ergunpp commented on #11321
Yes it is added in the react-helmet component

[2019-01-26 18:56] jonniebigodes commented on #11321
@DanielRuf per build with either in development mode or production build the viewport is defined in `index.html`

[2019-01-26 19:12] ergunpp commented on #11321
I figured out my problem. It was because of the spaces after the pixel sizes in the media query. When I wrote 1201px instead 1201 px everything worked like a charm.
It was no issue with gatsby at all.
Sorry having bothered you all.

[2019-01-26 19:12] #11321 closed

[2019-01-26 19:16] DanielRuf commented on #11321
Ah that makes sense, oversaw this.
My first thought is often to check if the prerequisites are there like the meta tag.

[2019-01-26 19:16] kyleshevlin commented on #8612
I feel like the solution is proposed is misleading (at least without further explanation. For the following reasons:

1) What does `gatsby-plugin-layout` have to do with anything regarding `firebase`?
2) Why does it have to be put into `context`?
3) Why do we have to dynamically import `firebase`. That's the question that needs to best answered here. Dynamic imports solve the problem, but doesn't

[2019-01-26 19:19] ergunpp commented on #11321
@DanielRuf Thank you Daniel. I apparently needed some push to solve it.

[2019-01-26 19:40] jonniebigodes commented on #11322
@Cobwebster This is a hydration issue, gatsby sets up the page as instructed, generates the files required during the build process and when you hit the endpoint, the content of the page is hydrated back to you/client and then it starts downloading the files. One way to circumvent this is to host what you can locally, more on that [here](https://www.gatsbyjs.org/docs/adding-images-fonts-files/) .

[2019-01-26 19:41] madelyneriksen commented on #11198
Hi, chiming in to say that I am currently also experiencing this issue, but am struggling to build a minimal reproduction for it.

Currently running an `npm update` on my [repository](https://github.com/madelyneriksen/codebywomen) does cause the build to fail, but it does not for my [personal website](https://github.com/madelyneriksen/madelyneriksen.com).

I'll keep digging around until I can find

[2019-01-26 20:05] Cobwebster commented on #11322
Thank you for the explanation, do you know why the build tool wouldn't export inline CSS in the component page? It seems weird it would remove it and put it in a file it doesn't see as required. I think there might be more going on.

[2019-01-26 20:10] Cobwebster commented on #11322
Going off your reply I decided to remove all stylesheet imports off the index.html file, this has fixed my issue. I'm guessing it was importing it twice?

Anyways, ty for your insight. Helped me do some debugging.

[2019-01-26 20:13] tylerbuchea commented on #9436
This issue was resolved by ac9cbb7

[2019-01-26 20:46] jonniebigodes commented on #11322
@Cobwebster glad i could be of assistance, regarding your other comment, without seeing actual code, the only reason i can come up of the top of my head is that you have a inlinestyle and a classname in the element and with that the classname takes precedence.

[2019-01-26 20:52] kripod commented on #3853
not stale

[2019-01-26 21:13] AlexanderProd opened #11324 "WebpackError: Invariant Violation: Minified React error #62"
## Summary
`Gatsby build` throws `WebpackError: Invariant Violation: Minified React error #62` error, gatsby develop works without problems though even tough `gatsby develop works fine`.

## Relevant information

[code]
This is the full error message I'm getting. I've tried eliminating every wrong mapping of style properties like described in the full React error message but the problem still pers

[2019-01-26 23:41] eric-personal commented on #8519
I finally upgraded to V2 and still having this issue. Anyone know how to get this working ?  I'm using     gatsby-plugin-sass and
 gatsby-plugin-postcss

[2019-01-27 01:03] gregrafferty opened #11326 "[gatsby-plugin-sharp] Should srcset include the original image size?"
I've been building an image gallery but I've noticed that, no matter the sizes I specify to generate a fluid image, the srcset always seems to include a reference to the original image at its full resolution.

Is it at all possible to override this? Ideally I want to avoid uploading past a certain resolution or have the option of excluding the original from the srcset. I've included a screenshot b

[2019-01-27 01:08] jufemaiz commented on #10070
No worries. It’s a little hacky but it meets the requirements.

Still working out what to do for a noscript option though.

[2019-01-27 01:56] KyleAMathews commented on #9374
Yup!

[2019-01-27 04:10] MitchellCash commented on #11280
@jonniebigodes thanks! I was using some existing code and forgot to clean up the mess proper. I have done so now in the repo just to make sure no other issue is introduced while we focus on the no blur issue.

Very interesting what you say! I use Firefox, so I jumped over to Chrome and you are correct the blur up effect is working as I would expect...

So it's Firefox specific from what I can tell

[2019-01-27 08:56] #11324 closed

[2019-01-27 09:18] trepidacious opened #11329 "Simplify using-gatsby-image example"
## Summary

The [using-gatsby-image](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-gatsby-image) example is complicated and uses multiple features unrelated to gatsby-image. The code related to images is spread across multiple locations. There are few comments.

### Basic example

I would suggest that the example is rewritten to:

1. Remove everything that is not completely necessa

[2019-01-27 09:43] omrllm commented on #11216
I got refused again, but I've read on their forum from an "expert" that in order to get approved you should have a website which is at least six months old and with more than 50 articles.

That is not my case, so I can't say that this is related to Gatsby itself.

[2019-01-27 09:43] #11216 closed

[2019-01-27 10:21] omrllm commented on #11198
Same here!
I have typed `npm update -g npm` to  get the npm 6.7.0 version and I have gatsby 2.0.98.

gatsby plugin offline version -> 2.0.21

Repository with this problem: [there you go](https://github.com/anabcrypto/abcrypto "Repo").

[2019-01-27 10:56] DanielRuf commented on #11198
Try upgrading Node.js which supports `import` statements in newer releases.

[2019-01-27 11:00] DanielRuf commented on #11198
Also can you list the installed dependencies with `npm ls` and run `node --version`.

[2019-01-27 11:00] DanielRuf commented on #11198
Also can you list the installed dependencies with `npm ls` and run `node --version`?

[2019-01-27 11:02] DanielRuf commented on #11198
Bisecting might be helpful here too. I'll test the repo in a few minutes.

[2019-01-27 11:35] DanielRuf commented on #11198
Ok same error here. I'll bisect this.

[2019-01-27 12:16] ajayns commented on #4631
Please do go ahead @xxcxaki

[2019-01-27 12:50] DanielRuf commented on #11198
[code]

[2019-01-27 12:52] DanielRuf commented on #11198
By changing the `import` to `require` it should work. There is probably just a missing loader but why use `import` here anyway when the ESM way just produces issues and mixing `exports` with `import` is never a good idea.

[2019-01-27 13:19] DanielRuf commented on #11198
[code]

Diff after the updater and a new build run @madelyneriksen

[2019-01-27 13:31] DanielRuf commented on #11198
[code]

This should work for .98

[2019-01-27 13:44] DanielRuf commented on #11198
Maybe I am on the wrong track, the change produces failing tests https://github.com/gatsbyjs/gatsby/pull/11331

Not yet sure why.

[2019-01-27 14:03] mukul-rathi commented on #2410
Have a similar problem with svg files - I get the "info changed file at ...../file.svg but the actual webpage doesn't refresh - I have to stop `gatsby develop` and manually clear the `.cache` folder.

[2019-01-27 14:04] calcsam opened #11333 "Create official page transition documentation"
We should convert the content in @TylerBarnes' blog post on `gatsby-plugin-transition-link` into part of our official documentation -- a section on "Adding page transitions" in the "Adding website functionality" section.

While this should not be portrayed as the *only* way to do page transitions with Gatsby, it should be shown as a *good* way to do this.

An overview can be taken from the Overvie

[2019-01-27 14:20] nsebhastian opened #11334 "gatsby-remark-prismjs is out of the line when highlighting jsx"
## Description

gatsby highlighted the right line, but it caused the content of the line to be pushed down a line. Also, it caused a space when highlighting sometimes

### Steps to reproduce

This is the code I'm trying to highlight:
[code]

Another one:

[code]

### Expected result

![2019-01-27 21_14_22-window](https://user-images.githubusercontent.com/10413648/51802070-a15a9980-2278-11e9-8538-e

[2019-01-27 14:43] egorovli opened #11335 "[question] provide data via custom plugin and avoid edges (something like `site`)"
Hi 👋 I've setup a simple source plugin to provide locale object to the site (logic mainly taken from here https://www.gatsbyjs.org/docs/source-plugin-tutorial/). It basically reads a `yaml` file and creates a node with its content.

Although accessing the data is pretty awkward:

[code]

and

[code]

How can I provide this object avoiding all these edges and nodes, like the default `site` field on

[2019-01-27 14:45] muescha commented on #8138
"The above command does not work" is not enough for search.

Could you add the error message for this command?

[2019-01-27 14:51] DanielRuf commented on #8138
This is a known issue with Yarn and not directly related to Gatsby.

[2019-01-27 14:55] KyleAMathews commented on #11335
You can just directly require a yaml file into your components — e.g. `const localeData = require("../data/locale.yaml")`

[2019-01-27 14:58] egorovli commented on #11335
Woah. That was unexpected 😅 Thanks!

[2019-01-27 15:00] KyleAMathews commented on #11151
Have you seen `createNodeField`? You can use that to create relationships between nodes https://www.gatsbyjs.org/docs/node-creation/#foreign-key-reference-___node

Another method is "mapping" https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types

[2019-01-27 15:01] egorovli commented on #11335
I mean, nothing wrong with interpolation in a `require` call? Like:

[code]

[2019-01-27 15:10] pauleveritt commented on #11151
@KyleAMathews The sample repo uses `mapping`. It sort of works...reverse relationships don't work for 1:N. But the bigger problem: if you change data on one end, you have to blow away the cache to get the other end to use it.

My existing application uses `createNodeField`. But since that's called in `sourceNodes`, it doesn't update after startup (and also suffers from "blow away the cache".)

I p

[2019-01-27 15:15] KyleAMathews commented on #11335
Oh kinda. Webpack gets weird with that. You'll want to use something called `require.context`.

But if you have more complex data querying requirements, webpack isn't suited for that. That's why GraphQL is in Gatsby so you can treat your data as a database and query it.

[2019-01-27 15:15] DanielRuf commented on #11198
The build script succeeds with my proposed cgange. But I'm not sure if this is the right solution. So please test and review it.

[2019-01-27 15:15] DanielRuf commented on #11198
The build script succeeds with my proposed change. But I'm not sure if this is the right solution. So please test and review it.

[2019-01-27 15:16] KyleAMathews commented on #11335
BTW, instead of writing your own source plugin, you can use https://www.gatsbyjs.org/packages/gatsby-source-filesystem/?=source-file https://www.gatsbyjs.org/docs/sourcing-from-the-filesystem/#sourcing-from-the-filesystem

[2019-01-27 15:17] alexieyizhe commented on #11333
Hey, I'm just starting out with open source but I've worked with Gatsby for a bit now; could I work on this issue?

[2019-01-27 15:17] KyleAMathews commented on #11151
When exactly do you have to clear away the cache? The mapping happens when running queries so there shouldn't be anything cached.

`createNodeField` should generally be used in `onCreateNode` — then it'll get called again whenever data changes.

[2019-01-27 15:39] stefanprobst commented on #11333
@alexieyizhe Definitely!

IMHO what should be noted in a docs section on page transitions is that while `TransitionLink` is awesome it (naturally) does not support transitions when navigating with browser buttons.

[2019-01-27 15:46] egorovli commented on #11335
I tried that initially with `gatsby-transformer-yaml`, but I needed a way to pass `BUILD_LANG` env variables to the graphql query, and I found out it was impossible with `StaticQuery`. The original idea was to have a `Layout` component which receives the locale from graphql and passes it down via a context provider, but that is unfortunately not possible.

Anyway, the direct `require` call is way

[2019-01-27 16:04] alexieyizhe commented on #11333
Sounds good, noted :)

[2019-01-27 16:32] cardiv commented on #6961
There is a [PR](https://github.com/gatsbyjs/gatsby/pull/10942) for adding custom routes. This includes fetching full WPML translations.

Hope this get merged soon.

[2019-01-27 17:12] TylerBarnes commented on #11333
This is awesome! :)
@stefanprobst that's true and should definitely be noted. I have some plans brewing to add transitions to location history, but nothing in the plugin yet.
If you guys want an example using react-spring I wrote one up recently in this issue https://github.com/TylerBarnes/gatsby-plugin-transition-link/issues/34
It may or may not be useful. Let me know if you have any questions th

[2019-01-27 17:16] #3817 closed

[2019-01-27 17:16] #4150 closed

[2019-01-27 17:16] #4268 closed

[2019-01-27 17:16] #7794 closed

[2019-01-27 17:16] #8461 closed

[2019-01-27 17:16] #8525 closed

[2019-01-27 17:46] TuckerWhitehouse commented on #5553
This is is not stale and should be re-opened.

[2019-01-27 17:54] jonniebigodes commented on #11280
@MitchellCash tested it in firefox 64.0.2 and yes it looks like doesn't play nice with with the content coming from the plugin, or someone forgot something, because while spending the entire morning at this, finally it hit me! i was checking the elements tab on chrome devtools and this made me think,
with the image element selected from a page:

[code]

and the same page loaded in firefox and look

[2019-01-27 18:43] DanielRuf commented on #11198
Hm, or is it due to the new preset?
https://github.com/gatsbyjs/gatsby/commit/69faca0bff0e2c04e6b3be50bba087284c3dbf6b#diff-a30bb413b08d8091d9187909b256c943

Is the plugins array correct?

[2019-01-27 19:01] Alphascythian commented on #7013
I've suffered from this, for past weeks. It was kind on and off situation.
It doesnt happen and new, fresh project but my current one has grown a little.
But just today I came to conclusion that setting my laptop to best performance, particularly on battery.
TLDR: Your PC is weak for the bundles, boost it or get a better one.

[2019-01-27 19:17] mehrad-meraji commented on #11198
I `npm update` and the problem went away

[2019-01-27 19:34] calcsam commented on #2662
We've now introduced Gatsby themes. Learn more here:

https://www.gatsbyjs.org/blog/2018-11-11-introducing-gatsby-themes/

https://www.gatsbyjs.com/gatsby-days-themes-chris/

[2019-01-27 19:34] #2662 closed

[2019-01-27 19:52] mehrad-meraji commented on #11198
@DanielRuf, I can't reproduce it I guess it was a fluke I am still getting the error.

[2019-01-27 20:03] brookslyrette commented on #7454
Seeing this as well on: `2.4.7`

[2019-01-27 20:17] oorestisime commented on #11284
I would like to work on that. i am assigning myself

[2019-01-27 20:18] oorestisime commented on #11283
This seems similar to #11284 so i am assigning this to myself as well :)

[2019-01-27 21:21] bastianfiebig commented on #11118
if i put fonts.css in the static folder, the file will be removed on every restart/rebuild. What am I doing wrong?

[2019-01-27 21:37] riddla commented on #11179
There might be a way. The following (rough and dirty) code checks the post body/content for images and replaces them with local WordPress media.

The code has a lot of flaws but did work for me in my first tests. I'll keep you posted as soon as I have something more stable. I'm thinking of a StaticQuery that only gets the used image(s):

[code]

[2019-01-27 21:45] TylerBarnes commented on #11179
@riddla funny timing. I added support for this in my source plugin just minutes ago! https://github.com/TylerBarnes/gatsby-plugin-wordsby/pull/1
I think managing this in templates isn't such a good idea. It's much better to do this in the build phase during node creation.
If someone wouldn't mind letting me use a demo repo for a gatsby site using `gatsby-source-wordpress` I could turn the code I w

[2019-01-27 21:52] riddla commented on #11179
@TylerBarnes: I was thinking about the build phase also. I’ll try to bring up a demo site I was planning already tomorrow and give you access :)

[2019-01-27 21:55] TylerBarnes commented on #11179
Awesome, thanks @riddla :)

[2019-01-27 22:44] jonniebigodes commented on #11239
@itwasmattgregg i've picked up on your issue and i could not reproduce your issue.
Bellow are the steps i took so that i could attempt to reproduce your issue:
- Created a new gatsby website with the blog starter.
- Updated the packages to the latest version.
- Created a structure like so:

  ![folder_structure_blog](https://user-images.githubusercontent.com/22988955/51807784-77f33b00-2283-11e9-85

[2019-01-27 23:05] lannonbr opened #11342 "[docs] Map stubs to existing issues on GitHub"
## Summary

Throughout the docs, we have a links in the sidebar that are greyed out noting an article that doesn't exist yet but would be useful to have. When you visit one, it currently has a notice saying

### Basic example

For instance, the [How to run a Gatsby workshop](https://www.gatsbyjs.org/docs/how-to-run-a-gatsby-workshop/) page is a current stub, but we also have a issue open for such:

[2019-01-27 23:19] EvHaus commented on #7377
I'm having the same issue. I've clicked around on every page in `gatsby develop` mode and all images load just fine, but the application won't build as a result of this error. I have no idea where to look next.

[2019-01-28 01:06] snirp commented on #10341
Not having luck with `gatsby-remark-unwrap-images`. It only seems to work if the <img> tag is a direct child of the <p> tag, but that is not how `gatsby-remark-image` works. It wraps the image in a <a> tag (which you can disable) and then a <span> tag.

[2019-01-28 04:57] jordanoverbye commented on #10708
I think this can be closed due to https://github.com/gatsbyjs/gatsby/pull/11095

[2019-01-28 06:14] andrewbranch commented on #6097
Seeing this as well. Not stale.

[2019-01-28 06:56] #11335 closed

[2019-01-28 07:05] SeaDude opened #11347 "Corrupt Content Error on Gatsby Website"
## Description

A number of links on the Featured Site gallery are returning with "Corrupted Content" errors. The thumbnails are white in the gallery, error appears upon clicking.

### Steps to reproduce

Go to Gatsby website. Click Featured Sites. Choose Education filter. Click Load More
![image](https://user-images.githubusercontent.com/8636973/51819661-0a95d900-2288-11e9-9cda-bc110fcfcaba.png)

[2019-01-28 07:10] freiksenet commented on #4261
@stefanprobst btw, instead of projection as an object, we should include a GraphQL fragment.

[2019-01-28 07:32] freiksenet commented on #4261
@stefanprobst right, that makes sense. We can keep it as is for now. Fragment is more flexible cause one can include eg nested fields. I'm borrowing it from [here](https://www.apollographql.com/docs/graphql-tools/schema-stitching.html#adding-resolvers)

[2019-01-28 07:35] mufaddalmw commented on #8755
@erw13n I tried importing as <script/> tag inside index.js and it threw error
[code]

[2019-01-28 08:06] #9607 closed

[2019-01-28 08:39] stefanprobst commented on #4261
@freiksenet I'm all for allowing fragments to extend the selection set! Nested fields *should* work with the projection object as well though, e.g. `projection: { foo: true, nested: { foo: true } }`.

[2019-01-28 08:49] AnushPatel commented on #11347
Hi @SeaDude,
I just tried to reproduce this with no avail? Can you try again and see if it still occurs? I will try out Chrome and Firefox to see if maybe that's the cause...

Anush :-)

[2019-01-28 09:57] Ravothulachandu commented on #4486
I am also having the same problem please help me.

[2019-01-28 09:58] nsebhastian commented on #11334
For those encountering the same issue, turns out you have to update gatsby-remark-prismjs

Mine was version 3.0.1 and updated to 3.2.2

All is well now.

[2019-01-28 09:58] #11334 closed

[2019-01-28 09:59] freiksenet commented on #4261
@stefanprobst Hey, why do you have this line in the code?

[code]

[2019-01-28 10:21] Ehesp opened #11348 "Creating pages with invalid path silently errors"
## Description

While creating pages programatically using the `createPage` action, one of my `path`s has the following characters...

### Steps to reproduce
[code]
### Expected result

If the characters are not allowed, I'd hope for a warning or error telling me so.

### Actual result

Strangely, the page is created, however the results are unexpected.

- While on the dev 404 page, I can see my p

[2019-01-28 10:42] stefanprobst commented on #4261
@freiksenet Sorry should have put a comment there. `graphql-compose` can save a reference to a corresponding `InputTypeComposer` on this property of the `TypeComposer`. When updating `SitePage` we want to create a new `InputObjectType`, this seemed to be the simplest way without having to mess with the local cache in `getFilterInput`. Deleting the property *should* produce a new InputTypeComposer

[2019-01-28 11:16] Coder2012 commented on #9580
@mik-laj

Thank you for your solution, I don't quite understand how to use it with multiple queries though. Would you be able to show example please?

[2019-01-28 12:13] CarlRosell commented on #11298
I will reopen this one as the PR is not merged yet and this is still a problem

[2019-01-28 12:32] siddv commented on #8833
Heya @jaredsilver . I'm trying to do something similar. Do you have an example of how you did this?

[2019-01-28 12:53] waifo commented on #3425
I am still facing this issue, asked a question on stackoverflow
https://stackoverflow.com/questions/54402112/gatsby-develop-command-runs-but-gatsby-build-gives-error

[2019-01-28 13:19] sidharthachatterjee commented on #11348
Thank you for opening this @Ehesp

The path is fine (as far as I know) and both `gatsby develop` and `gatsby build` build it correctly. It is in the right directory — public/reference/mono-v6.x.x/index.html

gatsby serve works correctly, looks like a minor issue with the webpack dev server setup during develop

[2019-01-28 13:36] LekoArts opened #11350 "[docs] Add "emotion" to Styling section"
We also want to have [emotion](https://emotion.sh/) in the styling section of the docs: https://www.gatsbyjs.org/docs/styling/

The title should be `Using CSS-in-JS library emotion` and also be added to the sidebar under the Glamor entry. Furthermore the Glamor entry should get a note at the beginning, saying that the maintainer recommends using emotion as it's actively maintained (Glamor isn't).

[2019-01-28 13:41] LpmRaven commented on #11306
- the graphql-yoga and Prisma backend doesn't get data from contentful, only the data for the prices. This is loaded into the prices component using apollo as shown below (with the apollo provider in both the gatsby-browser.js and gatsby-ssr.js files).
- Yes. Contentful loads data at build and Apollo loads price data on client load. The Contentful data is requested in the page (template) graphql (

[2019-01-28 13:56] ajayns opened #11352 "Webpack aliases causes issues on production build"
## Description

### Steps to reproduce

1. Setup `gatsby-node.js` with Webpack aliases:

[code]

2. Import using an alias, for instance, `import { SCREEN } from 'constants';` and use it in the code. In my case specifically I'm using it with styled-components.

3. Run production build with `gatsby develop`

### Expected result

Imports should work as expected

### Actual result

[code]

### Environ

[2019-01-28 14:04] codejamninja opened #11353 "gatsby-plugin-elasticlunr-search dependency conflict with graphql"
Please use the `@gatsby-contrib/gatsby-plugin-elasticlunr-search` plugin instead of the `@andrew-codes/gatsby-plugin-elasticlunr-search` plugin, because the andrew-codes plugin has a dependency conflict with graphql.

You can find more information at the link below.

https://github.com/andrew-codes/gatsby-plugin-elasticlunr-search/issues/22

[2019-01-28 14:17] jaredsilver commented on #8833
@siddv Yup! Here's part of the code we're currently using in `gatsby-node.js`. It's pretty bad and makes a lot of assumptions. I'm hoping not to have to refactor it though and am waiting to see what happens with #10933 😂

The string that we use to identify a file that should be routed to AWS rather than our server is `marketingasset`. It's just hardcoded in there for now.

**Note: I'm assuming thi

[2019-01-28 14:17] sidharthachatterjee commented on #11297
Thank you for opening this @tatchi

The link is broken and while we can change it to /#adding-images-fonts-files, that section doesn't mention anything about stylesheets and could be confusing.

I'd probably lean _towards_ removing the `stylesheets` word from that sentence entirely but I think @shannonbux should have a better idea here.

[2019-01-28 14:18] gurpreet-hanjra commented on #11350
Hello, I would love to start with it. Although, I'm more into styled-components but documenting styling with emotion would be interesting.

[2019-01-28 14:23] sidharthachatterjee commented on #11305
Hey @gniquil

Thank you for opening this and digging around. @DSchau is working on adding support for this in https://github.com/gatsbyjs/gatsby/pull/10933.

Closing this issue for the moment since it is a duplicate of https://github.com/gatsbyjs/gatsby/issues/8833 but please feel free to follow along the conversation there!

[2019-01-28 14:23] #11305 closed

[2019-01-28 14:32] sidharthachatterjee commented on #11308
Thank you for opening this @seaneking

We would love to accept a PR adding this! Would you be interested?

[2019-01-28 14:34] #11267 closed

[2019-01-28 14:37] waifo commented on #10742
Why data passed in gatsby-node.js file as context is not received in components in pages folder during gatsby build..?
can anybody please explain
Gatsby develop is running fine but Gatsby build is failing

[2019-01-28 14:38] sidharthachatterjee commented on #11320
Thank you for opening this @pantelis

`gatsby-remark-katex` currently does _not_ support macros but this should be a simple fix. We just need to accept options in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-katex/src/index.js and pass it on to the katex instance

Would you be interested in doing this? We would love to accept a PR adding this!

[2019-01-28 14:40] #11322 closed

[2019-01-28 14:41] DSchau commented on #10742
@waifo could you provide a reproduction? Page context (from `createPage`) is a pretty crucial functionality in Gatsby so we would love to take a look to help you resolve this issue!

Thanks!

[2019-01-28 14:42] jonniebigodes commented on #10742
@waifo did you go read my comment above?

[2019-01-28 14:43] waifo commented on #10742
@DSchau
I have asked a question on stackoverflow
Please check if it is helpful
https://stackoverflow.com/questions/54402112/gatsby-develop-command-runs-but-gatsby-build-gives-error

[2019-01-28 14:43] #11005 closed

[2019-01-28 14:44] waifo commented on #10742
@jonniebigodes
Ya iread that but i am unable to understan the real issue

[2019-01-28 14:47] jonniebigodes commented on #10742
if you want i can put all of the code in a repository and you can see it for yourself, or you create a github repo with the code and share so it can be looked at. Sounds good

[2019-01-28 14:50] sidharthachatterjee commented on #10742
Hey @waifo

Just took a look at your question on Stack Overflow. Unfortunately we'll need more info to investigate what is happening here! Could you please link to a minimal reproduction?

[2019-01-28 14:53] #11298 closed

[2019-01-28 14:56] sidharthachatterjee commented on #11347
Thank you for opening this @SeaDude

Can't reproduce this on either Chrome 71.0.3578.98 or Firefox 65.0b7

Could you please post more details about the environment and maybe add a screenshot of the console if you're still able to reproduce this?

[2019-01-28 15:01] waifo commented on #10742
@sidharthachatterjee @jonniebigodes
I am creating pages dynamically in gatsby-node.js file
 //Create a page for each Product.
  allProducts.map((edge)=>{
    let product = edge.node
    createPage({
      path:`/product/${product.id}`,
      component: require.resolve('./src/pages/product.js'),
      context:{product}
    })
  })

i have product component in pages where i am showing all properties

[2019-01-28 15:02] sidharthachatterjee commented on #11352
Hey @ajayns

Could you please link to a minimal reproduction repo for this?

`entry`, `output`, `target`, and `resolveLoaders` are ignored in setWebpackConfig documented in https://www.gatsbyjs.org/docs/actions/#setWebpackConfig

`resolve` should work though as far as I know

[2019-01-28 15:02] waifo commented on #10742
My question is why it is failing at build but not at develop
am i doing anything wrong..?

[2019-01-28 15:05] DSchau commented on #10742
@waifo that could be an issue with a specific page not _all_ pages right? Is it possible you have a null product?

And sorry--once more we can really help you much more effectively if you are able to link to a Github repository demonstrating the issue.

[2019-01-28 15:05] sidharthachatterjee commented on #10742
Looking at the excerpt, I'm not sure @waifo

Would love to help resolve this but will need to be able to reproduce what you're seeing! Can you link to a repo? Will be glad to take a look and help fix this

[2019-01-28 15:10] sidharthachatterjee commented on #11342
This is a great idea, @lannonbr! It _might_ be extra effort to keep track of issues and stubs though

Let's see what @m-allanson and @shannonbux have to say!

[2019-01-28 15:11] SeaDude commented on #11347
Hello,
The thumbnails are now showing on the Gatsby Showcase page and the error is no longer occurring.
I'm on Firefox for Ubuntu 1.0.
Thank you

[2019-01-28 15:11] #11347 closed

[2019-01-28 15:36] slk333 opened #11355 "Gatsby site freezes after swiping to go back in iOS Safari"
see: https://github.com/gatsbyjs/gatsby/issues/2842
please re-open the issue

Currently on every Gatsby site, when swiping to go back in mobile safari, the screen freezes up and sometimes goes blank for ~2-6 seconds. This really breaks the flow of the site.

just try on gatsby website itself

gatsbyfreeze

As soon as the page go backs I try to scroll, but its completely frozen (until that highligh

[2019-01-28 15:45] riddla commented on #11179
@TylerBarnes: I just added you as a collaborator to a private GitHub repo that is automatically deploying to
https://headless-wordpress-via-gatsby.netlify.com/.

[2019-01-28 15:45] sidharthachatterjee commented on #11326
@gregrafferty We _always_ include the original image by design
https://github.com/gatsbyjs/gatsby/blob/1d5ccff73b0c6c0dffcb8f812e50f31b2d7b36ee/packages/gatsby-plugin-sharp/src/index.js#L649

If I understand correctly, you want to keep the original image but just not include it in the `srcset`, right?

[2019-01-28 15:50] gurpreet-hanjra commented on #11350
Hello @LekoArts I have raised a PR here for review. Please let me know if something is missing. https://github.com/gatsbyjs/gatsby/pull/11356

[2019-01-28 15:52] DanielRuf commented on #11198
After `yarn import` and doing an install with Yarn:
[code]

[2019-01-28 15:57] jonniebigodes commented on #10742
@waifo `<img src={product.imgSrc }alt=""/>` you have an error here, it should be `<img src={product.imgSrc } alt=""/>`.
Check the `allProducts`, beforehand, meaning `console.log(....)` it in `gatsby-node.js` to see if any of them has a null in that specific property.

If you can share the entire page code, this because, while reading the code from your post on stackoverflow it seems to me that pro

[2019-01-28 15:59] raulrpearson commented on #11307
Absolutely, I'll try to get it done tomorrow. I'll change the `isArray` use in `gatsby-node.js` and use modularized imports in `mapping.js`.

[2019-01-28 16:08] sidharthachatterjee commented on #11307
Thank you, @raulrpearson!

[2019-01-28 16:22] jonniebigodes commented on #11306
@LpmRaven based on my experience and what i'm reading here, i would take a different approach. I would get the contentfull data and the prices data from prism, during build time through `gatsby-node`. Meaning getting two datasets beforehand and when i have my data back i would apply the necessary transformations on it and create the necessary pages based on the template and passing the data via `p

[2019-01-28 16:22] DanielRuf commented on #11198
A workaround is to install the dependencies with Yarn instead of npm which seems to work after importing the npm lockfile.

[2019-01-28 16:45] sidharthachatterjee commented on #11355
I can't seem to reproduce this on http://gatsbyjs.org on my iPhone X running iOS 12.1.3

As far as I know, this was fixed in https://github.com/taion/scroll-behavior/pull/129

[2019-01-28 16:48] siddv commented on #8833
Thanks a lot @jaredsilver! We were trying something similar, but using paths and trying to move the asset files into subfolders. Was causing _a lot_ of issues. Renaming the files seems to work _much_ better. Thanks for this!

[2019-01-28 16:48] sidharthachatterjee commented on #11355
Can also confirm that `scrollRestoration` is set to `auto`
![screenshot 2019-01-28 22 17 31](https://user-images.githubusercontent.com/7701981/51851790-9bcd8400-234a-11e9-81dc-4ed263f74409.png)

[2019-01-28 16:52] shawnmmatthews commented on #8238
Just confirming you ended up going with 0.13.0 for Amplify compatibility correct? 0.13.2 doesn't seem to be an option.

[2019-01-28 16:52] stefanprobst commented on #4261
In type inference, [if a TypeComposer already exists, we use it](https://github.com/stefanprobst/gatsby/blob/d4c7a79e10e9c29977f445a0d0adbfdd86efc21c/packages/gatsby/src/schema/infer/index.js#L15). This is done not mainly because of schema updating, but a TypeComposer can be created when parsing SDL in the step before. One consequence for schema updating is that we re-use a TypeComposer that has t

[2019-01-28 16:54] #10036 closed

[2019-01-28 16:56] ajayns commented on #11352
https://www.dropbox.com/s/8je98v3suoi9tl6/bug.zip?dl=0
There you go. `gatsby develop` works perfectly while `gatsby build` fails with the mentioned error.

[2019-01-28 17:02] slk333 commented on #11355
from the tests I've made, this freeze only appear on iOS 12.2 (I've tested iOS 12.1 and 12.2 simulators, problem only appears on iOS 12.2)
Thank you for your feedback @sidharthachatterjee
What could I do from here?
Is the problem only attributed to Apple?

[2019-01-28 17:07] slk333 commented on #11355
https://youtu.be/Gz3cGhwnHZM

[2019-01-28 17:08] sidharthachatterjee commented on #11355
The issue at https://github.com/gatsbyjs/gatsby/issues/2842 was an iOS Safari bug so yes, looks like this is specific to iOS.

Haven't tested this on the iOS 12.2 beta yet.

[2019-01-28 17:14] sidharthachatterjee commented on #11329
cc @shannonbux

[2019-01-28 17:16] gregrafferty commented on #11326
@sidharthachatterjee I'm attempting to build an image gallery that will integrate with a third party API for the purpose of selling prints of photos. Ideally I want to keep the original images at full size in the repo so I can generate the optimised images for the site, but then still have the full quality originals hidden away in a randomly named folder so that I can use a third party service to

[2019-01-28 17:16] #2898 closed

[2019-01-28 17:16] #3560 closed

[2019-01-28 17:16] #5874 closed

[2019-01-28 17:16] #7583 closed

[2019-01-28 17:16] #8419 closed

[2019-01-28 17:16] #8420 closed

[2019-01-28 17:16] #8443 closed

[2019-01-28 17:22] sidharthachatterjee commented on #11326
Thank you for the details @gregrafferty

If I understand correctly, besides excluding the original image in `srcset`, you would also need to exclude it from the built assets (since a _sharp_ 😛 user could inspect assets and look for originals in the same folder)

I'd lean towards not including the original image in the repository at all and starting off with a resized image.

[2019-01-28 17:56] Steffi3rd commented on #7649
Hi,

I had this problem but using two
[code]

[2019-01-28 17:59] peterlazzarino commented on #8386
not stale

[2019-01-28 18:13] #11281 closed

[2019-01-28 18:15] pieh commented on #11281
`gatsby@2.0.101` and `gatsby-plugin-netlify-cms@3.0.11` were released with fixes - please update both

[2019-01-28 18:59] #10553 closed

[2019-01-28 19:46] aprather51 opened #11362 "Warning issued on Gatsby v2 Link and Styled Components/React props"
## Description
Getting browser console error:
*Warning: React does not recognize the `bgColor` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `bgcolor` instead. If you accidentally passed it from a parent component, remove it from the DOM element.*

### Steps to reproduce
Link.js
[code]

### Expected result
Function does work,

[2019-01-28 20:14] marcneander opened #11364 "gatsby-source-contentful: Maximum call stack size exceeded"
Not sure if this is a bug or not. And unfortunately I don't really have much time this week to investigate. But I thought I might as well put this up here.

I'm using the `gatsby-source-contentful` plugin. In my contentful content model I'm having two content types, both with the new Richtext editor. Problems occurs when I have entry links to each other.

To be more clear. Say I have two pages, ho

[2019-01-28 20:21] janosh commented on #9488
@Khaledgarbaya Any news regarding [gatsby-transformer-contentful-richtext](https://github.com/contentful/gatsby-transformer-contentful-richtext)? How come the repo was archived? Would be really to cool to use that!

[2019-01-28 21:36] Cobwebster opened #11367 "How do I know if its working?"
I didn't see any explanation about how it works or what exactly it does.

Does it generate a url I can send to google to index the sitemap.xml? How can do I test to see if it worked.

Sorry for the basic questions, I didn't see any explantation. Just how to install.

[2019-01-28 21:42] stefanprobst opened #11368 "Issues with sort fields"
Some issues with sort fields:

* fields linking to other nodes with the `___NODE` naming convention are included as is in the sort fields enum. This means (i) we cannot sort by fields on the linked node; (ii) we also cannot sort by the foreign-key value on the ___NODE field, because we [replace triple underscores with dots](https://github.com/gatsbyjs/gatsby/blob/ff3f14929348015bc5f6967427c61f9974

[2019-01-28 21:50] danoc commented on #11367
Hi, are you referring to the Gatsby sitemap plugin?

If so, `gatsby build` should generate a `sitemap.xml` file at the root of the `public` folder that it generates. If you do `gatsby build && gatsby serve`, you should also be able to see the sitemap at `localhost:9000/sitemap.xml`.

[2019-01-28 22:01] Cobwebster commented on #11367
Ah thanks, didn't see it until running gatsby build

[2019-01-28 22:01] #11367 closed

[2019-01-28 22:39] pieh opened #11369 "implementing `onPreInit` API hook makes `cache` instance unusable"
We create instances of `cache` on the first API that plugin implements ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/api-runner-node.js#L95 ). Initialization of `cache` also takes care of ensuring that dedicated cache directory exists ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/cache.js#L20 ).

When there is no `.cache` directory / or no

[2019-01-28 23:01] renschler opened #11370 "Jest Unit Testing tutorial with typescript results in error: "Cannot write __mocks__/fileMock.js bc would overwrite input file""
## Description

I'm trying to migrate my existing gatsby project to Typescript. In doing so I followed the [Unit Testing tutorial's advice for working with typescript](https://www.gatsbyjs.org/docs/unit-testing/#using-typescript).

Since I'm relatively new to typescript/gatsby/jest I'm not really sure what to make of this error but figured I would file an issue in case it helps anyone else.

### S

[2019-01-28 23:03] DSchau commented on #11370
@renschler could you provide a reproduction so we could take a look?

Thanks!

[2019-01-28 23:07] karenhou commented on #11364
[https://www.gatsbyjs.org/packages/gatsby-source-contentful/?=contentful](url)

Not sure if this would help, but try to disconnect one of your reference.

[2019-01-28 23:46] gmossong commented on #11333
It would be great to have the docs for this follow on from the tutorial, because, I first built my site using the techniques shown in the tutorial and now I'm working on integrating transitions. When dissecting Tyler's demo site there is all sorts of unfamiliar stuff going on that I've not yet encountered on my Gatsby journey so this is making it extra confusing I think and so far I haven't been a

[2019-01-28 23:48] drake-smith commented on #6233
@DSchau Yes, sorry, was writing this up but I should have posted this before closing the issue.

The culprit was a font file with a capital letter in it. Of course, I had quadruple-checked my Sass file names but not the font files.

I would be interested in having the ability to use Pascal Case (i.e. TextBlock.js) in my Gatsby project that's hosted on Netlify am not sure how to approach that.

[2019-01-29 00:04] gregrafferty commented on #11326
Thanks @sidharthachatterjee. I'll give that a go, the build time is pretty slow at the moment anyway (with only around 20 images at ~40 megapixels each it's taking around 6 minutes to generate all the resizes) so I think it might be my best option.

[2019-01-29 00:04] #11326 closed

[2019-01-29 01:59] fantapop commented on #9667
Is there any chance this would make it in the roadmap?

On Mon, Jan 28, 2019 at 9:17 AM gatsbot[bot] <notifications@github.com>
wrote:

[2019-01-29 02:01] LpmRaven commented on #11306
@jonniebigodes I do agree with you. Unfortunately, the prices data cannot be retrieved at build time as they update frequently and would require me to constantly rebuild the site.

My question was more about how to implement product filtering, I don't want to have that "loading" state for the products themselves if I switched the product data request to client load.

I was considering having an in

[2019-01-29 02:05] KyleAMathews commented on #11306
How often do prices change and how quickly do you need to update the price?

[2019-01-29 02:06] KyleAMathews commented on #9667
You can read about how to setup caching for Gatsby sites @ https://www.gatsbyjs.org/docs/caching/