[2019-05-30 20:20] lukedohner commented on #14439
Not sure what the gatsbot wants me to do. The body of this issue is not blank. (?)

[2019-05-30 20:23] stefanprobst commented on #14439
@lukedohner yes the error message indicates that there are probably conflicting `graphql` packages (the message is just the first possible error thrown by the `graphql-compose` package we use).

what does `yarn list graphql` show?

[2019-05-30 20:47] KyleAMathews commented on #14414
What exactly was the index.js file? We can add a check for files like that to provide better warnings for people.

[2019-05-30 20:53] lukedohner commented on #14439
I used npm list graphql ...
[code]

Does that mean there are two versions of graphql? How do I delete the older version?
thanks!

[2019-05-30 20:58] cameron-martin commented on #14441
It appears not much is getting server-side rendered:

[code]

But why? :thinking:

[2019-05-30 21:18] m-allanson commented on #14439
Here's a related issue, maybe the steps in there are useful? https://github.com/gatsbyjs/gatsby/issues/14411

[2019-05-30 21:19] pauleveritt commented on #12272
@stefanprobst I understand your point, but I think if the goal is to do less inferred schema and more declared schema, Markdown frontmatter should be in scope. Gatsby with Markdown files is a popular combo. I

Having different types/schema in Markdown would be easier if `gatsby-transformer-remark` didn't make the surface area of forking so big. There's a lot going on in the arrow function that doe

[2019-05-30 21:27] DSchau commented on #14441
@cameron-martin that's unrelated (and not an issue!) related to [gatsby-plugin-offline and a Chrome bug](https://www.gatsbyjs.org/packages/gatsby-plugin-offline/#empty-view-source-and-seo)

@jrusso1020 I can definitely confirm the issue, but it seems to be something with how the site is deployed or something else. That's based on the fact that:

1. `yarn build`
1. `yarn serve`
1. `curl http://loca

[2019-05-30 21:30] cameron-martin commented on #4337
The following also works, although it relies on gatsby internals:

[code]

[2019-05-30 21:41] jrusso1020 commented on #14441
@DSchau I’ve deployed my site to an S3 bucket with cloudfront in front of it as a CDN

[2019-05-30 21:48] DSchau commented on #14441
You have the S3 bucket configured for Static Website Hosting right?

![Screen Shot 2019-05-30 at 4 47 52 PM](https://user-images.githubusercontent.com/3924690/58667086-b3b61400-82fa-11e9-8f8c-ea8d848783f1.png)

[2019-05-30 21:55] m-allanson commented on #14434
Hi @RafaelEsaa! Are you developing on a Mac? When I clone your repo to a Mac, git gives me the following warning:

[code]

It seems you have multiple files with the same name, but different letter case, e.g.:

[code]

The Mac filesystem can't tell the difference, so it just saves one of the files. On my laptop I get `src/components/layout.js`, but no `src/components/Layout.js`.

The Netlify builds

[2019-05-30 22:02] jhoffmcd commented on #14398
@KyleAMathews any chance you can share an example of the hard ways? I would love to help contribute but I don't really know where a good starting place is.

I've worked on teams who have used this flagging approach to great effect in some other frameworks, I would love to see it easy to implement in Gatsby!

[2019-05-30 22:31] maecapozzi commented on #13915
Not stale! I still don't think this is quite clear.

[2019-05-30 22:57] jrusso1020 commented on #14441
@DSchau This is how I have s3 configured
<img width="544" alt="Screen Shot 2019-05-30 at 6 56 16 PM" src="https://user-images.githubusercontent.com/7664106/58670349-b91c5a00-830c-11e9-8e01-03baa008548d.png">

[2019-05-30 23:28] jrusso1020 commented on #14441
I think I was able to fix it by using the endpoint url of the s3 bucket when creating the origin in cloudfront. I found that bit of information here https://www.gatsbyjs.org/docs/deploying-to-s3-cloudfront/#setting-up-cloudfront but now I have the problem described in #9207 where if you forget the trailing slash then you get a redirect

[2019-05-30 23:53] aldomonteiro opened #14446 "gatsby-remark-images & netlify-cms - Cannot query field "childImageSharp" on type "File"."
I am using netlify-cms to create my markdown files. They have a field called `cover` that is an image path.

I found that `onCreateNode` on `gatsby-node.js` could convert this string into a `gatsby-image`, but it is only converting it to a File.

Below the onCreateNode code:

[code]
It is almost working. It is converting the image string to a File, as I can see in the graphql:

[code]
When I try t

[2019-05-31 00:16] njmyers commented on #6654
Yeah the issue is really based on the fact that `createRemoteFileNode` uses concurrency of 200 which is too much for most WP servers. I have my images on CloudFront and it was still too much...

I tried fixing the issue with a branched version of the source-plugin for a while but the issue really isn't in `gatsby-source-wordpress` it is in `gatsby-source-filesystem`. Ideally consumers of the `crea

[2019-05-31 00:17] jonniebigodes commented on #14305
@rudietuesdays like i said on my previous comment i expanded the testing case. I'm going to enumerate the steps i took and my findings.
- Updated the packages to reflect yours, as it seems that you have netlify-cms added and with that some markdown. Now the contents of the file looks like:
[code]

- Updated `gatsby-config.js` to the following:
[code]
- Created a folder called `content`and inside s

[2019-05-31 00:54] jonniebigodes commented on #14367
@abooayoob i've been looking at the code you supplied and i think i have a solution for your issue.
Going to enumerate the steps i took.
- Cloned your repo
- Installed the dependencies
- I issued `gatsby develop ` and i was able to confirm the issue at hand.
- I grabbed the code inside `data.js` which is nothing more than, nothing else than the json you get from your internal api.
- I checked it a

[2019-05-31 01:01] jonniebigodes commented on #14446
@aldomonteiro take a look at [this](https://github.com/jonniebigodes/test_gatsby_netlify_cms) for a way to   have netlify cms and gatsby "playing nice" and being able to fetch the content and more specifically the cover/featured images and a detailed explanation for the code in [here](https://github.com/gatsbyjs/gatsby/issues/12610#issuecomment-475992459)

[2019-05-31 01:14] aldomonteiro commented on #14446
@jonniebigodes I compared my code with yours and made the changes to be the very same and it worked fine! Thank you so much.

[2019-05-31 01:14] #14446 closed

[2019-05-31 01:28] jhabash opened #14447 "Errors while running the Gatsby CLI command "gatsby new""
## Summary

I have just started using GatsbyJS. I followed the GatsbyJS tutorial (https://www.gatsbyjs.org/tutorial/part-zero/) and installed Node.js and the Gatsby CLI.

When I tried the command "gatsby new site", I received errors.

Any help would be greatly appreciated!

## Relevant information

The terminal output:

[code]

After the errors there were some warnings:

[code]
### Environment (if

[2019-05-31 02:01] iamricky commented on #4274
Using `"gatsby": "^2.0.105"` " I'm definitely still seeing this bug.

Tried both local plugin walkthroughs:
https://www.gatsbyjs.org/docs/creating-a-local-plugin/
https://github.com/gatsbyjs/gatsby/tree/master/examples/using-local-plugins

[2019-05-31 02:18] HamidReazaNikoonia commented on #5458
what about pt-5 , pt5 not working

[2019-05-31 02:46] dustinhorton commented on #5458
@HamidReazaNikoonia what part 5?

[2019-05-31 04:15] lewisvrobinson commented on #6474
@tunnckoCore I didn't end up creating a plugin to do this as it worked out better to inform the search engines post-deploy (so the sitemap was guaranteed to be available). But you could easily grab the snippet above and integrate it into your build if that works for you 🙂

[2019-05-31 04:18] Brettm12345 commented on #2575
@KyleAMathews No idea you could link an array of IDs this is a game changer. Thank you so much

[2019-05-31 04:58] mwood23 commented on #11040
Just ran into this error and it was because of `gatsby-plugin-react-svg` and my SVGs living in the same folder as `.png` and `.jpg` files. To fix, I separated them out so my folder structure looks like this.

[code]

`gatsby-config.js`
[code]

[2019-05-31 07:05] #14345 closed

[2019-05-31 07:46] supasuma opened #14450 "Running using-shopify example"
## Description

After running `gatsby develop` for "using-shopify" example I see a few errors.  The first is:-
[code]
and the second
[code]

### Steps to reproduce

Cd into "using-shopify", run npm install, run gatsby develop

### Expected result

See example site

### Actual result

Get errors above

### Environment

[code]

[2019-05-31 07:52] Hence07 commented on #14433
I opened the dev tools and I still get the same result.

I opened the dev tools and I still get the same result. I also check name resolution with the system resolver everything is fine locally.
![Screen Shot 2019-05-31 at 3 43 42 AM](https://user-images.githubusercontent.com/13372822/58690447-86e41a00-8357-11e9-9103-a8a03ad3759b.png)

![gatsby2](https://user-images.githubusercontent.com/13372822/

[2019-05-31 08:06] tunnckoCore commented on #6474
Ookay, thanks! :)

[2019-05-31 08:14] TitanNano opened #14453 "[gatsby-plugin-sharp] imagemin-pngquant fails to process images larger than 10 MB"
`imagemin-pngquant` had an unintended limit of 10 MB for some of it's buffers. This causes the library to fail a processing images larger than 10 MB. This was fixed in version 6.0.1 and higher, it would be great if `gatsby-plugin-sharp` could update to at least `imagemin-pngquant@6.0.1`

[2019-05-31 08:16] osartun commented on #11056
@emaildano @KyleAMathews Yes, sorry, I never replied here.
So, we actually solved the issue by changing the content. I wrote an internal Gatsby plugin that runs `onPostBuild` and goes through all relevant pages and checks if the in-site and relative links on these pages point to existing Gatsby pages. If not it reports it as a broken link in the build output. This is how we were able to find all r

[2019-05-31 08:22] Hence07 commented on #14433
I also check if Gatsby server is listening on Port: 8000...Everything is fine.

![gatsbyPortListening](https://user-images.githubusercontent.com/13372822/58692023-b09f4000-835b-11e9-808c-8576d5095464.png)

[2019-05-31 09:02] tareefdev opened #14455 "Generating pages from json file increases the size of bundle"
## Description
Using a JSON file to generate HTML static pages results in a big JS bundle size.

### Steps to reproduce
- Clone the gatsby-starter-blog repo.
- Add JSON file to it (I used a [file](https://github.com/tareefdev/test-json/tree/master/src/data) with ~16MB of size)
- [Query](https://github.com/tareefdev/test-json/blob/master/gatsby-node.js#L28) it using GraphQL in `gatsby-node`
- Add a

[2019-05-31 09:27] Siyfion commented on #14185
@andykenward but the thing is, I don't _think_ that the `gatsby-source-contentful` plugin is actually using Contentful's GraphQL API, as it's currently reserved for specific high-throughput/perf. spaces.

So the GraphQL fragments, types, etc. must _all_ be coming from the Gatsby plugin!?

[2019-05-31 09:44] m-allanson commented on #14450
Hey @supasuma I'm sorry you ran into this. There's a related issue here: https://github.com/gatsbyjs/gatsby/issues/14420

As a temporary workaround, downgrading to `gatsby-source-shopify@2.0.32` should work for now

[2019-05-31 11:32] pieh commented on #14455
Right now we do bundle pages manifest (list of all pages, what template they use and link to results of the query) which is main growing chunk. There is ongoing work of changing that part - https://github.com/gatsbyjs/gatsby/pull/14359 that will make Gatsby sites more scalable. You can try it using `npm install gatsby@per-page-manifest`

[2019-05-31 11:36] pieh commented on #14436
I'm not sure if manipulating nodes is safe there. We might move API around in the future that it will break this accidental feature

/cc @freiksenet @stefanprobst

[2019-05-31 12:00] #14420 closed

[2019-05-31 12:00] #14450 closed

[2019-05-31 12:16] pieh commented on #14374
I updated gatsby to latest and this seems to fix it for me

[2019-05-31 12:19] pieh commented on #14396
I think you might need to re-order your remark plugins to put `gatsby-remark-video` (if this is the plugin you are using) before `gatsby-remark-prismjs`. If this doesn't help, then more details are needed here - ideally [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)

[2019-05-31 12:24] pieh commented on #14447
Error happens during regular `npm install` (one of steps that `gatsby new` does)

This is pretty confusing warning (that could explain subsequent errors)
[code]
I would try checking https://stackoverflow.com/questions/47226238/npm-warn-npm-npm-does-not-support-node-js-v9-1-0 which seems very similar

[2019-05-31 12:28] scotNZ opened #14460 "Field "image" must not have a selection since type "String" has no subfields."
## Description

As described in various other issues, this error is sometimes thrown when an gatsby-image field is referenced in a GraphQL query. :

 "Field image must not have a selection since type String has no subfields"

### Steps to reproduce

I first encountered this error when referencing a specific image file that should have been selected by my query but happened to be missing from my im

[2019-05-31 12:29] pieh commented on #14453
We use caret version selector in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sharp/package.json#L16
so 6.0.1 should be installed (and I verified that this is happening with both npm and yarn)

Can you check what version is being used for you?
[code]

[2019-05-31 12:30] pieh commented on #14453
It would also be helpful to provide [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) for this issue - as there might be more than `imagemin-pngquant` that cause problems here

[2019-05-31 12:35] pieh commented on #14460
You can harden generated schema using:
[code]

And yes, we do agree that error message is not conveying much, but this error will happen for multiple different reasons and it's hard to figure out if this error happens because of shape of the schema or actual user error

[2019-05-31 12:46] alexluong commented on #14436
@pieh That makes sense. If that's the case, maybe there needs to be some sort of rules/warning against manipulating nodes in that event?

In the mean time, do you know if it's impossible to manipulate nodes after `setFieldsOnNodeType`?

[2019-05-31 12:58] pieh commented on #14401
We do understand you can't share private projects, but minimal [reproduction demo site](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) would be great here. I personally never used MobX, so setting it up to hopefully reproduce could take long time

[2019-05-31 13:04] pieh commented on #14429
This is quirk of `gatsby-plugin-offline` that it replaces served html with it's own app shell (that will miss those extra head components.

Would it be possible to import those js and css files in about page component instead of adding those head links? Then webpack could properly bundle the code.

[2019-05-31 13:07] #13883 closed

[2019-05-31 13:53] maecapozzi commented on #14099
As someone who has been working on exploring themes, just having those first four topics covered would be valuable. Once that's fleshed out, it might be easier to see where the holes are, or which other topics might belong in the tutorial?

I'd be happy to take the first section to start it off, if that'd be helpful.

[2019-05-31 14:31] maecapozzi opened #14462 "[themes] How do you reference theme components in your consuming application?"
## Summary

It's not clear to me from the documentation how to resolve a component from my theme in my actual application. So if I have a theme called `gatsby-theme-a` with a `Layout` component in it, when I'm in `my-app`, how do I actually import that `Layout` component. Is this possible?

[2019-05-31 14:39] m-allanson commented on #14231
We could do something like this https://github.com/verdaccio/verdaccio/pull/968/files

[2019-05-31 15:19] robthompsonweb commented on #8357
Having the same issue. Only occurs with gatsby build (not develop) and locally as well as on Netlify.
@gurpreetatwal 's fix above seems to fix it. disabling `gatsby-plugin-remove-trailing-slashes` plugin appears to have no effect.

[2019-05-31 15:33] FoxyGirl commented on #14429
@pieh Thank you for your answer!

[2019-05-31 15:37] tareefdev commented on #14455
That's great! The bundle size decreased from 7.2MB to 400KB on the homepage. Should I stay on this branch or it merge shortly into master?

[2019-05-31 16:47] Chalarangelo opened #14466 "Google Analytics plugin page broken"
## Description

Blank page for the [Google Analytics plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/) documentation.

### Steps to reproduce

Visit https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/

### Expected result

Documentation for the plugin.

### Actual result

Blank page.

### Environment

Documentation page for the plugin, Firefox 68 on Windows 1

[2019-05-31 17:01] bbaker6225 opened #14467 "Local gatsby development builds hang after "success extract queries from components""
## Description
When running a gatsby development build, after we source our nodes and build our schema, the build gets to the line `success extract queries from components — 1.340 s` and then hangs for several minutes before continuing

### Steps to reproduce
This issue occurs when running `make develop` locally for the gatsby project in https://github.com/edx/prospectus

### Expected result

The

[2019-05-31 17:06] scotNZ commented on #14460
Hi

Yeh, I understand.

Just think the apparent inconsistency of what I was seeing was worth recording for others.

For anyone following along, this may help you based on my experience:

If you are referring to image elements contained in an array, make sure the first image file in the array is being referred to correctly and it is present in the target folder. In my case a missing image not at th

[2019-05-31 17:06] #14460 closed

[2019-05-31 17:11] fk opened #14468 "[www/showcase] Twitter cards not working for individual "Showcase" entries"
Happened to all three URLs I tested:

![image](https://user-images.githubusercontent.com/21834/58722475-cc482c00-83d7-11e9-829e-52e7c2b99688.png)

[2019-05-31 17:11] scotNZ commented on #14460
There appear to be many issues with inferred schemas. Anyone with complex data constructs causing trouble might be better served through a custom schema: [https://www.gatsbyjs.org/docs/schema-customization/](url)

[2019-05-31 17:18] fk opened #14469 "[www/showcase] "Showcase" entry uses square image as meta `twitter:image`"
E.g. for https://www.gatsbyjs.org/showcase/airbnb.io/ we are setting

<img src="https://www.gatsbyjs.org/static/cbaf442ed29638ce3775856ede4ac483/ef52a/8990f01f5a6d31fce109c16ab078b499.jpg" />

as `twitter:image`.
Let's share the uncropped image instead:

<img src="https://www.gatsbyjs.org/static/cbaf442ed29638ce3775856ede4ac483/54c56/8990f01f5a6d31fce109c16ab078b499.png" />

[2019-05-31 17:23] DSchau commented on #14462
Should be!

Just import it by its path on your filesystem, for instance in this case it'd be:

[code]

(also we'd love any documentation tweaks to clarify this!)

[2019-05-31 17:25] jonniebigodes commented on #14467
@bbaker6225 could you provide a reproduction following these [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) or adjust the link you supplied, because is leading to a non existing page

[2019-05-31 17:27] #13436 closed

[2019-05-31 17:29] bbaker6225 commented on #14467
Ah sorry, the repo is a private repo that I unfortunately don't have the ability to grant access to, and I've been unable to recreate the issue with a small gatsby starter project thus far

[2019-05-31 17:31] DSchau commented on #14466
Unfortunately, this is a known issue with ad blockers (and the hashes that we create).

If you open the page in Incognito (or Firefox's equivalent, e.g. Private Browsing), it should display just fine.

We are tracking on the ad blocker hash issue in #8307

Thanks for opening! Please reply or re-open if we can help further.

[2019-05-31 17:31] #14466 closed

[2019-05-31 18:00] DSchau commented on #14231
@m-allanson I think that's a worthwhile thing to do. We do that similarly in gatsby-cli, but it's not quite as robust or nice as verdaccio's solution. https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/index.js#L18

I also think engines would work pretty well here? At least, in theory 🤞

[2019-05-31 18:52] eclectic-coding opened #14473 "Add Tags and Categories to Blog Posts"
I have a question about the clarity of one of the Doc's.

On the [Docs Page](https://www.gatsbyjs.org/docs/), there is a Link in the sidebar called: `Adding Tags and Categories to Blog Posts`, with a Page URL(https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/) which again is entitled ` ... /adding-tags-and-categories-to-blog-posts/`.

The problem, for clarity, is that the actu

[2019-05-31 19:00] jonniebigodes commented on #5371
@pmarxbraun sorry for the wait. And i think i have a solution for your case.

What i did was:
- Modify my `gatsby-config.js` to match yours and as soon as i issue gatsby develop i'm presented with the following:

![braun1](https://user-images.githubusercontent.com/22988955/58727540-8e99d200-83dc-11e9-9598-0717d4faffca.png)

![braun2](https://user-images.githubusercontent.com/22988955/58727550-922d

[2019-05-31 19:08] maecapozzi commented on #14462
Hey @DSchau, thanks so much! Nailed it! You'll see a PR from me to try to make this even clearer in the docs soon :)

[2019-05-31 19:17] mathieudutour opened #14474 "[gatsby-remark-images] When using `showCaption`, parse the caption as markdown"
## Summary

When using `showCaptions: true` as an option for the `gatsby-remark-images`, it inserts the title of the image as raw html.
How about considering the caption as markdown and parsing it before inserting it?

### Motivation

https://github.com/mathieudutour/medium-to-own-blog/issues/5

Happy to work on it if that's something that you find interesting

[2019-05-31 19:31] muescha commented on #10049
This download manager should also include an cache and some strategies how not redownload media assets when nothing is changed.

[2019-05-31 19:32] muescha commented on #10049
Is there also a stragegy only to download the used media assets (when maybe more assets are saved in wordpress but only some used in the used articles)?

[2019-05-31 19:43] RafaelEsaa commented on #14434
Thanks for your answer @m-allanson I resolved this issue, deleted that files and doing push to the repo  again. Deploy netlify was success!

[2019-05-31 20:46] csellis commented on #9871
I ran into this problem when I used `import` instead of `require` in my `gatsby-config.js` file.

[2019-05-31 21:43] KyleAMathews opened #14476 "Generate page code from graphiql"
An idea from @sgrove / @pieh

OneGraph generates code for you from GraphQL queries — we could do the same thing for Gatsby as a very common workflow is going to GraphiQL to sketch out the query for a page and then using that query for the new page. We could add a button that generates code like the following:

[code]

Initially we could just give them code to copy paste. There's been conversations

[2019-05-31 22:24] erquhart commented on #14418
@talves have you seen anything like this with the new plugin setup?

[2019-05-31 22:29] shannonbux commented on #14403
Probably making these expectations clear in the survey would help people
feel special and . "This survey is getting sent out to a subset of active
Gatsby users and will only be sent, at most, once per quarter. If you'd
like to opt out from future surveys, say no here." or something like that?

I saw an example today of people doing an opt in thing in the CLI with the
command called `feedback` and

[2019-05-31 23:07] jlengstorf commented on #14099
@maecapozzi that would be amazing! @jxnblk wrote an [article about workspaces](https://www.gatsbyjs.org/blog/2019-05-22-setting-up-yarn-workspaces-for-theme-development/) recently, so that should be a great starting point. Thank you!

[2019-06-01 00:43] rchrdnsh opened #14477 "How do I make a multilingual MD/MDX Blog?"
Hi everybody,

I recently implemented some basic i18n/localization/multi-language goodness in an app I'm developing using `gatsby-plugin-intl`.

It's working pretty well, except that this plugin doesn't seem to support an  i18n/localization/multi-language blog. So I was curious if anybody has any experience doing this and could point me in the right direction. I reached out to the developer but I

[2019-06-01 00:58] bryndyment opened #14478 "GraphQL - sort - works locally, breaks in production"
## Description

https://github.com/bryndyment/hoologic/blob/master/src/layouts/index.js#L26-L29

When including sort in my GraphQL query, the sort order works locally, but breaks in production.

Removing the sort resolves the issue in production.

Line 26 in the above URL contains the problematic sort.

Line 29 in the above URL contains the query without said sort.

### Steps to reproduce

See abo

[2019-06-01 01:11] pieh commented on #14455
Hope is to merge it soon-ish, but given size of the change it might take a while to merge. I would keep using dist-tag for now and maybe subscribe to linked pull request to keep track when it's merged

[2019-06-01 01:35] kajchang opened #14479 "Question on wrapPageElement"
## Description

For my project, I have recently moved my `MUIThemeProvider` to `wrapPageElement` in `gatsby-browser.js`.
[code]
When I build, the styles are incorrect.
I was wondering if it's a problem with `wrapPageElement` getting called after the SSR for `gatsby-plugin-material-ui` has finished, somehow messing up the styles, and if I shouldn't be using `wrapPageElement` for this.

### Steps to

[2019-06-01 02:38] amakk commented on #14333
Does anyone else have other ideas? Here's what I'm doing for now:

`import bootstrap from '!raw-loader!bootstrap/dist/css/bootstrap.min.css'`

And then putting it into a style tag:
[code]
But I'm wondering how efficient this is. If I put this in a layout component, will it get re-downloaded on each page navigation? Also, there isn't a way to tell which CSS file the styles are coming from in Chrome

[2019-06-01 07:11] tareefdev commented on #14455
Thanks for helping, also for @Moocar for his amazing work!

[2019-06-01 10:14] zonayedpca commented on #6558
I found this very helpful. But I want to copy my CNAME to the deployed directory every time Travis make a build. Is there any way to achieve this?

[2019-06-01 10:36] MarkosKon commented on #14479
You may have to do the same for `gatsby-ssr.js`. [See this](https://github.com/gatsbyjs/gatsby/issues/11494#issuecomment-460058623).

[2019-06-01 11:46] cj2 commented on #14300
I submitted a [Pull Request](https://github.com/gatsbyjs/gatsby/pull/14470) to resolve this. We have had consistently reliable results setting the parameter in the PR to 100. Hope this helps!

[2019-06-01 13:39] JeffWScott opened #14480 "WebpackError: ReferenceError: localStorage is not defined"
## Description

localStorage is available when running 'develop' but build fails on error "WebpackError: ReferenceError: localStorage is not defined"

### Steps to reproduce

add a reference to localStorage anywhere in your gatsby project

### Expected result

localStorage works

### Actual result

localStorage throws an error on build

### Environment

Run `gatsby info --clipboard` in your projec

[2019-06-01 14:07] kajchang commented on #14479
Ok, thanks!

[2019-06-01 14:07] #14479 closed

[2019-06-01 14:11] kajchang commented on #14480
You should see this comment: https://github.com/gatsbyjs/gatsby/issues/309#issuecomment-223360361. Basically, when you build, `localStorage` isn't defined because it's a browser-only feature. Here's the fix: https://github.com/gatsbyjs/gatsby/issues/309#issuecomment-302043875.

[2019-06-01 14:59] JeffWScott commented on #14480
@kajchang
I'm not sure I follow.  I'm basically building an SPA which relies heavily on local-storage to persist information across sessions.
By the looks of that thread this isn't really possible?

Is Gatsby not the right frameword for SPAs?  That would be a shame because I love working with it.

[2019-06-01 16:57] JeffWScott commented on #14480
@kajchang

okay, I have been able to build and deploy the site.
Basically I had to wait for the window to load before letting everything else load.  luckily i have all my localStorage logic contained in a seperate js file so it wasn't a big hassle.

My solution looks like this:
`
import * as StorageHelpers from '../js/localstorage_helpers';

function PageFramework(props) {
  const [initialized, se

[2019-06-01 17:17] #14480 closed

[2019-06-01 17:20] chadalen commented on #9281
I had the same issue with the allFile not being shown. @petermunro's solution worked for me on Ubuntu Linux.

[2019-06-01 17:27] #12833 closed

[2019-06-01 17:27] #13714 closed

[2019-06-01 17:43] wiput1999 commented on #13966
It seems stable right now, Thanks you, everyone, for help.

[2019-06-01 17:43] #13966 closed

[2019-06-01 19:38] lannonbr commented on #14477
@LekoArts has developed a example i18n blog site with Gatsby here: https://github.com/gatsbyjs/gatsby/tree/master/examples/using-i18n

[2019-06-01 19:56] montylounge commented on #14163
If I remove the <Layout> component from *all* page JS files (404, index, page-2) then the issue is resolved. Not sure if this should stay open or not but I created the ticket as I thought someone else may run into this and wanted to share. This isn't a roadblock for me, but possibly a confusion for someone getting started with gatsby?

[2019-06-01 20:06] mohoff opened #14486 "Broken output of `gatsby build`"
Hi,

I'm having weird results when building my gatsby project, which is based on `gatsby-image`.

When i run `gatsby develop` all looks good:

<img width="932" alt="Screenshot 2019-06-01 at 21 54 12" src="https://user-images.githubusercontent.com/6060612/58752995-7c8d6180-84b8-11e9-9040-94ff91478351.png">

However, when i run `gatsby build` (no errors) followed by `gatsby serve` (or serve `/public

[2019-06-01 20:25] mohoff commented on #14486
Just upgraded all the dependencies to their newest versions, and `gatsby build && gatsby serve` now results in:

<img width="848" alt="Screenshot 2019-06-01 at 22 22 37" src="https://user-images.githubusercontent.com/6060612/58753184-ece9b200-84bb-11e9-85b5-3fe15c42eac1.png">

Looks like the CSS part of the page works now, while the images are still missing.

The new dependency versions are:

[cod

[2019-06-01 20:34] KyleAMathews commented on #14486
Can you try running "gatsby clean" and rebuilding?

--
Kyle Mathews

Blog: http://bricolage.io
Twitter: http://twitter.com/kylemathews

On Sat, Jun 01, 2019 at 1:25 PM, mohoff < notifications@github.com > wrote:

[2019-06-01 20:55] azharulc opened #14487 "Trying to add stylable to my gatsby setup"
## Summary

## Relevant information

I'm trying to integrate stylable into my Gatsby setup, so far I've installed stylable via npm and have added the stylable webpack config into my gatsby-node.js file. when i run `gatsby develop` everything compiles fine and the page I want to look at opens fine but when I import in my `header.st.css` file into my `header.js` at first the page loads fine, but whe

[2019-06-01 21:01] mohoff commented on #14486
Thanks for your reply @KyleAMathews

Same result after `gatsby clean` on updated dependencies

[2019-06-01 21:07] Symbitic opened #14488 "gatsby-plugin-offline causes applications to become dynamic"
## Description

Enabling `gatsby-plugin-offline` causes web pages to be dynamic instead of static.

### Steps to reproduce

Run `gatsby build` with `gatsby-plugin-offline` enabled at the end of `gatsby-config.js`

### Expected result

The file `index.html` should be a static web page. All content that will eventually show on the screen should already be in that file.

For example, it might contain

[2019-06-01 22:13] pieh commented on #14476
For proof of concept - here's sample code changes https://github.com/pieh/gatsby/commit/14563d722f9ab86c647b34e45c2ca476dc2bc737
that results in:
![Screenshot 2019-06-01 at 16 39 26](https://user-images.githubusercontent.com/419821/58754179-13631980-84cb-11e9-9fd6-445e79df2dd6.png)

[2019-06-01 22:22] KyleAMathews opened #14490 "For html generation error, query what the page component path is and add that to the error"
When static html generation fails on a page, currently we only output its path. We should also use GraphQL to query the component for this path to ease debugging as it's often hard to trace back to the original page component.

https://github.com/gatsbyjs/gatsby/blob/82915897439109dc5ade7f77b265069b3d6b38c0/packages/gatsby/src/commands/build.js#L84

[2019-06-01 22:39] mohoff commented on #5309
I'm having the same problem but the steps above don't fix it. It hangs consistently when i run a docker container with this sample Dockerfile:

[code]

Is something wrong with these steps or does it help to narrow this issue down?

[2019-06-01 22:45] kajchang commented on #14480
@JeffWScott you don't necessarily have to use state for this. `typeof window !== 'undefined' && # your localStorage interaction` is a more simple solution, because the root problem isn't that the window is yet loaded, it's just that gatsby does a lot of optimization when you build, but when it's building and going through your code, it doesn't know what `localStorage` is. Either way works though.

[2019-06-01 22:46] mohoff commented on #5309
Ah this step actually finished after 12mins followed by an error:

[code]

[2019-06-01 23:40] Jscott388 commented on #10556
Any update on 3.x version?

[2019-06-02 01:17] minigopher17 commented on #14285
Found the issue. 2 reasons, firstly the returned data object needs a `wordpress_id`, as all objects need a "wordpress_id" (as I discovered making my own custom API route where another Github issue said that's what you need for GraphQL to pick it up) and the route namespace has an extra "folder" in its path and for some reason the entity can't be read in properly by the plugin because of this.

So,

[2019-06-02 01:26] ChristopherBiscardi opened #14493 "Document passing options to themes (and plugins)"
Via https://twitter.com/zairon87/status/1134883660967096322

We don't seem to have documentation for theme option usage in gatsby-config. We also need some for regular plugin options which we can also use for themes. Finally, we might want information on how to use options to do interesting things, like set tokens in wrapRoot*, swap MDX for remark, or change layouts.

- [X] Basic config => [Themes

[2019-06-02 01:54] #14478 closed

[2019-06-02 03:17] maxpou opened #14494 "[gatsby-plugin-manifest] icon not working with theme"
## Description

When a theme setup a default icon (with gatsby-plugin-manifest), all fields can be override except icon.

### Steps to reproduce

1. `git clone https://github.com/maxpou/gatsby-plugin-manifest-issue-icon`
2. `yarn && yarn start`
3. open browser and see favicon and manifest icons.

### Expected result

The icons used should be the one from the config file (https://github.com/maxpou/

[2019-06-02 03:18] t2ca commented on #14488
Thats just how plugin-offline works.  If you do a curl command on your site you will see all the html code.

[2019-06-02 03:48] maxpou commented on #14477
Hey @rchrdnsh ,
for the i18n part, you can checkout Dan Abramov's blog: https://github.com/gaearon/overreacted.io

[2019-06-02 04:00] qianlongdoit commented on #12198
I think this should not closed by a bot.I had the same problem.
The difference is that my data is very large, which makes my page very sluggish

[2019-06-02 04:41] martinmckenna commented on #4357
@0x80 Can't get this solution working for me. Is there something wrong with my `tsconfig.json`?

[code]

[2019-06-02 05:14] joshuaavalon opened #14495 "[gatsby-remark-images] Caption of image is not esacped"
## Description

[code]

### Steps to reproduce

Use HTML character in image caption

### Expected result

[code]

### Actual result

[code]

### Environment

[code]

[2019-06-02 06:49] joshuaavalon opened #14497 "[gatsby-transformer-sharp] Transparent PNG image transform to Webp does not create correct image"
## Description

Transparent PNG image transform to Webp does not create correct image.

I have tested with the following script

[code]

This produce a correct Webp image which make me believe this is a Gatsby problem.

### Steps to reproduce

[code]

![](https://user-images.githubusercontent.com/7152420/58757761-5b725280-8544-11e9-87d7-f941cd3915a4.png)

### Expected result

![](https://user-imag

[2019-06-02 09:17] Hypothesis-github opened #14498 "Getting every query twice"
the blow query comes back as x2 the values. for example the actual `posts.length` is 8 but I get 16 in my console.
[code]

Is there away around it ?

[2019-06-02 09:31] elmarburke commented on #6291
I run into the same error. I'm running node v10 on Netlify, all packages on the latest version. I face the issue on ~1.5GB of images to resize. Deleting `.cache`, `public` and the `node_modules` didn't helped, not on Netlify nor locally.

[2019-06-02 11:09] gilbertlucas46 commented on #8056
Hello, I'm experiencing the same issue. any updates?

[2019-06-02 11:14] gilbertlucas46 commented on #8056
Okay, So I fixed mine by doing this

![image](https://user-images.githubusercontent.com/5719346/58760457-a606c580-856a-11e9-970b-085ec072875c.png)

[2019-06-02 12:20] tomoyukikashiro commented on #13454
To align the viewpoint I'll put note for AMP and Next.js implementation 😄
Also I'll put blueprint / idea that how to implementation AMP in Gatsby as First class support later 🤔

Feel free ask me about this 👌

# Requirements / Optional for AMP

## HTML

Need these tags in head.

- `<!doctype html>`
- `<html amp>`
- `<meta charset="utf-8" />`
- `<meta name="viewport" content="width=device-width,mini

[2019-06-02 14:54] donaldboulton commented on #14396
Moved  gatsby-remark-video before gatsby-remark-prismjs and it works.
Thank You
Don

[2019-06-02 14:54] #14396 closed

[2019-06-02 15:35] interglobalmedia commented on #9214
Hi, I am having a similar issue as well, and when I go to https://reactjs.org/docs/error-decoder.html?invari  ant=130&args[]=undefined&args[]= there is nothing there. The problem is that I have no errors when I run npx gatsby develop. So I don't know where the error is coming from.

[2019-06-02 16:49] stefan2718 commented on #14374
Upgrading all the libraries worked to fix this for me, thanks. I had initially only upgraded the global `gatsby` package, but upgrading `gatsby-cli` and the local `gatsby` seems to have done the trick.

New package versions:
[code]

[2019-06-02 16:49] #14374 closed

[2019-06-02 17:04] KyleAMathews commented on #6291
If you can share links to your code that we can see reproduction, that would be very helpful.

[2019-06-02 17:09] KyleAMathews commented on #14486
Perhaps check the browser console for errors?

Can you share your code? This isn't the normal behavior so I suggest that you keep looking around. Another good debugging technique is to delete bits of your code until it starts working.

[2019-06-02 17:27] #13638 closed

[2019-06-02 17:27] #13760 closed

[2019-06-02 19:15] dustinhorton commented on #14047
Haven't had time to debug what causes this issue to happen, but do have a workaround (and maybe this is more proper?):

[code]

[2019-06-02 19:15] #14047 closed

[2019-06-02 20:24] Symbitic commented on #14488
Very well. Closing.

[2019-06-02 20:24] #14488 closed

[2019-06-02 20:40] mohoff commented on #14486
There are no errors or warnings in the console output. While loading/refreshing the page, I see the blurred previews of the images. So the base64 representation of the images seems to work.

It's working perfectly with `gatsby develop`, so I assume it's a problem with `gatsby build`. Without any errors shown in the build step, the console, or starting the server, it's hard to dig deeper. I ended u

[2019-06-02 20:44] diegodorado commented on #13072
Same issue here. Not serving properly in develop.

[2019-06-02 21:32] KyleAMathews commented on #13072
Anyone interested in taking on a PR? It should be possible to track which HTML files are generated by Gatsby and then do serve other ones e.g. from the `static` folder or other sources.

[2019-06-02 21:49] #14270 closed

[2019-06-02 22:22] KyleAMathews commented on #14486
You can't have both page and static queries in the same component like here
https://github.com/mohoff/photo-blog/blob/master/src/pages/index.js

That shouldn't work in development but apparently is but that's why the
build is failing.

On Sun, Jun 2, 2019, 1:47 PM mohoff <notifications@github.com> wrote:

[2019-06-02 23:06] mohoff commented on #14486
Thanks for the tip! I converted the query to a page query now:

[code]

and ran `gatsby clean && gatsby build && gatsby serve` again. Unfortunately the issue persists.

[2019-06-03 00:46] joeattardi opened #14502 "`gatsby develop` throwing errors with IE11"
## Description

When I run `gatsby develop`, then open my site in IE11, I immediately get an error in the console and the page doesn't load:

[code]

The error is occurring in `commons.js`, at this location:

[code]

Note that this issue only happens with `gatsby develop`. If I do `gatsby build`, then `gatsby serve`, the site loads fine.

Site source code can be found here: https://github.com/joea

[2019-06-03 01:10] hihellosm opened #14503 "Layout if statement possibly blocking SSR and in turn bad SEO"
## Summary

I have a Gatsby website which as been live for over a month and am having issues getting it to rank on Google. It's currently not indexed at all! Upon adding the website to Google's Search Console it says that every URL is "excluded" by Google.

I've checked the site URLs in Screaming Frog and it all appears to be ok. So I'm quite confused.

My question is: Could a blocking check for t

[2019-06-03 01:37] riywo commented on #4459
I don't think the original issue is solved by `excerpt(format: HTML)` since HTML tags are not suitable for SEO metadata. We probably need fix for `PLAIN`'s behaviour.

Like @markvital mentioned, if I don't specify `excerpt_separator`, the markdown annotations like italic/bold/link are processed to HTML and `excerpt` only contains visible text strings (like innerHTML of a tag). However, if I specif

[2019-06-03 02:07] jharrilim opened #14504 "Is it possible for Gatsby to define browser globals during the rendering process?"
## Summary

Currently, code that uses browser globals or anything related to the `window` object break during production/SSR builds in Gatsby. There are a bunch of other [issues](https://github.com/gatsbyjs/gatsby/issues?utf8=%E2%9C%93&q=is%3Aissue+window+undefined+) related to this.

Would it be possible for Gatsby to handle this by any means? Perhaps it would be possible to alleviate the issue b

[2019-06-03 02:38] good-idea commented on #13993
I'm having what I think is a similar issue. I'm using `useStaticQuery` within a Navigation component, which is part of my Layout component that is used on every page. My query is fairly large, so I broke my Navigation component up into several files:

[code]

My query is within `queries.ts`, which looks like this:

[code]

The odd (and frustrating) thing is: this *sometimes* works. Then, sometimes

[2019-06-03 04:04] impulsivetomato commented on #14502
Also getting this error

[2019-06-03 08:01] tombunn commented on #6291
I ran into this issue running the latest versions of gatsby-plugin-sharp and gatsby-transformer-sharp. Could not fix it at all until i downgraded to gatsby-transformer-sharp 2.1.1 and gatsby-plugin-sharp 2.0.5 as @btk suggested. Built locally first try after that.

[2019-06-03 08:42] TitanNano commented on #14453
@pieh you are right, this was a mistake on my end. Updating the dependencies of `gatsby-plugin-sharp` fixed the issues.

[2019-06-03 08:42] #14453 closed

[2019-06-03 09:02] abooayoob commented on #14367
@jonniebigodes Thanks a bunch, this fixes the warnings and issue that I was facing!

Although, I don't think it is clear or intuitive why just renaming some fields from `$` and `_` is the solution to this issue.

I think we can close this issue. But I think there is either a bug or something that needs to be documentet so that others don't encounter the same problem. I can look into it this or nex

[2019-06-03 09:02] #14367 closed

[2019-06-03 09:16] jp887 commented on #6291
@KyleAMathews I've updated the dependencies in the [original repro](https://github.com/jp887/gatsby-issue6291-repro) and I'm still seeing the same error. After upgrading the [first build succeeded](https://circleci.com/gh/jp887/gatsby-issue6291-repro/5) but the [next one reproduced the error](https://circleci.com/gh/jp887/gatsby-issue6291-repro/6).

For whatever reason, my experience when building

[2019-06-03 09:43] wardpeet commented on #11830
@stfnsr that's awesome! If you need any assistance just let us know. A [pair programming session](https://www.gatsbyjs.org/contributing/pair-programming/ ) might work or join us in our weekly meeting.

My guess is to make https://github.com/gatsbyjs/gatsby/blob/b4e370f9baec397d1958d73315ef1c8aa5eb2d52/packages/gatsby-plugin-offline/src/gatsby-node.js#L91 configurable with an option where we can ea

[2019-06-03 09:50] wardpeet commented on #4337
Does using https://github.com/wardpeet/gatsby-plugin-static-site & assetPrefix work?

Linked issue which made the example work, unsure if this is what you actually need.
https://github.com/wardpeet/gatsby-plugin-static-site/issues/1#issuecomment-494802726

[2019-06-03 10:12] wardpeet commented on #14151
Seems to be fixed in chrome canary and beta versions so this will be fixed next stable. Thanks @Jared-Dev to open this in chromium bug reporter! ❤️

I'll be closing.

[2019-06-03 10:12] #14151 closed

[2019-06-03 10:14] wardpeet commented on #8056
We did some changes in our image processing plugins but unsure if it actually relates to this issue. It seems like clearing your cache might fix the issue. Would love some feedback of some people struggling.

[2019-06-03 10:14] #14498 closed

[2019-06-03 10:23] kepi0809 commented on #13930
I rechecked now and I believe in one of the plugins there was an update and now I have the sizes there and I can't reproduce my `warning Failed to process remote content` warnings either.

But still the `sizes object` has often the value of `null` even tho it has sizes in the endpoint. (I rechecked and "often" means that like 3 imgs have sizes out of 600, the ratio is somewhat better on the live W

[2019-06-03 10:27] jennasalau commented on #14504
I'm literally looking at this too! Almost wish Gatsby just renders as a SPA instead.

[2019-06-03 11:12] rlynn523 commented on #14468
I would like to pick this up if possible

[2019-06-03 11:16] wardpeet commented on #11151
I think the cache issue still persist even with @link extension.

@freiksenet or @pieh might know more

[2019-06-03 11:18] pmarxbraun commented on #5371
@jonniebigodes Thanks a lot ! I works now :-)

[2019-06-03 11:26] odm275 commented on #14469
Hey! I'd like to give this a shot if possible.

[2019-06-03 11:39] joeynimu commented on #14504
This would be a good one. There are lots of issues related to this. I am also using a library that uses `window.customEvent` and I am stuck at fixing this for it's not so apparent to me.

[2019-06-03 13:04] k-n-sk commented on #14504
Yep, definitely need something to handle the window issues. I can only perform production builds if I wrap the libraries triggering errors with ```if (type of(window) !== undefined)```

[2019-06-03 13:45] bitttttten commented on #4718
I can only get this to work with mixing commonjs imports, and es6 exports.

[code]

If I use commonjs exports, like `exports.onRenderBody`, it will "fail" "silently".

[2019-06-03 13:48] fenchi commented on #9083
+1

[2019-06-03 13:50] DSchau commented on #9083
@fenchi thanks for showing your support, but if you can just react to the original issue with an emoji, that's a much more helpful way of showing your support. Thanks!

(For full context, we can then sort issues by # of reactions, which can be a helpful signal to help us prioritize)

[2019-06-03 14:33] gillkyle commented on #14013
Closing as we've done what we can on our end, many of the remaining plugins aren't being maintained or updated and pull requests have been made that package maintainers have the option of merging.

According to the initial list 37 plugins were added to the plugin library so thanks everyone! 👏

[2019-06-03 14:33] #14013 closed

[2019-06-03 15:04] pcollins089 opened #14515 "Unhandled Rejection (Error): Expected undefined to be a GraphQL schema"
I'm trying to build the post pages imported from WordPress, I run "gatsby develop" and I head to the URL.
The front page flashes up and then I get this error:

[code]

The query which is highlighted in my 'PostTemplate.js':

[code]

I run the same query through the GraphiQL interface and it sends me data...

Really unsure as to what I'm doing wrong here, see code bellow from gatsby-node.js

[code]

[2019-06-03 15:11] odm275 commented on #14469
Been trying to get started on this but I'm not exactly sure now. This is my first issue! If you could provide me with some extra context please.

[2019-06-03 15:11] stfnsr commented on #11830
@wardpeet thanks for pointing me in this direction - would be great if this approach would be sufficient, i was expecting to have to delve into the depths of serviceworkers ^^
Where can i find more info about the weekly meeting? The [link on the community page](https://www.gatsbyjs.org/contributing/community/) seems to be dead?
The pair programming session sounds great - will definitely consider t

[2019-06-03 15:51] universse commented on #13802
Thanks for the reply. Here's how I decided on this on solution.

The site I'm working on have user-generated contents. What I'm trying to do is to redirect if route with id already exists. If not, fetch using api to handle time between builds when routes for newly user-generated content haven't been created yet.

I considered using createRedirect. Yet, quite some time back while researching some o

[2019-06-03 16:09] gburgett opened #14517 "Schema delegation using delegateToSchema"
## Summary

Apollo's graphql-tools package provides an example for delegating to a remote schema within a resolver - https://www.apollographql.com/docs/graphql-tools/schema-delegation/
This appears to use the `mergeInfo` field on the `info` object, which unfortunately is not present inside of a gatsby resolver even if the third-party schema has been added using `gatsby-source-graphql`.

__Feature

[2019-06-03 17:00] amakk commented on #14333
@LekoArts could you update the status labels of this issue since I've added all needed info and reproduction

[2019-06-03 17:27] #11738 closed

[2019-06-03 17:27] #13632 closed

[2019-06-03 17:27] #13723 closed

[2019-06-03 17:27] #13725 closed

[2019-06-03 17:55] DSchau commented on #14502
Interesting! This shouldn't have been new, but does appear to be coming from react-hot-loader.

Specifically, we do provide some polyfills for IE, notably [the event-source-polyfill](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack.config.js#L155)

However, it doesn't look like we're loading any polyfills in development (and also we're using @babel/preset-env `usage

[2019-06-03 18:23] joeattardi commented on #14502
@DSchau I will try this out later this evening and report back. Thanks!

[2019-06-03 18:40] joeattardi commented on #14502
@DSchau I tried adding this to `gatsby-node.js`, but when I run `gatsby develop` I get the error:

[code]

[2019-06-03 18:43] DSchau commented on #14502
Whoops - small typo!

[code]

that _should_ do the trick!

[2019-06-03 18:46] joeattardi commented on #14502
That seems to work! I have my `gatsby develop` running in IE11 now.

Thank you!

[2019-06-03 19:07] bruceontheloose commented on #14285
Philip, thank you so, so much for investigating this and tracking down a solution! I really appreciate it. We'll give it a shot this week.

And thank you, Michal, for the quick reply when I posted the question. We were going to deploy a test environment this week for you (since we can't make our client's environment public), but will hold off now.

Thanks again, everyone!

Bruce

[2019-06-03 19:24] lukedohner commented on #13278
I get the same error after installing react-muuri. I also posted this on the www.reddit.com/r/gatsbyjs, so sorry for the repetition.

Hello All, After a CLI run of : npm install --save react-muuri I got the following response. This is the second time attempting to install muuri. The first time I updated graphQl but that increased the errors. Anyone experienced installing react-muuri ?

Lukes-MacBo

[2019-06-03 19:31] rudietuesdays commented on #14305
@jonniebigodes thanks so much for your time on this! I dug into it more and it turns out this is the case of poor error reporting. The issue was gatsby-browser couldn't find one of my files -- once that problem was rectified, the error went away and the CSS was showing up. What would be really helpful here is a more specific error report in lieu of reporting that `'use strict'` was a problem, whic

[2019-06-03 19:33] marcysutton commented on #14503
@hihellosm your SSR rendering seems to be working fine–you can verify this by running a build with `gatsby build`, turning JavaScript off in your browser, and viewing source. I was able to view the source just now on your live site by turning JS off in my own browser.

It's likely something else entirely causing your SEO issue, as Googlebot does use client-side scripting to crawl sites. Maybe ther

[2019-06-03 20:19] jonniebigodes commented on #14305
@rudietuesdays no need to thank, glad that you managed to figured it out. Sorry that the issue was with the output of the error and with that being misleading, there are a couple of issues with some similar cases, but some improvements are being made to correct it and give people a more clear picture of what is exactly the issue when generating the build. If you don't mind i'm going to close this

[2019-06-03 20:19] #14305 closed

[2019-06-03 20:34] mohoff commented on #14325
I'm having a very similar issue (see https://github.com/gatsbyjs/gatsby/issues/14486) and i'm not using `gatsby-remark-images`. The blurred images shortly pop up during page load and disappear then completely.

@JoshuaWalsh Does it work on `gatsby develop` as well for you?

[2019-06-03 20:35] jonniebigodes commented on #14367
@abooayoob it could be a dependency of gatsby acting up or something in that nature that generates this sort of issue. If you want feel free to check on it and see if you find something and with that document the issue and the fix for it. 👍

[2019-06-03 20:45] pauleveritt commented on #12272
Regarding `runQuery` and its `query` parameter...I have `filter` working correctly but I can't get an example of `sort` working. The tests that use sort seem to use `runQuery` from a template string. When I try `sort: { order: 'DESC', fields: ['frontmatter___date'] }` (or with 'desc' as the string) the resolve bails out.

[2019-06-03 21:06] stefanprobst commented on #12272
@pauleveritt Does it work with an Array on `order`?

[2019-06-03 21:21] pauleveritt commented on #12272
@stefanprobst Alas, no. This:

[code]

...leads to:

[code]

[2019-06-03 21:44] DSchau commented on #14503
@hihellosm ^ Marcy is 💯 above, but wanted to add a few clarifying points.

You can validate the live site is statically rendering HTML by using curl, and then grepping for content. For example, to validate your site you could do:

[code]

and you can see it's returning HTML.

To your actual question though:

That utility exports a higher-order component that injects a `windowSize` prop. You'll not

[2019-06-03 22:10] rchrdnsh opened #14524 "Can I control which routes scroll to the top of the page or not?"
General or specific Gatsby question, not sure:

I am using a specific plugin using the browser API to make scrollToTop false for every route, but I don't necessarily want to do that all the time. Can I use the scrollToTop thing to only work or not work on some routes, and not all of them?

And in general would this be the place to go for doing something like this or are there other ways to do so?

[2019-06-03 22:13] DSchau commented on #14524
@rchrdnsh which plugin are you using?

If you're using the `shouldUpdateScroll` API you could pass an array of routes that it _should_ be updated, and then compare that array with the current pathname.

[2019-06-03 22:42] bantek89 commented on #9580
@anicolaides I'm a bit stuck with this, could you please expand on how you would access image2, image 3 etc with the 'useStaticQuery' method? I can only manage to return one Img component with the first query for image1.

Thanks!

[2019-06-03 22:45] rchrdnsh commented on #14524
I'm using `gatsby-plugin-transitions` and in the `gatsby-browser.js` file i'm doing this, per the instructions for the plugin:

[code]

sooooooo, yeah...I think I'm just a little hazy at to how to pass in routes that I want to scroll to top, rather than not scroll to top.

I'm looking at the example in the Gatsby docs, but I don't really understand it, unfortunately :-(

[2019-06-03 23:35] diegodorado opened #14525 "Site navigation creates increasingly detached DOM nodes"
## Description

When I navigate to another page, new DOM nodes are created, but old one aren't disposed or even cached.

### Steps to reproduce

[code]

Edit `index.js` and `page-2.js` to get as minimal as posible:
// index.js
[code]
// page-2.js
[code]

[code]

Open `localhost:9000` on chrome, and open the  Performance Monitor.
Every time you click on the links, DOM Nodes increase (but never gets

[2019-06-04 00:07] diegodorado commented on #14525
Here's a gif showing this behaviour

![test](https://user-images.githubusercontent.com/208685/58842214-8db6a980-8643-11e9-9fde-0129fa0d5952.gif)

[2019-06-04 00:35] KyleAMathews commented on #14525
Hmmm that's no good. We've got a memory leak somewhere...

On Mon, Jun 3, 2019, 5:07 PM Diego Dorado <notifications@github.com> wrote:

[2019-06-04 00:55] delster opened #14526 "NPM and Yarn Errors Installing `gatsby-cli`"
## Description

Installation of `gatsby-cli` fails with both `npm` and yarn` in a clean OS install.

### Steps to reproduce

Windows 10 Pro 64bit, gaming PC with decent specs (i5-9600k, RTX 2060, 16GB DD4, etc), node and yarn and installed. Not sure what else might help here.

### Expected result

`gatsby-cli` should install.

### Actual result

[code]

### Environment

Unsurprisingly:
[code]

[2019-06-04 00:56] KyleAMathews commented on #14486
Do you have a live example of this we could look at?

[2019-06-04 01:35] #14526 closed

[2019-06-04 01:36] delster commented on #14526
Appears to be an issue with `npm` and `yarn`, likely to do with PATH issues or whatever. I resolved it by deleting everything and reinstalling 100 different ways until things started magically working.

[2019-06-04 03:29] JoshuaWalsh commented on #14325
Its hard for me to test with `gatsby develop` due to commons.js taking an incredibly long time to load with throttling settings enabled. It seems the fade-up does work with `gatsby develop`. This is expected given that the JS loads before the content in this mode.

If you aren't using `gatsby-remark-images`, are you just using `gatsby-images`? Interesting if the bug also affects that plugin.

[2019-06-04 03:53] JoshuaWalsh commented on #14325
I found a solution to this issue, but it's not perfect. I'd like some feedback before I make a PR.

Removing the box-shadow inline style from the img element fixes the issue. But the alt text appears over the placeholder image. It's nearly impossible to read due to it being on top of the image, and it makes the image look ugly.

So I also applied `color: transparent` to the img element. This makes

[2019-06-04 04:12] heejongahn commented on #14136
I think this issue can also be closed, in favor of proposed change in https://github.com/gatsbyjs/gatsby/pull/14237#issuecomment-497815056.

[2019-06-04 04:12] #14136 closed

[2019-06-04 04:48] mxxk opened #14528 "Excerpt lacks space between paragraphs"
## Description

While going through [Part 6 of the Gatsby tutorial](https://www.gatsbyjs.org/tutorial/part-six/), I noticed that generated excerpt output is displayed without spaces between paragraphs. So instead of receiving "Pandas are really sweet. Here's a video of a panda eating sweets." the excerpt is "Pandas are really sweet.Here's a video of a panda eating sweets."

### Steps to reproduce

[2019-06-04 05:05] tanaypratap commented on #12857
not stale. The PR is ready. I'll send it very soon.

On Mon, Jun 3, 2019 at 10:58 PM gatsbot[bot] <notifications@github.com>
wrote:

[2019-06-04 05:21] marcysutton opened #14529 "[docs] [workflows] Working with images"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to work with images on my Gatsby site.

# Evaluation

[Change emoji below based on your evaluation.]

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😐 | 😄 | 😞 | 😄 | 😞 | 😐 | 😐 |

[2019-06-04 05:23] marcysutton commented on #13708
I'm taking on the image workflow! Initial evaluation here: https://github.com/gatsbyjs/gatsby/issues/14529

[2019-06-04 06:40] rchrdnsh commented on #14524
hmmmm...the more I'm exploring the site the more it seems to be broken. No page seems to reset to the top of the page when it should, and using the forward and back buttons in the browser don't take me to the last position I was on on the previous page, like they should. I have no idea what I'm doing with controlling navigation and position the way that I want to and it feels like Gatsby might not

[2019-06-04 06:54] rchrdnsh commented on #14524
I'm also using `gatsby-plugin-intl` for i18n, and that replaces the gatsby `<Link>` with its own link component so that might be messing things up as well. I just feel lost right now controlling gatsby and making it behave how i think it should, i guess.

[2019-06-04 07:34] freiksenet commented on #14517
You can import `delegateToSchema` directly from `graphql-tools`, it doesn't have to come from info. However, you can't add type to the schema this way, because Person type won't exist on Gatsby graphql schema.

Consider using [gatsby-source-graphq](https://www.gatsbyjs.org/packages/gatsby-source-graphql/) and connecting schemas using [createResolvers](https://www.gatsbyjs.org/docs/node-apis/#creat

[2019-06-04 07:37] freiksenet commented on #14515
Hi @pcollins089!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it. I wonder if you could create it using example project and (if possible) give us acce

[2019-06-04 07:44] xavivars commented on #4337
To me, it worked with all three things: gatsby plugin static site + assetPrefix + disabling "navigate" as shown above

[2019-06-04 07:46] freiksenet commented on #14528
Hi!

Thanks a lot for reporting this! The issue seems to be in [getConcatanatedValue](https://github.com/gatsbyjs/gatsby/blob/f480a35ce8f4a61751b4141be08fb35c6cbdf292/packages/gatsby-transformer-remark/src/hast-processing.js#L11-L24) in here that is used [here](https://github.com/gatsbyjs/gatsby/blob/ceb0d72396d6181104643b3ce403fddeb7391a98/packages/gatsby-transformer-remark/src/extend-node-type.j

[2019-06-04 07:49] stefanprobst commented on #12272
@pauleveritt unfortunately I was not able to reproduce with [this basic setup](https://github.com/stefanprobst/gatsby-sort-test/blob/master/gatsby-node.js) -- would you be able to provide a small repro for this issue to look into? This would be very helpful, thanks!

[2019-06-04 08:00] freiksenet commented on #14436
Most probably, we'll remove ability to manipulate nodes in node API steps after `sourceNodes`. See [this PR](https://github.com/gatsbyjs/gatsby/pull/14283).

[2019-06-04 08:03] freiksenet commented on #14300
Thank you so much @c2j! Closing.

[2019-06-04 08:05] freiksenet commented on #13698
@gc Sorry for dropping the ball on it. You can send me the access through `freiksenet@gatsbyjs.com`.

[2019-06-04 08:11] freiksenet commented on #13873
We only create one MarkdownRemark type (same for Mdx) and when plugins use that to process their data, those kind of issues happen. I'll think about the ways to fix this. Thank you for the report! :purple_heart:

[2019-06-04 08:14] #14076 closed

[2019-06-04 08:18] #11638 closed

[2019-06-04 08:22] freiksenet commented on #11151
@pauleveritt This might have been fixed in latest gatsby, because mapping now use `@link` too. Could you check if latest Gatsby solved this for you?

[2019-06-04 08:22] freiksenet commented on #11151
Otherwise, `@link` definitely tracks dependencies.

[2019-06-04 08:24] freiksenet commented on #11838
@pauleveritt This might have been fixed in latest gatsby, I wonder if you could see if it works for you.

[2019-06-04 08:27] #10975 closed

[2019-06-04 08:28] freiksenet commented on #11278
@pgegenfurtner Hm, that shouldn't happen. What is value that's present in the newsletter? I wonder if it'd be possible for you to share a reproduction project with us.

[2019-06-04 08:32] freiksenet commented on #13873
In the meantime, @elmariachi111 solution would work to solve your issue @vcarl.

[2019-06-04 08:48] b0gd4n commented on #8056
@wardpeet no - that didn't do much for me. Clearing cache also does not help. I tried committing the `.cache` & `public` folders as well - that does do it either.

[2019-06-04 08:59] wardpeet commented on #14008
Is it possible to give use a code snippet of what you're trying to do? You should be able to add extra information to internal pages with the creagePages API.

checkout https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#pass-context-to-pages

[2019-06-04 09:01] riywo commented on #4459
Since this issue has been closed, do we need another issue?

FYI: This is an example unit test to see how it works differently with `excerpt_separator` https://github.com/riywo/gatsby/commit/4178bbd1545c83177a944142ee827e00e0f86422

[code]

[2019-06-04 09:18] wardpeet commented on #4337
Seems like I still have a hard time understanding what is needed here. I could just fix the issue with gatsby-plugin-static-site & assetPrefix.

[2019-06-04 09:29] harshalpatel91 commented on #14008
@wardpeet, thanks for giving your time in looking this.

In my case I wanted to change the routes/path of the pages which are generate by gatsby core (i.e inside pages folder and not the pages created by createPages API).

[2019-06-04 09:42] stefanprobst commented on #14439
@lukedohner would you be able to provide a small repo to reproduce the error so we could look into this? Thanks!

[2019-06-04 10:05] fedriz opened #14530 "Autoprefixer "browsers" option is deprecated in v9, produces warnings"
## Description

I'm getting a series of warnings related to the `browserslist` package.
I can't override the settings following the warning instructions because I can't find
where the wrong properties are written.

### Steps to reproduce

- `yarn develop`

### Expected result

There should be no warnings.

### Actual result

[code]

`DONE  Compiled successfully in 9137ms`

### Environment

[code]

[2019-06-04 10:17] robertcoopercode commented on #14530
Seems to be caused by `autoprefixer`'s [latest commit](https://github.com/postcss/autoprefixer/commit/7980d0ac3ebb0d1adbbe6a75d248ca3702b2d5f3).

[2019-06-04 10:34] andreivmaksimov commented on #13980
@pieh, probably, guys from next.js found the reason of the problem: https://github.com/zeit/next.js/issues/6353.

They added experimental CPU configuration option through `CIRCLE_NODE_TOTAL` env var: https://github.com/zeit/next.js/pull/6604/files.

[2019-06-04 10:59] wardpeet commented on #11830
😮 https://gatsby.dev/core-maintainers thanks for pointing out 😄 I'll let you know when it's fixed.

Could you try to remove the service worker or update on reload. I think the sw isn't updating but I might be wrong.
![image](https://user-images.githubusercontent.com/1120926/58868111-f04b8c00-86bb-11e9-8ab6-ffbd452fc58c.png)

[2019-06-04 11:04] freiksenet commented on #14495
Thanks and thank you for the fix!

[2019-06-04 11:10] freiksenet commented on #14474
It's a good idea. Could you make a PR with that change? I think it should be a new parameter, like `markdownCaptions: true`, so we preserve backwards compatability.

[2019-06-04 11:34] freiksenet commented on #14497
I've tried using this image with the config that you've provided, but I couldn't reproduce this issue. I wonder if you could include an example project where this happens.

Thanks a lot! :purple_heart:

[2019-06-04 11:40] fk commented on #14468
Hey @rlynn523, that'd be great! 🙏

[2019-06-04 11:49] mathieudutour commented on #14474
Sounds good, will do

[2019-06-04 12:07] KnisterPeter commented on #14366
Hi @wardpeet ,

I've tried to call gatsby as you recommended above. But that will result in the following error.
Strangly running gatsby via `gatsby build` from the cli does work.

Any idea what is going wrong here?

[code]

[2019-06-04 12:07] wardpeet commented on #14530
Yeah seems like it autoprefixers latest release. We would love to get this fixed.

1. Upgrade autoprefixer in gatsby to 9.6.0
2. Rename browsers to overrideBrowserslist inside https://github.com/gatsbyjs/gatsby/blob/6070279f68aab0c82f2d244f54088f8ad4a74503/packages/gatsby/src/utils/webpack-utils.js#L222

[2019-06-04 12:13] robertcoopercode commented on #14530
I'll do it ✌🏻

[2019-06-04 12:39] wardpeet commented on #14487
Just checking are we talking about https://github.com/wix/stylable?
Do you mind pushing an example to github? it works a bit better than copy pasting.

[2019-06-04 12:49] vincro commented on #10090
Would be great to have this resolved.

[2019-06-04 13:14] pieh commented on #14008
@harshalpatel91 What about this - instead of using `src/pages` put your page components in `src/templates` (for example - just so Gatsby doesn't automatically create pages for them). And then use `createPages` API to create pages for them (using results of `graphql` to get path for them)

[2019-06-04 13:14] blenoski opened #14534 "Heads up: @reach/router EOL"
## Summary
Looks like reach-router and react-router and going to be merged into a new hooks based react-router release at which point @reach/router will be EOL (but still maintained for some time).

See: https://reacttraining.com/blog/reach-react-router-future/

[2019-06-04 13:22] lannonbr commented on #14534
This is something that has been brought up. From a tweet on Gatsby's twitter account here: https://twitter.com/gatsbyjs/status/1129804373700300800

So this will be tackled when we release Gatsby v3

[2019-06-04 13:24] #14502 closed

[2019-06-04 13:37] harshalpatel91 commented on #14008
@pieh, that option we have but when we think of maintaining the code & pagequery, the src/pages are quite simple and easy to handle in comparing with createPages API for static pages

[2019-06-04 13:41] wardpeet commented on #14530
That was fast! awesome @robertcoopercode

[2019-06-04 13:42] pauleveritt commented on #11838
@freiksenet I just tried (albeit with `@link`) and it worked. Closing. Thanks for checking back!

[2019-06-04 13:42] #11838 closed

[2019-06-04 13:43] pauleveritt commented on #11151
Yep, it works, thanks @freiksenet for checking back. Closing.

I was surprised, even delete works.

[2019-06-04 13:43] #11151 closed

[2019-06-04 14:10] Nicotu commented on #14487
Hi @wardpeet, thank you so much for the reply. Yes, we're talking about wix-stylable. We are basically trying to figure out how to follow this configuration instructions on stylable website using the custom webpack config in Gatsby. We'll soon share the code.  https://stylable.io/docs/getting-started/install-configure

[2019-06-04 14:19] #14425 closed

[2019-06-04 14:29] pauleveritt commented on #12272
@stefanprobst Found the cause: it's 2.8.x -- want me to file a new ticket?

Imagine your `gatsby-blog` for YAML repo. Add this to `gatsby-node.js`:

[code]

In gatsby 2.7.6 you can query for `allResourcesByType` in the explorer. In 2.8.0-2.8.2 you get a resolve error.

[2019-06-04 14:37] silviopaganini commented on #9568
Hi there

Just to way in in this conversation @Khaledgarbaya you have a fair point about the readable IDs, but at the same time, makes the whole system a bit fragile when you have the CMS on an enterprise level changing names according to their needs (naming convention, translation, etc etc)... any chance of this being re-opened and discussed?

[2019-06-04 14:45] alexluong opened #14535 "Why is there not a @types/gatsby package?"
Hi,

I'm trying out TypeScript with Gatsby for the first time and quite surprised that there is no `@types/gatsby` package. I think it would be helpful, especially if someone want to implement the Node/Browser/SSR in TypeScript.

Some example code:

[code]

[2019-06-04 14:47] DSchau commented on #14535
Types are available, and are distributed alongside the library.

https://unpkg.com/gatsby@2.8.2/index.d.ts

Hope this helps -- thanks!

[2019-06-04 14:47] #14535 closed

[2019-06-04 14:50] ethagnawl commented on #4337
@wardpeet Do you have a link to a demo which uses gatsby-plugin-static?

[2019-06-04 14:58] stfnsr commented on #11830
Ah, i didn't know that option. I tried to fully deregister the service worker though (with gatsby-plugin-remove-serviceworker), and tried it in a freshly cloned default starter project as well.
From what I'm seeing in the Application tab, after i change something in the (specifically, the "Hi people" headline), build the site and reload the browser, the content is still the old one, but a new/upda

[2019-06-04 14:59] alexluong commented on #14535
Thanks for the response. This is exactly what I'm looking for.

[2019-06-04 15:02] alexluong commented on #14436
This makes sense. Although it's quite frustrating when I try to manipulate nodes and don't get the full data because `setFieldsOnGraphQLNodeType`'s generated fields are not accessible. Not sure if there's any way around it though.

[2019-06-04 15:04] vickylance commented on #11123
@rayriffy I used the Lighthouse from the chrome webstore plugin. And ran the test on my website but it still shows as http1.1. Lighthouse version is 5.1.0
<img width="1680" alt="Screen Shot 2019-06-04 at 8 32 40 PM" src="https://user-images.githubusercontent.com/5861833/58890376-21ea4480-8708-11e9-9775-71b6eb4a09d0.png">

[2019-06-04 15:06] maecapozzi commented on #14099
@jlengstorf, I created a [first draft](https://github.com/gatsbyjs/gatsby/pull/14536) of that section. I'm not quite sure where we'd like the tutorial to live, but I gave it a shot!

[2019-06-04 15:10] b0gd4n commented on #8056
tried this on circleci - it runs out of memory there:

[code]

[2019-06-04 15:15] alexluong commented on #14535
@DSchau Sorry for bothering, but using types from Gatsby create a false error for me:

[code]

It complains:

[code]

What I think is happening is here:

[code]

It expect a Node as an argument where `mediaType` is not optional and `owner` field exists within `internal`.

Maybe there should be a `NodeInput` where `mediaType` is optional and there is no `owner` field?

[2019-06-04 15:17] DSchau commented on #14535
@alexluong we'd love a PR making those types a little more flexible!

[2019-06-04 15:41] KyleAMathews commented on #14534
Yeah thanks @lannonbr and @blenoski! This is something we'll switch at v3 as @lannonbr mentioned. @reach/router will be supported in the meantime and it should be an easy switch over for both core and users. For most users (if they don't have an client-only routes), it won't be a breaking change.

[2019-06-04 15:42] KyleAMathews commented on #4125
Someone else ran into this, we should fix this.

[2019-06-04 15:44] KyleAMathews commented on #4125
@jshearer thanks for looking into this! Did you see my algorithm? https://github.com/gatsbyjs/gatsby/issues/4125#issuecomment-384741839

It'd be best to try to not change the name as much as possible. We could try each step and see if the name is short enough and as the last resort, hash the original name like you've done. The name doesn't matter per say but it's helpful for debugging what's going

[2019-06-04 15:46] alexluong commented on #14535
@DSchau Created a PR with a follow-up question. We can discuss over there! Thanks for the support.

[2019-06-04 16:27] malcolm-kee opened #14538 "Saving Buffer as file to utilize image processing"
## Summary
How to save an image `Buffer` as file in order to utilize gatsby image processing?

If currently such use case is not available, which part of the code (core/plugin) that I can contribute to make it possible?

## Relevant information

- This use case arises from `gatsby-source-mysql`, whereby images could be retrived from database as `Buffer` object.
- It seems like `gatsby-source-files

[2019-06-04 16:39] docwhat commented on #4459
@riywo I think so. Either a new format `TEXT` or fix `PLAIN` and add `MARKDOWN`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-04 16:44] gburgett commented on #14517
Thanks for the tip!  I didn't realize it was in there.  I was able to get it working, for posterity here's my code.  I load up my blog posts from `gatsby-source-contentful`, and the `author` field on the blog post is an ID of type string referencing another system which exposes a graphql interface.

[code]

Then I can run the following graphQL query:
![image](https://user-images.githubusercontent.

[2019-06-04 16:44] #14517 closed

[2019-06-04 16:58] Blackglade commented on #13442
this issue is still relevant, I'm still experiencing this

[2019-06-04 17:03] BernardA opened #14539 "surge does not work - project not found"
## Description

I am following [your tutorial](https://www.gatsbyjs.org/tutorial/part-one/). Local deployment works but when trying to deploy to surge it gets stuck on the below terminal screen.

The URL below will show "PROJECT NOT FOUND"

     bernardo (master *) hello-world $ surge public/
      Running as ba.corp@hotmail.com (Student)

        project: public/
         domain: pale-religion.su

[2019-06-04 17:27] #13410 closed

[2019-06-04 17:27] #13763 closed

[2019-06-04 17:27] #13562 closed

[2019-06-04 17:40] lannonbr commented on #13562
@CyberV were you able to resolve this problem with something like @victsant's solution? If not, do you wish for this to reopened?

[2019-06-04 17:59] mohoff commented on #14486
Yes, I just deployed it to https://blog.mohoff.de/ . The images seem to work now, however the CSS is still an issue. Specifically, the custom styles that are applied with `withStyles()` are ignored while the styles coming from material-ui are included.

I have to investigate why the images are working out of a sudden, maybe it's related to the specific steps in the `Dockerfile`.

The source code o

[2019-06-04 18:55] #14530 closed

[2019-06-04 21:27] marcysutton opened #14542 "[docs] add image docs recipes"
As part of https://github.com/gatsbyjs/gatsby/issues/14529 and following https://github.com/gatsbyjs/gatsby/pull/14251, we are making updates to the Docs Recipes. Because images are part of a [key workflow](https://github.com/gatsbyjs/gatsby/issues/13708), it makes sense to add an image section to the recipes.

This issue is meant to capture that work and assure it is completed with the new [recip

[2019-06-04 21:34] dmitriyaa commented on #10988
Hi guys, so as I understood it's not possible to persist theme with css-in-js + gatsby?

[2019-06-04 21:37] superWsac commented on #11524
I had a similar error with this one. And I couldn't access netlify cms admin page on production build.
And I found that this is because of gatsby and gatbsy-plugin-offline version mismatch finally.
thumbs up!!!

[2019-06-04 21:44] KyleAMathews commented on #11524
For people who see this error occasionally — that's to be expected actually — whenever you deploy a new version of your site, most hosts delete older versions of the site which means that anyone already on the site that tries to navigate to a page won't be able to find the resources for this page so will throw this error and then trigger a full refresh by grabbing the HTML anew for the page.

You

[2019-06-04 22:05] jackhair commented on #11524
@KyleAMathews It appears the refresh is not being triggered by this missing resources error, so a user is stuck on a broken or just white page. Do we need to have the offline plugin to ensure the refresh happens?

[2019-06-04 22:07] KyleAMathews commented on #11524
No... if that's happening then it's a bug in Gatsby. Do we have a reproduction for the scenario you're describing?

--
Kyle Mathews

Blog: http://bricolage.io
Twitter: http://twitter.com/kylemathews

On Tue, Jun 04, 2019 at 3:05 PM, Jack < notifications@github.com > wrote:

[2019-06-04 22:15] jackhair commented on #11524
@KyleAMathews Other than catching it hit-or-miss on our production site, I've been unable to reproduce it locally. A reproduction would require setting up an entirely new repo w/ Netlify integration, then keep pushing updates until eventually you come across it.

It does appears @coreyward caught it on the Gatsby site further up in the comments.

[2019-06-04 22:18] KyleAMathews commented on #11524
Also relevant to this discussion is @Moocar has been working on a large refactor of how we load data in the runtime https://github.com/gatsbyjs/gatsby/pull/13004

[2019-06-04 22:23] jaredsilver commented on #11524
I don’t have a reproduction at the moment, but I can confirm that I’ve seen this at least half a dozen times where it didn’t refresh on its own.

[2019-06-04 22:31] gwlortscher commented on #11524
@KyleAMathews we're seeing this happen to 1% of requests across all browsers completely independent of when we deploy—we'll see it happen on Sundays at the same rate even when the last deploy was on Friday. Here's a bugsnag screenshot to illustrate the relative consistency over time (of course still some small amount of lumpiness from normal traffic variation):

![image](https://user-images.github

[2019-06-04 22:49] KyleAMathews commented on #11524
@gwlortscher very interesting — so doesn't seem related to deploys then. It's looking like this chart is one that's showing counts of the error. Could you share a chart that's of the % of requests? That I assume isn't varying with traffic?

[2019-06-05 00:10] rayriffy commented on #11123
@vickylance Please check your lh version and firewall carefully that your're on latest because I saw your site is being served in HTTP/2.

![Audits](https://cdn.discordapp.com/attachments/577046038716874762/585620990235770892/unknown.png)

[2019-06-05 00:21] wKovacs64 commented on #10988
It's possible, I was just doing something wrong (wish I hadn't deleted those reproductions so I could remember exactly what - oops).

[2019-06-05 00:25] dmitriyaa commented on #10988
Maybe you can remember some tip for me? 😅

[2019-06-05 00:46] wKovacs64 commented on #10988
Have you tried it and run into trouble? I'm happy to help if I can.

[2019-06-05 00:59] dmitriyaa commented on #10988
yep, I  am moving my personal website to gatsby and adding blog there.
I am using styled components, and already created a theme toggler.
I had a /src/state/localStorage.js for persisting state.
But I removed it(https://github.com/dmitriyaa/dmitriyaa.github.io/commit/300aa3946fd7c2a5aa63cf864f0594ad4100bb4a) because didn't find solution

Would be awesome if you could have a look.
Here is the devel

[2019-06-05 01:07] marcysutton commented on #14258
Great stuff! These improvements should really help.

I also searched on Google for "gatsby mdx" in incognito and regular mode, and these are the first 5 results:

- https://github.com/ChristopherBiscardi/gatsby-mdx
- https://mdxjs.com/getting-started/gatsby
- https://www.gatsbyjs.org/packages/gatsby-plugin-mdx/
- https://gatsby-mdx.netlify.com/
- https://www.npmjs.com/package/gatsby-mdx

The fact

[2019-06-05 01:15] gillkyle commented on #14258
@marcysutton that's a really good point. It seems like things were developed outside and brought in as they were made stable but where the docs for each should live seems like an important thing to evaluate.

[2019-06-05 01:33] jamestewartjr opened #14546 "PORT not found when deploying on Heroku"
## Description

When I deploy on Heroku I get ( Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch) which prevents the application from deploying

### Steps to reproduce
[Github repo](https://github.com/jamestewartjr/jamestewartjr.com)

- Commit and push a change to the master branch.
- Deploy changes with the 'Deploy' button on Heroku dashboard or
use comm

[2019-06-05 01:33] jamestewartjr commented on #14546
Thanks in advance for any help.

[2019-06-05 02:59] joshuaavalon commented on #14497
@freiksenet I have create a example repository ([joshuaavalon/gatsby-bug-example](https://github.com/joshuaavalon/gatsby-bug-example)).

This is what I see after running `npm run start`.

![](https://user-images.githubusercontent.com/7152420/58927391-ef306280-8780-11e9-9a7c-d7dd2098ca1d.PNG)

[2019-06-05 04:23] superhawk610 commented on #14538
You should be able to make use of [gatsby-transformer-sharp](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-sharp) to transform your Buffer nodes into `ImageSharp` nodes, which will in turn support image processing operations via GraphQL.

All you need to do to support `gatsby-transformer-sharp` is to make sure the nodes you create have a supported `extension`, one of t

[2019-06-05 05:06] superhawk610 commented on #14487
Hey @Nicotu, I think I may know what's causing your problem. Gatsby's webpack config already has rules defined under `module.rules` for loading `.css` files. These make use of `css-loader` so the default export of a `.css` file is just a filename string, so of course you cannot call a string as a function, hence your error.

In order to get `stylable` working correctly, you'll need to follow the i

[2019-06-05 05:26] superhawk610 commented on #14486
@mohoff I believe the issue is caused by inconsistent class naming in between the SSR build and the hydrated result, hence the issue showing up in prod builds but staying absent when using `gatsby develop`.

There's a plugin for `material-ui` SSR + Gatsby you can check out [here](https://github.com/hupe1980/gatsby-plugin-material-ui). If that still doesn't solve it, here's a nice [discussion threa

[2019-06-05 05:28] superhawk610 commented on #14469
@fk looks like your link is broken, would you mind reuploading?

[2019-06-05 05:41] superhawk610 commented on #14469
@odm275 the React component responsible for rendering the showcase details view can be found in `www/src/components/showcase-details` [here](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/showcase-details.js#L253). The meta tags responsible for setting `og:image` and `twitter:image` are set by `react-helmet` via the `<Helmet />` component. You should be able to get it from there

[2019-06-05 05:56] superhawk610 commented on #14353
What version of node are you using?

[code]

[2019-06-05 06:02] superhawk610 commented on #14333
@amakk I can't say whether your solution is the best approach, but it's not downloading it on each page navigation, it will get it once as part of the initial JS bundle download and then use that version for subsequent page loads.

Using `raw-loader` copies the entire contents of the file to a string at build time and embeds it into the final JS output, so that `import` call is equivalent to

[cod

[2019-06-05 06:13] superhawk610 commented on #14313
@v-kistai if you want to produce the smallest number of files possible, I don't believe you'll have much luck with any existing SSGs, but you may like [Parcel](https://parceljs.org/). Here's a super minimal example I threw together - you could even drop the sourcemap and only have to upload 2 files per deployment.

<img width="519" alt="Screenshot_20190605_021111" src="https://user-images.githubus

[2019-06-05 06:29] nickwild-999 opened #14551 "Add DuoTone options to cache key"
## Description

On the gatsby-starter (and others) when I set a duotone on an image query...

[code]

 all works well. However when I change the highlight and shadow colours it still renders the old colour choices.

I have emptied all caches etc to no avail

### Steps to reproduce

Change highlight and shadow colours and rebuild

### Expected result

New colourset should render

### Actual result

[2019-06-05 06:47] ChristopherBiscardi commented on #11456
Here's a link to a gist detailing the method required for adding hot-loading for deletion of shadowed files -- https://gist.github.com/ChristopherBiscardi/5156afdd37ca43d5d03c3100d358e097

Note that a different method will be required for *adding* files.

[2019-06-05 06:51] SimonIMG commented on #3401
Confirming @agyeiarcher [has it spot on](https://github.com/gatsbyjs/gatsby/issues/3401#issuecomment-448036936)!

Adding `{elemMatch: ` (and closing `}`) to the query fixes the issue.

My query was previously working until I updated my Node.js and Gatsby CLI, then deleted my node_modules and reinstalled with yarn.

Thanks.

[2019-06-05 06:58] ChristopherBiscardi commented on #11456
here's a gif of deletion hot-reload working: ![gatsby theme shadowing deletion hot reload gif](https://user-images.githubusercontent.com/551247/58936395-80252080-8724-11e9-81cc-7684d506b3d9.gif)

[2019-06-05 07:41] ChristopherBiscardi commented on #13775
I've reproduced this on my personal site.

![image](https://user-images.githubusercontent.com/551247/58938768-7999a780-872a-11e9-8ea9-59650cac21ee.png)

yeah it's going to be a similar fix as the one you mention @jrestall.

It is *really* bizarre that these became errors without a major webpack version update. That's not supposed to happen. Unfortunately I can not find the PR that caused this. Sin

[2019-06-05 07:56] freiksenet commented on #14497
This is very weird.

![2019-06-05-10:54:10](https://user-images.githubusercontent.com/172936/58939629-4aae2080-8780-11e9-8b49-e394b0f1730a.png)

Could it be a windows problem? I'll ask someone from our team who has windows to test.

[2019-06-05 08:00] abhijithvijayan commented on #14469
@superhawk610 How can I run this on dev mode, I tried running `gatsby develop` under `www` dir, but that kept on reaching watcher file count limit.

[2019-06-05 08:09] pcollins089 commented on #14515
Hey @freiksenet,

Thanks for getting back to me on this! really appreciate it. I've stripped back the project and posted it in this Repo: https://github.com/pcollins089/zym

[2019-06-05 08:20] ChristopherBiscardi commented on #14006
Started working on this in Italy last week as a separate CLI tool. I want to move some of the shadow group logic to separate functions that can be imported and shared by not only this CLI tool, but also the hot-reload logic.

[2019-06-05 08:21] mxxk commented on #14528
Thanks for triaging @freiksenet. I'm on the fence about making what would be my first commit into this codebase as I don't want to introduce any regressions, but let's talk. 😄

Regarding the algorithm, instead of having to check for leading/trailing spaces do you see any issues with this alternative version?

[2019-06-05 08:30] bakeruk commented on #5726
@DSchau I have just emailed you a .zip link 👍🏼

[2019-06-05 08:31] freiksenet commented on #14528
@mxxk That looks good!

[2019-06-05 08:41] freiksenet commented on #14515
@pcollins089 Thanks for the reproduction! At line 2 of `PostTemplate.js` you should change.

[code]

to

[code]

You are importing a function that runs graphql queries from graphql-js library, while what you want is graphql template tag from Gatsby.

[2019-06-05 08:48] pcollins089 commented on #14515
Waow.... Thank you so much for helping me out with this!! Feeling rather silly that it was that simple haha!

[2019-06-05 09:07] sidntrivedi012 opened #14553 "ENOSPC error while running gatsby develop"
I was running gatsby develop in my gatsby-starter blog and it gave this error :
[code]

[2019-06-05 09:07] mokimo commented on #175
As far as I've read in an AMA incremental builds are in the planning and thus large online magazines wouldn't have to rebuild a million articles anymore

[2019-06-05 09:42] mxxk commented on #14528
@freiksenet thanks! How would you recommend to test the change? I modified `node_modules/gatsby-transformer-remark/hast-processing.js` directly in my test project but Gatsby is not picking up the changes during `gatsby develop` or `gatsby build`. I checked the docs on [Gatsby Debugging](https://www.gatsbyjs.org/docs/debugging/) but can't find any info on debugging a change in Gatsby plugins (such

[2019-06-05 10:01] wardpeet commented on #14553
I believe this is a duplicat of #11406

_Originally posted by @sidharthachatterjee in https://github.com/gatsbyjs/gatsby/issues/11406#issuecomment-458769756_

Does the above solution work for you?

[2019-06-05 10:05] wardpeet commented on #14497
Seems a legit issue on windows, probably going to be upstream but doesn't really harm to see if we can fix it in gatsby.
![image](https://user-images.githubusercontent.com/1120926/58948319-235c5100-878a-11e9-832a-9d31fa5e4f93.png)

[2019-06-05 10:08] wardpeet commented on #14515
It seems like the issue got resolved :)

I'll close the issue, feel free to re open if it's not the case.

[2019-06-05 10:08] #14515 closed

[2019-06-05 10:26] TomFreudenberg opened #14554 "Rename a file to be compatible with modclean"
Hi,

when using [ModClean](https://www.npmjs.com/package/modclean) to shrink the node_modules folder size, gatsby won't run anymore after using their _default:safe_ pattern.

This happens in case that gatsby's schema infer package will require a file called **example-value.js**

Link to source: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer/index.js#L3

If the file

[2019-06-05 10:30] wardpeet commented on #14469
Watcher issues can be resolved by https://github.com/gatsbyjs/gatsby/issues/11406#issuecomment-458769756.

as @superhawk610 mentioned the code is https://github.com/gatsbyjs/gatsby/blob/542cdb29d12601c0e4a2afde4012059e107e4e11/www/src/components/showcase-details.js#L255-L268

And I believe we want to change `data.sitesYaml.childScreenshot.screenshotFile.childImageSharp.resize.src` into `data.sites

[2019-06-05 10:32] bambamayo commented on #14353
11.4.0 , i recently upgraded to 12.3.1 and i still get the same issue.

[2019-06-05 10:32] abhijithvijayan commented on #14469
@wardpeet I can take this.

[2019-06-05 10:41] abhijithvijayan commented on #14497
I can test in windows too.

[2019-06-05 10:47] freiksenet commented on #14528
@mxxk You'd need to edit babel processed files in node_modules to make it work. However, it's better to use `gatsby-dev-cli`. Check out [this guide to set up your local dev env](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/).

[2019-06-05 10:51] freiksenet commented on #14436
We are working on improving the way it works, so that you can ask to "materialize" the node using the resolvers on it's type. This won't work with `setFieldsOnGraphQLNodeType` (and we are likely to mark that API deprecated in v3), but it will work with `createTypes`, which is a preferred API now.

[2019-06-05 10:58] #13775 closed

[2019-06-05 11:06] pieh commented on #13775
Published `gatsby@2.8.4` with the fix.
[code]
to upgrade :)

[2019-06-05 11:08] TomFreudenberg commented on #14554
Hi after checking more deeply the documentation of modclena - you may set an ignore pattern which will work.

[code]

Maybe it is still something to think about renaming that file from an _example-_ file.

[2019-06-05 11:26] malcolm-kee commented on #14538
Hi @superhawk610 thanks for your response.
AFAIK `gatsby-source-filesystem` doesn't exports `createFileNode`, therefore I need to make a pull request to export that?

[2019-06-05 12:08] wardpeet commented on #14554
Thanks for taking the time to open up an issue about this. Sadly it's not a Gatsby issue and it is more something that needs to be fixed in modclean. Adding `example*` as a glob pattern isn't really "safe". They should do some additional checks, it also removes a `.eslintrc.json` from the cache-dir that might be problematic.

There is also the reason that we can't be sure we won't break modclean i

[2019-06-05 12:45] azharulc commented on #14487
Hi @wardpeet & @superhawk610 thank you for your replies. The documentation of stylable seems to have been updated, but now I'm being faced with a different issue when trying to use my imported `header.st.css` file it gives me an error of `TypeError: Cannot read property 'root' of undefined`

@superhawk610 I've tried using your solution but it doesn't seem to have worked.

I've made my repo public

[2019-06-05 12:53] DSchau commented on #14497
@joshuayoerger could you paste what version of Sharp you used in your script?

It’s possible it’s been fixed upstream but we may be using a slightly older version of Sharp in Gatsby.

[2019-06-05 13:08] alexluong commented on #14436
Sounds great. That's the feature I'm looking for. Looking forward to v3 then.

[2019-06-05 13:08] #14436 closed

[2019-06-05 13:28] superhawk610 commented on #14538
If you look at the source for `createFileNode` it really just takes a file path and returns an object with a lot of information about that path. I don't think `gatsby-source-filesystem` wants to export that since it's only useful to other source plugins, so you may have to just write a similar file yourself.

[2019-06-05 13:47] wardpeet commented on #14353
Do you get any issues when doing npm install? I can't reproduce this one

[2019-06-05 13:56] nambatee commented on #5667
I was experiencing the same issue with a Gatsby site hosted on Netlify using gatsby-plugin-web-font-loader - using typefaces and hosting fonts locally solved the problem for me.

[2019-06-05 14:12] parkerproject commented on #175
@kuetemeier I still want to use Wordpress as the CMS but Gatsby as the client. How does Hugo handle this approach?

[2019-06-05 14:34] kuetemeier commented on #175
@parkerproject as always... it depends on what you want to achieve.

What exactly do you mean by the term "client". Hugo is a "server" or a static site generator. I guess you want it to use the WordPress database as source. So you have to write some kind of script, that translates WordPress pages and posts into Markdown files (e.g. directly from the database or with a scripted web client).

But wh

[2019-06-05 14:40] kmcaloon opened #14558 "Styles within iframe component applied to parent window"
So this isn't so much a "bug" as it is an incompatibility with a specific use case mixed with a sort of feature request.

Here is the situation.  I have a gatsby-based cms and am current working on a page builder that includes an interactive preview of what the content would look like on the frontend.  The cms imports the necessary frontend components/styles in order to achieve the preview. The pr

[2019-06-05 14:42] wardpeet commented on #14551
Thanks for reporting! It seems like a bug with our caching mechanism with duotone in sharp. A quickfix is to run `gatsby clean` which cleans our cache.

The problem is occuring because of:
https://github.com/gatsbyjs/gatsby/blob/a20afb1f3c8c09804572a7b17ab92050764f60f4/packages/gatsby-plugin-sharp/src/process-file.js#L244

if we run `console.log(JSON.stringify(filtered, Object.keys(filtered).sort(

[2019-06-05 14:48] parkerproject commented on #175
I like to use Wordpress as a headless CMS and use any front-end I want, in this case, Gatsby helps with that, cos it makes this seamless especially with the GraphQL data layer. But with Hugo, I would need to use Markdown, so that might not work in my use-case

[2019-06-05 15:00] wardpeet commented on #14546
Thank you for creating this issue. We don't suggest running develop for a production build, this kinda defeats the purpose of gatsby because you won't get any static assets and the speed that comes with it. You should run `npm run build` and use heroku as a static site hosting.

We have a guide in our [gatsbyjs docs](https://www.gatsbyjs.org/docs/deploying-to-heroku/)

[2019-06-05 15:19] wardpeet commented on #14538
This sounds awesome :smile:

We're happy to accept a PR that adds a `createFileNodeFromBuffer` that does the same thing as a remote url. We probably want to split up the processRemoteNode function one that fetches the file and one that has the logic of saving to disk.

[2019-06-05 15:33] nickwild-999 commented on #14551
Thanks for identifying a temp fix @wardpeet

[2019-06-05 15:35] odm275 commented on #14469
@superhawk610 Thanks for the clarification! I think I got this.

[2019-06-05 15:53] jamestewartjr commented on #14546
Thank you so much! That solved my problem completely. 💯

[2019-06-05 15:53] #14546 closed

[2019-06-05 16:05] jamestewartjr commented on #14546
@wardpeet I think a small update to those docs would be to add this script
``` heroku buildpacks:add --index 1 heroku/nodejs```
 and replace
``` heroku buildpacks:set heroku/nodejs ```

I had a problem early on where my heroku/nodejs buildpack was replaced by the static buildpack. I found that script from the [official Heroku documentation](https://devcenter.heroku.com/articles/using-multiple-buil

[2019-06-05 16:20] arpitbatra123 opened #14561 "gatsby-cli does not output path of deleted file"
## Description

I just created a new project using the gatsby-cli. I ran gatsby-develop in the terminal and opened the project in VSCode and deleted a file from there. Upon Deleting the file the output of the gastby develop command ran earlier is shown in the below screenshot.

![image](https://user-images.githubusercontent.com/21967563/58972441-377c6e80-87db-11e9-82fc-a95e7fda641e.png)

As we can

[2019-06-05 16:58] superhawk610 commented on #14538
@malcom-kee unless you want to take this one, I'd like to work on the API that @wardpeet suggested. We should be able to get that merged into `gatsby-source-filesystem` within a week or so, then you can just pull from that in `gatsby-source-mysql`?

[2019-06-05 17:03] superhawk610 commented on #14487
Thanks for posting the source, I'll take a look at your repo this afternoon and see if I can find anything further and update accordingly.

[2019-06-05 17:09] superhawk610 commented on #14281
I can take this ✌️

[2019-06-05 17:17] hanoii commented on #10339
I also submitted a PR with a different approach on #14562.

[2019-06-05 17:27] #13822 closed

[2019-06-05 17:27] #13850 closed

[2019-06-05 17:38] bambamayo commented on #14353
@wardpeet No i did not.
I deleted the node_modules folder and ran npm install, everything worked fine. But i got the error when i ran _npm run start_

  Error: Cannot find module 'regenerator-runtime'

[2019-06-05 17:40] conormcafee commented on #12040
This worked for me also

[2019-06-05 17:43] superhawk610 commented on #14353
https://github.com/gatsbyjs/gatsby-starter-hello-world does not include `gatsby-plugin-page-creator`, so you just have installed that, right? Would you mind uploading your project `gatsby-btcamp` to a GitHub repo and linking to it here?

[2019-06-05 17:45] j127 commented on #10023
I'm having a similar problem (described [here](https://stackoverflow.com/questions/56448610/graphql-arguments-in-gatsbyjs-from-context-in-gatsby-node-js)). Do the pages always have to be manually deleted before variables defined in `gatsby-node.js`'s `context` are available in graphql queries? Or is that just for editing and resaving pages after they have been created?

[code]
[code]

The query ca

[2019-06-05 17:48] dlindahl commented on #12000
While your change may have worked around your issue, the semantics between these two methods seems important enough that I'd argue that this is still a "bug". The documentation lists [`onServiceWorkerUpdateReady`](https://www.gatsbyjs.org/docs/browser-apis/#onServiceWorkerUpdateReady) as a configuration option. So either there is a bug in the plugin somewhere, or the documentation needs to be upda

[2019-06-05 17:53] marcysutton opened #14564 "[docs] new reference guide on contact forms in Gatsby"
## Summary

A [common question](https://github.com/gatsbyjs/gatsby/issues/12022) in Gatsby is how to build a functioning contact form (it is also a [key workflow](https://github.com/gatsbyjs/gatsby/issues/13708)). Without a server runtime environment, it isn't exactly intuitive how to hook up a form action to submit data.

The first step to improving that workflow would be to create a [reference g

[2019-06-05 18:10] Naismith opened #14565 "Filter out objects with array containing value"
## Summary
When writing a graphql query, I want to be able to search for Articles, and remove any results where tags contains a tag with a value. For example, excluding all Articles, that contains a tag of value 'Featured' in the tags array.

I have attempted to use the elemMatch, but this does not appear to solve my issue.

## Relevant information
Example Article:
`
{
  title: 'Example',
  tags:

[2019-06-05 18:11] bambamayo commented on #14353
this is the link to the repo
[https://github.com/bambamayo/gatsby-btcamp](url)

[2019-06-05 18:14] bambamayo commented on #14353
Are you saying i have to install **gatsby-plugin-page-creator**?

[2019-06-05 18:15] dustinhorton commented on #12399
still just hoping for a larger contributor to provide a path—i'd be happy to spend some time adding to the docs but don't want to mislead users.

[2019-06-05 18:24] superhawk610 commented on #14353
Ah, `gatsby-plugin-page-creator` is a dependency of `gatsby`, nevermind. It seems to be the source of the error. I'll clone your repo when I get back home this evening and see if I can replicate the issue.

It may be worth trying the latest minor version of node 12 (v12.4.0), just to see if that makes a difference (you'll need to `rm -rf node_modules && npm install` after changing node versions).

[2019-06-05 18:30] Undistraction commented on #12640
Not stale ol' Gatsby. Still not possible to reliably use `entry`, and the workaround of specifying individual packages to transpile is a poor one.

[2019-06-05 19:25] mohoff commented on #14486
Oh beautiful! Thank you so much for these links! Adding this plugin fixed it already.

[2019-06-05 19:25] #14486 closed

[2019-06-05 19:27] mohoff commented on #14325
@JoshuaWalsh It turned out that our issues are unrelated. Adding `gatsby-remark-images` didn't make any difference for me but I was missing another plugin: `gatsby-plugin-material-ui`. Sorry for the confusion!

[2019-06-05 19:33] gmertk commented on #8805
Hi gatsby folks,
I'm jumping in to fix the remaining ones here.

- `gatsby-source-contentful` has 2 references to crypto:
  1- [cache-image.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/cache-image.js#L1) which is called by extend-node-type.js used as setFieldsOnGraphQLNodeType. However, setFieldsOnGraphQLNodeType doesn’t have createContentDigest as sourc

[2019-06-05 19:48] frinyvonnick commented on #13376
Closed by #13450 😄

[2019-06-05 19:50] #13376 closed

[2019-06-05 20:17] DSchau commented on #14565
@Naismith would you be able to supply a [reproduction](https://gatsby.dev/reproduction) so that we can immediately test things out and make some changes?

Thank you!

[2019-06-05 21:21] wKovacs64 commented on #10988
Yeah, it appears you're running into the same issue I did because you're restoring the persisted theme ["too early"](https://github.com/dmitriyaa/dmitriyaa.github.io/blob/86cf8341a00933b8609b98f48b163a9975b91e77/gatsby-browser.js#L7) and React can't reconcile the hydrated version with the static version in the Gatsby build output.

One way around this is to set the theme after the app has hydrated

[2019-06-05 21:46] dmitriyaa commented on #10988
Thank you, I will try to experiment tomorrow.
I also thought that state was restored too early.

p.s. I used redux only for learning purposes :)

[2019-06-05 21:52] BPScott opened #14571 "Google analytics does not trigger on querystring changes"
## Description

gatsby-plugin-google-gtag and gatsby-plugin-google-analytics both get triggered on `onRouteUpdate`. However `onRouteUpdate` [does not trigger when only the querystring changes](https://github.com/gatsbyjs/gatsby/issues/12484) e.g. you navigate from `example.com/index.html?page=1` to  `example.com/index.html?page=2`.

This means that these navigations are not counted by google analy

[2019-06-05 22:00] janosh commented on #12272
@stefanprobst I'm trying to convert tags that I specify as an array of strings in the frontmatter of my posts into a type `Tag` with fields `title` and `slug` where `title` is just the string I wrote and `slug = _.kebabCase(title)`. I threw together this snippet
[code]
which works for adding the `Tag` type to `MarkdownRemarkFrontmatter.tags`. But of course, when I try to group all tags with
[code]

[2019-06-05 22:30] TomFreudenberg commented on #14554
Hi @wardpeet, thanks for your feedback.

I can take your points and it is still working for our usecase when using _--ignore_ as commented.

So for me its fine also to close this as answered.

Cheers
Tom

[2019-06-05 23:08] ryaninvents commented on #5995
@Undistraction I was able to implement custom components using MDX, a custom context, and `useEffect` to pass imported components to the layout root. I don't have the code in front of me but might be able to sketch it out if you're interested

[2019-06-05 23:12] barak007 commented on #14487
I have managed to make it work by removing the built in css support.
The solution is far from being good but I am sure that there is a safer way to do it.

here is the gatsby-node.js
[code]

[2019-06-05 23:23] muescha commented on #10796
@magnusarinell can you share some code (or you have a doc/blog about it)?

[2019-06-05 23:30] KyleAMathews commented on #14281
Thanks!

[2019-06-05 23:54] christian-schulze commented on #11722
I'm also seeing this issue, though it works for installed modules located in `node_modules` folder, but no user created files...

One possible cause, could be using import aliases, which I have configured using the `gatsby-plugin-root-import` plugin:

_gatsby-config.js_
[code]

[2019-06-06 00:00] ryaninvents commented on #5995
@Undistraction [Here's a sandbox](https://codesandbox.io/s/mdx-lazy-components-qo9h9) if you want to check it out.

[2019-06-06 00:19] muescha commented on #14546
@jameswartjr how you solved your problem? What did you changed?

Maybe you can update the linked doc with your caveats? (just hit the edit on GitHub)

[2019-06-06 00:21] muescha commented on #14546
I see your change. You removed the procfile https://github.com/jamestewartjr/jamestewartjr.com/commit/d19a0f3cda30ed691b1f3ddd567b052f125923c5

[2019-06-06 00:40] Naismith commented on #14565
Hey @DSchau

Here is a repo containing both a strapi application (bare bones, using SQLite) and a barebones gatsby project, I've added the gatsby-source-strapi package to connect to strapi.

If you need to login to strapi the username is `demo` and password is `demo123`

https://github.com/Naismith/GatsbyStrapi14565

[2019-06-06 00:46] muescha commented on #14535
FYI:
- https://www.gatsbyjs.org/plugins/?=typescript

[2019-06-06 01:13] muescha commented on #14478
@Bryndyment

How did you resolved your issue!

[2019-06-06 01:34] alexpreiss commented on #10457
Are you trying to use Firebase?

[2019-06-06 01:45] amakk commented on #14333
@superhawk610 Thanks, that's good to know. Would appreciate any tips on a better approach.

[2019-06-06 01:48] malcolm-kee commented on #14538
@superhawk610 you can proceed. Thanks!

[2019-06-06 02:10] joshuaavalon commented on #14497
@DSchau I think it is Gatsby problem because I am using the same packages with Gatsby, i.e. add the script to the example repository and run it with `npm run`. The result image it fine.

[2019-06-06 02:14] bryndyment commented on #14478
It was a dumb coding mistake on my end, unrelated to GraphQL. 😄

[2019-06-06 02:14] overlordofmu commented on #12037
@d-ivashchuk, just letting you know this was useful troubleshooting a similar issue today. Even though you resolved it yourself, sharing the issue and solution helped someone else today. Thank you for sharing what you learned!

[2019-06-06 03:41] good-idea commented on #5667
With self-hosted fonts, I was getting consistent FOUT on my build. (On Netlify, but also when simulating the build locally). A peek at the network tab showed that they weren't being loaded much later than many of the initial requests.

A switch to simply loading them by importing a CSS file in my Layout component's module got them loading much sooner.

[2019-06-06 04:25] superhawk610 commented on #14487
@baraak007 you had the right idea! I opened a PR https://github.com/azharulc/bjjfreak-frontend/pull/1 with a slightly cleaner implementation that makes use of `rule.exclude` to exclude `.st.css` files from normal loading and instead use the stylable plugin. It's working on my machine, so hopefully this solves it for you!

[2019-06-06 04:26] #14487 closed

[2019-06-06 04:33] superhawk610 commented on #14333
For smaller scale styles you can make use of CSS Modules as suggested earlier. They'll only be loaded on pages where they're required - you can find more information on using them with Gatsby [here](https://www.gatsbyjs.org/docs/css-modules/).

For your use case, I would recommend writing a separate [layout component](https://www.gatsbyjs.org/docs/layout-components/) for each nested site that requ

[2019-06-06 04:33] #14333 closed

[2019-06-06 04:34] #14313 closed

[2019-06-06 05:28] bambamayo commented on #14353
@superhawk610, alright i will try that

[2019-06-06 06:08] DanielRuf opened #14579 "Discussion: JSON streaming solution(s)"
## Summary
We could use some streaming solutions for streaming big chunks of JSON and big JSON documents.

## Relevant information
I was speaking with @LekoArts at a React meetup after his Gatsby talks and we were discussing about JSON streaming. Some of the following solutions could be helpful or maybe used. He might be able to give some more context about the current needs, requirements, use cas

[2019-06-06 06:42] dupeprick commented on #10506
Thanks this worked for me as well

[2019-06-06 07:12] wardpeet commented on #14538
Sounds awesome @superhawk610! Thanks for picking this up!

[2019-06-06 07:36] christian-schulze commented on #11722
I've got a solution...specify a `jsconfig.json`:
[code]

@wardpeet @pieh @chatzipan

[2019-06-06 07:36] wardpeet commented on #14554
Thanks for understanding. :muscle:

[2019-06-06 07:36] #14554 closed

[2019-06-06 08:03] azharulc commented on #14487
Thank you so much!!!! It works well, I was attempting something similar all evening, but just couldn't get it working, thanks again!

[2019-06-06 08:31] firsttris commented on #4926
Same Issue with Github Pages, images stays blurred. tracedSVG didn't help.

[2019-06-06 08:50] sidntrivedi012 commented on #14553
Woww..it does. Thanks a lot @wardpeet :tada: :tada:

[2019-06-06 08:50] #14553 closed

[2019-06-06 09:04] TuBl opened #14580 "ValidationError "siteMetadata" is not allowed"
![a](https://user-images.githubusercontent.com/50697784/59020441-01111480-8818-11e9-80f4-42573b902411.PNG)
![b](https://user-images.githubusercontent.com/50697784/59020450-053d3200-8818-11e9-8eda-78275ac0de33.PNG)

as shown in the pictures, i was following this tutorial on Youtube to a teeth, and everything was going fine untill https://youtu.be/8t0vNu2fCCM?t=5633 when he adds siteMetadata to the

[2019-06-06 09:24] azharulc commented on #14487
I've pasted @superhawk610's working solution just incase I make the repo private -

[code]

[2019-06-06 09:43] aspiers commented on #5667
They *weren't*? Did you mean they were?

[2019-06-06 09:59] raph90 opened #14581 "My typographies are no longer importing since updating to newest version of Gatsby"
## Description

I've been working on a Gatsby site for a few months, and recently I started using NVM. I'm using Node 10.16.0, and my repo is working fine when uploaded to Netlify. The issue is locally, where typography.js doesn't seem to be applied to my project. I think this is a version/dependency issue but it might also be to do with the latest version of Gatsby.

### Steps to reproduce

Here

[2019-06-06 10:04] pieh commented on #14580
Hey, it seems like there is typo - it should be `siteMetadata` (not `sitMetadata`)

[2019-06-06 10:11] pieh commented on #14581
Hey, can you share [example project](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) with this issue? We are using typography for gatsbyjs.org and it seems to work correctly

[2019-06-06 10:15] pieh commented on #14579
I'm not quite sure where exactly this could be used - can you expand a bit on that?

[2019-06-06 10:15] TuBl commented on #14580
My bad, i was trying to reproduce the error on my laptop quickly before i went to bed.. but still here is a screenshot from my desktop.
![a](https://user-images.githubusercontent.com/50697784/59025480-463a4400-8822-11e9-9b54-332ebe836435.PNG)

Please do note that it actually worked on my laptop after i fixed the typo... but the version of the project on my laptop is just a bit older, that should N

[2019-06-06 10:15] raph90 commented on #14581
Hi, sure, is it enough to post the link to a repo that you can clone?

[2019-06-06 10:18] raph90 commented on #14581
Here it is, I hope this is ok: https://github.com/raph90/portfolio_gatsby_rebuild

[2019-06-06 10:19] raph90 commented on #14581
I think this issue is to do with my local machine, since it's uploading to Netlify just fine

[2019-06-06 10:56] pieh commented on #14581
Yeah, it seems to work ok for me too locally. At least `Alegreya Sans` font seems to be used. Just in case - this is what I see:
![Screenshot 2019-06-06 at 12 53 41](https://user-images.githubusercontent.com/419821/59027753-27f03a80-885a-11e9-8b9d-a7187bba2ca9.png).

[2019-06-06 10:58] raph90 commented on #14581
Hi yes, so the problem is with the header, footer, home page, and contact. The only page that works properly is the blog. The fonts at the top in the header and colours aren't correct. It should look like this:
 https://elegant-ramanujan-e30989.netlify.com/

[2019-06-06 10:59] raph90 commented on #14581
I've clearly got some sort of import issue somewhere, but I can't work out what it is, and it's all the more baffling since it's ok when Netlify builds it

[2019-06-06 11:04] mikheevm commented on #14418
An update:
An error I provided in `Additional info` section of the issue also happens when running `gatsby develop`. After trying to run it multiple times (2-4), the error is gone.

[2019-06-06 11:05] pieh commented on #14581
ok I just did more checks - gatsby develop produces a bit different output than gatsby build - some css order is different - that's why menu is blue in gatsby develop but gray in builds (also some font sizing is affected)

[2019-06-06 11:06] raph90 commented on #14581
Ah ok - is that to do with the build process? As in the module bundling (I'm assuming webpack under the hood). It's strange because I haven't changed any of the files and everything was working...

[2019-06-06 11:18] raph90 commented on #14581
I've noticed that Netlify is cleaning the yarn cache on its builds so I'm trying that...

[2019-06-06 11:18] pieh commented on #14581
This seems what kind of cause missmatches https://github.com/raph90/portfolio_gatsby_rebuild/blob/master/src/html.js#L17-L22
it's being inserted in different order in develop and builds. Seems like this is global style clashes - what's the order of global styles you would want to apply?

Bootstrap => Typography => Your styles?

[2019-06-06 11:19] raph90 commented on #14581
yes exactly - how should I re-order?

[2019-06-06 11:21] pieh commented on #14580
Field name is case sensitive - so `siteMetaData` (notice capital `D`) is still not allowed and we are looking for exactly `siteMetadata` field

[2019-06-06 11:25] polishedwp commented on #14581
I can reproduce the error on my local computer. I can't see where the font-family is actually specified. You might want to add to your `global.css`.

Also, if you are going to use `React-bootstrap` and want to customize the CSS, you might want to specify, bootstrap CSS: `bootstrap/dist/css/bootstrap.min.css`.

[2019-06-06 11:28] raph90 commented on #14581
Hi @polishedwp, the font-family is specified in the typography.js file (in utilities). There's been no problem with the development build up to now, and I haven't changed any of the imports... it's a bit confusing.

Thanks for the tip about React-bootstrap,
R

[2019-06-06 11:31] raph90 commented on #14581
@polishedwp Adding the font-family to global.css has worked, thanks, but I still have the issue with the font colours. So the problem remains prioritising the typography.js import.

[2019-06-06 11:38] #14580 closed

[2019-06-06 11:39] TuBl commented on #14580
Thanks a lot. i guess the solution is not to learn new things at 5am and just go to bed xD

[2019-06-06 11:42] polishedwp commented on #14581
Since you are using `styled-components` you could use `GlobalStyles`. It may give you more control over what appears to be CSS style clashes.

[2019-06-06 11:45] Zyclotrop-j commented on #11524
Just to add a possible cause:
In my case, it was a `new Buffer(val, 'base64').toString();` as a replacement for `atob` in SSR.
(Basically if `atob` is not available, use the node-js version.)
Worked in develop, compiled correctly, crashed on startup of the prod-page. Further, the include was enough, the code was never executed, it was just present in the chunk that would be loaded on startup.

[2019-06-06 12:00] tricoder42 commented on #13806
Hey everyone, I'm working on automatic splitting of message files in https://github.com/lingui/js-lingui/issues/503. Ideally I would like to have a webpack plugin, which:

1. Generates message files for each chunk, e.g. `chunk.0.[locale].js` (I've already done this, because I can track what message is included in what module)
2. When `chunk.0.js` is about to load, request `chunk.0.[locale].js` at

[2019-06-06 12:19] raph90 commented on #14581
@polishedwp Thanks, I'll give it a try

[2019-06-06 12:38] raph90 commented on #14581
The issue is definitely that Bootstrap is overriding my styles. Do you guys know how I could prioritise typography.js over Bootstrap? I've tried importing bootstrap but no dice so far

[2019-06-06 12:42] artistsweb-denis commented on #14414
@KyleAMathews sorry for the late reply. `src/pages/index.js` is our index site, which is composed of an exported functional component `IndexPage` and an exported gatsby graphql query. The import was to a JS file which had no export. It was an unnamed import - `import "motion/index.js"` which only had comments in it.

[2019-06-06 12:52] dyyyl commented on #14539
Hey @BernardA would you be able to supply a [reproduction](https://gatsby.dev/reproduction) so that we can immediately test things out?

Thank you!

[2019-06-06 13:00] sanjaySP commented on #9083
+1

[2019-06-06 13:00] raph90 commented on #8560
Adding to this because I think it's related, but only been an issue recently:
I'm using Typography.js as well as Bootstrap - in production the bootstrap is overruled by typography.js which is what I want, but on the dev server the Bootstrap font styles are overriding my typography styles. This is pretty infuriating because I have to deploy the site to see what it really looks like. If anyone knows

[2019-06-06 13:22] polishedwp commented on #14581
Not entirely sure. My setup, I'm using bootstrap as my primary and I have `styled-components` available as needed but so far have not used it. I am not using `typography.js` at all. I am using SASS to override bootstrap. See [here](https://github.com/polishedwp/my-ec.mdx/blob/master/src/styles/custom.scsshttps://github.com/polishedwp/my-ec.mdx/blob/master/src/styles/custom.scss).

I import `reacts

[2019-06-06 13:23] superhawk610 commented on #14487
Since this is a somewhat involved solution and it sucks to dig through closed issues for debugging, I'll write a plugin for `stylable` that handles this setup for you, stay tuned :)

[2019-06-06 13:24] raph90 commented on #14581
Yeah I might need to change approach. The issue is Gatsby is injecting the typography.js styles at the very top of the HTML head, which is completely infuriating and counterproductive. I'm sure there's a way around it but I don't know how...

[2019-06-06 13:45] sarneeh commented on #6211
Any news on this? Just wasted a few hours because of this :sweat_smile:

[2019-06-06 15:05] jxnblk commented on #14258
As far as the search results go, should we go ahead and update the official MDX docs to point to the Gatsby docs? I suspect that would be a good place to start

[2019-06-06 15:13] nxz91 opened #14585 "Serving gatsby with NodeJS express server"
I would like to host gatsby via a NodeJS express server. I have used Netlify in the past but it is not a feasible option for the current project.

I did `gatsby build` but then was not sure which files to copy over to my express application. I was expecting that I could just use express.static to serve the site. But I cannot even find an `index.html`

Any ideas? 🤔

Thank you!

[2019-06-06 15:18] maecapozzi commented on #14099
I think it'd be useful to come up with a process for how you'd like to collect the content for this tutorial. Will a single person write most of the sections? Do you want to merge it section-by-section with a note that the rest of the tutorial is a stub, or all at once? @marcysutton brought up these questions on my PR, and I just wanted to bring them up on this issue as well.

[2019-06-06 15:22] fancydev18 opened #14587 "HTML comment give SyntaxError"
Couldn't find this in first 2 pages of "comment" issues, nor google.

Trying to add this HTML comment in gatsby starter site:

[code]

This gives a SyntaxError on the comment. Aren't HTML comments supported?

[2019-06-06 15:25] DSchau commented on #14587
@fancydev18 when you're writing React code (JSX), you're writing an XML syntax that _mostly_ looks like HTML. However, there are some gotchas, notably what you're hitting right now re: comments. I recommend also reading [this documentation on ReactJS.org](https://reactjs.org/docs/jsx-in-depth.html) for more info--although comments aren't specifically called out.

To comment something in JSX, you'l

[2019-06-06 15:25] #14587 closed

[2019-06-06 15:28] danboyle8637 opened #14588 "Just a question about Gatsby's output HTML structure"
With every site I build, I'm trying to get more detail 'installed' in my brain.

I'm setting up the containers for my site and I noticed the first element inside the root gatsby div ... <div id="___gatsby" />

... There is another div with a tab index and a role of group.

What is this div?

[2019-06-06 15:52] fk commented on #14469
Sorry for only being able to follow up here today! Thanks for helping out everybody!

[2019-06-06 16:02] amcc commented on #6654
this was exactly my issue. Netlify was building very fast - less than 2 mins. Only about 30 posts, with around 500 source images. Locally wasn't every completing, simply unticking the CloudFlare status to be DNS only solved the issue immediately

[2019-06-06 16:13] m-allanson commented on #14585
Hey @nxz91 - the built site will be available from the `/public` directory. There's a little more info on this page: https://www.gatsbyjs.org/docs/gatsby-project-structure/

[2019-06-06 16:24] m-allanson commented on #14588
Hey @danboyle8637 - this is an accessibility feature of `@reach/router`. This is the router that Gatsby uses to handle page navigation. Read more about the feature here: https://reach.tech/router/accessibility

Note that Gatsby's implementation of the router means this feature isn't working as intended right now. There's a fix in progress at https://github.com/gatsbyjs/gatsby/pull/13197

[2019-06-06 16:39] rchrdnsh opened #14590 "How do I make the `react-div-100vh` React component work for my Gatsby app?"
Hi everybody,

I'm trying to use a react component called:

https://github.com/mvasin/react-div-100vh

In my project to fix the iOS Safari/Chrome bug where both browsers hijack the vh unit so that 100vh is not actually 100vh, which is INSANE!!!!! but they think it's good, for some reason...many threads on da internet about it, including this one:

https://medium.com/@susiekim9/how-to-compensate-fo

[2019-06-06 16:39] nxz91 commented on #14585
Thank you!!! I was almost sure I had tried this before, but now it worked xD

[2019-06-06 16:53] DSchau commented on #14590
Hi Richard! :wave:

You'll want to use `wrapPageElement` in [`gatsby-browser.js`](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement). This will allow you to wrap all pages in a component (in this case the react-div-100vh component) in the _browser_.

This should do the trick, but please reply or re-open if we can help further. Thanks!

[2019-06-06 16:53] #14590 closed

[2019-06-06 16:53] ukch opened #14591 "[gatsby-source-shopify] Allow querying shop currency"
## Summary

As far as I can tell, there is no way to tell what is the default currency for a shop using this library. However, it should be possible to query this data using [PaymentSettings](https://help.shopify.com/en/api/storefront-api/reference/object/paymentsettings).

### Motivation

If a developer wants to build a reusable code base for multiple Shopify stores, it would be very helpful if t

[2019-06-06 17:02] vcarl commented on #13873
Yep! I mentioned in the original ticket that I'm using that method to work around it for the time being.

[2019-06-06 17:13] rchrdnsh commented on #14590
Hi @DSchau , I'm doing this:

[code]

but it's giving me the following error:

<img width="1041" alt="Screenshot 2019-06-06 10 12 52" src="https://user-images.githubusercontent.com/7884263/59052316-a9889e00-8843-11e9-836f-83b4eefad66d.png">

the syntax is new to me here as well...does the regular import statement not work here?

[2019-06-06 17:15] DSchau commented on #14590
I'm not exactly sure, but you should definitely use ES Modules for gatsby-browser.js.

[code]

[2019-06-06 17:18] rchrdnsh commented on #14590
should we update that in the docs? Currently the docs look like this:

<img width="723" alt="Screen Shot 2019-06-06 at 10 17 41 AM" src="https://user-images.githubusercontent.com/7884263/59052627-54995780-8844-11e9-8447-b8be2761076f.png">

but changing it to what you showed me ended up working and the error went away.

[2019-06-06 17:22] superhawk610 commented on #14487
Alright, plugin is here: [gatsby-plugin-stylable](https://github.com/superhawk610/gatsby-plugin-stylable) 📦

[2019-06-06 17:27] #13831 closed

[2019-06-06 17:27] #13853 closed

[2019-06-06 17:29] tombunn commented on #6654
I also found this to be the case. I previously had one image that was causing the build to fail and dismissed Cloudflare being the issue. The issue since came back recently and as @amcc suggested not routing the A record through Cloudflare solved the issue immediately locally as well.

[2019-06-06 17:49] rchrdnsh commented on #14590
ugh...the component is totally not working...the screen is now just blank on mobile devices...

can i do something like this in gatsby-browser?

[code]

This was another solution proposed in one of the articles I have read about the subject.

[2019-06-06 17:53] daydream05 commented on #13949
Closing this. Thank you for all the help @DSchau

[2019-06-06 17:53] #13949 closed

[2019-06-06 17:54] DSchau commented on #13949
It was all you @daydream05! Glad to help!

[2019-06-06 18:45] dyyyl commented on #14564
I can try taking this one up!

[2019-06-06 18:52] janKir opened #14592 "gatsby-image/withIEPolyfill is missing typings"
## Description

When importing in Typescript from `gatsby-image/withIEPolyfill` vscode says that it

In the root folder of gatsby-image is a `index.d.ts` which is missing in the `withIEPolyfill` submodule. I need to use this submodule because the `objectFit` prop doesn't seem to work otherwise.
### Steps to reproduce

1. Start a gatsby project with typescript.
2. Create a typescript component.
3.

[2019-06-06 20:21] kripod opened #14595 "Make each starter repository a template"
## Summary

As [GitHub repository templates](https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/) came out, there is an opportunity to set up new projects without relying on the `gatsby new` command.

### Motivation

Developers could take a quicker path when creating a new repository and avoid having to follow several instructions about setting up new Gatsby project

[2019-06-06 20:58] danboyle8637 commented on #14588
@m-allanson Thanks Mike! I appreciate the answer and link.

[2019-06-06 20:58] #14588 closed

[2019-06-06 21:09] marcysutton commented on #14564
@dyyyl awesome. Let us know if you have any questions!

[2019-06-06 21:12] barbalex commented on #10457
For a frontline story of how the public folder can grow rather large and how that can bring down a project surprisingly see this issue in the zeit community: https://spectrum.chat/zeit/general/help-i-just-hit-a-deployment-limit-during-a-critical-deployment~6c7c0fb2-4822-4a54-9a20-fd9abb3d1f21

[2019-06-06 21:18] barbalex commented on #10457
Well, maybe you have to log in for that community. Here the long story short:
- for a large update I had to synchronize SQL-changes and app deployment
- I built the app, applied the sql changes then deployed on zeit/now as hundreds of times before
- unfortunately the deployment hit a 10'000 file limit
- my app was broken, it was 23.00 at night after a hard days work and I had to get things working

[2019-06-06 21:19] adarshlilha commented on #14551
Can I take this @wardpeet @nickwild-999 ?

[2019-06-06 21:41] marcysutton commented on #11810
Closed with https://github.com/gatsbyjs/gatsby/pull/12406.

[2019-06-06 21:41] #11810 closed

[2019-06-06 21:53] gillkyle commented on #14258
@jxnblk that sounds like a good idea. I can change that.

It looks like some of the guides on [gatsby-mdx.netlify.com](gatsby-mdx.netlify.com) (like _Writing Pages_ are also on .org, could the rest of those guides be consolidated on .org you think? @ChristopherBiscardi

[2019-06-06 21:59] jessepinho commented on #11364
FYI, I'm working on a fix to this based on @simoneb's great work. I want to PR it, but I want to tweak the options a bit first so that you also have an option of excluding fields (rather than specifying all the fields to include).

[2019-06-06 21:59] jessepinho commented on #11364
Oh sorry, the branch is here: https://github.com/gatsbyjs/gatsby/compare/master...jessepinho:topics/rich-text-field-filter

[2019-06-06 22:02] marcysutton opened #14598 "[docs] how to upgrade Gatsby and dependencies for minor/patch releases"
## Summary

We should add a doc on how to upgrade Gatsby after you've created a site. For many developers, the steps to do that are not obvious and there's likely some fear that typing in random commands could break things.

In the [Releases & Migration](https://www.gatsbyjs.org/docs/releases-and-migration/) section of the docs, we could list out both the reasons and steps for how to upgrade. Ulti

[2019-06-06 22:46] gfsd3v commented on #11006
Anyone have some news on this ? Having exatcly the same problem.

[2019-06-06 22:53] KyleAMathews commented on #14325
@JoshuaWalsh seems like a great approach! Want to put up a PR with perhaps a video showing how things would work?

[2019-06-06 22:54] gfsd3v commented on #13410
Anyone had any luck on this ? having a similiar issue.

[2019-06-06 23:22] lax4mike opened #14601 "className not being correctly applied after server render"
## Description

I made a minimal example repo that you can find here: https://github.com/lax4mike/gatsby-bug
Is this a bug with server rendering in Gatsby? or server rendering with React in general?

### Steps to reproduce

1. Open http://mikelambert.me/gatsby-bug/ in a browser wider than 600px.
1. Notice that the background is _green_ and the text reads _CONTAINER--LARGE (should be blue)_.
   - T

[2019-06-07 00:06] smakosh commented on #13410
https://github.com/gatsbyjs/gatsby/issues/13410#issuecomment-486306784

[2019-06-07 00:44] rlynn523 commented on #14468
@fk is there a dev or test env I can deploy to? I can only really validate the twitter cards when the code is deployed. I tried to use ngrok, but it didn't seem to work with the Twitter Card Validator. I could also just push my forked repo to gh-pages or something...what do you recommend?

[2019-06-07 01:59] marcysutton commented on #14529
@KyleAMathews out of curiosity, could `gatsby-image` bundle `gatsby-transformer-sharp` and `gatsby-plugin-sharp`? Seems like that would simplify things a bit.

[2019-06-07 04:13] gfsd3v commented on #13645
@slorber Would mind sharing a repo or a codesandbox of a POC using this aproach ? I'm having a little trouble trying to setup something very similiar to what you have done.

[2019-06-07 06:00] spences10 opened #14607 "[docs] Convert Gatsby starter blog to MDX"
## Summary

Add guide for converting the [Gatsby starter blog] to use MDX

I have put together a brief [YouTube video] a while back on doing it and made some documentation to go with it, it's a bit dated as it uses the `mdx/tag` and not `mdx/react` so will need updating.

I'd also like to cover the use of adding a `root-wrapper` for styling components.

### Motivation

To aid user adoption of usin

[2019-06-07 06:00] mxxk commented on #14528
Thanks @freiksenet. On debugging this further I've discovered that the fix is not in just in

https://github.com/gatsbyjs/gatsby/blob/30da56e65431e5aad3ae56ad30744fafda951a3c/packages/gatsby-transformer-remark/src/hast-processing.js#L11-L24

but also in

https://github.com/gatsbyjs/gatsby/blob/30da56e65431e5aad3ae56ad30744fafda951a3c/packages/gatsby-transformer-remark/src/extend-node-type.js#L432-

[2019-06-07 06:14] good-idea commented on #13965
Not stale! Chiming in here to say that I'd also love support for this. Parsing manually is OK for now, but if it were "official" then I'd feel better about handing work off to clients.

Also, Typescript complains when I add a `matchPath` property on the `createPage` input object. (matchPath doesn't exist on PageInput)

[2019-06-07 07:15] JoshuaWalsh opened #14609 "Cannot run gatsby-dev in PowerShell"
## Description

Running `gatsby-dev` works fine in CMD, but not in PowerShell.

### Steps to reproduce

I have followed [these instructions](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/) up until where it says to run `gatsby-dev`.

### Expected result

`gatsby-dev` should run.

### Actual result

[code]

### Environment

[code]

### Extra information

Looking inside

[2019-06-07 07:28] freiksenet commented on #14528
@mxxk You could check for AST node types and only add spaces when concatenating paragraph AST nodes, preserving whitespace otherwise.

[2019-06-07 08:16] pgegenfurtner opened #14611 "Theming: Page query in template is not shadowed"
I have a core data theme and a multiple ui themes that depend on the core. I have some templates in `core-theme/src/templates/page.js` and would like to override the page query in my theme like `src/core-theme/templates/page.js`. The component itself gets shadowed and overriden, but the page query stays the old one from ore.

Gatsby version: 2.8.5

[2019-06-07 09:26] nickwild-999 commented on #14551
You can for me! :-)

On 6 June 2019 at 22:20:06, Adarsh Lilha (notifications@github.com) wrote:

Can I take this @wardpeet <https://github.com/wardpeet> @nickwild-999
<https://github.com/nickwild-999> ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/gatsbyjs/gatsby/issues/14551?email_source=notifications&email_token=AELGDNU

[2019-06-07 09:39] NaziaHasanPoT opened #14613 "Gatsby CLI Commands not working for a GitHub Repo"
## Description

I am trying to clone a webservice built with gatsby and run it locally in my laptop.
But typing any gatsby command gives the following alert on command prompt:
`-bash: gatsby: command not found`

I tried uninstall and reinstall gatsby manually without working on the GitHub Repository. But it still did not work out.

<img width="934" alt="Screenshot 2019-06-07 at 15 13 33" src="http

[2019-06-07 09:45] phacks opened #14614 "Examples sites (e.g. using-contentful) return “Not Found”"
## Description

Hi! I was checking something on the `gatsby-source-contentful` docs and I noticed that the example site (https://using-contentful.gatsbyjs.org/) returns a 404 “Not Found” served by Netlify.

![image](https://user-images.githubusercontent.com/2587348/59095557-1f126e00-8919-11e9-8a25-5b9bbb8cb708.png)

The 404 is handled by Netlify directly, not on an applicative level:

![image](htt

[2019-06-07 09:55] phacks commented on #14525
This has been discussed in a previous issue for reference: https://github.com/gatsbyjs/gatsby/issues/12198

I’m willing to work on this, any hints to where I should begin with?

[2019-06-07 11:15] Hypothesis-github opened #14615 "How to check an array with regular expression in GraphQL"
I need to check the existence of some elements in an array as such

I have an array as such

ar = ['one','two','three']

I want to know how I can individually check the elements in the regular expression code below instead of "/something/" that would map through my array and check if they exist in graphQL one by one.

[code]

[2019-06-07 11:30] fk commented on #14468
💯 Yeah … hmm, ngrok _should_ work — I used it before to test with the Twitter Card Validator. Did you try it with `develop` or `build`? I think I was successful with the latter. Want to give it another chance?

Alternatively, you could build `www` with `GATSBY_SCREENSHOT_PLACEHOLDER=true` in `.env.production` (see https://github.com/gatsbyjs/gatsby/tree/master/www#running-slow-build-screenshots-pl

[2019-06-07 11:59] benday280412 commented on #11867
Hi all,

I'm also seeing this behaviour, but it's originating from gatsby-remark-images-contentful.

The issue seems intermittent for me also, sometimes building fine, other times hanging on the queries stage.

I ran the build via Charles Proxy and can see the image requests going out. When the build hangs, I can see one or more images that have started transferring but don't complete, axios then

[2019-06-07 12:05] #14426 closed

[2019-06-07 12:47] stefanprobst commented on #12272
@janosh
* When changing the field type of `frontmatter.tags` from `[String]` to `[Tag]`, the `field` argument of `group` would also have to be adjusted to either `frontmatter___tags___title` or `frontmatter___tags___slug`. UNFORTUNATELY this does not yet work correctly, because we don't call field resolvers for `group` fields, only for `filter` and `sort` fields (see #11368).
* For the moment, you

[2019-06-07 12:56] bhavikji commented on #6053
I also got the same issue and fixed it by this way.

https://stackoverflow.com/questions/56493502/how-to-add-bootstrap-js-in-a-gatsby-website/56494756#56494756

[2019-06-07 12:56] bhavikji commented on #7599
I also got the same issue and fixed it by this way.

https://stackoverflow.com/questions/56493502/how-to-add-bootstrap-js-in-a-gatsby-website/56494756#56494756

[2019-06-07 13:06] janosh commented on #12272
@stefanprobst Thanks for the quick reply!

I thought about doing that but suspected that I was overlooking something and hence approaching this from the wrong angle. Thanks for clearing this up and for planning to add support for field resolvers for `group` fields!

Maybe another solution would be to let `Tag` implement `Node` such that Gatsby creates an `allTag` query automatically.
[code]
Then a

[2019-06-07 13:39] rlynn523 commented on #14468
I only tried it with `develop` but will see if using `build` works. Thanks!

[2019-06-07 14:18] Naismith commented on #14565
I realized I had forgotten to commit the local db of strapi. It should now work.

An additional note, I created an article without any tags. So when I am filtering on articles that do not have 'Featured'. I feel this is still a valid article to pull.

[2019-06-07 14:19] fk commented on #14468
Sure! You're welcome! Crossing fingers! 🤞
Thanks for looking into this!

[2019-06-07 14:25] DSchau commented on #14615
@Hypothesis-github could you share a link to your project so that we can experiment most quickly with what you've already set up? See: [creating a reproduction](https://gatsby.dev/reproduction) for more info on how to do this.

In general, I would recommend the [GraphQL Reference](https://www.gatsbyjs.org/docs/graphql-reference/) page for some more assistance with this. It wouldn't allow regular e

[2019-06-07 14:27] i-bsd commented on #13442
Agree. Still an issue on FreeBSD.
The only way Gatsby is usable is to use drop `gatsby-plugin-sharp` back to an old version (2.0.7). This is not ideal or acceptable.

[2019-06-07 14:29] DSchau commented on #14613
I believe you'll need to set up your path to account for global NPM packages.

We recommend using [Homebrew to install](https://www.gatsbyjs.org/tutorial/part-zero/#install-homebrew-for-nodejs) but you can also go without with a guide like [this](https://coolestguidesontheplanet.com/installing-node-js-on-macos/)

I'm going to close this out, but please re-open or reply if we can help further!

[2019-06-07 14:29] #14613 closed

[2019-06-07 14:33] DSchau commented on #14611
As far as I understand it, pages or templates aren't necessarily _intended_ to be shadowed, but rather the underlying components that make up a theme and are _consumed_ by pages or templates.

In other words, we may have a file named `src/pages/whatver.js` and it could look something like:

[code]

This means you can (should?) shadow the component with data, not necessarily the page that injects w

[2019-06-07 14:39] pgegenfurtner commented on #14611
I understand why it is not necessarily intended to be shadowed.
In my specific use case, I would like to query images differently (other query attributes for fluid sizes for example) for each theme, because the UI output is different.
Maybe there is a better way to do this.

[2019-06-07 14:39] DSchau commented on #14609
Hmm -- so this is super strange. I don't think that _we_ created that `gatsby-dev.ps1` script--it seems that it may be something that Yarn creates.

It appears that this is related to yarnpkg/yarn#6902 and was fixed in yarn@1.15.2. Could you update your version of yarn and see if that works?

Going to close as answered, but please let us know if this doesn't work and we can help further! Thanks!

[2019-06-07 14:39] #14609 closed

[2019-06-07 15:09] DSchau commented on #14601
I believe this to be a hydration issue. ReactDOM has trouble patching text content (e.g. attributes) that differ between the server-rendered content vs. what's now available on the content.

Specifically, I recommend checking out facebook/react#13260 for more context on the underlying issue. Specifically, the below passage from [ReactDOM Hydrate documentation](https://reactjs.org/docs/react-dom.ht

[2019-06-07 15:09] #14601 closed

[2019-06-07 15:11] DSchau commented on #14592
@janKir sounds like you have a great handle on this, and the steps necessary to make the change.

We'd love a PR!

[2019-06-07 15:40] DSchau commented on #14614
Great catch!

Not really sure how -- but it appears that some of our Netlify deploys have mysteriously disappeared.

Adding them back now--and will try to get this ironed out. Thanks!

[2019-06-07 16:11] kenold commented on #13469
` In Gatsby-config, the order of plugins does matter here:`
This solved it for me. I moved these to the top of the plugins list.
[code]

[2019-06-07 16:38] erquhart commented on #14418
It really seems like this only impacts the very first deploy. Using the method @m-allanson suggested to isolate the issue, I'm seeing 13s deploys without Netlify CMS, and 18s with. Don't see anything in local or CI builds that would suggest a possibility of running out of memory. I don't know exactly why the initial build takes so long, but Netlify CMS does have it's own isolated build process, an

[2019-06-07 17:27] #13778 closed

[2019-06-07 17:30] marcysutton commented on #14095
The components were spec'd out in a separate doc: https://docs.google.com/document/d/1XYzToB-cNJ6Ot0ujdg5WaO5jmKH7moJ8305VwwwA2UY/edit#heading=h.nt3t0p9y6kx5

We need this project to be prioritized to move onto the next stage. Some of the components will be addressed with issues like #13475 and #6896, which I'll follow-up on, but as for the spec'ing part, I believe it is done and the issue can be

[2019-06-07 17:30] #14095 closed

[2019-06-07 17:30] marcysutton commented on #13475
Hey @lannonbr, are you back from vacation now? Any update on the breadcrumb component?

[2019-06-07 17:32] marcysutton commented on #6896
Some more information and success criteria from our specification doc:

A floating table of contents widget will help users contextualize where they are in a document, dynamically listing page sections and scrolling with them as they read.

The floating TOC should include a heading like “Table of Contents” to be consistent with the Gatsby Preview docs. It should also include a list of internal lin

[2019-06-07 17:34] marcysutton commented on #14607
I think some of this work is being done with the move to themes. Hey @amberleyromo, can you chime in on how this might overlap with your efforts already in progress?

[2019-06-07 17:43] marcysutton commented on #5030
This component was spec'd as part of https://github.com/gatsbyjs/gatsby/issues/14095 (currently needing to be prioritized amongst other work, so if anyone wants to pick this up that would be fine by us as long as it meets the requirements).

Here are some success criteria for what we need for this component to be successful:

## Success criteria
- As a keyboard user, I should be able to reach and

[2019-06-07 17:46] lannonbr commented on #13475
Yeah, so I have not sat down to start coding it out, but basically what I will want to do is walk down the docs tree structure and get the links and titles.

The sidebar already does this so I may either use some code from there to make a similar experience but for the breadcrumbs.

[2019-06-07 17:50] janKir commented on #14592
In my gatsby project, typings are recognized if I put the following `index.d.ts` file into the `gatsby-image/withIEPolyfill` folder inside the `node_modules`.
[code]

I haven't contributed to gatsby before so actually I don't really know all the steps necessary to file a PR.

[2019-06-07 17:52] good-idea commented on #5667
🤦🏼‍♂️
Updated my comment, they weren't being loaded *until* much later.

[2019-06-07 17:53] good-idea commented on #5667
🤦🏼‍♂️Yup, *were*. I updated my comment. 🥴

[2019-06-07 18:29] DSchau commented on #14592
Of course! We'll we'd love to have this be your first, so let me help walk you through that!

1. [This is a great resource](https://www.gatsbyjs.org/contributing/code-contributions/) to learn more about contributing. Pay particular note to [Setting up your Local Dev Environment](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/)
1. As part of the above process, you'll ha

[2019-06-07 18:50] mikheevm commented on #14418
Are you saying that the reason for this is the build of the CMS app?
I just tried to remove the plugin from the repo from issue description and got 11s (vs almost 100), the bundle is ok.
Seems the plugin is the case. Is it possible to disable its build when running `gatsby build`?

[2019-06-07 18:51] DSchau commented on #14558
OK!

So what's happening here is that css is _global_, and embedding a component in an iframe does not strip the (now unused by the main app) CSS from _that specific_ component from the main application.

Gatsby's build process is something like this (in the case of CSS):

1. Use webpack to load all assets
1. If an asset is requested (e.g. a page imports a component), load the assets for that comp

[2019-06-07 19:01] talves commented on #14418
@mikheevm I am looking at your repository now. I already see some things that are an issue. Let me review and I will get back to you.

[2019-06-07 19:01] DSchau commented on #13980
This may be fixed in #14624. Sharp wasn't actually _using_ this environment variable, so the images may have been using too many CPUs as a result!

[2019-06-07 19:09] kpennell commented on #13469
@kenold uh, yeah...like my answer above.

[2019-06-07 19:26] talves commented on #14418
First thing we need to fix is the dependencies for `netlify-cms`. See PR https://github.com/gnosis/dappcon-website/pull/92

This brought the bundle size from 6K back down to the expected ~3K and cut the build time of the cms bundle in half for me.

[2019-06-07 19:42] pantaley opened #14629 "Create URLs in cyrillic"
Hello, I'm trying to create a website with Cyrillic urls. I created a file ./src/pages/проекти.js in Cyrillic. Then I can navigate successfully to this page with <Link to={'/' + encodeURIComponent('проекти')} >

The problem I can't solve is with GraphQL query. Every time I try to run 'gatsby develop' I got the error:

[code]
Can you suggest how to set GraphQL to work with non Latin chars or workar

[2019-06-07 19:42] gillkyle commented on #13876
Hi @haezl! Thanks for the evaluation, looks great. It looks like the bot closed this issue though I'm not aware anything ever got merged in to resolve the recommendations you made so I'll open the issue back up in case other folks want to help out too.

Have you been able to work on any more of those changes at all?

[2019-06-07 19:56] DSchau commented on #14629
@pantaley could you paste a sample page, and better yet a [reproduction](https://gatsby.dev/reproduction) that we can test with?

[2019-06-07 20:13] jlengstorf commented on #14099
@marcysutton do you have thoughts on this? It seems to me like we could stub out what we need and tackle these a section at a time, which means it can be done piecemeal without requiring a single person to go all-in on writing the full guide. That should also cut down on review overhead.

I'll defer to your judgment here, and I'm not sure where it should live. Let us know!

[2019-06-07 21:04] marcysutton commented on #14099
That sounds like a great approach to me!

Right now my recommendation for location is to add theme authoring tutorials to the "Creating Themes" section within the Themes docs, similar to the [Creating Plugins](https://www.gatsbyjs.org/docs/creating-plugins/) section. That said: before we move Themes docs to GA (general availability), we'll need to merge them with the plugins docs. But I need to pu

[2019-06-07 21:12] caitlinthefirst commented on #14040
Assuming this still needs addressing, I can draft content to replace these stubs. At this point there's more than enough blog/video content that I can pull from; but if there are any other particular pieces anyone wants to suggest for reference material, let me know

[2019-06-07 22:31] jamestewartjr commented on #14546
Yes. I removed the Procfile and Heroku worked again.

[2019-06-07 22:34] wardpeet commented on #14546
Do you mind creating a PR and update the docs like @muescha mentioned? We would really love that ❤️

[2019-06-07 22:49] marcysutton commented on #14040
@caitlinthefirst that would be amazing! How's it going with writing @GregBorrelly, do you need any help?

[2019-06-07 22:53] jonnybot0 commented on #14067
I'll be honest, I'm not really using Gatsby now. I'd like to try to repro with the other example site, but I'm not gonna get it done in the next 10 days. Best of luck!

[2019-06-07 22:54] rchrdnsh opened #14634 "Does `gatsby-plugin-layout` NOT reset scroll position on new routes?"
So I have an app I'm developing here:

https://github.com/arrowgtp/alma

...that is currently broken in what appears to be the following way:

Without `gatsby-plugin-layout` installed all of the routes reset their scroll position to 0 all the time, which is what I want to happen most (almost all, to be honest) of the time.

But it seems to be the case that after installing `gatsby-plugin-layout` n

[2019-06-07 23:09] gillkyle opened #14635 "[docs][workflows] Adding and organizing CSS (including Sass)"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to add and organize CSS in my Gatsby project.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😐 | 😐 | 😄 | 😄 | 😄 | 😄 |

# Steps taken to implement

1. Searchabi

[2019-06-07 23:58] wardpeet opened #14636 "Introduce experiments/feature toggles"
## Summary
Gatsby's ecosystem is growing every day. This makes it harder and harder to ship new features and not break things. Experiments give us the opportunity to ship features in gatsby behind a flag and gather feedback from the community before turning it on for everyone. Experiments is nothing new, we're already using it with **env variables** (ex. GATSBY_DB_NODES). In my opinion, they don't

[2019-06-08 00:01] rlynn523 commented on #14468
<img width="458" alt="twitter-card" src="https://user-images.githubusercontent.com/18073651/59139043-95858f00-895e-11e9-955c-856f502a9ff5.png">

It worked! I ended up creating a `SocialMetaTags` component that will create `og` and `twitter` meta tags. I did have one question, if a site in the showcase does not have a description, is there any copy you would like to use as a fallback? Something wit

[2019-06-08 00:35] iamskok commented on #5030
@marcysutton thanks for providing all the requirements. I can continue working on this issue, but I will need some guidelines with reproducing and fixing MDX compatibility bug. Do you know anyone who will be able to help me with it?

[2019-06-08 03:18] smerth commented on #11785
Hi there,

I have an issue and I think it might fit here.  I wrote a plugin called gatsby-source-gh-readme, which you can find on NPM [gatsby-source-gh-readme](https://www.npmjs.com/package/gatsby-source-gh-readme) and the repo is on github here [gatsby-source-gh-readme](https://github.com/smerth/gatsby-source-gh-readme).

The plugin makes a graphql call to the github graphql api and should pull i

[2019-06-08 03:26] smerth commented on #11747
I wrote plugin [gatsby-source-gh-readme](https://github.com/smerth/gatsby-source-gh-readme) to pull file content data from a user's github account, it does the job it should do but I need to clear the cache before running `gatsby develop` or most of the time the build fails.  I added a comment about this [here](https://github.com/gatsbyjs/gatsby/issues/11785#issuecomment-500089655) because I think

[2019-06-08 04:54] rgnevashev opened #14637 "createPageDependency is not a function"
![2019-06-08 07:53:11](https://user-images.githubusercontent.com/123600/59142164-820c0f80-89c2-11e9-9d8d-165b715ec4ce.png)
red box is my external graphql api

after upgrade gatsbyjs 2.8.2 -> 2.8.6

[2019-06-08 05:25] cluzier opened #14638 ".markdown files turned into .html"
I've recently decided to clone my repo of my blog off GitHub, it wasn't until I cloned it that I realized the file/folder structure was different than the last time that I uploaded and made changes to the site.

originally the structure was as follows

[code]

but now that I've cloned it the structure is as follows

[code]

Has anyone else had this issue before?
Here is a link to my repo if you wa

[2019-06-08 06:38] johnletey commented on #14598
@marcysutton I can give this a go!

[2019-06-08 06:45] johnletey commented on #14474
@mathieudutour If you are busy, I can give this a shot!

[2019-06-08 07:09] mikheevm commented on #14418
@talves Thank you! It cut the build time but it's still far away from what it used to be 🙃

**Before updating**:
<img width="700" alt="Screenshot 2019-06-08 at 11 07 10" src="https://user-images.githubusercontent.com/16622558/59143635-c5c04280-89dd-11e9-8865-4d1c6fc66419.png">

**Now**:
<img width="646" alt="Screenshot 2019-06-08 at 11 07 50" src="https://user-images.githubusercontent.com/16622558

[2019-06-08 07:59] pantaley commented on #14629
@DSchau I found the issue. When you create new app with `gatsby new` and rename page-2 to something that is not with Latin chars you must add a name to you query.

For example when I want to get site meta from `gatsby-config.js` it needs to be:
`query name { site { siteMetadata ....`
and not just:
`query { site { siteMetadata ....`

Here are the full queries:
[code]

If you add for example data as

[2019-06-08 08:43] haezl commented on #13876
@gillkyle thx for having an eye on that. Haven't been able, but changes are good I can do some work in the next few days. I'm not aware on how to tackle the searchability issue through the Searchbar though, any references for this?

[2019-06-08 08:53] DimaKoval opened #14640 "plugin `gatsby-source-contentful` - Unexpected Name "Contentful""
## Description

`gatsby-source-contentful` fall with error in newly created gatsby site

### Steps to reproduce

- `gatsby new contentful-blog`
- `cd contentful-blog`
- `yarn add gatsby-source-contentful`
- add contentful plugin
[code]
- `gatsby develop`

### Expected result

successful build and Contentful nodes created

### Actual result

Build failed with error

[code]

### Environment

[code]

[2019-06-08 09:00] jjcav84 commented on #14598
@marcysutton for clarification is this upgrading from version 1 to version 2 or does this include minor versions?

[2019-06-08 09:05] jjcav84 commented on #14637
Hello @rgnevashev could you please provide some more info following the guidelines set forth in the docs here https://www.gatsbyjs.org/contributing/how-to-file-an-issue/

[2019-06-08 10:06] Hypothesis-github opened #14642 "Passing variables to graphql"
I can pass a variable by using gatsby-node.js as such

[code]

later on in my pages I can receive it as

[code]

now `$skip` and `$limit` are accessible.

I wonder if there is any other way to pass a variable to the graphQL query like directly from pages by React instead of dealing with node.

[2019-06-08 10:14] smakosh commented on #14637
Having the same issue, to reproduce it:

1- Clone my repository: https://github.com/smakosh/gatsby-portfolio-dev
2- upgrade dependencies and follow the instructions on the repo's readme file

[2019-06-08 10:34] pitkes22 opened #14644 "gatsby-remark-images do not work when parent node has dash in name"
## Description

gatsby-remark-images do not converts image path string node to file node when it is under the node with a dash('-') in the name. Instead, it changes the path of the image to some weird invalid path with lot of `../`.

My markdown file looks like this
[code]
So name of the `logo-Branding` node is automatically renamed to `logo_Branding`.
![screen](https://i.imgur.com/AAsPL0p.png)

B

[2019-06-08 11:30] Chmarusso commented on #12856
I had similar issue with Strapi (#11161). I could not use `where` in my query. Issue occurs only when I'm using `gatsby-source-graphql`, other graphql clients are working fine

[2019-06-08 11:32] adarshlilha commented on #14551
Sorry for jumping right in, all yours @nickwild-999, I will take up another one

[2019-06-08 11:37] superhawk610 commented on #14638
Gatsby's hosting model involves generating a static HTML file structure matching your site's  routing layout to enable serverless routing. For example, if your source `pages` directory contains the following files:

[code]

then when Gatsby builds your app it will mirror that structure with its generated HTML files:

[code]

When you deploy, you just need to statically serve the `public` folder ge

[2019-06-08 11:38] #14638 closed

[2019-06-08 11:59] nickwild-999 commented on #14551
Sorry no I meant that you are fine to take it as far as I am concerned but
I am not an admin on here

--
Nick Wild

On 8 June 2019 at 12:32:48, Adarsh Lilha (notifications@github.com) wrote:

[2019-06-08 12:25] superhawk610 commented on #14565
To do this in Mongo, you'd use the following search filter (see [here](https://stackoverflow.com/a/20805465/885098) for more info):

[code]

Gatsby's GraphQL API uses [sift](https://github.com/crcn/sift.js) to mimic Mongo filtering, but currently it appears that `$not $elemMatch` is not supported. In order to get this working, we'd need to extend the `${DATA_SOURCE}TagsFilterInput` GQL type to inc

[2019-06-08 12:46] adarshlilha commented on #14551
@nickwild-999 go for it, all yours

[2019-06-08 12:52] superhawk610 commented on #14565
/cc @stefanprobst

[2019-06-08 13:10] #14615 closed

[2019-06-08 13:12] mavam commented on #7454
@t2ca your `html` CSS tweak fixed it for me after trying pretty much everything else here. 💯

I'm also using Semantic UI React and have added the following to `site.overrides`:

[code]

[2019-06-08 13:24] harshitjuneja commented on #14595
Good suggestion @kripod!

I see this setting change is applicable to the following gatsbyjs repositories (ignoring the ones that are already archived/un-maintained).

1. gatsby-starter-hello-world
2. gatsby-starter-default
3. gatsby-starter-blog

I would be happy to pick up the README change, once a maintainer enables repository templates.

[2019-06-08 13:32] JordanStuckings commented on #14637
similar problem here.

using  the plugin `gatsby-source-graphql` to query GraphCMS with graphql.

offending query:

[code]

Reproducible on the graphql explorer:
![2019-06-08 23_01_55-Window](https://user-images.githubusercontent.com/29854368/59147976-727fdb80-8a41-11e9-9e25-bde1017cd6de.png)

package.json:
[code]

gatsby-config.js:
[code]

[2019-06-08 13:58] slorber commented on #13645
hi @gfsd3v

You need to create a page like that. Personnally I find it easier to create pages manually in gatsby-node than relying on /pages folder / page creation plugin.

[code]

Then, your component will need to extract the path param from the url (as it's not provided by Gatsby, see https://github.com/gatsbyjs/gatsby/issues/13965)

Note that in SSR mode, Gatsby will not extract any param for t

[2019-06-08 14:25] smakosh commented on #14637
Downgrading is a work around.

[2019-06-08 14:27] danboyle8637 opened #14648 "Gatsby Source Filesystem not reading all files?"
I separate my images by page in the images folder provided by Gatsby.

Here's my gatsby-config.js (at least the filesystem setup):

[code]

I require path at the top of the file.

Currently I have four images in my home directory.

When I run this query in Graphiql:

[code]

I get this as my data:

[code]

But there are two other images in the folder.

Not sure if this is a bug or if I'm making an

[2019-06-08 14:59] superhawk610 commented on #14648
Hey @danboyle8637, can you post a link to your project so we can get a better idea of the issue you're facing? If you need help, check out [this link](https://gatsby.dev/reproduction) for setting up a reproducible repo.

[2019-06-08 15:13] kenold commented on #13469
@kpennell I thanked you in my comment :-). For some reasons, it's happening again but on a different computer. Strange!

[2019-06-08 15:14] talves commented on #14418
I am not sure what has changed that would make that difference.

[2019-06-08 15:21] danboyle8637 commented on #14648
@superhawk610 sure... https://github.com/danboyle8637/fww

Thanks.

[2019-06-08 15:22] MarkosKon commented on #13473
I can work on this.

[2019-06-08 15:24] gfsd3v commented on #13645
@slorber Thank you for the explanation, it worked exactly the way I wanted it.

[2019-06-08 15:30] mikheevm commented on #14418
@talves It's not only my repo, @m-allanson posted steps to reproduce the issue on newly created gatsby project by just adding gatsby-plugin-netlify-cms to the config.

[2019-06-08 15:33] talves commented on #14418
@erquhart the only explanation is that v3 was not running the build in development mode and there was no optimization of the bundle size prior to v4. If you went back and ran v3 vs v4 there is a drastic size difference in the bundle size. If you run `gatsby develop` on v4, you get a quick bundle build also.

I will run some builds on a clean react app without gatsby and see if we get the same buil

[2019-06-08 15:38] talves commented on #14418
@mikheevm the build time for `netlify-cms` would have no bearing on the number of pages or content in the gatsby project. There is essentially two javascript builds going on in gatsby when you have the netlify-cms plugin installed.

[2019-06-08 15:41] mikheevm commented on #14418
@talves I think now I get it. Thank you for your help :)

[2019-06-08 15:50] talves commented on #14418
@mikheevm Also, you might want to ask the gatsby community about running a clean (`rimraf .cache public`) on each build and development. The public should be ok, but if I bypass the clean on subsequent builds there is a big drop on the gatsby side.

[2019-06-08 15:53] DimaKoval commented on #14640
i got why this issue occurrence, i entered "Name" of Content Type with cyrillic char's
and contentful plugin use "Name" to create graphql types

[2019-06-08 15:58] anesask commented on #14648
I'm facing this problem whole day? Hope there is fix.

[2019-06-08 16:18] rlynn523 commented on #14468
Also, by updating the `SiteMetadata` component, you can pass in more props to the `Layout` component which will make cards available across the site. Is that something you would want?
<img width="497" alt="Screen Shot 2019-06-08 at 10 38 38 AM" src="https://user-images.githubusercontent.com/18073651/59148671-e1294e80-89d9-11e9-9b51-913a5f8f0c04.png">

[2019-06-08 16:25] trevorlitsey opened #14651 "gatsby new fails if initialized with a path that has a space in it"
## Description

When I make a new empty directory that contains a space in the folder new and type `gatsby new` a git error is thrown:

[code]

### Steps to reproduce

[code]

### Expected result

Gatsby should init a new project

### Actual result

A git error is throw because the path is split into two arguments

### Potential fix

The path should be wrapped in 'quotes'

### Environment

[code]

[2019-06-08 16:31] flowen opened #14652 "Lots of errors: 404, 401 and 400, invalid route, field slug not defined, deprecation error on a clean test with starter"
## Description

I decided to create a quick test with the [gatsby-starter-wordpress](https://github.com/GatsbyCentral/gatsby-starter-wordpress) and got all these errors by default

### Steps to reproduce

Installed Mamp 5.3
Installed wordpress
Installed ACF
imported [dummy data](https://wpcom-themes.svn.automattic.com/demo/theme-unit-test-data.xml)
Edited gatsbyconfig:
[code]
`yarn develop`

Only

[2019-06-08 16:42] zackphilipps opened #14653 "How to refresh existing pages using ENABLE_GATSBY_REFRESH_ENDPOINT"
## Summary

👋 Hello, I'm using `ENABLE_GATSBY_REFRESH_ENDPOINT` with `gatsby develop` locally and have had success when nodes are added. However, when changing one of the fields on the node, or deleting a node, it doesn't look like the source data is successfully refreshed. In addition, when adding a node after either one of those changes, the preceding changes are not refreshed.

Are either of th

[2019-06-08 16:43] mikheevm commented on #14418
@talves We'll try to remove it and see how it goes. The docs say it should work: https://www.gatsbyjs.org/docs/debugging-cache-issues/
Thank you!

[2019-06-08 16:46] talves commented on #14418
@mikheevm I am only seeing 12s build times on my gatsby projects with javascript using this same plugin, so I am not sure this is 100% the netlify-cms plugin. I even have over 14 previews on the one I am bench-marking against.

[2019-06-08 17:00] DanielRuf commented on #14418
Is this related to some antivirus scanner or how the content is fetched (local or through network, SSD or HDD)?

[2019-06-08 17:09] talves commented on #14418
@mikheevm I just realized my build times are against my gatsby plugin (@talves/gatsby-plugin-netlify-cms@2.3.4) which have the changes prior to the [changes][1] made by @wardpeet prior to publishing the new version.

Would you mind testing against that plugin version to see what results you get?

All you have to do is change:

- in `package.json` to `"@talves/gatsby-plugin-netlify-cms": "2.3.4"`
-

[2019-06-08 17:10] talves commented on #14418
@DanielRuf not that those would not affect it, but that is not the core issue at this time.

[2019-06-08 17:27] #13830 closed

[2019-06-08 17:27] #13897 closed

[2019-06-08 17:27] #13908 closed

[2019-06-08 17:30] rchrdnsh commented on #14634
Just had a thought @DSchau, could it be possible that the pattern I'm using in CSS to create the apps layout be causing the issue?

Here is the CSS for the `<App>` component:

[code]

...and then each child of the grid decides whether it scrolls or not. Like so:

[code]

...where `<Main>` scrolls using overflow-scroll. In the app it's the main section that does not reset scroll position upon each

[2019-06-08 17:51] mikheevm commented on #14418
@talves I changed plugins and it made no difference for me

[2019-06-08 17:55] talves commented on #14418
@mikheevm if you have time. I will be in the [netlify-cms chat][1] for awhile. @talves

[1]: https://gitter.im/netlify/NetlifyCMS

[2019-06-08 18:11] mikheevm commented on #14418
@talves it’s too late for me, would be really glad to chat another day

[2019-06-08 18:21] kpennell commented on #13469
@kenold glad it helped. Hopefully you spent much less time than I did.

[2019-06-08 18:47] marcysutton commented on #14598
@jjcav84 that doc already exists: https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/

Sorry, I should have clarified! This is for minor/patch upgrades; people tend to install Gatsby and then rarely update it again.

Thanks for taking it on! Let me know if you have any other questions.

[2019-06-08 18:50] talves commented on #14418
Using default gatsby starter (`gatsby new`)

**Build without netlify-cms**
[code]
**Build with `gatsby-plugin-netlify-cms`**
[code]
**Build with `@talves/gatsby-plugin-netlify-cms`**
[code]

You are right @mikheevm , plugins are the same and when using the cache builds, I am getting the build times above which match what I see on all my Gatsby builds.

@erquhart I am seeing these times for the bui

[2019-06-08 19:20] superhawk610 commented on #14648
@danboyle8637 I cloned your repo locally and when running your query I can see all 4 images in the `home` directory as well as the icon image:

[code]

I was unable to successfully build until I renamed `src/images/Home` to `src/images/home` (lowercase) which I believe may be the cause of your problem - you specified `home` in your config but the directory is actually named `Home`.

You must be bu

[2019-06-08 19:20] #14648 closed

[2019-06-08 19:27] danboyle8637 commented on #14648
@superhawk610 Thanks for looking at this. It's really strange because in my vscode the directory is spelled with a lowercase... but when I checked my repo after reading your message, it is indeed with an uppercase.

No idea what's going on there. I'll just create a new directory all together and see what happens.

I'm on a Mac. Maybe it's a vscode thing.

Heck yeah. Go Tigers!!!

[2019-06-08 20:03] danboyle8637 commented on #14648
Just incase anybody else has a similar issue.

In my gatsby-config file, I had a filesystem setup pointing to my images directory.

[code]

After this, I had my other filesource setups pointing to directories inside the images folder. Once I removed the code above... the one pointing to the main images directory...

everything started working.

I'm not sure why, but give it a try.

[2019-06-08 20:27] m-czernek commented on #10741
The same happened to me. I verified that `rimraf` worked. Thank you for the solution.

[2019-06-08 20:36] skylarweaver commented on #1875
Thanks @damassi!

And to add some specificity:
`import { globalHistory } from "@reach/router"`
`const path = globalHistory.location.pathname`

[2019-06-08 23:28] cluzier opened #14656 "- Unknown field 'url' on type 'SiteSiteMetadata'."
## Description
I am running into an issue when i try to do `npm run deploy`
my deploy script is as follows: `gatsby build && gh-pages -d public -b master`

### Steps to reproduce

Not sure how you can reproduce this but I can provide Gatsby-config.js code here:
[code]
### Expected result

What should happen is the site should be pushing the new files to my GitHub website/repo.
I was going by this

[2019-06-09 00:55] jlengstorf opened #14658 "CLI text seems to be cut off with Ink"
I’m not sure if the switch to Ink is the culprit, but I’ve started seeing messages in the CLI get cut off since about the time Ink rolled out.

For example, the rest of this `info` notice is missing from the output:

<img width="791" alt="Screen Shot 2019-06-08 at 5 52 43 PM" src="https://user-images.githubusercontent.com/163561/59153738-8d892600-8a16-11e9-8132-8c7bea00ce76.png">

I’ve seen this a

[2019-06-09 01:13] moksahero commented on #14652
+1

[2019-06-09 01:46] smerth commented on #14637
Can I ask which version you downgraded to?

[2019-06-09 02:31] vektah commented on #14637
gatsby 2.8.5 + gatsby-source-graphql 2.0.18 is working

gatsby 2.8.6 + gatsby-source-graphql 2.0.18 is broken

[2019-06-09 04:17] fivetwelve commented on #14637
@vektah I removed `node_modules`, Gatsby (and yarn) caches and regenerated my imports but your combination didn't work me; I still see the same error as OP.

[2019-06-09 06:30] smakosh commented on #14637
@smerth

[code]

[2019-06-09 08:32] jcayzac commented on #13454
While I'm looking forward to better AMP support in Gatsby, I though I'd just remind everybody here that AMP pages are not meant to be served from arbitrary servers "as-is", as becomes obvious when you benchmark them with e.g. lighthouse. They're made for loading quick from Google search results on mobile, that's all. So "AMP first" seems a bit ill-thought and a recipe for making very slow websites

[2019-06-09 09:16] zefviktor commented on #14530
Hi, I have the same error only in the Gulp system
`  Replace Autoprefixer browsers option to Browserslist config.
  Use browserslist key in package.json or .browserslistrc file.

  Using browsers option cause some error. Browserslist config
  can be used for Babel, Autoprefixer, postcss-normalize and other tools.

  If you really need to use option, rename it to overrideBrowserslist.

  Learn more

[2019-06-09 09:54] mxxk commented on #14528
@freiksenet at first I thought this would be a quick fix but unexpected challenges always find their way. 🙂

Good suggestions! When generating plain format (as opposed to html format) excerpts,

https://github.com/gatsbyjs/gatsby/blob/30da56e65431e5aad3ae56ad30744fafda951a3c/packages/gatsby-transformer-remark/src/extend-node-type.js#L432-L451

the `visit` function is used to traverse the AST. What

[2019-06-09 10:03] lnikell opened #14662 "Gatsby Image Offset For Lazy Loading"
**Problem**
Using Gatsby Image the images only start loading when you scroll to the object, so it always causes the issue that for few ms the image is not visible and then it appears from blur/or with fade effect.

**Expected behaviour**
I want to make sure that there is some offset definition to make sure that if I'm currently on the first section of the page, the second section already will load

[2019-06-09 10:40] Saifadin opened #14664 ""Uncaught Error: Missing resources for /" with Component Shadowing"
## Description

Since today after I serve my static files, I got this notorious Error: `Uncaught Error: Missing resources for /`. After researching and trying to find out what happened, I was able to pinpoint it to Component Shadowing with Themes.

My setup is, that I have a Theme that exports Utility Components and Section Components, basically behaving like a UI-Kit. It's exported by an `export.

[2019-06-09 11:15] lnikell commented on #3336
And that's the version of the function to add menu order to all post types
[code]

[2019-06-09 11:24] xiel commented on #8431
this still does not exist right?

[2019-06-09 12:57] DSchau commented on #14664
@Saifadin I used component shadowing on [this site](https://react-finland-gatsby.netlify.com) (see also: [the source code](https://github.com/dschau/react-finland)) and don't seem to be experiencing the issues you claim here.

Could you provide a [reproduction](https://gatsby.dev/reproduction)?

[2019-06-09 12:59] DSchau commented on #14656
Does the file `src/templates/post-template.jsx` contain a GraphQL query that is requesting `site.siteMetadata.url` rather than `site.siteMetadata.siteUrl` (like you are providing)?

[2019-06-09 13:01] Saifadin commented on #14664
@dschau it only happens in the scenario described at the top. Normal component shadowing works fine.

I will try to provide a reproduction.

[2019-06-09 13:02] DSchau commented on #14651
Ah, interesting! Would you like to tackle this functionality?

You'll be working in the gatsby-cli package, and will just tweak what gets passed to the `gatsby new` command. We'd love this fix if you're able to do so!

[2019-06-09 13:03] DSchau commented on #14664
I use that pattern, as well. See [this file](https://github.com/DSchau/react-finland/blob/finished/site/src/gatsby-theme-react-finland/components/footer.js)

[2019-06-09 13:06] Saifadin commented on #14664
Do I need to import it from the file directly? If yes, then i shall try that.

[2019-06-09 13:10] DSchau commented on #14664
I wouldn't have thought it mattered, it's however the theme is distributed (e.g. if there's a main file that default exports something), then I'd have thought this would be just fine.

Again a reproduction would confirm that guess!

[2019-06-09 14:03] stefanprobst commented on #14637
Hi, could someone confirm that #14665 fixes the issue for you? Thanks!!

[2019-06-09 15:56] ChandlerMBing opened #14669 "Javascript events don't fire"
## Summary
  ~~After wrapping root element in context, context consumer returns fallback value instead of the value passed into provider. It is a simple context for storing modal data in order to open/close modal which is rendered in a portal, and blur out the rest of the page at the same time.~~
Having investigated this further, I now realise, the problem isn't merely that context doesn't work, b

[2019-06-09 15:57] Saifadin commented on #14664
So here is a reproduction: https://github.com/Saifadin/component-shadowing-weirdness

What I also learned is: If I just shadow a Component everything is fine, but as soon as I import from a file, that is importing something from the theme, it breaks.

Tell me if you need anything else 😄

[2019-06-09 16:14] trevorlitsey commented on #14651
Absolutely! Thanks for confirming the right solution. Will take a crack at it 🔨

[2019-06-09 16:39] jlengstorf commented on #14637
@stefanprobst just confirmed the fix in #14665 working. Thanks!

[2019-06-09 17:27] #9624 closed

[2019-06-09 17:27] #12882 closed

[2019-06-09 17:27] #13887 closed

[2019-06-09 17:27] #13914 closed

[2019-06-09 17:28] parkerproject commented on #7373
From my experience, the images take the most time. if you can turn that off in the config and just load images from absolute URLs

[2019-06-09 18:01] jjazzymane opened #14672 "gatsbyjs contentful blog-pages link to wrong content"
## Description

Clicking on the link to an individual blog page displays slug in URL properly _but not the content that is related to that slug_. Instead, each blog page _is rendering the same content_ from the most recent post.  In the templates/blog.js file, the query is set up to pull contentful data as specified by the equivalence (eq:) of the slug variable ($slug).

### Steps to reproduce

Cr

[2019-06-09 18:24] jjazzymane commented on #14672
<img width="683" alt="indexpage" src="https://user-images.githubusercontent.com/50809709/59162567-21afc780-8ac1-11e9-8de3-47f87b66c5f5.PNG">
**correct**
Has correct slug and content
<img width="683" alt="dddPage" src="https://user-images.githubusercontent.com/50809709/59162573-30967a00-8ac1-11e9-8651-a52f41e248f1.PNG">
**wrong**
has correct slug but wrong content
<img width="683" alt="where-to-sta

[2019-06-09 18:41] niphadkarneha opened #14673 "failed during stage 'building site': Build script returned non-zero exit code: 127"
I'm new to both Gatsby and Netlify, any help would be appreciated. The site deploys perfectly on localhost but throws an error on Netlify.

2:35:34 PM: Build ready to start
2:35:35 PM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
2:35:35 PM: build-image tag: v3.3.2
2:35:35 PM: buildbot version: 75cd99f62ada9e21edea53208e8baf0eab85a045
2:35:36 PM: Fetching cached dependencies
2:35:

[2019-06-09 18:42] rexsohw commented on #10482
Hi folks,
I was new to gatsby and is confused about the handling of static assets by gatsby.

1. Why don't we simply expose the `static/images` folder with url `/static/images` and simply use imageSharp to optimize all images? The use of gatsby-image has made it very non-trivial compared with just using relative path.

2. How can we expose the static folder so that we can access an image with dire

[2019-06-09 18:57] malcolm-kee commented on #679
In case anyone looking for similar solution, I'll share here about how to have dynamic favicons on different page.

Steps:
1. If you use [`gatsby-plugin-manifest`](https://www.gatsbyjs.org/packages/gatsby-plugin-manifest/), pass down `include_favicon: false` in the plugin options.
2. Install and configure [`gatsby-plugin-layout`](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/) if you're n

[2019-06-09 19:04] ChristopherBiscardi commented on #14664
The repo does not reproduce this issue for me:

<img width="1095" alt="Screen Shot 2019-06-10 at 2 56 01 AM" src="https://user-images.githubusercontent.com/551247/59162896-78ea8200-8b2b-11e9-8a83-f29f28e3cb3a.png">

I do see a warning for a `StaticQuery` that isn't running, but it's hard to know if that's the reason for this since I haven't seen the original resources error.

[2019-06-09 19:06] Saifadin commented on #14664
The warning is fine, need to fix that in the Theme, didnt get around to it.

You are running `gatsby develop`. You need to do a build and then serve that. It doesn't occur in dev mode.

[2019-06-09 19:34] Travisg25 opened #14674 "gatsby-transformer-remark Cannot Find 'allMarkdownRemark' in local env"
## Description

Gatsby "2.8.5"
Node "11.2"

I am seeing an issue when running a query inside graphQL playground. I have installed both     "gatsby-source-filesystem": "^2.0.38", "gatsby-transformer-remark": "^2.3.12".

I have 2 markdown files created and sitting in the source folder. I am expecting to be able to see the data once called inside the playground.

[code]

I have followed the instructi

[2019-06-09 20:26] ChristopherBiscardi commented on #14664
In `src/styles.js` this diff fixes it:

[code]

Which makes me suspect the issue is the way TypeScript compiles `gatsby-theme-shopify-poulo/export`:

[code]

weirdly if you import `PageLayout` in `export.js` instead of export from'ing it, it's `undefined`. So there's something funky happening with that file that seems unrelated to shadowing. Perhaps TypeScript related?

[code]

[2019-06-09 20:33] AGreenObject commented on #13918
@sidharthachatterjee looks like the web socket isn't being blocked.

![image](https://user-images.githubusercontent.com/9794355/59163870-e1a21200-8acb-11e9-9c79-f9b500aa450d.png)

[2019-06-09 20:49] diegodorado commented on #12198
I am willing to work in this issue... but not sure where to start... is this a gatsby bug or a react bug?

[2019-06-09 20:56] Saifadin commented on #14664
Thanks for looking into it @ChristopherBiscardi.
Yeah I noticed that, if I want to import `layout`, it arrives as `undefined` in my page and I can't use it. Surprisingly this only occurs in combination with Component Shadowing. If I import anything anywhere else it works just fine. 🤔

The thing is, that I don't want to make the User of the Theme to import it from the file, because if the location

[2019-06-09 20:58] BernardA commented on #14539
Hi, this is the link to the repository: https://github.com/BernardA/gatsby-hello-world
Thanks

[2019-06-09 20:59] Saifadin commented on #14664
Also if you do the following in the shadowed file, it works perfectly fine, it's only when I import the `Title` component from outside the shadowed folder.

[code]

[2019-06-09 21:29] Asjas commented on #14591
I'd like to give this a shot to add this if no-one has picked it up yet :+1:

[2019-06-09 21:36] ChristopherBiscardi commented on #14664
have you tried `main: src/exports.js`?

[2019-06-09 21:43] bmccaw opened #14676 "GraphQL Error: RelayParser: Encountered duplicate defintitions for one or more documents"
## Summary

I've been struggling with this particular issue for several days and have been unable to find a solution. I had built a single page scrolling site with Gatsby using gatsby-image and gatsby-background-image to serve up my image files. The error mentions duplicate query names but I can't seem to find the duplicate.

## Relevant information

[code]

## Steps to Reproduce

https://github.c

[2019-06-09 22:42] Saifadin commented on #14664
If I do that I get the following error:

[code]
The `resolvedPath` is weirdly enough `/Users/osamah/Projects/component-shadowing-weirdness/node_modules/gatsby-theme-shopify-poulo/src` instead of `/Users/osamah/Projects/component-shadowing-weirdness/node_modules/gatsby-theme-shopify-poulo`

[2019-06-09 22:45] Jimmydalecleveland commented on #10668
I'm still getting an error on `gatsby: 2.8.4` and `@storybook/react: 5.1.1`  when trying to import any component using `Link`:
[code]
I've done all the steps in this tutorial: https://www.gatsbyjs.org/docs/visual-testing-with-storybook/
And changing `entry` as mentioned above did not do anything in my case.

[2019-06-09 23:10] ChristopherBiscardi commented on #14664
Also, due to the ability to shadow any component, refactoring file locations for components is *always* considered a breaking change and you would want to provide a codemod or other automated tool for users to upgrade if you plan on doing this often.

[2019-06-09 23:13] Saifadin commented on #14664
That is a very good point, although that means, we will require Users to always know the file structure of the Theme to always find the proper path.

[2019-06-10 00:22] ChristopherBiscardi commented on #14664
To shadow a component, knowing the filepath to the module is a pre-requisite. We're planning to provide a CLI and possibly a GUI to make that easier. It will likely be able to list shadowable files, etc and automate ejection for shadowable components. This may not happen before we go stable, but will happen at some point and I have some code written for this already.

In the reproduction example,

[2019-06-10 01:07] gwlortscher commented on #11524
@KyleAMathews Bugsnag doesn't appear to have a % requests chart but easy enough to calculate from analytics. Here are the past 8 days (errors as a percentage of requests):

6/1 2.4%
6/2 2.3%
6/3 2.2%
6/4 2.4%
6/5 2.4%
6/6 2.1%
6/7 2.4%
6/8 2.4%

[2019-06-10 04:27] sw-yx opened #14678 "[idea] linter to warn against using Suspense in SSR"
## Description

build-only bug when using Suspense in gatsby. i used it, got no warning, waited for build, then got this in my netlify logs: https://reactjs.org/docs/error-decoder.html/?invariant=294

### Steps to reproduce

https://github.com/sw-yx/plsdelete-netlify-identity-loop-bug/tree/a487389a2c5f289b2759058394e41dd54d375d82

### Expected result

just warn me in some sort of lint rule that su

[2019-06-10 06:32] #14637 closed

[2019-06-10 07:15] iamskok commented on #10813
@shansmith01 were you able to find a solution? Do you mind posting it here?

[2019-06-10 07:24] #11368 closed

[2019-06-10 07:26] Saifadin commented on #14664
I forgot that 🤦🏽‍♂️

That is a way, but that means we have to explain these scenarios in the Docs eventually. Component Shadowing is a pretty new concept after all.

To avoid stuff like that, maybe it makes sense to extract everything non-shadowable into a UI-Kit and leave the Theme for the rest.

I will try do a repro, but I feel like this whole issue is caused by  `export.js` not being compiled

[2019-06-10 07:30] violabg opened #14680 "gatsby-source-graphql and strapi, can't use filters in GraphQL query"
## Description

I'm using gatsby-source-graphql with Strapi content, I have a query like this:

[code]

it works fine in both strapi/graphql explorer and gatsby http://localhost:8000/___graphql? one.
but when I compile I'm getting this error

[code]

just want to point out, that the query in my code is like the one above, and not like the error one that has shops in double quotes,

### Environment

[2019-06-10 07:34] #14592 closed

[2019-06-10 07:36] stefanprobst commented on #12272
@pauleveritt sorry for the late reply!

In your example, sorting should work with this:
[code]
Note that both sort `fields` and `order` are arrays, and `fields` uses the dot-notation instead of triple underscore to separate fields. (We have to document this!)
There are two reasons why this is different in `runQuery` than it is when using a query string (i.e. in the Graph_i_ql explorer):
* on list

[2019-06-10 10:24] michelecocuccio opened #14683 "Unable to deploy on Netlify"
I am unable to deploy on Netlify! I have tried in any way... I have read in another thread that it was an issue using npm. I was using yarn already so there is no package.lock.json file and it's ignored anyway in my .gitignore.

When I try to build I get this error

11:16:38 AM: Executing user command: npm run build
11:16:39 AM: npm ERR! path /opt/build/repo/package.json
11:16:39 AM: npm
11:16:39

[2019-06-10 10:42] byurhanbeyzat opened #14684 "Gatsby build error on Netlify"
## Summary
I am unable to deploy on Netlify! I'm getting the next error during build on Netlify, but locally everything is working.

[code]

### Environment

  System:
    OS: macOS High Sierra 10.13.6
    Shell: 3.0.2 - /usr/local/bin/fish
  Binaries:
    Node: 10.15.0 - /usr/local/bin/node
    Yarn: 1.16.0 - /usr/local/bin/yarn
  Languages:
    Python: 2.7.10 - /usr/bin/python
  Browsers:
    Ch

[2019-06-10 11:08] pieh commented on #14684
This seems like a case of
 - either not commited Icon file
 - or using wrong case when importing - linux (used by netlify build) is case sensitve

[2019-06-10 11:18] stefanprobst commented on #12272
@janosh grouping on resolved fields should now work with `gatsby@2.8.7`

[2019-06-10 11:28] jjcav84 commented on #14683
How are you setting setup? I'm attaching a screenshot of one of my sites so you can adjust yours if necessary. This is assuming you have your file structure setup in a standard fashion.
![Screen Shot 2019-06-10 at 6 26 35 AM](https://user-images.githubusercontent.com/20393409/59192676-df31cd80-8b48-11e9-9181-ae5eb8d330cd.png)

[2019-06-10 11:36] byurhanbeyzat commented on #14684
@pieh Thank you! I'm updated folder names and I don't know why but icon folder is not updated on Github it stays 'icon' instead of 'Icon'.

[2019-06-10 11:36] #14684 closed

[2019-06-10 12:04] janosh commented on #12272
@stefanprobst Wow, that was fast! Thanks for the update.

Is there a way to get both the title and slug of a tag in a single grouping? I can only figure out how to group by either and then only have access to one of them.
[code]
If I try to group by `frontmatter___tags` instead,
[code]
 I get only a single result
[code]

[2019-06-10 12:22] polishedwp commented on #14674
Do you have a sample repo you can make available for testing?

[2019-06-10 12:40] #14156 closed

[2019-06-10 13:16] janosh opened #14686 "Higher turnaround in featured showcase"
I just checked the [Gatsby showcase](https://www.gatsbyjs.org/showcase) for the first time in several months and noticed that the featured sites are exactly the same as the last time I visited.

I think the showcase would be more useful and more interesting if the featured sites changed frequently. It might be worth writing an algorithm that selects sites to be featured at random but biased toward

[2019-06-10 13:59] TomFreudenberg opened #14687 "Running several gatsby-cli commands synchron [not solveable for several reasons]"
Hi,

I like to run several gatsby commands one after another without invoking them from external by new processes via npm.

I tried following simple builder:

[code]

At least this works but in case that the commands run by Promises, those will run nested instead serialized.

Do you have an idea how to get that working in serial?

Thanks for feedback in advance
Tom

[2019-06-10 14:13] fivetwelve commented on #14637
This was a showstopper, so thank you very much for the quick resolution @stefanprobst! Thanks to OP for filing this.

[2019-06-10 14:13] michelecocuccio commented on #14683
Ok I am so stupid. Please close and delete this! My git folder had a sub folder with the Gatsby website in it. The file needs to be in the main folder of the repo... not in a subfolder. I am deeply sorry If opened a thread for this. Thanks.

[2019-06-10 14:13] #14683 closed

[2019-06-10 15:40] sidharthachatterjee commented on #14156
Published in `gatsby-source-contentful@2.0.69`

[2019-06-10 16:05] Travisg25 commented on #14674
https://github.com/Travisg25/w1p1opener

Thanks

[2019-06-10 16:22] KyleAMathews commented on #13909
This seems pretty doable as gatsby-source-filesystem could download the file when `loadNodeContent` is called.

The trick would be how to create the `File` node and let transformers do their thing without downloading the remote file. You can get some info by doing HEAD request e.g. the content size. gatsby-transformer-sharp could use https://github.com/nodeca/probe-image-size to get image info. Ot

[2019-06-10 17:27] #13676 closed

[2019-06-10 17:42] gillkyle commented on #13876
@haezl no worries! If you have the bandwidth to make what changes you can that'd be great. It looks like the searchability issues like this are something that has been tracked elsewhere (#12503) and has been an issue in other places as well, it seems to be some sort of an issue with how Algolia indexes things.

If that's blocking you I'd just start on the other changes. It's possible other upstrea

[2019-06-10 17:57] SigmundurMorkore commented on #14126
Not sure how to attach a "not stale" label

[2019-06-10 18:04] polishedwp commented on #14674
If you are going to use Markdown you might want to look at the [Starter Blog] (https://github.com/gatsbyjs/gatsby/tree/master/starters/blog).

Second, it does look like you have added the `Gatsby-node.js`. This is a quick look. Had to drop my computer off for repairs.