[2019-02-08 22:19] sidharthachatterjee commented on #11585
Hey @Steffi3rd

When you say _modification_, what is the source of the data that is consumed to create these pages? Depending on how you use that source and trigger new builds, several builds triggered at the same will run one after another.

[2019-02-08 22:20] stefanprobst commented on #11368
Ok so I included both in #11656 because calling resolvers is the more general solution, but we might still need to stringify if at some point our GraphQLDate changes to Dates instead of strings.

[2019-02-08 22:23] sidharthachatterjee commented on #11589
@antware Do you see any warning in the console? Maybe this
`webpack-hot-middleware's client requires EventSource to work. You should include a polyfill if you want to support this browser: https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events#Tools
`
If yes, this might be related to webpack-hot-middleware's client requiring EventSource to work.

[2019-02-08 22:29] sidharthachatterjee commented on #11590
This is being worked on in https://github.com/gatsbyjs/gatsby/pull/11480

Closing this since it looks like a duplicate of https://github.com/gatsbyjs/gatsby/issues/3344
Please follow along there!

[2019-02-08 22:29] #11590 closed

[2019-02-08 22:30] sidharthachatterjee commented on #11591
Thanks for this @LMulvey!

[2019-02-08 22:30] dvonlehman commented on #11637
I'm on OSX also. I just followed the same [getting started](https://www.gatsbyjs.org/docs/quick-start/) steps as you and got the same error. Here is the output of `npx gatsby info`:

[code]

[2019-02-08 22:31] sidharthachatterjee commented on #11592
@krismorf Does this only occur for / or other pages as well?

I'm not sure but might be related to gatsby-plugin-offline and the initial app shell not having the meta stuff in head.

[2019-02-08 22:34] sidharthachatterjee commented on #11632
@tocteman Can you post a reproduction of this?

[2019-02-08 22:36] trkaplan commented on #11637
Thanks for your reply @sidharthachatterjee I've tried removing `.cache` and `public` and tried again but no luck.  I can give you access to my desktop, if you want to try/check some other thing.

[2019-02-08 22:39] sidharthachatterjee commented on #11623
@danboyle8637 It _is_ a default export and you should be able to name it anything you like. I'm not sure what the issue here is but I can't seem to reproduce it.

Can you link to a minimal reproduction if possible?

[2019-02-08 22:43] sidharthachatterjee commented on #11616
Unfortunately, there isn't a link or tutorial I can link to because this isn't a Gatsby feature but just happens to be how we solve this for our monorepo 🙂

Do take a look at the script in https://github.com/gatsbyjs/gatsby/blob/master/scripts/clone-and-validate.sh

[2019-02-08 22:51] sidharthachatterjee commented on #11604
Based on https://github.com/ded/domready/issues/53 it does seem that IE10 support is broken by domready after 1.0.7 because of some regex matching code that was added

Let me try reproducing this and I'll post what I can find here

[2019-02-08 22:54] sidharthachatterjee commented on #11607
cc @freiksenet

[2019-02-09 01:15] nduc commented on #10482
My use case is when I use gatsby-background-image and I need to load different file for mobile vs desktop. It would be nice to be able to pass in a file name to the static query, as @KyleAMathews mentioned above.

[2019-02-09 01:42] tocteman commented on #11632
Thanks, solved it already. Offender was an old, apparently corrupt png file (got better error feedback installing from previous releases). Odd thing is it was there since abril, apparently inoffensive 'til yesterday.

[2019-02-09 01:42] #11632 closed

[2019-02-09 02:44] sonapraneeth-a commented on #10576
Pleaes keep this issue open and do not mark it as stale

[2019-02-09 06:06] dlindahl commented on #11198
This was amazing to follow. Thank you all for the amazing work!

[2019-02-09 06:27] dev-chr commented on #7555
I know this issue is closed, but @porfirioribeiro's solution worked for me. Just pasted his code in gatsby-node.js

Thank you very much!

[2019-02-09 06:41] jkasun commented on #9899
Having the same  issue

[2019-02-09 06:49] devuxer commented on #5153
@KyleAMathews,

Just trying out Gatsby for the first time. It sure weirded me out for a minute to see all those backticked strings.

Glad to know the explanation for it, but I'm not quite sure I agree with the article that there are zero negatives to "backticking all the things". Besides it being visually jarring (which I'm sure I'd get used to), I've spent the better part of my life typing double

[2019-02-09 07:10] buz-zard commented on #10326
Not stale

[2019-02-09 11:23] CharlyMartin opened #11662 "[Production Bug] uncaught domException: Failed to execute 'insertBefore' on 'Node'"
## Description
I built a custom image slider (Carousel) component using `gatsby-image`. Sometimes, when clicking to access the next/previous image, the website crashes and goes blank, with an error in console.

I can't seem to pinpoint the triggering event, it happens randomly. That seems to happen when the website is inactive for some time, like 60 secs or so, or when it just loaded. It happened

[2019-02-09 12:05] simoneb commented on #11364
Hi @marcneander, given the lack of support around here we've worked around the issue by forking the gastby repo, changing the `gatsby-source-contentful` plugin and publishing our own version on npm.

Because it was really hard to figure out how to handle rich text nodes with links to other contentful entries, we've come up with a workaround which consists in the plugin accepting an array of whitel

[2019-02-09 12:26] dhoulker opened #11664 "Gatsby build process is changing the JavaScript i add in the page head"
## Description

When adding JavaScript to the head of the page, i see the Gatsby Build process change the JavaScript.

### Steps to reproduce

I've copied the `html.js` file, as documented [on this page in the docs](https://www.gatsbyjs.org/docs/custom-html/).
[code]

I've then added the below to the `html.js`, below my last meta tag:

[code]

Please note the code above is an extract from a third

[2019-02-09 14:15] krismorf commented on #11592
@sidharthachatterjee Same results with `gatsby-plugin-offline` disabled.

[2019-02-09 15:33] simonjoom commented on #11649
i m working with cheerio 0.22.0 and it's fully supported with gatsby remark plugins .
i use all these plugin with no problem  :
     `gatsby-plugin-sharp`,
    "gatsby-plugin-react-helmet",
    "gatsby-plugin-lodash",
    "gatsby-plugin-sass",
     "gatsby-source-filesystem",
"gatsby-transformer-remark",
"gatsby-remark-images",
"gatsby-remark-responsive-iframe",
  "gatsby-remark-copy-linked-files"

[2019-02-09 16:45] dharric opened #11665 "Npm gatsby develop keeps freezing on windows"
## Description
I just installed the default template, gatsby-starter-default, using the gatsby-cli. It gives me gatsby 2.0.118 and react 16.8. This is on windows. I am using the vs code (1.31.0) terminal, but the freezing issue also happens on the command prompt. After installation I run npm start. The web site comes up fine and gatsby at first compiles code changes without issue. After a few minu

[2019-02-09 16:46] badgamerbad commented on #11464
The build will fail if the code tries to fetch HTML element data which is not loaded. moving such type of code inside componentDidMount() will help, thanks to @KingScooty

[2019-02-09 17:27] #7644 closed

[2019-02-09 17:27] #8079 closed

[2019-02-09 17:27] #9331 closed

[2019-02-09 17:27] #9383 closed

[2019-02-09 17:27] #9625 closed

[2019-02-09 17:27] #9662 closed

[2019-02-09 17:27] #9726 closed

[2019-02-09 17:27] #9727 closed

[2019-02-09 17:27] #9776 closed

[2019-02-09 17:27] #9787 closed

[2019-02-09 17:27] #9799 closed

[2019-02-09 17:27] #9828 closed

[2019-02-09 17:27] #11036 closed

[2019-02-09 17:55] pcabrera83 opened #11666 "error UNHANDLED EXCEPTION Error: getaddrinfo ENOTFOUND localhost"
## Description

If I run `gastby develop` I get this error message.

[code]

I found If I restart my machine the issue will disappear. After 30 minutes of work, the issues reappear.

### Steps to reproduce

type `gatsby develop`
Console Returns
[code]
### Environment

[code]

[2019-02-09 18:06] jonniebigodes commented on #11666
@pcabrera83 that particular issue you're experiencing might be the result of two things,
- A corrupt hosts file
- Another app running on the same port and even when it's closed it's not released.

Check if there's anything wrong with the said file, to see if it solves it.
Feel free to provide feedback so that we can close this issue or come up with a solution for your issue.

[2019-02-09 18:17] antonmedv commented on #6691
Implemented myself.

[2019-02-09 18:17] #6691 closed

[2019-02-09 18:27] pcabrera83 commented on #11666
Where do I find the hostfile?

On Sat, Feb 9, 2019, 1:06 PM jonniebigodes <notifications@github.com wrote:

[2019-02-09 19:19] cdaringe opened #11667 "request: add warnings when remark prism language not found"
# problem

- typescript was not syntax highlighting, even though supported via prism.
- no errors or warnings are presented even when a failure is occurring

# reproduction

- #1917 explains the failure mode in depth, where i reached the failure by using `ts` after the triple backtick, vs typescript

# request

in the `gatsby-remark-prism`, add helpful logging rather than silently bailing:

[code]

[2019-02-09 19:56] bluepeter opened #11668 "Submitted and accepted Gatsby starter is not showing description on https://www.gatsbyjs.org/"
See screenshot:

![screenshot-www gatsbyjs org-2019 02 09-11-53-10](https://user-images.githubusercontent.com/2158187/52525636-70f40180-2c61-11e9-916c-28daf6294cf9.png)

I recently submitted this, and it was merged. However, the description is not showing up, despite seemingly correct YAML: https://github.com/gatsbyjs/gatsby/blob/5adb2a3beb10ff9ca9fd58b351d8e6bbb0dd05a1/docs/starters.yml#L1733-L17

[2019-02-09 20:42] AaronBentley commented on #11571
Thank you for taking a look at this @sidharthachatterjee 👍

I've been researching the CORS fix you've described too and was about to open an issue over at `gatsby-background-image` when I found this [open issue already present](https://github.com/timhagn/gatsby-background-image/issues/6) which identifies the issue as a result of some Chrome extensions attempting to load CSS.

The issue appears to

[2019-02-09 20:42] #11571 closed

[2019-02-09 21:01] riddla commented on #7624
I hope this one isn’t going stale, as @TylerBarnes does some great stuff :)

[2019-02-09 21:02] #10741 closed

[2019-02-09 21:16] jonniebigodes commented on #11666
@pcabrera83 see [here](https://www.imore.com/how-edit-your-macs-hosts-file-and-why-you-would-want) for the hosts.
By default the hosts file should look something like this:
[code]

[2019-02-09 21:58] morleytatro opened #11669 "withPrefix not working in 2.0.118"
## Description

Files inserted in the static folder and referenced using withPrefix are not found in development.

### Steps to reproduce

Start a new Gatsby project with 2.0.118 and use the withPrefix to load an assets

### Expected result

The asset should be successfully called in development.

### Actual result

It instead rendered a 404 page. I confirmed that this was not the case in version

[2019-02-09 22:36] briandamaged commented on #6291
I seem to have encountered this issue as well.  I'll add more to this thread if I discover any additional clues.

[2019-02-09 22:53] briandamaged commented on #6291
Also... I haven't been able to figure out how to apply the "not stale" label to this issue.  I'm guessing that I need to be granted a permission?

In either case: the issue does appears to be somewhat random.  I just reran the same build without encountering the problem this time.  (In both cases, I cleared all cached files before starting the build)

[2019-02-09 23:35] djm commented on #9882
For those hitting this or similar fragment errors in GraphQL, a quick work-around is to just look up the fragments yourself and use them manually.

For the example above, this would be:

1) Remove ...GatsbyImageSharpFixed.
2) Put the fields instead:

[code]

Other Image-related fragments can be [found here](https://github.com/gatsbyjs/gatsby/blob/26582d31ab14f7bac6d5738e4245ceca2e6d411d/packages/g

[2019-02-10 00:19] ahmadawais commented on #8330
I have the same issue but on localhost. `npm start` works fine without any issues but `npm run build` EXITS as

[code]

Any ideas @CanRau 🤔

[2019-02-10 00:34] ahmadawais commented on #8330
OK there was an error up there I was not checking an array that had null value on the render template and since there were 2000+ pages the error was way above there and I didn't see it earlier.

[2019-02-10 00:47] nbw commented on #4123
I used the correct .jpg or JPG, but it still didn't work. So I ended up recloning my repo, `npm install`, `gatsby dev`, and it was fixed.

[2019-02-10 01:31] LekoArts commented on #11668
The description for these previews is grabbed from the description field in the package.json

[2019-02-10 01:53] pcabrera83 commented on #11666
I found it but my file is empty. Should I copy and paste what you have?

[2019-02-10 01:59] pcabrera83 commented on #11666
Yep, that worked. I copied and pasted what you have and it seems to be working now.
Here is an article that [covers this](https://www.imore.com/how-edit-your-macs-hosts-file-and-why-you-would-want).

[2019-02-10 02:00] frederikhors opened #11672 "Gatsby image quality original"
I'm new to Gatsby.

I'm just wondering why I can't use my original quality for "fixed" images?

If I have a 500 KB jpg image (already high optimized I don't want to change quality, how to?

Now gatsby is making 200 KB with `quality: 50` (default) and a 1.28 MB with `quality: 100` (manually).

[2019-02-10 02:07] jonniebigodes commented on #11666
@pcabrera83 test it a little bit more and if the issue does not happen, feel free to close this issue and should any more arise, open a new one. Sounds good?

[2019-02-10 04:38] jtran19 commented on #9580
@Coder2012 Maybe a more fleshed out example might help.  I was having this issue as well and @mik-laj comment flipped on the lightbulb for me.

[code]

With this, I can now do...

[code]

[2019-02-10 06:00] harryparkdotio commented on #11664
you'll need to escape the slashes, ie.

[code]

so to get the correct js you're looking for;

[code]

[2019-02-10 06:01] #11664 closed

[2019-02-10 06:37] nzwnabdulwahid opened #11674 "Gatsby develop running but not updating page after npm install"
## Description

Installed `gatsby-plugin-create-client-paths` via `npm install --save gatsby-plugin-create-client-paths` and run successfully. After that saving the changes on code doesn't update the page anymore

### Steps to reproduce

I use `gatsby-firebase-authentication` starter and before this npm any package working just fine expect for `gatsby-plugin-create-client-paths`

### Environment

[2019-02-10 06:44] nduc commented on #11464
I ran into this issue adding smoothscroll-polyfill to my project. @KingScooty tip helped me resolve the issue. Thanks!

[2019-02-10 06:53] wzard commented on #4115
@SleeplessByte Did you figured out how to solve this issue? I am facing the same problem on production.

[2019-02-10 09:37] iFlameing opened #11675 "How I can debug code in source of gatsby-source-filesystem plugin"
I am adding a custom header to create-remote-file-node which is able to pass the authentication token so that private things all fetch from the cms. can anybody help me regarding this issue? please!. You can see my changes by going to this link https://github.com/iFlameing/gatsby/pull/1

[2019-02-10 10:06] stefanprobst opened #11676 "Add Loki to npm test script"
Now that[ we are testing with Loki in CI](https://github.com/gatsbyjs/gatsby/blob/5adb2a3beb10ff9ca9fd58b351d8e6bbb0dd05a1/.circleci/config.yml#L59), should we also adjust the [npm `jest` script](https://github.com/gatsbyjs/gatsby/blob/5adb2a3beb10ff9ca9fd58b351d8e6bbb0dd05a1/package.json#L70) (or add a `jest:loki` script?)

[2019-02-10 11:22] dackers86 commented on #11524
Hi Guys.

Not sure if this helps but I had a similar issue, it turns out my missing resource was a missing (production) env variable for firebase. This in turn seemed to effect my images - this must have had an impact on a build step

Can provide more information if required...

[2019-02-10 11:28] laurenskling commented on #11587
I've created environments to mimic my setup:
KeystoneJS setup, which is created MongoDB schema's and editing interface:
https://keystonedemoforgatsby.herokuapp.com/
you can log in at  https://keystonedemoforgatsby.herokuapp.com/keystone/
Sign in with the username demo@keystonejs.com and the password demo
Here i've created some relations between documents.

It has a mongoDB connection string: mongo

[2019-02-10 12:03] reaktivo commented on #7810
Another way I found this to work was by updated your package.json with the following:

[code]

No need to create new files

[2019-02-10 14:00] webjay commented on #6053
This works for me with Bootstrap 4 and bootstrap-table:

[code]

[2019-02-10 14:20] zslabs commented on #11622
Really appreciate the response! Since I’d be building the site with an external DB (MongoDB in this case) I’m wondering if Gatsby would even be the right tool.

Having all the built-ins is amazing, and makes exposing a React app to the world much more approachable. But, since the builds of some of my Gatsby sites take 2-3 minutes, I’m wondering what that perception would look like to customers tha

[2019-02-10 14:32] btk commented on #6291
@briandamaged added it for you.

[2019-02-10 16:41] ndejesus1227 opened #11678 "Error: custom keyword definition is invalid: data.errors should be boolean"
## Description

Trying to build a restaurant menu theme, I kept getting this error:

Error: custom keyword definition is invalid: data.errors should be boolean

I went into `node_modules/ajv/lib/keyword.js` (where the error pointed me to) and manually did this:

[code]

The original value was a string when it was expecting a boolean. The theme seems to work just fine now. I just wanted to bring th

[2019-02-10 17:27] #4360 closed

[2019-02-10 17:27] #7776 closed

[2019-02-10 17:27] #8502 closed

[2019-02-10 17:27] #8770 closed

[2019-02-10 17:27] #9208 closed

[2019-02-10 17:27] #9681 closed

[2019-02-10 17:27] #9725 closed

[2019-02-10 17:27] #9815 closed

[2019-02-10 17:27] #9849 closed

[2019-02-10 17:27] #9857 closed

[2019-02-10 17:27] #9862 closed

[2019-02-10 17:27] #9871 closed

[2019-02-10 17:27] #9874 closed

[2019-02-10 17:27] #9878 closed

[2019-02-10 17:27] #9895 closed

[2019-02-10 17:27] #9901 closed

[2019-02-10 17:47] bluepeter commented on #11668
Thanks @LekoArts ! Will PR a close to this issue shortly.

[2019-02-10 17:54] janosh commented on #10723
cc @pieh

[2019-02-10 17:58] #11668 closed

[2019-02-10 18:00] buz-zard commented on #10735
not stale

[2019-02-10 18:43] JacobBlomgren opened #11679 "False positive deprecation warning"
## Description

When developing on the gatsby website (www), I get this in dev mode:
[code]

The only mention of boundActionCreators in that file is [l32](https://github.com/gatsbyjs/gatsby/blob/master/www/src/pages/docs/actions.js#L32), clearly a false positive. This is caused by `gatsby/src/commands/develop` at [l383-l407](https://github.com/gatsbyjs/gatsby/blob/45a8f09554b20a02f9c83e57272b7fb17

[2019-02-10 19:07] #10620 closed

[2019-02-10 19:29] yepes opened #11680 "Disable javascript"
Hi everyone

I have created a single page webpage that doesn't provide any user interaction.
I have all the content in markdown files, and I use gatsby to generate a static, just one page website.
All I need is the html content and the images. Everything is working, but gatsby is adding some javascript files that i wont never use.

How can I avoid that?

[2019-02-10 19:55] farverio opened #11681 "Attempting to replace header icon, but icon is formatted as text not an image"
## Description
I am working to replace the diamond icon on the main page, but it appears it is hard-coded as a font awesome text. I believe many users would have a use case wherein they would like to more easily replace the icon with a logo, but the current CSS makes it challenging. Given additional guidance, I would be glad to help fix to improve this template and enable even more users to try ou

[2019-02-10 20:27] mherchel commented on #11680
Gatsby is a static site generator based on React. One of it's purposes is to prefetch additional pages.

I honestly think that a one-page non-JS site is outside of Gatsby's use-case. For a one-pager, why not use static HTML?

[2019-02-10 20:30] mherchel commented on #11681
To make images resize according to the width of the viewport, you'll want to add a `max-width: 100%` rule within CSS. I typically do this globally to all `img` elements.

[code]

[2019-02-10 21:45] zslabs commented on #11622
Does Gatsby support custom server routing like Next.js? https://nextjs.org/docs/#custom-server-and-routing

[2019-02-10 21:46] yepes commented on #11680
Yep, maybe that's right. I just discovered gatsby the other day and had to do something simple and test it. Just wondering if that would be possible.

I know about other "older" static sites generator, I just wanted to try something new

[2019-02-10 22:23] #11681 closed

[2019-02-10 22:42] SleeplessByte commented on #4115
@subsid can you re-open this?
@wzard nope, we simply just leave it be.

[2019-02-10 22:43] rahuldhir commented on #11023
@sidharthachatterjee I'm fairly new to React. Do you think you could explain further or point me to a resource where I could learn how to mitigate this issue from occurring?

I'd like the Responsive component to play nicely with Gatsby, such that the desktop menu is rendered correctly on a desktop viewport and the mobile menu is rendered correctly on a mobile viewport.

[2019-02-10 22:44] pxlla commented on #11507
I'm chiming in too...

`npm WARN eslint-plugin-graphql@2.1.1 requires a peer of graphql@^0.12.0 || ^0.13.0 but none is installed. You must install peer dependencies yourself.`
`npm WARN express-graphql@0.6.12 requires a peer of graphql@^0.10.0 || ^0.11.0 || ^0.12.0 || ^0.13.0 but none is installed. You must install peer dependencies yourself.`
`npm WARN graphql-tools@3.1.1 requires a peer of graph

[2019-02-10 22:56] skywinston commented on #10592
We're having a similar issue with Contentful Rich Text fields, although the issue is that nested embeds can be recursively linked to other embeds, ad infinitum.  On running `gatsby develop` we are getting about 5GB of data back because we were getting the full content of every nested embed.  Are there plans to configure how deep this nesting goes?  Our system is currently broken because we've hit

[2019-02-10 23:03] subsid commented on #4115
@SleeplessByte I can't. I don't see the button [reopen privileges](https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github)

[2019-02-11 00:18] pieh commented on #11675
Hey, do You need more help? I've seen you created PR for this ( https://github.com/gatsbyjs/gatsby/pull/11682 )

[2019-02-11 00:27] pieh commented on #11680
We don't support this out of the box, but if you feel advanteruous I think this would doable using [`onPreRenderHTML`](https://www.gatsbyjs.org/docs/ssr-apis/#onPreRenderHTML) hook in `gatsby-ssr.js` - especially for js bundles you would want to use `getHeadComponents` and filter out `js` ones (or just all script tags, and use `replaceHeadComponents` with filtered list of components. Might need to

[2019-02-11 01:47] KyleAMathews commented on #11680
People build tons of 1 pager sites with Gatsby. Just like larger sites, it's far more productive to use Gatsby with ready-designed development environment and plugins, and optimized production builds vs doing it by hand. Also one page sites rarely stay one page. Also it's rare too for sites to not eventually need JavaScript.

Back to the subject of removing the js script tags. It'd be nice if ther

[2019-02-11 01:50] KyleAMathews commented on #11023
You're using window APIs to decide what to render.

What you'll want to do is render both the desktop and mobile views and show/hide them based on media queries in your CSS. This way they'll work when SSRed and in the browser.

[2019-02-11 02:07] rwieruch commented on #10701
Any chance to put this on the Gatsby roadmap? I see so many people giving Gatsby a shot this year, would be great to have a seamless build/deployment experience 👍Otherwise we will see lots of 404 pages 😸 Thanks again for building and continuing to improve Gatsby.js! 💯

[2019-02-11 02:32] tinahaibodi commented on #6426
also solved this today by deleting node_modules and yarn files and doing npm install and brew yarn install

[2019-02-11 02:36] SeaDude commented on #11347
Looks like it was the Firefox Privacy Badger extension causing the issue. https://forum.vuejs.org/t/corrupted-content-error/55807/2

[2019-02-11 03:19] thundernixon opened #11687 "Page height not shrinking with content if browser is narrowed"
## Description

If the browser width is reduced on a page containing images, the total page height / length doesn't change accordingly. That is, if a given page is 4000px tall from several large images showing in a wide browser, then it _stays_ 4000px tall if the browser is made more narrow, even though the content gets shorter as images scale down. This results in pages with massive empty parts a

[2019-02-11 03:20] thundernixon commented on #7454
@davidbailey00 I'm currently having two pretty serious issues with scroll behavior, and this is one of them.

Here's a repo that reproduces this issue on gatsby `v2.0.118` (currently the latest version):

https://github.com/thundernixon/gatsby-link-scroll-test

Not only is it linking to previously-scrolled-to spots in pages (bad), but it’s also linking to the current location on *unvisited* pages

[2019-02-11 03:42] fab commented on #9979
Not stale. I'm currently running a Gatsby site and the meta tags generated by Helmet are not being picked up by Google. The meta description is not rendering correctly in search results.

[2019-02-11 03:59] gm445566 commented on #9899
Having the same issue

[2019-02-11 04:19] iFlameing commented on #11675
@pieh  now the problem is resolved can you review my pr.

just one simple question how I can log some  return ouput in source code
of createRemoteFileNode.

[2019-02-11 05:12] DanielRuf commented on #11675
You can always insert a `debugger;` statement and step through the code and inspect the values. It is better than a `console.log` as you can use it with the debugger and output the current states.

[2019-02-11 05:18] iFlameing commented on #11675
@DanielRuf thanks

[2019-02-11 06:07] LekoArts commented on #11680
One-Pager are a perfect usecase. I saw so many websites with 30MB of images loading... You get that optimizations for free then

[2019-02-11 06:34] wzard commented on #4115
@SleeplessByte I added target="_blank" and href to http instead of https. It used to give 404 on primerlabs.io, but worked well on www.primerlabs.io. Now, it's working fine for both.

[2019-02-11 07:04] AAverin commented on #9681
I believe issue is still not resolved

[2019-02-11 07:20] cardiv commented on #9611
Could be related: #10036

I have updated all packages but clearing the iOS browser data does not remove the service worker, it seems. Will test this removal plugin and the new `gatsby-plugin-offline` version.

[2019-02-11 07:24] yepes commented on #11680
@pieh thanks, i will take a look at it and try to do something this week.

@KyleAMathews yeah, that would be awesome. But i'm getting a grasp of React and this is my first project using gatsby, so I don't think I can do that yet

[2019-02-11 07:42] rahuldhir commented on #11023
Got it, thanks!

[2019-02-11 07:42] #11023 closed

[2019-02-11 08:20] ChildishhAlbino opened #11688 "Error: RelayParser: Encountered duplicate defintitions for one or more documents"
## Description

Building a blog / portfolio with GatsbyJS and I'm struggling with this issue. I had the website working for the most part but all of a sudden it's stopped working. Really not sure why. The error doesn't make much sense to me. Hoping someone cold help me work out why.

### Steps to reproduce

https://github.com/ChildishhAlbino/childishhalbino.github.io/tree/problem-fixing

Above is

[2019-02-11 08:55] gurpreet-hanjra commented on #10774
@eLeontev Hello, just want to check if you still facing issues with https in development.

[2019-02-11 09:47] pieh commented on #11662
Hey @CharlyMartin! Did you, by any chance, fixed this issue since opening this bug report? I tried to reproduce, but wasn't really able to.

In any case, I tried to follow stack trace you provided and those errors seem to come from `react` package, so it doesn't really provide much insight what component is actually causing this. My best guess would be that we might have some unhandled scenarios i

[2019-02-11 09:51] pascal-kubrick commented on #10339
+1

[2019-02-11 09:57] pieh commented on #11665
@dharric How often does the freeze happen? Did you also try on non-windows OS (just trying to verify this is windows specific issue and not gatsby in general)?

[2019-02-11 10:06] pieh commented on #11667
For reference - this is location of code referenced by @cdaringe - https://github.com/gatsbyjs/gatsby/blob/9fdf931f62e1e9e0ea2bebc536cdf780afee2c58/packages/gatsby-remark-prismjs/src/highlight-code.js#L9-L20

I think it makes sense to only warn if can't load language and is different than `none` (as then user opts in to not add highlighting).

This feature has potential of being very spammy so we

[2019-02-11 10:21] keguigong commented on #5981
**thank you dude. helped me a lot, thank you.**

[2019-02-11 11:02] pieh commented on #11669
Can you provide reproduction sample for this?

I tried reproducing locally but it **seems** to work for me using `gatsby@2.0.118` (I used `/blog` as pathPrefix):
![screenshot 2019-02-11 at 11 59 19](https://user-images.githubusercontent.com/419821/52559114-a9781480-2df4-11e9-8070-f53d90accc0e.png)

Did you build using `gatsby build --prefix-paths`?

[2019-02-11 11:12] pieh commented on #11672
This is tricky to do automatically (to use original image if size of original file is lower than size of generated image). When we provide `src` and `srcSet` information, those files potentially don't exist yet (we queue image processing).

So any solution would need to be explicitly opted in by user (like adding "reuseOriginalImage" argument to sharp transformation / query).

[2019-02-11 11:15] pieh commented on #11672
For now I guess best way is to experiment with `quality` setting. `quality: 100` will cause images to be very large in size with potentially not very noticeable differences with `quality: 90` - as you increase quality there are diminishing returns for actual image quality, but file size keep growing.

[2019-02-11 11:35] mstys commented on #7148
Error still exist on version `2.0.34` but native es6 export works well, so seems to me that the docs need to be updated.

[code]

[2019-02-11 11:55] pieh commented on #11674
Do you see any errors in browser console? I just tried setting up project with firebase and same starter, installing `gatsby-plugin-create-client-paths` and it did work.

Is your project hosted on github? Can you share a link to it? Either publicly here or via DM on twitter ( https://twitter.com/mipiechowiak )

[2019-02-11 12:01] pieh commented on #11676
Good question. For the most part this doesn't matter for 99% of contributors because they don't touch code related to nodes data store / sorting and filtering nodes when querying (things that are different when using loki), so maybe we could add this as connivence script (`jest:loki`), but don't run it when running regular `jest`?

[2019-02-11 12:03] n-batalha commented on #8790
@dsebastien I had the same as you, then I upgraded Gatsby (`2.0.76` today) and I have the issue with the in-line hack working.

@sigmasoldi3r that sandbox wasn't working for me, I forked it and the issue isn't occurring there atm https://codesandbox.io/s/r093l30xx4 (careful with this fork as it uses `gatsby serve` so it does not have hot reload). But the issue is occurring on my machine.

[code]

[2019-02-11 12:03] pieh commented on #11674
One thing I noticed - in your `Environment` info there is something weird going on with `yarn` (instead of showing version, it install packages with yarn). I don't know if this might cause some issues - but just as sanity check, please try deleting node_modules and reinstalling deps (`npm install`)

[2019-02-11 12:06] pieh commented on #11679
Perhaps we could limit warnings for this only to `gatsby-node.js` files, but this might silence warnings if users would split their gatsby-node into multiple modules (something that we actually do in some plugins - for example in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/gatsby-node.js)

[2019-02-11 12:11] pieh commented on #11679
another idea:
we could use Getter for `boundActionCreators` instead of scanning files - something like this: https://runkit.com/pieh/5c61658c2da4920012e3a826

[2019-02-11 12:24] pieh commented on #11678
Hey, there was upstream bug:
 - https://github.com/webpack/webpack/issues/8768
 - https://github.com/epoberezkin/ajv/issues/941
You would need to update `ajv` package (but it's not straight forward because it's not our direct dependency) - it's probably simplest to nuke `yarn.lock` and let it be recreated with next `yarn` install. Alternative solution is to add `resolutions` to root package.json (

[2019-02-11 12:39] pieh commented on #11687
It looks like there is `min-height` rule getting added, but `gatsby` itself doesn't do that - from quick check it seems like `gatsby-plugin-transtion-link` is doing that (https://github.com/TylerBarnes/gatsby-plugin-transition-link/blob/master/src/wrap-page.js). This plugin is not maintained in this repo, but we can discuss the issue here. @TylerBarnes do you have any thoughts how to solve this?

[2019-02-11 12:40] elmys commented on #9899
same on all pages

[2019-02-11 12:43] RageYL opened #11691 "pageContext is not updated when context change"
Hi,

The issue is not as straightforward as i thought it would be, so here is a repo to reproduce it: https://github.com/RageYL/gatsby-pageContext

And this is different from https://github.com/gatsbyjs/gatsby/issues/6097

I use context from createPage to pass data to a template (I started using gatsby 3 days ago, so not 100% sure if this is the good way), but when the data is updated the pageCont

[2019-02-11 12:49] ovbm commented on #8790
I've had the same issue, being able to "solve" it by inlining the query. thanks everyone for sharing. This bug is sneaky, as everything seems fine while running in the development environment.

[2019-02-11 12:57] pieh commented on #11688
This is defenitely a bug in gatsby.

For now you can workaround this by changing line in https://github.com/ChildishhAlbino/childishhalbino.github.io/blob/problem-fixing/gatsby-node.js#L34
to:
[code]
(I adjusted file/directory names casing to match one that exists in repository).

I will start working on fix to handle casing differences and to not throw this confusing error message.

[2019-02-11 13:00] razvan-soare opened #11692 "Google search console"
Hello i have a little problem maybe someone can help a bit.
In the next screenshot i have some errors from google search console that says it cannot load lots of files on my website.

But if i take one of these urls and open it in a new tab i can see the files there. This image for example.
https://bryant.dental/static/689f06a3e92b7ef707773e8cb9a869bd/133f4/gallery-6.jpg

![screen shot 2019-02-11

[2019-02-11 13:09] DanielRuf commented on #11692
These are sometimes false positives / bugs of the Google crawler. Did you try to run the crawler again?

[2019-02-11 13:09] DanielRuf commented on #11692
Or is it blocked by the robots.txt rules?

[2019-02-11 13:12] razvan-soare commented on #11692
Yes i did bunch of recrawls and im getting the same result.

And the robots look like this
[code]

[2019-02-11 13:13] kepi0809 commented on #3401
Thank you very much @agyeiarcher, this solved for me too, which is funny because the graphql playground throws error for it (invalid value) but it runs there too.

[2019-02-11 13:19] ChildishhAlbino commented on #11688
Thanks for working that out for me! I actually didn't think it was a bug in Gatsby but whaddya know? ]

Quickly worked out those errors and the sites working again!

Thanks heaps :D

Have a nice day, good luck fixing the bug!

[2019-02-11 13:51] frederikhors commented on #11672
Can I have for now (until we understand how to) just the functioning of traced SVG (or blur) and my original size (with not at all resized images)?

[2019-02-11 13:57] thundernixon commented on #11687
Ahh nice find, @pieh! Thanks for the quick response.

I'll have a another look to see whether there might be something I can fix on my end. I bet that the min-height is solving a problem for page transitions, but hopefully there's an approach that could accomplish transitions without setting a min-height.

[2019-02-11 14:26] thundernixon commented on #11687
Okay, yeah I do see that div with a `min-height` set. If I comment out that declaration or set `height` to `100%` or `auto`, the div gets a height of `0`, which I bet would break transitions.

I'll make a branch without the transition link code, just to verify how that's affecting things.

[2019-02-11 14:48] ruipfreis commented on #9733
Yes, still having the same issue.

[2019-02-11 15:36] ndejesus1227 commented on #11678
@pieh That fixed it! I used your resolutions method, removed node_modules and ran yarn install. Thank you!

[2019-02-11 15:36] #11678 closed

[2019-02-11 15:39] jonniebigodes commented on #11104
@jgoux you're correct, i've tested it and let's call it the basic approach for proxying the requests when you're working with localhost does not redirect to the correct path, i've grabbed this [example](https://github.com/jlengstorf/gatsby-with-apollo), created a simple graphql server with express, adjusted it all to port 3000, issued `gatsby develop` and the proxy was always targetting the port 8

[2019-02-11 16:15] dharric commented on #11665
The freeze happens after making code changes. It seems to occur when code changes are either wrong and fail the build or I'm making a longer code change that takes several steps (the build tries to run even though I've not saved the file yet and have not completed my changes yet). But it takes a few failures before the freeze happens. I end up killing my vs code terminal and opening a new one. Thi

[2019-02-11 16:34] ghostwords commented on #11347
You are probably running into a Firefox WebExtensions bug having to do with Service Worker requests: https://github.com/EFForg/privacybadger/issues/1144#issuecomment-436444285

[2019-02-11 16:35] TylerBarnes commented on #11687
Hey guys! The reason for the min height wrapper was to support adding a persistent footer via a layout as the entering and exiting pages are both set to `position: absolute` so that they can overlap each other during transitions.
I've been working on a V2 of the plugin and I actually removed this min height wrapper as I found a better CSS-only solution. I'll move that code over and do a minor V1 r

[2019-02-11 16:37] thundernixon commented on #11687
Amazing, thanks for the info and for being able to make a minor release to solve this! I appreciate your hard work on the plug-in. 🤘

[2019-02-11 16:39] TylerBarnes commented on #11687
Awesome, thanks for the appreciation! The release should be out some time this week

[2019-02-11 16:47] balamanoharb commented on #4103
I'm using gatsby advanced starter and I got this error. If I compiled twice (exit and do gatsby develop again) this error goes away. But it works only for some time. If there is a permanent solution it would be good.

[2019-02-11 17:02] jonniebigodes commented on #11691
@RageYL i've picked up on your issue, i've cloned your repo into my machine installed it and did some tests, namelly:
- Created a json object with a similar structure and provided the data from the json file.
- Updated the template to implemement the livecycle method `componentDidUpdate` and `getDerivedStateFromProps` to see if it could solve the issue.
- Passed not the object but the property to

[2019-02-11 17:21] ajayns commented on #11352
Thank you guys for the quick resolution

[2019-02-11 17:58] RageYL commented on #11691
What i find very strange is that everything works fine if there is no query or if i change the query's content (maybe something related to MarkdownRemark resolvers and the cache).
I updated my gatsby-node.js to use createPageStatefully (better choice indeed as my data is not managed by gatsby): https://github.com/RageYL/gatsby-pageContext/blob/createPagesStatefully/gatsby-node.js

Now if i update

[2019-02-11 18:02] pieh commented on #11691
Ok, this is bit problematic. There was related fix some time ago - https://github.com/gatsbyjs/gatsby/pull/11048 (which is totally fine).

But reason it doesn't work for this use case is that we don't check page contexts between runs (and this is not quite easy to do right now, but doable). In `createPage` we could first check if we already have that page in memory store - if we do continue as is,

[2019-02-11 18:42] pieh commented on #11691
I didn't notice you commented while I was writing previous comment

For the most part this is because we try to cache our query results so subsequent runs don't do extra work and re-use cached results. But there are cases where we don't invalidate our cache and you hit one of those.

[2019-02-11 18:54] akselinurmio commented on #6949
I don't care for this stale bot system a bit, but this issue isn't stale. If anyone doesn't fix stuff, it's okay, but covering things up by just closing issues isn't a solution.

[2019-02-11 19:01] RageYL commented on #11691
Hum, i think i managed to make it work with createPagesStatefully.

When the file changed i was deleting the page and then creating it again.
But by studying `redux/actions.js`, if the page is deleted, `oldPage` is undefined and `contextModified` is set to `false`.
By not deleting the page, `contextModified` is set to `true` and the page is refreshed correctly.

So it seems to work correctly with

[2019-02-11 19:16] pieh commented on #6949
@akselinurmio stale stuff is automatic, we don't manually mark issues as stale.

It would be great if we have reproduction for this issue, but we don't so we have no way of finding actual problem and fixing it.

[2019-02-11 19:23] akselinurmio commented on #6949
@pieh, I know it's automatic (that's why I wrote ‘stale bot system’) and I think it's problematic. But that's not a discussion to have here. 😄

[2019-02-11 19:34] pieh commented on #11665
I don't think any logs or screenshot will help here (we don't have enough details for problems like that in our logs). I need to try to reproduce this problem - I do have windows machine around, so will just boot it up and will try to cause freeze.

[2019-02-11 19:41] KyleAMathews commented on #6949
"covering things up" is pretty strong language :-)

FWIW, I _don't_ think it's problematic — software always has problems — we as an ecosystem/core team need to focus on the most pressing issues — the ones with the largest impact and affecting the most users. If an issue _doesn't_ get any comments or isn't fixed, then in all likelihood it's not affecting that many people.

Also, as @pieh mentioned

[2019-02-11 19:42] connollyf commented on #11667
Hi, I'd like to try to tackle this issue. Is there a style guide for printing error messages?

[2019-02-11 20:03] dharric commented on #11665
Cool I'll keep going and write again if I see anything new.

[2019-02-11 20:08] gdomorski commented on #11692
I agree this seems more like an issue with false positives / bugs of the Google crawler.

[2019-02-11 20:11] jonniebigodes commented on #11665
@dharric speaking from experience, the only time i've experienced a behaviour like yours was under three situations:

- The harddrive was dying on me, soon after this behaviour started i was presented with the infamous "click of death"
- The system is under a lot of stress. And by stress i mean let's say a big bunch of chrome tabs opened, 3 to 4 instances of vscode, slack and email and also a wsl

[2019-02-11 20:17] jonniebigodes commented on #11081
@Meemaw if you haven't already resolved this, i'm implementing a way to handle this.

[2019-02-11 20:19] marcos-rios opened #11695 "process image with sharp and provide path onCreateNode"
## Summary
I'm trying to process images on create node using image-sharp.
The idea is to implement search functionality and be able to show images using the [elastic-lunr plugin](https://www.gatsbyjs.org/packages/@gatsby-contrib/gatsby-plugin-elasticlunr-search/?=elastic-lunr) and [semantic-ui-react](https://react.semantic-ui.com/modules/search/) search component.

## Relevant information

When se

[2019-02-11 20:21] pieh commented on #11173
I've been thinking more on this and maybe better way of fixing this than trying to add sanity checks is to stop calling queued `onCreatePage` API calls once if/when of those did delete the page - this would require more work, but it feels to me like it's better solution (because once we delete page, next `onCreatePage` calls for that page are really a "lie")

[2019-02-11 20:24] riddla commented on #10526
![screenshot 2019-02-11 at 21 23 58](https://user-images.githubusercontent.com/174157/52591114-5d07f580-2e43-11e9-9fbe-2bc4b9f9e89d.png)

@calcsam, this seems to be released and can be closed?

[2019-02-11 20:40] akselinurmio commented on #6949
As I completely agree with you @KyleAMathews on the fact that all issues are not fixable, I do think that closing issues as non-fixable or non-reproducible is a human job.

People should always be told what they are doing wrong. If the issue is low quality, tell it. If the bug can't be reproduced, tell it. After that if nothing happens, only then I think auto-closing is acceptable.

The issue not

[2019-02-11 20:41] apmsooner opened #11696 "gatsby-source-drupal - allow json api filter parameters"
jsonapi module allows query parameters to filter list like: /jsonapi?filter[some_field]=some_value

It would be nice option if gatsby-source-drupal could accommodate this so one drupal site could store data for a number of gatsby sites and the gatsby sites could just get the data they need. An example would be a filtering nodes by a taxonomy term so it might mean gatsby processing 100 nodes instea

[2019-02-11 20:46] berkeleycole commented on #9733
I am seeing this issue as well. I would have thought using CSS modules would protect from this, but there must be something I'm not understanding

[2019-02-11 20:48] godmuahaha commented on #7251
@pieh Not sure it's the same issue, but I also have problems with elemMatch:
Gatsby doesn't show errors on this query, but resulting fields are not filtered:
![image](https://user-images.githubusercontent.com/25540176/52592455-761aa180-2e57-11e9-9f86-abcd0c7bde3a.png)

[2019-02-11 20:50] krismorf commented on #11695
This plugin only scans markdown properties. But you can build your own lunr index in your `gatsby-node.js` by modifying your existing createPages export and your graphql query.

See [here](https://github.com/humanseelabs/gatsby-plugin-lunr/issues/8#issuecomment-447301250)

[2019-02-11 21:17] pieh commented on #6949
@akselinurmio that's why we don't close issues and put up this "warning" message first:

So anyone subscribed to the issue can comment, which will reset "stale-ness" counter. And even if bot will close the issue - it can be re-opened or new one created (this also is included in the message that bot adds when closing the issue: `Please feel free to reopen this issue or create a new one`.

It's not

[2019-02-11 21:37] pieh commented on #11665
So this is very long shot - buy maybe you could try using `CHOKIDAR_USEPOLLING` environment variable - for example in your project `package.json` have a `develop` script like this:

[code]
and see if that helps?

[2019-02-11 21:40] KyleAMathews commented on #6949
The meta issue here is we need help to know if an issue is real and to figure out how to solve it. Reproductions are the best way to do that.

[2019-02-11 21:41] KyleAMathews commented on #6949
Oops, didn't mean to close it

[2019-02-11 21:49] pieh commented on #11696
How would that work - should this apply same query params to all requests?

Right now, we hit main endpoint to get list of available endpoints and then make requests for those - should all of those requests have same query params? Would this potentially cause using taxonomy term filter for endpoint where it doesn't make sense (i.e. on content type that doesn't use this taxonomy) and potentially "n

[2019-02-11 22:37] apmsooner commented on #11696
Yeah, I was thinking in gatsby-config.js in line with how you wrote out the example being able to specify:
[code]
If the filter field isn't present or the value isn't found, yeah... null the results. I'll look into trying what you described. Seems like it should be doable and would really speed up the build process when dealing with a backend site containing alot of data.

[2019-02-11 22:40] apmsooner commented on #11696
Oh... wait now i know what you are saying cause it would affect ALL endpoints within the jsonapi path. I saw another issue request to ask for multiple json api endpoints. I think that would have to happen first make this doable.

[2019-02-11 23:09] pieh commented on #11637
So we finally managed to reproduce the issue thanks to @trkaplan. Problem in this case seemed to be that `NODE_ENV` was globally set to `test` and gatsby doesn't handle that case well now.

@dvonlehman can you try running `NODE_ENV=development gatsby develop` / `NODE_ENV=production gatsby build` (if you are on Linux or Mac, for Windows is a bit more difficult but doable - just let me know and I wi

[2019-02-11 23:27] morleytatro commented on #11669
Strange, it actually wasn't during the build that I noticed it; it was in development. However, upon starting a brand-new repo with 2.0.118, the issue isn't happening. I have a pathPrefix of '/'. Unfortunately, I can't share the code, so I'll close this for now until I determine what the pertinent difference is.

[2019-02-11 23:27] #11669 closed

[2019-02-12 00:18] pieh commented on #11696
Just to check we are on the same page I'll walk you through how currently drupal plugin works:

 1. First we hit `http://domain.example/jsonapi` which give us list of dedicated endpoints for each content types / taxonomies and so on - response looks something like this: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-drupal/src/__tests__/fixtures/jsonapi.json
 2. Then we iter

[2019-02-12 00:54] jonniebigodes commented on #6949
@akselinurmio speaking from a contributor's perspective, we, at the lack of a better definition exist to take the pressure from the core team, helping out as much as possible, with some more vocal than others. And also some would be awesome detectives, because they can pinpoint the actual issue and provide an answer just by looking at the error or title or description.

From the time i've been her

[2019-02-12 01:07] pieh commented on #7251
@godmuahaha so this actually works correctly - but probably doesn't do what you want it to do

Filter only filter outs top level nodes - so it tries to find personalJson node, that contains item with level 2. And returned node satisfy that condition. But it doesn't filter `items` field. What I'd assume you want is described in this feature request - https://github.com/gatsbyjs/gatsby/issues/10990

[2019-02-12 02:00] polarathene commented on #10747
Fixed in sharp 0.21.02

[2019-02-12 02:00] #10747 closed

[2019-02-12 02:03] rclai commented on #7897
It seems like this is broken now?

Here are my dependencies
[code]

Doing this
[code]

has no effect

[2019-02-12 02:09] probablyup commented on #7897
You have to put `GlobalStyles` in your React component tree.

[2019-02-12 02:11] rclai commented on #7897
@probablyup it is.

[2019-02-12 02:16] dvonlehman commented on #11637
@pieh that did the trick! Thank you for the follow-up.

[2019-02-12 03:38] LiangNex commented on #8674
I have run into this issue while executing ```npm install gatsby-cli```.

Here is the log
[code]

Node version: v8.11.1.
Weird thing is that after switching to root user, this issue is gone. Not sure why.

[2019-02-12 04:33] marcos-rios commented on #11695
It works! Thanks!!

[2019-02-12 04:33] #11695 closed

[2019-02-12 05:09] DanielRuf commented on #8674
Please try clearing the npm caches (with --force).

[2019-02-12 05:11] DanielRuf commented on #8674
It is a known bug in npm and its cache implementation.

Yarn has its own local cache.

[2019-02-12 05:17] DanielRuf commented on #8674
https://www.google.com/search?q="Unexpected+end+of+JSON+input+while+parsing+near"

This is also why we still use Yarn at work.

[2019-02-12 05:45] reyberyturiaga commented on #9911
I am also experiencing the same issue. Only happening when running gatsby build, running gatsby develop works fine. That's why I only catch this issue once I deployed to Netlify. The ordering of styles is inconsistent.

Here's my sample site: https://gatsby-tailwind-starter.netlify.com/

When initially visiting the site, the html element's overflow-y is being set to scroll (extra space is visible

[2019-02-12 05:52] DanielRuf commented on #9911
Sounds like `node_modules` is not excluded in the css loader setup or something similar.

Does it still happen with the latest release?

[2019-02-12 05:59] nzwnabdulwahid commented on #11674
Hi @pieh , now its working after I delete the node_modules and reinstalling it. Not really sure what happens but thank you !

[2019-02-12 06:56] reyberyturiaga commented on #9911
@DanielRuf Yes, I am using Gatsby's latest release (2.0.118).

[2019-02-12 07:01] nsisodiya opened #11704 "react-select css not working on Gatsby Static Build"
This may be the most probably problem with React Select.
I have created Issue on their github repo too - https://github.com/JedWatson/react-select/issues/3422

Here is the summary of the issue.
When I am using react-select, I am seeing difference in static build vs development ui.

So, If I don't disable the JavaScript, This is what it shows on browser.
![image](https://user-images.githubuserconte

[2019-02-12 07:03] nsisodiya commented on #11704
Here is the repo for this bug - https://github.com/nsisodiya/react-select-gatsby-bug

[2019-02-12 08:15] nicib83 opened #11705 "gatsby-transformer-yaml sourceNodes node availability"
## Description

When I include a yml file via gatsby-transformer-yaml ought these needs be available within exports.sourceNodes in gatsby-node.js ?

### Steps to reproduce

gatsby-transformer-yaml
add yml file
exports.sourceNodes in gatsby-node.js

### Expected result

I can see the yml nodes

### Actual result

They are not there, only file references.
But they are available in exports.createPage

[2019-02-12 08:21] #11674 closed

[2019-02-12 08:25] ashleymavericks commented on #10449
I am interested in doing this.

[2019-02-12 08:45] jgoux commented on #11104
@jonniebigodes Wow thanks **a lot** for this!

Indeed, using the `developMiddleware` approach is working.

[code]

Shouldn't the `proxy` version be a simple shortcut to the `developMiddleware` notation?

[2019-02-12 08:46] maximgeerinck commented on #10452
Having the same issue. I have a file createPages.ts which i have to require from gatsby-node.js (cause createPages goes over components written in tsx).

[2019-02-12 09:06] godmuahaha commented on #7251
@pieh, got it! Thanks for explanation, that feature would be very useful, I have an array of ~300 items and need only one of them

[2019-02-12 09:32] patrickedqvist opened #11707 "Gatsby error: key.includes is not a function"
## Description

When trying to run `npm start` the script crashes probably because of some error concerning the `gatsby-source-contentful` plugin.

This is likely a duplicate of #https://github.com/gatsbyjs/gatsby/issues/10804 but since no exact solution was given I'm creating this issue.

I've made sure that all fields in contentful are filled in and tried disabled references to other content typ

[2019-02-12 09:39] patrickedqvist commented on #11707
If someone needs a private invitation to the contentful space I have in order to debug more properly let me know :)

[2019-02-12 09:45] oorestisime commented on #11284
don't have time in the end/ letting it go.

[2019-02-12 10:28] ateev commented on #9911
I'm experiencing the same issue. The css is just missing from the production builds.
Has the issue been identified ? Is the issue being worked upon ?

Would love to help in any way to resolve this soon :)

[2019-02-12 10:32] pieh commented on #11705
It's not guaranteed that they will be created before `sourceNodes` is called. What are you trying to do? Maybe there is different approach to achieve that

[2019-02-12 10:36] pieh commented on #11707
@patrickcameron Please send credentials to your contentful space - for example via twitter DM ( https://twitter.com/mipiechowiak ) or shoot email at michal@gatsbyjs.com

[2019-02-12 10:37] reyberyturiaga commented on #9911
@ateev The core team seems to be working on it. This is the resolution to watch out for:

https://github.com/gatsbyjs/gatsby/issues/10706

Although, this will not guarantee that issues related to it will be fixed if it's merge, but at least we will be getting a consistent behavior on build and develop so we can catch potential issues early on before deployment occurs.

[2019-02-12 10:37] patrickedqvist commented on #11707
@pieh I think I've found the culprit.

One of the fields for the content type Product is called `length` and when that is disabled in the response the script run just fine. Renaming the field to something different e.g. `dimensionsLength` works.

[2019-02-12 10:40] pieh commented on #11707
oooooh, Ok, so we should be able to reproduce it with some custom data that has `length` field then

[2019-02-12 10:40] nicib83 commented on #11705
i am trying to create nodes based on a number of plugins, these need to be consumed by createPages.

i thought sourceNodes is the recommended early entry point for this

[2019-02-12 10:51] patrickedqvist commented on #11707
Yes I belive so

[2019-02-12 10:55] pieh commented on #11707
ok, so this snippet added to `gatsby-node` reproduces the problem:
[code]

[2019-02-12 10:57] MarcCoet commented on #9489
Which version of Gatsby is this fix applied to?
I still see `Hooks can only be called inside the body of a function component` with Gatsby@^2.0.118

[2019-02-12 11:16] wardpeet commented on #11676
how do we feel about running jest:loki in ci when gatsby-core changes?

[2019-02-12 11:18] KyleAMathews commented on #11676
We can always add more concurrency correct if builds are getting slow?

[2019-02-12 11:19] JohannesMerz commented on #3721
one where this would come in really handy is if you have a multi app setup, where each app relies on another one, for example:

www.example.com // landing page
www.example.com/login // auth service, same for all apps of the domain
www.example.com/app // gatsby app that needs the credentials stored in local storage from the login app

This works quite nicely on a server, but you cant develop locall

[2019-02-12 11:23] KyleAMathews commented on #11173
Yeah I like that. There's no guarantee you'll get to see every page that's created. So if it disappears, stop making calls. We could do the same thing for onCreateNode.

[2019-02-12 11:27] jgierer12 commented on #9489
@MarcCoet this was published in gatsby@2.0.69. If you are still experiencing issues with hooks I recommend you open a new issue and provide reproduction steps and the output of `gatsby info --clipboard`.

[2019-02-12 12:21] pieh commented on #11704
Hmmm this is tough and not very intuitive. `react-select` seems to use `emotion` for styling (no regular plain css).

Because of that you would need to add `gatsby-plugin-emotion` plugin so it can extract critical css for initial render/javascript disabled scenario. Kind of another tricky thing is that `react-select` uses `emotion@9` (latest is `emotion@10`), so you would also need to install olde

[2019-02-12 12:23] JacobBlomgren commented on #11679
@pieh Really nice idea! Shouldn't we be able to do the same with `pathContext` then? If I understand it  correctly, it's provided here https://github.com/gatsbyjs/gatsby/blob/b750400e4ad4ebb9d3bf7b4b1437232e5d7331e4/packages/gatsby/cache-dir/static-entry.js , and then we should be able to do something similar, e.g.:
[code]

[2019-02-12 12:29] MarcCoet commented on #9489
Thanks @jgierer12 . That is what I thought. I will dig a bit more.
That is probably just me doing silly stuff.

[2019-02-12 12:32] pieh commented on #11679
Yeah, if we go that route we should use it for all deprecated things (if possible)

One thing that we are losing with this is showing in which files those are used. And also if any plugin uses `boundActionCreators` users would see those warning and wonder where they come from.

[2019-02-12 12:37] m-allanson commented on #11676
I like this idea 👍

[2019-02-12 12:39] m-allanson commented on #11676
Oh I misread - we already run the Loki tests in CI

[2019-02-12 12:50] dharric commented on #11665
@jonniebigodes thanks but site is still being developed and very small. Also this is the only app that is exhibiting this behavior. Appreciate your feedback though.

[2019-02-12 12:53] dharric commented on #11665
@pieh thanks but could you explain what that would do. Also on a side note if I kill the build I see polling happening back to my server for socket.io and webpack_hmr. The webpack must be for hotmodule reloading, but do you know what the socket connection is for?

[2019-02-12 13:02] inlet opened #11710 "[gatsby-source-graphql] InputFields (using a scalar type) are invalidated by relay-compiler"
## Description

It seems that scalar types are not supported? I've tried to build the schema via an introspection file as well and it still throws the same error.

### Steps to reproduce

1. Open this simple [graphql server](https://v01op94yp5.sse.codesandbox.io/) and make sure it's running. See JSON scalar type in [edit view](https://codesandbox.io/s/v01op94yp5). Running queries via `graphiql` gi

[2019-02-12 13:12] pieh commented on #11665
Web socket is primarily for emitting graphql query data (we don't use webpack for data as it doesn't scale very well when there are thousands of pages)

[2019-02-12 13:12] nicib83 commented on #11705
I thought this was reflected by:

https://www.gatsbyjs.org/docs/node-apis/#sourceNodes

[2019-02-12 13:20] #11485 closed

[2019-02-12 13:21] JacobBlomgren commented on #11679
@pieh the last point is a really valid one. I can find that at least gatsby-plugin-sharp [uses](https://github.com/gatsbyjs/gatsby/blob/b789689717b7be16e213fe8ac0e5ceb3ab38e4e8/packages/gatsby-plugin-sharp/src/index.js#L39) `boundActionCreators` and likewise the internal plugins [query-watcher](https://github.com/gatsbyjs/gatsby/blob/5f16e651ff2f5ebb6a5bf73f0f706a96f22e9458/packages/gatsby/src/int

[2019-02-12 13:23] freiksenet commented on #11710
It's a bug upstream. I'll make a fix and send it to relay-compiler.

[2019-02-12 13:26] pieh commented on #11691
@RageYL this change would cause gatsby to always rerun all queries in bootstrap.
What we probably need is to purge node dependencies for page when you delete - in here https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/redux/reducers/component-data-dependencies.js we would need to handle `DELETE_PAGE` action and remove node/connection dependencies. Then we you re-create page our qu

[2019-02-12 13:41] pieh commented on #11705
It's true for source plugins, but not for transformers. We call `onCreateNode` and this can be async operations, so your `gatsby-node` sourceNodes might be called before transformers handle `onCreateNode`

[2019-02-12 13:42] wardpeet commented on #11676
@m-allanson do we? I don't think so :blush:

[2019-02-12 13:42] nicib83 commented on #11705
thanks this is fine for me

[2019-02-12 13:42] #11705 closed

[2019-02-12 13:46] pieh commented on #11705
I'm just thinking if we should expose something that `sourceNodes` could wait for all already scheduled `onCreateNode` to finish

for example:
exports.sourceNodes = async ({ actions, waitForTransformers }) => {
  await waitForTransformers()
  // now all transformed nodes are available
}

[2019-02-12 13:48] nicib83 commented on #11705
since plugins perform tasks that are delegated and you usually wait for this could be an option, or a new exports.sourceNodesWithTransforms

[2019-02-12 13:50] nicib83 commented on #11705
onCreateNode works for entity level follow up operations, but not for tasks which require batch or aggregated results

[2019-02-12 13:50] freiksenet commented on #11710
Right, this is actually fixed in https://github.com/facebook/relay/pull/2638. I'll push additional regression test for it.

[2019-02-12 13:56] inlet commented on #11710
Perhaps Gatsby using an older relay?

Awesome! Would love to see this working

[2019-02-12 13:57] RageYL commented on #11691
I think your solution may not work in certain situations: in the first case I
presented, the page is created once with createPage. The server had to be
reloaded manually for the change to take effect. In this case the next time
gatsby is run, createPage would be called again, but deletePage would be never
called and thus the page would not be re-evaluated (this could also happen if
there is a watc

[2019-02-12 14:00] pieh commented on #11676
@wardpeet we do: https://github.com/gatsbyjs/gatsby/blob/master/.circleci/config.yml#L58-L59 it just wasn't worth to add another check, so it was added as step to unit tests

[2019-02-12 14:00] grantmac opened #11712 "gatsby-plugin-layout not working in production"
I've got gatsby-plugin-layout working great in development, but as soon as I deploy it stops working and the components within the layout.js remount on every url change.

Any ideas? Thanks

[2019-02-12 14:01] DSchau commented on #11712
Hi Grant!

Could you reproduce this? A small reproduction demonstrating the issue would be super helpful in helping us understand and fix any potential problems!

[2019-02-12 14:03] #11676 closed

[2019-02-12 14:06] grantmac commented on #11712
Sure:
What happens (and is expected) on gatsby develop: https://www.youtube.com/watch?v=qKIdPDHRF6U&feature=youtu.be

When it's deployed: http://neu-test-mainsite.s3-website.eu-west-2.amazonaws.com/

I'm using { connect } from 'react-redux' to hold state.

Thank you

[2019-02-12 14:08] grantmac commented on #11712
Layout.js
![screenshot 2019-02-12 at 14 08 06](https://user-images.githubusercontent.com/3330598/52640963-b584d480-2ecf-11e9-88eb-40a0a8ba96b7.png)

[2019-02-12 14:09] grantmac commented on #11712
layout.js:

![screenshot 2019-02-12 at 14 09 06](https://user-images.githubusercontent.com/3330598/52640994-c7667780-2ecf-11e9-8118-47414387fd1b.png)

[2019-02-12 14:10] freiksenet commented on #11710
It's not merged yet, that's why it still occurs.

[2019-02-12 14:11] DSchau commented on #11712
By reproduction I meant Github repo or some way to share your underlying code. Would you be OK sharing any of that?

That being said--appreciate the screenshots and demo site, they're helpful thank you!

First (simple) solution may be to just update Gatsby. You're on `2.0.67` and I know there was a change to client-routing to ensure that the location pathname was the "key" so that re-mounts wouldn

[2019-02-12 14:21] grantmac commented on #11712
No luck.

https://github.com/grantmac/gatsby-layout-issue

[2019-02-12 14:32] jlengstorf commented on #9489
@MarcCoet are you using `yarn link` by chance? I ran into that issue and it _only_ happens to me when I linked packages.

[2019-02-12 14:32] jlengstorf commented on #9489
Apparently this is a known and expected bug? https://github.com/facebook/react/issues/14257

[2019-02-12 14:37] DSchau commented on #11712
@grantmac I think it's the custom `html.js` that is causing a re-mount.

I removed that component, and it seems like it works just fine, correct?

_Note: you also had a casing issue in src/pages/index.js--it should import `intro` not `Intro`_

https://elegant-tesla-3765e9.netlify.com/

[2019-02-12 14:38] DSchau commented on #11637
Going to close this as answered--nice debugging @pieh!

Please re-open or comment if we missed something or can help further, thank you!

[2019-02-12 14:38] #11637 closed

[2019-02-12 14:46] grantmac commented on #11712
thank you @DSchau - that does fix it!

Is there anyway i can also use a custom html.js?

[2019-02-12 14:52] DSchau commented on #11712
@grantmac better question is why you need a custom html.js? It looks like you were just importing an animation library from a CDN?

You could use `gatsby-ssr` APIs to import the library if you prefer, e.g. using [`onRenderBody`](https://www.gatsbyjs.org/docs/ssr-apis/#onRenderBody) and the `setHeadComponents` (as you currently have the library in the head tags) or `setPostBodyComponents` as well--

[2019-02-12 14:52] #11712 closed

[2019-02-12 14:56] asistapl opened #11714 "feat(gatsby-plugin-google-analytics]: DNS prefetch google analytics domain in head"
## Summary

I saw that gatsby website is doing this:
https://github.com/gatsbyjs/gatsby/blob/master/www/gatsby-ssr.js#L10
And I'm wondering if it's a good idea to do it by default in gatsby-plugin-google-analytics.

### Motivation

Maybe things will go a little faster with that approach.

[2019-02-12 15:17] inlet commented on #11710
That makes sense! Hopefully they merge it soon. Thanks man

[2019-02-12 15:18] pieh commented on #11714
@m-allanson do you remember if there was reason we added this just for gatsbyjs.org and not to google analytics plugin directly?

[2019-02-12 15:29] pieh commented on #7713
We should defenitely drop `preload` link for .json from offline shell.

If anyone would want to take a stab at this:
We would need `gatsby-ssr.js` file in https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline/src

In there we would want to implement [`onPreRenderHTML`](https://www.gatsbyjs.org/docs/ssr-apis/#onPreRenderHTML) API hook:
 - check if `pathname` is `/offline-plu

[2019-02-12 15:36] amberleyromo commented on #10901
@jlengstorf Going through old issues -- I think I closed this out with https://github.com/gatsbyjs/gatsby/pull/10929

[2019-02-12 15:47] m-allanson commented on #11714
I have no idea why I did it like that 😅

It seems like a good idea to add it to the google analytics plugin though. It's something that gets highlighted during a [Lighthouse](https://developers.google.com/web/tools/lighthouse/) audit. Looking at the audit for gatsbyjs.org:

![screenshot 2019-02-12 at 15 37 03](https://user-images.githubusercontent.com/381801/52647284-537e9c00-2edc-11e9-984d-99d49c

[2019-02-12 16:40] asistapl commented on #11714
I found all these in source:

- //www.google-analytics.com
- //www.google.com
- //stats.g.doubleclick.net
- //ampcid.google.com

but only `//www.google-analytics.com` and  `//www.google.com` appears to be used often when I look at request while browsing some sites.

I can create PR for that and add these two domains. I would use relative protocol `//` since analytics.js would use `http://` if site

[2019-02-12 17:27] #6303 closed

[2019-02-12 17:27] #9300 closed

[2019-02-12 17:27] #9572 closed

[2019-02-12 17:27] #9821 closed

[2019-02-12 17:27] #9920 closed

[2019-02-12 17:27] #9921 closed

[2019-02-12 17:27] #9935 closed

[2019-02-12 17:27] #9961 closed

[2019-02-12 17:32] phonoman commented on #10281
Not stale. Ignored.

[2019-02-12 17:36] jrutz commented on #10090
To get more than __typename you create a query for the specific types that can be in that reference field that you're trying to pull back, for example:
[code]

[2019-02-12 17:56] tomholford commented on #1836
Have not tested this in some time, but last I checked it was still an issue. Bumping it to keep it from being auto-closed by @gatsbot

[2019-02-12 18:03] tylermcrobert opened #11717 "Why is graphql returning a number?"
For some reason, a query in GraphiQL that returns a block of JSON data simply returns a 9-digit number.

[code]
returns `348885080`

[code]

returns `3416814672`

I am using the hello world starter. Whitespace seems to impact the number's output

[2019-02-12 18:19] m-allanson commented on #6591
We still want to do this.

[2019-02-12 18:40] coreyward commented on #10090
@jrutz While that's the correct GraphQL syntax, this isn't actually supported, which is what this issue is about. See above.

[2019-02-12 18:58] LMulvey commented on #11591
No problem! #11594 addresses and fixes this issue. Made this for consistency 😄

[2019-02-12 19:09] pieh commented on #10281
Sorry @phonoman, this totally slipped my mind.

I was doing some checking and `sourceSite/jsonapi/paragraph/view_block` api response has this data:
[code]
but referenced `view--view` object isn't actually returned by corresponding endpoint - `sourceSite/jsonapi/view/view` returns `data: []` so we are unable to make a link to not existing entity.

There is this extra `meta` object - but I'm not sur

[2019-02-12 19:13] jrutz commented on #10090
@coreyward My bad, long time lurker, first time commenter on these Github threads. Meant to answer the response above me specifically given the workaround of allowing multiple references. We've run into the same issue with single references.

[2019-02-12 19:25] phonoman commented on #10281
Good to see you back! :)
Yes, access to the `meta.display_id` would at least give information of which display is supposed to be shown in this paragraph - the actual view could be then guessed/translated from our side at `.onCreateNode()`

[2019-02-12 19:43] calcsam opened #11720 "react-error-overlay in gatsby develop sometimes doesn't show the correct code frame"
*Reproduction*:

Go to https://www.gatsbyjs.org/tutorial/part-four/#use-a-page-query and write:

`<h1>About {data.site.siteMetadata}</h1>`

instead of

`<h1>About {data.site.siteMetadata.title}</h1>`

*Result*:

![image](https://user-images.githubusercontent.com/40191673/52662916-69d42a00-2ed3-11e9-8860-4f045250479b.png)

(Shows the rendered code frame rather than the actual code frame)

*Commenta

[2019-02-12 19:52] pieh commented on #10281
I would need to take a look at rest api spec - in the data snippet I pasted `meta.data` is php serialized object, but I'm not sure if this is always the case or this is specific to `field_views_reference` or drupal module that provide that. Probably would leave it as-is and don't try to deserialize it

Even with that I'm not sure how this should work - should I create some object with `meta` field

[2019-02-12 20:14] pieh commented on #11717
Can you paste entire file snippet? Do you by any chance try to use `query` variable directly? This won't contain data, but hash of the query content (used internally by gatsby)

[2019-02-12 20:17] phonoman commented on #10281
Yeah, `meta.data` isn't as vital as `display_id` and it definitely can stay the same.
The posted query is totally OK for us as it's same as jsonapi provided structure.

[2019-02-12 20:26] pieh opened #11721 "docs: clarify gatsby site can be hosted anywhere"
Recently I saw question:

that is very reasonable thing to ask when considering new tech stack.

We don't explicitly say in docs (["Deploying and hosting"](https://www.gatsbyjs.org/docs/deploying-and-hosting/)) or home page ("How Gatsby works" diagram) that you can deploy your site literally anywhere. We do have specific guides for selection of hosting providers, which might seem like there is som

[2019-02-12 20:26] lekevicius commented on #10048
The Kyle has spoken.

I'll try to make a PR this week.

[2019-02-12 20:34] chatzipan opened #11722 "VSCode goto Definition navigation not working"
## Summary
I have created 3 different projects with Gatsby, and i used VSCode as an editor, and in all of them I cannot get "go to Definition" feature working.

That means for example hovering over a js import and doing Ctrl + click does not navigate to the imported file, something that slows down my development.

Anyone else facing the same issue?

[2019-02-12 20:36] leetheresa commented on #10339
+1

[2019-02-12 20:53] pieh commented on #10339
I need to understand a little bit about drupal json api here.

This `meta` object is on relationship object - can there be scenario where same file is linked with different `meta` (i.e. different `alt` tag)?

[2019-02-12 20:57] pieh commented on #11722
Seems to work here:
![kapture 2019-02-12 at 21 55 40](https://user-images.githubusercontent.com/419821/52667412-08cb4700-2f11-11e9-845a-ac2983c466f0.gif)
I'm no expert in vs code tho, so I don't know why it doesn't work for You :(

[2019-02-12 21:03] chatzipan commented on #11722
Hmm.. its really weird, I use VScode as my standard editor, and its just my Gatsby projects where this doesn't work.. i guess i need to search it more

[2019-02-12 21:23] arobida commented on #9117
Out of pure curiosity do you want to use classes for the purpose of using state?

[2019-02-12 21:52] adamduren commented on #6480
I'm seeing this out of the box when using `examples/using-typescript` with `gatsby@2.0.119`

[2019-02-12 21:58] adamduren commented on #6480
Specifically it only happens when modifying a the `hello` variable value or renaming the variable in the `pages/index.tsx` file.

[code]

[2019-02-12 22:12] jlengstorf commented on #10901
You sure did!

[2019-02-12 22:12] #10901 closed

[2019-02-12 23:07] rchrdnsh commented on #11247
hmmmm...not quite able to make this work, as each piece of content is actually in it's own folder, which is the preferred folder structure, like so...

[code]

so all of the content is in a 'content' folder, then each article is in it's own folder named after itself with sub-folders with article specific assets.

Try to figure out how to make that particular folder structure work, but getting lost

[2019-02-12 23:11] mdashallanson commented on #11082
This sounds good, thanks @lannonbr! Step 2. sounds nice and uncomplicated, so that's good.

I have less insight into option 1. Although... I think we're plain using Algolia's npm-search index. Maybe we can highlight results based on the hit data? If this is the right schema (https://github.com/algolia/npm-search#schema) we should be able to highlight based on hit `owner`, `owners` or `repository`

[2019-02-12 23:12] pieh commented on #10281
A bit related for relationship `meta` - https://github.com/gatsbyjs/gatsby/issues/10339

[2019-02-12 23:27] rclai commented on #7897
Crap, used `createGlobalStyle` wrong, I wasn't supposed to use parentheses.

[2019-02-12 23:31] pieh commented on #10281
I was reading some drupal jsonapi spec, and approach I was thinking about (create object of linked object doesn't exist) + enrich object with `meta` wouldn't follow the spec - as in those are `meta` fields on relationship and not really on linked object, so those `meta` fields can be different in another relationship linking to same object.

Now I'm thinking if there shouldn't just be extra field

[2019-02-12 23:34] eulo opened #11724 "[gatsby-source-shopify] Products limited to 250"
## Description

Shopify restricts node edges to 250 per query, this project seems to have missed this feature so only the first 250 products are returned.

Issue is brought up here: https://github.com/angeloashmore/gatsby-source-shopify/issues/1#issuecomment-426396621
## Steps to reproduce

- Hook gatsby-source-shopify into a store with over 250 products, attempt to find the data.
- Alternatively,

[2019-02-13 00:23] pieh commented on #11724
Do you know if there sample shopify shop we can use to reproduce this (and test fix with)

[2019-02-13 00:26] lsirivong commented on #11247
What in particular is not working for you? Are you having build issues with this set up?

I believe the only difference between your example and my blog is:

[code]

[2019-02-13 00:51] kazuma1989 commented on #6362
Note to self and someone facing the same issue:
@dirtyredz's [comment](https://github.com/gatsbyjs/gatsby/issues/6362#issuecomment-408635292) worked for me.

I just copied my `gatsby-browser.js` that is working well in devServer into `gatsby-ssr.js`. I used `wrapRootElement` instead of `replaceRenderer`.

A better and DRY example is here:
https://github.com/gatsbyjs/gatsby/tree/ec8deb2d757524316a0

[2019-02-13 01:09] pieh commented on #10880
It's this function (imported from 3rd party plugin) in https://github.com/zenstokyo/ZensHomeBlog/blob/master/gatsby-node.mjs#L80 that does this conversion

[2019-02-13 01:23] matchatype opened #11726 "Why can't query exports be listed at the end of the module?"
## Description

I have the following working template:

[code]

However, if I try to list everything I want to export at the end of the module, the query does not work, and the component's `data` prop is never populated.

### Steps to reproduce

Rewrite exports as follows:

[code]
### Expected result

The component should be passed a `data` prop.

### Actual result

No prop is passed down to the c

[2019-02-13 01:38] lettertwo opened #11727 "--max-workers flag for gatsby build"
## Summary

Currently, Gatsby [automatically selects](https://github.com/gatsbyjs/gatsby/blob/22c41fb4595a5c57c97cd014044d8d772d781809/packages/gatsby/src/utils/html-renderer-queue.js#L4) a level of parallelism (based on the reported number of available CPUs) for the render phase of `gatsby build`. In some scenarios, though, `gatsby build` can actually run faster if the amount of parallelism is li

[2019-02-13 02:02] pieh commented on #10090
In case anyone will beat me to fix this - here's some places in gatsby code that are causing this:

When we produce example value to infer schema from, we select just single `___NODE` value from all the nodes - this step loses information needed to correctly create Union type and we therefore we can just single type.

- In https://github.com/gatsbyjs/gatsby/blob/22c41fb4595a5c57c97cd014044d8d772d7

[2019-02-13 05:51] nsisodiya commented on #11704
@pieh Thanks a help. Just curious,
because Styled-Component is also css in js kind of mechanism, This kind of problem will occur with styled-components too?
it is true.

[2019-02-13 07:38] Knaackee opened #11730 "Updating Gatsby results in error on build and run."
After updating the gatsby package from `2.0.91` to `2.0.119` i got

[code]

So i did install the `graphql` package.

After that i got

[code]

I tried, updating all plugins as well as don't use any plugin at all. Nothing helped.

Any ideas?

[2019-02-13 07:46] mudit2108 commented on #8056
Hey,

I am facing the same issue.
This issue is not stale

Thanks for all the help.

[2019-02-13 08:39] wardpeet commented on #8056
@gatsby/core is this something we can fix? I'm not super familiar with Netlify so I'm unsure there are ways to save specific folders to a cache.

If it works fine on local but slow on Netlify it smells like slow hardware.

[2019-02-13 08:46] Coriou commented on #8056
My take on this is that Gatsby needs to be smarter when clearing cache, especially images. The problem here is, as far as I can tell, Gatsby will rebuild everything whenever you change a « core » file, including images.

This is what takes forever. I don’t use netlify but I have a similar build set up on a $5 DO droplet and my rebuild when cache is cleared takes about 30 minutes (most of which is

[2019-02-13 09:02] pascal-kubrick commented on #10339
I believe that in theory it is possible that there's different alt tags for a single image, since Drupal sees every file as a different entity, but stores meta data on the field level.

[2019-02-13 09:52] oorestisime commented on #11076
We had a look at this over the pairing session. While it could improve a bit current state of things it wouldn't solve the general issues with logging (updated issue w.r.t those) and it would require some hacks to do it. I will rather try and focus my time on the global issue.

[2019-02-13 09:58] imshuffling commented on #11688
i think I'm having a similar issue, any update on a fix for this?

[2019-02-13 09:59] wardpeet opened #11731 "Bring back preview sites when creating a pull request"
## Description
We used to have demo sites added to PRs so we can view our changes and make sure they didn't break.

![image](https://user-images.githubusercontent.com/1120926/52702899-71e8a400-2f7d-11e9-9f6c-3a47bab92286.png)

I find it super valuable for www when changes are done to docs or parts of core that we can visualize it without building www yourself https://github.com/gatsbyjs/gatsby/iss

[2019-02-13 10:03] KyleAMathews commented on #11076
These aren't webpack logs, they're our own logs. So we need to put in a better framework for handling things.

[2019-02-13 10:13] imshuffling opened #11732 ""Variable "$slug" got invalid value null; Expected non-nullable type String! not to be null.""
Getting a weird error when running `gatsby develop` this morning.

![screenshot 2019-02-13 at 10 09 39](https://user-images.githubusercontent.com/739061/52704018-8e81dd80-2f77-11e9-9d33-b87bad092535.png)

Getting alot of 404s in the console and the index.js page does not want to load.

![screenshot 2019-02-13 at 10 12 17](https://user-images.githubusercontent.com/739061/52704202-e91b3980-2f77-11e9

[2019-02-13 10:27] leworking commented on #2410
Hello, I'm experiencing the same issue (or I believe), I am retrieving a markdown file from Github, but when I change the content of that file, gatsby somehow is using the old version.

- If I run the query from graphiql, I receive the updated text
- If I delete the .cache folder (windows 10) after having stopped gatsby develop, it DOES NOT fix the issue, so that with gatsby develop I continue see

[2019-02-13 10:37] Greegko commented on #11592
https://github.com/gatsbyjs/gatsby/issues/9139 Google Analytics plugin has the same issue, it is about header tags update and events fire synchronisation issue.

[2019-02-13 11:39] pieh commented on #11688
@imshuffling hopefully I'll open PR today. Just to confirm if your issue have similar root problem - are you on Mac? Because it seems that on Linux and Windows when you use wrong casing for `component` argument in `createPage` we will throw error saying that file can't be found.

[2019-02-13 11:43] imshuffling commented on #11688
@pieh Yeah I'm on a mac, i've logged a issue here - it may be related https://github.com/gatsbyjs/gatsby/issues/11732

[2019-02-13 11:43] pieh commented on #11727
There is open PR implementing ability to specify this ( https://github.com/gatsbyjs/gatsby/pull/10257 ). Honestly this is very weird from `circleCI` that it times out if you use too many workers

[2019-02-13 11:49] pieh commented on #11726
We do static analisys of source files to extract queries and run them during the build.

Here's our code handling this currently - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/query-runner/file-parser.js#L187-L213 - this is just limitation of current implementation (just handling code in your first example) and it's definitely possible to implement support fo

[2019-02-13 11:51] gurpreet-hanjra commented on #11731
Hello @wardpeet this issue seems interesting. Would you mind giving some pointers to fix this? Thank you.

[2019-02-13 12:22] phonoman commented on #10281
Ahh, yeah, I see that jsonapi for `field_views_reference` is missing the `links` for that specific view, right?
Because in jsonapi/view--view there is a view with that same id.. It's only not specifically referenced at `field_views_reference` - thus the info for that view is missing for you guys, am I right?

[2019-02-13 12:36] universse opened #11733 "[www] Showcase filter not responding to forward/backward buttons"
Hi. The filters on https://www.gatsbyjs.org/showcase aren't responding to forward/backward navigation buttons. There seems to be a bug in components/url-query.

Should be

[code]

instead of

[code]

[2019-02-13 12:37] pieh commented on #11731
We removed `Netlify` github app from repo because it was too spammy and also netlify check in PR status check was confusing because example sites were overriding this check.

Deploys can still be manually checked when visiting f.e. https://app.netlify.com/sites/using-remark/deploys (this should visible to everyone).

Ideally we would have have single "example sites" check that would create detaile

[2019-02-13 12:48] m-allanson commented on #11731
Thanks @gurpreet-hanjra! Unfortunately this needs to be done by a Gatsby team member, as it requires access to Gatsby's Netlify account.

@pieh Is the new Netlify GitHub App considerate with notifications? Or is the problem that we were pushing notifications from multiple sites to this one repo? https://www.netlify.com/blog/2018/12/03/richer-github-integrations-come-to-netlify-thanks-to-github-app

[2019-02-13 12:57] DSchau commented on #8056
@Coriou there's this open PR (#8379) that's also gotten a bit stale--the intent is to solve that very issue though.

Also to be clear--I don't really see cache invalidation as the best solution to this problem. Generally--it's a fair assumption that a Gatsby app when built in a CI server will be given a fresh cache. I've seen some problems with that Netlify plugin caching things _too_ aggressively

[2019-02-13 13:03] wardpeet commented on #11731
@pieh so making a mini dashboard where all builds are shown?

I can imagine the spammyness when using a bot when it builds on each push. If multiple netlify apps are possible this would fix it too? (like circle-ci)

[2019-02-13 13:14] pieh commented on #11688
Oh, this seems different. Error from this is:
`Error: RelayParser: Encountered duplicate defintitions for one or more documents`

[2019-02-13 13:48] imshuffling commented on #11732
![screenshot 2019-02-13 at 13 48 00](https://user-images.githubusercontent.com/739061/52716130-065f0080-2f96-11e9-9401-7fb32a8a68d6.png)

Seeing this coming back from contentful, looks like its something to do with this.

[2019-02-13 13:51] DSchau commented on #11732
@imshuffling to remediate, you could just filter on the `null`, e.g. something like:

[code]

Generally you'll want to just fix the content issue though--is the slug something added to that content type (manually) or something you're generating automatically?

[2019-02-13 13:59] laurenskling opened #11736 "gatsby-transformer-xml uses unmaintained dependencies to parse xml"
## Summary

`gatsby-transformer-xml` uses https://github.com/segmentio/xml-parser to parse XML, but this package is not being maintained.
For me, it's lacking CDATA support, but without a maintainer there is no fix for me to get this working in Gatsby :(
What can we do about it?

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`packag

[2019-02-13 14:12] pieh commented on #11731
So this is what we've seen when I re-enabled netlify app for a moment
![screenshot 2019-02-13 at 14 06 43](https://user-images.githubusercontent.com/419821/52713862-bcc3e500-2f98-11e9-9d48-0334e60e9897.png)

There were multiple extra checks added by netlify (comming from "richer github integration") - this can be disabled per site on netlify settings, but I don't have access to all of them and it

[2019-02-13 14:14] nickreese opened #11737 "A Unique Shortcode Issue with Gatsby"
## Summary
First, thanks for reading this ticket. -- I'm struggling to wrap my head around how to implement this.

Within the content of my pages, I have some WordPress style "shortcodes." Overall, processing these shortcodes down to components has been pretty straight forward, except one.

We have a [table name="something"/] shortcode where there is an external DB call needed to pull the data for

[2019-02-13 14:16] CharlyMartin commented on #11662
Hi @pieh, thanks for your answer!

I did have the same issue a few times since lodging this issue, it seems to be the first times one of the arrows is clicked. It's happening even more on mobile for some reasons.

I'm using `setState` a few times in this component to render the proper image. Do you think it might be the cause of the problem?

I've read that `setState` functions are asynchronous (l

[2019-02-13 14:16] nickreese commented on #11070
I'm able to get 10k pages building with 6gb of ram allotted to the build process. If you're using GraphQL queries instead of passing the required data via gatsby-node.js you're going to see insanely long build times. Pre-packaging the data and passing the required data via each template's "pageContext" sped up our build times massively.

[2019-02-13 14:54] imshuffling commented on #11732
OK thanks, Yeah the slug its added to content type.

I've contacted Contentful to see if they can shed any light on this,  it's a strange one because the posts have content.

[2019-02-13 15:17] pieh commented on #11732
Do you use localisation in contentful? If so try adding `locale` or `node_locale` (don't remember exact name of the field) to your graphiql query. It might shed some light on this

[2019-02-13 15:19] SkelegonDK commented on #7008
toFormat is a method by it self. Not a shared option.

In addition to their individual parameters, **all methods above share the following**:

grayscale (bool, default: false)
duotone (bool|obj, default: false)
toFormat (string, default: ”)
cropFocus (string, default: ’sharp.strategy.attention‘)
pngCompressionSpeed (int, default: 4)
toFormat
Convert the source image to one of the following availab

[2019-02-13 15:24] Coriou commented on #8056
@DSchau

#8379 Looks super promising ! That'd be a great step forward imho.

--

I think I misphrased this. Let me try again:

I don't get a cache invalidation when I change an image. I do when, as you mentioned, I edit `package.json` or `gastby-*.js` files. Sorry for that.

--

I see your point and it's something I can't say I had considered. I had my use case in mind which is rather basic: I hav

[2019-02-13 15:27] DSchau commented on #8056
This is the _key issue_ and I agree very strongly! We need to take another look at #8379 because we definitely want cache invalidation, but invalidating images (and other heavy processes) if e.g. some unrelated plugin changes seems unnecessary.

[2019-02-13 15:27] pieh commented on #11737
This definitely has potential to bloat / overfetch data. But it also seem like easiest to implement and might not be that bad if you don't have large amount of tables.

I think that would be preferable. You would still need to "marry" data in component I think but at least query for tables would return just tables used in given page. Let me know if you need help implementing this approach

[2019-02-13 15:32] pieh commented on #11737
Yet another idea (but also more complex than one you proposed):

Still parse content in `gatsby-node.js`, but instead of just extracting table names do something like this:

For example content:
[code]

split this into array of:
[code]

then you could query:
[code]
and you could iterate over parsedContent array and depending on `type` either render just text or use some component for table data

[2019-02-13 15:37] nickreese commented on #11737
@pieh Thanks for the feedback. How would this become query-able? If I just pass it into pageContext, I can use graphQL? I think I'm missing something.

[2019-02-13 15:39] KyleAMathews commented on #8056
We don't ever delete images in the public folder as they are reliably cacheable. @coriou are you deleting the public folder?

[2019-02-13 15:40] KyleAMathews commented on #8056
Even if you delete .cache, gatsby-plugin-sharp checks if a thumbnail exists before it tries to recreate it.

[2019-02-13 15:40] universse opened #11738 "[gatsby-plugin-offline & gatsby-plugin-layout] Link activeStyle problem"
## Description
I'm using gatsby-plugin-offline and gatsby-plugin-layout on my site. Prop activeStyle on Link component rendered in gatsby-plugin-layout layouts/index.js component (footer) isn't properly applied on subsequent access to the site after service worker is installed.
Link rendered in the gatsby v2 layout component (header) works as expected.

### Steps to reproduce
With gatsby-plugin-of

[2019-02-13 15:40] silvenon commented on #10753
You're right, gatsbot, no need to keep this open. I'll submit a PR when or if I get around to it.

[2019-02-13 15:40] #10753 closed

[2019-02-13 15:40] nickreese commented on #11737
@pieh On this approach:

I'm working on testing this now. Would the unused data get put into the final pages Gatsby renders or not?

[2019-02-13 15:49] pieh commented on #11737
This is probably part when this gets tricky.

If you don't use transformers for your base data that you are checking you could do this like this: https://gist.github.com/pieh/01dd1b9b5900c48d37443c7d5807bf45

Yes, it would - we can't really remove "unused data". It could work if we would strip out data that is not used on initial render - but we can't really analyse code to check if there isn't an

[2019-02-13 15:51] wardpeet commented on #10242
cleaning up the PR and getting it merged

[2019-02-13 15:53] lettertwo commented on #11727
I swear i searched! 😅 An env var was actually my first thought, but i elected for a CLI flag thinking it might be more 'idiomatic' Gatsby. I'm happy to close this and follow that PR.

I agree with you that it is odd that CircleCI times out in this case, cuz i couldn't tell you exactly _why_ that happens. I've also had very occasional successes, so it seems at least in some way bound to the health

[2019-02-13 15:56] nickreese commented on #11737
@pieh That example is perfect. Thank you. I know that gatsby-source-prismic is doing some magic behind the scenes to transform their API response to nodes.

I'm going to go this route:

As I've already written the shortcode processing logic for all of the other shortcodes at the page level and marrying the data shouldn't be too hard.

Thanks for the support and work on Gatsby. Love it. Long term w

[2019-02-13 15:56] #11737 closed

[2019-02-13 15:59] pieh commented on #11727
So this of course subject to change (we could also support both)

Let's keep it. I will add "fixes" thingie to PR so this issue could be tracked.

[2019-02-13 16:02] RageYL commented on #11691
I'm not sure if i'm allowed to do that, but as yesterday's last edit may provide a solution for the problem, i'm writting a new comment to be sure you get notified.

[2019-02-13 16:19] Coriou commented on #8056
@KyleAMathews

Never !

I also use `gatsby-transformer-sqip` (which is also much more expensive than Sharp, by design), could this be the reason why I constantly get a full rebuild of everything ?

[2019-02-13 16:24] KyleAMathews commented on #8056
Ah! It's very possible actually that sqip doesn't cache correctly. It wasn't built by us and afaik, doesn't get a lot of usage, so might need some more love.

The `sharp` plugins definitely do cache correctly.

[2019-02-13 16:32] imshuffling commented on #11732
Yeah tried that, I've raised it with Contentful - see what they come back with.

![screenshot 2019-02-13 at 16 31 49](https://user-images.githubusercontent.com/739061/52727353-eedf4200-2fac-11e9-8eb9-216d2420e326.png)

Thanks.

[2019-02-13 16:37] benhartouz commented on #4486
same issue with me

[2019-02-13 16:38] DSchau commented on #4486
@benhartouz can you provide any more detail as to what is happening? A stacktrace for example?

[2019-02-13 16:46] jonniebigodes opened #11742 "Quick question about contribution"
This is not a issue per se with Gatsby.
More of asking an opinion about a contribution. Based on the comment by @LekoArts [here](https://github.com/gatsbyjs/gatsby/pull/11505#issuecomment-462028052) and my subsequent reply. I've created a more pratical example, it's currently searching for blog posts using the said library.

With that out of the way i would like to ask the @gatsbyjs/docs team a co

[2019-02-13 16:48] benhartouz commented on #4486
@DSchau thanks for you response, just i want to install dependencies so i ran
[code]
Then i got this issue
[code]

[2019-02-13 16:51] DSchau commented on #4486
@benhartouz are you behind a proxy or something?

Does `npm config get registry` show `https://registry.npmjs.org/`?

This link https://registry.npmjs.org/@reach/router/-/router-1.2.1.tgz works just fine for me.

[2019-02-13 16:54] psantini opened #11744 "Providing function as option to babel plugin does not work"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?

### Actual result

What happened.

### Environment

Run `npx gatsby info --clipboard` in your project direct

[2019-02-13 16:55] #11744 closed

[2019-02-13 16:55] benhartouz commented on #4486
@DSchau yeah `npm config get registry` show `https://registry.npmjs.org/` . but i still get this issue
[code]

[2019-02-13 16:55] DSchau commented on #4486
What about `npm config list`? Do you see a proxy or something?

[2019-02-13 16:58] benhartouz commented on #4486
@DSchau  i get this.
[code]

[2019-02-13 17:05] Coriou commented on #8056
Well, it does [check against cache](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sqip/src/generate-sqip.js#L33-L69).

On a side note, I thought this plugin would be used a lot, it's super cool.

[2019-02-13 17:05] imshuffling commented on #11732
Update.

![screenshot 2019-02-13 at 17 04 54](https://user-images.githubusercontent.com/739061/52729695-92caec80-2fb1-11e9-9fb2-c81d583a896e.png)

[2019-02-13 17:08] DSchau commented on #11732
@imshuffling thanks for digging in!

Let's get this closed out as it doesn't really seem to be a Gatsby issue. Thanks for opening and sharing the (upcoming!) fix for others, as well!

[2019-02-13 17:08] #11732 closed

[2019-02-13 17:27] #7996 closed

[2019-02-13 17:27] #9936 closed

[2019-02-13 17:27] #10011 closed

[2019-02-13 17:27] #10052 closed

[2019-02-13 17:27] #10072 closed

[2019-02-13 17:27] #10094 closed

[2019-02-13 17:27] #8551 closed

[2019-02-13 17:27] #10026 closed

[2019-02-13 17:27] #10086 closed

[2019-02-13 17:44] danedavid commented on #11733
@universse There doesn't seem to be a trouble with the site showcase modal previous & next buttons.

[2019-02-13 17:49] lannonbr commented on #10418
So there is a E-Commerce tutorial in the docs as well as some videos about making an ecommerce site by @jlengstorf on his twitch stream, so is the structure for this page to have a possible condensed format to guide people on what is available for ecommerce and then link to these various resources?

[2019-02-13 17:50] lannonbr commented on #10418
For reference:

* E-Commerce Tutorial in Docs: https://www.gatsbyjs.org/docs/ecommerce-tutorial/
* YouTube archive of Jason's stream about building a store with Gatsby and Stripe: https://www.youtube.com/watch?v=g4aCBNt5Pcg

[2019-02-13 18:07] GarrettJMU commented on #8357
Also commenting on here - seeing the same issue using Netlify & Gatsby.

[2019-02-13 18:18] JanLenoch commented on #9117
Hi @arobida , I'm not sure what you mean by saying "for the purpose of using state". Anyways, we'd like to use classes as our HCMS already has a robust JavaScript SDK that provides content as class instances. Simply put, our source plugin does not talk directly to our Delivery/Preview API endpoints. It uses the SDK to do that and consumes the data as class instances.
Did that answer your question?

[2019-02-13 18:35] iamskok commented on #5030
Made some edits related to @DSchau [comments](https://github.com/DSchau/gatsby-remark-code-titles/pull/2#pullrequestreview-200297076) for [gatsby-remark-code-titles](https://github.com/DSchau/gatsby-remark-code-titles)

iamskok/gatsby-remark-code-buttons@52752d378a6fac15ca84091a7f4ccd07e156fe1d

[2019-02-13 18:55] Siilwyn commented on #9959
@gatsbybot any chance on reopening this? Still want to whip up a PoC. :)

[2019-02-13 18:57] tylermcrobert commented on #11717
That appears to be the issue.

[2019-02-13 18:57] #11717 closed

[2019-02-13 19:05] bargangilo commented on #4631
Does anyone have a workaround for this in the meantime? Tried putting the user-drag: none on the wrapping div and the image still seems to drag.

[2019-02-13 19:06] shannonbux commented on #11082
A tiny gatsby logo on the plugin's card (the cards in the sidebar) might be
enough to signal "officialness". I heard someone propose a green check mark
recently, though I think that would be pretty ambiguous. A check mark would
mean more "this passed some sort of test," which could apply to many
plugins that are not official.

Another thing to keep in mind is that it'd be useful to be able to filt

[2019-02-13 19:29] MarcCoet commented on #9489
@jlengstorf nope, not on that project but that is really good to know, thanks !!
I don't think anyone is likely to make the same mistake I did but just in case... I was messing around with architecture and data transformation and I happened to transform a React Function Component into a simple function. Obviously enough, Hooks are only meant to be used in React Components and not normal functions

[2019-02-13 19:40] shannonbux commented on #10445
Hi @V1shvesh! I am so sorry for responding late! I must have missed this during the holidays and I just improved my email system for github notifications and found this. If it's still good timing for you, go ahead and take this issue! And in the future, feel free to just claim an issue and mention the PR number so no one accidentally starts working on the same issue as you :)

[2019-02-13 19:43] V1shvesh commented on #10445
@shannonbux, great! I'll start working on it

[2019-02-13 19:58] AfroDevGirl commented on #8242
I'm having the same issue after adding more posts to my wordpress site. All posts have ids and slugs yet this query has broken down for seemingly no reason.

[2019-02-13 20:01] psantini opened #11746 "Providing function as option to babel plugin does not work"
## Description

When trying to implement functionality to minify classnames (as described here [https://medium.freecodecamp.org/reducing-css-bundle-size-70-by-cutting-the-class-names-and-using-scope-isolation-625440de600b](https://medium.freecodecamp.org/reducing-css-bundle-size-70-by-cutting-the-class-names-and-using-scope-isolation-625440de600b)) I came across an issue with the `addBabelPlugin`

[2019-02-13 20:26] DSchau opened #11747 "[bug]: ☂️ umbrella issue for cache and over-eager persistence issues"
## Description

In this umbrella issue, I'd like to provide a means for others to share any issues encountered regarding caching, **specifically in instances when the solution to a problem you were facing was remediated by removing the cache (e.g. `rm -rf .cache`)**.

Issues that we have seen before (but generally have not been able to reproduce) can usually be classified as one of the following:

[2019-02-13 20:32] lvrbrtsn commented on #8847
I am working on hosting a meetup in Phoenix here shortly. If no one is working on this I could try and get it made!

[2019-02-13 20:34] jasonellington commented on #9818
Also running into this issue. Please do not close the ticket. Deleting and Reuploading the image is not working nor is a good solution... Is there a fix to this problem yet?

**Environment**
`
gatsby: 2.0.88
gatsby-image: 2.0.29
gatsby-plugin-sharp: 2.0.20
gatsby-transformer-sharp: 2.1.13
`

[2019-02-13 20:50] zilahir commented on #6670
Take of your `env.*`. The `API` needs to authorise. In my case the problem was that I only had `.env.development`, and the token, and other stuff was not provided for `prod` build.

Good luck!

[2019-02-13 20:56] jaymdq commented on #5572
Any update on this? I have the same problem
I also followed the step by step at https://www.gatsbyjs.org/blog/2017-10-17-building-i18n-with-gatsby/
`gatsby develop` works quite fine, but `gatsby build` fails
We are lacking some good example for i18next + SSR

[2019-02-13 21:21] jonniebigodes commented on #11736
@laurenskling thank you for opening the issue.
As this is being addressed i'm currently working on a alternative so that you can parse xml documents with Gatsby. If you don't mind waiting a bit longer, i'll post a alternative for you shortly, i have almost complete just needs a bit of tweaking, sounds good?

[2019-02-13 21:35] Batistleman commented on #1687
Did you manage to solve this? I'm also seeing this... (all icons are loaded on top of eachother on pageload)

[2019-02-13 21:38] pieh commented on #11736
@jonniebigodes does your alternative have similar api to `gatsby-transformer-xml`? Maybe we should just bump major version and use that for it?

[2019-02-13 21:40] shannonbux commented on #11329
Same here! Trying to get it working for my sister's site, and looking through tons of people's source code hasn't quite helped me find a use case that matches mine (which is pretty simple. I'm just trying to use gatsby-image in my layout.js file to make the logo image load with a nice background color.)

Because the gatsby-image example site is so complex, I think it would make sense to clone it a

[2019-02-13 21:40] pieh commented on #11736
But back to the question - we are happy to review / accept PR that will swap unmaintained dependency in the plugin - ideally if it would mean breaking changes for users, but it wouldn't be blocker if there would be (as mentioned in previous comment - we can bump major version if there would be breaking changes)

[2019-02-13 21:43] acewf commented on #5572
Hi @jaymd, from my understanding you can do in couple of ways..
- first using graphql to get your data, then it passes down to your page as a prop.

I have used a second option, more suitable to the project I am working because I don't want to use the same graphql query in every page, I did:
- on gatsby-node.js I load the content, in my case translations file for each locale.
Then on page create m

[2019-02-13 21:48] pieh commented on #11746
To be honest I'm not sure why we serialize/deserialize babel config. I will be following code and reading babel docs.

This was added in https://github.com/gatsbyjs/gatsby/pull/6801 changeset that was resolving https://github.com/gatsbyjs/gatsby/issues/4689 ticket.

[2019-02-13 21:52] rogermparent commented on #11368
Hello! I'm running into a similar issue with sorting on fields added by setFieldsOnGraphQLNodeType.

I'm not sure if my issue is the same as everyone else's here, but I've noticed that **only fields of type GraphQLString are sortable when added by setFieldsOnGraphQLNodeType**.

I tried using the GraphQLDate from "gatsby/dist/schema/types/type-date", and while it completely works for querying, the

[2019-02-13 21:53] sudarshang commented on #11602
I was interested in this, but after some digging around looks like when this

https://github.com/prisma/graphql-playground/pull/943

is fixed, gatsby will have the graphiql-explorer

[2019-02-13 21:57] mrispoli24 commented on #11747
I think I ran into this issue and after much frustration I started [this issue](https://github.com/gatsbyjs/gatsby/issues/11199) but ended up closing it after deleting the public folder and getting everything to work. I do believe this sounds a lot like what others are experiencing though.

[2019-02-13 22:07] pieh commented on #11742
Can you rephrase this question / add more context? I'm not sure what "the process" is.

[2019-02-13 23:15] nickytonline commented on #11747
I built my site off of the Netlify CMS starter, https://github.com/nickytonline/www.iamdeveloper.com. ‪It has deleting the .cache as part of their build steps. See https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/package.json#L40‬

I didn't remove it, but maybe they have a good reason to.

[2019-02-14 00:15] jlengstorf commented on #10418
The tricky part with e-commerce is that there are so many ways to solve this problem and all of them (or at least the vast majority of them) rely on third-party software like Stripe and Shopify.

We’d probably need something more intense here, similar to the [Headless CMS docs](https://www.gatsbyjs.org/docs/headless-cms/), so we can provide a general overview and then list a few options.

[2019-02-14 00:17] eulo commented on #11724
https://help.shopify.com/en/partners/dashboard/development-stores

Looks like a development store will need to be set up. When I get some free time I'll look into getting it sorted.

[2019-02-14 00:19] rchrdnsh commented on #11247
I'm not sure now, to be honest...need to try and go through the whole setup to figure out what's going wrong...without an explicit router I find it a bit challenging to do the kind of routing I want to do, but I'm also pretty new to Gatsby as well, and trying to use bleeding edge stuff like MDX, so there's that.

[2019-02-14 00:25] rchrdnsh commented on #11247
When clicking on the link to the article in question it should go to:

[code]

but instead tries to go to:

[code]

and then gives me this error page:

<img width="940" alt="screenshot 2019-02-13 16 21 46" src="https://user-images.githubusercontent.com/7884263/52753528-d589c600-2fab-11e9-9778-805dd9577b31.png">

I really don't understand why it's trying to do that, and without knowing how to expli

[2019-02-14 00:41] lannonbr commented on #11082
Yeah I think the gatsby logo could work and then in the main main portion maybe it could be a bit further extended so it has the logo and then maybe some text next to the logo as a single card like "Official Plugin" or something of that manner.

I'll start an implementation of the two and open a PR and then we can discuss how to make it fit.

[2019-02-14 00:44] keithmifsud commented on #11747
Please bear in mind that I am not 100% sure this was the cause of the issue forcing me to delete the `.cache` directory but it did fix the issue as soon as I did. I have a `json` file with an array of objects. I decided to give each object an `identifier` key. Gatsby does not like this key name, maybe it conflicts with an internal key name. I renamed the `identifier` to `name` but the related chan

[2019-02-14 00:49] zacharymctague commented on #633
Sorry if this is the wrong spot.

I'm still getting an error when using `import { Link } from 'gatsby'` and Storybook, I'm using Gatsby@2.1 with Storybook@4.1.11 and Typescript.

[code]

**.stroybook/webpack.config.js**
[code]

I get a transpiling error when I downgrade to babel@7 [(as above)](https://github.com/gatsbyjs/gatsby/issues/2932#issuecomment-377009281)

[code]

Is anyone else experienci

[2019-02-14 00:52] pieh commented on #11724
I'll try something else - I will try to add limit (definitely lower than 250) to force multiple "pages" and make sure all products (and possibly other queries) will fetch as long as there is next page available

[2019-02-14 01:56] pieh commented on #11724
Ok, changing limit seems to trigger cascade of errors - I have fix and will be opening PR shortly. Would you be willing to test it with your store that have >250 products? I can prepare packed package that you will be able to install

[2019-02-14 02:04] universse commented on #11733
Sorry, guess I wasn't clear enough. When you click on sidebar filters both the URL and the Sites section will update. When you click the browser back/forward buttons (not the modal) after clicking a few sidebar filters, the URL will update but the Sites section does not.

[2019-02-14 02:29] TylerBarnes commented on #11576
I misread this at first but what @CalebBarnes is saying is that if there's a fragment used in a query and also the query has some error unrelated to that fragment, gatsby is blaming the error on the fragment even though there's nothing wrong with the fragment and the issue is elsewhere. Not sure if you guys read that that way.

To me the title says when there's an error within a fragment gatsby bl

[2019-02-14 02:35] CalebBarnes commented on #11576
Even if the error is unrelated to graphql at all it's still blaming the fragment.

[2019-02-14 02:48] eulo commented on #11724
You're a legend.

Yeah can do.

[2019-02-14 03:02] pieh commented on #11724
Here's PR - https://github.com/gatsbyjs/gatsby/pull/11752

you can try this locally by:
[code]
or

[code]

[2019-02-14 03:08] pieh commented on #11576
This can definitely happen if there are JS syntax error because we parse javascript file when we extract queries - if we can't do that then we will fail to extract fragment and compiling queries with missing fragment (seems to) throw error that is unhandled (so crash).

At very least we should wrap some relay compiler code in try catch and do `reporter.panicOnBuild` (and maybe parse error to provi

[2019-02-14 03:34] pieh commented on #11738
This is mixed problem of react hydration and our app shell used by offline plugin (which does use layout, but shouldn't).

The problem is that when offline plugin is used we serve (what should be) blank page. But because it actually includes layout (with link in footer that has inactive styling) when we hydrate (mount react application over existing html), react doesn't handle updating mismatched

[2019-02-14 03:35] pieh commented on #11738
I don't think there are reasonable workarounds for this and we need to fix that in gatsby code.

[2019-02-14 04:11] seaneking commented on #7208
Think we should keep this open, until it's clarified either way whether from the team whether this should feature be included in gatsby-link or not (I vote yes, FWIW).

Tbh I think this should be the default behaviour, with an opt-out flag instead. But that would be a breaking change so fair enough if it's added as an opt-in feature instead.

[2019-02-14 06:22] polarathene commented on #10705
@gatsbybot Not stale, still waiting on feedback.

[2019-02-14 06:24] polarathene commented on #7008
@SkelegonDK it's a graphql param, try it.

[2019-02-14 06:41] tudor-ghiorghiu commented on #11738
I am having a similar issue with this, but with CSS modules `className={styles.nameOfMyClass}`. Even after disabling all modules and leaving only `gatsby-plugin-sass` it still acts up.
This is the first load of the landing page:
<img width="1440" alt="screenshot 2019-02-14 at 08 35 09" src="https://user-images.githubusercontent.com/4012479/52767609-b2a2f480-3033-11e9-9cac-11a121c9f5e4.png">

This

[2019-02-14 07:43] marcuslindfeldt opened #11755 "Fetch contentful preview data on load for instant feedback"
## Summary
Ability to fetch contentful data on load instead of build for preview purposes in `gatsby-source-contentful`.

### Basic example
`CONTENTFUL_HOST=https://preview.contentful.com CONTENTFUL_FETCH_ON_LOAD=true gatsby build`

### Motivation

To be a real contender to giants like wordpress, static site generators needs to shorten the feedback loop for content writers. Waiting up to five minu

[2019-02-14 07:43] ChildishhAlbino opened #11756 "Styling applies to all documents not documents that import the stylesheet."
## Summary

## Relevant information

Was creating a page on my website for my friends birthday which used a separate scss file. Upon importing it into the relevant page, all my pages now shared the styling. I'm not saying this is a bug but it seems weird that documents that no direct link to said SCSS file would be affected by it's styling.

Is this intended behaviour or a side affect of something

[2019-02-14 08:41] endymion1818 commented on #11747
In working with several developers using GatsbyJS over the past 9 months I’ve only had this isssue come up once. A colleague was experiencing graphql errors because an API wasn’t being reached. We had recently changed how we fetch data (using gatsby-source-Wordpress) in Gatsby-config.js. When he updated his master branch, running the cli command “gatsby develop” still used the old settings. Deleti

[2019-02-14 08:45] V1shvesh commented on #10445
https://www.gatsbyjs.org/docs/gatsby-style-guide/#use-you-as-the-pronoun

A very wholesome detail to be considered indeed! :grin:

[2019-02-14 09:30] laurenskling commented on #11736
@jonniebigodes , sure I can wait :) currently I'm running a fork of `xml-parser` with a dirty CDATA `.replace`, but would love to get a stable fix.

I'm no hero in XML, but would love to help out testing a new tool.

[2019-02-14 09:48] oobidin commented on #11747
I've been working with GatsbyJS last 6 months and I faced some issues when you update some local content (MDs and JSONs in our case). Actually, we've created the `yarn clean` command with the content: `rm -rf public && rm -rf .cache` to solve such kind of issues.

[2019-02-14 09:52] Jornve commented on #9979
I have the same problem. When sharing the website no preview is being displayed. When using Facebook debugger (https://developers.facebook.com/tools/debug/sharing/) is says:

Inferred Property
The 'og:image' property should be explicitly provided, even if a value can be inferred from other tags.

Missing Properties
The following required properties are missing: og:url, og:type, og:title, og:image,

[2019-02-14 10:27] bakeruk commented on #10339
To fix all scenarios for all of the field types, could the `meta` attributes not just simply be added to the relationship data (see below)?

[code]

As long as the data is accessible, it would be down to the developer implementing the GraphQL query to ensure that the data being output according to their requirements. If not additional logic clientside can be used.

The primary thing is that this d

[2019-02-14 10:28] msachi commented on #633
@zacharymctague I got around that by using a conditional that requires (or not) Gatsby's `Link` depending on whether you're in the storybook environment.

Something like:
[code]

You can set the environment in your package.json script, e.g.
`"storybook": "STORYBOOK_ENV=true start-storybook -p 9001 -c .storybook -s ./public"`

[2019-02-14 11:27] jaymdq commented on #5572
Hey @acewf , thanks for replying!
I will try to do the second option, if you have some code snippet for sharing about the page create method that would be really helpful.

[2019-02-14 11:31] stefanprobst commented on #11368
@zslabs I guess you have already seen, the Date sorting issue should be fixed in `gatsby-transformer-remark@2.2.5`

@rogermparent Thanks for reporting! Your issue seems to be the third point in the initial issue description (sorting should work for scalar types like String, but not when we have to call field resolvers). On second thought, sorting Date fields added with `setFields...` *might* actua

[2019-02-14 11:31] leworking opened #11760 "Can I create nodes based on a graphql query?"
I am trying to create nodes in `gatsby-node.js` through `sourceNodes`, so that I can read them later on through `createPages`

But I want to create nodes based on information I retrieve through *graphql*.

AFAIS, I only have access to *graphql* within the `createPages` function

[code]

So the question is, if I want to have access to `graphql` in `sourceNodes`

[code]

how could I? Or can I?

[2019-02-14 11:38] trotzig commented on #11747
We updated our content types in contentful (removed some types, added some). Removing the cache folder made the dev server start up again. Cc @axhamre.

[2019-02-14 11:39] Jornve opened #11761 "SSR React helmet plugin not working in combination with Redux"
## Description
I have a multi language website build with Gatsby, redux, redux-persist and Storyblok (CMS). When sharing our website in Slack I've noticed that no preview is available. I did some research and it looks that all the meta tags set via Helmet are present but they are not server rendered. You see the tags appearing when you inspect the website via the browser. **As a result, when shari

[2019-02-14 11:58] pieh commented on #11760
It's not possible because graphql schema doesn't exist yet. But you have some programmatic access to already existing nodes through some functions passed to our node APIs:

[code]

What are you trying to do?

[2019-02-14 12:24] EricSSartorius commented on #11524
I recently came across this error again after indexing my styled component js files.
I was originally importing like the following
[code]
but adding an index.js file to my styles folder that looked something like:
[code]
and then changing the imports in my components/pages to:
[code]
is what gave me the `Error: Missing resources...` warning and a broken production (still worked in dev).

Still not

[2019-02-14 12:26] freiksenet commented on #11710
Should be fixed in 2.1.1

[2019-02-14 12:26] #11710 closed

[2019-02-14 12:28] acewf commented on #5572
hi @jaymdq

created a gist copied from my project, you will need to install `gatsby-i18n`
<script src="https://gist.github.com/acewf/e7f183a0cbc38b6dcd6581bdc10ed9ee.js"></script>

[2019-02-14 12:30] pieh commented on #11755
This is currently possible - see https://github.com/gatsbyjs/gatsby/issues/10328 and linked resources from there (youtube video is almost one year old, and issues that author of that vid shown should be fixed).

You would need to have development server running and publicly accessible with refresh hook enabled and confiugre your contentful space to trigger gatsby webhook on data changes.

[2019-02-14 12:35] universse opened #11766 "Question about gatsby queries"
I am just curious how data from page queries and static queries are stored client-side. Say I have the exact same queries in different pages/components, are the data shared between those pages or the browser needs to download the data separately for each page/component. And what about cases where I run multiple queries in a page, in which one queries data without page variables while others query

[2019-02-14 12:38] pieh commented on #11756
We don't automatically scope styles, so they are always global. Workaround (that you might have used) is to add scoping on your own - i.e.:

[code]

and add `template-X` class to top level html element in your template

[2019-02-14 12:40] leworking commented on #11760
No, but I'm trying to use `graphql` to retrieve data from an **external** api. Maybe all I need is to import `graphql` and use it as usual?

[2019-02-14 12:42] pieh commented on #11738
@tudor-ghiorghiu I think this is also hydration problem, but given that you removed all of the plugins (so no `gatsby-plugin-offline`) it's unrelated to this issue. Can you create separate issue (ideally with reproduction - link to repository that will allow us to reproduce and give you answer more specific to your case)

[2019-02-14 12:44] pieh commented on #11766
We currently don't optimize results of queries like that. It's just one .json file with query results for each page

[2019-02-14 12:45] pieh commented on #11766
But if we were to do something like that, we would definitely try to match queries exactly so if one query used some arguments (sorting/limiting/filtering) it would be different than query not using them or using different arguments

[2019-02-14 12:47] marcuslindfeldt commented on #11755
Cool! Thank you for this! I had no idea this existed.

[2019-02-14 12:47] #11755 closed

[2019-02-14 12:48] pieh commented on #11766
So right now, it's up to user to "optimize" queries. If in page/template query you have queries that don't use parameters/variables - it's probably good opportunity to move them to [`StaticQuery`](https://www.gatsbyjs.org/docs/static-query/) / [`useStaticQuery`](https://www.gatsbyjs.org/docs/use-static-query/) - because then data won't bu duplicated for each page query results

[2019-02-14 12:58] stephanschubert commented on #633
@zacharymctague I don't remember where I got it from but that's how I did it:

[code]

@msachi's approach looks nice though.

[2019-02-14 13:26] ChildishhAlbino commented on #11756
Thanks for answering my question. I wasn't expecting this

From what I understand of your workaround, it would work as long as the element I was trying to change the background of was inside of the top level HTML object on my page.

Unfortunately my problem occurs because both stylesheets are changing the background of the body element. My workaround involved changing the background of a div and m

[2019-02-14 13:30] pieh commented on #11756
Ah, yeah if you have rules applying to elements above "page" component then my suggestion wouldn't work. I think your workaround is best solution here.

What we would need to do is to load/unload styles, but we currently are not in charge of it - this is all handled by webpack runtime :(

[2019-02-14 13:30] pauleveritt commented on #11151
I think I'll take the advice from @KyleAMathews and implement my own source plugin which watches for frontmatter changes, finds each end of each relationship, and calls utils/source-nodes.sourceNodes, similar to how the the /__refresh API works: https://github.com/gatsbyjs/gatsby/blob/45a8f09554b20a02f9c83e57272b7fb1721500b7/packages/gatsby/src/commands/develop.js#L129

It means learning Chokidar,

[2019-02-14 13:37] iakovosvo opened #11769 "Layout components best practices"
Can someone recommend a good approach for customizing layout components with Styled Components? I am trying to decide whether I should have one big layout component on which I will conditionally render children using the location pathname to each own layout tags or have separate layout components for each page.

For example for my index, contact and about section I can use the main Layout componen

[2019-02-14 13:49] pieh commented on #11761
I've tried to reproduce using our [`using-redux`](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-redux) example as a base - https://github.com/pieh/redux-helmet

And react-helmet definitely can consume data from redux store for static html render.

![screenshot 2019-02-14 at 14 44 53](https://user-images.githubusercontent.com/419821/52790593-3fb37100-3067-11e9-8f7b-e8691a8381de.png)

[2019-02-14 13:59] pieh commented on #11769
It might depend on how much your layout changes - if those are subtle changes then single layout is ok. But I would advise not to use location, but instead pass prop from page component:

[code]

That way your pages control which layout exactly is used and you don't need to rely on location to pick correct one.

If you changes are vast then creating separate layout components make sense - it would

[2019-02-14 14:05] pieh commented on #11151
This is a bug in gatsby. We don't add dependency here - https://github.com/gatsbyjs/gatsby/blob/94a80b798d50f03f60e560946cec57ff9e1bc3d4/packages/gatsby/src/schema/infer-graphql-type.js#L179

[2019-02-14 14:32] cezarcarvalhaes commented on #10954
Sorry for leaving this out in the ether. I created a minimal reproduction of the scenario, and was unable to reproduce the error, so there's likely something else is going on. I'm going to go ahead and close this as I don't have enough free time currently to fully debug, but will circle back.

[2019-02-14 14:32] #10954 closed

[2019-02-14 14:33] pauleveritt commented on #11151
@pieh Thanks for the pointer. Should I change this ticket to be specific to dependencies and mappings? Then perhaps make a new ticket about reverse relationships not doing 1:N?

[2019-02-14 14:34] Jornve commented on #11761
@pieh Thanks for your response. I've added you to the project on Gitlab so you can have a look. Meanwhile I've tried many things including removing html.js file, added the code of the plugin directly into gatsby-ssr.js but nothings works.

I hope you can find some time to take a look and investigate this.

[2019-02-14 14:42] josefaidt commented on #10428
Hi all, after much trial and error getting a similar setup running I noticed without declaring `gatsby` in the root package.json file gatsby sites in a monorepo will not run - failing resolving modules such as `gatsby/graphql` and `gatsby-plugin-react-helmet`.

I have a whole issue typed up but figured I could tack on to this issue. I did not notice this note in the documentation, and was wonderin

[2019-02-14 14:57] inlet commented on #11710
Now it throws a different error:

[code]

See terminal tab: https://codesandbox.io/s/431j121929

[2019-02-14 15:06] pieh commented on #11761
Got invite, but I doesn't seem to have access to actual code (have access to wiki / issues / members etc)

[2019-02-14 15:08] Jornve commented on #11761
@pieh Now you should have access, my bad!

Thank for taking time for me :)

[2019-02-14 15:08] pieh commented on #11761
Ok, now I see it ;)

[2019-02-14 15:22] kylefraser commented on #11747
We've run into an issue where, when we've added images via a rich-text, we've had to delete the `.cache` folder in order to query additional properties with GraphQL on the embedded asset.

For instance, we've added images, re-started the dev server, and were still unable to query image properties like

[code]

deleting the `.cache` folder, solved this for us.

[2019-02-14 15:26] apmsooner commented on #11696
Yeah we're on the same page and agree with you on not restricting request by param as it would cause issues between different entity types. Your design proposal seems like a really good solution.

[2019-02-14 15:32] pieh commented on #11151
Yeah, we would need separate issues for:
 - dependency thing (which cause queries not to rerun on author frontmatter changes)
 - back references from mapped fields
Really up to you how you want to split this issue

[2019-02-14 15:37] pieh commented on #11760
Ah!
Then yeah. You need to have your own graphql client. There are few examples of this:
 - we do it on gatsbyjs.org site (to get extra data from github graphql api - https://github.com/gatsbyjs/gatsby/blob/master/www/gatsby-node.js#L26-L33 + https://github.com/gatsbyjs/gatsby/blob/master/www/gatsby-node.js#L572-L587)
 - gatsby-source-shopify does this too https://github.com/gatsbyjs/gatsby/blob/m

[2019-02-14 15:42] pieh commented on #11524
@Jivings can you update gatsby and gatsby-plugin-offline package? this happens when you make new build but resources from previous are no longer available (so html cached by offline plugin tries to use not available resources). In newer gatsby/offline packages versions we added reload after service worker updates to not leave site in unusable state

[2019-02-14 16:33] leworking commented on #11760
Yes, that's it, thanks a lot :)

[2019-02-14 16:33] #11760 closed

[2019-02-14 16:36] DSchau commented on #10300
Looks like this should've been closed a while ago :) Closing out--thanks!

[2019-02-14 16:36] #10300 closed

[2019-02-14 16:37] AndrewFedor commented on #9899
Hey all, just to chime in since I was trying to debug this same problem and searching Stack Overflow. I don't think it's related to Gatsby. I found the culprit, a Chrome extension called Color Contrast Analyzer. Disable and it should disappear.

![image](https://user-images.githubusercontent.com/7341177/52801967-965b8380-3044-11e9-80d9-668f31e83fee.png)

[2019-02-14 16:46] leworking opened #11772 "To get `createContentDigest` do I need to be inside `sourceNodes`?"
If I want to create a node outside the `createNode` hook, I (think I) can by extracting the function from `actions`, for example inside the `createPages` hook

[code]

But then, I cannot get the helper `createContentDigest`, as I am not in the `sourceNodes` hook

[code]

Is that right?

[2019-02-14 16:57] zslabs commented on #11368
@stefanprobst Thanks! Hadn't had a chance to confirm, but things do appear to be working correctly now - thanks!

[2019-02-14 17:19] lettertwo commented on #11727
I managed to temporarily hack support for artificially limiting parallelism in Gatsby build on CircleCI. In case this is useful for anyone else who finds themselves googling for a way to keep Gatsby and CircleCi playing nicely, here is what i did:

Added a small module that will inject the value of `GATSBY_CPU_COUNT`, if it is defined, rather than using the physical CPU count:

[code]

Configured

[2019-02-14 17:27] #9027 closed

[2019-02-14 17:27] #9796 closed

[2019-02-14 17:27] #10015 closed, assigned to nobody

[2019-02-14 17:27] #10078 closed

[2019-02-14 17:27] #10099 closed

[2019-02-14 17:27] #10100 closed

[2019-02-14 17:27] #10163 closed

[2019-02-14 17:27] #10172 closed

[2019-02-14 17:37] vacas5 commented on #11747
I abstracted a lot of functions utilized inside my `sourceNodes` function into a separate file. Changes made in that file were not detected by cache busting, and so any time I changed the code in my abstracted file, I would have to clear the cache manually. Any way that Gatsby could detect changes in required files within `gatsby-node.js` would be advantageous to my use case.

[2019-02-14 17:57] leworking opened #11774 "Communicating between `createPage` and the `template`, how?"
When creating pages with templates, the way the docs guide us (AFAIU) [here](https://www.gatsbyjs.org/docs/creating-slugs-for-pages/) is that by creating a page with context, we'll be able to retrieve this context when on the template file.

But the key is here:

[code]

so that anything that you add here (from [docs](https://www.gatsbyjs.org/docs/programmatically-create-pages-from-data/)):

[code

[2019-02-14 18:15] leworking commented on #11774
I think I have it, you can ([docs](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/)) directly extract the context in the template

[code]

and from there you have the info you've passed before in `gatbsy-node.js` (like `pageContext.html`)

[code]

[2019-02-14 18:15] #11774 closed

[2019-02-14 18:23] Undistraction commented on #11453
This was a really weird one that was actually caused by gatsby-plugin-remove-trailing-slashes. I don't fully understand the cause, but it caused other issues as well, including issues with history and the backbutton.

[2019-02-14 18:23] #11453 closed

[2019-02-14 18:27] rjhilgefort commented on #9899
I don't have that extension and the same issue occurs when I'm in incognito mode, as well as on iOS Safari

[2019-02-14 19:30] sidharthachatterjee commented on #10967
This is resolved now since `eslint-config-react-app` was published 4 days ago. Updating `gatsby` should get rid of the warning.

[2019-02-14 19:30] #10967 closed

[2019-02-14 19:44] aesthytik commented on #11769
Yeah like @pieh said. Depending upon your extent of changes between your pages you can have separate layouts. If changes are minor simply passing props from each page is a great choice :)

[2019-02-14 19:47] jonniebigodes commented on #11742
@pieh let me start by apologizing for the hasty and rather short description for the question.

With that out of the way i'm going to elaborate on the topic.

In order to expand the documentation for client side search coupled with js-search located [here](https://www.gatsbyjs.org/docs/adding-search-with-js-search/#adding-search-with-js-search), i took on the task to expand it. It was built based

[2019-02-14 19:59] thefrontendwizard opened #11778 "Should the gatsby-default-started have a ESlint + Prettier config by default?"
I'm starting out with GatsbyJS and the default started is pretty great, but I find myself having to setup the eslint everytime I start a new gatsby project. Should gatsby-default-started have a default config with the react and prettier plugins by default, since it is strongly recommended for everyone?
I do understand that the default started should be a no brainer and no opinion started for every

[2019-02-14 20:04] #8583 closed

[2019-02-14 20:18] johntran commented on #9352
I'm evaluating Gatsby in a monorepo environment. I found this issue through a Google search. Thank you for doing a writeup on it :).

[2019-02-14 20:29] josefaidt commented on #11778
IIRC Gatsby ships with a small (internal) ESLint file, and I thought it used to come with a Prettier dotfile. I may be wrong, though. I wrote the [doc](https://www.gatsbyjs.org/docs/eslint/#eslint) for using ESLint with Gatsby but I think I may need to revisit it at this point.

I agree, including those dotfiles in the default starter would be beneficial.

[2019-02-14 20:41] josefaidt opened #11780 "Gatsby fails resolving node_modules in monorepo"
## Description

When using a monorepo with lerna and Yarn workspaces I am attempting to set up multiple, different Gatsby sites under a `./starters` folder (from scratch *or* using the cli), and they will all use a shared component library under `./packages` folder. The issue seems to be affecting Gatsby itself and how it resolves packages.

I am able to use my existing React stack setup in the sa

[2019-02-14 20:46] pieh commented on #11742
Thanks for taking time to write this up. I'm not really person that can answer that (I have same questions myself all the time heh), but I will try to summon @marcysutton :)

Just my personal though process (don't take it as official Gatsby answer :) ):

For this particular case, just thinking about audience that would read `js-search` docs:
 - People who have setup Gatsby site already and want to

[2019-02-14 20:49] aamorozov commented on #9310
It is an existing issue
[code]

[2019-02-14 20:55] josefaidt commented on #11780
Actually this may be my environment. When running `yarn workspace gatsby add gatsby-transform-json` the dependency gets added to the correct `package.json` but the dependency does not actually get installed.

Does anyone have any insight to why this may be happening?

[2019-02-14 21:02] KyleAMathews commented on #11778
Gatsby ships an eslint config internally that uses the same ruleset as CRA.

For Prettier, we used to have it but it was removed recently for reasons unclear to me. Perhaps we should add it back?

[2019-02-14 21:08] DSchau commented on #11778
👋

Yup - my doing on this one. See gatsbyjs/gatsby#11285 for more info on that.

So, two things here:

1. eslint should probably stay removed (it was only in the blog starter, and for little benefit)
2. Adding back prettier probably makes sense

On 2. we removed it to simplify the starters and because generally it's very easy to add it back yourself. That being said--I do see the value of baking i

[2019-02-14 21:17] jonniebigodes commented on #11742
@pieh no problem at all, i was kinda in a hurry when i wrote it and i'm the one that should be thankful for the heads up to clarify the issue and the feedback.

Now to the issue at hand, you basically you enumerated my thought process for this, at the lack of a better definition this looks like a bit of a "catch 22" situation, but i'll leave it to @marcysutton for a better clarification on how to

[2019-02-14 21:19] johntran commented on #9352
I did find this Gatsby blog entry about monorepos on Lerna. I am thinking that if its on the official blog, it means its officially supported.

https://www.gatsbyjs.org/blog/2019-01-01-publish-multiple-gatsby-sites/

[2019-02-14 21:41] fk commented on #6896
Not stale!

[2019-02-14 21:46] josefaidt commented on #11778
@DSchau I may hop on this tonight. Should the prettier config from gatsby's project root be used for this?

[2019-02-14 21:50] zslabs commented on #9310
I'm also seeing the same error as noted above using the Google Tag Assistant, but I'm wondering if the extension may be getting tripped up with the site using pushState? Because while I am seeing two inclusions:

[code]

[code]

They look like distinctive calls and have only one inclusion of each snippet.

[2019-02-14 22:01] DSchau commented on #11778
@josefaidt yeah - that seems reasonable. May want to pull back some of the more opinionated ones (e.g. `semi`, `trailingComma`, etc.), but otherwise I think that's a fair starting point.

[2019-02-14 22:12] thefrontendwizard commented on #11778
I'd love to contribute on this one too if that's ok, it sounds like a good first issue for those who did not contributed to the codebase yet. :)

[2019-02-14 22:13] DSchau commented on #11778
That'd be great! Whoever does take it just make sure to make a comment here when you start so that we don't double up work here.

Thanks!

[2019-02-14 22:14] fk commented on #11329
Hey @trepidacious (and everyone)! Thanks for opening this issue and your detailed description!

I hear you (and everyone 😉) loud and clear. I agree that `using-gatsby-image` is not a minimal example, and that we need the latter (looking at #9374 makes me want to add "in one form or another").

@jlengstorf's outline for the potential new part in the tutorial looks great, https://github.com/gatsbyjs

[2019-02-14 22:15] thefrontendwizard commented on #11778
Sure. I'll wait for @josefaidt 's input on it cause he has the priority since he claimed it first. If he is ok with me taking it, I'll gladly do it. 😃

[2019-02-14 22:44] jbolda commented on #11076
Perhaps [Ink](https://github.com/vadimdemedes/ink/blob/next/readme.md) then?

[2019-02-14 22:51] rogermparent commented on #11368
@stefanprobst I just threw together a minimal repo showcasing the problem, and in the process made a few discoveries.

 - A regularly added and inferred Date field on a custom node can be sorted on totally fine.
 - A Date string added by setFieldsOnGraphqlNodeType will be allowed to run, but no sorting will be done.
 - An actual Date-type field added by setFields will not be added to the enum, and

[2019-02-14 23:32] josefaidt commented on #11778
@thefrontendwizard by all means! I will work on updating the ESLint doc. Just keep the name `.prettierrc` and I'll be good - I'll be referencing that in the doc

[2019-02-14 23:56] josefaidt commented on #11778
to add on to the comment regarding the opinionated Prettier rules, I thought we could provide all the default rules. That way they're front and center to edit, as well as not show any bias

[2019-02-15 00:04] darcyrailip commented on #9899
Also experiencing this without the `Color Contrast Analyzer` Chrome extension. Note that for me, the error reproduces on mouse events: `move`, `click`. Otherwise, the number of errors does not increase.

[2019-02-15 00:33] thefrontendwizard commented on #11778
Ok. I'm filling in the `.prettierrc` with the defaults mentioned in the docs.

[2019-02-15 00:35] thefrontendwizard commented on #11778
I do feel like we could start with the same config made by the project, even with opinionated ones, as long as we point that out on the docs. Specially the `trailingComma: "es5"`, which seems to be the most used option lately.

[2019-02-15 00:44] engmagdy87 opened #11784 "gatsby build failes: WebpackError: TypeError: Cannot read property 'item' of undefined"
## Description
Build process failed

### Steps to reproduce
I'm in **Home page**, when i click on image, i'll be redirected to **Details page** with state in `gatsby link`

**Home page**
`<Link
                key={item.node.id}
                to="/details"
                state={{
                  item: item.node,
                }}

                <ImgWrapper
                  fluid={item.nod

[2019-02-15 00:49] patricksimonian commented on #11109
Nothing so far, i still get it inconsistently. One thought is that it is perhaps tied to switching branches in git. The `.cache` folder is ignored and so perhaps mixing those up is causing this issue. As i mentioned before, however, my work around of deleting the cache has been __working great__ so far.

[2019-02-15 00:55] thefrontendwizard commented on #11778
One point for this is the style already adopted in the few lines of code both in the `default` and on the `blog` started.

[2019-02-15 01:00] marcysutton commented on #11742
Hi there! After looking at the current sidebar, I think it makes a ton of sense to add another page for "Adding search with GraphQL". That would give people more choice of how to develop a search feature. A new GitHub issue would be a great place to start. Does that answer your question?

[2019-02-15 01:20] johno opened #11785 "Guide plugin authors to write source plugins that correctly interact with the cache"
This is related to #11747 as an isolated, reproducible case of caching issues.  cc/ @pieh @DSchau

## Description

Numerous plugins in the ecosystem aren't interlinking a node and the parent on `onCreateNode` which causes nodes in the cache to suddenly go missing. I stumbled across this issue working on a proof of concept with `gatsby-source-instagram-all` but I'm sure this affects plenty of other

[2019-02-15 01:40] KyleAMathews commented on #11785
Oh interesting! Yeah, not setting a parent in onCreateNode when creating a node is a definite no no. I'm struggling to think of when that'd ever actually make sense... if we can't think of any, we should just hard error there (or maybe warn initially to not break people's sites).

[2019-02-15 01:40] josefaidt commented on #11778
That is a good point, I'll update the eslint doc to reflect that

[2019-02-15 01:42] KyleAMathews commented on #11785
Another thing we could check for is if all (or most, say 80%+) or a plugin's nodes are deleted startup due to being stale. That'd be easy to calculate and again should be extremely uncommon so we could issue a strong warning that the plugin probably has a bug.

[2019-02-15 01:44] pieh commented on #11785
Screenshot transformer does that - in very similar way as linked plugin (because both use `createRemoteFileNode` that doesn't set parent). The difference is screenshot plugin also touches those file nodes so they don't get garbage collected. We definitely need to add ability to set parent to `createRemoteFileNode` helper.

[2019-02-15 01:53] KyleAMathews commented on #11785
Ah yeah, ok so it's a weakness in the helper. Oh and we also shouldn't then delete nodes that are linked to from other nodes 🤔

That's the real problem. File nodes don't need a parent. They just need not deleted. If I'm remembering the stale node algorithm correctly, we only check for parents.

[2019-02-15 02:12] pieh commented on #11784
You won't have `location.state` in html builds, so to avoid errors during the build you would need to add check to see if it's truthy:

[code]

But there are also other issues with passing data like that through history/location state:

If you visit your Details page directly (without clicking link from home page or when using "open in new tab" option) it will also crash in browser.

So instead of

[2019-02-15 02:15] KyleAMathews commented on #11785
This is a pretty major bug. The stale collection stuff is our GC step but since we're not collecting all references, we're deleting too much.

https://github.com/gatsbyjs/gatsby/blob/7d31fe75f8d73bb52e7f10384033429bafbc8186/packages/gatsby/src/utils/source-nodes.js

I'm not sure though how to cheaply find ___NODE references since recursing through every node would be very expensive.

[2019-02-15 02:25] pieh commented on #11785
Not ideal, but we do recurse through each node when we produce example value for schema inference. But using that has potential to easily introduce regressions when changing seemingly unrelated code.

I honestly am not sure we should do that (shield ___NODE linked nodes from being garbage collected) - especially with `onCreateNode` callback that is really uniquely fitting for transformer plugins.

[2019-02-15 02:31] universse commented on #11766
Thanks for the clarifications.

[2019-02-15 02:31] #11766 closed

[2019-02-15 02:38] KyleAMathews commented on #11785
Hmm thought of a cheap way to do the fix. Just track which nodes are created in onCreateNode from which node. This would be an implicit parent/child relationship even if the data wasn't modeled that way. We could wrap the createNode action to save this. Then in the GC step, we could do a deep search on the remaining parent nodes for links.

[2019-02-15 03:48] sirojinadias commented on #11507
Similar problem :
`npm WARN deprecated circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its successor.
npm WARN eslint-plugin-graphql@2.1.1 requires a peer of graphql@^0.12.0 || ^0.13.0 but none is installed. You must install peer dependencies yourself.
npm WARN express-graphql@0.6.12 requires a peer of graphql@^0.10.0 || ^0.11.0 || ^0.12.0 || ^0.13.0 but none is installed. You

[2019-02-15 05:54] TylerBarnes commented on #11687
@thundernixon install `gatsby-plugin-transition-link@1.5.1` for a fix!

I've changed out the way the pages are overlapping each other so please let me know if you run into any odd side effects. From my testing everything seemed great but there may be edge cases.

[2019-02-15 05:54] #11687 closed

[2019-02-15 07:02] david-nossebro commented on #10795
I am working on a pull-request.

[2019-02-15 07:11] tylermcrobert commented on #10394
@braco do you keep your pages/index.js file?

[2019-02-15 07:31] LekoArts commented on #7642
Not stale

[2019-02-15 07:59] mattwexa commented on #9836
Hi, we still have the issue. How do we go from here? Should we try to add the locale option and then open a PR with these changes?

[2019-02-15 09:06] thefrontendwizard commented on #11778
Ok. We can say something like: "Hey, this is how we like our codebase to be. If that's not your jam, tweak it out on `.prettierrc`". It's easier than ask it to create one and then point it out to prettier docs. Prettier by itself is already opinionated, so there's no point trying not to be. The good thing is that prettier does not get in your way, it does the boring part for you.
That said, this s

[2019-02-15 10:06] Siilwyn commented on #9959
Just picked up Gatsby again to take a look at this, my goal with this issue is using graphql queries in components without using JSX. Now that `useStaticQuery` is out it solves this goal! I'm fine with closing this. :)

[2019-02-15 10:06] #9959 closed

[2019-02-15 10:24] franksmule commented on #11604
Same issue although for me - although 1.0.7 does not work either.
I needed to add a fallback window load listener to the domready lib.

[2019-02-15 10:55] anicolaides commented on #9580
Although this is not a solution to the issue, as of Gatsby v2.1.0, `useStaticQuery` can be [used](**https://www.gatsbyjs.org/docs/use-static-query/**).

Instead of using this design pattern:

[code]

One may use the following:
[code]
Much cleaner as well :).

[2019-02-15 11:47] wardpeet commented on #11778
I'm a big fan of lint-staged. I think it might make the setup a bit more difficult from a beginners point of view. Like yikes, I can't commit! 😠 (not all IDEs tell you why you can't commit).

[2019-02-15 12:11] pieh commented on #11772
This helper should be passed to every gatsby-node API (same with `createNodeId`). So you should have access to it in `createPages`.

That said creating nodes in `createPages` (or other, non `sourceNodes` / `onCreateNode` APIs) is dangerous, because we create graphql schema in 2 places right now:
 - after `sourceNodes`, so you can use `graphql` queries in `createPages` to grab data and create pages

[2019-02-15 12:14] jedrichards commented on #9352
@johntran Oh interesting, ty for the blog link! 👀

[2019-02-15 12:34] thefrontendwizard commented on #11778
yup, that makes sense. It could be in the docs though, as a recommendation.

[2019-02-15 12:36] engmagdy87 commented on #11784
thx @pieh

[2019-02-15 12:36] #11784 closed

[2019-02-15 12:40] Jornve commented on #11761
Hi @pieh, did you found some time to take a look at our code? I have no clue what could be wrong and am hoping you could point us in the right direction to solve this issue :)

[2019-02-15 13:07] pieh commented on #11761
Yesterday I did pull the code, and definitely could reproduce it. I couldn't find apparent reason yet. And I just made few notes for myself to when I have more time to investigate this more in depth:

[2019-02-15 13:20] wardpeet commented on #9139
The PR got merged :)
should be fixed in next release.

[2019-02-15 13:20] #9139 closed

[2019-02-15 13:34] pieh commented on #11730
Can you try deleting `node_modules` and reinstalling them? You also shouldn't need to install `graphql` package yourself (please try removing it from package.json before reinstalling dependencies).

[2019-02-15 13:52] josefaidt commented on #11778
There's a [doc](https://www.gatsbyjs.org/tutorial/part-zero/#install-the-prettier-plugin) that goes over setting up Prettier + VSCode

I think it would be beneficial to add another script to the default starter that runs Prettier, then in the ESLint doc I can reference that script saying "modify this script to use ESLint..." or something.

[2019-02-15 13:54] cbetta commented on #9357
I am seeing the same thing. Did this ever get resolved?

[2019-02-15 13:58] petermunro commented on #9281
Just leaving this here in case it helps anyone else. I had the same problem, with `allDirectory` and `directory` appearing in GraphiQL, but not `allFile` or `file` on node v11.9.0 and MacOS 10.14.2. I did a `touch src/data/foo.mdx`, restarted `npm run develop` and they appeared.

[2019-02-15 14:00] wardpeet commented on #10242
@daydream05 thank you for starting on this PR. We finally got it merged!

[2019-02-15 14:00] #10242 closed

[2019-02-15 14:09] thefrontendwizard commented on #11778
something on the lines of
[code]
?

[2019-02-15 14:16] josefaidt commented on #11778
Yes just use the prettier script, though. The ESLint doc integrates Prettier with ESLint so the user will be modifying that script.

Something like this?

- default starter: `"prettify": "prettier --write src/**/*.{js,jsx}"`
- ESLint doc:

[code]

Do yall think the ESLint doc should have instructions for integrating with VSCode? Since there's a doc for Prettier about it and ESLint will replace Pre

[2019-02-15 14:25] thefrontendwizard commented on #11778
ESLint will replace Prettier? They are not mutually exclusive. Prettier deals with style and only that. The ideal setup would be to use both ESLint and Prettier.

[2019-02-15 14:26] josefaidt commented on #11778
That's my bad not replace Prettier, integrate with it. It'll use Prettier for the formatting

[2019-02-15 14:27] thefrontendwizard commented on #11778
I'll add the `prettify` script on my PR.

[2019-02-15 14:28] KyleAMathews opened #11793 "Warn when markdown parsing fails"
gatsby-transformer apparently doesn't warn when markdown parsing fails

https://twitter.com/jamischarles/status/1096285340610945024?s=19

[2019-02-15 14:30] thefrontendwizard commented on #11778
As for the instructions to integrate ESLint with VSCode, I believe that we should indeed have the instructions on the docs.

[2019-02-15 14:30] josefaidt commented on #11778
Cool, I'll update it once I get home this evening

[2019-02-15 14:31] pieh commented on #11793
We have this error - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/on-node-create.js#L66-L73

But this won't be shown on subsequent run (because `onCreateNode` is not called)

[2019-02-15 14:35] josefaidt commented on #11780
I've exhausted myself trying to figure this one out. I don't think this has to deal directly with Gatsby or its package, but I do think it's odd that I'm having issues with only a handful of plugins. The bulk of the issue has been resolve by adding `gatsby` as a dependency in the project root (not sure why).

The plugins I am having issues with:

- gatsby-transformer-json
- gatsby-transformer-rema

[2019-02-15 14:38] josefaidt commented on #9352
Hi I just found this issue after updating my own issue regarding Gatsby in a monorepo with lerna. The way I got gatsby to work was to add it as a dependency in the project root!

See #11780

Unfortunately I'm having issues with a small handful of plugins, but other than that Gatsby *does* work in a monorepo

[2019-02-15 14:40] inlet commented on #11710
Any pointers why this happens?

[2019-02-15 14:49] jedrichards commented on #9352
@josefaidt Have a look at my working example repo. You might need to use `nohoist` on Gatsby:

https://github.com/jedrichards/monorepo-test/blob/master/gatsby-app/package.json#L38-L40

[2019-02-15 14:53] josefaidt commented on #9352
Yes I just jumped into that repo and saw that `"workspaces": { "nohoist": ["gatsby"] }` line. That's really clever, I didn't realize you could do that. I'm going to try this with those other plugins I'm having issues with and see if that resolves it.

[2019-02-15 14:57] thundernixon commented on #11687
@TylerBarnes Awesome, thanks! I'll keep you posted if I run into anything odd.

[2019-02-15 15:00] pieh commented on #11780
This is very weird, because folks working on some features use yarn workspaces quite often and didn't seem to hit problems with it. It seems like workspaces isn't correctly installing deps and setting symlinks? Maybe issue lies with `yarn` itself not correctly setting this up? Did you try updating/downgrading it? Also did you try to verify how `node_modules` in site itself look like - do they have

[2019-02-15 15:04] Alfrex92 opened #11794 "Svg images as props"
Hi, I've got a question how can I send SVG images as props?

If I do this I can display the image without any problem.

[code]
But I can't display an image as a prop like this :

[code]
Any idea of how can I display images as props?

Thanks

[2019-02-15 15:21] pieh commented on #11794
Are there any errors? Either in terminal running `gatsby build/develop` or in browser? What is result of using your second code snippet?

[2019-02-15 15:25] jariz opened #11796 "PageRenderer missing from typings"
## Description

The PageRenderer component is missing from the TS typings.

### Steps to reproduce

[code]
### Expected result

N/A

### Actual result

N/A

### Environment

N/A

[2019-02-15 15:26] ergunpp opened #11797 "Page Component with static query, location is undefined"
I have a page component with a static query, everything works fine except for the location prop, which remains undefined. This is my page code:

[code]

I am obviously missing here something, would appreciate help.
Thanks in advance!

[2019-02-15 15:37] DSchau commented on #11797
@ergunpp good question!

So the issue here is that `location` is injected into the page component, not the render prop of StaticQuery. So to fix this issue, we just need to do a little re-arranging.

Here's what your page should look like!

[code]

Going to close this as answered, but please feel free to reply if we can help further and we'll get it re-opened.

Thanks for using Gatsby!

[2019-02-15 15:37] #11797 closed

[2019-02-15 15:39] Alfrex92 commented on #11794
I'm getting this HTML

`<img src="ihtml" alt="">`

[2019-02-15 15:41] pieh commented on #11796
Would you be interested and adding those in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/index.d.ts

For reference this is the component

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/public-page-renderer-prod.js

So it only have `location` prop

[2019-02-15 15:42] jariz commented on #11796
Thanks. I'll file a PR shortly.

[2019-02-15 15:44] pieh commented on #11796
`location` should have normal `Location` shape (https://developer.mozilla.org/en-US/docs/Web/API/Location). We mark just `pathname` as required, but there is bunch of other optional fields that can be passed (and used by the referenced page template component), so if there is ready to use `Location` typing - this is what we should use.

[2019-02-15 15:46] wardpeet commented on #11778
so cool 😎 that you guys are collaborating so well! ❤️

I don't have an immediate opinion on what to call the script ^^

[2019-02-15 15:49] jariz commented on #11796
reach-router exports a `WindowLocation` type which differs slightly from the default location object because it has a couple of historyjs-specific keys added to it (like 'state'), so I was figuring I'd use that - if that's OK.

[2019-02-15 15:50] DSchau commented on #11778
It was previously called `format` so I'd recommend that again :)

And echo'ing @wardpeet's comments above. Nice work thus far everyone!

[2019-02-15 15:51] josefaidt commented on #11780
I agree this is very odd, and I thought I set everything up to the spec. I'm removing lerna from the equation to see if the issue persists. The dependencies weren't being installed at all. They are added to the root's lockfile and the package's package.json file, but the package was nowhere to be found in any `node_modules` folders.

I'm going to play around with this some more after learning abou

[2019-02-15 15:51] ergunpp commented on #11797
Thank you so much! It worked like a charm!

[2019-02-15 15:53] josefaidt commented on #9352
@jedrichards how are you able to get this to work?

[code]

I tried adding this to my workspace and then yarn wouldn't pick anything up until I made it back to an array. I was originally following this piece from the [yarn documentation](https://yarnpkg.com/lang/en/docs/workspaces/#toc-how-to-use-it) where it claims workspaces should be an array.

That being said I cloned your repo and installed t

[2019-02-15 15:57] anisrehan commented on #9899
I am facing the same issue, just the difference is that the count keep on increasing in milliseconds and never stops even at 400K.
![image](https://user-images.githubusercontent.com/3822138/52868087-34923b00-3164-11e9-8206-893bd88899bb.png)

![image](https://user-images.githubusercontent.com/3822138/52868109-4247c080-3164-11e9-87c4-4fa04499fd0a.png)

[2019-02-15 15:57] DSchau opened #11798 "[feat]: warn when processing overly large images with gatsby-plugin-sharp"
## Summary

Images tend to be a key determinant in build-times growing exponentially large. In particular, overly large images processed in memory tend to put undue and unnecessary strain on the build process.

If these images are resized and optimized _before_ processing, there are drastic improvements in build time and build performance (e.g. sometimes even resolving out of memory issues).

With

[2019-02-15 15:59] jedrichards commented on #9352
@josefaidt I think just `["*"]` means yarn will treat any folder in the root as a workspace, i.e. using the `*` wildcard. So the packages in my example repo are at the top level `/gatsby-app` and `/components`. I think you're packages _need_ to be at the top level for that to work.

[2019-02-15 16:04] benhartouz commented on #4486
(`npm logout`). It worked for me :)

[2019-02-15 16:12] jamischarles commented on #11793
Here's the repro case. I also found this very tricky to debug. There were no obvious errors, and graphiql showed that the node existed, but the page didn't exist.

Repro case:

**Fails silently (due to newline at beginning of file)**
[code]

**Works fine**
[code]

![gatsby-md-failure](https://user-images.githubusercontent.com/606014/52868923-be5cec80-3101-11e9-9d4e-677144ccedd9.gif)

[2019-02-15 16:16] josefaidt commented on #11778
I like `format` a lot!

[2019-02-15 16:29] festiveox opened #11799 "TypeError: Cannot read property 'split' of null at createErrorFromString, or for v1 building HTML fails without throwing an error on the console"
## Summary

I didn't know where to write this so I will just do it here in case someone runs into the same issue.

I have been fighting Gatsby (1.9) for the last 2 days because it would build the CSS, and JS, but when it got to the HTML it would stop after a couple of seconds, skip, don't log any issue/error, and finish the build process without the HTML.

So this is when my journey started, I loo

[2019-02-15 16:48] KyleAMathews commented on #11793
Hmmm I couldn't reproduce this. I just tried creating the "bad" markdown file in gatsby-starter-blog and it just ignored the frontmatter.

<img width="740" alt="screenshot 2019-02-15 17 46 44" src="https://user-images.githubusercontent.com/71047/52871198-c9d40600-3149-11e9-9080-eda52aeb2c66.png">

[2019-02-15 16:48] ooloth commented on #9357
Not yet!

For the time being, I've been self-hosting webfonts using [google-webfonts-helper](https://google-webfonts-helper.herokuapp.com/fonts).

[2019-02-15 16:50] jamischarles commented on #11793
I used this starter. https://www.gatsbyjs.org/starters/alxshelepenok/gatsby-starter-lumen/

[2019-02-15 16:55] KyleAMathews commented on #11793
Ok, so the issue is that a new line at the beginning of a file means the frontmatter won't get parsed. Apparently that starter won't create a page or whatever unless there's valid frontmatter.

We could try to figure out a heuristic for saying a markdown file _looks_ like it has frontmatter (e.g. the second line does have the `---`) but that seems... problematic... there's lots of times markdown d

[2019-02-15 17:00] #11721 closed

[2019-02-15 17:14] wardpeet commented on #11014
Looks like this is fixed! Sweet thank you for your PR! @stmcallister
We really appreciate it!

[2019-02-15 17:14] #11014 closed

[2019-02-15 17:15] thefrontendwizard commented on #11778
Ook. I'll name it format and add `prettier` on `devDependencies`.

[2019-02-15 17:18] calcsam commented on #10526
Yep!

[2019-02-15 17:18] #10526 closed

[2019-02-15 17:22] thefrontendwizard commented on #11778
Just pushed an update on #11786 with the `format` script and prettier as a dev dependency.

[2019-02-15 17:25] KyleAMathews commented on #2114
This is how vue-cli does modern builds https://github.com/vuejs/vue-cli/blob/38efc032e5c0d5ab8dd74602c1fb100fef62d766/packages/%40vue/cli-service/lib/webpack/ModernModePlugin.js

[2019-02-15 17:27] #2968 closed

[2019-02-15 17:27] #5845 closed

[2019-02-15 17:27] #8503 closed

[2019-02-15 17:27] #9119 closed

[2019-02-15 17:27] #9536 closed

[2019-02-15 17:27] #10142 closed

[2019-02-15 17:27] #10188 closed

[2019-02-15 17:27] #10198 closed

[2019-02-15 17:27] #10205 closed

[2019-02-15 17:27] #10273 closed

[2019-02-15 17:27] #10282 closed

[2019-02-15 17:35] KyleAMathews commented on #11056
Why do you need complex redirect support in the browser? Generally you just want to load the site with the present URLs — people should then navigate within that structure. Redirects are just for old links which then gets redirected on the server to their new URL.

[2019-02-15 17:39] #11072 closed

[2019-02-15 17:46] danedavid commented on #11733
Guess this has been fixed in #11770. Hence closing.

[2019-02-15 17:46] #11733 closed

[2019-02-15 17:48] KyleAMathews commented on #9911
I published a fix for this where we're not code splitting CSS which should solve the problems y'all are facing. Please update to gatsby@2.1.3 and lemme know if you're still having troubles!

https://github.com/gatsbyjs/gatsby/issues/11072

[2019-02-15 17:48] #9911 closed

[2019-02-15 17:48] KyleAMathews commented on #1836
I published a fix for this where we're not code splitting CSS which should solve the problems y'all are facing. Please update to gatsby@2.1.3 and lemme know if you're still having troubles!

https://github.com/gatsbyjs/gatsby/issues/11072

[2019-02-15 17:48] #1836 closed

[2019-02-15 17:48] KyleAMathews commented on #9733
I published a fix for this where we're not code splitting CSS which should solve the problems y'all are facing. Please update to gatsby@2.1.3 and lemme know if you're still having troubles!

https://github.com/gatsbyjs/gatsby/issues/11072

[2019-02-15 17:48] #9733 closed

[2019-02-15 17:58] breadadams commented on #3067
Will try to get our site's dependencies updated to latest versions and give this another test... Please don't close yet 🙏

[2019-02-15 18:06] Knaackee commented on #11730
Sorry for not mentioned it, but i (off course) tried that.

My site is just a simple personal portfolio site.
I can make the repo public for review if you want @pieh

[2019-02-15 18:10] itmayziii commented on #11105
Just in case anyone else comes across this issue, I'm solving the problem with a combination of Nginx configuration and the [Gatsby remove trailing slashes plugin](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-remove-trailing-slashes).

On the Nginx side I'm redirecting all trailing slash versions to the non trailing slash version
This goes in my server block configuration

[2019-02-15 18:18] wardpeet commented on #11275
🎉  we have a winner! Your PR got merged!

[2019-02-15 18:18] #11275 closed

[2019-02-15 18:24] dustinhorton commented on #6654
@gatsbot Still an issue.

[2019-02-15 18:26] jerus1403 opened #11802 "I got this error when Gatsby Build breaks. Anyone has any idea?"
error Building static HTML for pages failed

See our docs page on debugging HTML builds for help https://gatsby.app/debug-html

   8 |  else
   9 |          root["lib"] = factory(root["@reach/router"], root["core-js/library/fn/array/from"], root["core-js/library/fn/array/is-array"], root["core-js/library/fn/is-iterable"], root["core-js/library/fn/json/stringify"], root["core-js/library/fn/map"], r

[2019-02-15 18:46] pieh commented on #11799
Do you have code causing this error in build publicly available so we could use it for reproduction + fix testing?

[2019-02-15 18:47] pieh commented on #11799
Ok, I see - it should be enough to copy `Error` component example (that misses variable declaration)

[2019-02-15 18:49] pieh commented on #11802
Can you try updating `gatsby` to latest? It probably won't fix the build but should at least point to a page path that cause the error so it's easier to find components potentially responsible

[2019-02-15 18:54] josefaidt commented on #11778
Cool, I'll be getting my updates in this evening :)

[2019-02-15 19:07] pieh commented on #10281
@phonoman you are right. We don't currently pull individual endpoints, we try to use listing endpoints (to limit amount of requests).

In this instance it seems like individual endpoint contains just same metadata as `meta` object on relationship tho. So instead of fetching those individual endpoints it seems (at least to me) that adding `meta` from relationship would be cheaper and would solve th

[2019-02-15 19:08] pieh commented on #10281
ohh, the `/view/view` endpoint has meta with:
[code]
So maybe you could look into this?

[2019-02-15 19:09] danoc commented on #11109
Hi! I'm also running into this issue.

In my case it fails when calling `findChildrenRecursively` on this node:

[2019-02-15 19:09] jerus1403 commented on #11802
Thanks Pieh. I did and it's spitting out where the problem is for me. Now I'm working on solving the problem.

[2019-02-15 19:10] danoc commented on #11109
(Closed by accident—Sorry!)

[2019-02-15 19:11] danoc commented on #11109
Hi! I'm also running into this issue.

In my case it fails when calling `findChildrenRecursively` on the `children` of this node:

[code]

I determined this by putting a `console.log` right before `const descendantNodes = findChildrenRecursively(node.children);` in `actions.js`.

Will debug a bit more.

[2019-02-15 19:22] efd1 commented on #11524
In my case, I changed an import from `import { Link } from './'` to `import { Link } from './Link'` (in my file `/components/footer.js`), and it did fix the error "Missing resources for /". It was a circular dependency I guess. But I don't know if it will fix yours.

[2019-02-15 19:22] pieh commented on #11730
That would be great @Knaackee!

[2019-02-15 19:28] danoc commented on #10506
For those stumbling upon this issue, check out https://github.com/gatsbyjs/gatsby/issues/11109 for more information.

[2019-02-15 19:32] festiveox commented on #11799
Yup! If you call that component in your code as a component <Error>Text</Error> Gatsby will fail to build. It is using styled-components.

[2019-02-15 19:37] josefaidt commented on #11780
@pieh

Ok, I ended up getting this working. Using @jedrichards snippet from his monorepo example:

[code]

I didn't know the `nohoist` option existed as it is not mentioned on the official yarn documentation but in a yarn blog post. BUT this didn't work for me given my directory structure:

[code]

The trick was to use a globbing pattern in the `nohoist` array like so,

[code]

I feel like this de

[2019-02-15 19:46] DSchau commented on #11780
@josefaidt I'm still kind of unsure _why_ there's an issue there. That nohoist looks pretty gnarly. I think in this case it probably makes sense to investigate what exactly breaks with that particular directory structure rather than documenting this scenario--which seems a bit niche-y and may just lead to confusion.

For instance, I structured a recent repository I created as a monorepo with Yarn

[2019-02-15 20:09] riddla opened #11803 "docs: add a workshop/presentation template?"
## Summary

The Gatsby documentation could contain material for presentations and/or workshops.

### Motivation

Ever since I stumbled upon it, I was very impressed by Cypress.io's documentation. In particular that they are providing [material for a full workshop](https://gatsby.app/discord) on using their product.
I was wondering if Gatsby could provide something similar?

There are probably a lo

[2019-02-15 20:09] riddla commented on #11803
(Having written this, I found https://github.com/gatsbyjs/gatsby/issues/8847. So maybe my take on it is obsolete.)

[2019-02-15 20:10] josefaidt commented on #11780
At first I thought this was an issue with Gatsby and how it resolves modules as I did not have an issue with a pure React build. That is why I raised the issue, however I now know that it most likely is not a Gatsby-specific issue, but rather a "quirk" if you will to using it this way.

I took a look at your repo and I'm honestly surprised you haven't had any issues. But what was weird was that or

[2019-02-15 20:10] #11780 closed

[2019-02-15 20:51] marcysutton commented on #11803
I'm working on this page right now, so this is super timely! Thanks for opening an issue. When I get my PR submitted I'll link to this so we can track it.

[2019-02-15 20:55] marcysutton opened #11805 "Docs: Gatsby Governance Model"
In the new contributing docs, it would be good to document Gatsby's Governance Model. From [oss-watch](http://oss-watch.ac.uk/resources/governancemodels):

We have an [RFC process](https://www.gatsbyjs.org/docs/rfc-process/), and this document could sit alongside it to communicate more about the Gatsby process to contributors.

Here is the Vue.js version: https://github.com/vuejs/vue/wiki/Governan

[2019-02-15 21:10] riddla opened #11806 "Wordpress example installation is down?"
## Description

The WordPress site used in the `using-worpress` example seems to be down.

### Steps to reproduce

[code]

[2019-02-15 21:16] DigitalGoldfish commented on #8056
I am running into the same problem with gatsby-transform-sqip. For me it seems to be limited to queries executed in createPages. Even if there are only 5 images processed with SQIP I end up with a timeout after 30 minutes. From what i've read this must mean that some process does not quit correctly in this case but I have no idea on how to debug this further,

[2019-02-15 21:45] frederikhors commented on #2425
@KyleAMathews any news on this in Gatsby 2?

[2019-02-15 21:50] KyleAMathews commented on #2425
React suspense will let us do this as you can block rendering on loading critical images. Also we'd love to let plugins add assets to pages to be prefetched. No immediate plans on either.

[2019-02-15 22:15] samuelbouye opened #11807 "Gatsby Error: no parsers registered for: "\""
npm run develop

success open and validate gatsby-configs — 0.038 s
success load plugins — 1.133 s
success onPreInit — 0.625 s
success delete html and css files from previous builds — 0.161 s
info One or more of your plugins have changed since the last time you ran Gatsby. As
a precaution, we're deleting your site's cache to ensure there's not any stale
data
success initialize cache — 0.317 s
succ

[2019-02-15 22:59] marcysutton opened #11810 "Docs: Triaging Github Issues"
As per the discussion in [rfcs/29](https://github.com/gatsbyjs/rfcs/pull/29#discussion_r257195791), there will soon be a page on Triaging Github Issues in the Gatsby contributing docs. This issue acts as a reminder to fill in the content!

@sidharthachatterjee can you help us out with this?

![Empty page for Triaging Github Issues](https://user-images.githubusercontent.com/1045233/52888824-11e72e8

[2019-02-15 23:07] souhailmerroun commented on #11559
I tried to follow the documentation on Heroku but I still can't make it work.
I have updated the [heroku.yml](https://github.com/idea-to-mvp-framework/documentation-website/blob/master/heroku.yml) to add some variables. I also updated the [gatsby-config.js](https://github.com/idea-to-mvp-framework/documentation-website/blob/master/gatsby-config.js) to only load .env on dev environment.

Can you he

[2019-02-16 01:46] josefaidt commented on #11778
Update to #11783 with script addition and VSCode integration

[2019-02-16 02:09] domemvs commented on #9632
I have a very similar error using gatsby-source-wordpress along with ACF and Wordpress. My specific problem is that I have to use a lot of relationship fields in ACF. Relationship fields in ACF allow to model n-to-n relationships between post types.

My (simplified) scenario:
I have courses and teachers. A teacher can teach several courses, but does not necessarily have to do so. So sometimes my r

[2019-02-16 02:44] reyberyturiaga commented on #9911
@KyleAMathews Still not working on my side. On initial load, react helmet styles is next to the critical css styling in hierarchy. On subsequent loads, it works fine. Can we ensure that react helmet styles is the last to load since it is where most people are putting their one-off custom styling if they decided not to use an external stylesheet to import? Maybe it's more of an issue with gatsby-pl

[2019-02-16 03:08] GarrettJMU commented on #8357
@gurpreetatwal solution did not work for my site - Has anyone found other solutions?

[2019-02-16 03:45] williamkhshea opened #11814 "URL with and without trailing slash behaves differently in production"
## Description

For URL with a trailing slash, the page seems to be server-side rendered first (not sure about this) where windows.innerWidth property doesn't exist.

I have a carousel component which needs the screen size for correctly rendering itself.

DOM downloaded is empty for URL without trailing slash
<img width="1216" alt="screenshot 2019-02-16 at 11 35 05 am" src="https://user-images.git

[2019-02-16 06:25] stefanprobst commented on #10993
not stale

[2019-02-16 06:49] marcysutton commented on #11368
I just hit this `fields` error following the example in [gatsby-plugin-feed](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-feed). I read through this thread and updated as many dependencies as I could, and it's still occurring:
[code]

I don't see a `fields` entry when I navigate `allMarkdownRemark` in the graphiql explorer for my site:
<img width="1752" alt="graphiql explo

[2019-02-16 07:38] stefanprobst commented on #11368
@rogermparent Thanks for the repo!

It looks like there are actually two issues:
* We currently have different code paths for creating an InputObjectType for fields whose types we infer, and for fields added with the `setFieldsOnGraphQLNodeType` API. While the former treats Date fields like Strings, the latter does not. #11816 should fix this.
* Unfortunately even with that fix sorting on fields a

[2019-02-16 07:52] stefanprobst commented on #11368
@marcysutton Did you add the `slug` field in `onCreateNode`, like in the [feed example project](https://github.com/gatsbyjs/gatsby/tree/master/examples/feed)?

[2019-02-16 08:01] marcysutton commented on #11368
@stefanprobst I missed that, it isn't in the [plugin README](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-feed)! I made a note tonight to write a Gatsby RSS feed how-to since I haven't seen one...I'll be sure to include that detail. Thanks :)

[2019-02-16 08:12] KyleAMathews commented on #10993
I'm not sure how we'd fix this? `relativePath` is inherently _not_ unique giving that any number of instances of gatsby-source-filesystem can create `File` nodes.

Do you have any ideas?

[2019-02-16 08:18] KyleAMathews commented on #9911
Oh you're putting CSS in react-helmet? Yes... that would have the same problem as splitting CSS did — as you're loading CSS in different orders so the cascade is unpredictable.

I'd _highly_ not recommend using react-helmet in general for styles. Just use inline styles, css-in-js, or a `.css` file you import.

Hmmm re) typography.js — the only solution I see is for plugins to opt into a particular

[2019-02-16 08:39] dotlouis commented on #8357
I did suffer from a similar bug: when navigating around my app clicking links, all went well, but when pressing the back button or using window.location.back it was sending me to the root path (Not only skipping one history state as others have mentioned).
Anyway I found that I had a `replaceState()` call in a `onpopstate` event listener. I removed it and my problem went away.

[2019-02-16 08:48] stefanprobst commented on #10993
Just thinking out loud: One way could be to make `relativePath` in a query relative to the component path, i.e. when we encounter `relativePath` in query args, translate that into an absolute path, with the `componentPath` as the base path. Something similar to what I did here (the commented out version): https://github.com/stefanprobst/gatsby/blob/69d759a4e6fd1f24a8dda05e0f5706766723bd95/packages

[2019-02-16 08:48] reyberyturiaga commented on #9911
@KyleAMathews  Yes. I am using react-helmet before to add some styling. I am just too lazy before to create a custom css since it's just a one-off styling and I'm quite sure I'll never add any other styling to it after that. But now that I look back into it, I realize that's react helmet is quite inflexible with this kind of stuff since it cannot even accept style declaration as an object as of no

[2019-02-16 09:34] AlexanderProd commented on #11688
I'm encountering the same bug as well when I create a new gatsby project using [this starter](https://github.com/AlexanderProd/gatsby-shopify-starter).

I'm also on mac.
[code]

[2019-02-16 11:16] sondrele commented on #10990
@pieh Is this something you have looked into and would like to support natively in Gatsby?
If so, I might have some extra time to implement

[2019-02-16 12:49] pieh commented on #10993
I'm just thinking that is more of a documentation issue. `relativePath` have been like this for a long time but it's not documented - neither in `gatsby-source-filesystem` README/docs nor in graphql schema (we could use `setFieldsOnGraphQLNodeType` right now to provide field description).

There is also this PR https://github.com/gatsbyjs/gatsby/pull/10540 than really changes what `relative(Path|D

[2019-02-16 12:55] pieh commented on #11688
@AlexanderProd From quick look it seems like same issue. This is because
file path casing in https://github.com/AlexanderProd/gatsby-shopify-starter/blob/cff5d01029e514cf9ac8ac70987d01cd03a16f82/gatsby-node.js#L19
doesn't match casing exactly:

[code]

so as a workaround, adjusting path in `gatsby-node` should fix this.

[2019-02-16 14:08] NeverMendel opened #11820 "Starter search should be case insensitive"
I think that the starter search should be case insensitive. I believe it is better also because on mobile devices the first letter is capitalized by default.

I can fix it!

Search with first letter capitalized: ![image](https://user-images.githubusercontent.com/28535750/52900745-1bd46480-31fa-11e9-8f95-4f7589b82c02.png)

Search with first letter non capitalized: ![image](https://user-images.githu

[2019-02-16 14:22] Mrtenz commented on #11730
I got the same issue when I install the `graphql` package. Removing it solved the issue for me, but I get these warnings now:

[code]

[2019-02-16 15:10] briandamaged commented on #6291
@btk : Thx!  So far, the issue has not reoccurred.

[2019-02-16 16:17] pieh commented on #11796
Sure! This is very good catch. Even if it's unlikely that users would use @reach/router specific fields this is more future proof.

[2019-02-16 17:27] #9325 closed

[2019-02-16 17:27] #9372 closed

[2019-02-16 17:27] #9495 closed

[2019-02-16 17:27] #10082 closed

[2019-02-16 17:27] #10095 closed

[2019-02-16 17:27] #10277 closed

[2019-02-16 17:27] #10288 closed

[2019-02-16 17:27] #10289 closed

[2019-02-16 17:27] #10330 closed

[2019-02-16 17:27] #10334 closed

[2019-02-16 17:27] #10336 closed

[2019-02-16 17:58] jgierer12 commented on #10230
This is still something I'd really want.

[2019-02-16 18:25] KyleAMathews commented on #11184
Not stale

[2019-02-16 18:25] KyleAMathews commented on #10438
Not stale

[2019-02-16 18:34] antoinerousseau opened #11826 "TypeError: Cannot read property 'buildError' of undefined"
## Description

JS errors in `gatsby-node.js#onPostBuild` (and maybe in other places too) are obscure.

### Steps to reproduce

* run `gatsby new gatsby-test`
* add this to `gatsby-node.js`:
[code]
* run `gatsby build`

### Expected result

    SyntaxError: Identifier 'arr' has already been declared

### Actual result

    TypeError: Cannot read property 'buildError' of undefined

### Environment

[2019-02-16 19:12] DxCx opened #11827 "Gatsby Remarkable integration"
Hey!

Ive made a pretty nice integration between gatsby and remarkable, including rehype of React components.

An example live editor can be found here:
https://discretize.eu/editor

While this whole website is running gatsby, you can browse to see the full results.

Is there any interest in such integration? (I was thinking of open source it back to the community now that it works well for long e

[2019-02-16 19:48] thundernixon commented on #11687
Just confirmed that with `1.5.1`, it's working just as expected. 🎉

[2019-02-16 19:56] mdornseif opened #11829 "Access to unmodified Original Images is not available"
## Description

For my application I have to serve bit-Identical versions of Images - preferable from static paths.

https://github.com/gatsbyjs/gatsby/issues/10909 shows that an images path changes on configuration changes, even if the (bitstream) content of an Image stays the same. ([Cool URIs don't change](https://www.w3.org/Provider/Style/URI))

https://github.com/gatsbyjs/gatsby/issues/11672

[2019-02-16 20:03] rtymchyk commented on #10723
Thanks for documenting. Was driving me nuts trying to do some parallax style stuff with the image.

[2019-02-16 20:08] mdornseif commented on #10909
Shouldn't the fix work with a whitelist instead of a blacklist? Currently `['pathPrefix', 'sizes', 'maxWidth', 'maxHeight']` is filtered. In addition I see

* `plugins`
* `showCaptions`
* `linkImagesToOriginal`

which also should not influence the output. Relevant seem to be:

* `backgroundColor`
*  `quality`
* `pngCompressionLevel`
* `pngCompressionSpeed`
* `width`
* `height`?

[2019-02-16 20:22] janosh commented on #10723
@rtymchyk I had the exact same usecase. :)

[2019-02-16 21:09] chrisdrackett commented on #11033
Is there no official way to bind data two ways? :'(

[2019-02-16 23:29] baobabKoodaa opened #11830 "[gatsby-plugin-offline] Default behavior serves stale data"
## Summary

Default configuration for gatsby-plugin-offline serves stale data to users even when network is available.

## Relevant information

Imagine a user who visits a website once a week. If the website has default gatsby-plugin-offline configuration, **the user will always see 1 week old version of the website** on their first pageload. Gatsby-plugin-offline is configured in such a way that

[2019-02-17 00:21] jedrichards commented on #11780
@josefaidt There were a few tiny errors in your proof of concept above. Check it out: https://github.com/josefaidt/monorepo-gatsby/pull/1

[2019-02-17 02:18] Pong420 commented on #11006
@gatsbybot not stale

[2019-02-17 06:46] KyleAMathews commented on #11541
I've been seeing this too just now playing around with gatsby-starter-blog while fixing a delete data hot reload bug — it's pretty easy to reproduce — just delete and then checkout the delete file (to restore it) a few times and the error happens sooner or later.

[2019-02-17 07:15] leworking commented on #11772
Point taken, thanks :)

[2019-02-17 07:15] #11772 closed

[2019-02-17 07:52] mono0x opened #11832 "Add option to get date in local or specified time zone"
## Summary

Add option to get `date` in local or specified time zone.

### Basic example

Add option to `date` type.

[code]

and/or add option to `gatsby-config.js`.

### Motivation

Display date in an easy-to-understand way for main readers of the website.

[2019-02-17 10:48] parammittal16 commented on #9694
@aesthytik I want to work on this issue as this is my first contribution here. May I?

[2019-02-17 11:02] parammittal16 commented on #9694
![capture2](https://user-images.githubusercontent.com/31361983/52911998-58bf5a80-32d1-11e9-80a4-88d4be58466a.PNG)
![capture](https://user-images.githubusercontent.com/31361983/52912001-607eff00-32d1-11e9-9d08-16aec5b74da3.PNG)

Looks there is a problem in home page as well as other pages too.
Plz can I try to solve it ?

[2019-02-17 11:58] AlexanderProd commented on #11688
This is part of the same bug right? @pieh

[code]

[2019-02-17 15:08] essamamdani opened #11834 "Error Omit when I tried to build"
I am using firebase and Loadable Component in my react app using gatsby. I configured gatsby-node.js for webpack.

[code]
While building i am getting this error. See below.
[code]

[2019-02-17 15:54] engmagdy87 opened #11835 "is there a way to query markdown files in sub-folders ?"
## Summary
in normal case, if i have this structure

pages
&nbsp;&nbsp;|_ markdown
&nbsp;&nbsp;&nbsp;&nbsp;|_  1.md
&nbsp;&nbsp;&nbsp;&nbsp;|_  2.md
&nbsp;&nbsp;&nbsp;&nbsp;|_  3.md

this query in ```gatsby-node.js```will read all md files
`
{
            allMarkdownRemark {
              edges {
                node {
                  frontmatter {
                    path
                  }

[2019-02-17 15:54] #11679 closed

[2019-02-17 16:19] DewiEJ commented on #11507
Similar problem

[code]

[2019-02-17 16:33] yogeshkotadiya commented on #9694
Seems like a padding issue on chrome.
**Chrome 72:**
![chrome](https://user-images.githubusercontent.com/9676379/52915891-583db880-32ff-11e9-9e86-8fd4580af1f9.png)

**Firefox 65:**
![firefox](https://user-images.githubusercontent.com/9676379/52915894-5b38a900-32ff-11e9-9c27-7eefb3295847.png)

I can land a PR if no one has picked up yet.

[2019-02-17 16:48] parammittal16 commented on #9694
@yogeshkotadiya I am doing it before and will be opening a PR once @aesthytik replies. You can find more issues.

[2019-02-17 17:01] yogeshkotadiya commented on #9694
Then go for it, You don't have to wait for such a small PR.

[2019-02-17 17:05] lhache commented on #11704
Hey @nsisodiya, did it fix your issue? I'm having the same one but no luck, it didn't help.

[2019-02-17 17:27] #2444 closed

[2019-02-17 17:27] #3978 closed

[2019-02-17 17:27] #9196 closed

[2019-02-17 17:27] #9425 closed

[2019-02-17 17:27] #9805 closed

[2019-02-17 17:27] #10284 closed

[2019-02-17 17:27] #10323 closed

[2019-02-17 17:27] #10360 closed

[2019-02-17 17:27] #10381 closed

[2019-02-17 17:39] loremipson commented on #11835
I haven't had any issues with recursive files in gatsby. What does your `gatsby-config.js` look like?

[2019-02-17 17:40] engmagdy87 commented on #11835
const config = require('./config/site')

module.exports = {
  siteMetadata: {
    ...config,
  },
  plugins: [
    'gatsby-plugin-react-helmet',
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `images`,
        path: `${__dirname}/static/images`,
      },
    },
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `pages`,
        path: `$

[2019-02-17 17:45] millette commented on #11507
We all see the same warnings, no need to keep repeating here, thanks.

[2019-02-17 17:48] helmerdavila commented on #11181
not stale.

[2019-02-17 18:03] t2ca commented on #11541
Im using gatsby-starter-default in both of my projects and see this error daily.

Thank you Kyle for confirming this!

[2019-02-17 18:04] yogeshkotadiya commented on #11835
Try adding another `gatsby-source-filesystem` in your config file.
[code]

See if this solves your issue.

[2019-02-17 18:16] pieh opened #11837 "gastby-plugin-sharp: constantly regenerating same images on subsequent query runs in dev mode"
## Description

We use `fs-exists-cached` (memoized `fs.lstat(sync)`) in `gatsby-plugin-sharp` to check if processed file already exists to skip processing. This works in production, but in development cause problem:

If file doesn't exist on initial check, it will cache this -> sharp plugin will generate image. On next query run that would cause sharp plugin processing we use cached check and reg

[2019-02-17 18:18] JustFly1984 commented on #10179
Please reopen

[2019-02-17 18:28] JustFly1984 commented on #11830
@baobabKoodaa
I use this function in `gatsby-browser.js` to notify user about new version

[code]

but I do not like the behavior. It is often shows a lot of errors from the cache.

[2019-02-17 18:40] pauleveritt opened #11838 "Mappings don't support 1:N on reverse relationships"
## Description

When using a `mapping` in `gatsby-config.js`, reverse relationships work as described in the docs but only for a 1:1 relationship. A 1:N relationship doesn't return an array, it just returns a single value.

This was discussed also in #11151

### Steps to reproduce

Here is a [reproducible repo](https://github.com/pauleveritt/sourceNodes-bug-11151) that illustrates the bug as well

[2019-02-17 18:46] pauleveritt commented on #11151
@pieh Thanks, I narrowed this ticket and made a new one for the reverse 1:N.

[2019-02-17 18:54] #11835 closed

[2019-02-17 18:57] pieh commented on #11196
It seems like server configuration that always serve index.html (and hence url changes because gatsby adjust it to the page that was actually served):

view-source:https://inkblotpractice.com/faq in chrome shows content for index page (not faq page)

Did you use server configuration that was recommended for single page applications (always serving index.html - not matter what the actual url is)?

[2019-02-17 19:33] marvinmarnold opened #11839 "gatsby-transformer-csv hangs if CSV too large"
## Description

I'm trying to include data from a 3.5MB CSV using gatsby-transformer-csv. When I do `gatsby develop`, the terminal hangs at `source and transform nodes` for a long time but does eventually complete.

Is gatsby-transformer-csv meant for files this large? How can I add a progress indicator for large files? Other best practices for loading large files.

### Steps to reproduce

[code]

[2019-02-17 21:26] JustFly1984 commented on #11802
We had same issue today, hope it will help:

we had refactoring and basicaly had a typo in functional component declaration:

instead of proper:
[code]
const MyComponent = (<JSX />)
[code]

[2019-02-17 21:27] zilahir opened #11841 "gatsny build fails at: Building static HTML for pages failed with"
## Description
I have been struggling with this for weeks now.

`gatsby develop` works as expected, all the data getting processed, all the pages rendered correctly, but `gatsby build` fails with the following issue:

`error Building static HTML for pages failed`

[code]

### Steps to reproduce

get any api endpoint which returns json like as string, then use:

`let demo = JSON.parse(sometJson)`,

[2019-02-17 21:53] JustFly1984 opened #11842 "[gatsby-plugin-offline] browser errors after confirmation onServiceWorkerUpdateFound"
I have been tinkering with offline capabilities. I've added next code to `gatsby-browser.js`:

[code]

After page reload I have a white screen and errors in the browser console:

<img width="1134" alt="screenshot 2019-02-17 17 23 16" src="https://user-images.githubusercontent.com/2255993/52919856-f8ceb100-32dc-11e9-8698-dad3944d7911.png">