[2018-09-08 05:40] #3900 closed

[2018-09-08 05:41] KyleAMathews commented on #4779
@pieh @davidbailey00 this is a good thing to test for w/ Cypress. Delete a page component bundle and make sure Gatsby handles it gracefully.

[2018-09-08 05:41] KyleAMathews commented on #6237
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:41] #6237 closed

[2018-09-08 05:41] KyleAMathews commented on #2940
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:41] #2940 closed

[2018-09-08 05:41] KyleAMathews commented on #5615
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:41] #5615 closed

[2018-09-08 05:41] KyleAMathews commented on #6664
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:41] #6664 closed

[2018-09-08 05:42] KyleAMathews commented on #3346
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:42] KyleAMathews commented on #6676
We did this I think?

[2018-09-08 05:42] #6676 closed

[2018-09-08 05:43] KyleAMathews commented on #6451
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:43] #6451 closed

[2018-09-08 05:43] KyleAMathews commented on #6603
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:43] #6603 closed

[2018-09-08 05:43] KyleAMathews commented on #6615
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:43] #6615 closed

[2018-09-08 05:43] KyleAMathews commented on #6617
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:43] #6617 closed

[2018-09-08 05:43] KyleAMathews commented on #6647
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:43] #6647 closed

[2018-09-08 05:43] KyleAMathews commented on #6660
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:43] #6660 closed

[2018-09-08 05:44] KyleAMathews commented on #6675
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:44] #6675 closed

[2018-09-08 05:44] KyleAMathews commented on #6573
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:44] #6573 closed

[2018-09-08 05:44] KyleAMathews commented on #3756
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:44] #3756 closed

[2018-09-08 05:44] KyleAMathews commented on #6722
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:44] KyleAMathews commented on #6722
oops, nvm @fk :-D

[2018-09-08 05:45] Undistraction commented on #5544
I can understand closing stale bug reports, but this is a valid feature request that is still valid as of V2.

There is still no way to access the original URL that triggered the 404 page on the 404 page in production, though this information is available in development.

[2018-09-08 05:45] KyleAMathews commented on #6695
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:45] #6695 closed

[2018-09-08 05:45] KyleAMathews commented on #6273
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:45] #6273 closed

[2018-09-08 05:45] KyleAMathews commented on #6810
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:45] #6810 closed

[2018-09-08 05:45] KyleAMathews commented on #5139
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:45] #5139 closed

[2018-09-08 05:45] KyleAMathews commented on #2467
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:45] #2467 closed

[2018-09-08 05:45] KyleAMathews commented on #6842
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:45] #6842 closed

[2018-09-08 05:46] KyleAMathews commented on #6842
Also in v2, the various plugin writing docs are all now in the same group 🎉

[2018-09-08 05:46] KyleAMathews commented on #6362
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:46] #6362 closed

[2018-09-08 05:46] KyleAMathews commented on #2932
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:46] #2932 closed

[2018-09-08 05:46] KyleAMathews commented on #6851
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:46] #6851 closed

[2018-09-08 05:46] KyleAMathews commented on #6429
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:46] #6429 closed

[2018-09-08 05:47] KyleAMathews commented on #6621
@Moocar has been rolling through this.

[2018-09-08 05:47] #6621 closed

[2018-09-08 05:47] KyleAMathews commented on #3782
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:47] #3782 closed

[2018-09-08 05:47] KyleAMathews commented on #6809
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:47] #6809 closed

[2018-09-08 05:47] KyleAMathews commented on #5750
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:47] #5750 closed

[2018-09-08 05:48] KyleAMathews commented on #6898
I vote for moving search to its own page where we can include a lot more results. In any case, let's reduce the number of open issues and close this.

[2018-09-08 05:48] #6898 closed

[2018-09-08 05:48] KyleAMathews commented on #5810
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:48] #5810 closed

[2018-09-08 05:50] KyleAMathews commented on #6971
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:50] #6971 closed

[2018-09-08 05:50] KyleAMathews commented on #6959
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:50] #6959 closed

[2018-09-08 05:50] KyleAMathews commented on #6782
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:50] #6782 closed

[2018-09-08 05:52] KyleAMathews commented on #6931
It is the intended behavior as there's people can be running older versions of a site and expect to be able to access resources from previous builds. If you're deploying a site often, then you'll definitely trip up visitors to your site.

[2018-09-08 05:52] #6931 closed

[2018-09-08 05:52] KyleAMathews commented on #4654
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:52] #4654 closed

[2018-09-08 05:52] KyleAMathews commented on #6799
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:52] #6799 closed

[2018-09-08 05:52] KyleAMathews commented on #6764
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:52] #6764 closed

[2018-09-08 05:52] KyleAMathews commented on #6693
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:52] #6693 closed

[2018-09-08 05:52] KyleAMathews commented on #6961
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:53] KyleAMathews commented on #623
This is still a great idea but let's close this to clean up our issues. If you'd like to make a serious go at working on a Gatsby desktop, please file a new issue.

[2018-09-08 05:53] #623 closed

[2018-09-08 05:53] KyleAMathews commented on #5839
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:53] #5839 closed

[2018-09-08 05:53] KyleAMathews commented on #6989
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:53] #6989 closed

[2018-09-08 05:53] KyleAMathews commented on #6917
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:53] #6917 closed

[2018-09-08 05:53] KyleAMathews commented on #6592
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:53] #6592 closed

[2018-09-08 05:54] KyleAMathews commented on #6592
Oh I actually did this too haha — it's on npm, check it out!

[2018-09-08 05:54] KyleAMathews commented on #7015
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:54] #7015 closed

[2018-09-08 05:54] KyleAMathews commented on #1597
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:54] #1597 closed

[2018-09-08 05:54] KyleAMathews commented on #3650
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:54] #3650 closed

[2018-09-08 05:54] KyleAMathews commented on #5513
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:54] #5513 closed

[2018-09-08 05:54] KyleAMathews commented on #4750
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:54] #4750 closed

[2018-09-08 05:54] KyleAMathews commented on #6559
We did it, thanks everyone!

[2018-09-08 05:54] #6559 closed

[2018-09-08 05:55] KyleAMathews commented on #6877
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:55] #6877 closed

[2018-09-08 05:55] KyleAMathews commented on #7046
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:55] #7046 closed

[2018-09-08 05:59] deadcoder0904 commented on #6124
This one works so good its closed

[2018-09-08 06:00] deadcoder0904 commented on #6216
I think this should be re-opened bcz lots of people use yarn due to weird bugs npm faces from time to time

[2018-09-08 06:01] deadcoder0904 commented on #6693
This also should be re-opened due to a majority of 404s on the whole Gatsby website

[2018-09-08 06:05] LeKoArts commented on #4565
@KyleAMathews Don’t understand why this one is closed... It’s still a bug at least 6 people had and it just wasn’t solved by anyone until now

[2018-09-08 06:06] rchrdnsh commented on #7986
Yay! I made a good first issue :-)

I’ve noticed this behavior in iOS Safari in general on other sites as well, although Gatsbyjs.org seems to be ok there, at least for me. Might be a WebKit bug?

[2018-09-08 06:07] KyleAMathews commented on #5544
👍 @davidbailey00 wanna add this to your queue to fix?

[2018-09-08 06:09] KyleAMathews commented on #6693
@deadcoder0904 you want to run a dead link checker on next.gatsbyjs.org and PR some fixes?

[2018-09-08 06:09] KyleAMathews commented on #6693
And just closed 400 issues so don't take me closing this personally :-D

[2018-09-08 06:10] KyleAMathews commented on #6216
NPM is the default. We might add a way to choose to see yarn instructions instead of NPM but we're not going to work on this right now.

[2018-09-08 06:11] KyleAMathews commented on #4565
👍 cool — just closed 400 so might have closed a few that shouldn't have.

[2018-09-08 06:17] SachaG commented on #7911
I'm reopening this since #3782 was closed.

[2018-09-08 06:27] davidbailey00 commented on #5544
@KyleAMathews @Undistraction I think this should be possible when #7943 is merged (and before I wrote the code which #7943 fixes) since the URL shouldn't be rewritten upon a 404, i.e. `window.location.pathname` should work perfectly fine assuming you can see it in the address bar.

[2018-09-08 06:40] davidbailey00 commented on #4691
Is this related to #4779, or for general errors / errors which could be caused by the users?

[2018-09-08 06:49] KyleAMathews commented on #4691
Yeah, for user errors so they don't break the site as a whole. A page could throw an error but the user can still navigate.

[2018-09-08 07:34] deadcoder0904 commented on #6693
Naah @KyleAMathews I wasn't taking this personally. I know this is bigger than one person. Just stated a valid point. Unfortunately can't make a PR right now but will keep this in mind in the future :)

[2018-09-08 07:36] deadcoder0904 commented on #6216
Sure no problem. Maybe add a label on such issues something like fix-later or something so someone can take it at a later point in time. Also, would be helpful for beginners to contribute to issues like this :)

[2018-09-08 08:06] iv-mexx commented on #5317
No, that project is only semi active, and I did not have the time to look into this further. Currently, I'm still using the old version of Gatsby where this still worked.

[2018-09-08 09:08] simonjoom commented on #7809
amax it's a web application too.. react-native-web do the job

[2018-09-08 09:21] farrellfileas opened #7988 "jQuery error GatsbyJs"
Newbie here! I'm having problems when doing Gatsby Build. Gatsby Develop went totally fine but on build I get the "WebpackError: Cannot read property 'document' of undefined" error. I'm using jQuery and assume that's the reason why. I understand that I'm supposed to wrap something in the onClientEntry from https://www.gatsbyjs.org/docs/browser-apis/ but I'm still quite confused on how to do that.

[2018-09-08 10:08] DanielRuf commented on #2972
=/

So no preact support?

cc @developit

[2018-09-08 10:11] LeKoArts commented on #7988
Have a look at these docs:
https://next.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined

On another note: imo there’s no reason to use jQuery if you use React. Why do you need jQuery?

[2018-09-08 10:37] Undistraction commented on #2910
@kyleAMathews I'd definitely argue this should be built and easy to use in for the simple reason that making it easy to use will mean more people will use it, which is better for accessibility.

[2018-09-08 10:40] davidbailey00 commented on #4779
Actually I think this is already fixed as part of my changes in #7355 - I haven't been able to cause it to error, unless I delete one of the files *before* loading the page for the first time, which of course is impossible in a production environment. Agreed we can still add tests for this.

[2018-09-08 12:14] davidbailey00 commented on #7988
Hi @farrellfileas, to implement this in your code you would do the following:

[code]

You might also need to conditionally import jQuery - if the above code doesn't work on its own, replace the line `import $ from "jquery"` with this:

[code]

As @LeKoArts says, it's not really a good idea to use jQuery with React - you might end up shooting yourself in the foot, due to the way React renders elem

[2018-09-08 12:15] #7988 closed

[2018-09-08 12:27] vadimshvetsov commented on #2322
@KyleAMathews I'm trying to implement gatsby-remark-bracketed-spans. Is it sufficient to have a code like that?

[code]

[2018-09-08 12:29] zslabs commented on #6764
@KyleAMathews It's actually a great idea to close these out, as it reminded me to post my solution :)

For anyone else that comes across this, I ended up creating a BLUEPRINT file that has all of the fields that "could" be there in case there are no slug overrides, and then just ignored it in my main query; which magically gets around the issue.

[code]

[2018-09-08 12:30] davidbailey00 commented on #7967
Hi @sktt, I'll have a look at this since I've written some of the more recent code for handling 404s with offline-plugin.

[2018-09-08 12:51] sktt commented on #7967
Hi there, @davidbailey00! Please have a look at my pr i think the problems are solved

[2018-09-08 14:37] charlesgiroux commented on #5667
@pdhodgkinson that fixed my issue, thank you!

I was able to apply withRoot on my layouts only so that I don't have to apply it to each pages.

[2018-09-08 14:39] gespiton commented on #2987
I tried @skube 's method, but somehow not working. so I modified the icon option of gatsby-plugin-react-helmet in gatsby-config.js , now it's working   :D

[2018-09-08 14:40] MayerMediaCo opened #7991 "Gatsby Development server not outputting code"
## Description
Upon running Gatsby Develop, the server launches and compiles without a problem.  When going to visit site on local host, nothing renders on the page.

Visiting /admin/ for NetlifyCMS works as expected.

Upon deploying site to Netlify, build fails and produces the following output:

9:37:43 AM:   Error: ./node_modules/gatsby-link/index.js
9:37:43 AM:   Module not found: Error: Can't

[2018-09-08 14:42] isabellachen commented on #5512
@0xsven Did you ever find a workaround for this?

[2018-09-08 15:05] isabellachen commented on #7755
I realised all I had to do was delete the .cache ....

[2018-09-08 15:17] riencoertjens commented on #7950
Just looking for something easy as a first ever open source contribution here.
can I suggest something like this with fluid images to fix the whitespace on the right issue?

![showcase resize](https://user-images.githubusercontent.com/36336875/45255633-9b2b5580-b389-11e8-9b45-3d645387c4f3.gif)

I also noticed the starter-showcase doesn't always use the shared styles so I'll add those if that's ok.

[2018-09-08 16:06] farrellfileas commented on #7988
Working nicely. Thanks and I'll look more into React!

[2018-09-08 16:26] KyleAMathews commented on #2322
Have you checked out other remark plugins?

[2018-09-08 16:29] KyleAMathews commented on #7755
Clearing the cache works but it's a blunt way to do things. If your plugin updates old things properly, clearing the cache isn't necessary.

[2018-09-08 16:41] codejet commented on #2972
I debugged a bit the other day but unfortunately didn't get to the bottom of the issue. Will try again as soon as I find some time.

[2018-09-08 17:00] clarkd opened #7992 "Passing options to remark (via gatsby-transformer-remark)"
Is it possible to pass options to configure remark via gatsby-config.js?

As described here: https://github.com/remarkjs/remark/tree/master/packages/remark-parse#optionsblocks

[2018-09-08 17:03] endymion1818 opened #7993 "[gatsby-plugin-offline] users sometimes redirected to /offline-plugin-app-shell-fallback/index.html"
Hi
We're using gatsby-plugin-offline to great effect, however sometimes users are redirected to /offline-plugin-app-shell-fallback/index.html even when they are connected.

Could you explain the navigateFallback option? I'd happily submit a PR for the readme of that plugin, but I don't understand it myself yet.

[2018-09-08 17:03] kmcaloon opened #7994 "replaceComponentRenderer not passing component argument?"
I'm sure I am missing something here.  I am trying to wrap my pages within a layout as well as context provider. After reading up on this, I found the best way to accomplish this in v2 is either to use a plugin or modify the component renderer by implementing replaceComponentRenderer within gatsby-browser.js. I am not using the plugin both because of preference and also the plugin didn't seem to w

[2018-09-08 17:04] KyleAMathews commented on #7993
Are you on the latest v2 version of gatsby-plugin-offline?

[2018-09-08 17:11] endymion1818 commented on #7993
Ah, I can't check that just now, don't have the work laptop on me. I'll check on Monday morning - I wasn't expecting you to be able to reply so soon Kyle! That's what happens when you delete ~400 old issues I guess ;-)

[2018-09-08 17:43] 0xsven commented on #5512
@isabellachen unfortunately nothing satisfying. The only thing that worked is to create one „dummy entry“ of every content type and then ignore those „dummy entries“ in your build. but this will worsen the editor experience.

I believe contentful has released their own graphql api in the meantime. maybe they have solved it?

[2018-09-08 18:04] Gabsii opened #7996 "Problem building 'buffer without document' with Aphrodite"
First of all, great job on building an maintaining GatsbyJS. Websites run so much faster with static files being rendered.

## Description

When trying to build my website to static files i run into an error (see actual result). I read in #544 that the problem comes from aphrodite. However in #544 it was mentioned that running Gatsby v1 would fix this issues. Is there a known workaround for my pro

[2018-09-08 18:06] KyleAMathews commented on #7996
You'll need to do something similar to what's documented here: https://github.com/Khan/aphrodite#server-side-rendering

[2018-09-08 18:21] iammatthias opened #7997 "[v2] [plugin-offline] Fetch is intercepted by Workbox unless we add ?no-cache=1"
## Description
Source: https://github.com/iammatthias/net/blob/v2/src/components/Info/ContactForm.js

Netlify form configuration works in Gatsby V1, but not in Gatsby V2. The form submission presents as successful, but does not record. Live example: https://iamv2.iammatthias.com/contact

Logging the encoded form submissions on the `Submit` function using `console.log(encode({ 'form-name': 'contact

[2018-09-08 19:37] stefanprobst commented on #7729
I think this should be resolved with #7934 which adds OptimizeCssAssetsPlugin.

[2018-09-08 19:39] fk commented on #7950
Hey @riencoertjens! 👋

Woahh, this is looking exactly like what we (well, I 😉— but I'm quite sure @KyleAMathews agrees) were thinking of! This looks almost ready to get merged in!? 😍🎉

Want to get a PR up with what you've got?

Def. would be great to have what we need to make this happen for both showcases consolidated; no need to split that up into two separate PRs IMO! Looking forward to review

[2018-09-08 20:53] garetmckinley commented on #7897
Having the same problem, so I created a repo for it [here](https://github.com/garetmckinley/gatsby-styled-components-v4)

The error I'm seeing is:

[code]

The exact same repo works fine if you install v3.

[2018-09-08 21:06] tricoder42 commented on #7897
You have Gatsby 1.x which uses older React. You need to use Gatsby 2.x which uses latest React. I don’t think it’s possible to upgrade React in Gatsby without version bump, it’s a breaking change.

[2018-09-08 21:07] garetmckinley commented on #7897
Woah, that's odd. I swear I had Gatsby v2 installed globally, I'll reinitialize my project and report back.

[2018-09-08 21:09] KyleAMathews commented on #7897
`gatsby-cli` isn't the same thing as `gatsby`. The CLI just runs whatever version of `gatsby` you have installed in your project.

[2018-09-08 22:05] #7948 closed

[2018-09-08 22:05] #2352 closed

[2018-09-08 22:12] m2mathew commented on #3104
@msal4 I suggest opening a new issue to get more eyeballs on it. Seems like their work in January cleared up this issue for this one specific circumstance.

[2018-09-08 22:18] vadimshvetsov commented on #2322
I've thought about `gatsby-remark-katex` as example. There are some processing with nodes for getting done with katex.
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-katex/src/index.js
But below we add a markdown plugin `remark-math`, which would be used within gatsby-tranformer-remark.
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/ext

[2018-09-08 22:48] tech4him1 commented on #2352
Thanks for implementing @Yurickh!

[2018-09-08 22:51] dbrookes commented on #7993
Any chance you're using the `gatsby-plugin-remove-trailing-slashes` plugin? If so then it's started happening recently (since workbox) if a user refreshes a cached offline page:

https://github.com/gatsbyjs/gatsby/issues/7869

[2018-09-08 22:56] riencoertjens commented on #7980
why would there be lists of categories if you sort them both by popularity?

[2018-09-08 23:17] riencoertjens commented on #7980
I think it just dawned on me you're suggesting a 'featured categories' and 'all categories'

[2018-09-08 23:50] KyleAMathews commented on #4783
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 23:50] #4783 closed

[2018-09-08 23:50] KyleAMathews commented on #4774
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 23:50] #4774 closed

[2018-09-08 23:51] KyleAMathews commented on #4834
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 23:51] #4834 closed

[2018-09-08 23:51] KyleAMathews commented on #3013
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 23:51] #3013 closed

[2018-09-08 23:51] KyleAMathews commented on #4843
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 23:51] #4843 closed

[2018-09-09 02:58] fvcproductions commented on #4967
@bfeldman89 Here are the steps I took that resolved the issue for me as well based on @pereiraryan's steps.

## Step 1 - Set Config

If you are using [`nvm`](https://github.com/creationix/nvm), you want to use

[code]

or whatever version of Node you want to use in tandem with `nvm`.

Otherwise, you can just use

[code]

## Step 2 - Install Gatsby

Install `gatsby` globally with `npm`

[code]

##

[2018-09-09 03:11] tremby commented on #3885
I just opened a PR which changes the TODO as I suggested.

[2018-09-09 03:16] tremby commented on #4539
@KyleAMathews, I still fully intend to fix this. Can you reopen it, please?

It occurs to me that I'm not sure what the best behaviour would be for the `width` and `height` attributes of the `img` tag. Should they be the size of the actual image coming back (meaning the browser upscales it to what you asked for), or should they be the size that was originally requested?

(The data in `srcset` shou

[2018-09-09 03:53] KyleAMathews commented on #4539
Sure thing!

[2018-09-09 03:54] tremby commented on #4539
Any thoughts on my question above?

[2018-09-09 04:39] KyleAMathews commented on #4496
Yeah

[2018-09-09 05:41] vanvuongngo commented on #4610
I tried to build a chrome-extension with gatsby and get into same problem like @maxim-gofervent

[2018-09-09 06:45] Undistraction commented on #6170
Isn't the simplest solution just to expose gatsby's babel config and let people do:

[code]

[2018-09-09 08:36] stefanprobst commented on #7921
I think this has to do with something `gatsby-react-router-scroll` does. You can try setting in `gatsby-browser.js`:
[code]

[2018-09-09 08:50] b0gd4n commented on #7921
@stefanprobst it def has something to do with that.
I added that line, but this disables scroll to top altogether. I just want to delay the scrolling just after the fade out happens.

[2018-09-09 08:52] #7967 closed

[2018-09-09 09:00] b0gd4n commented on #7921
I think might work

[code]

[2018-09-09 09:48] stefanprobst commented on #7921
As a workaround try this:
[code]

[2018-09-09 10:05] wizzard0 opened #8000 "Generate filenames based on hash of the contents, not UUIDs"
## Summary
Generate filenames based on hash (e.g. SHA1) of the file contents, not random UUIDs.

This issue might be viewed as a specific case of #7808, but it can't be solved by specifying a file prefix.

Also, I believe it belongs in the core Gatsby, not into particular plugin, because it's equally useful to all parts of the pipeline

### Basic example

Before:

After:

As far as I understand, t

[2018-09-09 10:55] davidbailey00 commented on #7869
I'll write a fix for this since I wrote the code which causes it (didn't consider the remove-trailing-slashes plugin, sorry).

[2018-09-09 12:59] amankkg commented on #7897
Thanks to @tricoder42 and @garetmckinley for examples, I've updated and fixed my own example and it seems like there are no errors or malfunctions so far, only that warning in dev mode. Global styles are working even on navigation.

@tricoder42 seems like your example has only one page and if you add another one the warning may occur.
@garetmckinley your example has navigation issue: once navigate

[2018-09-09 15:51] KyleAMathews commented on #8000
Generate filenames for what type of files?

[2018-09-09 16:08] b0gd4n commented on #7921
@stefanprobst this kind of works, but on page nav it always goes to top (even when navigating back). The point of the `gatsby-react-router-scroll` plugin is whenever you go back to a page, it will scroll to wherever you were in the previous page. I would still want this, but just after a bit of a delay.

[2018-09-09 19:07] KyleAMathews opened #8006 "Remove "starters that use this plugin" link from plugin pages"
/cc @shannonbux @fk

[2018-09-09 19:07] KyleAMathews commented on #8006
Until we actually launch it.

[2018-09-09 19:09] galvarez421 commented on #6758
I just faced this issue but I'm not sure I understand the resolution. Is there a way to use npm instead of Yarn and to resolve this issue?

[2018-09-09 20:14] garetmckinley commented on #7897
Yup, I can confirm that what @amankkg said regarding global styles is happening, even when deployed.

I created a repo for my new blog [here](https://github.com/garetmckinley/words.garet.io), and I deployed the static site to gh pages [here](http://words.garet.io). I have the prism syntax styles in [my global styles](https://github.com/garetmckinley/words.garet.io/blob/master/src/styles/GlobalStyl

[2018-09-09 21:00] davidbailey00 commented on #7869
Just pushed a commit to #7943 which should fix this!

[2018-09-09 21:36] probablyup commented on #7897
I've been looking into this and I think it's because upon switching pages the previous instance doesn't get unmounted until after the next one has been rendered. I think I'll make a change to when this warning is triggered because we just don't want concurrent renders happening.

[2018-09-09 21:53] davidbailey00 commented on #7991
You've got some mismatching plugin versions. To fix your issues, upgrade the following packages with Yarn:

[code]

Also, it's not recommended to use `package-lock.json` and `yarn.lock` at the same time due to possible mismatching package versions, so I'd suggest you remove one of these (probably `package-lock.json` if you normally use Yarn).

Hope that helps! Let me know if you're still having pr

[2018-09-09 21:53] #7991 closed

[2018-09-09 22:13] colmtuite commented on #7310
I need to add `height: 100%` to it but there's no `class` or `id` on it. I tried looking for it in the app but can't find it. Can you tell me how I can add an `id` to it?

[2018-09-09 22:30] iammatthias commented on #7997
@davidbailey00 YES! Thank you so much. Form submissions are coming in properly now, just tested in Chrome and Firefox.

[2018-09-09 22:33] davidbailey00 commented on #7997
Glad to hear! Btw, with the line of code you changed, `/contact?no-cache=1` should work fine if you don't want to write out the whole URL (i.e. `https://iamv2.iammatthias.com/contact?no-cache=1`).

As mentioned earlier, I'll leave this open for discussion about what the default behaviour should be - might play around tomorrow and see if I can improve this.

[2018-09-09 22:36] davidbailey00 commented on #7993
Closing, since this is a duplicate of #7869 - once PR #7943 is merged this should be fixed! (Sorry for not testing my earlier changes with this plugin)

[2018-09-09 22:36] #7993 closed

[2018-09-09 23:13] vadimshvetsov opened #8009 "Can't bind plugin via setParserPlugins option with gatsby-transform-remark"
## Summary
I want to have an opportunity to use an `id` or `class` attributes in my markdown pages with this syntax:
[code]
That's when a [remark-bracketed-spans](https://github.com/sethvincent/remark-bracketed-spans) markdown parser plugin comes in.
I'm stuck at making it works together with `gatsby-transform-remark` localy. What am I doing wrong?

## Relevant information

Issue https://github.co

[2018-09-10 00:53] redstubble opened #8010 "Running graphql within wrapped component (Gatsby v2)"
Basic Stuff sorry guys.

Just getting to grips with gatsby but I cant grasp how best run 'gatsby' react components when included alongside other components. Passing props down doesn't seem to resolve the issue.

Index.js
[code]
newProjects.js

[code]
How do I run the graphql query successfully?
const posts = get(context, 'props.data.allMarkdownRemark.edges')  returns undefined.

[2018-09-10 01:50] c0b41 commented on #7647
problem variable name, change const variable another name webpack build successful

[2018-09-10 02:04] busstram opened #8011 "node-fetch needs to be listed as dependency in gatsby-source-graphql"
`node-fetch` is used in `gatsby-source-graphql`, but it's not listed in `dependencies`. This causes issues when adding/removing `node-fetch` manually.

[2018-09-10 02:08] mikelax commented on #8010
where is the `get` function defined?
Do you mean to instead be using the [lodash get function](https://lodash.com/docs/4.17.10#get)?
Since you are using a graphql query you don't need the context there.

The line should be something like:
`const posts = _.get('this.props.data', '.allMarkdownRemark.edges');`

[2018-09-10 03:08] DavidSabine opened #8012 ""Loading (StaticQuery)" in react-test-renderer snapshots -- makes automated testing awkward"
Hi,  I have not been successful writing automated tests around code which uses StaticQuery.  Well, I'm partially successful.

(I'm sorry this is a private repo for now... I'd like to share a file or two, but can't at the moment.  And this input field isn't cooperating with code syntax.)

**I Expect**

I should be able to write tests, requiring 'react-test-renderer' and/or 'react-testing-library',

[2018-09-10 04:02] kakadiadarpan commented on #7994
Hi @kmcaloon, you are expecting component as props as per the code above. But the actual API and usage is a little different.

Documentation: [replaceComponentRenderer](https://next.gatsbyjs.org/docs/browser-apis/#replaceComponentRenderer)
Check [this file](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/__tests__/resolve-module-exports.js#L38) for usage (Lines 38-102)

[2018-09-10 04:02] #7994 closed

[2018-09-10 04:15] staticfrost commented on #7295
Documentation needs to be updated to fix this issue -
https://next.gatsbyjs.org/tutorial/part-one/#linking-between-pages

[2018-09-10 05:12] kakadiadarpan commented on #8009
Hi @vadimshvetsov, we'll look into this.

[2018-09-10 06:41] LeKoArts commented on #8012
Did you follow these instructions?
https://next.gatsbyjs.org/docs/testing-components-with-graphql/#testing-staticquery

[2018-09-10 07:35] kakadiadarpan commented on #7992
Will be fixed with #8014

[2018-09-10 07:58] amit-deligence opened #8015 "I want to add carousel in my gatsby website but it uses window object so i am unable to handle this.how can i put carousel in my website? please give me solution"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?

### Actual result

What happened.

### Environment

Run `gatsby info --clipboard` in your project directory

[2018-09-10 08:26] #8015 closed

[2018-09-10 08:44] kakadiadarpan commented on #7093
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-10 08:52] kakadiadarpan commented on #7343
Hi @joltmode, since this is the expected behavior with `gatsby-source-graphql` we are closing this issue.

[2018-09-10 08:52] #7343 closed

[2018-09-10 08:53] msal4 commented on #3104
@m2mathew It seems like the issue resolved itself.. very odd!

[2018-09-10 08:54] sbugert commented on #7747
The `StaticQueryContext` part was just a test to figure out the problem, I don't intend on using it in my code.
Yes, I'm sure it doesn't work for both `wrapRootElement` and `wrapPageElement`. I just tried it again with the default starter and the development mode shows the loading message and the production build crashes with this error:
[code]

[2018-09-10 08:58] kakadiadarpan commented on #7379
Hi @jordyvanraaij, as @Chuloo suggested can you provide a reproduction repo showing the error?

[2018-09-10 09:15] stefanprobst commented on #7921
@b0gd4n AFAIU what happens in `using-page-transitions` is that RTG can animate the page transition only when the location has already changed and thus the scroll position already updated. So I can think of two possible solutions. Either
(1) make `ScrollContext` accept a delay. Not sure what the best way to do this would be, but wrapping [this line](https://github.com/gatsbyjs/gatsby/blob/ca7d0edf3

[2018-09-10 09:17] axe312ger commented on #5728
😿

[2018-09-10 09:20] HriBB opened #8018 "[2.0.0-rc.15] gatsby-ssr.js: pass props to bodyComponent in replaceRenderer"
I am unable to pass extra props to `bodyComponent` inside `replaceRenderrer` with `gatsby@2.0.0-rc.15`.

[code]

`props` inside `wrapPageElement` do not contain `muiPageContext` when doing SSR.

[2018-09-10 09:32] valse commented on #7596
Hi,
   I made this repo extracted from my project:
https://github.com/valse/hastReparseRaw

You can check the page at url like:
http://localhost:8000/preview/1/

after `gatsby develop` command.

If you try to change the version to latest gatsby@beta (version 111) it works.

Thanks
valse

[2018-09-10 09:39] kakadiadarpan commented on #8011
Also, other missing dependencies are `uuid`, `invariant` and `crypto`

[2018-09-10 10:17] robwalkerco commented on #3780
If anyone else comes across this issue when they are using Gatsby V2, the above examples will not work due to Gatsby API changes, but the below example did (at least for me).

[code]
In the above example, the `@papertrailio/js-core` module included Flow definitions, so adding the above code to `gatsby-node.js`, and adding the `gatsby-plugin-flow` plugin to `gatsby-config.js` worked perfectly.

[2018-09-10 10:19] wodin opened #8019 "Back button from anchor link does not scroll to previous location"
## Description

Scrolling to an anchor on the current page works, but clicking the browser's Back button does not scroll back to the previous location.

This is the same as bug #3116, which was closed because of lack of "recent activity", but I can still reproduce it on Firefox and Chromium on Linux and macOS. I have not tried Windows again recently. Opening a new issue as suggested in the last co

[2018-09-10 10:30] Jakst commented on #7917
@kakadiadarpan Sure, here is a sample repo: https://github.com/Jakst/remark-images-left-align

[2018-09-10 10:30] Jakst commented on #7917
Notice that the border works perfectly fine, but attempting to left-align it makes no difference

[2018-09-10 10:32] NeoLegends opened #8020 "[gatsby-plugin-netlify] Overwrite headers"
## Description

I was trying to override the `X-Frame-Options: DENY`-header the plugin sets for all pages to enable a headless CMS to embed our page in an iframe.

### Steps to reproduce

Taken from https://github.com/BILDQUADRAT/website.

Set headers like this:
`gatsby-config.js`:
[code]

### Expected result

I'd end up with a `_headers` file like this:

[code]

### Actual result

I get a `_heade

[2018-09-10 10:40] kakadiadarpan commented on #8019
I just tried this on macOS and could reproduce on Chrome (v 69.0.3497.81).

Fixes welcome if anyone can investigate further!

[2018-09-10 10:53] fk commented on #8006
PR up: #8022

[2018-09-10 10:56] kakadiadarpan commented on #7596
Hi @valse, I cloned the repository but running into a very weird issue:

<img width="1429" alt="screen shot 2018-09-10 at 4 22 22 pm" src="https://user-images.githubusercontent.com/10805593/45293459-e2465180-b515-11e8-8423-3eafcc5fa607.png">

Tried installing `@babel/runtime`. but it didn't work.

[2018-09-10 11:23] alexfinchme opened #8023 "SyntaxError: Unexpected token ... Math.max(...widths);"
## Description

SyntaxError: Unexpected token ...  Math.max(...widths);

node -v
v4.2.6

### Steps to reproduce

Create fresh ubuntu 16 box on digital ocean and login as root. Run the following commands

   apt update
    apt dist-upgrade -y
    apt install npm
    npm install --global gatsby-cli
   gatsby new my-blazing-fast-site

### Expected result

Gatsby site created

### Actual result

gatsb

[2018-09-10 11:32] alexfinchme commented on #8023
I just had to install the latest stable version of node and the error went away

sudo npm cache clean -f
sudo npm install -g n
sudo n stable

[2018-09-10 11:32] #8023 closed

[2018-09-10 11:51] kakadiadarpan commented on #8020
Hi @NeoLegends, you can remove the default security headers by passing **mergeSecurityHeaders** as `false` and add the ones you need in `headers`.

[2018-09-10 12:03] comxd commented on #5021
@amitjindal @nshki It's working nicely but totally crash my production build process since I have installed the "react-flickity-component" library:

[code]

Trying to exclude library from Webpack not working (@see https://github.com/gatsbyjs/gatsby/issues/7599)

[2018-09-10 12:04] kakadiadarpan commented on #8018
Hi @HriBB, as per the code above I understand that you are trying to pass props to `bodyComponent`. You should use [`setBodyProps`](https://next.gatsbyjs.org/docs/ssr-apis/#replaceRenderer) instead to pass props to the `bodyComponent`

[2018-09-10 12:06] fk commented on #6621
^ https://next.gatsbyjs.org/docs/behind-the-scenes/

[2018-09-10 12:07] fk commented on #6898
👍

[2018-09-10 12:38] pieh commented on #6844
This is fixed for now, so I'll close this issue

[2018-09-10 12:38] #6844 closed

[2018-09-10 12:46] alexfinchme opened #8024 "Failed at the sharp@0.17.3 install script. on ubuntu 16.04"
## Description

I'm getting the error **Failed at the sharp@0.17.3 install script.** in the log when running
gatsby new siteName https://github.com/haysclark/gatsby-starter-casper

### Steps to reproduce

new droplet ubuntu 16.04 on digital ocean
apt update
apt dist-upgrade -y
curl -sL https://deb.nodesource.com/setup_10.x | sudo bash -
sudo apt install nodejs
npm install --global gatsby-cli
gatsb

[2018-09-10 12:58] DavidSabine commented on #8012
Oh my. I did not.

(；一_一)

[2018-09-10 12:58] #8012 closed

[2018-09-10 13:11] outofthisworld opened #8025 "[Question v2] Gatsby script loader in external file"
Is there a way that I can have Gatsby load`<script id="gatsby-script-loader">` from an external script file (without manually moving it) ? I would like to set `content-security-policy` headers to not allow inline scripts for security and since this is the only inline script generated for most of my pages I thought it was worth asking. Thanks!

Update: This script also doesn't show up during onPreR

[2018-09-10 13:46] kkemple commented on #7475
@shannonbux I forgot to tag you in comment above! sorry! :smile:

[2018-09-10 13:54] NeoLegends commented on #8020
Ah I was thinkinf the opposite. mergeSecurityHeaders implies that it will do the merge for me. Might wanna rename that. :)

[2018-09-10 14:34] eLod commented on #7373
i'm having a similar issue, but with relatively small amount of files. i have around ~2500 mds, and i get `FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory` during the `run graphql queries — 691/2527 7.01 queries/second` step. the queries for most of the pages are simply getting the html for the markdown. it simply kills it around 1.5G memory

[2018-09-10 14:56] ErisDS commented on #1517
For anyone else stumbling across this it's still open/tracked here: https://github.com/gatsbyjs/gatsby/issues/3344

[2018-09-10 15:01] ErisDS commented on #3344
We're also running into this issue with [gatsby-source-ghost](https://www.npmjs.com/package/gatsby-source-ghost). Our data schema has a lot of fields that can be legitimately returned as nulls, and are therefore omitted by Gatsby.

I 100% hear and understand that any work on this is paused until after than land of v2 (which I'm very much looking forward to). I wanted to flag up the Ghost source pl

[2018-09-10 15:03] supermoos commented on #4539
@tremby I think this issue may be related: https://github.com/gatsbyjs/gatsby/issues/7511#

[2018-09-10 15:33] gi-alec commented on #7897
Getting an error in every location I import styled-components:
`Module not found: Error: Can't resolve 'styled-components/no-tags'`

Sure enough, checking node_modules/styled-components/no-tags/dist, the folder is empty.

[2018-09-10 15:40] KyleAMathews commented on #7373
Just a general note for people posting/reading here — performance is complex. There's a _ton_ of things that can affect your site building performance from Gatsby's code itself, plugins you're using, react components you're using, js libs you're using, and your own code of course. So it's the most useful if you run into performance problems if you can reproduce the same problems with one of our [b

[2018-09-10 16:34] janosh commented on #7310
@colmtuite It's not ideal but since the grouping `div` is the only child of `<div id="___gatsby">`, you can simply target it via
[code]

[2018-09-10 16:50] stefanoverna commented on #3344
Same problem on https://github.com/datocms/gatsby-source-datocms 😄

[2018-09-10 17:01] probablyup commented on #7897
Update your babel plugin please
On Mon, Sep 10, 2018 at 10:33 AM gi-alec <notifications@github.com> wrote:

[2018-09-10 18:13] kkemple commented on #7426
@fk and/or @shannonbux could someone provide me with an update on the state of this issue? What is the work to do here?

[2018-09-10 18:13] maisonm opened #8029 "Error: Cannot find module 'prismjs' after installing 'gatsby-remark-prismjs'"
After installing `'gatsby-remark-prismjs'` and including it inside of the` gatsby-config.js` file, Gatsby is throwing this error when trying to compile:
[code]

I have uninstalled and reinstalled `'gatsby-remark-prismjs'` to no avail. Here is a look inside my `gatsby-config.js`:

[code]
Here is my `package.json`:
[code]

Here is `gatsby info` copied directly from my terminal:
[code]

[2018-09-10 19:02] fabe commented on #7897
Rendering the `globalStyle` component inside `gatsby-browser.js` and `gatsby-ssr.js` gets rid of the warning when switching pages, but it persists on HMR (fabe/gatsby-universal@26a483b).

[2018-09-10 19:06] fabe commented on #8029
As per [documentation](https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/#install), you'll need to manually install `prismjs` when using `gatsby-remark-prismjs`:

[code]

[2018-09-10 19:18] #7992 closed

[2018-09-10 19:43] probablyup commented on #7897
Yeah I haven’t cut a .3 formal beta release yet. Probably later today
On Mon, Sep 10, 2018 at 2:23 PM Aman Kubanychbek <notifications@github.com>
wrote:

[2018-09-10 20:02] chrism2671 commented on #3790
What's the current status of this? We're considering a move to Gatsby, and have a site with ~1000 pages. If it's the wrong tool for the job, what should we be considering?

[2018-09-10 20:27] pieh commented on #7670
This was fixed with https://github.com/gatsbyjs/gatsby/pull/7913 (thanks @eLod) and even better handling added with #7914 , so I'll close this issue

[2018-09-10 20:27] #7670 closed

[2018-09-10 20:36] KyleAMathews commented on #3790
@chrism2671 check out v2! With the memory reduction PR I linked to earlier + my "hulksmash" PR, builds in v2 are ~80% faster for larger sites. https://github.com/gatsbyjs/gatsby/pull/6226#issuecomment-403884299

A 1000 page site should easily build in < 1 minute.

[2018-09-10 20:46] #7790 closed

[2018-09-10 20:47] KyleAMathews commented on #8029
Yup, that sounds like the problem.

[2018-09-10 20:47] #8029 closed

[2018-09-10 21:01] probablyup commented on #7897
v4.0.0-beta.3 is out which includes the dev warning fix

[2018-09-10 21:04] probablyup commented on #7897
General note: `styled-components@next` was an old tag we used for the v2 beta and release. I removed it last night so people won't get confused. Should use `@beta` for v4.

[2018-09-10 21:15] #5993 closed

[2018-09-10 21:30] redstubble commented on #8010
Thanks for this. I ended up using static query as per https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/static-query.md.
For my scenario this is the best resolution.

[2018-09-10 21:30] #8010 closed

[2018-09-10 21:32] tremby commented on #4539
@supermoos, are you asking for dimensions larger than the image actually is? If so, it probably is related.

[2018-09-10 21:34] supermoos commented on #4539
Nope, I'm not. The problem lies in the aspectRatio not being calculated on the actual image response from contentful, so it doesn't take into account what kind of crop mode is set.

[2018-09-10 21:36] tremby commented on #4539
Oh, in that case I'm not certain. But if the real dimensions are coming back from contentful (as it seems from Kyle's comments above that they should be) then it ought to be easy to fix. When I work on this one (hopefully soon), I'll look at your ticket too if someone else didn't already.

[2018-09-10 21:38] supermoos commented on #4539
Exactly, seems like simply a false assumption that it could be pre-calculated based on the request params was made. The dimensions should be easy to read off the response. Cool, that's amazing.

[2018-09-10 21:56] fk commented on #7895
Hey Berrak, sorry for not getting back to you last week as promised, and for not having anything to show even after today! 🙏

Sounds good! No, unfortunately no icons yet, but maybe you could use placeholders from http://react-icons.github.io/react-icons/ for now?

[2018-09-10 21:57] garetmckinley commented on #7897
Yup, latest versions are working great for me! No issues with global styles disappearing during hmr or routing changes. Nicely done @probablyup

[2018-09-10 23:09] m-allanson commented on #7617
This could be worth looking at: https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/

[2018-09-11 00:10] maisonm commented on #8029
Excellent. Thanks for pointing out my oversight.

[2018-09-11 00:34] #4793 closed

[2018-09-11 00:53] jorgegonzalez opened #8033 "Move all eslint related dependencies to devDependencies"
## Description

Several ESLint-related dependencies are listed as `dependencies` instead of `devDependencies` and thus are being included in all Gatsby projects.

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json#L50

### Steps to reproduce

`gatsby new project`

### Expected result

### Actual result

### Environment

  System:
    OS: macOS High Sierra 10.13.6
    CPU:

[2018-09-11 00:59] jorgegonzalez commented on #8033
I'll happily create a PR for this if the maintainers agree with this change.

[2018-09-11 01:07] mikelax commented on #8033
Great, thanks. Can you also go through and remove the duplicate packages that in both dependencies and devDependencies? I noticed at least two of the babel packages.

[2018-09-11 02:01] mikelax opened #8035 "Upgrade lodash to latest version - security vulnerability"
## Description

The version of lodash being used in the various packages and projects is not consistent. *Almost* al of the packages are currently requiring an older version of [lodash that has a known security vulnerability](https://snyk.io/vuln/npm:lodash:20180130). lodash should be updated to the latest version, currently 4.17.10.

The lib in all packages should be updated to:
* Remove the secu

[2018-09-11 02:52] mikelax commented on #8033
I see all the other *-loader packages listed in the `dependencies`, but [according to the docs eslint-loader](https://github.com/webpack-contrib/eslint-loader) can also be a dev dependency.

I admit though I might not yet understand how gatsby is doing the file loading during the build process?

[2018-09-11 03:02] wKovacs64 opened #8037 "[gatsby-plugin-offline] Location of Workbox runtime libraries"
## Summary

Migrating from sw-precache to Workbox (#7605) broke the service worker functionality on my site because [the default behavior](https://developers.google.com/web/tools/workbox/modules/workbox-build#full_generatesw_config) of the `workbox-build` package is to download its runtime libraries from the Google Cloud Storage CDN, which the `script-src` directive of my CSP header does not allow

[2018-09-11 03:49] KyleAMathews commented on #8033
It has to be a dependency as otherwise it won't be included when users install it. Or in other words, it's a dependency because Gatsby is a tool that others use so we ship tools with it.

[2018-09-11 03:49] #8033 closed

[2018-09-11 03:49] KyleAMathews commented on #8033
If it we're a dev dependency, it wouldn't get installed.

[2018-09-11 04:28] kakadiadarpan commented on #8037
Hi @wKovacs64, it's always better to serve files from a CDN rather than your own server. It is very effective in speeding the delivery of the content. That is why this is the default behavior currently. But, if anyone has restrictions with fetching from CDN, they can always update the config to generate local copies (just like you did).

@davidbailey00 can obviously provide more inputs on this

[2018-09-11 04:47] KyleAMathews commented on #8037
Hmm in gatsby's case we generally already are serving sites from a CDN so loading part of a lib from another CDN will always be slower.

[2018-09-11 04:52] kakadiadarpan commented on #8024
Hi @alexfinchme, could you try installing `sharp@0.17.3` first and check if that is successful?

[2018-09-11 05:04] kakadiadarpan commented on #8024
Also, by looking at the version of sharp, I assume you are not using `yarn` as your package manager. The [`package-lock.json`](https://github.com/haysclark/gatsby-starter-casper/blob/master/package-lock.json#L7684) has an older version of sharp compared to [`yarn.lock`](https://github.com/haysclark/gatsby-starter-casper/blob/master/yarn.lock#L4602) in [`gatsby-starter-casper`](https://github.com/h

[2018-09-11 05:11] kakadiadarpan commented on #6972
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-11 05:29] yrammos commented on #7743
@kakadiadarpan unfortunately I do not have the authority to do so for this project. Meanwhile I went ahead and added the following lines to my Apache configuration:

[code]

Now the 404 page is displayed as expected but does flash momentarily on occasion (perhaps depending on the browser or cache state). If I could address the flashing, I'd consider the issue resolved. Ideas welcome — thanks.

[2018-09-11 05:46] kakadiadarpan commented on #8025
@pieh any inputs on this?

[2018-09-11 05:47] kakadiadarpan commented on #7479
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-11 06:02] davidbailey00 commented on #8037
Yeah I agree with @kyleamathews - we might as well make "local" the default behaviour given most sites are served from a CDN, and that this matches the previous behaviour. I'll submit a PR later.

[2018-09-11 06:27] kakadiadarpan commented on #7743
@yrammos we are asking for a minimal repository which shows just this issue, nothing else. It's difficult to diagnose an issue without reproduction.

[2018-09-11 07:31] Tomekmularczyk commented on #5694
What about keeping a separate directory like:

[code]

and then in pages you only import a view:
**pages/other.js**:
[code]

This gives you the flexibility of keeping related components together rather than having just one big `components/` directory.

[2018-09-11 07:38] kakadiadarpan commented on #7596
Still running into the same issue.

[2018-09-11 07:46] mhadaily commented on #6323
I know you have closed this task but we have faced that exact same issue now. seems Gastby is converting parenthesis to different character. we re investigating more but wanted to let you know and find out if someone has faced this issues and resolved it already.

BTW, it seems we also have the same issue with + in the URL like `iphone-8+` and `iphone-8` in urls are considered same things in gatsb

[2018-09-11 07:47] amit-deligence opened #8039 "I am not clear about how to submit my website to gatsby showcase.Below is my package.json"
{
  "name": "gatsby-starter-default",
  "description": "Gatsby default starter",
  "version": "1.0.0",
  "author": "Kyle Mathews <mathews.kyle@gmail.com>",
  "dependencies": {
    "bootstrap": "^4.0.0-beta.2",
    "dropzone": "^5.5.1",
    "font-awesome": "^4.7.0",
    "gatsby": "^1.9.277",
    "gatsby-image": "^1.0.55",
    "gatsby-link": "^1.6.46",
    "gatsby-paginate": "^1.0.16",
    "gatsby-p

[2018-09-11 07:48] kakadiadarpan commented on #7917
Hi @Jakst, currently `margin-left: auto; maring-right: auto;` is hardcoded in the source code. I was able to overcome this issue using `!important`, I was able to use that and align the image to the left. This is how my config for `gatsby-remark-images` look:

[code]

[2018-09-11 07:48] #7917 closed

[2018-09-11 08:07] outofthisworld commented on #8025
For clarification there is two ways I that would work for me, one is that the script loader is loaded from an external script. I think this would mean the script loader would have to be generated for each page. The other idea I had was in pre-render HTML generate a content hash of the script because I want to dynamically create a <meta> tag for the Content-Security-Policy, something like the follo

[2018-09-11 08:10] kakadiadarpan commented on #8039
Please go through this link and follow the steps given there to submit your website for [showcase submission](https://next.gatsbyjs.org/docs/site-showcase-submissions/)

[2018-09-11 08:10] #8039 closed

[2018-09-11 08:30] valse commented on #7596
mmm why in my local env is working?
Did you deleted `node_modules` and `.cache` folders?

[2018-09-11 08:37] kakadiadarpan commented on #7596
Yes, I had removed them.

[2018-09-11 08:46] #8011 closed

[2018-09-11 08:52] #8035 closed

[2018-09-11 08:54] #7572 closed

[2018-09-11 08:55] jorgegonzalez commented on #8033
If you’re going to keep eslint can it at least be updated to the latest version then?

[2018-09-11 09:39] fk opened #8041 "[www] Fix header background for paginated "Blog" pages"
Unlike all other .org pages, `/blog/` sports a header and content with a non-white background:

![image](https://user-images.githubusercontent.com/21834/45351096-a06ce800-b5b5-11e8-9af8-c65b7ba8d0a2.png)

We set the background color for the header in
https://github.com/gatsbyjs/gatsby/blob/446856b8de282945ac9153edc77f684a9824d91b/www/src/components/navigation.js#L99-L102 based on
https://github.co

[2018-09-11 09:50] Bobeta commented on #7695
Sure @kakadiadarpan
[code]

It seems to work fine using Gatsby v2 beta, but I'm having the issue above using latest Gatsby v1.

[2018-09-11 10:08] outofthisworld commented on #8025
@pieh sure thing, would it be valid to move the `gatsby-chunk-mapping` script in the same PR?

[2018-09-11 10:49] tjgilpin commented on #8019
Can confirm this issue on the following browsers on Mac OS 10.12.6

* Google Chrome Version 69.0.3497.81 (Official Build) (64-bit)
* Firefox Quantum 62.0 (64-bit)
* Safari Version 11.1.2 (12605.3.8.1)

### Steps to reproduce

1. `gatsby new gatsby-v2-issue-8019 https://github.com/gatsbyjs/gatsby-starter-default#v2`
2. Paste following into *src/pages/index.js* between the Layout tags
[code]
3. `cd

[2018-09-11 10:50] pieh commented on #8025
yeah, I think moving
[code]

to right before

[code]
makes sense

[2018-09-11 11:06] berraknil commented on #7895
@fk no problem at all, as for icons, using a Person icon from those collections is easy but how do we differ agency/company or even All selection with icons? Maybe we can just use first letters capitalized, like A | P | A | C etc? I don't know :)

[2018-09-11 11:56] davidbailey00 commented on #8037
Just opened a PR to change the default behaviour

[2018-09-11 11:56] vadimshvetsov commented on #8009
I've tried to implement everything in PR but I'm not fluent with gatsby. I'd like to get any advices about what I'm doing wrong.
https://github.com/gatsbyjs/gatsby/pull/8044

[2018-09-11 12:03] vadimshvetsov commented on #2322
@KyleAMathews I've made a PR #8044 with adding [remark-bracketed-spans](https://github.com/sethvincent/remark-bracketed-span) parser plugin

[2018-09-11 12:33] stoltzrobin commented on #6949
@akolybelnikov @ndjamenamarmon @ldelbeccaro
Have you tried deleting the .cache folder? otherwise try that.

[2018-09-11 12:43] sivagao opened #8046 "How can reuse query with variables and fragment in pageQuery"
## Summary

I want to reuse my fragment definition and query with variable in many types of page. how can i implement this.

for example:

[code]

[code]

[2018-09-11 12:47] mikelax commented on #8033
thanks @KyleAMathews . one final question, I know there is the plugin [gatsby-plugin-eslint](https://next.gatsbyjs.org/packages/gatsby-plugin-eslint/), but I don't see the source in the `packages` folder. Is this because the plugin is "built-in" to gatsby package?

I am trying to figure out the relationship of the eslint libs in `gatsby` package vs. this plugin usage. Thanks.

[2018-09-11 12:53] mikelax commented on #5694
@Tomekmularczyk I think we should stop just short of recommending `components` folder layouts, as that is a decision with numerous options and opinions. I think as long as we document the gatsby specific recommended/required folder structures, we can provide a link to the [react docs](https://reactjs.org/docs/faq-structure.html) that discusses folder layouts for components.

[2018-09-11 12:53] alexgmuir commented on #8024
The problem was that I needed to install the following to get that particular starter to work.

npm install sharp
apt install xsel
apt install make
apt install g++

[2018-09-11 12:55] jquense opened #8047 "[v2] Reach router doesn't do element type checks compatible with react hot loader"
There are a few places where reach/router checks for element types e.g. https://github.com/reach/router/blob/master/src/index.js#L476 This is broken when using RHL which wraps all elements. They need to do this: https://github.com/gaearon/react-hot-loader#checking-element-types at the moment using `<Redirect>` is broken in dev completely it seems

[2018-09-11 13:03] jquense opened #8048 "[v2] Reach router doesn't handle null or falsy children in a Router"
[code]

Conditionally adding routes doesn't work

[2018-09-11 13:16] JanLenoch opened #8049 "The createNode API does not produce all node links"
## Description

We're a headless CMS vendor and we've developed a [source plugin for our SaaS service](https://github.com/Kentico/cloud-gatsby). Our source plugin supports creating [links of 4 different kinds](https://github.com/Kentico/cloud-gatsby#experimenting) among data retrieved from our public API. We use the (yet not documented) `___NODE` convention to let Gatsby create link fields. [One o

[2018-09-11 13:31] openmedi opened #8051 "[gatsby-source-wordpress] How to get blog title via GraphQL query when using gatsby-source-wordpress"
I'd like to receive the blog title of my wordpress blog via a graphql query to use it in my gatsby page, but I can't figure how to do it. [A GET Request to /wp-json on the REST-API gives this information](https://wordpress.stackexchange.com/questions/223919/get-blog-title-with-rest-v2) pretty easily, but how do I query for it with GraphQL using the plugin?

[2018-09-11 13:37] tbaustin commented on #6968
We have put this off for now so maybe with new gatsby it will fix this. I will re visit this later when I get some time! Until then I'm going to close this.

[2018-09-11 13:37] #6968 closed

[2018-09-11 13:43] DSchau commented on #8048
Not sure this _belongs_ here, but I get that it's probably a regression from v1 behavior with react-router.

For now, how about we close this and follow along at reach/router#115?

(If you disagree, feel free to re-open 😄 and we can look further)

[2018-09-11 13:43] #8048 closed

[2018-09-11 13:47] jquense commented on #8048
Ya i'm putting them here so ya'll are aware of the big/breaking bugs a v2 user will face. And maybe so @KyleAMathews can pester Ryan to fix it ;)

[2018-09-11 14:05] Lakston opened #8052 "[V2] compiling css variables to be ie11 compatible"
V2 version : @next

I'm trying to find a way to compile css variables (in .css files not in js) to plain css values so that our website is ie11 ready.

## Relevant information

### Environment (if relevant)

  System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 8.11.2 - /usr/local/bin/node
    Yarn: 1.7.0 -

[2018-09-11 14:10] JanLenoch opened #8053 "GraphQL Error Unknown field ... on type ..."
## Description

Occasionally, during the process of building a project with `gatsby develop` an error occurs:

"GraphQL Error Unknown field `some field` on type `some type`"

It definitely happens every time the project is first run (after initializing it with `npm install`). But, it also happens in other moments, in a random fashion.

### Steps to reproduce

1. Clone https://github.com/Kentico/cl

[2018-09-11 14:11] eLod commented on #7373
@KyleAMathews i tried to cut down all the other stuff and still reproduce the issue. i have created a repo at https://github.com/eLod/gatsby-bench, it produces the error `FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory` while `extract queries from components` on my machine for both gatsby develop and build (it is killed around 350-400/782 for me). i tried to chec

[2018-09-11 14:53] jordyvanraaij opened #8056 "Gatsby build on Netlify fails(Image generation): Command did not finish within the time limit"
## Description

The build on Netlify fails with error: `Command did not finish within the time limit.`
When I run a local build the build is much faster.

### Steps to reproduce

Running `gatsby build` on Netlify

### Expected result

The build should succeed in a reasonable amount of time, just like when running the build locally:

Build log:

[code]

### Actual result

The build fails: `Command

[2018-09-11 15:06] KyleAMathews commented on #8056
Hmmm, that looks really goofy. Can you identify where it pauses during bootstrap? None of the individual steps take very long but the total bootstrap is 813 seconds.

[2018-09-11 15:09] jordyvanraaij commented on #8056
@KyleAMathews is there a way to see what's happening in the bootstrap step? A debug mode of some sort?

[2018-09-11 15:44] KyleAMathews opened #8058 "code line highlighting buggy"
https://twitter.com/rchrdnsh/status/1039529095372009472

[2018-09-11 15:46] pieh commented on #8056
Yeah, I would say image processing -
[code]
this is most likely cause why it pause before completing bootstrap:
[code]
just it's not captured in terminal output on netlify

[2018-09-11 15:55] stefanprobst commented on #8019
AFAICT this is because hash link scrolling is [handled by `<Link />`](https://github.com/gatsbyjs/gatsby/blob/bcf3af57f3b6438424b712ce1785a6a423b937da/packages/gatsby-link/src/index.js#L146), which is not invoked when navigating with browser buttons. [Moving this to `shouldUpdateScroll`](https://github.com/stefanprobst/gatsby/blob/c684c5f524530b043ed138671ed1853800831ae3/packages/gatsby/cache-dir/

[2018-09-11 15:56] h0rhay opened #8059 "[Question] Pass state as props from main index.js layout to /templates/*.js"
## Summary
Referencing this [issue](https://github.com/gatsbyjs/gatsby/issues/2112)..

I wondered if anyone could elaborate on [Kyles](@KyleAMathews ) solution.

---
You could pass a prop to the pages that you could call from them e.g.
[code]
You'd then update the layout state and re-render. ???

---

I have a main index file which is pumping blog posts into here
`{children()}`
in the main render

[2018-09-11 16:14] fk commented on #8058
Sigh…
![image](https://user-images.githubusercontent.com/21834/45372950-7388f700-b5ee-11e8-97d0-b852f6e73081.png)

[2018-09-11 17:58] #8037 closed

[2018-09-11 19:21] Undistraction opened #8062 "gatsby-transformer-json: Inconsistent return of values"
## Description

I'm seeing null values returned from queries using  gatsby-transformer-json's API, arbitrarily and unpredictably.

### Steps to reproduce

[Repo in next comment]

I have a `settings` directory of files that I have made Gatsby aware of using `gatsby-source-filesystem`. The directory contains several `.json` files. They are all valid JSON and utf-8 encoded.

The files look like this:

[2018-09-11 21:03] jquense commented on #6302
Yeahj i think we need to do something smarter for the inlining...like look what html-plugin is doing: https://github.com/jantimon/html-webpack-plugin/blob/master/lib/chunksorter.js

[2018-09-11 21:19] pieh commented on #8033
@mikelax this seems to be plugin created elsewhere - https://github.com/mongkuen/gatsby-plugin-eslint - not all gatsby plugins are in this repository

[2018-09-11 21:20] KyleAMathews commented on #6302
@jquense woah cool! Yeah, that definitely seems useful.

It wouldn't solve the typography.js issue though as that's added by gatsby-plugin-typography which doesn't run through webpack.

[2018-09-11 21:25] daydream05 opened #8064 "[v2] Running into babel issue when running locally"
## Description

Running into babel issue when running locally. The build won't compile.

### Steps to reproduce

I ran into this issue after trying to add gatsby-remark-external-links and removing it. I run `gatsby develop` and the issue kept coming even after doing another npm install and clearing cache.

### Expected result

The website should compile

### Actual result

[code]

### Environment

[2018-09-11 21:27] probablyup commented on #7897
@amankkg update your babel plugin

[2018-09-11 21:35] amankkg commented on #7897
@probablyup I'm on 1.6.4. Error disappeared only after moving this babel plugin to devDependencies. I just followed this https://github.com/styled-components/styled-components/issues/1969#issuecomment-419991738

If this is expected behavior we have to update the Gatsby's SC tutorial.

[2018-09-11 21:48] jquense commented on #6302
i was thinking of my css woes :P ;)

[2018-09-11 22:05] jlengstorf commented on #7583
I did some sketching on this today to try and create preliminary flow charts. Posting them here for posterity, and to give anyone who'd like to weigh in the chance to provide feedback before we get too far down the dev path.

I've transcribed a lot of it as well, for easier quotes in discussion and better a11y.

## What are the biggest bottlenecks/time drains in OSS management?

![img_20180911_133

[2018-09-11 22:35] fk commented on #8058
Before actually looking closer at _anything_, I decided to throw the failing code block/highlighted lines in `examples/using-remark`…and it looks like this was working fine until `gatsby-remark-prismjs@3.0.0-beta.6`:

![image](https://user-images.githubusercontent.com/21834/45391215-6dad0900-b622-11e8-8714-157c6ed7961f.png)

Using `beta.7` (https://github.com/gatsbyjs/gatsby/pull/7342):

![image](

[2018-09-11 22:45] jorgegonzalez commented on #8033
Sure but my issue (and original reason for creating this issue) was that Gatsby includes `eslint@4.19.1` and I had an issue installing [`zoe`](https://github.com/jorgegonzalez/zoe), as the required `eslint` versions were conflicting.

[2018-09-11 22:50] daydream05 commented on #8064
Found this [issue](https://github.com/babel/babel/issues/8530)  but not sure how it relates to Gatsby. One solution was to upgrade babel/core from 7.0.0 to another version.

[2018-09-12 00:43] ldelbeccaro commented on #6949
I ended up creating a new space in Contentful with the same schema, switching to that space, then switching back. That worked, so it was likely a cache issue, but I can't say for sure because I can no longer reproduce.

[2018-09-12 00:45] DSchau commented on #8058
@fk nice work debugging this! I can take a look at this tomorrow morning or maybe tomororw afternoon unless anyone else grabs it.

[2018-09-12 01:02] pieh commented on #8009
What actually happens when You run it like that @vadimshvetsov?

[2018-09-12 01:18] fk commented on #8058
@DSchau Oh I'd love that! Left another comment over at https://github.com/gatsbyjs/gatsby/pull/7342#issuecomment-420477709 a few minutes ago.

[2018-09-12 02:46] RobertWSaunders commented on #8064
What version did you update `@babel/core` to?

[2018-09-12 03:07] sivagao opened #8069 "WWW showcase page: after closing show detail modal, it will rerender list page, lose all "more load" data and scroll back to top"
## Description

https://next.gatsbyjs.org/showcase. browse this page, and load more showcases, and then click a card to view showcase detail as modal window. after closing the modal. the showcase list page is rerendering, losing all the before status.
I think this experience can be improved.

### Steps to reproduce

1. Oen https://next.gatsbyjs.org/showcase
2. Select a `category`, for example `app

[2018-09-12 03:48] ciokan opened #8070 "Query inside component with parameter"
I know `StaticQuery` is...static. Contentful is pushing an update soon in which it will allow for `Structured text` which in turn allows for embedding of records. The embedded records come down with only an `id`  and `contentType` referencing to the embedded record.

There is also a `data` field in response where they join together all the fields of the embedded records and I can pull the informat

[2018-09-12 04:05] kakadiadarpan commented on #8069
Hi @sivagao, would you like to work on this?

[This](https://github.com/gatsbyjs/gatsby/blob/master/www/src/views/showcase/index.js) should be the place you should be looking into for fixing this issue.

[2018-09-12 04:20] #8064 closed, assigned to nobody

[2018-09-12 04:29] sivagao commented on #8069
yes. I will investigate more if my similar project need fix this issue.  However i think this will modify the modal implementation probably

[2018-09-12 05:01] kakadiadarpan commented on #8059
Hi @h0rhay, like suggested in this [comment](https://github.com/gatsbyjs/gatsby/issues/2112#issuecomment-338591323), did you try to pass it using `key`?

[2018-09-12 05:03] kakadiadarpan commented on #8070
@ciokan [this](https://next.gatsbyjs.org/docs/building-with-components/#page-template-components) might help you.

[2018-09-12 05:13] kakadiadarpan commented on #8051
Hi @openmedi, please check the source code of [`using-wordpress`](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-wordpress) example.

[2018-09-12 05:16] kakadiadarpan commented on #8052
Hi @Lakston, can you provide a reproduction repo where we can reproduce this? That would make it much easier to diagnose this issue.

[2018-09-12 05:46] ciokan commented on #8070
Nope. That's a page template component with a query that accepts a parameter sent from `createNode`. This data embeds other data and what I have are their ids that's all. I can't query for them because I have no place where to filter with a supplied parameter. My initial page template component retrieves these ids. How do I fetch the records without looping through thousands of records  that's the

[2018-09-12 06:08] williamtstanley commented on #7149
I have a very similar issue at the moment. A way to define multiple fileNodes attached to one parent would be amazing. Or at least someone showing me how to achieve it with the existing API... that would also be amazing :)

[2018-09-12 06:12] vadimshvetsov commented on #8009
I've moved package from local plugin to gatsby repo package and trying to make it works.

At this moment my workflow is following:
- In local gatsby repo launch `yarn run bootstrap && yarn watch --scope=gatsby-remark=bracketed-spans` (Works)
- In test site repo launch `gatsby-dev --packages gatsby-remark-bracketed-spans` (Works)
(Gatsby local repo path with --set-path-to-repo already set)
(`gatsby

[2018-09-12 06:31] vadimshvetsov commented on #8009
I've tried to spread some console logs inside `gatsby-transformer-remark` plugins parsing for loop:
[code]
And I have the following logs when processing with my `gatsby-remark-bracketed-spans` plugin and installed with npm `gatsby-remark-images` when launch `gatsby develop`:
[code]

[2018-09-12 07:37] westmark commented on #3344
Question: In V2, could we use this to avoid the "query on missing data"-problem?

https://next.gatsbyjs.org/docs/actions/#addThirdPartySchema

In other words, could the Contentful plugin use this function to inject the schema for a content model that has no data/entries yet?

[2018-09-12 07:55] Lakston commented on #8052
I fixed my issue so I'll post a solution here in case someone faces the same problem:

I remove the options for `gatsby-plugin-postcss` in `gatsby-config.js` and just declare the plugin there:
[code]

and created a `postcss.config.js` file at the root of my project where I handle the css processing:
[code]

Last step is to just `@import './variables.css';` the variables file in every css files tha

[2018-09-12 07:55] #8052 closed

[2018-09-12 08:09] kakadiadarpan commented on #8052
@Lakston I think this would be the best way to handle it is the simplest way of handling it. Also, it is mentioned in the documentation of [gatsby-plugin-postcss](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-postcss) that the configuration can be done in using `postcss.config.js`as well.

[2018-09-12 08:11] openmedi commented on #8051
Hey @kakadiadarpan the blog title is not read out using gatsby-source-wordpress in this example: Title and subtitle is defined in gatsby-config.js and then used in /src/templates/page.js and /src/templates/post.js. But it's not actually received from the wordpress blog itself.

Or am I reading that wrong?

P. S.: Note that I'm looking for a way to get the title of the blog, not posts or pages. I k

[2018-09-12 08:18] sa3idatol opened #8071 "WARN deprecated gulp-util@3.0.8 gatsby-plugin-sharp@2.0.0-rc.7"
## Description

deprecated gulp-util@3.0.8

### Steps to reproduce

I get this issue after having installed  this starter https://github.com/Vagr9K/gatsby-material-starter

### Expected result

solution

### Actual result

nothing happened.I just report the issue as suggested in https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5

### Environment

Run `gatsby info --clipboard` in your project directo

[2018-09-12 08:24] #4691 closed, assigned to nobody

[2018-09-12 08:32] emman24 opened #8073 "Image require cannot find module"
Good Day

I have dummy json on my file.
Seems I cant put the image source path from my JSON

![screenshot from 2018-09-12 12-55-23](https://user-images.githubusercontent.com/25625894/45412395-11d99300-b6a9-11e8-95fb-1d18357eb34d.png)

![asdasdasdasd](https://user-images.githubusercontent.com/25625894/45412425-23bb3600-b6a9-11e8-9f55-81d68271c462.png)

but when I change it to the path 'images.jpg'

[2018-09-12 08:49] kakadiadarpan commented on #8073
Hi @emman24, can you please provide Environment details by running `gatsby info --clipboard`? Also, it would be great if you can provide us with a reproduction repo to reproduce this, so it would be much easier to diagnose this issue.

[2018-09-12 08:53] kakadiadarpan commented on #8071
Hi @sa3idatol, can you please provide more details on the issue you are facing? Also, please provide the environment information by running `gatsby info --clipboard`?

[2018-09-12 08:56] kakadiadarpan commented on #7695
Reproduction repo -> https://github.com/kakadiadarpan/gatsby-issue-7695

[2018-09-12 08:58] emman24 commented on #8073
Hi @kakadiadarpan  Thanks for the quick response here is the repo https://github.com/emman24/gatsbyimage.git hope you can help me

Environment
 System:
    OS: Linux 4.15 Ubuntu 16.04.5 LTS (Xenial Xerus)
    CPU: x64 AMD A6-5400K APU with Radeon(tm) HD Graphics
    Shell: 4.3.48 - /bin/bash
  Binaries:
    Node: 10.10.0 - /usr/bin/node
    Yarn: 1.9.4 - /usr/bin/yarn
    npm: 6.4.1 - /usr/bin/npm

[2018-09-12 09:31] Undistraction commented on #8062
@kakadiadarpan There is a repo [here](https://github.com/Undistraction/gatsby-transformer-json-bug) that clearly shows the problem. It's based on the default starter with very minimal changes.

I just added:

[code]

And some json files.

Full instructions for install and a link to the live graphql query that shows the problem are included in the README. Let me know if you need anything else.

[2018-09-12 09:33] jquense commented on #8047
I think this is relevant to gatby as it enables RHL and while there are some workarounds it doesn't feel very polished for the router to API to basically not work, even if it is a dependency. A user isn't going to care who's library it is when upgrading.

[2018-09-12 10:16] kakadiadarpan commented on #8070
cc @pieh

[2018-09-12 10:17] kakadiadarpan commented on #8051
cc @pieh

[2018-09-12 10:33] pieh commented on #8049
I took a look and it seems like nodes that miss `summary_nodes` in graphql output just don't have `summary_nodes___NODE` defined when creating them - I've added some debugging helper code:
[code]
and result is:
![screen shot 2018-09-12 at 12 30 48](https://user-images.githubusercontent.com/419821/45419515-d24e7f00-b687-11e8-95a7-505188b65aaa.png)

Which match output from graphql (those are nodes t

[2018-09-12 10:37] rehat101 commented on #7870
@merelinguist I don't happen to see the flash anymore. I wonder why

[2018-09-12 10:55] pieh commented on #8047
@ryanflorence Any thoughts on this?

[2018-09-12 10:59] oorestisime opened #8074 "[gatsby-tranformer-remark] Extend node test is working properly"
## Description

In the extend node tests https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/__tests__/extend-node.js#L88 `result.data.listNode.excerpt` is undefined since listNode is in fact a list. To the very least we should use `listNode[0].excerpt`.

But the issue is deeper than this. The test seems to pass without running the assertion and the excerpt even i

[2018-09-12 11:03] sw-yx commented on #6137
may still want to keep this one open @KyleAMathews unless theres an umbrella issue somewhere for fixing the redux devtools?

[2018-09-12 11:09] pieh commented on #7149
Following sample code from issue description:

[code]
Is this example readable for You guys?

[2018-09-12 11:32] pieh commented on #8051
I'm not sure but probably wordpress plugin doesn't expose that information now. If anyone would like implement that - here's where to start:
https://github.com/gatsbyjs/gatsby/blob/b3bab8edd7d790a6a15706fe0076691ca02164ac/packages/gatsby-source-wordpress/src/fetch.js#L73 Here we are hitting main REST endpoint - and for now we use that only to get list of available endpoints - but we could use that

[2018-09-12 11:42] pieh commented on #8070
It sounds like we will need to update `gatsby-source-contentful` plugin to handle that and create links for those records (instead of returning ids).

@Khaledgarbaya any thoughts on that? Is it doable in plugin?

[2018-09-12 11:58] kakadiadarpan commented on #8053
I'm able to reproduce this and getting it on the first run and every time `.cache` the directory is cleared.

[2018-09-12 12:07] Kadrian commented on #1875
Would it make sense to support something like `withRouter` then, to avoid passing location all the way down?

[2018-09-12 12:27] Khaledgarbaya commented on #8070
👋 wow, you folks are moving very fast 😅 I am actually working on that as we speak to add support for the source plugin.

I will add the new field type to the source plugin then after that, I will create a new transformer plugin to parse the field to HTML and append it to the node. Similar to what we do with markdown.

Cheers,
Khaled

[2018-09-12 12:29] pieh commented on #7870
In v2 we recently merged https://github.com/gatsbyjs/gatsby/pull/7912 which should fix this issue in case if any of you use gatsby v2 - please try to update `gatsby-plugin-styled-components` and check if it works

[2018-09-12 12:37] dspacejs opened #8078 "How can I use gatsby-image image optimisation inside a nested query?"
## Summary

## Relevant information

I'm using `gatsby-transformer-yaml` to load some data from a file, `portfolio.yaml`:

[code]
As shown, each item contains an `image` field, which is a path to an image.

This is fine and I can easily query this with the following:

[code]

The problem is I'm using `gatsby-image` to handle image optimisation, which I want to apply to the `image` field.

I'm doin

[2018-09-12 13:02] koreyboone opened #8079 "[v2 rc]Typography not injected into head correctly when serving production build"
## Description

When serving gatsby from static build, typography gets injected into the head as
`<style id="typography.js">[object Object]</style>`
but when using gatsby develop, the css is injected properly within the style tag.

### Steps to reproduce

Create typography.js file containing:
[code]

Follow remaining set-up instructions for typography.js and gatsby-plugin-typography.
Run gatsby bu

[2018-09-12 13:09] jquense opened #8080 "[v2] `gatsby serve`bugs"
Running the latest v2 rc:

- ~~`ctrl +c` doesn't exit the server~~ this seems to be just me
- client paths aren't handled and result in a 404, might need the history fallback middleware
- keeps trying to send a non-existent 404 page on any client route'

maaaybe more, still checking

[2018-09-12 13:27] tpolovyi commented on #8047
[This](https://github.com/gaearon/react-hot-loader/tree/master/examples/hotCold) example may be useful as a temporary solution with no need to make the workaround mentioned above.

[2018-09-12 13:29] sw-yx commented on #7634
hey @eqyiel, just wanted to say thanks for replying my question so nicely :) i used this code and unfortunately ran into pretty gnarly babel/webpack problems so i ended up deciding to rewrite the whole app in react-static rather than go through with the v1 to v2 upgrade. cheers though. closing this hopefuly if others need to upgrade they can find yoru advice helpful

[2018-09-12 13:29] #7634 closed

[2018-09-12 13:41] tyocca commented on #8071
I am running into the same issue so I figured I would add my `gatsby info` results.

[code]

### [Suggested API Replacements](https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5)
- gutil.File => https://www.npmjs.com/package/vinyl
- gutil.replaceExtension => The .extname property on Vinyl objects or https://www.npmjs.com/package/replace-ext
- gutil.colors => https://www.npmjs.com/package/ansi-colors

[2018-09-12 14:07] lazharichir commented on #4190
Same... Switching the blog to private gives me:

[code]

[2018-09-12 14:11] RobertWSaunders opened #8084 "Unit testing docs produce broken project after following steps"
## Description

I'm looking to use Jest in my project for testing. After following the [Unit Testing](https://www.gatsbyjs.org/docs/unit-testing/#unit-testing) documentation with a fresh project I get errors when trying to run either `npm run build` or `npm run develop`, i.e. the site will no longer build. I have a feeling that the errors are linked to competing Babel configuration between Jest an

[2018-09-12 14:14] RobertWSaunders commented on #6170
Agreed, this would be super useful! Setting up Jest in my project has been a pain and this would help streamline things while also being more explicit about what is happening behind the scenes. 👍

[2018-09-12 14:18] Undistraction opened #8085 "plugin-netlify-cms: Post Login Callbacks Not Added on /admin/ Page"
## Description

The plugin should add a callback to handle redirects to `/admin/` after a user logs in (use of callbacks is outlined in Netlify CMS docs [here](https://www.netlifycms.org/docs/add-to-your-site/#add-the-netlify-identity-widget)), however this callback is not added, so nothing happens after a user logs in. They have to refresh the page to access the admin panel.

The relevant code is

[2018-09-12 14:51] clarkd commented on #2819
I'm still seeing this issue on Windows:
[code]
[code]

Any ideas?

[2018-09-12 15:00] lazharichir commented on #4190
I fixed it by editing fetcher.js and replacing:

[code]
with...
[code]

[2018-09-12 15:16] avigoldman opened #8086 "Transformed nodes don't update when queried by ID"
## Description

When querying for transformed nodes by ID, the content initially loads correctly but doesn't receive any updates made to the file, even after refreshing the page. If the node is queried for by any other field, it works correctly.

This was originally reported in https://github.com/ChristopherBiscardi/gatsby-mdx/issues/89

### Steps to reproduce

1. Clone https://github.com/Christop

[2018-09-12 15:29] jonearley commented on #7642
I also had this issue and resolved it by setting `NODE_ENV` to `development`.

[2018-09-12 15:33] erquhart commented on #8085
To clarify, the code mentioned above does work, just not on the CMS page itself. It's purpose is to redirect users who have just signed up for CMS access and arrive at the site via verification link, which goes to the site root and needs to be redirected to /admin once authenticated.

The goal of this issue is to add this script for the admin page itself.

[2018-09-12 15:38] rehat101 commented on #7870
The update fixed the problem, thanks!

[2018-09-12 15:38] #7870 closed

[2018-09-12 16:03] berraknil commented on #7895
- [ ] Change the text in Become a Creator depending on the page

- [ ] Responsive Design elements like wrap grid items (also give them margin bottom) alongside mobile layout

[2018-09-12 16:12] shannonbux commented on #7980
Yes, "Featured Categories" is a much more accurate name! Thanks
@riencoertjens!

On Sat, Sep 8, 2018 at 5:17 PM, Rien Coertjens <notifications@github.com>
wrote:

[2018-09-12 16:21] shannonbux opened #8087 "starter showcase - change the index page URL from /starter-showcase/ to /starters/"

[2018-09-12 16:32] edsu opened #8088 "static assets and gatsby-plugin-offline"
## Summary

I'm trying to use gatsby-plugin-offline to preload an image in my static directory.

## Relevant information

I've got a small test repo here that demonstrates what I'm trying to do:

https://github.com/edsu/test-offline-static

On the advice of someone in Discord chat I tried to modify `navigateFallbackWhitelist` in the `gatsby-config.js`. The image displays fine under `gatsby develop

[2018-09-12 16:48] ciokan commented on #8070
@Khaledgarbaya any time you have something functional please share. I'm happy to work even with untested code just to move forward with my project :) Thank you for taking on this so fast!

[2018-09-12 18:08] antonmedv opened #8089 "Titles aren't rendered when opening pages in the background using plugin-offline"
## Description

No title if Gatsby app is opened in the background.

### Steps to reproduce

1. Install next Gatsby
2. `gatsby new title` && `cd title`
3. `gatsby develop`
4. Open link in the background
5. Check for the title in the tab

### Expected result

title is set.

### Actual result

no title

### Environment

<details>
  <summary>gatsby info --clipboard</summary>

  System:
    OS: macOS

[2018-09-12 18:14] sparshy commented on #6046
@nikbelikov  Even I am curious how we can index these dynamic pages for SEO. Did you find a possible solution for this?

[2018-09-12 18:43] Mokkapps opened #8090 "Showcase Gatsby starters the same way as Gatsby showcase site"
## Summary

I often use the [Gatsby starter page](https://next.gatsbyjs.org/docs/gatsby-starters/) to search for new and interesting starter projects.

Unfortunately, it is a pain to search for projects. I would love to see a similar view like in the [showcase site](https://next.gatsbyjs.org/showcase/) where I see a preview and can filter by category.

### Motivation
I hope this will help many peo

[2018-09-12 18:43] agarrharr opened #8091 "Can I use gatsby-remark-responsive-iframe in gatsby-node.js?"
I'm getting some markdown data from Contentful, and then transforming some of it with remarkable in `gatsby-node.js`:

[code]

[code]

Sometimes the `description` contains an iframe, such as an embedded YouTube video. I would like to make this responsive automatically. Can I use `gatsby-remark-responsive-iframe` to do this?

[2018-09-12 18:55] stefanprobst opened #8093 "Crash when createPage context contains Symbol"
## Description

Gatsby crashes when `context` in `createPage` contains a `Symbol` (e.g. when trying to pass a React element via `context`).
This happens [when `inferGraphQLType` calls `DateType.shouldInfer`](https://github.com/gatsbyjs/gatsby/blob/ef33c88d949c9829bd93e7900bcda590b45a529c/packages/gatsby/src/schema/infer-graphql-type.js#L96). The actual crash is because momentjs tries to concatenat

[2018-09-12 18:56] pieh commented on #4190
Would you be willing to open PR with your change @lazharichir?

[2018-09-12 19:00] pieh commented on #7642
I think it might come from here https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/create-cli.js#L126 - we should just set it directly to `development` for `gatsby develop` instead of checking if NODE_ENV is already set - right now we really rely on this not being `production` for development (this will only affect gatsby process)

[2018-09-12 19:12] pieh commented on #8090
It's being actively worked on - it's just not quite ready yet (automatisation needed to grab all the data is not quite working yet) but you can check preview - https://next.gatsbyjs.org/starter-showcase ;)

[2018-09-12 19:12] #8090 closed

[2018-09-12 19:48] zauni commented on #8078
Hey @dspacejs

did you try to change the query to something like this:

[code]

You could try the query in GraphiQL (http://localhost:8000/___graphql) and hover over the "image" key. If it says that it is a `File`, then you're lucky and you can use childImageSharp directly unter the image key.

Is it working like that?

[2018-09-12 20:07] zauni commented on #8071
Unfortunately this is a subdependency of imagemin-pngquant, even in the latest version.

This is the `npm ls gulp-util` output:

[code]

So we have to wait until gulp-decompress is not using gulp-util anymore.

[2018-09-12 20:23] eallencreighton opened #8096 "Hot Reloading not working on Hello World starter"
## Description

Hot Reloading not working on Hello World starter

### Steps to reproduce
Command line:
gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world#v2
cd hello-world
gatsby develop

Change content in src/pages/index.js

### Expected result

Content change appears in browser

### Actual result

Change does not appear, must manually refresh the page to see changes.

[2018-09-12 20:27] jonearley commented on #7543
Still having this issue. Added a link to the repo to reproduce. @Chuloo

[2018-09-12 20:45] jameskhamil commented on #7935
I would like to know this too. It look like so much work to get custom blocks working with gatsby and wordpress. Probably not worth the effort at this point.

[2018-09-12 20:50] elebumm commented on #8096
Is this not working in just the hello-world starter?

[2018-09-12 20:58] pieh commented on #8093
Hmm, it's not great that it crashes - but even if it didn't crash - context gets serialized and saved to .json file so I'm not sure if you actually would be able to use that in your component even if it didn't crash

[2018-09-12 21:00] eallencreighton commented on #8096
That's all I've tired so far.  Started with the older version tutorial, then switched after comments here said it was fixed in v2.

[2018-09-12 21:08] pieh commented on #8093
Also just to be clear here - it crashes during graphql schema construction - so crash definitely need to be fixed. But `pageContext` prop that is available in page componets is separate issue (graphql schema construction stuff isn't involved there) related to serializing pageContext objects and saving it to json file - I don't think you can serialize and deserialize Symbols?

[2018-09-12 21:13] fk opened #8097 "[starter-showcase] Card layout realign"
#7998 by @riencoertjens sparked a [great discussion](https://github.com/gatsbyjs/gatsby/pull/7998#pullrequestreview-153566767) about realigning the elements of the "Starter Showcase" list view cards.

The following shows the proposed changes to the starter showcase:

![45269016-8da7c580-b486-11e8-9c7b-dd5fdbe52bfd](https://user-images.githubusercontent.com/21834/45453281-add2c100-b6e0-11e8-9a79-b5

[2018-09-12 21:18] DSchau commented on #8078
Excellent answer @zauni :)

That's exactly what I was going to say. The image _should_ be a node of type `file` so you should be able to use childImageSharp if the image ends in an image extension (jpg,jpeg,png,etc.)

I'm going to close this as answered, but please re-open or continue the conversation if you need more assistance. Thanks!!

[2018-09-12 21:19] fk opened #8098 "[site-showcase] Add "link to site" icon button to cards"
#7998 by @riencoertjens sparked a [great discussion](https://github.com/gatsbyjs/gatsby/pull/7998#pullrequestreview-153566767) about realigning the elements of the "Starter Showcase" list view cards.

@riencoertjens wondered why the "Site Showcase" cards don't yet have a "link to site" "icon button" similar to the "Starter Showcase" cards, allowing the user to visit the site without having to clic

[2018-09-12 21:52] fk commented on #8087
Thanks for opening this, Shannon! 🙏

FWIW here's my reasoning from an internal discussion:

and one more from Shannon:

[2018-09-12 21:56] jlengstorf commented on #1875
@Kadrian It turns out that's already supported!

Starting in Gatsby V2, you can use the [`Location` component from `@reach/router`](https://reach.tech/router/api/Location) to grab the location data from anywhere in your app.

[code]

[2018-09-12 22:31] jonhorton opened #8099 "Add support for Google Optimize within the Google Analytics plugin"
## Summary

Within the Google Analytics Plugin, there isn't currently a way to specific a Google Optimize container id to allow for easy A/B testing.

### Basic example

Here's a link to the Google Optimize recommended setup: https://support.google.com/optimize/answer/6262084?hl=en

This method basically boils down to adding `ga('require', 'GTM-XXXXXX');` where GTM-XXXXXX is the container id. Here

[2018-09-12 22:53] mixolydian251 opened #8100 "Is Gatsby-image supposed to serve larger images on mobile than on desktop?"
## Summary

I was taking a peek at the images served using gatsby-image and noticed that images that are served to mobile are larger than the images served to the desktop browser. Is this a bug, or a limitation on mobile devices?

## Relevant information

I first noticed this on my own site, but saw that the [gatsby-image demo](https://using-gatsby-image.gatsbyjs.org/blur-up/) was producing the sa

[2018-09-12 23:43] NathHorrigan opened #8101 "touchNode causes error: ' TypeError: Cannot read property 'internal' of null'"
## Description

I'm writing a plugin and require to stop nodes from being garbage collected. However the `actions.touchNode` function seems to crash as if the id I'm passing is incorrect.

### Steps to reproduce

Heavily Simplified but still crashes:
[code]
### Environment

[code]

[2018-09-12 23:44] NathHorrigan commented on #8101
It seems that doing the following does not cause a crash:
[code]
This leads me to believe this might be JS issue???

[2018-09-12 23:57] redstubble opened #8102 "How to turn off Hot Module Replacement in Gatsby (v2) development"
Implementing [react-pdf](https://github.com/wojtekmaj/react-pdf) with Gatsby v2.
The project requires a pdf.worker.js file from pdfjs-dist/build which is copied to the project's output folder.
The worker generates the error  "the window is not defined".

It works fine when deployed.

a) How do I turn off HMR in development mode?
b) How do I begin to troubleshoot window not defined in a worker.js f

[2018-09-12 23:58] KyleAMathews commented on #8102
How are you adding it to your site?

[2018-09-13 00:10] 07Gond commented on #5329
Hey @KyleAMathews Maybe I can work on this.
Do you have some steps of how I can reproduce it?

[2018-09-13 00:17] 07Gond commented on #7986
Maybe we can specify the version and model of iPhone and iOS?
I tried this on iPhone 7 & 8 and everything is ok.

[2018-09-13 00:29] shannonbux opened #8103 "Content migration overview issue"
## Summary

Lots of content in our blog, plugin and starter READmes, and other external resources have valuable content we could pull into the docs.

1. If you'd like to write one of these docs, pick one from the list below
2. Then click on this URL to check what existing content can be repurposed in the article you're writing: https://airtable.com/shrU9erBeq1lhDy1Z
4. Then, open a PR with your ar

[2018-09-13 00:29] shannonbux commented on #8103
@calcsam

[2018-09-13 00:50] dspacejs commented on #8078
@zauni thanks for the help, I just tried that query and it's throwing the following error:

[code]

One potential solution I can think of is to create two separate queries; one for fetching the data from `portfolio.yaml`, the other for fetching the images using `gatsby-image`, and then merging the two results afterwards.

It's not ideal, but I can't think of how else to get this to work, so it sho

[2018-09-13 01:04] redstubble commented on #8102
Hi Kyle, thanks for your great work on Gatsby. I have amended my post to include how it is being added to the site.

[2018-09-13 03:39] dspacejs commented on #8078
@DSchau can this issue please be reopened?

[2018-09-13 03:41] DSchau opened #8105 "gatsby-image@next breaks traced svg effect"
Reproduction ->
https://using-gatsby-image.gatsbyjs.org/traced-svg

I’m on my phone away from wi-fi but pretty sure the PR I merged that moved to a picture tag messed with things.

I’ll take a look tomorrow!

[2018-09-13 03:48] DSchau commented on #8105
Now I can’t replicate 🙄

Think it may have something to do with the plane’s (lack of) network. I’ll take a second glance tomorrow and write an e2e rest just to be sure!

[2018-09-13 03:48] #8105 closed

[2018-09-13 04:28] didacta commented on #8103
### Deploying to S3/Cloudfront
  ![Deploying to S3/Cloudfront](https://www.gatsbyjs.org/static/gatsbyaws-edb4966c5558dff09d460535dd28263d-00eda.jpeg)

In this post, we’ll walk through how to host & publish your next Gatsby
site to AWS using [AWS Amplify](https://aws-amplify.github.io/).

AWS Amplify is a combination of client library, CLI toolchain, and UI
components. Amplify allow developers to g

[2018-09-13 04:32] kakadiadarpan commented on #8099
We'd love to have your help, @jonhorton! Please feel free to submit a PR since you already know what changes to make.

[2018-09-13 04:54] kakadiadarpan commented on #8096
I'm not able to reproduce this issue in Mac OS. Is this issue specific to windows?

@eallencreighton would it be possible for you to check this on any other OS? Unfortunately, I don't have any other OS with me.

[2018-09-13 05:17] mixolydian251 commented on #8100
hmm interesting.. Which OS are you running?

I am on MacOS Sierra, and have a team member running a linux dist that has been seen the same issue.

Here is another live screenshot of the issue on my end.

![gatsby_image](https://user-images.githubusercontent.com/29786209/45468379-5a696e80-b6f2-11e8-832c-5d75166dafc7.gif)

[2018-09-13 05:18] kakadiadarpan commented on #8089
Hi @antonmedv, this happens only in `develop` mode, not for the production build. Correct?

[2018-09-13 05:34] kakadiadarpan commented on #8100
I'm on MacOS High Sierra.

[2018-09-13 05:34] kakadiadarpan commented on #8100
cc @pieh @m-allanson

[2018-09-13 05:41] antonmedv commented on #8089
Here is my production: https://medv.io
Same results.

[2018-09-13 05:42] antonmedv commented on #8089
Code https://github.com/antonmedv/medv.io

[2018-09-13 05:42] mixolydian251 commented on #8100
Although it looks like on on Firefox I am getting different results.

First image is smaller on mobile, while 2nd stays the same.

![gatsby_image](https://user-images.githubusercontent.com/29786209/45469106-285a0b80-b6f6-11e8-9278-ed12b8d5e119.gif)

[2018-09-13 05:48] SimonIMG commented on #6984
Props (\*_giggle_\*) to @nik-s  for sharing that function.

I was able to generate my pages with that addition to my WP `functions.php`, but my next issue was: **how to get the Gatsby website's menu to generate the correct nested URL paths**.

I've got the _WP REST API Menus_ plugin installed in my WP backend so I can dynamically generate the main menu of my Gatsby site from the `main-nav` configu

[2018-09-13 05:57] kakadiadarpan commented on #8079
@koreyboone, can you please provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-13 06:11] kakadiadarpan commented on #8080
Hi @jquense, can you please provide more information on this? Also, I'm able to successfully exit the server using `ctrl + c`.

[2018-09-13 06:18] kakadiadarpan commented on #8074
Hey @oorestisime! Thank you for opening a PR to fix this issue.

[2018-09-13 06:36] kakadiadarpan commented on #7576
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-13 06:37] kakadiadarpan commented on #2577
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-13 06:37] #2577 closed

[2018-09-13 06:40] kakadiadarpan commented on #7155
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-13 06:40] #7155 closed

[2018-09-13 06:43] kakadiadarpan commented on #7479
Hi @lesliecdubs, can you try upgrading to v1.9.277 as @thedistricts suggested? That should fix the issue for you.

(If you disagree, feel free to re-open 😄 and we can look further)

[2018-09-13 06:43] #7479 closed

[2018-09-13 07:11] kakadiadarpan commented on #8084
Hi @RobertWSaunders, I was able to setup unit testing with v2. You can check the repo [here](https://github.com/kakadiadarpan/gatsby-v2-jest-test).

I think the repo you provided is broken because of the incorrect dependencies. Gatsby v1 uses babel `v6`, while in the documentation for [Unit testing](https://www.gatsbyjs.org/docs/unit-testing/#unit-testing) it mentions `v7`.

@pieh @m-allanson any

[2018-09-13 07:58] lazharichir commented on #4190
Done - #8110 (my first time contributing, so I hope it's done properly)

[2018-09-13 08:35] m-allanson commented on #8084
Hmm this looks like a mistake in Gatsby's docs. The unit testing guide was [recently added to the docs for Gatsby v2](https://github.com/gatsbyjs/gatsby/pull/6678). It looks like the guide was then copied over to the v1 docs, which unfortunately doesn't work with Gatsby v1.

I can get your example project to build by changing the following in your package.json.

[code]

[2018-09-13 08:39] m-allanson commented on #8084
I've opened a PR to remove the guide from the v1 docs: https://github.com/gatsbyjs/gatsby/pull/8112

[2018-09-13 08:52] Khaledgarbaya commented on #8070
Hey @ciokan,

The feature is still in Alpha and can change any time.
I will keep y'all posted

Best,
Khaled

[2018-09-13 08:58] sagarmunjal opened #8113 "Getting an error while using dangerouslySetInnerHTML"
I understand Javascript syntax and how values are being passed. My intention was to run a basic blog. After a little research I could find that `dangerouslySetInnerHTML` could increase the potential for an XSS attack. I am not planning to learn more but only willing to find an alternative for this.

Currently I have a blog-post.js file.

[code]

Because of which I am getting the error. I am not mu

[2018-09-13 09:10] emman24 opened #8114 "Getting error on Gatsby Build"
I'm having issue on gatsby build it throws Module not found ...

![screenshot from 2018-09-13 17-07-07](https://user-images.githubusercontent.com/25625894/45478878-8b3fb700-b777-11e8-852d-4b97cfa5b2f4.png)

but when I run gatsby develop its working smooth.

I Tried the debugging it as what on the docs  https://www.gatsbyjs.org/docs/debugging-html-builds/

but no luck at all ...

[2018-09-13 09:12] kakadiadarpan commented on #8085
cc @pieh @m-allanson @KyleAMathews

[2018-09-13 09:18] kakadiadarpan commented on #8114
Hi @emman24, from the screenshot the only thing I can infer is that a module is missing: [`tween`](https://www.npmjs.com/package/tween). Please try installing that and check if that works.

If it doesn't work please provide a reproduction repo and relevant environment info by running `gatsby info --clipboard`.

[2018-09-13 10:50] emman24 commented on #8114
@kakadiadarpan Thanks this code helps me :+1:

`exports.modifyWebpackConfig = ({ config, stage }) => {
  if (stage === 'build-html') {
    config.loader('null', {
      test: /scroll-to/,
      loader: 'null-loader',
    });
  }
};`

[2018-09-13 10:59] Kadrian commented on #5656
Hey, I've been using [connected-react-router](https://github.com/supasate/connected-react-router) before to dispatch redux actions like `push()`. Is there a way to do this with reach router?

[2018-09-13 11:27] koreyboone commented on #8079
No I cannot. It is a company project and the source code is not public. I can provide whatever snippets are needed though. I'll try creating a brand new project with the same versions and see if this is happening.

[2018-09-13 11:44] Kadrian opened #8115 "Plan for PageRenderer"
I'm building something similar to the Gatsbygram example, using a modal with a URL that renders the page below.

I'm wondering: Will `PageRenderer` be the way to go in the future? How to use it then? I couldn't find any documentation for it in the v2 API reference.

[2018-09-13 11:51] garethgd opened #8116 "[gatsby-source-wordpress] localFile field null on images in ACF fields on netlify deploy"
I'm using the gatsby wordpress plugin to retrieve my posts from my hosted WP site. Locally, gatsby build works fine and all my ACF fields are retrieved. However, on my Netlify deploy the property local file seems to be null. With other fields ACF fields being retrieved correctly.

Here is my GraphQL query:

[code]

I have already implemented the nullify function in my Wordpress function file refer

[2018-09-13 12:41] eallencreighton commented on #8096
That's right.  I just tried it on my Mac at home--no problem!  But it's not working on my Windows 10 machine at work.

[2018-09-13 12:41] dantesolis commented on #7986
I could take this issue, if no one is working on it :)

[2018-09-13 12:48] stefanprobst commented on #8100
This is very probably because of Device Pixel Ratio. What happens in Firefox when you select a specific device?

[2018-09-13 13:02] koreyboone commented on #8079
I figured it out. Seems to be a bug with typography@1.0.0-alpha.4, when I go back to typography@0.16.17 It works fine. Is this still considered a bug?

[2018-09-13 13:14] sivagao commented on #8046
@kakadiadarpan found how to reuse fragment. but i don't find any example for reusing query with variable(like function with parameters).  newbie to gatsby's graphql

[2018-09-13 13:28] riencoertjens commented on #7785
coming from #7998 while changing the layout of the showcase items I added a v2 label in the new layout. Adding the label to the bottom row adds a bit too much clutter down there for my liking and both the starter name and description occasionally take up too much space to fit the label. so unless the author has an unreasonably long name this seemed the best place to put it. I'll make a pr if this

[2018-09-13 13:48] RobertWSaunders commented on #8084
Awesome, thanks @m-allanson and @kakadiadarpan! I got it to work using your suggestions. I should really just migrate to v2 but I'm hesitant only because its still in beta! Thanks for the fast reply! 🔥

[2018-09-13 13:49] DSchau commented on #8084
I merged that PR, so I think we're good here :)

Thanks for the fix @m-allanson, and thanks for confirming @RobertWSaunders!

[2018-09-13 13:49] #8084 closed

[2018-09-13 13:50] Kadrian commented on #7332
@Chuloo I've experienced the same error just now, but not based on any tutorial. I had deleted the `public` folder manually before, because I saw some old files from previous builds in there. But I hadn't deleted the `.cache` folder. Deleting the `.cache` folder worked as well.

That brings up some questions:
- Why isn't `gatsby build` deleting the public folder?
- Should the user delete the `publ

[2018-09-13 14:18] jquense commented on #8080
@kakadiadarpan you're right it seems like something is funky in my env that it's not exiting. The other two issues are still relevant tho. I can hopefully throw a fix together for it

[2018-09-13 14:52] mixolydian251 commented on #8100
Yes, looks like DPR is causing the image size to scale up as the ratio increases. From what I am seeing mobile devices tend to have higher ratios.

On my screen it looks like the pixel ration is close to 1. When simulating mobile DPR increases *and changes when switching devices*. Thus the increase in file size?

@kakadiadarpan What device are you simulating in devtools? If you are using a retina

[2018-09-13 14:57] sparshy commented on #8113
No worries, be careful next time.

[2018-09-13 15:00] pieh commented on #8114
@kakadiadarpan this follow this guide https://next.gatsbyjs.org/docs/debugging-html-builds/ - using `null-loader` for `build-html` makes that package is not actually loaded during static html generation (which prevent any crashes caused by using browser APIs in Node.js context)

[2018-09-13 15:00] #8114 closed

[2018-09-13 15:02] pieh commented on #8115
Would you be interested in creating docs for it? This is component publicly exported from `gatsby` package - so at least for v2, it's ok to use it.

[2018-09-13 15:11] #7261 closed

[2018-09-13 15:16] #8093 closed

[2018-09-13 15:28] schalkventer opened #8122 "Expose an API for manually triggering prefetching for a pathname"
## Summary

Currently there is no way to programmatically trigger the prefetching  done for a pathname when the `<Link>` component is mounted.

### Basic example

[code]

[code]

### Motivation

Developers might want to leverage prefetching when programmatically triggering `navigate`.

[2018-09-13 15:32] zebapy commented on #6131
I have not gotten to this so anyone else can claim if they want

[2018-09-13 15:34] DSchau commented on #7590
@pieh just so we're clear here, you're suggesting that we shouldn't rely on onRouteUpdate to be called, and should instead solve the hash navigation problem differently (i.e. with a custom script or something) in this plugin?

[2018-09-13 15:37] edsu commented on #8088
I thought the `gatsby-plugin-offline` plugin was to help building progressive web apps? Isn't being able to tell the client to prefetch media used on other pages part of what doing PWA is? I'll admit I'm kind of new to this topic.

[2018-09-13 15:41] owenhoskins commented on #5183
Interesting to hear you are facing the same issue @Kadrian. I didn't find a solution per say, but following the advice of this https://github.com/ReactTraining/react-media/issues/81#issuecomment-387810514 I simply stopped trying to server render my components. I am not entirely comfortable with it and would be very interested in a solution which involves responsive server rendering down the line.

[2018-09-13 16:11] 07Gond commented on #7986
@dantesolis Did you reproduce the bug? I can't.

[2018-09-13 16:13] wiched opened #8124 "Different image sizes problem with gatsby-transformer-sharp"
Hey guys,

I am trying to optimize my website with Gatsby and gatsby-transformer-sharp.
my images are resizing on mobile but on a desktop, the image is not contained in the container and its full size and breaking everything.
I am on gatsby v2.

Relevant codes:
[code]
[code]
[code]

https://www.prettystyle.store/services/ - live build url

Project repo: https://github.com/wiched/gatsby
Best regard

[2018-09-13 16:16] alexandernanberg commented on #7590
Wouldn't the best way be to use the `Location` component from `reach/router`? Not 100% sure if it's possible to implement it like that in the plugin tho

[2018-09-13 16:19] DSchau commented on #7590
Meaning use that instead of the a tag? Not possible afaik, but we probably _can_ use something from react/router to enable this functionality a little more cleanly.

[Here's the relevant snippet where the link is added](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-autolink-headers/src/index.js#L28-L46)

[2018-09-13 17:13] sarahannnicholson commented on #7293
I am seeing this as well, I thought I'd add to the details.

version:  gatsby@2.0.0-rc.21

When I run the command `npm list tunnel-agent` I get the following:
<pre>
my_project@1.0.0 /mnt/d/MyProject
├─┬ gatsby@2.0.0-rc.21
│ └─┬ request@2.88.0
│   └── tunnel-agent@0.6.0
├─┬ gatsby-plugin-manifest@2.0.2-rc.1
│ └─┬ sharp@0.20.8
│   ├─┬ prebuild-install@4.0.0
│   │ └── tunnel-agent@0.6.0  deduped
│

[2018-09-13 17:27] JanLenoch commented on #8049
Hi @pieh ,

Thanks for looking into it! The fields aren't there but still, this is not the root cause.

That absence of the `summary_node____NODE` field is only caused by my adding a check for `property.modular_content.length > 0` in [normalize.js](https://github.com/Kentico/cloud-gatsby/blob/master/plugins/gatsby-source-kentico-cloud/normalize.js#L98) before submitting this issue. That check was

[2018-09-13 17:31] pieh commented on #8049
is `node.internal.contentDigest` changed when after removed that check? because gatsby will keep nodes data in `.cache` directory and it will not mark nodes as dirty if `contentDigest` is same in next run - as quick check - try deleting `.cache` directory and run `gatsby develop` again and see if things will show up then

[2018-09-13 17:33] eLod opened #8125 "OOM issues with markdown content"
## Description

gatsby build (and develop) dies with oom with ~800 somewhat heavy markdown content, only used plugins are fs-source and remark.

### Steps to reproduce

See repo at https://github.com/eLod/gatsby-bench

cc @pieh

[2018-09-13 17:34] williamtstanley opened #8126 "[gatsby-plugin-manifest] Error: Array Methods must be provided an Array"
https://github.com/gatsbyjs/gatsby/issues/4865

## Description
Attempting to add manifest plugin following the 'Automatic' settings from the documentation.

### Steps to reproduce

`npm install --save gatsby-plugin-manifest`

Added plugin settings to config:
[code]

### Expected result
Plugin generates valid manifest for the site as per documentation

### Actual result
Build fails with:
[code]

##

[2018-09-13 17:38] williamtstanley commented on #8126
Follow up: If I manually add the "default" list of icons to the settings it works as expected.

[2018-09-13 17:41] JanLenoch commented on #8049
I've run the bootstrap again to no avail. Still no relationship to the `e593817b-80d2-5cd5-acf2-b81cf4950786` node.

[2018-09-13 17:44] pieh commented on #7590
I think we can hook into `@reach/router` history and listen to it in `gatsby-browser`. Alternatively we can look into `shouldScrollUpdate` in gatsby-browser, but I don't think that's what we want here

`onRouteUpdate` should only be called when actual pathname changes (so page changed) - this is for page tracking and stuff like `gatsby-plugin-twitter` which manipulate DOM after new page has loaded

[2018-09-13 17:54] alexandernanberg commented on #7590
No not really, the `Location` component consumes the router context, like this https://reach.tech/router/api/Location. So I was thinking if we could replace the `onRouteUpdate` with that, but as @pieh said it's probably better to just listen to the history from the router

[2018-09-13 17:59] hassanshaikley opened #8128 "Are there page change handlers?"
If not, how could I go about setting these up?

Just want to execute arbitrary code upon page load - for every page.

[2018-09-13 18:04] zauni commented on #8078
@dspacejs Can you try to change the filepath to a relative path inside the yaml file?

Maybe `image: ./portfolio/trausing.png` is working better.

[2018-09-13 18:07] jonniebigodes commented on #2940
@KyleAMathews and to whom it may concern. i saw this issue being bounced around a bit so i took a crack at it. Grabbed the example from redux and implemented it using mobx i have a working example in [here](https://github.com/jonniebigodes/gatsby-example-mobx) . If you guys want it add that to the examples. Thanks in advance

[2018-09-13 19:35] fabe commented on #8128
You can do this inside `gatsby-browser.js` with [`onRouteUpdate`](https://www.gatsbyjs.org/docs/browser-apis/#onRouteUpdate):

###### gatsby-browser.js
[code]

[2018-09-13 19:45] sarahannnicholson opened #8132 "gatsby-plugin-manifest add .ico format"
## Summary

Since many favicons are in .ico formats, it would be cool for gatsby-plugin-manifest to support .ico formats too.

### Basic example
In `gatsby-config.js`
<pre>
{
        resolve: `gatsby-plugin-manifest`,
        options: {
          name: siteName,
          short_name: siteName,
          start_url: '/',
          display: 'standalone',
          background_color: '#ffffff',

[2018-09-13 19:59] hassanshaikley commented on #8128
Wow. That's nifty.

Thanks

[2018-09-13 19:59] #8128 closed

[2018-09-13 20:53] millette commented on #7293
I attempted to address that in #7740 but I think it needs to be fixed upstream too.

[2018-09-13 21:41] octalmage commented on #7935
I'm not sure what you mean by custom layout blocks. I use Gutenberg to write by blog posts and display them on my site. I have also created custom Gutenberg blocks that are displayed on my Gatsby site. The REST API just returns the generated HTML, then you just display that.

[2018-09-13 21:46] pieh commented on #8049
I think so. I'll close it, but if you run into similiar problems comment here or create new issue :)

[2018-09-13 21:46] #8049 closed

[2018-09-13 21:47] CanRau commented on #6519
@d4h0 wow you just saved my evening sir! 🤗
just ran into the same situation after a huge rebase, hopefully that's the only issue I overlooked^^

[2018-09-13 21:58] octalmage commented on #6508
Looks like post requests are protected by the cookie auth mechanism, you can learn more about this here:

https://developer.wordpress.org/rest-api/using-the-rest-api/authentication/#cookie-authentication

I was able to confirm this by running this JavaScript in my WordPress admin:

[code]

And this returned the post revisions. So unfortunately the wordpress-source-plugin would need to be modified

[2018-09-13 22:03] marisamorby commented on #6728
@jlengstorf: Should this be labeled under Community instead of Open Source?

[2018-09-13 22:09] octalmage commented on #7624
@dbismut I'm not sure if I understand, you built incremental building for the wordpress-source-plugin, or is this unrelated?

[2018-09-13 22:15] marisamorby commented on #7622
@jlengstorf: I believe this epic should be connected with the [EPIC] OSS Process #7583

[2018-09-13 23:04] octalmage commented on #7624
Here's a reference plugin to show how to add a query parameter to the core endpoints:

https://github.com/WP-API/rest-filter/blob/master/plugin.php

We could add a ?since query parameter to be able to grab the posts published "since" a timestamp.

[2018-09-13 23:15] fmorar opened #8135 "Can i upload a Gatsby netlify site into a shared hosting LAMP?"
When i try to do that all img and links are broken
![screen shot 2018-09-13 at 5 14 39 pm](https://user-images.githubusercontent.com/10426338/45520856-8b8c8200-b778-11e8-9b3a-d4b38792049b.png)

[2018-09-13 23:20] pieh commented on #7908
Can this be closed after https://github.com/gatsbyjs/gatsby/pull/8133 was merged?

[2018-09-13 23:27] magicspon opened #8136 "SSR Broken. Only the index/404.js has actual html"
## Description

On build, HTML is only being generated for index.js and 404.js
Example..

Go to https://next.gatsbyjs.org and click on any link.
Turn off js, refresh, boom!
or just view source:
view-source:https://next.gatsbyjs.org/docs/gatsby-link/

`<div id="___gatsby"><div style="outline:none" tabindex="-1" role="group"></div></div>`

### Steps to reproduce

gatsby new my-blog https://github.co

[2018-09-13 23:31] magicspon commented on #8136
ignore... hopefully.... possible user error... cache or something... waaa!

[2018-09-13 23:36] shannonbux commented on #8103
Hi @didacta! Would you mind opening a PR and mentioned this issue #8103 in the PR description to add the doc you added above?

[2018-09-13 23:37] magicspon commented on #8136
Getting different results in firefox and chrome... something strange is happening!

[2018-09-13 23:38] shannonbux commented on #7910
Closed by #8133

[2018-09-13 23:38] #7910 closed

[2018-09-13 23:41] shannonbux commented on #7908
Closed by #8133

[2018-09-13 23:41] #7908 closed

[2018-09-13 23:45] shannonbux commented on #7785
I'm ok with that as long as @fk is!

On Thu, Sep 13, 2018 at 7:28 AM, Rien Coertjens <notifications@github.com>
wrote:

[2018-09-13 23:50] shannonbux commented on #7583
I like these. Only question is actually how someone who isn't super
technical can report bugs (read: me!). I often do sort of QA testing and
don't really have links to a reproduction...Just steps to reproduce the
behavior...

Also, these charts, once finalized, I think could make really good printed
material. There are some things I just like to print and this would be one
of them.

On Tue, Sep 11

[2018-09-13 23:55] shannonbux commented on #5694
@Pr0x1m4 I know this is super late! Any chance you'd still be interested in taking this on now that there's been additional discussion?

[2018-09-14 01:40] dspacejs commented on #8078
@zauni thanks, I just tried that but the same error is present. It's linting the `image` field itself:

![query error](https://user-images.githubusercontent.com/9282837/45524633-9bef3c00-b80e-11e8-9de2-99eaafabf322.png)

[2018-09-14 03:43] dbismut commented on #7624
@octalimage you’re right this is unrelated I’ll remove my post for clarity.

[2018-09-14 04:42] kakadiadarpan commented on #8114
Thanks, @pieh!

[2018-09-14 04:50] rchrdnsh commented on #7986
apologies, it’s an iPhone X running iOS 11.4.1.

[2018-09-14 04:52] kakadiadarpan commented on #8100
@mixolydian251 I have an MBP with a resolution of `2560 x 1600`, and using an iPhone 7 plus for simulation which has a DPR of `3.0`.

[2018-09-14 05:03] kakadiadarpan commented on #8046
@sivagao currently, parameterized fragments are not supported by GraphQL. You can follow the original issue on GraphQL repo here - facebook/graphql#204

[2018-09-14 05:29] kakadiadarpan commented on #8088
@edsu my bad, I missed this earlier. In your `gatsby-plugin-offline` options you need to make the changes as below:
[code]

By default `globPatterns` has this value: `['**/*.{js,css,html}']`, which results in precaching of only JS, HTML and CSS files. With the above code snippet we also added the option of caching `.jpg` files. You can check the generated `sw.js` file inside public folder to know

[2018-09-14 05:29] #8088 closed

[2018-09-14 05:56] palerdot commented on #5694
@shannonbux I came across this issue and I too feel this should be documented. I can take up if there are no takers. I can give a PR. But I do not want to duplicate the efforts if someone else is already working on it. Let me know!

[2018-09-14 06:01] kakadiadarpan commented on #8122
@schalkventer Currently, if anyone hovers over a `Link` component, the resources required for that path are prefetched by default.

@pieh @m-allanson @KyleAMathews any suggestions to leverage prefetching for programmatic navigation?

[2018-09-14 06:04] palerdot opened #8138 "Installing gatsby-cli with yarn does not work"
`yarn global add gatsby-cli`

The above command does not work. I have to use npm (`npm install -g gatsby-cli`) to make it work. Not sure if this issue is consistent across systems.

## Summary

## Relevant information

### Environment (if relevant)
System Details:

System:
    OS: Linux 4.4 Ubuntu 16.04.1 LTS (Xenial Xerus)
    CPU: x64 Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
    Shell: 4.3.46 -

[2018-09-14 06:29] stefanprobst commented on #7585
Can you share an example how to reproduce this? Thanks.

[2018-09-14 06:41] stefanprobst commented on #8124
Any reason you're not using `gatsby-image`?

[2018-09-14 06:41] kakadiadarpan commented on #8136
Hi @magicspon, I'm not able to reproduce this. After following the steps that you provided, when I view the page source for [`http://localhost:9000/hi-folks/`](http://localhost:9000/hi-folks/) I see the following HTML content there:

<img width="1680" alt="screen shot 2018-09-14 at 12 08 48 pm" src="https://user-images.githubusercontent.com/10805593/45534003-36ec1400-b817-11e8-8aa1-52fd30f8f6ce.pn

[2018-09-14 06:45] wiched commented on #8124
I've tried to use
`<Img fluid={fluidImages.childImageSharp.fluid} />` instead of
`<img  src={data.fluidImages.childImageSharp.fluid.src}/>`

and I get

I can console the fluidImages.childImageSharp.fluid without a problem and use the src for normal image tag but on a gatsby-image component, I get src of undefined.

[2018-09-14 06:45] kakadiadarpan commented on #8116
Hi @garethgd, it would be great if you could provide a reproduction repo for this. That would make it much simpler to diagnose this issue.

[2018-09-14 06:47] stefanprobst commented on #8138
Have you added yarn's global dir to your PATH? `yarn global bin` will list the directory, you should export it in your `.bashrc`, e.g.: `export PATH=$PATH:~/.yarn/bin`

[2018-09-14 06:55] kakadiadarpan commented on #8132
Hi @sarahannnicholson, we are currently using `sharp` to process all the images and unfortunately it doesn't have the support for `.ico` files. You can check lovell/sharp#1118 for more details.

Would you be interested in working on this which will enable the support for `.ico` files?

[2018-09-14 07:06] kakadiadarpan commented on #8126
Hi @williamtstanley, I observed that some of the plugins that you have installed are not compatible with Gatsby v2.

[code]
Can you try upgrading them to the `next` version? That might fix this issue for you.

[2018-09-14 07:17] aleereza opened #8139 "Using V2 and import { graphql } from "gatsby" but still get the warning of using the global `graphql`"
I am using V2 and import graphql from "gatsby" like:
`import { graphql } from "gatsby"`
but still get this warning:
`warning Using the global `graphql` tag is deprecated, and will not be supported in v3.
Import it instead like:  import { graphql } from 'gatsby' in file:
/project folder/.cache/fragments/image-sharp-fragments.js
`
could you please tell me how can I fix that?

  System:
    OS: Linux

[2018-09-14 07:17] stefanprobst commented on #8124
You are using gatsby v2, but the v1 version of the plugins. Try with `yarn add gatsby-image@next gatsby-plugin-sharp@next gatsby-transformer-sharp@next`

[2018-09-14 07:20] palerdot opened #8140 "'xsel' error on getting environment info in debian/ubuntu server"
`gatsby info --clipboard`

Also might be relevant to - https://github.com/gatsbyjs/gatsby/issues/5122

throws following error
[code]

## Summary

## Relevant information

### Environment (if relevant)
System:
    OS: Linux 4.4 Ubuntu 16.04.1 LTS (Xenial Xerus)
    CPU: x64 Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
    Shell: 4.3.46 - /bin/bash
  Binaries:
    Node: 8.11.4 - ~/.nvm/versions/node/v8.

[2018-09-14 07:29] stefanprobst commented on #8124
Also make sure your `.link1` class has `display: block`

[2018-09-14 07:35] LeKoArts commented on #8139
You need to also update all other gatsby packages to the next version, not only the `gatsby` one. Then the warning will go away.

[2018-09-14 07:35] #8139 closed

[2018-09-14 07:38] wiched commented on #8124
You are right, gatsby-image was v1 I updated it to next.

The image is shown, its contained in the container but it uses full size of image instead of the one closest to the container.

I updated the build on the link.

P.S. I appreciate the help!

[2018-09-14 07:39] rickbrunstedt opened #8142 "There are conflicting field types in your data. GraphQL schema will omit those fields"
## Summary
I have some variables named payload and returnType, but they are just javascript objects, which I'm passing down as context when creating page.
When passed down as context on the createPage function, it gets converted into graphql nodes, am I right?

Is there a way of pass it down through context or something similar, in way that it don't turn it into graphql nodes?

I think it gives me

[2018-09-14 07:50] stefanprobst commented on #8140
Does this happen under X11? Or are you on wayland or on a text console?

[2018-09-14 08:14] palerdot commented on #8140
@stefanprobst not sure what it means. I'm just running a ubuntu server box with vagrant

[2018-09-14 08:33] dbismut commented on #2753
Hey, just for the sake of reference, if anyone gets here.

I've set up a basic prototype using the following stack.

### Features
- **Wordpress** as a headless CMS
- **Gatsby** front-end
- Both Wordpress and Gatsby run on separate dockers hosted on **Digital Ocean**
- Both Wordpress and Gatsby are available under the same domain name (`.tk`)
- **Nginx** redirects all `/wp*` routes to the docker ru

[2018-09-14 08:33] magicspon commented on #8136
@sktt... Tried removing the offline plugin. No difference.

@kakadiadarpan, so strange, I'll see if i can replicate it on my work machine.

[2018-09-14 08:39] stefanprobst commented on #8140
`Error: xsel: Can't open display: (null)` means that the utility used to access the clipboard, `xsel`, cannot find a display server, which is to be expected when not running in a graphical desktop environment (which ubuntu server isn't). This should probably be documented somewhere.

[2018-09-14 09:10] magicspon commented on #8136
I might be going mad!

is this right...in chrome...
view-source:https://next.gatsbyjs.org/docs/gatsby-link/
i don't see any of the rendered content..

open incognito mode:
view-source:https://next.gatsbyjs.org/docs/gatsby-link/
i do see html...

muy confused!

[2018-09-14 09:14] magicspon commented on #8136
Possibly going mad... gonna close!

[2018-09-14 09:14] #8136 closed

[2018-09-14 09:16] wiched commented on #8124
I did what I could - https://www.prettystyle.store/services/

It is contained properly but it uses a bigger size that it should.
The container is close to 300px and there is 300w size from the srcSet but it doesn't use that, it uses the bigger size 500w

[2018-09-14 09:33] Kadrian opened #8143 "[v2] Extremely slow routing"
When I'm navigating through gatsby's `<Link>` or through `navigate` to one of my created pages, the template is rendered several hundred times.

Maybe similar issue: [#7876](https://github.com/gatsbyjs/gatsby/issues/7876).

Observations:

- The site I'm navigating to is a site generated with `createPage`
- The render function of its template component is called up to 300 times until the page actua

[2018-09-14 09:34] palerdot commented on #8140
I think the error shouldn't be thrown in any case.

[2018-09-14 09:48] dantesolis commented on #7986
@07Gond I hadn’t I just saw the issue was open and wanted to give it a try.  I’ll try to reproduce the issue.  Thanks @rchrdnsh.

[2018-09-14 10:20] kamontat opened #8144 "Error while use Gatsby with Typescript and scss module"
## Description

Error module not found in my `vscode` while I use sass module with typescript

### Steps to reproduce

1. Make project support `typescript`, `sass`, and `sass-module` using gatsby plugin.
2. Create demo component with sass module.
3. Cause error in import module line said **Cannot find module './index.module.scss'.**

Demo typescript code
[code]

Demo scss code
[code]

### Expected

[2018-09-14 10:30] m-allanson opened #8145 "Offline plugin sometimes has a fetch error"
## Description

Some combinations of plugins can cause console errors in the browser when first visiting a site.

Using `gatsby-plugin-offline` with `gatsby-plugin-google-analytics` and a plugin that does something like:

[code]

will trigger the following browser error when first visiting the site:

[code]

Reloading the page will load the page without errors. Removing the service worker and relo

[2018-09-14 10:44] kakadiadarpan commented on #8143
@Kadrian Is this happening in development or production build?

[2018-09-14 10:48] m-allanson commented on #7997
Can we default to not caching POST requests?

[2018-09-14 10:56] m-allanson commented on #8145
Note that this will cause a _Best Practics_ warning in Lighthouse audits, e.g. for next.gatsbyjs.org this error is triggered by using `gatsby-plugin-glamor` with the offline plugin and google analytics plugin:

<img width="408" alt="screen shot 2018-09-14 at 11 54 59" src="https://user-images.githubusercontent.com/381801/45546417-1cb13680-b815-11e8-9a3d-328ecbe16478.png">

[2018-09-14 10:56] ascorbic commented on #8144
You can either add a d.ts file that includes `declare module "*.scss"`, or create an `index.module.scss.d.ts` with `export const container:string`. I've not used it, but [this plugin](https://www.npmjs.com/package/gatsby-plugin-typescript-scss-modules) might help.

[2018-09-14 11:03] Kadrian commented on #8143
In both. Now I think I've narrowed it down to the use of `react-progressive-bg-image` down the line somewhere in the created page.

Removing any use this fixed the problem for me. (was using their `ProgressiveImage` component)

Will have to replace it with `gatsby-image` I guess. Closing this, unless I still find another problem. Really weird stuff though.

[2018-09-14 11:03] #8143 closed

[2018-09-14 11:03] fk commented on #7986
That'd be great @dantesolis! 🙏

[2018-09-14 11:08] #7718 closed

[2018-09-14 11:09] stefanprobst commented on #8140
I agree.
What happens is that the `--clipboard` option explicitly says "copy to clipboard", which will not work on a linux text console. The environment info itself *should* display if you invoke `gatsby info`.
We should add a check here to not enable the `clipboard` option for `envinfo` when `(process.platform === 'linux' && !platform.env.DISPLAY)`.

[2018-09-14 11:17] palerdot commented on #8140
@stefanprobst does this change affect linux machines with GUI? Because , I guess for desktop linux distros, copying to clipboard is valid.

[2018-09-14 11:18] fk commented on #8100
Hey y'all! 👋I wrote this last night while not really being awake anymore (and then forgot to post it ;-)), so take this with caution 🙏

* Something that tripped me up when first debugging these kinda things: Chrome's device presets (as Firefox's) also set a "DPR" that gets emulated — while Firefox always displays the emulated DRP in its UI, in Chrome you have to choose to display that info via "Ad

[2018-09-14 11:26] stefanprobst commented on #8140
Linux graphical desktop environments should be unaffected (as long as they are running X). This change adds a check if the `DISPLAY` environment variable is set, which AFAIK has to be the case for X to work. Note that although X11 is still the standard, things might change in the not too distant future when linux distributions change to wayland by default, which is the successor to X11. But on way

[2018-09-14 11:33] #8041 closed

[2018-09-14 11:45] Kadrian opened #8147 "Make errors more specific"
## Description

Compile error not specific enough

### Steps to reproduce

- Put a syntax error inside `gatsby-node.js`
- Execute `gatsby develop`

### Expected result

Syntax error in the `gatsby-node.js` file is pointed out.

### Actual result

Syntax error in the "gatsby config" pointed out, while there's no error in `gatsby-config.js`.
<img width="385" alt="bildschirmfoto 2018-09-14 um 13 41 5

[2018-09-14 12:06] Kadrian opened #8148 "GraphQL Error Unknown field `childImageSharp` on type `File`"
How to use gatsby-image @ 2.0.0-rc.2?

## Description

Can't get `gatsby-image` query to work. I'm also having difficulties understanding how to use
[code]

vs
[code]

Can't get either of them to work.

### Steps to reproduce

- Install all the latest versions of `gatsby-image` `gatsby-plugin-sharp` and `gatsby-transformer-sharp`.
- Add the plugin and transformer to the list of plugins in `gatsby-

[2018-09-14 12:38] HriBB commented on #6291
I can confirm this bug. In my case it started happening, when I added some large images, 5mb or more.

[2018-09-14 12:43] palerdot opened #8149 "Include --host=0.0.0.0 info in docs for `gatsby develop` to listen on local ip"
Right now `gatsby develop` listens only on 'localhost/(127.0.0.1)'. When running stuffs inside VMs, we may want to reach the development machine over the local ip for testing. Either `gatsby develop` by default should listen on local ip, or the docs should mention `gatsby develop --host=0.0.0.0`, to listen on local ips.

## Summary

## Relevant information

### Environment (if relevant)

### File

[2018-09-14 13:44] kakadiadarpan commented on #8149
Thanks for the PR @palerdot!

[2018-09-14 13:48] kakadiadarpan commented on #8148
@Kadrian Please check the example [`using-gatsby-images`](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-gatsby-image).

[2018-09-14 13:49] sebastienfi commented on #6670
You will need the WordPress plugin `acf-to-rest-api`

[2018-09-14 13:54] davidbailey00 commented on #7997
@m-allanson unfortunately Workbox doesn't allow configuring this - we can either enable serving an offline shell and have this as a side-effect, or only guarantee that the homepage works offline. Or as a third option we can force Gatsby to fetch the HTML of each page so that it's cached at runtime, but this would waste bandwidth. (See https://developers.google.com/web/tools/workbox/modules/workbox

[2018-09-14 13:54] kakadiadarpan commented on #8020
@NeoLegends doesn't it implies that if it's value is `true` it will merge the given security headers with default headers otherwise, it just takes what you provide to it?

[2018-09-14 13:57] kakadiadarpan commented on #8144
@kamontat can you please provide a reproduction repo where we can see this error? That would make it much easier to diagnose this issue.

[2018-09-14 13:59] NeoLegends commented on #8020
Exactly. I thought it would overwrite the defaults with the config values.

[2018-09-14 14:09] kakadiadarpan commented on #8147
@Kadrian, can you also provide the content of `gatsby-node.js` which gave you this error?

[2018-09-14 14:11] kakadiadarpan commented on #8142
@rickbrunstedt can you provide a reproduction repo where we can reproduce this? That would make it much simpler to diagnose this issue.

[2018-09-14 14:15] kamontat commented on #8144
@ascorbic  THE PLUGIN didn't work, since It out of date.

@kakadiadarpan I try to solve it for the long time,
and I found that file `*.d.ts` was missing so It cannot found the type or make autocomplete.

I also found that if I manually add `*.d.ts`file the error will gone away.

I try to add [typings-for-css-modules-loader](https://github.com/Jimdo/typings-for-css-modules-loader) but not success.

[2018-09-14 14:19] sktt opened #8153 "[v2][gatsby-plugin-react-css-modules] Minify class names?"
## Summary

css-module class names can be made shorter in a production build.

### Basic example

We currently always use the template `[name]--[local]--[hash:base64:5]` for both development and production.

My suggestion is to shorten this in production builds, eg.
[code]

### Motivation

It would make the build a byte or two smaller.. Probably gzip already cut most the bytes but still...

[2018-09-14 14:47] steverandy commented on #7454
I'm using v2.0.0-rc.24 and it seems to be having similar issue again.

[2018-09-14 14:53] lesliecdubs commented on #7479
Hi everyone, thanks for chiming in. I upgraded to v1.9.277 but the errors from the original post were still coming through.

Our "bandaid fix" has been working consistently and I know efforts are focused on v2 right now, so I'm fine leaving this issue closed. If I run into similar problems in v2 I'll be sure to report. Thanks!!

[2018-09-14 14:56] kakadiadarpan commented on #7479
Thanks for the update @lesliecdubs!

Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem in v2👍

[2018-09-14 15:03] kakadiadarpan commented on #8153
@sktt How about we give everyone a control over this through options in `gatsby-plugin-react-css-modules`?

[code]

Read the value of `minifyClassNames` and accordingly decide whether to minify it for production builds or not.

[2018-09-14 15:06] karlhorky commented on #6480
@eallencreighton did you verify that the installed version of Gatsby in `node_modules` is has version `2.0.0-beta.40` or higher in `package.json`? If not, maybe try reinstalling to get the latest version.

If that's not the problem, where do you see the "_webpack_hmr shows (pending)" error? On the command line? In the browser?

If I remember correctly, for me, webpack just didn't recognize that th

[2018-09-14 15:09] Jakst commented on #7917
@kakadiadarpan Right. I tried `!important` in my global CSS, but never in `wrapperStyle`. Thanks

But this certainly raises the question: is there any good reason for providing centered image at all? I'm thinking it's a tossup between people wanting centered images and left-aligned images, and the current approach provides very little flexibility.

Wouldn't it be better to just leave the wrapper c

[2018-09-14 15:31] amitrathik commented on #2674
I stumbled into this issue today. Turned out i had the file set to "gatsby.config.js". Once I switched it to gatsby-config.js the error was resolved...

[2018-09-14 15:46] chasemccoy opened #8155 "Paths not prefixed when using Redirect or navigate"
## Description

When using the `Redirect` component or the `navigate` function of Reach Router, the paths are not prefixed.

### Environment

[code]

[2018-09-14 15:47] chasemccoy commented on #8155
@KyleAMathews looks like this may be a regression of #1533 caused by the switch to Reach Router?

[2018-09-14 15:47] TylerBarnes opened #8156 "gatsby-plugin-sharp ^2.0.0-rc.0 Uknown fragment ...GatsbyImageSharpFluid_tracedSVG"
## Description

I'm trying to use graphql to get the fragment from childImageSharp as seen at https://next.gatsbyjs.org/packages/gatsby-image/?=image

In my terminal I get the error
[code]

If I switch out the fragment for `src` or `srcSet` in my query I get a response with no error. Using a different fragment doesn't fix the problem.

Full error:

[code]

### Steps to reproduce

In gratsby-node.j

[2018-09-14 15:53] chasemccoy commented on #8155
Maybe we are just supposed to use `withPrefix` for this use case? It didn't handle it automatically before, though.

[2018-09-14 16:05] eallencreighton commented on #6480
Hi, I have all next versions installed, including all dependencies.  The "_webpack_hmr shows (pending)" is from browser inspect Network tab.

My terminal log always says things are compiling correctly.  What's interesting, is when I make a new graphQL query, the data change DOES hot reload.  It's just styles and HTML content that doesn't update (including react components).

[2018-09-14 16:12] stefanprobst commented on #7597
@jfrolich Sorry if this is too obvious - but do you actually have images in your `pages` folder? If no image can be found in the folders you set up with `gatsby-source-filesystem`, you will not be able to query them, i.e. `allImageSharp` and `childImageSharp` won't show up.

[2018-09-14 16:16] stefanprobst commented on #7597
@akoolenbourke It seems you are trying to use v1 of `gatsby-image` with v2 of gatsby. Try installing `yarn add gatsby-image@next gatsby-plugin-sharp@next gatsby-transformer-sharp@next`. `resolutions`/`sizes` are now `fixed`/`fluid`.

[2018-09-14 16:23] n3v3rf411 opened #8159 "[gatsby-transformer-csv] Unusual behaviour when filtering on `id` property"
## Description

I'm using CSV and JSON transformers and both exhibit the same behaviour.

Filter on `id` either throws an error or returns null. All id values comes from the input CSV and JSON.

#### Scenario 1
eq filter with a parameter whose value belongs to a valid record
Query:
[code]

Result:
[code]

#### Scenario 2
eq filter with a parameter whose value does not belong to any record
Query:
[

[2018-09-14 16:26] stefanprobst commented on #8024
Is this issue resolved?

[2018-09-14 16:33] stefanprobst commented on #8124
`gatsby-image` seems to set `sizes="(max-width: 500px) 100vw, 500px"`, which means that for viewports wider than 500px the 500px version of the image will always be chosen. Now, because you have a 3-column layout you could adjust `sizes` to reflect that.

[2018-09-14 16:35] jeremyepling commented on #7617
I'm a product manager on Azure Pipelines. Let me know if you have any questions or suggestions.

[2018-09-14 16:41] stefanprobst commented on #7737
Would this be resolved by explicitly mentioning reach-router `Link`'s `getProps` in the `gatsby-link` docs and showing how to use it?

[2018-09-14 16:44] sarahannnicholson commented on #8132
Yeah I can give it a shot!

[2018-09-14 16:51] KyleAMathews commented on #8155
Which navigate function are you using?

[2018-09-14 16:51] KyleAMathews commented on #8155
We'd have to wrap the Redirect component to add prefixing support. Maybe? Perhaps worth doing.

[2018-09-14 17:00] chasemccoy commented on #8155
I am using `import { Redirect, navigate } from '@reach/router'`

[2018-09-14 17:07] karlhorky commented on #6480
Hm, interesting. Maybe this is a new bug.

Can you create an example repo (maybe based off of https://github.com/m-allanson/gatsby-barebones-markdown) that demonstrates this issue?

[2018-09-14 17:07] nikoladev opened #8160 "The active style and active class of a Link component are applied only if the URL matches exactly"
## Description

The `activeStyle` and `activeClassName` props of the `Link` component are not applied if the URL has a trailing slash (or if it lacks a trailing slash, depending on the value of the `to` prop).

Basically, if a user navigates to `site.com/example/` and then to `site.com/example`, only one of those URLs will have correct styling applied to the `Link` component.

### Steps to reprodu

[2018-09-14 17:15] alpgumus commented on #7261
In loader, this piece of code is not able to find page if page's matchPath is altered. Instead of page.path, page.matchPath should be used. Otherwise, findPage is returning null.

[code]

[2018-09-14 17:16] designforhuman opened #8161 "working with dynamic links"
I'm using 'react-device-detect' in index.js in order to send users to different websites based on their device. (ie. iOS to Apple Podcast, Android to another podcast website, and Desktop for another one.)
It runs fine on development mode, but it creates static html pages with static links when I build it. Is there a way that I can make the links dynamic in the final build as in dev mode?
I'm using

[2018-09-14 17:32] edsu commented on #8088
@kakadiadarpan thanks, I did try adding that, but it doesn't seem to pick up the jpg file in my /static/images directory. You can check it out in the test repo, and here is the precacheManifest from the sw.js:

[code]

[2018-09-14 17:32] stefanprobst commented on #6392
I think this would be fixed by returning `false` in [`shouldUpdateScroll`](https://github.com/gatsbyjs/gatsby/blob/b2a030a962f63bc9e211b4aa8df1631d0e07be6f/packages/gatsby/cache-dir/navigation.js#L125). The problem is: what should happen on page reload (when we want to scroll to the last saved position)?

[2018-09-14 17:35] whoisryosuke opened #8163 "How to work with gatsby-node / page creation without restarting server?"
## Summary

## Relevant information

When working on Gatsby projects, much of the process relies on `gatsby-node.js` and the creation of pages through `createPages`.

Gatsby works great once pages are created, and you can make changes to page content and templates -- but if you need to make any changes to the page creation process, Gatsby doesn't recognize changes in `gatsby-node.js` and doesn't t

[2018-09-14 17:36] edsu commented on #8088
Whoops, my bad. The jpg files are staring at me right in the face in that manifest! Thanks for your help, much appreciated!

[2018-09-14 17:53] wiched commented on #8124
Sizes are generated from the gatsby-image <Img /> tag, right?

I tried to add sizes to the Img component but I get an error that it expects to be an object.
I created a variable and copied the sizes, aspectRatio, src and srcSet and modified them and it works, but do I have to do that for all images?

This seems like a lot of work for something that appears to be automatic, or am I doing something

[2018-09-14 17:54] stefanprobst commented on #8160
Related: #7737
What you could do is use your own `getProps` on `<Link />`, see the [docs for reach-router](https://reach.tech/router/api/Link).

[2018-09-14 18:20] stefanprobst commented on #8156
Does `thumbnail` point to a file? Then this should work:
[code]

[2018-09-14 19:03] TylerBarnes commented on #8156
It does point to a file. `... on File` works and doesn't return an error but once it gets down to the image sharp fragment it throws the same error as before.

[2018-09-14 19:04] #7475 closed

[2018-09-14 19:04] #7590 closed

[2018-09-14 19:08] pieh commented on #8156
Do you have `gatsby-image` installed?

We have this (little weird) check before actually enabling fragments that checks for `gatsby-image` package:
https://github.com/gatsbyjs/gatsby/blob/4edb8da7456a0c323baf3bd3b256f2cb6e37e194/packages/gatsby-transformer-sharp/src/gatsby-node.js#L18-L35

[2018-09-14 19:10] whoisryosuke opened #8166 "Querying GraphQL by array / how to handle relational queries"
## Summary

## Relevant information

I have a data source inside `gatsby-node` that returns an array of related post IDs. How do I query for each post in that array, and pass it to my Gatsby page (or somehow query it on the page)?

Currently Gatsby doesn't allow objects or arrays to be passed as context, so it forces you to query more complex data sets inside of page components. Not a problem, unl

[2018-09-14 19:14] stefanprobst commented on #8124
I think there unfortunately cannot be a "one size fits all" solution for responsive images - `srcset`/`sizes` is one of the (necessary) places where styling bleeds into html. Think of it more like css and media queries - those have to be adapted to different page layouts too.
What should work is something like:
[code]
or pull sizes out into its own variable to reuse it:
[code]

[2018-09-14 19:40] wiched commented on #8124
Okay i think I get it now, thank you for the help stefanprobst, I think this issue will be helpful to others as well.

Thanks again and best regards

[2018-09-14 19:40] #8124 closed

[2018-09-14 19:43] TylerBarnes commented on #8156
Hmm, interesting! I do have gatsby-image installed (2.0.0-rc.2). I checked my fragments folder and it's empty so I went direct to the file you linked in my node modules and commented out those checks to see if it would build the fragments file but it still didn't.

Could there be something wrong in my gatsby-config?

I'm using netlifycms which adds the images to the /static/img/ directory.

[code]

[2018-09-14 19:45] #7133 closed

[2018-09-14 20:00] Kadrian commented on #8148
@kakadiadarpan Yes. Checking that example out, doing a `yarn` and `gatsby develop` in there works for me. So there must be some difference 😃
But I've been staring at the example for ages and I can't figure it out.
`gatsby-transformer-sharp@2.1.1-rc.3` is used in both, the example and my project. We're both adding the plugin to `gatsby-config.js`.
Weird is that the example doesn't even add `gatsby-

[2018-09-14 20:04] wiched opened #8169 "Non-existing page redirects to no-cache=1 and not to 404 error page"
Hello,

On Gatsby develop non-existing urls redirect to the 404 error page, but on the build, they all redirect to the homepage with URL attribute /?no-cache=1

I tried to read the code for the load-directly-or-404.js but I didn't quite understand it.

How do fix that and make it redirect to 404?

Git repo: https://github.com/wiched/gatsby
Live url: https://www.prettystyle.store

[2018-09-14 20:20] eallencreighton commented on #6480
Thanks @karlhorky
Here it is: https://github.com/eallencreighton/gatsby-hotreload-test

Steps to reproduce:
npm install
gatsby develop
view in http://localhost:8000/
Navigate to src\pages\index.js
Change some html content, save

- no hot reload

Navigate to src\pages\sweet-pandas-eating-sweets.md
Change content, save

- Changes hot reload instantly

[2018-09-14 20:46] m-allanson opened #8173 "Additional info for migration guide"
## Summary

Add more info to the [Update CSS Modules class names that use dashes](https://gatsbyjs.org/docs/migrating-from-v1-to-v2/#update-css-modules-class-names-that-use-dashes) section of the migration guide, covering how to use [`onCreateWebpackConfig`](https://gatsbyjs.org/docs/
node-apis/#onCreateWebpackConfig) to revert to Gatsby's v1 behaviour.

Document new actions in the [Rename boundAc

[2018-09-14 20:58] davidbailey00 commented on #7261
@alpgumus Thanks for reporting - please can you open a new issue with a reproduction repo? This will help us fix the problem more quickly!

Also, can you try updating your packages? I think the issue you've described should have been fixed in #8083, but I'm not sure if it's the same problem exactly - a reproduction will help us figure that out

[2018-09-14 21:06] devrchancay opened #8175 "Gatsby source airtable - regeneratorRuntime is not defined"
Hello, I am trying to implement https://github.com/jbolda/gatsby-source-airtable and I am faced with the following problem.

![image](https://user-images.githubusercontent.com/4138285/45575005-880c0000-b837-11e8-8b40-a4b7dbf71dea.png)

create the file .babelrc in the root of the project and add the necessary "presets".
![image](https://user-images.githubusercontent.com/4138285/45575164-1da78f80-b8

[2018-09-14 21:28] pieh commented on #7261
hmm, I don't think `const page = findPage(path)` is even needed there, because `page` is already defined outside of `if (process.env.NODE_ENV !== `production`) {` block

[2018-09-14 21:57] marisamorby commented on #7583
@shannonbux: I think those are great questions!

Per the thing about printing these, I'll get these into flowcharts as the OSS Process keeps moving along. :)

[2018-09-15 00:16] KyleAMathews opened #8181 "Clicking on a links when using the Twitter plugin is causing white screen (and console error)"
If you go to https://next.gatsbyjs.org/blog/2018-09-14-gatsby-v2/ and then click on the link with the text "Several core Gatsby contributors and I started a company", the screen goes white and this error appears in the console:

`Uncaught (in promise) DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

This issue suggests it's due to an un

[2018-09-15 00:16] KyleAMathews commented on #8181
/cc @pieh @davidbailey00

[2018-09-15 04:10] kenjwho commented on #7661
Incase it helps anyone.  Instead of querying by `id`, I corrected this by querying `original` > `src`, like this:

[code]

[2018-09-15 04:11] ryanwiemer commented on #7454
@KyleAMathews,

Did your temporary fix get reverted or canceled out somehow? I seeing the undesirable scrolling behavior again using `v2.0.0-rc.25`.

[2018-09-15 04:54] helmutgranda commented on #8181
FYI, this bug seems to be affecting all relative links "/blog/...". I tried to debug but could not figure out why the issue is happening.

Another thing that may be random but for me it works well on MAC+Chrome+AdBlock plugins. Once I load the page in Incognito (No AdBlock plugins) the links fail.

[2018-09-15 07:32] stefanprobst commented on #8181
For me this is happening as well in Chromium 68, but working fine in Firefox 61.

[2018-09-15 07:38] stefanprobst commented on #8156
Could you share a repo to reproduce this?

[2018-09-15 08:03] stefanprobst commented on #8153
This is what the built-in css-modules handling does (with a helpful link):
https://github.com/gatsbyjs/gatsby/blob/4be5cfdf5d6925f26f914518dfc51d53f979cd6d/packages/gatsby/src/utils/webpack-utils.js#L197-L198

[2018-09-15 08:08] vadimshvetsov commented on #8009
I can't find out why the tests are passing locally but in Travis there is an obsolete snapshot. I've ran several times `yarn test:update` and `yarn run jest -u`, but nothing changes.

https://travis-ci.org/gatsbyjs/gatsby/jobs/428920529#L2242

[2018-09-15 08:08] zauni commented on #8078
@dspacejs Maybe your image is not in the same folder as the yaml file? Because if you put the image in the same folder (or in a subfolder) of the yaml file, the relative path is working and gatsby transforms the image path to a `File` type. Here are screenshots of my local test:

![yaml](https://user-images.githubusercontent.com/663845/45584139-18495400-b8cf-11e8-9e1d-751bd16e7124.png)

![graphiql

[2018-09-15 08:40] rashnk opened #8182 "Error while creating new gatsby project"
I'm trying gatsby first time

I installed CLI  by running `npm install --global gatsby-cli`

then `gatsby new gatsby-site`

Result was the below output

[code]

Gatsby info is here
gatsby info

  **System:
    OS: Windows 7
    CPU: ia32 Intel(R) Core(TM) i3 CPU       M 370  @ 2.40GHz
  Binaries:
    npm: 5.6.0 - C:\Program Files\nodejs\npm.CMD**

[2018-09-15 08:48] dspacejs commented on #8078
@zauni yep that works perfectly for me, cheers!

But out of curiosity, why does it need to be in the same directory?

[2018-09-15 10:27] davidbailey00 commented on #8169
Hi @wiched, after upgrading your packages I can't reproduce this issue, so closing. Please see https://github.com/davidbailey00/prettystyle and https://nostalgic-bell-7077d9.netlify.com/ and let me know when you've sorted the main site so I can delete my copy of the repo :)

[2018-09-15 10:27] #8169 closed

[2018-09-15 10:29] jonesjj commented on #7457
I also had the issue but it seemed to be due having the wrong `gatsby-cli` version.  I uninstalled and reinstalled the cli with `npm install --global gatsby-cli@next` and I'm back in business.

[2018-09-15 10:51] karlhorky commented on #6480
Ah interesting, ok. So the issue is with saving JavaScript files after modifying JSX in the files (using `gatsby@2.0.0-rc.24`). This does sound like a new issue to me. The issue I reported was about Markdown files not working (.md files).

If you don't find any other issues that match this problem description, I suppose it would be good to open a new issue with your reproduction steps and repo lin

[2018-09-15 11:30] mahayash opened #8184 "React Slick not working with Gatsby"
Hi, I have installed react slick for one of my project, the components works fine with 'gatsby develop' but the react slick component doesn't slide when 'gatsby build' is called. Please let me know what is the issue as such

[2018-09-15 11:36] stefanprobst commented on #8148
Have you set up `gatsby-source-filesystem` in your `gatsby-config.js`?

[2018-09-15 12:11] Kadrian commented on #8148
Yes. So I hate to say it, but here's what happened:

I've re-installed `gatsby-image@next` and `gatsby-source-filesystem@next` and got:

[code]

Then I removed all `node_modules` and did `yarn`ed again. Now everything works 😭

[2018-09-15 12:11] #8148 closed

[2018-09-15 12:22] Kadrian opened #8185 "Document use of gatsby-image with gatsby-source-filesystem"
I've just understood that my images couldn't be found by the whole array of:

- gatsby-transformer-sharp
- gatsby-plugin-sharp
- gatsby-image

because I didn't set up `gatsby-source-filesystem` correctly, to resolve with the images I was loading.

My suggestion: Document within `gatsby-image` that the images need to be **loaded first**, for example by using `gatsby-source-filesystem`

[2018-09-15 12:37] zauni commented on #8078
Great!

I think it is resolving the image path from the yaml path as a starting point. But I don't know exactly. It just looks like that.
So probably the image can be wherever you want, just the path in the yaml file has to point to that file relative to the yaml folder.

[2018-09-15 12:37] #8078 closed

[2018-09-15 12:49] davidbailey00 commented on #8181
I agree with @stefanprobst that this might be something to do with the Twitter widget, but not 100% sure... I haven't been able to reproduce this with a test site using templates yet, but I haven't tried adding Twitter etc yet.

[2018-09-15 13:17] LeKoArts commented on #8184
Please file a new issue & fill out the issue template and describe your problem in detail. This description is not helpful

[2018-09-15 13:17] #8184 closed

[2018-09-15 13:29] github0013 commented on #3817
This solved removing source map in v2.
https://github.com/gatsbyjs/gatsby/issues/6289

[code]

[code]

[2018-09-15 14:12] mahayash opened #8188 "React Slick not working with Gatsby"
## Implemented the React-slick component, but the component is not working in production env on the Digital Ocean

The react slick component works great with 'gatsby develop' on dev env. but not with 'gatsby build'  on production env after being deployed on the Digital Ocean. The site [Saanwariya Hospitality](http://www.saanwariyahospitality.com/) has incorporated the react slick component, and as

[2018-09-15 14:30] jerembardon opened #8189 "Gatsby develop fail"
## Summary
Hi,

I have install gatsby globaly and creating my app with gatsby new "app" but when I want to launch developement environnement an error occured

and ...
[code]

I have try lumen starter,  I have  the same message:

but two plugins fails "gatsby-plugin-feed" and always "gatsby-ssr"

## Relevant information
Message above is really much much much longer (with a lot of repetition ahah).

[2018-09-15 15:00] helmutgranda commented on #8181
@davidbailey00 great find! It confirms why on the browser where I have Adblock the page works as expected. AdBlock prevents a listener to be attached into the link from https://platform.twitter.com/widgets.js.

[2018-09-15 15:41] davidbailey00 commented on #8181
@helmutgranda strangely I haven't been able to reproduce this with a minimal example (this time, using Twitter) - visit https://wizardly-babbage-0faa32.netlify.com/pandas-eating-carrots/ and click "Link to other post". These pages are both generated with a template + Markdown, like the Gatsby blog. It looks like something else is going wrong at the same time...

[2018-09-15 15:58] KyleAMathews commented on #8181
@fk any idea? I think I saw a PR from you recently for the blog.

[2018-09-15 16:02] raphadeluca commented on #6258
I post my question here because it's not an issue. What's the best practice when using the React's Context API with Gatsby?

- Should we wrap  the entire app with the Provider in the gatsby-ssr.js and gatsby-browser.js files like in the [https://github.com/fabe/gatsby-universal](https://github.com/fabe/gatsby-universal)  example?

- Or can we go without wrapping the app in these files, like in the

[2018-09-15 16:07] davidbailey00 commented on #8181
@KyleAMathews just to clarify - I do still think this is related to the Twitter plugin, but it's only occurring in certain circumstances, which I'm not 100% sure of at the moment. I think it would be best to refactor the plugin, maybe using [react-tweet-embed](https://www.npmjs.com/package/react-tweet-embed), to fix the root problem rather than looking elsewhere.

[2018-09-15 16:14] stefanprobst commented on #8189
Could you add steps how to reproduce this? Thanks.

[2018-09-15 16:21] xblue-light opened #8190 "(HELP!!) style-loader cannot be used in a non-browser environment"
Hi there, I have been trying to implement this [react-modular-audio-player](https://github.com/retrofuturejosh/react-modular-audio-player) into my Gatsby project, however webpack keeps complaining about the **style-loader** not being able to use it in a non-browser environment.

If anyone would be kind enough as to give me a hint or a guide as to how I could possibly get this to work I would be so

[2018-09-15 17:11] KyleAMathews commented on #8181
What makes you think it's related to the Twitter plugin?

[2018-09-15 17:15] davidbailey00 commented on #8181
@KyleAMathews two reasons:

1) @helmutgranda has said that when blocking the Twitter script, the problem doesn't occur - this would make sense since the script replaces elements directly which React isn't aware of.

2) the element which React is attempting to remove is the Twitter widget:

   ![image](https://user-images.githubusercontent.com/4248177/45588846-5700fd80-b913-11e8-9668-72c777387b30.p

[2018-09-15 17:44] sktt commented on #8136
@magicspon the sw is still there if even if you remove the plugin. I usually go to the application tab in devtools and remove data and sw from there!

[2018-09-15 18:02] KyleAMathews commented on #8181
Ah ok. Makes sense too because the error only occurs when clicking between blog posts which share the same component so react is trying to reuse components.

[2018-09-15 18:12] stefanprobst commented on #8181
@davidbailey00 Yes this is what I found as well and why I originally thought this was a browser issue: on my setup the widget renders as a `<blockquote>` on Firefox, and a `<twitterwidget>` custom element (which isn't a valid html element anyway) on Chromium. Firefox works fine, Chromium not.

[2018-09-15 18:38] garetmckinley commented on #7897
Ok so I just ran into another issue when dealing with global styles. It seems like there is FOUC that is happening on just the global styles.

I'm using:
- `styled-components@4.0.0-beta.5`
- `gatsby-plugin-styled-components@3.0.0-rc.1`

Here's what the issue looks like: https://imgur.com/a/ublAN8R (ignore the gray flickering in the beginning, video encoding issue)

I throttled the page to make sur

[2018-09-15 18:38] stefanprobst commented on #8189
I am unable to reproduce this. Did steps 1 and 2 work without error?

[2018-09-15 18:59] davidbailey00 commented on #8181
cc @stefanprobst @helmutgranda I've rewritten the Twitter plugin to fix this! See #8191

[2018-09-15 19:31] davidbailey00 opened #8193 "[v2] [www] Featured site links cause errors and a blank page"
## Description

Clicking a featured site on next.gatsbyjs.org causes an error and a white page

### Steps to reproduce

1. Visit https://next.gatsbyjs.org/showcase/
2. Click a site

### Expected result

It should load the page

### Actual result

The page goes blank and an error is shown in the console

[2018-09-15 20:01] helmutgranda commented on #8181
@davidbailey00 Nice!!

I wanted to share some extra debugging info, after I reported my findings of the Twitter plugin colliding with the page I visited this site:

https://www.stevenmercatante.com/how-to-add-twitter-buttons-to-a-gatsby-site/

Which uses the twitter plugin and it the local pages work as expected. I decided to download a local version and run it. Overall the site was able to work w

[2018-09-15 20:15] TylerBarnes commented on #8156
Sure, It's on a private gitlab repo so I copied the files to https://github.com/TylerBarnes/gatsby-image-problem

[2018-09-15 20:15] davidbailey00 commented on #8181
@helmutgranda Apart from its behaviour, unfortunately the bug I just opened is actually completely unrelated to this one (from a code point of view)...

With regards to this bug, it makes sense that the site won't error after removing `plugin-catch-links` because then the full HTML is downloaded when links are clicked. But anyway, this bug (i.e. with Twitter, not the other one I reported) should b

[2018-09-15 20:46] lmammino commented on #7743
Ok, it seems that the latest version (2.1.1-beta) which I just updated too, actually does something smart.

It redirects the erroring URL to the same URL with the prefix `?no-cache=1`, which, even though is still a bit "flashy", seems to work fine.

You can see this by clicking on https://loige.co/this-is-wrong

I wonder if this is the expected behaviour

[2018-09-15 20:56] helmutgranda commented on #8181
Sounds good! Just thought I would share the extra findings.

[2018-09-15 21:13] grdp opened #8195 "Gatsby v2, frontmatter image, relative path, netlify-cms"
Hi, I'm trying to update an old website from gatsby v1 to gatsby v2. The gatsby-node.js file contain this code below to make working an absolute path of an image to a relative path in the frontmatter of a markdown (because of imageSharp and netlify-cms). Anyone has been confronted to the same issue?

[code]

[2018-09-15 21:27] davidbailey00 commented on #8193
@helmutgranda Thanks for the assistance :+1:  The code for loading pages is slightly different between production and development, so you'll need to run `gatsby build && gatsby serve` to test locally. It's probably an issue with `gatsby/cache-dir/loader.js` or `page-renderer.js` (in the same directory) since these generally handle loading pages via internal links (as opposed to initial page loads

[2018-09-15 21:57] stefanprobst commented on #8156
Thanks! Here's what I see:
Your `graphql` query lives in `gatsby-node.js`, and you expect to be able to access the result of that query in your page template (via `pageContext`). But what gets passed to pages/templates is only the `path` and stuff you put in `context`, which you can use in your page/template to retrieve the data you need.
For your project this means:
* your query in `gatsby-node.j

[2018-09-15 22:29] davidbailey00 commented on #8193
@stefanprobst They link to an information page (e.g. https://next.gatsbyjs.org/showcase/justdoit.nike.com) and then on that page there's a link to the external site.

Good news - I think I've found the line of code which is problematic!

[2018-09-15 23:04] tremby commented on #4539
I just spent some time looking back at this issue.

The way I remembered it, the widths specified in `srcset` came out larger than the real widths of the images, which would definitely be a bug, but I'm not able to reproduce that. I think I may have misremembered, and it's simply the `img` element's `width` attribute which is coming out larger than the image's natural size.

With fresh eyes I'm ac

[2018-09-15 23:39] SMerdzhanov commented on #8169
Hey @davidbailey00,

I cannot agree with you. My configuration was working perfectly fine as well, but unfortunately, after updating all of my packages I face this same odd behavior... Actually I see more people experiencing this same behavior with fresh projects.

Using `"gatsby": "next",` @ `version "2.0.0-rc.25"`

[2018-09-15 23:47] imcodingideas commented on #3931
I have my fix similar to @gscottqueen but in `gatsby-browser.js` I added

[code]

[2018-09-16 00:30] HriBB commented on #8018
So I took another stab at this ... @kakadiadarpan `setBodyProps` is for `Html` component I believe. https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/static-entry.js#L370

I am trying to pass props down to my page component from the `replaceRenderer`, specifically `@material-ui` context required for SSR.

It used to work in `gatsby@2.0.0-beta.59`:
[code]

But then @pieh impl

[2018-09-16 05:40] amitjindal commented on #5021
Hi David (@comxd), Sorry I was traveling.
Unfortunately I have no insight into this. I tried to check in the code. The Compiler on null seems be coming from the remark library.

You seem to be using a loop in your gatsby-node.js file.
It might be related to some content coming in that is not markdown or worse empty and you are trying to process it. Try putting some console.log statements in that a

[2018-09-16 05:56] probablyup commented on #7897
@garetmckinley can you provide a reproduction repo or codesandbox?

[2018-09-16 05:59] garetmckinley commented on #7897
Yeah, won't be able to till tomorrow afternoon/evening sometime. The blog I linked to is open source if you wanna look at it, but I totally understand if you'd rather wait for a stripped down repro

[2018-09-16 06:05] probablyup commented on #7897
Yeah it's too difficult to chase things down without a minimized example. It's also a double-check on your end to make 100% sure there isn't a library clash happening, etc.

[2018-09-16 06:07] garetmckinley commented on #7897
Yeah np, I'll share a link tomorrow afternoon

[2018-09-16 07:48] davidbailey00 commented on #8169
@SMerdzhanov Please can you create a reproduction repository so I can see the behaviour?

[2018-09-16 08:46] janosh opened #8200 "Create root domain redirect using gatsby-plugin-netlify"
Can I use `gatsby-plugin-netlify` to implement Netlify's advice of redirecting my Netlify subdomain to my custom root domain?

I naively deployed the following changes to `gatsby-node.js` after installing and adding `gatsby-plugin-netlify` to my `gatsby-config.js` but they don't seem to take any effect.

[code]

[2018-09-16 09:26] seaneking commented on #7729
This seems to be fixed (using `2.0.0-rc.25`), presumably by #7934

[2018-09-16 10:41] davidbailey00 commented on #7997
This seems to have fixed itself, possibly due to some changes with Workbox - @iammatthias could you try upgrading your packages and see if the form works now without `?no-cache=1`? If so, I'll close the issue.

[2018-09-16 10:58] kmorf commented on #8195
gatsby-node.js
[code]
config.yml
[code]

[2018-09-16 11:19] cdnil opened #8202 "[HELP] iOS Safari renders strangely when it navigates back by using edge swipe gesture"
## Description

iOS Safari renders strangely when it navigates back by using edge swipe gesture.
the popped up page will appear briefly after it disappears.

![](https://j.gifs.com/Jq52Nv.gif)

recording: https://www.youtube.com/watch?v=itXnPp2sSIs

I reproduced this issue by https://bugs--lin-am.netlify.com

and this is the repo: https://github.com/cdnil/lin.am/tree/bugs

### Steps to reproduce

[2018-09-16 12:03] kmorf commented on #8200
You can edit directly your `netlify.toml` file:

[code]

[2018-09-16 12:34] janosh commented on #1838
It appears as though this issue was not yet fixed in v2. Can someone confirm this?

[2018-09-16 13:10] stefanprobst opened #8203 "[www] API docs: return values not rendered"
The API documentation does not show the function's return values, even though they have jsdoc `@returns`. See e.g. [here](http://localhost:8002/docs/node-apis/#resolvableExtensions).

This is because the returns don't get rendered in [`function-list.js`]( gatsby/www/src/components/function-list.js )

[2018-09-16 14:48] yongelee opened #8204 "Trying to use react-materialize component, get ReferenceError: $ is not defined"
## Description

I have a gatsby project and I am trying to use react-materialize, the parallax component. It compiles but i get ReferenceError: $ is not defined when I try to use a parallax component.

[code]

### Steps to reproduce

Just yarn add react-materialize, try and use a parallax component and you will get an error.

I added jquery as a dependency and imported it in my files.

I also chan

[2018-09-16 15:10] janosh commented on #8200
@kmorf I tried that. Doesn't seem to be working. Did I do something wrong? [Here's the repo](https://github.com/StudentenBildenSchueler/homepage).

[code]

[2018-09-16 15:12] KyleAMathews commented on #8203
Hmm this seems like an oversight. Could you look into a PR for this?

[2018-09-16 15:36] janosh commented on #8200
I tried that. Still not working, unfortunately.

One other question. Since `gatsby-plugin-netlify` and `netlify.toml` both handle redirects (and the latter apparently in even more cases) when should I prefer one over the other if both get the job done?

[2018-09-16 15:42] kmorf commented on #8200
Your redirect is working!

(Clear application storage from devtools and `shift + cmd + R`).

[2018-09-16 15:51] grdp commented on #8195
Great @kmorf ! It seems working. Thanks a lot!

[2018-09-16 15:51] #8195 closed

[2018-09-16 15:55] janosh commented on #8200
Ah, I tried `shift + cmd + R` multiple times before reporting back but didn't think to clear app storage. That did the trick. Thanks a lot for your help!

[2018-09-16 15:55] #8200 closed

[2018-09-16 15:56] nxz91 commented on #1484
I'm getting this as well using yarn. Any ideas? This happened after I did `yarn add react-typeform-embed`

My dependencies are

  "dependencies": {
    "gatsby": "^1.9.277",
    "gatsby-link": "^1.6.46",
    "gatsby-plugin-google-fonts": "^0.0.4",
    "gatsby-plugin-react-helmet": "^2.0.11",
    "react-helmet": "^5.2.0",
    "react-typeform-embed": "^0.1.6"
  },

  "devDependencies": {
    "pretti

[2018-09-16 16:19] merelinguist opened #8205 "[v2] Build breaking on Netlify"
## Description

Build works locally, but fails on Netlify.

### Steps to reproduce

Project is here: https://github.com/merelinguist/playhouse-press/pull/225

### Expected result

I would expect it to build normally.

### Actual result

Build works fine locally, but breaks on Netlify:

[code]

### Environment

[code]

[2018-09-16 16:46] refrigerator opened #8206 "[v2] `onRouteUpdate` not firing"
## Description

I'm trying to add analytics page tracking code inside the `onRouteUpdate` function in `gatsby-browser.js`, but it doesn't seem to be firing. I'm using the `<Link/>` component to navigate to new routes.

### Steps to reproduce

This is what I have in `gatsby-browser.js`:
[code]

I have `index.js` and `about.js` pages in the `src/pages` directory. From `index.js`, I have the followin

[2018-09-16 16:52] KyleAMathews commented on #8205
This is because you have a case difference in what you're requiring and the name of the file. This works in Macs and doesn't for Linux.

[2018-09-16 16:52] #8205 closed

[2018-09-16 16:52] devrchancay commented on #8175
Finally I could solve adding this line to the start of gatsby-config.js

[code]

I still can not find how to support ES6-7-8 to gatsby, probably looking in the wrong place.

[2018-09-16 16:52] #8175 closed

[2018-09-16 16:54] stefanprobst commented on #8203
Sure.

[2018-09-16 16:57] KyleAMathews commented on #8206
Can you share a link to a site's source the reproduces the problem?

[2018-09-16 16:57] KyleAMathews commented on #8175
That plugin isn't maintained here btw. You should file an issue in its repo.

[2018-09-16 16:58] KyleAMathews commented on #8203
Thanks!

[2018-09-16 17:09] refrigerator commented on #8206
@KyleAMathews added to the OP :)

[2018-09-16 17:37] pieh commented on #8206
@refrigerator `gatsby: ^2.0.0-beta.83 => 2.0.0-beta.83` please try upgrading `gatsby` package to `2.0.0-rc.25`

[2018-09-16 18:00] yongelee commented on #8204
I had to import jquery funnily

from

`import $ from 'jquery'`
to

`import $ from 'jquery/src/jquery'`
from https://github.com/facebook/create-react-app/issues/679#issuecomment-311887619

[2018-09-16 18:00] refrigerator commented on #8206
@pieh — thanks so much, that fixed it!

[2018-09-16 18:13] HriBB commented on #8018
I upgraded `gatsby` to version `2.0.0-rc.15`, @material-ui/core` to version `3.0.3` and updated my code following the [official mui gatsby example](https://github.com/mui-org/material-ui/tree/master/examples/gatsby) and now it works.

The example uses `JssProvider` in `replaceRenderer` and `withRoot`. If I understand things correctly, two `JssProviders` are used to render on the server, which is n

[2018-09-16 18:13] #8018 closed

[2018-09-16 18:13] hgezim commented on #7414
Here are my reproduction steps:

1. `git clone git@github.com:hgezim/tmp-docs.git`
2. `cd tmp-docs`
3. `yarn install`
4. `yarn run dev`
5. Navigate to [http://localhost:8000/formatting/#main-picture](http://localhost:8000/formatting/#main-picture) and notice the broken image:

<img width="1256" alt="localhost_8002_formatting__main-picture" src="https://user-images.githubusercontent.com/124675/4559

[2018-09-16 18:17] ataylorme opened #8207 "Question: feasibility of using Gutenberg blocks in both WordPress source and Gatsby front-end"
## Summary
WordPress has a new editing experience, codenamed [Gutenberg](https://wordpress.org/gutenberg/), in development scheduled to be released with WordPress `5.0`.

The new editing experience is built on React and has the concept of blocks. I would like to use WordPress as a source for Gatsby. Ideally, the React components used in Gutenberg blocks can be reused in Gatsby so that the visual r

[2018-09-16 18:46] #8204 closed

[2018-09-17 02:55] TylerBarnes commented on #6303
I think the problem here is that your transitions are inside your page components but you want the transitions to apply to the routes instead. Your animations can't overlap because the pages are suddenly unmounted/mounted by the router.

If you install [gatsby-plugin-layout](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout) then you will be able to create a layout compo

[2018-09-17 03:17] TylerBarnes commented on #6303
check out https://github.com/TylerBarnes/gatsby/tree/using-page-transitions for a working example.

[2018-09-17 03:42] nodox commented on #4738
Would love to create a meetup in NYC!

[2018-09-17 03:54] kakadiadarpan commented on #8138
Hi @palerdot, any updates on the suggestions provided by @stefanprobst?

[2018-09-17 03:58] kakadiadarpan commented on #8144
Hi @kamontat, how did you integrated [typings-for-css-modules-loader](https://github.com/Jimdo/typings-for-css-modules-loader) in your app? It would be great if you can provide a reproduction repo for this.

[2018-09-17 04:14] kakadiadarpan commented on #8159
Hi @n3v3rf411, from your environment details I can see that you are on Gatsby `v2` currently. Some of the Gatsby plugins that you are using are not compatible with the `v2` version and needs to be upgraded:

[code]

Please upgrade them to their `next` version and check if that solves the issue for you.

[2018-09-17 04:18] kakadiadarpan commented on #8160
Closed in favor of #7737

[2018-09-17 04:18] #8160 closed

[2018-09-17 04:34] kakadiadarpan commented on #8163
@pieh @m-allanson @KyleAMathews any future plans of providing `hot-reload` for `gatsby-node.js`?

[2018-09-17 04:47] helmutgranda commented on #8207
Here is a similar thread: https://github.com/gatsbyjs/gatsby/issues/7465

[2018-09-17 05:05] kakadiadarpan commented on #8185
Thanks for the quick PR @stefanprobst!

[2018-09-17 05:08] kakadiadarpan commented on #8188
Hi @mahayash, can you please provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-09-17 05:35] kakadiadarpan commented on #8190
@xblue-light, can you provide relevant environment information by running `gatsby info --clipboard`?

Also, when you are using `gatsby-plugin-sass`, you don't need to modify the webpack configuration for handling styles. Please try removing the changes of `gatsby-node.js`  related to webpack config modifications and check if that works for you.

[2018-09-17 05:51] jfrolich commented on #7597
Ah that actually might be the problem. Let me check!

[2018-09-17 05:52] kakadiadarpan commented on #8089
@antonmedv I don't see the issue here

![8089](https://user-images.githubusercontent.com/10805593/45607635-62673c80-ba6b-11e8-9163-a484cc629dec.gif)

[2018-09-17 05:56] kakadiadarpan commented on #8202
This is happening for MacOS Safari as well.

[2018-09-17 06:02] kakadiadarpan commented on #8207
@ataylorme How about we keep the discussion about Gutenberg blocks in the thread pointed out by @helmutgranda?

Closing in favor of #7465

(Please feel free to reopen if you disagree 🙂)

[2018-09-17 06:02] #8207 closed

[2018-09-17 06:08] kakadiadarpan commented on #8166
In my opinion, the 2nd option would be better than others as there you would be doing all the heavy lifting on the server.

/cc @pieh any opinions on this?

[2018-09-17 06:10] kakadiadarpan commented on #5587
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-17 06:10] #5587 closed

[2018-09-17 06:11] kakadiadarpan commented on #6433
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-17 06:14] kakadiadarpan commented on #7594
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-17 06:26] palerdot commented on #8138
@kakadiadarpan @stefanprobst For now, I have already installed with `npm`. Maybe, I will update in this thread after trying uninstalling existing and reinstalling with yarn.

[2018-09-17 06:31] kakadiadarpan commented on #8138
Sure. For now, we'll be closing this. Please reopen if you still face this issue.

[2018-09-17 06:31] #8138 closed

[2018-09-17 07:12] xblue-light commented on #8190
System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i5-2500 CPU @ 3.30GHz
  Binaries:
    npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 42.17134.1.0
  npmPackages:
    gatsby: ^1.9.235 => 1.9.277
    gatsby-image: ^1.0.42 => 1.0.55
    gatsby-link: ^1.6.39 => 1.6.46
    gatsby-plugin-google-analytics: ^1.0.24 => 1.0.31
    gatsby-plugin-react-helmet: ^1.0.8 => 1.0.8

[2018-09-17 07:17] xblue-light commented on #8190
I deleted the gatsby-node.js, but same error occurs when I run gatsby build it tries to export this index.js from the third party module I cant understand how can I exclude/ignore this error..

 WebpackError: The style-loader cannot be used in a non-browser environment

  - index.js:3261 module.exports.module.exports [as exports]
    ~/react-modular-audio-player/build/index.js:3261:1

  - index.js

[2018-09-17 07:29] n3v3rf411 commented on #8159
Indeed my versions are for v1! I upgraded, cleared .cache and tried again. The results are still the same:
[code]

[2018-09-17 07:30] WinterSoilder commented on #6100
Gatsby with Apollo integration is still imature but if they do some stern library changes Apollo + gatsby + graphql will be all we need.

[2018-09-17 07:33] kakadiadarpan commented on #8190
@xblue-light can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-09-17 07:35] kakadiadarpan commented on #8159
@n3v3rf411 can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-09-17 07:48] surjithctly opened #8210 "'git' is not recognized as an internal or external command"
## Description

I'm trying to install Gatsby. I'm a designer and have not much cli experience. I followed the tutorial but it stopped working after the second command.

I already have Node and NPM installed (Windows 10).  Installed Gatsby Globally. And entered the New Project Command

`gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world#v2`

Now, I'm getting this error:

[2018-09-17 07:55] n3v3rf411 commented on #8159
Actually I'm not sure if it's really possible to query by `id`. I tried querying `allFile` and the result is still the same.

You can replicate this in the starters:
[code]

Go to graphiql page and input the following query:
[code]

[2018-09-17 07:59] deadcoder0904 commented on #6693
This might be helpful in future.

https://crawly.app

Crawly is a tool that crawls your web applications to find out broken pages to help you to maintain it. Crawly has a powerful alerting system that if any page of your project is broken, you will get a notification.

[2018-09-17 08:02] xblue-light commented on #8190
@kakadiadarpan https://bitbucket.org/perfomalis/harmlessnoise.ie/

[2018-09-17 08:11] n3v3rf411 commented on #6654
I use createRemoteFileNode to fetch remote images and I experience this same problem: download gets stuck at around 680/780ish.

In createRemoteFileNode, there is a listener to `downloadProgress` event that was added in https://github.com/sindresorhus/got/releases/tag/v8.0.0 but gatsby-source-filesystem uses got 7.1.0.

I tried upgrading got to the latest version 9.2.2 and could now successfully d

[2018-09-17 08:19] antonmedv commented on #8089
Open another link in background from my site.

[2018-09-17 08:29] hadifarnoud commented on #6670
if I remove acf from all queries, it throws these errors:
[code]

[2018-09-17 08:30] hadifarnoud commented on #6670
I think this starter kit should work for standard Wordpress installation out of the box. If I have to go through all these to manage to get it to work, what's the point?

[2018-09-17 08:32] kakadiadarpan commented on #8089
Opened multiple links in the background, cannot reproduce. Am I missing something?

![8091](https://user-images.githubusercontent.com/10805593/45612957-48852400-ba82-11e8-98f8-1366b70a210d.gif)

[2018-09-17 08:40] kakadiadarpan commented on #8210
@surjithctly You'll need `git` installed for the following command to run successfully:

`gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world#v2`

Please install git using this [tutorial](https://www.atlassian.com/git/tutorials/install-git#windows).

[2018-09-17 08:52] surjithctly commented on #8210
@kakadiadarpan As I mentioned, I also tried after installing Git. But getting same error.

I have tried again now but no luck.

Any further help?

[2018-09-17 08:58] kakadiadarpan commented on #8190
@xblue-light I'm unable to reproduce this issue. Am I doing anything wrong?

Please check this [video](https://vimeo.com/290236523) for screen recording of the steps followed.

[2018-09-17 09:04] kakadiadarpan commented on #8210
@surjithctly Most likely did not add Git to your PATH environment variable. Please check this `stackoverflow` [link](https://stackoverflow.com/questions/4492979/git-is-not-recognized-as-an-internal-or-external-command) for more help.

[2018-09-17 09:57] xblue-light commented on #8190
Everything is smooth, but what happens if you attempt to **gatsby build**

[2018-09-17 10:16] fk commented on #8089
@antonmedv @kakadiadarpan

![image](https://user-images.githubusercontent.com/21834/45617484-cd684180-ba72-11e8-8b09-de42a36408fc.png)

Seems there's no `<title>` set until the browser tab becomes active:

![image](https://user-images.githubusercontent.com/21834/45617543-f2f54b00-ba72-11e8-8611-73c6c66b5ef8.png)

The same happens on e.g. next.gatsbyjs.org/blog:

![image](https://user-images.github

[2018-09-17 11:04] pieh commented on #8089
It seems like service worker takes over there and using appshell (empty page) until tab is foces and react update DOM - if you unregister service worker, and then open link in background, Title shows up as expected.

/cc @davidbailey00

[2018-09-17 11:32] pieh commented on #6654
I tried updating, but still sometimes get stuck, but it's worth doing it anyway. Just note that `downloadProgress` stuff will either need disabling or some nicer output, because terminal/console get's spammed with progress when using that

[2018-09-17 11:37] kakadiadarpan commented on #8190
Running `gatsby build` breaks it for me as well, `react-modular-audio-player` is using `style-loader` and it is throwing this particular error.

@pieh any suggestions on how to fix this?

[2018-09-17 11:41] pieh commented on #8190
`react-modular-audio-player` seems to be client only component and won't work when rendering static html - so you will need to disable it for that - check https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules and in your component code you will need to check if `AudioPlayer` is defined before using it

[2018-09-17 11:49] pieh commented on #8166
Please check https://next.gatsbyjs.org/docs/create-source-plugin/#adding-relationships-between-nodes how to setup nodes to create links - you will want to manipulate:
[code]
before creating nodes into something like this:
[code]
and this will turn `childrenComponentProp___NODE` into `childrenComponentProp` in graphql schema which will have array of nodes - remember.

If this is in `gatsby-transfor