[2019-05-01 19:31] #13780 closed

[2019-05-01 19:38] DSchau opened #13781 "[bug]: add warning in Gatsby core when multiple versions of sharp detected"
## Description

Several of our plugins require sharp@^0.21.3 which does _not_ resolve to the latest version of sharp.

sharp@0.21.3 seems to have severe issues with Node 12, therefore our plugins should be upgraded to account for this. However--we want to do so in a way that is transparent to the end user, and doesn't introduce breaking changes if e.g. only one plugin is updated but others aren't

[2019-05-01 19:47] lannonbr opened #13782 "[docs] Further describe where gatsby-* files should belong in a gatsby plugin"
## Description

When @robert197 was creating a Gatsby plugin, he got caught up on where to place the `gatsby-node.js` file and it wasn't working for him. I helped debug his issue and it was that he didn't compile the code with babel from the `src/` directory up to the root directory of his plugin.

The only place I found this noted to do this is in the last paragraph here: https://www.gatsbyjs.org

[2019-05-01 19:56] polishedwp commented on #13773
@jonniebigodes As usual, you are absolutely correct, and your documentation is impeccable.

I verified your documentation with the simple repo I published. If @violetamenendez is willing, I think it would be appropriate for this to be, I believe, her first PR to Gatsby.

[2019-05-01 20:08] jonniebigodes commented on #12040
@duongthienlee glad to hear it. I'm leaving the code here, so that future people that come across this issue  could try the code i posted and see if it helps them in any way, shape or form and with that avoid creating further issues in here.

[2019-05-01 20:10] #13754 closed

[2019-05-01 20:13] jonniebigodes commented on #10841
For me, for the issue i'm trying to solve, what somewhat worked, i haven't fully "battle tested" (pardon the bad pun) it yet, but for now locally i was able to fetch the 200+ images and save them with 0% data corruption was through the use of the api function `onPreBootstrap`. I use it to fetch the data i want, make some transformations and replicate a folder structure needed. Then start the downl

[2019-05-01 20:18] jonniebigodes commented on #13773
@polishedwp i was kinda in a hurry when i was writting my comment and i forgot to mention that, @violetamenendez once again if you're willing, go for it. It was a nice catch on your end 👍

[2019-05-01 20:26] mrtornado opened #13785 "how to make apollo-cache-persist to work with gatsby ?"
Hello guys can somebody help me with apollo-cache-persist ?

 I have tried
[code]

 but doing this gives me an Apollo error throw new Error('In order to persist your Apollo Cache, you need to pass in an underlying storage provider. '

 Anyway to use local storage for the cache with gatsby ?

[2019-05-01 20:35] DSchau commented on #13785
@mrtornado few things!

1. It looks like [apollo-cache-persist isn't really maintained](https://github.com/apollographql/apollo-cache-persist/issues/86)
1. You'll want to provide some type of fallback for storage in Node.js environment, e.g. right now that is currently setting `storage: false` in Node.js environment, which of course, won't work like you'd expect!

If you provide a [reproduction](h

[2019-05-01 20:42] paschalidi commented on #13638
@KyleAMathews 👋
Sorry to ask since you are not part of this discussion at the moment but you might have an idea.
Can you please have a look on the question above https://github.com/gatsbyjs/gatsby/issues/13638#issuecomment-487386898?

☮️

[2019-05-01 20:43] mrtornado commented on #13785
thanks for the quick answer I removed it if it's not maintained anymore, guess I'll have to optimize my queries better to make the quicker since I'm dealing with some deep nested queries.

[2019-05-01 20:43] #13785 closed

[2019-05-01 20:51] billyjacoby commented on #4932
What was the solution for this problem?

I've followed the tutorials to try and render my blog posts using markdown, and that hasn't worked.

I stumbled upon this thread, and tried everything here too but it seems this is over a year old so a lot of this is deprecated...

[2019-05-01 20:57] pieh commented on #13754
`gatsby@2.3.35` with fixes was published

[2019-05-01 21:01] #5563 closed

[2019-05-01 21:12] polishedwp commented on #13778
For what its worth, I just tested in a Mac/ Parallels Vm of Ubuntu 18.10 and Node v.12 and the hot reloading works fine.

[2019-05-01 21:25] paschalidi commented on #13710
@prestonso hey, wow thats a nice process here. Looks very clear thanks!
`Discover`ability is on the third level and I would like to help move it **up** to the first level!
If I get this right from the `Recommendations` PR's need to be created and therefore the issue should be addressed this way.
Is that the way to go or do you have a better idea in mind?
Thanks for taking good care of this!

[2019-05-01 21:34] pieh commented on #13781
I did more discovery on last remaining step of resolving this and it really turns out that any solution has some problems and is not guaranteed to work, so what I will do, as add "Troubleshooting" section to 4 packages that depend on `sharp` and document what is needed to be done to resolve errors that show up when you have mismatched sharp versions.

[2019-05-01 21:38] paschalidi commented on #13676
@DSchau and @pungggi 👋!

This looks like a nice issue ! Can I please take over and start working on it? Asking since if @pungggi who reported want to work on this that is absolutely understandable.

Thanks for reporting @pungggi and thanks for taking good care of this @DSchau!

[2019-05-01 21:39] DSchau commented on #13676
@paschalidi that'd be great! A unit test validating the fix to go along with it would be 👌 as well.

Let us know if we can help at all!

[2019-05-01 21:42] paschalidi commented on #13676
@DSchau cool! Thanks for the quick response! Will open a PR the soonest! 👍

[2019-05-01 22:00] paschalidi commented on #13667
Hey! 👋 to both of you! 🌳

@jgalat thanks for reporting!
@lannonbr maybe I can help with that, please let me know! ?

[2019-05-01 22:15] paschalidi opened #13789 "Failing check on open PRs with title: `ci/circleci: unit_tests_node12`"
👋 to y'all! Thanks once again for maintaining such a high quality oss project, and thanks for giving us the opportunity to help you with this!

## Description

When opening a PR several checks are being made to ensure codebase quality.
At the moment you can see that many PRs are failing on the
**`ci/circleci: unit_tests_node12`** check.

This might give the impression to people who are not familia

[2019-05-01 22:16] MurphyPone commented on #13656
I'm ramming my head against the keyboard looking at the solution, still not sure why it worked.

I was running `gatsby build` instead of `yarn build` or `npm run build`.  The latter two refer to the package.json which includes the parameter `--path-prefix`.

I would always run `gatsby-build` before `npm run deploy` which includes that parameter, but it seems like unnecessarily calling `gatsby-buil

[2019-05-01 22:16] #13656 closed

[2019-05-01 22:44] jonniebigodes commented on #4932
@billyjacoby if you could share a reproduction of your issue following the steps in [here](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) i can take a look at it and try to help you out. Sounds good?

[2019-05-01 23:26] gc commented on #13759
Sounds good. Thanks

[2019-05-02 00:30] billyjacoby commented on #4932
I have setup a repo that contains a slimmed down version of the code that throws the same error in a repository here:

https://github.com/billyjacoby/gatsby-markdown-bug

This is just the gatsby-default-starter, then the code from the tutorials for adding netlify-cms:
https://www.gatsbyjs.org/docs/sourcing-from-netlify-cms/

and how to use gastsby-plugin-source and react-transformer-remark to show

[2019-05-02 01:47] MartinConde commented on #13761
@DSchau  Thanks a lot for jumping in so fast :D I've sent you the logins etc via mail. I tried using a fresh install on the server and a local one as well and it was the same. Also I tried downgrading the WP Version just in case but didn't do anything either. Lastly I tried messing with permalinks and the whitelisted routes inside gatsby-config.js

Here is the repository: https://github.com/Martin

[2019-05-02 02:08] DSchau commented on #13789
Hello!

This was actually fixed [here](https://github.com/gatsbyjs/gatsby/pull/13748).

So, it’s a matter of merging master in, which while non-ideal, is a fair thing to do.

As such, going to close this out. Thanks to opening!

[2019-05-02 02:08] #13789 closed

[2019-05-02 02:52] cpboyd commented on #13781
Out of curiosity, is there a specific reason not to change it to a peer dependency?
e.g. https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#manually-install-plugins-peer-dependencies

That way the user gets to choose what version they install.

[2019-05-02 03:01] victsant commented on #10821
Hello,

I am having the same issue with iOS 7 and using browserlist still doesn't solve the problem.

`"browserslist": [
      ">0.25%",
      "iOS 7",
      "not dead"
  ],`

Can anyone help me figure this out?

[2019-05-02 03:30] nol13 commented on #5021
@amitjindal Maybe stupid question but what does the ">-" even do? Using the netlify cms starter and seems to make absolutely no difference in the generated output whether I have >, >-, |, or nothing at all.

[2019-05-02 04:18] Zyclotrop-j commented on #13763
`which need further configuration we need to wait for` -> maybe the second idea I listed `allow returning a promise [in gatsby-config]` would solve this.

Yes, the value is available in a database. The solution you suggest, `querying the database directly` is the workaround I'm currently using. This approach duplicates the entire "query"-setup though (like schemas, ...) - I'd love to reuse the exi

[2019-05-02 05:51] teimurjan opened #13793 "Layout SSR based on the React.Context value"
## Summary

I need to have the ability to control the layout in my pages component. I implemented it using React.Context API.
Everything works fine at the development stage. But after building the static site, if I go to the page with the hidden header, I see it for some milliseconds and then it's disappeared.

## Relevant information

For example, I want to hide the header and footer on some page

[2019-05-02 06:57] paschalidi commented on #13789
@DSchau hey thanks for closing this, I could find the issue, sorry!

[2019-05-02 07:16] anonimoconiglio commented on #13742
@jonniebigodes is it possible to prevent this behavior? I mean to not change the path of the image on build process whenever some variable change?

After all this could be a problem from a SEO point of view.
Indeed I realize about it because google images put a caption on my image that says "new" on it's SERP. And that was after the last commit/push (in which I had changed maxWidth only from 1400

[2019-05-02 07:19] freiksenet commented on #13793
Thank you for the issue! This happens because SSR doesn't wait for `componentDidMount` to pass the layout options through. The way it works is that you first render you tree with default (context provided) options. With those, your header is rendered and your options component is rendered inside. This state is the one saved by Gatsby. Only after that, `componentDidMount` will run, LayoutContext wi

[2019-05-02 07:19] MartinConde commented on #13761
@DSchau Figured it out. Should have thought about trying this way sooner haha. Using the free version of Polylang, everything works as expected. I guess since the Pro version has it's own functionality to expose some stuff to the REST API there is some conflict with the WP REST - Polylang Plugin.

[2019-05-02 07:19] #13761 closed

[2019-05-02 07:23] freiksenet commented on #13723
Thank you for the report! I wonder if you could include a reproduction case.

[2019-05-02 07:25] freiksenet commented on #13698
Could you include a reproduction case? This way we could see why it's generating so many images.

[2019-05-02 07:33] freiksenet commented on #13742
There isn't a way to change this, sorry. If the parameters change, then Gatsby considers this to be a new image. We feel it's a correct behavior in this case, cause it also makes sense for caching (so you can have long term caching and not worry that the changed image won't be invalidated).

[2019-05-02 07:37] mrlubos commented on #5021
@nol13 See [block scalars](https://yaml-multiline.info), it’s about newlines.

[2019-05-02 07:39] #13742 closed

[2019-05-02 07:58] freiksenet commented on #13648
@muescha I don't have airtable access too, forwarded this to our marketing. Thank you!

[2019-05-02 08:19] #13601 closed

[2019-05-02 08:20] teimurjan commented on #13793
@freiksenet I want to configure layout settings from the page component. I have a `LayoutOptions` component which sets the values to the context:

[code]

And then I use this component inside the page component to configure layout context.

[code]

I think it won't work with Gatsby page context as I need this configuration to be given from page to layout.

[2019-05-02 08:25] LekoArts opened #13795 "[themes]: Align index query of gatsby-theme-blog-core with blog starter"
## Description

From https://github.com/gatsbyjs/gatsby/pull/13726

## How to fix it

Update the query of the theme so that it has the same functionality as the starter.

https://github.com/gatsbyjs/gatsby/blob/616fb24c332b9b32a601ef72c60ca08d42412916/themes/gatsby-theme-blog-core/src/pages/index.js#L34-L50

It also should have the `DESC` like here:

https://github.com/gatsbyjs/gatsby/blob/0d82f28

[2019-05-02 08:36] #13215 closed

[2019-05-02 08:36] freiksenet commented on #13793
Do you want to dynamically change it from the component? I mean, do they change during the runtime? I don't understand why you need to control it from the component this way :)

[2019-05-02 08:42] teimurjan commented on #13793
No, I don't need to have dynamic changes. I just followed the instruction [here](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout#passing-data-from-layout-to-page--from-page-to-layout) to pass the data from page to layout. Is there another way to have a layout configured differently for some pages?

[2019-05-02 09:05] bakeruk commented on #12848
If we cannot get access to the repo how are we going to fix this issue?

**The Answer!**

The issue is in the "Download all files" logic. The code is written in parallel which causes buffer and garbage collection issues with unresolved promises in the call-stack when you have substantial pages and media entities.

Using `lodash` **map** or **each** does not wait for a promise to resolve before con

[2019-05-02 09:06] bakeruk commented on #12280
Check my answer in [#12848](https://github.com/gatsbyjs/gatsby/issues/12848)

[2019-05-02 09:19] bakeruk commented on #10339
BUMP!

@KyleAMathews  Can this be done in the gatsby-source-drupal module when creating the node for a file if the `node.internal.type` is either `files` or `file__file`?

[2019-05-02 09:34] joealden opened #13798 "Major type issue in v2.3.35"
This issue is about the TypeScript types shipped by Gatsby.

## Description

As shown [here](https://github.com/gatsbyjs/gatsby/commit/b41755b66bdc6ad671852ce43ba036b52a9a2472#diff-60a650c8008bf341b6e36303e102c9b1R106), a commit was made that made it into v2.3.35 that changed the `GatsbyNode` type's name to just `Node`. Although this was a breaking change for those depending on the types, I though

[2019-05-02 09:35] joealden commented on #13798
Tagging @wKovacs64 and @pieh as they were the ones that created and committed this change.

[2019-05-02 09:39] freiksenet commented on #13664
Thanks for this PR! We really appreciate you taking the time to open it.

In the interest of moving this along most effectively, we strongly encourage our contributors to provide an example project which we can then use to validate the changes in this PR. This will allow us to quickly and easily ensure that this does indeed address the purported feature or fix in this PR!

An example project:

- c

[2019-05-02 09:56] MeLlamoPablo commented on #13764
However, this does work:

[code]

(This diff can be applied to https://github.com/MeLlamoPablo/gatsby-static-query-bug-demo/commit/74002adb0d54261ef3214fac6ecfe2b8e87fb18c)

So the problem doesn't come from storing the query in a variable, it actually comes from passing the query to a hook other than `useStaticQuery`. This will error:

[code]

(This diff can be applied to the result of applying th

[2019-05-02 10:11] wardpeet commented on #13793
@teimurjan you're making it a bit more complex than needed. In gatsby v2 we advocate to explicitly use Layout in each page instead of using the gatsby-plugin-layout package.

which means you can just go for: (no need to do any context api stuff)
[code]

demo:
https://github.com/wardpeet/gatsby-demos/tree/pass-data-to-layout

[2019-05-02 10:13] teimurjan commented on #13793
@wardpeet got it! I just was afraid of duplications. Thank you!

[2019-05-02 10:26] framini commented on #12238
Thanks for taking the time to review it @haezl. Yeah, that makes sense and that's what I ended up doing. I guess that what I was looking after was extending the plugin more than completely replacing it.

[2019-05-02 10:39] anonimoconiglio commented on #13742
@freiksenet
I guess it's fine (I mean it makes sense from the technical point of view, due to the cache problem you mention, although from a different perspective it is not an actual "new" image), maybe it could be useful to point it out to prevent someone to change that parameters lightheartedly and lose his ranking with google images.

[2019-05-02 10:40] imshuffling commented on #3344
So I'm trying to work this out. I have a field of "Video" on a content type of "ContentfulBlockHomepageBanner" that is not required in contentful.

Works fine if video field has content... but falls over if null, so here's my stab at the empty field issue.

Query below.
![Screenshot 2019-05-02 at 11 35 41](https://user-images.githubusercontent.com/739061/57070200-975c9280-6cce-11e9-8976-084f31422e

[2019-05-02 10:59] pieh commented on #13798
Yes, you are totally right, I'm not sure how I didn't spot it, I'll push fix shortly

[2019-05-02 11:05] freiksenet commented on #13742
That is a good point, would you like to make a PR to the documentation to clarify that?

[2019-05-02 11:26] freiksenet commented on #13707
Thank you for the report! CC-ing our theme experts @ChristopherBiscardi.

[2019-05-02 11:33] frinyvonnick commented on #4201
Is this something we could start working on a proof of concept ?

[2019-05-02 11:48] pieh commented on #13798
@joealden can you take a look at https://github.com/gatsbyjs/gatsby/pull/13799 and let me know if this is what you meant?

[2019-05-02 12:04] universse opened #13802 "Programmatic navigate does not load page resources when used in useEffect"
Hi. I am using useEffect to check if a page exists. If it does, navigate there. However, it seems the resources for the page isn't loaded. When I refresh the page, everything is fine.

Here i'm using the same template for static and client-only routes. Take note of matchPath
gatsby-node.js
[code]

Here i normalized data so that later I can check if route exists using id
layouts/index.js
[code]

He

[2019-05-02 12:15] aditya81070 opened #13803 "emotion is not working as expected without using Jsx pragma"
## Description
Use of emotion library to style the component in [part 4 of tutorial](https://www.gatsbyjs.org/tutorial/part-four/) is not working properly. In the `layout.js` component, there is no use of `Jsx pragma` as mentioned in the [emotion documentation](https://emotion.sh/docs/css-prop#jsx-pragma) and it is causing the styles applied to be failed.
I used the `JSX pragma` at the top of my `

[2019-05-02 12:34] aravindballa opened #13804 "[docs] [workflows] Deploying to Netlify"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to deploy my Gatsby project to Netlify.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😁 | 😐 | 😐 | 😁 | 😁 | 😐 | 😐 |

# Steps taken to implement

**1. Search**
  -

[2019-05-02 12:35] universse commented on #13803
did you add gatsby-plugin-emotion to gatsby-config.js?

[2019-05-02 12:38] wardpeet commented on #13793
duplications can be good for composition, it's less magic and it's more maintainable if you ever want to have a page without a layout or with something different it's all in the component no trickery.

[2019-05-02 12:44] joealden commented on #13798
@pieh yeah that is what I meant, looks good!

[2019-05-02 12:51] universse commented on #11738
anyway i found a workaround in case anyone faces the same problem
layouts/index.js
[code]

[2019-05-02 12:55] aditya81070 commented on #13803
@universse  I have not added this plugin. It was not mentioned in the tutorial.

[2019-05-02 12:56] universse commented on #13803
They did though.
![image](https://user-images.githubusercontent.com/15166715/57076675-cc8fd180-6d1c-11e9-9f1b-bf3364e5d4c5.png)

[2019-05-02 12:58] davidbailey00 commented on #13781
@cpboyd That's what we are planning on doing in Gatsby v3, but we felt that it would be detrimental if we changed the behaviour now, since it would break a lot of 3rd party Gatsby tutorials e.g. on blog sites and would require manual intervention upon upgrading packages.

[2019-05-02 13:02] aditya81070 commented on #13803
@universse Sorry, I don't know how I missed that line.  Things are working smoothly now.

[2019-05-02 13:06] universse commented on #13803
No worry. I agree the tutorial could be clearer.

[2019-05-02 13:07] #13798 closed

[2019-05-02 13:10] slorber opened #13806 "Code splitting and i18n files"
Hi,

The focus of this issue/question is not related to making i18n work, but is related to making it fast (ie, make code splitting work in an optimized way for your translation bundles).

There are already [issues](https://github.com/gatsbyjs/gatsby/issues/3853) regarding how to translate your Gatsby website with various tools/libs/CMS. There are also some nice blog posts on how to create one pag

[2019-05-02 13:13] slorber commented on #3853
Hi,

Most of the discussions here are about how to i18n a gatsby site. But there's a difference between having a POC working, and having an optimized production ready system.

If you are interested to read more about code splitting and i18n files, and why most solutions in this thread are not optimized, you'll find [this issue](https://github.com/gatsbyjs/gatsby/issues/13806) useful

[2019-05-02 13:17] slorber commented on #3830
Hi,

I've opened [an issue regarding code splitting and i18n files](https://github.com/gatsbyjs/gatsby/issues/13806) and it seems using layouts could be the best solution, like suggested by @szimek

I wonder if using something like that still works in v2 with the plugin:

[code]

Because this is not really documented and let me think we can only use one global layout at the same time.

@szimek hav

[2019-05-02 13:24] VanDoornP opened #13807 "gatsby-plugin-sharp defaultQuality not applied."
**Summary**
I defined defaultQuality: 80 in gatsby-config.js, but when I view fluid image src-set in the frontend, it stubbornly remains at 50. What am I missing? It works when I define the quality in the GraphQL query.

**Relevant information**
_Gatsby Config:_
[code]

**Environment**
[code]

I hope someone can help me find the problem.

[2019-05-02 13:26] wKovacs64 commented on #13798
Wow, yeah that definitely should not have made it in. Can't believe we all missed it! :sweat_smile: Thanks for the quick fix, @pieh.

[2019-05-02 13:38] pieh commented on #13798
Published `gatsby@2.3.36`

[2019-05-02 13:50] universse commented on #13806
It seems https://github.com/kentcdodds/babel-plugin-preval / https://github.com/kentcdodds/preval.macro is a nice solution to this. preval.macro works out of the box with gatsby. See https://www.gatsbyjs.org/docs/babel-plugin-macros/

First during createPages, you inject locale into page context.
[code]

Then, in your layouts/index.js (I'm assuming you are using gatsby-plugin-layout)
[code]
This w

[2019-05-02 14:00] baukevanderlaan opened #13808 "Changing siteMetadata fed through themes options returns null"
## Description

Thanks for your work on themes, they're incredible! 👍

I'm working simultaneously on a theme and a site that's using that theme. I want to set the `siteMetadata` in that theme based on the theme `options` defined in the site. It looks like it's working when I run `yarn workspace site develop` but whenever I change the theme options in the `gatsby-config.js` in the site folder, the

[2019-05-02 14:00] aditya81070 commented on #13803
yeah, it should mention that you have to use `gatsby-emotion-plugin` otherwise `emotion` library will not work.

[2019-05-02 14:19] violetamenendez commented on #13773
Thanks all! I will read the How to Contribute page and prepare a PR (yes, my first one to Gatsby!) to fix this.

[2019-05-02 14:34] #13803 closed

[2019-05-02 14:43] bpmottathai opened #13809 "How to deploy to github pages"
I tried to deploy gatsby-starter-default available in your repo according to documentation at

https://github.com/bpmottathai/gatsby-default-starter

https://bpmottathai.github.io/gatsby-default-starter/

I added gh-pages dependancy and added script in package.json and add pathprefix. But it not deployed. What step I am missing?

[2019-05-02 14:50] slorber commented on #13806
That looks like a great solution if this works :)

I thought of using macros but wasn't sure it would work because I thought macros would not be able to get access to the locale variable but I may be wrong.

Have you tried this approach and confirm it works or it's an idea to test?

[2019-05-02 15:00] lindaleebumblebee commented on #13648
I've made the updates to the airtable doc that will populate in the webpage. Thank you!

[2019-05-02 15:00] jonniebigodes commented on #13764
@MeLlamoPablo first of all, could you please correct your code, linting and otherwise, just don't post the code straight from a diff. It's a bit hard to read and understand, if anyone should pickup on the issue at least he/she could read it and understand the code block. From what i 've read your first block of code is a basic implementation of graphql, and it's fine, the query string itself is st

[2019-05-02 15:01] prashant-andani commented on #12272
Hi, that was accidental... sorry for that

On Tue, 30 Apr 2019 at 6:38 PM, Lennart <notifications@github.com> wrote:

--
Regards
Prashant S Andani

[2019-05-02 15:37] muescha commented on #13648
PS: Just now the events list is empty

[2019-05-02 15:38] lannonbr commented on #13648
@muescha what do you mean the events list is empty? I loaded the community events page and see a decent amount of events

[2019-05-02 15:47] freiksenet commented on #13809
Hello @bpmottathai! Check out [this guide](https://www.gatsbyjs.org/docs/how-gatsby-works-with-github-pages/).

[2019-05-02 15:54] lannonbr opened #13812 "[docs] Add page on migrating Create React App site to Gatsby"
## Summary

It may be good to research and dive into seeing if having a page on migrating from CRA (Create React App) to Gatsby would be beneficial to the community.

### Motivation

Some people may already have a React site but wish to use Gatsby's tools to better structure their data or use it for it's SSR capabilities, so it would be good to have a workflow to describe the migration progress

[2019-05-02 15:56] lannonbr commented on #13812
@pieh found that a community member has already written an article on their blog on a CRA -> Gatsby guide: https://khaledgarbaya.net/articles/moving-from-create-react-app-to-gatsby-js

[2019-05-02 15:56] bpmottathai commented on #13809
Thanks for the support, fixed with `npm run deploy`.

[2019-05-02 15:56] #13809 closed

[2019-05-02 15:59] lannonbr opened #13813 "[docs] Possible page on incrementally migrating non-react site to Gatsby"
## Summary

In certain contexts, a developer may have an existing website and they wish to start using Gatsby, but do not have the capabilities to do a rewrite of the entire site in Gatsby and rather wish to incrementally update routes over time from the legacy codebase to Gatsby.

With this, there would be points where Gatsby and the legacy codebase would exist on the same domain. Is this somethi

[2019-05-02 15:59] universse commented on #13806
Hm. Ok last time I made use of this technique, I didn't interpolate variables from react props. Thought it could work here also. Take a look here https://codesandbox.io/s/6l7n7pvkr3

[2019-05-02 16:06] leonfs commented on #3574
@KyleAMathews - Quick question: there is an issue (#3567) that talks about fixing the large size of the webpack pages-manifest. We have a moderate site (around 1K pages) and the manifest is bigger than the main app itself. You mentioned in your comment that you did it, is there a link to the documentation on how to split that manifest?

[2019-05-02 16:24] muescha commented on #13648
https://www.gatsbyjs.org/contributing/events/
![327D68C4-0EF5-428B-ACC4-D4695F926AB0](https://user-images.githubusercontent.com/184316/57090618-854b1600-6d07-11e9-944b-92063ec31893.png)

[2019-05-02 16:26] muescha commented on #13648
It is interesting: it shows for a second the events and then they are away.

[2019-05-02 16:28] lannonbr commented on #13648
Can you open up devtools and see if there are any errors popping up in the console?

[2019-05-02 16:32] neonguru opened #13814 "[gatsby-transformer-remark] query on markdownRemark no longer returns added fields"
## Description

When doing a query on markdownRemark, fields added using createNodeFields are not present. This occurs only after running `npm audit fix`, updating the gatsby package from 2.0.91 to 2.3.36 - gatsby-transformer-remark was unchanged from 2.2.0. With the previous version of gatsby, it worked fine.

Code is adding the fields in the setFieldsOnGraphQLNodeType method with createNodeField

[2019-05-02 16:41] muescha commented on #13648
![4D7E1E6B-576E-4D59-8183-EFE80AA3CF40](https://user-images.githubusercontent.com/184316/57091518-b88ea480-6d09-11e9-9e3f-d4e1fea1d5b2.gif)

I am now on iPhone only - tomorrow I can try to use remote debugging

[2019-05-02 16:42] muescha commented on #13648
I will open a new bug report tomorrow.

[2019-05-02 16:54] lannonbr opened #13815 "[gatsby-image] Add rootMargin option"
## Summary

Add a option to modify the [rootMargin](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Creating_an_intersection_observer) property of the IntersectionObserver of gatsby-image. To start, we are thinking of passing a prop for the <Image/> component so we can set the rootMargin on individual images.

### Basic example

We could do something like this:

[code]

[2019-05-02 16:57] KyleAMathews commented on #3574
You're in v2 I assume? There is still a page manifest there. @Moocar is actually close to fixing that see his meta-pr https://github.com/gatsbyjs/gatsby/pull/13004

[2019-05-02 17:20] grantglidewell commented on #13815
I'm happy to take a stab at this, ill have a PR shortly

[2019-05-02 17:27] #12237 closed

[2019-05-02 17:27] #12800 closed

[2019-05-02 17:42] narration-sd commented on #12560
This should stay open due to @wardpeet 's work on it, no?

And here's https://github.com/gatsbyjs/gatsby/issues/12997#issuecomment-487430085 a progress I had to make from actual  use in the field.

This can possibly help guide, as there's both a current workaround for those of us who got a surprise, and a suggestion how this functionality should really be made available, with flexibility to the ac

[2019-05-02 17:55] prestonso commented on #13708
Added a link to #13804 in the meta — thanks for your help, @aravindballa!

[2019-05-02 18:03] paschalidi commented on #13676
@pungggi hey 👋, thanks from my side as well for reporting this.
I am looking a little bit onto this, could you maybe help me by explaining how to reproduce it?

What I have done is that I created a completely new `gatsby` app
with `gatsby new my-blazing-fast-site`
and then run `gatsby develop` from the root folder of the project.
Also have wrapped the whole app with the `React.StrictMode`.

This h

[2019-05-02 18:07] grantglidewell commented on #13815
https://github.com/gatsbyjs/gatsby/pull/13816
a first pass

[2019-05-02 18:42] xavivars commented on #4337
It seems @wardpeet solution doesn't work when you also need to use path prefix. Having a solution like the one proposed `__disable_client_side_routing__` that disabled the canonical check would be super cool. I'd be happy to work on it and submit a PR if it'll be considered for merging. Any support for that idea, or do you think it doesn't fit into the roadmap?

[2019-05-02 18:42] gillkyle commented on #13710
@paschalidi a PR will need to be created to address the checklist items in the Recommendations above, yes 🙂 this is just 1 of the 25 workflows that are being improved as addressed in #13708

That would mean improving the docs according to those points made by @prestonso

Would you like to help take that on @paschalidi?

[2019-05-02 18:45] jonniebigodes commented on #4932
@billyjacoby sorry for the delay in the response.
Now i'm going to enumerate the steps and offer some considerations about this.
Starting with the steps.
- Cloned your example repository, added the dependencies from the `package.json` and also `gatsby-plugin-netlify`
- Checked your `/static/admin/config.yml` and modified it to run locally adjusting it to
[code]
Otherwise it would start to throw er

[2019-05-02 18:55] jonniebigodes commented on #13814
@neonguru a lot has changed since that version of gatsby and the present one. And it looks like some work needs to be done with that starter. If you don't mind the wait i'll take a look at this and try to come up with a alternative or solution for your issue, do you mind waiting a bit?

[2019-05-02 19:08] #2335 closed

[2019-05-02 19:08] #8833 closed

[2019-05-02 19:14] ethagnawl commented on #2335
This is great news! Thanks for your efforts on this feature, @DSchau!

[2019-05-02 19:15] DSchau commented on #2335
Published and available in gatsby@2.4.0. Specifically, the following packages have been augmented with assetPrefix functionality.

- gatsby@2.4.0
- gatsby-link@2.1.0 (gatsby@2.4.0 depends upon this, don't need to install manually!)
- gatsby-plugin-feed@2.2.0
- gatsby-plugin-manifest@2.1.0
- gatsby-plugin-offline@2.1.0
- gatsby-plugin-sitemap@2.1.0

Soon enough, the documentation will be available

[2019-05-02 19:15] DSchau commented on #8833
Published and available in gatsby@2.4.0. Specifically, the following packages have been augmented with assetPrefix functionality.

- gatsby@2.4.0
- gatsby-link@2.1.0 (gatsby@2.4.0 depends upon this, don't need to install manually!)
- gatsby-plugin-feed@2.2.0
- gatsby-plugin-manifest@2.1.0
- gatsby-plugin-offline@2.1.0
- gatsby-plugin-sitemap@2.1.0

Soon enough, the documentation will be available

[2019-05-02 19:15] Oliweer commented on #13815
The default 200px isn't responsive, this causes big monitors which most likely have wifi access to have the least amount of scroll percentage wise until next images compared to mobile. Wouldn't it be advisable to change the default 200px to something like 20vh?

[2019-05-02 19:34] neonguru commented on #13814
I am not in a rush, just interested in how adding fields is done now.

[2019-05-02 20:00] kluplau commented on #11137
@vai0 Did you happen to fix this yourself? I'm struggling with the exact same issue, because my plugin uses Link (from Gatsby).

[2019-05-02 20:07] tyoc213 commented on #1878
I have a use case, currently Im testing the new https://github.com/web2py/web3py and apparently you can put some htmls there directly... but I would love to setup a submodules type of approach being the father the backend (web3py) or a gatsby site...

The setup of the example app is some like

[code]

And the controller is some like

[code]

So it renders with the generic.html.

Well, so the idea

[2019-05-02 20:12] vai0 commented on #11137
@kluplau I have a PR going which I'm using currently in my own project, although it isn't passing tests atm. Been a bit busy recently, so feel free to take over that PR :)

https://github.com/gatsbyjs/gatsby/pull/11947

[2019-05-02 20:23] paschalidi commented on #13710
✨✨Yeah I would love to help with that! Thanks a lot for making this possible!
Some of the points are a little bit generic, for me at least. Would be super awesome if we can maybe define actionables so that I can open PR's that correspond better to the what @prestonso vision of this is!

Given each point I will try to raise questions that might pop up or express what I would do, so that we can be b

[2019-05-02 20:28] imrandyk opened #13821 "UseStaticQuery resulting in undefined"
So I have a query that works in graphql and if I change the query to use the same one that.s in the seo component it works just fine. I'm sure it's something simple but any help would be appreciated.

[code]

Here is the revelavent portion of my `gatsby-config.js`

[code]

[2019-05-02 20:29] DSchau commented on #13821
@imrandyk we'll need a lot more info to begin triaging this!

Could you provide a [reproduction](https://gatsby.dev/reproduction) and any other detail as to how this bug was encountered?

Thanks!

[2019-05-02 20:34] imrandyk commented on #13821
Sorry, I hit enter by mistake and it saved the default issue. I have corrected it.

[2019-05-02 20:39] DSchau commented on #13821
@imrandyk you're pulling the wrong field from the data.

The query returns a shape (as JSON) like:

[code]

so you'll want to change your destructuring to:

[code]

[2019-05-02 20:39] #13821 closed

[2019-05-02 20:46] gillkyle commented on #13710
Great! Thanks for being willing to pitch in @paschalidi!

---
In reference to this first point:

I think the note from @prestonso  is saying that this link (https://www.gatsbyjs.org/docs/adding-markdown-pages/#read-files-into-gatsby-from-the-filesystem---gatsby-source-filesystem) discusses how to configure the plugin with `gatsby-config`, but it could be more exact in specifying where that it will

[2019-05-02 20:52] pungggi commented on #13676
hi @paschalidi  you might need to import from reach-router
for example
`import { navigate } from "@reach/router"`
or a Link I guess
`import { Link } from "gatsby"`

[2019-05-02 20:52] imrandyk commented on #13821
@DSchau Took me a few but I get it, thanks!

[2019-05-02 20:55] pungggi commented on #13676
I`ve wrapped with
![grafik](https://user-images.githubusercontent.com/5635709/57106285-79b61a00-6d1c-11e9-812a-6f871bb53f2e.png)

but I think it is the same effect as React.StrictMode ..

[2019-05-02 21:07] DSchau commented on #13815
Closing due to the reasons [@KyleAMathews specified in #13816](https://github.com/gatsbyjs/gatsby/pull/13816#issuecomment-488831605)

Thanks all!

[2019-05-02 21:07] #13815 closed

[2019-05-02 21:08] OllieJT opened #13822 "GraphQL 'non string' Context"
## Summary
I've been going round in circles as to how I can transform a string into a custom type. I am trying to pass a _sortKey_ into a Shopify query. For example;
- CREATED_AT
- UPDATED_AT
- TITLE
- PRODUCT_TYPE
- VENDOR
- BEST_SELLING
- PRICE
- ID
- RELEVANCE
The issue is that **none of these should be strings**. When I pass them as context in gatsby-node.js it spits out the error _ReferenceEr

[2019-05-02 21:24] anonimoconiglio commented on #13742
Yes, it would be a pleasure. Can you tell me where I should make the PR? Actually I never make a PR before :( (although I know the concept)

[2019-05-02 21:27] zslabs commented on #12882
This would be a great addition! Was looking into this myself, but running into some roadblocks.

[2019-05-02 21:44] MirelesCloud commented on #12040
I'm having the same issue.  I have  actually been able to make this work on a previous project without a hitch, but have not been able to replicate it.  I have adapted @jonniebigodes code, but I still keep getting a 404 error.  Specifically, the console.log of the response returns empty.

[2019-05-02 22:35] ivanoats commented on #4337
@xavivars I would like that and find it useful, for sure.

[2019-05-02 22:40] ethagnawl commented on #4337
@xavivars [I took a pass at that feature](https://github.com/gatsbyjs/gatsby/pull/11914) a while back, which was closed in favor of what @wardpeet's solution. If you're going to consider revisiting that approach, it could be worth having a look at my attempt.

[2019-05-02 23:00] xavivars commented on #4337
Thanks @ethagnawl ! I took a look at your approach, and that was pretty much what I was thinking.

I think @wardpeet solution covers a different use case: the app doesn't behave as an SPA because links are actually changing the browser `location.href`, so then it navigates "server side". But I couldn't make it work for my use case because the initial redirect is still happening: my initial hypothe

[2019-05-03 00:22] unyo opened #13825 "gatsby-link does not work with target="_blank""
## Description

```<Link to={slug} target="_blank">hello</Link>``` does not open a new tab in the browser.

### Steps to reproduce

Create new gatsby project, add:
    ```<Link to='/some-path' target="_blank">wut</Link>```
And click on it

### Expected result

New tab is opened

### Actual result

Link opens in existing tab

### Environment
[code]

[2019-05-03 00:32] DoctaRay commented on #10418
@jlengstorf , is this issue still relevant to work on? I would like to work on it but I don't know what to add. The e-commerce tutorial looks pretty comprehensive already. Would adding some blog references help?
Also as a side request, would it be possible to work on the starter template itself? I would like to make it look a bit "prettier" if that's ok!

[2019-05-03 00:37] shannonbux commented on #5030
oh hoh @iamskok nice! @m-allanson @marcysutton any idea if this would be an easy-enough interim solution before we get mdx implemented in Gatsby docs?

[2019-05-03 00:37] DoctaRay commented on #10448
Hi there! Is this request still available? I've worked on image-heavy sites before which I think would aid in creating content for this tutorial.

[2019-05-03 01:48] Mohammed-Alama commented on #13695
sorry for that guys i have forget to push changes to repo I have updated now

[2019-05-03 03:41] skylarweaver commented on #10867
This issue is not resolved, even after upgrading to the latest Gatsby version. Does anyone have any advice?

I have 6 photos in `src/img`, and after only a couple file saves, the `Generating image thumbnails` loader increases to 126 thumbnails:
![image](https://user-images.githubusercontent.com/4008777/57118824-d5d86880-6d33-11e9-8b40-5f338088b0dc.png)
Each consecutive file save increases that num

[2019-05-03 03:55] rafcontreras commented on #13437
Hey @adberard

I used Gatsby to create a hybrid app, so I need a server in between the user and the different APIs as some have dumb CORS settings.

I'm using expressJS to proxy API requests and I'm hosting it in Azure.

Here's my very small express server:

[code]

[2019-05-03 03:55] nnnkit commented on #13825
Gatsby uses @reach/router and the `Link` component has `onClick` handler that overrides any default functionality of the anchor element.
https://github.com/reach/router/blob/master/src/index.js#L391

**For external links instead of `Link` component just use an `<a>`**

[2019-05-03 05:11] teimurjan commented on #13793
@wardpeet Thanks for the explanation, it's clear now 🙂

[2019-05-03 05:19] withoutwax commented on #1929
I have the same problem as well

[2019-05-03 05:41] #13793 closed

[2019-05-03 05:42] imkrunal commented on #13825
Gatsby Link is used for internal routing you can use that for external routing. Opening a new window is equal to external routing so you have to use anchor tag for that.
[code]

[2019-05-03 05:52] paschalidi commented on #13676
Thanks!

[2019-05-03 05:53] paschalidi commented on #13710
@gillkyle amazing! thanks for the quick response!

[2019-05-03 07:38] erodrig commented on #2335
is there any way to filter what assets will be referenced in this way, for me this only make sense for serving images, that need transformations, and having them done in each build in a CI server is nuts.
css and js, are ok with regular build.

[2019-05-03 08:13] ArcaneTSGK opened #13830 "Download remote images and cache them to be able to use relative paths"
## Summary
We are attempting to use a third party headless CMS to manage images for our Gatsby site. We want to be able to transform the absolute path 'https://managedcontent.brandname.com/imagename.jpg' to be cached in Gatsby so that we can use relative paths in our components and css.

## Relevant information
The CMS exposes GraphQL endpoints to query all of the data for which we use the plugin

[2019-05-03 08:54] radhasatam commented on #13322
I had named it all correctly. It's kind of erratic in my repo somehow, like it shows up sometimes randomly when I change the graphql query. The only solution that has worked for me was to run `gatsby clean` first before running `npm start`.

[2019-05-03 09:00] wardpeet commented on #12560
sorry for the late response but let me create a PR on the package. The problem with moving it back to javascript means scroll restoration will be slow so that's why we want to provide on the browser.

[2019-05-03 09:21] bpmottathai opened #13831 "how to display a custom notification of prograssive webapp with gatsby"
I deployed a gatsby website with manifest and offline plugin. I want to display a custom notification for pwa in chrome and ios safari. I found a link [here](https://gist.github.com/jsanta/9745813617f78bc6a21ce5a24fb0039e). Where to put it in gatsby?

[2019-05-03 09:34] slorber commented on #13806
Yeah this works because the locale is hardcoded/static, but don't think it's suitable to solve the problem.

[2019-05-03 10:40] sidharthachatterjee commented on #13831
@bpmottathai Looking at the linked gist, since it's arbitrary JavaScript, you should be able to put it in your root React component's `componentDidMount`

[2019-05-03 10:46] sidharthachatterjee commented on #13813
As far as I understand, this should be possible as of today. One can build individual pages with Gatsby and serve them on URLs independent of the root URL.

`pathPrefix` makes this possible.

Also now that `assetPrefix` is here, thanks to @DSchau, we can _also_ support scenarios where HTML and assets need to be served separately — by serving Gatsby's built HTML pages in the (legacy) existing setup

[2019-05-03 10:51] szimek commented on #3830
@slorber Yeah, we did.

I don't remember where we found it, but we're using this HOC:
[code]
Then we wrap each template in it:
[code]
And use them in `gatsby-node.js`:
[code]

[2019-05-03 11:06] sidharthachatterjee commented on #13825
^ What @nnnkit and @imkrunal said

Marking this as answered and closing. Thank you everyone!

[2019-05-03 11:06] #13825 closed

[2019-05-03 11:06] freiksenet commented on #13822
Thank you for the issue!

I don't quite understand the problem yet :(. You are storing the values inside prismic as strings, so they are passed through the context as strings. Do you mean that shopify encodes enums as non strings? Could you send the error that you get when you pass sortKey as string? Ideally, I wonder if you could create a small reproduction case so I could see what is wrong.

[2019-05-03 11:33] sidharthachatterjee commented on #13807
What image format are you seeing this with?

I just tried this out with a png image and it looks like the `quality` option is ignored and only works with jpeg and webp

https://github.com/gatsbyjs/gatsby/blob/fe152d879a2abc4973bf4d1f5533f08dec49ab6d/packages/gatsby-plugin-sharp/src/index.js#L178

[2019-05-03 11:46] sidharthachatterjee commented on #13830
You should be able to use the `createRemoteFileNode` helper from `gatsby-source-filesystem` (https://www.gatsbyjs.org/packages/gatsby-source-filesystem/#createremotefilenode) to manually create `File` nodes from the urls. This will download them and make them accessible from the local filesystem enabling you to do whatever you want with them:

- like the css background thing you described
- optimi

[2019-05-03 11:53] wardpeet commented on #4337
I might be able to do more work on the plugin if anyone can explain me the actual issue as I kinda forgot what I need to fix. Maybe most of this can be resolved by the newly merged assetPrefix option?

Sorry for not understanding.

[2019-05-03 11:55] sidharthachatterjee commented on #13814
@neonguru This shouldn't happen since my minor versions don't intend to have any breaking changes. Can you please link to a minimal reproduction of this?

[2019-05-03 11:58] sidharthachatterjee commented on #13802
If I understand correctly, it looks like we're navigating to `/product/${value}-${id}` when refreshing but `/product/*` on `navigate` and therefore showing data in one case and not in the other (page queries don't work in client side routes)

@pieh Thoughts?

[2019-05-03 12:24] bpmottathai commented on #13831
Please tell me the exact file or give updated file code. Newbie here

[2019-05-03 12:54] m-allanson opened #13836 "Build error with older gatsby and newer gatsby link"
## Description

Installing a Gatsby version older than 2.4.0 will install a newer version of Gatsby Link that's incompatible with the older Gatsby.

### Steps to reproduce

- `gatsby new repro https://github.com/m-allanson/assetpath-issue`
- `yarn`
- `gatsby build`

### Expected result

The site should build.

### Actual result

Build error:

[code]

### Environment

[code]

[2019-05-03 13:02] #13635 closed

[2019-05-03 13:12] heldrida opened #13838 "GraphQL Error Unknown field that happens randomly"
## Description

When I run gatsby develop or build it fails sometimes on the first few runs and then without any code changes running the same command after will build successfully.

For example, today I started the project and had to repeat: gatsby clean && gatsby develop, several times until it starts working. I'm fetching data from a remote GraphQL and not the local or md files, etc. Checked th

[2019-05-03 13:16] pieh commented on #13781
https://github.com/gatsbyjs/gatsby/pull/13646 was merged (sharp updates and warning messages), so this this is handled

[2019-05-03 13:16] #13781 closed

[2019-05-03 13:21] neonguru commented on #13814
Yes, it is easy to reproduce. 🤦‍♂

[2019-05-03 13:21] Ehesp commented on #13410
@smakosh I've had that in for a good while, but unfortunately users still see a blank screen with `Missing resources for X` in the console log.

[2019-05-03 13:22] jonniebigodes commented on #13814
@neonguru i'm currently finishing up a reproduction for you. I'll post back soon...Just doing some tweaks. Mind waiting just a little longer?

[2019-05-03 13:24] neonguru commented on #13814
That's fine. Thanks for checking on this.

[2019-05-03 13:46] smakosh commented on #13410
meaning your issue is unrelated to the offline plugin, as @luukdv mentioned, it's related to that same issue

[2019-05-03 13:57] Sergey80 commented on #3229
same issue. works with develop. does not work when do build. tried to remove the public folder and create again. same... got: socket.io/socket.io.js net::ERR_ABORTED 404

[2019-05-03 14:51] idesignpixels commented on #8301
As above I'm still getting this, not sure what is meant with the replacement solution?

[2019-05-03 15:34] violetamenendez commented on #13773
Hi,

I've tried reproducing this with the [repo](https://github.com/polishedwp/gatsby-testing-xml) @polishedwp set up. And while doing so I've come up with more questions.
First note that to reproduce it I had to delete
[code]
from the gastby-config.js file.

So then, in the doc section about xml parsing [here](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-xml#parsing-

[2019-05-03 16:00] ethagnawl commented on #4337
@xavivars

Both my hack and the submitted PR were _working properly_ for my use case: single, static page generation with no redirects. I gave up on my PR because the Gatsby team seemed to prefer a plugin instead of an app-level config option.

I never got around to trying @wardpeet's plugin, as I'd already wrapped up the Gatsby project I was working on by the time it was published. So, I can't co

[2019-05-03 16:14] #13836 closed

[2019-05-03 16:50] shannonbux commented on #13708
This looks excellent! I think part of the steps that will be crucial to
document are how people searched for docs related to each workflow.

On Mon, Apr 29, 2019 at 6:11 AM Preston So <notifications@github.com> wrote:

[2019-05-03 16:58] shannonbux commented on #4932
Wondering if this issue might be somewhat relevant: #13708

[2019-05-03 17:11] billyjacoby commented on #4932
@shannonbux Yeah when I get the chance I plan on contributing to that issue.

@jonniebigodes I think your correct in assuming that this is not directly related to this issue, so I apologize for that.

I do have a few questions and possibly concerns regarding the tutorial for setting this up, versus the changes that you have made to my test repo. Please direct me to the correct place to ask this qu

[2019-05-03 17:12] jonniebigodes commented on #13773
@violetamenendez regarding your questions:
1- Regarding this configuration
[code]
That's "baked" into the starter itself, it's pointing to that specific folder, if the folder does not exist, it starts to break. You can safely remove it for now, for your testing purposes.

2- Regarding this code
[code]
That's the result on how the [package](https://www.npmjs.com/package/xml-parser) responsible for

[2019-05-03 17:20] muescha commented on #13648
links added to events page. thanks @lindaleebumblebee  for adding

[2019-05-03 17:20] #13648 closed

[2019-05-03 17:23] muescha opened #13844 "Events Page: Missing content after loading on iPhone"
## Description

Events Page: Missing content after full page load complete on iPhone

### Steps to reproduce

i open the gatsby [community events](https://www.gatsbyjs.org/contributing/events/) page on iPhone 6S+ (iOS 12.1.3)
i tested it in Safari app and Chrome app

### Expected result

- i see the full events list

### Actual result

- while loading i see the full events list
- after loading com

[2019-05-03 17:23] muescha commented on #13648
@lannonbr  i opened #13844

[2019-05-03 17:24] muescha commented on #13844
Screenshot:

![327D68C4-0EF5-428B-ACC4-D4695F926AB0](https://user-images.githubusercontent.com/184316/57090618-854b1600-6d07-11e9-944b-92063ec31893.png)

[2019-05-03 17:25] muescha commented on #13844
Screencast:

![4D7E1E6B-576E-4D59-8183-EFE80AA3CF40](https://user-images.githubusercontent.com/184316/57091518-b88ea480-6d09-11e9-9e3f-d4e1fea1d5b2.gif)

Note: I manually the page while loading to see the events section

[2019-05-03 17:26] muescha commented on #13844
remote debug console on mac connected to iphone:

![Bildschirmfoto 2019-05-03 um 19 18 20](https://user-images.githubusercontent.com/184316/57154485-47b6bd80-6dd9-11e9-988f-38d446d9917f.png)

the content of the .js file:

[code]

[2019-05-03 17:27] #12932 closed

[2019-05-03 17:27] #12935 closed

[2019-05-03 17:27] #12979 closed

[2019-05-03 17:27] #12892 closed

[2019-05-03 17:27] #12926 closed

[2019-05-03 17:27] #12955 closed

[2019-05-03 17:27] #12957 closed

[2019-05-03 17:27] #12958 closed

[2019-05-03 17:30] DSchau commented on #13844
Yeah - I can confirm this. This seems to be specific to Safari (has nothing to do with mobile or desktop).

Will take a look!

[2019-05-03 17:31] muescha commented on #13844
yes i can canfirm on safari on mac is the same problem

[2019-05-03 17:44] karatechops commented on #11541
Ran into this issue today - @adamfaryna suggestions worked for me.
[code]
changed to
[code]
solved the issue for me.

[2019-05-03 18:02] itmayziii commented on #12047
I've encountered the same exact issue except I'm not on Netlify. Our CDN is generally very fast when serving images directly but as soon as they are no a page with Gatsby the images take 10x longer sometimes.

I've come to the conclusion it has something to do with Gatsby's preloading or javascript files. Here is a test with 3 core javascript files blacklisted and on a slow 3G connection speed.

h

[2019-05-03 18:59] ChristopherBiscardi commented on #13808
I've reproduced the issue with changing `siteMetadata` while gatsby-develop is still running and getting `null` for that value in GraphiQL.

---

That said, I'd suggest *not* setting `siteMetadata` this way. Instead, since `siteMetadata` merges, you can set up a theme as such with default values:

[code]

and let the user set the fields as such:

[code]

This approach allows the standardization of

[2019-05-03 18:59] #13808 closed

[2019-05-03 19:46] jonniebigodes commented on #13814
@neonguru sorry for the wait, when i was about to write this comment i was called away to take care of some errands.

Below is detailed the steps i took to make this work:

- Created a new Gatsby website using the starter mentioned.
- Ran `npm audit fix`, which for me bumped some dependencies.
- Issued `gatsby develop` with no changes whatsoever, i can confirm that the error pops up.
- Took a look

[2019-05-03 19:53] victsant commented on #13562
@CyberV,

I had the same issue today I fixed by not rendering the slider until the component is mounted as shown in the below code. I hope this helps!

`class SlickSlider extends React.PureComponent {
    static propTypes = {
        slidesToShow: PropTypes.number.isRequired,
        children: PropTypes.node.isRequired,
    }

    constructor(props) {
        super(props);
        this.state = {

[2019-05-03 19:56] #13844 closed

[2019-05-03 19:59] paulclifford commented on #10339
I'm also having this issue. Using a very vanilla install of Drupal on Pantheon, and a basic Image filed on a custom content type.

[2019-05-03 20:03] KyleAMathews commented on #10339
Yeah, we can copy data around inside the source plugin to make it easier to access. I'm not going to have time to look into this but if someone would like to create a PR with a proposed solution, that seems the best way to move things forward.

[2019-05-03 21:54] xavivars commented on #4337
@wardpeet: the assetPrefix doesn't fix it. I managed to have it working by using *both* your plugin (to, basically, disable client side "navigation" when clicking around) and the workaround mentioned by @ethagnawl few months ago

https://github.com/gatsbyjs/gatsby/issues/4337#issuecomment-453244611

That workaround is needed to disable the "navigate" event that happens `onClientEntry`. We fixed ad

[2019-05-04 00:21] busticated opened #13846 "Gatsby v1 vs v2 Client-side Environment Variable Behavior - `GATSBY_MY_CLIENT_CONFIGS` No Longer Available..."
hey all :wave: - i'm trying to upgrade from v1 to v2 and i'm hitting an issue w/ how env vars how handled under v2

## Description

i have a private npm module that exposes some pre-processed env vars server-side like so:

[code]

where `ENV_VARS` are keys that look like `MY_CLIENT_CONFIGS` and `GATSBY_MY_CLIENT_CONFIGS`

the implementation is swapped out when compiling the client using a webpack

[2019-05-04 00:59] neonguru commented on #13814
@jonniebigodes thanks so much, that works awesome! Using the context to pass the data is the key I was missing. Tried using the nodes passed into `setFieldsOnGraphQLNodeType` but it still wouldn't work, so I agree that the nodes modified are different in the newer gatsby releases. Excellent solution, thanks again!

[2019-05-04 00:59] #13814 closed

[2019-05-04 08:02] ldc4 commented on #10324
I'm having the same issue. So is this problem solved？

[2019-05-04 12:31] paschalidi commented on #13676
Hey @pungggi and @DSchau 👋 hope you both are doing fine and that you also having a good time!

Hmmm, it looks to me that I still cant reproduce the `warning`. To clear this out, I would very kindly ask you to check this repo https://github.com/paschalidi/gatsby-issue-13676.

Can please one of you clone it and run it locally and see if you can reproduce the same `warning`?
That would be amazing!! 🕊

[2019-05-04 12:40] MichalCz opened #13850 "WAVE Accessibility tool hangs on all Gatsby derived sites."
## Description

When trying to test a11y in the most popular tool there is (WebAIM WAVE) where all sites, including react based ones, load and are tested, but when I test [scramjet freamework docs](https://www.scramjet.org), or anything else based on Gatsby the page doesn't seem to ever be completed. The loader just spins indefintiely.

I know this may not be a Gatsby related issue, but I think th

[2019-05-04 13:06] polarathene commented on #12047
## Summary response (TL;DR)

It appears the issue is due to HTTP/2, not Gatsby. All requests are sent at the same time for that HTTP/2 socket to handle(transfer responses back). The responses are queued onto a stream back to the browser client, and TTFB is reported as those assets arrive.

Thus **they're including the download time of all requests served prior to them.** A large portion of that wh

[2019-05-04 13:17] adamwade2384 commented on #10482
I'm currently working through a related issue with the useStaticQuery hook. I want to pass a variable to the hook without pulling all nodes and filtering client side as I'm concerned with performance, and unsure of how many nodes will be added to Contentful by content editors. Has there been any progress on this feature?

[2019-05-04 13:48] polarathene commented on #12047
@baobabKoodaa

Yes. The total content to download when JS is not blocked is almost double the size in the referenced site you provided. HTTP/2 streams all requests from the same hostname over a single socket instead of multiple requests like HTTP/1.

The long TTFB is due to all requests being sent upfront at once, and reported once that particular asset has received it's first byte by the browser.

[2019-05-04 13:48] #12047 closed

[2019-05-04 14:15] haezl commented on #13708
`7. Installing and using WordPress` and `13. Installing and using Contentful` are probably ambiguous. Whats the scope of those workflows? Reading the title it seems unrelated to Gatsby but I think its about how to pull content from those CMS into Gatsby and create a blog/website?

[2019-05-04 15:07] waleedshkt commented on #13667
@jgalat
Thanks for resolving the issue I experienced too recently.

 **Just a request**
Can you please ask your member responsible for managing docs to update the info [here](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement) regarding `wrapPageElement` function?

Thank you

[2019-05-04 15:27] muescha commented on #13825
But when the path is an "internal" link to an other datsbyjs page  I use the path prefix?

Then the `a` tag has not included the prefix?

[2019-05-04 15:42] baobabKoodaa commented on #12047
Thanks for looking into this. I am actually using the `critical` prop for the main image on my home page, but the issue is still pretty bad. When I disable JS in my browser, the main image loads <100ms, whereas when I enable JS, it takes about 600ms to load. [Link](https://www.attejuvonen.fi).

I know you said this is not a Gatsby issue, but I have to disagree. I hope I'm not too harsh, but I have

[2019-05-04 15:45] muescha commented on #13821
I was not able to find the difference - but the diff tool done it:

[code]

[2019-05-04 15:50] baukevanderlaan commented on #13808
Thanks for looking into it @ChristopherBiscardi!

My specific use case is that I use the values not only for `siteMetadata` but also in the configuration of other plugins that are specified in the theme. For example I'd use the `title` theme option from my initial post both in the `siteMetaData` and in the `name` option of `gatsby-plugin-manifest`.

Anyway, it's a minor nuisance that occurs only v

[2019-05-04 16:22] jlengstorf commented on #12743
@paschalidi hey! I don't know of a reliable reproduction (that was what made this such a confusing bug for people) but your note was a reminder to open a PR to turn this option into a no-op. See #13852

Thanks!

[2019-05-04 16:25] paschalidi commented on #12743
@jlengstorf well glad I helped somehow 🤔 👍

[2019-05-04 16:46] jlengstorf commented on #10418
@DoctaRay I _think_ this issue might be resolved. @marcysutton can give us a more authoritative answer here.

Regarding styles, we try to keep the starters pretty simple, but we'd love to get a new starter from you and/or a [theme](https://www.gatsbyjs.org/docs/themes/introduction/) that adds more styles.

Thanks!

[2019-05-04 17:23] gkemp94 opened #13853 "Focus Management"
## Description

I thought Reach Router is supposed to jump focus to the content when a link is selected. I'm not getting this behavior as I progress through the tutorial.

### Steps to reproduce

I just finished https://www.gatsbyjs.org/tutorial/part-three/ of the tutorial, and was testing the accessibility but haven't got the expected behavior.

### Expected result

After link is selected, focus

[2019-05-04 17:27] #12762 closed

[2019-05-04 17:27] #12956 closed

[2019-05-04 17:27] #12986 closed

[2019-05-04 17:27] #13019 closed

[2019-05-04 17:27] #13043 closed

[2019-05-04 17:50] drillep commented on #13773
Is there any particular reason why [xml-parser](https://www.npmjs.com/package/xml-parser) was used for this plugin?  Losing key fields adds an additional layer of complexity to resolvers.

[2019-05-04 17:54] RyanFarrah67 opened #13854 "Illegal hardware instruction error with node v12"
## Description

I started the tutorial in the site (https://www.gatsbyjs.org/tutorial/part-zero/). I executed the command `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world`, and when I executed the command ; `gatsby develop` I get this error (as you will see, the command is already executed with the verbose option) :

[code]

The project has not been modified at all.

[2019-05-04 18:37] jonniebigodes commented on #13773
@drillep my take on this, is that the plugin when was being developed, that specific package was suitable for the case at hand. And it stayed that way till today. If you want and are willing, read the [contribution](https://www.gatsbyjs.org/contributing/how-to-contribute/) docs, make the changes and submit a pull request with the change. Probably some rework in terms of use of a diferent package t

[2019-05-04 18:39] jonniebigodes commented on #13814
@neonguru no need to thank, glad i was able to help out with a solution to your issue.

[2019-05-04 19:01] mrkd opened #13855 "Update starters / gatsbyjs after creating site"
## Summary

## Relevant information

I have created a new site using this starter:

`https://github.com/alxshelepenok/gatsby-starter-lumen`

Since I have created my site there have been a number of commits.

Is there an official way to update starters from the source?

### Environment (if relevant)

[code]

[2019-05-04 19:10] itmayziii commented on #12047
@polarathene

Thank you for the detailed response back, I really appreciate that. What you said about HTTP2 making TTFB appearing higher because of other higher priority things loading makes a lot of sense. I was able to disable preloading on our site and it didn't have a noticeable impact on overall load time of the page. Even though the waterfall started looking better for us with faster TTFB im

[2019-05-04 19:26] baobabKoodaa commented on #12047
I wonder if there's a way to ship the non-critical JS assets _after_ shipping the critical images?

[2019-05-04 19:50] cdaringe commented on #13019
oh @gatsbot you little eager closing troll ;) still an issue.

[2019-05-04 20:22] jonniebigodes commented on #13838
@heldrida can you share the repo, or create a [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)? So that it can be better looked at we can try and find a solution for your issue? The video helps out, but we need a little bit more to go

[2019-05-04 21:27] pungggi commented on #13676
@paschalidi
Just add this code to gatsby-browser.js
[code]

[2019-05-04 21:35] muescha commented on #13831
Did you see this links?

It is just a guess. But maybe this meet your requirements:

https://www.gatsbyjs.org/packages/gatsby-plugin-manifest/

https://medium.com/@mjadav/build-pwa-with-gatsby-9cbaa3ee93cc

[2019-05-04 21:38] muescha commented on #13830
Which CMS you use?

[2019-05-04 21:52] jonniebigodes commented on #13830
@ArcaneTSGK based on the information at hand you can create your own [plugin](https://www.gatsbyjs.org/docs/pixabay-source-plugin-tutorial/) to fetch the content and then as @sidharthachatterjee said make use of `createRemoteFileNode`. Alternatively you can use the lifecycle apis, more specifically `onPreBoostrap` and fetch the images a priori, before the Gatsby pipeline goes in "full force" and s

[2019-05-04 22:08] muescha commented on #13822
Maybe you need also to add the schema definition for `Shopify_ProductSortKeys` or change this definition to just string?

[2019-05-04 22:10] muescha commented on #13822
It works if you write `sortKey: CREATED_AT` or `sortKey: createdAt`?

[2019-05-04 22:29] yuinchien commented on #13072
Would be great to have this bug fixed so people can serve their previous projects. Many thanks!

[2019-05-04 22:52] marcysutton commented on #13708
@haezl everything on this list is in relation to Gatsby, so using headless CMS installs to pull in blog content. It is sort-of assumed because we're talking about Gatsby workflows

[2019-05-05 00:06] polarathene opened #13858 "[Feature]: Priority Hints"
## Summary

The `critical` prop does not currently raise priority of an image asset above others such as JS or fonts. This can effectively delay an image from loading before several hundred KB of JS/JSON is loaded in the HTTP/2 stream.

Currently for Chrome users, this may be possible to resolve by using the new-ish [Priority Hint](https://developers.google.com/web/updates/2019/02/priority-hints)

[2019-05-05 00:07] polarathene commented on #12047
@baobabKoodaa Here's the [HTTP/2 dependency graph](https://www.webpagetest.org/http2_dependencies.php?test=190504_BG_4901c0746083064b6421bd4e4a183a94&run=3) and [Request Details](https://www.webpagetest.org/result/190504_BG_4901c0746083064b6421bd4e4a183a94/3/details/#request_details_view) for your site via webpagetest.

You can see priority wise your fonts are quite high, as is the JS, and these p

[2019-05-05 00:23] KyleAMathews opened #13859 "Add https://www.ideo.com/ as a featured showcase site"
https://www.ideo.com/ is a world-class design agency and runs on Gatsby! We should feature them in our showcase. Would appreciate someone adding them to the showcase!

[2019-05-05 01:06] idomusha commented on #12762
Still happening.

[2019-05-05 03:19] docwhat opened #13861 "Add linting when using gatsby-plugin-emotion"
As a developer, I write CSS in my React components using Emotion 10 (via the `gatsby-plugin-emotion`).

However, I discover a whole chunk of my CSS was broken and I couldn't tell.

The closest I got to being able to detect these problems was using Firefox with its (unreliable but useful) css console warnings.

Since emotion, etc. all expand my written CSS to include vendor extensions and other tri

[2019-05-05 03:28] #13859 closed

[2019-05-05 05:27] ChristopherBiscardi commented on #13707
Hey @adrw, Gatsby supports symlinks, as evidenced by working projects that use yarn workspaces (our suggested approach) and lerna with themes. If the directory structure you've provided is fully accurate, then you're missing an `index.js` file (or a `main` field in `package.json`) in the parent theme, so when `require`d node can't find it. This is how the default node_modules resolution works (it

[2019-05-05 05:28] universse commented on #13861
Hey you can check out https://www.styled-components.com/docs/tooling#stylelint
It's fully compatible with emotion-js

[2019-05-05 07:30] erodrig commented on #7636
I see you refer to featured images, and we have control over them, but what about markdown content images, when using gatsby-remark-images, my build time for a 600 pages blog goes into 1 h. I see 50193 thumbnails being created. I don't have a way to remove blur-up to test if that helps or not

[2019-05-05 07:53] ryandrew14 opened #13863 "Should my module's JavaScript files be causing errors during the Webpack HTML building phase?"
## Summary
When I try to build my site with `gatsby build`, the `amplitude-js` node module won't build and throws an error during the build-html phase. Any help/Webpack enlightenment would be greatly appreciated! Trying to turn this into a learning experience.
## Relevant information
I was able to solve this using the ever-helpful docs ([this page](https://gatsby.dev/debug-html)) by excluding the

[2019-05-05 09:52] ATakaSKY commented on #11120
Works like a charm dude!

[2019-05-05 10:03] Ta2Rim opened #13865 "Allow unicode file path for gatsby-config"
## Description
![image](https://user-images.githubusercontent.com/41318449/57191994-95acfc00-6f66-11e9-9a11-ef6c9c6fb568.png)

when I run `gatsby devlop` causes error like above.

I've named my PC named '신태림' is my Korean name)
and I'd like to use gatsby on desktop directory.
but Windows make desktop directory located in the directory named PC name. (in this case, \신태림 exists on path)

I think it

[2019-05-05 11:22] LouiseReid commented on #2392
I'm running into this issue with Gridsome and GraphQL and it seems ridiculous that you can't delete the last entry in the collection without the build failing.  Surely this is a massive use case?

[2019-05-05 11:42] cbetta commented on #11109
I keep running into this issue as well. No matter of debugging has gotten me anywhere. It seems related to trying to create a child-parent link on something that's undefined, but no amount of guarding seems to resolve the issue.

[2019-05-05 15:16] baobabKoodaa commented on #12047
Hey, thanks again. I really appreciate the help. I tried to find the `preload` tags you were talking about, but it looks like after Gatsby compiles my site, there are just regular script tags without `preload` in `index.html`. Do you mean adding a `prefetch` attribute to those?

[2019-05-05 15:19] adberard opened #13867 "gatsby-offline-plugin and material ui break on refresh"
Hello, this is a duplicate of https://github.com/mui-org/material-ui/issues/15594 where it might be offline-plugin or gatsby-plugin-layout at fault.

## Expected Behavior 🤔
On the served build click on go to about page and refresh the page and the layout dont break
## Current Behavior 😯
On refresh in the served build the layout break, the jss classes changes, the collapse is collapsed while it sho

[2019-05-05 15:26] baobabKoodaa commented on #12008
@freiksenet I tried to look into plugin sharp, but unfortunately I can't understand how it works :( I think this has to be done with someone who is already familiar with that plugin.

[2019-05-05 17:27] diegohaz commented on #13853
I'm also having this problem. I'd guess that's because the navigation links are placed inside the page container (the element with `role="group"` on which reach router puts focus). But even using `wrapPageElement` on `gatsby-ssr` and `gatsby-browser` puts the navigation inside that container (the only difference is that the navigation doesn't get unmounted on page changes).

[2019-05-05 17:27] #13069 closed

[2019-05-05 18:21] jonniebigodes commented on #13846
@busticated see if the [documentation](https://www.gatsbyjs.org/docs/environment-variables/) helps you in any way, shape or form, or if [gatsby-plugin-env-variables](https://www.gatsbyjs.org/packages/gatsby-plugin-env-variables/) plugin could shed some insight, see if the code helps you out at least to get you started in fixing the issue.

[2019-05-05 18:45] motleydev commented on #12272
What's the order of execution for mapping? I have a set of posts that I am trying to map to categories like the `post -> authors` example. My raw source has id's in numbers, so I used create types to enforce a string assumption. Unfortunately, mapping doesn't seem to work if I use `createTypes`. I thought `createTypes` ran before the master schema was created?

[2019-05-05 18:56] bpmottathai commented on #13831
No. That is not I am asking. I need info about custom alert for pwa if a user accidentally close add to home screen notification

[2019-05-05 19:14] motleydev commented on #12272
I found a working solution where I tell the type to expect a CategoryYaml type instead of coercing it to a string and use a custom resolver to fetch the data.

It just seems like with the mapping mechanism in place, I probably should be able to force the string coercion, and then use the mapping to do the hookup for me.

Maybe I'm missing something?

[2019-05-05 19:22] AurelioDeRosa commented on #13555
Has anyone looked at this issue? It's a couple of weeks since I reported it.

[2019-05-05 20:26] mohoff opened #13869 "Fetch random image"
Under an endpoint `/random` I would like to serve a random image from my photo blog. I tried the `createPage()` approach in `gatsyby-node.js`, however, the randomness is decided at build time as I understand this, so this endpoint would always show the same image. Next, I tried fetching a list of all image ids (see below) and pass it as `context` to the react component:

[code]

Now it should be t

[2019-05-05 21:38] andrewrutter opened #13870 "Build issues when using aframe-react with Gatsby"
I am working on a prototype web application which will be using aframe to render some 3d scenes with static content being liked in. I am using Gatsby to pull this all together but running into an issue when running a build:
[code]
Is there any reasonable workaround for this? Essentially AFrame/React are going to have to run on certain pages to handle the internal canvas/webgl state - we have a num

[2019-05-05 22:34] jonniebigodes commented on #13869
@mohoff i've picked up on your issue and if you don't mind i'll write up a solution for your issue tomorrow as it's almost 2am where i'm at. Do you mind waiting a bit?

[2019-05-05 23:03] polarathene commented on #12047
@baobabKoodaa that's odd, I have plenty of preload tags in the head of my index.html, but only if I do `gatsby build`, output of `gatsby develop` is different.

Which were you using?

[2019-05-06 01:30] universse commented on #13867
Hey I faced a similar issue. Take a look at https://github.com/gatsbyjs/gatsby/issues/11738.
My workaround would be

src/layouts/index.js
[code]
I tested on my local machine and it worked. Hope it helps!

[2019-05-06 01:36] thundernixon commented on #13698
I'm also having (what seems to be) the same issue.

I'm creating a site that will be 11 pages of design project images (including process). It's a group site, because the projects are thesis projects from a design program I was recently in. So, each person is adding about 15–25 images, and these are generating a pretty big cache.

I've found a (hopefully temporary) workaround: using `gatsby build

[2019-05-06 01:42] thundernixon commented on #13698
EDIT: Actually, my build isn't *randomly* long; it's taking too long, every time.

However, the similar aspect is that it tends to fail on the same line:

[code]

[2019-05-06 02:01] jamessimone commented on #13092
@markvital I saw this issue a while back and got interested in creating a fix. At this point I'm fairly satisfied with the functionality.  Let me know what you think!

[2019-05-06 03:42] vcarl opened #13873 "[gatsby-source-contentful] Content sourced from Contentful appears in other query types"
## Description

Also described in #10254. Queries for `allMarkdownRemark` and `allMdx` contain all entries that I can otherwise find from `allContentfulBlogPost`. These redundant entries are missing several fields that are found on the `Contentful` queries that make them unusable—`title`, `slug`, `node_locale`, to name 3. As #10254 concludes, I'm working around this by filtering them out, which is

[2019-05-06 04:13] gc commented on #13698
@freiksenet I can let you see the repo privately, perhaps if you have an email I can send details to.
@thundernixon I fixed it by checking my cache into git (a very very messy and bad thing to do, but worked nonetheless). I'm not sure how Gatsby can fix it on their end, besides perhaps making image generation faster, or producing less images.

On producing less images, it surely must be possible,

[2019-05-06 05:07] btahir opened #13874 "Gastby CORS Issues"
Hi -

I am a newbie to gatbsy and am running into CORS issues with my fetch request even after passing the headers required?

I am trying to create a download button for fiels (images) I have stored in google cloud storage. This is the function (replaced bucket name):

[code]

And this is the error I get:

`Access to fetch at 'https://storage.googleapis.com/bucket/picture.jpg' from origin 'http://

[2019-05-06 06:18] haezl opened #13876 "[docs] [workflows] Improve docs for setting up a blog that pulls content from WordPress"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to create a blog/site that pulls content and images from WordPress and allows me to query it.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| :smile:  | 😐 | 😐 | :s

[2019-05-06 06:24] haezl commented on #13708
@marcysutton thanks for clarifying

Added #13876: Installing and using WordPress, looking forward to feedback.

[2019-05-06 06:48] vavra7 opened #13878 "Developing on port 80"

[2019-05-06 06:49] #13878 closed

[2019-05-06 07:38] vavra7 opened #13880 "Developing on port 80"
It is not possible to develop on port 80.

In my case since I am on Ubuntu, first I stop Apache2 occupying port 80.
`sudo service apache2 stop`

Then verifying that port 80 is really free.
`sudo netstat -tulpn | grep :80`

Attempt  to run developing at port 80
`gatsby develop --port 80`

In console shows up:
"Something is already running at port 80
Would you like to run the app at another port ins

[2019-05-06 07:51] VanDoornP commented on #13807
@sidharthachatterjee, thank you for your response.

I tested it out with both JPG and PNG files, but the quality stubbornly remains stuck at 50, regardless of file type. The URLs in the srcset keeps saying `q=50`, unless I declare the quality in the query.:

[code]
The above query works perfectly. The quality defined in the image URLs immediately changes to `q=80`. But we would prefer not having t

[2019-05-06 08:35] wardpeet commented on #13874
@btahir sadly this is not related to gastby but to CORS itself. Please check https://cloud.google.com/storage/docs/cross-origin for more information

[2019-05-06 08:45] adberard commented on #13867
It indeed really helped ! I was about to rollback to using material-ui v3 because of this and would had lost lot more time, nice catch.

[2019-05-06 08:50] btahir commented on #13874
@wardeep Thanks for replying. Its a CORS issue but its being caused because I cannot pass the correct header (in this case Access-Control-Allow-Origin) in my request. If I use the proxy feature in development, I seem to get around this: https://www.gatsbyjs.org/docs/api-proxy/

There must be a simple tweak here that I am missing to make this work in production...

[2019-05-06 09:03] wardpeet commented on #13880
could you try what the following command says? `npx detect-port 80`. We use an upstream package called [detect-port](https://github.com/node-modules/detect-port).

[2019-05-06 09:16] LekoArts commented on #13855
You can add the source repo as an upstream origin and pull new changes. But you'll have to deal with merge conflicts then.

The much better approach are [Gatsby Themes](https://www.gatsbyjs.com/gatsby-themes). When they're more widely used you'll be able to update a package :)

Closing this issue as answered, thanks for the question!

[2019-05-06 09:16] #13855 closed

[2019-05-06 09:17] LekoArts commented on #13861
I'd also recommend using stylelint then! Closing this as answered :)

[2019-05-06 09:17] #13861 closed

[2019-05-06 09:23] LekoArts commented on #13863
When referencing browser globals like e.g. `window` they would need to add a check if the current file is in a SSR context (without the `window` being available) and skip that part until it runs in the browser.

It takes all the code you use, so also the packages you use.

The `window` object isn't available at build-time (in Node). Remember, Webpack doesn't run this code in the browser but on you

[2019-05-06 09:23] #13863 closed

[2019-05-06 09:26] LekoArts commented on #13870
Please have a look at [Debugging HTML Builds](https://www.gatsbyjs.org/docs/debugging-html-builds/) to see how to solve your (common) `window is not defined` error :)

Closing this issue as answered, please let us know when you need further help. Thanks!

[2019-05-06 09:26] #13870 closed

[2019-05-06 10:23] vavra7 commented on #13880
Command returns "41137". What does it mean?

[2019-05-06 10:26] slorber commented on #3830
Thanks @szimek

With your code, particularly this line `import { localeData } from '../locales';` you end up having all your pages including all your translation files I think (see "bad solution 1" [here](https://github.com/gatsbyjs/gatsby/issues/13806) , which is not really what I'd like to have. Have you verified that this setup give you an optimized output with webpack bundle analyzer?

[2019-05-06 10:27] baobabKoodaa commented on #12047
Oops! Ok so here is 2 versions of my site, one direct output of `gatsby build` and the other modified so that every script `preload` in `index.html` is changed into `prefetch`:

https://test-preload.netlify.com
https://test-prefetch.netlify.com

At least on latest Chrome on Ubuntu the behavior is same for both: the main image loading is delayed by >500ms because of JS. I don't understand why this

[2019-05-06 11:15] mouhsnimohamed opened #13881 "Can I change the name of the output folder of favicons?"
Can I make for example **my-icons** instead of **icons** for the favicons folder?

[2019-05-06 11:31] wardpeet commented on #13881
you can try the following:
[code]

[2019-05-06 11:35] ammarjabakji commented on #13778
Hi @Dschau,
Thank you for your reply.
I think web sockets are supported but I am not sure.
I have a WordPress Certified by Bitnami VM instance, please see the details below;

Google Compute Engine
Type
Virtual machines
Single VM
Last updated
5/6/19, 8:57 AM
Category
Blog & CMS
Version
5.1.1-1
Operating system
Debian 9
Package contents
Apache 2.4.39
ImageMagick 6.9.8
lego 2.4.0
MySQL 8.0.15
OpenSSL

[2019-05-06 11:35] ammarjabakji commented on #13778
Hi @Dschau,
Thank you for your reply.
I think web sockets are supported but I am not sure.
I have a WordPress Certified by Bitnami VM instance, please see the details below;

Google Compute Engine
Type
Virtual machines
Single VM
Last updated
5/6/19, 8:57 AM
Category
Blog & CMS
Version
5.1.1-1
Operating system
Debian 9
Package contents
Apache 2.4.39
ImageMagick 6.9.8
lego 2.4.0
MySQL 8.0.15
OpenSSL

[2019-05-06 11:38] wardpeet commented on #13880
that means it couldn't get port 80 and found 41137 as a port number so something is odd. could you run `DEBUG=detect-port npx detect-port 80` it will print out some extra info.

[2019-05-06 11:55] vavra7 commented on #13880
on `DEBUG=detect-port npx detect-port 80`:
[code]

on `sudo DEBUG=detect-port npx detect-port 80`:
[code]
It looks like permission error so I run also without "sudo" `DEBUG=detect-port npx detect-port 8888`:
[code]
So that makes me a question why does it grand a different rights for different ports?

By the way `sudo gatsby develop --port 80` doesn't work with response: "sudo: gatsby: command not

[2019-05-06 12:03] mouhsnimohamed commented on #13881
It works great thanks

[2019-05-06 12:33] wardpeet commented on #13880
It seems like this article explains why https://stackoverflow.com/questions/9164915/node-js-eacces-error-when-listening-on-most-ports

[2019-05-06 12:41] #13881 closed

[2019-05-06 12:47] vavra7 commented on #13880
You are right. Following answer from you shared topic solves the issue.

[code]

Thank you for help!

[2019-05-06 12:48] wardpeet commented on #13874
To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

Are you testing this on localhost or on a https domain?
You might want to add no-cors to the request and see what it does.

[2019-05-06 12:48] wardpeet commented on #13880
My pleasure! Let me close this one.

[2019-05-06 12:48] #13880 closed

[2019-05-06 13:06] ConnorNumberOne commented on #10662
Anyone have a recent update to this?

[2019-05-06 13:44] kmcaloon opened #13883 "[docs] gastby-source-wordpress unclear on how to fetch basic post meta"
I think I'm missing something here. I see how to fetch ACF data and all when querying posts/pages, but I am not seeing instructions as to how to fetch basic post meta. I searched around and #10240 was the only issue I could find dealing with this but the solution isn't clear?

[2019-05-06 14:04] kmcaloon commented on #13883
The solution is to first make sure to register the meta key with register_meta() making sure that show_in_rest is enabled. Then in the GraphQL schema you will see a new meta field available where you then provide the meta keys.  Here is an example where I registered a post meta key named `json` for all post types:

[code]

Should the docs go over this process?

[2019-05-06 14:07] nsisodiya commented on #150
@KyleAMathews I built a plugin for HTML minification. https://github.com/nsisodiya/gatsby-plugin-html-minifier. https://gtmetrix.com reports are better now.

[2019-05-06 14:11] #13867 closed

[2019-05-06 14:19] ZLevine commented on #13838
I've been having a similar issue, totally intermittent. Nothing crazy here with our setup, but we are using `gatsby-source-graphql` as well.

[2019-05-06 14:32] marcysutton opened #13885 "Improve Gatsbyjs.org without browser JavaScript"
## Description

In reviewing Gatsbyjs.org with JavaScript disabled, most of it works! There are two main improvements I'd like to propose (and if anyone finds other low-hanging fruit, feel free to add details here!).

- Improve layout with "This app works best with JavaScript enabled" notice and scrolling of the page
- The plugins page shows up completely blank

It's reasonable that some functiona

[2019-05-06 14:37] jonniebigodes commented on #13838
@ZLevine like i said earlier if you can, care to make a [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be further looked at?

[2019-05-06 14:55] KyleAMathews commented on #150
Nice!

On Mon, May 6, 2019, 10:07 AM Narendra Sisodiya <notifications@github.com>
wrote:

[2019-05-06 15:54] i-bsd commented on #13442
Anyone solve this issue yet?

Having the same UNHANDLED REJECTION error on images on FreeBSD. Seems to be any starter that uses gatsby-image.

[2019-05-06 16:45] mohoff commented on #13869
@jonniebigodes sounds great, thanks!

[2019-05-06 16:48] brianbento commented on #4337
@xavivars Do you have link you can share with you work around?

[2019-05-06 17:23] coreyward opened #13887 "Proposal: use `allSitePage` paths to make `Link` automatic"
## Summary

I'm proposing an update to the `Link` component that will automatically determine whether a path is capable of being handled internally or not during a build (or when running `develop`) and writing out the appropriate component.

### Motivation

Currently Gatsby's `Link` component is used to handle internal links and it's up to developers to ensure that only internal links are handed t

[2019-05-06 17:27] #13044 closed

[2019-05-06 17:27] #13068 closed

[2019-05-06 17:27] #13094 closed

[2019-05-06 17:27] #13100 closed

[2019-05-06 17:27] #13124 closed

[2019-05-06 17:50] pho3nixf1re commented on #12832
There is still an in-progress PR that deals with this.

[2019-05-06 18:06] jonniebigodes commented on #13869
@mohoff sorry for the delay in the response, based on your information at hand, below are the steps i took solve your issue.
- Created a new Gatsby website based on the hello world starter, choose this to keep the reproduction simple.
- Added the minimal necessary dependencies, namely, `gatsby-image`, `gatsby-transformer-sharp`, `gatsby-plugin-sharp` and `gatsby-source-filesystem`.
- Created `gats

[2019-05-06 18:19] mohoff commented on #13869
Wow, thanks a lot, @jonniebigodes ! I will try these out soon. Two quick follow-ups:

1. Isn't it a performance issue to always fetch all images in the first query? Imagining hundreds of images including base64 representations, svg, etc...

2. Unrelated to this issue, but I wondered how the plugin `gatsby-plugin-offline` works when you're dealing with (again) hundreds of images. With the example o

[2019-05-06 18:39] minimit commented on #8102
Found a way to disable HMR hot reload by [adding custom webpack config](https://www.gatsbyjs.org/docs/add-custom-webpack-config/) in gatbsy-node.js
`
exports.onCreateWebpackConfig = ({getConfig, stage}) => {
  const config = getConfig()
  if (stage.startsWith('develop') && config.resolve) {
    // https://github.com/gatsbyjs/gatsby/issues/8102 // FIX hot reload when using iframe
    config.devServ

[2019-05-06 18:39] jonniebigodes commented on #13869
@mohoff no need to thank, glad i could help out.

Regarding your follow up questions.

For the first one, i'm a little biased here, In this ecosystem i'm a strong supporter of separation of concerns. I would rather spend a little more time fetching the images a priori with `gatsby-node.js` and supply the data via the Gatsby special prop `context` and leave the template as it's a React component to

[2019-05-06 18:51] btahir commented on #13874
I have created a dummy test bucket in Google Cloud Storage that is Public (can be viewed by anyone). This is the fetch request to get the image stored there:

[code]
The error is the same as above.

You can trigger this in an onclick event in a Button:
[code]

[2019-05-06 18:52] btahir commented on #13874
And no-cors will just return an opaque response aka empty image.

[2019-05-06 18:52] saple opened #13888 "[gatsby-plugin-google-analytics] Example's comment for `head: false` is contradicting with the option's value"
## Description

Documentation for gatsby-plugin-google-analytics has contradiction in the example. Comment above the `head: false` line says tracking script is put into head instead of body but the value `head: false` suggests the opposite.

### Steps to reproduce

See *How to use* section in [gatsby-plugin-google-analytics documentation](https://github.com/gatsbyjs/gatsby/tree/master/packages/gat

[2019-05-06 21:16] Kevin-Hamilton opened #13891 "adding .eslintrc.js configuration file disables webpack eslint-loader"
## Description

After having worked with gatsby for a couple months, I tried customizing my EsLint to better align with coding conventions used at my company.  After following [these instructions](https://www.gatsbyjs.org/docs/eslint/), I was surprised to find that `gatsby develop` stopped showing eslint warnings altogether, and without any info messages nor further documentation on the eslint con

[2019-05-06 21:35] Kevin-Hamilton commented on #13874
@btahir - Access-Control-Allow-Origin is a RESPONSE header, not a request header.  In other words, if you made the following curl request, replacing https://www.example.com/ with the URL of your website, you would expect to see an Access-Control-Allow-Origin header returned from storage.googleapis.com if your cloud storage is properly configured for your domain as per the instructions that wardpee

[2019-05-06 22:07] EmmaB commented on #7376
This was the issue for me: https://github.com/gatsbyjs/gatsby/issues/9121#issuecomment-431458945

[2019-05-07 00:21] btahir commented on #13874
Ah I see! Sorry didn't get that before. I was able to make it work by adjusting the Bucket Level CORS policies. Thanks! :)

For reference, you can use this link for instructions on how to set cors using gsutil: https://cloud.google.com/storage/docs/gsutil/commands/cors

[2019-05-07 00:21] #13874 closed

[2019-05-07 00:44] polarathene commented on #12047
Typically yes. Did you inspect the markup?

I see the images are only defined via noscript tags. That suggests no image was added with the `critical` prop? You have to remember that without that, when JS is available the noscript tag is ignored and thus there is no image markup to process until the JS is downloaded and hydrates into a React app to mount the actual images.

[2019-05-07 02:04] nandorojo commented on #7454
This worked for me.

**To scroll to the top,** make sure your path starts with `/`. Example:

[code]

I realized it wasn't scrolling to the top when I didn't have a `/` at the start like this: `<Link to="some-path" />

[2019-05-07 03:25] siddeshwarnavinkumar opened #13893 "error Building static HTML failed"
Hi all,
I am getting the following error when i run ```yarn build```. All the files except html are being generated
[code]

Here is my gatsby-config.js
[code]

And my package.json
[code]

Please help me in this case.

[2019-05-07 03:58] me4502 commented on #10482
Is there any update on this? I'm working on adding translations to components, and being able to query for strings based on a language tag in the component would be ideal here, rather than passing the strings from the page into the component.

[2019-05-07 04:12] iamskok commented on #12978
Any updates?

[2019-05-07 05:51] IftekherSunny commented on #6654
@ancashoria where should I put this code?

[2019-05-07 06:03] rachellerathbone commented on #7410
i just ran into a similar issue.

[code]

[2019-05-07 06:14] pawelotto opened #13897 "How to completely remove trailing slashes"
I desperately need to NOT generate any trailing slashes for Gatsby pages.

I'm currently using `gatsby-plugin-remove-trailing-slashes` but the plugin seems to give me more problems than it solves:

- it doesn't work when JS is disabled (my site works great also with JS disabled and I don't want any trailing slashes for the SSRendered pages when JS is disabled - good for crawler bots!)
- the plugin

[2019-05-07 07:06] rstacruz commented on #13897
(Disclaimer: I'm still investigating this too!)

I've found one way to prevent this from happening is to use `createPage` with a `.html` extension. This prevents Gatsby from making a folder with an `index.html` for that page. https://www.gatsbyjs.org/docs/actions/#createPage

[code]

[2019-05-07 07:31] ddsr17 commented on #11867
Any updated guys, its still occuring

[2019-05-07 07:36] inlet commented on #12856
Issue is not solved yet

[2019-05-07 07:57] LekoArts commented on #13888
Hi, thank you for opening the issue!

The comment on the README is correct as it refers to the `head` option itself. It is common practice to display all the options with the default options (e.g. in this case `head: false`) with their comments so that when people copy/paste the code they are not surprised by things that are turned on/off just for the sake of showing the option.

Hope this clears

[2019-05-07 08:03] ArcaneTSGK commented on #13830
Thanks for the responses, so I have decided that a plugin should do what we need,

The CMS is Cofoundry but it is abstracted behind a Graph QL endpoint that we have created as Middleware so that if we ever changed CMS in the future the front end is not affected as it only has to concern itself with our custom Graph QL implementation. With that said, here is where I am at.

I have a plugin which us

[2019-05-07 08:19] pawelotto commented on #13897
Nice workaround, however, trailing .html is something I want to avoid also. Any other ideas?

[2019-05-07 08:54] LekoArts commented on #13887
Why do you think that using regex like [shown here](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-i18n/src/components/mdxLink.js) is not enough to make a "universal" link component?

Because we don't encourage this approach or at least I don't remember us writing that approach somewhere down.

[2019-05-07 09:05] LekoArts commented on #13846
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-05-07 09:19] himynameistimli commented on #13897
There's a discussion about this issue going on here: https://github.com/gatsbyjs/gatsby/issues/9207

For my side, I just stopped trying to solving it within Gatsby, we handle it on Lambda@Edge instead. If that's something you can do, you can see my comment in the above issue https://github.com/gatsbyjs/gatsby/issues/9207#issuecomment-479359403

[2019-05-07 09:35] heldrida commented on #13838
Just got back to work from a long weekend; Thanks for checking @jonniebigodes

Now, I'll have to tweak the current project because I have private npm package. Let's see what I can do!

I was going to debug gatsby-source-graphql, I might do it at a later stage to help.

[2019-05-07 09:49] pyaillet commented on #13076
I have something to propose to resolve this issue if @hassan3095 doesn't have time to work on it.

[2019-05-07 09:50] myriamgoude opened #13900 "sitemap options: page rules for priority and frequency ?"
## Summary

In order to help Google to crawl and index correctly websites, we need to adapt frequency and priority levels for some pages on the generated sitemap.xml. It would be nice to overwrite the standard option for specific urls.

### File contents

Quick proposal:
`gatsby-config.js`:

[code]

[2019-05-07 10:03] heldrida commented on #13838
Here's the repo ( https://github.com/heldrida/gatsby-issue-13838 )
in gatsby-config.js change to a wordpress wpgraphql endpoint ( https://www.wpgraphql.com/ )

Have in mind that if I do a HTTP Post request with the query, it works fine!

Also, have in mind this is random; Check the video to understand.

[2019-05-07 11:29] raulrpearson commented on #11280
I'm running into this problem on a gatsby-mdx site. I created a minimal working example ([code](https://github.com/raulrpearson/using-gatsby-mdx-remark-images) and [site](https://raulrpearson.github.io/using-gatsby-mdx-remark-images/)) to test this issue in isolation. I think everything is configured correctly, so maybe the issue is related.

[2019-05-07 11:43] raulrpearson commented on #11280
@MitchellCash, I just noticed you're [using](https://github.com/MitchellCash/gatsby-no-blur-demo/blob/b60031223876529778ae04baf5a9e43f0e04bd90/gatsby-config.js#L25) `gatsby-remark-copy-linked-files`, but I read this on `gatsby-remark-images` [docs](https://www.gatsbyjs.org/packages/gatsby-remark-images/#supported-formats):

Possibly unrelated since one should be able to load both plugins without i

[2019-05-07 11:46] nsisodiya opened #13901 "Unable to get 100/100 score"
I want to get 100/100 score and few things it is showing.

* Combine multple JS reqests into one.
*
![image](https://user-images.githubusercontent.com/333455/57295596-7d64ea80-70e8-11e9-82ca-f562144e6fa2.png)

[2019-05-07 11:47] nsisodiya commented on #13901
Also, a few files which are generated are very very small. It should be okey to inline them

![image](https://user-images.githubusercontent.com/333455/57297000-09c4dc80-70ec-11e9-8b32-e81ce7ef8a8f.png)

[2019-05-07 11:48] me4502 commented on #13901
If you're using HTTP2, using multiple smaller scripts can actually be better for performance

[2019-05-07 11:57] nsisodiya commented on #13901
@me4502 Yes, we are using http2. But Yslow is still not giving 100/100. I am looking for 100/100 on these sites.
Only last option that, I need to write a plugin which will combine all js into one js file.
![image](https://user-images.githubusercontent.com/333455/57297451-4218ea80-70ed-11e9-800d-0b0b1133b9ac.png)

[2019-05-07 12:15] jjcav84 commented on #11280
Have you tried writing the gatsby-config.js plugin section like this
plugins: [
  `gatsby-plugin-sharp`,
  {
    resolve: `gatsby-transformer-remark`,
    options: {
      plugins: [
        {
          resolve: `gatsby-remark-images`,
          options: {
            // It's important to specify the maxWidth (in pixels) of
            // the content container as this plugin uses this as the

[2019-05-07 12:24] cameron-martin opened #13902 "[gatsby-plugin-netlify]: Caching headers missing for many immutable assets."
## Description

The root of the build directory contains many js files that have a hash of the file contents in their name and therefore can be cached indefinitely. However, the `_headers` file generated by `gatsby-plugin-netlify` does not include caching headers for these.

### Steps to reproduce

1) Clone any gatsby starter.
2) Add `gatsby-plugin-netlify`.
3) Run `gatsby build`.

### Expected re

[2019-05-07 12:29] baobabKoodaa commented on #12047
I am [adding the top image with `critical=true`:](https://github.com/baobabKoodaa/blog/blob/master/src/components/Blog/Teaser.js#L33)

`<Picture fluid={fluid} critical={index==0}/>`

I confirmed with a console log that it works as intended (yields true for the top image, false for other images).

I don't know why gatsby-image still puts it inside `noscript` tags.

[2019-05-07 12:30] liamness opened #13903 "[gatsby-plugin-catch-links] - Missing resources cause links to not work"
## Description

When resources fail to fetch, causing the initial hydration of the app to fail, gatsby-plugin-catch-links continues to call `navigate()` despite nothing being able to handle this. This results in broken links which cannot be used to navigate.

### Steps to reproduce

- Create a project using gatsby-plugin-catch-links, with a page linking to another without using `<Link />` but inst

[2019-05-07 12:36] bangarangler commented on #9818
Seconded. Same problems as above with gatsby I'm having to skip the gatsby-image plugin altogether. I can't get it to work on multiple files. it's a real bummer. same errors as above although with contentful. I even get the error trying to query via file{relativepath: {eq "pathnane" ..... there is def an issue. would love to have it resolved. I can't figure it out

[2019-05-07 12:39] marcneander commented on #11364
Sorry for being slow... Here is it [7b9jienzv022-master-1557232700604.js.zip](https://github.com/gatsbyjs/gatsby/files/3152624/7b9jienzv022-master-1557232700604.js.zip)

[2019-05-07 13:19] domemvs commented on #12684
@gustavpursche could you tell me what plugin you used to normalize the filenames? Thanks a lot!

[2019-05-07 13:21] LekoArts commented on #13901
As @me4502 said I wouldn't worry about Yslow in this case. We're smarter than Yslow and hence know that you can ignore this message. You shouldn't try to do something different if you definitely know better.

[2019-05-07 13:21] nsisodiya opened #13906 "How to disable split chunk in build"
How to disable code splitting. I tried but unable to find suitable settings.

[2019-05-07 13:40] polarathene commented on #12047
I don't know why your critical prop isn't working as expected, I haven't tried compiling the linked source.

I checked with one of my own local projects and adding the critical prop works as expected for producing the correct markup out of noscript tag like mentioned.

Those will be there regardless afaik, although they probably shouldn't be I guess if critical is used.

Yeah, I guess just trying

[2019-05-07 13:50] gustavpursche commented on #12684
@domemvs Sure! It's called "[Clean Image Filenames](https://wordpress.org/plugins/clean-image-filenames/)".

[2019-05-07 13:53] jjcav84 commented on #11280
I have not been able to get your repository to work but this starter uses MDX and manages to lazy load and blur up the image in the index.mdx file at src/pages/index.mdx so I would suggest just following that example which you can find here. (https://github.com/ChristopherBiscardi/gatsby-starter-mdx-basic) but I'm going to keep on playing around to see if I can get your repository to blur up as we

[2019-05-07 13:59] nsisodiya commented on #13901
@LekoArts @me4502
I am 100% agree. However, I tried with MaxChunk Number is 1 and now I have 100/100 score.

![image](https://user-images.githubusercontent.com/333455/57305147-3550c280-70fe-11e9-99de-26fa4ceddf87.png)

**gatsby-node.js**
[code]
I noticed that the load time also increased.

[2019-05-07 14:07] nsisodiya commented on #13906
I tried this one.

gatsby-node.js

[code]

[2019-05-07 14:13] violetamenendez commented on #13773
I've created a PR in here https://github.com/gatsbyjs/gatsby/pull/13907 with the documentation changes I think are necessary.

I agree that xml-parser seems to be a pain to work with, and according to the [description of their npm](https://www.npmjs.com/package/xml-parser) package: "...you probably don't want to use this unless you also have similar needs".

I'm also not convinced about the losing

[2019-05-07 14:14] domemvs commented on #12684
Thank you, that was quick!

[2019-05-07 14:17] raulrpearson commented on #11280
Notice that the image in that starter is being [included using the `Img` component](https://github.com/ChristopherBiscardi/gatsby-starter-mdx-basic/blame/e0bcf94d0aa537d114786b13a554973420560372/src/pages/index.mdx) provided by `gatsby-image`, which is not what I'm looking for.

Let's continue our discussion on Discord. If we learn something new, we can share it over here.

[2019-05-07 14:26] rstacruz commented on #9733
Same here with Gatsby 2.4

[2019-05-07 14:30] mbifulco commented on #13355
Popping in here to say thanks to @jonniebigodes for your incredibly informative comment above.  react-loadable is making my dreams come true over here.  Thank you!

That tip belongs in the docs somewhere - I'd be happy to put it in a PR if that's ok with you @jonniebigodes  👍

[2019-05-07 14:53] rstacruz commented on #9733
Some debugging notes:

I've encountered this too. I tried to do `gatsby build`, which generated `/public/webpack.stats.json`. I checked it out and found some warnings (not actual screenshot, sorry, I didn't take a screenshot when I encountered it):

![](https://user-images.githubusercontent.com/19804652/45082402-eaf7eb80-b101-11e8-9a6f-9eb60868fb05.png)

I found that whenever I was doing `import '

[2019-05-07 14:59] muescha opened #13908 "doc: describe the `graphql` parameters used in createPages"
## Summary

describe the `graphql` parameters used in `createPages`

### Basic example

it would be nice if there is some info where the `graphql` comes from and how it is used, and which parameters i can use

### Motivation

as we see in #13864 there was no info how we can use parameter. `graphql` is used often in the code and the plugins...

[2019-05-07 15:36] rstacruz commented on #9733
I've found another issue in my project: these CSS loader warnings are happening because there are pages that don't use the "global" layout, and I was importing CSS from the "global" layout. This will result in a different CSS order per page, depending on what page is used as the entry point.

[2019-05-07 15:46] jonniebigodes commented on #13355
@mbifulco no need to thank, really glad that it worked out for you. If you're willing to make the adjustment for, it it's fine by me. Read the [contribution docs](https://www.gatsbyjs.org/contributing/how-to-contribute/), make the pull request. I hope to see it being merged 👍

[2019-05-07 16:02] grantglidewell opened #13909 "[schema] Only download and process 3rd party images as they are queried"
## Summary

Compile an 'expected schema' from queries that are created by the user in components and in gatsby-node.js. This can be used to reduce build times, address image processing issues, and implement better preview experience. Use it in gatsby-image to ensure the image being processed could be used in the app. For hot reloading and preview use the schema to update static pages generated in

[2019-05-07 16:06] busticated commented on #13846
@LekoArts here ya go:

https://github.com/busticated/gatsby-env-vars

pull that down, run `npm i`, then run `npm run start:prod` and you'll see the `WebpackError: unable to load client config settings` error.

thanks for taking a look :pray::+1:

[2019-05-07 16:13] unmem opened #13910 "Bug: not able to serve built site in macos"
## Description

Error when running the command `gatsby serve`.

<img width="2506" alt="Screen Shot 2019-05-08 at 12 10 47 AM" src="https://user-images.githubusercontent.com/16096559/57315297-dbfc8980-7125-11e9-91bf-009bedf79a40.png">

### Steps to reproduce
[code]

### Environment
    System:
      OS: macOS 10.14.4
      CPU: (6) x64 Intel(R) Core(TM) i5-8500 CPU @ 3.00GHz
      Shell: 5.3 - /bin

[2019-05-07 16:22] busticated commented on #13846
@LekoArts

here's the crux of it i think:

in v2, my env var related client-side bits are transformed into:

[code]

note that `const env = process ? (process.env || {}) : {};` is transformed into `var env = process ? {} || {} : {};`

whereas in v1, my client-side bits are transformed into:

[code]

note that in this scenario `const env = process ? (process.env || {}) : {};` includes both mine and

[2019-05-07 16:23] davidbasalla opened #13911 "gatsby-image triggers lots of image GET request when resizing"
## Summary

## Relevant information

I noticed that when resizing the browser, a "gatsby-image" `<Img />` component is continually making GET requests to fetch the image (multiple requests a second).

I first noticed this when I started using "gatsby-image" on my own project, and assumed that I was doing something wrong. However I also noticed it on the official (?) "gatsby-image" demo (https://us

[2019-05-07 17:27] #12559 closed

[2019-05-07 17:27] #13146 closed

[2019-05-07 17:27] #12706 closed

[2019-05-07 17:27] #13111 closed

[2019-05-07 17:53] lacker commented on #5476
These docs still don't work for org or user pages; if you follow them exactly for a user site then your repository gets totally overwritten by the generated output!

Adding explanation here for other people. The problem is that for user or org pages, GitHub requires that the static content live at the root directory on the master branch. But that's where you normally would do your development, rat

[2019-05-07 17:54] lacker commented on #5476
This is incorrect. GitHub doesn't support the `gh-pages` branch for organization or user pages, only the master branch. See https://help.github.com/en/articles/user-organization-and-project-pages for details

[2019-05-07 18:13] bangarangler commented on #13278
I haven't fixed it at all. I quit using the plugin. And just pulled it in
in the components. There is certainly an issue revolving around sharp, node
update, and Gatsby image. I can't get images to work in a static query and
it sucks 🎩🎩 please let me know if you hear anything

On Fri, Apr 12, 2019, 12:52 PM Leo Furze-Waddock <notifications@github.com>
wrote:

[2019-05-07 18:34] jketcham commented on #9733
I was running into this issue on gatsby@2.3.5, but I'm pretty sure my cause was because I had followed the [instructions here](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) for replacing third party modules at build time with `null` effectively.

Well that module I was replacing includes it's own styles. In development everything worked great, I had my own styles

[2019-05-07 19:54] cameronmcefee opened #13912 "Best strategy for mulit-site monorepo with shared components"
I plan to have a few gatsby sites in a mono repo, with a shared component library between them. Is there a recommended way to do this? The primary issue I've run into so far is how to ensure that components compile when they're stored outside of a gatsby site (in the shared component folder).

[2019-05-07 20:41] trurl-master opened #13914 "Ability to keep default typeName naming schema"
## Summary

Use default typeName naming convention if typeName function returns undefined

### Basic example

[code]

### Motivation

As a developer, I would like to customize the `typeName` only for certain types of sources.

For example if I have a folder named `projects` that contains subfolders `first` and `second` (and many more) with JSON files in them, then by default what I will get as a t

[2019-05-07 20:41] mohoff commented on #13869
When showing a random image just represents a very small feature of an otherwise linear image blog, the `gatsby-config.js` approach seems less performant. Isn't this a significant fetch overhead every time the user loads the blog, even he doesn't visit the `/random` endpoint?

Thanks again!

[2019-05-07 20:55] maecapozzi opened #13915 "Is it possible to run scripts defined in a theme in an app?"
## Summary

I tried making a typescript theme: https://github.com/maecapozzi/gatsby-theme-typescript

I was exploring whether I could run some of the scripts I've written in the theme in another Gatsby app. Is this possible and I'm just missing something, or is it not possible?

## Relevant information

I thought that it may be possible to write scripts in my theme, and have them be executable fro

[2019-05-07 21:10] coreyward commented on #13887
@LekoArts Using a regular expression is fine for small sites that only ever link to HTML pages generated by Gatsby, but it's inadequate for less simple websites.

If you want to link to a local image or some other asset, or if you're using a router (e.g. AWS Route 53) or reverse proxy (e.g. nginx) to route various paths to different apps (more common than you think), you can't use a regular expres

[2019-05-07 21:24] ferbj commented on #13311
No stale

[2019-05-07 21:29] Kevin-Hamilton commented on #13911
Could you have a browser plugin causing this?  Have you tried in another browser?  I'm unable to reproduce this issue on https://using-gatsby-image.gatsbyjs.org/ in Chrome, Firefox or Safari.

[2019-05-07 21:47] davidbasalla commented on #13911
Thanks for checking, it looks like the culprit was actually the 'Disable cache' check box in the Chrome dev tools - it was checked. When I uncheck it, I don't get the multiple image requests, so I think everything is fine. I think I was misled by the fact that when I checked other websites with images (eg Wikipedia) I didn't see the multiple requests, even when disabling the cache.

I'll close thi

[2019-05-07 21:47] #13911 closed

[2019-05-07 23:13] seaneking commented on #13380
I think this should be kept open until Preact X is compatible with Reach router (and therefore Gatsby) and can be used again with this plugin. The beta rewrite may have fixed the issues I saw last time I tried, will try again when I get a chance.

[2019-05-07 23:34] baerrach commented on #4163
I think this is a newbie trap.

Is this the same as https://github.com/gatsbyjs/gatsby/issues/3460#issuecomment-356642274?

As https://github.com/gatsbyjs/gatsby/issues/3460#issuecomment-481493689 suggests noting this in the docs might alleviate these issues being raised.

[2019-05-07 23:48] KyleAMathews commented on #13901
As @me4502 mentioned, this is advice from pre http/2 days. We recommend using lighthouse scores for performance advice as it is kept up to date and yslow isn't.

[2019-05-07 23:48] #13901 closed

[2019-05-08 00:57] Kevin-Hamilton commented on #13911
@davidbasalla I had tested with 'Disable cache' checked as well because I had wondered if that could be a culprit.  However, I was testing in Chrome 73.  I just updated to Chrome 74 and now I'm seeing the same as you.  I also tried Canary, and I see the same happening there as well.

I've been able to now reproduce this on several other websites built in several other platforms.  So not a Gatsby i

[2019-05-08 01:06] billyjacoby opened #13916 "[docs] The referenced repo in the Gatsby Theme - Getting Started tutorial no longer exists."
## Description

When trying to follow the [Gatsby Themes - Getting Started](https://www.gatsbyjs.org/docs/themes/getting-started/) tutorial, the GitHub repo referenced does not exist.

### Steps to reproduce

The first line in this tutorial, in regards to scaffolding out a Gatsby theme says:
`gatsby new my-blog https://github.com/gatsbyjs/gatsby-starter-blog-theme`

However, the repo "https://gith

[2019-05-08 01:55] trevorlitsey commented on #13906
hi @nsisodiya, would this work for your needs?

[code]

[2019-05-08 02:02] AGreenObject commented on #8096
I'm having trouble with hot reloading as well.

[2019-05-08 02:17] AGreenObject opened #13918 "Hot Reloading Not Working"
** Summary**
After developing my first hello-world using `gatsby develop` and viewing localhost:8000, I noticed that hot reloading isn't actually working for me. Changes made in VCS code are not being seen in browser, even upon reload of the page.

The only way to see changes I've made in VCS code to index.js is to restart my CLI and re-run `gatsby develop`

**Steps I took**
Command line:
gatsby n

[2019-05-08 03:55] jasonellington commented on #13708
I'll be adding an issue for **13. Installing and using Contentful** soon

[2019-05-08 03:56] wontheone1 commented on #12198
This should be reopened and properly dealt? instead of auto closed by a bot.

[2019-05-08 03:57] wontheone1 commented on #12198
@DSchau @phacks

[2019-05-08 04:10] wontheone1 commented on #2796
@KyleAMathews Could you tell me from what version this was fixed?
Our project with "gatsby": "1.9.277" still has the same problem.

[2019-05-08 04:16] jacobsilver2 commented on #12848
Hey @bakeruk , I'm having this exact same issue, only on gatsby-source-wordpress . Any idea how I might utilize your solution on a wordpress-based system?  It's funny, my site was working perfectly until I added about 8 new posts all with around 5-10 images per post, now the whole build fails because it "can't process remote content".  This is all with netfliy, and wordpress being hosted on anothe

[2019-05-08 04:35] CharlieDieter commented on #4721
It would be pretty easy to do this with `gatsby-source-filesystem`.  I added this to gatsby-config.js:
[code]

Then in my layout component I create a StaticQuery:
[code]
Then filter out the paths you don't want (like 404 and test). That's the best way I can figure out for now.

[2019-05-08 05:36] nsisodiya commented on #13906
Thanks

[2019-05-08 05:41] nsisodiya commented on #13906
@trevorlitsey - I tried, but it didn't worked.

[2019-05-08 05:50] hassan3095 commented on #13076
@pyaillet Yes please, I took a shot at it but wasn't successful.

[2019-05-08 06:39] hassan3095 commented on #13649
Hi, can I be assigned to this issue? I have already made some changes!

[2019-05-08 07:43] ArcaneTSGK opened #13922 "Gatsby Source GraphQL, where can I loop through the nested fields"
## Summary
I am trying to modify gatsby-source-graphql to utilise the createRemoteFileNode for media provided by the CMS (via a graphql endpoint). I am struggling to identify at which point I need to iterate through the fields so that I can do the create remote node for things like images.

## Relevant information

In transforms.js I can see where the GraphQLSchema types are being generated

[code

[2019-05-08 07:43] LekoArts commented on #13916
Duplicate of https://github.com/gatsbyjs/gatsby/issues/13481#issuecomment-484827476 :)
Therefore I'm closing this. Thanks for the issue though!

[2019-05-08 07:43] #13916 closed

[2019-05-08 07:48] violetamenendez commented on #13773
Actual PR here https://github.com/gatsbyjs/gatsby/pull/13921 that actually passes all the tests 0:-)

[2019-05-08 07:58] Joey-Robinson commented on #5229
If this is still persisting for anyone, or someone comes across this, I found a solution. I installed dotenv to my project then imported it ```require("dotenv").config()``` using that and put my .env variables in their normal place.

I'm not sure if this is the correct solution, but my errors have gone away. Hope it helps.

[2019-05-08 08:05] davidbasalla commented on #13911
Ah nice, thanks for looking into this, good to know!

[2019-05-08 08:14] #13773 closed

[2019-05-08 08:17] LekoArts commented on #13906
As mentioned in your [other issue](https://github.com/gatsbyjs/gatsby/issues/13901) we don't recommend changing this behavior of Gatsby. We work hard on making Gatsby as fast as possible and this would decrease your speed. Hence I'm closing this, thanks for the issue!

[2019-05-08 08:17] #13906 closed

[2019-05-08 08:20] pierrenel commented on #12848
I have found this issue to appear when I'm far away from my wifi AP - when I'm right next to it, things are fine - when I'm on the other side of the house: bingo.

[2019-05-08 08:25] LekoArts commented on #13918
I can't reproduce this on my machine, please try Node v10 or v11 👍

[2019-05-08 08:58] AbhimanyuAryan opened #13924 "Unable to deploy my gatsby(node) blog to Gitlab"
I have gatsby blog that I'm trying to host on Gitlab but I get deployment error. I tried adding `rm -R /public /node_modules` under script section in `.gitlab-ci.yml` but it didn't work

My **.gitlab-ci.yml** file

    image: node:latest

    # This folder is cached between builds
    # http://docs.gitlab.com/ce/ci/yaml/README.html#cache
    cache:
      paths:
        - node_modules/

    pages:

[2019-05-08 09:35] steoneill commented on #13399
@gatsbyjs/core any updates on what I can do here? :)

[2019-05-08 10:29] interglobalmedia commented on #12370
Hi, I use Google Analytics on my Gatsby sites and was just wondering - is it enough to add `anonymize: true,` to the  Google Analytics options in gatsby-config.js? To take care of anonymization? Google Analytics itself does not show any (obvious) way of adding that, perhaps I am not finding something, so I am thankful that at least I am able to add it through Gatsby!

[2019-05-08 10:31] heldrida commented on #13838
Same today, had to do gatsby develop several times, after a few attempts it worked.

`Helder@Punkbit-mbp:~/www/moola-blog-ui$ npm run start

info Deleting .cache, public
info Successfully deleted directories
success open and validate gatsby-configs — 0.017 s
success load plugins — 0.754 s
success onPreInit — 0.004 s
success initialize cache — 0.007 s
success copy gatsby files — 0.086 s
success onP

[2019-05-08 10:31] jacobsilver2 commented on #12848
Hmm, that’s interesting as I’m currently traveling and dealing with slow internet. I will try once I’m home and have a faster connection. Though the problem is happening on netlify as well as my local machine so I’m not sure if that is the issue

[2019-05-08 11:35] janosh opened #13925 "gatsby-remark-autolink-headers: add slug for markdown headings to GraphQL"
Would be great if [`gatsby-remark-autolink-headers`](https://gatsbyjs.org/packages/gatsby-remark-autolink-headers) made the slugs it generates to markdown headings available through GraphQL, i.e. as an additional attribute to the `headings` array generated by [`gatsby-transformer-remark`](https://gatsbyjs.org/packages/gatsby-transformer-remark).

### Basic example

[code]

### Motivation

Would ma

[2019-05-08 14:52] IadityaM commented on #13213
Still getting the same error with gatsby develop command

[2019-05-08 14:53] IadityaM commented on #13213
core-js@^2.0.0 isn't resolving it either.

[2019-05-08 14:56] leonfs commented on #12280
I added some comments to that opened PR. I don't think that fix is a breaking change.

If worried about cascading the issues to consumers, is probably good that they see that some of their remote files' download fails, they might not have noticed it and have broken sites (it happened to us and we caught it because of synthetic tests), especially if the number of pages is high.

[2019-05-08 15:13] ibjorn commented on #8096
Even I.

[2019-05-08 15:20] cluzier commented on #13910
You're sure you're in the correct directory? I know in the reproduction steps you do `cd tmp` but is `tmp` really the right place?

[2019-05-08 15:24] jjcav84 commented on #13213
you have to install core-js@2.6.5 neither 2 nor 3 work only 2.6.5 at the moment
And sorry for the mixup

[2019-05-08 15:24] zslabs opened #13928 "gatsby-plugin-netlify-cms adding widgets"
## Summary

The new version of https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-netlify-cms depends on netlify-cms-app which does not include the Cloudinary widget. Are there any docs for how to add this with that version?

[2019-05-08 15:27] unmem commented on #13910
sorry about missing one step.. you can see the current directory in the screenshot is `global-styles`.

[2019-05-08 15:31] zslabs commented on #13928
[code]

Using

[code]

Appears to be the way I'd go doing this, but just want to make sure I won't miss out on anything the base plugin is providing in the init of the CMS.

[2019-05-08 15:37] #13213 closed

[2019-05-08 15:40] kmcaloon commented on #12804
Is no one else seeing this?  Looks like OP was using style components, but I am getting this same problem using gastby-plugin-sass and including my global styles within a shared layout.

[2019-05-08 15:45] jonniebigodes commented on #13838
@heldrida i've cloned the repo and i'm currently checking out the wpgraphql, and going to run some tests, and report back to you? do you mind waiting just a bit longer?

[2019-05-08 15:53] heldrida commented on #13838
@jonniebigodes take your time! I should be the one checking this issue, just been super busy, so will try to check the problem later on, but if you are familiar with the library and can at least confirm the issue, that is great!

[2019-05-08 16:18] muescha commented on #13649
yes - you are welcome to contribute - just make an Pull Request with the issue number in the text

[2019-05-08 16:31] kepi0809 opened #13930 "[gatsby-source-wordpress] – media sizes don't show in media_details"
## Description

in the rest API there is a sizes array which contains the same img in different resolutions. This is supposed to be in the graphql too but this isn't queryable (it's not there) and once it was null for all images.

### Steps to reproduce

Create any post with image and try to query it on GraphiQL

### Expected result

          media_details {
            sizes
          }
should b

[2019-05-08 16:36] jonniebigodes commented on #13869
@mohoff In a nutshell, no, the data is fetched during the build process, either locally or in a CDN, when the Gatsby build pipeline reaches that stage, the api is invoked and the relative data is fetched and injected to that page under that endpoint.

With that, i'm avoiding running a graphql query on a page/component, and then waiting for the results to come in and then generate a random number a

[2019-05-08 17:04] jonniebigodes commented on #13893
@siddeshwarnavinkumar that specific error happens because in your code, or one of the packages you have is accessing the `window`, object and as Gastby works with server side rendering, meaning that all the pages/components are built in node, access to some apis, like for instance in this case `window` and that api is not available to node and that error will be generated, Depending on what you ha

[2019-05-08 17:27] #13154 closed

[2019-05-08 17:48] polishedwp commented on #13910
I can confirm on my MacOS with the Hello-world start, the same result as you have described. However, the Default starter works fine.

[2019-05-08 18:36] donaldboulton commented on #13383
No one cares and do not know the difference

[2019-05-08 18:36] #13383 closed

[2019-05-08 18:47] yaroslav-perec opened #13931 "[gatsby-source-wordpress] - GraphQL Error - Unknown Field on ACF"
Hi!

I have WP posts that have some optional fields, for example (`image1`, `image2`) and one file (for example `article.js`) in which I render these posts (they are grouped by category) when I leave some fields empty in one of the posts, I get the error message `Unknown field 'image' for type 'wordpress__POSTAcf`

I added this code to the end of my theme's functions.php file to fix my problem.

[

[2019-05-08 18:49] thomascorthouts commented on #13910
I was able to reproduce as well, a quick check learned me that adding the default `gatsby-*.js` files made this one "serve-able" from localhost.

It seems like an empty `gatsby-config.js` is sufficient to make it work. No immediate idea on the origin of the issue, but just putting it here.

[2019-05-08 18:54] ossd commented on #8755
@erw13n the withPrefix did not solve the problem

When you build and serv the gatsby page, the script tags are in the code and the browser will load and execute them.
When you run develop, the script tags are in the code, too, but the browser will not load then. Interesting is, that the files are available, when you type them in the address bar of the browser.

But something in develop mode preven

[2019-05-08 18:56] danielsto commented on #4119
Is it possible to remove the hovering icon left to the heading?

My options look like this:
[code]

[2019-05-08 19:28] AbhimanyuAryan commented on #13924
I got this error. After adding "scripts" to package.json and modifying .gitlab-ci.yml

[code]

[2019-05-08 19:28] polishedwp commented on #13910
@thomascorthouts good point. the `hello-world` is a fairly blank starter and it makes since it would not `serve` in is fresh install state.

I wonder if it would make since to include a `gatsby-config.js` file with the basic `sitemetadata` and no plugins for this starter?

[2019-05-08 19:54] Cobwebster commented on #6668
How would this be implemented? null checks on auth return errors

[2019-05-08 19:57] thomascorthouts commented on #13910
@polishedwp indeed, it makes sense. The place it's used in the tutorial on the [website](https://www.gatsbyjs.org/tutorial/part-one/), it's only ever been run in `develop`.

It might be a good addition to add a note that the `serve` part doesn't work in [the starter docs](https://www.gatsbyjs.org/starters/gatsbyjs/gatsby-starter-hello-world/) or as you proposed to have a   `gatsby-config.js` with

[2019-05-08 21:20] Cobwebster opened #13934 "Redux failing my build - works in development mode"
## Description

Here is my repo which shows my basic redux setup, should give a better idea of my setup.  https://github.com/Cobwebster/CraftMC

I added some redux functionanility to my website, it works in development mode but when I attempt to build it throws this error,

`  WebpackError: Invariant Violation: Could not find "store" in the context of "Connect(Layout)". Either wrap the ro  ot comp

[2019-05-08 21:30] kiley0 commented on #12744
Borrowing from a few of the solutions presented above, here's what worked for me.

My `gatsby` and `core-js` versions:
[code]

Install `babel-preset-gatsby`
[code]

Create a file at the project root called `.babelrc` and add the following:
[code]

Then when I run `yarn start` I no longer get the errors referenced above.  Credit to those above who presented these solutions, I just wanted to pull it

[2019-05-08 21:45] jjcav84 commented on #12744
I saw this in another issue and after some time tracked down to this specific warning that was occurring no matter what I had tried up to then.

warning gatsby > @reach/router > create-react-context > fbjs > core-js@1.2.7: core-js@<2.6.5 is no longer maintained. Please, upgrade to core-js@3 or at least to actual version of core-js@2.

so looking at it what it seemed to state was that it can't be l

[2019-05-08 21:54] jonniebigodes commented on #13924
@AbhimanyuAryan i've just finished a couple of tests with the starter blog, the first one was done after bumping the packages used and commiting them to gitlab, checked the CI/CD and it ran without issues. After that i cleaned the cache and retried the deployment and apart of one error, that being that the cache was not present, once again it ran without any issues. I'll leave the repo used [here]

[2019-05-08 21:55] Cobwebster commented on #6362
Hey, do you have a example of this? I have the same issue but sadly nothing suggested so far worked - https://github.com/gatsbyjs/gatsby/issues/13934

[2019-05-08 22:37] #12804 closed

[2019-05-08 22:54] federicobadini commented on #12066
We are building a site with ~3k pages and we are currently suffering from the same problems.
Basically we have to wait 10 to 15 min for uploading & postprocessing.

Is there any news on this? It would really make some difference for us.

[2019-05-09 00:33] siddeshwarnavinkumar commented on #13893
Thanks @jonniebigodes

[2019-05-09 00:33] #13893 closed

[2019-05-09 00:55] AGreenObject commented on #13918
@LekoArts I've tried running the same procedure with both Node v10 and v11 with the exact same result. Is there anything else I should try or do you need more information about something?

[2019-05-09 01:00] 0ff5ec opened #13938 "Infamous GraphQL Error Field "image" must not have a selection since type "String" has no subfields."
## Description

The way gatsby is handling images is definitely a bug, I confirmed again today, it throws error randomly. I have experienced same source code compiling successfully and running the develop server, while 9/10 times it throws an error. Programmatically I cannot think of any good reason for gatsby develop to behave this way. Every time for good measures, I have cleared the .cache. Con

[2019-05-09 01:02] #13934 closed

[2019-05-09 01:11] 0ff5ec commented on #13938
This issue is really limiting my ability to learn how to use images properly within posts. I have seen issues when markdown could render an image that is hosted publicly, but wouldn't render my local images in gatsby.

P.S. I have done my rigorous research on past issues on this topic and tried all of them.

[2019-05-09 02:10] baerrach commented on #12796
To fix this using Typorgraphy, see https://github.com/KyleAMathews/typography.js/issues/155#issuecomment-490715480

[code]

[2019-05-09 02:32] kazuma1989 commented on #13934
Came from https://github.com/gatsbyjs/gatsby/issues/6362#issuecomment-490665270

Sorry but my examples are in private repos.
My `gatsby-ssr.js` and `gatsby-browser.js` are essentially same as ones in [the official example](https://github.com/gatsbyjs/gatsby/tree/ec8deb2d757524316a06ae3cefe26d7626549ad6/examples/using-redux), so your repo for reproduction seem to work fine.

[2019-05-09 02:51] GarrettJMU opened #13939 "Not able to access env process in gatsby node"
## Description

I'm using gatsby-node to call two separate servers to get some data. I need different URL's for production, staging and development. I can access the NODE_ENV via process.env.NODE_ENV but if I set any other variable (i.e. process.env.GATSBY_ENV) I'm unable to access that.

### Steps to reproduce

Update your package.json to include the following scripts:
[code]
in gatsby-node.js ad

[2019-05-09 03:06] vpicone commented on #13775
@DSchau I'm experiencing this warning in my theme: https://github.com/carbon-design-system/gatsby-theme-carbon

[2019-05-09 03:16] muescha commented on #13888
Since it is the second PR about it:

I think it's a design issue and should somehow fixed because everyone expect the opposite of the property

[2019-05-09 03:33] jonniebigodes commented on #13939
@GarrettJMU reading your issue i'm inclined that you can only variables that way with something like [this](https://www.npmjs.com/package/cross-env), i'm leaving [here](https://www.gatsbyjs.org/docs/environment-variables/) the documentation on how Gatsby handles environment variables

[2019-05-09 03:36] muescha commented on #13888
Please just check out again this lines:

https://github.com/gatsbyjs/gatsby/blob/064010415e2bf4736d2525f97b66b80e815e778c/packages/gatsby-plugin-google-analytics/src/gatsby-ssr.js#L50-L52

Here I can see if it is true then setHeadCompontents is used

Here you see the ApiRunner:

https://github.com/gatsbyjs/gatsby/blob/077a9c8e8657575a800ddf74994f80b2fcc6f62c/packages/gatsby/cache-dir/develop-stati

[2019-05-09 04:03] GarrettJMU commented on #13939
So I should mention I tried dotEnv and cross-env with no luck as well.

[2019-05-09 06:05] floriangaechter commented on #11867
@ddsr17 yes, as soon as we pull in data from Contentful the build task crashes, stalls, or, if we're very lucky, succeeds 😄 but to be serious, yes, we still have the issue.

Currently we're doing without any image preprocessing, just serving the images without traced SVGs or blurred versions of the image.

[2019-05-09 06:19] aravindballa commented on #13939
Try changing the scripts to
[code]

[2019-05-09 06:30] paschalidi commented on #13676
little bit busy the last days will work on that in the weekend. soz

[2019-05-09 07:34] bakeruk commented on #12848
I'm on a symmetric 1 Gpbs line at the office and there are issues mentioned about.

The above WiFi related comments illustrate the same issues. If promises were resolved correctly in the call-stack, regardless of the download speeds, the process of remote file retrieval would be successful.

I'll try and put together a PR if I have time this week to fix this.

@jacobsilver2 It could be the same re

[2019-05-09 07:51] ajkasliwal commented on #8479
I am also facing this issue on gatsby v2.3.5
Can someone provide a fix for it?

[2019-05-09 08:34] LekoArts commented on #13888
Hi Michael,

those two PRs were created at roughly the same time, I don't think that it indicates something specific.

This pretty much explains it and hence I don't see the need to change something here. That's why I'm closing this again.

[2019-05-09 08:34] #13888 closed

[2019-05-09 08:54] tombunnvivid commented on #13931
From what I can tell you have to have one instance of a field populated for non-required ACF fields on the site on any page it will work.

This is more evident if you use flexible content fields. The query will fail on build unless all content module are used across the site. I believe it is a limitation of GraphQl and there isn't a way around it (at least for fragments). However, i'm having diffi

[2019-05-09 09:16] LekoArts commented on #13918
Can you try another operating system or code editor? We'd need to find some sort of reproduction or information on how to reproduce this issue :O

[2019-05-09 10:08] xavivars commented on #4337
Not really, but this is pretty much it:

Add the static plugin mentioned before, and in gastby-browser.js

`exports.onClientEntry = () => {
    window.page = window.page || {};
    window.page.path = window.location.pathname;
  }
`

[2019-05-09 10:35] cullophid commented on #9083
+1

[2019-05-09 11:22] zecamacho commented on #13667
@lannonbr
I recently encountered this same situation. Using wrapRootElement, I had to export it **both** in gatsby-ssr and gatsby-browser or else the production build would fail ( In this case using styled-components ThemeProvider).

Similiar as reported #7827

Why do we need to export it in both files?

Thanks

[2019-05-09 11:44] Vectormike40 commented on #3395
This worked, thanks.

[2019-05-09 12:29] bakeruk commented on #12848
PR #13943 created

@KyleAMathews Is there any chance that you could take a look at this PR for me and let me know your thoughts etc?

[2019-05-09 12:34] thomascorthouts commented on #13910
In version `2.3.36` of Gatsby, it still worked without a `gatsby-config.js` so it seems like a breaking change that could/should at least be resolved by adding a note about it somewhere.
I think it might be related to the #12128 pathPrefix PR somehow, in that it expects to at least have a config file.

[2019-05-09 12:39] janosh commented on #13938
I assume you're specifying the images in your posts' frontmatter? It sounds like Gatsby's automatic schema inference might be causing this issue for you. I recounted a situation where I ran into this issue [here](https://github.com/orgs/gatsbyjs/teams/maintainers/discussions/56/comments/7). To summarize, please go through all your posts and make sure, the image(s) they specify are actually valid f

[2019-05-09 12:44] thomascorthouts commented on #13910
In [line 72](https://github.com/DSchau/gatsby/blob/2a761db8015f05e28fe5e212646f0287d4442c04/packages/gatsby/src/commands/serve.js#L72) of `serve.js` it is introduced to `const { pathPrefix: configPathPrefix } = config` where if config would be `null` or `undefined` it would result in a `TypeError: Cannot destructure property 'pathPrefix' of 'undefined' or 'null'.` error.

[2019-05-09 12:55] onopko81 opened #13944 "low routing performance"
Hi, I'm realizing my portfolio with gatsby, I use threejs and gsap for the part of 3d and animations. The performances of animations and 3D renderings are reduced at each page change using "Link". I analyzed fps of my background component (made in webgl) goes from 60fps and is reduced to 10 at each page change. What can it depend on?

[2019-05-09 13:37] jasonellington opened #13945 "[docs] [workflows] Installing and using Contentful"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to create a blog/site that pulls content and images from Contentful and allows me to query it.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😐 | 😐 | 😞 | 😐 |

[2019-05-09 14:31] CanRau opened #13946 "[gatsby-plugin-netlify]: add statusCode to matchPath rewrites"
## Summary

I think, if I'm not doing anything wrong, `gatsby-plugin-netlify` is not yet setting the proper `statusCode` on matchPath redirects like for custom 404 pages. 🤔

### Basic example

I think it should happen [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-netlify/src/gatsby-node.js#L41) so I assume it's not yet implemented..

I'm setting `page.matchPath = `/$

[2019-05-09 14:38] muescha commented on #13888
Oh. I fall into the same trap.

You are right: The comment should describes the parameter, not the value.

I think about a better wording to avoid confusion (include `true` and `false` into the comment)

[2019-05-09 14:51] gustavpursche opened #13947 "Render componente server side, using useEffect with window side effects"
## Summary

Hi 👐

Thanks again for the amazing work you do with Gatsby. I'm having an issue at the moment and would like to seek an advice:

I'm having a component, which uses the `useEffect` hook, to keep a state in sync with the URL to persist filter params:

[code]

[code]

However, this code would not render server side. I then tried to wrap `useEffect` in the recommended conditional

[code]

[2019-05-09 15:11] reyanshmishra commented on #9340
not stale

[2019-05-09 15:16] jacobsilver2 commented on #12848
Thank you @bakeruk ! I'll see if I can give this a shot.  Thanks for pointing me in the right direction.  Much appreciated, and hopefully this can get sorted out soon.

[2019-05-09 15:29] chodorowicz commented on #11524
I had the same issue. My case was the same as @efd1 - import in form of `import { Module } from "."` was breaking my production build (development was working without any issue). It was not very easy to debug and find unfortunately.

![image](https://user-images.githubusercontent.com/119451/57465966-fc405b80-727f-11e9-96b4-61d642c678ff.png)

[2019-05-09 15:42] heldrida commented on #13838
Just found another (related?!) bug!
So, if you try to fetch posts by "tag" it fails completely, as " TypeError: Cannot read property 'wpcms' of undefined", where `wpcms` is the fieldname in the gatsby-config.js file! Updated the repository above, if you don't mind checking!

`~/www/gatsby-issue-13838$ gatsby develop
success open and validate gatsby-configs — 0.016 s
success load plugins — 0.624 s

[2019-05-09 15:48] heldrida commented on #13838
The original query works fine in the graphqli in wordpress, as you can see here: https://pasteboard.co/IdV1zxe.png

[2019-05-09 16:14] GarrettJMU commented on #13939
Ding ding ding - that's the winner ^ 🤦‍♂

[2019-05-09 16:14] #13939 closed

[2019-05-09 16:20] heldrida commented on #13838
The query used in the code paste directly into the logal __graphql also works, as you can see here:
https://pasteboard.co/IdVeCQ9.png

[2019-05-09 16:21] heldrida commented on #13838
The error in the console https://pasteboard.co/IdVfaYa.png

[2019-05-09 16:22] waleedshkt commented on #6357
@KamiGim, you can make react-fontawesome work by adding the following code snippet (mentioned in official react-fontawesome docs) in your layout component as told by @LekoArts.

[code]

Then in each component where to use icons, add the following code:

`import { FontAwesomeIcon } from "@fortawesome/react-fontawesome"`

Now use it in your component like shown below:

<FontAwesomeIcon icon={["fab",

[2019-05-09 16:46] daydream05 opened #13949 "[Help] I somehow managed to butcher my site's performance"
## Summary
When accessed through normal means, the site is blazing fast. However, when tested using lighthouse, the performance score is terrible.
## Relevant information
[Webpage Test Results](https://www.webpagetest.org/result/190509_P0_0cf4def8e160e63ef1078984a613b641/)

[Lighthouse Results](https://www.webpagetest.org/lighthouse.php?test=190509_P0_0cf4def8e160e63ef1078984a613b641&run=3)

I bel

[2019-05-09 17:06] 0ff5ec commented on #13938
Hey @janosh thanks for replying, but it seems the link you posted is broken somehow (404). I have tried it with all kinds of path (rel, abs) to image with or w/o path, the behavior is not persistent. I am new to this, and surely am missing something and would like to learn.

[2019-05-09 17:18] janosh commented on #13938
Ah, that link points at a Gatsby maintainers thread. Didn't know those were private.

But I'm thinking my initial suspicion may have been wrong anyways. Just cloned your repo and ran `gatsby develop` a few times. Worked every time both in your `master` and `development` branch. So I'm not sure why there are problems on your end. Did you try reinstalling `node_modules`? I.e. `rm -r node_modules &&

[2019-05-09 17:22] williamtstanley commented on #13947
I don't know if it will fix your actual problem but hooks should not be inside conditionals.
https://reactjs.org/docs/hooks-rules.html

So given that I would write it:
`
  useEffect(() => {
    if (typeof window !== `undefined`) {
      setUrlForFilter('authors', state.authors);
    }
  }, [filter]);
`

[2019-05-09 17:37] 0ff5ec commented on #13938
Oh no, my bad, I overwritten those files last night, I thought I was writing somewhere else. To reproduce the bug, if you change the gatsby-config.js file to add
[code]

[2019-05-09 18:07] slorber commented on #3648
Just for reference, the examples do use reach router, but the way it works does not really play well with TS

If anyone interested, you can use the `Match` component to extract params from the url.

[code]

Unfortunately there is no other way exposed to simply parse a string to params in reach but there are hidden ones see https://github.com/reach/router/issues/74#issuecomment-397085896

[2019-05-09 18:22] muescha commented on #13888
@LekoArts i will give it a try with: #13950

[2019-05-09 19:08] cameronmcefee commented on #13912
Found this: https://www.gatsbyjs.org/blog/2019-01-01-publish-multiple-gatsby-sites/

[2019-05-09 19:08] #13912 closed

[2019-05-09 20:44] Kevin-Hamilton commented on #13949
A couple things I noticed when taking a quick look at this is
1) Your not serving a Server-side Rendered static HTML version of your pages.  So react needs to hydrate before your page can render
2) I noticed a couple of really large SVGs on your homepage.  The SVG above "We Collaborate" is 90KB where an equivalent PNG would be under 20KB.  Plus the SVG is directly embedded, so that is 180+ nodes t

[2019-05-09 20:44] alexboots commented on #8560
I have the same issue (netlify-cms started):

Dev: Bulma's styles get loaded first
Prod: layout.js styles get loaded first

Fix:
Copy paste the output of typography.js, import it in after all all other sass, leave a detailed comment about why that CSS exists and remove typography.js from the project.

Mixing css-in-js and sass seems odd, and I will make sure to never do it again.

[2019-05-09 21:14] #12743 closed

[2019-05-09 21:22] Kevin-Hamilton commented on #13947
componentDidMount also will not run during SSR.

It seems to me that your issue is not so much with the effect and the call to setUrlForFilter, but rather is with the INITIAL_STATE...  I'm guessing that you are wanting your SSR HTML output to default to displaying authors, but your call to getFilterFromUrl() is not returning anything in the SSR scenario (due to Url being unavailable on the server)

[2019-05-09 22:00] alexlafroscia commented on #633
I followed the configuration advice in the documentation but am still seeing the issue that @zacharymctague reported; even with telling `babel-loader` that it needs to transpile things within the Gatsby package, it doesn't actually seem to work and the JSX in there is choked on.

[2019-05-09 22:06] kara-todd commented on #13938
@janosh I'm running into this issue as well (in a different context)

I have markdown files (using frontmatter) that are created by netlify-cms. The issue that I have is a lot of my image are "optional" which can create a mix of valid image paths and empty string fields (i.e. `image: ""`.)

To avoid the GraphQL error I added a manual schema definition with `sourceNodes` and `createTypes` like so:

[2019-05-09 22:12] parkerself22 commented on #10167
@stefan-- running into the same issue, any chance you remember what dependency was causing the issue?

[2019-05-09 22:22] Moocar commented on #13430
Not stale

[2019-05-09 22:49] daydream05 commented on #13949
Thanks! Regarding your answers:
1. Wouldn't Gatsby automatically create these static pages for me?  If i'm not mistaken, isn't rehydration an expected Gatsby behavior?

Or do you mean something else?

2. You're definitely right! I ended up just passing them as images since they have so many nodes.

[2019-05-09 23:09] mcclaskiem commented on #13764
I was getting a similar issue and found that the location of where I used the component had an effect on it working or not. I could not use it in `layouts/index.js` component or inside my `header` component which was used inside of my layout file. I then moved into my `pages/index.js` file and it is now working.

Is there something about it being used in a "global" fashion that prevents it from wo

[2019-05-09 23:12] jgonera commented on #4570
Confirming that what @ThiagoMiranda and @mbergeronupgrade mentioned is still an issue with Gatsby 2.4.3. I don't have a repro repo but it seems that files in `src/` never pick up variables loaded in `gatsby-config.js` from [`.env.${activeEnv}`](https://www.gatsbyjs.org/docs/environment-variables/#additional-environments-staging-test-etc).

For example, let's say I have `.env.development` with the

[2019-05-10 00:22] mcclaskiem commented on #13764
I am getting this error based on where I import the component that uses it.

I have tried it inside of my `layouts` file as well as inside of the header that sits inside of that.

After moving it into `pages/index.js` it works as expected.

In my case, I want to be able to use this `staticQuery` at a global level since it is for a navigation component that is accessible from every page.

Any sugge

[2019-05-10 01:39] Kevin-Hamilton commented on #13949
Regarding number 1 - it looks like I was mistaken.  I didn't realize that view-source behaves differently with Service Worker, but apparently that is the case.  It is mentioned at the bottom of https://www.gatsbyjs.org/packages/gatsby-plugin-offline/ that you should test with curl, which I just did, and your site is returning full HTML in that case.

[2019-05-10 02:53] smartdreams commented on #12848
Hi, I am having same issue with remote file downloads. But I am building my own plugin, and not using any existing plugins. It looks like it works fine when I have about 40 images, but when I started downloading over 300 images, it failed at random images. It seems to me, createRemoteFileNode is not downloading each image immediately, and it queues up the images and then it started downloading ima

[2019-05-10 03:23] jacobsilver2 commented on #6654
@ancashoria  yes, I'm also unclear on where to place this code.

[2019-05-10 03:39] universse commented on #13947
You said this code would not render server side. What do you mean by this? Is it giving error when you run gatsby build? I guess you are getting an error since getFilterFromUrl would likely use window object, which doesn't exist on the server?
Also, what are you expecting the server-rendered output to be?

[2019-05-10 03:44] daydream05 commented on #13949
Ahh gotcha. Didn’t know that’s how service workers work! I’m still investigating what causes this really bad performance. It might be my animations(pop motion) along with react waypoint since i’m noticing a lot of layout reflow.

[2019-05-10 03:56] btahir opened #13956 "Facebook Sharing Debugger not picking up meta tags"
Hello -

Facebook is not picking up my meta tags for some reason?

I can clearly see my meta tags on my site: https://9gans.com

But Facebook is not scraping them: https://developers.facebook.com/tools/debug/sharing/?q=9gans.com

I tried a few things including refreshing with ?fbrefresh=blahblah so its not a caching issue like previous questions.

Is there any thing I need to do on my end for Face

[2019-05-10 05:39] oriooctopus opened #13959 "[Help] How can I avoid automatic prefetching my current url?"
I'm currently looking into how to optimize our site speed.

Here's my predicament:

On our site, upon page load without any hovering events or interaction with the webpage, some prefetching is happening, it seems that gatsby is prefetching any links currently visible on the page.

That sounds like a good idea to me, but I've noticed that it if a link to
https://www.collegevine.com/about/ exists on

[2019-05-10 05:46] kuworking opened #13960 "shadowing gatsby-node in gatsby-themes (to define pagination)?"
If in `gatsby-node` I have

[code]

where in `'./src/pagination` I have

[code]

If then I have in the child package the structure

[code]

It is not working, it still grabs the `core theme` one

Can this be done and I'm doing a mistake here? Or shadowing doesn't work here?

*It cannot be done since there's another `gatsby-node.js` in the `child theme`, so the shadowing is not possible there. But

[2019-05-10 06:37] RyanFarrah67 commented on #13854
Update :

In another project, I run a Gatsby project with the v12 of Node without NVM and it's worked.

The problem does not seem to be related to Gatsby.

[2019-05-10 06:37] #13854 closed

[2019-05-10 06:50] kuworking commented on #13960
I can, in `gatsby-node` of the `core theme` with

[code]

[2019-05-10 06:50] #13960 closed

[2019-05-10 07:05] zvinless opened #13961 "External link with dynamically constructed string results in "/undefined" in URL"
## Description

When dynamically constructing an external link starting with my site's origin, `/undefined` is inserted into the link, rendering it invalid.

Here is a test deployment: https://eloquent-bassi-2f286c.netlify.com/
and corresponding test repo: https://github.com/zvinless/link-test

in src/pages/index.js the line:
[code]
where `origin` is `location.origin` passed into the React compone

[2019-05-10 07:29] #13649 closed

[2019-05-10 08:13] pakatagoh commented on #10420
@sidharthachatterjee

I'm getting the same issue here on windows. However, I do not own a mac machine so can't determine if this is a Windows issue.

I'm currently running windows 10

I've followed the tutorials from the docs. I'm currently only running 1 test on the 404 page just to play around.

this is the link to my github repo [here](https://github.com/pakatagoh/gatsby-site)
Cloning and npm i

[2019-05-10 08:20] bakeruk commented on #12848
Try swapping out your `forEach` loops for a `forIn` loop.

A `forEach` loop doesn't honour a **promise** before it continues on to the next item in the loop.

For example,
[code]

Also try adding a `trycatch` into your code around the `createRemoteFileNode` function to see if you can see any uncaught errors.

[code]

[2019-05-10 08:53] gustavpursche commented on #13947
@Kevin-Hamilton @universse Ah, sorry I wasn't very precise on that: I want the code to return all items from the redux store during server rendering, and only filter the list, once window and a URL parameter is present.

In pseudo code the scenario might look like:

[code]

Meaning:

- While SSR: return every item and just display a static list containing all `items`
- While CSR: check if the URL

[2019-05-10 08:56] sidharthachatterjee commented on #13947
@gustavpursche `useEffect` and `componentDidMount` both don't run during SSR

`useEffect` will be a no-op for server side rendering.

Set the initial state to all items and in `useEffect` (which is only run client side after hydration) check the url and update state?

[2019-05-10 08:58] gustavpursche commented on #13947
@sidharthachatterjee Setting the state within `useEffect` is a great idea. Will try that! 👍

[2019-05-10 09:06] sidharthachatterjee commented on #13928
@zslabs Looks good to me

We only run `CMS.init()` anyway so you should be fine!
https://github.com/gatsbyjs/gatsby/blob/0e2db0430b093f8bb13553075572d58d142efea6/packages/gatsby-plugin-netlify-cms/src/cms.js#L7

[2019-05-10 09:06] #13928 closed

[2019-05-10 09:17] discordianfish commented on #2173
@KyleAMathews It would be so, so useful if the error returned which document it happened on.

[2019-05-10 09:34] ancashoria commented on #6654
This is somewhat unrelated to the `gatsby-source-wordpress` plugin. I have the code above in my `gatsby-node.js`. The idea is that firing all those requests in parallel caused them to fail, so I wrote that helper function to fire them one after another.

I'm guessing there's a similar issue in `gatsby-source-wordpress` too, but I'm not that familiar with it.
Sorry I can't be of more assistance.

[2019-05-10 09:47] gustavpursche commented on #13947
Wohoo, that worked. Thank you so much @sidharthachatterjee and everyone else!

[2019-05-10 09:47] #13947 closed

[2019-05-10 09:53] sidharthachatterjee commented on #13924
@AbhimanyuAryan You're using `sharp@0.21.3` and `node:latest` (which is now resolving to Node v12)

`sharp@0.21.3` doesn't support `Node v12`

Please update `gatsby-plugin-sharp` and other packages that depend on sharp to their latest versions as documented in https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-manifest#incompatible-library-version-sharpnode-requires-version-x-or

[2019-05-10 09:53] #13924 closed

[2019-05-10 10:30] sidharthachatterjee commented on #13922
@ArcaneTSGK Sounds like you're trying to _transform_ some specific type of nodes. In situations like this, you could write a _transformer_ plugin 👻

1. Instead of editing `gatsby-source-graphql`, make a separate plugin
1. Use the `onCreateNode` API documented in https://www.gatsbyjs.org/docs/node-apis/#onCreateNode
1. Check for node.internal.mediaType or other field to see that it is coming from t

[2019-05-10 10:53] jacobsilver2 commented on #13442
I'm having similar issues, but not necessarily with large images.  For me the issue seems to be the amount of images (I have around 200 on the site I'm working on).  During the build stage I get "failed to process remote content" for about 20-30 images, which ultimately results in a build fail.  I have yet to find a solution.

[2019-05-10 11:27] sidharthachatterjee commented on #13944
The `Link` component is a wrapper on top of https://reach.tech/router/api/Link

It does a bunch of things including prefetching assets on hover etc but not sure if the reduced fps is relevant here. Perhaps try using Link from reach directly to see it if has to do with page navigation in general or anything specific to Gatsby?

[2019-05-10 11:29] sidharthachatterjee commented on #13918
@AGreenObject Could you inspect the console in your browser and check if the web socket calls (that enable HMR) are being completed?

Perhaps this has to do with web sockets being blocked in your network stack or something?

[2019-05-10 12:43] heldrida commented on #13838
For the Tags issue, here's a temporary fix; In the gatsby-node.js instead of relying upon gatsby-source-graphql, use instead of an async call to graphql`...query...` a regular HTTP Post, as you can see in the next example:

`  const GET_TAGS = `
    query {
      tags {
        edges {
          node {
            id
            slug
            name
          }
        }
      }
    }
  `

  cons

[2019-05-10 12:49] heldrida commented on #13838
although, the above causes the warning:

warning The GraphQL query in the non-page component "/Users/Helder/www/moola-blog-ui/src/templates/Blog/Topic/index.js" will not be run.
Exported queries are only executed for Page components. It's possible you're
trying to create pages in your gatsby-node.js and that's failing for some
reason.

If the failing component(s) is a regular component and not int

[2019-05-10 13:02] janosh commented on #13938
@kara-todd I'm not familiar with [`gatsby-plugin-netlify-cms`](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms) but regarding the schema customization, what  you did sounds exactly like what I would have tried. Is your repo public? Might help if we could take a look.

Maybe @LekoArts or @m-allanson could chime in if the problem might be caused by `gatsby-plugin-netlify-cms`?

[2019-05-10 13:15] slorber opened #13965 "Gatsby clientside pages: inject route match params as props"
# Summary
Currently if you do

`createPage({path: "/item/:itemId", matchPage: "/item/:itemId", component: itemCompPath})`

And when you go to `/item/123`

It's not straightforward at all how to extract the 123 value from the url elegantly.

I think Gatsby should make this usecase a lot better by providing those params as page props.

# Details

There are some mentionned examples here and there whi

[2019-05-10 13:16] slorber commented on #13645
not totally related but in case you are looking for a solution to extract path params, take a look here: https://github.com/gatsbyjs/gatsby/issues/13965

[2019-05-10 14:13] qnguyen12 commented on #5021
How could I insert a table? This does not work
content: |
        |   |   |   |   |   |
        |---|---|---|---|---|
        |   |   |   |   |   |
        |   |   |   |   |   |
        |   |   |   |   |   |

[2019-05-10 14:26] dante-blitz commented on #13442
I'm getting the following error when trying to builda number of gatsby starters

[code]

[2019-05-10 14:33] i-bsd commented on #13442
Me too. On FreeBSD:

[code]

[2019-05-10 14:36] kmcaloon commented on #10394
I was running into the same problem. Suggestion by @tylermcrobert worked instantly.

[2019-05-10 15:01] heldrida commented on #13838
the last comment should be ignored because the offical example does the same thing and it's absolutely valid ( https://github.com/gatsbyjs/gatsby/blob/master/examples/using-gatsby-source-graphql/src/components/blog-post.js )

[2019-05-10 15:09] universse commented on #13965
You can do this also

[code]
One caveat is this works if pathname doesn't have trailing slash. To work with trailing slash e.g. /product/123/
[code]

[2019-05-10 15:11] wiput1999 opened #13966 "Style in production not same as development using Rebass"
## Description
I'm using Rebass for UI with styled-component I'm facing style in development and production not the same as screen short I attach below in the left is a development which has correct style but on the right gatsby seem put class that has margin-top on the wrong element that's make navbar has margin-top

Categories Page
![CleanShot 2019-05-10 at 22 05 49](https://user-images.githubus

[2019-05-10 15:18] rayriffy commented on #13965
My approach is matching routes with RegExp since Gatsby is built behind React Router

https://github.com/rayriffy/rayriffy-h/blob/master/gatsby-node.js#L270-L290

and then catch given parameters

https://github.com/rayriffy/rayriffy-h/blob/master/src/pages/g/index.js#L40

[2019-05-10 15:23] slorber commented on #13965
Yes parsing manually is always an option. It just feels a bit weird as you already define named params in the `matchPath ` to just not being able to access them in the page.

Parsing manually means you need to add a custom parsing logic to any page. The param is not always the 2nd arg. It could be the 3rd. There would be 3 params etc...

[2019-05-10 15:29] zslabs commented on #5021
@qnguyen12 I'd try using a tool like https://jmalarcon.github.io/markdowntables/ to help you with the conversion.

[2019-05-10 15:30] zslabs commented on #13928
Ok awesome, thanks for confirming!

[2019-05-10 16:00] mikenieva commented on #13213
Hi!

Do anyone has a simple repository with the right dependencies for Firebase and Gatsby and implementing them?

I am sorry reopening this conversation but I could not solve this issue (I read all of your solutions) and I have tried everything.

[2019-05-10 16:11] wiput1999 commented on #13966
Solved it's seem like issue from Rebass.js

[2019-05-10 16:45] Vagr9K commented on #13814
Hey everyone!
Starter's author here.

Just wanted to say thank you to everyone involved in reporting/resolving this issue.

Back in Aug. 2017 (pre Gatsby 1.0), when the code was written, there were a couple of issues:
- `pageContext` was limited
- GraphQL sorting was a hit or miss
- Fields were seen as generally the correct approach
- It was `setFieldsOnGraphQLNodeType`'s responsibility to add new

[2019-05-10 17:09] iammatthias commented on #13966
@wiput1999 what was the solution? I'm having a similar issue.

[2019-05-10 17:11] wiput1999 commented on #13966
@iammatthias Which UI Library are you using?

[2019-05-10 17:12] iammatthias commented on #13966
I'm using Rebass.js. Experience a similar render issue.

### Expected
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/5431737/57544144-563a3300-730b-11e9-856d-01a84e5b7011.png">

### Result
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/5431737/57544136-4f132500-730b-11e9-92f4-9ff923eb5e60.png">

[2019-05-10 17:16] wiput1999 commented on #13966
@iammatthias Same here... We will wait for someone know about this to answer 😄

[2019-05-10 17:16] rayriffy commented on #13966
I just created an issue on Rebass hope we will get an answer.
https://github.com/rebassjs/rebass/issues/587

[2019-05-10 17:16] coreyward commented on #13966
This can occur when global styles are used and/or when styles are expected to load in a specific order. Since `develop` mode uses hot reloading and does not do server-side-rendering, insertion order is sometimes different than in production.

[2019-05-10 17:20] iammatthias commented on #13966
@coreyward Interesting. I recently split my CSS reset out into it's own global style file, in addition to my main globals.js. I'll take a closer look at my CSS tonight.

[2019-05-10 17:22] coreyward commented on #13961
I don't believe `location.origin` is available server-side; that information is typically parsed from the HTTP request or browser location API, but neither exist when rendering in advance server-side.

[2019-05-10 17:27] #12997 closed

[2019-05-10 17:27] #13219 closed

[2019-05-10 17:31] yaroslav-perec commented on #6372
@PoppinMic Hi!

I tried to use `react-inlinesvg`, but I got the following error `Access has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`
Maybe you know how to fix it?

[2019-05-10 17:33] universse commented on #13965
It all depends on use cases. Using non-standard api, cloneElement and extra plugin does not look simple to me.

[2019-05-10 17:38] yaroslav-perec commented on #13931
@tombunnvivid Thanks!!

[2019-05-10 17:38] #13931 closed

[2019-05-10 17:50] zvinless commented on #13961
That makes sense--I'm not familiar with Gatsby's SSR internals; does it check out that the value prints properly via `console.log()` but doesn't work correctly when passed into the `<a>` tag? The reason I ask is that the URL is actually correct aside from the _additional_ `/undefined` part.

Also, I have this same issue on a larger site, and if I navigate to a different page on my site using Gatsb

[2019-05-10 17:53] protoEvangelion commented on #13213
@mikenieva Well not super simple, but here is an example of how we are using [firebase auth with a React sign in component](https://github.com/liferay-design/liferay.design/blob/cce7e2cbf5c9b7e25f18e321ad7ce73a6489decb/src/components/molecules/AuthContainer/index.js).

[2019-05-10 17:55] wiput1999 commented on #13966
@coreyward Any method to solve this problem?

[2019-05-10 18:02] coreyward commented on #13966
@wiput1999 I've never used Rebass, alas. When I'm using Emotion I've found that the default webpack import (e.g. `import "some.css"`) will cause it to be appended to the `<head>` after the Emotion `<style>` tags when navigating, so I instead use the `Global` component provided by Emotion:

[code]

[2019-05-10 20:24] slorber commented on #13965
I don't recommend my solution, but in permits to encapsulate the pollution into a single place  . It's a workaround I use. What I want is to not have to use a plugin or cloneElement and have it solved in Gatsby core.

[2019-05-10 20:49] iammatthias commented on #13966
Figured out what the issue was for me:

This snippet:
[code]

Got removed from [gatsby-browser](https://github.com/iammatthias/.com/blob/master/gatsby-browser.js) and [gatsby-ssr](https://github.com/iammatthias/.com/blob/master/gatsby-ssr.js). Added the above snippet, and all is well.

[2019-05-10 20:54] adrw commented on #13707
@ChristopherBiscardi Thanks for clarifying current Gatsby capabilities. I copied the code from jlengstorf/livestream-gatsby-themes into a fresh Rush monorepo so that you can play around and better understand the problem. Check it out here: https://github.com/adrw/gatsby-13707

Happy to help with resolving it if it can be pinpointed where the problem is in the stack. Huge fan of the work you and te

[2019-05-10 21:45] in-in commented on #6372
What if you try to use webpack [require.context](https://webpack.js.org/guides/dependency-management/#requirecontext) for inline svg?

For example:

[code]

[code]

Folder structure:

[code]

[2019-05-10 22:23] coreyward commented on #13961
I don't follow what you mean.

This isn't all that surprising since subsequent navigations don't actually load the pre-rendered HTML from the server, they load the components and data and render via React, so that code is executed client side.

[2019-05-10 22:35] michaeldrawe commented on #10841
I had this error all of a sudden. I tried as DSchau had suggested, I removed node_modules, re-ran npm install, and the site could be built without problem.

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04

[2019-05-10 22:53] qnguyen12 commented on #5021
Yes, I mean it render as the source, not table
For example:
[code]
it generates:
test
### This is the actual content in **MarkDown** format.
|Month|Savings|Spending| |--- |--- |--- | |January|$100|$900| |July|$750|$1000| |December|$250|$300| |April|$400|$700|

[2019-05-10 23:03] zvinless commented on #13961
I was just noticing that logging the value prints the correct URL, but as that's executing client-side it makes sense.

My overall question is, despite `location.origin` being unavailable server-side, why does it still produce the correct value for the URL, just with the addition of `/undefined`? And is there a workaround for that?

[2019-05-11 00:24] zvinless commented on #13961
Oh wait, it's just appending to an otherwise relative URL. Never mind and thanks for the help!

[2019-05-11 00:24] #13961 closed

[2019-05-11 00:59] kara-todd commented on #13938
@janosh in order to take netlify out of the equation I created a quick [demo repo](https://github.com/kara-todd/gastby-image-bug). I tried to strip out anything that wasn't relevant to the issue. If you check out the `master` branch you will see the site builds properly with images. Then on the `broken` branch I [injected the empty string](https://github.com/kara-todd/gastby-image-bug/commit/2e84e

[2019-05-11 01:03] jeremylynch opened #13967 "createPages async issue"
I am getting the following error:
[code]
In gatsby-source-algolia [see full code here](https://github.com/jeremylynch/gatsby-source-algolia/blob/master/gatsby-node.js)

Also see code here:

[code]

What am I doing wrong?

[2019-05-11 01:41] coreyward commented on #13967
You probably want to do `client.search(...).then(response => { ... }).then(resolve)` instead of trying to pass the result of the `client.search().then()` in as an argument to `resolve`.

[2019-05-11 01:46] coreyward commented on #13956
I don't know what you're doing, but it looks like you've deployed the development version of your website. The actual [source of your website](view-source:https://9gans.com/) doesn't include content or your SEO-related meta tags. Indeed, you can confirm this is what Facebook is seeing for your website using the debugger ([direct link](https://developers.facebook.com/tools/debug/echo/?q=https%3A%2F

[2019-05-11 02:24] mrispoli24 commented on #11747
Running into this issue again myself now, deleting the public folder and .cache folders don't seem to do the trick anymore. The images are there, I am willing to invite someone to the repository to check it out if you like but it seems that when working with static image files this happens a lot. They are present in the gh-pages branch but showing up broken on the deployed site.

[2019-05-11 04:16] smartdreams commented on #12848
Thanks for your code. Now, the codes are working much better. I am still seeing some images fail at random and I think that's because my images are on Amazon S3, and S3 may be preventing to stop so many downloads at the same time. Mostly, while downloading is still in progress, I saw it paused at "source and transform nodes", and then I saw the next image failed. Not sure how to handle that yet, b

[2019-05-11 04:24] PoppinMic commented on #6372
@yaroslav-perec Hi, I think your problem is realted to general `CORS` issues. Google the keyword `CORS`. This should config on your server side

[2019-05-11 05:50] jeremylynch commented on #13967
I tried that approach and I am still getting the error

[2019-05-11 07:43] btahir commented on #13956
Development? I just deployed it on now following the Gatsby instructions?

[2019-05-11 08:50] rayriffy commented on #13966
For mine it make UI more glitchy. So, I gave up wrapping element inside `gatsby-browser` and `gatsby-ssr` then everything rendered as I expected!

So, it's not Rebass fault then.

[2019-05-11 08:57] janosh commented on #13938
@kara-todd I'm not getting any errors on the `broken` branch even without ever compiling on `master`. I did a `gatsby clean` just to be sure but still worked. What error exactly are you seeing?

[2019-05-11 09:01] janosh commented on #13938
@0ff5ec I added `gatsby-remark-images` to the list of `gatsby-transformer-remark` plugins but I still don't see errors even on repeated compiles.

[2019-05-11 09:29] rayriffy commented on #13966
Here's all the preview I tried

-   `gatsby-ssr` alone [Link](https://5cd6930a976d3300074c6d7f--thaiwithcodes-staging.netlify.com/)
-   `gatsby-broswer` alone [Link](https://5cd694566996f10007acfa7f--thaiwithcodes-staging.netlify.com/)
-   `gatsby-ssr` and `gatsby-browser` [Link](https://5cd5eb1dc1a0910008fc4f28--thaiwithcodes-staging.netlify.com/)
-   Nothing just directly add Layouts into each p

[2019-05-11 09:30] cmckulka opened #13968 "Google Tag Manager plug-in captures incorrect page title"
## Description

Google Analytics captures incorrect page title when using Google Tag Manager via gatsby-plugin-google-tagmanager. See solution below.

### Steps to reproduce

1. Install plug in
2. Configure GTM and GA within GTM
3. Per plug-in ([README](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-tagmanager/README.md)) wire GA to the history change event in GTM.

#

[2019-05-11 12:07] szimek commented on #3830
@slorber Unfortunately, you're right. After migrating to v2, we're building the app separately for each language, so it's not really a problem. However, ...

Now that `assetPrefix` option has been added, I could finally build the app just once for all languages and simplify our build process significantly. Unfortunately, like you said, in this case it looks like we're not only bundling translation

[2019-05-11 12:17] duyetdev commented on #13213
Hi,

as https://github.com/firebase/firebase-js-sdk/issues/1668#issuecomment-481012412
you should `npm install --save core-js@2` in your project to make sure gatsby is worked and import from `@firebase` instead of `firebase`

[code]

the folder structure looks like:

[code]

[2019-05-11 12:36] szimek commented on #13806
I'd love to see an official solution to this issue.

After migrating from v1 to v2, we've started to build the app separately for each language as a workaround for this issue, and some other ones, like huge size of `pages-manifest.js` file and lack of `assetPrefix` option back then.

[2019-05-11 12:56] dallanlee commented on #6127
Is there a solution for nested layouts?

[2019-05-11 13:30] philschonholzer opened #13971 "createpage path without "/" causes back history not to work"
## Description

Going back in the browser history (like pressing the back button) skips over the first page (can't navigate to first "created" page back).

### Steps to reproduce

1. Pass a string to path in createpage without any "/" in it. Example project: https://github.com/philschonholzer/custom-slug Commit with changes to reproduce: https://github.com/philschonholzer/custom-slug/commit/64dd38

[2019-05-11 13:55] onopko81 commented on #13944
I try this solution. I am also trying to use removeListeners in the project.

[2019-05-11 14:00] iammatthias commented on #13966
When adding the Layout direct to each page, it's possible to end up duplicating your content: https://github.com/gatsbyjs/gatsby/issues/7466

[2019-05-11 14:12] onopko81 commented on #13944
The problem concerns the navigation of the pages, with each click the performances are reduced more and more drastically.

[2019-05-11 14:28] waleedshkt commented on #12744
Building with the latest versioned dependencies when building a new Gatsby project  doesn't cause any such issues.

It's only if you use other libs like Recompose that core-js errors start to appear. Not fully sure whether it's because of inner child dependencies requiring different versions that Gatsby default babel config doesn't pick up or something else?

[2019-05-11 14:37] waleedshkt commented on #12744
@kiley0, I bet it works fine with latest gatsby version.
In my case, I just installed version 2 of core-js and didn't need to include any Babel preset, and it worked okay. Did you try this setup?

[2019-05-11 15:04] KyleAMathews commented on #13944
Perhaps you're not cleaning up old animations? Gatsby doesn't do anything special when a link is changes. Just renders the new page.

[2019-05-11 15:32] #13211 closed

[2019-05-11 15:44] smartdreams commented on #12848
Actually, I just got it now. I needed to use parentNodeId in createRemoteFileNode. Then, when the downloaded file node is created, I just created another sub node.

Thank you.

    try{

        fileNode = await createRemoteFileNode({
        url: s3URL,
        store,
        cache,
        createNode,
        createNodeId,
        parentNodeId:block.id
        })
    }catch(err){
        console

[2019-05-11 15:50] onopko81 commented on #13944
I solved, I removed the hover and mouse events, I also used cancelAnimationFrame and removeChild for the 3d render. Performance now is ok.

[2019-05-11 15:57] DannyAllegrezza commented on #9899
Was `StayFocusd` for me.

[2019-05-11 16:41] phongtt3 opened #13974 "Gatsby Source GraphQL, how I can createRemoteFileNode on images url return from API?"
## Summary
My plugin config like this:

[code]

I want to use createRemoteFileNode on gatsby-node.js to download every images returned by API to using gatsby-image:

[code]

But, when I query

[code]

I got error: "message": "Cannot query field \"localImage\" on type \"GraphQLServer\".",

Is there any way I can download the image from the API and use it with the gatsby-image ...

[2019-05-11 16:45] janosh commented on #6896
I just coded up a floating ToC very similar to what is being discussed here. You can [check it out in action here](https://janosh.io/blog/hmc-intro). [Here's the code](https://github.com/janosh/janosh.io/commit/1f02f5f26256dd9292dee5fb0fbcad2c24f0fe5e). It relies on #13972.

![floating-toc](https://user-images.githubusercontent.com/30958850/57572599-81f51000-7414-11e9-92e3-b062b1c9dcf3.png)

[2019-05-11 17:52] 0ff5ec commented on #13938
I am closing the issue if everyone is okay with it, as I need to do some testing myself and swamped on a different task at the moment.

[2019-05-11 17:54] phulin opened #13975 "When using paths with no trailing slashes, first page navigated to gets skipped over in history."
## Description

If you use paths with no trailing slashes, the first page you navigate to on your site will be replaced when you click the first navigation Link. As a result, using the back button from the second page will take you back to e.g. the blank-tab page in Chrome.

This occurs because `production-app.js` triggers a `navigate` call in reach/router to fix the trailing slash. Normally, reac

[2019-05-11 18:25] janosh commented on #13938
@0ff5ec No problem and good luck!

@kara-todd Feel free to keep posting here or open a new issue if questions remain.

[2019-05-11 18:25] #13938 closed

[2019-05-11 18:25] minimit opened #13976 "Build have all require css compiled, it's a problem when using iframes"
## Description

I've a setup where I create pages that I use inside the app with iframes. I've not found a way to prevent the 'build' process to inline every css required in every page. Event if using different layouts for the pages loaded by the iframe.

Gatsby 'build' packs inline all css, and it's a problem for 2 reasons:

- the styles inside the iframe page are applied to all pages
- all the i

[2019-05-11 19:21] cpboyd opened #13977 "Improve/document code-splitting"
## Summary

I agree that code-splitting can definitely be useful, but I've noticed that my specific code-splitting in Gatsby seems counter-productive.

The main `app.js` includes everything in my layout (using `gatsby-plugin-layout`) as I might expect, since it's necessary for loading.

Unfortunately, however, some components like `@material/react-button` appear in pretty much every page-specific

[2019-05-11 19:54] phulin commented on #13975
Just noticed this is a (nearly synchronous) duplicate of #13971

[2019-05-11 22:22] AbhimanyuAryan commented on #13924
@sidharthachatterjee how can I mention older image of Node which works fine. All I want to do is change gitlab.yml file. I don't want to upgrade to the latest stuff. I don't think to break. I have been facing problems with Gatsby for the past 6 months. Every time I deploy there's something outdated

[2019-05-11 23:19] chfw opened #13978 "Failed to render about page in tutorial step 1: building with components"
## Summary

Failed to render src/pages/about.js

<img width="1044" alt="Screenshot 2019-05-12 at 00 17 13" src="https://user-images.githubusercontent.com/4280312/57575882-55101f80-744b-11e9-83bd-65c5683b1112.png">

<img width="870" alt="Screenshot 2019-05-12 at 00 17 59" src="https://user-images.githubusercontent.com/4280312/57575894-84269100-744b-11e9-9271-f82e1263fd1f.png">

## Relevant informat

[2019-05-11 23:30] phulin opened #13979 "O(pages * visible links) performance in prefetch code."
## Description

When loading a page with a large number of visible links on a site with a large number of pages, gatsby [checks every page against every link](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/find-page.js#L36) on the page when finding the `@reach/router` routes to prefetch.

I'm building a site to navigate a large, highly-connected dataset which preferably s

[2019-05-11 23:47] phulin commented on #13979
After more research I realize that client-side pages mean that gatsby does use wildcard routes with reach/router, and so a big map won't work. Maybe this change would need to be pushed into router somehow, but since gatsby doesn't appear to tell reach/router about non-prefetched pages, I'm not sure how this would work.

[2019-05-12 00:11] thomascorthouts commented on #13910
This issue should have been fixed with `gatsby: 2.4.3` and in the newest versions of the hello-world starter, there will also be an empty `gatsby-config.js` included. @unmem if you would run into this issue again, please feel free to open a new issue.

[2019-05-12 00:11] #13910 closed

[2019-05-12 00:13] marcysutton commented on #13475
Hey @lannonbr, how's it going with this initiative?

[2019-05-12 00:46] jonniebigodes commented on #13924
@AbhimanyuAryan alternatively you can try:

[code]
to get a node 10 image. Or like the repo i posted the packages are bumped to the almost final versions or go with @sidharthachatterjee option.

[2019-05-12 00:56] jonniebigodes commented on #13978
@chfw seeing the screenshot you posted one thing comes to mind, that the file is not saved, save the file and see if it helps? Also to make sure refresh the page

[2019-05-12 01:11] lannonbr commented on #13475
@marcysutton I actually have been on vacation this past week but will likely get to work on it when I get back

[2019-05-12 02:31] minimit commented on #13976
With better understanding how ssr works, i've found a solution to the problem of css inside iframe.

I use the raw css in the layout of the iframes with Helmet:
[code]

[2019-05-12 02:31] #13976 closed

[2019-05-12 02:42] andreivmaksimov opened #13980 "CircleCI build Error: spawn ENOMEM"
## Description

CircleCI [builds](https://circleci.com/gh/hands-on-cloud/hands-on.cloud/5) failed with the following error:

[code]

### Steps to reproduce

Slightly modify [f74d723f037ca55068b456dc808ee3dd8ec563cc](https://github.com/hands-on-cloud/hands-on.cloud/tree/f74d723f037ca55068b456dc808ee3dd8ec563cc) and send new pull request.

### Expected result

Gatsby build should pass

### Actual re

[2019-05-12 04:16] iamskok opened #13981 "gatsby-source-graphql and GraphQL Shopify Admin API"
The repo to reproduce the code can be found **[HERE](https://github.com/iamskok/example-gatsby-shopify-admin)**

I’m working on sourcing and combining data from Shopify [Storefront](https://help.shopify.com/en/api/custom-storefronts/storefront-api) and [GraphQL Admin](https://help.shopify.com/en/api/graphql-admin-api) APIs into Gatsby. For sourcing Storefront API I use [gatsby-source-shopify](http

[2019-05-12 04:54] StevensCol opened #13983 "How can i fetch users or authors from my blog posts with gatsby-source-wordpress?"
Hi folks, i've created a new project for my blog webpage in gatsby.js using the gatsby-source-wordpress for fetching the blog posts from my account in wordpress.com. Everything is well until i've notices when  i get some data from 'allWordpressPost' or 'wordpressPost' these queries include the 'author' field to  refer to the author of the post, but i can't find something else that help me to retri

[2019-05-12 05:05] drakang4 opened #13984 "Importing CSS with print media query doesn't work in development mode"
## Description

Importing CSS with print media query doesn't work in development mode. Styles described in CSS ignore the media query and apply by default, not only print mode.
However, this works correctly as expected in production mode.

### Steps to reproduce

I tried
[code]

and

[code]

### Expected result

styles.css is applied in print mode only.

### Actual result

Both applies styles even

[2019-05-12 06:12] chfw commented on #13978
@jonniebigodes , it does help indeed! VScode does not do auto-save as I uses WebStorm normally, and WS does auto-save.

You have sharp eyes!! Thanks a lot!

I would be able to proceed with the rest of the tutorial.

[2019-05-12 06:12] #13978 closed

[2019-05-12 06:25] chrisjpatty opened #13986 "Non-deterministic build errors with no apparent cause"
## Description

I'm currently in the process of converting a Wordpress site to Gatsby + Netlify CMS. I started with the Netlify starter project, converted the HTML posts to Markdown, and started copying them into my new Gatsby project. Running `yarn develop` to start the project fails non-deterministically. It seems that sometimes the command will succeed, and sometimes it will fail, with no chang

[2019-05-12 07:28] vickylance commented on #11123
@wardpeet I have tried Chrome Canary and the Lighthouse plugin as well and I am still getting https1.1
And yes I do use the service worker. Is it still a bug in Chrome or something to do with the gatsby?

[2019-05-12 07:40] rayriffy commented on #11123
No, there's a bug on Lighthouse 4.2.0 which is fixed in Lighthouse 4.3.0. But Google Chrome doesn't seems to include newer versions of Lighthouse into Audits.

For now, I recommended to use Lighthouse from Chrome Web Store which will always get latest version.

[2019-05-12 07:45] vickylance commented on #11123
@rayriffy  Ok let me try again using the Lighthouse from Chrome webstore

[2019-05-12 09:13] chfw commented on #13978
Just want to share the learning so that next person, who followed the same path, would know what else to enhance.

by default, vscode turns of auto-save: https://code.visualstudio.com/docs/editor/codebasics but can have it turned on like the following:

<img width="857" alt="Screenshot 2019-05-12 at 10 10 50" src="https://user-images.githubusercontent.com/4280312/57580203-9d0c6200-749e-11e9-9840-c

[2019-05-12 09:19] rayriffy commented on #11123
@wardpeet Will Chrome 75 include newer version of Lighthouse?

[2019-05-12 13:22] interglobalmedia commented on #6690
Hi, I had the same exact issue and had to change <Link> to <a>. Then the rss feed link worked. And it was not an issue of https vs http or anything like that. It points to https. Although, previously, my site did reside somewhere else as http and I had removed a whole bunch of posts before deploying to Netlify. So perhaps not everything was completely updated. I guess then it would be safer to use

[2019-05-12 13:37] nabhoneel commented on #5136
Hi, I'm also facing this problem.
![When the website loads for the first time, the topmost div does not contain any class, whereas, it should contain 'header-container'](https://user-images.githubusercontent.com/35913615/57582951-cb169400-74e8-11e9-9b85-0fa8c8e8aac6.png)
![I added the class manually from dev tools, and voila, the entire layout got fixed](https://user-images.githubusercontent.com/3

[2019-05-12 14:23] corvidism commented on #4459
@DSchau awesome, I just stumbled on this problem and I'm glad I don't have to work around it! One problem though: if I set my excerpts to `(format: HTML)` and use a custom `excerpt_separator`, when the file doesn't contain the separator it creates the excerpt from the *last paragraph of the text*. It used the first 140 characters before I changed the format.

[2019-05-12 14:37] donaldboulton opened #13988 "Mixed Content http:// Roboto font"
Mixed Content: The page at 'https://publiuslogic.com/' was loaded over HTTPS, but requested an insecure font 'http://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2'. This request has been blocked; the content must be served over HTTPS.

All Gatsby sites I visit have the same error and it showed up recently. Searched the gatsby code and found noting related to calling http://fonts.

[2019-05-12 14:38] karanrajpal14 opened #13989 "How to filter siteMetadata?"
## Summary
I seem to be unable to filter siteMetadata nodes. I've got a separate JSON file that has the content but I'm able to use filters on the allNavJson query.

## Relevant information

Here's the JSON file:
`src/content/nav.json`
[code]

The same JSON is present in `gatsby-config.js` as well like so:

[code]

Here is the query I'm trying to run
[code]
And here is the output of the query
[cod

[2019-05-12 14:50] jonniebigodes commented on #13978
@chfw just glad i was able to help and good one one the tip. 👍! Thanks for using Gatsby

[2019-05-12 15:03] chfw commented on #13978
I have gone through the tutorial today!

What surprised me that it is awesome to use graphiql and what surpised me more is: the end site is a static site, without graphiql, which means a lot to me: no extra cost except a good CDN site of choice!

Next topics I would be explore if you don'd mind type a few words:

1. CMS editor, which allow dummy user to record what they have so that I would be abl

[2019-05-12 15:14] hupe1980 commented on #7713
Same here!
@pieh I have implemented your proposal and created a PR #13935

[2019-05-12 16:56] iamskok commented on #7659
Having the same problem:

[code]

@heart-of-code can you share the source plugin you wrote?

[2019-05-12 17:27] #13179 closed

[2019-05-12 17:27] #13259 closed

[2019-05-12 17:38] Undistraction commented on #12409
Still an issue so reopening.

[2019-05-12 18:23] tanaypratap commented on #12857
Not stale.. I have been working on this. Will send a PR anytime this week.

[2019-05-12 19:00] iamskok commented on #7659
@btk options from gatsby-source-plugin example do work, but once you change the URL on https://store-name.myshopify.com/admin/api/2019-04/graphql.json there is an error:

[code]

[2019-05-12 19:19] jonniebigodes commented on #13989
@karanrajpal14 i've been testing this out all afternoon and i can confirm that the issue is present. Now upon some digging i'm inclined to believe that the issue you're experiencing is related to [this](https://github.com/gatsbyjs/gatsby/issues/7251#issuecomment-462566026) and the subsequent [feature request](https://github.com/gatsbyjs/gatsby/issues/10990) i might be wrong about it but it seems t

[2019-05-12 19:41] orshick commented on #12040
Can confirm that the stringified response returns empty, but the form does submit successfully for me.

[2019-05-12 19:41] docwhat commented on #4459
That’s issue #12386

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-12 19:43] docwhat commented on #13861
I got it working but it isn’t as smooth as everything else is.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-12 19:55] orshick commented on #13983
@StevensCol Tried querying the 'author' field in GraphiQL and it has numerous subfields in it, including "id" and "name". In my case the name field actually returned the email address, but that may be simply because I didn't fill in my name on wordpress.

Here's the snippet you can try:
[code]

[2019-05-12 20:04] mcclaskiem opened #13993 "Location of useStaticQuery usage breaks app"
## Description

I have a menu component that relies on a `staticQuery` to populate it's contents. Depending on where I import and use this component I get the below error:

[code]

### Steps to reproduce

I have a menu component that I import and place inside of my `layouts/index.js` file which will result in the above error.

I then move this menu component inside of my `header` component which i