[2018-08-13 21:34] zcuric commented on #7271
@btk This is a first time that i did this.

[2018-08-13 21:40] mishasaggi commented on #7270
I'm gettting the same error on 'build' not on 'develop'. I'll share my 'reproducable example' later today if none has been shared by @rtm619 by then.

[2018-08-13 21:46] thebigredgeek commented on #7235
Hey this works for me!  Looking forward to it

[2018-08-13 21:51] jlengstorf commented on #7235
Pulling @lindaleebumblebee's description here so it's easier to discuss in-context.

@KyleAMathews @marisamorby @kylegalbraith @thebigredgeek @notcoling can you please take a look at this and sign off so we can get it posted!

[2018-08-13 21:52] jlengstorf commented on #7237
@lindaleebumblebee @notcoling I made a few edits just now to include the talk details. They're currently suggestions in the doc, and I added a full version at https://github.com/gatsbyjs/gatsby/issues/7235#issuecomment-412677448 for approval by the speakers.

Please let me know if you need anything else!

Thanks!

[2018-08-13 21:58] jlengstorf opened #7294 "[v2] Verify that all stub articles actually exist"
There are several docs I've found that are defined in `doc-links.yaml` as stubs, but that don't have corresponding stub Markdown files. For example, I'm pretty sure none of the stubs under "Sourcing Content and Data" exist.

We need to do a once-over to ensure that the stubs exist to avoid 404s.

## Docs that need to be created:

- [x] `/docs/docs/unit-testing.md`
- [x] `/docs/docs/testing-compone

[2018-08-13 22:01] marisamorby commented on #7235
A few questions:
The meetup runs from 6:30 - ??

Are we providing any drinks or snacks?

Do we have a code of conduct that we can point to, and/or inclusivity verbiage so that we make sure all people feel welcome?

[2018-08-13 22:14] m-allanson commented on #6649
Hey @trevorlitsey I missed your comment earlier, apologies! It turns out there was a bit of tidying up that could happen here - check out @jamezrin's PR for details.

@KyleAMathews I think the [createElement helper](https://github.com/threepointone/glamor/blob/master/docs/createElement.md) is preventing the `css` prop from being passed through? I confirmed that it wasn't being passed through but d

[2018-08-13 22:16] jlengstorf commented on #7235
@marisamorby Good call. Updated to include an end time, call out for food/drinks, and a link to our code of conduct.

Does your abstract look good?

[2018-08-13 22:19] mishasaggi opened #7295 "[V2] dependency missing react-router-dom in gatsby-link"
## Description

I updated my V2 gatsby version today on a working project, after that the compile failed on a missing dependency error.

### Steps to reproduce

Update gatsby on a working repo from a previous version(mine was ^2.0.0-beta.54 to ^2.0.0-beta.99)

### Expected result

Gatsby project should complile without errors

### Actual result

On compile it throws the following error
[code]

###

[2018-08-13 22:25] amberleyromo commented on #7294
I'll take care of it 👍🏼

[2018-08-13 22:29] #6583 closed

[2018-08-13 22:38] #7278 closed

[2018-08-13 22:49] m-allanson commented on #7295
The newer Gatsby betas have switched over from React Router to Reach Router as it's smaller and has built in accessibility features. It looks like you've updated Gatsby but not your related plugins.

I think the following should fix up the error you're seeing:

-  [update your plugins to the latest `next` versions](https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#update-gatsby-related-packa

[2018-08-13 22:51] jlengstorf commented on #6913
@shannonbux The docs are fully updated (just checked on this before I saw @m-allanson already did it, so we’re _doubly sure_ that this is done). 😄

It looks like someone has already updated all the example sites and packages as well, so I think it's safe to close this without opening additional issues.

[2018-08-13 22:52] Rolando-Barbella commented on #4401
Anyone knows the solutions for this one?

[2018-08-13 22:55] m-allanson commented on #6913
There's a few stray Links around, search `from "gatsby-link"` to catch them.

[2018-08-13 22:59] gfunk1230 commented on #7269
@Chuloo i found the issue. Had to do with he following someone else had posted. So basically dont add anything other then pages jsx files. I had less files and images in there. My bad :(

I had added a file within the /src/pages folder which was not a page to be built. In my case it was a styled components file containing styles for my index.js page.

[2018-08-13 23:12] marisamorby commented on #7235
@jlengstorf The abstract looks good to me, yes!

[2018-08-13 23:26] jrskerritt commented on #7289
Through more debugging, I've discovered that the wiping of the root node happens at some point after `onClientEntry`, but before `onInitialClientRender`. If that helps

[2018-08-13 23:38] jlengstorf opened #7297 "[docs] Align code in StaticQuery video and written tutorial"
Right now, the example code in the [`StaticQuery` docs](https://next.gatsbyjs.org/docs/static-query/) isn't aligned between the video and the written docs.

To avoid confusion, we should probably update the written docs to use the same example as the video.

The code used in the video is here: https://github.com/jlengstorf/gatsby-staticquery

This would be a great first contribution for someone! 💪

[2018-08-14 01:18] notcoling commented on #7237
Hey Jason,

I've got the event posted on Meetup. Let me know if there are any changes we should make.

- I did not set an attendee limit yet, is there a maximum attendee number for the venue?
- Let me know if you had any images you wanted to include (I just threw up a very simple generic one)

Thanks,
Colin

[2018-08-14 01:30] alexluong opened #7298 "createRemoteFileNode cause gatsby-develop to fail"
Hi.

I came across a problem as I use `createRemoteFileNode` when developing a plugin. In the gatsby site that uses the plugin, after I run `gatsby-develop`; `Ctrl + C`; `gatsby-develop`, I'll get an error:

[code]

I got this problem once a while back. I tried to set up a fresh environment to file an issue but it ended up resolving the issue. Now I can recreate the bug and set up a test repo: htt

[2018-08-14 01:34] jlengstorf commented on #7237
@fk any ideas for an image here?

@notcoling good question about attendee limits. Let me check with Alchemy and I'll get back to you.

[2018-08-14 01:40] thefifthisa commented on #7027
Hi! I think I'd like to work on this but I'm trying to understand the issue first. Is it that the types aren't actually conflicting, or that it compiles successfully even with the conflict?

[2018-08-14 01:44] jquense commented on #7027
They types aren't conflicting, there is a false positive because the fields in question are JSON scalars but the Gatsby inference logic thinks they are objects and lists. I actually "fixed" this problem previously, where it wasn't compiling but it seems like it's still starting to print a warning even tho there aren't any conflicts to print

[2018-08-14 02:17] studiopda commented on #3591
Got it working! After some light debugging of the plugin we discovered one of the normalisers was excluding responses that didn't include a `wordpress_id` key in the post object. Simply adding this to our custom endpoint responses resolved the issue.

[2018-08-14 03:53] vishalniit commented on #7230
`success Building production JavaScript and CSS bundles — 15.023 s
⠁ Building static HTML for pages — 150/228 33.43 pages/second(node:17004) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

error Building static HTML for pages failed

See our docs page on debugging HTML

[2018-08-14 03:55] #3784 closed

[2018-08-14 05:53] rtm619 commented on #7270
Hi Chuloo, here's a repo based on the gatsby starter blog. https://github.com/rtm619/Test-Repo

[2018-08-14 06:45] geddski opened #7300 "[v2] GraphQL race condition"
## Description
Gatsby compiler is working fine but then browser throws an error because the GraphQL query data is null. I'm using `gatsby-mdx` and originally thought it was an [issue there](https://github.com/ChristopherBiscardi/gatsby-mdx/issues/57).

This error happens 90% of the time when I edit a markdown/mdx file. A simple page refresh doesn't fix it. The only way to fix the page again is to

[2018-08-14 07:25] razvan-soare opened #7301 "Question about 404 pages not redirecting"
Hey guys im trying to figure out why the 404 page is not working. If i go to `site/404` i can see the right page but if i go on a wrong url it will just say `The requested URL /fsd was not found on this server.`.

I tried to get some starter files that were working with 404 but locally and when i push them on my website the 404 is not working..

If you have any suggestions ?
Thank you

`gatsby-con

[2018-08-14 07:36] SiddharthaSauravGogoi opened #7302 "Trying to load JS/jQuery files after the body is rendered"
## Summary

I have a project that has several `js` and `jQuery` files that need to be loaded after the body has rendered(in simple html + css way). Script and meta tags are included in the project with the help of `React Helmet`.

Basically what `React Helmet` does is pushes all these code inside the head of the document. In other words the ` js` + `jQuery` files are loaded before the DOM(VirtualD

[2018-08-14 07:47] deadcoder0904 commented on #2880
Probably a noob mistake but I had a console error `The installing service worker became redundant.` because I was applying `gatsby-plugin-remove-serviceworker` after `gatsby-plugin-offline` like:

[code]

So it was installing new Service Worker first with `gatsby-plugin-offline` & then removing it with `gatsby-plugin-remove-serviceworker`. That's why the error.

To remove it just put `gatsby-plugi

[2018-08-14 07:49] tryzniak commented on #7230
@vishalniit Hmm, I've run `GATSBY_ENV=development && gatsby build --no-uglify` and have no errors. What is `build-css`? It would be great, if you could provide us with a reproduction repo.

[2018-08-14 07:49] Amanej commented on #5794
@wilsonmar  I updated the link now!

[2018-08-14 08:45] jarekpelczynski commented on #7277
I've investigated some sites built in Gatsby (pages which use Wordpress source plugin), and I've found in their source code same issue. You can find there e.g. user and password for WP instances.

[2018-08-14 08:49] supermoos commented on #7272
I was setting it up, and the figured that contentful localizes assets too and that was what was causing the problem. I solved it by setting up a fallback locale in contentful so it serves up the default locales images. However this results in text strings also using fallback versions, which is not always what one may want. It would be a really nice feature if there was a way to request a fallback

[2018-08-14 08:49] #7272 closed

[2018-08-14 09:54] kakadiadarpan commented on #7168
@jncampbell Gatsby uses webpack version `1.15.0`, so the setup is a little bit tricky.

In the documentation of `sass-resources-loader`, for webpack version `1.x.x` the [usage](https://github.com/shakacode/sass-resources-loader#usage) is done in the following way:

[code]
Here is how you can do the same configuration in Gatsby:
[code]
[code]

[2018-08-14 09:55] muhajirframe commented on #3434
Do you guys have a working demo?
I already set `backgroundImage : transparent`. And I can see it loads the small version first. But the animation is just not so fluid.

[2018-08-14 09:58] dbrookes commented on #7290
navigator is only present when run in a browser, so you need to wrap this component in a check to ensure it's only run when there is a DOM.

If you can't do that and the offending code is upstream, you can ask them to fix it or try replacing the module when in SSR

https://next.gatsbyjs.org/docs/debugging-html-builds/

[2018-08-14 10:32] aayushineeshu opened #7306 "frontend masters by ryan florence excercise-1"
##Refused to apply style from 'http://localhost:8080/1-your-first-component/styles.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled.
##assert.js:6 Assertion failed: found burrito
module.exports @ assert.js:6
exports.run @ tests.js:5
(anonymous) @ app.js:31
render @ ReactMount.js:386
React_render @ ReactPerf.js:50
(anonymous) @ ap

[2018-08-14 10:53] KyleAMathews commented on #7306
Hi, what is the problem you're seeing?

[2018-08-14 11:01] KyleAMathews commented on #7230
@vishalniit the error is indicating that you're importing somewhere into one of your components the node.js module "buffer" which doesn't work in the browser. You can find that by opening the generated js file at public/render-page.js and looking through for where buffer is added and trace that back to a component. Or you can grep public for Buffer and find which js bundle file it's in and then us

[2018-08-14 11:01] #7230 closed

[2018-08-14 11:09] aayushineeshu commented on #7306
I am getting the error before changing the code in that exercise only i.e refused to apply stylesheet from loacalhost because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled.

[2018-08-14 11:35] aayushineeshu commented on #7306
@KyleAMathews It was a config error, fixed it. Thanks!

[2018-08-14 11:35] #7306 closed

[2018-08-14 11:48] reimertz opened #7307 "Is it possible for a source plugin to return no nodes and without breaking the build?"
Hi there,

I am the creator of [gatsby-source-hire-with-google](https://github.com/reimertz/gatsby-source-hire-with-google) and have been running into issues when trying to support when there aren't any job posts.

I've tried and looked for a solution in other source plugins but couldn't find one.

Can anyone point me in the right direction how to properly handle this state without Gatsby breaking

[2018-08-14 11:51] mattwexa opened #7308 "Allow more options to be given to gatsby-plugin-google-analytics"
Hi,

I'd like to give more options to the gatsby-plugin-google-analytics plugin (so-called "create only" fields), but unfortunately this is not supported at the moment. Would you be open to support more options in the plugin? Or should I create my own plugin based on the existing gatsby-plugin-google-analytics?

Cheers,
Matthieu

[2018-08-14 12:08] LeKoArts commented on #7308
Feel free to send in a PR. Please make sure that the additional options are **optional** or have sensible defaults so that existing projects without these options don't break.

[2018-08-14 12:46] afuh commented on #7301
Check #7252

[2018-08-14 12:57] fk commented on #7237
Hmmmm…I saw two very talented people doing this [recently](https://twitter.com/gatsbyjs/status/1027608161526546433):

![](https://pbs.twimg.com/media/DkLL4sMVAAAf3-u.jpg)

Seems perfect given the title @notcoling mentioned. 🤷‍♂️ 😃

[2018-08-14 12:58] Juan-Rios commented on #4535
Hey, I am using autoprefixer without browserslist and It's working fine. Check my `gatsby-config.js` file:

[code]

[2018-08-14 13:07] LeKoArts opened #7310 "[v2] Additional div wrapper"
On one of my sites with the latest Gatsby I noticed that my layout is wrapped with an additional div:

[code]

You can also see this behavior on https://next.gatsbyjs.org/
Why is that happening?

[2018-08-14 13:13] KyleAMathews commented on #7310
@reach/router adds it so it can automatically manage the focus as part of making sure sites are usable by screen readers.

https://reach.tech/router/accessibility

[2018-08-14 13:13] #7310 closed

[2018-08-14 13:27] KyleAMathews commented on #7302
Generally you wrap your code in `onReady` which handles this http://learn.jquery.com/using-jquery-core/document-ready/

Also you can put jquery in a js module and import it into your gatsby-browser.js and run your code in either https://www.gatsbyjs.org/docs/browser-apis/#onInitialClientRender if you only need to run it when the page loads or https://www.gatsbyjs.org/docs/browser-apis/#onRouteUpda

[2018-08-14 13:27] #7302 closed

[2018-08-14 13:28] KyleAMathews commented on #7300
Thanks for the nice issue writeup! This is a high priority for us to fix after v2 is out (which should be next week).

[2018-08-14 13:28] ylemkimon opened #7311 "Add to KaTeX users"
Hey there, KaTeX maintainer here. Not really an issue. I'd like to ask if Gatsby (gatsby-remark-katex) would mind adding your logo to KaTeX user list? (https://github.com/Khan/KaTeX/pull/1569, preview availabe at https://deploy-preview-1569--katex.netlify.com/en/users.html) This is a really cool project! 😄

[2018-08-14 13:36] jarekpelczynski commented on #7277
@KyleAMathews especially if you provide Wordpress credentials (user, pass, token, etc).

[2018-08-14 13:45] KyleAMathews commented on #7311
Hey sure! Go ahead and add your logo! You're project is great too :-)

[2018-08-14 13:45] #7311 closed

[2018-08-14 13:45] KyleAMathews commented on #7311
*our logo 😅

[2018-08-14 13:46] KyleAMathews commented on #7277
Where are you using those credentials?

[2018-08-14 13:55] jarekpelczynski commented on #7277
I've found that people use credentials for `gatsby-source-wordpress` dependent on an environment (using .env files) then sensitive information appears in build files (also applies to me).

[2018-08-14 13:58] #6585 closed

[2018-08-14 14:37] #6649 closed

[2018-08-14 14:39] fk commented on #6720
Hey @shannonbux, I finally got around to update https://www.figma.com/file/G3x7aYuyigYaibEpyxMsKLcP/gatsbyjs.org%3Ashowcase-starters?node-id=0%3A61 to show how untrucated plugins would look in the sidebar filter list:

* I think the best we can do is indent the second (third, fourth…) line by the width of `*-` in case the `gatsby` prefix in the dependency name has been replaced (this _should_ be p

[2018-08-14 14:46] nhc commented on #7297
So I had a go at the above issue.

[2018-08-14 14:53] deadcoder0904 opened #7313 "Using Gatsby Image with Picture tag?"
## Summary

I want to use `gatsby-image` with the `picture` tag. I need to use `picture` tag because I have different images for mobile, tablet & desktop resolutions.

## Relevant information

This is the current way I do it. Is this the right approach?

[code]

Because its used like this in the docs & I don't know if the method above is right

[code]

I need 2 things from what I'm doing:

1. Opti

[2018-08-14 14:59] NickyMeuleman opened #7314 "live reloading breaks after I edit a markdown file 2 times (first time works somehow)"
## Description

Running `gatsby develop` and editing markdown file second time is causing page component to not get any data and cause runtime errors:

### Steps to reproduce

- Clone https://github.com/NickyMeuleman/nicky-blog
- Install dependencies and run `npm run develop`
- edit `src/pages/lint-css/index.md` and save
- first edit doesn't cause errors and content is updated
- edit `src/pages/li

[2018-08-14 15:41] KyleAMathews commented on #7313
gatsby-image doesn't support "art direction" images like this as it seemed like it might overly complicate the API so I left it out.

If you can come up with a nice API, I'd love to explore adding it. Otherwise, your approach looks great! Except, make sure to query `srcSet` in addition to src and pass it to the source `srcSet`.

[2018-08-14 15:41] #7313 closed

[2018-08-14 15:42] KyleAMathews commented on #6649
@m-allanson yeah, looks that's right. Curious why I thought it was working before in the past 🤔

[2018-08-14 15:44] notcoling commented on #7237
@fk I love it 😂 if no objections I've added that to the Meetup page.

[2018-08-14 15:53] BlakeTurner commented on #5129
Similar issue:

Serving our site statically from S3, which allows you to choose a S3 object to be rendered if S3 returns a 4xx. Gatsby's error handling causes a double render of the error page when this happens.

When S3 returns the object, they do so with a 404 status. (See `curl -v https://bench.co/not-a-page`) Maybe Gatsby could check HTTP status before triggering its own 404 handling? That wou

[2018-08-14 16:05] #7250 closed

[2018-08-14 16:06] davidbailey00 commented on #6212
I've started work on a proper fix for this

[2018-08-14 16:15] Chuloo commented on #7270
Thanks for the reproduction @rtm619. Got similar error on `gatsby develop`. Also threw a webpack error on `gatsby build`.

[code]
This [question on Stack Overflow](https://stackoverflow.com/questions/14164505/javascript-window-is-not-defined) could explain why as the window object is not available in node.

[2018-08-14 16:32] m-allanson commented on #6914
Thanks @jlengstorf 👍

[2018-08-14 16:41] mattwexa commented on #7308
Ok I have opened #7316 with the changes I propose

[2018-08-14 16:45] #7297 closed

[2018-08-14 16:58] lindaleebumblebee commented on #7234
Here's the quote from MeyerPro- total cost for live streaming and recording is just under $5K. @jlengstorf How many views do you anticipate we'd get from this (what have you seen in the past)? Or how many followers does Portland JAMstack have? (I didn't see a youtube channel for them).
[Meyer Quote-181157.pdf](https://github.com/gatsbyjs/gatsby/files/2287802/Meyer.Quote-181157.pdf)

[2018-08-14 16:58] #6913 closed

[2018-08-14 18:05] datakurre commented on #7307
@reimertz Sounds like https://github.com/gatsbyjs/gatsby/issues/3344 (waiting for v2 to be released first)

[2018-08-14 18:13] alisonjoseph opened #7317 "[gatsby-remark-images] gif and svg images aren't recognized/rendered"
## Description

I'm trying to use `gatsby-remark-images` to display images from my markdown files. `png` works fine `gif` and `svg` don't seem to be recognized.

### Steps to reproduce

<img width="213" alt="screen shot 2018-08-14 at 1 08 55 pm" src="https://user-images.githubusercontent.com/2753488/44109872-c7967034-9fc3-11e8-8412-1a2f89967ba9.png">

### Expected result

All image types render co

[2018-08-14 18:35] #7317 closed

[2018-08-14 19:16] KyleAMathews commented on #7317
Yeah correct. You'll want to add https://www.gatsbyjs.org/packages/gatsby-remark-copy-linked-files/?=copy- in addition to gatsby-remark-images. gatsby-remark-images is just for resizing images and since we can't resize gif or svgs, those aren't handled.

[2018-08-14 19:41] ylemkimon commented on #7311
@KyleAMathews Thank you ❤️

[2018-08-14 19:43] geddski commented on #7314
likely a duplicate of #7300

[2018-08-14 19:53] Chuloo commented on #7252
thanks for the repro @haroldhues, got the same error as @afuh when I ran `gatsby build` on my local.
`localhost:9000/jh` displays `Cannot GET /jh`.

Clone [@haroldhues repro.](https://github.com/haroldhues/test-gatsby-starter-default-404)

[2018-08-14 19:56] Chuloo commented on #7301
A duplicate issue to #7252. Closing this as it's a duplicate. If you experience something different, feel free to open a new issue [here](https://github.com/gatsbyjs/gatsby/issues/new/choose).

[2018-08-14 19:56] #7301 closed

[2018-08-14 20:14] greglobinski opened #7321 "Invisible "Load More" button on the Showcase"
When I'm browsing the Showcase, I scroll to the bottom and I'm looking for the "Load More" button, but if my pointer is  over a link area and that is almost always the button is covered by Chorme link preview.

![gatsby-showcase-loadmore-issue](https://user-images.githubusercontent.com/32480082/44115712-e5a0e384-a00e-11e8-9fc9-1a4f3b3a926e.png)

I think that's a good case to be bold. The button sh

[2018-08-14 20:17] alisonjoseph commented on #7317
Thanks @KyleAMathews 👍

[2018-08-14 20:28] chasemccoy opened #7322 "ScrollContext's location prop is undefined"
## Description

I am working on a Gatsby 2 site, and decided to update to the latest beta today. Once I did that, I realized there were some breaking changes I didn't want to deal with right now, so I rolled back to `gatsby 2.0.0-beta.65` (the version I was on before upgrading). Previously, this version was working fine. Now, I get the following console error in the browser when running `gatsby de

[2018-08-14 20:35] dustinhorton commented on #6654
Believe I've cleaned up all the 404s. Will try to build tonight. Thanks all.

[2018-08-14 20:49] KyleAMathews commented on #7322
Hmm it's because gatsby itself depends on gatsby-react-router-scroll so it's getting the latest. Not sure what the work around for this would be other than editing the lock file itself to set the version.

What's the breaking changes you hit?

[2018-08-14 20:52] chasemccoy commented on #7322
The breaking changes I saw were my styled components trying to access `props.theme` and getting undefined. Can’t imagine what change would have broken that.

[2018-08-14 20:56] KyleAMathews commented on #7322
Hmmm yeah, nothing we've done should have affected that. Could you try upgrading again and if it does seem like a bug w/ styled-components, create a simple reproduction so we can look into it?

[2018-08-14 21:04] chasemccoy commented on #7322
@KyleAMathews Here are the console logs I get after updating to the latest beta:

<details>
[code]
</details

[2018-08-14 21:06] chasemccoy commented on #7322
I'm using `styled-components` with `styled-system` here. I can't imagine how those could have broke though.

[2018-08-14 21:07] KyleAMathews commented on #7322
Which packages did you upgrade?

[2018-08-14 21:08] chasemccoy commented on #7322
Only Gatsby. Just ran `yarn add gatsby@next`

[2018-08-14 21:09] chasemccoy commented on #7322
The weird part is this (from the console logs above):

[code]

[2018-08-14 21:13] chasemccoy commented on #7322
@KyleAMathews Could it be because I have this in my `gatsby-browser.js` file?

[code]

Using that to provide a custom `Layout` component that doesn't get rerendered.

[2018-08-14 21:18] chasemccoy commented on #7322
I got that snippet of code from https://github.com/gatsbyjs/gatsby/issues/6127

[2018-08-14 21:25] alpgumus commented on #5605
@pieh  The external webpack change broke things when used with redux, which requires lodash-es but gatsby latest webpack config has that in externals /^lodash/

[2018-08-14 21:25] chasemccoy commented on #7322
Oh, never mind! I see.

[2018-08-14 21:29] chasemccoy commented on #7322
@KyleAMathews One more issue.

[2018-08-14 21:40] KyleAMathews commented on #7322
How's it breaking your layout?

[2018-08-14 21:42] chasemccoy commented on #7322
The Layout component uses CSS Grid and styles it’s children. Having the extra div nested is throwing it off.

[2018-08-14 21:46] KyleAMathews commented on #7322
@reach/router adds that to manage focus on page changes. Should be straightforward to update your css.

[2018-08-14 21:49] chasemccoy commented on #7322
Yeah, I can work around it. Thanks for all the help!

[2018-08-14 21:49] KyleAMathews commented on #5605
How do things break exactly?

[2018-08-14 21:50] #7221 closed

[2018-08-14 22:34] jlengstorf commented on #7234
This is a little higher than I think we can justify. I'm thinking we can probably get away with something a bit more lo-fi, honestly. I might even just set up a Zoom meeting and record that. 🤷‍♂️

[2018-08-14 22:39] alpgumus commented on #5605
It is failing to build html (develop or build html)

It is complaining about lodash-es package (es6 syntax) as webpack is excluding it.

[code]

[2018-08-14 22:47] jlengstorf commented on #7237
Closing. Thanks so much, @notcoling and @lindaleebumblebee!

[2018-08-14 22:47] #7237 closed

[2018-08-14 22:48] jlengstorf commented on #7235
I'm calling this lineup finalized. @KyleAMathews holler if we need to update your talk's abstract.

[2018-08-14 22:48] #7235 closed

[2018-08-14 22:54] m-allanson commented on #5605
I just ran in to this, this should fix it: https://github.com/gatsbyjs/gatsby/pull/7325

[2018-08-14 22:58] #7238 closed

[2018-08-14 23:02] KyleAMathews commented on #7234
Yeah, it doesn't have to be fancy. Share the screen and broadcast with the
little video.

On Tue, Aug 14, 2018, 5:34 PM Jason Lengstorf <notifications@github.com>
wrote:

[2018-08-14 23:06] jlengstorf commented on #7234
Yeah. I could also set up my phone on Zoom to do a speaker video and share screen from the speaker's laptop. I'm hoping we can find someone with actual gear, but if all else fails I can make that work.

[2018-08-14 23:17] jrskerritt commented on #7289
This is still happening for me even after I comment out all plugins, `gatsby-browser.js` content, and update `gatsby-node.js` to only create a single page containing just a `<div />`.

[2018-08-14 23:18] davidbailey00 commented on #6212
On second thoughts I've decided to hold off on submitting the PR, since my changes don't actually fix the root problem. I had refactored `gatsby-node.js`, among various other files, to cache *all* files in the public directory matching a regex, resulting in the entire site being cached when the worker is installed.

However, the root problem was only masked - given that for a large website it's no

[2018-08-14 23:34] jlengstorf commented on #7005
This is great, @416serg! Would you be interested in writing up a tutorial on how you implemented this?

[2018-08-15 00:21] guntribam opened #7332 "[v2] gatsby build error on tutorial end"
## Description

After finished the tutorial(wich it was working with gatsby develop) i ran gatsby build and error.

### Steps to reproduce

gatsby build on tutorial end

### Expected result

The build should working with gatsby serve but the page was blank

### Actual result
I got this message below and the build never finish
[code]

### Environment

 System:
    OS: Windows 10
    CPU: x64 Intel(

[2018-08-15 00:25] jlengstorf commented on #5753
@m-allanson is there an issue for `gatsby-plugin-layout`? Or is this it?

[2018-08-15 00:29] jlengstorf commented on #6912
Hey, @shannonbux — I'm not sure if work was done to update this, but I just took a look at part three in the v2 tutorial, and it uses the new layout pattern (which is to create a `Layout` component in the `src/components/` directory.

I'm going to close this for now, because I believe everything is V2-correct in the tutorial in relation to layouts. Please reopen if I'm misunderstanding the issue.

[2018-08-15 00:29] #6912 closed

[2018-08-15 00:36] jlengstorf commented on #4730
Peer deps seem like a good move if the entire ecosystem will be sharing that dep. From a standard workflow perspective, this shouldn't change much; `gatsby new` can install peer deps in the background, so the UX only suffers for people building from scratch.

@m-allanson @pieh does this seem reasonable?

[2018-08-15 00:40] cpboyd opened #7333 "[v2] issues with redux (lodash-es) after beta 97"
## Description

Unable to run `gatsby develop` on projects using `lodash-es` (which is used by `react-redux`).

### Steps to reproduce

Try to run `gatsby develop` on a project with `react-redux` on the current build.

### Expected result

Build should be successful.

### Actual result

[code]

### Environment

[code]

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`ga

[2018-08-15 00:47] jlengstorf commented on #6211
This seems like an upstream issue, so I'm not sure if we can fix it inside Gatsby. Should we close this?

Another potential option appears to be [using `ExtractTextPlugin` to circumvent `style-loader` altogether](https://blog.harveydelaney.com/fixing-fouc-in-your-webpack-build/). I'm not sure if we've looked at this previously or if it would work in our case.

[2018-08-15 00:55] KyleAMathews commented on #6211
@jlengstorf — we use mini-css-extract-plugin in v2 but yeah, we could probably use a similar technique.

[2018-08-15 00:55] KyleAMathews commented on #6211
It'd need exploring.

[2018-08-15 00:56] guntribam commented on #7332
Really sorry. I've deleted the .cache folder and worked.

[2018-08-15 00:58] jlengstorf commented on #6211
Is this still considered a blocker for the V2 release? I'd personally vote in favor of not blocking the release, but I'm willing to be convinced otherwise.

[2018-08-15 00:59] chasemccoy commented on #7322
@KyleAMathews Do you know how to redirect with state using Reach Router? I have a sign-in flow and I need to know where the user is coming from in order to redirect them after log in.

Nothing I have tried from the Reach Router docs has worked. I'm using the `<Redirect />` component (https://reach.tech/router/api/Redirect) to go to the login page, and it has a `from` prop, but that doesn't seem to

[2018-08-15 01:01] chasemccoy commented on #7227
XOXO is happening in Portland September 6-10. It would be awesome to have this during the festival so that out-of-towners can come!

[2018-08-15 01:03] chasemccoy commented on #7322
I see in the docs that `<Redirect />` needs to be inside a `<Router />`. Does Gatsby wrap the site in the `<Router />` component by default, or do I need to render that somewhere? If so, where?

[2018-08-15 01:10] chasemccoy commented on #7322
If I do this:

[code]

I get this error:

[code]

[2018-08-15 01:14] KyleAMathews commented on #7322
Check out the sites migrations for @reach/router linked to from the migration guide. Lemme know if those aren't enough to get you going.

[2018-08-15 01:15] KyleAMathews commented on #7322
https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#migrating-react-router-client-routes-to-reachrouter

[2018-08-15 01:29] cpboyd commented on #7333
I checked for other issues, but didn't see that PR.

Cheers!

[2018-08-15 01:29] #7333 closed

[2018-08-15 01:50] jlengstorf commented on #7227
Hey, @chasemccoy — unfortunately, we've only got the whole team in town next week. However, I live in Portland — hit me up when you're here!

[2018-08-15 01:53] chasemccoy commented on #7322
I checked those out, they didn't help. This may be an issue with Reach Router itself...

[2018-08-15 03:31] KyleAMathews commented on #7322
Did you look at how the Gatsby store works?

[2018-08-15 03:31] KyleAMathews commented on #7322
It does what sounds like a similar redirect.

[2018-08-15 04:18] rtm619 opened #7334 "[gatsby-image] Dynamically change image source after page load like in picture tag"
Hi,
Currently, Gatsby Image uses srcset attribute of img tag to load different images based on window width at loading time. But unlike picture tag, if you resize the window (suppose from desktop to smartphone width in chrome), the image source doesn't change. You have to reload the website again in that smartphone width to get the smartphone image. Is there a way where you can change image source

[2018-08-15 06:02] haxzie commented on #7321
Can I take this up?

[2018-08-15 06:06] jasperjn commented on #5775
Merged https://github.com/gatsbyjs/gatsby/pull/5821

[2018-08-15 06:06] #5775 closed

[2018-08-15 06:26] deadcoder0904 commented on #7313
Hey @KyleAMathews the current way I showed above is wrong as I was not using `Img` from `gatsby-image` but a `styled-component` lol 😂

And AFAIK `Img` from `gatsby-image` is not a replacement for `img` from `DOM`. So I don't know how to get this thing work?

Currently, I am doing:

[code]

where my custom image is a `styled-component` around `Img` from `gatsby-image` like:

[code]

The issue is I

[2018-08-15 06:31] seamofreality commented on #7180
Hey there @nikosolihin, I am currently experiencing the same issue with wanting to access nested flexible layouts. Would you care to share how your normalizer looks, that would be very interesting to see!

[2018-08-15 06:50] nikosolihin opened #7335 "[gatsby-source-wordpress] Beginner question about createPage()"
In the `using-wordpress/gatsby-node.js` example why don't we just pass in the whole page content (ACF, etc.) as argument for `createPage()`in the `context: {...}` object so that they appear in the `pageContext` prop for the template file?

I'm a little confused why it's preferred to query GraphQL twice, first in `gatsby-node.js` using:
[code]
and then within the page template:
[code]

[2018-08-15 07:18] anabellaspinelli opened #7336 "Over 30 min to generate image thumbnails when running www locally"
## Summary
I'm trying to run www locally to make some contributions to the docs (tutorial).

I ran `yarn` on the www dir and now `gatsby develop`. It has spent almost 20 minutes doing the `generate image thumbnails` step and it's only half way through.

![image](https://user-images.githubusercontent.com/7825875/44136220-38e048de-a06c-11e8-92c2-57602cd7dc7f.png)

Those are seconds, not mili ☝️

Is

[2018-08-15 07:38] deadcoder0904 commented on #7334
I had the same issue but I found [the solution](https://github.com/gatsbyjs/gatsby/issues/7313#issuecomment-413105888)

TL;DR - Gatsby Image doesn't support picture tag so I had to use a hack of `display: none;`

[2018-08-15 07:54] deadcoder0904 opened #7337 "Apply Sharp Image on Array containing Images?"
I have an array containing Images & I need to apply Sharp on them. How do I do that?

Currently I have

[code]

As the array of apps is big, I want to use transformation dynamically rather than typing everything statically. Any solutions or workarounds regarding this?

[2018-08-15 08:38] #7206 closed

[2018-08-15 08:46] #6587 closed

[2018-08-15 09:33] m-allanson commented on #7333
Fixed in `gatsby@2.0.0-beta.102`

[2018-08-15 09:33] m-allanson commented on #5605
The fix was published in `2.0.0-beta.102`

[2018-08-15 09:48] fk commented on #7321
Hey Greg 👋, thanks for reporting this!

This worked in the past, it seems the margin styles that prevented this (and indented the button correctly) broke during a recent merge.

I agree, and I really like your mockup—much better! Let's do this!

[2018-08-15 09:58] m-allanson commented on #4730
I think we should avoid making people install `@babel/core` themselves, if possible.

If I've got this right, it looks like this won't be an issue once babel 7.0.0 is published. The peerDep ranges have been loosened up for the v7 RC releases: https://github.com/babel/babel/pull/8445/files

[2018-08-15 11:03] davidbailey00 commented on #6212
I'm making progress on a better fix, although it's taking me a long time due to various interdependent bugs which I'm also trying to fix. I'll post an update later when I've made more progress

[2018-08-15 11:20] joltmode opened #7343 "[gatsby-source-graphql] [v2] The new GraphQL source plugin doesn't update cached schema"
## Description

The new `gatsby-source-graphql` that stitches schema together and allows using other GraphQL servers, apparently has an issue that if the schema on remote server has changed, it won't be reflected in Gatsby.

A harsh workaround is `rm -rf .cache` before running Gatsby.

### Steps to reproduce

- Configure a new source for Gatsby using `gatsby-source-graphql`.
- `gatsby develop`
- A

[2018-08-15 11:40] m-allanson commented on #7336
The majority of this time is from processing screenshots for the [list of sites](https://github.com/gatsbyjs/gatsby/blob/master/docs/sites.yml) in the [site showcase](http://next.gatsbyjs.org/showcase). Note that Gatsby will cache the results of this work so you'll only need to do it once - however, I agree that having to wait that long to make docs changes is not a great experience.

There's not

[2018-08-15 11:43] stripeyjumper opened #7344 "RootQueryType is renamed to Query"
## Description

The graphql root query is renamed from `RootQueryType` to `Query` during build.
This crashes the build when I use fragments which reference `RootQueryType`.

It looks like the problem was introduced recently here:
https://github.com/gatsbyjs/gatsby/blob/08af0cbea16aa38c3063e318df539325adf6db6a/packages/gatsby/src/schema/index.js#L30

The `mergeSchemas` method changes the name of th

[2018-08-15 11:47] m-allanson commented on #7289
Huh... any chance you could publish a repo that demos this problem?

[2018-08-15 11:59] LeKoArts commented on #7344
I don't see the issue here?
https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#use-query-in-place-of-rootquerytype

You have to rename it to `Query`

[2018-08-15 12:56] KyleAMathews commented on #4730
Yeah, it looks like we're good with that @m-allanson. I honestly haven't seen any peerDependencies warnings so this doesn't feel like much of an issue.

[2018-08-15 12:56] #4730 closed

[2018-08-15 12:56] KyleAMathews commented on #4730
We can revisit if problems come up again.

[2018-08-15 12:58] berraknil opened #7346 "Use Semantic Markup for Accessibility"
![image](https://user-images.githubusercontent.com/6593585/44149065-55886dfe-a0a3-11e8-91b6-f099001e2cc5.png)

Currently we don't use any semantic markup on www, e.g. <nav> for navigation, <main> for main content etc.

Also need to separate internal navigation links to <nav> and outbound links like social media links to a separate section inside the <header> element.

Semantic markup is necessary

[2018-08-15 13:00] #7075 closed

[2018-08-15 13:06] KyleAMathews commented on #7335
It improves the readability of code if the query for the needed data is in the same file as the component that's using that data.

Also, we don't re-run queries in `gatsby-node.js` so when you're iterating on a query e.g. adding a new field or whatever, this will be much faster when the query is in the component.

[2018-08-15 13:06] #7335 closed

[2018-08-15 13:07] ekoeryanto opened #7347 "[plugin-netlify-cms] make netlify-cms package external"
## Summary

`netlify-cms` is big in size, making it external will make the build process even faster

### Motivation
build process need to be fast when we host gatsby in netlify

[2018-08-15 13:07] KyleAMathews commented on #7337
Have you figured out how to query the images with `allFile`?

[2018-08-15 13:10] KyleAMathews commented on #7289
Make sure to look at your browser console. There's almost certainly a JS error.

[2018-08-15 13:15] m-allanson opened #7348 "Improve gatsby-develop bootup time (query-on-demand)"
### Summary

When developing a Gatsby site there's no need to run all graphql queries before serving the site. Instead Gatsby could run queries for pages as they're requested. This would avoid having to wait for slower queries (like image processing) if you're editing an unrelated part of a site.

There's an old PR investigating this at https://github.com/gatsbyjs/gatsby/pull/4775

[2018-08-15 13:16] m-allanson commented on #7336
I've made an issue to track this feature at #7348, closing this one.

[2018-08-15 13:16] #7336 closed

[2018-08-15 13:37] tryzniak commented on #7270
If I move this line https://github.com/rtm619/Test-Repo/blob/c421aaa9a0d1974664225da7095b0cade5e7af59/gatsby-browser.js#L25 into a `shouldUpdateScroll` function everything seems to work fine. Looks like `window` can only be used inside `gatsby-browser` API.

[2018-08-15 13:38] centrical commented on #6365
+1 - running v1 with the same error.

[2018-08-15 13:41] KyleAMathews commented on #7270
@tryzniak it shouldn't work like that though. `gatsby-browser.js` shouldn't be included when SSRing the Gatsby site. We need to figure out why it is and correct that.

[2018-08-15 14:21] ooloth opened #7352 "[v2] Unexpected character '#' in gatsby-cli/lib/index.js 1:0"
After updating a site to v2, I'm getting a new error when I run `gatsby develop` that seems to be tripping over the hashbang at the beginning of `gatsby-cli/lib/index.js`.

Anyone recognize this type of error and how to fix it?

[code]

### Environment
[code]

Thanks!

[2018-08-15 14:34] Chuloo commented on #7314
Thanks for the clear reproduction @NickyMeuleman.

[2018-08-15 14:39] Chuloo commented on #7300
Here's #7314 which is a similar issue with a clear reproduction. Closing this to remove the duplicate issue. Feel free to open a [new issue](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you experience a different problem.

[2018-08-15 14:39] davidbailey00 commented on #6212
Most of the fixes are now done - I'm just trying to find a way to hard refresh when a page isn't found. Otherwise, either we get a blank page from the service worker, rather than a 404 / network error, or we get an infinite loop of blank pages if we do a normal refresh. Unfortunately, sw-precache seems to ignore search queries when matching against `navigateFallBackWhitelist`, so I can't simply ap

[2018-08-15 14:41] gabrielbull commented on #6545
Just a note that [relay](https://github.com/facebook/relay/blob/master/packages/react-relay/modern/ReactRelayQueryRenderer.js) can pass the query from file to file without any issues.

We can expect people will want to write HOC to wrap the StaticQuery into a more usable function and we cannot do that unless the query can be passed around as a variable.

[2018-08-15 14:41] Chuloo commented on #7332
Thanks for clearing this up. If you experience another problem, please create another issue [here.](https://github.com/gatsbyjs/gatsby/issues/new/choose). 👍

[2018-08-15 14:41] #7332 closed

[2018-08-15 14:49] tryzniak commented on #7270
Looks like I introduced this bug inadvertently in #7011. Sorry about that.
https://github.com/gatsbyjs/gatsby/blob/721fc25b4a29a7c4e4e0a7dd22f57cec18e4b5ca/packages/gatsby/src/bootstrap/index.js#L225

[2018-08-15 14:50] ooloth commented on #7352
Nevermind!

I was accidentally importing `{ graphql }` from `'gatsby-cli'` instead of `'gatsby'` on one of my pages.

Stupid autocomplete.

[2018-08-15 14:50] #7352 closed

[2018-08-15 15:11] KyleAMathews commented on #7270
@tryzniak your change is unrelated. Removing your change just means that gatsby-browser isn't added at all. The problem is that browser files shouldn't be added during SSR.

[2018-08-15 15:16] Manoz commented on #7321
There you go. Hope I did everything correctly :)

[2018-08-15 15:26] deadcoder0904 commented on #7337
@KyleAMathews so I can think of a solution now. Tell me if its right?

I will make `Apps` a stateful component with `allFile` query & then print it from there.

[2018-08-15 15:30] chasemccoy commented on #7322
It appears that this is happening in Gatsby. I am trying to redirect (using `redirectTo`, `navigate`, and `<Redirect />`) and it's failing because the `LocationProvider` hasn't been mounted yet. This only happen when clicking a link to navigate to a page that immediately causes a redirect.

[2018-08-15 15:46] Chuloo commented on #7298
@alexluong tried running your reproduction, ran into a bunch of errors. Seems like you used ES6 syntax in https://github.com/alexluong/gatsby-issue-7298/blob/master/plugins/gatsby-source-remote/src/gatsby-node.js, changed to CommonJS.
Also, installed `gatsby-source-filesystem`, then gatsby as a peer dependency. Fixed these, and I couldn't get your errors on `gatsby-develop`
Here's [a reproduction]

[2018-08-15 15:49] #6995 closed

[2018-08-15 15:50] davidbailey00 commented on #6212
I've found a way to patch sw.js which allows me to do what I'd described in my last comment. Still some issues which I need to fix before PR'ing but lots of progress has been made.

[2018-08-15 15:59] m-allanson commented on #5753
The layout plugin will be added in #7204

[2018-08-15 16:07] m-allanson commented on #7294
Can we run a link checker to make sure we're not missing anything once this is done?

[2018-08-15 16:25] davidbailey00 commented on #6212
Everything fixed except I've uncovered what appears to be bug in React itself, in which className isn't applying the class correctly to the outermost DOM element - but only when loaded from the service worker (i.e. the offline shell) and only in Chrome (not in Firefox, haven't tested Edge etc). Trying to find a workaround for this.

[2018-08-15 16:32] jlengstorf commented on #7294
Update robots.txt temporarily so we can run the broken link checker.

[2018-08-15 16:41] Chuloo commented on #6968
@tbaustin couldn't reproduce your error while running the repo you shared. Did you change anything? Stayed on the `tbaustin` branch.

[2018-08-15 16:51] Chuloo commented on #7343
@joltmode can you share a minimal reproduction with sampled data?

[2018-08-15 16:55] KyleAMathews commented on #7322
@chasemccoy can you build a small reproduction of what you're trying to do that I can look at?

[2018-08-15 17:02] KyleAMathews commented on #7337
@deadcoder0904 curious if you've gone through the tutorial and learned how to use gatsby-source-filesystem?

[2018-08-15 17:07] KyleAMathews commented on #6212
@davidbailey00 what are you working on exactly? The original issue described here was fixed last week with https://github.com/gatsbyjs/gatsby/issues/7066 The 404 issue was fixed in https://github.com/gatsbyjs/gatsby/pull/7268

It's often fastest to put up small PRs that solve slices of the overall problem. Would love to look at what you have!

Going to close this issue now as it's fixed but please

[2018-08-15 17:07] #6212 closed

[2018-08-15 17:07] KyleAMathews commented on #6212
Also, yeah, service workers are only for the built site so you need to debug it (unfortunately) by running gatsby build then gatsby serve to view the results.

[2018-08-15 17:39] alisonjoseph opened #7356 "I'm unable to import html/markdown files into a React component."
I'm unable to import html/markdown files into a React component.

Trying to do something like this with either `.html` or `.md` files

`const htmlFile = require(`carbon-components/html/accordion/accordion.html`);`

and getting the following error

Do I need to modify the webpack config somehow to make this work or is there a better way?

[code]

[2018-08-15 17:55] thebetterjort opened #7357 "Parsing error: Indented code."
Playing around with Gatsbyv2, I discovered this. I have pretifier on... but I can't make sense of why the indents matter?  First code fails,   8:10  error  Parsing error: Unterminated JSX contents. Second set of code works.
[code]

[code]

[2018-08-15 17:56] #7357 closed

[2018-08-15 17:58] thebetterjort commented on #7357
Really dumb... I've had better days.

[2018-08-15 18:02] zauni commented on #7356
Hi @alisonjoseph
you're right, there is no webpack loader defined to import html files. In v2 of gatsby, the loaders are defined [here](https://github.com/gatsbyjs/gatsby/blob/721fc25b4a29a7c4e4e0a7dd22f57cec18e4b5ca/packages/gatsby/src/utils/webpack-utils.js#L47)

If you want to use the official [html loader](https://webpack.js.org/loaders/html-loader/) or a [markdown loader](https://github.com/p

[2018-08-15 18:36] #4002 closed

[2018-08-15 18:53] tulsileathers commented on #3442
@daaain It seems like that's the best we're going to get without using the authenticated api, which only works for business accounts 🙁

[2018-08-15 19:49] th0th commented on #3238
`Link`'s behaviour has changed when `reach/router` has replaced `react-router`. @KyleAMathews
 mentioned [here](https://github.com/gatsbyjs/gatsby/pull/6918#issue-205279080) that new `Link` won't get that capability. So I wrote my custom `Link` wrapper, here it is in case someone else needs:

[code]

[2018-08-15 19:50] janosh commented on #368
@KyleAMathews I would take it a step further and automatically increment the port if 8000 is already occupied. Saves the user from having to confirm it every time. I often go away after typing `gatsby develop`, return a minute or two later expecting to be greeted by a finished compilation only to discover that the prompt has the whole time been awaiting my confirmation to use a different port.

Si

[2018-08-15 19:54] jrskerritt commented on #7289
@m-allanson: I started trying to put one together yesterday but so far have been unable to reproduce the issue starting from a fresh project (using `gatsby-cli`). Going to keep working on it.

@KyleAMathews: No JS errors 😕

[2018-08-15 20:15] sambaines opened #7358 "[v2] Best place for static files to import into components?"
Very simply I see that there is no static files folder for images, etc. like you get with some other development environments. So the question is where is the best place to put static files into the directory setup for importing into components?

i.e. do I just put the here `src/components/` or do I need specific directory like `src/components/images/` or do I put them in with pages?

I understand

[2018-08-15 20:30] pieh commented on #7294
https://github.com/stevenvachon/broken-link-checker seems to work locally with current robots.txt
currently running it with `blc -g -r -f -e https://next.gatsbyjs.org` (recursively + only internal links) and it produces:
[code]
Just after a while I'm getting some `ERRNO_ECONNRESET` which I think my connection can't handle all the concurrent requests

[2018-08-15 20:35] Manoz commented on #7358
I'm not sure if there is some kind of best practises for this.
I usually keep my assets inside my components depending on what I do. That way Webpack can do his thing.
If you put your assets inside a `static` folder at the root of your project, Webpack will just copy them at the root of the `public` directory.

There is a good explanation on how to work with assets in Gatsby v2 [here](https://next

[2018-08-15 20:38] GiraffeCoding opened #7360 "NPM Audit issues when creating new Gatsby project"
## Description

Getting npm audit issues on:

- webpack-dev-server (critical status)
- gatsby > webpack-configurator > lodash (low status)
- gatsby > webpack-validator > lodash (low status)

### Steps to reproduce

In terminal:

`Gatsby new Gatsby-site`

### Expected result

No audit issues

### Actual result

got 3 npm audit issues

### Environment

Mac OS X

[2018-08-15 20:48] pieh commented on #7294
All right, I probably tried to do too much - here are broken links from `/docs` page (with some false negatives because of my connection) - but enough to spot actual broken links
[code]

[2018-08-15 21:09] #7099 closed

[2018-08-15 21:10] chrisheninger commented on #6433
I just ran into this same thing after adding a new content type... I've been digging around trying to figure out what/why it's happening but haven't had any luck.

I've found that by removing my `.cache` directory and restarting gatsby– it works just fine. But after stopping and restarting, it will always throw the following error and I have to `rm -rf .cache` before running gatsby again.

<img wi

[2018-08-15 21:10] #5997 closed

[2018-08-15 21:11] marcaaron opened #7361 "React.Fragment Not Returning from Map Function"
## Description

When attempting to return a component wrapped with a React.Fragment as an item of a map function Gatsby returns a React.createElement invalid type error.

### Steps to reproduce

Create a component that returns a list of items that are React.Fragment elements.

[code]

import FragmentList into `pages/index.js`

### Expected result

It should render the fragments.

### Actual result

[2018-08-15 21:37] sambaines commented on #7358
Thanks @Manoz for the information, that seems to be an easy way to structure the files that I can use so will follow it similarly. And that link to the docs answers my question about markdown images - basically handles them the same way as above when bundled.

[2018-08-15 21:37] #7358 closed

[2018-08-15 21:45] izorg commented on #7163
@m-allanson looks like now during build `location.pathname` has additional `/` if no `pathPrefix`. For index page it's `//`

[2018-08-15 21:45] jlengstorf commented on #7294
Great! Thanks for this, @pieh!

[2018-08-15 21:47] amberleyromo commented on #7294
It took 30 minutes, but I got the full site output from that tool, if anyone is interested.

https://gist.github.com/amberleyromo/78ad2efaabeac53208626a16b8b7e047

I have what I need for the docs work though. Thanks y'all

[2018-08-15 21:52] jrskerritt commented on #7289
I think I found the problem! The reason it works locally but not when deployed is because we use a pathPrefix. Here's a repo that reproduces the problem:

https://github.com/jrskerritt/gatsby-v2-test

All the public files are committed as they would appear in our CI environment, so don't re-run `gatsby build` after cloning-- just spin up a web server on `/public` and fire away.

The pathPrefix use

[2018-08-15 22:41] joltmode commented on #7343
@dbrookes, thanks for the links, the answer appears to be in the readme:

Missed the part before. So, it appears to be the expected behaviour.

`createSchema` feels like the solution to use, if I don't like the default.
`refreshInterval` wouldn't cut it, as it would only requery the data based on current schema, not also update the schema, if I understood correctly.

An option to opt-out of defaul

[2018-08-15 22:41] Chuloo commented on #7261
@ciokan can you send in a minimal reproduction using a demo account? this should help fix the issue 👍

[2018-08-15 23:06] m-allanson commented on #7289
Oh good sleuthing! That is definitely an unintended usage of the pathPrefix - interesting that it works enough to to have no JS errors and no failed requests. I think this should output an error of some kind?

Generally you shouldn't need to move files around in Gatsby's generated output as it can result in unusual bugs. Possibly related is [the discussion towards the end of this PR](https://githu

[2018-08-15 23:10] AnalogMemory commented on #3442
I've been using https://www.instapi.io/ to get the normal public feed data.

[2018-08-15 23:54] jonysam commented on #7310
I realize this is quite silly but I think it would be preferable if there was only one wrapping div.

It doesn't seems to be anything special about the reach div, would it perhaps be possible to merge the reach div with the wrapping `id="___gatsby"` div by adding the html attributes there instead?

[2018-08-16 00:15] jonysam opened #7363 "[v2] Folder named "index" under /pages creates path "/index" instead of "/""
## Description

When putting /pages files in folders, like this:

[code]

Gatsby v2 doesn't recognize the index folder as the base path, instead creates a path to index/index.html. This leads to the build failing because there's no base index.html file.

### Steps to reproduce

Create a new Gatsby v2 project.

`gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-default#v2`

Put the

[2018-08-16 01:11] jrskerritt commented on #7289
Agreed!

Here's the use-case we're building for: we have some existing site directory pages that we thought would be a perfect candidate for building with Gatsby. We have a specific url structure we want to use: `/research/{country code}/{category}/{subcategory}/{starts with letter}/{page number}`. Currently, we only plan on building these pages for the US, so country code will always be `US`.

Th

[2018-08-16 01:16] martimarkov commented on #3374
I'm closing this issue. If the problem happens again feel free to open a new issue and link this one or reopen this one and ping me. :)

[2018-08-16 01:16] #3374 closed

[2018-08-16 01:50] tremby commented on #1836
I worked around this issue just now by installing [`gatsby-plugin-postcss`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-postcss) along with the [`postcss-import`](https://github.com/postcss/postcss-import) plugin.

There was only a critical order for two of my stylesheets -- normalize.css and my global.css stylesheet. The above plugins allow me to move the import of the n

[2018-08-16 01:58] marcaaron commented on #7361
Nice one! That indeed fixes this issue.

[2018-08-16 01:58] #7361 closed

[2018-08-16 02:58] MayerMediaCo opened #7365 "Refreshing blog index page causes links to 404"
## Description

My site is hosted on Netlify. On the hosted version of my site, when I refresh the blog index page located at "/blog" the url turns to "/blog/" . After the url changes, when I try to follow a link to a blog post, the path becomes '/blog/blog/slug' and the created path name 404s.

On local host, the issue does not occur at all. Asset optimization is off on Netlify. I have installed

[2018-08-16 04:35] nikosolihin commented on #7335
Thanks for the clarification @KyleAMathews

[2018-08-16 04:45] humphreybc opened #7366 "Cache /public folder in builds to avoid image thumbnail generation"
## Summary

At the moment Gatsby regenerates over 600 image thumbnails in every build. This adds about 90 seconds to the build time. I know Gatsby will not regenerate thumbnails if it sees they exist in /public, so I can [cache that in CircleCI](https://circleci.com/docs/2.0/caching/), however my problem is then trying to find a key to use for the cache so CircleCI knows when to bust the cache or

[2018-08-16 05:03] #7180 closed

[2018-08-16 05:13] deadcoder0904 commented on #7337
Ohh yes I did do it a long time ago but I guess I never read the whole thing completely. I'll give that a shot again & close this issue when I resolve it.

[2018-08-16 06:06] WinterSoilder opened #7369 "csv plugin parsing only single csv data"
So i have my pathscsv which works fine with
[code]
but gives single result
`{ id: '1', path: '/ford-ecosport-ambiente-1-5l-tdci' }`
and when i give a query according to the documentation like this
[code]
It says edges not found in rootquery all i want it to parse is multiple propertices
`[{ id: '1', path: '/ford-ecosport-ambiente-1-5l-tdci' },{id: '2', path: '/tesla'}]`

Please help me out.

[2018-08-16 06:39] daon commented on #1199
I'll work on pdf-transformer.

[2018-08-16 07:08] zauni commented on #7334
Hi @rtm619
with the srcset attribute you can't assume that the browser will change the image on resize. Most of the browsers are not changing the image if they have already loaded a large version of it.

If you need a different image on different screen sizes you have to use the picture tag and can't use Gatsby Image. srcset and Gatsby Image are great for images which are just changing the resolut

[2018-08-16 08:38] deadcoder0904 commented on #7337
On further note, I don't think this use case is covered there & I didn't think too much about it either. Just thought about how would I implement this for 30 mins & couldn't come up with a solution so posted here.

[2018-08-16 08:39] kakadiadarpan commented on #7168
@jncampbell I have created a gatsby plugin for `sass-resources-loader` which supports Gatsby version `1.x.x` currently.

How to use:
[code]

[gatsby-plugin-sass-resources](https://github.com/kakadiadarpan/gatsby-plugin-sass-resources) 🎉

[2018-08-16 09:54] pieh commented on #7369
You need to query `allPathsCsv` to get all entries. `pathsCsv` (without `all`) will return single instance:
[code]

[2018-08-16 09:54] #7369 closed

[2018-08-16 10:38] Chuloo commented on #6657
Clone reproduction [here](https://github.com/Chuloo/gatsby-6657), built on the hello-world starter using Gatsby v1.

At first trial, google fonts were not loaded. I moved on to create the same project Gatsby v2, fonts were loaded normally. _Going back to test the v1 reproduction again_, everything seemed to work fine. Fonts loaded both on `gatsby develop` and `gatsby build`. Things to note are:

-

[2018-08-16 11:01] stripeyjumper opened #7371 "404 pages are blank in production"
## Description

The page flashes then goes blank if you navigate to any 404 page in production:
https://next.gatsbyjs.org/thispagedoesntexist

- It happens on my own page hosted on Netlify as well as gatsbyjs.org.
- No errors are thrown on my page, but gatsbyjs.org has some 404 errors for font assets.
- The https://next.gatsbyjs.org/404 page still works ok, so I haven't managed to reproduce it in

[2018-08-16 11:06] MayerMediaCo commented on #7365
I have just used the default starter for v2 in this instance. As far as the actual code itself, most of the GraphQL queries is just follow along to the docs page.

The repo can be found here:
https://github.com/MayerMediaCo/MayerMediaCo2.0

The site is hosted here:
www.mayermediaco.com

I am just super confused as to why it occurs when only when hosted but on local host it is perfectly fine.

Unfo

[2018-08-16 11:10] KyleAMathews commented on #7365
This is a netlify setting I believe that does this. Please check that out. Enjoy your new Gatsby site!

[2018-08-16 11:10] #7365 closed

[2018-08-16 11:11] KyleAMathews commented on #7371
Thanks for the bug report! This will be fixed in https://github.com/gatsbyjs/gatsby/pull/7355

[2018-08-16 11:11] #7371 closed

[2018-08-16 11:30] MKruschke opened #7372 "Can't build the website with the plugin gatsby-plugin-postcss"
## Description
I use PostCSS for my current website and migrated the project from gatsby v1 to gatsby v2 (https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#restore-v1-post-css-setup). After that I couldn't build my website anymore. It seems the [gatsby-plugin-postcss](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-postcss) isn't working when we run the build step.

Not

[2018-08-16 11:38] MKruschke commented on #7372
the issue could be related to this one https://github.com/webpack-contrib/mini-css-extract-plugin/issues/73#issuecomment-385288770. I saw that the gatsby-plugin-postcss only adds the loader but not the webpack plugin.

[2018-08-16 12:00] stoltzrobin opened #7373 "Building large amount of pages (~16k) on Gatsby V2 performance issues"
## Summary
I'm building a website that contains lots of pages (~16k) with graphQL requests on each page. I've done some benchmarks and the build at the moment ~12k pages takes ~25 minutes.
## Relevant information

The website fetch data from different sources (contentful and JSON files that are added to graphQL). That data is then used on every page with its own graphQL query on each site.

[code]

[2018-08-16 12:11] m-allanson commented on #7372
Can you try bumping the version of "gatsby-plugin-postcss" to `next`?

[2018-08-16 12:49] #7009 closed

[2018-08-16 12:52] ValidRobot opened #7376 "CSS does not load on direct visit of a page"
## Description

I build the site with "gatsby build" and serve it with "gatsby serve" If I visit then a page say localhost:9000/imprint directly the css does not load but if I use a internal link it does load without problems. I experience this problem with every page.

### Steps to reproduce

Tried to recreate it but a clean install of my stack did not have any similar problems. So I am bit stuck

[2018-08-16 12:52] MayerMediaCo commented on #7365
I checked with netlify, and the setting that does this is not enabled

[2018-08-16 13:03] davidbailey00 commented on #7376
I encountered one or two similar-sounding bugs working on #7355 - could you upload your local build folder to netlify so I can check it out? If you go to https://app.netlify.com/ and scroll down after signing in, you should see this box where you can upload a static folder:

![image](https://user-images.githubusercontent.com/4248177/44210012-246db480-a15d-11e8-8321-bb5f0d032167.png)

[2018-08-16 13:08] #7314 closed

[2018-08-16 13:09] Manoz commented on #7365
![peek 16-08-2018 15-05](https://user-images.githubusercontent.com/1554207/44210250-3bfd6b00-a166-11e8-8f94-f0b1a4b8432b.gif)
I don't know how to reproduce your issue. Everything runs nicely actually. I'll fork your repo after the work and see if something's wrong.

[2018-08-16 13:13] pieh commented on #7300
Fix for #7314 was published with `gatsby@2.0.0-beta.106` (but it was really specific to remove trailing slashes plugin so it might not be duplicated issue), please check if this also fixes this issue and let us know. If it didn't I'll reopen this one

[2018-08-16 13:14] MayerMediaCo commented on #7365
The issue occurs when you refresh the page and then follow the link to the blog post. Once I get back to my computer this evening I’ll make a video if it’s helpful. I talked with netlify and it’s not something on their end. I appreciate the help!

[2018-08-16 13:14] m-allanson commented on #7314
Published in `gatsby@2.0.0-beta.106`

[2018-08-16 13:36] rtm619 commented on #7230
Hi Kyle,
During Develop, one of the pages throws this error in the browser console.

[code]
Any clue as to why its throwing this error?

[2018-08-16 13:37] jordyvanraaij opened #7377 "Gatsby-Image error during build"
## Description

An error occurs in the Gatsby-Image plugin during a new build

### Steps to reproduce

Running `gatsby build`

### Expected result

The build should run

### Actual result

[code]

### Environment

[code]

[2018-08-16 13:40] KyleAMathews commented on #7230
@vishalniit is it a warning? We don't kill the build process on warnings.

@rtm619 could you please open a new issue with more instructions on how to reproduce this error.

[2018-08-16 13:42] KyleAMathews commented on #7377
You're not passing in data to one of your gatsby image components so it throws an error. Perhaps try clicking around your pages while running `gatsby develop` to see where this is happening.

[2018-08-16 13:42] #7377 closed

[2018-08-16 13:50] KyleAMathews commented on #7373
What do the pages look like and their queries? My initial guess is you're using gatsby-image a ton and generating a bunch of blur-up effects?

[2018-08-16 13:55] KyleAMathews commented on #7310
It's unfortunately not possible to merge the two. Perhaps you could work with @reach/router on them reusing the div where React is mounted.

[2018-08-16 13:57] Manoz commented on #7321
Fixed and merged in #7353

[2018-08-16 13:57] #7321 closed

[2018-08-16 14:06] stoltzrobin commented on #7373
I'm not using gatsby-image at the moment but the page consist of text and images on each page. The images are loaded with a url string into another lazy-loading lib.

Is there any good/easy way to monitor the graphQL queries, for example to understand which queries takes the most time and the frequency ?

[2018-08-16 14:23] m-allanson opened #7378 "Lighthouse audit for next.gatsbyjs.org"
Running [a lighthouse audit on next.gatsbyjs.org](https://googlechrome.github.io/lighthouse/viewer/?gist=53b7e8f5104973583f4e9309a0e275e8) reveals a few issues that could be fixed:

- Text is invisible while webfonts are loading
- Uses inefficient cache policy on static assets - most (all?) of these are required.
  - is google tag manager and google analytics required?
  - where does woopra come f

[2018-08-16 14:26] jordyvanraaij opened #7379 "Gatsby states dynamic page component is non-page component"
## Description

During build Gatsby logs a warning that my dynamic page component is a non-page component, however it's not.

[code]

### Steps to reproduce

Running either `gatsby develop` (will proceed) or `gatsby build` (fails build)

This is the start of the query in `src/templates/case.js`:

[code]

I have exactly the same setup for `src/templates/blog.js` and no errors whatsoever, which make

[2018-08-16 14:30] KyleAMathews commented on #7373
Can you paste some queries and the data they return?

There are ways to trace graphql queries. We haven't got this working just yet but hope to extend our earlier work here https://next.gatsbyjs.org/docs/performance-tracing/

Also doing normal perf analysis could turn up some problems. Follow this guide and do a performance analysis in chrome dev tools while graphql queries are running https://nex

[2018-08-16 14:40] chuntley commented on #7373
Do the graphql queries hit an internal memory store of the data that you generate in an earlier step? I'm curious about this issue as well, 200k pages run this step at ~30 queries per second, which makes it take about 2 hours.

[2018-08-16 14:43] KyleAMathews commented on #7373
@chuntley these aren't normal query speeds which is why we're trying to debug what's going on in the site. gatsbyjs.org e.g. does ~300 queries / second.

[2018-08-16 14:44] KyleAMathews commented on #7373
Query running is single threaded as well atm which we'll make multi-threaded in the future.

[2018-08-16 14:48] KyleAMathews commented on #7373
@chuntley or are you saying you have another site w/ 200k pages?

[2018-08-16 14:51] #6752 closed

[2018-08-16 14:58] stoltzrobin commented on #7373
Here's an example how the queries looks like. There is ~6 similar queries in sequential after each other with similar structure

[code]

[code]

Some of the fragments have around 20-30 attributes. Majority of the attributes are strings. Thanks for the links, I will take a look at it and see it I can did deeper into what it taking so long time.

[2018-08-16 15:02] stoltzrobin commented on #7373
@chuntley not what I've seen at least.

[2018-08-16 15:08] iamhitarth commented on #7201
This can now be closed as PR #7305 ensures that the `wrapperStyle` option applies to the `figure` when the `showCaptions` option is set to true.

[2018-08-16 15:13] #7201 closed

[2018-08-16 15:16] ivorpad opened #7380 "[v2] PageRenderer not working as intended"
## Description

I'm trying to recreate the modal version of Gatsbygram in my own site and I need the PageRenderer component to render the background on the modal and when I upgraded Gatsby to 2.0.0-beta.106 PageRenderer stopped working

### Steps to reproduce

1. See below in **File contents**

2. OR If you upgrade the Gatsby package to 2.0.0-beta.106 in Gatsbytagram you get the same result when o

[2018-08-16 15:53] ooloth opened #7381 "[question] How to securely access Netlify environment variables in a Gatsby component?"
I'm successfully working with environment variables in my local environment using an `.env` file and the `dotenv` library as described [here](https://www.gatsbyjs.org/docs/environment-variables/) and [here](https://stackoverflow.com/questions/47086881/setting-environment-variables-in-gatsby). For security reasons, I am not checking the `.env` file into my repo, but have instead entered the same va

[2018-08-16 15:55] jonniebigodes commented on #7360
a simple answer to this is that even with the updates on project, it depends on some packages that might be somewhat outdated mostly due to the minor versions mostly. the webpack one is due to the fact that gatsby version 1 relies on a older version of webpack so you might get those issues. My thoughts on this read the docs, try to understand ou it works, fiddle with it and keep an eye also on the

[2018-08-16 16:13] MKruschke commented on #7372
@m-allanson after bumping the version it works 👍

Can you also tell me where I can find the source code of the v2?  It seems this is not the current master or? I also couldn't saw branch with a proper name :)

[2018-08-16 16:13] #7372 closed

[2018-08-16 16:25] KyleAMathews commented on #7381
Perhaps Firebase has a way to authenticate and get per-user tokens for access?

[2018-08-16 16:27] ooloth commented on #7381
They do!

Before using Firebase authentication, though, I need to initialize the app itself using my API key.

How to store and access that API key securely is what I'm trying to figure out.

[2018-08-16 16:36] m-allanson commented on #7372
And v1 lives on [the `v1` branch](https://github.com/gatsbyjs/gatsby/tree/v1). Note that v2 is still a beta, which is why the `next` tag is the recommended way to install it.

[2018-08-16 16:39] KyleAMathews commented on #7381
Probably setup your own authentication server

[2018-08-16 16:39] geddski commented on #7300
Shoot! I was hopeful that would solve it for me but I can confirm I still have the same error happen with `gatsby@2.0.0-beta.106`. I've added @KyleAMathews to my git repo to test against it directly.

Is it possible somewhere else is clearing the query text? First compile works 100% of the time, then breaks on almost every markdown file edit similar to that other issue.

[2018-08-16 16:43] KyleAMathews opened #7382 "Setup Cypress test for gatsby-plugin-offline"
And general testing of our runtime in a built site e.g. can visit other links, 404s are handled, etc.

[2018-08-16 16:49] pieh commented on #7300
There are other potential issues here - if possible could you invite me to repo as well? I probably have more time than @KyleAMathews to spend on this

[2018-08-16 16:53] deadcoder0904 opened #7383 "Web Sites keeps loading infinitely on Safari?"
If you visit [my website](http://akshaykadam.me) & go to **Apps** on Safari, it keeps on redirecting again & again.

And in console there is some weird error `TypeError: undefined is not an object (evaluating 'this.state.pageResources.json.pageContext')`.

I think something is wrong with the static **pages.json** or **path.json** it generates after building the site.

In Chrome or Firefox this wor

[2018-08-16 16:56] geddski commented on #7300
@pieh added. See issue 1 for some additional notes/context. Thank you!

[2018-08-16 16:56] dbrookes commented on #7381
You only need the firebase PROVIDER_ID which you can safely store in Gatsby env, once a user is logged in they'll get a token back which you can use to call your private firebase services with

https://github.com/firebase/firebaseui-web#using-firebaseui-for-authentication

[2018-08-16 16:58] deadcoder0904 commented on #7383
Another issue is when I append a slash at the end of the url like https://akshaykadam.me/apps/lessons-of-hn-bot/ then it loads without CSS.

And if I visit the website from another URL it also keeps infinitely loading. Like from https://wip.chat/products/1415 or https://wip.chat/products/1678

Click on the green button below profile. It should keep loading infinitely. Weird issue I don't know what

[2018-08-16 17:11] LeKoArts commented on #7209
This error is also flooding my console :(

[2018-08-16 17:31] ooloth commented on #7381
Thanks for all the replies!

After [a bit more digging](https://stackoverflow.com/questions/37482366/is-it-safe-to-expose-firebase-apikey-to-the-public), I've learned it's actually okay for the Firebase apiKey (and other init settings) to be exposed. Those settings are meant to be included as a simple script tag in the HTML of the production site and Firebase's backend settings will restrict what

[2018-08-16 17:31] #7381 closed

[2018-08-16 18:13] MKruschke commented on #7372
Good to know. I'll upgrade my other dependencies to and when I find something I'll add a new issue. Thanks for your time.

[2018-08-16 18:35] KyleAMathews opened #7384 "Optimize next.gatsbyjs.org for launch"
- [ ] subfont
- [ ] lazy load service worker stuff
- [ ] be less aggressive about loading offline stuff in gatsby-browser.js?
- [ ] check that no-js vs js is same speed index

[2018-08-16 18:56] #3757 closed

[2018-08-16 18:57] LeKoArts commented on #6551
Closing this issue as PRs for this will merge soon.

[2018-08-16 18:57] #6551 closed

[2018-08-16 19:05] Manoz commented on #7365
First thing first : you're actually using Gatsby v2 but still using some plugins supporting Gatsby v1. You should update all Gatsby plugins to `@next` if possible. It's not necessary since your project can run without this update but its best in case you add more features.

The weird thing is your GraphQL queries. You have 2 different path on your posts.
Gatsby generate `/blog/post-name` links whi

[2018-08-16 19:17] LekoArts opened #7385 "Support filtering on deep nested nodes"
## Description

First of all I don't know if it's the best fitting title (feel free to change it to a better one 😉).
So basically my issues are described in this PR:
https://github.com/gatsbyjs/gatsby/pull/6315

This PR unfortunately didn't fix my issues on filtering tags. Those tags are custom types (in the Prismic backend) and look like this in the GraphQL response:
https://github.com/gatsbyjs/g

[2018-08-16 19:41] #7194 closed

[2018-08-16 19:42] #5610 closed

[2018-08-16 20:12] #6952 closed

[2018-08-16 20:45] #4689 closed

[2018-08-16 21:37] #7300 closed

[2018-08-16 21:39] calcsam opened #7390 "[perilbot]`ready-for-review` tag for pull requests"
Sometimes it's unclear when pull requests are ready for review, and in a few cases pull requests can linger for days or weeks.

In addition, because it's not immediately clear to maintainers which ones are ready for their eyes, they have to spend extra time looking over pull requests that aren't actionable (perhaps because the submitter hasn't yet made requested changes).

To fix this, I propose a

[2018-08-16 21:48] calcsam commented on #6728
Love this idea.

As more of the community is assisting with open-source issue management we should articulate a long-term vision of open-source issue management & code contribution.

## Overview

Roughly speaking there are three things we can do to make issue & PR management better and easier:

1. Define issue processes & automate them when possible
2. Create dashboards to give visibility into iss

[2018-08-16 21:56] KyleAMathews opened #7391 "Problems loading /starter-showcase/ on next.gatsbyjs.org"
If you visit https://next.gatsbyjs.org/starter-showcase/ it shows the SSRed HTML and then once the JS loads, it prints in the browser console: "A page wasn't found for "/starter-showcase/" then shows a 404 page.

[2018-08-16 22:01] calcsam commented on #7100
Thanks @shobhitchittora! I'm going to close this issue since the two bullet points you highlighted are done -- if you have more please add them & reopen!

[2018-08-16 22:01] #7100 closed

[2018-08-16 22:03] azangru commented on #6790
Thought that might be relevant:

![image](https://user-images.githubusercontent.com/6834224/44237482-4bf26a80-a1b9-11e8-9420-a3f6ba29cd0d.png)

([link](https://twitter.com/slightlylate/status/1029898039903670272))

[2018-08-16 22:13] KyleAMathews commented on #6790
Closing this cause if someone is sad about Gatsby adding JavaScript they're well served by other options.

[2018-08-16 22:13] #6790 closed

[2018-08-16 22:29] octalmage commented on #7007
Instead of creating a new plugin for this, it might be a good idea to modify react-images to allow replacing their image component.

[2018-08-16 22:44] Chuloo commented on #7379
can you send in a reproduction repo showing the error?

[2018-08-16 23:27] davidbailey00 commented on #7383
Is this v2? If so, it might be fixed with #7355

[2018-08-17 00:00] calcsam opened #7396 "[perilbot] delete branches after merge"
MISSION: Give @m-allanson magical robot assistance so he doesn't have to do this anymore:

![image](https://user-images.githubusercontent.com/4388699/44240915-9d790600-a175-11e8-963a-e3728ba7a588.png)

Peril could do this!

[2018-08-17 00:39] humphreybc commented on #7366
Hmm. I think the problem with that is that the /public folder is not committed to the repository. So when the CI runs and pulls down the repo, before it runs `gatsby build`, there's a chicken and egg problem – you can't count the number of items in a folder to determine whether to restore the folder from a cache, when said folder doesn't exist until it's restored.

[2018-08-17 01:42] jncampbell commented on #7168
@kakadiadarpan Both options work perfectly! Thank you for your help and awesome contribution. Cheers!

[2018-08-17 01:42] #7168 closed

[2018-08-17 02:41] azdanov opened #7398 "[v2] TypeScript broken after `gatsby@2.0.0-beta.106`"
On version `gatsby@2.0.0-beta.106` everything works.

On version `gatsby@2.0.0-beta.107` and higher there is an error for each component:

[code]

__EDIT:__

I'm using `gatsby-plugin-typescript@2.0.0-beta.8`.

[2018-08-17 02:41] alisonjoseph commented on #7356
Thanks for pointing me in the right direction, got it working 😸

[code]

[2018-08-17 02:45] mattmillerart opened #7399 "gatsby-plugin-typography next not live reloading changes to config file."
## Description

Using `"gatsby-plugin-typography": "next"` with a config file in `utils/typography.js`, after saving changes these changes are not reflected in browser. The user must stop the `gatsby develop` process and restart to see the changes reflected.

Interestingly, using `gatsby next` but using the older `"gatsby-plugin-typography": "^1.7.19",` plugin in package.json, things work as expec

[2018-08-17 03:16] KyleAMathews commented on #7398
Hmm that's no good! Could you share a site that reproduces the issue?

On Thu, Aug 16, 2018, 10:41 PM Anton Zdanov <notifications@github.com>
wrote:

[2018-08-17 03:27] azdanov commented on #7398
Sure!

https://github.com/azdanov/gatsby-site

[2018-08-17 05:02] alexluong commented on #7298
@Chuloo Thanks for the response. I checked out your repo but didn't see any differences from my original code. Can you show me what you changed?

Also, as for the ES6 syntax, I think I had Babel compile it to be compatible with Node 6 to `dist/gatsby-node.js`. Then in `gatsby-node.js` I just export out whatever it is in `dist`.

[2018-08-17 05:04] deadcoder0904 commented on #7383
Hey when I slept I found the solution. I remembered my `gatsby` version in `package.json` is `@next` & Gatsby switched from `react-router` to `@reach/router` so that might be the issue for redirects or infinite load.

I just woke up so I'll migrate now & see if it works & close this issue when it does.

[2018-08-17 05:05] deadcoder0904 commented on #7383
If it doesn't work after migrating to `@reach/router` then I'll try your solution @davidbailey00

[2018-08-17 05:06] seaneking commented on #7219
👍 This would be great, but I think it should be provided as an official plugin rather than baked in. It's a rather opinionated feature, when there are other component library helpers out there that people might prefer to use.

[2018-08-17 05:11] kartiklad commented on #7294
@amberleyromo Seems like the list has a lot of Broken links. Happy to help if you need! :)

[2018-08-17 05:29] eqyiel opened #7401 "exports of gatsby-plugin-styled-components are different depending on whether it's a dependency or a devdependency"
## Description

The contents of `node_modules/gatsby-plugin-styled-components/gatsby-ssr.js` are different (`exports.replaceRenderer` vs `exports.wrapRootElement`) depending on whether it's a `dependency` or a `devDependency`.  Is this expected behaviour that I didn't notice before, or is something incredibly weird going on?

On 8ea66b4:

[code]

On c5b6d79:
[code]

### Steps to reproduce

You can

[2018-08-17 05:41] jasondibenedetto commented on #7401
I am currently able to replicate this issue as well. Is this the expected behaviour?

[2018-08-17 06:15] eqyiel commented on #7401
It took me way too long to realise that the difference is `gatsby-plugin-styled-components@3.0.0-beta.3` vs `gatsby-plugin-styled-components@3.0.0-beta.4`, which was published 8 hours ago: https://github.com/gatsbyjs/gatsby/commit/98ab705f8626663521a28ef9d75a267743735240

That's a breaking change for an in-range semver bump!

Despite that, I'm closing because I've explicitly chosen to opt into the

[2018-08-17 06:15] #7401 closed

[2018-08-17 06:58] deadcoder0904 commented on #7383
Ohh no so I tried migrating. But it looks like I didn't have anything to migrate at all. I'm only using Link. Although there was one issue that I was importing it from `gatsby-link` but now have imported from `gatsby` but it still doesn't work.

Even when I hit refresh on Safari it doesn't load the CSS. Everything works great on Firefox & Chrome but the issue persists on Safari.

I guess @davidbai

[2018-08-17 07:02] rtm619 opened #7403 "[v2] Passing location prop to a div throws an error in browser console"
## Description

If the location prop is passed to a div, it throws an error.

### Steps to reproduce

Pass location prop to a div, it throws an error in browser console.

### Expected result

No errors, like in Gatsby v1.

### Actual result

[code]

### Reproduction Repository

https://github.com/rtm619/Gatsby-Starter-Error

Please check the TestComponent.js file inside src/components. This compon

[2018-08-17 07:03] azdanov commented on #6638
By using `source-map-loader` webpack plugin I've managed to sync sourcemaps, before there were similar issues as [here](https://stackoverflow.com/questions/35870940/typescript-babel-sourcemaps-using-webpack).

@m-allanson Should it be included by default in `gatsby-plugin-typescript`?

[code]

Need to figure out how to make it work for `incline-source-map`.

[2018-08-17 07:27] azdanov commented on #7254
This is intentional behavior. More info https://github.com/gatsbyjs/gatsby/pull/7355#issuecomment-413780401 and https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/navigation.js#L58.

I wonder if it's possible to update service-worker smoothly, without a hard reset.

[2018-08-17 07:28] davidbailey00 commented on #7383
@deadcoder0904 Clone my repo from https://github.com/davidbailey00/gatsby and **checkout branch `fix-offline-issues`** (important, otherwise you'll just have an old version of Gatsby without the changes).

Then follow the instructions [here on Gatsby's website](https://www.gatsbyjs.org/packages/gatsby-dev-cli/) to setup gatsby-dev and copy the development files. Once those files are copied, build

[2018-08-17 07:39] kartiklad commented on #7294
Awesome! I’ll get on it and send a PR soon...cheers!

[2018-08-17 07:55] fk commented on #7321
Whoops, forgot to close this! Thanks again @Manoz!

[2018-08-17 08:23] azdanov opened #7404 "[v2] `gatsby-plugin-catch-links` uses old api"
I got `The "push" method is now deprecated and will be removed in Gatsby v3. Please use "navigate" instead.` in my console.

Should this be replaced with `navigate` as per [migration guide](https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#a-history-prop-is-no-longer-passed-to-page-components)?

https://github.com/gatsbyjs/gatsby/blob/eec33935f0beea7971a5bb94eb4b9e481e5b1be9/packages/gatsby-

[2018-08-17 08:37] jordyvanraaij commented on #7379
I debugged a little more and found out that the problem is the child image sharp request in the `gatsby-node` file. When I remove the image, the warning is gone. I need that image however.

[2018-08-17 08:59] mattes3 commented on #7398
Same thing with my typescript-based site. With version `gatsby@2.0.0-beta.106`typescript works fine. With `gatsby@2.0.0-beta.110`, it does not:

[code]

[2018-08-17 09:31] supermoos commented on #3344
Is there a suggested workaround until sometime after V2 when this would be worked on again?
Sounds weird if so many people using GatsbyJS has never had a need for optional fields. I'm using it with Contentful btw.

[2018-08-17 09:43] resir014 commented on #7398
It seems that `gatsby@2.0.0-beta.107` [introduced some new APIs](https://github.com/gatsbyjs/gatsby/pull/6801) to modify the Babel config used by TS, and the TS plugin hasn't been updated to reflect that.

Looking into it later tonight.

[2018-08-17 09:49] pieh commented on #7404
I think it should be `import { navigate } from "gatsby"`. Do you want to create PR for it?

[2018-08-17 09:50] azdanov commented on #7404
Sure!

[2018-08-17 09:52] pieh commented on #7401
Sorry for that @eqyiel . We realized there were some usecases with v1 style layout components that didn't work in v2, so this change was part of fixing this problem. And you totally are right that we shouldn't do that in beta - but better do that in beta than wait for next major version bump with this.

[2018-08-17 09:58] harrync opened #7405 "gatsby-source-drupal 'gatsby develop' failing - missing @babel dir"
Hi all,

- NPM v 6.4.0
- Gatsby CLI v 1.1.58
- Gatsby v 1.9.277

## Description

Running `gatsby develop` fails with the following error:

[code]

### Steps to reproduce

- Default Gatsby install (devlop runs fine, can view site @ localhost:8000)
- `npm i gatsby-source-drupal`
- Add config to `gatsby-config.js`
- Run `gatsby develop`
- Error

### Environment

[code]

### File contents (if changed)

[2018-08-17 10:03] AndrewIngram opened #7407 "DPI-dependent variable image quality"
## Summary

Automatically adjust image quality downwards for higher pixel density displays

### Motivation

Right now, the default image quality for generated images is 50. This is configurable but still not ideal. Generally speaking, we can get away with higher compression on higher DPI displays. An image that needs a quality of 90 to look good on 1x display, might only need 60 to look good on a

[2018-08-17 10:38] #6916 closed

[2018-08-17 10:39] #7404 closed

[2018-08-17 11:04] westmark commented on #3344
We're also using it with Contentful and this behaviour is driving us nuts. As we see it the Contentful plugin is mostly at fault here for (supposedly) constructing the schema from data received rather from the actual content type schema received over the API.

[2018-08-17 11:15] rtm619 opened #7410 "[v2] Gatsby Build and Develop throws error"
## Summary

After upgrading to Beta 110, I see this error in develop as well as build.

## Relevant information
Console Log in Gatsby develop

[code]

### Environment (if relevant)

System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
  Binaries:
    Yarn: 1.7.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 5.6.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    E

[2018-08-17 11:37] pieh commented on #3344
@westmark contentful plugin don't have power over this - it's just right now Gatsby doesn't allow plugins to set explicit types and schema is inferred from available data

As for workaround - if possible create dummy entry for each content type that will contain all optional fields and then filter that dummy entry out when you are creating pages or listings of entries. Dummy entry data will ensure

[2018-08-17 11:41] supermoos commented on #3344
@pieh Thanks for the work-around suggestion for now :-)

[2018-08-17 11:46] westmark commented on #3344
@pieh I did not know that - thank you for clarifying. A follow-up question then, wouldn't it be possible for plugin authors to inject dummy values for missing data before passing it on to Gatsby? If Gatsby admits keys with `undefined` as value into the schema I would regard this as a far better workaround.

[2018-08-17 12:08] alexandernanberg opened #7413 "Styled-components global style is not inlined"
## Description

Styled-components global style (`injectGlobal`) is not inlined in the html in the production build if it's used in `gatsby-browser.js` or `html.js`.

### Steps to reproduce

[code]

### Expected result

That the global style should be inlined in the HTML when running `gatsby build`.

### Actual result

The style is loaded but you get a FOUC. My current workaround is to inject the s

[2018-08-17 12:15] eqyiel commented on #7401
@pieh not at all, it's definitely better to rip of the band-aid while it's still in beta!

[2018-08-17 12:23] philiplackmaker opened #7414 "GIF not working in markdown-remark"
## Description
Hey, everyone, I hope you can help! I am having a small issue with Gifs not working in markdown remark. They are reproduced in the build but they don't scale and they break the grid.
### Steps to reproduce

1. Add ![Gif](image_preview.gif)
2 Run develop
3. Gif added and multiple breakpoints to the site.

### Expected result

Gif is on the page but scales as the browser scales the sa

[2018-08-17 12:25] philiplackmaker commented on #7414
https://github.com/philiplackmaker/folio-2018 <- my repo

[2018-08-17 12:37] pieh commented on #7410
Hey, we recently did some change related to babel - can you check https://next.gatsbyjs.org/docs/babel/ for newest minimal setup?

[2018-08-17 12:40] pieh commented on #7413
I might have break this recently. Will have a look

[2018-08-17 12:42] pieh commented on #7405
Sounds like dependencies didn't install correctly? Can you try deleting `package-lock.json` and `node_modules`, running `npm install` and trying again?

[2018-08-17 12:44] alexandernanberg commented on #7413
I'm not sure if this have ever worked in v2 though, just recently tried moving the `injectGlobal` to the `gatsby-browser.js` file and noticed this

[2018-08-17 13:26] pieh commented on #7413
Oh, that's kinda good news for me that I didnt break it then ;) Will need to research `styled-components` and how they recommend to do this and then apply it to `gatsby` then

[2018-08-17 13:56] harrync commented on #7405
Hi @pieh

I've tried running `npm install` again, and am given this:
[code]

Then when running `gatsby develop` I'm now given this error:
[code]

Am I missing something? I've tried installing to a new directory and am getting the same output

[2018-08-17 14:07] KyleAMathews commented on #7410
Yeah, you just need to remove the first two lines from your .babelrc file.

    "cacheDirectory" : true,
    "babelrc" : false,

[2018-08-17 14:07] #7410 closed

[2018-08-17 14:11] vishalniit opened #7416 "ReferenceError: Unknown option: .cacheDirectory"
## Description

Since we update Gatsby beta from 106 to 111 we face develop & build failure. We did alredy tried deleting node modules & cache directories.

### Steps to reproduce

gatsby develop

### Expected result

it should develop as it do in Beta 106

### Actual result

`here ./.cache/develop-static-entry.js
Module build failed (from ./node_modules/gatsby/dist/utils/babel-loader.js):
Referen

[2018-08-17 14:41] azdanov commented on #7403
I couldn't reproduce with the same error. But generally React is not happy when a native element receives an unknown prop, such as `location` in your case.

What do you want to achieve by passing a location to a `div`? If I understand better the end goal it will be easier to find a solution.

[2018-08-17 14:44] sambbaron commented on #7398
Could this be related to the StaticQuery issues as well? https://github.com/gatsbyjs/gatsby/issues/5626

[2018-08-17 15:04] KyleAMathews commented on #7398
No this wasn't an intentional break. Sorry about missing this. I'm busy the next few days but if someone could put together a PR, I'll be merge it and release it.

[2018-08-17 15:52] resir014 commented on #7398
@KyleAMathews I managed to fix it by adding an `onCreateBabelConfig` where I add `@babel/preset-typescript` in, but *that* part of my brain keeps saying it can't be that easy :)

I can PR this if you'd like, as a short term fix.

[2018-08-17 16:58] Manoz commented on #7413
They usually recommande to add your `injectGlobal` at the root of your main component (mostly app.js or index.js, the one that render your app).

With Gatsby I like to have this in a file called `GlobalStyles.js` and import it inside my `Layout` component.
For me, everything that needs to be rendered should stay in my `./src` folder (mostly all the front-end stuff) while the more « back-end » stuf

[2018-08-17 17:04] berraknil commented on #6705
Starting a list here for future reference,

- [ ] The Search component, shared between main page, showcase and on creators/community pages so far as well. I pretty much copy pasted most of the current animation and styling from there, so probably can be abstracted to an external shared component.

[2018-08-17 17:06] berraknil commented on #6734
Currently approved wireframes for individual and creators pages are at https://www.figma.com/proto/DVjFu8i3WDV38FBS2nJtSvTY/Index?node-id=1%3A662&viewport=1062%2C2017%2C0.902485&scaling=contain for future reference

[2018-08-17 17:06] #6734 closed

[2018-08-17 17:08] ErisDS commented on #4799
I also ran into this bug, but I found this PR: https://github.com/gatsbyjs/gatsby/pull/6315 which appears to fix it in gatsby@2.0.0-beta.22.

I'm now able to do queries like:

`filter: {category: { elemMatch: {slug: {eq: $slug } } } } }`

[2018-08-17 18:03] KyleAMathews commented on #7413
We might have misfired suggesting putting global styles in gatsby-browser.js as this doesn't work for css-in-js as gatsby-browser.js isn't included when server rendering which means styles there aren't extracted and inlined in the generated html files.

It does work to include css as those are extracted when building the js but not for css-in-js.

Including styles in a layout component or a global

[2018-08-17 18:16] cpboyd commented on #7398
@resir014 Unfortunately that change isn't fixing all of my issues.

I'm using a custom Typescript typography theme based on:
https://github.com/KyleAMathews/typography.js/blob/master/packages/typography-theme-fairy-gates/src/index.js

[code]

which fails at the `const theme: IOptionsType = {` line.

Where `./types` contains:
[code]

[2018-08-17 18:36] azdanov commented on #7399
Indeed. Here's a reproduction: https://github.com/azdanov/my-hello-world.

`gatsby-plugin-typography@1.7.19` works fine, but a manual reload is required in `gatsby-plugin-typography@2.2.0-beta.3`.

[2018-08-17 18:48] shannonbux commented on #7294
These ones should all work now:

├─BROKEN─ https://next.gatsbyjs.org/docs/unit-testing/ (HTTP_404)
├─BROKEN─ https://next.gatsbyjs.org/docs/testing-components-with-graphql/
(HTTP_404)
├─BROKEN─ https://next.gatsbyjs.org/docs/end-to-end-testing/ (HTTP_404)
├─BROKEN─ https://next.gatsbyjs.org/docs/testing-css-in-js/ (HTTP_404)
├─BROKEN─ https://next.gatsbyjs.org/docs/testing-react-components/ (HTTP_

[2018-08-17 18:51] stoque commented on #4547
+1

[2018-08-17 18:51] harrync commented on #7405
@tmccombs great spot, I've downgraded to 2.0.41 and it's working

[2018-08-17 18:54] shannonbux commented on #7294
Looks like the "Adding Third Party Services" overview and its children are
the only things broken.

Also, wondering if we ought to rename
https://next.gatsbyjs.org/docs/headless-cms/ to "Sourcing from Headless
CMSs" <--does that pluralization bother anyone else on a nav bar? It's not
my favorite. We could do "Sourcing from a Headless CMS". Once we agree on
whether/which title change to do, I can d

[2018-08-17 18:59] azdanov commented on #7399
The only difference between plugin `v1` and `v2` is in `.babelrc`.

`v1`
https://github.com/gatsbyjs/gatsby/blob/8df59bfb66b28198d98fb82a952001f0e2b90aa8/packages/gatsby-plugin-typography/.babelrc#L3

https://github.com/gatsbyjs/gatsby/blob/2a7a8710ff579dcf4f3489d4e7b995dfb8de298c/.babelrc.js#L1-L15

`v2`
https://github.com/gatsbyjs/gatsby/blob/2a7a8710ff579dcf4f3489d4e7b995dfb8de298c/packages/gat

[2018-08-17 19:06] tmccombs commented on #7405
In 2.0.41 the generated code uses a `_interopRequireDefault` function that is defined inline (and uses `babel-runtime/helpers` instead of `@babel/runtime/helpers`). Which reinforces my suspicion it has to do with being built with a newer version of babel.

[2018-08-17 19:09] KyleAMathews opened #7420 "Write script to automate checking of long-term caching support for JS files"
I added a site w/ some manual instructions for checking that Gatsby is correctly setup to make sure every JS file name changes when a module that's part of its bundle changes so that site's can safely setup long-term caching headers for JS files.

https://github.com/gatsbyjs/gatsby/tree/master/integration-tests/long-term-caching

This should be part of our test suite and run against PRs.

To do th

[2018-08-17 19:11] tmccombs commented on #7405
If I add a dependency on '@babel/runtime'  7.0.0-rc.1 then instead of `Cannot find module '@babel/runtime/helpers/  interopRequireDefault'` I get `Cannot read property 'createNode' of undefined`, where `undefined` is coming from `actions`.

[2018-08-17 19:14] KyleAMathews opened #7421 "Add Cypress tests for built site & gatsby-plugin-offline"
We should automatically verify Gatsby's production run-time with a Cypress test suite, similar to what [we've added for Gatsbygram & the develop runtime](https://github.com/gatsbyjs/gatsby/tree/master/examples/gatsbygram/cypress/integration).

The tests should build the site and then verify various things like 404 support, visiting pages, clicking on links, various types of offline support etc.

@

[2018-08-17 19:58] davidbailey00 commented on #7421
Here's an updated version of the checklist, with some clearer descriptions:

[code]

Regarding the PR, currently tests 4.1.1 and 4.1.2 (i.e. custom 404s with `gatsby develop`) are failing but everything else passes.

[2018-08-17 20:45] shannonbux commented on #6896
Hi @fk I put this in the Docs redesign phase 3 EPIC, open to discussion on how to prioritize it!

[2018-08-17 20:50] shannonbux opened #7422 "[www] docs sidebar is not sticky"
### To recreate the behavior:
1. Clicked on Guides from docs homepage (default is only Quickstart is open)
2. Scrolled down
3. Opened Deployment and Hosting category
4. Scrolled down
5. Clicked on Custom Configuration

### Expected behavior
I would expect to see the custom configuration item stay exactly where it is in the sidebar

### Actual behavior
The sidebar jumps back to the top so I have to

[2018-08-17 20:52] shannonbux opened #7423 "[www] docs sidebar container sizes not aligned with visible lines"
Hm, I'm going to need to come back to this. Can't remember the series of actions that led to this behavior. There were just several times where the boxes around the "expand/collapse" arrows had an extra line at the bottom.

There were also times with the Quick Start category name got indented too far in, along with its accompanying line.

[2018-08-17 20:52] shannonbux opened #7424 "[www] docs sidebar user confusion navigating btw docs and tutorial"
### Initial problem

Many users, when they are on the Tutorial page, can't remember how to get back to Docs.

In an effort to solve this issue, I made a link to the Main Tutorial under Quick Start category in Docs. I also made a link to the Quick Start doc at the top of the Tutorial sidebar.

It appears this has created more confusion and didn't solve the initial problem.

### New confusion

Some

[2018-08-17 20:53] shannonbux opened #7425 "[www] doesn't show selected state along top nav bar"
### Initial problem

Many users, when they are on the Tutorial page, can't remember how to get back to Docs.

In an effort to solve this issue, I made a link to the Main Tutorial under Quick Start category in Docs. I also made a link to the Quick Start doc at the top of the Tutorial sidebar.

It appears this has created more confusion and didn't solve the initial problem. So that's getting taken c

[2018-08-17 20:56] shannonbux opened #7426 "[www] do 2 more usability tests to verify whether overview articles clearly indicate they have content"
### From user testing

### Actions

#### Clicking on titles
1. User clicks on title
2. Category expands
3. User clicks on title again

### Expected behavior
Category would collapse

### Actual behavior
Category does not collapse

_____________________________
Related user data:
#### Clicking only on arrows
1. User clicks on arrows next to overview article titles
2. User never clicks on title itsel

[2018-08-17 20:57] shannonbux opened #7427 "[EPIC] v1.5 Docs IA redesign - cleanup"
## Epic Template

### Who will own this?

_What Area of Responsibility does this fall into? Who will own the work, and who needs to be aware of the work?_

**Area of Responsibility:**

_Select the Area of Responsibility *most impacted* by this Epic_

- [ ] Community
- [x] Learning
- [ ] Gatsby Core
- [ ] Enterprise
- [ ] Design
- [ ] Marketing
- [ ] Company/Admin
- [ ] Sales

     |

[2018-08-17 21:18] shannonbux opened #7428 "[www] searching for doc doesn't select doc on sidebar"
From user interviews:

### Actions
1. Type adding search" into search bar
2. Hit enter to select first search result

### Expected behavior
1. Page appears
2. Title "Adding Search" selected on sidebar and visible

### Actual behavior
1. Page appears, but with no margin above title
2. No items on sidebar are selected

[2018-08-17 21:52] joewood commented on #6540
Anyone found a workaround for this yet? Or insight into which stage is causing the problem?

[2018-08-17 22:05] arzafran commented on #7425
Let me know if I understood well and my approach fixes the issue.

[2018-08-17 22:44] fjaskolski commented on #7261
Hello! 👋

I've run into a similar issue. Managed to reproduce it with a plain starter.

### Steps to reproduce:
1. Clone [the default starter for v2](https://github.com/gatsbyjs/gatsby-starter-default/tree/v2).
2. Deploy to Netlify. The build is also available here (w/o css): https://hungry-payne-c80795.netlify.com/.
3. Go to home.
4. Navigate to the second page.
5. Hit reload.
6. Navigate back. N

[2018-08-17 23:17] patrick-mcdougle commented on #3727
I've been thinking about this and wondering why we don't use the parent / child relationship to handle this? Isn't this a textbook case for when to use parent / child? I think the issue is how to you switch allFile and allDirectory to a usage that has parent / child without breaking BC? Do you create a new node type (name TBD, perhaps fileResource? [suggestions appreciated]) such that all director

[2018-08-17 23:33] patrick-mcdougle commented on #3727
Believe it or not, there's some pseudo code here that might help: https://github.com/gatsbyjs/gatsby/issues/3129

[2018-08-18 00:16] calcsam opened #7430 "Add Snapchat, Stitchfix, AAA, CapitolOne sites to site showcase"
Some pretty high profile sites just went up on Gatsby, we should add them to the site showcase!

* https://www.stitchfix.com/
* kit.snapchat.com
* housemanager.calstate.aaa.com/
* unionplus.capitalone.com/

[2018-08-18 00:25] agarrharr commented on #6844
Here is the error that I get:

[code]

And here is the output from running `gatsby info` on Netlify:

[code]

[2018-08-18 01:47] resir014 commented on #7398
@cpboyd It might be failing because it conflicted `@babel/preset-flow`, which is included in the built-in babel config. Will need to find a way to remove that during build time.

[2018-08-18 02:05] cpboyd commented on #7398
@resir014 In my initial test (on my lunch break, so I was in a hurry), I only made the change to `onCreateBabelConfig` and failed to notice your other modifications.

Upon retesting, I no longer have the build issue.
So your fix seems to be working for me now!  Thanks for your work! 👍

[2018-08-18 02:14] cpboyd commented on #7399
A workaround that I've been using has been to simply import something from the typography file somewhere that gets loaded (e.g. a `layout` wrapper), which seems to add the file to Gatsby's watch-list for changes.

[2018-08-18 02:14] azdanov commented on #7420
I'll give this a shot.

[2018-08-18 02:29] tsriram commented on #5038
I'll give `import link from gatsby` codemod a try this weekend

[2018-08-18 04:09] kartiklad commented on #7294
@shannonbux I think "Sourcing from a Headless CMS sounds better

[2018-08-18 06:25] deadcoder0904 commented on #7337
So I used React Lifecycle methods & did it as follows -

[code]

Whoops stupid me @KyleAMathews 😂

[2018-08-18 06:25] #7337 closed

[2018-08-18 06:42] Manoz commented on #7422
Nice one @shannonbux . Another way to recreate this is to scroll down in the sidebar and reload the page. The sidebar will jump back to the top.

Might be related with `/components/sidebar/scroll-sync-sidebar.js`. Looks like  the `offsetTop` isn't working. I'm doing some tests see if I can fix this.

[2018-08-18 07:09] Manoz commented on #7424
Might be related to #7429 if I understand the issue?

[2018-08-18 07:32] mattes3 opened #7435 "gatsby-link: small bug in type declarations for Typescript"
## Description

When compiling with Typescript 3.0.1, I get an error message concerning the typings for gatsby-link/index.d.ts.

### Steps to reproduce

`import Link from 'gatsby-link';`

### Expected result

This should compile just fine.

### Actual result

Typescript compiler complains:

`Generic type 'LinkProps<TState>' requires 1 type argument(s).`

This is because LinkProps in reach/router i

[2018-08-18 07:40] mattes3 opened #7436 "<Link rel="next" /> is not possible with Typescript"
## Description

When compiling blog-post.tsx with Typescript 3.0.1, I get an error message that the `<Link>` tag does not have a property called `ref`. This property is needed to generate links to the previous and next blog posts.

### Steps to reproduce

[code]
and

[code]

### Expected result

This should compile just fine.

### Actual result

Typescript error message:

[code]

### Environment

[2018-08-18 07:58] charlieharris1 opened #7437 "Force application running on Heroku to use https for all requests"
### Summary
I've got a Gatsby app deployed on Heroku and I'm unable to get all traffic to be redirected to https.

### Details
I've configured an SSL endpoint and I'd like all requests to use https. At the moment when I type ```example.com``` into my search bar, I get redirected to ```https://www.example.com/```, but when I type in ```www.example.com``` it doesn't get redirected to https, and I en

[2018-08-18 08:30] charlieharris1 commented on #7437
This isn't a Gatsby issue, I'm using the ```heroku-buildpack-static```, which means all I needed was a flag: https://github.com/heroku/heroku-buildpack-static#https-only

[2018-08-18 08:30] #7437 closed

[2018-08-18 10:09] enriquemorenotent opened #7438 "How can I use Bulma with Gatsby"
## Import CSS Framework like Bulma

I am using Gatsby v1

I am trying to learn how to import [Bulma](https://bulma.io) into an existing Gatsby project. I have done

[code]

but know I do not know how to make it so that it is included in the generated html.

[2018-08-18 10:38] sunfudge opened #7439 "Multiple layout pages with gatsby-starter-business"
What do I need to change in gatsby-node.js file, so that I can use multiple layout files?

What I want to achieve is to have one layout for the landing page and another for the rest.

I found some info [here ](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#choosing-the-page-layout )but if I couldn't work it out, so that this works with [this ](https://github.com/gatsbyjs/gatsby-starte

[2018-08-18 12:09] anantoghosh commented on #7438
@enriquemorenotent It's just a css file. import it in your script file
[code]
https://github.com/jgthms/bulma#import

If you use sass then you could also import the components individually https://bulma.io/documentation/overview/modular/

[2018-08-18 12:38] k3rn31p4nic opened #7440 "Requesting next.gatsbyjs.org/docs UI as a starter for docs"
## Summary

next.gatsbyjs.org/docs & next.gatsbyjs.org/tutorials have really nice UI. If we could have that as some starter for docs it'll help a lot of devs to create cool documentation sites easily.

### Motivation

Currently devs either make their documentation sites from scratch (which takes a lot of time that they can use doing what really matters) or use some SSGs/online services (tbh, which

[2018-08-18 12:54] enriquemorenotent commented on #7438
I tried that and it did not work. Might be because I am using v1

[2018-08-18 14:07] anantoghosh commented on #7438
It should work on v1 too. Where are you importing the file? You could import it in your layout component to make sure it is available on all your pages.

[2018-08-18 15:01] alexandernanberg commented on #7413
Oh that makes sense I guess, we might wanna reflect this in the docs also (if it’s not already included). Should I close this or do we want to keep this open?

[2018-08-18 15:09] iris-i opened #7441 "Markdown HTML does not display on page load"
Hello!
When a page with content that is pulled from a markdown file is loaded, the html does not get displayed on first page load. However if I navigate to a different page and then go back to the original page with the browser back button (or a direct url) the HTML gets displayed.
Also, if I disable Javascript the page content is visible.

This bug seems very similar to this issue: https://github

[2018-08-18 15:11] enriquemorenotent commented on #7438
If I import the file into my component, this is the output I get from the console:

https://pastebin.com/raw/q1yAyDPJ

[2018-08-18 15:59] #7269 closed

[2018-08-18 16:12] sparklesam opened #7442 "Gatsby-Node.js error when trying to create tags page"
My setup is a bit different from standard template, as I create slug from frontmatter. I got error saying ReferenceError: res is not defined on line 38. `_.each(result.data.allMarkdownRemark.edges, ({ node }) => {`

I'm still a newbie, would appreciate if there are any syntax error.

'
    return new Promise((resolve, reject) => {
        const pages = []
        const postTemplate = path.resolve(

[2018-08-18 16:17] Chuloo commented on #7435
update the typescript typings in gatsby-link.

[2018-08-18 16:32] robstarbuck commented on #7144
I fixed this by specifying a v2 starter ([as per the docs](https://next.gatsbyjs.org/docs/gatsby-starters/)) when using _**new**_:

`gatsby new my-default-project https://github.com/gatsbyjs/gatsby-starter-default#v2`

Using just `gatsby new [PROJECT_NAME]` resulted in the posted error.

[2018-08-18 16:33] Chuloo commented on #7414
Could you check your repo, couldn't reproduce the error. Threw a bunch of `Uncaught TypeError: Cannot read property 'childImageSharp' of null` in the browser. Also, would be good to resolve the merge conflict in `src/pages/index.js`.

[2018-08-18 16:35] Chuloo commented on #7442
Could you create a reproduction repo showing the error?

[2018-08-18 16:39] pfftdammitchris opened #7443 "gatsby-plugin-netlify-cms error transitioning to v2 (Cannot find module @babel/runtime/helpers/interopRequireDefault)"
## Description

This error happens immediately with gatsby-plugin-netlify-cms:

![image](https://user-images.githubusercontent.com/20717348/44301306-792e3e00-a2c9-11e8-9d39-e032ce2f58a2.png)

### Steps to reproduce

I migrated from gatsby v1 to v2 and installed the latest netlify-cms gatsby plugin: gatsby-plugin-netlify-cms@next

### Expected result

It should run

### Actual result

![image](http

[2018-08-18 16:44] Chuloo commented on #7441
Update to the latest beta of Gatsby, if this is an issue it could be fixed already. Also, does this happen during development or build in your local environment?

[2018-08-18 16:47] pfftdammitchris commented on #7443
I've tried npm install @babel/runtime but I had to remove it since it was giving a new error that some node_modules/@babel/runtime/helpers/objectWithoutLooseProperties.js file wasn't to be found even though it's clearly there.

Spent over an hour and a half trying to fix this problem and I came to the conclusion that I am no match for this devasting error. So is google

[2018-08-18 16:49] sparklesam commented on #7442
Turns out the reject value was not defined. Issue resolved. thanks a lot!

[2018-08-18 16:49] #7442 closed

[2018-08-18 16:59] Chuloo commented on #7399
Seems related to #6657.

[2018-08-18 17:03] Chuloo commented on #6657
Closing this out as a duplicate. #7399 seems to capture the larger issue of latest `gatsby-plugin-typography` requiring a server reload to implement changes.
Feel free to [open a new issue here](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you experience something different.

[2018-08-18 17:03] #6657 closed

[2018-08-18 17:03] rrs94 commented on #7430
Hi! I made a [PR](https://github.com/gatsbyjs/gatsby/pull/7445), looks like House Manager & Union Plus were already in the showcase so didn't add those.

[2018-08-18 17:31] Chuloo commented on #7216
Couldn't reproduce your error. Try including a `trackingId`, say
[code]
## System Info
[code]

[2018-08-18 17:37] azdanov commented on #7216
@Chuloo I can't reproduce also. Although before I could.

Probably a new beta version of Gatsby resolved this.

[2018-08-18 17:37] #7216 closed

[2018-08-18 17:38] anantoghosh commented on #7438
These errors don't look like they are directly related to bulma.css. Could you provide a repo?

[2018-08-18 17:43] azdanov commented on #7443
Could you share a link to the repository?

All I can think of it that `/static/admin/config.yml`, `modulePath: ${__dirname}/src/cms/cms.js` or `node_modules` itself have some issues.

[2018-08-18 18:02] iris-i commented on #7441
Thanks for the quick reply!
I updated to the latest release but the bug is till happening: http://home-182.ci.civicactions.net/approach/
This happens only during build in the local environment. The development site works as expected.

Updated `gatsby info --clipboard`:
[code]

[2018-08-18 18:29] KyleAMathews commented on #7441
Could you build a small reproduction we could look at?

On Sat, Aug 18, 2018, 2:02 PM Iris Ibekwe <notifications@github.com> wrote:

[2018-08-18 19:05] Mesgin commented on #7405
I'm also getting this, it only works if I downgrade `gatsby-source-drupal` to 2.0.41.

[2018-08-18 19:32] Manoz opened #7447 "[doc] Improve the doc about how to handle global styles"
As discussed [here](https://github.com/gatsbyjs/gatsby/issues/7413#issuecomment-413944617) we should improve the documentation about how to handle global styles and css-in-js in gatsby-browser.js .

As Kyle said: _gatsby-browser.js isn't included when server rendering which means styles there aren't extracted and inlined in the generated html files_ so we should be more clear about this.

Thanks f

[2018-08-18 19:33] Manoz commented on #7413
@alexandernanberg I created a new issue (#7447) to improve the documentation. Thank you :)

[2018-08-18 19:33] #7413 closed

[2018-08-18 19:49] jarreds commented on #7064
Definitely interested in this. With more modules moving to ES6 and the need to support older browsers (Google bot 👀), this would be wonderful. Currently using old ES5 versions of the problematic modules. Not great.

Even if it's not the default, an easy way to flag compilation of `node_modules` would be great.

[2018-08-18 19:53] iris-i commented on #7441
I built a demo site but I have been unable to reproduce it. I am still working on adding the plugins I've used one at a time to see if any of them triggers the bug.
In the meantime, I noticed that URL's without a trailing slash display the HTML. That may be why the content is visible when I use the navigation menu links or I use the "Back" browser button since the URL's I get in those cases do not

[2018-08-18 19:58] iris-i commented on #4836
I upgraded to the latest release `( gatsby-plugin-remove-trailing-slashes: ^2.0.0-beta.3 => 2.0.0-beta.3)`  but I still get the trailing slashes.
This is happening on a recent test install of gatsby v2 which I am using to troubleshoot a different issue.

Demo: https://iris-i.github.io/gatsby-html-bug/blog/my-second-post

gatsby-config.js:
[code]

[2018-08-18 21:44] aesthytik commented on #7438
Just directly adding the stylesheet link of the bulma css in html.js works fine though!
[<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">](url)

[2018-08-18 21:46] aesthytik commented on #7438
directly adding the sylesheet link in html.js works perfectly!!

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

[2018-08-18 22:05] aesthytik commented on #7403
I ran into same kind of problem when passing location prop to a component.
Used destructuring to solve the issue, you can try the same:

render() {
    const { location } = this.props;

    return (
      <Layout location={location}>
        <Seo
          title="Learn Realm"
          description="Welcome to Learn Realm"
          url={`${config.siteUrl}`}
        />

[2018-08-19 00:31] iris-i commented on #7441
Turns out this is a React bug: https://github.com/facebook/react/issues/5479
`<p>` tags don't work reliably with `dangerouslySetInnerHTML`.
I changed all ```<p  dangerouslySetInnerHTML = {{ __html: html }} />``` to ```<div dangerouslySetInnerHTML = {{ __html: html }} />```

Thanks for looking into this!

[2018-08-19 00:31] #7441 closed

[2018-08-19 03:12] #7443 closed

[2018-08-19 06:34] deadcoder0904 commented on #7383
Hey @davidbailey00 thanks for this. It seems a lot of work & for now I'm concentrating on some other stuff so I'll wait till your PR gets merged. Its not that important to me right now. I'll close this one once it all gets resolved :)

Sorry to make you write this stuff ❤️

[2018-08-19 06:56] alexkirsz opened #7450 "Gatsby's Link overrides scrolling behavior with anchors"
## Description

When clicking on an anchor `<Link />`, Gatsby will take it upon itself to scroll to the corresponding element if it exists, or to the top of the page if it doesn't. See https://github.com/gatsbyjs/gatsby/blob/483749d5f9bee5f0bf6f0ba42213bd0ff0adb203/packages/gatsby-link/src/index.js#L141-L152

This is inconsistent with react-router's `<Link />` component which simply pushes a new h

[2018-08-19 10:01] kripod opened #7451 "Try resolving JSX filename by default when using gatsby-plugin-layout"
## Summary

Currently, only `src/layouts/index.js` is being resolved by default when using gatsby-plugin-layout.

### Motivation

In v1, `src/layouts/index.jsx` was also resolved automatically by default, but gatsby-plugin-layout only checks for the `.js` extension.

[2018-08-19 10:07] kripod commented on #7422
I think this issue could be solved by using the recently released [gatsby-plugin-layout](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout).

[2018-08-19 11:13] anantoghosh commented on #7438
yes, preferably a minimal repository which demonstrates the issue.

[2018-08-19 11:16] azdanov commented on #7438
Do you have `gatsby-plugin-sass` installed? It looks like included files are in `sass`.

[2018-08-19 13:46] enriquemorenotent opened #7452 ""gatsby build" fails because of bootstrap"
[code]

[code]

[2018-08-19 13:50] enriquemorenotent commented on #7438
Here it is.

https://github.com/enriquemorenotent/gatsby-bulma-test

A fresh new Gatby project with the dependency Bulma installed ans used

[2018-08-19 14:36] stefanivic commented on #7422
I also noticed if you click on `Expand All` and then reload, sometimes the Quick Start section will jump to the right.

https://i.imgur.com/YOA0AFE.png

[2018-08-19 16:34] robinpyon opened #7454 "[v2] Navigating to previously visited pages with <Link> retains scroll position"
## Description

Clicking on a `<Link>` in v2 (111) appears to scroll you to a previous scroll position (if it exists) rather than scroll you to the top.

### Steps to reproduce

I've been able to recreate this in `gatsby-starter-default`:
https://gatsby-v2-beta-111-scroll.netlify.com/

(The only change is artificial padding added to the first page above the `/page-2` `<Link>`)

- Visit https://gat

[2018-08-19 16:59] ruslan-mystore commented on #4475
Same problem here.

[2018-08-19 18:51] zheeeng opened #7455 "[gatsby-link] can't set activeClassName as its props"
## Description

Describe the issue that you're seeing.

[gatsby-link] can't set activeClassName as its props

console report:
[code]

### Steps to reproduce

snippets:
[code]

Clear steps describing how to reproduce the issue.

### Expected result

What should happen?

link with 'active' class when is activated.

### Actual result

What happened.

No 'active' class on active link

### Environment

[2018-08-19 19:12] wimleers commented on #7075
@nicklewisatx

@tmccombs's guess is correct:

This was simply a wrong assumption in this API client; the #7318 PR fixed it! 🎉

[2018-08-19 19:17] melissamcewen commented on #7295
I just created a clean new version 2 site and I'm getting this error
`gatsby new hello-world https://github.com/gatsby
js/gatsby-starter-hello-world#v2`

[2018-08-19 19:30] anantoghosh commented on #7438
@enriquemorenotent Ok, thanks. It looks like bulma uses css variables which in gatsby v1 are transformed using postcss cssnext, which throw these warnings. The issue is documented here: https://github.com/jgthms/bulma/issues/1190

If possible, use gatsby v2 which does not use cssnext.
You could also try adding the css link file directly in html.js as @aesthytik has said.
Or you could remove postcs

[2018-08-19 19:32] gzzo opened #7456 "createPages is called on an infinite loop after edit when developing"
## Description

createPages is called on an infinite loop after edit when developing

### Steps to reproduce

[code]

### Expected result

Gatsby reloads the data, once

### Actual result

createPages is called infinitely

### Environment
[code]
### File contents (if changed)

`gatsby-config.js`: https://github.com/gzzo/guido.nyc/blob/without-page-creator/gatsby-config.js
`package.json`: https://g

[2018-08-19 19:32] melissamcewen opened #7457 "[v2] hello-world starter gives gatsby-link errors"
Was testing out the new v2 starters and ran
`gatsby new hello-world https://github.com/gatsby
js/gatsby-starter-hello-world#v2`

The command is in https://next.gatsbyjs.org/docs/gatsby-starters/

When I run `gatsby develop` I get:

[code]

I tried deleting `.cache` and still got the error. The other v2 starter I tried `gatsby-starter-default` works fine.

[2018-08-19 19:56] ldelbeccaro commented on #6949
Same for me on Gatsby 1.9.277. No broken links with `contentful-link-cleaner`.

Neither `gatsby develop` nor `gatsby build` works on my machine (mac OSX), but `gatsby build` is fine when it builds on Netlify (Linux).

[2018-08-19 20:07] enriquemorenotent commented on #7438
How am I supposed to install v2? In the documentation does not say how to activate v2 and disable v1

[2018-08-19 20:09] enriquemorenotent commented on #7452
https://bitbucket.org/enmotent/cosmetic-salon-huebner/

[2018-08-19 20:15] anantoghosh commented on #7438
v2 doc are here: https://next.gatsbyjs.org/docs/
If you want to migrate an existing project to v2 then read https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/

[2018-08-19 21:42] durwasa-chakraborty commented on #7447
If this issue is still open I would like to contribute and get familiarized with the code base, not only because of the goodies but because I am almost fed up with Octopress. 😄

Here is my understanding -
We try to avoid the use of globals (like `.button {...}`) by in-lining the style components. Since, styles are not extracted in server renderings we need to explicitly include the style component

[2018-08-19 22:44] KyleAMathews commented on #5211
Sweet! My thinking is we'd just run it manually now and then. Nice work! Will try to land the PR soon or if @jlengstorf/@m-allanson/@calcsam/@pieh wants to take it over, feel free.

[2018-08-19 23:40] luke-dare commented on #6962
Hi there

First of all, I have to say I love GatsbyJS .. and using this with Drupal is really exciting!!

Having said that, I've found myself in a similar situation to @soniCaH.

Some of my entity references are carrying across well.

- I currently have two content types in Drupal.
- Each content types (blog and landing_page)
- Each content type references one or more paragraph entity bundle types

[2018-08-20 00:31] luke-dare commented on #6962
Was a case of RTFM :/

In this case I needed to use GraphQL fragements (https://graphql.org/learn/queries/#fragments)

[2018-08-20 00:59] avocadoras commented on #6637
@pawelsas yes, that was the issue .....my bad @m-allanson thanks for your patience

[2018-08-20 01:04] AlgirdasVZ opened #7458 "A page is re-renderer and delayed on navigation on slow network"
## Description
Hey there! Love GatsbyJs and everything about it, although i noticed a strange router behaviour while using a website on slow network. After clicking a link to another page in the same website, the current page is re-rendered (so any state stored on that page and page start animations reset as well), before everything switching to a new page. Reproducible only in production. If imit

[2018-08-20 02:17] azdanov commented on #7452
Okay, I've had a look.

The problem is with `/src/layouts/index.css`.

Inside on the first line `@import "bootstrap";` can't be resolved, and it throws an error.
When I change this line to `@import "~bulma";` or remove this line, I can compile.

So either `bootstrap` needs to be installed, or `bulma` can be used since it's already in the dependencies.

[2018-08-20 02:17] #7452 closed

[2018-08-20 02:34] azdanov commented on #7457
Couldn't reproduce.

According to the error message, the issue is with missing packages. So probably `npm/yarn` didn't run correctly. Or `gatsby-cli` is outdated.

Removing `node_modules` with `lock` file and reinstalling the dependencies usually helps me in similar situations

Also, it's strange that `react-router-dom` is missing, since it's no longer used in `v2`.

[2018-08-20 02:36] kylecesmat commented on #7457
@melissamcewen what versions of npm/gatsby are you using? I just ran the following and it successfully installed the project:

Trying to repro:
- `npm install --global gatsby-cli@next`
- `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world#v2`
- `gatsby develop`

This starts the development server as I would expect it.

My local setup:
[code]

[2018-08-20 02:50] kylecesmat commented on #7455
@zheeeng where are you importing `Link` from? I'd assume `import Link from 'gastby-link'`?

It may be worth digging into your `node_modules` and seeing what the result of `El` is at this line:
https://github.com/gatsbyjs/gatsby/blob/v1/packages/gatsby-link/src/index.js#L110

Assuming it is properly setting `El` to `NavLink` and passing the props accordingly, this issue would be caused by something

[2018-08-20 03:33] #7403 closed

[2018-08-20 03:48] nikosolihin commented on #7439
If you want to gear up for v2, you might want to move layouts under src/components and just use the standard React composition model to render different layouts. Gatsby no longer maintains, or needs to maintain, separate behavior for handling layouts.

If you want to render different templates during the createPages API, query your data source then  conditionally assign different template paths to

[2018-08-20 05:31] humphreybc opened #7460 "[v2] WebpackError: Debug Failure. False expression."
## Description

I am upgrading our site to v2 and hitting the following error when running `gatsby build`:

[code]

### Expected result

Build should succeed.

### Actual result

Build fails on `Building static HTML for pages` step.

### Environment

[code]

### File contents (if changed)

`gatsby-config.js`:

[code]

`package.json`:

[code]

`gatsby-node.js`:

[code]

`gatsby-browser.js`: N/A
`ga

[2018-08-20 05:44] Manoz commented on #7454
Could be related to #7450 ?
I noticed the same behavior. I though it was a feature since it’s not totally stupid.
If I read a very long blog post and click on a link it’s nice to go back where I was without scrolling the whole page, even if it’s a weird behavior.

[2018-08-20 05:47] Manoz commented on #7438
@enriquemorenotent Haven't we already talked about this issue on Discord?  My solution didn't help you after all?

[2018-08-20 06:57] k3rn31p4nic commented on #7457
Couldn't reproduce either. Try removing the `node_modules` directory and the `package-lock.json` file.
And then reinstall using `npm install` or `yarn install` and see if you still get the error.

If you do, then it'd be helpful if you can show us the version of `gatsby`, `node` & `npm`.

[2018-08-20 07:17] philiplackmaker commented on #7414
@Chuloo Thanks for having a look at it. I guess you cloned master? As that was a bit of mess but it should be good with no conflicts.

[2018-08-20 07:28] WinterSoilder opened #7461 "pulling contional data from csv file"
Hi,
My question is how to pull specific data from a csv file using gatsbyjs and graphql.
By specific i mean to say suppose i happen to have a data of a single car but there are variation to the car as
Make : Hyndai
Model : I20
Variants : Elite i20 Diesel Magna, Elite i20 Petrol Asta
Suppose the variant changes by clicking a dropdown or button how can i pull out specific price and features of that

[2018-08-20 07:38] XHMM opened #7462 "typescript not work with beta.111 version"
## Description
When I upgraded from **gatsby-beta.104** to **gatsby-beta.111**(currently the latest) , **gatsby-plugin-typescript** seems not worked .

### Steps to reproduce
it's beta.104
![image](https://user-images.githubusercontent.com/24786522/44326355-07532180-a48e-11e8-8626-8422f0ca6370.png)

it's beta.111 (just the version changed)
![image](https://user-images.githubusercontent.com/2478652

[2018-08-20 07:54] humphreybc opened #7463 "[v2] fileAbsolutePath starts from the file system root instead of project root"
## Description

We have some code that creates a hierarchy based on the folder / file structure of Markdown files. We use this to create [an index page](http://dovetailapp.com/help) of all help articles and then show the breadcrumbs when you visit an article based on frontmatter in the parent folder’s index.md file.

Previously, in Gatsby v1, `allMarkdownRemark.edges[n].node.fileAbsolutePath` woul

[2018-08-20 08:03] humphreybc commented on #7460
I upgraded to TypeScript 3.0.0 as recommended by [this issue](https://github.com/Microsoft/TypeScript/issues/25935) and now my build succeeds. I'm not really sure why I only ran into this issue with Gatsby v2 and not v1. Who knows…

[2018-08-20 08:03] #7460 closed

[2018-08-20 08:06] garethgd commented on #4461
Just on a sidenote from the the ACF docs.

"Renamed from acf/format_value_for_api in v5.0.0"

So in my functions.php I changed the filter to:

`add_filter('acf/format_value_for_api/type=image', 'nullify_empty', 100, 3);`

[2018-08-20 08:26] humphreybc opened #7464 "[v2] How to use replaceRenderer to set {headComponents} in V2?"
## Summary

We use [typestyle](https://github.com/typestyle/typestyle) to write type-safe CSS in React. We’ve been using Gatsby SSR API `replaceRenderer` function in combination with `html.js` to inject CSS into the <head> of the DOM.

In Gatsby v2 the `html.js` file seems to be gone. My question is – what is the recommended way to use `replaceRenderer` and `{headComponents}` so we can inject the

[2018-08-20 08:29] crgeary opened #7465 "[gatsby-source-wordpress] Idea/Discussion - Gutenberg blocks to transform page content"
## Summary

WordPress in the near future is expected to have a new editor called [Gutenberg](https://wordpress.org/gutenberg/). It's a block based editor, to replace the standard WYSIWYG editor. This editor is for page content, but may in the future extend to the header, footer & sidebars.

These blocks can converted to JSON, and then added into the WP API. This is currently not supported natively

[2018-08-20 08:50] h3d0 commented on #3197
Getting the same problem again:

![image](https://user-images.githubusercontent.com/7346327/44330197-11b1f300-a46f-11e8-9a50-933b315a95f4.png)

"gatsby": "^2.0.0-beta.111",
"gatsby-plugin-typescript": "^2.0.0-beta.9",

[2018-08-20 08:59] rishichawda commented on #7376
Did anyone find a fix for this? I'm using styled-system and rebass components in my project and have a similar issue. On direct visit of a page the styles aren't loaded properly but through any internal link in the web app, it loads perfectly.

I'm not sure if it's an issue with Gatsby@2 but in Gatsby@1 it was working correctly! Any suggestions?
Thanks in advance!

[2018-08-20 09:28] baukevanderlaan opened #7466 "[gatsby-plugin-layout] Duplicate content"
## Description

When using the `gatsby-plugin-layout` and trying to follow the instructions from https://www.gatsbyjs.org/packages/gatsby-plugin-layout/ as close as possible, I get duplicate content. I feel like I'm missing something, but maybe it's a bug?

### Steps to reproduce

I made a [repo](https://github.com/baukevanderlaan/gatsby-layout-duplicate) based on the default starter in which I in

[2018-08-20 09:33] rishichawda commented on #5100
@deadcoder0904 did you solve the issue? I'm facing the same problem. On first load it doesn't load all the styles but on visiting some other page via some internal links on the page it applies all the styling. I'm using [styled-system](https://github.com/jxnblk/styled-system) and [rebass](https://github.com/jxnblk/rebass) for styling so i don't have any external sass files.

Note: Everything was w

[2018-08-20 09:37] mattes3 commented on #7379
Today, I had the same effect. The reason was: I accessed a field in the frontmatter that I did not mention in the GraphQL query. After I added it to the query, everything worked fine without the "non-page component" message.

To debug this, I invoked gatsby using this statement:

[code]

[2018-08-20 09:37] davidbailey00 commented on #7376
@rishichawda As mentioned in my last comment I think this might be fixed in my PR #7355 - please could you clone [my repo](https://github.com/davidbailey00/gatsby/tree/fix-offline-issues) (checkout the `fix-offline-issues` branch) use [gatsby-dev-cli](https://www.npmjs.com/package/gatsby-dev-cli) with your project, and let me know if this fixes the problem? Or if your code is public, I'll be happy

[2018-08-20 09:47] #7186 closed

[2018-08-20 09:47] deadcoder0904 commented on #5100
@rishichawda I don't remember what I did to solve it but I think everything must use `@next` if you're using v2. So I must've used `emotion@next` & rest all plugins might have been converted to use `@next` versions.

That might be the solution. Everything is working fine now for me :)

[2018-08-20 09:48] rtm619 commented on #7270
Hi all,
Any updates on the issue?

[2018-08-20 10:07] rishichawda commented on #5100
@deadcoder0904 I had updated all the plugins to use `@next` while migrating to v2 from v1 ( except for a few plugins which failed to recognize ( or find ) the `@next` version for the specific libraries. Rest all are using `@next`.

[2018-08-20 10:29] rishichawda commented on #7376
@davidbailey00 Is this issue going to be solved in future update of Gatsby@2 by any chance?

And I'm sorry but it's a private repo of our organisation.

[2018-08-20 10:36] ankushranka commented on #7376
Had the same issue and i can reproduce it every time. Happens on locally serving the build. Interestingly, i deployed it remotely and don't see it happening.

[2018-08-20 10:37] rishichawda commented on #7376
@ankushranka Exactly the opposite with me. On development server it works fine but on deploying it to remote it breaks!

[2018-08-20 10:38] deadcoder0904 commented on #5100
I checked those 3 you mentioned & it looks good so I think you are definitely missing something. Can't help it unless there is something specific.

I remember now that my error was I wasn't using v2 of emotion gatsby plugin & I think I had to clear Netlify cache since I was using https://github.com/axe312ger/gatsby-plugin-netlify-cache which uses previous cache to speed up deployment. So those 2 w

[2018-08-20 10:43] ankushranka commented on #7376
Works for me on 'gatsby develop' and on hosting it remotely. Doesn't work on serving a build locally using 'gatsby build; serve -s public'

Very strange behaviour though. I doubted my usage of styled-components and semantic-ui-react together. That didn't turn out to be the issue.

[2018-08-20 11:00] fk commented on #3264
👍

[2018-08-20 11:04] enriquemorenotent commented on #7438
While this solution works, I am not gonna start using the beta. I will await until the release is official.

In any case, the solution of my problem is going to be to not use v1. Thanks for your help.

[2018-08-20 11:04] #7438 closed

[2018-08-20 11:05] enriquemorenotent commented on #7452
@azdanov But Bootstrap is already installed. It is set as a dependency in `package.json`

[2018-08-20 11:06] LeKoArts commented on #7464
You can still use the html.js. Have a look in the .cache folder and copy it over.

[2018-08-20 11:12] azdanov commented on #7452
@enriquemorenotent Oh, didn't notice. Thanks for pointing out.

Then you need to use `@import "~bootstrap";`. `~` is used to reference something that's inside `node_modules`.

[2018-08-20 11:16] enriquemorenotent commented on #7452
In that case I get a different error https://pastebin.com/raw/LD8C5np3

I have updated the repo, if you want to reproduce it

[2018-08-20 11:26] davidbailey00 commented on #7376
@rishichawda It's likely to be fixed eventually, but only if the issue can be reproduced; also, I might not be the best person to ask since I'm only a contributor. I understand it might be a private repo, but in that case you'll need to make a new repo which at least demonstrates the problem.

[2018-08-20 11:40] enriquemorenotent commented on #7452
I agree with that last statement, and that is why I have decided to stop all my Gatsby projects, until v2 comes out.

Thanks for the help!

[2018-08-20 11:48] rishichawda commented on #5100
No problem! Thanks for sharing. I'm waiting for the issue to be fixed ( hopefully ) in future updates of gatsbyv2.

[2018-08-20 11:53] rishichawda commented on #7376
Any update on the #7355 PR you raised which solves this issue or when it will be merged?

[2018-08-20 11:55] anantoghosh commented on #7456
Gatsby already includes and uses `gatsby-plugin-page-creator` for `src/pages`.
I believe specifying it again in your `gatsby-config.js` is causing issues.
If you only want to create pages from the  `pages` directory then you don't need to install it explicitly.

and on the side note, if you do use it for different directories, install the v2 version with @next tag.

[2018-08-20 12:01] humphreybc commented on #7464
@LeKoArts Could you please give me some more information? There's a lot of stuff in the .cache folder and I'm not exactly sure what I'm looking for.

I did have a look at [the html.js for Gatsby's website](https://github.com/gatsbyjs/gatsby/blob/master/www/src/html.js) and updated my `html.tsx` file to more closely match theirs, so now it looks like this:

[code]

However I still have the same pro

[2018-08-20 12:06] davidbailey00 commented on #7376
@rishichawda I believe @KyleAMathews is going to test it out some time this week, so it'll probably be published to yarn/npm within the next few weeks. Until I test your demonstration repo I'm not 100% sure this will fix your issues - I only learned React and Gatsby last week 😄

[2018-08-20 12:42] fk commented on #7423
Yeah there's def. something funky going on with the styles (that I didn't notice before … :/).
Will take a closer look ~Wednesday-ish.

This was also reported in https://github.com/gatsbyjs/gatsby/issues/7422#issuecomment-414131922, here's a screenshot courtesy of @stefanivic 🙏:

<img src="https://i.imgur.com/YOA0AFE.png" />

That screenshot also shows what I've been noticing -- "Guides" shouldn't

[2018-08-20 12:48] fjaskolski commented on #7261
Ok, got this working in a rather brutal way. For those who want a quick (no forking required), but **very dirty** fix:

<details>
  <summary>Click to see dirty fix 🙈 </summary>

[code]

</details>

**Explanation**: there is no listener for the `popstate` event thus the Gatsby site has no clue the route has changed. We can patch this using the exposed `__navigate` method with [replace: true](https:

[2018-08-20 12:53] fk commented on #7422
@kkemple and I paired a bit to work on this issue in https://github.com/gatsbyjs/gatsby/tree/topics/sticky-sidebar-docs -- the approach is to "save" the scrollbar position for a given route and restore it when coming back to that location.

Pinging @kkemple @m-allanson @pieh -- what are your thoughts on using `gatsby-plugin-layout`   here like @kripod suggested? #n00b💯😁

[2018-08-20 12:54] fk commented on #6896
👍

[2018-08-20 12:58] fk commented on #7428
Thanks for adding this @shannonbux! 🙏

[2018-08-20 12:59] fk commented on #7425
Thanks for adding this @shannonbux! 🙏

[2018-08-20 13:32] kartiklad commented on #7428
Hey @shannonbux, I think I've found the bug which causes this issue in the side bar. It's basically to do with a condition in getActiveItem. I also noticed that if the URL has a hash in it and you refresh the page, the Sidebar selection doesn't work.

I've raised a PR which fixes both issues. #7467

[2018-08-20 13:45] gzzo commented on #7456
@anantoghosh I removed `gatsby-plugin-page-creator` entirely and the error still occurs.  I also tried moving the markdown pages I was sourcing with remark from `src/pages` to a new directory and that didn't help either.  The repro steps are the same.

[2018-08-20 13:56] Chuloo commented on #7457
Seems related to #6834.

[2018-08-20 13:56] anantoghosh commented on #7456
I cannot reproduce the issue after removing gatsby-plugin-page-creator. Could your update your repo with the changes you made?

[2018-08-20 14:41] fk commented on #7428
Hey @kartiklad! 👋
Nice!!! Will take a look at your PR in a minute!

[2018-08-20 14:56] fk commented on #7425
Hey @arzafran! 👋
Thank you for your PR, looking good! 🤗

Coincidentially I also took a look at this over the weekend. I didn't even consider using `font-weight: bold` because I thought that it would cause the sibling nav items to "jump", but your PR looks nice -- much less of an issue than I thought!

FWIW I added some [mockups](https://www.figma.com/file/G3x7aYuyigYaibEpyxMsKLcP/gatsbyjs.org%3Ash

[2018-08-20 15:26] grallc commented on #7463
Hello,

I think an absolute paths starts to the system's root, so the real problem were on version 1.0.
Please tell me if i'm wrong.

[2018-08-20 15:41] anantoghosh commented on #7456
hmm, seems like I misdiagnosed the issue. I don't know why it started behaving correctly before.

[2018-08-20 15:53] fk opened #7468 "[www] directly opening /docs/ or /tutorial/ doesn't expand the section containing the currently active menu item"
* open https://next.gatsbyjs.org/docs/ in an icognito browser window
* the "Quick Start" accordion should be expanded, but it isn't:
![image](https://user-images.githubusercontent.com/21834/44351286-d846ab00-a4a1-11e8-9a82-08c517ae4b7d.png) should look like
![image](https://user-images.githubusercontent.com/21834/44351324-edbbd500-a4a1-11e8-8512-08472f3c3a76.png)
* also accordion title styling is

[2018-08-20 15:58] #7428 closed

[2018-08-20 16:04] fk commented on #7428
Thank you @kartiklad! 🤗

[2018-08-20 16:56] shobhitchittora commented on #7421
@KyleAMathews @davidbailey00 On it! 👍

[2018-08-20 16:59] fk opened #7471 "[www] Remove duplicate links on docs sidebar"
Opening https://next.gatsbyjs.org/docs/adding-search/ currently results in two sidebar items being shown in their "active" state.

![image](https://user-images.githubusercontent.com/21834/44354466-32e40500-a4aa-11e8-8f0c-48bc5bff141c.png)

This happens because both of these items point to the same URL (`/docs/adding-search/`) -- we currently look at the URL/`location.pathname` and compare that to

[2018-08-20 17:00] fk commented on #7427
No objections! 👍

[2018-08-20 17:02] alexkirsz opened #7472 "StaticQuery doesn't support graphql arguments"
## Description

It appears that StaticQuery doesn't recognize the `graphql(`query...`, { ...args })` form when passed in as its `query` prop.

In my case, this form is useful because I need to execute multiple static queries of the same form with slightly different arguments at compile-time, and inlining them into my query would be extremely repetitive. These arguments do not change at runtime.

#

[2018-08-20 17:05] davidbailey00 commented on #7421
@shobhitchittora Awesome, thanks! Also since I made the last comment, all tests are now passing in the PR but various ones will fail with the current latest version of Gatsby.

[2018-08-20 17:27] davidbailey00 commented on #7376
@rishichawda Are you sure your problem isn't caused by your own code? I just encountered the problem as you described (it works in development but not production) but then realised I had forgotten to import the styles from every page, and had only done so from the index page. Can you just check if that's the problem?

[2018-08-20 17:40] colbyhub commented on #7454
I'd rather it default to the top of the page rather than the previous scroll position, it would create a more predictable experience.
Could the `<Link>` component default to not scrolling to the previous scroll position, but still have it as an option via a `prop`?

[2018-08-20 17:42] jlengstorf commented on #7294
Looks great, @kartiklad — merged! Thanks so much for your help! 💪💜

[2018-08-20 17:42] #7294 closed

[2018-08-20 17:50] #7451 closed

[2018-08-20 17:52] shannonbux opened #7473 "[v2] manual changelog"

[2018-08-20 18:07] shannonbux opened #7474 "[www] Quick start category takes two clicks before expanding"
Jason pointed out this buggy behavior.

### Steps
1. Click on Guides to expand it
2. Refresh the page
3. Click on Quick Start

### Expected behavior
1. Quick start expands

### Actual behavior
1. Quick start is bolded. Upon first click, it becomes unbolded.
2. On second click, it expands.

[2018-08-20 18:12] shannonbux opened #7475 "[www] header hidden behind top nav when clicking on links in ToC"
### Steps to reproduce behavior
1. Go to this doc: https://next.gatsbyjs.org/docs/deploy-gatsby/
2. Click on any of the ToC links, like "Heroku"

### Expected behavior
1. Page jumps to show Heroku at top of page

### Actual behavior
1. Page jumps and the header "Heroku" is hidden behind the top nav bar

[2018-08-20 18:15] pieh commented on #6127
Migration guide is updated to mention `gatsby-plugin-layout` for usecases that require layout component to stay mounted between page changes - https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#remove-or-refactor-layout-components, so I'll close this issue for now.

Next item on to-do list is to put this information somewhere else in documentation, so people can discover if they are not migra

[2018-08-20 18:15] #6127 closed

[2018-08-20 18:26] chuntley commented on #7373
By the time my build process gets to this step, memory usage is around 2gb. Is there a chance that node performance decreases once you go past the original 1.5gb limit?

[2018-08-20 18:31] shannonbux opened #7476 "[www] line that is dotted at either end sometimes appears within guides categories"
I'm having a hard time recreating this, but sometimes when I open a guides category in the docs, there is a solid purple vertical line that is dotted at the top and bottom that appears alongside the children items of the docs

<img width="294" alt="screen shot 2018-08-20 at 11 34 39 am" src="https://user-images.githubusercontent.com/32467162/44359559-14abe400-a46d-11e8-91fb-e20d05ef45e2.png">

[2018-08-20 18:48] fk commented on #7474
Yep, looking at this and #7468 (which I believe capture the same bug) just now!

I noticed that if I log `location.pathname`, while in develop I get e.g. `/docs/starters/`, but when running `gatsby.build` I get `//docs/starters/` -- note the second forward slash at the beginning. Removing that slash fixes both issues (as the "active state" logic depends on matching `location.pathname` to the `href

[2018-08-20 18:56] DylanVann commented on #7454
Could be related: https://github.com/gatsbyjs/gatsby/issues/5656

The logic discussed for determining if something is a pop could be the issue. We want to restore scroll on pop (back button pushed), not if you're just going to a link you've been to before.

[2018-08-20 19:08] lesliecdubs opened #7479 "[gatsby-source-wordpress] [gatsby-plugin-sharp] Race condition where Gatsby tries to query image before image has finished processing"
## Description

It seems that there may be a race condition where Gatsby tries to query images coming in from WordPress before the images have finished processing (using `gatsby-plugin-sharp` and `gatsby-image`). Have confirmed that the image(s) in question exist in the Wordpress admin.

The build succeeds, but then we get the in-browser error: `Uncaught TypeError: Cannot read property 'childImage

[2018-08-20 19:19] Orozco1993 commented on #7473
Is this still open? Would love to contribute!

[2018-08-20 19:19] jlengstorf commented on #5753
I'm closing this for now, because we don't really have a clear goal for how to write this out. It kind of seems like it could support a few narratives, e.g. "how to do page transitions" or "how to prevent component rerenders", but for now the scope of this issue is complete.

[2018-08-20 19:19] #5753 closed

[2018-08-20 19:32] Orozco1993 commented on #7466
Verify the issue, here's a photo of the issue.

<img width="723" alt="screen shot 2018-08-20 at 2 30 37 pm" src="https://user-images.githubusercontent.com/24233012/44362169-cc4cf000-a485-11e8-9dad-9c7c54b05a01.png">

[2018-08-20 19:39] #7398 closed

[2018-08-20 19:49] ivorpad commented on #7380
@Chuloo

To reproduce the issue just download the current Gatsbygram example and run `yarn install` > `gatsby develop`, open a Gatsbygram post and you'll see the background page doesn't show up.

Here's a graphical representation of the bug:

![bug](https://user-images.githubusercontent.com/52452/44362883-6ade4e80-a490-11e8-9f74-e5b7f5044582.gif)

[2018-08-20 19:50] arzafran commented on #7425
Nice Mockups!
I just took the easiest approach but you're right it makes the page 'jump' a little. but since paddings were a little off making any background decoration look misaligned I went with it and just used the font-weight to know if my idea was in the right direction.

[2018-08-20 20:01] fk commented on #7425
Thank you! And: Nothing wrong with the easiest approach -- super happy you're working on this!

Oh yeah, I saw that, too. 😁
Feel free to change that if you want to take another look!

[2018-08-20 20:09] KyleAMathews commented on #7466
Are you importing the layout component into your pages by chance?

[2018-08-20 20:16] #5853 closed

[2018-08-20 20:20] jlengstorf opened #7482 "[blog] Add Gatsby version to frontmatter to identify potentially out-of-date posts"
In order to avoid confusion, we should create a way to signify that blog posts about older versions of Gatsby may be out of date. Ideally, there will also be an option to link to the updated post.

So maybe something like this:

[code]

Version should be the earliest version of Gatsby that supports the features in the post. (This will matter far more in the future when we start doing a better job

[2018-08-20 20:49] kkemple opened #7484 "[docs][guides] Docs page for REPL"
A new `repl` command was added to Gatsby CLI but it is currently undocumented.

[2018-08-20 21:56] calcsam commented on #7473
We have a list of ~40 key PRs merging changes into v2. We've added a broad description field; we probably want a specific difference field so that we can create a changelog. In addition, we've grouped these into buckets for blog posts.

Here's the spreadsheet with changes. Please feel free to add additional details!

https://docs.google.com/spreadsheets/d/1bdopy-ctlf_wbAUB67xpMk9gy9XqwidndvA6kVhLl

[2018-08-20 21:58] KyleAMathews commented on #7373
@chuntley it can. Best thing to do is do a performance analysis as I mentioned earlier as you can then see which functions are using the most time.

[2018-08-20 22:00] KyleAMathews commented on #7472
This would be a great feature to add!

If you're interested in adding support for this, checkout the code at https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/query-runner/file-parser.js

[2018-08-20 22:07] KyleAMathews commented on #7464
You'll want to write a plugin similar to gatsby-plugin-emotion https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-emotion/src/gatsby-ssr.js

[2018-08-20 22:07] #7464 closed

[2018-08-20 22:08] shannonbux opened #7486 "categories not perfectly alphabetical (eCommerce at bottom of list)"

[2018-08-20 22:09] shannonbux opened #7487 "put.io's screenshot not rendering properly"

[2018-08-20 22:09] shannonbux opened #7488 "[EPIC] v1.5 Site Showcase - cleanup"
## Epic Template

### Who will own this?

**Area of Responsibility:**

_Select the Area of Responsibility *most impacted* by this Epic_

- [ ] Community
- [ ] Learning
- [x] Ecosystem
- [ ] Gatsby Core
- [ ] Enterprise
- [ ] Design
- [ ] Marketing
- [ ] Company/Admin
- [ ] Sales

     |                 |       |
     | --------------- | ----- |
     | AoR owner       | @amberleyromo |
     | Domai

[2018-08-20 22:09] shannonbux opened #7489 "pagination in site showcase"

[2018-08-20 22:17] jlengstorf opened #7490 "Improve README for gatsby-plugin-layout"
Add a "why you would use this" section to the [`gatsby-plugin-layout` README](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout/) to help provide context for why it's useful.

[2018-08-20 22:19] alexkirsz commented on #7472
I didn't realize that these queries were extracted statically, I thought they were resolved during SSR. As such, this probably defeats my original purpose, which was to create StaticQuery elements inside of a loop with custom arguments.

[2018-08-20 22:40] calcsam commented on #7471
We shouldn't have duplicate links on the sidebar, that will make this problem go away :)

[2018-08-20 22:49] stefanivic commented on #7490
@jlengstorf sorry for asking, I am a bit new to React. Under "why would you use this" is it to avoid unnecessary component remounting and stop React from redrawing it in the DOM ?

[2018-08-20 22:51] jlengstorf commented on #7490
@stefanivic That's exactly right! I'm about to drop a PR for this one in ~5 minutes that'll go into more detail. 😄

[2018-08-20 22:53] Chuloo commented on #7454
Verified, Here's a [simple repro using the Blog-Starter ](https://github.com/Chuloo/gatsby-issue-7454).
Clone repo and run `npm install` followed by `gatsby develop`.

[2018-08-20 22:54] stefanivic commented on #7490
@jlengstorf I am looking to start contributing to Gatsby, as you can see I am struggling a bit. Can you offer some tips on how to help ?

[2018-08-20 22:59] jlengstorf commented on #7490
@stefanivic For sure!

Probably the best place to start is with the [good first issue](https://git.io/gatsby-gfi) label. There are several docs issues in there, and a few options for code contributions as well.

We're also happy to [remote pair program](http://gatsby.app/pairing) for an hour to help get you started. We're booked out a ways, but that's another option.

Let me know if that helps, or

[2018-08-20 23:04] humphreybc commented on #7464
@KyleAMathews Correct me if I'm wrong, but isn't that effectively what we've already got? Here's what we have under `plugins/gatsby-plugin-typestyle/gatsby-ssr.js`, which was working fine in v1:

[code]

[2018-08-20 23:10] KyleAMathews opened #7493 "If the site has a service worker installed, fetch the files into the sw cache"
Currently we call prefetch into the browser context which means each prefetch incurs a CPU/memory cost. If we instead just prefetch into the sw, then the browser will just download the file but do nothing until the file is actually needed aka when the user visits the page.

This would be much cheaper for browsers + help avoid jank caused by the UI thread stalling while evaluating files.

We'd prob

[2018-08-20 23:26] thebigredgeek commented on #7479
Hey @lesliecdubs , thanks for the issue writeup!  Is there any way you could throw together a quick-n-dirty reproduction repo and past a link here?

[2018-08-20 23:29] thebigredgeek commented on #7472
@alexkirsz yeah so I believe page queries are probably the best fit for what you'd like to do, as they accept parameters

[2018-08-20 23:33] KyleAMathews commented on #7464
Gatsby auto-inlines normal css processed by webpack. css-in-js libs need to inline the css themselves through plugins like this.

Perhaps check that your plugin code is getting called? Also check if there's a warning about their being multiple `replaceRenderer` implementations.

[2018-08-20 23:41] stefanivic opened #7497 "[www] [docs] Docs clarification on pngquant failed to build due to missing dependancy error"
## Description

When trying to do yarn install on the gatsby/www directory the setup fails on Linux (Ubuntu 18.04.1 LTS ) due to missing dependency `libpng-dev`.

In the docs, this was explained for WSL on Windows 10 [here](https://next.gatsbyjs.org/docs/gatsby-on-linux/#linux).

My idea is to merge the docs for Linux with WSL except notifying the users about the only WSL specific command [wslconf

[2018-08-20 23:47] humphreybc commented on #7464
Okay, I'll have a look there. And just to confirm – `html.js` is not required at all any more?

[2018-08-21 00:07] thebigredgeek commented on #7454
So it seems like this *might* be blocked by a necessary API change to reach-router?  Otherwise it sounds like we have to keep a hash of seen routing keys in order to determine push vs pop

[2018-08-21 00:10] #7424 closed

[2018-08-21 00:10] shannonbux commented on #7424
Just fixed this by removing the links.

[2018-08-21 00:37] #6688 closed

[2018-08-21 00:37] #7053 closed

[2018-08-21 00:39] jlengstorf opened #7499 "[docs] Further clarify how global styles work"
Global styles work in different ways depending on the use case, so we want to capture this in more detail.

1. If every page is wrapped with the same layout component, importing a CSS file or including CSS-in-JS global styles works just fine
2. If every page is _not_ wrapped with the same layout component, you can:
    - with regular CSS, include the stylesheet in `gatsby-browser.js`
    - with CS

[2018-08-21 00:46] gzzo opened #7500 "Add support for command-line plugin in PrismJS plugin"
## Summary

Add support for command-line plugin in PrismJS plugin

### Motivation

The [command-line](https://prismjs.com/plugins/command-line/) plugin seems extremely useful, it would be great if gatsby supported this since it already does a lot of custom work for line numbers.

[2018-08-21 00:51] #7380 closed

[2018-08-21 00:57] chasemccoy opened #7502 "Setting activeClassName on page load"
## Description

Using the latest beta of Gatsby 2, I am using `activeClassName` on the link component to style selected links. When clicking on a link and navigating to a new page, this works fine. But if I refresh the page, the class is not applied to the link pointing to the page that I just refreshed. I’ve been able to replicate on two different sites.

### Steps to Reproduce

1. Go to a page t

[2018-08-21 01:06] jlengstorf commented on #7473
Hey, @Orozco1993! We'd absolutely love to get your help with this!

Our goal is to add all the major changes to the [`CHANGELOG.md`](https://github.com/gatsbyjs/gatsby/blob/master/CHANGELOG.md). The spreadsheet @calcsam listed is all of the biggest PRs, so basically this would be converting that into a list that links to the relevant PRs and allows an at-a-glance overview of the new features in Ga

[2018-08-21 02:16] haxzie commented on #7502
Try using `exact={true} ` inside the Link tag.

[2018-08-21 02:18] fauziabd opened #7504 "Move images to netlify"
when using services like contentful or graphcms, images on the content will load from their cdn.
how can i move it to netlify or s3?

[2018-08-21 03:01] zheeeng commented on #7455
@KyleAMathews I found that the current master branch switched the router to `@reach/router` but the document and its `.d.ts` files are about `react router`. I have to achieve the effect that `activeClassName` by manually test path matching

[2018-08-21 03:02] chasemccoy commented on #7502
@haxzie The `exact` prop has been deprecated per https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#the-following-props-are-no-longer-available-on-link

[2018-08-21 03:04] primaveraentalca opened #7505 "[v2] How to pass data from a Layout component to children?"
In v1, I used to pass props to children using something like this:
[code]
But in v2, children is not a function:
[code]

I saw children is an array of objects so I tried to add a prop to every object in the children array using map (also tried forEach):
[code]
But I get
[code]

What's the v2 way of doing this?

[2018-08-21 03:57] akoolenbourke commented on #6053
I came here looking for a solution to the same problem. I actually had the same error in react-static (Another SSG that I'm trialling) and I found that it only occurred when I included bootstrap in the root .js files (App or index). For some reason once I got bootstrap out of there then it was fine. Why I don't know, I'm pretty new to web development, but maybe there is something in Gatsby that's

[2018-08-21 04:09] akoolenbourke opened #7506 "Would like to know if I can get PHP processing on Gatsby files to inject data"
## Summary
I'm pretty new to web development am rebuilding our company website and looking for performance, hence why I'm looking into Gatsby (And react-static). In our nav bar we have a shopping cart icon that needs to display the # of items in the cart and then drop down with an item list.

In order to avoid having to make another backend rest/ajax request to get cart info we were wanting to hav

[2018-08-21 04:10] azdanov commented on #7505
This way works.

[code]

[React.Children](https://reactjs.org/docs/react-api.html#reactchildren)
[React.cloneElement](https://reactjs.org/docs/react-api.html#cloneelement)

[2018-08-21 04:41] primaveraentalca commented on #7505
hi @azdanov
i tried that, but i'm getting:

[code]
I don't know why. children isn't null.
[code]
When I do that I get all child objects printed to the console. They look like this:
[code]
I'm assuming those are react elements.

What am I missing?

[2018-08-21 04:45] azdanov commented on #7505
Maybe do an if statement, and skip `child === null`?

It's hard to tell. Can you share a repo with the project?

[2018-08-21 04:58] primaveraentalca commented on #7505
When I do this I don't get all those errors, but children won't appear either.
[code]
I just created a repo, my layout component is [here](https://github.com/cumatron/cumatron.win/blob/master/src/components/layout.js)

[2018-08-21 05:04] ryanditjia commented on #7209
Looks like errors no longer show. Closing.

[2018-08-21 05:11] rishichawda commented on #7376
@davidbailey00 There are no external styles in my project. All of it is through custom styled components through styled-system and reusable components from rebass.

[2018-08-21 05:12] rishichawda commented on #7376
@davidbailey00 There are no external styles in my project. All of it is through custom styled components using styled-system and reusable components from rebass.

[2018-08-21 05:16] Inopo opened #7507 "Documentation Error"
In the v2 tutorials, in step 2 (Introduction to Using CSS in Gatsby), in the Gatsby Plugins section.

It says:

"Note that if you use gatsby-plugin-typography with the default starter, you’ll need to delete the default **index.css** used by that starter as it overrides the Typography.js CSS"

I think instead of index.css, it should be layout.css

Best;

Ege

[2018-08-21 05:16] ryanditjia commented on #7505
I think that’s because nothing was returned from that function, try adding `return` just before React.cloneElement.

(Pure speculation here) Having done this, I think the props will be available not to the `pages` component, but to the children of Layout.

So instead of:

`src/pages/index.js`
[code]

It will be:

`src/pages/index.js`
[code]

[2018-08-21 05:25] azdanov commented on #7505
@ryanditjia You are right.

@primaveraentalca Since it's a `map` function, it needs a return value to work.

Implicit return:

[code]

Explicit return:

[code]

[2018-08-21 05:32] mrdbeck commented on #7209
Errors still showing for me

[2018-08-21 06:02] ryanditjia commented on #7209
Have you upgraded Gatsby and its packages to rc.0?

[2018-08-21 06:58] thecodelayeriser opened #7508 "Netlify CMS failing GraphQL query"
Hi guys,

I'm running a website with Gatsby and Netflify CMS. I'm also using GraphQL to do queries for data I want to show. I'm having a problem that I can not solve - I have read the earlier posted issues with the same problem and while I have tried to follow the solutions proposed I'm not able to solve my problem.

Basically, when doing a query with

`{
  allMarkdownRemark(sort: {fields: [frontm

[2018-08-21 07:31] Mortuie commented on #7493
Is this a good first issue ?

[2018-08-21 07:48] azdanov commented on #7505
Works for me.

<img width="601" alt="screen shot 2018-08-21 at 10 46 25" src="https://user-images.githubusercontent.com/6123841/44387907-7c2a6800-a52f-11e8-8e26-3635950aaad5.png">

[2018-08-21 08:06] ntloi95 opened #7509 "GraphQL Reference page service is 503"
GraphQL Reference page https://next.gatsbyjs.org/docs/graphql-reference/
<img width="736" alt="screen shot 2018-08-21 at 3 06 08 pm" src="https://user-images.githubusercontent.com/9493402/44388964-c4f41800-a553-11e8-9997-d9fe4e4aa51c.png">

[2018-08-21 08:12] baukevanderlaan commented on #7466
I did exactly that, and removing the layout component fixed it — thanks!

I'm not familiar with Gatsby v1 and looked for a way to have simple persistent state throughout page routes in v2. So I didn't start with a v1 structure. Is the `gatsby-plugin-layout` intended as more of a bridge/workaround to ensure compatibility between v1 and v2 or is it intended as the recommended way forward in v2 to bu

[2018-08-21 08:14] ryanditjia commented on #7505
Try looking into `gatsby-plugin-layout`, which I believe should be a drop-in replacement for v1’s layout.

[2018-08-21 08:25] supermoos opened #7511 "[gatsby-source-contentful] Image requests return wrong aspect ratio."
## Description

It looks like the Contentful images generated using either sizes, resize or responsive all construct bad contentful image api urls, and also doesn't look at the actual returned image to calculate things like aspectRatio.

### Steps to reproduce
Sample query and result:
[code]
result:

[code]

### Expected result

The aspect ratio should be calculated on the return image, the proble

[2018-08-21 08:36] LeKoArts commented on #7508
And where do you do this query? I couldn't find it.

[2018-08-21 08:38] akoolenbourke commented on #7506
Thanks, I was afraid that was going to be the answer.

The more I look into some of these SSR frameworks, the more it seems that they are less useful than they look for a lot of situations. If a site is mainly static content anyway (which a lot are) with the odd repetition (For instance, a nav bar on all pages) is seems that just raw HTML would likely be the fastest way to serve the data at the co

[2018-08-21 08:44] LeKoArts commented on #7507
Good catch!

[2018-08-21 08:49] lipis opened #7514 "The plugin "gatsby-plugin-styled-components@3.0.0-rc.0" is exporting a variable named "wrapRootElement" which isn't an API."
I'm getting this error when updating to the latest `gatsby-plugin-styled-components`.

[2018-08-21 09:41] thecodelayeriser commented on #7508
Hi, I'm using this query in GraphQL.

[2018-08-21 09:53] xuopled commented on #4123
@pieh Could you tell me where the "check if string does look like a path" in the gatsby code ? I did not find it

[2018-08-21 10:00] thecodelayeriser commented on #7508
To help as much as I can I have added a branch with my current ideas: https://github.com/Layerise/Website/tree/Gatsby-plugin-for-cms

Resources.js

[code]

Postlisting.js

[code]

Gatsby-config.js

[code]

[2018-08-21 10:32] #6881 closed

[2018-08-21 10:34] Chuloo commented on #7514
What version of Gatsby are you running?

[2018-08-21 10:44] lipis commented on #7514
2.0.0-beta.100 to 2.0.0-rc.0

[2018-08-21 10:47] lipis commented on #7514
Updated the title to `3.0.0-rc.0`, everything was fine with `3.0.0-beta.3`.

[2018-08-21 10:52] Chuloo commented on #7509
Works on my end. How did you arrive at that? 😄

[2018-08-21 11:01] Chuloo commented on #7511
Could you create a minimal reproduction showing your error with say a demo contentful account?

[2018-08-21 11:08] supermoos commented on #7511
I can try when I get time. But even from simply looking at the responses for resize you can see that it incorrectly appends the &fit query to the url.

[2018-08-21 11:16] Chuloo commented on #7504
Netlify from my understanding supports mostly static HTML pages, however, you could look to services which offer CDN for Images such as Cloudinary or S3, [here's a guide on how to getting started](https://docs.aws.amazon.com/AmazonS3/latest/gsg/GetStartedWithS3.html) with S3. Visit Cloudinary.com to get started with deploying images on a CDN using Cloudinary.

[2018-08-21 11:16] #7504 closed

[2018-08-21 12:11] seaneking opened #7516 "[plugin-jsx] Add support for styled-jsx CSS file loader"
## Summary

Styled-jsx v3 comes with an optional CSS file loader baked in that allows users to import CSS files into components like so:

[code]

### Basic example

Best way to support this would be to add a config option to the plugin, along the lines of `CSSLoader: true`.

### Motivation

This would allow users to separate out styles into CSS files while using styled-jsx for both smaller compone

[2018-08-21 13:05] hadifarnoud commented on #6670
still can't get this to work even though `useACF: false,`
[code]

[2018-08-21 13:18] imshuffling opened #7517 "[v2] gatsby - Duplicate styles when serving site"
## Description

Seeing duplicate style declarations when serving the site.

Not sure if this is a webpack issue or not?

### Steps to reproduce
- Repo - https://github.com/imshuffling/davidrich.es
- Running `gatsby serve`
- Inspect on the console to see duplicated styles declarations, as per screenshot below.

![screen shot 2018-08-21 at 14 14 32](https://user-images.githubusercontent.com/739061/4

[2018-08-21 13:43] wKovacs64 commented on #6059
I think this might've been fixed in #7355. Seems resolved for me, anyway. Can someone else confirm?

[2018-08-21 13:56] ntloi95 commented on #7509
I learn GraphQL with gatsby. But the demo is 503.

[2018-08-21 14:36] dustinhorton commented on #6654
Seemingly no change:

[code]

And it's been sitting there for about 8 hours.

[2018-08-21 14:44] JanLenoch opened #7518 "Allow local plugins to reside outside of the app's directory"
## Summary

Please allow local plugins to reside outside of the app's directory.

### Basic example

Plugin developers would maybe appreciate to have both the sample app and the plugin side-by-side. Like so:

* repository root directory
    * sample-app
    * plugins

### Motivation

Currently, source code files of local plugins [can only be placed](https://github.com/gatsbyjs/gatsby/blob/master/p

[2018-08-21 15:40] lipis commented on #7514
Adding `"core-js": "2.5.7"` explicitly solved the issue.. :/

[2018-08-21 15:40] #7514 closed

[2018-08-21 15:47] wesbaker opened #7521 "[gatsby-transformer-json] Differing JSON data structures and metadata"
I have tables of data that I want to pull from JSON. I have some metadata about those tables that I want to keep separately, for example:

[code]

All of the data in `typeN.json` is structured the same: a single object containing a `title` property and a `rows` property which is an array of objects with the exact same structure:

[code]

The data in `columns.json` is metadata about the structure o

[2018-08-21 15:50] KyleAMathews commented on #7502
Can you post a link to a reproduction?

[2018-08-21 15:52] eric-personal commented on #7509
Yep same here, 503 showing up on this link https://next.gatsbyjs.org/docs/graphql-reference/

[2018-08-21 15:55] chasemccoy commented on #7502
@KyleAMathews I'll try to make one soon (this is a work project so I can't send you the actual thing 😒). I did just realize though that this only appears to be happening in production, not when running locally.

[2018-08-21 15:56] chasemccoy commented on #7502
I am prefixing pats in production, maybe that has something to do with it?

[2018-08-21 15:59] lloydh commented on #4690
Has this listing been created? We're looking for a gatsby freelancer!

[2018-08-21 15:59] azdanov commented on #7502
Try using:

[code]

https://reach.tech/router/api/Link

Since `activeClassName` is from `react-router-dom`.

[2018-08-21 16:03] jcnh74 commented on #3591
Can you go into detail how you added `wordpress_id `? I'm trying to get some custom endpoints to show up in the GraphQL and having some problems.

[2018-08-21 16:03] wesbaker commented on #7521
As an alternative, I'd be okay having the structure look like this:

[code]

In this scenario each `categoryN.json` file would contain the column definitions, and the various types. I'd then have a `shared.json` file that would share some things between the `categoryN.json` files (shared abbreviations).

Would this be possible?

[2018-08-21 16:04] azdanov commented on #7509
Works for me. 🤷‍♂️

[2018-08-21 16:29] jserrao commented on #3205
@KyleAMathews - it would get good sense to add this information into https://www.npmjs.com/package/gatsby-source-contentful and the Gatsby 2.0 docs. This took me hours to figure out.

[2018-08-21 16:32] KyleAMathews commented on #3205
@jserrao that'd be great! Sorry it took so long! Could you out together a small PR for the readme explaining the difference?

[2018-08-21 16:52] ciokan commented on #7261
Sorry guys I've been offline for a while. I'll give it a try and report back if the suggested fix by @fjaskolski is working.

[2018-08-21 16:53] jserrao commented on #3205
@KyleAMathews - sure, can do. What's the appetite for me putting together something like the [WordPress plugin tutorial](https://next.gatsbyjs.org/docs/wordpress-source-plugin-tutorial/), but for Contentful? I've learned a lot of little thing building a Gatsby/Contentful site over the past couple weeks.

[2018-08-21 17:06] zilindeng commented on #7514
I'm still getting the same error

[2018-08-21 17:10] KyleAMathews commented on #7514
You need to upgrade the version of gatsby to the latest. We released an RC last night so upgrade to that.

[2018-08-21 17:14] azdanov commented on #7517
I can reproduce. The problem is not with `plugin-sass` but with `gatsby` itself.

The problem is related with the `Layout` component. Or rather with how `gatsby` tries to create `html` files for preloading.

Since in `Header`, there are 3 unique `Link` elements, each having its own `Layout` and the same `css` file. Gatsby for some reason embeds the same style 3 times.

By removing unique `Link` ta

[2018-08-21 17:16] zilindeng commented on #7514
Thanks! @KyleAMathews

[2018-08-21 17:52] pixelbreaker opened #7522 "Contentful referenced lists with multiple types"
I'm using contentful's `References, Many` to allow editors to choose from a few different page components, so the list of components cannot be strictly typed to only one type.

In contentful it looks like so
![](https://dl.dropbox.com/s/llprlygexkyapdt/Screenshot%202018-08-21%2018.49.38.png?dl=0)

In GraphiQL, when I dig around I can find that the `components` list is a typed array of `ContentfulP

[2018-08-21 17:56] siakaramalegos commented on #3817
So it looks like that might actually work. Either my finder wasn't refreshing the file list or the /public/folder was holding on to old sourcemap files.

[2018-08-21 18:13] pixelbreaker commented on #7522
Ignore this, fixed by deleting the local cache and rerunning `gatsby develop` and structuring the queries like so

[code]

[2018-08-21 18:13] #7522 closed

[2018-08-21 18:51] ciokan commented on #7261
Yes. it Works!

[2018-08-21 18:56] KyleAMathews commented on #7493
If you have experience with service workers than yes! Otherwise, it'd probably be fairly tough but feel free to give it a go if you'd like! Happy to answer questions you might have.

[2018-08-21 19:02] KyleAMathews commented on #7516
How would this interact with Gatsby's existing css importing?

[2018-08-21 19:05] lxieyang opened #7526 "Does Link has 'exact' as a prop?"
I wonder the following words on the readme page from npmjs.org is still true:

A bit of a background, what I'd like to do is to build a navbar. Let's say I have:
"/", "/about", "/blogs"
as 3 pages in the app. And if I hit "localhost:8000/blogs", the "/blogs" Links is assigned an "active" attribute. However, if I navigate to a single blog post like "localhost:8000/blogs/what-is-going-on/", then the

[2018-08-21 19:12] gzzo opened #7527 "gatsby build leaves dangling jest-worker child"
## Description

After running gatsby build, there's a jest-worker child that doesn't exit with the parent.

### Steps to reproduce

[code]
### Expected result

There should be no jest workers running

### Actual result

There is a jest worker still left running after a successful build.

### Environment
[code]

### File contents (if changed)

`gatsby-config.js`: https://github.com/gzzo/guido.nyc/b

[2018-08-21 19:20] #6974 closed, assigned to nobody

[2018-08-21 19:38] gzzo commented on #7527
Looks like calling `setInterval` on `componentWillMount` was causing the issue, since it wasn't getting cleared on `componentWillUnmount` somehow.  I changed it to `componentDidMount` and am no longer seeing the issue.

[2018-08-21 19:38] #7527 closed

[2018-08-21 20:04] Khristophor commented on #6654
@dustinhorton what kind of hosting are you using? I think it's just killing your production box with the amount of requests. I believe I got it to finish (after quite some time, not eight hours) setting concurrent connections to something low, like 1 or 2.

[2018-08-21 20:08] seaneking commented on #7516
At first look probably not very well, since it requires the CSS that it transforms to be passed to Babel (docs [here](https://github.com/zeit/styled-jsx#styles-in-regular-css-files)), which would make it a destructive/all-or-nothing option.

So might be best to use a suffixed filename like we do with CSS Modules, something like `[filename].jsx.css`?

[2018-08-21 20:11] jephjohnson commented on #5009
This is still an issue when updating your modules.

[code]

Error: Module not found: Error: Cannot resolve module 'netlify-cms/dist/cms.css'

[2018-08-21 20:44] pieh commented on #4123
@xuopled https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/types/type-file.js#L28

Problem here will be that we compile all nodes to create representative data sample. So it will see that string is empty - but we can't tell if that's just string field or file field at this point, so we would need to adjust compiling down example node to prefer non-empty strings over empty s

[2018-08-21 21:00] fk opened #7528 "[v2] Superfluous second forward slash added to `pathname.location` in `gatsby build`"
Gatsby v2 seems to add a second forward slash to `location.pathname` during `gatsby build`;
when I log `location.pathname`,

* during `gatsby develop` I see `/hi-folks/`,
* but running `gatsby build` I see `//hi-folks/`.

I used [gatsby-starter-blog#v2](https://github.com/gatsbyjs/gatsby-starter-blog/tree/v2) to produce a simple reproduction site:
https://github.com/fk/gatsby-v2-pathname

![image]

[2018-08-21 21:28] jonearley commented on #4273
@liaoyongfu I'm also getting this error. Did you find a way to resolve it?

[2018-08-21 21:32] davidbailey00 commented on #7376
@rishichawda As I've said before I'm not 100% sure if my PR fixes the problem - can you tell me if this is the case now that the update's published? If it's still not fixed, have you got a demonstration repo up yet? If so I can test it out and see if I can figure out the problem.

[2018-08-21 22:17] dustinhorton commented on #6654
It's a decent VPS on Linode. I can get settings tweaked on it if that'd help. But the issue happens locally too.

[2018-08-21 22:18] brandonkal opened #7530 "Add Tag Post Count to gatsby-source-contentful"
## Summary

It would be nice to return the count of posts a tag is linked to. I am creating a tag cloud component, and for that I need to know the number of posts that each tag is associated with.

### Basic example

Currently I need to do this and then count the post ids in javascript later:
[code]
It would be a lot cleaner to do something like this:
[code]

### Motivation

I image a lot of peopl

[2018-08-21 22:31] davidbailey00 commented on #6059
@wKovacs64 ah yes, I noticed this problem while working on the PR - I think this is actually a bug in React, since as @anthkris said the className is still applied in the VDOM - also, for me the bug only  happened in Chrome (or other Blink-based). I worked around it just by changing the offline shell element to a span - it seems to only occur when the page's outer element is the same as the offlin

[2018-08-21 22:31] #6059 closed

[2018-08-21 23:50] robinpyon commented on #7526
V2 is now using reach-router and as such, `<Link>` no longer has an `exact` prop.

However you should be able to accomplish what you're after by using reach-router's `getProps` prop.

From reach-router's [documentation](https://reach.tech/router/api/Link):

[code]

Also relevant: https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#the-following-props-are-no-longer-available-on-link

[2018-08-21 23:52] alexkirsz commented on #2330
This issue still occurs for me in Safari macOS/iOS, but only in production. I'm investigating.

[2018-08-22 00:02] alexkirsz commented on #2330
It looks like the style of the placeholder is partially updated. In production, it shows:

![image](https://user-images.githubusercontent.com/1621758/44435234-50e75d80-a5af-11e8-8801-206d1d7c064d.png)

In development, it shows:

![image](https://user-images.githubusercontent.com/1621758/44435252-63fa2d80-a5af-11e8-8535-2293736911f5.png)

This might be a problem with server-side rendering.

[2018-08-22 00:05] lxieyang commented on #7526
Thank you!!

[2018-08-22 00:06] chasemccoy commented on #7502
@azdanov The `Link` component in Gatsby still supports `activeClassName`.

[2018-08-22 00:12] chasemccoy commented on #7502
This could be caused by #7528, which seems to be a similar bug that only happens in production.

[2018-08-22 00:43] humphreybc commented on #7463
@grallc I would have expected the absolute path to start from the project root otherwise you'd have all sorts of problems when building in different environements. Regardless, if this change is intended, it would be nice if it were documented somewhere.

One thing I have noticed is that `node.fileAbsolutePath` seems to be different during `gatsby build` vs `gatsby develop` (or when JS kicks in aft

[2018-08-22 00:45] #7526 closed

[2018-08-22 01:52] primaveraentalca commented on #7505
@azdanov, I can see the new "mobile" prop in devtools too, but when I try to access it from a page component like @ryanditjia said, I get these warnings and no data is passed to the page component.

![captura de pantalla de 2018-08-21 21-04-03](https://user-images.githubusercontent.com/11337928/44435426-58ded780-a586-11e8-92ea-66890dd359cd.png)

What I was trying to do is to wrap the page componen

[2018-08-22 02:16] anthkris commented on #6059
@davidbailey00 I am still on Gatsby V1 and deploying with Netlify. How might I fix this for my website? Is the only option right now to upgrade to V2 in beta?

[2018-08-22 03:19] dwehrmann opened #7531 "Browser locks up"
## Description

After launching gatsby develop and opening the site at localhost:8000, the browser freezes. Console shows a lot of errors quickly piling up. Apologies if the information is not complete, all I can snap is a screenshot before everything locks up completely.

1k Errors: TypeError: undefined is not a function (near ...pendingUnsafeLifecycleWarnings.forEach ...') commons.js:500x  (the

[2018-08-22 04:54] lightstrike commented on #5371
@jonathanbell In case you're still wondering, see the [`excludedRoutes` option](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress#how-to-use) :smile:

[2018-08-22 05:15] jserrao commented on #3205
@KyleAMathews - PR is ready to go: https://github.com/gatsbyjs/gatsby/pull/7533

[2018-08-22 05:39] studiopda commented on #3591
@jcnh74 We added a `wordpress_id` key to every post object that our custom endpoint returned. Something along the lines of `$data['wordpress_id'] = $post->ID;` assuming `$data` is the object you're returning.

[2018-08-22 05:45] humphreybc commented on #7463
I had time today to investigate this some more. It turns out that `node.fileAbsolutePath` is fine and unchanged from v1. The problem is with using `relative` from the `path` module:

[code]

…where `absoluteFilePathPrefix` is something like `src/pages/help`.

When this code is run during the server build, `fileRelPath` ends up being `get-started/notes`. However when this same line is run by the br

[2018-08-22 05:50] Maistho commented on #6059
@davidbailey00 Nice find!

I guess it means that using a top-level `<span>` in my component would still trigger the bug?

Is there any other element that could be used which would solve this? Perhaps AppShell could render a [Fragment](https://reactjs.org/docs/fragments.html) instead?

As a side note, though I'm fairly certain that it doesn't actually cause any problems, `<span>` can only contain [

[2018-08-22 05:59] Maistho commented on #6059
I did a quick search on the react issues, and I think it might be related to these issues:

https://github.com/facebook/react/issues/10591

https://github.com/facebook/react/issues/12713

[2018-08-22 06:02] LeKoArts commented on #7530
Can’t you use group together with contentful?
https://next.gatsbyjs.org/docs/graphql-reference/#group

[2018-08-22 07:02] Dineshchitta commented on #2095
@zshannon Did you resolve the issue ? I am also facing the same issue ( Infinite reloading ) . What could be the reason ?

[2018-08-22 07:03] Tomekmularczyk commented on #6170
Yeah, same here. Some tools require babel-config available like [babel-plugin-react-intl](https://github.com/yahoo/babel-plugin-react-intl) as well if I wanted to create my own tool that relies on babel and I don't necessarily want it in my build system (by extending webpack config).

I see that most of examples and even [documentation](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/babe

[2018-08-22 07:55] davidbailey00 commented on #6059
@anthkris

I'll backport the fix to V1 since this particular problem is only a one-line change. There might be some other problems in gatsby-plugin-offline which I fixed in the V2 version, but I think on the whole V1 works well (compared to plugin-offline V2 before my PR, which was quite broken).

@Maistho

Yes

Good idea - having said that, can fragments themselves be empty? I'm fairly new to Rea

[2018-08-22 08:01] zyhou commented on #7274
Yes I saw this. I don't want to use `frontmatter___date` but the field `date` (edges.node.date).

The `date` field is create in [setFieldsOnGraphQLNodeType](https://github.com/zyhou/gatsby-sort-field-date/blob/master/gatsby-node.js#L91) function

[2018-08-22 08:59] brandonkal commented on #7530
Interesting I'll have to look at that when the docs start working, I am seeing 503 errors for all those embedded iframe examples...

This worked pretty well for me, but I thought it would be a nice to have...
[code]

[2018-08-22 09:26] dwehrmann commented on #7531
Actually, does anybody know where the error "pendingUnsafeLifecycleWarnings..." comes from? As the console states, it seems to be related to infinite loops which would explain why the browser window freezes.

[2018-08-22 10:08] alexkirsz commented on #2330
I popped open the React Devtools for Safari, and they show that the base64 image's props are correctly set.

![Uploading image.png…]()

However, the actual style isn't properly updated in the DOM. At this point I'm tempted to say that this is either a bug in React or Safari.

[2018-08-22 10:35] alexkirsz commented on #2330
The root of the issue is that the image initializes its state differently when server rendering than when rendering in the browser, and React doesn't update the markup properly.

As such, one way to fix this problem is to move most of the state initialization logic from constructor to `componentDidMount`. I should have a PR ready today or in the next few days.

[2018-08-22 12:13] thecodelayeriser commented on #7508
Hi, I figured it out :) Will close this.

[2018-08-22 12:13] #7508 closed

[2018-08-22 13:11] Chuloo commented on #7531
hi @dwehrmann please can you create a reproduction repo showing this error?

[2018-08-22 13:34] isaac-martin opened #7540 "Create Index.js from `createPages`"
I want to pass data from a markdown file called `index.md` (edited via NetlifyCMS) to the index page.
If i use `createPages` as per the documentation and define a template for that file to build from it builds fine and I get a page at `siteurl.com/index` but my browser shows my 404 error page when going to `siteurl.com`

Couldn't see documentation anywhere? Can't imagine this is too hard?

[2018-08-22 13:35] anthkris commented on #6059
@davidbailey00 Thanks so much for your help!

[2018-08-22 13:40] Chuloo commented on #6844
@agarrharr can you try `yarn install` rather than `npm install` like @moonmeister did?

[2018-08-22 13:43] davidbailey00 commented on #6059
@anthkris Don't mention it! Honestly it's a really easy fix, and @Maistho deserves some credit too for suggesting to use fragments!

[2018-08-22 13:51] thecodelayeriser opened #7542 "Bug with WebP when using gatsby-remark-images"
Hi all,

We are using gatsby-remark-images

[code]
Expected result is Webp format images. However the result is .jpg

[code]

All other options for gatsby-remark-images work as expected.

[Gatsby-config.js](https://github.com/Layerise/Website/blob/master/gatsby-config.js)
[PostPage.js](https://github.com/Layerise/Website/blob/master/src/components/PostPage.js)
[Production](https://layerise.netlify

[2018-08-22 14:01] jonearley opened #7543 "gatsby-transformer-react-docgen - Error: Schema must contain unique named types but contains multiple types named "JSON"."
## Description

Installed the `gatsby-transformer-react-docgen` plugin, but get this error message:

[code]

If I remove the filesystem path to my components this error goes away, but the point is to read the components.

What could I be missing?

The repo to reproduce: https://github.com/mlibrary/umich-lib-components-react/tree/7a9e43c7900c74e5f9d881d3bfd044a4d8225be5

[2018-08-22 14:09] melissamcewen commented on #7457
I was on NPM 5 😳

So if you get this error try upgrading NPM or using Yarn

[2018-08-22 14:09] #7457 closed

[2018-08-22 14:26] Chuloo commented on #6844
Successfully deployed to netlify, included the `package-lock.json` file in `.gitignore` and subsequently removed `yarn.lock` from it. That way Netlify uses Yarn to install modules. Here's the reproduction [](https://github.com/Chuloo/gatsby-netlify-starter-blog)
Site: [](https://gracious-stallman-a52f72.netlify.com/)

[2018-08-22 14:30] Chuloo commented on #6847
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-08-22 14:53] Chuloo commented on #6972
Can't find the repro @bhankee, throwing 404. Could be related to #6844.  `gatsby: command not found` this could mean that `gatsby` was not installed properly see #6834 and a workaround on local was to use `yarn`.

[2018-08-22 14:55] fk opened #7544 "Redesign navbar of .org"
There are items we want to add to the .org navbar but there's not screen real estate right now:

* Community (now, see #6377)
* Starters (soon, see #6718)
* People / Organizations (soon, see https://github.com/gatsbyjs/rfcs/pull/8)

We should think through how we want to handle this.

[2018-08-22 15:01] fk commented on #7544
I want to suggest to use this issue to track a short-term, practical fix that allows us to add "Starters", "Community", and "Creators (People/Organizations)" to the navbar for both desktop and mobile without too much effort.

As mentioned in https://github.com/gatsbyjs/gatsby/issues/6377#issuecomment-404114364, this could be done using the "Priority Nav" pattern:

![facebook1](https://user-images.

[2018-08-22 15:20] Maistho commented on #6059
Oh it works then? 👌

It was just a very tired suggestion from me, thanks a lot for trying it out and opting PRs @davidbailey00 ♥️

[2018-08-22 15:28] Chuloo commented on #7112
Tried running your reproduction but everything worked fine. @lipis, waiting for who else has run into the same error.

[2018-08-22 15:35] lipis commented on #7112
Thanks for bringing that up... it works now like a glove.. so let's forget about it :)

[2018-08-22 15:35] #7112 closed

[2018-08-22 15:40] jcnh74 commented on #3591
@studiopda Thanks. I have a really custom endpoint that's not returning Post Objects rather details of my ACF. Something like this. /wp-json/acf/v2/fields. I thought that it would follow this conventions from the gatsby-wordpress-source Readme:
`{
  allWordpress${Manufacturer}${Endpoint} {
    edges {
      node {
        id
       type
        // Put your fields here
      }
    }
  }
}`

Where t

[2018-08-22 15:43] isaac-martin commented on #7540
Figured a work around out for my use case