[2020-04-14 16:51] softchris commented on #23101
appreciate that, thank you :)

[2020-04-14 16:53] Js-Brecht commented on #23051
[code]

This works for me.

It is correct that it is not re-_initialized_, but it is, ultimately, a part of the React tree.  When its props change, it will receive them, and when you navigate is when it receives new props.

If you wanted, you could even use a React component, so that you could use hooks inside of it.

[code]

[2020-04-14 17:03] ElijahCano33 commented on #21962
I submitted my changes to this [PR](https://github.com/gatsbyjs/gatsby/pull/23106).

[2020-04-14 17:05] cbdp commented on #1790
Still showing up in google searches.
Wanted to add that the github page for gatsby-plugin-html-attributes has a README which reads simply:

I'll implement the solution shown as by @DSchau.

[2020-04-14 17:38] smthomas commented on #23038
@nizz0k Thanks for the report. I am using gatsby-source-drupal with the Gatsby Image component on multiple sites and am not currently seeing this error. It makes me wonder if it's specific to your Drupal site (perhaps a specific configuration or module that is causing the problem). Is there anyway for you to help get me access to a copy of your Drupal site or could you help create a Minimal Reprod

[2020-04-14 18:06] nizz0k commented on #23038
Hi @smthomas. Thanks and thanks for the videos. You're right, I think the underlying issue is the environment, which is on WSL. The LibGL error led me to this post [here](https://spectrum.chat/zeit/now/missing-libgl-so-when-deploying-a-gastby-static-site~293fe29f-96fa-4ac5-8ce4-0bb1192c9233):, which had the same error. I have an update D8 site running on a LAMP server in WSL, with an up to date No

[2020-04-14 18:10] MarcMcIntosh commented on #22919
Hi,
I made an new test/example project to confirm some of the previous errors with useStaticQuery breaking. https://github.com/MarcMcIntosh/use-static-query-gatsby-prismic-source-graphql-bug

From what I can tell the breakage of useStaticQuery seems to have stoped, although it usually comes back after an update as one of the plugins patches `babel-plugin-remove-graphql-queries`.

[2020-04-14 18:31] vladar commented on #23002
Should be fixed via #23103 (published in gatsby-source-graphql@2.4.0)

[2020-04-14 18:31] #23002 closed

[2020-04-14 18:34] vulcanr commented on #8019
Just did the procedure @wodin to reproduce the issue, but I'm unable to reproduce it.

OS: Ubuntu 19.10
Browsers:
- Brave - Version 1.5.123 Chromium: 80.0.3987.163 (Official Build) (64-bit)
- Firefox 75.0 (64bit)

[2020-04-14 18:47] Gerigot commented on #23023
I see that it has been done so I'll stop working on it. I'll check out the new version and see if I can find something

[2020-04-14 19:01] elliott-greaves-babylon-health commented on #21932
Not stale

[2020-04-14 19:03] muescha commented on #22511
i missed `frontmatter` also in the glossary...

[2020-04-14 19:11] vladar commented on #23101
Gatsby doesn't run your queries in run-time. Instead, when babel compiles your sources GraphQL queries are stripped completely.

So two options:

1. Have your query outside of a component
2. OR use `useStaticQuery` as suggested by @herecydev

[2020-04-14 19:11] #23101 closed

[2020-04-14 19:11] vladar commented on #23101
Thank you for opening this, @softchris

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-04-14 19:16] joshwcomeau opened #23109 "gatsby-plugin-styled-components isn't wrapping the root element correctly"
## Description

styled-components lets you use `createGlobalStyle` to add arbitrary styles to the document. There appears to be a bug where those styles aren't included in the original SSR HTML _if_ the user implements a `wrapRootElement` method inside `gatsby-ssr.js`.

The effect of this is that for that initial mount (after the client has rendered the HTML but before the React app has rehydrated

[2020-04-14 19:19] joshwcomeau commented on #23109
Whoops - Just saw a similar issue (https://github.com/gatsbyjs/gatsby/issues/20594). Sorry!

[2020-04-14 19:19] #23109 closed

[2020-04-14 20:02] vladar commented on #22990
We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-04-14 20:02] #22990 closed

[2020-04-14 20:06] vladar commented on #22989
Maybe I am missing something but have you tried this:

[code]

[2020-04-14 20:15] justinmahar commented on #17725
**To anyone else who's trying to use Firebase on a Gatsby site:**

The workaround requires excluding browser dependencies by making them ["externals"](https://webpack.js.org/configuration/externals/) in the [Gatsby webpack config](https://www.gatsbyjs.org/docs/add-custom-webpack-config/).

[This similar thread](https://github.com/firebase/firebase-js-sdk/issues/2222) got me close to solving this,

[2020-04-14 20:20] AishaBlake commented on #20691
Opening this back up! We weren't quite ready to tackle this work before gatsbot closed it automatically but this is still a priority. If folks in the community would like to work on it, we welcome contributions.

In addition to the initial assessment, I'd like to revisit the quality of _existing_ documentation. We have a _lot_ of options listed and I want to make sure they're still accurate, usefu

[2020-04-14 20:24] vladar commented on #22855
Gatsby Starter Blog has a `date` field here: https://github.com/gatsbyjs/gatsby-starter-blog/blame/master/content/blog/hello-world/index.md#L3

So this is a valid query:
[code]

But this is not:
[code]

Simply because there is no `year` field in the frontmatter.

[2020-04-14 20:31] bikalay opened #23114 "ERROR #85901 GRAPHQL 'Max query depth 9 is reached'"
## Description

[code]
How to increase the limit

I can run app with error  in development mode. But i can't build

### Environment (if relevant)
Dependencies:

   "gatsby": "^2.19.45",
   "gatsby-background-image": "^0.10.2",
   "gatsby-image": "^2.2.44",
   "gatsby-plugin-manifest": "^2.2.48",
    "gatsby-plugin-offline": "^3.0.41",
    "gatsby-plugin-react-helmet": "^3.1.24",
    "gatsby-plugin

[2020-04-14 20:50] herecydev commented on #23094
Looks like your html is crazy big and most of it is css. You're including the entirety of line awesome, so I would look to tree shake that and get your html way below 100kb

[2020-04-14 21:52] rationalthinker1 commented on #20691
Hey Aisha, I'm sorry. That's what I meant. I want to host gatsby on digital ocean.

[2020-04-14 22:53] Jimmydalecleveland opened #23120 "[gatsby-source-contentful] - Build fails when entries reference eachother"
## Description

When using a content type (on Contentful's site) with a "reference" field that can point to the same type, it's possible to create a `maximum call stack` error that causes Gatsby to fail to build.

As an example, if you had a "Page" content type that, at any point within, has a possible link to other "Page" types, a sort of circular loop can happen if it ends up pointing back to th

[2020-04-14 23:02] stackoverflowsam93 opened #23121 ""gatsby develop" produces "ERROR #98123 WEBPACK Generating SSR bundle failed Cannot find module '@babel/core'”"
Here is the [full project on Github](https://github.com/stackoverflowsam93/ERROR-98123-WEBPACK)

I run gatsby develop and here is the full console output

[code]

**Failed attempts so far**

I've tried deleting .cache, node_modules yarn.lock/package-lock.json and reinstalling. I tried this using both npm and yarn (separately, never together), and upgrading yarn, and node

I also tried

[code]
and

[2020-04-14 23:41] stuntbaboon commented on #19618
I also had this issue when running a clean `gatsby build` and the root cause was having a resolution in my package.json for an acorn package vulnerability (see https://snyk.io/vuln/npm:acorn):

`
"resolutions": {
   "acorn": "^7.1.1"
}
`

Removing this, solved the issue for me.

Output from `gatsby info`:

`
System:
    OS: macOS 10.15.4
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

[2020-04-15 01:05] suziwen commented on #22989
The Link's `to` value is from mdx,  which is already `withPrefix`.  If I want to rewrap `a` component to `Link` with custom style, and `Link` component doesn't have the option to disable `withPrefix`, I need manually remove the prefix path of  `to` value.

[code]

[2020-04-15 02:42] cangSDARM commented on #20538
I encountered the same problem. Using gatsby-plugin-mdx@1.1.7 and gatsby-plugin-remark-katex@3.2.1

[2020-04-15 02:43] cangSDARM commented on #20538
It will not generate files, but it still reports errors on the console

[2020-04-15 03:00] steverandy commented on #15669
Is there a plan to exclude the original size?

[2020-04-15 03:38] contravarianceisuseful commented on #22990
Thank you. This solved my issue.

[2020-04-15 03:56] nizz0k commented on #23038
Installing LibGL manually solved the issue.

[2020-04-15 03:56] #23038 closed

[2020-04-15 04:38] kirill-konshin commented on #21785
I have the same issue — double images, one normal, one blurred but in my case I use them as `featuredImage` like so:

[code]

And then in the `src/pages/blog.ts`:

[code]

I only see this glitch for the blog images injected this way. Other images (not from featuredImage field) are OK even if injected via `Img`.

[2020-04-15 05:25] shicholas commented on #23121
downgrading to gatsby version `2.20.19` worked for me.

[2020-04-15 05:38] franjorub commented on #21990
I have the same issue, in part three when I copy the typography command from the docs the project doesn't run again
[code]

deleting node_modules and package-lock.json and installing everything with yarn works again

[2020-04-15 05:54] mjmaurer opened #23123 "[gatsby-source-contentful] downloadLocal broken by gatsby-source-filesystem"
## Description

#20843 introduced a timeout for `createRemoteFileNode`. I'm almost certain this breaks localFile for contentful projects with ~15 or greater assets.

I fixed transitive dependencies on `gatsby-source-filesystem` to 2.1.47 (right before #20843) and the issue was fixed.

### Steps to reproduce

Attempt using `gatsby-source-contentful` with `downloadLocal` enabled. If `gatsby develop`

[2020-04-15 06:31] raulfdm commented on #23121
Same problem here.

https://github.com/raulfdm/raulmelo.dev/pull/409/checks?check_run_id=588021645

[2020-04-15 06:45] maxkoretskyi commented on #23051
thanks for taking the time to test it! it does work for me too, the component is re-initialized and the new props come in. I made a silly mistake by clicking on the link that pointed to the deployed version and since I didn't see any logging there I assumed the component didn't re-initialized :).

I meant that if it's a functional component that re-initialization basically means executing the func

[2020-04-15 06:46] raulfdm commented on #23121
Only way I made to work was installing `webpack` as devDependency in my project.

[2020-04-15 07:38] rzubrycki opened #23126 "gatsby-image lazy loading not working in MacOS Safari"
Description
In MacOS Safari, when coming to the base url, images from gatsby-image are not loading. All images in different pages are working correctly.
Everything works ok on firefox, chrome.
I thought it may be issue with intersection observer, but latest safari supports it now.

Expected result
Display image on safari.

Actual result
No images, only deep blue default background.

Environment
Sy

[2020-04-15 07:47] Js-Brecht commented on #23051
Pretty much, but with two small correction:
1. `gatsby-browser` is really just a container for various APIs that get called during page rendering; I believe you meant `onRouteUpdate`?
2. `onRouteUpdate` is actually above `wrapPageElement` in the tree.

You can see how `wrapPageElement` is called by following this (simplified) path:
[LocationHandler](https://github.com/gatsbyjs/gatsby/blob/master/p

[2020-04-15 08:04] maxkoretskyi commented on #23051
Thanks for the clarification!

I meant that functions inside `gatsby-browser` are executed as part of some React component's lifecycle methods calls or some other React component mechanism.

oh, interesting, I put a debugger and the `wrapPageElement` function executed before `onRouteUpdate` in a plugin. Why is that? Also is `RouteHandler` or `RouteUpdates` executed first? I'm trying to construct a

[2020-04-15 08:07] devuxer commented on #5774
@DSchau,,

I just updated from gatsby 2.19.32 to 2.20.21, and suddenly I wasn't able to run `gatsby develop`. It would error out immediately with "cannot find module webpack".

I updated all my gatsby-x packages, deleted package-lock and node_modules, then ran `npm install`, but I still kept getting the same error. Finally, I just went ahead and installed webpack (which I had never needed before)

[2020-04-15 08:09] sps-software commented on #9376
Also having this issue. However, all my casings are correct. builds on osx, fails on linux. Anyone have any solutions?

[2020-04-15 08:14] ermakovich opened #23127 "Gatsby build fails on latest version (2.20.21)"
## Description

`gatsby build` command fails on latest version (v2.20.21) with error:

Note: issue not reproducible on v2.20.20. So seems to be an issue in v2.20.21 only.

### Steps to reproduce

Run `gatsby build` or `gatsby develop` command locally.

Or fork https://codesandbox.io/s/kind-worker-nnmzg and check Terminal tab.

### Expected result

Build succeeds.

### Actual result

Build fails.

[2020-04-15 08:58] LekoArts commented on #22385
If you do a `gatsby new audit-test` and a `yarn audit` you'll see that the vulnerabilities have been fixed in the meantime. So closing this.

[2020-04-15 08:58] #22385 closed

[2020-04-15 09:18] ascorbic commented on #23127
Thank you for this report! If you upgrade to gatsby@2.20.22 then it should work again

[2020-04-15 09:18] #23127 closed

[2020-04-15 09:30] LekoArts commented on #23121
Thanks for reporting! This is the same as https://github.com/gatsbyjs/gatsby/issues/23127

Upgrading to `gatsby@2.20.22` should fix it.

[2020-04-15 09:30] #23121 closed

[2020-04-15 09:38] LekoArts commented on #17672
Our stance on this hasn't changed since then, we still don't consider adding this. The overhead of changing this is way too high compared to the potential benefits. We haven't heard this request at all in our constant interaction with the community and the whole ecosystem (tutorials, gatsby recipes, themes, plugins) is based on this convention that it isn't worth the breaking change.

[2020-04-15 09:38] #17672 closed

[2020-04-15 09:42] raulfdm commented on #23121
Awesome. Thanks for the update @LekoArts

[2020-04-15 09:46] ascorbic commented on #23126
Hi. I've tried this with the default starter and can't reproduce it. Is your site repo public? Otherwise, can you [create a reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/). Thanks.

[2020-04-15 09:49] rzubrycki commented on #23126
Hello! Thanks for the reply. Here's the link, repo is private.
https://www.tacticool.site/en/
Nothing fancy going on under the hood, just staticQuery to fetch image url and that's it.

[2020-04-15 10:17] antoinerousseau commented on #19618
Still happens a lot:

![Capture d'écran 2020-04-15 12 08 53](https://user-images.githubusercontent.com/160279/79325708-f0d6c500-7f11-11ea-8048-78e1514e173d.png)

Stacktrace:

[code]

Breadcrumbs:

Time | Type | Error | Infos
-- | -- | -- | --
4ms before |   REQUEST | XMLHttpRequest error | GET /page-data/app-data.json
5ms before |   REQUEST | XMLHttpRequest error | GET /page-data/index/page-data.

[2020-04-15 10:20] ascorbic commented on #23123
Hi. I'm having trouble reproducing this. I created a test site with 100 (5-10MB) image assets. I added `downloadLocal: true` and ran gatsby develop. Downloading remote files took 48.9s. After loading, localFile was set on all of the assets. How long does the "Downloading remote files" stage take? Can you post the full build logs? Ideally, are you able to share a repro?

[2020-04-15 12:02] #22304 closed

[2020-04-15 12:03] joebentaylor1995 opened #23131 "Gatsby-Image + CraftCMS"
Im currently working with CraftCMS. Im trying to get gatsby-image to work with craft, however im struggling, is there a way to do this that i'm not aware of?

[2020-04-15 13:17] fabianrios commented on #13392
does it work if the strings are put using `{intl.formatMessage({ id: "online" })}` instead of `<FormattedMessage id="online" />`

[2020-04-15 13:35] lucasnantonio commented on #20816
Not sure my problem is related, but here it goes since I couldn't find anything closer to what I'm seeing.

When I edit an image, while in development mode, the terminal shows `changed file...` and  `success Generating image thumbnails`.
But the image generated does not get updated to the new one.

I'm sure at some point while developing with gatsby images would update instantly in the browser whi

[2020-04-15 13:54] tschaub commented on #14161
Time to write a new router?

[2020-04-15 14:01] ConorLindsay94 commented on #21701
Sorry for the late reply on this @KyleAMathews

I have created a codesandbox with my approach [here](https://codesandbox.io/s/gracious-austin-ztwz4).

The relevant app.js is [here](https://ztwz4.sse.codesandbox.io/app-612332396a2812a9715f.js).

As you can see there are unneccessary `matchPath` entries as you get towards the bottom of the file. I only have four `matchPath`s set up in `gatsby-node.j

[2020-04-15 14:02] omegavesko commented on #23094
Thanks for pointing that out! You're right, I didn't think to look at my HTML output. Now I've built my own icon font that only includes the parts of Line Awesome I actually use, and while it's certainly annoying to have to rebuild the font every time I need a new icon, the much smaller font file is definitely helping.

What I also didn't realize was that importing a CSS file in Gatsby always inli

[2020-04-15 14:07] persocon commented on #14502
sadly this doesn't work for me, on the 2.20.22 version,
it was working fine when they had the react-hot-loader instead, also why the change? it's experimental the other library :(

[2020-04-15 14:08] DevSide commented on #22763
closed ??

[2020-04-15 14:50] hal-efecan commented on #21862
i'm experiencing the same when it comes to build - works perfectly fine during development

[2020-04-15 14:54] onokje commented on #13392
You need to use defineMessages to define your messages first. And also add a default message. So like this:
[code]
And then where you actually want to use it:
`intl.formatMessage(messages.placeholder)`

[2020-04-15 14:56] mjmaurer commented on #23123
I'm at a loss for words. Removed the force-resolution, and did a clean install of `gatsby-source-contentful`. A `gatsby clean` to finish off, and suddenly everything is working as expected.

Thanks for the work of reproing and that PR. Definitely ran multiple clean `npm install`s yesterday as well as multiple clean gatsby builds. In the end, not sure what was happening.

[2020-04-15 15:18] jfyles commented on #14642
This is pretty wild. If I have a component that takes an image url as a property ... I can't query for the correct image based on that imageUrl property?

[2020-04-15 15:53] #22506 closed

[2020-04-15 16:07] alimoosavi15 commented on #20152
If you only need one image size, you can use `resize` instead of `fluid`.

[2020-04-15 16:09] theAdhocracy opened #23135 "Formatstring on BST datetimes for midnight are returning the wrong day"
## Description

On a GraphQL query I have a `date` field which is being reformatted to `DD MMM YYYY`. That worked fine for all entries until we entered British Summer Time, at which point any dates set to midnight are being formatted to the next day e.g. 12th April becomes 13th April.

### Steps to reproduce

_I'm having problems creating a test GraphQL node and getting it to show up/be queriable;

[2020-04-15 16:20] riaanlom commented on #13311
I managed to get something working. I'm using gatsby-source-graphql instead of gatsby-source-wordpress.

In wordpress create a child theme based on Beaver builder. In the child theme functions.php add this at the end

`
add_action(
	'graphql_register_types', function () {
	register_graphql_field( 'Page', 'bbContent', [
		'type'        => 'String',
		'description' => __( 'Page Content', 'wp-graphql

[2020-04-15 16:30] gillkyle commented on #21321
This was merged in #21574

[2020-04-15 16:30] #21321 closed

[2020-04-15 16:34] tmm commented on #17672
Thanks for the reply. Doesn't seem like this has to be a breaking change though (you know the codebase better than me). `gatsby-*.js` could be checked first, then `.gatsby/*.js`.

[2020-04-15 16:44] ascorbic commented on #23120
@wardpeet @pvdz Could you look at this?

[2020-04-15 16:54] ascorbic commented on #23135
Hi. The date formatter converts everything to UTC even if the source field includes a timezone. Midnight BST is still the previous day in UTC, which is why it displays that day.

[2020-04-15 16:54] #23135 closed

[2020-04-15 16:56] Js-Brecht commented on #23051
Ah, I see.  Some of them are, yes.  Some of them run apart from the React tree.

If you look at the JSX->JS transpiled source of `production-app`, it starts to become more apparent why `wrapPageElement` is called first:

<details>
<summary><code>production-app.js->LocationHandler</code> transpiled</summary>

[code]

</details>

So a React tree with `children` is constructed like this:
[code]

Whic

[2020-04-15 17:06] ascorbic commented on #23114
Hi. This seems to be an issue with [gatsby-source-prismic-graphql](https://github.com/birkir/gatsby-source-prismic-graphql). That plugin does quite a bit of custom handling of graphql queries, so you'd need to check with them. Thanks.

[2020-04-15 17:06] #23114 closed

[2020-04-15 17:13] ascorbic commented on #23131
Hi. If you're using gatsby-source-graphql, it doesn't by default download images, because it has no way of knowing which fields are images. You could try using a plugin such as [gatsby-plugin-remote-images](https://github.com/graysonhicks/gatsby-plugin-remote-images) to specify which fields hold images and to then download them to use with gatsby-image.

[2020-04-15 17:14] ascorbic commented on #23131
I'll close this but if you have any more questions then please reopen it or open a new one!

[2020-04-15 17:14] #23131 closed

[2020-04-15 17:56] theAdhocracy commented on #23135
@ascorbic but wouldn't that mean it should give the day before, not the day after. 12th should become 11th if what you're saying is true, but it doesn't, it becomes the 13th.

[2020-04-15 18:03] theAdhocracy commented on #23135
Thanks, you're right and my original question had the values the wrong way around (i.e. 13th was becoming 12th, not 12th -> 13th as I've written). That makes sense, though it's a shame there isn't any way to change that to work on local times/different timezones instead.

[2020-04-15 18:57] abohannon commented on #10592
Was there a solution found for this? We cannot get INLINE or BLOCK.EMBEDDED_ENTRY instances to maintain their data in development/preview. The `target` property becomes an empty object. This obviously makes development a huge headache.

This issue is not present with BLOCKS.EMBEDDED_ASSET.

I'm reluctant to use forceFullSync because it seems there would be considerable performance issues with full

[2020-04-15 19:09] tesseralis commented on #21705
@dmitriyaa thank you for looking into this and opening a PR! The solution you mentioned makes sense — and a test would be fantastic. Thank you!

[2020-04-15 19:11] madalynrose commented on #23126
Hello! I can see it reproduced when I visit your site in Safari but can't debug further without some code. Could you create a minimal reproduction with either a public repository or with something like [codesandbox](https://codesandbox.io/)?

[2020-04-15 19:13] madalynrose commented on #23105
Hello and thanks for letting us know about your issue. Is your site repo public? Otherwise, can you [create a reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so we can help you debug? Thanks!

[2020-04-15 19:22] madalynrose commented on #21862
I agree this sounds odd. Could either @hal-efecan or @Daavidaviid provide additional context by linking a repo or producing a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) in something like [codesandbox](https://codesandbox.io/)? We can help debug once we have more information.

[2020-04-15 19:30] AishaBlake commented on #22446
Going to go ahead and pick this up for the sake of time. (Again, totally on me. You did the right thing by asking in the issue!) Thank you so much for volunteering, @caitlinselca and please have a look at our [open issues](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22) when you have the time. We'd absolutely love to have you as a contributor.

[2020-04-15 19:53] madalynrose commented on #23018
Thank you so much for opening this issue @bsgreenb! It would be helpful if you could provide a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) either by pointing to a public repo that we can poke at or to something like [codesandbox](https://codesandbox.io/). It sounds like a bug to me, but reproducing in an intentionally simplistic environment w

[2020-04-15 20:17] madalynrose commented on #22822
Hello there, @blurr83! I'm sorry you haven't gotten a response until now. It would help if you could provide us with a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) either by linking to a repository or recreating a small example in something like [codesandbox](https://codesandbox.io/) so we can dig into the code and debug. Thanks!

[2020-04-15 20:22] madalynrose commented on #20816
hi there, @lucasnantonio! Could you open a [new issue](https://www.gatsbyjs.org/contributing/how-to-file-an-issue/) for this? It'll help us triage better and you can always link it in here if you find it is indeed related. Additionally, could you provide a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) of your problem either by linking to your r

[2020-04-15 20:44] laurieontech commented on #22248
Thanks for the question and apologies for the delay!

This behavior is expected and by design. Since an excerpt is generated for you, it ignores code blocks and components in favor of more "readable" plain text.

If you'd like that information to be included you can set your own "excerpt" in frontmatter which will take precedence.

[2020-04-15 20:44] #22248 closed

[2020-04-15 21:10] muescha opened #23147 "bug(blogs): blog posts are not visible"
## Description

blogposts LA Days higher than Video 7 are not visible in:
- https://www.gatsbyjs.org/blog/ and in
- https://www.gatsbyjs.org/blog/tags/gatsby-days

but i can open them direct:
- https://www.gatsbyjs.org/blog/2020-04-14-LA-2020-Kim/ Video 10
- https://www.gatsbyjs.org/blog/2020-04-13-LA-2020-Comeau/ Video 9
and others

### Steps to reproduce

open:
- https://www.gatsbyjs.org/blog/
-

[2020-04-15 21:59] Funkh0user opened #23150 "unable to render data that is logged in console."
## Summary
I'll start by apologizing for any ignorance on my part. I'm new, and I assure you, I've tried very hard to solve this problem on my own and to find other information pertaining to it.

the problem I'm having is using information from a graphql page query in a component I'm rendering via gatsby-prismic-graphq.

Everything works fine in development.

however, when I try to build, I get a

[2020-04-15 22:04] caitlinselca commented on #18280
Hi! I am a new contributor to Gatsby and this particular issue interests me a lot. May I begin working on this ticket to resolve the issue?

[2020-04-15 22:05] caitlinselca commented on #22794
Hi! I am a new contributor to Gatsby and this particular issue interests me a lot. May I begin working on this ticket to resolve the issue?

[2020-04-15 23:14] #6467 closed

[2020-04-15 23:28] Funkh0user commented on #23150
closing this issue. The problem *facepalm* was a mistake i made copy pasting some boilerplate code into the project.

[2020-04-15 23:28] #23150 closed

[2020-04-16 00:03] #22306 closed

[2020-04-16 00:56] Dave-Lindberg opened #23158 "Adding WPGraphQL produces Error: Cannot find module 'react'"
## Description

When adding WPGraphQL to a working basic Gatsby install, `gatsby develop` produces `Error: Cannot find module 'react'`
### Steps to reproduce

1. Create new gatsby site `gatsby new test-wpgraphql` and cd to that directory.
2. Run `gatsby develop` and confirm the site is built properly at http://localhost:8000/
3. Install WPGraphQL (`npm install --save gatsby-source-graphql`)
4. Upd

[2020-04-16 01:03] devboldly commented on #17725
**To anyone else who's trying to use Firebase on a Gatsby site:**

The workaround requires excluding browser dependencies by making them ["externals"](https://webpack.js.org/configuration/externals/) in the [Gatsby webpack config](https://www.gatsbyjs.org/docs/add-custom-webpack-config/).

[This similar thread](https://github.com/firebase/firebase-js-sdk/issues/2222) got me close to solving this,

[2020-04-16 01:22] jzabala commented on #22010
I would like to help with this one 🙂

[2020-04-16 03:14] qiaodai-mmm commented on #6358
Thanks, the problem is solved

[2020-04-16 03:47] Funkh0user opened #23162 "Graphql useStaticQuery returns different object in production"
## Description

Graphql useStaticQuery returns a different object when in production vs my development enviornment
heres a picture of useStaticQuery generating the correct results (in development
<img width="1410" alt="Screen Shot 2020-04-15 at 6 17 40 PM" src="https://user-images.githubusercontent.com/52063586/79412231-cf013080-7f59-11ea-96ae-947619ef7eb1.png">
)

and heres a screenshot of the sa

[2020-04-16 04:24] moonmeister commented on #22757
I've updated the proposal to include the above discussed changes. I like that it draws clearer lines between the different custom config options and each has a specific purpose as opposed to having lots of overlap with each other.

[2020-04-16 04:33] nextriot opened #23164 "Use remote or realtive image paths in markdown meta with gatsby-remark-images & handle unsupported files with gatsby-remark-copy-linked-files otherwise"
This works:
[code]
This (as expected) does not:
[code]

I attempted a rudimentary workaround with this (someone, somewhere is looking at this with disgust I'm sure). The problem is any time a change is made to one of the remote images the id is changed in development and the build breaks, and the only way to right the wrong is to delete the cache.

[code]

I know just enough to be dangerous it see

[2020-04-16 04:40] moonmeister commented on #22757
The other thing I just thought of if Gatsby path prefixes. If a dev is pulling paths from outside Gatsby and also doing path prefixes they may need to access that in `serialize`. I'm thinking we could write a helper function that the `siteUrl` and also does the `pathPrefix` if needed. This would also mean we probably don't need to pass the `siteUrl` in directly as any custom or default functions c

[2020-04-16 05:16] rzubrycki commented on #23126
@madalynrose
https://github.com/rzubrycki/tc-wiki

src/pages/intro.js
src/components/LogoComponent/logo.js

[2020-04-16 05:24] ArmenMelk commented on #23105
@madalynrose after clean site data from browser it's start work properly

[2020-04-16 05:46] andrezimpel commented on #20493
@TheFirstMe I'm running into the same issue! I can give someone access to to the repo if needed because the page is not online yet.

[2020-04-16 07:15] rzubrycki commented on #23126
Ok, i found it.
Safari don't support images in .webp format.
Topic can be closed.

[2020-04-16 07:15] #23126 closed

[2020-04-16 07:22] THE108 commented on #21901
We're having the same issue.

[code]

[2020-04-16 07:42] kuworking opened #23165 "Is it possible to prefetch pages with `<Link>` but applying a delay?"
If the `Link` elements are on top of pages, prefetching occurs immediately

I was wondering whether it is possible to start the prefetching with a specific delay, so that page loads faster and becomes responsive earlier

[2020-04-16 08:02] kirill-konshin commented on #21785
I have double checked literally everything, I even made it so that the same component renders actual posts with images, everywhere. The doubling only occurs in blog index page (as shown above) and only on initial render. All other pages like generated in `gatsby-node` and others work well.

[2020-04-16 08:13] davifantasia commented on #19743
@Chalarangelo Thanks so much for posting the change you made - I have been trying to solve this riddle since yesterday.

[2020-04-16 08:16] kirill-konshin commented on #21785
I figured out what the problem is.

I have double checked literally everything, I even made it so that the same component renders actual posts with images, everywhere. The doubling only occurs in blog index page (as shown above) and only on initial render. All other pages like generated in `gatsby-node` and others work well.

In previous code snipped I had oversimplified markup, in my actual case

[2020-04-16 09:02] freiksenet commented on #23162
Hi!

Could you provide link to the repo that we can clone to produce a reproduction?

[2020-04-16 09:04] StuartRayson commented on #22907
@sharanrprasad  We had a similar issues storing and moving our built assets on S3 buckets, so we moved to use EFS and mounting

The public folder needs to be persisted as removing the  static folder can cause issues as @pieh mentioned. Currently we don't check if the files exists before removing as we assume the public folder is in the same state as the previous cache build.

@pieh is this somethi

[2020-04-16 09:05] freiksenet commented on #23158
Thank you for reporting this issue!

This is usually caused by having two different version of React inside your node_modules. It could have been caused by Gatsby version update requiring newer version of React. One way to fix it is to reinstalling React so that the version of React matches alongside the project.

[2020-04-16 09:05] maxkoretskyi commented on #23051
@Js-Brecht appreciate your help!

I tried your suggestions and it seemed like pretty minor change that could work.
However, while exploring your solution I discovered that `onRouteUpdate` [receives lots of useful API](https://github.com/gatsbyjs/gatsby/blob/49fd769f695ccfa6e990e3eaae7c886f073db19b/packages/gatsby/cache-dir/api-runner-browser.js#L33), particularly `loadPageSync` that I can use to r

[2020-04-16 09:08] freiksenet commented on #23164
[code]

[2020-04-16 09:28] freiksenet commented on #23092
We automatically fetch Gatsby plugins from npm, it's currently not possible to remove a plugin from the list.

[2020-04-16 09:28] #23092 closed

[2020-04-16 09:31] freiksenet commented on #22884
You can't get a data for a child page that you are rendering inside the layout - you should include Hero component in your actual pages if you want to use frontmatter data from them.

[2020-04-16 09:31] #22884 closed

[2020-04-16 09:32] freiksenet commented on #23165
Page should be interactive even when links are loading - do you have a reproduction where you have interactivity problem because of link preloading?

[2020-04-16 09:37] jdwillemse opened #23166 "Prevent primary links from changing scroll position"
## Summary
I'm trying to manually control the scroll position in order to facilitate page transitions.

## Relevant information
I'm using Framer motion to transition pages as per [this example](https://github.com/ryanwiemer/gatsby-using-page-transitions).

I prevent scroll in the gatsby-browser file, but some of my links still jump the page to the top.
[code]
I found a [reference](https://github.c

[2020-04-16 09:53] freiksenet commented on #22818
That's a good idea. Currently there is no way to do it. It's also complicated by the fact that `gatsby-ssr` happens in React land, while `gatsby-node` happens in node land. It could be possible to pass reporter there. However it needs to work also in develop, which doesn't go through SSR, but is rendered on client.

At this moment, I feel it's too much work for a not very common use case, so we ar

[2020-04-16 09:53] #22818 closed

[2020-04-16 09:57] freiksenet commented on #22765
Unfortunately we don't support filtering on Unions and Interfaces at this moment. It could be a very confusing behaviour for fields that only exist on some interfaces.

I'll assign @smthomas who is working on Drupal plugin, maybe he has a workaround for it.

[2020-04-16 10:22] freiksenet commented on #22682
Hello David!

This would require quite a lot of changes to Gatsby to work. I don't think we would be working on this in near future. I think your best bet right now is generating it in postBuild - after all you have access to GraphQL there. It should also be possible to extract it to plugin that is similar to gatsby-plugin-sitemap. It's also possible to generate headers there that will be picked u

[2020-04-16 10:22] #22682 closed

[2020-04-16 10:47] #17865 closed

[2020-04-16 11:20] signorekai commented on #10347
Is there any kind of temporary solution to this issue?

[2020-04-16 11:30] freiksenet commented on #23098
Closing as duplicate of #21825.

[2020-04-16 11:30] #23098 closed

[2020-04-16 11:35] freiksenet commented on #22715
It's not possible to change this behavior because .html files are a product of running React code in the .js bundles. I recommend not using base64 images if you are worried about their size and to use external images instead.

You can also configure gatsby-image to not include base64 images by changing the fragment that you are using, this will also eliminate the fade-in effect.

[2020-04-16 11:35] #22715 closed

[2020-04-16 11:39] freiksenet commented on #20764
Closing this as it's marked as done.

[2020-04-16 11:39] #20764 closed

[2020-04-16 11:39] amaan-nadeem opened #23167 "Can not be able to query data properly with nested reference field filtration"
## Description

When i'm trying to query the data from nested reference field while hitting the url of the page which is dynamically created through create pages it shows awkward behaviour. Sometime it query properly but sometime it doesn't work.

`couponCards: allContentfulCouponCard(
      filter: { storeReference: { category: { eq: $categoryTitle } } }
    ) {
      edges {
        node {

[2020-04-16 11:41] freiksenet commented on #19831
Closing because it has been done.

[2020-04-16 11:41] #19831 closed

[2020-04-16 11:45] freiksenet commented on #23167
Hi @amaan-nadeem!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provi

[2020-04-16 11:47] signorekai commented on #10347
For anyone who's facing issue with this, a temporary fix is to limit the concurrent image download that GatsbyJS opens.

Example `package.json`:
[code]

[2020-04-16 11:51] blainekasten commented on #23166
Hey @jdwillemse !

Yeah, I think there is probably a current limitation here. I'm suspecting this is coming from reach focusing on the accessibility wrapper component (which then scrolls to the focused element).

Are you creating like a single page site where links scroll to different sections? or what's the use case?

[2020-04-16 12:02] pieh commented on #22907
Ah yeah, we could do that for sure

The difficult part will be documenting this - as soon as start selectively restore `public` directory - the deployement to CDN will also need to be pretty custom - so you wouldn't be able to use something like `netlify deploy <public_dir>` (I don't remember exact command - just the commands that takes care of adding/removing/updating assets on CDN automatically

[2020-04-16 12:03] #21739 closed

[2020-04-16 12:03] #20705 closed

[2020-04-16 12:39] danieltott opened #23171 "[gatsby-plugin-mdx] MDXRenderer creates "Unreachable code after return statement" warning in firefox console"
## Description

When using `MDXRenderer` from `gatsby-plugin-mdx`, firefox throws a warning in Firefox, both in develop and production.

[code]

This results in the following warning in Firefox console:

[code]

### Steps to reproduce

I created [this mdx blog starter](https://github.com/danieltott/gatsby-mdx-blog-starter-project) to reproduce.

It is [deployed to netlify](https://vigilant-booth-5

[2020-04-16 12:53] vladar commented on #20000
CC @mathieudutour

[2020-04-16 13:14] laurieontech commented on #23147
Thanks. We're aware of this one and working on it!

[2020-04-16 13:20] wodin commented on #8019
Ah! It's not perfect, but it's vastly improved.

Since the `/docs/deploy-gatsby/` link no longer exists, you can test here:
https://www.gatsbyjs.org/docs/gatsby-config/

To see how it's supposed to work, open the following HTML file in a browser:
[scroll-test.html.zip](https://github.com/gatsbyjs/gatsby/files/4486870/scroll-test.html.zip)
(I had to zip it to appease GitHub)

On the `gatsby-config`

[2020-04-16 13:20] jarkkosyrjala commented on #15189
This seems to be working correctly with gatsby-image 2.3.2.
Fixed in  #19887 and/or #21431 I guess.

Thanks 👍

[2020-04-16 14:00] nandorojo commented on #14245
Yeah, this problem still happens for me, too. There is no fragment for Contentful that has `tracedSVG`, and the `traceSVG` argument doesn't exist for contentful.

[2020-04-16 14:06] jdwillemse commented on #23166
I'm trying to create page transitions but the page jumps to the top before the exit animation is done.

Do you have any suggestions for a workaround? I currently dropped the exit animation and only have an enter one but this is not really satisfactory.

[2020-04-16 14:47] ergunpp opened #23181 "SVG is always set to 300x150 in GatsbyJs Bootstrap application"
I am trying to use an svg image in the navbar-header brand section, but the svg is always sized to 300x150 even if the image itself is just 20x16. I am using gastrapp theme in gatsbyjs. My code is:

[code]

and the SVG component is as follows:

[code]

I am trying to have the logo aligned with the rest of the nav-bar.

Thanks,

[2020-04-16 15:56] thomasledoux1 opened #23186 "Gatsby Cloud not updating after publish ContentStack with Webhook"
## Summary
I have set up a Preview environment on Gatsby Cloud, and a Preview environment on ContentStack.
I configured the environment variables correctly, and everything is working correctly, except for the Webhook.
I was expecting my Preview website on Gatsby Cloud to update the component for which I did a content change in ContentStack (on the Preview environment), but there is no change comin

[2020-04-16 16:13] Js-Brecht commented on #23051
Yes, I mentioned in my last post that the plugin's `onRouteUpdate` will always be called before your own.

I can't think of any reason off the top of my head why that would be an issue.  IIRC, that method accesses a cache that is populated when the resources are fetched in the first place, so I don't think it would be any additional overhead.

I was under the impression that the call that `gatsby-

[2020-04-16 17:59] shrthnd commented on #19734
@jasonbahl is this still an issue?

For what it's worth, here's a link to a docker + docker-compose boilerplate I use for rapid wordpress development: https://gitlab.com/helpful.dev/docker-wordpress

Image/container-wise this relies on php7fpm-alpine, mariadb, and an extra nginx-alpine container to save about ~100mb between the standard wordpress + mysql images. It also works well in production be

[2020-04-16 18:09] laurieontech commented on #22635
You're not the first person to come across this error! (I've done it more than a few times).
I'm going to close this as solved. But I'll definitely note the potential for error improvement here!

[2020-04-16 18:09] #22635 closed

[2020-04-16 18:13] #16944 closed

[2020-04-16 18:18] maxkoretskyi commented on #23051
I initially intended to make the solution generic so that anyone can add custom variables to GA through the plugin. That would probably require passing a function that takes API and returns a set of variables to set on GA object. But you said a function can't be passed to a plugin b/c of serialization.

For my case, it's OK to set the variable in my project's `gatsby-browser` file, b/c GA is avail

[2020-04-16 18:38] dmitriyaa commented on #21705
@tesseralis, I've just added tests to the PR, could you please have a look?
It's my first experience writing test, would love some feedback. I know the code appeared to be pretty repetitive since we have 3 similar cases. Do you know some better options? Should I move common login into a separate function?
[https://github.com/gatsbyjs/gatsby/pull/23040](https://github.com/gatsbyjs/gatsby/pull/23040

[2020-04-16 18:44] Js-Brecht commented on #23051
It's possible if you make the function accessible through a module.  You would pass only the path to the module through the plugin options, and then just `require()` that plugin from the plugin side.  Its easiest when the module exposes the desired function as the default export.

[2020-04-16 18:45] nextriot opened #23194 "gatsby-plugin-mdx doesn't find local plugins?"
Is this expected? Known issue?

[code]

[2020-04-16 18:57] gojutin commented on #22248
I didn't know you could provide a frontmatter excerpt. Thanks for the response.

[2020-04-16 19:19] crock commented on #22991
The docs link in the OP is a 404. https://github.com/gatsbyjs/gatsby/blob/add-recipes/packages/gatsby/src/recipes/README.md

[2020-04-16 19:30] Paelsis commented on #16969
Happens to me as well, I cannot get the blog to work without the gyp ERR and I have the latest version of OS-X, just upgraded.

[2020-04-16 20:07] Khaledgarbaya commented on #22991
Just create a tailwindcss recipe, works like a charm
https://gist.github.com/Khaledgarbaya/c2c3b5096c757df27421fc7280d689cf

Looking forward to the ability to add options in `<GatsbyPlugin/>`

[2020-04-16 20:11] shicholas commented on #21263
I've been getting this error too trying to create dynamic client-side routes using Reach Router (fixed to version 1.2.1 to address other comments in this thread.

I pushed https://github.com/gatsbyjs/gatsby/pull/23196 as a potential fix to this nullcheck.

[2020-04-16 20:29] laurieontech commented on #22991
@crock The README is here: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-recipes

[2020-04-16 20:30] Khaledgarbaya commented on #22991
I started working on a Contentful recipe.
https://gist.github.com/Khaledgarbaya/5106552d3142181a7110e44706ee4ced

This will not work currently since options prop is not available yet

[2020-04-16 20:32] johno commented on #22991
We should be landing options support for plugins in the next few days @Khaledgarbaya!

[2020-04-16 20:33] Khaledgarbaya commented on #22991
Awesome @johno let me know if you need a hand

[2020-04-16 20:47] pavelloz commented on #1878
It would be great if there was an option to control output for at least html vs assets files.
I think it would be helpful to keep assets like css/js/fonts in a separate directory inside `public/` folder.
They often are moved to CDN (at least in my experience) and it would be much easier to have them grouped + properly configured urls with assetPrefix. This would remove a lot of post-build scriptin

[2020-04-16 20:48] manishsundriyal commented on #23147
Is anyone working on it? If not then I might give it a try.

[2020-04-16 20:50] lannonbr opened #23197 "[www] Found outdated section in Themes docs"
## Description

The page "Converting a Starter to a Theme" has a section on [Sourcing Pages](https://www.gatsbyjs.org/docs/themes/converting-a-starter/#sourcing-pages). This is no longer relevant as it is built into Gatsby core with this PR #16698

[2020-04-16 20:56] dan2k3k4 commented on #22991
Maybe I'm doing something wrong but I keep getting:
`There was a problem loading the local recipes command. Gatsby may not be installed in your site's "node_modules" directory. Perhaps you need to run "npm install"? You might need to delete your "package-lock.json" as well.`

I have `npm i -g gatsby-cli@latest` (I tried with yarn before but still same error):
[code]

[2020-04-16 21:00] Funkh0user commented on #23162
yeah I'm an idiot, thought I had already :(. anyway, post updated with the whole repo. i'm working on creating a minimal reproduction repository (its a really small project though so maybe someone looks into it anyway, but i'm working on the minimal repo.....)

the whole repo is here, and its a small project right now. If it needs to be a

[2020-04-16 21:03] johno commented on #22991
@dan2k3k4 you'll need to bump your Gatsby version to `2.20.23`. I _believe_ that should fix it for you.

[2020-04-16 21:08] dan2k3k4 commented on #22991
@johno thanks! That works. Not sure if we should mention that in the documentation? I followed the steps in: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-recipes#running-an-example-recipe

[2020-04-16 21:09] aesthytik opened #23200 "onClick is not working in production mode on buttons and elsewhere."
## Description

onClick event is not triggered in my gatsby build. Everything works fine in development mode. I tried deleting cache and public folder, nothing works

### Steps to reproduce

Create a button and add console.log("test") to onClick. works on development but no console is shown in production

### Expected result

onClick should works

### Actual result

Nothing is triggered on click

[2020-04-16 21:15] dan2k3k4 commented on #22991
As all "Gatsby Starters" would need to be bumped to at least `2.20.23` to support `recipes`. The global version of the `gatsby-cli` seems to try to read from the local `gatsby` version.

Perhaps it's just updating `package-lock.json` and `yarn.lock` files for the starters?

[2020-04-16 21:16] otherjohn opened #23202 "gatsby recipes gives me Error: No valid exports main found for '/Users/John/node_modules/@urql/core'"
## Description

When running `gatsby recipes` I get the following:
[code]

### Steps to reproduce

1. `npm install -g gatsby-cli@latest`
2. `npm install gatsby@latest`
3. `gatsby new www https://github.com/gatsbyjs/gatsby-starter-hello-world`
4. `cd www`
5. `gatsby recipes`

### Environment

System:
    OS: macOS 10.15.4
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Shell: 5.7.1 -

[2020-04-16 21:39] akilicarslan commented on #19618
Check this solution.
https://github.com/gatsbyjs/gatsby/issues/11461#issuecomment-459732145

[2020-04-16 21:42] SamIngram96 opened #23203 "Can you access body html elements before its written to files?"
sources we've used:
  - https://www.gatsbyjs.org/docs/page-creation/
  - https://www.gatsbyjs.org/docs/creating-and-modifying-pages/
  - https://www.gatsbyjs.org/docs/ssr-apis/
  - https://www.gatsbyjs.org/docs/node-apis/

## Summary
We are trying to create a gatsby theme that programmatically searches the DOM for certain html elements ('h1' tags, etc...), so we can decorate (add attributes to) th

[2020-04-16 21:48] jeffbarg commented on #23202
Have the same issue here!

[2020-04-16 21:48] JCachada opened #23204 "Dynamically rendered component in static pages only works in dev environment"
## Summary

Using Theme-UI and gatsbyjs, I'm attempting to have a button on my website that, when clicked, cycles between three color schemes. The button's implementation works only on the development environment (gatsby develop) and not in production (gatsby serve). I suspect this is because gatsby is generating the static content on build time and I can't properly update "state" on the component

[2020-04-16 21:54] LekoArts commented on #23202
Node 13 isn't currently working and a known issue (mentioned here: https://github.com/gatsbyjs/gatsby/issues/22991). Please stick to the umbrella issue, thanks!

[2020-04-16 21:54] #23202 closed

[2020-04-16 21:57] jamestharpe commented on #3721
Agreed, this issue should be open. It is hard to debug a path-prefix issue if you can't run it with path-prefix.

[2020-04-16 22:04] sharanrprasad commented on #22907
@StuartRayson Thank you for the reply. I will try with EFS. The above mentioned fix would be really great for huge sites like ours.

[2020-04-16 22:11] joe-avalos commented on #18418
Not sure if this helps anyone but I solved this issue by changing the name of my content models.
I had (first letter lowercase and camelcase):
exampleItem
exampleProduct
Changed it to (capitalized camelcase):
ExampleItem
ExampleProduct

I think this has something to do with the space having the same name as the Contentful "Content Type Id" which had a lowercase first letter for the camelcase namin

[2020-04-16 22:58] antoinerousseau commented on #19618
I don't use `gatsby-plugin-offline` so there are no service workers.

[2020-04-16 23:01] dan2k3k4 commented on #22991
I just added PR #23205 - I did glance over the documentation on [how to contribute](https://www.gatsbyjs.org/contributing/code-contributions/) but was not sure what to do in the case of a small typo, especially for something "brand new" which I assume is currently being refactored for the next iteration.

[2020-04-16 23:04] colbyfayock commented on #22991
not sure if this belongs here given its the README but on:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-recipes/README.md

an example uses
[code]

but doesn't mention upgrading gatsby in that starter. it fails when running `yarn` at least (similar to the above), but upgrading gatsby in that starter works to fix it

might be helpful to update in that starter as people start runnin

[2020-04-16 23:36] Wandersonelias commented on #1767
nesse link abaixo tem uma solução que me ajudou

https://peterthaleikis.com/posts/how-to-fix-throw-er-unhandled-error-event.html

[2020-04-16 23:40] tesseralis commented on #21533
@pieh this seems to be fixed as of #23159, so I think this can be closed (unless you want to do some more detailed profiling).

[2020-04-17 00:14] colbyfayock commented on #22991
Created a React Leaflet recipe :) https://github.com/colbyfayock/gatsby-recipe-react-leaflet

One thing that could be neat is the ability to locally reference files within a repo. So my example above, I would love if inside of my [recipe file](https://raw.githubusercontent.com/colbyfayock/gatsby-recipe-react-leaflet/master/react-leaflet.mdx), I could do:
[code]
instead of requiring the URL:
[code]

[2020-04-17 00:34] #15189 closed

[2020-04-17 00:37] Dave-Lindberg commented on #23158
Thanks for the feedback.

When I first create a new site, my node_modules directory contains React (just one version), and the  package.json calls for `"react": "^16.12.0",` as a dependency.

After installing WPGraphQL, react is no longer in my node_modules directory:

![Screen Shot 2020-04-16 at 8 35 09 PM](https://user-images.githubusercontent.com/40928208/79519409-cb38e100-8021-11ea-9366-ceb80f

[2020-04-17 01:14] KyleAMathews commented on #22991
@colbyfayock yeah I forgot that our starters don't get auto-updated (for reasons) right now — I'm working to upgrade all of them

[2020-04-17 01:55] KyleAMathews commented on #22991
Bumped all the starter versions https://github.com/gatsbyjs/gatsby/pull/23208/

[2020-04-17 02:06] KyleAMathews commented on #22991
@colbyfayock yeah definitely. We could and probably will add support for that. The reason we've gone with urls initially is for ease of sharing. Some sort of packaging step would also solve this problem.

[2020-04-17 02:14] blainekasten commented on #21995
Hello everyone!

Just wanted to drop in and say a HUUUUUUGE thank you! The response from the community has been amazing and (a little) overwhelming 😅. But keep it coming! Ya'll are invaluable and speeding up this conversion 100x.

- To those who have submitted PR's, thank you!
- To those who's PRs have not yet been reviewed, we will get there! Some take more work than others and we have a lot to w

[2020-04-17 02:42] dan2k3k4 commented on #22991
Can recipes depend on other recipes?

[2020-04-17 02:49] aslkami opened #23210 "gatsby npm install wrong"
cwebp-bin@5.1.0 postinstall E:\demo\gatsby_blog\node_modules\cwebp-bin
  ‼ getaddrinfo ENOENT raw.githubusercontent.com
  ‼ cwebp pre-build test failed
  i compiling from source

mozjpeg@6.0.1 postinstall E:\demo\gatsby_blog\node_modules\mozjpeg
  ‼ getaddrinfo ENOENT raw.githubusercontent.com
  ‼ mozjpeg pre-build test failed
  i compiling from source

### Expected result

npm install sucessfully

[2020-04-17 04:09] KyleAMathews commented on #22991
@dan2k3k4 yup! It's not quite ready for primetime but @johno has been adding the ability for recipes to import other recipes. We'll post here once that's in & documented but basically it'll look like:

[code]

There's open questions around how the UI would work for running a composed recipe like this but it's really promising.

[2020-04-17 04:33] ferreiro opened #23212 "Gatbsy is breaking the styles when having two components rendering in the same page"
## Description

### Context of the problem

I'm building an [application](http://developersindepth.com/) using Gatsby, Firebase and Emotion for CSS-in-JS. Since it's not yet launched, the app is blocking users to access the website, and they are prompt with a *signup form*.

However, when the user has a valid access token (so they can access the beta version), Gatbsy is rendering the real website

[2020-04-17 04:36] jackieluc commented on #6491
@MrUltimiate This happened to me recently as well (after I was updating package dependencies). I fixed it with the following steps:

1. `rm -rf node_modules/`
2. `rm package-lock.json`
3. Update any of the following packages (ie. `npm install gatsby-plugin-sharp`) that you are using in your project. The list of plugins depend on the `sharp` package and was provided by the troubleshooting section o

[2020-04-17 04:48] shennan opened #23213 "docs: Add short detailed explanation why browser globals are not available"
## Summary

Find a way around denying application writers the ability to use browser globals (e.g `window`, `document`) freely without suffering errors/warnings.

### Motivation

As outlined in [Debugging HTML](https://www.gatsbyjs.org/docs/debugging-html-builds/), Gatsby suffers an unusual quirk in that it doesn't allow the use of browser globals without a logical check to see if they exist first

[2020-04-17 05:44] markm commented on #22991
Hi, thanks this is cool, but I'm getting this error:

"{\"message\":\"Command failed with ENOENT: yarn add -W typescript@latest\\nspawn yarn ENOENT\",\"installationError\":\"Could not install package\"}"

[2020-04-17 06:28] ochronus opened #23214 "TypeError: Cannot read property 'activities' of undefined in yoga-layout-prebuilt"
## Description

gatsby build and gatsby develop both throw the error above.

### Steps to reproduce

git checkout
npm i
 ./node_modules/.bin/gatsby develop or  ./node_modules/.bin/gatsby build
https://github.com/ochronus/ochronus.online-gatsby

### Expected result

Gatsby should build the site

### Actual result

Gatsby threw an error

### Environment

[code]

[2020-04-17 07:39] mhelmer commented on #23214
It seems like we are hitting similar issues on `gatsby-cli-2.11.9` (upgrading from 2.11.5).

Getting the following stacktrace on `gatsby develop`:

[code]

[2020-04-17 07:46] mikerkeating commented on #17535
For anyone searching: I used `gatsby clean` as @LekoArts suggested.

The problem was caused by unpublishing and deleting content in Contentful. It seems the local cache expected it to be there and threw the error.

My error messages were:

`UNHANDLED REJECTION Encountered an error trying to infer a GraphQL type for: `blog post___NODE`. There is no corresponding node with the `id` field matching: "

[2020-04-17 07:49] LekoArts opened #23215 "docs: Fix "Porting from CRA to Gatsby" provider section"
## Summary

https://www.gatsbyjs.org/docs/porting-from-create-react-app-to-gatsby/#context-providers explains how to add a site-wide provider wrapper. The problem is that it only tells you to add stuff to `gatsby-browser.js`. In the past we've seen that this can create rehydration problems if the code isn't copied over to `gatsby-ssr.js`, too.

https://www.gatsbyjs.org/docs/ssr-apis/#wrapRootEleme

[2020-04-17 07:57] LekoArts commented on #23213
Thanks for the issue!

This is not Gatsby specific at all, everything that runs in a Node process or does SSR if you will suffers from that (e.g. Next.js too).

That depends on the libraries, most of the popular libraries handle SSR now.

This is tracked here: https://github.com/gatsbyjs/gatsby/issues/10706

Thus I edited your title so that we can get a little explanation at the bottom in.

[2020-04-17 08:03] LekoArts commented on #14161
My colleague @pieh will comment soon and explain in more detail why this isn't straight-forward at all and why we still don't want to support it (the "technically possible" solutions are subpar and we don't want to give that experience to people).

[2020-04-17 08:07] LekoArts commented on #23186
Hi!

Please use the little "Help" button at the top right or support@gatsbyjs.com for help about Gatsby Cloud. Thanks!

![image](https://user-images.githubusercontent.com/16143594/79546769-41c1f700-8093-11ea-8726-e11de10dc91a.png)

[2020-04-17 08:07] #23186 closed

[2020-04-17 08:10] Steffi3rd opened #23216 "Why my code is not minified on production? I can see my entire React code"
## Summary

I just realized that my files are entire visible when console.log is display. (Yeah it was a mistake for the log) but even that, IMO it doesn't seem good to see my entire React code not minified.

Is that normal ?
Do I miss an option when building?

In case it's normal, how to minife/hide that?

## Relevant information

Here is a screenshot for production.
Accessible via Chrome > Sourc

[2020-04-17 08:14] LekoArts commented on #23212
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-04-17 08:16] wardpeet commented on #23216
@Steffi3rd what command did you run to build your site? `gatsby build`? It should minify everything, can you try opening the file in your browser through view source?
`view-source:<URL to file>`. Gatsby uses sourcemaps to prettify your code so you can easily debug when using devtools, this has no performance implications for normal users.

[2020-04-17 08:21] LekoArts commented on #23214
Thank you for opening this!

You shouldn't install `gatsby-cli` in your Gatsby project as it's not necessary. If you have the CLI globally installed and run `gatsby develop` inside a project it will use the local copy of the package. If you have not installed it globally you can use npm scripts.

I cloned your repository, removed the `gatsby-cli` dependency and package-lock.json file and run a `np

[2020-04-17 08:21] #23214 closed

[2020-04-17 08:31] wardpeet commented on #23210
@aslkami can you show us more info about your env and your website?

[code]

[2020-04-17 08:37] kerembaydogan commented on #14161
**"the "technically possible" solutions are subpar and we don't want to give that experience to people"**

I think the current experience is not good either. Just to move our site from root to a subfolder or vice versa, we have to do a full rebuild.

[2020-04-17 08:37] Steffi3rd commented on #23216
To build :

[code]

View Source :

[code]

View Source displayed HTML/CSS minified content. It's good here.
I'm talking about React code for not normal users but (dev) users who are looking JS.

IMO, in production, React code shouldn't visible as the same as I see it in VS Code...
I think it should be minified or compiled, I don't know.

Do you understand what I mean or it's not a big deal?

Becau

[2020-04-17 08:40] Steffi3rd commented on #23216
Or the solution is to not use "console.log" in production. So that way, (dev) users cannot find **easily** the pretty React code?

[2020-04-17 08:47] ParadoxMH commented on #23062
I have the same issue after update [graphql](https://github.com/graphql/graphql-js/releases/tag/v15.0.0) to 15.0.0
@jack0wsky have you found a solution?

[2020-04-17 08:49] jack0wsky commented on #23062
No, uninstalled Apollo and refused to solve it :/

[2020-04-17 08:50] wardpeet commented on #23203
Can you elaborate a bit on what attributes you're talking about? There are a few options but they are really advanced, like adding your own React.createElement wrapper, ....

Would listening on postBuild work and change the already written files to disk?
**note: this hasn't been tested**
[code]

[2020-04-17 08:56] ochronus commented on #23214
Oh, sorry for the false alarm and thank you for the quick reply!
The error is gone now after removing gatsby-cli from the dependencies.

[2020-04-17 08:57] wardpeet commented on #23197
Thanks @lannonbr for opening this.

How to fix:
1. Open `https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/themes/converting-a-starter.md` in your editor
1. Change the content of the file, something along these lines
[code]

[2020-04-17 09:06] aslkami commented on #23210
when i ran  `npm i` , it show
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated @types/vfile-message@2.0.0: This i

[2020-04-17 09:09] aslkami commented on #23210
I wanna reinstall the node_module, and it failed, And I try to gatsby new blog, it had same problem
I could not install successfully!  But it works 2 days ago
I don't know why.

[2020-04-17 09:16] aslkami commented on #23210
here are my dependences
"dependencies": {
    "gatsby": "^2.20.12",
    "gatsby-image": "^2.3.1",
    "gatsby-plugin-manifest": "^2.3.3",
    "gatsby-plugin-offline": "^3.1.2",
    "gatsby-plugin-react-helmet": "^3.2.1",
    "gatsby-plugin-sharp": "^2.5.3",
    "gatsby-remark-images": "^3.2.2",
    "gatsby-remark-relative-images": "^0.3.0",
    "gatsby-source-contentful": "^2.2.7",
    "gatsby-sou

[2020-04-17 09:21] wardpeet commented on #23204
Hey, I checked your website and theme-ui starts with a default theme. More info here `https://theme-ui.com/color-modes/`

I didn't saw a difference between develop & build for me. It didn't work on either.

How to fix your bug:
1. open up `src/components/change-theme-button.js` and move all variables of dark out of the theme-ui config.
[code]
2. replace all "dark" color-modes to "default"
[code]

[2020-04-17 09:21] wardpeet commented on #23204
Thank you for opening this, @JCachada

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-04-17 09:21] #23204 closed

[2020-04-17 09:22] rroslaniec commented on #23214
In my company we got also problem with that error.
It was solved by update all packages related with gatsby to the newest versions.

[2020-04-17 09:22] wardpeet commented on #23200
Hi @aesthytik!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reprodu

[2020-04-17 09:27] wardpeet commented on #23194
Hey @nextriot, it's more like a feature request. This can be handled by gatsby-plugin-mdx.

We're happy to get pull requests.

[2020-04-17 09:32] wardpeet commented on #23181
Hey @ergunpp,

This doesn't look like a Gatsby issue. Creating a proper reproduction might help us solve your issue. If you can get it working on https://codesandbox.io/s/new with React, it will work with Gatsby.

However, I think you'll get a faster response in our discord channel
https://discordapp.com/invite/br9rbUE

[2020-04-17 09:35] wardpeet commented on #23165
@kuworking Prefetch shouldn't necessary slow down your page load as it's prioritized low by the browser. However, they can interfere with resources embedded in the react tree.

This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/12850. I'll be closing this one. Thank you for opening!

[2020-04-17 09:35] #23165 closed

[2020-04-17 10:07] Kikobeats opened #23221 "gatsby@20.x slower webpack than @19.x"
### Description

`gatsby@20` take too much time under `gatsby build` command.

**gatsby@19**

- Build time: 5m 48s. Total deploy time: 9m 9s
- [Build trace](https://gist.github.com/Kikobeats/176182aea00941516ec160bee693f00b#file-gatsby-19)

**gatsby@20**

- Build time: +15m. (The build exceeded Netlify max bundle time)
- [Build trace](https://gist.github.com/Kikobeats/176182aea00941516ec160bee693f

[2020-04-17 10:22] JCachada commented on #23204
@wardpeet This is not the case/problem. If you'll notice in my project, I shadow theme-ui settings at src/gatsby-plugin-theme-ui/index.js and assign the proper "dark" name to the default theme. You can see this here: https://github.com/JCachada/personal-website-dev/blob/master/src/gatsby-plugin-theme-ui/index.js

I'm also puzzled that you didn't manage to reproduce the behavior. If I run `gatsby d

[2020-04-17 10:37] johnmikel opened #23222 "Slow page renders (probably because of page-data.json) on Gatsby app hosted in Netlify"
## Summary
Slow page renders (probably because of page-data.json) on Gatsby app hosted in Netlify

## Relevant information

I've built a web app using Gatsby over at https://polee.co. For some reason, the pages are loading slowly. Checking the network tab (I'm using Chrome), the page-data.json files take too much time to load upon navigation. I don't know where to start to troubleshoot this. I've

[2020-04-17 10:40] MarcMcIntosh commented on #22919
@pieh
Will the integration and end-to-end tests be able to detect what packages will be impacted by any changes to `babel-plugin-remove-graphql-queries`?

[2020-04-17 10:45] mhelmer commented on #23214
Thanks for the quick reply!

Personally I think that installing a project specific CLI into global `node_modules` is bad practice. When a project depends on a CLI for build/dev I will usually add it to `devDependencies` and have rarely ran into issues doing so. Anyhow since it's listed in `gatsby` `dependencies` it will be pulled in when installing `gatsby` as you say. Hwoever, I believe it could

[2020-04-17 10:53] mhelmer commented on #23214
@LekoArts : Furthermore, if a patch version och `gatsby-cli` breaks `gatsby` then that is not a patch upgrade but a breaking change.

[2020-04-17 11:11] JustFly1984 commented on #23181
@ergunpp @wardpeet
`<svg />` do not have dimensions by default, and since it is not technically html element.
it has no class attribute on prototype. You need to wrap each `svg` with `div` and style this `div` to correct svg viewbox proportions, with media queries if required.

Ideally by default `svg` tag somewhere in reset css should be like this:

[code]

300 x 150 is default svg sizes in brows

[2020-04-17 11:57] pieh commented on #14161
Ok, so bit of problems are outlined in https://github.com/gatsbyjs/gatsby/issues/10086#issuecomment-441216830

Not only `gatsby-link` would need to handle this, but any resource that is being loaded would need too:
this includes `<script>`, `<link>`, etc. As mentioned in my the linked comment - this can be done "easily" for .html files as well as in the runtime using "On the fly" publicpath ( http

[2020-04-17 12:02] #21493 closed

[2020-04-17 12:05] laurieontech commented on #23147
I believe @DSchau is?

[2020-04-17 12:15] wardpeet commented on #23171
@danieltott Thanks for creating this issue. This seems indeed odd. I'll let the mdx folks know and see what they say.

[2020-04-17 12:19] wardpeet commented on #23158
@Dave-Lindberg this doesn't fix the bug completely bug could you try installing with yarn?

First, remove your node_modules and try to run `yarn`, please let us know if this fixed your issue. If so then I know what the issue is and how we can solve it.

Thanks a ton!

[2020-04-17 12:21] wardpeet commented on #23147
I believe we want to fix this internally as we're aware of the issue and have ideas on how to solve it.

[2020-04-17 12:22] #22962 closed

[2020-04-17 12:26] wardpeet commented on #23147
Yes @DSchau is #23207

[2020-04-17 13:12] wardpeet commented on #23221
Thank you! Seems like build-javascript is the problem here if I look closely. I can have a look at why that's happening. We changed bundling in a 2.20.7

I'll checkout your github repo: `git clone git@github.com:microlinkhq/www.git`

[2020-04-17 13:14] melpers opened #23226 "Schema Customization for gatsby-transformer-csv & gatsby-transformer-json"
## Description

Neither gatsby-transformer-csv nor gatsby-transformer-json honor Schema Customization.

Also, there is inconsistent inference of fields for these 2 transformers.

![gatsby-csv-issue](https://user-images.githubusercontent.com/2036240/79572927-c1e45e80-808b-11ea-8f9d-a6fccbacc2b7.jpg)

### Steps to reproduce

1. Install the Gatsby starter.
2. Install & configure both gatsby-transform

[2020-04-17 13:14] wardpeet commented on #23216
@Steffi3rd can you send you your site to me? Perhaps over email ? ward@gatsbyjs.com

[2020-04-17 13:15] abmagil commented on #23203
Hi @wardpeet - I've been working with Sam on this problem and our thinking was that there would be a moment in the build when we would have access to some sort of data structure that we could manipulate before things are written to disk.

The context is that we're trying to decorate the `elementtiming` attribute into our page but the pages are built using third party components that we don't contr

[2020-04-17 13:34] shennan commented on #23213
Thanks for a quick response. And good to see there is an issue tracked on the last point.

I understand that Node errors out on Browser-specific global variables, but from a user experience perspective it's disappointing that I must adjust code that is destined for the browser to account for this "gotcha". I expect the code itself to be fully replicated in the browser, and I don't expect the mangl

[2020-04-17 13:37] dan2k3k4 commented on #22991
Anyone else getting when selecting a recipe? e.g. `gatsby recipes emotion`:
[code]

[2020-04-17 13:37] crock commented on #22991
I forked @Khaledgarbaya's TailwindCSS recipe to make one for [TailwindUI](https://tailwindui.com).
https://gist.github.com/crock/67dccc607bb3306bb257d7bc29eddd07

[2020-04-17 13:40] danieltott opened #23227 "[gatsby-plugin-mdx] defaultLayouts not being applied"
## Description

I hope this is my doing something wrong but I really can't figure it out.

I'm trying to use [`defaultLayouts`](https://www.gatsbyjs.org/packages/gatsby-plugin-mdx/#default-layouts) for mdx and they're not being applied. Exporting a layout directly in the mdx file is working fine.

Here is the lines in `gatsby-config`:

https://github.com/danieltott/gatsby-mdx-blog-starter-project/

[2020-04-17 13:41] Geeman201 commented on #22634
Thanks @vladar..

We have a similar requirement to the above and were looking for the "correct" way to go about solving it.. Everything we've come across so far requires us do something at the point `gatsby build` is ran.

Of our setup the important part is we use the gatsby contentful plugin to pull in blog posts at build time.

We have a `dev`, `stg`, `prd` environment and we use "[GitOps](https

[2020-04-17 13:43] manish-nx commented on #23147
Thanks for the info. I will look into other issues then.

[2020-04-17 13:45] wardpeet commented on #23203
You should get the page when running `exports.onCreatePage = ({ page }) => {`. It's possible to inject context variables into the page but you won't be able to change all h1 components.

Another option is to run babel/webpack AST transformations to accomplish your tasks. Can you give a proper solution on what you're trying to do exactly? A small code snippet before & after of the actual react code

[2020-04-17 13:46] crock commented on #22991
Make sure you updated gatsby-cli
[code]

[2020-04-17 13:50] KyleAMathews commented on #22991
@markm what happens when you run `yarn add -W typescript@latest` directly in the site?

@dan2k3k4 just tried running that and it worked — try again? Perhaps it was a temporary network glitch.

[2020-04-17 13:51] dan2k3k4 commented on #22991
@KyleAMathews works now, so it was a network glitch 🤔

[2020-04-17 13:51] abmagil commented on #23203
Ah, sure. Whether JSX or HTML, what we want to do is to take

[code]

and turn it into

[code]

Perhaps I'm doing something wrong with my `onCreatePage` because when I add

[code]

to my `gatsby-node.js`, those `console.log`s never fire. That's not strictly related to the issue of rewriting HTML but is impeding my ability to report what I'm receiving.

[2020-04-17 13:56] aslkami commented on #23210
It still doesn't make sense /(ㄒoㄒ)/~~

[2020-04-17 14:00] ben-hamelin commented on #145
Just wanted to drop a note here, just needed some quick css in the head. Used:
`let css = <style dangerouslySetInnerHTML={{ __html: require('!raw-loader!./inline-styles.css') }} />

  return (
    <html {...props.htmlAttributes}>
      <head>
        <meta charSet="utf-8" />
        <meta httpEquiv="x-ua-compatible" content="ie=edge" />
        <meta
          name="viewport"
          content="wi

[2020-04-17 14:14] wardpeet commented on #23210
This is odd indeed, I installed blog starter and did not have any issues.

Perhaps reinstall windows-build tools? `npm install --global windows-build-tools`

[2020-04-17 14:20] wardpeet commented on #23203
You can use pageContext to inject variables in your page but you still have to wire them correctly. See https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#pass-context-to-pages

I don't have the full use case but I feel like the `onPostBuild` is your best bet. You can still use https://github.com/facebook/jest/tree/master/packages/jest-worker to distribute the work over cores. Also Gatsby

[2020-04-17 14:32] hartey11 opened #23231 "eslint-plugin-graphql & Gatsby"
HI, just wondering if/how I can get eslint to work with my graphQL queries in gatsby?

 I can see there's a eslint-plugin-graphql package on npm, how would this be configured to work with Gatsby?

https://www.npmjs.com/package/eslint-plugin-graphql

[2020-04-17 14:43] scottnonnenberg commented on #145
Thanks.

Seems like the build process still spends a bunch of time building all that
client-side logic? I was actually more concerned with that, with
unnecessary build time, when I made those changes back then!

On Fri, Apr 17, 2020, 7:00 AM ben-hamelin <notifications@github.com> wrote:

[2020-04-17 14:44] zachtylr21 commented on #21995
I made a PR for `babel-plugin-remove-graphql-queries/murmur.js` but I'm not sure how to get my name by the file in the description. Can anyone help with that?

[2020-04-17 14:47] wardpeet commented on #23222
Hey,

There are a few things here. I've noticed you're running Gatsby v2.13.50. I would advice upgrading to the latest version, we've don't some improvements to how we bundle things.

When looking through your bundle I saw some big libraries being used.
- axios
- @ant-design/icons
- lodash
- redux
- redux-saga
- webfontloader

They all make your initial load time slower. A few suggestions to speed

[2020-04-17 14:48] moonmeister commented on #21995
@zachtylr21 Done! Thanks for the work. Once you get that PR merged and join the gatsby org you'll be able to do it all by yourself!! :partying_face:

[2020-04-17 14:56] wardpeet commented on #23231
cc @vladar @freiksenet @pieh

[2020-04-17 15:11] vladar commented on #23231
Do you use custom ESlint configuration? I am asking because [ESLint config](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/eslint-config.ts) shipped in Gatsby by default already includes this plugin.

[2020-04-17 15:19] hartey11 commented on #23231
Yeah I've been experimenting with eslint. Here's my package.json and .eslintrc. Let me know if what I'm doing doesn't make sense!

https://github.com/hartey11/posh-wash/blob/master/package.json
https://github.com/hartey11/posh-wash/blob/master/.eslintrc

[2020-04-17 15:21] d4rekanguok commented on #23226
Hi @melpers, in `createSchemaCustomization` hook, type name has to be in title case. Also your data doesn't have `date`, but `year`:

[code]

It works properly for me after fixing these. Perhaps docs need to make this more clear?

[2020-04-17 15:23] d4rekanguok commented on #23226
I also noticed this, but I think it's due to the nature of CSV being text-based, while JSON can have numbers.

[2020-04-17 15:25] #23215 closed

[2020-04-17 15:32] melpers commented on #23226
@d4rekanguok Thank you, the title case was indeed what I missed. I had used the graphql name.

The one thing that still strikes me as unexpected is the csv transformer setting any 4-digit number to Date (unless some other pattern is seen). But since the customization addresses that I'll consider this closed.

[2020-04-17 15:32] #23226 closed

[2020-04-17 15:38] d4rekanguok commented on #23226
Np! In case you missed it, a field's type name is listed in the right sidebar in the graphql explorer:

<img width="387" alt="image" src="https://user-images.githubusercontent.com/3383539/79586903-bc7b2880-810c-11ea-9003-79bae525dca8.png">

[2020-04-17 15:40] melpers commented on #23226
@d4rekanguok Excellent, thanks again for that tidbit. That would be good to include in the documentation as well I think.

[2020-04-17 15:48] PhilippCh commented on #23214
I'm also experiencing the same issue, but only have `gatsby-cli` installed globally. Checking package.json, there's no entry for gatsby-cli there, deleting node_modules and reinstalling, also deleting package-lock.json did not bring any different results.

[2020-04-17 16:00] romarybintsev opened #23234 "Page content loaded inside a 'gatsby-announcer' div"
## Description

The project works perfectly fine in the development but after building and serving the project, the content of some pages is wrapped by a 'gatsby-announcer' div which has a 'position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0' style and therefore the content basically becomes hidden. The problem is that the page l

[2020-04-17 16:02] jbolda commented on #22991
I thought I saw mention of it, but can't find it now. Will there be support for CI, i.e. not needing the press `enter` for each section?

[2020-04-17 16:04] #14990 closed

[2020-04-17 16:07] KyleAMathews commented on #22991
@jbolda yup! That'll be reasonably easy to add. Keeping things manual for a while while we iterate on internals. Support for CI would mean we also need support for a "state file" which includes all the necessary info to run the recipes — which we'd need to version, etc. So very doable but implies a step or two up in sophistication.

[2020-04-17 16:10] AntonOtaner commented on #18226
I believe that this is a cache issue with chrome. After reading #5900, @prajapati-parth solution worked for me

This fixed the issue for me.

[2020-04-17 16:29] muescha commented on #8714
FYI:
if someone search for this - the plugin is here available:

https://github.com/edgarrmondragon/gatsby-source-sql

[2020-04-17 16:30] d4rekanguok commented on #23214
I had the same issue on gatsby@2.19.50, upgrading to latest (2.20.24) fixed it.

[2020-04-17 16:53] pmarxbraun commented on #13454
Hiya,

Any news about this concern ?
None of the above mentionned plugin work with MDX files.

Is there a way to modify default **html.js** on certain files ? because this is basically the missing **<html amp>** tag that is making impossible to turn page into AMP. If we can achieve that building page layout according to AMP guidelines will be fairly easy.

[2020-04-17 17:08] aslkami commented on #23210
‼ getaddrinfo ENOENT raw.githubusercontent.com
  ‼ cwebp pre-build test failed
  i compiling from source
  × RequestError: getaddrinfo ENOTFOUND downloads.webmproject.org
    at ClientRequest.<anonymous> (E:\demo\gatsby_blog\node_modules\download\node_modules\got\index.js:111:21)
    at Object.onceWrapper (events.js:297:20)
    at ClientRequest.emit (events.js:209:13)
    at Socket.socketErrorList

[2020-04-17 17:21] Js-Brecht opened #23236 "Potential global CSS recipe inaccuracy"
I am curious about something that stuck out as kind of odd to me.

In the [directions](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/recipes/styling-css.md#directions) for the `Using global CSS files without a Layout component` recipe, it says:

AFAIK, `gatsby-config` is not processed by Webpack.  Saying that you can `require()` your CSS in `gatsby-config` is misleading, and will actual

[2020-04-17 17:22] colbyfayock commented on #22991
im actually not sure how this works with starters and such, but how is it possible to get first class import support, ie: `gatsby recipes [name]` rather than using a link? is that only for recipes maintained inside of the gatsby repo? or is that scraped from npm? i just went with a repo called `gatsby-recipe-react-leaflet` though didn't bother pushing it out to npm as I'm not sure that would even

[2020-04-17 17:26] vladar commented on #23231
Here is a relevant section from [our default config](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/eslint-config.ts):

[code]

In your case, it is probably easier to use `schemaJson` vs `schemaString`. Docs for `eslint-plugin-graphql` contain a [dedicated section](https://www.npmjs.com/package/eslint-plugin-graphql#importing-schema-json) on how you retrieve it. Use the U

[2020-04-17 17:38] chandlervdw commented on #22419
I have this issue as well.

[2020-04-17 17:47] KyleAMathews commented on #22991
@colbyfayock yeah, leveraging existing namespaces makes a lot of sense e.g. `gatsby recipes npm://gatsby-recipe-react-leaflet` or `gatsby recipes gh://colbyfayock/gatsby-recipes-react-leaflet`, etc.

I think having our own registry makes sense too as the semantics of using/creating Recipes is different enough from regular code that doing something custom could make sense. TBD there.

[2020-04-17 18:06] KyleAMathews commented on #13454
@pmarxbraun check out this doc for creating a custom html.js https://www.gatsbyjs.org/docs/custom-html/

You can check what path is being passed in to vary the html tag.

[2020-04-17 18:21] donaldboulton commented on #23210
Forget installing Gatsby after "gatsby": "^2.19.39", Its build is for mac computers now.
They use fs and fs-events to much which is not windows installable or compatible.
This core-js stuff has gotten way out of control with no end in site, Goodby Gatsby off to Docusarus.
To may errors on gatsby-cli and gatsby over 700 errors lately, did not used to have any errors???
Try version 12.19.39

[2020-04-17 18:39] enterframe commented on #7747
+1

[2020-04-17 19:17] Js-Brecht commented on #23234
That's really bizarre!  Definitely something weird going on.  Are you able to share the repo?

[2020-04-17 19:23] romarybintsev commented on #23234
I figured it out. Changing wrapRootElement to wrapPageElement fixed it. This is what I have now in gatsby-browser.js
`export const wrapPageElement = ({ element }) => {
  return (
    <Provider store={store}>
        <NavBar />
            {element}
        <Footer />
    </Provider>
  )
}`. Still unsure why the behavior changed since everything worked perfectly fine before.

[2020-04-17 19:24] Js-Brecht commented on #23231
Hey @vladar, I have a question about using `printSchema()`:  Will that work if you are just running `eslint` on the CLI, or via something like `vscode-eslint`; or does it need an active build running?

[2020-04-17 19:31] pieh commented on #23231
There is no `http://localhost:8000/___graphql` endpoint during builds, so yeah that might not work. It might be beneficial to use custom `.eslintrc` (or different eslint config) together with something like https://github.com/NickyMeuleman/gatsby-plugin-extract-schema that writes generated schema to file (that you can reference in eslint configuration) and this would work both with build and devel

[2020-04-17 20:04] Js-Brecht commented on #23231
I tend to use [gatsby-plugin-typegen](https://www.gatsbyjs.org/packages/gatsby-plugin-typegen/) because it gives me TS types for my GraphQL queries, as well as eslint/vscode-apollo support.  It has the same shortcoming... it only generates the types/schema once, after bootstrap.  Works pretty well for me, though.

---

@pieh I don't want to sidetrack the thread; I just had a really quick question:

[2020-04-17 20:24] Js-Brecht commented on #23234
SOP is to put UI elements (like `<NavBar />` and `<Footer />` in `wrapPageElement`, and put global state components (like `<Provider>`) in `wrapRootElement`.

Basically, the root element is where the Router and other state management goes in Gatsby, so its kind of the orchestrator for the everything.  The page element is what receives/displays the actual content.

It still seems strange that your

[2020-04-17 20:34] pieh commented on #23231
We don't have public API/hooks for it, so it's not really documented. Our "Gatsby Internals" docs are both sparse and not always up to date.

I can only point you toward `SET_SCHEMA` action in gatsby internals - you could use:
[code]

But keep in mind that this is private APIs and this approach can break at any time (as a side note - plugins like `gatsby-plugin-extract-schema` or `gatsby-plugin-ty

[2020-04-17 20:49] pieh commented on #22919
Ah the error is different, but it's actually pretty similar root reason - it's just that user code expect query result output, which it doesn't get and there is no "null checking" likely in the code so it fails hard with error like that instead of displaying "placeholder".

I also was made aware of https://www.gatsbyjs.org/packages/gatsby-source-graphql-universal/#getisolatedquery which seems pret

[2020-04-17 20:58] Kadrian opened #23239 "How to initialize redux store with data from Gatsby page query?"
## Summary

How to initialize redux store with data from a Gatsby page query?

Is there a way to use the `wrapRootElement` function on ssr?

[2020-04-17 21:04] gyojir commented on #16754
I have same issue and found solution.

It is mentioned in
https://stackoverflow.com/questions/57549278/gatsby-not-inferring-graphql-field-if-all-nodes-happen-to-be-null-on-that-field
https://www.gatsbyjs.org/docs/schema-customization/#nested-types

`gatsby-node.js`
[code]

[2020-04-17 21:44] alexfornuto commented on #11243
Kudos for finding a solution. I'm running into this with `{url}` values in a mapping function, so I can't define them as a constant ahead of time. Still looking for a solution :(

[2020-04-17 21:50] Eyas commented on #13454
@pmarxbraun I'm using MDX for my site just fine. I had to:

1. Clone one of the plugins and make some local changes (I mentioned it in a previous commit)

2. Do my own helmet header for amp link

3. Use custom queries for Sitemap and RSS Feed to exclude amp pages.

[2020-04-17 21:59] Js-Brecht commented on #23239
This is how I handle that in one of the projects I'm working on:

[code]

It doesn't really do a lot at the moment, but the concept is there.

It's also possible to use hooks if you wrap it in another React component

[2020-04-17 22:00] Js-Brecht commented on #23239
I keep that `wrapRootElement` function in a separate module, because I use it the same way in both `gatsby-browser` and `gatsby-ssr`.

[2020-04-17 22:00] hal-efecan commented on #21862
Hi @madalynrose

thanks for coming back.
here's the link to the repo is https://github.com/hal-efecan/themavenist

Runs successfully during development however when i run the build script i get the below.

[code]

The error seems to originate from the
**src >components >bag** which pulls from
**src> context> cartProvider**

[code]
Seems like a similar setup to @Daavidaviid

[2020-04-17 22:03] Kadrian commented on #23239
I see. Thanks for sharing that idea! This would work if I always had the same query for many pages. But I think I'm looking more for the individual page queries.

Yes, I dispatching to the store inside of a useEffect, once the page renders, is what I'm doing right now. But then it's not on the server-side anymore :-/

[2020-04-17 22:03] Js-Brecht commented on #23239
Why are you doing it inside of `useEffect()`?

[2020-04-17 22:05] Kadrian commented on #23239
Where else would I dispatch an action from the page?

[2020-04-17 22:12] Js-Brecht commented on #23239
What kind of action are you trying to dispatch?  What does it do?

[2020-04-17 22:14] Kadrian commented on #23239
I'm dispatching an action that pretty much "initializes" the store with some data from the page query. And what I'm looking for is a way to do the same on the server side, just like you did above, but with the specific data from the specific page

[2020-04-17 22:15] Defite opened #23243 "Cannot find module 'cors' in gatsby recipes"
## Description

After typing `gatsby recipes` I've got the error `Cannot find module 'cors'`.

### Steps to reproduce

1. `mkdir somedir`
2. `npm install -g gatsby-cli@latest`
3. `cd somedir && npm install gatsby@latest`
4. `gatsby recipes`

### Expected result

I should see the list of the recipes.

### Actual result

I got an error:

[code]

### Environment

[code]

[2020-04-17 22:17] Js-Brecht commented on #23239
If the action is synchronous, I don't imagine it being an issue just doing it from the root of the function.

[code]

I'd have to do some testing to see how it would work with asynchronous actions.  I don't think SSR will wait if it's asynchronous.

If you want to dispatch the same action on every page, you could use `wrapPageElement`.  It receives all of the same props your pages do, so it has ac

[2020-04-17 22:22] ksjogo commented on #21950
I assume it is pnpm related which I am also running into. Would be great to have the standard gatsby resolve doing the work.

[2020-04-17 22:23] Kadrian commented on #23239
Hmm, in your example I would dispatch on every render. I'd probably want to avoid that, since I'll only need to initialize the redux store once.

You're right, `wrapPageElement` gets the data through the prop. So I could dispatch the action from there. I guess that would really work.

But it still feels like a detour, when I could simply pass the data one level higher as an `initialState` to `crea

[2020-04-17 22:23] Js-Brecht commented on #23239
If you're trying to do it at the page level, wouldn't that indicate that the data will be different on each page?

[2020-04-17 22:24] Kadrian commented on #23239
Yes it will be (the data in my case depends on the page url).

[2020-04-17 22:26] Js-Brecht commented on #23239
If you only passed it as initial state, then that state wouldn't change when people navigate to different pages.  They would be stuck with the state of the page they first landed on.

[2020-04-17 22:27] Kadrian commented on #23239
That's true, but it's page-specific state. So that part of the state doesn't concern other pages

[2020-04-17 22:35] Js-Brecht commented on #23239
If it's page-specific state, then each page should take care of changing the state based on its context.

Your `createStore` (should) be getting called for every page during SSR.  That way, each page is rendered with its own state... BUT, when you're in the browser, it's only called once, and that's with the state of whatever page is landed on first.  In order to change that state, you would need

[2020-04-17 22:37] marcysutton commented on #23236
Hi there! The recipe talks about using `gatsby-browser.js`, and that's what the examples show. From looking at [the PR that introduced that recipe](https://github.com/gatsbyjs/gatsby/pull/17359) before we broke them up into sections, looks like it was an erroneous note that was left in despite being raised by the reviewer.

If you've got time to contribute a PR to remove that note, that would be s

[2020-04-17 22:39] Js-Brecht commented on #23236
Sure thing!

[2020-04-17 22:48] marcysutton commented on #22794
@caitlinselca yes, absolutely! We would welcome your contribution. Let us know if you have any questions.

[2020-04-17 22:53] marcysutton commented on #22655
Curious to hear more, if you've got a reproduction that would be awesome!

[2020-04-17 22:58] Kadrian commented on #23239
Hmm I think you're understanding correctly. I guess you're right.
So maybe what I can really do is use a single global wrapper like in your very first example to initialize the store at least with all info that comes from the URL. Then if that information is available, I think my component can simply use that on the first render, so already on the server side, to do what's necessary without having

[2020-04-17 23:02] Js-Brecht commented on #23239
Sure.  My initial example could be refactored to this:
[code]

I just intended to remove `createStore()` from that function altogether.  `gatsby-ssr` would wrap my `wrapRootElement`, and call `createStore()` itself.  `gatsby-browser` would just use a singleton

[2020-04-17 23:23] marcysutton commented on #22444
Hi @muescha, separate PRs would be helpful to reviewers. Are you still working on this issue? Thanks for filing it!

[2020-04-17 23:26] marcysutton commented on #22401
Sounds good @b0nbon1, we would welcome your contribution! Here is some info on Website Contributions: https://www.gatsbyjs.org/contributing/website-contributions/

[2020-04-17 23:26] tesseralis commented on #22776
Thanks for volunteering @eduayme.

@siddux, could you comment as well with your experience and verify that you'd like to be a maintainer? Once that is done, we can get you both started :)

[2020-04-17 23:45] marcysutton commented on #21946
Sure @imrishabh18, we would love your contribution!

[2020-04-17 23:46] marcysutton commented on #21920
Perhaps this could be revisited now that Gatsby has dropped support for Node 8? https://www.gatsbyjs.org/blog/2020-03-20-dropping-support-for-node-8/

[2020-04-17 23:59] Js-Brecht commented on #21950
I believe this issue is about resolving plugins that are in the local `plugins` directory.

I think my last comment was a little vague:
`gatsby-plugin-mdx` uses `require()` to get the plugin.  That means it is using node's module resolution, and node's module resolution doesn't look in the `plugins` folder.  That's why providing the full path to the plugin works, but using just the name of the plu

[2020-04-18 00:08] xBLADEx opened #23246 "failed Building production JavaScript and CSS bundles"
I didn't know where else to turn to, searched everything I could but I'm stuck.
During gatsby build or npm run build I get this Unknown word error.
I'm using SCSS files and I can't help but wonder if that is the culprit since it points to a problem with styles.css.
I've removed node modules, removed cache, restarted everything.
Develop works perfectly, but build breaks and cannot complete.

plugin

[2020-04-18 00:12] muescha commented on #22444
I was waiting for an `ok` before i start

I will do it the next days :)

[2020-04-18 00:17] marcysutton commented on #21066
We would love to have your contribution @kunxi, are you still interested in working on a doc about search with Lunr / Elasticlunr? I haven't worked with those tools before, what are the differences? Could a single doc mention both libraries to help users understand their options?

[2020-04-18 00:19] marcysutton commented on #20930
I think those encyclopedia articles are still going, based on internal activity. I'd recommend bringing it up in Slack to discuss!

[2020-04-18 00:22] marcysutton commented on #20797
Can this issue be closed now that there is a merged PR for updating links?

[2020-04-18 00:33] marcysutton commented on #21405
Hey @n8finch, thanks for opening this issue! We definitely want to include more up-to-date learning materials for using WordPress with Gatsby. There are a ton of improvements being made internally for this, so I'll ping @jasonbahl and @TylerBarnes who will have the most context. I can add that updating WordPress docs is on our radar, but we would still welcome your tutorial contribution!

[2020-04-18 00:34] #23023 closed

[2020-04-18 00:35] #20797 closed

[2020-04-18 00:35] marcysutton commented on #21362
@rbelow we would welcome a PR to make that change, especially since there's an issue here discussing the use case. I'd say go for it!

[2020-04-18 00:38] marcysutton commented on #21277
Migrated to Clubhouse internally, so I'm going to close this issue as it's something an internal team should tackle.

[2020-04-18 00:38] #21277 closed

[2020-04-18 01:10] xBLADEx commented on #23246
Commenting out my single scss import allowed me to build. This line is in my Layout.js:
[code]

[2020-04-18 01:14] TylerBarnes commented on #21405
Hi @n8finch , thanks for your interest in doing this! We're getting ready to launch a new major version of `gatsby-source-wordpress` within the next few months. The new version is a full rewrite using WPGraphQL instead of the REST API. You can use it now actually :) we're currently directing people towards using that instead of `gatsby-source-graphql`. It's still in an alpha state, but many are us

[2020-04-18 01:17] TylerBarnes commented on #23246
Hi @xBLADEx !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a

[2020-04-18 01:21] xBLADEx commented on #23246
Ok cool, I will work on setting up a reproduction, I might even be able to narrow in myself, thanks for the response.

[2020-04-18 01:32] TylerBarnes commented on #21975
@ReillyBova you may have had improperly cached assets from your earlier builds. If you run a few builds after you ran `gatsby clean` do things keep working?

[2020-04-18 01:42] Dave-Lindberg commented on #23158
@wardpeet Thank you, installing with yarn fixed the issue! Gatsby develop now runs properly. :-)

[2020-04-18 01:48] emmmarosewalker commented on #23044
@beingabstrac how did you fix this?

[2020-04-18 02:15] NTmatter commented on #14161
Indeed, it breaks a lot of things, and that's the best case. I managed to
get some of the core resources loading in a hacky manner by rewriting some
paths, but gatsby-link didn't function properly, the router didn't function
properly, preloads didn't quite work, and odds are that the rest of the
ecosystem would break without making better use of built-in relative paths.
It sounds like the underlyi

[2020-04-18 02:31] aslkami commented on #23210
I have to apply proxy to install，now it works

[2020-04-18 02:37] asgarli commented on #22562
Tried with gatsby 2.20.24, it works now! Thanks for the fix!

[2020-04-18 02:37] #22562 closed

[2020-04-18 02:46] n8finch commented on #21405
@TylerBarnes sounds great! I'm happy to wait until things solidify a little more, but I'll go ahead and test out the alpha of the new gatsby-source-wordpress plugin. Great feature list!🤤...

[2020-04-18 02:51] #23210 closed

[2020-04-18 03:38] jmadelaine opened #23250 "gatsby-remark-autolink-headers optionally specify which header element types to link"
## Summary

`gatsby-remark-autolink-headers` adds an anchor link `<a />` as a child of each header element (`h1`, `h2`, `h3`, `h4`, `h5`, and `h6`) generated by `gatsby-transformer-remark`.

As of [v2.2.3](https://github.com/gatsbyjs/gatsby/releases/tag/gatsby-remark-autolink-headers%402.2.3) there is no way to specify the type of header element for which anchors should be generated. Anchors are a

[2020-04-18 03:59] johnmikel commented on #23222
Hey @wardpeet, imma try these tips. Thank you so much!

[2020-04-18 05:03] davidshare commented on #12083
@baobabKoodaa I tried using that approach, but each time it came back with an empty array. However, when I remove the skip and limit variables, I get a list of all the posts for the tag. When I test the query in the graphql window, I get the results.

[2020-04-18 05:03] tschaub commented on #14161
Maybe it would be good to first agree that it is possible to generate a portable website.

If someone wants to have a portable website, then it means they accept that they will not have client-only-paths or a single sitemap for all locations (not sure about the service worker issue, but no need to dispute it). I understand that the feature might require a large effort and that the number of people

[2020-04-18 05:31] Js-Brecht commented on #23227
Hey @danieltott,

It looks like the issue is [here](https://github.com/danieltott/gatsby-mdx-blog-starter-project/blob/8fc2daf50493b7d5629253f4182d7d039332d261/gatsby-node.js#L51).  Default layouts only work if the page component has the extension `.mdx`.  Your page component is defined as `./src/templates/post.js`.

If you wish to use a template like that for your page component, then you could i

[2020-04-18 06:38] Js-Brecht commented on #23234
@romarybintsev out of curiosity, were you using `wrapRootElement` in both `gatsby-browser` and `gatsby-ssr`, or just `gatsby-browser`?

[2020-04-18 07:14] Js-Brecht commented on #23194
@wardpeet do you think it would it make sense to export [resolvePlugin()](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/load-plugins/load.js#L54-L120) from Gatsby core (or `gatsby-core-utils`, maybe?), effectively making it a public API?  Any plugins that can be extended by additional plugins could then use it to resolve those extensions, and easily remain consistent

[2020-04-18 07:18] LekoArts commented on #23243
Please stick to the umbrella issue: https://github.com/gatsbyjs/gatsby/issues/22991

Thanks!

[2020-04-18 07:18] #23243 closed

[2020-04-18 07:49] Js-Brecht commented on #23162
@Funkh0user I notice you're using the plugin `gatsby-source-prismic-graphql`.  That plugin uses [gatsby-source-graphql-universal](https://www.gatsbyjs.org/packages/gatsby-source-graphql-universal/) which swaps out Gatsby's `babel-plugin-remove-graphql-queries` with their own.  It's meant to leave the query in the source, so that it can be reused.  The idea is to have GraphQL queries that Gatsby ca

[2020-04-18 08:00] Js-Brecht commented on #23162
Oh, correction.  `gatsby-source-prismic-graphql` also [exposes its options in the browser](https://github.com/birkir/gatsby-source-prismic-graphql/blob/08609fc3b066850ccd93a019e16114a27dd8d636/packages/gatsby-source-prismic-graphql/src/gatsby-ssr.tsx#L17).  Just something to keep in mind.  Maybe it's not an issue if nothing sensitive is being exposed.

[2020-04-18 08:08] Js-Brecht commented on #23162
One more thing: apparently, [useStaticQuery is not supported](https://github.com/birkir/gatsby-source-prismic-graphql/tree/20f26e39cb3f54425d291828eafb14ba7cb0fdd5#staticquery-and-usestaticquery).

[2020-04-18 08:12] b0nbon1 commented on #22401
@marcysutton, Let me start working on it. Almost forgot about it

[2020-04-18 08:16] ben-rogerson commented on #22991
I hit the same `Error: Cannot find module 'cors'` on node v11.15.0.

Switching to node v12.16.2 solved it for me:

[code]

[2020-04-18 08:31] dan2k3k4 commented on #22991
I've pinged @mxstbr about this but I'll share here:

I wanted to render the recipes in `docz` documentation, as an example I used the `recipes/theme-ui.mdx` file.

Inside my `docz` directory, I needed to use [Component Shadowing](https://www.gatsbyjs.org/docs/themes/shadowing/) by creating the file at:
`src/gatsby-theme-docz/components/index.js`

With the contents:
[code]

For now, I only added a

[2020-04-18 08:57] kouliavtsev commented on #22991
Ow boy, I really dig the new recipes, yet I am getting this error when I want to try them out.

$ gatsby recipes

[code]

Gatsby CLI version: 2.11.10
Gatsby version: 2.20.23
Node v13.11.0 or v12.0.0

[2020-04-18 09:00] Funkh0user commented on #23162
Thank you so much for helping me clarify that. I came up with a workaround to get the functionality I needed up and running, but now I understand why I needed to.

its also very helpful to know about the security implications of this plugin. the client I'm building this page for isn't doing anything with sensitive information and probably won't but now I know If that changes, I need to be aware of

[2020-04-18 09:13] andrezimpel commented on #15189
Really? I'm using 2.3.4 and it is unfortunately not working. :/

[2020-04-18 09:43] imrishabh18 commented on #21946
@marcysutton Hey, can you please help me what should i write in the docs ?

[2020-04-18 10:01] ben-rogerson commented on #22991
**New recipes** 🎉

Here's two new recipes for adding [Twin](https://github.com/ben-rogerson/twin.macro) to Emotion or Styled Components:

- [gatsby-recipe-emotion-twin](https://github.com/ben-rogerson/gatsby-recipe-emotion-twin)
- [gatsby-recipe-styled-components-twin](https://github.com/ben-rogerson/gatsby-recipe-styled-components-twin)

[2020-04-18 10:32] Defite commented on #22991
I got the same problem yesterday :(

[2020-04-18 11:15] kuworking commented on #13759
@DSchau but with your suggestion, you lose the beauties of having some persistent data going on through `gatsby-browser` and `gatsby-ssr` isn't it?

(related to https://github.com/gatsbyjs/gatsby/issues/23165)

[2020-04-18 11:26] siddux commented on #22776
Thanks @tesseralis, here is my information:

-_Experience level in open source:_ I don't have experience working on big open source projects.

- _Experience in the target language and localization:_ I am a Catalan and also Spanish native speaker living in Barcelona, Spain.

- _How much time you can commit to being a maintainer:_  I can commit for about 4h per week.

[2020-04-18 12:06] aesthytik commented on #23200
hi @wardpeet
https://github.com/aesthytik/gatsby-test

above is a public repository. i added prismic plugin for gatsby here and onClick handlers stopped working. I tried consoling some text onClick and no response in chrome debugger.

[2020-04-18 12:13] ksjogo commented on #21950
Sure.
My repo is structured like this:
[code]
This works fine for having all plugins etc just in @ksjogo/gatsby.
But wanting to render mdx posts/pages want work, as
[code]
are not present top-level within `sites/somesite/node_modules` as everything is installed with pnpm.
Gatsby afaict is basically tree deep resolving everything with `gatsby` starting in the local node_modules, then going to @ksjo

[2020-04-18 12:14] JCachada opened #23253 "Dynamically rendering components only working in dev (not production)"
**Reopening from this https://github.com/gatsbyjs/gatsby/issues/23204** as it didn't get solved.

## Summary

Using Theme-UI and gatsbyjs, I'm attempting to have a button on my website that, when clicked, cycles between three color schemes. The button's implementation works only on the development environment (gatsby develop) and not in production (gatsby serve). I suspect this is because gatsby i

[2020-04-18 12:34] Pauan opened #23254 ""Can't resolve" importing errors when using canvg"
## Description

I am speaking on behalf of amCharts. Our users have found some errors when using amCharts with Gatsby. You can see more details [here](https://github.com/amcharts/amcharts4/issues/2295).

Our library internally uses `canvg`, which uses `core-js`. When compiling, Gatsby is unable to find the `core-js` files, even though those files exist.

This is a problem specifically with Gatsby,

[2020-04-18 13:13] atapas opened #23255 "The link 'The Anatomy of a GraphQL Query' doesn't work from graphql-concepts page"
## Summary

The link 'The Anatomy of a GraphQL Query'(https://www.apollographql.com/blog/the-anatomy-of-a-graphql-query-6dffa9e9e747) doesn't work from [graphql-concepts page](https://www.gatsbyjs.org/docs/graphql-concepts/).

![image](https://user-images.githubusercontent.com/3633137/79638657-4a562280-81a4-11ea-8a2a-9109d5aa744d.png)

It says page not found.
![image](https://user-images.githubuse

[2020-04-18 13:31] rubenberna commented on #17725
Many thanks @devboldly ! Solved ;)

[2020-04-18 14:00] pmarxbraun commented on #13454
@Eyas Hi, tried all plugins. My `html tag`does not even contain amp :-/

Then tried putting ` <html lang="fr" amp />` in my Helmet conf AMP layout and then in `html.js`

`export default function HTML(props) {
  return (
    {props.htmlAttributes.amp ? <html amp {...props.htmlAttributes} : <html {...props.htmlAttributes}>}
      <head>
        <meta charSet="utf-8" />
        <meta httpEquiv="x-ua-

[2020-04-18 14:35] amaan-nadeem opened #23258 "Filtering through reference field running fine on local Server but after being deployed on Netlify or even on local Build its not working"
## Description
When filtering through a reference field through page query in graphql working on local host after clearing cache and rerun graphql doesnot aware about it so we need to move the query manually a bit to run it again like move the query code from line 11 to 12 then it gives the expected result. . The scenario is that i have a specific reference field in all coupon cards that i have in

[2020-04-18 15:20] KyleAMathews commented on #22991
Ugh, sorry about the cors issue y'all. Missed adding the package as I guess it's built-in now to node 12. Will PR that ASAP.

@dan2k3k4 super cool! Our thought is we should have an official component for rendering recipes. Do you want to PR yours in as the start to that? E.g. at `packages/gatsby-recipes/recipe-renderer.js`?

[2020-04-18 15:24] dan2k3k4 commented on #22991
@KyleAMathews yeah, I assume we will have an official component for handling this. I just wanted to get a working version to help explain `Gatsby Recipes` to my colleagues 😄

Would `recipe-renderer.js` contain say `export const NPMPackage = (props) => <Code>{`npm install ${props.name}`}</Code>` ?

[2020-04-18 15:27] KyleAMathews commented on #22991
It probably wouldn't export the resource components (maybe — not entirely sure what you're thinking there) — it'd just take the MDX source for a recipe as a prop and render it.

[2020-04-18 15:45] xBLADEx commented on #23246
So the problem was caused by setting a background image with a .svg in the .scss file. Still figuring out why but closing this as it's not a gatsby build issue.

[2020-04-18 15:45] #23246 closed

[2020-04-18 16:07] KyleAMathews commented on #22991
Merged & published the cors fix https://github.com/gatsbyjs/gatsby/pull/23260 — run `npm install gatsby@latest` to get it.

Upgrading the starters as well so new people won't be affected by it

[2020-04-18 17:28] maxkoretskyi commented on #23051
Thanks for the suggestion, I think I'll give it a try next week. I'll let you know how it goes.

Do you think it's OK to require module from local files in gatsby project or should it be a module from `node_modules`?

[2020-04-18 17:31] nejurgis opened #23263 "Error deploying to netlify "not finished Generating image thumbnails - 300.076s "(Build timeout)"
Hey guys, i'm building a site, and it seems that gatsby image is taking too long to process the images, would anyone explain to me what I could do better? Everytime I'm running the build there's more and more image thumbnails, though the ammount of images didnt change.. And at the moment there's less than 100 images, and counting. The build was slow but working until i finally uploaded a lambda fu

[2020-04-18 17:34] Js-Brecht commented on #23051
Sure it’s no problem.  Just make sure to use relative paths, and resolve them to absolute, that way it is portable.

You could use this to pass the path to the plugin:
[code]

And in your plugin, something like this:

[code]

[2020-04-18 17:46] ArnoSoontjens commented on #16076
Experiencing this too! FF 75.0 (64bit), on Ubuntu. My 'workaround' is to just comment out the entire function body, but I have to do that everytime the development server restarts.

[2020-04-18 18:01] Kikobeats commented on #23221
Just for debugging purposes, I run a [Gatsby Cloud build](https://www.gatsbyjs.com/dashboard/cf899e6f-2618-4512-967a-2ed86084b6a3/sites/cf6bf6ce-72c1-4737-83f0-337989f66432/builds/3abfecba-7b72-4fdb-9b3a-0e68f979f0cb/details?returnTo=%2Fdashboard%2Fcf899e6f-2618-4512-967a-2ed86084b6a3%2Fsites%2Fcf6bf6ce-72c1-4737-83f0-337989f66432%2Fproduction) that took 37min just in the queries stage 😂

[2020-04-18 18:06] Js-Brecht commented on #21950
It sounds like you’re having trouble using `MDXRender`, or something similar, during the rendering stage, which is not really related to this issue.

I think the issue you’re having is the “phantom dependencies” issue, or you could say you’re trying to use “sibling dependencies.”  That’s not supported by any package manager, though npm and yarn can trick you into thinking it’s supported.

Try usin

[2020-04-18 18:32] Edmund-Adewu commented on #22503
Good afternoon, @muescha. I am still interested in the issue. Would it be possible to remove the stale label? I would appreciate it.

[2020-04-18 18:54] DSchau commented on #13759
Sorry -- what do you mean here?

[2020-04-18 19:09] MrUltimate commented on #6491
Thanks, @jackieluc. I was actually able to fix it by simple running `npm upgrade` on the project.

[2020-04-18 19:41] Kikobeats commented on #23221
Locked dependencies to

[code]

[2020-04-18 20:00] crock commented on #22991
Just finished building two Gatsby Recipes for headless WordPress-powered Gatsby sites.
https://github.com/crock/gatsby-recipe-headless-wordpress

[2020-04-18 20:30] kuworking commented on #13759
If you rely on Link, you can have a persistent e.g. header that doesn't get reloaded between page changes

But if you substitute the links for a elements to prevent prefetching, then you lose that persistency (for example with authentication within wrapRootElement, which now will be executed in every page as everything gets reloaded)

[2020-04-18 20:42] NataliaKaneshima commented on #9802
Hey guy! I have a similar problem, we did everything the tutorial said, also what you guys said, however it still doesn't work

module.exports = {
  siteMetadata: {
    title: `NEW`,
    author: `Coelho`

  },
  pathPrefix: "/blog",
    plugins: [
      'gatsby-plugin-sass'
    ]
}

[2020-04-18 20:49] MattAppleton commented on #22655
Hi there. Apologies for the delay, finally had a moment to revisit Gatsby.

Tutorial stage three folder form before still gives me the same new page error. I have added it to GitHub [here](https://github.com/MattAppleton/GATSBY-newpage-error)

[2020-04-18 20:52] MattAppleton commented on #22655
And if you would like the entire folder, node modules and all, it can be download [here... ](https://www.dropbox.com/s/q5d3kg3zihgep6r/tutorial-part-three.zip?dl=0)

thanks!

[2020-04-18 20:58] MattAppleton commented on #22655
Netlify deploy here: https://sleepy-perlman-896c11.netlify.app

[2020-04-18 21:31] pieh commented on #14161
I don't think anyone question that. It is for sure doable (to some degree, some features that work with `http://`/`https://` just doesn't work for `file://`).

Was just looking into router case - you can't really use `history.pushState`/`history.replaceState` when you use `file://` so entire client side routing (not only client-only-paths - but everything) won't work. See this comment in Angular r

[2020-04-18 21:55] aesthytik commented on #23200
fixed it !

[2020-04-18 21:55] #23200 closed

[2020-04-18 22:00] ksjogo opened #23265 "[gatsby-plugin-mdx] create-webpack-config loader paths in pnpm context"
Coming from #21950

In a pnpm context with a site depending on a plugin which depends on gatsby-plugin-mdx the gatsby-plugin-mdx config wont work.
Original
[code]
Has the problem that webpack running within the actual site root can't resolve the loader at that path, as the actual path would be:
`node_modules/other_plugin/node_modules/gatsby-plugin-mdx/loaders/mdx-components`.
Changing to the follo

[2020-04-18 22:01] ksjogo commented on #21950
Yeah, it is definitely a children dependency thing.
The weird thing is that gatsby is kinda doing a lot of resolving these for plugins. I added some more investigation results at #23265

[2020-04-18 22:23] muescha commented on #22503
Friendly ping to @gatsbyjs/learning
asking if it is ok for Edmund to go on working on a PR or is there a reason not listing it?

[2020-04-18 23:17] Js-Brecht commented on #23265
IMO, those loaders _should_ be resolved to absolute paths.  I'd probably do it like this, but it amounts to the same thing:
[code]

Those are [peer dependencies](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-mdx/package.json#L16-L19) for `gatsby-plugin-mdx`, so it doesn't really make sense for _it_ to add them to the webpack config.  It kind of pushes the responsibility of

[2020-04-18 23:22] muescha commented on #22991
It would be nice if in addition to a renderer also all the rendercomponents are exported so they can be direct used as parameter `components` at a `MDXProvider`

[2020-04-18 23:22] Js-Brecht commented on #23265
However, I don't imagine that the issues with `@mdx-js/mdx` and `@mdx-js/react` would be such an issue if you simply re-exported the `gatsby-plugin-mdx` exports:

[code]

And import that from the consumer of your plugin?  Theoretically, that should take care of the context of `@mdx-js/mdx` and `@mdx-js/react`, so long as they are installed as dependencies of your plugin :thinking:

[2020-04-19 00:37] pdxbmw commented on #7601
@maisonm Thanks for this. Just quick note that it should be `noreferrer` (small typo).

[2020-04-19 03:40] jonathanstanley opened #23266 "Use Homebrew-Bundle - Brewfile"
## Summary

Use [Homebrew-Bundle](https://github.com/Homebrew/homebrew-bundle) to install Xcode-select, Git, NodeJS, Gatsby-CLI, etc, in one command: `brew bundle` for Mac OS and Linux.

### Motivation
[Tutorial Part 0 instructions](https://www.gatsbyjs.org/tutorial/part-zero/)
explains how to: Install Brew, Xcode-select, Git, NodeJS, Gatsby-CLI
[Glossary also explains that contributing requires y

[2020-04-19 07:28] rbi commented on #14161
I got an Angular App working from file:// in the past using this:
https://github.com/angular/angular/issues/13948#issuecomment-302727428

If Angular can do it it should be possible for other JS frameworks too. Granted, some things didn't work like CORS stuff I think but that doesn't matter. I think just keeping in mind to make things independent of a concrete path wherever possible will lead to ma

[2020-04-19 07:55] engrmartins opened #23268 "Error installing Gatsby"
When I try to install Gatsby using the command below.
$ npm install -g gatsby-cli

I get this error.

npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version
of core-js@3.
npm ERR! Unexpected end of JSON input while parsing near '...":"6.0.1","devDepende'

npm ERR! A co

[2020-04-19 09:47] develijahlee opened #23269 "Enable infinite scrolling with page queries"
## Summary

I am a novice Gatsby user migrating my WordPress website to Gatsby with an edge case. I have separate pages for blog posts of different categories. These pages are generated with different page queries because Gatsby does not allow dynamic GraphQL, so I can't have one unified source of GraphQL to generate pages that use different frontmatter.

I have around 166 blog posts in total. Abo

[2020-04-19 09:55] chooban commented on #21995
I just noticed that the lint-staged action won't trigger if there are only changes to a TS file: https://github.com/gatsbyjs/gatsby/blob/master/package.json#L78

[2020-04-19 11:13] freesh commented on #14642
I have the same Problem with my card component as @jfyles. :-/

[2020-04-19 11:49] imadyaici opened #23270 "Automatic builds on Heroku"
## Summary

Hi,

We deployed our Gatsby site on Heroku, sourcing content from a Wordpress website deployed on GoDaddy. I installed the WP Hooks plugin on Wordpress.

What's the way to trigger automatic builds on Heroku? is there any web build hooks that we can use as in Netlify ?

[2020-04-19 12:02] Defite commented on #22991
gatsby version is `2.20.25` and still no luck - I got the same error.

[2020-04-19 12:08] nyedidikeke commented on #13454
@pmarxbraun : you may want to add the mandatory AMP attribute to the `<html>` tag of your [custom html](https://www.gatsbyjs.org/docs/custom-html/) at `/src/html.js` as below (with your language HTML attribute set to French);

[code]
Shared a recent post on same intent on [Stack Overflow]( https://stackoverflow.com/a/61303078/6381711).

[2020-04-19 12:20] ksjogo commented on #23265
The onCreateWebpackConfig worked great for pushing the peer dependencies up into my plugin, thank you.

The concrete site is actually not using the MDXRenderer directly, as all the templates are provided by my plugin.

I am not sure what you mean with "those loaders should be resolved to absolute paths" as they already are in that format currently.

https://github.com/gatsbyjs/gatsby/blob/40431295

[2020-04-19 12:35] ajmeraaxesh opened #23271 "Using graphql variables for ImageSHarp"
this is the default code. why not allow image src, height and widht as a configurable attribute?

const Image = () => {
  const data = useStaticQuery(graphql`
    query {
      placeholderImage: file(relativePath: { eq: "gatsby-astronaut.png" }) {
        childImageSharp {
          fluid(maxWidth: 300) {
            ...GatsbyImageSharpFluid
          }
        }
      }
    }
  `)

  return <Img

[2020-04-19 13:27] pmarxbraun commented on #13454
@nyedidikeke hi ! yes but all my pages will have this amp attribute 😟. How can I specify it only for my AMP pages ?

[2020-04-19 14:15] SOHELAHMED7 opened #23272 "Broken Link in mdx docs"
Step 1 - Visit https://www.gatsbyjs.org/docs/mdx/importing-and-using-components/#additional-resources

Step 2 - View text in "Additional resouces" section

Step 3 - Text "example on using MDX" has a broken link

[2020-04-19 14:52] nyedidikeke commented on #13454
@pmarxbraun You could create an AMP component similar to the SEO component of the [Gatsby Starter Default](https://github.com/gatsbyjs/gatsby-starter-default/blob/master/src/components/seo.js) template by making use of [Helmet](https://github.com/nfl/react-helmet) and [PropTypes](https://github.com/facebook/prop-types), then import it (your AMP component) only in specific pages as you require. Bel

[2020-04-19 15:29] shreyansh-zazz opened #23273 "Important dependencies update warnings."
Following are the warnings that appear while doing `npm i` or `yarn install`:

- [ ] `warning gatsby > babel-plugin-add-module-exports > chokidar@2.1.8: Upgrade to chokidar 3 with 15x less dependencies. Chokidar 2 will break on node v14.`
- [ ] `warning gatsby > core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your depend

[2020-04-19 15:58] vladar commented on #23231
Thank you for opening this, @hartey11

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-04-19 15:58] #23231 closed

[2020-04-19 16:24] vladar commented on #23253
I suspect that in develop, you have a `colorMode` saved in localStorage which allows you cycling through `dark`, `deep` and `light`.

But you don't handle the case when `colorMode === "default"` (which is the [default value in theme ui](https://theme-ui.com/color-modes/)).

Try clearing localStorage in develop and I suspect you'll see what I mean.

[2020-04-19 16:28] JCachada commented on #23253
Hi @vladar,

I don't think 'default' is the issue, as I shadow the theme-ui settings here:

https://github.com/JCachada/personal-website-dev/blob/master/src/gatsby-plugin-theme-ui/index.js

'default' should no longer be a mode when shadowing this way. I checked some popular themes (like LekoArts') and they cycle between just "light" and "dark" with no "default" by shadowing in this manner.

[2020-04-19 16:52] vladar commented on #23253
I tried your repo locally and did `console.log(colorMode)` which reported `default` value to me on the first run.

[2020-04-19 17:00] vladar commented on #23253
Also, the following patch made it work for me (in both `serve` and `develop`):

[code]

[2020-04-19 17:02] Niksgupta opened #23275 "codesandbox is unable to fetch changes to github"
![Screenshot from 2020-04-19 22-11-18](https://user-images.githubusercontent.com/33507803/79694396-9fba2e80-828d-11ea-812d-d9906c8519ae.png)
Codesandbox is unable to fetch the changes that i made and now I am not able to push my work to github, so let me know the alternative or the solution for the same issue. I am attaching the picture where it is occuring. It only shows fetching changes but not

[2020-04-19 17:22] ChristianIvicevic opened #23276 "Source code line highlighting using gatsby-remark-prismjs in gatsby-starter-blog-theme not working"
I followed the [Using a Theme][1] tutorial over on Gatsby to get acquainted with it which worked without issues. Afterwards I wanted to adjust the syntax highlighting to allow highlighting of certain lines and found the [gatsby-remark-prismjs][2] plugin and followed the README but I cannot get it to work at all.

For instance having a code block in my content as follows:

[code]

doesn't highlight

[2020-04-19 17:37] JCachada commented on #23253
Interesting. I wonder what I misunderstood about the shadowing - I was under the impression that if I shadowed the settings, default would no longer be, well, the default. Thank you for the solution!

[2020-04-19 17:37] #23253 closed

[2020-04-19 17:54] Js-Brecht commented on #23265
Maybe it would help to see your repo, or a simplified example.

FS absolute, not “Node” absolute.  Using a (real) absolute path means Webpack doesn’t have to do any resolution to find the file.

[2020-04-19 18:05] Js-Brecht commented on #23268
Can you show your `package.json`?

[2020-04-19 18:27] Khaledgarbaya commented on #22991
Hey folks, to help people understand more recipes I made a Free 6min eggheadio collection https://egghead.io/playlists/getting-started-with-gatsbyjs-recipes-c79a

[2020-04-19 18:34] lucassilvagc commented on #23123
Hi,

Is there a specific solution to this problem? I have ~247 assets on my space... and a bunch of them are failing.

What I'm noticing is that, whenever I reach ~220-230 files, it times out.

Like this:

Fetch Contentful data: 986.556ms
⠴ source and transform nodes
[=======================     ]   13.563 s 231/274 84% Downloading remote files

Then it _completes_ and later it fails.

[2020-04-19 19:14] moritzsalla opened #23278 "gatsby-source-shopify throwing error on netlify build"
# Description

This plugin works during local builds and returns an error during Netlify builds.

### Steps to reproduce

I've set up a minimal Gatsby site that queries product names from the Shopify Storefront API.
Querying data works on my computer – the site builds without complaints and displays correctly.

When deploying from my Github repo, however, the plugin throws an error, causing the bu

[2020-04-19 19:19] moritzsalla commented on #23278
I have tried setting the API version to 2020-1 to no effect

[2020-04-19 19:30] iAdil commented on #23214
your gatsby-cli installed globally, try reinstall it

[2020-04-19 20:11] herecydev commented on #23269
You can use gatsby with some simple pagination to actually create multiple pages and load between them

However if you want an infinite scroll, then you're effectively lazy loading. You can have gatsby ssr the first bunch of blogs and then fetch calls to retrieve more. The reason you can't find this in gatsby is because that's a react issue at that point. You would also need a server to load from

[2020-04-19 21:23] BrooksPoltl commented on #21263
I had this issue, and nothing else worked until I found out that slugs are formatted `/article-name/` so I was creating a page for `/topic//article-name/` by doing `createPage({
      path: `${post.node.frontmatter.topic}/${post.node.fields.slug}`,
      component: blogPost,
      context: {
        slug: post.node.fields.slug,
        previous,
        next,
      },
    })` Which when you link t

[2020-04-19 21:31] dhakan opened #23281 "gatsby-plugin-mdx: Remote markdown body fetched before Mdx processes node content"
I'm not sure if to label this as being related to `gatsby-plugin-mdx` or `gatsby-source-filesystem`, but here it goes.

I have markdown files whose body is located at a remote URL, specified in the frontmatter as `sourceUrl`. How would I go about sourcing this into a `File` node which contains both the frontmatter and the body, so that MDX can start processing as if the body was always there?

Sin

[2020-04-19 21:50] KyleAMathews commented on #22991
two great livestreams
- @crock's livestream https://www.twitch.tv/videos/595693579 — tailwind/wordpress
- @Khaledgarbaya https://www.twitch.tv/videos/593873665 — tailwind/contentful

[2020-04-19 21:50] KyleAMathews commented on #22991
@Khaledgarbaya that's great! Want to PR it to the docs? https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-recipes/README.md

[2020-04-19 22:05] hal-efecan commented on #21862
Okay, so i managed to solve my bug by simply adding an operator to check **cart_context**  before moving to **cart_context.qty**

Not sure why it's forgiving in the development stage vs build process though.

Before:

[code]

After:

[code]

[2020-04-19 22:07] tony commented on #22763
@LekoArts @freiksenet Hi there!

Thank you for your courteous reply @freiksenet

I'm wondering if this is a potential feature request or a documentation addition.`

I have been googling around and viewing the docs for examples of an equivalent to an `$or` query.

1. I don't believe I see anything on [createResolvers](https://www.gatsbyjs.org/docs/schema-customization/#createresolvers-api) that sho

[2020-04-19 23:59] nathansmith commented on #11243
cc: @alexfornuto

You can still string build it in a function.

It just can't be done via backtick template literal interpolation.

For instance, this should work…

[code]

[2020-04-20 01:00] develijahlee commented on #23269
I see. It seems like pagination would be more easier to implement than infinite scrolling. I wasn't able to find any resource for pagination for multiple pages online. Can you refer me to one?

[2020-04-20 02:20] #23162 closed

[2020-04-20 02:27] hgezim opened #23283 "Using JSX to assign node value in gatsby-plugin-mdx"
## Summary

I'm writing a transformer plugin for `gatsby-plugin-mdx`. How can I use JSX to swap out the node value I'm interested in?

## Relevant information

I tried this:
[code]

However it generates an object an the final output in the browser ends up being `[object Object]`.

I tried looking for how other plugins are doing it without too much success. It seems people are using lodash or cheer

[2020-04-20 02:38] b0nbon1 commented on #22401
@marcysutton and @olegKusov the breakpoints that being used are from `gatsby-design-tokens` plugin. So my question is, should I modify the plugin md breakpoint from `750px` to `770px`?
And if yes, I think I'll to also change `gatsby-design-tokens`  docs is that okay?

[2020-04-20 02:40] Ir1d commented on #17690
Looking forward to this feature! We're currently sorting this outside graphql on our own.

[2020-04-20 04:42] Abderrahmenla opened #23287 "linear-gradient doesn't work with background-image plugin after implementing my sass styling"
## Description

linear-gradient doesn't work with background-image plugin after implementing my sass styling

### Steps to reproduce

https://github.com/Abderrahmenla/Scouting
clone/download it then npm install

### Expected result

the styling of the class header in the file sass/layout/header.scss should work with the linear-gradient

### Actual result

linear-gradient doesn't work

### Environm

[2020-04-20 06:08] LekoArts commented on #23253
In the future please refrain from creating duplicate issues and answer in the closed one instead. It makes it more complicated for everyone, e.g. if other people now find your first issue they won’t know about the solution.

[2020-04-20 06:11] LekoArts commented on #23253
You need to use initialColorModeName:
https://theme-ui.com/theming#configuration-flags

[2020-04-20 06:29] ergunpp commented on #23181
Thank You, this solved the problem.

[2020-04-20 06:29] #23181 closed

[2020-04-20 07:01] pyzhianov commented on #21995
Hey! Are there any specific issues with `src/create-cli.js` in `gatsby-cli`? I'd like to take it on if it's ok

[2020-04-20 07:25] #21382 closed

[2020-04-20 07:40] LekoArts commented on #23287
Thank you for opening this!

We're not maintaining the plugin `gatsby-background-image` so please open an issue on the plugin's repository. Thanks!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-

[2020-04-20 07:40] #23287 closed

[2020-04-20 07:43] LekoArts commented on #23283
Hi, thanks for the issue!

I'm not too sure what you're trying to do, can you give a full example or a link to your current code? It sounds like you're trying to do this: https://www.gatsbyjs.org/docs/mdx/customizing-components/

[2020-04-20 08:00] wardpeet commented on #21862
@hal-efecan It seems like you only have wrapRootElement in [gatsby-browser.js](https://github.com/hal-efecan/themavenist/blob/61bfa148b8171eaf9396592e4ee858efeabfbff8/gatsby-browser.js). You should have the same code into gatsby-ssr.js so code paths are the same.

Here's an example that shows how to do it https://github.com/gatsbyjs/gatsby/tree/master/examples/using-redux

Thank you for opening th

[2020-04-20 08:00] #21862 closed

[2020-04-20 08:03] wardpeet commented on #23275
Hi,

I'm unsure if we can help you here. Please contact Codesandbox's support or ask help at our [discord channel](https://gatsby.dev/discord).

I'll be closing this issue as there is nothing we can do from a Gatsby perspective.

Thank you for using Gatsby! 💜

[2020-04-20 08:03] #23275 closed

[2020-04-20 08:04] LekoArts commented on #23281
Thank you for opening this!

You'll want to use [createRemoteFileNode](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/#createremotefilenode) to pull the file from `sourceUrl`. This is the first step in getting the file. To let `gatsby-transformer-remark` or `gatsby-plugin-mdx` transform the node and add a child node of `childMdx` you should also be sure to set the MIME type to `text/ma

[2020-04-20 08:04] #23281 closed

[2020-04-20 08:06] LekoArts commented on #23273
Thank you for opening this!

We're aware of these warnings but are currently bound to certain versions due to some dependencies. You won't need to do anything and you can ignore those warnings. Eventually we'll resolve those.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading ove

[2020-04-20 08:06] #23273 closed

[2020-04-20 08:12] LekoArts commented on #23278
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-04-20 08:15] LekoArts commented on #23276
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-04-20 08:20] LekoArts commented on #23271
Thank you for opening this!

Height and width doesn't exist for `fluid` as it doesn't make sense, it needs to be e.g. `maxWidth`. You can use these options with `fixed` or `resize` as explained here:
https://www.gatsbyjs.org/packages/gatsby-plugin-sharp/?=sharp#methods

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue th

[2020-04-20 08:20] #23271 closed

[2020-04-20 08:21] #23272 closed

[2020-04-20 08:24] JCachada commented on #23204
Solved in https://github.com/gatsbyjs/gatsby/issues/23253

[2020-04-20 08:25] JCachada commented on #23253
@LekoArts Will do! I went ahead and linked to this issue in the old one to try and mitigate that problem, but will have it in mind next time. Thanks :)

[2020-04-20 08:27] LekoArts commented on #23270
Thank you for opening this!

It's probably best to ask Heroku's support directly as they will know best. In the meantime you could look at our documentation: https://www.gatsbyjs.org/docs/deploying-to-heroku/

Or look at these articles that touch on webhooks inside Heroku:
https://www.freecodecamp.org/news/how-to-deploy-a-static-gatsby-app-to-heroku-3362e3ecda0f/
https://www.contentful.com/develop

[2020-04-20 08:27] #23270 closed

[2020-04-20 08:40] LekoArts commented on #23269
Can you explain that further? Gatsby is able to handle different frontmatters in the same GraphQL query (e.g. `allMarkdownRemark`).

This would be against Gatsby's paradigm as this would be fetched on the client and not pre-rendered. I would advise against it. If you absolutely want infinite scrolling, here's an example: https://gatsby-starter-infinite-scroll.baobab.fi/

You can follow https://www

[2020-04-20 08:41] LekoArts commented on #23268
Hi, please follow our issue template and fill out these details:

---

## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-t

[2020-04-20 08:46] hal-efecan commented on #21862
Thanks @wardpeet - this did the trick! I used the Gatsby starter blog which didn't come with Gatsby SSR out of the box so naively assumed that it wasn't required. I removed the operator i used earlier and included the SSR file mirroring gatsby-browser.js and now everything is in sync and working as expected.

[2020-04-20 08:52] theboyonline opened #23289 "bash: gatsby: command not found"
## Description

I'm trying to run gatsby, returns me "bash: gatsby: command not found"
Tried reinstall of node , npm , gatsby-cli also. It was working good a day ago, Suddenly came into this problem.
I tried changing permission to allow in node folder as well.
Tried almost all internet solutions.
Please help

### Steps to reproduce

$  npm install -g gatsby-cli

$ npm --version
6.14.4

ACER@Acer-S

[2020-04-20 08:54] wardpeet commented on #23120
Thanks, I'll add it to the contentful refactor list

[2020-04-20 08:54] wardpeet commented on #23158
ok, we'll look into this problem.

[2020-04-20 09:02] LekoArts commented on #23263
You could preoptimize your images (manually or automatically) so that the resulting images are smaller/quicker to process: https://www.gatsbyjs.org/docs/preoptimizing-images/ - this is especially relevant if you e.g. have 50 megapixel images.

You could also change the `srcSetBreakpoints` option to create less images or for only certain breakpoints: https://www.gatsbyjs.org/docs/gatsby-image/#imag

[2020-04-20 09:05] LekoArts commented on #23258
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-04-20 09:10] LekoArts commented on #23254
I just skimmed your issue and before digging deeper into it, have seen this issue already?
https://github.com/gatsbyjs/gatsby/issues/15601

Gatsby uses core-js@2 and this might be the cause of the problem?

[2020-04-20 09:11] engrmartins commented on #23268
Here is the package.json

{
  "name": "zipcode-pwa",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build": "vue-cli-service build",
    "lint": "vue-cli-service lint"
  },
  "dependencies": {
    "@ionic/core": "^5.0.7",
    "@ionic/vue": "0.0.4",
    "core-js": "^3.6.4",
    "vue": "^2.6.11",
    "vue-router": "^3.1.6"
  },
  "devDependencies":

[2020-04-20 09:15] #23255 closed

[2020-04-20 09:21] LekoArts commented on #23268
As said above, please follow the template I've given you. Also, what is the complete error output when you run `npm install -g gatsby-cli` ?

[2020-04-20 09:23] DevSide commented on #22763
It's interesting. I won't use `createResolvers` where the logic is too far from the components and their queries.

Here is some query apis which use OR / NOT operators:

graphcool
https://www.graph.cool/docs/reference/graphql-api/query-api-nia9nushae/#filtering-by-field

hasura
https://hasura.io/docs/1.0/graphql/manual/queries/query-filters.html#using-multiple-filters-in-the-same-query-and-or

dru

[2020-04-20 09:24] LekoArts commented on #23234
Thank you for opening this!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) if you have questions that are not bug reports or feature requests. We hope we managed to help and thank

[2020-04-20 09:24] #23234 closed

[2020-04-20 09:27] pieh commented on #23194
There are lots of interconnected issues here. Especially if the `gatsby-plugin-mdx` is declared in theme and not in top-level gatsby-config:
- https://github.com/gatsbyjs/gatsby/issues/21589
- https://github.com/gatsbyjs/gatsby/issues/21592

Note that the issues mostly talk about subplugins being npm packages, but it's actually the same problem for local plugins

Exporting `resolvePlugin` alone wo

[2020-04-20 09:33] LekoArts commented on #23213
Gatsby is not changing your code, it runs it in a Node environment/process. And browser globals are not accessible in a Node environment. It would be unexpected behavior that Gatsby would change code (e.g. guard against browser globals) -- it's not something Gatsby should do ever.

As I said it's the library author's responsibility to think about SSR as it wouldn't be safe at all to try to monkey-

[2020-04-20 09:41] th-km commented on #22991
I made a recipe for [Sanity](https://gist.githubusercontent.com/th-km/b50ae091d781f76f81244077de0b2494/raw/150eafcb9b499886c5e94e07b72e9ec5f8ed162e/sanity.mdx) 🍰 😃

[2020-04-20 09:54] engrmartins commented on #23268
**Expected result**
gatsby cli should be installed

**Actual result**
$ npm install -g gatsby-cli
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please,
upgrade your dependencies to the actual version of core-js@3.
npm ERR! Unexpected end of JSON input while parsing near '...":"6.0.1","devDepende'

npm ERR! A comple

[2020-04-20 09:57] LekoArts commented on #23289
Thank you for opening this!

`npm list -g --depth=0` doesn't show `gatsby-cli` in the list so you indeed didn't install it correctly. You could follow our docs: https://www.gatsbyjs.org/docs/gatsby-on-windows/ & https://www.gatsbyjs.org/tutorial/part-zero/#install-nodejs-for-your-appropriate-operating-system

Moreover, these issues might also give you ideas (e.g. your `PATH` variable might be wron

[2020-04-20 09:57] #23289 closed

[2020-04-20 10:03] LekoArts commented on #23268
The `package.json` you showed is a Vue project so I don't think this is related to Gatsby.

If your only output is what you pasted in `Actual result` then I'm afraid we can't help further. As commented in https://github.com/gatsbyjs/gatsby/issues/23289#issuecomment-616442119 this is then an issue on your local environment. Please try the solutions suggested in:

- https://github.com/gatsbyjs/gatsb

[2020-04-20 10:03] #23268 closed

[2020-04-20 10:05] dandv commented on #23269
Are you trying to do something similar to [this](https://stackoverflow.com/questions/59867580/folders-and-path-structure-for-ghost-posts-rendered-with-gatsby)?

[2020-04-20 10:37] crock commented on #22991
@th-km In that recipe, you do not need to install dotenv manually because that's already a dependency of Gatsby.

[2020-04-20 10:47] develijahlee commented on #23269
I have 9 pages in my blog. Each page is rendered through page queries that search for different frontmatter. For the example above, the "Interviews" page filters for the "Interviews" in `allMarkdownRemark`. For another "School" page, the page query filters for "School" and so on for all 9 pages.

Because of these 9 unique page queries, I cannot use the standard Gatsby pagination that depends on ON

[2020-04-20 10:50] MiaadZ commented on #16353
Happened to me while my VScode was Open so i closed it and used to run gatsby develop on cmd and it worked .

[2020-04-20 11:08] MarcMcIntosh commented on #22919
@pieh

We're aware of the `gatsby-source-graphql-universal` the plugin works by replacing `babel-plugin-remove-graphql-queries.js` with a slightly modified version.

I've made pull request that fixes the `siteMetadata` error. https://github.com/birkir/gatsby-source-graphql-universal/pull/15 as it's a dependancy of https://github.com/birkir/gatsby-source-prismic-graphql. At prismic we recommend peo

[2020-04-20 11:28] praveenweb commented on #22503
Related issue - https://github.com/gatsbyjs/gatsby/issues/22733

[2020-04-20 12:02] #22428 closed

[2020-04-20 12:02] #22132 closed

[2020-04-20 12:49] theboyonline commented on #23289
Hi there, After installing, i'm having the same problem.
Now it shows gatsby-cli

ACER@Acer-SuperMars MINGW64 ~
$ npm -g ls --depth=0
C:\Program Files\Git\usr\local
+-- gatsby-cli@2.11.12
`-- gatsby-starter-default@0.1.0 -> D:\newwebite\newsite

npm ERR! error in C:\Program Files\Git\usr\local\node_modules\gatsby-cli\node_modules\fsevents: ENOENT: no such file or directory, open 'C:\Program Files\

[2020-04-20 13:10] danieltott commented on #23227
I am (obviously) confused. The "page component" is not MDX by design, the _source_ is MDX. The page component looks like this:

[code]

I don't think just converting this file to `.mdx` would even make sense, but even if I did, would the default layout apply to `page.mdx` and still not to the source `mdx` file?

The docs say:

Which makes me think that the default mdx layout really should be being

[2020-04-20 13:16] #23236 closed

[2020-04-20 13:19] M-Fasciano commented on #3607
The way I fixed this issue is creating a **Variables.js** file. Then I've imported the variables and used it like so

[code]

[2020-04-20 13:37] dhakan commented on #23281
Thanks for the reply.

The strategy I'm seeing based on what you're suggesting:

1. Have `gatsby-source-filesystem` run.
2. Utilize `createRemoteFileNode` based on the `sourceUrl` frontmatter field from the `File` nodes that were created in step (1). Do this inside of `onCreateNode`.
3. Mark these nodes with a `mediaType` of `text/markdown`.
4. Have MDX pick them up as if these files were always t

[2020-04-20 13:42] lannonbr commented on #23271
On top of such, Gatsby Static Queries do not support passing variables into them. If you want to use variables now, you can use page queries which likely in this instance won't help much, as I'm betting you want a component like `<Img src="foo.jpg" />` and it will pass it to the graphql for you, but there is discussions on making a new query that does support variables here: #10482

[2020-04-20 13:43] mhenrixon commented on #15479
For me the change needed was

[code]

[2020-04-20 13:49] atapas commented on #23255
Thanks for fixing, it works now!

[2020-04-20 13:51] pmarxbraun commented on #13454
@nyedidikeke Thanks for your help.

I can add amp attribute to my AMP pages now but the required  [boilerplate code](https://amp.dev/documentation/guides-and-tutorials/learn/spec/amp-boilerplate/?format=websites) is causing this issue [TypeError: tag[primaryAttributeKey].toLowerCase is not a function](https://github.com/nfl/react-helmet/issues/448#issuecomment-570815636)

Tried adding as stipulate

[2020-04-20 13:52] alexfornuto commented on #11243
I see what you're saying. I think the critical difference is that my maps and filters happen inside of my page's `return`, like this:

[code]

I'm sure there's some way I could abstract all that logic out of where it is and above where I could define constants, but I honestly _don't want_ to do that just to work around this bug in the Link component.

[2020-04-20 13:55] shennan commented on #23213
Perhaps I wasn't making myself clear; I understand already (as I believe most do) that browser variables are not available in Node. But compilers don't typically need to _run_ all of the code that they're compiling. Why is it not possible for Gatsby to simply compile the Gatsby build without running user space code (the code that is destined for a browser)? This is what I meant by using encapsulat

[2020-04-20 14:10] Alek-Sei commented on #11243
My issue got resolved by having a **/** (forward slash) at the end of the route as well as in the beginning...
![image](https://user-images.githubusercontent.com/55954606/79760891-6505d400-8329-11ea-964e-e9d1d17e5cc3.png)

[2020-04-20 14:16] theboyonline commented on #23289
@LekoArts Can you have a look ?

[2020-04-20 14:18] alexfornuto commented on #11243
@Alek-Sei I just gave that a try:

[code]

with no success. The difference here being the use of a value other than a literal string.

[2020-04-20 14:28] Steffi3rd commented on #23216
@wardpeet Yes, done. Let me know. Thank you 🙏

[2020-04-20 14:34] gillkyle commented on #21962
This was addressed in #23106

[2020-04-20 14:34] #21962 closed

[2020-04-20 14:35] laurieontech commented on #16700
Now that we've gained experience on theme usage this seems like not the way to go. The existing notes theme is sufficient and we don't see adding a core layer as anything but additional complexity for shadowing.

[2020-04-20 14:35] #16700 closed

[2020-04-20 14:36] JakubKoralewski opened #23296 "sourceNodes TS types inconsistent with documentation usage"
## Summary

In the [documentation of sourceNodes API](https://www.gatsbyjs.org/docs/node-apis/#sourceNodes)
the following function signature is used:
[code]
But in the actual TypeScript type definition inside [index.d.ts](https://github.com/gatsbyjs/gatsby/blob/fae27a899dcd3bdc616e847d894e69d0e2628880/packages/gatsby/index.d.ts#L408-L424) there are only the following:
[code]
This does not make sen

[2020-04-20 14:40] coldice commented on #23214
I was seeing the same issue in our ci after a package-lock file update, which worked fine locally. gatsby-cli is not in in package.json, but added to package-lock.json as dependency of gatsby.

Bumping gatsby version to 2.20.24 (and clean reinstall, reset of package-lock) solved it for me as well. I never saw this on my local environment though.

[2020-04-20 14:42] tony commented on #22763
@DevSide

As a next step, should new issue(s) be made re-articulating the situation? Or this reopened?

In this case, is this a feature request (e.g. something not existing in gatsby yet)? If so, is it due to it causing potential overhead somehow? (or do we still need to find that out?)

[2020-04-20 15:35] praveenweb opened #23297 "docs: starters listing not respecting the sort parameter"
## Description

According to this code [www/src/pages/index.js](https://github.com/gatsbyjs/gatsby/blob/master/www/src/pages/index.js#L175) and this code [www/src/views/starter-library/starter-list.js](https://github.com/gatsbyjs/gatsby/blob/master/www/src/views/starter-library/starter-list.js#L219) and from my previous browsing history, the starters list is sorted by stars on initial load. Right

[2020-04-20 15:36] moritzsalla commented on #23278
@LekoArts I have added some information to my issue, hope this helps.

[2020-04-20 15:40] wardpeet commented on #23216
I've looked at your code and everything is minified correctly. The reason why you see the code is because of sourcemaps. It's only used when having devtools open, it has no performance downside.

If you want to look how your code actually looks like you can disable source-maps using devtools settings:

![image](https://user-images.githubusercontent.com/1120926/79770610-f119fa80-832d-11ea-84a8-35ae

[2020-04-20 15:40] #23216 closed

[2020-04-20 15:43] Pauan commented on #23254
@LekoArts That shouldn't matter, because npm supports having multiple versions of the same package at the same time.

This is clear because `node_modules/core-js` is version 2, but `node_modules/canvg/node_modules/core-js` is version 3.

The problem is that Gatsby is not properly loading `core-js` from `node_modules/canvg/node_modules/core-js` like it should. In other words, Gatsby is *not* follow

[2020-04-20 15:43] DevSide commented on #22763
Well, I can reformulate this feature request with exemples. Unfortunately, I don't know if Gatsby team has already worked on a `where`/`conditions` filtering yet.

[2020-04-20 15:48] tony commented on #22763
@lekoarts: Would you like to re-open this?

[2020-04-20 15:51] Alek-Sei commented on #11243
Yeah, that's quite an issue. I can replicate your error with ease unfortunately as it turns out :) Didn't try it before, but gonna keep looking into it, maybe something relatively simple and efficient comes up.

[2020-04-20 16:01] alexfornuto commented on #11243
Thanks @Alek-Sei

@gatsbybot  Maybe this issue should be re-opened or a new one created?

[2020-04-20 16:03] Pauan commented on #23254
@LekoArts After looking more deeply at the issue you linked, I found [this](https://github.com/gatsbyjs/gatsby/blob/ff911e2300fd4212d10fdef03470dd01f6075693/packages/gatsby/src/utils/webpack.config.js#L391). So it seems that Gatsby is intentionally changing the Webpack module resolution rules, which is causing core-js to break. This is related to https://github.com/gatsbyjs/gatsby/issues/15601 but

[2020-04-20 16:07] antoinerousseau opened #23298 "[gatsby] [types] location state type"
## Description

When using the provided `PageProps` type for my Gatsby page, I cannot type the location state: it is forced to be `{}`.

### Steps to reproduce

- Create a new Gatsby site using TypeScript
- Type a page component as `React.FC<PageProps>`
- Check its `props.location.state` type: it's `{}`.

The `PageProps` type has a `DataType` and a `PageContextType` arguments, but it's missing a `

[2020-04-20 16:09] johno opened #23299 "Add support for options in the GatsbyPlugin resource"
## Summary

Recipe authors need to be able to specify Gatsby config options.

### Basic example

For now, we can support basic object configuration:

[code]

### Motivation

Supplying configuration to a Gatsby plugin is a common need, and even with basic option support, will see value.

In the future we will need to be able to handle JavaScript in plugins, and supporting duplicate plugin compositi

[2020-04-20 16:12] johno opened #23300 "Add support for composing plugins multiple times in GatsbyPlugin resource"
## Summary

Many plugins, like `gatsby-plugin-filesystem` are configured multiple times for different types and locations of data. We should be able to support that in recipes.

### Basic example

[code]

Related to #23299

[2020-04-20 16:13] theboyonline commented on #23289
Hi there, I was able to run with npm run develop. But normal gatsby develop is not working.
I need to add npm in every gatsby command. Like npm gatsby -v , Normal gatsby -v not working which used to work.

[2020-04-20 16:14] pieh commented on #22919
It does seems sensible to put modifications that `gatsby-source-graphql-universal` does in core. Just keep in mind that we need to make sure that the query text we will leave in source code can be "tree shaken" so if user doesn't try to reuse it in runtime it doesn't bloat bundles we produce. Terser should take care of that if they are not referenced anywhere but it needs some manual checking (and

[2020-04-20 16:23] Js-Brecht commented on #23227
No no, you're right.  That wouldn't work.  What I was more referring to was this:

[code]

If you pointed that to the `.mdx` files instead of the template, it would use the `defaultLayouts` option from `gatsby-plugin-mdx` to wrap the files.  There is code in `gatsby-plugin-mdx` that looks for the `.mdx` extension of that component property, and if it's there, it looks for a default export.  If it

[2020-04-20 16:33] laurieontech opened #23302 "Translate Visual Component"
Per #23241 we need to refactor these components to support translation.

The `<ComponentModel>` and `<ImageModel>` titles are currently hardcoded in an array inside of the component files. These need to be translatable.

Note that the markdown files are fine as is and the rotating examples in the ComponentModel are code rather than text and should also be fine.

[2020-04-20 16:51] Js-Brecht commented on #23194
Definitely a lot more going on than it appears at first glance 😄

[2020-04-20 17:25] KyleAMathews commented on #22991
@th-km something else that'd be cool for Sanity is to setup their studio alongside Gatsby. That's pretty not fun to figure out for new folks so would be great to automate.

[2020-04-20 17:27] KyleAMathews commented on #23300
Terraform lets you name resources — which solves this problem but is also handy so you can reference resources elsewhere.

`name` is obviously used in lots of resources already so I've thought about a standard prop being liked `rName` or `resourceName`. `alias` could work perhaps too.

[2020-04-20 17:32] kyleconrad commented on #23123
Running into this as well - have 217 assets in my Contentful (including some larger video files - all below 50MB), it claims to have completed the download and all of that. However, when I query, I'm getting this:

![image](https://user-images.githubusercontent.com/1865115/79781316-4d1f5780-830b-11ea-8960-24cc5e1d885a.png)

File exists on Contentful, file does not exist on my local server. There's

[2020-04-20 17:38] KyleAMathews opened #23304 "Move recipe files into the repo out of the gists to make them easier to maintain"

[2020-04-20 17:39] KyleAMathews opened #23305 "Extend theme-ui recipe so it's less bare-bones and easier to start playing with"

[2020-04-20 17:50] KyleAMathews opened #23306 "Refactor NPMPackageJSON to take standard fields along side allow setting custom fields"
The idea is that many site setup recipes would want to init their package.json file with common fields & solicit people's names/emails etc.

Some of these could be pulled from the local machine's settings too like name/email

[2020-04-20 17:52] KyleAMathews opened #23307 "Convert Resource IDs to be globally unique"
Most likely through `crypto` with a salt composed of the provider/resource names.

[2020-04-20 17:53] KyleAMathews opened #23308 "Autogenerate mutations for resources"
e.g. `createNPMPackage` or `createGatsbyPlugin`

[2020-04-20 17:54] smthomas commented on #22765
@Vacilando There are a few things I can think of that might help as a workaround. First, if you don't have that much data, you can query the data and filter by name in gatsby-node.js with some JavaScript.

If you have a lot of data and this will hurt your build times too much, you could create a field on your Drupal content type and then just syndicate the value in the paragraph to this field usin

[2020-04-20 18:13] hgezim commented on #23283
Thanks, @LekoArts.

My goal is to have a transformer plugin that takes URL in markdown and creates an unfurled (preview link) version with metadata.

Here's my code:

[code]

The issue I'm having is in `tranformsLinkNodeToOembedNode`. If `card.title` ends up with a single quote (`'`) in the string, the HTML generated is invalid:

[code]

[2020-04-20 18:41] danieltott commented on #23227
OK so let me confirm my thinking:

- The _only_ way that `defaultLayouts` is _ever_ used is if the mdx file itself is what gets passed directly to `component` in `createPage`.
- However, if you `export default` a layout (in the mdx sense of the word) in an mdx file, it will get used everywhere regardless of how you create a page. (you can see this working in the starter I cloned for this issue [he

[2020-04-20 18:47] Js-Brecht commented on #23227
That's correct.  That's something that `@mdx-js/mdx` does.  All `gatsby-plugin-mdx` does with `defaultLayouts` is inject an `export default` into the rendered mdx code, so that it can be picked up by `@mdx-js/mdx` ([ref](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-mdx/loaders/mdx-loader.js#L141-L154)).  If you do it yourself, you're essentially doing the same thing.

[2020-04-20 18:48] Js-Brecht commented on #23227
You can look [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-mdx/gatsby/create-webpack-config.js#L70-L84) to see how `gatsby-plugin-mdx` uses that `mdx-loader` I linked to in my last comment.

[2020-04-20 19:01] danieltott commented on #23227
OK great, thank you so much for your time and help!

[2020-04-20 19:01] #23227 closed

[2020-04-20 19:47] matchatype opened #23312 "Gatsby not working after yarn install"
## Description

Having a pretty weird issue. My Gatsby app used to run just fine. Today I updated to v2.20.26 using yarn as usual. From that point on, running any command, like `gatsby develop` returned me this error:

[code]

I tried `gatsby clean` , `rm -rf node_modules`, even rolling back to a previously working app... nothing... Always triggering that error. Then I tried `npm install` and that

[2020-04-20 19:49] herecydev commented on #23312
What are the differences you see?

[2020-04-20 20:00] abmagil commented on #23203
@wardpeet - I've got a working solution using `onPostBuild`.

As feedback for Gatsby, it would be helpful if I could access these HTML files via webpack in order to alter them (for instance with a critical CSS generator) but this issue can be closed.

[2020-04-20 20:02] matchatype commented on #23312
Pretty much every dependency folder is different, as you can see from the screenshot, but the most notable issue is that `gatsby-cli` is completely missing in yarn's node_modules directory (screenshot #4).
Forgive the amount of screenshots please... Yarn is on the left:

![CleanShot 2020-04-20 at 15 55 29@2x](https://user-images.githubusercontent.com/28128/79794406-2d465e80-8320-11ea-8fab-9bb6ecb8

[2020-04-20 20:04] theboyonline opened #23313 "Gatsby shows up on Git CMD not on Git Bash. Starter installation error also."
## Description

1 . I had installed gatsby through Git bash.
bash throwing error when "gatsby new ...." command is given, It can read "npx gatsby new...." but given an error in the end.

2. bash throwing error :
bash: gatsby: command not found when given "gatsby new ... command" without npx.

Ran through Git bash

C:\Users\ACER>npm -g ls --depth=0
C:\usr\local
`-- gatsby-cli@2.11.13

npm ERR! erro

[2020-04-20 20:20] herecydev commented on #23312
What version of yarn are you using?

[2020-04-20 20:22] matchatype commented on #23312
yarn v1.22.4
npm v6.13.4
node v12.16.1

[2020-04-20 20:46] mjmaurer commented on #23123
Yea I ran into this again as well. I think it was my internet connection + a large file. But it does seem like an issue that  if one file fails, everything fails silently

[2020-04-20 21:17] kyleconrad commented on #23123
@mjmaurer I manually bumped up the two TIMEOUT numbers in create-remote-file-node.js (in gatsby-source-filesystem) from 30s to 30 minutes, and it's successfully pulling all the files (including large videos). It's 100% a gross hack and not sustainable, but at least to get over the hump here it works.

[2020-04-20 21:24] shrthnd commented on #18803
@sidharthachatterjee et al., I would also like to help but this issue hasn't been updated for a while.

Is there a backlog of outstanding a11y-related tasks you can share?

[2020-04-20 21:38] #21263 closed

[2020-04-20 21:43] Hyraze commented on #21263
This issue will be closed with this pull request #23196

[2020-04-20 21:46] marcysutton commented on #20022
Hey @nik72619c, are you still interested in writing about HubSpot? We would be pumped to read your contribution!

[2020-04-20 21:50] Js-Brecht commented on #23296
I can't say I've run into any problems using the TS types.

The APIs that Gatsby passes into `sourceNodes` (and every other `gatsby-*` endpoint) are all part of an object.  So this would work, too:
[code]

The second parameter to the function is also the same as the other endpoints.  It contains the contents of the `options` property that is collected from `gatsby-config` for that particular plugi

[2020-04-20 22:13] mrassili opened #23319 "Form submission canceled because the form is not connected"
## Summary
Chrome console says `Form submission canceled because the form is not connected`

## Relevant information
I have a form with one textarea and it seems that submission doesn't go through, (I don't get anything on Netlify form), and the console throws this warning `Form submission canceled because the form is not connected` never seen it before, searched the internet but no relevant discu

[2020-04-20 22:25] Js-Brecht commented on #23298
I wonder if it would make sense to submit a PR fixing this in [@types/reach__router](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/reach__router/index.d.ts#L14).  That would make implementing an additional generic parameter in `PageProps` a little more straightforward.  It would at least eliminate the need to recreate the same types that are already in `@reach/router` in Gat

[2020-04-20 22:26] marcysutton commented on #14745
@janosh it's been a while, are you still seeing this issue? Can you provide a test case / reproduction so we can help debug it if, so?

[2020-04-20 22:30] zjp commented on #21852
After repeatedly failing to get the example author mapping to work, I eventually decided that porting everything I had thus far written to the example in `gatsby/examples/graphql-reference` was a better use of my time than continuing to diagnose. Until that point I had verified that I was, in fact, following the docs to the letter.

[2020-04-20 22:38] Js-Brecht commented on #23319
[code]

`netlify` is spelled wrong

I don't know if that will fix your problem.  Are you able to share your repository, or a simplified example repository?  Might be helpful to just look over the code.

[2020-04-20 22:52] Js-Brecht commented on #23319
Just realized something, too:

[code]

These are not valid React attributes.  React elements cannot have kebab case attributes

[2020-04-20 23:00] shannonbux opened #23320 "Recipes user stories"
## Problem
I need to verify that my understanding of current recipes functionality is correct and that my perception of the right next steps also get feedback!

## Solution
Please read these user stories and comment about which ones are already true, which ones are not a good idea, and which ones are missing. After we get agreement, I can turn each of the items below into an issue

With recipes, r

[2020-04-20 23:03] Js-Brecht commented on #23319
I have a feeling that the problem you're having might stem from using `onClick` on your submit button.  It's probably better to remove that `onClick`, and handle that particular action in the `onSubmit` handler of the form:
[code]

[2020-04-20 23:16] micahgodbolt opened #23321 "Gatsby Docs Recipes is confusing now that there is Gatsby Recipes"
I was searching for this page:

https://www.gatsbyjs.org/blog/2020-04-15-announcing-gatsby-recipes/

But instead found this page

https://www.gatsbyjs.org/docs/recipes/

Is there another word you can use instead of Recipes for that docs page?

https://www.bing.com/search?q=gatsby+recipes&cvid=472355232b23496683bbdc40d136cdee&FORM=ANNTA9&PC=U531

[2020-04-20 23:23] mrassili commented on #23319
@Js-Brecht 🤦 thanks, although it was just not registering on netlify and not the source of the problem

I move the logic to onSubmit, don't get the warning anymore, so I guess I should ask around on netlify repo

Thanks

[2020-04-20 23:35] Js-Brecht commented on #23319
So that fixed the "form is not connected" error, but the form values are still not making it to Netlify?

Is your form conditionally rendered, or does it make it into the static HTML?

[2020-04-20 23:47] mrassili commented on #23319
no it's not rendered conditionally, and yes it does make it to the static HTML (checked both the markup in devtools and the `js` file for the page generated in `public`)

[2020-04-20 23:54] Js-Brecht commented on #23319
I believe you when you say it's not conditionally rendered.  It's your code.  _I just want to mention that devtools can be misleading unless you turn off javascript, and same thing for `js` files in `public`.  What matters are the `html` files in `public`._

Hmm... 🤔.  And you **do** see the form in your Netlify UI?  Just no entries?

[2020-04-21 00:09] mrassili commented on #23319
It's really weird and random, I brute forced the first submission by luck and went straight to spam (in netlify)
I'll share w/ you the repo (in private if that's okay)

[2020-04-21 00:11] me4502 commented on #22004
So we've had this occur again in a way that cannot be worked around.

Using contentful, rich text fields are a separate node, accessed through `content___NODE`. Direct ID lookups are failing for some of these, and therefore the `content___NODE` field comes up as `null`.

I understand this is almost impossible to debug without a minimal reproduction, however I have not been able to create one relia

[2020-04-21 00:11] Js-Brecht commented on #23319
Ah, well spam I don’t think I can help with.  That’s definitely a case for the Netlify team.

[2020-04-21 00:18] Js-Brecht commented on #23319
Out of curiosity, how did you brute force it?

[2020-04-21 00:31] wesbos commented on #13235
I'm getting this too - my layout component shows everything, but whereever `{children}` is placed, it's empty

[2020-04-21 00:40] TylerBarnes commented on #21405
Awesome, thanks @n8finch , I'd love to hear what you think about it!
If you're into it, there's a great community on the WPGraphQL slack! I hang out in the #gatsby channel and help out anyone who has issues with the new alpha. But you can open issues here too if you prefer.

[2020-04-21 00:54] tesseralis opened #23326 "maintenance(www): unit tests: "Not implemented: navigation (except hash changes)""
## Description

The following message prints out several times when running tests on `www`:

[code]

The tests still pass, but this pollutes the logs and makes it hard to differentiate between actual errors.

### Context

This seems to be [an issue with JSDOM](https://github.com/jsdom/jsdom/issues/2112), as it doesn't implement navigation. There are several solutions proposed in the thread, but si

[2020-04-21 01:03] olafsulich opened #23327 "GatsbyJS with Firebase - WebpackError: ReferenceError: IDBIndex is not defined"
## Description

I'm received error with **gatsby develop**. It's very similar to this one: https://github.com/firebase/firebase-js-sdk/issues/2222, but I'm received error with gatsby develop, not with gatsby build. I did a lot of research but I can't find working solution. At first I had a problem with **gatsby build**, like in this post: https://github.com/firebase/firebase-js-sdk/issues/2222, bu

[2020-04-21 01:05] dandv opened #23328 "TypeScript plugin docs don't mention how to create template-based pages"
The [TypeScript plugin docs](https://www.gatsbyjs.org/packages/gatsby-plugin-typescript/) don't cover a core Gatsby use case, [generating pages from GraphQL](https://www.gatsbyjs.org/docs/programmatically-create-pages-from-data/#specifying-a-template).

What should the `component` parameter to `actions.createPage` be set to, since the user may set their compiler options to `noEmit: true`, given th

[2020-04-21 01:55] n8finch commented on #21405
Thanks @TylerBarnes ! I'll follow up with you on Slack if I have any questions. Cheers!

[2020-04-21 02:30] dandv opened #23331 ""Unknown version 4 of Samsung" only on AWS"
## Description

I'm getting this error on `gatsby develop` or `gatsby build`, in what is AFAICT an identically set up Ubuntu 18 environment, with the only difference being that the error occurs on AWS Lightsail, but not locally. I used `npm ci` to make sure I install the same package versions - here's [package-lock.json](https://gist.github.com/dandv/c19b9dc9fa5e9c9c7fb6039aaf3f2fea).

Searching f

[2020-04-21 02:31] shrthnd commented on #23320
The current user-stories appear spot-on from my perspective, and is not an insignificant amount of work. Thanks, folks!

[This note](https://github.com/gatsbyjs/gatsby/pull/22709#issuecomment-607923725) mentions the possibility of "different designs that e.g. take you back to a main recipes screen"—this would be useful. Could this behavior could be the default (without a --quiet flag or, if you're

[2020-04-21 03:52] mahmudph commented on #21796
i solve this isue by removing gatsby-transformer-sharp, gatsby-plugin-sharp , gatsby-plugin-manifest" on the package.json and remove with sudo rm -rf node_modules and npm install, last step you can install package that u remove by npm i --save gatsby-transformer-sharp and etc

[2020-04-21 04:10] Js-Brecht commented on #23239
Did that answer your questions, @Kadrian?

[2020-04-21 04:21] PerfectPan commented on #21995
Hi！I made a PR for `gatsby/src/query/redirects-writer.js`. Can any one help me check out in the list?Thanks a lot! BTW, it is my first PR in gatsby, so I am worried about screwing it up. Any advice will help me a lot.

[2020-04-21 05:19] janosh commented on #14745
@marcysutton Yes, still seeing this. A simple way to reproduce this on my end is

[code]

which prints

[code]

[2020-04-21 06:05] ascorbic commented on #23213
The trouble is that in order to pre-render the HTML, we have to run the component's render function. If your render function accesses a browser global we have to assume that the browser global is required in order to render. If it isn't required, then you can either check if it exists (I recommend optional chaining if it makes sense for your situation), or better still by putting the code that acc

[2020-04-21 07:05] LekoArts commented on #23327
Thank you for opening this!

As you also asked that on StackOverflow, you already got the correct answer there :)
https://stackoverflow.com/questions/61334290/gatsbyjs-with-firebase-webpackerror-referenceerror-idbindex-is-not-defined/61336305#61336305

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We

[2020-04-21 07:05] #23327 closed

[2020-04-21 07:11] LekoArts commented on #23321
Thank you for opening this!

It wasn't directly mentioned in [What are future plans for Gatsby Recipes?](https://www.gatsbyjs.org/blog/2020-04-15-announcing-gatsby-recipes/#what-are-future-plans-for-recipes) but the /docs/recipes page you mentioned will eventually be converted to recipes itself. So it wouldn't make sense to rename this now for the short period of time where it isn't ready yet. As

[2020-04-21 07:11] #23321 closed

[2020-04-21 07:17] #19899 closed

[2020-04-21 07:44] moonmeister commented on #17434
With the merging of #23077 this might be easier to resolve now that we completely control the favicon and its naming.

[2020-04-21 07:48] Mandersen21 commented on #15601
Any news on this?

[2020-04-21 07:51] Kadrian commented on #23239
Yes, thanks!

[2020-04-21 07:51] #23239 closed

[2020-04-21 08:17] dandv commented on #23331
The error doesn't happen if I use `npx yarn` instead of `npm install`.

I've added to [the gist](https://gist.github.com/dandv/c19b9dc9fa5e9c9c7fb6039aaf3f2fea) `yarn.lock` and the original `package.json`.

[2020-04-21 08:21] LekoArts commented on #23319
Thank you for opening this!

Please contact Netlify's support as this is not an issue with Gatsby. Thanks!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) if you have questions tha

[2020-04-21 08:21] #23319 closed

[2020-04-21 08:23] LekoArts commented on #23313
This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/23289

[2020-04-21 08:23] #23313 closed

[2020-04-21 08:26] LekoArts commented on #23289
Sorry, but I can't help you with that much further. This is an issue with your local environment, maybe your Node isn't correctly set up. Maybe follow guides such as https://blog.theodo.com/2017/01/use-git-ssh-and-npm-on-windows-with-git-bash/

Alternatively you can use `npx gatsby [your-command]` or use npm scripts like `npm run develop` inside a gatsby project. Short explanation of npx: https://

[2020-04-21 09:02] mrassili commented on #23319
I mean it's by trying to submit many times until it went just by luck

[2020-04-21 09:02] PetroPavlenko commented on #7747
Hi all. I have that issue only in iframe.
So it works in prod, but doesn't work in develop. And works without iframe.
I have added in gatsby-ssr
[code]
where useMenuData has `useStaticQuery`
Is it possible to useStaticQuery in iframe in develop?

[2020-04-21 09:04] SajithRAP opened #23338 "Gatsby Image in SVG not working"
I was importing images via GraphQL. Its working for jpg and png format but svg are not working. Errors are throwing out for svg file. Note: The directory and file names were correct

            Sample {
              title
              description
              avatar {
                childImageSharp {
                  fluid {
                    ...GatsbyImageSharpFluid
                  }

[2020-04-21 09:11] moonmeister opened #23339 "[pluign-preact]: changes to hmr/development"
I have two concerns, I'm happy to open a PR if these are real, but maybe I'm just confused on this implementation hoping @teodragovic or whomever can help.

1. `console.log('[HMR] disabled: preact is not compatible with RHL')`

Q: I'm taking this to imply that `preact` is not compatible with `react-hot-loader`. But I'm actively attempting to enable the experimental `react-refresh` and this is comi

[2020-04-21 09:21] rishabh09 opened #23340 "How to create multiple pages for same node"
I am using markdown to create posts,

my current routes are like `product/post-name`

I want `product/index` URL which will redirect to `product/post-name`

I am calling `createPage` 2 times in `exports.createPages` but it is redirecting to itself

[2020-04-21 09:25] th-km commented on #22991
@KyleAMathews It's definitely something I want to look at!

Something that I miss is the ability to have options when you create files. Something like Option 01: <File01>, Option 02: <File02>...

A simple use case I have in mind is when you use the gatsby recipes theme-ui. It'd be super handy to pick between an empty theme file or a preset, or even better a theme file generated from a tool like bl

[2020-04-21 09:39] LekoArts commented on #23340
Thank you for opening this!

That is something you'll need to handle on your server side / host. So e.g. if you use Netlify you can use [gatsby-plugin-netlify](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/#redirects). Then you would run the `createRedirect` function in a loop through the `index` you have. This may vary depending on the host you're using.

We're marking this issue as ans

[2020-04-21 09:39] #23340 closed

[2020-04-21 09:43] LekoArts commented on #23338
Thank you for opening this!

As you correctly noticed you'll get a warning for svg files as you can't use gatsby image with SVG. You'll need to use `publicURL` instead and use a normal `<img src="" />` tag.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communiti

[2020-04-21 09:43] #23338 closed

[2020-04-21 09:49] kannanseeni opened #23341 "How to use username and password in graphql sourcing"
[code]

can any one help me how to add username and password

[2020-04-21 10:02] LekoArts commented on #23250
Hi, thanks for the issue!

I also wished that it had that capability in the past so appreciate you opening this. Your proposed rules sound reasonable.

As we all know, naming things is hard, so I'd suggest going with `elements` and `[h1, h2]` for now. `elements` could be changed once the docs team has an eye on it. If you need any help with getting started with that, please let me know :)

[2020-04-21 10:15] nikita-seliverstov opened #23343 "After updating package gatsby stoped working"
After updating packages the build stopped working. In development enviorment it outputs this error:
![image](https://user-images.githubusercontent.com/37171096/79854276-e153f200-83d1-11ea-9570-2cf042a19272.png)

[code]

When I remove the Helmet component everything starts working

### Environment
  System:
    OS: Windows 10 10.0.17134
    CPU: (4) x64 Intel(R) Core(TM) i3-4150 CPU @ 3.50GHz
  Bin

[2020-04-21 10:30] freiksenet commented on #22763
Generally, we don't want to add any more functionality to our query language. It already exposes an API layer that's too complex. I feel that the combined query solution that @tony provided above is a good workaround.

[2020-04-21 11:13] #22907 closed

[2020-04-21 11:19] pieh commented on #19899
Published `gatsby-plugin-manifest@2.3.6`

[2020-04-21 11:20] pieh commented on #22907
@StuartRayson's fix was published in `gatsby@2.20.28`

[2020-04-21 11:31] saadaouad commented on #22920
Hi @LekoArts,
I think this [changes](https://github.com/gatsbyjs/gatsby/pull/23196) will resolve the problem

[2020-04-21 11:52] JonasJuss commented on #12155
I would love this functionality as well!

[2020-04-21 12:02] #22463 closed

[2020-04-21 12:08] Steffi3rd commented on #23216
Yes, thank you Ward I understand now.

I just found some issues about my issue :

- v2 - Don't generate source maps by default
https://github.com/gatsbyjs/gatsby/issues/3817

- Gatsby: Disable source maps in production
https://blog.marcnuri.com/gatsby-disable-source-maps-production/

I even found a plugin that solve my problem :
https://www.npmjs.com/package/gatsby-plugin-no-sourcemaps

🙏

[2020-04-21 12:09] matchatype commented on #23312
What worked in my case was cleaning my cache with `yarn cache clean`. I ran into other rather similar issues of people having similar problems, however with npm rather than yarn, and nobody tried this. Npm has similar feature `npm cache clean`.

[2020-04-21 12:09] #23312 closed

[2020-04-21 12:34] anishanair6 opened #23344 "Gatsby wordpress (DIVI Theme)"
Hi Team,

I have a wordpress website which is being builded using DIVI theme. I have used divi page builder to create entire website and now i want to make my website headless. I understand gatsby fetches wordpress CMS contents using WP Rest API. But the page contents which is builded using DIVI is saved in the form of DIVI shortcodes in database. Which can be only rendered by divi modules. Since

[2020-04-21 12:49] trustin opened #23345 "Imports in MDX pages go to the main bundle"
## Summary

Any imports I put into an MDX page become a part of the main bundle (`app-*.js`). For example, the following JSON file and React component in an MDX file will be added to `app-*.js`:

[code]

I expect such imports to be tied to each page rather than to the main bundle, for optimal use of network traffic. This can't scale as the number of pages increases.

[This comment](https://github.

[2020-04-21 12:55] wardpeet commented on #23216
sourcemaps are a great way to find issues with your bundle. There is no harm in exposing them. If you feel like you rather not generate them, that's cool.

[2020-04-21 12:57] wardpeet commented on #15601
i'll be working on this, this week and next week. I'll keep you all posted.

[2020-04-21 12:59] trustin commented on #23345
Just in case it makes any difference, all the MDX files are located in `src/pages` directory.

[2020-04-21 13:03] pieh commented on #23345
The "best" workaround for now is to wrap imported components with `React.lazy` / `react-loadable`. The cons of that is the components will not render for .html and there will be "flash" of content first before components loads and appear on the page

Yes, it is known issue and there is work being done on this, but it's pretty far way from doing it nicely (for now it's discovery, I had proof of con

[2020-04-21 13:07] Mandersen21 commented on #15601
thanks @wardpeet :)

[2020-04-21 13:14] JakubKoralewski commented on #23296
Yes, that's right! I ended up doing the same, although what I meant by this whole issue was to be able to just set the type on the function not on its parameters:
[code]
Sorry if I didn't make this clear.

[2020-04-21 13:22] trustin commented on #23345
Thanks a lot for a super quick response. What workaround would you suggest for imported JSON? Should I move the page out of 'src/pages', load the JSON from 'gatsby-node.js' instead of importing in '.mdx', and call 'createPage()' with the loaded JSON?

[2020-04-21 13:31] antoinerousseau commented on #23298
@Js-Brecht it does, so I opened https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44081 :)

[2020-04-21 13:32] pieh commented on #23345
Ah, I didn't notice that you import JSON there. I don't know to be honest how to best approach this yet other than "hiding" this in extra component:

[code]

and then `lazy-thing.js` could be

[code]

(that's using Multiple resources case for `react-loadable` - https://github.com/jamiebuilds/react-loadable#loading-multiple-resources )

[2020-04-21 13:45] benrobertsonio commented on #22004
@me4502 There are some known issues with Contentful's rich text feature, documented below, which might give some direction!

- https://github.com/gatsbyjs/gatsby/pull/15084
- https://github.com/contentful/rich-text/issues/94

[2020-04-21 13:48] trustin commented on #23345
Wouldn't it make the page unfriendly to search engines? Would my idea of gatsby-node.js hack work? :thinking:

[2020-04-21 13:53] pieh commented on #23345
Oh, I found out we should be able to do this directly in .md(x) file using similar technique as described in https://johno.com/react-hooks-in-mdx/ (so you wouldn't need separate wrapper files for it, and just use `react-loadable` directly in .md files)

[2020-04-21 13:54] pieh commented on #23345
Potentially yes, but crawlers are pretty good at running javascript code nowadays. The `gatsby-node.js` idea would work for sure too

[2020-04-21 14:01] trustin commented on #23345
Thanks a lot for the suggestions. Let me give them a tries and report back.

Should we turn this issue into a bug report or enhancement request? I can't find an issue filed for this yet.

[2020-04-21 14:07] micahgodbolt commented on #23321
Sounds good. Thanks for addressing

On Tue, Apr 21, 2020, 12:12 AM Lennart <notifications@github.com> wrote:

[2020-04-21 14:25] me4502 commented on #22004
@benrobertsonio Those issues are referring to the partial sync the API does on update, we’re using the option to force a full sync to get around that issue.

This issue is outside of the Contentful plugin from what I can tell. The data is all there correctly in Gatsby’s node store, it just cannot be queried by ID from graphql.

[2020-04-21 14:46] theowenyoung commented on #19792
I also encountered this problem, I want to set plugin options async, I will use `prebuild` to handle it, but I hope gatsby can support dynamic config.

[2020-04-21 15:16] shrthnd commented on #23344
@anishanair6, I think the best path forward here is to configure your WordPress project to output the expected markup from the get-go.

Generally speaking, you need the WP REST API to apply the do_shortcode() function to your post $content and $excerpt server-side, before returning the results to Gatsby through the API. I haven't tested this proposed solution, but here's a link to a [stackoverflow

[2020-04-21 16:06] RaffyeMemon commented on #16233
Question:

I have new site coming up .. how Gatsby compares with WordPress based on content management. my client will be average Joe who is only able to manage content using wordpress visual builder etc.. I cannot ask him to go in and mess with GraphQL pages or templates. can someone guide if Gatsby is good for content driven site. ??

Thanks,

[2020-04-21 16:06] RaffyeMemon commented on #16233
I have new site coming up .. how Gatsby compares with WordPress based on content management. my client will be average Joe who is only able to manage content using wordpress visual builder etc.. I cannot ask him to go in and mess with GraphQL pages or templates. can someone guide if Gatsby is good for content driven site. ??

Thanks,

[2020-04-21 16:21] MarcMcIntosh commented on #22919
Hi @pieh

Thanks for the info about running the end-to-end tests, they pass with the modifications made to `babel-plugin-remove-graphql-queries` :)

Sounds interesting, I'll take a quick look through to see what I can find then make a PR :)

[2020-04-21 17:20] elimisteve commented on #14891
@Talii123 How'd you solve it? I'm also using Node v10.x but see the WebAssembly error. Thanks!

[2020-04-21 17:41] pieh commented on #23194
I'll close this issue, because the problem is already captured in https://github.com/gatsbyjs/gatsby/issues/21592 and there's no point in having duplicates.

The `resolvePlugin` option is also already mention there (as well as some limitation of this approach)

[2020-04-21 17:41] #23194 closed

[2020-04-21 17:56] Js-Brecht commented on #23296
Oh, I see.  Yeah, you're right.  That has been an issue.

I'm about 99% sure it's unable to infer the argument types because of the function signature ambiguity.  There's not enough for Typescript to differentiate between the various overloads.

Here is the type for `sourceNodes`:
https://github.com/gatsbyjs/gatsby/blob/8ee74c1f85f75eb7ede2c22eb87eee21ebc9e8c6/packages/gatsby/index.d.ts#L418-L424

[2020-04-21 18:32] crutchcorn commented on #22287
This issue is not stale. Are we able to remove the tag on it?

[2020-04-21 18:33] marcysutton commented on #14745
@janosh thanks for the update!

@LekoArts can you provide any details on what specifically was fixed months ago, so this can be debugged further? The gist of the problem, to recap, is that `gatsby develop` provides an automatic IP address for a hostname of `0.0.0.0` while `gatsby serve` does not, which is pretty inconvenient for testing production builds before deployment. More insight from a Core

[2020-04-21 18:37] blurr83 commented on #22822
Hi @madalynrose - I'll see if I can set that up. Some of the original issues, through a lot of trial and error, I was able to figure out what was causing it. Some of it had to do with how the instructions for offline were laid out, and lack of full instructions when it came to overriding workbox.

[2020-04-21 19:23] brisa-pedronetto commented on #13965
Apparently the current version of Gatsby does exactly what you asked for, @slorber.

I created this createPage entry:
[code]

And the following component:
[code]

And `bookingId` comes through as you mentioned 👍

[2020-04-21 19:34] slorber commented on #13965
Hi

I actually found out it is indeed working as I expected yes. Sorry I forgot to report it here.

[2020-04-21 19:35] Talii123 commented on #14891
@elimisteve if I remember correctly, I actually had 2 different installations of node on my Windows machine. Not versions, I had installed it in two different places. So node -v told me about the 10.x installation but gatsby was picking up an 8.x version from a different path.

I believe I upgraded the version that gatsby was calling and uninstalled the other one.

[2020-04-21 20:00] shannonbux opened #23356 "Error message usability tests"
## Problem

We already knew that error messages needed to be improved ([see this RFC up for improving error messages](https://github.com/gatsbyjs/rfcs/pull/37)) and [a recent survey further validated that knowledge](https://www.gatsbyjs.org/blog/2020-04-17-gatsby-survey-goes-command-line/)! We have been preparing usability testing for error messages. The number one way to improve Gatsby is for you

[2020-04-21 20:04] bengray opened #23358 "Why is my app-[hash].js file so large?"
## Summary
I work for a company that's running a website using Gatsby.  There are 60k product pages, and that's causing our app-[hash].js file to be 10MB.  Is there any optimization we can make to reduce the size of this app-[hash].js file?

## Relevant information

I work on a fairly large e-commerce site that was built using Gatsby. Up until now we have been dynamically loading all our product d

[2020-04-21 20:25] KyleAMathews opened #23360 "Update the UI when the apply step has taken longer than 10 seconds"
This is so users know that something is still happening

[2020-04-21 20:53] Z11 commented on #17506
Still an issue 😿

[2020-04-21 21:03] wardpeet commented on #23221
Like I thought it's webpack being way slower. I'll be investigating

[2020-04-21 21:12] shannonbux commented on #23356
Ideas for improving error messages so far:
- quick wins:
    - indicate that GraphiQL is still available even when error occurred. When is this the case? Are there errors that break GraphiQL?
    - Improve information hierarchy to emphasize suggestions after error message. Can use white space, bigger or bolder typeface, headers, color.
    - Give clearer feedback in the CLI when a user resolves an