[2018-09-17 11:50] xblue-light commented on #8190
@pieh I have tried, and still results in the same error any thoughts?

exports.modifyWebpackConfig = ({ config, stage }) => {
  if (stage === "build-html") {
    config.loader("null", {
      test: /react-modular-audio-player/,
      loader: "null-loader",
    });
  }
};

[2018-09-17 11:52] kakadiadarpan commented on #8190
@pieh It throws `Invariant Violation` error.

[code]

[2018-09-17 11:57] pieh commented on #8163
This would be quite complex to do right now, `gatsby-node` does a lot more things than just create pages, so we would need to know that only `createPages` was changed, reload module and run it. This could also cause weird issues if someone store state in `gatsby-node` context - so for now restarting `gatsby develop` is your best bet :/

[2018-09-17 12:00] #8193 closed

[2018-09-17 12:07] kakadiadarpan commented on #8163
@whoisryosuke We'll be closing this issue, as restarting `gatsby develop` is the best option

[2018-09-17 12:07] #8163 closed

[2018-09-17 12:11] surjithctly commented on #8210
One Question: if Git is required and mandatory to start using Gatsby, Why is it not mentioned atleast once in Docs or Tutorial. It really helps the beginners.

What's your opinion @kakadiadarpan ?

[2018-09-17 12:12] surjithctly commented on #8210
Restarting the VSCode (Powershell) fixed the issue as the link given by you. Thanks :)

Still not sure I should Keep GIT or not since its not mentioned as pre-requisties.

[2018-09-17 12:13] pieh commented on #8190
hmm, hard for me to check this out - repo points to https://bitbucket.org/ which defenitely isn't repo for this site :)

[2018-09-17 12:28] kakadiadarpan commented on #8210
@surjithctly Yes, `Git` should be mentioned as a dependency in the docs. Would you like to work on this and raise a PR?

[2018-09-17 12:57] xblue-light commented on #8190
@pieh you can reproduce easily is basically gatsby starter and the third party module due to privacy related policies at work I cannot share the repo

1. https://github.com/codebushi/gatsby-starter-stellar
2. https://github.com/retrofuturejosh/react-modular-audio-player

**Quick setup in /pages/index.js**

`
import AudioPlayer from 'react-modular-audio-player';

let playlist = [
{ src: "/music.mp3

[2018-09-17 13:04] vincentdesmares commented on #5888
I wish this was already possible :)

Btw, small typo in the issue name: atrubute -> attribute.

[2018-09-17 13:34] pungggi commented on #2807
@nzambello sorry my dumb question what where exactly did you put the script ?:
<script src="https://cdn.polyfill.io/v2/polyfill.js?features=default-3.6,Symbol"></script>

[2018-09-17 13:39] fredrik-sogaard commented on #2807
We used react-helmet to add it to html <head>.

[2018-09-17 13:40] ooloth commented on #7729
Agreed! It's fixed in `2.0.0-rc.25`.

Thanks everyone!

[2018-09-17 13:40] #7729 closed

[2018-09-17 13:40] #8203 closed

[2018-09-17 13:42] n3v3rf411 commented on #6654
I was able to run `gatsby develop` after ~25 minutes but I had to reduce concurrency in create-remote-file-node.js from 200 to 20. I did get some 22 TimeoutErrors (but were redownloaded when executing gatsby develop again) after putting logs in that empty catch in processRemoteNode.

Not sure if it's because of got but maybe can experiment with other http clients...
[code]

[code]

[2018-09-17 13:52] #8185 closed

[2018-09-17 13:52] pungggi commented on #2807
it worked, thank you. now having "Proxy" is undefined.. need to search, but it helped

[2018-09-17 14:13] erquhart commented on #8085
@kakadiadarpan this is all Netlify CMS, probably won't need a review from the core team. Working on a fix.

[2018-09-17 14:46] #8140 closed

[2018-09-17 14:48] kakadiadarpan commented on #8085
@erquhart Thanks for the update!

[2018-09-17 15:07] KyleAMathews commented on #8122
This seems pretty reasonable to me.

The API would be something like:

[code]

[2018-09-17 15:46] fabe opened #8216 "onCreateNode creates no nodes when cache exists"
When creating/extending nodes (e.g. nodes derived from markdown files) with the `onCreateNode` API, I am only able to query the created nodes when there is no cache (after `rm -rf .cache`). Could be a usage error on my part, but I can't seem to figure out what's wrong here.

### Steps to reproduce

Example repo: https://github.com/fabe/test-gatsby-oncreatenode

1. Run `yarn develop` once (without

[2018-09-17 15:56] #7935 closed

[2018-09-17 16:04] zslabs opened #8217 "Scroll to top on push not working as expected"
## Description

This issue was discussed quite a bit in https://github.com/gatsbyjs/gatsby/issues/3249 and fixed in https://github.com/gatsbyjs/gatsby/pull/3775 but I realized leaving a comment there probably wasn't the best; so opening up an issue here to see if this needs a bit more investigation. As described in the PR comment, I'm not not consistently getting "scroll to top" behavior.

### Ste

[2018-09-17 16:50] kkemple commented on #6170
V2 is being released shortly and there are a lot of new docs that explain how to set up jest for testing! I would recommend going that route as we experimented with exposing config but it actually becomes harder to work with as you can't get the babel config until `gatsby develop` is running!

https://next.gatsbyjs.org/docs/unit-testing/

[2018-09-17 16:53] m-allanson commented on #7695
Gatsby v1 uses webpack v1, I'd guess that the way this library is packaged isn't compatible with webpack v1.

Your best bet here is probably to update to Gatsby v2. Note that as the library depends on the `window` variable you'll need to load it in componentDidMount, something like:

[code]

[2018-09-17 17:01] jerembardon commented on #8189
Yep I can installing gatsby and create a new project, just `gatsby develop` command don't want to work correctly

[2018-09-17 17:06] gi-alec opened #8224 "Using Gatsby v2 and styled-components v4 together, extending component styles no longer work"
Using Gatsby v2 and styled-components v4 together, extending component styles no longer work.
**There is a thread open on styled-components spectrum group [here](https://spectrum.chat/styled-components/?thread=4a2f04dd-b37a-47ea-8633-82f7dc8ba562).**

I noticed the elements in question show a class name (or 2) in the DOM, but the styles for that class are empty.

[Gist of the project structure](ht

[2018-09-17 17:10] Undistraction commented on #6170
@kkemple I have to say I still find the docs confusing. It's unclear what approach should be taken if we just want to add a babel plugin. The old recommendation was to copy Gatsby's `babelrc` to the root and make changes there, but how should we be doing it now? How should we add a single babel plugin, for example `babel-plugin-styled-components`? Secondary to this, if we are modifying the babel c

[2018-09-17 17:13] #8181 closed

[2018-09-17 17:19] m-allanson commented on #7378
Done!

[2018-09-17 17:19] #7378 closed

[2018-09-17 17:49] gi-alec commented on #8224
Side note. For some reason gatsby is throwing an error if gatsby-link isn't installed, despite being on version 2

[2018-09-17 17:54] sedubois commented on #6167
I would also love to see this. Additionally such a schema file serves as a quick reference when debugging a Gatsby site that doesn't build any more (e.g while tinkering in gatsby-node).

There might be additional benefits like creating a mock auto-generated GraphQL API, referring to the type definitions in discussions and documentation, etc.

(Further down the line, we could speculate about invert

[2018-09-17 18:18] KyleAMathews commented on #5953
PRs to merge:

- https://github.com/gatsbyjs/gatsby/pull/8227
- https://github.com/gatsbyjs/gatsby/pull/8172
- https://github.com/gatsbyjs/gatsby/pull/8226
- https://github.com/gatsbyjs/gatsby/pull/8176
- https://github.com/gatsbyjs/gatsby/pull/8177

[2018-09-17 18:47] #8189 closed

[2018-09-17 19:16] iammatthias commented on #7997
@davidbailey00 I'll give this a try right now and report back.

[2018-09-17 19:32] iammatthias commented on #7997
@davidbailey00 Works perfectly. Tried in Safari, Chrome, and Firefox.

[2018-09-17 19:45] davidbailey00 commented on #7997
@iammatthias awesome! I'll close this issue then :)

[2018-09-17 19:58] shannonbux commented on #5694
@arun1595 feel free to take this! I assume no one has started it because this issue isn't linked to a PR yet. Thank you! 👍

[2018-09-17 20:38] coreyward commented on #4926
I'm experiencing this consistently in Safari on macOS as well as iOS.

[2018-09-17 20:46] #7976 closed

[2018-09-17 20:50] octalmage commented on #6302
Fixed the link in my comment, Gatsby goes through and sorts preloaded items to the top. This could be causing styles to be loaded in different orders between development and production.

https://github.com/gatsbyjs/gatsby/blob/b70dd5acc031115296584f879aa52cca62b5dd9c/packages/gatsby/cache-dir/static-entry.js#L232

[2018-09-17 20:59] shannonbux commented on #7426
oh hi @kkemple this is something I should assign to myself. Will do that
right now. I need to do two more usability tests to really verify if this
is an issue or not

On Mon, Sep 10, 2018 at 12:13 PM, Kurtis Kemple <notifications@github.com>
wrote:

[2018-09-17 21:13] dkataiev commented on #7794
Having the same problem.
Tried cleaning my node_modules several times.

[2018-09-17 22:00] m-allanson commented on #5953
V2 is released!

[2018-09-17 22:00] #5953 closed

[2018-09-17 22:12] abumalick opened #8234 "personalize development 404 page"
## Summary
Is there a way to customize the development 404 page ?

## Relevant information
We have an use case where it would be very useful that the 404 page displays specific content according to the browser url. I think that it is very easy to do that in production mode (edit 404.js), but I want to make it work also in development mode so it is easier for devs.

Is it possible to replace 404 de

[2018-09-17 22:13] KyleAMathews commented on #8234
Not atm! But yeah, that'd be great. Perhaps if there's a `src/pages/development-404.js` we use that?

[2018-09-17 22:13] HriBB commented on #8047
Just updated to v2. Congrats to all devs :)

I'm having issues with hot reload as well. I'm using `material-ui@3.1.0`. If I wrap my root with a Layout component, hot reload doesn't work for styles. It works for components though, so I suspect I'm doing something wrong.

[2018-09-17 22:45] HriBB opened #8237 "Material-UI and Gatsby v2 - hot reload does not work for styles"
This is basically a re-post from the Material-UI [issue](https://github.com/mui-org/material-ui/issues/12909) in hopes that someone can help me.

I'm using Material-UI  v3.1.0 with Gatsby v2.0.0 following the official [example](https://github.com/mui-org/material-ui/tree/master/examples/gatsby). Gatsby v2 changed how layout works, specifically the changes after `gatsby@2.0.0-beta.59` caused many h

[2018-09-17 22:56] vinz243 opened #8238 "Error while develop with v2 and typescript: Cannot use GraphQLObjectType "SitePageConnection""
## Summary

I am trying to setup  gatsby + typescript with v2, but I get an error about the graphQL instances.

## Relevant information

Error:
[code]
However  there is clearly only one `graphql` package:

[code]

### Environment (if relevant)

[code]

### File contents (if changed)

`gatsby-config.js`:

[code]

`package.json`:
[code]

[2018-09-17 23:46] SimonIMG opened #8242 "Gatsby v2 WordPress post.js and page.js - Variable "$id" of required type "String!" was not provided."
## Description

I'm building a Gatsby site with a WordPress and ACF backend. I've been following the example closely to build my decoupled site, in particular, [the template files for post.js and page.js](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-wordpress/src/templates).

However, when I go a `gatsby develop` I get the following error for my pages (although the site displays c

[2018-09-18 00:20] jdeanwaite opened #8246 "v2 Build Errors with AWS AppSync due to graphql collision(?)"
## Description

Upgrading from beta 83 to v2 release gives me errors when trying to build (even on develop). It appears to be due to AWS AppSync also providing a `graphql` package.

### Steps to reproduce

I have created a very minimal repository that encompasses our main project's setup in a very simplified format. Clone it and try to run `gatsby build`.

### Expected result

Should build just fi

[2018-09-18 00:26] HriBB commented on #8237
I managed to get hot reloading to work by using `export default hot(module)(PageOrTemplate)`.

Had to add this to all my pages and templates. Hacky, but at least I can work normally ...

[code]

[2018-09-18 00:48] thescientist13 commented on #7295
I'm seeing this as well, updating to the newest v2 release, coming from `^2.0.0-beta.61`, for my unit tests.

[code]

This was being required to pull in `MemoryRouter` from my unit test
[code]

I recall this was a [suggestion from some of the testing conversations](https://github.com/gatsbyjs/gatsby/issues/6240#issuecomment-408634526) at the time.

@m-allanson
Is there a similar concept in Reach R

[2018-09-18 02:40] aalenliang opened #8249 "Error: Cannot find module 'graphql'"
## Description

After running command to start my new project:
[code]

I got an error:
[code]
However, running `npm install` or `rm -rf node_modules` and reinstall doesn't work for me.

If i create project based on another starter, it works fine.
[code]

### Environment
[code]

[2018-09-18 04:08] ljfranklin opened #8250 "[v2] Example "using-page-transitions" is broken"
## Description

The [using-page-transitions](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-page-transitions) example seems to be broken after today's Gatsby 2.0 release. It was correctly fading as a page transition before today but after updating the deps to go from the gatsby rcs to 2.0 releases it no longer fades.

### Steps to reproduce

1. `cd examples/using-page-transitions`
1

[2018-09-18 04:38] kakadiadarpan commented on #8116
@garethgd on executing `gatsby build` I can see the below log in my local:

<img width="843" alt="screen shot 2018-09-18 at 10 06 20 am" src="https://user-images.githubusercontent.com/10805593/45664674-b71dbc80-bb2a-11e8-85ef-f5addad79ed0.png">

[2018-09-18 05:40] CanRau commented on #3582
I experienced similar happenings..I'm still on my way preparing to release my upgrade to v2 and don't know if this might also fix this? Anyone knows?

[2018-09-18 05:42] palerdot commented on #5694
@shannonbux Sure. Will look into this and will give a PR.

[2018-09-18 05:51] ryanwiemer commented on #7454
@davidbailey00 and @pieh,

Thanks for the update and background info! Hopefully this gets resolved in the near future as `v2` has been officially released.

Let me know if you need help with anything.

[2018-09-18 06:04] kakadiadarpan commented on #8246
@jdeanwaite did you try to use suggestions provided in that thread?

[2018-09-18 06:07] kakadiadarpan commented on #8249
@aalenliang Can you try npm install after removing `package-lock.json`, `yarn.lock` and `node_modules/`?

[2018-09-18 06:16] sedubois commented on #3582
@CanRau see https://github.com/gatsbyjs/gatsby/issues/3582#issuecomment-358704657, normally webpack v3 fixes it, so yes Gatsby v2 should fix it. (I haven’t upgraded yet)

[2018-09-18 06:17] kakadiadarpan commented on #8217
@zslabs I'm unable to reproduce this on latest versions of `Chrome` or `Safari`. I'm getting "scroll to top" behavior consistently (tried 10 times). It would be great if you could provide a screen capture of this issue.

[2018-09-18 06:19] xblue-light commented on #8190
You can close this issue clearly it cant be resolved, I will seek different alternative solutions. Thank you.

[2018-09-18 06:27] Mike-Van opened #8252 "gatsby-image: how to import the processed image into css and use it with background-image property"
I sucessfully implemented the gatsby-image into my project and replace lots of img tag that are used in my components. But now im trying to optimized the background image for some of my component but i dont know how since using gatsby-image would generate a new img tag, and i cant use that to style as a background for say a div element. can s1 show me how i can use the generated images with css. H

[2018-09-18 06:27] davidbailey00 commented on #8234
Hmm, 404.js should appear in development if it exists, rather than the default 404 page - can you create a reproduction repo?

[2018-09-18 06:40] aalenliang commented on #8249
Hi, I upgrade my npm to 6.4.1, uninstall gatsby globally, and redo the steps.
now it works fine.

Not sure what's wrong. I'll close this issue. Thank you for your reply.

[2018-09-18 06:40] #8249 closed

[2018-09-18 06:44] davidbailey00 commented on #8234
Never mind, I can see this isn't working in my main testing project.

[2018-09-18 07:14] CanRau commented on #3582
thanks for the hint..I guessed it might be fixed but good to read it ;)

[2018-09-18 07:31] kakadiadarpan commented on #8238
@vinz243 The error says this:

  directory. If different versions of "graphql" are the dependencies of other
  relied on modules, use "resolutions" to ensure only one version is installed.
  https://yarnpkg.com/en/docs/selective-version-resolutions

If you check yarn.lock, there will be something like below there for `graphql`:

<img width="1058" alt="screen shot 2018-09-18 at 12 54 30 pm" src="ht

[2018-09-18 07:54] SimonIMG commented on #8242
It's a private repo for my place of employment, sorry.

And pulling it down and running it likely won't work, as it is connected to a Lando instance on my local machine.

I was hoping someone else had come across this issue.

Here is my `gatsby-node.js`
[code]

And here is my `page.js` that's throwing the error
[code]

Is this enough to diagnose what's going on?

[2018-09-18 08:09] stefanprobst commented on #8252
[`using-gatsby-image`](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-gatsby-image/src/pages/index.js) has an example of `gatsby-image` for background images:
https://github.com/gatsbyjs/gatsby/blob/6a1f21f0ff02645aa4fab5d69eb3dd8196d8aa31/examples/using-gatsby-image/src/pages/index.js#L12-L17
That uses a normal `<img>` tag though.
That said, if you really want you should be able to

[2018-09-18 08:14] schalkventer commented on #8122
@KyleAMathews, if it is as straightforward as the above it seems like a good solution. 👍

For the sake of clarity, what is the baseline behaviour for preloading via `Link`? Is it as indicated above only once you hover over the link, or is it on the rendering of the view that contains the link?

[2018-09-18 08:36] CanRau opened #8254 "maybe add info about breaking changes in gatsby-image"
maybe https://github.com/gatsbyjs/gatsby/pull/7083 should add notes in changelog (the main one, and probably in package one), and maybe even the readme, about breaking changes due to the removal of the `outerWrapperClassName` prop and maybe more?!
just mentioning because I was just missing all my images^^

[2018-09-18 08:49] CanRau commented on #8254
kay now I feel stupid^^ don't know when this was added and to lazy to check, maybe I missed it while upgrading but found it in [/migrating-from-v1-to-v2.md#gatsby-images-outerwrapperclassname-was-removed](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/migrating-from-v1-to-v2.md#gatsby-images-outerwrapperclassname-was-removed)

[2018-09-18 08:49] #8254 closed

[2018-09-18 08:50] m-allanson commented on #6728
Another idea for Peril thanks to @papandreou at https://github.com/gatsbyjs/rfcs/pull/12#issue-216193648 - detect (and correct?) common mis-spellings of Gatsby. Gastby and Gatbsy are the usual culprits.

[2018-09-18 08:52] stefanprobst opened #8255 "[core] plugin resolver should accept require()"
Currently, gatsby's plugin resolver accepts plugins as strings, and internally handles calling `require`. This makes `gatsby-config.js` more readable, but leads to unexpected results when combined with the fact that gatsby uses the same logic for `plugin.options.plugins` ("subplugins"). It took me a while to realize that gatsby messes with an `options` property that should really only be handled b

[2018-09-18 09:03] Undistraction commented on #6926
@jdeanwaite I had experienced an issue in components with eslint marking graphql references as invalid because of no imports so I had added an `import graphql from 'graphql'` to the file. However as of v2 gatsby exports graphql so it shouldn't be imported.

[2018-09-18 09:05] stefanprobst opened #8256 "[gatsby-image] should accept aria attributes"
Currently, `gatsby-image` does not pass on aria attributes to `<img>`. We should at least allow setting `role=none`, since `using-gatsby-image` shows how to set a background image.

[2018-09-18 09:29] borekb commented on #6842
This is also a great article: [Wrangling remote images with Gatsby](https://www.wildsmithstudio.com/blog/remote-images-with-gatsby/)

[2018-09-18 09:38] #4038 closed

[2018-09-18 09:43] kakadiadarpan commented on #8256
@stefanprobst we should definitely do this. Would you like to work on this and raise a PR?

[2018-09-18 09:50] Mike-Van commented on #8252
@stefanprobst using an inline style would be great. But i cant get images from `headerOne.sizes.srcSet`

`<div className="header-back" style={{background: `url(${headerOne.sizes.srcSet}) 50% 0 no-repeat`}}></div>`

[2018-09-18 09:50] kakadiadarpan commented on #2714
@felixfbecker can you try upgrading your Gatsby version to 2 and check if that solves the problem for you?

[2018-09-18 09:50] pieh commented on #8216
If nodes are already in cache and they didn't change since last run (contentDigest didn't change) Gatsby will just touch them and no re-create them (which would be the case if markdown files weren't changed). As they are just touched, `onCreateNode` isn't called in that case. Installing new plugins or making changes to `gatsby-node.js` should automatically clear cache, so nodes should actually be

[2018-09-18 09:53] kakadiadarpan commented on #8237
@HriBB is this issue reproducible in the [example](https://github.com/mui-org/material-ui/tree/master/examples/gatsby) of `material-ui` for Gatsby?

[2018-09-18 10:03] LeKoArts commented on #8252
You have to use `headerOne.sizes.src`.
Reference: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sharp

As a tip: Use GraphiQL under `http://localhost:8000/___graphql`. You can test the queries there and auto-complete will show you what the responses are. Fragments don't work out of the box there though.

[2018-09-18 10:18] imshuffling opened #8257 "[v2] Homepage served from Contentful and not index.js"
Having a hard time to work out how to render the homepage in gatsby generated from content Contentful.

I have got template/page.js template which is populated with posts from contentful, I would like to have the homepage in contentful.

As default index.js is the current homepage.

Is there a straight forward way to do this?

Thanks.

[2018-09-18 10:27] papascott opened #8260 "[www/plugins] Descriptions in results show unrendered Markdown code"
(I hope this is the correct way to report bugs in the website! 😄 )

## Description

At https://www.gatsbyjs.org/plugins the descriptions show unrendered Markdown code, for example https://www.gatsbyjs.org/plugins/?=font

<hr />

![screenshot_673](https://user-images.githubusercontent.com/8681117/45681054-d4f41d00-bb3c-11e8-891d-aabd0896a819.png)

<hr />

### Steps to reproduce

Open https://www.ga

[2018-09-18 10:43] borekb opened #8261 "Docs: local plugin folder name is not clear"
I was following the [Local plugins section](https://github.com/gatsbyjs/gatsby/blob/ba2ea3871bdef6f822c9a9d46ecb98ad796dfd50/docs/docs/plugin-authoring.md#local-plugins) of the docs and it was not clear that the folder name is significant for the plugin to be discovered – I thought that the `name` field in `package.json` is used.

For example, this doesn't work:

[code]

package.json:

[code]

gat

[2018-09-18 10:44] anthonysapp opened #8262 "wrapPageElement doesn't seem to work as expected in V2"
## Description

I use wrapPageElement API hook as described in the docs to have persistent page elements.

### Steps to reproduce

My gatsby-browser.js looks like this:
[code]
Layout.js extends PureComponent and implements a PoseGroup in its render method, while keeping the main navigation and footer persistent.

### Expected result
Page content mounts / unmounts as a child of the PoseGroup, main

[2018-09-18 10:44] LeKoArts commented on #8252
Well, you have to use `gatsby-image` of course. @stefanprobst already linked you the bit on how to use it as a background image.

[2018-09-18 10:48] fk commented on #8098
Closed via #8118.

[2018-09-18 10:48] #8098 closed

[2018-09-18 10:50] fk commented on #7978
Fixed in #7985.

[2018-09-18 10:50] #7978 closed

[2018-09-18 11:16] m-allanson commented on #8135
Does the site work as expected when running locally? e.g. if you do `gatsby build` and then `gatsby serve`?

It's difficult to say without more information on your setup, but generally if your shared hosting is configured to serve static html sites that should be enough. You'll need to upload the contents of your `public` directory to your shared hosting.

[2018-09-18 11:41] alvis opened #8265 "[v2] Update to Redux 4?"
## Summary

Redux 4 has been released for a while. Shall we update the dependency?

I've already tested the change in my fork and there is nothing breaking.

### Motivation

Redux 4 has updated its TypeScript bindings. Personally, I prefer the new version much.

Putting it aside, Redux 4 has es modules support and dropped its dependency on `lodash`. Hence, it can make the bundle smaller.

[2018-09-18 12:06] SteveALee commented on #2444
At the top of the page you list 3 types of sites. I'm keen to know how Gatsby compares with an SPA, perhaps made with create-react-app. Obviously Gatsby makes more decisions, but would some types of SPA be better made with Gatsby?

I am really assuming the line between an `app` and a `site` is very blurred :)

[2018-09-18 12:35] kakadiadarpan commented on #8261
Hi @borekb, would you like to raise a PR to fix the [`local plugins`](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/plugin-authoring.md) documentation?

[2018-09-18 12:51] mikelax commented on #8256
[gatsby-image](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L80) is already setting `alt=""` if no `alt` property is specified, so that is a good first step.

I think a simple enhancement would be to also add `role="presentation"` **only if** no property value was specified for `alt`

From [Section 7.1](https://www.w3.org/TR/wai-aria-practices-1.1/)

Based on t

[2018-09-18 12:55] DSchau commented on #8256
@mikelax love this idea! If you're interested in PRing this later, we'd love to take a look, otherwise I'll try and get to that this afternoon. All for improving Gatsby's accessibility defaults!

[2018-09-18 12:59] johnjelinek opened #8267 "Can't complete tutorial part 4: 'rhythm' is not defined"
## Description

I'm getting an error from typography.js that it doesn't have an export for `rhythm`.

### Steps to reproduce
Follow instructions here: https://www.gatsbyjs.org/tutorial/part-four/

### Expected result

page should load
![Pandas Eating Lots](https://www.gatsbyjs.org/static/start-9a136a7536d2f4b315d446f6a1a83725-acb38.png)

### Actual result

[code]

### Environment

[code]

[2018-09-18 13:01] vinz243 commented on #8238
Fixed thanks !

[2018-09-18 13:01] #8238 closed

[2018-09-18 13:01] DSchau commented on #8267
Looks like you misspelled the import--happens to the best of us!

You'll need to swap `rhytym` for `rhythm`.

The ESLint warnings were super helpful in diagnosing that problem, so thanks for posting them!

Closing, but please let us know if you need anything else!

[2018-09-18 13:01] #8267 closed

[2018-09-18 13:19] m-allanson commented on #7295
Hey @thescientist13, experimenting with your tests is looks like you can just plain remove MemoryRouter and the react-router-dom import.

However, in a related problem I wasn't able to get your header and navigation specs to find the Link component - not sure what's happening there.

[2018-09-18 13:46] LeKoArts commented on #8256
I think setting `role=presentation` with an empty alt tag is not necessary. Screen readers automatically assume that images with an empty alt tag are background images as the quote from above (section 7.1) states.

[2018-09-18 13:55] rickbrunstedt commented on #8142
Sorry for delay, @kakadiadarpan

example:
https://github.com/rickbrunstedt/gatsby-example-error/commit/a62a3e4f6c697bf900b662196d5345937d94c76c

First of all, I can confirm that this isn't stalling or breaking my deploy on Netlify.

As you can see in that commit I passing a custom object to the context variable of createPage function. Which ends up with a warning message which says:
[code]

There

[2018-09-18 14:00] fabe commented on #8216
For some reason, setting a valid `parent` id instead of `null` or `__SOURCE__` gets it to work as expected. Although the docs state that `null` should be fine. Anyways, closing this for now, thank you!

[2018-09-18 14:00] #8216 closed

[2018-09-18 14:01] #7944 closed

[2018-09-18 14:02] fk opened #8270 "[www] Improve CSS breakpoint constant naming"
I hereby propose detaching breakpoint constant names from device/screen types, changing

https://github.com/gatsbyjs/gatsby/blob/d19192cdb5902f0835373e67262ffa81f8c85b8e/www/src/utils/presets.js#L5-L16

to

- `Mobile` -> `Xs`
- `Phablet` -> `Sm`
- `Tablet` -> `Md`
- `Desktop` -> `Lg`
- `Hd` -> `Xl`
-  `VHd` -> `xxl`

If possible without too much effort, I also think we should consolidate `VHd` and

[2018-09-18 14:04] DSchau commented on #8270
@fk I obviously love this idea :)

[2018-09-18 14:05] #8074 closed

[2018-09-18 14:06] pieh commented on #7454
Yeah, I probably broke it and will take a look on this

[2018-09-18 14:06] stefanprobst commented on #8256
If screenreaders indeed already do this I am totally fine with closing this issue.

[2018-09-18 14:06] DSchau opened #8271 "[www]: Insecure mixed content detected"
On Netlify deploy, we get e-mail(s) about insecure mixed content, basically http content links served over https.

It's _just_ two http badges as far as I can tell, so it should be a fairly doable fix.

Here's the warning direct from Netlify:

[2018-09-18 14:12] spectras commented on #8262
I just tried to revert the patch in #8218 on my local copy, removing the key and confirm that fixes the issue.

[2018-09-18 14:14] greglobinski commented on #8262
Same issue

[2018-09-18 14:26] m-allanson commented on #8271
See https://github.com/Necmttn/gatsby-source-trello/pull/4

[2018-09-18 14:27] DSchau commented on #8271
You beat me! Thanks!!

[2018-09-18 14:27] m-allanson commented on #8271
I can't work out the ipfs plugin though, that looks like it _has_ been published?

[2018-09-18 14:29] DSchau commented on #8271
@m-allanson I just installed it, and it looks like it still has some `http` links!

[code]

[2018-09-18 14:36] johnjelinek commented on #8267
Blast! That's the word that defeated me in the first grade spelling bee and it still defeats me today.

[2018-09-18 14:38] jonhorton commented on #8099
Thanks @kakadiadarpan!

Closing this issue as the PR that adds this functionality has been successfully merged 🎉

[2018-09-18 14:38] #8099 closed

[2018-09-18 14:42] anthonysapp commented on #8262
@spectras is this easy to do? I assume since #8218 was part of a larger issue there is some work involved in fixing it.

[2018-09-18 14:44] zslabs commented on #8217
Hey @kakadiadarpan thanks for the reply! Here's a gif of what I was talking about (sorry - would have been more helpful if I added that to begin with):

![kapture 2018-09-18 at 10 43 01](https://user-images.githubusercontent.com/1018402/45695594-bc313a80-bb2f-11e8-8b1c-c90fa4db4740.gif)

Let me know if that helps better explain things.

[2018-09-18 14:46] spectras commented on #8262
@anthonysapp reverting that patch fixes the issue with wrapPageElement. Yeah it's easy, it only changed 3 lines.

However, I guess the other issue should be back then. As my own project was not affected that's fine as a workaround for me at the moment.

[2018-09-18 14:47] fabe commented on #8250
Seems like `gatsby@2.0.0-rc.27` broke the example, `gatsby@2.0.0-rc.25` still works.

[2018-09-18 14:57] anthonysapp commented on #8262
Cool, thanks all. Should we leave this issue open as it's been marked for review?

[2018-09-18 15:06] spectras commented on #8262
I guess so. The workaround does not fix the issue, as people who were affected by the initial problem cannot use it.

[2018-09-18 15:08] dotist opened #8274 "'source and transform nodes' runs slowly, and every time."
## Description

Every time that I run **gatsby develop**, 'source and transform nodes' runs for a long time (30+ seconds). It's connecting to a Drupal Json-endpoint, where there are no more than 15 Drupal-nodes. 30 seconds for 15 pieces of content seems like a long time to me. Also, this behavior happens every time i run **gatsby develop**, but shouldn't the imported nodes be cached, making this s

[2018-09-18 15:31] thomasrumbold commented on #8261
@borekb , @kakadiadarpan, I've made a minor update here that may do the trick: https://github.com/gatsbyjs/gatsby/pull/8275.

[2018-09-18 16:05] vinz243 opened #8277 "How to nest my Layout outside of reach-router"
Basically, I have a checkbox which is used to draw the menu (using CSS). The state checked or not dterlmines whether it should be displayed. Since the checkbox is inside the routes, it rgets reset on every navigate. How to change this behavior?

[2018-09-18 16:15] #6819 closed

[2018-09-18 16:15] KyleAMathews commented on #6822
🎉

[2018-09-18 16:15] #6822 closed

[2018-09-18 16:16] DSchau commented on #7797
Fixed in #7826. Thanks @stefanprobst.

For anyone coming here after the fact, this was published in `gatsby-image@^2.0.5`

[2018-09-18 16:18] #7611 closed

[2018-09-18 16:18] #6869 closed

[2018-09-18 16:18] #6973 closed

[2018-09-18 16:38] mikelax commented on #8155
@chasemccoy I am pretty sure those functions won't work if you are importing directly from the `@reach/router` package. At the very least you should be importing these from `gatsby`.

I just confirmed that  `navigate` function imported from `gatsby` does not respect the `pathPrefix` config value.

[code]

[2018-09-18 17:06] h0rhay opened #8280 "[This Totally doesnt'work! ] Just import a markdown file actually"
Yup! Just import a markdown file actually :-) This is actually Gatsby is doing under the hood.

In a JS component you can do something like

[code]

There's also several React components on NPM that let you write Markdown directly in your React component e.g. https://www.npmjs.com/package/react-markdown-it which also uses markdown-it like Gatsby.

Did that answer your question?

_Originally posted

[2018-09-18 17:18] stefanprobst commented on #8280
It's not really clear to me what you are trying to achieve. The [Gatsby tutorial (https://www.gatsbyjs.org/tutorial/) walks you through building pages from markdown.

[2018-09-18 18:02] KeevanDance commented on #8249
Yup happening to me too...

[2018-09-18 18:04] shannonbux commented on #7782
#7873 closes this

[2018-09-18 18:04] #7782 closed

[2018-09-18 18:07] shannonbux commented on #7982
Closed by #8133

[2018-09-18 18:07] #7982 closed

[2018-09-18 18:09] shannonbux commented on #7471
I fixed this, can't remember which PR though!

[2018-09-18 18:09] #7471 closed

[2018-09-18 18:10] braco commented on #2426
Also getting an error from the query above
[code]

[2018-09-18 18:11] shannonbux commented on #6616
Closing and replacing with #8103

[2018-09-18 18:11] #6616 closed

[2018-09-18 18:15] abumalick commented on #8234
@KyleAMathews @davidbailey00 Why not use the 404.js page for development too ? I think keeping the same behavior for development and production is better.

We could display the urls that we currently see in the 404 development page in a modal so we don't lose that functionality.

What do you think ?

[2018-09-18 18:30] azamatsmith commented on #8056
I am experiencing a similar problem on Netlify after converting an existing project to Gatby v2

Local build:
[code]

And Netlify:
[code]

[2018-09-18 18:31] alpgumus opened #8285 "if page's matchPath is altered, loader.js cannot find the page"
## Description

If page's matchPath property is altered in gatsby-node.js, loader.js is not able to find the page in development mode.

### Steps to reproduce
in gatsby-node.js, change matchPath of a page:
[code]

### Expected result

When you browse to /mypath mypage should display

### Actual result

In development mode, it is not able to find the page, and showing 404

Check this note: [note by

[2018-09-18 18:32] davidbailey00 commented on #8234
@abumalick Sounds good - I think this is meant to be the behaviour (display the custom 404 page, and fallback to the development page if one doesn't exist) but some recent PR might've changed it unintentionally.

[2018-09-18 18:45] fk commented on #7471
😄 I also saw this today and wanted to take another quick look just now!
Nice! Thanks Shannon! 🙌

[2018-09-18 18:55] pieh commented on #7879
This was done in https://github.com/gatsbyjs/gatsby/pull/7936

[2018-09-18 18:55] #7879 closed

[2018-09-18 18:57] ErisDS commented on #4799
Argh I definitely had this working, now elemMatch is an unknown field. Did something change?

[2018-09-18 18:57] pieh commented on #6545
This was implemented in https://github.com/gatsbyjs/gatsby/pull/7801

[2018-09-18 18:57] #6545 closed

[2018-09-18 19:06] braco commented on #1786
For those ending up here, if your query is in a component and isn't top level, check out StaticQuery:

https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/static-query.md

[2018-09-18 19:11] borekb commented on #8261
@thomasrumbold beat me to it :) Before submitting a PR, I wanted to verify that the current behavior is correct – I'd expect the `name` field in `package.json` be the package's name, not its folder name.

Also this line could be considered for revision in that PR: https://github.com/gatsbyjs/gatsby/blame/e4fb8e4aee271e6e3ce9044811e122e6d7c76645/docs/docs/plugin-authoring.md#L39

In any case, a doc

[2018-09-18 19:28] pieh commented on #4537
It should be covered by https://github.com/gatsbyjs/gatsby/pull/6793

[2018-09-18 19:28] #4537 closed

[2018-09-18 19:45] thibautvs commented on #7827
Upgrading to Gatsby 2.0.1 and gatsby-plugin-styled-components 3.0.0 fixed the problem!

[2018-09-18 19:47] jonsuh opened #8288 "[gatsby-remark-autolink-headers] Option to disable icon and customize class"
## Summary

Hi! 👋 I’d like to propose 2 features for `gatsby-remark-autolink-headers`:

1. Disable the icon/anchor
2. Customize the class

### Basic example

[code]

### Motivation

I thought these two options would help when someone wanted (1) heading `id`s without the anchor icon/link or (2) to change the icon anchor’s class name if it clashed with any existing CSS.

### Details

I opened a PR f

[2018-09-18 19:50] thibautvs commented on #7827
Just upgraded to Gatsby 2.0.1 and 3.0.0. Still the same issue...

[2018-09-18 19:51] johndevor commented on #5660
I used nvm and it resolved with this command `nvm install lts/carbon`

[2018-09-18 20:44] Rolando-Barbella commented on #4950
My .cache directory despair while running updates, now if I run gatsby-develop it just breaks off course

[2018-09-18 21:00] jlengstorf commented on #7583
Things to be done:

- [ ] @jlengstorf to set up a weekly meeting
- [ ] @jlengstorf to merge all duplicate issues
- [ ] @marisamorby to set up an agenda for ongoing project tracking
- [ ] @jlengstorf and @marisamorby to create issues for the work we scoped out above

[2018-09-18 21:03] #7322 closed

[2018-09-18 21:10] DSchau commented on #7827
@thibautvs I just [created a repo](https://github.com/DSchau/gatsby-7827) demonstrating the usage of styled-components, the gatsby plugin, and ThemeProvider and was unable to reproduce.

[Here's the demo in Netlify showing the built site](https://dazzling-knuth-957de4.netlify.com/)

I'm going to close this one out until you can reproduce! Thanks for your patience!

[2018-09-18 21:10] #7827 closed

[2018-09-18 21:28] sabbakeynejad commented on #1494
If you just need to make small changes, I just use conditional rendering.

`          {post.frontmatter.tag == 'blog' &&
          <p className="project-cat"> — {post.frontmatter.date}</p>
          }`

[2018-09-18 22:05] robertoaikode commented on #8169
I have the same problem! Any solution?

[2018-09-18 22:08] pungggi commented on #7144
I am having this since today with a v1 project but on deploying with travis not on my local machine

[2018-09-18 22:09] DSchau commented on #8169
I'd recommend updating your gatsby-* packages to their latest 2.x versions.

One really helpful tool is using the command `yarn upgrade-interactive` which will give you an intuitive way to see the latest versions and pick and choose what you want.

[2018-09-18 22:12] #8087 closed

[2018-09-18 22:21] #8085 closed

[2018-09-18 22:31] robertoaikode opened #8297 "Page 404 redirects to ?no-cache=1"
## Description

I'm using Gatsby V2. I have a strange problem with 404 error because it redirects automatically to ?no-cache=1

My URL is: https://aikode-pwa-sistema.firebaseapp.com/

### Steps to reproduce

I executed:
- gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-default
- I added some pages
- gatsby build
- firebase deploy (or gatsby serve)
- enter a page that does not exi

[2018-09-18 22:34] GabrielDuarteM opened #8298 "Does gatsby-plugin-emotion accept an "env" config?"
## Summary

Does gatsby-plugin-emotion accept an "env" config, like [babel-plugin-emotion's docs](https://github.com/emotion-js/emotion/tree/master/packages/babel-plugin-emotion#usage) uses on the recommended setup?

## Relevant information

It's nice to have the ability to customize the emotion output depending on the build type, for example, to display the component labels on the class on dev, b

[2018-09-18 22:37] devrchancay commented on #8297
Hello, that problem seems more like firebase than gatsby.
If you try to upload your application to netlify?

[2018-09-18 22:42] DSchau commented on #8298
@GabrielDuarteM we kinda handle that for you!

[Here's the relevant code](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-emotion/src/gatsby-node.js)

We disable `sourceMap`, `autoLabel` in production, and enable `hoist`. This is effectively the same as what you're trying to do, so you don't have to do it that way!

That said, to answer your question, no, we don't support the

[2018-09-18 22:42] #8298 closed

[2018-09-18 22:46] ztrayner commented on #7144
Looks like this issue is breaking build systems that are still on Gatsby v1

[2018-09-18 22:53] DSchau commented on #7144
@pungggi it's most likely an issue with how you're building your site in Travis. Maybe older version of `npm` that doesn't respect lock files?

I can confirm that checking out that project, running `npm install`, and then `npm run build` does not manifest the issue, so can't reproduce!

@ztrayner I think we'd need a lot more evidence before we say that!

I'm going to close this as "needs reproduct

[2018-09-18 22:53] #7144 closed

[2018-09-18 22:56] pungggi commented on #7144
My build now passed, switched from yarn to npm, and downgraded node from 8.12 to 8.9.4 with npm 5.6.0

[2018-09-18 22:57] DSchau commented on #7144
@pungggi thanks so much for posting your solution!

[2018-09-18 23:13] robertoaikode commented on #8297
@devrchancay but also happens with gatsby serve (http://localhost:9000)

[2018-09-18 23:49] andykais commented on #7581
according to the ongoing discussion over at `react-icons` react-icons/react-icons#154, to get tree shaking to work in `v3`, you need to import from the `.mjs` files. The gist of it is that we need to change webpack's `resolve.extensions` to include `.mjs` files. However, from my naiive messing around with `gatsby-node.js` I was not able to get this to work

[2018-09-18 23:50] williamtstanley commented on #8217
I am also having an issue with scrollToTop not working as expected.

[2018-09-19 00:13] SimonIMG commented on #8242
So, in my `page.js` file, if I change the query so that a String is not required, the error is gone.
[code]
But does that mean there is WP content being generated that doesn't have an ID? Or a slug? How could that be?

[2018-09-19 00:28] KyleAMathews commented on #8262
@pieh

[2018-09-19 00:35] tylermenezes opened #8301 "gatsby-plugin-sharp tracedSVG crashes build"
## Description

Using tracedSVG on a file ending in .jpeg causes gatsby-plugin-sharp to report the following vague error:

[code]

Of note, Twitter always uses .jpeg for its image suffix, so any images saved from Twitter will crash tracedSVG.

### Steps to reproduce

1. Upload a .jpeg file to Contentful
2. Load the image in GraphQL using `tracedSVG`

### Expected result

- Image is traced into an

[2018-09-19 01:30] andykais commented on #7581
update: I have found a workaround to get `.mjs` files to play nicely with gatsby.
[code]
[code]
tree shaking does work with this method, my bundle size is much smaller than if I use `index.js`

using
- `gatsby@2.0.0`
- `react-icons@3.0.5`

[2018-09-19 02:55] jacobherrington commented on #8260
Going to take a look at this!

[2018-09-19 03:35] enmanuelduran commented on #7517
Happening to me as well on V2.

[2018-09-19 04:41] reeversedev opened #8306 "How to use componentDidMount() in Gatsby Application?"
[code]

[2018-09-19 04:44] reeversedev commented on #8306
I am unable to get any kind of output from componentDidMount() method. What can be the reason?

[2018-09-19 04:47] KyleAMathews opened #8307 "Certain resource files are blocked by adblockers leaving the page non-interactive"
https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/

Tried it in regular and incognito windows.

/cc @davidbailey00

[2018-09-19 05:01] mihail911 opened #8309 "Markdown Styling Seems Inconsistent"
## Description

I'm currently looking at [https://using-remark.gatsbyjs.org/hello-world-kitchen-sink/#h1](https://using-remark.gatsbyjs.org/hello-world-kitchen-sink/#h1) for how to include certain elements in the Markdown on the page I'm working on. In particular, I've been trying to add tables.

However, I'm running into some inconsistencies whereby my Gatsby tables don't include any horizontal l

[2018-09-19 05:13] kakadiadarpan commented on #8260
Will be fixed by #8310

[2018-09-19 05:18] kakadiadarpan commented on #8274
I think this is same issue as in #6654, if anyone want to try to work on this please check  https://github.com/gatsbyjs/gatsby/issues/6654#issuecomment-417151538 for context where exactly this could be fixed

We'll be closing this issue in favor of #6654

[2018-09-19 05:18] #8274 closed

[2018-09-19 05:26] kakadiadarpan commented on #8297
@devrchancay this will only happen if you have added `gatsby-plugin-offline` in your application.

[2018-09-19 05:29] #8256 closed

[2018-09-19 05:29] kakadiadarpan commented on #8301
@tylermenezes can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-09-19 05:42] kakadiadarpan commented on #8306
@reeversedev can you provide a reproduction repo where we can see this? I'm unable to reproduce this issue. Please check the gif below:

![8093](https://user-images.githubusercontent.com/10805593/45733006-827a3580-bbfc-11e8-8481-7f092c5e21a8.gif)

Also, run `gatsby info --clipboard` in your project directory and paste the output here. Not working? You may need to update your global gatsby-cli - `n

[2018-09-19 06:04] kakadiadarpan commented on #7897
Might be related to #8224

[2018-09-19 06:05] greglobinski commented on #8262
+1

[2018-09-19 06:11] davidbailey00 commented on #8169
@robertoaikode This isn't the same as the issue you opened - in this case it turned out that the problem with @wiched's site was an Apache misconfiguration. (cc @DSchau)

[2018-09-19 06:15] davidbailey00 commented on #8297
@robertoaikode This is intentional behaviour - I'll have a look next week to see if I can improve how it works.

[2018-09-19 06:41] fk commented on #8309
Hey @mihail911!

The `using-remark` example uses [gatsby-plugin-typography](https://www.gatsbyjs.org/packages/gatsby-plugin-typography/) under the hood, which includes the table styles you saw at [using-remark.gatsbyjs.org/hello-world-kitchen-sink/#tables](https://using-remark.gatsbyjs.org/hello-world-kitchen-sink/#tables).

If you want to see how those styles are set up, take a look at https://gi

[2018-09-19 06:41] #8309 closed

[2018-09-19 06:47] barbalex commented on #5811
Please add the browser-monad solution to the docs. It is essential for instance if you want to add navigator.share to a project

[2018-09-19 06:54] rtm619 opened #8311 "[v2][question] Use of no-cache logic inside app-xxx.js file"
[code]

Can I know for what reason its being used? Because when I use web.config to handle http errors, the urls that aren't present get concatenated with no-cache=1 and go in a refresh loop. I am executing the 404 page when the user inputs a wrong url, keeping the wrong url intact.

Thanks in advance.

[2018-09-19 07:59] kakadiadarpan commented on #8311
When a URL is appended with `?no-cache=1`, it bypasses the `service-worker` and fetches the resource from the actual server. This makes sure that the user is not served with stale data.

Closing in favour of #8297

[2018-09-19 07:59] #8311 closed

[2018-09-19 08:02] davidbailey00 commented on #8307
This is caused by adblockers, e.g. uBlock Origin. To workaround this, we should move lines 15 to 30 in load-directly-or-404.js into their own function, and export this separately (in addition to calling it from the same place in the default export), then call this function at line 102 of ensure-resources.js.

I'll be happy to review a PR which fixes this, or if it's not done by next week then I'll

[2018-09-19 08:03] davidbailey00 commented on #8307
Having said that, a workaround like the one described above could mean that the page isn't interactive or some parts fail to load - not entirely sure of the consequences.

[2018-09-19 08:17] kakadiadarpan commented on #8246
@jdeanwaite You can do it the following way:

[code]
**Note**: Please update the extensions array as per your requirements.

Documentation links:
[Add custom webpack configuration in Gatsby](https://www.gatsbyjs.org/docs/add-custom-webpack-config/#add-custom-webpack-config)
[Resolve extensions in Webpack](https://webpack.js.org/configuration/resolve/#resolve-extensions)

[2018-09-19 09:47] Kadrian opened #8312 "How to transform absolute image paths in json to gatsby-images?"
### Setup
I have a large JSON `animals.json` that I can use with `gatsby-transformer-json`. That results in an `allAnimalsJson`, with each animal containing fields like:
[code]

I've got all of those absolute paths "sourced" by using `gatsby-source-filesystem`:
[code]

I've got `gatsby-transformer-sharp` and `gatsby-plugin-sharp` set up.

### Issue
Now when I'm trying
[code]

I'm getting the error

[2018-09-19 10:10] tomVlt commented on #6137
Not sure it achieves your **Idea List** but if someone wants to see redux updates in browse, there is simple pattern. You will have data visualisation such as reducers structure, action dispatch, stop and replay updated in real time...
It works well in my own V2 boilerplate :

 - Head here to grab setup config for Redux with Gatsby ssr (updated for V2)
https://github.com/gatsbyjs/gatsby/tree/maste

[2018-09-19 10:44] #8250 closed

[2018-09-19 10:46] dotist commented on #8274
Thanks for your reply, i'll follow the other issue.

[2018-09-19 11:05] pixelbreaker opened #8314 "Can't use gatsby develop on ubuntu"
## Description

Unable to use `gatsby develop` on ubuntu

### Steps to reproduce

After cloning my new ubuntu machine (RIP apple) I've installed gatsby and run `npm i` which gave me a warning

[code]

When I then run `gatsby develop`  I get this error

[code]

### Expected result

Should update when files change

### Actual result

It failed

### Environment

[code]

[2018-09-19 11:13] pieh commented on #8262
PR fixing it is already merged, will be publishing new release soon

[2018-09-19 11:27] stefanprobst commented on #8314
Could it be that you're running out of disk space? Because of `ENOSPC` in the error message. Also, unrelated, you should update `gatsby-image` to v2.

[2018-09-19 11:32] pixelbreaker commented on #8314
I doubt I'm out of space, it's a fresh install. Which go me to thinking it could be a permissions issue.

So I tried `sudo gatsby develop` which gave me a `command not found` error. Then I tried `sudo npm run develop` and that worked!

[2018-09-19 11:36] #8285 closed

[2018-09-19 11:38] SMerdzhanov commented on #8169
Hey @davidbailey00, sorry for the belated response.

There's something odd happening. After cleaning up `node_modules`, `public` and `.cache`, using `yarn` everything seems fine. But I shared my project with a couple of people using `npm` and they all face issues with it.

I switched to `npm` to test and it turns out I also face some troubles with it.

**I think this isn't the best spot to discuss

[2018-09-19 11:47] stefanprobst commented on #8252
@Mike-Van Basically, you have three options:
* use `gatsby-transformer-sharp` just to manipulate the image (like rotate, duotone, etc). You could then get the image `src` like @LeKoArts showed you and use it in your `div`'s inline styles.
* you want lazy-loading and responsive images, but don't want to use an `<img>` tag: then you would have to use some regex-magic to get the resized images and me

[2018-09-19 11:52] stefanprobst commented on #8314
Hmm, you really shouldn't run gatsby as root. Could you provide the specific steps how you (i) installed `gatsby-cli` and (ii) set up your project?

[2018-09-19 11:58] stefanprobst commented on #8314
And you could check if raising `fs.inotify.max_user_watches` helps, since the crash happens with `createFsWatchInstance`: `sudo sysctl fs.inotify.max_user_watches=524288`

[2018-09-19 12:10] pixelbreaker commented on #8314
@stefanprobst thanks, raising `fs.inotify.max_user_watches` seems to have fixed it!

[2018-09-19 12:29] pieh commented on #8285
Should be fixed in `gatsby@2.0.4`

[2018-09-19 12:30] pieh commented on #8262
Should be fixed in `gatsby@2.0.4`

[2018-09-19 12:30] #8262 closed

[2018-09-19 12:36] stefanprobst commented on #8314
Great! Note that setting this on the commandline is only temporary. To persist:
[code]

[2018-09-19 12:40] pieh commented on #8314
Issue seems resolved, so I'll close it

[2018-09-19 12:40] #8314 closed

[2018-09-19 12:56] jpsear opened #8317 ""additionalProperties" error with gatsby-plugin-react-css-modules"
## Description

Upon upgrading to v2, I am getting an error originating from the `gatsby-plugin-react-css-modules` package. This package allows me to use the `styleName` attribute for nicer CSS Modules usage.

### Steps to reproduce

* `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world`
* `yarn add gatsby-plugin-sass gatsby-plugin-react-css-modules`
* `touch gatsby-conf

[2018-09-19 12:59] greglobinski commented on #8262
Thank you @pieh

[2018-09-19 13:16] alexgmuir opened #8318 "Failed to load settings from /.netlify/identity"
## Summary

Hi,

I've installed gatsby new netlifycms2 https://github.com/netlify-templates/gatsby-starter-netlify-cms without error.

However when I visit /admin and click 'login with netlify' I get the message

Failed to load settings from /.netlify/identity

I assume I need this file but haven't found any instructions as how to install it.

## Relevant information

I manually added .netlify/ide

[2018-09-19 13:17] h0rhay opened #8319 "Adding 'gatsby-source-filesystem' to gatsby-config.js breaks build"
## Summary

When using basic gatsby starter kits, I am repeatedly encountering problems when trying to query markdown files.

I am following the basic tutorials on the gatsby site here:
https://www.gatsbyjs.org/tutorial/part-four/#your-first-graphql-query

As soon as I install the gatsby-source-filesystem plugin and add this:

[code]
To my gatsby-config.js..

Then the build no longer works and I g

[2018-09-19 13:59] DavidTheSimon commented on #8059
Does anyone have a solution yet?

[2018-09-19 14:16] kakadiadarpan commented on #8312
@Kadrian can you provide a reproduction repo for this?

[2018-09-19 14:18] devrchancay commented on #8297
@kakadiadarpan I am using the offline plugin, as I read is a normal behavior but it does not happen for sure I have to update something.
![image](https://user-images.githubusercontent.com/4138285/45759145-e137b300-bbec-11e8-9195-7d777d361844.png)

[2018-09-19 14:23] dumblole opened #8321 "tutorial-part-four typography not working"
## Description

tutorial-part-four typography not working. In my `src/utils/typography.js`. Styles aren't applying after setup

### Steps to reproduce
I have also deleted node modules and reinstalling

Just follow the setup for tutorial-part-four

### Expected result

The styles should apply.

### Actual result

The first two lines in `src/utils/typography.js`
[code]
I get this error:
[code]
and
[

[2018-09-19 14:27] DSchau commented on #7822
This should be possible due to #7797 being merged. We no longer use nested wrappers (just the one wrapping div!), and styles applies e.g. something like

[code]

should now work like you'd expect! Thanks for the issue, and please re-open/comment if you find something to the contrary!

[2018-09-19 14:27] #7822 closed

[2018-09-19 14:30] DSchau commented on #7915
Going to close this as fixed!

Please check out Gatsby v2 (`yarn upgrade-interactive` is really helpful here!) and let us know if we can assist further.

Best of luck, and thanks for opening an issue!

[2018-09-19 14:30] #7915 closed

[2018-09-19 14:50] mihail911 commented on #8309
Thanks for the prompt and helpful response @fk !

[2018-09-19 14:53] Kadrian commented on #8312
@kakadiadarpan I could, but is that really necessary? Should my scenario work like I describe it? What information are you missing?

[2018-09-19 15:06] drewhamlett commented on #8297
I'm getting this same thing in production.  Only plugins I have.

[code]

[2018-09-19 15:48] KyleAMathews commented on #8274
@dotist is your site one that we could run locally? I'd love to understand better why it's happening.

[2018-09-19 15:53] borekb opened #8322 "Cannot filter by 'id' in GraphQL queries"
## Description

I think that both `example1` and `example2` should produce the same output:

![image](https://user-images.githubusercontent.com/101152/45765102-7e6a0a00-bc34-11e8-8216-0c62df1206b2.png)

There is something funny going on with the `id` field, for example, when I try `ne` instead of `eq`, I get an error:

![image](https://user-images.githubusercontent.com/101152/45765171-ace7e500-bc3

[2018-09-19 16:01] alexgmuir commented on #8318
I've done some reading on this blog

https://www.netlify.com/blog/2017/09/07/introducing-built-in-identity-service-to-streamline-user-management/

“Once you enable Identity services, a managed version of the GoTrue microservice lets you add user registration and management under /.netlify/identity for any Netlify site.”

I note the gotrue js is installed in the admin directory and a few others

./

[2018-09-19 16:01] JakeRider opened #8323 "The placeholder image in "gatsby-image" does not fade on Safari"
## Description

The low-res placeholder image that gatsby-image generates is not fading out on Safari, both on desktop and mobile. You can see it happening at the gatsby-image [example site](https://using-gatsby-image.gatsbyjs.org). It becomes an issue when using images with transparency, as you can still see parts of the placeholder.

### Steps to reproduce

Use gatsby-image on Safari. https://us

[2018-09-19 16:04] KyleAMathews opened #8324 "Don't clear downloaded files from createRemoteFileNode calls when we clear cache on package/code changes"
Right now we clear the entire `.cache` folder when gatsby-node.js changes or a user upgrades their packages. Which cause a lot of slowdowns on the next run of `gatsby develop` as then any plugins that pull remote files have to pull the same files again.

We should start moving to more selective cache clearing and _not_ clear data that we know is immutable.

[2018-09-19 16:09] KyleAMathews commented on #7382
Closing in favor of https://github.com/gatsbyjs/gatsby/issues/7421

[2018-09-19 16:09] #7382 closed

[2018-09-19 16:31] Yomguithereal commented on #8086
This one just bit me very hard :).

[2018-09-19 16:37] dumblole opened #8325 "Gatsby New not working as expected"
## Description

Can't start a new gatsby project

### Steps to reproduce

https://next.gatsbyjs.org/docs/
[code]
cd into directory and `gatsby develop`
`npm install` to make sure all dependencies are installed.

### Expected result

I also didn't come to any of these errors before gatsby v2 came out but I'm not sure since I was introduced to gatsby the day before the update.
Smooth installation of

[2018-09-19 16:45] jh45 opened #8326 "v2 incompatible plugins are shown in plugin library"
## Description

When searching for plugins both [next.gatsbyjs.org/plugins/](https://next.gatsbyjs.org/plugins/) and [v1.gatsbyjs.org/plugins/](https://v1.gatsbyjs.org/plugins/) returns the same list so when searching for a plugin like mdx you get the plugin that is only compatible with V1 when in the V2 docs.

Note: the `edit this page on GitHub` on the [mdx page](https://next.gatsbyjs.org/packag

[2018-09-19 17:13] mikelax commented on #8321
Are you sure you installed all the required packages in the [third subsection](https://www.gatsbyjs.org/tutorial/part-four/#how-gatsbys-data-layer-uses-graphql-to-pull-data-into-components)?

[code]

[2018-09-19 17:27] stefanprobst commented on #8319
Could you post your complete `gatsby-config.js` and/or link to a repo where this happens?

[2018-09-19 17:40] Yomguithereal commented on #7919
Is there any way I can help with this?

[2018-09-19 17:40] dumblole commented on #8321
[code]

[2018-09-19 17:43] stefanprobst commented on #8317
This could be because `babel-plugin-react-css-modules` still uses `babel` v6, while `gatsby` v2 now uses `babel` 7.

[2018-09-19 18:30] dotist commented on #8274
@KyleAMathews i'll put it together in a way so that you can test it also.

[2018-09-19 18:52] CanRau opened #8330 "Netlify build errors "[ERR_IPC_CHANNEL_CLOSED]: Channel closed""
## Description

Just upgraded to gatsby@2.0.4 still the same
so on first deploy Netlify responds with this error

[code]

then I hit the "retry deploy" button and check the "clear build cache" box which yields this error

[code]
### Steps to reproduce

That's the repo/branch I'm trying to deploy [GaiAma/gaiama.org/tree/v2](https://github.com/GaiAma/gaiama.org/tree/v2)

### Expected result

I deplo

[2018-09-19 19:16] shannonbux opened #8332 "Recipes doc - next iteration"
There has been discussion on whether the Recipes doc could be basically a table of contents for the entire docs with links to each section

Another idea, from @kkemple, is to use a feedback form to capture the most common reasons people are visiting the docs, and make the recipes doc a way to answer most frequent questions. So it would be like FAQ:

[2018-09-19 19:19] stefanprobst commented on #8312
When gatsby generates the graphql schema, it checks if a string can be interpreted as a filepath, but also if the path is relative, i.e. no absolute paths allowed:
https://github.com/gatsbyjs/gatsby/blob/23b84338f50ed372e41440fdba538c583e0b203d/packages/gatsby/src/schema/types/type-file.js#L28-L35
But relative paths should work. E.g. if you have the images in `src/images/dogs/` and your json file

[2018-09-19 19:22] Kossowski opened #8333 "Netlify build error with gatsby-image"
## Description

After I added gatsby-image to my project Netlify can't deploy the build.
**No errors on local gatsby build!**

### Environment

  System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R) Core(TM) i7-2860QM CPU @ 2.50GHz
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 10.9.0 - /usr/local/bin/node
    Yarn: 1.9.4 - /usr/local/bin/yarn
    npm: 6.4.0 - /usr/local/bin/npm
  Brow

[2018-09-19 19:26] #7581 closed

[2018-09-19 19:26] #8246 closed

[2018-09-19 19:33] stefanprobst commented on #8323
Not sure if I am misunderstanding the issue, but could you check the css of the placeholder `<img>` in your browser's devtools? It should look like this:
[code]
Also, is this working correctly with another browser?

[2018-09-19 19:42] JakeRider commented on #8323
<img width="1264" alt="gatsby" src="https://user-images.githubusercontent.com/27035207/45776813-1b6f7780-bc22-11e8-8e6e-459a31bc0ae7.png">

The opacity is still 1. To confirm, everything works fine in Chrome/Firefox, but mobile and desktop Safari are both doing this. If you come to the page from within the site, it works fine, but if you refresh the page, or link to it directly, it doesn't seem to

[2018-09-19 19:43] SergeyAlexeev opened #8335 "The "gatsby develop" command throws the "There are no available GQL nodes" error"
## Description

The "gatsby develop" command throws the "There are no available GQL nodes" error

### Steps to reproduce

Just follow steps from the [Getting Started](https://www.gatsbyjs.org/docs/) guide.

`npm install --global gatsby-cli`
`gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-default`
`cd gatsby-site`
`gatsby develop`

### Expected result

Should work.

### Actual re

[2018-09-19 20:00] abumalick commented on #8234
If you would accept a PR for this, I could work on it. But I will need some instructions on how to do it.

I don't really understand how are server the files for development, you are using express ?

[2018-09-19 20:06] stefanprobst commented on #8323
Hmm, that's weird - `transition-delay` is also not updated when `state` changes. See:
https://github.com/gatsbyjs/gatsby/blob/208547ffd5c4c251652e09477023811ba7ed5d1c/packages/gatsby-image/src/index.js#L214-L219
You could check if `onLoad` gets called by passing it as a prop to `<Img onLoad={() => console.log('Image loaded!')} />`, or you could check with the React DevTools, if you have it install

[2018-09-19 20:12] davidbailey00 commented on #8234
@abumalick I think this would probably require changes to the cache-dir code (`packages/gatsby/cache-dir`), rather than the server itself - I recall that it was working properly at some point in the past. Feel free to have a go if you'd like, otherwise I'll try to fix it next week :)

[2018-09-19 20:19] KyleAMathews commented on #5073
Fixed in https://github.com/gatsbyjs/gatsby/pull/8305

[2018-09-19 20:19] KyleAMathews commented on #5073
actually it's not 🤦‍♂️

[2018-09-19 20:20] KyleAMathews commented on #5073
This issue is about writing proper descriptions for the 10 packages that show up in this search https://www.gatsbyjs.org/plugins/?=stub%20des

[2018-09-19 20:21] stefanprobst commented on #8323
One more thought: difference between Safari and Firefox/Chrome is that the latter support `IntersectionObserver` (which is used in `gatsby-image`), and Safari doesn't.

[2018-09-19 20:41] #8149 closed

[2018-09-19 20:47] #8333 closed

[2018-09-19 20:51] JakeRider commented on #8323
After having experimented a bit, polyfilling `IntersectionObserver` seems to solve the issue . It looks like #4021 already has some discussion about adding a polyfill. Would you like me to put together a PR for this & a working `transition`?

[2018-09-19 21:16] KyleAMathews commented on #7585
@luanorlandi makes sense! The key should be a compound then of several props e.g. if it's fixed or fluid and the src and the srcset.

[2018-09-19 21:27] stefanprobst commented on #8323
That would be great, thanks!
wrt adding IntersectionObserver: @KyleAMathews ok to add `IntersectionObserver` polyfill to `gatsby-image`?

[2018-09-19 21:30] tylerbuchea opened #8341 "Add Google Global Site Tag Plugin"
## Prerequisite

The way I understand it is that Google now has 3 properties for tracking visitors on a website. These 3 are similarly named and sort of do the same thing so I want to define them up front so no one gets confused.

1. Google Analytics/GA/analytics.js - This is the legacy code snippet that is used to send data to Google Universal Analytics

2. Global Site Tag/GST/gtag.js - This is t

[2018-09-19 21:35] DSchau commented on #8323
I'll let @KyleAMathews answer for himself, but I'm not sure we'd want to include a polyfill explicitly within gatsby-image.

We can (and probably should!) document the usage of such polyfill(s) and mention how to use them, but I don't think I like the idea of an explicit polyfill.

That said, I'm also not 100% sure I see the issue here either. The images appear to load fine for me in Safari (`12.0

[2018-09-19 21:47] JakeRider commented on #8323
The issue is not that the images don’t load, it’s that the placeholder doesn’t fade. It’s not obvious on pictures that don’t have transparency, but it looks terrible if the image does. There’s probably a way to fix that doesn’t involve a polyfill, but Safari makes up a big enough chunk of the market that it’s probably worth considering.

[2018-09-19 22:01] KyleAMathews opened #8342 "Enable split chunk plugin in development"
I disabled it for no good reason and webpack maintainers say it's faster for webpack to do HMR with chunks + it'd be faster to load dev sites if you don't have to load all code up front.

The main work to do I think is to make both dev and prod use async-requires.js from .cache as that'll automatically create splits in development. Also update loading resources for development so similar to produc

[2018-09-19 22:41] stefanprobst commented on #8323
Maybe we can figure this out together. AFAICS the placeholder `<img>` has `opacity: 1` even though it should be 0 when `state.imgLoaded === true`.
@JakeRider can you check the `<Img>` component state in React DevTools? And check if `props.onLoad` gets called (which should happen in `handleImageLoaded` which also sets `state.imgLoaded: true`

[2018-09-19 22:58] robertoaikode commented on #8297
@davidbailey00 thanks 😄

[2018-09-19 23:29] DSchau commented on #8323
@JakeRider that example is a lot more helpful! I think I've seen something similar on a site [I helped out with](https://objectpartners.netlify.com). (_Note: the opacity is still 1 here on the placeholder image, which should be the same issue)

Note: this is before some of the gatsby-image v2 stuff was shipped, so it's a bit out of date.

I'm game to help figure this out too. @stefanprobst I think

[2018-09-20 01:13] angeloashmore commented on #3780
Could this functionality be outsourced to a plugin? Something where you could just provide a list of node_module packages that need to be transpiled. In the implementation, it just does the `onCreateWebpackConfig` above.

[2018-09-20 01:59] KyleAMathews commented on #7543
To fix this, we'd need to PR a fix to how the docgen transformer creates node type names. Anyone interested in doing this? I can give some pointers

[2018-09-20 02:06] KyleAMathews commented on #8341
Seems like a great plan! Would love an official plugin added here for it.

[2018-09-20 02:10] KyleAMathews commented on #3780
Yeah! This should totally be a plugin. Anyone up for creating it?

[2018-09-20 02:37] dekc commented on #7144
Using node_modules/.bin/gatsby build ... works.
Using gatsby build (coming from a globally installed gatsby-cli) ... fails with said error.

So for me, I have now removed installing gatsby-cli entirely and production builds now successfully build.

[2018-09-20 02:54] nikosolihin commented on #7057
Did you figure out a good debugger settings?

[2018-09-20 03:06] LHack47 opened #8344 "WebpackError: Invariant Violation during build"
## Description

Howdy folks! Getting this error only during the build. Wanted to see if I could get some eyes on it.

error Building static HTML for pages failed

See our docs page on debugging HTML builds for help https://goo.gl/yL9lND

   8 |  else
   9 |          root["lib"] = factory(root["@reach/router"], root["common-tags"], root["core-js/library/fn/array/from"], root["core-js/library/fn/arr

[2018-09-20 03:13] reeversedev commented on #8306
@kakadiadarpan The repo where I am having this problem is:
https://github.com/reeversedev/reeversedev.github.io

[2018-09-20 03:20] zanedev opened #8345 "TypeError: Cannot read property 'internal' of null"
## Description

Project using contentful plugin and gatsby v2 was working fine then all of a sudden started throwing this error.  I have googled around and see it could be related to the contentful content model having issues.  We are not sure what changed how can I dig into this further to find out exactly what field is having issues from contentful?  Seems like the error message should be a litt

[2018-09-20 04:15] kakadiadarpan commented on #8306
@reeversedev your `App` component isn't being used anywhere and that's why you don't see `componentDidMount` being executed.

[2018-09-20 04:15] #8306 closed

[2018-09-20 04:16] kakadiadarpan commented on #8288
Fixed by #8245

[2018-09-20 04:16] #8288 closed

[2018-09-20 04:38] kakadiadarpan commented on #8318
@alexgmuir Please refer to this issue netlify/netlify-cms#1234.

/cc @erquhart

Also, can you provide the relevant environment information by running `gatsby info --clipboard`?

[2018-09-20 04:44] KirankumarAmbati commented on #8210
Hello ! :smiley:

Is this issue addressed completely ? (just asking since it is in Open Status)

[2018-09-20 04:51] zanedev commented on #8345
I was able to work around the problem by pulling down Gatsby source and adding a check for a symbol before running the _.each in `infer-graphql-input-fields` and `infer-graphql-type`.  Apparently the contentful node is resulting in a symbol when there is an issue.  This allowed me to keep working and the site loaded but I am still not sure what field exactly has the problem in contentful.  Going t

[2018-09-20 05:03] kakadiadarpan commented on #8321
@dumblole I'm unable to reproduce this issue after following all the steps in the tutorial part four. Can you provide a reproduction repo for this?

[2018-09-20 05:18] andykais commented on #8344
I had a similar error occur in my build. I tracked down the error to occur when any file exists in pages that has a `export default []` or anything that is not a react element. It seems like gatsby just tries to build any and all files it finds inside pages as react components. If it is possible to tell gatsby to only render in `pages` these files: `pages/index.js` and `pages/*/index.js` I can sol

[2018-09-20 05:53] kakadiadarpan commented on #8335
@SergeyAlexeev can you share the complete error? I'm unable to reproduce this issue.

[2018-09-20 05:53] pungggi commented on #7144
it happend the same to me, when i updated locally my global gatsby-cli to v. 2.4.1.

[2018-09-20 05:55] kakadiadarpan commented on #8341
@tylerbuchea would you like to create this plugin for Gatsby?

[2018-09-20 05:56] palerdot opened #8348 "Dev server url construction problems with `--host=0.0.0.0` switch"
## Description

There is a minor issue with running the local server with `--host` switch. The local server literally takes the host ip for constructing urls rather than taking from the base url. For example, if the local ip is 10.0.10.0 and with the host switch enabled, the page at `http://10.0.10.0:8000` should have all the urls relative to this path. Rather, gatsby local server constructs url s

[2018-09-20 05:57] kakadiadarpan commented on #8344
@LHack47 can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

Also, can you share the relevant environment information by running, `gatsby info --clipboard`?

[2018-09-20 05:59] SergeyAlexeev commented on #8335
Sure, I'll provide a call stack later. Today evening.

[2018-09-20 06:06] kakadiadarpan commented on #8348
I'm able to reproduce this issue, refer screenshot below:

<img width="1680" alt="screen shot 2018-09-20 at 11 32 32 am" src="https://user-images.githubusercontent.com/10805593/45798827-f550e280-bcc8-11e8-8027-b54474d312fc.png">

Also, I can only see `http://0.0.0.0/<anything>` for `__webpack_hmr`

[2018-09-20 06:10] kakadiadarpan commented on #8325
I'm unable to reproduce this error. Might be a `Windows` only issue?

[2018-09-20 06:11] kakadiadarpan commented on #8210
Closed by #8215

[2018-09-20 06:11] #8210 closed

[2018-09-20 06:16] kakadiadarpan commented on #8224
@probablyup solution provided by @gi-alec  in this comment https://github.com/gatsbyjs/gatsby/issues/8224#issuecomment-422157559 solves the issue. Can you try using that?

[2018-09-20 06:27] probablyup commented on #8224
So I made a PR to hopefully get around this: https://github.com/styled-components/styled-components/pull/2021

You can test it out with
[code]

and just remove the resolutions package.json entry beforehand

[2018-09-20 06:37] justintemps commented on #309
It seems like with Gatsby v2, you need to choose between es6 and commonjs imports, you won’t be able to mix them up anymore for reasons having to do with webpack 4.

That being the case, and assuming you’re already using es6 imports, it would seem like @jfaeldon’s solution is the one to use here and @hitchcott’s won’t work anymore.

Can someone confirm that?

[2018-09-20 06:39] stefanprobst commented on #8323
Sounds good! The issue *should* also be visible on a simple default starter ([link to repo](https://github.com/stefanprobst/gatsby-issue-8323)). Could you (or somebody with Safari) check? This is what I see when I manually set the opacity on the placeholder:

![issue8323](https://user-images.githubusercontent.com/20753323/45799974-aa76a100-bcaf-11e8-87b2-a196f19fddde.png)

[2018-09-20 06:54] palerdot commented on #8348
Sorry my bad. The problem is only with webpack dev server. But it is a main component of gatsby dev server and this issue has to address that.

[2018-09-20 08:57] Undistraction opened #8352 "plugin-netlify-cms: No redirect after re-login"
## Description

Netlify CMS doesn't handle redirect after re-logging in. I'm opening this issue to pair with a PR I'm about to submit.

See #8286

### Steps to reproduce

1. Login to Netlify CMS
2. Reload Page (redirects to Admin)
3. Logout
4. Login again

### Expected result

Redirect to Admin.

### Actual result

No redirect.

### Environment

  System:
    OS: macOS High Sierra 10.13.6
    CPU:

[2018-09-20 09:03] sktt commented on #8317
and they didn't release since 4 months ago O_O

[2018-09-20 09:31] kakadiadarpan commented on #7950
@fk @KyleAMathews we have fixed the site showcase. But what about starters showcase?

[2018-09-20 09:34] pieh commented on #8326
Right now we don't have automatic way of testing compatibility of plugins with gatsby versions. There are some plans to do this ( https://github.com/gatsbyjs/gatsby/issues/7143 would be part of that), but it's not there yet.

For now it's up to plugin maintainers to add any context regarding v1/v2 compatibility in README we display.

[2018-09-20 09:43] kakadiadarpan commented on #7911
@SachaG would you like to look into creating a PR with a fix?

[2018-09-20 09:48] sktt commented on #8317
The issue was added in this commit:
https://github.com/gatsbyjs/gatsby/commit/1bda56280e36b13cbd89b6043d8b8bd73e46f00b

`pluginOptions` will always contain an array, `plugins` which is shown in the error message:
[code]

[2018-09-20 09:53] larryPersonal opened #8355 "[Contentful][gatsby-image] Invariant Violation: GraphQLCompilerContext: Unknown document gatsbyContentfulFluid"
## Summary
I'm attempting to upgrade a project from gatsby v1->v2 and I'm currently stuck on why gatsbyContentfulFluid is not recognised by invariant.js.

This is during the step where I rename responsive image queries:
https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#rename-responsive-image-queries

According to https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image#gatsby-so

[2018-09-20 09:53] kakadiadarpan commented on #7785
@fk would you be okay with the suggestions provided by @riencoertjens?

[2018-09-20 09:55] larryPersonal commented on #8355
As an addition, graphQL has been imported as follows:

`import React from 'react'
import { graphql } from "gatsby"`

[2018-09-20 09:58] smakosh commented on #8224
Use
[code]

[2018-09-20 09:59] Kadrian commented on #8312
@stefanprobst Thanks a lot, that solved it! Transformed my absolute paths into relative ones, then it worked. Thanks also for the debugger hint. Out of curiosity: Is there a reason absolute paths are not supported?

[2018-09-20 09:59] #8312 closed

[2018-09-20 10:27] tony1377 opened #8357 "a entry page with no trailing slash will break back button behaviour for that page"
## Description

When a users first page on the site is a page which has been created with no trailing slash.
Then that page will be skipped if the user uses the back button on the next page they view

### Steps to reproduce

in the examples/no-trailing-slashes gatsby folder

* run the build, then gatsby serve
* load up - http://localhost:9000/a as the first page you view on the site
* click on the

[2018-09-20 10:34] stefanprobst commented on #8312
Hmm, don't know, sorry.

[2018-09-20 10:44] LeKoArts commented on #8355
Names are case-sensitive! You have to write `GatsbyContentfulFluid` not `gatsbyContentfulFluid` 😉

[2018-09-20 10:51] larryPersonal commented on #8242
Note: have similar questions using another CMS entirely, in this case Contentful.

The migration example at https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#dont-query-nodes-by-id only has an example that shows how to update an image query.

If anything there needs to be an example for structures like:

	query  pageQuery ($id: String!) {
		allContentfulPage(
			filter: { id: { eq: $id } }

[2018-09-20 10:54] fk commented on #7950
@kakadiadarpan Both are fixed! 👍

Forgot to close this, this was fixed via #7998.

[2018-09-20 10:54] #7950 closed

[2018-09-20 10:57] larryPersonal commented on #8355
I feel silly now to have wasted everyone's time. Thanks :)

[2018-09-20 11:05] #8260 closed

[2018-09-20 11:05] #8355 closed

[2018-09-20 11:07] robwalkerco commented on #3780
@KyleAMathews I will have a crack at a plugin for Gatsby V2 using something like my example above (https://github.com/gatsbyjs/gatsby/issues/3780#issuecomment-419862716)

Perhaps I should call it `gatsby-plugin-es6-webpack-package`?

[2018-09-20 11:12] cpboyd commented on #7620
@KyleAMathews Really, it ultimately boiled down to #7716.

I've been meaning to see if I can help add to the docs the stuff I've learned about the new APIs, but I've been busy with other things.

[2018-09-20 11:15] rtm619 opened #8360 "[v2][gatsby-source-contentful] Alternative for responsiveResolution?"
## Summary

Was responsiveResolution deprecated? If so, what is the alternative for responsiveResolution in gatsby v2?

### Environment (if relevant)

System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
  Binaries:
    Yarn: 1.7.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 5.6.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 41.16299.611.0
  npmPackag

[2018-09-20 11:54] kakadiadarpan commented on #5608
@shannonbux @DSchau is this issue fixed?

[2018-09-20 11:58] oorestisime commented on #7308
@mattwexa probably this issue can be closed since the PR was accepted

[2018-09-20 11:59] kakadiadarpan commented on #7205
@alpgumus can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

(Let us know if it doesn't)

[2018-09-20 12:01] kakadiadarpan commented on #7181
@Devin-Chaves can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

(Let us know if it doesn't)

[2018-09-20 12:02] kakadiadarpan commented on #7172
@KamiGim can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

(Let us know if it doesn't)

[2018-09-20 12:04] kakadiadarpan commented on #6945
@KyleAMathews is this issue fixed?

[2018-09-20 12:06] mattwexa commented on #7308
Oops you're right, closing the issue now!

[2018-09-20 12:06] #7308 closed

[2018-09-20 12:07] kakadiadarpan commented on #6771
@Bouncey can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

(Let us know if it doesn't)

[2018-09-20 12:09] alexgmuir commented on #8318
HI Darpan,

Here is the information

 System:
    OS: Linux 4.4 Ubuntu 16.04.5 LTS (Xenial Xerus)
    CPU: x64 Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
    Shell: 4.3.48 - /bin/bash
  Binaries:
    Node: 10.10.0 - /usr/bin/node
    Yarn: 1.9.4 - /usr/bin/yarn
    npm: 6.4.1 - /usr/bin/npm
  npmPackages:
    gatsby: ^2.0.0 => 2.0.1
    gatsby-plugin-netlify: ^2.0.0 => 2.0.0
    gatsby-plugin-netli

[2018-09-20 12:18] mikelax commented on #7625
Hi all, this is an issue that I would be interested in helping out with. I have a few questions that I have been thinking about related to this feature:

- Should the changelog exist just within Github as a large Changelog file at the root of repo? Should each package have it's own Changelog file?
- Should a "simple view" changelog exist on the www.gatsby.org website that would detail larger featu

[2018-09-20 12:28] mikelax commented on #3920
Another simple win with low effort would be to enhance the existing Pull Request Template. We just enhanced ours and added a checklist of common tasks. ie here is a copy of our template:

[code]

[2018-09-20 12:29] SachaG commented on #7911
Sorry I'm a bit busy with my own open-source projects so I probably won't have time to submit a fix…

[2018-09-20 12:36] erquhart commented on #8318
@alexgmuir this isn't specific to Gatsby, and more of a question - chat with us in the [Netlify CMS community chat](https://gitter.im/netlify/netlifycms) and we'll get you sorted.

[2018-09-20 12:36] #8318 closed

[2018-09-20 12:36] kakadiadarpan commented on #4842
@mpartipilo this is because of how default 404 are handled by Netlify when the app is not handling 404. I don't think there is anything we can do about this at the moment.

[2018-09-20 12:36] #4842 closed

[2018-09-20 13:06] sparklesam commented on #7794
Some update: I think this issue is quite weird, i have a SVG that could be successfully imported in a css file using url(), but switching to another svg would result in the  error.

Currently my workaround is to directly put the image files in Public folder, commit it to the github & netlify and directly import the image with a absolute path.

[2018-09-20 13:09] alexgmuir commented on #8318
Thanks Shawn,

You know what I've posted the question twice on the netlify community chat
and no response. I'm not really sure how that chat works effectively as a
means of asking a question.

I posted on stackoverflow however

https://stackoverflow.com/questions/52410225/gatsby-cms-failed-to-load-settings-from-netlify-identity

Could someone post an answer there?

Regards
Alex
*https://www.linked

[2018-09-20 13:31] Jamsek-m commented on #7794
@KyleAMathews Without changing my project at all, I created new gatsby project from default starter, run 'gatsby develop', closed it, then tried to run my project again and it worked. I don't know whether you can find this information useful, but in my case this solved the problem.

[2018-09-20 13:57] sktt opened #8364 "e2e test failing"
Just made a PR, these tests failed on something completely unrelated to this pr,

**e2e_tests_path-prefix**
[code]

**e2e_tests_gatsbygram**
[code]

**e2e_tests_gatsby-image**
[code]

Anyone knows what's going on?

[2018-09-20 14:02] LeKoArts commented on #8360
`sizes => fluid` and `resolutions => fixed`.

See:
https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#rename-responsive-image-queries
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image#gatsby-source-contentful

[2018-09-20 14:02] #8360 closed

[2018-09-20 14:12] Mike-Dax commented on #6945
@kakadiadarpan I just noticed this issue when upgrading from one of the beta releases to v2.0.6.

[2018-09-20 14:19] amberleyromo opened #8366 "Tutorial/docs: Mention/add favicon.ico"
- [ ] /tutorial/part-eight/
- [ ] /docs/add-a-manifest-file

https://twitter.com/jlengstorf/status/1042537527544963073

[2018-09-20 14:29] harrisnguyen94 commented on #8330
I'm also having some weird (but different) problem with Gatsby v2 and Netlify right now. Local builds succeeds, building through Netlify build image succeeds, deployment on Netlify however always result in timeout. Used to work fine with 2.0.0-beta36. gatsby-starter-netlify-cms one click deploy (which uses 2.0.0) succeeds though. I've contacted Netlify team for advice, will report back if there's

[2018-09-20 14:47] tylerbuchea commented on #8341
It'd be an honor 🙂

[2018-09-20 14:47] ajarouih opened #8367 "zsh: command not found: gatsby"
Hi when i run any command of gatsby on my bash that use zsh it return "zsh: command not found: gatsby" but when i run any other installed package it works good with no returned errors .

[2018-09-20 14:50] palerdot commented on #8367
@ajarouih Are you sure you have installed `gatsby-cli`? You can find more info on installing here - https://www.gatsbyjs.org/docs/

[2018-09-20 14:51] aesign opened #8368 "Error: Cannot find module 'webpack/lib/removeAndDo'"
Hey can you please help? I get this every time I try to launch "gatsby build".

Here's the complete terminal log:

error There was a problem loading the local build command. Gatsby may not be installed. Perhaps you need to run "npm install"?

  Error: Cannot find module 'webpack/lib/removeAndDo'

  - module.js:11 require
    internal/module.js:11:18

  - ExtractedModule.js:30 Object.<anonymous>

[2018-09-20 15:15] DSchau commented on #5608
@kakadiadarpan thanks for circling back!

It is _done_ but I'd still like to do the copy snippet at some point. That said, the actual issue itself we should call done, so I'll close!

[2018-09-20 15:15] #5608 closed

[2018-09-20 15:17] DSchau commented on #5608
Note: we should also open another issue to actually use the functionality (i.e. add it to tutorials and blog posts!) so we can get some community members involved!

[2018-09-20 16:12] ZLevine commented on #7064
Any idea if this is on the roadmap for the near future?

[2018-09-20 16:14] ajgoldenwings commented on #7144
`node_modules/.bin/gatsby build` seemed to build once but not able to run this subsequent times.

[2018-09-20 16:32] kakadiadarpan commented on #5608
@DSchau we already have another issue open for copy snippet functionality #5030

[2018-09-20 16:33] DSchau commented on #5608
@kakadiadarpan I meant an issue for people to actually tie into the title functionality. Basically I've implemented the functionality so that it's available, but very few tutorials/posts are actually using it currently!

[2018-09-20 16:38] kakadiadarpan commented on #5608
Got it, thanks for the clarification! 😄

[2018-09-20 17:18] jpsear commented on #8317
Sorry about the above. Long day.

@stefanjudis I tried pulling direct from the repo. Yarn does support this, but the repo is completely uncompiled source code, so it was having none of it.

I will wait for @sktt's PR 👍

[2018-09-20 17:30] jwietelmann opened #8380 "Can I use a custom 404 in development? Can I get route information in my custom 404 page?"
The 404 page is critical to what I'm doing, which is creating a Wiki-like site where landing on a missing page gives you a placeholder with a "create page" link that goes to GitHub. Therefore, testing its behavior during development is very important.

1. Is there something I can do to be able to test it in `gatsby develop`, or am I stuck doing a full build and browsing the static output?
1. Will

[2018-09-20 17:32] KyleAMathews commented on #6945
No this is still a problem actually /cc @ryanflorence

[2018-09-20 17:37] KyleAMathews commented on #3780
@robwalkerco awesome! How about maybe `gatsby-plugin-compile-es6-packages`?

[2018-09-20 17:39] KyleAMathews commented on #8274
Thanks!

[2018-09-20 17:43] KyleAMathews commented on #8122
It's when the link appears in the viewport. We leverage https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API for this.

[2018-09-20 17:46] robwalkerco commented on #3780
@KyleAMathews Ah, thats a good name.

I published it as `gatsby-plugin-es6-webpack-modules` a few hours ago and the Gatsby Plugins directory has picked it up already at https://www.gatsbyjs.org/packages/gatsby-plugin-es6-webpack-modules/

Could try to get the name changed though.

If anyone else finds this issue, then the plugin will help you to customise the webpack config to compile es6 modules

[2018-09-20 17:49] Undistraction commented on #8062
I'm up for taking a run at this, but I need to know that what I think is the correct behaviour is the correct behaviour. @KyleAMathews or @pieh please can you confirm that this transformer _should_ work with multiple JSON files where each has multiple keys.

[2018-09-20 17:55] SergeyAlexeev commented on #8335
The callstack:

success open and validate gatsby-config — 0.007 s
success load plugins — 0.182 s
success onPreInit — 0.006 s
success delete html and css files from previous builds — 0.005 s
success initialize cache — 0.008 s
success copy gatsby files — 0.033 s
success onPreBootstrap — 0.000 s
warning The internal-data-bridge plugin has generated no Gatsby nodes. Do you need it?
success source and

[2018-09-20 18:05] DSchau opened #8381 "[ci]: gatsby-dev-cli in CircleCI sometimes copies over 0 files"
## Description

CircleCI sometimes copies over 0 files from the packages/ directory, which causes the e2e builds to (usually) fail

### Steps to reproduce

Check out [this CircleCI build](https://circleci.com/gh/gatsbyjs/gatsby/1686?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link). The failures are intermittent, sometimes files copy over, sometimes they don't 🤷‍♂

[2018-09-20 18:28] NathanLawrence commented on #8335
@SergeyAlexeev Are you able to post your versions for Node, gatsby-cli, and gatsby (from `gatsby-site/package-lock`)?

I just tried a bunch of variations on starter versions, Node versions and the like, but I still could not recreate this specific error. I got through bootstrap every time.

[2018-09-20 18:49] SergeyAlexeev commented on #8335
Node v10.6.0
gatsby-cli 2.4.1
gatsby 2.0.2

[2018-09-20 18:49] DSchau commented on #8381
My best guess at this right now is that the attach_to_workspace command isn't quite working like I'd expect. So it's saving the results of packages/* but it's not correctly attaching them. Will investigate!

[2018-09-20 18:53] peterlazzarino opened #8386 "gatsby-source-wordpress query failing during production static HTML generation, works locally in develop mode"
## Description

When deploying a new feature that works fine locally fetching wordpress posts using gatsby-source-wordpress, I get the following build error

[code]

Even though the build seems to be fetching them just fine

[code]

### Steps to reproduce

Install gatsby-source-wordpress into a gatsby project, add wordpress config (snippet of mine is below)

[code]

Add posts to your graphql query

[2018-09-20 18:57] zslabs commented on #8217
![Yuh](https://i.imgur.com/n2nZPRH.gif)

[2018-09-20 20:38] chibicode commented on #6170
@kkemple I echo the concern brought up by @Undistraction.

[2018-09-20 20:47] aschrijver opened #8388 "Gatsby Docs images not loaded in Firefox browser"
## Description

Both on Ubuntu 16.04 laptop and Android mobile in the Firefox browser the images of the Docs page at https://next.gatsbyjs.org/docs/graphql-reference/ are not loading. The image frames stay empty with a 'Loading...' text.

### Steps to reproduce

Just navigate to the https://next.gatsbyjs.org/docs/graphql-reference/ page with a Firefox browser.
On Ubuntu I use `v61.01` and on mobil

[2018-09-20 21:14] kumaran-14 commented on #8342
I would like to do this.

[2018-09-20 21:20] LHack47 commented on #8344
Binaries:
    Node: 8.11.3 - /usr/local/bin/node
    Yarn: 1.9.4 - /usr/local/bin/yarn
    npm: 5.6.0 - /usr/local/bin/npm
  Browsers:
    Chrome: 69.0.3497.100
    Safari: 11.1
  npmPackages:
    gatsby: ^2.0.6 => 2.0.6
    gatsby-link: ^2.0.1 => 2.0.1
    gatsby-plugin-debug-build: ^1.0.0 => 1.0.0
    gatsby-plugin-eslint: ^2.0.1 => 2.0.1
    gatsby-plugin-favicon: ^3.1.4 => 3.1.4
    gatsby-plu

[2018-09-20 21:46] KyleAMathews commented on #8342
@kumaran-14 awesome! Give it a go!

[2018-09-20 21:54] oorestisime commented on #8388
I get no error on Firefox 62 (desktop version). Maybe an addon you have installed is causing this?

[2018-09-20 22:01] whoisryosuke commented on #8166
After digging a bit deeper, it seems that `gatsby-transformer-react-docgen` does use relationships, and it stores the relational data in parameters on the "main" metadata node.

For reference, here is a GraphQL query for that includes all necessary data:

[code]

I appreciate the insight and link to the relational nodes @pieh, helped point me in the right direction.

Lovin' all the new v2 docs 👌💜

[2018-09-20 22:01] #8166 closed

[2018-09-20 22:05] dumblole commented on #8325
How might I fix this?

[2018-09-20 22:07] dumblole commented on #8321
I've tried to do this process again but it didn't work. I did it one more time after that and it worked. I'm not sure what I was missing. But I really appreciate the help @kakadiadarpan @mikelax

[2018-09-20 22:14] shannonbux commented on #5030
@DSchau and @darpan I can do this! I'm assigning it to myself now. Thanks for doing the work, @DSchau !!!

[2018-09-20 22:15] DSchau commented on #5030
@shannonbux I didn't do the copy stuff yet! But you can definitely do the code title stuff if you're interested!

[2018-09-20 22:19] shannonbux opened #8393 "Implement file name emphasis in docs"
## Summary

At the top of code snippets, the file name where they ought to be pasted should be emphasized.

### Basic example

Here is the PR that implemented the functionality: #7867
Now we just need to go through the docs and the tutorial (and possibly official plugin and starter READmes?) and use the functionality wherever there is a code snippet that is meant to be pasted into a specific file.

[2018-09-20 22:19] shannonbux commented on #8393
@DSchau @kakadiadarpan

[2018-09-20 22:21] whoisryosuke opened #8395 "Static queries in templates"
## Summary

## Relevant information

TLDR: Receive error when using templates for generating pages.

Gatsby-node pumps out pages using a template (`/templates/blog-post.js`). When running development server, I receive the following error informing me queries are only executed on **pages**, not **templates**:

[code]

How would I go about creating a page component as a template? Is it the same proc

[2018-09-20 22:33] stefanprobst commented on #8388
Allowing third-party cookies seems to make it work.

[2018-09-20 22:34] kingluddite opened #8396 "Broken link in migration Documentation"
This link is broken:

https://github.com/gatsbyjs/gatsby/blob/master/tutorial

Here is where the link is: https://i.imgur.com/mywhA71.png

[2018-09-20 22:40] pieh commented on #8322
We shouldn't throw error there and this query should complete without error, so surely a bug and I can reproduce it in here: https://gatsbygraphql.sloppy.zone/?query=%7B%0A%20%20allFile(limit%3A%2010%2C%20filter%3A%20%7Bid%3A%20%7Bne%3A%20%22test%22%7D%7D)%20%7B%0A%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%

[2018-09-20 22:41] brandonkal commented on #2446
For what it is worth, I created this for linting my own projects: https://www.npmjs.com/package/eslint-config-gatsby-standard

[2018-09-20 22:58] jlengstorf commented on #3920
I also think something like this solves the problem in a general way with very low effort: https://github.com/probot/semantic-pull-requests

[2018-09-20 22:58] KyleAMathews opened #8398 "Redirect next.gatsbyjs.org to gatsbyjs.org"
We're not deploying new stuff there and we should redirect any links to pages there back to gatsbyjs.org

[2018-09-20 23:01] jlengstorf commented on #7625
Hey, @mikelax — as of right now, I think our goals are to:

1. Use Lerna's changelog to automatically generate
2. Enforce a semantic commit message as a PR title and use squash and merge only
3. Potentially use https://github.com/probot/semantic-pull-requests to enforce this

As a first step, I think that's as far as we want to go. If it works well, we can look at expanding the checks a bit. @pieh

[2018-09-20 23:16] SimonIMG commented on #8242
@larryPersonal so you're getting the same error?

`Variable "$id" of required type "String!" was not provided.`

[2018-09-20 23:26] pieh commented on #8062
I don't think I understand here - `settingsJson` should return values from single node so it should be
[code]
if this is what you are getting then that's correct behaviour

[2018-09-21 00:22] sktt commented on #8317
For now you could for example disable the plugin and throw its code into your own `gatsby-node.js` in the root directory of the project.
[code]

[2018-09-21 00:45] sktt commented on #8153
I am happy with https://github.com/gatsbyjs/gatsby/pull/8038 it will do perfectly

[2018-09-21 00:54] probablyup commented on #7897
The hoisting fix was released in [v4.0.0-beta.8](https://github.com/styled-components/styled-components/releases/tag/v4.0.0-beta.8)

[2018-09-21 01:06] ReesesSnickers commented on #8396
I went to [https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#starting-a-new-project-with-v2](https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#starting-a-new-project-with-v2) to where this Imgur link is stating there is an issue.

When I click this link I get sent to [https://next.gatsbyjs.org/tutorial/](https://next.gatsbyjs.org/tutorial/)

When I inspected the link using Chrome Dev T

[2018-09-21 01:44] #8321 closed

[2018-09-21 02:39] larryPersonal commented on #8242
@SimonIMG that statement worked for me; contentful page id is a string.

[2018-09-21 03:11] wimbush commented on #6233
Hi, just wanted to chime in on this one.

I am using gatsby-plugin-sass and css modules.

The problem occurs after upgrading v1 to v2.

The problem of no styles is present both when running gatsby build and on Netlify.

Previous advice to lock down gatsby-plugin-sass to 1.0.19, does not work.

Plugin version 1.0.19 produces an error when running gatsby develop:

- The plugin "gatsby-plugin-sass@1.

[2018-09-21 05:00] kakadiadarpan commented on #8396
@kingluddite From the screenshot you provided, I understand that you clicked on that link from the GitHub repository. However, the `docs` folder in the repository is used to power the Gatsby website. The desired URL here is [`https://gatsbyjs.org/tutorial/`](https://gatsbyjs.org/tutorial/) and not [`https://github.com/gatsbyjs/gatsby/blob/master/tutorial`](https://github.com/gatsbyjs/gatsby/blob/m

[2018-09-21 05:00] #8396 closed

[2018-09-21 05:01] kakadiadarpan commented on #8352
Thanks for the PR @Undistraction!

[2018-09-21 05:10] kakadiadarpan commented on #8357
@tony1377 Thanks for reporting this issue. We'll look into this.

[2018-09-21 05:15] kakadiadarpan commented on #8380
Hi @jwietelmann, we already have an issue open regarding custom 404 in development.

We'll be closing this issue in favor of that, please follow issue #8234 for updates/discussions on this.

[2018-09-21 05:15] #8380 closed

[2018-09-21 05:17] kakadiadarpan commented on #8386
@peterlazzarino can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

(Let us know if it doesn't)

[2018-09-21 05:30] kakadiadarpan commented on #8395
@whoisryosuke can you post a sample template file where you are trying to achieve this? It would be great if you can you provide a reproduction repository for this, that would make it much easier to help you out.

[2018-09-21 05:32] kakadiadarpan commented on #8368
@aesign can you provide relevant environment information by running `gatsby info --clipboard`?

[2018-09-21 05:33] kakadiadarpan commented on #6972
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-21 05:33] #6972 closed

[2018-09-21 05:33] kakadiadarpan commented on #7093
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-21 05:33] #7093 closed

[2018-09-21 05:35] kakadiadarpan commented on #4475
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-21 05:49] kakadiadarpan commented on #7597
@jfrolich any updates on this issue?

Also, can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

[2018-09-21 05:53] kakadiadarpan commented on #8224
Fixed in styled-components [v4.0.0-beta.8](https://github.com/styled-components/styled-components/releases/tag/v4.0.0-beta.8)

[2018-09-21 05:53] #8224 closed

[2018-09-21 05:54] kingluddite commented on #8396
Will do. Thx 4 heads up

On Thu, Sep 20, 2018, 10:00 PM Darpan Kakadia <notifications@github.com>
wrote:

[2018-09-21 05:55] kakadiadarpan commented on #7897
Thanks for the update @probablyup! @kripod @garetmckinley @amankkg @tricoder42 can you try upgrading to [v4.0.0-beta.8](https://github.com/styled-components/styled-components/releases/tag/v4.0.0-beta.8) and check if it fixes the issue for you?

[2018-09-21 06:05] kakadiadarpan commented on #8153
@sktt #8038 only enables the passing down of options to the plugin. It doesn't include the changes we discussed above. Are you sure you want to close this issue?

[2018-09-21 06:08] kakadiadarpan commented on #8325
Can you try uninstalling `gatsby-cli` and then reinstalling it?

[2018-09-21 06:34] jpsear commented on #8317
@sktt That worked perfectly, thank you. For anyone else also needing this, don't forget to put your actual plugin options in there also:

[code]

[2018-09-21 06:51] robwalkerco commented on #3780
After sleeping on it, I've decided that @KyleAMathews  plugin name makes much more sense, so have moved the plugin to https://www.npmjs.com/package/gatsby-plugin-compile-es6-packages

I hope you find it useful 😄

Also closing this issue now, as using this plugin and configuring it with the npm packages that have es6 code in them will allow them to be compiled by Babel.

[2018-09-21 06:51] #3780 closed

[2018-09-21 06:56] Moocar opened #8400 "Research running queries in parallel across cores"
## Summary

Suggestion for speeding up query execution using multiple cores.

### The Problem(s)

The Query execution phase of a Gatsby build is often the slowest for a variety of reasons:

- Plugins can add fields to types that have custom resolvers (`gatsby-source-filesystem`)
  - Resolvers might perform slow side effects like http requests or fs operations (e.g source-filessystem `publicURL()`

[2018-09-21 07:12] Undistraction commented on #8062
@pieh So assuming I have multiple JSON files, there is no way to query more than one of those files in a single query?

So assuming I have three files:

src/settings/contact.json
[code]

src/settings/envs.json
[code]

src/settings/media.json
[code]

Are you saying there is no way for me to get `contactDetails`, `branches` _and_ `images` in a query? This makes it impossible to split configuration a

[2018-09-21 07:15] kumaran-14 commented on #8342
Sure. Any tips / suggestions?

[2018-09-21 09:46] 5tormTrooper commented on #7144
Globally I have gatsby `2.4.1` installed. For my project, `^1.9.63`.
`$ node_modules/.bin/gatsby develop` works indefinitely for me, but it's obviously not a long term solution. It'd be helpful to be able to run whatever version of gatsby is in package.json instead of the global one, as I have not migrated my project to v2, but would still like to start new projects with v2 from the global gatsby.

[2018-09-21 10:15] pieh commented on #7625
This part we already do - this is example commit that lerna generates with changelog updates pulled from semantic commit messages https://github.com/gatsbyjs/gatsby/commit/96359acdc7649360545e661cc0f84da7405af884

But we don't enforce commit messages / PR titles yet, so most of changelog updates are "Note: Version bump only for package X"

I think it's low risk to test that bot if we start using t

[2018-09-21 10:41] alex9pro1 commented on #4461
Thank you, guys! It is working :)

[2018-09-21 10:49] simonjoom opened #8403 "Staticquery bundle size increase too much"
## Description

gatsbyjs v2  (stable)
A static query for allfiles by example produce output in bundle and when we use childImageSharp the data all of image is too big

Is it normal? Is babel-plugin-remove-graphql-queries supposed to remove it normally?
To look the situation you can compile:
https://github.com/Vagr9K/gatsby-material-starter

and check public/component---src-templates-post-jsx-***-

[2018-09-21 11:20] sktt commented on #8153
Yes, #8038 is better imho, it does not intoduce extra configuration so we can just rely on the docs for the babel plugin!

[2018-09-21 11:46] pieh commented on #8125
Also for ref https://github.com/gatsbyjs/gatsby/issues/6656

[2018-09-21 11:49] Undistraction commented on #8062
The problem is that each file doesn't contain the same keys, so `allSettingsJson` doesn't make sense as it will return multiple nodes with an amalgamation of all keys. Multiple calls to `settingsJson` also fail:

[code]

Result:

[code]

So it appears there is no way to get the data from multiple nodes using their names in the same query.

[2018-09-21 11:51] kakadiadarpan commented on #4836
Can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

[2018-09-21 11:54] pieh commented on #8062
how about something like:
[code]

`settingsJson` will always return first node that matches filters (if you don't use any filters it will just return simply first node)

[2018-09-21 11:55] kakadiadarpan commented on #4767
Can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

[2018-09-21 11:57] pieh commented on #8062
This is more about usefulness of `filesystem` plugin and `json` transformer in this use case. Transformer will create one (or more) nodes from every file, but you can't configure it to create one node from multiple files - I think that you would need to create some custom logic for things you want to do - so in `gatsby-node` read all json files and create single node from merged object

[2018-09-21 11:59] Undistraction commented on #8062
@pieh Thanks. I also just thought of another workaround. If each JSON file is located in its own directory, a different query is generated for each, e.g.
[code]
Then You can query all using:
[code]

Result
[code]

[2018-09-21 12:01] kakadiadarpan commented on #4753
@grdp were you able to fix this issue? If not could you provide us with a reproduction repo? That would make it much easier to diagnose this issue.

[2018-09-21 12:05] kakadiadarpan commented on #4751
@pieh has this issue been fixed with #5155?

[2018-09-21 12:06] pieh commented on #4751
Ah, yeah - thanks for bringing this up :)

[2018-09-21 12:06] #4751 closed

[2018-09-21 12:07] grdp commented on #4753
@kakadiadarpan I solved it with this solution for gatsby v2:
[https://github.com/gatsbyjs/gatsby/issues/8195#issuecomment-421745303]()

gatsby-node.js
[code]

config.yml
[code]

[2018-09-21 12:08] kakadiadarpan commented on #5990
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-21 12:16] joltmode opened #8404 "[gatsby-source-graphql] How to download images from remote schema?"
## Summary
I am looking for a way to download images so that Sharp could take over, and have been following this issue to do so: https://github.com/gatsbyjs/gatsby/issues/2902#L349

Apparently, `onCreateNode` doesn't give deep information when using `gatsby-source-graphql`, since only the "root" node is created. Also, the `setFieldsOnGraphQLNodeType` doesn't help.

The only relevant node being thi

[2018-09-21 12:25] #8062 closed, assigned to nobody

[2018-09-21 12:28] kakadiadarpan commented on #4603
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-21 12:30] kakadiadarpan commented on #4603
@KikahaPlus44 would you like to work on this and create a PR for the same?

[2018-09-21 12:32] palerdot commented on #5694
@shannonbux @m-allanson @mikelax I have created a folder documenting typical Gatsby project folder structure. The file is committed as `gatsby-folder-structure` inside **docs**. The file can be seen here - https://github.com/gatsbyjs/gatsby/blob/34a4c8157ebea3e223687114f870c3e61e1c0190/docs/docs/gatsby-folder-structure.md

Does this capture all the relevant info of this thread?

[2018-09-21 12:37] kakadiadarpan commented on #4570
@ThiagoMiranda can you provide a sample reproduction repo showing your use case? That would make it much easier to help you out.

@mbergeronupgrade did you went through the [link](https://github.com/gatsbyjs/gatsby/issues/4570#issuecomment-380734717) shared by @m-allanson?

[2018-09-21 12:42] pieh commented on #4690
Hey @sebastienfi - can this be closed?

[2018-09-21 12:44] pungggi commented on #7003
I am getting this error on the production build in V1..
develop works fine..

[2018-09-21 12:47] kakadiadarpan commented on #4753
That's great! Thank you for the quick update. 🙂

[2018-09-21 12:47] #4753 closed

[2018-09-21 12:52] pieh commented on #8404
Currently it's not possible to mix 3rd party schemas with goodies like sharp transformation from gatsby - we get 3rd party schema as-is. We do have plans to work on that - see https://github.com/gatsbyjs/rfcs/pull/11 and issues linked there

[2018-09-21 12:52] #8404 closed

[2018-09-21 12:57] pieh commented on #8403
https://github.com/Vagr9K/gatsby-material-starter/blob/eaabf33a16da33e487a03ccd5c20a21c8a60800d/src/components/PostCover/index.jsx this does pull all files so result of this query will need to be loaded somehow anyway - static queries are attached to js bundles because gatsby has no control over how people use this and this was only way to do that - you can lazy load PostCover component (using dyn

[2018-09-21 12:57] #8403 closed

[2018-09-21 13:01] joltmode commented on #8404
Ouch, this hurts a lot. 😢

[2018-09-21 13:02] simonjoom commented on #8403
Thanks a lot for explanation , it's what is thought about after a while ))
yes i thought to use dynamic import . as well take off base64 who take too much space (using a file is better)

[2018-09-21 13:02] pieh commented on #8348
Here's where we construct HMR path https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack.config.js#L73-L90 - @palerdot would you like to take a stab on that?

[2018-09-21 13:04] palerdot commented on #8348
@pieh sure. will take a look and raise a PR (if possible)

[2018-09-21 13:06] aschrijver commented on #8388
I personally use Privacy Badger (v2018.9.20), but the result is the same if I disable it.

[2018-09-21 13:07] DSchau commented on #8393
@shannonbux 🎉 I'll see if I can find some time to get the copy snippet stuff working. Could be kinda fun to work on!

[2018-09-21 13:13] palerdot commented on #8348
@pieh How can we make changes to that file and test it locally since it is a part of `packages` which is meant to be published as npm package?

[2018-09-21 13:28] sktt commented on #8153
However, this will not work. see @stefanprobst comment. The class name generation is also hardcoded in there.. i guess thats the reason..

[2018-09-21 13:32] koreyboone commented on #4690
Also very curious about a freelance list...

[2018-09-21 13:32] kakadiadarpan commented on #8153
@sktt that's the reason why I asked [above](https://github.com/gatsbyjs/gatsby/issues/8153#issuecomment-423423548) if you were sure about closing it.

Would you like to submit a PR for this? You'll need to update this file:
https://github.com/gatsbyjs/gatsby/blob/4be5cfdf5d6925f26f914518dfc51d53f979cd6d/packages/gatsby/src/utils/webpack-utils.js#L197-L198

And also the documentation for the same p

[2018-09-21 13:35] sktt commented on #8153
could look at it in the weekend. But I haven't done any webpack tweaking for gatsby so far so to me it's not obvious what needs to be done here :)

[2018-09-21 13:55] stefanprobst commented on #8323
Possible duplicate of #7539 ?

[2018-09-21 13:57] DSchau commented on #8323
@stefanprobst I wouldn't say that's a duplicate, I would say that (hopefully!) that fixes this issue! 🤞 I can pull it down locally and try in a bit.

[2018-09-21 14:05] peterlazzarino commented on #5990
Updating did not solve the issue for me. I am still using a hack to make this work with Netlify CMS but it works nonetheless.

[2018-09-21 14:13] kennedyrose commented on #5990
I wound up writing a plugin to help with this but it might not be suitable for all use cases.

https://www.npmjs.com/package/gatsby-plugin-netlify-cms-paths

[2018-09-21 14:26] pieh commented on #8348
Check https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo
Create test site (just `gatsby new` would do) and in there you would run `gatsby-dev` (after setting this up using docs I linked)

[2018-09-21 14:35] pungggi commented on #7457
@dantehemerson  he is not using it, but gets the error. Thats the problem ;)

[2018-09-21 14:36] jlengstorf commented on #7625
@pieh The title would need to be edited by the maintainer merging the PR, so I don't know that it's a big deal to add those checks everywhere.

For things like docs, changes, there's a `docs` prefix:

[code]

Or we could call those chores:

[code]

The [full list](https://github.com/marionebl/commitlint/tree/master/%40commitlint/config-conventional#type-enum) covers most use cases, and if we decid

[2018-09-21 14:46] stefanprobst commented on #8323
Thanks! The actual issue this PR is trying to solve has [this comment ](https://github.com/gatsbyjs/gatsby/issues/2330#issuecomment-414860939) that looks very similar to what seems to be happening here.

[2018-09-21 14:53] jlengstorf commented on #7622
@marisamorby Connected. I'll clean this up into issues that match our current and future scope shortly.

[2018-09-21 14:53] kiyutink opened #8410 "Type in a link on the website"
https://www.gatsbyjs.org/packages/gatsby-source-storyblok/?=story

the link to storyblok website has a typo: htts instead of https

[2018-09-21 15:00] mikelax commented on #7625
@jlengstorf  I do like the looks of the [probot semantic pull requests](https://github.com/probot/semantic-pull-requests). Maybe as a first pass give it a try on a smaller repo like the gatsby store that has lower volume?

It will require the maintainer, or person who merges to ensure the PR message works. To try and offload some of the work this could be mentioned in the pull request template.

[2018-09-21 15:02] palerdot commented on #8348
@pieh. Ok. Thanks for the info. Will look into this.

[2018-09-21 15:41] peterlazzarino commented on #8386
@kakadiadarpan still failing, updated all packages here is the new list
[code]

[2018-09-21 15:43] jlengstorf commented on #7625
Yeah, I think that's the plan. Since it's pretty clear how to pass that check, and since our maintainers are a small enough group that we can post a message explaining the change, I _think_ we're planning to put it on the gatsbyjs/gatsby repo to see how it goes. @pieh has final authority on that decision, but I believe that's what we talked about previously.

[2018-09-21 16:04] Luisdv93 opened #8413 "Scroll to #Id"
## Summary

I'm having this issue where I have some Link Components pointing to /#someId on my index page, they work while I'm at the index page but while on other pages they bring me to the top of the page instead of the container with the id.

Not sure if this is normal or if I need a specific configuration to make this work.

## Relevant information

### Environment (if relevant)

System:
    O

[2018-09-21 16:12] KyleAMathews commented on #7373
@m-allanson @pieh @DSchau @rase- and I met to investigate this issue this morning.

@pieh has been talking to @eLod about his site and his comment https://github.com/gatsbyjs/gatsby/issues/7373#issuecomment-420288443

We tried removing the cache.sets in transformer-remark as he suggested and also saw that this solved the rapidly growing memory seen w/ larger markdown sites.

This seems mostly due

[2018-09-21 16:15] KyleAMathews commented on #8400
@m-allanson @pieh @DSchau @rase- and I met to investigate this issue this morning.

We identified some low-hanging fruit @DSchau will work on today: https://github.com/gatsbyjs/gatsby/issues/7373#issuecomment-423589800

Next step is to investigate why graphql query running slows dramatically for certain sites e.g. https://github.com/herotc/bfa.herodamage.com. There's probably some easy ways to spe

[2018-09-21 16:26] jlengstorf opened #8414 "Create decision flowchart for PR review steps"
Excerpt from https://github.com/gatsbyjs/gatsby/issues/7583#issuecomment-420441954:

## What is our PR review process?

![img_20180911_134759](https://user-images.githubusercontent.com/163561/45388319-78897e80-b5cd-11e8-948b-cc3e76a65598.jpg)

1. Did the tests pass?
	- Yes
		- Continue to step 2
	- No
		- Post a comment letting the author know
		- Label as `status: blocked`
		- Exit the flow
2. Is

[2018-09-21 16:26] jlengstorf opened #8415 "Create decision flowchart for stale issue review steps"
Excerpt from https://github.com/gatsbyjs/gatsby/issues/7583#issuecomment-420441954:

## How do we handle stale issues?

![img_20180911_133448](https://user-images.githubusercontent.com/163561/45388308-69a2cc00-b5cd-11e8-9f7a-8b869d384f49.jpg)

### Daily check on all issues

1. Has it been >= 20 days since the issue was updated?
	- Yes
		- Continue to step 2
	- No
		- Take no action; exit the flow

[2018-09-21 16:26] jlengstorf opened #8416 "Create decision flowchart for verifying bug reproductions"
Excerpt from https://github.com/gatsbyjs/gatsby/issues/7583#issuecomment-420441954:

## How do we validate bug issues?

![img_20180911_140730](https://user-images.githubusercontent.com/163561/45388344-8a6b2180-b5cd-11e8-8f7b-fccad3723d00.jpg)

On all new issues:

1. Was the bug template used to create this issue?
	- Yes
		- Continue to step 2
	- No
		- Do nothing; exit the flow
2. Is a reproductio

[2018-09-21 16:27] jlengstorf opened #8417 "Define workflow for matching labels to ZenHub status that can be automated via Peril"
We use the [ZenHub browser extension](https://www.zenhub.com/extension) to manage issues, but we don't want to make that a requirement for all contributors.

This means finding a solution for organizing issues that isn't completely restricted to ZenHub.

We need to think this through, and it'll require input from all maintainers, but as a starting point, here's what I'm thinking will work:

The pr

[2018-09-21 16:28] jlengstorf opened #8418 "Create list of filtered issue links to make triage and issue discovery easier"
We need to make it easier for people to find issues that are relevant to them. Filtering in GitHub makes this possible, but it's a pain to have to set your filters every time you open the repo.

Let's make this easy by creating a page with shortcuts to the most common filters.

This list will evolve over time, but for now:

- Issues for beginners
- Issues that need first-touch review (e.g. untriag

[2018-09-21 16:29] jlengstorf opened #8419 "Write documentation explaining where to find/how to use the OSS process resources"
All of this work will be for nothing if contributors don't have a clear path to find it.

@marisamorby is going to own deciding where these docs live and coming up with a strategy for making them easy to find for contributors.

[2018-09-21 16:29] crosscompile opened #8420 "Different GraphQL schema with and without .cache"
## Description

Using gatsby-transformer-remark and gatsby-remark-images, I am seeing new fields added to the GraphQL schema if I run `gatsby develop` with a warm `.cache`.

### Steps to reproduce

1. Add gatsby-transformer-remark and gatsby-remark-images to your `gatsby-config.js`
2. Run `gatsby develop` with a non-existent `.cache`
3. Check the properties on `sitePageConnectionPluginCreatorPlugi

[2018-09-21 16:30] jlengstorf opened #8421 "Define a process for labeling and updating issues to make community discovery and contribution easier"
One of the hardest things about getting into OSS is finding issues that don't require tons of context to start working on them.

We've found that any issue that gets written out with all context and goals clearly defined gets picked up quickly by the community. We need to design workflows that will help more issues reach this stage.

This helps us in several ways:

1. It makes contributing much mo

[2018-09-21 16:30] jlengstorf opened #8422 "Define metrics for tracking the quality of resolved issues"

[2018-09-21 16:31] jlengstorf opened #8423 "Research ways to see a contributor's non-PR maintenance activity for e.g. swag rewards"
The new process workflow will make it much easier for people in the broader community to help with issue triage. We want to make sure they [get swag for their effort](https://gatsby.app/swag).

Is it possible to see activity such as labeling, follow-up comments, etc. in an overview? I know it's theoretically possible, because GitHub shows a timeline on each issue. However, we'd need to be able to

[2018-09-21 16:32] jlengstorf opened #8424 "Define a process for documenting what we learn from process automation"

[2018-09-21 16:42] jonsuh commented on #8410
@kiyutink Thanks for mentioning this!

Looks like the typo exists in another repo—I’ve created a PR to fix this issue https://github.com/storyblok/gatsby-source-storyblok/pull/2

[2018-09-21 16:45] #8410 closed

[2018-09-21 16:47] thiagonzalez opened #8426 "Upgrade v1 to v2 error (Schema must contain unique named types but contains multiple types named <something>)"
## Summary
I'm trying to upgrade my project from v1 to v2 and I got this error:

[code]

There is no information about where in my code the error is. Look at this console prompt when I run `gatsby develop`:

[code]

I took a look at [this section of the migration documentation](https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#import-graphql-types-from-gatsbygraphql), but I'm not sure where t

[2018-09-21 17:14] vinz243 commented on #8277
Thanks ! I think that was what I was looking for, however it still doen't work:

[code]

The `<Header />`  contains a checkbox, and when navigating its state (checked or not) is reset

[2018-09-21 17:36] AngeloGulina commented on #243
@KyleAMathews the copy part works perfectly fine, thought I noticed (but I could be wrong) that documentation says to put `CNAME` into `static`. It seems to be thought that it should go into `public`: I've also created a [pr](https://github.com/gatsbyjs/gatsby/pull/8430) for this and described how it was working for me. Hope it is relevant :)

[2018-09-21 17:46] gi-alec commented on #7897
Resolved my issue 👍

[2018-09-21 17:56] dontsave opened #8431 "export gatsby page props typescript types"
It would be cool if Gatsby exported some more types to make working with page props more type safe. Ideally we could import the props that gatsby passes to page components. Something like:

[code]

[2018-09-21 18:09] jgaehring commented on #2389
I think this is what @thevangelist was referring to: https://github.com/gatsbyjs/gatsby-starter-blog/issues/113#issuecomment-408619291

After Migrating to v2 there was a breaking change with was patched by `gatsby@^2.0.0-beta.61` and `gatsby-transformer-remark@^2.1.1-beta.5`.

In my case, I also still needed to install gatsby-remark-images and its dependency, gatsby-plugin-sharp. Hope this helps a

[2018-09-21 18:54] kumaran-14 commented on #8342
@KyleAMathews Sure. How should I proceed on this?.Currently I'm going through contributing docs.

[2018-09-21 19:02] aesign commented on #8368
Sure! Here is it:

  System:
    OS: macOS High Sierra 10.13.5
    CPU: x64 Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 8.11.4 - /usr/local/bin/node
    Yarn: 1.9.4 - /usr/local/bin/yarn
    npm: 6.4.1 - /usr/local/bin/npm
  Browsers:
    Chrome: 69.0.3497.100
    Safari: 11.1.1
  npmPackages:
    gatsby: ^1.9.277 => 1.9.277
    gatsby-link: ^1.6.46

[2018-09-21 19:32] bluefig99 opened #8433 "Programatic Routing is not working."
## Description

With 2.0.0-beta.36 , I have no issues with Redirect. This is because i was using reach router dom. With the latest upgrade to official Gatsby 2.0 , I am not able to redirect to home page when the user logs out. I have changed the code to make sure that i use **navigate** instead of **Redirect** because gatsby official release is using reach router instead of react router.

### Step

[2018-09-21 19:41] janosh opened #8434 "String interpolation in StaticQuery's query"
## Summary

It would be cool if `StaticQuery` accepted functions as its `query` argument. That way you could use props passed to the component to fetch data specific to the component's call site. For instance, I might want a page title that grabs a different background image for every page its called on.

### Basic example

[code]

### Motivation

This would really take `StaticQuery` to the next l

[2018-09-21 20:02] KyleAMathews commented on #8434
The problem is that we don't know the props to the component at build time. That isn't known until runtime.

We are considering consolidating page queries & StaticQuery but for now, you'll need to use page queries for changing queries per page.

https://github.com/gatsbyjs/gatsby/issues/6596

[2018-09-21 20:02] #8434 closed

[2018-09-21 20:45] Moocar commented on #8400
Good stuff. I agree that a shared cache strategy is needed. There's so much ad hoc caching going on in Gatsby.

I'm currently researching what would be required to use an in-memory DB. I think there will be significant gains there.

[2018-09-21 20:56] jlengstorf commented on #3920
I'm closing this issue in favor of #7625. I've added a summary of this conversation to that issue so we don't lose the great ideas here.

[2018-09-21 20:56] #3920 closed

[2018-09-21 20:59] jlengstorf commented on #6538
@pieh Is this the one you wanted to tackle?

[2018-09-21 21:02] jquense commented on #7625
I think I noted this in the last thread, but I'm 👎 on this since it adds a level another contribution barrier for folks. I like that the merger (maintainer) can fix it but to the PR author the check is gonna r ad as something they have to do. I ama fan of coventional commits in general tho!

[2018-09-21 21:09] jlengstorf commented on #7625
@jquense This is a pretty simple thing to implement, so the cost to experiment is low. If we see a lot of confusion or a drop in contributions, we'll definitely back it out. The alternative is expecting anyone merging a PR to follow a checklist that they'll have to remember to pull up (or I guess Peril could auto-post that comment every time... 🤔), which seems like a more cumbersome approach.

[2018-09-21 21:15] jlengstorf commented on #7258
@marisamorby This works into a flow we haven't talked about yet, which is the lifecycle of [`type: question or discussion` issues](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+question+or+discussion%22). This would impact @kakadiadarpan and other maintainers.

[2018-09-21 21:38] zslabs commented on #8217
Thanks! Saw this was released in `2.0.7`!

[2018-09-21 21:38] #8217 closed

[2018-09-21 21:50] braco opened #8437 "[gatsby-source-wordpress] Each page has the same content"
## Description

For some reason my instance of Gatsby with Wordpress is producing pages that all have the same content, as if the first template compilation is being cached across all pages/slugs.

### Steps to reproduce

`npm run build` and `npm run develop` both produce this result

### Expected result

Each page should have the correct / different content

### Actual result

Every page has the

[2018-09-21 22:47] hsribei commented on #7625
Do squash merges preserve commit authorship?

[2018-09-21 22:50] dumblole commented on #8325
@kakadiadarpan I tried `npm uninstall -g gatsby-cli` and then did `npm install -g gatsby-cli` but with no success

[2018-09-21 23:00] jlengstorf commented on #7625
@hsribei Yep! The author of the first commit gets credit for it. There's an edge case where multiple people commit to the same PR and the second committer would lose credit, but that's pretty rare.

[2018-09-21 23:01] jlengstorf commented on #7625
Example: https://github.com/gatsbyjs/gatsby/commit/a56bce36662eb3ab250ec32823c703b184c04d6c

[2018-09-21 23:19] hsribei commented on #7625
Nice! Thanks for clearing that up :)

On Fri, Sep 21, 2018, 19:01 Jason Lengstorf <notifications@github.com>
wrote:

[2018-09-21 23:41] pungggi commented on #6112
Hi @sw-yx what do you mean by

[2018-09-22 00:42] jlengstorf commented on #7622
This is closely related to #8418. This is the page that will display those links once they're created.

[2018-09-22 00:46] pr1ntr commented on #3064
Not sure if this helps but this happens to me when I have the following schema:

BUTTON
    toPage: PAGE

PAGE
    components: BUTTON

if Button has a page reference (any page, even ones that don't have it as a component) it will throw.

[2018-09-22 00:48] jordanoverbye opened #8438 "Adding "gatsby-sitemap" breaks both develop and build commands"
I am using yarn, and I just added gatsby-plugin-sitemap by adding the following lines to gatsby-config.js and running `yarn add gatsby-plugin-sitemap`.

[code]

Since adding the plugin, both `gatsby build` and `gatsby develop` fails.

Package.json

[code]

Error message:

[code]

[2018-09-22 02:18] rfox12 commented on #3853
lingui seems to be a [better alternative](https://lingui.js.org/misc/react-intl.html).  I don't think @dcroitoru got proper recognition for a great example.  Just needs a little love to push it to Gatsby 2.0

[2018-09-22 02:26] kirklikecaptain opened #8439 "gatsby-plugin-remove-trailing-slashes breaks development 404 page"
## Description

When gatsby-plugin-remove-trailing-slashes is installed, the development 404 page breaks.

### Steps to reproduce

- NPM install Gatsby 2.0.7 and gatsby-plugin-remove-trailing-slashes 2.0.0
- Add gatsby-plugin-remove-trailing-slashes plugin to gatsby-node.js
- Run gatsby develop
- Enter an unknown route

### Expected result

Show the Development 404 page listing all available route

[2018-09-22 05:57] bluefig99 commented on #8433
Closing this issue as is is working at my end,

[2018-09-22 05:57] #8433 closed

[2018-09-22 06:52] Manoz commented on #8342
@kumaran-14 there's a good documentation on how to contribute [here](https://www.gatsbyjs.org/docs/how-to-contribute/) :)

[2018-09-22 07:01] KyleAMathews commented on #8342
This is a fairly tricky issue. You'll need to look at how production-app.js works vs app.js and change app.js to use the async-requires.js file.

[2018-09-22 07:33] kumaran-14 commented on #8342
@Manoz Thanks, I looked into that.
@KyleAMathews Okay I will try and learn what's going on in these files.

[2018-09-22 07:48] LeKoArts commented on #8438
Have a close look at your package.json ;)
Since v2 is officially out `latest` is v2 now and thus your install was v2. But you’re still using `gatsby` package at v1.

So you can either migrate your complete project to v2 or install the v1 version of your wrong packages.

[2018-09-22 07:49] #8438 closed

[2018-09-22 08:14] kumaran-14 commented on #8342
@KyleAMathews I looked under 'gatsby/packages/gatsby/cache-dir/' (master branch) and could not find async-requires.js file. However production-app.js uses async-requires.js

[2018-09-22 08:26] ekoeryanto commented on #7843
just done with https://github.com/ekoeryanto/gatsby-plugin-boilerplate

[2018-09-22 08:28] kumaran-14 commented on #8342
@KyleAMathews is this the change required in **_app.js_** ?
[code]

[2018-09-22 09:37] abumalick opened #8443 "dead code elimination with env variables"
## Summary
Hello !

On a project, we want to be able to remove code from a bundle using environment variables.
As it was not working as expected I made a simple reproduction with the default gatsby starter:
https://github.com/abumalick/gatsby-dead-code-removing

Here are the steps that I followed:

in pages/index.js:
[code]

After this I run `npm run build` (I didn't set any env variable).

in `co

[2018-09-22 10:32] mattferderer commented on #7506
If I understand you right, you are looking to avoid making an HTTP request for data to show the items in the cart?

Could you store it in local storage on the browser whenever they update the cart?

[2018-09-22 10:55] severen commented on #4836
I'm still seeing the same behaviour as far as I can tell, using *completely* up to date dependencies as of writing this comment.

[2018-09-22 11:58] stefanprobst commented on #4836
I am not using this plugin myself so I might be misunderstanding the issue, but `gatsby-plugin-remove-trailing-slashes` does seem to correctly remove the trailing slashes from the pages' paths. In the interactive graphql console on `http://localhost:8000/___graphql` you can query your pages with:
[code]

You would then also have to adjust your `<Link>` components to point to e.g. `<Link to="/page-

[2018-09-22 12:17] Jakst commented on #4836
@stefanprobst I think a lot of people misunderstand the use of this. It
should probably be clarified in the docs.

Den lör 22 sep. 2018 13:59stefanprobst <notifications@github.com> skrev:

[2018-09-22 12:33] iljapanic commented on #5778
As of the official release of v2 PostCSS seems to work like a charm.

I started off configuring various PostCSS plugins myself just to find out everything is done through ``postcss-preset-env`` these days. Both manually declaring PostCSS plugins and doing all the transformations through the ``postcss-preset-env`` works.

Here is the plugin config that is working well for me:

[code]

[2018-09-22 12:35] khwkang commented on #6480
I'm still having an issue with hot reloading not working for markdown files only.
I see the input on the terminal **"info changed file at /Users/kangken/dev/scholars_ways/src/pages/about/index.md"**, but that is it. Browser won't hot reload.

Gatsby version =  **2.0.0-beta.54**
Bug occurred while I was **migrating from gatsby v1 to v2**
Github repo/branch: https://github.com/khwkang/scholars-way/t

[2018-09-22 12:43] akolybelnikov commented on #6949
@stoltzrobin I can confirm that in Gatsby@2.0.0-rc.0 the issue can be resolved by deleting the .cache folder. This did not work in Gatsby@2.0.0-beta.3 though.

[2018-09-22 14:47] #5778 closed

[2018-09-22 14:49] rfox12 commented on #2674
Does the polite warning occur before any other checks?  I didn't notice it and I ran a brand new Gatsby 2.0 and ran into this where I had the config inside src

[2018-09-22 14:54] praveen2896 commented on #4486
@m-allanson how can i configure the npm config ,where it is found?

[2018-09-22 15:00] jazen commented on #8426
Same issue here—turning on `--verbose` adds:

[code]

[2018-09-22 16:16] KyleAMathews commented on #8342
That's the start :-) there'll be more work to change how dev the selects components to render

[2018-09-22 16:17] kirklikecaptain commented on #8439
I think I found a viable interim solution by modifying this code:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/dev-404-page/gatsby-node.js

[code]

[2018-09-22 16:36] jdeanwaite commented on #7638
I'm actually experiencing the exact same issue! Have you figured out a solution?

[2018-09-22 18:12] pzb5688 commented on #1767
events.js:167
      throw er; // Unhandled 'error' event
      ^

Error: EACCES: permission denied, open '/data/data/com.termux/files/home/hexoproject/source/_posts/科学上网软件ss系列.md'
Emitted 'error' event at:
    at /data/data/com.termux/files/home/hexoproject/node_modules/graceful-fs/graceful-fs.js:190:14
    at /data/data/com.termux/files/home/hexoproject/node_modules/graceful-fs/graceful-fs.js:241

[2018-09-22 18:47] palerdot opened #8447 "'npm run watch' slows down vagrant setup"
## Summary

`npm run watch` just exits but spawns lots of processes which runs in the background and slows the system down. Might be something related to 'concurrency' option given in the command which is something like '999'.

## Relevant information

### Environment (if relevant)
This is a `vagrant` setup

System:
OS: Linux 4.4 Ubuntu 16.04.1 LTS (Xenial Xerus)
CPU: x64 Intel(R) Core(TM) i5-5250

[2018-09-22 18:50] sebastienfi commented on #4690
@pieh I don't think the freelancer list has been ever created... Would you create it?

[2018-09-22 19:03] thescientist13 commented on #7295
Thanks @m-allanson for your advice.

So I removed references to `MemoryRouter` and **react-router-dom**

### Before
[code]

### After
[code]

But still get that same error about `unknown node`
[code]

So I found this [issue](https://github.com/airbnb/enzyme/issues/1620) and installed latest version of **enzyme-adapter-react-16** which helped a lot!

Now I am just down to two errors, both are the s

[2018-09-22 21:14] davidbailey00 commented on #8297
@b0gd4n Interesting, that error message actually indicates that there's something wrong with the 404 page itself, and Gatsby prevented an infinite loop. I'll definitely investigate this on Monday

[2018-09-23 00:47] maxcrane opened #8452 "Why am I experiencing quality degradation with childImageSharp and fluid?"
## Summary

Hi. I am trying to use gatsby-image to display the background image for a site I'm making. The original image has a width of around 5000 pixels, but I'm noticing the quality being displayed after using gatsby-image childImageSharp with fluid is more around 1500 pixels wide. (this is on my laptop, so I feel the actual size should be larger) Here is my component including the graphql que

[2018-09-23 00:57] maxcrane commented on #8452
Looks like I just needed to use the quality setting in my query like so

[code]

[2018-09-23 00:57] #8452 closed

[2018-09-23 01:47] akoolenbourke commented on #7506
Well I just wanted in general to avoid making another request for data from the server and instead, have it injected when the initial request came through for the site. For instance if I had a index.php them obviously I can inject any data into that page when it's served. I can get IIS to push index.html through PHP but for php to do anything with that I'll need to inject some <?php ?> tags. I was

[2018-09-23 04:38] omaidog commented on #8116
I'm having a similar issue on build (develop works ok, nullify functions implemented, etc.)

<img width="458" alt="captura de pantalla 2018-09-23 a la s 01 33 58" src="https://user-images.githubusercontent.com/501116/45924217-d6bd3800-bed0-11e8-9e2c-a3bb8691139e.png">

Maybe it's a noobish question, but is there a way to know exactly which file is returning null values?

Thanks!

[2018-09-23 05:51] gosseti opened #8454 "Querying gallery fields using ACF flexible content + gatsby-source-wordpress"
I currently have a set-up where I’m using Gatsby to query from WordPress using `gatsby-source-wordpress`, and building a static site from the data.

Some of these pages use ACF (Advanced Custom Fields) to add some extra data to the default WordPress set-up. So far so good, apart from when it comes to ACF galleries using ACF’s flexible content, which use nested fields for images in the gallery.

Es

[2018-09-23 06:39] dumblole commented on #1634
@chmac Hello, I've followed the tutorial from Gatsby but I'm not sure how to implement this.
I get `TypeError: Cannot read property 'allMarkdownRemark' of undefined`
The files are gatsby-node and gatsby-config (in order)
[code]
[code]

[2018-09-23 06:42] janosh opened #8456 "Creating PDF thumbnails"
I'm trying to display a list of PDfs with thumbnail icons of their first page linking to the actual file. Should look somewhat like this:

![pdfs](https://user-images.githubusercontent.com/30958850/45924972-85329e80-bf0c-11e8-85a8-170374602275.jpg)

Could [`gatsby-transformer-screenshot`](https://www.gatsbyjs.org/packages/gatsby-transformer-screenshot/?=gatsby-transformer-screenshot) be extended/a

[2018-09-23 06:57] palerdot opened #8457 "Error on `gatsby develop` with 'gatsby-dev' client"
## Description

I'm trying to locally run `gatsby-dev` and followed this instructions - https://www.gatsbyjs.org/packages/gatsby-dev-cli/. After running `gatsby-dev` in my gatsby site which copies all the files from my fork, when I run `gatsby-develop` I get the following error.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project

[2018-09-23 06:58] palerdot commented on #8348
@pieh I'm running into problems when running `gatsby-dev`. I have raised issues for this - https://github.com/gatsbyjs/gatsby/issues/8457, https://github.com/gatsbyjs/gatsby/issues/8447

[2018-09-23 07:44] stefanprobst opened #8458 "[packaging] Don't include source tars"
## Description

Currently, every package includes source tars (`.tgz`), which themselves nest the source folder multiple times. This takes up quite a bit of space.

### Steps to reproduce

* `gatsby new testing`
* `cd testing`
* `ls node_modules/**/*.tgz`

### Expected result

No *.tgz files

### Actual result

[code]

[2018-09-23 08:28] CanRau commented on #8413
Have you found/checked those?
https://github.com/gatsbyjs/gatsby/issues/1719 "Scroll to named anchor (page fragment)"
https://github.com/gatsbyjs/gatsby/issues/3318 "Smooth scrolling by Links"
https://github.com/gatsbyjs/gatsby/issues/3249 "Reset Scroll Position after page is loaded" (maybe not exactly but might help)
Found them by G' searching for "gatsby scroll to id"

Please let me know if they

[2018-09-23 08:31] calcsam commented on #4690
Created this as a Google Group with open membership:

https://groups.google.com/a/gatsbyjs.com/d/forum/freelancers

Please also feel free to add yourselves to the new (dark-deployed) Community page!

https://www.gatsbyjs.org/community

[2018-09-23 08:38] CanRau commented on #8400
Might my issue here somehow be related https://github.com/gatsbyjs/gatsby/issues/8330 ? Cause the error is mentioning jest-worker or is it used elsewhere?
From this comment it doesn't even seem to be integrated yet though^^

[2018-09-23 08:51] CanRau commented on #8398
A `next` branch with a simplest noop website and a _redirects file or what do you have in mind?
That's at least the only one I could help with as far as I know

[2018-09-23 09:09] CanRau commented on #8395
Hm not exactly sure and it's quite late already so might not grasp the whole picture
All `.js` files in src/pages exporting a react component should build without having to add `gatsby-node.js` or extra templates automatically
You only need to manually create pages using `gatsby-node.js` etc.
I think your `gatsby-node.js` and templates are making problems because you don't seem to have `.mdx` file

[2018-09-23 09:16] CanRau commented on #8319
Might this happen because you add the whole `src` directory instead of `src/pages` or similar? Haven't tried it myself but I could imagine it making problems?

[2018-09-23 09:39] CanRau commented on #8142
Problem is, as you might know, `value` can't be object and string, as far as I know at the moment you have to pick one, and if data is coming from an API you would have to normalize the result to ensure values won't have mixed types as Gatsby is statically inferring them on build time and chooses the type dynamically on first sight.
I think I remember someone talking about a possibility that we ca

[2018-09-23 10:07] millette opened #8461 "encodeURI and filenames"
## Description

I was generating pages based on programming language names (c, c++, c#) and hit a problem encoding paths and/or file names.

I searched for other relevant issues (with the words encodeURI or encodeURIComponent) but found nothing current or relevant.

### Steps to reproduce

Using ```encodeURIComponent(primaryLanguage)``` in ```createPage()``` results in 404 in dev and prod.

## Tem

[2018-09-23 10:28] jazen commented on #8426
**FYI** The problem goes away (at least for me) when I run

[code]
— looks like `gatsby-*` packages have some issues with getting hoisted in a monorepo?

[2018-09-23 11:11] rickbrunstedt commented on #8142
@CanRau Sorry for bad description (or english).

I know that it's get pass through graphql and graphql needs it to be a specific type, and I'm able to parse it, as I said.

But what am actually asking for, is that it would be nice to be able to pass props that wouldn't get passed through graphql.  A loot of the times, it not even necessary. :) Just have and use them as pure javascript.

[2018-09-23 11:15] stephanschubert opened #8463 "Missing `--https` option for `gatsby serve`?"
Just wondered if there's a rationale behind having no `--https` option for `gatsby serve` analog to `gatsby develop`?

[2018-09-23 11:27] aschrijver opened #8464 "Search for 'StaticQuery' on next.gatsbyjs.org: Secure connection failed"
## Description

Secure connection failed error for https://next.gatsbyjs.org/docs/static-query/?no-cache=1#how-to-use-staticquery-in-components

### Steps to reproduce

When searching for `StaticQuery` from the front of `next.gatsbyjs.org` and selecting "How to use StaticQuery in components" redirects to https://next.gatsbyjs.org/docs/static-query/?no-cache=1#how-to-use-staticquery-in-components w

[2018-09-23 11:48] codejet commented on #8325
@kakadiadarpan I'm having a similar issue on Mac when doing `gatsby new gatsby-blog https://github.com/gatsbyjs/gatsby-starter-blog`

I'm using gatsby-cli 2.4.1 and Node 8.1.4 on MacOS 10.13.6.

[code]

When instead of doing this I clone the repo, cd into the directory and run `npm install` everything seems to work fine.

[2018-09-23 14:09] dumblole commented on #1634
I changed `boundactioncreators` to `actions` with no change

[2018-09-23 14:12] vadimshvetsov commented on #8009
I will close this one until I'll bind remark-bracketed-spans with gatsby-tranform-remark. It can't work with only setParserPlugin, I will try to find out why

[2018-09-23 14:12] #8009 closed

[2018-09-23 14:41] Luisdv93 commented on #8413
#1719 I already tried this one and it didn't work.
#3318 Replaced my Link components with regular a tags but it didn't work either.
#3249 Throws this error in the console: Uncaught TypeError: Cannot read property 'action' of undefined

[2018-09-23 15:41] thiagonzalez commented on #8426
I'm using `yarn workspace` to manage my packages. Can I resolve this problem using yarn?

[2018-09-23 15:55] thiagonzalez commented on #8426
btw, even using `--verbose` I've got:

[code]

[2018-09-23 17:11] CanRau commented on #8413
Could you provide a link to the repo if not private/confidential or make a reproduction repo so I can get more context please?

[2018-09-23 17:12] calcsam commented on #8398
I've set up subdomain forwarding through our DNS provider, with path forwarding, SSL included. Forwarding is 301 (permanent) so our Google juice should transfer. This _should_ work. If anyone sees examples where it doesn't, please comment here!

[2018-09-23 17:12] #8398 closed

[2018-09-23 19:54] brandonkal opened #8469 "v2 Migration Guide and Gatsby Image should mention change to gatsby-image-wrapper"
## Summary

The v2 Migration guide docs (and the gatsby-image page) should mention the change from a class of "gatsby-image-outer-wrapper" to "gatsby-image-wrapper" as this resulted in layout issues when upgrading my site to v2.

### Motivation
This would help speed up migration for those who use CSS on gatsby image wrappers.

[2018-09-23 19:57] lbogdan opened #8470 "yarn develop -o fails when not able to open a browser"
## Description

Running `gatsby develop -o` on a machine without a web browser fails with
[code]

Note: Ran into this while trying to run https://github.com/LeKoArts/gatsby-starter-minimal-blog in Codesandbox, because it defines the `dev` script as `gatsby develop -o`.

### Steps to reproduce

Run `gatsby develop -o` on a machine without a web browser.

### Expected result

`gatsby develop -o` ign

[2018-09-23 20:12] chriswingler commented on #8319
Are you able to install `gatsby-source-filesystem`?  Not sure if it's related, but I have not been able to install the package and use markdown because of these errors:

[code]

[2018-09-23 20:30] fk commented on #8410
Thanks @jonsuh! 🙏

[2018-09-23 20:53] enmanuelduran commented on #7517
Ok, so I have found a _temporal approach_ that works for my case, it's _not ideal_ but I'll explain it here anyway in case it helps someone else with the same problem and a similar project structure.

**Context/Problem:**
I'm working on a blog that does not contain too much CSS, I'm facing an issue where there is a lot of code duplication (CSS) when prefetching other sections of the blog, this is

[2018-09-23 20:53] joshball opened #8472 "gatsby develop calls all scripts in pages even if not the loaded page."
## Description

I posted this to SO: https://stackoverflow.com/questions/52467849/understanding-gatsby-2-pages-dependency-tree/52470090#52470090

Since the original question, I believe this is an issue with `gatsby develop` but not with `gatsby build`.
This is for (but not limited to) `gatsby 2.0.7`,

Given the following structure:

    /components/header.tsx  // console.log('header.tsx')
    /com

[2018-09-23 21:02] benistary commented on #8454
Same problem in my project

[2018-09-23 21:05] Luisdv93 commented on #8413
Just tried that and it didn't help, actually it made it worse because it wasn't even scrolling to the anchor when I was inside the index.

From what I can tell it seems to be a problem with the scroll history, not sure if the right term. Say for example I start the dev server and instead of jumping to the index I go to /services and then I try to go to /#contact it works, but if I access /services

[2018-09-23 21:14] stefanprobst commented on #8469
It actually [is in the migration guide](https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#gatsby-images-outerwrapperclassname-was-removed), but apparently not in the TOC. Will have a look, thanks.

[2018-09-23 21:34] yiochen commented on #8344
I had the same issue when I upgraded to the newest beta version of Gatsby.
I had a json file in my `pages/` folder.
Then I check the link in the build log. The [documentation](https://www.gatsbyjs.org/docs/debugging-html-builds/) makes it very clear why it failed

Just as what @andykais said.

[2018-09-23 21:38] Moocar commented on #8400
@CanRau this is just research for now. I haven't written any code around this yet so it won't be related to your issue.

[2018-09-23 22:00] brandonkal commented on #8469
Oh that is interesting. I wasn't aware of that prop in Gatsby v1.
I was just using
[code]
in my wrapper class. Thanks.

[2018-09-23 22:00] mikelax opened #8474 "2.0 Regression - `gatsby build` fails on "dot" files in pages folder"
## Description

This appears to be a regression, or at least difference in the handling of "dot" files within the `pages` folder during the `gatsby build` command.

This was working in 1.x, but now in 2.0 it fails. I believe the intended behavior should be that dot files are ignored during the `gatsby build` command.

### Steps to reproduce

In the `src/pages` folder, create a "dot" file, such as

[2018-09-23 22:01] CanRau commented on #8400
yeah that's what I meant in my last line^^ but it still sounded related^^

[2018-09-23 22:05] braco commented on #8437
Fixed by changing the query in the page template to use $id instead of $slug, which seems to have been a mistake by the gatsby wordpress starter.

[code]

[2018-09-23 22:05] #8437 closed

[2018-09-23 22:06] CanRau commented on #8413
are you still on the versions from your first post? if so you could try upgrade to latest stable, don't remember when it was but some scroll related issues have been fixed recently
Otherwise I'm awaiting your repro :)
And you're of course welcome 👍

[2018-09-23 22:13] Luisdv93 commented on #8413
Hey I just uploaded a copy of the repo, so you can clone and reproduce the bug: https://github.com/Luisdv93/gatsby-scroll-bug

What's the recommended way of upgrading the gatsby version?

[2018-09-23 22:17] CanRau commented on #8319
@chriswingler seems to be a different situation?! Yesterday I installed 2.0.1 multiple times without any problems maybe a problem with npm, or perhaps yarn proxy/mirror? have you tried once? have you tried deleting node_modules then reinstalling everything?

And anyways imho it seems more related to yarn/npm than gatsby
maybe helpful issues https://github.com/yarnpkg/yarn/issues/6029, https://gith

[2018-09-23 22:43] maxcrane opened #8475 "How can I use a childImageSharp node with an allMarkdownRemark node? [Netlify Related]"
## Summary

Hi. I am trying to use gatsby-image with my gatsby + netlify project. I have the following setup:

- all images are uploaded into a /static/img folder

- through netlify, a user can create a markdown file in /src/photos/ which references the file in the static folder and includes some tags in the markdown frontmatter. An example cat.md would look like:
[code]

- I can query for all of

[2018-09-23 23:42] brandonkal opened #8477 "v2 Regression: CSS Selector styles removed for children of styled-components"
## Description

I'm experiencing layout issues because CSS selectors are not applied to child elements of a styled component acting as a wrapper. They do exist for gatsby develop but are forgotten by gatsby build.

EDIT: After a lot of insanity, it appears the issue is mostly caused by comments in the styled components CSS. These comments can be for anything, even classes that do not exist in the

[2018-09-23 23:58] anderskitson opened #8478 "Cannot find module 'gatsby/graphql`"
I am following the Transform Plugins part 6 of the tutorials on the Gatsby website. After I install `npm install --save gatsby-transformer-remark` and then add it to my gatsby-config.js file As seen below. Only when I add the `gatsby-transformer-remark` and I stop gatsby and run gatsby develop I get the following error `Error: Cannot find module 'gatsby/graphql'` However if I delete the line from

[2018-09-24 00:00] CanRau commented on #8413
Thanks!
Not the master myself I would say at this point it could be interesting to pin the versions now they're officially released, so disastrous version issues are less likely later on.
I did it by changing all "next" versions in package.json manually to the desired version (I chose latest stable) and then did `yarn` / `yarn install` ah in your case `npm i` / `npm install`

Okay, cause of my slo

[2018-09-24 00:10] brandonkal commented on #8477
I'm also experiencing other strange issues with styled components such as:
- injectGlobal not injecting selectors
- inconsistant behaviour. E.g. the example above now seems to work. But other similar components do not see their styles applied.

[2018-09-24 00:28] NathanLawrence opened #8479 "Links to static remain unprefixed even with --prefix-paths flag enabled (gatsby-image?)"
## Description

Discovered this one the hard way tonight - it looks like `pathPrefix` is not honored for links to files in the `static` directory as of v2.0.6.

I'm happy to work on a fix to this myself, but contributing an issue seems like a good place to start.

### Steps to reproduce

1. New project.
2. In this case, I was using gatsby-image to send things to that directory
3. Add `pathPrefix`

[2018-09-24 00:47] chriswingler commented on #8319
thanks @CanRau will look into the yarn issues

[2018-09-24 00:56] Luisdv93 commented on #8413
Dude you rock! Thank you so much for the fix, this was causing me a big headache at work, glad I can finally get that to work.

It's working great!

[2018-09-24 01:04] jmolivas opened #8480 "Fetch markdown content from gatsby-source-drupal and parse it with gatsby-transformer-remark"
I've used a Gatsby project using `gatsby-transformer-remark` and it worked great with `md` files.

Now I am in the need to use `gatsby-source-drupal`  plugin. And the data fetched from Drupal is retrieved as `HTML` and `Markdown` format (I am using a WYSIWYG that output Markdown from Drupal)

This is the current used query to fetch data where `value` contains Markdown format and `processed` HTML f

[2018-09-24 01:08] CanRau commented on #8413
You're welcome! I'm glad I could help 👍

[2018-09-24 01:08] #8413 closed

[2018-09-24 01:10] lassiter opened #8481 "What is exactly diffrent between Gatsby Develop and Gatsby Build in regards to the actual building and rendering of the site?"
## Summary
I spun off a version of one of the [gatsby starters](https://github.com/ryanwiemer/gatsby-starter-gcn) which is a fork of the [contentful gatsby starter](https://github.com/contentful-userland/gatsby-contentful-starter) but have ended up with a build problem. Essentially, it works as intended in `gatsby develop` but fails to compile html because of a `null` value that I have no real ide

[2018-09-24 01:31] KyleAMathews opened #8482 "Add to tutorial + recipes + docs page about building sites with "unstructured data""
A persistent criticism of Gatsby is that you _have_ to use source plugins + GraphQL to build sites e.g. https://twitter.com/thekitze/status/1043532445742784515

The criticism is that this can complicate things unnecessarily for smaller sites.

The criticism is 100% correct! But it's also incorrect as you can write the exact same code in the above tweet using the node `createPages` API.

We should

[2018-09-24 01:42] amberleyromo opened #8483 "[EPIC] v1.0 Community"
### Who will own this?

_What Area of Responsibility does this fall into? Who will own the work, and who needs to be aware of the work?_

**Area of Responsibility:**

_Select the Area of Responsibility *most impacted* by this Epic_

- [ ] Admin
- [ ] Cloud
- [ ] Customer Success
- [ ] Dashboard
- [ ] Developer Relations
- [ ] OSS
- [ ] Learning
- [ ] Marketing
- [ ] Sales
- [X] Ecosystem

     |

[2018-09-24 01:51] amberleyromo opened #8484 "Community: Remove filters"
- [x] remove the filters at the top of the landing page
- [ ] add a "back to all Creators" button to the detail pages

@fk:
![image](https://user-images.githubusercontent.com/3461087/45935584-754da580-bf72-11e8-99a3-8fb3e988e9a0.png)

[2018-09-24 01:54] amberleyromo opened #8485 "Community: Detail page design tweaks"
- [x] update the design of the "badges" on Creator pages
<img width="1197" alt="foo" src="https://user-images.githubusercontent.com/3461087/45935629-cc537a80-bf72-11e8-934a-9b062aafd43b.png">

- [x] Add "type" information to Creator detail page (agency, company, etc)
<img width="1197" alt="foo 1" src="https://user-images.githubusercontent.com/3461087/45935630-ceb5d480-bf72-11e8-8578-561ab8cb6601.p

[2018-09-24 03:57] wimbush commented on #6233
In my case, this problem existed using gatsby build on a local Mac, as well as netlify. The styles are not present.

I believe possibly related to gatsby-plugin-sass and css modules.

[2018-09-24 04:00] arcticicestudio commented on #7862
@secretfader You can add `@babel/polyfill` to your `devDependencies`, it'll automatically load necessary `core-js` polyfills. Make sure to delete your `node_modules` folder and possibly your `package-lock.json` file and run `npm install` to start with a clean resolved dependency tree.

[2018-09-24 04:15] kakadiadarpan commented on #8426
@thiagonzalez can you provide the relevant environment information by running `gatsby info --clipboard`?

[2018-09-24 04:17] kakadiadarpan commented on #8420
@crosscompile can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-09-24 04:45] kakadiadarpan commented on #8443
Hi @abumalick, this is a great idea. We can do this by using [babel-plugin-transform-inline-environment-variables](https://github.com/babel/minify/tree/master/packages/babel-plugin-transform-inline-environment-variables). Would you like to work on this and create a `Gatsby` plugin for this?

[2018-09-24 05:02] #8469 closed

[2018-09-24 05:40] kakadiadarpan commented on #8463
@jazen `gatsby serve` is a wrapper over [`serve`](https://github.com/zeit/serve), it gives all the options that `serve` gives.

And in my opinion it makes sense not to provide `--https` option. As generally web application are hosted on a port like 3000 or 9000 or any other available port and then port `443` requests (where all https requests go) are forwarded to that port.

[2018-09-24 05:50] dumblole opened #8488 "gatsby-transformer-sharp returns an error"
## Description

Running gatsby develop with this as my config:
NOTE: my code works if you remove
[code]
From the config file.
[code]
Without the first four plugins my code works
Causes this error:
[code]

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

h

[2018-09-24 06:04] kakadiadarpan commented on #8464
@aschrijver I'm not able to reproduce this, can you try this again?

Also, you can just go to [https://www.gatsbyjs.org/](https://www.gatsbyjs.org/docs/static-query/) as v2 is a stable release.

[2018-09-24 06:10] kakadiadarpan commented on #8398
@calcsam I'm still able to visit [https://next.gatsbyjs.org/](https://next.gatsbyjs.org/), I'm not sure why. If I hit `next.gatsbyjs.org`, it redirects me to `https://www.gatsbyjs.org/` as expected.

But if I hit `https://next.gatsbyjs.org/`, I don't get redirected to `https://www.gatsbyjs.org/`.

Author of #8464 is also landing on `https://next.gatsbyjs.org/`

[2018-09-24 06:30] kakadiadarpan commented on #8470
I'm not sure if it's possible to detect if a browser has been installed or not. Maybe wrap it in `try/catch`?

https://github.com/gatsbyjs/gatsby/blob/680618bcac5abbfee27c9924fc56d368acc20dfe/packages/gatsby/src/commands/develop.js#L427-L429

[2018-09-24 06:33] calcsam commented on #8398
@kakadiadarpan Try checking in an incognito tab -- your result is being cached. Or click around until you get to a link you've never hit before -- you should redirect then. I'm not sure how long our cache gets stored for.

[2018-09-24 06:36] kakadiadarpan commented on #8478
@anderskitson can you provide the relevant environment information by running `gatsby info --clipboard` in your project?

[2018-09-24 06:43] kakadiadarpan commented on #8475
@maxcrane did you try the suggestions provided in this [comment](https://github.com/gatsbyjs/gatsby/issues/2995#issuecomment-408072399)?

[2018-09-24 06:49] kakadiadarpan commented on #8477
@brandonkal can you also provide the versions of `styled-components` and  `babel-plugin-styled-components`?

Also, can you can provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-24 06:51] kakadiadarpan commented on #8479
@NathanLawrence can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-24 06:52] gosseti commented on #8454
I’ve set those options up and no luck with it unfortunately. It seems even when the gallery is part of the top level ACF query, it still can’t find it, and shows an empty array in the `normalizer`. We are getting the gallery through on the API endpoint, it’s just being transformed incorrectly into a GraphQL schema.

[code]

I’m going to have a dig into the core plugin code and see where it might b

[2018-09-24 07:27] kakadiadarpan commented on #8472
@joshball where did you place the comments in the files? Inside a component or outside it?

[2018-09-24 07:41] stefanprobst commented on #8488
Hmm, this works for me. Did you see any errors when installing `gatsby-plugin-sharp`? I am not on Windows myself, but maybe the [instructions for setting up a build environment on Windows](https://www.gatsbyjs.org/docs/gatsby-on-windows/) are helpful?

[2018-09-24 07:56] palerdot commented on #8457
@stefanprobst I tried uninstalling and reinstalling but no luck. I'm getting the same error. Not sure what I'm missing.

[2018-09-24 07:58] kmorf commented on #8488
It's working for me too.

[code]

[2018-09-24 08:10] brandonkal commented on #8477
Oops, I thought it was included in the Gatsby info dump. The styled components version is 3.3.9. The Babel plugin is the latest version. I am swamped right now but the component example above should be reproducible. Thanks.

[2018-09-24 08:16] kakadiadarpan commented on #8488
@dumblole I followed the steps that you provided, but unable to reproduce this issue.

Also, your `gatsby-config.js` is not the way it should be. `gatsby-remark-images` has to be used inside `gatsby-transformer-remark` as per it's [documentation](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-images#how-to-use)

[2018-09-24 09:33] imshuffling commented on #7517
Thanks @enmanuelduran - Ill check this out on my end

[2018-09-24 09:35] lbogdan commented on #8470
Yes, I think the solution should be to wrap `opn()` in `try...catch` and just ignore the error (or show a warning). I can make a PR for this later today.

[2018-09-24 09:53] jakeadamsiii commented on #1093
I'm still getting this issue on windows. What was the solution for this?

[2018-09-24 09:54] CanRau commented on #8330
I'm trying to dig into it but have hard times getting to the point, sadly I didn't noticed before that the cause for the ipc channel closing might be an earlier error
[code]
which refers to [this line/file](https://github.com/GaiAma/gaiama.org/blob/v2/src/components/MainLayout/index.js#L74) the map on line 67 is just used for debugging to get an idea what item is failing etc.
problem is everything

[2018-09-24 10:12] #8439 closed

[2018-09-24 10:13] #8485 closed

[2018-09-24 10:19] stoberov opened #8492 "Gatsby vs. HTML pages (header/footer/etc. split with PHP)"
Gatsby looks fantastic and I am looking for a side-project to give it a try. As such, I found myself surprisingly confused as to whether the below scenario would be **a good fit, or an overkill**, for Gatsby. Would you please share your thoughts?

I need to create a straightforward static web-site for a local business.
- the "design" comes from a purchased HTML template, nothing fancy.
- the "cont

[2018-09-24 10:20] kakadiadarpan commented on #8470
In my opinion showing a warning would be better.

[2018-09-24 10:29] dumblole commented on #8488
@kakadiadarpan  I just changed my config file but I am getting the exact same error.
[code]
Config file:
[code]
@stefanprobst
I have a theory as to why it doesn't work. When I reported earlier about issues with `gatsby new` I found out that the package sharp was causing all my problems. So I followed the guide to installing build-tools from here https://www.gatsbyjs.org/docs/gatsby-on-windows/. Wh

[2018-09-24 10:31] dumblole commented on #8488
I have also come across this issue: https://github.com/lovell/sharp/issues/710 Where the error that novascreen gets is very similar to the error I'm getting but he said here https://github.com/lovell/sharp/issues/710#issuecomment-279279520 that all he did was restart his computer but nothing is working.

[2018-09-24 10:33] thibautvs commented on #7827
Hello @DSchau,

I could reproduce the problem in this repo: https://github.com/thibautvs/gatsby-theme-crash

Kind regards,

Thibaut

[2018-09-24 10:43] palerdot commented on #8457
I cleaned node_modules and `yarn bootstrap` again and it is working. But I'm still facing https://github.com/gatsbyjs/gatsby/issues/8447.

[2018-09-24 10:43] #8457 closed

[2018-09-24 10:53] joshball commented on #8472
@kakadiadarpan I placed the console.log statements at the top of each file, before imports. But again, if I am loading the `/pages/test.tsx`, I should (imho) not be seeing `/pages/index.tsx` being sourced (which in the built version, is not the case).

[2018-09-24 11:15] kmorf commented on #1075
@rstacruz gatsby-plugin-elasticlunr-search is not compatible with Gatsby v2. Is there any workaround or a code snippet where I can generate the search index manually?

[2018-09-24 11:28] abumalick commented on #8443
ok, I start working on this.

[2018-09-24 11:32] jakubholynet commented on #3219
My problem was having both `import` and `require` in the same file, the solution was to only use imports.

[2018-09-24 11:35] jakubholynet commented on #8344
I run into the same error but for a different reason - my page included both `import` and `require`, which Webpack 4 in Gatsby 2 does not like. Using only imports fixed it.

[2018-09-24 11:38] kakadiadarpan commented on #8477
@brandonkal with Gatsby v2, you'll need to use `styled-components` >4(it's in beta), as Gatsby uses babel 7 and styled-components 3 is on babel 6

[2018-09-24 11:39] kakadiadarpan commented on #8454
@pieh any suggestions on this?

[2018-09-24 11:44] kakadiadarpan commented on #8472
In development build, we don't have `code splitting` yet, while it is there in the production build. There's an issue which is already open for fixing the code splitting in the development build. Once that issue is fixed, this will also be fixed along with that.

Closing this in favor of #8342

[2018-09-24 11:44] #8472 closed

[2018-09-24 11:44] pieh commented on #8480
Hey @jmolivas,
there is no config for that (yet - we will be working on making stuff like that simplier in future), but you can make it work - it requires some post processing, so `remark` plugin would handle those:

`gatsby-node.js`
[code]

And then you should be able to query `fields.markdownBody.childMarkdownRemark`:
[code]

[2018-09-24 11:46] joshball commented on #8472
OK, I will move to #8342 for further questions. Thanks.

[2018-09-24 11:52] pieh commented on #8454
It looks like this does empty the array:
https://github.com/gatsbyjs/gatsby/blob/efe95a4eb4326e4b116c54346ced7412cc7be467/packages/gatsby-source-wordpress/src/normalize.js#L399-L406
The job of that piece of code is to replace wordpress image data with link to local image NODE (to enable sharp transformation).

do you have any media entities if you use that in `normalizer` in gatsby-config: ``const

[2018-09-24 11:59] harrisnguyen94 commented on #8330
@CanRau Does running your build command through the build image result in any errors?

I'm not sure if what I'm facing is related but I have a timeout error that only happen on real deployment. Running the Docker build image locally result in no errors. Revert back to Gatsby 2.0.0 beta36 solve the problem. Test deploying a `gatsby-starter-netlify-cms` site which also use the official 2.0.0 does no

[2018-09-24 12:11] #8352 closed

[2018-09-24 12:19] mikelax commented on #8464
@kakadiadarpan I think this issue can be closed as it seems next.gatsbyjs.org is automatically redirecting to www now. Using the link in the description I see the valid page with no content warnings.

[2018-09-24 12:19] thiagonzalez commented on #8426
Sure @kakadiadarpan

[code]

[2018-09-24 12:19] kakadiadarpan commented on #8395
I'm not sure what's the correct way of doing this is. Let's ask @ChristopherBiscardi.

Any suggestions?

[2018-09-24 12:29] mikelax commented on #8492
Hi @stoberov , I think that gatsby could be a great framework to use on your upcoming site.
I would first suggest that you walk through the [current tutorial](https://www.gatsbyjs.org/tutorial/) as it will give you a good introduction to the major concepts of gatsby, and get you up and running with a (very simple) example site.

As for the content, there are a number of ways to make that process e

[2018-09-24 12:29] #8492 closed

[2018-09-24 12:33] kakadiadarpan commented on #8426
@thiagonzalez can you update the gatsby cli and dependencies to their latest version.

Also, make sure that there aren't multiple schemes with the same name. If you could share a repo where we can reproduce this, it would be great.

[2018-09-24 12:37] kakadiadarpan commented on #4836
@Jakst would you like to fix the documentation and raise a PR for the same?

[2018-09-24 12:56] kakadiadarpan commented on #8386
@peterlazzarino can you provide a reproduction repo for this? That would make it much easier to diagnose this issue

[2018-09-24 13:00] kakadiadarpan commented on #5990
@peterlazzarino can you try plugins provided by @danielmahon or @kennedyrose?

[2018-09-24 13:05] krabbypattified commented on #7747
I'm making a Gatsby plugin and I have to expose part of my plugin config to the browser. I'm exposing part of the config to GraphQL and using `StaticQuery` inside `wrapRootElement`, but that does not work. How do I (and other plugin creators) accomplish this?

[2018-09-24 13:18] thiagonzalez commented on #8426
Same error after upgrading the packages:

[code]

Check my latest info:

[code]

[2018-09-24 13:35] thiagonzalez commented on #8426
@kakadiadarpan is there a way to check if I have multiple schemes with the same name?

[2018-09-24 13:48] obihakenobi commented on #1767
All you have to do is close all other open terminals>

[2018-09-24 14:05] rhernandez2015 commented on #1732
This worked for me, best reply by far ❤️

[2018-09-24 14:29] tbaustin opened #8498 "Unable to use array of paths with gatsby-remark-images and gatsby-plugin-netlify-cms-paths"
Everything is hooked up correctly so I can do this in my markdown files:

[code]

And then in my `graphql` query I can query the image like so:

[code]

This all above works just fine, but when I try to do multiple paths like in an array it does not work.

[code]

I just get the strings and no paths returned. Is this not possible or am I doing this incorrectly ?

[2018-09-24 14:59] pieh commented on #7625
today I started just manually editing merge commit message and found out that (didn't pay attention to it earlier):

PR title will be used for merge commit only if there is more than 1 commit in PR (otherwise it will straight use commit message), so checking PR titles for those can result in some "false positives" (which might be worse than not having that at all?)

[2018-09-24 15:12] abumalick commented on #8443
Thank you for the tip, it worked for me with a simple change in `gatsby-node.js`
[code]

Now I am trying to find a way to remove unused import files, so we could write our code like the following and get the unused imports totally removed.

[code]

I didn't find a solution yet. I think that loading it async would be the simplest but we lose some performance.

Thanks again.

[2018-09-24 15:19] jmolivas commented on #8480
Yay! Awesome @pieh this works great thanks

[2018-09-24 15:19] #8480 closed

[2018-09-24 15:28] #8155 closed

[2018-09-24 15:43] de-ocampo opened #8500 "gatsby-source-contentful not loading media asset"
## Description

Contentful media asset is displaying as null.

### Steps to reproduce

1. Create a field "coverImage" in Contentful content model.
2. Create a piece of content with a coverImage.
3. Query for the piece of content using GraphQL at http://localhost:8000/___graphql

[code]
4. All fields load except coverImage, which is null.
5. Directly querying the Contentful REST endpoint shows that

[2018-09-24 16:08] #8500 closed

[2018-09-24 16:44] whoisryosuke commented on #8395
Just tested the latest version of [gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog) and didn't get the error about using GraphQL in templates.

Can confirm it does seem like it is dependency-based issue, and I could see it being `gatsby-mdx`.

[2018-09-24 16:57] ukch opened #8502 "gatsby info not working"
## Description
When I run `gatsby info` or `gatsby info --clipboard`, I see an error.

### Steps to reproduce

My gatsby config:
[code]

### Expected result

Gatsby info should be displayed

### Actual result

[code]

### Environment

For obvious reasons I can't paste the full output of `gatsby info`, but here are some details:
[code]

[2018-09-24 17:00] ukch opened #8503 "Postcss plugin applied inconsistently"
## Description

I have `gatsby-plugin-postcss` installed. I am using a `postcss.config.js` to manage my postCSS config. Gatsby sometimes uses the plugin to compile my CSS, and sometimes does not (I can tell when it does not because it does not understand my nested CSS rules). This happens during both develop and build stages.
Often during development, my CSS will suddenly break and I need to resta

[2018-09-24 17:10] mfix22 commented on #8217
I am still seeing this issue on `2.0.8`. Are there other steps I need to take when upgrading?

[2018-09-24 17:12] pieh commented on #8217
Maybe there is different issue @mfix22 - can you provide more info - reproduction repo / site etc?

[2018-09-24 17:41] ajithr opened #8504 "Gatsby with large amount of markdown pages"
## 3k markdown pages with Gatsby

## Relevant information

I have tried to compile 3k markdown pages with gatsby and it gets heap out of memory issue. I searched and found the [benchmark](https://github.com/gatsbyjs/gatsby/tree/master/benchmarks/markdown) which is mentioned for large amount of markdown pages, but there is no graphql in the `gatsby-node.js` and not more number of plugins used in th

[2018-09-24 17:42] mfix22 commented on #8217
Unfortunately I can't provide a reproduction site at the moment /: but basically we have a footer that I equivalent on every page, so when we are scrolled to the very bottom, clicking any of the links in the footer changes the page contents correctly above the fold, but the page is still positioned on the footer itself.

[2018-09-24 17:56] mfix22 commented on #8217
@pieh it ended up being the same issue as here: https://github.com/gatsbyjs/gatsby/issues/631
Sorry about that!

[2018-09-24 18:06] lassiter commented on #8481
I realized my issue this morning looking at my data. Essentially, my content can have that media item or not and I didn't add an alternate rendering for when there are no media items. So, that's my bad on the rendering and that's been resolved with a quick add of:

[code]

I don't think Segment was the issue since it just logs `segment prodKey must be at least 10 char in length` when it's not prov

[2018-09-24 18:10] CanRau commented on #8330
@harrisnguyen94 that it's only happening on Netlify could be related to the fact that they limit your time to 10 or 15 mins per deployment, don't recall the exact time right now, maybe it's best to open a new issue for your case as this one is not about timeout nor related (I would say)

[2018-09-24 20:43] amberleyromo commented on #8482
@shannonbux weirdly it closed it. Reopening.

[2018-09-24 20:45] shannonbux commented on #8482
huh, that's funny! I guess I said in a comment that my PR "partially closes
[insert issue #]," so I won't do that again lol

On Mon, Sep 24, 2018 at 2:44 PM Amberley <notifications@github.com> wrote:

[2018-09-24 20:47] #7017 closed

[2018-09-24 20:47] #7921 closed

[2018-09-24 20:54] shannonbux commented on #7843
@jlengstorf I think this was your original idea, so wanted to loop you in
here!

On Sat, Sep 22, 2018 at 2:27 AM Eko Eryanto <notifications@github.com>
wrote:

[2018-09-24 20:58] peterlazzarino commented on #8386
@kakadiadarpan here you go https://github.com/peterlazzarino/gatsby-starter-wordpress this works using 'gatsby develop' but fails using 'gatsby build'

I had to remove my user name, password and wordpress URL but the query is what is breaking is, specifically this line in my graphQL query.

[code]

When I remove the graphql filter on allWordpressPost it works, when I add it back it fails in build

[2018-09-24 20:59] KyleAMathews commented on #8504
Hey! Sorry you ran into trouble. Can you share your site possibly with us?

The markdown benchmark site queries markdown here: https://github.com/gatsbyjs/gatsby/blob/master/benchmarks/markdown/src/templates/blank.js

[2018-09-24 20:59] KyleAMathews commented on #8504
/cc @DSchau

[2018-09-24 21:04] DSchau commented on #8504
Almost certain this will be the same solution re: caching. I think the cache that gets loaded (in memory) is too large, so disabling the cache is _a_ solution, just don't think it's the best one.

See #8435 for what I think is a better solution, just not sure it's ready for primetime.

@ajithr would you be able to check out that branch, and see if you can pull it into your local and test against i

[2018-09-24 21:05] shannonbux commented on #8417
How much work would it take? Any guesses?

I think the milestone idea is a great idea regardless of how we organize
labels; it could force us to prioritize epics more.

On Fri, Sep 21, 2018 at 3:33 PM Jason Lengstorf <notifications@github.com>
wrote:

[2018-09-24 21:15] stefanprobst commented on #8488
Have you tried with the [x64 version of node](https://www.gatsbyjs.org/docs/gatsby-on-windows/#gatsby-plugin-sharp-requires-node-x64)? ([Download](https://nodejs.org/dist/v10.11.0/node-v10.11.0-x64.msi))

[2018-09-24 21:27] stefanprobst commented on #8458
If someone could point me in the right direction. Are we calling `npm pack` somewhere?

[2018-09-24 21:29] amberleyromo commented on #8417
I'm not convinced of the value add for contributors. (Question #1) If they're picking up issues, how important is it that they understand the full context (unless they are interested/motivated, and then they'd probably just look into ZenHub)? The point is for issues to be well-written and contained to the point where someone could pick it up and run with it.

I do agree with Shannon that organizin

[2018-09-24 21:42] ivorpad opened #8511 "How do I reset/change state from location.state?"
I have this Link component

[code]

And I have access to this state through `this.props.location.state` but I want to reset the state after opening the modal, so I have this `react-modal` method:

[code]

I tried using Gatsby's `navigate()` but I don't think this is the intended usage and of course it doesn't work.

It was working with `push()` but I get this notice in v2: `push() method is now de

[2018-09-24 21:47] dumblole commented on #8488
@stefanprobst I have it and I reinstalled it. I also reinstalled windows-build-tools but nothing works :C

[2018-09-24 22:11] KyleAMathews commented on #8458
I can't reproduce. This sounds like an error with whatever you're using to install packages either NPM or Yarn. They do download a tgz but generally delete them after unpacking. Which is what happening on my machine and presumably most other machines.

We just run `npm publish` like normal to publish things so doesn't seem like there's anything to fix on our end. Please let us know if you discover

[2018-09-24 22:16] KyleAMathews commented on #8481
Yeah, develop doesn't try to render every page on your site like a build will so errors can creep into pages you're not actively looking at and not get discovered until a build happens.

[2018-09-24 22:16] #8481 closed

[2018-09-24 22:32] pieh commented on #8458
I think this is valid - at least this one https://registry.npmjs.org/gatsby-plugin-page-creator/-/gatsby-plugin-page-creator-2.0.0.tgz for sure contains additional tarball inside tarball (taballception anyone?). I think this is result of our publishing problems - tarballs were created before publishing, publish errored out midway and tarballs stayed in package directories

[2018-09-24 22:33] pieh commented on #8458
I think we need to update `.npmignore` files to not pack tarballs.

Not directly, `lerna` is doing this for us, but yeah - it does use `npm pack`

[2018-09-24 22:36] kprentiss commented on #3467
still on version 2.4.1

[2018-09-24 22:45] ciokan opened #8512 "Is it possible to modify a node's value?"
I can create a field with `createNodeField` but how do I modify a field say `author` which holds only a string name of the author. I am querying for that author and adding its full object using `createNodeField` but I want to replace the origin value with the full object if possible.

[2018-09-24 22:48] ciokan commented on #8512
From the docs:

Guess it's ok how I did so far.

[2018-09-24 22:48] #8512 closed

[2018-09-25 00:08] amberleyromo opened #8517 "Handle github token"
Blocks #7730.

[2018-09-25 00:26] jlengstorf commented on #8417
@amberleyromo yeah, I think that's a good point. Issues _should_ be standalone enough that the broader context should never be required.

@shannonbux I'd estimate the effort at medium/high.

That means this is probably high effort, low impact. Probably not worth it.

If anyone has ideas to the contrary, please post them! However, I think there's a good enough argument against this to close the iss

[2018-09-25 00:26] #8417 closed

[2018-09-25 00:30] jlengstorf commented on #7843
@ekoeryanto I think we may have crossed wires — this issue is to track creating a README template.

I think our ultimate goal is to add a plugin creation command to our CLI.

In the meantime, simply having a clean README that plugin authors can start with will be good enough.

[2018-09-25 00:32] pieh commented on #8474
Hey, problem here is that we recently added support for `.json` files to be automatically resolved ( https://github.com/gatsbyjs/gatsby/pull/8327/files ) and automatic page creation is using that list of extensions.

For now you can rename your file to start with `_` (I don't think we ever omitted dot files). But you could also open PR to ignore automatic creation for `.json` files - you would nee

[2018-09-25 00:36] jlengstorf commented on #7625
@pieh wait, really?

Yeah, if that's the case this is completely useless.

[2018-09-25 00:41] jlengstorf commented on #7625
@pieh I just confirmed that the squash merge message is used, even for single commits:

- Original commit: https://github.com/jlengstorf/presentations/pull/7/commits/f47fdf87208fdfe680d0fda4d7cf4ae84cff636d
- Pull request: https://github.com/jlengstorf/presentations/pull/7
- Squash commit message: https://github.com/jlengstorf/presentations/commit/063da9fe538758d43053779f15fa26230c7bdf07

[2018-09-25 00:47] ekoeryanto commented on #7843
@jlengstorf never mind, I just created the boilerplate to help my self easily creating gatsby plugins.
anyway, having a plugin creation feature  in `gatsby-cli` is the best way.

[2018-09-25 00:50] pieh commented on #7625
Yes, squash merge message is used (I should be more clear on that), but proposed message before confirming the merge is not PR title when merging PR if there is single commit - so checking PR title in those situations doesn't provide much value because it won't be used automatically.

[2018-09-25 01:19] jlengstorf commented on #7625
Ugh. Yep. Okay, then. This seems like a non-starter.

Instead, let's do this:

1. I'll close this and shut up about it
2. Core maintainers will use squash and merge exclusively (this is already set up in the repo)
3. We all agree to use conventional commits when squash merging so that Lerna builds changelogs automatically
4. We do manual reviews of PRs that we didn't merge to update the changelogs

[2018-09-25 01:19] #7625 closed

[2018-09-25 02:04] RobertWSaunders commented on #8200
@kmorf I am looking into this as well, using `createRedirect` is there a way to force the redirect? I have  the following:

[code]

But the output I get is:

[code]

Does having `301` and not `301!` matter?

[2018-09-25 02:05] mikelax commented on #8511
This sounds related to #5937, which in that case happened to be an implementation error.
Are you using the most recent version of v2, currently 2.0.7?

[2018-09-25 02:24] eric-personal opened #8519 "composes from another file not working in my gatsby project"
Trying to use composes from another file in Gatsby but keep getting this error.
I'm using css modules as scss modules.
I tried the following.

[code]

[code]

gatsby -v
1.1.58

How can I update PostCSS version in gatsby ?

Setup:

[code]

[2018-09-25 02:28] RobertWSaunders commented on #8200
Just by looking at the code here: https://github.com/gatsbyjs/gatsby/blob/f502b26d58331392290514aef9f5972f112658fe/packages/gatsby-plugin-netlify/src/create-redirects.js#L17-L32

It appears overriding any existing content in the path with `force` isn't supported. I'll make a pull request to add it in.

[2018-09-25 02:34] SimonIMG commented on #3009
I might have the solution, [taken from this issue](https://github.com/gatsbyjs/gatsby/issues/4461#issuecomment-371775563). I had this exact same issue. Working perfectly before - GraphQL was able to query image IDs and URLs and Gatsby was merrily displaying the image URLs. Then I added another flexible content field which contained an Image upload field (I'd used this flexible content field previo

[2018-09-25 02:34] graysonhicks commented on #8511
Do you have a repo so it can be reproduced and debugged?

[2018-09-25 02:35] SimonIMG commented on #4461
Nailed it @pieh ! Thank you. Your suggested addition to my theme's functions.php has solved my repeatable image fields not working.

My error was `Field "gallery_image" must not have a selection since type "Boolean" has no subfields`. This error is gone, GraphQL is querying repeatable image fields correctly and my Gatsby site is displaying images correctly.

[2018-09-25 02:40] graysonhicks commented on #8498
Could you share the repo so it can be reproduced and debugged?

[2018-09-25 03:29] kmjennison commented on #8341
I wrote a quick version of this [here](https://github.com/gladly-team/tab-homepage/blob/master/gatsby-ssr.js#L13), in case it helps:

[code]

Happy to publish a plugin, too, though it'll be a week or two before I get around to it.

[2018-09-25 04:11] kakadiadarpan commented on #8458
I'm able to see tgz file for many packages:
- gatsby-link
- gatsby-plugin-offline
- gatsby-plugin-page-creator
- gatsby-plugin-sharp
- gatsby-plugin-typography
- gatsby-react-router-scroll
- gatsby-source-filesystem
- gatsby-transformer-sharp
- gatsby-plugin-remove-trailing-slashes
- gatsby-plugin-catch-links
- gatsby-plugin-glamor
- gatsby-remark-copy-linked-files
- gatsby-remark-images
- gatsby-

[2018-09-25 04:16] kakadiadarpan commented on #8503
@ukch Your configuration of `postcss.config.js` is different than the one provided in the [documentation](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-postcss#postcss-plugins). Can you check that once?

[2018-09-25 04:39] kakadiadarpan commented on #8519
@eric-personal would it be possible for you to upgrade to Gatsby v2? That would be the easiest way to resolve this. If you cannot then you'll need to fork `gatsby-plugin-postcss-sass` and upgrade the dependencies there.

We recommend upgrading to v2 as we have made a lot of internal changes.

[2018-09-25 04:39] #8519 closed

[2018-09-25 05:05] stefanprobst commented on #8458
I also can consistently reproduce on two different machines with both npm and yarn.

[2018-09-25 05:32] kakadiadarpan commented on #7576
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-25 05:32] #7576 closed

[2018-09-25 05:37] kakadiadarpan commented on #8395
@whoisryosuke could you open an issue in [`gatsby-mdx`](https://github.com/ChristopherBiscardi/gatsby-mdx/issues)?

[2018-09-25 05:48] rtm619 opened #8522 "[v2][IE11] Gatsby develop doesn't work properly in IE11."
## Description

Gatsby develop doesn't work properly in IE 11. I tried to include polyfills, but its throwing errors like "Promise is undefined", "Objects are not supported as react children", etc. I have added the .babelrc configuration from gatsby docs.

### Steps to reproduce

https://github.com/rtm619/gatsby-IE-demo

Please clone the above repo and check in IE11.

### Expected result

Gatsby d

[2018-09-25 05:55] larryPersonal opened #8523 "What's the replacement for the createLayout boundActionCreator?"
## Summary

Gatsby v1 has boundActionCreator, which contained the references createLayout and createPage.

In v2, createLayout does not exist in actions, only createPage does.

What's the migration procedure if you are using a createLayout boundActionCreator?

Note: the migration instructions simply ask you to rename boundActionCreator to actions.
https://next.gatsbyjs.org/docs/migrating-from-v1-t

[2018-09-25 06:12] kakadiadarpan commented on #8420
@crosscompile I'm unable to reproduce this issue. Every time, I get the same schema as in the screenshot below:

<img width="564" alt="screen shot 2018-09-25 at 11 41 01 am" src="https://user-images.githubusercontent.com/10805593/45995952-f498c180-c0b7-11e8-949b-13ec2946b047.png">

Am I missing something?

[2018-09-25 06:37] rtm619 commented on #8522
@kakadiadarpan Tried it, doesn't work.

[2018-09-25 06:48] wongsynee commented on #2289
Hi @Pencroff thanks for the tip! I have a similar requirement and would need to extract the CSS into separate stylesheets. However, where is `stylesStr` being declared from?

[2018-09-25 06:56] maxcrane commented on #8475
I thought I did, but I think I may have gotten the relative path incorrect the first time. I retried and it worked! Thank you for mentioning that specific comment! What I did was similar:
#### gatsby-node.js
[code]
### graphql query
[code]
### my directory structure
[code]
Is this something that could be more appropriately documented somewhere? Happy to submit a pr if so. I'm still not sure what t

[2018-09-25 06:57] Pencroff commented on #2289
I have on top of `html.js` code like:

[code]

[2018-09-25 07:08] CanRau commented on #8443
interesting! 👍

@abumalick maybe this one can help [ember-cli/babel-plugin-filter-imports](https://github.com/ember-cli/babel-plugin-filter-imports)?
Or maybe this dangerous one [imcuttle/babel-plugin-danger-remove-unused-import](https://github.com/imcuttle/babel-plugin-danger-remove-unused-import)

Please let me know if you get it working, could be useful to know 💯

[2018-09-25 07:59] abumalick commented on #8443
Thanks @CanRau , the second plugins seemed to be what I was looking for. I tried it but it does not work for my case.

I think that the line `{process.env.GATSBY_SHOULD_BE_REMOVED && <TestComponent />}` is removed by uglifyjs, so playing with babel to remove TestComponent import will not work (it is too late).

I wonder if uglifyjs could remove that component that is not used, any idea how we can