[2018-10-25 16:16] abilash13 commented on #9393
Ah no worries. Thanks!

[2018-10-25 16:16] amberleyromo commented on #9393
Thank you @abilash13! 🙏🏼

[2018-10-25 16:33] luskin commented on #9376
@kakadiadarpan we are using the `@next` tag which is compatible

[2018-10-25 16:42] d-ivashchuk opened #9396 "Gatsby-plugin-page-transitions not allowing to build app in V2"
## Description

I am trying to use `gatsby-plugin-page-transitions` and everything works in the development mode, but when I try to build an app the following error pops up: `The plugin "gatsby-plugin-page-transitions@1.0.7" is exporting a variable named "replaceHistory" which isn't an API.`

That's probably because of deprecation of `replaceHistory` as an API in V2

### Steps to reproduce

Use pl

[2018-10-25 16:54] h0rhay opened #9398 "How to persist state with 'navigateTo'"
Hi does anyone have tips on how to persist state using 'navigateTo'?

(Context wise, I have a list of links in a ul, and I'm trying to keep the ul open in an accordion style, as its default state is closed.)

I have a react class component that sets state in the constructor.

Whenever a link is clicked to load in another markdown file, i change the view with:
[code]
the 'handleLinkChange' is just

[2018-10-25 16:58] jlengstorf commented on #7257
Will happen automatically once #6785 is implemented.

[2018-10-25 16:58] #7257 closed

[2018-10-25 16:58] jlengstorf commented on #7258
Will happen automatically once #6785 is implemented.

[2018-10-25 16:58] #7258 closed

[2018-10-25 17:51] amberleyromo commented on #9393
Closed in #9395

[2018-10-25 17:51] #9393 closed

[2018-10-25 17:52] amberleyromo commented on #9392
closed in #9394

[2018-10-25 17:52] #9392 closed

[2018-10-25 18:03] paulclifford commented on #9354
Thanks, I figured it out. Magic happens here:

https://github.com/qulib/qul-gatsby-starter/blob/master/src/components/Layout.jsx

[2018-10-25 18:11] dwehrmann opened #9403 "Array of dynamic images"
What's the approach of querying for an array of images to use with gatsby-image, e.g. for a slider or a gallery?

I've seen examples by @melissamcewen in #3380 but as far as I understood, these were queried by their filename. In my case the filenames are not known and rather cryptic because they come from the strapi-api, so I cannot filter for their filenames.

Any help would be greatly appreciate

[2018-10-25 18:56] oorestisime commented on #9403
Would you receive only images from the api? You could use the gatsby-image fragment on every node maybe? Something along the following:

[code]

If the file is not an image then actually then `childImageSharp` would be null.

I am not sure this is what you are searching. otherwise you would need to provide some more information on the structure of your queries

[2018-10-25 19:14] sarahannnicholson commented on #5318
Yes, also seeing this same issue I didn't find what I'm doing wrong by looking at the [gatsby docs](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#image-processing).

I wonder if there's something on WordPress that needs to be enabled?

[2018-10-25 19:21] dwehrmann commented on #9403
Thanks @oorestisime,

the api returns a complex set of items, like

[code]

whereas 'Ref_Images' is where a flexible amount of images are stored.
In the frontend, this resembles a project page with an image slider at the top and different text fields below.
Displaying the images the `Ref_Images.url` way works locally/in dev mode but of course not when deploying as I'm not making use of gatsby-imag

[2018-10-25 19:32] dwehrmann commented on #9403
Ah, that explains a lot. Just for my understanding: Isn't that what the gatsby-strapi plugin already does? https://github.com/strapi/gatsby-source-strapi

[2018-10-25 19:41] oorestisime commented on #9403
i have never used that source plugin. out of a quick search it seems that it is using that yes but you should probably check with them on how to query those. generally a way to use it on a single node is something like the following:

[code]

[2018-10-25 19:47] oorestisime commented on #6883
Hey, so i ve worked out a plugin here https://github.com/oorestisime/gatsby-source-dropbox
it is not published yet since i am waiting on the PR i referenced here. You could install this along with the plugin-source-filesystem of the PR to test it :)

After talking a bit on discord i dont think it makes sense to PR the whole plugin in the main gatsby repo so i am closing the issue. Feel free to ope

[2018-10-25 19:47] #6883 closed

[2018-10-25 19:55] appleJax commented on #9121
@aamorozov I cloned your repo and tested it out. There is a line that you forgot to delete in `pages/index.js` (the `Section` component doesn't exist):
[code]

After I deleted that line, I ran `yarn build && yarn serve`, navigated to `localhost:9000`, and everything looked normal, with the images in a row. I navigated back and forth from `/` to `/page-2.`, and everything remained consistent.

Can

[2018-10-25 20:29] oorestisime commented on #9403
Feel free to close this issue :)

[2018-10-25 20:36] #9403 closed

[2018-10-25 20:39] aamorozov commented on #9121
@appleJax I just updated the repo and removed that component. The environment is indeed the same. I do notice now that the issue persists, but is not happening on every recompile. If I run yarn build the first time it might show me the correct layout, but I tried rebuilding a few times, with/without removing the old cache and it showed me the issue on 2nd rebuild...

[2018-10-25 20:46] juankaram opened #9406 "GraphQL Mutations"
👋 Maintainers!

## Summary
Is it possible to run graphql mutations using the Gatsby graphql wrapper?

## Relevant information
I did a little reading of the source code and didn't found any pieces that indicate that this is possible, besides going the apollo client route. If is not possible is totally fine, i just want to make sure before i commit to add the apollo client, etc. Also, adding support

[2018-10-25 21:40] maecapozzi commented on #9398
Hey @h0rhay, are you on Gatsby v1 or Gatsby v2?

[2018-10-25 21:47] SimonIMG commented on #9373
My JS skills are pretty noob level at the moment (trawling through Scott Tolinksi/Web Bos tutorials to up my JS and React skills :) ).

But I rate myself pretty good at testing, UX and documentation. More than happy to wait and happy to pitch into updating docs.

[2018-10-25 22:04] h0rhay commented on #9398
Hi @maecapozzi I'm on V1 at the moment, thanks for having a look :)

[2018-10-25 23:40] appleJax commented on #9121
@aamorozov I think I've found a fix. Let me know if this works for you. I think `gatsby-plugin-jsxstyle` is just using the wrong ssr API. Try making the following change to `node_modules/gatsby-plugin-jsxstyle/gatsby-ssr.js`:
[code]

[2018-10-26 00:26] tomByrer opened #9410 "suggestion: gatsby-cli: don't auto-install deps on flag"
I tend to want to manually update versions of dependencies, & not use the *.lock file.  I'd prefer to use gatsby-cli to download the repo then stop on a flag.  & I'd like to continue installation after adjusting the `package.json`.

Thanks for all your hard work!

[2018-10-26 01:07] jlengstorf commented on #4021
@kakadiadarpan seems reasonable to me. Does anyone have time to implement this? We're effectively looking to add the solution I proposed in https://github.com/gatsbyjs/gatsby/issues/4021#issuecomment-401499869, but without the `async`/`await` part.

[2018-10-26 03:01] TylerBarnes commented on #5213
@jlengstorf I would absolutely love to! I'll clean up the plugin and example site and write up a post! Do you guys have any guidelines for blog posts or should I just write it and submit a PR?

[2018-10-26 03:11] andrew-anguiano commented on #8069
@kakadiadarpan I can take a look at this if @sivagao hasn't had a change 🙂

[2018-10-26 04:00] ooloth commented on #4021
@jlengstorf Sure! I’m happy to take this one. I’ve been using this solution on my end (in gatsby-browser) and it would be nice to bake it in.

[2018-10-26 04:18] hackhat commented on #4624
Hi there, any news about this?

[2018-10-26 04:18] hackhat commented on #2435
This should be added to gatsby-remark-images to be consistent, otherwise some images will be blurred, others will have svg.

[2018-10-26 04:19] hackhat opened #9414 "Traced SVG for gatsby-remark-images"
Reopen https://github.com/gatsbyjs/gatsby/issues/4624

I am using Traced SVG option from gatsby-image for my non-article images and I love it.

However for my markdown images, there is only available blur-up effect, which means image loading is inconsistent. It would be nice to have traced svg also for gatsby-remark-ima

[2018-10-26 05:19] jeremylynch commented on #9310
Thanks so much @kakadiadarpan
Is there any chance you could take a look at [this site](https://www.orangemotorgroup.com.au/ )?

[2018-10-26 05:36] hackhat opened #9415 "1668MB cache storage in chrome"
![image](https://user-images.githubusercontent.com/11173732/47546580-8187a280-d924-11e8-8db8-6b6ef806856f.png)

![image](https://user-images.githubusercontent.com/11173732/47546606-96fccc80-d924-11e8-840d-cf188a9072c6.png)

![image](https://user-images.githubusercontent.com/11173732/47546610-a5e37f00-d924-11e8-99bb-1a2a65457f98.png)

![image](https://user-images.githubusercontent.com/11173732/4754

[2018-10-26 05:41] KyleAMathews commented on #9415
Can you reproduce this with the default starter?

[2018-10-26 05:58] hackhat commented on #9415
Only happens when deployed and not in localhost...

[2018-10-26 06:01] kakadiadarpan commented on #9396
@d-ivashchuk `gatsby-plugin-page-transitions` is not compatible with Gatsby v2 currently. It uses `replaceHistory` API which was removed during the Gatsby major version upgrade. Please refer to [Migration documentation](https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#browser-api-replacehistory-was-removed).

[2018-10-26 06:01] #9396 closed

[2018-10-26 06:11] kenigbolo commented on #1199
@KyleAMathews I have a small node utility I use for fixer-io and I'd actually love to add this as a plugin I can use in gatsby so basically I'd be making a `gatsby-fixer-io` plugin. Is it okay to submit a PR for this already as I have this mapped out at the moment

[2018-10-26 06:11] henrych4 commented on #9398
Try to log ```window.history.state```. This should work for V2, not sure for V1.
Ref: #9091

[2018-10-26 06:18] kakadiadarpan commented on #9414
@hackhat would you be open to work on this and raise a PR?

You can get the required information from #4624, if you need more support we can help you.

[2018-10-26 06:29] hackhat commented on #9415
@kakadiadarpan what more info do you need?

[2018-10-26 06:30] kakadiadarpan commented on #9376
Yes, that might be correct. In `MacOS`, you can have different cases and it'll still work but that's not the case with `Linux`.

We'll be closing this issue, let us know if you need more help.

[2018-10-26 06:30] #9376 closed

[2018-10-26 06:52] hackhat commented on #9414
@kakadiadarpan I can't do it at the moment, sorry. I took a look at the code and is a huge function that does everything (for the image), anyone is considering to refactor that in something more digestable?

[2018-10-26 07:05] pbrandone commented on #3853
Also made a quick medium post (and forgot to post it here) with pretty much what's in https://github.com/gatsbyjs/gatsby/issues/3853#issuecomment-395432693 (albeit a bit more in depth).

https://blog.significa.pt/i18n-with-gatsby-528607b4da81 for anyone who's interested

[2018-10-26 07:09] cardiv commented on #8760
I will try the [Antd](https://github.com/ant-design/ant-design) route now.
Looks like a really cool component library.

Let's see how it goes. Thanks for the answers.

[2018-10-26 07:09] #8760 closed

[2018-10-26 07:26] rchrdnsh opened #9423 "gatsby-image is breaking on me and I can't figure out why..."
## Description

working on a site...querying images with graphql...and things are breaking oddly...

So, I set up my image route in the `gatsby-config.js` file, like so:

[code]

...then I create my query for my image, like so:

[code]
and then when I run `gatsby develop` in the terminal I get the following series of errors:

[code]

but the app works with the images...at least...for one or two `g

[2018-10-26 07:37] l0co commented on #1526
This is answered about "what's the reason", but I'd extend the question: how to disable this feature?

It seems to be not reasonable. For example if I have a site with 20 subpages, and the whole bootstrap/theme css is of 350KB size, if it was loaded from css file using `<link src='...'>` it would only be loaded once and then get from the cache. Instead, it is forcefully inlined into each page html

[2018-10-26 07:40] cahhvoy opened #9424 "add html comments to gatsby"
## Summary

sometimes you just want to temporarily disable a section in a HTML page or component see the results and continue but gatsby creates a syntax error.

### Basic example

``
but when i do this the error i get
_SyntaxError: A:\_gatsby\bcksitetwo\src\pages\index.js: Unexpected token (**pageline here**)_

### Motivation

i need to be able to test different outcomes of changing the a HTML el

[2018-10-26 07:45] kakadiadarpan commented on #9423
@rchrdnsh have you tried one of the example sites that use `gatsby-transformer-sharp`? [image-processing](https://github.com/gatsbyjs/gatsby/blob/master/examples/image-processing) + [using-gatsby-image](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-gatsby-image) are great examples of how to do things.

[2018-10-26 07:47] l0co commented on #7765
@azdanov It doesn't seem to be similar to #7517, which is about duplicating the same css classes on single page, while this one is about forcefully embedding the same (potentially large) stylesheets on each website page.

[2018-10-26 07:50] kakadiadarpan commented on #9424
@cahhvoy Adding HTML comments in React is a little different compared to how you do it in regular HTML as you are writing JSX now.

Please check this link to see how to add [comments in JSX](https://wesbos.com/react-jsx-comments/).

[2018-10-26 07:50] #9424 closed

[2018-10-26 08:12] luukdv commented on #9207
Same issue here. Turned on 'Pretty URLs' in Netlify, but when I visit a page and remove the trailing slash in the address bar afterwards, I land on the non-trailing variant.

I agree with @lloydh about having an option (or by default?) in `gatsby-plugin-remove-trailing-slashes` to enforce a trailing slash. Right now it's not really a canonical, since the current `pathname` is used (https://github.

[2018-10-26 08:13] s-pace commented on #9159
@pieh you are right.

You can update your website first and we will merge the PR asap. if you do not want the search to be stopped, you can update your client without the filters:
`algoliaOptions: { 'facetFilters': ["version:$VERSION", "tags:$TAGS"] },`
It will introduce duplicates but the search will not be broken.

We can agree on a precise date for the merge and behaves depending on your move.

[2018-10-26 08:58] LekoArts commented on #9383
Does the Wordpress backend have an URL you can enter in the config?

That solely depends on how you build. I think most people with a more manual setup build the new contents in another directory and copy it over when it’s finished. Search for that on Google. You'll probably find something.

[2018-10-26 09:05] cardiv commented on #9383
Yeah, WordPress will have a unique URL for data fetching.

I might have read about that temporary build directory and such at Netlify. Will have a look, thanks!

[2018-10-26 09:07] LekoArts commented on #9383
Netlify? Then you don’t have to do anything. They do it all for you.

[2018-10-26 09:07] hackhat opened #9425 "How to don't wrap a custom component with a `<p>` tag? gatsby-transformer-remark"
How to don't wrap a custom component with a `<p>` tag? gatsby-transformer-remark

I have a custom component which is a div, therefore div inside p is invalid html. Any solutions?

See demo here: https://using-remark.gatsbyjs.org/custom-components/

Their usage implies that you can have complex components, so I don't think is good to put them in a p tag.

[2018-10-26 09:11] hackhat opened #9426 "Broken link in https://using-remark.gatsbyjs.org/custom-components/"
Anchor: "GFM table"
Broken link to: https://using-remark.gatsbyjs.org/custom-components/hello-world-kitchen-sink/#tables

[2018-10-26 09:14] cardiv commented on #9383
Yeah, but they want their own intranet server. Very disappointing, I wanted to deploy that on Netlify.

What I mean is, that I think Netlify does the same: Build into a temp folder and copy that over when finished.

[2018-10-26 09:31] l0co commented on #1526
I've spent almost 4 hours to find the resolution. It seems they even didn't provide an option to disable this, while this is clearly the feature only useful for SPA-s.

Here is the workaround in `gatsby-ssr.js` which replaces all (can be further customized) inline styles with `<link>`:

[code]

[2018-10-26 09:43] kakadiadarpan commented on #9426
I think it should be this: https://using-remark.gatsbyjs.org/hello-world-kitchen-sink/#tables

[2018-10-26 09:48] ammarbinfaisal opened #9427 "How to use React-Visibility-Sensor in a gatsby website?"
how can I use [React-VisibilitySensor](https://www.npmjs.com/package/react-visibility-sensor) in a gatsby website?
building (`gatsby build`) shows error window not defined.
I am checking whether window is undefined(gatbsy is building pages) and rendering it without visibilityCheck component if it is otherwise with VisibilityCheck component.
how to prevent this?

[2018-10-26 09:54] kakadiadarpan commented on #9427
@ammarbinfaisal can you share more information about the error that you are getting?

[2018-10-26 09:59] kevinfoerster opened #9429 "export filename length"
## Summary

is it possible to overwrite the output filenames Gatsby generates on build? my deploy target only allows 31 chars as a filename and therefor component---src-pages-page-2-js.a82bc48cfa31deea5b5f.css does not work… actually the hash.ext would be enough i guess

## Relevant information

i would like to deploy a react app to an Arduino and the filesystem limits filenames to 32 characters,

[2018-10-26 10:31] kakadiadarpan commented on #9429
You can try doing this:

[code]

[2018-10-26 10:37] ammarbinfaisal commented on #9427
error Building static HTML for pages failed

See our docs page on debugging HTML builds for help https://goo.gl/yL9lND

   8 | 	else
   9 | 		root["react-visibility-sensor"] = factory(root["React"], root["ReactDOM"]);

     |  ^
  11 | return /******/ (function(modules) { // webpackBootstrap
  12 | /******/ 	// The module cache
  13 | /******/ 	var installedModules = {};

  WebpackError: Reference

[2018-10-26 10:40] ammarbinfaisal commented on #9427
sorry for being so foolish and not writing the error in the first place.
see the updated issue

[2018-10-26 10:47] kakadiadarpan commented on #9427
@ammarbinfaisal You shouldn't be so hard on yourself. Please check the documentation for [Debugging HTML Builds](https://www.gatsbyjs.org/docs/debugging-html-builds/), I think what you will need to is documented in **Fixing third-party modules** there.

We'll be closing this issue, please feel free to reopen if it doesn't solve your problem.

[2018-10-26 10:47] #9427 closed

[2018-10-26 10:56] ammarbinfaisal commented on #9427
Sorry, I dont get this? :confused:

[2018-10-26 11:01] msachi opened #9430 "Does gatsby-plugin-layout support multiple layouts?"
## Summary

I'm trying to use `gatsby-plugin-layout` to persist state across pages as we used to be able to do in Gatsby v1. However, I need to use two different page layouts for different sets of pages. Is it possible to configure more than one layout? It's not in the docs and looking at the code it doesn't seem like there's support but wanted to check before submitting a feature request.

## Rel

[2018-10-26 11:29] #9426 closed

[2018-10-26 11:56] LekoArts commented on #9430
And why doesn't work that for you? The `layouts/index.js` file persists the state, you wrap the pages with the layout components and use the state, e.g. via Context API.

[2018-10-26 13:04] richsilv opened #9434 "Links to non-existent hashes jump window scroll to the top of the page"
## Description

Gatsby v2's use of the *gatsby-react-router-scroll* package results in a jump to the top of the page if the location hash is changed to something which has no matching element on the page. This is inconsistent with normal browser behaviour.

### Steps to reproduce

* Navigate to https://www.gatsbyjs.org/docs.
* Scroll to the bottom of the page.
* Put `window.location.hash = "#fooba

[2018-10-26 13:05] haroldangenent commented on #8145
@m-allanson / @davidbailey00: I still see the first error (in Chrome) when it tries to fetch an external resource (like Analytics).

Currently it [does catch the TypeError](https://github.com/davidbailey00/gatsby/blob/master/packages/gatsby-plugin-offline/src/sw-append.js#L16), but (at least) Chrome also throws an error from the promise itself:

[code]

Would it be a good approach to combine https

[2018-10-26 13:08] richsilv commented on #9434
Thinking about this a bit more, is this to enforce scroll-to-top when there's a page transition including a hash which doesn't appear in the new page? That would make more sense, and the solution would be to suppress this behaviour whenever the link only involves changing the current `hash` and not the `pathname`.

[2018-10-26 13:09] mglaman commented on #6643
I just ran into this as well because of some 404s. The silent failure made this pretty hard to debug when using gatsby-source-drupal.

[2018-10-26 13:29] kevinfoerster commented on #9429
`actions.setWebpackConfig` does not apply to `output`, the documentation state:

therefor i tried using `replaceWebpack`like so:

[code]

unfortunately this results in another issue:

[code]

[2018-10-26 13:30] kmorf opened #9435 "Adding search with gatsby-image"
##  Question
What's the best way to implement search functionality on my site while taking advantage of `gatsby-transformer-sharp`?

I have a card component which is also my search result component👇
[code]
How can I include `image.childImageSharp.fluid` in my index?

### What I tried

1. Created index with [gatsby-plugin-elasticlunr-search](https://github.com/gatsby-contrib/gatsby-plugin-elasticlu

[2018-10-26 13:34] m-allanson commented on #5038
I think we can call this done. Thanks folks :)

[2018-10-26 13:34] #5038 closed

[2018-10-26 13:59] merelinguist commented on #9369
Adrien, go ahead :).
On 25 Oct 2018, 07:46 +0100, Adrien Rousselet <notifications@github.com>, wrote:

Hi there.
Can I take this one ?
10hours to make 5 copy/past seems a bit too long to me.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/gatsbyjs/gatsby/issues/9369#issuecomment-432934003>, or mute the thread<https://github.c

[2018-10-26 14:02] talolard opened #9436 "Gtag plugin doesn't work in dev (Probably just need to document so explicitly)"
Hi,
We just installed the new gtag plugin and were a bit flustered until we realized it doesn't work in development. I assume it is expected behavior, it certainly feels correct in retrospect. However, it would be great to mention it in the docs.
@tylerbuchea, can you confirm it is expected behavior ? If so, I'm happy to update docs accordingly.
Cheers

[2018-10-26 14:05] pungggi opened #9437 "Ability to rerender whole App"
## Summary

Ability to rerender whole App by extending the Browser API.

### Basic example

![grafik](https://user-images.githubusercontent.com/5635709/47571427-cae1ed00-d938-11e8-8d7b-388bd25a9b91.png)

### Motivation
Use with https://github.com/gunn/pure-store#subscribecallback

[2018-10-26 14:05] pieh commented on #9429
@kevinfoerster you would need to target only `build-javascript` stage (error you are getting is because your change applies to `build-html` stage too (this is one to generate static html files).

Try:
[code]

[2018-10-26 14:09] Soundug commented on #9375
Hi! Can I take this up?
Also, which plugins should i be adding to the list. Any reference?

[2018-10-26 14:14] tylerbuchea commented on #9436
Right it is the expected behavior. But mentioning that in the docs would save some frustration.

Thanks for your help 👊

[2018-10-26 14:31] Yurickh commented on #9207
Just to clarify, the 'Pretty URLs' option in netlify WILL redirect you to the trailing slash variant:

[2018-10-26 15:15] designforhuman commented on #9281
I formatted my drive and reinstalled a Mojave beta as before. It's still not working. Could it be something to do with the beta OS? Let me go back to the public release and try this again.

[2018-10-26 16:19] ooloth commented on #4021
Quick Gatsby plugin authoring question for the group!

I'm following the contributing instructions [here](https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo) and my local updates to the `gatsby-image` package in my local `gatsby` fork are being successfully applied to my gatsby test site (i.e. the `gatsby-image` files in my Gatsby test site's `node_modules` folder are automa

[2018-10-26 16:29] ooloth commented on #4021
@pieh Thank you!

Such a simple fix. 👍

[2018-10-26 16:53] jlengstorf commented on #5213
@TylerBarnes Great news! We've got guidelines for contributing to the blog written up here: https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-blog

Thanks so much!

[2018-10-26 16:59] amberleyromo commented on #8482
Closed in #9188 and #9307

[2018-10-26 16:59] #8482 closed

[2018-10-26 17:13] msachi commented on #9430
@LekoArts My understanding of it is as described [here](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/?=layotu#how-layouts-worked-in-version-1). So in v1, the layout component wrapped around the page component, whereas in v2 the layout component is a child of the page component. The result being that whereas the layout component did not use to rerender on page transitions, it now does rer

[2018-10-26 17:39] rchrdnsh commented on #9423
yes, I followed the code examples in quite a few tutorials and projects, and everything was working perfectly fine. I then stopped the development server and started it again and it broke, with literally no change to the code at all in any way. I then stopped the server again and only renamed the images and updated the code and started the server again and it worked. Then, without changing any cod

[2018-10-26 17:51] rchrdnsh commented on #9423
hmmmmm...I might have found something...

So, I re-named the image files and updated the queries to reflect the name changes and then Gatsby re-generated the thumbnails and now the site works again, but I got a gang of warnings in the terminal:

[code]

Do these warnings mean anything to you? Nothing in the code has been changed at all, other than the names of the files and their associated names

[2018-10-26 17:57] rchrdnsh commented on #9423
Here is one of my image queries:

[code]

and the entire query with three images and some markdown info:

[code]

According to the tutorials I've read this is all correct, but if you see anything I'm doing wrong, please let me know.

[2018-10-26 18:14] erquhart commented on #9209
Dynamically loading when the hash is present could work.

[2018-10-26 18:18] qnoox commented on #9369
I this still up for grabs? ready to start right away.

[2018-10-26 18:18] gurtjun opened #9448 "[www] Not optimised for iPhone X"
## Description

The iPhone X's indicator for accessing the Home screen is blocking the bottom navigation.

### Steps to reproduce

Visit https://gatsbyjs.org on an iPhone X and scroll down
### Expected result

What should happen?

Bottom navigation should have some kind of padding to make sure it's above the indicator for accessing the Home Screen.

What happened.

The indicator for accessing the

[2018-10-26 19:01] appleJax commented on #9121
@aamorozov I think you're right, `jsxstyle-webpack-plugin` seems to be non-deterministic with class-name generation. This will at least make the class names deterministic:
[code]

It fixes the issue for your reproduction repo, but it's hard to tell with such a small codebase. Let me know if it works for your larger project.

[2018-10-26 19:13] pieh commented on #9430
You can conditionally render different wrapping layouts with `gatsby-plugin-layout`:
ie:

this is `src/layouts/index.js` (or different file you pointed to in plugin config)
[code]

you would need to pass `useAlternativeLayout` (or something else to determine which layout to use for which page) to context of pages you create.

[2018-10-26 19:31] sarahannnicholson commented on #8488
Maybe give this a go?  https://github.com/gatsbyjs/gatsby/issues/3917/#issuecomment-366763228

[2018-10-26 19:41] #7716 closed

[2018-10-26 20:24] KyleAMathews opened #9452 "Add wk.com to the site showcase"
It's a great agency website that deserves to be showcased.

[2018-10-26 20:29] pieh commented on #8488
Also, please try updating `gatsby-plugin-sharp` and `gatsby-transformer-sharp` - we updated `sharp` version recently which potentially solves issues like that

[2018-10-26 20:34] diboy2 opened #9455 "[Gatsby V1] "Plugin/Preset files are not allowed to export objects gatsby" after installing unit testing for jest."
## Description

I followed the v1 unit testing guide and installed all the necessary plugins. Now it is running the unit tests correctly, but it is breaking gatsby develop and gatsby build.

### Steps to reproduce

I followed this guide: https://v1.gatsbyjs.org/docs/unit-testing/#unit-testing and then ran gatsby develop or gatsby build. I believe it is using babel 7 on gatsby when it should be run

[2018-10-26 20:52] sadewole commented on #6131
I'll work on it

[2018-10-26 20:55] marisamorby opened #9456 "[EPIC] .org redesign [homepage]"
### Who will own this?

**Area of Responsibility:** Ecosystem

_Select the Area of Responsibility *most impacted* by this Epic and add it as a Label_

| Role                | Name  | RACI                                        |
| ------------------- | ----- | ------------------------------------------- |
| **AoR owner**       | @amberleyromo  | _Consulted about the epic_                  |
| **Do

[2018-10-26 21:08] pieh commented on #9373
@SimonIMG You should be able to that in GTM console. GTM works differently than GA and excluding GTM script can cause weird behaviours. See discussion in #9413

[2018-10-26 21:43] #9452 closed

[2018-10-26 22:43] #8393 closed

[2018-10-26 23:12] #9151 closed

[2018-10-26 23:58] WebD00D commented on #9324
Hey @maecapozzi , I don't get any errors, just linter warnings is all. I thought the same about CommonJS / ES6, and I did have some of those, but fixed, and still the same issue.

[2018-10-27 00:06] shannonbux commented on #9375
@Soundug

Official Plugins: https://github.com/gatsbyjs/gatsby/tree/master/packages
Official Starters: I can't remember? @jlengstorf?

[2018-10-27 00:10] #9259 closed

[2018-10-27 01:10] lexishanson opened #9459 "Improve sourceNodes doc and tutorial page explanation about promise return"
## Summary

Documentation for using `sourceNodes` could be improved to more clearly state returning a promise (or callback) to the function and the "why" behind it.

We had a teammate that assumed they just needed to call `createNode()` within `sourceNodes` and that would be all that's needed. They were following the [Source Plugin Tutorial](https://www.gatsbyjs.org/docs/source-plugin-tutorial/).

[2018-10-27 01:12] lexishanson commented on #9459
If this gets the green light I can go ahead and make these changes.

[2018-10-27 01:14] KyleAMathews commented on #9459
/cc @jlengstorf

[2018-10-27 03:51] hackhat commented on #9425
I managed to create a custom P component that will check if the children are "special" and don't render the p tag. Is very hacky so another solution should be find.

[2018-10-27 03:51] hackhat commented on #9415
@kakadiadarpan sorry I can't provide production urls.

[2018-10-27 03:52] hackhat commented on #9415
@kmorf can you please list all your gatsby plugins?

[2018-10-27 03:55] hackhat opened #9463 "markdown: Only in the build adds a <p> tag before my custom component - not in develop"
---
        path: "/"
        title: "***"
        description: "**"
        layout: "homePage"
        ---

        <welcome-hero></welcome-hero>

This creates a <p> before my welcome-hero in production build, but not in develop.

## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo p

[2018-10-27 03:57] hackhat commented on #9463
Interesting, I was messing around and appeared in develop for a second, but can't reproduce it anymore.

[2018-10-27 04:00] #9463 closed

[2018-10-27 04:03] hackhat commented on #9425
just put in production and this solution doesn't work, resulted in adding the p back: https://github.com/gatsbyjs/gatsby/issues/9463

[2018-10-27 04:14] andrew-anguiano commented on #8069
@kakadiadarpan do you have any more pointers on how to achieve this? I've poked around and haven't really found a good way to preserve the filters. I thought perhaps passing `modalBackgroundPath` with the filter params included would work, but I can't seem to figure out how to pass them down to the modal properly.

[2018-10-27 04:49] hackily commented on #8019
Can confirm the issue is still present on v1 documentation
https://v1.gatsbyjs.org/docs/deploy-gatsby/

But appears fixed in current (v2) documentation on all browsers below
https://www.gatsbyjs.org/docs/recipes/

Recreation: Click the anchor links and hit back.

Windows 10 Version	10.0.17134 Build 17134
- Firefox Quantum 63.0 (64-bit)
- Chrome Version 69.0.3497.100 (Official Build) (64-bit)
- Mic

[2018-10-27 05:08] raulrpearson commented on #5990
@stlk, [your post](https://blog.rousek.name/2018/08/10/cool-image-loading-with-gatsbyjs-v2-and-netlify-cms-v2/) was very helpful but I was missing one piece: telling [gatsby-source-filesystem](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/) about my NetlifyCMS image folder (as @hennessyevan mentioned at the top of this thread):

[code]

@jonathanphz, could this be the reason why it's

[2018-10-27 05:18] meyer commented on #9121
Hi, maintainer of jsxstyle here. I am not familiar with the specifics of how Gatsby caches stuff between builds, but if the issue is that Gatsby doesn’t render things in a single webpack build then there will most definitely be issues with mismatched/missing styles. Each stylesheet is unique to each build. However, there is a (not very well documented) option to keep an on-disk cache of the groups

[2018-10-27 06:01] Strandedpirate opened #9464 "gastby build failing"
I haven't modified anything and getting this error on Windows 10. I tried deleting the .cache directory and building again, but the same error occurs.

Thoughts?

[code]

[2018-10-27 07:01] stefanprobst commented on #9434
This seems to be `scroll-behavior`'s default intended behavior:

https://github.com/taion/scroll-behavior/blob/de09e3b1dd614818aff0fec93a9dc9956b4d1e88/src/index.js#L298

[2018-10-27 07:30] wodin commented on #8019
The original bug is no longer reproducible for me, however there's a new one. The back button still does not scroll to the correct location. It just scrolls to the top of the page.

On https://www.gatsbyjs.org/docs/recipes/ scroll down until the `Transforming data` link is at the top of the page. Click on the `Transforming data` link. The browser correctly scrolls to the `Transforming data` sectio

[2018-10-27 07:48] abumalick commented on #9151
Thank you very much 👍

[2018-10-27 08:14] harrisnguyen94 opened #9465 "[Question] Timeout on Netlify build pipeline possibly caused by regression?"
## Description
Hi, I'm running into a nasty timeout bug on Netlify build pipeline. Site is small enough (~10 pages) that it's definitely not an issue with actual build time.

Some background: My site was initally build with  Gatsby v2-beta38. Upgrade and migrating to official v2 result in timeout. (More info on the exact buggy version below)

### What I've tried:
- Local Gatsby build command works

[2018-10-27 09:15] KyleAMathews commented on #9465
Can you try upgrading gatsby to the latest version? E.g. npm install gatsby@latest.

You're 60-70 versions behind right now ;-)

[2018-10-27 11:37] lol-russo commented on #8056
I'm having the exact same issue as @williamtstanley described in #8611 — my problem isn't hitting the Netlify time limit, it's instead dying at the static HTML Generation.

[code]

[2018-10-27 12:20] phacks opened #9470 "[Using Remark Example] Blog articles links lead to blank pages"
## Description

On a fresh install of the Using Remark example in the Gatsby repo, the actual blog posts of the Using Remark website lead to blank pages instead of blog posts.

The https://using-remark.gatsbyjs.org/ website is working as intended.

### Steps to reproduce

- Git clone the `gatsbyjs/gatsby` repo
- `cd examples/using-remark`
- `yarn && yarn develop`
- Go to `localhost:8000` and click

[2018-10-27 12:36] alalfakawma opened #9472 "Production build rendering strong tags in places it should not"
## Description
I am uploading my gatsby app to Netlify but some of my components are not rendering data properly, as they were rendering in the development mode, the production mode is causing something that is putting <strong></strong> tags in between some of my dynamic data, also, dangerouslySetInnerHTML is not showing in some components but can be seen using the react dev tools\

### Steps to r

[2018-10-27 12:38] phacks commented on #9470
Problem was fixed in the `gatsby-transformer-remark` plugin in `2.1.8` (see issue #9293), updating the version fixes both the issue described here and the failing build (that I just discovered).

[2018-10-27 12:48] #9470 closed

[2018-10-27 12:55] raphadeluca commented on #9423
I don't know if it can helps. I ran into the same issue, with the exact same error log. Running a graphiql query on allImageSharp prompted a message complaining about the size of some images that were smaller than the maxWidth value I put in the query.( e.g. `fluid(maxWidth: 2000)`).
After filtering my images in the static folder fixing the minimal width on the maxWidth value, it fixed the issue.

[2018-10-27 13:28] kmorf commented on #9415
[code]

[2018-10-27 13:30] phacks opened #9476 "[CI] Circle CI not triggering unit tests if last commit does not modifies `packages/*|.circleci/*`"
## Description

A Pull Request may contain several commits, with some of them modifying files in `packages/` or `.circleci/`, and the last one modifying e.g. `examples/` or the root `README.md`.

Such a Pull Request should trigger unit tests (because it modifies a file in `packages/` or `.circleci/`, per #8269 by @DSchau), but it currently does not.

### Steps to reproduce

I cooked up a sample Pu

[2018-10-27 13:37] phacks commented on #9476
It looks like replacing

[code]

by

[code]

might do the trick.

However, it will most probably trigger unit tests for any Pull Requests against `v1`, independently of the contents of the Pull Request. I was not able to find a Circle env var for “the branch you are pull requesting against”…

What do you all think?

[2018-10-27 14:11] Yurickh commented on #9464
This looks similar/related to https://github.com/rexxars/react-markdown/issues/189?

[2018-10-27 14:12] Yurickh commented on #9464
Which starter is this error happening with, @Strandedpirate?

[2018-10-27 14:38] phacks commented on #9476
If you wish to go with that solution, I opened #9478 that can be merged :)

[2018-10-27 14:53] gricard commented on #4873
I'm super sorry, but I've been real busy with other stuff and traveling for work and never ended up having time to work on this. If anyone else wants to take it, go for it. Otherwise I'll see if I can get to it soon. :(

[2018-10-27 15:06] rchrdnsh commented on #9423
thank you for your reply @raphadeluca. I dbl checked my images and they are all wider than 2000px, but this is good to know for the future anyway :-)

[2018-10-27 16:17] richsilv commented on #9434
I take your point, but in `scroll-behavior` this is configurable, whereas in `gatsby` it isn't as `shouldUpdateScroll` is hard-coded and passed into the root `ScrollContext`: https://github.com/gatsbyjs/gatsby/blob/0658f0bbec8f5fbfb770dc5bd368165116e5b7db/packages/gatsby/cache-dir/root.js#L63-L65

Is this something that could be changed in `onCreatePage`? Or otherwise, could a `shouldUpdateScroll`

[2018-10-27 16:21] jhackett1 opened #9479 "gatsby-plugin-offline doesn't seem to work with Gatsby v2.0.19"
## Description

Does gatsby-plugin-offline work with recent versions of Gatsby?

When I run `gatsby develop` I get the message `The plugin "gatsby-plugin-offline@2.0.9" is exporting a variable named "onPostPrefetchPathname" which isn't an API.`

This causes builds to fail too.

### Steps to reproduce

Install these deps and try building, I guess?

[code]

### Expected result

Site builds successfu

[2018-10-27 16:50] KyleAMathews commented on #9479
Can you upgrade to the latest version of every package and try again?

[2018-10-27 16:53] ToTenMilan commented on #9145
Had the same issue, so I've just monkeypatched `node_modules/gatsby-plugin-offline/gatsby-browser.js` like suggested in prompt, from this:
[code]
to this:
[code]
and the app has built

[2018-10-27 17:09] harrisnguyen94 commented on #9465
@KyleAMathews Done a bunch of test builds again and confirm this problem come with beta.67. Gatsby version up til beta.66 works fine. And yes, I've tested with the latest version also.
https://github.com/gatsbyjs/gatsby/blob/5749232c29c6d246eea73dbff82909b79903b004/packages/gatsby/src/internal-plugins/query-runner/page-query-runner.js#L68
^ My suspect is this line, but honestly I'm in the dark her

[2018-10-27 17:18] KyleAMathews commented on #9465
Perhaps try deleting different parts of your code and see when it starts working? That seems like the fastest way to narrow down what's causing this.

[2018-10-27 17:32] harrisnguyen94 commented on #9465
I'll definitely try debugging more when I have time. Netlify not allowing to cancel build has slowing the process to a crawl though. This is been going on for weeks. I've resorted to build locally and manually upload to Netlify for now.

In the meantime, please keep this open for anyone who might have a lead or facing similar problem.

[2018-10-27 17:34] KyleAMathews commented on #9465
This sounds specific to your code as I don't recall any one else reporting it so e.g. delete parts of your gatsby-node.js and see what happens.

[2018-10-27 17:46] KyleAMathews commented on #9465
E.g. check if you're returning a promise and then don't resolve it as then Gatsby would wait forever for it to finish.

One thing we could do in core is watch for very long running plugins and then warn if after e.g. 10 minutes, a plugin is still working.

[2018-10-27 17:47] rchrdnsh commented on #9423
yeah, happened again...

I assume that if I rename the files again then they will work again for a while then will break again...

argh...

[2018-10-27 19:38] Strandedpirate commented on #9464
I used this one: https://github.com/nareshbhatia/gatsby-starter-material-ui

[2018-10-27 20:47] #9244 closed

[2018-10-27 20:52] hackily commented on #8019
I believe that behavior is expected with anchor links. There is no logic to save your the previous scroll location, that is just the browser's default behavior.

[2018-10-27 21:30] thomasvaeth opened #9485 "Image Path in Posts"
`![Placeholder](../../images/placeholder-2.jpg)`

I am just developing a theme so I have the `gatsby-config.js` file set up, so all images for blog posts are in a shared folder since I use a lot of the same ones. The above works and displays a picture no problem, but I want pictures in different sizes.

`![Placeholder](../../images/placeholder-2.jpg#full)` does not work. I have styling to make thi

[2018-10-27 21:46] DWboutin commented on #1189
I got this error when Refreshing this page: https://mikaelboutin.com/en/page-2/

There's the repo of my project like it is now online https://github.com/DWboutin/gatsby-setup

[2018-10-27 23:09] tlent commented on #9414
I have started working on this and made some good progress. I will be opening a pull request soon.

[2018-10-27 23:39] kinduff commented on #5990
Took me around 2 days to finally find a solution of what was going on (and I still don't know) but I got it working in my application.

My app is a fresh install of gatsby and I'm manually adding the plugins, including NetlifyCMS. Any of the solutions will always return me this error:

[code]

**What I did** was to include my media folder as recommended by @raulrpearson but with a twist: Media fol

[2018-10-27 23:59] Khaledgarbaya opened #9488 "Error: Schema must contain unique named types but contains multiple types named "String"."
## Summary

I am working on a contentful rich text transformer plugin which will be very similar to the transformer remark.
I am getting

[code]

When appending the field html to the richtext node

## Relevant information

Here is a PR with the plugin https://github.com/contentful/gatsby-transformer-contentful-richtext/pull/1

I am defining the field [here](https://github.com/contentful/gatsby-tra

[2018-10-28 02:25] aamorozov opened #9489 "gatsby-develop | useState from react hooks doesn't work in development environment"
## Description

When running dev server, the state from react hooks is not working without any errors. It works, however, in production after compiling the files.

### Steps to reproduce

1. Pull down https://github.com/aamorozov/gatsby-react-hooks;
2. Run `yarn && gatsby develop`;
3. When dev server is running, click on the button - the state is not getting updated here;
4. Run `gatsby build && g

[2018-10-28 02:44] nclandrei commented on #8366
Hi @amberleyromo! Can I take this one on? 😄

[2018-10-28 05:54] wodin commented on #8019
No, that is not true

No, that is not true.

Try this:

[code]

Then open file:///tmp/recipes.html and try to reproduce the problem.
This scrolls correctly for me in Firefox, Chrome, Safari, etc. unlike https://www.gatsbyjs.org/docs/recipes/

[2018-10-28 06:35] IvanKalinin opened #9493 "How do I get css modules working with Gatsby v2 and without module word in the name?"
Hi there.
Who has an experience of using scss modules in Gatsby without naming files with suffix `.module.css`.

I do have an app that built with my own react components library (connected as submodule).

I want to use the same component base  for my new landing page but couldn't figure out how can I let Gatsby know to process my `Component.scss` as css module w\o adding `.module.scss`.

[2018-10-28 07:49] habibmustofa commented on #9479
Hi, I faced the same problem when I tried `gatsby-plugin-offline`, I saw a warning when installing the plugin:
`npm WARN gatsby-plugin-offline@2.0.9 requires a peer of gatsby@>=2.0.20 but none is installed. You must install peer dependencies yourself.`
then I updated gatsby to version `" ^ 2.0.20 "`, the problem was solved.

sorry my bad.
Love Gatsby.

[2018-10-28 08:04] ryanditjia commented on #6735
Hi @fk. With introduction of React Hooks, I decided to try to solve this once more. Once React Hooks is officially out, and Gatsby supports it (for some reason, I couldn’t make Hooks work with Gatsby).

Demo: https://gatsby-6735.netlify.com
Source: https://github.com/ryanditjia/playing-with-react-hooks

There are plenty of abstraction opportunities, but I’ll leave this here for now.

[2018-10-28 08:35] #9206 closed

[2018-10-28 08:54] harrisnguyen94 commented on #9465
I think I found out why Netlify builds timeout. https://github.com/gatsbyjs/gatsby/issues/7527#issue-352672559
I've confirmed that I have a dangling jest-worker process after build. Unlike the issue above though, the entire code base does not have `setInterval` nor any use of `componentWillMount`. However, some dependencies might have been doing something weird. `gatsby-node`, `gatsby-ssr`, `gatsb

[2018-10-28 10:28] ascorbic commented on #9493
You'll need to [override the webpack config](https://www.gatsbyjs.org/docs/add-custom-webpack-config/) for css-loader. You can look [here](https://github.com/gatsbyjs/gatsby/blob/fed6d35f991abadca5e4ab335597d0c045d882da/packages/gatsby/src/utils/webpack-utils.js#L384) to see the default css config.

[2018-10-28 11:15] harrisnguyen94 commented on #9465
Found it! It was Firebase.

Firebase database init in my api module was calling some `setInterval` under the hood even without making any query at build time. The workaround is to check for `window` to make sure it's only init in browser and leave a dummy `db` in the the module otherwise. Or move all firebase config and init code into  some componentDidMount hook.

Firebase Admin SDK seems to be n

[2018-10-28 11:15] #9465 closed

[2018-10-28 11:55] oskareke commented on #8056
@lol-russo I kept getting errors like that when doing my createRemoteFileNodes inside a `getNodes().forEach` loop. Moving all of them to `exports.onCreateNode` got rid of the problem for me.

[2018-10-28 12:14] baukevanderlaan commented on #7407
Thanks for bringing this up – it looks like this can potentially save a lot on image heavy websites.

@gillkyle Would this be something you know more of?

Would it be a good idea to have an extra set of quality arguments for `2x` and `3x` in `gatsby-plugin-sharp`?

Maybe in the future `gatsby-transformer-sharp` can even take an educated guess about whether an image is photographic or graphic and a

[2018-10-28 12:33] pojntfx commented on #9087
@rwieruch Same problem here. On [libresat.space](https://libresat.space) (sources [here](https://gitlab.com/libresat/libresat)), the old content still gets served (deployed using Netlify). Some docs would be awesome.

[2018-10-28 12:42] ethluz opened #9495 "utf 8,chinese markdown autolink is not workking in v2"
** package.json :** "gatsby": "next"  is can work .
but  if  "gatsby": "2.0.0" is not workking

[2018-10-28 13:50] iray-tno commented on #7810
Is there a way to use `babel-node` instead of `node`?

[2018-10-28 15:17] josebrito opened #9500 "macOS El Capitan :: gatsby develop :: "Illegal instruction: 4""
## Description

Hi there, i'm trying out Gatsby in my personal macOS system. However when running `gatsby develop` or `gatsby build` I run into the following error:

[code]

I was able to drill down the root cause to the `gatsby-transformer-sharp` which depends on the `sharp` lib. After a bit of investigation I found this thread which seems to be related to this issue: https://github.com/lovell/sh

[2018-10-28 16:58] thorn0 commented on #8418
The `status: confirmed` label has two conflicting descriptions:

1) In the [label list](https://github.com/gatsbyjs/gatsby/labels):

2) In '[How to label an issue](https://www.gatsbyjs.org/docs/how-to-label-an-issue/)':

So is this label supposed to be added only by the Inkteam or by anyone from the Maintainers team?

Which one of these two descriptions should be corrected?

[2018-10-28 17:13] thorn0 commented on #9489
Caused by https://github.com/gaearon/react-hot-loader/issues/1088

[2018-10-28 17:22] codejet opened #9503 "Issue with gatsby-plugin-manifest 2.0.6"
## Description

When I just wanted to deploy my site (based on gatsby-starter-blog) to Netlify the build broke with the following error:

`5:52:32 PM: node: symbol lookup error: /opt/build/repo/node_modules/gatsby-plugin-manifest/node_modules/sharp/build/Release/sharp.node: undefined symbol: _ZNK4vips6VImage11premultiplyEPNS_7VOptionE`

So I ran `gatsy build` locally and got this:

[code]
Seems to

[2018-10-28 19:14] openmedi commented on #6879
Since there doesn't seem to be any progress, I'll try to figure this one out. 🤓

[2018-10-28 19:48] d-ivashchuk opened #9507 "Junky page transition animation due to scroll to page top"
## Summary
I am trying to implement transitions between pages in my Gatsby blog. Although they work as expected, there is a problem I can't get rid of : when I scroll the page to the bottom, on click on `gatsby-link` the page will be scrolled to the top before actually transitioning.

## Relevant information
My `Transition` component is nothing fancy and looks exactly like explained in `Gatsby doc

[2018-10-28 21:17] thorn0 commented on #9472
The steps to reproduce you've provided aren't really useful without any access to the source code. Could you try to isolate the issue and make a minimal example repo where the erroneous behavior would reproduce stably?

[2018-10-28 22:53] LuisPaGarcia commented on #8366
Hi, @amberleyromo!
Can i take this one?

[2018-10-28 23:04] 416serg commented on #7005
@jlengstorf Here's a crack at a blog post: https://416serg.me/building-a-custom-accessible-image-lightbox-in-gatsbyjs

Demo: https://gatsbylightboxv2.416serg.me/
Github: https://github.com/416serg/GatsbyLightbox

Decided to create a new one using Gatsby V2, styled-components and @ryanflorence's `Dialog`

Let me know if it works or if I need to change it in any way/shape/form

Thanks 👋🏼

[2018-10-28 23:13] LuisPaGarcia commented on #1546
Hi! Can i work in this issue?

[2018-10-28 23:43] zachmayberry commented on #9196
I'm seeing the same error and have traced it back to the use of "localhost" as the baseUrl. In the meantime I'm simply using non-localhost instances for testing, but it would be more convenient to have localhost support.

FYI - I've routed it through port 80 as well to see if that's the issue and I get the same errors.

[2018-10-29 00:57] cmkshaw opened #9511 "Errors on first install (childImageSharp/gatsby-transformer-sharp)"
Hi! I did a quick command-F for `childImageSharp`/ `gatsby-transformer-sharp` in existing issues but didn't see anything for first-time installers at a glance.

## Description

I've followed the first three steps of your [setup guide](https://www.gatsbyjs.org/docs/) and am stalled with errors.

### Steps to reproduce

Ran:
`npm install --global gatsby-cli`
`gatsby new gatsby-site https://github.co

[2018-10-29 02:35] SheldonNunes commented on #4873
I am happy to pick this one up :)

[2018-10-29 03:07] amberleyromo commented on #8366
@nclandrei -- go for it, thank you!

@LuisPaGarcia ^another contributor commented first! You might be interested in checking out the other hacktoberfest issues 😄

[2018-10-29 03:13] anjaliannahuja commented on #9369
Is this issue resolved?

[2018-10-29 03:35] StarAzure opened #9512 "Gatsby Starter Personal Blog - Search not showing search field"
## Description

Starter page does not show any search field and does not load any results.

### Steps to reproduce

This same page when cloned on local shows the problem:
https://gatsby-starter-personal-blog.greglobinski.com/search/

### Expected result

Search form and results should display

### Actual result

No search form or results are displayed.

### Environment

  System:
    OS: Windows 1

[2018-10-29 04:01] rchrdnsh commented on #9423
Sorry @KyleAMathews, don't mean to @ you for no reason, just don't know who to ask and it's been a few days. Maybe you might know who I can point this to that works on gatsby-image?

[2018-10-29 04:10] meyer commented on #9121
Ah neat, looks like Gatsby passes a `Cache` instance to each plugin function:

https://github.com/gatsbyjs/gatsby/blob/fa8ef4e/packages/gatsby/src/utils/api-runner-node.js#L103-L123

This seems to do the trick:

[code]

Since this issue is an implementation bug (fixed in https://github.com/jsxstyle/jsxstyle/pull/123, thx @aamorozov) I’d say it can be closed here.

[2018-10-29 05:36] kakadiadarpan commented on #9437
@pungggi can you provide more information about this? Are you facing any issues currently in Gatsby(at present store is managed using redux)?

[2018-10-29 05:40] kakadiadarpan commented on #9455
@m-allanson @pieh I think this `Unit testing` documentation is meant for Gatsby v2 and it should not be there for v1? I remember talking about this same issue earlier where we removed this section from v1 docs.

[2018-10-29 05:50] kakadiadarpan commented on #9464
@Strandedpirate I'm unable to reproduce this on MacOS. Can you provide environment information by running `gatsby info --clipboard`?

[2018-10-29 06:00] kakadiadarpan commented on #9495
@ethluz can you share more detailed information regarding this issue? Also, please provide relevant environment information by running `gatsby info --clipboard`.

[2018-10-29 06:02] thecox opened #9513 "Limit `pathPrefix` changes to assets only"
## Summary
- We're passing the `pathPrefix` option primarily to access assets at the specified location on our server. The only issue is that this will also redirect to the path-prefixed version of the URL, which is not what we want.

## Relevant information
- Basically, we want to serve up all assets from the `pathPrefix`ed version of the site, but not have it affect the routing. For example (ass

[2018-10-29 06:06] kakadiadarpan commented on #9507
@d-ivashchuk can you provide environment information by running `gatsby info --clipboard`?

This issue is reproducible at https://using-page-transitions.netlify.com/ as well.

/cc @pieh @m-allanson

[2018-10-29 06:11] kakadiadarpan commented on #9511
@cmkshaw If you are still getting the above error, that might be an installation of `sharp` module.

Did you had a chance to look at [image-processing](https://github.com/gatsbyjs/gatsby/tree/master/examples/image-processing) example which showcases the use of `gatsby-transformer-sharp` and `gatsby-plugin-sharp`?

[2018-10-29 06:17] kakadiadarpan commented on #9512
@StarAzure did you follow all the steps listed in [Getting started](https://github.com/greglobinski/gatsby-starter-personal-blog#getting-started)?

[2018-10-29 06:29] kakadiadarpan commented on #9513
@thecox The primary use case of `pathPrefix` is for sites to be hosted somewhere other than the root of their domain. Say we have a Gatsby site at `example.com/blog/`. In this case, we would need a prefix (`/blog`) added to all paths on the site.

[code]

If you want to prefix your assets with a path, then you will need to modify webpack configuration. That would look something like this:

[code]

[2018-10-29 06:32] kakadiadarpan commented on #9423
@rchrdnsh can you provide a reproduction repo for this?

[2018-10-29 06:58] d-ivashchuk commented on #9507
Here goes env information:

[code]

[2018-10-29 07:00] stefanprobst commented on #9507
See https://github.com/gatsbyjs/gatsby/issues/5213#issuecomment-428368131

[2018-10-29 08:49] monsieurnebo commented on #8986
It would be great!

[2018-10-29 10:13] josebrito commented on #9500
@hexrcs for sure I will try that approach, the thing is I'll be away from that setup for the next 2 weeks, so I won't be able to provide feedback until then. If you could keep this issue open for that period it would be highly appreciated. It would also give someone else the chance to chime in, if that's the case.

On a side note: I am aware that this is an issue with my particular setup, so it wi

[2018-10-29 10:46] msachi commented on #9430
Nice idea @pieh, that worked well for me! Maybe worth adding to the docs?

Closing the issue as this resolves my question.

[2018-10-29 10:46] #9430 closed

[2018-10-29 10:51] pieh commented on #9430
That's good idea - would you be interested in creating PR to add "handling multiple layouts" section to `gatsby-plugin-layout" docs?

[2018-10-29 11:03] LekoArts commented on #9512
Please open an issue in the appropriate repository:
https://github.com/greglobinski/gatsby-starter-personal-blog

[2018-10-29 11:03] #9512 closed

[2018-10-29 11:10] ng-hai commented on #9489
Hey, I wrap the function with React.memo() and it works 😆

[2018-10-29 11:58] thorn0 commented on #9507
Should we close this in favor of #5213?

[2018-10-29 13:20] cmkshaw commented on #9511
Hello! I haven't looked at the plugin examples, because I haven't gotten that far yet... I just want to install plain ol' Gatsby 😅

I suppose I'm confused why I'm getting these issues on first install -- if there are plugins to be installed alongside Gatsby, shouldn't those be included in the very detailed setup guide?

[2018-10-29 14:06] diboy2 commented on #9455
@kakadiadarpan Is it possible to recover the raw text for v1 for the unit testing configuration? Unit testing setup is blocking some of my team's stories.

[2018-10-29 14:15] signalwerk commented on #2662
worth mentioning in this context; https://github.com/gatsbyjs/gatsby/pull/9517 thanks to @ChristopherBiscardi

[2018-10-29 14:30] jodays opened #9520 "Nested directories graphQL"
Hi, I have my markdown in folders. I have the markdown directory within I have two main directories. Which I am filtering for with a query like this

[code]
My question is, I want to have directories within these two directories that have their own directories. Then I'd like to create a sidenav with these nested directories. How would I be able to create a graphQL query that can do that.
It would

[2018-10-29 14:57] thecox commented on #9513
Awesome, that makes a lot more sense to edit asset paths directly via webpack - I'll look into customizing the config as you mentioned. Thanks for the quick response! 🙇

[2018-10-29 15:10] justinlevi commented on #2687
I recently had an odd issue with the Type inference not working with what seemed like some reserved keys. I had a `header` key with an image path that the auto-inference didn't seem to like.

[2018-10-29 15:31] pieh commented on #9455
I think you are right about babel 7 - it's weird it is there in v1 docs - could you try removing babel 7 part and adjust jest babel config to use same plugins/presets that gatsby v1 is using: https://github.com/gatsbyjs/gatsby/blob/43ea95d21366d2480df403857330a2bf4ee9e3ed/packages/gatsby/src/utils/babel-config.js#L146-L174

[2018-10-29 15:33] diboy2 commented on #9455
@pieh I just add babel-config in my root directory. the v1 documentation for babel is also missing.

[2018-10-29 15:58] diboy2 commented on #9455
@pieh Sorry, I meant. * Do I just add the babel-config.js file in my root directory? *

[2018-10-29 16:17] jonathancary commented on #9198
@seanngpack Were you able to get this to work? I'm trying to do something similar where I query the main page image in the page.js and then import that into my mainbg.js component so the main image is different on every page, but have not been able to get it working after a long time trying to figure it out.

[2018-10-29 16:18] #6232 closed

[2018-10-29 16:46] mgrubinger commented on #9511
I'm having the same issue with v2.0.7, but still works with v2.0.5

You can try it with:

```npm install --save gatsby-plugin-manifest@2.0.5```

[2018-10-29 16:47] DSchau commented on #9511
@mgrubinger yikes! Did you mean `gatsby-plugin-sharp` there? In any scenario, would you be able to share a reproduction?

[2018-10-29 17:05] erikthered opened #9523 "Docs: Issues with links on recipes page"
## Description

On the [recipes page]() of the live docs, the "full docs" link in the top paragraph is using the url: https://www.gatsbyjs.org/docs/recipes/(/tutorial/). Additionally, the ToC seems be out of order, "Gatsby Project Structure" should be the second link but it's appearing at the end.

### Steps to reproduce

Visit the recipes page of the docs: https://www.gatsbyjs.org/docs/recipes

#

[2018-10-29 17:20] rajasekarm commented on #9523
I can pick this.

[2018-10-29 17:32] garethpbk commented on #8488
Been having the same issue on a Windows 10 machine; using Node x64, `windows-build-tools` installed, latest versions of Gatsby and all plugins installed, etc.

However - a new project with [https://github.com/gatsbyjs/gatsby-starter-default](gatsby-starter-default), which now includes `gatsby-image` and the sharp plugins, does NOT produce the error.  `gatsby-image` works as intended.  Not sure wha

[2018-10-29 17:34] DSchau commented on #8488
@garethpbk it should be a matter of just upgrading versions as @pieh said [here](https://github.com/gatsbyjs/gatsby/issues/8488#issuecomment-433533999).

We recently merged a PR which should (🤞) improve Windows support going forward with sharp and hopefully run into less issues!

[2018-10-29 17:46] amberleyromo opened #9525 ".org redesign: homepage [design] gatsby diagram"
_(This issue is **design-focused**, not implementation-focused.)_

@fk has begun working on and mocking up updated designs for the Gatsby homepage diagram:

<img width="837" alt="screen shot 2018-10-29 at 12 45 27 pm" src="https://user-images.githubusercontent.com/3461087/47669272-8b094880-db78-11e8-8fea-fca128f4bb06.png">

This issue is intended to support discussion and feedback on the diagram u

[2018-10-29 17:53] amberleyromo opened #9526 ".org redesign: homepage [design] overview issue"
_(This issue is **design-focused**, not implementation-focused.)_

The below represent the components of the homepage that require design attention for the .org redesign effort:

- [x] Ecosystem #9709
- [x] Blog section #9711
- [ ] “Used by” #9752
- [ ] Showcase #9754

## Blocked / Requires discussion
- [ ] Hero content / CTA buttons #9748
- [ ] Features / "Why" #9755
- [ ] Diagram #9525

## Shelv

[2018-10-29 17:57] fk commented on #9525
I finally picked up work on this yesterday and here's what I've got so far:

<img width="1280" alt="desktop_ homepage" src="https://user-images.githubusercontent.com/21834/47669719-d0933900-dbab-11e8-803d-04fb54bb1b0a.png">

FYI: With [us deciding to expand the existing diagram](https://gatsbyjs.slack.com/archives/CDFLS39AB/p1540580649005100) and add some more detail inspired by the [`react-static

[2018-10-29 17:57] jonathancary opened #9527 "Passing Gatsby Image Query to a Component"
I'm trying to use Gatsby Image where I query an image in a page component and it is passed to my Main Image component. The use case is having a unique image for each page as the hero image.

Nothing pops up in the terminal but in the console I get `Uncaught ReferenceError: props is not defined` however I'm unsure of how to fix this. Everything queries fine and works if I'm just using the image on

[2018-10-29 18:00] fk commented on #9525
As you can see, I'm a little stuck on both "Build" and "Serve" parts though:

- I want to make sure that Gatsby's "build" and "serve" stages really match the ones of our [reference diagram](https://medium.com/@tannerlinsley/%EF%B8%8F-introducing-react-static-a-progressive-static-site-framework-for-react-3470d2a51ebc#6695): Do "React/Gatsby Bootstrap", "Template", "JSON" really make 100% sense for

[2018-10-29 18:08] fk commented on #9525
Further wondering:

- Should we add a "Develop" section, too? My vote is for "yes", because it allows us to point out the great dev UX features Gatsby offers (hot reloading being the main one). That's something where the `react-static` diagram falls short on IMO.

- I added a bunch of "explanatory copy" for "Source Data" and "Deploy" — does that make sense to y'all? The current copy is borrowed fr

[2018-10-29 18:11] LekoArts commented on #9527
## First part: Your error

May sound like an obvious thing (no offense) but learn to understand the errors you get. It probably also gave you a filename/path or even the line number. So what's the error telling you? `props` is unknown to the component.

You use `props.mainImage.childImageSharp.fluid` in `mainImage.js`. Do you see the error comparing, e.g. with your index file? You're referencing `

[2018-10-29 18:13] fk commented on #9526
Will break down components in a minute and add a couple.

Also just stumbled upon https://github.com/ichabod-cranes/mansion/issues/987, should we close this one?

[2018-10-29 18:39] amberleyromo commented on #9526
Closing ichabod-cranes/mansion#987 -- thanks!

[2018-10-29 18:50] rbmedia commented on #2444
Wordpress has all features out of the box in your comparison chart, is this right?
I use gatsby because I am  unhappy with the output of CMS like Drupal and wordpress.

[2018-10-29 19:25] #9476 closed

[2018-10-29 19:33] jonathancary commented on #9527
Thanks for the help. Changing it to `this.props` worked. Figured it was something obvious, but was staring at it too long I guess.

The pages have different layouts/structure, but how the image is displayed is the same, so that's why I was opting for a component over page templates. And yes I was using a fragment, but removed it for the code above. Thanks for your input!

[2018-10-29 19:33] #9527 closed

[2018-10-29 20:05] jamezrin opened #9531 "Provide better translations for documentation"
## Summary
Provide better translations for the documentation available. As of now, only spanish is translated and only partly, and I'm pretty sure it has outdated information.

In my opinion, it's better to not have translations that are incomplete and outdated. Also having only spanish is a bit strange.

I'm willing to translate everything (will take some time but I'll do it) to spanish, but I do

[2018-10-29 20:07] mgrubinger commented on #9511
@DSchau In my case it was related to gatsby-transform-manifest

Here's the error message:
[code]

However, I could not create a reproduceable setup in a new project. It seems my problem was related to this issue: https://github.com/gatsbyjs/gatsby/issues/8852

I saw the message about the cached libvips after installation of `gatsby-plugin-manifest@2.0.7` again, so I figured it there's an incompati

[2018-10-29 20:12] oorestisime commented on #9531
i am willing to help translate in greek/french as well. probably there is the need to have docs hosted somewhere and have a source plugin pulling them or something similar? so that translations are always  up to date?
i am willing to work on something like that (maybe start with a prototype) if docs team is willing.
@gatsbyjs/docs

[2018-10-29 20:18] KyleAMathews commented on #9525
Yeah — theirs and our build steps generate JSON (the data for each page)

I'd vote yes — a lot of people aren't sure exactly how Gatsby works so emphasizing we ship a client router will help them get that "oh, Gatsby _is_ generating a React app and I can add client routes, etc."

👍

Seems promising — if it makes the diagram more confusing I'd vote for just showing the "build" diagram

Yup! Except

[2018-10-29 20:23] oorestisime commented on #9523
I am closing this since the PR was merged!

[2018-10-29 20:23] #9523 closed

[2018-10-29 20:37] zslabs commented on #9355
I've seen some mutterings within this repo around `no-cache`, but was wondering if there was a more official place I could go to find out the main purpose of it. Since this URL param is inherently seen as a duplicate URL/content and would need to be specifically removed from every single Gatsby website in Google's eyes through webmaster tools; is there something we can do to prevent the use of thi

[2018-10-29 20:53] KyleAMathews commented on #9355
It's a work around to get gatsby-plugin-offline working. I agree it's not a great solution. @davidbailey00 could you look into other options for checking if a page has been seen?

[2018-10-29 21:02] zslabs commented on #9355
@KyleAMathews Appreciate the response; we're not using that plugin currently, but sounds like it's just kinda baked-in there in case it is. Do you happen to know of any workarounds to disable that entirely, or is that "too core" to touch at the moment until an alternative solution is figured out?

[2018-10-29 21:09] ChariseWalraven opened #9533 "TypeError: getNodesByType is not a function"
## Description

Hi there, I've been following the tutorials on gatsbyjs.org, and on part 6 I run into this issue where my app will crash whenever I try to query something with graphql.

### Steps to reproduce
Here's the github link to the project :arrow_right:  https://github.com/ChariseWalraven/gatsby-graphql-crash

### Expected result

GraphiQL and GraphQL should respond with the data from the m

[2018-10-29 21:22] KyleAMathews commented on #9355
It's in core right now

[2018-10-29 21:27] akoolenbourke opened #9536 "Is there a documented way to get full TypeScript support for Gatsby sites?"
## Summary

Does anyone know if a documented way to get fully compiled and type-checked Typescript into a Gatsby site? As someone from C++ and new to JS I have to say that my experience with the latter is been less that comfortable, primarily due to the dynamic typing. I've lost count of the number of hours I've wasted tracking down type related defects.

So, I want to make things more sane but it

[2018-10-29 21:29] theKashey commented on #9489
The more proper fix
[code]

[2018-10-29 21:31] #9448 closed

[2018-10-29 21:54] zslabs commented on #9355
Gotcha; while I'm not as versed into that part of the app in particular, if there is any headway on testing out a different solution; I'll be ready to give things a whirl on my end!

[2018-10-29 21:56] DSchau commented on #9355
@hackhat we're sorry to hear this! Is there any way you could let us know if you're able to reproduce this? I just tried with gatsbyjs.org and wasn't able to replicate. I also checked out Google Analytics logs, and didn't really see any issues, definitely not ?no-cache=1 on _all_ of our logs!

Could be an outdated gatsby-plugin-offline plugin issue, perhaps?

[2018-10-29 21:56] amberleyromo commented on #6170
Closed in #8724

[2018-10-29 21:56] #6170 closed

[2018-10-29 22:01] LekoArts commented on #9531
The "outdated" part is important. It always be outdated sooner or later.

Since the Gatsby team rejected some translations PRs recently I feel certain that no further translations are wanted. Therefore the current spanish translations should be removed completely.

[2018-10-29 22:01] eads commented on #7373
Can attest to doing the expensive stuff in one shot in `gatsby-node.js`. I'm using Gatsby with Hasura to build about 40k pages (currently unpublished). Getting all the data in one shot takes about 25s, whereas god only knows what the 40k queries run serially would take. I didn't bother to figure it out, as just 1000 pages took many minutes.

[2018-10-29 22:29] KyleAMathews commented on #7373
@eads fun project! :-D

And woah... that's a big time diff :-(

[2018-10-29 22:47] eads commented on #7373
@KyleAMathews I am running into some memory issues, but I'll open a separate issue.

But definitely, one 30s query in `gatsby-node.js` works a lot better than 40k 0.5s queries in this case and I highly recommend it as an approach.

[2018-10-29 22:56] msachi commented on #9430
Sure thing, it's here: https://github.com/gatsbyjs/gatsby/pull/9538

[2018-10-29 23:03] #7025 closed

[2018-10-29 23:04] 416serg commented on #7025
Thanks so much @Chuloo

[2018-10-29 23:21] seanngpack commented on #9198
@jonathancary Yup, I figured it out! You have to use a [Static Query](https://www.gatsbyjs.org/docs/static-query/). You cannot use GraphQL in components without this black-box component.

[2018-10-29 23:22] LekoArts opened #9539 "[gatsby-source-filesystem] createRemoteFileNode: Keep original name"
## Summary

Since this issue (https://github.com/gatsbyjs/gatsby/issues/6232) was fixed by @Sekhmet only one thing is left: Also keep the original file name in the downloaded image (as per old issue https://github.com/gatsbyjs/gatsby/issues/3132). Other requests: https://github.com/angeloashmore/gatsby-source-prismic/issues/40

@Sekhmet do you want to tackle that issue, too?

A result should be, e

[2018-10-29 23:39] amberleyromo commented on #8839
Closed in #8887

[2018-10-29 23:39] #8839 closed

[2018-10-29 23:39] amberleyromo commented on #8712
Hey @derekkramer! Still interested in working on this?

[2018-10-29 23:39] amberleyromo commented on #8710
Hi @ctxhou! Still working on this?

[2018-10-29 23:41] amberleyromo commented on #8805
@DSchau Maybe it would be useful to break this apart into different issues for the different plugins? Or at least a listing of todos in this issue description?

[2018-10-29 23:42] amberleyromo commented on #8847
Hi @Deborah-Digges -- still working on this?

[2018-10-30 01:09] bcimbali commented on #9533
I ran into this similar error today and I deleted all my node modules & package-lock.json, ran `npm install` again, and that seemed to fix the issue.  I am not entirely sure why that worked but it was a workaround that allowed me to keep moving on the tutorial.  I hope that helps!

[2018-10-30 02:09] cmkshaw commented on #9511
Using v2.0.5 works for me, thanks @mgrubinger.

[2018-10-30 03:19] KyleAMathews commented on #7373
Oh should probably note that your situation is a bit new @eads in that you're using gatsby-source-graphql with a remote API which means every call has network latency. Currently we hard code things so we only run 4 queries at a time. With remote APIs, we should run way more queries concurrently to speed things up.

[2018-10-30 03:38] shannonbux commented on #8730
Closed by #8777

[2018-10-30 03:38] #8730 closed

[2018-10-30 04:20] ng-hai commented on #8838
I have found a workaround
![image](https://user-images.githubusercontent.com/19520278/47695682-c9187200-dc35-11e8-86ef-8049325adf71.png)

[2018-10-30 04:35] ahansson89 opened #9542 "Gatsby Limit?"
I wonder what the limit for Gatsby is? I know I can make sites with 10,000 pages. But what if I have sites that have 1,000.000+ pages? Will Gatsby be able to handle that?

What limits have you guys hit with v2?

[2018-10-30 04:46] davidbailey00 commented on #9355
Hi @hackhat @zslabs, I'm the one responsible for the `?no-cache=1` stuff so just to let you know, I'll be checking this out ASAP.

The purpose of this query is to prevent service workers gobbling up pages on your site which aren't generated by Gatsby - e.g. if I visit Netlify CMS `/admin/` with a service worker installed, Gatsby will show a 404 because the SW returns a basic offline shell for all

[2018-10-30 05:20] kakadiadarpan commented on #9511
@cmkshaw @mgrubinger I'm not getting any errors when using `gatsby-plugin-manifest@2.0.7`.

Environment info:
[code]

[2018-10-30 06:16] codejet commented on #9503
thanks @kakadiadarpan. i just tried with 2.0.7 but am still getting the same error (locally).

[2018-10-30 06:34] kakadiadarpan commented on #9503
@codejet can you also try updating other gatsby dependencies?

My environment info looks like this and everything is working fine:
[code]

[2018-10-30 06:35] kakadiadarpan commented on #9503
@codejet If that doesn't work, could you share a reproduction repo for us to take a look at?

[2018-10-30 06:45] codejet commented on #9503
@kakadiadarpan will try tonight when i'm back home

[2018-10-30 08:44] luukdv commented on #9542
Related: https://github.com/gatsbyjs/gatsby/issues/9362

[2018-10-30 09:15] endymion1818 commented on #7461
Hi @WinterSoilder, if I'm right you want to split those 2 items in variants into 2 fields, then loop over them, is that correct?

[2018-10-30 10:45] kakadiadarpan commented on #9542
@ahansson89 The aim for Gatsby is to work for million page sites, but it’s not there yet. We have been working to make Gatsby great for larger scale sites. For that, we have been focusing on improving the performance and build times for large sites. Following are the PRs which have made a lot of difference:

#6226
#9370
#9338 (this is WIP, also focussed on larger site performance)

You can also ta

[2018-10-30 10:53] pieh commented on #9536
I don't have much context on typescript plugin :/ Did you check https://www.gatsbyjs.org/packages/gatsby-plugin-typescript docs about caveats and type checking? From what I understand plugin only really strips out ts features, so it's on users to use 3rd party tools to actually get benefits from using typescript (most likely using IDE support).

@resir014 Is that correct?

[2018-10-30 11:05] resir014 commented on #9536
@pieh @akoolenbourke yes. `gatsby-plugin-typescript` utilises the TypeScript Babel preset, which only strips the type annotations without running a type check.

You will have to set up `tsc` to run typechecking separately. I can write some docs on getting started with TS if needed, but for now you can follow [my starter](https://github.com/resir014/gatsby-starter-typescript-plus) which includes th

[2018-10-30 11:29] pieh commented on #9542
Page count limit is really fluid - it depends on how content heavy your site is and what is being used for your site. We have some benchmarks https://github.com/gatsbyjs/gatsby/tree/master/benchmarks/create-pages and https://github.com/gatsbyjs/gatsby/tree/master/benchmarks/markdown that stress test different parts of gatsby - but results of those benchmark won't be the same as for real production

[2018-10-30 12:06] berraknil commented on #8484
@amberleyromo @fk

May I ask what led to the decision to remove the filters?

[2018-10-30 13:00] kmorf commented on #9542
@pieh not sure if related to this thread but I noticed this:

Gatsby version | Queries/second
------------ | -------------
< 2.0.32 | 5 q/s
= 2.0.32 | 10 q/s
2.0.32 | 2.5 q/s

(without changing queries/content/etc..)

<details><summary>gatsby info</summary>
<p>

[code]

</p>
</details>

[2018-10-30 13:01] jonleopard opened #9559 "Upgrading gatsby from 2.0.31 to 2.0.34 causes a Typerror"
Not sure what's causing this, it may be a plugin but I'm not sure where to even start.

## Description

Upgrading gatsby from 2.0.31 to 2.0.34 causes a typerror:
[code]

### Steps to reproduce

Upgraded all my gatsby plgugins as well as gatsby/gatsby-cli to the latest versions.

### Expected result

`gatsby develop` should start with no errors.

### Actual result

Received TypeError: value must be

[2018-10-30 13:04] agyeiarcher commented on #3571
I've done some more work on it and it works fine for wp.org websites, but not for wp.com. Maybe there's a paid account caveat in there

[2018-10-30 13:20] DSchau commented on #9559
@jonleopard would you be able to provide a reproduction?

For context, this is the line that appears to be throwing:

[code]

[2018-10-30 13:28] JanLenoch opened #9560 "TypeError: Cannot read property 'internal' of null"
## Summary

When a Kentico Cloud Gatsby starter is connected to a Kentico Cloud official reference content project, the above error message appears after the "source and transform nodes" build step was successfully finished.

Debugging revealed neither any malformed input data nor any hints. The question is therefore: What might have caused this issue?

## Relevant information

Up until now, we've

[2018-10-30 13:46] elebumm commented on #9533
The issue was that I was on an older version of Gatsby. I was on `2.0.19`.

Running a `yarn add gatsby` put me up to the new version.

I think I might have accidentally put it back by installing a separate package. Either way, it's what did the trick. Make sure you check your `package.json` file to see if your version of `gatsby` is over `2.0.33` like @stefanprobst said.

Cheers guys ☕

[2018-10-30 14:29] DSchau commented on #9369
@anabellaspinelli doesn't look like it was added to the following packages:

- https://github.com/gatsbyjs/gatsby-starter-blog/blob/master/package.json#L53
- any of the examples (https://github.com/gatsbyjs/gatsby/tree/master/examples)

So there's still more to do, I think!

[2018-10-30 14:32] #9222 closed

[2018-10-30 14:46] ahansson89 commented on #9542
Of course. Let's say it's a news/blog type of sites with blog posts 800 words on average, just to define a standard for the discussion.

Will I be able to deploy a 1,000,000+ pages site with Gatsby as of right now? If not, where are the bottlenecks?

[2018-10-30 14:49] AAverin commented on #3706
@shaunpersad Did you also find any solution for this? It would be great to use latest firebase without migrating to the new GatsbyJS

[2018-10-30 14:50] iamnishantmishra commented on #9369
Can I take this?

[2018-10-30 14:52] DSchau commented on #9369
@iamnishantmishra sure, maybe handle the gatsby-starter-blog and then if you have the bandwidth, the examples would be great too! Sound like a plan?

[2018-10-30 14:54] iamnishantmishra commented on #9369
I have already created a pull request for gatsby-starter-blog. Working on examples. Thanks for the guidance :)

[2018-10-30 15:04] zslabs commented on #9355
👋 @davidbailey00 Thanks for jumping in and the rundown of how that feature works!

Googlebot certainly doesn't make it easy, does it?! We also ran into some weirdness with it's mobile-bot not being able to read our pages because we were using the CSS `vh` unit for certain hero images https://stackoverflow.com/questions/38103636/fetch-as-google-googlebot-desktop-not-rendering-page-correctly 👈 That

[2018-10-30 15:35] AAverin commented on #8612
I have this error with Gatsby 1 and Firebase 4, which are supposed to work together nicely

[2018-10-30 15:51] ctxhou commented on #8710
hey @amberleyromo, I've send the PR and wait for review 😄

[2018-10-30 15:52] kinduff commented on #9533
@elebumm @stefanprobst That helped, but I'm now I'm getting the same issue as #9559

[2018-10-30 15:52] marisamorby opened #9567 "Share research for copy on .org homepage"
## Next Steps

Can you share the research that you've done with contributors specifically concerning _how_ people think about Gatsby and _what they like_ about it.

The goal is to get updated copy on the homepage.

[2018-10-30 15:54] Greegko commented on #9559
I had the same issue, in gatsyb-config.js file I had this:
[code]

instead of simply
[code]

[2018-10-30 16:06] aofolts opened #9568 "Is there a reason why gatsby-source-contentful uses content type Names in graphql instead of IDs?"
For example, if I have a content type called `seo`, I would expect the resulting graphql type to be `ContentfulSeo`.

Instead, the `Name` is used. "SEO (Search Engine Optimization)" becomes `ContentfulSeoSearchEngineOptimization`. This doesn't make sense to me because Names can change and they are often more verbose, as they might provide additional information for editors.

Why aren't content typ

[2018-10-30 16:07] jlengstorf commented on #9489
Potential automated fix? https://github.com/gaearon/react-hot-loader/issues/1088#issuecomment-434087118

[2018-10-30 16:18] jonleopard commented on #9559
Thanks @Greegko ! That worked for me. Mind if I ask how you managed to trace down that issue?

[2018-10-30 16:31] wKovacs64 commented on #9489
The `setConfig` approach yields the same result as far as I can tell (not re-rendering when it should). 🤷‍♂️

[2018-10-30 16:32] alalfakawma commented on #9472
Here is the git repo - https://github.com/alalfakawma/gatsbyissuerepo where I have reproduced this issue.

**Note** - This only happens on the build version, check the index.html of the build and inspect the text.

[2018-10-30 16:42] talolard commented on #8297
I had this issue with production builds only when serving the site from S3/Cloudfront
I had forgotten to tell S3 where the 404 page is, and it returned the no-cache thing.
Setting the error document fixed it
![image](https://user-images.githubusercontent.com/5352830/47734743-38f51f80-dc6b-11e8-957a-8a382d5d009e.png)

[2018-10-30 16:45] Khaledgarbaya commented on #9488
cc @pieh

[2018-10-30 16:49] iamnishantmishra commented on #9369
Created pull request for gatsby/examples/*

[2018-10-30 16:50] zvinless commented on #9559
Nice find @Greegko! Looks like you have to either use the shorthand syntax or at least supply an empty options object. Is that intentional? I was using the object syntax exclusively since having a uniform style made it clearer to read the plugins list.

[2018-10-30 16:55] pieh commented on #9488
If you are using `yarn` - could you do `yarn why graphql` in your test site directory?

This error happens when the `GraphQLString` (or any other builtin graphql type) is imported from multiple instances of graphql package - but this really shouldn't happen when importing from `gatsby/graphql` :/

[2018-10-30 16:58] elebumm commented on #9533
@kinduff What version of node are you on?

[2018-10-30 16:59] kinduff commented on #9559
I can confirm that the fix provided by @Greegko fixes the issue.

**Before**
[code]

**After**
[code]

[2018-10-30 17:06] kinduff commented on #9533
@elebumm Now is solved. I'm using `2.0.33` and now we have a solution for the issue I reference above. I'm finally able to run develop, build and deploy to Netlify. I appreciate the help!

[2018-10-30 17:16] mgechev opened #9572 "Regression in the Guess.js plugin for Gatsby"
## Description

Currently, the Guess.js plugin for Gatsby does not prefetch the resources associated with the pages. It only invokes `getResourcesForPathname` but does not perform any actions.

It looks like the regression was introduced by [this PR](https://github.com/gatsbyjs/gatsby/commit/2605aa0ec74a79fa56bc0eae8d101356c25c38de#diff-79243c75f482266054a48c78b300dc5b).

Downgrading the Guess.js

[2018-10-30 17:28] elebumm commented on #9533
Always happy to help!

[2018-10-30 17:33] ChariseWalraven commented on #9533
@elebumm  Thanks for the advice on updating! I updated my gatsby and it works fine now. :smile:

[2018-10-30 17:34] thorn0 commented on #9472
What should be looked for in index.html? Double `strong` tags? There are none. I'm on Windows however, that's why our results might differ.

Are you using yarn or npm? Did you try updating the Gatsby packages?

[2018-10-30 17:34] ChariseWalraven commented on #9533
As a side note, would it be possible to update the gatsby version on the tutorial as well? I'm sure I'm not going to be the last one to have this issue if the version on the tutorial stays the same. :thinking:

[2018-10-30 17:34] osartun commented on #2847
Hey guys

This conversation is already quite old, but I'm wondering what the outcome was.

We have setup right now where the editors trigger a webhook whenever they publish a page which starts a build on Netlify.
Problem is: That can take up to several minutes until the site is live. Editors waiting for several minutes before seeing the change they did significantly slows down their workflow.

So,

[2018-10-30 17:43] elebumm commented on #9533
Can you send the link to the documentation that has the gatsby version? 😄

[2018-10-30 18:00] alalfakawma commented on #9472
Looks weird indeed. I am using npm and deploying in netlify. Can you see the strong tags in the netlify link which I posted above? I have checked on different browsers but got the same result. And only on the build version, the dev version has no problems, the build version doesn't even render some content like on the carousel. Is there anything else I can tell you to troubleshoot this problem?

O

[2018-10-30 18:09] thorn0 commented on #9472
Did you try updating the Gatsby packages to the latest versions, especially those having to do with markdown? If not, please try, it might be some issue that has already been fixed.

[2018-10-30 18:12] thorn0 commented on #9472
Also please commit the `public` dir to your example repo so that we could what you get there.

[2018-10-30 18:12] pieh commented on #9117
Right now I can't invest any time into doing any development on this, but I'd like to encourage You (or anyone else) to try to implement support for that and open PR (even if it's work-in-progress).

[2018-10-30 18:15] ThiagoMiranda commented on #9503
Same issue here. Did anyone fix it?

[code]

[2018-10-30 18:31] ckreiling commented on #5255
Just ran into the same problem and stumbled upon this issue. Any fix in the foreseeable future? I'm loving using Gatsby, but this puts a hitch in designing my application! Thanks.

[2018-10-30 18:32] iamnishantmishra commented on #9369
@DSchau can I close this issue?

[2018-10-30 18:32] DSchau commented on #9369
Sure thing; thank you!

[2018-10-30 18:32] #9369 closed

[2018-10-30 18:38] ChariseWalraven commented on #9533
Sure thing! Here :arrow_right: https://github.com/gatsbyjs/gatsby-starter-hello-world/blob/master/package.json
Currently the version is `2.0.0`

[2018-10-30 18:42] baukevanderlaan commented on #8916
Added in #9187

[2018-10-30 18:42] #8916 closed

[2018-10-30 18:43] KyleAMathews commented on #5255
@ckreiling would you be interested in exploring one of @pieh's fixes? Here's the instructions for setting up a local dev environment! https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo

[2018-10-30 18:55] davidbailey00 commented on #8145
@haroldangenent actually we don't do this because some URLs (e.g. web fonts) allow CORS, which means they *can* be cached. If we only cache internal resources then we miss out on caching stuff like fonts and CSS. This does come with the downside of occasional console errors, but on the whole it's better to try to cache external resources rather than ignore all of them.

[2018-10-30 18:56] Destroy666x opened #9574 "Netlify redirects are broken seemingly randomly"
## Description

Redirects don't work consistently, one build results in them not working at all, another in them not working just on the index page. Here's the code that's used: https://github.com/xsolve-pl/boldare-tech/blob/master/gatsby-node.js#L40

### Steps to reproduce

Enter https://tech.xsolve.software/ and you should be redirected to new domain, but you're not. Same for other pages if you

[2018-10-30 19:04] davidbailey00 commented on #5129
Just to update everyone, since this issue hasn't had much attention recently - I've assigned myself to implement this but at the moment I'm not sure how soon I'll get round to doing it. Recently I've been working on reliability improvements and tests to core code + offline plugin - hopefully when that's all polished up - perhaps in a few weeks - and if I'm not working on anything else by then, I'l

[2018-10-30 19:09] davidbailey00 commented on #7997
@ryanwiemer Thanks for pointing this out, and sorry for the late response - I'll try and take a look tomorrow to see what's going on.

[2018-10-30 19:15] Destroy666x commented on #9574
I'm also quite sure it affects people who visited the site on the old domain before - since in incognito it seems fine. But clearing cache and cookies doesn't really help.

[2018-10-30 19:33] shansmith01 opened #9575 "no-cache=1 being added to all createPages on Netlify"
After a recent update, all of my pages which have been made using createPages have no-cache=1 added to the URLs when navigating to a page from another. This is only happening in a production environment on Netlify and does not happen on my local install.

_Possible symptom of same issue_
I am also unable to get forms working with netlify using forms which are working on a gatsby v1 install. I also

[2018-10-30 19:42] DSchau commented on #9575
You have an extra space in `src/pages/hostels.js` :)

I've [PRed the fix here](https://github.com/shansmith01/basebackpackers/pull/19) so closing this out!

Thanks for using Gatsby 💪 Site looks great!

[2018-10-30 19:42] #9575 closed

[2018-10-30 19:46] DSchau commented on #9575
Oh whoops, and got a little hasty on closing out! Didn't catch the second part of your question:

We'd need more detail on this one, so maybe open a separate issue? It could be related to #7997

[2018-10-30 19:46] shansmith01 commented on #9575
Thanks for the help!. Was racking my brain on that simple issue for ages!

[2018-10-30 19:47] rchrdnsh opened #9576 "styled-components plugin is not installing properly into the default starter..."
## Description

Made a new Gatsby project using the default starter, and without doing anything to the project, copied and pasted the nom install instructions for the styled-components plugin, and upon installation I get the following errors:

[code]

### Steps to reproduce

1. run
[code]
2. cd into new project
3. run
[code]

### Expected result

the styled-component plugin should install with no

[2018-10-30 19:54] DSchau commented on #9574
@Destroy666x so just in clicking that link it _does_ work?

https://tech.xsolve.software -> https://tech.boldare.com
https://tech.xsolve.software/.net-in-my-browser/ -> https://tech.boldare.com/.net-in-my-browser/

What am I missing here?

[2018-10-30 20:06] Destroy666x commented on #9574
@DSchau as I mentioned above it seems to only affect people that had a service worker registered on the old domain. Shouldn't Gatsby automatically unregister it when domain redirection exists?

[2018-10-30 20:10] derekkramer commented on #8712
@amberleyromo Yes I'm actually finished, just testing the final plugin with NPM tonight then submitting my pull request

[2018-10-30 20:40] pungggi commented on #8238
By the way there is a npm package https://www.npmjs.com/package/npm-force-resolutions that does not force to use yarn for this.

[2018-10-30 20:54] hh83917 commented on #9455
So we remove all babel 7 stuff and `npm i babel-preset-env babel-preset-stage-0` as stated by @pieh.
Change jest-preprocessing to
[code]

That worked for us so far, thank you @pieh.

[2018-10-30 20:58] amberleyromo opened #9578 "[ecosystem] change starter slugs"
In `www/src/data/ecosystem/featured-items.yaml`, (introduced in #9442), change starter slugs to be consistent.

Blocked by / dependent on changes in #9249.

[2018-10-30 21:28] rickymetz opened #9579 "Gatsby build fails due to bootstrap | How to import scss from node_modules?"
## Summary

Gatsby build fails when trying to grab sass inside node_modules via `@import`s.

## Relevant information

Locally gatsby develop works as expected but fails when running `gatsby build` on netlify:
[code]

It seems other people have had similar problems but there doesn't seem to be a decided solution for v2 (that I could find).

From https://github.com/gatsbyjs/gatsby/issues/7452 :

It

[2018-10-30 21:37] rickymetz commented on #9579
Interestingly enough, I can build it locally fine:
[code]

So I'm not certain where the point of failure is. Any help would be greatly appreciated.

[2018-10-30 21:42] oorestisime commented on #9300
This seems quite fun to do. I had a look at the API and it is separated in entities (characters, comics, events, series etc ) and i think a source plugin could take in options a list of objects describing the resource they need.
For example

[code]

would return basic character information and the comics associated with selecting the
specified comics fields. If the user does not provide a characte

[2018-10-30 22:05] ckreiling commented on #5255
@KyleAMathews I'm very interested in doing that! It'd be my first open source contribution I've ever done though. Are there any centralized docs that I can look at to get a feel for how Gatsby is tested, and any other big-picture core Gatsby concepts?

[2018-10-30 22:06] t2ca commented on #9559
Thank you @Greegko, this was very helpful!

[2018-10-30 22:14] Destroy666x commented on #9574
That's exactly what Gatsby Netlify plugin generates with `createRedirect`, but it doesn't solve the issue of persisted service worker causing redirect issues.

[2018-10-30 22:23] ukch opened #9580 "Impossible to declare multiple components that use <StaticQuery> in one file"
## Description
Say I want to have multiple components in a single file, that both use `StaticQuery` in one form or another.

Example code:
[code]

[code]

The page will render as expected when using `gatsby develop`, but `gatsby build` will cause the following error to occur:

[code]

### Steps to reproduce

* Create a simple starter site.
* Copy the two files above (replace `some_query` with any

[2018-10-30 22:36] dajocarter commented on #9579
Try using a ~ in front your path like `@import "~bootstrap/dist/css/bootstrap"`

[2018-10-30 22:40] DSchau commented on #9574
@Destroy666x what about creating static/sw.js (will probably need to disable gatsby-plugin-offline as well), registering that in your head/script tags, and [unregistering the service workers](https://stackoverflow.com/questions/33704791/how-do-i-uninstall-a-service-worker) in that file?

That _should_ wipe out any subscriptions and then the redirects would work as you'd expect.

Also cc @davidbail

[2018-10-30 22:44] shansmith01 commented on #9575
@DSchau Yeah I will open a sperate issue if the fix for  #7997 does not solve. Thanks again

[2018-10-30 23:25] #9423 closed, assigned to nobody

[2018-10-30 23:55] codejet commented on #9503
When running `yarn upgrade` I also get an error which mentions libvips:

[code]

[2018-10-31 00:14] codejet commented on #9503
OK, `yarn upgrade --latest` did the trick. Build runs through locally and on Netlify (there I had to run it twice and clear the cache though).

[2018-10-31 01:19] zslabs opened #9584 "Netlify /admin redirect broken"
## Description

`3.0.5` (or more specifically https://github.com/gatsbyjs/gatsby/pull/9269) introduced a redirect for `/admin` that is breaking production Netlify environments. Our page was showing `Too many redirects` until I downgraded to `3.0.4`

### Steps to reproduce

☝️

### Expected result

Admin should load using `config.yml`

### Actual result

`Too many redirects` browser error.

[2018-10-31 01:59] berwyn opened #9585 "Question: Replace JS loader with TS loader for TypeScript"
## Summary
In the TypeScript plugin, the Webpack config [uses the JavaScript loader](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-typescript/src/gatsby-node.js#L9-L26) to parse TypeScript files. Wouldn't it make more sense to use [ts-loader](https://github.com/TypeStrong/ts-loader) and therefore leverage `tsc`'s typechecking and plugin framework? Is there a particular reas

[2018-10-31 02:05] ken0x0a commented on #9559
Thank you @kinduff !!

[2018-10-31 03:15] calcsam opened #9586 "Add Princeton Asian Art Museum to showcase"
Beautiful site: http://artmuseum.princeton.edu/asian-art/

[2018-10-31 05:28] calpa commented on #9586
Thank you, but just some question to verify this is using GatsbyJS.
@calcsam where is the source code? Is that an open source project?

[2018-10-31 06:00] kakadiadarpan commented on #9572
@mgechev can you provide a reproduction repo for this?

[2018-10-31 06:01] alalfakawma commented on #9472
I have added the public file which was output after the build to the repo. I will try to update the Gatsby packages and see if that changes anything.

- https://github.com/alalfakawma/gatsbyissuerepo

[2018-10-31 06:02] kakadiadarpan commented on #9503
@ThiagoMiranda updating Gatsby and it's plugins resolved the issue for @codejet. Can you do the same?

[2018-10-31 06:02] ChristopherBiscardi commented on #2662
Thanks @signalwerk. I'm currently working on theming for gatsby, as the pull request above indicates. The current state is that we merged early experimental support for themes as described in #9517. Themes can be installed from npm, etc and are probably closest to WordPress' theme implementation (if you currently think of your site as the child theme and the theme from npm as the parent). It's pre

[2018-10-31 06:08] justinformentin commented on #5100
I wanted to chime in to say that I'm having the exact same issue. Using Gatsby v2, using Emotion. All is good in dev, but once built there are no styles being displayed unless following an internal link. Working on trying to fix it now.

[2018-10-31 06:27] tanvibhakta opened #9591 "gatsby.org starter website template has weird css on it's share button"
## Description

The share button on top of every starter should be algned with the rest of the buttons, and the drop-down should go away on clicking outside the drop-down area.

### Steps to reproduce

Visit [any](https://www.gatsbyjs.org/starters/gatsby-starter-default-i18n) website starter pack url, and click the yellow share button on the right, above the website screenshot.

### Expected resul

[2018-10-31 06:31] rstacruz commented on #1075
gatsby-plugin-elasticlunr-search (1.0.4) should be fine even with the latest Gatsby (2.0.31), but you may need to change the graphql dependency version. You can do this using package.json's [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) configuration (only available in Yarn, though).

[2018-10-31 06:47] sarath49 commented on #9533
npm update

[2018-10-31 07:02] tanvibhakta opened #9592 "gatsby.org starter-pack sidebar doesn't have a scroll bar (in Firefox)"
## Description

The starter pack website, once filtered, doesn't have a scroll bar to allow me to scroll though the filters. This means that only after I reach the bottom of the main content does the sidebar content scroll.

### Steps to reproduce

Go to [this link](https://www.gatsbyjs.org/starters?c=i18n) and scroll on the sidebar.

### Expected result

When my cursor is above the sidebar, and I

[2018-10-31 07:04] dyllper commented on #9591
Mind if I take a look at this?

[2018-10-31 07:16] hasparus commented on #9592
Hi. I think I can do this pretty quickly.
Is this the expected result? https://vimeo.com/user91213058/review/298112464/dd3e01bc01

[2018-10-31 07:31] iamnishantmishra commented on #9592
@hasparus it looks good! Have you tested it on Firefox browser?

[2018-10-31 07:31] hasparus commented on #9592
Yup, that's Firefox on the video.

[2018-10-31 07:32] iamnishantmishra commented on #9592
Then go ahead create a PR!

[2018-10-31 07:35] psnaik commented on #9592
Ok

On Wed, Oct 31, 2018, 12:56 PM Piotr Pietrzak <notifications@github.com>
wrote:

[2018-10-31 07:47] alalfakawma commented on #9472
I just did an npm update and it updated some packages, including the gatsby-transformer-remark, I pushed it to Netlify and built in on the same link which I have up there, but the strong tags issue still persists.

[2018-10-31 07:51] ygd opened #9593 "Image as link has horizontal line in background"
## Description

The authors image in a blogpost is a link. It inherits link tag stylings which draws a border in the background.

### Steps to reproduce

Open a [blogpost](https://www.gatsbyjs.org/blog/2018-10-16-why-mobile-performance-is-crucial/) and hover over the authors image.

This is how it looks.
<img width="146" alt="bildschirmfoto 2018-10-31 um 08 45 28" src="https://user-images.githubus

[2018-10-31 08:13] haroldangenent commented on #8145
@davidbailey00 Thanks for your response. That makes sense. Maybe it would still be an idea to use the `no-cors` mode as done in #8158 (https://github.com/gatsbyjs/gatsby/pull/8158/files) for external resources? Also found [this StackOverflow topic](https://stackoverflow.com/a/36303436) on the subject.

[2018-10-31 08:42] oliviertassinari commented on #9200
@hackhat Do you have an example? It should be working! At least, it's working with our official example: https://github.com/mui-org/material-ui/tree/master/examples/gatsby.

[2018-10-31 08:43] oliviertassinari commented on #8237
For anyone wondering, the workaround is not to use the `wrapRootElement` API.

[2018-10-31 08:46] calcsam commented on #9586
Ctrl-F through "View Source" and you'll see "___gatsby"

On Tue, Oct 30, 2018 at 10:28 PM Calpa Liu <notifications@github.com> wrote:

[2018-10-31 09:01] hackhat commented on #9200
Yes is working all fine.

[2018-10-31 09:05] hackhat opened #9594 "Only home page (path: "/") has html in the build"
All my pages have empty content: `<body><div id="___gatsby"><div style="outline:none" tabindex="-1" role="group"></div></div>...`

Only my homepage has the content. Do you know why is happening?

### Environment

System:
OS: Windows 10
CPU: x64 Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz
Binaries:
Yarn: 1.9.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
npm: 5.5.1 - C:\Program Files\nodejs\npm.CMD
Brow

[2018-10-31 09:09] signalwerk commented on #2662
Thank you @ChristopherBiscardi for you work! this looks awesome! I read your post and I installed 1–2 gatsbys in the past but I didn't really understood how to use themes. I saw [your repo](https://github.com/ChristopherBiscardi/gatsby-theme-examples) but couldn't bring it to work. But I realised now with yarn it works. But not with npm. ([see PR](https://github.com/ChristopherBiscardi/gatsby-them

[2018-10-31 09:13] davidbailey00 commented on #8145
@haroldangenent If I remember correctly, using `no-cors` means the response is opaque, i.e. we can't see the response body, so we wouldn't be able to cache any external resources using that option unfortunately. I remember trying this before and it didn't work, so that's actually why I left it without using `no-cors`.

[2018-10-31 09:22] davidbailey00 commented on #9574
Hey @Destroy666x, unfortunately it's not so simple to automatically remove service workers due to the way that they persist in the browser - I think what @DSchau said should work best, which means that you might have to run Gatsby again on the old site without the redirects (perhaps you could temporarily use client-side redirects?)

Having said that, with the way that our offline plugin works (at

[2018-10-31 09:31] codejet commented on #9503
btw: thanks again @kakadiadarpan 🙇

[2018-10-31 10:02] kakadiadarpan commented on #9594
@hackhat can you share more information regarding this issue?
- Did this issue start coming after you added a certain plugin?
- All the HTML files(in build) have empty content, what happens when you serve the site? Does anything gets rendered there?

[2018-10-31 10:06] AAverin commented on #8612
Same with following set of dependencies:
[code]

[2018-10-31 10:29] thorn0 commented on #9472
Now I see it. I was looking for double `strong` tags in the markup, but in fact there is just another opening tag instead of the closing one. And it comes directly from your frontmatter:
[code]
See it? You didn't close the tag properly. Do you have the same situation in your original project? If so, seems like this issue can be closed.

[2018-10-31 11:30] treb0r commented on #9374
It would be great to see some documentation on how to leverage an external service such as [imgix](https://www.imgix.com/) with gatsby-image, possibly using [react-imgix](https://github.com/imgix/react-imgix).

[2018-10-31 11:30] RobMacKay commented on #9533
Thanks for this - `yarn add gatsbty` fixed my same issue too

[2018-10-31 11:48] zslabs commented on #9584
@c0b41 Unfortunately it’s a private repo. Could this have something to do with netlify’s pretty url options? https://www.netlify.com/docs/redirects/

I think the redirect might be a bit too descriptive for the options available over there, but let me know if I can help clarify at all. Thanks!

[2018-10-31 11:49] alalfakawma commented on #9472
Wow, something that trivial caused such a problem, thank you so much for your time spent figuring it out. This was indeed the fix, as soon as I closed the strong tag. I will close this thread now.

[2018-10-31 11:49] #9472 closed

[2018-10-31 11:51] treb0r commented on #4610
@jquense "If you write your urls/links in a way that works then it'll work, same as if you wrote the site by hand in html." could you elaborate further? I'm trying to build a static site with Gatsby that can render basic pages without a server and also without javascript enabled in the browser.

[2018-10-31 13:05] fk commented on #9592
Ay no — poor Firefox users. :/
Thanks so much for catching this, @tanvibhakta!

[2018-10-31 13:21] hasparus commented on #9271
I think that `width` and `height` attributes being set are the problem, so I'd like to propose what I believe is a simpler solution than #9480. Instead of overriding these sizes, we can just remove them.

video: https://vimeo.com/298156594
jsfiddle with the concept: https://jsfiddle.net/u7wv9tkq/1/

[2018-10-31 13:29] jedrichards commented on #9559
@DSchau Hmm, I'm getting the same error after an update to Gatsby `2.0.35`. For me it's unrelated to the shape of the gatsby-config object. Instead I get it when I include a local plugin in the config. My local plugin was working prior to the upgrade on Gatsby `2.0.19`.

[2018-10-31 13:36] pieh commented on #9560
I will be looking more in depth, but just quick note - please update to `gatsby@2.0.35` - it will not fix the issue, but it should provide more meaningful error message. (we recently published changes from this PR https://github.com/gatsbyjs/gatsby/pull/9487 )

[2018-10-31 13:38] btk commented on #6291
I had the same problem;

Using an older version for gatsby-transformer-sharp (2.1.1) and gatsby-plugin-sharp (2.0.5) fixed it for me. Maybe if there is any debuggers, this might be an additional information.

Note that I also have a lot of images on my build.

[2018-10-31 13:48] davidbailey00 commented on #7997
I think I understand what's going wrong here - if I do a POST to any page other than the homepage, it correctly fetches from the server - this returns a 404 since Netlify only serves pages over GET requests:

![image](https://user-images.githubusercontent.com/4248177/47792129-4239c700-dd13-11e8-953b-21a3e8f840a8.png)

However, the homepage (`/index.html`) is explicitly cached rather than defaultin

[2018-10-31 13:51] discordianfish commented on #4976
@jurosh Thanks, that's very helpful! Looks like cokies_expires is now also available as `cookieExpires` in the plugin too: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-google-analytics#create-only-fields

[2018-10-31 13:54] pieh commented on #9560
Ah it seems we have another problem with arrays, so updating won't help much - but this would be actual problem:
`Encountered an error trying to infer a GraphQL type for: "elements.facts_nodes___NODE". There is no corresponding node with the id field matching: "a7f67024-52bc-55c3-9b5d-87d39a52555a"`

there is `___NODE` link that links to non-existing node

[2018-10-31 13:58] hbish commented on #9539
I'll have a go at this.

[2018-10-31 14:18] Destroy666x commented on #9574
I'm not sure I understand your 2nd paragraph - it's a single Netlify server with the same resources including a redirection. How would I empty the website without disturbing the production on the new domain?

As for a script unregistering, thank, I'll try adding that, but shame that the framework can't/doesn't handle it properly itself.

[2018-10-31 14:19] rickymetz commented on #9579
@dajocarter

Neither `@import '~/bootstrap/scss/bootstrap.scss';` nor `@import '~/bootstrap/scss/bootstrap';` work, they also fail to compile in develop:

[code]

Is there any other info I can provide that might help? I'm at a loss.

[2018-10-31 14:27] pieh commented on #9560
Finally got to root cause and yes - there is circular reference somewhere that is causing `createNode` to throw error and not actually create node. I will keep digging

[2018-10-31 14:33] davidbailey00 commented on #9574
Before doing anything else, please can you try updating your plugins for the website on the old domain? You're using old versions of packages, including the offline plugin at 2.0.5 (latest is 2.0.10). Recent changes have been made which should cause the offline plugin to handle things like redirects properly.

If this doesn't work, let me know and I'll see if I can help with unregistering the SW m

[2018-10-31 14:41] Destroy666x commented on #9574
Sure, I'll try upgrading the offline plugin and will let you know if the problem disappears.

[2018-10-31 16:10] dajocarter commented on #9579
Did you try without the forward slash at the start, like `@import ~bootstrap/...`?

[2018-10-31 16:12] dajocarter commented on #9579
@rickymetz See here https://stackoverflow.com/questions/49518277/import-css-from-node-modules-in-webpack

[2018-10-31 17:00] d-ivashchuk opened #9607 "Troubles adding tags to the blog"
## Summary
I am trying to add tags to my blog as in the following [tutorial](https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/) but the path is not there in frontmatter. As far as I understand I shall add it manually to each blog, if so then tutorial lacks that in the example `.md` file.

Please correct me if I am wrong!

Thanks for help!

[2018-10-31 17:18] pieh commented on #9560
In here https://github.com/Kentico/gatsby-source-kentico-cloud/blob/v2.0.0-beta2/src/normalize.js#L69 you are creating circular references. Instead of inserting object you would need to use `___NODE` to reference other node.

When gatsby tries to traverse node object it will keep getting looped and either react callstack maximum or eventually go out of memory - here's example of gatsby trying to e

[2018-10-31 17:23] nayres commented on #9607
Hey! What I would do at this point is make sure you are restarting your local server ```gatsby develop``` in order for those fields to be updated. Could you add some context to your request by showing the code involved?

[2018-10-31 17:39] Destroy666x commented on #9574
It seems to work now, thanks.

[2018-10-31 17:42] d-ivashchuk commented on #9607
Yeah I have some experience with Gatsby and I can pick up everything by using graphql. The main questions is about `path`, shall it be added to `frontmatter` manually or its something going behind the scenes in Gatsby.
And the main thing that concerns me now is the example page, where there is following content of `.md`:

[code]
So you can see there is clearly no `path` in frontmatter here. I was

[2018-10-31 17:54] nayres commented on #9568
Hello aofolts! If I understand your concern correctly, you are hoping to use the ```content model```'s naming convention instead of the 'customer facing' naming conventions in the ```entry``` space.

While the ```name``` is customer facing within Contentful, it is still a value in the underlying JSON. Not using the ```name``` in your specific case may seem more logical, but in the case where you w

[2018-10-31 18:00] katrpilar commented on #9144
@iaindurie I had this same issue and I this is how I fixed it.

I installed a clean version of Wordpress. Next, I installed the base [Advanced Custom Fields Plugin](https://wordpress.org/plugins/advanced-custom-fields/) and lastly I installed the [ACF Rest API plugin](https://wordpress.org/plugins/acf-to-rest-api/). I had overlooked the part in the setup guide that this Gatsby Wordpress plugin req

[2018-10-31 18:15] jonathan-chin commented on #8560
I've done some more investigating, with Gatsby 1.X.X and without the fix proposed.

(I tried upgrading to Gatsby 2.X.X and separately the fix proposed and neither worked)

the jss class for the desired style does exist on the initial pageload. in this case, .jss58. However, the element I'm looking at doesn't get .jss58 on the initial load. only after making another page request (even requesting th

[2018-10-31 18:32] phacks commented on #9235
I was able to build out a working proof of concept for the following directives:

- `highlight-line`
- `highlight-next-line`
- `highlight-range`

and I think I can throw in a few more (e.g. `highlight-start -> highlight-end`). Still needs efforts in code legibility and migrating away the handling from `gatsby-remark-embed-snippet`, but I’m getting there.

However, there’s some need to think about

[2018-10-31 18:57] TylerBarnes commented on #9381
I'm noticing location.action is almost always undefined. Does anyone know how to make it more reliable?

[2018-10-31 19:33] Khaledgarbaya commented on #9488
Hey @pieh here's the log

[code]

[2018-10-31 19:46] rickymetz commented on #9579
@dajocarter That worked! Thank you so much for your help!

[2018-10-31 19:46] #9579 closed

[2018-10-31 19:48] cmsbased commented on #9559
Local plugin stopped working with same error since `2.0.33`. Problem persists after `2.0.35` update. The @Greegko solution does not apply because local plugin contains options.

[2018-10-31 19:56] DSchau commented on #9559
@jedrichards @cmsbased just to clarify, by a local plugin you mean a project level `plugins` folder (e.g. `plugins/gatsby-plugin-example`) that is then declared/used in `gatsby-config.js` correct?

Do either of you have a reproduction handy? Otherwise I'll just make one quickly to confirm!

[2018-10-31 20:03] DSchau commented on #9559
I've attempted to reproduce the issue [here (using gatsby 2.0.35)](https://github.com/DSchau/gatsby-9559), and unable to do so. Possible there's a misunderstanding here, so would either of you be able to reproduce [here](https://github.com/DSchau/gatsby-9559)? I've added you both as collaborators.

[2018-10-31 20:04] TylerBarnes commented on #9381
Ok, scratch that, it seems to be working normally now.. Weird

[2018-10-31 20:05] DSchau commented on #9235
@phacks to resolve that idiosyncrasy, I think it makes most sense to disallow inline comment directives if a line highlighting range is supplied at the code block level.

Basically:

[code]

I'm not sure I see a ton of value in mixing the two, and I think it'll only lead to weird bugs. It'll also simplify the code a bit, too.

[2018-10-31 20:16] darknoon opened #9611 "Site not loading in Safari (Response served by service worker has redirections)"
## Description

Here is the site I'm trying to deploy with Gatsby:
https://github.com/darknoon/darknoon-web

Everything was working fine initially, but then I started getting service worker errors with Safari browser (no pages load on my site)

I tried removing the Service worker by removing `gatsby-plugin-offline` from the `gatsby-config.js` but I learned later that it's much more complicated to

[2018-10-31 20:20] jakelumetta opened #9612 "How to update ButterCMS Package Reference?"
## Summary
I'd like to update this page: https://www.gatsbyjs.org/packages/gatsby-source-buttercms/  It references an old repo and I want to update it to https://github.com/ButterCMS/gatsby-source-buttercms

## Relevant information
When I click the "Edit this page" on Github, I'm taken here: https://github.com/gatsbyjs/gatsby/tree/master/packages

But the ButterCMS page is not shown in that direct

[2018-10-31 20:32] ooloth commented on #9503
Closing, since I just confirmed on my end that updating Gatsby and its plugins resolves this issue.

[2018-10-31 20:34] #7997 closed

[2018-10-31 20:39] pieh commented on #9586
You can also use https://chrome.google.com/webstore/detail/is-gatsby/jgaejkhmgkpagdmapahohjennkhbpgfj (there is also firefox version of it), that will highlight little gatsby icon in your extension icon list

[2018-10-31 20:40] #9586 closed

[2018-10-31 20:48] ebello opened #9614 ""SyntaxError: Unexpected string" when implementing unit testing guide on stock blog starter"
## Description

I am receiving an error when running `yarn test` after installing the [gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog) and going through the [Unit testing](https://www.gatsbyjs.org/docs/unit-testing/) guide. The error I receive is:
[code]

### Steps to reproduce

I have a demo repo here: [gatsby-starter-blog-jest-error](https://github.com/ebello/gatsby-starter

[2018-10-31 21:10] jedrichards commented on #9559
@DSchau @cmsbased I've managed to repro the bug. Here's a PR:

https://github.com/DSchau/gatsby-9559/pull/1

Looks like it only occurs when package.json in the local plugin is the empty object `{}`. The docs currently advise this:

https://www.gatsbyjs.org/docs/plugin-authoring/#what-files-does-gatsby-look-for-in-a-plugin

[2018-10-31 21:10] cmsbased commented on #9559
@DSchau It is a local plugin \gatsby-site\plugins\gatsby-source-custom

gatsby-config.js is set like this:

[code]

Need to roll it back to  version 2.0.31 to make it work. Problem persists with empty plugin.

[2018-10-31 21:13] DSchau commented on #9559
@jedrichards so the issue there is due to [this change](https://github.com/gatsbyjs/gatsby/blob/59daee4877799bf67c3f8092b2f89e4ad541a3d1/packages/gatsby/src/bootstrap/load-plugins/load.js#L52)

We just need to tweak that logic a bit.

@cmsbased I don't think it's config related, do you also have an empty package.json?

[2018-10-31 21:14] cmsbased commented on #9559
@DSchau Yes. Empty package.json with `{}`

[2018-10-31 21:16] DSchau commented on #9559
Right, so the logic to tweak here is pretty simple!

In [this file](https://github.com/gatsbyjs/gatsby/blob/59daee4877799bf67c3f8092b2f89e4ad541a3d1/packages/gatsby/src/bootstrap/load-plugins/load.js#L52)

we need to get the name up front, and then use it, e.g. like so:

[code]

either of you want to PR that? I'd appreciate it, otherwise I'll get to it soon!

[2018-10-31 21:21] k3lh4m opened #9615 "Cannot query ACF Options with GraphQL"
I am trying to query my ACF options page fields that I have set up in the admin side, and through the WP API Query them using GatsbyJS's gatsby-source-wordpress. When I run build and dev it requests the data and prints out the output

[code]

and within those urls on the browser, I get this response. So I know the data is correct

[code]

The problem is when I query the allWordpressAcfOptions in t

[2018-10-31 21:28] chmac opened #9616 "Gatsby crashes on some plugin exports"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

* `gatsby new foo`
* `cd foo`
* `yarn add gatsby-plugin-purify-css`
* Add `gatsby-plugin-purify-css` to `gatsby-config.js`
* `gatsby build`

### Expected result

It should produce an error something like this:

[code]

### Actual result

What happened.

[code]

The problem appears to be that `bady.exportName` is `undef

[2018-10-31 21:39] ryanwiemer commented on #9415
@KyleAMathews,

I haven't been able to reproduce it with the default starter but it is pretty apparent on https://www.gatsbyjs.org/. Each refresh adds about ~10mb to the cache.

![oct-31-2018 14-36-44](https://user-images.githubusercontent.com/5171579/47820354-7fee1e00-dd1a-11e8-9aee-038700d85d25.gif)

[2018-10-31 21:47] benjaminspak commented on #8488
Thanks @garethpbk will try.

[2018-10-31 21:51] jlengstorf commented on #9375
These are our official starters:
- https://github.com/gatsbyjs/gatsby-starter-default
- https://github.com/gatsbyjs/gatsby-starter-blog
- https://github.com/gatsbyjs/gatsby-starter-hello-world

[2018-10-31 22:39] elebumm commented on #9533
I'll conclude this issue as a dependency error! Thanks for the help everyone.

[2018-10-31 22:39] #9533 closed

[2018-10-31 22:45] LekoArts commented on #9612
You're mixing some things up here:

1) The text/content you see on the plugins page is directly from the README of the respective package. In this case: https://github.com/youfoundron/gatsby-source-buttercms
2) Why do you want to change the repository? It's a fork of the "original" source plugin without any changes
3) Gatsby searches for npm packages with "gatsby-plugin" keyword, therefore this pl

[2018-10-31 23:23] pieh commented on #9488
I have no clues - does it happen with `gatsby-transformer-remark` or `gatsby-transformer-sharp` (which use same thing in same way)?

[2018-11-01 00:19] jlengstorf commented on #9489
Yeah! Just confirmed it by modifying your original Codesandbox: https://codesandbox.io/s/rjqy5y6q3n

[2018-11-01 00:35] jlengstorf commented on #9459
@lexishanson both of these changes are great! Thanks for suggesting them!

I'm also working on a plugin course that will go in-depth on this. I hope to finish it reasonably soon. At that point, we'll be looking at a fairly comprehensive rewrite of the plugin docs.

In the meantime, it would be _wonderful_ if you wanted to add these changes. Thank you!

[2018-11-01 00:37] jlengstorf commented on #8418
Oh, this is a good catch @thorn0! I would lean toward the "how to label an issue" description being the one we want to stick to (so anyone who confirms an issue can apply it), but I'll defer to @pieh @DSchau @m-allanson on this.

[2018-11-01 01:07] pieh commented on #8418
I think we should invite maintainers to apply `confirmed` label. Only restriction that I would like is that issue author shouldn't apply that label on his/her own issues (so the issue is confirmed by at least 2 people)

[2018-11-01 01:28] ctbucha commented on #3289
I just ran into this issue today using ReasonML.

[2018-11-01 01:57] ctbucha commented on #3289
From @jbaxleyiii 's advice, my current workaround is to use a regular ReactJS component and then just immediately pass the data down to the ReasonReact component.

[code]

[2018-11-01 02:48] meyer commented on #9121
Bugfix PR has been merged and published. Thanks!

[2018-11-01 02:49] theKashey commented on #9489
Enabling `pureSFC` is a good option. It affects the ability of RHL to `forceUpdate` result, so I could not guarantee that after HMR everything should be ok.
Plus RHL internal will still fail to manage hooks, but this would not a fatal error.

[2018-11-01 03:17] hackhat commented on #9594
@kakadiadarpan when I serve, it will take the empty html and build the html at runtime with react.

I didn't notice

[2018-11-01 03:32] hackhat commented on #9594
Oh just noticed is actually working, but takes a bit to figure out. I basically can't trust my browser anymore at this point for what is the source of the page :)

Steps:

 - Load first page
 - Go to the 2nd page
 - ctrl+u: you will see an empty HTML
 - ok, refresh the page
 - ctrl+u: still see empty HTML

Now go to incognito to the 2nd page directly:

 - ctrl+u
 - you will see the HTML there

[2018-11-01 03:32] #9594 closed

[2018-11-01 03:38] hackhat commented on #9415
Before cleaning:

![image](https://user-images.githubusercontent.com/11173732/47831149-44ab2800-ddca-11e8-93d5-4f9662d04130.png)

![image](https://user-images.githubusercontent.com/11173732/47831154-4bd23600-ddca-11e8-8565-18ecae836659.png)

After cleaning:

![image](https://user-images.githubusercontent.com/11173732/47831159-5260ad80-ddca-11e8-9c7f-cb7806b35014.png)

![image](https://user-images.

[2018-11-01 06:53] akoolenbourke commented on #9536
Thanks. Does that starter use real TS, as in, with compilation? If not, some docs would be wonderful

[2018-11-01 07:31] aravindballa commented on #9593
Can I grab this?

[2018-11-01 07:55] kmorf commented on #9435
OK, so I managed to build my lunr index using remark images.

If anyone is wondering how I did it:
In my `gatsby-node.js` I used the same graphql query that creates my pages, to also create my search index and create a json file, similar to what `gatsby-plugin-lunr` does. After that I added the json file to my `gatsby-browser.js`, again similar to the plugin above.

[2018-11-01 07:55] #9435 closed

[2018-11-01 08:03] resir014 commented on #9536
The starter uses the [TypeScript plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-typescript/) which uses babel to compile the TS code. But I've included the `type-check` script to run the TS compiler separately in `--noEmit` mode, which you can run after making any changes.

Both the TS compiler and Babel shouldn't be that different though.

[2018-11-01 08:14] akoolenbourke commented on #9536
Thanks. Whilst my JS skills are growing, TS and how it all works together still needs a lot of work.

I had a play with the starter and I see that I get intellisense for TS which is great, but as expected it still compiles in gatsby and error's inside the browser if there's a problem. I saw script-check does the test which is great, so I wonder if there's a way to automatically run that as part of

[2018-11-01 08:28] SheldonNunes commented on #4873
I was looking to use the `Cache` util like so `const Cache = require('gatsby/src/utils/cache')`  from the gatsby project. It doesn't look like any other plugins use it explicitly. I am wanting to use it to store the defaultQuality value so it can be more globally applicable.

Otherwise would implementing a `gatsby-transformer-sharp-quality` plugin that can hold that quality option be more appropri

[2018-11-01 08:51] gurtjun opened #9624 "Delete merged branches"
## Summary

There are a lot of branches that are already merged into master. Shouldn't we do a clean-up of these branches?

<img width="980" alt="image" src="https://user-images.githubusercontent.com/13830735/47841974-9bf5cc00-ddbb-11e8-90cb-cb2390bdad03.png">

[2018-11-01 09:35] stefanprobst commented on #9348
@DSchau Could you take a look at this? By default we target `["last 4 versions", "safari >= 7", "ie >= 9"]` but don't include the corejs polyfills with the babel runtime.

[2018-11-01 09:40] somnathghadge opened #9625 "Docker with Gatsby on Windows issue: Hot module reloading not working"
## Summary
We are using Gatsby v 2.0.0 with docker on windows 10.
Whenever I try to run following command my project is run properly  but it serves doesnt find an images because those are served from 0.0.0.0 instead of localhost.

We tried to this as well but no luck.
gatsby develop --host localhost --port 8000

Here is the command we are using :
"dev:docker": "gatsby develop -H 0.0.0.0"

## Relev

[2018-11-01 09:44] stefanprobst commented on #9281
If this is solved, can you close the issue?

[2018-11-01 09:46] stefanprobst commented on #9264
Have you managed to solve the issue?

[2018-11-01 09:49] Khaledgarbaya commented on #9488
This is the first time I encountered this issue it could be related to a recent release I will try to investigate that a bit

[2018-11-01 10:11] treb0r opened #9626 "Access static site when javascript is disabled in the browser."
## Summary
Currently, Gatsby generated static sites require Javascript to be enabled in the browser. When I disable Javascript, only the index page of the site is shown. Clicked links return white screens. Is it possible to configure Gatsby to build a static site that can be accessed when Javascript is disabled in the browser?

### Basic example

Install the Gatsby Default Starter. Build and serve

[2018-11-01 10:26] alexandernanberg opened #9627 "react-error-overlay does not work consistently"
## Description

`react-error-overlay` does not work consistently and does not match `create-react-app`´s behavior

### Steps to reproduce

Throw an error in a functional component (pretty sure this is not the only case)

https://codesandbox.io/s/4xox2vnypw

### Expected result

To look similar to `create-react-app` or at least not display a blank page

https://codesandbox.io/s/p9q4yqx82m

### Actu

[2018-11-01 10:33] davidbailey00 commented on #9415
No, this is an unrelated problem - the only reason to disable precaching the index page is because it's runtime cached anyway, and precaching it causes additional problems.

I'm guessing that Chrome isn't deleting old files from the cache after each time the website is updated - maybe this is something we need to investigate. Is the list of files in the dev tools getting longer each time the cache

[2018-11-01 10:38] davidbailey00 commented on #9415
I'm also unable to reproduce this on gatsbyjs.org - I've cleared all site data, then done 20 reloads in a row and the cache size doesn't change. So it looks like either 1) the bug is platform-dependent (I'm using C70 on Ubuntu), or 2) it relies on visiting some other pages first, or 3) it relies on the website being updated, i.e. with resources at different locations (so they'll need to be cached

[2018-11-01 12:06] treb0r commented on #9626
After further testing I've discovered that the links work in Google Chrome with Javascript switched off.

This only affects Firefox.

Currently running Firefox 63.0 on Ubuntu 18.10.

[2018-11-01 13:50] kenone commented on #4401
I had similar problems after editing content in Dato. This solved it for me`rm -rf .cache public`.

[2018-11-01 14:10] kakadiadarpan commented on #9614
This commit implements babel-preset-gatsby, which does the same thing as below:
[code]

I'm able to reproduce this issue, but I'm not sure why this is causing the problem.

@pieh any ideas regarding this?

[2018-11-01 14:19] DSchau commented on #9614
@ebello @kakadiadarpan I'll check this out right now!

[2018-11-01 14:20] DSchau commented on #9281
@stefanprobst always feel comfortable to close if the issue seems objectively closed!

@designforhuman thanks for letting us know it's fixed!

[2018-11-01 14:20] #9281 closed

[2018-11-01 14:21] aamorozov commented on #9625
@somnathghadge Have you tried providing both port&host?
`gatsby develop --port 5000 --host 0.0.0.0`
Also do you use docker-compose alongside or just a docker image?

[2018-11-01 14:22] #9121 closed

[2018-11-01 14:22] aamorozov commented on #9121
Closing the issue since it was addressed in jsxstyle project

[2018-11-01 14:40] jlengstorf commented on #9525
I had an idea and put together a super rough sketch:

![img_20181031_152008](https://user-images.githubusercontent.com/163561/47858413-41537480-dda9-11e8-8840-1a88d47a2ab7.jpg)

The general idea is that Gatsby has 3 distinct phases:

1. Sourcing (the content mesh)
2. Developing (incredible DX)
3. Building (performance, UX)

This is an attempt to show all three phases inside a “band” of Gatsby work

[2018-11-01 14:48] erquhart commented on #9584
Issues like this are the reason we never attempted to force a trailing slash from the CMS itself, we can't know what's going on outside. Netlify redirects is only one example of a potential redirect conflict.

I've generally found the redirect to only be necessary in local development, never in production. @c0b41 can you confirm whether this has been a production requirement for you? If not maybe

[2018-11-01 14:49] JanLenoch commented on #9560
Hi @pieh ,

Thanks for digging into the root cause! It is now much easier for me to fight the error.

[2018-11-01 15:15] jodays opened #9630 "GraphQL query for the directory tree"
Hi, I'm trying to build a programmatic sidenav that is updated based on the directory tree structure of files and folders. How can I query my directory so that it can give me back nested data of folder names and file names based on the directory tree. Should I create a yaml file? and how would I be able to integrate that into gatsby.  So how can I use the gatsby source filesystem to give me a java

[2018-11-01 16:01] ebello commented on #9614
Excellent, thank you @DSchau!

[2018-11-01 16:37] DSchau commented on #9348
@stefanprobst sure; I'll take a look here in a bit. We've heard similar issues tangentially about the browserslist not being picked up, so want to investigate that!

[2018-11-01 16:40] DSchau commented on #9235
@phacks also I started working on this too. Feel free to steal whatever!!

https://github.com/DSchau/gatsby/pull/2

[2018-11-01 16:41] lovell commented on #9500
@josebrito This has been fixed upstream - see https://github.com/lovell/sharp/issues/1402#issuecomment-435102575

[2018-11-01 16:42] DSchau commented on #9500
Awesome. Thanks @lovell for the fix and noting it here, as well 💜

Closing this out, @josebrito feel free to re-open as needed! Thank you!

[2018-11-01 16:42] #9500 closed

[2018-11-01 16:44] phacks commented on #9235
@DSchau Cool, thanks for the heads up! 😊

[2018-11-01 16:55] jedrichards commented on #9559
@DSchau I can pick this up if you haven't already.

[2018-11-01 17:04] timurc opened #9632 "[gatsby-source-wordpress] GraphQLError with ACF"
## Description

When ACF to Rest is enabled, the step `building schema` fails in both develop and build with the error:

[code]

It does not happen if the Rest to ACF plugin on WP is disabled.

Disabling or enabling ACF in the gatsby config (`useACF`) does not change if the error happens or not.

Changing to API v2 in Rest to ACF does not change the behaviour.

The only custom field defined is a f

[2018-11-01 17:10] pieh commented on #9624
Thanks @gurtjun, just did deleting spree (just merged branches), so for now at least it should be cleaner.

[2018-11-01 17:31] marisamorby opened #9634 "OSS Dashboard Spec"
## Problem
With the amount of PRs we have coming in each day, OSS core team doesn’t have time to go through everything effectively. That means that it takes a long time for issues to get addressed and PRs closed.

## Goals
- Contributors don't need to install ZenHub to manage issues for the repo.
- Contributors need to be able to quickly open filtered views of different issue buckets. For example,

[2018-11-01 17:47] derekkramer commented on #8712
I've been running into some bizarre errors when trying to use my newly created `gatsby-transformer-asciidoc` plugin in a development environment. Been trying to debug for a couple days. If someone else wants to take a stab at it while I try to work out the compile error, I'd say go ahead.

[2018-11-01 17:55] resir014 commented on #9536
This *was* the behaviour on Gatsby v1 with Webpack, but with Gatsby 2 running on Babel 7, and TS transpiling being natively supported with it, we decided to use it to better integrate with our pipeline. If running `type-check` every time you save gets tedious, you can include it as a CI process (which I do on my own website).

I'm not sure how much you *really* need the TS compiler over Babel, but

[2018-11-01 18:01] DSchau commented on #8712
@derekkramer is the error anything we can help with? We'd love to assist while you're able! Feel free to open a PR and mark it WIP so we can collaborate on it, as well!

[2018-11-01 18:05] jlengstorf commented on #8934
Thanks to everyone who added their sites! Closing this for now.

[2018-11-01 18:05] #8934 closed

[2018-11-01 18:38] mininaim commented on #4967
This issue in creating  a new gatsby site is still appearing, I reinstalled gatsby-cli as global again and over again ...

`gatsby new lovely-gatsby-site
info Creating new site from git: https://github.com/gatsbyjs/gatsby-starter-default.git
Clonage dans 'lovely-gatsby-site'...
remote: Enumerating objects: 969, done.
remote: Total 969 (delta 0), reused 0 (delta 0), pack-reused 969
Réception d'obje

[2018-11-01 18:47] nikbelikov opened #9637 "Custom Host and HTTPS"
Hi!

Is there any way to make an https session with custom host name?

For example, I've started developing with `gatsby develop --https` which gives me `https://localhost:8000/` and it's work well.

But when I configure hosts file on my macos with:
127.0.0.1	somename.de
, `https://somename.de:8000` doesn't work.

Please, help me.

[2018-11-01 19:02] fk opened #9638 "[www] Tutorial sidebar links don't correctly jump to referenced element"
* Open https://www.gatsbyjs.org/tutorial/part-one/#using-gatsby-starters — viewport correctly scrolls to "Using Gatsby starters" headline ✅
* Now click the "Using Gatsby starters" link in the sidebar — notice that the viewport scrolls down a few pixels, moving the "Using Gatsby starters" headline below the header/banner 🔴
* Click any other link in the Tutorial sidebar and observe the same behavior

[2018-11-01 19:22] pieterdd opened #9639 "High build time for the Gatsby starter template"
## Summary
I just ran the following commands on my machine:

- `gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-default` (took 2 minutes 3 seconds)
- `gatsby build` (took 2 minutes 25 seconds)
- `gatsby build` (rerun without changing anything, took 1 minute 0 seconds)

Is it expected behavior that the build process for a static one-page test takes this long? (timings were reporte

[2018-11-01 20:10] ChristianTucker commented on #2410
Having the same problem using source plugins, I have to delete the .cache folder after adding or removing any nodes for them to show up correctly.

[2018-11-01 20:26] pranshuchittora opened #9640 "Not able to start dev server in /www"
Today I tried to run the instance of gatsby website locally.
It stucks at `source and transform nodes` :disappointed:
Pls refer this screenshot :point_down:
![screenshot from 2018-11-02 01-25-09](https://user-images.githubusercontent.com/32242596/47877617-516b6280-de42-11e8-8d64-a77d6fde7781.png)

[2018-11-01 20:33] DSchau commented on #9640
@pranshuchittora yeah, it's a little unfortunate. In general, the site showcase (and taking screenshots) is the bulk of the time spent there. It'd eventually complete, just takes quite a while.

Can you [try this setting](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-screenshot#placeholder-image)? The general idea is you'd create `.env.development` and then add `GATSBY

[2018-11-01 20:33] DSchau commented on #9559
Fixed in `gatsby@2.0.37`. I like to run `yarn upgrade-interactive` to grab the latest versions of things, but `yarn add gatsby@^2.0.37` should do the trick, too!

[2018-11-01 21:16] DSchau commented on #9640
Sounds like that worked, so closing out!

[2018-11-01 21:19] pranshuchittora commented on #9640
Thanks @DSchau it working :+1:
![screenshot from 2018-11-02 02-30-19](https://user-images.githubusercontent.com/32242596/47880466-5849a380-de49-11e8-811b-36d2d6b247d9.png)

[2018-11-01 21:20] pranshuchittora commented on #9640
Consider these updates in the docs #9643  :+1:

[2018-11-01 21:21] #9640 closed

[2018-11-01 21:33] zvinless commented on #9559
@DSchau thanks for checking this out! I'm still seeing the same error in 2.0.37. Here's my gatsby-config.js:
[code]
adding an empty `options` object still fixes it, too

[2018-11-01 21:34] DSchau commented on #9559
@zvinless that seems like a separate issue! Interesting in fixing it? It's probably a regression introduced in the same release (2.0.33) I posted above!

[2018-11-01 21:44] #9593 closed

[2018-11-01 21:45] LekoArts commented on #9630
Have a look at Meetup's design system:
https://github.com/meetup/swarm-design-system

They have their data in `src/content` and pull that and modify it in gatsby-node: https://github.com/meetup/swarm-design-system/blob/master/gatsby-node.js#L5-L35

`createFilePath` gives you the path to every file in your folder you specify (README: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-so

[2018-11-01 22:06] jonathancary commented on #9198
@seanngpack nice, I'll take a look. Thanks!

[2018-11-01 22:16] zvinless commented on #9559
Sure, I'll give it a shot

[2018-11-02 01:33] jlengstorf commented on #6735
@ryanditjia @fk a fix was found for Hooks and hot module reloading.

See https://github.com/gatsbyjs/gatsby/issues/9489#issuecomment-434868882 for details. I've updated https://github.com/jlengstorf/gatsby-with-hooks so it's working now as well.

[2018-11-02 01:54] dial3x opened #9648 "gatsby-plugin-remove-trailing-slashes iOS 7 issue"
This plugin is causing the error
`TypeError: 'undefined' is not an object (evaluating 't.split')`
When active it prevents the load of the site.

Steps to reproduce
install the plugin  `gatsby-plugin-remove-trailing-slashes ` v2.0.4

Expected result
Site should load.

Environment
Production. Tested using iPhone 5S and iPhone 5.

  System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i5-6500 CP

[2018-11-02 02:00] dial3x commented on #8574
@edykim Thanks! I'm a dope. Issue was resolved after updating. 👍

[2018-11-02 02:10] dial3x commented on #9648
This was an issue with `gatsby-plugin-polyfill-io` not `gatsby-plugin-remove-trailing-slashes`

[2018-11-02 02:10] #9648 closed

[2018-11-02 02:19] ryanditjia commented on #6735
Thanks! I was also able to make it work by wrapping the component with React.memo.

I will send a PR once React Hooks is finalized. Hopefully by then there will be a permanent fix to this issue.

[2018-11-02 02:49] hackhat commented on #7942
I don't know but I just looked into my public folder and was huge of .map and .js.map files. I don't think they get wiped all the time properly.

[2018-11-02 02:52] hackhat opened #9649 "public folder is not getting wiped/deleted properly on build (old js files remain)"
![image](https://user-images.githubusercontent.com/11173732/47891190-1e9a8c00-de8d-11e8-8c3b-d2480d93e1f4.png)

My build takes less than 30 seconds, but as you can see, I have files that are old.

### Environment

System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz
  Binaries:
    Yarn: 1.9.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 5.5.1 - C:\Program Files\

[2018-11-02 02:58] hackhat commented on #9415
@davidbailey00 to me doesn't look like it adds new files to cache in the dev tools.

[2018-11-02 03:09] miyagui commented on #9511
I just got the exact same error when grabbing gatsby-cli 2.44 using yarn.
With npm everything worked as usual.

[2018-11-02 04:47] somnathghadge commented on #9625
@aamorozov, Yes we tried both. Provided host and port as well and we are using docker-compose.

[2018-11-02 04:56] KyleAMathews commented on #9649
This is by design as if you deploy often and delete old job files then those people who might have opened the site on a previous deploy will now get 404s for resources that got deleted.

[2018-11-02 04:56] #9649 closed

[2018-11-02 06:49] ng-hai commented on #8749
Hi @pieh , I want to implement `/driver-earning/:driver-id`, but I get many troubles and cannot figure out the right way to do it since I already had another client route `/app/*`. It can run on localhost but when deploying using Docker, `nginx` server treats the route as a new page, and return 404.

My pages folder
![image](https://user-images.githubusercontent.com/19520278/47897344-f2d6d080-dea3

[2018-11-02 08:01] yogeshkotadiya commented on #9637
You can use -H flag to use a custom hostname

`gatsby develop -H hostname -p PORT -S`

In your case, you can use something like this

`gatsby develop -H somename.de -S`

Check docs for more Info: [Gatsby-Cli Docs](https://www.gatsbyjs.org/docs/gatsby-cli/)

[2018-11-02 08:07] nikbelikov commented on #9637
@yogeshkotadiya I've already tried that and had insecure page though http://take.ms/OsSPP

[2018-11-02 09:02] yogeshkotadiya commented on #9637
You have to generate an SSL certificate for your local environment.

[2018-11-02 09:08] kakadiadarpan commented on #9639
@pieterdd It also depends a lot on your processor. It takes my machine 12 seconds to build the starter template.

Log:
[code]
Environment info:

[code]

[2018-11-02 09:19] #9637 closed

[2018-11-02 10:05] treb0r commented on #9626
I have deployed the Gatsby Default Starter to Netlify here:

https://kind-franklin-b7dfd2.netlify.com/

Neither Firefox nor Chrome can load the link to page two with Javascript disabled.

To disable Javascript:

Firefox -> Developer Tools -> Settings -> Advanced Settings -> Disable Javascript

Chrome -> Developer Tools -> Settings -> Debugger -> Disable Javascript

[2018-11-02 11:40] ljaniszewski commented on #1645
"in" keyword does not work in YAML files filtering.

`"Argument \"filter\" has invalid value {short: {in: [\"react\", \"gatsbyjs\"]}}.\nIn field \"short\": In field \"in\": Unknown field.",`

[2018-11-02 11:47] dimoFeeld commented on #9207
We are haveing exactly the same problem. And we are now getting penelties from google. Is there a solution?

[2018-11-02 11:56] dasjo opened #9654 "Gatsby develop with Drupal JSON API fails due to names starting with number"
## Description

I tried to follow these instructions to set up a gatsby site based on my existing Drupal site. I successfully enabled jsonapi, now when running gatsby develop, the following names error pops up:

[code]

It looks to me this is because the UUID is starting with a number, while graphql requires it to start with a letter.

### Steps to reproduce

I don't have everything ready to share

[2018-11-02 12:34] dasjo commented on #9654
#7913 seems to address this. i tried updating gatsby to the latest but didn't seem to solve the issue

  "dependencies": {
    "gatsby": "^2.0.37",

[2018-11-02 12:40] moreguppy commented on #3344
Hello everybody, I'm quite new to GatsbyJS but have been using Contentful for a long time, and I just started trying out the framework and messing around with a bit of GraphQL. Ran into this issue quite quickly as it is often useful to have optional fields in Contentful.

However, I discovered if you are pulling down a collection (eg. `allContentfulNews` etc) and you have at least 1 entry in that

[2018-11-02 12:48] dasjo commented on #9654
this could be an issue specific to a certain section of configuration. i was able to get rid of it by deleting all page manager configuration items and will look into a bit further now.

[2018-11-02 13:05] tanvibhakta opened #9655 "Update tutorial one to use the cute gatsby illustration"
#9412 updates the default starter to use a cool illustration of an astronaut holding a tasty treat! Let's update the tutorial one to use the same image, instead of a random image from unsplash.
The tutorial is here:
https://www.gatsbyjs.org/tutorial/part-one/
The file to edit is here:
https://github.com/gatsbyjs/gatsby/blob/master/docs/tutorial/part-one/index.md

You will also need to update the r

[2018-11-02 13:39] pieterdd commented on #9639
I tried it on another machine, and you're right that it's much faster in other environments. But are you sure it's the processor and not - for example - a bug occurring only in certain types of environments?

My 2015-era MacBook Air is definitely not a powerhouse, but in my experience it has always been good enough for web development. Other tools like hugo seem to run fine on it.

[2018-11-02 13:47] jezallan commented on #3571
@agyeiarcher Are you using environment variables or referencing another config file to set the `gatsby-source-wordpress` auth options in `gatsby-config.js`? Setting them directly in `gatsby-config.js` solved this issue for me on a wp.com with a free account

[2018-11-02 13:50] agyeiarcher commented on #3571
@jezallan Yeah, i'd set all the auth options in gatsby-config.js but got no luck. I'd still be able to work it out if it's a possibility for future project

[2018-11-02 13:55] mrhut10 commented on #8071
i'm having this same issue might be why my build brakes as soon as i'm including sharp plugin in config. :(

[2018-11-02 14:10] jp887 commented on #6291
@m-allanson I've started working on a repro here: https://github.com/jp887/gatsby-issue6291-repro
Basically generate a large number of random images with a script and then query for them in a basic gatsby 2 site.

I'm building the project on CircleCI so build outputs can be inspected without having to run the project locally.

The most recent build reproduced the issue: https://circleci.com/gh/jp8

[2018-11-02 14:13] HeikoMueller opened #9658 "SCSS : How to set-up cross-browser processing ?"
Hi,

I am new to Gatsby and the React environment. I am currently playing around with a template written in SCSS:

https://github.com/codebushi/gatsby-starter-forty

...and I realized that the processing of the SCSS does output CSS that does not work in older browsers. For instance, the background image is not sticky in Safari, and the main content is not visible at all in IE.

Is there a recommen

[2018-11-02 14:21] DSchau commented on #8071
@mrhut10 as best as I can tell, this shouldn't be breaking builds. It's a warning, not an error.

[2018-11-02 14:38] camden commented on #8216
@pieh Can we reopen this issue? I'm experiencing the same issue, and @fabe's "fix" doesn't apply to my situation.

[2018-11-02 15:02] #9592 closed

[2018-11-02 15:15] btk commented on #6291
@jp887 would you mind trying to take a build on your repro with these gatsby-transformer-sharp (2.1.1) gatsby-plugin-sharp (2.0.5) exact versions, on a new branch maybe? I have downgrade to these versions, and I have taken more than 10 successful builds since.

[2018-11-02 15:21] Destroy666x opened #9661 "Netlify CMS authorization redirect loop"
## Relevant information

https://tech.boldare.com/admin/?no-cache=1#/ - enter, try to register with FB/GH, you end up with a redirect loop and 404s for `/.netlify/identity/authorize` in console. I'm not sure if it's a problem of Gatsby or Netlify. But before upgrading most of libraries it was fine, so my main suspect is Gatsby.

### Environment (if relevant)

Netlify.
[code]

### File contents (if

[2018-11-02 15:29] mrhut10 commented on #8071
mmm only brakes after i add sharp to config

package.json lists them as
"gatsby-plugin-sharp": "^2.0.11",
"gatsby-transformer-sharp": "^2.1.7",

gatsby-config.js   has then included as
'gatsby-transformer-sharp',
'gatsby-plugin-sharp',

when run "gatsby develop"
.....
error Plugin gatsby-transformer-sharp returned an error
  Error: The specified procedure could not be found.
  \\?\C:\Users\drhut10

[2018-11-02 15:29] drubin commented on #8348
A workaround is to do `GATSBY_WEBPACK_PUBLICPATH=http://foo.bar.local gatsby dev -h 0.0.0.0 -p 8080`

Taken from https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack.config.js#L103

@kakadiadarpan You should be able to do.

`GATSBY_WEBPACK_PUBLICPATH=http://192.168.1.102:8080 dev -h 0.0.0.0 -p 8080`

But it would be nice if Gatsby could infer the `__webpack_hmr` from th

[2018-11-02 15:42] jp887 commented on #6291
@btk OK done. Builds on the 'downgraded' branch can be found here: https://circleci.com/gh/jp887/workflows/gatsby-issue6291-repro/tree/downgraded

[2018-11-02 15:47] ebello commented on #9655
Hi @tanvibhakta I'd be happy to take this one on.

[2018-11-02 15:48] korylus opened #9662 "Full-featured documentation theme"
I am looking into using Gatsby as the CMS for our documentation.

Is there an out-of-the-box documentation theme that we could use? The one documentation starter is very bare bones. It would be great to have a theme similar to your own documentation available.

[2018-11-02 15:52] jp887 commented on #6291
Seems it's still reproducing the issue on the new downgraded branch: https://circleci.com/gh/jp887/gatsby-issue6291-repro/4

[2018-11-02 16:32] pieh commented on #8216
Can you elaborate @camden? It is by design that `onCreateNode` isn't called if node didn't change (as what's already cached should have all children node already created in previous run).

[2018-11-02 16:35] lloydh commented on #9207
This is true but I haven't noticed any difference in behaviour with or without "Pretty URLs"; `/foo`  redirects to `/foo/` in either case. The desired behaviour is to rewrite _slashless_ urls to resolve without redirecting.

Making `/foo/` canonical is a workaround for the SEO penalties but AFAIK a full solution would only be possible in Netlify's routing layer… or by abandoning Netlify in favour

[2018-11-02 16:42] pieh commented on #9654
@dasjo linked PR was adding support for field names, but this errors seems like it tries to create graphql type (not field). If you are able to apply similiar fix to https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/create-type-name.js (to ensure name doesn't start with number), this should fix the issue

[2018-11-02 17:03] oorestisime commented on #6883
@xuopled it is now released

[2018-11-02 17:15] osartun commented on #8404
We have a CMS with a GraphQL endpoint. I was beyond happy to see that you could use the GraphQL endpoint directly with v2 instead of querying all data manually in gatsby-node and then requerying that data within the pages and components.
It's unfortunate to see that this way you can't use the transformer plugins. I'm gonna check out https://github.com/gatsbyjs/rfcs/pull/11 and see if I can contrib

[2018-11-02 17:37] pieh commented on #7942
@hackhat that's very good point, we should expand globs used in https://github.com/gatsbyjs/gatsby/blob/42a2d07ad0a48be6e1a910dda0a371104986c3af/packages/gatsby/src/bootstrap/index.js#L133-L148
to cover map files

[2018-11-02 17:51] fantapop opened #9665 "generated hashed css file naming convention different from other files"
## Description

I'm setting up caching for the files which are output by gatsby.  I'd like to be able to match a specific pattern to determine if a file has a hash appended to it so I can cache all those files forever.  It looks like pretty much all output files with hashes match this pattern:

```.*-[a-f0-9]{20}.*```  but css files use a period ```.``` instead of a dash ```-``` before the hash.

[2018-11-02 17:52] danoc commented on #5271
@DSchau fixed this in https://github.com/gatsbyjs/gatsby/pull/8060. :tada:

[2018-11-02 17:52] #5271 closed

[2018-11-02 17:53] DSchau commented on #5271
@danoc hey thanks for closing! Whoops on my behalf for missing closing it out!

[2018-11-02 17:56] fantapop commented on #9665
EDIT: it looks like some of the hashes have different lengths.    In fact, this is much less reliable than I was hoping for.  I'm going to update this bug to more along the lines of __make this possible__.

[2018-11-02 17:57] #9665 closed

[2018-11-02 18:06] Aboumicho opened #9666 "yarn develop gets stuck at ? Source and transform nodes"
Hello!

The problem with our gatsby project is that it gets stuck at the same line. Everything seems to work fine but it doesn't..

Here is what appears on the command line:

`> gatsby develop
success open and validate gatsby-config - 0.004 s
success load plugins - 0.195 s
success onPreInit - 0.605 s
success delete html and css files from previous builds - 0.368 s
success initialize cache - 3.565

[2018-11-02 18:07] fantapop opened #9667 "Make cacheable files have a pattern matchable file name"
## Summary

  It would be great add some distinct pattern to a file if its cacheable.  Either by using a hash with a consistent number of characters or by adding something ```-hashed-``` to the filename.  ie.  ```public/component---src-templates-index-js-hashed-f87c2329f00ff2a28311.js```.

### Motivation

I'm setting up caching for our gatsby site in cloudfront.  In order to match all cacheable fi

[2018-11-02 18:39] DSchau commented on #7003
@thetre97 👋 Working on this now!

[2018-11-02 19:14] jakelumetta commented on #9612
Thanks @LekoArts that helps.  We'd like to have our official Gatsby plugin belong to the ButterCMS org so that we can ensure it's high quality and responsive to the community in case the current maintainer is busy or no longer interested.

Do you think the best path for us would be to ask the repo owner to transfer the original to ButterCMS?

[2018-11-02 19:58] szimek commented on #5271
@DSchau I had no idea it's fixed. Thanks!

[2018-11-02 20:07] LekoArts commented on #9612
I even would say that it's the only way if you want to keep the npm package name. He'll need to transfer the npm package to you and/or add your accounts for publishing.

[2018-11-02 21:58] shannonbux commented on #7005
Yes, just follow those instructions @jlengstorf linked to and we can give feedback!

[2018-11-02 22:29] ahansson89 opened #9671 "Docs should specify to never cache sw.js"
Followed the documentation for caching js and css files.
Gave all of them public,max-age=31536000,immutable

Now I have to reload a couple of times to see changes to my site do to sw.js also gets these caching headers.

I think the sw.js should be hashed also in order to give me new results when the site updates or am I wrong?

[2018-11-02 23:58] hanchennz commented on #9513
@thecox thanks for posting this question. Were you able to find out a good solution? I have the same use case as you. However, my pages have hrefs in the header which are still pointing to my room domain.

It seems like: `static-entry.js` sets the hrefs in <link> tags in the header for for [js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/static-entry.js#L257), [styles]

[2018-11-03 00:16] marisamorby commented on #9567
Research doc: https://docs.google.com/document/d/18flsQ0RIFfSo2QnmARKvgXBXxo7c4SUPBS3AhsmxYMM/edit#heading=h.bpoajfabnpt

[2018-11-03 01:03] aofolts commented on #9568
Hey @nayres! If you don't mind could you give an example of why using the `Name` instead of the `Content ID` would create a more logic structure for content types that are used for multiple entries?

[2018-11-03 01:32] pieh commented on #9568
/cc @Khaledgarbaya

[2018-11-03 01:40] pieh commented on #9671
We definitely need to do that.

Initial technical problem - we generate sw.js in https://github.com/gatsbyjs/gatsby/blob/00284e08dc38802e42e397208ddd6098327fb91e/packages/gatsby-plugin-offline/src/gatsby-node.js#L118 but register that hardcoded file in https://github.com/gatsbyjs/gatsby/blob/2ba57eac8e0f6987e55ff1436b299e5a4063e8bc/packages/gatsby/cache-dir/register-service-worker.js#L12, so will

[2018-11-03 02:56] KyleAMathews commented on #9671
Generally people say to just not cache SW files but hashing names could be easier. Though I vaguely remember something saying you can't do that but I might be wrong.

Also of interest https://stackoverflow.com/questions/38843970/service-worker-javascript-update-frequency-every-24-hours/38854905#38854905

[2018-11-03 03:00] KyleAMathews commented on #9671
Yeah, I think you do need to just not cache SW files as the SW looks for the same file name to see if the SW file has been updated.

We need to update the caching docs to make clear not to cache the SW file as well as the plugin-offline README

https://developers.google.com/web/updates/2018/06/fresher-sw

[2018-11-03 03:06] mattferderer commented on #5726
I keep running into this issue at random as well. It's been very random over the past year. Not sure why but it does seem to be some conflict with Netlify as my dev builds to the public directory just fine. Unfortunately the navigateFallbackWhitelist didn't change it for me.

[2018-11-03 03:29] ahansson89 commented on #9671
So is there a better way to do it? Like putting that js in the index.html file as this should not be cached?

[2018-11-03 03:30] fantapop commented on #9665
I opened a feature request here
https://github.com/gatsbyjs/gatsby/issues/9667

On Fri, Nov 2, 2018 at 1:09 PM Kyle Mathews <notifications@github.com>
wrote:

[2018-11-03 03:51] KyleAMathews commented on #9671
You add a cache rule explicitly for the SW file to not cache it.

[2018-11-03 04:09] HriBB opened #9674 "[babel-preset-gatsby] extend options for @babel/preset-env"
## Summary

Using `babel-preset-gatsby`, it is currently not possible to override anything else but `targets` for `@babel/preset-env`.

If I use `jest` to test my components, I get an error
[code]

## Relevant information

All I need to change is `modules` from `false` to `commonjs` and jest works :)

But to achieve that, I need to make my `.babelrc.js` huge and complicated.

I hope I am doing it

[2018-11-03 04:48] hackhat opened #9675 "Sometimes the images from markdown are not emitted. Both in build and develop."
My app tries to make a request to /static/someLongId.jpg but fails, in the public folder there is no file like that.

This started since I started deleting my public folder because Gatsby doesn't clean it properly I guess?

There is only one image in the /static/ folder (with probably 10 different sizes). This image is from a component not from markdown.

I added typescript as a dependency and set

[2018-11-03 04:53] hackhat opened #9676 "Images SEO. How do you handle images for SEO? If on every build the image can have a different id."
Images SEO. How do you handle images for SEO? If on every build the image can have a different id.

[2018-11-03 04:55] hackhat commented on #9649
So basically the public folder is stateful? So I need to check it in my git repository?

Looks like a fragile idea.

So basically how is the process of deploying?

You delete the public folder every now and then?

You never delete the public folder and this folder becomes huge? I got like +1000 files, after clean only 300

I'm really confused.

[2018-11-03 05:03] KyleAMathews commented on #9649
No you wouldn't check it into your got repo. It's generated files. On each build, most files don't change. You can delete files if you'd like but generally the new files would accumulate pretty slowly.

[2018-11-03 05:09] KyleAMathews commented on #9676
Image names are based on the name and contents of the image. If you don't change the original image, on every build, the generated image names will be identical.

[2018-11-03 05:09] #9676 closed

[2018-11-03 05:10] KyleAMathews commented on #9675
Gatsby assumes you don't delete the public folder yes. To get it to regenerate the thumbnails, delete the .cache folder as well.

[2018-11-03 05:10] #9675 closed

[2018-11-03 06:15] nayres commented on #9568
@aofolts, do to Contentful’s flexibility there are different ways to set up the data that will be communicated to the API. Typically the best practices depend on your specific need. In my typical need, let’s say for an Ecommerce site; I will try to organize my data in a way that is reusable across the site.

In the case that I want to shape my data to display a business’s address, I would create a

[2018-11-03 06:41] ryanditjia commented on #7209
I’m not seeing this anymore (even without the fix). Closing issue in 24 hours, please stop me if anyone is still getting it.

[2018-11-03 08:47] HriBB opened #9677 "[gatsby-source-filesystem] error copying file from .cache to public"
## Description

Sometimes during develop and build, I get errors about missing images. In development, it complains about it, then finishes normally. In production, build fails and if I manually restart it, it usually finishes without errors. Not always.

Related to #3859 and #3562

### Steps to reproduce

It's hard to reproduce this without a lot of images. I will try to create a reproduction cas

[2018-11-03 09:02] tanvibhakta commented on #9655
Hey @ebello go ahead and create the PR!

Hey @barrymcgee! Welcome to Gatsby! To be honest I'm pretty new here too - how about we wait for a day or two and come back again? Meanwhile, I encourage you to check out more issues labelled 'good-first-issue' and see if there's something you can find to work on? Happy to help either way. :)

[2018-11-03 10:34] davidbailey00 commented on #9415
In that case I strongly suspect this is a bug in Chrome (possibly platform-specific) rather than a problem on our side.

Because of this, along with the fact I haven't been able to reproduce, I'll close this issue for now - if anyone has more information or another reproduction, then I'll be happy to reopen and investigate.

[2018-11-03 10:38] davidbailey00 commented on #9671
I agree with @KyleAMathews on this - common practice is to have your service worker consistently at `/sw.js` but disable HTTP caching. Leaving open for discussion + potential for better docs

[2018-11-03 10:44] davidbailey00 commented on #8145
@haroldangenent Thanks for looking into this, your findings are super helpful :+1:

I'll create a PR today since this is a fairly simple change and I'm not working on tons of other things at the moment, but I'll let you know when once I've done that so you can have a look!

[2018-11-03 10:52] axe312ger commented on #8237
I fiddled around, thats what I found:

* `wrapRootElement` and the `MuiThemeProvider` seem to be unrelated to hot module reloading not working. Plain `withStyles()` without theme do not trigger a HMR as well.
* DOM wise:
	* new styles get injected, new classes are generated, `ruleCounter` counts up properly (Related: https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/style

[2018-11-03 12:48] AAverin commented on #8612
Removing firebase with a null-loader introduced lots of other issues in the project
Any other known workarounds?

[2018-11-03 13:52] aofolts commented on #9568
@nayres Maybe I'm being really dense, but I don't see what that has to do with gatsby-source-contentful using the `content type Name` instead of the `content type ID` in graphql.

I understand the concept of reusable content types.

For example, I reference the content type `seo` (named "SEO Search Engine Optimization) in my `page` and `blogPost` content types.

But to clarify, what I'm asking is

[2018-11-03 14:35] AAverin opened #9681 "Gatsby v1 + Firebase 5.0.+, unable to import"
## Description

Unable to import firebase into the project.
Also discussed here: https://github.com/gatsbyjs/gatsby/issues/8612
Due to fetch polyfill being present in firebase sources, production build results in
[code]

### Steps to reproduce

Setup Gatsby v1 with latest Firebase 5.0.+ and observe an error when trying to run the code

### Environment

[code]

[2018-11-03 14:38] AAverin commented on #9681
https://stackoverflow.com/questions/53130971/gatsbyjs-firebase-initializeapp-is-not-a-function/53132347#53132347

[2018-11-03 15:04] ekdev2 commented on #9047
on the create pages API how can you do below if youre only allowed to use StaticQuery and it cant read the context.

`).then(result => {
      result.data.allMarkdownRemark.edges.forEach(({ node }) => {
        createPage({
          path: node.fields.slug,
          component: path.resolve(`./src/templates/blog-post.js`),
          context: {
            // Data passed to context is available

[2018-11-03 16:31] jonniebigodes commented on #9639
@pieterdd issuing gatsby new gatsby-site always takes some time.
It's normal for me to get those times on my old workhorse machine running a centrino dual core, even on my i7 6500U laptop, depending on the workload, don't forget that it's cloning a repo into your local machine and setting all up with dependencies and so on.
The gatsby build command is the most dificult to measure, given the work t

[2018-11-03 16:45] jonniebigodes commented on #9531
ok...thanks for the update @pieh . i was going to start working on some portuguese translations and reach out to aid in french translations, but after what you said gonna get me another cup of coffee and refresh the issues  thanks once again 🙏

[2018-11-03 17:09] ebello commented on #9655
Hi all, I hope I'm not making this more complicated than it should be, but for purposes of the tutorial I think we should use a pre-hosted image to keep things as easy as possible. I'm looking for a URL of where the Gatsby astronaut image would be, and thought to look at the [demo site](https://gatsby-starter-default-demo.netlify.com) for the default starter, but it looks like it's using an old ve

[2018-11-03 17:17] ascorbic commented on #9626
If you disable Javascript in perferences etc then this does work. The reason this is failing is because when you disable JS in the developer tools it doesn't disable the service worker cache, so Gatsby loads the app shell fallback, which is empty without JS. If you disable JavaScript in your normal (non developer) settings, then the browser will bypass the service worker cache and load the rendere

[2018-11-03 17:28] marcaaron opened #9682 "How to deal with pagination and gatsby-source-graphql?"
I'd like to use `gatsby-source-graphql` to pull repository information from the Github GraphQL API for use with gatsby. Only problem is the Github GraphQL API places a limit of 100 on how many list items are returned from list fields e.g. PullRequests, Comments, etc. Is there any existing strategy for queries that are limited by the number of results they can return?

_Example:_
1. get the last 10

[2018-11-03 18:08] barrymcgee commented on #9655
@ebello The risk with using an image hosted elsewhere is that we can't guarantee it will always be available.

If for some reason, the image was pulled offline, users working through the "Hello World" tutorial would be left wondering why their code is broken already.

The ideal solution is that the image would be available as a relative link in their project folder already as part of the `gatsby-s

[2018-11-03 18:38] phacks commented on #9235
@DSchau Continuing from your code, I was able to have the feature up and running, and even added the `highlight-range{}` directive!

Will try to finish the PR within a few days, I still have to update `gatsby-remark-embed-snippet` to use the new capabilities.

Thanks!

[2018-11-03 18:39] 416serg commented on #7005
@jlengstorf @shannonbux Thanks for the guidance Shannon and Jason ❤️Here it is: https://github.com/gatsbyjs/gatsby/pull/9684

[2018-11-03 19:56] Vpr99 commented on #7827
@thibautvs I was wondering if you ever figured out what was causing this? I'm having the same issue intermittently.

[2018-11-03 20:07] jlengstorf commented on #9047
@ekdev2 You can use standard queries with context on pages. If you need to access context, use a page query.

`StaticQuery` isn't a requirement, and you're allowed to use either page queries or `StaticQuery` in any combination.

Does that make sense?

[2018-11-03 20:43] jlengstorf commented on #7005
Thanks @416serg!

[2018-11-04 00:33] pedrotavaresgoncalves opened #9687 "gatsby-plugin-sharp Incompatible library version"
## Description
When building for local development gatsby-transformer-sharp halts the process

Stack trace:

error Plugin gatsby-transformer-sharp returned an error

  Error: dlopen(/Users/pedro/Projects/3Decide/int_alivevision_website/node_modules/gatsby-plugin-sharp/node_modules/sharp/build/Release/sharp.node, 1): Library not loaded: @rpath  /libvips.42.dylib
    Referenced from: /Users/pedro/Pr

[2018-11-04 00:41] aofolts commented on #9568
@Khaledgarbaya Got it. Weird that they have that option—I can't picture a scenario where I would want a random content type ID instead of a custom one. Thanks for the explanation!

[2018-11-04 03:47] ChildishhAlbino opened #9689 "GraphQL error: unknown argument "formatString""
## Description

Hi.

I'm using Moment's formatString inside of GraphQL to format the dates from my blog posts - in a similar fashion shown in the Gatsby tutorial. However it isn't very reliable. It will work until I try to deploy to GitHub Pages - where it will crash and then not allow me to build again until I remove all instances of formatString from my code - get a working build - and then rein

[2018-11-04 05:57] lexishanson commented on #9655
Is this the image you're looking for? https://github.com/gatsbyjs/gatsby-starter-default/blob/master/src/images/gatsby-astronaut.png

[2018-11-04 06:00] btk commented on #9687
This is probably duplicate of #9533

You need gatsby 2.0.33 or later.  (^2.0.33)

[2018-11-04 06:13] btk commented on #9666
Hey,

So there might be few reasons why your site sometimes gets stuck at there. Your wordpress is pretty big, more than 200 posts and 3212 images. You might be at the same boat with some people in #6654

You might have a slow internet connection, and the image sourcing from the source might get timeout. And everytime you clear the cache, you start downloading all that 3212 image all over again. S

[2018-11-04 06:16] btk commented on #9667
Oh I think this sounds really good. I have struggled with deciding which files should I let the CDN cache.

[2018-11-04 07:46] talolard opened #9690 "Site asks to add to home on Android"
## Description

When users go to our Website on Android, they get a pop up to add the site to their home screen.
This isn't something we coded (intentionally).
![evilgatsby](https://user-images.githubusercontent.com/5352830/47961555-94c5fc80-e00d-11e8-92a2-774f99b6a93a.jpeg)

### Steps to reproduce
Not sure? Goto www.lighttag.io with Chrome on Android.
### Expected result

What should happen?
Not

[2018-11-04 07:51] kmorf commented on #9690
This is what `gatsby-plugin-offline` does. It adds a service worker so your site is now under PWA standards.

[2018-11-04 09:38] alexandernanberg commented on #4297
This can be closed now since #7083 was merged right?

[2018-11-04 09:57] HriBB commented on #6551
Ran into this problem yesterday. For jest to work, you need to enable `modules: 'commonjs'` option for `@babel/preset-env`.

[2018-11-04 11:05] LekoArts commented on #9690
It’s actually the combination of the offline and manifest plugin. You can read up on the behavior here (+ how to disable the prompt):
https://developers.google.com/web/fundamentals/app-install-banners/

[2018-11-04 11:35] ChildishhAlbino commented on #9689
Thanks for replying - although I don't think I made it clear enough that it's not my code that doesn't work -because it will work. It just breaks when I try to push it to github pages; i muck around with it for a bit and it works fine.

To explain your points however:
- Not sure where you found the "require" being used - if so it wasn't intentional. I had a quick look but couldn't find it.

- The

[2018-11-04 11:48] ChildishhAlbino commented on #9689
EDIT: I discovered that by deleting my .cache folder I can fix the problem a lot easier. Is there anyone who can explain why not deleting it would cause this error?

[2018-11-04 12:30] LekoArts commented on #9690
If you don't want your site to be a PWA, you can remove the manifest plugin. However I personally would says that PWAs are getting more and more important and it would be a worthwhile time investment for you to configure the prompt behavior instead of disabling it completely.

[2018-11-04 12:36] gabroun commented on #5335
I am not sure if this is the right place to post about the vulnerabilities warning I found, but I am getting these moderate warnings from gatsby-plugin-sharp regarding tunnel-agency package as you can see below
![download 8](https://user-images.githubusercontent.com/15094667/47964198-eda58d00-e02d-11e8-9ac9-ed2bd7d0d85e.png)

[2018-11-04 12:38] pedrotavaresgoncalves commented on #9687
updated Gatsby 2.038.

Now I can compile but still get this error:

error Plugin gatsby-transformer-sharp returned an error

  Error: dlopen(/Users/pedro/Projects/3Decide/int_alivevision_website/node_modules/gatsby-plugin-sharp/node_modules/sharp/build/Release/sharp.node, 1): Li  brary not loaded: @rpath/libvips.42.dylib
    Referenced from: /Users/pedro/Projects/3Decide/int_alivevision_website/no

[2018-11-04 12:40] pedrotavaresgoncalves commented on #9687
My gatsby-config.js

`module.exports = {
  siteMetadata: {
    title: 'alive vision',
  },
  plugins: [
    'gatsby-plugin-react-helmet',
    {
      resolve: `gatsby-plugin-manifest`,
      options: {
        name: 'gatsby-starter-default',
        short_name: 'starter',
        start_url: '/',
        background_color: '#663399',
        theme_color: '#663399',
        display: 'minimal-ui',

[2018-11-04 12:43] LekoArts commented on #9689
At some point it doesn't work and hence your code is most probably the reason.

https://github.com/ChildishhAlbino/childishhalbino.github.io/blob/problem-fixing/src/pages/about.js#L13

GraphQL can have some problems sometimes when a field has no value. Give the `lastUpdated` field the release date and check if updated and release are equal.

Yeah, saw that now, too. The subble component doesn't ma

[2018-11-04 12:53] LekoArts commented on #9330
Closing this issue due to https://github.com/gatsbyjs/gatsby/pull/9378

[2018-11-04 12:53] #9330 closed

[2018-11-04 12:57] frewinchristopher commented on #5660
@shimms answer was the only thing that worked for me. On a whim I decided to upgrade to the newest LTS node version (as of November 4th 2018, that was v10.13.0... then all hell broke loose!) But isn't this actually a gatsby error? Are we stuck using v8.11.3 for our gatsby projects? Or, has anyone successfully got a project working with nodejs v10+?

[2018-11-04 15:32] talolard commented on #9690
Thanks @LekoArts
If you don't mind, I'm still a little confused about how to disable it.
Do I want to do something like this ?
[code]

Where would I put this ?

[2018-11-04 16:29] #6879 closed

[2018-11-04 16:38] peterlazzarino commented on #8386
@kakadiadarpan is there anything else I need to follow up with on this?

[2018-11-04 16:52] btk commented on #9687
@pedrotavaresgoncalves would you be able to create a repository where you can reproduce this? The other issue looks like it has concluded as this was the problem.

[2018-11-04 16:54] KyleAMathews commented on #9690
You change the "display" key for the manifest in the options to gatsby-plugin-manifest to "browser"

https://developers.google.com/web/fundamentals/web-app-manifest/

[2018-11-04 18:16] talolard commented on #9690
Thanks!

[2018-11-04 18:16] #9690 closed

[2018-11-04 18:18] dubcanada opened #9693 "GraphQL GatsbyImage fragment inside fragment returns zero results"
## Description

If you have a fragment and inside your fragment you use gatsby image fragment say

    {
        blocks {
            __typename
            ...imageLeftTextRightBlockFragment
        }
    }

and

    fragment imageLeftTextRightBlockFragment on ImageLextTextRightBlock {
        image {
            childImageSharp {
                fluid(maxWidth: 400) {
                    ...Gats

[2018-11-04 18:25] aesthytik opened #9694 "Search bar not showing full placeholder!"
## Description

I noticed a little CSS padding problem on placeholder text at search bar

### Steps to reproduce

Open the homepage of gatsby.

### Expected result

Search placeholder should be visible fully
![gatsbyjs](https://user-images.githubusercontent.com/26917061/47968225-d0ec7200-e08c-11e8-8f74-6a818525d090.png)

### Actual result

Placeholder not fully shown.

### Environment

I am using

[2018-11-04 18:47] pedrotavaresgoncalves commented on #9687
Only able to solve with these specs.
Got them in gatsby-starter-blog.
Trying with the latest versions of gatsby (2.0.33 and above), gatsby-sharp-plugin and gatsby-transformer-sharp always broke in compilation stage when loading gatsby-transformer-sharp.

  System:
    OS: macOS 10.14
    CPU: x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 11.0.0 -

[2018-11-04 18:57] rchrdnsh commented on #2173
I'm running into this now, not sure what to change, tho.

[2018-11-04 19:03] rchrdnsh commented on #2173
oh, i get it now...I have to put a `0` before a date that does not have two digits, like the first 9 days of a month...that's a bit annoying... :-/

[2018-11-04 19:15] tbrannam commented on #4297
I would think so

[2018-11-04 20:37] SimonIMG commented on #8242
Hmmm. My site is using a WordPress instance as the backend. @blkfltchr and @larryPersonal you both have Contentful as yours. But hopefully, there are things we can compare between the two.

@blkfltchr your query says `contentfulBlogPost(slug: {eq: $pathSlug})` but in my WordPress example in my original post, I'm querying `wordpressPage(id: { eq: $id })`.

My query is looking for the Page and Post

[2018-11-04 21:03] ebello commented on #9655
@barrymcgee Thanks I agree that copying the image over to the starter project and making a relative link is a better solution. Will merge your edit in.

[2018-11-04 21:05] Bilie commented on #6552
Hi here is my take on this issue so far:

On modal open the user is being redirected to the showcase details.

The content of the site appears to be scrolled to the top on modal open, but this is a side effect of `PageRenderer` which rerenders the page specified in the `modalBackgroundPath` prop (`/showcase` in this case) as a background of the modal window.

The same path provided in the props (`

[2018-11-04 21:45] phacks commented on #9235
@DSchau PR #9696 is ready! 😃would appreciate some  👀on it as it’s my biggest PR on gatsby yet 🤟

[2018-11-04 21:46] alexboffey commented on #5030
@shannonbux I'd happy to pick this up! I'm new to Gatsby (and OS as a whole) as a contributor, but this seems like a good start 😄

[2018-11-04 22:31] ebello commented on #9655
Ah, @barrymcgee I didn't realize they were separate repos. I made a note that my PR should be contingent upon yours.

[2018-11-04 23:45] ChildishhAlbino commented on #9689
I think that empty value was the cause - so I'll close this for now. It's working as expected now so I'm happy.  Thanks for your help :D

[2018-11-04 23:51] orshick commented on #9687
Had the same issue. Can confirm that downgrading from `gatsby-transformer-sharp: ^2.1.7` to `2.1.4` and `gatsby-plugin-sharp: ^2.0.7` to just `2.0.7` worked for me.

[2018-11-04 23:54] #9689 closed

[2018-11-05 01:15] blkfltchr commented on #8242
@SimonIMG I was able to sort it by changing my `posts.forEach()` from this:

[code]

to this:

[code]

[2018-11-05 01:46] devrchancay commented on #4950
So far I do not have problems with the `.cache` folder at the time also look for documentation about that, it would be very good that there are at least references on the website.

[2018-11-05 02:00] foggy1 opened #9702 "gatsby-source-wordpress title field includes "&nbsp; " in titles of certain length"
## Description

(Note: the following applies to wordpress.com source. This has not been tested with a self-hosted .org).

When the `gatsby-source-wordpress` plugin sources the `title` field from `posts`, if the post is beyond a certain number of characters, then eventually its final space will be replaced with `&nbsp;`

### Steps to reproduce

1. Spin up a vanilla gatsby project that uses `gatsby-

[2018-11-05 03:10] hackhat commented on #9355
If you add your website to analytics.moz.com campaign it will also be redirected to no-cache, so frustrating. I'm hosting on cloudflare + s3 and again nothing fancy here as well.

[2018-11-05 03:15] github0013 opened #9703 "gatsby-transformer-yaml fails to read "an empty array" yaml"
## Description

Some yaml format doesn't get picked up in graphql.

### Steps to reproduce

I think an empty array yaml can be expressed in 2 ways.

[code]

[code]
"---" being a document separator.

For a case only has `[]`, it works as expected.  But when there is `---`, then graphql doesn't pickup the yaml itself.

### Expected result

Either `[]` or `--- []` should be treated as a yaml file.

#

[2018-11-05 03:38] #9703 closed

[2018-11-05 04:01] smakosh commented on #8242
Thanks but my issue has been sorted out weeks ago

[2018-11-05 04:31] justinformentin commented on #4873
I could be completely wrong, so hopefully someone will add to this post, but I think dealing with the cache may be unnecessary.

`gatsby-remark-images` has a quality option, so why not look to emulate what that plugin's doing? If you go to the index file, there's nothing about quality anywhere.

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js

But you'll n

[2018-11-05 04:39] justinformentin commented on #9374
siddhant1 are you still working on this? Just wondering, because if not, I have it ready to go.

[2018-11-05 04:40] justinformentin commented on #9374
@siddhant1 are you still working on this? Just wondering, because if not, I have it ready to go.

[2018-11-05 06:45] kakadiadarpan commented on #9666
Closed in favor of #6654

[2018-11-05 07:20] thibautvs commented on #7827
@Vpr99 I'm still experiencing the same issue

[2018-11-05 09:18] kitos opened #9704 "[Mapping node types] How to query author posts"
## Summary

According to [Mapping node types](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types) documentation, when I create next mapping:

[code]

I can

In the docs I see example of querying post's author:

[code]

and I expect (but don't see an example), that I can query from author source - list of his posts, like:

[code]

Are my expectations valid or I'm missing something?

##

[2018-11-05 09:23] palerdot commented on #8348
@drubin @pieh @kakadiadarpan This issue is because `hmrPath` is configured at compile time. To fix this, there should be some way to generate `hmrPatch` dynamically during runtime. I guess this should involve some pretty big changes? And there are some redux actions wrt to setting/replacing webpack hmr config. Dispatching them will fix this issue? With the current code architecture where `hmrPath`

[2018-11-05 09:48] davidbailey00 commented on #9355
@DSchau and I have decided to remove the `?no-cache=1` URL parameter entirely, in favour of better docs which explain to users how to blacklist non-Gatsby pages. Hopefully this will be available by next week, sorry for all the problems this has caused

[2018-11-05 10:46] juliansthl opened #9705 "Client-only routes: catch-all matchPath has higher "specificity" than static paths"
## Description

If I specify a wildcard matchPath for the root path on my index page `matchPath: '/*'`, the index page is always served, ignoring any "static" paths.

### Steps to reproduce

**[Demo on CodeSandbox](https://codesandbox.io/s/rmz76130xm?module=%2Fgatsby-node.js)**

Based on gatsby-starter-default, I'm adding this to **gatsby-node.js**:

[code]

### Expected result

- When browsing to

[2018-11-05 11:03] domhacking commented on #3131
I am having the same issue but adding a space and removing in config worked for me as well.

[2018-11-05 11:16] RobinHerzog opened #9706 "source and transform nodes never ends"
## Description

On GatsbyV2 with Prismic CMS the "source and transform nodes" never ends. When I check "gatsby-source-filesystem" in cache directory, two files are still in tmp.

Here is a screenshot
https://www.dropbox.com/s/1yjpelji7kb12pa/Capture%20d%27%C3%A9cran%202018-11-05%2012.15.33.png?dl=0

### Steps to reproduce

Run gatsby develop

### Expected result

Continue to build.

### Actual res

[2018-11-05 11:54] pieh commented on #9705
Hey, this definitely is not working when there are multiple "nested" `matchPath`s (but static paths do work (i.e. if you navigate to `/page-2` in your sandbox demo).

We would need to change this sorting https://github.com/gatsbyjs/gatsby/blob/2be85322c36bdda4f1fb4e9c25da08181994d08d/packages/gatsby/src/internal-plugins/query-runner/pages-writer.js#L42 so `/sub/*` would end up before `/*` (but sti

[2018-11-05 12:17] kakadiadarpan commented on #9658
@HeikoMueller you need to use `gatsby-plugin-postcss` with `autoprefixer` to get cross-browser support for css generated from your sass.

[2018-11-05 12:18] kakadiadarpan commented on #9661
@erquhart any insights regarding this?

[2018-11-05 12:30] ahinrichs commented on #7399
Looking into the differences I found that #5219 removed the plugins gatsby-browser.js with the `injectStyles` call. In v1 this is still present.

I also see that more and more examples include this code in `src/utils/typography.js`. So maybe this is the recommended way in v2 (e.g. @LeKoArts [mimimal-blog-starter](https://github.com/LeKoArts/gatsby-starter-minimal-blog/blob/master/src/utils/typogra

[2018-11-05 12:31] kakadiadarpan commented on #9681
@AAverin can you provide a reproduction repo for this?

[2018-11-05 12:32] kakadiadarpan commented on #9681
Also, can you try upgrading your repo to Gatsby v2 and check if that solves the problem for you?

[2018-11-05 12:38] kakadiadarpan commented on #9694
@aesthytik I'm unable to reproduce this in my machine. This might be different for screens with different resolutions. Would you be interested in fixing this issue and raise a PR for it?

[2018-11-05 12:40] AAverin commented on #9681
I took me quite some time, but I managed to build Firebase 4 with gatsby 1.
The root of the problems are changes in whatwg-fetch implementation in version 2.0.4, there was a big refactoring there.

I rolled back versions of Firebase until I found one that still uses 2.0.3 implementation.

I would suspect that just using whatwg-fetch will result in same exception when building production gatsby v1.

[2018-11-05 12:44] kakadiadarpan commented on #9706
@RobinHerzog this issue has been observed by more people. Please follow #6654 for updates regarding this.

[2018-11-05 12:44] #9706 closed

[2018-11-05 12:46] pieh commented on #8348
so I just tried `GATSBY_WEBPACK_PUBLICPATH=/ gatsby develop -H 0.0.0.0` and it seems to work (at least on OSX). I skipped specifying host in webpack public path

[2018-11-05 12:51] chmac commented on #8788
@pieh @KyleAMathews @DSchau Any update on this one? It seems like the implementation of the [gatsby-remark-oembed](https://github.com/raae/gatsby-remark-oembed) plugin (which looks awesome) is blocked by this. Anything I can do to help out? It seems like we're blocked waiting for a decision on the best approach.

[2018-11-05 13:05] juliansthl commented on #9705
Hi @pieh ,

Ah, that makes sense.

I quickly played around with this and I think this could be a fix for [pages-writer.js](https://github.com/gatsbyjs/gatsby/blob/2be85322c36bdda4f1fb4e9c25da08181994d08d/packages/gatsby/src/internal-plugins/query-runner/pages-writer.js#L42):

_replace_
[code]
_with_
[code]
In my tests this orders less specific matchPaths after more specific ones.

If this makes se

[2018-11-05 13:10] pedrotavaresgoncalves opened #9707 "Building Static HTML - WebpackError: Invariant Violation: Minified React error #152"
## Description

---
**During build on building static HTML get error:**

[code]

---
Tried to update versions of react-helmet and react-plugin-helmet. Didn't work. Erased all the traces of react-helmet and the error was gone, but appeared a similar error with lodash ( Invariant Violation: Minified React error #152) right after that only was referenced in package-lock.json. Tried install in package

[2018-11-05 13:15] pieh commented on #9705
Potentially there is some scanario where this will fail with named URL parameter (not sure if we handle this in gatsby, but @reach/router support `:param` syntax):

[code]

will put first one before second one meaning we won't be able to access `/foo-specific` page

https://runkit.com/pieh/5be0406030d13600124d7071

[2018-11-05 13:30] RobinHerzog commented on #6654
I'm getting the same errors with prismic

[2018-11-05 13:50] willcode4food commented on #8056
@lol-russo This particular error might be due to the fact that data is not present for the featuredImage field on all nodes.  I found that I have to default nodes for data with holes in it for Gatsby to build completely.

I would verify that every record has that field populated first.  If that does end up being your problem, I'd either fix the data, or create a plugin to manage the data as it is

[2018-11-05 13:54] pieh commented on #9704
Right now we don't create back references when using mapping :( Ideally you could do
[code]
but right now that doesn't work (mapping is pretty niche and not widely used, so this is put on backlog for now - see https://github.com/gatsbyjs/gatsby/issues/7251)

[2018-11-05 13:59] AndrewIngram commented on #5385
It's not as simple as it looks (and the example shared by @orta) doesn't appear to touch the challenging parts of the integration. The following is based on a cursory investigation, so I may have made some errors.

The core problem is that the Relay compiler and babel plugins both look for strings tagged with `graphql`. Gatsby has its own concept of page queries, and page filenames generally have

[2018-11-05 14:04] fk commented on #9526
Argh, so much for "in a minute". Sorries! :(

[2018-11-05 14:06] pieh commented on #9705
I don't think this is overcomplicating. And this looks good - maybe even we could combine `hasMatchPath` and `matchPathSegments`:

[code]

I wonder if creating 2 intermediate arrays (with 2 `.map`) has any performance implication vs using `sortBy`. In any case in the second `.map` we would want to `_.omit` added fields instead of picking (there are some extra fields in pages objects that I just di

[2018-11-05 14:06] fk opened #9709 ".org redesign: homepage "ecosystem" section design"
Create designs teasing the new "Ecosystem" section on the gatsbyjs.org homepage.

[2018-11-05 14:20] drubin commented on #8348
@pieh I didn't even think of trying this. @palerdot  why is this not the default?

[2018-11-05 14:21] juliansthl commented on #9705
Awesome!

If I'm not mistaken, this would result in `"/*"` (matchPathSegments: -2) coming before `"/sub/*"` (matchPathSegments: -3) though, right?

We could do something like this, but I don't feel too good about hardcoding that number:
`matchPathSegments: p.matchPath ? p.matchPath.split('/').length : 999999999999999,`

[2018-11-05 14:22] drubin commented on #8348
Why not just default to `/` for `GATSBY_WEBPACK_PUBLICPATH` instead of `-h` which doesn't make sense if since its a network address.

[2018-11-05 14:39] fk commented on #9709
Desktop:
<img width="1280" alt="desktop_ homepage_ ecosystem" src="https://user-images.githubusercontent.com/21834/48003994-451c2980-e110-11e8-8ac6-9eef98fd8468.png">

Tablet (WIP, we have to figure out how cards should behave here):
<img width="1024" alt="tablet_ homepage_ ecosystem" src="https://user-images.githubusercontent.com/21834/48004214-dc817c80-e110-11e8-87df-823aed950278.png">

Mobile:

[2018-11-05 14:41] fk opened #9711 ".org redesign: homepage [design] - blog section"
Update the "Blog" section design for the revamped gatsbyjs.org homepage.

[2018-11-05 14:47] pieh commented on #9705
We can use something like `Number.MAX_SAFE_INTEGER`

[2018-11-05 15:12] kitos commented on #9704
Is there any other solutions for achieving desired result?

I've tried something like this:

[code]

but I can't find nodes with `type === 'MarkdownRemark'`