[2020-03-02 15:01] freiksenet commented on #21900
This is not an official plugin. You should store public folder in cases like this.

[2020-03-02 15:08] talves commented on #21879
@pvdz doing a `sudo rm -rf node_modules ~/.npm public .cache` and upgrading back to `2.9.23` **does work** for the `.cache` rename [error](https://github.com/gatsbyjs/gatsby/issues/21879#issuecomment-593172178)

[2020-03-02 15:10] pvdz commented on #21879
Next time, try to remove them one by one, see if there's a particular folder causing this.

Also, do you know if you ever run nodejs stuff through sudo? (Or as root through other ways). That could cause this for a million different reasons.

[2020-03-02 15:14] pvdz commented on #20538
Yeah this is a little weird.

There's only one case where this shows up in github search: https://github.com/Dajamante/blog/blob/879c4a5f83e1cb8bcb91b7dde42beb9a3cfc1c5e/node_modules2/remark-math/index.js

But I think it's a built file. Almost definitely from remark-math.

The thing is, that output is generated by `` report.warn(`Error persisting state: ${(err && err.message) || err}`) `` in gatsb

[2020-03-02 15:19] talves commented on #21879
I would never run nodejs commands through sudo, so that was not the case. I thought I should've ran those separately, but unfortunately, I already spent too much time chasing the error yesterday and figuring out what version was the issue.

I'm 🤞 there will not be a next time. If I do see it again, I will do one at a time to get the culprit for you.

[2020-03-02 15:21] pvdz commented on #21879
@garethiv can you check whether removing the folders solves your problem as well? One by one would be nice (and if that doesn't work, all at once, just in case) to help triage the source of this problem. Permission problems have a wide breadth of origins so it's a little hard to tell what might cause it. But once permissions are inconsistent, it's hard to get things done right.

[2020-03-02 15:27] talves commented on #21879
@pvdz it does seem odd that we are fine with all those permissions with the change being `^2.9.22`, so can't you determine the culprit from that change to **`on the redux cache`**

[2020-03-02 15:38] daniel-winter opened #21904 "Edit/change page path"
I have the following problem. We are generating different static HTML files with gatsby for different countries via `createPage: path: `${rail}/_error/503-${country}.html``.

The static HTML should be available under
[code]

Instead if we open/call the URL they are redirecting to:

[code]

So my question is: Is it possible to edit/change the path that it not adds the parameter to the URL?
Maybe th

[2020-03-02 15:44] pvdz commented on #21879
@talves well, I wrote that whole change. There's a few things at play but at its core it creates a new tmp folder, using a nodejs built in function for that. Then it generates a bunch of files inside that folder. Once that's done it will _rename_ the existing `redux` folder. It will _rename_ the tmp folder to be the new `redux` folder (basically moving it there). It will then go ahead to `rm -rf`

[2020-03-02 15:46] myhendry commented on #11225
Hi @jlengstorf, your sample codes [link](https://github.com/jlengstorf/gatsby-with-apollo) does not use any plugin to bring in apollo client. there is a plugin gatsby theme apollo which can be used to enable client side apollo too. Any difference between using your method vs the plugin? Thanks

[2020-03-02 15:48] brisa-pedronetto commented on #21647
@TylerBarnes Thanks for checking this out! The part of the post's data that I can use is the ```href``` I can use to fetch the other details, including an actual **media URL**. As is, this second step needs to be done inside the component that uses the post data coming from my GraphQL query via ```props.data.wordpressPost```.

I'd like to do it in a way that the media URL is already coming from th

[2020-03-02 15:51] vladar commented on #21673
Thank you for opening this, @sniperyork

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-03-02 15:51] #21673 closed

[2020-03-02 15:51] brisa-pedronetto commented on #21579
Thank you for this solution, it will work great for what I need :)

[2020-03-02 16:00] jaminhaber opened #21905 "Ability to query .txt / byte files"
## Summary

For some project structures it would be helpful to include simple .txt files

### Basic example

query:
[code]

### Motivation

.txt files are useful for getting copy from clients in the freelance world. The ability to simply drag and drop a bio.txt file into a designated folder would speed up my workflow with gatsby.

Thanks for reading!

[2020-03-02 16:04] danpoq opened #21906 "[gatsby-plugin-embed-snippet] Support for embedding specific line numbers"
## Summary

[DocFX has a feature in its inclusion of code snippets](https://dotnet.github.io/docfx/spec/docfx_flavored_markdown.html#code-snippet) that allows you to specify a line number or line range to embed specific lines of an external file.

It works the same way as GitHub file URLs, where ending the URL with `#L10` or `#L10-L20` will link to those lines.

I propose that `gatsby-remark-embed

[2020-03-02 16:12] danspratling commented on #21193
Hey everyone, the **minimal reproduction is here**. https://github.com/maxym49/gatsby-link-delay-problem

It has been posted before, multiple times. Please read the past comments instead of asking the author to repeatedly post the url.

[2020-03-02 16:14] #20222 closed

[2020-03-02 17:38] marcinczenko commented on #2009
Is there a way to use `remark-emoji` directly as a plugin for `gatsby-transformer-remark`?

I tried:

[code]

but this does not seem to do anything...

On MDX we can use:

[code]

but why this does not work for `gatsby-transformer-remark`?

[2020-03-02 17:43] Undistraction commented on #19618
Seeing the same thing.
- It's reasonably often (we are seeing it daily).
- Almost all Mobile Safari or Safari.
- Always `/`.
- Sentry gives the same stacktrace as Bugsnag with the following breadcrumbs:
<img width="1060" alt="Screenshot 2020-03-02 at 17 42 54" src="https://user-images.githubusercontent.com/161489/75702400-5302a000-5cad-11ea-88f5-e5f3713a263c.png">

[2020-03-02 17:51] tounsoo opened #21909 "[gatsby-remark-autolink-headers] Why do I get `/` in front of the href in the anchor?"
## Summary
When using gatsby-remark-autolink-headers, auto generated anchors link gets `/` in front of all my anchors. In my setup, this results it to go to base url when I need it to be relative.

Here is the html that I get for the anchor:
[code]
## Relevant information

### Environment (if relevant)

[code]

### File contents (if changed)

`gatsby-config.js`:
[code]
`package.json`:
[code]
`gats

[2020-03-02 17:56] tesseralis commented on #21783
@saadpasta right, it's doing that for me too sometimes. The problem is that it _switches_ and is inconsistent—you type in one thing and expect that the first link is a doc but get taken to a blog, and vice versa.

[2020-03-02 17:59] tesseralis commented on #21567
@madalynrose Hmm that's weird… I tried it again in prod and it looks like we're getting 100% on accessibility in Lighthouse. It might have been some weird blip. I'll close this issue for now since we can't reproduce it.

[2020-03-02 17:59] #21567 closed

[2020-03-02 18:01] tesseralis commented on #21258
I'm going to close this for now since it turns out it's going to be a bigger hassle than it's worth (e.g. a lot of scripts look at the current location of `starters.yml`)

[2020-03-02 18:01] #21258 closed

[2020-03-02 18:15] ZLevine commented on #21462
Has anyone else experienced this issue? This seems pretty breaking; it makes all linking in markdown files useless when using `assetPrefix`

[2020-03-02 18:53] Fziliotti commented on #13454
I'm interested in this and could try to help with the implementation, but I haven't tested the gatsby-plugin-amp, does it do this job?

[2020-03-02 19:05] tesseralis opened #21910 "Page metadata improvments"
With #21815, it's now easier to add and update page metadata. Here are some inconsistencies I've found while doing the refactor:

* Some pages are missing `description`, which causes Facebook's [Sharing Debugger](https://developers.facebook.com/tools/debug/) to complain that `og:description` is missing
* Some pages, like `template-starter-page` and `starter-library/index` have a hardcoded "1 min r

[2020-03-02 19:13] Eyas commented on #13454
I have a branch at  https://github.com/Eyas/gatsby-plugin-google-amp/tree/local-fixes that I'm using to play around with getting something viable.

Short answer is, not out of the box. I tried a lot to go by what @jafaircl said, but the issue is that a lot of the core pieces around Gatsby Image, etc. need to be changed. So I have something that works for me, but is done through a lot of hacky dom

[2020-03-02 19:33] Rulikkk commented on #2009
@marcinczenko you can look here https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/extend-node-type.js#L128 -- seems this has to be supported by transformer-remark itself... However, since you say this doesn't work, maybe it needs debugging.

Also: if you have MDX in your site -- why don't you just use it for all markdown files?

As for [`gatsby-remark-emoji`](ht

[2020-03-02 19:49] chpio commented on #21901
Ok, what are you saying?

That's works for the 1. build, but not for following builds. The cache file gets created with an extension, but the following builds try to read the file from cache without an extension.

[2020-03-02 20:12] LorenAmelang commented on #15529
Thank You Laurie! Much good information:
https://www.gatsbyjs.org/docs/gatsby-on-windows/

But Python 2.7 still???

[2020-03-02 20:12] corymcdaniel commented on #20819
@jonniebigodes Sorry for the late response.  I hadn't had a chance to revisit researching a better solution, but this works well for me.  Thanks for all of your help!

[2020-03-02 20:19] #21247 closed

[2020-03-02 20:33] cpboyd opened #21913 "bug(gatsby-plugin-typescript): linting causes errors"
## Description

PR #18721 seems to have broken my builds.

I get errors thrown at Typescript-specific keywords like `enum` and `as`, even though my eslint config doesn't throw any errors for those.

Reverting to `gatsby-plugin-typescript@2.1.27` resolves these issues.

### Steps to reproduce

Use `gatsby-plugin-typescript@2.2.0` for any Typescript project containing Typescript files with `enum` or

[2020-03-02 20:45] herecydev commented on #21909
I believe every link in Gatsby is generated as a root-relative link. Lots of [info here](https://github.com/gatsbyjs/gatsby/issues/14161).

This should still work though. Are you seeing the correct behavior?

[2020-03-02 20:46] Eyas commented on #13454
gatsby-plugin-amp2html might do a better job translating some elements, but it still breaks layouts considerably with GatsbyImage for example.

`<amp-img>` is really what gatsby-image is trying to be, which is why I think it's easier to emit the right thing from the component level in GatsbyImage, rather than trying to reverse extrapolate from the HTML, which is how both plugins do this.

[2020-03-02 20:54] tounsoo commented on #21909
Well.. I'm expecting that when I am in the page `/components/layouts/card` and the header is `#basic-card` I expect either the anchor link to be relative or have the full path(`/components/layouts/card#basic-card`.

Is my expectation wrong?

If I just get `/#basic-card` it will take me to `www.mysite.com/#basic-card` not `www.mysite.com/components/layouts/card#basic-card`

[2020-03-02 21:08] herecydev commented on #21909
Yer I think it's a general expectation (and rightfully so if you're programming directly in html). But unfortunately I don't think that'll work in this case.

Surely the simplest way to achieve what you want is to use a standard `<a>` element? `<Link>` is super useful and recommended if you're going between gatsby pages but in this case I can't think of a reason that using a hash link would be bad

[2020-03-02 21:09] laurieontech commented on #15529
@LorenAmelang Would love you to open an issue to update that specifically! Thanks for catching it.

[2020-03-02 21:24] tounsoo commented on #21909
Ah sorry, I think I totally missed mentioning that this is happening to gatsby-remark-autolink-headers 's auto generated anchor.

[2020-03-02 21:28] herecydev commented on #21905
If the files you get are json then you can use the [gatsby-transformer-json](https://www.gatsbyjs.org/packages/gatsby-transformer-json/?=json#gatsby-transformer-json) along with the `gatsby-source-filesystem`.

Essentially your workflow would become drag and drop `.json` files into a static folder, i.e. `src/data/` and these are then digested into the graphql world for gatsby pages/components to u

[2020-03-02 21:39] rhifat commented on #14539
work for me. thank you very much

[2020-03-02 21:56] jonniebigodes commented on #20819
@corymcdaniel no need to be sorry and no thanks are required, just wanted to present a cleaner solution for your issue and with that not only help you but someone else that comes across this issue.

[2020-03-02 22:23] Vacilando commented on #12560
Gatsby:
- Gatsby CLI version: 2.9.0
- Gatsby version: 2.19.7

Browser:
- Chrome

Scroll position retained on page reload after build ✓

Scroll position NOT retained on page reload in develop mode.

My test:
- `gatsby new gatsby-starter-default https://github.com/gatsbyjs/gatsby-starter-default`
- `cd gatsby-starter-default`
- `gatsby develop`
- navigate to http://localhost:8000/ -> make a little b

[2020-03-02 22:52] jonniebigodes commented on #21844
@JonVisc recently i had to address a similar issue and i went with a more granular approach. Instead of using the ssr approach i went with a per page approach. Going to detail the steps i took to tackle this. The code i'm presenting is based off on the default starter for Gatsby.

- Created a new Gatsby site with the default starter.
- Changed `src\components\seo.js` to the following:

[code]

- C

[2020-03-02 22:54] sfonua10 commented on #9016
`Failed to compile
There was an error in your GraphQL query:

The fragment "GatsbyImageSharpFluid_withWebp" does not exist.

  43 |     margin-top: 0.5rem;
  44 |   }
  45 | `
  46 |
  47 | const Hero = () => {
  48 |   const { image } = useStaticQuery(graphql`
  49 |     query {
  50 |       image: file(relativePath: { eq: "jesus-christ.jpeg"}) {
  51 |         sharp: childImageSharp {
  52 |

[2020-03-02 22:58] sfonua10 commented on #9016
I'm getting an error with this code:

The fragment "GatsbyImageSharpFluid_withWebp" does not exist.

[code]
<img width="617" alt="Screen Shot 2020-03-02 at 3 58 16 PM" src="https://user-images.githubusercontent.com/18669021/75725961-ae796180-5c9e-11ea-9bcc-74ef6b63701c.png">

Can anyone help?

[2020-03-02 23:05] afucher opened #21916 "Gastby site brokes when try to search dependency"
## Description

When try to search for starters that use some plugin, the site broke and just show a blank page.
example: https://www.gatsbyjs.org/starters/?d=gatsby-source-googlemaps-static&v=2

### Steps to reproduce

Enter in the plugin search page, click on any plugin and then click on the `See starters using this` link.

### Expected result

I should see a page with the result of the search.

[2020-03-03 00:04] #20416 closed

[2020-03-03 00:04] #18858 closed

[2020-03-03 00:27] kuworking opened #21918 "Using webloaderfont fails with gatsby build unless it is dynamically imported"
When importing `webloaderfont` as usual

[code]

It fails at build time due to `window` being undefined

This is somewhat discussed here https://github.com/ChristopherBiscardi/gatsby-mdx/issues/248

I'm writing here just to report what has worked for me

[code]

[2020-03-03 00:27] kuworking commented on #21918
.

[2020-03-03 00:27] #21918 closed

[2020-03-03 01:44] harshil1712 commented on #18803
Hey @madalynrose any suggestions you have that I should keep in mind?
I will soon be completing Marcy's FrontendMasters course on Accessibility. I am planning to first start working with the starters and then work with the themes.

[2020-03-03 01:47] julionav commented on #5090
I know this is closed but when googling how to do interpolation in gatsby this still shows up.

The workaround that I did for this is to construct the **regex expression** outside the graphql query.

In my case, it was inside `createPages` inside `gatsby-node`

[code]

Then inside the query:
[code]

[2020-03-03 02:03] alanmarcos commented on #17345
I also would like to know

[2020-03-03 03:15] LorenAmelang opened #21920 "Docs: "Gatsby on Windows" should list python 3"
### Description

I actually don't know if this is a documentation glitch or deeper confusion, or if the project is really using a dead Python. But it has the potential to really confuse new users like me.

### Steps to reproduce

Go to
https://www.gatsbyjs.org/docs/gatsby-on-windows/

Where you are told to enter:
npm config set python python2.7

### Expected result

I'd expect Gatsby to know about

[2020-03-03 03:24] julietrubin commented on #18042
I'm having the same issue. Did you find a solution?

[2020-03-03 03:41] julietrubin commented on #16321
I ran into this issue as well. The fix was to remove the quotes around the api_token value in Netlify.

[2020-03-03 03:46] julietrubin commented on #18042
I ran into this issue as well. The fix was to remove the quotes around the api_token value in Netlify.

[2020-03-03 04:02] Js-Brecht commented on #21909
@tounsoo Continuing the conversation from spectrum...

I created my own little starter repo to test this, and all of my header links get created correctly.  AFAICT, the `gatsby-remark-autolink-headers` code is correct... there is nothing in there that would cause it to prefix `#` with `/`... so possibly it's happening in `gatsby-plugin-mdx`.  That's a completely different animal, so I need to have

[2020-03-03 04:31] Js-Brecht commented on #21909
Okay, I just noticed something...

You're replacing the `a` element with a `gatsby-link`.  Look at the way `gatsby-link` processes the `to` argument:
https://github.com/gatsbyjs/gatsby/blob/70a6857aceafe4996c46e77fd58c4b2e2f586207/packages/gatsby-link/src/index.js#L142

`withPrefix`:
https://github.com/gatsbyjs/gatsby/blob/70a6857aceafe4996c46e77fd58c4b2e2f586207/packages/gatsby-link/src/index.js#

[2020-03-03 04:33] zakirsajib commented on #2492
`GATSBY_CONCURRENT_DOWNLOAD=8 gatsby develop` works for me.

[2020-03-03 04:34] zakirsajib commented on #12861
Try this:

`GATSBY_CONCURRENT_DOWNLOAD=8 gatsby develop`

[2020-03-03 04:42] tounsoo commented on #21909
Sorry for late response, I think you are on to something. I will try it out first thing tomorrow morning and if it doesnt work out, I will prepare a branch for us to debug.

Thank you so much for looking into this!

[2020-03-03 04:49] onadeem1 commented on #16239
I am having this same issue but with the gatsby embed video or gatsby responsive iframe, one of them creates a <div> which goes inside the <p> tag for markdown. Any updates? Thanks. Can add more info if needed but essentially the same problem.

[2020-03-03 06:27] wardpeet commented on #21193
That's a github url, not a life url 😉 It's easier that I do not have to clone and deploy, that's all. Every minute we can spare is great as we have a lot of ground to cover, thanks for understanding.

[2020-03-03 07:06] TylerBarnes commented on #21647
I'm not entirely sure what you mean. Can you describe step by step how it works now, and step by step what you'd like to happen?

[2020-03-03 07:16] TylerBarnes commented on #21886
Hi @taylorchance !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [prov

[2020-03-03 07:43] jussikinnula opened #21922 "Gatsby's webpack-dev-server should ignore project's gatsby-config.js by default to avoid infinite reload loop (from require.resolve()'s)"
## Description

When using instructions from https://www.gatsbyjs.org/packages/gatsby-source-prismic-graphql/ (e.g. using Gatsby + Prismic via GraphQL), there's a conflict in Gatsby's webpack-dev-server configuration. The development server should ignore at least `gatsby-config.js`, since it's lazy requiring (e.g. `require.resolve()`) the templates.

A workaround to get rid of this problem is to a

[2020-03-03 07:44] jussikinnula commented on #21922
I might have time to fix this in next month, if nobody else can't.

[2020-03-03 08:23] garethiv commented on #21879
@pvdz hey I tried to delete one by one following the bellow steps:

1-Deleted .cache & ran gatsby develop > same error message & creation of redux folders
2-Deleted node_modules & ran npm install > got a bunch off different permission errors on something else this time (logs below) - I switched over to Windows CMD and everything worked fine (install & gatsby develop & no redux folders being create

[2020-03-03 08:31] #21535 closed

[2020-03-03 08:40] yurist38 opened #21923 "Add link to Starters to the main menu of the website"
## Summary

I suggest adding a link "Starters" to the main menu

### Basic example

Right now there is no quick and intuitive way to access the page with all starters. I think the "Starters" link should be included in the main menu of the website.

### Motivation

To simplify users' access to the starters

...
Please let me know if there are any reasons why it's not there now. And if you agree wit

[2020-03-03 08:46] kanolato commented on #21923
Ill take this one @yurist38

[2020-03-03 09:08] pieh commented on #21535
Published in `gatsby-cli@2.10.0` / `gatsby@2.19.26`

[2020-03-03 09:29] pvdz commented on #21922
Maybe @wardpeet has some insight here to help you out.

[2020-03-03 09:35] pvdz commented on #21920
Hi @LorenAmelang and thanks for your report :)

According to @LekoArts the tools will install python 3 so this is a matter of the docs being outdated.

[2020-03-03 09:35] pvdz commented on #21920
cc @gatsbyjs/learning

[2020-03-03 09:40] styxlab opened #21924 "How to transform from HTML to HTML / rewriting gatsby-transform-remark?"
## Summary
I have an `html` node in my GrapghQL tree that was previously sourced in by `gatsby-source-ghost`, so the `html` node contains a blog post. Now I want to transform that `html` with a couple of transformer plugins similar to the `transform-remark` collection. I have played around with some options but would like to **initiate a discussion about the best approach**.

## Options

**1. Rewr

[2020-03-03 09:40] pvdz commented on #21879
Very strange indeed :( One option is that the new changes to the cache inadvertedly cause incorrect permissions to be set somewhere in the chain. But they don't (or at least, shouldn't) change anything in the `node_modules` folder. It might just be a red herring and caused by a different change in the same set (although I remember there aren't that many changes for that patch bump)

[2020-03-03 09:49] mustofa-binary commented on #11645
what if i want to navigate from other page to nested routes like this <Link to='blogs/blog#how-to-tackle-issues'>View</Link>. this still gives me warning

[2020-03-03 10:01] pvdz commented on #21916
Hi @afucher. Thanks for your report.

I've confirmed the problem. Trace:

Bug introduced in https://github.com/gatsbyjs/gatsby/commit/fda78f1f9e6ed0af75fa9bca19c5cf0ad283889e#diff-51865a2ea87f4bfd5fb20a85ed340a9bL25 by https://github.com/gatsbyjs/gatsby/pull/21792
Then https://github.com/gatsbyjs/gatsby/pull/21876 tried to fix it which is leading to the current problem where the node does not have

[2020-03-03 10:03] pieh commented on #21920
Hey @LorenAmelang! In principle I do agree with you, but the issue is a little more nuanced:

Gatsby still supports Node 8, which comes with npm@^5, which comes with node-gyp@^3.6.2

If you look at docs for node-gyp@^3 ( https://github.com/nodejs/node-gyp/tree/v3.8.0 ), you will find that in this scenario you do need to use python@2.7 and python@3 is actually not supported.

On newer Node versions

[2020-03-03 10:29] pvdz commented on #21913
@ThewBear could you please look into this?

[2020-03-03 10:29] AntonioRedondo commented on #20920
Having the same error when running `npm run dev`:

![image](https://user-images.githubusercontent.com/5444421/75766945-da95f080-5d39-11ea-9315-5212db98a3ee.png)

[2020-03-03 10:32] maxym49 commented on #21193
You didn't mention the live URL, but no problem mate. Here it is:
https://gatsby-link-problem.konarskimaks.now.sh

[2020-03-03 10:38] #21916 closed

[2020-03-03 10:39] pieh commented on #21920
Also to add to above. Gatsby itself doesn't make use of `node-gyp` - setting `node-gyp`/`python` is needed for some dependencies that we don't control. Notably to build `sharp` package if there is no prebuilt binary available for system, but there are more dependencies that need `node-gyp`

[2020-03-03 10:54] georgevgs opened #21929 "Command failed with exit code 1: npm install"
I am getting this error when I try to create a new gatsby website (gatsby new gatsby-site)

info sharp Using cached /home/george/.npm/_libvips/libvips-8.8.1-linux-x64.tar.gz
ERR! sharp Please delete /home/george/.npm/_libvips/libvips-8.8.1-linux-x64.tar.gz as it is not a valid tarball
ERR! sharp zlib: unexpected end of file
info sharp Attempting to build from source via node-gyp but this may fail

[2020-03-03 11:00] pvdz commented on #21896
Looking forward to your PR :) Be sure to tag @gatsbyjs/learning

[2020-03-03 11:00] jussikinnula commented on #21922
Actually ignoring `gatsby-config.js` doesn't seem to work as intended, but anyway - this problem is tied so that when changing some files (in `src/` -directory), at some point webpack-dev-server (that `gatsby develop` started) just gets stuck. I think it maybe helps a little bit to add `aggregateTimeout` - but in the end - there should be a way to ignore files, so that the indefinite reloading loo

[2020-03-03 11:00] FilipMessa opened #21930 "BUG: Broken documentation page, search for Gatsby starter"
## Description

When a user tries to search for the gatsby starter app failed.

![bug-docs](https://user-images.githubusercontent.com/6354326/75769192-07500500-5d46-11ea-8877-53e4df217789.gif)

[code]

### Steps to reproduce

1. go to https://www.gatsbyjs.org/starters/?v=2
2. write some text into the search starter field

### Environment

Chrome: Version 80.0.3987.122 (Official Build) (64-bit)
Fir

[2020-03-03 11:01] pvdz commented on #21864
Looking forward to your PR :) I'm sure @gatsbyjs/learning has some thoughts on this as well

[2020-03-03 11:08] pvdz commented on #21930
Thanks for reporting.

This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/21916 which is fixed but the website just has to rebuild.

[2020-03-03 11:08] #21930 closed

[2020-03-03 11:13] pvdz commented on #21929
Hi @georgevgs

The message is telling you that you have installed Sharp with a different nodejs version than your current nodejs version. This happens for example when you upgrade nodejs, or use something like `nvm` to switch versions.

Sharp uses a binary which is compiled explicitly against the current nodejs version. So if that version changes, sharp's binary dependency also has to be rebuilt.

[2020-03-03 11:13] #21929 closed

[2020-03-03 11:15] ThewBear commented on #21913
I couldn't reproduce. Could you give me an example code?

[2020-03-03 11:23] pvdz commented on #21879
I wonder what's trying to rename folders to add the suffix `.DELETE` to it. That's definitely not my change. You posted a log that contained it, like OP, but for a different folder.

[2020-03-03 11:25] brisa-pedronetto commented on #21647
Sure thing! In my (template) component I have this code:

[code]

I want to have access to the image URL to generate the static pages with this template component, and not load each image when the component gets rendered/re-hydrated. Do you see a way?

[2020-03-03 11:26] pvdz commented on #21879
Could you paste the debug.log log that npm prints? Or well, I'm interested in the stack trace. What's the source of this rename call.

[2020-03-03 11:33] pvdz commented on #21904
Hi @daniel-winter

I think you should be able to achieve what you want with client-side routing. This doesn't scale very well, but should be fine for error pages with different languages.

Docs: https://www.gatsbyjs.org/docs/adding-app-and-website-functionality/#client-only-routes

[2020-03-03 12:01] nojaf commented on #21896
This seems to be working for me
[code]

My query
[code]

[2020-03-03 12:02] georgevgs commented on #21929
Thanks! Seems to work perfectly now

[2020-03-03 12:23] jussikinnula commented on #21922
So far what I've discovered. Actually the indefinite loop has nothing to do with Webpack. The problem is in `page-hot-reloader`. Basically it should trigger rebuild only if needed.

[2020-03-03 12:45] jussikinnula commented on #21922
Fix might be by changing this: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/requires-writer.js#L199-L217

Instead of using debounce, we actually need to ensure that there's only one running function at the time.

But this is not the full solution, since during createPages (which is triggered by files changing) `debouncedWriteAll` still gets called indefinite amount

[2020-03-03 12:49] henrikfalck commented on #17345
Sorry for the late response guys!

In my case I didn't really need more pages than the project pages, so I removed these two

[code]
[code]

 from my `gatsby-node.js`. I haven't encountered this error on any other project, so I'm not 100 % sure what caused it. This is what `gatsby-node.js` currently looks like:

[code]

[2020-03-03 13:41] elliott-greaves-babylon-health opened #21932 "Gatsby Image lazy loading intermittently fails to trigger onLoad callback. (Chrome only)"
## Description
I am finding `Gatsby-Image` is intermittently failing to display the full-size lazy loaded image, leaving the blurred variant visible. This only occurs when loading a web page from a cold cache. Refreshing the browser window once renders the images as initially expected.

### Steps to reproduce
1. You will need a Gatsby application with Contentful added as a data source.
2. Within R

[2020-03-03 13:47] mokyox commented on #21864
Thanks @pvdz! I was considering doing a PR but perhaps it might be better to wait for see what the @gatsbyjs/learning team thinks?

[2020-03-03 14:11] gamitics commented on #21142
i want to work on this
having experience of English to Marathi translation from last 3 years,translated few local documents for NGOs and worked for Blind foundation also
i am new in open sourcing but i worked as a social servant.

[2020-03-03 14:13] spielers commented on #21142
@LecoArts assign us this repo

[2020-03-03 15:13] daniel-winter commented on #21904
Thanks @pvdz for your answer. I will have a look.

[2020-03-03 15:15] laurieontech commented on #21864
This certainly seems like an area we could expand on! I'd be open to a PR for this :)

[2020-03-03 15:27] cpboyd commented on #21913
@ThewBear After trying to make a simplified reproduction, it seems like it only happens with theme workspaces. I'll try to get you a repro

[2020-03-03 15:32] freiksenet commented on #21901
@chpio You should pass extension of file explicitly, does it work?

[code]

[2020-03-03 15:44] jnsrikanth opened #21934 "Graphql queries in MDX"
## Description

Graphql queries not working in gatsbyjs mdx blog files.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

I plan to make graph

[2020-03-03 15:52] maltoe opened #21935 "Reuse fragments at runtime for client-side GraphQL query"
Hello, 👋

thanks for making Gatsby! 💚

## Summary

We have a site that feeds from a custom GraphQL endpoint and would like to query the same GraphQL endpoint at runtime and reuse the component fragments.

## Relevant information

* The project uses `gatsby-source-graphql` to source data from an external GraphQL endpoint
* We have Apollo-Client set up in a component that fetches data from the same

[2020-03-03 15:56] chpio commented on #21901
1. Why *should* i do that? The doc even says, that it *can* be passed in:

2. to pass it in i need to know it, but i do not. My first workaround was to just pass in ".jpeg", but then i needed the actual extension (to generate the `download` argument on an `<a>` tag)
3. a crash is clearly a bug

[2020-03-03 16:27] marcysutton commented on #21324
This has come up a few times before, and we’ve kept the links there for strategic reasons. I would request that we investigate alternative styling to keep those links in, if possible.

[2020-03-03 16:38] cpboyd commented on #21913
@ThewBear here's a stripped down repro: https://github.com/cpboyd/gatsby-ts-workspace-bug

[2020-03-03 17:05] cyrilf opened #21938 "Hot reloading is not working when extending gatsby-config with a require statement"
## Description

Given that I replaced my `gatsby-config.js` siteMetadata section with a `require('content/site-metadata.json')` statement, when modifying this json file, the hot-reloading isn't occurring.

The require statement and everything works nicely, only the hot-reloading is affected.
I don't know if this is due to an issue with the webpack config itself? I haven't extended my webpack confi

[2020-03-03 17:15] mokyox commented on #21864
Thank you @laurieontech! I've created PR [here](https://github.com/gatsbyjs/gatsby/pull/21939). 😄

[2020-03-03 17:17] tesseralis commented on #21324
@marcysutton could you elaborate on what the strategic reasons are? I can change the issue to be less prescriptive in a solution and just outline the general possible confusion

[2020-03-03 17:20] muescha opened #21940 "feat(gatsby-cli): show update notification with gatsby --version"
## Summary

the gatsby command should also print the update notification

### Basic example

when i run `gatsby develop` i get an update notification
i would be nice to see this update info also after `gatsby --version`

[code]

### Motivation

if i check the version it would be nice also to see if there any updates available

[2020-03-03 17:44] wesbos commented on #21823
It would be awesome if gatsby-image `<Img>` handled this for us. Gif doesn't work? Just render a regular image tag.

[2020-03-03 17:59] CanRau commented on #15074
Just for reference @YungTosti probably meant to link to https://github.com/gatsbyjs/gatsby/issues/15073

[2020-03-03 18:15] tounsoo commented on #21909
@Js-Brecht that worked!!!! you are awesome! I was totally not looking at that direction. You saved me so much time ❤️

[2020-03-03 18:17] Js-Brecht commented on #21909
Glad to hear! :+1:

I am closing this as resolved

[2020-03-03 18:17] #21909 closed

[2020-03-03 18:18] gaearon commented on #17914
To clarify. Here's what I mean

[code]

This wouldn't reproduce all hydration issues (e.g. the ones caused by `typeof window` checks) but should be a reasonable start?

[2020-03-03 18:21] Jimbob001 commented on #20867
Not stale!! Just haven't had enough time to put together the minimal reproduction written :)

[2020-03-03 18:52] herecydev commented on #21938
I don't think that will work currently. There is a file watch on the `gatsy-config.js` [but that's it](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/internal-data-bridge/gatsby-node.js#L126-L130)

I'm not sure how feasible fixing it would be. Couple of solutions spring to mind:

1. Build an AST with something like https://github.com/dependents/node-detective-e

[2020-03-03 19:07] TylerBarnes commented on #21647
Ah, I see what you mean.

What you could do is implement [`onCreateNode`](https://www.gatsbyjs.org/docs/node-apis/#onCreateNode) to fetch these media details during `sourceNodes` and add them as a field on the `WordpressPost` node with [`createNodeField`](https://www.gatsbyjs.org/docs/actions/#createNodeField)

The code would be something like this (but not exactly like this):

[code]

You should

[2020-03-03 19:16] pieh commented on #17914
What kind/class of hydration issues could be caught by using `renderToString` + `hydrate` with instances of same component as input?

[2020-03-03 19:37] wokejacqueline commented on #6291
Can confirm after forcing my project to use Sharp on the yield branch, I am no longer experiencing segfaults with image processing. Previously, I would experience them almost every build, multiple times.

THANK YOU SO MUCH! 🥳

[2020-03-03 20:01] jaminhaber commented on #21905
@herecydev
I agree that JSON/ yaml is very useful but it would also be helpful in some instances to read simple files in as a string. Sometimes it doesn't make sense to have a JSON file for a single property when a .txt file could do the same thing.

Since the file is already being picked up by the transformer, I feel like granting developers access to the raw text (even with JSON/YAML) couldn't h

[2020-03-03 20:11] LorenAmelang commented on #21920
I suspected there was something deep going on there! Thank you for knowing the details I could never have realistically dug up.

Maybe there could be a note beside those Python 2.7 lines in the Windows doc page, pointing to this issue...  And anywhere else 2.7 is still mentioned?

[2020-03-03 20:14] laurieontech commented on #21920
As a general rule we try not to link to issues from the docs if we can help it.
An alternative might be explaining the dependency being pulled from python 2.7 and while it's still the correct version to use?

[2020-03-03 20:15] #21864 closed

[2020-03-03 20:59] juanpprieto commented on #18216
Experiencing the same shadowing issue.

Any updates on this one?

[2020-03-03 22:01] muescha commented on #21909
@tounsoo how you solved and fixed your problem?

[2020-03-03 22:03] tounsoo commented on #21909
@muescha I removed the replacing.

As @Js-Brecht mentioned, I replacing `<a>` with gatsby's `<Link>` component in my `gatsby-browser.js`. Because `<Link>` always adds `/` as a base path, the hash link added by autoheader was also getting the base path from it.

[2020-03-03 22:06] wfendler commented on #21879
I'm running gatsby with [`netlify dev`](https://github.com/netlify/cli) inside of the VS Code terminal on macOS Catalina 10.15.3. Shortly after the project starts up (usually with `gatsby clean && netlify dev`) I get an error like the one below and it continues creating "reduxcache" folders until I close the terminal

[code]

<img width="207" alt="Screen Shot 2020-03-02 at 6 12 08 PM" src="https:/

[2020-03-03 22:08] Js-Brecht commented on #21909
One issue I just thought about... if you do want links that point to other internal routes, they won't navigate properly.

Might need to do something like this (pseudocode):
[code]

[2020-03-03 22:27] rathesDot opened #21942 "Search on starters"
## Description

If you go to https://www.gatsbyjs.org/starters/?v=2 and start searching (the input field for searching starters, not the main search), you will get a blank page.

### Steps to reproduce

_see above_

### Expected result

You should see filtered results based on the input value.

### Actual result

Page breaks and renders nothing.

### Environment

Gatsby website, the starters page.

[2020-03-03 22:29] muescha commented on #21909
You can also set the base path with - did you tried this?

https://www.gatsbyjs.org/docs/path-prefix/

[2020-03-03 22:39] tounsoo commented on #21909
@muescha Did not try that. Can I pass empty prefix as well?

[2020-03-03 22:47] cyrilf commented on #21938
Thanks for your quick answer.

Yes, I assumed the solution was going to be complex..

I used `gatsby-source-filesystem` to watch my `json` file already and the watch was working (I can see the log in the console), however `gatsby-config` doesn't seem to catch the changes (maybe because of the `require` statement? I don't know much about webpack behaviors).

Anyway, as a workaround, I'm using `gats

[2020-03-03 22:57] cyrilf commented on #20734
I'm experiencing the same issue as @caseykey
As a workaround I used `JsonFiles` instead of `Json`

So in my case it's:

[code]

[2020-03-03 23:05] shannonbux commented on #13377
Going to modify this because I don't think it's helpful to invite everyone to learn about plugin authoring. Is it possible to detect if the user is doing specific plugin authoring type activities, and *then* invite them to learn more about plugin authoring?

[2020-03-03 23:18] talves commented on #21879
@pvdz the explanation above by @wfendler  was the same exact thing happening in WSL, so it looks like it is not contained to just WSL, since he is on a Mac.

[2020-03-04 00:04] #21135 closed

[2020-03-04 00:07] afucher opened #21943 "Error when deploying on Gatsby Cloud and/or Netlify"
## Description
I'm getting this error when trying to deploy this [site](https://github.com/astroregulus/regulus-site) on Netlify or Gatsby Cloud:
[code]

### Steps to reproduce

I've tried to reproduce it locally (in 2 machines, deleting caches also) but locally it works (build and develop).
Just occurs when trying to deploy do Netlify or Gatsby Cloud.

### Expected result

The site should build a

[2020-03-04 00:11] afucher commented on #21943
I've added some console logs to get more information on netlify build console. It seems that it is not able to find by id my second data on graphQL

[code]

The first one returns data, but the second one no. But both files are there, and locally the build works.

[2020-03-04 00:15] melilocacr opened #21944 "Error loading a result for the page query"

[2020-03-04 00:28] erquhart commented on #21251
Not stale

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 00:44] mrlubos commented on #17914
Ooh, so this is what was tripping me up. My use case was to display a welcome message on page load. However, I don't want this message to appear in meta tags if you were to share the page on social media, so I won't render it during the build.

[code]

Changing this to `false` will cause the content to briefly flash before rendering the welcome message, whereas setting this to `true` won't satisfy

[2020-03-04 01:20] maxcan commented on #4636
@interglobalmedia I'm experiencing the same.  did you ever resolve that?

[2020-03-04 01:22] AishaBlake commented on #21324
We've been talking about some reorganization/redesign and I feel like these are valid concerns. We may choose not to work on this right now but I think we should keep it mind when we have that conversation. @tesseralis, I'm assuming this isn't blocking anything to do with i18n and is instead something you noticed while doing that work?

[2020-03-04 01:32] tesseralis commented on #21324
@AishaBlake not really. It's just "one more thing that we have to translate but it would be nice if we didn't have to."

[2020-03-04 02:14] KyleAMathews commented on #21905
A `gatsby-transformer-txt` would be great for this! Check out this tutorial on how you could create it. https://www.gatsbyjs.org/docs/creating-a-transformer-plugin/

[2020-03-04 02:23] CanRau commented on #17914
This article by @joshwcomeau might be interesting as he explains pretty good what's happening.
https://joshwcomeau.com/react/the-perils-of-rehydration
I had an idea yet his post made it more clear, I think.
Explaining in depth with examples why your issue happens @mrlubos

[2020-03-04 02:51] muescha opened #21946 "docs: add info about location.href"
## Summary

- add section about `location.href` is not available in SSR

### Motivation

some mistakes are coming from using `location.href` in server side rendering - but there is no place in docs where is a hint about this

[code]

### References

https://css-tricks.com/how-to-the-get-current-page-url-in-gatsby/#article-header-id-4

## Steps to resolve this issue

### Docs

maybe placing infos h

[2020-03-04 03:18] jfrolich commented on #10050
We have the same problem (single bundle and above error), with `babel-plugin-react-native-web`.

[2020-03-04 03:28] muescha commented on #21909
@tounsoo sorry wrong idea

[2020-03-04 03:32] muescha commented on #21909
@Js-Brecht maybe also check if it is not an local site link, then also use an `a` link

[2020-03-04 03:41] jnsrikanth commented on #21934
@ChristopherBiscardi and @jonniebigodes - any pointers here would be of great help.

[2020-03-04 03:55] moonmeister commented on #20949
After updates to plugins from recent pull request emotion is no-longer causing issues. My most recent error is:

[code]

Here is a reproduction that shows it is related to `gatsby-plugin-sitemap`
https://github.com/moonmeister/reproduction-gatsby

[2020-03-04 04:30] jonniebigodes commented on #21943
@afucher do you mind if i take a look at it? I'll clone the repo tomorrow and possibly provide you with a solution. Do you mind waiting a bit?

[2020-03-04 04:37] ilanah commented on #21790
I don’t want to risk security so I don’t want to use this option...
Any other way to solve this?

[2020-03-04 04:55] muescha commented on #21027
reminder to me: PR to update the docs

[2020-03-04 04:57] jfrolich commented on #10050
For some reason it's just creating a single app-[hash] bundle. I also walked through every plugin (and disabling them and build again, but no plugin seem to cause this).

[2020-03-04 07:07] herecydev commented on #21938
It sounds like a great approach to me

[2020-03-04 07:43] Usamaliaquat123 commented on #21705
@tesseralis right I think it causes the problem with  `toLowerCase` or  `includes` cause its getting undefined..

[2020-03-04 07:47] Usamaliaquat123 commented on #21942
@rathesDot  right I think it causes the problem with  `toLowerCase` or  `includes` cause its getting `undefined`..

[2020-03-04 07:50] lastingman commented on #20389
After I installed libpng, this issue still occurs.

[code]

[code]

[code]

[2020-03-04 07:55] Strangehill commented on #20985
I'm glad that we changed our mind on changing class components to function components.

Some work duplication could have been avoided if the following pre-existing PRs had been taken into account:
- [#12218](https://github.com/gatsbyjs/gatsby/pull/12218)
- [#14920](https://github.com/gatsbyjs/gatsby/pull/14920)
- [#17142](https://github.com/gatsbyjs/gatsby/pull/17142)

[2020-03-04 08:01] Chad97 commented on #20389
@lastingman 删除 node_modules  然后 `yarn ` 试一下

[2020-03-04 08:35] Pet3ris commented on #20786
Still blocked on this I'm afraid.

[2020-03-04 08:56] stevebeauge commented on #21894
Very quick resolution ! Thanks !

I confirmed it works as expected in netvibes now.

[2020-03-04 08:58] muuvmuuv opened #21950 "[gatsby-plugin-mdx] cannot find module"
## Description

I'm trying to add a custom plugin to `gatsby-plugin-mdx`. I've made sure:

- It is located in `/plugins/gatsby-remark-normalize-url`
- It has a `package.json` file and `index.js`
- It is added into `gatsby-config.js`

[code]

[code]

### Steps to reproduce

My project: https://github.com/muuvmuuv/portfolio (changes not included but can be added)

1. add a plugin described above int

[2020-03-04 09:10] mrlubos commented on #17914
That’s what brought me here @CanRau 😬

[2020-03-04 09:24] akkie commented on #10487
In my opinion, the plugin should handle the HTTP status code from the GraphQL API. If it's a non 2xx status code, it should show the status code and the response instead of the `Unexpected token < in JSON at position 0` error.

[2020-03-04 09:44] pvdz commented on #21942
Thanks for reporting.

I've filed #21951 which should fix this issue.

[2020-03-04 09:46] #21942 closed

[2020-03-04 09:53] gadzet opened #21952 "gatsby-source-patronus not found on npm"
## Summary
Not sure if Its a documentation or a bug, but in the environment variables documentation there is an option to use something called `gatsby-source-patronus` which is not available on npm. On top of that there is no documentation on how to retrieve the value in the front end after adding it as an option.

https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/environment-variables.md

[2020-03-04 10:08] Usamaliaquat123 opened #21953 "Reference Guide link to 404 page guide"
[Reference guides](https://www.gatsbyjs.org/contributing/gatsby-style-guide/#what-kinds-of-docs-can-i-write) link to [add a 404 page](https://www.gatsbyjs.org/docs/add-404-page/) guide.

[2020-03-04 10:29] jelhouss commented on #16076
I am having this issue on `FF/Mac (v73.0.1)` and `create-react-app
` and it fixed it!
But does anyone know why this happens?

[2020-03-04 10:39] LekoArts commented on #21952
Thank you for opening this!

All the code shown in this documentation page is example/dummy code. It's not supposed to work and there isn't such a package. It's not the goal of this doc to teach you how to use a source plugin, even if it would do that: We would share a ENV var publicly and that's exactly what this document is telling you to not do :)

Hope that clears things up a bit.

We're marki

[2020-03-04 10:39] #21952 closed

[2020-03-04 10:52] nadiavanleur opened #21957 "gatsby-source-contentful Rich Text Invalid string length"
## Description
### TL;DR
I added a lot of content and started to use Contentful's links to entries when I started getting this error:
[code]
---
My project was going absolutely fine until I added a lot more content to Contentful. I also started to use @contentful/rich-text-react-renderer, which I think might be relevant. When I tried to run `npm run dev` or `npm run build` after adding the content

[2020-03-04 10:59] expatguideturkey opened #21958 "Gatsby cache issues"
I have hosted my Gatsby public folder files on root of the host server (Plesk). Whenever I update the new version of my Gatsby website I still see old version on some of the pages. Is there a way or a gatsby plugin to clear the browser or server cache whoever is causing this issue.

[2020-03-04 11:06] barbalex commented on #21621
I can see the exact same issue but I am not using react-toast-notifications.

You can test it by:
- open https://evab.ch/events
- click "Actors" in the top navbar
- see "Navigated to Actors" under the content

I have absolutely no idea why this would happen.

I _did_ notice that it does _not_ happen when you do this:
- open https://evab.ch
- click "Actors" in the top navbar
- see _no_ "Navigated t

[2020-03-04 11:51] expatguideturkey opened #21959 "Gatsby Animation Plugin Not working on mobile"
I am able to submit my the contact form in the footer on desktop version but not on mobile. "Send message" button and message text box of the contact form is not clickable on mobile. Below is my code for this form. Please advise.

[code]

Below is the Gatsby plugin that I am using for animation:

[code]

[2020-03-04 12:03] #21076 closed

[2020-03-04 12:15] sonusynup commented on #1517
I'm still having issue with graphql schema when I run query against non-existing data(Editor might have unpublish the data from Contentful). Any workaround for it????

[2020-03-04 12:47] afucher commented on #21943
Just to add more information, on Netlify it works and failed for the same commit:
![Captura de Tela 2020-03-03 às 21 25 08](https://user-images.githubusercontent.com/3756185/75881011-1e9df980-5dfd-11ea-9d27-5d8fd2f83da5.png)

[2020-03-04 13:03] LekoArts commented on #21959
Thank you for opening this!

We don't maintain this plugin and this also doesn't sound like a bug in Gatsby. Please reach out to the plugin author or look into your site's code.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/

[2020-03-04 13:03] #21959 closed

[2020-03-04 13:15] LekoArts commented on #20786
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-04 13:16] nadiavanleur commented on #17233
This, or a similar problem still occurs for me. Could you confirm this is related? [#21957 ](https://github.com/gatsbyjs/gatsby/issues/21957)

[2020-03-04 13:16] LekoArts commented on #21958
Thank you for opening this!

You'll need to incorporate the correct caching headers in your Plesk setup. A reference is here: https://www.gatsbyjs.org/docs/caching/

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/

[2020-03-04 13:16] #21958 closed

[2020-03-04 13:18] muuvmuuv commented on #16239
Found a workaround for the image issue, just add `remark-unwrap-images`:

[code]

I guess it should be easy to adapt this plugin to embedded video and others as well.

[2020-03-04 13:22] LekoArts commented on #21579
Thank you for opening this!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) if you have questions that are not bug reports or feature requests. We hope we managed to help and thank

[2020-03-04 13:22] #21579 closed

[2020-03-04 13:24] vladar commented on #21935
Hey @maltoe

Sadly, there is no easy way to do this at the moment.

Gatsby extracts queries in build-time (basically during babel pass). Interpolation makes it harder to do this. In theory, we could support a limited subset of interpolation but that would make things way harder to maintain and can make things more confusing (like why do we support one case of interpolation and not the other).

The

[2020-03-04 13:26] Ekwuno opened #21962 "[doc] : Improve doc on GraphQL to offer explanation on concepts"
## Summary
This issue is filed from a tweet by Laurie Voss on improvements to be made to existing GraphQL docs. We need to answer questions like

- What is a node again? Is that a gatsby thing or a graphql thing? How do I create one?

- Where do I... put the data? There's an id, a parent, children, a complicated "internal" thing... where do I put the title, body, etc. of my blog posts, which are t

[2020-03-04 13:27] LekoArts commented on #21938
Thank you for opening this!

As Dan already mentioned this is somewhat of a bad pattern to get your data. The config is read once at the beginning, afterwards you can't expect hot reloading. Using a `useStaticQuery` is totally valid and I would also recommend doing that.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue

[2020-03-04 13:27] #21938 closed

[2020-03-04 13:31] LekoArts commented on #21944
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-04 13:34] wardpeet commented on #21157
@slorber I don't immediately see how we can fix this. We don't know if you want to merge or want to override. You can include our babel-preset-gatsby yourself.

[2020-03-04 14:14] ENvironmentSet commented on #15601
Oops, sorry for my mistake, I didn't knew that referencing issue from another repository effects to it's source.

[2020-03-04 14:57] slorber commented on #21157
sure, I do this, just reported because @sidharthachatterjee  asked me on twitter :)

[2020-03-04 16:05] frantic1048 commented on #7464
Sorry for the disturb, yet another typestyle user here.

@humphreybc

I'm using typestyle@2.0.4 and gatsby@2.13.39 now, and have made typestyle work properly with gatsby's SSR without touching `html.js`

2 steps:

1. Write typestyle CSS into generated page during static rendering:

[code]

2. Call `typestyle.setStylesTarget` after client finishes first rendering:

[code]

[2020-03-04 16:11] gillkyle commented on #19196
We added this guide in #19966, I'll close now, though the ideas in original post could add some more cool functionality!

[2020-03-04 16:11] #19196 closed

[2020-03-04 16:12] gillkyle opened #21966 "(docs): add most visited pages on gatsbyjs repo to Troubleshooting Common Errors guide"
## Summary

A few months ago a guide called [Troubleshooting Common Errors](https://www.gatsbyjs.org/docs/troubleshooting-common-errors/) was made to aid discoverability of issues that many people kept stumbling into.

I wandered across a traffic page on the repo (https://github.com/gatsbyjs/gatsby/graphs/traffic) that showed some issues were getting the most page views. I think that adding specif

[2020-03-04 16:17] LekoArts commented on #21913
Also seeing the issue. You can clone https://github.com/LekoArts/gatsby-themes and run `yarn` and then `yarn workspace minimal-blog develop` and see a bunch of errors like:

[code]

[2020-03-04 16:20] esentai8 commented on #16455
I added below config to the gatsby-config.js:
`{
      resolve: "gatsby-source-filesystem",
      options: {
        name: "src",
        path: `${__dirname}/src`,
      },
    }`

[2020-03-04 16:21] Js-Brecht commented on #20949
@moonmeister that ones a bit more tricky.  The package `pify` will be an issue, as well, btw.

Those two packages are used in `gatsby-ssr`, so they are getting bundled up into `public/render-page.js` by Gatsby, via Webpack.  Then uses `jest-worker` to render the HTML, so setting up Webpack aliases/module resolution and stuff won't work.  Since there winds up being a `require("minimatch")` and `req

[2020-03-04 16:37] nemophrost commented on #21840
I should add that I ran into this bug when creating pages from remote data at build time (using createFileNodeFromBuffer in gatsby-node). If two of my pages had the same character count the second one in would get skipped because it had the same digest.

[2020-03-04 16:59] kayali1411 opened #21968 "gatsby-node.js file in themes"
I am wondering if I can add gatsby-node.js to gatsby project when I am using a theme.
I checked the document [building-a-theme](https://www.gatsbyjs.org/tutorial/building-a-theme/), I found nothing is mentioned about adding gatsby-node.js to gatsby project.
I need to add this file to the project in order to fetch data from a different data source.

[2020-03-04 17:28] brisa-pedronetto commented on #21647
That helped a lot, thank you! My code turned out as follows. I also changed the structure of the "sizes" data to match exactly what I need:

[code]

[2020-03-04 18:03] MadhaviS commented on #21957
I am also facing the exact issue

[2020-03-04 18:17] Js-Brecht commented on #21909
This is a little bit more robust.  TBH, this seems like something `gatsby-link` should do itself... but maybe the intent was to keep the purpose/usage of `gatsby-link` strictly for internal routing?  This also seems like logic that would have to be duplicated over and over, in different projects... I wouldn't be surprised if there's a package already out there that serves this purpose, but maybe i

[2020-03-04 18:24] fool opened #21970 "requesting slightly more verbose docs for gatsby-plugin-netlify's `mergeSecurityHeaders` setting"
## Summary

It was not obvious from reading https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/ (particularly the [configuration section](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/#configuration) that the `mergeSecurityHeaders` set the following header rules widely:

[code]

using `MergeSecurityHeaders: false` does indeed disable them.  Could we get an explicit mention of what t

[2020-03-04 18:48] #21953 closed

[2020-03-04 18:58] hcgaron commented on #18048
This is a massive productivity killer.  I've spent the last hour trying to bring my STARTER to life, just to add styled components!  Docs need to reflect this IMO.

[2020-03-04 19:05] j218 commented on #17233
Hey @pvdz my team is running into the same issue. Gatsby build breaks right after run queries with the same error log:
"node[8201]: ../src/node_buffer.cc:420:v8::MaybeLocal<v8::Object> node::Buffer::New(node::Environment*, char*, size_t): Assertion `length <= kMaxLength' failed."

I updated gatsby to the version mentioned and looked into gatsby-source-contentful. A site with 15k+ pages and a lot o

[2020-03-04 20:11] #14125 closed

[2020-03-04 20:23] verekia commented on #17914
I haven't tried this yet but it seems like a possible workaround could be temporarily replacing `react-dom` by `react-dom/cjs/react-dom.development.js` so that we get the hydration warnings even in production mode. Seen in https://github.com/facebook/react/issues/17499.

You would only do that when you notice weird bugs or just once in a while for sanity check, and put back `react-dom` when you're

[2020-03-04 20:48] marcysutton commented on #21562
Should this issue and PR be tagged with `topic: i18n`?

[2020-03-04 21:47] arielcavalcante commented on #3425
I spent hours suffering not knowing this. THANK YOU.

[2020-03-04 21:48] muuvmuuv commented on #21950
This however works:

[code]

[2020-03-04 22:19] jonniebigodes commented on #21943
@afucher sorry for the delay, but i was just waiting for a build to go through. I've checked your repo and i have a solution for you.

Your particular issue is a multi pronged one and took a bit of changes. Going to detail a bit more the steps i took to solve this.

- Forked your repo.
- Cloned it locally.
- Installed the dependencies.
- I checked the code while a production build was being create

[2020-03-04 22:33] jonniebigodes commented on #21934
@jnsrikanth can you make a small repo with with the code you posted in your issue description? So that it can be better looked at? I don't mind taking a look at it, but with a repo backing this up would go a long way. Sounds good?

[2020-03-04 22:44] jonniebigodes commented on #11225
@myhendry to give you some context. The example code in the repo you mentioned is meant to show you that you're not bound to the Gatsby graphql layer exclusively, you can use apollo just fine without any issues. More even if you should need more than just fetching the data, more specificaly if you need to do some mutations or probably subscriptions. Technically there aren't any differences, the th

[2020-03-04 22:47] sapkra commented on #18983
Found this one, it's quite new:
https://www.gatsbyjs.org/packages/gatsby-plugin-ts-config/

[2020-03-04 23:03] MorrisonCole commented on #18983
That's the plugin written by @Js-Brecht two posts above 😉

[2020-03-04 23:06] sapkra commented on #18983
@MorrisonCole Yeah, that's the reason I've removed my comment two seconds after posting it.
Note for me: I have to read before posting something. 😅

[2020-03-04 23:44] Js-Brecht commented on #18983
And it will soon have babel support by default.  Just need to finish the docs.

[2020-03-05 00:06] myhendry commented on #11225
Thanks @jonniebigodes for the explanation. Got it :)

[2020-03-05 02:26] pieh commented on #21251
https://github.com/netlify/cli/blob/master/src/utils/command.js#L99 well here's netlify CLI trying to output directly to stdout, which `ink` supposed to have sole ownership of. This will make `ink` try to fight it.

It's not obvious how to solve this because to my understanding `gatsby` is spawned in separate process that inherit same stdio as `netlify dev` process?

[2020-03-05 02:32] pieh commented on #21251
In general `ink` was introduced because of issues when multiple "interactive" elements would fight for control over stdout which would result in flashing progress bars - something like this:
![example](https://user-images.githubusercontent.com/71047/51065658-e7e29f80-15ba-11e9-8840-0c2af9c3d3a7.gif)

This is similar case, just here is something in completely different process which can't be reconc

[2020-03-05 02:42] pieh commented on #21251
While I don't suggest to make this change in netlify CL master, as experiment, I I do wonder if changing https://github.com/netlify/cli/blob/master/src/utils/command.js#L99 to `stderr` from `stdout` would result in output not being cut 🤔

Other idea (more involved one) is to investigate `ink` internals and possibly make improvements there to prevent issues like that

[2020-03-05 02:46] pieh commented on #21251
Here's issue in `ink` about this https://github.com/vadimdemedes/ink/issues/162

[2020-03-05 03:06] ReillyBova opened #21975 "Prefix-paths not always prefixing static assets on build"
## Description
When I run `gatsby build --prefix-paths` after running `gatsby clean`, all of the paths in my site are appropriately link; however, if I run `gatsby build --prefix-paths` again (without cleaning), certain assets lose their path prefix. This affects the assets that have a link starting with `/static/` in particular, and effects objects across my site, such as images loaded with Gatsb

[2020-03-05 04:40] muhajirdev commented on #21885
I am also having the same problem.

[2020-03-05 05:15] jnsrikanth commented on #21934
@jonniebigodes sure that sounds a good idea. I will send you a minified repo with the above configuration very shortly.

[2020-03-05 06:18] muescha commented on #21909
👍

[2020-03-05 06:27] muescha commented on #18048
since this problems are not sticked to special receipt, maybe it would be good to hava a faq section or most common problems with the recipes and how to solve this?

[2020-03-05 06:28] Js-Brecht commented on #20949
#21976 is submitted for `gatsby-plugin-sitemap` fix

[2020-03-05 06:59] aditya-lw opened #21977 "Error: Callback was already called."
## Description

Site build fails when trying to deploy from netlify. Works and successfully builds when running locally.

### Expected result

Should build and deploy like as it happens locally.
### Actual result

![Screenshot from 2020-03-05 12-23-02](https://user-images.githubusercontent.com/60033184/75955794-92fb9a00-5edc-11ea-9b36-14d4f226cf53.png)

### Environment

Run `gatsby info --clipboar

[2020-03-05 07:24] Js-Brecht commented on #21950
Check out how `gatsby-plugin-mdx` resolves those plugins [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-mdx/gatsby/source-nodes.js#L98-L100).  It doesn't use Gatsby's method for resolving plugins... it just does a `require()`.

It probably wouldn't be hard to make it to use [Gatsby's plugin resolver](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/b

[2020-03-05 08:51] jnsrikanth commented on #21934
@jonniebigodes - here you go.
https://github.com/jnsrikanth/github-mdx-repo

Let me know.

[2020-03-05 09:03] garethiv commented on #21879
So I deleted the node modules folder again - the complete npm log output is below

[code]

[2020-03-05 09:03] LekoArts commented on #21968
Thank you for opening this!

Sure, you can use gatsby-node.js, gatsby-browser.js, gatsby-ssr.js or gatsby-config.js
In particular gatsby-node.js is used in the tutorial here: https://www.gatsbyjs.org/tutorial/building-a-theme/#define-resolvers-for-any-custom-fields-slug

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue t

[2020-03-05 09:03] #21968 closed

[2020-03-05 09:07] kayali1411 commented on #21968
Thanks for your quick response!
Actually I am asking on the ability to add `gatsby-node.js` to gatsby project` not `gatsby-theme`
so I will have two different `gatsby-node.js` files one in the theme another one in the project that running theme, is that doable?

[2020-03-05 09:35] LekoArts commented on #21968
Yeah, you can do that :)

[2020-03-05 09:39] MadanBhandari commented on #21879
+1

[2020-03-05 10:03] pvdz commented on #21879
@wfendler

I hope you don't mean in like an infinite loop? That'd be pretty bad and a little weird. (Unless gatsby gets auto-restarted by something, every time)

/app.js is unrelated to the cache, though.

One thing I noticed now is this line

Why is the "source" not an absolute path? I see the same in an earlier report above so that's not a mac thing. I wonder if that's just a loggging artefact o

[2020-03-05 10:16] pvdz opened #21980 "WSL problems while npm installing"
Split from https://github.com/gatsbyjs/gatsby/issues/21879

There appears to be an issue that's specifically hitting WSL users when they're trying to install a starter. Reported by @garethiv and supported by @talves

## Steps to reproduce

1.Install WSL Ubuntu 18.04
2.Curl install npm
3.Install gatsby with npm install -g gatsby-cli
4.New gatsby app with gatsby new blog https://github.com/gatsbyjs/

[2020-03-05 10:25] Chad97 opened #21981 "Gatsbyjs of webpack config ？"
[code]
- Error： TypeError: Cannot read property 'UglifyJsPlugin' of undefined

How do I configure webpack `plugins` —— `UglifyJsPlugin`?

[2020-03-05 10:28] #21577 closed

[2020-03-05 10:29] pvdz opened #21982 "WSL: Problem renaming `reduxcache` while saving the redux cache"
This is split from https://github.com/gatsbyjs/gatsby/issues/21879

There appears to be a problem for a select number of users when Gatsby wants to save the cache. In particular, moving the temp folder to the main cache folder (through a rename) seems to fail. Reported by @talves, @davidalekna, @huy-nguyen, and maybe @wfendler (the source of their problem is probably caused by this).

It appears t

[2020-03-05 10:31] pvdz commented on #21879
@garethiv thank you for that report. Something cleared up that I somehow missed. There are two issues at play here; one is when installing npm and the other is the redux cache problem. They are conflating but I'm convinced they are separate issues since in the first case Gatsby never gets to run at all.

As such I'm going to close this ticket and open two new ones. Please continue your discussion

[2020-03-05 10:31] #21879 closed

[2020-03-05 10:36] pvdz commented on #21879
(There is still the possibility that renaming, through nodejs or otherwise, is just broken on WSL. But since npm is hit by this as well I don't expect us to be doing anything crazy to trigger this kind of problem suddenly.)

[2020-03-05 10:41] pvdz commented on #21982
Can anyone confirm they have this problem in `gatsby build` as well? I only have confirmation for `gatsby develop` right now. This would help a lot since there's way more moving parts in `develop`.

[2020-03-05 10:53] jdrag12 commented on #12040
Hello, I have read all the comments on this issue because I have the same problem. This [handleSubmit function ](https://github.com/sw-yx/gatsby-netlify-form-example-v2/blob/master/src/pages/contact.js)works for me in Local (200 res), but once deployed in Netlify, throws a 404 error. It is strange because I can see the page which I am redirected (/success).

[2020-03-05 11:03] pieh commented on #21970
We have couple of plugins that document options in different ways:
 - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/README.md#configuration-options
 - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/README.md#how-to-use
 - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/README.md#options

It would be ni

[2020-03-05 11:35] marcinczenko commented on #2009
@Rulikkk I appreciate your answer. The only reason I still use `gatsby-transformer-remark` next to MDX is the support for `childMarkdownRemark` via `content` attribute from the frontmatter. I know I can use regular javascript import in MDX, but I still did not have time to see how can I remove the default export at the end of the file being imported (the document I need to include in another docum

[2020-03-05 11:38] pieh commented on #21981
Few things here:
 - if you want to target browser bundles - `stage` should be `build-javascript` (`build-html` is for static .html files)
 - we use Terser plugin (not uglify js) and you also need to use `optimization.minimizer` and not `plugins`

Here's working example:

[code]

The options for terser are largely compatible with uglify options - but you can check those in https://github.com/terser

[2020-03-05 11:38] #21981 closed

[2020-03-05 13:06] Phizzard opened #21985 "docs(gatsby-theme-blog): instructions for avatar"
## Summary

When installing the gatsby-theme-blog into an existing site there is no mention of an image in the defined assets directory named "avatar" that will populate an image used in `<Post />` --> `<PostFooter />` --> `<Bio />`.

Nothing necessarily breaks, it just isn't apparent unless you're starting a new site with the starter, expecting it, or digging through source code.

### Motivation

[2020-03-05 13:08] dmitriyaa commented on #21966
Hi @gillkyle, I can try to do this one 🙂

[2020-03-05 13:10] valse opened #21986 "gatsby-plugin-schema-snapshot avoid WebP picture source from a Json data source"
Hi, I have a project with some Json as data source: I added the `gatsby-plugin-schema-snapshot` plugin to speed up my build time and I saw that the images served by the `gatsby-image` component stopped delivering the WebP picture source.

Here a demo of the issue: https://codesandbox.io/s/infallible-snow-i60fj

I changed the `image` component to get the image `childImage` field querying the Json s

[2020-03-05 14:21] edmcman commented on #21885
@muhajirdev I was only using postcss for css nesting.  I switched to sass instead, which works fine.

Also, unclear if it's related to this: https://github.com/giuseppeg/styled-jsx-plugin-postcss/issues/32

[2020-03-05 14:37] LekoArts commented on #21823
Yeah, that would be another option. However, then again people would complain (if we'd do that silently) that their gif is not using the gatsby-image component.

[2020-03-05 14:48] afucher commented on #21943
Hey @jonniebigodes , first of all, thanks for all the explanation and tests.
If I understand correctly, the best approach is to query the data on the `gatsby-node.js` and pass to the template through the `context`, right?

I wasn't able to understand why it's not working today, maybe a need more knowledge related to gatsby.

[2020-03-05 15:14] pieh commented on #21977
I tried to reproduce using https://github.com/netlify-templates/gatsby-starter-netlify-cms and wasn't able to (either locally or on netlify).

Could you try to bump `gatsby-plugin-netlify-cms` to latest? I checked with version 4.1.40 and your version is 4.1.35 so that might have been fixed already?

If updating plugin doesn't fix anything, we will need reproduction repository for this

[2020-03-05 15:48] pieh commented on #21946
On top of documention, we can make trying to access `location.href` to throw error in code (which would contain link to appropriate docs. Alternatively we could maybe construct `.href` for SSR? But I feel like constructing it ourselves might just hide some problems and introduce even more problems (subtle, and hard to debug)

[2020-03-05 16:28] pieh commented on #21986
This is certainly a bug that I can reproduce.

As a workaround (for now), you can exclude `gatsby-transformer-sharp` from snapshot plugin:

[code]

Which seems to make it work again.

I'm not sure where to attribute this bug to. With snapshot enabled (and not excluding types from sharp transformer), we get following types in schema:

[code]

Now, resolver for `fluid` field works fine ( https://git

[2020-03-05 16:32] jaminhaber commented on #21905
@KyleAMathews Thank you, I will look into that :)

[2020-03-05 17:05] muescha commented on #20225
can you check which packageManager is used?
[code]

if yarn then you have to type

[code]

before you can call `gatsby develop`

[2020-03-05 17:07] muescha opened #21989 "chore(cli): gatsby info and gatsby --version should print which packageManager used"
## Summary

`gatsby info` and `gatsby --version` should print which `packageManager` used

### Motivation

Some errors resulting because of `yarn` is selected as `packageManager` but in tutorials and other places then `npm` is used for installing. to identify this it would be nice to have some hints at `gatsby info`

### related Issues

- #6834 `gatsby develop is not working after npm install`
- #

[2020-03-05 17:19] Js-Brecht commented on #20949
@ozimos #21978 should fix the problem with `gastby-plugin-typography`

[2020-03-05 17:35] jonniebigodes commented on #21943
@afucher no need to thank. I mentioned pulling all the data in `gatsby-node.js` due to the fact that you're pulling in the same data in `gatsby-node.js` and in the template and also based on the fact that the data itself is not that "big", so with that in mind you could prevent some unnecessary queries to run when the build is triggered. But that's just me as a bit more experienced with Gatsby and

[2020-03-05 17:46] muescha opened #21990 "docs(tutorial): tutorial/part-three -> walkthrough failing if yarn is selected as packageManager"
## Summary

when the `packageManager` in `~/.config/gatsby/config.json` set to `yarn` then the walkthrough failing (see related issues)

### Basic example

passible changes and enhancements:
- warning, when yarn is selected as packageManager but a `package-lock.json` exists and is newer than the `yarn.lock`
- allow to set the `packageManager` per project folder
- add a hint to the tutorial to try

[2020-03-05 17:49] connorlindsey commented on #14040
Hi, I noticed this is still a stub and was wondering if the team would like help with it? I was planning on writing a bit about how Gatsby can benefit businesses and other clients and felt like that could be helpful here.

[2020-03-05 18:05] DSchau opened #21991 "Test test ignore"
Hello hello! Testing something, please ignore :)

[2020-03-05 18:05] DSchau commented on #21991
Link to feature: https://gatsby.productboard.com/feature-board/planning/features/4115193

[2020-03-05 18:06] #21991 closed

[2020-03-05 18:10] gillkyle commented on #21966
Thanks @dmitriyaa that would be great!

[2020-03-05 18:19] jonniebigodes commented on #21990
@muescha i was going over this and it seems that the middle one could be the way to go.

When the user installs the cli globally he has the option to set the package manager. When he uses the cli it will default to the one set at the time of installation. But like other CLI's that exist something like CRA and the vue cli they allow you to initialize the project with package manager of choice throu

[2020-03-05 18:25] pieh commented on #21989
Notes on this - we use [`update-notifier`](https://www.npmjs.com/package/update-notifier) to print out this information

By default, it will keep track of last check and only limit it to 1 check per day. Package doesn't have builtin method to "force check", but we might be able to trick it with setting `updateCheckInterval` option to something really low (1s?) for `--version`/`info`. Would need to

[2020-03-05 18:37] jonniebigodes commented on #9016
@sfonua10 can you make a reproduction with your code and packages, following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can better looked at?

[2020-03-05 18:39] TrentYetzer commented on #21932
I am having the exact same issue, and I have not really been able to find anything that helps. Additionally, when I try to use the `...GatsbyImageSharpFluid_noBase64` fragment to avoid lazy loading the image, it does not appear altogether. However, I don't have any of the issues listed above with gatsby develop, only with gatsby build.

[2020-03-05 19:12] muescha commented on #21989
@pieh I think You note was to this issue #21940 `feat(gatsby-cli): show update notification with gatsby --version`

[2020-03-05 19:16] pieh commented on #21989
Ops, yes sorry I had 2 tabs open with your CLI issues and of course wrote in wrong tab ;) Will "move" the comment when I'm back in front of computer

[2020-03-05 19:25] blainekasten opened #21995 "[Umbrella] TypeScript Migration (Help wanted!)"
## Hello Community!

Gatsby is rewriting our core codebase in TypeScript! Checkout the RFC: #21798

We would love love love your help! This work is incredibly important in Gatsby being a stable product and you could be a part of it! We are looking for community members who would be willing to jump into the codebase in transition files from .js to .ts and add the proper typings. We have a few guide

[2020-03-05 19:28] salatielq commented on #10668
Tried this solution but got:
[code]

[2020-03-05 19:34] jordanlesich commented on #21831
I've been recieving similar errors on my laptop. My desktop PC simply wouldn't load any plugin from npm. I had assumed it was becuase of a space in the naming of my windows user account (a common problem apparently). I can load a plugin on my laptop, but I get this message in command prompt:

[code]

What concerns me the most is the high severity vulnerabilities. Am I good to go ahead and make sit

[2020-03-05 19:36] jordanlesich commented on #21831
I also definitely tried, 'npm run audit'. It said that 0 of 9 were fixed and that I would have to fix them manually. That's a bit beyond my comfort level with Gatsby as it is pretty much my first time using it.

[2020-03-05 19:42] jordanlesich commented on #21990
Interesting, my walkthrough failed in tutorial three when I was npm installing the typography kit. Not sure if it relates to this. NPM was my main install however. Were you running windows by ay chance?

[2020-03-05 19:43] AishaBlake commented on #21324
I'm going to go ahead and close this because it doesn't seem like we're in a position to prioritize this work anytime soon and it would need to be considered in the context of larger .org changes. Thank you for thinking through justification for each of these, @tesseralis! We'll have something to refer to when we do get to this.

[2020-03-05 19:43] #21324 closed

[2020-03-05 19:58] AaronFeledy commented on #10668
@turistua
[code]

[2020-03-05 19:59] jordanlesich opened #21996 ""Found 9 high severity vulerablilities""
BUG:
Command prompt discovers high severity vulnerabilities when installing plugins.

I am running Windows OS 18362.592. Gatsby CLI was npm installed today. Node is version 12.14.1

I am recieving this alert when I install a plugin. The plugin was the gatsby-source-filesystem, but it doesn't really matter becuase I tested it out with different plugins and recieved the same alerts.

I ran npm audit

[2020-03-05 20:26] joshcummingsdesign commented on #21791
@pieh That project looks abandoned. Is there another package that can be used in its place? Also, is `gatsby-plugin-sharp` a devDependency since it's only used in the build, or should I be worried about my production site having this vulnerability?

[2020-03-05 21:22] shannonbux commented on #13512
Figma file ready for commenting: https://www.figma.com/file/z81zOLund5Z5FCjnHnUIrN/CLI?node-id=195%3A40

[2020-03-05 21:24] shannonbux commented on #368
Figma file ready for commenting: https://www.figma.com/file/z81zOLund5Z5FCjnHnUIrN/CLI?node-id=167%3A66

[2020-03-05 21:24] shannonbux commented on #13513
Figma file ready for commenting: https://www.figma.com/file/z81zOLund5Z5FCjnHnUIrN/CLI?node-id=163%3A0

[2020-03-05 21:32] herecydev commented on #21995
I'll happily pick up gatsby-link. Been meaning to learn some more around there!

[2020-03-05 21:42] jabczyk opened #21997 "plugin-styled-components: Rendering incorrectly in production (with SSR)"
## Description
With SSR enabled, additional elements rendered client-side have incorrect styles.
Styles are generated correctly if the changes occur after the component is mounted.

Backstory: I use a Redux store that is preloaded from localStorage. Some components are conditionally rendered client-side based on the state.

### Steps to reproduce
Demo: https://codesandbox.io/s/gatsbyjs-issue-3q0wo

[2020-03-05 21:56] GKJCJG opened #21998 "Path Translation in gatsby-plugin-mdx"
## Summary

Gatsby-plugin-mdx prefers relative import paths to absolute paths, but this approach fails in a symlinked monorepo on Windows.

## Relevant information

I work on a Gatsby project in a monorepo, with one Gatsby-driven generator package and several client packages. Dependencies are managed by Lerna. Life is good for developers using Linux, and was fine on Windows until we introduced gat

[2020-03-05 21:56] mewajda opened #21999 "plugins(wordpress): build fails when talking to the REST API because of a BOM character in the response"
## Description

When building or running develop the wordpress source plugin fails talking to the wordpress REST API because there is a BOM character in the first position that gets returned in the response.  Axios silently fails and response.data is a string instead of an object.  This causes issues for the rest of the processing that needs to happen.

You can see how I fixed the issue locally he

[2020-03-05 22:15] madalynrose commented on #18803
Absolutely! I'm working on a checklist and a rich list of resources that will make it easier for people to do audits but it's not ready yet.

In the meantime, check out my posts on [how to get set up to manually test accessibility](https://www.gatsbyjs.org/blog/2019-11-13-getting-set-up-to-manually-test-web-accessibility/) and about [keyboard navigation with screen readers](https://dev.to/madalynr

[2020-03-05 22:26] leafac commented on #16018
A better solution: Pass along the options received by `setup`:

[code]

[**Source**](https://github.com/gatsbyjs/gatsby/blob/627d552f2df48ab6354cb0e271338cc0dc56d1ea/packages/gatsby-plugin-feed/src/internals.js#L29-L39)

[2020-03-05 23:55] flashimxd commented on #17826
@erichodges how did you update gatsby?
I've been trying the whole week without success....

[2020-03-06 00:17] erichodges commented on #17826
@flashimxd Hmmmm...I can't remember exactly. I'm usually using yarn, so I may have done:
$ yarn upgrade gatsby
You can read about it here:
https://classic.yarnpkg.com/en/docs/cli/upgrade/

Another way I have done it is to change the version in the package.json and then run the install again. You may need to delete the node_modules first though.

[2020-03-06 00:35] smoke-indica opened #22001 "gatsby-plugin-offline file won't be precached despite config"
## Summary

Despite configuring a larger precache limit, I still get a precache warning during deployment on render.com

## Relevant information

When deploying to render I get the following error:

[code]

I've attempted to configure the option to expand this precache limit to no success:

[code]

Is my configuration incorrect?

### Environment (if relevant)

Render.com

### File contents (if cha

[2020-03-06 00:37] lablancas commented on #14502
I had to add this to `gatsby-node.js` to get IE11 when running `gatsby develop`

*Note: make sure you install `core-js` as a dependency*
[code]

[2020-03-06 02:26] nemophrost opened #22002 "bug(gatsby-plugin-typescript): eslint configuration broken with webpack rule.loader shortcut"
## Description

If webpack rule for eslint uses the rule.loader webpack shortcut, `gatsby develop` will fail.

### Steps to reproduce

Setup a new typescript Gatsby project
Install [gatsby-plugin-eslint](https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/)
Run `gatsby develop`

### Expected result

It should run

### Actual result

Error `Cannot read property 'some' of undefined`

### Environm

[2020-03-06 02:39] Chad97 commented on #21981
- Thank you very much for your answer ！
- Can solve my problem！[emoji](good)

This configuration is not the same as `"webpack"`, I need to study it again

[2020-03-06 04:21] CanRau commented on #13946
Didn't notice you comment @LekoArts 🙏
I'll have to check 👍

[2020-03-06 04:28] CanRau commented on #17914
@verekia `webpack.resolve.alias` should do it I guess. [gatsby-plugin-alias-imports](https://www.gatsbyjs.org/packages/gatsby-plugin-alias-imports/) might help

[2020-03-06 04:50] me4502 opened #22004 "Direct-ID lookup for nodes in graphql fails in some instances"
## Description

When querying a single node by a direct-ID lookup, the query sometimes returns null. Querying for the whole list, and filtering by something such as slug finds the document fine, with the same ID.

Thanks to @DSchau for helping me debug this.

I had a feeling it was related to https://github.com/gatsbyjs/gatsby/issues/20609, but after testing on a version from before that change (2

[2020-03-06 05:57] vladar commented on #22004
Can you clarify the "random" part? I mean - if you run this query twice in GraphiQL - do you get different results? Or maybe some action during the development session changes the behavior?

[2020-03-06 06:00] me4502 commented on #22004
Sorry, by random I meant that I couldn’t find any reason why this one is the one affected.

It is always the same node, and it always fails

[2020-03-06 06:05] vladar commented on #22001
I don't have too much context here but from the first look, it seems that the limit you are trying to set is still too low:

[code]

This is slightly less than `1mb`. Your file is `6mb`. Try adding one more `0` to this limit?

[code]

And just out of curiosity, what kind of site are you working on? `6mb` sounds like a huge chunk of javascript.

[2020-03-06 06:18] aditya-lw commented on #21977
Nevermind. The error was with the version I guess. Tried 4.1.6 and it seems to work now.

[2020-03-06 06:18] #21977 closed

[2020-03-06 06:34] DSchau commented on #21996
Could you share the full alert? It'll be helpful for us to debug.

Not necessarily. These bugs tend to range from various attack vectors, and it could simply be a devDependency (which wouldn't make its way into production code). This being said, it is probably a good idea to try and get them fixed, so thanks fir opening this!

This may be the root of the problem. What do you mean "would not instal

[2020-03-06 07:01] CanRau commented on #6041
@tejedamiguel6 Not sure what you try to achieve, could you elaborate a little bit more what your goal is?
Why do you need to call it again?

[2020-03-06 07:02] vladar commented on #22004
Is it possible to get access to your project so that we could take a look locally? I'll post an email in the next message (will delete later)

[2020-03-06 07:02] vladar commented on #22004
vladimir@gatsbyjs.com

[2020-03-06 07:15] jordanlesich commented on #21996
Thank you for reply!

Here's what I get when I try to load a the gatsby-source-filesystem in my project folder

`C:\Users\Jordan>cd C:\Users\Jordan\Documents\Repos\pro-gatsby-2\testproject

C:\Users\Jordan\Documents\Repos\pro-gatsby-2\testproject>npm install --save gatsby-source-filesystem
npm WARN tsutils@3.17.1 requires a peer of typescript@>=2.8.0 || >= 3.2.0-dev || >= 3.3.0-dev || >= 3.4.0-dev

[2020-03-06 07:20] vladar commented on #21999
Thanks for creating this issue. This is an interesting topic! And probably it is a bug somewhere on the API side, not Gatsby. Because JSON specification [directly forbids BOM](https://tools.ietf.org/html/rfc7159#section-8.1):

[code]

At the same time, it allows parsers to account for it (but doesn't require it):
[code]

I think adding this check makes sense as an improvement for Gatsby but the fi

[2020-03-06 07:26] jordanlesich commented on #21996
`What do you mean "would not install," exactly?
`
In the case of my desktop, plugins either failed on npm install --save, or they littered the command prompt windows with warnings like:

`npm WARN rm not removing C:\Users\Jordan\Documents\Repos\Gatsby-Tutorials\hello-world\tutorial-part-three\node_modules\.bin\semver as it wasn't installed by C:\Users\Jordan\Documents\Repos\Gatsby-Tutorials\hello-

[2020-03-06 07:26] jordanlesich commented on #21996
Again, thank you for the reply.

[2020-03-06 07:32] vladar commented on #21998
Hi @GKJCJG !

Sorry to hear you're running into an issue. But it's hard to work on issues like this without having an example project. We'd very much appreciate if you could [provide a minimal reproduction][reproduction] or an example project and we'll be able to take a look.

Thanks for using Gatsby! 💜

[reproduction]: https://gatsby.dev/reproduction

[2020-03-06 07:52] vladar commented on #21997
Thank you for opening this, @jabczyk

I think the issue is that you are rendering different element trees on the server and on the client (using `isSSR()` check). This is not supported by React hydration process. Here is a quote from [react docs](https://reactjs.org/docs/react-dom.html#hydrate):

[code]

The whole section explains what's going on very well. Also, check out [this excellent article]

[2020-03-06 07:52] #21997 closed

[2020-03-06 08:07] vladar commented on #21996
A bit more info: all 9 audit errors are produced by the same upstream dependency `decompress`:

[code]

We depend on it indirectly - via 9 sharp dependencies. I guess we can only wait when the fix for this is released and upgrade deps after this.

[2020-03-06 08:10] vladar commented on #21996
But this is a duplicate of #21791 So I am going to close this one. Let's keep the discussion around it in one place.

[2020-03-06 08:10] #21996 closed

[2020-03-06 08:10] nojaf commented on #21896
After reading [this guide](https://www.gatsbyjs.com/docs/integration-guide/source-plugin/) I learned that it is totally fine to call `createNode` to update existing nodes.

[2020-03-06 08:10] #21896 closed

[2020-03-06 08:58] muescha commented on #21990
i am on macos

i can reproduce always it while running all the tutorial:
- with npm no error
- with yarn error

[2020-03-06 09:24] MeilleurExcellentOptimal opened #22005 "gatsby-transformer-json, no UTF8 encoding for key names ?"
Hello there,

I have a `.json` file containing french accents such as`{ "Métal": "Argent 925" }`

When using `gatsby-transformer-json` and querying my data it becomes `{"M_tal": "Argent 925"}`

It seems that JSON key names are not UTF8 encoded.

What do you think about that ?

[2020-03-06 09:35] pieh commented on #17914
@verakia @CanRau that alone might not work as-is because of the `if (process.env.NODE_ENV !== "production")` check in https://unpkg.com/browse/react-dom@16.13.0/cjs/react-dom.development.js (gatsby build will set NODE_ENV to production).

You might get around this by using webpack's define plugin and setting NODE_ENV to development for `build-javascript` stage.

[2020-03-06 09:39] pieh commented on #21981
The `plugin.minifyJS` is gatsby wrapper that uses `TerserPlugin` - so it actually is pretty much what Terser / webpack documentation is doing ( https://webpack.js.org/plugins/terser-webpack-plugin/ ), just using Gatsby APIs
:
https://github.com/gatsbyjs/gatsby/blob/627d552f2df48ab6354cb0e271338cc0dc56d1ea/packages/gatsby/src/utils/webpack-utils.js#L5
https://github.com/gatsbyjs/gatsby/blob/627d552

[2020-03-06 10:17] vladar commented on #21986
@pieh This is another rabbit hole %) But I think I've found the root of the problem.

The issue is that the type `ImageSharpFluid` is created inline as a part of `ImageSharp` type definition:

https://github.com/gatsbyjs/gatsby/blob/627d552f2df48ab6354cb0e271338cc0dc56d1ea/packages/gatsby-transformer-sharp/src/customize-schema.js#L212-L222

In other words when we call `createTypes(typeDefs)` the t

[2020-03-06 10:39] Merciful12 opened #22007 "Gatsby don't create a file node in graphql"
## Description
Gatsby when building schema don't create file node in graphql base on relative path to file.
I think problen inside [is-file.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer/is-file.js)

### Steps to reproduce
Minimal Reproduction: https://github.com/Merciful12/gatsby-bug
 - npm install
 - npm start
 - goto graphiQl
 - execute query

Query:
[code]

[2020-03-06 10:42] dmitriyaa commented on #21966
@gillkyle, just submitted a PR 🙃

[2020-03-06 11:34] vladar commented on #22005
Unfortunately, GraphQL spec allows only [alpha-numeric characters and underscore](https://spec.graphql.org/draft/#sec-Names) in field names (so that they could be safely mapped to variables in any programming language).

As a workaround you can express your data as a list of `name/value` pairs, for example:

[code]

[2020-03-06 11:55] valse commented on #21986
Yes I confirm that the workaround solve the problem, thanks: could I ignore the "File" warning too?

[2020-03-06 12:00] vladar commented on #21986
For the file warning - you could add the following to `gatsby-node.js`:

[code]

This should fix the warning. There is a bit more context on this in #19674

[2020-03-06 12:02] ehtishamgeeksquad commented on #3425
my gatsby develop is fine but build issue
E:\my projects\New folder\geekshub>gatsby develop
success open and validate gatsby-configs - 0.073s
success load plugins - 2.311s
success onPreInit - 0.007s
success initialize cache - 0.024s
success copy gatsby files - 0.208s
success onPreBootstrap - 0.020s
success createSchemaCustomization - 0.008s
success source and transform nodes - 0.256s
success build

[2020-03-06 12:03] #20614 closed

[2020-03-06 12:08] schoeneu opened #22010 "gatsby-source-filesystem: create-remote-file-node does not handle retries"
## Description
In https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L162 , gatsby-source-filesystem tries to set up retries in case the remote connection breaks when creating a new file node.

However, the "got" documentation states that for "got.stream", the retry-option is ignored:
https://github.com/sindresorhus/got/blob/master/readm

[2020-03-06 12:59] vladar commented on #22007
Thank you for opening this, @Merciful12

This is one of the known issues with Gatsby type inference. Basically, the tradeoff here is `fast` vs `precise`.

Take a look at your example. You have a single node of type `MarkdownRemark`. But this node has a bunch of nested objects most of which are empty.

<details>
<summary>Show</summary>

[code]

</details>

In order to reach a first non-null field o

[2020-03-06 12:59] #22007 closed

[2020-03-06 13:36] mewajda commented on #21999
Thank you for the information.  I will see what I can find out on the Wordpress side. I have actually run into this issue before with a non-Wordpress API, but that also used php.

[2020-03-06 13:40] BernardA commented on #21271
Not stale. Ongoing issue.

[2020-03-06 13:43] vladar commented on #22010
Thank you for opening this, @schoeneu

Gatsby uses  `got@^8.3.2` branch which doesn't have this quote in docs. But you are probably right and even if version 8 of got supports retries for streams - they are probably broken anyway. Here is a quote from one of the `got` issues about this (https://github.com/sindresorhus/got/issues/871#issuecomment-530496244):

Also related: https://github.com/sindre

[2020-03-06 13:59] Marksteinsong opened #22012 "How to mutation my data?"
## Summary

Can the graphql client of Gatsby.js used like Apollo client ?
## Relevant information

I want to make a comment on my  blog ,Implement login and sign up function etc.

And I dont want to use 3rd platform , i want to control my data 100%。

[2020-03-06 14:17] jnsrikanth commented on #21934
@jonniebigodes  and just so that I am clear - In addition to being able to import graphql inside any mdx file across the "site" folder (not just the 'pages' folder),  as a use case I am looking for a way to query for a specific blog title from within an MDX page using a graphql query and be able to apply a gatsby-link to it so that a user could navigate to a blog item from from the current MDX fil

[2020-03-06 14:46] blainekasten commented on #21995
@herecydev That sounds great! I'll put your name down! That one is relatively small and isolated, so feel free to do that whole package in one PR if you want.

[2020-03-06 15:01] paveli commented on #19980
Hi, any updates on this issue?
I am having the same problem with queries and shadowed templates.

[2020-03-06 15:25] grohlingr commented on #15601
I thinks this issue is quite important. Core.js@2 is obsolete and all the new shiny ECMAScript API wont work in old browsers. Stuff like `Array.prototype.flat`, `Array.prototype.flatMap` or `URLSearchParams` object might silently break your page for visitors using IE11, because *there is no warning you are using feature not polyfilled in corejs@2*, these APIs are not very common but might bring yo

[2020-03-06 15:28] jabczyk commented on #21997
In case it helps someone, here's my workaround for Redux's useSelector hook:
[code]

[2020-03-06 15:35] laradevitt commented on #19980
Hi @paveli - Can you tell us more? Is the shadowed component being imported? That's what this issue is about.

[2020-03-06 15:41] laradevitt commented on #4636
I'm seeing this issue sporadically on a site that has been live for awhile now. Having a hard time replicating it but I'll keep trying. As far as I know it only ever happens when dev tools is open in Chrome. All packages are  up-to-date.

[2020-03-06 16:16] cedricdelpoux commented on #2054
@likarajo It's awesome that you give me a solution with the plugin `gatsby-remark-normalize-paths` I developed myself 😄

[2020-03-06 16:20] herecydev commented on #21995
@blainekasten just a few preliminary comments. There are quite a few globals/window variables: `__BASE_PATH__`, `___navigate`, `___push`, `___replace`, `__PATH_PREFIX__`, `___loader`. Is there a strategy about making those available to typescript? I believe they're all defined from within the gatsby package.

[2020-03-06 16:27] nikita-seliverstov opened #22015 "onMouseOver event does't work after build"
Hi I ran into a problem with onMouseOver event in video tag:
` <video class="video-slide" src={video}
  onMouseOver={event => event.target.play()}
  onMouseOut={event => event.target.pause()}
  loop >` which works absolutely fine in dev mode but after build onMouseOver does't execute

Env:
gatsby 2.19.18
react 16.12.0

[2020-03-06 16:27] jonniebigodes commented on #22012
@Marksteinsong if you mean using Gatsby data layer and by that the graphql portion of it to apply a crud functionality in your site, then no. Gatsby's data layer is a "one way street" it's designed to pull in data, if you want to use mutations and/or subscriptions, you'll have to use something like Apollo to handle the mutations aspects of the data. Going about this in portions, login/signup you c

[2020-03-06 16:27] blainekasten commented on #21995
@herecydev those variables are def meant to be like "private" "secret" variables.. So I don't think we'll expose any types from gatsby package as they are only meant to be used in a few places. I think the best course of action would just be to define types for them in the `gatsby-link` package.

[2020-03-06 16:29] paveli commented on #19980
@laradevitt right, maybe my case is more general.
When I try to shadow any component with GraphQL queries inside I receive errors like that:

[code]

[2020-03-06 16:30] henricazottes opened #22016 "How to display source file for conflicting fields types?"
Hi,
When building my site containing a lot of `.md` files full of frontmatter, I get warnings about conflicting field types. This is a valuable information, but it's missing one thing: which files are conflicting.

I've seen this conversation [here](https://github.com/gatsbyjs/gatsby/pull/3905) where you can see screenshots with the path to the source file.
![Screenshot](https://camo.githubusercon

[2020-03-06 16:33] vladar commented on #22012
Hey @Marksteinsong

This is a good question! Gatsby data layer exists only during build time. After that, it is transformed into HTML and plain JSON files which you can deploy as a static site.

So at the moment if you want to use Apollo on the client, you need a separate GraphQL server. Check out [this talk](https://youtu.be/wNUg1jpj9T0?list=PLz8Iz-Fnk_eQGt4-VFFCXYuYcuKaw4F07) on this subject and

[2020-03-06 16:33] #22012 closed

[2020-03-06 16:37] vladar commented on #22015
Hi @nikita-seliverstov !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could

[2020-03-06 16:48] buck06191 commented on #21982
Hey @pvdz, I get the same error when on WSL and using `gatsby build`
![image](https://user-images.githubusercontent.com/9122944/76103764-26f75f80-5fca-11ea-9813-408e8ace547a.png)
This is on WSL Version1 running an Ubuntu image.

[2020-03-06 16:52] #14403 closed

[2020-03-06 17:00] vladar commented on #22016
Hi @henricazottes !

Thanks for this question. This sounds like a reasonable thing to have. The PR you linked is for Gatsby v1. But I did some digging and looks like we stopped displaying the source after #16091.

There is actually this comment: https://github.com/gatsbyjs/gatsby/pull/16091/files#r316047900 which hints that it is probably possible to restore this behavior.

@freiksenet Do you reme

[2020-03-06 17:03] buck06191 commented on #21982
Hey @pvdz, I think I have found the problem. After deleting the cache and running `npm install` again I found that I was hitting `EACCES` errors again but unrelated to Gatsby. A bit of a Google investigation yielded this [forum post](https://forum.openzeppelin.com/t/npm-err-error-eacces-permission-denied-rename-wsl-with-vs-code-open/1549).
I'd opened VS Code from WSL which appears to lock some fol

[2020-03-06 17:03] laradevitt commented on #19980
Ah, you're right, it does look the same. I posted about that one [here](https://github.com/gatsbyjs/gatsby/issues/19863#issuecomment-562708925) (it looks like you've already found it) but I think it's a different issue and probably not windows-specific. I agree that it seems buggy.

It's been awhile so I'll run my demo with updated packages to see if the error still exists.

[2020-03-06 17:10] ekuiter opened #22017 "gatsby-image: noscriptImg does not escape attribute values"
## Description

In https://github.com/gatsbyjs/gatsby/blob/3666917d7218433e0ae0adde6bd024e358e83ba0/packages/gatsby-image/src/index.js#L233, the noscriptImg function (which is responsible for displaying images when JavaScript is disabled) uses string interpolation to inject the passed props:

https://github.com/gatsbyjs/gatsby/blob/3666917d7218433e0ae0adde6bd024e358e83ba0/packages/gatsby-image/src

[2020-03-06 17:23] Eddie-CooRo commented on #12832
Hey @stefanprobst
I have something similar to what you wrote, but now gatsby says:
`Querying GraphQLUnion types is not supported.`
Did I miss something?
Does it work if I write a custom resolver for it?

[2020-03-06 17:44] vladar commented on #22017
Hey @ekuiter !

Thanks for creating this issue. I can confirm it - minimal reproduction is as simple as creating a new site from blog starter and adding `title` (with a `"` character) to `Image` component inside `bio.js`.

[2020-03-06 17:57] Nezteb commented on #4123
[@nbw's solution of restarting the development environment worked for me.](https://github.com/gatsbyjs/gatsby/issues/4123#issuecomment-462093357)

It seems like when updating markdown files while `gatsby dev` is running, the GraphQL schema isn't regenerating with the updated content. Or at least, it's updating it slowly and sometimes thinking that certain fields are empty. 🤷‍♂

[2020-03-06 17:59] laradevitt commented on #19980
Confirming that the issue still exists in the demo repo with updated packages. Another workaround (but only if you are coming at this as a theme developer) is to remove the query name altogether from the component being shadowed; unique names will be generated for each query. Not very intuitive though! Especially given that importing the component doesn't work. 🤷‍♀

[2020-03-06 17:59] iDVB commented on #19527
We have a very similar issue with gatsby trying to build axios and not having the right babel deps or something, this results in a successful build but an unstable axios as seen [here](https://github.com/axios/axios/issues/1178#issuecomment-595883506).

[2020-03-06 18:03] vladar commented on #21957
Hi @nadiavanleur !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

You can probably use [contentful starter](https://github.com/cont

[2020-03-06 18:09] talves commented on #21982
@buck06191 good catch! Kinda makes sense that it might be caused by VS Code.

[2020-03-06 18:31] skingston91 commented on #21932
I have the same issue, working fine with gatsby develop locally but once deployed to zeit now with the git integration my images are only loading the placeholder images. I can see the complied json has the full srcSets etc but they are never loaded.

[2020-03-06 18:41] jordanlesich commented on #21791
@vladar Sorry, this is mostly for my own understanding, but how is this related to the error that I had? I hadn't installed either of these plugins.

[2020-03-06 18:42] smoke-indica commented on #22001
You're right, after changing it I'm getting the following precache message now `info Generated public/sw.js, which will precache 8 files, totaling 6811195 bytes.` (no error).

My site is blog, using the lumen starter

[2020-03-06 18:42] #22001 closed

[2020-03-06 19:19] nshaphan commented on #21739
@tesseralis were you able to find a list of components that need to be tested? also, take look at my pull request, I need your feedback!

[2020-03-06 19:23] pieh commented on #21791
Possibly. All of those affected deps of deps are for minimizing images.

`gatsby-plugin-sharp` is not included in result bundles, but images it produce, are.

The `decompress` there is used to decompress image processing archives, etc and later on compile them to binaries. It doesn't accept arbitrary payload - only what `imagemin-x` package have hardcoded, that it's needed to build. In other words

[2020-03-06 19:37] alexandria-lewis commented on #25
@janosh would that work if they draft files are in pages?? I tried that but they were built anyway. So this config did not work for me.
`{
            resolve: `gatsby-source-filesystem`,
            options: {
                path: `${__dirname}/src/pages`,
                ignore: process.env.NODE_ENV === `production` && [`**/draft-*`],
            },
        },`

[2020-03-06 19:53] thinklinux commented on #17812
@jonniebigodes that helped a lot! Thanks!

[2020-03-06 20:46] aminkhp commented on #21995
I'm excited to contribute, which package do you suggest for starting?

[2020-03-06 21:07] blainekasten commented on #21995
@aminkhp awesome!! I would love it if we could just start chunking off individual files in PRs. Want to tackle `gatsby-core-utils`? I would love if you just did one file per PR as they are all very isolated.

[2020-03-06 21:09] blainekasten commented on #15277
drop `gatsby-image` prop `critical` as it's been deprecated for a while.

[2020-03-06 21:10] #21985 closed

[2020-03-06 22:46] robertrbairdii commented on #21995
I'd be happy to contribute some types. I'd be able to tackle `gatsby-page-utils`.

I took a peek at `gatsby-core-utils` by the way, and it looks like `true-case-path` is just an empty file. I'm not sure if that's intentional, but it might be worth deleting from the repo and removing from the list? https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-core-utils/src/true-case-path.js

[2020-03-06 23:03] #22002 closed

[2020-03-06 23:43] TylerBarnes commented on #21975
Hi @ReillyBova , thanks for opening an issue and for providing a reproduction!
I pulled down your repo, ran `gatsby build --prefix-paths && gatsby serve --prefix-paths` and noticed your path prefix is missing a leading slash.
That means Gatsby was trying to serve from `http://localhost:9000courses/archive/spring20/cos426` (notice `:9000courses`)

I adjusted your Gatsby config like so `pathPrefix:

[2020-03-07 00:03] apmsooner commented on #21444
My approach works fine. Closing issue.

[2020-03-07 00:03] #21444 closed

[2020-03-07 03:40] CanRau commented on #8946
@jonniebigodes `file.node.modifiedTime` won't work on CI at least not as expected from my experience as modified time will be set to the time CI cloned the file not your computers time or am I missing something?

Other than that I like the idea and even tho I'm not sure it matters think adding <lastmod> could be useful 👍

[2020-03-07 04:06] blainekasten commented on #21995
@robertrbairdii Great! If you could chunk up the work and submit 1 PR for each line I had, that would be fantastic.

Good point re the gatsby-core-utils. cc @aminkhp

[2020-03-07 06:18] fandy commented on #11006
Same issue here. Except the blank page only happens on mobile (dev tools + actual iOS device)

[2020-03-07 07:41] mottox2 commented on #21995
I'd like to try `src/commands/build-javascript.js`.

[2020-03-07 09:36] MeilleurExcellentOptimal commented on #22005
@vladar Thanks for your answer. Now I understand.

[2020-03-07 09:36] #22005 closed

[2020-03-07 09:47] kije commented on #21212
I've encountered this issue in another case with `gastby@2.19.32`.
I have components written in typescript (using `gatsby-plugin-ts`, so "real" typescript not `babel-preset-typescript`) and I'm getting the error in components which also export typescript interfaces together with the component, even when there is no graphql query whatsoever.

Example:

[code]

If I export the interface like this:
[

[2020-03-07 10:51] styxlab commented on #21924
I finally decided to go for option 2. If you are also in need of a solution, please check out the plugin I wrote [gatsby-transformer-rehype](https://www.gatsbyjs.org/packages/gatsby-transformer-rehype/?=rehype).

[2020-03-07 11:27] olee commented on #17506
This issue is still relevant and should be reopened I think

[2020-03-07 11:30] jlkiri commented on #21995
I spent some time in `src/redux/actions/public.js` before, so I think I can help with it.

[2020-03-07 13:51] robertrbairdii commented on #21995
@blainekasten I was looking at the `.babelrc` while converting `gatsby-page-utils` and I noticed that there is no reference to `@babel/plugin-transform-typescript` in `babel-preset-gatsby-package` (https://github.com/gatsbyjs/gatsby/blob/master/packages/babel-preset-gatsby-package/index.js
). And running a test build, the converted `.ts` files don't make it to the `/dist` folder.

The babel config

[2020-03-07 14:22] nikolayval opened #22030 "How I can show Yandex Ads into MDX-posts"
Hello!

In some time ago I send question, how I can show Yandex Ads into my Gatsby MDX-posts. It's Google Adsense analog from Russia.

Here is my question: https://github.com/gatsbyjs/gatsby/issues/21853. Also I ask my question in Gatsby Discord group.

But I don't get answer to my question(( Please, can you look and help me? https://github.com/gatsbyjs/gatsby/issues/21853

Sorry for bad English,

[2020-03-07 14:47] ycruzb commented on #11966
How can I get the 5005 url param in this case ?

Regards

[2020-03-07 16:16] jonniebigodes commented on #8946
@CanRau the `file.node.modifiedTime` doesn't work because technically speaking repositories like GitHub or Gitlab have no concept of modified time for files. And by extension the CI like Travis Circle operate under the assumption of the data provided by the code in the repo. As they consume the data incoming from said sources. To allow this to fully display times and dates you probably have to go

[2020-03-07 16:23] ytric commented on #7713
I am getting the same issue. any update?

[2020-03-07 16:52] mksh-su commented on #21791
So what should we do as Gatsby users? I'm kinda worried about this vulnerability.

[2020-03-07 17:10] rbelow commented on #20642
The PR is now merged, @muuvmuuv . How do you proceed normally with the documentation @blainekasten ? Should a new issue be opened for the documentation update or should it be done within the scope of this one?

When can this issue be closed?

For the other two plugins you mentioned @muuvmuuv :
- https://prismjs.com/plugins/copy-to-clipboard/
- https://prismjs.com/plugins/show-language/

Is still a

[2020-03-07 18:32] beelee commented on #11934
running: `yarn add react-dom@npm:@hot-loader/react-dom` solved the issue for me.
[Rewire - (Yarn) Any other system](https://github.com/hot-loader/react-dom#yarn-any-other-system)

[2020-03-07 19:54] afucher commented on #21943
Hey @jonniebigodes ,

I was taking a look to your code to check the solution, and I have a question: In your first attempt to solve the issue the query is using the `id`field to search, but I think that it should be `curso_id` [here](https://github.com/jonniebigodes/regulus-site/blob/master/src/templates/curso.js#L83)

[2020-03-07 20:36] jonniebigodes commented on #21943
@afucher ignore the code in the first approach, it's commented out because of something else. i forgot to take it out before commiting to the repo. Sorry for any misleads it has caused.

[2020-03-07 20:38] jonniebigodes commented on #17812
@thinklinux no need to thank, glad to know that my comment helped you out aswell.

[2020-03-07 20:40] afucher commented on #21943
no problems. I changed my repo to use the pageContext, and now I'm able to deploy it again.
I've checked your solution and it also works, but I prefered to use the pageContext this time.

Thanks again for your explanation and support.

[2020-03-07 20:40] #21943 closed

[2020-03-07 21:04] jonniebigodes commented on #21943
@afucher no need to thank, glad that i was able to help you out and you managed to get a working deploy once again. If you don't mind i'm going to remove my Netlify/Gatsby cloud deployments and i'll keep the forked repo temporarly for bit longer, should you want to revisit this. Sounds good?

[2020-03-07 21:06] herecydev commented on #21995
@robertrbairdii I came to the same findings on my PR: https://github.com/gatsbyjs/gatsby/pull/22027

It wasn't obvious at first, but lucky there is some prior art in the `gatsby-cli` project to look at. It might be worth a ticket to sweep through all the packages to support ts, which will make the files more approachable as a whole

[2020-03-07 21:12] danielkov commented on #21995
I would love to help out and I don't have any preferences. Can you recommend me some parts to migrate?

[2020-03-07 21:25] MichaelDeBoey commented on #21995
@danielkov Seeing by @blainekasten's comment (https://github.com/gatsbyjs/gatsby/issues/21995#issuecomment-595965697), I think you could start in `gatsby-core-utils`

[2020-03-07 21:28] danielkov commented on #21995
@MichaelDeBoey I also have my eyes on gatsby-cli/src/structured-errors if nobody else is on it and then move onto `gatsby-core-utils` in another PR. Does that sound good?

[2020-03-07 21:28] pecata83 commented on #10867
Same issue here.

I have a site using about 30 images that generate more than 1k thumbnails.

[2020-03-07 21:31] MichaelDeBoey commented on #21995
@danielkov That one's already taken by @LekoArts in #20597

[2020-03-07 21:32] danielkov commented on #21995
I see #22031 is addressing one of the files of `gatsby-core-utils`. Should I wait for that merge, or start independently and resolve conflicts when done?

[2020-03-07 21:40] MichaelDeBoey commented on #21995
@danielkov You can just start working on it.
The conflicts can be fixed before merging. 🙂

[2020-03-07 22:38] dthunn commented on #16455
Just had the same issue, added an image to  media assets like suggested and it worked.  Makes no sense but did the trick...

[2020-03-07 23:46] danielkov opened #22041 "[chore]: migrate gatsby-core-utils to TypeScript"
### Description

This is a ticket to keep track of all the individual PRs for each file required to update this package to TypeScript.

Umbrella: #22040

[2020-03-08 00:00] MichaelDeBoey commented on #22041
This is already tracked in #21995

[2020-03-08 00:25] danielkov commented on #22041
@MichaelDeBoey I wanted to keep track of `gatsby-core-utils` related changes separately for convenience. Both tickets are mentioned in PRs. Is this something I shouldn't do?

[2020-03-08 01:11] varlevi commented on #21664
Hi! I'm on node 13.10.1 and I'm still having this exact problem.

Environment

[code]

Following this error is printed:

[code]

[2020-03-08 01:16] MichaelDeBoey commented on #22041
I don't see any benefits in tracking the same thing twice

[2020-03-08 01:24] danielkov commented on #21995
@MichaelDeBoey my currently open PRs include all the closed ones at the moment. If you have the time will you double check that this is now correct?

[2020-03-08 03:12] jnsrikanth commented on #21934
@jonniebigodes - had a look into it? Were you able to find something? Looking forward to it.
Silence nowadays from you makes me a bit nervous... ;)

[2020-03-08 03:39] blainekasten commented on #22041
@danielkov No worries on the duplicate issue. It'll be closed soon after we merge all of your PR's :)

One request that I see consistent on all of your PRs is that we want to change our exports to be named exports and shy away from export default. Can you make that change in all your PRs?

[2020-03-08 04:21] geocine commented on #14673
If you delete `package.json` how will it know what to install?  I am also experiencing this

[2020-03-08 04:31] blainekasten commented on #22041
Also tests are failing. Let me know when you get that fixed up!

[2020-03-08 05:43] vlknhslk opened #22064 "gatsby-transformer-sharp 2.3.17 regression: You can't use childImageSharp together with"
After updated my previous 'gatsby-transformer-sharp' plugin package - started getting this error below:

**Actual result**

**Enviroment**

**.mdx file**

[2020-03-08 05:56] panzerstadt-dev commented on #18271
@dcastil just wanna say you saved my bacon! thanks!

would you or anyone here know how to find these type definitions that are defined by gatsby?this seems to be the only answer to something that Gatsby would have documentation to.

[2020-03-08 06:21] steffieharner opened #22066 "Building product Javascrript and CSS bundles failed (WEBPACK ERROR #98123)"
This is my first time using Issues and reaching out for help from the public. @_@
Link to my repository [here](https://github.com/steffieharner/100daysofcode).

## Description

I am able to build fine for development, but not production.

### Steps to reproduce

`yarn develop`

### gatsby-config.js

[code]

### package.json

[code]

### Expected result

Have a nice build in `/pubilc` to deploy.

#

[2020-03-08 08:02] usachev-dev commented on #10394
@tfasolino-crak you saved me, very arcane problem

[2020-03-08 09:27] arku commented on #20678
@bball07 I would like to fix this.

/cc @wardpeet

[2020-03-08 10:06] #21924 closed

[2020-03-08 11:13] JustFly1984 opened #22070 "[gatsby-core-utils] update from 1.0.28 to latest causes 3 typescript errors with default export with `configstore` and `module` dependencies, and gatsby-link"
[gatsby-core-utils] update from 1.0.28 to 1.0.30 brings new dependency configstore "^5.0.0", which causes errors in typescript

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: ht

[2020-03-08 11:15] JustFly1984 commented on #22070
actually issue is part of updating babel-preset-gatsby

<img width="917" alt="Screenshot 2020-03-08 18 14 10" src="https://user-images.githubusercontent.com/2255993/76161744-d2d6b180-6168-11ea-8555-8c5928a21043.png">
<img width="919" alt="Screenshot 2020-03-08 18 14 29" src="https://user-images.githubusercontent.com/2255993/76161745-d66a3880-6168-11ea-8261-6fc8d696570b.png">
<img width="919" alt="

[2020-03-08 11:20] JustFly1984 commented on #22070
and also this:
<img width="920" alt="Screenshot 2020-03-08 18 20 04" src="https://user-images.githubusercontent.com/2255993/76161814-82138880-6169-11ea-8153-a97324136490.png">
<img width="911" alt="Screenshot 2020-03-08 18 20 17" src="https://user-images.githubusercontent.com/2255993/76161816-863fa600-6169-11ea-9498-bd123949ff3e.png">

[2020-03-08 11:22] JustFly1984 commented on #22041
#22070

[2020-03-08 11:42] itejman commented on #21664
@varlevi you need node version min. 13.7+

[2020-03-08 12:09] muuvmuuv commented on #20642
Hey @rbelow, not now. I have anyway coded it my own with `prism-react-renderer` which is more flexible together with `gatsby-plugin-mdx` but thank for the work. I still think that for other people this is important, to have the same experience with primjs in Gatsby than in vanilla.

https://github.com/muuvmuuv/portfolio/blob/master/src/components/Code.jsx

[2020-03-08 12:28] herecydev commented on #22066
Welcome @steffieharner, nothing jumps out as incorrect and I am able to use your `gatsby-config.js` with `gatsby develop` and it does build for me. Are you able to provide a reproduction to demonstrate the issue? There's some good info [here](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) on how to do that.

[2020-03-08 12:59] stufinn commented on #14673
@geocine I assume that it should have read “package-lock.json”

[2020-03-08 13:15] snitin315 opened #22072 "yarn.lock is beign ignored"
## Description

`yarn.lock` file is being ignored inside `.gitignore` , but I can see that the repository do have yarn.lock file.

Describe the issue that you're seeing.

### Expected result

`yarn.lock` should not be inside `.gitignore`

What should happen?

remove `yarn.lock` from `.gitignore`

### Actual result

What happened.

### Environment

Run `gatsby info --clipboard` in your project dire

[2020-03-08 13:21] snitin315 opened #22073 "Improve issue templates"
## Summary

Some descriptions of headings and questions in various issue templates are not wrapped inside `` which makes them visible in the preview, while they should be only present for user understanding and should not be rendered in review.

### Motivation

this bothered me while creating my first issue .

[2020-03-08 14:31] jindal368 opened #22075 "Problems with gatsby-source-contentful plugin options:"
hii there....
I am not able to understand the error. may be due to short docs of gatsby-source-plugin option:
please help me to identify the problem or provide sufficient docs to move forward.
//Here is my gatsby-config.js

require("dotenv").config({
  path: `.env.${process.env.NODE_ENV}`,
})
module.exports = {
  siteMetadata: {
    title: `Trading-web`,
    description: `Kick off your next, great

[2020-03-08 17:52] nayres commented on #22072
Have you pushed `yarn.lock` to be tracked by git prior to ignoring it? If so, git is still tracking the file. You can run:

`git rm --cached .`
`git add .`
`git commit -m "Remove ignored files from git"`

This will update git and your file will no longer be tracked.

[2020-03-08 18:20] nayres commented on #22075
I think this has to do with your dotenv config. Do you have different `.env` files for development, production, etc?

The `path` option is going to look for different `.env` files dependent on the current `NODE_ENV`. I believe there would be a fallback if environment isn't specified; such as `.env`, `.env.local`.

For example:
`.env.development`
`.env.production`

'require("dotenv").config({
    p

[2020-03-08 18:46] tsmith123 commented on #15397
This issue has now returned for me.

[2020-03-08 19:59] shan-hua commented on #20000
Same issue in `v3.1.46`..

[2020-03-08 20:07] ForkInSpace commented on #16505
Did anyone figure the fix yet?
I'm experiencing the same issue.
I'm on npm v6.14.2 and these are my dependencies
[code]
I have tried node:
- v8.17.0
- v.10.19.0
- v.12.16.1
Gatsby:
- 2.10.12
- 2.18.12

The only thing I can think of is that I recently downgraded from Catalina to High Sierra and only now has the issue turned up. Bit of a stretch may be but node-sass can be quirky with gatsby.

Any h

[2020-03-08 21:14] jordanlesich commented on #21791
I was able to workaround this by installing WSL (Windows Subsystem Linux) and Ubuntu on a freshly formatted hard drive (i'm not sure if this was necessary; it might work by just removing existing node modules). I then installed nvm by cURL. I'm guessing that by installing npm through linux I was able to avoid the problems with decompress.

TBH, I don't really know why this worked for me, but I am

[2020-03-08 21:25] kawamataryo commented on #21995
I'd like to convert `src/utils/app-data.js`

[2020-03-08 23:28] funkfinger commented on #8560
Thanks for the **crazy workaround** @stefantrinh1 - I too am experiencing this **crazy css behavior**

If anyone wants to see it replicated, I have a public repo and have deployed both versions:

seems to work with @stefantrinh1 's `article` workaround
[https://github.com/funkfinger/blog/tree/good](https://github.com/funkfinger/blog/tree/good)
[https://good.jaywiggins.com](https://good.jaywiggins.

[2020-03-09 01:26] ankesh7 commented on #10563
Any updates on this? I am running into an issue where I have multiple environments and only one needs to have the Google Tag Manager injected. I am using the gatsby-google-tagmanager plugin and every time i run `ACTIVE_ENV=something yarn gatsby build`, NODE_ENV is always set to production and it skews my analytics.

[2020-03-09 02:07] dcastil commented on #18271
@panzerstadt-dev You can create a Gatsby project without any plugins and check out the GraphiQL explorer. There should only exist the “native” Gatsby types.

[2020-03-09 02:12] Naturalclar commented on #21995
I'd like to work on `components/spinner.js`

[2020-03-09 03:06] moonmeister commented on #21995
Where are we at with converting plugins to typescript? things like source plugins, manifest, offline, etc...

[2020-03-09 03:48] harbin1053020115 opened #22082 "How can I resolve url('//xxx.cdn.com/xxx') in stylesheet?"
## Summary

There is a url('//at.cdn.com/xxx') in my css file, but when the stylesheet linked with blob-based(blob:http://), browser cannot load url('//at.cdn.com/xxx')...

## Relevant information

This is my css file:

[code]

But the stylesheet is linked by:

[code]

My question is:

The webfont link url("//at.alicdn.com/t/font_515771_7u6frotlpa6.eot") will not loaded by browser

### Environment

[2020-03-09 03:55] RichardStark commented on #20718
you can remove the node_modules dir, and re run npm install/ yarn install. and the problem will be solved

[2020-03-09 04:28] me4502 commented on #22004
I've looked into it and I don't think we're able to provide access to the project sorry. It's in a monorepo with a few other intertwined projects, as well as it uses a few libraries from private NPM repos.

[2020-03-09 05:38] cola119 commented on #21995
I'd like to work on `packages/gatsby-cli/src/reporter/loggers/ink/components/error.js`

[2020-03-09 06:22] steffieharner commented on #22066
@herecydev thanks so much for your reply!

Here is my repository: https://github.com/steffieharner/100daysofcode

[2020-03-09 07:04] wardpeet commented on #21995
We're not going to convert those (yet)? As we think it might be harder for people to contribute on those. Gatsby core packages are mostly only managed by us so we think it's worth doing it as it makes our lives easier when working on it.

@blainekasten I'm not 100% sure if we should refactor browser parts like gatsby-link, gatsby-image & our cache-dir.  This might lead to bigger bundles.

[2020-03-09 07:05] jindal368 commented on #22075
Thanks for help ... the path is now specified for .env.development

[2020-03-09 07:05] #22075 closed

[2020-03-09 07:34] wardpeet commented on #20492
@wodenx sorry for the late response. So if 2 themes have a developMiddleware in their config, the latest wins? Just to make sure, you're talking about, https://www.gatsbyjs.org/docs/api-proxy/? If so this is definitely a bug, we should convert it to an array.

I haven't checked your PR yet, first I want to validate if this I understand the problem correctly.

[2020-03-09 07:45] wardpeet commented on #21218
@use is only available in ![dart-sass](https://user-images.githubusercontent.com/1120926/76192279-b75bbd00-61e1-11ea-971f-49e000c2eb1e.png)

Checkout https://www.gatsbyjs.org/packages/gatsby-plugin-sass/#alternative-sass-implementations on how to switch to dart-sass. Make sure you install it by running `npm install --dev sass`

[2020-03-09 07:45] wardpeet commented on #21218
Thank you for opening this, @j-norman

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-03-09 07:45] #21218 closed

[2020-03-09 08:22] herecydev commented on #22066
The issue is in the css here: https://github.com/steffieharner/100daysofcode/blob/master/src/styles/layout.css#L93

Just remove that opening square bracket. Let me know if that helps

[2020-03-09 08:36] vladar commented on #22004
Hi @me4502

I understand but the problem is that it is nearly impossible to debug this without reproduction. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

Thanks for using Gat

[2020-03-09 09:05] nikita-seliverstov commented on #22015
After making reproduction repo I realized the problem was on my side because of error on run time script

[2020-03-09 09:05] #22015 closed

[2020-03-09 09:08] Jetisr commented on #21664
I'm also having this issue with Node version 13.10.1, and Gatsby CLI version 2.10.2.

[2020-03-09 10:21] djma777 commented on #18048
I(new to gatsby) just got this problem for a new install. Sadly, I'm going back to CRA for now.

[2020-03-09 11:11] B4ljeets1ngh opened #22088 "gatsby-transformer-sharp gives error - Remove node_modules/sharp/vender when added in config"
## Description

So, I am trying to use gatsby-source-drupal and I'm getting :-
"Error in "/app/node_modules/gatsby-plugin-sharp/gatsby-node.js": 'linux-x64' binaries cannot be used on the 'linuxmusl-x64' platform. Please remove the 'node_modules/sharp/vendor' directory and run 'npm install'.
" but when i remove this plugin from the gatsby-config.js i get :-
There was an error in your GraphQL query

[2020-03-09 12:03] #21282 closed

[2020-03-09 13:19] Pittan commented on #21995
Hello! I'd like to work on
- create-node-id.js

[2020-03-09 13:37] steffieharner commented on #22066
Wow, I can't believe it was so simple >< ... THANK YOU SO MUCH! I have a long way to go to learning how to debug my own code. @herecydev

[2020-03-09 13:37] #22066 closed

[2020-03-09 13:38] cola119 commented on #21995
I'd like to try
- `packages/gatsby/src/utils/get-cache.js`
- `packages/gatsby/src/utils/get-latest-apis.js`
- `packages/gatsby/src/utils/get-public-path.js`

[2020-03-09 13:43] MichaelDeBoey commented on #21995
@

@cola119 I suggest you first create a PR for all other files you're working on, so other people can maybe take a look at those file in the meantime if they want.
Just don't think we want to wait for something, when somebody else could work on it

[2020-03-09 15:21] mhauens opened #22095 "high severity vulnerabilities in gatsby-plugin-sharp"
version: Globally installed gatsby-cli 2.10.2 (gatsby-starter-styled-components)
version: Package installed gatsby 2.19.32
npm: 6.14.2
node: v13.8.0

npm audit currently gives the following:
[code]

[2020-03-09 15:24] varlevi commented on #21664
Looks like there's quite a few closed issues relating to this error, all taking place in somewhat different scenarios and being solved in different ways. Check out #22066, #20225, #19922,  and #17557.

[2020-03-09 15:24] axe312ger commented on #20984
I run into this and now could fix the issue.

It was either one of these:

* forgot `gatsby-plugin-sharp`https://github.com/gatsbyjs/gatsby/issues/15625#issuecomment-511978323
* or more likely: two static queries had the same query name

[2020-03-09 15:30] #20678 closed

[2020-03-09 15:31] #21966 closed

[2020-03-09 15:33] robmarshallhome commented on #21362
Hi @wardpeet,

Some clients have specific naming conventions that they like to stick to. Although it is possible to fire events with any named tag event, to ensure consistency for the client it would be great to pass a custom name to this plugin.

[2020-03-09 15:58] muescha commented on #21324
in #17931 my suggestion was:

- don't link to the starter / plugin / themes sections directly
- put there a small introducing into plugins library / starter /themes library
- explaining a little bit more what are this directories (and with links to the directories)

this would not breaking the flow next/prev flow

[2020-03-09 16:59] henricazottes commented on #22016
Interesting!

On my part I've found that [prepareConfilctExample](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer/build-example-data.js#L158-L161) never returns any parent:

[code]
And as the description is found in the parent (see [addExample](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer/type-conflict-reporter.js#L82)):
[code]
I g

[2020-03-09 17:01] rbelow commented on #22016
If @freiksenet gives a good reason why it was removed it would mean that this behavior cannot be restored easily?

[2020-03-09 17:03] henricazottes commented on #22016
You're right, I'll wait for his answer before investigating more

[2020-03-09 17:19] madalynrose commented on #22088
* it's likely that `gatsby info --clipboard` didn't run because you didn't have gatsby installed globally. you could try running `yarn gatsby info --clipboard`.
* it seems like your environment is having a hard time installing sharp binaries. here's an issue that might help https://github.com/lovell/sharp/issues/1459#issuecomment-519021235
* as far as the GraphQL error goes, this might be happenin

[2020-03-09 17:20] rbelow commented on #20941
For my understanding @freiksenet : The query runner should know; how to reset its state on changes like schema or data.

The query runner only should know; how, or it also should do it? If it only knows; how - who should trigger the state reset instead?

[2020-03-09 17:21] CanRau commented on #8946
That looks very interesting thanks for sharing 🙏

[2020-03-09 17:26] jonniebigodes commented on #21934
@jnsrikanth sorry for the radio silence, but i had to address some things around my house, i had to close the laptop for a couple of days and put on my plumber pants (pardon the bad pun). Indeed i looked at it and i have a response for you. Going to detail it shortly,

Before we go a bit deeper and to give you some context based on my findings and a bit of research, when mdx was brought into Gatsb

[2020-03-09 17:28] kenold commented on #21852
I second that. I was creating a site and needed to create a relationship between books and authors but had to use WordPress (unfortunately). I spend over 2 hours reading the mapping (object) doc but couldn't find the answer.

[2020-03-09 17:29] madalynrose commented on #22095
Hello there! We are tracking this issue in #21791 so I am closing this one as a duplicate. Thank you for letting us know!

[2020-03-09 17:29] #22095 closed

[2020-03-09 17:29] PaulBunker opened #22107 "wrapRootElement + contextAPI : Page changes cause provider to re-render therefore resetting state."
## Summary
I am using React context api and hooks to create a global 'StateProvider' however when I change pages my provider re-renders causing me to loose the active state and return to the default.

It is my understanding that using the wrapRootElement method should mean that my stateProvider should persist.

Some advice on how I can debug this issue would be greatly appreciated!

## Relevant in

[2020-03-09 17:47] tesseralis commented on #20795
Interesting to note: Docusaurus V2 also runs into this same problem with regard to versioning. Relative links in MDX don't work on versioned docs because they're in a different relative directory (much like translated docs).

Their solution to this is to use [an alias](https://v2.docusaurus.io/docs/versioning#use-absolute-import-within-the-docs). This seems like it might be a potential solution? W

[2020-03-09 18:16] jonniebigodes commented on #22107
@PaulBunker can you make a reproduction of your issue following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be better looked at? I wouldn't mind taking a look at it.

[2020-03-09 18:28] yepstien1 commented on #9091
Alec,
thanks for this post it was very helpful- It's just odd to me that on their gatsby documentation it just uses plain 'location' and not window.history.state.

[2020-03-09 18:37] PaulBunker commented on #22107
Hey @jonniebigodes, Thanks for your reply! I'm working on a test case now. My most basic example didn't reproduce the problem so I'll keep adding things to try and break it.

[2020-03-09 19:02] danoszz opened #22109 "[gatsby-cli] Error: Cannot find module '../ink/components/progress-bar'"
## Description

After updating "gatsby-cli": "^2.10.3", it throws the following error.

[code]

### Steps to reproduce

Update `gatsby-cli` to `^2.10.3` and run `gatsby develop` or any other `gatsby ...` command

### Expected result

Gatsby CLI should run every `gatsby ...` command as usual instead of breaking.

### Actual result

[code]
### Environment

Unfortunately `gatsby info --clipboard` doe

[2020-03-09 19:12] blainekasten commented on #22070
I think we fixed this. It was because we forgot to list it as an explicit dependency. Can you update to latest and verify?

[2020-03-09 19:20] herecydev commented on #22109
If I had to guess, [this would be the culprit](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/package.json#L79). I'll try and put a PR together

[2020-03-09 19:25] blainekasten commented on #22109
I've identified this and have a hotfix coming. No worries @herecydev, but thank you!

[2020-03-09 19:31] danoszz commented on #22109
@herecydev and @blainekasten so quick! Thank you for the sharp eye(s), couldn't figure it out myself.

[2020-03-09 19:41] MRDRMUFN opened #22112 "[gatsby-source-graphql]: refetchInterval causes schema cache issue"
When refetchInterval has a value set under gatsby-config content will update as expected but changes to the remote graphql schema will not refresh, even when restarting gatsby develop. At that point it won't refresh the schema until I remove refetchInterval from gatsby-config and restart gatsby-develop.

I don't expect it to keep up with schema changes as it polls, but I would at least expect it t

[2020-03-09 19:48] LeeRob97 commented on #16763
@qramilq this worked for me!

[2020-03-09 19:48] mewajda commented on #21999
After some more investigation and setting up a new wordpress site I was able to figure out the problem of why the BOM character was being returned.  Turns out that my `wp-config.php` was encoded using UTF-8 with BOM.  After, encoding it without the BOM everything started working fine.  I have no experience with PHP, so I am not sure why PHP would be prepending the BOM to REST responses just becaus

[2020-03-09 19:49] dougwithseismic commented on #22109
Fresh off the press - Appreciate the rapid response 🤜

[2020-03-09 19:59] joshuagagne commented on #22112
If I recall correctly the cache sticks around beyond the build cycle. Could you try a `gatsby clean` before a `gatsby develop` to force the schema to update?

[2020-03-09 20:01] abdokouta commented on #22109
i have the same issue, shall downgrade gatsbyjs-cli or wating for the hotfix to be out?

[2020-03-09 20:05] herecydev commented on #22109
@abdokouta The fix has been merged, if I was a betting man I would say a release would be available imminently

[2020-03-09 20:09] cstamas commented on #22109
Went thru 2.10.3, 2.10.2 and 2.10.1, all have same error (and does not work). Would be cool if you could tag some "stable" version with "stable" tag :smile:

[2020-03-09 20:11] abdokouta commented on #22109
@cstamas i have gatsby 2.8.29 on my local machine and it's working fine, can you try?

[2020-03-09 20:13] jdhynes commented on #22109
This version is working for me on a new site. Thanks

[2020-03-09 20:14] cstamas commented on #22109
hm, strange

[code]

[2020-03-09 20:16] cstamas commented on #22109
hm, maybe version of gatsby?

[code]

[2020-03-09 20:24] cstamas commented on #22109
Heh, so...

gatsby (dep present in package.json) declares dep on gatsby-cli 2.10.3 :) (why on earth?)
And gatsby-cli 2.10.3 as we know is busted. Basically, as I see, `gatsby clean` goes into "embedded" gatsby cli instead of my globally installed one?

[2020-03-09 20:25] rafanoli commented on #22109
For now running `npm run develop` on version 2.10.3, is working! But `gatsby-develop` got: Error: Cannot find module '../ink/components/progress-bar'

[2020-03-09 20:25] cstamas commented on #22109
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json#L73

here it is. This commit
https://github.com/gatsbyjs/gatsby/commit/8a141a5d5aa5d3fff2670cf8dd6d1c37a37aee5d

[2020-03-09 20:26] funkfinger opened #22113 "HTML different between build and develop - develop works ok - strange workaround"
Please excuse if this is a duplicate, I tried to search over open issues, but didn't immediately see one that matched.

I am seeing a difference between HTML `develop` and `build` output. The bad repo creates the correct `HTML` in `develop` but bad `HTML` when in `build`. The good repo implements a workaround discovered by @stefantrinh1 and documented here- https://github.com/gatsbyjs/gatsby/issue

[2020-03-09 20:27] cstamas commented on #22109
But from an architectural perspective, gatsby-cli, that is needed to be installed globally, is also dependency of gatsby (used a dependency, as this is gatsby project). So, if that's the case, then basically gatsby is the one "defining" the version of gatsby-cli, NOT the one you install globally?

[2020-03-09 20:31] danoszz commented on #22109
Unfortunately,  `"gatsby-cli": "^2.10.3"` is still throwing the same error on every `gatsby ...` command. Even after reinstalling global and local `node_modules`.

[2020-03-09 20:33] blainekasten commented on #22109
OOF! So sorry about this everyone.. I've released a new version that fixes this. Please update.

Again, I'm so sorry for the damage this caused in lost time and hair-pulling! 😢 💜

[2020-03-09 20:33] #22109 closed

[2020-03-09 20:34] mmafe commented on #22109
@blainekasten Sorry! Can we reopen this issue? I'm still receiving the same error (similar to @danoszz). :)

[2020-03-09 20:36] cstamas commented on #22109
Heh, ok, so this fixed it

[code]

But am still puzzled by this: if gatsby CLI is using globally installed gatsby-cli to execute gatsby's dependency gatsby-cli.....

[2020-03-09 20:37] kailashmuralidharan commented on #22109
Thanks @blainekasten ! It works for me, after the update!

[2020-03-09 20:41] abdokouta commented on #22109
@mmafe please make sure that gatsby and gatsby-cli in package.json as following
`"gatsby": "^2.19.34",
  "gatsby-cli": "^2.10.4",`

[2020-03-09 20:41] Lundeful commented on #22109
Fixed it for me as well, thanks for being so quick on the issue!

[2020-03-09 20:41] ivandjuricic commented on #22109
Worst timing ever to have an version upgrade! Works now. Thanks @blainekasten !

[2020-03-09 20:45] chrisworman commented on #22109
Working for me too.  Thanks for the quick fix.

[2020-03-09 20:56] marcysutton commented on #21852
We have the Schema Customization workflow slated for next quarter, so this could fit nicely into that work. Thanks for filing the issue!

[2020-03-09 20:56] cstamas commented on #22109
So the fix then implies, that globally and locally (in package.json as direct dependency) should be kept in sync?

[2020-03-09 21:04] danoszz commented on #22109
Somehow, I had to manually remove `/usr/local/bin/gatsby`, `/usr/local/lib/node_modules/gatsby` and `/usr/local/lib/node_modules/gatsby-cli` and after running `npm install -g gatsby-cli` to get it all working again.

[2020-03-09 21:15] PaulBunker commented on #22107
I've created a test-case [here](https://github.com/PaulBunker/examplegatsby) Although I have not managed to reproduce the exact issue with the state being reset you can see that "init" is logged when you click the home link and the state is logged twice which I don't believe should be happening.

I'll spend some more time tomorrow trying to more closely replicate my exact problem. I suspect it mig

[2020-03-09 21:28] ecanas44 commented on #15276
This is what worked for me pretty easily:
https://github.com/firebase/firebase-tools/issues/113#issuecomment-301613705

[2020-03-09 21:29] marcysutton commented on #21846
Closed with #21908.

[2020-03-09 21:29] #21846 closed

[2020-03-09 21:29] jakubzloczewski commented on #21263
@garrison0, have you found solution for client-only routes? I have the same issue with latest version.

[2020-03-09 21:31] jonniebigodes commented on #22107
@PaulBunker i'll clone it shortly and go over and see if i can help you out. Do you mind waiting a bit?

[2020-03-09 21:40] PaulBunker commented on #22107
Not at all, I'm great-full for the help!

Still working on a version with more complex state to try and reproduce the state resetting but my brain is a little mushy at this point 🤪

[2020-03-09 22:01] HighDeck opened #22117 "gatsby-image - useStaticQuery - Query cannot be fetched"
## Description
I'm working on a website and would like to display a "work in progress" image when people get to my website.

I used the basic config to make gatsby-image working. I use `useStaticQuery` to query the image.

For now, i managed to display the image when the code is into the `index.js` page. But as soon as I try to query the image from a component that I call in the index page, I get

[2020-03-09 22:32] laurenskling commented on #10050
I am too getting this error when certain links scroll into view. This starts happening when I upload a new version of my site (hosted on Netlify) and didn't do a hard refresh.

[2020-03-09 22:38] mlittlec commented on #21664
I too was having the same problem using the latest Node version (13.10.1) on my Ubuntu setup.  I eventually resolved this by 'downgrading' to the "Stable" version of Node (currently 12.16.1) by executing this command:

 _sudo n stable_

Now when I run _gatsby develop_ everything completes successfully.  So it appears this is an issue with the "Current" Node version (13.10.1).

I hope this helps ot

[2020-03-09 22:39] jamescrowley commented on #21664
I'm also hitting this issue, with Node 13.10.1

[2020-03-09 22:55] gillkyle opened #22119 "docs: gatsby-plugin-sass global import methods"
## Summary

There has been confusion with configuring Sass in sites using `gatsby-plugin-sass` because some methods seem to be undocumented.

This came up in a Tweet thread:
https://twitter.com/triscodes/status/1237117936281825281

(Copying the text in case the tweet is deleted):

![image](https://user-images.githubusercontent.com/21114044/76263454-8b156000-6224-11ea-8811-3df7beeea6b1.png)

Some r

[2020-03-09 23:59] jonniebigodes commented on #22117
@HighDeck try and destructure the file instead and not the data turning it into:
[code]
and adjust accordingly in the `<Img/>` element and see if it works. If not, update the return statement to:
[code]
And log out the query result in the component and you'll see the full node tree generated and adjust back accordingly.

[2020-03-10 00:04] #20961 closed

[2020-03-10 00:51] HighDeck commented on #22117
@jonniebigodes Thanks for your answer. I tried what you advised and changed the `<Img/>` props accordingly to `fluid={file.childImageSharp.fluid}`but that didn't work.

So I logged out the query result when used directly in `index.js` and I got what I expected :
[code]

So I tried to do the same in the component and **it worked**...

**BUT** to be sure the query result was correctly processed from

[2020-03-10 01:40] jonniebigodes commented on #22117
@HighDeck can you make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) with the code you're using so that it can be better looked at?

[2020-03-10 01:47] jfrolich commented on #10050
Would be great for someone known with the Gatsby core to take a look at this as it looks like something is going wrong in the Gatsby internals. Reproducible with with `babel-preset-expo`.

[2020-03-10 01:56] varlevi commented on #21664
Yes. This works for me as well. Unfortunate we can't use the more recent version, but I'm sure the node team is working on it.

[2020-03-10 02:27] marcysutton commented on #21528
@dmitriyaa the doc underwent an update since your issue was opened. Can you take a look and see if it works for you? https://www.gatsbyjs.org/docs/processing-payments-with-stripe/

PR: https://github.com/gatsbyjs/gatsby/pull/21675

[2020-03-10 05:48] kepi0809 commented on #20164
not stale, but looks hopeless

[2020-03-10 06:40] anyway commented on #16076
Same issue here...

[2020-03-10 07:38] burtyish commented on #19618
Same here. For a page other than /index.
![image](https://user-images.githubusercontent.com/4200728/76289872-c8c0ca00-62b2-11ea-80c0-3457226b942d.png)

Device
Brand | Huawei
Family | DRA-LX5

OS
Name | Android
Version | 8.1.0

Browser
name | Chrome Mobile WebView
version | 70.0.3538

SDK
Name | sentry.javascript.browser
Version | 5.12.1

[2020-03-10 07:47] JustFly1984 commented on #22070
@blainekasten

I've updated, and still have same TS issue with `configstore`

yarn lock changes still brings configstore into dependencies:

gatsby-telemetry@^1.1.52 has it
gatsby-core-utils@^1.0.31 has it

the only way to fix TS issue for me is adding resolutions package.json

[code]

and fixing gatsby and babel-preset-gatsby dependencies to next versions:

[code]

sidenote: gatsby-telemetry does

[2020-03-10 08:19] pvdz commented on #21447
:cry:

[2020-03-10 08:25] pvdz commented on #21447
One idea is to simplify it even further;
- uniq is a very generic tool that'll make everything generic. But it seems to me like this `uniq` is only called to make sure the new child is deduped. So instead doing an `if !.includes` before pushing would suffice.
- next level would be to change the data structure, but in that case we should just swap it to a `Set` instead. I think we should do this re

[2020-03-10 08:28] pvdz commented on #21447
As an intermediate step; we can change it to `[...new Set(parent.children)]` for the same effect.

[2020-03-10 08:29] pieh commented on #21447
I'm worried about changing structure from Array to Set - users/plugins operate on pure node data in some cases so some plugins might rely on children being array. (that was my primary reason for mentioning "not changing data structure")

I'm more than fine with `!includes` check before adding item to children or just changing `_.uniq` to something else

[2020-03-10 08:36] 3nvi opened #22124 "Link should perform a replace when navigating to the current page"
## Description

When rendering a `<Link>` from `gatsby-link` which points to the current location, then each click pushes a new entry into the history stack. Thus, If I click a link (pointing to the page that I'm on) multiple times, then I require the same amount of browser "back button" presses, in order to leave my current page.

Natively, browsers implement a history "replace" and not a "push"

[2020-03-10 08:37] pvdz commented on #21447
Quick checks on 100k nodes;

- Master currently completes the sourcing and transform step in ~30s on my machine
- Using the `[...new Set()]` hack had similar timings
- The `inlcudes` hack dropped it to 20s
- A silly & ugly hack that tracks this state in a global map of sets per parent, also ~20s

[2020-03-10 08:38] mkloar opened #22125 ""vips2png: unable to write to buffer" after removing an image"
## Description

Hey. We're getting weird error during gatsby build process on our pipeline in gitlab. An error occurs like every 2-3 days. We're running build process on our custom docker image.

**Error:**
vips2png: unable to write to buffer

Pipeline:
![pipelineFail](https://user-images.githubusercontent.com/17946736/76207843-d3218c00-61fe-11ea-898d-870e104ef4d9.PNG)

### Steps to reproduce

We

[2020-03-10 08:39] pvdz commented on #21447
While I'm very unhappy about doing a repeated `O((n^2)/2)` unguided string search trough 100k+ elements (--> `.includes`), I suspect that's still just a subset of the work that `_.uniq` is doing so that feels like a good first step forward.

[2020-03-10 08:43] pvdz commented on #21447
This seems to hold for 150k nodes; from 45s to 30s. I'll put up a PR.

One question related to this; couldn't we simply check the parent of the current child and prevent this whole step if they are already the same?

[2020-03-10 08:52] pvdz commented on #21447
Ok, so #22126 will tackle this partially. That's already great, thanks @tsriram ! But as you showed there's still room for improvement. Ideally this check would be O(1). Assuming the child's `parent` state is sound, we would only need to check that state to determine whether we need to update the parent state. And in that case, we should prevent the whole `createParentChildLink` call in the first

[2020-03-10 09:00] StinsonZhao opened #22127 "file node (created by createRemoteFileNode) lost after rebuilding during 'gatsby develop'"
## Description

I use `createRemoteFileNode` for Preprocessing External Images, and I follow this document: https://www.gatsbyjs.org/docs/preprocessing-external-images/

Everything is OK. But during developing, I found that the 'file node' would be missing if I removed some pictures in `*.md`

### Steps to reproduce

I use the gatsby-starter-blog for reproducing it.

- `gatsby new gatsby-starter-b

[2020-03-10 09:27] muescha commented on #21940
_Originally posted by @pieh in https://github.com/gatsbyjs/gatsby/issues/21989#issuecomment-595376666_

[2020-03-10 09:28] muescha commented on #21989
i transfered your comment to  #21940

[2020-03-10 09:33] StinsonZhao commented on #22127
And if I use `createSchemaCustomization ` for `optional illustration`

[code]

The error will disappear, but I still can not get the illustration. I will get illustration is `null` in GraphQL

[2020-03-10 09:38] PaulBunker commented on #22107
I fixed this problem using the 3rd argument for useReducer() that is used for initialising the state

[2020-03-10 09:38] #22107 closed

[2020-03-10 10:00] dmitriyaa commented on #21528
@marcysutton, thanks for letting me know! I will definitely check it out and write back.

[2020-03-10 10:17] pvdz commented on #21447
The above PR shaves 30s of your total runtime, about 9%. Do you feel this PR is still adding much to it after that?

[2020-03-10 10:17] pvdz commented on #21447
@tsriram The above PR shaves 30s of your total runtime, about 9%. Do you feel this PR will still add much to it after that?

[2020-03-10 10:18] pvdz commented on #21814
Assigned to @wardpeet since he also self assigned the PR :)

[2020-03-10 10:19] pvdz commented on #21904
Going to close this issue. Please re-open it if you have more questions. Thank you :)

[2020-03-10 10:19] #21904 closed

[2020-03-10 10:22] pvdz commented on #17233
@nadiavanleur @j218 There was a typo (see last linked PR) which kind of mooted the fix in some cases. Can you confirm whether the problem still exists in >=gatsby@2.19.29 ?

[2020-03-10 10:23] pvdz commented on #21982
@buck06191 that's great, thanks for letting us know :)

I'll close this issue. If it turns this issue is caused by a different issue please re-open it. Thanks!

[2020-03-10 10:23] #21982 closed

[2020-03-10 10:37] zhuiks opened #22128 "[gatsby-source-graphql] throws error with multiple types named "CacheControlScope""
## Description

Error with custom GraphQL sources with gatsby-source-graphql plugin:

"gatsby-source-graphql" threw an error while running the sourceNodes lifecycle:
Schema must contain uniquely named types but contains multiple types named "CacheControlScope".

### Steps to reproduce
1. Install Gatsby starter template:
`gatsby new gatsby-starter-default https://github.com/gatsbyjs/gatsby-starter-

[2020-03-10 10:59] pvdz commented on #22030
Please don't open a new issue if you already have another issue about this. As Blaine mentioned, you can continue the conversation there. He closed it as there's not a problem with Gatsby.

[2020-03-10 10:59] #22030 closed

[2020-03-10 11:00] pvdz commented on #21853
@nikolayval Feels to me like this is more of an MDX question than Gatsby, is it not? I have little experience with MDX. Gatsby takes the MDX content and uses Babel (etc.) to generate the web pages. It's not really aware of this.

[2020-03-10 11:06] zhuiks commented on #22128
installing previous version of `graphql-tools-fork` fixed the issue:

    npm i graphql-tools-fork@8.9.1

[2020-03-10 11:07] pvdz commented on #22064
This was introduced by https://github.com/gatsbyjs/gatsby/pull/20782
Assigning to @LekoArts

[2020-03-10 11:09] ascorbic commented on #22117
Your query isn't specifying which image to load. Do you have just one file in your project? I'd change your code to and then share a minimal reproduction:

[code]

[2020-03-10 11:14] pvdz commented on #22073
As mentioned in the PR, we prefer it this way as it ultimately leads to better reports. We appreciate your input though :)

[2020-03-10 11:14] #22073 closed

[2020-03-10 11:46] jlkiri commented on #22113
Sometimes, it could be due to a mismatch between the server-rendered and client-rendered version. Since your classNames depend on some logic, did you make sure that logic is identical between client and server? Do you see any warnings in console like `Warning: Prop `className` did not match.` ?

[2020-03-10 11:49] pvdz commented on #22082
It looks like protocol relative urls are not supported by at least some part of the css processing stack.

Can you post a repo with a minimal reproduction of this problem?

[2020-03-10 11:51] pvdz commented on #22125
Hi @mkloar, thanks for reporting. It's a little difficult to see what's going on without seeing the code that caused it.
Could you post a (minimal) repro, please? A repo to check out and build that reproduces this would be perfect.

[2020-03-10 11:52] #21661 closed

[2020-03-10 11:52] #21859 closed

[2020-03-10 12:15] jindal368 opened #22132 "build deployment fails on netlify"
Here is deploy LOG>>>

5:31:14 PM: Build ready to start
5:33:51 PM: build-image version: 6b66e79d54a8f76b01392124644c3052ac0d32ef
5:33:51 PM: build-image tag: v3.3.6
5:33:51 PM: buildbot version: 2ba6f2db8150441c8469e6ae3ab3561a2c9d03fa
5:33:51 PM: Fetching cached dependencies
5:33:51 PM: Starting to download cache of 254.9KB
5:33:51 PM: Finished downloading cache in 85.612613ms
5:33:51 PM: Starti

[2020-03-10 12:18] qramilq commented on #16763
@LeeRob97 you are welcome)

[2020-03-10 12:41] mmafe commented on #22109
Thanks @danoszz - that did it!

[2020-03-10 13:03] herecydev commented on #21720
I think the docs/gatsby-cli.md is fine, there are relative links as this is intended to be hosted (i.e: https://www.gatsbyjs.org/docs/gatsby-cli/).

But I can see some issues using relative links for the README.

[2020-03-10 13:12] PaulBunker opened #22135 "gatsby-plugin-mdx: Display helpful message instead of blowing up in development mode when invalid mdx is present"
## Summary

When in you save a file with some invalid jsx i.e. an unclosed tag The node is not created in graphql and this means the page/site breaks and it isn't immediately obvious why.

My suggestion is that while in development mode, instead of blowing up. Return the error as the MDX body that way the user doesn't have to wonder why the page isn't working switch to the console, search for an e

[2020-03-10 13:23] axe312ger commented on #22135
I can deeply understand you, the fact that MDX errors do not output enough context is very annoying, especially for my editors in production.

Especially which gatsby page causes the MDX error is not output. At least sometimes the message leads to the actual broken part where the MDX code is faulty.

The root of the issue might be in MDX itself, if this is the case, I'd vote for keeping this one o

[2020-03-10 13:26] axe312ger commented on #22132
One thing, unrelated but you should fix it: `warning Using the global graphql tag is deprecated, and will not be supported in v3`

I see similar issues happending when loading assets from contentful, in my case its mostly timeouts.

But ive seen warnings of corrupted image data in the past week while heavily using netlify & gatsby cloud.

My workaround, annoying and time intense, but working:

* j

[2020-03-10 13:41] #21720 closed

[2020-03-10 13:49] pvdz commented on #22128
cc @vladar

[2020-03-10 13:51] geraldstrobl commented on #7117
@ArpitaSrivas I have the same issue.

[2020-03-10 13:55] pvdz commented on #22132
Might be related to https://github.com/gatsbyjs/gatsby/issues/22125

Can you check whether this is related to netlify at all? Can you repro it locally? Can you post a minimal repro somewhere so we can verify?

[2020-03-10 13:58] pvdz commented on #22132
Or is this a dupe of https://github.com/gatsbyjs/gatsby/issues/8301 ... Can you try renaming the file? :)

[2020-03-10 14:05] chivongv commented on #21271
I have a similar problem but it is after reloading page in light mode.
[Source code](https://codesandbox.io/s/nostalgic-shape-nco57 )
[Demo of development code](https://nco57.sse.codesandbox.io/)
[Demo of production code](https://csb-nco57-pwh25no3u.now.sh/)

[2020-03-10 14:07] michaelCaleyWhaley commented on #17506
Still an issue. Even with it being fluid we should be able to pass in attributes

[2020-03-10 14:20] cburgos0511 commented on #11243
Has anyone found a solution to this warning?

[2020-03-10 14:21] yurist38 commented on #21923
@kanolato are you still planning to work on this one?

[2020-03-10 14:26] jindal368 commented on #22132
it is running on localhost .....with all the queries
I think it might be related with netlify.
can you explain why  i am getting error in GraphQL
as it is running fine on local server

[2020-03-10 14:38] pvdz commented on #22132
@jindal368 it would help a lot if you can post a repro. It's difficult to say from this report what's going on. There are many reasons why something works locally but not in a remote host.

[2020-03-10 15:11] andreasknoepfle commented on #20615
@deebov I just had the same issue and put some time debugging into this, since I didn't want to use prerendering.

I discovered that the rendered `og:url` is set to `http://domain.com/*` when I requested the page via `curl` while the property is filled with `http://domain.com/action-site`, when I accessed the page through a browser.

In our site we used the `path` property that is passed into the

[2020-03-10 15:13] dmitriyaa commented on #21528
p.s. @marcysutton, I think you put a different link, here is the one I that was updated in the PR [https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/](https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/)

[2020-03-10 15:31] viniciusdacal commented on #5136
Same issue here, using the latest version. Would like to know what's going on.

[2020-03-10 15:33] jindal368 commented on #22132
[https://github.com/jindal368/gatsby_trading-webapp](url)

[2020-03-10 15:41] #22041 closed

[2020-03-10 15:44] marcysutton commented on #21528
@dmitriyaa oh yes, you're totally right! Sounds like that tutorial needs an update, too. We should update the URL to be more specific at the same time.

[2020-03-10 15:50] dmitriyaa commented on #21528
@marcysutton, just followed the new tutorial, everything is working fine right now.
I just have small questions now (about the code on a tutorial itself), should I ask them here, on that PR or create a new issue?

[2020-03-10 15:56] marcysutton commented on #21528
@dmitriyaa I'd say go ahead and ask any questions you have here! PRs are definitely welcome and appreciated.

[2020-03-10 15:59] dmitriyaa commented on #21528
It's just about this section of the tutorial
[code]
Would it be better to just load stripe on all the pages?

[2020-03-10 15:59] PaulBunker commented on #22135
I believe [this check](https://github.com/gatsbyjs/gatsby/blob/dc4e21e7c50cc52db757dad611d35caf08d6785a/packages/gatsby-plugin-mdx/utils/create-mdx-node.js#L10) and early return is the cause of the node not being created.

I feel like a check for `node_env !== 'production'` and adding the `e.message` to the mdx body should be possible and result in a better user and developer experience

[2020-03-10 16:26] HighDeck commented on #22117
@ascorbic For now this is the only image I have in the project, I tried to put the relative path property but it ended the same.

I was creating a minimal reproduction from the link @jonniebigodes provided, I only installed the plugins i needed for the image to be displayed (`gatsby-image`, `gatsby-plugin-sharp`, `gatsby-source-filesystem` and `gatsby-transformer-sharp`) and **it worked instantly.

[2020-03-10 16:37] tr1s commented on #22119
Yeah, I'm a huge proponent of thorough documentation and not assuming everyone knows everything, because I sure don't.

I was involved in the setup and development of my works [education website](https://junocollege.com/) and it was our first time using Gatsby V2 and using CSS modules. We wanted to use SCSS variables and obviously didn't want to import them into every single component manually. Li

[2020-03-10 17:17] ehannes commented on #6291
I can also confirm that the latest version of Sharp is finally solving my build problems! By the way, 0.25.0 is now published, as well as 0.25.1.

So grateful for this fix! Thanks for your hard work @pvdz!

[2020-03-10 17:28] marcysutton commented on #20767
Hi @gabeszrozsa, this issue is still open! We would welcome your contribution.

[2020-03-10 17:29] comoser opened #22145 "starter hello-world babel helper-compilation-targets error"
## Description

Following the tutorial to create a new hello-world gatsby application on page: https://www.gatsbyjs.org/tutorial/part-zero/ we are faced with a compilation error when running `gatsby develop` IF we are on node v.13.10+

### Steps to reproduce

On node v13.10.x when using `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world` as in the [tutorial](https://www

[2020-03-10 17:31] comoser commented on #22145
Will submit a PR for this fix

[2020-03-10 17:38] HighDeck commented on #22117
Well, I reinstalled all the packages i needed for the website from the hello world template. And it looks like it's working. I tried to see if there was something that could have created a conflict but everything went well...

Thanks for your help @jonniebigodes @ascorbic

[2020-03-10 17:38] #22117 closed

[2020-03-10 17:47] dlimx commented on #20356
One big change so far is renaming `@emotion/core` to `@emotion/react` if anyone has experimented with the @next builds

[2020-03-10 18:35] edieblu commented on #22109
Nice! Thank you for fixing! 🎉

[2020-03-10 18:58] jonniebigodes commented on #22135
Despite the scope being a bit off...the same applies, i've ran into that and mentioned in my comment in #21934

[2020-03-10 19:06] dustinhorton opened #22148 "Is there a built-in way to provide mini-css-extract-plugin options?"
I'm using `gatsby-plugin-sass`, and getting incorrect 'Conflicting order' warnings. [These can be disabled](https://github.com/webpack-contrib/mini-css-extract-plugin#remove-order-warnings):

[code]

Is there an easier way to add this `ignoreOrder` option than [creating a custom webpack config](https://www.gatsbyjs.org/docs/add-custom-webpack-config/)?

[2020-03-10 19:26] dustinhorton commented on #22148
Found an example of editing the webpack config that wasn't how I would've done it: https://spectrum.chat/gatsby-js/general/having-issue-related-to-chunk-commons-mini-css-extract-plugin~0ee9c456-a37e-472a-a1a0-cc36f8ae6033?m=MTU3MjYyNDQ5OTAyNQ==

[2020-03-10 19:53] pmarxbraun commented on #5835
Hello,

Got the same issue.
'gatsby build' throws me this

[code]

Any idea how to tackle this problem ?
Thanks !

[2020-03-10 20:02] stramel commented on #20356
yeah, I have a few PRs to various libs that are utilizing `@emotion`. The library renaming seems to be the major change.

[2020-03-10 20:20] laurieontech commented on #20378
@resource11 We'd definitely be open to a PR that clarifies this! Part Zero is focused on new users, so want to make it as error proof as possible.

[2020-03-10 20:22] #20114 closed

[2020-03-10 20:24] laurieontech commented on #19768
@AishaBlake given all the work recently done on this topic, is this larger issue still necessary? Or should we close it in favor of smaller scoped issues?

[2020-03-10 20:26] yaacovCR commented on #22128
Try reinstall, hopefully fixed with graphql-tools-fork v8.9.3

[2020-03-10 20:43] PaulBunker commented on #22135
Quote for reference as it's an in depth reply :)

[2020-03-10 20:51] jonniebigodes commented on #5835
@pmarxbraun it seems it's related to the muuri-react package, as that package is trying to write access  the window api that is not acessible during the build process with Gatsby. You have options here, you can try and see if [this](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules) helps with your case or try "offloading" the component where that package is used with

[2020-03-10 21:29] antoinerousseau opened #22151 "navigate() does not return a Promise"
## Description

When importing the `navigate` function

### Steps to reproduce

[code]

### Expected result

When the navigation completes, `doSomething` should be called.

### Actual result

This throws an error because `navigate()` returns `undefined` instead of an expected `Promise` (see [type](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/index.d.ts#L3)).

Looks like `gatsby-l

[2020-03-10 21:44] vsolanogo commented on #4337
how do i disable client side routing just for single page?

[2020-03-10 22:32] zapetin52 commented on #12744
I had the same issue. Perhaps i have Node v13.8.0,,, "@babel/core": "^7.8.7", "webpack": "^4.42.0",
"webpack-dev-server": "^3.10.3".
**My webpack.config.js:**
var modl = {
    "rules": [{
            "test": /\.(js|jsx)$/,
             exclude: /node_modules/,
            "use": { "loader": "babel-loader" }
        },
        { test: /\.s[ac]ss$/i, use: ['style-loader', 'css-loader', 'sass-loader'

[2020-03-10 22:54] chivongv commented on #21271
I was curious to see if Reactjs had the same the problem so I reproduced my problem in React.

[Source in React](https://codesandbox.io/s/cool-grothendieck-v8gvb)
[Demo of development code](https://v8gvb.csb.app/)
[Demo of production code](https://csb-v8gvb.now.sh/)

It is working fine in React but not in Gatsby. I think the problem might lies in Gatsby build process. Can someone please update and

[2020-03-10 23:33] funkfinger commented on #22113
Thanks for the reply - `gatsby-ssr.js` is not in play at all. My `gatsby-browser.js` file is as follows:

[code]

the code for the good and bad repos that contains the missing element are exactly the same:

[code]

and

[code]

in the **bad** version the posts are wrapped in `<div>` tags, but in the **'good' (workaround)** version, the posts are wrapped in `<article>` tags.

when the posts are wra

[2020-03-10 23:49] funkfinger commented on #22113
Here is the output from the build:

[code]

[2020-03-10 23:58] fcsm82 opened #22157 "gatsby new"
## Description

Can't start new gatsby project

### Steps to reproduce

gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world

### Expected result

Start new gatsby project

### Actual result

gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world                                                                                               ✔ | at 19:

[2020-03-11 00:22] abchandra commented on #22157
Bumping. Even just a new site isn't working on gatsby-cli@2.10.5

[2020-03-11 00:27] abchandra commented on #22157
Quick fix from someone trying gatsby for the first time and not wanting to give up here - removed 2.10.5 and installed gatsby-cli@2.10.4 (`npm install -g gatsby-cli@2.10.4`)

[2020-03-11 00:32] jcyinnovations commented on #22157
I have the same error with the following environment:
node: 10.17.0
npm:   6.13.6
OS:    Ubuntu 19.10 (5.3.40 kernel)

[2020-03-11 00:41] fabianoramos78 commented on #22157
Same problem here. I decided to install the previous version (2.10.4)

[2020-03-11 00:53] muescha commented on #21901
Can you create a [reproducie test case](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)?

[2020-03-11 01:02] bartekpacia commented on #22157
Same problem. I installed Gatsby for the first time 5 minutes ago and encountered this.

[2020-03-11 01:08] mitchgillin commented on #22157
Encountering this as well. Tried downgrading, but now the SSR bundle is failing.

`Generating SSR bundle failed`

`[BABEL] /.../dev/my-hello-world-starter/.cache/develop-static-entry.js: No "exports" main resolved in .../dev/my-hello-world-starter/node_modules/@babel/helper-compilation-targets/package.json`

I've tried deleting my `node_modules` and re-installing, but no dice. I am using `yarn` if

[2020-03-11 01:09] fcsm82 commented on #22157
just run npm i @babel/helper-compilation-targets

[2020-03-11 01:18] mitchgillin commented on #22157
🤦‍♂ Thank you.

[2020-03-11 01:35] santoshdahal12 opened #22159 "`gatsby-source-git` and `gatsby-source-filesystem` when used together gives duplicate file nodes."
# Summary
I am trying to pull .md files from private git repo. After doing some research, I was able to pull them using [gatsby-source-git](https://www.gatsbyjs.org/packages/gatsby-source-git/#gatsby-source-git). However, this clones into `.cache` folder.

And then again I am using  gatsby-source-filesystem that I need it to see at the `.cache` directory for data source. The build is fine except ,

[2020-03-11 01:44] VSPPedro commented on #22157
Same problem here!

Solved after downgrading to 2.10.4:

[code]

[2020-03-11 02:03] brandoncc commented on #21032
Thank you @pieh!

[2020-03-11 02:05] marcysutton commented on #20527
I'm so glad you surfaced this, @pvdz. I do think a new guide or tutorial on Creating a Generic Plugin would be useful, and your suggestion of hooking into lifecycle events seems like good material. But if you have other generic plugin ideas–especially super simple ones–let us know! @Ekwuno, let's discuss the format as either a guide or tutorial would work.

[2020-03-11 02:18] yaacovCR commented on #22128
This is fixed in graphql-tools-fork v8.9.4.

I also added additional tests mimicking the exact transforms used by gatsby to prevent further issues, see: https://github.com/yaacovCR/graphql-tools-fork/blob/master/src/test/testGatsbyTransforms.ts

[2020-03-11 02:19] yaacovCR commented on #22128
Please confirm when you get a chance!

[2020-03-11 03:04] olegchursin commented on #21791
It is really hard to sell Gatsby to the rest of the dev team with this `npm audit` warnings.

[2020-03-11 03:58] jlkiri commented on #22113
OK, so apparently the problem is exactly because you wrap your page in `gatsby-browser` but do not do so in `gatsby-ssr` which leads to a mismatch  during hydration. I just made your example work locally by copying everything from `gatsby-browser.js` to `gatsby-ssr.js`. You should do the same.

As stated in docs about `wrapPageElement`:

[code]

https://www.gatsbyjs.org/docs/browser-apis/#wrapPage

[2020-03-11 03:58] #22113 closed

[2020-03-11 04:37] #22157 closed

[2020-03-11 04:46] KyleAMathews commented on #22157
I just published @blainekasten's PR — sorry about the breakage everyone! If you upgrade to the latest gatsby-cli (`npm install -g gatsby-cli`) things will work again.

Happy Gatsbying

[2020-03-11 04:51] B4ljeets1ngh commented on #22088
@madalynrose I removed sharp from node modules and package.json, It is working now thanks mam.

[2020-03-11 04:51] #22088 closed

[2020-03-11 06:22] shoyebinamdar commented on #5245
I am also facing the same issue. Has anybody got to any solution yet?

[2020-03-11 06:47] zhuiks commented on #22128
@yaacovCR  Thank you!
It works for me with  graphql-tools-fork v8.9.4

[2020-03-11 07:17] StinsonZhao commented on #22127
😝 I got it.

In this doc: https://www.gatsbyjs.org/docs/schema-customization/#foreign-key-fields

So, I followed this and modified the `createTypes` in `gatsby-node.js`:

[code]

Then the problem was solved.

I think this doc [Preprocessing External Images](https://www.gatsbyjs.org/docs/preprocessing-external-images/) should be updated.

[2020-03-11 09:03] snitin315 opened #22164 "bug: typos present across the project."
## Description
There are various typos present across the project.

![Screenshot from 2020-03-11 14-32-40](https://user-images.githubusercontent.com/46647141/76399772-39481380-63a5-11ea-9d0d-79bc9c436504.png)

### Expected result
typos should be fixed

### Environment

Run `gatsby info --clipboard` in your project directory and paste the output here.

[2020-03-11 10:25] Smiter15 commented on #20569
Is there a solution to this? @wardpeet did the Google team get back to you?
If you still need a website to use as a reference point I am in the process of re-building a marketing site and my arguments for using Gatsby was around performance increase and native lazy-loading and deferred images. Will this not be the case in future?
https://wizardly-cori-130a4b.netlify.com/

[2020-03-11 10:39] zaktwist commented on #11934
or `npm add @hot-loader/react-dom@[YOUR_REACT_VERSION]`
es.: `npm add @hot-loader/react-dom@16.12.0`
and add to gatsby-node.js:
`exports.onCreateWebpackConfig = ({ getConfig, stage }) => {
  const config = getConfig()
if (stage.startsWith('develop') && config.resolve) {
    config.resolve.alias = {
      ...config.resolve.alias,
      'react-dom': '@hot-loader/react-dom'
    }
  }
}
`
run `gatsby

[2020-03-11 11:08] flogy opened #22169 "[gatsby-plugin-sharp] Traced SVG scaling issue in Internet Explorer"
## Description

The Traced SVG placeholders for my images are not scaling in alignment to the actual images in Internet Explorer.

### Steps to reproduce

1. Open this demo website in Internet Explorer 11: https://using-gatsby-image.gatsbyjs.org/traced-svg/
2. Hover some of the images to see the misaligned Traced SVGs.
3. Optionally scale the window size (so the images scale as well) and hover the

[2020-03-11 11:26] comoser commented on #22145
@gatsbyjs/core issue fixed on #22166

[2020-03-11 11:26] #22145 closed

[2020-03-11 11:49] chpio commented on #21901
@muescha https://github.com/chpio/gatsby-remote-wo-ext

[2020-03-11 12:11] laurieontech commented on #21599
I'm not sure this is the best approach. We have an issue #20527 for creating a tutorial on writing a plugin. In general, the contributing section focuses on adding content to the monorepo rather than creating resources for Gatsby users. Those are in the main docs.

Based on the slug/title in the other PR it seems like this doc is actually meant to be a template for the README of a plugin? If that'

[2020-03-11 12:12] laurieontech commented on #21600
Going to echo my [comment on the plugin PR](https://github.com/gatsbyjs/gatsby/issues/21599#issuecomment-597596989). This issue should be updated to reflect that it's creating a README template for a starter.

[2020-03-11 12:17] laurieontech commented on #21464
You mentioned clearing your browser cache, did you run `gatsby clean` as well? Wondering if something else cached unexpectedly. As with the previous commenter, I don't see this behavior when trying to reproduce it.

[2020-03-11 12:20] gitowiec commented on #5069
I think GraphQL queries should not use JS template string syntax to not mislead developer that he can use any variable interpolation. It is just wrong language feature used for this kind of technological feature.

[2020-03-11 12:21] #20226 closed

[2020-03-11 12:29] laurieontech commented on #16444
I believe the new additions on [disabling eslint](https://www.gatsbyjs.org/docs/eslint/#disabling-eslint) improve this experience. I'm going to close this for the moment, but feel free to re-open with further context if you feel additional examples are needed.

[2020-03-11 12:29] #16444 closed

[2020-03-11 12:29] JaKXz commented on #15294
This issue is still not stale and should not be closed.

[2020-03-11 12:30] laurieontech commented on #16095
Hey @gillkyle is this content covered in the plugin workflow? Do we need both issues?

[2020-03-11 12:34] pvdz commented on #20527
@marcysutton I had a call with @Ekwuno about this last week. I have no strong preference about the followup. And between when I reported it and now, I think something has changed / improved that partially-if-not-completely resolves my initial issue. I trust he'll do what's best here and this issue can be closed after that as far as I'm concerned.

[2020-03-11 12:36] laurieontech commented on #15531
@marcysutton Do we think this is still necessary given the added clarity in #19153 ?

[2020-03-11 12:41] assainov commented on #11688
For me the error was introduced when I duplicated a `src/template/template.js`. I moved the file to `src/fonts/` folder to eliminate this variant, but gatsby found it even there. Moving the file out of src folder resolved the issue. I think it has to do with a GraphQL queries being similar in different templates.

[2020-03-11 12:51] BernardA commented on #21271
@chivongv . I agree with you concerning the status. This should be a bug, not question/discussion. It's up to the moderators though.

Concerning the issue as such, I **worked around** it by removing `react-material-ui`'s `withStyles` and added back the same styles using `scss` like so:

`import styles from '../styles/footerCategory.module.scss';`

Again, this is a work around and as I stated above

[2020-03-11 12:52] rj-coding opened #22170 "Schema must contain uniquely named types but contains multiple types named ..."
## Description

I've updated Gatsby to version 2.19.38 (after being on 2.10) and have the `gatsby-source-graphql-universal` plugin installed (at version 3.1.11).

When trying to include our own GraphQL API (based on Strapi) I get the following message:

`Schema must contain uniquely named types but contains multiple types named "CMS".`

### Steps to reproduce

This is my configuration:

[code]

an

[2020-03-11 12:57] rj-coding commented on #22170
O dear... I found out that I placed the `headers` node wrong. When placing it in the `options` it works.

[2020-03-11 12:57] #22170 closed

[2020-03-11 13:02] dandv commented on #22157
@KyleAMathews I've just run into the same `BABEL ... No "exports" main resolved in` issue when running `npm gatsby new`. Isn't that supposed to pull the latest CLI?

@fcsm82: can you please edit the title of this bug to mention exactly what's wrong with "gatsby new"? A lot of people are searching for this issue, and its title could be more helpful. Thanks!

[2020-03-11 13:07] fcsm82 commented on #22157
How about "gatsby new TypeError: initStarter is not a function" ?

[2020-03-11 13:08] Boogieman66 commented on #3209
For anyone coming here from google....
make sure @material-ui/core/styles actually exports ServerStyleSheets

this lead me to realize I'm running an older material-ui/core (3.9.x)
fixed by upgrading to 4.5.1

[2020-03-11 13:56] AishaBlake commented on #21528
@dmitriyaa I took "checkout journey" to mean it should be loaded on every page directly related to checkout in order to leverage that fraud [detection] functionality. So if your site includes a blog or informational pages (about, contact, privacy policy etc.), there's no need to load it on those pages. Loading it on product detail pages, though, will help with fraud detection. I wouldn't load it o

[2020-03-11 14:07] chenrui333 opened #22172 "gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world issue with 2.10.5"
## Description

`gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world` issue with gatsby-cli 2.10.5 (https://github.com/Homebrew/homebrew-core/pull/51519)

### Environment

[code]

[2020-03-11 14:50] RedHoodJT1988 commented on #15531
Seems like the new instructions cover this pretty well.

On Wed, Mar 11, 2020, 7:36 AM LB <notifications@github.com> wrote:

[2020-03-11 15:53] darcy commented on #21901
Following... I'm having this issue using the same technique in the provided test case.

[2020-03-11 15:54] PulsarMedia opened #22183 "allWordpressPost tags returns null"
## Description

My GraphiQL query isn't returning tags when i execute the code in gatsby-node.js however the query is working properly in the GraphiQL interface.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https:/

[2020-03-11 16:17] marcysutton commented on #21600
I'd also recommend looking at the [docs templates](https://www.gatsbyjs.org/contributing/docs-templates/) page, as that's where templates should go.

[2020-03-11 16:20] marcysutton commented on #15531
Sure, that is certainly better than when I opened the issue. Thanks for following up here!

[2020-03-11 16:20] #15531 closed

[2020-03-11 16:22] gillkyle commented on #16095
Yeah true, I do have this listed on the workflow evaluation. The other issue (#20232) is getting pretty close, and the content covered here is one of the last things to get taken care of. I think I'll close the other issue and we can instead focus on this one to narrow the scope a little.

[2020-03-11 16:25] gillkyle commented on #20232
Because the plugin tutorial content is covered in issue #16095 and that's the last recommendation of this evaluation, I'm going to close this in favor of that to narrow the scope of what needs to be finished.

[2020-03-11 16:25] #20232 closed

[2020-03-11 16:33] Behinder commented on #1634
It is intresting to see that using `gatsby-source-filesystem` does not require AllFile in graphql at all. Which may bring confusion and it is not reflected in documentation.
I am using
[code]
and it creates pages with no problem. Not sure however if same principle applies to `gatsby-source-git`

[2020-03-11 16:42] resource11 commented on #20378
Excellent! I'll get started on writing something up for this. Thanks, @laurieontech!

[2020-03-11 17:10] apolopena opened #22184 "gatsby-image: what is the difference between Image and Img ?"
Both `Image` and `Img`, I am wondering what the difference is I have a gatsby starter with:
`import Image from 'gatsby-image';`
and then using the `Image` tag in the code.

but everywhere in the docs I see only this implementation:
`import Img from 'gatsby-image';`
and then using the `Img` tag in the code

Both implementations seems to work the same.

I looked in the [source code](https://github.c

[2020-03-11 17:30] JQuinnie commented on #21599
Hi @laurieontech ,

This issue and the associated issue #21600 was created in response to comments guidance I received from PR #21574 , I will update the description of the issue per your request. Let me know if I need to change anything in particular as I might not extremely familiar with terms and nomenclatures. Thank you so much!

[2020-03-11 17:31] jonniebigodes commented on #22184
@apolopena it's just the name of the component/module that is being exported. Both are the same, it's just a matter of how the documentation author and author of the starter called it in the imports. Technically you could even call it `banana` that it wouldn't matter.

[2020-03-11 17:56] #21652 closed

[2020-03-11 18:30] chenrui333 commented on #22172
Issue seems got fixed in latest version, v2.10.7

[2020-03-11 18:31] #22172 closed

[2020-03-11 18:51] #22183 closed

[2020-03-11 18:52] PulsarMedia commented on #22183
Sorry for posting this - turns out the tags data is being returned in Gatsby.

[2020-03-11 19:09] laurieontech commented on #21599
So I think the issue is that the comments on that PR discuss "How to Write a Plugin README" which is different than a README for "How to Write a Plugin" as this issue phrases it.

The goal here is to create instructions/a template for the README that contributors create when developing a Plugin.

The current phrasing implies that instructions for how to create a plugin should be added to a README

[2020-03-11 19:45] marcysutton commented on #21321
In the future, can @gatsbyjs/learning be consulted before making these kinds of recommendations? That way we can have a discussion about expectations and set contributors up for success.

[2020-03-11 21:11] smthomas commented on #22184
@apolopena I think @jonniebigodes answered the question. The Gatsby docs prefers using `Img` but it's really just a preference as the name you give the component when importing doesn't matter.

If you have additional questions, please re-open this issue.

[2020-03-11 21:11] #22184 closed

[2020-03-11 23:06] gusbmurphy opened #22190 "Webpack "window is not defined" error when using gatsby-plugin-layout and Pts.js"
## Summary

I've been working on my first Gatsby site (a personal site), and am attempting to use the creative visual library [Pts.js](https://ptsjs.org/) to have some stuff going on in the background. It's important to me that the artwork isn't interrupted when navigating to different pages, so I've gone ahead and tried to implement `gatsby-plugin-layout`, however I'm now getting an error on buil

[2020-03-11 23:13] jonniebigodes commented on #22190
@gusbmurphy if you don't mind i can take a look at it tomorrow and possibly come back with a response. Do you mind waiting a bit?

[2020-03-11 23:15] gusbmurphy commented on #22190
@jonniebigodes no rush at all! Thanks for the quick response.

[2020-03-12 00:35] danielmgzzg commented on #21791
this error is not happening in all our gatsby projects, has anyone found a workaround yet?

[2020-03-12 01:18] fcsm82 opened #22191 "gatsby develop ERROR #11321 PLUGIN ERROR #98123 WEBPACK ERROR #85925 GRAPHQL"
## Description

 ERROR #11321  PLUGIN

 Error: Input file contains unsupported image format

ERROR
Failed to retrieve metadata from image /Users/alexey.ivanov/Documents/gatsby-wordpress/src/images/gatsby-astronaut.png Input file contains unsupported image format

ERROR #98123  WEBPACK

Generating SSR bundle failed

[BABEL] /Users/alexey.ivanov/Documents/gatsby-wordpress/.cache/develop-static-entry

[2020-03-12 01:23] snitin315 commented on #22072
What I want to say that the project has `yarn.lock` file,  but we are also ignoring it .

![Screenshot from 2020-03-12 06-51-37](https://user-images.githubusercontent.com/46647141/76478244-05fd9700-642e-11ea-9dbc-204a194c3b4e.png)

corresponding .gitignore -

![Screenshot from 2020-03-12 06-51-55](https://user-images.githubusercontent.com/46647141/76478270-1b72c100-642e-11ea-9518-b5791de213f3.png)

[2020-03-12 01:41] brimarq opened #22192 "Tutorial Part Six Error: Cannot query field "frontmatter" on type "MarkdownRemark""
## Description

Following [this step](https://www.gatsbyjs.org/tutorial/part-six/#create-a-list-of-your-sites-markdown-files-in-srcpagesindexjs) in Gatsby's official tutorial triggers this error:
[code]
GraphiQL shows no frontmatter field.

### Steps to reproduce

1. Clone [this test case repo](https://github.com/brimarq/gatsby-tutorial-part-six-bug-repro)
2. Run `npm install`
3. Run `gatsby devel

[2020-03-12 02:16] k4y4k opened #22193 "Can I source "a record of built pages" from anywhere?"
## Summary
I have a tiny $5 Droplet that limps along when building my ~200-page site on Drone CI - so I'm looking for any way (other than upgrading :joy:) to speed this up. I've come across [this page in the docs](https://www.gatsbyjs.org/docs/page-build-optimizations-for-incremental-data-changes/) and, while this all seems well and good, I have a question about this line specifically:

## Relevan

[2020-03-12 02:46] MGT360124 commented on #21664
i just use node version 8.12.0 without this problem

[2020-03-12 03:27] AishaBlake commented on #22192
@brimarq you have a space at the end of your Markdown file's name (`sweet-pandas-eating-sweets.md `), so that file is being read as plaintext. Getting rid of the space fixes the issue.

It _does_ seem like there should be a clearer error and the site should still build if there's no Markdown file in this case but I imagine that would be tricky to implement in general.

[2020-03-12 03:36] AishaBlake commented on #22192
Closing this since the tutorial does work as written and it doesn't seem like we need to make a change to Gatsby itself. Thanks for bringing it up! We should be checking that tutorial regularly anyway and I spotted a couple of small, unrelated things for us to fix!

[2020-03-12 03:36] #22192 closed

[2020-03-12 03:55] brimarq commented on #22192
Ok... this is strange. I noticed in VS Code that the file `src/pages/sweet-pandas-eating-sweets.md` apparently wasn't being recognized as a markdown file (generic file icon). I removed the `.md` extension, added it back, stopped the server, ran `gatsby clean` then `gatsby develop`, and now it works. I left the [test case repo](https://github.com/brimarq/gatsby-tutorial-part-six-bug-repro) untouche

[2020-03-12 04:03] brimarq commented on #22192
@AishaBlake Ahh... just saw your comment after I posted. Good to know I'm not losing my mind - just my typing dexterity, apparently. LOL
Thanks for catching that.

[2020-03-12 04:07] moonmeister opened #22194 "docs: absolue imports"
## Summary
Currently the [docs](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/add-custom-webpack-config.md) recommend to set absolute imports within webpack. While this does work it only applies to webpack. If you are trying to eject from gatsby's eslint rules or use other tools they will not know how to resolve these and will complain. For those using yarn 1 or 2 there is a better way:

[2020-03-12 06:18] visshaljagtap commented on #21142
hi @spielers @LekoArts  I would like to be maintainer for Marathi Translation for Gatsby Doc. I have more than 1+ years of Internationalization experience so this would help in better Gatsby Doc translation. Also maintainer for the ReactJS Doc marathi Translation

Open source Active Contribution: More than 2+ years of experience

[2020-03-12 06:32] thorsten-stripe commented on #21528
I didn't know https://www.gatsbyjs.org/docs/processing-payments-with-stripe/ 🙈 existed. I'll reopen this issue and assign to myself. Thanks for flagging!