[2019-08-08 13:07] tedlittledale opened #16464 "Styled components only works on build"
## Description

When I run gatsby develop no styles set inside styled components are applied. If I run gatsby build and gatsby serve the styles are applies

### Steps to reproduce

Install a new gatsby default starter
`gatsby new site`

Install styled components

`yarn add gatsby-plugin-styled-components styled-components babel-plugin-styled-components`

Add to `gatsby-plugin-styled-components` ga

[2019-08-08 13:09] eyalroth commented on #14601
@DSchau This is a major bug and should be addressed better by providing a fix / builtin workaround or a very clear documentation about it.

Why is this such a major bug?
 1. It is hard to detect, both because (a) it will only show on a built site, not on a development server, and because (b) it's only the `className` / attributes which do not update while the content does (which may very well give

[2019-08-08 13:16] mduecker commented on #14971
I have the same problem: gatsby develop crashes every time I make a change to my project during hot reloading with the following error:

I already tried removing the node_modules folder, reinstalling packages, switching to a different node version, ...
If this is a problem with one of my packages, I don't know how to identify the one that's causing it.

[2019-08-08 14:04] coreyward commented on #16287
@wardpeet You self-assigned this. Do you need more info than the above?

[2019-08-08 14:12] pewStocky commented on #15317
Awesome thank you both, i'll discuss the above with our dev team and see what the situation is, and will try and provide the code to showcase the plugin isn't working etc Will update soon as we can thank you!!!!!

[2019-08-08 14:20] sw-yx opened #16466 "[gatsby-transformer-remark] [RFC] gatsby-transformer-remark should reflect/expose sourceInstanceName from gatsby-source-filesystem"
## Summary

we encourage people to name things in `gatsby-source-filesystem`, but then barely use them in practical `gatsby-transformer-remark` usage. everyone does hacky stuff like this: https://github.com/gatsbyjs/gatsby/issues/1634#issuecomment-388899348 and regexing on filepath (filepath! regex!!) which means the value of naming things is pretty meaningless.

as described in #1634 we want the

[2019-08-08 14:26] danielberndt commented on #16452
Same issue here. Just upgraded to `2.13.52` and now seeing this message being fired for *every* navigation on production:

https://github.com/gatsbyjs/gatsby/blob/afb3485aa24ed9e380eaa4509e31ee86e8de3642/packages/gatsby/cache-dir/navigation.js#L113

[2019-08-08 14:32] smurrayatwork commented on #16193
@KyleAMathews around 3-4000, with lots of png images that are processed.

[2019-08-08 14:43] danielberndt commented on #16452
Just noticed it happens on my old version using `v2.10.5` as well. I probably never noticed that behaviour before. Here's [the page](https://www.codecks.io/). It's using the gatsby version above. And both Firefox and Chrome cause the reloading behaviour.

[2019-08-08 14:52] Chalarangelo commented on #16287
I can confirm that, for now, reverting to `2.12.0` works fine on Firefox.

[2019-08-08 14:58] arnauguadall commented on #16287
I removed some custom component I had in another folder that I assume they used `.finally()` function and now are gone. It's ok for temporary solution but would be nice to know why when you combine gatsby/Firefox crashes.

[2019-08-08 15:00] smurrayatwork commented on #16193
So I'm working on cleaning up this code currently and I remembered the real bottleneck for process-file.js at least: imagemin.

For some reason, imagemin doesn't support streams. They tried to at one point, but then removed support for it [due to some sort of unknown issues they were having with it](https://github.com/sindresorhus/gulp-imagemin/pull/19#issuecomment-41141997). This means that you a

[2019-08-08 15:03] smurrayatwork commented on #16193
See this conversation on sharp performance and streams too:
https://github.com/lovell/sharp/issues/1815

[2019-08-08 15:07] danielberndt commented on #16452
Okay, found the issue.
Old versions of page-data.json files were cached on the browser.
I assumed that only *.html files needed to be invalidated when pushing a new release as all other assets types seemed to have a hash.
But I didn't account for `page-date.json` files which need to be invalidated on every release as well as they don't contain a content-hash either.

[2019-08-08 15:17] sw-yx opened #16467 "[idea] [rocket science] automated tool to keep shadowed components in sync with gatsby theme changes"
## Summary

when gatsby theme versions change, they can easily break the expectations of people who shadow them. this has a dual effect of making people scared to upgrade (bc it either involves reading every PR/commit or hoping changelogs are well documented) and also makes theme authors scared to change anything.

### Basic example

none, this is beyond my abilities and availability right now but

[2019-08-08 15:17] sw-yx commented on #16467
@brotzky

[2019-08-08 15:18] carly-lee commented on #13072
We also have the same use case as @krischer.
We create `.html` file in the one of our internal plugin and use that `.html` in the Gatsby page. It works on `gatsby build` but shows a 404 page on `gatsby develop`. The HTML file is located and it works if I open it from finder.

We would like to use **Gatsby Preview** with Contentful but with this issue, the preview won't work properly. 😞

[2019-08-08 15:44] zanedev commented on #16452
@danielbernt oh that makes sense so we just need to upgrade or do I need to do something manually to fix it?

[2019-08-08 15:58] davidbailey00 commented on #16456
Hi @bjatwork, thanks for opening this issue!

If possible, please could you create a minimal reproduction so that we can better diagnose what's happening? That will help us to fix the issue faster :slightly_smiling_face: Thanks!

[2019-08-08 16:06] davidbailey00 commented on #16428
This seems to be a valid issue - all other references to `Bearer` in docs and code are uppercase, outside of the file `packages/gatsby-source-graphql/README.md`:

![image](https://user-images.githubusercontent.com/4248177/62719014-e8330400-b9fe-11e9-8867-07596e43a363.png)

Will open a PR :+1:

[2019-08-08 16:11] stefanprobst commented on #16466
You could use the schema customization APIs to add a field that resolves to the parent File node. For convenience, you could wrap this up in a custom field extension:

[code]

[2019-08-08 16:14] davidbailey00 commented on #16140
Hi @Freysi21, thanks for opening this issue!

Would you be able to point us to your repository having this issue, or make a minimal reproduction of the issue? Without this it's not clear exactly why the issue is occurring. Thanks!

[2019-08-08 16:23] mduecker opened #16469 "Crash during hot reload - ERROR UNHANDLED REJECTION request to http://localhost:8000/___graphql"
## Description
Since yesterday gatsby develop will crash every time I make a change to an existing file with an error message (see below).

### Steps to reproduce
Every time I make a change with gatsby develop running, the process will crash. I'll see if I can make a reproducible example, without sharing my full project

### Expected result
After making a change in gatsby develop mode, Gatsby shou

[2019-08-08 16:25] danielberndt commented on #16452
For me, this hasn't been a gatsby issue but an issue of me mis-configuring caching headers on Cloudfront.
So in case your problem is of a similar nature, I would recommend to check your hosting setup!

[2019-08-08 16:36] mavalon opened #16470 "[gatsby-source-wordpress] Empty ACF fields break the query"
## Description

I have a number of Custom Field Types with ACF's, including Relationships.  These fields are optional, they may have zero or an unlimited number of children.

The only way the GraphQL queries actually work, though, is if all the records have at least one relationship specified for each field type.  It seems that instead of building the schema based on the Custom Post Type's fields,

[2019-08-08 16:41] zanedev commented on #16452
Ok I’ll post an example if I can’t figure something out.  Will run gatsby dev also to dig into it more and report back

[2019-08-08 16:51] gillkyle commented on #15298
Oh woops, the Winner label was a little hacky with a pseudo-selector I think, maybe it just got missed somewhere.

[2019-08-08 17:27] #13981 closed

[2019-08-08 17:27] #15464 closed

[2019-08-08 17:44] sidharthachatterjee opened #16472 "Remove flow annotations"
We don't really use them and there are very few sprinkled through the code base.

[2019-08-08 17:57] crutchcorn commented on #16472
I'll take this one

[2019-08-08 18:00] spences10 commented on #14607
Happy to close this, I see no reason for it to stay open with all the other pieces of working happening around this.

Let me know if you have any objections, otherwise I'll close it before the start of next week 🙏

[2019-08-08 18:08] #16428 closed

[2019-08-08 18:29] sidharthachatterjee commented on #16472
Sure @crutchcorn Thank you for picking it up! 🙌

[2019-08-08 18:46] mavalon commented on #16470
I think I might be able to resolve this issue by using `gatsby-source-graphql` instead of `gatsby-source-wordpress` and installing a bunch of wordpress plugins found at https://www.wpgraphql.com/.  So, I'll close this for now.

[2019-08-08 18:46] #16470 closed

[2019-08-08 18:50] zslabs commented on #16396
https://github.com/zslabs/gatsby-es6-test is probably the simplest reproduction I can make of this issue.

It looks like it may have something to do with two components that use `createPortal` (or some variation of it) as the errors point to the "other" component when you click on the trigger. Removing one combo (notes on index page) works as intended.

This is not an issue in older versions of Ga

[2019-08-08 18:53] EdinK1 commented on #16455
Hi @lannonbr . Sure here's the link to my [repo](https://github.com/EdinK1/gatsbty-site). The problem seems to be coming from the fragments.js on the gatsbty-source-contenful folder. I've gitignored the node modules folder. Let me know if you need to take a look at the node modules as well.

[2019-08-08 18:55] devrchancay commented on #16470
To make it work with `gatsby-source-wordpress` you should normalize the data, you can check: https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#using-a-custom-normalizer

I did something similar with a custom field nested for food ingredients.

[2019-08-08 18:59] sw-yx commented on #16466
thank you. i understand there are any number of ways to customize this to get what i want. i’m trying to make it default.

[2019-08-08 19:05] devrchancay commented on #16469
Hi, maybe this issue #11666 can help you

[2019-08-08 19:05] sidharthachatterjee opened #16473 "Production Runtime tests failing in master"
Looks like some production runtime end to end tests are failing on `master`

https://circleci.com/gh/gatsbyjs/gatsby/190068?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Likely broke in https://github.com/gatsbyjs/gatsby/pull/13502 or https://github.com/gatsbyjs/gatsby/pull/16454

These run just fine locally and only fail on CI

[2019-08-08 19:20] devrchancay commented on #16434
Hi, you can attach a screenshot to see the problem better, I just tried `npx gatsby -H 0.0.0.0 --open` and I had no problem.

[2019-08-08 19:22] stefanprobst commented on #16466
the question is what "default" means in this case and what needs to go where. e.g. we can include a `fileInfo` extension in core, but it would still be up to plugins/themes to use this, since we cannot assume in core that nodes derive from files.

slightly related to namespacing: i think it would also help if transformer plugins would expose stuff on resolver `context` (which they can now) to make

[2019-08-08 19:33] mduecker commented on #16469
Thank you. Unfortunately it doesn't solve my problem. I already checked my hosts file and also the gatsby develop command works initially until I change something. So it can't be a general networking/host error.

[2019-08-08 19:38] #16073 closed

[2019-08-08 19:39] stefanprobst opened #16474 "gatsby-transformer-remark excerpt tests should not use toMatch but toBe"
The [tests](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/__tests__/extend-node.js) for `excerpt` in `gatsby-transformer-remark` currently use `jest`'s  `toMatch` and `toMatchObject`. This seems weird because we want to check the exact excerpt, while `toMatch` will also be cool when the result starts with the expected string -- which is exactly *not* what we

[2019-08-08 19:45] amberleyromo commented on #14944
Closed in #16231

[2019-08-08 19:45] #14944 closed

[2019-08-08 19:46] amberleyromo commented on #14943
Closed in #16231

[2019-08-08 19:46] #14943 closed

[2019-08-08 19:46] stefanprobst commented on #16446
Hmm I cannot reproduce this. Running develop in the `fix-author-post-sort` branch in your repo seems to work ok.

[2019-08-08 19:48] amberleyromo commented on #15747
Closed in #16100.

[2019-08-08 19:48] #15747 closed

[2019-08-08 19:54] amberleyromo commented on #15745
Pull from https://www.gatsbyjs.org/blog/2019-04-29-component-shadowing/?

Technical deep dive on shadowing merged in #15846 (https://www.gatsbyjs.org/docs/how-shadowing-works)

[2019-08-08 20:07] lwatson2 commented on #16455
I also just got this error. I was following this tutorial https://www.youtube.com/watch?v=8t0vNu2fCCM&t=13486s and when I tried adding a query on blog.js it gave me a error. The weird thing is that it was working before in graphi.

[2019-08-08 20:09] stefanprobst commented on #12272
@NickyMeuleman sorry haven't had time yet to look closely but it seems you are missing a link extension on the BlogPost interface.

You define your `MdxBlogPost.tags` field to link by name:
[code]

in the typedefs for the BlogPost interface you have:
[code]

Does it work with
[code]

[2019-08-08 20:09] crutchcorn commented on #16446
That's so strange. Could it have something to do with the systems we're using somehow?

Just to confirm, this is AFTER opening the `localhost:8080` link?

I `rm -rf node_modules` and `npm i`d again to double check and it seems to still be happening

I just realized, interestingly, that it only happens if I install it on my install on Chrome, but not Firefox or Safari

[code]

[2019-08-08 20:09] amberleyromo commented on #16330
@alexluong 	I'm not certain how this ended up as part of the learning roadmap. But @vavra7, it seems like you got what you needed from this discussion? I'll re-close it, but if you'd like to open it back up, please let me know.

[2019-08-08 20:09] #16330 closed

[2019-08-08 20:15] amberleyromo commented on #14894
Closed in #15093

[2019-08-08 20:15] #14894 closed

[2019-08-08 20:17] amberleyromo commented on #13804
Note: Related to improving overall site search #16367 and #12503.

[2019-08-08 20:17] stefanprobst commented on #3344
We have a open PR for schema lock-down in #16291. Would be cool if those still interested in seeing this land could share some feedback. Thanks!

[2019-08-08 20:19] stefanprobst commented on #16248
/cc @m-allanson do you have more context here?

[2019-08-08 20:24] stefanprobst commented on #16446
yes.

I'm, on Linux, Node 10.16.2, Firefox 68/Chromium 76.

[2019-08-08 20:38] #15286 closed

[2019-08-08 20:41] devrchancay commented on #16469
That's very weird, I don't know if I already try `npx gatsby clean` I see that it has already deleted up to the `node_modules` folder.

[2019-08-08 20:43] #16446 closed

[2019-08-08 21:03] amberleyromo commented on #11548
Ready to close per @gatsbyjs/core

[2019-08-08 21:03] #11548 closed

[2019-08-08 21:16] karlromanowski commented on #15985
I was able to get a working build by adding:

`react: {
        useSuspense: false
    },`

to i18next.init()

[2019-08-08 21:22] sidharthachatterjee opened #16477 "Change in page context between builds doesn't work correctly"
As described in https://github.com/gatsbyjs/gatsby/pull/15404#issuecomment-509507862 consecutive runs of `gatsby build` currently don't take a change in page context into account.

### Reproduction Instructions

- run `gatsby build`
- change page context
- run `gatsby build` again

### Expected Behaviour

The page should get updated

### Current Behaviour

The page is not updated

### Potential So

[2019-08-08 21:52] sinsedrix commented on #16096
I tried the previous fixes but none worked.
I still get the following error on build:

[2019-08-08 22:49] gillkyle commented on #14607
Sounds good thanks @spences10, I think it makes sense to let the other moving parts situate themselves and we can reopen this in the future. Thanks for investigating so much into this. The context helps other issues and PRs like #16166

[2019-08-08 22:51] #16361 closed

[2019-08-08 23:00] sw-yx commented on #16466
ok! i fully support having a nullable  fileInfo extension in core!

[2019-08-08 23:06] kpennell commented on #15080
having the same thing as @kimbaudi it seems. Really really slow loading pages for lots of data on mobile.

[2019-08-08 23:27] #16439 closed

[2019-08-08 23:31] bsswartz commented on #16097
We have an inventory catalog page that lists a significant number of links to client only routes, such that loading and scrolling through the page creates a **significant** number of 404s apparently relating to pre-fetches. The extra requests are not trivial, and I can only assume that for that cost no pre-fetching actually occurs.

Perhaps there is no perfect solution to this problem without alte

[2019-08-08 23:45] estevanmaito commented on #10742
It took me HOURS trying to reach to this conclusion.

I've copied every bit of the brilliant answer from @jonniebigodes , and it still wouldn't work. Then I realised what was the only thing I didn't change.

There is nothing in the docs saying that you can't `createPages` from inside the (_irony ahead_) `pages` folder. Even without a citation in the docs, it could have been easier if there was a s

[2019-08-09 00:20] bsswartz commented on #15398
This is definitely a bug for people using client only routes, full stop. The question is more whether Gatsby considers developers using client only routes to matter.

[2019-08-09 01:30] kushthedude commented on #16444
@gregrickaby I would like to work on the following.

[2019-08-09 02:01] nguyenami commented on #16474
I would like to take this one, if you can point me where to go. I'm newbie.

[2019-08-09 02:32] matheusmazeto commented on #14480
Thanks for helping me.

[2019-08-09 02:54] ryudice commented on #2518
same here, this is second issue I find it's closed because there is a "workaround" instead of being really fixed, way to build trust around your platform.

[2019-08-09 03:07] KyleAMathews commented on #15080
@kpennel is this consistently reproducible? What is your host?

[2019-08-09 04:32] sw-yx opened #16481 "[gatsby-plugin-mdx] getting `Cannot read property '__reactstandin__key' of null` from react-hot-loader when i accidentally render `undefined` to MDXRenderer from gatsby-plugin-mdx"
## Description

i'm starting to get these a lot:

[code]

i think this is new? and i searched and didnt find a related issue and so i am filing this.

after some investigation i think i found the cause. see below

### Steps to reproduce

i think this happens when you accidentally pass `undefined` to MDXRenderer from `gatsby-plugin-mdx`. the error message is waaaay unintuitive and should be improve

[2019-08-09 05:12] izulki commented on #16455
I'm able to reproduce this error while following this: https://itnext.io/content-management-with-gatsby-netlify-and-contentful-70f03de41602.

Deleting the node_modules/gatsby-source-contentful/sec/fragments.js seemed to have "fixed" the error.

[2019-08-09 05:18] EdinK1 commented on #16455
Hmm, yeah it worked for me as well. I don't know if this is the correct way of doing it but thanks anyways!

[2019-08-09 06:57] #3344 closed

[2019-08-09 07:06] kpennell commented on #15080
@KyleAMathews I'll invite you to a private repo. I think I'm just being a dummy and loading too much damn date on one page. I was hoping react-window + gatsby would magically make this possible. I'm using netlify

[2019-08-09 07:34] stefanprobst commented on #16472
Can we somehow rescue the scattered types from [type builders](https://github.com/gatsbyjs/gatsby/blob/23a460a146e4de02c53ccf00a57b6e7f76163e44/packages/gatsby/src/schema/types/type-builders.js#L21-L45), [field extensions](https://github.com/gatsbyjs/gatsby/blob/23a460a146e4de02c53ccf00a57b6e7f76163e44/packages/gatsby/src/schema/extensions/index.js#L14-L21) and [node model](https://github.com/gats

[2019-08-09 07:41] Aswinpookkatt commented on #16317
Is issue still open?

[2019-08-09 07:48] Aswinpookkatt commented on #15754
Hey can I work on this?

[2019-08-09 07:48] MLukman commented on #14161
Please consider implementing this feature.

[2019-08-09 07:50] davidbailey00 commented on #16432
Reopening since #16454 didn't remove all timeout logic

[2019-08-09 07:52] kpennell commented on #15080
@KyleAMathews What's odd is even when I'm loading on a page that (in theory) should not be loading so much data, gtmetrix tests are saying the page is loading 10MB

https://gtmetrix.com/reports/acrotagsprod.netlify.com/QvEbcg9m

![image](https://user-images.githubusercontent.com/1060385/62763223-53c2b300-ba8b-11e9-913c-8a57c12a2353.png)

I thought perhaps it would only be loading so much data on m

[2019-08-09 08:34] #15754 closed

[2019-08-09 08:58] SSelke opened #16485 "gatsby-plugin-layout nav links wont work"
My application is having a problem with the navigation links being re rendered every time I click on a Link. I had it narrowed down to pages that were created using contentful page data so I assumed that I should try to move the layout up above the pages so they will not re render. When I used gatsby-plugin-layout, the component stopped re rendering when the nav links were clicked, however they no

[2019-08-09 08:59] ImedAdel commented on #15931
Or, if you need to use a function, add a default parameter.

[2019-08-09 09:09] freiksenet commented on #16466
I don't like this idea as it is. I think the core issue is that our parent based search is very limited. I don't think solution in this case is to copy data from parent.

Instead, I propose that for types that have specified types in `@childOf`, we provide search and sort fields for fields inside the types specified. For mime types, we assume that the type is `File`. We don't include conflicting f

[2019-08-09 10:29] kushthedude commented on #16214
@lannonbr I would like to work on this issue

[2019-08-09 10:30] sidharthachatterjee commented on #10742
@estevanmaito That seems like a fair note to add to the docs. Want to PR it in?

[2019-08-09 10:32] sidharthachatterjee commented on #16472
@stefanprobst Could definitely do that but I reckon TS will need more repo wide tooling setup? 😞 Or do you propose .d.ts files? That would be good I think

[2019-08-09 11:02] LucaVerdecchia opened #16487 "Is there a way to intercept Link click?"
Hi,

I'm encountering some problems working with gatsby and page animations, basically, when a user clicks on a link of the component <Link> an effect would start going from left to right filling all the viewport white.

Can I intercept the click of the component Link in gatsby and performing a prevent default?
I saw plugin like gatsby-plugin-layout but the documentation is poorly illustrated and

[2019-08-09 11:07] kmcaloon opened #16489 "wrapPageElement still remounts everything on certain pages"
So I am using wrapPageElement to wrap pages with a layout that I don't want remounting when transitioning from page to page. What's weird is that when I start on a page and go to any page other than home for the first time everything remounts. Then if I go back to the first page that I already accessed it transitions as it should. Plus, if I start on any page other than the homepage then go to the

[2019-08-09 11:22] estevanmaito commented on #10742
Sure.

[2019-08-09 11:22] stefanprobst commented on #16472
yes, just .d.ts files

[2019-08-09 11:35] Saint2Laurent commented on #10841
Hey there, I am trying to build my project and I am stumbling across the same Issue here.
When trying to build it locally it completes normally but when I am trying to build it on my VPS, I am getting the following error:
I think it got something to do either with the operating system or with the RAM available, Im not sure tho.

`
 ERROR

UNHANDLED REJECTION {
  err: Error: spawn ENOMEM
      at C

[2019-08-09 11:38] stefanprobst commented on #16474
Great!

You will find the tests for the markdown transformer plugin in [`packages/gatsby-transformer-remark/src/__tests__/extend-node.js`](https://github.com/gatsbyjs/gatsby/blob/6dad691f3080a5b3ec9223fe21ccb170519bd395/packages/gatsby-transformer-remark/src/__tests__/extend-node.js#L121-L775) -- look for the tests grouped under the "Excerpt is generated correctly" `describe` block.

The test setu

[2019-08-09 11:46] alexanderwe commented on #10841
@Saint2Laurent I see your images are quite large. It could resolve some of my issues by shrinking my image sizes. So my images are around 500kb-1mb and are processed fine on Netlify

[2019-08-09 11:48] arturhenryy commented on #10841
@Saint2Laurent
this error occurs when your server has no or not enough swapspace available. check this thread. not really related to the original question here
https://stackoverflow.com/questions/26193654/node-js-catch-enomem-error-thrown-after-spawn

[2019-08-09 11:53] stefanprobst commented on #2518
@itdsntwork @ryudice Could you open a new issue for this? The original report is from 2017, and the schema related parts of the code base have since been rewritten (e.g. the `infer-graphql-type.js` file mentioned in the above error message does not exist anymore). Thanks!

[2019-08-09 12:10] m-allanson commented on #15900
Thanks @hypervillain! This should be fixed by https://github.com/gatsbyjs/gatsby/pull/16322. Let me know if that's not the case.

[2019-08-09 12:10] #15900 closed

[2019-08-09 12:16] m-allanson commented on #16248
@stefanprobst hmm yeah the catch block should make less assumptions about the error here. Then we could handle specific types of error, but also fall back to a more generic error.

This PR is a good reference for how to add new structured errors: https://github.com/gatsbyjs/gatsby/pull/15244/files.

I'd love to see a PR fixing this 😄

[2019-08-09 12:21] Saint2Laurent commented on #10841
@arturhenryy
Hey artur, thanks for your response, this was indeed related to having no swapspace available, I followed the instructions in the stackoverflow link you provided and it build successfully,
Thanks a lot!

[2019-08-09 12:33] xBau commented on #14919
@derit how did you solve the problem?

I'm having the same issue

[2019-08-09 12:38] m-allanson commented on #16323
Chokidar in particular would be good to get updated. The v3 changelog says:

[2019-08-09 12:41] derit commented on #14919
@xBau follow this document
[https://www.gatsbyjs.org/packages/gatsby-plugin-sass/](url)
and follow this [https://www.gatsbyjs.org/packages/gatsby-plugin-sass/#with-css-modules](url)

[2019-08-09 12:41] elken commented on #16323
That's it for the most part. The biggest ones are the Lodash dependencies, which we can enforce via `npm-shrinkwrap` if pdf2json doesn't update.

[2019-08-09 12:58] #16487 closed

[2019-08-09 12:59] stefanprobst commented on #16087
This should be fixed in gatsby@2.13.51, see #16354

[2019-08-09 12:59] #16087 closed

[2019-08-09 13:16] sw-yx commented on #16466
sounds interesting. is this `childOf` directive documented somewhere? cant find it in the docs.

[2019-08-09 13:32] xavivars commented on #14293
I'd love to help to fix this issue...

[2019-08-09 13:35] thovden opened #16491 "How to get page-data.json to play nice with dynamic app"
## Summary

I have a Gatsby site, hosted on S3 + Cloudfront, with a dynamic app under `/app`. The changes introducing `page-data.json` in 2.9 broke it, and I'm looking for guidance on how to proceed.

## Relevant information

* Gatsby site with dynamic app under `/app`
* Hosted on S3 + Cloudfront.
* 404s are redirected to `/index` (HTML5 single-page app)
* The CDN returns `index.html` where Gatsby

[2019-08-09 13:47] davidbailey00 opened #16492 "Router wrapper isn't focused on initial render"
## Description

On initial render, the focused element is not `#gatsby-focus-wrapper` as it is on subsequent navigations.

### Steps to reproduce

1. Visit a page for the first time
2. Check the focused element e.g. open a console and type `document.activeElement`

### Expected result

Should be the element with ID `gatsby-focus-wrapper`

### Actual result

There is nothing focused, or `document.a

[2019-08-09 13:48] davidbailey00 commented on #16492
@pieh could you give any insight on this? I saw you did a PR recently related to focusing on navigation so wondering if this is actually intended behaviour

[2019-08-09 13:50] ramiel commented on #15464
It's very sad to see this issue closed without any human interaction at all. I understand gatsby.js is a big project and you have no time to look at all the issues, still it's a shame.

[2019-08-09 13:57] rayriffy commented on #16087
Woah! Thank you very much! :)

[2019-08-09 13:58] pqt commented on #16317
Yeah, just pending the merge of #16320 @Aswinpookkatt

[2019-08-09 13:59] mduecker commented on #16469
After some extensive research, I now found the cause:

I tried running the project inside a docker container to see if it's a problem with my local setup. Inside the container with gatsby develop the hot reloading was super slow and then also crashed from time to time, but this time with the error:

I checked the open file descriptors using the lsof command and saw that it spike during hot reload

[2019-08-09 13:59] #16469 closed

[2019-08-09 14:34] ImedAdel commented on #15553
So, for anyone looking for a quick solution. Just put your path in an array and loop over them.

I thought about making a PR to allow `path` to accept both a string and an array of strings, however, it would work the same way as iterating over paths in `gatsby-node.js`.

[2019-08-09 14:49] pierrenel commented on #16481
Same here +1

[2019-08-09 15:19] tkbky commented on #15879
@abumalick
I've made [a PR](https://github.com/gatsbyjs/gatsby/pull/16494) for this, feel free to take a look.

[2019-08-09 15:28] crutchcorn commented on #16472
I'll make sure to include the types in .d.ts files

[2019-08-09 15:30] davidbailey00 opened #16495 "Various issues with production-runtime tests while using offline plugin"
## Description

`production-runtime.js` tests are failing with offline plugin configuration on CI. This was uncovered by #16493 in which we reverted a previous fix to enable using the Cypress Gatsby API integration correctly.

### Steps to reproduce

Run `production-runtime.js` tests on CI

### Expected result

It passes

### Actual result

Various offline plugin-specific issues which previously d

[2019-08-09 15:40] stefanprobst commented on #16466
Better making use of `@childOf` definitely makes sense here -- currently it only affects the parent (which gets child*/children* fields) but not the child.

unfortunately not yet

@sw-yx

Also, an easier way than the above that works with what is currently in core is:

[code]

[2019-08-09 15:41] stefanprobst commented on #12272
Related: #16466

[2019-08-09 15:45] sw-yx commented on #16481
@pierrenel do you see the fix? just make sure you're not rendering undefined. or if you can provide further investigation, please help so that @ChristopherBiscardi has more info to work with

[2019-08-09 15:45] sw-yx commented on #16466
man, this is some magic. 😅

i trust you all know what to do, i'm just trying to advocate from the POV of a frequent user :)

[2019-08-09 15:51] stefanprobst commented on #16466
yeah schema customization docs are a bit of a mess since everything has been dumped into [one overlong file here](https://www.gatsbyjs.org/docs/schema-customization/). we should split this up, regroup into recipes, and probably also create a new `using-schema-customization` example project

[2019-08-09 16:08] stefanprobst commented on #16466
also. for explanation: the `link` extension takes two arguments: `by` and optionally `from`.

the `by` argument sets the foreign-key and defaults to the `id` field. so in the above case: map the field value on `Mdx.fileInfo` to `File.id`.

since the `Mdx.fileInfo` field is empty, we can use the `from` argument to say: don't map the current field value to `File[by]`, but take the value from another

[2019-08-09 16:22] pierrenel commented on #16481
ah no -  I didn't see the fix - but I'm not using mdx, this is a fresh project using styled components - I get the error when trying to wrap <ThemeProvider theme={theme}> around the outermost level components in layout.js - theme is definitely a JS object though. I also get the same error when trying to add a global style object... super weird. I can give anyone access to the repo if they want to

[2019-08-09 16:47] #15164 closed

[2019-08-09 17:27] #15523 closed

[2019-08-09 17:27] #15530 closed

[2019-08-09 17:38] rahkee commented on #4610
Gatsby is a Static File Generator but it still needs a Server to run it. It does not run via opening index.html directly into a browser.

The word Static File Generator is a bit confusing in a sense that it gives you the perception that it can run a website via clicking on HTML files as if it were to be handwritten.

I've tried everything. Copied every tutorial to the T and still cannot get my Gat

[2019-08-09 17:46] wKovacs64 opened #16499 "Build failing with heap out of memory error, gatsby@>=2.11.0"
## Description

Adding [`gatsby-plugin-use-dark-mode`](https://github.com/wKovacs64/gatsby-plugin-use-dark-mode) (my plugin) causes the Gatsby build to fail with a JavaScript heap out of memory error, as other people have reported with other plugins (e.g. `gatsby-plugin-netlify-cms`), specifically when using `npm` (not `yarn`) and Node.js prior to v12.

I suspect this is happening due to `node_mod

[2019-08-09 18:00] Undistraction commented on #14990
Be gone gatsbot. Still broken.

[2019-08-09 18:15] Blackglade opened #16500 "Get previous path/route in 404 page"
## Summary

Is there anyway for me to retrieve the previous page that the user was when they navigate to route that doesn't exist and hit my 404 page. I basically want my 404 page to dynamically change depending on how the user gets there. I currently have this in my `gatsby-browser.js`

[code]

but the `location` variable seems to reset and the `prevLocation` is null when I navigate from a normal

[2019-08-09 18:53] sw-yx commented on #15898
nice docs issue to keep open

[2019-08-09 18:53] sw-yx commented on #15897
simple search thing to fix!

[2019-08-09 19:12] whoisryosuke opened #16502 "Adding HTML to MDX crashes hot reloader"
## Description

I'm trying to create documentation using Gatsby and MDX. I'm taking the HTML examples from the Semantic UI docs and inserting them directly into MDX files.

MDX crashes when adding a lot of HTML to a MDX file and produces the following error:

`TypeError: Cannot read property 'page' of undefined`

The error is not very descriptive of what's actually breaking it (the HTML), and it b

[2019-08-09 19:16] gillkyle commented on #13804
The changes on #16501 wrap up the updates to this workflow so I'm going to close this. The searching issues are being tracked at #16367 and #12503 like are posted in the comment above.

[2019-08-09 19:16] #13804 closed

[2019-08-09 19:24] greypants commented on #15190
Yeah, I can't even get it to run with `--max-old-space-size=8192` (8gb). Right now I've got no options but to revert to `2.10` ☹️

[2019-08-09 19:24] rcaracaus commented on #13664
A lot of our Drupal/Gatsby sites have quite a lot of images that take a long time to download from the Drupal server, I have had to delete this section from gatsby-source-drupal so our developers can work on the site without needing to download all the files. We use Cloudinary for image transformations.

![Screen Shot 2019-08-09 at 2 17 10 PM](https://user-images.githubusercontent.com/1032160/6280

[2019-08-09 19:37] NickyMeuleman commented on #12272
After adding your suggestion querying `allBlogPost` with a `filter` based on a tag did work! 🎉  Thanks!

In the future, will I be able to remove the `@link` from the interface, since Tags might be linked differently per type that implements the blogpost interface? (same question for `Author`, filtering there doesn't work, even with the `@link` moved up to the interface level.

[2019-08-09 20:07] #15693 closed

[2019-08-09 20:14] kimbaudi commented on #10048
Hi, I completed implementing this feature (https://github.com/kimbaudi/gatsby/commit/f7fbd10d2268a4848df7993910d52680516ead5b):
1. change the default destination format from `filename-hash.ext` to `hash/filename.ext`
2. allow customization of the destination format:
[code]

I perform same validation to make sure that the path is a child of `public` folder:

[code]

I even gracefully handle invalid

[2019-08-09 20:32] joshuagagne commented on #16040
Definitely interested in the high level direction as well. I enabled it quickly in the gatsby-cli's `create-cli.js` for develop mode.  Surprisingly that actually allowed it to add a prefix to the html but none of the assets. The root of the site was `localhost:8000/blogs` but unfortunately `/common.js` was still on the `/`.

[2019-08-09 20:51] Js-Brecht commented on #16212
The issue here is in the npm package `devcerts-san`, called from here:

That particular error is generated here:

But this whole function will have trouble:

That utility is calling `openssl` from the shell, and unquoted/unescaped strings are being dropped into the command.

There is version 1.0.0, though.  It is now called [`devcert`](https://www.npmjs.com/package/devcert) (instead of `devcert-sa

[2019-08-09 21:01] esetnik commented on #9207
I just got stuck on the same issue. Is there any advantage to the current gatsby approach of using a directory structure for pages? Why can't we just render them all at the root as suggested by @statico?

[2019-08-09 21:11] let00 opened #16504 "Does setWebpackConfig support multi-compiler mode?"
## Summary
I have a Webpack compiled project that I would like to integrate with Gatsby. I am using Gatsby to serve a blog under the '/blog' prefix, while the rest of the site is just static pages built with webpack.config.js. Is it possible to somehow hook into onCreateWebpackConfig API to have Gatsby build both the blog portion and the rest of the site using a separate webpack config?

## Releva

[2019-08-09 21:14] lexishanson commented on #8357
I had the same issue. Our app is deployed on Heroku. @gurpreetatwal's fixed worked, but not after costing days of pain. Hoping this gets resolved soon.

[2019-08-09 21:24] ChristopherBiscardi commented on #16449
Turns out the cycle is basically a recursive function that happens at runtime from the other issue (ComponentA renders ComponentB renders ComponentA) so there's nothing we can do from shadowing land here unfortunately.

[2019-08-09 21:24] #16449 closed

[2019-08-09 21:32] busticated opened #16505 ""TypeError: Invalid attempt to spread non-iterable instance" after update..."
hi there :wave:

## Description

i'm currently running `gatsby@2.9.4`. when i try to update to latest - at the time of posting this `gatsby@2.13.56` - i am no longer able to successfully build my site. when i try to update incrementally, the last version i'm able to use without error is `gatsby@2.9.11`

### Steps to reproduce

1. `npm update gatsby`
2. `gatsby build && gatsby serve`

### Expected

[2019-08-09 21:39] sidharthachatterjee commented on #14952
Fix published in `gatsby-source-shopify@2.2.2` thanks to @martingtheodo

[2019-08-09 22:00] dmaynard opened #16507 "gatsby-transformer-sharp silently failing to create images"
## Description

Images from blog post silently fail to build properly with 'gatsby build' but work properly with gatsby develop

### Steps to reproduce
clone and install
https://github.com/dmaynard/website
yarn clean
yarn build
yarn serve
then broswe to http://localhost:8000/software-artist-1982-vs-today/
note sometimes, but not always I get error messages during the build line the following:
(sha

[2019-08-09 22:46] #15879 closed

[2019-08-09 22:48] sidharthachatterjee commented on #15879
Published in `gatsby-plugin-sass@2.1.6` thanks to @tkbky

[2019-08-09 22:51] busticated commented on #16505
this is especially odd since the [changelog](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANGELOG.md#2100-2019-06-20) says:

[code]

🤔

[2019-08-09 23:13] #15229 closed

[2019-08-09 23:37] crutchcorn commented on #16472
Do we also want to do JSDoc types additional to `.d.ts` definition files?

For example, something like this:

[code]

Could turn into something like this:
[code]

[2019-08-10 00:03] sidharthachatterjee commented on #16472
Probably best to not duplicate them across both. Since that’s one more thing that’ll need to be kept consistent. I think typescript definitions are a good source of truth and sufficient.

[2019-08-10 00:12] sidharthachatterjee commented on #14971
@mduecker Is your repository public? Or you do have a minimal reproductive?

[2019-08-10 01:42] zanedev commented on #16452
I have spent hours and tried everything, even stripping down the the most bare component of just a menu and it continues to re-render the menu/flashing the logo basically.  I did notice that I get this error message `[Violation] 'requestAnimationFrame' handler took 97ms` every time I click on the navigation..

![image](https://user-images.githubusercontent.com/817344/62815976-50541980-bad5-11e9-87

[2019-08-10 02:11] zanedev commented on #16452
Okay I finally figured this out it was due to using a styled components directly with an `img` tag in the menu for the logo.  I changed it to use a `div` tag instead with a bg image and it fixed it.  Apparently it's re-rendering every time as intended with the new layout components but for whatever reason when using Styled Components and an img tag it would take longer to load the image every time

[2019-08-10 02:11] #16452 closed

[2019-08-10 02:23] nguyenami commented on #16474
Sure, I will take a look.

[2019-08-10 03:01] derit commented on #16377
i solved this problem with refered to this document
[https://www.gatsbyjs.org/docs/add-custom-webpack-config/#examples](url)

[2019-08-10 03:15] crutchcorn commented on #16472
I agree. I just was wondering your thoughts on this.

[2019-08-10 03:34] atomiks commented on #12198
I tried again on the React site (I'm assuming it's been updated to 16.9 which fixed that memory leak), problem still persists.

Lots of detached nodes, including Detached IntersectionObserver (I'm assuming that one is Gatsby),and Detached Anchor/Div Elements (looks like React).

In particular, a constructor called "Xl" (minified Fiber node?) is the most problematic and grows infinitely in size and

[2019-08-10 05:08] kimbaudi commented on #15080
Sorry, I didn't respond sooner, but I am using Netlify to deploy and host my site. I should probably look into [gatsby-plugin-netlify-cache](https://www.npmjs.com/package/gatsby-plugin-netlify-cache). I will report back some time this weekend (or next week) after I install the plugin and see if it helps with this issue.

[2019-08-10 05:08] diegodorado commented on #12198
The bot should not close rgis issue since it is still bringing problems.

On Sat, Aug 10, 2019, 00:35 atomiks <notifications@github.com> wrote:

[2019-08-10 05:15] KyleAMathews commented on #12198
Oh wow @atomiks, good investigation. We don't clean up IntersectionObservers in our Link component https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-link/src/index.js#L34

Should be an easy fix if someone wants to grab it -- just assign the observer to let scoped to the module and clean it up in componentWillUnmount.

[2019-08-10 05:33] kimbaudi commented on #9207
Netlify has pretty good documentation on handling custom redirects/rewrites.
For anyone interested in rewriting a path to prevent 301 redirects, take a look at [HTTP Status Codes - Redirect & Rewrite Rules](https://www.netlify.com/docs/redirects/#http-status-codes)

You should be able to create a `netlify.toml` file to specify your rewrite rules:

**sample netlify.toml with rewrite rule**

[code]

[2019-08-10 05:48] atomiks commented on #12198
So I'm assuming it doesn't get cleaned up if the callback never gets executed (i.e. never reaches the intersection threshold?)

[code]

Reading the memory leak issues/PRs, it mentioned that the user's own code can cause cascading memory leaks in the fiber architecture of React (rather than React itself), so it may be something Gatsby is doing. There is an umbrella issue in the React repo about it.

[2019-08-10 05:59] esetnik commented on #9207
Would it be as easy as modifying https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/worker/render-html.js#L10

[2019-08-10 06:03] kimbaudi commented on #9207
I don't know about modifying https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/worker/render-html.js#L10.

I just wanted to mention that there is a way to do it in Netlify using `netlify.toml`

[2019-08-10 07:41] sebashwa commented on #6947
Hi @brmi,

I got the same issue, but setting the `mergeLinkHeaders` and `mergeCachingHeaders` options on `gatsby-netlify-plugin` doesn't seem to solve it. Can you think of anything else I could try to set the correct headers for *.js files? Do you additionally set any options on the plugin to set/ transform headers?

[2019-08-10 08:29] wangyi7099 commented on #16097
I have a similar issue. I use `createRedirect` function in `createPages` hooks. I create redirects like the following:
[code]
And when I view page and the `/guide link` exists on the page, the `page-data/guide/page-data.json ` which not exists will still befetched and return an error of `404`.

And also, if the server's bandwidth is bad, you cannot view any other pages until page-data.jsons of all

[2019-08-10 10:43] CRNRSTD commented on #16481
+1 for styled-components' ThemeProvider.

[2019-08-10 10:55] atilafassina commented on #13177
fyi, I had this issue after making 12 my `default`, so this fixed for me ❤️

[2019-08-10 11:17] DanielRuf commented on #13177
`npm rebuild sharp` or `npm rebuild` should work in most cases when your environemnt has changed.

[2019-08-10 11:43] lannonbr opened #16513 "[gh-actions] Switch to the new workflow syntax"
## Summary

As of this past week, GitHub announced a new version of [GitHub Actions with CI/CD](https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/). The main thing is they are switching from HCL over to YAML for the workflow files. They have a are ending support for the HCL syntax at end of September, so we should eventually switch over to the new syntax.

You can either look at the

[2019-08-10 11:47] lannonbr commented on #16507
Hey @dmaynard, that URL for the GitHub repo gives back a 404. Could you update it to point to a public repo?

[2019-08-10 12:03] lannonbr commented on #16434
So I can confirm this is a Windows issue, as `0.0.0.0` as a host to listen on means to push to be routable on the network on all interfaces.

The issue is, MacOS and Linux will route these if you try navigating to it, but on Windows, it returns a 404. Likely due to Windows commenting that 0.0.0.0 is technically an invalid IP so it wouldn't need to implement routing functionality for this.

So the

[2019-08-10 13:31] ChristophWalter commented on #10984
After taking a look at Gatsby and Gridsome, I am wondering why we are reinventing the wheel for vue currently. I think it might be promising to bring those projects closer together and benefit from each other. Then I found this issue.

Image there is a common base project which handles the internal graphql layer, speaking to different sources and transforming content. Then there are adapters for d

[2019-08-10 14:07] abhinav-anshul commented on #15344
It happens when you use contentful as your CMS, as it forcefully creates image asset in the node modules folder. one needs to add a dummy image to the Media section in the contentful web application, further, if there are image manipulation plugins like gatsby-transformer-remark, gatsby-plugin-sharp or similar, you need to take care of that, as gatsby throws an exception by default in the most new

[2019-08-10 14:56] #10048 closed

[2019-08-10 14:58] KyleAMathews commented on #12198
Yeah exactly

[2019-08-10 15:33] vpicone commented on #12857
@tanaypratap If you're not able to tackle this one right now, maybe allow someone else to give it a shot?

[2019-08-10 16:00] Strangehill commented on #7086
I got to this error in the same manner and solved it by using yarn instead of npm --- a solution I found at a [comment](https://github.com/gatsbyjs/gatsby/issues/6834#issuecomment-496931037) to similar issue #6834 so I'm adding here for reference.

[2019-08-10 17:04] kimbaudi opened #16516 "gatsby-remark-images: disable background-image on gatsby-resp-image-background-image to prevent FOUB"
## Description

[gatsby-remark-images](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-images) has a blur-up effect that does not work well on `.png` images with transparent edges. I looked at the gatsby-remark-images [source code](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/gatsby-browser.js#L23) and it is using css transition for the blu

[2019-08-10 17:27] #14931 closed

[2019-08-10 17:27] #15449 closed

[2019-08-10 17:27] #15496 closed

[2019-08-10 17:27] #15513 closed

[2019-08-10 17:27] #15519 closed

[2019-08-10 17:27] #15542 closed

[2019-08-10 17:27] #15547 closed

[2019-08-10 17:27] #15562 closed

[2019-08-10 17:36] PedroLamas opened #16517 "Image captions ignore alt value if it matches the filename"
## Description

If we enable captions for `gatsby-remark-images` inside the `gatsby-plugin-mdx`, any `alt` attribute that matches the filename (after replacing and escaping some chars), it will ignore the value and not show it as a caption.

### Steps to reproduce

Given the following partial `gatsby-config.js`:

[code]

The following markdown:

[code]

### Expected result

[code]

### Actual resu

[2019-08-10 18:04] d4rekanguok commented on #16250
Check out my answer to your SO question: https://stackoverflow.com/a/57444523/10340970

[2019-08-10 18:36] iFlameing opened #16519 "Adding debug method in reporter API"
## Summary
Can we have a debug method in reporter API as we have info, error, panic...

### Basic example
[code]
### Motivation
I am working on gatsby-source-plone and I want to give the user additional information from the plugin. So, that user can debug its code more easily.

thanks! I am happy to send a pr if needed. But some clarification is also needed because there is reporter.log is present

[2019-08-10 18:37] dmaynard commented on #16507
Sorry about that.  The repository is now public.

David Maynard

On Sat, Aug 10, 2019 at 4:47 AM Benjamin Lannon <notifications@github.com>
wrote:

[2019-08-10 18:37] dmaynard commented on #16507
repo is is now public.

[2019-08-10 18:47] cpboyd opened #16520 "VSCode terminal stops showing input after running CLI"
## Description

I can't see anything that I type after running `gatsby` from the VSCode terminal.

### Steps to reproduce

1. Run `gatsby develop` and hit Ctrl+C.
2. Terminal stops showing text input.

### Expected result

Text input should still display after running `gatsby develop`.

### Actual result

Text input is not shown.

### Environment

[code]

[2019-08-10 19:47] dmaynard commented on #6291
Thank you @MaximeHeckel  I was having the same problem with local builds.  gatsby build seemed to exit before all of the images were packaged (but gatsby develop worked fine).  Upgrading to "gatsby-plugin-sharp": "^2.2.10" seems to have fixed this problem for me.

[2019-08-10 19:49] dmaynard commented on #16507
Thanks to  @MaximeHeckel Upgrading to "gatsby-plugin-sharp": "^2.2.10" seems to have fixed this problem for me.

[2019-08-10 19:49] #16507 closed

[2019-08-10 22:31] abhinav-anshul commented on #16455
I am getting a similar error, deleting fragments file is not working for me. Anybody found a  solution yet?

[2019-08-10 22:52] chrisrikli commented on #13975
Seeing this as well.

[2019-08-10 23:31] EdinK1 commented on #16455
Deleting the fragments file should do the trick. Try restarting your server.

[2019-08-11 00:04] raydot commented on #10463
Agreed!  Similar error, having a pretty tough time debugging.

[2019-08-11 00:56] ajarouih commented on #13891
Same prob here

[2019-08-11 03:22] vadimdemedes commented on #15505
Hey @me4502, I rewrote the entire process of building output in Ink to be much more efficient and would love it if you could try it out in your project. Here's how:

1. Ensure all dependencies are installed
2. Run `npm install 'vadimdemedes/ink#experimental-reconciler'`
3. Open `node_modules/gatsby/node_modules/gatsby-cli/lib/reporter/reporters/ink/index.js` and replace lines 17-19 (only use the "

[2019-08-11 06:09] jonlow commented on #13425
👍

We have a WP site with over 4000 posts, so building all of the post pages and paginated blog/category pages results in over 5000 page queries. Needless to say the build is extremely slow (20 - 30 minutes).

@jasonbahl Is decoupling the data and passing it through context the only way to speed this up at the moment? Thanks for all your hard work! 💯

[2019-08-11 06:32] mavalon opened #16526 "Unable to complete build on production ("Killed" when building JavaScript and CSS bundles)"
## Summary

I am able to compile my gatsby site locally, but when I try to build on production, it runs for about a minute and then the process is killed, presumably because it runs out of memory (?).

## Relevant information

[code]

### Environment
Amazon Lightsail.
[code]

Is there anything I can to do to get this to work?

[2019-08-11 08:47] abhinav-anshul commented on #16455
Thank you, it worked by deleting the fragments file, Although it seems more like a workaround than a true solution. Anybody dug deep into this?

[2019-08-11 12:24] Galzk commented on #16281
In the babel config - babel-preset-gatsby
"sourceMaps": "inline"
Might solve the problem?
Interesting why the regression has occured, but for now as @marcinsydor pointed **2.13.25** works well with the debugger

[2019-08-11 13:05] whalesingswee commented on #16453
Thanks! the information is really helpful :)

[2019-08-11 13:05] #16453 closed

[2019-08-11 13:10] imlastrebor opened #16527 "Gatsby-image failed prop type"
## Description

I try to get my WP posts' featured images to post site. I followed [this](https://www.gatsbyjs.org/packages/gatsby-image/) tutorial and now I'm able to see featured image on the site but I also get this warning:
[code]
BlogPost.js file:
[code]
gatsby-config.js file:
[code]
I searched this kind of problem and it seems that this is not common thing. Hope that here someone can help wi

[2019-08-11 15:34] antoinerousseau commented on #11934
Do we still need that `exports.onCreateWebpackConfig` to remove the warning in the last gatsby versions?

[2019-08-11 16:00] stefanprobst opened #16529 "Clarify GraphQL type ownership and permissions for themes"
When building the GraphQL schema, we keep track of which types are created by which plugins. This information is used to prevent plugins from modifying types they do not own.

The exception to this is `default-site-plugin`, i.e. a user's `gatsby-node.js`, which is always allowed to modify types. When a type has been modified by a user, it is then owned by the user.

We should clarify, how this sho

[2019-08-11 16:09] stefanprobst commented on #12272
@NickyMeuleman
thanks for experimenting!
after looking at this i think it's something we need to fix in core: both issues have to with the fact that we use the interfaces's resolver when manually preparing nodes so we can run a filter on them. instead, we should run the resolver of the type we get from the interface's `resolveType`, which is also what happens when graphql processes the selection s

[2019-08-11 17:27] #15420 closed

[2019-08-11 17:27] #15502 closed

[2019-08-11 17:27] #15589 closed

[2019-08-11 17:28] K-Kit opened #16531 "pagequery throwing error"
(I currently have a workaround using a separate component but not knowing why this is happening is really bugging me :)

## Description

So I'm having a really tough time figuring out what's actually happening here but my index page query is throwing the error below.

### Steps to reproduce

Unfortunately I can't link the demo project because I'm using a paid ui kit, however here's a gist of the f

[2019-08-11 17:37] #8456 closed

[2019-08-11 17:49] LekoArts commented on #16531
Remove the `()` from the `graphql` function.

[2019-08-11 17:51] jarodtaylor commented on #11243
I found that handling it in the `gatsby-node.js` file was easier:

[code]

[2019-08-11 17:53] K-Kit commented on #16531
Great catch! can't believe I missed that...  Thanks @LekoArts

[2019-08-11 17:53] #16531 closed

[2019-08-11 18:43] SudhirKaushik commented on #9917
Was stuck from 3 days and I followed the advice
`gatsby clean`
`gatsby build`
`gatsby develop`

Caching is quite a problem with emerging JavaScript technologies

[2019-08-11 18:55] vasilenka commented on #11934
Seems like it's coming back again

[2019-08-11 19:28] crhistianramirez commented on #16434
Could we not just push people to localhost:8000 instead of that invalid IP? That would work for everyone right?

[2019-08-11 19:36] johnnyBira commented on #15423
Also a very similar issue with named exports.
![image](https://user-images.githubusercontent.com/23634023/62838696-0eb3a200-bc80-11e9-9843-97144138d941.png)

[2019-08-11 19:57] #16517 closed

[2019-08-11 20:40] sm1th commented on #15924
I will work on creating a pull request for this, but it might take a while due to limited time and lack of experience adding types to a project (although it appears to be simple)

[2019-08-11 21:02] Kureyko commented on #16455
Same problem here, cant find whats the problem with contentful images
[code]
Tried all of the contentful fragments, none of them works.

[2019-08-11 21:16] EdinK1 commented on #16455
`export const query = graphql`
  query {
    contentfulBlogPost {
      title
      publishedDate
      body {
        json
      }
    }
  }
``

I believe this is where all your images and content from your contentful blog is.

[2019-08-11 21:31] Kureyko commented on #16455
Update: after updating gatsby-source-contentful, seems that bug is gone, at least, i got my images now. But previously, i got same error message, that said, that error is propobally from Gatsby & i should post about that error here, on github.

[2019-08-11 21:39] kirbydcool commented on #4357
If anyone's still struggling with this issue, I was able to get it working pretty easily using [tsconfig-paths-webpack-plugin](https://github.com/dividab/tsconfig-paths-webpack-plugin).

tsconfig.json
[code]

gatsby-node.js
[code]

And then you can import like this
[code]

[2019-08-11 21:57] sidharthachatterjee opened #16533 "Fix path rewrite for first load on some routes"
We added tests in https://github.com/gatsbyjs/gatsby/pull/16218 to assert that the url in the address bar and path for the route are identical after navigation and first load for various types of routes.

When adding these tests, it became apparent that behaviour is inconsistent (only for build) for
- index route
- static sibling route

Those two have been skipped for now. Fix is unclear at the mo

[2019-08-11 22:30] #15716 closed

[2019-08-11 22:42] sidharthachatterjee commented on #15716
gatsby-remark-images@3.1.10 supports native lazy loading thanks to @gabefromutah 🥇

[2019-08-11 23:35] sidharthachatterjee opened #16534 "Improve hot reloading for hooks"
`react-hot-loader/webpack` currently gets applied to all of `node_modules`

We should apply this only to `react-dom`

This should do two things

- speed up develop
- fix issue where everything breaks if there is `node_modules` in `src`

## Related
Follow up to https://github.com/gatsbyjs/gatsby/pull/13713 and https://github.com/gaearon/react-hot-loader/issues/1309

Attempted in https://github.com/

[2019-08-11 23:41] sidharthachatterjee commented on #11406
Reopening this since it looks the above is a popular answer and that this issue is prevalent enough to warrant better resources/warnings on

We should do two things for now:

- Add the quoted answer in documentation
- Investigate how to catch this in Gatsby and add a more helpful error that enables the user to resolve this themselves

[2019-08-11 23:55] sidharthachatterjee commented on #15344
Looks like this is safe to close since the original issue was resolved (as I commented above) and the rest look like unrelated (but similar looking) issues that folks have figured out fixes for.

Let's close this! Thank you everyone 🙌

[2019-08-11 23:55] #15344 closed

[2019-08-12 00:08] sidharthachatterjee opened #16535 "Test suite failed to run with Cannot find module gatsby"
Tests fail _strangely_ sometimes like in https://circleci.com/gh/gatsbyjs/gatsby/192130?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Currently no idea why (re running the workflow resolves this) but it would be nice to investigate this and make this less flaky

[2019-08-12 01:22] doctorpangloss opened #16537 "I cannot make heads or tails of how to use gatsby-image-sharp"
It's very obscure.

My expectation is that I can specify things very similar to `background-` commands, which is a really useful and familiar way to name image transformation tasks.

Instead, I'm making GraphQL queries? On images? And the side effect of this is that they are processed? And the argument to the React component is `fixed=` or `fluid=` ...?

It's all very mired in its own jargon.

I'm

[2019-08-12 01:45] #16513 closed

[2019-08-12 01:53] eduarmreyes commented on #11406
@sidharthachatterjee where exactly do you see this quoted in the documentation, what page? :thinking:

[2019-08-12 02:01] decimoseptimo opened #16539 "Prefetching with navigate"
From the [documentation](https://www.gatsbyjs.org/docs/gatsby-link/) i cannot tell if `navigate` could prefetch. I´d like to prefetch the auto-suggestions of search box.

In an input select, the user querys, an auto-sugestion list opens up, upon user click on one of the suggestions, the page navigates to.

[2019-08-12 05:24] selbekk commented on #10179
This issue will now hit a lot more consumers, due to React 16.9.

[2019-08-12 05:27] stefanprobst commented on #14797
hi @VikLiegostaiev
there actually was an issue with the `infer` extension not being handled correctly in the schema update step, which was fixed in 2.13.45, so maybe updating the package will help.
if not, is your repo public somehwere?

[2019-08-12 05:48] matowang commented on #16537
This is because the lower resolution images for lazy loading have to be created at compile time. Imagine changing the Img src attribute at a state update. It just wouldn't work.

[2019-08-12 06:06] matowang commented on #16527
Try this instead, just as the tutorial wrote.
[code]
Or for fixed you can choose one of these

- GatsbyContentfulFixed
- GatsbyContentfulFixed_noBase64
- GatsbyContentfulFixed_tracedSVG
- GatsbyContentfulFixed_withWebp
- GatsbyContentfulFixed_withWebp_noBase64
- GatsbyContentfulFluid
- GatsbyContentfulFluid_noBase64
- GatsbyContentfulFluid_tracedSVG
- GatsbyContentfulFluid_withWebp
- GatsbyContent

[2019-08-12 06:23] freiksenet commented on #16537
Gatsby processes images on compile time, so it needs to know at that point what images to create. That's why GraphQL is helpful, because we can execute it on compile time. There are no conditionals inside GraphQL and GraphQL queries are on top page level. This means there can't be any branching that we won't reach during SSR. Code your suggested would fail if it's not in an "initial render". So an

[2019-08-12 06:23] #16537 closed

[2019-08-12 06:27] freiksenet commented on #16527
Thank you for answering this @matowang!

To expand on this - you need more fields in fixed that you have provided. Gatsby has built-in fragments that have all the fields that `Img` component needs.

[2019-08-12 06:27] #16527 closed

[2019-08-12 06:34] freiksenet commented on #16516
Hello @kimbaudi!

Thank you for a detailed report! Would you like to add a fix to that via PR? I think a separate flag would be better than automatically doing it on transparent background.

Thanks! :purple_heart: :muscle:

[2019-08-12 06:40] freiksenet commented on #16505
The change between 2.9 and 2.10 was that we dropped node 6. This involved changing our babel preset to target node 8, which may have changed some transforms that are used there. It could be that you had some code that became incompatible after the update. :man_shrugging:

I wonder if you could share the code with us, then we can help you debug it better.

[2019-08-12 06:41] freiksenet commented on #16502
CC @johno

[2019-08-12 06:44] freiksenet commented on #16489
Hello @kmcaloon!

Sorry to hear you are having an issues. I wonder if you could produce a minimal reproduction for this issue, this would help us immensely in trying to debug it.

Thanks! :purple_heart: :muscle:

[2019-08-12 06:47] freiksenet commented on #16485
Hi @SSelke!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a m

[2019-08-12 06:47] freiksenet commented on #16481
CC @johno

[2019-08-12 06:58] freiksenet commented on #16457
Thank you for reporting this @trt2!

Would you like to make a PR to fix that? We would greatly appreciate the help. :purple_heart:

[2019-08-12 07:15] freiksenet commented on #16520
CC @wardpeet

[2019-08-12 07:15] stevensukma commented on #16516
I'll try working on this one

[2019-08-12 07:18] xaviemirmon opened #16542 "Reopen #15028"
Can't reopen [#15028](https://github.com/gatsbyjs/gatsby/issues/15028) .  Something seems broken with the bot it closed the issue even though I added a comment and now I can't reopen.

[2019-08-12 07:36] freiksenet commented on #16431
Unfortunately this isn't currently possible. CC @davidbailey00, who is our offline expert.

[2019-08-12 07:45] KirankumarAmbati commented on #11406
@sidharthachatterjee, is this taken ? If not, I can take it up, but definitely need your help. :D

[2019-08-12 07:56] ConorLindsay94 commented on #16250
Thanks for this! I have added a comment to your answer.

Basically, what you are saying is correct and it gets around the rendering problem. But because we are generating so many pages (#14954), the JS bundle becomes to large for us to be able to use it as a solution, because of the array containing `matchPath` data.

In that issue above, I am told that adding so many `matchPath`s to pages isn't r

[2019-08-12 07:56] MWalid commented on #16481
Same issue here with `<ThemeProvider theme={theme}>`

[2019-08-12 07:59] freiksenet commented on #16464
Hello @tedlittledale!

I'm sorry but I can't reproduce it. I've repeated all the steps that you did and I see green text both in `develop` and in `build`.

I wonder if you can provide an example project where this error appears.

Thanks! :purple_heart:

[2019-08-12 07:59] MWalid commented on #16481
In my case the error is:

`Cannot read property '__reactstandin__key' of undefined`

[2019-08-12 08:00] freiksenet commented on #16542
Sorry about that. Reopened.

[2019-08-12 08:00] #16542 closed

[2019-08-12 08:57] imlastrebor commented on #16527
Yeah, that works. Thanks @matowang !

[2019-08-12 09:04] m-allanson commented on #16526
Hey @mavalon - that sounds like it could be an out of memory issue.

It'd be good to try and confirm the cause. Are you able to get more info by following any of the steps here?  https://serverfault.com/questions/268288/most-long-running-commands-instantly-killed-on-amazon-ec2-ubuntu-10-04

Alternatively, can you try running the build on a machine with more memory and see if that build completes?

[2019-08-12 09:18] m-allanson commented on #16520
@cpboyd I was unable to replicate this with VSCode 1.36.1 or 1.37.0. I can keep typing after hitting Ctrl+C in the VS Code terminal.

Do you have access to a second computer that you're able to replicate this on? Does this only happen in the VS Code terminal or can you recreate it using Terminal.app?

<details>
<summary>Click here to view terminal output</summary>

[code]

</details>

[2019-08-12 09:26] kimbaudi commented on #16516
@stevensukma - thanks for taking on this PR! I'm really curious how you plan to implement this. For me, the most interesting part of this task is determining whether `.png` images contain alpha-transparency (at least on the outer edges of the images). There is [this canvas technique](https://stackoverflow.com/a/41287919/1097123), which seems promising. Looking forward to this PR 😄

[2019-08-12 09:34] m-allanson commented on #16504
Hey @let00 here's a couple of things you could try. The `gatsby-plugin-netlify-cms` plugin sets up it's own webpack build, so you might be able to [refer to the code in this file](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-netlify-cms/src/gatsby-node.js) to do what you want.

Alternatively you could use [the `onPostBuild` or `onPreBuild` API hooks](https://www.gatsbyjs.o

[2019-08-12 09:50] m-allanson commented on #16431
It's worth noting there can be good reasons not to do this. If you have a very large site, or people are visiting from slow (or data-capped) connections, this could cause a lot of extra (and unexpected!) data usage for your visitors.

The defaults for the offline plugin are designed to try and balance these trade-offs. That said it might be possible to do this with the offline plugin - I'll let @d

[2019-08-12 09:51] stevensukma commented on #16516
Thanks for the information, this is my first attempts on open source contribution. Hope you guys don't mind being a little bit patience :pray:.

[2019-08-12 10:10] m-allanson commented on #16450
@jalik I think Gatsby should support `.jsx` already? Can you share [a minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) that demos jsx files not working? Along with the results of running `gatsby info`.

Thanks!

[2019-08-12 10:28] krishnakakade1999 commented on #16520
i think you all try to reinstall it and
<b>and after that execute this commands </b>
<b>sudo get apt</b>
<b>sudo get update gatsby</b>
<b>try this if not working then let me know</b>

[2019-08-12 10:44] sidharthachatterjee commented on #11406
@eduarmreyes That's a very good question! Perhaps a new page linked to in https://www.gatsbyjs.org/docs/debugging/

@KirankumarAmbati If @eduarmreyes is taking up the documentation you could try out the second point in the list! Happy to help 🙂

[2019-08-12 10:51] tu4mo opened #16544 "gatsby-transformer-react-docgen not picking up components wrapped with forwardRef"
## Description

gatsby-transformer-react-docgen not picking up components wrapped with `forwardRef`.

### Steps to reproduce

1. Install `gatsby-transform-react-docgen`.
2. Add component with `forwardRef`.

### Expected result

You should see the component by querying allComponentMetadata.

### Actual result

Component isn't listed in allComponentMetadata.

### Environment

  System:
    OS: macOS

[2019-08-12 11:00] trt2 commented on #16457
I do not think I am familiar enough with the gatsby codebase to submit a patch that reliably fixes this issue without creating undesired side effects.

I did look into the error and it occurs when trimming path name in the function `trimPathname` in `packages/gatsby/cache-dir/find-path.js`.

As a quick hack, for testing, I modified the function so that it looks like this:
[code]

This "fixed" the

[2019-08-12 11:37] #15398 closed

[2019-08-12 12:07] karldanninger commented on #15398
Updating to `2.13.59` removes the warnings 👍  thanks @freiksenet & @wardpeet !!! ❤️

[2019-08-12 12:18] endormi opened #16548 "[themes] Showcase for gatsby-themes"
## Summary

Adding a showcase for themes on the official website would be nice, not just Theme Jam.
Idk, if you have discussed about not adding themes for showcase, but I couldn't find a related feature request, so here it is.

### Basic example

There are showcases for gatsby sites, starters etc. so why not include gatsby themes.

### Motivation

It supports people who make themes.

[2019-08-12 12:18] colbyfayock commented on #15398
Confirming on `2.13.59` i'm not seeing the terminal messages in develop mode. Thank you for this.

I am however still seeing the 404 in the console on deploy.

![image](https://user-images.githubusercontent.com/1045274/62864448-c6c16900-bcd9-11e9-8a42-afd693d5db31.png)

is the official Gatsby position on this "Won't Fix" even with all of the other concern here? @wardpeet @freiksenet Otherwise this

[2019-08-12 12:24] magicspon commented on #15398
I can confirm, I am still seeing errors in the browser console.

I don't think this should be closed if part of the issue is still active

namely:
"prefetch.js:33 GET http://MYDOMAIN/page-data/app/faqs/page-data.json net::ERR_ABORTED 404 (Not Found)"

[2019-08-12 12:47] melpers commented on #16097
This seems to be breaking direct Links to images using the public URL. Steps to reproduce:

- `gatsby new test-site`
- Edit the `/src/components/image.js` component to

    1. `import { Link, useStaticQuery, graphql } from "gatsby"`
    2. Add `publicURL` to the `placeholderImage` query.
    3. Wrap the `<Img ... />` in a `<Link to={data.placeholderImage.publicURL}>`

 - Build & Serve the site

Wh

[2019-08-12 13:13] bsswartz commented on #16097
This is a reasonable point for page content, but how many Gatsby sites have thousands (or even hundreds) of embedded web-apps? I appreciate that the page-data scheme solves a real world performance problem, but imposing the same data scheme on client only routes is costly premature optimization.

+1 for  match-paths.json approach.

[2019-08-12 13:19] bsswartz commented on #15398
The patch basically just hides the error message output by the development server. I believe that this fixes the actual issue in the original ticket here which they have treated as a nuisance logging issue.

Unfortunately the page-data.json 404 errors are more than spurious/nuisance logging and represent a logical flaw with the new Gatsby page-data scheme.  There is already an issue representing t

[2019-08-12 13:25] freiksenet commented on #16516
@stevensukma Don't hesitate to ping me if you need any help!

[2019-08-12 13:26] asasmith commented on #11406
I'm currently working on this. @sidharthachatterjee I'm unable to assign or add labels. Thanks for your help!

[2019-08-12 13:26] freiksenet commented on #16516
@kimbaudi I think for now it's enough to have a flag so that user can manually set that, but in future we can detect the alpha layer in a way that you suggested.

[2019-08-12 13:28] bsswartz commented on #16097
The 404 behavior seems to be required to allow static pages to live within the namespace of a client only route, which certainly might be useful.

For many use cases (ie. those which do not use the shadowing behavior at all) having the 404s is not a worthwhile compromise. Perhaps it would be possible to expose an API or configuration that would allow some match paths to have total control over the

[2019-08-12 13:30] freiksenet commented on #16520
Hi @krishnakakade1999!

I'm not sure I understand your answer, are you sure that it applies to this issue?

Thanks!

[2019-08-12 13:38] mohatt opened #16550 "False deprecation warning when defining parent-child relation with `childOf` type extension"
### Description

By default, gatsby shows a deprecation warning when implicitly adding child fields to parent type when parent type is `@dontInfer` but when defining the parent-child relation with `childOf` type extension, this warning should not be displayed

### Steps to reproduce
[code]

### Expected result

No deprecation warning

### Actual result

Deprecation warning is shown.

### Environme

[2019-08-12 13:38] colbyfayock commented on #16097
There are also a lot of concerns about this on #15398 as well.

While @pieh and @wardpeet i understand the gravity of returning to the page manifest, and i dont think anyone here is recommending you roll back a huge performance boost by doing so, i think discarding this as a non-issue is ill informed, and the idea that if it cant be done there, it can't be done anywhere, feels a little like you're

[2019-08-12 13:43] silverqx commented on #16455
I have the same problem.

gatsby@2.13.59
gatsby-source-contentful@2.1.19
gatsby-source-contentful@2.0.75 ( **tried older version too, the same problem** )

I have created gatsby project like this:
`gatsby new great_gatsby_bootcamp https://github.com/gatsbyjs/gatsby-starter-hello-world`

Installed `gatsby-source-contentful@2.1.19` and setup env. variables, like is described in README.md.

Created s

[2019-08-12 13:46] mohatt commented on #16550
Might be related to #15715

[2019-08-12 13:52] dskvr commented on #12882
Is this dead?

[2019-08-12 13:53] magicspon commented on #15398
The original ticket references both flavours of errors.  In my opinion the browser error is more of an issue than the terminal warnings.

[2019-08-12 13:56] johno commented on #16481
I'll open up a PR/fix for MDX's side today, though this is something that happens in other circumstances as well. I've seen this occur more generally, if you pass `null`/`undefined` to `React.createElement` at the custom pragma level. It _appears_ like the standard React error is swallowed:

[code]

Can anyone reproduce the `styled-components` error and toss it into a repo or codesandbox? I haven'

[2019-08-12 14:04] krishnakakade1999 commented on #16520
@freiksenet try it it  is worked for my friend give it a try then we will see ok

[2019-08-12 14:05] andrejpavlovic commented on #14962
not stale

[2019-08-12 14:08] johno commented on #16502
@whoisryosuke it looks like there is an extra `</b>` closing tag which causes the JSX parsing to break.

Technically speaking, MDX doesn't support HTML syntax, but instead JSX, though `gatsby-plugin-mdx` attempts to convert HTML to JSX. I think it's at that stage that the crash might be occurring.

Also, we shouldn't be crashing and instead showing an error messaging pointing to the syntax error.

[2019-08-12 14:38] #16504 closed

[2019-08-12 14:41] JustFly1984 commented on #10179
Yes, this bummers me to update react in my gatsby project

[2019-08-12 14:42] zslabs commented on #16396
@wardpeet Have you had a chance to test out the minimal reproduction at https://github.com/zslabs/gatsby-es6-test ? Prod builds will work fine, but not develop. This ticket seemed to go quiet after I provided a way to reproduce; so I'm unsure if it's because of lack of interest or it's something being looked at behind the scenes.

[2019-08-12 14:52] jakewies commented on #15493
Hey @johno, sorry for the delay. The fix has been made in https://github.com/gatsbyjs/gatsby/pull/16556. Let me know if I can do anything else! 😄

[2019-08-12 15:00] stefanprobst commented on #16550
Thanks! Should be fixed soon.

[2019-08-12 15:06] RamonBalthazar commented on #16381
Thanks for answering, @wardpeet !

Yes, I tried that but then I found another memory leak.
This time it looks like it's Image Sharp who's not playing nicely with `GATSBY_CPU_COUNT`

![image](https://user-images.githubusercontent.com/4910678/62875395-ddd47b00-bd1a-11e9-99e6-916ec15a450a.png)

[2019-08-12 15:23] kmcaloon commented on #12104
@DavidChouinard could you give more details here? I'm wondering what exactly could cause this using Auth0?

[2019-08-12 15:46] cpboyd commented on #16520
@m-allanson I just tried a clean install on Ubuntu 16.04 with VSCode 1.37.0 and same issue.

I'll try to work on a minimal reproduction.

VSCode:
[code]
Gatsby:
[code]

[2019-08-12 15:53] frontendmantra commented on #15397
add dummy image also work for me

[2019-08-12 16:00] kirbydcool commented on #16097
I'll reopen since it seems like there's more discussion here.

[2019-08-12 16:17] DavidChouinard commented on #12104
The [Auth0 installation instructions](https://auth0.com/docs/quickstart/spa/react/01-login) for React trigger this issue (see `export const Auth0Context = React.createContext();`).

It's especially painful because everything works fine in development but `gatsby build` fails when trying to deploy. The error message is very opaque — I don't know what I would have done had I not been able to randoml

[2019-08-12 16:29] kmcaloon commented on #7747
Another workaround. I'm currently running all queries inside `createPages` and then saving all data I need available within providers as json files within `static/global`. Then in the providers I just import the data I need from that static directory.

[2019-08-12 16:34] slorber commented on #10482
Couldn't we make the page context variables be available into the static queries? That would not solve all the problems but at least some of them.

[2019-08-12 16:37] kmcaloon commented on #12104
Ah I see. The Auth0 package actually creates an empty context. Since this might be a common pattern, should this be fixed on Gatsby's end so that it doesn't break the builds?

[2019-08-12 16:51] dtakeiteasy commented on #16455
Had the same issue, try reinstall gatsby-source-contentful to Version 2.1.19, worked for me.
`npm install --save gatsby-source-contentful`

[2019-08-12 17:21] DavidChouinard commented on #12104
Definitely — or at a minimum, a less confusing error message  + parity between `gatsby build` and `gatsby develop`.

[2019-08-12 17:25] doctorpangloss commented on #16537
Ah, I see. My mistake was thinking it was XSLT, it's more like the Windows Registry of the web! 😄

I get it, thanks for the kind explanation. I look forward to being a helpful contributor and appreciate all the work that you've done, I figured out how to use the tooling and it all works great.

[2019-08-12 17:26] adamwade2384 opened #16562 "Sorting on union types with GraphQL"
## Summary
I am attempting to sort a list of blog posts by date. I'm using the GraphQL Contentful API with the gatsby-source-contentful plugin. After I run the following query I receive an error suggesting I cannot sort the blog_posts array. Is there an alternative syntax for unions?

## Query

[code]

## Error

[code]

[2019-08-12 17:27] #15624 closed

[2019-08-12 17:27] #15628 closed

[2019-08-12 18:01] abumalick commented on #15601
I missed your comment @wardpeet . Thank you for your feedback. I hope you will be able to merge this PR soon!

[2019-08-12 18:03] abhinav-anshul commented on #16455
I tried reinstalling, but no luck. I think its more of a bug or version clash rather than error

[2019-08-12 18:14] jakewies commented on #15494
@johno I'll make a PR for this now that I have the ability to see changes to themes in development.

[2019-08-12 18:34] JaKXz commented on #15294
Still seeing this issue!

[2019-08-12 18:54] jakewies commented on #15494
I just pushed a commit in https://github.com/gatsbyjs/gatsby/pull/16564 to fix this issue, and it works as intended. But something else came to mind.

If I, a user of `gatsby-theme-notes` pass a custom `basePath`:

[code]

Then the constructed breadcrumb will look like this:

[code]

The problem with this is that now you have a home breadcrumb `~`, which links to `/notes`, as well as a `notes` bre

[2019-08-12 18:55] zanedev commented on #16452
Just wanted to update again in case someone else comes across this.  The img tag fix mentioned above fixed the logo visibly flickering but there was still a menu flicker.  I finally tracked it down to using font src paths in my global `createGlobalStyle` for styled components.  Moving those font file loading references outside of the global style and layout fixed it for me.  Lesson learned be care

[2019-08-12 19:21] CRNRSTD commented on #16481
Well this is awkward... See if wrapping a **single child** instead of multiple children in the <ThemeProvider> fixes the issue like it did for me.

[2019-08-12 19:38] molebox commented on #15804
just wanted to give an update... ive been on holiday but am back this weekend so will get on this! Sorry for the delay! :)

[2019-08-12 19:53] coreyward commented on #16562
Gatsby doesn't add arguments to nested fields, unfortunately. You would need to use the top-most field `allContentfulBlogPost` (or whatever type `blog_posts` resolves to) in order to use the `sort` argument.

Alternately, you can use the APIs exposed during the boot sequence (e.g. [createResolvers](https://www.gatsbyjs.org/docs/node-apis/#createResolvers)) to augment the schema to include `blogPos

[2019-08-12 19:53] GuillaumeAmat commented on #16431
@freiksenet @m-allanson Thank you both for your answers.

I totally understand the overweight and anti-performance behavior that this kind of need implies. But I the feature I have in mind is actually an opt-in one.

If, and only if, the Gatsby based project contains a full offline part, I would like to call a method to pre-cache all the required assets.

With that imperative way, it still respect

[2019-08-12 20:08] Siregar commented on #12427
This solved my problem.

[2019-08-12 21:06] j-651 commented on #8560
I'm experiencing an issue similar to what's been described here. Although I'm not using any CSS frameworks (all custom .sass), some styles, elements, and classes are processed differently between `gatsby develop` and `gatsby build`.

This is occuring on a page where I am checking for search parameters using `URLSearchParams(window.location.search)`. With that, I am dynamically showing an element d

[2019-08-12 22:04] adamwade2384 commented on #16562
Thank you @coreyward! You're right, this query does give me what I'm looking for but my components are already built and composed so that won't work for me. I'll look into using createResolvers.

[2019-08-12 22:05] #16562 closed

[2019-08-12 22:51] #15028 closed

[2019-08-12 22:56] sidharthachatterjee commented on #15028
Fix published in `gatsby-source-drupal@3.2.14` thanks to @xaviemirmon

[2019-08-12 22:58] jalik commented on #16450
okay... indeed I am unable to reproduce the problem I had, even doing the exact same steps than before, which were :
- run `gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world`
- rename `index.js` to `index.jsx` or include a component file which has the extension `.jsx`
- run `gatsby develop`
- check for errors in the console or in the page at http://localhost:8000/

I wo

[2019-08-12 23:10] #16550 closed

[2019-08-12 23:16] jsve opened #16567 "Is there a way to cancel a build based on validation of a page query?"
## Summary
I've tried to find the answer to this in the documentation and tried to find suitable methods in source code. Both without luck. Hope this is the correct place to post my question.

I have a main query in my gatsby-node.js and for the fetched pages i pass them to their respective templates. In some of the template.js files I fetch some additional data through a page query.

For some of

[2019-08-12 23:41] vilchesalves commented on #6358
Agree. Loading from a .yaml file with a `---` separator should return an array of yamls.

[2019-08-12 23:44] tomswork commented on #14497
Hey guys - I am also getting this problem on a Windows 10 dev machine;
Exactly the same problem - webp conversion is fine when deployed to netlify (which runs a linux build) but developing directly on windows it doesnt convert properly and has the black background as described above with the alpha channel - No upgrade to any of the gatsby sharp packages makes a difference.

I also came across this

[2019-08-12 23:51] vai0 commented on #15126
@erquhart @sidharthachatterjee have a reproducable repo up ^. Let me know what I can do to further help debug

[2019-08-13 00:10] jonniebigodes commented on #16181
@maximechofflet i've picked up on your issue and if you don't mind i can expand a bit on this issue.
Below are the steps i took to triage this and get a working gatsby site with firebase auth.
- Created a new gatsby site based on the hello world starter.
- Added the necessary dependencies, `firebase`, `react-firebaseui` and `react-loadable`.
Nothing to much in here asides from the last package add

[2019-08-13 00:13] Kevin-Hamilton commented on #14173
@wardpeet - just another gentle reminder ... I believe this should be "not stale".  See your comment here: https://github.com/gatsbyjs/gatsby/issues/14173#issuecomment-493937401

[2019-08-13 00:22] matowang commented on #16567
You can try to do in the render () of the page component.
entB.data.test
Since data is null it will throw an error.

[2019-08-13 01:10] smerth commented on #15436
I am running into what looks to be the same error.  I have updated all packages and I am running gatsby-plugin-theme-ui not gatsby-theme-ui

This is the error I am getting.

[code]

[2019-08-13 01:11] smerth commented on #15436
sorry missed part of the error:
[code]

[2019-08-13 02:33] jacksongonzales opened #16568 "allWordpressWpMedia no longer being returned in GraphQL endpoints"
## Description

Things were all fine and well. There I was, thinking I had refined my media queries, when suddenly I came back like a week later and `allWordpressWpMedia` was no longer coming back and thus none of my images. Previously, the same code ran fine locally and even built successfully on netlify here: https://brave-jang-99700a.netlify.com/

### Steps to reproduce

Run `gatsby develop` on

[2019-08-13 04:40] SSelke commented on #16485
Thank you for reaching out. It appeared the issue was a conflict between gatsby-plugin-layout and styled-components; in particular when loading fonts. Will post bug issue soon.

[2019-08-13 04:40] #16485 closed

[2019-08-13 04:40] #15914 closed

[2019-08-13 04:57] ibjorn opened #16569 "ACF Gallery [gatsby-wordpress-source]"
Hey peeps, I'm still new to Gatsby. Have been studying React and Gatsby for about 2 months now.

I think I bit off a bit more than I can chew though when I told a friend I'll use him and his Wordpress site as a guinea pig.

He has galleries on only one category of his Wordpress posts. I followed the instructions for ACF, got the plugin, set up the gallery, blah blah.

Tearing my hair out though tr

[2019-08-13 04:59] DavidTNguyen opened #16570 "failed during stage 'building site': Build script returned non-zero exit code: 127"
## Description

**11:18:24 PM: Error running command: Build script returned non-zero exit code: 127
11:18:24 PM: Failing build: Failed to build site
11:18:24 PM: failed during stage 'building site': Build script returned non-zero exit code: 127**
11:18:24 PM: Finished processing build request in 1m25.704599563s

### Steps to reproduce

github repo: https://github.com/davidtnguyen/blog
netlify buil

[2019-08-13 05:53] kimbaudi commented on #16516
@freiksenet - I've been thinking about this and the bigger problem for me is the `backgroundColor` option:

1. `backgroundColor` default value should be `transparent` (not `white` or empty string or `undefined`). The initial value for css `background-color` property is `transparent`. See [this MDN doc].(https://developer.mozilla.org/en-US/docs/Web/CSS/background-color). It is wrong to assume that

[2019-08-13 06:46] Kureyko commented on #16455
I did following steps:

1. Deleted `fragments.js` from gatsby-source-contentful node_modules
2. Updated gatsby-cli
3. Cleared cache `npm run clean`
4. Tried to `gatsby develop`, but got error (On other forums, some people managed to fix bug on this step)
5. Updated source-contentful `npm install --save gatsby-source-contentful`
6. Cleared cache `npm run clean`
7. `gatsby develop` and success - its

[2019-08-13 07:14] silverqx commented on #16455
I downgraded `npm i gatsby@2.3 gatsby-source-contentful@2.0`

[2019-08-13 07:17] GerardKetuma commented on #15595
Having the same issue. RSS Feed title is not being passed to the output. Getting 'Untitled RSS Feed'

[2019-08-13 07:21] ashr81 commented on #16455
Add an image in your media files in your contentful. And try an image inside your post. This fixed issue for me. How I am not sure.

[2019-08-13 07:22] dreilacadin commented on #16455
For those having the same error, I resolved mine without deleting any data or downgrading any packages by doing these steps:

1. Go into your Contentful space
2. Click on the 'Media' tab and add a single asset as a dummy image to act as a placeholder
3. restart dev server by running `npm run develop` or `gatsby develop`

Hopefully, this solves your issues as well

[2019-08-13 07:23] thalseth commented on #16481
Hi @johno ! Thanks for looking at this problem. I reproduced the error with `styled-components` in codesandbox here https://codesandbox.io/embed/gatsby-starter-default-g9xov. It looks like the `createGlobalStyle` function is the root creating the error reported by @MWalid .

[2019-08-13 07:27] thalseth commented on #16481
Awesome @CRNRSTD ! Your comment showed up after publishing the example 👆 😂

But maybe the problem is that the standard React error is swallowed as @johno mentioned? Impossible to debug this. Just luck that someone know the requirements for using `ThemeProvider` by styled-components in this case 😎

[2019-08-13 07:39] jsve commented on #16567
Thanks for your reply @matowang ! This works well for the `build` command. Is there an equally simple solution to catch this from `gatsby develop`?

[2019-08-13 07:57] matowang commented on #16569
I don't use wordpress but have you tried printing the object out?
[code]
My guess is that gallery_post is an array that contains objects with `gallery` as their property. If the `gallery_post` is an array you might have to map it
[code]
or do
[code]
depending on what size the array is.

Should be a relatively easy bug to fix.

When you do fix it make sure to do
[code]
instead of
[code]
Unless gall

[2019-08-13 07:59] silverqx commented on #16455
Adding of a image helped, image have to be published

[2019-08-13 08:04] matowang commented on #16567
Wait so do you want to do this in gatsby-node.js or the component render? To test at compile time just do it in gatsby-node.js
[code]
This way the build will fail.

[2019-08-13 08:04] whalesingswee commented on #15968
I was receiving this issue as well on useContext, problem solved with adding wrapRootElement on gatsby-ssr.js as stated, initially I only had it on gatsby-node.js.

[2019-08-13 08:57] cloderic commented on #15611
We have this issue poping up randomly, is there a known workaround?

[2019-08-13 09:27] patrickbenjamin1 commented on #16123
@pieh

I've put together this really stripped back public repo for replication

https://github.com/patrickbenjamin1/gatsby-graphql-error-replication/tree/master

It has two hooks in it, one with an enum argument, and one without. The enum one causes errors in the console and in the browser, the other one does not.

[2019-08-13 09:42] patrickbenjamin1 commented on #16123
Also just been testing around, this is a problem with StaticQueries in general not supporting enums. I just tried it with a StaticQuery component and got the same issue.

[2019-08-13 09:51] umxr commented on #14076
@ppsirius Hey, sorry for the delayed response. I was using the incorrect plugin. i switched over to gatsby-source-prismic and it all worked. Thanks!

[2019-08-13 10:09] stefanprobst commented on #16123
i think this could be similar to #16241. have you tried making `sort` and `where` an array?

we don't show the correct error message because of #16248

this is fixed in relay upstream, our relay  fork needs https://github.com/freiksenet/relay/pull/1 to be merged and released

[2019-08-13 11:26] moroshko commented on #15057
Hitting this issue as well.

@freiksenet Could you provide some guidance for where the issue might be?

[2019-08-13 11:45] patrickbenjamin1 commented on #16123
Aha! Yeah this has fixed it, is this something that maybe should be added to the documentation as well?

[2019-08-13 12:02] stefanprobst commented on #16123
This is actually a bug in relay: the graphql spec requires single values on list fields to be interpreted as single-value-lists. relay did not correctly check this case when there was a list-of-objecttype field. this is now fixed upstream, we need to do the same for our relay-fork. @freiksenet can we merge https://github.com/freiksenet/relay/pull/1 and release a new version?

[2019-08-13 13:26] sw-yx commented on #15436
@smerth are you trying from `gatsby new`? maybe youre caching something you arent aware of

[2019-08-13 13:35] JulienCorb opened #16576 "HTML works fine in local dev mode, messed up after build"
## Description

I have three Components : `ArticleList`, `Article` and `SeeAllButton`. As you can see below, `ArticleList` is the parent component and renders 3 `Article` + the `SeeAllButton` at the end.

Notice that I have the following tree :

src
||--components
||||||--Article
||||||||||--Article.css
||||||||||--Article.js
||||||--SeeAllButton
||||||||||--SeeAllButton.css
||||||||||--SeeAllButt

[2019-08-13 14:14] #15802 closed

[2019-08-13 14:31] ManoelLobo opened #16578 "gatsby-theme-blog error when using footnotes"
## Description

The gatsby-theme-blog produces an error when trying to use markdown footnotes

### Steps to reproduce

1. Create a new Gatsby site using the gatsby-theme-blog (e.g `gatsby new my-themed-blog https://github.com/gatsbyjs/gatsby-starter-blog-theme`)
2. Create a post with footnotes in it (or add a footnote to one of the sample pages)
3. Run `yarn develop`

### Expected result

The page

[2019-08-13 14:47] tkvw opened #16581 "gatsby-image opacity not configurable"
Currently revealed opacity is configured as 1 and unrevealed as 0 and there's no way to override this. I would like to use `0.8` and a backgroundColor of `#000` to darken the image a bit.

Something like this, would be ideal:
[code]
I can PR if requested.

[2019-08-13 15:21] crutchcorn commented on #16472
Just wanted to jump in and mention that I have some initial work on this branch:

https://github.com/crutchcorn/gatsby/tree/remove-flow-definitions

But it seems to be causing various test failures. I intend to be looking into them today and tomorrow

[2019-08-13 15:29] jonniebigodes commented on #16570
@DavidTNguyen i've picked up on your issue.

These are the steps i took to triage your issue.
- Cloned your repo.
- Installed the dependencies
- Modified `gatsby-config.js` to the following:
[code]
I omitted the full plugin configuration for brevity. But the key part of this is that when using netlify and netlify and it's cms, i had to push down the the location of the plugins to the end so that i

[2019-08-13 15:35] cpboyd commented on #16520
@m-allanson I basically removed everything from my blog and kept running into the issue...

So I created a new blog from https://github.com/gatsbyjs/gatsby-starter-blog and still had the issue.
Followed the instructions, selected Yarn.

[code]

[2019-08-13 15:51] MWalid commented on #16481
Thank you @CRNRSTD, you addressed the issue, and a little `<Fragment />` solved this error for me.

[2019-08-13 16:05] jamesvclements commented on #9911
For anyone still struggling with this, I was using the [gatsby universal starter](https://github.com/fabe/gatsby-universal) and adding `gatsby-plugin-styled-components` in `gatsby-config.js` did not work for me _until_ I deleted the starter's content in `gatsby-ssr.js`, both the `wrapPageElement` and `replaceRenderer` functions. I wasn't using either - you may need to play a bit more if you need b

[2019-08-13 16:11] danboyle8637 opened #16587 "Adding Firebase for app section of site... worried about bundle size"
I am getting ready to hook up by backend I created with Firebase functions to the app part of my site.

Currently, I created the app part in my current Gatsby site per the instructions in the docs.

But I have been reading lately how big the bundle sizes get when you add in Firebase. So I started to think about making the app part of my site it's own app separate from my marketing Gatsby site.

Th

[2019-08-13 16:13] busticated commented on #16505
that usually warrants bumping the major.

clearly something changed - the interesting question is what exactly? did babel / gatsby's build pipeline support some non-spec compliant usage or something? (edit: yes, [seems so](https://github.com/babel/babel/issues/9942#issuecomment-489389297)).

from the above linked issue:

🤔 i don't see this usage in our codebase but i do see a lot of this kind of t

[2019-08-13 17:08] #15493 closed

[2019-08-13 17:27] #15497 closed

[2019-08-13 17:28] matthewharwood opened #16588 "Why isn't the Gatsby preact plugin showing a bundle reduction?"
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-preact

Recreation steps:
[code]
bundle approx 214kb
[code]
Add gatsby.config.js

[code]
run:

[code]
Build is still 214kb

How do I verify that preact is being leveraged over react?
Moreover, if I remove all instances of React from codebase I getter linter errors:

[code]
What is the proper way to remove React from the boiler p

[2019-08-13 17:29] axe312ger commented on #13699
Just came around here since I am on a new machine. Can definetly confirm:

Had to `git fetch origin gatsby-transformer-video` to checkout a specific branch. This takes now again the same time master took :sweat_smile:

[2019-08-13 17:58] rgllm opened #16589 "Implement GraphQL @include conditions"
In the first place, if this is already implemented and/or discussed previously my apologies since I didn't find it anywhere.

## Summary

Gatsby has its own implementation os GraphQL with some additions to the GraphQL “original” API. However, it lacks some of the specs described for GraphQL originally [like the @include conditional directive](https://graphql.github.io/graphql-spec/June2018/#sec--i

[2019-08-13 18:16] baobabKoodaa commented on #15669
I just ran into this same issue. For me the problem is that the website becomes unfathomably large when unnecessarily large versions of images are generated (I don't know how large; it takes too long to compile). I understand all the arguments regarding high retina displays and letting the browser choose etc. -- but I can't compile my site without resizing images outside Gatsby. How about keep the

[2019-08-13 18:20] smerth commented on #15436
@sw-yx  I ran `gatsby clean` and deleted yarn lock file and re-installed packages and have the same error.  It doesn't break the build and as far as I can see the theme is working properly.
The site I am working from is built from Lengsdorf's tutorial on Egghead.io.  He does starts the site build from scratch.
I will publish the theme and see how it works in a new site and let you know.

[2019-08-13 18:23] tmilewski opened #16590 "[gatsby-source-contentful] What's the cache directory location for this plugin?"
## Summary

I'm using the `gatsby-plugin-netlify-cache` plugin which, by default, caches the `.cache` directory on Netlify.  I've confirmed that it's successfully caching the appropriate data/directories, but `gatsby-source-contentful` is still re-requesting all data from Contentful on every build.

I noticed locally that I don't see any data from `gatsby-source-contentful` in `.cache`, despite th

[2019-08-13 18:26] KyleAMathews opened #16591 "Document structured logging and write check for PRs to prevent new unstructured errors from being added"
We added support recently for structured errors.

But we haven't yet documented how to do this.

Because of the lack of documentation & awareness of structured errors — new PRs are adding new unstructured errors which will just have to be converted in the future to be structured.

So we should write a docs page + a check (with peril perhaps?) to check for unstructured errors in the PR (regex for r

[2019-08-13 18:30] blimpmason commented on #8824
I'm looking to do the same without using object-fit contain within a set container dimension.

Specifically I'd like to use this functionality in a variable-width image carousel in which each image displays at it's own aspect ratio but scales to either a maximum height or a maximum width. With object fit you get gaps on left and right of portrait oriented images but it would be ideal if the fluid

[2019-08-13 18:34] sw-yx commented on #15436
sorry man. i got nothing.

[2019-08-13 18:44] AryanJ-NYC commented on #15549
@lannonbr Any idea what I'm doing wrong here? I'm hoping to extend `@narative/gatsby-theme-novela`'s use of `gatsby-transformer-remark`: https://github.com/AryanJ-NYC/webdev-coach-blog/blob/move-to-narrative/gatsby-config.js#L32.

The links still do not open as expected.

[2019-08-13 18:58] #14474 closed

[2019-08-13 19:05] lannonbr commented on #15549
Let me open a new issue about this

[2019-08-13 19:07] lannonbr opened #16593 "Extend themes with subplugins"
_Originally posted by @AryanJ-NYC in https://github.com/gatsbyjs/gatsby/issues/15549#issuecomment-520958930_

With plugins that have sub-plugins, how do we particularly extend the a plugin like this so we can add more sub-plugins inside a theme. In this instance @AryanJ-NYC wants to add in an additional remark plugin.

[2019-08-13 19:08] lannonbr commented on #16593
cc: @ChristopherBiscardi

[2019-08-13 20:23] rileyjshaw commented on #11934
I'm also seeing this on new starter projects.

[2019-08-13 20:41] ChristopherBiscardi commented on #16593
in the future we'll have an `onPluginOptions` lifecycle so that all `gatsby-transformer-remark` sub-plugins could be combined into a single instance. For now themes have to expose the optionality to modify sub-plugins or allow users to turn off the `gatsby-transformer-remark` plugin and instantiate their own.

[2019-08-13 20:47] ibjorn commented on #16569
You my friend, are a genius! You were 100% spot on. Thank you so very much!

I need to still sharpen my skills here. This is where I still get confused:
*"My guess is that gallery_post is an array that contains objects with gallery as their property".*

The fact that gallery is a property of the objects, **IN** the array. Got it.

* also not really into WP, but clients ask for it by name :(

[2019-08-13 21:12] axe312ger commented on #16590
It uses `gatsby-source-contentful`s createRemoteFileNode to cache it, which stores in `PROJECT_DIR/.cache/gatsby-source-filesystem`

This will be cached when using `gatsby-plugin-netlify-cache`, but all files get deleted when the gatsby cache is reset. (Which can happen more often as you would think)

I can see how this can be very bad for huge sites. SQIP and the new video transformer will use `n

[2019-08-13 21:38] claygiffin opened #16603 "Does Gatsby Link always cause an animated scrollTo? (Solved)"
#### Case closed, I had a rogue CSS rule setting my site to ```scroll-behavior: smooth```.

## Summary

I am building a site, and I would like to prevent the page from animating on route change while using Gatsby Link. This is especially strange because I did not encounter this scrollTo behavior in previous Gatsby sites that I've made. Is there somewhere that we can set the speed of the animated s

[2019-08-13 21:53] RobinHerzog opened #16604 "GatsbyJS + AWS + CloudFront + Lambda@Edge"
Hello,

I'm looking for someone who managed to install his website on cloudfront with any redirection.

In my case:
xxxx.com/event-mobile-web-apps => xxxx.com/event-mobile-web-apps

xxxx.com/event-mobile-web-apps?ok => xxxx.com/event-mobile-web-apps/ => xxxx.com/event-mobile-web-apps

xxx.com/event/?ok => xxx.com/event?ok

GatsbyJS is not good for SEO in that case; This is a serious issue.

[2019-08-13 22:34] rgllm commented on #16603
Hello @claygiffin.

I'm not sure, but I think this example can answer your question.

[code]

[2019-08-13 22:38] DavidTNguyen commented on #16570
Thank you @jonniebigodes for a very thorough explanation!

I thought to clarify that the issue has never been about running the site locally in 'develop' mode.  It's when I try to deploy it on Netlify.  The exception report was excerpted from the  Netlify blog itself during deployment.

Was you able to deploy it on your own Netlify sandbox?

[2019-08-13 22:52] DavidTNguyen commented on #16570
I also had to change the netlify.toml file to the following.  it worked now ✅

[2019-08-13 22:52] #16570 closed

[2019-08-13 23:15] sidharthachatterjee commented on #16317
Published in `gatsby-source-shopify@3.0.0` thanks to @mimibar 🥇

[2019-08-13 23:16] #16317 closed

[2019-08-14 00:11] thomkrupa commented on #15425
Aren't prefetching/preloading modules something you are looking for?
Here is an example https://github.com/gatsbyjs/gatsby/tree/master/examples/using-prefetching-preloading-modules

[2019-08-14 00:32] brotzky commented on #15397
I'm reopening this issue as adding dummy data isn't a fix.

I ran into the issue because i wanted to add `gatsby-source-contentful` as a theme option but will have to get the user to add their gatsby site.

[2019-08-14 00:40] pieh commented on #16581
Hey @tkbky! We won't be adding prop like that to `gatsby-image` as the usecase you presented is quite niche and in our opinion doesn't warrant adding more surface area to `gatsby-image`.

For cases like that I would recommend vendoring `gatsby-image` (copy code from https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js to your project and adjust it locally and use that

[2019-08-14 00:40] #16581 closed

[2019-08-14 02:08] hguiney opened #16608 "gatsby-image generating unnecessary <source> for <picture>"
## Description

### Steps to reproduce

1.
[code]
   - From `gatsby-starter-default`, `gatsby-cli` creates `src/components/image.js`, which contains:
[code]
2. Open `localhost:8000` in a browser

### Expected result

Provided that `gatsby-image` was not asked to create a WebP or anything that would require a `<source>` to be selected, `<Image />` should generate either:

A.) A plain `<img>`; or
B.

[2019-08-14 02:21] asyarb commented on #16603
@claygiffin

By any change are you using the CSS `scroll-behavior` property on the site you are working on?  Setting this property to `smooth` would cause page navigations with `<Link>` (or more specifically, `@reach/router` to cause the behavior you are experiencing.

[2019-08-14 02:50] jamesvclements commented on #13615
🤕 Any solutions for this?

[2019-08-14 02:54] tkbky commented on #16581
@pieh You have mentioned the wrong person. 😬

@tkvw FYI

[2019-08-14 06:26] andrezimpel commented on #9712
I just did that and still got the same error.

`TypeError: entryItemFields[foreignReference.name].push is not a function`

`normalize.js:331 foreignReferences.forEach.foreignReference
    [using-contentful]/[gatsby-source-contentful]/normalize.js:331:52`

[2019-08-14 06:35] JikeMordan commented on #16321
Same issue here, I am specifically following the sanity gatsby blog tutorial. - After being instructed to add an additional field to my settings.js I had to redeploy the graphql API and restart the gatsby server. However, after following the tutorial to a T I get flagged by error #85907 which is telling me the field I added is unknown.

I have a good feeling this a gatsby related error (i am on wi

[2019-08-14 08:22] jnsrikanth opened #16612 "Unable to view images from the body of a Markdown file in GatsbyJS"
## Description

I am trying to display images from a Markdown file especially from the body of the markdown file but unable to see them.

I am using the recommended plugin configuration by the official GatsbyJS documentation for embedding images in Markdown files. However, I am unable to achieve the same. I can view the images from the frontmatter using GraphQL queries but unable to view the body

[2019-08-14 08:42] Glinkis opened #16613 "Incorrect type signatures for SSR APIs"
## Description

The [current docs](https://www.gatsbyjs.org/docs/ssr-apis/) currently describes the type signatures of all the `get...` fields as being `ReactNode[]`, while they are actually functions.

This is also an issue when using type checking with JSDoc in the config files.

### Steps to reproduce

[code]

### Expected result

[code]

### Actual result

[code]

### Environment

  System:

[2019-08-14 11:05] RobinHerzog commented on #15570
Did you solved your issue?

[2019-08-14 12:54] AAverin opened #16614 "Is it possible to see error stacktrace from component?"
## Summary
I have a javascript error inside my component and here is what I am getting

<img width="714" alt="Screenshot 2019-08-14 at 08 50 58" src="https://user-images.githubusercontent.com/1481332/63022316-ef488f00-bea2-11e9-916d-3c5a3a317a35.png">

You can notice the error itself, but no details on where did it occur. Breakpoint is only settable on the first line of my code even though source

[2019-08-14 13:41] JohannesHoffmann commented on #14126
Just run into this issue by rebuilding an old site to gatsby. They have german umlauts like ä ö ü in their pathes. Creating page files containing öäü fails using `gatsby develop`. I am also developing on a MacOS with AFPS. Thanks @ssijak this helped me solving the problem!

[2019-08-14 13:48] claygiffin commented on #16603
@asyarb

Thank you! I completely overlooked that. Case closed!

[2019-08-14 13:56] tmilewski commented on #16590
Thanks for the reply, @axe312ger!

The approach of saving it in `node_modules/.cache/XYZ` would likely help. Long-term we might want to enable a simple command to clear the cache for each plugin as it might not be 100% clear where this data resides.

---

In the meantime, I don't know that the issue is that the cache is being reset. See below for the process:

### Clean Build

`rm -r .cache; yarn

[2019-08-14 15:23] #16474 closed

[2019-08-14 15:32] georgiee opened #16616 "[Gatsby Develop] Building a performant preview server (> 10k nodes with dependent pages)"
## Summary

Here comes the essence of this question/issue:

What's following are some explanations around the topic, some details and of course an example project to showcase the problem. Everything we learned and researched comes directly from the excellent docs and source files. 90% of the experiment is based on the awesome work of @DSchau who created almost everything in Gatsby's e2e suite 👌

T

[2019-08-14 15:37] doakheggeness opened #16617 "Boot error when following Graphql example 'why-gatsby-uses-graphql'"
## Description
 I am going through the graphql example here........gatsby/docs/docs/why-gatsby-uses-graphql.md
Describe the issue that you're seeing.
after creating the template 'product-graphql.js, I get this error.....

**I copied gatsby-node.js & product-graphql.js to no avail.

 'Field "image" must not have a selection since type "String" has no subfields'

***SEE BELOW**

success open and val

[2019-08-14 15:38] aikodeio opened #16618 "gatsby-pluggin-offline NOT Working"
## Description

Hi. I have installed the gatsby-plugin-offline plugin.
I put it offline and the site does not load.
Here a case in production to visualize:

https://encuesta-gptw.web.app/

In Firefox: working.
**In Chrome: ERROR**
[code]

### Steps to reproduce

- Enter https://encuesta-gptw.web.app/
- Activate offline mode
- Refresh page
- View site.

### Expected result

The site should show the

[2019-08-14 15:39] aikodeio commented on #16618
// File gatsby-config.js

module.exports = {
    siteMetadata: {
        version: `2.0.0`,
    },
    plugins: [
        `gatsby-plugin-react-helmet`,
        {
            resolve: `gatsby-source-filesystem`,
            options: {
                name: `images`,
                path: `${__dirname}/src/images`,
            },
        },
        `gatsby-transformer-sharp`,
        `gatsby-plugin-s

[2019-08-14 15:52] kimbaudi commented on #16516
@freiksenet - The flag would be to detect alpha layer on `.png` images and only disable the blurry `background-image` for those images with transparent edges. If the flag was to disable the blurry `background-image` on all images, that would just be creating a flag to disable blur-up effect using this plugin. I think that is still a useful feature (i.e., create `blurUp` flag to enable blur-up effe

[2019-08-14 16:31] rjray opened #16621 "[gatsby develop] Exiting via Ctrl-C leaves terminal/shell in a bad state (Linux/Mac)"
## Description

When exiting `gatsby develop` via ^C, the terminal is almost always left in a noecho state. I have observed this on MacOS and Linux both.

### Steps to reproduce

Run `gatsby develop`. After it has entered the server loop, hit ^C. Terminal is no longer echoing prompts, etc. back to the console. Running either `tset` or `reset` is required.

### Expected result

Terminal should retu

[2019-08-14 16:48] gillkyle commented on #13876
The PR I just linked to this issue should resolve the recommendations made in the original post 👍

[2019-08-14 16:58] #14293 closed

[2019-08-14 17:19] #16603 closed

[2019-08-14 17:23] Ivan-Parushev commented on #11023
I also have the same problem, but with custom built Responsive component. It uses window.innerWidth & window.innerHeight. When I set the defaulting values of width and height to 0 I always get the mobile views on the initial load and 1 second later page re-renders and I get the desktop version (unless I am on a mobile device of course). This is a bad user experience.

This approach is not a good s

[2019-08-14 17:27] #15501 closed

[2019-08-14 17:27] #15671 closed

[2019-08-14 17:27] #9352 closed

[2019-08-14 17:27] #15607 closed

[2019-08-14 17:52] lannonbr commented on #7396
And this is part of GitHub now as a toggle setting to a repo: https://github.blog/changelog/2019-07-31-automatically-delete-head-branches-of-pull-requests/

Any updates on this?

[2019-08-14 17:58] lesleyNilson opened #16627 "Gatsby Drupal Project - how to use RESTfull webservices module"
Drupal has a module in core called RESTful webservices (machine name: rest). I want to use it because I want to export views and menus from drupal to gatsby.
This module deliver endpoints. So I had  a VIEW in drupal configured for REST export. I do it similar to JSON API - module of drupal. The path is "jsonapi/mytestview
So hoped that I get in GraphQL of Gastby a query possibility of "mytestview"

[2019-08-14 18:08] lannonbr commented on #16059
I'm going to try working on this later this week

[2019-08-14 18:13] JustFly1984 commented on #10179
https://github.com/nfl/react-helmet/issues/426

[2019-08-14 18:41] slorber commented on #13906
@LekoArts what about actually "enhancing" the gatsby config? Is this not recommended when gatsby config does not totally suit us?

For example see this https://github.com/gatsbyjs/gatsby/issues/10965#issuecomment-453456324

[2019-08-14 18:51] NickyMeuleman opened #16629 "Images in markdown show blurred and full beneath each other."
## Description

When using an image in an `.mdx` file using the `![alt](image.jpg)` syntax.
The blurry image doesn't get replaced by the fullsize one. The fullsize one is placed beneath and both remain visible.

### Steps to reproduce

Not sure which step of the chain causes this behaviour:
Make a blog with:
- `gatsby-source-filesystem`
- `gatsby-plugin-sharp`
- `gatsby-transformer-sharp`
- `gatsb

[2019-08-14 19:10] LekoArts commented on #16629
Sounds like a duplicate of https://github.com/gatsbyjs/gatsby/issues/15486 ? If yes, please close this issue, thanks!

[2019-08-14 19:30] juristr commented on #15625
🤔 I'm a total Gatsby newbie and just learning it by converting my blog from Hugo => Gatsby. I'm trying to build it with gatsby-themes and I have the same issue. I had the `gatsby-plugin-sharp` and `gatsby-transformer-sharp` in my blog theme's config, but it didn't compile unless I downgraded Gatsby from `2.13.50` to `2.10.0`.

(I'm using a yarn workspace, but that shouldn't matter I guess)

[2019-08-14 19:31] #15494 closed

[2019-08-14 19:55] kimbaudi commented on #15080
Hi, I want to report back and say that installing [gatsby-plugin-netlify](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/) seems to solve the issue for me. I just installed the plugin (`npm install --save gatsby-plugin-netlify`) and waited for my site to deploy on Netlify. The result is immediate! GatsbyJS is extremely fast now! 🚀 🎉 😸

This issue can be closed for me at least. I was wonde

[2019-08-14 20:39] #15535 closed

[2019-08-14 21:05] #16629 closed

[2019-08-14 21:13] #16569 closed

[2019-08-14 21:50] rjray opened #16631 "Returning a <Redirect /> within render() leads to a broken page"
## Description

Using @reach/router, if I send a redirect from within a page's `render()`, the target page loads but then crashes. If I go directly to the target page, it loads fine.

The code is currently on GitHub, so I can show it. This is the [current color.js file](https://github.com/modelpaintmixer/mpm-frontend/blob/master/src/pages/color.js). The use of <Redirect /> is on line 59. If the UR

[2019-08-14 22:36] joealden commented on #15971
Not stale

[2019-08-14 22:56] jonniebigodes commented on #16612
@jnsrikanth i've picked up on your issue and based on your information below are the steps i took to triage your issue.
- Created a new website based on the hello world starter.
- Added the necessary dependencies based on the documentation.
Now my package.json looks like the following:
[code]
I'm ommiting the majority of the file contents for brevity purposes.

- Updated `gatsby-config.js` to matc

[2019-08-14 23:17] whoisryosuke commented on #9911
@KyleAMathews Having this issue stacking CSS loaded in a page with CSS in `gatsby-browser`.

Looks fine in development, but when deployed to Netlify, the page CSS (`import './page.css'`) gets overridden by the "global" CSS from `gatsby-browser`. So an `h2 { color:red }` override in the page doesn't actually override because it ends up preceding the `gatsby-browser` CSS.

The current solutions invo

[2019-08-14 23:30] gillkyle opened #16634 "API reference pages not indexed in site search"
One user on Discord noted that they found it hard to find docs for `createRedirect`, upon investigation realized that the search on the site doesn't pick up any of the API's from the [references page](https://www.gatsbyjs.org/docs/actions/). This seems to be because Algolia picks up elements with the `docSearch` class applied, this happens automatically for a lot of content on the site that's buil

[2019-08-14 23:38] rchrdnsh opened #16635 "Where would this code go in a gatsby app?"
Hi all XD

I have a bit of code from this css-tricks article:

https://css-tricks.com/the-trick-to-viewport-units-on-mobile/

...which requires interaction with the DOM, like so:

[code]

...which then allows me to use the following css to override the egregious `vh` unit behavior of mobile safari, like so:

[code]

...and it works like a charm on a vanilla website, like so:

https://test-project-

[2019-08-15 00:10] shivbhar commented on #9911
Unsure if this is a generalizable solution, but in case it can help anyone, the following worked for me [gatsby: 2.13.4, react-bootstrap: 1.0.0-beta.9, not using styled-components so didn't need the gatsby plugin]:

- did not import CSS files into gatsby-browser
- at this point, most of my styling was the same in dev and build
- some react-bootstrap components (Nav, Navbar) still weren't styling c

[2019-08-15 00:12] me4502 commented on #15505
Thanks :)

So I've ran it again and these are the results:

Yurnalist: Done building in 463 sec
Ink (with fix): Done building in 506 sec
Ink: Done building in 532 sec

A Gatsby update since the last one appears to have sped things up across the board a bit, but overall the gap between Yurnalist and Ink has definitely closed a lot :)

[2019-08-15 00:22] seanemmer opened #16636 "Static folder asset paths are invalid for nested pages"
## Description

Static folder asset paths are invalid for nested pages

### Steps to reproduce

1. Place an asset in your Static folder
2. Create a nested page (i.e. src/pages/nest/page1.js)
3. Load the nested page in your browser.

### Expected result

The static asset path should be at root of your project

### Actual result

The static asset is in the "/nest" folder

### Environment

  System:

[2019-08-15 00:51] pieh commented on #16636
I'm not quite sure what do you mean here? Do you mean file placed in `/static` ends up in `/public/nest/`?

[2019-08-15 00:53] pieh commented on #16635
You should be able to place this inside `gatsby-browser.js` file (just dropping that in should be fine)

[2019-08-15 01:09] vadimdemedes commented on #15505
This is awesome news! I still have some improvements in mind, would appreciate it, if you could continue helping to measure the impact of these changes :)

[2019-08-15 01:12] jonniebigodes commented on #16635
or if you want something closer to "home" you could change your `layout.js` to the following:
[code]

or if you go with a functional approach:
[code]
This just of the top of my head should work. I haven't actually tested it.

[2019-08-15 01:24] me4502 commented on #15505
Sounds good, thanks! :) I can definitely keep testing as it other changes come in

[2019-08-15 02:29] whoisryosuke commented on #16502
@johno Good catch! I was noticing it did kick back errors on some occasions, and I would get errors about closing tags. But I didn't get it for every HTML block I was copy/pasting, so I was wondering what could have been off.

Must have been too many errors to handle, it's some pretty sloppy HTML 😅

[2019-08-15 02:50] seanemmer commented on #16636
Apologies - I am attempting to use html.js and the static folder to host a third party js library.  Here is some more detail:

I placed the following file in my (root) Static folder:

`libs/jquery/dist/jquery.min.js`

I then added the following <script> tag to the body of html.js in my /src folder:

`<script src={'libs/jquery/dist/jquery.min.js'} />`

The script loads properly for non-nested pages

[2019-08-15 03:27] jonniebigodes commented on #16636
@seanemmer from my knowledge of gatsby it will look up assets relative to the folder so if you "point it" that way it ill look for the path relative to that folder namely '/nested/libs/jquery/dist/jquery.min.js'. In your case you'll have to make adjustments probably something like #10713 or go with helmet option or install the jquery package and modify the build in `gatsby-node.js` with the follow

[2019-08-15 04:01] seanemmer commented on #16636
@jonniebigodes thanks for the guidance.  jQuery is one of multiple third party js files I am installing as part of a Bootstrap Theme and so webpack/js imports are not an option.

I understand that in general asset path references are made relative to the page folder, but this is unusual in that the the asset reference does not originate in the page, but rather in html.js.

This behavior seems unde

[2019-08-15 06:38] stefanprobst commented on #16529
Looks like naming themes with `gatsby-theme-*` is now a requirement? (#16620) This makes things easier.

[2019-08-15 06:53] robmarshall commented on #16470
Hi devrchancay,

Would you be able to provide link/gist to show how you set up that normalized?

I have been trying to loop through my entities and fix this issue for a few days now but cannot seem to sort it!

[2019-08-15 07:29] TheAadithyan commented on #11934
you need to add the matched version for react-hot-dom in your package file

"@hot-loader/react-dom": "^16.8.6",

and in your webpack config, you need to add

 alias: { 'react-dom': '@hot-loader/react-dom'  }

[2019-08-15 07:46] TheAadithyan commented on #16631
if you are using react-router-dom wrap your component export in withRouter provided by react-router-dom .

and all component usage should be returned from render. then only react knows what to render.

import React from 'react'
import { withRouter, Redirect } from 'react-router-dom';

class App extends React.Component {

render() {
if (this.state.toLogin && !this.state.mounted) {
  return (
    <R

[2019-08-15 09:50] nikita-seliverstov opened #16644 "Can't add collection with manual init netlify cms"
Hi,
I'm trying to add collection using manual to existing collections in config.yml  init but it does't work
The cms.js
[code]
gatsby config:
[code]

[2019-08-15 10:09] pleopardi opened #16645 "Building static HTML failed for path "/404.html""
## Description

First of all, I saw a number of similar issues but those topics are now closed and none of the proposed solutions seem to work so far.

The problem: I'm localizing my blog and the 404 page is the only page having issues building.
The build fails with the following message:

**This happens only from the second build forth**, meaning that the first build after _gatsby clean_ goes fin

[2019-08-15 10:56] universse commented on #16587
From my understanding Gatsby performs code-splitting out of the box. So, it's unlikely that firebase will be included in your marketing bundle. One way to check is to use https://github.com/webpack-contrib/webpack-bundle-analyzer

[2019-08-15 11:03] #16604 closed

[2019-08-15 11:12] juice49 commented on #7180
I recently ran into this issue, and I haven't been able to find a good solution. To properly consume a flexible content field, you need to be able to use inline fragments, and they just don't work if the flexible content field is nested.

I've been trying to figure out the [Gatsby code that handles the creation of these nodes](https://github.com/gatsbyjs/gatsby/blob/0d089e2f0544a802cd20c2c57e71fb3

[2019-08-15 11:27] herecydev commented on #16489
Very similar to what I've raised: #16243

[2019-08-15 11:57] nikita-seliverstov opened #16647 "How to run GraphQL not in component"
Hi,

I need to pass source data  using graphQl to to simple object config when i try to use it i get an error
`The GraphQL query in the non-page component "C:/Users/NikitaSeliverstov/Desktop/amblik/src/cms/cms.js" will not be run.`
How can i run query in non component?

[2019-08-15 12:29] lannonbr commented on #16647
You can use either the [StaticQuery](https://www.gatsbyjs.org/docs/static-query/) component or [useStaticQuery](https://www.gatsbyjs.org/docs/use-static-query/) React hook.

[2019-08-15 13:16] smakosh opened #16649 "[gatsby-source-contentful] Filtering option within a referenced field"
## Summary

Allow us to filter a linked reference field within a specific Contentful's model.

### Basic example

[code]

### Motivation

- This would help get content of a specific locale of a linked reference.

[2019-08-15 13:25] Chalarangelo opened #16650 "CSS output in build mode is essentially empty"
## Description

I am running `gatsby build` and the output does not contain all of my CSS (compiled from Sass).

At first, I thought it was an issue with `gatsby-plugin-sass`, however, that is not the case, as it does not load plain CSS files either.

Meanwhile, `gatsby develop` produces the correct result (which could indicate this is an SSR issue).

I have a very similar project, with a similar

[2019-08-15 13:52] tareefdev opened #16651 "importing JSON file into a page adds it in all pages"
## Description

Importing JSON file into a page directly (`import things from '../things'`) adds the imported file to all pages

### Steps to reproduce

Here is a [repo](https://github.com/tareefdev/gatsby-json) to reproduce:

- Add a JSON file to the default starter and import it directly without using GraphQL
- Build the project and check pages size

### Expected result

- Just one page (where t

[2019-08-15 13:56] #15842 closed

[2019-08-15 14:03] nikita-seliverstov commented on #16647
I think did't describe my question well sorry. I need to pass data to a non component object

[2019-08-15 14:07] aymericbeaumet opened #16652 "Gastby does not deterministically infer attachments type to `[File]`"
## Description

Hello there 👋 I use Gatsby for my [blog](https://gitlab.com/moonshotatelier/aymericbeaumet/www). I write posts in Markdown, each post can (optionally) have attachments specified in the frontmatter linking to a file relative to the post directory ([example](https://gitlab.com/moonshotatelier/aymericbeaumet/www/blob/46d77bd441b05c5adda9aa9366949ae919fa953f/data/articles/properly-shim

[2019-08-15 14:16] lannonbr commented on #16647
That's currently impossible. Only places to run graphql queries is in a component or createPages in a gatsby-node api.

[2019-08-15 14:17] jnsrikanth commented on #16612
Hi @jonniebigodes,

Thanks for researching and recreating my setup with your suggested fixes/modifications. I have been successfully been able to view images inside the body of my markdown files.
However, I do have  a few queries/observations.

1. I see that you have disabled the mdx plugin in the gatsby config file. Can you elaborate why?
In my case, I have retained that plugin and still was able

[2019-08-15 14:18] jnsrikanth commented on #16612
@jonniebigodes
Could you also please submit the repo and share the link? Thank You.

[2019-08-15 14:32] nikita-seliverstov commented on #16647
Sad to hear, I will make feature request if it's not already created

[2019-08-15 14:37] nikita-seliverstov opened #16653 "GraphQL request's in non component"
## Summary

The possibility to query data from GraphQL not in component

### Motivation
I run into problem where i wanted to manually initialize cms object with data about created pages to make possible to add list with values of existing pages to make it easy for clients to add links inside site or edit site menu. I think it might be more use cases than mine and it will add more flexibility in us

[2019-08-15 14:40] smurrayatwork commented on #13442
We were having this same issue and discovered it was being caused due to a few images being corrupt. When gatsby-plugin-sharp encounters a corrupted image, the errors related to it aren't caught for some reason. As soon as we fixed those images, this issue was resolved.

If you're processing jpg images, [try a tool like jpeginfo](https://www.commandlinefu.com/commands/view/2352/find-corrupted-jpeg

[2019-08-15 14:41] rchrdnsh commented on #16635
wow, ok, awesome, thank you :-)

[2019-08-15 14:47] koga73 commented on #11665
I'm experiencing this as well. gatsby develop completely locks up the console. Can't control+c. Web server is unresponsive. I tried ```setx CHOKIDAR_USEPOLLING 1;``` which made no difference. Also tried restarting LxssManager and deleting my .cache and public directories. Nothing works please help!

[2019-08-15 15:18] #16647 closed

[2019-08-15 15:46] brotzky commented on #16196
Hey, on v0.2.23 I'm getting a similar error

    in InitializeColorMode

is this theme-ui related?

[2019-08-15 15:55] jacksongonzales commented on #16568
**FIXED**

An update for anyone having queries disappear on them:

I started experiencing this after moving and getting a network connection with lower bandwidth. I tried at my office connection this morning and was able to get all my queries back. I tried fiddling with the number of concurrent requests when I had the hunch it might be network related but to no avail. Not sure if there's any tweak

[2019-08-15 15:55] #16568 closed

[2019-08-15 16:37] universse commented on #16650
Heh did you check your built html files? Think below a certain threshold css is embedded in the <style> tags in the htmls.

[2019-08-15 16:39] universse commented on #16650
Does your style work as expected tho? Cuz I think below a certain size threshold, css is embedded directly in style tags in html files.

[2019-08-15 16:43] mavalon commented on #16353
I ended up switching to `gatsby-source-graphql` (instead of using `gatsby-source-wordpress`) to avoid the many issues I was having.

[2019-08-15 16:43] #16353 closed

[2019-08-15 17:02] mavalon commented on #16470
I ended up switching to `gatsby-source-graphql` as I was having too many issues with `gatsby-source-wordpress`.

It seemed to me that the issue perhaps is that `gatsby-source-wordpress` derives its schema from the _**first**_ record found.  If that first record has empty fields, those fields are not picked up on and added to the schema.  I came to this conclusion when I added data to all fields in

[2019-08-15 17:09] mavalon commented on #16380
I've decided to use `gatsby-source-graphql` with some wordpress plugins instead, which gives me all the data I need.

[2019-08-15 17:09] #16380 closed

[2019-08-15 17:27] #15551 closed

[2019-08-15 17:29] slorber opened #16661 "How to improve webpack splitChunks heuristics?"
[@Gatsby](https://twitter.com/gatsbyjs/status/1162047124764155905) suggested me on Twitter to open an issue on this subject.

I think it would be nice to document how an user can enhance gatsby/webpack default code splitting heuristics to achieve better code splitting.

The Webpack splitChunks documentation:
https://webpack.js.org/plugins/split-chunks-plugin/

The current Gatsby config is:
https:/

[2019-08-15 17:34] slorber commented on #15302
@Jivings maybe you can try to play with webpack code splitting heuristics

The default settings may prevent the code splitting to happen. For example webpack won't create an extra bundle if it would weight less than 30kb, so maybe your Dexie is smaller than this default thrreshold?

Also, take a look at this issue: https://github.com/gatsbyjs/gatsby/issues/16661

[2019-08-15 17:53] p10e commented on #16097
Hi all. In addition to the page-data.json errors above, we are getting the same `ERR_ABORTED 404` for Sanity's CDN after deploying our Gatsby site to production. Using `gatsby-source-sanity` with `gatsby-plugin-offline` and `gatsby-image`, the console logs:

[code]

This corresponds with the following lines from https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-offline/src/gats

[2019-08-15 17:56] slorber commented on #15425
Hi

As far as I understand, in webpack 4 you give him heuristics for doing the code splitting, and webpack tries its best to do it. If a module is loaded dynamically does not guarantee that webpack will code split it, but you can fine tune the config to help him do so.

Webpack by default will try to make sure not too much requests need to be triggered on app startup

You may find this issue usefu

[2019-08-15 17:59] rjray commented on #16631
Is this to say that it can't be done with @reach/router? Since Gatsby is already using that as a dependency, I would prefer to use it over introducing a new dep.

[2019-08-15 18:04] sw-yx commented on #15896
noo

[2019-08-15 18:36] ZQ-jhon commented on #16481
same issue in my electron application.
[code]

[2019-08-15 18:44] seanemmer commented on #16636
This is my error - should have been:

<script src={'/libs/jquery/dist/jquery.min.js'} />

[2019-08-15 18:44] #16636 closed

[2019-08-15 19:09] pkhivesara opened #16664 "Adding Gatsby blog to existing site"
## Summary

I am trying to add a Gatsby blog to an existing site. However, I keep getting a 'broken link' error in production.

Here are the steps that I have followed (I might be terribly off base):

Created a subdirectory in existing website. For example: myawesomesite.com/blog

Added the Gatsby blog template within the above folder.

Also changed the gatsby-config.js siteURL to point to myaweso

[2019-08-15 20:21] jkodu commented on #13072
+1 on the issue. Have a similar need to serve `.html` files that can be `iframe(d)` later.

[2019-08-15 20:22] McFlat commented on #15294
When I do the authenticated tutorial in a new directory it all seems to work fine, with gatsby-plugin-create-client-paths and with having the snippet in gatsby-node.js file. But once I try to make my project use the exact code that works on a tutorial it doesn't work in my project.

Getting an error, see below:

[code]

Spent two days on this so far, so frustrating!

[2019-08-15 21:10] JikeMordan commented on #16321
I'm still stuck. - I love the speed of the platform and would like to use it, but if I can't deploy graphql I'm literally at a standstill. Any help would be greatly appreciated.

[2019-08-15 21:10] jonniebigodes commented on #16612
@jnsrikanth regarding your questions

1- I disabled the mdx plugin simply because the focus of the issue was markdown images being rendered and to keep the reproduction simple i left it out.
If based on your feedback should the need to include and configure the said plugin, then i would update my reproduction accordingly.

One of the core features of the said plugin is the ability to incorporate j

[2019-08-15 21:26] jonniebigodes commented on #16651
@tareefdev i've cloned your code and it looks like what is happening here is the json file is being imported to a component that will be used as a template for dynamically generated pages.

When gatsby goes over the build process and generates the pages in `gatsby-node.js` based on the result of the graphql query, the template component has that import, it will import the json content for all the

[2019-08-15 21:38] 8ctopotamus opened #16666 "Can't install gatsby-remark-images Windows"
I get a huge error when trying to `npm install gatsby-remark-images` on Windows 10, node v12.4.0 and cannot start up my project to develop.

I have tried the various suggestions on [Using Gatsby on Windows](https://www.gatsbyjs.org/docs/gatsby-on-windows/) (Re-install VS Studio 2015 common tools, deleting libvips, Windows Subsystem for Linux, etc), but I can't seem to get around this issue.

[code

[2019-08-15 22:29] SuperKleber opened #16668 "transformer-sharp does not track relative paths in onCreateNode"
## Description

I try to redefine the absolute paths to relative paths of Markdown files in the frontmatter, using the gatsby onCreateNode API so that transformer-sharp automatically detects them and gives me the beautiful gatsby-image images, I have managed to do it successfully, however I wanted add an extra conditional to ignore "SVG" files, when you start the gatsby develop effectively the pat

[2019-08-15 23:00] #14984 closed

[2019-08-15 23:19] rmorabia commented on #16212
I'm currently tackling this issue! I'm running some tests and should have a PR this weekend.

[2019-08-15 23:41] #13876 closed

[2019-08-15 23:46] #14753 closed

[2019-08-15 23:46] #14989 closed

[2019-08-16 00:07] dustinhorton commented on #12399
@wardpeet have you had a chance to look closer at getting your `node_module` polyfilling working in dev? trying to test locally in IE 11 with the above and no dice unfortunately.

[2019-08-16 00:29] #6509 closed

[2019-08-16 00:37] DavidChouinard opened #16671 "gatsby-plugin-netlify-cms incorrectly exposes a hook to registerPreviewStyle"
## Description

The [README for gatsby-plugin-netlify-cms](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-netlify-cms#readme) states that any imported styles "will automatically be applied to the editor preview pane, there is no need to use `registerPreviewStyle` for imported styles." This does not appear to be the case.

### Steps to reproduce

1. Set a `modulePath` for gat

[2019-08-16 01:09] DavidChouinard commented on #16671
this might have a common root cause with #15126 @erquhart

[2019-08-16 01:11] sidharthachatterjee commented on #6509
Published in `gatsby-source-wordpress@3.1.16` as `keepMediaSizes` courtesy of @billyjacoby

[2019-08-16 03:01] erquhart commented on #16671
It's actually a duplicate of that ticket - try running a build (rather than local development server) and see if the issue still occurs. If it doesn't, it's the same issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-16 04:37] nephlin7 opened #16675 "[gatsby-source-contentful]: childMarkdownRemark on Text > LongText Field"
## Description

Cannot access to childMarkdownRemark on Contentful Text > LongText Field

### Expected result

[code]

### Actual result

[code]

### Environment

Run `gatsby info --clipboard` in your project directory and paste the output here.

[code]

[2019-08-16 06:16] Chalarangelo commented on #16650
If this information helps, if I copy the essential content files in the `30-seconds-starter` project (which works anyways), the CSS seems to be output properly, so it seems like a filesystem issue on Linux (as mentioned in other similar issues, on Linux you might run in trouble due to improper casing in names) or an issue with some of my code (minor differences between projects) or some naming pro

[2019-08-16 06:41] Chalarangelo commented on #16650
Turns out, updating my code from this
[code]

to this:

[code]
seems to have made it work for now.

I do not understand why or how, but it's working at least.

If someone has an explanation for this, I'd love to hear it.

[2019-08-16 07:02] tareefdev commented on #16651
Great! I tried to import the JSON file into a page rather than a template, and now just that page loaded the JSON file not all of them.

I test another case and found that the same issue happened there:
- Using `gatsby-plugin-mdx` instead of raw markdown.
- Creating a component which imports the JSON file.
- Importing that component into one page, not inside a template.
- Now all pages have the fi

[2019-08-16 07:10] nilfalse commented on #7310
Be aware that `100vh` might mean something different to Android browsers.
Quick googling unveiling example: https://stackoverflow.com/q/30148956

[2019-08-16 07:19] aengl commented on #15899
I noticed the same behaviour on a site I'm working on:

<img width="1033" alt="Screenshot 2019-08-16 at 09 16 34" src="https://user-images.githubusercontent.com/5022924/63150261-9eea4200-c006-11e9-81c3-5e97df76e5f3.png">

Every image here links to the same page using `Link`, but with a different fragment. I resolved it by using regular anchor tags for all but one link, but it's certainly unexpecte

[2019-08-16 07:45] aengl commented on #15899
I looked into the source a bit.

`gatsby-link` enqueues the prefetches via an intersection observer here: https://github.com/gatsbyjs/gatsby/blob/883db9aaeef87d656e15c41954ccf606dea18715/packages/gatsby-link/src/index.js#L89-L91

That calls this prefetch method: https://github.com/gatsbyjs/gatsby/blob/b8e2adc6956ae01fa3a94c23debf010e3775d322/packages/gatsby/cache-dir/loader.js#L238-L241

`shouldPr

[2019-08-16 07:55] aengl commented on #15899
@dannybarinshtein Multiple prefetches won't cause multiple downloads:

<img width="462" alt="Screenshot 2019-08-16 at 09 53 00" src="https://user-images.githubusercontent.com/5022924/63152266-b7109000-c00b-11e9-9087-570b732edd1c.png">

Note that subsequent page-data requests are served from cache. So I think this issue is mostly cosmetic, and I'm more concerned about the performance hit from the D

[2019-08-16 08:36] patrick-wc commented on #11688
Gatsby should really add a warning to any Windows users about having capital letters in their dir names. This must stump quite a few users.

[2019-08-16 08:53] rayzoor12 opened #16676 "Disable Gatsby Preview notifications"
## Summary

There's is currently no possible way of disabling push notifications from Gatsby Preview updates. Since I have the webhook to update on saves in Contentful, Gatsby preview is firing a lot of notifications that are blocking the screen.

### Basic example

I solved this by editing the code of the extension in Contentful

From:
`()=>this.props.sdk.notifier.success("Gatsby Preview updated!

[2019-08-16 09:19] davidbailey00 commented on #16431
Hi @GuillaumeAmat!

This isn't currently possible with the offline plugin although it's certainly something doable - I can get to work on a PR which allows specifying which pages you want to be precached.

[2019-08-16 09:32] matowang commented on #16664
After you build your gatsby site using `gatsby build` in the terminal you will see a public folder with files in it. Something like this:

/blog-webiste
--/public
-----index.html
-----component1.js
-----foo1
-----foo2

Those files are the files you want to put in your website. Just put it in the /blog directory

/your-website
--index.html
--styles.css
--/blog
-----index.html
-----component1.js
---

[2019-08-16 09:52] matowang commented on #16653
There's no reason why you cannot do that with queried data inside a component. Something like this:
[code]
Just map your cms data to the way you want it to show up on a component.
You can also query data in createPages
https://www.gatsbyjs.org/docs/creating-and-modifying-pages/

Creating a fully customizable website through a cms really shouldn't be a problem.

[2019-08-16 10:12] afenton90 commented on #15872
After thinking more about this today through doing PR #16389 I think the problem may be better resolved by keeping `webpackCompilationHash` out of `page-data.json` files and instead building it into its own file. Say `app-data.json`?

`app-data.json` would have the following lifecycle:
1. `gatsby build` generates an `app-data.json` file on every build containing the `webpackCompilationHash`.
2. On

[2019-08-16 10:36] slorber opened #16678 "Ability to trigger gatsby-image visibility"
## Summary

Currently, once a gatsby-image is rendered as non-critical, there's no way force it to become visible.

### Motivation

I want to put gatsby images inside a slider, and force visibility of gatsby-images around current slide, so that the fade in animation does not kick in. The intersection observer does not work so well for that usecase in my app.

Here is some pseudo code to better ill

[2019-08-16 10:48] haezl commented on #13876
@gillkyle awesome!

[2019-08-16 11:10] pkhivesara commented on #16664
@matowang  Thanks for your response! I tried the approach you suggested, however when I run the site and try to go to /blog/index.html, it shows me a list of the directories instead of going to index.html.
My href in the website points to blog/.

<img width="748" alt="Screen Shot 2019-08-16 at 7 09 26 AM" src="https://user-images.githubusercontent.com/6237488/63163966-e7006900-bff4-11e9-8246-87852

[2019-08-16 11:46] m-allanson commented on #16664
Hey @pkhivesara to serve your Gatsby site from a subdirectory like `/blog` you'll need to set the Gatsby's `pathPrefix` option in your gatsby-config.js. [See here for docs on how to do that](https://www.gatsbyjs.org/docs/path-prefix/).

Once that's done, you'll need to run `gatsby build --prefix-paths`, then follow the steps described by @matowang.

[2019-08-16 12:28] nikita-seliverstov commented on #16653
I don't want query cms data to the component i want to query data about created pages to cms config which is not a component.

[2019-08-16 13:19] jacklaurencegaray commented on #16481
How I got the error:

[code]

[code]

It seems that this issue is caused by `<ThemeProvider>` having multiple children.

[2019-08-16 13:25] GuillaumeAmat commented on #16431
Thanks for the confirmation @davidbailey00 👌

That would be awesome thank you very much!

[2019-08-16 13:30] jnsrikanth commented on #16612
closing this as the issue has been resolved as per the solution from @jonniebigodes

[2019-08-16 13:30] #16612 closed

[2019-08-16 14:08] csr632 commented on #15775
For impatient user: `npm install gatsby@webpack-acorn`
This tag use latest webpack.

[2019-08-16 14:50] kimbaudi commented on #16516
@freiksenet - Ok, I will create a new flag to disable blurry bg image for images with alphatransparency. I am most likely only going to check the outer edges for transparency (instead of checking the entire image). This will make this a O(w + h) operation rather than a O(wh) operation. And in the future, set this on by default later on maybe.

[2019-08-16 14:52] pkhivesara commented on #16664
Hey @m-allanson  So I was able to get the blog to run using the approach as described by @matowang .
However the approach only shows the list of blog posts. If I click on any one of them the URL changes from awesomesite/blog/mypost to awesomesite/mypost.

I have also noticed that favicon is not visible on the list of blog posts.

I tried the pathPrefix approach as you mentioned but that's not work

[2019-08-16 14:55] jkjustjoshing opened #16682 "GatsbyLinkProps typescript type not working for custom <Link /> component"
## Description
I'm trying to extend a `<Link />` component in my Typescript project. This is a simplified example:
[code]
I'm getting the error:
[code]
However, `GatsbyLinkProps` seems to be what the `<Link />` component defines as its prop type, so this *should* work. Am I doing something wrong, or is this a bug with the type definitions?

### Steps to reproduce
Go to https://codesandbox.io/s/gat

[2019-08-16 14:56] #16664 closed

[2019-08-16 15:12] 0xc0d3r commented on #8084
@m-allanson How to set up test cases for gatsby v1?

[2019-08-16 15:15] #14962 closed

[2019-08-16 15:24] sidharthachatterjee commented on #14962
Published in `gatsby@2.13.66`

[2019-08-16 17:08] ValeraS commented on #16489
In development mode, `JSONStore` detaches page while page data fetching and this cause page rerender:
https://github.com/gatsbyjs/gatsby/blob/d055527b3be04639d572b052535c7c13b7317efe/packages/gatsby/cache-dir/json-store.js#L85-L95

This happens if we did not visit this page yet and a page data was not prefetched.

[2019-08-16 17:12] kushthedude commented on #16444
@gregrickaby I am working on it

[2019-08-16 17:15] kushthedude commented on #15529
@marcysutton @JohnAlbin I would like to help in it

[2019-08-16 17:27] #13980 closed

[2019-08-16 17:27] #15597 closed

[2019-08-16 17:30] Js-Brecht commented on #16621
That's interesting 🤔.  I don't have that issue, but I am running Ubuntu 18.04, and I don't use `bash` very often; I mostly spend my time in `zsh`.

Does it matter what point you send the interrupt?  i.e. does it happen during compilation, after the server has started, or both?

It could be caused by [this](https://nodejs.org/api/process.html#process_signal_events):

`gatsby develop` is using the `

[2019-08-16 17:35] laurenskling commented on #15597
I replied before 😱
i'm still facing this issue...

[2019-08-16 17:43] eckmLJE commented on #14972
I'm also experiencing this issue. Sticking with `critical` for now.

[2019-08-16 17:52] sw-yx opened #16688 "weird issue with React state update on unmounted component (in GatsbyReporter?)"
## Description

install and setup `gatsby-theme-dev-blog@0.0.9` on a new site. `gatsby-develop` and get this:

[code]

no idea what causes it, `DEBUG=* gatsby develop` shows nothing of note. why does a warning cause error with exit code 1?

### Steps to reproduce

no repro yet

### Expected result

it should run

### Actual result

got that weird error

### Environment

Run `gatsby info --clipboar

[2019-08-16 17:58] sw-yx commented on #16688
updating from `2.13.50` to `2.13.66` fixed it. super weird. clsoing for now.

[2019-08-16 21:01] kennybatista commented on #15397
Tried what @maximechofflet mentioned and it worked, though it would randomly automatically break the app after 10 minutes.

[2019-08-16 21:39] kirbydcool commented on #16098
@pieh did this get fixed?

[2019-08-16 21:47] leomotta121 opened #16692 "Client-only doubts"
Hey there, I am trying to learn and understand Gatsby.

I found that with Gatsby I can make client-only routes with @reach/router, I just need to tell the path with gatsby-node.js with the following code:

[code]

With that, we use @reach/router instead of react-router-dom.

[code]
My doubt is if I can think of this route as a SPA or Gatsby tries to make pages from those routes?

With CRA it takes

[2019-08-16 21:50] jonniebigodes commented on #16651
@tareefdev i've pulled in the changes and installed the new dependencies. Ran `yarn develop` and waited for the build process to complete. Opened up up `http://localhost:8000/sizes` the data is shown correctly. As it should.

- I've checked the other pages and no "polution" from the json was present.

- Checked the filesizes on the pages and they are all consistent.

- Took it even a step further

[2019-08-16 22:14] hidanielle commented on #2392
Running into this issue while using Gatsby and Kentico Cloud. Can't seem to get it working with the createResolver solution. Has anyone else here had any luck since?

[2019-08-16 22:17] 8ctopotamus commented on #16666
The issue had to do with the Node Version and Sharp version. Downgrading to Node v10 worked.

I guess [https://github.com/lovell/sharp/issues/1776#issuecomment-507957956](Node 12 support was added in v0.22.1 of Sharp). Gatsby was trying to install Sharp v0.20.2.

[2019-08-16 22:17] #16666 closed

[2019-08-16 23:12] senorgeno commented on #16097
How about something that creates an empty page-data.json file at build for client-side routes? A bit of a hacky workaround. You would need to define what client-side pages you have somewhere which adds some boilerplate however..

[2019-08-16 23:18] bsswartz commented on #16097
Client only routes can contain a dynamic element that is not known at build time, like a product page that references an item id (ie. /widgets/12345/details/).

[2019-08-16 23:52] KyleAMathews commented on #15872
Interesting idea! Maybe build-data.json? Thoughts @Moocar? We could throttle fetching this to say every 15 seconds to avoid littering people's network tabs with repeated fetches.

[2019-08-17 00:28] ChristopherBiscardi opened #16694 "RSS feed support in gatsby-theme-blog-core"
## Summary

RSS feed "by default" could be added to `gatsby-theme-blog-core`, which would enable any child theme to automatically have it.

### Basic example

User does nothing, has RSS feed when using gatsby-theme-blog, gatsby-theme-blog-core, or gatsby-theme-blog-core child themes.

### Motivation

Many people still use RSS feed readers to consume content, especially other developer's content. I

[2019-08-17 00:34] ChristopherBiscardi opened #16695 "Tags Interface for official themes"
## Summary

Blog Posts usually have tags and we've included support for tags and keywords in the official blog theme.

### Basic example

In the default MDX content format we use in the official themes, the implementation would come out to defining tags like this:

[code]

Where the proxy type `MdxBlogPost` would also implement `Tag`:

[code]

### Motivation

People like to organize stuff into dif

[2019-08-17 00:40] ChristopherBiscardi opened #16696 "Search in official themes"
## Summary

It should be trivial to add search functionality to gatsby-theme-blog-core derived child themes.

### Basic example

[code]

### Motivation

Some people have a lot of content, it would be nice to be able to search through that content on any given person's site without making them implement algolia, etc themselves.

## Open Questions

- [ ] What does this actually do? the plugin model

[2019-08-17 00:47] ChristopherBiscardi opened #16697 "`onPluginOptions` lifecycle method"
## Summary

Add a new `onPluginOptions` lifecycle method (or other way of controlling plugins) to allow singleton plugins to be used from multiple themes at the same time.

### Basic example

One could imagine this implemented as a `reduce` call:

[code]

### Motivation

Currently in Gatsby, if you include a plugin that expects to be the only instance (typically transformers like remark or mdx), y

[2019-08-17 00:47] ChristopherBiscardi commented on #16106
Changes that are now live:

- [x] `gatsby-theme-blog` is now a child theme of `gatsby-theme-blog-core`
- [x] `gatsby-theme-blog-core` uses page queries instead of pageContext
- [x] @jxnblk implemented new support for prism themes in relation to theme-ui; [documented here](https://theme-ui.com/prism)
- [ ] A couple CLI approaches to creating child themes have sprung up, most notably @johno's recent

[2019-08-17 01:00] ChristopherBiscardi commented on #16128
themes intentionally don't support local plugins. If they did we would have to cut it off at some arbitrary point anyway since it could lead to recursive requiring of sub-local plugins when we merge [local theme support](https://github.com/gatsbyjs/gatsby/pull/15856). Since you're already using workspaces, I'd suggest moving the local plugin out to it's own package in the workspace.

If you feel s

[2019-08-17 01:00] #16128 closed

[2019-08-17 01:02] ChristopherBiscardi commented on #15687
With the release of gatsby-theme-blog-core, pages only get [the relevant ids](https://github.com/gatsbyjs/gatsby/blob/71f133b9b8d90d5d029b268f7a548c40e201805f/themes/gatsby-theme-blog-core/gatsby-node.js#L195-L203)

[2019-08-17 01:02] #15687 closed

[2019-08-17 01:03] ChristopherBiscardi commented on #16593
Closing in favor of the feature request ticket at https://github.com/gatsbyjs/gatsby/issues/16697

[2019-08-17 01:03] #16593 closed

[2019-08-17 01:07] ChristopherBiscardi commented on #16145
The names tell you what they are: `gatsby-starter-*` vs `gatsby-theme-*`

* `gatsby-starter-blog-theme` is a starter that uses the blog theme and comes with demo content, etc. [Starters](https://www.gatsbyjs.org/starters/?v=2) are a fairly common concept in the Gatsby ecosystem.
* `gatsby-theme-blog` is a theme that is released as an npm package. You can see this since the `package.json` name is `

[2019-08-17 01:07] #16145 closed

[2019-08-17 01:09] good-idea commented on #11406
I still get this occasionally on Netlify with `gatsby build`, even through my project is fairly small. It's difficult to debug, because it doesn't occur every time. Clearing the cache & redeploying *will* fix it, but also, just a normal re-deploy will often work.

There's no `sudo` access during netlify builds, so changing the system limit isn't an option. Also, manually re-deploying isn't a real

[2019-08-17 01:12] ChristopherBiscardi commented on #13915
I don't personally know of any way to call scripts defined in npm packages as if they were scripts defined in the root package.json. I think if you declared them as `bin`s in the theme's package.json you would be able to then run `yarn my-bin`, but that wouldn't show them in the root package.json and such.

[2019-08-17 01:49] Moocar commented on #15872
@afenton90 This is a really interesting idea. I definitely hear you on the problem of a single change to anything in `src` resulting in changes to thousands of files. It's one of the trade-offs that I wasn't happy with in the whole `page-data.json` change.

Without having thought too deeply, I think this could potentially work. One of the downside is that where we once had to only request a single

[2019-08-17 01:54] ChristopherBiscardi commented on #15873
https://github.com/gatsbyjs/gatsby/issues/15873

[2019-08-17 02:05] ChristopherBiscardi opened #16700 "gatsby-theme-notes-core"
## Summary

Like gatsby-theme-blog-core (PR: https://github.com/gatsbyjs/gatsby/pull/16166), but for the notes theme.

### Motivation

Abstracting the data structures like this allows us to source notes from anywhere on the internet as well as allow people to build compatible child themes and extensions based on the standardized Notes interface.

[2019-08-17 02:06] ChristopherBiscardi commented on #16106
I think everything here has either it's own issue or is published already. Going to close this mega-issue in favor of the smaller, more actionable ones. Thanks for the feedback everyone!

[2019-08-17 02:06] #16106 closed

[2019-08-17 02:36] adamonsoon opened #16702 "gatsby-source-shopify 2.2.2 build error"
gatsby-source-shopify v 2.2.2 attempts to read the const `NODE_TO_ENDPOINT_MAPPING` from `./nodes` instead of `./constants`, which results in failure.
https://github.com/gatsbyjs/gatsby/commit/ce1bf9c8446083ed38667c37b2c7ded04ac89561#diff-9f1a842cf44ff7772dcebf087a07eb00L17

The issue is fixed in the following commit, which also removes references to `PRODUCT_TYPE`, and has not been merged to the

[2019-08-17 04:59] DavidChouinard commented on #16671
Got it, it does look like this issue doesn't occur with `gatsby build`. Seems like a duplicate, closing.

[2019-08-17 04:59] #16671 closed

[2019-08-17 05:26] hendra-go opened #16703 "gatsby-remark-images error if using markdownCaptions: true"
## Description

`gatsby-remark-images` produces and error if using `markdownCaptions: true` in `gatsby-config.js`

### Steps to reproduce

1. Create a new Gatsby site using the gatsby-starter-blog (e.g gatsby new my-themed-blog https://github.com/gatsbyjs/gatsby-starter-blog-theme)
2. Change `gatsby-config.js` to add option `markdownCaptions: true` on `gatsby-remark-images` block
3. Run yarn devel

[2019-08-17 05:26] anandtoshniwal opened #16704 "[gatsby-source-drupal] Including JSON cross bundle api"
The current JSON:API implementation takes creates a series of routes based on each entity type and its bundles. The current entity type and bundle route pattern gives us the following routes:

/jsonapi/node/articles
/jsonapi/node/pages
/jsonapi/commerce_product/clothing
/jsonapi/commerce_product/books

There is no single route to get all nodes or products regardless of their bundle:
/jsonapi/node

[2019-08-17 06:03] aqueenan commented on #15932
I encountered the same problem. npm didn't properly build cwebp because VSCode had closed the window to reload while npm was still running. This worked:
[code]

[2019-08-17 07:08] Js-Brecht commented on #16621
I was able to replicate this problem by simply running `gatsby develop` with a `bash` shell.

As I suspected, `node`'s termination process is being overridden by listening for the `SIGINT` interrupt via `readline`.  As a result, when the process exits, the stdio streams are not reconnected to the shell.  It's interesting that this problem only seems to occur when using `bash`.  Perhaps `zsh` is a

[2019-08-17 07:22] afenton90 commented on #15872
Thanks for your thoughts @KyleAMathews & @Moocar. I went ahead and did PR #16686 to cover this off.

I’m going to pair with @sidharthachatterjee on Tuesday to make sure all scenarios for this are covered and the tests are good.
Feel free to jump on the call if you are interested?

[2019-08-17 07:26] tareefdev commented on #16651
Thanks for your detailed answer, I tried `gatsby clean && gatsby build` but the issue still present.

- After building, I went to `/public` and found the size of the app bundle file is 5.3 MB (its name in my case `app-0b34f63c3e8cd7ab6e7a.js`).

- I even pulled in the repo on a server, installed the packages, and deployed it. Then I checked it with Chrome developer tools which confirmed that the J

[2019-08-17 08:20] robmarshall commented on #2392
I found writing out an entire schema (with correct values - 0 for int, false for bool, ect), and then merging entities over that worked. Bit of a long way round.

[2019-08-17 11:07] gezquinndesign commented on #633
In this [repo](https://github.com/gezquinndesign/theme-ui-starter), if I move the stories.js file to anywhere in src other than the stories folder, gatsby develop fails.  Any ideas why?

[2019-08-17 12:14] AbuSalem0324 commented on #16455
I still have this issue. Yesterday it worked when I uploaded a placeholder image, when I moved ahead with the same tutorial, stopped working.

[2019-08-17 12:26] AAverin opened #16706 "[gatsby-plugin-mdx] renderMdxBody was unavailable when rendering html"
## Description

Building some pages with mdx, I get following error:
[code]

### Steps to reproduce

Didn't try on the clean project yet.
Just added mdx plugin and few mdx files, then tried to query in the test GraphiQL UI
[code]

### Expected result

HTML contents of MDX pages should be available

### Actual result

Error `renderMdxBody was unavailable when rendering html.`

### Environment

  Sy

[2019-08-17 12:44] MarcCoet commented on #2490
Apparently this still hasn't been implemented...
JSON nodes still get populated with what is inside the JSON field.

Surely this must be easy to work around with the new schema customization API but I get a node validation error that won't go away. I tried a few things similar to:
[code]

I guess validation happens before the `createSchemaCustomization` hook. Is there a way to modify the node befo

[2019-08-17 15:06] jonniebigodes commented on #16651
@tareefdev one thing i forgot to mention is that you're importing a json file directly into a page component. With that, when webpack sees that you have the file import it will copy over the file, significantly increasing the bundle size, let's not forget that you have a json file of roughly 5.4 mb being loaded. It will not be split chunked or anything like that. it will be copied and attached to

[2019-08-17 15:25] antoinerousseau commented on #13807
I think it's because `defaultQuality` applies to images processed by sharp, not Contentful asset URLs.
It would be nice to have that `defaultQuality` option in the `gatsby-source-contentful` plugin `options` too.

[2019-08-17 16:17] StarpTech opened #16707 "Custom postcss.config.js isn't loaded by gatsby-plugin-postcss or gatsby-plugin-sass"
## Description

I'm trying to use `postcss.config.js` file to configure postcss but the config isn't loaded at all.

- According to [Gatsby 2 migration](https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#3-include-postcss-plugins-in-your-postcssconfigjs-file) the config file is supported
- The plugin [gatsby-plugin-sass](https://www.gatsbyjs.org/packages/gatsby-plugin-sass/) also use postcss b

[2019-08-17 16:25] tareefdev commented on #16651
So to summarize it, the master bundle will contain all assets/data were imported within components and pages, and that's would increase the size of all pages, exactly as the title says, but this the default behavior and not a bug.

It seems that it's not possible to use GraphQL in some cases, for example [TopoJSON files](https://en.wikipedia.org/wiki/GeoJSON#TopoJSON) can't be queried using GraphQ

[2019-08-17 16:50] NickyMeuleman commented on #14595
Was about to post the same suggestion and found this!
This is the documentation page I came across https://help.github.com/en/articles/creating-a-template-repository

For example this would be an ideal candidate: https://github.com/jlengstorf/gatsby-theme-jam-example

How would this work with the monorepo structure? (some?) starters also have their own repository.

For example: https://github.com/

[2019-08-17 17:27] #15159 closed

[2019-08-17 17:27] #15711 closed

[2019-08-17 17:27] #15741 closed

[2019-08-17 17:44] universse commented on #16653
Maybe you can use fs.writeFile to write out the object in gatsby-node during page creation process. Then import that file in your src code.

[2019-08-17 17:49] universse commented on #16651
You can consider using something like fetch api to request that json file instead of directly import it.

[2019-08-17 17:53] christiansakai commented on #16707
I can confirm, doesn't work for me either.

[2019-08-17 18:28] #15298 closed

[2019-08-17 18:38] city41 opened #16708 ""Uncaught (in promise) Error: 404 page could not be found" when pressing back button"
## Description
I find sometimes when pressing the back button, then from there clicking on another link, nothing happens. I see this in the console: `app-fe7c17e2944200c5b471.34096c386004d3b05de6e33102e6278b.js:1 Uncaught (in promise) Error: 404 page could not be found. Checkout https://www.gatsbyjs.org/docs/add-404-page/
    at app-fe7c17e2944200c5b471.34096c386004d3b05de6e33102e6278b.js:1`.

###

[2019-08-17 18:39] jlengstorf commented on #16416
@chrisdesilva it looks like you're headed in the right direction. I recently helped Laurie Barth [convert some of her site into a theme](https://youtu.be/ciGFxNamooI?list=PLz8Iz-Fnk_eTpvd49Sa77NiF8Uqq5Iykx) on my livestream, which might be helpful here.

In addition, you may want to check out the [case study on Apollo's using of Gatsby themes](https://www.gatsbyjs.org/blog/2019-07-03-using-themes-

[2019-08-17 18:39] #16416 closed

[2019-08-17 18:40] jlengstorf commented on #4377
Kinda. Good enough, I guess.

[2019-08-17 18:40] #4377 closed

[2019-08-17 19:02] sw-yx commented on #16106
what's @johno's  approach? got a link?

[2019-08-17 19:58] jnsrikanth opened #16710 "Adding print and social share buttons (including email) in a markdown file"
## Summary
I am trying to add print and social share capabilities to my blog post page (the final page for a Blog Item/Post) inside the markdown body of the blog post.
I wanted to know how to achieve this in the current GatsbyJS / ReactJS environment.

I have not seen specific documentation at GatsbyJS site pertaining to adding such extraneous capabilities inside a Markdown file using GatsbyJS

##

[2019-08-17 21:29] jonniebigodes commented on #16651
@universse no need. If the file is copied over to the static folder it will be treated like a asset and it should be acessible via a http request.

@tareefdev following what i've said above as you need search capabilities you could go with the above approach and move the json files into the static folder and when the site is built the bundle should be trimmed down in size. More on [static folder a

[2019-08-17 23:30] Kosai106 commented on #15860
I think it's fair to close this one.

[2019-08-17 23:30] #15860 closed

[2019-08-17 23:37] MichaelDeBoey commented on #15991
not stale

[2019-08-17 23:55] annaelde opened #16711 "[gatsby-plugin-postcss-sass] Plugin still listed as official plugin, despite being removed"
## Description

`gatsby-plugin-postcss-sass` still shows up as an official plugin when searching for plugins on the Gatsby site, despite being removed as a submodule in the project itself, leading to confusion on how to integrate Sass and Postcss.

### Steps to reproduce

- Go to Plugins and search for `gatsby-plugin-postcss-sass`
- Click on the plugin

### Expected result

A notice that the plugi

[2019-08-18 00:08] terrykwon commented on #16621
I'm having the same problems as well. Additionally, `gatsby develop` quitting due to an error (such as `Can't resolve ...` leaves the terminal in the same state.

(System: MacOS with bash shell)

[2019-08-18 01:02] universse commented on #16651
It depends on where the data comes from. If they come from data queried with graphql, then you need to fs.writeFile. If it's static then just put it in static folder.

[2019-08-18 01:19] Js-Brecht commented on #16621
@terrykwon Can you [clone my fork](https://github.com/Js-Brecht/gatsby-1) and try see if it fixes the problem?  If you aren't familiar with setting up a dev version of Gatsby, let me know.  **Note:**  It's also important to run the command in the context of the site you configured to use the dev Gatsby cli (i.e. `npx gatsby develop`).

I have been able to replicate the issues using a `bash` shell,

[2019-08-18 02:38] winkerVSbecks opened #16712 "[gatsby-remark-images][gatsby-plugin-mdx] browser code not running"
# Summary
Hi, I'm trying to setup a mdx blog and wanted to use `gatsby-remark-images` to load images. My `gatsby-config` is below. The plugin seems to be active. The images are loading and I can even see the the low-res placeholder. However, it renders both the placeholder and the actual image below it. This is what it looks like:

<img width="712" alt="Screenshot 2019-08-17 at 10 29 55 PM" src="h

[2019-08-18 02:55] terrykwon commented on #16621
@Js-Brecht Just tried it with both the `ctrl-c` and `Failed to compile...` cases and the problem seems to be fixed! Thanks 👍

[2019-08-18 03:22] Js-Brecht commented on #16621
Good to hear :slightly_smiling_face:

[2019-08-18 03:45] KyleAMathews commented on #16711
Ooops! My bad — I should have deprecated that a while ago. I deprecated it on npm and it now isn't showing up on the plugins search. Thanks for alerting us to this issue!

[2019-08-18 03:45] #16711 closed

[2019-08-18 03:58] ttstauss commented on #2392
I'm in the same boat.

[2019-08-18 03:58] mkreutner commented on #11406
It's work fine for me !
Thanks very much !

[2019-08-18 04:08] aTechGuide commented on #16712
Hello @winkerVSbecks
Even I'm facing the same issue

Repro Steps:
- I've used https://github.com/ChristopherBiscardi/gatsby-starter-mdx-basic starter
- Included `gatsby-remark-images`
[code]
- Changed index.mdx to use `gatsby-astronaut.png` inside markdown `![Gatsby Image](../images/gatsby-astronaut.png)`
[code]
- I see the image and its blur version
![Screenshot 2019-08-18 at 9 34 42 AM](https://

[2019-08-18 04:15] leonstafford opened #16713 "gatsby-cli new fails to complete on OpenBSD"
## Description

Unable to complete the new project provisioning with `gatsby new projectname`.

### Steps to reproduce

 - install OpenBSD
 - `pkg_add node`
 - `npm i -g gatsby-cli`
 - `gatsby new projectname`

### Expected result

Provisioning of new app completes without error.

### Actual result

Receive output:

With `NODE_DEBUG=*`:

![VirtualBox_openbsd65stable_18_08_2019_12_21_18](https://us

[2019-08-18 10:16] love2dishtech commented on #4357
This certainly works for Gatsby v2.

[2019-08-18 10:34] tareefdev commented on #16651
@jonniebigodes Thanks for your exhaustive answer. Fetching JSON file using `axios` instead of importing it directly solves the issue, now just one page has the data. This is an excellent technic for importing Topojson files and building a searching page using JSON file.

I'm considering to open a PR to add this use case in `[When to use the static folder](https://github.com/gatsbyjs/gatsby/blob/ma

[2019-08-18 10:34] #16651 closed

[2019-08-18 12:11] richardkall opened #16716 "Broken link in SEO component docs"
## Description

Broken link on https://www.gatsbyjs.org/docs/add-seo-component/#examples.

### Steps to reproduce

Click on the link named "marisamorby.com" on https://www.gatsbyjs.org/docs/add-seo-component/#examples.

### Expected result

Should lead to an SEO component example on GitHub.

### Actual result

Broken link: 404.

[2019-08-18 12:12] richardkall commented on #16716
I'll fix this.

[2019-08-18 12:48] eyalroth commented on #15322
@KyleAMathews @gregwhitworth Could you please reopen this?

I'm experiencing the same "page-data.json not found" errors, and I believe it only started after I've recently updated my npm packages. I don't seem to experience the misfired `componentDidMount` though.

My site is hosted on Netlify, which is one of the major go-to platforms for gatsby sites. My site's repo is [here](https://github.com/e

[2019-08-18 13:05] colbyfayock commented on #15322
@eyalroth does your issue look like this? https://github.com/gatsbyjs/gatsby/issues/16097

[2019-08-18 13:13] eyalroth commented on #15322
@colbyfayock Looks like it; however, I'm not altering the `matchPath`, if that matters.

[2019-08-18 13:31] Spring3 opened #16718 "React-spring animation malfunctions in production build."
## Description

I am making [a website with gatsby](https://github.com/Spring3/aurelins-website), where I use `styled-components` and `react-spring` (with their react hooks api) for UI.

[In this file](https://github.com/Spring3/aurelins-website/blob/master/src/layouts/MainLayout.jsx#L164) there is a sidebar that has open / close animation

When I run this website in develop mode (`gatsby clean &&

[2019-08-18 16:10] karland opened #16721 "gatsby v2.13.65 -> v2.13.66 introduces a lot of warnings in Windows due to path changes"
## Description

I am on Windows 10. After updating from Gatsby v2.13.65 -> 2.13.66 I get a lot of warnings resulting from the path letter being different, such as this

[code]

I believe the error results from https://github.com/gatsbyjs/gatsby/commit/cac4246

Up until Gatsby v2.13.65 all path letters were in lower cases, which was good.

I also believe the Windows path letters in packages/gatsby/

[2019-08-18 16:11] NickyMeuleman commented on #16712
Hi!
This sounds like the same issue I had in https://github.com/gatsbyjs/gatsby/issues/16629

That turned out to be a duplicate of https://github.com/gatsbyjs/gatsby/issues/15486
The underlying issue is being though about and will eventually be fixed.
You can follow the discussion in https://github.com/gatsbyjs/gatsby/issues/16242

a **temporary** workaround is adding `gatsby-remark-images` to a `

[2019-08-18 16:33] 3imed-jaberi opened #16722 "Gatsby projects ( core , website , plugins ...etc ) !!"
#### Why all the projects are in one repository 🤔 !!

This makes the process of contributing in the site or in the gatsby core difficult locally ( cloning ...etc) ..
So , dividing the project into several repositories will be better for the team and even the contributors ...

I talked to @m-allanson here #16673 about this but he didn't see that , he just closed the PR and no longer see comments.

[2019-08-18 16:59] MaximeHeckel opened #16723 "SEO issues: meta tags are present in browser but not in page source"
## Description

I'm currently building https://blog.maximeheckel.com/ , hosted on netlify. I thought I'd setup my SEO properly using `react-helmet` and `gatsby-plugin-react-helmet` but I'm seeing the weirdest issue:
I can see all the meta tags being present and filled properly in the browser inspector tools but whenever I'm trying to use for example [twitter card validator](https://cards-dev.twitt

[2019-08-18 17:27] #11096 closed

[2019-08-18 17:27] #15118 closed

[2019-08-18 17:27] #15136 closed

[2019-08-18 17:27] #15809 closed

[2019-08-18 18:38] ahmedelgabri commented on #16722
@3imed-jaberi Sorry, I can't help. I'm not in the core team. Anyone who contributes to gatsby gets added to the organization. So I'm just in the organization because I contributed before.

[2019-08-18 18:50] infomofo commented on #16520
I'm having the same issue on a MacOS iTerm/tmux setup. After I hit CTRL-C during a gatsby develop session my terminal stops echoing any of the characters I'm typing. The commands I type still work but it's very frustrating.

[2019-08-18 19:41] MaximeHeckel commented on #16723
<img width="1162" alt="Screen Shot 2019-08-18 at 12 38 29 PM" src="https://user-images.githubusercontent.com/2974412/63229475-5fae2380-c1b5-11e9-9eaf-51ee04d36609.png">
I downloaded a chrome extension to check for social meta tags, and it parses them properly but none of the other tools or app does weirdly

[2019-08-18 20:01] gc opened #16724 "Suggestion: Use different example in client-only-paths example repo"
I simply want to suggest that https://github.com/gatsbyjs/gatsby/blob/master/examples/client-only-paths/gatsby-node.js show a more real-world example, I find it a bit confusing currently having *every* page be client-only which I doubt many want to (or should) do.

For example,
[code]

I didn't PR this because I'm not sure how to do it.

[2019-08-18 20:02] jonniebigodes commented on #16651
@tareefdev no need to thank, glad i was able to help out. If you're willing feel free to make the addition to the document go for it, just read up the [how to contribute](https://www.gatsbyjs.org/contributing/how-to-contribute/) document and go from there.

[2019-08-18 20:27] jonniebigodes commented on #16722
@3imed-jaberi from a developer perspective and i'm only a contributor to this project.
But i understand why this approach taken by the team. In paper it looks that the monorepo is cumbersome. But if you take a step back and take a clinical approach to it, you'll see that it's far better to maintain and reduces overhead in the codebase and also looking at the multirepo approach might look cleaner,

[2019-08-18 20:50] 3imed-jaberi commented on #16722
@ahmedelgabri
Thank you bro , soon someone in core team will answer me ..

[2019-08-18 20:56] anantoghosh opened #16725 "[gatsby-plugin-less] Upgrade to less-loader v5 required"
## Description

[Latest less release](https://github.com/less/less.js/releases) v3.10.1 [does not work](https://github.com/less/less.js/issues/3414) with the older less-loader v4 included in `gatsby-plugin-less`.

Upgrade to less-loader v5 is required to [fix this](https://github.com/less/less.js/issues/3414#issuecomment-522283588).

### Steps to reproduce

Use gatsby-plugin-less with less v3.10.1

[2019-08-18 21:05] jonniebigodes commented on #16724
@gc that example is just a pure example on how to achieve and shows how the feature is implemented. If you take a look at the rest of them, most of them, if not all are really simple use cases. Probably in this case adjust the readme for this example to contain a reference that it's a barebones one and if it's needed a more in depth case probably point to [this](https://www.gatsbyjs.org/tutorial/a

[2019-08-18 21:09] 3imed-jaberi commented on #16722
Thanks @jonniebigodes for this reply ..
I made this question in the form of a proposal for being easier to deal for contributors and even for maintainers. I understand everything about CI config. ......... but the repo realy large .
We can hear from other shareholders and members ,maybe this will help revise this trend.

Sometimes we have to make decisions that may seem difficult, but important, t

[2019-08-18 21:54] #16712 closed

[2019-08-18 22:02] i-bsd commented on #16713
Can also confirm.
Same result with all starters using OpenBSD.

[2019-08-18 23:44] jonniebigodes commented on #15294
@McFlat can you create a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) with your code so that it can be looked at?

[2019-08-19 00:14] agoldis commented on #9207
FYI the same issue happens when serving gatsby artifacts on S3 behind CloudFront (prob that's what Netlify do behind the scenes)

[2019-08-19 00:15] DavidSabine commented on #16106
Huge thanks to everyone who pulled this off.  I implemented gatsby-theme-blog-core, and applied my site's cosmetics, easily within an hour this evening.  https://scrum.works/articles/

I love the simplicity of this approach. I had to shadow only two files (post.js and posts.js) to seamlessly produce a beautiful blog.

Many thanks and congratulations.

[2019-08-19 00:21] Paahn commented on #15038
I was having the same trouble with DinaShatina and I solved it by moving the let activeEnv declaration to the top of the gatsby-config.js file. Find full code [here](https://gist.github.com/Paahn/b52a29cb6e8113ed5e6a85f95d178841)

[2019-08-19 00:23] rjray commented on #16520
I believe this is the same issue that I reported in #16621, which has a pending fix. The CLI program doesn't reset the terminal state before exiting on a Ctrl-C.

If you type `reset` and hit return, the terminal should reset the TTY and return to normal.

[2019-08-19 00:31] geoffdavis92 commented on #15947
Would also like to see this looked at. Ran the `--https` command without sudo, now unable to setup a (truly secure) HTTPS connection through Gatsby.

One thing that would be helpful– and I may be able to help with this– is to present a warning on the [`local-https` docs page](https://www.gatsbyjs.org/docs/local-https/) to indicate users should maybe first try this using `sudo` before they run it?

[2019-08-19 00:35] ryudice commented on #16281
I'm having this issue as well. Is there any workaround or should we just downgrade to 2.13.25?

[2019-08-19 00:37] ryudice commented on #16281
Confirming downgrading to 2.13.25 works by the way.

[2019-08-19 01:46] rmorabia commented on #16212
Hey, made a PR above! I'm running Linux, so I can't confirm if the fix runs on Windows. Can someone on Windows run my fork and see if this issue still fails? Thank you!

[2019-08-19 01:59] Jennykuma commented on #15356
@zfc9d3f Hey did you find a solution for this? Same issue here.

[2019-08-19 02:20] Jennykuma commented on #9121
Hey, thanks @chri5bot ! My site is working because of this as well.

[2019-08-19 03:12] rmorabia commented on #14282
I think I have to abandon this -- running `gatsby develop` on the `www` folder seems to be too heavy for both my main computer & my AWS server. It seems to need to store gigabytes in memory and always fails on running.

If anyone has any advice, let me know! Otherwise, my computer just isn't powerful enough for this.

[2019-08-19 05:43] AAverin commented on #16706
Codesandbox with issue being reproduced:
https://codesandbox.io/s/gatsby-starter-default-jhr25

[2019-08-19 06:05] taroodr opened #16727 "How to override onRouteUpdate"
## Summary
Currently, [onRouteUpdate](https://www.gatsbyjs.org/docs/browser-apis/#onRouteUpdate) fires only when `location.pathname` changes.
Is there a way to make onRouteChange fire when queryString changes?

Is it possible to overwrite navigation.js as follows, for example?

`gatsby/packages/gatsby/cache-dir/navigation.js`
[code]

↓↓↓↓↓↓

Want to overwrite like following
[code]

[2019-08-19 06:38] asuh opened #16728 "FetchError: request to http://localhost:8000/___graphql failed, reason: socket hang up"
This might be related to https://github.com/gatsbyjs/gatsby/issues/14990 and https://github.com/gatsbyjs/gatsby/issues/15441.

## Description

After environment set up, I created new Gatsby project with Hello World starter. I changed into the directory and ran `gatsby develop`.

The process completed to show me the localhost URL but immediately returned an error and quit the process.

I previously

[2019-08-19 06:59] nikita-seliverstov commented on #16653
That might work, I will try but it will be much better if i just can query this data

[2019-08-19 07:03] devrchancay commented on #16653
Can you give a more precious example of what you will need? I also think it would be fixed in the gatsby-node.js file

[2019-08-19 07:15] davidohlin commented on #6211
I'm also having problems with FOUC, and I am using tailwind as well. I have moved my css import to `gatsby-browser.js` and that made it happen less frequent, but it still happens.

[2019-08-19 08:46] wardpeet commented on #16621
Just to make sure I understand the issue here. When running bash and calling ctr+c it won't close the session?

[2019-08-19 08:50] BernardA opened #16729 "which admin setup for Gatsby with Symfony Api Platform?"
## Summary
I am planning an app with Symfony's Api Platform as back-end and I am not sure what is the best setup concerning the admin.
By the way, this is not a blog app. It's actually a base for full fledged web apps with members' area, fully interactive, that could be used for a number of applications.

## Relevant information
As I see, there are a few options:
- Symfony EasyAdminBundle - lots o

[2019-08-19 08:51] nikita-seliverstov commented on #16653
I want to query   ```
allSitePage {
          nodes {
            path
          }
        }
[code]

[2019-08-19 09:01] barbalex opened #16730 "Gatsby not loading pages"
## Description

Pages are not being loaded. Instead a page containing this text is shown:

[code]

But there _is_ an index.js file in the pages folder.
The same happens with the /test route.

This was a create-react-app project. I tried to convert it to gatsby according to https://www.gatsbyjs.org/docs/porting-from-create-react-app-to-gatsby/ and some other gatsby apps I have built.

So probably I

[2019-08-19 09:03] zfc9d3f commented on #15356
@Jennykuma I think i ended up going to CRA for one of the projects because SEO wasn't really something necessary. For the other, i ended up styling just through css.

[2019-08-19 09:44] gc commented on #16724
I was originally reading the linked tutorial, which I didn't understand (the `if ()` createPage part), which lead me to looking for more examples to figure out how to do what I want. (which I'm still not sure how to do). Perhaps it's just me being slow.  Closing as I've switched to create-react-app as my application is too dynamic and its just causing me issues.

[2019-08-19 09:44] #16724 closed

[2019-08-19 09:50] universse commented on #16653
how do you intend to pass the data to cms config? it would be helpful if you share some code.

[2019-08-19 10:02] nikita-seliverstov commented on #16653
First i tried to use gatsby static queries
I tried different implementations but basically it looks something like this

The problem with gatsby queries that they can work only in component. Then I tried your solution but how I understand the nodes aren't created yet during gatsby-node run. I think to try to use apollo to make query

[2019-08-19 10:21] universse commented on #16653
any reason why you can't do this in ```componentDidMount``` or ```useEffect```?

[2019-08-19 10:29] S-unya commented on #16706
@AAverin I may be missing something, but I don't see any issues in that code sandbox (apart from deprecation warnings for `componentWillMount`). What should I be seeing?

I have tried in Firefox and Chrome.

[2019-08-19 10:39] AAverin commented on #16706
@S-unya steps to reproduced described above
Opend `___graphql` in the browser, in codesandbox it would be `https://jhr25.sse.codesandbox.io/___graphql`
And run
[code]

[2019-08-19 10:40] AAverin commented on #16706
Here is what I get
[code]

[2019-08-19 10:54] universse commented on #16653
alternatively, you can use ```onPostBuild``` in ```gatsby-node.js``` to make the above query

[2019-08-19 11:41] #16716 closed

[2019-08-19 11:44] LekoArts commented on #16706
You need to use [body](https://jhr25.sse.codesandbox.io/___graphql?query=query%20MyQuery%20%7B%0A%20%20allMdx%20%7B%0A%20%20%20%20nodes%20%7B%0A%20%20%20%20%20%20body%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A&operationName=MyQuery) instead of `html` as afaik the latter is only there for usage in `gatsby-plugin-feed`.

The guide is also telling the reader to use `body` :)
https://www.gatsbyjs.org/docs

[2019-08-19 11:49] nikita-seliverstov commented on #16653
I tried and it did't but maybe because of lack of knowledge i probably something wrong

[2019-08-19 11:52] wardpeet commented on #16520
When #16621 is updated I'll see if it fixes the problem. I've noticed this bug before as well, I thought it was a vscode issue as I've never seen this in PowerShell itself.

[2019-08-19 12:03] AAverin commented on #16706
@LekoArts Hmm, thanks for the note, I'll need to play with it.

Although looking into `body` response, it will probably now work for my case.

I have documentation for my product that is now a manually built page.
I was planning to move all documentation sections and sub-sections into blog-like folder structure with mdx inside, query all of them on my page, build menu with navigation and inlinethe

[2019-08-19 12:12] universse commented on #16653
You need to use useStaticQuery and useEffect in a React component.

Let say App.js
[code]

[2019-08-19 13:06] wardpeet commented on #16097
Sorry for the late notice, I have been on vacation for the past week and a half. I can bring you the good news that we will be fixing this natively in gatsby. We'll put urls inside match-path.json that match a dynamic route.

I'll be creating a PR to fix this issue. I'll let you know when it's up and running to get some feedback.

[2019-08-19 13:08] colbyfayock commented on #16097
thanks @wardpeet 🎉

[2019-08-19 13:09] wardpeet commented on #16112
@JoueBien would this be a nice workaround for you?

[2019-08-19 13:09] #16112 closed

[2019-08-19 13:41] nikita-seliverstov commented on #16653
Sorry i can't understand how to properly execute this, I tried to just copy this and tried to call this function inside a component and it wont work

[2019-08-19 13:43] wardpeet commented on #16653
@nikita-seliverstov is it possible to share a small snippet with your problem. It's hard to figure out what exactly the problem is. We also have something called page-context which might be of help here.

[2019-08-19 13:49] wardpeet commented on #16706
@AAverin that's still possible, I would suggest looking at the url @LekoArts posted and maybe https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/#create-pages-from-sourced-mdx-files

[2019-08-19 13:57] universse commented on #16653
If that's the case then you can do it like this

layout.js
[code]

[2019-08-19 13:58] peter-mouland commented on #16287
thank guys, i can confirm the break was in 2.12.1. 2.12.0 works for me also.

Here is a fix. https://github.com/gatsbyjs/gatsby/pull/16734/files

I've not used `async/await` as that would  change the behaviour of the function, instead i've opted to  dupe the finally code in a then and catch.  This mean there is no change in code behaviour.

[2019-08-19 14:00] AAverin commented on #16706
@wardpeet
I already have blog with generated pages.
What I am building now is a little different – I need to compose a single page out of many mdx files that lie somewhere in the filesystem.

[2019-08-19 14:02] RamonBalthazar commented on #16381
Since the issue has changed, I'm gonna close this and open a new one

[2019-08-19 14:02] #16381 closed

[2019-08-19 14:08] nikita-seliverstov commented on #16653
https://github.com/Arvutiamblik/amblik here is the repo i use for tech demos,
At first i wanted to init the cms in src/cms/cms.js but i don't know which component to return it this file so i tried in layout.js in src/components

[2019-08-19 14:14] universse commented on #16653
is it working the way you intended, initializing in layout.js?

[2019-08-19 14:30] nikita-seliverstov commented on #16653
I try right now and it seems to be working but now i have the cms page under every page on the site like this
![image](https://user-images.githubusercontent.com/37171096/63273680-12aa7a00-c2a7-11e9-88e9-93b90c06d511.png)

[2019-08-19 14:39] johno commented on #16106
It's currently tossed into a branch on a "scratch" repo. [You can see the CLI source code here](https://github.com/johno/gatsby-themes/tree/db87bb74798fcd21d40c78ecb30ff6ad5ef5e738/packages/gatsby-ui).

---

The idea around this approach (I'll likely break this out into an issue today for further discussion):

Something that I noticed with the child theme workflow is that starting from `gatsby-the

[2019-08-19 14:43] universse commented on #16653
are you wrapping every page with ```Layout``` component?
you only need to do that for pages that you want to display the cms in

[2019-08-19 14:46] nikita-seliverstov commented on #16653
The problem is that i don't have component that displays cms pages I don't know how to add this component to the page

[2019-08-19 14:59] samjulien opened #16735 "[gatsby-plugin-mdx][gatsby-remark-images] Unique key prop error when using an inline image"
## Description
I've been following the [recent docs on MDX](https://www.gatsbyjs.org/docs/mdx/) to create a simple project. I've successfully generated pages programmatically. When I added `gatsby-remark-imges` using [these instructions](https://www.gatsbyjs.org/docs/mdx/plugins/), adding an inline image (such as `![thing](./my-image.jpg)`) results in:

[code]

The blurred image then appears above

[2019-08-19 15:07] johno commented on #16706
You can use MDXRenderer to achieve this with a `pageQuery` that returns multiple documents by modifying your existing query:

[code]

And then render each document similarly to the following:

[code]

All together:

[code]

As @LekoArts mentioned, you won't typically need to reference the `html` node directly because it's mostly intended for RSS feeds. And when you do reference it, all components

[2019-08-19 15:07] anantoghosh commented on #16730
The `pages` directory needs to be inside the `src` folder. Components under `src/pages` are automatically turned into static pages.

[2019-08-19 15:08] samjulien commented on #16735
Ah, this looks like a dupe of #16712 and others. Will use the hack until the fix is done.

[2019-08-19 15:11] wardpeet commented on #16728
I'm on the same windows version as you and can't reproduce this issue on WSL. I have a feeling that it's a firewall issue. Could you try again with antivirus/firewalls disabled?