[2018-03-07 22:58] shannonbux commented on #3956
That sounds perfect, although if we ever change the tutorials
significantly, it just also means we'll have to update the branches.
Hopefully won't have to get edited very often.

On Wed, Mar 7, 2018 at 2:37 PM, Kyle Mathews <notifications@github.com>
wrote:

[2018-03-07 22:59] shannonbux commented on #3956
good point @amberleyromo. It'd be great to enable people to keep learning
until they're able to get help or resolve errors.

On Wed, Mar 7, 2018 at 2:40 PM, Amberley <notifications@github.com> wrote:

[2018-03-07 23:04] shannonbux commented on #3956
Yeah! An easy reset or recovery method could encourage healthy risk taking
and exploration

On Wed, Mar 7, 2018 at 2:52 PM, Kyle Mathews <notifications@github.com>
wrote:

[2018-03-07 23:11] shannonbux commented on #4372
Hm, interesting ideas. Your ideas have got me thinking about how to determine which words to even define. Might be something to outline in a style guide, like "anything people can't easily find in google (or can't be found easily, in the form we like, ought to be defined in a glossary"?
We might just have to go with gut instinct on this for the time being, although usability testing will likely re

[2018-03-08 02:39] shannonbux opened #4431 "Search bar not loading search results"
## Description

The search bar seems to not load search results in some specific situations.

### Steps to reproduce problem 1

1. Typed graphql into search in the docs
2. Hit enter
3. Click around
4. I navigated back to the homepage
5. typed graphql into search bar and hit enter
6. Nothing happened

### Expected result

I'm guessing in 6. above, the search results modal ought to appear.

### Actu

[2018-03-08 04:22] jonavila opened #4433 "Getting pathPrefix in html.js"
## Description

I would like to know if there's a way to get the `pathPrefix` defined in **gatsby-config.js** in order to add it to link's href URI that I'm preloading. I haven't found a way to get it from html.js to avoid hardcoding it.

### Environment

- Gatsby version (`npm list gatsby`): 1.9.223
- gatsby-cli version (`gatsby --version`): 1.1.45
- Node.js version: 8.9.4
- Operating System: Mac

[2018-03-08 04:46] #4335 closed

[2018-03-08 04:56] jonavila commented on #4433
Just to clarify, I could do something like `require('../gatsby/config').pathPrefix`, but I wanted it to be dynamic based on type of build (normal vs --prefix-paths).

For now, I'm going to try out
[code]

Just like in gatsby-link.

[2018-03-08 05:20] ahgharian opened #4435 "undefined data from graphql in a component inside layout folder"
This is my first ever issue! I hope I am not making a duplicate issue. We will find out I guess. I am afraid it might be something very stupid that I am missing.

## Description
From what I have learned gatsby treats `layout` and `pages` in a special way which you can use graphql to query your posts. Here is what I am seeing:

query used:
[code]
### Steps to reproduce
❌ if you were to create a com

[2018-03-08 06:13] FengShangWuQi commented on #4148
@KyleAMathews Is this problem solved?

[2018-03-08 06:20] auser commented on #1847
How did you fix it, @pie6k ?

[2018-03-08 06:35] KyleAMathews commented on #4435
This is as expected actually. You can only write queries in layout components that are being used as layouts so layouts/index.js.

Your `Sidebar.js` file isn't actually a "layout" as Gatsby understands it and you shouldn't have it in that folder.

Instead, query for the data that Sidebar needs in layout/index.js and then pass the data to Sidebar.

Good luck!

[2018-03-08 08:09] jarekpelczynski commented on #4415
@KyleAMathews yes, of course. That an error about "acf" is from GraphQL. Previously, I used a self-hosted WP and it worked until I moved to WP.com.

Probably, ACF-to-REST-API doesn't support WP.com public end-points... :(

[2018-03-08 08:47] pie6k commented on #1847
I didn't. @auser

[2018-03-08 08:50] 0xsven commented on #4251
YES! That's what I was missing. Thank you!

[2018-03-08 10:25] JacobBlomgren opened #4439 "don't include polyfills in main bundle"
## Description

I noticed that 80 kb (10 kb Gzipped) worth of polyfills (core-js) are included in the common bundle, thereby penalizing modern browsers as discussed here https://webpack.js.org/guides/shimming/#loading-polyfills. Note that I might very well be missing something, but otherwise this would perhaps be something worth looking into, in the Gatsby spirit of effectiveness. In that case, I

[2018-03-08 10:41] rbachleitner opened #4440 "[gatsby-source-wordpress] Mention the dependency of gatsby-transformer-sharp on gatsby-image in image processing example"
## Description

Following the documentation of gatsby-source-wordpress might lead to unknown fragments like 'GatsbyImageSharpSizes' for users that don't now about gatsby-image.

### Steps to reproduce

Follow the docs for gatsby-source-wordpress without the knowledge of gatsby-image.

### Expected result

Should work as shown.

### Actual result

gatsby complains about unknown fragment 'GatsbyImag

[2018-03-08 10:41] JacobBlomgren commented on #4439
What makes this even more interesting is that I had an old `report.html` webpack-bundle-analyzer file from a Gatsby project lying around, and the core-js folder was missing from the common bundle then. That build was _probably_ built in like mid-December, so it must have been introduced since.

[2018-03-08 10:47] clem-chimp commented on #3002
@durkinio and for whoever comes across this issue, I ran into this and found the cause was because the filename I provided to `cover` was incorrect.
In my exact example, I gave the name `photo.jpg` instead of `photo.jpeg`
Once I corrected it, this compilation error was resolved

[2018-03-08 11:38] pieh commented on #4440
Thanks for report! Do you feel like You could make PR to address? Docs are here - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/README.md

[2018-03-08 13:13] ChristoRibeiro commented on #4357
@m-allanson thanks. Not sure how to make it work. I've tried that:

[code]

then

[code]

[2018-03-08 13:40] rbachleitner commented on #4440
I extended one line: #4441

[2018-03-08 13:50] ahgharian commented on #4435
This is what I ended up doing last night which works but it wasn't super obvious or that I am not very bright 😁 either way thanks for the help! 👍

[2018-03-08 14:07] Jaikant commented on #1847
I am facing the same error, any suggestions!

[code]

[2018-03-08 14:53] johnkorzhuk commented on #4251
@lawtontom that was it. Thanks!

[2018-03-08 14:53] #4251 closed

[2018-03-08 15:03] jarekpelczynski commented on #1493
So content images (uploaded by WYSIWYG) are not supported?

[2018-03-08 15:35] MaralS commented on #3183
@LeKoArts How can I fix the issue ? I upgraded all the packages, including Gatsby

[2018-03-08 16:07] mtabasco opened #4442 "Build generates broken links"
## Description

It is possible that I am doing something very basic, but I did not find any solution in the tutorial or here.

When I run "gatsby build", resources are generated in the public directory, but when I browse the web: css, images, etc. are not loaded. Also, the links do not work, because they redirect to, for example: file: /// C: / Macbook /

When I upload the files to firebase, the s

[2018-03-08 16:21] pieh commented on #1493
They aren't for now. If someone would like to add support for that then PRs are welcome. It would need to parse html content from WYSIWYG fields (at least for main content field) and replace inline images (somethink like `gatsby-remark-images` does for markdown).

[2018-03-08 16:28] KyleAMathews commented on #4442
Try running `gatsby serve` after `gatsby build` and go to the web address directed there.

[2018-03-08 16:28] #4442 closed

[2018-03-08 16:36] MarcCoet commented on #2902
Did someone succeeded implementing `createRemoteFileNode` with `createNodeField`??
If someone is interested I managed to get around it by creating a node like transformer plugins do. I used [this example](https://github.com/gatsbyjs/gatsby/blob/a5c08719ebe1a3004ac8f97b888a73a65fa4fa32/packages/gatsby-transformer-screenshot/src/gatsby-node.js#L75) to help me think about it the right way.
[code]

Th

[2018-03-08 17:27] proeung opened #4445 "[using-page-transitions] Not working in IE11"
## Description

We're currently using the example pulled from [using-page-transitions
](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-page-transitions) to implement subtle page transitions in one of our Gatsby projects. When loading the site on IE11, none of the links are firing correctly.

### Steps to reproduce

You can reproduce by serving the build version of this example ([usi

[2018-03-08 17:32] awesomebob opened #4446 "Question: suggestions for infinite scroll / paging"
I have a page with a GraphQL query that fetches over a thousand nodes.
I need to have most of the data available to do client-side filtering, but I'd like to avoid initially rendering the whole thing as one gigantic page.

Are there any examples/documentation of sites that use an infinite-scroll-type setup for react components that are dynamically generated from a Gatsby GraphQL query?

[2018-03-08 17:46] michelbl opened #4447 "Documentation for deploying in heroku creates caching problems"
## Description

Documentation for deploying to heroku leads to caching issues (described in #2538)

### Steps to reproduce

Follow this documentation: https://www.gatsbyjs.org/docs/deploy-gatsby/#heroku

Make a change that affects the js. The bundle is still cached by heroku for 4 hours.

### Expected result

The js bundle is updated.

### Actual result

New HTML files clash with the old bundle.

[2018-03-08 18:08] rdela commented on #3183
@MaralS did you upgrade gatsby-cli?

First try this part from earlier https://github.com/gatsbyjs/gatsby/issues/3183#issuecomment-351535861

Then, if that still does not help, first delete any/all `./cache`, `/public`, and `node_modules` directories in your Gatsby project and then `yarn` or `npm i` to reinstall packages. The terminal command

[code]

Works in Bash Unix shell for this and is someth

[2018-03-08 18:32] KyleAMathews commented on #4435
Cool! Have fun!

[2018-03-08 18:32] #4435 closed

[2018-03-08 19:22] jonavila commented on #4433
Update:
This seems a little better...

[code]

[2018-03-08 19:22] #4433 closed

[2018-03-08 19:41] jonavila opened #4449 "Support pathPrefix in sitemap and feed plugins"
## Description

Support pathPrefix in sitemap and feed plugins

### Steps to reproduce

Part of the code that are hardcoded:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-feed/src/gatsby-ssr.js#L20
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sitemap/src/gatsby-ssr.js#L15

### Expected result

The plugins should respect the pathPrefix setting when r

[2018-03-08 19:55] drobinhood commented on #3581
I'm experiencing this issue, has anyone found a solution?

The build spits out the correct style.css, when built on netlify this file is 0 bytes.

[2018-03-08 20:26] Takeno commented on #3581
@drobinhood Unfortunately none solution from my side. I had to deploy via FTP and I had no time to debug the plugin.

[2018-03-08 20:28] KyleAMathews commented on #4415
Ah. A PR adding support for those would be great!

[2018-03-08 21:16] drobinhood commented on #3581
@Takeno was able to narrow down the issue I was having to an issue with an @font-face rule. Not sure if that helps you.

[2018-03-08 21:39] #4449 closed

[2018-03-08 21:51] KyleAMathews commented on #4148
@FengShangWuQi no one has written a PR for it so no. Would love it if you wanted to look into solving the issue! See our contributing guide https://www.gatsbyjs.org/docs/how-to-contribute/

[2018-03-08 21:52] KyleAMathews commented on #4439
Polyfills are required for Promise support https://www.gatsbyjs.org/docs/browser-support/#polyfills

We didn't use to require Promise support hence why this changed.

In v2 we'll add polyfills dynamically depending on what browsers you support + probably will be doing two builds, one focused on modern browsers and one on older browsers.

[2018-03-08 21:52] #4439 closed

[2018-03-08 21:55] KyleAMathews commented on #4445
We don't vet example sites for older browsers (just the core Gatsby code). We'd love a PR updating the example site though to work on older browsers.

[2018-03-08 21:55] #4445 closed

[2018-03-08 21:56] KyleAMathews commented on #4447
Fixed in #4444 (btw, lovely PR number there :-D)

[2018-03-08 21:56] #4447 closed

[2018-03-08 21:56] KyleAMathews commented on #4447
Thanks for finding the issue and making the fix!

[2018-03-08 22:00] KyleAMathews commented on #4446
The front page of https://gatsbygram.gatsbyjs.org/ does that https://github.com/gatsbyjs/gatsby/blob/master/examples/gatsbygram/src/pages/index.js

[2018-03-08 22:05] pravdomil opened #4451 "gatsby-cli: rename new command to init"
for example `npm` has `init` command

[2018-03-08 22:06] KyleAMathews commented on #4451
That'd definitely work as well but since we already went with `new` several years ago, there's not much reason to change now.

[2018-03-08 22:06] #4451 closed

[2018-03-08 22:09] awesomebob commented on #4446
Looks like I was basically on the right track with using state to limit the number of items shown. Thanks!

[2018-03-08 22:09] #4446 closed

[2018-03-08 22:14] pravdomil commented on #4451
or make an alias

[2018-03-08 22:15] KyleAMathews commented on #4451
There's plenty of diversity in the verb used for this sort of thing, "init", "new", create", etc. If people want to make their own aliases, that'd be great.

[2018-03-08 22:20] pieh commented on #4440
PR merged, so I'll close this. Thanks!

[2018-03-08 22:20] #4440 closed

[2018-03-08 22:21] KyleAMathews commented on #4287
Hey everyone! Super excited to be doing this tomorrow. Here's the high-level agenda.

## 10-12ish presentations

Kyle Mathews — 10-10:30 State of Gatsby Core
Eric Vicenti — 10:35-10:50 — discussing his experimental React web/native framework
Shannon Soper — 11-11:15 — State of Gatsby Docs
Jason Quense — 11:20-11:35 — TBD
Mike Allanson — 11:40-11:55 TBD

## 12-1:30 Lunch — pizza from the ever amazi

[2018-03-08 22:30] lettertwo opened #4452 "[v2] gatsby-browser.js errors at runtime: `exports is not defined`"
## Description

When a `gatsby-browser.js` file is loaded at runtime, it can throw an error under the right build circumstances. As far as I can tell, the circumstances seem to be:

- [@babel/preset-env] is configured not to transpile modules (`modules: false`)
- [@babel/plugin-transform-runtime] is being used
- `gatsby-browser.js` contains some code that gets transformed by the runtime transform

[2018-03-08 22:34] fk commented on #4411
#4436 hopefully addresses the most crucial of the issues you reported @LeKoArts: "Load more" and the Algolia credits show up on mobile, and the Mobile Safari overscroll issue is fixed.

In regards to `@andrew-codes/gatsby-plugin-elasticlunr-search` I don't think there's much we can/_should_ do—`@andrew-codes` simply is part of the package name: https://www.npmjs.com/package/@andrew-codes/gatsby-pl

[2018-03-08 22:37] #4411 closed

[2018-03-08 22:42] lettertwo commented on #4452
Further findings:

- Using es6 import (`import React from 'react'`) will also cause the runtime error
- Using es6 export (`export const replaceComponentRender = ...`) causes Gatsby not to be able to find the API hook.

I point these out because i *think* the issue is that the module is compiled as (or in the above two cases, it is authored as) a mix of CJS and ES6, which is confusing webpack.

[2018-03-08 22:48] KyleAMathews commented on #4452
Yeah, webpack 3+ won't accept modules with mixed CJS and ES6.

So `const React = require("react")` is required right now unless we add support for es6 exports to gatsby-browser.js

[2018-03-08 23:21] KyleAMathews commented on #4394
Community plugins missing the "gatsby-plugin" keyword so not currently showing up in the search. Each one should have a PR adding either `gatsby-plugin`, `gatsby-component`, or `gatsby-library` as a keyword https://github.com/alampros/gatsby-plugin-accessibilityjs/pull/1

Please check them off when you've made a PR!

* [ ] https://github.com/alampros/gatsby-plugin-accessibilityjs
* [ ] https://git

[2018-03-08 23:35] cortopy opened #4454 "Avoid dangerouslySetInnerHTML"
Having read some source code and a few starters, I can gather that it is accepted as common practice to pass raw html to the layout component when calling `createPage`.

However, this means using `dangerouslySetInnerHTML` in the layout component (e.g.: consuming the html field in a remark node). I would like to develop an alternative to this by using some kind of string-to-react-elements parser in

[2018-03-09 00:07] calcsam opened #4455 "Lower friction around gatsby new"
The [current recommended way](https://www.gatsbyjs.org/docs/gatsby-starters/) of installing starters is:

`gatsby new [SITE_DIRECTORY] [URL_OF_STARTER_GITHUB_REPO]`

eg

`gatsby new blog https://github.com/gatsbyjs/gatsby-starter-blog`

There are several potential avenues for reducing friction here:

* `gatsby new` could open an interactive prompt with a curated list of 10-20 high-quality starters

[2018-03-09 02:50] KyleAMathews commented on #4394
cc-ing repo owners if you want to fix things yourselves :-D @alampros @crgeary @julien1619 @didierfranc @marcobiedermann @dannywils @angeloocana @rongierlach @jlengstorf @kevzettler @Rulikkk @jcreamer898 @pixelstew @Jedidiah @angeloashmore @G100g @haysclark

[2018-03-09 02:54] KyleAMathews commented on #4454
You should generally only pass into context IDs or other arguments for the component's GraphQL query.

In the component query, you query there for the HTML. You could try running `html-to-react` in the component.

Also, passing anything other than data to context also causes trouble as you found out :-)

[2018-03-09 02:54] #4454 closed

[2018-03-09 02:55] KyleAMathews commented on #4454
If you haven't gone through this part of the tutorial, that might be useful https://www.gatsbyjs.org/tutorial/part-four/#programmatically-creating-pages-from-data

[2018-03-09 02:56] KyleAMathews commented on #4395
Yeah, we don't support multiple routers so closing this. Thanks @pieh and @m-allanson for jumping in to help!

[2018-03-09 02:56] #4395 closed

[2018-03-09 02:58] #4401 closed

[2018-03-09 03:04] KyleAMathews commented on #3870
`babel.parse` sounds great! We could pass in our default babel config as well I assume if the user doesn't have a babelrc?

[2018-03-09 03:08] loganfsmyth commented on #3870
Yeah I think you'd want to. I guess up to you how that might fit in if there are Gatsby plugins enabling other syntax plugins though, since I don't know how easy it would be to trigger your `modifyBabelrc` handler in those other places you were using Babylon.

[2018-03-09 03:09] tsriram commented on #4455
I like the idea of prompting the user to select a starter. I guess showing the official starters in the list would be good start.

https://github.com/terkelg/prompts could be a nice fit for this!

[2018-03-09 04:19] jcreamer898 commented on #4394
Thanks for the heads up!

[2018-03-09 05:48] awesomebob opened #4457 "Styles missing from build when using gatsby-plugin-sass with CSS modules"
I can try a git bisect in the morning, was just wondering if someone already knows what's going on:

After updating Gatsby with `yarn upgrade` from 1.9.219 to 1.9.231, I'm noticing that my CSS styling is a bit wonky after a build with `yarn build`. Notably, I don't see any problems with `yarn develop`.

The primary thing I'm missing is this rule, although I'm not sure where it came from originally

[2018-03-09 06:22] mtabasco commented on #4442
Same behaviour. See the images of develop and build versions. Doesnt load CSS, JS and links fail. Thanks
![develop](https://user-images.githubusercontent.com/24628682/37193504-8845ee94-236a-11e8-92b6-6eeffeda1dbd.png)
![build](https://user-images.githubusercontent.com/24628682/37193514-94bafe4e-236a-11e8-973c-e1bef774fdf6.png)

[2018-03-09 06:34] KyleAMathews commented on #4442
You have a React error — `validateDOMNesting` — it's not a Gatsby error

[2018-03-09 06:54] #2187 closed

[2018-03-09 07:13] vojtechruz opened #4458 "Pagination with GatsbyImageSharp"
I was able to implement pagination in gatsby-node.js by:
1. querying all posts
2. chunking them
3. creating a page for every chunk

---
However, the problem was when passing data to each page component. I figured I could do it two ways:
1. Pass all the post information since I already have it anyway
2. Pass just pages IDs and query them in the component

---
Option 1 was working well until I wante

[2018-03-09 07:26] vojtechruz opened #4459 "gatsby-transformer-remark not transforming excerpts"
I am using gatsby-transformer-remark with the following configuraton:
[code]
According to this post https://using-remark.gatsbyjs.org/excerpts/ I am querying excerpts from my articles like this:
[code]
My article in markdown uses a separater defined in config above:
[code]

---

However, the excerpt I am getting is plain text and not transformed from markdown:

![clipboard02](https://user-images.g

[2018-03-09 08:32] crgeary commented on #4394
Thanks! Mine `gatsby-plugin-bugherd` has been updated.

[2018-03-09 08:45] Jaikant commented on #3680
@KyleAMathews not sure how to use aliases in my case, as aliases are pre-defined.
In my case the number of queries is the length of an array in "context". I wanted to run a query per array item.

[2018-03-09 08:46] MaralS commented on #3183
@rdela I literally tried everything. I think It's due to of the number of package, I want to understand whick package causes this issue.

I will clone again the gatsby starter default and install step by step all the packages and test. I will notice you when I'll find out !

It's frustrating because on Mac OS I have no issues...but I'm essentially on Windows so...that's a big problem :/

[2018-03-09 09:32] MarcCoet opened #4460 "createRemoteFileNode should parse out the query string from url"
## Description
When using `createRemoteFileNode` to fetch images and there are query parameters in the url, the file gets saved with a wrong extension and media type.
For example: to access Firebase assets one will use an url such as https://firebasestorage.googleapis.com/v0/b/[bucket name]/o/**image.png**?alt=media&token=[some token]
### Steps to reproduce

[code]

### Expected result

One should

[2018-03-09 09:40] pieh commented on #4460
You can check https://github.com/gatsbyjs/gatsby/pull/2985 - both code and comments - I had similar problem, but went with different approach so I "workarounded" this issue and ultimately didn't fix this.

[2018-03-09 09:59] tomoakley commented on #4279
@dagingaa this worked, thanks. I think I would have done that myself eventually, but wanted to ensure it wasn't solvable in a better way, and also log it with the Gatsby team. @m-allanson can you decide whether to close this issue or keep it open to try and fix the issue with gatsby-module-loader? Thanks.

[2018-03-09 10:12] kepi0809 opened #4461 "acf gallery type"
Hi!

First of all thanks for you hard work, this is really awesome! 👍

I have encountered a bug/problem... I want to query with graphql an acf custom field gallery from a custom post type but the query contains only a boolean and no img sources.

On wp side it must be good, because in json I can find the attributes of each images  so it must be something wrong when gatsby fetches the data probably

[2018-03-09 10:16] MarcCoet commented on #4460
Thanks @pieh I hadn't catch that PR.

[2018-03-09 10:16] MaralS commented on #3183
@rdela I tried to clone again the gatsby starter repo and run the command yarn develop but I still have the same error

[2018-03-09 10:31] 0xsven commented on #4401
@pieh @KyleAMathews
Is this change already available? I updated my dependencies and I am still seeing the issue.

My test project: https://github.com/0xsven/test-gatsby-contentful

[2018-03-09 10:31] pieh commented on #4461
Hi @kepi0809 - this usually happens because wordpress return `false` instead of empty array or null in case there are no data for some posts (you propably could check if that's the case by manually examining wordpress REST endpoint - something like `http://your-url/wp-json/wp/v2/name-of-custom-type`) and this make gatsby confused because field is once array and once boolean.

If this is the case -

[2018-03-09 10:58] chrisk2020 commented on #4457
Possibly related #4418

I'm noticing that my styles from css modules are not being inserted on build. (This is the case on netlify, but also is if I run build and then serve the public folder locally - which would indicate it's perhaps not a netlify specific issue in ref to: #4418) Develop runs and compiles styles fine.

After upgrading two warings appear:
[code]

[2018-03-09 11:01] pieh commented on #4401
@0xsven  This change is published in 1.3.43 . I can no longer reproduce it, so maybe your issue is different? Do you get same error?

[2018-03-09 12:52] #2661 closed

[2018-03-09 13:04] tsriram commented on #4357
Not a complete solution, but I got rid of the TS error (in VS Code) with this in `tsconfig.json`:

[code]
Though gatsby/webpack still throws an error that the dependency is not found when I import a module using path defined in `tsconfig.json`. Not sure how to get this working!

[2018-03-09 14:58] awesomebob commented on #4457
Also noting here that clearing the `.cache` directory did not resolve the problem.

[2018-03-09 15:16] 0xsven commented on #4401
@pieh Yes I still have it. My dependencies:

[code]

[2018-03-09 15:42] Jaikant commented on #4287
Whats the live stream url?

[2018-03-09 15:54] KyleAMathews commented on #4287
We're starting in ~2 hours! Live stream URL is https://www.youtube.com/watch?v=oScnyIHRtAE

[2018-03-09 16:18] KyleAMathews commented on #4457
/cc @erquhart

[2018-03-09 16:27] awesomebob commented on #4457
Looking through the recent releases and tags, I don't see when `gatsby-plugin-sass` was released as 1.0.19 or 1.0.20, the last one I found was 1.0.18 on February 28th: `c6ef251`.

[2018-03-09 16:36] awesomebob commented on #4457
Can confirm that I don't have CSS issues if I lock down `gatsby-plugin-sass` to `1.0.19`

[2018-03-09 16:50] Jaikant opened #4463 "Adding gatsby-plugin-lodash breaks emotion-js"
I noticed that, if I add the `gatsby-plugin-lodash` to my `gatsby-config`, it breaks the css-in-js emotion-js code. I get an error on the browser console, asking me to setup `babel-plugin-emotion`.

For now, I can do without lodash, but logging the issue as it seems a real one.

[code]

[2018-03-09 17:26] awesomebob opened #4464 "Question: does `gatsby-source-filesystem` not cache downloaded remote files?"
I'm still digging into why my site with `gatsby-source-wordpress` is taking so long to build. (#4293)

For context: I have a site with about 1,000 posts and about 2,000 (large) images.
My builds are currently taking 20-30 minutes to finish. If I skip downloading images, it takes 2.

Looking at [create-remote-file-node](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesyste

[2018-03-09 18:11] erquhart commented on #4457
Taking a look now.

[2018-03-09 18:13] ZLevine commented on #4317
This is still invalid -- per the [W3 HTML5 img tag spec](https://dev.w3.org/html5/spec-preview/dimension-attributes.html#attr-dim-width), the `width` and `height` attributes:

An empty `width` and `height` attribute will still fail validation. Better than before, but not truly resolved. :)

[2018-03-09 19:23] smakosh opened #4465 "Instant native app of your gatsby site"
## Description

​how about a plugin to turn your static gatsby site to a native app﻿ (Ios & android).

[2018-03-09 19:23] awesomebob commented on #4457
One thing that could be relevant is that I have removed `gatsby-plugin-postcss-sass` as per #2328 ([comment](https://github.com/gatsbyjs/gatsby/issues/2328#issuecomment-343711735))

I could work on a minimal repo to reproduce.

[2018-03-09 19:26] Jaikant commented on #4201
Yes publii is pretty nice. I have used it and liked the simple way to create sites. Gatsby is much more powerful and to realize such a power using a desktop app could take some effort. Possibly something simpler version to start with.

[2018-03-09 19:39] erquhart commented on #4457
If you can put a repro together I'll work on a fix.

[2018-03-09 20:47] awesomebob commented on #4457
@erquhart

https://github.com/awesomebob/gatsby-i4457

I found that the `box-sizing` rule that I'm missing is from the default Gatsby `/src/layouts/index.css`, which seems to have no effect once I have imported an `scss` file of my own.

Downgrading `gatsby-plugin-sass` to `1.0.19` appeared to solve the issue in my main repo, but I have not been able to reproduce this "fix" in the minimal repo.

[2018-03-09 21:18] rongierlach commented on #4394
The deed is done -- `gatsby-plugin-purify-css`

[2018-03-10 06:03] ajayns commented on #4206
@pieh @KyleAMathews The issue is fixed and the example is working fine now but I still couldn't fully understand the working. It uses a drupal json api for getting data and creating nodes yeah?

But when making a GET request to `https://live-contentacms.pantheonsite.io/jsonapi` seems to give response as HTML only even with headers set to `Accept: application/json`:

![image](https://user-images.gi

[2018-03-10 07:36] hprobotic commented on #3358
Hi @iwarner, have you got that fixed yet?

[2018-03-10 09:17] YoavRheims commented on #4201
@Jaikant - Agree.

What if you got to work with some builders such as the lot of Webflow or Elegant's Divi on WordPress?

[2018-03-10 09:47] iwarner commented on #3358
@hprobotic No fix as yet, still a major issue for me

I have tried so many combinations, docs on webpack 1 for this are few and far between.

[code]

[code]

[2018-03-10 10:11] hprobotic commented on #3358
The other solution is you can link current theme/config file to node_module by `postinstall` like this
`"postinstall": "ln -s ../../src/semantic-ui/theme.config node_modules/semantic-ui-less/theme.config"`
Btw, it's only work with less version 2.7.2

[2018-03-10 10:13] iwarner commented on #3358
Hiya I will give everything a shot at this point

It could be that my solutions above are limited due to package versions, with Gatsby so behind in Webpack its troublesome to configure

[2018-03-10 10:41] LeKoArts commented on #4341
Here are some ideas:

- Installing the Gatsby CLI and starting a new project
- Installing a plugin (Also: Are the instructions on these plugins clear enough and consistent)
- Creating an own plugin
- Contribute to the project (Adding README etc.)
- See what has changed/migrating (We still lack a proper changelog)

[2018-03-10 10:59] LeKoArts commented on #4392
There are a ton of "inspiration" websites out there, one of them would be [cssdesignawards](https://www.cssdesignawards.com/wotd-award-winners).

I'd like the idea to search through the starters/showcase with the help of tags, e.g. looking for examples on how to used styled-components. Or the site category Shannon mentioned.

Design is subjective to some point but I also find it hard to find the r

[2018-03-10 11:09] LeKoArts commented on #4455
imo that's just too much and overwhelming. Also you can't really see what technologies each and every starter uses. So you might get a starter with styled-components but you actually just wanted css-modules. I think it should be limited to max. 4 starters which are not opinionated with any other than plain css, markdown etc.

[2018-03-10 11:56] Rulikkk commented on #4394
`gatsby-remark-emoji` updated with keywords. Thanks.

[2018-03-10 11:57] iwarner commented on #3358
I added the -f to be sure
ln -sf ../../src/semantic-ui/theme.config ./node_modules/semantic-ui-less/theme.config

[2018-03-10 11:57] #3358 closed

[2018-03-10 16:40] KyleAMathews commented on #4206
The API returns HTML unless you request with the header `Accept: application/json`.

[2018-03-10 16:44] KyleAMathews commented on #4458
The query should us `eq` not `in` which is just for arrays. Try out queries in GraphiQL.

The error at the end is saying `$foo` is unknown. That's because you define arguments at the top like `query IndexQuery($foo: String!) {`

[2018-03-10 16:44] #4458 closed

[2018-03-10 16:47] pieh commented on #4206
@ajayns I had to change endpoint from `/jsonapi` (default endpoint option in plugin) to `api` ( https://github.com/gatsbyjs/gatsby/pull/4391/files#diff-2368fbba3f5dea22b07966f0faa16f88R8 ).

[2018-03-10 16:50] KyleAMathews commented on #3680
Yeah, we support the `in` operator for exact matches against an array of items but not regexes. That'd be a cool feature to add.

[2018-03-10 16:53] KyleAMathews commented on #4460
What's the problem? The file is being saved as .png which is what you want right?

[2018-03-10 18:07] ajayns commented on #4206
@pieh @KyleAMathews Thanks a bunch! I got it!

[2018-03-10 18:37] vojtechruz commented on #4458
I am sorry, I know you have a lot of issues, but if you carefully read my post, I actually am using IN and need to use it, because I need to return only posts where their slug is in a specified array. And also, I am defining the argument in my query. Thank you.

`query IndexQuery($foo: [String]) {`

[2018-03-10 19:10] KyleAMathews commented on #4458
Ah sorry about misreading that.

I'm not sure then. Easiest way for me or anyone else to help you then would be to build a very simple reproduction site of your problem and share a link to that here so we can look at your code.

[2018-03-10 19:42] kepi0809 commented on #4461
Yeas thank you, one of the instances had indeed empty gallery. 👍

[2018-03-10 20:59] vojtechruz commented on #4458
Thank you for your help, appreciate that. My code is here:

https://github.com/vojtechruz/vojtechruzicka-blog/tree/pagination-my

The file with the graphql query is here:

https://github.com/vojtechruz/vojtechruzicka-blog/blob/pagination-my/src/templates/paginated-posts.js

[code]

[2018-03-10 22:44] borekb commented on #3182
Agree that there should be a quick example of how to add jQuery and Bootstrap from CDN if one doesn't want to convert the current site to something like React-Bootstrap or reactstrap. While these options might be more "proper", there is nothing that wrong with doing it the old way and I'm not sure how to best do it (currently, I use an ugly workaround with `dangerouslySetInnerHTML`, too embarrasse

[2018-03-11 06:16] EMPIR commented on #2150
I'm experiencing the issue from the downloaded repo files

[code]

node version 9.8.0
yarn version 1.5.1

[2018-03-11 06:16] santoshgistto commented on #4465
@smakosh  https://github.com/slorber/gatsby-plugin-react-native-web please have a look here

[2018-03-11 07:15] vinaypuppal opened #4470 "[gatsby-plugin-preact]: location and history is undefined in layout component"
## Description

I am trying to use [gatsby-plugin-preact](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-preact) plugin but when running `gatsby build` it's failing at `Building static HTML for pages` part

### Steps to reproduce

1. Use gatsby default starter `gatsby new gatsby-example-site`
1. Install `gatsby-plugin-preact` and add it to list of plugins in `gatsby-config.j

[2018-03-11 09:34] vojtechruz commented on #4458
I was able to find a workaround using graphql-skip-limit, the issue can be kept closed. Thanks.

[2018-03-11 10:38] smakosh commented on #4465
That's not what I meant

[2018-03-11 11:09] pieh commented on #4401
@0xsven your issue is different than the one reported here even if it manifest with similar error. I did reproduce problem with Your config. Which example project did you use for contentful? Tried to reproduce it with example projects on contentful, but all 4 of them (example app, product catalogue, photo gallery and blog) works fine out of the box.

It would be good if you would create separate i

[2018-03-11 11:11] ajayns opened #4474 "[plugins] Handling remote images in a source-plugin"
I've used the transformer-sharp plugin to be able to call and use multiple sizes of the same image in a project. But what's the best method to be followed in the case that multiple sizes are available from the source itself?

For instance, when the source has a 400x400 image we can use transformer-sharp to call and get a 200x200 image. But what's the case when we already have both 400x400 and 200x

[2018-03-11 11:48] hihellosm opened #4475 "gatsby-plugin-styled-components 2.0.1 and styled-components 3.2.1"
## Description

Just a heads up `gatsby-plugin-styled-components 2.0.1` doesn't play well with the latest `styled-components 3.2.1` in production. In development it's working fine however when building and deploying (to Netlify) it wasn't matching things up. I could see css class definitions and html class attributes but for some reason they weren't being applied.

The current fix for me was to do

[2018-03-11 13:03] tuyakhov commented on #2328
You can fix this issue by immediately invoking the module function like this `require('autoprefixer')()`.
I recommend checking https://github.com/gatsbyjs/gatsby-starter-blog/issues/30#issuecomment-372113311

[2018-03-11 13:08] tuyakhov commented on #3093
I had the similar issue and it was caused by passing the wrong parameters to `postCssPlugins` attribute in the configuration file. This might be helpful https://github.com/gatsbyjs/gatsby-starter-blog/issues/30

[2018-03-11 14:33] giacomoalonzi commented on #2492
same problem here. No localFile found
[code]

[2018-03-11 15:43] KyleAMathews commented on #4474
Grab the largest possible, hopefully the original. You can resize down but not up.

[2018-03-11 15:43] #4474 closed

[2018-03-11 15:52] mattpham commented on #4401
Think I nailed down the problem with “internal of undefined” still occuring in some cases.

The reason it is happening for me is because there is an invalid entity reference. So for example, You explicitly link entity A to entity B creating an implicit link from B. Then you go back and delete entity A, but it doesn’t delete the implicit link.

The generate functions in normalize are suppose to be

[2018-03-11 16:18] tsriram commented on #4475
I tried this with Gatsby's [using-styled-components](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-styled-components) using `gatsby-plugin-styled-components 2.0.1` and `styled-components 3.2.1` and the build seems to work fine. Is there a sample repo where we can check this issue?

[2018-03-11 18:14] RickyRomero opened #4476 "Gatsby isn't picking up my file changes in the tutorial example"
## Description

In part one of the introduction to Gatsby, the page says the following:

I'm unable to get this behavior to work on my system.

I'm using Textmate as my editor, but TextEdit produces the same behavior. Running `export CHOKIDAR_USEPOLLING=1` beforehand doesn't fix the problem. I installed `gatsby-cli` globally using a separate admin user account - I don't use an admin account as my

[2018-03-11 18:25] linmic opened #4477 "Styles missing on production for SASS + CSS Module with gatsby-plugin-sass"
## Description

SASS + CSS Module cause issues on production build, part of styles are missing to be exact.

### Steps to reproduce

1. Use `gatsby new test` to create a new project.
2. Add `gatsby-plugin-sass` and add it to `gatsby-config.js`.
3. Create `styles.module.scss` under `src/components/Header` with a simple `.red { color: red; }` within.
4. In `src/components/Header/index.js`, `import s

[2018-03-11 18:36] MarcCoet commented on #4460
Humm... no it is not. As I mentioned the name of the file being saved is something like
`someHash.png?alt=media&token=theToken`.
This is the correct file but it is not processed by Sharp as the extension is not .png and the media type is not `image/png`...

[2018-03-11 18:45] KyleAMathews commented on #4460
What is the extension and mediaType?

[2018-03-11 18:45] KyleAMathews commented on #4460
In the File node

[2018-03-11 19:07] MarcCoet commented on #4460
`application/octet-stream`
It is the same issue as pieh mentionned above: #2985
To be honest I probably won't be using Firebase in the end so this is not a priority for me.
I still think other people will end up with the same issue at some point though.

[2018-03-11 19:59] davidbarratt opened #4478 "Make it easier to use gatsby develop behind a reverse-proxy"
## Description

It's a little difficult to setup `gatsby develop` in a docker container behind a reverse proxy. I have an nginx reverse proxy that splits the requests between the UI (gatsby) and an API. For development I want the same setup. I was able to figure it out, but it was not simple.

### Steps to reproduce

Instruct `gatsby develop` to use the open host `0.0.0.0` and port `80`
[code]

In

[2018-03-12 01:57] mattpham opened #4479 "[gatsby-source-contentful] TypeError: Cannot read property 'internal' of null"
## Description

Unresolved issue from @0xsven that appeared in #4401 but is not fixed by #4429.

The issue appears to be related to an entity with multi-relation field containing only missing entities. This occurs when a referenced entity is deleted by the user on Contentful.

![image](https://user-images.githubusercontent.com/7320379/37261523-61f9ff22-255a-11e8-8301-70efe79bd076.png)

As such, th

[2018-03-12 03:17] i8ramin commented on #3344
Hey guys. Any updates on this? Currently a blocker/show-stopper for us to use Gatsby + Contentful and just wanted to know if there was any active development or if we should consider other options. Thank you.

[2018-03-12 04:09] tremby commented on #4479
I have this issue. Do you know of any way I can tidy up the broken entities manually in Contentful in the mean time?

[2018-03-12 04:32] udtrokia opened #4482 "An spelling mistake at gatsby.org"
Spelling 'GraphQL' as 'GraphiQL' [here](https://www.gatsbyjs.org/tutorial/part-four/#introducing-graphiql)

[2018-03-12 04:32] tremby commented on #4479
This tool did the trick for me: https://github.com/contentful/contentful-link-cleaner

[2018-03-12 04:36] linmic commented on #4477
Replacing `gatsby-plugin-sass` with `gatsby-plugin-postcss-sass` seems works.

[2018-03-12 04:43] #4482 closed

[2018-03-12 05:17] tremby commented on #3418
In the mean time I can query for the URL to the SVG and use that as is, but is there a way to have Gatsby fetch that file so it'll be bundled with my app?

[2018-03-12 09:32] chrisk2020 commented on #4477
There is an issue with a recent update of gatsby-plugin-sass the plugin author is looking into it A temporary solution is to specify the version of gatsby-plugin-sass #4457

[2018-03-12 11:10] CMCDragonkai commented on #3348
@dustinhorton That doesn't seem to work for CSS `url(...)`. It still requires relative imports. Is there a way to make the CSS `url(...)` work from a given directory?

[2018-03-12 11:48] bernardinoalvarez commented on #4103
Not sure if this will help any:

I ran into the same error today while building a site with @LeKoArts' [Gatsby Starter: Minimal Blog](https://github.com/LeKoArts/gatsby-starter-minimal-blog).

![screen shot 2018-03-11 at 11 51 53 am](https://user-images.githubusercontent.com/36980855/37279680-b140847c-25a8-11e8-8579-b0acee04cfd6.png)

<img width="1068" alt="screen shot 2018-03-12 at 1 28 28 am" sr

[2018-03-12 12:55] vojtechruz commented on #4459
This only happens when using:
excerpt_separator

Otherwise, excerpt contains plain text with stripped markdown formatting.

[2018-03-12 13:08] vojtechruz commented on #4459
It is not so bad that you lose formatting such as bold or italics, but what's not nice is that escape slashes are preserved:
Eg:
How to make the most of the IntelliJ IDEA\'s view...

[2018-03-12 13:27] 0xsven commented on #4479
I have tried contentful-link-cleaner and it has found **16** broken links and **3** unresolved errors.
Contentful should maybe work on their example project.

After running contentful-link-cleaner my gatsby setup works fine again!

[2018-03-12 13:45] gnunua opened #4486 "Error: Command failed: npm install"
`node -v`
 v8.9.3
`gatsby -v`
 1.1.45

error Command failed: npm install
[code]

[2018-03-12 13:53] imarem opened #4488 "gatsby-source-wordpress YOAST SEO"
Hi everyone,

Is it possible to access the configuration parameters of YOAST SEO, like title or description, using gatsby-source-wordpress plugin?

Thanks in advance.

[2018-03-12 13:53] ajayns commented on #4302
@m-allanson This issue can be closed now yeah?

[2018-03-12 15:51] Abdelrahman146 opened #4489 "user registration and user profile"
Hello,
is their a way to let gatsby, have user registration. user can have a profile and edit it. and user can add new article or item to the website ?

I know gatsby is static site generator. but I'm wondering if I can use Gatsby as a solution for such web application..

thanks.

[2018-03-12 16:13] awesomebob commented on #4464
Also, it appears that `gatsby-source-wordpress` is downloading the entire WordPress media library on each build, which for me is 3.5GB and quite a lot of time. Is this necessary?

[2018-03-12 16:33] shannonbux commented on #4392
@gillkyle thanks for the additional perspective! and @LeKoArts thanks for the suggestions and can you explain more about this, like an example of what you mean?

[2018-03-12 16:41] shannonbux commented on #4341
@LeKoArts thanks for these ideas! Will report back after I do some testing.

[2018-03-12 16:44] gillkyle commented on #4392
Yeah, well said @LeKoArts.

I threw a handful of showcase websites I found in a Google doc (including CSSDesignAwards 👍): https://docs.google.com/document/d/1AiP-SR-gM9nAqw-9I4t9QSv9WISjztzbu7HnaF528uY/edit?usp=sharing

It seems like in almost every case there's a landscape view of the site above the fold in some sort of card format in these showcases. However, I think a lot of these examples are

[2018-03-12 16:56] LeKoArts commented on #4392
[gatsby-plugin-sharp](https://image-processing.gatsbyjs.org/) would be a positive example. Its documentation shows extensive options but nearly everyone is covered in the example site. A bad example site would only showcase the resize ("easy things") but leave out the more advanced options or more advanced ways to connect it with other things in the ecosystem.

I have to comment back: Well said!
R

[2018-03-12 17:11] shannonbux commented on #4201
@YoavRheims I really like what I've seen of Divi and think it would be great to build with. I'm not a developer (well, now I know html and CSS and starting JS...), and I've built stuff on Wordpress,com, Squarespace, Wix, Weebly, maybe more I can't remember. Divi is WAY cooler than any of the things I've tried. I actually gave up on Squarespace, weirdly enough. I can't remember exactly why--somethi

[2018-03-12 17:48] pieh commented on #4464
Hey @awesomebob, would you like making PR to change that in `gatsby-source-filesystem`? `gatsby-transformer-sharp` will use images it produced in previous build if they are available, so it's mostly about downloading images

[2018-03-12 17:53] Yurickh opened #4491 "[gatsby-image] Art direction"
## Description

I needed a way to set up gatsby-image to work alongside _art direction_. That is, use different image sources for different display sizes.

Currently `gatsby-image` only renders an `img` element with some div wrappers with a beautiful srcset created from different resolutions from a given image.

My suggestion is to open up to receive more than one image and wrap it up in a `pictur

[2018-03-12 18:04] awesomebob commented on #4464
@pieh I would be willing to do that.

It looks like I just need to check if `filename` already exists with `existsSync` from `fs-extra`, which is what `gatsby-transformer-sharp` is already using.

[2018-03-12 18:23] dustinhorton commented on #3348
@CMCDragonkai Good question…I don't think I've run into that as any assets I've used I've been able to import into the component itself, but I'm bound to run into this too.

[2018-03-12 18:42] kkweon opened #4492 "gatsby-remark-prismjs does not highlight when gatsby build"
## Description

`gatsby-remark-prismjs` does not highlight when the site is built using `gatsby build`

![image](https://user-images.githubusercontent.com/2981167/37302496-edc011a2-25e8-11e8-9dbc-2afcf0de2592.png)

But, it works during the development that is (`gatsby develop`)
![image](https://user-images.githubusercontent.com/2981167/37302520-00b4d086-25e9-11e8-9193-6fab38f49574.png)

### Steps

[2018-03-12 19:20] pieh commented on #3344
@i8ramin There isn't active development yet, I plan to start it this week.

[2018-03-12 19:52] sheeldotme commented on #4475
I too am experiencing the issue running with the following dependencies:

gatsby: 1.9.206
gatsby-plugin-styled-components: 2.0.8
styled-components: 3.2.1

downgrading styled-components to 2.4.0 solves the issue for me too and is an acceptable fix in the short term.

[2018-03-12 21:09] erquhart commented on #4457
Opened #4495 to address.

[2018-03-12 21:15] tremby opened #4496 "Selector only present @nested is dropped from CSS module in build"
## Description

I'm making use of the [CSS nesting at-rule](https://tabatkins.github.io/specs/css-nesting/#at-nest), which I believe is provided to us by cssnext.

I noticed some things which were working in development were broken when I built my site, and I traced it to the at-rule.

When in a CSS module, classes which only appear under a `@nest` are dropped during the build.

### Steps to repro

[2018-03-12 21:28] jonavila commented on #1502
I tried creating a local plugin like gatsby-remark-contentful-images, but for some reason the plugin only gets called for Markdown nodes created from Files. I'm not sure why it doesn't work with MarkdownRemark nodes from Contentful Text nodes.

[2018-03-12 22:15] erquhart commented on #4492
Tracking a potential unrelated cause for this and other issues like it. Can you provide a reproduction repo? I cloned the repo that you used here and everything seems to be working.

[2018-03-12 22:20] kkweon commented on #4492
Hmm, I already wrote the reproduction step. Any idea why it doesn't work on my computer? I tried different browsers, but no luck.

[code]

![image](https://user-images.githubusercontent.com/2981167/37312587-db598870-2608-11e8-9646-3e5a416f3114.png)

[2018-03-12 23:05] tkjone opened #4498 "Update gatsby-remark-prismjs to support new prismjs languages"
## Description

There are new languages support by Prismjs.  However, because `gatsby-remark-prismjs` vendors prismjs lang support in `prism-language-dependencies.js`, the plugin is not able to pickup on the new languages.

### Steps to reproduce

Run a project with `gatsy-remark-prism` and try create a code block with the language type set to `clojure`.

### Expected result

The code block should

[2018-03-13 02:04] chadwatson commented on #3780
@m-allanson thanks for your help. Filing a new issue would just be a dupe of this one though, wouldn't it? I feel like it would be helpful to just keep it in this thread.

Here are my dependencies:
[code]
**gatsby-node.js**
[code]

**gatsby-config.js**
[code]

I always get this error when I run `gatsby build` using **gatsby@1.9.167** and above:
[code]

I always get this error when I run `gatsby bu

[2018-03-13 02:20] BlakeTurner commented on #2538
@KyleAMathews knowing the caching limitations of Webpack 1 in Gatsby 1, @charlesgiroux's solution is probably worth a mention in the docs. It cache busts every file in every build, but also allows the browser to cache the files on more than one load of the site or app. I think it's an ideal mix.

[2018-03-13 03:00] deltaskelta opened #4503 "frequent server crashes with "Cannot read propert 'children' of undefined""
## Description

Describe the issue or the enhancement that you want to see.

### Steps to reproduce

I don't have a large enough scope of the problem to get repro steps yet, will add them when and if I do.

Clear steps describing how to reproduce the issue.

### Expected result

No dev server crash

What should happen?

### Actual result

server crashed with trace

[code]

What happened.

### Envi

[2018-03-13 03:24] kkweon commented on #4492
I moved the import from JavaScript to SCSS @import. Now, it works.

Delete the following line.
[code]

Add the following line to main scss file
[code]

The problem seems the CSS file is not exported when running at production.
So, I suppose it's something to do with webpack loaders.

[2018-03-13 04:23] m-allanson commented on #4279
Thanks @dagingaa and @tomoakley! `gatsby-module-loader` shouldn't be causing problems like this.

However I can't run @tomoakley's repo as it needs credentials for Contentful. I'm going to close this for now, but please reopen if you can provide a repo that recreates the problem.

[2018-03-13 04:23] #4279 closed

[2018-03-13 04:43] rockmandash opened #4504 "WebpackError: cancelAnimationFrame is not defined"
WebpackError: cancelAnimationFrame is not defined
What can I do to manage this?
Thanks for helping.

[2018-03-13 04:54] KyleAMathews commented on #4314
Fixed in https://github.com/gatsbyjs/gatsby/pull/4500

[2018-03-13 04:54] #4314 closed

[2018-03-13 04:54] KyleAMathews commented on #4314
by @noelebrun

[2018-03-13 05:10] #4498 closed

[2018-03-13 05:13] #4457 closed

[2018-03-13 05:14] KyleAMathews commented on #4475
A site reproducing the problem would be helpful.

Also if someone could investigate what changed between Styled Components v2 and v3 and why that'd affect our plugin.

[2018-03-13 05:17] KyleAMathews commented on #4491
This would be excellent!

I'm totally open to adding this to gatsby-image. I wonder if it might be simpler in a separate component? I'm not sure — I haven't used art direction ideas on websites before — but it's not a bad thing to have more than one component.

BTW, do browsers really download images that have `display: none`? I thought they didn't.

[2018-03-13 08:00] pawsong opened #4507 "Dependency problem on gatsby-transformer-sharp + npm install"
## Description

`npm run build` failed.

### Steps to reproduce

On [this repository](https://github.com/AustinGreen/gatsby-starter-netlify-cms)

[code]

Throws

[code]

Error

### Expected result

It should not throw error.

### Actual result

It throws error.

### Environment

* Gatsby version (`npm list gatsby`): 1.9.215
* gatsby-cli version (`gatsby --version`): 1.1.45
* Node.js version: v8.9.

[2018-03-13 09:48] timbrandin commented on #1818
Same issue here. Getting regeneratorRuntime is not defined

[2018-03-13 10:04] mccrodp commented on #3853
Hey @deltaskelta, do you have an example of your solution? Would love to see if anything can be learned from it to push upstream to the community i18n plugin. Thanks.

[2018-03-13 10:23] deltaskelta commented on #3853
my whole project is in a messy state right now but I think I can lay out the basics...

1. No layout - because (if I remember correctly), the layout comes into play before paths or something else that was very important, which prevented me from giving it the proper messages objects...

2. Feed the proper `messages` and `locale` in the `gatsby-node` through context...

[code]
3. Now make a global l

[2018-03-13 10:26] greglobinski opened #4510 "gatsby-remark-images default settings turns off visibility of the 'blur up' effect"
## Description

If I use `gatsby-remark-images` with default settings as it is described in docs
[code]
The 'blur up' effect is invisible. It works but is invisible. It is like that because of the plugin's defaults
[code]
The default `backgroundColor` is set to `white` and because of that
```box-shadow: inset 0px 0px 0px 400px ${options.backgroundColor};```
is added to `img.gatsby-resp-image-image

[2018-03-13 11:53] ntnbst commented on #1846
Did anyone find the fix of this issue??

[2018-03-13 12:15] deltaskelta commented on #4503
I am going to close this for now as I had a rather large mistake in the constructor for Apollo Link that seemed to fix the problem when it was removed. (it should not be called with `new ApolloLink`).

I have not seen the error since I fixed that

[2018-03-13 12:24] Yurickh commented on #4491
AFAIK, they still do it yeah.
From what I've searched, it's not common behaviour to stop downloading images with `display: none`. [This site](https://www.quirksmode.org/css/displayimg.html) is a great way to check if your does.

It would probably be a fork, or something, since I loved the svg pre-render and the imagesharp api, and really wanted to have that added to the art direction as well.

[2018-03-13 12:50] dannywils commented on #4394
`gatsby-plugin-meta-redirect` has been updated

[2018-03-13 13:06] chmac commented on #1634
@gbouteiller True, that will get the `frontmatter` and allow one to filter by `sourceInstanceName`. The trouble is, you cannot **sort** by anything inside `frontmatter` using this approach. It seems like folks are talking about blog posts here, and they are typically sorted by date. The date is typically stored inside the `frontmatter`.

There is no way to do sort by something from `frontmatter` a

[2018-03-13 13:17] deltaskelta commented on #4503
oops, I may have closed this a bit too soon, the error is still there...

[2018-03-13 13:47] borekb opened #4512 "Don't share `public` folder between dev and build"
I've been working with Gatsby for the past few days and have already been bitten by the fact that the `/public` folder is shared between the dev server and the eventual build. Maybe as a workaround I could use something like `gatsby build --output-dir dist` as proposed in #1878 but I still think it's generally a bad idea to let dev server influence the build and vice versa (it happened to me).

[2018-03-13 13:50] awesomebob commented on #4464
Upon further reflection, I'm still going to run into problems even once #4493 is merged in.
Gatsby clears the `.cache` whenever a plugin is updated, and then `gatsby-source-wordpress` will try to download the entire media library again, sequentially, and that is taking longer than the 1 hour I have to work with in GitLab CI.

Should I try to parallelize that download, or what else can I do? I curr

[2018-03-13 14:12] erquhart commented on #4492
Alright - I believe this was addressed in #4495, it's released in gatsby-plugin-sass@1.0.21, please confirm and close if fixed.

[2018-03-13 15:00] pizza-r0b commented on #1818
try adding the following to gatsby-node.js

exports.modifyBabelrc = ({ babelrc }) => {
  babelrc.plugins.push('transform-regenerator');
  return babelrc;
};

exports.modifyWebpackConfig = ({ config, stage }) => {
  if (stage === 'build-javascript') {
    config._config.entry.app = ['babel-polyfill', config._config.entry.app];
  }
});

[2018-03-13 15:05] m-allanson commented on #4507
Thanks @pawsong, I can replicate this issue.

Some of Gatsby's plugins have moved to using peerDependencies (e.g. [`gatsby-plugin-styled-components`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-styled-components#breaking-changes-history)). @KyleAMathews should we do that for `gatsby-transformer-sharp` and `gatsby-plugin-sharp`?

[2018-03-13 15:08] timbrandin commented on #1818
I did this and it helped somewhat, but what really solved it was adding:

[code]
    "babel-plugin-transform-runtime": "^6.23.0",
    "babel-polyfill": "^6.26.0",
    "babel-runtime": "^6.26.0",
[code]

[2018-03-13 15:10] m-allanson opened #4514 "Consistently use `yarn` or `npm` across docs"
Across Gatsby's docs both `yarn` and `npm` are used interchangeably, which seems a bit confusing.  The docs should consistently mention either `yarn` _or_ `npm`. Or both?

[2018-03-13 15:11] m-allanson opened #4515 "Consistently use `yarn` or `npm`"
Across Gatsby's docs both `yarn` and `npm` are used interchangeably, which seems a bit confusing.  The docs should consistently mention either `yarn` _or_ `npm`. Or both?

[2018-03-13 15:11] erquhart commented on #4477
Fixed in #4495.

[2018-03-13 15:11] #4477 closed

[2018-03-13 15:11] m-allanson commented on #4515
My computer burped. See #4514.

[2018-03-13 15:11] #4515 closed

[2018-03-13 15:26] erquhart opened #4516 "Supporting plugins that extract stylesheets for a separate entry point"
## Description

Plugins that modify Webpack CSS and CSS preprocessor file loading may overwrite styles output by Gatsby's default CSS and CSS module loaders for production builds.

## Why this is happening

The Netlify CMS plugin is the first official plugin to utilize `extract-text-webpack-plugin` for it's own entry point (#3611). Prior to this, Gatsby used a **single** instance of the extract pl

[2018-03-13 16:28] KyleAMathews commented on #4510
Huh, what happened to them — it looks like the blurring isn't even showing up — https://using-remark.gatsbyjs.org/hello-world-kitchen-sink/

Also the placeholder effect isn't working anymore :-(

It seems something else is broken backgroundColor...

[2018-03-13 16:40] KyleAMathews commented on #4464
Yeah — files aren't redownloaded — it's the clearing of the cache that's the problem.

Perhaps we should make the automatic cache clearing less aggressive? Just remove the redux-state.json data?

[2018-03-13 16:42] rockmandash opened #4518 "Ship graphql playground as default"
Ship https://github.com/graphcool/graphql-playground as default please

[2018-03-13 16:43] KyleAMathews commented on #4512
What problems specifically did this cause you?

[2018-03-13 16:45] KyleAMathews commented on #4507
Yeah that'd be great. I think @jlengstorf did a bunch of research on this recently.

[2018-03-13 16:46] KyleAMathews commented on #4514
I always use NPM — but yeah, we should standardize that and fix anyone's any uses of Yarn.

[2018-03-13 16:47] fk commented on #4518
Replacing https://github.com/graphql/graphiql?

[2018-03-13 16:51] erquhart commented on #4516
Update: working on a standalone config helper along the lines of the CSS modules config.

[2018-03-13 16:56] rockmandash commented on #4518
@fk Yes, as graphql-playground is built upon graphiql.

[2018-03-13 17:01] borekb commented on #4512
It was around loading external `<script>`s (think jQuery) which is generally tricky in React and may behave differently between dev server and the generated site. In my specific case, the scripts were not loaded on the dev server, then I ran the build in a separate console window and suddenly, the dev started working.

Maybe riskier is the other way around: if I'm not aware of this shared folder d

[2018-03-13 17:02] pieh commented on #4518
This is duplicate of https://github.com/gatsbyjs/gatsby/issues/4231 . Check there to see how you can currently use `graphql-playground`

[2018-03-13 17:02] #4518 closed

[2018-03-13 17:40] dardub commented on #4201
@KyleAMathews Apologies if my post diverted the topic off the initial intention. I was going off what I feel are the needs to be able to make Gatsby useful to a wider audience.

I'm not very clear on what the long-term goals are for Gatsby. I think if we had a better understanding of that, then we could be more focused on what features we want to deliver.

Selfishly I would like Gatsby to be an op

[2018-03-13 17:46] fk commented on #4394
I added a PR #4472 'Replace main navigation item "Community" with "Plugins"' over the weekend, preview here: https://deploy-preview-4472--gatsbyjs.netlify.com/

[2018-03-13 18:02] serby commented on #1847
@Jaikant Your issue looks like in the browser app you've not included the babel-polyfill or regenerator-runtime

Try adding the below to `gatsby-browser.js`

[code]

https://www.gatsbyjs.org/docs/browser-apis/

[2018-03-13 18:04] serby commented on #1818
@timbrandin Would this have fixed your problem? https://github.com/gatsbyjs/gatsby/issues/1847#issuecomment-372761930

[2018-03-13 18:07] m-allanson commented on #4431
Thanks for the reproduction steps @shannonbux!

It looks like this is caused by focussing a search input that already has content, and then pressing enter. This 'submits' the form, but we're just ignoring the submit.

A workaround is to add a few lines to [`search-form.js`](https://github.com/gatsbyjs/gatsby/blob/efa8fe92cd7525c950f10fc27c632ef6dbd8ff8a/www/src/components/search-form.js#L295):

[c

[2018-03-13 18:07] greglobinski commented on #4510
The examples in the sink don't work because both are remote. I did a test and when I upload the logo to my own website (localhost) the plugin works as I described above.

[2018-03-13 18:16] greglobinski commented on #4510
For me the plugin with additional `option` in `gatsby-config.js`
```backgroundColor: "transparent"```
and with local files works as it should.

[2018-03-13 18:19] Takeno commented on #3581
@drobinhood no way. We're also tried with a one-rule css. `public/style.css` is generated but it is empty.

[2018-03-13 18:25] kkweon commented on #4492
@erquhart Thank you. I confirmed this issue is solved now.

[2018-03-13 18:25] #4492 closed

[2018-03-13 18:27] Takeno commented on #3581
Probably fixed in #4495. See #4477

[2018-03-13 18:34] pieh commented on #4464
That's why I was so confused as I thought this was already working but reading code didn't make it obvious.

I'd be up for exploring less aggressive cache invalidation as this might be quick win for cases like this.
 Should we also delete: (?)
- `cache/db.json` persistent key-value store (for `cache` object passed to plugins)
-  `json` directory (results of queries)
- `layouts` directory (layout c

[2018-03-13 19:19] timbrandin commented on #1818
Noop, did not have to do with Babel-polyfon at all

[2018-03-13 19:27] all9lives commented on #4488
@imarem I've been able to get the yoast params to load in pretty nicely by adding in the [WP API Yoast SEO Plugin](https://wordpress.org/plugins/wp-api-yoast-meta/) (It's pretty old I know) to my WP Install. This plugin will add a `yoast:` object to the WP Rest API, and then the gatsby source plugin will automatically make it available with GraphQL. It's pretty easy to then add those values into y

[2018-03-13 19:50] KyleAMathews commented on #4464
Yeah, `cache/db.json` too. The others are written over on every bootstrap so not caches.

Yeah, this would be an easy quick win. You want to take this @pieh?

[2018-03-13 20:36] pieh commented on #4464
@KyleAMathews Yeah, I will try to prepare PR for tomorrow.

@awesomebob Downloading is already parallelized ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/normalize.js#L382-L413 ). Maybe running so many concurrent requests is actually hurting more than it helps? Maybe it would be worth exploring some kind of async queue for that with sane limit of concurrent

[2018-03-13 20:42] AnalogMemory opened #4520 "gatsbygram scrape.js broken (Instagram changed things)"
I couldn't use scrape.js today and noticed they changed a bunch of things. I had to modify `scrape.js`
Kept the keys the same so it wouldn't break anything else. Hopefully that's useful to someone? I can do a pull request later if need be.

### Before
[code]

### After
[code]

[2018-03-13 21:13] m-allanson commented on #4463
@Jaikant could you add some specific reproduction steps? e.g. exact steps based on a particular starter or a link to a repo with this problem.

[2018-03-13 21:18] pieh commented on #4488
@all9lives wordpress plugin currently converts strings that look like image urls to wordpress media object - if you don't have file with same url in media library it will return null ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/normalize.js#L313-L320 ). Do you have those images in your media library under same url?

[2018-03-13 21:20] m-allanson commented on #4520
Thanks @AnalogMemory, would love a PR fixing this!

[2018-03-13 23:50] all9lives commented on #4488
@pieh TLDR; Yes those images are in the media library under the `source_url` property.

Details: So that images inside post content can be served by a CDN, I'm using the [WP Offload S3 Plugin](https://wordpress.org/plugins/amazon-s3-and-cloudfront/), this pushes uploads to S3, then rewrites WP image urls to `cloudfront > S3`.

The images in question are available in the wordpress media library via

[2018-03-14 00:33] AnalogMemory opened #4523 "[gatsby-source-wordpress] Newer ACF Fields not showing up in graphQL"
So I feel like something is just wonky but I can't isolate the issue. I've added some new ACF fields to an existing WordPress setup that is working great with Gatsby. But graphQl refuses to see them.

#### Setup
gatsby: 1.9.232
gatsby-source-wordpress: 2.0.68

#### What I can see
✔️ The fields show up with values when I view the WP-JSON feed from WordPress
✔️ The fields show up in `.cache/redux-st

[2018-03-14 00:34] m-allanson commented on #4317
Oops, thanks @ZLevine! Would you be interested in submitting a PR to fix this?

[2018-03-14 00:51] KyleAMathews commented on #4512
Hmmm I'm still not sure what happened.

Generally though, the workflow we support is importing the jquery (or other packages) from NPM and letting webpack bundle your JavaScript together. You should rarely if ever be writing `<script>` tags.

So:

[code]

If you can figure out how the dev server and production builds interacted — it'd be great to fix that.

[2018-03-14 00:53] KyleAMathews commented on #2538
@BlakeTurner the problem with that method is that then users have to redownload the script files every time instead of just validating that the script hasn't changed. Ideally they don't have to validate but there's no reason to make people download the same file every time.

[2018-03-14 00:57] chinapalace commented on #4260
@KyleAMathews how far out is that update? That's a pretty huge deal-breaker for me.

[2018-03-14 01:04] pieh commented on #4464
On the second thought - less aggressive cache invalidating with just deleting `cache/db.json` and `redux-state.json` will still cause redownloads anyway as content for `If-None-Match` header is stored in `cache/db.json`.

This would have to be more robust and probably would need separate cache instances for all plugins and deleting just caches for plugins that has changed. Thoughts?

[2018-03-14 01:06] m-allanson commented on #4486
@gnunua Can you provide an example repo, or exact steps to recreate this error?

[2018-03-14 01:08] pieh commented on #4488
@all9lives This might be actually bug in gatsby related to normalized field names (changing `-` to `_` in this case) names and resolving linked nodes. Can you try to change code in wordpress plugin from
[code]
and see if this will make it work?

[2018-03-14 01:14] KyleAMathews commented on #4464
Oh hmmm yeah. Perhaps the remote file downloader can just use its own cache for now.

[2018-03-14 01:19] pieh commented on #4523
Hi @AnalogMemory
This might be similar issue as here: https://github.com/gatsbyjs/gatsby/issues/4461#issuecomment-371775563 . Try to check if code snippet I pasted there (with additional hook added for `flexible_content` acf field type) will fix this.

[2018-03-14 01:19] pieh commented on #4461
@kepi0809 Can we close this issue or you still experience this issue?

[2018-03-14 01:25] m-allanson commented on #4476
Hmmm, I wonder what's causing this... It's not an issue I've seen before. I don't think you'd need to change chokidar's polling mode. Maybe this is a file permissions issue?

From the tutorial directory can you try running `node_modules/.bin/gatsby develop` instead of `gatsby develop`? And what are the permissions of your project files? e.g. the output from `ls -al`

[2018-03-14 01:34] all9lives commented on #4488
@pieh I tried changing the keys in the API response as you suggested, checked that the adjusted keys are being returned but when gatsby builds, graphql is still returning `null`.

[code]
![2018-03-13 18-29-31](https://user-images.githubusercontent.com/1470953/37378525-c5986b7a-26ec-11e8-9510-d8cde97bf85d.png)
_WP API Response_

[2018-03-14 01:56] fk commented on #4394
Hey @jacobmischka, want to tag https://github.com/jacobmischka/gatsby-plugin-react-svg/?

[2018-03-14 02:50] rockmandash commented on #4518
Insane~~

[2018-03-14 03:43] longsangstan opened #4527 "Query params not captured in Google Analytics"
## Description

Query params not captured in Google Analytics.

### Steps to reproduce

1) Install google analytics plugin
2) Go to the website using a url with query params e.g. `http://www.example.com/?from=abc`
3) Go to google analytics console

### Expected result

If a user goes to my website using a url like this `http://www.example.com/?from=abc`, I expect in my analytics console I would se

[2018-03-14 04:23] m-allanson commented on #4260
@chinapalace v2 is actively being worked on but there's no release date. You can track progress at https://github.com/gatsbyjs/gatsby/projects/2

[2018-03-14 04:31] m-allanson commented on #4302
@ajayns yes, thanks for your work on this!

[2018-03-14 04:31] #4302 closed

[2018-03-14 05:22] KyleAMathews commented on #4518
@rockmandash please be more polite. Your last message feels like harassment which is against our community code of conduct https://www.gatsbyjs.org/code-of-conduct/

[2018-03-14 05:24] KyleAMathews commented on #4527
Could you look into how to capture these and add a PR to the plugin? https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-analytics/src/gatsby-browser.js

[2018-03-14 05:28] thebetterjort commented on #3679
@lukaszblasz  I've copied your code verbatim and still get a props undefined in my index.js under my pages folder. Any idea?

[2018-03-14 05:41] rockmandash commented on #4518
@KyleAMathews No, you misunderstand my word.
I mean I can now use graphql-playground which is good.
OK?  you misunderstand too much.

[2018-03-14 05:43] lnkdel opened #4528 "Run gatsby SyntaxError: Unexpected token ..."
I get an error when I run the following command on ubuntu server
gatsby new blog https://github.com/gatsbyjs/gatsby-starter-blog

Details are as follows：
/usr/local/lib/node_modules/gatsby-cli/node_modules/yurnalist/dist/reporters/console/console-reporter.js:111
      cols[i] = Math.max(...widths);
                         ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.

[2018-03-14 06:06] m-allanson commented on #4528
What version of node are you using?

[2018-03-14 06:19] m-allanson commented on #4504
Hi @rockmandash, there's not enough information in your issue to help you. Can you list steps to reproduce the error or link to an example repo?

[2018-03-14 06:21] rockmandash commented on #4504
@m-allanson Thank you for your reply
I think the Gatsby didn't understand cancelAnimationFrame during build process.
So I need to avoid using cancelAnimationFrame in several places like componentDidMount.

[2018-03-14 06:21] #4504 closed

[2018-03-14 06:25] m-allanson commented on #4504
👍

You can also do a check like:

[code]
https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined

[2018-03-14 06:32] KyleAMathews commented on #4518
Ah sorry! Miscommunication :-)

[2018-03-14 08:33] gnunua commented on #4486
Hey @m-allanson. Thanks for the response.
Just running ` gatsby new gatsby-site` as described in official doc.

<img width="951" alt="g__screenshot at mar 14 12-31-44" src="https://user-images.githubusercontent.com/5013933/37391132-b7acf714-2783-11e8-80ad-848d63f61911.png">

The result of this issue is starter repo dependency:
[code]

[2018-03-14 11:00] pieh commented on #4488
@all9lives I tried to reproduce this locally, but it works for me. Can you share your `gatsby-source-wordpress` config so I could try to reproduce it using your data? If you don't want to share this publicly, you can join gatsby discord channel ( https://discord.gg/0ZcbPKXt5bVoxkfV ) and message me privately (my handle on discord is grajen3)

[2018-03-14 11:16] jarekpelczynski opened #4530 "Removing trailing slash not working on a production?"
I use **gatsby-plugin-remove-trailing-slashes** and it's everything ok when I use the navigation to change pages but when I go directly to, for example, `mydomain.com/terms`, a slash is present at the end of URL and it causes a problem with URLs in navigation – adds a slug to URLs, e.g.`mydomain.com/terms/terms`.

[2018-03-14 11:26] anjawaldbauer opened #4531 "[gatsby-source-contentful] linkages may link to empty localized entry"
I discovered this during my work on https://github.com/gatsbyjs/gatsby/pull/4517#issuecomment-372925383.

## Context

In contentful, you may have multiple locales but only certain fields of certain content types may be localized. This is not properly supported for entries with only certain localized fields as described in #4169 (also related to #4168).

## Example

I have a content type `Navigatio

[2018-03-14 11:48] faylor commented on #4260
I know this is a very average workaround but it resolved it for the time being for me... In the TableOfContents I just get the existing scrollTop and then set it in componentDidMount. I am a new to react but I though ref should be used, but just wasn't available with the lifecycle - maybe someone can explain a better way to do this.

componentWillMount(){
        try {
            var e = document

[2018-03-14 13:25] charlesgiroux commented on #2538
@BlakeTurner I think @KyleAMathews is right. "cache-control: public, max-age=0, must-revalidate" is more appropriate for most apps/sites.

I only use my solution for 1 site where the JS files should not change more than once per 6 months, if it changes then I need to make sure the cache gets completely busted.

[2018-03-14 14:08] longsangstan commented on #4527
@KyleAMathews Thanks! I will look into that.

[2018-03-14 14:25] DirtyF commented on #4394
keyword added on https://github.com/didierfranc/gatsby-plugin-google-fonts

[2018-03-14 15:17] DirtyF commented on #4394
@KyleAMathews all listed plugins have now a PR to add the missing keyword ✅

[2018-03-14 15:23] didierfranc commented on #4394
@DirtyF merged and published ;)

[2018-03-14 16:06] borekb commented on #4512
Thanks. Maybe a question: when I do `gatsby develop` and there was previously something generated in `public` by `gatsby build`, will anything be overwritten? Wait, I won't be lazy and try..

[2018-03-14 16:14] KyleAMathews commented on #3750
I'm not entirely sure this makes sense — people install starters to start using them — not to contribute to them. Any file we add to a starter is another file they'll have to delete. Perhaps just add a small section to the README.md pointing people to the contributions guideline and other helpful info?

Also, the default starter is intended to be small and stable — it rarely (as designed) gets cha

[2018-03-14 16:19] jacobmischka commented on #4394
@fk Will do!

[2018-03-14 16:25] borekb commented on #4512
Yeah, the differences are vast. So the problematic scenario from above can easily happen.

![image](https://user-images.githubusercontent.com/101152/37415808-36228ae4-27a4-11e8-8157-33853f8637bf.png)

[2018-03-14 16:33] pieh commented on #4464
I'm not sure if it's worth time/effort to do this just for file downloader - it depends how do you see permanent cache implemented (one you mentioned here - https://github.com/gatsbyjs/gatsby/pull/3977#issuecomment-365113609 ).

I could do initial part of just splitting global key-value cache into separate caches dedicated for each plugin ( this one where headers are stored - https://github.com/ga

[2018-03-14 17:52] KyleAMathews commented on #4464
Invalidating the cache by plugin version would be a great start to make the cache permanent/immutable. Instead of separate caches though, how about we just prepend cache keys with the plugin version which would accomplish the same thing & avoid having dozens of caches.

[2018-03-14 18:21] KyleAMathews commented on #4530
You need to setup your host to not use the slash. Many redirect from slashless to the slash be default

[2018-03-14 18:21] #4530 closed

[2018-03-14 18:53] AnalogMemory commented on #4520
👍  @m-allanson added a PR #4534

[2018-03-14 18:55] dustinhorton opened #4535 "[gatsby-plugin-postcss-sass] PostCSS plugins evaluate to null"
## Description

When using [gatsby-plugin-postcss-sass](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-postcss-sass), any plugin added to the `postCssPlugins` array in `options` will evaluate to null.

### Steps to reproduce

1. Add `gatsby-plugin-postcss-sass`
2. Add `gatsby-plugin-postcss-sass` config to `gatsby-config.js`
3. Add [browserslist]() config for Autoprefixer
4.

[2018-03-14 19:02] AnalogMemory commented on #4523
@pieh In my case all of the fields had values so it wasn't a null/empty issue. But that actually will help a related issue I've had.

I think it was a field name collision. Seems graphql can't handle multiple fields with the same name. When i renamed all the fields to something less generic it started showing up 🤷‍♀️

[2018-03-14 19:02] #4523 closed

[2018-03-14 19:25] iwarner opened #4536 "Develop Compile Time with Semantic UI Less 8s+"
## Description

When loading semantic ui less files as follows with the gatsby-plugin-less

I get develop compile times in excess off 7500ms

When commenting out all the below files I get compiles times of 800ms

So something seems to be going wrong with the way gatsby is handling the less files of semantic??

[code]

### Steps to reproduce

Install the semantic UI theming

### Expected result

Le

[2018-03-14 19:42] robwierzbowski commented on #2177
`onClientEntry` doesn't seem to solve the problem laid out in https://github.com/facebook/react/issues/8379#issuecomment-264858787. In order for react and react-dom to work together they both need to have the same version of Symbol set; polyfilling in the gatsby-browser file or in the layouts/index file doesn't seem early enough.

Re-defining the webpack entry point to contain a polyfill file woul

[2018-03-14 19:47] robwierzbowski commented on #2177
Blargh, it was unrelated code! We're good :).

[2018-03-14 19:58] robwierzbowski commented on #2177
The issue is I was using code that needed to be polyfilled in gatsby-browser.js. If I set the babel polyfill in gatsby-browser, I get the IE11 error referenced above. I solved the problem by moving all fetching and promise based code into the layout component.

[2018-03-14 20:32] pieh opened #4537 "Parent/children role in nodes"
## Context:

Change adding deletion of posibly stale descedent nodes after creating node ( https://github.com/gatsbyjs/gatsby/pull/4209 and https://github.com/gatsbyjs/gatsby/pull/4353 ) introduced problems in some of plugins. We fixed that since then but it raised question about role of parent/children - initial discussion can be found in comments here - https://github.com/gatsbyjs/gatsby/pull/44

[2018-03-14 21:09] rozenmd commented on #2258
So i'm not sure if this issue is 100% related, but no matter what I do, my client-only-path 404s initially, then it starts loading (and users leave before it starts loading)
#### app/index.js:
[code]
#### gatsby-node.js
[code]
I've also tried the `gatsby-plugin-create-client-paths` plugin without luck.

My CreateSchedule component works fine without 404ing: https://www.appointmentscheduler.org/app

[2018-03-14 21:42] pieh commented on #2258
@rozenmd You need server routing for that. If you use netlify you can install `gatsby-plugin-netlify` and it will generate server routing config for you automatically (I see you have netlify-identity-widget - not sure if that exactly mean you are using that for serving your site)

[2018-03-14 21:54] rozenmd commented on #2258
Awesome!
Thanks @pieh!
Looks like the netlify starter I used (https://github.com/konsumer/gatsby-starter-bootstrap-netlify) didn't have `'gatsby-plugin-netlify'` in gatsby-config.js

Adding that and deploying has fixed this issue 😄

[2018-03-14 22:05] m-allanson commented on #4486
Thanks @gnunua. This sounds like just an npm hiccup, have you tried running the command again?

[2018-03-14 22:17] #4520 closed

[2018-03-14 22:19] tremby commented on #3763
I want to load polyfills conditionally this way (no sense in loading a `fetch` polyfill in browsers which have it anyway, which is most). Do I understand correctly that it won't be possible until Gatsby v2?

[2018-03-15 00:40] BlakeTurner commented on #2538
@KyleAMathews Definitely see where you're coming from. I think my problem is that I don't understand _exactly_ why a new deployment + cached JS is causing the `Cannot read property 'call' of undefined` error. Is there somewhere in the Gatsby docs I can get into the nuts and bolts of this? Or is my best bet the source? Basically I'm looking for the steps that occur from page request to React loaded

[2018-03-15 01:49] tremby opened #4539 "Contentful responsive image dimensions can be incorrect"
## Description

When querying with `resolutions` or `resize` (and probably `sizes`; didn't try), if the requested dimensions are larger than the source image's natural dimensions and upscaling is disabled (as is default), the URL returned for the image points to an image with dimensions smaller than the requested dimensions. However, the `width` and `height` fields in the response say what the dim

[2018-03-15 02:28] tremby commented on #4539
My workaround for now is this.

Query:

[code]

Markup:

[code]

[2018-03-15 04:48] #4179 closed

[2018-03-15 05:06] fk commented on #4394
Wow, thanks @DirtyF!
Thanks @jacobmischka!
 🙏 🤗

[2018-03-15 06:05] KyleAMathews commented on #4539
You want to add a test and a fix to this here? https://github.com/gatsbyjs/gatsby/blob/88c0493aef154a1eef364b1cdf94d78c223cb37e/packages/gatsby-source-contentful/src/extend-node-type.js#L50

[2018-03-15 06:07] tremby commented on #4539
I'm on a really tight deadline right now. I can try when things ease up.

Is the natural size available in that context somewhere?

[2018-03-15 06:10] KyleAMathews commented on #2538
It's webpack trying to call a function on code that doesn't exist. When you load an HTML file from Gatsby, includes mappings from module ids to bundles. If the mapping changes but the bundle name doesn't, webpack will load the cached bundle with now outdated modules and try to call code there and the code won't be there hence "undefined"

[2018-03-15 06:23] KyleAMathews commented on #4539
Yeah, the line I linked to.

[2018-03-15 06:27] tremby commented on #4539
Oh. I took your message as if that line needed to be fixed, but I guess you're saying this is where to get the dimensions, which need to be used for the fix elsewhere.

[2018-03-15 06:28] KyleAMathews commented on #4539
Yeah you'd check I'd assume if the args are bigger than than the image size and restrict that

[2018-03-15 07:54] Rob3rtH commented on #2335
@KyleAMathews This is also a sticking point for my use-case as well, need pretty much what @wzrdzl describes.

HTML in:
/{page}/index.html
/{page}/{sub-page}/index.html

Should come from my server via:
https://my-website.com/{page}/
https://my-website.com/{page}/{sub-page}

All assets (js, images etc) should come from (probably) something like:
https://my-cdn.com/{whatever asset}
https://my-cdn.co

[2018-03-15 08:36] vprasanth commented on #4120
cc @KyleAMathews @m-allanson
Hey can someone take a quick look at this and let me know if I'm going generally in the right direction: https://github.com/gatsbyjs/gatsby/compare/master...vprasanth:issue-4120

Thanks!

[2018-03-15 11:51] Jrousell opened #4541 "Attempting to run 'gatsby develop' on Azure IISNode WebApp errors"
Hi,

We're trying to run `gatsby develop` in an Azure Web App which uses named pipes rather than TCP ports. This named pipe is a string which means [this line](https://github.com/gatsbyjs/gatsby/blob/88c0493aef154a1eef364b1cdf94d78c223cb37e/packages/gatsby/src/commands/develop.js#L237) returns a NaN and as such the server can't be hosted:

[code]

On Azure IISNode `process.env.PORT` will contain t

[2018-03-15 11:56] giladronat commented on #4514
@KyleAMathews I’d gladly make it all consistent and PR -- do you prefer standardizing to NPM because you use it or Yarn because it’s probably more common?

[2018-03-15 12:15] endymion1818 opened #4543 "gatsby-source-wordpress title field needs to be deserialized for use with react-helmet"
## Description

WordPress API returns serialized HTML, this is fine when dealing with body content, however I recently encountered an issue when trying to use react-helmet to set the post.title where the post.title contained an unescaped character.

### Steps to reproduce

Example title in WordPress editor title field:  'mytitle - contains a dash'
Example escaped title served by WordPress REST API

[2018-03-15 12:30] CallMeLaNN commented on #309
My example for third party js.

[code]

[2018-03-15 13:01] jarekpelczynski commented on #4530
I didn't mention that I use S3.

[2018-03-15 13:36] ferdinandsalis commented on #3965
@szimek not hoisting gatsby and its dependencies does the trick. See https://yarnpkg.com/blog/2018/02/15/nohoist/. Hope this helps.

[2018-03-15 15:37] michaek commented on #864
It seems like specifying the LAN IP of your development machine as `--host` does thread the needle of letting your dev server be accessible on the network, while generating assets that refer to its network-accessible URLs.

However, since the dev server is no longer listening for connections on 127.0.0.1, that breaks any local reverse proxy you may have set up. Perhaps you have resolution for `pro

[2018-03-15 15:49] KyleAMathews commented on #2335
@Rob3rtH Gatsby is designed so you can put all files on the CDN. Perhaps give that a go?

[2018-03-15 15:52] bodia-uz commented on #3965
@ferdinandsalis does npm support `not hoisting`?

[2018-03-15 15:52] KyleAMathews commented on #4120
Looking good! Keep going and put a PR any time.

[2018-03-15 17:46] anttti commented on #3183
Ran into this issue today while hosting a workshop for local students. On Windows, if the project is under a path that has non-[a-zA-Z0-9] letters (in our case, the letter 'ä'), this problem occurs.

[2018-03-15 17:53] eads opened #4547 "Specify configuration file when developing or building"
## Description

I have different path prefixes on my staging site and my production site. As far as I can tell, I can't specify an alternate config file or otherwise munge configuration at build-time.

Path prefixes feel like a special configuration case -- I could see a good argument for allowing that setting to be overridden via the cli (e.g. `gatsby build --path-prefix=my/path/prefix`).

I coul

[2018-03-15 18:07] SeanRoberts commented on #1517
Is @pieh's schema solution being looked at as the path forward vs. altering gatsby-source-contentful to generate schemas from the Contentful's content model?

[2018-03-15 18:51] docwhat opened #4549 "gatsby-remark-prismjs: allow adding aliases (e.g. sh => bash)"
It would be nice if the `gatsby-remark-prismjs` plugin would allow adding aliases.

Something like this would be good:

[code]

[2018-03-15 18:56] pieh commented on #4547
`gatsby-config.js` is `js` file - you can add logic to it (like conditionally pick path-prefix depending on env vars)

[2018-03-15 19:08] Jrousell commented on #4541
Closing for the moment while we setup and test other solutions.

[2018-03-15 19:08] #4541 closed

[2018-03-15 19:48] KyleAMathews commented on #4549
That'd be cool! Does PrismJS have some sort of native way of doing this? I'm a bit wary of adding additional features to our PrismJS implementation as it'd be confusing to people expecting PrismJS to work as normal.

[2018-03-15 19:54] docwhat commented on #4549
I _think_ that you would just change [`index.js` line 21](https://github.com/gatsbyjs/gatsby/blob/ae18f24867b12f664ecee9af0553b58d1703a8bc/packages/gatsby-remark-prismjs/src/index.js#L21) to something like this:

[code]

You can see they do something similar in [prism.js line 787](https://github.com/PrismJS/prism/blob/gh-pages/prism.js#L787-L797) and they use it at [line 814](https://github.com/Pr

[2018-03-15 19:54] KyleAMathews commented on #4547
Yeah, we've made the choice to encourage people to put logic into gatsby-config.js vs. using CLI overrides. Should be straightforward to vary the pathPrefix by ENV.

[2018-03-15 19:54] #4547 closed

[2018-03-15 20:02] KyleAMathews commented on #4549
ah yeah interesting. Yeah, that could work — the second argument to the file is the plugin options so if you want to experiment with this and create a PR this sounds like a great addition! https://www.gatsbyjs.org/docs/how-to-contribute/

[2018-03-15 21:45] rdela commented on #3183
Thanks for describing your encounter with this error @anttti!

@MaralS does this hold true for your case?
If so, would you try moving the project(s) directories to a path with only alphanumeric characters, underscores, and hyphens (`a-z`, `0-9`, `_`, and `-` itself) and see if that solves for now?

From your earlier error:
https://github.com/gatsbyjs/gatsby/issues/3183#issuecomment-370128994

[cod

[2018-03-15 22:00] #4527 closed

[2018-03-15 22:34] shannonbux commented on #4514
good question @giladronat and thanks for offering.

[2018-03-15 22:37] shannonbux commented on #4514
And then I accidentally closed and opened this again haha. Still a github newb.

[2018-03-15 22:43] eads commented on #4547
Ah, groovy! Thanks.

[2018-03-15 22:59] KyleAMathews commented on #4514
@giladronat yeah NPM cause it's the default and anyone using Yarn is already familiar with translating instructions to Yarn. Thanks!

[2018-03-16 00:38] shannonbux commented on #4392
@gillkyle thanks for that list of examples! I'm attaching some initial wireframes to this comment that a group of us sketched for record keeping.

And @LeKoArts Thanks for that clarification. Very insightful and I think @fk would agree that starters aren't always very visually appealing, and sometimes don't need to be, so the way we present starters vs. example sites vs. themes will be different.

[2018-03-16 01:19] KyleAMathews commented on #4392
This doesn't seem to me to be an argument for showing or not showing screenshots of the starters. Visually appealing or not, the screenshot is important information — if people want a starter that is pretty, they'll go straight to starters that are, if they don't care or are judging based on tech then a starter that's plain might be *more* appealing because they know there's not a ton of stuff the

[2018-03-16 04:39] angeloashmore commented on #4394
Merged PR into `gatsby-node-helpers`. Thanks @DirtyF!

[2018-03-16 04:48] giladronat commented on #4514
@KyleAMathews that makes sense. As a JS newbie that was [recommended Yarn by friends](https://twitter.com/giladronat/status/974226719379922944), I don’t fall into that category, but I don’t know if I’m a representative sample. I’ll change to NPM though; most of the work is just finding all instances, not changing one way or another 😄

[2018-03-16 05:50] udtrokia opened #4557 "how to set 'root dir' when `gatsby build` ?"
fixed it
https://www.gatsbyjs.org/docs/gatsby-config/#prefixpath

[2018-03-16 05:53] #4557 closed

[2018-03-16 06:17] pauldotknopf opened #4558 "Layout not being used when "/src/layouts" doesn't exist and layout provides by plugin."
I am wrapping my theme/styles/pages/etc in a gatsby plugin.

Inside of my plugin, I create the default ``index``` layout.

[code]

My custom plugin is used, but only if a file matches ```/src/layouts/index.*``` exists, like ```/src/layouts/index.sdfwefw```.

I think it may have something to do with this line: https://github.com/gatsbyjs/gatsby/blob/6ac0eb96b7a231d1182ab25cbdf5c36e93805a65/packages

[2018-03-16 06:24] pauldotknopf commented on #4558
Temporary workaround:

[code]

[2018-03-16 07:10] lukaszblasz commented on #3679
@thebetterjort i have double checked and everything works fine. Above code need to be placed in gatsby-node.js and then your page file may looks like:
`import React, { Component } from 'react';
class IndexPage extends Component {

	constructor(props) {
		super(props);
		console.log(props.pageContext);
	}

	render() {
		return <div className='page-home'></div>
	}
}

export default IndexPage;`

[2018-03-16 08:56] MaralS commented on #3183
@rdela It finally works, thanks a lot !!!!!!!!

[2018-03-16 09:09] LeKoArts commented on #3183
Ehmmm, yeah...
I reported that one month ago didn‘t I?

[2018-03-16 09:39] MaralS commented on #3183
@LeKoArts yes indeed, my bad sorry !

[2018-03-16 13:44] m-allanson commented on #3780
@chadwatson I find it clearer to try and keep to one conversation per issue, as long issue threads can become quite noisy. Anyway, here is fine too :)

You said:

What issues did you run into? Have you tried using [`gatsby-plugin-core-js`](https://github.com/lloydh/gatsby-plugin-core-js) as your first plugin. core-js is quite large so it's not an ideal answer, but maybe it'll get you to a site tha

[2018-03-16 13:50] Whipgit commented on #1836
I'm having a similar problem. Is there any known fix?

[2018-03-16 14:00] jquense commented on #3870
@loganfsmyth thanks for all your work on babel/babel#7472 I'm excited to dive into the new apis! One additional thing did occur to me that maybe it doesn't cover. We use `babylon` directly in a few places  (as you've seen) outside of the webpack/babel-loader flow to do graphql query extraction and static analysis. One on going pain point there is that `babylon` plugins are all opt-in and so we nee

[2018-03-16 14:16] jquense commented on #3870
LOL sorry @loganfsmyth I see that you literally answered my question 12 days ago IGNORE ME, sorry for the noise

[2018-03-16 14:25] pieh commented on #1517
@SeanRoberts complete solution would allow gatsby-source-contentful to use content model to generate schema - my "solution" was just proof of concept that it can feasibly be done and actually work. I decided to just use schema definition language there but it could be expanded to add api for plugins to define schema types programatically.

[2018-03-16 15:07] ostrichegret opened #4560 "How to build for cordova?"
I am looking for React SSR solution that can also build for cordova.

Thank you

[2018-03-16 16:15] themre commented on #3308
i'm also having the same issue. my package.json has these deps:
[code]
and html.js is inside src folder. I also tried building and no difference. also no changes to any of the gatsby js files. only config has: `plugins: ['gatsby-plugin-react-helmet', `gatsby-plugin-styled-components`]`

[2018-03-16 16:35] themre commented on #3308
I created simple gatsby site from gatsby-cli and putting html.js into src doesn't work.

[2018-03-16 16:59] MaralS opened #4562 "offline-plugin-app-shell-fallback/ URL indexed by Google"
Hi,

I'm using the Google Search Console in order to see the state of the indexation of URLs and I don't understant why https://www.urlofthewebsite.com/offline-plugin-app-shell-fallback/ is indexed.
Indeed this kind of URLs leads to a 404 page and impacts on SEO.

I noticed that page is on the sitemap.xml file, how can I fix this problem ??

Thanks a lot

Maral

[2018-03-16 17:01] m-allanson commented on #3418
How does contentful treat SVG's? Are they image assets or just plain file assets? Maybe @pieh or @KyleAMathews have some thoughts on how best to handle SVG's in the Contentful source plugin?

[2018-03-16 17:02] #3183 closed

[2018-03-16 17:13] #4431 closed

[2018-03-16 17:46] fxfactorial opened #4564 "Clarification on which component to use for app wide React Context, and how to dynamically make pages right"
I love gatsby. Love it.

Assuming a site created with the starter blog kit

1. Which component is the kosher one to use for using React's context API? So that I can have data accessible everywhere. Right now I'm using `layout/index.js` but this seems incorrect.

2. How to properly make dynamic routes? I want to have a jobs board, say like foo.com/hiring-board/job/SOME_UNIQUE_ID, where should I pro

[2018-03-16 18:02] m-allanson opened #4565 "Windows build fails with special characters in path"
## Description

Builds will fail on Windows for paths that contain non-`[a-zA-Z0-9]` characters such as `ä`, `ö`, `ü`.

Refs #3183 @anttti @LeKoArts

### Steps to reproduce

- On a Windows PC
- Create a Gatsby project in a folder who's path contains characters like `ä`, `ö`, `ü`
- Run `gatsby build`

### Expected result

The site should build

### Actual result

The site errors with:

[code]

###

[2018-03-16 19:02] KyleAMathews commented on #4558
Yeah, we special case src/layouts/index.js as it's so common. What you did in the previous comment is what's required for custom layouts.

[2018-03-16 19:02] #4558 closed

[2018-03-16 19:06] pauldotknopf commented on #4558
Maybe you should log if a page doesn't have a layout? Why not always set "index" as the default, and let the cli barf when it tries to use the non-existent layout?

Either way, it isn't good to have imperative magic that depends on something seemingly so unrelated. At least at some logging around it, it would have save me a lot of time.

[2018-03-16 19:11] KyleAMathews commented on #3308
@themre check if there's any errors in the console. Lots of people use custom html.js files (including gatsbyjs.org) so we know it works.

[2018-03-16 19:14] KyleAMathews commented on #4562
Hmmm... it shouldn't be. We exclude it here https://github.com/gatsbyjs/gatsby/blob/d8a971ab0d27e4dd3adce43f3411d6d22f61dc23/packages/gatsby-plugin-sitemap/src/internals.js#L38

Perhaps there's a bug with our exclusion logic? Would love a PR fixing this if that's the case!

[2018-03-16 19:18] m-allanson commented on #4459
It looks like the `gatsby-transformer-remark`'s excerpt handling is [here](https://github.com/gatsbyjs/gatsby/blob/d8a971ab0d27e4dd3adce43f3411d6d22f61dc23/packages/gatsby-transformer-remark/src/extend-node-type.js#L329-L344). If you or anyone else is interested in doing some investigation, a PR would be great.

[2018-03-16 19:21] tremby commented on #3418
That *is* what I meant, but I later realized that other images from Contentful are just fetched from Contentful rather than what I assumed was happening, which was that they were being pulled down processed at build time and bundled with my app. Since my site is reaching out to Contentful for assets anyway I actually don't have strong feelings about this any more.

[2018-03-16 19:25] KyleAMathews commented on #4564
layout/index.js should work. Which context API are you using? We're (still) on React 15 until Gatsby v2 is released. You can use gatsby-plugin-react-next to use React 16 in the meantime.

On routes, check out the tutorial which covers this https://www.gatsbyjs.org/tutorial/

[2018-03-16 19:25] #4564 closed

[2018-03-16 19:26] m-allanson commented on #4489
You can build client-side only routes and add any functionality you like. Check out the docs on [building apps with Gatsby](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/)

And here's a [Gatsby starter that uses Firebase for authentication](https://github.com/rwieruch/gatsby-firebase-authentication).

[2018-03-16 19:26] #4489 closed

[2018-03-16 19:48] tremby opened #4570 "Allow environment variable overrides"
I'm aware that Gatsby will pass in any `GATSBY_*` environment variables. But this doesn't help in my current use case.

I have three environments: development, staging, and production.

Staging should be a production-like build, and therefore `NODE_ENV` needs to be `production`.

But that means I can't load in the environment variables I need (which are *different* from the production ones) from `

[2018-03-16 20:44] busticated opened #4571 "local plugin resolution broken when plugin uses gatsby-browser.js but exposes exports via es6 `export`..."
i just noticed my local plugin was no longer being included in the `api-runner-browser.js` file shipped to the browser. digging in, i've found:

`v1.9.216` was the last good version of gatsby for me
as of `v1.9.218` my plugin was no longer included.

using `v1.9.233` (latest as i'm writing this) and tracing thru the code, i've found that the `resolve-module-exports.js` utility no longer recognizes

[2018-03-16 20:46] m-allanson commented on #4571
That's probably something from #3889, I'll do some digging.

[2018-03-16 21:31] pauldotknopf opened #4572 "Documentation on nested plugins?"
https://github.com/gatsbyjs/gatsby/blob/918b6c85e93604fe215540e267f757775d2e0574/www/gatsby-config.js#L49

Is there guidance on how they work and when to use them?

[2018-03-16 22:37] EarthSchlange commented on #3182
@eysi09 Agreed. @borekb there is actually an easier way to do this, but the documentation on `crossOrigin` attribute is not there even though it should be. I had the same issue with getting the `crossorigin` attribute to display; `crossorigin` just disappeared every time I included it.

The issue is I believe is that [webpack](https://github.com/webpack/webpack) uses case sensitive `crossOrigin` a

[2018-03-16 22:41] loganfsmyth commented on #3870
No worries, it's a lot to keep track of :D

[2018-03-16 22:59] m-allanson commented on #3182
Thanks for the detailed writeup @EarthSchlange! Would love any PRs adding docs about `crossOrigin`.

[2018-03-16 23:03] m-allanson commented on #4560
Hey @ostrichegret 👋 I'm not sure if anyone's used Cordova with Gatsby, would love to see a link if you get it working!

[2018-03-16 23:03] #4560 closed

[2018-03-16 23:08] EarthSchlange commented on #3182
@m-allanson I don't mind doing a write-up, documenting the crossOrigin attribute and a PR. But I have not written docs for GatsbyJS, so where would the best place to include the documentation? Also, do you have any title suggestions?

[2018-03-16 23:10] hazelnusse opened #4574 "directory to run `npm install --save XXX` from in tutorials"
In `https://www.gatsbyjs.org/tutorial/part-two/` and `https://www.gatsbyjs.org/tutorial/part-three/`, it seems that the `npm install --save gatsby-plugin-typography` and `npm install --save gatsby-plugin-typography typography-theme-fairy-gates` should be run from within the directory created by the `gatsby new` command, right? If so, the documentation should probably state this explicitly by addin

[2018-03-16 23:10] m-allanson commented on #3763
@tremby Gatsby v2 will do this automatically for you, if you want to do this in v1 you'll need to work out how to do it manually.

[2018-03-16 23:14] #4571 closed

[2018-03-16 23:22] m-allanson commented on #4470
Hey @vinaypuppal I reproduced your issue locally so can confirm this looks like a bug. (I was going to push up my reproduction but I seem to have deleted it 😖).

It'd be great to see Preact working as a drop-in replacement. If you'd like to try and fix this up, check out the [contributing docs](https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo).

I could be way off, but inv

[2018-03-16 23:26] m-allanson commented on #4496
Hey @tremby, this is strange. I'm not sure what's happening here but is sounds like a bug.

It'd be great to see a PR solving this. Check out the [contributing docs](https://www.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo) if you'd like to take a crack at fixing it.

[2018-03-16 23:30] melissamcewen opened #4575 "What Makes Gatsbya PWA (Progressive Web App)?"
I've been using Gatsby for a bit and loving it! I'm curious about what makes it a PWA vs. something like Jekyll?

[2018-03-16 23:36] m-allanson commented on #4503
@deltaskelta If you can push up a repo that reproduces this problem then someone should be able to take a closer look.

[2018-03-16 23:46] m-allanson commented on #4418
Could this be related to #4516?

[2018-03-17 02:33] m-allanson commented on #4571
A fix was released in version 1.9.235. @busticated thanks for the detailed bug report!

[2018-03-17 03:28] busticated commented on #4475
i can repro this in my site using `styled-components v3.2.3` - i swear i saw a blog post saying that SSR had major changes but 🤷‍♂️

[2018-03-17 03:38] benjaminhoffman commented on #4244
solved!  thank you @jlengstorf for the following suggestion!  I decided to have my `addToMailchimp` method import the user's `gatsby-config` file, search for the Mailchimp options object, and use the MC settings listed therein to make the request to MC's server.  This keeps the MC settings out of the document's `<head>` and off the global window object.  The plugin setup is still a bit much, but i

[2018-03-17 03:38] #4244 closed

[2018-03-17 03:42] benjaminhoffman commented on #4575
Out of the box, you get:
- super fast initial page load speed
- code splitting
- caching
- service workers

please read: https://www.gatsbyjs.org/docs/prpl-pattern/
and https://www.gatsbyjs.org/blog/2017-09-13-why-is-gatsby-so-fast/
and https://www.gatsbyjs.org/features/

If you are asking about a specific part of PWAs and Gatsby, please clarify and I'll be happy to dive into more details! 👍

[2018-03-17 04:06] prince0203 commented on #4562
Excluding `['/dev-404-page/', '/404/', '/404.html', '/offline-plugin-app-shell-fallback/']` worked for me. (trailing `/` and `/404.html` required)

[2018-03-17 04:42] pauldotknopf commented on #3830
I'd like to add something.

I am developing a CLI that uses Gatsby under the hood (for non technical users). The directory that the users will manage content in will container *only* markdown files. All templates/styles/resources are provided via a npm package.

With the ```createLayout``` action, I can create a gatsby plugin that creates a layout that points to a component in my npm package.

I h

[2018-03-17 06:36] KyleAMathews commented on #3182
Hey folks, there seems to be a bit of confusion here — cross origin has nothing to do particularly with Gatsby. It's needed whenever you reference resources from other domains. See the MDN docs https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_settings_attributes

Why adding `crossorigin` isn't working is that React requires all HTML properties to use camel case so `crossOrigin`. So this has

[2018-03-17 08:46] themre commented on #3308
There is no error, everything goes through normally. I also put console.log in static-entry and develop-static-entry.js to see if it gets html, but still no output. If you can point me where to look, I can look further.

[2018-03-17 11:05] arsdehnel commented on #2641
Is there a page explaining how to upgrade to v2 alpha? or is it not at a point that it makes sense to use? I updated my global install to `2.0.0-alpha.11` but when i do a `gatsby new thing` i get `1.9.235` in that project.  I very well could be just missing an obvious link somewhere, apologies if that's the case!

[2018-03-17 12:29] endymion1818 commented on #4543
I'd really like some advice on this since I think changing the current way it's done could disrupt the way existing sites are doing things, or easily cause confusion ...

[2018-03-17 13:05] themre commented on #3308
even stranger is if I change default-html.js in .cache folder, it isn't modified, regardless if I run develop or build. Perhaps this is a Windows only issue? Because I also noticed that paths behave strange when I run build. JS src is e.g. `/app-234234234.js` and if I open .html file, file isn't found because it wants to search on `C:\app-23423423424.js`.

[2018-03-17 13:40] d33con opened #4581 "Generating Javascript bundles failed"
## Description

Auto deploy from github repo using Netlify causes error.
I also tried a manual deploy within Netlify but I'm getting the same result
_failed during stage 'building site': Build script returned non-zero exit code: 1_

I'm getting this in the deploy details on Netlify
![screenshot-2018-3-17 deploy details oliverbullen](https://user-images.githubusercontent.com/13669754/37555887-8a20e

[2018-03-17 15:25] m-allanson commented on #3182
Oh yeah, my bad. @EarthSchlange apologies for leading you astray!

[2018-03-17 15:50] m-allanson commented on #4581
Can you try updating to the latest version of Gatsby?

[2018-03-17 15:52] m-allanson commented on #4574
Thanks for taking this on!

Refs #4577

[2018-03-17 15:55] EarthSchlange commented on #3182
@m-allanson I learnt something, so it is all good. What @KyleAMathews is good to know in general for working with ReactJS.

[2018-03-17 16:02] m-allanson commented on #2641
@arsdehnel There's no docs yet, although you can see an upcoming list of changes at https://github.com/gatsbyjs/gatsby/blob/v2/Breaking%20Changes.md.

Things are still changing with v2 but if you're feeling bold you can install it with `npm i gatsby@next`. As v2 is still in alpha you'll be on your own with any problems. Caveat emptor for now :)

[2018-03-17 16:07] m-allanson commented on #3308
@themre it sounds like there's something strange going on there. Could you push up an example repo to look at?

[2018-03-17 16:11] d33con commented on #4581
I've updated Gatsby. Now I'm getting this error on both gatsby develop & build

4:05:53 PM: error RootQueryType.allSitePage field type must be Output Type but got: SitePageConnection.
4:05:53 PM:
4:05:53 PM:   Error: RootQueryType.allSitePage field type must be Output Type but got: SiteP  ageConnection.
4:05:53 PM:
4:05:53 PM:   - Array.forEach
4:05:53 PM:
4:05:53 PM:   - Array.reduce
4:05:53 PM:

[2018-03-17 16:14] m-allanson commented on #4572
@pauldotknopf There's not a lot on nested plugins, maybe have a look at the [Plugin Authoring Guide](https://www.gatsbyjs.org/docs/plugin-authoring/#plugin-naming-conventions).

Nested plugins can be used to extend the capabilities of the parent plugin. As an example, all of Gatsby's [`gatsby-remark-x` plugins](https://github.com/gatsbyjs/gatsby/tree/master/packages) extend the [`gatsby-transforme

[2018-03-17 16:21] KyleAMathews commented on #4572
Any plugin can have its own plugins. But the parent plugin has to be expecting this and have code to call the code from the sub-plugin for this to have any effect otherwise nothing happens. `gatsby-transformer-remark` is the only plugin I know that does this currently. Here is where it let's each sub-plugin mutate the markdown AST https://github.com/gatsbyjs/gatsby/blob/39405449fee04357d442f806815

[2018-03-17 17:16] pauldotknopf opened #4583 "Guidance on building tree menu with expanded children for active paths?"
Is there a template/project out there that currently does this?

[Here](https://wyam.io/docs/extensibility/customizing-recipe-pipelines) is an example side menu.

Thanks in advance!

[2018-03-17 17:16] johndewolf commented on #4401
I am having a similar issue. Everything works fine when adding new content. But when i edit existing content i get the following error on build:
`⢀ source and transform nodescontentTypes fetched 3
error Plugin gatsby-source-contentful returned an error

  TypeError: getNode is not a function

  - gatsby-node.js:90
    [dcancel]/[gatsby-source-contentful]/gatsby-node.js:90:37

  - Array.forEach

[2018-03-17 18:14] blackwood commented on #2727
Curious — is this issue still open? I have a similar build process, and am hesitating on using source plugins without knowing that the build can fail.

[2018-03-17 18:51] #4479 closed

[2018-03-17 19:17] chadwatson commented on #3780
@m-allanson I threw `gatsby-plugin-core-js` and ` gatsby-plugin-react-next` into my `gatsby-config.js`, and I'm still getting the uglify error.

I double checked my deps in that file see if any of them are providing ES6 code, and none of them appear to be (`immutable@3.8.2`, `recompose@0.26.0`, `styled-components@3.2.3`, and `React@16.0.0`).

Here's what I did to modify the webpack config in `gats

[2018-03-17 20:06] dgrcode opened #4584 "gatsby-remark-prismjs not wrapping inlined code with class .gatsby-highlight-code-line"
## Description

Not sure why, but the plugin gatsby-remark-prismjs is not wrapping my inlined code with the class .gatsby-highlight-code-line, as it should according to [the documentation](https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/)

### Steps to reproduce

1. Create a new project with the cli using the starter [gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog)

2

[2018-03-17 21:36] melissamcewen commented on #4575
Thanks! I did the Lighthouse PWA audit for my out of the box sites and it said they had no service workers? Do I need some specific plugins for that like gatsby-plugin-offline?

I also assume `gatsby-plugin-manifest` takes care of the manifest thing.

I'm writing an article on easy PWAs and thought GatsbyJS would be a good example.

[2018-03-17 23:15] docwhat commented on #4459
I've been digging around and I don't see anything obvious.

It took me a while, but I figured out that the `excerpt_separator` is actually defined and used by [grey-matter](https://github.com/jonschlinkert/gray-matter/blob/master/lib/excerpt.js).

I can't figure out where the transformation happens and what is passed to grey-matter.

Can someone point me in the right direction?  This is really ann

[2018-03-17 23:17] jlengstorf commented on #4575
Hey, @melissamcewen! You're correct: to turn on Service Workers, you'll need `gatsby-plugin-offline`, and for a manifest you need `gatsby-plugin-manifest`.

They're opt-in because the offline storage can be really confusing to debug if you're not familiar with how it works.

I'm going to close this, but let me know if you have any other questions, and please mention @gatsbyjs when the article goes

[2018-03-17 23:17] #4575 closed

[2018-03-17 23:57] hazelnusse opened #4585 "Tutorial part six sort not working"
I'm probably doing something wrong but I don't know JS/React/Gatsby to know what I'm missing. In GraphiQL, I have:
[code]

and changing the `ASC` to `DESC` changes the order of the returned result as one would expect. However, when I place this query in `src/pages/index.js`, the order on the index page is always the same, regardless of whether I choose `ASC` or `DESC`. Restarting the development s

[2018-03-18 00:07] hazelnusse commented on #4585
Changing the date in the mardown file changes the order in the generated page, indicating that the entries are being sorted. However, changing the Graphql query above doesn't change the order as expected.

[2018-03-18 00:32] tomjowitt commented on #3064
I also have this issue but it occurs at build time. Like other issues in this thread, it occurs when using contentful references and `createPages` in gatsby-node.js.

`Fetch Contentful data: 3785.866ms
error Plugin gatsby-source-contentful returned an error

  TypeError: entryItemFields[foreignReference.name].push is not a function

  - normalize.js:291
    [site]/[gatsby-source-contentful]/normal

[2018-03-18 00:56] huntercaron commented on #1854
@jesperkc  also trying to figure this out, will update if I make any progress. Trying to render the nextPageResources, then animating out the old page.

Would be another nice example to have if we can figure out a nice way of doing it

[2018-03-18 01:24] kripod commented on #1347
I tried `gatsby-plugin-postcss-sass`, but enabling it caused weird errors (which I cannot detail right now).

Is there any chance that autoprefixing SCSS will be effortless in the near future?

[2018-03-18 03:41] vprasanth commented on #4585
I tried to record the steps in commits as I went through the tutorial, maybe it can help. So far I can't see any issues with your query..

Here is my changeset for that part of the tutorial https://github.com/vprasanth/gatsby-practice-graphql/commit/d767e3f3bb58dd3d1d3dd5e3364505cf54532ce1

[2018-03-18 04:17] hazelnusse commented on #4585
I'm trying to root cause this and am noticing if I complete the steps incrementally as they are described in tutorial part 4, I get errors such as `TypeError: children is not a function` on `index.js`, but if don't run the `gatsby develop` step until I've made all the edits to get the various .js files in their final state, the page is built and works fine.
Does tutorial 4 work for you if you comp

[2018-03-18 06:35] benjaminhoffman opened #4590 "ReferenceError: regeneratorRuntime is not defined"
## Description
Adding `async/await` to Gatsby's blog creates this error:

`email-capture-form.js:46 Uncaught (in promise) ReferenceError: regeneratorRuntime is not defined`

After searching the issues, I've seen this pop up a couple times.

This line is throwing the error: https://github.com/gatsbyjs/gatsby/pull/4589/files#diff-0b944fc95fef100bc9dd4aa6fbcb4647R44

[2018-03-18 07:24] pauldotknopf commented on #4583
@benjaminhoffman, that makes sense for a dynamic menu, which I have no problem doing.

The problem is how do I get the data *into* gatsby. Graphql doesn't support nested queries.

I was thinking if there was some way to listen to ```onCreatePage``` to build/update a hierarchical navigation structure (based on ```page.path```). Maybe create/manage a single node with ```createNode``` that maintains

[2018-03-18 12:07] AAverin commented on #3852
I have this again all of the sudden. Probably not related to Helmet, because nothing changed in the project.
Production build fails to load a page with error:
[code]

I have a few localized layouts. One of them fails, it seems.
Any way I could debug this?

[2018-03-18 12:11] AAverin commented on #3852
Seems to reproduce at random on production.
Manually changing the path to the layout to another locale and back seemed to have solved the issue on production

[2018-03-18 12:12] AAverin commented on #3852
localed layouts are simple layouts that import different locale data and use common parent index layout. So nothing fancy

[2018-03-18 12:47] MaralS commented on #4562
@KyleAMathews  I recently updated all the packages including the sitemap plugin.

I use :

[code]

Am I using the latest version ?
I read I can't exclude these pages through the package.json file. So what can I do ?

[2018-03-18 13:24] themre commented on #3308
@m-allanson i've setup clean gatsby site by only running `gatsby new gatsby-demo` and then copying `default.html.js` to `src/html.js`. Repo is here: https://github.com/themre/gatsby-demo. If run develop or build, I don't see test.css in my index.html.

[2018-03-18 13:42] calpa commented on #3220
Would it be faster if gatsby is using Parcel?

[2018-03-18 13:43] pieh commented on #3308
@themre your `html.js` is not valid `jsx` ( https://github.com/themre/gatsby-demo/blob/master/src/html.js#L28 no closing tag here) - gatsby will ignore it

[2018-03-18 14:17] themre commented on #3308
ok, that I get it but what about this one?
`<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="9999...";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>`

[2018-03-18 14:29] themre commented on #3308
For now I have solved this by adding script to react-helmet:
`script:{[{"innerHTML": '.....'}]}`

[2018-03-18 14:38] huntercaron commented on #1854
so far I've been able to animate in a pseudo next page with `createElement(this.state.nextPageResources.component, etc)`  then replace it with the real page component. Not ideal, but works.

[2018-03-18 14:53] spawnia opened #4591 "Autobuild docker image with CLI"
I would like to use Gatsby, but not install it locally but rather through Docker. The [official image](https://hub.docker.com/r/gatsbyjs/gatsby/) looks like it is abandoned and after further examination, it serves the purpose of hosting a ready built site - while valuable, this is not what i expected the official image to do.

Because of this, i propose changing the official image. The official im

[2018-03-18 15:28] morloy opened #4592 "Multi-language example using Gatsby and jsLingui"
At [Ledgy](https://www.ledgy.com) we just launched our new website that uses Gatsby together with jsLingui to create a German version.
Since there are only examples on using `i18next`, we thought it might be useful to also share the [source](https://github.com/morloy/ledgy.com) with the community.
For further instructions on setting up jsLingui with Gatsby, see the [related thread in their reposit

[2018-03-18 18:04] pauldotknopf commented on #4583
Here is what I am thinking.

1. Extend ```SitePage``` graphql type to include a ```Menu``` property that contains a curated tree-like menu structure, specifically for that page.

[code]

2. Within the resolver for property ```menu```, query all the pages (```allSitePages```). Then,use something like ```tree-from-paths``` (See [here](https://www.npmjs.com/package/tree-from-paths) to build a menu fo

[2018-03-18 19:14] jlleblanc commented on #4395
Not sure if this addresses @zshannon's issue, but I discovered a workaround for when you really need hashlinks. (Another disclaimer: this is my first React app! I make no claims or warranties as to whether this is a wise idea, just that you can do it.)

If you're willing to skip the router, you can access the hash values from the `props` that get passed to your component. Here's how I did it:

[co

[2018-03-18 19:21] WebRuin commented on #4514
I am happy to help go through the docs looking for `yarn` and `npn`.  Which do you prefer.  I can update it.

[2018-03-18 19:25] WebRuin commented on #4373
I agree with your concern, and have a few ideas of my own like adding CodePen snippets to the tutorials.  I am looking to contribute. And I have the ability to do this.  If I am allowed I will do this ASAP

[2018-03-18 23:09] sielay opened #4596 "Mapping for two JSONs"
## Description

Mapping feature is nicely explained on example of FrontMatter, but not clear when it comes to combining two YAMLs or JSONs.

### Steps to reproduce

I have two JSONs

[code]

[code]

I can create `join` behaviour to use with GraphQL by editing `gatsby-node.js` as below, but can't figure out how to do it using mapping in `gatsby-config.js`

[code]

### Expected result

If I understa

[2018-03-18 23:57] pieh commented on #4488
@all9lives Finally found time to investigate this, sorry for delay.

Issue here is that yoast rest api will return empty string if image is not set and will cause ambiguity for gatsby as part of entries will link to media nodes and part of them will be empty strings. To handle this You will have to edit plugin to return `null` instead of empty string - for example:

add helper function
[code]

[co

[2018-03-19 00:00] sielay commented on #4596
Also I just realised that after clearing cache graphql isn't very happy with approach made in `gatsby-node.js`. Sorry, if question seems naive.

[2018-03-19 00:02] deltaskelta commented on #4503
@m-allanson I am trying but I have been unsuccessful so far. I have a feeling this is related to my vim plugins deleting and replacing files since I experienced the same thing in another issue.

@KyleAMathews is it immediately obvious that this might be related to what I was experiencing in #4162 ?

[2018-03-19 00:48] pieh commented on #4596
Did you miss comma after first mapping entry and in your `B.json` example or it's just copy-paste error?

This does work - using exact same json files and same mapping (after adding missing commas).

[2018-03-19 00:48] KyleAMathews commented on #4503
Yeah, looks similar. This should be a pretty easy PR @deltaskelta if you'd like to try solving it. Add a check that the thing still exists in https://github.com/gatsbyjs/gatsby/blob/b1a470da4598b8f4d79c17fc87fdbc6caf7a62f6/packages/gatsby/src/redux/actions.js#L414

Since you're the only one who's seeing it as far we know, you're ideally suited to fix it :-D

This is the instructions for how to set

[2018-03-19 01:24] deltaskelta commented on #4503
ok ill give it a shot when I have a free second to follow all the dev environment instructions

[2018-03-19 03:56] docwhat opened #4597 "& < " are not escaped in a default syntax block."
This is about `gatsby-remark-prismjs`.

The `language-none` (or `language-whatever` as long as it isn't a Prism language) turns the PrismJS highlighter into a noop; The inner text isn't escaped or encoded.

So this:

[code]

Renders into:

[code]

Notice how the `<button>` element wraps the second text element (i.e. " bug as well").

See #4556 for how we found it.

The correct solution, I think, i

[2018-03-19 04:50] geraldyeo commented on #2261
Thanks @0x6e6562 for this workaround!

[2018-03-19 08:00] oltodo opened #4600 "Dynamically import component based on GraphQL result"
Hi,

I'm developing a style guide for my React app's design system using Gatsby 1.x and I meet troubles to do something.

I would like to create a page for each of my UI components that are defined in a `data/components.yaml` file like this:

[code]

__Nota:__ as you can see, each component are in separated NPM packages.

Creating pages was easy using `gatsby-source-filesystem` and `gatsby-transfo

[2018-03-19 08:50] rstacruz commented on #2662
Hey there :) Hoping to chime in with my thoughts on why I really would love for this to happen.

- **Separate implementation from content:**<br>
I'd like to maintain a website, say, [rstacruz/cheatsheets](https://github.com/rstacruz/cheatsheets), which has hundreds of thousands of lines of content. I want to maintain the *site implementation* separately from the *site content*. This way, I can dev

[2018-03-19 09:32] vinaypuppal commented on #4470
@m-allanson Thanks for confirming. Yeah, sure I will look into it.

[2018-03-19 09:43] sielay commented on #4596
I edited that manually to give more abstract example. Let me check and come back to you.

So for JSON `left` like `[ item, item, item]`
So should I do binding: `LeftJson.array: RightJson`. I think I was doing `LeftJson.edges.nodearray: RightJson`

[2018-03-19 09:49] sielay commented on #4596
Ok. Did not manage that to work, so (again sorry for silly question) could you please take a look

experience.json

[code]

tech.json

[code]

Mapping in `gatsby-config.js`
 * `'ExperienceJson.items.tech': `TechJson'` does not work
 * `'ExperienceJson.edges.node.item.tech': `TechJson'` does not work

Trick with `gatsby-node.js` works, but as long I don't flush the cache

[code]

Thanks for advice

[2018-03-19 10:09] Haroenv opened #4602 "optimise Algolia / Gatsby source"
## Description

The source for npm search works, but might not be the most efficient

### What to improve

1. use [browse](https://www.algolia.com/doc/api-reference/api-methods/browse/?language=javascript#browse-an-index-recommended-way) instead of search.
2. use `attributesToRetrieve` instead of deleting attributes
3. use the API key for Gatsby

I can take a look at a PR for this soon, or give fe

[2018-03-19 10:24] m-allanson commented on #2261
In the upcoming Gatsby v2 React is moved to a `peerDependency`, so there should be less cases of multiple React versions.

[2018-03-19 10:29] m-allanson commented on #4514
Thanks @giladronat!

And thanks @WebRuin too, but it looks like @giladronat is working on this one already.

[2018-03-19 10:31] KikahaPlus44 opened #4603 "Multi language support for sitemap"
## Description

I propose to discuss in which way will be better implement multi language support in gatsby-plugin-sitemap. One of the way, is implement in a way how to google proposed in this article
https://support.google.com/webmasters/answer/2620865?hl=en

[2018-03-19 10:40] m-allanson commented on #4592
Thanks @morloy!  It's great to see more examples of how people are handling this. Would you be able to add your site and source to the [showcase](https://github.com/gatsbyjs/gatsby/blob/master/README.md#showcase)? Currently this is just a list of links, but I believe there are future plans to expand on it.

Your example might also be of interest to people reading #3853.

[2018-03-19 10:42] pieh commented on #4596
`'ExperienceJson.items.tech': 'TechJson'` is correct mapping, I just checked and it works ( https://cl.ly/243P300i1d0L ).

If you remove your custom mapping from `gatsby-node.js`, clear `.cache` and run what is actual result? Does type in graphql not match? Or type is fine but it can't find items?

[2018-03-19 10:49] sielay commented on #4596
Thank you @pieh. Maybe worth adding such example to mapping doc? Should I do PR later?

[2018-03-19 10:49] #4596 closed

[2018-03-19 10:54] gagan0723 commented on #4583
@pauldotknopf have a look at [reactjs.org](https://reactjs.org/tutorial/tutorial.html#before-we-start). The code is available on [github](https://github.com/reactjs/reactjs.org). Its controlled by a [prop](https://github.com/reactjs/reactjs.org/blob/da8a7df2049c89d81505a6f6909f51d613dc58ba/src/templates/tutorial.js#L25) as in **tutorial.js** template in ```src/templates``` and this is the actual [

[2018-03-19 10:56] m-allanson commented on #3852
Hey @AAverin, can you get the build to fail locally running `gatsby build`, or does it only happen in your production environment?

[2018-03-19 10:56] pieh commented on #4596
I think it would be worth adding to docs for two reasons:
 - "visualize" that it doesn't have to be used for frontmatter
 - current docs is missing information that you can map array of ids to array of nodes

Your PR surely would be welcome! 👍

[2018-03-19 11:19] m-allanson commented on #3780
Hmm. Are you using `gatsby-plugin-core-js` and modifying the webpack config in your `gatsby-node.js`? What happens if you remove your `modifyWebpackConfig` from `gatsby-node.js`?

[2018-03-19 11:47] alexparish commented on #2645
Mind if I have a look at this?

[2018-03-19 11:54] chadwatson commented on #3780
I tried `gatsby-plugin-core-js` without `modifyWebpackConfig` first and still got the same uglify error. Then I threw the `modifyWebpackConfig` back in and started getting the errors I mentioned in my last comment.

[2018-03-19 11:55] #4461 closed

[2018-03-19 11:59] m-allanson commented on #2439
There's a good discussion around i18n at #3853.

[2018-03-19 11:59] #2439 closed

[2018-03-19 12:10] m-allanson commented on #4536
That does seem quite slow. Do you think you'd be able to investigate what's causing this?

Gatsby's Less config for webpack can be found [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-less/src/gatsby-node.js). You could install `gatsby-plugin-less` as a [local plugin](https://www.gatsbyjs.org/docs/plugin-authoring/#local-plugins).

And if you want to dig about in Gats

[2018-03-19 12:23] m-allanson commented on #3852
That does sound strange! If it's _only_ in production it can sometimes be a caching issue (of dependencies or whatever else). I guess next steps to try and narrow it down could be - can you recreate the issue using a private browser window? Or do you have a way to recreate your production environment locally, maybe using a virtual machine?

[2018-03-19 12:54] m-allanson commented on #4592
Thanks for the showcase link! I'm going to close this for now. If you wanted to, I'm sure people would be interested in a more detailed write up :)

[2018-03-19 12:54] #4592 closed

[2018-03-19 13:04] pieh commented on #4543
Right now I think this should be done in your project in places where it makes sense - as in your example for meta tags. Might be worth adding note about it in docs, but not sure if workaround You presented is the best one (relying on DOMParser - seems pretty heave for this).

[2018-03-19 13:58] thundernixon commented on #2796
I'm running into this issue (or something very similar) on [my Gatsby-based blog](https://typefloundry.com/).

Here's what I get when I run `gatsby build`:

[code]

Maybe this is due to my blog being fairly image-heavy? Still, I don't have _that_ many posts, and I can't imagine I have the most image-heavy Gatsby site out there.

Strangely, I ran into this issue yesterday but got past it after upda

[2018-03-19 15:51] lightstrike opened #4608 "Deploy preview for using-wordpress"
As I was getting together #4538, I noticed deploy preview messages for `gatsbygram` and `using-drupal`. How do those work?

Would it be useful/helpful to get one set up for the `using-wordpress` example? Happy to help here, or getting the using-wordpress example back up in running in general to resolve #4398

[2018-03-19 16:00] lightstrike commented on #4543
Could a custom normalizer as explored in #3783 work?

[2018-03-19 16:03] m-allanson commented on #4537
This sounds good 👍 I'm not exactly sure on the differences between using `___NODE` and `child`/`parent`, but I guess that's as good a reason as any to add docs. When I've written plugins I've used the `child` and `parent` fields, because that's what some of the existing plugins seem to do, and as you mentioned there's not much documentation on using `___NODE`.

Is this change to ensure that Gatsby

[2018-03-19 16:07] AAverin commented on #3852
I guess I'll put this on investigation again, because I couldn't reproduce it with an incognito tab in Chrome. So could be it was some weird cached state that got reset, I don't know

[2018-03-19 16:09] KyleAMathews commented on #4583
@pauldotknopf looks like a promising approach!

[2018-03-19 16:29] shannonbux commented on #4373
What are CodePen snippets, @WebRuin? We'd love to get contributions in this area. A couple other design ideas for the docs:
* special design for "warnings"--see [Vue.js docs](https://vuejs.org/v2/guide/instance.html) for nice examples
* back and forward arrows at the bottom of the tutorials--again, see [Vue.js docs](https://vuejs.org/v2/guide/instance.html) for nice examples
* design for callout n

[2018-03-19 16:40] maxim-gofervent opened #4610 "Static html site without web server"
Is it possible with Gatsby build static HTML files ( For example manual, or local help site ), within which will possibly navigate without any web server?

I have tried to build my site, but see all files in it webserver oriented.

[2018-03-19 16:48] avinashs735 opened #4611 "Minified React error #62; visit http://facebook.github.io/react/ docs/error-decoder.html?"
Minified React error #62; visit http://facebook.github.io/react/  docs/error-decoder.html?invariant=62&args[]= for the full message or use the n  on-minified dev environment for full errors and additional helpful warnings.

I am unable to figure out the actual reason for this.....
![image](https://user-images.githubusercontent.com/34059263/37609544-6102b9be-2bc3-11e8-91a8-4bbda855272f.png)

[2018-03-19 17:09] m-allanson commented on #4581
That error seems to occur if you have multiple versions of GraphQL, see https://github.com/gatsbyjs/gatsby/issues/2001. Can you see if that's what's happening in your case? `yarn list graphql` or `npm list graphql` should do it.

[2018-03-19 17:10] KyleAMathews commented on #4600
You should have a module that imports all the components and exposes them on an object e.g.

[code]

Then require that in and dynamically grab the right component.

[2018-03-19 17:10] #4600 closed

[2018-03-19 17:56] sethwilsonUS opened #4612 "render tags in blog post"
Hello!

Thanks for the excellent documentation on adding tags to a blog here:
https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/

I'm brand new to React, and so I'm stumped as to how to get the last optional step of rendering the tags within a blog post.

Within my `src/templates/blog-posts.js` file I have the following line:

`<p>{post.frontmatter.tags}</p>`

Which works, but

[2018-03-19 18:59] shoesandsocks commented on #4612
I'm pretty much a newbie myself, and used that same page. It sounds like you've followed it far enough to get the gatsby.node file to create pages for `tag/foo`, `tag/bar`, etc?

There's a couple ways to render an array in React; here's something I've done. Instead of rendering `post.frontmatter.tags` in a `<p>` element, use `.map()` to sort of "unroll" the array like this (I'm omitting most all t

[2018-03-19 19:05] shoesandsocks commented on #4612
(update: Using the array `index` as a unique React element's `key` is a bad practice because things will foul up rapidly if you're adding and removing elements interactively. In this case I can't imagine that would happen... it might be academically-preferred to use the `tag` itself as the unique `key`. Assuming your tags aren't duplicates... Hm... )

[2018-03-19 19:44] nrdobie opened #4614 "filter mapped data"
## Description

I am trying to create a `/blog/authors/{authorID}/` page that will show author details and posts by the author.

### Steps to reproduce

**`gatsby-config`**

[code]

**`data/authors.yaml`**

[code]

**`blog/2016-08-13-post-one.md`**

[code]

### Expected result

In GraphiQL I would expect this

[code]
[code]

### Actual result

Here's the actual result

[code]

### Environment

* G

[2018-03-19 20:11] KyleAMathews commented on #4614
This is what we do for gatsbyjs.org. I assume you've looked at our implementation there?

[2018-03-19 20:29] m-allanson commented on #4611
Based on the error message at https://reactjs.org/docs/error-decoder.html?invariant=62&args[]=, it looks like you're doing something like:

[code]

instead of:

[code]

It looks like you're using Styled Components, so it may be something to do with how that's set up. Can you push up a minimal test repo that reproduces this error?

[2018-03-19 21:30] sielay commented on #4596
Turned out that it did not work for me for different reason. Made PR to expose errors https://github.com/gatsbyjs/gatsby/pull/4618 with more detail.

[2018-03-19 22:04] tremby commented on #1502
I'm looking for exactly this too. Have you posted your work in progress anywhere? Do you need any help?

[2018-03-19 22:19] marcobiedermann commented on #4394
Merged in https://github.com/marcobiedermann/gatsby-plugin-svg-sprite/pull/2 for `gatsby-plugin-svg-sprite` by @DirtyF

[2018-03-19 22:48] KyleAMathews commented on #4373
https://codepen.io/pens/<-- some examples of pens.

[2018-03-19 22:49] #4597 closed

[2018-03-19 22:56] KyleAMathews commented on #4591
Yeah, making the Docker image work for both development and production usages could make sense. They're the same thing except production use also needs Nginx to host the site.

@aripalo what do you think? Would you be interested in working together with @spawnia on something?

[2018-03-19 23:11] KyleAMathews commented on #3830
Sounds like a cool project!

Layouts would just be normal component. You'd just wrap your page component with the layout component of choice. If you want users to be able to select a layout component, you could add logic for that to your `createPage` calls to pick the right page component.

[2018-03-20 00:19] m-allanson commented on #4311
Following up from the maintainer summit a week ago, there was some great discussion on this. Here's what I took away from the session:

The aim is to make it easier for new and existing contributors to work on Gatsby without adding too much admin overhead. The broad areas discussed were:

- Type: labels like `bug`, `discussion`, `feature request`
- Status: lables like `needs repro`, `ready`
- Misc

[2018-03-20 00:40] KyleAMathews commented on #4311
@m-allanson looks great! There's a nice new shiny RFCs repo you can toss this into ;-) https://github.com/gatsbyjs/rfcs

[2018-03-20 01:26] sethwilsonUS commented on #4612
@shoesandsocks thanks! That mostly seemed to do the trick, though it took a little wiggling. Here's what I ended up with:

[code]

Now the only problem I'm having is that, no matter how I try to change it, the `textDecoration: 'none'` doesn't seem to want to take effect--the underline disappears on hover, but I want it gone entirely.

But that's minor. Mostly in business now! I'll only get better

[2018-03-20 01:42] sethwilsonUS commented on #4612
__Update__: So I tried changing the `textDecoration: 'none'` to `textDecoration: 'overline'`, and lo and behold the link then showed up with BOTH an underline and an overline. So the `textDecoration` parameter does seem to have an effect, but it's being overrides by something, possibly `a`? I tried changing the `Link` to an `a` but I got other ill effects and I still don't think it worked. Curiose

[2018-03-20 01:47] madcatsu opened #4621 "404 and SW fallback pages are included in sitemap.xml"
## Description

gatsby-plugin-sitemap includes `dev-404-page`, `offline-plugin-app-shell-fallback`, `404` and `404.html` in generated sitemap. See comment on Issue #4562 by @prince0203

### Steps to reproduce

Include gatsby-plugin-sitemap in gatsby-config.js with the following GraphQL query:

[code]

### Expected result

404 and offline service worker pages should be excluded from the generated s

[2018-03-20 04:58] rockmandash opened #4623 "Adding Path Prefix breaks styled-components in production."
Adding Path Prefix breaks styled-components in production.
The style is broken, no console error.
However, without path prefix, everything is fine.
e.g.
test.com -> fine
test.com/test -> style breaks when using styled-components

[2018-03-20 05:18] lowmess commented on #4394
@jlengstorf Opened #4622 before seeing this issue and that the task was already on your roadmap. feel free to adjust/suggest wording or close the issue if it's not what was in mind.

[2018-03-20 06:26] felipearosemena commented on #461
Any news on upgrading webpack?

[2018-03-20 06:55] gnunua commented on #4486
Thanks for your replay @m-allanson. You are right, the problem was in npm config.  Just configured registry and everything works great.

[2018-03-20 08:03] Scionar commented on #3535
Hi. Has there been any progress for this?

[2018-03-20 08:44] m-allanson commented on #461
See https://github.com/gatsbyjs/gatsby/pull/4588

[2018-03-20 08:45] m-allanson commented on #4486
Great!

[2018-03-20 08:45] #4486 closed

[2018-03-20 09:40] nihgwu commented on #4394
I think we should support versioned plugin, I'm planning publish some of my own plugins but realize that they are for Gatsby V2

for example packages for Sublime Text
![image](https://user-images.githubusercontent.com/2595058/37646850-b9ce89b8-2c65-11e8-8627-512808a2a411.png)

[2018-03-20 09:44] malekjaroslav commented on #3067
I have the same problem

[2018-03-20 10:03] rockmandash commented on #4623
I am so sorry that I just found out with or without path prefix, the production style will break anyway.

[2018-03-20 10:34] LeKoArts commented on #4610
Gatsby is a static site generator. So what you build is(!) static HTML & JS

[2018-03-20 10:40] m-allanson commented on #3972
Closing this as there's no further action to be taken here. Please re-open or create a new issue if I'm wrong :)

[2018-03-20 10:40] #3972 closed

[2018-03-20 10:42] m-allanson commented on #3314
Closing this as there's no further action to be taken here. Please re-open or create a new issue if I'm wrong :)

[2018-03-20 10:42] #3314 closed

[2018-03-20 10:42] maxim-gofervent commented on #4610
But is there any way to deploy into a local folder?
And then just open my index.html page ( in this folder )  in a browser and navigate through my static site ( with file:// ) ?

As I see now, after I have created the test site and built it, then for page2 I see was created the folder with the index.html file inside.
http://prntscr.com/itprwr

[2018-03-20 10:48] m-allanson commented on #4590
Hey @benjaminhoffman 👋 I think this can be fixed with the following steps: https://github.com/gatsbyjs/gatsby/issues/3931#issuecomment-364414141

[2018-03-20 10:52] m-allanson commented on #3780
It looks like @chadwatson's error was fixed by following these steps to add async / await support: https://github.com/gatsbyjs/gatsby/issues/3931#issuecomment-364414141

[2018-03-20 11:12] m-allanson commented on #4002
This has been fixed in PrismJS 🎉. Once the fix is released [`gatsby-prism-remark` will need to be updated here](https://github.com/gatsbyjs/gatsby/blob/888d3e6dbcccf3fe986137bbd027f6ff1d99fa84/packages/gatsby-remark-prismjs/package.json#L12).

[2018-03-20 11:22] #2645 closed

[2018-03-20 11:31] rockmandash commented on #4623
I think the problem is GatsbyJS doesn't support Fragment, so it missed several ids, so the stylesheet looks weird.

[2018-03-20 11:31] #4623 closed

[2018-03-20 11:34] d33con commented on #4581
Yeah, that's fixed it. Thanks! There's quite a lot of different solutions in that linked issue but this is what worked for me

https://github.com/gatsbyjs/gatsby/issues/2001#issuecomment-353098959
[code]

[2018-03-20 11:34] #4581 closed

[2018-03-20 11:44] chadwatson commented on #3780
@m-allanson thank you so much for your help!

[2018-03-20 12:07] m-allanson commented on #4394
@lowmess @jlengstorf I merged #4622 and checked it off at the top of this issue.

[2018-03-20 13:00] m-allanson commented on #4610
You can use `gatsby build` to build the local site. Then `gatsby serve` to browse your local site. https://www.gatsbyjs.org/packages/gatsby-cli/#serve

[2018-03-20 13:37] maxim-gofervent commented on #4610
I need to have it works without a server. Just folder and .html files

[2018-03-20 13:42] jquense commented on #4610
That is what is produced when you run build files in a folder. You can just open the files. Likely the urls aren't going to work because the file protocol is relative to the root of the file system. That problem is true of any attempt to run a site that way tho not specific to gatsby

[2018-03-20 13:43] maxim-gofervent commented on #4610
So then there is no solution with gatsby for me?

[2018-03-20 13:45] pieh commented on #4610
Maybe you could explore trying to create desktop app from your build with https://github.com/electron-userland/electron-packager ?

[2018-03-20 13:47] vojtechruz opened #4624 "Traced SVG for gatsby-remark-images"
I am using Traced SVG option from gatsby-image for my non-article images and I love it.

However for my markdown images, there is only available blur-up effect, which means image loading is inconsistent. It would be nice to have traced svg also for gatsby-remark-images.

[2018-03-20 13:50] maxim-gofervent commented on #4610
It's a good suggestion, but I need to do it somehow together with react.js

[2018-03-20 14:04] jquense commented on #4610
my point is that it's just as feasible as running any site from the filesystem. If you write your urls/links in a way that works then it'll work, same as if you wrote the site by hand in html. Gatsby produces all the static files you need. run build, and open up any of the html files and see what doesn't work and adjust your site. The process would be the same other site. The only gatsby specific

[2018-03-20 14:29] cmwall commented on #2894
Even with the merged PR (https://github.com/gatsbyjs/gatsby/pull/3995), the script is still being added to the end of the body for me.

The head component never gets the script.

[code]

Any ideas on what I'm doing wrong here?

[2018-03-20 15:55] chmac opened #4625 "Any way to reduce the size of `__webpack_require__()` in the bundle?"
## Description

I have a site with ~3.5k, pages loaded from markdown. My `app-*,js` bundle file is ~2.7M. It is not minified because it's >500KB.

I've broken it into chunks, and about 1.5M of the file is repeating sections like this:

[code]

Is there any way to reduce the size of these repeated sections? There are 62k lines in the file like this, and they're almost all identical. I guess uglify

[2018-03-20 17:19] chmac opened #4626 "Proposal: Deterministic loading of data from path"
**tl;dr** Could we remove the map of `path` to data file in `app-*.js` and instead try to fetch data by converting the link `path` to a data filename, handling 404s if it doesn't exist, etc?

## History

I'm experimenting with a Gatsby site that has ~3.5k pages. The bundle sizes are like so:

[code]

I haven't fully understood Gatsby's data structure, but checking the network tools shows that `app

[2018-03-20 18:17] pieh commented on #4626
AFAIK only reason hashes need to be there is exactly for cache busting. I am actually currently working on speeding up build process and am touching this part there (but no real change there - map to files is still dumped to single file). I'd be interested to hear ideas how we could handle that so it would scale nicer (but not by removing hashes from files :) ).

[2018-03-20 18:32] pieh commented on #4625
I'll close this in favour of more detailed https://github.com/gatsbyjs/gatsby/issues/4626 . Problem described there is most of what cause app bundle size scaling problems

[2018-03-20 18:32] #4625 closed

[2018-03-20 18:33] nrdobie commented on #4614
I looked again and it looks like you guys are doing the filtering in JavaScript rather than your query.

[code]

[Code Link](https://github.com/gatsbyjs/gatsby/blob/b7987193e5ef3b4da17db2a08fdc442763e666fa/www/src/templates/template-contributor-page.js#L59-L71)

[2018-03-20 18:41] pieh commented on #4614
I somehow missed this is about filtering mapped fields. Yeah currently gatsby doesn't support that properly - we create input schema (types used in filters) using data without handling mapping, but actual filtering is done using mapped types, so this can't work right now.

To make this work, we would need to adjust input schema for mapped types here - https://github.com/gatsbyjs/gatsby/blob/master

[2018-03-20 18:47] pieh commented on #4624
Hey @vojtechruz , You can create PR adding support for more options to markdown images. Relevant code is here - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js

[2018-03-20 18:49] azamatsmith commented on #3348
I've been using [this](https://github.com/alampros/gatsby-plugin-resolve-src) plugin, and it seems to work great.

https://github.com/alampros/gatsby-plugin-resolve-src

[2018-03-20 18:54] pieh commented on #2894
@cmwall can You confirm your `gatsby-plugin-google-analytics` version is at least `1.0.19` ?

[2018-03-20 19:39] ChrisSki commented on #4067
I'm currently getting this issue only in production. Not when I build and serve locally. I have deleted my node_modules, .cache and public folders.

Gatsby: 1.9.238
Node: 8.9.1
MacOS: 10.13.3

[2018-03-20 19:48] pieh commented on #4621
Hey @madcatsu, would you be interested in submitting PR updating defaults? Or maybe even better - adjusting code so it matches for both paths with trailing slash and without one?

[2018-03-20 20:38] jwicks commented on #3327
I resolved this by running `rm -rf node_modules`, `rm package-lock.json` and `npm install`

[2018-03-20 20:50] vinniejames commented on #4626
This would be a nice feature as well. I the docs, it looks like maybe it could override the $path variable in the template, instead using the filesystem path

[2018-03-20 21:03] sebastienfi opened #4629 "Suggestions about a CMS that would manage Markdown pages for Gatsby ?"
## Description

I will soon implement a Gatsby site based on Markdown. I am looking for suggestions on how to provide the editors ability to create pages and edit contents, upload images, etc.
My initial idea is to host the markdown on GitHub and have the editors use the GitHub UI. Do you guys have better suggestions ? The GIT commands should be wrapped in UI as my editors don't know what a termin

[2018-03-20 21:14] madcatsu commented on #4621
@pieh I believe this one might be best left to someone with more experience in contributing to Gatsby following the standard process. I'd be happy to just fork and submit a PR with @prince0203 proposed changes if someone else has time to test otherwise.

[2018-03-20 21:18] chmac commented on #4626
@pieh Is your work in a branch somewhere that I could use as a starting point to try and dig into this?

I fear that this comes from deep in Gatsby's architecture and so could be difficult to change / refactor. I'm definitely willing to dig into it and see what I can figure out.

[2018-03-20 21:44] pieh commented on #4626
@chmac My branch is here https://github.com/pieh/gatsby/tree/json-loader

More context about it - together with @m-allanson we are working on speeding up build and develop process by removing bundling and loading json data (results of queries) out of webpack and doing that directly by gatsby. So this actually doesn't focus on reducing app bundle size, but I do small change to `async-requires.js` w

[2018-03-20 23:27] jayalfredprufrock commented on #3912
I'm experiencing this issue as well and it does seem to be some kind of conflict with the styled-components gatsby plugin since I never had this problem using ProvidePlugin with React and styled-components in non gatsby projects.

Ultimately though it's not a huge deal. Perhaps when support for webpack 4 drops this problem will magically go away...

[2018-03-20 23:56] shannonbux commented on #4373
AH cool, @WebRuin! Codepen snippets seem great. I took some codecademy tutorials and the tutorials exist on one column of the screen (left) and the middle column is a code editor, and the right column is the browser. It was super helpful although made me wish I had a larger screen, which is why doing codepen snippets would probably involve figuring out how they'd fit into gatsbyjs.org's responsive

[2018-03-21 00:03] shannonbux commented on #4394
@nihgwu Can you explain more about this? Do you mean you want the plugin library to show what version of Gatsby the plugin is compatible with?

[2018-03-21 00:15] shannonbux commented on #4341
Updating this issue with a task list:
The sidebar is getting too long. We need to restructure the guides by
- [ ] adding a second level of navigation with clear content categories and types
- [ ] organize existing documents into new categories
- [ ] publicize a way to place future docs into the right categories
![mvimg_20180314_180540](https://user-images.githubusercontent.com/32467162/37689324-f9

[2018-03-21 03:50] nihgwu commented on #4394
@shannonbux exactly

[2018-03-21 04:26] zanedev commented on #4629
@sebastienfi go with [NetlifyCMS](https://www.netlifycms.org/) it can manage markdown and images with ease.

[2018-03-21 06:35] guayom opened #4631 "Add attribute draggable to images created with gatsby-image"
## Description
I can't find the way to add the attribute `draggable="false"` to images with gatsby-image

### Steps to reproduce

This markup creates image tags that don't have the attribute "draggable"

[code]

### Expected result

I would expect to have a way to add the attribute "draggable" to images created with gatsby-image.

### Actual result

The only way I found, was to add it via css on a

[2018-03-21 07:11] RickyRomero commented on #4476
Sorry for the delayed response, looks like I'm not getting GitHub notifications.

Just to follow up on this... It's working now? I didn't change anything, but I did restart my iMac between the time I made this bug report and now. Gatsby's picking up changes as intended.

[2018-03-21 07:11] #4476 closed

[2018-03-21 07:35] m-allanson commented on #4476
Ok, I’m glad things worked out :)

[2018-03-21 09:26] chibicode commented on #2846
@Undistraction @KyleAMathews I believe this is now possible as #312 is resolved.

https://using-remark.gatsbyjs.org/custom-components/

If you want to use your custom `<Paragraph>` component to replace `<p>` tags, do this:

[code]

I can add this use case to [the documentation](https://using-remark.gatsbyjs.org/custom-components/) if @KyleAMathews thinks this would be helpful.

[2018-03-21 10:25] m-allanson commented on #4120
Reopening as these docs could still be exposed as part of gatsbyjs.org. See https://github.com/gatsbyjs/gatsby/issues/4120#issuecomment-370545006

[2018-03-21 11:31] m-allanson commented on #4311
RFC #1 is up at https://github.com/gatsbyjs/rfcs/pull/1

[2018-03-21 12:54] sebastienfi commented on #4629
@zanedev Netlify CMS looks good. Thanks for the input!

Anybody knows any good alternative ?

[2018-03-21 13:51] CharlyJazz opened #4636 "Redudant service worker bug"
![image](https://user-images.githubusercontent.com/12489333/37713389-2e9d08dc-2ced-11e8-8292-120aa5831eaa.png)

 When recharge by gatsby website:

Configuration:

[code]

Site: https://5ab2502c0b79b74dd086b74b--festive-mestorf-04611b.netlify.com/

[2018-03-21 15:03] iwarner commented on #3774
@KyleAMathews

I have a similar issue when running tests aagainst a Navbar component from my UI library that requires Gatsby-link

Gatsby, Link and CLI was  is installed in the UI NPM package but results in:

    Error: Uncaught [TypeError: Cannot read property 'history' of undefined]

   TypeError: Cannot read property 'history' of undefined

So for testing purposes is it possible to switch of th

[2018-03-21 15:09] chmac commented on #4038
FYI, I believe the field `slug` is also an opaque requirement of the gatsby-plugin-feed according to my reading of [this](https://github.com/gatsbyjs/gatsby/blob/47a35aad300b9789ed328146fb71449652f4d101/packages/gatsby-plugin-feed/src/gatsby-node.js#L14-L15).

[2018-03-21 15:32] mdotasia commented on #778
@0x80 How did you attach debugger to `gatsby develop`?

[2018-03-21 15:55] chmac opened #4637 "Proposal: Replace _.kebabCase() with a different function"
I believe a page's `path` is converted to its file name via `_.kebabCase()` [in](https://github.com/gatsbyjs/gatsby/blob/47a35aad300b9789ed328146fb71449652f4d101/packages/gatsby/cache-dir/static-entry.js#L28) [a](https://github.com/gatsbyjs/gatsby/blob/47a35aad300b9789ed328146fb71449652f4d101/packages/gatsby/src/redux/actions.js#L232) [few](https://github.com/gatsbyjs/gatsby/blob/47a35aad300b9789e

[2018-03-21 16:05] KyleAMathews commented on #4631
Hmmm yeah, we're not passing down additional attributes like this https://github.com/gatsbyjs/gatsby/blob/47a35aad300b9789ed328146fb71449652f4d101/packages/gatsby-image/src/index.js#L384

Would you be interested in creating a PR to fix this? You can follow the pattern for passing in extra props described here https://reactjs.org/warnings/unknown-prop.html

[2018-03-21 16:07] KyleAMathews commented on #2846
@chibicode thanks for the offer! Yeah, that page doesn't really talk about overriding default dom components so this would be a nice addition.

[2018-03-21 16:19] shannonbux commented on #4455
@calcsam can you describe the friction that we'd be trying to reduce here?

[2018-03-21 16:20] guayom commented on #4631
Sure, I'll give it a try. It might take me some time, because I'm not very experienced with react.

[2018-03-21 16:23] zanedev commented on #4629
Unfortunately there is nothing open source that is as flexible or feature rich as NetlifyCMS, the rest are all really basic or paid solutions.  Here you can see a good comparison of the alternatives:

[https://headlesscms.org/](https://headlesscms.org/)

[2018-03-21 16:23] KyleAMathews commented on #4629
Many headless CMSs support markdown as well. Check out these posts https://www.gatsbyjs.org/blog/2018-2-3-sites-with-headless-cms/ https://www.gatsbyjs.org/blog/2018-2-6-choosing-a-back-end/

[2018-03-21 16:25] shannonbux commented on #3722
Just saw this issue, @njosefbeck! Thanks for the detailed write-up :) There is a new [plugin authoring page on gatsbyjs.org](https://www.gatsbyjs.org/docs/plugin-authoring/). Wondering if it addresses your issue--@jlengstorf any ideas on why he might be getting this issues?

[2018-03-21 16:27] KyleAMathews commented on #4636
Not sure — perhaps this Stackoverflow post can help? https://stackoverflow.com/questions/45694239/service-worker-is-installing-with-every-page-reload-though-the-sw-js-did-not-c?rq=1

[2018-03-21 16:28] CharlyJazz commented on #4636
I do not know, this kind of thing does not happen in create-react-app or in workbox. I had to migrate my entire site.

[2018-03-21 16:29] KyleAMathews commented on #4637
Oh hmmm — you're right. Any suggestions on a better option?

[2018-03-21 16:30] shannonbux opened #4640 "Create tags and categories for the blog"
## Description

As the Gatsbyjs.org blog grows, it'd be nice and probably eventually essential to have tags and categories. Suggestions on how to get this accomplished?

[2018-03-21 16:41] KyleAMathews commented on #4640
It's a fairly easy thing to add on design/programming — we even have a tutorial :-) https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/

I think the main thing we need to do at this point is to come up with a starter list of categories / tags.

[2018-03-21 16:51] imshuffling opened #4643 "Rendering webp images using GatsbyContentfulSizes_withWebp"
Trying to render images using `GatsbyContentfulSizes_withWebp` but I cannot seem to get it to work.

![screen shot 2018-03-21 at 16 45 12](https://user-images.githubusercontent.com/739061/37723993-b65f05c4-2d27-11e8-8089-8307c3ea1342.png)

I've got `GatsbyContentfulSizes` pulling through the images ok, am i missing something?

References
https://using-contentful.gatsbyjs.org/image-api/
https://usi

[2018-03-21 17:08] shannonbux commented on #4640
by "starter list" do you mean initial list? Or categories/tags for starters? @KyleAMathews

[2018-03-21 17:16] shannonbux opened #4644 "GatsbyJS Newsletter"
## Description

We have a lot of people signed up through MailChimp to receive a GatsbyJS newsletter, and they haven't received anything yet :) which means we need to actually write newsletters. Suggestions on the following?

Format:
* Product announcements, new features
* Bug fixes
* Site highlight of the week + interview with site's creator
* New docs / tutorials / UX projects that have been fin

[2018-03-21 17:21] KyleAMathews commented on #4637
Yeah, would love it if you could do some research!

[2018-03-21 17:23] KyleAMathews commented on #4640
Yeah, initial list of tags/categories — e.g. look through our blog posts right now and decide what's a minimal taxonomy for describing the content there + ones we'll probably have in the future. It doesn't have to be perfect as they're easy to change.

[2018-03-21 17:53] benjamingeorge opened #4645 "Pass LESS plugins to gatsby-plugin-less"
I want to add a LESS specific plugin (https://github.com/seven-phases-max/less-plugin-lists) to gatsby-plugin-less.

I've installed via NPM and in my gatsby-config.js
[code]

however I get this error

[code]

Is there a way to pass plugins to the LESS compiler ? I've tried other LESS specific plugins in the same manner but I get the same error.

[2018-03-21 18:02] shannonbux commented on #4394
@KyleAMathews just updated your checklist to reflect that PR's have been made and/or merged for the entire list of plugins! Wait to go everyone.

@fk and @jlengstorf what do we have left to do to close this issue? Are your checklists at the top of this issue updated? Happy to help where I can.

[2018-03-21 18:23] cmwall commented on #2894
That was the problem. Thanks! @pieh

[2018-03-21 18:42] #4629 closed

[2018-03-21 18:58] ChristoRibeiro commented on #4357
@m-allanson any idea how to make it work?

[2018-03-21 20:06] calcsam opened #4647 "Add semicolons after Flow type expressions to restore syntax highlighting"
Our lack of semicolons on Flow `Type` expressions like eg `type Plugin = { name: string, }` (see eg https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/redux/actions.js#L77) causes syntax highlighting to fail in Sublime Text, as documented in https://github.com/babel/babel-sublime/issues/309. If we add semicolons in, highlighting works again.

A couple screenshots from my local envi

[2018-03-21 20:09] KyleAMathews commented on #4647
We're a semicolon-less repo. Not sure adding semicolons in a handful of spots to workaround a bug in a editor's syntax highlighting makes sense?

[2018-03-21 20:23] lmaddio opened #4649 "Creating custom graphql nodes after fs changes in onPreBootstrap"
I am using onPreBootstrap for reading some json and generating new ones from their content, saving them in a folder inside `src`, like a plugin would do. I wanna that new jsons to be available to graphql but they never do, I am using onCreateNode for generating the new node as `gatsby-transformer-json` does (I can't use this plugin because it never reads my new json files, everything in onPreBoots

[2018-03-21 20:58] oskareke commented on #1645
This only works for array-type fields like tags, looking for a string in array, like in Alxandrs example doesn't work. Would be very neat...

[2018-03-21 21:04] jlengstorf commented on #3722
@njosefbeck have you done a diff between the plugins version and the node_modules version to make sure they're identical?

If they're identical, then I'm not sure what's up. It shouldn't be possible for the same code to work differently, so this will be a weird one to track down. Let us know if that didn't come back clean.

[2018-03-21 21:10] jlengstorf commented on #4394
@shannonbux I need to write the README template still, and I haven't done anything about the Algolia notes.

I also think we discussed keeping plugins instead of packages even though it's technically more than plugins.

Maybe those should be tracked in separate issues (the README already is) and close this?

[2018-03-21 21:31] martynhoyer opened #4650 "[question] Querying allMarkdownRemark for multiple datasets"
I'm just after some advice or an idea of the best practice to achieve something. I have these two queries working in GraphiQL:

[code]

The first is looking for all pages that match on the `legal` template, for mapping over and putting in the footer (privacy policy, cookies, etc.).

The second is getting all the pages that have been marked as appearing on the main navigation, so I can build a dyna

[2018-03-21 22:19] LeKoArts commented on #4650
You can use aliasing:
http://graphql.org/learn/queries/#aliases

[code]

[2018-03-21 23:18] shannonbux commented on #4394
will do tomorrow! Thanks!

[2018-03-22 02:16] pauldotknopf opened #4651 "Using page-specific data on layouts."
It doesn't look like it's possible, but I just wanted to clarify.

I have a common layout for my pages. I'd like to hide/show components, add classes to body, etc, on this layout for specific pages.

For example, some front matter properties.

1. ```showGutter```: Add/remove body class that changes style a little.
2. ```showMenu```: Show or hide a common side menu.

I don't mind configuring these

[2018-03-22 03:33] tlvenn opened #4652 "Add support for inlining fonts"
If i am not mistaken, it's not possible or easy to inline a given set of fonts with Gatsby at the moment. It would be great if this could be added.

[2018-03-22 07:38] martynhoyer commented on #4650
Oh that's awesome! Thank you so much!

[2018-03-22 07:38] #4650 closed

[2018-03-22 10:05] madox2 commented on #2628
I had the same problem. I have fixed it by moving image sharp query from `createPages` to template component query (in `blog.js`) and it worked for me.

However this is just workaround, it would be nice to resize images directly in `createPages`

[2018-03-22 10:47] benedfit commented on #4055
It would appear that the sheer volume of nodes is what's causing the bottlenecks. I'm not investigating alternate storage methods that bypass graphql

[2018-03-22 10:47] #4055 closed

[2018-03-22 12:14] vojtechruz opened #4653 "gatsby-plugin-feed unusable for article images."
I am using gatsby-plugin-feed to generate my RSS feed. I am using markdown files as sources. These files contain images.

When gatsby site and the RSS is built, all the images are replaced with a version with appended hash so the filename is unique between builds. This link is also used for images in RSS.

This means whenever I update my site or release a new post, all the images have new names -

[2018-03-22 13:10] mbavio opened #4654 "[gatsby-image] Position prop not being used"
I need the `.gatsby-image-outer-wrapper` element to have absolute positioning. By default, [it's positioned as relative](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L227). According to that line, you can change it by using the styles object.

But there's also an [optional position props](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/

[2018-03-22 13:12] nenu-git commented on #4186
I have the same issue on Windows 10 using Chrome.

HMR was working just fine, and stopped working for unknown reason (didn't change any package or something).

The strange thing about it is that when I kill `gatsby develop` (ctrl + c), I have the `[HMR] connected` message in the console.

When I check on the `Network` tab of the dev console, I can see that `__webpack_hmr` status is `(pending)`:

!

[2018-03-22 13:41] zionis137 commented on #4652
Do you mean something like this:
https://github.com/KyleAMathews/typefaces

[2018-03-22 14:24] chmac commented on #4637
Turns out this is more complicated than I initially thought. First, the path part of a URL is case sensitive. The majority of macOS machines (presumably where most Gatsby development is done) have a case insensitive filesystem by default. Oh joy.

Second, URL paths permit alphanumerics `[0-9a-zA-Z]` and some special characters characters `$-_.+!*'(),` without encoding. Plus the `%` to allow encodi

[2018-03-22 14:53] BeomyeonAndrewKim commented on #4636
I have same issue but just at Chrome.
So, I think this issue is related with Chrome.

But, still I do not know how to deal it.

[2018-03-22 14:56] vjpr commented on #1905
Why not jus add `regenerator-runtime` to `package.json` for `gatsby-cli`?

[2018-03-22 14:57] CharlyJazz commented on #4636
Workbox

2018-03-22 10:53 GMT-04:00 Andrea Kim <notifications@github.com>:

[2018-03-22 15:01] moshie commented on #3450
I am sort of stuck / out of my depth with this one.
Can't think of a clean way of integrating custom normalisers with the already coded ones.
I would appreciate a hand in making this happen.

[2018-03-22 15:07] vjpr opened #4656 "`request` should be added to `gatsby` package.json"

[2018-03-22 15:22] tlvenn commented on #4652
unless I am missing something, those fonts are self hosted but not inlined in the page itself using base64.

I was kinda thinking of leveraging something like that: https://www.npmjs.com/package/base64-inline-loader

[2018-03-22 15:30] vjpr opened #4657 "`createErrorFromString` is broken"
https://github.com/gatsbyjs/gatsby/blob/1bb179e9f55dcb7d396ed8c616366611bf621222/packages/gatsby-cli/src/reporter/errors.js#L53-L74

## Description

Describe the issue or the enhancement that you want to see.

### Steps to reproduce

- Delete a package that gatsby depends on such as `babel-core` from your `node_modules`.

### Expected result

These are the webpack errors that were hidden. They sho

[2018-03-22 15:39] ChrisSki commented on #4067
@fpoumian did you find a fix for this?

[2018-03-22 18:19] mxlje commented on #529
I just ran into this and think it is worth discussing again.

In my opinion the public folder should contain generated code and generated code only, so that it is safe to add it to `.gitignore`. Changes to the public folder have to be overwritten during the next build.

As was already mentioned, the `static` folder exists to copy static files (like maybe `robots.txt`, or a favicon) to the final bu

[2018-03-22 18:22] baba43 commented on #529
I agree, that this feature would be nice to have, but it is also very simple for deverlopers to add:

`const rimraf = require('rimraf');

const PUBLIC_FOLDER = `${__dirname}/public`;

exports.onPreBuild = () => {
  // empty /public folder
  rimraf.sync(PUBLIC_FOLDER + '/*');
};`

[2018-03-22 18:30] KyleAMathews commented on #2628
Why would you want to resize images when creating pages?

[2018-03-22 18:34] KyleAMathews commented on #4653
The hash part of the name is a hash of the image file so shouldn't change between builds. If they are, that's a bug we should fix.

[2018-03-22 18:37] KyleAMathews commented on #4637
Perhaps we should just validate against paths that overlap? And use another casing scheme that doesn't make _foo and foo conflict.

[2018-03-22 18:44] jlyman commented on #529
I'm kind of thinking of it from the perspective of the principle of least surprise. There's already starting to be an established pattern for this (only HTML files are deleted), but it seems like, without consulting the docs, this might be a "surprising" outcome.

Seems like the principle of least surprise would just be that a static site generator would generate a fresh and whole copy of the stat

[2018-03-22 18:58] pieh commented on #529
Keep in mind that deleting `public` directory will cause regenerating responsive images when using `gatsby-ransformer-sharp` with every build. Right now plugin can skip that if image is already there.

[2018-03-22 18:59] chmac commented on #4626
@pieh Awesome, thanks for the tips, that's a huge help. I've spent a few days deep diving into this stuff.

Here's what I've understood (please correct me if I've misunderstood any of this stuff, it's a real possibility).

* The `json-loader` branch moves data out of webpack
* A new `jsonName` property is added to pages
* A map of `jsonName` to `.json` file name is written to `static-data-paths.js

[2018-03-22 19:04] jlyman commented on #529
Totally shooting from the hip here, but maybe @pieh's case of cached resources would be a good situation where a separate `.cache` folder might be appropriate, similar to Webpack's caching strategy? Downside would be increased storage requirements for the building computer, but you might be able to resist regenerating all images or other resource-intensive operations while still maintaining a prod

[2018-03-22 19:05] chmac commented on #4637
Hmm, that's an interesting idea.

I was coming at this from #4626. That lead me to  think about a deterministic way of converting a `path` to an ID and back. But if I put that goal aside for a second (it's probably impossible anyway), then collision detection would definitely be possible. We could use something like [github-slugger](https://www.npmjs.com/package/github-slugger) to get IDs like `fo

[2018-03-22 19:09] mxlje commented on #529
I agree with @jlyman. While it certainly is easy to implement, it’s not how code generation tools are generally expected to behave.

The case of image transformation brought up by @pieh is certainly interesting. Maybe gatsby could delete everything by default but expose an API for plugins to mark certain output folders as „sticky“ during the build? These plugins would then have to implement a bett

[2018-03-22 19:11] pieh commented on #529
We could also add some logic of removing stale files (we would need to keep track what files are created during the build). But there are also some edge cases where having stale files is not a bad thing - consider situation:
User visits your page and is browsing through it, while he is on your page you push update with new files and deleting old ones - now user who keeps browsing will have broken

[2018-03-22 19:15] pieh commented on #4626
@chmac I was thinking about this a little and for initial load and mounting react components we don't need that map in app bundle or in html - we can delay loading that after initial component is mounted.

Not sure how we could approach chunking that map in the next step - how would we know what chunk we need to load to get path to data for given page?

[2018-03-22 19:40] chmac commented on #4626
Yes, loading it later makes sense. That will make it async anyway, which paves the way for fancier stuff.

Sharding, I'm thinking back to my WordPress days and database sharding on MySQL. We used to use a remarkably simple scheme that looked something like this:

[code]

Any hasing algo would work, and the only thing we need to know is the `shardLength`. In an ideal world, we could decide that at

[2018-03-22 19:58] jlyman commented on #529
Interesting, I hadn't thought about the publish change mid-browsing. I suppose it depends on if the hash of the file changes or not (haven't looked, don't know). If the page is gone because it was purposefully removed, we wouldn't want the user to be able to continue browsing to it. But if the page is legitimately still there but the user can't navigate to it anymore because the hash on the filena

[2018-03-22 20:05] pieh commented on #529
Hash changes when content changes - that's cache busting mechanism to avoid using cached stale data. Just so we are clear - I'm not against doing any work on this, but we have to be smart about it. There are for example ways to reload users browser when we push update (simplest would be periodically polling very small file with version of current site, and if it changes we can trigger browser relo

[2018-03-22 20:05] KyleAMathews commented on #4626
Lazy loading of the paths to page json files is the obvious next step. Sharding would be nice for really large sites. Ideally you'd shard by something like path names so a shard for `/blog/*`, as those are likely to be needed together. I don't think we need to worry about that right away though as with v2, the amount of data needed per page is something like 10x smaller so sharding would only be h

[2018-03-22 20:07] nrdobie commented on #4614
@pieh I can take a look at this tonight and see if I can figure it out.

[2018-03-22 20:10] KyleAMathews commented on #4637
IDs do matter for long-term caching — so we wouldn't want the order of calls to be significant.

How about instead we keep using kebabCase but we hash the original file name and use the first 3 characters from the resulting hash and append that to the jsonName? That'd be enough to differentiate between any name collisions kebabCase causes.

Thanks for noticing this! The problem you identified is b

[2018-03-22 20:24] KyleAMathews commented on #4657
Thanks for the issue! Let's definitely get this fixed. Hiding errors isn't a great idea :-)

Seems like the problem isn't there but where `createErrorFromString` is called — i.e. the caller should check if what it's passing to `createErrorFromString` is actually a string. If it's an array, it should loop over the array first.

Can you add a console.trace() to `createErrorFromString` to see who the

[2018-03-22 20:28] vjpr commented on #4657
Caller: https://github.com/gatsbyjs/gatsby/blob/1d48ad4ffa318c7b768b61dfd7abbabb191764f3/packages/gatsby/src/commands/develop-html.js#L29-L33

[2018-03-22 20:29] KyleAMathews commented on #3450
Could you get by with a new `normalize` option that got called with each entity after all the built-in ones are finished? That wouldn't complicate the code much and would let you fix urls and other normal tweaks.

[2018-03-22 20:31] KyleAMathews commented on #4657
Ok cool! Does looping over the errors there produce the error output you wanted? You can setup a dev environment for Gatsby by following the instructions here: https://www.gatsbyjs.org/docs/how-to-contribute/

[2018-03-22 20:32] #4621 closed

[2018-03-22 20:35] KyleAMathews commented on #4654
Oh weird, yeah that position prop isn't used. Don't remember how it showed up there. Would you like to remove that for us in a PR?

`position: initial` is only set if there's not something set in the style object right?

[2018-03-22 20:37] vjpr commented on #4657
This doesn't work.

[code]

Returning just the webpack error is better.

[2018-03-22 20:47] KyleAMathews commented on #4651
Yeah, layouts are a bit wonky so stuff like this is hard as you don't have access to page data. You'd need to add to the layout component which pages should have gutters/menus and then look at the props.location.pathname (the layout component's render function is called on every page change) to decide to show or hide menus.

We're removing the special layout component in v2 for this and other reas

[2018-03-22 20:47] #4651 closed

[2018-03-22 20:57] jquense commented on #4657
This may have to to with the most recent change to the error reporter?

[2018-03-22 21:02] KyleAMathews commented on #4649
If you want your generated JSON to be turned into nodes, you need to add gatsby-source-filesystem and point it at the generated JSON files.

https://www.gatsbyjs.org/packages/gatsby-source-filesystem/

[2018-03-22 21:02] #4649 closed

[2018-03-22 21:02] dustinhorton commented on #3348
@azamatsmith And when using that, how're you referencing local assets in CSS? Or were you just re-affirming my comment @ https://github.com/gatsbyjs/gatsby/issues/3348#issuecomment-354183282?

[2018-03-22 21:22] madox2 commented on #2628
In my case it is a matter of integration `gatsby-paginate` library. I need to display thumbnails in paginated posts list. I don't think the library uses best approach but I couldn't find any alternatives.

[2018-03-22 22:40] jarodtaylor opened #4660 "Page specific partials?"
## Description

More of a Question, I think.

How can we use page-specific "partials" to break your page code up? I know that we have the components directory, but I prefer to keep that to more globally shared components (e.g. `<Button>`, `<Article>`, etc.).

My index page has a LOT of sections and I'd prefer not to dump it all in one file.

I was hoping to do something like this:
[code]
This work

[2018-03-22 23:02] benjaminhoffman opened #4661 "`src/data` can't use es6 module import/exports?"
not sure if this is by design but this code:

[code]
gives this error:
[code]

but this works great!
[code]

At the bottom of this doc, it says putting a file within a `src` subdir will allow you to write es6. (https://www.gatsbyjs.org/docs/plugin-authoring/#local-plugins)

Is this by design or maybe I'm missing something?

[2018-03-22 23:06] pieh commented on #4660
If you prepend partial names with `_` underscore ( `_partialName.jsx`) gatsby won't create pages for them

[2018-03-22 23:06] KyleAMathews commented on #4661
You need a build step as the last part of that sentence describes. Node.js won't support import/export until Node 10 and only then in .mjs files.

[2018-03-22 23:06] #4661 closed

[2018-03-22 23:28] digitaldiy commented on #4175
Hope cms integration tutorials get a bit more priority as word press api integration, takes a lot of trial and error and a bit of magic to get working, the plugins documentation seems a tad out of date especially after finishing all the tutorials it really feels like being pushed in tat the deep end, great work on revamping the docs though but there is literally only one rough guide on word press

[2018-03-22 23:57] jquense commented on #4660
I wonder if we should revisit that convention for v2? It's a bit out of place in a react component world, but maybe it's reassuring or intuitive for folks coming form a different static site generator?

[2018-03-23 00:00] m-allanson commented on #4535
Thanks for the repro repo. Using that I can confirm that autoprefixer's changes are not being applied.
However, if I add:

[code]

to `src/layouts/index.scss`, it gets rewritten to:

[code]

which means `postCssFocus()` is being applied. I'm wondering if this is just an autoprefixer issue? Maybe related to https://github.com/gatsbyjs/gatsby/issues/1347 ?

[2018-03-23 00:03] tremby opened #4662 "gatsby-link should work as a regular anchor for off-site URLs"
## Description

It would make things simpler if I didn't have to care whether a given URL is somewhere on my website or whether it's an external link, and I could pass them to `gatsby-link` either way.

### Steps to reproduce

Add some links with `gatsby-link` to a page, one with its `to` parameter pointing to a site-local destination, another pointing somewhere external.

### Expected result

Bot

[2018-03-23 00:05] m-allanson commented on #864
@michaek Would you be able to do this using [Gatsby's custom webpack config hooks](https://www.gatsbyjs.org/docs/add-custom-webpack-config/)?

[2018-03-23 00:06] alampros commented on #3348
@CMCDragonkai - I think this is one of those old annoyances with webpack@v1 that we will have to live with until gatsby gets up to speed.

IIRC, old webpack might resolve `url()` paths if you set them to a SCSS variable first, and _then_ assign them to a property:

[code]
(disclaimer: I could be totally misremembering this)

Also, dumb question: have you checked that you have `url-loader` configur

[2018-03-23 00:13] SaintEmbers opened #4663 "DefinePlugin cannot be invoked without 'new'(similar previous solutions aren't working)"
I'm trying to add a plugin to webpack config through gatsby-node but I'm getting an error that says TypeError: Class constructor DefinePlugin cannot be invoked without 'new' ... The going solution is to have:
  exports.modifyWebpackConfig = ({ config, stage }) => {
    config.plugin("define-plugin", webpack.DefinePlugin, [{"global.GENTLY": false}])
    return config
  }
But it isn't working for me

[2018-03-23 00:20] KyleAMathews commented on #4663
Gatsby supports only webpack v1 btw.

[2018-03-23 00:29] m-allanson commented on #4570
development
NODE_ENV development
.env.development

staging
NODE_ENV production

production
NODE_ENV production

[2018-03-23 00:38] m-allanson commented on #4570
Hey @tremby, Can you tell me if I've understood your use case correctly? You've got these three environments:

### development environment
`NODE_ENV=development`

.env.development file:
[code]

### staging environment
`NODE_ENV=production`

.env.production file:
[code]

### production environment
`NODE_ENV=production`

.env.production file:
[code]

But in the staging environment you want `API_KEY`

[2018-03-23 00:45] tremby commented on #4570
That's right.

[2018-03-23 01:02] jarodtaylor commented on #4660
Thanks, @pieh! Not my favorite, but at least it works.

[2018-03-23 01:02] #4660 closed

[2018-03-23 02:25] KyleAMathews commented on #4660
@jquense what are you thinking? Only make pages from index.js components?

[2018-03-23 02:26] KyleAMathews commented on #4660
Or perhaps in subdirectories of pages, only make pages from index.js — I do really like doing src/pages/index.js, src/pages/about.js, etc.

[2018-03-23 02:27] frankoespa commented on #644
ghpages throws me an error **--->** fatal: A branch named 'master' already exists
PS C:\Users\frank\Desktop\Proyectos\perfil> npm run deploy

fatal: A branch named 'master' already exists.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! gatsby-starter-default@1.0.0 deploy: `gh-pages -d public -b master`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the gatsby-starter-default@1.0.0 deploy

[2018-03-23 03:59] jquense commented on #4660
I was just thinking treat all files regardless of underscores as pages and move "partials" to /components , partial is a werid concept in a component world yeah?

[2018-03-23 04:00] jquense commented on #4660
By "all" I mean all in pages/

[2018-03-23 04:09] iiitmanikanta opened #4664 "How to remove console.log statements from production builds ??"
can anyone tell me the configuration for removing **console.log()** statements from production builds ?

[2018-03-23 04:14] moonmeister commented on #4175
@digitaldiy That's a good point. There is a lack of good docs around 3rd party integrations.

@shannonbux I don't think it's realistic for gatsby to have to maintain docs for every conceivable 3rd party cms/plugin but is there away we could make space for community examples/tutorial contributions. Whether in the gatsby docs (maybe just adding a structure for them to plug into) or separate repos li

[2018-03-23 05:42] mbj36 opened #4665 "Specify path name as folder name"
Hi all, Thanks for making Gatsby

 In frontmatter, i don't want to specify path, means this path should come from folder name

`
---
path: "/coming-soon"
date: "2018-03-01"
author: "Mohit"
title: "Coming Soon"
tags : ["react"]
`

My folder structure
<img width="209" alt="screen shot 2018-03-23 at 10 58 50 am" src="https://user-images.githubusercontent.com/9936881/37813342-c24024ea-2e8a-11e8-94b4-e

[2018-03-23 06:00] vojtechruz commented on #4510
@m-allanson I experience the same issue. I have a project built on gatsby-starter-blog, you can try yourself just by removing the line
https://github.com/vojtechruz/vojtechruzicka-blog/blob/e82284abe808329cfd7cad25b7457217797eb150/gatsby-config.js#L32
backgroundColor: "transparent"

[2018-03-23 07:24] greglobinski commented on #4510
@m-allanson Just to make sure.
1. The issue relates only to the posts pages. The pictures on the index page behave correctly, they are not built with the `gatsby-remark-images' plugin.
2. You could see something like a 'blur up' effect, when progressive jpeg is loading but its not the 'blur up' effect.

When you change Network speed to Slow 3G (in Chrome Dev Tools) and open the page
https://gsbs.g

[2018-03-23 08:16] mbj36 commented on #4665
So on bit of research, i used this helper function and i was able to achieve the above

https://www.npmjs.com/package/gatsby-source-filesystem#helper-functions

[2018-03-23 08:16] #4665 closed

[2018-03-23 09:24] LoicUV commented on #2327
Hey @marcobiedermann, have you managed to get `svg-sprite-loader` working with gatsby ?

[2018-03-23 09:59] peterhicks opened #4666 ""source and transform nodes" hangs system with gatsby-source-wordpress"
## Description

When using the WordPress source in Gatsby on a large WordPress site (6200 posts, 3196 images), the build process hangs my machine (a Late 2016 MacBook Pro running macOS 10.13.3) entirely, even if left overnight. This is probably related to #4293, except in my case the process never actually finishes.

With Activity Monitor running at the same time, it doesn't look like there's much

[2018-03-23 10:54] altayaydemir commented on #4662
Hi @tremby. I know it's not a permanent or best solution but I've written a custom Link component for that, it may help you:

[code]

[2018-03-23 11:32] altayaydemir commented on #4067
Hey guys, it seems like a **gatsby-link** related issue. We were using 1.6.34, upgraded to 1.6.39 and encountered with this problem. Downgrading to 1.6.34 resolved.

I think there's an argument mismatch on the function chain triggered by react-router -> gatsby-link -> loader.js

[2018-03-23 11:59] jarodtaylor commented on #4660
I think partials still have a place in the component  world. The nomenclature may be weird, I agree, but I tend to build React with two types of components:

1. Shared components that are usually part of a documented component library.

2. View level components that are typically only shared (if at all) on a given screen, or feature.

[2018-03-23 12:07] pieh commented on #4666
When it get stuck on that step after checking all wordpress endpoints it usually waits to fetch all images but currently it tries to download them all at once (so doing over 3000 request more or less at once for your images), which is not good (but soon-ish we should fix that - https://github.com/gatsbyjs/gatsby/pull/4616).

[2018-03-23 12:12] lmaddio commented on #4649
Your answer didn't applied to my needs, because the source-filesystem runs and detects the json that was originally created but not the new ones that I created in the onPreBootstrap, even so I put the path in the config

[2018-03-23 12:39] pieh commented on #4649
Can you confirm that your file is created before `source and transform nodes` step? If you can - please share reproduction repository

[2018-03-23 12:44] lmaddio commented on #4649
I have do some console.logs and yes, in sourceNodes functions they exists (I am taking info from them at this point actually for putting data in graphql) I will try to give you an example in a few hours. Thanks

[2018-03-23 13:01] jquense commented on #4660
sure :) I think that's often a good distinction and valid approach, do the view components tho need to live in the pages directory? You could achieve the distinction you want with a `components/` and `views/` directories, which you can do already, since Gatsby really only has an opinion about the `pages/` one

[2018-03-23 14:02] jarodtaylor commented on #4660
Yeah, I guess it could be done that way, but I just think it's strange to have your views separate from your pages, when really, in Gatsby, your views are your pages.

It is what it is. React doesn't have opinions, but us developers do, and god knows they differ. haha

Thanks for suggestions, though.

[2018-03-23 14:08] pieh commented on #4660
@jarodtaylor There is another workaround for you if you don't like prepending file names with underscore (can't blame you ;) ) and want to keep your file structure - you can use `onCreatePage` and `deletePage` ( https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes - adjust `if` condition to your needs and don't call `createPage` after deleting page) in your `gatsby

[2018-03-23 14:14] PutziSan commented on #3753
Is this fixed and released? when i run `yarn build` on my local machine (win10) `public/index.html`  still contains a bunch of unrelated css. you can have a look at [this test-repo](https://github.com/PutziSan/gatsby-netlify-cms).

[2018-03-23 14:19] mbavio commented on #4654
@KyleAMathews yup, I can definitely do that. Regarding `position: initial`, if you look [in here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L227), it's set if `absolute` is being passed, which is completely weird. Would you like for me to also include a fix for that on the PR?

[2018-03-23 14:33] jrop commented on #1132
FYI, the updated link to the `gatsby-plugin-catch-links` is:

https://www.gatsbyjs.org/packages/gatsby-plugin-catch-links/

[2018-03-23 16:00] shannonbux opened #4669 "redirect /packages/ to /plugins/"
So even though the plugin library includes more than just plugins, we're calling it a plugin library anyway since the term is more common and recognizable. The URL ought to reflect this name.

[2018-03-23 16:04] shannonbux opened #4670 "Maintain light purple selected state in plugin library"
## Problem

I observed someone using the plugin library yesterday, and noticed that this workflow has a painpoint for him:

1. He selected a plugin from the left-hand cards
2. On the right hand side of the screen, he scrolled to the bottom of the READme file for that plugin
3. He wanted to look at other similar plugins that were already pulled up on the left, but didn't remember which plugin he wa

[2018-03-23 16:11] shannonbux opened #4671 "Plugin library filters and sorting enhancements"
## Problem

I observed someone going through the plugin library and saw that they wanted to be able to sort by category, especially by whether a plugin was a "source" plugin or not.

## Solution
* Introduce filters
* Introduce sorting

Don't know which would fit in filters and which would fit in sorting:
* category
* popularity
* what version of Gatsby the package works with
* date added (this als

[2018-03-23 16:13] shannonbux opened #4672 "Plugin library list sites that use plugin"
## Description

For each plugin, it would be awesome to include a list of websites (and maybe the number of websites) that are using the plugin, so that people can browse the src code for those sites and also see more demos of plugins in action.

[2018-03-23 16:14] shannonbux opened #4673 "Add Algolia notes to Plugin Authoring doc"
- [ ] Add instructions to the page for plugin authors about how to get their plugin to show up — namely
    - [ ] add "gatsby-plugin" as keyword
    - [ ] wait 24 hours while Algolia reindexes

[2018-03-23 16:17] KyleAMathews commented on #4394
Fun being able to regularly see the count of plugins now — we're already up 8-10 or so since we launched the library

[2018-03-23 16:18] shannonbux commented on #4394
@nihgwu Just created an issue to add filters to plugin library, which would include version compatibility! Thanks!

[2018-03-23 16:19] KyleAMathews commented on #4662
I'd be open to adding some simple heuristic to try to identify external links. I'm not sure there's a perfect way to do this though so our official recommendation is to handle this yourself. But we could add some heuristics for detecting links with `https?://` links. https://github.com/ReactTraining/react-router/issues/1147 has a number of samples of code. Any of you two interested in writing a PR