[2018-08-31 18:28] #7772 closed

[2018-08-31 18:29] KyleAMathews commented on #7766
@dimackenzie can you build a site that reproduces the error that we could look at?

[2018-08-31 18:31] dimackenzie commented on #7766
Does the repo I linked to not reproduce the error for you? Or are you looking for something different?

[2018-08-31 18:32] KyleAMathews commented on #6540
👍 closing this. Please open a new issue if there's something we can do to help make using Gatsby smooth on WSL Ubuntu!

[2018-08-31 18:32] #6540 closed

[2018-08-31 18:37] KyleAMathews commented on #7781
It is expected. To do a true blur-up, we'd need to add JS which would catch the image loading and not show loading image until it was fully loaded. This is what gatsby-image does. Happy to take a PR to gatsby-remark-image for this!

[2018-08-31 18:37] #7781 closed

[2018-08-31 18:39] KyleAMathews commented on #7754
Perhaps the title could just be "Gatsby Starters"?

[2018-08-31 18:39] LeKoArts commented on #7766
You should have said that 😜 If you want others to have a working reproduction repo you need to include a key of course. I assumed this is your live project as you didn’t mention anything

[2018-08-31 18:40] KyleAMathews commented on #7785
/cc @shannonbux

[2018-08-31 18:40] KyleAMathews commented on #7766
Ah sorry, didn't see the link to the repo.

[2018-08-31 18:42] LeKoArts commented on #7785
I commented somewhere else that I'd propose to use a filter for v1 and v2 on the sidebar and set v2 by default. This way people could upgrade by themselves and the creators have some time to upgrade. After some time the v1 starters would be removed + the filter option.

[2018-08-31 18:43] nodox commented on #7766
@KyleAMathews can confirm the link he posted above to his example repo does have the same error.

Stack trace:

[code]

[2018-08-31 18:51] davidbailey00 commented on #7760
I'm just running my changes through the manual test suite

[2018-08-31 18:54] KyleAMathews commented on #7766
@dimackenzie some basic things to try — try your queries in graphiql. Try adding a console.log(data) in the affected component.

[2018-08-31 18:57] karl-run commented on #4459
That works for simple things. But if you have things like anchor links in your post the URL needs to be the slug + the link of the markdown. I guess one could massage the links in the freshly split HTML but that seems nasty.

[2018-08-31 19:02] dimackenzie commented on #7766
@KyleAMathews I've done both of those suggestions. All queries work correctly in graphiql and all of the data is coming through to the affected component correctly, (as far as I can tell).

[2018-08-31 19:02] #7547 closed

[2018-08-31 19:41] mdreizin commented on #7729
@KyleAMathews @ooloth We could achieve minification by using the recommendation from https://github.com/webpack-contrib/mini-css-extract-plugin#minimizing-for-production.

For instance, you can use the following snippet:

`gatsby-node.js`

[code]

[2018-08-31 19:44] KyleAMathews commented on #7729
@ooloth how do we know Gatsby is minimizing CSS by default?

[2018-08-31 19:44] KyleAMathews commented on #7729
(thanks for the research work @mdreizin)

[2018-08-31 19:50] ooloth commented on #7729
@KyleAMathews I'm inferring that Gatsby is minimizing the CSS by default from that fact that when you install the default starter and build it, the CSS inlined in the head is minified.

In this case, it only stops being minified after you install and activate `gatsby-plugin-postcss`.

Hope that adds up!

[2018-08-31 20:07] davidbailey00 commented on #7760
Nearly finished manual testing (after fixing a few problems it picked up) - all is looking good, so I should be able to create the PR soon!

[2018-08-31 20:17] davidbailey00 commented on #7760
All tests are passing! PR incoming

/cc @dfmarulanda

<details>
<summary>Tests (now  68)</summary>

[code]
</details>

[2018-08-31 20:27] janosh opened #7787 "gatsby-plugin-offline throws name too long error"
## Description

Running `gatsby build` throws the error

[code]

### Steps to reproduce

This seems to be due to the fact that gatsby encodes assets smaller than 10 KB as base64 strings and inserts them directly into the markup. In my case, the relevant file is my `favicon.png` (9 KB). I import in a `react-helmet` component:

[code]

### Expected result

Successful build.

### Actual result

Build

[2018-08-31 20:49] octalmage commented on #6302
Yeah I wonder if this could be the issue:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/static-entry.js#L220

[2018-08-31 20:53] lfurzewaddock opened #7789 "[v2] docs typo: gatsby-plugin-layout troubleshooting code sample"
Docs Github page: [gatsby-plugin-layout](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout)
[code]

should be; (missing closing curly brace before closing ContextConsumer tag)

[code]

[2018-08-31 21:04] #7767 closed

[2018-08-31 21:11] m-allanson opened #7790 "Update gatsby-transformer-excel's default options"
## Summary

gatsby-transformer-excel is essentially a wrapper around the excellent js-xlsx library. Currently one of the default transformer options is the opposite of the equivalent option in js-xlsx. This seems confusing, so it should probably be changed.

Refs: https://github.com/gatsbyjs/gatsby/pull/7780

### Basic example

If you don't specify the `raw` or `rawOutput` option, a value of `true

[2018-08-31 21:45] Chuloo commented on #7757
what does the graphql query look like? @aks84

[2018-08-31 21:55] Chuloo commented on #7752
Can you point to lines in your reproduction with the whitespaces? @audiolion

[2018-08-31 21:56] Chuloo commented on #2889
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues as many of them have already been resolved with the latest updates or explained in a previous issue.

Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem or a similar one! 👍

[2018-08-31 21:56] #2889 closed

[2018-08-31 21:56] shannonbux commented on #7785
In [EPIC] v2.0 Starter Showcase, we have planned to use Peril to automate
some of the process of evaluating submissions to the Starter Showcase. I
wonder if we can just verify whether or not a starter is using Gatsby v2.

@fk, do you remember why we took out the v2 / v1 little pills on the index
page? We discussed this and this was the conclusion:
notes from Kyle:
I think just putting a little gre

[2018-08-31 22:07] m-allanson commented on #7781
Hey @jamesadarich 👋 there's some contributing docs on the website that run through how to set up a local development version of Gatsby: https://next.gatsbyjs.org/docs/how-to-contribute/#contributing-to-the-repo

Tests are preferred but not 100% essential yet - note there are some end-to-end tests (made with [Cypress](https://www.cypress.io/)) in the [gatsbygram example site](https://github.com/gat

[2018-08-31 22:14] shannonbux commented on #7612
@calcsam updated with 3 issues that have been open for a long time, but not more than a stub still.

This isn't a high priority so I haven't taken the time to fill it out completely yet. Happy to do that if that's important.

[2018-08-31 22:14] KyleAMathews commented on #6300
@ryota-murakami thanks for looking into this! The logic for finding pages is in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/find-page.js

[2018-08-31 22:17] KyleAMathews commented on #7363
The algorithm for creating pages is in here: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-create-client-paths/src/gatsby-node.js

Happy to take a PR updating it w/ some new tests to account for this.

[2018-08-31 22:18] KyleAMathews commented on #7363
Hmm... on second thought, I don't know that we should. `/` is different than `/index/`.

Yeah, it'd be nice if you could keep your folder structure the same but the index page of a website is unique so you'll need to put its js/css file at the top-level.

[2018-08-31 22:18] #7363 closed

[2018-08-31 22:40] shannonbux commented on #3750
@fk and @amberleyromo do you think we close this since the default starter READme file is updated? https://github.com/gatsbyjs/gatsby-starter-default

I remember you were working on a contributing.md file, Flo, so we could revisit by re-opening that PR if you want!

[2018-08-31 22:46] shannonbux commented on #4266
Hi @jlengstorf just revisiting this. I was thinking of closing this issue and creating new issues that mirror the checklist you have above in [EPIC] v2.0 plugin library and [EPIC] v3.0 plugin library like so.

[EPIC] v2.0 plugin library
- [ ] Create a boilerplate to create a consistent Gatsby plugin README experience
- [ ] Write tutorials for each of the plugin types to show real examples of using

[2018-08-31 22:48] johnclark456 commented on #4753
Thanks @zecakeh, your custom widget worked great! I actually replaced the default image widget with that one for my deployment so I could use it for inserting images in the body too which otherwise stops working once you modify the config.yml media_folder parameter to be outside the static folder.

[2018-08-31 22:53] KyleAMathews commented on #7766
@dimackenzie data doesn't get passed automatically into components. You need to pass it in yourself from the page components or since it looks like `Layout.js` needs the same data site wide, use StaticQuery https://next.gatsbyjs.org/docs/static-query/

[2018-08-31 22:53] #7766 closed

[2018-08-31 22:58] lfurzewaddock commented on #7789
@Chuloo - PR #7791

[2018-08-31 23:09] #4673 closed

[2018-08-31 23:27] jlengstorf commented on #4266
@shannonbux The CLI stuff is captured in #6729, so I don't think that needs to be added to anyone's work.

The README template looks great. I think you can close that out.

I think the other organization you're suggesting looks good, too. Feel free to move things around and close this out. Thanks!

[2018-08-31 23:37] pieh commented on #7789
Thanks for fixing my mistake @lfurzewaddock!

[2018-08-31 23:37] #7789 closed

[2018-08-31 23:40] zabute commented on #7658
@btk  You should consider using a [source plugin](https://next.gatsbyjs.org/docs/source-plugin-tutorial/#source-plugin-tutorial) that would fetch the data from the api call so that it gets rendered at build time, unless you're serving personalized content, i.e, user has to login first.

@akolybelnikov  With gatsby, your users don't have to stare at a blank screen until your JS is loaded and parsed

[2018-09-01 00:03] jamesadarich commented on #7781
Thanks @m-allanson, I've come up with something that works - it's not perfect (but what is? :) ) but I think it's probably the most sensible considering all the other moving parts going on. I've tested by patching a local project with the updates and seems to behave itself.

Would it be best to perhaps raise a pull request to discuss the changes and / or options we could go with for testing?

[2018-09-01 00:20] KyleAMathews opened #7792 "Try using CircleCI"
With https://github.com/gatsbyjs/gatsby/pull/7433 and https://github.com/gatsbyjs/gatsby/pull/7784, CI runs on Travis are getting longer and longer.

CircleCI lets open source use more containers I believe so tests should be faster. I'll try setting it up as well so we can check this out.

[2018-09-01 01:38] aks84 commented on #7757
@Chuloo **Thanks! Here it is.**

[code]

[2018-09-01 02:07] bchehraz commented on #7749
Sorry about the errors! I copy pasted my code and tried to make quick changes to make it more useful for you 👍

For the about page with 3 employees and each with their own description, here is a couple of ideas. The first one has to do with static data and the second means you're checking a server to see which employee they are.

Idea 1) After checking for a tag "about" and passing data, maybe che

[2018-09-01 02:28] akadop commented on #2005
@prajapati-parth

just checked `renderToString()`

[code]

this is flow typed, so passing in an arg that isn't a `ReactElement<any>` will throw an error. A function returning the component will not meet the criteria.

this would probably work though:

[code]

[2018-09-01 02:37] KyleAMathews commented on #7792
A community member on discord pointed out their circleci config https://github.com/axe312ger/gatsby-starter-collaborative-app/blob/master/.circleci/config.yml#L87-L94

[2018-09-01 03:22] sparklesam opened #7794 "Error for EmitFile when importing files"
## Description

I have `Module build failed: Error: File Loader emitFile is required from module system` error when `gatsby-develop` I was only trying to import static image file to my Gatsby index page.

### Steps to reproduce

Error mainly pointed to two npm plugin I installed, file-loader and url-loader for loading files and parsing url.

### Expected result

Able to import static image from my

[2018-09-01 03:40] bchehraz commented on #7749
Oh, I had another thought... You could also do the following...

After checking for the "about" tag and passing in data to a component (or however you implement that first part), then inside the About component's render function, you could return another component with the custom description. You can then handle that separately. But the general idea here is you can choose to show that custom conte

[2018-09-01 06:35] LeKoArts commented on #7742
👍🏻

[2018-09-01 06:35] #7742 closed

[2018-09-01 06:37] Thrajnor commented on #7749
oh, no problem, bugs are normal in this profession :D

thats some nice ideas ! i will look into it ;)

if i will have any further questions i'll contact you :) thank you again for your time ! you have helped me a lot!

[2018-09-01 06:42] LeKoArts commented on #7749
@bchehraz Don’t you overcomplicate things? He just would need to do a „markdownRemark“ query with the regex to the file. No need for tags.

[2018-09-01 06:45] prajapati-parth commented on #2005
@akadop
That makes sense. Thanks for digging it out.
We actually had got it wrong in the first place itself. I think since `renderToString` expects an element and since `app` in your example (https://github.com/gatsbyjs/gatsby/issues/2005#issuecomment-326787567) can be treated as a stateless functional component, replacing
[code]
with
[code]
would also work.
The modified example would look like
[c

[2018-09-01 06:55] Thrajnor commented on #7749
you think he overcomplicate ? you have other good solution maybe ? I would be happy to hear that. So far @bchehraz solution was the best i could find to attaching specific markdown files to specific templates.

[2018-09-01 07:07] akadop commented on #2005
yup, that works too! im not sure about performance implications though, since your wrapping it in another react component (even though it's an SFC.. same thing happens internally)

[2018-09-01 09:39] m-allanson commented on #7792
I took a run at updating the existing Travis config. WIP but looks like it could work out: https://github.com/m-allanson/gatsby/pull/17

[2018-09-01 10:01] bchehraz commented on #7749
@LeKoArts you're right. I'm still new to Gatsby and I'm barely understanding how GraphQL works, but I took it upon myself to propose a solution which fit the criteria. I totally agree that my idea might be overcomplicated but again that's because of my current understanding with Gatsby. I should have maybe clarified that my solution probably isn't optimal.

[2018-09-01 12:00] rehat101 opened #7796 "How to not expose API Keys on the client side?"
I have keys which I use to make API calls to AWS. How can I utilize the keys without exposing on the client side? Also, I'll also be hosting my site on a private GH repo with all that in mind I was thinking to store it on a vault and just asynchronously call it.

[2018-09-01 14:02] stefanprobst opened #7797 "[gatsby-image] get rid of outer wrapper div?"
Is the outer-wrapper `div` in `gatsby-image` still needed? The [comment mentions](https://github.com/gatsbyjs/gatsby/blob/7036259ed32c8266a6c24d654ca6d2f338debbe1/packages/gatsby-image/src/index.js#L224) that it's necessary for resetting zIndex -- but zIndex got removed in d2462d3f7763c3789d16447e87eb90117a140fa9 (see #4468).
Getting rid of the outer wrapper would also resolve the issue with the d

[2018-09-01 14:10] lloydh opened #7798 "Develop failing with module dependency resolution errors"
## Description

I'm seeing the following error when running `develop` after upgrading from the beta to the latest RC:
[code]

We've looked at the issue in renatorib/react-powerplug#166 and can't see a reason why the dependencies shouldn't be resolving.

### Steps to reproduce

Add a `react-powerplug 1.0.0-rc.1` component, e.g. `{ Toggle }`, into a Gatsby `2.0.0-rc.7` project.
Run `develop` script.

[2018-09-01 14:43] sethakkerman opened #7799 "Errors installing Typography Plugin"
Seths-MacBook-Pro-2:tutorial-part-four seth$ npm install --save gatsby-plugin-typography
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module '../lib/utils/unsupported.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loade

[2018-09-01 14:43] sethakkerman commented on #7799
Trying to work through this:

https://www.gatsbyjs.org/tutorial/part-four/

[2018-09-01 14:48] BayPhillips commented on #7768
I haven't run into this myself. I use the `preview.contentful.com` host and access token for my local development and am able to see unpublished entries. This is generally how I write out new blog posts while being able to preview them (haven't made it into the [Gatsby preview alpha](https://www.gatsbyjs.org/blog/2018-07-17-announcing-gatsby-preview/) yet...  😉). I do have to rerun `gatsby develop

[2018-09-01 15:45] #7760 closed

[2018-09-01 15:49] reviewher commented on #4751
@pieh since #5155 was merged, is this issue still relevant?

[2018-09-01 15:51] KyleAMathews commented on #7796
Generally you'd want a server API that the client can call to do things which then makes the calls to AWS. Good luck!

[2018-09-01 15:51] #7796 closed

[2018-09-01 15:53] KyleAMathews commented on #7797
Possibly :-) Want to investigate?

[2018-09-01 15:55] KyleAMathews commented on #7798
Looks like this is the problem https://github.com/renatorib/react-powerplug/issues/166#issuecomment-417783881

The latest Gatsby RC updated Babel to the stable Babel release.

[2018-09-01 15:55] #7798 closed

[2018-09-01 15:56] KyleAMathews commented on #7799
Sounds like an NPM install error — can you try removing `node_modules` and reinstalling.

[2018-09-01 15:57] sethakkerman commented on #7799
@KyleAMathews Is that globally or in the local directory? I tried removing it and reinstalling with npm update and npm install and it gave me the same error as above.

[2018-09-01 15:58] KyleAMathews commented on #7799
Locally. `gatsby-cli` is just a shell which calls the locally installed packages. Remove the directory and just run `npm install`. Or perhaps try Yarn which many people find more reliable.

[2018-09-01 16:05] sethakkerman commented on #7799
@KyleAMathews Thanks for your help! Much appreciated. I will try that.

[2018-09-01 16:29] davidbailey00 commented on #7261
Just reopening this because I haven't verified if it's fixed yet - GitHub thought it was fixed because I wrote "fixes" before the number

![image](https://user-images.githubusercontent.com/4248177/44947918-61e46a00-ae0c-11e8-8ef1-097f3d911008.png)

[2018-09-01 16:36] audiolion commented on #7752
@Chuloo I am not sure what you mean? The whitespace is in the query:

[code]

[2018-09-01 16:50] rehat101 commented on #7796
Can I load the keys as environment variables instead?

[2018-09-01 17:34] akosyakov commented on #4201
Hi there 👋 We've launched [Gitpod](https://medium.com/gitpod/gitpod-gitpod-online-ide-for-github-6296b907a886) this week. It's a VS Code-powered IDE and a cloud-based Linux container configured specifically for the project at hand. For example, you can provide a Docker image with Node and Gatsby already installed, and configure startup commands to install dependencies and launch the dev server.

H

[2018-09-01 17:44] #7799 closed

[2018-09-01 19:11] luanorlandi commented on #7585
Hello guys 👋  I'd an investigation on this issue.

Setting `key` value as the image `src` is a good way, but I don't think is the ideal approach.
Think about two images with the same `src`, they could be different with their own props, so both should have a unique `key`.

It would be better to let the developer choose the value of the key as a `prop`, in this case a prop `key` would not work on th

[2018-09-02 00:36] ericraio commented on #5726
@b0gd4n do you still have this issue? I have it, I saw that your website is seo friendly now.

[2018-09-02 00:45] Sudip7 commented on #1786
Hi,

Lately got this problem. I other day I moved new folder/file to the content folder where all my static page resides and the graphql stopped getting the data. I got different error in browser and gatsby build.

in browser I got

**TypeError: this.props.data is undefined**
[code]

while during build I got below error :

` 42 |   render() {
  43 |     const { mobile } = this.state;

     |

[2018-09-02 11:14] nakedible opened #7808 "Allow customizing generated file paths for non-HTML files"
## Summary

Allow customizing the file paths Gatsby generates for JavaScript, CSS and JSON files.

### Basic example

Currently, all non-HTML generated files end up at fixed paths in the built directory.

- JavaScript libraries end up in files like `2-b3d43945f6c7a50aa89b.js`
- JavaScript for pages end up in files like `component---src-pages-index-js-d21e28ef0022ceb7ca2f.js`
- CSS for pages end up

[2018-09-02 11:56] akolybelnikov commented on #7658
@zabute thanks! That answers my (unasked) question about the default SSR use by gatsby. Can you think of a case, when an animated ison / logo is being rendered as a splash screen before the PWA starts on mobile? This is an interesting challenge wit Gatsby.

[2018-09-02 12:00] nakedible commented on #7808
Since generating paths seems to happen all over the place in Gatsby, and path generation method is mostly hardcoded, fixing this to be fully customizable would seem to be quite a large rework.

However, since all places *should* respect `pathPrefix`, a simple and stupid solution would be to just break that in to two - `pathPrefix` and `dataPathPrefix`. Normally setting `pathPrefix` would also set

[2018-09-02 13:07] rensje commented on #6291
Had the same issue. Doing a manual `npm install git+https://github.com/lovell/sharp.git` to install the latest  unreleased Sharp package seems to have fixed it for me. This might not be a good idea, however I'm not sure what else to do until a fixed version of Sharp is released.

[2018-09-02 13:52] aman-developer commented on #2945
![screenshot from 2018-09-02 19-21-04](https://user-images.githubusercontent.com/29298440/44956677-6a5ca380-aee5-11e8-92ed-ad0679255285.png)
![screenshot from 2018-09-02 19-21-21](https://user-images.githubusercontent.com/29298440/44956680-6f215780-aee5-11e8-848b-7d7a85426f1c.png)
![screenshot from 2018-09-02 19-21-26](https://user-images.githubusercontent.com/29298440/44956681-721c4800-aee5-11e8-

[2018-09-02 15:51] kartik2406 commented on #3395
.cache folder seems to create the issue, just delete it and re run gatsby develop.

[2018-09-02 16:11] simonjoom opened #7809 "React-navigation project gastby v2 router with react-native-web"
Hello, i'm new from yesterday and i like already gatsby ))

I want to know if somebody can resolve my situation
I would like to use the gastby v2 router on my react-navigation (yes gastby run with react-native)

Here my project (run ssr+gastby+react-native-web)
https://github.com/simonjoom/gatsby

Due to the architecture of react-navigation who use stack of component.. how i can plug the both toge

[2018-09-02 16:20] olivierpascal opened #7810 "gatsby-node.js doesn't allow ES6 import"
## Description

`gatsby-node.js` doesn't allow ES6 javascript.

### Steps to reproduce

`gatsby-node.js`:
[code]

### Expected result

`gatsby-node.js` should be transpiled and allow ES6 like `gatsby-ssr.js` or `gatsby-browser.js`.

### Actual result

*Error*
[code]

### Environment

[code]

[2018-09-02 16:37] mikelax commented on #7790
As I was going through the js-xlsx lib and the gatsby plugin I actually felt the default for the `raw` option **should have been** `true`, glad to hear it will be fixed in the underlying lib.

Sounds like once that change is in we'll just need to update to the newest version.

[2018-09-02 17:37] mbaljeetsingh commented on #3539
Is anyone working on the Gatsby Angular Integration?

[2018-09-02 21:50] #7712 closed

[2018-09-02 22:52] benwis opened #7817 "Top Level Component in Gatsby V2?"
I'm integrating Apollo Client into Gatsby v2 beta, but I was curious if there was a root component. For example, in create-react-app, you can have an App component that all the other ones run out of.

I want to add ApolloProvider so that its context can be accessed throughout all the pages and components being served.  Here's the section of the getting started that introduces [it](https://www.apol

[2018-09-03 00:05] ericraio commented on #5726
@b0gd4n

I came to the same conclusion, I was messing around with gatsby config and got it to work

I also thought it was gatsby offline, it seemed to be the culprit but then I added it back and it was still working working

Still not sure

[2018-09-03 01:37] maisonm commented on #7601
Based on the Gatsby docs linked, any external link appears to be just a simple `<a>` tag with an href as usual. However in my Gatsby application, when I follow this, I can not get the external links to work. My external href's are added to localhost:8000 and I get a 404 page not found. Am I missing something here?

`   <a href="www.github.com/maisonm" target="_blank" rel="noopener norefferer">

[2018-09-03 01:40] humphreybc commented on #7792
If it's any help, we use CircleCI too. [Here's our config](https://github.com/heydovetail/website/blob/master/.circleci/config.yml).

[2018-09-03 03:50] calcsam commented on #3750
I'm going to close this, given @KyleAMathews' comment and the README.

[2018-09-03 03:50] #3750 closed

[2018-09-03 04:42] aman-developer commented on #7772
I had posted one reply here but its not showing. I am getting these errors.
![screenshot from 2018-09-02 19-21-04](https://user-images.githubusercontent.com/29298440/44967868-d8df4700-af61-11e8-9565-b47289550f66.png)
![screenshot from 2018-09-02 19-21-21](https://user-images.githubusercontent.com/29298440/44967870-dd0b6480-af61-11e8-9b72-96edf7f1c787.png)
![screenshot from 2018-09-02 19-21-26](htt

[2018-09-03 05:32] akoolenbourke opened #7818 "Need clarification around PrivateRouter/auth required pages in Gatsby"
## Summary

So I've seen the demos floating around such as this one that allow you to mix both static and dynamic pages (https://github.com/gatsbyjs/gatsby/tree/master/examples/simple-auth)

What I would like is some clarification as to why this is the suggested method? Couldn't I just have a component that I put in all pages that need gating that checks 'isLoggedIn' and redirects, possibly in com

[2018-09-03 06:06] kakadiadarpan commented on #7155
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-03 06:27] 150424 opened #7819 "could not read Chinese Sheet-Name"
## Summary
I am trying to read ODS written by Chinese and the Sheet-Name is Chinese.
But the sheet-names are always strange-code.
Could you help me?

## my code

const fs = require('fs');
let dir_Xls_tmp = 'assets/' + 'testODSExample.ods';

fs.readFile(dir_Xls_tmp, function(error, content) {
	if (error)
	{
		console.log('something wrong...');
	}
	else
	{
		// console.log(content.toString());

		le

[2018-09-03 06:35] kakadiadarpan commented on #7818
Hey @akoolenbourke, `PrivateRoute` component implemented in [simple-auth](https://github.com/gatsbyjs/gatsby/tree/master/examples/simple-auth) is just an example showing Gatsby's ability to support dynamic content in client-only routes. Also, when you have a `PrivateRoute` component you can easliy determine which are the private routes in your application just by taking a look at one file, instead

[2018-09-03 07:08] Khaledgarbaya commented on #5726
Can you folks share your `gatsby-config`

[2018-09-03 07:29] aman-developer commented on #5245
I am getting same issue. i downloaded v2 directory i.e /www  from here
https://github.com/gatsbyjs/gatsby

source and transform nodes never end. i waited for 6 hours.

[2018-09-03 08:32] humphreybc commented on #6392
Any update on this? I don't believe it's resolved in v2.

[2018-09-03 08:40] akoolenbourke commented on #7818
Thanks. I thought it was such and I see the benefit from an organisational point, I was just curious as to whether it offered some other benefit with dynamic pages.

I'm quite new to web dev and especially React and Gatsby so I'm still a little confused as to what really is the practical difference between client and server in this example. For instance, I could take that auth-example with Private

[2018-09-03 08:58] sbugert commented on #7817
I think what you need is [wrapRootElement](https://next.gatsbyjs.org/docs/browser-apis/#wrapRootElement). It exists both for `gatsby-browser.js` and `gatsby-ssr.js`.

[2018-09-03 09:50] b0gd4n commented on #5726
@Khaledgarbaya here's my `gatsby-config` file:

[code]
and this is the `package.json`:
[code]

[2018-09-03 09:53] b0gd4n commented on #5726
I think it was a combination of the right version and config for the `gatsby-plugin-offline` package that did the trick

[2018-09-03 10:12] gc opened #7821 "Gatsby V2 website error"
## Description

I received lots of errors in the console when loading the V2 website, and the page remained completely blank and didn't load anything.
![chrome_2018-09-03_20-07-19](https://user-images.githubusercontent.com/30398469/44981360-ad864780-afb5-11e8-8bc4-430d58c07edd.png)

### Steps to reproduce

I'm not sure how to reproduce it. I just visited https://next.gatsbyjs.org/

### Expected re

[2018-09-03 10:18] janosh opened #7822 "Improve gatsby-image behavior when used with styled-components"
In order to facilitate using `gatsby-image` in conjunction with `styled-components`, styles passed to `Img` should be applied to `gatsby-image`'s outer wrapper div rather than the inner one.

Currently, something like
[code]
applies the specified styles to the inner wrapper `div`, where the markup produced by `gatsby-image` is as follows:
[code]
Since there is no parent selector in CSS, this makes

[2018-09-03 10:27] amit-deligence opened #7824 "when i deploy gatsby app on heroku it show me the below error"
Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch

[2018-09-03 10:32] stefanprobst commented on #7797
Ok, so it seems everything is working fine without the outer wrapper. The background image in the using-gatsby-image example needed a little adjustment, but that was broken before anyway.

[2018-09-03 10:33] thibautvs opened #7827 "Gatsby 2.0 RC | Styled components theme crashes prod build"
## Description

When using the `<ThemeProvider>`, everything works as expected in development. When building for production, an error occurs.

### Steps to reproduce

Use a `<ThemeProvider>` and in a component, use theme values, such as `${props => props.theme.colors.green}`. See that it works in development when running `gatsby develop` but crashes when running `gatsby build`.

### Expected resul

[2018-09-03 10:35] kakadiadarpan commented on #7818
When you are using Gatsby, you don't need to worry about writing different code for server and client.

All this code goes in your client build along with the server. When your application is loads a specific route and if it's a `PrivateRoute`, then the client will automatically redirect it to the login page. It doesn't need to go to the server to check if a specific route is accessible for the us

[2018-09-03 11:04] Khaledgarbaya commented on #5726
Thanks I changed the `gatsby-plugin-offline` version and I ama building the website now 🤞

[2018-09-03 11:30] stefanprobst commented on #7797
Or maybe not -- the cypress tests are failing...

[2018-09-03 11:36] Khaledgarbaya commented on #5726
🎉 Works now!!!

the only change is

[code]

[2018-09-03 11:39] b0gd4n commented on #5726
thinking we might be able to close this one

[2018-09-03 11:39] Khaledgarbaya commented on #5726
Yep go ahead @b0gd4n

[2018-09-03 11:40] #5726 closed

[2018-09-03 11:52] fk commented on #3750
👍 🙏

[2018-09-03 11:59] kakadiadarpan commented on #7809
Hi @simonjoom, if I understand it correctly you are trying to use Gatsby with `react-native-web` and `react-navigation`. Right?

[2018-09-03 12:17] kakadiadarpan commented on #7794
Hi @sparklesam, it would be great if you can go through the guide of how to [Add Images, Fonts, and Files](https://www.gatsbyjs.org/docs/adding-images-fonts-files/). Let us know if that works for you by adding a comment 👍

[2018-09-03 12:20] amit-deligence opened #7830 "window is not defined in gatsby.js when build"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?

### Actual result

What happened.

### Environment

Run `gatsby info --clipboard` in your project directory

[2018-09-03 12:40] Defite commented on #7712
Will be fixed if [this PR](https://github.com/gatsbyjs/gatsby/pull/7732) will be merged into master branch.

[2018-09-03 13:01] LeKoArts commented on #7830
Please create a proper issue with filled out categoried

[2018-09-03 13:01] #7830 closed

[2018-09-03 13:34] berraknil opened #7831 "Back button doesn't clear filters on Showcase"
Just realized this today while I was working on a similar thing on my end for the creators pages.

![backnavigation](https://user-images.githubusercontent.com/6593585/44989577-f549a680-af96-11e8-92eb-2ddb5c8c947b.gif)

When user navigates back, the URL updates, but the filters and search results don't. I might take a look at it soon, if I have the time as I just solved a similar issue.

Filing to

[2018-09-03 13:45] Jamsek-m commented on #7794
Hello,
I am having the same problem - I looked at your link, but this is what I have already tried to do without success.

Altough I am using typescript, if that makes a difference.

[2018-09-03 14:46] pieh commented on #7757
You are quering for `allSitePage` (which will be empty, because those are gatsby pages not wordpress pages). You need to query `allWordpressPost`

[2018-09-03 14:57] benwis commented on #7817
THat's exactly it, didn't know that existed. Thanks!

[2018-09-03 14:57] #7817 closed

[2018-09-03 15:15] simonjoom commented on #7809
i'm doing it already
Just i m guessing how i can plug the router of gatsby to react-navigation

[2018-09-03 15:15] simonjoom commented on #7809
pull https://github.com/simonjoom/gatsby i try if you want have an idea

[2018-09-03 15:33] KyleAMathews commented on #6392
@humphreybc no not yet unfortunately. The fix is I believe to check in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-react-router-scroll/README.md if scroll has already happened and to _not_ then scroll to the top which is it's default. Or perhaps easier to just not scroll at all on the initial load of the website.

Would you like to work on a PR? This would be really nice to fix!

[2018-09-03 15:36] KyleAMathews commented on #7254
This is intentional. Is it causing trouble or just unexpected?

[2018-09-03 15:37] KyleAMathews commented on #7821
Hey! Thanks for reporting this! We had some bugs with gatsby-plugin-offline which @davidbailey00 has been busily fixing recently e.g. https://github.com/gatsbyjs/gatsby/pull/7355

I haven't seen any more errors like this since #7355 landed so I believe future loads of next.gatsbyjs.org will be smooth for you.

[2018-09-03 15:37] #7821 closed

[2018-09-03 15:41] KyleAMathews commented on #7797
@stefanprobst @pieh fixed those cypress errors in https://github.com/gatsbyjs/gatsby/pull/7816

[2018-09-03 15:42] LuisLoureiro commented on #7223
Hi @michalczaplinski !

Yes, I decided to create a new PR because I was (and I still am) in need of this change.

Back porting changes made to **v2** sounds really cool. I searched for that in the docs but I couldn't find that.
The really meaningful thing I found (taking in consideration this problem) is that fixing bugs in **v1** are still acceptable but not new features.

I suppose that Gatsby t

[2018-09-03 15:47] KyleAMathews commented on #7794
@Jamsek-m this sounds potentially like an NPM install error. Could you try removing `node_modules` and any lock file and reinstalling?

[2018-09-03 16:15] azdanov commented on #7254
@KyleAMathews I was having issues prior to https://github.com/gatsbyjs/gatsby/commit/0e2405b31d0c24749d49234730c70edaf574f98b. Now it's working fine.

[2018-09-03 16:15] #7254 closed

[2018-09-03 16:43] Jamsek-m commented on #7794
@KyleAMathews I have tried that - just now I also tried to replace typescript with javascript (and again deleting node_modules and lock file) and I get the same error

[2018-09-03 16:59] KyleAMathews commented on #7794
Can you reproduce this with a new sure built from a starter?

[2018-09-03 19:03] oltodo opened #7836 "[v2] Builds are inconsistent"
I realized that builds in Gatsby v2 are inconsistent. It means two builds based on the same code base couldn't provide the same the result (in the `public` folder). That can cause troubles when building your Gatsby project on multiple load-balanced servers (for instance).

To reproduce the case:

- `$ gatsby new my-blazing-fast-site https://github.com/gatsbyjs/gatsby-starter-default\#v2`
- `$ cd m

[2018-09-03 19:27] jquense opened #7837 "v2 `actions.setBabelOptions` doesn't do anything."
There is helpfully an API for changing the babel-loader options but it doesn't actually do anything. The options are saved in babelState.json, but not ever read out during the custom loader process.

[2018-09-03 19:31] imshuffling commented on #7737
I think I'm having a similar issue on nested Links.

[code]

activeClassName="active top hello" is not being applied anymore since upgrading to the latest v2.

is activeClassName not supporting in reach router?

[2018-09-03 19:32] KyleAMathews commented on #7837
Oh hmm. Yeah, I missed adding back support for this in the recent PR. Though I also don't remember the use case for the api 😅

[2018-09-03 19:34] jquense commented on #7837
in my case i want to set: http://babeljs.io/docs/en/options#babelrcroots so it works with webpack alias's to fiules outside the gatsby root, e.g. i have a `www` folder  for docs that's a gatsby site but it reads the library src files from ./src a sibling to www

[2018-09-03 19:59] #7837 closed

[2018-09-03 20:42] Inopo opened #7840 "Doucmentation Issue, Tutorial 4th step v2"
This is a documentation issue.
## Description

While doing the 4th step in the tutorial for v2 (Your First GrapghQL Querry. ) If you copy paste the

export const query = graphql`
  query {
    site {
      siteMetadata {
        title
      }
    }
  }

Then there is a error. "Unterminated template literal."

If you put a ` to the end. Then it works.

PS: My JS and Coding knowledge is close to zer

[2018-09-03 20:48] pieh commented on #7752
I finally got some time to reproduce it. Will be following up with PR fixing that shortly

[2018-09-03 20:50] roachnt commented on #6486
#7841

[2018-09-03 20:55] #6884 closed

[2018-09-03 21:00] akoolenbourke commented on #7818
Thanks. I think what you said is what I was thinking - that it can avoid another server request - however it seems that PrivateRoute won't really save anything much. Here is why I'm thinking this.

`PrivateRoute` when used as in the examples will resolve to some component, say `<UserProfile>`. Now, for that to be displayed it needs to be retrieved from the server at "some point". If it was a regul

[2018-09-03 21:17] tatwater commented on #4103
I just resolved this same issue by adding a leading `/` in the `path` of my latest post, after much struggle trying to decipher its meaning and finally landing on this thread! Just thought I'd throw my +1 in for this being a rather unhelpful error :)

[2018-09-03 21:57] shannonbux opened #7843 "Create a boilerplate to create a consistent Gatsby plugin README experience"

[2018-09-03 21:57] shannonbux opened #7844 "Write tutorials for each of the plugin types to show real examples of using the plugin APIs"

[2018-09-03 21:57] shannonbux opened #7845 "Add plugin validation to ensure that a plugin is compatible with your Gatsby install (e.g. no conflicts, versions are compatible)"

[2018-09-03 22:00] shannonbux opened #7847 "Add video tutorials to complement the written versions"

[2018-09-03 22:00] shannonbux opened #7848 "Find a way to work plugin documentation into the new plugins page being created in #3906"

[2018-09-03 22:00] shannonbux opened #7849 "[EPIC] v3.0 Plugin Library"

[2018-09-03 22:00] shannonbux commented on #4266
Ok, all those suggestions are implemented now, @jlengstorf! Thanks!

[2018-09-03 22:00] #4266 closed

[2018-09-03 22:54] shannonbux commented on #6901
Great search page design: algolia.com/doc (thanks @cdock1029 for this idea)

[2018-09-03 23:36] mikelax commented on #7840
Hey @Inopo Are you talking about the query on [this page](https://next.gatsbyjs.org/tutorial/part-four/)?
If so I think there is already on a ` on a line by itself, so I think this is just a copy-paste issue.

[2018-09-03 23:36] #7840 closed

[2018-09-04 00:28] jonniebigodes commented on #7824
From my experience is that heroku is expecting some type of server either express, or koa or any other type to start serving the content. And that is not gatsy's responsibility. So you might have to implement a server or dockerize the app with ngix and then deploy it to heroku, cause if not mistaken docker is allowed with heroku.

[2018-09-04 00:42] aks84 commented on #7757
Thanks, @pieh!! I am going to try...

[2018-09-04 00:43] aks84 commented on #7757
Thanks a lot!! DONE  Compiled successfully in 279ms

[2018-09-04 00:43] #7757 closed

[2018-09-04 04:26] aman-developer commented on #7772
is there any solution ?

[2018-09-04 04:51] faahim commented on #7794
I have the same issue. I get the same error every time I try to import images. But I've noticed something interesting. If you pass your image through an optimizer like TinyPng and then try to import, it works just fine! It's almost as if a certain type of image importing works and others doesn't. A little weird, haha!

[2018-09-04 04:52] Inopo commented on #7840
Yes @mikelax I now see that in the next line. Thanks.

[2018-09-04 05:04] amit-deligence opened #7852 "window is not defined error in production mode during build time. Below error in terminal during build time. though i am not using window externally these error shown in the library import { React_Bootstrap_Carousel } from "react-bootstrap-carousel""
Counting objects: 78, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (74/74), done.
Writing objects: 100% (78/78), 1.12 MiB | 435.00 KiB/s, done.
Total 78 (delta 12), reused 0 (delta 0)
remote: Compressing source files... done.
remote: Building source:
remote:
remote: -----> Node.js app detected
remote:
remote: -----> Creating runtime environment
remote:
remote:        NP

[2018-09-04 05:06] faahim commented on #7794
One more thing, Looking at my log of `npm install`, I found this: `url-loader@1.1.1 requires a peer of webpack@^4.0.0 but none is installed. You must install peer dependencies yourself.`

Could missing dependency of url-loader be the reason of the issue? :thinking:

[2018-09-04 05:26] KyleAMathews commented on #7794
@faahim that's a good theory! It could be yeah that url-loader can't find a module to import from webpack. Can you create a reproduction of this issue that we can look at?

[2018-09-04 05:27] KyleAMathews commented on #7852
`window` is a global that only exists in the browser. When we're building the site, the browser doesn't exist so you can't access it. Go to the link listed in the error (https://goo.gl/yL9lND) to find some suggestions for solving the issue.

[2018-09-04 05:27] #7852 closed

[2018-09-04 05:29] SimonIMG opened #7853 "Can't get WordPress plugin to get past createPage when using Gatsby version 2 (v2)"
## Description

I've set up a fresh install of the Gatsby Starter with version 2. My package.json file says...
[code]
I have set up the `gatsby-node.js` file as per the docs, and also as per [Level Up Tutorials](https://www.leveluptutorials.com/tutorials/headless-wordpress/building-pages-in-gatsby). I'm just trying to get it to output pages for all the WordPress pages in my site (a local Lando ins

[2018-09-04 05:34] faahim commented on #7794
I just tried installing the peer dependencies manually, and messed up the whole thing! Now my `gatsby develop` cammand exits with
[code]

I'm going to try and fix this. I can create a repo where the issue is reproducible once I can get it running. :slightly_smiling_face: @KyleAMathews

[2018-09-04 05:43] stefanprobst commented on #7797
Oh great, thanks!

[2018-09-04 06:30] kakadiadarpan commented on #7836
I'm able to reproduce this. Just create a new Gatsby(v2) project, and follow the steps provided in the description. This doesn't happen in v1.

[2018-09-04 06:54] faahim commented on #7794
Hi @KyleAMathews ,

I've created this repo [here](https://github.com/faahim/image-import-issue). Try importing and rendering some image anywhere, you should get the error. Sorry for the scary cats! :slightly_smiling_face:

[2018-09-04 07:48] aman-developer opened #7855 "source and transform nodes never ends for me."
Hello -

https://github.com/gatsbyjs/gatsby/tree/master/www

I am setting up this directory locally. I am using these 2 commands.

yarn install	-->	it runs successfully
yarn run develop	-->	but it stucks at "source and transform nodes" , it never ends for me. i have been waiting for long hours.

[2018-09-04 08:33] farrellfileas commented on #5102
I'm just going to post this for other silly mistakes like mine. Mine query shows undefined because it was in the components folder. When I did the query in Layouts or Pages it worked perfectly.

[2018-09-04 08:37] nikhilag opened #7856 "Firebase auth doesn't work in Gatsby V2 app deployed on Firebase Hosting"
## Description
In my Gatsby V2 web app, I am using firebase auth to login with google. It is working properly on my machine but when I deploy to Firebase Hosting it doesn't work. Please see console log in attached screenshot. <img width="1425" alt="screen shot 2018-09-04 at 1 58 07 pm" src="https://user-images.githubusercontent.com/5186055/45019881-0fdd5780-b04b-11e8-8b77-031135a30483.png">

I hav

[2018-09-04 08:46] imshuffling commented on #7737
Manage to solved this in the end.

[code]

[code]

[2018-09-04 09:11] akoolenbourke opened #7858 "How can I implement a back to previous location after login?"
## Summary

Hi all. I'm struggling to find any docs on how to implement a back() style operation in Gatsby V2. That is, I have some client side routes for gating against auth and they render my `<Login>` component if auth is required. however, once auth is successful I want to throw them back to the page that caused them to get to `<Login>`

How can I do this? I don't have to wrap every component/

[2018-09-04 09:29] Jaikant opened #7859 "Gatsby data layer cannot pull in object which has a `length` field."
The gatsby data layer while making the schema is using a `_.each` to iterate over an object. If the object has a `length` field, it [fails](https://lodash.com/docs/#forEach).

https://github.com/gatsbyjs/gatsby/blob/faf58c8a05453763301f5de631e5efc95abd788e/packages/gatsby/src/schema/infer-graphql-type.js#L336

Can this be replaced with a [_.forIn](https://lodash.com/docs/4.17.10#forIn)

**Backgrou

[2018-09-04 09:37] kakadiadarpan commented on #7818
Generally, authentication in web apps is implemented in such a way that it is globally available. It can be done using cookies/local-storage/session-storage. So when your application loads initially, you also get the authentication information. You won't need to make another request to check if the user is authenticated. So whenever an unauthenticated user tries to access `PrivateRoute`, it will d

[2018-09-04 09:38] aman-developer commented on #7855
System:
    OS: Linux 4.15 Ubuntu 18.04.1 LTS (Bionic Beaver)
    CPU: x64 Intel(R) Core(TM) i3-4010U CPU @ 1.70GHz
    Shell: 4.4.19 - /bin/bash
  Binaries:
    Node: 8.11.4 - /usr/bin/node
    Yarn: 1.9.4 - /usr/bin/yarn
    npm: 6.4.1 - /usr/bin/npm
  Browsers:
    Chrome: 68.0.3440.106
    Firefox: 61.0.1
  npmPackages:
    gatsby: ^2.0.0-rc.4 => 2.0.0-rc.7
    gatsby-image: next => 2.0.0-rc.1

[2018-09-04 09:38] janosh commented on #7822
A temporary fix for this issue until possible removal of the outer wrapper div by #7826 (see also #7797) is to insert
[code]
When using styled-components, this can simply be dropped into an `injectGlobal` (soon to be replaced by `createGlobalStyle` in v4) and then removed again should #7826 be merged.

[2018-09-04 09:56] asistapl opened #7861 "[v2] pathPrefix is partially ignored"
## Description

After upgrading to v2 `pathPrefix` is not working properly. It is added for links and assets in HTML, but ignored in other places which results in redirection like this:
Opening: `githubusername.github.io/reponame`
changes URL in address bar to: `githubusername.github.io/` and screen goes blank.

I see that `pathPrefix` is not included in generated html files (https://github.com/as

[2018-09-04 10:02] kakadiadarpan commented on #7859
Hi @Jaikant, would you like to submit a PR for fixing this?

[2018-09-04 10:07] Jaikant commented on #7859
@kakadiadarpan I am not sure if the `_.forIn` is the right solution to the problem. @jlengstorf @KyleAMathews please let me know, don't want to cause other things to break!

[2018-09-04 10:25] endymion1818 opened #7862 "[v2] Error: Cannot find module 'core-js/modules/es6.array.filter'"
## Description

`gatsby develop` returns the above error

### Steps to reproduce

I upgraded a site from v2 to v2 by copying my dependencies, modules & pages over and following the guide here: https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/

### Environment
[code]
I've tried installing `babel-preset-env` and deleting node_modules & reinstalling.

[2018-09-04 10:30] kakadiadarpan commented on #7859
In my opinion, it should not break things as we are iterating over an object there. If you check before line 336, it declares the type of `resolvedExample` as an `Object`.

https://github.com/gatsbyjs/gatsby/blob/faf58c8a05453763301f5de631e5efc95abd788e/packages/gatsby/src/schema/infer-graphql-type.js#L330

Also, as per the documentation of [forIn](https://lodash.com/docs/4.17.10#forIn), it would

[2018-09-04 10:37] pieh commented on #7859
Replacing `_.each` with `_.forIn` sounds reasonable here. TIL that `_.forEach` has this edge case with `length` property (which does make sense I guess). @Jaikant would you be up for creating PR for it? Other place similiar change should also be done is https://github.com/gatsbyjs/gatsby/blob/faf58c8a05453763301f5de631e5efc95abd788e/packages/gatsby/src/schema/infer-graphql-input-fields.js#L255 and

[2018-09-04 10:42] kakadiadarpan commented on #7836
Hi @oltodo, thanks for sharing the environment info. We'll look into this.

[2018-09-04 10:45] oltodo commented on #7836
Thanks @kakadiadarpan!

[2018-09-04 11:04] kakadiadarpan commented on #7855
Thanks @aman-developer, for sharing the environment info. I'm able to reproduce this issue, I let it run for close to 30 minutes and it was still stuck at `source and transform nodes`.

[2018-09-04 11:10] pieh commented on #7836
Hey, this is happening because we run graphql queries in parallel and order of inserting entries to `dataPaths` is not guaranteed. (`dataPaths` are partial paths to .json files that contain results of graphql queries - files are located in `public/static/d/${dataPath}.json`).

Here's where we are writing file that has random order of keys: https://github.com/gatsbyjs/gatsby/blob/faf58c8a0545376330

[2018-09-04 11:18] pieh commented on #7861
@davidbailey00 Hey, I think this https://github.com/gatsbyjs/gatsby/blob/faf58c8a05453763301f5de631e5efc95abd788e/packages/gatsby/cache-dir/production-app.js#L83-L91 is causing this problem - we don't include pathPrefix in pages metadata relying on router's basepath property - so that check (and redirection) should be updated to adjust path with pathPrefix

[2018-09-04 11:35] pieh commented on #7836
Right, yeah I think this would be good idea to do this for `pagesData` as well (I guess sort by path there).

[2018-09-04 11:39] oltodo commented on #7769
Closed in favor of https://github.com/gatsbyjs/gatsby/issues/7836

[2018-09-04 11:39] #7769 closed

[2018-09-04 11:39] pieh commented on #7862
Can you try deleting lock files (yarn.lock / package-lock.json) and node_modules and reinstalling again?

[2018-09-04 12:27] kakadiadarpan commented on #7853
Hi @SimonIMG, did you had a chance to look at the example of [using-wordpress](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-wordpress)?

[2018-09-04 12:29] endymion1818 commented on #7862
Thanks Pieh yeah tried that, no go I'm afraid.

I did actually just fix this by running `npm install --save core-js`

[2018-09-04 12:38] kakadiadarpan commented on #7862
Awesome!

This issue is being closed as it has been resolved from your end. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-04 12:38] pieh commented on #7862
Do you have still have full error output (with stack trace)? It would be good to get that fixed if this is `gatsby` related and not problem with one of 3rd part packages?

[2018-09-04 12:57] m-allanson opened #7864 "Verify Gatsby plugins before processing them"
## Description

Gatsby does not verify that plugins are Gatsby plugins before attempting to load them. This can cause silent failures for configs that want to pass a `plugins` key through to another library.

Refs: https://github.com/gatsbyjs/gatsby/pull/7402

### Steps to reproduce

A config like this:

[code]

### Expected result

Should warn that `styled-jsx-plugin-postcss` is not a valid Gatsb

[2018-09-04 14:32] ronanlevesque commented on #5995
Same here. This would be the perfect solution to handle inline SVGs when combined with https://github.com/smooth-code/svgr.

[2018-09-04 14:33] kkemple commented on #7423
this seems to be resolved completely, @shannonbux could you verify?

[2018-09-04 14:34] Jaikant commented on #7859
I did a quick test with the `forIn`.
The error I was seeing earlier is resolved, but it seems to mess with the schema. which throws up a new error. Not sure why.

[2018-09-04 14:35] kmorf commented on #7862
Pieh I had the same issue and I pinpointed it to babel removing the core-js dependency in their 7.0.0 beta versions, before they put it up again in their final version.

[2018-09-04 14:55] shannonbux commented on #5608
Saving this image @Aloysb--thanks! If anyone wants to pick up the work left over from #6220, that would be great!

![image](https://user-images.githubusercontent.com/32467162/45039076-0c80a680-b020-11e8-99a3-50e5d1f7f822.png)

[2018-09-04 14:58] DSchau commented on #5608
@shannonbux I think I can take this. I even wrote something a while ago to do just this :)

[The plugin](https://www.npmjs.com/package/gatsby-remark-code-titles) | [Example](https://objectpartners.netlify.com/2018/01/11/migrating-a-wordpress-powered-site-to-gatsbyjs)

[2018-09-04 15:10] kkemple commented on #7476
this also seems resolved, @shannonbux can you try to recreate?

[2018-09-04 15:29] Calderis opened #7868 "Latest release of Gatsby@2.0.0-rc.9 seems to ignore custom .babelrc"
## Description

In order to accept decorator (`@things`) babel require plugin `@babel/plugin-proposal-decorators` so I create my own `.babelrc` file based on Gatsby's doc.
But, latest release of Gatsby next seems to ignore custom .babelrc file.

### Steps to reproduce

By updating to the latest release with `"gatsby": "next"` in package.json, it fails on each compilation . But by specifying `"gats

[2018-09-04 15:39] dbrookes opened #7869 "[v2] [gatsby-plugin-offline] incompatable with gatsby-plugin-remove-trailing-slashes"
## Description

When using the offline plugin with remove trailing slashes plugin, refreshing a cached internal page redirects you to `/offline-plugin-app-shell-fallback` which is blank.

This has started occurring since changing over to workbox in `gatsby-plugin-offline 2.0.0-rc.2`.

### Steps to reproduce

* Install `gatsby-plugin-remove-trailing-slashes` to a project using `gatsby-plugin-offlin

[2018-09-04 15:39] davidbailey00 commented on #7861
@pieh sorry, only just saw this - I think you're right that these lines are causing the problem, but to me it seems the root cause is that `window.page.path` doesn't include the prefix, rather than the quoted lines.

[2018-09-04 16:35] shannonbux commented on #6728
Wanted to capture a conversation from this morning with @m-allanson and @pieh about creating automatic notifications when someone edits the docs --> notify me and a team of relevant people. Might make sense to assign teams to certain files, e.g. if someone makes a PR that changes the blog, notify a certain team, if someone makes a PR that changes gatsby config file, notify a certain team.

Might n

[2018-09-04 16:38] rehat101 opened #7870 "Blink of content"
I see a weird blink of unstyled content to styled content — I'm using styled-components to style and also have `gatsby-plugin-styled-components` in my config file.

I only see this issue in the build version of the site.

[2018-09-04 16:38] m-allanson commented on #6728
GitHub has some built in functionality for this sort of thing, see https://help.github.com/articles/about-codeowners/

[2018-09-04 16:41] pieh commented on #7861
`window.page.path` and other data in `.cache/pages.json` doesn't include path because this is handled by reach router (and previously be react router) with this part https://github.com/gatsbyjs/gatsby/blob/512de27947f020fc78181210a2e7798e905eac67/packages/gatsby/cache-dir/production-app.js#L112-L117 which just assume path prefix as base path. It also allow to use gatsby-link with paths that don't

[2018-09-04 16:47] KyleAMathews commented on #7870
Can you create a site that reproduces this issue that we could look at?

[2018-09-04 16:50] rehat101 commented on #7870
taherand.co - here you go

[2018-09-04 16:59] davidbailey00 commented on #7861
@pieh Okay, that makes sense. In my PR I decided to add the `pathPrefix` to `window.page` as a new keypair rather than to `window.page.path` in order to preserve this behaviour with Reach / gatsby-link etc.

[2018-09-04 17:11] #7752 closed

[2018-09-04 17:32] benadam11 commented on #7068
@KyleAMathews Is there a clear resolution to this? Just converted a site to V2 and am experiencing this
<img width="605" alt="screen shot 2018-09-04 at 10 32 12 am" src="https://user-images.githubusercontent.com/6645985/45047416-d3e7c980-b02d-11e8-913f-4b50fc28c614.png">

[2018-09-04 17:42] KyleAMathews commented on #7068
The original issue was fixed. Please open a new issue with reproduction instructions for what you're seeing now.

[2018-09-04 17:54] kishba commented on #7861
I'm wondering if this is what's causing our Gatsby 2 prototype project to fail its continuous integration builds right now? We're seeing the content of the page render and then a flash to a blank page and the browser's URL is changed to remove the pathPrefix value...

We downgraded to rc 7 and the builds are working again.

[2018-09-04 17:57] amberleyromo commented on #6710
@shannonbux all comments addressed in figma -- started on #7731. Can we close this one out?

[2018-09-04 18:38] DSchau commented on #7868
@Calderis thanks for the thorough reproduction steps. Would you be able to create a repo demonstrating the issue so that we can take a look and debug?

Thank you!

[2018-09-04 18:49] DSchau commented on #7870
@rehat101 I am pretty certain this is not an issue with Gatsby.

It's hard to debug without the original source code, but do you by chance have some type of animation you're applying on content? I see this in the element inspector on your `PageWrapper` component?

[code]

if you simulate loading on a slow 3G connection and disable cache, you can see that component animate in. I believe it's this a

[2018-09-04 19:00] ahinrichs commented on #7861
@kishba: Yep, it's just that. Having exact the same behaviour here. The mentioned code appeared in rc8.

[2018-09-04 19:01] pieh commented on #7861
@kishba, @ahinrichs are you using path prefix?

[2018-09-04 19:16] kishba commented on #7861
@pieh Yes, we're launching a new sub site at our college using Gatsby. We build with this command: `gatsby build --prefix-paths` :)

The site was just deployed today at https://www.midmich.edu/pathways

For now we've switched from `"gatsby": "next",` to `"gatsby": "2.0.0-rc.7",`

[2018-09-04 19:17] ahinrichs commented on #7861
@pieh Yes. With pathPrefix the page flashes, than blanks and location jumps to /"withoutPrefix".
[code]
This fixed it for me

[2018-09-04 19:19] davidbailey00 commented on #7861
@kishba @ahinrichs Sorry, this was my fault for not checking prefixes with a different bug fix - there's PR #7871 which fixes this, which should be merged shortly :)

[2018-09-04 19:35] asistapl commented on #7861
Thank you guys, you're awesome!

[2018-09-04 19:37] #7861 closed

[2018-09-04 19:55] endymion1818 opened #7875 "[Gatsby Store] Order placed, money went out ... no confirmation email or delivery"
Hi

I placed an order on store.gatsbyjs.org and used my coupon as a contributor to get me some snazzy socks ... I paid a little extra for some stickers too, and money went out of my account to "SP * Gatsby INC" on 20 July 2018.

However ... fabled socks did not arrive. I just checked and it turns out I didn't get a confirmation email either.

I don't mind losing the 1.54 GBP but I am missing a sig

[2018-09-04 19:59] KyleAMathews commented on #7875
@jlengstorf

[2018-09-04 20:15] benadam11 opened #7876 "Reach Router Extremely slow changing route."
## Description

After converting from V1 -> V2 - the route changes are very slow.
https://github.com/gatsbyjs/gatsby/issues/7068 documents the same issue which was supposedly solved, but I am still struggling with the

### Steps to reproduce

https://www.dayofthedead.holiday

Click on the nav Link (Home -> Sugar Skull)

### Expected result

Expected: Url changes and page change immediately

### Ac

[2018-09-04 20:35] KyleAMathews commented on #7876
The previous issue was for development. You're seeing a problem with the production build?

FWIW, I just went to the site and clicked on the link and it changed instantly. Perhaps do a performance audit while clicking to see what's going on?

[2018-09-04 20:48] #6181 closed

[2018-09-04 21:16] merelinguist commented on #7870
@rehat101 Does @DSchau’s comment help? If not, is there any way you could provide some reproduction code?

[2018-09-04 21:21] KyleAMathews opened #7879 "For gatsbygram + production-runtime cypress testing, do build of packages & copy over with gatsby-dev so we're testing latest code"
/cc @m-allanson @pieh @davidbailey00

[2018-09-04 21:26] KyleAMathews commented on #7879
@m-allanson no that's different. Right now we're not even doing the normal thing of using gatsby-dev so they don't actually test the current PR, they just test the last released version of the code. The issue you linked to is about adding support for properly testing things when there's dependency changes. But since 95% of PRs don't have dependency changes, fixing this issue is also very important

[2018-09-04 21:40] jlengstorf commented on #7875
@endymion1818 sorry about that! Can you please email me at jason@gatsbyjs.com with the email address you used to make the order? If you don't mind forwarding the payment receipt as well, that'll help me track things down and get this sorted.

Thanks!

[2018-09-04 21:53] shannonbux commented on #7473
Hi @Orozco1993, I'm going to assign this to another person for now. Feel free to follow this issue and jump in later if you'd like!

[2018-09-04 21:59] shannonbux commented on #4284
closed by #6489

[2018-09-04 21:59] #4284 closed

[2018-09-04 22:11] shannonbux commented on #6778
closed by #6489

[2018-09-04 22:11] #6778 closed

[2018-09-04 22:11] shannonbux commented on #6779
closed by #6489

[2018-09-04 22:11] #6779 closed

[2018-09-04 22:16] shannonbux commented on #3956
This is getting taken care of in multiple advanced tutorials on .org. Closing! Yay!

[2018-09-04 22:16] #3956 closed

[2018-09-04 22:31] shannonbux commented on #6710
closing and starting on #7731 thanks @fk and @amberleyromo !

[2018-09-04 22:31] #6710 closed

[2018-09-04 22:39] shannonbux commented on #7476
Can't seem to recreate! Yay!

On Tue, Sep 4, 2018 at 9:11 AM, Kurtis Kemple <notifications@github.com>
wrote:

[2018-09-04 22:39] shannonbux commented on #7476
Closing because can't recreate issue! Thanks @kkemple !

[2018-09-04 22:39] #7476 closed

[2018-09-04 22:42] shannonbux commented on #5608
Wow awesome @DSchau--that'd be great!

This + a copy/paste button would resolve about 80% of problems we saw happen in our first Gatsby workshop back in April :)

[2018-09-04 22:44] shannonbux commented on #7423
Yes, seems resolved. Thanks @kkemple !

[2018-09-04 22:44] #7423 closed

[2018-09-04 22:49] AlahmadiQ8 commented on #2293
I am trying to have a workaround for https://github.com/gatsbyjs/gatsby/issues/2293.

one way is to evaluate expressions at build time using
[babel-plugin-preval](https://github.com/kentcdodds/babel-plugin-preval) babel plugin.

for example, it would be something like this

[code]

I took a stab on this, edited the following files
- `gatsby/src/internal-plugins/query-runner/file-parser.js`
- `gats

[2018-09-04 22:54] alvis commented on #7862
@kmorf good found! I have got the same issue too.

[2018-09-04 23:08] pieh commented on #7862
Right, this isn't something that `gatsby` can fix right?

Also does this error happens in node or in browser? Definitely need more info here, to know if this is something that actually should be issue here or something that happened upstream that we have no control over :/

[2018-09-04 23:32] kmorf commented on #7862
I don't think `gatsby` should attempt to fix this. There were a lot of different React projects failing when this was happening so users added `core-js` to their devDependencies. I haven't had this issue since `babel 7.0.0` was released.

[2018-09-04 23:46] pieh commented on #7590
Hey @alexandernanberg what's mostly wrong here is that `onRouteUpdate` shouldn't actually be called when we navigate to hash link within same page and `gatsby-remark-autolink-headers` should be adjusted for that.

[2018-09-04 23:50] pieh commented on #7862
Let's close this for now then (again :) )

[2018-09-04 23:50] #7862 closed

[2018-09-05 00:06] sktt opened #7881 "cached graphql query responses should be flushed when building for production"
## Description
Doing a production build with path prefix will reuse the graphql query responses from development. These are without pathPrefix so images will all 404.

### Steps to reproduce
Add gatsby filesystem source and sharp transform. run `develop`. observe the path of the image.
Build and prefix paths. Observe `public/d/123/path---mypage......json` for the cached query result.

### Expected

[2018-09-05 00:08] jlengstorf commented on #6728
This is a good idea, @shannonbux. Like @m-allanson said, I think we don't need a Peril automation for this, but I think we could look into GitHub Teams + code owners to manage it really well. Peril could theoretically mention the relevant people and/or assign the PR to them if the teams/code owners isn't enough, though.

[2018-09-05 00:14] sktt opened #7882 "gatsby-plugin-offline: 404 page not found using pathPrefix"
## Description

the plugin no longer appears to support pathPrefix.

### Steps to reproduce

make a build with path prefix set. clear any existent application data. go to website. observe that it works the first time. reload the page. observe a 404 message. check your server logs. observe that a 404 was generated from a request to `/offline-plugin-app-shell-fallback/index.html`, that is without pa

[2018-09-05 00:22] jordanoverbye opened #7883 "V1: gatsby-plugin-eslint fails tests"
When I add eslint to a project, I am getting eslint errors straight away because eslint thinks 'graphql' is an undefined variable.

[code]

Is there anyway around this? I am using GatsbyV1.

[2018-09-05 01:04] gabbes commented on #7883
Hi,

This is because Eslint doesn't know that Gatsby will handle and extract graphql statements during build. To Eslint it simply looks like you forgot the define the variable.

The simplest way around this is to add `/* global graphql */` in your file.

But assigning graphql as a global in your .eslintrc is probably preferable.

[code]

You can read more about the no-undef rule [here](https://esl

[2018-09-05 01:18] brandonkal opened #7884 "v2: DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
## Description

After running gatsby build with Gatsby v2, I now receive this depreciation warning:
[code]

### Steps to reproduce

1. `gatsby build`
2. Observe warning after Javascript and CSS bundles are built

### Expected result

No depreciation warning

### Actual result

There is a depreciation warning

### Environment

Run `gatsby info --clipboard` in your project directory and paste the ou

[2018-09-05 01:25] #7883 closed, assigned to nobody

[2018-09-05 02:01] marisamorby commented on #6728
Agree that looking into GitHub Teams is a great idea. We want the lowest level of effort for the highest impact, so setting up teams so that people understand who owns what will probably help a lot.

[2018-09-05 02:03] akoolenbourke commented on #7858
Thanks. Unfortunately Gatsby now uses @reach-router and it doesn't seem to work the same. For instance, in a component there doesn't seem to be props.location that I could pass to <Login> for instance.

[2018-09-05 02:07] KyleAMathews commented on #7858
Check out the docs for programmatic navigation

https://next.gatsbyjs.org/docs/gatsby-link/#programmatic-navigation

This example site might help as well

https://github.com/gatsbyjs/gatsby/tree/master/examples/simple-auth

[2018-09-05 02:07] #7858 closed

[2018-09-05 02:59] rehat101 commented on #7870
The issue is more related to the unstyled content being loaded at first and styles being applied instantly causing flash/blink or whatever. I do have a fade in transition on `componentDidMount()`

[2018-09-05 03:10] alexandor3x opened #7885 "scroll events"
I have this component, and if i use this in pure react, the events are fired, but in gatsby (v1 and v2) the events doesn´t fire.

[code]

Can you help me, i'm working with semantic ui events and i think some events doesn´t works because of this,

PD://Sorry my bad english.

[2018-09-05 04:10] benadam11 commented on #7876
Yeah this issue is also there on the production build. When you said you clicked the link and the page changed immediately? Was that the URL or the actual page content? The issue I am seeing  - is you click a link and there is a noticable delay between when the url is update (happens immediately) and when the page content changes (sometimes delayed up to 3 seconds)

[2018-09-05 05:56] kakadiadarpan commented on #7885
Can you provide your environment information by running `gatsby info --clipboard` and provide the result of that?

[2018-09-05 06:13] kakadiadarpan commented on #7884
Hi @brandonkal, this warning is coming because webpack 4 is using a new plugin system and deprecates the previous APIs. As per a [comment](https://github.com/webpack/webpack/issues/6568#issuecomment-377491754) in the issue in webpack repo, you can find out the plugin which is causing this warning by running your build with option `--trace-deprecation`. Can you provide this stack trace to us?

[2018-09-05 06:32] kakadiadarpan commented on #7809
Hi @simonjoom, from your repository I understand that you are trying to create a Gatsby starter pack for react-native. However, at the moment we are supporting Gatsby only for web applications.

[2018-09-05 06:32] #7809 closed

[2018-09-05 06:32] m-allanson commented on #7824
@amit-deligence I think you need to look into using a static buildpack for Heroku. Gatsby just outputs plain html which Heroku doesn’t know how to handle, until you do some extra config.

[2018-09-05 06:45] kakadiadarpan commented on #7882
Duplicate of #7861

[2018-09-05 06:45] #7882 closed

[2018-09-05 06:47] #7818 closed

[2018-09-05 07:53] kakadiadarpan commented on #7869
Hi @dbrookes, it would be great if you could provide that repo to reproduce this issue.

[2018-09-05 07:59] kakadiadarpan commented on #7884
You will need to run gatsby using node:

[code]

[2018-09-05 08:06] PucheuMickael commented on #5774
@AntonyMayer , thanks it does work :)

[2018-09-05 08:26] kakadiadarpan commented on #7737
Hi, @chasemccoy @imshuffling would it be possible for you to provide a repository we can reproduce this?

[2018-09-05 08:50] kakadiadarpan commented on #7721
Hi @pizza0502

In your layout file, instead of this:

[code]

do this:

[code]

This will solve your issue of passing data from layout to children, so we'll be closing this issue. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-05 08:50] #7721 closed

[2018-09-05 09:14] kakadiadarpan commented on #7881
Hi @sktt, can you create a reproduction of this issue that we can look at?

[2018-09-05 10:44] kakadiadarpan commented on #7695
Hi @Bobeta, can you also provide the relevant environment information by running `gatsby info --clipboard`?

[2018-09-05 11:35] kakadiadarpan commented on #7856
Hi @nikhilag, can you remove the `gatsby-plugin-offline` and check if that solves the problem for you?

[2018-09-05 11:54] pieh commented on #7855
I think this is same issue as in #6654 , if anyone want to try to work on this please check  https://github.com/gatsbyjs/gatsby/issues/6654#issuecomment-417151538 for context where exactly this could be fixed

[2018-09-05 12:05] kakadiadarpan commented on #7855
Closed in favor of #6654

[2018-09-05 12:05] #7855 closed

[2018-09-05 12:11] berraknil opened #7895 "Creators Page General Issue"
An overall issue to track steps to wrap up creators page

- [x] Code review, currently going on https://github.com/gatsbyjs/gatsby/pull/7874#pullrequestreview-152302415

- [ ] Mobile layout implementation, started today, need to think of a clever way to wrap the navigation.

       Individual page layout changes from row to column on mobile, see below

![mobilelayout](https://user-images.githubuse

[2018-09-05 12:38] #7868 closed

[2018-09-05 12:49] kakadiadarpan commented on #7884
Fixed in #7894

[2018-09-05 12:49] #7884 closed

[2018-09-05 12:59] berraknil commented on #7895
@fk for any suggestions regarding mobile navigation? How can we integrate the Creators sub-navigation to the overall mobile navigation, any suggestions, advice etc?

[2018-09-05 13:04] berraknil commented on #7895
- [ ] Disable filters on individual pages (this will be fixed if we use a a different header there w breadcrumbs)

[2018-09-05 13:23] christoferolaison opened #7896 "Environment variables when calling gatsby on the command line"
## Summary
First of all great work with Gatsby!

I have something I want to report regarding envoiroment variables. When running `SOME_TOKEN=123456789 yarn build` the variable is only set in `gatsby-config.js` and `gatsby-node.js`. Is this a bug or by design?

The problem is that when I build the application with Heroku I want to be able to use the variables I set there to be present in `gatsby-ss

[2018-09-05 13:32] kripod opened #7897 "Add support for styled-components v4"
## Summary

I tried to update [a project](
https://github.com/simonyiszk/frt-web/tree/2620007f320bf635dbb0744746d557c119897cb8) to styled-components@next, but exceptions get thrown during `gatsby develop`.

[2018-09-05 13:45] DSchau commented on #7896
Hi Christopher 👋

Let's walk through this!

You're exposing an environment variable outside of Gatsby, so it won't be available to Gatsby source files. Basically you're tying into a _system_ environment variable.

Gatsby followed create-react-app's lead here (e.g. REACT_APP_SOMETHING is exposed), so you need to prefix variables you _want_ to be exposed to Gatsby with `GATSBY_VARIABLE_NAME_HERE`, e

[2018-09-05 13:45] #7896 closed

[2018-09-05 13:57] #6486 closed

[2018-09-05 14:07] mmsinclair opened #7898 "[v2] pathPrefix ignored in build from simple starter project"
## Description

When `pathPrefix` is set to `/foo` and the site is built and served statically, the browser renders the page and then immediately redirects to `/`.

I think it was probably caused by:

https://github.com/gatsbyjs/gatsby/pull/7758
https://github.com/gatsbyjs/gatsby/issues/7454#issuecomment-414425126

Similar issues that might be related are:

https://github.com/gatsbyjs/gatsby/issue

[2018-09-05 14:11] benadam11 commented on #7876
Did some more investigation and its something related to lottie-web - have a temporary fix but its interesting that it surfaced when upgrading to V2 (not sure why)

[2018-09-05 14:11] #7876 closed

[2018-09-05 14:12] christoferolaison commented on #7896
Thanks for the fast answer! :)

Ohh sorry about the noise I missed that one..

[2018-09-05 14:12] nshki commented on #5021
Apologies for commenting on an already closed issue, but just wanted to share a snippet that I used in my own `gatsby-node.js` that worked for me, following what you all have referenced:

[code]

[2018-09-05 14:26] fk commented on #6710
👍

[2018-09-05 14:59] merelinguist commented on #7870
@rehat101 If the issue is with the `styled-components` plugin, could you provide your `package.json` and `gatsby-config.js` (or excerpts of them)?

[2018-09-05 15:09] DSchau commented on #7897
@kripod could you share what those errors are?

Also most helpful is a repo demonstrating the issue, so we can check it out ourselves :)

(Also way to be on the bleeding edge 👍 I _just_ saw the announcement, ha!)

[2018-09-05 15:14] kripod commented on #7897
@DSchau Unfortunately, I didn’t copy the error message. However, even after disabling `gatsby-plugin-styled-components@next`, the same error was thrown _(by gatsby-ssr if I remember correctly, something like the property “target” cannot be found on a styled component)_.

[2018-09-05 15:18] thorn0 commented on #5021
So is it okay to do so without using `createNodeField`? I'm confused.

[2018-09-05 15:21] pieh commented on #5021
@thorn0 better use `createNodeField` instead of `node.frontmatter.my_field = ` because mutating `node` may results in hard to debug bugs

[2018-09-05 15:22] DSchau commented on #7715
@mittalyashu pretty sure I know the issue here. There's a helpful console warning that would've led you in the right direction too!

[code]

So what you're running into here is that you're using a page level feature (the graphql query) with a component, when that functionality is reserved for pages.

Introducing...

## StaticQuery

The new StaticQuery component and functionality is tailor made for

[2018-09-05 15:22] #7715 closed

[2018-09-05 15:33] DSchau commented on #5774
Sounds like we have a consensus here :)

For posterity, looks like there were two issues here and two solutions.

## Upgrading gatsby plugins to @next

e.g.

given

[code]

simply change all versions for gatsby- to next and then run `yarn` or `npm install` (being sure to delete any lock files first)!

[code]

## gatsby-plugin-postcss-sass not applicable for Gatsby v2

## Wrap-up

Closing for now,

[2018-09-05 15:33] #5774 closed

[2018-09-05 15:46] robinzimmermann opened #7899 "Allow pathPrefix to be specified with "gatsby build" command"
## Summary

`pathPrefix` (documented [here](https://www.gatsbyjs.org/docs/path-prefix/)) is a helpful feature.

In our case:
- A production deployment is published to `/`
- A staging deployment is published to `/staging` (because of reasons)

I don't want to add `pathPrefix` to `gatsby-config.js` because production doesn't require it. But every time I want to stage, I have to temporarily modify `g

[2018-09-05 15:46] kmorf commented on #7862
I run into the issue again just now. I'm attaching a commit on my `gatsby-node.js`. I think I got the error when I used `_.each` instead of `.forEach`.

<img width="1046" alt="screen shot 2018-09-05 at 6 42 24 pm" src="https://user-images.githubusercontent.com/42035849/45104920-c882c400-b13b-11e8-9020-b627a215df88.png">

[2018-09-05 16:29] jlengstorf commented on #991
Related: #7620

[2018-09-05 16:37] jlengstorf commented on #6728
@marisamorby there might be more that's needed, but from where I'm sitting:

1. We need to identify what teams should exist (e.g. docs, core, maybe plugin-specific teams)
2. We need to identify who should get notified as part of those teams
3. We need to make those teams the code owners for the relevant sections of code

Step 1 I think should be reasonably straightforward in an MVP sense. Step 2 i

[2018-09-05 16:51] shannonbux commented on #7785
Ok final decision on this:

- Index page to include a “Gatsby v1” “Gatsby v2” pill
- Detail page to include the same pill  (@fk I guess we do need an update to the Figma design to include this)

@amberleyromo Is there a way to check v2/v1 compatibility along with dependencies? Gatsby version is in package.json along with other dependencies, which we’re already checking for.

@KyleAMathews is there

[2018-09-05 16:52] shannonbux opened #7900 "starter library - set filter default to Gatsby v2"
@LeKoArts in issue #7785

[2018-09-05 16:57] marisamorby commented on #6728
@jlengstorf That line of reasoning makes sense to me. I'm putting together some of the OSS pain points that I took note of and so that might help us identify who should get notified on these teams by identifying where the gaps are.

[2018-09-05 16:58] shannonbux commented on #7753
Hi @amberleyromo an update here based on discussion between @fk and myself!

For the design of this button, we can just imitate the "submit to site showcase" button.

[2018-09-05 17:00] shannonbux commented on #7754
Ok, here's the decision based off of a combination of @KyleAMathews' suggestion and conversation btw @fk and myself today:

Let's change "All 60 Starters" to “Gatsby Starters (60)”

And we'll wait until [EPIC] v2.0 starter showcase to come back to removing filter & refine rectangular box on desktop and doing global title redesigns

[2018-09-05 17:01] shannonbux opened #7901 "starter showcase - removing filter & refine rectangular box on desktop and doing global title redesigns"

[2018-09-05 17:21] alexandor3x commented on #7885
hello, this is the example on react, gatby v1 y gatsby v2

1. React

Code :
![code_react](https://user-images.githubusercontent.com/42748245/45109381-c6a60a00-b115-11e8-983a-6be64e8233bc.png)

Result:
![result_react](https://user-images.githubusercontent.com/42748245/45109409-d58cbc80-b115-11e8-8e84-4f8c1db3f4ad.png)

2. Gatsby V1 (using starter : https://github.com/gatsbyjs/gatsby-starter-hello-w

[2018-09-05 17:45] bfeldman89 commented on #4967
@pereiraryan can you advise what you did more step-by-step? I am having the same issue.

[2018-09-05 17:49] maisonm commented on #6560
Is there anything else you can add to this? I am using the same Gatsby version and I am running into the exact same issue after installing the same plug-ins you have. I have removed the node modules dir and reinstalled all the dependencies, but still I get the same error regarding not being able to find the graphql module.

[2018-09-05 17:57] eric-personal commented on #5622
Anyone get an answer to this. I'm having the same issue and error. I tried using

`global.graphql = jest.fn() `

in my test but it still gives me the **ReferenceError: graphql is not defined** warning ?

[2018-09-05 18:03] interactiveRob commented on #2390
For anyone else who comes upon this, you can also query the wordpressPage or wordpressPost object like so.
[code]

[2018-09-05 18:36] Haroenv opened #7903 "next/v2 website: all text comes at once instead of animated"
## Description

All text of the "blazing fast" animation comes at once

### Steps to reproduce

- open Safari
- go to https://next.gatsbyjs.org
- wait ±1s
- see text come all at once

### Expected result

Text to come one by one

### Actual result

<img width="482" alt="screen shot 2018-09-05 at 11 33 42" src="https://user-images.githubusercontent.com/6270048/45113623-b8e58a00-b0ff-11e8-8d77-27105

[2018-09-05 18:40] nikhilag commented on #7856
@kakadiadarpan It works properly on removing gatsby-plugin-offline. Any idea on how I can keep the plugin and still deploy to firebase?

[2018-09-05 19:14] ambethia commented on #5483
@gera2ld Unfortunately the author of that PR decided to revoke it. :/

[2018-09-05 19:46] DSchau commented on #7903
@Haroenv I can't replicate this! What version of Safari/Mac OS/etc?

![Example](https://thumbs.gfycat.com/DelectableFlimsyCottonmouth-size_restricted.gif)

[2018-09-05 19:52] DSchau commented on #5622
@eric-personal you're using Gatsby v1 right? I'm about to put together an example of how to do this, but I'm presuming the switch from a global graphql call in Gatsby v1 to something like the below (👇) in Gatsby v2 would resolve the issue:

[code]

[2018-09-05 20:02] DSchau commented on #7885
I was unable to reproduce this.

[Here's an example of scroll events firing like you'd expect](https://github.com/DSchau/gatsby-7885)

In particular, check out the [scrollable component](https://github.com/DSchau/gatsby-7885/blob/master/src/components/scrollable.js)

Like you said, it's possible that this is some issue with Semantic UI, but it seems unlikely this is an issue with Gatsby.

Going to

[2018-09-05 20:02] #7885 closed

[2018-09-05 20:02] eric-personal commented on #5622
Yes I'm using Gatsby 1.
But I did find a way around it by doing something similar.
graphql is an export module so I just imported that directly into my component that has my fragment.

`import { graphql } from 'graphql';`

Not sure if that has any side effects or not but so far it works.
Whats your example for your work around for V1 or is it more complicated than writing it in here ?
Thanks for t

[2018-09-05 20:03] oltodo commented on #7836
Fixed through https://github.com/gatsbyjs/gatsby/pull/7878

[2018-09-05 20:03] #7836 closed

[2018-09-05 20:04] DSchau commented on #5622
I can create it, but it _should_ be as simple as a jest.setup.js file with some globals defined!

I've found some weirdness occasionally with defining globals _in_ a Jest test file behaving differently than if they're defined in the setup file.

[2018-09-05 20:09] Haroenv commented on #7903
I was using the tech preview `Release 63 (Safari 12.1, WebKit 13607.1.2.1)` (maybe the issue is just there?). I have the web animations feature enabled, are you using that?

![2018-09-05 13-07-42 2018-09-05 13_08_23](https://user-images.githubusercontent.com/6270048/45118262-e422a600-b10c-11e8-82cf-83fd4fa395d9.gif)

[2018-09-05 20:17] DSchau commented on #7903
Definitely an issue with Safari Tech. Preview. Able to replicate as soon as I switched to it!

I'm not sure there's a _ton_ of value tracing this down, because it's very possible it's some bug in Safari and will be ironed out in a future release.

For what it's worth, here's the [animation source](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/slider.css)

(it's just CSS!)

[2018-09-05 20:17] #7903 closed

[2018-09-05 20:26] Haroenv commented on #7903
it's rdar://44151416 (their bugs are internal), and I confirm it goes away when I remove "web animations & css integration"

[2018-09-05 20:32] eric-personal commented on #5622
Yes that would be super helpful. I can test it after you add an example. Thanks again.

[2018-09-05 20:57] DSchau commented on #5622
@eric-personal here ya go. https://github.com/DSchau/gatsby-5622

In particular, check out the following files:

- [`jest.config.js`](https://github.com/DSchau/gatsby-5622/blob/master/jest.config.js)
    - Configures Jest to use custom babel and "setup" files
- [`jest.setup.js`](https://github.com/DSchau/gatsby-5622/blob/master/jest.setup.js)
    - Shows _how_ to mock out graphql global
- [Sample

[2018-09-05 20:57] #5622 closed

[2018-09-05 21:28] KyleAMathews opened #7908 "Evaluate featured sites & ordering of them for v2 launch"
We'll be launching Gatsby v2 soon and in the process moving next.gatsbyjs.org to gatsbyjs.org which means the site showcase will then be live-er!

Before we do that, let's look over site showcase sites and tweak which ones are featured and the ordering of the featured sites to ensure we have our best feet forward.

[2018-09-05 22:54] SimonIMG commented on #7853
Thanks very much @kakadiadarpan. I didn't find that WordPress/Gatsby v2 example in my searches.

I knew that `boundActionCreators` had been deprecated, but I didn't realise I could literally swap them out.

I installed the _lodash_ and _bluebird_ packages and updated my gatsby-node.js file to mimic most of what I saw in the [gatsby-node.js file in the WordPress example](https://github.com/gatsbyjs

[2018-09-05 23:01] shannonbux commented on #7908
We also ought to clean up the list of tags, like @pieh mentioned. I'm happy to do that, although I only know how to do it manually by CTRL+f in the `.yml` file!

[2018-09-05 23:02] shannonbux commented on #7908
Also does it make any sense to also track this in [EPIC] Starter Showcase v1.5?

[2018-09-05 23:16] KyleAMathews commented on #7908
That's all anyone would do :-) assign it to yourself if you'd like! Actually, let's assign it to both of ourselves and we can schedule 30 minutes in the next few days to review sites.

And need really to have them in both eoics.

[2018-09-05 23:42] shannonbux opened #7910 "Clean up site showcase tags"
We ought to clean up the list of tags, like @pieh mentioned. I'm happy to do that, although I only know how to do it manually by CTRL+f in the .yml file!

[2018-09-05 23:51] loremipson commented on #7853
Nope. I actually don't have anything set in my `gatsby-node.js` file yet. We've just been trying to get our data in the graphiql interface so far, but have run into this road block.

I'm doing something wrong on my end, because I've done this with gatsby v1 already, and when I tried switching to V1 to see if it was just V2 causing the issue, it was still throwing this error at me. I just can't pin

[2018-09-05 23:55] loremipson commented on #7853
Oof.. I wish I would have noticed the `verboseOutput` option earlier. Just set that to true and realized our baseURL is returning undefined. Why? I don't know, but this might point me in the right direction.

[2018-09-05 23:57] SimonIMG commented on #7853
This sounds like a separate issue to my `createPages` issue. Perhaps you want to start a new thread, or search for issues with the `gatsby-config.js` file?

Hard to tell what your issue is without seeing your `gatsby-config.js` file.

And before that, [check out the gatsby-config.js file](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-wordpress/gatsby-config.js) in the WordPress and

[2018-09-05 23:57] #7853 closed

[2018-09-05 23:57] ThatOtherPerson commented on #6486
@KyleAMathews sorry, I somehow missed this! That is Chrome. It's a special build that works on Lambda. It'd probably be possible to have it on S3 or something and download before deploy

[2018-09-06 00:01] loremipson commented on #7853
It totally is a separate issue, I'm sorry for hijacking this one.

This is _really_ embarrassing, but it's been a long week... pointing to `baseURL` instead of `baseUrl`.. That was the problem. :| I'm going to go quit development now.

[2018-09-06 00:32] SimonIMG commented on #7853
HA! We all have days like that. Don't quit, just learn.

[2018-09-06 00:37] DavidSabine commented on #2662
Hi,

I don't want to muddy the waters... but...

Any discussion of themes ought to also include discussion of theming based on routes or domains or sites.    For example:

At http://localhost:8000/___graphql:

- `site` is singular.  Why?  Perhaps it could be a collection.  Each member of the collection:
  - could share a `host`, or have a unique `host`.  A `host` (in my opinion) would map to a hos

[2018-09-06 01:27] SachaG opened #7911 "Redirect to other domain"
In `createRedirect`, can I specify a different domain? I would like to do something like:

[code]

[2018-09-06 01:29] SachaG commented on #7911
Closed as duplicate of #3782

[2018-09-06 03:44] mikelax commented on #5694
One additional file to include in the list is the default `html.js`
The file isn't created in the src filesystem, only in the cache unless the user manually copies the files from the cache to src folder. There is a reference to that somewhere in the docs, but it would be nice to be included here as well.

[2018-09-06 03:55] mikelax commented on #5073
Here are a few stub pages that I found:

- https://next.gatsbyjs.org/docs/v0-release-notes/
- https://next.gatsbyjs.org/docs/v2-release-notes/
- https://next.gatsbyjs.org/docs/overview/
- https://next.gatsbyjs.org/packages/gatsby-plugin-react-next/?= -  broken page, should this be removed?

[2018-09-06 04:42] brandonkal commented on #2662
@DavidSabine if you are serving from different domains, you are probably looking at different applications. If it is important that they be visually distinct with no shared design, why would you want them combined? Just build two apps and develop seperately. The content backend could be the same.

[2018-09-06 04:54] Jaikant commented on #1199
I'll work on the dynamodb source plugin.

[2018-09-06 06:01] brandonkal commented on #2662
@DavidSabine Wow, that project sounds like a nightmare. Service workers and Progressive web apps get very tricky across that many domains which is part of why I suggested an app for each domain.

In your case it sounds like the designs are mostly the same. Things such as the logo could serve a different asset localized asset based on geoip or the client can request the correct logo based on its i1

[2018-09-06 06:03] kakadiadarpan commented on #7899
Hi @robinzimmermann, you can use environment variables to pass th e `pathPrefix` value.

Your staging environment build script:
`PATH_PREFIX='/staging' gatsby build --prefix-paths`

Your production environment build script:
`gatsby build`

In `gatsby-config.js`:
[code]

This way you can specify the `pathPrefix` at runtime as a command line argument and won't need to modify `gatsby-config.js` to se

[2018-09-06 06:03] #7899 closed

[2018-09-06 06:39] kakadiadarpan commented on #7897
Hi @kripod, like @DSchau suggested it would be great if you can provide a demo project. That makes your issue much easier to diagnose.

[2018-09-06 06:52] hguiney opened #7915 "CSS: hsl() with Negative Hue Values Compile to Miscalculated Hexadecimal Values"
## Description

During CSS compilation, HSL color values with negative hue values are clipped to 0 instead of wrapped.

Not using PostCSS, as far as I can tell. Just built on top of the blog starter kit.

### Steps to reproduce

Specify a blue text color using a negative hue value.

**style.css:**
[code]

**index.js:**
[code]

This renders correctly with `gatsby develop`, as the color value is unc

[2018-09-06 08:15] kakadiadarpan commented on #7898
Hi @mmsinclair, after updating the following packages, the redirection issue was not reproducible:
- gatsby from `2.0.0-rc.10` to `2.0.0-rc.13`
- gatsby-plugin-offline from `2.0.0-rc.2` to `2.0.0-rc.4`

However, I faced another issue there after the updates. Prefetching of resources is failing because there is an extra `/foo` in the URL there:
[code]

Environment info:
[code]

@pieh any inputs on

[2018-09-06 08:17] strogonoff commented on #2662
Just my two cents, @DavidSabine might do much better by addressing the multi-site setup issue from deployment automation/DevOps/SRE perspective rather than on app level.

In other words, you can have a Terraform project, or an Ansible playbook, etc., that automates the provisioning of a network of static sites.

Each site would have its own repo, but the repo can be made really minimal, as long as

[2018-09-06 08:34] m-allanson commented on #6486
@ThatOtherPerson would something like this make a good replacement for the checked copy of Chrome? https://github.com/alixaxel/chrome-aws-lambda

[2018-09-06 08:39] Greegko opened #7916 "[v2] Creating a new page during develop session via sourceNodes() is not working"
## Description

Creating new pages by plugins and refreshed via sourceNodes() is not working as expected. It only refreshes contents but cannot load the newly created pages.

The newly created page entry can be found in the Gatsby redux state, but the updated pages dictionary object is not transferred to the client side.

### Steps to reproduce

I used contentful as an external source here, but I

[2018-09-06 08:52] msachi commented on #6398
@anantoghosh Did you find a way to get `gatsby develop` to work on IE? We are trying to fix an IE issue and it's difficult to debug in production.

[2018-09-06 08:54] Greegko commented on #7916
I think #5037 can be related.

[2018-09-06 09:27] Greegko commented on #7916
System:
    OS: macOS High Sierra 10.13.4
    CPU: x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.8.0 - /usr/local/bin/node
    npm: 6.2.0 - /usr/local/bin/npm
  Browsers:
    Chrome: 69.0.3497.81
    Firefox: 61.0.2
    Safari: 11.1
  npmPackages:
    gatsby: ^2.0.0-rc.13 => 2.0.0-rc.13
    gatsby-source-contentful: ^2.0.1-rc.4 => 2.0.1-rc.4

[2018-09-06 09:29] pieh commented on #7898
Original issue was fixed in `2.0.0-rc.10` (with https://github.com/gatsbyjs/gatsby/pull/7871 ).

The follow up issue (one that @kakadiadarpan mention) I think was introduced by https://github.com/gatsbyjs/gatsby/pull/7877 and this https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/prefetch.js#L48 particular line seems to be adding that extra path prefix to the path.

[2018-09-06 09:43] #7422 closed

[2018-09-06 09:45] Jakst opened #7917 "[gatsby-remark-images] Images cannot be left-aligned"
## Description

There is no way to apply style to images so that they are left-aligned. Mainly due to `margin-left: auto; maring-right: auto;` coming after custom wrapperStyle in inline.

If the image has a title and showCaptions is set to `true`, the situation is even worse, because the style is applied on a wrapper outside the one applying the  centering.

### Steps to reproduce

In gatsby-remar

[2018-09-06 10:07] mattes3 commented on #7435
Hi all...

Any progress on this one?

[2018-09-06 10:48] pieh commented on #7435
Hey @mattes3 ,
I don't think anyone worked on that. Would you be interested in helping us fix this? I don't know typescript, so I'm not sure what and how should be updated :(

[2018-09-06 10:49] Bouncey commented on #2352
@KyleAMathews This issue is still relevant in gatsby@2.0.0-rc.10, we @freecodecamp are trying to resolve this. Would you like a new issue or should I reopen this one?

[2018-09-06 10:51] pieh commented on #2352
Let's reopen this one

[2018-09-06 10:55] mmsinclair commented on #7898
Hi @kakadiadarpan and @pieh, thanks for the quick response. Will try out `2.0.0-rc.13` on the project that is having trouble and get back to you with what happens (shouldn't be any different from the test project).

I haven't added `gatsby-plugin-offline` yet, but plan to, so it would be great if that was working too :-)

[2018-09-06 11:35] MarcCoet commented on #2662
@DavidSabine as a proof of concept I built more than 10 websites sharing a same repo. The theming (and site structure) is actually defined in the CMS. So all websites are different but sharing a same codebase.
In your case I guess Drupal might not be the best place to define the theme but you could pick another source plugin and define the themes for all websites in some other place, even a specif

[2018-09-06 12:30] aman-developer commented on #7855
I can't find any relevant answer. you are closing requests yourself without any confirmation. there is no use to put request again. this happens to me 3rd time. I am going to leave it here. I will look for any other frontend js framework. Thank you for your time.

[2018-09-06 12:33] aman-developer commented on #6654
@pieh can you please send updated code for this file ?

/packages/gatsby-source-filesystem/src/create-remote-file-node.js

[2018-09-06 12:34] pieh commented on #7855
This issue was closed because it's duplicate of already opened issue which was already investigated and have pointers were the main problem causing this issue is. Did you read last comments before this issue was closed?

[2018-09-06 12:36] aman-developer commented on #7855
@pieh - yes i had read it. i tried to make changes in code but nothing happen. i am getting same issue. can you please send updated code for this file which will fix this issue ?

/packages/gatsby-source-filesystem/src/create-remote-file-node.js

[2018-09-06 12:43] pieh commented on #6654
@aman-developer there is no fix for this yet - otherwise it would be published. Problem with this issue is there is no reliable way to reproduce this, so any fixes are guesses. Problem is in some cases (might be hardware and/or OS specific) filesystem writeStream doesn't finish and is getting stuck without throwing errors so any fix here really is trying to workaround problems in `fs` package / ha

[2018-09-06 12:54] nikoladev commented on #5801
# Problem: HMR only works when using a hardcoded IP

The hardcoded solution that @ryanditjia proposed (`gatsby develop --host 192.168.0.18 --port 8000`) worked great for me as I can access it on other devices with HMR.

There is one caveat (that I can totally live with): I can't access it through `localhost:8000` on my machine. Instead I have to use `192.168.0.18:8000` or `My-Mac.local:8000`.

The

[2018-09-06 13:01] fk commented on #7754
👍

[2018-09-06 13:06] thochra opened #7919 "[V2] New site pages do not update router's routes and displays 404 (dev mode)"
## Description
New site pages do not update router's routes and displays 404 (while `develop` is running).

### Steps to reproduce
Init the project by running these commands ([Gist URL](https://gist.github.com/thochra/74dbe558907746e797f7f28e728414d4) if you want to check content):
[code]

Then add a page and start dev mode:
[code]

Now let's create a new file
[code]

You can check the new page is

[2018-09-06 13:40] ljaniszewski opened #7920 "gatsby-transformer-yaml Expected "projectsYamlTitleQueryString_2""
## Filtering doesn't work with yaml files

Based on official GraphQL docs I tried to make a query with gatsby-transformer-yaml

https://www.graph.cool/docs/reference/graphql-api/query-api-nia9nushae#traversing-a-single-node
`query {
  projectsYaml(title: "project1"){
    description
    keywords
    published
  }
}`

this doesn't work, error being `"Argument \"title\" has invalid value \"project1\

[2018-09-06 13:40] fk commented on #7772
Hey @aman-developer, sorry to see you having trouble.
Could you try trimming down `docs/sites.yml` to only contain

[code]

and let us know if that gets you past the `gatsby-transformer-screenshot` errors?

[2018-09-06 13:47] b0gd4n opened #7921 "[using-page-transitions] Scrolls to top before animating"
On the `using-page-transitions` example, the page scrolls to top just before fade-out animations starts.
If you have a long page, and click a link to trigger a route change, it immediately scrolls to top of the current page, then the fade-out animation begins, then the new page loads in.
I see the `gatsby-react-router-scroll` is a gatsby dependency - is there a way to pass a timeout so you don't g

[2018-09-06 13:56] pieh commented on #7920
Please check https://www.gatsbyjs.org/docs/graphql-reference/#filter - gatsby uses operators for filtering, so it's more flexible - in your case you would probably want to use:
`query { projectsYaml(title: { eq: "project1"})` - `eq` meaning title is equal to "project1" - other operators allow for exclussion `ne`, using regex etc

[2018-09-06 13:56] #7920 closed

[2018-09-06 15:01] anantoghosh commented on #6398
@msachi develop does not work on ie. Maybe you could find something from this discussion https://github.com/gatsbyjs/gatsby/issues/7003#issuecomment-411652294. You could try using using a custom babel config. All I can say is that the error is because of polyfills not being loaded when using `develop`

[2018-09-06 15:02] SheetJSDev commented on #7790
@mikelax @m-allanson `xlsx` version 0.14.0 flipped the default.

[2018-09-06 15:07] dunglas commented on #4636
https://api-platform.com also has this problem, in the exact same conditions (only on Chrome, and everytime we deploy a new version).
It prevents the site from working until the browser fetches a fresh SW.

[2018-09-06 15:09] mmsinclair commented on #7898
Same as @kakadiadarpan for me @pieh - no redirects to the root after render with that commented out

[2018-09-06 15:18] shelldandy commented on #6398
but also on prod sometimes IE doesn't load at all and you can't properly debug since react is on production mode so the errors are not super friendly

[2018-09-06 15:31] dbrookes commented on #7869
@kakadiadarpan here's a minimal repo that reproduces the issue:

https://github.com/dbrookes/gatsby-sandbox

[2018-09-06 15:36] shannonbux opened #7925 "content migration - include blog post references in existing articles"
We'd like to have references at the bottom of docs to relevant outside resources. It will look like this at the bottom of docs:

Resources:
- Link to relevant .org blogpost
- Link to outside blogpost
- Link to a popular tutorial video
- Link to plugins
- Link to starters
- Link to sites in the site showcase
- Link to example sites

This issue just addresses the first kind of resource: .org blogpos

[2018-09-06 15:36] shannonbux opened #7926 "content migration - create new articles from blog posts"
In order to migrate a blog post, it must meet these quality criteria:

* Quality: copy-paste the whole article
* Quality: copy-paste part of the article

My next steps are:
- [ ] pruning Airtable to remove references from things that don’t meet this quality bar
- [ ] Go through blogposts more deeply to add additional content

[2018-09-06 15:37] shannonbux opened #7927 "content migration - catalog other outside resources (not the blog)"
I'll go through the following resources and make a list of what I can migrate into the docs:
* Example sites documentation
* External blogs
* Plugin documentation
* Starters / site source code

[2018-09-06 15:37] shannonbux opened #7928 "[Sub-EPIC] Docs Hacktoberfest! (2018)"
<h1 align="center">👻🎃 Gatsby Docs Hacktoberfest Epic 🎃👻!</h1>
<p align="center">
  <a href="https://www.gatsbyjs.org/">What is Gatsby?</a>  |  <a href="https://www.gatsbyjs.org/docs/">Gatsby Docs</a>
</p>
<p align="center">
<img alt="Gatsby" src="https://user-images.githubusercontent.com/32467162/46364221-10591600-c62a-11e8-84c4-f189a302492f.jpg"/>
</p>

### Welcome!

During Hacktoberfest, you're

[2018-09-06 15:40] shannonbux opened #7929 "content migration - create OSS issue with list of migration content and where it will go"
Will create a list of migration content like so:

- [ ] Title and source of content --> Where it should go
- [ ] ...

[2018-09-06 15:52] janosh opened #7930 "How to add markers to Google Map during gatsby build?"
I have a page that displays a Google Map with around 20 markers on it based on city names I grab from a GraphQL query. Right now, the city names are reverse geocoded to coordinates in `componentDidMount`. Is there a way to do this once during `gatsby build` and not for every time the page is mounted?

#### Update

As it turns out, geocoding in `componentDidMount` also runs into the issue of pingin

[2018-09-06 15:52] mikelax commented on #7790
great, thanks @SheetJSDev . @m-allanson I'll take this ticket and create a quick PR for this.

[2018-09-06 16:21] oltodo opened #7932 "[v2] [develop] Tries to prefetch undefined.json"
Under `develop` mode I get the following error into my Chrome's console:

![image](https://user-images.githubusercontent.com/483842/45170546-68a22100-b200-11e8-8108-4f1dde6b2f94.png)

I made a very basic research into `gatsby` package and it seems the `cache-dir/loader.js` file tries to prefetch resource based on the `jsonDataPaths` object (located in the `data.json` file) which is never loaded.

[2018-09-06 17:18] pieh commented on #7932
We shouldn't try to prefetch files for development - https://github.com/gatsbyjs/gatsby/blob/2383e104849458366b999f1a65b77d591644735f/packages/gatsby/cache-dir/loader.js#L231-L235 prefetching json should be inside `if (process.env.NODE_ENV === `production`) {` (data in development is handled by `devGetPageData(page.path)` few lines above)

[2018-09-06 17:55] dustinhorton commented on #6654
Have you had issues reproing with my repo & site? It's consistent for me.

[2018-09-06 18:31] qoby opened #7935 "gatsby-source-wordpress: Has anyone started integrating Wordpress's Gutenberg with gatsby?"
## Summary

Just a question: is anyone trying to integrate Wordpress's new editor [Gutenberg](https://wordpress.org/gutenberg/) with Gatsby?

Specifically, it would be amazing if blocks of React content could be placed into content visually.

Blocks can be defined: https://wordpress.org/gutenberg/handbook/blocks/writing-your-first-block-type/

and then placed:

![image](https://wordpress.org/guten

[2018-09-06 18:32] davidbailey00 commented on #7932
I can confirm this with my tutorial project used for testing

![image](https://user-images.githubusercontent.com/4248177/45177686-8cb72f80-b20b-11e8-959a-08482e0d3e0b.png)

[2018-09-06 19:33] jlengstorf commented on #430
@alex-saunders We've got a good chunk of issues [tagged with good first issue](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) that are a good place to start. There are some [front-end focused issues on the swag store](https://github.com/gatsbyjs/store.gatsbyjs.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) that would be beginner

[2018-09-06 19:38] dannywils opened #7939 "Not found pages redirect to /404.html"
Happening on the latest release candidate (2.0.0-rc.13).

Can be reproduced on the gatsby site at https://next.gatsbyjs.org/x

**Expected behavior:**
The 404 page is served from the /x url

**Actual behavior:**
The url is changed to /404.html

[2018-09-06 19:39] DSchau commented on #7939
Is this actually different than expected behavior? Check out the same URL with Gatsby v1 https://www.gatsbyjs.org/x

It redirects to https://www.gatsbyjs.org/404.html

[2018-09-06 19:47] brandonkal commented on #2662
@MarcCoet that would be interesting to see. Is the proof of concept repo open source?

[2018-09-06 19:52] dannywils commented on #7939
It didn't happen on v1 and didn't used to happen with v2 betas.

React is still on v1 and there's seems to work properly. https://reactjs.org/x

[2018-09-06 20:35] davidbailey00 opened #7942 "[v2] [unconfirmed] Gatsby doesn't properly delete files on build"
@Dfmarulanda has [pointed out](https://github.com/gatsbyjs/gatsby/pull/7355#issuecomment-419225564) that `gatsby build` doesn't work reliably without first deleting the `public` folder - we should guarantee that running `gatsby build` over an existing build results in a working website.

[2018-09-06 20:35] davidbailey00 commented on #7942
/cc @pieh

[2018-09-06 20:42] octalmage commented on #7681
This is how I handle syntax highlighting: https://github.com/octalmage/jason.stallin.gs/blob/master/src/components/BlogContent.js#L11

[2018-09-06 20:46] dannywils commented on #7939
I'm not seeing https://www.gatsbyjs.org/x redirect to /404.html. I see 404 being served from /x as I would expect. I do see a flash of empty page when js loads but I believe that is unrelated.

![image](https://user-images.githubusercontent.com/3779698/45184250-c9c7f580-b1fc-11e8-8296-d6b4ed609586.png)

[2018-09-06 20:46] davidbailey00 commented on #7942
Just checked this on the latest commit of [crowdswap/landing](https://github.com/crowdswap/landing) - I cloned, ran `yarn install` and `gatsby serve` and upon visiting localhost:9000, there were no problems.

@Dfmarulanda I'm assuming this is a problem with how Azure is caching certain resources, since it's working perfectly for me - closing. Please let me know if you have any further issues, but

[2018-09-06 20:46] #7942 closed

[2018-09-06 20:48] DSchau commented on #7681
@Radzam I'm not sure I'd _expect_ Gatsby to handle this here.

I'm not really sure what the Wordpress API is returning for code snippets (as HTML), but I'm thinking that it's probably not in a format that PrismJS can highlight. If I recall correctly, Prism expects something like this

[code]

so if the Wordpress content doesn't match that, Prism won't be able to highlight it.

Would you be able to

[2018-09-06 20:48] davidbailey00 commented on #7939
@dannywils This might be related to some recent changes I've made - I'll investigate.

[2018-09-06 20:55] DSchau commented on #7939
@dannywils ha, so the behavior is different (for me) in Firefox vs. Chrome.

Looks like Firefox behavior is what you describe, whereas Chrome works like you expect.

## Chrome

![Chrome](https://thumbs.gfycat.com/EthicalAffectionateAustraliancattledog-size_restricted.gif)

## Firefox

![Firefox](https://thumbs.gfycat.com/WillingGranularAplomadofalcon-size_restricted.gif)

[2018-09-06 21:07] dannywils commented on #7939
That's strange. I can't repro for www.gatsbyjs.org in either browser (Chrome 69, Firefox 61) on Windows, but both browsers reproduce the issue on next.gatsbyjs.org.

[2018-09-06 21:30] #7932 closed

[2018-09-06 22:27] KyleAMathews commented on #7942
This sounds like a bad npm/yarn install problem. The only possible issue with files in `public` is if you remove a page and then don't delete the html for that page. But we take care of that by deleting all HTML files at the start of a build.

[2018-09-06 22:40] fk opened #7944 "[www] Consolidate CSS media query breakpoints"
We currently use a couple of breakpoints from [`typography-breakpoint-constants`](https://github.com/KyleAMathews/typography.js/blob/de1257997cefe4e432c7ae9259ba69ccaf17c908/packages/typography-breakpoint-constants/src/index.js) in https://github.com/gatsbyjs/gatsby/blob/e069f27420ac1ea839c05ee8a18e266bebdadd69/www/src/utils/typography.js#L4-L9 but use slightly different ones defined in https://gi

[2018-09-06 23:00] octalmage commented on #7935
The two work great together already! I use Gutenberg on my website to write posts then display them on Gatsby. What other functionality would you like?

[2018-09-06 23:36] Dfmarulanda commented on #7942
I deleted everything, indeed it worked perfectly for weeks. I changed my build process and now it's working perfectly. I decided to use Azure Blob Storage instead of Azure Web App. Working like a charm.

[2018-09-07 01:08] KyleAMathews opened #7948 "Prefetch css chunks (along side js)"
Currently we prefetch js chunks but don't prefetch css chunks until webpack decides we need them. This obviously slows down Gatsby some if a page transition is blocked by a required css chunk.

To implement this, we'd need [to add css paths to the chunkMapping object](https://github.com/gatsbyjs/gatsby/blob/4efe8f97d9992c60c66ea27de6b5acfeb8212bf6/packages/gatsby/src/utils/webpack.config.js#L229)

[2018-09-07 03:26] KyleAMathews opened #7950 "[Site showcase] we should make the column width for sites flexible so that we fill all the space at different screen widths"
Currently there's often odd amounts of white space to the right and some computers only have two columns when three would easily fit.

[2018-09-07 05:07] kakadiadarpan commented on #7921
Hi @b0gd4n, can you also provide the information with regards to package versions by running `gatsby info --clipboard`?

[2018-09-07 05:21] kakadiadarpan commented on #7869
Thanks for the reproduction @dbrookes. We will look into this.

[2018-09-07 05:36] kakadiadarpan commented on #7919
Possibly related to #7916

[2018-09-07 05:40] kakadiadarpan commented on #7915
@hguiney Could you try upgrading to v2? This issue is fixed there.

[2018-09-07 06:00] kakadiadarpan commented on #7917
Hi @Jakst, would it be possible for you to provide a demo project? This makes your issue much easier to diagnose.

[2018-09-07 06:16] kakadiadarpan commented on #7898
@mmsinclair the redirection issue was fixed when you update your packages `gatsby` and `gatsby-plugin-offline` to their latest beta versions as I mentioned in the [comment](https://github.com/gatsbyjs/gatsby/issues/7898#issuecomment-419006352) above.

Commenting out that line `prefetch.js` fixes the issue of incorrect URL for resource prefetching.

[2018-09-07 06:16] #7898 closed

[2018-09-07 06:53] kakadiadarpan commented on #6847
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-09-07 06:53] #6847 closed

[2018-09-07 07:05] kakadiadarpan commented on #4475
@hihellosm @HumidBrains @ruslan-mystore @sheeldotme would it be possible for you to provide a demo project? This makes your issue much easier to diagnose.

[2018-09-07 07:08] kakadiadarpan commented on #5587
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-07 07:35] fk commented on #6901
💯agreed on the algolia reference! I'd like to think that we're a tiny step closer to something comparable with the "landing page" approach shown in https://github.com/gatsbyjs/gatsby/issues/7544#issuecomment-416293476?
Even if I'm not very far into the design of that page, I'd love to hear your thoughts over there @shannonbux and everyone!

[2018-09-07 08:12] kakadiadarpan commented on #6933
Hi @tmergulhao, would you like to submit a PR for this documentation update?

[2018-09-07 08:14] kakadiadarpan commented on #6968
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-07 08:28] tsriram commented on #5038
Doing another - `rename boundActionCreators to actions`

[2018-09-07 09:28] b0gd4n commented on #7921
@kakadiadarpan here's the clip:

[code]

[2018-09-07 09:45] b0gd4n commented on #7921
This behaviour can be seen on the `using-page-transitions` example [https://streamable.com/mzg5s](https://streamable.com/mzg5s)
The only modifications I've made to the example was to add a few `p` with lorem just to make the pages longer.

[2018-09-07 11:18] shapon-pal opened #7956 "Error: unable to find plugin "gatsby-remark-image""
I find this bug in command

Error: unable to find plugin "gatsby-remark-image"

[2018-09-07 11:46] MarcCoet commented on #2662
@brandonkal I haven't yet decided what I am going to do with it. It is not open source for now, sorry.
You can see the result here: http://www.toile.io/portfolio/
The site itself is using that concept and all the colored bands at the end of the page are web links to sites using it.
This project is more than one year old now and there are a lot of things I would like to change. I am in the process

[2018-09-07 12:10] kakadiadarpan commented on #7921
Thanks for sharing the details and the video. We'll look into this.

[2018-09-07 12:30] DSchau commented on #5622
Uhm... that's extremely weird, that looks like a Typescript error.

Did you use `yarn`? If not, you may not get deterministic resolution for packages.

(Note: I didn't explicitly mention to use or not use yarn, but I'd try that first!)

[2018-09-07 12:34] DSchau commented on #5038
@tsriram that would be great :) I'm not even 100% sure if you get file name, but if you do, you may want to restrict it to only certain files where that's valid. But looking forward to it!

[2018-09-07 12:34] pieh commented on #5038
@DSchau It's already opened - https://github.com/gatsbyjs/gatsby/pull/7955 :)

[2018-09-07 12:38] DSchau commented on #5038
@pieh that's what I get for scrolling through the feed and replying before I get all the way to the bottom 😛 Commented on it :)

[2018-09-07 12:44] samlazrak opened #7959 "loading {StaticQuery} shown forever error"
## Description

Loading {StaticQuery} on generated slug pages. What's going on here? I'm unsure on how to correct the error I get due to the syntax of StaticQuery being different from normal.

### Steps to reproduce

https://github.com/samlazrak/gatsby-hello-world-v2

`yarn install` and `yarn dev`

Navigate to `http://localhost:8000/HelloWorld/helloworld/`

### Expected result

Be shown the blog p

[2018-09-07 12:54] pieh commented on #7959
Please check https://next.gatsbyjs.org/docs/static-query/#how-staticquery-differs-from-page-query

StaticQuery is not replacement for page queries and does not receive any variables - you should use "traditional" page query in your page components. We will be looking in future to create `PageQuery` component but we aren't there yet.

[2018-09-07 12:55] #7959 closed

[2018-09-07 12:58] samlazrak commented on #7959
Okay that makes sense. What exactly do I need to change and how?

[2018-09-07 13:09] pieh commented on #7959
check https://github.com/gatsbyjs/gatsby-starter-blog/blob/v2/src/templates/blog-post.js for how page queries are implemented (named export at the bottom of file) gatsby at build time will catch that and insert `data` prop to your template component - see https://github.com/gatsbyjs/gatsby-starter-blog/blob/2e5d8547462374304241a88b8e51dde2ab2fac70/src/templates/blog-post.js#L12 how it is being use

[2018-09-07 13:27] pieh commented on #7747
So `StaticQueryContext` is used only in development, so using that directly in production won't work anywhere in component tree. Are you sure it doesn't work for `wrapPageElement`? I can definitely see it won't work for `wrapRootElement`

[2018-09-07 13:31] samlazrak commented on #7959
Thank you, that helped.

[2018-09-07 13:38] davidbailey00 commented on #7948
I'll give this a go!

[2018-09-07 13:50] mikelax opened #7961 "[gatsbyjs-store] Inconsistent OG Tags for store.gatsbyjs.org"
## Description

When viewing the gatsbyjs store through something that lints the page, ie. the Facebook Debugger the OG tags and thus rendered display are not correct. The current values are a mix of values from both the black t-shirt and socks. They should be more general and apply to a storefront, not a single item (that would make sense if each item had its own URL).

### Steps to reproduce

Cl

[2018-09-07 13:58] eric-personal commented on #5622
Yes I tried yarn add @types/babel-jest --dev based on the warning above, but that threw another error.
[code]

[2018-09-07 14:01] sktt commented on #7881
I don't know what you want to look at, easiest to reproduce is to follow the steps provided:

1. have a project with a gatsby-image and a pathPrefix
1. run gatsby develop, check that it's working
1. run gatsby build, see that it's not updated.

@kakadiadarpan

[2018-09-07 14:01] DSchau commented on #5622
So, I'd imagine it's something with your repository? If you check out the repo I linked, everything works right?

[2018-09-07 14:02] cometkim commented on #7961
:hand: I'd like to work on this

[2018-09-07 14:18] DSchau opened #7963 "Integrate eslint on www/"
## Summary

We should run eslint on www/ as part of the Travis build, and additionally we should fix any issues that eslint identifies.

(Also we could run this as a git commit hook, but I'm less opinionated on that!)

### Motivation

Linting is generally valuable at catching some helpful code quality errors, and introducing linting as a git hook or as part of Travis will catch those errors early

[2018-09-07 14:25] DSchau opened #7964 "Integrate prettier on www/"
## Summary

We should use some automated tooling to ensure that our code in www/ gets prettified as part of the pull request. I've seen us use a prettier bot on other repos, so that could be a technique, or we could use a git hook with something like husky.

(Also there's no reason this approach couldn't be applied to all JS files, e.g. those outside of www/)

### Motivation

Running prettier (thr

[2018-09-07 14:39] pieh commented on #7961
Hey @mikelax, could you move this issue to https://github.com/gatsbyjs/store.gatsbyjs.org repo (which is where actual store site code is)?

[2018-09-07 14:53] manuelbieh commented on #7642
Having the same issue "all of a sudden" after not having worked on that site for over a week. Not sure if I upgraded anything in the meantime but I'm pretty sure the last time I ran `yarn develop` everything worked fine.

Reproducible:
[code]

Using Windows 10 and Node 8.11.3

[2018-09-07 15:04] mikelax commented on #7961
@pieh  sure, sorry I didn't realize the store had a separate repo. will move now.

[2018-09-07 15:04] #7961 closed

[2018-09-07 15:04] sktt opened #7967 "[gatsby-plugin-offline] pathPrefix, 404"
another `pathPrefix` issue,

all pages 404 on subsequent loads

nginx logs when reloading:
[code]
Missing pathprefix there!

[code]

[2018-09-07 15:08] octalmage commented on #7624
I'd be happy to help with this. I've personally built a bunch of WordPress plugins, and WordPress REST API plugins. So anything I an do to help let me know!

[2018-09-07 15:08] DSchau commented on #7967
So your thought here is that (clearly) it loads the first time, but on refresh everything 404s right?

That's the behavior I'm seeing at least. Removing moving parts here... if you remove gatsby-plugin-offline the site works like you'd expect, correct?

That's the first thing I'd do! Just to ensure that that's the issue.

Additionally, it'd be _great_ if you could share a reproduction repo so we c

[2018-09-07 15:09] sktt commented on #7967
@DSchau correct: https://jknr.me/mobiuslabs/?no-cache=1 works as expected

[2018-09-07 15:32] fucata55 commented on #2470
@ooloth Thanks for covering this. Gatsby newbie here. In your instructions with the styling, where does the actual image mentioned?

[2018-09-07 15:48] #7792 closed

[2018-09-07 15:52] shannonbux commented on #4396
Closing this since it's now in the style guide. During some sort of docs sprint we'll do a "make every doc match the style guide" sort of activity

[2018-09-07 15:53] shannonbux commented on #5694
Hi @m-allanson! How close is this to the default starter READme (new one @amberleyromo wrote recently): https://github.com/gatsbyjs/gatsby-starter-default

Just wondering if some of that content is reusable. Either way, I'll add this to the content pipeline!

[2018-09-07 15:55] DSchau commented on #7967
Disagree a lot there, but I went ahead and created one.

I'm not able to reproduce the issue, but first I just want to make sure we're on the same page here. Here's what I did.

1. Added `gatsby-plugin-offline` to `gatsby-config.js`
1. Added `pathPrefix` to `gatsby-config.js`
1. Changed build script to use `--prefix-paths`
1. Deployed to github pages at a subdomain (`gatsby-7967`)
1. Validated tha

[2018-09-07 15:57] DSchau commented on #7967
Disagree a lot there, but I went ahead and created one.

I'm not able to reproduce the issue, but first I just want to make sure we're on the same page here. Here's what I did.

1. Added `gatsby-plugin-offline` to `gatsby-config.js`
1. Added `pathPrefix` to `gatsby-config.js`
1. Changed build script to use `--prefix-paths`
1. Deployed to github pages at a subdomain (`gatsby-7967`)
1. Validated tha

[2018-09-07 15:59] shannonbux commented on #6933
Thanks @tmergulhao and @kakadiadarpan! I think this `gatsby-source-contentful` plugin READme is where the documentation update should happen unless I'm mistaken! https://www.gatsbyjs.org/packages/gatsby-source-contentful/?=gatsby-source

[2018-09-07 15:59] sktt commented on #7967
looks great! it 404s as expected, thank you, @DSchau

i think the issue is here:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-offline/src/gatsby-node.js#L48

it includes pathPrefix... im not sure if it should

[2018-09-07 16:00] DSchau commented on #7967
Ha, I re-built the site and I think the issue manifested _after_ I checked. Thanks for fact checking me :)

[2018-09-07 16:01] sktt commented on #7967
by the way, should not the html files themselves be included?

[2018-09-07 16:03] DSchau commented on #7967
Let me see if I can fix this. We're currently working on [pathPrefix automated tests](https://github.com/gatsbyjs/gatsby/pull/7941) so this is something I'll see if I can automate once we fix this too 😅

[2018-09-07 16:04] sktt commented on #7967
I think I'm about to fix it over here already, i will just slice out the pathPrefix the html assets, is that alright with you?

[2018-09-07 16:05] DSchau commented on #7967
Happy to have you do it :) Let's just test it with path prefix and without to make sure we haven't introduced a regression!

[2018-09-07 16:05] sktt commented on #7967
understood! ok seeya with a pr

[2018-09-07 16:06] graouts commented on #7903
@Haroenv For future reference, you can also use bugs.webkit.org to file rendering bugs in Safari Technology Preview like this one.

[2018-09-07 16:20] amberleyromo commented on #5694
Direct link to that section: https://github.com/gatsbyjs/gatsby-starter-default#-whats-inside

We had talked about repurposing this elsewhere, so this is perfect. Whats in the starter is reusable, but it's a jumping off point to what would be more in-depth/fuller, i'd imagine.

[2018-09-07 16:56] sktt commented on #7967
https://github.com/gatsbyjs/gatsby/pull/7969

[2018-09-07 16:57] Haroenv commented on #7903
Thanks for verifying and reducing this test case, I'll use the bugzilla in the future, always a bit confused where to file things for Safair

[2018-09-07 17:02] ardeois opened #7970 "linked nodes (___NODE) not stable when used in arrays"
## Description

We've got an issue with the graphql schema generation where some linked types (`xxx___NODE`) are missing from schema.
This happens ONLY when a linked type is part of an array.

Example:
[code]

After some debugging, I found the issue comes from here:
https://github.com/gatsbyjs/gatsby/blob/8652f7b9bae42735c8a33401662fab13f5e193fe/packages/gatsby/src/schema/infer-graphql-input-field

[2018-09-07 17:33] pieh commented on #7970
Ah good catch. That would be my fault :(

[2018-09-07 17:36] ardeois commented on #7970
No problem @pieh , I opened a PR for it: https://github.com/gatsbyjs/gatsby/pull/7971
V2 is still in RC, what is the process for creating new RCs ?
(So once the PR is merged we can benefit from it)

[2018-09-07 17:40] pieh commented on #7970
There's no formal process - we will just release new RC after merging PR (they are build from `master`).

[2018-09-07 17:58] iammatthias opened #7973 "export GATSBY_CONTENTFUL_OFFLINE=true"
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/README.md#offline

## Summary

The gatsby-source-contentful documentation says `If you don't have internet connection you can add export GATSBY_CONTENTFUL_OFFLINE=true to tell the plugin to fallback to the cached data, if there is any.`

Where should the `export GATSBY_CONTENTFUL_OFFLINE=true` be added?

[2018-09-07 18:24] kkemple opened #7975 "[www] Inconsistent accordion behavior in docs sidebar"
The title and button in sidebar sections behave differently when clicked. The title will collapse all other sections while the button keeps surrounding sections open. This causes inconsistency and in the case of title, some jumping of the sidebar. @KyleAMathews and I discussed this and have a fix I can implement.

[2018-09-07 18:24] KyleAMathews opened #7976 "Before the release, remove mentions of the "next" tag from migration guide and tell people to install the latest version of each package"

[2018-09-07 18:33] ooloth commented on #2470
@fucata55 My pleasure!

The actual image is something you first query via graphql and then pass as a prop to your `gatsby-image` component's `fluid` or `fixed` prop (or if using v1, its `sizes` or `resolutions` prop).

The `gatsby-image` component will then generate all the copies of the image you'll need as well and add the complicated `sizes` attribute to the `<img />` in the resulting HTML for

[2018-09-07 18:40] fk commented on #7975
Wow, this is weird…and def. not what I intended to do here.
Thanks for catching! 🙏

[2018-09-07 18:58] fk commented on #7950
We want to do the same for the starter showcase, right? :P

[2018-09-07 19:05] keithort opened #7977 "Broken link for styleguide example"
## Description

When going to https://github.com/gatsbyjs/gatsby/tree/master/examples/styleguide, the link to the demo site is down

### Steps to reproduce

1. Go to https://github.com/gatsbyjs/gatsby/tree/master/examples/styleguide
2. Click on https://styleguide.gatsbyjs.org/

### Expected result

https://styleguide.gatsbyjs.org/ should display

### Actual result

The page does not appear to have

[2018-09-07 19:07] keithort commented on #7977
Nevermind. I saw the notes in https://github.com/gatsbyjs/gatsby/issues/5750

[2018-09-07 19:07] #7977 closed

[2018-09-07 19:12] iammatthias commented on #4349
@KyleAMathews the link says the invite is expired?

[2018-09-07 19:17] #7425 closed

[2018-09-07 19:25] fk opened #7978 "[www/starters] Fix list view card image hover styles"
<img width="656" alt="yo" src="https://user-images.githubusercontent.com/21834/45239158-8cd72e00-b2e4-11e8-8d5b-2b56031be55e.png">

[2018-09-07 19:28] DSchau commented on #7973
That could probably be clarified!

For now, I believe that just means we'll make a network request if that environment variable isn't set (https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/gatsby-node.js#L46)

There's a few ways to set environment variables. In Gatsby, you could try adding `GATSBY_CONTENTFUL_OFFLINE=true` to .env.development, and then see if that

[2018-09-07 19:28] #7973 closed

[2018-09-07 19:33] m-allanson commented on #5953
Ref: https://github.com/gatsbyjs/gatsby/issues/7976

[2018-09-07 19:39] shannonbux opened #7980 "Site Showcase - "Top categories" and "All categories""
## Summary

Because there is a growing number of categories (tags) in the Site Showcase, I thought it would make sense to prioritize a certain number of categories in a new block called "Top Categories" including these (also to be sorted by popularity of the category):
- eCommerce (100)
- Blogs (70)
- Documentation (57)
- Portfolios (55)
- Marketing (43)
- Apps (20)

Then, we also thought it would

[2018-09-07 19:40] qoby commented on #7935
@octalmage: you're using custom layout blocks?

[2018-09-07 19:44] shannonbux commented on #7910
Update:

cleaning up tags first in this googledoc: https://docs.google.com/document/d/1C0SztAzEnEKHJzBjG-aJZ_n-6SZ2eK7nn0pr0rwvKWY/edit?usp=sharing

[2018-09-07 19:48] shannonbux opened #7981 "Longer timeout with screenshots"
## Description

Some screenshots of sites in the site showcase look like they're being taken before the page fully loads.

### Steps to reproduce

Just visit the URLs below to see the problem.

### Expected result

The screenshots should show:
https://www.iamputra.com/
https://www.ryanwiemer.com/about/

### Actual result

They showed
https://next.gatsbyjs.org/showcase/www.iamputra.com
https://next

[2018-09-07 19:52] shannonbux opened #7982 "Add new sites to featured section of site showcase"
## Summary

There are some excellent sites that haven't been added to the site showcase yet. I won't probably be adding all these sites, because we're trying to keep the number of featured sites to 9 (the number that can fit on a page of the site showcase).

This will require adjusting which sites are currently in the site showcase as well. Follow progress here: https://docs.google.com/document/d/

[2018-09-07 19:58] shannonbux commented on #7910
PS @kyleamathews is this one blocking for v2?

[2018-09-07 20:47] amankkg commented on #7897
I have an issue with v4 `createGlobalStyle`, which is a replacement for `injectGlobal`. [Here is my example](https://github.com/amankkg/amank.me/tree/58b5d96ca72de2639cb7fcb49624fc2e593b150f) with latest sc and gatsby. Global style component is [rendered in layout component](https://github.com/amankkg/amank.me/blob/58b5d96ca72de2639cb7fcb49624fc2e593b150f/src/components/layout.js#L27). The warning

[2018-09-07 20:52] iammatthias commented on #7973
Got it, thanks!

[2018-09-07 22:44] pieh commented on #7961
@mikelax that's all right! It's great that you raised that issue! And as far as I can tell - most of it already got implemented and merged ( https://github.com/gatsbyjs/store.gatsbyjs.org/pull/135 ) so huge thanks for that! ❤️

[2018-09-07 22:50] KyleAMathews commented on #7948
Sorry — my notes in the description were pretty cryptic 😅

I'll expand a bit.

When we save out page data during the build, we save the `componentChunkName` for the page. We use that in `loader.js` to do prefetching by using the "chunk mapper" to get the actual file name from the component chunk name. In Gatsby v1 we only worried about prefetching js chunks because webpack didn't add support for c

[2018-09-07 23:04] KyleAMathews commented on #4349
Try this one https://discord.gg/jUFVxtB

[2018-09-07 23:46] tricoder42 commented on #7897
I've just tried styled-components v4 with Gatsby v2. In develop everything works fine, but after build the styles are missing completely. No error in console.

Here's the [repository](https://github.com/tricoder42/tomasehrlich.cz/tree/f2c8718bf95cea89395a78f62cd5a19c2205aa74).

I've downgraded to styled-components v3 and it works.

[2018-09-08 03:37] KyleAMathews opened #7986 "[www] twitter ios nav bar overlaps ours"
- https://twitter.com/rchrdnsh/status/1038260112467484672
- https://twitter.com/rchrdnsh/status/1038260324174970881

![dmikqocu0aawp3k](https://user-images.githubusercontent.com/71047/45249933-ca848880-b2dd-11e8-87c2-d88eb417be80.jpg)

[2018-09-08 03:50] KyleAMathews commented on #4261
Was talking to @sgrove today with @calcsam and he had a really interesting idea which could apply here. Basically it was how to estimate when you've sufficiently inferred a graphql type from data. He said you could assign a "novelty" score to each type you're inferring i.e. how novel do you expect each new item to be. You evaluate sample data item by item. Each time you "learn" something new e.g.

[2018-09-08 03:51] KyleAMathews commented on #2394
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:51] #2394 closed

[2018-09-08 03:51] KyleAMathews commented on #2441
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:51] #2441 closed

[2018-09-08 03:52] KyleAMathews commented on #2483
Closing this out as it should probably live somewhere else e.g. in the contributing guide.

[2018-09-08 03:52] #2483 closed

[2018-09-08 03:52] KyleAMathews commented on #2575
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:52] #2575 closed

[2018-09-08 03:52] KyleAMathews commented on #2691
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:52] #2691 closed

[2018-09-08 03:53] KyleAMathews commented on #2681
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:53] #2681 closed

[2018-09-08 03:53] KyleAMathews commented on #2778
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:53] #2778 closed

[2018-09-08 03:53] KyleAMathews commented on #2464
gatsby develop has https now!

[2018-09-08 03:53] #2464 closed

[2018-09-08 03:55] KyleAMathews commented on #2826
We're not going to do this. Also, you don't need to use CRA with Gatsby as Gatsby sites work the same as CRA! It's just React running in the client!

See https://www.gatsbyjs.org/docs/building-apps-with-gatsby/ for more.

[2018-09-08 03:55] #2826 closed

[2018-09-08 03:56] KyleAMathews commented on #2302
Not sure when but we don't fire `onRouteUpdate` on route changes any more.

[2018-09-08 03:56] #2302 closed

[2018-09-08 03:56] KyleAMathews commented on #2422
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:56] #2422 closed

[2018-09-08 03:57] KyleAMathews commented on #2775
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:57] #2775 closed

[2018-09-08 03:57] KyleAMathews commented on #3005
Check out `<StaticQuery>` in v2!

[2018-09-08 03:57] #3005 closed

[2018-09-08 03:57] KyleAMathews commented on #3016
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:57] #3016 closed

[2018-09-08 03:57] KyleAMathews commented on #2725
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:57] #2725 closed

[2018-09-08 03:58] KyleAMathews commented on #3019
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:58] #3019 closed

[2018-09-08 03:58] KyleAMathews commented on #2892
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:58] #2892 closed

[2018-09-08 03:58] KyleAMathews commented on #2979
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:58] #2979 closed

[2018-09-08 03:58] KyleAMathews commented on #3059
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 03:58] #3059 closed

[2018-09-08 04:00] KyleAMathews commented on #3063
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:00] #3063 closed

[2018-09-08 04:00] KyleAMathews commented on #2922
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:00] #2922 closed

[2018-09-08 04:00] KyleAMathews commented on #2960
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:00] #2960 closed

[2018-09-08 04:01] KyleAMathews commented on #3177
MDX sounds like a great solution for this!

Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:01] #3177 closed

[2018-09-08 04:03] KyleAMathews commented on #2157
Bummer, no one has done it yet :-(

Closing out old issues so if someone stumbles across this, `gatsby-plugin-penthouse` could still be yours to build!

[2018-09-08 04:03] #2157 closed

[2018-09-08 04:03] KyleAMathews commented on #2966
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:03] #2966 closed

[2018-09-08 04:03] KyleAMathews commented on #3145
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:03] #3145 closed

[2018-09-08 04:03] KyleAMathews commented on #2773
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:03] #2773 closed

[2018-09-08 04:03] KyleAMathews commented on #3253
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:03] #3253 closed

[2018-09-08 04:03] KyleAMathews commented on #3258
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:03] #3258 closed

[2018-09-08 04:03] KyleAMathews commented on #3102
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:03] #3102 closed

[2018-09-08 04:04] KyleAMathews commented on #1315
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:04] #1315 closed

[2018-09-08 04:04] KyleAMathews commented on #1643
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:04] #1643 closed

[2018-09-08 04:04] KyleAMathews commented on #3178
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:04] #3178 closed

[2018-09-08 04:04] KyleAMathews commented on #3263
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:04] KyleAMathews commented on #3260
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:04] #3260 closed

[2018-09-08 04:04] KyleAMathews commented on #3280
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:04] #3280 closed

[2018-09-08 04:05] KyleAMathews commented on #3273
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:05] #3273 closed

[2018-09-08 04:05] KyleAMathews commented on #3319
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:05] #3319 closed

[2018-09-08 04:05] KyleAMathews commented on #3360
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:05] #3360 closed

[2018-09-08 04:05] KyleAMathews commented on #3312
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:05] #3312 closed

[2018-09-08 04:05] KyleAMathews commented on #3370
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:05] #3370 closed

[2018-09-08 04:06] KyleAMathews commented on #3351
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3351 closed

[2018-09-08 04:06] KyleAMathews commented on #3391
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3391 closed

[2018-09-08 04:06] KyleAMathews commented on #2847
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #2847 closed

[2018-09-08 04:06] KyleAMathews commented on #1261
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #1261 closed

[2018-09-08 04:06] KyleAMathews commented on #3452
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3452 closed

[2018-09-08 04:06] KyleAMathews commented on #3415
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3415 closed

[2018-09-08 04:06] KyleAMathews commented on #3489
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3489 closed

[2018-09-08 04:06] KyleAMathews commented on #3460
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3460 closed

[2018-09-08 04:06] KyleAMathews commented on #3431
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3431 closed

[2018-09-08 04:06] KyleAMathews commented on #3359
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3359 closed

[2018-09-08 04:06] KyleAMathews commented on #3429
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:06] #3429 closed

[2018-09-08 04:07] KyleAMathews commented on #3322
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:07] #3322 closed

[2018-09-08 04:07] KyleAMathews commented on #3528
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:07] #3528 closed

[2018-09-08 04:07] KyleAMathews commented on #3435
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:07] #3435 closed

[2018-09-08 04:07] KyleAMathews commented on #3481
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:07] #3481 closed

[2018-09-08 04:07] KyleAMathews commented on #3525
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:07] #3525 closed

[2018-09-08 04:07] KyleAMathews commented on #3563
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:07] #3563 closed

[2018-09-08 04:08] KyleAMathews commented on #3574
Hey, we did this! @m-allanson @pieh

[2018-09-08 04:08] #3574 closed

[2018-09-08 04:08] KyleAMathews commented on #2829
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #2829 closed

[2018-09-08 04:08] KyleAMathews commented on #3524
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #3524 closed

[2018-09-08 04:08] KyleAMathews commented on #3479
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #3479 closed

[2018-09-08 04:08] KyleAMathews commented on #3508
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #3508 closed

[2018-09-08 04:08] KyleAMathews commented on #3444
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #3444 closed

[2018-09-08 04:08] KyleAMathews commented on #3043
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #3043 closed

[2018-09-08 04:08] KyleAMathews commented on #2053
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:08] #2053 closed

[2018-09-08 04:09] KyleAMathews commented on #3674
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3674 closed

[2018-09-08 04:09] KyleAMathews commented on #3396
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3396 closed

[2018-09-08 04:09] KyleAMathews commented on #2518
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #2518 closed

[2018-09-08 04:09] KyleAMathews commented on #3705
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3705 closed

[2018-09-08 04:09] KyleAMathews commented on #3673
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3673 closed

[2018-09-08 04:09] KyleAMathews commented on #3656
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3656 closed

[2018-09-08 04:09] KyleAMathews commented on #3678
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3678 closed

[2018-09-08 04:09] KyleAMathews commented on #1658
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #1658 closed

[2018-09-08 04:09] KyleAMathews commented on #3670
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3670 closed

[2018-09-08 04:09] KyleAMathews commented on #3091
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:09] #3091 closed

[2018-09-08 04:10] KyleAMathews commented on #2911
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #2911 closed

[2018-09-08 04:10] KyleAMathews commented on #2609
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] KyleAMathews commented on #3335
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3335 closed

[2018-09-08 04:10] KyleAMathews commented on #3837
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3837 closed

[2018-09-08 04:10] KyleAMathews commented on #2565
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #2565 closed

[2018-09-08 04:10] KyleAMathews commented on #3854
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3854 closed

[2018-09-08 04:10] KyleAMathews commented on #3885
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3885 closed

[2018-09-08 04:10] KyleAMathews commented on #3850
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3850 closed

[2018-09-08 04:10] KyleAMathews commented on #3455
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3455 closed

[2018-09-08 04:10] KyleAMathews commented on #3486
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3486 closed

[2018-09-08 04:10] KyleAMathews commented on #3849
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:10] #3849 closed

[2018-09-08 04:12] KyleAMathews commented on #2726
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #2726 closed

[2018-09-08 04:12] KyleAMathews commented on #3433
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #3433 closed

[2018-09-08 04:12] KyleAMathews commented on #3901
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #3901 closed

[2018-09-08 04:12] KyleAMathews commented on #2427
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #2427 closed

[2018-09-08 04:12] KyleAMathews commented on #3715
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #3715 closed

[2018-09-08 04:12] KyleAMathews commented on #3274
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #3274 closed

[2018-09-08 04:12] KyleAMathews commented on #3983
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #3983 closed

[2018-09-08 04:12] KyleAMathews commented on #4028
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:12] #4028 closed

[2018-09-08 04:13] KyleAMathews commented on #3427
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:13] #3427 closed

[2018-09-08 04:13] KyleAMathews commented on #4099
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:13] #4099 closed

[2018-09-08 04:13] KyleAMathews commented on #4078
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:13] #4078 closed

[2018-09-08 04:13] KyleAMathews commented on #487
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:13] #487 closed

[2018-09-08 04:13] KyleAMathews commented on #4081
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:13] #4081 closed

[2018-09-08 04:13] KyleAMathews commented on #2347
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:13] #2347 closed

[2018-09-08 04:14] KyleAMathews commented on #4169
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:14] #4169 closed

[2018-09-08 04:14] KyleAMathews commented on #4171
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:14] #4171 closed

[2018-09-08 04:14] KyleAMathews commented on #4172
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:14] #4172 closed

[2018-09-08 04:14] KyleAMathews commented on #3929
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:14] #3929 closed

[2018-09-08 04:14] KyleAMathews commented on #4218
Hey @pieh did this!

[2018-09-08 04:14] #4218 closed

[2018-09-08 04:14] KyleAMathews commented on #4252
Still cool but closing to slim down open issues.

[2018-09-08 04:14] #4252 closed

[2018-09-08 04:15] KyleAMathews commented on #4262
Check out `<StaticQuery>` in v2!

[2018-09-08 04:15] #4262 closed

[2018-09-08 04:15] KyleAMathews commented on #4152
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:15] #4152 closed

[2018-09-08 04:15] KyleAMathews commented on #4268
@pieh it'd be cool to do this still.

[2018-09-08 04:15] KyleAMathews commented on #4296
We added a bit of docs in gatsby-image so calling this done

[2018-09-08 04:15] #4296 closed

[2018-09-08 04:16] KyleAMathews commented on #4249
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:16] #4249 closed

[2018-09-08 04:16] KyleAMathews commented on #2414
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:16] #2414 closed

[2018-09-08 04:16] KyleAMathews commented on #3132
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:16] #3132 closed

[2018-09-08 04:17] KyleAMathews commented on #2830
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:17] #2830 closed

[2018-09-08 04:17] KyleAMathews commented on #2354
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:17] #2354 closed

[2018-09-08 04:17] KyleAMathews commented on #4398
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:17] #4398 closed

[2018-09-08 04:17] KyleAMathews commented on #1659
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:17] #1659 closed

[2018-09-08 04:18] KyleAMathews commented on #4415
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:18] #4415 closed

[2018-09-08 04:26] KyleAMathews commented on #3758
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #3758 closed

[2018-09-08 04:26] KyleAMathews commented on #4683
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #4683 closed

[2018-09-08 04:26] KyleAMathews commented on #2510
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #2510 closed

[2018-09-08 04:26] KyleAMathews commented on #2844
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #2844 closed

[2018-09-08 04:26] KyleAMathews commented on #4723
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #4723 closed

[2018-09-08 04:26] KyleAMathews commented on #3607
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #3607 closed

[2018-09-08 04:26] KyleAMathews commented on #2792
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #2792 closed

[2018-09-08 04:26] KyleAMathews commented on #2930
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #2930 closed

[2018-09-08 04:26] KyleAMathews commented on #2334
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #2334 closed

[2018-09-08 04:26] KyleAMathews commented on #3584
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #3584 closed

[2018-09-08 04:26] KyleAMathews commented on #2490
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:26] #2490 closed

[2018-09-08 04:27] KyleAMathews commented on #3124
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #3124 closed

[2018-09-08 04:27] KyleAMathews commented on #3162
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #3162 closed

[2018-09-08 04:27] KyleAMathews commented on #3701
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #3701 closed

[2018-09-08 04:27] KyleAMathews commented on #2325
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #2325 closed

[2018-09-08 04:27] KyleAMathews commented on #2321
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #2321 closed

[2018-09-08 04:27] KyleAMathews commented on #3093
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #3093 closed

[2018-09-08 04:27] KyleAMathews commented on #3724
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #3724 closed

[2018-09-08 04:27] KyleAMathews commented on #1935
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:27] #1935 closed

[2018-09-08 04:28] KyleAMathews commented on #3733
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:28] #3733 closed

[2018-09-08 04:28] KyleAMathews commented on #3327
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:28] #3327 closed

[2018-09-08 04:28] KyleAMathews commented on #3450
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:28] #3450 closed

[2018-09-08 04:28] KyleAMathews commented on #3998
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:28] #3998 closed

[2018-09-08 04:29] KyleAMathews commented on #2327
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #2327 closed

[2018-09-08 04:29] KyleAMathews commented on #2968
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] KyleAMathews commented on #2326
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #2326 closed

[2018-09-08 04:29] KyleAMathews commented on #2328
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #2328 closed

[2018-09-08 04:29] KyleAMathews commented on #4238
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #4238 closed

[2018-09-08 04:29] KyleAMathews commented on #4170
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #4170 closed

[2018-09-08 04:29] KyleAMathews commented on #4003
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #4003 closed

[2018-09-08 04:29] KyleAMathews commented on #4918
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #4918 closed

[2018-09-08 04:29] KyleAMathews commented on #1076
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:29] #1076 closed

[2018-09-08 04:30] KyleAMathews commented on #1076
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] KyleAMathews commented on #885
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #885 closed

[2018-09-08 04:30] KyleAMathews commented on #4102
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #4102 closed

[2018-09-08 04:30] KyleAMathews commented on #3361
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #3361 closed

[2018-09-08 04:30] KyleAMathews commented on #3961
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #3961 closed

[2018-09-08 04:30] KyleAMathews commented on #2271
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #2271 closed

[2018-09-08 04:30] KyleAMathews commented on #3726
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #3726 closed

[2018-09-08 04:30] KyleAMathews commented on #3862
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #3862 closed

[2018-09-08 04:30] KyleAMathews commented on #4231
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:30] #4231 closed

[2018-09-08 04:31] KyleAMathews commented on #2087
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:31] #2087 closed

[2018-09-08 04:31] KyleAMathews commented on #2986
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:31] #2986 closed

[2018-09-08 04:31] KyleAMathews commented on #1116
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:31] #1116 closed

[2018-09-08 04:31] KyleAMathews commented on #4827
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:31] #4827 closed

[2018-09-08 04:32] KyleAMathews commented on #2322
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:32] #2322 closed

[2018-09-08 04:32] KyleAMathews commented on #4096
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:32] #4096 closed

[2018-09-08 04:33] KyleAMathews commented on #2902
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:33] #2902 closed

[2018-09-08 04:33] KyleAMathews commented on #4988
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:33] #4988 closed

[2018-09-08 04:33] KyleAMathews commented on #4977
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:33] #4977 closed

[2018-09-08 04:33] KyleAMathews commented on #4997
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:33] #4997 closed

[2018-09-08 04:33] KyleAMathews commented on #4413
Hey, we kinda did this!

[2018-09-08 04:33] #4413 closed

[2018-09-08 04:34] #4333 closed

[2018-09-08 04:34] KyleAMathews commented on #4565
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:34] KyleAMathews commented on #4966
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:34] #4966 closed

[2018-09-08 04:34] KyleAMathews commented on #4964
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:34] #4964 closed

[2018-09-08 04:34] KyleAMathews commented on #4949
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:34] #4949 closed

[2018-09-08 04:34] KyleAMathews commented on #4933
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:34] #4933 closed

[2018-09-08 04:34] KyleAMathews commented on #4992
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:35] KyleAMathews commented on #4992
Oh actually, we do still want to do this.

[2018-09-08 04:35] KyleAMathews commented on #2720
Kinda doing this now.

[2018-09-08 04:35] #2720 closed

[2018-09-08 04:35] KyleAMathews commented on #4147
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:35] #4147 closed

[2018-09-08 04:35] KyleAMathews commented on #4904
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:35] #4904 closed

[2018-09-08 04:35] KyleAMathews commented on #2926
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:35] #2926 closed

[2018-09-08 04:36] KyleAMathews commented on #445
Perhaps still a good idea but v2 uncovered a bunch of other lower-hanging perf improvements to pick so closing for now.

[2018-09-08 04:36] #445 closed

[2018-09-08 04:36] KyleAMathews commented on #4361
We're doing lots with Cypress so closing this for now.

[2018-09-08 04:36] #4361 closed

[2018-09-08 04:36] KyleAMathews commented on #4168
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:36] #4168 closed

[2018-09-08 04:36] KyleAMathews commented on #3116
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:36] #3116 closed

[2018-09-08 04:36] KyleAMathews commented on #5031
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 04:36] #5031 closed

[2018-09-08 05:10] KyleAMathews commented on #5033
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:10] #5033 closed

[2018-09-08 05:10] KyleAMathews commented on #3808
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:10] #3808 closed

[2018-09-08 05:11] KyleAMathews commented on #5037
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:11] #5037 closed

[2018-09-08 05:11] KyleAMathews commented on #3103
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:11] #3103 closed

[2018-09-08 05:11] KyleAMathews commented on #5044
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:11] #5044 closed

[2018-09-08 05:11] KyleAMathews commented on #5049
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:11] #5049 closed

[2018-09-08 05:11] KyleAMathews commented on #5062
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:11] #5062 closed

[2018-09-08 05:12] KyleAMathews commented on #5024
Title is about in and we're working on a copy button

[2018-09-08 05:12] #5024 closed

[2018-09-08 05:12] KyleAMathews commented on #4591
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:12] #4591 closed

[2018-09-08 05:12] KyleAMathews commented on #5072
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:12] #5072 closed

[2018-09-08 05:12] KyleAMathews commented on #5080
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:12] #5080 closed

[2018-09-08 05:12] KyleAMathews commented on #4293
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:12] #4293 closed

[2018-09-08 05:12] KyleAMathews commented on #5110
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:12] #5110 closed

[2018-09-08 05:13] KyleAMathews commented on #5079
v2 is a lot faster! So closing this for now.

[2018-09-08 05:13] #5079 closed

[2018-09-08 05:13] KyleAMathews commented on #4110
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:13] #4110 closed

[2018-09-08 05:13] KyleAMathews commented on #5113
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:13] #5113 closed

[2018-09-08 05:13] KyleAMathews commented on #5120
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:13] #5120 closed

[2018-09-08 05:13] KyleAMathews commented on #4993
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:14] KyleAMathews commented on #4899
Would love to see a plugin that wraps fast-exif!

[2018-09-08 05:14] #4899 closed

[2018-09-08 05:14] KyleAMathews commented on #5086
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:14] KyleAMathews commented on #5188
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:14] #5188 closed

[2018-09-08 05:14] KyleAMathews commented on #3920
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] KyleAMathews commented on #3920
Oh actually, we're probably going to work on this soon 👍

[2018-09-08 05:15] KyleAMathews commented on #4961
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #4961 closed

[2018-09-08 05:15] KyleAMathews commented on #3289
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #3289 closed

[2018-09-08 05:15] KyleAMathews commented on #2112
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #2112 closed

[2018-09-08 05:15] KyleAMathews commented on #4067
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #4067 closed

[2018-09-08 05:15] KyleAMathews commented on #5242
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #5242 closed

[2018-09-08 05:15] KyleAMathews commented on #5226
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #5226 closed

[2018-09-08 05:15] KyleAMathews commented on #2956
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:15] #2956 closed

[2018-09-08 05:16] KyleAMathews commented on #3228
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #3228 closed

[2018-09-08 05:16] KyleAMathews commented on #5265
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #5265 closed

[2018-09-08 05:16] KyleAMathews commented on #5290
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #5290 closed

[2018-09-08 05:16] KyleAMathews commented on #4624
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #4624 closed

[2018-09-08 05:16] KyleAMathews commented on #5135
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #5135 closed

[2018-09-08 05:16] KyleAMathews commented on #5122
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #5122 closed

[2018-09-08 05:16] KyleAMathews commented on #2374
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #2374 closed

[2018-09-08 05:16] KyleAMathews commented on #5310
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #5310 closed

[2018-09-08 05:16] KyleAMathews commented on #2135
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #2135 closed

[2018-09-08 05:16] KyleAMathews commented on #5231
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:16] #5231 closed

[2018-09-08 05:17] KyleAMathews commented on #5251
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #5251 closed

[2018-09-08 05:17] KyleAMathews commented on #4357
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #4357 closed

[2018-09-08 05:17] KyleAMathews commented on #5323
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #5323 closed

[2018-09-08 05:17] KyleAMathews commented on #5183
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #5183 closed

[2018-09-08 05:17] KyleAMathews commented on #5307
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #5307 closed

[2018-09-08 05:17] KyleAMathews commented on #5270
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #5270 closed

[2018-09-08 05:17] KyleAMathews commented on #4491
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:17] #4491 closed

[2018-09-08 05:19] #5054 closed, assigned to nobody

[2018-09-08 05:25] KyleAMathews commented on #3199
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:25] #3199 closed

[2018-09-08 05:26] KyleAMathews commented on #5814
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:26] #5814 closed

[2018-09-08 05:26] KyleAMathews commented on #5739
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:26] #5739 closed

[2018-09-08 05:26] KyleAMathews commented on #5191
@Khaledgarbaya's post is great! Go read that!

[2018-09-08 05:26] #5191 closed

[2018-09-08 05:27] KyleAMathews commented on #6125
This is a problem with gatsby-transformer-screenshot.

[2018-09-08 05:27] #6125 closed

[2018-09-08 05:28] KyleAMathews commented on #6126
We can map between any node type. Needs more docs. Perhaps an alternative API.

[2018-09-08 05:28] #6126 closed

[2018-09-08 05:28] KyleAMathews commented on #6124
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:28] #6124 closed

[2018-09-08 05:28] KyleAMathews commented on #6168
We're just using the create react app eslint config. We should document this but closing this for now.

[2018-09-08 05:28] #6168 closed

[2018-09-08 05:29] KyleAMathews commented on #5520
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:29] #5520 closed

[2018-09-08 05:29] KyleAMathews commented on #6157
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:29] #6157 closed

[2018-09-08 05:29] KyleAMathews commented on #6169
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:29] #6169 closed

[2018-09-08 05:29] KyleAMathews commented on #4186
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:29] #4186 closed

[2018-09-08 05:29] KyleAMathews commented on #6204
This is done I believe.

[2018-09-08 05:29] #6204 closed

[2018-09-08 05:29] KyleAMathews commented on #4919
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:29] #4919 closed

[2018-09-08 05:29] KyleAMathews commented on #6206
Done in v2 I believe.

[2018-09-08 05:29] #6206 closed

[2018-09-08 05:29] KyleAMathews commented on #5046
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:29] #5046 closed

[2018-09-08 05:30] KyleAMathews commented on #4851
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:30] #4851 closed

[2018-09-08 05:30] KyleAMathews commented on #6192
Closing this for now but pinging @shannonbux in case you missed this discussion.

[2018-09-08 05:30] #6192 closed

[2018-09-08 05:30] KyleAMathews commented on #6137
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:30] #6137 closed

[2018-09-08 05:30] KyleAMathews commented on #6080
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:30] #6080 closed

[2018-09-08 05:31] KyleAMathews commented on #6222
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:31] #6222 closed

[2018-09-08 05:31] KyleAMathews commented on #6216
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:31] #6216 closed

[2018-09-08 05:31] KyleAMathews commented on #6215
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:31] #6215 closed

[2018-09-08 05:31] KyleAMathews commented on #6189
Done I believe.

[2018-09-08 05:31] #6189 closed

[2018-09-08 05:31] KyleAMathews commented on #3684
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:31] #3684 closed

[2018-09-08 05:32] KyleAMathews commented on #6194
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:32] #6194 closed

[2018-09-08 05:32] KyleAMathews commented on #4814
Hey appreciate you dropping by but it doesn't seem like there's enough interest atm to make this on our todo list. Closing for now.

[2018-09-08 05:32] #4814 closed

[2018-09-08 05:33] KyleAMathews commented on #4708
And it's out!

[2018-09-08 05:33] #4708 closed

[2018-09-08 05:33] KyleAMathews commented on #6320
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:33] #6320 closed

[2018-09-08 05:33] KyleAMathews commented on #6329
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:33] #6329 closed

[2018-09-08 05:33] KyleAMathews commented on #6323
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:33] #6323 closed

[2018-09-08 05:33] KyleAMathews commented on #6343
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:33] #6343 closed

[2018-09-08 05:33] KyleAMathews commented on #6318
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:33] #6318 closed

[2018-09-08 05:34] KyleAMathews commented on #5716
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] #5716 closed

[2018-09-08 05:34] KyleAMathews commented on #6314
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] #6314 closed

[2018-09-08 05:34] KyleAMathews commented on #5936
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] #5936 closed

[2018-09-08 05:34] KyleAMathews commented on #2972
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] KyleAMathews commented on #4033
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] #4033 closed

[2018-09-08 05:34] KyleAMathews commented on #6348
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] #6348 closed

[2018-09-08 05:34] KyleAMathews commented on #6360
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:34] #6360 closed

[2018-09-08 05:36] KyleAMathews commented on #5838
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:36] #5838 closed

[2018-09-08 05:36] KyleAMathews commented on #3677
we added a bunch! https://next.gatsbyjs.org/docs/browser-apis/#onServiceWorkerActive

[2018-09-08 05:36] #3677 closed

[2018-09-08 05:37] KyleAMathews commented on #4746
I have an open PR for this https://github.com/gatsbyjs/gatsby/pull/6651

[2018-09-08 05:37] KyleAMathews commented on #4746
Definitely needs done for Gatsby to scale to larger sites.

[2018-09-08 05:37] KyleAMathews commented on #6342
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:37] #6342 closed

[2018-09-08 05:38] KyleAMathews commented on #3495
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:38] #3495 closed

[2018-09-08 05:38] KyleAMathews commented on #4345
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:38] #4345 closed

[2018-09-08 05:38] KyleAMathews commented on #6172
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:38] #6172 closed

[2018-09-08 05:38] KyleAMathews commented on #6276
Done!

[2018-09-08 05:38] #6276 closed

[2018-09-08 05:39] KyleAMathews commented on #5790
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:39] #5790 closed

[2018-09-08 05:39] KyleAMathews commented on #6180
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:39] #6180 closed

[2018-09-08 05:39] KyleAMathews commented on #6424
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:39] #6424 closed

[2018-09-08 05:39] KyleAMathews commented on #6431
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:39] #6431 closed

[2018-09-08 05:40] KyleAMathews commented on #4946
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!

[2018-09-08 05:40] #4946 closed

[2018-09-08 05:40] KyleAMathews commented on #3900
Due to the high volume of issues, we're closing out older ones without recent activity. Please open a new issue if you need help!