[2019-04-10 21:31] sidharthachatterjee commented on #13276
Hey @eballeste

Based on this, I'd look at how the assets are being hosted in production. It seems that `component---src-pages-index-js-5728fe7c6c0828459796.js` is being returned with an incorrect MIME type (text/html whereas it should be application/javascript)

[2019-04-10 21:42] eballeste commented on #13276
@sidharthachatterjee thanks for responding, quick question, would you know why this seems to happen only happen to some of our users and why it would go away on page refresh?

[2019-04-10 21:48] kyuumeitai commented on #13270
Indeed, this could help if you have several clients with one wordpress installation.

Another case would be if you need to publish a lean gatsby wordpress site with only the images that are being actually used, i.e., you have 100 photos in media but you have 3 posts with one `featured_media`, the `build` process would grab the 100 photos even if you use only 3.

[2019-04-10 22:03] sidharthachatterjee commented on #13273
cc @DSchau

[2019-04-10 22:08] sidharthachatterjee commented on #13232
Hey @universse

Could you provide a minimal reproduction for this if possible? Honestly, I'm not familiar with `gatsby-plugin-amplitude-analytics`.

Considering `gatsby-plugin-remove-serviceworker` fixed the issue, I'd conclude that the plugin doesn't work with service workers in general?

I noticed you opened the issue at https://github.com/ryanashcraft/gatsby-plugin-amplitude-analytics/issues/7

[2019-04-10 22:08] #13232 closed

[2019-04-10 22:15] jonniebigodes commented on #13272
@sbugert my comment is based from experience dealing with similar issues in here. if you open `http://localhost:8000/___graphql` and check the documentation, you'll see what i mean in my comment. And with that i'll leave to the capable hands of @stefanprobst for a solution

[2019-04-10 22:22] sidharthachatterjee commented on #13268
@VasilHamulyak The `/admin` page is rendered entirely by https://github.com/netlify/netlify-cms

On that note, are you using a custom preview template like https://github.com/netlify-templates/gatsby-starter-netlify-cms/tree/master/src/cms/preview-templates?

[2019-04-10 22:26] Naggertooth commented on #13274
Thank you for fast response.

https://github.com/gatsbyjs/gatsby/issues/13274#issuecomment-481848904
Yes, I have enough time.

https://github.com/gatsbyjs/gatsby/issues/13274#issuecomment-481871564
And thanks for suggestion
I'll try it tomorrow because for now I'm going to sleep 💤

Thank you very much! ✨✨✨

[2019-04-10 22:28] adberard commented on #13213
Yes I actually sticked to firebase 5.9.0 but im unhappy with this solution also I dont know how to handle this use case :
[code]
`Namespace '"/home/adelin/Documents/bustr/bustr-site/node_modules/@firebase/app/dist/index"' has no exported member 'auth'.
`
without the @ importing firebase/auth doesnt assign its properties to the firebase object

[2019-04-10 22:29] #12845 closed

[2019-04-10 22:31] sidharthachatterjee commented on #13266
Perhaps your URL has the locale in it and you could use that?

[2019-04-10 22:34] sidharthachatterjee commented on #12985
Closing this as a duplicate of https://github.com/gatsbyjs/gatsby/issues/13262 and since the latter has more context

[2019-04-10 22:34] #12985 closed

[2019-04-10 22:36] sidharthachatterjee commented on #13242
@krityk Glad to see that your issue is resolved!

Closing this out for now but please feel free to comment or reopen if we've missed anything!

[2019-04-10 22:36] #13242 closed

[2019-04-10 22:40] alirussell commented on #12485
Ok, good news.  I have managed to get things working, and now I can successfully build 73k pages in about 6 minutes!!!

<img width="676" alt="Screenshot 2019-04-10 at 23 29 47" src="https://user-images.githubusercontent.com/643153/55917782-9319e980-5be8-11e9-8333-d4980794c074.png">

It does require a fair amount of RAM (like 20GB+) to get through some part of the creation of pages.  Ill take a loo

[2019-04-11 00:22] MitchEff commented on #13109
After much hair-pulling, I'm fairly sure we were victim to the same issue. I threw out all our packages and installed everything fresh, and the `json` field then showed up.

[2019-04-11 01:48] pieh commented on #12485
This seems like a bug. Generally right now, we don't support Static Queries inside page/templates, just because of how gatsby internally tracks queries it limits to single query per file. If this is happening it seems like Gatsby thinks Static Query in page/template is actually page query and treat it as such.

[2019-04-11 02:19] polarathene commented on #13164
@brimtown Thanks for getting back to me with such a great response! Really appreciated :smiley:

That was a clear explanation for why srcSet is different and complimentary. The media prop would still be a single prop though? It's just you need an array of fluid/fixed data(existing prop) to pair with that instead now?

Also good to know about @tbrannam being on the team regarding my concern about t

[2019-04-11 02:43] co16353sidak commented on #13243
@sidharthachatterjee would love to work on this 👍

[2019-04-11 03:26] #13276 closed

[2019-04-11 03:45] suziwen commented on #13267
Reproduction link: https://github.com/suziwen/gatsby-file-path-infer-problem

-------------

[code]

![image](https://user-images.githubusercontent.com/57370/55929393-05bdb000-5c4f-11e9-9e77-4f3265052997.png)

[2019-04-11 05:03] bangarangler opened #13278 "Error: Cannot create as TypeComposer the following value: Date."
## Description

Can't launch Dev Server. I just get Error: Cannot create as TypeComposer the following value: Date.
  - SchemaComposer.js:313 SchemaComposer.createTempTC
    [restaurant]/[graphql-compose]/lib/SchemaComposer.js:313:11

  - SchemaComposer.js:511 SchemaComposer.addAsComposer
    [restaurant]/[graphql-compose]/lib/SchemaComposer.js:511:27

  - schema-composer.js:21 createSchemaCompose

[2019-04-11 06:06] valdelama commented on #978
@kevinfoerster Any chance you could expand on this or show some code:

much appreciated

[2019-04-11 07:47] VasilHamulyak commented on #13268
I don't use templates. It will help to solve this problem?

[2019-04-11 07:55] CanRau commented on #10250
@pieh I understand the amount of issues being a lot of work, just trying to figure out if I should abandon this PR and keep my fork or if it's still interesting..

[2019-04-11 08:34] stefanprobst commented on #13272
@sbugert Thanks for the report and the repo! This is (very probably) a known issue ([we don't handle linking array of arrays](https://github.com/gatsbyjs/gatsby/blob/8caa1f26d99150b1624c7104f5f969436e1c6dd1/packages/gatsby/src/schema/resolvers.js#L111)), I'll hopefully have a fix soon(TM).

[2019-04-11 09:05] bravokiloecho commented on #11928
Thanks @DSchau! I really appreciate your help and advice here.

I think I understand your suggestion but I wonder if there's another approach possible. Sometimes I'll want the THREE.js scene to update on every `requestAnimationFrame` so I'd rather not add the computational load of having to update the React component in addition. Especially when this is only for the sake of getting hot-reloading t

[2019-04-11 09:10] gustavpursche commented on #12684
@gatsbyjs-read-only-user Not stale.

[2019-04-11 09:12] gustavpursche commented on #12684
Hi there again. Thanks to the bot reminder: the author of the lib didn't respond (since 2015). I think the whole module could be small enough to inline the code. What do you think?

The other solution could be to fork the project and rework the code based on the actual specs and to publish it as a new npm module.

[2019-04-11 09:33] tgy3300 opened #13283 "gatsby 页面怎么在className里调用 css 文件的样式类"
如题

[2019-04-11 09:42] wardpeet commented on #13035
@kuworking mind creating a small reproduction than I can get this bug fixed

[2019-04-11 09:51] deepkesh26 commented on #1767
I had the same error

Date: 2019-04-11T09:37:41.804Z
Hash: 339909bc988fb9628a0e
Time: 16126ms
chunk {scripts} scripts.5994b0d4263eaf6f8498.bundle.js (scripts) 207 kB [initial] [rendered]
chunk {0} main.1eca2b65ad0743f06cc3.bundle.js (main) 867 kB [initial] [rendered]
chunk {1} polyfills.1457c99db4b6dba06e8d.bundle.js (polyfills) 59.4 kB [initial] [rendered]
chunk {2} styles.67e6dcccd1a619e76bae.bu

[2019-04-11 10:24] wardpeet opened #13284 "Rollback DANGEROUSLY_DISABLE_OOM when V8.serialize is merged"
## Summary
A quick fix to enable gatsby users to disable redux state caching was introduced by #13066 as it caused out of memory issues for large websites. #10732 fixes this issue correctly by moving away from `json-stringify` into `v8.serialize`.

#10732 still keeps the redux state on disk which gives us the same speed benefits as we had before. With the temporary fix, we didn't have any cache wh

[2019-04-11 10:27] co16353sidak commented on #13243
@sidharthachatterjee not able to find a way to start working on this, how should I go about updating the dependencies mentioned above ?
This is my first time tackling this sort of an issue.

[2019-04-11 10:43] pieh commented on #12485
I don't have much context on state of the PR - but idea is that if user specify type definition with @dontInfer directive, then Gatsby won't try to generate "example value" / don't iterate over nodes which definitely can be time sink with huge/nested objects passed via context.

It would be used something like this (in gatsby-node):

[code]

I'm not sure if it's currently doing that or not in PR r

[2019-04-11 11:06] Ehesp opened #13285 "[gatsby] createParentChildLink fails to create children nodes in createPages"
## Description

In version 2.1.18 of gatsby, I'm able to successfully create a parent/child link from within the `createPages` node API. When the link is made, I'm able to query the child nodes with their data.

Upgrading to the latest Gatsby version (2.3.16),. this functionality breaks. I'm only able to query `children`, which returns an array of Node IDs.

### Steps to reproduce

https://github.

[2019-04-11 12:06] wardpeet commented on #5002
@mattbloomfield we have more customers interested in this so we have this high up on the priority list.

[2019-04-11 12:20] aeblin commented on #11541
Just ran into the same issue. Like @adamfaryna I was also mixing string and object declaration in gatsby-config.js Consistent declarations seems to have resolved the problem.

[2019-04-11 12:36] kuworking commented on #13035
It is not small, but it might be useful(?), the repo used [here](https://github.com/gatsbyjs/gatsby/issues/13146#issuecomment-480305811), which is this [one](https://github.com/kuworking/theme_u_workspace) has this problem.

It also has another problem (which is the bug of the referenced issue) but that can be solved by eliminating the line that causes the bug (identified in the thread).

But now

[2019-04-11 12:36] repoman-git opened #13288 "WebpackError: TypeError: tags.map is not a function - Gatsby-starter-default"
## Description

Describe the issue that you're seeing.

Gatsby develop runsas expected, though with one warning

'Module Warning (from ./node_modules/gatsby/node_modules/eslint-loader/index.js):

C:\myworkdir\websites\web-dev\content\src\templates\blogpost.js
  5:8  warning  'myblogposts' is defined but never used  no-unused-vars'

Despite trying to set up using NPM & YARN I get the same issues.

[2019-04-11 13:15] lannonbr commented on #12895
For a progress update, @pieh and I are working to get the validator to scan the entire showcase as a task in CircleCI. He forked my validator and has a task running in CircleCI to execute the validator: https://circleci.com/gh/pieh/gatsby-site-showcase-validator

Currently he is running it once an hour, but we likely will change it when we add it to this repo to either daily or weekly runs

[2019-04-11 13:25] stefanprobst commented on #13267
Thanks for the reproduction, this should be fixed with #13289

[2019-04-11 13:28] stefanprobst commented on #13278
This error message means that you have conflicting `graphql` packages.

Could you provide clear steps how to reproduce the error? Thanks!

[2019-04-11 13:36] bangarangler commented on #13278
Yes but it would seem that 2 different required packages both require
conflicting versions. So I'm not sure how to fix. One wants 0.13.0 and
another requires 14.0.1

On Thu, Apr 11, 2019, 9:29 AM stefanprobst <notifications@github.com> wrote:

[2019-04-11 13:42] ric9176 commented on #3686
If you are still using gatsby v1 for whatever reason, delete your `node_modules` and add in your package.json replace whatever firebase version you have with ```"firebase": "4.x"```

[2019-04-11 13:42] #12972 closed

[2019-04-11 13:48] jalada commented on #8357
I have got some mileage out of @gurpreetatwal's workaround, but I'm not sure why.

I had this problem with a site running on Netlify. Sometimes (and it's difficult to know exactly how to reliably reproduce) clicking a link wouldn't seem to increase the `length` of `window.history`, meaning when you pressed back you'd skip a page. But sometimes it would be fine. It's difficult to know how to pin do

[2019-04-11 13:50] STUkh commented on #11179
I've finished blur-up effect, added WebP support, added image generation through `gatsby-image` and a lot of other small changes. Now it's fully-featured plugin and only one thing left - to apply PR: https://github.com/TylerBarnes/gatsby-wordpress-inline-images/pull/3

[2019-04-11 14:07] bangarangler commented on #13278
Please feel free to delete this post. There was a random string hidden in the bottom corner of the file. no idea how or why it got there. 200Bb that seemed to be causing all of the issues.  Thank you very much for your assistance. While porting things over I was able to catch that remove it and things are as they should be.  Thank you again. Very sorry for the trouble

[2019-04-11 14:18] polishedwp commented on #13243
@co16353sidak Looks like the package.json is in the packages [directory](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json)

[2019-04-11 14:38] pieh commented on #12895
Running every day seems ok - the test completes in under 3 minutes so there is not much overhead for this. Also CircleCi cron schedule specifier support subset of regular cron schedule syntax so I didn't spend to much time on it but doing regular nightly schedule `0 0 * * *` to run "on midnight" (somewhere in the world :D) seems fine for me

[2019-04-11 14:42] petrpacas opened #13291 "[gatsby-plugin-netlify-cms]: Localhost only works with default "/admin" URL"
## Description

https://github.com/gatsbyjs/gatsby/pull/12474 solved an issue with NetlifyCMS not running on `localhost`, but unfortunately it only lets you use `/admin` URL to access the admin-page.

Hard-coded stuff here:
https://github.com/gatsbyjs/gatsby/pull/12474/files#diff-4d1c9d2c489d6b95920275f753551be8

[The plugin itself has `publicPath` variable](https://www.npmjs.com/package/gatsby-pl

[2019-04-11 14:43] HarisSpahija commented on #13288
Same issue when downgrading node to 8.9.0 // npm 5.6.0

[2019-04-11 14:48] repoman-git commented on #13288
OK, so not just me then.....

[2019-04-11 15:05] LekoArts commented on #13283
Hello, thank you for opening this issue!

We would really like to help you with your problem/question but we don't understand your language and therefore kindly ask you to write in the English language. Google Translate can only help a bit and in the end it would be a frustrating guessing game for both parties.

Please feel free to open a new issue (in English) and we'd be happy to help you then 💜

[2019-04-11 15:05] #13283 closed

[2019-04-11 15:10] zachfeldman commented on #13275
Thanks @sidharthachatterjee , this actually worked perfectly! I am thrilled. Have a great day and thanks so much for your help.

[2019-04-11 15:10] #13275 closed

[2019-04-11 16:11] VictorBaudot commented on #9902
Same problem, I also installed `gatsby-plugin-styled-components` but I still get the delay before the CSS being loaded...

[2019-04-11 16:30] omattman commented on #13255
@sidharthachatterjee Thanks for reaching out.

Okay, that seems very reasonable. How would one manage the hosting? Should the wordpress installation be on its own domain plus having the gatsby site on the primary domain? This is the kind of setup im referring to:

Gatsby site: `https://www.primarywebsite.com`
Wordpress: `https://www.wordpress.primarywebsite.com`

Or am I able to host both the word

[2019-04-11 16:49] yumyo commented on #9615
Did you ever solve this @k3lh4m ?

[2019-04-11 17:27] #12410 closed

[2019-04-11 17:27] #12440 closed

[2019-04-11 17:29] bozdoz commented on #12045
Please define "30 days since anything happened", @gatsbot

[2019-04-11 17:30] lannonbr commented on #12045
Gatsbot closes issues after a period of time if no progress happens. @bozdoz if this still happens, I can open the issue back up and mark it as not stale

[2019-04-11 17:32] maxlapides opened #13297 "Static folder documentation isn't correct"
Following the instructions on this page https://www.gatsbyjs.org/docs/static-folder/:
1. I added a file named logo.png to `/static`
2. I added `pathPrefix: '/img'` to `gatsby-config.js`
3. I put `<img src={withPrefix('/img/logo.png')} alt="Logo" />` in a component

It did not work.

This does work:
1. I added a file named logo.png to `/static`
2. I put `<img src='/logo.png' alt="Logo" />` in a com

[2019-04-11 17:38] stefanprobst commented on #13243
We have updated those dependencies before and ran into an issue with the `graphql-tools` update (which is used by `gatsby-source-graphql`). This should (hopefully) be fixed by https://github.com/apollographql/graphql-tools/pull/1075 which unfortunately has not been reviewed yet.

[2019-04-11 17:41] bozdoz commented on #12045
I have a hard time believing it isn't relevant, I posted the issue in detail, and referenced where it broke, all within the last 30 days.  I'm just confused about this process at this point.  I identified an issue, you can do with that what you want.

[2019-04-11 17:43] JoshRozin commented on #3686
Hey @deegha I have been struggling with this issue for the last few days. Have you found a solution for Next.js?

[2019-04-11 17:47] dderooy commented on #10889
Found the issue: the standard twitter search API only returns results from the past week. If the tweet is older than 7 days it will not show up.

[2019-04-11 17:47] #10889 closed

[2019-04-11 17:48] KyleAMathews commented on #12045
@bozdoz sorry about that! Re-opened it. We're working on a lot of different fronts — have you been able to find a fix for this?

[2019-04-11 17:52] nratter commented on #6654
been trying to build all day with no success. have around 1450 images.

[2019-04-11 18:08] marcysutton commented on #13297
Thanks for reporting! There's a [draft PR](https://github.com/gatsbyjs/gatsby/pull/13170) open for that doc, I can take a look...or if you feel like opening a PR that would be welcome!

[2019-04-11 18:19] irenedemas commented on #10712
@DSchau I am really sorry for the delay in answering. Now when I use a new starter (e.g. ueno's) everything works but when I try to gatsby develop my previous project I get this error:

[code]

Any ideas on how to fix it or where I should look?

Thank you and sorry again.

[2019-04-11 18:37] zachfeldman commented on #12068
I'd close it if I could!

[2019-04-11 18:42] lannonbr commented on #12068
@zachfeldman I can close this issue if it has been resolved by upgrading to 3.2.0. Is this the case?

[2019-04-11 18:45] simplesessions commented on #5329
I'm also having the same problem with a Gatsby and Netlify setup.

I have a single page at `/courses/`, but also child pages dynamically built that exist at `/courses/:slug/`.

In my Netlify redirects, I'm stating
[code]

But, refreshing on any client route after the slug (like `/courses/course-name/checkout`) gives a momentary 404.

[2019-04-11 18:46] zachfeldman commented on #12068
Yup! It was resolved by an upgrade.

[2019-04-11 18:48] bozdoz commented on #12045
@KyleAMathews I understand! I was not able to find a fix for it, as it seems quite involved.  I noted above that you discovered this same issue awhile ago: https://github.com/gatsbyjs/gatsby/pull/940#issuecomment-300878300

It seems as though your fix for it then has been replaced (`props.children` as a function).  As you said then, "this was the only option basically", so I hesitate to delve furt

[2019-04-11 18:50] bozdoz commented on #12045
I wonder though if this gatsbygram example could just use the old behaviour with
[gatsby-plugin-layout](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/?=layout).  Swap out the page renderer and use the previous implementation.  Thoughts?

[2019-04-11 18:53] lannonbr commented on #12068
Awesome. Closing as this was resolved

[2019-04-11 18:53] #12068 closed

[2019-04-11 19:52] luukdv commented on #11747
@gatsbyjs-read-only-user not stale

[2019-04-11 20:25] jenkins-decodedcreative opened #13301 "Unsure how to set state using gatsby-plugin-layout"
Hi I have recently started a project with Gatsby and have installed gatsby-plugin-layout to help with persisting state across all pages of the site. I would like to use it for retaining open/close states of navigation items, adding a class to the currently selected page, etc.

I have followed the documentation examples for the plugin and have successfully managed to read from the default state (na

[2019-04-11 20:46] pieh commented on #13301
[code]
Should fix it - both `data` and `set` are properties of first argument to callback function (that's a mouthful - I hope it makes sense)

[2019-04-11 21:03] #13267 closed

[2019-04-11 21:04] pieh commented on #13267
Published `gatsby@2.3.19`

[2019-04-11 21:13] omattman opened #13302 "Netlify deploy fails: error Plugin gatsby-source-wordpress returned an error"
## Description

Ready to migrate my local Gatsby site to the live site. For ease of use I've taken advantage of Netlify's continuous integration feature. I'm currently using the plugin `gatsby-source-wordpress` to receive all its contents.

### Live website setup
The setup consists of a primary domain and a subdomain:

- Primary domain: `http://matnhansen.com`

- Subdomain: `http://admin.matnhanse

[2019-04-11 21:17] pieh commented on #13291
You are totally right, would you be interested in applying necessary fixes?

[2019-04-11 21:19] pieh commented on #13285
This is unfortunate bug / side effect of schema refactor that schema is updating only `SitePage` and nothing else. As a workaround you should be able to change your query to:

[code]
at least for temporary workaround. We will look into this and see if we can figure out nice way of fixing this without adding performance regression

[2019-04-11 21:27] kalms opened #13303 "Warning: The GraphQL query in the non-page component will not be run"
## Description

Running both `gatsby build` and `gatsby develop` causes the following message to appear during build phase:

It's a page and not a component. I'm quite stumped and have been debugging for hours, even diving into the gatsby itself — but I'm none the wiser.

**Some info:**

We're using a forked version of `gatsby-source-ghost` with added image and static file downloads, enabling us t

[2019-04-11 21:27] joefiorini opened #13304 "GATSBY_ACTIVE_ENV vs. NODE_ENV – confusion"
## Summary

As of #10565 Gatsby supports overriding the default `NODE_ENV` by specifying a `GATSBY_ACTIVE_ENV` environment variable. This is exactly the functionality I wanted when I was figuring out how to load my app's `.env.{env name}` config files into the gatsby build. However, now my build is breaking at runtime (seeing the same error as in #8285) because the webpack define plugin is getting

[2019-04-11 21:42] parkerproject commented on #9083
+1

[2019-04-11 21:43] pieh commented on #13243
Ah, right. But we don't use `graphql-tools` anymore in gatsby itself (it's still dependency there), so we should be able to remove it. It seems like it's only used in `gatsby-source-graphql` at this point

[2019-04-11 21:45] joefiorini commented on #13304
This may be a duplicate of #13273, or at the very least share a root cause.

[2019-04-11 21:45] marcysutton opened #13305 "Docs: Create new doc on security"
## Summary

Security in Gatsby is an important topic, and deserves a page in the docs describing what Gatsby does well and what developers need to watch out for. It could go under "Improving Performance" in the Guides section of the docs.

There is a wonderful new blog post on security from @moonmeister: https://www.gatsbyjs.org/blog/2019-04-06-security-for-modern-web-frameworks/

This issue serve

[2019-04-11 21:56] calcsam opened #13306 "Add screenshots to Ritual blog post"
The Ritual blog post we published recently is a great case study -- does someone want to add screenshots to make it even more alive?

https://www.gatsbyjs.org/blog/2019-04-05-health-brand-chooses-gatsby-to-level-up-its-modern-stack/

Two screenshots are fine: one of the homepage, and one of a product page. Their site is ritual.com.

https://github.com/gatsbyjs/gatsby/blob/master/docs/blog/2019-04-

[2019-04-11 22:13] adberard opened #13307 "Setting up gatsby-plugin-layout / redux / connected layout / material ui in a clean way. Max call stack error"
## Description

I am trying to migrate a site to gatsby but so far the experience have been very painfull and Im kinda stuck so close to the end.
Here is the setup
typecript
material ui
gatsby-plugin-material-ui (as material ui need special ssr care)
gatsby-plugin-layout (I dont want to the layout to rerender each time I change route)
redux (to connect the layout)

So what is not working:
- the ro

[2019-04-11 23:32] pieh commented on #13303
This error should have not much to do with your source plugin. What it usually means that if there is page query in component that wasn't use as template for any page:

There are 2 scenarios here to consider:
 - there is truly no pages that use that template
 - there are some pages, but they were created after `createPages` call was completed - this can happen if you have async code and don't retu

[2019-04-12 00:26] angeloashmore commented on #12510
@freiksenet I see directives under "Nice to have things". Is there any way now to add custom directives? Possibly by exposing the schema composer?

https://github.com/gatsbyjs/gatsby/blob/07e69be2038de51bdd829bb8298cf2e728d49007/packages/gatsby/src/schema/schema-composer.js#L10-L11

[2019-04-12 01:21] ferbj opened #13311 "[gatsby-source-wordpress] Add support for Beaver Builder"
## Summary

I would like gatsby to have support to connect the beaver builder and that it is automated, many sites are builded using this plugin, so the question is how can do that?.

### Motivation

it's possible to customize the wordpress source library to connect it to beaver builder?, because some clients have websites that are builded on beaver builder plugin, so the idea is connect with api

[2019-04-12 01:27] pieh commented on #13311
If beaver builder exposes data via REST api this is doable, but potentially need extra handling in `gatsby-source-wordpress` (we already do that for couple of specific plugins - i.e. ACF).

[2019-04-12 01:34] #12813 closed

[2019-04-12 03:17] cdtinney commented on #12092
@baobabKoodaa  Are you able to share a snippet of your solution?

[2019-04-12 03:19] prashant-andani opened #13312 "we shall clean the commented out code"
Hey Folks !!!
I see that some of the code blocks are **commented out**, in the CSS, JS, HTML.

were they mean't to be kept? IMHO We must clean them up, to clear out that they are not required. And avoid **accidentally uncommenting** them and get it applied.

Let me know your opinions....

[2019-04-12 04:04] wokejacqueline commented on #9815
Can this issue be re-opened?  Running into the same problem described by @Vpr99,

[2019-04-12 05:19] tgy3300 opened #13313 "How do Gatsby pages call style classes of CSS files in className"
For example

[2019-04-12 05:33] kalms commented on #13303
`"gatsby": "2.3.17"`

Pretty sure everything is as it should be if you see the source files in here: [https://github.com/kalms/gatsby-issue-temp](https://github.com/kalms/gatsby-issue-temp)

[2019-04-12 06:32] stefanprobst commented on #13243
Yes, `gatsby-source-graphql` is the only one still using `graphql-tools`.

[2019-04-12 08:39] kalms commented on #13303
A little additional information: If we change something in say the context, like:

`                return createPage({
                    path: node.url,
                    component: templateHook(`page`, node.slug),
                    context: {
                        // Data passed to context is available
                        // in page queries as GraphQL variables.

[2019-04-12 08:47] leonardodino commented on #8357
@jalada can reproduce in firefox, and also locally, when built.

`gatsby develop` is working correctly.

[2019-04-12 08:52] HarisSpahija commented on #13306
I would like to solve this issue

[2019-04-12 09:10] HarisSpahija commented on #13288
What do you see in your console when you open the page?

[2019-04-12 09:27] wardpeet commented on #13304
Yeah it's a bug and indeed a duplicate of #13273. I'm closing it in favor of that issue.

I have a PR up that fixes it. I also added a test.

[2019-04-12 09:27] #13304 closed

[2019-04-12 09:28] wardpeet commented on #13273
I created a PR to fix this. It's indeed a bug that got introduced

[2019-04-12 10:09] rogeriopvl commented on #13302
The wordpress plugin is doing a request to `http://admin.matnhansen.com/wp-json` but this hostname does not exist, which a quick cURL command confirms:

![image](https://user-images.githubusercontent.com/38240/56029886-63b3cb80-5d13-11e9-8023-22789b9bd73f.png)

[2019-04-12 10:13] kalms commented on #13303
Found the issue and it was in `gatsby-source-ghost`. The `Array.map()` was used incorrectly and added as two arrays instead of one.

*Before:*
[code]

*After:*
[code]

Keeping the issue here if it should help anyone else. Also, our version of `gatsby-source-ghost` might be beneficial for others :-)

[2019-04-12 10:13] #13303 closed

[2019-04-12 10:15] deegha commented on #3686
No couldn't get it done, so i wrote a google cloud function to query the firebase database and called an https request from the client side (next,js app) using node-fetch to the cloud functions.

so technically i wrote an api using google cloud functions. that was my solution.

[2019-04-12 10:16] LekoArts opened #13315 "[docs] Update "Writing documentation with Docz" to use gatsby-theme-docz"
# Summary

Replace the current instructions on [Writing documentation with Docz](https://www.gatsbyjs.org/docs/writing-documentation-with-docz/) with instructions on how to use `gatsby-theme-docz`

## Motivation

The page [Writing documentation with Docz](https://www.gatsbyjs.org/docs/writing-documentation-with-docz/) is quite complex and the overall setup is complicated. Moreover some of the depe

[2019-04-12 10:17] deegha commented on #3686
Thank you! but this didn't work but i used "firebase": "^5.9.2". should i use "firebase 4.x" or using firebase 5 would do ?

[2019-04-12 10:45] gradam commented on #8531
@kossel I am facing the same issue. Did you find a way to fix it?

[2019-04-12 10:54] omattman commented on #13302
@rogeriopvl Thanks for reaching out.

How can this be? The hostname does exist indeed... So I'm kind of clueless to why this is a issue.

[2019-04-12 11:00] ric9176 commented on #3686
@deegha I had to use 4.x to get firebase working with gatsby v1

[2019-04-12 11:19] jonniebigodes commented on #13288
@repoman-git eliminating some "variables" out of the equation in order for to pinpoint the root cause of the issue at hand. I would like for you to do a couple of things.
1- Check contenful to see if all entries have at least one tag.
2- Issue `gatsby clean` to purge all cached items and comment out ´gatsby-node.js´.
3 Issue `gatsby develop` wait for the process to complete and open a browser wind

[2019-04-12 11:51] petrpacas commented on #13291
I tried to give it a shot, but I'm not a NodeJS programmer myself unfortunately...

[2019-04-12 13:37] adamwiggall commented on #4983
I have a very similar issue, with a slightly different outcome.

Client wishes to use the Instagram embed code, and is pasting that into an embedded block in Contentful. I am handling that fine, and have the embed code outputting to the page as needed, but, the code does not run when the page is navigated to, I have to do a hard refresh of the page to get the embedded code to run.

Is there a way

[2019-04-12 13:40] nratter commented on #6654
We haven't been able to deploy for 2 days now. Can someone help point me in the right direction as to where this is occurring in the code so I can try and find a solution?

[2019-04-12 13:52] nratter commented on #6654
@anagstef thanks very much for the tip! I'll try this and report back.

[2019-04-12 14:16] rogeriopvl commented on #13302
@omattman I ran the curl command again, I now I do get the same response. So it should be working now?

So, if you haven't changed anything domain related, here's my theory: the subdmain "admin" was still DNS propagating (it may take up to 24h theoretically) so you were able to hit that subdomain, but Netlify and me couldn't.

[2019-04-12 14:41] joefiorini commented on #13304
@wardpeet Great, thanks so much for the quick turnaround on this! A little disappointed I didn't get to fix it myself, but happy to see it fixed! I'm sure I'll find other opportunities in the future. Looking forward to this getting released.

[2019-04-12 14:42] kossel commented on #8531
@gradam no... I tried to update still not working, I may revert to just use native scroll bar...

[2019-04-12 15:07] universse commented on #11738
Hi sorry for the miscommunication. I am reopening because I encountered this issue again.

[2019-04-12 15:46] ferbj commented on #13311
Hi Pieh i'm using this API rest https://github.com/aberkow/bb-rest so you think that its possible work with this api and gatsby? or how can i customize the api or the wordpress source that get the data of beaver builder, thanks so much in advance, i was try to make my own source plugin https://www.gatsbyjs.org/docs/creating-a-source-plugin/ but in fact the problem is to create the nodes, gatsby do

[2019-04-12 16:26] baobabKoodaa commented on #12092
Full solution here: https://github.com/baobabKoodaa/blog/

This is where I make the (only) query: https://github.com/baobabKoodaa/blog/blob/e3a9a830e649ca6a6a0ff72e4032780341d5bf23/gatsby-node.js#L69

This is where I pass the (relevant portion of) results of that query as pageContext instead of making a second query for the same information: https://github.com/baobabKoodaa/blog/blob/e3a9a830e649ca

[2019-04-12 16:27] KyleAMathews commented on #13204
Tree structure would be fun too! Feel free to out up a PR. This is a very simple page right now and obviously broken for large sites so let's do something at least incrementally better.

[2019-04-12 16:28] jakegibson commented on #13273
Thanks!

[2019-04-12 16:28] #13273 closed

[2019-04-12 16:35] ycruzb opened #13322 "Field "image" must not have a selection since type "String" has no subfields."
## Description

I'm trying to manage my data from a json file using gatsby-transformer-json but I can't get the image urls properly.

### Steps to reproduce

I've created a new gatsby site and here you can see the most important files related to the issue.

gatsby-config.js
-----------------------

[code]
package.json
--------------------
[code]

src/data/projects.json
----------------------------

[2019-04-12 16:52] lfurzewaddock commented on #13278
@bangarangler, After updating deps, I'm having exactly the same issue, but in a Windows (WSL) environment.

Can you explain how you fixed the issue?

[2019-04-12 16:54] problem233 commented on #13185
@sidharthachatterjee The "continue reading" button can link to the `#more` anchor so that the reader can actually "continue" reading the post.

[2019-04-12 17:08] MariuszDabrowski commented on #13166
@jonniebigodes thank you for the thorough response. I have to admit that I'm not an expert when it comes to the server portion of web apps, but here's what we figured out:

- Running a nginx server caused the same error I was getting above
- Running Python SimpleHTTPServer caused the same error
- Running Gatsby serve didn't cause the error
- Running a separate express server (width your config) al

[2019-04-12 17:27] #11827 closed

[2019-04-12 17:27] #11842 closed

[2019-04-12 17:27] #12420 closed

[2019-04-12 17:27] #12432 closed

[2019-04-12 17:27] #12454 closed

[2019-04-12 17:27] #12488 closed

[2019-04-12 17:27] #12499 closed

[2019-04-12 17:49] #12209 closed

[2019-04-12 18:11] #13306 closed

[2019-04-12 18:14] #13239 closed

[2019-04-12 18:27] pieh commented on #13239
`gatsby-source-graphql@2.0.18` was published

[2019-04-12 18:34] petrpacas commented on #13291
I struggled with pulling the `publicPath` option in a reasonable manner, and after much fiddling it turned out I could do it the same way it's done elsewhere in the file (as a second destructured argument)

[2019-04-12 18:34] joefiorini commented on #11934
Just to be clear, what should we expect from applying the workaround? Will that remove hot reloading like @misterbridge noticed? Has anyone found a workaround that keeps hot reloading working?

[2019-04-12 18:43] bobbymart1n commented on #13136
@jonniebigodes Alright so I've tied my load function to the window object, and its definitely being invoked when navigating back to my landing page from another page using the solution you provided. I now need to figure out why it isn't attaching certain things like event listeners once its being invoked. My assumption is that the JS is loading before the elements get rendered to the virtual DOM.

[2019-04-12 18:50] JustFly1984 commented on #11842
Not stale, window.location.reload(true) helped a bit, there is still some issues.

[2019-04-12 19:10] jonniebigodes commented on #13322
@ycruzb based on your issue description and based on my experience with similar issues, what is happening is that if the image is not a sibling, or in other words in the same folder as the json file the appropriate plugins will resolve them to strings, as it does not actually "knows" where the file is located. Otherwise it will resolve the files to a File node. You can confirm this by issuing `gat

[2019-04-12 19:17] ycruzb commented on #13322
Hi @jonniebigodes, thanks for your reply. I'll change my code according to your thought and will let you know. It would be nice if you can reproduce the situation.

Regards

[2019-04-12 19:25] bangarangler commented on #13278
I'm still getting the same error message. however, somehow I had some
random string of numbers in one of my component files. I would comb through
your code real quick and see if anything is hiding that shouldn't be there.
once you do that I would double check your package.json to make sure you
have everything you need and the dump the node modules and package.lock
file. npm install everything and

[2019-04-12 19:27] marisamorby opened #13325 "Update blog post to include the correct link for Gatsby source plug-ins page"
The "Integrating and Partnering with Gatsby (for Vendors" blog post lists the incorrect link for creating a source plugin.

This is the blog post link: https://www.gatsbyjs.org/docs/gatsby-vendor-partnership/#step-four-integrating-with-gatsby-preview-and-co-selling

* We need to update the `developer documentation` link in this section:

<img width="671" alt="Screenshot 2019-04-12 12 23 00" src="h

[2019-04-12 19:30] kostimarko commented on #13167
Thanks!

[2019-04-12 19:30] #13167 closed

[2019-04-12 20:07] repoman-git commented on #13288
I performed the steps as suggested and provided some supporting screen shots.

You will be able to see that I am able to succesfully query Graphql from my desktop, when with either gatsby-node.js left renamed or when left as is.

[Gastby-Conteniful-Mapping issues.docx](https://github.com/gatsbyjs/gatsby/files/3075004/Gastby-Conteniful-Mapping.issues.docx)

[2019-04-12 20:17] ycruzb commented on #13322
@jonniebigodes your suggestion doesn't works. I've moved the images to the json folder and changed the json code but the error persists.

new json code
---------------------

[code]
What can I do now ?

[2019-04-12 20:33] #13291 closed

[2019-04-12 20:44] rtsao commented on #12621
Not stale

[2019-04-12 21:13] repoman-git commented on #13288
1:  After my prior comment I noticed that there was a prompt for an gatsby-cli upgrade which I performed in addition to rerunning NPM update and clearing all the missing dependencies dependencies.

I then ran gatsby build, and received the same error stating ' WebpackError: TypeError: tags.map is not a function'

2: I came across this site;  https://www.npmjs.com/package/npm-check-updates
so I ran

[2019-04-12 21:18] lfurzewaddock commented on #13278
Thanks for your response @bangarangler.

It's just started working for me too, but I'm not sure I actually made any changes that fixed it, which included running `npm cache verify` and repeatedly deleting the `.cache` and `node_modules` folders before npm installing, but never tried deleting `package-lock.json`.

I reverted to a working set-up committed prior to updating deps and ran into an issue

[2019-04-12 21:20] #12734 closed

[2019-04-12 21:24] Jamoverjelly commented on #13322
I'm currently having the same issue trying to pull images out of a JSON object I collected from Yelp's API.

One thing I found in the Gatsby docs, however, is that [GraphiQL does not handle the GraphQL query fragments which are utilized by `gatsby-image`](https://www.gatsbyjs.org/packages/gatsby-image/#fragments), starting at `childImageSharp`. In my case though, I'm receiving the same error repor

[2019-04-12 22:02] benjaminhoffman commented on #12833
+1 . @liamfd did you find a fix for this?

for v1, this worked for me for production builds:
[code]

[2019-04-12 22:07] DSchau commented on #13325
If anyone wants to implement this (would very much appreciate it!), need to edit [this file](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/gatsby-vendor-partnership.md) with the correct link that @marisamorby specified.

[2019-04-12 22:09] DSchau commented on #13313
@tgy3300 I'm not exactly sure what you mean here.

Could you provide an example snippet that you find confusing and then one of us could explain how it's working?

Thank you!

[2019-04-12 22:10] DSchau commented on #13312
@prashant-andani not really sure what you're referring to--could you provide an example of the commented code? Do you mean in the default starter?

[2019-04-12 22:36] marcysutton commented on #11490
Hi @robinmetral, do you have time next week to pair? You can book time on my Calendly, I'm in Pacific time: https://calendly.com/marcysutton/30min

[2019-04-12 22:42] bezoris commented on #864
Thanks... I'm aware that this is a two-year old thread, but I just ran into the same issue.  And switching to 0.0.0.0:8000 did indeed fix things.  Strange.

[2019-04-12 22:45] Daniel15 commented on #864
@bezoris - `0.0.0.0:8000` doesn't really make sense so it's surprising that it works... Try `127.0.0.1:8080` instead. It's possible `localhost` is using IPv6 but something is only listening on IPv4, or something similar.

[2019-04-12 22:52] tylerssn commented on #864
In my case I was operating within a docker container.

On Fri, Apr 12, 2019, 6:45 PM Daniel Lo Nigro <notifications@github.com>
wrote:

[2019-04-12 23:08] danoc commented on #12621
Haven't been able to prioritize working on this, so someone is welcome to take it on if they run into this.

I'll post back here if I actively start working on it.

[2019-04-12 23:09] bezoris commented on #864
127... also refuses to connect.  I think you're right though, something is tying up localhost.

[2019-04-13 00:19] bangarangler commented on #13278
Lol. Yes I thought the exact same thing! I'm glad you got it working man.
Between that and Babel moving to 7 it's been a ruff week. Wishing you well
friend! Happy coding 👍🎩👍

On Fri, Apr 12, 2019, 5:18 PM Leo Furze-Waddock <notifications@github.com>
wrote:

[2019-04-13 00:22] guyinpv commented on #10482
It occurs to me that perhaps instead of having to duplicate and generate new queries for every possible variable used within <StaticQuery>, you could assemble all the possible variables into a list in the query itself. Kind of like `WHERE something IN [array,of,all,vars,found]`

Then the compiler just has to recognize the query as a set, and loop over it to generate each copy of the component. It

[2019-04-13 00:32] tgy3300 commented on #13313
The style.css file code is as follows
`.aa{
background:#ff0000
}`

How to call in the page file index.js
The index.js code is as follows
`
import React from "react"
import Layout from "../components/layout"
import SEO from "../components/seo"
import style from "./style.css"

const IndexPage = () => (
  <Layout>
    <SEO title="Page" />
    <p className={style.aa}>Welcome to page</p>
  </Layout>
)

[2019-04-13 01:58] DSchau commented on #13313
@tgy3300 you're looking for CSS Modules.

Rename `style.css` -> `style.module.css`

Change the import from `import style from './style.css'` to `import style from './style.module.css'` and you should be good to go.

Closing as answered, but please re-open if we can help further.

[2019-04-13 01:58] #13313 closed

[2019-04-13 02:07] DSchau commented on #13307
This seems like [these instructions](https://www.gatsbyjs.org/packages/gatsby-plugin-react-helmet/#compatibility-with-react-168-useeffect-hook) will help you here.

In the other areas you identified, there's a lot to unwind. Could you provide specific files/info on each problem area you identified above?

Generally, we recommend providing a [simplified reproduction](https://gatsby.dev/reproduction

[2019-04-13 02:07] Blumed commented on #13065
I ended up using yarn instead of npm and the issue went away.

[2019-04-13 02:07] #13065 closed

[2019-04-13 02:15] DSchau commented on #13182
This is (unfortunately) a known issue with Chrome/service workers. It seems sorta paradoxical that this isn't solved--but if the service worker never registers the site works without JavaScript. However--if JavaScript is disabled _after_ a service worker has loaded the site doesn't work. The bug is filed on [Chrome's issue tracker](https://bugs.chromium.org/p/chromium/issues/detail?id=656516)

Re:

[2019-04-13 02:15] #13182 closed

[2019-04-13 02:28] Razatastic commented on #7713
At first, this only happened locally, but now it's also happening on Netlify. Any resolution for this yet?

[2019-04-13 02:47] nyedidikeke commented on #2335
Exactly what I'm looking for.
Is there any effective way of achieving the current as described with Gatsby?
_For a self-hosted solution (HTML files on premise) but with assets such as JavaScript, fonts, images and CSS served from a commercial CDN (Akamai, Cloudflare, MaxCDN, et al.)._

[2019-04-13 02:53] Daniel15 commented on #2335
Hey @nyedidikeke, this is currently being worked on here: #12128. It's not complete yet, but there's instructions here if you'd like to test it out: https://github.com/gatsbyjs/gatsby/pull/12128#issuecomment-477679398

[2019-04-13 04:38] tsukhu commented on #11524
I have also faced the same issue.

- If the service worker is enabled , refreshing the pages causes the above mentioned errors. This issue primarily was appearing on Chrome. The Edge browser seems to work fine (probably because the service worker does not come into play there)
- On removing the service worker and using the plugin `gatsby-plugin-remove-serviceworker` this issue goes away
**Resoluti

[2019-04-13 06:13] stefanprobst commented on #13243
Fixed by #13296

[2019-04-13 06:13] #13243 closed

[2019-04-13 06:22] robinmetral commented on #11490
Sounds great @marcysutton

[2019-04-13 06:29] stefanprobst commented on #13322
@ycruzb Could you provide a repo to reproduce the error? This would be very helpful, thanks! (In a quick test here this worked as expected)

[2019-04-13 06:56] vivshaw commented on #8560
Hi @wardpeet, this just popped up in a project of mine when I added gatsby-plugin-styled-components, so here's a fresh reproduction of the issue continuing to happen on updated Gatsby:

## Description

Gatsby orders the `<head>` differently in development vs. production. When using gatsby-plugin-styled-components alongside global CSS, this can cause the CSS load order to differ between dev and pro

[2019-04-13 10:09] renoke commented on #6654
When running `gatsby develop`, is there a way to keep local cache instead of fetching remote data each time the command is launched ?

[2019-04-13 13:17] janosh opened #13334 "YAML with Contentful"
Contentful provides a native JSON field but no YAML support.

![Screenshot 2019-04-13 at 13 19 57](https://user-images.githubusercontent.com/30958850/56080273-b914d900-5df6-11e9-9efd-2200c8643230.png)

Has anyone tried to work with data in YAML format in Contentful? E.g. create a custom content type `Yaml` with a simple title and text field and then pass the latter into `gatsby-transformer-yaml` p

[2019-04-13 13:18] #13325 closed

[2019-04-13 13:23] frinyvonnick commented on #13210
Should I close this ?

[2019-04-13 14:43] takuyahara commented on #12601
Let me keep this opened until I get response from somebody.

[2019-04-13 15:40] trevorlitsey commented on #13176
Hi @i8ramin, sorry, I just realized I provided a link to the NPM docs while your reproduction steps use Yarn. I just cloned the repo again and still no issues with the build when using Yarn.

Same treatment in regards to `devDependencies`, but here's the relevant Yarn docs on `yarn install`:
https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-production-true-false

Closing this issue as I bel

[2019-04-13 15:40] #13176 closed

[2019-04-13 15:48] RikoSmith opened #13337 "[question] Where can I find gatsby wallpaper image?"
This is rather a simple question, but where can I find this image (image with toasts, jam jar, gatsby logo etc.). I'm preparing presentation for my course about Gatsby and would like to use it as a wallpaper. I've searched on repo, google images, gatsby official site and even in gatsby store - no result. If you have one, please, share the link)
![image](https://user-images.githubusercontent.com/24

[2019-04-13 15:52] ycruzb commented on #13322
You can try with this repo:

https://github.com/ycruzb/portfolio

[2019-04-13 16:05] stefanprobst commented on #13322
@ycruzb In your `projects.json` you have the wrong file ending: "sendtinel.jpg" should be "sendtinel.png".

What happens is that Gatsby checks if the File path exists and if not treats the field as a basic string field.

[2019-04-13 16:12] ycruzb commented on #13322
WTF!!! Sorry guys, my bad !!! it works !!

thanks to all of you ;)

[2019-04-13 16:13] #13322 closed

[2019-04-13 16:28] Truemedia commented on #12633
@DanielRuf @polarathene Can confirm this works on Raspiberry Pi3+ now when I've updated to latest gatsby CLI version.

[2019-04-13 16:28] #12633 closed

[2019-04-13 16:50] lannonbr commented on #13210
Yeah this has been resolved so I'll close it.

[2019-04-13 16:50] #13210 closed

[2019-04-13 16:52] lannonbr commented on #13337
I believe @jlengstorf may be able to help out with this

[2019-04-13 17:27] #12453 closed

[2019-04-13 17:27] #12520 closed

[2019-04-13 18:05] #13153 closed

[2019-04-13 18:20] Ehesp commented on #12709
@MarkSalabutin @sidharthachatterjee just submitted a PR for this as I also ran into this issue. Would be good to get feedback.

[2019-04-13 18:44] Hypothesis-github opened #13340 "How to use gatsby-image with external source"
I was wondering if I can inject an uploaded image's url into <Img /> and expect a lazy loading.

[2019-04-13 19:34] jonniebigodes commented on #13340
@Hypothesis-github if you mean use that approach with `gatsby-image` as of the present version of `gatsby-image` and it's accompanying plugins, you cannot do it. The image needs to be physically present  so that the plugins can apply the necessary work to it.

[2019-04-13 20:03] lonekorean opened #13342 "In graphql query, totalCount is incorrectly affected by limit"
## Description

Per the [documentation here](https://www.gatsbyjs.org/docs/graphql-reference/#limit), `totalCount` should return the total number of existing results, even if the actual number of returned results is constrained by `limit`. I am seeing `totalCount` being constrained by `limit`.

This is an issue for pages that only want to show some of the results, but still display the total avail

[2019-04-13 20:42] polishedwp commented on #13342
@lonekorean congratulations on a well put together complete Issue. It appears, based on the [Codesandbox](https://codesandbox.io/s/github/gatsbyjs/gatsby/tree/master/examples/graphql-reference), in the [documentation](https://www.gatsbyjs.org/docs/graphql-reference/#limit), that the documentation was originally put together based on Gatsby 2.0.107.

[2019-04-13 20:52] polishedwp commented on #13340
But, there are other plugins available to interact with image services:

[gatsby-remark-yuque-images](https://www.gatsbyjs.org/packages/gatsby-remark-yuque-images/?=unspl)
[gatsby-source-unsplash](https://www.gatsbyjs.org/packages/gatsby-source-unsplash/?=unspl)
[Gatsby-Source-Cloudinary](https://www.gatsbyjs.org/packages/gatsby-source-cloudinary/?=Cloudinary.)

Just to name few examples.

[2019-04-13 21:52] jonniebigodes commented on #13340
@polishedwp yes..you're right, .but out of the box as of the present state, there's that limitation,

[2019-04-13 22:03] jonniebigodes commented on #13342
@lonekorean think of it this way, at the time of the writting of the documentation that was the case. As Gatsby is constantly mutating and evolving, sometimes like in this case, the documentation did not keep up. If you're willing, read the [contribution](https://www.gatsbyjs.org/contributing/how-to-contribute/) guidelines, fork the repo, make the adjustments based your reproduction and submit a p

[2019-04-13 22:53] KyleAMathews commented on #13342
Thanks for the issue! This is actually a bug — the documentation is correct. It looks like the recent schema refactor changed the behavior incorrectly. @stefanprobst could you fix this?

[2019-04-14 00:48] sethreidnz commented on #13182
I have just opted to not use the typography stuff since I assume that will solve the problem? I haven't got that far yet but I assume if I just use fonts like a normal website then I won't have that issue? I only raised it since it's an issue on a core starter that imo I wouldn't use because , especially once tehre is a lot of text on the page, won't look that great.

Is there any reason why I wou

[2019-04-14 01:05] orshick opened #13347 "gatsby-source-wordpress: sometimes querying image works, sometimes doesn't"
## Description

While making a site using gatsby-source-wordpress I noticed that builds failed occasionally, with the error message `error    Cannot query field "localFile" on type "wordpress__PAGEAcfHero_image"  graphql/template-strings`

I've checked the sections in the docs with regard to issues querying images and null files, and have taken steps to address them ([this](https://www.gatsbyjs.or

[2019-04-14 02:41] john20xdoe commented on #13278
Following the Netlifcy CMS instructions for gatsby start replcaies this issue
https://www.netlifycms.org/docs/gatsby

[code]

[2019-04-14 05:00] monsij opened #13350 "Incorrect word"
## Description

The documentation [here](https://www.gatsbyjs.org/docs/gatsby-config/#sitemetadata) contains a word `fuller`. Maybe the word matches with the flow , but there is no such word. It should be replaced with full.

[2019-04-14 05:05] verlok commented on #10660
replace () in export default () => <h1>This is a header.</h1> with props?

That worked for me too. I made the same mistake.

[2019-04-14 05:12] ShawnBaek commented on #12237
Is it solved?

[2019-04-14 06:26] #13350 closed

[2019-04-14 07:44] stefanprobst commented on #13342
sorry for this, fixed in #13352

[2019-04-14 08:13] polarathene opened #13353 "[Feature]: Refactor gatsby-image to be more composable and flexible"
## Summary

Refactor of `gatsby-image` into smaller composable components due to it's growing size and features.

The standard component in it's current form could still be offered as default, along with variants that allow for users to benefit from features of this component without meeting the current expectations for input.

### Motivation

`gatsby-image` is a great component and often hyped fe

[2019-04-14 08:17] polarathene commented on #13340
@Hypothesis-github I've raised [a more broader issue](https://github.com/gatsbyjs/gatsby/issues/13353) for `gatsby-image` regarding this request which isn't uncommon. There are other cases where `gatsby-image` would be nice but has become a bit inflexible.

For the time being, as such a refactor may be a while off before started/completed. It's advised like above to pull remote sources during buil

[2019-04-14 08:17] #13340 closed

[2019-04-14 09:44] pranshuchittora opened #13355 "build(webpack) : Window is not defined"
## Description

While using an npm lib called [canvas-confetti](https://www.npmjs.com/package/canvas-confetti),
everything is working awesome during development. While building the prod build using `gatsby build` it showed this error :point_down:

![Screenshot from 2019-04-12 23-38-03](https://user-images.githubusercontent.com/32242596/56091039-2db74880-5ec7-11e9-93bd-9f74c6831cf6.png)

### Steps

[2019-04-14 11:38] stefanprobst commented on #13278
@john20xdoe This error message usually means that there are conflicting `graphql` packages. Could you please provide steps to reproduce the error? Thanks!

[2019-04-14 12:14] Ziinc commented on #4201
It's still difficult to get end users on board onto SSGs because of how scary markdown and yaml frontmatter is for non-technical ppl,  especially when a full blown headless CMS service is overkill for a few pages.

Publii sort of gets it right when it comes to the user interface and end user ux, but is very rigid in the templating system for dev customization.

My dream would be something like thi

[2019-04-14 12:17] #13342 closed

[2019-04-14 12:53] lonekorean commented on #13342
Thank you for the quick fix!

[2019-04-14 14:45] prashant-andani commented on #13312
@DSchau The code has been commented mostly in the `www` folder
some of them are
i.e `www/src/components/sidebar/accordion.js`, `evalution-table.js`

[2019-04-14 17:02] jonniebigodes commented on #13288
@repoman-git sorry for the late response, but i was otherwise engaged. i saw your files and the docx file with the error and i with that it provided more context. So with that in mind i've setup a reproduction for your issue and how to solve it. Below are the steps i took.

- Started by creating a new model in contentful with the following structure, just to try and match yours.
![contentmodel](ht

[2019-04-14 17:27] #12542 closed

[2019-04-14 17:43] RikoSmith commented on #13347
Replicated. Error occurred after second run  of ````gatsby develop````.  It occurred once out of ten tries though.

Environment:
[code]

[2019-04-14 18:03] jonniebigodes commented on #13355
@pranshuchittora as you may or may not know, Gatsby in development mode is way more permissive and let's you get a way with certain things that you won't when you issue a production build. When you issue a production build almost if not all of the work is done through the server side, more specifically through node and it does not have access to certain apis, like for instance this one, `window` a

[2019-04-14 18:07] jonniebigodes commented on #13274
@Naggertooth sorry for the late response, but this one, was a really fun ride and with that i mean that i had to "throw in the towel" (pardon the bad pun), i opened up my "bag of tricks" (once again sorry for the bad pun) and tried to make it work withouth any issues with Gatsby and no matter how i approached the issue the same error popped in. The only way i was able to make it work was like @sid

[2019-04-14 18:20] jonniebigodes commented on #13166
@MariuszDabrowski i factored in what you said and expanded my tests.

- Added ngnix to my wsl installation, running on ubuntu 18.04, created a new folder to test it out and copied over the production build inside, below is the setup i used for nginx to test your issue.
![marius_ngnix](https://user-images.githubusercontent.com/22988955/56097252-a7602e00-5ee9-11e9-9ed4-f2ae191fa5d0.png)

On the left

[2019-04-14 18:34] rlynn523 commented on #5030
Is this issue still available? If so, I would love to take it.

[2019-04-14 18:36] repoman-git commented on #13288
Hey Jonnie,

First no need to apologise for any perceived delay.  Frankly, I'm grateful that you took the time to even look at this, let alone respond over the weekend.

With regards to my knowledge level, prior to starting a project of which this is a part I had never done any coding, react, graphql or websites.  Every step has been a battle, but I've enjoyed it in a masochistic kind of way.  I'v

[2019-04-14 19:56] adberard commented on #13307
Thank you that was exactly my problem as I just integrated react hooks !
I indeed only provided one simplified version of the app instead of each case. I really needed to make all this work together and most of my bugs happen when im in the process or connecting simples working cases.

[2019-04-14 21:20] cant89 commented on #3853
Hey @wiziple thanks so much for it, I was going crazy finding a solution for localize Gatsby.
Maybe I didn't get the point but, do you have ALL the strings on a language in just one file?
Would it be possible to split the JSON of each language in more files, maybe using the same structure of components?

[2019-04-14 21:28] jonniebigodes commented on #13288
@repoman-git no need to thank, just glad i was able to help you with your issue. It was no bother at all, this weekend i have the house all to myself, no better half, dogs, kids and so on running around making all kinds of shenanigans 😜! Also where i'm at, in preparation for the new season of game of thrones a cable channel has been airing a marathon of all the seasons. That coupled with a six pac

[2019-04-14 21:54] jonniebigodes commented on #13136
@bobbymart1n once again without any further knowledge of what is your external js is doing, but regarding your comment i thought of something, don't know if it will work but worth a try.
In your component where you're loading the js, make the following change to see if it will trigger the event.

[code]

[2019-04-14 22:30] jonathancary opened #13359 "og:image tag in Helmet not returning path to image"
Trying to get og:image working, with Helmet, but having some issues. The blog-post.js file is below and is modified from the [Gatsby Starter Blog](https://github.com/gatsbyjs/gatsby-starter-blog). Basically it keeps returning:

`<meta property="og:image" content="https://www.example.com/[object Object]" data-react-helmet="true">`

instead of

`<meta property="og:image" content="https://www.example

[2019-04-15 00:01] 1kohei1 commented on #2288
Hi, I came across this issue and checked both solutions by @alexandernanberg and @thomasboyt. My solution takes hints from both of you. Let me share it!

I created a npm package [gatsby-remark-lazy-load](https://www.npmjs.com/package/gatsby-remark-lazy-load). This converts `img` tag generated by `gatsby-remark-images`to the format of [lazysizes](https://github.com/aFarkas/lazysizes/).

Then, you l

[2019-04-15 00:19] polarathene commented on #13164
@brimtown If you're interested in discussing the refactor at a later point, I've raised an issue [here](https://github.com/gatsbyjs/gatsby/issues/13353) for it.

[2019-04-15 00:49] wiziple commented on #3853
@cant89 I see your point, but It's currently not possible without changing the plugin code. Or you can make a script that parses src directory and grab all component language files. Merge into one JSON then hook into `gatsby develop` or `gatsby build`.
Once you get all JSON files and merge as a nested object, you can also convert it as a flatten object.
https://github.com/yahoo/react-intl/wiki/Upg

[2019-04-15 01:40] orshick commented on #13347
@RikoSmith  Thank you for trying it out! Good to know it isn't just something odd on my and Netlify's machines (the errors happen on Netlify too).

[2019-04-15 01:49] orshick commented on #13355
@jonniebigodes Pardon me, I'm not very familiar with Webpack, but is there not some way to opt out of server side rendering certain libraries? Since this library is a client side one, presumably it wouldn't benefit from server rendering anyway, so it would be great if there was simply a way for gatsby/webpack to not bother with that.

I recall following some instructions to achieve an effect like

[2019-04-15 02:55] billie66 opened #13362 "Remark Transformer can not properly parse links with parentheses"
## Description

Remark Transformer can not properly parse links with parentheses

### Steps to reproduce

[code]

### Expected result

[code]

### Actual result

[code]

### Environment

[code]

[2019-04-15 03:24] iamskok commented on #5030
@rlynn523 this issue was closed for inactivity, but I believe it's still a wanted feature. You can use [gatsby-remark-code-buttons](https://github.com/iamskok/gatsby-remark-code-buttons) plugin to add copy buttons to the docs.

[2019-04-15 03:32] aa-ziyi commented on #7862
yarn add core-js
如果还不行
删除 node_modules,然后使用 yarn 安装，不要使用 cnpm 安装；

[2019-04-15 03:41] AllanPooley commented on #4461
Using Advanced Custom Fields PRO 5.5.3 and this solution worked for me:

[code]

Thanks so much @pieh @kennethormandy !

[2019-04-15 05:32] natezerk opened #13365 "Multiple microsites from single project?"
What would be the best way to have a single Gatsby project with multiple microsites?

Ideally, this would pull in data from a single source (e.g. Netlify CMS). Let's say this gives us a list of places.

Then the build would need to create different output (public) folders for each one?

Is this possible? I am not even sure where to start with this.

[2019-04-15 05:46] repoman-git commented on #13288
Hey Jonnie,

Thanks again, I’ll go through the git repo today, Its morning here in Poland, and update the git issue accordingly.

Also , really appreciate the pointers for things to learn.  Nice one!

Regards,

Simon.

________________________________
From: jonniebigodes <notifications@github.com>
Sent: Sunday, April 14, 2019 11:28:46 PM
To: gatsbyjs/gatsby
Cc: repoman; Mention
Subject: Re: [gatsb

[2019-04-15 06:09] wardpeet commented on #13304
Oh my bad, will keep it open next time.

[2019-04-15 06:11] wardpeet commented on #11934
Let me get this fixed asap

[2019-04-15 07:04] LekoArts commented on #5030
@rlynn523 Hi! This issue is currently "on hold" so to speak until https://github.com/gatsbyjs/gatsby/pull/12514 is merged

[2019-04-15 07:16] LekoArts commented on #13359
Hi!

Did you try your query on GraphiQL (`localhost:8000/___graphql`)? It will show you that the response from `frontmatter.featuredImage` is an object (hence `[object Object]`) and not a string. What you're looking for is `frontmatter.featuredImage.childImageSharp.fluid.src`.

Or better: Use a second query to pass a different image to your og:image tag than you pass to your featured image -- beca

[2019-04-15 07:16] #13359 closed

[2019-04-15 07:19] josh-meredith commented on #13195
@violy after spending some more time debugging this issue and fixing up some of my code, it seems your suggested change in #13110 does actually fix my issue. Dropping the concurrent value down to 10, my site successfully builds every time. Hopefully your PR will get merged soon. Thanks 👍

[2019-04-15 07:19] #13195 closed

[2019-04-15 07:53] danielpuehringer commented on #10457
Hi, I had the same Error. It occured after successfully building the project. 5min later when I was trying to execute `gatsby develop` I ran into the same error message "Error: ENOENT: no such file or directory, open 'C:\...\public\static\d\655\path---index-6a9-M35H41xhcRuRW1Ovpq3cs1Xmo.json'"

So `gatsby develop` fails with this exception and  `gatsby build` does not finish at all because "Buildi

[2019-04-15 08:23] paulmasek commented on #2426
Same here @eemeeli. Perhaps this should be reopened?

[2019-04-15 08:45] eemeeli commented on #2426
@paulmasek I noticed that the "problem" for me was, on the WordPress install. I didn't have default main menu on WordPress and had two custom menus. One for main language and for the secondary language.  Tested with other WordPress site that had only one menu / default main menu the `allWordpressWpApiMenusMenusItems ` appeared

[2019-04-15 09:47] LekoArts commented on #13362
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-04-15 10:50] theofromthelabo opened #13366 "Gatsby: Integration with Contentful - struggling to add data in the component"
Dear !

HELP ! trying to integration Contentful with my Gatsby. I think I'm almost there, just the final touch that I'm missing ;)

I try it first on the tagline of my homepage: "Solve problem with digital solution(s)"

in Contentful -
Content Model: Homepage - text | ID: homepageText
Field: tagline

I would like to integrate this data from contentful to the h1 tag that is part of the Banner.js co

[2019-04-15 10:54] wardpeet commented on #13366
Hey, without an env variable it would be hard to test this but I see that you use a pagequery inside the [banner.js component](https://github.com/theofromthelabo/thelabo/blob/master/src/components/Banner.js).

inside components you should use a static query which is described here:
https://www.gatsbyjs.org/docs/static-query/

[2019-04-15 11:14] wardpeet commented on #13365
We don't allow writing to multiple folders but we have something called themes.

Themes give you the possibility to put all your logic in a base gatsby site which other projects can extend from. For your use case you could put in the data fetching inside the base theme and make x subsites based on that theme. With themes you can still overwrite anything from the base theme if it needs to so you ha

[2019-04-15 11:26] rlynn523 commented on #5030
@LekoArts is it possible to assign this issue to me once that merge has completed?

[2019-04-15 11:28] wardpeet commented on #13166
Sadly we don't include polyfills for react.
you can enable this by using this plugin https://www.gatsbyjs.org/packages/gatsby-plugin-compile-es6-packages/ and use react-dom. For your use case you'll have to add

[code]

[2019-04-15 11:31] hesselberg commented on #13347
I believe this is a Duplicate of #10347

[2019-04-15 11:32] hesselberg commented on #10347
Did you ever get around to finding a good solution?

[2019-04-15 11:44] wardpeet commented on #13355
Sadly in react world you'll need do some extra work like @jonniebigodes described.

if you can create a reproduction it might help us fix your issue.

[2019-04-15 11:50] wardpeet commented on #3853
We have a good example setup for i18n. https://github.com/gatsbyjs/gatsby/tree/master/examples/using-i18n. We don't really have an opinion on i18n frameworks. Just pick one to your liking.

[2019-04-15 11:54] wardpeet commented on #13307
Thanks so much for opening this issue! It seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby 💪

[2019-04-15 11:54] #13307 closed

[2019-04-15 11:59] wardpeet commented on #13136
Injecting scripts is a bit tricky but best way to make sure everything in place to execute your function is probably a setTimeout

try putting this in componentDidMount
[code]

[2019-04-15 12:31] rnnyrk commented on #1612
I don't see `allWordpressWpApiMenusMenusItems` showing up in my GraphiQL, nor can I run this query above. Although I have this plugin (https://wordpress.org/plugins/wp-api-menus/) installed. Any idea what's up?

[2019-04-15 13:08] Naggertooth commented on #13274
Thank you anyway!

[2019-04-15 13:08] #13274 closed

[2019-04-15 13:18] endymion1818 commented on #10841
I'm a little late to the party but several members of my team are experiencing issues with **libpng**, and **pngquant**, where, when you install these globally using `brew`, one does not seem to recognise the other is present, and builds fail:
[code]

[2019-04-15 13:19] theofromthelabo commented on #13366
@wardpeet ! thx you a lot ! it works! the learning curve takes some time!

`
error gatsby-node.js returned an error
  TypeError: homepageText.forEach is not a function
  - gatsby-node.js:35 graphql.then.result
    /Users/tcourtial/thelabo/gatsby-node.js:35:22
`

Also I'm getting this error from gatsby-node.js => https://github.com/theofromthelabo/thelabo/blob/master/gatsby-node.js

do you have any

[2019-04-15 13:23] jonathancary commented on #13359
Ah okay, that solved things. Thanks!

[2019-04-15 13:24] romulomachado commented on #8805
`gatsby-source-mongodb` has been handled on #13293

[2019-04-15 13:38] paulmasek commented on #2426
@eemeeli thanks for that - much appreciated. I do have two custom menus on my wordpress instance and no default one, so perhaps the same issue is occurring for me. Surely a bug though, and a bizarre one at that :/

[2019-04-15 13:40] pranshuchittora commented on #13355
@jonniebigodes creating a separate class component for this doesn't look good & might eat a lot of my bundle budget.

Are there any GATSBY global variables, which I state the current env.
for example
(While developing)
`$GATSBY_ENV` = 'development'
(While building)
`$GATSBY_ENV` = 'production'

[2019-04-15 13:57] DSchau commented on #12343
@me4502 I believe we've fixed this with #10732 and gatsby@^2.3.20.

Closing this out--but please re-open or reply if this is _not_ the case and you can still reproduce these OOM issues.

We're always working on making Gatsby more scalable, and the more issues we can surface and fix--the better. Thanks for surfacing this one!

[2019-04-15 13:57] #12343 closed

[2019-04-15 14:04] jonniebigodes commented on #13355
@orshick this is the beauty of Gatsby and the underlying technology, namely React. Depending on the use case scenario, you have at your disposal a myriad of ways to solve your issue.

For instance:
- You can get the package via a CDN, hook it to the "global" via Helmet/React-Helmet and in your class components access it, bear in mind that you might need to apply the sanity check, namely `if (typeo

[2019-04-15 14:12] jonniebigodes commented on #13366
@theofromthelabo if you don't mind waiting i'm going to take a closer look when i get home and see what i can come up with...in the meantime take a look at #13288 and [repo](https://github.com/jonniebigodes/test_repoman_contenfull_tags) for some context. I'm perfectly aware that they might be unrelated issues, but at least it will give you some context when working and pulling data from contentful

[2019-04-15 14:22] Sjarj opened #13371 "Gatsby-offline blank screen with mp4 video on safari"
when I used gatsby-offline plugin my background video mp4 didn't work on safari mobile and desktop  it send me a blank screen , I'have used gatsby-plugin-remove-serviceworker and my background video mp5 work good ?

[2019-04-15 14:36] #13097 closed

[2019-04-15 14:44] repoman-git commented on #13288
Hey Jonnie,
Throughout the day I tried several scenarios following your instructions absolutely am still getting the same error, despite using both NPM and YARN to set this up as well as deleting and recreating this a number of times on gihub and gitlab.

I decided to try and bypass my workstation as much as possible and deploy your site as is to netlify, and got the below error from the netlify d

[2019-04-15 14:47] polarathene commented on #13312
Ok, not comments for related code, but actual parts of code that aren't in use but have been kept as **commented out**.

[accordion.js#L128](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/sidebar/accordion.js#L128), `git blame` to [spring clean ep 5 PR](https://github.com/gatsbyjs/gatsby/pull/12603)
[evaluation-table.js#L28](https://github.com/gatsbyjs/gatsby/blob/master/www/src

[2019-04-15 14:49] delster commented on #13337
Not the answer you're looking for, but I took that terminal screenshot, cropped the background to what was being tiled, and offer it here:

![tiled version](https://i.imgur.com/LVHcx1A.png)

Obviously this is a super low-res, terrible shadow of whatever the original designer can provide.. but it may work as a stop gap.

[2019-04-15 14:49] wardpeet commented on #13312
feel free to cleanup, it's just how @fk works ;)

[2019-04-15 14:54] wardpeet commented on #13371
Hi @Sjarj!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproductio

[2019-04-15 15:02] #11496 closed

[2019-04-15 15:05] wardpeet commented on #13355
You can create this react component that should work;

[code]

you can see a demo here
https://codesandbox.io/s/xp11mq39o?fontsize=14

[2019-04-15 15:06] jlengstorf commented on #13337
Here’s the pattern. I set this to tile on my desktop.

![JAMstack Jammies Pattern](https://user-images.githubusercontent.com/163561/56143332-348c9c80-5f55-11e9-9ce0-6e16eb728618.png)

@marisamorby @fk would it make sense to put a “miscellaneous design” page together with things like the swag designs? Probably all of this needs an audit for brand from Flo since I definitely did _not_ follow brand g

[2019-04-15 15:15] wardpeet commented on #13164
I've wanted to fix the gatsby-image as well for the same reasons as above. We've been waiting to do this until gatsby v3. We will refactor this into using forwardRef, hooks and split it up in some smaller components. We could already refactor it with HOCs to make it cleaner but I think it's better to just wait for v3.

Basically, we could only publish gatsby-image to v3 and be done with it but cha

[2019-04-15 15:18] wardpeet commented on #13353
Thanks for creating this issue! We probably wait until we start working on gatsby v3. We're mostly waiting for react suspense SSR & webpack 5 release. Which makes it possible to bump all our versions.

[2019-04-15 15:23] fk commented on #13312
👋 Yep, I'm a total mess! :D

@prashant-andani + @polarathene I once learned that no dead code — commented or not — should be commited in any case. Irt the sidebar accordions it somewhat made sense because that was kind of a moving target, but in general we (and esp. I 😬) should stick to the rule I just mentioned.
So as @wardpeet already said — feel free to clean up, any help is appreciated! Happy

[2019-04-15 15:27] RikoSmith commented on #13337
Thanks a lot. I also thought about the idea of miscellaneous add-ons. It's ike when the game developers distribute games with some additional posters, arts and OSTs, etc.

[2019-04-15 15:28] #13337 closed

[2019-04-15 15:29] wardpeet commented on #13268
could this be a duplicate of https://github.com/gatsbyjs/gatsby/issues/13291? a new version should've been published in 3.0.18.

[2019-04-15 15:31] wardpeet commented on #13266
Hi seand52!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproducti

[2019-04-15 15:39] wardpeet commented on #13249
Hi @yaroslav-perec!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal re

[2019-04-15 15:43] wardpeet commented on #13125
at the moment we don't have a solution for this. Could you let us know which one fails? Could you share some code?

[2019-04-15 15:48] wardpeet commented on #13302
Do you still have this issue? It seems like the url is up. I haven't run the repro yet.

If it's still an issue I can have a closer look.

[2019-04-15 15:56] wardpeet commented on #13071
Could you share a repro? You shouldn't do anything special, just enable mdx plugin. I might not understand the problem.

[2019-04-15 15:59] wardpeet commented on #13003
sweet! we're open for PRs but this isn't really urgent.

[2019-04-15 16:01] wardpeet commented on #12848
Could we get access to one of these repo's? Feel free to dm me or reach out at ward@gatsbyjs.com

[2019-04-15 16:07] muescha commented on #13198
i just see so much hits if i search over the repo for [process.env](https://github.com/gatsbyjs/gatsby/search?utf8=%E2%9C%93&q=%22process.env%22&type=)

if they all internal then it would be ok - but documentation or a list on your page with just a hint (only internal - or an info how to use) would be a little better.

[2019-04-15 16:14] DSchau commented on #13198
@muescha yeah, most if not all of these are internals, as you note.

The ones that aren't are generally what we'd categorize as experiments--which are sort of intended to be kinda non-discoverable because they're generally opt-in enhancements for features/tweaks/etc. that we want "power users" to discover.

I _do_ think we can make these experiments more discoverable, e.g. I've tossed around the i

[2019-04-15 16:14] #13198 closed

[2019-04-15 16:14] wardpeet commented on #12871
We're not going to put much effort on this one as we have fixed the issue for new users and also made sure all info is anonymous. There is always the option to bail out.

We'll also create a blog post about telemetry.

[2019-04-15 16:19] kristojorg commented on #10347
No I ended up moving back to somewhere with good enough internet where I stopped seeing this issue. There should be a flag such that in development if downloading the `localFile` fails, the entire node will be skipped, and in production the build will retry download and then fail as a last resort.

[2019-04-15 16:21] muescha commented on #13198
👍  - thx for your explanation.

[2019-04-15 16:21] wardpeet commented on #12924
I don't think it's a bad idea to create a new API extension like `developMiddleware` for `serveMiddleware`

[2019-04-15 16:21] kristojorg commented on #10347
In the gatsby docs this is the example usage of `createRemoteFileNode`:

[code]

The catch block is where source-shopify or source-wordpress needs to either fail in production or delete the node in development

[2019-04-15 16:24] neo opened #13374 "[gatsby-ssr] __dirname always returns /"
## Description

`__dirname` in the `gatsby-ssr.js` file always return `/` rather than its actual path.

### Steps to reproduce

In a starter (i.e. `npx gatsby new test`), paste something like the following into `gatsby-ssr.js`:

[code]

### Expected result

It should return/log the actual path of the `gatsby-ssr.js` file.

### Actual result

It always returns `/`.

(Note that in other files like `

[2019-04-15 16:26] #12871 closed

[2019-04-15 16:26] wardpeet commented on #3346
@marcysutton wdyt? It seems like everything got updated.

[2019-04-15 16:27] neo commented on #13374
another not really related thing I should mention is that: also only in `gatsby-ssr.js`, I couldn't do something like this, but only exporting per function:

[code]

[2019-04-15 16:29] arturhenryy commented on #10347
@kristojorg
you will probably still encounter this issue when you add more images.

yeah i think implementing something like this could do the trick

[code]

[2019-04-15 16:31] wardpeet commented on #2511
@b0gd4n we support redirects. Feel free to re-open an issue if you have problems.

[2019-04-15 16:31] #2511 closed

[2019-04-15 16:50] #13272 closed

[2019-04-15 17:21] bobbymart1n commented on #13136
@jonniebigodes I figured it out. I had variables that were being referenced in the in the function were outside the scope of the function. I brought those variables into the function itself and all was good. Thank you all so much for the help, I really appreciate it.

[2019-04-15 17:27] #12527 closed

[2019-04-15 17:27] #12571 closed

[2019-04-15 17:34] jonniebigodes commented on #13136
@bobbymart1n no need to thank, glad i could help even if it was a little bit and that you got your issue solved.

[2019-04-15 17:37] lannonbr commented on #13284
As the `v8.serialize` PR was merged, I believe this can be tackled now

[2019-04-15 17:37] omattman commented on #13302
@wardpeet @rogeriopvl

I managed to get it to work with a complete build using Netlify DNS. However, I can't access my FTP credentials for the domain when using the DNS provided by Netlify. Thusmore it also denies access to my admin.matnhansen.com domain, where I edit content.

Do you register two separate domains or how would one go about this?

[2019-04-15 17:51] jonniebigodes commented on #13288
@repoman-git i've been through your comment and without seeing your code in gitlab it's a bit hard to trace it. If you don't mind elevating the privilege for me as it seems that "guest" level cannot see the actual code for a gitlab repo. Then i'll go through it and see what might be the issue. Also it looks like the attachment "Netlify Build message1" didn't follow through nor did [cid:image001.pn

[2019-04-15 17:52] Tomekmularczyk commented on #6230
Little more elegant solution for creating excerpt from raw markdown:

[code]

[2019-04-15 18:09] repoman-git commented on #13288
Hey Jonnie, to make it simple I made you a maintainer and uploaded the files.

[Netlify Build Message 1.docx](https://github.com/gatsbyjs/gatsby/files/3081501/Netlify.Build.Message.1.docx)
[powershellsteps1.docx](https://github.com/gatsbyjs/gatsby/files/3081502/powershellsteps1.docx)

[2019-04-15 18:13] cant89 commented on #3853
Cool, thanks, Im gonna try!
Anyway the link on the readme is broken, probably you mean https://using-i18n.netlify.com/ ?

[2019-04-15 18:13] jonniebigodes commented on #13366
@theofromthelabo that error usually happens when you try to iterate something that is not iterable. but looking at you said and what you have in your `gatsby-node.js` in the repository you mentioned there's no reference to `homepageText.forEach`. Also is that error happening on deploy or locally? Also a quick tip for you, it seems that when you commited and pushed the code, you didn't have a `.git

[2019-04-15 18:16] nadrane commented on #11205
hmm i'm getting the exact same issue as described here. Any chance we can open this one back up? i'd be happy to provide more info

[2019-04-15 18:44] garethgd commented on #9207
Still experiencing this trailing slash redirect with or without Netlify's pretty URL option enabled.

[2019-04-15 19:13] jlengstorf commented on #12291
Hey, @ryancharris! How's it going with this feature? Anything we can do to help?

[2019-04-15 19:15] DWboutin commented on #13278
Hi! I got the problem when trying to build. I created this small repo for you to test it out. Very minimal of our setup.

I tried to disable all gatsby-plugins, but it throws the same error.

https://github.com/MikaelConecto/build-fails

[code]

[2019-04-15 19:30] monsieurnebo commented on #3853
@wardpeet Does your example generate static translated strings (on build time) ? Or does it generate the text during runtime?

[2019-04-15 19:37] hassan3095 commented on #13076
Can I please be assigned to this issue? Would love to take a closer look and take a shot at it over the weekend?

[2019-04-15 19:49] kristojorg commented on #10347
@arturhenryy it might actually make sense to use a lib like this https://github.com/zeit/async-retry to manage retry logic

[2019-04-15 20:12] littletower commented on #3853
@monsieurnebo looks like build time

[2019-04-15 20:52] DWboutin commented on #13278
I created a new project, Installed all deps one by one, copied .src folder and it build now! I really don't understand a thing in this problem.

[2019-04-15 20:54] zslabs commented on #12924
@wardpeet That'd be pretty nice for sure! Less deps FTW 🎉

[2019-04-15 21:49] polishedwp commented on #13315
@LekoArts I am relatively new to GatsbyJS and am not familiar with Docz, but can help put together a beginning draft to help out if you need me to work on this.

[2019-04-15 21:50] drake-smith commented on #10328
I understand how this refresh token is working and have tried it out on my local machine, and using localhost. However, I wonder how this can be implemented into a preview system for a non-developer, like a client that needs to preview content before publishing. Especially on Contentful, to set up the POST webhook, I need a non-localhost URL. I could use ngrok, but again, that only works in a limi

[2019-04-15 22:03] RichardBronosky commented on #10328
@drake-smith  You can pass `--host=0.0.0.0` to develop to get it to listen on non-local interfaces.

[2019-04-15 22:44] orshick commented on #13347
@hesselberg  Yes, seems likely.

[2019-04-15 23:26] shannonbux opened #13376 "Gatsby CLI to add scaffolding for source plugin creation"
## Summary

This is an idea to add to command to Gatsby CLI for people starting to build a source plugin.

It could be `gatsby start source-plugin` or `gatsby new plugin` or `gatsby plugin --help` or something.

### Basic example

[code]

This is the most basic version of how we could help plugin authors. We could do more, such as walk them step by step into creating a local plugins folder, etc. o

[2019-04-15 23:36] shannonbux opened #13377 "Invite Gatsby users to learn more about plugin authoring via CLI"
## Summary

The CLI could invite users who seem to be authoring a plugin to learn more about a few resources that they might find useful.

### Basic example

The CLI could say:

[code]

We could expand this pattern in the future as we learn to anticipate plugin authors' needs.

### Motivation

People say the plugin authoring docs are useful but hardly anyone looks at them. This could increase view

[2019-04-15 23:53] ferni opened #13378 "[gatsby-source-wordpress] How to query only for stickied posts?"
How do you get only stickied posts from wordpress (sticky=true)? Ideally I would want the plugin to not fetch at all the other posts, but if you can only filter them after the fact that could work too.

In the API I would do this: /wp-json/wp/v2/posts?sticky=true&per_page=3 , how to do the same with the plugin? Thanks.

[2019-04-16 00:45] orshick commented on #13378
@ferni I believe a query like this should do the trick

[code]

[2019-04-16 01:06] jasonmit commented on #2698
Ran into this as well in the blog post.  Might be worth updating the blog post.

Also, is there anyway to get Gatsby to watch the translation/locales folder to rebuild when translations are updated?  Currently need to manually restart `gatsby dev`

[2019-04-16 01:09] CanRau commented on #8463
I agree, I think it would be useful. Maybe along the note "..only intended for preview purposes and not for production.."
I reuse the same tab and address often when switching between `dev` and `serve` always forgetting to switch to `http` as well 🤦‍♂️

[2019-04-16 01:20] prestonso commented on #12396
Happy to say that we're beginning work on an official docs i18n process now!

Right now we're deciding whether it will need to be scoped to the full site or just the docs, but any suggestions about recommended approaches and whether folks find the routes taken by e.g. [React](https://github.com/reactjs/reactjs.org-translation) and [Vue](https://github.com/vuejs/vuejs.org) would also be very welcom

[2019-04-16 01:43] seaneking opened #13380 "[plugin-preact] Update to use Preact X (preact/compat)"
## Description

Preact 8.x is incompatible with reach router and errors out on Gatsby v2 (see #8545). Preact X includes compat for contexts and other React 16 features needed by Gatsby, and has moved the `compat` module to core. This plugin should use that, even though it's currently in alpha, since the current implementation is broken.

Just a matter of updating alias refs from `preact-compat` to

[2019-04-16 01:49] natezerk commented on #13365
Okay great, thanks, will have a look at them.

[2019-04-16 01:49] #13365 closed

[2019-04-16 01:52] DSchau opened #13381 "[fix]: Update js-yaml version in various dependencies"
## Description

A security vulnerability has [been uncovered in js-yaml](https://www.npmjs.com/advisories/813). We should update our packages wherever possible to ensure we are on the correct version.

### Steps to reproduce

PR to gatsbyjs/gastby, e.g. https://github.com/gatsbyjs/gatsby/pull/13257, specifically the [CircleCI output](https://circleci.com/gh/gatsbyjs/gatsby/108112?utm_campaign=vcs-

[2019-04-16 01:55] natezerk opened #13382 "How to access context from page created statefully?"
Hello,

I have a project with a default `index.js`. I am trying to pass a context variable into the query on it, so that I can do something like this:

[code]

The example given here says to add an `onCreatePage` hook that adds the context to the page: https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#pass-context-to-pages.

So I have done this in `gatsby-node`:

[code]

However, this fu

[2019-04-16 02:02] #13382 closed

[2019-04-16 02:46] donaldboulton opened #13383 "Structured microdata"
A real website has blogs, pages, adds, reviews comments ect...
And there are many things that Gatsby has decided we do not need, like the real ability to have our content found by search engines - spiders.

If you all are building for Googlers then you might think about, "in code structured micro-data", = no sudo json LD.
Pages, comments, posts, adds, reviews, products ect... need to have a correc

[2019-04-16 03:06] ferni commented on #13378
Yeah that did work. So there's no way to prevent fetching all the posts? Is it only possible to filter them after getting all of them?

[2019-04-16 03:45] alexsinfarosa opened #13384 "SyntaxError: Unexpected end of JSON input"
## Description
Running `gatsby build `gives the following error: SyntaxError: Unexpected end of JSON input
And it points to this function:
[code]
If I return an empty array in the function, it works and the app builds just fine.

Describe the issue that you're seeing.
The app does not build

### Steps to reproduce
gatsby build

Clear steps describing how to reproduce the issue. Please please pleas

[2019-04-16 04:21] orshick commented on #13378
You mean under the hood? I'm not sure how graphql works on that level, but unless wordpress keeps a separate list of sticky pages for this plugin to query, there's no way to check which pages are sticky and which are not without checking them all.

[2019-04-16 04:39] ferni commented on #13378
You can filter the posts in the API by adding sticky=true to the query string, for instance /wp-json/wp/v2/posts?sticky=true , so if you could just add arbitrary query parameters as an option to the plugin, that would do it.

[2019-04-16 05:41] wardpeet commented on #13378
At the moment we don't have an option to add querystrings to the urls we query. So sadly you'll have to fetch all your posts at this time.

[2019-04-16 05:49] wardpeet commented on #13384
It's hard to help you without an example project but the reason probably is `window.localstorage`.

Try
[code]

[2019-04-16 05:55] wardpeet commented on #13383
We use meta tags instead of structured microdata. Although structured data might improve SEO, it mostly improves how it shows up on google.

We heavily use the [SEO Component](https://www.gatsbyjs.org/docs/add-seo-component/). Nothing stops you to create a component that adds structured data.

[2019-04-16 05:58] wardpeet commented on #13380
@seaneking as a preact core member, it's on my list to update the plugin and make sure Gatsby works. I'm a bit swamped with other priorities right now but feel free to pick this up.

[2019-04-16 06:05] kuworking commented on #13071
If I am understood it well, by enabling the mdx plugin, if I use `onCreatePage` I will receive two instances of the same `mdx` file, but this a consequence of the mdx plugin and not a problem to be solved.

In other words, if I use `onCreatePage` to remove things from the url, as documented [here](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes), and I also us

[2019-04-16 06:29] stefanprobst commented on #13278
@DWboutin Thanks for the repo! First observations:
* works ok with `yarn`. `yarn list graphql` gives:
[code]
* does not work with `npm`. `npm list graphql` gives:
[code]

[2019-04-16 06:38] wardpeet commented on #13374
It's not really a bug, the code is ran inside webpack which also changes some variables that are relative to node.

to fix this you can do a workaround like this:
[code]

[code]

[2019-04-16 06:50] wardpeet commented on #12924
I'll write down a short description on how to fix it.

1) In [packages/gatsby/src/commands/serve.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/serve.js) you'll need to add this part of code
[code]

2) Add serveMiddleware to our config validation: [packages/gatsby/src/joi-schemas/joi.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/joi-schemas

[2019-04-16 06:54] wardpeet commented on #12649
Hi @re1!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction

[2019-04-16 07:09] wardpeet commented on #1660
@b0gd4n we support redirects. Feel free to re-open an issue if you have problems.

[2019-04-16 07:09] #1660 closed

[2019-04-16 07:33] wardpeet commented on #13071
Oh yeah I see what you get at, sadly there is nothing to do about it. Your solution is 👌

[2019-04-16 07:36] wardpeet commented on #12978
@OllieJT that's a bit weird, it's a shapr issue. Mind reinstalling your node_modules? `yarn --force` or `rm -rf node_modules`.

[2019-04-16 07:42] wardpeet commented on #13302
It's probably best to reach out to netlify's support as this isn't a Gatsby issue.

[2019-04-16 07:42] #13302 closed

[2019-04-16 07:49] wardpeet commented on #13076
@hassan3095 I can't directly assign you but I've setup the label

[2019-04-16 07:51] wardpeet commented on #10347
feel free to create a PR so people can this this. If this actually works we are happy to get this in! 🎉

[2019-04-16 07:54] wardpeet commented on #3853
@cant89 we're still updating the dns so it's up soon for now [using-i18n.netlify.com/](https://using-i18n.netlify.com/) is the correct link.

@monsieurnebo it's at build time. It creates a copy of your website for each language so everything can be statically build. This means your website stays fast as everything is just a .html.

[2019-04-16 07:56] prashant-andani commented on #13312
Thanks for correcting me out there .... "Commented out code" not "Commented Code"

[2019-04-16 08:10] wardpeet commented on #13347
Duplicate of #10347

Thanks for opening this issue, let us move this discussion to #10347

[2019-04-16 08:10] #13347 closed

[2019-04-16 08:14] wardpeet commented on #13288
@repoman-git windows should work fine. I'm myself am a windows user.

If you want I can take a look as well but i'm pretty confident @jonniebigodes can do it as good as me or even better.

[2019-04-16 08:46] bryndyment commented on #6945
This is still an issue.

[2019-04-16 09:01] wardpeet commented on #13278
Seems like npm isn't resolving peerdeps of packages that are deep in the tree. So you'll need to use yarn or manually install graphql => `npm install graphql@^14.1.1`

[2019-04-16 10:32] theofromthelabo commented on #13366
@jonniebigodes

regarding the error I got - it has been fixed with the following code in the gatsby-node.js:
i was getting this error locally.

[code]

Folders .cache public and node_modules: I pushed them to the repo before adding .gitignore - can I delete these folders from my Github directly (https://github.com/theofromthelabo/thelabo)?

Also I have another question regarding the rich text edit

[2019-04-16 10:44] wardpeet commented on #8560
Thanks definitely, unsure how we could fix this, we might want to add some kind of sorting to head components.

[2019-04-16 10:55] eclectic-coding opened #13387 "Deprecated packages in Gatsby"
## Description

After installing the gatsby dependencies `npm install` i noticed the following two packages are depreciated:

[code]
Does `eslint-plugin-flow-vars` need to be updated to `eslint-plugin-flowtype`?
It appears `coffee-script` is a dependency of a package.

### Steps to reproduce

1. Clone the gatsby repository
2. Run `npm install`

### Environment

Results of  `gatsby info --clipboard

[2019-04-16 11:26] benparsons commented on #12744
I'm seeing the same behaviour as @interglobalmedia. Installing `core-js@2` (via npm or yarn) does not make a difference.

Where should the config from @lushijie be added? Adding it to `babel-preset-gatsby/.babelrc` seemed to be incorrect.

[2019-04-16 12:55] donaldboulton commented on #13383
No way to inject the variables need for the proper structure, been tried by the MVC Community and the Jekyll community, no one ever got it working so it had the proper format which Schema.org constantly refines.
Here is Googles Products sample below, which is not totally correct but the basic idea.

`<div itemscope itemtype="https://schema.org/Product">
  <span itemprop="brand">ACME</span> <span i

[2019-04-16 13:02] me4502 commented on #13383
It’s perfectly possible to use Microdata with Gatsby as is. Just apply it where you need it. I’ve set it up on multiple sites by just adding the tags and it works fine.

[2019-04-16 13:07] donaldboulton commented on #13383
Have you used some testing tool for results and on what website links. I would like to see it.

[2019-04-16 13:29] lannonbr commented on #13387
I did confirm these two notices appear. I am not sure if there is any breaking changes for each of these package upgrades, but I can mark this as an issue for now.

[2019-04-16 13:34] lannonbr commented on #13387
That said, when working with the Gatsby core repo, we use Yarn given it is a monorepo architecture and we use Yarn Workspaces, but it is interesting these deprecations don't appear in yarn.

[2019-04-16 13:36] repoman-git commented on #13288
@wardpeet Personally, I am happy for anyone to take a look the repo is just a test one.

[2019-04-16 13:37] LekoArts commented on #13315
Hey,

thank you for taking the time to read this issue and volunteering to tackle this one! Sadly this issue requires at least intermediate level of context/knowledge (both Gatsby and Docz) -- hence I didn't mark this as a "good first issue".

Speaking of that: We absolutely want to have you as a contributor, so please take a look at [our open issues][open-issues] for ideas, especially at those ma

[2019-04-16 13:49] LekoArts commented on #13383
I honestly don't understand what point you're trying to make 😅 As the others said you can just implement the schema.org stuff yourself -- Gatsby's standard SEO doesn't ship it by default.

You can use Google's own tool:
https://search.google.com/structured-data/testing-tool

---

My site:
https://www.lekoarts.de/en/blog/tips-and-tricks-for-gatsby

Result:
https://search.google.com/structured-data/

[2019-04-16 14:19] polishedwp commented on #13387
@lannonbr That is interesting. According to the npm page, it appears the last update to `eslint-plugin-flow-vars` was three years ago.

![Screen Shot 2019-04-16 at 10 16 53 AM](https://user-images.githubusercontent.com/13651291/56217276-f49ae780-6030-11e9-9e26-0c61e086b4e1.png)

I wonder if there are other cases of difference like this between npm and yarn?
Let me know if I can help in anyway.

[2019-04-16 14:22] polishedwp commented on #13315
@LekoArts Thank, I generally and reading the "good first issues" daily. I currently have one issue open #12519
Love the community.

[2019-04-16 14:26] alexsinfarosa commented on #13384
I had already tried that but It did not work.

[2019-04-16 14:32] danrha commented on #11990
I'm getting the same issue in a similar case.

[2019-04-16 14:49] lannonbr commented on #13387
Yeah if you are interested into researching the upgrade path to get these two packages to be updated and if there would be anything that we would need to change, we'd love a contribution

[2019-04-16 14:50] lannonbr commented on #13387
I at least saw that eslint-plugin-flow-vars is a direct dev-dependency for Gatsby. Not quite certain where coffee-script is being used in the repo.

[2019-04-16 15:05] repoman-git commented on #13288
Hi @wardpeet If you're Ok with it and @jonniebigodes also doesn't mind as far as I'm concerned the more the merrier!

[2019-04-16 15:09] jonniebigodes commented on #13288
@repoman-git sorry for not answering earlier.  i will not get offended in any shape or form. 6 eyes can be bether than 4 😊! Regarding what you said in your other comment, i read through the .ps file. And the steps look like everyday work with node/Gatsby. I'm inclined to believe that the problem is not with your workstation.

Yesterday and as per your request i've checked the gitlab repo and manag

[2019-04-16 15:25] wardpeet commented on #13384
Mind sharing your repo? Or create a reproduction?

[2019-04-16 15:38] onokje opened #13392 "How to extract translation messages?"
Hi all, we have just begun to implement react-intl for i18n. Translations work fine, but so far we have been using a static json file with all translations.

Now i am looking for a way to extract all translation messages from all pages and components. I thought i could use babel-plugin-react-intl, but it is not working (nothing happens).

I have:
- added babel-plugin-react-intl, babel-preset-gatsb

[2019-04-16 15:47] polishedwp commented on #13387
Looking through the yarn.lock file it appears coffee-script (coffeescript) is a dependency as follows:
[code]
I checked the npm page for `[gray-matter](https://www.npmjs.com/package/gray-matter)` and their Dependencies indicate `coffeescript`(no hyphen).  I will investigate today and offer a PR.

[2019-04-16 16:34] #13381 closed

[2019-04-16 17:56] #3853 closed

[2019-04-16 18:34] DSchau commented on #12919
Going to close this out, for a few reasons:

1. Environment variables tend to be cleaner and more easily understood
1. We can instead build out improved plugin option validation to fail _quickly_ and obviously, which seems to be an improved user experience

From the Gatsby Preview side of things, this will be solved with using an OAuth flow to provide necessary environment variables as editable va

[2019-04-16 18:34] #12919 closed

[2019-04-16 18:39] DSchau commented on #13050
Going to close this out. Magic is _bad_, and we want to provide a clear, easy experience for users even if it's not 100% automated. As such--we're going to recommend to continue to use environment variables for secrets and provided data, rather than bake-in defaults that could be unclear.

@MarcCoet it seems your issue is a little different, here. I'd recommend just using a prebuild script to expo

[2019-04-16 18:39] #13050 closed

[2019-04-16 18:40] marcysutton commented on #11490
Great meeting today, thanks @robinmetral! Here are some notes I took on the call:

- The "Styling Your Site" landing page could use a little more orientation, while keeping it concise to act as a table of contents...particularly useful on mobile.
- It would be great to add a "Modern CSS Styling techniques" page to describe what you can do without tools or plugins (e.g. grid & flexbox), sort-of an

[2019-04-16 19:39] marcysutton commented on #3346
We still need to add more information to the new video docs, specifically with a recommendation of how to work with HTML5 video (packages, requirements, limitations, etc). If anyone is interested in taking this on, it would be a huge help! https://www.gatsbyjs.org/docs/working-with-video/#hosting-your-own-html5-video-files

[2019-04-16 20:02] repoman-git commented on #13288
@jonniebigodes   Thanks for the comprehensive check list.  I'll go through the suggested points.  I go through them now though you may not get a detailed response from me this tonight.

[2019-04-16 20:55] Kwasula commented on #9406
I cant find any mutation delete,update, subscription example for gatsby-source-firebase-firestore. I can query a post document with five elements . Id, Name, description, date, town. But I have still problem with mutation.

[2019-04-16 21:29] DSchau opened #13399 "[examples]: update dependencies for styleguide example"
## Description

Our example `styleguide` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this document](https://www.gatsb

[2019-04-16 21:31] DSchau opened #13400 "[examples]: update dependencies for using-cxs"
## Description

Our example `using-cxs` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this document](https://www.gatsby

[2019-04-16 21:32] DSchau opened #13401 "[examples]: update using-emotion dependencies in example project"
## Description

Our example `using-emotion` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this document](https://www.ga

[2019-04-16 21:33] DSchau opened #13402 "[examples]: update using-emotion-prismjs dependencies in example project"
## Description

Our example `using-emotion-prismjs` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this document](https:

[2019-04-16 21:34] DSchau opened #13403 "[examples]: update using-gatsby-image dependencies in example project"
## Description

Our example `using-gatsby-image` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this document](https://w

[2019-04-16 21:34] DSchau opened #13404 "[examples]: update using-remark dependencies in example project"
## Description

Our example `using-remark` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this document](https://www.gat

[2019-04-16 21:35] DSchau opened #13405 "[examples]: update using-remark-copy-linked-files dependencies in example project"
## Description

Our example `using-remark-copy-linked-files` is using a slightly outdated version of some packages. Our examples should serve as best practices, which means that they should _also_ be up-to-date with the latest and greatest versions of our excellent plugin infrastructure.

## Technical Detail

1. You will need to fork the repo and follow the set-up process [outlined in this documen

[2019-04-16 21:44] DSchau commented on #12431
@musabdullah0 it's because there is a style applying to all `a` tags that is being picked up because gatsby-link renders an a tag!

[code]

In the absence of a reproduction, I'm going to assume this is something with a particular plugin/global css file/etc. We don't provide _any_ style at all for gatsby-link, so this seems likely to be something else that is causing this style to take effect.

Ple

[2019-04-16 21:47] #12431 closed

[2019-04-16 21:59] polishedwp commented on #12431
@RidanDev I just saw this one but this is how I worked around the problem. This works if you are using `typography.js` and in my case the `fairyGatesTheme`:
[code]
Hope this helps.

[2019-04-16 22:02] polishedwp commented on #13405
Hey @DSchau ,
I will work on this one this evening, unless someone else picks it up first.

[2019-04-16 22:02] DSchau commented on #13405
I'll assign it--it's all yours.

Thank you!

[2019-04-16 22:09] samovertonjr commented on #13403
@DSchau Can I grab this?

[2019-04-16 22:10] DSchau commented on #13403
✅ Done! Thank you!

[2019-04-16 22:20] steoneill commented on #13399
I’ll take this :)

[2019-04-16 22:21] DSchau commented on #13399
Wonderful! Thanks for assigning yourself and taking it on!

[2019-04-16 22:50] nephlin7 commented on #13404
@DSchau
can you assign me this?

[2019-04-16 23:11] shannonbux commented on #4201
Thanks for the comment @Ziinc and especially suggestions of what you do/don't like about other platforms. I think something like this is further down the road, so I'm bookmarking this for future ideas!

[2019-04-16 23:23] taran-gill commented on #13401
Hey, mind if I look into this?

[2019-04-16 23:33] repoman-git commented on #13288
@jonniebigodes @wardpeet

I went through the steps, and at the last one I started getting errors regarding sharp not being properly installed.   Resolving this took me a while, but I managed to do ( by installing the visual studio tools again) so and was able to run 'gatsby develop' & subsequently 'Gatsby build' without errors.  However, whilst the build command worked I got an error regarding the

[2019-04-16 23:37] seaneking commented on #13380
@wardpeet great to hear! I tried using Preact X locally, but seems there's still incompatibilities with react router and contexts. So guess we'll have to wait for more bugs to be ironed out during the alpha

[2019-04-16 23:40] KyleAMathews opened #13407 "Manually add schema for basic SitePage node definition and then infer as normal pageContext"
This will let us get out of always adding the dev-404 SitePage node which tripped up @Moocar https://github.com/gatsbyjs/gatsby/blob/6421c5b011a18d8d390d23084ac46b4d32a5303b/packages/gatsby/src/internal-plugins/internal-data-bridge/gatsby-node.js#L52-L61

[2019-04-16 23:41] KyleAMathews commented on #13407
https://github.com/gatsbyjs/gatsby/pull/13064#issuecomment-483769718

[2019-04-17 00:48] CanRau commented on #8330
Sorry for not responding 😨
Glad you've figured it out 👍
Yea always good to scroll to the very top, I missed so many more meaningful information due to this 🤦‍♂️ 😉

[2019-04-17 00:51] CanRau commented on #3582
Hey @madhusudhan1234 sorry for the late response, were you able to figure it out?
Not sure about that `!raw-loader!` think they're kind of out-dated and might interfere with some updates of webpack?

[2019-04-17 01:00] CanRau commented on #8443
@abumalick Maybe [babel-plugin-preval](https://github.com/kentcdodds/babel-plugin-preval) could help if you still need a solution?
The imported module should (not tested so not sure) be able to export your desired component if the flag is set or `null` otherwise which would render nothing in react.. 🤔

[2019-04-17 01:20] donaldboulton commented on #13383
Ya nice site wish I could have found your [Tips & Tricks for Gatsby](https://www.lekoarts.de/en/blog/tips-and-tricks-for-gatsby) previously in my many searches for Gatsby related anything.
Your post on static queries is really helpful and wish I would have found it before. I have had issues with needing static queries in templates in the latest Gatsby.
But one reason I never found what I was looki

[2019-04-17 01:26] donaldboulton commented on #12870
Thank You

[2019-04-17 01:26] #12870 closed

[2019-04-17 01:35] mauriciord commented on #12015
@Developerayo how did you fix it?

[2019-04-17 01:47] axe312ger opened #13410 "gatsby-plugin-offline resulted in blank pages for some users"
## Description

A fresh deployment of `"gatsby-plugin-offline": "^2.0.24",` resulted in blank pages for some of our users. The website was unusable, resulting in a bounce-rate of ~50%. Upgrading to latest version of `gatsby-plugin-offline` did not help, still same result.

I attached a page dump (`Save page as` in Chrome) I received from a machine where the error occurred.

It seems that gatsby-pl

[2019-04-17 01:53] ferni commented on #13378
Okay, thanks a lot for your help.

[2019-04-17 01:53] #13378 closed

[2019-04-17 01:56] Blumed opened #13412 "gatsby-config.js siteUrl won't validate during local build."
## Description

I just added two plugins `gatsby-plugin-robots-txt` and `gatsby-plugin-advanced-sitemap`.They're activated during a production build only. My production build now breaks and shows this error:

[code]

So, taking a look at my gatsby-config:

[code]
Obviously, this seems like a pretty easy fix, right? Sad face. If I change `url:` to `siteUrl` then I get this error during `gatsby devl

[2019-04-17 01:59] YoavRheims commented on #4201
Yup! Exactly [my last year thoughts](https://github.com/gatsbyjs/gatsby/issues/4201#issuecomment-370124900) :)

[2019-04-17 02:12] polishedwp commented on #13402
I will work on this in the morning.

[2019-04-17 02:32] alexsinfarosa commented on #13384
This is the link: https://github.com/alexsinfarosa/irrigation-tool-v2

[2019-04-17 02:39] tjmcewan commented on #1878
I have a use case.  In the same vein as https://github.com/gatsbyjs/gatsby/issues/4512 and given the differences between prod builds & dev builds, I need to re-run prod builds for checking global style conflicts or omissions.  More pressing than this, but also much more niche, I'm using gatsby to automate the creation of many print pdfs that share data with our website.  The dev server output is u

[2019-04-17 02:45] cdtinney commented on #2881
@Khaledgarbaya Doesn't seem to work with a single reference type (rather than one-to-many).

[2019-04-17 02:51] nephlin7 commented on #13404
hi @DSchau , I did the pull request, but I do not know why it became like a child of another pull request that I did previously. 😓

How do I fix it?

[2019-04-17 04:11] tomByrer opened #13415 "CHANGELOGs are fustrating"
https://github.com/gatsbyjs/gatsby/blob/ef6f84ccae0f48cf1c9334b50ed58fe145647ba6/packages/gatsby-transformer-sqip/CHANGELOG.md
[code]

Quite a length of text that says nothing.  However, there have been changes in this sub-repo not listed in the CHANGELOG.
& having to go into each [sub-repo](#13416 ) to find changes is frustrating.

I'd prefer if there was a master CHANGELOG with helpful info & wi

[2019-04-17 04:21] tomByrer opened #13416 "npm pages' repo link should link directly"
Eg: https://www.npmjs.com/package/gatsby-transformer-sqip

`repository github` now points to [the main repo](https://github.com/gatsbyjs/gatsby).  It would be more useful for this to directly link to the actual transformer's page:
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-sqip

Might not be a big deal if there was only a dozen sub-packages, but seems there are near

[2019-04-17 05:48] Blumed commented on #13412
siteUrl: `https://needstobetheproductionurl.com`

[2019-04-17 05:48] #13412 closed

[2019-04-17 05:59] keitheous commented on #7862
華語!?

[2019-04-17 08:06] adueck opened #13417 "How to Automatically Cache All Routes with Offline Plugin"
I am using `gatsby-plugin-offline` with the default configuration.

I have noticed that it only caches routes that the user visits. If the user doesn't visit a route while online, they can't open that route/page when offline.

**I would like to be able to automatically cache all routes/pages, so that once a user installs the PWA they can get any route offline.**  And I'm a little nervous about ove

[2019-04-17 08:19] YordanLV commented on #11173
Same issue here.. Anyone with a fix?

[2019-04-17 08:43] prashant-andani commented on #13312
Cleaned up the commented out code... Hence closing this issue..

[2019-04-17 08:43] #13312 closed

[2019-04-17 09:06] lucavallin commented on #6730
My issue: the manifest.json file is created, but inside the public/icons/ directory there's another manifest that is picked up - and this one contains wrong information. Why is it created and how do I change it?

[2019-04-17 09:11] yaroslav-perec commented on #13249
Hi @wardpeet!

Thanks for the answer! I think this problem is common, I add screenshots that I think can help you understand what the problem is.

My WP post with tag:

![Selection_074](https://user-images.githubusercontent.com/30346881/56272930-6859f480-6104-11e9-91d7-decb81989656.png)

My query:

![Selection_075](https://user-images.githubusercontent.com/30346881/56272990-8a537700-6104-11e9-8bb1

[2019-04-17 09:39] repoman-git commented on #13288
@jonniebigodes @wardpeet

Wohooooo!

So that all worked beautifully.   After clearing some fat finger related typos and creating the 'tags' in contentful as you detailed it worked.

I didn't know that the tags should be set as a list, and none of the texts I read stipulated this.  Though thinking about it now it seems very logical, and I feel a bit silly.  Oh well, Chalk that down to experience.

[2019-04-17 09:55] janbaykara commented on #12967
Can you elucidate on this?

[2019-04-17 09:59] repoman-git commented on #13288
I reverted/removed the comments then ran Gatsby develop, Gatsby build  & Gatsby serve and saw the post as desired.  So Awesome!

On to building the site on Netlify and testing if that will work with the the contentful webhooks.

[2019-04-17 09:59] rajjeet commented on #12849
Had the same issue. I had to add `if (typeof document !== undefined) ` or`if (typeof window !== undefined)` before using those browser objects in my client side JS. If you need to operate on those objects (i.e. `window.onscroll = your function`) then move the code into `componentDidMount()`

[2019-04-17 10:54] anonimoconiglio commented on #11179
Sorry for bothering you guys, I just upgrade `gatsby-wordpress-inline-images` to the new version and now It doesn't respect the max-width of the images (the entire website has images at 1024px and that mess with my layout).
Should I need to add new options?
This is my issue on the package: https://github.com/TylerBarnes/gatsby-wordpress-inline-images/issues/4 thanks for any help.

[2019-04-17 11:26] rajatrao777 commented on #13400
Hi @DSchau,
If no one else is taking up and if this is not urgent, can i look into it.
This will be my first contribution.

[2019-04-17 12:31] gatarelib commented on #13235
Same thing here.

[2019-04-17 12:35] jcieslar commented on #8056
@williamtstanley I had same issue as you described. After update .md file via netlify-cms I had that error when gatsby build.
I have hack to solve it.
I'm removing from cache dir file: `.cache/redux.state` and then build works well.

[2019-04-17 13:00] gurpreet-hanjra opened #13420 "Tracking page visits (splunk)"
Hello everyone,

The project I'm working upon needs to track page visits like which page was visited how many time. No user tracking, so can't use Google of other 3rd party tracking tools. There is one tool, Splunk, which looks at network requests and logs page visits.

Since Gatsby is SPA and when I look into Network panel, there are bunch of network requests due to resource pre-fetching. So Splu

[2019-04-17 14:03] LekoArts commented on #12272
@samovertonjr @smurrayatwork Pleae don't unpin this issue. Thanks!

[2019-04-17 14:18] stefanprobst commented on #12510
@angeloashmore We don't plan to expose the schema composer directly. Next step is to expose some internals via extension/directive - for example to define foreign-key relations on fields. Once we are happy with the API for this, it would not be very hard to also allow registering custom extension/directive handlers.

[2019-04-17 15:01] Norem80 commented on #13235
I reproduced the issue and with ```gatsby develop``` everything worked as expected when i've used ```gatsby build``` with ```gatsby serve``` the whole page was blank but when i've putted ```wrapPageElement``` in ```gatsby-ssr.js``` everything worked as expected in both cases.

[2019-04-17 15:02] polishedwp commented on #13387
To follow up on `coffee-script`
After some investigation I determined `markdown-toc` was upgraded to `gray-matter@3.1.1` which depends on the deprecated package `coffee-script`.

The new package, `coffeescript@4.0.0` has the breaking change of requiring node v. 4 or greater. Since `gray-matter` has not upgraded to the newer package, Gatsby-core may want to investigate further.

[2019-04-17 15:13] #12312 closed

[2019-04-17 15:14] samovertonjr commented on #12272
Didn't know that clicking that would affect everyone.

[2019-04-17 15:15] tweetzal opened #13423 "Install error"
Hi there,
I followed instructions to install.
All worked fine.
However, I suggest the following install command if you want to have no issues:

npm install --save-dev babel-jest react-test-renderer babel-preset-gatsby identity-obj-proxy jest-cli jest-dom

I basically added jest-cli and jest-dom and removed jest

Thats it !

Otherwise you will get errors on a clean gatsby install

[2019-04-17 15:42] samageloff commented on #12384
@DSchau I'm looking at this issue a bit now. In your example above, I'm noting that you've installed `@babel/plugin-proposal-export-default-from` as a dev dependency. To implement, would you need to set up a custom `.babelrc` file, as noted https://www.gatsbyjs.org/docs/babel/#how-to-use-a-custom-babelrc-file?

[2019-04-17 15:42] ryandrew14 commented on #13003
Looked into it a little more, and I think @sindresorhus is right -- `got` seems like the best option. They have a great [comparison](https://www.npmjs.com/package/got#comparison) on their website of how it stacks up against other Node libraries for making requests. I will make a PR for this tonight.

[2019-04-17 16:36] CanRau commented on #8443
Awesome glad it's working as desired 🥳
It's a pleasure 😃

[2019-04-17 16:36] DSchau commented on #12384
@samageloff hi!

I provided the example, were you able to check it out? I actually used the onCreateBabelConfig hook in gatsby-node.js -> https://www.gatsbyjs.org/docs/node-apis/#onCreateBabelConfig, specifically used [here](https://github.com/DSchau/gatsby-export-default-from/blob/master/gatsby-node.js). This allows us to more cleanly extend the default babel-config, rather than re-creating it in

[2019-04-17 16:37] DSchau commented on #13423
@tweetzal hello!

I'm not really sure what you mean here? Is there an error? What are you trying to do?

[2019-04-17 16:42] DSchau commented on #13420
Gatsby provides you all the hooks you'd need to implement this yourself utilizing whatever technology you prefer.

I would recommend using `gatsby-browser.js`, specifically the [`onRouteUpdate`](https://www.gatsbyjs.org/docs/browser-apis/#onRouteUpdate) API which will work well for this use case. Specifically - you can see in the example that we show implementing Google Analytics, but you could sw

[2019-04-17 16:42] #13420 closed

[2019-04-17 16:51] DSchau commented on #13415
Hello Tom!

Let's go through this! For some initial context, we use lerna and conventional-changelog messages to have those commits/info be shown on the individual plugins. This is an automated process that saves us quite a bit of time from manually curating CHANGELOG.md for each package.

Sort of agreed. Unfortunately, this is sort of expected for _this particular case_ because we actually haven'

[2019-04-17 16:51] #13415 closed

[2019-04-17 16:56] DSchau commented on #13416
Hello again!

This is not intentional and we'd certainly welcome a PR improving this. After a quick search, I've found the following plugins need updated:

- gatsby-codemods
- gatsby-plugin-facebook-analytics
- gatsby-plugin-flow
- gatsby-plugin-fullstory
- gatsby-plugin-guess-js
- gatsby-plugin-layout
- gatsby-plugin-subfont
- gatsby-source-wikipedia
- gatsby-transformer-sqip

The process will be

[2019-04-17 17:10] samageloff commented on #12384
@DSchau - I missed this! thanks for pointing it out.

[2019-04-17 17:27] #9511 closed

[2019-04-17 17:38] tweetzal commented on #13423
I resolved the issue by using the suggested fix.

Just wanted to let you know, so can update the pagw as it assumes you have
jest cli installed

Best
Mo

On Wed, 17 Apr 2019, 17:38 Dustin Schau, <notifications@github.com> wrote:

[2019-04-17 17:39] adarshlilha commented on #13416
Would like to take this up, if available

[2019-04-17 17:42] jonniebigodes commented on #13249
@yaroslav-perec can you test something out and see if it fixes or at least help you with it, instead of using `&` can you try using `&#38;`. Or in other words, you escape the character/entity and see if it's returned correctly.

[2019-04-17 17:50] jonniebigodes commented on #13288
@repoman-git really glad that you managed to get it running. Regarding the tags, from my understanding of it, either being with contentful or wordpress or any other cms, is that when you apply it you want a simple structure for it, namely a array of strings for better/simpler aggregation. Exposing it as a more complex would lead to increased overhead and complexity to group them together. Feel fre

[2019-04-17 18:16] KyleAMathews commented on #12858
@mayaarguelles curious if you've had any time to work on this?

[2019-04-17 18:20] jasonbahl opened #13425 "gatsby-source-graphql: n+1 queries to remote GraphQL APIs, and other concerns"
In working on the initial phase of gatsbywpthemes.com, using WPGraphQL to pull data from WordPress into Gatsby, we initially used `gatsby-source-graphql` and stitched in the WPGraphQL Schema.

Then the createPages query queried all the pages needed from WordPress asking for just the ID, passed that through then each page used a `pageQuery` to query the data needed to produce that page.

One of the

[2019-04-17 18:36] #12619 closed

[2019-04-17 18:36] #13221 closed

[2019-04-17 18:37] lannonbr commented on #13387
@polishedwp So given we do not maintain `markdown-toc`, we are going to have to wait it out till they update to use the new version of `gray-matter`

It looks like there's an issue on `markdown-toc` about such: https://github.com/jonschlinkert/markdown-toc/issues/138

That said, the package hasn't been updated since late 2017 and the issue has been open for a month with no comment from the maintai

[2019-04-17 18:51] #13374 closed

[2019-04-17 19:12] polishedwp commented on #13387
Thanks @lannonbr, I didn't notice the outstanding issue, but I totally agree. Thank you for looking at this and giving me the opportunity to assist.

[2019-04-17 19:20] bobbymart1n commented on #13136
@jonniebigodes So I'm having a separate issue now and it involves Safari. Everything works fine in Chrome and Firefox. The only thing that seems to be working through Safari is if I use a setTimeout on running the function. Heres my code.

[code]
Any insight is much appreciated.

[2019-04-17 19:27] philippsiegmund opened #13427 "Problems building for IE11"
## Summary

Hey there! I have problems building our page for IE11.
But there seem to more underlying issues as well and I think it comes from webpack or ES6 in modules or similar.
While starting with 'gatsby develop' I get 'WeakSet' not found, so I started manipulating with .babelrc and core-js, I tried core-js2 and 3, in devDependecies, in dependencies, I tried to change the webpack config, and c

[2019-04-17 19:35] CanRau commented on #12093
Yay, I've a need for this, too 🎉 👍

I was already looking into this, not sure what the best API would be though..
Maybe I could look into it and prepare a PR for it if we agree on something and no one else is already on it..

I would love to have it kind of automated, so not like manually providing multiple feeds with a `language` prop but rather everything driven by the `query` and `serialize`
On

[2019-04-17 19:45] kpennell commented on #4123
Darn, what a terrible fix.

[2019-04-17 19:47] DSchau commented on #13427
This seems like something thrown from one of your vendored dependencies (e.g. node_modules). Also - the CoreJS import would seem to need to be weak-set additionally, e.g.

[code]

Would you be able to share a [reproduction](https://gatsby.dev/reproduction)? Even a URL would be helpful, as well.

Thanks!

[2019-04-17 19:49] DSchau commented on #4123
@kpennell the issue is that these are incredibly hard to reproduce and vary based on machine setup.

Oftentimes this is caused by some type of Sharp error out of our control, so if you _can_ reliably reproduce this we'd love to take a look.

[2019-04-17 20:18] Sjarj commented on #13371
I had make a new projet for to see the bug together and it work fine now ?? I close the issue

[2019-04-17 20:18] #13371 closed

[2019-04-17 20:48] DSchau commented on #12755
Bit of a doozy here. As @pieh notes, this works for the gatsby package because the repository URL is the base from which we construct our issues. For all others, the base is _wrong_ because that's not actually where issues are filed in a monorepo.

There are (minimally) two solutions here:

1. PR conventional-changelog to tweak the Handlebars template to account for this
    - Kind of a rabbit hol

[2019-04-17 21:04] buthig opened #13429 "Gatsby breaks in path with non-ascii characters"
## Description

I'm completely newbie to Gatsby and was following the introduction tutorial of hello-world starter project but every time I ran `gatsby develop / build` it was breaking around the createPages phase.

It took me a while to understand what was happening but after finding where the error was actually being raised and preventing the undefined string to be called on, I suspected that th

[2019-04-17 21:09] philippsiegmund commented on #13427
Thanks for your reply!!
I will try to get a nullified version online, but cannot promise..

I added core-js to the .babelrc, hoping that "some kind of magic" happens... Downgrading i18n-next, up- and downgrading gatsby, gatsby-cli, yarn, no success with my combinations.

The WeakSet problem is minor imho, because this only happens on `gatsby develop`, but I will try it to minimize any sources of e

[2019-04-17 21:09] bobbymart1n commented on #13136
So I think I actually figured it out this time. My event listener originally looked like this
[code]
I changed it to this
[code]
And now it works every time.

I guess I misunderstood invoking the function in addEventListener

[2019-04-17 21:09] #13136 closed

[2019-04-17 21:23] Moocar opened #13430 "Expire old page data from production-app"
**Depends on https://github.com/gatsbyjs/gatsby/pull/13004**

Once a page has been requested form the server, the page data stays around in browser memory until a refresh occurs. However, page data can change. If a user keeps a web page open for half an hour, and a piece of content has changed, then ideally, Gatsby should know to request the new data.

A half-way fix for this is to store the time

[2019-04-17 22:19] ferni opened #13432 "I've gotten img urls in sourceNodes, how to run them through gatsby-plugin-sharp ?"
## Summary

I'm getting image urls from an API, I want to use those images on the site and I've gotten as far as creating nodes with the images' urls as a prop. But what I really want is for the images to run through the optimizations as provided by gatsby-plugin-sharp, and to actually be built in the static site. How do I make that final stretch?

Below is the sourceNodes override in gatsby-node.

[2019-04-17 22:34] kpennell commented on #4123
@DSchau

Wondering if things to check are:

1. check one has the right plugins
2. image files are there
3. paths are spelled right
4. path cases are right
5. something else?
6. delete node modules and public and try to reinstall?
7. Check media_folder and public_folder are right?
8. Use relative path plugin or something with `fmImagesToRelative(node)`

I made an SO question here: https://stackover

[2019-04-18 00:26] jonniebigodes commented on #13429
@buthig spanish..or portuguese words for instance that use the language's accents like `à` or `á` or `ã` or even more specifically special characters like the portuguese `ç` tend to break it. From my testing, when i got started with Gatsby back in version 1.5. And then when i tested it with version 2.x.x same issue happened. For now, if you don't mind, try and avoid using the accents or like in yo

[2019-04-18 00:38] jonniebigodes commented on #13432
@ferni from my understanding of what you're asking and the plugin in question, in order for the images to be "transformed" by `gatsby-plugin-sharp` they need to be physically present in the machine. Before applying any transformations you should first fetch them and save them locally and after that is when the plugin can start working on the images

[2019-04-18 00:44] tomByrer commented on #13416
This could be done manually to fix, but isn't there a CLI to build a new package so it doesn't have manually added?

[2019-04-18 00:49] tomByrer commented on #13415
I understand the automated / Lerna thing.  So couldn't the automation also do this?
[code]

I would prefer the master CHANGELOG have all the substantive changes, or find them in the releases page.

[2019-04-18 01:01] KyleAMathews commented on #13432
This is the very short answer. Please leave another comment with more questions! https://www.gatsbyjs.org/packages/gatsby-source-filesystem/#createremotefilenode

[2019-04-18 01:16] kpennell commented on #3002
@calcsam

I'm still stuck as hell but this little explanation you wrote actually does help me understand why just a string is a problem....but I just still can't get it to be anything but a string. I just don't know where to look now.

[2019-04-18 01:31] polishedwp commented on #13401
@taran-gill are you working on this one?

[2019-04-18 01:58] orshick commented on #10347
Has anybody with an understanding of how gatsby fetches data gotten any closer to figuring this problem out? gatsby-source-wordpress is basically unusable for me because of this bug :(

[2019-04-18 02:32] taran-gill commented on #13401
@polishedwp I was expecting to be assigned the issue before I started it, so I haven't had the opportunity to look into it (although I was hoping to knock this out tomorrow and Saturday). I've never contributed to Gatsby before, so if the ticket's high priority, then feel free to work on this :)

[2019-04-18 02:48] billie66 commented on #13362
I am sorry for replying late.

I create a code repo based on gatsby-starter-blog to reproduce the problem that I met before. The repo url is https://github.com/billie66/gatsby-demo

If you launch the gatsby-demo in your local machine,  please access the page `http://localhost:8000/hello-world`, then you would see the post content as follows:

<img width="724" alt="Screen Shot 2019-04-18 at 10 17 3

[2019-04-18 04:51] moonmeister opened #13436 "Play: Experimenting with TypeScript"
## Summary

There has been some discussion about making Gatsby easier to contribute to via TypeScript. I've been playing around with this idea in Gatsby and wanted to share what I was doing. I've modified the babel configs and such to make this possible in gatsby core and in plugins.

I'm completely new to typescript so there's somethings I probably don't have correct or haven't figured out yet.

[2019-04-18 04:56] moonmeister commented on #13436
FYI: This could probably be implemented for plugins pretty quickly. IT's a non breaking change...all JS files keep building. Plugins that want to convert could do so at their leisure once the updated `babel-plugin-gatsby-packages` is released.

One thing I haven't figured out is how to generate type definition files. I think this can be done automatically once `.js` files are converted to `.ts` an

[2019-04-18 05:02] jeffchuber opened #13437 "apple-app-site-association"
I'm interested in strategies to add `apple-app-site-association` to a Gatsby site. [more here](https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html)

Apple requires that it be at `https://domain.com/.well-known/apple-app-site-association` and return flat `json`. (no html!)

In m production website, I'm using `Cloudfront` in front of `s3`, so li

[2019-04-18 07:52] buthig commented on #13429
I can agree this may be a low priority issue but I created this bug report because of two reasons.

Firstly, I was unable to find a solution to this issue when googling for it, and taking into account that it happens when trying to run the very first tutorial for Gatsby I believe that it would be useful for other newcomers to find an easy workaround for it before they get frustrated about this pro

[2019-04-18 08:04] wardpeet commented on #13436
My honest opinion is to move to jsdoc + typescript definitions. I think it's easier to grasp than typescript and more js likely.

I don't know how others feel about this.

[2019-04-18 08:08] moonmeister commented on #13436
@wardpeet How jsdoc and ts definitions work together?

[2019-04-18 08:09] wardpeet commented on #13436
hey sorry, I pushed comment a bit to fast 😛

I updated above comment

typescript is able to parse js files and use the jsdoc comments as typing information.

[2019-04-18 08:25] moonmeister commented on #13436
@wardpeet Hey, so checkout how I've modified the `babel-plugin-gatsby-packages` and `gatsby-plugin-manifest` I just pushed more updates to them in the last minute. This is still using babel for compilation. It's just removing all the ts. `@babel/preset-typescript` does this for us. I have converted to using ts/tsx files and included `*.d.ts` of the plugin.

The one thing I don't like about using t

[2019-04-18 08:42] wardpeet commented on #13436
Jsdoc + tsc does exactly that. So they won't get out of sync. I'll create a sample starter to show this of. Also when I'm at my desktop let me dm me my calendly link so we might pair on this 😂 Maybe others are more in favor of using ts so my points might be moot.

[2019-04-18 08:48] moonmeister commented on #13436
@wardpeet Sweet. I'd love to.

[2019-04-18 09:24] waywardm opened #13441 "gatsby-source-shopify Pulling in Product Barcode?"
Is there any way to pull in the Product Variant Barcode?

I cannot see it available on the shopify api either which seems a bit strange.

[2019-04-18 09:50] polishedwp commented on #13401
@taran-gill I say go for it. If you need any help let me know.

[2019-04-18 10:09] AndreasFaust opened #13442 "Build fails, when processing large images"
## Description
Hello Gatsby-Team!
I am working on a designer's portfolio website with lots of large images. These images are downloaded from a server and processed by Gatsby Image. In dev-mode everything works as expected, but when I try to trigger a build, I get messages like this:

[code]

When I reduce the number of images-collections, it starts working, but not necessarily. Image collections s

[2019-04-18 10:11] MarcCoet commented on #13050
Thanks @DSchau.

I mean for plugins we didn't write ourselves.
Correct me if I am wrong but you are talking about writing my own source plugin so I can set it up as I please. I have got a few custom plugins but writing my own source plugin for one that already exists defeats the whole purpose of using a plugin architecture I believe.
It would be nice to have a way to make plugins communicate with

[2019-04-18 10:15] ariadne-github opened #13443 "What's the correct way to handle the browser being able to reach client-only routes directly?"
## Summary

Referring to this page of the documentation: https://www.gatsbyjs.org/docs/building-apps-with-gatsby/#client-only-routes--user-authentication

This part is not clear, it doesn't explain clearly what the server should do.
I come across [#12576](https://github.com/gatsbyjs/gatsby/issues/12576) and what I understood, at least for simple cases, is that it should redirect to
the correspondi

[2019-04-18 10:26] AndreasFaust commented on #13442
After disabling `sharp.simd(true);` like described at [https://github.com/gatsbyjs/gatsby/issues/6291](https://github.com/gatsbyjs/gatsby/issues/6291), this error shows up:

[code]

[2019-04-18 11:23] mdarche commented on #4535
@khades having the same issue with gatsby-plugin-sass. Can you elaborate on this solution?

[2019-04-18 11:38] pauleveritt commented on #11151
@DSchau I realize this ticket is architecturally significant and is likely low on priority (though hopefully the bug @pieh mentions gets worked on.)

In the meantime, I highly suggest you un-document (or at least add a warning) the mapping feature.

[2019-04-18 12:27] pieh commented on #13003
Just note on `got` - we still do support node 6 :( and `got@^9` seems to require `node: ">=8.6"`, so if we would switch we would need to use `got@<=8` (which works on `node: ">=4"`).

The node 6 support is super problematic for us, but we can't drop it in the middle of `gatsby@2` (even if node 6 end of life is generally coming pretty soon - I think end of April 2019).

[2019-04-18 12:33] frinyvonnick commented on #13376
I'll start working on this if it is good to go ? Can I assign myself to it ?

[2019-04-18 12:45] XHMM opened #13448 "gatsby-remark-images not show captions in md file"
When i write image like this `![my image](../img.jpg)`  in markdown file ,
 `gatsby-remark-images` not show captions (because source code only detect img.title),

(PS: I have enabled showCaptions in gatsby-config.js file)

so I have to write like `<img src="../img.jpg"  title="my image"></img>` instead.
But when I switched to use `gatsby-mdx` later,
`<img src="../img.jpg"  title="my image"></img>`

[2019-04-18 13:13] lannonbr commented on #13235
Here's a reproduction for this: https://github.com/lannonbr/gatsby-remove-styles-bug-repro

Talking with @DSchau on [Discord](https://gatsby.dev/discord), the issue at hand is that when `gatsby-browser.js` is run, ReactDOM is not properly replacing the attributes as expected when rehydrating the app. I am going to have to dive into debugging this and see if it is an issue on ReactDOM's end or some

[2019-04-18 13:25] HarisSpahija commented on #13288
This is issue can be closed.

[2019-04-18 13:29] #13288 closed

[2019-04-18 13:53] DSchau commented on #13448
This seems reasonable! We'd happily take a PR.

[2019-04-18 13:55] DSchau commented on #13441
@waywardm if it's not available in the Shopify API, it won't be available in our source plugin!

I'd recommend opening an issue or reaching out for support to Shopify to see if they can add this capability, and then we can add it into our source plugin.

Thanks!

[2019-04-18 13:55] #13441 closed

[2019-04-18 13:57] DSchau commented on #13437
@jeffchuber wouldn't you need to add this to the static folder? https://www.gatsbyjs.org/docs/static-folder/

This will be copied as-is to the public folder, which can then be deployed to e.g. S3 very easily.

Also: this seems like this could be a good idea for a plugin to create this automatically!

Going to close as answered, but please feel free to re-open/reply if we can help further!

[2019-04-18 13:59] illogic-al commented on #2096
This is an issue again. Current version of gatsby, and gatsby-transformer-remark (2.3.8) require date fields to be wrapped in quotes.

e.g. frontmatter
`---
layout: post
title: "Ansible blog"
date: 2019-01-01 05:30
comments: false
category: [software]
tags: [ansible]
---`

frontmatter with quotes around the date works just fine. e.g.

`---
layout: post
title: "Ansible blog"
date: "2019-01-01 05:30

[2019-04-18 14:17] jeffchuber commented on #13437
@DSchau thanks for the quick reply!

The issue is not getting a file into the static folder, the issue is accessing that file by the route/url apple demands `https://domain.com/.well-known/apple-app-site-association`.

Desired scenario:
1. Apple's crawler visits `http://localhost:8000/.well-known/apple-app-site-association`
2. It is presented with raw json. eg:
[code]

[2019-04-18 14:27] arturhenryy commented on #10347
@wardpeet would love to help but i in my opinion this is a core bug in the functionality of several source plugins which needs a deep understanding of the underlying system because changing stuff like timing or retrying might have several implications for other parts of the system here. so this should be addressed by some gatsby members in my opinion

[2019-04-18 14:47] lannonbr opened #13453 "Modify Gatsbot wording for gatsby swag offer"
## Summary

Just a thought about the message gatsbot posts after someone get's their first PR merged. In terms of the swag offer, it may be a good idea to edit the phrasing to say what kind of stuff you can get given we have more products in the store now and not all are available under the first tier. As well, maybe have another comment for when people hit 5 PRs for the tier 2 threshold to tell p

[2019-04-18 15:24] #10398 closed

[2019-04-18 16:04] nickreese commented on #12145
Having this exact issue as well. @tcerdaITBA did you find a solution?

[2019-04-18 16:17] hdoro opened #13454 "Consider adding first-class support for AMP"
## Summary

The [AMP project](https://amp.dev) is being pushed hard by Google and is quite aligned with Gatsby's vision of a better web. With the [release of amp-script](https://www.youtube.com/watch?v=sYXkVOiz77I), integrating React with AMP is now possible (and [already being done by Next](https://nextjs.org/blog/next-8-1)), so we're finally in a moment where a **first-class effort** to bring th

[2019-04-18 16:22] lannonbr opened #13455 "[docs] Document that you can use just the username and repo in `gatsby new`"
## Summary

@jlengstorf and @marcysutton brought up in Jason's stream today that you can use a shorthand to choose the starter when running `gatsby new`

so rather than this:

[code]

you can write just the user / org and the repo name

[code]

This should be documented

[2019-04-18 16:28] hcavalieri commented on #13454
Oh, and @tomoyukikashiro might be interested in this as well, given his effort in creating [html2amp](https://github.com/tomoyukikashiro/html2amp) and [gatsby-plugin-html2amp](https://github.com/tomoyukikashiro/gatsby-plugin-html2amp) 😉

[2019-04-18 16:42] lannonbr opened #13457 "Gatsby-cypress is not present plugin library"
## Summary

If you search for `gatsby-cypress` it doesn't show up in the plugin library.

As well, the page for it does not show the sidebar and header:

https://www.gatsbyjs.org/packages/gatsby-cypress/

![Screenshot_2019-04-18 gatsby-cypress](https://user-images.githubusercontent.com/3685876/56378181-416df200-61da-11e9-8202-6129dc6eca89.png)

[2019-04-18 16:47] DSchau commented on #13457
Thanks @lannonbr!

For a plugin to show up in the sidebar, it needs to have the keyword `gatsby-plugin`, which it currently doesn't have.

That being said--I do think this is worth documenting, but I'm not really convinced this is a plugin. Plugins _are_ currently a little vague, e.g. gatsby-image is not a plugin but shows in the plugin search, so there is some precedent here.

However - the secon

[2019-04-18 16:48] lannonbr commented on #13457
As well there was some other broken things too. making a PR right now for this

[2019-04-18 16:50] DSchau commented on #13453
If someone is interested in picking this up, the source of this message is the repo gatsbyjs/peril-gatsbyjs. We have a number of rules and automation in that repo currently invoked/powered by Peril.

Specifically, [this file](https://github.com/gatsbyjs/peril-gatsbyjs/blob/master/rules/invite-collaborator.ts) is where the changes will need to be made.

[2019-04-18 16:58] sidharthachatterjee opened #13459 "gatsby-plugin-netlify: Missing security headers"
Seems like some security headers are missing (as seen in https://securityheaders.com/?q=gatsbyjs.org&followRedirects=on)

Referrer Policy was added recently thanks to @browniebroke

These are still missing:

- [ ] Content-Security-Policy
- [ ] Feature-Policy

[2019-04-18 17:04] DSchau commented on #13443
A lot to unpack here, so let me attempt to do so.

You've done a great job of summing up the current issue. This is a ReactDOM.hydrate issue, not necessarily anything we can fix in Gatsby. That issue, specifically is:

Inability for ReactDOM.hydrate to render an entirely different tree in server vs. client

Generally - I'd say it's sort of an anti-pattern to render an entirely different tree. Cont

[2019-04-18 17:04] #13443 closed

[2019-04-18 17:05] ryandrew14 commented on #13003
Closed by #13434.

[2019-04-18 17:05] #13003 closed

[2019-04-18 18:09] polishedwp commented on #13455
So, to what extent is this documented?
[Get Up and Running in 5 Minutes](https://github.com/gatsbyjs/gatsby/blob/master/README.md)
[Quick Start](https://www.gatsbyjs.org/docs/quick-start)
[Get to know Gatsby building blocks](https://www.gatsbyjs.org/tutorial/part-one/)

The command `gatsby new ...`, from my experience as a new user, is documented in a lot of locations.

[2019-04-18 18:12] lannonbr commented on #13455
I think a good place to look to document this would be possibly be the [Starters Docs page](https://www.gatsbyjs.org/docs/starters/) as this is just a shorthand when choosing a speciifc starter

[2019-04-18 18:53] Moocar opened #13464 "Warn if creating a page with same path but trailing slash"
Say you have a site with two pages `/page` and `/page/` (second has a trailing slash). Reach Router will match `/page` or `/page/` pathname against either of them, since it doesn't care about trailing slashes. So the order they appear in `data.json` influences which page will get matched first. And that result is cached.

Further complicating matters, say we navigate the browser to `/page`. That r

[2019-04-18 18:58] lannonbr commented on #13453
Let's keep this unpinned. The pinned issues usually should belong to issues that are relevant for all gatsby users / issues that we want to have large discussions on that are picked out by the Gatsby Core Team

[2019-04-18 18:59] #13455 closed

[2019-04-18 19:01] DSchau commented on #12913
@mostearly sorry we missed this!

Generally, we recommend using `createNodeField` for this, which will then make a `fields` _field_ with your extended data.

For example:

[code]

then you can query with GraphQL like:

[code]

Closing as answered! Thanks for the question, please reply or re-open if we can help further!

[2019-04-18 19:01] #12913 closed

[2019-04-18 19:03] DSchau commented on #13453
@polishedwp just for our context, did you accidentally pin? Feels like that's been happening a fair amount recently, so just trying to understand further!

[2019-04-18 19:06] polishedwp commented on #13453
No, I pinned to watch. If it is still open after the weekend, I will come back and pick it up.

[2019-04-18 19:06] DSchau commented on #13453
Ah - so pinning is more for _everyone_. You can just use the watch feature in Github to actually watch an issue!

[2019-04-18 19:07] polishedwp commented on #13453
Sorry, if this is the wrong way.

[2019-04-18 19:07] DSchau commented on #13453
@polishedwp nothing to apologize for! Thanks for letting us know _and_ for being willing to help!

[2019-04-18 19:09] agvo1kov opened #13466 "Very unstable work https://www.gatsbyjs.org/"
Hello Gatsby-Team!
I can't use the site of the project for learning Gatsby because often it's not available. I just began learning. I tried to open the site a few times on week, but every time my learning was interrupted because of infinite next page loading.

Hope, you will solve the problem soon. Thank you,

[2019-04-18 19:10] DSchau commented on #13466
Hello!

@agvolkov5 I'm not really sure what you're referring to--could you provide more detail? We don't really have "infinite loading" on gatsbyjs.org.

[2019-04-18 19:25] sidharthachatterjee commented on #13003
Published in `gatsby@2.3.25`

[2019-04-18 19:31] agvolkov5 commented on #13466
I am seeing the following picture: [https://www.youtube.com/watch?v=YqPmeod0Rkw](https://www.youtube.com/watch?v=YqPmeod0Rkw)
Even the main page maybe not opening.

[2019-04-18 19:50] nratter commented on #6654
@anagstef looks to be working much better! Thanks for the tip!

The output is very verbose when building with this version of got. Do you know if there's any way to remove this?

[2019-04-18 20:58] #4319 closed

[2019-04-18 20:58] #12947 closed

[2019-04-18 20:58] DSchau opened #13468 "[feat]: use intersection of staged files in PR for linter check"
## Description

Fairly annoyingly, PRs that are out of date to master fail on unrelated files. If we use the intersection of files in the current PR with the list of changed files from `prettier --list-different` we can get a more accurate check that accounts for the content within the PR.

### Expected result

the lint CI status check should not fail when files outside of the current PR are the c

[2019-04-18 20:59] #13297 closed

[2019-04-18 21:22] kpennell opened #13469 ""Field "image" must not have a selection since type "String" has no subfields.""
## Description
I love love love Gatsby...But I'm another person struggling 😭😭😭 for 12+ hours now with "Field "image" must not have a selection since type "String" has no subfields."

I'm trying to to use netlify-cms and gatsby (with several popular gatsby image plugins).

I think this is a relative paths image problem but nothing has helped. I really just need someone to look at my setup.

Researc

[2019-04-18 21:23] jonniebigodes commented on #13384
@alexsinfarosa i've picked up on your issue. I've cloned the repository you provided and i've been testing with it. And i think i have a solution for you.
It looks like the problem is the `browser-monads` package and how you structured your code in `appContext`.
From your code you had the function like this:
[code]
It should work out of the box, but that won't work, reason being, because that pack

[2019-04-18 21:29] DSchau commented on #13466
This is super strange! It appears that the pre-loading is timing out.

Could you perhaps have any network issues? Very slow network? (e.g. try fast.com and let us know what your dl/up speed is!)

[2019-04-18 21:35] jonniebigodes commented on #13469
@kpennell if you don't mind the wait, i'm cloning your repo and i'm going to create a detailed answer to your issue probably still tonight or at the very latest tomorrow. Sounds good?

[2019-04-18 21:40] kpennell commented on #13469
@jonniebigodes Thanks so much...and for responding to probably a half dozen of these now. Really wish you didn't have to

[2019-04-18 23:02] DSchau commented on #13454
Hello Henrique!

Agreed that it's probably high time to begin some more focused discussion with Amp making some moves that it make it more appealing for usage (e.g. not obscuring the URL!).

A non-exhaustive list of priorities could be created (and probably spawning additional issues), but to start:

What additional work needs to be done outside of gatsby-plugin-html2amp (and do we need to do this

[2019-04-18 23:04] DSchau commented on #13459
Are there reasonable defaults that we _should_ be using (and making them extensible?) or is this something that should live in userland, e.g. using the `headers` option of the plugin and improving documentation?

I'm not sure off hand, so a little further research would be helpful to answer that question to then drive development efforts.

[2019-04-18 23:10] DSchau commented on #13436
@moonmeister just saw this--love the label and so excited to have you working on some of this "fun stuff" (or as you say, Open Play ™️!)

Thanks for working in the open on this! I'm not a huge fan of JSDoc, but interested to hear what your thoughts are re: JSDoc vs. _pure_ TypeScript.

[2019-04-18 23:23] garretteklof commented on #13382
What was the resolution here? I am experiencing a similar issue.

[2019-04-18 23:30] kpennell commented on #13469
I think I figured it out. In Gatsby-config, the order of plugins does matter here:

from here: https://theleakycauldronblog.com/blog/problems-with-gatsby-image-and-their-workarounds/
[code]

Hoping this helps someone in the future. Thank you @jonniebigodes

[2019-04-18 23:30] #13469 closed

[2019-04-18 23:31] natezerk commented on #13382
This was one of those funny ones where restarting the project seemed to work. The method should be being called and was after a restart.

I think this only works for page queries though and not static queries if that's what you're trying to do.

[2019-04-18 23:38] garretteklof commented on #13382
Thanks for the quick reply! I actually restarted (plenty lol), the issue was even more ridiculous. I started a new Gatsby project via the CLI, and it asked me whether I wanted yarn or npm as my package manager. I chose yarn, and it set me up that way, however the script `yarn run start` was still alias for the script `npm run develop`. Something with my binaries with node were wonky? I switched th

[2019-04-18 23:39] garretteklof commented on #13382
Idk if I should post this anywhere. If there's some bug with the CLI, or if my build was just a lemon and that sneaky script snuck in anywhere but on the off chance anyone's listening: `The node binary used for scripts is /var/folders/py/qr45p7jx12q94v6hj7l599940000gn/T/yarn--1555630565690-0.4286459916050005/node but npm is using /usr/local/Cellar/node/11.2.0/bin/node itself. Use the `--scripts-pr

[2019-04-18 23:42] jonniebigodes commented on #13469
@kpennell no need to thank. Glad you managed to figure it out.

[2019-04-18 23:52] agvolkov5 commented on #13466
Now my dl is 5.1 Mbps and up is 530 Kbps.
But I tried to connect to another network (about 30 Mbps dl and up), but it didn't influence the stability of the site's work.
From time to time the site works wonderfully, but usually, it does not last long.

[2019-04-19 00:02] lannonbr opened #13473 "Further document End to End Testing page"
## Summary

The [End To End Testing page](https://www.gatsbyjs.org/docs/end-to-end-testing/) has some content about setting up Cypress with Gatsby, but I think it would also be useful to describe writing E2E tests explicitly and write some examples for it. As well maybe add some stuff for accessibility as was done in the stream today with Jason and Marcy.

cc: @marcysutton

[2019-04-19 00:21] lannonbr opened #13474 "[docs] Improve stub-list to group similar stubs"
## Summary

Looking at the current stub list, some of the stubs can be confusing on what they mean by looking at the title for them (for instance, some of the Using Gatsby Professionally stubs)

![Screen Shot 2019-04-18 at 8 11 45 PM](https://user-images.githubusercontent.com/3685876/56398484-beb75800-6216-11e9-9162-14cecd9027e0.png)

One way to clean this up could be group based upon a particular

[2019-04-19 00:23] marcysutton commented on #13473
love that idea! We incorporated [cypress-axe](https://github.com/avanslaars/cypress-axe) and wrote a keyboard test for a clickable span. If you or someone wants to take this on, that would be fantastic! @jlengstorf do you have the files from today's livestream (and the Youtube link, whenever you upload it)?

[2019-04-19 00:28] lannonbr opened #13475 "[docs] Breadcrumbs for all docs pages"
## Summary

I am thinking it would be beneficial to have a component at the top of each docs page to show the hierarchy of where the current page is in the docs.

### Basic example

For instance, the [Working With Images in Gatsby](https://www.gatsbyjs.org/docs/working-with-images/) page could have a breadcrumbs of

[code]

And then you can click any point in the chain to walk up the hierarchy.

-

[2019-04-19 00:30] DSchau commented on #13442
Could you provide a [reproduction](https://gatsby.dev/reproduction)?

Thank you!

[2019-04-19 00:33] marcysutton commented on #13475
Great intuition here! We've talked about it this week, actually. I think it could fit nicely into the #6896. I saw an example from @calcsam from Django where they have a nice "you are here" section in the sidebar. https://docs.djangoproject.com/en/2.2/howto/outputting-csv/

[2019-04-19 00:37] lannonbr commented on #13475
Yeah I think these two issues could go hand in hand where mine is for the hierarchy of the global docs while Shannon's will dig into the local hierarchy of an individual page

[2019-04-19 00:40] macklinu commented on #12398
Opened up #12878 - not sure how to resolve the issue, but this is still a valid bug.

[2019-04-19 01:39] samburgers commented on #5329
This will prevent a flash of 404 page content by simply checking if the `window` is available during `gatsby build`.

[code]

Works well with [this plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-create-client-paths/) too

[2019-04-19 01:49] JDeLay-JR commented on #13453
I would love to take this issue if no one has claimed it yet!

[2019-04-19 01:50] lannonbr commented on #13453
Go ahead @JDeLay-JR

[2019-04-19 01:51] JDeLay-JR commented on #13453
Awesome; thank you! Super excited; this will be my first contribution to an open source project!

[2019-04-19 03:29] KartSriv commented on #13473
@marcysutton I'll take this ASAP after @jlengstorf provides us with the Livestream files.

[2019-04-19 03:31] KartSriv commented on #13423
Thanks, @tweetzal for your information! I'll close this issue now.

[2019-04-19 03:31] #13423 closed

[2019-04-19 05:26] TylerBarnes commented on #11179
@anonimoconiglio I believe I've fixed the issue from my local testing. Try `1.0.1--beta.1`. If not I can do some more work on it but let's keep discussion in your linked issue.

I think we can close this issue now since the plugin is in a good place. @DSchau I think it would be helpful to add a note about this plugin to the docs somewhere. Should I add a note to the `gatsby-source-wordpress` docs

[2019-04-19 05:32] TylerBarnes commented on #11179
Sorry, @anonimoconiglio bump to `1.0.1--beta.2`.. I published the wrong branch on beta.1 😂

[2019-04-19 05:52] kristojorg commented on #10347
@arturhenryy @orshick here is a draft PR that _should_ fix the issue. I don't have a local WP site to test it on though, so the code has not been run and no tests have been added. If you would like to continue the PR and get it merged, please do so!

https://github.com/gatsbyjs/gatsby/pull/13478

[2019-04-19 05:53] dantesolis commented on #7986
@laurosilvacom to tell you the truth I have been hammered 🔨 at work lately so haven't had time to look at it, was about to start working on it, but help is always welcome.  Have you made any progress thus far ?

[2019-04-19 05:58] deadcoder0904 opened #13479 "Landing Page duplicate category on Showcase"
Someone made 2 categories in Showcase - [Landing page](https://www.gatsbyjs.org/showcase/?filters%5B0%5D=Landing%20page) & [Landing Page](https://www.gatsbyjs.org/showcase/?filters%5B0%5D=Landing%20Page).

Also, there's a little jankiness when I unselect one & select another category :)

[2019-04-19 06:10] deadcoder0904 opened #13480 "Wrong link to Accessibility in Gatsby Themes"
Go to https://www.gatsbyjs.org/docs/themes/introduction/.

Under https://www.gatsbyjs.org/docs/themes/introduction/#why-does-this-matter, click on the accessibility link, it redirects to 404.

It should link to https://www.gatsbyjs.org/docs/themes/building-themes/#make-it-accessible-by-default

[2019-04-19 06:36] deadcoder0904 opened #13481 "Installation instructions wrong in Gatsby Themes Getting Started - Repo not found"
Goto https://www.gatsbyjs.org/docs/themes/getting-started & try

[code]

Error is

[code]

[2019-04-19 07:09] KartSriv commented on #13481
Thank you @deadcoder0904 for pointing out this issue! You are right, the link has been changed to https://github.com/gatsbyjs/gatsby-starter-blog/. I'll fix it ASAP.

[2019-04-19 07:13] KartSriv commented on #13481
Fixed! Please wait for the reviewers to accept the changes. Thanks!

[2019-04-19 07:15] tcerdaITBA commented on #12145
No, unfortunately I have not been able to come up with a solution. I was thinking of maybe migrating to emotion as a workaround.

[2019-04-19 07:19] KartSriv commented on #13480
Thanks, @deadcoder0904! I just fixed it. Please wait for the reviewers to accept the proposed change.

[2019-04-19 07:19] #13480 closed

[2019-04-19 08:00] danielbayerlein commented on #13479
@deadcoder0904 I'll check it out.

[2019-04-19 08:36] browniebroke commented on #13459
CSP is not an easy one, it belongs in user land in my opinion. There is a community plug-in for it, and as you can see the configuration can be complex:
https://www.gatsbyjs.org/packages/gatsby-plugin-csp/

[2019-04-19 08:39] re1 commented on #12649
Hey @wardpeet!
Please excuse my late response. I am building upon gatsby-starter-default including gatsby-source-wordpress through the following lines inside `gatsby-config.js`.

[code]

WordPress was hosted locally using Docker as described here: https://docs.docker.com/compose/wordpress/.

As WordPress does not expose `wp-json` (http://localhost:8080/wp-json/) by default I was unable to use the

[2019-04-19 09:14] #13479 closed

[2019-04-19 09:21] LekoArts commented on #13481
@KartSriv For future PRs: I wouldn't close the issue myself but let it be closed by the PR. Because this really isn't really fixed/solved until the PR is merged. Just wanted to let you know :)

[2019-04-19 09:32] LekoArts commented on #13481
However, looking at this issue in more detail I think we should close this without further action. The theme docs are currently WIP and not "public" (hence not in the sidebar) so this repository will eventually exist. Replacing the link with another repository doesn't really make sense as the instructions below would need to be adjusted, too, and the repository actually needs to contain a theme.

[2019-04-19 09:32] #13481 closed

[2019-04-19 10:56] arturhenryy commented on #10347
@kristojorg sounds great mate thanks. i could test it.

[2019-04-19 11:05] jamessimone commented on #13448
@DSchau saw your comment on this yesterday and submitted a PR for the issue this morning. Let me know what you think!

Thanks,
James

[2019-04-19 11:18] andrewfairlie commented on #13475
This would be great, particularly on mobile where the sidebar is collapsed it's currently sometimes quite hard to get a feel for where you are in the site structure.

[2019-04-19 11:20] andrewfairlie commented on #13131
I would like to have a go at this one if you don't mind @marcysutton? I've been learning Source Plugins recently and came across the same thing so it's fresh in my mind.

[2019-04-19 11:33] nickreese commented on #12145
@tcerdaltba — Mine was caused by another plugin competing for the gastby-ssr replace header tags/node... Or some name like that. (I don't have it in front of me)

Look in that file and try disabling other plugins until gatsby build gives you css in the head.

[2019-04-19 12:18] lannonbr commented on #13473
Feel free to go ahead and assign yourself to this issue @KartSriv. For issues I want to tackle I assign myself but if you are interested in working on this I am all for it 👍

[2019-04-19 12:20] KartSriv commented on #13481
@LekoArts Got it, Thanks!

[2019-04-19 13:02] anonimoconiglio opened #13494 "pathPrefix have problems with some components, like react-spring or react-transition-group"
## Description

Not sure if this is a bug but pathPrefix doesn't work well with `react-spring` or `react-transition-group` (with `gatsby-plugin-layout` ).

It resolve the paths accordingly but the transitions doesn't work.

### Steps to reproduce

Here is a working demo https://github.com/anonimoconiglio/jamstackdemo
To reproduce just build it with `gatsby build --prefix-paths` command as [explain

[2019-04-19 13:12] alexsinfarosa commented on #13384
Thank you very much!

[2019-04-19 13:14] KartSriv opened #13495 "[docs] Adding Free Swag information in the README"
### Adding Free Swag information in the README

Giving a gist about the free Gatsby Swag can encourage the open source community to contribute. I think we can just include a few lines from https://www.gatsbyjs.org/contributing/contributor-swag/.

[2019-04-19 13:26] divyamrastogi commented on #13442
Happened to me too. For some weird reason, I just ran yarn once and it started working fine.

[2019-04-19 13:29] #13448 closed

[2019-04-19 13:47] hcavalieri commented on #13454
Thanks for the quick answer, Dustin 😄

So, as I said before, I'm no expert at anything, but I'll give my 2 cents in what I believe we should take attention to:

1. _IF_ we intend to add support for hydrated react apps in AMP instead of just basic HTML, then we must start a long-term effort together with the `amp-script` / amp for websites team. They are, apparently, [already thinking of how to imp

[2019-04-19 14:07] KartSriv commented on #13495
**There you go https://github.com/gatsbyjs/gatsby/pull/13496**

[2019-04-19 14:26] anagstef commented on #6654
@nratter I'm glad it worked for you!

Yes, I know that, it is very verbose and it cannot be turned off. Ruins all the useful console output.

After some investigation I have done, I think it is caused here:
https://github.com/gatsbyjs/gatsby/blob/80c7023a8bc23886939205fe52e305277294e6af/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L155

As you can see it calls a `console.log` w

[2019-04-19 14:32] tomoyukikashiro commented on #13454
@hcavalieri @DSchau

Thank you for mentioned my projects `gatsby-plugin-html2amp` and `html2amp`. 😄
I am so interested in supporting AMP by Gatsby 👍 😄

Originally `html2amp` is a simple module to convert `Standard HTML tags` to AMP tags so that most of `AMP` unique tags which can not be replaced with standard HTML tags are not support now like `<amp-story>`, `<amp-sidebar>` etc.... the module will

[2019-04-19 14:46] #13315 closed

[2019-04-19 15:05] yaroslav-perec commented on #13249
@jonniebigodes

If in WP I create tag `R&#38;D` it returns as `R&amp;D`, `R &#038; D` returns as `R &#038; D`

[2019-04-19 15:55] leeandher opened #13501 "NetlifyCMS admin page 404's instead of displaying"
## Description

For some reason, my local NetlifyCMS instance isn't showing up on the `/admin/` page.
I recently updated from Gatsby `v2.2.8` to `v2.3.25` and I'm not sure if that has something to do with it.

This also may be a NetlifyCMS issue, but that entirely depends on the `config.yml` file, and will throw an error if it has any errors in it, it seems to work fine in the printout below.

###

[2019-04-19 16:21] DSchau commented on #13495
Hello @KartSriv!

We've closed the accompanying pull request (#13496) in the interest of keeping our README focused and pertinent, so we'll do the same here.

Thanks for opening this issue and for working on a contribution towards the Gatsby ecosystem!

[2019-04-19 16:21] #13495 closed

[2019-04-19 16:51] insmac opened #13503 "Make a custom directory accessible to GatsbyJS for development and build"
I have GatsbyJS set up within a large monorepo with two different builds using a shared components set. The structure is as following:

[code]
The issue is this: I can access the `shared` components directory to import and use React components and logic in both GatsbyJS site and other site (native React) just fine, only that they contain images with src using a regular `src=/assets/images/...` tag

[2019-04-19 16:52] jeffchuber commented on #13437
Looks like this is not an uncommon issue: https://github.com/gatsbyjs/gatsby/issues/4144

[2019-04-19 17:34] DSchau commented on #13437
@jeffchuber you need to set up a redirect for your provider. For example, with S3: https://docs.aws.amazon.com/AmazonS3/latest/dev/how-to-page-redirect.html

I've set up an example with Netlify [with this repo](https://github.com/DSchau/apple-app-site-association), and you can see it working:

https://gatsby-apple-app-site-association.netlify.com/.well-known/apple-app-site-association

[2019-04-19 18:07] JDeLay-JR commented on #13453
Hi guys, is there an official list of swag items and the tiers they belong to? I checked out the Gatsby Store and saw some items for $2, $10, and $26. Is it safe to assume that these prices correspond to Tiers 1, 2, & 3?

[2019-04-19 18:09] jlengstorf commented on #12396
@prestonso this seems like it's probably a good candidate for an RFC — we'll have a lot of different things to iron out and get feedback on before we can start work. Maybe you and I can set some time aside to run through ideas and get the initial RFC written up?

[2019-04-19 18:10] AndreasFaust commented on #13442
@DSchau Thank you for the response! I followed your guidelines and made a repo to reproduce the errors: https://github.com/AndreasFaust/gatsby-bug

Trying this out I experienced different results: First it completely worked. Then I deleted the` .cache`- and the `public`-folders, triggered build and the build stopped without exiting after the downloading process. The third time I started the build

[2019-04-19 18:14] jeffchuber commented on #13437
@DSchau I really appreciate the reply! I do think this is something a lot of devs will encounter or I wouldn't spend the time.

Unfortunately it needs to be solved at the routing level because Apple rejects redirects:
<img width="898" alt="Screen Shot 2019-04-19 at 11 11 09 AM" src="https://user-images.githubusercontent.com/891664/56437380-003a1880-6294-11e9-925a-0253dd930d9c.png">
https://develop

[2019-04-19 18:14] lannonbr commented on #13453
So the $2 and $10 items are under the first tier while the $26 items are under the 2nd tier

[2019-04-19 18:15] DSchau commented on #13437
Ah! Come on Apple, not making it easy on us!

Let's re-open this and find a more robust solution.

[2019-04-19 18:16] JDeLay-JR commented on #13453
Awesome sounds good; thank you for the quick reply!

[2019-04-19 18:28] jlengstorf commented on #13473
@KartSriv files are at https://github.com/jlengstorf/a11y-testing

Thanks!

[2019-04-19 18:36] KirankumarAmbati commented on #13400
May I know if this issue is addressed ?

[2019-04-19 18:37] DSchau commented on #13400
It has! Thanks for the reminder!

[2019-04-19 18:37] #13400 closed

[2019-04-19 18:38] antoinerousseau commented on #11524
I'm having this error and I'm not using a service worker.
I was thinking that maybe it happens if the page loads with a certain version of the site, and then a deploy is done and the asset names change so they can't be found by the opened version?

[2019-04-19 18:39] lannonbr commented on #13405
This seems to be resolved

[2019-04-19 18:39] #13405 closed

[2019-04-19 18:41] lannonbr commented on #13402
And this is done. Closing

[2019-04-19 18:41] #13402 closed

[2019-04-19 18:55] simplesessions commented on #5329
@samburgers Fantastic! In initial testing, it seems to work just fine 👍

[2019-04-19 19:20] AryanJ-NYC commented on #10870
I have a similar problem to this. How is/was this solved?

[2019-04-19 19:27] dennismorello opened #13506 "SW registration fails when custom pathPrefix is used"
## Description

When `pathPrefix` is set in `gatsby-config.js`, the service worker fails to be registered.

### Steps to reproduce

- Set the `pathPrefix` in `gatsby-config.js` to a non-empty string (let's say `"xyz"`)
- Generate the static site with `gatsby build --prefix-paths`
- Upload the generated content to your server and access it from `yourdomain.com/xyz`

The service worker registration

[2019-04-19 19:39] jonniebigodes commented on #13249
@yaroslav-perec in my previous comment when i asked to use `&#38;` instead of `&` i was hoping that Gatsby and Wordpress were both smart enough(pardon the bad pun) to figure out to return the character already decoded. But based on your response it looks like it doesn't. So I think i have a solution for you, you might need to make make some adjustments but at least this issue will probably will be

[2019-04-19 19:58] realgt commented on #5002
we're implementing gatsby with a drupal 8 backend using gatsby-source-graphql plugin, and performance is not an issue so far, with ~4000 pages built in < 30 seconds. we're pulling all data in gatsby-node as opposed to running thousands of StaticQuerys, and bypassing image processing for now.

[code]

[2019-04-19 19:58] kpennell commented on #13469
It was hell...but I did learn a lot.

On Thu, Apr 18, 2019 at 4:42 PM jonniebigodes <notifications@github.com>
wrote:

[2019-04-19 20:11] clkent commented on #679
All you have to do to swap out the favicon as of today is change out the favicon.ico in your static folder.

[2019-04-19 20:37] JDeLay-JR commented on #13453
First PR was closed because it was accidentally created using my old GitHub account

[2019-04-19 21:06] #12230 closed

[2019-04-19 21:36] shannonbux commented on #13475
Yeah, @fk and I talked about breadcrumb trails maybe a year ago, too and I'd love to pair w/ @lannonbr and @marcysutton on this!

I think breadcrumbs are the logical choice for this need, though the Django method could work (I haven't seen people use that very often so not sure!). Here is a design guide about breadcrumbs that I like. https://www.nngroup.com/articles/breadcrumbs/

A few key princip

[2019-04-19 22:33] jackhair commented on #11524
@antoinerousseau Yeah, after a few attempts at trying to fix it we still get it even without the SW. We did upgrade a few Gatsby plugins to recent versions and it reduced the count of errors, but not to 0.

@KyleAMathews Have you been seeing this, or have any info?

[2019-04-19 22:36] jonniebigodes commented on #13384
@alexsinfarosa no need to thank, just glad i could help out and help you solve your issue.

[2019-04-20 00:10] KyleAMathews commented on #11524
@jackhair it's hard to tell what's happening without a reproduction. http://gatsby.dev/reproduction

[2019-04-20 00:17] ferni commented on #13432
createRemoteFileNode did the trick, for reference this is my code now:

[code]

[2019-04-20 00:17] #13432 closed

[2019-04-20 00:22] KyleAMathews commented on #13454
What exactly is Next doing? It seems like it's just a toggle switch that turns on/off a React Context variable? https://github.com/zeit/next.js/blob/e5111745b55a618caa58b14f73f1451e0319b4c6/packages/next-server/lib/head.tsx

[2019-04-20 01:34] shannonbux opened #13511 "Welcome message in the Gatsby CLI"
## Summary
We've seen some CLI's do this, and it could be nice!

## Details

[code]

## Motivation
Some other docs have really great CLI documentation, and we could use a welcome message to both communicate success to Gatsby users and point them to the documentation about the CLI. #12951. Thanks and fyi @DSchau @jamo @KyleAMathews @sidharthachatterjee

[2019-04-20 01:49] shannonbux opened #13512 "Clearer spelling suggestions in CLI"
## Summary
Suggestion to improve the CLI suggestions when you misspell a command or enter an unsupported/invalid command.

## Details
Currently, the CLI looks like this when you misspell something.

<img width="569" alt="Screen Shot 2019-04-19 at 6 36 53 PM" src="https://user-images.githubusercontent.com/32467162/56449703-27173f80-62d2-11e9-9fc7-ca9c7b2f9fb9.png">

Here's what happens when you ent

[2019-04-20 01:58] shannonbux opened #13513 "Clear screen to show only relevant information after `gatsby develop` in the CLI"
## Summary

I have seen some other CLI's clear the command line of past information once a process is successful or when there is an error. This issue describes how we could apply that principle to the `gatsby develop` command.

### Basic example

Right now, this is what my terminal looks like after I run `gatsby develop`.
[code]
Well, not exactly. All those lines above the "success" line seem sor

[2019-04-20 05:38] LekoArts commented on #13513
When I'm working with Headless CMS I'm not quite familiar with and e.g. try to add some fields in `onCreateNode` I often console.log the data I'm getting — or generally speaking: I'd assume that I'm not the only one using console.log to see what data I get. In these runs the CLI is not failing.

Removing the CLI content would be bad for this usecase.

[2019-04-20 06:18] KyleAMathews commented on #13513
We wouldn't literally clear anything, just scroll down so only the success message is showing.

[2019-04-20 09:02] Vikingjonsson commented on #11185
A bit late but maybe something is missing in the WordPress set up.
I guess you know this and already done it, but just to be sure or help others coming here.

In WordPress the plugin [ACF to REST API (v.3+)](https://wordpress.org/plugins/acf-to-rest-api/) is needed to use ACF with gatsby-source-wordpress.

[2019-04-20 10:27] martynhoyer commented on #10870
@AryanJ-NYC It wasn't really... I ended up just hacking around with the CSS to remove the inappropriate margins from the paragraphs inside the list items.

[2019-04-20 12:33] huynhminhtufu opened #13514 "How to remove the line 'This app works best with JavaScript enabled.'"
## Summary

When I disable Javascript on the browser, the Gatsby site display the line 'This app works best with JavaScript enabled.', everything else are working fine. How can I remove this line from gatsby?

[code]

## Relevant information

None

### Environment (if relevant)
  System:
    OS: macOS 10.14.4
    CPU: (4) x64 Intel(R) Core(TM) i5-6360U CPU @ 2.00GHz
    Shell: 5.3 - /bin/zsh
  Bin

[2019-04-20 12:55] dakebl opened #13515 "Update yarn.lock to remove malicious event-stream package"
## Description

Whilst trying to set up a new development environment for Gatsby core I noticed that `yarn bootstrap` was failing:
[code]
This is due to `event-stream-3.3.6.tgz` having been removed from npm, due to a bitcoin exploit: https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident

### Steps to reproduce

Follow the guide [setting-up-your-local-dev-environment](htt

[2019-04-20 13:18] dakebl commented on #13515
Closing as error was due to local environment

[2019-04-20 13:18] #13515 closed

[2019-04-20 14:30] c0b41 commented on #13514
@huynhminhtufu follow up [Customizing html.js](https://www.gatsbyjs.org/docs/custom-html/)

[2019-04-20 14:41] sqrtroot opened #13516 "Dangling pointer source-filesystem locks source and transform nodes"
## Description

If a filesystem source contains a dangling symbolic link it will hang the source and transform nodes step.

### Steps to reproduce
[code]
### Expected result

Should either give a warning or just continue

### Actual result

Process hangs

### Environment

[code]

[2019-04-20 14:46] LekoArts commented on #13514
You can use CSS with `display: none` on the `#gatsby-noscript`. That’s why the id is there :)

Closing this issue as answered 👍🏻

[2019-04-20 14:46] #13514 closed

[2019-04-20 15:26] violabg opened #13517 "How to localize content using gatsby-source-drupal"
I need to build a site that supports both English and Italian content, using gatsby-source-drupal, I’m having problems since filtering by languageCode doesn’t work.

[2019-04-20 16:17] Frost0x opened #13518 "Error adding Redux Store to Gatsby"
Using this [article ](https://medium.freecodecamp.org/how-to-get-started-with-gatsby-2-and-redux-ae1c543571ca), I created the Redux Store, from myself I connected redux-dev-tools, but for some reason, this design does not work.

I read other questions and found that this is a common problem, but I did not find a working solution.

Could you tell me, please, whether it is possible to solve this pro

[2019-04-20 16:46] universse commented on #13518
seems like for RootReducers.js, you need to
[code]
instead of exporting the function

[2019-04-20 17:27] #12363 closed

[2019-04-20 17:27] #12484 closed

[2019-04-20 17:27] #12623 closed

[2019-04-20 17:49] Frost0x commented on #13518
I changed the Reducer, unfortunately, it did not help.
I created a repository with this project: [WQ-Gatsby](https://github.com/Frost0x/WQ-Gatsby)

[2019-04-20 18:32] iFlameing commented on #12924
@wardpeet can you assign me this issue?

[2019-04-20 18:34] lannonbr commented on #12924
We'd love for your contribution @iFlameing 🎉

[2019-04-20 18:57] NickyMeuleman commented on #8789
Tried to implement Dark mode for a blog and also wondering this.

[2019-04-20 21:35] kapral18 opened #13524 "error GraphQL Error Field "slug" is not defined by type MarkdownRemarkFieldsFilterInput."
## Description

I decided to port my blog to TypeScript + Graphql-Codegen for better type safety, it was going pretty well, but then some weird error with slug not being found in the blog index page
happened. I googled the whole world including all your closed issues couldn't find the solution, or whichever solution I used did not work.

Here is the branch

### Steps to reproduce

1. clone https:/

[2019-04-20 21:54] dsvensson opened #13525 "warnings from old version of workbox"
Using the offline plugin:

`warning gatsby-plugin-offline > workbox-build > joi@11.4.0: This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bug fixes, and security patches. If you are unable to upgrade at this time, paid support is available for older versions (hapi.im/commercial).`

offline p

[2019-04-20 22:25] jonniebigodes commented on #13524
@kapral18 i've picked up on your issue, i'm cloning your repository. Let me take a look, will post with a detailed solution shortly, at the very latest monday, because easter and some traditions have to be met. Do you mind the wait?

[2019-04-20 22:29] kapral18 commented on #13524
@jonniebigodes hey man of course, thanks for fast response and thanks for your time.

[2019-04-21 07:10] stefanprobst commented on #13524
@kapral18 Does it work if you keep the imports in `gatsby-node.js` in commonjs format?

[2019-04-21 09:43] kapral18 commented on #13524
@stefanprobst yes it works with `require`s. Can you give more details why that happens? Thank you.

[2019-04-21 10:10] universse commented on #13518
Oh, also for ReduxWrapper
[code]
This is a function.
You should do something like this instead.
[code]

[2019-04-21 10:34] Frost0x commented on #13518
Your decision helped me.
Thank You very much for your help!

[2019-04-21 10:34] #13518 closed

[2019-04-21 12:03] MathiasKandelborg opened #13532 "gatsby-plugin-offline not registering SW"
## Description

I'm trying to use gatsby-plugin-offline. I'm making a manifest with the manifest plugin, and afterwards, are registering gatsby-plugin-offline.

I've copied settings and things from both the `advanced` and `netlify-cms` gatsby starters.

### Steps to reproduce

1. Go [to the reproduction repo](https://github.com/MathiasKandelborg/repro-gatsby-offline-plugin)
2. yarn / npm install
3

[2019-04-21 12:49] MathiasKandelborg commented on #13532
Disabling `gatsby-plugin-feed` fixed it. I haven't configured that plugin yet, thinking that no crashes mean it works. I can see the creating of an SW works because the console states:
[code]

Apparently, the build silently fails or discontinues when meeting an error. This causes the DX to worsen by a lot as there are no obvious problems in the build process - it finishes and enables you to serve

[2019-04-21 14:39] inadeqtfuturs commented on #12237
Having a similar issue on `gatsby-source-wordpress@3.0.54` where I can hit the routes on the wordpress console, but getting the following in terminal on develop:

[code]

In addition to getting the same kind of path errors, I'm also getting the following before the wordpress-plugin fires:

[code]

[2019-04-21 15:25] isaacjamesufc commented on #11406
thank you very much!!!

[2019-04-21 16:47] dev-rsilver commented on #13512
I would suggest phrasing as a question directed to the user to avoid use of "I" or "we". "Do you want to run `gatsby develop` [y/n]?"

[2019-04-21 17:04] Kikobeats opened #13534 "Missing resources when access to `createPage` page"
## Description

When I create pages using `createPages` and then access them directly, the necessary chunks are not resolved properly on production scenario.

## Steps to Reproduce

I followed the tutorial for [programatically create page from data](https://www.gatsbyjs.org/tutorial/part-seven/), where basically:

- You declare [createPages](https://github.com/microlinkhq/www/blob/next/gatsby-node

[2019-04-21 17:11] yoavweiss commented on #12800
So the problems with subresource prefetching are:
* We're not sure which Service Worker scope will handle those subresources.
* In a double-keyed cache model, those prefetches can leak resources between different origins.

Are you actually navigating between those pages? Or are those "soft navigations"?
If it's the latter, you can (dynamically) preload those images, as they are destined for the cu

[2019-04-21 17:27] #12653 closed

[2019-04-21 18:04] jonniebigodes commented on #13524
@kapral18 i've been tinkering with your code and it looks like i have a solution. Here are the steps i took to solve your issue.

- Cloned the repo you suplied and installed the dependencies for typescript branch.
- Issued `gatsby develop` first time and did see the error and a bunch of warnings like you can see below and the error in question.
![1_build_warnings](https://user-images.githubusercon

[2019-04-21 18:16] kapral18 commented on #13524
Thanks @jonniebigodes and @stefanprobst. The issue is solved.

[2019-04-21 18:17] jonniebigodes commented on #13524
@kapral18 glad to hear. Going to close this if you don't mind.

[2019-04-21 18:17] #13524 closed

[2019-04-21 19:25] cjhaviland commented on #12649
Hey @wardpeet  and @re1 ,

I am just setting up GatsbyJS to make a new website for my podcast that uses wordpress and I ran into the same issue. Our Wordpress installation is using the non-pretty permalinks, and we can't change that without breaking our RSS feed.

Anyway... since I knew what was going on here, and I'd like to continue learning and trying GatsbyJS I took a stab at fixing this. I ch

[2019-04-21 20:08] jtlindsey commented on #11406
`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`
worked

[2019-04-21 20:42] KyleAMathews commented on #13534
Do you create the page with or without a trailing slash?

[2019-04-21 22:46] Kikobeats commented on #13534
[with the slug](https://github.com/microlinkhq/www/blob/next/gatsby-node.js#L89), but [gatsby-plugin-remove-trailing-slashes](https://github.com/microlinkhq/www/blob/next/gatsby-config.js#L85) is loaded as welll.

I tried to remove the plugin but the result is the same.

[2019-04-21 23:21] KyleAMathews commented on #13534
Can you try reproducing this on a separate site? It's hard to know what's going on with a complex site we don't understand. gatsby.dev/reproduction

[2019-04-22 06:04] moonmeister opened #13537 "CLI Design Discussion"
## Summary

There has been lots of discussion lately around improvements to be made to the CLI. More specifically in adding and modifying commands. These are great additions that will benefit developers of Gatsby, but I'm concerned without some high level guidance and CLI design thought that the CLI might quickly become confusing and not maintainable. Ultimately this might require a major version

[2019-04-22 07:24] hiddentao commented on #10482
For dynamically querying images, I'm currently simply fetching all nodes and then filtering within the results:

[code]

[2019-04-22 07:59] joeldbirch opened #13541 "[gatsby-source-wordpress] Sidebar widget content endpoints not accessible from graphql"
The issue is well described in this old issue https://github.com/gatsbyjs/gatsby/issues/5239

I can get the index for the sidebars, which is the `/wp-json/wp-rest-api-sidebars/v1/sidebars` endpoint ([the results of which can be seen in this screenshot](https://dl.dropboxusercontent.com/s/1gb87kkzxpj7ig8/sidebars.png?dl=0
)), but that only lists the sidebars registered in the WordPress theme. The a

[2019-04-22 09:40] Kikobeats commented on #13534
I understand that my project could be a bit big as a first impression, but it is not, in fact, it has all the things necessaries for reproducing the problem.

I'm trying to identify what is causing the problem, isolating the plugin or whatever is causing it but it's hard and tedious since you need to regenerate the production build every time, disabling/enabling things.

I think it could be relate

[2019-04-22 10:02] yaroslav-perec commented on #13249
@jonniebigodes

Works! Great thanks for the work done! I think this issue can be closed.

[2019-04-22 10:03] #13249 closed

[2019-04-22 11:19] skylarweaver commented on #5021
Is there any way we can apply some sort of markdownParser function within the frontmatter section of our graphQL query (similar to the way we can manipulate images) that will parse the incoming markdown string in the frontmatter and convert it to HTML? Not a graphQL expert...just trying to think.

This is an important issue IMO b/c if one is using Gatsby with Netifly CMS, Netifly provides the opti

[2019-04-22 11:30] polishedwp opened #13543 "Depreciated packages with yarn upgrade"
## Description

When updating the packages in a starter ( `yarn upgrade --latest` ), there are several depreciated package error messages presented in the terminal.

### Steps to reproduce

1. `gatsby new awesome-site`(Just an example, but affects most other starters I have tested)
2. `cd ./awesome-site`
3. `yarn upgrade —latest`- to upgrade to the latest packages from `package.json`.

### Expecte

[2019-04-22 12:02] thibautRe commented on #12938
Fixed in #12939

[2019-04-22 12:02] #12938 closed

[2019-04-22 12:12] polishedwp opened #13544 "updating dependencies project"
## Summary
Last week there were several issues released "[examples]: update ... dependencies in example project." All of these `good-first-issues` have been completed.

When you browse the `examples/using-*` directories, there are a lot of example which are out of date. For instance, most of them still use react@16.4.0, which does not include useStaticQuery.

Are these additional `examples` areas