[2019-07-12 15:46] pieh commented on #15662
We are using https://www.npmjs.com/package/rss under the hoof for `gatsby-plugin-feed`. It seems like it supports adding custom elements, but will likely require pretty custom plugin options to make use of them.

Can you show example of rss feeds that Pinterest supports?

[2019-07-12 15:52] #7484 closed

[2019-07-12 16:02] wardpeet commented on #15242
@dandenney do you still have this issue on the latest gatsby? We shipped a few fixes.

[2019-07-12 16:11] gregwhitworth commented on #14414
@KyleAMathews and @m-allanson thanks to the HighCharts team I was able to get this working. I had checked their modules and they were doing the `undefined` check for their use of window and document. Even with that though, I had to add my own check as a wrapper around the method like so:

[code]
This seems a bit odd as I'm not actively using `window` in my code and the modules are all doing the co

[2019-07-12 16:14] thecyberd3m0n commented on #5718
how can I find the source code of this:

https://gatsby-starter-with-gatsby-plugin-modal-routing.netlify.com/

?
unfortunately, I can't find usages of ModalContextRouting on Gatsbygram

[2019-07-12 16:29] coltonbh commented on #1878
@paulmelnikow you are correct, the --prefix-paths would not solve my problem at all.

I need to generate one gatsby site per data assets folder (I have thousands of different asset folders) and then upload the built site (typically '/public') to an S3 bucket where we host the sites.

Of course I could move to AWS Batch or other more heavy weight job engines for doing this, but Lambda would be such

[2019-07-12 16:32] wardpeet commented on #14848
Fixed in `babel-preset-gatsby@0.2.3`

[2019-07-12 17:11] jonniebigodes commented on #15603
@judepark going to expand my previous comment so that it adjusts to what you mentioned in your previous comment. I've checked the codepen you supplied and adjusted accordingly.

- Starting from a approach like the first one i mentioned earlier. I modified my `gatsby-node.js` with the following code.

[code]
Comparing with my first approach i mentioned above.
The changes here are the following. You

[2019-07-12 17:13] jschlechte commented on #14953
@juddey -- Thanks for the tip! Rolling back to 2.8.8 also resolved this issue for me. I was seeing it on Amazon S3 for every single page prior to the rollback!

I hope this gets a fix soon!

[2019-07-12 17:27] dandenney commented on #15242
@wardpeet I'm not sure about `2.13.18`, last night I was troubleshooting it and had it up through `2.13.15`, but the most important part is that it was my code. I had an incorrect `A` and `X` in 2 filenames.

[2019-07-12 17:27] #14081 closed

[2019-07-12 17:27] #14398 closed

[2019-07-12 17:28] grantglidewell commented on #15607
I’ll need to see code to understand how you’re doing this as it’s not something Gatsby is built to handle from what you describe

[2019-07-12 17:36] #15617 closed

[2019-07-12 17:44] Simon-Tang commented on #15504
Fixed in #15610

[2019-07-12 17:44] #15504 closed

[2019-07-12 18:18] sheelah commented on #13442
@harrygreen Ah - gotcha. Well thanks for the snippet! Will keep an eye out for other ideas.

[2019-07-12 18:24] stephepush commented on #15653
I don't think I'll be able to reproduce this problem without finding out what the actual problem is.

[2019-07-12 18:42] molebox commented on #15429
Is this fixed by the above PR?

[2019-07-12 19:40] kenjwho commented on #15429
That PR seemed to have fixed it in my instance 👍

[2019-07-12 19:55] #14814 closed

[2019-07-12 20:04] molebox commented on #15429
Hmm thats strange cos im still getting a blank page and:

Page not found /404.html
Error loading a result for the page query in "/404.html". Query was not run and no cached result was found.

I just tried it on 2.13.19.

Am i missing something?

[2019-07-12 20:33] pieh commented on #15429
@molebox Could try running `gatsby clean` and restarting `gatsby develop`?

[2019-07-12 20:38] polishedwp commented on #15429
@pieh Actually that doesn't work. I am experiencing the same error.

[2019-07-12 20:40] molebox commented on #15429
Ive tried that multiple times. I even removed typescript, eslint, the whole shabang and just had a index.js with a h1 but still a blank page with that error

[2019-07-12 20:43] coreyward commented on #6532
If you know that this is exclusively going to be used by iOS you could just leave off the `_withWebp` part of the fragment, but if you leave it there there's no real harm (a few extra bytes of data in the srcset).

If by this you mean that the `maxWidth` should be the largest that this image is displayed (i.e., its maximum contained size), then yes. If you're doing something where it's only displa

[2019-07-12 21:05] daveyheuser opened #15669 "gatsby-image rendering larger than maxWidth (fluid)"
## Description
Gatsby-image is rendering images larger than their maxWidth and Height set in graphql. This is the query I've used:

[code]

[code]

### Expected result
I expect the rendered image to not be larger than 1062px in width, nor greater than 723px in height. However, it's rendered at 1168px. The container its in is 1200px in width, so 1168px feels random.

This is what's rendered, which

[2019-07-12 21:13] pieh commented on #15429
@molebox Can you share your repo so we could take a look?

[2019-07-12 22:51] wardpeet commented on #15481
Do you still have this issue with latest gatsby and latest netlify-cms-plugin?

[2019-07-12 23:44] AnalogMemory commented on #13555
@AurelioDeRosa did you ever figure how to blacklist specific directories?
In my testing, the service worker only cares about paths that Gatsby creates. I have a setup where other directories are in the same root as Gatsby and visiting them doesn't trigger the service worker to cache them.

[2019-07-13 00:05] pieh commented on #15669
Please check https://www.gatsbyjs.org/packages/gatsby-image/#avoiding-stretched-images-using-the-fluid-type

We don't limit width by default - there is the need of user choice in how to layout images that are narrower than container (should they be center, left-aligned, right-aligned).

It also might be desired not to limit width in cases like hero images or other full-viewport width images and it

[2019-07-13 00:12] pieh commented on #15607
@danboyle8637 Gatsby creates static page for client-only-paths - notice that creating page for client-only-paths looks like this:
[code]

Gatsby will create `app/index.html` (and run page and static queries used there). Just note that those queries won't be dynamic (in sense that you can't use dynamic url as some kind of input to queries)

[2019-07-13 01:02] moroshko commented on #15650
Thanks @pieh for taking a look!
It was indeed a bug in now CLI, and it's fixed now in version 15.8.0.

[2019-07-13 01:02] #15650 closed

[2019-07-13 01:52] ochinski commented on #15242
I also keep running into this error- I'm new to gatsby. I started development using the commerce starter with graphql and stripe. Development works fine but the minute I attempt to build I get this:

`Failed to validate error { ValidationError: child "error" fails because ["error" must be an object]
    at Object.exports.process
(/Users/robert/Software/bDev/evu/node_modules/@hapi/joi/lib/errors.js

[2019-07-13 02:54] matt-subroot opened #15671 "gatsby-source-wordpress allWordpressWpApiMenusMenusItems"
## Description

allWordpressWpApiMenusMenusItems > edges > node > items > object_slug pulls in something other than the item slug when the type_label === "Category"

It should be the slug of the category, but instead pulls in either a blank string or something like "7-revision-v1"

### Steps to reproduce

Create a category in WP with a slug and add it to a menu
Install WP REST API Menus
Run gatsby

[2019-07-13 03:23] moonmeister commented on #15584
@maxpou Not sure if this is the issue but your missing a closing bracket `}` at the end of your arrow function.

[2019-07-13 03:40] maxpou commented on #15584
Ooops, I forgot to take this bracket when I copy/pasted my code.
I updated my code on the comment bellow.

[2019-07-13 04:04] 97thjingba opened #15672 "How should gatsby-remark-prismjs be used correctly?"
**How to use gatsby-remark-prismjs correctly?**

gatsby-config.js
[code]

**This is my usage in markdown**

[code]
[https://elated-lewin-51cf0d.netlify.com/](https://elated-lewin-51cf0d.netlify.com/)

I use it in this web.

by the way .I use bulma and don't know if it has anything to do with this.

[2019-07-13 05:55] danielj41 opened #15676 "[gatsby-remark-images]: backgroundColor option not working for transparent pngs"
## Description

I have the following `gatsby-config.js`, setting `gatsby-remark-images`'s backgroundColor option to `#222`.

[code]

I expect that to make the transparent portion of my pngs show up as `#222`, but they remain the default `white`.

### Steps to reproduce

- Check out demo project https://github.com/danielj41/blog-gatsby/blob/demo-for-issue/gatsby-config.js#L36-L37 .
- Check out bran

[2019-07-13 07:04] spences10 commented on #15481
I'm still having similar issues @wardpeet yes

![image](https://user-images.githubusercontent.com/234708/61168333-a8cee000-a544-11e9-9bfb-bcc4eab1db9e.png)

For the MDX monorepo I need to switch to `gatsby-plugin-mdx` from `gatsby-mdx` so will see if that fixes the MDX ones, but as you can see there's still failing gatsby monorepo's too

[2019-07-13 07:07] moonmeister commented on #15584
@maxpou Okay, So i just tried using your theme on a new site. Then modified the theme to use the function to dynamically set the icon and it sees to work. I had to do a lot of things manually to "fix" the build cause there were things the theme expected but were never included in your install documentation. Once I had it building I modified the gatsby-config to use the arrow function and pass the

[2019-07-13 08:13] yatharthk commented on #15167
@KyleAMathews I'd love to help over here. I can start working on this if you may confirm and assign it to me?

[2019-07-13 08:20] waywardm opened #15679 "Enable the grapgql explorer to run on local host even when the gatsby develop build is failing to aid debugging etc."
## Summary

When the build fails in development mode using gatsby develop due to a graphql error or other error it would be helpful if the graphql server still ran that way it would be easy to distinguish whether errors were coming from the code or the qraphl query.

Sometimes you have to make adjustments to you graphql query in order for the code to work however there is no way of doing this when

[2019-07-13 09:03] jvue96 opened #15680 "The plugin "gatsby-source-filesystem@2.1.5" is exporting a variable named "createSchemaCustomization" which isn't an API."
### Description

(apologies if I'm not being specific enough, first issue I've ever submitted on Github.)

I was following Andrew Meads Gatsby tutorial https://www.youtube.com/watch?v=8t0vNu2fCCM, and successfully deployed an application onto Netlify. However, I'm unable to deploy anything now.

I did experience some vulnerability messages from Github, but I have updated the things in the yarn.loc

[2019-07-13 09:21] #15639 closed

[2019-07-13 10:09] stefanprobst commented on #15680
Thanks for reporting this!

The `createSchemaCustomization` API is only available in Gatsby 2.12 and above. So we should bump the peer dependency [here](https://github.com/gatsbyjs/gatsby/blob/26550a3c87d442584297a44f6c54e3f22931d14f/packages/gatsby-source-filesystem/package.json#L38) to 2.12 (or use the `sourceNodes` API, and bump to 2.2). (Personally I'd prefer just moving the type definitions f

[2019-07-13 10:22] rheinardkorf commented on #15429
thanks @pieh .... works perfectly on 2.13.9  🥇

[2019-07-13 10:50] stefanprobst commented on #14797
I'm going to close this as answered, but don't hesitate to ask if anything needs further clarification!

[2019-07-13 10:50] #14797 closed

[2019-07-13 12:10] pieh commented on #15679
Hi, development server should still start, but there might a bug where we don't display link to it in terminal - please try visiting http://localhost:8000/___graphql even if it isn't displayed in terminal.

I'll take a look to fix this

[2019-07-13 12:21] Rosin355 commented on #2137
I had the problem above...now by following this command it works also for me...

[2019-07-13 12:59] moonmeister commented on #4377
@jlengstorf Is it me or has this been done? Can we close this?

https://www.gatsbyjs.org/docs/browser-apis/#onInitialClientRender

[2019-07-13 13:04] moonmeister commented on #4631
Closed by  #14738

[2019-07-13 13:04] #4631 closed

[2019-07-13 13:16] waywardm commented on #15679
I even mean for something such as a grave error like this that kills the terminal, the graphql server should still boot up, as in most cases of an error the graphql query or syntax is to blame, even though the site environment might not boot up the should be no reason why the graphql explorer wouldn't.

I hope this makes sense.

![Capture](https://user-images.githubusercontent.com/12498554/6117213

[2019-07-13 14:18] rlynn523 commented on #15125
@marcysutton can you also assign @Bculp to this issue? We've been collaborating on it.

[2019-07-13 15:00] pieh commented on #15679
Hmm yeah, this shouldn't terminate develop completely. I'll take a look at that as well

[2019-07-13 15:04] pieh commented on #15679
Can you update your gatsby version? It seems like this should be fixed in one of recent releases:
![Screenshot 2019-07-13 at 17 03 55](https://user-images.githubusercontent.com/419821/61173189-3daafb00-a590-11e9-86b0-ba4a97bd882a.png)

[2019-07-13 15:14] waywardm commented on #15679
i have just updated the cli, and it still kills the terminal generally. The error i made to generate the terminal kill was pretty severe to demonstrate, i just wondered if there should almost be a separate command that allowed you just to launch the graphql explorer such as gatsby dataexplorer so if an error did occur you could always launch that separately to check queries etc

im speaking just a

[2019-07-13 15:31] pieh commented on #15679
You do need to update `gatsby` package inside your project (not `gatsby-cli`):
`npm install gatsby` (if you are using `npm`) or `yarn upgrade gatsby` (if you are using `yarn`)

Having separate command for running "just" graphql server is something we are considering, but not really for cases like this (debugging should be possible with regular develop command).

[2019-07-13 15:54] waywardm commented on #15679
i'm currently using the latest gatsby package

[2019-07-13 16:02] pieh commented on #15679
Can you paste output of `gatsby info`?

[2019-07-13 16:06] danboyle8637 opened #15683 "Pulling in images from Google Cloud Storage and "running" them through image sharp"
I have some large images in my site and I wanted to store them in Google Cloud Storage.

I wanted to learn more about the Gatsby node api and get my images from my bucket and have image sharp do it's thing so I can get the image processing on my site.

Are there any steps or tutorials for this?

I have looked at some plugins that do this for S3 and I'm still going through their code to figure some

[2019-07-13 16:34] jonniebigodes commented on #15672
@97thjingba so far from skimming your repository i don't see anything wrong with aside from the fact that and this is a personal opinion of mine. For instance references to code should be go with the way you're using in your issue description.

If you want just update the markdown files in your code accordingly as there's some code excerpts that are using only the backticks, not specifying the lan

[2019-07-13 16:45] 97thjingba commented on #15672
@jonniebigodes
It seems to have some effect, but the color of the code that needs to be highlighted has not changed. I really can't find why this is.

[2019-07-13 17:27] #13930 closed

[2019-07-13 17:27] #14239 closed

[2019-07-13 17:27] #14644 closed

[2019-07-13 17:27] #14664 closed

[2019-07-13 17:41] pieh commented on #15653
Do you try to add `react-anchor-link-smooth-scroll` to plugins in gatsby-config? error would suggest it

[2019-07-13 17:53] stefanprobst commented on #15286
Unfortunately I've been unable to reproduce this with the provided .md file. Would you be able to provide a minimal reproduction for the issue? Thanks!

[2019-07-13 18:07] stefanprobst commented on #15680
Let's keep this open until we have a proper fix.

[2019-07-13 18:23] Boussama commented on #15501
@marcysutton I think that adding the part where we actually use the graphql request will add more clarity to the subject. Here's my blog post you can reference it if you find it useful. Better yet, I can help with the documentation.

[2019-07-13 19:07] #15543 closed

[2019-07-13 19:38] jonniebigodes commented on #15671
@matt-subroot i've been testing this a bit and i can confirm that the issue is happening. Here are the steps i took and the results i got.

- Created a new category in my local wordpress installation, called `awesome category` with the following slug `my-awesome-category`.

- Created a new post associated with that category with random text.

- Created a new menu that "consumes" all the categories

[2019-07-13 19:43] jonniebigodes commented on #15672
@97thjingba could be that you're not adding a theme? That could be reason for it. Check [this](https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/#include-css).

[2019-07-13 20:23] fool commented on #15611
Hi folks, I work at Netlify and can shed some light on the matter:

That "success" is almost certainly not about cache clearing or anything except luck.  The quoted segfault error is most likely your build running out of memory, which node handles fairly poorly at times; or maybe that's sharp, but regardless, I think it is a memory overuse issue.  Why then would it behave differently at times?

Ne

[2019-07-13 20:40] bmaclean commented on #12040
I'm still getting a 404 with my Netlify form in Gatsby.

Here's my code:

[code]

I just put some dummy data in the request, and otherwise have followed the instructions provided by Netlify and in this thread.

[2019-07-13 20:45] KyleAMathews opened #15686 "Official themes should include "Powered by Gatsby" in footer"
Or "Gatsby Inside" logo if we want to go with that.

[2019-07-13 20:45] #15287 closed

[2019-07-13 20:46] KyleAMathews opened #15687 "Official themes should only pass in an ID to page templates"
As otherwise hot reloading doesn't happen and it's harder to shadow the logic as you have to copy out code from the theme's gatsby-node.js.

[2019-07-13 20:48] matt-subroot commented on #15671
Too bad as that plugin's author seems to have abandoned the project and commentors are reporting that PR are going un-merged or responded to.

My work around was to add some JS in the component file to pull the necessary string off the url field, finding the last part of the url which corresponds to the slug.

If there is no response from the plugin contributor(s) (WP REST API Menus), can gatsby-s

[2019-07-13 20:51] matt-subroot commented on #15671
At least the docs should be updated to suggest the work around

[2019-07-13 21:00] #14826 closed

[2019-07-13 21:30] Undistraction opened #15690 "Support SVGs in Gatsby Image"
## Summary

Support SVGs in `gatsby-image` so that lazy loading can be taken advantage of, and so the API is consistent.

### Motivation

There is currently no mechanism to lazy load SVGs using Gatsby. Certainly some of the features provided by `gatsby-image` make no sense in the case of SVGs: There is no need to generate multiple versions, because SVGs are resolution independent, however it might

[2019-07-14 00:20] grantglidewell commented on #15611
This should probably be documented in the “build failure gotchas” in netlifys docs. I’ve been scouring for an explanation that fit these symptoms, so I’m happy to have that.

I know we’ve limited the cpu core count, I would assume there is also a way to add memory constraints to sharp (or its implementation in Gatsby-image)

[2019-07-14 00:57] stephepush commented on #14911
Was having a similar problem when trying to run a project on a new POP!_OS install. Would try and run `gatsby develop` and the terminal would spit this out:

[code]

Then I tried `npm start` and got this output:
[code]
And because I didn't want to switch to yarn I tried `npm upgrade` and got this output:

[code]
And ran 'npm start' and VIOLAY, the project started on local host.

[2019-07-14 01:00] stephepush commented on #15653
Yep, I removed it. But then ran into another issue, but there's already a thread on it [here (issue #14911)](https://github.com/gatsbyjs/gatsby/issues/14911)

After that it ran.

[2019-07-14 01:00] #15653 closed

[2019-07-14 01:08] fool commented on #15611
Good suggestion, thanks!  I'll work on it with our docs team.

[2019-07-14 01:16] 97thjingba commented on #15672
@jonniebigodes
Thank you very much, I have solved my problem.

[2019-07-14 01:16] #15672 closed

[2019-07-14 01:41] KyleAMathews opened #15692 "[gatsby-theme-blog] use deepmerge instead of lodash.merge"
It’s a lot smaller — 3.7kb vs. 0.664 kb (minified and gzipped)

https://github.com/gatsbyjs/gatsby/blob/4a10c54b2ba7866da541257eadbed6c7e206f2f5/themes/gatsby-starter-blog-theme/src/gatsby-theme-blog/gatsby-plugin-theme-ui/colors.js#L1

[2019-07-14 02:44] dantehemerson commented on #15692
I would like to help with this, I am doing it

[2019-07-14 03:59] JohnAlbin opened #15693 "[using-drupal] demo doesn't work with Drupal 8.7"
## Description

The Using Drupal demo is hard-coded to use the JSON:API endpoints at `https://live-contentacms.pantheonsite.io/api`. This site is using Drupal 8.6.x or earlier and not the latest Drupal 8.7.0 series which has the new, stable JSON:API module.

When using the using-drupal files and editing the Gatsby config to use a Drupal 8.7.x site, the files report multiple errors because the endp

[2019-07-14 04:06] JohnAlbin commented on #14950
Also note that the `examples/using-drupal` files don't work with the latest Drupal 8.7.0 (or later) version. See https://github.com/gatsbyjs/gatsby/issues/15693

[2019-07-14 04:29] moonmeister commented on #11129
I've emailed NPM support with the 4 packages I've seen listed here and in duplicate issues.

[2019-07-14 05:02] moonmeister commented on #6300
@florinme FYI: Adding your recommend config on my site fixes the white page issue but I don't get a 404, the content flashes with the translation before reverting back to the original language. Maybe I'm on a newer version of Gatsby (I'm at the latest)?

https://5d2ab3e25c12e1d91c1707db--moonmeister-personal.netlify.com/

[2019-07-14 07:10] tormi commented on #6691
I am also interested in this. @antonmedv , any hints?

[2019-07-14 08:10] spences10 commented on #14607
So, an update on where I am with this, this by the way has spawned a whole "lets make a blog from scratch" post from me which is turning out to be a wonderful learning experience. However! Onto this:

Ok, so after learning that `gatsby-plugin-mdx` was now a thing and changing my blog and some other pages that used `gatsby-mdx` I turned to trying again with the starter blog, this time locally, whic

[2019-07-14 08:55] anton6 commented on #8800
@supermoos have you found a way to do this?

[2019-07-14 09:38] msimmer commented on #15687
Hey, I'd like to take this on :) Would be great if you could point me in the direction of where to get started!

[2019-07-14 09:40] polishedwp commented on #15686
I will be glad to work on this one.

[2019-07-14 09:45] moonmeister commented on #1199
Reviewing current docs and plugins seems like everything in this has been covered. Closing this, any new source plugin requests can have an issue opened. (FYI: this is the oldest open issue, so yay team for getting all these done.)

[2019-07-14 09:45] #1199 closed

[2019-07-14 09:50] LekoArts commented on #15429
Fixed by https://github.com/gatsbyjs/gatsby/pull/15658

[2019-07-14 09:50] #15429 closed

[2019-07-14 10:28] openscript commented on #13667
@universse: Thank you! This helped me much for understanding my issue.

Is this somewhere documented? If not where would you add it?

[2019-07-14 12:17] sidharthachatterjee commented on #15687
@msimmer Thank you for volunteering to take this up!

Currently the official themes (https://github.com/gatsbyjs/gatsby/tree/master/themes/gatsby-theme-blog and https://github.com/gatsbyjs/gatsby/tree/master/themes/gatsby-theme-notes) pass in data as context when creating pages

https://github.com/gatsbyjs/gatsby/blob/9d3dad0e9ad4cc45fd30177776c615df888ce9b2/themes/gatsby-theme-notes/gatsby-node.j

[2019-07-14 12:17] sidharthachatterjee commented on #15686
CC @fk in case we need a logo for this

[2019-07-14 12:37] sidharthachatterjee commented on #15683
Thank you for opening this @danboyle8637

Let's walk through what you would need to do to support this (following along https://github.com/jessestuart/gatsby-source-s3-image as an example which does the same but for AWS S3)

1. You would need to actually need to request the list of images from the bucket using some Google Cloud Storage API

In gatsby-source-s3-image, this happens in `source-nodes.

[2019-07-14 12:37] #15683 closed

[2019-07-14 12:41] BernardA commented on #15216
I updated all my npm packages and it works now.
`"gatsby-source-graphql": "^2.1.2",`
`"gatsby": "^2.13.20",`
I let it open awaiting for @davewaterman

[2019-07-14 12:44] sidharthachatterjee commented on #15690
@Undistraction Supporting SVGs in `gatsby-image` seems redundant because much of the behaviour that it includes isn't relevant for SVGs like you rightly mentioned.

Native lazy loading (which gatsby-image uses if available under the hood) is almost out (follow in https://github.com/whatwg/html/pull/3752) which should be useful to load SVGs lazily

In the mean time, if only lazy loading is the goal

[2019-07-14 13:03] antonmedv commented on #6691
Just build custom bash script :)

[2019-07-14 13:16] danboyle8637 commented on #15683
@sidharthachatterjee Thank you so much for the steps. I will go through this today and get it hooked up and make an npm module too. I appreciate the help!

[2019-07-14 14:06] zce opened #15699 "Find linked file node issue"
## Description

<img width="1440" alt="屏幕快照 2019-07-14 21 53 19" src="https://user-images.githubusercontent.com/6166576/61184664-09643700-a683-11e9-88ef-28cff461749a.png">

### Steps to reproduce

create an image field by:

[code]

In fact, `frontmatter.cover` and `fields.cover` are just aliases.

### Environment

  System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.

[2019-07-14 14:10] zce commented on #15699
<img width="1106" alt="屏幕快照 2019-07-14 22 07 41" src="https://user-images.githubusercontent.com/6166576/61184779-25b4a380-a684-11e9-8be1-f2beaf3304ad.png">

[2019-07-14 14:55] zce commented on #15699
After any graphql query, this becomes normal again

<img width="1439" alt="屏幕快照 2019-07-14 22 52 11" src="https://user-images.githubusercontent.com/6166576/61185317-6ca59780-a68a-11e9-9491-9444b4d0857d.png">

[2019-07-14 15:26] CongLiu-CN commented on #15344
I met the same error.
Anyone could help me take a look?
https://github.com/CongLiu-CN/gatsby-blog

[2019-07-14 15:39] spences10 commented on #14607
Ok, so here's what I have found in relation to getting the Gatsby Starter Blog converted to using MDX .

What was causing the issues previously when I was trying to do this was adding `styled-components` to the [gatsby-starter-blog] has some sort of collision with typography:

[code]

I have the [sandbox here] if anyone is interested in taking a look.

So, without `styled-components` we have a wor

[2019-07-14 16:00] CongLiu-CN commented on #15625
@vaclavdobsicek I tried downgrade to gatsby v11(npm install gatsby@2.11.8), it is not working.

[2019-07-14 16:43] #15433 closed

[2019-07-14 17:03] polishedwp commented on #15686
What about the "starters?"  Right now their footer's state "[Built with Gatsby](https://github.com/gatsbyjs/gatsby/blob/ef4eea27d6570573ba2cde10d37899ca67b55b72/starters/blog/src/components/layout.js#L66}."
Do we want the themes to match them for consistency?

[2019-07-14 17:21] polishedwp commented on #15429
So, not entirely fixed. I have upgraded to Gatsby 2.3.21. When you go to a non-existent page the default 404 page WILL display.
However, when you first load `localhost:8000` the 404 error displays in the terminal window:
[code]

[2019-07-14 17:27] #14558 closed

[2019-07-14 17:27] #14614 closed

[2019-07-14 17:27] #14712 closed

[2019-07-14 17:41] rayriffy opened #15700 "[www - gatsby-transformer-screenshot] Puppeteer cannot capture Chinese or UTF-8 properly"
## Description

Puppeteer itself cannot recognize UTF-8 character (Chinese, Thai etc.) and fallback to square character instead

![Screenshot](https://cdn.discordapp.com/attachments/577046038716874762/600014726050742296/unknown.png)

![Screenshot](https://cdn.discordapp.com/attachments/577046038716874762/600015547895119895/unknown.png)

I think there's a way to resolve this by set system locale to

[2019-07-14 18:22] elijahio opened #15702 "[gatsby-image] TypeError: Cannot read property 'src' of undefined"
## Summary

I have been banging my head against this issue for hours now and can't seem to figure it out. I am trying to build an e-commerce shop (small test one) on Gatsby, using Stripe. It's not my first Gatsby site, but it's my first time using gatsby-image. I am trying to query the Stripe image to use it as a product image on the front-end. I can find the relative path, which works, via GraphQ

[2019-07-14 18:43] FilipeNMarques commented on #6834
Thank you man, works for me! :)

[2019-07-14 18:48] jarrodmedrano commented on #2426
Nothing has worked for me.
I tried including /*/*/menus in my includedRoutes

[2019-07-14 19:32] Divine1 commented on #15486
@cwgw your solution fixed the issue.

[2019-07-14 19:36] jonniebigodes commented on #2426
@jarrodmedrano see if [this](https://github.com/gatsbyjs/gatsby/issues/15612#issuecomment-510670862) helps

[2019-07-14 20:17] jarrodmedrano commented on #2426
@jonniebigodes Yeah I didn't see anything different in your installation the baseUrl. I don't get this /wp-json/wp-api-menus/v2/menus url 404's.

[2019-07-14 20:27] jarrodmedrano commented on #2426
Thanks. @jonniebigodes I eventually got it to work using your post. But I'm not really sure what the problem was.

[2019-07-14 22:38] paulgaumer commented on #9902
+1, same issue here with the `styled-components` plugin correctly installed. Has anyone found a solution?

[2019-07-15 00:04] rchrdnsh opened #15706 "HELP! Site is UNUSABLE in Safari! Fine everywhere else!"
I have no idea why this suddenly started happening, but the site I'm developing has suddenly become incredibly slow in only Safari, to the point of being unusable. The site is running so slow that each frame takes somewhere between 600 to 700 milliseconds, which is insane.

...but in Chrome, Firefox, Opera, Brave, etc... the site runs perfectly fine. Here is a link to the site:

www.alma.vacations

[2019-07-15 00:21] austincondiff opened #15707 "[plugin-netlify-cms] Crawl admin config to allow non-existent optional fields in GraphQL queries"
## Summary

Currently, if optional fields are defined in the Netlify CMS config (`config.yml`) but not yet used, querying for those fields breaks the build because of the nature of how Gatsby generates it's GraphQL queries. I propose that we crawl the config and generate hidden or ghost entries so this does not happen.

## Problem

Even the field they are in use currently, at some point someone mi

[2019-07-15 01:12] jakewies commented on #15493
Hey @johno not sure if you’ve had a chance to peak at my findings in the last week. No rush as this isn’t a pressing issue. Would love to help get this merged. I just need some guidance when developing these official themes. 😄

[2019-07-15 01:53] CongLiu-CN commented on #11688
I met the same error.
The problem is because I was using Hyper terminal in windows.
Solution is using the default terminal in windows.

[2019-07-15 02:00] zce commented on #15699
source: https://codesandbox.io/s/github/zce/zce.me/tree/broken-fields-image

[2019-07-15 03:28] rchrdnsh opened #15711 "gatsbyjs.org not loading in safari due to some odd errors..."
gatsbyjs.org does not load in macOS Safari and these are the errors in the console:

<img width="1440" alt="Screen Shot 2019-07-14 at 8 27 34 PM" src="https://user-images.githubusercontent.com/7884263/61194371-d6677680-a675-11e9-9bf2-72771daf71e1.png">

Just thought I'd let y'all know XD

Cheers XD

[2019-07-15 03:48] nguyenami commented on #15686
@polishedwp do you mind sharing one? I would like to do one for the gatsby-starter-hello-world.

[2019-07-15 05:01] universse commented on #13667
@openscript You are welcome.

I don't think it's documented anywhere. I learned about this reading source code of plugins e.g. [gatsby-plugin-layout](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout) and examples e.g. [using providers](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-multiple-providers) and also my own experience writing gatsby apps.

I fee

[2019-07-15 05:15] zce commented on #15699
I find this problem only when I query data by ID.

[2019-07-15 05:43] zce commented on #15699
sample source: https://github.com/zce/gatsby-example

youtube video for steps to reproduce: https://youtu.be/Pvvo3CP4xuA

[2019-07-15 05:47] emadabdulrahim commented on #15625
Hitting the same issue:

[code]

and this error:

[code]

[2019-07-15 06:57] humphreybc opened #15716 "Lazy load for gatsby-remark-images"
## Summary

Out of the box, Gatsby does a good job of lazy loading images below the fold through `gatsby-image`. However, `gatsby-remark-images` doesn't appear to do this, which results in “Defer offscreen images” complaints from Lighthouse when testing a Markdown-generated page.

It would be nice if `gatsby-remark-images` added lazy loading so that images below the fold are not loaded until the u

[2019-07-15 07:20] xuopled commented on #11406
Could you explain ?

[2019-07-15 07:26] stefanprobst commented on #15699
Could you provide a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) to investigate this? Thanks!
(your provided sample repo is missing `gatsby-transformer-sharp` and `gatsby-plugin-sharp`, and i could not reproduce the issue)

[2019-07-15 07:31] LekoArts commented on #15507
Should be fixed now with https://github.com/gatsbyjs/gatsby/pull/15370

[2019-07-15 07:31] #15507 closed

[2019-07-15 07:40] courtness commented on #15702
I just now experienced this problem and the error block was quite telling in my case; the gatsby-image code is assigning either the `fluid` or `fixed` attribute to the `data` object, then attempting to return `data` as the image `src`. If neither contain any info, `data.src` is undefined.

I had this:
```<Img src={imgSrc} />```

What I needed was:
```<Img fluid={imgSrc} />```

Unsure if this helps

[2019-07-15 07:49] zce commented on #15699
@stefanprobst

- https://github.com/zce/gatsby-example
- https://youtu.be/Pvvo3CP4xuA

[2019-07-15 08:01] Hoummani commented on #11406
Run sudo npm run serve inside you app folder or run this commands as below:
- su
- enter your password
- npm run serve

[2019-07-15 08:35] stefanprobst commented on #15699
@zce ok thanks, sorry didnt check the video, will have a look!

[2019-07-15 08:42] karlhorky opened #15718 "Default gatsby develop to --open"
First of all, thanks for Gatsby, if I haven't said this already! It's an amazing piece of tooling / ecosystem and a really nice experience for many use cases.

## Summary

Default the `--open` flag to `true` when using `gatsby develop`.

### Motivation

Helpful for those who are new to the command line, and paves the cowpaths for those who are more experienced (most workflows will include opening

[2019-07-15 09:23] stefanprobst commented on #15699
I can reproduce this:
in the provided repo, this query will fail in a clean project:
[code]
After restarting the dev server it works.

This seems to be an issue with node tracking, because on restart we repopulate the node tracking WeakMap, but we don't have an entry on first run.

[2019-07-15 09:32] zce commented on #15699
The most incomprehensible is why there is only this problem with data query by ID.

[code]

It's normal in other ways.

[2019-07-15 09:36] karlhorky opened #15719 "Recover from solved errors in nested files without restarting `develop`"
## Summary

When errors occur within files **within directories**, the errors are reported on the command line and in the browser (this is good!). However, when the error has been resolved by removing the offending files, the errors do not go away.

### Reproduction steps

1. Start a new site using `gatsby new`
2. Start the development server and navigate to a working page in the browser
3. Add a

[2019-07-15 09:38] msimmer commented on #15687
Hey @sidharthachatterjee, thanks for the detailed walkthrough!

Started working on this and ran into a couple of things:

It looks like the queries will still need to include the [slug](https://github.com/gatsbyjs/gatsby/blob/9d3dad0e9ad4cc45fd30177776c615df888ce9b2/themes/gatsby-theme-blog/gatsby-node.js#L114) field though, since it's used by [`createPage`](https://github.com/gatsbyjs/gatsby/blob

[2019-07-15 09:43] stefanprobst commented on #15699
@zce
Can you try #15720 (seems to fix the issue for me locally)

[2019-07-15 09:44] karlhorky commented on #15719
Maybe this is more of a bug than a feature request actually...

[2019-07-15 09:45] zce commented on #15699
@stefanprobst Thank you. I'll try.

[2019-07-15 09:51] zce commented on #15699
💯 In my opinion, this problem has been solved.

[2019-07-15 09:51] stefanprobst commented on #15699
Cool thanks for testing!

[2019-07-15 10:11] karlhorky opened #15722 "Old fixed errors from nested files reappear"
## Description

When errors occur within files **within directories**, the errors are reported on the command line and in the browser (this is good!). However, when the error has been resolved by removing the offending files, the errors do not go away.

### Steps to reproduce

1. Start a new site using `gatsby new`
2. Start the development server and navigate to a working page such as the root in

[2019-07-15 10:11] karlhorky commented on #15719
Seems really like a bug, resubmitted as such: https://github.com/gatsbyjs/gatsby/issues/15722

[2019-07-15 10:11] #15719 closed

[2019-07-15 10:23] m-allanson commented on #15019
We could improve the error from running `gatsby new` for a starter that doesn't exist. Steps to reproduce:

- Run `gatsby new my-blog gatsby-starter-blog-theme` (note the theme name should be a full url, or in the form `github-organistion/repo-name`)

- See this error:

[code]

Improvements:

- remove the stack trace
- check format of the theme name (not a valid url? or missing org / repo separato

[2019-07-15 10:23] sidharthachatterjee opened #15724 "Error loading a result for the page query in "/404.html". Query was not run and Page not found /404.html"
## Description

When using `gatsby develop` with a theme, the following error is printed in the terminal after a page is loaded in the browser:

[code]

### Steps to reproduce

- `gatsby new my-blog gatsbyjs/gatsby-starter-blog-theme`
- `cd my-blog`
- `gatsby develop`
- browse to `http://localhost:8000`
- check the terminal to see this message:

[code]

- This message will be printed to the termin

[2019-07-15 10:23] sidharthachatterjee commented on #15429
@polishedwp Opened a separate issue to track that in https://github.com/gatsbyjs/gatsby/issues/15724

[2019-07-15 10:36] fwojciec commented on #15702
You're only getting the "src" value of the fixed object in your query -- perhaps it's just a case of using a fragment that pulls all required values instead?

[code]

The `Img` component expects to receive an a `FixedObject` type in its `fixed` prop:
[code]
so at least `width`, `height`, `src` and `srcSet` are required.

Alternatively, I've had a similar error in the past when one of the posts I w

[2019-07-15 10:46] sidharthachatterjee opened #15726 "Queries are not hot reloaded for themes in workspaces"
Currently if a query in a theme file is changed (the theme being in the same workspace) the result of that query is not hot reloaded.

My best guess is that this occurs as a result of `query-watcher` not watching these queries since they compiled just fine for the first time.

[2019-07-15 11:07] wardpeet commented on #13667
We're happy to receive a PR to improve our docs! 📚

[2019-07-15 11:13] Mushu62 opened #15729 "Ghost and Disqus in a Gatsby website"
## Description

Hi !
I'm trying to play around with the CMS Ghost coupled with a Gatsby website. My goal was to implement a Disqus comment section at the end of each blog post but when trying to publish with Netlify, I get the following result below, any help?

### Actual result

12:28:31 PM: Build ready to start
12:28:33 PM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
12:28:33 P

[2019-07-15 11:26] universse commented on #13667
I'm happy to contribute. Just not very sure if that was intentional. Is there any use case where only one of them is needed?

[2019-07-15 11:36] m-allanson commented on #15711
Thanks @rchrdnsh - what versions of macOS and Safari are you using? Do you have any Safari extensions?

I'm using:

- MacOS 10.14.5 (18F203)
- Safari Version 12.1.1 (14607.2.6.1.1)

And the site loads ok here.

[2019-07-15 11:39] fk commented on #15596
PR that detaches `space` tokens from `typography.js` here: https://github.com/gatsbyjs/gatsby/pull/15728

[2019-07-15 11:47] m-allanson opened #15732 "Add test coverage threshold for Gatsby package"
## Summary

Add a code coverage report for the main Gatsby package. Fail CI on pull requests that drop coverage below the threshold. For now the threshold should be set to whatever the current coverage level is.

Note there's some existing coverage config in `jest.config.js` but I don't think it's used anywhere right now. (confirm this?)

 In particular ensure that coverage is generated for `packa

[2019-07-15 11:50] m-allanson commented on #15732
Related to #15272

[2019-07-15 12:10] FrugalTest commented on #15506
There were some runtime errors after fixing those the images are working fine. closing the issue

[2019-07-15 12:10] #15506 closed

[2019-07-15 12:11] maxpou commented on #15584
according to Gatsby Team, [it's possible to mix them](https://www.reddit.com/r/reactjs/comments/caqpww/ama_with_chris_biscardi_on_gatsby_themes/etfyaop/). That's why I don't plan to spread my code.

About the warning, it's for a page that's only available on "dev mode" (to generate stuff for social medias).

[2019-07-15 12:24] axhamre commented on #5480
@daydream05  @pieh

I assume you refer to the `basePath` parameter?

This does NOT seem to work.

[2019-07-15 12:28] pieh commented on #15429
@polishedwp Just to clarify - in browser things work, just to error is displayed in terminal?

[2019-07-15 12:46] polishedwp commented on #15429
@pieh Correct. I installed the `gatsby-starter-theme-notes` and the behavior is the same. The error message does not seem theme dependant.

[2019-07-15 12:51] m-allanson opened #15736 "Check app bundle size in the hello world starter"
## Summary

Add a check for the app bundle size in gatsby-starter-hello-world. Fail any PR that increases the size beyond 60Kb.

### Basic example

Use `size-limit` or `bundlesize` packages to add a check for the `app-*.js` file created by building `gatsby-starter-hello-world`

### Motivation

The size of this file has crept up a little since the launch of Gatsby v2. We should be working to make i

[2019-07-15 13:01] m-allanson commented on #15724
Note that running `gatsby build && gatsby serve` will show the same error as `error Error: ENOENT: no such file or directory, stat '/Users/mike/d/gatsby/starters/hello-world/public/404.html'`

[2019-07-15 13:13] m-allanson opened #15737 "Add large createPages CI check"
## Summary

Add a test that runs the createPages benchmark with a high number of pages (75000?). Run a few times on latest Gatsby, then on the PR changes. Fail if PR changes are ??% slower. 15% as a starting point?

### Motivation

Prevent regressions like this https://github.com/gatsbyjs/gatsby/pull/15503

[2019-07-15 14:02] polishedwp commented on #15686
So, I installed each of the starters and the only starter that displays the 404 error in the terminal is the hello-world starter.

The 404 message appears in each of the default theme starters including the new workspace theme starter.

[2019-07-15 14:11] pieh commented on #5480
@axhamre Please provide more details - and ideally separate issue/question.

[2019-07-15 14:17] axhamre commented on #5480
This seems to be how to solve it (see basePath variable), `exports.onCreateNode`:

[code]

[2019-07-15 14:22] alanshortis commented on #4360
I have run into this error today - when creating pages from a folder of `.mdx` files, I was defining a component in `createPage` that lives in my `src/pages` folder. Moving my post component to `src/components` avoids it.

Any reason this should be the case? It's not a big deal, but I'd prefer to have the component in my pages folder since it's creating pages.

All pages are created as expected, I

[2019-07-15 14:31] jlfalcon3589 opened #15740 "Gatsby error when updating graphql nodes using http://localhost:8000/__ refresh"
Useful Links:
  - Documentation: https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables

## Description

Hello guys, I've been looking for documentation in gatsby that I could provide update my nodes in graphql but I have not found a solution. Looking for documentation I have seen that using the environment variable ENABLE_GATSBY_REFRESH_ENDPOINT I can reload my graphq

[2019-07-15 14:31] songfarm-david commented on #15625
Rolling back to gatsby v2.10.0 resolved the issue for me. More info at this
thread
<https://spectrum.chat/gatsby-js/general/build-script-returned-non-zero-exit-code-1~619d3d86-1706-41c7-b16b-7be42e4be679>
.

On Sun, Jul 14, 2019 at 10:48 PM Emad Abdulrahim <notifications@github.com>
wrote:

--
David Gaskin
(778) 587-9220

[2019-07-15 14:40] elijahio commented on #15702
Thank you, @courtness and @fwojciec for your willingness to help and detailed support.

@courtness – I do currently have it as `<Img fixed={image} />`, so I don't think that necessarily applies in my particular case, although I sincerely appreciate the suggestion. I do have my code pushed to a repo now in case you're able and willing to take a closer look: https://github.com/elijahio/gatsby-stripe

[2019-07-15 14:41] LekoArts commented on #15019
Some more error ideas (which I wrote down while we were in Berlin):

- Errors around environment variables
  - typos
  - missing env variable
  - trying to access an env variable in the browser but not prefixing it with `GATSBY_`
- Variables in `StaticQuery`
- Same names for GraphQL queries
- Deleted/non-existent file (and trying to access those)
- String interpolations in the graphql function
  -

[2019-07-15 14:42] elijahio commented on #15702
One other thing in case anyone has time to pull [this repo down](https://github.com/elijahio/gatsby-stripe-store-test).

You'll have to add a `.env` file with this restricted key:

[code]

It's read only on a couple test products, so there shouldn't be risk in sharing it.

[2019-07-15 14:55] kmcaloon opened #15741 "[gatsby-source-wordpress] Include user roles for allWordpressWpUsers"
Although there are a ton of filters and fields available when querying WordPress users, to my knowledge it looks like a pretty important one is missing: user roles. As is, the only workaround I can see is tinker with things by setting up a field for roles and then to programmatically update via a hook when user is edited. I think roles would be a helpful field to have available out of the box thou

[2019-07-15 15:18] davidgomes commented on #15092
While working on the same project as @vai0, I also often get this error:

[code]

[2019-07-15 15:25] sonapraneeth-a opened #15744 "WrapRootElement in theme dependencies"
## Summary

Let us suppose, we have a ```theme-a``` which contains a definition for ```wrapRootElement``` in ```gatsby-browser.js``` and ```gatsby-ssr.js```. We have created another ```theme-b``` which has ```theme-a``` as its regular dependency and a demo site ```demo``` which has ```theme-b``` as a dependency. Now will the behaviour defined in ```wrapRootElement``` of ```theme-a``` be available

[2019-07-15 15:26] birjolaxew commented on #15676
For the sake of saving someone some debugging time:

This happens because the plugin only uses `backgroundColor` to apply a `box-shadow` on the image. This is done [in `gatsby-browser.js`](https://github.com/gatsbyjs/gatsby/blob/c0ebd6098d5afdf818ce7b40198951fd4fba653b/packages/gatsby-remark-images/src/gatsby-browser.js#L33-L35) once the image finishes loading.

The easiest way to fix this would p

[2019-07-15 15:27] zslabs commented on #15286
@stefanprobst @wardpeet Sure thing, I've created https://github.com/zslabs/gatsby-excerpt-error

The issue is the `excerpt_separator` https://github.com/zslabs/gatsby-excerpt-error/blob/master/gatsby-config.js#L44

The fallback is basically not working. If you run this and look at GraphiQL with the following:

[code]

It does not use the fallback as [docs](https://www.gatsbyjs.org/packages/gatsby-

[2019-07-15 15:28] amberleyromo opened #15745 "[docs][themes] add a reference guide on component shadowing"
## Description

Add a reference guide on "component shadowing" to `/docs/themes`.

## Related

#15382

[2019-07-15 15:30] amberleyromo opened #15746 "[docs][themes] add a reference guide on using theme-ui"
## Description

Add a reference guide on "using theme-ui" to `/docs/themes`.

## Related

#15382

[2019-07-15 15:31] amberleyromo opened #15747 "[docs][themes] move theme/component shadowing API docs to API section"
## Description

Put Theme/Component Shadowing API docs in the Gatsby API section.

## Related

#15382

[2019-07-15 15:31] MaxHill commented on #15655
Strange, getting an error on the same request. Yes, I'll send you a PM to give you access. :)

[2019-07-15 15:51] MaxHill commented on #15655
Strange, now it seems to work. It still underlines "image" in GraphiQL but it works.
<img width="1357" alt="Screenshot 2019-07-15 17 47 20" src="https://user-images.githubusercontent.com/5380169/61229627-cc528000-a728-11e9-850d-022d188cf059.png">

Sorry if I wasted your time...
Still open to help if you want to try and reproduce this part of the problem.

[2019-07-15 15:51] #15655 closed

[2019-07-15 15:51] smurrayatwork opened #15748 "[gatsby-plugin-sharp] Incorrect require path to cpu detection module."
## Description
Within process-file.js, there's a `require` statement that's pointing to maybe an old path to where cpu-core-count.js should be. It should be changed to `gatsby/dist/utils/worker/cpu-core-count`. By default, sharp uses the number of CPUs it detects, but this logic could be different than what Gatsby defines as the number of CPUs in cpu-core-count.js.

### Steps to reproduce
This doe

[2019-07-15 16:00] henriquea commented on #13980
Just a heads-up. We had the same issue here today and in our case we had a few images larger than 4000px and resizing them to 1920px solved the issue without having to touch circle config.

[2019-07-15 16:16] universse opened #15750 "Warning in cli during dev"
Seems like there is an issue with the newest update

[code]

[2019-07-15 16:25] bbaker6225 opened #15751 "Page errors only when hitting back button"
## Description
We're having an issue on our production site where users will see errors on pages only when returning to them after hitting the back button

### Steps to reproduce

1. Navigate to this prof cert page https://www.edx.org/professional-certificate/harvardx-computer-science-and-mobile-apps
2. Click on the accordion for "CS50's Introduction to Computer Science"
3. Click the view the cour

[2019-07-15 16:39] rchrdnsh commented on #15706
HOLY GOBSMACKERS! I figured out the issues(multiple)!

...which all seem to be Safari only bugs. I ended up spending much of the night (in Los Angeles, btw) literally turning off every individual line of CSS and testing to see what happens, using paint flashing in the timelines in Safari dev tools to debug. Se here are the two culprits:

1. CSS SVG filter...

[code]

This little line of code broug

[2019-07-15 16:39] #15706 closed

[2019-07-15 16:54] amberleyromo opened #15753 "[docs] Update "naming a plugin" doc for themes"
Update [naming a plugin](https://www.gatsbyjs.org/docs/naming-a-plugin/) doc to account for themes.

[2019-07-15 16:58] peteluffman commented on #15750
Yep same here

[2019-07-15 16:59] barbalex commented on #8280
I have a use case that I _think_ needs this too:
- My App is predominantly a dynamic SPA
- It has an extensive documentation part that is built at build time
- In some dynamic components I want to show some of the docs inside dialogs

So I tried exactly the same as @h0rhay and did not succeed.

Is there a better way?

[2019-07-15 17:00] lnikell opened #15754 "gatsby-plugin-sitemap does not throw error if siteUrl is not filled"
Using the sitemap gatsby plugin I mentioned that there is no validation of siteUrl and if you don't fill it you will get an error on the building HTML step, but without any clear message that could reference you to this issue.

https://www.gatsbyjs.org/docs/creating-a-sitemap/

In the documentation also that section with gatsby-config with siteMetadata more looks like typical description of the pl

[2019-07-15 17:03] klgh commented on #15750
I'm also getting this error

[2019-07-15 17:27] #14571 closed

[2019-07-15 17:27] #14652 closed

[2019-07-15 17:44] judepark commented on #15603
I followed your instructions and was able to integration my Dribble content directly into my Gatsby site! I say this was a huge learning curve for me but I was able to get there in the end, thank you for creating the repo, it made the process that much easier to follow, I learn better by having files to work with directly. Thank you for helping me out through this, now I can showcase my dribbble s

[2019-07-15 17:48] KyleAMathews commented on #15736
BTW, what I've done in the past is measure _all_ critical JS needed to make a Gatsby page — so this includes not just the app.js file but also the page component, etc. We could parse the index.html file to get the referenced JS files and then count their size.

[2019-07-15 17:49] wardpeet commented on #14598
When using yarn I use `yarn add gatsby` to get the latest. Npm is probably the same `npm install gatsby` I'm not sure for npm

[2019-07-15 17:51] polishedwp commented on #15724
So, I installed each of the starters and the only starter that displays the 404 error in the terminal is the hello-world starter.

The 404 message appears in each of the default theme starters including the new workspace theme starter.

[2019-07-15 18:17] molebox opened #15758 "gatsby-theme-blog not showing blog posts"
## Description

gatsby-theme-blog not showing blog posts

### Steps to reproduce

When cloning the gatsby-theme-blog starter repo i run yarn develop and navigate to a blog post. I then get a site cant be found page. The url is also wrong, not showing the root. I have tried setting the options for the gatsby-theme-blog to explicitly point to /

### Expected result

Should be able to view the demo b

[2019-07-15 18:26] billyjacoby commented on #15750
Im getting this issue as well

[2019-07-15 18:33] elijahio commented on #15702
I got a solution from @byurhanbeyzat on the Gatsby Discord server. Thank you everyone for your help.

## Solution

[code]

And as @fwojciec mentioned, it needs to be queried in GraphQL as:

[code]

[2019-07-15 18:33] #15702 closed

[2019-07-15 18:50] th0th commented on #15625
I haven't been able to get a successful build for some time, with a longer error output:

[code]

[2019-07-15 18:55] molebox opened #15759 "gatsby theme showing blank pages"
## Description

I have a clean gatsby theme setup which i have used before while themes were experimental. This is not rendering anything, as in the page is blank.

### Steps to reproduce

clone https://github.com/molebox/gatsby-theme-tattoo and run yarn && yarn workspace demo dev

### Expected result

It should at least render something..... but i see nothing

### Actual result

Nothing happens,

[2019-07-15 19:07] #15753 closed

[2019-07-15 19:12] cheuk3 commented on #15750
There is no enqueue export in loader.js from #13985

[2019-07-15 19:41] endormi opened #15760 "docs: Gatsby-link package not showing up in plugins and old docs"
## Description

I've been trying to find the gatsby-link package inside the plugin list, not finding it (other packages are there). This also seems to be old [docs](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-link/README.md), because it's not showing anywhere probably due to gatsby-link not showing in the plugins list.

### Expected result

Gatsby-link not found in plugins and f

[2019-07-15 19:48] jonniebigodes commented on #15603
@judepark again...no need to thank, i'm glad i was able to help out. If you don't mind i'm going to close this issue as it's now resolved and also should any other issues rise feel free to open a new issue. Thanks for using Gatsby 👍

[2019-07-15 19:48] #15603 closed

[2019-07-15 20:00] spences10 commented on #15481
So this still persists @wardpeet should I try updating packages one by one to find the one which breaks the build?

Logs for this: https://app.netlify.com/sites/font-sample-component/deploys/5d2cb7b308d3d40007f5d849

![image](https://user-images.githubusercontent.com/234708/61241889-607a1280-a73c-11e9-871c-cc7a59f8fcaf.png)

[2019-07-15 20:07] rchrdnsh commented on #15062
sorry, lost track of this one...yeah, it might be due to `gatsby-mdx`. I need to dig into that a bit more to see what's up. Slugs and ID's should be auto-generated in `gatsby-node.js`, as per the `gatsby-mdx` docs on programmatically creating pages, so there might be something wrong in there.

[2019-07-15 20:18] johno commented on #15759
Hey @molebox I think it might have something to do with the capitalized component name in `src/pages`. I was able to get it working with: `mv gatsby-theme-tattoo/src/pages/Index.tsx gatsby-theme-tattoo/src/pages/index.tsx`.

![image](https://user-images.githubusercontent.com/1424573/61246062-3c520d80-a70b-11e9-89f7-4cc3d0f1f833.png)

Let me know if that works or not, thanks!

[2019-07-15 20:18] luizcieslak commented on #15232
Hi Marcy, I'd like to take this one if it's not taken

[2019-07-15 20:25] molebox commented on #15759
Wow thats super embarrassing and annoying!! It now works! Thank you for taking the time to look into it! May i ask, do you know why that seems to be a convention? Do all pages have to be lower case?

[2019-07-15 20:28] johno commented on #15759
No worries!

Yeah, it's a convention since the casing of the filename maps directly to the rendered file. So `/Index/index.html` is isn't rendered at the `/` path, only `/Index/`.

[2019-07-15 20:28] #15759 closed

[2019-07-15 20:29] molebox commented on #15759
Ok great, now i know! Thanks again! :)

[2019-07-15 20:30] marcysutton commented on #15232
Absolutely @luizcieslak, we'd love to have your contributions! Let me know if you have any questions.

[2019-07-15 20:37] pieh opened #15761 "[gatsby-source-drupal] fetching data fails when there are 0 images"
## Description

When there are 0 images in drupal site, `gatsby-source-drupal` crashes with:
![D_ilNTNX4Ag4c-0](https://user-images.githubusercontent.com/419821/61247048-99bc7d80-a750-11e9-931a-4bbc83ac3d23.png)

This happens in this part of code - https://github.com/gatsbyjs/gatsby/blob/98511d678f58fc63387ebfa8aa898c7a9761c1e4/packages/gatsby-source-drupal/src/gatsby-node.js#L139-L154

plugin sho

[2019-07-15 20:39] marcysutton commented on #15125
@rlynn523 I can't seem to add @Bculp, but that shouldn't impact your workflow.

[2019-07-15 20:39] johno commented on #14493
One option you'd have @shansmith01 is using the `useStaticQuery` hook to query the options passed to your theme. It'd look something like:

[code]

[2019-07-15 20:41] #14936 closed

[2019-07-15 20:49] MunifTanjim commented on #15750
Related PR: #15735

[2019-07-15 21:04] harshil1712 commented on #15761
@pieh I would like to take this, but I would need your help :sweat_smile:

[2019-07-15 21:16] vpicone commented on #15058
This is likely related to https://github.com/gatsbyjs/gatsby/issues/15486

The proposed solution there by @cwgw solves this problem.

**The problem:** `gatsby-remark-x` plugins that use the gatsby config files (like `gatsby-remark-images`) are not getting loaded properly by `gatsby-plugin-mdx` due to the `gatsbyRemarkPlugins` option not being processed correctly by gatsby.

**workaround:** supply

[2019-07-15 21:56] kimbaudi commented on #15750
same here

[2019-07-15 22:12] luizcieslak commented on #15535
Hello Marcy! I got proactive and created #15673 in order to address this issue. I thought about a recipe using [netlify-cli](https://www.netlify.com/docs/cli/) because of [Hosting on Netlify](https://www.gatsbyjs.org/docs/hosting-on-netlify/) page which addresses the deploy using the Netlify website. Let me know if it is the right way.

[2019-07-15 22:28] polishedwp commented on #15718
That would be nice. I do love how CRA opens the browser by default on `yarn start`. Would love to see the same option by default in Gatsby.

[2019-07-15 22:46] sidharthachatterjee commented on #15700
Thank you for opening this!

Like @wardpeet mentioned on the pull request, we run this (`/packages/gatsby-transformer-screenshot/lambda/index.js` ) on lambda.

We're open to a complete rewrite of the service that's more reliable and works with UTF-8 characters.

[2019-07-15 22:47] sidharthachatterjee commented on #15707
CC @erquhart

[2019-07-15 22:50] sidharthachatterjee commented on #15716
Thank you for opening this @humphreybc

We'd love to accept a pull request porting the lazy load implementation over to `gatsby-remark-images`

Marking this as `help wanted` for the moment!

[2019-07-15 23:03] sidharthachatterjee commented on #15718
This sounds like a good default to make the first time experience better for inexperienced folks! Thank you for suggesting this.

We would love to accept a PR including this 💪 💜

CC @shannonbux @KyleAMathews @marcysutton

[2019-07-15 23:06] sidharthachatterjee commented on #15722
Thank you for reporting this @karlhorky and for the detailed steps to reproduce!

I'm going to take a look at this tomorrow and respond here again with further details

[2019-07-15 23:16] sidharthachatterjee commented on #15729
Thank you for opening this @Mushu62

[code]

Based on this, it appears that the query you're trying to make including `allGhostPost` is failing. Is your Ghost Public API setup correctly in the plugin config?

Do you have any posts at all currently? If there are no posts, schema inference will fail and Gatsby won't know about the `allGhostPost` field

If none of the above helps, can you perhaps lin

[2019-07-15 23:23] rlynn523 commented on #15125
I think we covered everything. I'm planning on putting in a PR tomorrow!

[2019-07-15 23:46] missmatsuko commented on #15700
Same issue already exists: https://github.com/gatsbyjs/gatsby/issues/5929

[2019-07-15 23:48] cwgw commented on #15058
I'm not sure that this is related to #15486.

The problem there is that gatsby api files (like `gatsby-browser.js` and `gatsby-ssr.js`) within `gatsby-remark-images` don't seem to be loaded.

However, the base64 placeholder isn't generated in one of those gatsby api files. I think this issue may be something else.

[2019-07-16 00:01] humphreybc commented on #15716
@sidharthachatterjee If you could drop a link to the relevant code in `gatsby-image`, I could take a look and see how difficult it would be to port to `gatsby-remark-images`. The Chrome stuff is just adding an attribute to the HTML tag, so that should be pretty easy.

[2019-07-16 00:01] sidharthachatterjee commented on #15760
I'll let the @gatsbyjs/docs team weigh in on this since I'm not sure

In the mean time, check out the documentation at https://www.gatsbyjs.org/docs/gatsby-link/

[2019-07-16 00:05] joesanchezjr opened #15770 "Stylesheet imports aren't scoping to pages/components"
## Description

When importing stylesheets into pages/components, the stylesheet becomes available globally and on all pages instead of only being used on the page/component it was imported into - even when navigating away from the page that is has been imported into.

If this isn't a bug and `imports` are happening like they are supposed to, then perhaps clarification is needed in [this part of t

[2019-07-16 00:10] sidharthachatterjee commented on #15754
Sounds good to me! Want to open a PR adding these in?

[2019-07-16 00:12] sidharthachatterjee commented on #15758
Sorry you're seeing this @molebox

I can't seem to reproduce this! I created a new site with `gatsby new test-blog gatsbyjs/gatsby-starter-blog-theme` and navigated to the first post and everything seemed fine.

Can you push a minimal reproduction if possible? Would love to help you fix this!

[2019-07-16 00:15] sidharthachatterjee commented on #15740
Thank you for opening this @jlfalcon3589

If I understand your question correctly, some nodes are not getting deleted in Gatsby when they are deleted from your API? Is that what you mean?

In this case, I would open an issue in https://github.com/strapi/gatsby-source-strapi

[2019-07-16 00:15] sidharthachatterjee commented on #15741
CC @jasonbahl

[2019-07-16 00:17] sidharthachatterjee commented on #15744
As far as I know, the behaviour for `wrapRootElement` in `theme-a` should be available in `demo`

CC @ChristopherBiscardi

[2019-07-16 00:24] sidharthachatterjee commented on #15748
Great catch @smurrayatwork

Want to open a PR fixing this with the new path?

[2019-07-16 00:27] sidharthachatterjee commented on #15751
I can reproduce this on the url you posted. It appears that this is being thrown:
[code]

I'm not sure that this is a Gatsby issue?

[2019-07-16 00:29] sidharthachatterjee commented on #15770
Thank you for the detailed issue @joesanchezjr

This is intended behaviour as far as I can see and the section in https://www.gatsbyjs.org/docs/global-css/#limitations describes the limitations of global CSS.

Would you like to open a PR with a more detailed clarification?

CC @gatsbyjs/docs

[2019-07-16 00:38] vpicone commented on #15058
@cwgw fair enough, adding it to the plugins array did bring back the blur up effect but could be unrelated cause

[2019-07-16 00:38] bbaker6225 commented on #15751
That error is being thrown, but it should be thrown anytime you actually visit the page. Also, it should fail the build as well since it throws an error during create page

[2019-07-16 00:58] billyjacoby commented on #6509
I'm running in to this exact problem, and I can't figure out what exactly to change in this plugin in order to allow all of the sizes to be returned.

Can anyone point me in the right direction to enable the fetching of all thumbnail sizes please?

[2019-07-16 00:58] fk commented on #15700
☝️👌 Thanks @missmatsuko for pointing that out.
Thanks @rayriffy!

Closing as duplicate of #5929, lets continue over there!

[2019-07-16 00:58] #15700 closed

[2019-07-16 01:48] jlfalcon3589 commented on #15740
yes, exactly that, once I delete the content of the api (strapi) in the api when I make a query if I see that it is deleted, but not the nodes.  thanks for answering, anyway I will raise an issue in gatsby-source-strapi

[2019-07-16 02:01] danielj41 commented on #15676
Hi @birjolaxew, thank you for looking into this! I think I'm seeing a slightly different issue, though:

The 400px inset `box-shadow` works correctly for me, if I manually change the `box-shadow` color in devtools. The issue I'm seeing is that the `box-shadow` is always `white`, regardless of what `backgroundColor` I set in my `gatsby-config.js`.

I'm noticing that `pluginOptions.backgroundColor`

[2019-07-16 04:48] TylerBarnes commented on #15256
I'm having this issue as well but I'm not using `gatsby-plugin-netlify-cms`. Is there a way for me to debug this or figure out how to fix it? The code is for a private project that I can't share but it's using `gatsby-source-filesystem` and a modification of `gatsby-transformer-json`. Downgrading to 2.10.5 fixes the issue.

[2019-07-16 05:07] jerroydmoore opened #15773 "Gatsby Fails when missing a package.json in the cwd"
## Description

I want to put the gatsby project in a subdirectory and my NodeJS backend in another subdirectory in my project. I don't want to maintain separate package.json for both directories, and the frontend and backend can't be run independently, they are tightly coupled, so it makes sense to put them in the same repository. Since the gatsby subdirectory doesn't have a package.json, I get t

[2019-07-16 05:12] arps18 commented on #15320
What is System Type of Your machine 32 or 64 bits?

[2019-07-16 05:13] arps18 commented on #15320
Try installing node in Program Files rather than Program files (x86) folder!

[2019-07-16 05:15] spences10 commented on #15344
I'm having this issue on Gatsby@2.13+ also, same as @andrewlsimplisafe I went back to Gatsby@2.12 and all ok, for now.

THanks

<details>

  System:
    OS: Linux 5.0 Ubuntu 19.04 (Disco Dingo)
    CPU: (4) x64 Intel(R) Core(TM) i7-7500U CPU @ 2.70GHz
    Shell: 5.0.3 - /bin/bash
  Binaries:
    Node: 10.10.0 - /tmp/yarn--1563253924944-0.6676510842109993/node
    Yarn: 1.16.0 - /tmp/yarn--15632539

[2019-07-16 05:29] JABedford commented on #11541
Reporting the same thing in Chrome. Again, fine in incognito mode.

Just to note, I am purely using object declaration in gatsby-config.js.

[2019-07-16 05:53] spences10 commented on #15481
So, for the [font sample component] It's either Gatsby@2.11+ or the gatsby source filesystem but seeing as for [scottspence.me] I reverted to an earlier version of Gatsby@2.12.0 I think it may be the gatsby versions.

[font sample component]: https://github.com/spences10/font-sample-component
[scottspence.me]: https://github.com/spences10/scottspence.me

[2019-07-16 07:10] #15750 closed

[2019-07-16 07:33] csr632 opened #15775 "upgrade webpack version"
## Description

Gatsby fix webpack version at `~4.28.4` in [this commit](https://github.com/gatsbyjs/gatsby/commit/f460b7f59f3e2a71c9ca65276a3e2f0d2c9a7fef), because [there is an regression in webpack 4.29](https://github.com/webpack/webpack/issues/8656).
But now that regression is fixed. It should be ok to use `4.35.x` or later.

Some newer plugin expect [webpack's finishModules hook](https://git

[2019-07-16 07:54] ChristopherBiscardi commented on #15744
Yes the `wrapRootElement` in `theme-a` would be available to `demo`.

Organizationally, you would need to add `theme-a` to `theme-b`'s plugins list for the `wrapRootElement` (or any other functionality) in `theme-a` to be applied in `demo`. This is generally referred to as "child themes" where `theme-a` is the "parent" and `theme-b` is the "child".

[2019-07-16 07:54] #15744 closed

[2019-07-16 08:48] wardpeet commented on #15775
nice, now I can upgrade #14792 again

[2019-07-16 09:05] m-allanson commented on #14598
yarn also has `yarn upgrade-interactive` which lets you pick and choose which packages to update:

<img width="1039" alt="Screenshot 2019-07-16 at 10 05 14" src="https://user-images.githubusercontent.com/381801/61281270-46c6e280-a7b1-11e9-82f2-1025f2113959.png">

[2019-07-16 09:08] rudolphfunk commented on #15210
Attached is a CPU profile recorded while the issue was observed.
[CPU-20190716T110559.cpuprofile.zip](https://github.com/gatsbyjs/gatsby/files/3396240/CPU-20190716T110559.cpuprofile.zip)

[2019-07-16 09:19] furai commented on #14598
Another thing that might be worth looking into is fixing inconsistency across documentation with usage of NPM and YARN and actually sticking to one or covering both in each document. I've run into few instances where one tutorial/manual was mentioning usage of one and next one the other.

[2019-07-16 09:36] birjolaxew commented on #15676
@danielj41 Whoops, didn't even notice the box shadow was inset.

Ye, it seems like the problem just is that the `onRouteUpdate` uses the wrong signature, so the options always use default. The only place where the options are used is for the `backgroundColor`, which defaults to white. Your fix should help with that.

On a related note, it'd probably be nice to update the inset box shadow to use so

[2019-07-16 10:01] barbalex commented on #15633
I am not getting this error when updating gatsby-transformer-remark:

[code]

So would be glad if this issue could be adressed.

[2019-07-16 10:33] m-allanson commented on #15773
Thanks for the clear explanation @jerroydmoore 👍 Creating the 'fake' `package.json` file will get past the check, but you'll probably run into strange issues later on as there are no tests around running Gatsby like that. It might turn out that this totally works but I'd guess there will be some unexpected edge-cases.

I suspect that updating Gatsby to be runnable without a `package.json` would be

[2019-07-16 11:02] JonSilver commented on #6654
I was having these problems but I managed to get the build working fine with a combination of `setx GATSBY_CONCURRENT_DOWNLOAD 5; gatsby build` and Smushing all the images (some of which were excessively large in dimension and filesize) using the free version of https://en-gb.wordpress.org/plugins/wp-smushit/.

[2019-07-16 11:52] polishedwp commented on #15718
A very simple fix would be to change the script in the `package.json`:
`develop: "gatsby develop -o"`

[2019-07-16 12:01] eclectic-coding opened #15781 "Theme blog colors.js logic"
## Description

First, nothing is really broken. However, in the `gatsby-starter-theme-blog` in the `src/gatsby-theme-blog/gatsby-plugin-theme-ui/colors.js` the variables for the color overrides are reversed.

![colors png](https://user-images.githubusercontent.com/13651291/61292505-59d0b700-a79f-11e9-81dd-78dd3704b275.png)

Notice the `lightBlue` is actually the darker of the blue colors. The sit

[2019-07-16 12:06] karlhorky commented on #15718
Cool, then should someone go ahead on this change? Or rather change the default in the develop script itself?

[2019-07-16 12:22] lannonbr commented on #15122
And with #15769 merged, I am closing this as the issue is now fully resolved.

[2019-07-16 12:22] #15122 closed

[2019-07-16 12:25] barbalex commented on #15633
I tried updating another gatsby project of mine. There this error is not occuring (save for https://github.com/gatsbyjs/gatsby/issues/15750)

[2019-07-16 12:40] barbalex commented on #15633
also bumping into issues with gatsby-source-filesystem: same as here https://github.com/gatsbyjs/gatsby/issues/15680. So basically I am now blocked from updating most anything that has to do with gatsby :-(

[2019-07-16 12:52] barbalex commented on #15633
I just updated gatsby then
[code]
and got the error again.

So basically **you should be able to reproduce this by doing**:

1. fork https://github.com/barbalex/apf2
2. update gatsby
3. run `yarn && yarn dev`

The project needs a local api server. But this error seems to occur before the project connects to the api so that does not prevent reproduction of the issue.

[2019-07-16 12:54] wardpeet commented on #15718
Thank you for opening this issue. With Gatsby, you might have to restart the gatsby a few time (changing config options, fetching new data from sources, etc.). If we would enable --open by default it will re-open a new tab each time.

We recently moved to "better-opn" (the same package as CRA is using) which re-uses the browser tab but this only works on mac osx. In a future release, we will have

[2019-07-16 12:54] #15718 closed

[2019-07-16 12:56] #14806 closed

[2019-07-16 13:12] barbalex commented on #15633
I just tried to reproduce this on my MacBook pro (my normal dev machine is a windows pc). The issue happens exact same.

[2019-07-16 13:15] dasaco commented on #15625
Getting same error, tried Gatsby 2.7, 2.10, 2.13, also tried updating gatsby-image to 2.2.6 and gatsby-transformer-sharp to 2.2.7

[2019-07-16 13:23] karlhorky commented on #15718
@wardpeet Ok, so just that I'm understanding correctly - once the version gets released with `better-opn`, then you'll make it a default? Or did you mean the config changing feature? If it's the config changing feature, not sure I'm understanding why this is something to wait for...

[2019-07-16 13:28] danspratling opened #15784 "[gatsby-source-contentful] Gatsby build not completing"
## Description

After installation of gatsby-source-contentful in my gatsby project, setting up gatsby-config.js and running `gatsby develop` the build fails to complete. I'm not seeing any error logs, and there are no errors in the console. The process seems to still be running in the background but the terminal becomes unresponsive. Without this plugin installed build completes and i can access

[2019-07-16 13:28] wardpeet commented on #15633
It looks like you're importing graphql-compose inside your project https://github.com/barbalex/apf2/blob/e8cdd961cfbf781bb1b5d548c7465dc3b3765325/src/components/shared/Files/File.js#L20

Graphql-compose is a nodejs project which doesn't work in the browser. If you need a `upperFirst` function I recommend going for https://www.npmjs.com/package/capitalize or just write a small utility yourself.

[c

[2019-07-16 13:29] #15633 closed

[2019-07-16 13:30] gvocale commented on #5516
I am using `srcSetBreakpoints: [400]` with the intention of having gatsby-plugin-sharp generate only:
- the small base64 thumb
- a 400px image
- the original image

But the images generated continue to include other breakpoints. For example the `fluid.srcSet` attribute for one of my image includes 400px, 800px, 1600px.

If I change to `srcSetBreakpoints: [320]`, now I get 320px, 800px, 1600px. See

[2019-07-16 13:34] lewnelson commented on #15242
Just ran into this error, in my case it was due to 2 `StaticQuery` components being rendered in the same file. As a solution I just refactored the 2 separate queries into a single Query.

Basic example to illustrate what I done
Before (error only appeared on `gatsby build`, `gatsby develop` was fine):
[code]

Solution:
[code]

[2019-07-16 13:40] wardpeet commented on #14598
We could also introduce a gatsby upgrade method which upgrades gatsby to the latest version. Gatsby upgrade might become beneficial if we do a major upgrade. We could run codemods to get you upgraded.

Oh that's a great point. Could you point us to some links? We try to advocate NPM as it comes natively with nodejs. The only documentation I'm aware of themes where we use `yarn workspaces` as NPM d

[2019-07-16 13:43] barbalex commented on #15633
facepalm

this shows:
1. automatisms in editors can be extremely dangerous. The cause of this is:
   1. I thought I had imported 'upperFirst' from lodash and wrote it in my code.
   2. a friendly helper in VSCode automatically imported an upperFirst function it could find...
2. Humans, especially me, are _really_ bad at finding stuff they don't expect. Even if they are told to look for it and thei

[2019-07-16 14:01] wardpeet commented on #15625
Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll

[2019-07-16 14:12] dantehemerson commented on #15781
I think this is a typo, feel free to add a PR.

[2019-07-16 14:13] joesanchezjr commented on #15770
Thanks for responding @sidharthachatterjee

I'd love to contribute to the docs! It might take me a while to get to it, but where can I get started with the process?

[2019-07-16 14:20] sahils2410 commented on #12801
@maxlibin Did you find any solution for this? Wasted hours in reinstalling and retrying.
Please help.

P.S https works!

[2019-07-16 14:29] maxlibin commented on #12801
Works for me now using http:// for the url and and replace with https https://github.com/maxlibin/m-gatbsy

[2019-07-16 14:32] gillkyle commented on #15760
Hey @endormi, thanks for bringing this up! True it's not showing up in the plugins list, not sure that's intentional or not. Since it is natively a part of Gatsby (not technically a plugin) it seems like it's probably okay the way it is IMO.

[2019-07-16 14:37] thelovesmith commented on #8122
Hello good morning!
I keep getting this warning in development due to 'prefetchPathname":
`
 warning  in ./.cache/gatsby-browser-entry.js
⠀
"export 'enqueue' (reexported as 'prefetchPathname') was not found in './loader'
`

Wanted to know what is going on here and any solutions to get rid of this warning?

[2019-07-16 14:39] sonapraneeth-a commented on #15724
As per @jlengstorf , we need to have a 404.js in our site currently as 404 generation is not supported as of now.

[2019-07-16 14:41] davidkartuzinski commented on #15242
This has now been fixed.  Simply ensure you are using the latest Gatsby version!

[2019-07-16 14:42] sahils2410 commented on #12801
Many thanks for your prompt response...but what if my WordPress site is hosted on https?
Would it generate any warning/error logs on netlify ?

[2019-07-16 14:48] maxlibin commented on #12801
you will get some mix content warning if you are mixing https with http for contents, and thats why you need replace searchAndReplaceContentUrls, I am not sure about your setup, in my case I have both http and https for my blog, since I can't get wp-json from https, I am getting it from http and replace the assets with:

[code]

This might not be a good solution but works at least for now.

[2019-07-16 15:06] wardpeet commented on #15760
@gillkyle you're correct! I don't think it belongs in the gatsby-plugin listing either. I do get that it might be a bit confusing.

[2019-07-16 15:10] giacomoalonzi commented on #2392
I solved with a resolver on gatsby
gatsby-node.js

[code]

[2019-07-16 15:10] endormi commented on #15760
If it is needed, I can add it manually or else IMO it should be removed from the packages folder, because it's not connected anywhere.

[2019-07-16 15:12] tweetzal commented on #2392
Thanks guys. Much appreciated

On Tue, Jul 16, 2019 at 4:11 PM Giacomo Alonzi <notifications@github.com>
wrote:

[2019-07-16 15:16] wardpeet commented on #15770
We have a section called [How to contribute](https://www.gatsbyjs.org/contributing/how-to-contribute/) and a more specific section on [docs contributions](https://www.gatsbyjs.org/contributing/docs-contributions/). Let me know if this gets you going. If not we also have [pairing sessions](https://www.gatsbyjs.org/contributing/pair-programming/) where we love to help you get started!

[2019-07-16 15:22] wardpeet commented on #15210
Could it be processing images? Downloading and optimizing them?

Thank you for the cpuprofile, I'll have a look.

[2019-07-16 15:29] wardpeet commented on #8122
we got this fixed in gatsby version 2.13.24

[2019-07-16 15:29] #8122 closed

[2019-07-16 15:30] wardpeet commented on #15750
Fixed in gatsby version 2.13.24

[2019-07-16 15:31] Blackglade opened #15787 "gatsby-remark-images prefixPaths no longer work!"
## Description

My website is hosted on GitHub pages and normally during the gatsby build step, I need to prepend a prefix path in order for links to work. After running `npm update` and `npm upgrade` it seems as if my prefix path still worked on normal links, but didn't work on images. I am using gatsby-remark-images for prefix paths.

### Steps to reproduce

Here was my package.json before the u

[2019-07-16 15:51] fk commented on #15596
Done, thanks @DSchau and @wardpeet, and @greglobinski, and @jxnblk, and @pieh, and @sidharthachatterjee <3

[2019-07-16 15:51] #15596 closed

[2019-07-16 16:03] furai commented on #14598
I would actually advocate for yarn usage everywhere. I've run into many issues with NPM during setting up many deployments for different technologies/frameworks. While yarn usually worked as expected.

Searching docs for "yarn add" with `grep -rn ./docs/ -e "yarn add"` shows a few different .MD files where package was added with yarn.

Probably those are mostly pages for plug-ins, not sure though,

[2019-07-16 16:51] sonapraneeth-a opened #15792 "[gatsby-notes-theme] Error when setting a custom contentPath in theme"
## Description

Changing ```contentPath``` option in the theme config to a different value throws the below error.

The path passed to gatsby-source-filesystem does not exist on your file system:

content/notes

### Steps to reproduce

Update this file (https://github.com/gatsbyjs/gatsby/blob/master/themes/gatsby-starter-notes-theme/gatsby-config.js) to

module.exports = {
  plugins: [
    {

[2019-07-16 16:52] sonapraneeth-a commented on #15792
Issue fixed in [PR #15789](https://github.com/gatsbyjs/gatsby/pull/15789)

[2019-07-16 16:58] gillkyle commented on #14607
Wow, very detailed updates, thanks @spences10 🙂

There's been recent talk of converting the official blog starter to using the blog theme in the future. There's an existing `gatsby-theme-blog-starter` (that would be eclipsed/replaced by adding the theme to this starter) but then it would include MDX with it and make updates like this package upgrades which would be slick. That could also add synta

[2019-07-16 17:00] rchrdnsh commented on #15711
Same versions of macOS and Safari here as you.

and I only have a privacy blocker called better running:

<img width="772" alt="Screen Shot 2019-07-16 at 9 59 04 AM" src="https://user-images.githubusercontent.com/7884263/61313946-5a257e00-a7b0-11e9-92a7-f5b2f0e89b1d.png">

...I'll turn that off for a sec and see if it loads:

[2019-07-16 17:01] rchrdnsh commented on #15711
Turned off the 'Better' extension and still the same thing...dunno 🤷‍♂️

<img width="503" alt="Screen Shot 2019-07-16 at 10 01 34 AM" src="https://user-images.githubusercontent.com/7884263/61314107-b4264380-a7b0-11e9-9715-1a2142049897.png">

[2019-07-16 17:11] thelovesmith commented on #8122
hmm I appreciate you responding so  quickly, but i literally just updated to version 2.13.25 and my the dev server just crashed. lol def was working before. I know now this is a separate issue lol Ill try and find a solution elsewhere thanks
`
There was a problem loading the local develop command. Gatsby may not be installed. Perhaps you need to run "npm install"? Cannot find module 'gatsby-cli/li

[2019-07-16 17:27] #5553 closed

[2019-07-16 17:27] #14591 closed

[2019-07-16 17:27] #14773 closed

[2019-07-16 17:27] #13278 closed

[2019-07-16 17:27] #14285 closed

[2019-07-16 17:27] #14611 closed

[2019-07-16 17:46] KyleAMathews commented on #13454
Not stale

[2019-07-16 17:52] sahils2410 commented on #12801
Tried everything :( Could you please try and check below WP site in your code, whether it works or not.
https://salientdemo.com/apn
WP version 4.9.
I already tried it with 5.2.2 also. No luck!

[2019-07-16 18:10] spences10 commented on #14607
Due to the difficulties I was having with the Gatsby starter blog I decided to do my own documentation from scratch (simple hello world) to fully fledged blog with syntax highlighting and react live code blocks.

It's a basic outline that I still have to break up into sections to record videos for each section to accompany the prose and also some basic styling and layout.

https://github.com/spenc

[2019-07-16 18:14] spences10 commented on #15481
Should I close this @wardpeet? It seems to be varying on the three differing repos and means the issue is fragmented/not specific enough.

So, although I have given you as much information as I could I sense this isn't very high up on the priority list right now as it only seems to be me that is experiencing the issue.

I can just keep the Gatsby version pinned on the repos where this is happening

[2019-07-16 18:33] shansmith01 commented on #14493
That's an interesting approach. Thanks @johno

[2019-07-16 19:16] xavivars commented on #14293
We're also facing this problem: multiple hosts (xxxxxx.com, xxxxxx.fr, xxxxx.ie,...) need to access same CDN where assets live.

[2019-07-16 19:23] fendermaniac opened #15798 "Gatsby Transformer Remark Error: Type with name "MarkdownExcerptFormats" does not exists"
## Description

Trying to follow the basic Gatsby markdown guide, but I get `Error: Type with name "MarkdownExcerptFormats" does not exists` when I run gatsby develop in my environment

### Steps to reproduce

1. Set up a working instance of Gatsby pulling from the WordPress API, creating posts, pages and paginated results for the main posts page.
2. Follow https://www.gatsbyjs.org/docs/adding-mar

[2019-07-16 19:34] ind1go opened #15800 "ESLint not running during `gatsby build`?"
## ESLint not running during `gatsby build`?

I'm setting the Gatsby build up in a CI server, so in an automated environment and working out what I can do purely by reacting to return codes. I'm trying to make sure that as a team we don't fall into silly mistakes. Part of that is ensuring our code standards through ESLint.

I've not changed the default setup of Gatsby - i.e. I've not followed any

[2019-07-16 19:45] fendermaniac commented on #15798
I can confirm that I can get the markdown rendering properly with a clean version of Gatsby.

[2019-07-16 19:50] stefanprobst commented on #15798
Yes, the latest `gatsby-transformer-remark` has a peer dependency on `gatsby` v2.12 and above, so updating the `gatsby` package should fix this.

[2019-07-16 20:02] fendermaniac commented on #15798
I can confirm that updating to the latest version of `gatsby` has resolved this error. Thank you @stefanprobst.

[2019-07-16 20:02] #15798 closed

[2019-07-16 20:14] manuelJung commented on #5995
can we re-open this issue since #15196 won't be merged? this is currently the only feature that stops me from using gatsby in production (since component-based codesplitting is a must have for the projekt).

[2019-07-16 20:22] jonniebigodes commented on #15784
@danspratling i've just finished creating a new Gatsby added `gatsby-source-contentful` and issued `gatsby build` and it indeed finished the build process as you can see below:

![dan_spra_1](https://user-images.githubusercontent.com/22988955/61326279-4b6db400-a80e-11e9-9088-75f0b3606206.png)

Probably something else going on in there. If you can, could you provide a reproduction following [these

[2019-07-16 20:35] evanwinter opened #15802 "[gatsby-plugin-offline] I have a finite (and small) number of pages in my app. Can I force the plugin to pre-cache these pages?"
## Summary

I have a small app that has several pages, all found at `src/pages/`:
* index.js
* welcome.js
* products.js
* recipes.js
* contact.js
* quiz.js
* quiz-results.js

Ideally, I would like all of these pages to be precached, so that a user can navigate to them when offline, without having to first visit them while online.

Currently, I'm getting the following behavior -- if I visit the pag

[2019-07-16 20:43] th0th commented on #15625
For me, it turns out I didn't have `gatsby-transformer-sharp` and `gatsby-plugin-sharp` on my `plugins` array and it resulted in failed builds. I don't know how I have been building successfully before though.

[2019-07-16 20:56] jrestall commented on #5995
Hey @manuelJung https://github.com/gatsbyjs/gatsby/pull/15196 isn't necessary to solve this issue, it was only related to how I wanted to implement my Gatsby themes, which I've now changed to using a IContentBuilder interface that each theme uses to contribute to building each page.

To fix this issue, if you have similar requirements as me, look into how I'm dynamically building a template file f

[2019-07-16 21:06] KyleAMathews commented on #5030
👍 to doing this — just saw someone again at a workshop run into an error with a graphql query because they didn’t copy the closing backtick.

[2019-07-16 21:12] KyleAMathews opened #15804 "Deprecate "allSite" GraphQL type"
There's a `Site` node type which is why it's created but there's obviously only one site so having `allSite` is confusing.

@freiksenet

[2019-07-16 21:16] 0tho commented on #15716
@humphreybc have a look at gatsby-image, it uses IntersectionObserver to 'defer image loading'.

[gatsby-image](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L97)
[mdn IO](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)

[2019-07-16 21:19] KyleAMathews opened #15805 "command-enter doesn't work in graphql explorer"
Probably we should ping onegraph about this — @pieh

[2019-07-16 21:20] KyleAMathews opened #15806 "Update the tutorial to use the explorer"
We need to update the screenshots in general but it'll also be great to teach people the explorer as it's much more approachable than just typing things.

[2019-07-16 21:20] KyleAMathews commented on #15806
/cc @gatsbyjs/docs

[2019-07-16 21:30] KyleAMathews opened #15807 "Document how to make npm/yarn/node work with corporate supplied certs"
Worked through this with some devs at Capital One — there was no good place on the internet that explained this and it’ll be a common problem corporate devs run into so we should make clear docs about how you configure npm/yarn/node to work with a supplied cert.

- npm — `npm config set cafile "<path-to-my-cert.pem>"`
- yarn — `yarn config set cafile "<path-to-my-cert.pem>"`
- node — `export NODE_

[2019-07-16 21:52] KyleAMathews commented on #15807
Here’s an example error:

[code]

[2019-07-16 22:02] pieh commented on #15805
Can you clarify? Keyboard shortcuts are handled by CodeMirror and are defined inside `graphiql` package that we use ( https://github.com/graphql/graphiql/blob/55d6946a1fdad2fa0276e5c33ca3534cc5a63c67/packages/graphiql/src/components/QueryEditor.js#L109-L161 )

Command-space never worked for me - it always seemed to be hijacked by system to show spotlight on macOS

[2019-07-16 22:26] evanwinter commented on #15802
To clarify, the end result I want is that the entire app is cached on first load, without having to visit each page.

I'm trying the approach I found here: https://github.com/gatsbyjs/gatsby/issues/9383

Hopefully that will resolve my issue. I will close this out if not!

[2019-07-16 22:35] dwalks12 opened #15809 "Using Gatsby for a Component Library"
Currently there seems to be no out of the box solution to using gatsby components within a component library. Namely gatsby-image. I ideally want to use the benefits of gatsby-transformer-sharp and create a compiled component library that utilizes that.

The Problem:
Because we also use StaticQuery for the gatsby-image if we use graphql the actual compilation does not seem to work well.
Any help w

[2019-07-16 22:57] evanwinter commented on #15802
Okay, I figured out that I probably need to change the `globPatterns` Workbox config option, since the plugin is only doing the app shell and whatever it deems to be "critical assets".  I tried doing "*/**", as someone in that other thread did, and that (obviously) was far more greedy than I intended, precaching over 700 files (including multiple versions of every image).

This sort of worked, exc

[2019-07-16 23:04] Defite opened #15811 "Images in post not showing"
## Description

Images in post is not showing

### Steps to reproduce

Repo: https://github.com/Defite/defite-gatsby

https://defite.ru/blog/full-image-in-markdown - has image, showing
https://defite.ru/blog/netlify-eslint-and-codacy - has images, not showing

### Expected result

Images in post are visible

### Actual result

Images in post has 0px width

### Environment

[code]

Also here is the

[2019-07-17 00:50] polishedwp commented on #15811
I had the same issue. You might want to look here #15486 ... it actually helped me.

[2019-07-17 00:55] polishedwp commented on #15805
Actually, I think Ctrl+Space is the command on a Mac. I left Mac a few weeks ago for Ubuntu but I think this [thread](https://github.com/graphql/graphiql/issues/670#issuecomment-453618135) indicates the same.

[2019-07-17 01:29] makhnovskiy commented on #12188
@Hypothesis-github How would one useContext within a class component? Getting Invalid Hook Call error.

[2019-07-17 02:59] #1189 closed

[2019-07-17 06:26] universse commented on #12188
@makhnovskiy React hooks can only be used with functional components. For class components, you can use either [contextType](https://reactjs.org/docs/context.html#classcontexttype) or [Context.Consumer](https://reactjs.org/docs/context.html#contextconsumer).

[2019-07-17 06:28] wardpeet commented on #8122
I would try reinstalling. Lookz like some deps are missing

[2019-07-17 06:40] Defite commented on #15811
Well, the thing is I don't have `gatsby-plugin-mdx` at all. Do I have to install it?

[2019-07-17 06:53] wardpeet commented on #15625
That's what I was thinking at first but the environment snippet threw me off.

It seems like you're right @th0th, in the provided config `gatsby-plugin-sharp` & `gatsby-transformer-sharp` is missing.

Good catch @th0th, thanks! 💪

It seems like I provided enough information.

[2019-07-17 06:53] #15625 closed

[2019-07-17 06:58] wardpeet commented on #15481
It seems like some npm modules can cause this when they don't have proper polyfilling. You can install regenerator-runtime and just add import "regenerator-runtime/runtime"; to your page which should fix it.

[2019-07-17 07:04] TheBear44 commented on #15114
Keep it open

[2019-07-17 07:08] wardpeet commented on #15421
no real reason, "start" is an alias for the develop script. We could replace "NPM" into yarn with a regex replace or we could explicitly set `gatsby develop`.

[2019-07-17 07:17] TheBear44 commented on #11536
Currently, it shows security alert with `mem < 4.0.0`

[2019-07-17 07:22] wardpeet commented on #11096
I probably was on a different issue and probably just messed up while commenting. Sorry about this.

@adityakmr7

seems like you have a bin folder? could you echo out your `$PATH` variable. Run `echo $PATH`.

[2019-07-17 07:30] wardpeet commented on #15633
No worries, it happens to the best of us ❤️

[2019-07-17 07:30] alexandrtovmach commented on #12396
Is any progress with that? What about [CrowdIn](https://crowdin.com/)?

[2019-07-17 07:35] alexandrtovmach commented on #12396
I started working on Russian and Ukrainian translations of Tutorials. If we going to have a plan to make global process I'd be in! Let me know how can I help.

[2019-07-17 07:56] Levino commented on #10668
Reopen.

[2019-07-17 08:18] ChristopherBiscardi commented on #15486
@cwgw Thanks for narrowing this down (and to everyone else who helped). Gatsby's handling of sub-plugins has always been special but I suppose it matters more now than it used to with the recent gatsby-remark-plugin release.

The `flattenedPlugins` list that gets plugged into the redux store won't have the `gatsbyRemarkPlugins` from the `gatsby-plugin-mdx` options because support for sub-plugins u

[2019-07-17 08:23] zubko commented on #15200
Yay! Thanks.

`createTypes` helped to keep filenames as values.

Do you think it will be good to add a note about type inference & `createTypes` to `createNodeField` API docs? I could make a PR

[2019-07-17 08:28] vadimdemedes commented on #15505
Thanks! I'm on vacation right now, but I will look into it next week ;)

[2019-07-17 08:35] LekoArts opened #15816 "[docs] Improve documentation around "mapping""
## Summary

While "naively" searching for a solution to this [Spectrum thread](https://spectrum.chat/gatsby-js/general/connecting-gatsby-image-results-to-items-in-a-list~41586191-994e-4d83-9ab8-c768a8762c0e) via Google and the docs search itself, I didn't find the bits I needed to find. I'm familiar with the mapping via [gatsby-config](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-type

[2019-07-17 08:54] danspratling commented on #15784
I recreated a test case as above and it worked. Then i tried running the main project again and it errored because my node version was behind (i'm often switching for projects), so i corrected it and both failed.

It seems the error was being caused by the node version I was using. I was using v11 for newer projects which appears to be incompatible with gatsby-source-contentful. Reverting back to

[2019-07-17 09:49] jessepinho commented on #11406
Noooooooo don't run your app as root! 💀 🚨 That can cause all kinds of security problems!

[2019-07-17 09:56] universse opened #15820 "Pass `PageComponent` prop to `wrapPageElement` APIs"
I'm using gatsby-plugin-layout for sharing states that persist across routes. Can pages be components instead of elements when passed to Layout as children?

So, instead of
[code]

It can be
[code]

This is similar to how Next.js does it https://nextjs.org/docs#custom-app.
Use case is passing props from Layout to page components. Since page is direct children of layout, using Context can be a bit

[2019-07-17 10:24] PolGuixe commented on #10457
We have encountered this issue on a CICD environment where we cache `/public` and `/.cache` in order to speed up builds...

If we eliminate the cache then builds will be slow again... 😢

[2019-07-17 10:44] lexcode commented on #13761
Hi @MartinConde I am having the exact issue, using the Polylang Plugin ( free version ).
Did you solve it by buying the PRO version then?

![image](https://user-images.githubusercontent.com/349424/61369525-36356b80-a888-11e9-83bf-f235e52d777c.png)

[2019-07-17 11:18] rudolphfunk commented on #15784
Possibly duplicates: https://github.com/gatsbyjs/gatsby/issues/15210

[2019-07-17 11:24] danspratling commented on #15784
@rudolphfunk Yeah possibly a duplicate. Did you try switching your node version? That was the issue for me, after switching i'm no longer having problems.

[2019-07-17 11:25] rudolphfunk commented on #15210
After some initial tests it seems that Node: 11.0.0 is the issue:

https://github.com/gatsbyjs/gatsby/issues/15784#issuecomment-512165544

After switching to Node: v10.15.3 and rebuilding packages the issue seems to be resolved.

[2019-07-17 11:26] rudolphfunk commented on #15784
@danspratling: Yes, see: https://github.com/gatsbyjs/gatsby/issues/15210#issuecomment-512213778

[2019-07-17 11:34] glennreyes opened #15823 "Error when using any of the DuotoneGradient fields"
## Description

Using any of the `duotone` (`type DuotoneGradient`) fields by `gatsby-transformer-sharp` (`highlight`, `shadow` & `opacity`) leads to an error and exits entire server.

### Steps to reproduce

- Install `gatsby-starter-default`
- Run `yarn develop`/`gatsby develop`
- Enter following snippet with `opacity` in GraphiQL (http://localhost:8000/__graphql)

[code]

### Expected result

G

[2019-07-17 11:41] pieh commented on #15804
Should this be considered breaking change? Agree with `allSite` being unnecessary, but still - people could use it

[2019-07-17 11:46] codepunkt opened #15826 "How to add options to remarkPlugins/rehypePlugins for gatsby-plugin-mdx"
Is there a way to define options for remark or rehype plugins using the  `remarkPlugins` and `rehypePlugins` options of `gatsby-plugin-mdx`?

I couldn't find one - at least there's none documented.

[2019-07-17 11:46] rudolphfunk commented on #15210
@wardpeet - it seems unrelated. I have tried with and without images.

[2019-07-17 12:01] pieh commented on #15800
Yes, we do use `eslint-loader` only in development right now:
https://github.com/gatsbyjs/gatsby/blob/67ccf740f42cf2b796dbcc783fbdb4ffd2be9a0b/packages/gatsby/src/utils/webpack.config.js#L299-L306

If you want to use `eslint` in builds I would advice using https://www.gatsbyjs.org/packages/gatsby-plugin-eslint/?=eslint plugin with configuration like this:

[code]

[2019-07-17 12:02] igorakkerman opened #15827 "YAML transformer: TypeError [ERR_INVALID_ARG_TYPE] when YAML not sourced as file"
## Description

With various source plugins, YAML documents are not processed by _gatsby-transformer-yaml_.

The JSON transformer had an analogous issue: https://github.com/gatsbyjs/gatsby/issues/8538

### Steps to reproduce
Use a source plugin like _gatsby-source-contentful_ or _gatsby-source-github-raw_ to read YAML content.

Use the YAML transformer without explicitly setting the `typeName` opt

[2019-07-17 12:04] igorakkerman commented on #15827
PR https://github.com/gatsbyjs/gatsby/issues/8538 fixes the issue.

[2019-07-17 12:08] pieh commented on #15809
You can use `gatsby-image` as standalone component, but you would have to handle image transformation on your own in this case:

[code]

I'm not sure if this helps - but if you are using `gatsby-image` outside of Gatsby, then you will have to somehow handle image transformation on your own.

[2019-07-17 12:09] joeynimu commented on #15804
I agree with @pieh , people could be using this.

[2019-07-17 12:20] pieh commented on #15820
Not cleanest, but you can do it like this:
[code]

Note that you probably should pass original props (as I did in my example) - otherwise page components could miss things like query results or location (some props that we pass by default to page components)

[2019-07-17 12:35] pieh commented on #15823
`highlight` and `shadow` options are required to use duotone - so full query would look like:

[code]

We currently don't set those arguments as required and don't check for existence of them and we crash in place expecting those arguments to be set when they're not. I will create PR with update to `gatsby-transformer-sharp` to mark those as required.

[2019-07-17 12:54] pieh commented on #15826
Looking at https://mdxjs.com/advanced/plugins

It seems you can do something like this:
[code]

I'm not sure if same thing applies to `rehypePlugins`, but it's worth a try

[2019-07-17 12:56] interglobalmedia commented on #15528
Hi @wardpeet Everything has been resolved. Am using git-gateway and am using Netlify CMS. Working beautifully. Required some workarounds to make everything happen, but the site was deployed to remote on Netlify successfully. Sorry for not responding sooner. Thanks!

[2019-07-17 12:56] #15528 closed

[2019-07-17 13:06] bbaker6225 commented on #15751
The issue is resolved if we change those links to not use `Link` from `Gatsby`, so it seems like there might be an issue there?

[2019-07-17 13:09] universse commented on #15820
This doesn't work for production build though. console.log(props.pageResources) gives undefined. In development it works as expected.

[2019-07-17 13:10] sdzaveri commented on #15613
Just to add more color - I think it has something to do with how we are handling our CSS in the Webpack config & our CSS modules.

[2019-07-17 13:19] universse commented on #15820
Seems like pageResources isn't available during SSR. console.log(props.pageResources) gives undefined in CLI but in browser it works as expected.

[2019-07-17 13:29] aaronearl commented on #15528
What is the git repo, so we the community can use it as reference for other netlify CMS issues?

Sent from my iPhone

[2019-07-17 13:52] hannesd opened #15832 "Custom 404 page stops working when using pathPrefix"
## Description

When navigating to a non-existent path the 404 page flashes and disappears, and I see an empty page.

This only happens when I use a pathPrefix

### Steps to reproduce

`$ gatsby new`

Choose a project name of your liking.
Choose the "gatsby-starter-hello-world".

Create a custom 404 page at `src/pages/404.js`:
[code]

`$ rm .cache public -rf && npm run build && npm run serve`

Nav

[2019-07-17 14:07] pieh commented on #15613
Hi, are you able to provide reproduction for this issue?

[2019-07-17 14:13] smurrayatwork commented on #15748
@sidharthachatterjee What version of node should I be using for that PR?

[2019-07-17 14:17] pieh commented on #15820
Yeah, you are right. I think it's reasonable request to pass `PageComponent` as top-level arg/prop and make sure it works both in runtime and ssr.

[2019-07-17 14:24] interglobalmedia commented on #15528
Sure. Repo: https://github.com/interglobalmedia/interglobalmedia Posts/podcasts regarding the issue(s): https://www.interglobalmedianetwork.com/blog/gatsby-terser-sourcemaps/ https://www.interglobalmedianetwork.com/blog/2019-07-10-gatsby-gatsby-image-and-netlify-cms/

[2019-07-17 14:32] pieh commented on #15820
I did some checking and there might be potential issues with https://www.gatsbyjs.org/docs/browser-apis/#replaceComponentRenderer (legacy/deprecated API) - this API allow you to replace Page Component - in v1 of gatsby it was used mostly for the same purpose as wrapPageElement to wrap page component with something - but it returns react element (not component) - which means that if you would not u

[2019-07-17 14:34] #15823 closed

[2019-07-17 14:50] kxdang commented on #15798
@fendermaniac, I have a stupid question but how do I update to the latest version of gatsby?

[2019-07-17 14:57] philippe-lavoie commented on #15136
In my case, removing the reference breaks storybook. However, when I use my ubuntu shell instead of my windows command prompt, then storybook works. Under windows command prompt, I do have a slew of core-js errors too. The workaround for me is to use Linux inside windows.

[2019-07-17 15:03] universse commented on #15820
Thank you very much for looking into this.

[2019-07-17 15:16] dwalks12 commented on #15809
@pieh any ideas on how to handle image transformation outside the gatsby build architecture?

[2019-07-17 15:28] pieh commented on #15832
I definitely can reproduce it. Thanks for report - I'll make sure to fix this and add tests to catch regressions with 404 and path prefix in future while doing so

[2019-07-17 15:31] estevanmaito opened #15841 "Is it possible to pass a Link's href to it's child? (migrating from Next)"
## Summary

I'm migrating a project from Next.js where I use [Reactstrap](https://reactstrap.github.io) (React implementation of Bootstrap).

Right now to create a `nav-link`, for example, I would do this (using Next and Reacstrap):

[code]

And the result would look like:

[code]

**With Gatsby**, the following...

[code]

...results in:

[code]

The immediate and obvious solution I've found is t

[2019-07-17 15:49] #15748 closed

[2019-07-17 15:50] kamilDevguru commented on #14076
@ppsirius so what is the right plugin?

[2019-07-17 16:03] #15354 closed

[2019-07-17 16:04] ppsirius commented on #14076
@kamilDevguru gatsby-source-prismic :sunglasses:

[2019-07-17 16:04] benjam1n opened #15842 "React i18n translation flash (fallback > key > translation)"
I have this setup where I use the same website on three different domains and I have to change the language based on the actual domain, all that is working using a custom detector but the problem is that translations keep flashing in order fallback language then translation key and then it becomes the actual translation that it should have been in the first place. The issue is easier to see when t

[2019-07-17 16:05] bbaker6225 commented on #15751
[code]
if I change my links to straight up use `Link` from `Gatsby`, I still get the issue, so it seems like this is a bug with `gatsby-link` @sidharthachatterjee

[2019-07-17 16:17] jessepinho opened #15843 "Why is Gatsby using watchers for `gatsby build`"
## Summary

## Relevant information
When running `gatsby build`, my CI system (Jenkins) often hits the system limit for file watchers. The limit on the system is 1024. I have only about 700 files in the repo, but this issue seems to occur when multiple builds are running simultaneously.

But my question is, why would `gatsby build` require file watchers? It seems that that would only be needed for

[2019-07-17 16:30] smurrayatwork opened #15845 "[Feature] Multi-core processing for gatsby-plugin-sharp's image queue."
## Summary
Processing through a site with thousands (or tens, hundreds of thousands) of images takes a while to process through gatsby-plugin-sharp's scheduler queue. It'd be nice if the queue could take advantage of using multiple workers to process more than one job at a time.

### Basic example
gatsby-plugin-sharp is already using async and its queue functionality, but the concurrency is set to

[2019-07-17 16:42] fendermaniac commented on #15798
Hi Kien,

I just did npm update gatsby

I hope that helps.

On Wed, Jul 17, 2019 at 10:51 AM Kien Dang <notifications@github.com> wrote:

[2019-07-17 16:45] kxdang commented on #15798
Thank you very much @fendermaniac !

[2019-07-17 16:52] sdzaveri commented on #15613
@pieh Let me know if this works! I changed the package I was using to one of ours that was a bit easier to pull out of our Org. There are two packages under `node_modules/@opengov` that you can't install without access to our org. I included `node_modules` so thats not an issue, but if you have to resinstall for any reason they are under `og_node_modules` as well (though I didn't find copy / pasti

[2019-07-17 17:01] pieh commented on #15613
Thanks @sdzaveri! Taking a look now and will report back if I can (or can't reproduce) (or if I will have issues with dependencies)

[2019-07-17 17:16] pieh commented on #15613
Reproduced locally - thanks for repro!

[2019-07-17 17:24] zslabs commented on #15286
@stefanprobst @wardpeet Any more information I can provide on this one aside from the reproduction repo above? It seems to be stemmed from https://github.com/gatsbyjs/gatsby/pull/14723

[2019-07-17 17:30] vai0 commented on #15126
keep open - will eventually get a repo up. very busy atm :/

[2019-07-17 17:36] sdzaveri commented on #15613
Awesome!! Thanks so much @pieh

[2019-07-17 17:45] #15699 closed

[2019-07-17 17:49] d4rekanguok commented on #14185
hey folks, run into this issue by chance -- I recently wrote a [typescript plugin that does codegen automatically](https://www.gatsbyjs.org/packages/gatsby-plugin-ts/), using `graphql-codegen` api like pieh mentioned above. I've been using it for awhile, so far so good.

The codegen part can be its own plugin really -- I wanted to spin it out but haven't got the chance to do so yet. Give it a try

[2019-07-17 18:37] sagarnasit commented on #15754
@sidharthachatterjee I would like to contribute on Gatsby and this good first issue looks perfect for me. Can you help me to move forward on this?

[2019-07-17 18:39] missmatsuko commented on #15573
This open PR might address this issue:
https://github.com/gatsbyjs/gatsby/pull/14852

[2019-07-17 18:41] #15726 closed

[2019-07-17 18:43] bjatwork opened #15849 "Client only paths"
I have question about client only paths

after click on "2" on page
https://client-only-paths.gatsbyjs.org/

page is loaded corectly, but i i open directly address (or after f5)
https://client-only-paths.gatsbyjs.org/page/2

i get "Page Not Found
Looks like you've followed a broken link or entered a URL that doesn't exist on this site."

there is a way to load correcly client only paths directly?

[2019-07-17 18:52] sidharthachatterjee commented on #15726
Fix published in in `gatsby@2.13.27`

[2019-07-17 18:56] GriffinJohnston commented on #15573
@missmatsuko Thank you! That absolutely address my issue.

[2019-07-17 18:56] #15573 closed

[2019-07-17 19:04] #15849 closed

[2019-07-17 19:04] pieh commented on #15849
Yes. But this is something that Gatsby doesn't have direct control over and requires server or hosting configuration to rewrite dynamic URLs to corresponding html file.

If you are hosting on netlify - you can use `gatsby-plugin-netlify` which will do this automatically (like I did in this pull request https://github.com/gatsbyjs/gatsby/pull/15851 - we should have do this earlier). If you are usin

[2019-07-17 19:06] pieh commented on #15849
Sorry for closing issue (it did automatically by merging linked PR). We can re-open if you feel like question wasn't answered.

After few minutes demo site should also be updated so you will be able to navigate to https://client-only-paths.gatsbyjs.org/page/2 directly (tho there is a catch with this particular demo - that first it will display first page as it loads static html content and then wi

[2019-07-17 19:08] pieh commented on #15843
Because used package for globbing + watching (`chokidar`) doesn't have way to disable watching. We were looking for alternatives, but there were none that actually allow to disable watching. We could use different packages for builds (so only globbing, without watching) and develop (globbing + watching) - but this introduce potential to cause differences between builds and develop

[2019-07-17 19:09] pieh commented on #15845
As mentioned in linked PR - sharp already uses multiple cores. And queues in JS use concurrency not parallelism (unless you implement worker processes - either directly or with packages like `jest-worker`)

[2019-07-17 19:17] cseebach-tpc opened #15853 "Empty string is not a legal matchPath"
## Description

Gatsby does not allow the empty string - `""` - as a page's matchPath. If I want to add this matchPath, I have to write it into `match-paths.json` in the `.cache` directory myself.

The background here: at work, we host a Gatsby site on a prefix without a trailing slash - "/blog" instead of "/blog/" - and without that trailing slash, Gatsby doesn't load page-data correctly and also

[2019-07-17 19:50] missmatsuko commented on #15509
You'll need to add autoprefixer and turn set the grid option (it's false by default):
https://github.com/postcss/autoprefixer#options

[The gatsby-plugin-sass package says autoprefixer is included](https://www.npmjs.com/package/gatsby-plugin-sass#postcss-plugins), but I'm not sure if it is. I don't see autoprefixer in [its dependencies](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsb

[2019-07-17 20:14] pieh commented on #15842
This happens because built static html files are displayed first - and if you are serving same files for each domain - all those domains will have same underlying static HTML.

I think that ideally you would have actual separate builds for each domain (or rather for each language if you use multiple domains for same language). So language used during the build would map to language used by domain.

[2019-07-17 20:36] waltercruz commented on #14962
maybe this issue should be handled on true-case-path? There's a issue opened, from a long time ago:

https://github.com/barsh/true-case-path/issues/2

[2019-07-17 20:37] pieh commented on #15509
We have autoprefixer in gatsby core (which gatsby-plugin-sass uses as we pass some prebundled rules to plugins) - https://github.com/gatsbyjs/gatsby/blob/e2ccb34aebbbd12cce465c863ec106649652c3ba/packages/gatsby/src/utils/webpack-utils.js#L226

By default we use ``['>0.25%', 'not dead']`` as browserslist that we target which includes IE11.

And testing that in https://autoprefixer.github.io/ shows

[2019-07-17 20:41] missmatsuko commented on #15509
@pieh That page has grid prefixing turned on, which is `false` by default:

[2019-07-17 20:49] tremby commented on #15509
The question for this thread may be, then: "how do I change autoprefixer configuration in Gatsby?"

[2019-07-17 20:52] pieh commented on #15509
Thanks @missmatsuko - I was chasing it down the rabbit hole and doing some breakpoint debbuging and I definitely missed that note there. You just saved me a lot of time and frustration 🙏

Yeah, I think this makes a lot of sense here. Also probably dedicated note specifically for grid layout and IE linking to docs that @missmatsuko pasted.

I'll take a look if it's possible right now to hook into a

[2019-07-17 20:53] missmatsuko commented on #15509
I found this related issue which makes it sound like it's not possible at the moment:
https://github.com/gatsbyjs/gatsby/issues/11984

[2019-07-17 20:56] pieh commented on #15509
We can modify webpack config via plugins (and gatsby APIs in general), so it's technically possible (but certainly will be messy). There is defenitely demand to make it configurable (based on linked issue and this one). I'll try to come up with code snippet to do this

[2019-07-17 21:04] codepunkt commented on #15826
Thanks. This way of defining options work for both `remarkPlugins` and `rehypePlugins`:

[code]

[2019-07-17 21:04] #15826 closed

[2019-07-17 21:06] rgllm commented on #8051
Hi @openmedi, do you have an example of this?

[2019-07-17 21:24] pieh commented on #15509
Ok - this is very hacky and might need to be iterated on or turned into plugin to make it easier to use - but if you use this in your `gatsby-node.js`:

[code]

you can modify `autoprefixer` options (only important line here for modification is one containing `` postCssPlugin.options.grid = `autoplace` ``

[2019-07-17 21:26] pieh commented on #15509
But also, if you want to use `-ms-` prefixes for Grid - be sure to read link from missmatsuko ( https://github.com/postcss/autoprefixer#does-autoprefixer-polyfill-grid-layout-for-ie ). There's reason why this is disabled by default.

[2019-07-17 21:28] KyleAMathews commented on #15805
Both ctrl+space & command+space work for — but only inside the text editor — not the explorer

Annotated:
<img width="1720" alt="GraphiQL_and__11__Notifications___Twitter_and_1__gatsby-starter-blog__gatsby_develop__gatsby__node_" src="https://user-images.githubusercontent.com/71047/61412945-178e9f00-a89f-11e9-92d5-d93dd6801257.png">

[2019-07-17 21:30] missmatsuko commented on #15509
Oh yeah, looks like it may be possible to enable grid prefixing through a control comment in the CSS:
[code]

[2019-07-17 21:33] pieh commented on #15805
I'm not sure what ctrl/cmd+space should actually do when you are in explorer honestly

[2019-07-17 21:34] KyleAMathews commented on #15804
yeah — we can deprecate this initially and remove it in v3. If we deprecate it it'll keep working but not show up in graphiql which is my main goal.

[2019-07-17 21:35] pieh commented on #15805
If you mean cmd/ctrl + enter then it makes a lot more sense to me

[2019-07-17 21:38] KyleAMathews commented on #15805
Oh haha, yeah cmd+enter 🤦‍♂

[2019-07-17 21:38] KyleAMathews commented on #15805
My fingers knew the right keystroke, just not my brain :-D

[2019-07-17 21:39] pieh commented on #15509
The control comments will work as well, but you will need to remember to use them in every file as they have local scope (it might be something you actually want)

[2019-07-17 21:52] erikhopp commented on #15387
Hi!

What else can I do to help move this issue forward? I'm still not able to get what seems to me to be pretty basic routing working within Gatsby.

@wardpeet, since you've assigned this to yourself, does that mean you have a diagnosis for the issue?

Thanks all for taking a look!
Erik.

[2019-07-17 22:00] fk commented on #15806
Could be a nice opportunity to define a "screenshot spec" and try to streamline things a little more (even though the screenshot content is _much_ more important than the appearance).

[2019-07-17 22:22] pieh commented on #15387
Hey @ericpoe
You do need to have `/thing/` page first when you are using `gatsby-plugin-create-client-paths` plugin or code in https://github.com/erikhopp/gatsby-routing-test/blob/master/gatsby-node.js (btw. both of those do the same thing).

So you would need to create file `/src/pages/thing.js` with react component. That react component will be rendered then for `/thing/*` paths

[2019-07-17 23:02] KyleAMathews opened #15859 "[www] Replace Algolia search components with our own"
We should own our search experience as it's a key part of .org and the current search experience isn't great.

They're used for the global search and the plugin library.

My preference as well would be we move to a full-page search page.

[2019-07-17 23:06] Kosai106 commented on #15859
Hi Kyle, Kevin from Algolia here - How can we help you improve your search experience?

And as for the full-page search page, we can help with that too as we recently built that ourselves for our [homepage](https://www.algolia.com/search/), built on Gatsby of course.

[2019-07-17 23:34] KyleAMathews commented on #15859
The search is great — we just want to move to our own component library! One way perhaps that'd help is to extract a simpler/smaller library that's easy for us to wrap in e.g. https://github.com/downshift-js/downshift? Or maybe you already have that?

[2019-07-17 23:41] Kosai106 opened #15860 "Link sitemaps using gatsby-plugin-sitemap"
## Summary

TL;DR - Is it possible to link two sitemaps using `gatsby-plugin-sitemap` as described [here](https://support.google.com/webmasters/answer/75712?hl=en)?

## Relevant information

I have two Gatsby applications - One for my main website, and another for a specific sub-path. Sadly there's no way I can merge these apps, I need them to be separate.

To improve our SEO, we'll need a sitemap

[2019-07-18 00:38] rlynn523 commented on #15125
@marcysutton here is the link to the PR https://github.com/gatsbyjs/gatsby/pull/15861

[2019-07-18 00:52] pieh commented on #15832
I opened pull request with fix for this https://github.com/gatsbyjs/gatsby/pull/15858 ( if you want to track progress on this bugfix for this)

[2019-07-18 00:54] pieh commented on #15853
I'm not sure if hacking `matchPath` is the way here - seems like root issue lies elsewhere and this is just workaround?

[2019-07-18 01:08] steverandy commented on #15273
I'm also having the same issue with the latest version of gatsby 2.13.27.

[2019-07-18 01:21] cwgw commented on #15486
@ChristopherBiscardi thank you for the detailed explanation. And thank you for all of the work on MDX in Gatsby!

You've made the point a few times that using MDX obviates the need for a bunch of the gatsby-remark plugins.

I'm kind of in over my head here, but I think a fourth option would be to just drop support for gatsby-remark-* plugins.

I've looked at your autolink-header and prism replacem

[2019-07-18 02:27] vai0 commented on #15126
As an update - just realized that this issue only exists in development. Post-build the previews render just fine. Took a quick look at the networking tab again and realized that `cms.css` IS being loaded in, but the contents isn't CSS

`cms.css` in development
[code]

[2019-07-18 02:27] colbyfayock commented on #15401
i'm also seeing the `Error loading a result for the page query` in develop mode in my terminal and when deployed seeing the `.../page-data.json net::ERR_ABORTED 404 (Not Found)` errors for the client routes.

on v2.13.27

you can see this on the `simple-auth` example by installing and upgrading the packages to latest

## Develop
![image](https://user-images.githubusercontent.com/1045274/61424453-8

[2019-07-18 02:37] huynhpeter commented on #14911
@stephepush Still getting the same error after following your steps. Any other advice?

[2019-07-18 03:21] jerroydmoore commented on #15773
Switching to yarn seems to have worked well for me! Thanks for the tip. I'll close this issue now.

[2019-07-18 03:21] #15773 closed

[2019-07-18 03:24] mathmathniconico opened #15864 "Break line is necessary for using Katex with MDX component. ( gatsby-plugin-mdx )"
## Want to make a component like theorem environment of latex
I tried to show katex math-expression in MDX components and finally did it.
But, as follows, a break line is needed when writing .mdx files.
I think it's not readable.

And also, in the result, "Theorem children" has strange margins between `<div>`.
I can fix it by adding styles like `{ margin: "-1em 0em" }`, but I don't like it.

How t

[2019-07-18 05:26] spences10 commented on #15481
Yeap! That did it for the `font-sample-component` repo thanks @wardpeet :pray:

For `scottspence.me` I didn't have `gatsby-transformer-sharp` or `gatsby-plugin-sharp` in my `transformer-remark` plugins :man_facepalming: see comment here: https://github.com/gatsbyjs/gatsby/issues/15625#issuecomment-511978323

[2019-07-18 05:26] #15481 closed

[2019-07-18 05:29] spences10 commented on #15344
I fixed my issue, for me it was a configuration issue :man_facepalming:

I didn't have `gatsby-plugin-sharp` & `gatsby-transformer-sharp` added to my `transformer-remark` plugins array.

[2019-07-18 05:43] wardpeet commented on #15528
Glad that everything is working. Sorry for dropping the ball here.

[2019-07-18 06:20] kiliw commented on #2021
I just came across this issue because we also wanted to have content from two contentful spaces merged. I tried the way of @hirviid
[code]

For us the important thing was to rename the contentmodels (the `content type ID` does not matter apparently) in the one space to make sure there are no dublicates.

Thanks beeing able to use multiple spaces helped us to save a lot of time :)

[2019-07-18 06:39] francoischalifour commented on #15859
If you're referring to DocSearch, we've been working on a POC with Downshift that may make it for DocSearch.js v3 [on the `next` branch](https://github.com/algolia/docsearch/tree/7c58f7fbae4c4892978563556d95e97f2eee18e5). This results in a final bundle twice smaller, and more modularity to import only what you need.

It might take some time before we dedicate more people to the project and we offi

[2019-07-18 07:08] hannesd commented on #15832
Thanks!

[2019-07-18 07:58] MartinConde commented on #13761
@lexcode Actually I only had the issue when using the pro version, using the free version everything worked fine. I think your error might be a different one, do you have a repo up with the full code?

I ended up just switching back to wpml again and passing the ID of the translation through context, then using that id to query the path of the translated page and passing that value all the way bac

[2019-07-18 08:02] TitanNano commented on #15593
@jonniebigodes I created a PR #15835 for this issue.

[2019-07-18 08:08] freiksenet commented on #15386
Glad that this got fixed! I'm closing this issue for now, please don't hesitate to reopen it if the problem persists.

Thank you @jxnblk and @jakewies!

[2019-07-18 08:08] #15386 closed

[2019-07-18 08:09] freiksenet commented on #15347
Thank you for your patch!

[2019-07-18 08:09] #15347 closed

[2019-07-18 08:20] freiksenet commented on #14952
@martingtheodo Thank you for this PR! Let's continue talking there, I'll be closing this issue.

[2019-07-18 08:20] #14952 closed

[2019-07-18 08:23] freiksenet commented on #14879
@bengry Certainly not stale. CC @sidharthachatterjee

[2019-07-18 08:23] freiksenet commented on #14766
Ping @mxxk.

[2019-07-18 08:42] freiksenet commented on #14662
@0tho This looks good, could you make a PR so that we can make a review?

[2019-07-18 08:46] #15305 closed

[2019-07-18 09:01] lexcode commented on #13761
I got it sorted yesterday @MartinConde, by using the polylang free version + [wp-rest-polylang](https://github.com/maru3l/wp-rest-polylang)

Cheers!

[2019-07-18 09:04] freiksenet commented on #15864
Thank you for your report! CC @johno

[2019-07-18 09:10] vai0 opened #15866 "Check if page already exists before calling createPage to avoid nondeterministic routing"
We currently have a set of pages in  `/src/pages/` and another set of pages built programatically with `createPage` in the `createPages` gatsby node API hook.

We want to prevent programmatically created pages from potentially overlapping pages in `/src/pages`.

I've tried querying for all pages in the `createPages` hook with
[code]
but it seems like pages from `/src/pages/` are sourced AFTER the

[2019-07-18 09:15] freiksenet commented on #15210
Closing as a duplicate.

[2019-07-18 09:15] freiksenet commented on #15210
Sorry closed wrong issue :)

[2019-07-18 09:16] freiksenet commented on #15784
Closing as a duplicate.

[2019-07-18 09:16] #15784 closed

[2019-07-18 09:17] freiksenet commented on #15210
Closing as this seems resolved.

[2019-07-18 09:17] #15210 closed

[2019-07-18 09:29] freiksenet commented on #15787
Sorry to hear you are having issues @Blackglade! Could you see if this is fixed for you with latest Gatsby version?

[2019-07-18 10:47] leonfs commented on #4125
We've been experiencing this problem too.

[2019-07-18 10:56] eunjae-lee commented on #15859
As a big fan of Gatsby, and as a person working at Algolia, I'd love to see both Gatsby and Algolia gets improved together! 😄

[2019-07-18 11:42] s-pace commented on #15859
Working on DocSearch and I second @francoischalifour. We are aware of that and will release it on beginning of September. Join the Facebook team as our beta users 🚀🚀

[2019-07-18 11:49] dandesz198 commented on #10482
Hey! 👋
Has there been any process regarding this issue? I see @sidharthachatterjee assigned it to himself, was there any improvement?
My use case would be the same as @lxibarra, @guyinpv, and others described. I'm trying to optimize images with `gatsby-images` but I don't want to define a GraphQL query for each picture.
I understand how and why the "download every image and then filter them" appro

[2019-07-18 11:53] xavivars opened #15868 "feat(gatsby-transformer-remark): Add a filter to preprocess raw content"
## Summary

Add a way to pre-process content that then will be processed by gatsby-transformer-remark.

### Basic example

Currently, `gatsby-transformer-remark` exposes a way to access the markdown AST, but that is after parsing the text into markdown. There could be an easy way for `gatsby-transformer-remark` also allow to hook into the content before the AST parsing appears:

[code]

### Motiva

[2019-07-18 12:18] freiksenet commented on #15866
Hi!

We recommend that in this case you create all pages using `createPages` API. You can put files in `src/pages` to eg `src/templates/pages` and then go through all files in that directory in your `createPages`. This way you'll have a list of pages that you can check against.

Hope that helps!

[2019-07-18 14:04] stefanprobst commented on #15216
I'm going to close this, but feel free to reopen if there is still an issue.

[2019-07-18 14:04] #15216 closed

[2019-07-18 14:13] schickling commented on #3721
Still seems to be broken for me as well.

[2019-07-18 14:15] vesst opened #15870 ".cache folder file paths from absolute to relative"
Recently I built gatsby site using `gatsby-source-custom-api` to get information from json files and using the functionality to download and process images. The app is hosted on AWS Amplify and I am stuck with the following problem:
Every time a build is run all images are downloaded and processed again, but the plugin itself supports `modified` field (https://www.gatsbyjs.org/packages/gatsby-sour

[2019-07-18 14:16] stefanprobst commented on #15286
@zslabs i can now reproduce this, just haven't had time to look into it.

[2019-07-18 14:52] cseebach-tpc commented on #15853
@pieh maybe! We use this strategy because it's much simpler than rewriting those files ourselves, given the impressive pace of Gatsby development. ❤️

The root of our particular issue is that Gatsby assumes the root URL will always be `/` after any pathPrefix is removed. Undoing that assumption requires at least changes to `production-app.js` and `loader.js` and probably some other files that I mi

[2019-07-18 14:55] codepunkt commented on #15058
@ChristopherBiscardi I was just about to open an issue on this, but just found it has already been reported.
The branch `remarkImages-md-vs-mdx` on https://github.com/codepunkt/codepunkt.de also shows this problem with svg placeholders.

Steps to reproduce:
1. check out the repo
2. switch to `remarkImages-md-vs-mdx` branch
3. `yarn && gatsby build && gatsby serve`
4. click the articles link on the

[2019-07-18 15:04] santoshgistto commented on #9210
@FabriceReynolds  found any solution . ?

[2019-07-18 15:10] johno commented on #15864
Hey @mathmathniconico,

The empty line is necessary and is part of the [commonmark](https://spec.commonmark.org/0.29/#example-136) [specification](https://spec.commonmark.org/0.29/#example-137) in order to open up Markdown parsing after an opening HTML/JSX tag.

The margins are likely due to styling based on paragraph tags since the Markdown inside Theorem will be parsed as a paragraph. In order t

[2019-07-18 15:10] #15864 closed

[2019-07-18 15:13] stefanprobst commented on #15868
It should be possible to do this with a gatsby-remark plugin that preprocesses the md source by exporting a `mutateSource` function and manipulating `markdownNode.internal.content` it seems.

You could do this as a local plugin, i.e.:
[code]
Make sure to also put a minimal `package.json` in `plugins/gatsby-remark-preprocess` and add it as a subplugin:
[code]

[2019-07-18 15:14] afenton90 opened #15872 "Can you opt-out of webpackCompilationHash (to improve Netlify build times)"
## Summary
Within the `gatsby-script-loader` script at the bottom of any page there is a `window.webpackCompilationHash` set. This hash is updated during every change to anything in the `src` directory.

This means deploying onto services such as Netlify take longer than expected. Netlify has advanced features for builds so only assets which content has updated since the last build are transferred

[2019-07-18 15:15] matthieuauger opened #15873 "[gatsby-plugin-page-creator] (Suggestion) Use explicitly plugin page creator for new gatsby sites"
## Summary

Hello 🙋‍♂️I'm currently working on the migration of a gatsby site to a gatsby theme. One of the issues I faced is [explained here](https://github.com/gatsbyjs/gatsby/blob/69445cec9b93897a5819f344965da57bfddd5f22/docs/docs/themes/converting-a-starter.md#sourcing-pages
). By default a gatsby site will load pages in src/pages directory. A theme doesn't and need to have the gatsby-page-cre

[2019-07-18 15:21] matthieuauger commented on #15873
@ChristopherBiscardi As this is related to themes, you may have an opinion on this, your feedback would be really helpful 💯

[2019-07-18 15:31] afenton90 commented on #15872
Guessing lines such as this https://github.com/gatsbyjs/gatsby/blob/68e15e7b68fcf8d3bae350356ac50fe1cee015a9/packages/gatsby/cache-dir/navigation.js#L99 mean that it is pretty integral to some Gatsby features.

[2019-07-18 16:01] mathmathniconico commented on #15864
Thanks a lot!
Actually, without MDX, I couldn't make the Theorem as above.
With it, I can start making my math-site.

I should post this in mdx-js/mdx, sorry.

[2019-07-18 16:24] lexcode commented on #9615
I am facing the same issue here =/

Plugins installed
![image](https://user-images.githubusercontent.com/349424/61474557-d1117100-a980-11e9-9271-516e1a09f701.png)

Can't find ACF here
![image](https://user-images.githubusercontent.com/349424/61474597-e7b7c800-a980-11e9-83fa-50aa1ce69235.png)

[2019-07-18 16:29] sidharthachatterjee commented on #15804
Notes on what needs to be done for first time contributors

- [ ] Deprecate the field (Example in https://github.com/gatsbyjs/gatsby/pull/15409)
- [ ] Ensure there is no usage of it in this monorepo

[2019-07-18 16:29] vai0 commented on #15866
Appreciate the quick response! I would prefer to keep the default directory structure so there's less potential confusion for future contributors to our project.

In the interim we're wrapping all createPage in a createPageSafely wrapper, including the existing `createPage`s I already have in `onCreatePage` and keep track of built pages this way instead.

So something like this:
[code]

[2019-07-18 16:36] KyleAMathews commented on #15872
Just double checking but are you on the latest version? We recently made a change where the goal was to address this exact issue https://github.com/gatsbyjs/gatsby/issues/11982

It's possible however we haven't completely nailed the solution still.

[2019-07-18 16:36] #15832 closed

[2019-07-18 16:38] shezvar commented on #3086
Surge does not allow hosting for PDF file due to users abusive it. Some people started using it to host files and whatever of sizes in Gigabytes. So, on default, you can't host PDF files.

https://github.com/sintaxi/surge/issues/257

[2019-07-18 16:52] sidharthachatterjee commented on #15832
Fix published in `gatsby@2.13.28`

[2019-07-18 16:54] JasherIO commented on #15758
I've the same issue when running `gatsby new my-blog https://github.com/gatsbyjs/gatsby-starter-blog-theme` from instructions [here](https://www.gatsbyjs.org/blog/2019-07-03-customizing-styles-in-gatsby-themes-with-theme-ui/).

System:
OS: Windows Version 10.0.18362 Build 18362
CPU: Intel(R) Core(TM) i5-4460  CPU @ 3.20GHz, 3201 Mhz, 4 Core(s), 4 Logical Processor(s)
Binaries:
Yarn: 1.13.0
npm: 6.

[2019-07-18 16:55] molebox commented on #15804
Oh could i have a go at this?

[2019-07-18 16:57] molebox commented on #15758
Sorry ive been away from my computer the last couple of days. I will try and show you my repo this evening

[2019-07-18 17:02] tormi commented on #11541
It started after I disabled offline mode if I remember correctly.

[2019-07-18 17:04] sidharthachatterjee commented on #15841
There isn't a straightforward way to do this at the moment. Gatsby's Link component is a wrapper on top of Reach Router's [Link](https://reach.tech/router) component

However, you could solve your issue (of putting the `nav-link` class on the underlying anchor element in either of the following ways:

- Use the `getProps` prop (takes a function that can return props to be set on the inner anchor e

[2019-07-18 17:05] Kosai106 commented on #15860
So instead, would you recommend me to generate the sitemaps as I normally would, then using `onPostBuild` to write a node function that'll create the linked sitemap for me instead, or do you have any other recommendations?

[2019-07-18 17:09] kumar-gitdev opened #15877 "How to use or setup Foundation CSS with Gatsby"
Hi,

We are planning to use Gatsby as a Framework for our company, one of the requirement is using Foundation CSS with Gatsby, could some one guide me how to use Foundation CSS(https://foundation.zurb.com/) and Gatsby together I don't see any documentation or working examples.

Thanks,
Kumar.

[2019-07-18 17:48] vcarl commented on #15032
I guess whether this is stale or not depends on whether it's okay for 100ms in latency to slow down this stage of the build by 4x, and more to have a correspondingly larger slowdown.

This has bitten me in the form of builds failing due to timeout during a latency spike. The behavior was surprising to me since it seems the data could be front-loaded, eliminating the need for fetching it when build

[2019-07-18 17:50] tinder-kyleboss commented on #15168
Not stale :) Working on the fix (here)[https://github.com/gatsbyjs/gatsby/pull/15280]

[2019-07-18 18:03] abumalick opened #15879 "[gatsby-plugin-sass] Add a configuration for sass plugin file regexes"
## Summary
We want to use css modules with sass, but we don't want to add `.modules.` to the filename for every scss file in our app. Instead, we want to add `.global.` to global files, and normal scss files are modules by default.

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sass/src/gatsby-node.js#L37
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin

[2019-07-18 18:16] Nessworthy commented on #5329
An additional data point, I had an AWS CloudFront distribution backing an S3 bucket with gatsby content.
I'd added a rule to route all 403s as 404s and serve /404.html. (instead of the gnarly permission denied messages)
On the index page of any of the folders, this issue popped up.

What I ended up doing is enabling the static site in S3 and making CloudFront back that URL instead of integrating i

[2019-07-18 18:45] marcysutton commented on #15859
To add more context, here's some background on where the Algolia setup needs to be adjusted: https://github.com/gatsbyjs/gatsby/issues/12503
We also got in touch in the Algolia repo: https://github.com/algolia/docsearch-configs/issues/783

[2019-07-18 18:52] marcysutton commented on #15806
@KyleAMathews do you mean reflecting the changes to the GraphiQL interface? I think there are screenshots of it in the tutorial already. Just wanted to clarify for whoever picks this work up.

[2019-07-18 19:09] motleydev opened #15881 "Imports in programmatic MDX pages require reboot of the web server"
## Description

If I try to import content to a programmatically processed mdx page, I must first reboot the server otherwise I get undefined.

### Steps to reproduce

See this repo: https://github.com/motleydev/mdx-import-bug

### Expected result

Imports should be immediately available.

### Actual result

Imports are undefined until rebooting the server.

### Environment

[code]

[2019-07-18 19:09] KyleAMathews commented on #15806
Yeah mostly screenshots. Probably some of the text could be updated as well to reference it as well.

[2019-07-18 19:51] CRSantiago commented on #15397
This worked for me as well!

[2019-07-18 20:03] #15041 closed

[2019-07-18 20:03] #14780 closed

[2019-07-18 20:11] cluk3 opened #15883 "[gatsby-plugin-offline] creates link prefetch from link preconnect"
## Description

I have both gatsby-plugin gatsby-plugin-google-analytics and gatsby-plugin-offline installed.
When running lighthouse in production, it gives me the following warning:

![image](https://user-images.githubusercontent.com/6255324/61488016-965a0980-a97d-11e9-8734-2197b1bec028.png)

Which is weird cause I'm not consuming any resource from `https://marketingplatform.google.com` 🤔
So i s

[2019-07-18 20:16] mavam opened #15884 "Weird component reordering issue"
## Description

I'm experiencing a weird "component reordering" bug where the footer appears above the main content. Other than Gatsby, I'm using Semantic UI. I don't have anything UI-specific in the `gatsby-*.js` files; `gatsby-browser.js` just has an import for a CSS font, `gatsby-node.js` includes logic to create blog pages, and `gatsby-config.js` the usual plugin configurations.

### Steps to

[2019-07-18 20:22] erquhart commented on #4335
@interglobalmedia we fixed Tom's issue, can you open a separate one for this? Need steps to reproduce, etc.

[2019-07-18 20:23] cluk3 commented on #15883
If this is really an issue and not the expected behaviour I'd be happy to discuss a possible solution and submit a PR with the fix

[2019-07-18 20:29] interglobalmedia commented on #4335
@erquhart I fixed my own issue. Sorry that I did not follow up here! I think I told you about resolving? Too long to explain here, but essentially it had to do with the new terser peerDep in Gatsby and that meant that I had to stay with gatsby v 2.10.0 in the project and use npm-force-resolutions to fix the issue. Here is the repo if you want to take a look at what I use: [interglobalmedianetwork.

[2019-07-18 20:31] erquhart commented on #15707
I believe @talves was looking into something like this.

[2019-07-18 20:35] erquhart commented on #4335
Ah, didn't realize this was posted before we last talked - no need to open another issue! Glad you got it sorted 👍

[2019-07-18 20:37] interglobalmedia commented on #4335
Me too! Thanks for everything @erquhart!

[2019-07-18 20:39] erquhart commented on #15126
Note that you're registering a URL - Netlify CMS injects a `link` with it's `href` set to `cms.css` into the head of the preview pane iframe. It sounds like there's no file named `cms.css` available during development, probably because Gatsby is adding a hash after the filename so it's `cms-a6fe32.css` or something.

That said, `gatsby-plugin-netlify-cms` is specifically designed so that you don't

[2019-07-18 20:48] josefaidt opened #15885 "[docs] Add documentation for ENV files in themes"
# Summary

On this week's maintainers call I asked about using ENV files in Gatsby themes. After trying a few different approaches I think I landed on a sufficient solution and was wondering if/where to document.

## Relevant information

[code]

This may not be the *best* approach, however I find it works well in my use case. Happy to hear any feedback or additional insight to a more appropriate

[2019-07-18 20:58] tdharmon commented on #10391
@coreyward did you ever figure out a solution to this? I am also having this issue

[2019-07-18 20:58] x5engine commented on #15242
yes use the latest gatsby version and also remove .cache and public folder then run your app again

[2019-07-18 20:58] #15885 closed

[2019-07-18 20:59] cdaein commented on #15499
In my case, it does remember scroll position when I click browser back button. (I am using Gatsby's `<Link>` API)

On a related note, I wonder how i can simulate the same behavior with a button I create.

[2019-07-18 21:03] sgrove commented on #15805
@pieh we definitely handle this in the explorer whenever an input box is focused, here's the line that should be run: https://github.com/gatsbyjs/gatsby/blob/9ef6dbffb2a1f82d68a5b8ec02eb6d51e4b522ca/packages/gatsby-graphiql-explorer/src/app/app.js#L284 ( [here](https://github.com/OneGraph/graphiql-explorer/blob/master/src/Explorer.js#L561)'s the code detecting the shortcut)

@KyleAMathews Feedback

[2019-07-18 21:15] #14897 closed

[2019-07-18 21:16] talves commented on #15707
Yes, this should be handled by Gatsby. Specifically a Gatsby source plugin! 🙂. Sorry, I missed this issue.
The problem is everyone is creating Gatsby sites with inferred data in their graphQL and expect it to pick up the fields. This is an issue, because it can be solved by creating the types in the schema.

Anyway, **good news**. I am writing a source plugin right now that will resolve a dynamic

[2019-07-18 21:22] austincondiff commented on #15707
@erquhart I think the reason they haven’t addressed it is because you can theoretically define your own schema in gatsby-node, however doing this would be redundant when using Netlify CMS as you have already done this in `config.yml`.

[2019-07-18 21:24] talves commented on #15707
@austincondiff Shawn was talking about a Gatsby solution not Gatsby the team, I believe.

[2019-07-18 21:25] KyleAMathews commented on #15805
After checking a field.

On Thu, Jul 18, 2019, 3:03 PM Sean Grove <notifications@github.com> wrote:

[2019-07-18 21:35] vai0 commented on #15126
Ah gotcha. Unfortunately our repo is private.  But my [forked version](https://github.com/vai0/gatsby-plugin-netlify-cms/blob/master/src/gatsby-node.js) of `gatsby-plugin-netlify-cms` is public, and I'm free to share files I think may be relevant here... .e.g, here's our custom cms.js. Let me know what else I can do to help.

[code]

[2019-07-18 21:43] coreyward commented on #10391
@tdharmon Not one I was happy with, no. The best solution I could come up with would be to use Babel to transpile a specific shared folder as a pre-`develop` and pre`build` hook, then use the transpiled files to do `require` on in `gatsby-node.js` and use an `import` for app-code that would get processed by the Babel/Webpack configuration as part of Gatsby's pipeline. I never bothered setting this

[2019-07-18 21:56] erquhart commented on #15707
Yeah I like that better than creating ghost entries.

[2019-07-18 22:01] erquhart commented on #15126
So `gatsby-plugin-netlify-cms` is using this file as an entry point in a dedicated webpack build, and all css/scss files imported through this entry point get injected to your preview pane. Is that not happening? If there are missing styles, it may just be a matter of importing those styles here.

[2019-07-18 22:13] xavivars commented on #15868
It's seems, simply, perfect. We'll give it a try.

[2019-07-18 22:22] joelwilsonmt opened #15887 "React Helmet information injected incorrectly in <head>"
## Description

I am importing bootstrap (`import 'bootstrap/dist/css/bootstrap.css';`) in my Layout component, but when I do the information I have in my React Helmet configuration is not available after running `gatsby build` as static in the HTML <head> (for site crawlers, CURL requests, etc.). If you load the page it is dynamically injected using JavaScript but that is not ideal.

When I do no

[2019-07-18 22:24] vai0 commented on #15126
The styles are not being imported in development, but they are just fine post-build.

Can you clarify what the difference is between the cms.js in the `gatsby-plugin-netlify-cms` and our custom `cms.js`? If we have our own `cms.js`, does it simply override the existing `gatsby-plugin-netlify-cms`'s `cms.js`?

[2019-07-18 23:12] mitchossi commented on #14911
Deleting package-lock.json didn't help. I'm still encountering the same error:

 throw ex;
        ^

RangeError: Maximum call stack size exceeded

[2019-07-18 23:17] erquhart commented on #15126
Yep, your module overrides the default one.

Just checked this out locally and looks like our plugin is busted - its injecting styles direct to the CMS itself, and also seeing the 404 for some styles too. I'll look into this more in the am.

[2019-07-18 23:31] ind1go commented on #15800
Thanks! You even pre-empted my other questions.

[2019-07-18 23:31] #15800 closed

[2019-07-18 23:49] trevorblades commented on #15787
I was seeing the same issue here. It turned out to be a greater issue affecting all Gatsby Remark plugins, so I created a PR for `gatsby-transform-remark` that address the issue: https://github.com/gatsbyjs/gatsby/pull/15889

[2019-07-19 00:22] CodeBradley commented on #14911
I receive the same error as OP. I'm on Windows 10 with gatsby 2.13.* - I'm currently trying to see if using version gatsby-cli@2.6.13 & gatsby@2.9.10 will work as per @wardpeet's suggestion.

[2019-07-19 00:33] #15787 closed

[2019-07-19 00:48] austincondiff commented on #15707
@talves I’d have to agree. Creating a schema dynamically based on your config would be excellent, much better than ghost entries. That was simply a bandaid I am using currently. How far along are you? Do we have an ETA? Will this be a separate plugin or part of gatsby’s netlify-cms plugin?

[2019-07-19 01:08] talves commented on #15707
@austincondiff Unfortunately, I don't have an ETA. Since it is not a paid gig, real work will come first. I work on it as I have time. 😜 It's planned to be it's own plugin for now.

[2019-07-19 01:21] pawsong opened #15891 "netlify cms admin does not load css from preview panel"
## Description

netlify cms admin does not load css from preview panel. The css are loaded from root window.

This issue occurs because of this recently added code:

https://github.com/gatsbyjs/gatsby/blob/ea117e3d81660a96c9e2174d99b41739e72691d6/packages/gatsby-plugin-netlify-cms/src/gatsby-node.js#L32

Removing test field existence check (` || !value.test`) fixes this issue, but I am not sure if

[2019-07-19 02:00] jlengstorf commented on #15119
I think this is done, so I'm going to close it.

[2019-07-19 02:00] #15119 closed

[2019-07-19 02:49] d4rekanguok commented on #15884
Sounds like it could be a ssr mismatch issue, or css/markup issue? Does this happen during `gatsby develop` as well? It would be helpful to be able to see the rendered markup, can you share a link to the site?

[2019-07-19 03:10] ehowey commented on #15581
I can confirm this worked for me as well - I was getting an identical error.  I wonder if this needs to be fixed somewhere more permanent that does not need this workaround.  Thanks for your work in problem solving this!  Saved me a ton of headache!

[2019-07-19 03:15] missmatsuko commented on #11901
Closing as duplicate of #5929, lets continue over there!

[2019-07-19 03:15] #11901 closed

[2019-07-19 03:29] khus29 commented on #15141
I have solved this issue. I am querying CT while build run and updating siteMetaData using onCreateNode lifecycle methods. We can close this issue.
Thanks.

[2019-07-19 03:29] #15141 closed

[2019-07-19 03:40] missmatsuko opened #15892 "Must we install Zoom for pair programming?"
## Summary
I saw that [Gatsby has offers pair programming](https://www.gatsbyjs.org/contributing/pair-programming/), which is awesome.

But [it looks like we need to install Zoom for the sessions](https://calendly.com/gatsbyjs/pair-programming?month=2019-07), which is not so awesome due to [Zoom's recent security fiasco](https://medium.com/bugbountywriteup/zoom-zero-day-4-million-webcams-maybe-an-

[2019-07-19 05:17] moroshko opened #15893 "How to apply Link's activeStyle when URL ends with a trailing slash?"
When I load a URL that has a trailing slash, `Link`'s `activeStyle` isn't applied.
Repro [here](https://github.com/moroshko/gatsby-active-link-issue).
What's the best way to deal with this?

[2019-07-19 06:01] mavam commented on #15884
I don't have a `gatsby-ssr.js` in the repo. I also checked whether [this CSS tweak](https://github.com/gatsbyjs/gatsby/issues/7454#issuecomment-500123151) could be the culprit, but it doesn't make a difference when I comment this snippet. Other than that, I don't have any custom CSS on top of Semantic UI

No, just in the production build.

I've posted a link to the compiled site in step (3) above.

[2019-07-19 06:09] tremby opened #15894 "Tests failing since a few weeks ago"
## Description

While following the guide at https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/ I hit failing tests at step 6. Master at time of writing is ea117e3d8

Two issues:
- Some tests fail
- Testing framework doesn't exit

### Steps to reproduce

Follow the guide as far as `yarn test`.

### Expected result

Tests pass, and the testing program exits.

### Actual re

[2019-07-19 06:11] tremby commented on #15894
@stefanprobst you're the author of that commit. Any idea what's up? Presumably it was passing for you or you wouldn't have submitted it.

[2019-07-19 06:21] missmatsuko commented on #15894
Having same issue.
Are tests being checked before marking a release?
Or maybe something missing on our local environments that isn't noted in the set up docs.

[2019-07-19 06:32] stefanprobst commented on #15894
Tests are passing for me locally, and have been passing in CI.
i *do* have jest not exiting because of `gatsby-dev-cli/src/__tests__/watch.js` locally (which does not seem to be an issue in CI though)

could you provide more info on what you're getting after `yarn bootstrap && yarn jest`?

[2019-07-19 06:45] tremby commented on #15894
OK.

Here's the output of each command. I ran them with `2>&1 >file` so stderr and stdout should both be in there, in order.

The `yarn test` command hangs forever. I had it going through `tee` so I could see when it's done as far as I'm aware, waited a good minute, then exited with ^C.

If you search `FAIL` in the `yarn test` output you'll find the failed tests.

See also the message a few lines

[2019-07-19 06:48] tremby commented on #15894
The failed test's diff

[code]

Sorta seems like some external data structure has changed. Is this test calling out to a third-party source over the network? If something there changed some time in the last few weeks that'd explain the tests suddenly failing even though the Gatsby code hasn't changed.

[2019-07-19 07:25] stefanprobst commented on #15894
i guess this is an issue with UTC Dates, I will look into this later today!

[2019-07-19 07:26] afenton90 commented on #15872
I've re-tried this morning with `gatsby@2.13.28` and I see the same behaviour. It is only the `window.webpackCompilationHash` that updates, which is the root cause of the issue.

Happy to help working on a resolution for this. May need some guidance on the best place to start though.

[2019-07-19 07:44] stefanprobst commented on #15894
@tremby if possible, could you check if  #15895 fixes the issue for you? thanks!!

[2019-07-19 08:15] ravibhagat commented on #14911
Same error:
C:\Users\ravi.bhagat\workspace\repos\ui-dxp-smartads-admin\node_modules\yoga-layout-prebuilt\yoga-layout\build\Release\nbind.js:53
        throw ex;
        ^

RangeError: Maximum call stack size exceeded
    at appendUpdateToQueue (C:\Users\ravi.bhagat\workspace\repos\ui-dxp-smartads-admin\node_modules\react-reconciler\cjs\react-reconciler.development.js:8113:29)
    at enqueueUpdate

[2019-07-19 08:36] zubko commented on #15200
I also think if `createNoteField` could have an optional param `type` it would be more informative than just adding a notice about type inference. Then in the description of the `type` param it would be good to say that the type of the value is inferred and it's possible to force it by using this param.

[2019-07-19 08:42] StarcraftSu commented on #14911
@ravibhagat  I ran into the exact error one hour ago, and the pioneer's method 'yarn upgrade' fixed it.I suspect that yarn fixed some conflicts under the hood.

[2019-07-19 08:56] sw-yx opened #15896 "[docs] permalink jumps to under the navbar"
## Description

when i go to something like https://www.gatsbyjs.org/docs/node-api-helpers/#reporter and click the link to get the permalink, it jumps under the navbar.

### Expected result

should have the same result as when i land on https://www.gatsbyjs.org/docs/node-api-helpers/#reporter itself, scrolled just right. or maybe it just copies the link to clipboard for me.

i believe this is rela

[2019-07-19 08:58] sw-yx opened #15897 "[docs] `reporter` api doesnt show up in docs search"
## Description

 `reporter` api doesnt show up in docs search

### Expected result

it should show up a link to https://www.gatsbyjs.org/docs/node-api-helpers/#reporter

[2019-07-19 08:59] sw-yx opened #15898 "[docs] `reporter` docs don't explain when to use it over console.log etc"
## Summary

[docs] `reporter` docs don't explain when to use it over console.log etc

## Relevant information

when do i want `panicOnBuild` vs `panic`?

Edit: Also need to document upcoming activities after structured logs are published

[2019-07-19 10:01] wardpeet commented on #14911
**NPM USERS**

It seems like npm isn't installing peer dependencies correctly. You need to make sure react is at least on version 16.8.4 in your project.

For https://github.com/gyss/gatsby-starter, the package.json needs to change into
<details>
<summary>package.json</summary>

[code]
</detail>

[2019-07-19 10:01] dannybarinshtein opened #15899 "Duplicate data prefetches"
Hello,

I have a situation where I have a link to an archive listing multiple times on a page, this causes Gatsby to prefetch the data for the page as many times as the link exists which is duplicate data.

This causes unnecessary downloading on the user's end.

Is there a recommended approach for this?

Thanks in advance.

[2019-07-19 11:19] hypervillain opened #15900 "[Docs] Graphql query does not return remark data for plugin gatsby-source-prismic-graphql"
## Description

[This page](https://www.gatsbyjs.org/packages/gatsby-source-prismic-graphql) is not displaying any README information. When inspecting the query, you can see that NPM does not properly return the README data.

### Steps to reproduce

Go to https://www.gatsbyjs.org/packages/gatsby-source-prismic-graphql, the page should not be displayed properly.

### Expected result

I expect to vi

[2019-07-19 11:42] D19cannon opened #15901 "WP-Gatsby ACF Image is not shown in Graphiql"
## Description

Hi guys, I ran into a strange problem today with the WP ACF.

I have lately been building a few websites and web applications in a Headless WP + Gatsby + ACF. Everything was fine until this morning.

Just to keep it simple. I will show two screenshots from two different project that have the exact same build and the ACf are setup the same way.

### Expected result
**This is how it

[2019-07-19 12:13] PerQuiS commented on #7410
Still not working

[2019-07-19 12:25] xavivars commented on #15868
@stefanprobst: works perfectly. Thanks!

[2019-07-19 12:25] #15868 closed

[2019-07-19 12:32] disintegrator opened #15902 "`gatsby serve` ignores assetPrefix config"
## Description

`gatsby serve` ignores `assetPrefix` configuration

### Steps to reproduce

- Set an `assetPrefix` value in `gatsby-config.js` such as `/demo`
- Run `gatsby build --prefix-paths && gatsby serve --prefix-paths`
- Open browser and navigate to the built site
- Notice 404 errors in console when trying to load assets

### Expected result

`gatsby serve` should set up a route prefix for

[2019-07-19 12:52] jessepinho commented on #15843
Ah OK, makes sense. I should open an issue with chokidar then? I'll close this one in the meantime.

[2019-07-19 12:58] lannonbr commented on #15811
So at least looking around at this, the one on the "Full Image in Markdown" page is contained in a table while the other is not. CSS grid & Flexbox have some gotchas where if a container doesn't explicitly have a defined width, it reduces down to 0px due to how grid / flexbox lays things out. So you could say on all of the images to use a width: 100% to take up the width of it's parent container a

[2019-07-19 13:14] Defite commented on #15811
Case closed:

[code]

Resolves my issue.

[2019-07-19 13:14] #15811 closed

[2019-07-19 13:16] lannonbr commented on #15512
Hey @bobobob22 So I think this is extremely related to #14962 so I am going to close this issue. There's a PR up that issue.

[2019-07-19 13:16] #15512 closed

[2019-07-19 13:22] isaacsultan opened #15904 "dangerouslySetInnerHTML behaviour different in develop vs build"
## Description

HTML passed to a component through props and rendered with `dangerouslySetInnerHTML` is rendered as expected with `gatsby develop` but not present with `gatsby build`.

### Steps to reproduce

HTML is passed here:
https://github.com/isaacsultan/signalmark-landing/blob/0f03b01304e90c2656f495cb2a3dd1a07b55f005/src/pages/index.js#L48

HTML is rendered here:
https://github.com/isaacsul

[2019-07-19 13:32] #14911 closed

[2019-07-19 13:36] sidharthachatterjee commented on #14911
Fix published in `gatsby-cli@2.7.16` and `gatsby@2.13.29`

[2019-07-19 13:53] #15751 closed

[2019-07-19 14:08] freiksenet opened #15906 "Future of GraphQL sources in Gatsby"
Last year we introduced `gatsby-source-graphql`. GraphQL APIs are growing and it's weird that Gatsby didn't support them automatically. However time proved that the initial design there wasn't correct. This attempts to summarize what we can do in future to support GraphQL APIs better.

# How Gatsby source plugins work

Gatsby has a *node store*, which is Gatsby cache for all `Node` (so id-referenc

[2019-07-19 14:14] wardpeet commented on #14658
PR is building to fix this :smile:

[2019-07-19 14:26] #14658 closed

[2019-07-19 14:27] eknowles commented on #15883
does this change when reformatting the ordering of the plugins in gatsby-config?

[2019-07-19 14:29] #15692 closed

[2019-07-19 14:36] sidharthachatterjee commented on #14658
Fix published in `gatsby-cli@2.7.17` and `gatsby@2.13.31`

[2019-07-19 15:06] sidharthachatterjee commented on #15804
Absolutely @molebox 🙌

[2019-07-19 15:20] eojthebrave commented on #15693
Given that JSON:API is in Drupal core now, and you can therefore use Gatsby with Drupal without any additional Drupal conrib modules. I wonder if it makes sense to switch this demo code to use a Drupal site that is "just" core + the Umami demo profile, and not one based on Contenta. Which is core + a whole bunch of additional things that are useful if you're all in on using Drupal as the a headles

[2019-07-19 16:35] missmatsuko commented on #15894
I tried out #15895 and now have no failing tests.
Still have 3 todo and timer still going up, is that expected?
[code]

[2019-07-19 16:36] #5030 closed

[2019-07-19 16:54] jarodtaylor opened #15910 "Links on Migration v1 to v2 are broken"
## Description

I'm trying to migrate from v1 to v2 using the [migration guide ](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/migrating-from-v1-to-v2.md) and the links on the `modifyWebpackConfig ` to `onCreateWebpackConfig` documentation send you to a page not found on Github. I'm assuming there are many more links that are broken, but I've just found these as I wanted to look at the

[2019-07-19 16:59] jarodtaylor commented on #15910
I just saw that the gatsby.org documentation actually has the migration guide on it and all of the links work there. I'll close those and provide [the link here](https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/) for anyone that runs into the same issue.

[2019-07-19 16:59] #15910 closed

[2019-07-19 17:27] #14741 closed

[2019-07-19 17:27] #14820 closed

[2019-07-19 17:38] JohnAlbin commented on #15693
I agree with @eojthebrave here. I talked with Mateu (@e0ipso) yesterday about the Contenta website and its JSON:API endpoint and he said that if a developer wanted to use the `using-drupal` code with a vanilla Drupal 8.7 website (with Umami content), that it may or may not work 100%.

Correct me if I misunderstood something, Mateu.

So we'll need to provide a new endpoint with a vanilla Drupal 8.7

[2019-07-19 17:39] jasonbahl commented on #15906
@freiksenet This is interesting.

First, let me make sure I'm understanding this properly.

At the config level, the user would write queries to the origin API that make use of the origin API's GraphQL Schema directly.

The results of the origin queries would be added to the Gatsby Cache.

Then, when the user wants to build pages and write pageQueries, they will write their pageQueries using the G

[2019-07-19 17:46] morattoo commented on #1471
I had the same problem doing the tutorial the programmatically create page.  @KyleAMathews can you explain what was your solution. I don't understand the pattern github.com/kyleamathews/blog.
Thanks!

[2019-07-19 17:54] stefanprobst commented on #15894
@missmatsuko Thanks for testing! The `it.todo`s are expected, the issue with jest hanging still needs to be fixed in `gatsby-dev-cli` - unfortunately i'm not super familiar with that package.

[2019-07-19 17:59] FredericMartinez commented on #10070
FYI, For Apache => https://www.gatsbyjs.org/packages/gatsby-plugin-htaccess/

Like the doc says:
[code]

Add to plugins in your `gatsby-config.js`:
[code]

I think I have lost 4+ hours on a bad custom `.htaccess`, and I just found this plugin..

And it works like a charm!

[2019-07-19 18:08] quetcodesfire opened #15912 "Handling Error Boundaries In Gatsby"
## Summary
I’m currently using a package called `react-error-boundary` to capture errors in my application, log it to a system, and redirect users to another page.  I have simply set up an `errorHandler()` to `console.log()` `errors` and the `componentStack` for now.

Currently, it appears as if errors get caught by Gatsby before they can even be logged by the application.

## Relevant information

[2019-07-19 18:11] quetcodesfire commented on #15912
The screenshot mentioned above (hopefully 🤞🏾):
![image](https://user-images.githubusercontent.com/20568762/61556105-fb216c80-aa2e-11e9-9e0d-356d5f2d5ba4.png)

[2019-07-19 18:39] tdharmon commented on #4357
Has anybody been successful at getting this working while also using TSLint? I have followed what @0x08's recommendedation but I keep running into a "not found" error:

[code]

I'll also run in to other lint errors (like `no-submodule-imports`) but those are easily fixed by explicitly allowing `@src` in my tslint.json.

[2019-07-19 18:59] tremby commented on #15894
Same here: they all pass but it still hangs. I don't have time right now but I may try to bisect to find where that started some time over the weekend.

[2019-07-19 19:13] lannonbr commented on #15884
@mavam Yes a link to the source code would be extremely helpful with trying to debug this. If you can't share the code, could you make a simple reproduction so we can try pinpointing what the issue is

[2019-07-19 19:23] sonapraneeth-a opened #15914 "[themes] linting in gatsby themes"
## Summary

## Relevant information

I have setup ```gatsby-plugin-eslint``` in my theme for identifying linting issues. Required plugins necessary for linting are included as dev dependencies in the theme. However, after installing theme from npm, and running ```gatsby develop```, I'm getting ```No ESLint configuration found error```.

Any idea on how to handle linting in themes so that it can be

[2019-07-19 20:19] cwgw commented on #15058
Hi @codepunkt.

Images in markdown can come in both markdown syntax and regular html. gatsby-remark-images has to distinguish between the two because they require different handling.

[code]

The plugin traverses the tree looking for markdown image nodes and pushes each to the `markdownImageNodes` array, then does it again for all html (and jsx) nodes, adding them to `rawHtmlNodes `. It loops thro

[2019-07-19 20:27] penhold3r commented on #3318
[code]
@EdgarNigel  it's in the [module docs](https://www.npmjs.com/package/smooth-scroll)

[2019-07-19 20:35] stefanprobst commented on #15894
:+1: thanks! my guess would be #15649

[2019-07-19 20:38] KyleAMathews commented on #15906
This would happen in the _source_ plugin not in a user's config.

[2019-07-19 20:38] datakurre opened #15917 "gatsby@^2.13.9 ERROR #85901... Duplicated documents: PagesQuery"
## Description

After upgrading gatsby@2.13.8 on a working build to gatsby@2.13.9 (or 2.13.31),  `gatsby develop` outputs the following error during build:

[code]

`gatsby build` runs without errors, but does output the following warning:

[code]

I'm sorry for being unable to provide an example project yet. If this is not trivial regression, I could try to do one.

### Environment

[code]

[2019-07-19 20:40] KyleAMathews commented on #15906
We'd use the same filtering/sorting mechanisms that Gatsby already provides. Gatsby would still drive the GraphQL API. Ensuring similarity across source plugins is more important than making the experience in Gatsby as close as possible as e.g. `wpgraphql`. See his point 3 "We try to not deviate too much from source node structure, but we always choose similarity to Gatsby over similarity to third

[2019-07-19 20:42] KyleAMathews commented on #15906
@freiksenet how will this work with e.g. CMSs which can have arbitrary types? Perhaps the source plugin author programmatically describes how to do a bulk query of the remote source? There'll also be cases where the remote source might have a bulk sync API that's independent of GraphQL — that's how I've been thinking we scale WP/Drupal (and others) is that Gatsby would ideally call a sync API for

[2019-07-19 21:10] jasonbahl commented on #15906
@KyleAMathews it would have to happen at the users config, because no 2 WordPress sites will have the same WPGraphQL Schema. Like you asked `how will this work with e.g. CMSs which can have arbitrary types?`. . .WPGraphQL does have arbitrary Types based on how each WordPress site is setup.

For example a WordPress site running WPGraphQL + WooCommerce has a lot more Types for things like Products,

[2019-07-19 21:14] KyleAMathews commented on #15906
Right but the source plugin could do the work of translating from how they think about data to how Gatsby thinks about data. It should be possible to make it automatic I think in the vast majority of cases.

[2019-07-19 21:26] DSchau commented on #15914
@sonapraneeth-a could you provide a [reproduction](https://gatsby.dev/reproduction)?

@LekoArts and myself both use a monorepo and have ESLint configured in the root of the repo, rather than setting it up at the theme level.

As an example, check out [Lennart’s set-up](https://github.com/LekoArts/gatsby-themes/blob/master/package.json#L19)

I think this will work quite well for your use case — but

[2019-07-19 21:42] jasonbahl commented on #15906
🤔 I'm having a hard time visualizing this. But open to exploring for sure.

Do you have an example of how this is done elsewhere? Where a GraphQL API with arbitrary Types and fields can be programmatically queried without knowing about the Types and fields in advance?

---

At the moment, one of the only ways I can think to make this kind of thing programmatic would require additional work on the

[2019-07-19 21:46] datakurre opened #15918 "touchNode does not populate typeOwners resulting errors when deleting cached nodes"
## Description

We have a source plugin "that can return only nodes that have updated" and can also delete removed nodes while on `gatsby develop`. When I

1. Run `gatsby build` to fetch all nodes once

2. immediately start `gatsby develop` resulting mostly touchNode-calls, and

3. delete a page from the source system

I get an error that exists gatsby develop:

[code]

The reason for this seems t

[2019-07-19 23:18] birjolaxew commented on #13442
Relevant discussion in the sharp repo: https://github.com/lovell/sharp/issues/409

It looks like it happens when the process is killed before sharp has finished resizing. That would also explain why adding a timeout would fix it (by allowing the resizing to finish).

[2019-07-19 23:27] grantmoran commented on #15893
Adding [gatsby-plugin-remove-trailing-slashes](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/) plugin should resolve this in production in most cases.

Live example I pushed to Netlify [https://hungry-fermi-93cbb9.netlify.com/]( https://hungry-fermi-93cbb9.netlify.com/). If you are heading in the Netlify direction you might want to also checkout out their  [documentation]

[2019-07-19 23:49] grantmoran commented on #15877
Since the Foundation CSS is written in Sass, you're best bet is to utilize [gatsby-plugin-sass](https://www.gatsbyjs.org/packages/gatsby-plugin-sass) and load it accordingly.

[Foundation npm install](https://foundation.zurb.com/sites/docs/sass.html#loading-the-framework)

[2019-07-19 23:54] mrbjjackson opened #15920 "I need help creating a relationship between two Gatsby sources"
Hi everyone,

So I have two sources loaded into my GraphQL...

Firstly, a list of _Artist_ nodes, coming from a _Contentful_ content model.

This content type contains the _Artist name_, some information about them, and an ID.

Secondly a list of _Track_ nodes automatically imported from a _Spotify playlist_. Each track has a _Track Name_, an _Artist name_ and an ID.

I would like to create a rela

[2019-07-20 00:28] karlhorky commented on #15826
@codepunkt This is super useful configuration (and probably pretty common)! Maybe adding this to the docs of the plugin would be a good idea?

[2019-07-20 00:33] karlhorky commented on #15826
For me the `rehype-autolink-headings` is not working out of the box for me with your config though...

[2019-07-20 01:01] ervasive opened #15921 "Gatsby crashes when `onCreatePage` API modifies page path and the corresponding file is deleted from the filesystem"
## Description

If `onCreatePage` API "modifies" pages created by `gatsby-plugin-page-creator` (default src/pages) where it alters the page path, then Gatsby crashes if the corresponding page file is deleted from the filesystem.

I've created a Glitch project which is available [here](https://glitch.com/~gatsby-page-deletion-issue) to make it a little bit easier to reproduce the issue.

### Steps

[2019-07-20 01:06] marcysutton commented on #14977
Closed with #15704

[2019-07-20 01:06] #14977 closed

[2019-07-20 01:19] toastyboost opened #15922 "Why 404 redirect to main page"
Expected 404 - https://coinrate.com/hello_world, but we see main
In development mode all works fine.
404 pages exist https://coinrate.com/404

[code]

[2019-07-20 01:25] #15195 closed

[2019-07-20 01:35] grantmoran commented on #15529
@marcysutton Happy to audit and improve the [gatsby-on-windows](https://www.gatsbyjs.org/docs/gatsby-on-windows/) page. I come from mac environments but  recently setup a windows environment very easily that is playing nicely with no issues. Let me know if you'd like me to write up a zero to hero windows setup guide for review. :smiley:

_Additionally I think we could rewrite the [part-zero](https

[2019-07-20 01:48] marcysutton commented on #15529
@grantmoran that sounds amazing! It's been on my list but I haven't gotten to it yet, so we'd love any contributions. There's also some info on writing tutorials in the [Gatsby Style Guide](https://www.gatsbyjs.org/contributing/gatsby-style-guide/#tutorials) that might be useful. Thanks so much!

[2019-07-20 01:52] grantmoran commented on #15529
@marcysutton Great, I'll make a submission sometime over the weekend then. Happy Friday!

[2019-07-20 02:01] sm1th opened #15924 "[gatsby-plugin-mdx] Provide TypeScript typings"
## Summary

It'd be nice to have a TypeScript type at least for `MDXRenderer` which is used in code.

<img width="729" alt="Screen Shot 2019-07-19 at 22 58 14" src="https://user-images.githubusercontent.com/3375071/61572752-c6d29e00-aa78-11e9-892e-b57d353b70cd.png">

### Motivation

TypeScript is great. Supporting TypeScript is great!

[2019-07-20 03:20] stephepush commented on #14911
I intended to post what worked for me in addition to what worked for others as shown in the other posts. My remedy is just another tool on the swiss army knife here :)

[2019-07-20 03:58] cluk3 commented on #15920
https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types
If I understood well that's exactly what you need, right?

[2019-07-20 04:06] cluk3 commented on #15883
Yes, if I put  gatsby-plugin-google-analytics after gatsby-plugin-offline it doesn't happen anymore, but I still think gatsby-plugin-offline should ignore link preload · prefetch · preconnect · dns-prefetch as a final and clean solution. Thanks anyway, it works amazingly as an hotfix :)

[2019-07-20 04:12] grantmoran commented on #13813
I'd like to take this on.

I'm currently working on an incremental migration and feel comfortable writing about the general workflow and challenges/considerations that should be factored into the decision to migrate incrementally. The latter mostly helping novice users steer clear of common mistakes & repercussions during site migrations in general.

If no one is on this already, feel free to assi

[2019-07-20 04:36] moonmeister commented on #11129
**Response from NPM so far:**

We've gone through and reviewed all those packages, and here's the breakdown:

- the i18n packages all have a "readme": "README.md" in their package.json, The matinainers should remove the readme field from their package.json for these.

- The prismic package seems fine, but is still not showing a readme, so we're investigating further.

Ahmad Nassri

CTO @ npm, Inc.

[2019-07-20 05:28] marcysutton opened #15925 "[docs] copy/paste button: leave off diff/multiline shell blocks?"
## Summary

For the awesome new copy/paste button in the Gatsby docs, we should discuss how the copy/paste behavior should work for code blocks that need to be digested line-by-line. For diffs, copying the whole block wouldn't make much sense. And for multiline shell commands–particularly where the example includes placeholder text like `[yourrepohere]`–the copy command could create some errors. M

[2019-07-20 06:56] stefanprobst commented on #15920
You could also use the schema customization APIs to [create a foreign-key relation](https://www.gatsbyjs.org/docs/schema-customization/#foreign-key-fields).

[2019-07-20 07:02] ahmedelgabri commented on #1471
@morattoo You need something like this for example in Kyle's blog he is adding this field on [`MarkdownRemark`](https://github.com/KyleAMathews/blog/blob/c646f0ceb91b925ac9bd24c2164ec91a62636e68/gatsby-node.js#L83-L86) in my case I'm adding it [`Mdx` field](https://github.com/ahmedelgabri/gabri.me/blob/80627d950fdc5c91b5f015368772aa7e0e1cc40f/gatsby-node.js#L8) so you need to know which field you

[2019-07-20 08:34] mrbjjackson commented on #15920
Thanks very much for the speedy replies. I'll try them both out.
On first look over it looks like the Mapping solution may not work because the Artist field is not an ID in either the Contentful or Spotify sources. It's just a general field. I'll investigate further.
The foreign-key relation looks very promising.

[2019-07-20 09:08] bravo-kernel commented on #15507
I just created a fresh gatsby-starter-blog-theme on Windows but am having the same problem. Should I do something to pull in the changes?

[2019-07-20 09:46] sonapraneeth-a commented on #15914
@DSchau , in the repo provided above, ```gatsby-plugin-eslint``` is not used ```gatsby-config.js```. Is that not required for linting? In my repo, the main issue is due to that plugin and its presence in ```gatsby-config.js```.

[My gatsby-config.js](https://github.com/sonapraneeth-a/gatsby-theme-simple-bio/blob/master/gatsby-theme-simple-bio/gatsby-config.js#L46-L57)

[Starter](https://github.com

[2019-07-20 11:26] RobinHerzog commented on #15570
Do you force / with Lamdba or not?

[2019-07-20 11:33] jnsrikanth opened #15927 "Using Sitemeta data in gatsby-config.js for Submenu"
Hi,

I have seen very little documentation related to the complete usage of the gatsby-config.js and the Site and Site Meta Data objects. I am curious as to how I configure sub-menu items under the menuLinks object in  the Site Meta Data in gatsby-config.js.

Has anyone found a good way to do comprehensive Site Navigation using GatsbyJS?
Any pointers in this direction would be highly appreciated.

[2019-07-20 11:36] RobinHerzog commented on #15570
I found this link https://www.ximedes.com/2018-04-23/deploying-gatsby-on-s3-and-cloudfront/ that is helpful

[2019-07-20 11:39] manuelJung commented on #5995
Hey @jrestall, this is a really clever solution but i feels a bit hacky. I'm having thousands of routes and this would lead to tousands of template files. I've tried to write a plugin with loadable-components, but it requires the bundling and rendering to happen in the same context (even if it would work, we would see a lot of loading-spinners when we navigate) so i don't think manual code splitti

[2019-07-20 12:35] kaishin commented on #962
Thanks for the plugin @itmayziii.

[2019-07-20 12:40] robmarshall commented on #2392
Would this mean creating a resolver for each ACF field? I am working on something that uses a hell of a lot of potentially empty fields.

[2019-07-20 12:41] moroshko commented on #15893
@grantmoran Thanks for all this info!

From what I can see in the docs, `gatsby-plugin-remove-trailing-slashes` and also [this](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#removing-trailing-slashes) is intended to remove trailing slashes from paths generated by Gatsby itself, which is not my case.

I use ZEIT's `now`, so Netlify and `.htaccess` stuff is not very helpful.

[2019-07-20 13:01] aminukano585 commented on #9899
The same thing here @SamizzotheGeek have you find any workaround yet? For now, I only disable it when working with dev tools, and re-enable it when I want to use it.

The manual toggling is kinda stressful :(

[2019-07-20 13:43] moroshko commented on #15893
If anyone else is using ZEIT's `now`, there are some attempts to address this [here](https://spectrum.chat/zeit/now/how-do-i-redirect-all-trailing-slash-urls-without-in-the-best-way-for-all-my-rotes-using-static-hosting-on-now~713d2c70-8167-4836-aa3f-fcc205bafe56).

[2019-07-20 14:02] DubaniWarrior commented on #14684
I am having the same problem. I am not really sure where is the

12:05:39 PM: Build ready to start
12:05:41 PM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
12:05:41 PM: build-image tag: v3.3.2
12:05:41 PM: buildbot version: ef8d0929ed0baabafd8bbb7d0b021e1fc24180c0
12:05:42 PM: Fetching cached dependencies
12:05:42 PM: Failed to fetch cache, continuing with build
12:05:42 PM: Star

[2019-07-20 14:37] DubaniWarrior opened #15930 "Gatsby build fails on netlify"
I need help to understand what the problem.

The command " dotenv gatsby build" works fine locally. But on netlify it fails with this message:

failed during stage 'building site': Build script returned non-zero exit code: 1

12:05:39 PM: Build ready to start
12:05:41 PM: build-image version: 9e0f207a27642d0115b1ca97cd5e8cebbe492f63
12:05:41 PM: build-image tag: v3.3.2
12:05:41 PM: buildbot versio

[2019-07-20 14:54] SamizzotheGeek commented on #9899
yes @aminukano585 it is caused by extensions. for me it was a youtube downloader extension. just switch off the extensions one by one while refreshing the browser. when the one causing it is closed, the message disappears.

[2019-07-20 15:18] moonmeister opened #15931 "feat(www): microfrontends"
## Summary

There's been some long standing issues around building `www.gatsbyjs.org` for individuals due to the large size of site. My thought is breaking out key components of the www site into themes  would really improve user experience by allowing folks to only build the portion of the site they're working on.

### Basic example

Blog and docs are areas lots of people contribute to regularly.

[2019-07-20 15:25] jeremd41 opened #15932 "ERROR UNHANLED REJECTION"
Hello everyone !

Before I begin, I would like to point out that I am French.
Sorry for my English which can be bad....

## Description
npm install ok
but when I start gatsby develop, I get an `ERROR  UNHANDLED REJECTION`.

I try to resolve this since 3-4 weeks ago...
But without success

### Steps to reproduce

https://github.com/jeremd41/testgats
You can clone this repository

[code]

### Expect

[2019-07-20 16:09] MpMeetPatel commented on #1878
**"postbuild": "cp -r public/* build/", --> you can have any name intead of build folder ofcourse.**

I use this command (The main reason of needing this , i put public folder into .gitignore and i only push build code on github/gitlab)

[2019-07-20 16:19] pokemon4e commented on #12233
Having the same problem with Apache shared hosting service.

[2019-07-20 16:56] KyleAMathews opened #15934 "Pages being added / removed during development is broken"
We should add a cypress test for this and fix the problem. From some investigation — it looks like there's a lot of caching of page data added to development that'll need to be made less aggressive.

I'm assuming this got broken during page-manifest.

The workflow this broke is going to a URL and being able to create the component and see if show up.

Test plan is:
1. navigate to non-existant page

[2019-07-20 16:59] KyleAMathews commented on #1878
@coltonbh can you install Gatsby inside the `/tmp` folder?

[2019-07-20 17:22] franklinfarahani commented on #13918
I had the same problem where only parts of my project were hot reloading. No error messages or warnings either. It turns out it was because the casing of the component name in my imports was not the same as the actual component folder name.

[2019-07-20 17:27] #14740 closed

[2019-07-20 17:27] #14861 closed

[2019-07-20 17:33] Mohit-Sharma1 opened #15935 "Its easy you follow this link https://www.gatsbyjs.org/docs/"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-07-20 17:46] poyea commented on #15935
This issue may be incomplete or wrongly opened.

[2019-07-20 17:46] #15935 closed

[2019-07-20 18:27] DSchau commented on #15925
Unrelated — but wanted to track on it.

I believe it’s also not functioning in Safari. Need to use contenteditable to fix!

[2019-07-20 19:52] coltonbh commented on #1878
@KyleAMathews good idea! I already went down that route though. The /tmp/ directory has a limit of 512MB storage. Once I install the gatsby site with all it's associated NPM modules we're up to about 350-400MB in the /tmp/ dir, then I add our assets directory that we build from (+75MB) and then after building the site I have an additional ~75MB of files in the ./public folder and I'm either right

[2019-07-20 19:56] coltonbh commented on #1878
@MpMeetPatel that would not work for my use case. AWS Lambda is a read-only filesystem except for the /tmp/ directory. So building to the ./public folder and then copying over the directory to the /tmp/ directory is not possible. AWS would reject the initial writes to ./public.

[2019-07-20 20:21] zwl1619 opened #15938 "I follow this video lesson in docs,why I don't have `allProductsJson`?"
In this [video lesson](https://egghead.io/lessons/gatsby-make-data-queryable-in-graphql-with-gatsby?pl=why-gatsby-uses-graphql-1c319a1c),there is an `allProductsJson` at 04:13
![Snipaste_2019-07-21_02-37-38](https://user-images.githubusercontent.com/13177997/61583701-32e2fe00-ab6e-11e9-984b-48908c28d371.png)

I create a project following  [quick-start](https://www.gatsbyjs.org/docs/quick-start), t

[2019-07-20 20:43] #15792 closed

[2019-07-20 21:45] carlosbeneto opened #15939 "Issue with deploying to Netlify (Sharp plugin and libvips)"
## Description

Build works fine locally (OSX) but fails when deploying to Netlify.

### Expected result

Successful deploy to Netlify

### Actual result

This is the build log from the Netlify console.

[code]
### Environment

This is my local environment which works, not sure how to get the environment in Netlify!

[code]

[2019-07-20 21:47] jonniebigodes commented on #15938
@zwl1619 i've just checked the video you mentioned and i was able to run it to completion without any issues. Below are the steps i took to triage this issue.
- Created a new gatsby website based on the hello-world starter.
- Installed the dependencies required, namely `gatsby-image`, `gatsby-plugin-sharp`, `gatsby-source-filesystem`, `gatsby-transformer-json`, `gatsby-transformer-sharp`.
- Create

[2019-07-20 22:29] #15676 closed

[2019-07-20 23:44] lemon-31 commented on #15932
@jeremd41 I have the exact same issue

[2019-07-21 01:12] sibelius commented on #12155
check this https://github.com/n1ru4l/relay-compiler-repl to understand how relay compiler transforms graphql queries and fragments

[2019-07-21 01:26] decimoseptimo commented on #15601
+1

[2019-07-21 02:02] rossysheil opened #15944 "Gatsby lumen failed build"
## Description

The local server renders okay but fails to build in netlify.

### Steps to reproduce

When running my github repo through a Netlify build it fails as per below logs.

### Expected result

What should happen?

Netlify should build successfully.

### Actual result

Netlify failed as per logs.

### Environment

[code]

[2019-07-21 02:22] josephfarina opened #15945 "Repeat development error that forces a restart of the app"
## Description

I repeatedly get an error in development after making changes. I haven't found a pattern, but it happens every 5 or so saves. It then works fine after I run `gatsby clean && gatsby develop` again.

### Steps to reproduce

I am not sure how it can be reproduced. It started happening after I added `gatsby-source-filesystem` and began calling `createPage` from within `onCreateNode` fo

[2019-07-21 03:19] DevinKott opened #15947 "How to refresh the localhost https certificate?"
## Summary

I tried following the gatsbyjs local https guide [here](https://www.gatsbyjs.org/docs/local-https/), but I got an error while setting it up. Now, when I try running `npm run develop -- --https`, it does not start because of the error
`UNHANDLED REJECTION request to https://localhost:8000/___graphql failed, reason: unable to verify the first certificate`
## Relevant information

When tr

[2019-07-21 03:32] justinechacko commented on #4465
I also looking for this plugin. +1

[2019-07-21 03:36] bsde1245 opened #15948 "Android/iOS app for Gatsby"
## Summary

Android/iOS plugin for Gatsby

### Basic example

No example I can see as of now

### Motivation
Android/iOS apps are great way for promoting any websites

I would like to have a plugin to convert Gatsby site to native android/iOS app

[2019-07-21 05:02] MWalid commented on #14827
I don't think it's fixed

[code]
Returns null for `childImageSharp`, my version is:
[code]

[2019-07-21 05:20] postables opened #15949 "Add Documentation For Self Hosting Gatsby Websites"
While the documentation for gatsby is great if you're using third-party service providers, if you're self-hosting your gatsby site, the documentation is sparse, to completely doesn't exist. I've spent a solid 30 or so minutes digging through stack overflow posts, the gatsby [deploying and hosting](https://www.gatsbyjs.org/docs/deploying-and-hosting/) documentation, and the closest I came to was ht

[2019-07-21 05:22] MWalid commented on #14827
Very dirty workaround is

[code]
But while the database grows, the performance will be a problem.

[2019-07-21 05:43] zwl1619 commented on #15938
Thanks！It is ok after using the hello-world starter.

[2019-07-21 05:43] #15938 closed

[2019-07-21 05:46] stefanprobst commented on #14827
@MWalid Could you provide a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) for this issue? Thanks!

[2019-07-21 06:30] ChristopherBiscardi commented on #15931
You can 💯 run a theme directly as it's own site as long as it doesn't have a function gatsby-config.

[2019-07-21 07:49] MWalid commented on #14827
@stefanprobst While creating the reproduction repo for this issue, I realized that the real reason was related to **cleaning my local cache** rather than an issue with gatsby itself.

I had to clean the cache before every `develop` task so I change npm develop task to:

`gatsby clean && gatsby develop`

BTW I have my own source plugin (not using markdown transformer).

[2019-07-21 09:04] vavra7 opened #15951 "How to define graphql structure on createNode"
I use custom source plugin where I call an external API which returns me for example following data:

[code]
Then I use  sourceNodes API to create node with type `menu`. After that I can query for my data in components like this:

[code]
BUT my external API can returns me also these data:

[code]
Which means that Gatsby crashes on querying non-existing fields `label` and `url` because  Gatsby coul

[2019-07-21 10:31] zwl1619 commented on #15938
@jonniebigodes One more thing, what is the meaning of "edges" and "node"?

[code]

[2019-07-21 13:04] miraicoding opened #15953 "`gatsby-transformer-remark` update v2.6.0 breaks `gatsby-remark-prismjs` line-numbering"
## Description

`gatsby-transformer-remark` update from v2.5.0 to v2.6.0 breaks `gatsby-remark-prismjs` line-numbering when specified in a Markdown file using the syntax:
[code]
### Steps to reproduce

Following instructions in:
https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/

Add line numbering option.

In a Markdown file, add following code:
[code]

### Expected result

Line numbers sho

[2019-07-21 13:34] kuworking commented on #11026
The same for me, W10 and NodeJS v12.6.0, yarn gave the sharp error (with my repo, cloned in a new computer)

I've gone to NodeJS v10.16.0 and yarn has succeeded, and everything works

[2019-07-21 13:58] deltaskelta opened #15954 "gatsby-plugin-material-ui ssr styling order"
## Description

Using the gatsby-plugin-material-ui following the example, I get styles that are ssr rendered that supercede my applied styles (which are based on screen width and stored in state). If I navigate directly to a page that was SSR rendered, I have to trigger a state change in order to get the correct styles. This only happens in production build obviously.

### Steps to reproduce

1.

[2019-07-21 14:38] arcticicestudio commented on #11645
Sorry for the long delay again :flushed:, the 350+ issues and PRs in my own projects take a lot of time, but I've decided to go through my Octobox today and resolving some long outstanding tickets.

@gopherine Like @DSchau correctly mentioned in my PR https://github.com/gatsbyjs/gatsby/pull/11646#pullrequestreview-201561087, the Gatsby `Link` component should only be used for internal links, but n

[2019-07-21 15:56] #15584 closed

[2019-07-21 16:08] XHMM opened #15958 "gatsby-remark-images shows extra white space"
## Description
`gatsby-remark-images` shows extra space for image：

![image](https://user-images.githubusercontent.com/24786522/61593580-e3efa400-ac13-11e9-87e4-af90bd71aef1.png)

### Steps to reproduce
I am using `gatsby-mdx` with `gatsby-remark-images`， here is my `gatsby-config.js`：

![image](https://user-images.githubusercontent.com/24786522/61593607-39c44c00-ac14-11e9-9ab0-6d732761ff5a.png)