[2019-09-28 15:21] mendaomn commented on #16945
Would love to help with this. I'll test https://github.com/gatsbyjs/gatsby/issues/16945#issuecomment-525423492 and report back!

[2019-09-28 15:33] jonniebigodes commented on #17964
@HackyRoot read the [contribution documentation](https://www.gatsbyjs.org/contributing/how-to-contribute/), fork the repo and work on it. Would like to see the contribution.

[2019-09-28 15:41] jonniebigodes commented on #17962
@kunxi i might be completely off base here, but have taken a look at [this](https://www.gatsbyjs.org/docs/schema-customization/), to see if it can help?

[2019-09-28 16:21] mcrisostomo9 commented on #17520
Having same issue on Chrome 76 & 77 for Mac and Windows.  Works for FF/Safari/Edge.  Possible Chrome bug?

[2019-09-28 16:25] andreasvirkus commented on #9785
Just adding something else to future Googlers:
Saber now has this solved elegantly via a plugin! https://github.com/saberland/saber/tree/master/packages/saber-plugin-git-modification-time

[2019-09-28 17:10] jonniebigodes commented on #17971
@aofolts can you make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail?

[2019-09-28 17:27] #16821 closed

[2019-09-28 17:27] #16995 closed

[2019-09-28 17:27] #16608 closed

[2019-09-28 17:27] #17049 closed

[2019-09-28 17:52] jonniebigodes commented on #17953
@muuvmuuv i've been tinkering with the reproduction and it seems that yours is a bit of a edge case and it seems that the behaviour you're seeing is the default one. The null dates value will default to the top. In this case, to the best of my knowledge and someone more knowledgeable might offer some better insight, but i think that you'll have to do some changes and probably sort the data a bit d

[2019-09-28 18:03] HackyRoot commented on #17964
Thank you, @jonniebigodes for this opportunity!

[2019-09-28 18:33] dcsan commented on #16957
well that's unfortunate that favicons still seems stuck on an old sharp.
perhaps it's down to the semver upgrade
funnily enough I have favicons working in my project, but without that dependency.

As far as I can tell it's a very deep problem to have two versions of sharp co-existing. We're dependent on the packages updating to use the same sub-deps of sharp.

also FWIW I stopped using yarn becaus

[2019-09-28 19:26] kmck commented on #16457
I'm running into this issue as well! In my naive and shallow investigation after encountering the bug myself, I noticed that `loadPage` is called the same the whether it's processing something definitely prefixed (eg. `browserLoc.pathname` of `"/blog/blog"`) or definitely not prefixed (eg. `<Link to="/blog">`).

Looking for a slash after the prefix helps, but I don't think it solves it 100%. I thi

[2019-09-28 19:52] jonniebigodes commented on #17964
@HackyRoot no need to thank. Just glad that you picked up on this and are willing to expand the documentation. Don't know about your timetable but a heads up if you manage to work on this and make a pull request during this week, be advised that the review process might take a bit, as the gatsby team is London for the Gatsby days during the coming week for their gathering,

[2019-09-28 19:56] janosh commented on #17443
@ChristopherBiscardi cc

[2019-09-28 22:00] mrbusche commented on #17202
@charlyx you still interested in doing this? If not I'd like to.

[2019-09-28 22:42] rgroves opened #17979 "Tutorial Part Four Issue"
## Summary

I was following the Data in Gatsby ([tutorial part four](https://www.gatsbyjs.org/tutorial/part-four/)) and after performing the changes in the "[Use a page query](https://www.gatsbyjs.org/tutorial/part-four/#use-a-page-query)" section the About page gives the error `TypeError: data is undefined`

## Relevant information

After updating `src/pages/about.js` with the code in the "[Use a

[2019-09-28 22:51] JustFly1984 opened #17980 "[bug] rendering 404 instead of `/` or localized `/en/` or `/ru/` pages after updating gatsby from 2.15.22 to 2.15.23 or newer"
## Description

We have an application with internationalization support. All pages created with gatsby-node createPages api. With garsby@2.15.22 and older there is normal behavior, but after update to 2.15.23 or newer (2.15.28), root page and localized versions of the root page displaying 404 template content.

All other pages displayed correctly. If I roll back to  2.15.22 root page and localize

[2019-09-28 23:01] JustFly1984 commented on #16097
I was looking for solution to this issue, and trying to update gatsby to one of latest versions 2.15.23 and older leading to new bug https://github.com/gatsbyjs/gatsby/issues/17980

I was thinking that my bug could be related to this issue solution

[2019-09-28 23:01] JustFly1984 commented on #17980
currently bug persists in 2.15.28

[2019-09-28 23:17] jonniebigodes commented on #17946
@samanthabretous i've picked up on your issue and it seems that you're correct, the styles and script are not loaded correctly.

Here are the steps i took to test this issue.

- Created a new site based on the starter you mentioned, namely [https://github.com/netlify-templates/gatsby-starter-netlify-cms](https://github.com/netlify-templates/gatsby-starter-netlify-cms).
- Installed the `gatsby-plug

[2019-09-28 23:41] sever1an commented on #17980
Do you have a GitHub of the affected project?

[2019-09-28 23:53] JustFly1984 commented on #17980
I have project in private repo under NDA (

I have found commit which supposedly breaks my dev and build

this is screenshots of 2.15.22 build and 2.15.23:
<img width="713" alt="Screenshot 2019-09-29 02 43 28" src="https://user-images.githubusercontent.com/2255993/65823668-3e842c80-e263-11e9-9381-2508d4b7b2c9.png">
<img width="716" alt="Screenshot 2019-09-29 02 43 40" src="https://user-images.gith

[2019-09-28 23:57] sever1an commented on #17980
I believe that you have the issue, just trying to create a reproduction. How do you have localization configured?

[2019-09-29 00:06] JustFly1984 commented on #17980
with gatsby-node createPages api

<img width="827" alt="Screenshot 2019-09-29 03 06 21" src="https://user-images.githubusercontent.com/2255993/65823823-21049200-e266-11e9-8822-a26bbf6510db.png">

[2019-09-29 00:08] JustFly1984 commented on #17980
we have 2 locales at the time, en and ru. everything works perfectly up until 2.15.23.

[2019-09-29 00:27] jonniebigodes commented on #17979
@rgroves i've picked up on your issue and ran through part 4 of the tutorial. When you reach this [part](https://www.gatsbyjs.org/tutorial/part-four/#your-first-graphql-query), it tells you to restart the development server which i did. Based on how gatsby is setup, that piece of data will be then picked up added to the data layer is available.  I then moved onto modifying the about page with the

[2019-09-29 00:38] sever1an commented on #17980
Are you using a plugin for internationalization or is this a completely custom solution?

What happens if you remove the 404 matchpath, L113-L118? Gatsby should route to 404 anyways.

[2019-09-29 00:53] JustFly1984 commented on #17980
this is custom solution, we are loading dictionary jsons from locize.com, and iterating on locales to create 2x pages from templates by passing locale to the context.

trying your advice, will be back with answer soon

[2019-09-29 01:02] sever1an commented on #17980
I have not been able to recreate the bug yet, but have some observations.  In the included screenshots there is a matchPath for a 404 page at `/*`. This forces all pages in the site to be handled by `match-paths.json`

[code]

[code]

.cache/match-paths.json
[code]

[2019-09-29 01:11] sever1an commented on #17980
@JustFly1984 Could you take a look in `.cache/match-paths.json` and see if there is anything interesting/unexpected there?

[2019-09-29 01:12] JustFly1984 commented on #17980
Well, I have tried your solution.

[code]
actually transforms to
[code]

I have removed localized 404 pages, but left `/` page at the end, and localized pages stop turning to 404, but `/` itself rendering 404.

I have removed last 404, and `/` page stopped to show 404, but id I type incorrect url, which should render 404, it fails with error:
<img width="1902" alt="Screenshot 2019-09-29 04 12 09"

[2019-09-29 01:21] sever1an commented on #17980
I think that the bug here is that match paths for `/*` are not overridden by the index page because somehow `/*` and `/` are of equal specificity.

An add-on problem is that using this technique to supply a 404 page for a path causes that entire path to be routed with match-paths.json instead of the static page routing.

Regarding the error with the 404 page, yikes! Could it be that you now have n

[2019-09-29 01:30] JustFly1984 commented on #17980
Yes, it last case I do not have 404 pages at all, cos I'm not using `src/pages` directory at all.

in case if I do not specify 404 pages at all I have next `match-paths.json`:
<img width="445" alt="Screenshot 2019-09-29 04 22 16" src="https://user-images.githubusercontent.com/2255993/65824398-0be13080-e271-11e9-976a-c23dc159af86.png">

in case if I have only /404.html:
<img width="256" alt="Screen

[2019-09-29 01:31] JustFly1984 commented on #17980
@sever1an I do not understand why `/` is at the end of the list of `match-paths.json`
I think an order is important here.

[2019-09-29 01:32] sever1an commented on #17980
If you have a lot of static content under `/en` and `/ru` I would suggest seeing if a regular 404 page in src/pages could be made to work.

[2019-09-29 01:35] JustFly1984 commented on #17980
@sever1an
I need to have localized 404 pages. before 2.15.23 it worked perfectly as intended.

[2019-09-29 01:41] JustFly1984 commented on #17980
@sever1an
I have content both static and dynamic for /en  and /ru routes, and we will have 6 more languages soon. I need to have localized 404 pages for each language.

For now I will roll back to 2.15.22 and wait till it will be fixed. I'm sure there is other people who has same issue.

This is totally breaking change, and should not be published as patch version. We have e2e tests, and issue was

[2019-09-29 01:45] JustFly1984 commented on #17980
running 2.15.22 `match-paths.json` looks like this:
<img width="267" alt="Screenshot 2019-09-29 04 44 26" src="https://user-images.githubusercontent.com/2255993/65824560-dbe75c80-e273-11e9-95cb-de2458bd2cb8.png">

[2019-09-29 02:05] sever1an commented on #17980
It is not the expected behavior, index pages in match paths *should* take precedence.

I was suggesting that you might have the 404 page localize its self using `props.location`. This would remove the need for catch all paths and get static pages out of match-paths

[2019-09-29 02:22] Silic0nS0ldier opened #17981 "Build cache is dependent on outputs, later builds crash if public folder deleted"
## Description

When running `gatsby build` after having removed `public` from an earlier build, the build fails to due an attempted read of `public` folder contents.

### Steps to reproduce

1. Run `gatsby build`
2. Delete `./public` folder
3. Run `gatsby build`
4. Observe build fail with output similar to

[code]

Reproduction repo: https://github.com/Silic0nS0ldier/gatsby-bug-17981

### Expecte

[2019-09-29 02:40] JustFly1984 commented on #17980
well, this is not really feasible to use props.location, cos we are using react-intl...
and I do not really understand how it could work.

I will wait till bug is fixed and update then.

[2019-09-29 03:24] FengShangWuQi opened #17982 "gatsby build end early in docker build"
## Description

gatsby build end early in docker build.

this is my Dockerfile

![image](https://user-images.githubusercontent.com/17982705/65825543-837f8180-e2aa-11e9-9830-dcad188f9778.png)

I try

![image](https://user-images.githubusercontent.com/17982705/65825550-998d4200-e2aa-11e9-944f-f41b81a236c6.png)

even isn't working as expected.

### Steps to reproduce

repositories: https://github.com

[2019-09-29 04:37] anamritraj commented on #17766
Is this taken?

[2019-09-29 05:09] sever1an commented on #17980
If the language is in the url like https://myapp.com/en/more-info, `props.location.pathname` would contain `/en/more-info` which the 404 page could parse and show localized content. It is probably not that big of a deal, 404 pages are supposed to be short.

What changed with match-paths.json is that now any static page which should take precedence over a wildcard match path route now has an entry

[2019-09-29 05:51] LpmRaven commented on #17361
@kuworking Did you manage to get gatsby-plugin-mdx to work with prism-react-renderer and MDXRenderer? I am having the same issue.

[2019-09-29 06:00] KyleAMathews commented on #17962
The docs above should help. Real quick what you want to do is create a node with a different type but set the mediaType to text/markdown -- then that will get transformed to MarkdownRemark

[2019-09-29 06:29] NSDrowned commented on #16455
Deleting fragments.js' content solved the issue for me too.

[2019-09-29 07:04] sever1an commented on #17980
The issue seems to occur in this function: https://github.com/wardpeet/gatsby/blob/35cb2389e15438518b711812a111bf414a1ca4c4/packages/gatsby/src/bootstrap/requires-writer.js#L28-L39

Particularly this line.
[code]
Paths are assigned a score based on how specific they are by basically counting slashes, but it removes the trailing slash first. For an index page the trailing slash is significant, as i

[2019-09-29 07:26] jethromay commented on #15322
Also having this issue, hosted on Netlify.

[2019-09-29 09:29] sagarhani commented on #5900
I faced similar issue. I fixed it by following below steps.

1. Delete `.cache` file.
2. `gatsby build`.
3. `gatsby serve`. It was working fine here.

Continued with development with `gatsby develop`.

[2019-09-29 10:09] tristankrass commented on #5900
For me the problem wasn't the final build, but the error spun up during the Gatsby develop command. I worked around the issue by specifying a new port instead of port 8000 and it for some reason worked.

[2019-09-29 10:22] muuvmuuv commented on #17953
Hm, yes, that would have been my idea of a workaround too. I assumed there would be a simpler way of doing this. Is this something that could be modified/added in/to `gatsby-transformer-remark` plugin?

Thank you anyway, I will use this for now. :)

[2019-09-29 11:06] kuworking commented on #17361
I switched prism for highlight because I also needed to apply styles post-compilation, so I didn't try at the end

[2019-09-29 11:18] kuworking opened #17983 "Repaint not prevented (changing style of a display:none element), perhaps gatsby-related?"
I'm trying to prevent a __repaint__ of a simple code where I add an image to a background element

I cannot, and I see a flash when a 2nd element is updated and forces the update of the unrelated 1st element

I've isolated it in a React codepen and I can't see any flash, so I now doubt whether codepen is solving it somehow or if it is related to Gatsby

To reproduce the "phenomenon" I've done a si

[2019-09-29 13:40] Yousuf-95 commented on #9899
For me it was MeddleMonkey extension.

[2019-09-29 14:11] jonniebigodes commented on #17953
Probably yes, probably some safeguard could be added to the plugin, but i'm not familiar with the code of the plugin and i can't say for sure. Also thinking about it could something related to the data layer ho it handles it. If you don't mind i'm closing this marking it as answered, but feel free to reopen and comment if you want to continue the discussion. Once again sorry for not being more hel

[2019-09-29 14:11] #17953 closed

[2019-09-29 14:26] jonniebigodes commented on #15294
@JaKXz if you're willing fork the repo, read [the contribution guide](https://www.gatsbyjs.org/docs/how-to-contribute/), make the changes to the documentation, using my  comment, submit a pull request and we can go from there. Sounds good?

[2019-09-29 14:33] jonniebigodes commented on #17557
@coldpen it could be some variable we're both missing, probably due to some permissions or something like that,go ahead and make the repo private and continue your work. I'll leave it you to if you want this open or not. If you want to close it feel free to do so and we can always re-open it.

[2019-09-29 14:36] jonniebigodes commented on #17171
@pgegenfurtner sorry for the late response, but have you taken a look at [gatsby-source-graphql](https://www.gatsbyjs.org/packages/gatsby-source-graphql/) it refetches the content periodically.

[2019-09-29 15:57] JaKXz commented on #15294
I’d love to, but I don’t want to block someone else who has more cycles than me! I’m in the middle of our product launch season!

I also question (like I mentioned earlier) if that’s what the intended behaviour is. But thank you for the information.
On Sep 29, 2019, 10:26 -0400, jonniebigodes <notifications@github.com>, wrote:

[2019-09-29 16:09] Cobwebster opened #17984 "Paginated Pages Downgrade Priority."
Hey,

So I was wondering if there was an example of the following,

I basically have a blog post site and I paginate like 20 posts for a page with this format

siteurl.net/blogs
siteurl.net/blogs/2
siteurl.net/blogs/3
siteurl.net/blogs/4
(each post just linking to like 20 blog post pages)

The number is dynamic (generated in gatsby buildtime depending on the amount of posts)

I would basically wan

[2019-09-29 16:22] jonniebigodes commented on #15294
No problem, i'll leave it to you if you want to take up on it in the near future or if someone else wants to take it i don't mind. Also i'm not familiar with the plugin code but it could be that what's inteded when it was created, i'll leave it to someone more knowledgeable of the plugin and gatsby to follow up on this and possibly offer a more detailed explanation.

[2019-09-29 16:50] jimmysafe commented on #2753
Hey, I have setup a docker with gatsby and wordpress but for some reason I would like to keep everything together and not use netlify to host my gatsby site.

What I would like to do is to host the whole app with wordpress, db and gatsby on Digital Ocean.

Is there a way to trigger the gatsby site build on wordpress update button click with this setup?

hopefully someone can help me with this, :)

[2019-09-29 17:00] jimmysafe opened #17985 "How to trigger Gatsby builds on local server with when content in Wordpress changes"
Hey, this question is following the closed issue @ github.com/gatsbyjs/gatsby/issues/2753

The issue I am having is that when I update a post in wordpress CMS i would need to rebuild the whole Gatsby site in order to get the changes displayed in the front-end.

I have setup a docker with gatsby and wordpress but for some reason I would like to keep everything together and not use netlify to host m

[2019-09-29 17:27] #17132 closed

[2019-09-29 17:27] #17133 closed

[2019-09-29 17:27] #17134 closed

[2019-09-29 17:27] #17153 closed

[2019-09-29 17:35] jonniebigodes commented on #5255
@jocrau if you can please make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail.

I've just finished running the steps documented in the document you've posted and all seems to be working as it should. The pages are created programmatically and for instance when i hit `/acount/` when i'm l

[2019-09-29 17:37] samajammin commented on #5254
@ericnakagawa I'm curious, does React and/or Facebook use CrowdIn for translations? I see you're still the owner of [the React project](https://crowdin.com/project/react) but it looks like you folks may have moved entirely to Github? I would love to learn the approach your taking with Calibra. Appreciate anything you could share :)

[2019-09-29 17:40] samajammin commented on #5254
I'd also love to know if there's any update on a Gatsby plugin or starter. I searched for both but didn't find any on gatsbyjs.org. Thanks all!

[2019-09-29 18:00] jonniebigodes commented on #2753
@jimmysafe to the best of my knowledge, for the time being, when you use gatsby and probably `gatsby-source-wordpress`, basically it's a one way process, you fetch the data at build time. When you update wordpress, gatsby has no way to to know about the update. You might need to setup some webhooks to trigger a new deployment when content changes, for instance when you add a post/page.

[2019-09-29 18:02] jonniebigodes commented on #17985
@jimmysafe see what i just mentioned in #2753

[2019-09-29 18:24] jonniebigodes commented on #17970
@pepibumur can you make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail?

[2019-09-29 19:21] JimTheMan opened #17986 "Add note about how to disable eslint in gatsby"
I have deleted all my prettier and .eslint files, but when I fun gatsby develop I still get erros about linting.

I don't want to use any linting at all. How do I disable it??

**Edit**:

Maybe we should add a small note at the bottom of https://www.gatsbyjs.org/docs/eslint/ explaining how to disable it?

[2019-09-29 19:22] pincheira commented on #9751
@dcsan this did it. Thanks man.

[2019-09-29 20:35] bensink commented on #13019
clearing cache worked for me! thanks

[2019-09-29 21:59] bvaughn commented on #5254
No update on this, unfortunately. I ended up getting distracted by other project. @tesseralis took over the translation/localization efforts for reactjs.org.

[2019-09-29 22:07] dhhdev commented on #17985
@jimmysafe As  @jonniebigodes mentions, that is a good source for inspiration on how to accomplish this. (The entire linked issue, has some good ways to do what you want.)

However I would like to add, that if it runs on the same server anyway. You could simply run something along the lines of `<?php exec("gatsby build /path/to/gatsby-site); ?>` - get HookPress (or something entirely different) to

[2019-09-29 22:18] jimmysafe commented on #17985
@dhhdev @jonniebigodes thanks for the reply. I think this plugin https://github.com/crgeary/wp-jamstack-deployments is specifically made for the netlify webhook (not sure i will look into it). for the time being i will go for the bash script and see how it goes! :)

[2019-09-29 22:48] fk commented on #14722
Closing in favor of `theme-ui`.

[2019-09-29 22:49] #14722 closed

[2019-09-29 23:07] elgatoflaco commented on #9751
this helped me: update this dependency used sharp
npm i gatsby-plugin-manifest@2.2.20

[2019-09-29 23:08] tesseralis commented on #5254
@samajammin we decided on a GitHub-based approach. I'm actually working with Gatsby to do their translations and decided on the same approach. You can see my thoughts here: https://github.com/gatsbyjs/rfcs/pull/42/files

In short:

* Our translations are sourced from the developer community, and most of them prefer Git.
* Crowdin has some trouble handling markdown content, leading to sometimes mis

[2019-09-29 23:10] dhhdev commented on #17985
@jimmysafe, I must admit I didn’t even check to see if HookPress was still a thing. I haven’t really touched WordPress in years. And when I worked on an in-house PHP project. We just added what we wanted the hard way, anyway. Hehe.

You could also just add a simple button to the WordPress interface I guess. That goes out and fire a new fresh build. Which I would honestly do myself. Automatically d

[2019-09-30 01:11] samanthabretous commented on #17946
Great! From my understanding `gatsby-browser.js` runs before the client is added to the DOM. Therefore, when the plugin fires `onRouteUpdate` during the first load, injecting the script fails. But if we navigate to other routes, the client is now in the DOM, so it works.

I think anyone who queries the DOM in `onRouteUpdate` will run into this issue. And I'm surprised `onInitialClientRender` doesn

[2019-09-30 03:22] robmoggach commented on #6350
@jlengstorf documentation describes limit of one `useStaticQuery` *hook* per file but does not say you can't use multiple `<StaticQuery/>` components - maybe this needs to be more obvious - (I hit the same limit and thought I was ok)

[2019-09-30 03:27] LpmRaven commented on #17361
@kuworking you mean highlight in 'prism-react-renderer'? I am programmatically generating my blog post pages and any code snippets are outputting as a string without being put inside `<pre>`.

[2019-09-30 03:38] samajammin commented on #5254
Awesome! I'll look into this. Thank you both.

[2019-09-30 06:26] amiiit opened #17987 "on build: TypeError: Cannot read property 'slice' of undefined"
## Description

On build, the following error occurs:

[code]
Seems like the null/undefined values that cause the error originate from the function `popNodeQueries` at the `query` package in the core gatsby code. I have no idea what puts this null value into the store.

### Steps to reproduce

I've made my project public for this purpose. This is a public website that I'm building for a campaign f

[2019-09-30 06:32] pgegenfurtner commented on #17171
I will have a look at it, thanks!

[2019-09-30 06:45] muuvmuuv commented on #17824
Hey @LekoArts, I quickly typed a plugin together which has two bugs where I would need some help. Maybe you know someone from the Gatsby team or yourself can try to help me?

https://github.com/muuvmuuv/gatsby-remark-custom-classes

- When adding a class to the HTML tag `hr` which contains padding left or right it does not get applied. This is the expected behaviour in HTML, so I tried to wrap it

[2019-09-30 07:53] Austaras opened #17988 "Word count for CJK character"
## Summary

Currently, `gatsby-transformer-remark` use lodash.words to count words and generate reading time, which doesn't count any CJK characters at all.

I think just count the number of CJK characters and add to the result is fine enough since basically `hexo-reading-time` behave like this. I'd like to know if pr is welcomed

[2019-09-30 09:04] Powell-v2 commented on #17668
Hi, thanks a lot for getting back to me and sorry about the delay. I updated `gatsby` to `2.15.28` and the issue vanished. Not sure what exactly caused it, but I'm happy it's running again : )

[2019-09-30 09:04] #17668 closed

[2019-09-30 09:39] a-botermans commented on #8357
@t2ca I have updated my test repo : https://github.com/a-botermans/test-case-history-bug
and it still fails so I doubt it was fixed

[2019-09-30 09:42] tesseralis opened #17989 "Make pages/docs/index.js into a markdown file."
## Summary

Make the Introduction page of the docs an MDX file.

## Motivation

This is the first page that appears when going to the "docs" section and a core page that should be translated.

[2019-09-30 09:43] tesseralis commented on #17780
Hi @mendaomn! This might be hard as a first contribution since the home page touches a lot of different queries and components. What about this? https://github.com/gatsbyjs/gatsby/issues/17989

[2019-09-30 09:55] #17557 closed

[2019-09-30 11:01] sirichards opened #17990 "Build .cache and AWS Amplify / Codebuild"
Hi,

I am using AWS Amplify to build my Gatsby app, to speed the build time up I have included the .cache folder in the yaml build spec. The problem with this is AWS creates a new instance for each build, the build id is contained in the folder structure, therefore the absolute paths Gatsby stores in the .cache files are invalid for future builds.

e.g. /codebuild/output/src245632857/src/my-websit

[2019-09-30 11:25] davidmusset opened #17991 "Gatsby - Build - WebpackError: Invariant failed"
## Description

Hello,

I'm having troubles building my gatsby project.
Development is working fine, but when i try to build, I get an error :
[code]

I tried everything but I have no idea how to debug it.

### Steps to reproduce

Below is my code.
I have basically a static website using redux and react router dom to navigate.
I had previously an error when building : "couldn't find the store" whi

[2019-09-30 11:37] taigfs commented on #13956
@wahlforss In my case it was a matter of time/cache.

There was cache somewhere (my guess is the nginx server) and it started to work 2 days after.

I just opened your link and it's working now, right? Same thing there?

[2019-09-30 11:45] davidmusset commented on #17991
[code]

[2019-09-30 12:30] adhanadeepak commented on #17059
@dkthehuman  Thanks man, I was on ^3.0.10 and was facing the same issue. I also fixed it by downgrading gatsby-plugin-offline to ^2.2.9

[2019-09-30 12:31] lannonbr commented on #17982
Hey @FengShangWuQi So a question to have is does the gatsby build complete successfully? If no then we may have an issue with it misbehaving with Docker. If it does build successfully, then it may be an issue with how the CLI does its logging in a Docker environment.

[2019-09-30 13:27] TomerAberbach opened #17992 "Run babel-plugin-macros before extracting queries opening way for FixedImage and FluidImage JSX element macros"
## Summary

Currently, macros using [babel-plugin-macros](https://github.com/kentcdodds/babel-plugin-macros) are expanded *after* queries are extracted. I think macros would be far more useful in Gatsby if they were expanded *before* queries are extracted because they could then be used to generate queries.

### Basic example & Motivation

I've pretty much finished implementing a JSX element macro

[2019-09-30 13:40] fwielstra commented on #12649
Can this issue be looked into again? We're running Wordpress as purely a rest api, in that use case adding pretty URLs doesn't make a lot of sense. I can only find two instances of wp-json in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/fetch.js but I'm not sure if there's any subtleties in there I'm missing.

[2019-09-30 13:50] endymion1818 opened #17993 "Partial rehydration"
## Summary

Instead of replacing all of the HTML tree with the React app tree, would it be possible to have the option to only rehydrate the parts which use React functionality (ie. forms).

### Motivation

The reason for this request is that many users in various countries do not have access to the fastest internet or the latest smart phones, and React sites often chew through bandwidth and batte

[2019-09-30 14:16] KyleAMathews commented on #17993
Yes! This will be a huge improvement once it lands in Gatsby. We can automatically create much smaller bundles for pages by lazy loading much of the code.

[2019-09-30 14:21] jonniebigodes commented on #17946
@samanthabretous all that's inside `gatsby-browser.js` is a means to costumize and extend the settings that affect the browser. My understanding is that when the api `onRouteUpdate` is triggered it relates to the application context, if you come from from the outside into the page it will not pick up on it. But like i've tested if you go back and forward then it detects and injects the script. Tak

[2019-09-30 14:30] fk commented on #17776
Hey there @tesseralis, and @antonfrolovsky! 👋 🤗

Here's a first shot (finally! :pray:) that hopefully solves our rudimentary UI needs …
and _maybe_ some more; I explored a little further, inspired by the excellent resources you provided:

[Clickable prototype](https://www.figma.com/proto/UcsUDRdCoJaQdfITkcKMnU/.org-language-toggle-UI?node-id=1%3A614&viewport=849%2C4485%2C1&scaling=min-zoom):
- Cli

[2019-09-30 14:38] jonniebigodes commented on #17991
@davidmusset you mentioned that you're using react router dom right and i saw that you have the following in your package.json
[code]
Gatsby internally uses @reach-router [https://reach.tech/router] and the issue could be with that package, but i'm speculating a bit.

If you need to need to make private routes, that are gated, you can take a look at [client-only-paths](https://github.com/gatsbyjs/

[2019-09-30 14:44] sonapraneeth-a opened #17994 "Warning: componentWillUpdate when using themes"
## Description

Below is the warning I get when I run

[code]
from the themes directory in gatsby repository

warn Warning: componentWillUpdate has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move data fetching code or side effects to componentDidUpdate.
* Rename componentWillUpdate to UNSAFE_componentWillUpdate to suppress

[2019-09-30 14:46] jonniebigodes commented on #17783
@maheshkumar2150 can we close this issue?

[2019-09-30 14:53] lannonbr commented on #17994
I haven't dived into why this is occuring, but I bet it is very similar to #17865 that some dependency is internally using that lifecycle hook so they need to update it. I could look into this later to pinpoint what is causing it.

[2019-09-30 14:54] smurrayatwork opened #17995 "[gatsby-image] Webp format not used unless toFormat is specified."
## Description

Under the documentation describing how to use fragments with webp, the following appears:

While this is correct, WebP images don't appear to render using the component from the gatsby-image package without also setting `toFormat: WEBP` with `fixed` or `fluid` queries. This documentation should be updated to mention this, or if this is a bug it should be fixed.

### Steps to reprod

[2019-09-30 14:57] davidmusset commented on #17991
Hi Jonnie,
Thanks for the response

I have tried replacing router-dom by gatsby route but the error was still there.

I reproduced the code and put it on github as per your docs.
See here :
[https://github.com/davidmusset/GatsbyArlina](https://github.com/davidmusset/GatsbyArlina)

Let me know if you can find something ?

Many thanks

[2019-09-30 14:59] jonniebigodes commented on #17994
@sonapraneeth-a not only on themes, but some packages that use that react api hook, need to be updated. While triaging some other issues, i've encountered that same warning, I think that the react version was updated recently and it led to that issue and the one that @lannonbr mentioned, i think this pull request #17959 introduced the warning

[2019-09-30 15:00] muuvmuuv opened #17996 "[gatsby-remark-prismjs] move command-line-prompt span outside code tag"
## Summary

I'm giving my code block which gets highlighted an inner padding but because the `command-line-prompt` span is also inside the pre block it gets the padding as well. I think it would make the plugin more consistent to move it out of the code block and put it in the pre block or even better in the outer div `gatsby-highlight`.

### Basic example

[code]

### Motivation

This would incre

[2019-09-30 15:03] muuvmuuv opened #17997 "[gatsby-remark-prismjs] line highlighter and line numbers does not produce the same amount of lines"
## Description

If the bove mentioned plugins are used together, line number have more lines than the actual code. It looks like it does not minus the removed comments for line hightlighter.

### Steps to reproduce

[code]

![Bildschirmfoto 2019-09-30 um 17 02 47](https://user-images.githubusercontent.com/11534760/65891050-367fd600-e3a4-11e9-937d-b7358de8fb3c.png)

### Expected result

it should r

[2019-09-30 15:10] pepibumur commented on #17970
Sure, [here](https://github.com/pepibumur/gatsby-mdx-slug-bug) is the repository. You can run `yarn build` and the build should fail.

[2019-09-30 15:11] paveli commented on #14591
Hi are there any updates on this issue? Will currency be added?

[2019-09-30 15:20] jonniebigodes commented on #17991
@davidmusset cloning the repo as i type. I'll take a look into it and report back. Do you mind waiting a bit?

[2019-09-30 15:30] davidmusset commented on #17991
@jonniebigodes ofcourse not

Thanks for the help !

[2019-09-30 15:35] cpboyd commented on #17721
I was seeing a similar error when using `useStaticQuery` multiple times within a single file.

If you're doing the same, have you tried splitting the calls into separate files?

[2019-09-30 15:38] dw2 commented on #4779
I'm seeing the same thing using v2.15.28, also deployed with Netlify.

[2019-09-30 15:58] universse commented on #17960
You have a sample site?

[2019-09-30 16:22] Carike commented on #15233
Hi @marcysutton

I would love to give this a go. I do have a few questions about it since I'm completely new to Gatsby, but if your perhaps available that I can just run stuff by you I would appreciate it.

Looking forward to hearing from you!

[2019-09-30 16:44] robin-macpherson commented on #16457
Hi @kmck ! Just left a comment on your PR to let you know that I already have a PR that's about to be merged that fixes this. Just need to update e2e tests and reached out for some guidance on taking care of that and it'll be ready to go (see the PR reference just above in this issue's history). Thanks a lot for inputting!

[2019-09-30 17:26] hyalen commented on #15547
I'm facing the exact same problem. I want to be able to render multiple images, according to media queries I'm specifying, but it doesn't work. Any updates related to this issue?

[2019-09-30 17:27] #17172 closed

[2019-09-30 18:30] kunxi commented on #17962
Thanks for the tip!

[2019-09-30 18:30] #17962 closed

[2019-09-30 19:33] jmolivas opened #18000 "Wrong slug generated as id when using gatsby-remark-autolink-headers and MDX"
## Description

We are having issues when generating slugs for heading.  We are using MDX

### Steps to reproduce

Clone repository [mdx-slug](https://github.com/jmolivas/mdx-slug) and execute
[code]

### Expected result

The page should generate a slug version of the h2 and h3 text-children as `id`

### Actual result

The build is generating wrong ids for at least one of the h3 elements

![image]

[2019-09-30 19:34] jonniebigodes commented on #15233
@Carike @marcysutton and the gatsby team are away this week(Monday to Friday) for their meetup and Gatsby days London and with that it's going to be a bit difficult for replying and handling some items like this one, do you mind waiting a bit longer on this until the team returns?

Looking forward to see this addition to the documentation added in the near future.

[2019-09-30 19:40] jmolivas commented on #18000
We also try with a different approach and same issue appears
We wrote  a react component
[code]
And set those components as  `shortcodes`
[code]
Then passed to the `MDXProvider`
[code]
And got the same issue after executing
[code]

[2019-09-30 19:50] jonniebigodes commented on #17991
@davidmusset i've been through the reproduction you supplied and it seems that it needs some work so that it can work with gatsby.

I'm assuming based on the installation process i believe that you've initially setup the website with cra(create-react-app) and during that process some issues popped up, there's some vulnerabilities there as you can see below after the package installation is finishe

[2019-09-30 20:04] davidmusset commented on #17991
Thanks for your help, that's really helpful.
I'm still pretty new to react which explains why i'm not familiar with all
these issues.
But thanks for addressing, I will correct all this and hopefully build back
gatbsy again successfully.

Thanks again

Le lun. 30 sept. 2019 à 21:51, jonniebigodes <notifications@github.com> a
écrit :

[2019-09-30 20:11] jonniebigodes commented on #17991
@davidmusset no need to thank, i'm sorry that was not more helpfull, when you're able feel free to close this issue. Should more issues arise feel free to open it up then or create a new issue.

[2019-09-30 20:24] rGustave07 commented on #17721
For me, this issue was fixed by moving the folder holding my custom hooks into the src folder.

[2019-09-30 20:24] #17721 closed

[2019-09-30 20:33] benjamingrobertson opened #18001 "[gatsby-source-filesystem] Accessing paths to files in graphql"
## Summary
Recently in a project using gatsby-source-drupal, a client requested the ability to link to PDFs and other documents from within a WYSIWYG.

My understanding is that gatsby-source-drupal uses gatsby-source-filesystem on to generate file nodes. Looking in the graphql schema, I can see that all files from Drupal have a Gatsby node. However, the schema doesn't have a url I can use to link

[2019-09-30 20:40] ricard0javier commented on #17131
in my case, I'm using OSX and IntelliJ, I had to:
- Close the project in IntelliJ
- Try again (`npm start`)
- and reopen the project in Intellij
I guess that the issue is related with IntelliJ indexing files

[2019-09-30 21:39] abohannon commented on #5726
I'm also running into this problem. Elements are not rendered as static HTML. Don't appear in build or curl output. Can we reopen as it seems there wasn't a clear solution provided?

[2019-09-30 23:12] MorrisonCole commented on #17495
Not stale! 👍

Still wondering how to do this :)

[2019-09-30 23:37] alexfornuto commented on #18000
I can confirm that this issue happens on Fedora 30 as well, Node 10.16.3

[2019-09-30 23:58] alexfornuto commented on #18000
To test, after building the site locally, review the H2 anchors for /docs/git-faq. Remember to build and serve with `--prefix-paths`, as the issue doesn't occur when not using that flag.

[2019-10-01 00:06] dsegovia90 commented on #16765
Hello! Not sure if at all helpful, but I'm experiencing the same issue, although weirdly only in production and with double quotes `"` (`%22)` in the url. Also, the link is accessible if it's not the first load (SSR).

If you try to go to this [link](https://musi-co.mx/instrumentos/Viola-Cremona-SVA-130-708834-15%22-1) directly (server side rendered), the site throws an error `(index):28 Uncaught

[2019-10-01 01:09] sidharthachatterjee commented on #17954
Fixed in https://github.com/gatsbyjs/gatsby/pull/17969

Thank you so much @ashu8912 🥇

[2019-10-01 01:09] #17954 closed

[2019-10-01 01:44] sidharthachatterjee commented on #17873
Documented in https://github.com/gatsbyjs/gatsby/pull/17966

Let's close this for now

[2019-10-01 01:44] #17873 closed

[2019-10-01 01:47] sidharthachatterjee commented on #17921
This was an upstream issue in MDX that caused prettier to incorrectly escape blog: `$15' to `\$15'

This is fixed in upstream so I'll close this once `www` is updated visa Renovate

[2019-10-01 04:43] narration-sd commented on #10179
_underline_ this, no??

Hope you can do this now - just think of all the time we spend tracking this down...and the support load for other systems or benefitting by upgrading Gatsby - thanks

[2019-10-01 04:47] rchrdnsh commented on #17660
I don’t really know is the problem. I had some other constant re-painting issues and solved all of them, but then I recently noticed this. Tried to walk a few thing back, but to no avail. I dunno if it happened recently or a while ago. Just threw it out quick to see if anybody might have seen it here before. I don’t remember doing anything css wise I’m that I could imagine would do something like,

[2019-10-01 05:09] rchrdnsh opened #18011 "Routing is broken in the 'using-i18n' example site..."
Hi @LekoArts XD

Check out the routing in the 'using-i18n' example:

https://using-i18n.netlify.com/

...if one clicks on a blog post in english, and then while on that blog post clicks on german as the language the site goes back to the home page, rather than staying on the current page, breaking user context.

I hope that makes sense, as I would like to mess around with this example, but prolly

[2019-10-01 05:15] rchrdnsh commented on #18011
Actually, it's also not updated to use `gatsby-plugin-mdx` either...I might take a stab at that...🤔

[2019-10-01 05:49] Yofamb commented on #17989
I'm be keen to tackle this issue.

[2019-10-01 06:18] rchrdnsh commented on #18011
Also, trying to update the example to `gatsby-plugin-mdx` and I'm running into this error when I navigate to a blog post:

<img width="1041" alt="Screen Shot 2019-09-30 at 10 49 09 PM" src="https://user-images.githubusercontent.com/7884263/65938575-271a8000-e3d8-11e9-94a8-51bac52eba16.png">

...so I ran the query on that page in graphiQL and got this:

<img width="1119" alt="Screen Shot 2019-09-30

[2019-10-01 06:34] beamercola opened #18013 "Tailwind docs: Recompile every change?"
## Summary

Followed the tailwind guide, but i'm having to reload `gatsby develop` every time i change a class to a class I haven't used before (like it's compiling tailwind file)

## Relevant information

Followed this:
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/tailwind-css.md

### Environment (if relevant)

  System:
    OS: macOS 10.15
    CPU: (4) x64 Intel(R) Core(TM) i7-6567U

[2019-10-01 07:48] Yofamb commented on #17989
I've started to work on this issue, it can be found at https://github.com/Yofamb/gatsby/commit/68dbedbad62b232b8c69cca6994d6358be209ead Should I open up a pull request to discuss the thing i'm unsure of?

[2019-10-01 08:15] omonk commented on #3064
@wardpeet Thanks for that comment, that has fixed my issue.

I did a bit of debugging but the source code for this plugin is quite complex to get into so I didn't get too far, enough to understand that there is some sort of issue going on with working out referencing.

We're now seeing errors about mismatched typings, everything builds fine in netlify but wondering if there is any advice on whethe

[2019-10-01 09:56] Carike commented on #15233
@jonniebigodes that's 100% with me.

Thank you very much for the response and all the best for your meetups & Gatsby days!

[2019-10-01 12:05] dbrookes commented on #18013
Looks like you're using Gatsby Plugin Purgecss, you probably don't want that running in development so I'd check if you have `develop: true` in the options for this plugin?

[2019-10-01 12:07] muescha commented on #17979
should we then also do a rewording or the error message?

[code]

[2019-10-01 12:10] muescha commented on #17979
should we provide at first an workaround before we blame a gatsby bug there...

[code]

[2019-10-01 12:11] muuvmuuv commented on #17824
So I got it working. The plugin is updated and can now wrap root children and/or give specific tags a class. It also can add classes to plugin generated HTML, like the image plugin.

The only thing that is _not_ working is `footnoteDefinition`, which somehow ignores the wrapper and adds itself to the end of the tree.

[2019-10-01 12:15] jonauz commented on #5417
So what is the solution? Simply close ticket and leave issue standing? Year later, still same issue existing.. and then finding this bug closed for no reason!

[2019-10-01 12:17] sonapraneeth-a commented on #17994
There seems to be only one occurrence of ```componentWillUpdate``` in [develop.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/reporter/reporters/ink/components/develop.js)

Also, this issue seems to occur currently with ```gatsby develop``` and not with ```gatsby build```.

Currently, I'm not sure what this component is intending to do. If someone can help me, may be I

[2019-10-01 12:26] lannonbr commented on #17994
@sonapraneeth-a it looks like that component is for the CLI where at the bottom you can see the app name and how many pages exist when you run `gatsby develop`.

It would be great to get a PR. If you're interested I can assign this to you.

From what it looks like, the changes needed are likely just to move this from componentWillUpdate to componentDidUpdate as shown in this blogpost: https://reac

[2019-10-01 13:15] imlastrebor opened #18019 "Hover title and show image related to that title"
## Summary
Hi, I'm building portfolio site with Gatsby and Wordpress. Site is almost ready, it needs just some features. I have idea that I can't solve by myself. In my portfolio´s index page I've listed all portfolio items and when I hover item(```PortfolioItem```) I would like to show image(```PortfolioImage```) related to that hovered item and if any item isn't hovered images are hidden.
 [Port

[2019-10-01 13:21] sonapraneeth-a commented on #17994
I can create a PR for this. I'll read on how to make changes as per the blog post shared.

[2019-10-01 13:32] roadwig commented on #17556
Hey @jonniebigodes / @wardpeet - I'm not really sure how the Gatsby team triage issues but just wondering if we should change the label on this issue (it's currently `status: awaiting author response`), or do you still need further details from me?

[2019-10-01 13:36] jonniebigodes commented on #17556
@roadwig i've just removed it, i'm going to leave in the question label.

[2019-10-01 13:40] roadwig commented on #16765
@dsegovia90 I have a similar but distinct issue to what you're reporting.
See https://github.com/gatsbyjs/gatsby/issues/17556

TL;DR: In my case, I can navigate directly to a page with non-encoded URLs except on MS Edge. On MS Edge, I have the same symptoms of your bug - the page renders for a second, but then goes white and the `<div id="___gatsby">` is contentless

[2019-10-01 14:07] eyalroth commented on #16765
@roadwig I believe it's a problem with Edge, not Gatsby. The whole reason I first started encoding my URLs is because Edge was failing to load them.

[2019-10-01 15:14] beamercola commented on #18013
@dbrookes thanks for the reply here's my config:

[code]

[2019-10-01 15:18] LekoArts commented on #18011
Thank you for opening this!

The site is working as intended, I didn't want it to stay at the same blog posts as it complicates some things -- and I wanted to keep the example concise.

I'll update the example to the latest MDX plugin next week or so, thanks for mentioning that!

I'm marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would

[2019-10-01 15:18] #18011 closed

[2019-10-01 15:24] dbrookes commented on #18013
Try set `develop: false` and then you should be able to use any tailwind classes in develop without rebuilding - any classes you haven't used will still be removed from the final bundle when you run `gatsby build`

[2019-10-01 15:27] bloodbee opened #18024 "gatsby-plugin-sitemap - siteMetdata/siteUrl error when building locally"
## Description

When i try to build this repo https://github.com/bloodbee/website locally after a npm install, i got a error about gatsby-plugin-sitemap and that the siteUrl in siteMetadata is not set.

### Steps to reproduce

1) Clone the repo
2) npm install
3) npm run build

### Expected result

The script npm run build should be executed properly

### Actual result

Error about gatsby-plugin-si

[2019-10-01 15:30] beamercola commented on #18013
@dbrookes that fixed it!  so it's fine to leave it this way?  I don't need to change anything for production?

thank you.

[2019-10-01 15:31] kattow88 commented on #8096
Hot reloading not working for me either.
Windows 10
Node v. 10.16
npm v. 6.9
gatsby-cli v. 2.7.53
gatsby v. 2.13.50

[2019-10-01 15:40] dbrookes commented on #18013
You don't need to change anything for production, but keep in mind that Purgecss will only run when you run `gatsby build` so you should check everything looks ok with `gatsby serve` or on your staging environment. If it has broken the styles of any third party libraries you can follow the steps here to whitelist them:

https://www.gatsbyjs.org/packages/gatsby-plugin-purgecss/#help-purgecss-breaks

[2019-10-01 15:42] gavinlimely commented on #17960
I don't have a sample site, is what I've put above not enough to go off?

If not, do I need to put something online? Or is it just a code repository you're after?

Thanks

[2019-10-01 16:22] Js-Brecht commented on #17131
@steinitz, @rheinardkorf, @hbthen3rd, @sharvit, @JaKXz, @emilyaviva, @MaximeHeckel

Any of you guys willing to test #17938?

[2019-10-01 16:26] ehowey commented on #17131
I should be able to take a look later tonight when I am home. Thanks for all your work on this!
On Oct 1, 2019, 10:23 AM -0600, Jeremy Albright <notifications@github.com>, wrote:

[2019-10-01 17:04] tesseralis commented on #17989
Yes! Just make a draft pull request and I can take a look at it.

[2019-10-01 17:14] BALAJIRAO676 commented on #18024
Refer https://github.com/alxshelepenok/gatsby-starter-lumen/issues/199#issue-438047721
It is very similar issue . Hope you get it.

[2019-10-01 17:24] BALAJIRAO676 commented on #8096
Please refer https://github.com/gatsbyjs/gatsby/issues/13918

The discussion is around it only . Hope you find it useful and figure out.

[2019-10-01 17:25] kangarang commented on #4666
oh my goodness, i can't believe this actually worked

[2019-10-01 17:27] #5314 closed

[2019-10-01 17:27] #16922 closed

[2019-10-01 17:27] #17166 closed

[2019-10-01 17:27] #17208 closed

[2019-10-01 17:27] #17219 closed

[2019-10-01 17:55] johnatspreadstreet commented on #2792
Nice, this was definitely the issue I was having.

[2019-10-01 18:21] amiiit commented on #17987
Seems like this is a dupe of https://github.com/gatsbyjs/gatsby/issues/17882
Should be fixed by https://github.com/gatsbyjs/gatsby/pull/17886

I will verify this and close accordingly

[2019-10-01 18:21] FailedSitcom commented on #17995
@smurrayatwork @pranshuchittora I'd like to take a look at this

[2019-10-01 19:00] rchrdnsh commented on #18011
hmmmm...well, in my experience, routing back to the home page breaks continuity and confuses users, so I would definitely want to alter that to use this template. So what would I need to do to get that behavior? I'm not really sure where to even start, to be honest :-(

[2019-10-01 19:22] graysonhicks commented on #17995
Having this same issue.  When using the `toFormat` workaround, the png fallback seems to break for non-Webp browsers.

[2019-10-01 19:30] FailedSitcom commented on #17995
@smurrayatwork & @graysonhicks using the following code (slightly modifying the Gatsby Starter):

[code]

I'm finding the Firefox and Chrome are rendering a webp image and Safari is correctly falling back to a PNG. May I enquire if your query differs greatly from mine, as well as what your image source is? Thank you!

[2019-10-01 19:45] glauberm commented on #18019
Hi. I'm not sure if I understood correctly what you want to do, but it's something like [this](https://tympanus.net/Development/ImageRevealHover/), right? Have you tried working with the [mouseEnter](https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseenter_event) and [mouseLeave](https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseleave_event) events?

[2019-10-01 20:32] DmacTorstar opened #18030 "Cache with Contentful is too aggressive? Cache needs clear on every change to data"
## Description

When I add any new data to contentful, change any field, change any model, make any update whatsoever, including changing one of the graphql queries on the gatsby side, I need to stop the dev server, run gatsby clean and then restart.

Is this normal? If so, it seems way too aggressive of a caching strategy and makes development extremely tedious.

### Steps to reproduce

- Run cod

[2019-10-01 21:06] glauberm commented on #17983
I don't think this causes a repaint. Or perhaps I'm not being able to reproduce this error correctly. The "flash" that you mention happens at the Element Inspector, right?

[2019-10-01 21:12] graysonhicks commented on #17995
I just reverted our switch to Webp back to regular Fluid and Fixed fragments.  Only difference I see is we had noBase64, but I did not have a change to test with the regular Webp fragment.  I will both again tomorrow +/- toFormat and double check.

[2019-10-01 21:15] jonniebigodes commented on #17970
@pepibumur i've been testing this and it seems there's some incompatibilities between the two plugins.
Here are the steps i took to triage this:
- Cloned your repo and installed the dependencies.
- Added some more pages for testing purposes.
- Issue on the console `yarn build` and i'm presented with the error you've supplied in the description.
- Issue `gatsby clean && yarn develop`, to purge the

[2019-10-01 21:47] jonniebigodes commented on #17960
@gavinlimely if you can make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that the issue can be looked at in more detail.

[2019-10-01 21:59] rchrdnsh opened #18033 "How could I add a language 'switcher' to the 'using-i18n' example?"
Hi Gatsby and @LekoArts,

I decided to open a new issue as a question so as to try and figure this out. I downloaded the `gatsby-master` folder and copied the 'using-i18n' example to try to learn how to add mdx multi-lingual blog functionality to a site that I am working on. Everything is great up until I click on one of the language links. Instead of switching languages on the same page, which is

[2019-10-01 23:11] GooBall commented on #11934
The fix by @TheAadithyan works. Kinda annoying though...

[2019-10-01 23:11] lauralouiset commented on #18019
You may be able to fake this effect with css. you can trigger a before/after element to appear on hover, and pass data from a component into a data attribute via props. then set the content to that data attribute, and bingo, CSS tooltip!

[2019-10-02 00:16] jamessimone commented on #17419
@nathanfoon I agree that this would be useful. I just submitted a PR - #18035 - to try to have this addressed

[2019-10-02 01:39] #17963 closed

[2019-10-02 03:14] universse opened #18037 "Update page-data.json without redeploy."
According to [Caching Static Sites](https://www.gatsbyjs.org/docs/caching/) docs, it’s possible page-data.json files to be updated even without a redeploy. Just wondering how it's done.

[2019-10-02 03:20] me4502 commented on #11184
An issue I've hit recently IMO is a fair bit of a blocker for entirely moving to lokiJS as well - https://github.com/gatsbyjs/gatsby/issues/17935

[2019-10-02 03:23] me4502 commented on #17935
https://github.com/gatsbyjs/gatsby/issues/11747 - I'd say this fits into that umbrella issue

[2019-10-02 03:35] me4502 commented on #17935
Just did a little bit of looking into it - the stale nodes it finds are the SitePage entries for every single page. They're stale as the pages aren't made during the sourceNodes step.

[2019-10-02 03:48] universse commented on #17960
@gavinlimely This is an open-source project. More often than not, people who are contributing, whether writing code or addressing issues, are doing so out of their free time. Having a ready-made reproduction helps speed things up a lot. It also get your issue answered more quickly.

In this case, guess a code repository is good enough since I can put it on codesandbox to poke around.

[2019-10-02 03:48] ericloong90 commented on #9899
Disabling cVim fixed it for me

[2019-10-02 03:53] universse commented on #17960
But from what I can see, you are not handling updates to `this.props(.location.state)` via `componentDidUpdate`.

[2019-10-02 05:29] StevenZoo commented on #12857
@humphreybc , thank you, that makes a lot of sense! (Didn't realize I had turned email notifications off, hence the late reply heh.)

I am hoping to make a PR by Sunday.

In the meanwhile though, I looked through the code, and it appears that the options passed to `gatsby-remark-images` get forwarded to `gatsby-plugin-sharp`. I know the docs don't suggest this, but I think you may be able to pass

[2019-10-02 07:42] joe-bell commented on #17737
Also getting this :(

Migrating from `gatsby-mdx` has been very tricky as there's not much documentation on the migration

[code]

and here are the dependencies used:

[code]

[2019-10-02 07:50] mfeltscher commented on #17335
Hi there!

When we released the first version of this plugin long time ago we were aware that this could happen one day since that endpoint isn't officially documented and supported by Medium.

We looked into this and discussed some potential fixes and came to the conclusion, that it is still possible to achieve the same functionality as the plugin used to offer. The solution consists of using the

[2019-10-02 08:04] omonk commented on #17335
@mfeltscher Sounds good! although Do you know if it is possible page through the the RSS feed? Currently the max it returns is the latest 10 posts?

[2019-10-02 08:04] anonimoconiglio commented on #17667
I found a new approach and it's the one I'm adopting in this case.

Basically it's like the second approach I talk about on the first post, but applied in detail.
I don't preclude the loading process of the component (since it's important to have an accurate version of the website that match the app that runs on the client and the server side rendered version), instead whenever I need an alternati

[2019-10-02 08:04] #17667 closed

[2019-10-02 08:28] #17987 closed

[2019-10-02 09:08] gavinlimely commented on #17960
Hi @universse

Please see this repository: https://github.com/gavinlimely/gatsby-navigate-issue/

I've also added a `console.log` in the `componentDidUpdate` hook. So you can see the `this.props.location.state` doesn't update as expected when linking to the current page with new state parameters.

Note, this does work when using gatsby develop. Just not in production mode, so not sure if will be r

[2019-10-02 09:16] kuworking commented on #17983
Yes, you're totally right, if I have the `inspector` (inspect in Chrome menu) opened AND the `disable cache` clicked, I see the flash, without it or just with the inspector closed, nothing

So easy, thousand thanks!

[2019-10-02 09:16] #17983 closed

[2019-10-02 09:27] anonimoconiglio commented on #17835
Thanks! Didn't know this schema, it could be useful!
I'll try to fix all the errors then, in case there's something I can't solve will try with a reproduction.

[2019-10-02 09:27] #17835 closed

[2019-10-02 09:41] patrickreynolds commented on #15344
@pieh Amazing.

If anyone was wondering what they meant by "adding dummy image there", follow these steps:

1. Login to Contenify
2. On the top navigation, select Media
3. Upload any asset (I uploaded a 100px by 100px white square)
4. Try rebuilding, and it just works

I have so many questions, but already wasted enough time on this to try to understand why that matters.

[2019-10-02 09:42] patrickreynolds commented on #15397
@pieh thank you!

If anyone was wondering what they meant by "adding dummy image there", follow these steps:

1. Login to Contenify
2. On the top navigation, select Media
3. Upload _any_ asset (I uploaded a 100px by 100px white square)
4. Try rebuilding, and it just works

I have so many questions, but already wasted enough time on this to try to understand why that matters.

[2019-10-02 10:22] universse commented on #17960
Thanks for the repo. After some investigation, I believe this is a bug in Gatsby internals.

I will open a PR soon.

[2019-10-02 10:31] marcysutton commented on #15233
Sounds great @Carike, I'd say go for it!

[2019-10-02 10:36] #17521 closed

[2019-10-02 10:37] thchia commented on #15924
I’m interested in taking this.

[2019-10-02 11:03] nelsonmiew opened #18040 "Wordpress and gatsby cache/refesh wordpress content"
Hello,
I'm trying to build a gatsby solution with Wordpress CMS content.
When I update Posts on WordPress, i need to restart the gatsby server to get new content on gatsby solution.

What's the best solution to keep content updated on frontend gatsby? thanks.

[2019-10-02 11:12] silenceM opened #18041 "I have a page the url is '/USER' and I want '/user' also can open this page how can I write"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-02 11:28] TomFevrier opened #18042 "Netlify deploy: Error #85907 GRAPHQL"
Hi there!

**Note: Updated with a link to my entire Gatsby project**

I have an issue when deploying my Gatsby project on Netlify, with the following error:

[code]

Here is the content of `src/templates/publisher.js`:
[code]

Here is the entire project: https://github.com/tomfevrier/portfolio

### Environment

- **System:**
  - OS: Linux 4.15 Ubuntu 18.04.3 LTS (Bionic Beaver)
  - CPU: (4) x64 In

[2019-10-02 12:21] onestopjs commented on #18033
The way I do it in my localization plugin is the following:
1.I get the current path
2. Trim the language part from the current path
3. Redirect to the trimmed path, prefixed by the new language.

Here is [an example](https://github.com/onestopjs/gatsby-theme-localization/blob/a415f18452e89d0b5d28fdaa7f3019baf7aa46a6/gatsby-theme-localization/src/wrap-root.tsx#L47) of how I currently do it.

Keep

[2019-10-02 12:27] LinusU commented on #17661
@jafar-rezaei @jonniebigodes

The canvas package is meant to work both in the browser and on Node.js, with the use of separate files for each platform. In our package.json, we've added a line to tell bundlers to use the file `browser.js` when building for browsers, and `index.js` when running on Node.js.

https://github.com/Automattic/node-canvas/blob/7baaecfe13638fb8406f5277e97bb99e26afef51/packa

[2019-10-02 12:47] lucasecdb opened #18043 "Remark plugin cache error: ENOENT"
## Description

I'm trying to run `gatsby develop`, but the command spits out several "info: create file" inside the `.cache` directory of my app. It's not preventing me from running the app, but it's really annoying and makes the build really slow.

### Steps to reproduce

I'm running this into [this repository](https://github.com/OpenDevUFCG/Tamburetei), the app is inside the `_app` folder.

###

[2019-10-02 12:50] lucasecdb commented on #18043
I also want to point out that removing the `gatsby-transformer-remark` from my `gatsby-config.js` "solves" the problem. But I'm not able to use my markdown files without it :-(

[2019-10-02 12:52] DmacTorstar commented on #11747
Having this issue, and detailed my experience in  this ticket:
https://github.com/gatsbyjs/gatsby/issues/18030

[2019-10-02 12:56] dtroode opened #18044 "Preact routing doesn't work well"
## Description

When I click on link (Gatsby Link component), URL in searchbar is changing, but page doesn't change

### Steps to reproduce

- Install Preact (using official plugin [instruction](https://www.gatsbyjs.org/packages/gatsby-plugin-preact/))
- Use a Link component on the page
- Run build command
- Click on the link

### Expected result

URL changes and new page appears.

### Actual resu

[2019-10-02 13:54] xavivars opened #18046 "Improve core support for Gatsby as a static page generator"
## Introduction

Gatsby is defined as a _static site generator_, or even more, as a _static PWA generator_, as its described in gatsbyjs.org. That means is meant to be used to build full websites<sup>1</sup>, that completely own the URL namespace.

<sup>1</sup> It allows building also "subfolders" within a website, but it would still own routing & URLs in that folder.

However, Gatsby can be (and

[2019-10-02 14:11] thayannevls commented on #18043
I'm having the same problem :(

[2019-10-02 14:12] gavinlimely commented on #17960
No problem, thank you very much for your help.

[2019-10-02 14:15] muescha opened #18048 "Error: Cannot find module 'react' - after installing Plugin"
## Description

When i followed the documentation i get an error. as @marcysutton suggested in https://github.com/gatsbyjs/gatsby/pull/17318#discussion_r330466492 i file a new issue about this.

### Steps to reproduce

i followed the receipt (in draft) in https://github.com/gatsbyjs/gatsby/pull/17318

steps i have done:

[code]

### Expected result

no error - i should be able to run `gatsby devel

[2019-10-02 14:24] muescha opened #18050 "doc: rename `Life and times of a Gatsby build` to `Overview of the Gatsby Build Process`"
## Summary

Rename the title of this doc to match better the content.

### Basic example

rename from: `Life and times of a Gatsby build`
rename to: `Overview of the Gatsby Build Process`

### Motivation

We should consider a more descriptive title that will make it easier to understand when you see it in the site navigation, a link from social media, surfaced in search (on site and search engines

[2019-10-02 15:07] bloodbee commented on #18024
Looks like the proposed solution in the other issue can resolve my problem. Thanks for the refer !

[2019-10-02 15:07] #18024 closed

[2019-10-02 15:23] dav3evans commented on #18050
Is this up for grabs? Happy to take a look! 🤘

[2019-10-02 15:38] muescha commented on #18050
it is still open for discussion by core / doc team

[2019-10-02 15:41] dav3evans commented on #18050
Ok no worries, I'll avoid jumping the gun before a title is settled on :)

[2019-10-02 15:50] jonniebigodes commented on #18040
@nelsonmiew i'm inclined to believe that you're using gatsby with the appropriate plugin `gatsby-source-wordpress`, correct? That plugin is intented only to fetch items you've configured during the build process. When you update, add or delete the content. You'll have to restart the development server. A while ago there was a addition to gatsby that would allow you to refresh the data, more on tha

[2019-10-02 15:59] muescha commented on #18033
thats also interesting for the current translation process https://github.com/gatsbyjs/gatsby/projects/15

#17759 Change routing to support localizations
#17776 Language Toggel UI

on #17776 there are some examples and drafts

[2019-10-02 16:00] jevinsidhu opened #18052 "Adding HTML comments to index.html"
I want to add a note in the index.html at the top of the file as a comment - however, this seems impossible since this is a generated file.

Is there any way to do this?

[2019-10-02 16:06] jonniebigodes commented on #17661
@LinusU i don't know how familiar you are with gatsby but all of the build is done on the node side of things, from my testing and based on the code @jafar-rezaei supplied the bundler/webpack configuration is the default that gatsby offers out of the box, with a small caveat and that is to ignore the canvas library during the build process, as outlined in these lines:
[code]
It could be that the p

[2019-10-02 16:12] DmacTorstar commented on #18037
Just asked this question myself.
https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables

`ENABLE_GATSBY_REFRESH_ENDPOINT=true`

[code]

I really think this should be easier to achieve. Perhaps a 'Refresh Data' button attached in graphiql editor, or something. Maybe a config value to ping this hook on every page refresh by default in development.

[2019-10-02 16:12] DmacTorstar commented on #18030
Found this semi-solution to this problem:

Just asked this question myself.
https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables

`ENABLE_GATSBY_REFRESH_ENDPOINT=true`

[code]

I really think this should be easier to achieve. Perhaps a 'Refresh Data' button attached in graphiql editor, or something. Maybe a config value to ping this hook on every page refresh by defa

[2019-10-02 16:16] jonniebigodes commented on #17737
@joe-bell can you pick up on what @LekoArts said and possibly create a reproduction so that it can be looked at in more detail and with that possibly offer a solution for you and the other people involved?

[2019-10-02 16:22] muescha commented on #15924
@thchia you can grab this 👍

[2019-10-02 16:34] fang092 opened #18053 "How do I get past this error when deploying to Netlify with a Gatsby Build Error?"
Hi,

Im trying to understand and solve this error with a Gatsby build and pushing Netlify, Im not sure where I have been going wrong with this code, but it seems to center around the animation- transition dependency(?) Im not entirely sure. Any clarity on this would be amazing

[code]
I tried posting in StackOverFlow but get downvoted. Im new to Gatsby and React and dont understand too much around

[2019-10-02 16:43] jonniebigodes commented on #18053
@fang092 can you update the issue description following [these steps](https://www.gatsbyjs.org/contributing/how-to-file-an-issue/), or make a small reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail?

[2019-10-02 16:58] universse commented on #18037
Yeah that's a good suggestion.

Anw I was asking about production environment actually since the linked docs is talking about deployed sites.

[2019-10-02 17:27] #6372 closed

[2019-10-02 17:27] #9493 closed

[2019-10-02 17:27] #11746 closed

[2019-10-02 17:27] #12493 closed

[2019-10-02 17:27] #14473 closed

[2019-10-02 17:27] #15166 closed

[2019-10-02 17:27] #17273 closed

[2019-10-02 17:27] #17276 closed

[2019-10-02 17:56] vcarl commented on #16706
I'm also running into this, while adding search to pages built from MDX files. My first thought was to grab the HTML to index against, but I'll likely end up walking the AST and pulling content out of that instead.

[2019-10-02 17:57] jonniebigodes commented on #18048
Just tested it and the error pops up. But it does not pop up when using yarn.

[2019-10-02 18:21] sielay commented on #5002
It's a pity as it blocks using Gatsby as a tool for publishers where we talk about millions of canonical pages and another same or indexing ones.

Wouldn't it make sense to "eject" such use case as separate project using same concepts/core?

[2019-10-02 18:26] imlastrebor commented on #18019
Yea! It's working now. @lauralouiset I'm not sure if you meant this but it's working the way I want :)

@glauberm Before asking help I tried to this with mouseLeave, mouseEnter and useState but I didn't get it working right. It showed all my portfolio images at same time instead of showing the one which title I was hovering, don't know why.

Thanks for helping guys!
[code]
[code]

[2019-10-02 18:31] rchrdnsh opened #18060 "Does the 'using-i18n' example need to use 'wrapPageElement'?"
Hi @LekoArts :-)

In your 'using-i18n' example site you use the `wrapPageElement` to create a persistent layout component for the site. Is this necessary to use, instead of `gatsby-plugin-layout`? Or are they functionally the same? Does using `wrapPageElement` give you some sort of feature of advantage that `gatsby-plugin-layout` does not?

I'm using `gatsby-plugin-layout` on a project and want to

[2019-10-02 18:46] muescha commented on #18048
but docs all in `npm` :/

[2019-10-02 18:57] neilchaudhuri opened #18061 "Propagating Information in a Serverside Redirect to Gatsby"
## Summary

The way to propagate the data in a serverside redirect to a Gatsby page is unclear.

## Relevant information

I am introducing Gatsby to a large client with a lot of legacy applications. One of these involves a workflow where a third party app authenticates a user and sends the user's info to the legacy application, which in a conventional setup might contain a serverside controller (i

[2019-10-02 19:08] rgroves commented on #17979
@muescha, it seems to me the proposed change to the error message is still saying the same thing, just in a different order. In any case, I think the error message thrown by gatsby should be a separate issue (if it is an issue) from the issue with the tutorial I'm trying to address here.

[2019-10-02 19:08] Skillz4Killz opened #18062 "Disable Logs On Gatsby Build Option"
## Summary

`gatsby build --silent` option to disable all logs on gatsby build.

### Basic example

https://community.netlify.com/t/large-build-log-has-huge-impact-on-build-time/1489

### Motivation

Netlify recently has begun implementing limits to Total Build Times used in a month. In order to optimize this I am hoping an option can be added to make the logs in gatsby build be silent.

[2019-10-02 19:15] muescha commented on #17979
yes i will open a new issue. sorry

[2019-10-02 19:18] jonniebigodes commented on #18048
just pointing it out, to provide some more context.

[2019-10-02 19:24] rchrdnsh opened #18063 "Write content in YAML and MDX for everything in 'using-i18n', and everywhere else as well..."
So,

Ideally I would be able to write all content and translations, configuration, etc, in YAML and MDX. I would also want to be able to write translations for each page in different files, rather than having one giant JSON file, which becomes really difficult very quickly. YAML would be for when every piece of content on a page has a key: value pair, and MDX when it's an article of other longer f

[2019-10-02 19:50] CanRau commented on #18063
I do it like this
[code]
then in `gatsby-node.js` I add a node field containing the language, stuffing it alongside the slug in pageContext then using it and the slug to query the specific page. The slug is made up of `/langcode/title` like `/de/first-post`
You can do the same for your non article pages, I think I'd still use mdx just in case or you could go the YAML route and if needed include a

[2019-10-02 20:03] rchrdnsh commented on #18063
hmmmmm, yeah, sort of :-) So, what are you using for your site-wide translations? I'm currently using `gatsby-plugin-intl` so would this approach using mdx work with that? If I need to switch it up, I don't mind. I don't mind using mdx for the page content as well, as they are functionally equivalent, at least at this point.

[2019-10-02 20:08] rchrdnsh commented on #18063
I too would like to structure the content like you have, as follows:

[code]

where the content in the blog would be inserted into generated pages and the content in the pages folder would be inserted into pages in the pages folder.

[2019-10-02 20:48] Polyhistor commented on #16984
well, issue has not been resolved. we are hoping to see some improvements on version. But, thanks for the consideration anyways...

[2019-10-02 21:49] jonniebigodes commented on #18041
@silenceM based on the title of the issue is not clear what you intend to achieve, if you can provide a bit more context to this? On what you want to achieve? And if possible make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail.

But two things come into mind while reading this,
1- If you

[2019-10-02 21:52] gohulk commented on #14990
Hi Everyone, I am still seeing this issue after installing a latest gatsby project today. What is the solution for this issue?

[2019-10-02 22:12] Js-Brecht commented on #14990
One issue here is that node is not trusting self-signed certificates.  A workaround, for now, is to disable TLS rejection:
[code]

If you have a cert signed by a certificate authority, like the automated process uses, then a better, but more complicated, workaround is to add the certificate authority to the trusted roots chain:
[code]

The automated process does write your CA cert to disk, in diff

[2019-10-02 22:18] gohulk commented on #14990
Thanks @Js-Brecht for the detailed response. I am using MAC OS. For now, i have used the following command NODE_TLS_REJECT_UNAUTHORIZED=0 gatsby develop --https --port 3000
to move forward with this issue, but i see this warning.

(node:3596) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate veri

[2019-10-02 22:28] Js-Brecht commented on #14990
The cert should be located at `~/.config/devcert/devcert-ca-root.crt`.

[2019-10-02 23:23] Yofamb commented on #17989
Hi Nat, I've created a wip pull request https://github.com/gatsbyjs/gatsby/pull/18014 once you have some spare time, i'd appreciate a bit of guidance.

I'm currently unsure on how to handle the h1 with an id for the anchor. Also need a bit of guidance on general structure.

[2019-10-03 00:10] artystable commented on #10836
I think I spent close to 8 (intermittent) hours the other day trying to solve this. I ended up going on a Webpack config wild goose chase.

*THIS*, good sir, is exactly what I was looking for.

Holy $h!+ **THANK YOU** @sidharthachatterjee for answering the question! And **THANK YOU** @theshire-io  for asking it!

[2019-10-03 00:12] CanRau commented on #18063
I don't use any additional i18n plugin everything lives in `.yml`'s and `.mdx`'s. Works pretty good so far, I just query them like [here](https://github.com/GaiAma/gaiama.org/blob/master/src/templates/AboutPage.js#L377) for example which I then use like [this](https://github.com/GaiAma/gaiama.org/blob/master/src/templates/AboutPage.js#L86)

I think there are now i18n plugins available doing proper

[2019-10-03 00:44] bardic opened #18071 "Hangs on Building production JavaScript and CSS bundles"
## Description

Project hangs on `Building production JavaScript and CSS bundles` when running `gatsby build`

### Steps to reproduce

Project: https://github.com/bardic/openbracket_website

After testing site with `gatsby develop` I tried to build to deploy but it just hangs at ` Building production JavaScript and CSS bundles`

Maybe I'm just not letting it run long enough? I've given it 30 odd m

[2019-10-03 03:11] universse commented on #17821
Potentially related #17960

[2019-10-03 04:04] universse commented on #18052
You can use [onPostBuild](https://www.gatsbyjs.org/docs/node-apis/#onPostBuild) Node APIs

[code]

[2019-10-03 05:33] #18052 closed

[2019-10-03 06:38] mendaomn commented on #16945
So here's what I've found:

### Set and Map seem to be polyfilled

The default Gatsby project (`gatsby new my-project`) does seem to include Set and Map polyfills. To be more precise, I've found in the generated bundle the same lines of code exported by [core-js/es/set](https://github.com/zloirock/core-js/blob/master/packages/core-js/modules/es.set.js)

For reference, here's the code included in t

[2019-10-03 07:28] zhandosweb commented on #16233
Hello!

Please, sir, tell me. I want to use Wordpress like a  Headless CMS. And can I write PHP code Snippets on Wordpress? And display it through Gatsby?

And if I use the Yoast SEO plugin for SEO optimization. Can I display title, description, canonical meta-tags through Gatsby? Yoast saves all data on the database, and he also has API.

Sorry for the bad English. I am really huge to love Gatsby

[2019-10-03 07:58] joe-bell commented on #17737
Cheers, I'll see if I can get some time to convert my client's project into a generic repro

[2019-10-03 09:13] metamn opened #18075 "404 / Not found for a single URL in deployment"
## Description

I have around 20 articles on my blog. A single article is returning a 404 error when deployed. The rest of the articles all work fine. That single article also works fine in development.

### Steps to reproduce

1. Clone the repo: https://github.com/metamn/react/releases/tag/v0.0.1
2. Run it locally
3. Check that this article works fine: http://localhost:8001/react-follows-the-func

[2019-10-03 09:25] pahosler commented on #18042
try this, it's similar to the example in the plugin docs

[code]

[2019-10-03 09:32] rishabhaggarwal2 commented on #17131
Any update on the fix for this? It's freezing at source and transform nodes for me and my friend as well after it tried `[Firebase Source] Fetching data for ...`

Resizing the terminal unfortunately doesn't seem to fix it for us

[2019-10-03 10:12] pitkes22 commented on #17914
I have been struggling with this bug for a very long time. Happy to see that it is finally getting some attention. 👍

I have recently run in it when I was using `gatsby-plugin-layout` with multiple layouts and I was conditional rendering them one at the time but in a production version of the site, there was part of one wrapped in component from the other one which doesn't make any sense.

Also, I

[2019-10-03 10:55] OskarGrzelak commented on #16455
A trick with adding an image to Media fixed the problem. But why does it work this way?

[2019-10-03 11:55] imlastrebor commented on #18019
This solution made with after/before element isn't working in all browsers. Safari at least isn't showing images if I hover title and I didn't found solution to fix that.

I decided to try again method that I tried before. In this method I put images in own component ```PortfolioItemImage``` and then I use state hook ```[imageStyle, setImageStyle]``` and event handlers ```changeStyle``` ```resetSt

[2019-10-03 12:14] lucavallin commented on #8463
Why has this been closed?
We want to run cypress tests in the pipeline against the production build (because apparently the behaviour sometimes is different than development) and not being able to serve over https makes it impossible, we have some secure cookies that just won't work.
Do you need help implementing the feature maybe?

[2019-10-03 12:27] Everspace commented on #18062
Everything but errors is pretty common, or keeping log regurgitation to a minimum. The default gatsby stuff is pretty small

[code]

If you want to run silently, `gatsby build > /dev/null` to your heart's content. I have noticed some plugins like to write stuff to the console, so I would investigate those, or your internal log-spew first.

[2019-10-03 12:52] essensx commented on #17383
This issue is still relevant

[2019-10-03 12:57] goblindegook commented on #17946
This seems to be a more or less recent issue with `onRouteUpdate` when in development mode. I can't pinpoint when it was introduced, but I can confirm that the behaviour stopped being consistent between development mode (where only the basic HTML is now present) and production builds (where the fully rendered document is available).

[2019-10-03 13:26] simrankaurmann commented on #17902
Would it be sufficient to edit the above page to include a useStaticQuery mock implementation example?

[2019-10-03 13:41] DmacTorstar commented on #18040
@jonniebigodes I'm having this same issue.
It seems that this __refresh endpoint is _extremely_ useful, and should be more prominent, and easier to trigger. Perhaps gatsby should have a configuration option to refresh the data on every page reload, or on every build?
This would be invaluable for when a developer is building out the UI and the content model in parallel, because currently the flow o

[2019-10-03 14:31] janosh opened #18078 "Gatsby Link error when rapidly changing pages"
### Steps to reproduce

Opening my personal site [janosh.io](https://janosh.io) (which I recently ported from Remark to MDX, maybe that's related since I didn't notice the following behavior before) and rapidly clicking links in the nav bar eventually results in a blank page. Reloading the page displays the error message "This site can’t be reached".

![offline](https://user-images.githubuserconte

[2019-10-03 14:33] abejfehr commented on #17535
In the end it was a rich text field that contained a reference to the page that contained the rich text field.

This issue can be closed

[2019-10-03 14:33] #17535 closed

[2019-10-03 14:34] #18061 closed

[2019-10-03 14:42] eyalroth commented on #17914
Multiple layouts are actually quite a complicated feature, and may not work hand in hand with the layout plugin. I've written about it [here](https://dev--wizardly-khorana-5b5fee.netlify.com/en/blog/2019/08/gatsby-layout/#multiple-layouts) (note that this is still unpublished and may be subjected to edits).

[2019-10-03 14:43] glauberm commented on #18019
@imlastrebor Would you mind showing me your attempt at the mouseleave-mouseenter approach?

[2019-10-03 14:53] ndresx opened #18080 "Cannot extend inferred GraphQL type due to "multiple types" error"
## Summary

Hi, I'm trying to extend a from Gatsby inferred GraphQL type called `MdxExportsData` as you can see below by using the `createSchemaCustomization` API, but somehow, all the attempts I have tried so far failed because of the following error message:

[code]

I have also tried to extend it via `extend` and other variations, but that doesn't seem to be supported by Gatsby.

This is how th

[2019-10-03 15:18] citypaul commented on #15486
I had an issue just now where Images pulled in with mdx files were still showing the blur. Here's a screenshot:

![image](https://user-images.githubusercontent.com/5850178/66139588-9b336e80-e5f8-11e9-84bc-013fb9fa912a.png)

The above screenshot was generated using this config:

[code]

Simply adding the `plugins` key fixes it:

![image](https://user-images.githubusercontent.com/5850178/66139917-20

[2019-10-03 15:42] #14937 closed

[2019-10-03 15:54] PedroLamas commented on #15486
@citypaul that's a known problem, it's been discussed here on a different issue.

I'm using that same fix myself on my site: https://github.com/PedroLamas/pedrolamas.com/blob/master/gatsby-config.js#L100

[2019-10-03 16:08] clkent commented on #33
Reading through this thread, I'm not positive what I'm trying to do is possible or if there is a solution available for it that I'm just not finding...

I'm building out a blog using gatsby with content pulled from Prismic. Each blog post has an author and tag related to them via Prismic Content Relationship. My goal is to dynamically create pages via gatsby-node for the author and tag pages that

[2019-10-03 16:28] riencoertjens commented on #6723
🤔hello, is this thing on? can I have a go at this? is there a design? for it?

[2019-10-03 16:38] jonniebigodes commented on #18040
@DmacTorstar from what i remember this was introduced to address this type of issue, it's a bit cumbersome i understand, but when it was added, it was to allow plugins to fetch content like this one and other sources. Fetching the data at every page load would defeat a bit the purpose of the plugin. I think a better approach would probably be refetch at regular intervals something like `gatsby-sou

[2019-10-03 16:51] fang092 commented on #18053
@jonniebigodes , any idea what can be causing this?

[2019-10-03 17:03] Js-Brecht commented on #17131
@rishabhaggarwal2 There's a similar issue that sounds like it might be what you're experiencing, where it will hang while retrieving data from an online source.  Can you try using `GATSBY_CONCURRENT_DOWNLOAD=10 gatsby develop`?

[2019-10-03 17:07] jonniebigodes commented on #33
@clkent i think the issue lies here:
[code]
The graphql queries will not run synchronously, they run in a async fashion. Meaning that the code you have there, it will iterate each element in the foreach, not waiting for anything, basically taking a approach of "fire and forget" and by that that i mean it triggers a graphql query and it's not capturing either errors or results.
You'll have to make

[2019-10-03 17:19] clkent commented on #33
@jonniebigodes is there some way to use the returned `uid` in `AuthorInformation` to filter in the query `BlogPosts` below? In order to query the correct blog posts based on author I need to filter my query... ```allPrismicBlog(filter: { data: { author: { uid: { eq: UID HERE } } } }) ```. Alternatively I guess I could just write some JS to filter the blog posts after I query for all of them...

Re

[2019-10-03 17:26] jonniebigodes commented on #18053
@fang092 can you make a reproduction based on your code following [these](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) steps  so that it can be looked at in more detail. Use the same plugins and packages that are listed here.

[2019-10-03 17:27] #16028 closed

[2019-10-03 17:50] abhishekakade opened #18087 "Syntax error in code snippets in Gatsby Image Tutorial"
## Description

I was using the code snippet from the documentation and found a syntax error in the code on [Gatsby Image Tutorial documentation](https://www.gatsbyjs.org/tutorial/gatsby-image-tutorial/) page in step 3.

### Steps to reproduce

Visit [Gatsby Image Tutorial documentation](https://www.gatsbyjs.org/tutorial/gatsby-image-tutorial/) page and check step 3, `gatsby-config.js` snippet.

[

[2019-10-03 18:12] 1qk1 commented on #15529
Hi! I will be happy to take this on, I'm both a windows and linux user, I can update/write the instructions for both OSes!

[2019-10-03 18:35] kmcaloon opened #18091 "Cannot destructure property `activity` of 'undefined' or 'null' when running develop"
Hi all, so I am running a pretty fresh install of Gatby and during develop I am getting the following error after the server successfully starts:

[code]

Not really sure where to start here?

[2019-10-03 18:48] zslabs commented on #17894
It's been about a week since I shared the minimal reproduction - is there any other info I can provide to make this issue a bit more clear?

[2019-10-03 19:27] laurenskling commented on #11736
@jonniebigodes think we can give this a swing again? My project is still struggling with this old xml-parse tool

[2019-10-03 19:30] waltercruz commented on #17757
Have you guys tried enabling some swap space on your droplets?

gatsby seems to be very memory intensive on buidling

[2019-10-03 19:50] ndresx opened #18095 "[mdx + schema-snapshot] "Source and transform nodes" step gets skipped?"
## Description

Hey! I'm using the `gatsby-plugin-mdx` plugin and wanted to lock down my GraphQL typings/schema with `gatsby-plugin-schema-snapshot` to see how it would behave, but after running it twice, it doesn't seem to be picking up the file contents any longer and just breaks.

### Steps to reproduce

1. **Run `gatsby develop` for the first time (lock-file is not available yet).**
The lock-f

[2019-10-03 21:09] taylorham commented on #16706
Same as @vcarl here.

I'm using a bunch of custom components which obfuscate content from the `excerpt` query, and I would like to be able to build my search index from the `innerText` of the resulting HTML rather than the 2 words that are on each page outside of my custom components. 😛

The query doesn't work when attempting to `build` or when running `develop`. Is there any way to actually get a

[2019-10-03 21:28] shanedg commented on #15601
+1

[2019-10-03 21:38] KyleAMathews commented on #17992
🤯

That's a great idea!

Does the macro combine queries from multiple queries? Does this only work with gatsby-source-filesystem?

[2019-10-03 21:41] pieh commented on #17992
Here's part of code that parses files to ast https://github.com/gatsbyjs/gatsby/blob/182248546d0c8e78eac0ddbfd0dfeed6b6b1a78c/packages/gatsby/src/utils/babel-parse-to-ast.js , we are using `@babel/parser` here, can't tell yet if we can plug macros support with this approach, but this surely is something that can be solved (?)

[2019-10-03 21:55] davwheat commented on #18091
I'm getting the same error with a custom `html.js` in my `src` folder.

[2019-10-03 21:56] dkeesey commented on #5484
m-allanson: your link to the "deployment docs" now returns 404 "oops".

[2019-10-03 22:05] chrisdl commented on #16945
Thanks for doing the leg work @mendaomn so babel (7 and up) ended up doing the polyfilling. :+1:

Want me to close this thread now @gatsbybot ? =)

[2019-10-04 00:18] tmm commented on #17894
Just chiming in to say that I have the same issue. Thanks @zslabs for reporting and adding the example!

[2019-10-04 01:12] ajmariduena commented on #17891
Same issue here, did you solve it?.

[2019-10-04 01:48] willi-dev commented on #17757
@waltercruz i did it 3 days ago and it works ! :smile:

[2019-10-04 02:26] TomerAberbach commented on #17992
Currently my implementation generates one `StaticQuery` JSX element per use of `FixedImage` and `FluidImage` (with separate queries). Is this allowed by Gatsby? If not, it would not be difficult to modify my current implementation to merge the queries of all `FixedImage` and `FluidImage` usages in the same file.

You are right that it only works with `gatsby-source-filesystem`. I was envisioning t

[2019-10-04 02:39] TomerAberbach commented on #17992
Also, I was planning on publishing the `FixedImage` and `FluidImage` macros as part of my own npm package, but if you would like it to be part of the `gatsby-image` package we could discuss that possibility.

[2019-10-04 03:32] ehowey opened #18101 "Error when child theming/sibling theming with gatsby-theme-blog-core"
## Summary

I attempted to create a nested theme/starter configuration using gatsby-theme-blog-core and ran into the following error.  The site does build correctly however the graphql nodes don't seem to be properly populated and are empty.

The nested themes look like this:

- `gatsby-theme-catalyst-core`
  - `gatsby-theme-catalyst-blog` (this is basically just a bare bones implementation of gat

[2019-10-04 03:39] urielhdz opened #18102 "[docs] A doc on how to follow up with reviews after a PR"
## Summary

Create a guide to explain how to solve changes requests after a PR, these guide could be complementary to the [How to Open a Pull Request](https://www.gatsbyjs.org/contributing/how-to-open-a-pull-request/) guide that was published recently.

### Motivation

After my first PR I received reviews from both the community and the core team and at first I didn't know how to address them, @ma

[2019-10-04 04:37] me4502 commented on #17935
After investigating why my computer kept shutting down due to the watchdog timeout, I found that for some reason Node appears to be blocking every thread when creating pages / sourcing nodes when using LokiJS. When running a profile, this slowdown appears to be the problem. Luckily it doesn't happen when profiling as the profiler must allow the watchdog to tick.

It did appear however that 40 of t

[2019-10-04 05:01] urielhdz commented on #6300
This can be solved by disabling the client side router.

You can do that by using this package in your Gatsby site: https://www.gatsbyjs.org/packages/@wardpeet/gatsby-plugin-static-site/ ([currently broken](https://github.com/wardpeet/gatsby-plugin-static-site/issues/10)).

There is a fork that works with the current latest version of Gatsby that you can found here: https://www.npmjs.com/package/@

[2019-10-04 05:23] omonk commented on #7714
@iammatthias I've got it working with my contentful set up. It's worth noting that a lot of the queries are structured about the original authors content type set up. Can try and help you out!

This does work and I'm really thankful that I found this example, thinking of writing a blog post to solidify my learnings.

[2019-10-04 05:30] urielhdz commented on #6300
I uploaded a working example just to show up the solution, the [original page](http://lives.codigofacilito.com/) is in spanish, and [this link](http://translate.google.com/translate?hl=&sl=es&tl=en&u=http%3A%2F%2Flives.codigofacilito.com%2F) displays it translated to english using Google Translate.

[2019-10-04 05:33] urielhdz commented on #6300
I think that this issue could lead to some frustration so I don't know if it is a good idea to have this documented somewhere @marcysutton, I'm thinking on something like a guide on how to disable the client side router and in which cases you could do that 🤔

Aside from this issue, in #4337 there is a discussion with other potential use cases to disable the router.

[2019-10-04 05:51] mendaomn commented on #16945
No problem! What do you think about removing the part in the docs that says you should polyfill Map and Set yourself?

As you experienced, it might lead to confusion I think :)

[2019-10-04 06:12] mendaomn commented on #18044
Hey, can you help me reproduce the problem? I've created a codesandbox to help with this but it does seem to work fine: https://codesandbox.io/embed/gatsby-starter-default-bs57n

Did I get anything wrong?

[2019-10-04 06:20] priyankoctal commented on #9979
@jakubtomas108

have you found a solution for this ?

[2019-10-04 06:31] jakubtomas108 commented on #9979
Well, I did. Migration to NextJS.

[2019-10-04 07:23] imlastrebor commented on #18019
@glauberm  Yes, I tried it with both mouseOver and mouseEnter. It's in the code I attached to last message. But I copy here parts related to that approach:

[code]
[code]
[code]

This is how I understanded your suggestion to use mouseleave-mouseenter. My code isn't working correctly because it set all the images hidden if hover title instead of setting just image related to hovered title.

[2019-10-04 08:44] kitmacleod opened #18107 ""[docs] [workflows] Demonstrating content mesh from multiple external APIs to extend nodes ""
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story
I am a new Gatsby user (over the past couple of years have benefitted from Andrew Mead's Gatsby, React and Node courses), I want to describe my struggle with trying to extend existing nodes (from e.g. gatsby-source-contentful) with additional fields e.g. from Github API v4

[2019-10-04 08:45] janosh commented on #7714
@omonk +1 for the blog post.

[2019-10-04 09:16] RobinHerzog opened #18108 "Client-Side @React/React"
Hello,

I'm trying to use GatsbyJS with a client-side rendering.

Here is the code:

[code]

[code]

On gatsby develop, I get the "OK" page. However, when I use gatsby build, the page is white (not 404)

[2019-10-04 09:25] D19cannon opened #18109 "Gatsby-image loading='eager' && critical is not loading as expected"
## Summary
Hi guys,
I've been running into a small problem regarding the loading property. According to the documentation **loading** is basically replacing the **critical** and to keep it simple I've been trying to apply both. But the result that I am looking for ain't displaying the way I expect it to. The same goes with all the solved issues that I found.

When I am using the props according to

[2019-10-04 09:32] dtroode commented on #18044
I've solved this. Changed version of Preact in dependencies manually. Gatsby need just to update plugin with stable Preact X. Now Gatsby is using rc.3 beta version with this issue. Closing. Thanks to answer

[2019-10-04 09:32] #18044 closed

[2019-10-04 09:45] gillkyle commented on #18108
Is this when you navigate directly to the URL from the browser (ie typing in `localhost:8000/webapp/profile`)? Or when you try and go to `localhost:8000/webapp/`?

Gatsby will create html files for all pages that you create by add in `src/pages` and/or the `createPages` API as you've possibly read or seen. However, for client only routes (like yours at webapp/*) that html file won't be generated s

[2019-10-04 09:48] #13083 closed

[2019-10-04 09:49] gillkyle commented on #17902
That would be great @simrankaurmann! A section similar to the section titled "Testing StaticQuery", maybe called "Testing useStaticQuery" would be welcome for this! Feel free to reference what's already been done for this guide and add a new section, [the guides on using useStaticQuery](https://www.gatsbyjs.org/docs/use-static-query/#how-to-use-usestaticquery-in-components) might be helpful in fin

[2019-10-04 10:00] marcysutton commented on #17473
Closed with https://github.com/gatsbyjs/gatsby/pull/17549

[2019-10-04 10:00] #17473 closed

[2019-10-04 10:01] #18087 closed

[2019-10-04 10:06] bardic commented on #18071
Fixed the issue.
a combination of on npm update and https://github.com/Microsoft/WSL/issues/14#issuecomment-207504657

[2019-10-04 10:06] #18071 closed

[2019-10-04 10:07] gillkyle commented on #16945
Thanks for the research on this! It looks like changes were merged that would handle transpilation of `node_modules` [here](https://github.com/gatsbyjs/gatsby/issues/7064#issuecomment-506212813). I think that aligns with @mendaomn's findings and I'm guessing the [commit](https://github.com/gatsbyjs/gatsby/commit/7584f3a3e7ec410bf85234aa8691ef854694c49a) adding supporting those polyfills is an arti

[2019-10-04 10:11] marcysutton commented on #18102
Hey @urielhdz! That sounds like great information to include. I'd recommend putting it in the existing How To Open a PR doc rather than a separate one since it's the same workflow – you'd have to first open a PR to the information to be relevant. What do you think?

[2019-10-04 10:20] #15586 closed

[2019-10-04 10:24] RobinHerzog commented on #18108
I didn't use gatsby-plugin-create-client-paths since my exports.onCreatePage does the same.

I get a white page when I navigate directly to it.

[2019-10-04 10:28] gillkyle commented on #6723
Hey @riencoertjens! I'm not aware of any design, if you'd like to work on it feel free to make a PR perhaps implementing the suggestion above to add the next/prev links below the site. In response to @ryanditjia's question about flexbox/grid we're happy to use either or whatever makes sense!

I'll mark this as Hacktoberfest - Claimed, if you are unsure of what you've got, feel free to post a scree

[2019-10-04 10:31] sidharthachatterjee commented on #13782
We _do_ transpile all code in plugin packages since https://github.com/gatsbyjs/gatsby/pull/15284

@robert197 Could you link to a reproduction because this sounds like a potential bug

[2019-10-04 10:35] stefanprobst commented on #18095
Thanks for reporting this!

It looks like this is an issue with merging fields: we currently lose the field resolver added by `gatsby-plugin-mdx` on the `body` field when adding the types from the saved schema, because we [use the `merge` method provided by `graphql-compose`](https://github.com/gatsbyjs/gatsby/blob/9471443b0100482025f685ccf17fd9bc628dc93f/packages/gatsby/src/schema/schema.js#L318)

[2019-10-04 10:42] marcysutton commented on #13782
This was opened before the transpilation of packages by default, so it might be a non-issue now!

[2019-10-04 10:43] gillkyle commented on #17914
This is great research and an awesome writeup! Thanks a bunch @eyalroth 🙂

I think based off your suggestions to update several pages, a Reference Guide would probably make the most sense that we could link off to with notes from other guides about how it relates and how you can find more at the guide on the other page. I think this could go in the Custom Configuration section though I'm intereste

[2019-10-04 10:43] stefanprobst commented on #18095
I can take a closer look next week, in the meantime, you *should* be able to work around this issue by excluding the `Mdx` type from the snapshot:
[code]

[2019-10-04 10:45] stefanprobst commented on #18080
Is your project public somewhere, or could you provide a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/)? Thanks!

[2019-10-04 11:02] davidbailey00 commented on #17749
Hi everyone!

I've had a look at this and not quite sure what's going wrong in the examples, but it seems that if you update your version of Gatsby and `gatsby-plugin-offline` to the latest, then your sites should work offline again, leading me to believe there's some sort of version incompatibility going on.

This is also the issue with `gatsbyjs.org` - we are using offline v2, while upgrading to

[2019-10-04 11:12] gillkyle commented on #18050
Sounds like a good change and I trust @hashimwarren has a solid grasp on what's good to update for the site for discoverability so go ahead and feel free to open a PR @dav3evans 🙂

I just marked this issue as Hacktoberfest - Claimed

[2019-10-04 11:16] dav3evans commented on #18050
Thanks guys, I'll get this sorted for you later today!

[2019-10-04 11:18] sakkshm opened #18113 "(README.md) Add information about the contributor swag in the Readme file"
## Summary

We should add information about the free contributor swag in the Readme file in the contribution section.

### Basic example
We can add this info like:
Get Gatsby Swag for FREE!
Claim your personal coupon code and get free swag by contributing to Gatsby!

### Motivation
This will surely encourage more people to contribute to Gatsby!

I would love to do this!

[2019-10-04 12:00] apollocoder commented on #8431
Please re-open!

[2019-10-04 12:24] #18113 closed

[2019-10-04 12:42] mischor commented on #17891
two workarounds.  #1: when specifying client-side-only path to a page in a link, only use forms starting from the "top" of the website, with urls that look like /pathPart1/pathPart2 etc.  Don't use ../  kinds of path specs.

Fix #2: I was using gatsby-theme-carbon's <Link href=...> form, and I changed it to use gatsby's form <Link to=...>   With both of these, fixes my issues were worked-around.

[2019-10-04 13:07] marcysutton commented on #15529
That sounds amazing, @1qk1! Let us know if you have any questions. Here are some resources that may help:
- https://www.gatsbyjs.org/contributing/gatsby-style-guide/
- https://www.gatsbyjs.org/contributing/docs-templates/#tutorials

[2019-10-04 13:11] gillkyle commented on #17783
I'm going to close this issue, feel free to open it back up or open a new issue if you run into something new @maheshkumar2150 🙂

[2019-10-04 13:11] #17783 closed

[2019-10-04 13:19] marcysutton opened #18116 "[docs][guides] How to Modify a Starter"
## Summary

In the Getting Started with Gatsby sessions at Gatsby Days London, it was mentioned that people weren't sure how to modify a starter when building their first Gatsby site. It would be great to support them with a new Reference Guide in the [Starters](https://www.gatsbyjs.org/docs/starters/) section of the docs called "Modifying a Starter" that talks about common files and conventions i

[2019-10-04 13:19] gillkyle commented on #17921
I just updated the MDX version to verify this happened since it doesn't seem like renovate is actually making those changes, however I'm seeing the deployed version of the blog doesn't seem to have the backslashes anyway 🤔 hm.

[2019-10-04 13:19] #17921 closed

[2019-10-04 13:24] davidbailey00 commented on #17936
Hi @sever1an, thanks for reporting this issue!

By default, `gatsby serve` and `gatsby develop` run on different ports (9000 and 8000 respectively) so any service worker installed on one of these ports will not affect another. Please can you confirm if you've overridden one of these ports? If not, it sounds like this problem is not caused by running build and develop concurrently, but rather is an

[2019-10-04 13:26] glauberm commented on #18019
I'm sorry @imlastrebor, I didn't noticed that part on the code you posted :sweat_smile:. First, you should take a look at [this article](https://javascript.info/mousemove-mouseover-mouseout-mouseenter-mouseleave) to help you decide what mouse events you should use. I believe that, in your case, mouseenter and mouseleave is the way to go, since you're not using nested hovering.

About the problem t

[2019-10-04 13:26] #18019 closed

[2019-10-04 13:38] glauberm commented on #18116
Do you think that copying the [_What's inside?_](https://github.com/gatsbyjs/gatsby-starter-default/blob/master/README.md#-whats-inside) section to the docs is a good first step? Then maybe exploring the `src` folder more in-depth, addressing topics like the ones you mentioned (JSX and CSS markup) and linking to external resources (React Docs, MDN). WDYT?

[2019-10-04 14:01] alqamabinsadiq opened #18117 "npm run build adding an extra wrapper div with no class."
## Description

I am working on an application. I was facing an issue with `npm run develop` and `npm run build` commands. `npm run develop` adding a wrapper div with `tabIndex` and `role:group` which makes it easier to give it `height: 100%`, but when I am running `npm run build` it's adding a wrapper div with no class.

## npm run develop
When I run `npm run build` I see this:

<img width="703"

[2019-10-04 14:16] raunaqgupta opened #18118 "Cannot install gatsby-plugin-catch-links via yarn"
## Description

On running `yarn add gatsby-plugin-catch-links`, I get the following output:

[code]

### Steps to reproduce

1. Run `yarn add gatsby-plugin-catch-links` in root directory of the gatsby project
(I even ran `yarn cache clean` to eliminate that possibility)

### Expected result

The package should be installed

### Actual result

The package is not installed.

### Environment

  Syst

[2019-10-04 15:00] gillkyle opened #18120 "[www] fix padding on gatsby-code-title class"
## Description

We introduced [a change to tweak the overlapping code blocks](https://github.com/gatsbyjs/gatsby/pull/17969) in the `gatsby-plugin-offline` README. The change fixes the README which is great, but also affects all pages where the class `gatsby-code-title` is used, and adds unnecessary padding around code titles in others docs pages which would make sense to remove.

Now:

![image](h

[2019-10-04 15:02] zslabs commented on #17894
Thanks for confirming you're running into that as well @tmm!

[2019-10-04 15:02] hugo-marques-m3 commented on #18109
Not sure if this is helpful but if you use any query that ends in `_noBase64` like `GatsbyImageSharpFixed_withWebp_noBase64` it doesn't use the blurred image.

Our designers didn't like the blurred effect.

[2019-10-04 15:05] gillkyle commented on #16945
Awesome thanks @jbutz! I see your commit referenced this issue but I don't see a PR yet, feel free to create one and we can get this merged 🙂

[2019-10-04 15:13] jbutz commented on #16945
@gillkyle I threw together the code changes since they were so small, but wanted to give people a chance to respond. No sense stealing Hacktoberfest credit away from people who reported an issue or did the research. 😉

PR is now open

[2019-10-04 15:17] gillkyle opened #18122 "[docs] misleading link from creating global styles with styled-components"
## Description

The page [Creating global styles with `styled-components`]() points to [this doc on Styled Components](https://www.gatsbyjs.org/docs/styled-components/). That page doesn't talk about Creating global styles which makes the link seem misleading. Since we want to cover this information, rather than just changing the text of the link we should cover that in the Styled Components doc.

[2019-10-04 15:19] graysonhicks commented on #17995
I believe this was working as intended originally, as I am unable to replicate.  What I can confirm is that `toFormat: WEBP` will remove fallback images for Safari.

[2019-10-04 15:21] gillkyle commented on #16945
Yeah good point @jbutz, thanks for being so courteous, since I just barely added the Hacktoberfest label today I'll merge the PR.

If anyone else is in this thread is interested in getting something merged for Hacktoberfest I'd be happy to pair with you and get something merged into Gatsby 🙂

[2019-10-04 15:22] graysonhicks commented on #10203
I can attest that this is very important.  For webp browsers, we are able to keep our images at better resolutions and higher quality setting and still keep great image file sizes in the end.  Unfortunately the fallback images at these settings are outrageously large.  For this example, a full screen very heigh quality webp image is 500kb, but the fallback png is 4.1MB. 😔

[2019-10-04 15:22] #16945 closed

[2019-10-04 15:27] graysonhicks commented on #17995
This is a screenshot of using the withWebp fragment on the image.  If the screenshot and my notes are correct, we can close this issue.  (@smurrayatwork and I encountering this issue on same project together)
<img width="1454" alt="webp vs png" src="https://user-images.githubusercontent.com/16200795/66219785-c7eb9280-e699-11e9-8097-5abe7b1c1df2.png">

[2019-10-04 15:29] erinfox commented on #18122
I'd love to jump on this for my first Hacktoberfest :)

[2019-10-04 15:39] marcysutton commented on #18122
Sounds great, @erinfox!

[2019-10-04 15:44] marcysutton commented on #18116
Ooh, sure! That sounds like a great place to start!

[2019-10-04 15:49] moonmeister commented on #6300
@urielhdz Thanks for the Info, yes this will fix the issue I identified. It'd be nice if there was a way to maintain CSR and make this work.

[2019-10-04 15:50] sagarnasit commented on #18116
I would to like to claim this for Hacktoberfest.

[2019-10-04 15:58] graysonhicks commented on #17995
@FailedSitcom If that looks okay to you, I can close.  Now we are left with this issue... #10203 😬

[2019-10-04 16:00] FailedSitcom commented on #17995
@graysonhicks that sounds good to me, will try and take a look at your other issue over the weekend. 🙂

[2019-10-04 16:02] glauberm commented on #18116
Sure, @sagarnasit, go ahead! :+1:

[2019-10-04 16:02] mendaomn commented on #16945
That would be awesome! I'd love to contribute to Gatsby @gillkyle

[2019-10-04 16:06] DmacTorstar commented on #18040
@jonniebigodes Yes I think its a step in the right direction. Having a refresh interval would be good, but a manual way to do it would be great also while developing. In production, there is much less of a need to refresh the data so often. But during development, even 60 seconds is kind of a long time when you are going back and forth editing the data.

[2019-10-04 16:16] gillkyle opened #18127 "[www] add allowFullScreen to EggheadEmbed component"
## Description

From feedback received in the feedback widget of the docs page, it mentioned that videos can't be opened fullscreen which is definitely a behavior we'd like to support, especially because the bitmovin video player that the egghead embed component uses has a button for it.

The `allowFullScreen` attribute is likely enough to make this behavior possible.

One page where you can see a

[2019-10-04 16:19] RyKilleen commented on #14525
Jumping in to take a look at the repro repo to see if I can glean some insight from it!

[2019-10-04 16:25] Chopinsky commented on #18127
Could I work on this issue?

[2019-10-04 16:30] marcysutton opened #18129 "[Epic] Hacktoberfest 2019!"
<h1 align="center">👻🎃 Gatsby Hacktoberfest 🎃👻!</h1>
<p align="center">
  <a href="https://www.gatsbyjs.org/">What is Gatsby?</a>  |  <a href="https://www.gatsbyjs.org/docs/">Gatsby Docs</a>
</p>
<p align="center">
<img alt="Halloween with Snoopy" src="https://user-images.githubusercontent.com/1045233/66222556-59262d80-e6c9-11e9-8ed9-a0d83b0dce07.png"/>
</p>

## Welcome!

During Hacktoberfest, you'

[2019-10-04 16:31] jonniebigodes commented on #18040
@DmacTorstar the refresh interval would be applied to development mode. For production mode i believe the safe bet would be the de facto stance on how gatsby does it. As it's really hard for gatsby to know what changed and that could lead to more bugs and inconsistencies in the data.

[2019-10-04 16:31] #17995 closed

[2019-10-04 16:34] jonniebigodes commented on #17783
@gillkyle i left it open, so that i could "hear" some feedback from @maheshkumar2150 to confirm that he had it up and running and was able to solve is issue. No need to thank, glad that i was able to supply a clear and helpful resolution for it

[2019-10-04 16:44] clkent commented on #33
Figured out a solution and wanted to share here in case anyone else runs into something similar in the future.

Instead of trying to query for the blog posts with the author uid and dealing with the async nature of the two queries I am just filtering the blogList and creating pages based on that. There's probably several ways to improve this code during a refactor but wanted to share what I got wo

[2019-10-04 16:48] universse commented on #18108
Where are you deploying your site to? Cuz you need to set up path rewrites to redirect /webapp/some_path to /webapp. For eg if you are deploying to netlify, there's gatsby-plugin-netlify that automatically does that for you.

[2019-10-04 17:01] jonniebigodes commented on #33
@clkent glad that you managed to work it out, you can even improve it and make it more efficient by merging both queries into one with aliasing, removing the need of having one extra graphql and have to await for it to resolve and get the results back.
something like the following:
[code]

Also as a good practice you could introduce a sanity check for errors:
Something like:
[code]

[2019-10-04 17:04] RobinHerzog commented on #18108
I was trying on localhost and my website in on S3 / Cloudfront

[2019-10-04 17:07] jbutz commented on #8805
There hasn't been any recent activity here, so I am going to try and jump in and take care of `gastby-transformer-sqip` and `gastby-plugin-sharp`.

[2019-10-04 17:08] universse commented on #18108
There's gatsby-plugin-s3 you can try that out.

[2019-10-04 17:09] tkh44 commented on #17894
I worked with @zslabs on trying to diagnose the core issue here and wasn't able to pin it down. My best guess is that gastby is using the `@emotion/core/dist/browser.ems.js` when compiling for ssr when it should be using `core.esm.js`.

[2019-10-04 17:24] ndresx commented on #18080
It's unfortunately not publicly available, but I will try to provide a repro-repo in the next days!

[2019-10-04 17:27] #10391 closed

[2019-10-04 17:27] #15947 closed

[2019-10-04 17:27] #17182 closed

[2019-10-04 17:45] dpolant commented on #17566
Mainly what I'm wondering is how to do something like this, but with Netlify CMS source: https://medium.com/@Zepro/contentful-reference-fields-with-gatsby-js-graphql-9f14ed90bdf9

The trouble I run into is that this kind of approach relies on each page "section" having a unique Graphql type, whereas in Netlify CMS if you use an object list field, the objects all have a common Graphql type.

[2019-10-04 18:01] janosh opened #18135 "gatsby-remark-embed-video update causes gatsby-plugin-mdx to throw sourceNodes lifecycle error"
## Description

Trying `gatsby develop` in [this repo](https://github.com/janosh/janosh.io) fails with

[code]

### Environment

[code]

[2019-10-04 18:10] alexfornuto commented on #6309
I'm running Gatsby `^2.13.18` and am still experiencing this issue in develop mode with [this project](https://github.com/pantheon-systems/documentation)

[2019-10-04 18:12] d4rekanguok opened #18136 "[gatsby] actions.createNode failed to actually create the node"
## Description

Hi folks! Love Gatsby & thank you for your work. Just have to start with that on every issue!

I'm writing a remark plugin that create a remote file node for remote images in markdown body, then pass it to sharp in similar fashion to gatsby-remark-images. Everything worked well.

I was hoping to cache the image to avoid unnecessary download. However, during the implementation of th

[2019-10-04 18:18] lekterable opened #18137 "New Translation Request - Polish"
[code]

[2019-10-04 18:22] janosh commented on #18135
Aha, the issue was caused by updating `gatsby-remark-embed-video` from 1.7 to 2.0. Downgrading resolves the error.

@d4rekanguok I'm guessing it was introduced by [this commit](https://github.com/borgfriend/gatsby-remark-embed-video/commit/81e2299). Not sure if that commit itself contains the error or if it just brought an error in `gatsby-plugin-mdx` to light.

[2019-10-04 18:24] lekterable commented on #18137
- _your experience level in open source:_ I contribute to open source quite regularly (got the 2k18 hacktoberfest t-shirt :) )
  - _your level of experience in the target language and localization:_ Polish is my native, regarding localization I don't have much previous experience, only recently I've reviewed a couple of commits to a Polish repo of react official docs.

[2019-10-04 18:24] lucasecdb commented on #18043
fixed in OpenDevUFCG/Tamburetei#282

[2019-10-04 18:24] #18043 closed

[2019-10-04 18:25] d4rekanguok commented on #18135
oh crap, that definitely looks like my fault. Let me check -- sorry about that!

[2019-10-04 18:47] d4rekanguok commented on #18135
Hhhm I couldn't reproduce this on a normal repo with just `gatsby-transformer-remark`. I noticed the problematic line is this one<sup>[source](https://github.com/borgfriend/gatsby-remark-embed-video/blob/12a6d52a278bc007207d4823cd825ea214a0e861/src/index.ts#L49)</sup>:

[code]

Has the plugin api been changed somehow? I haven't used mdx that much, so guidance in this issue is much appreciated!

[2019-10-04 19:14] medusalix opened #18140 "New Translation Request - German"
[code]

[2019-10-04 19:17] d4rekanguok commented on #18135
@janosh I've opened a PR in [gatsby-remark-embed-video](https://github.com/borgfriend/gatsby-remark-embed-video), I think it's safe to close this issue here & watch the one over there.

Thanks for reporting in!

[2019-10-04 19:19] medusalix commented on #18140
- **your experience level in open source:** I contribute to all kinds of open source projects, especially when they're backed by a large community.
- **your level of experience in the target language and localization:** I'm a native German speaker, but I've never did localization on any project before (mostly because there was already a German translation available).

[2019-10-04 19:30] #18135 closed

[2019-10-04 20:11] dcastil commented on #15898
Just want to mention it in case anyone is searching for an answer like me.

`panic` always logs the data, exits and fails the process. `panicOnBuild` logs the data and only exits and fails the process when the `gatsby build` command is running.

Source: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/reporter/index.js#L53-L65

[2019-10-04 20:15] vpicone commented on #16744
I was able to get around this by changing my build script:

[code]

I also seem to remember using node 12 makes this a non-issue but could be wrong.

[2019-10-04 20:26] sever1an commented on #17936
Welcome back @davidbailey00

I do change the port of `gatsby develop` to `8080`, but do not run `gatsby serve` at all.

When `gatsby build` runs, the already running instance of `gatsby develop -p 8080` outputs *stuff* like this to the terminal.

[code]

Running `gatsby build` is definitely the event that causes the errant service worker to be installed in a page that is connected to and receiving

[2019-10-04 20:38] JoeWrenn opened #18143 "Hook to control Socket.io configuration"
## Summary
I am proposing that a hook should exist for controlling the socket.io connection that is used when rendering a page from gatsby develop. This would allow multiple gatsby develop sites to work behind a proxy.

I am attempting to stitch together several gatsby develop instances behind a proxy environment. There is one final hurdle before it works in that the socket.io connection has a har

[2019-10-04 20:50] mitchellhamilton commented on #17894
You need to create a new cache _per server render_ and then it should work.(though the cache should be created before hydration on the client, i.e. outside of the React tree)

As an example, @zslabs if you applied this diff to your example, it would work:

[code]

[2019-10-04 20:52] sw-yx commented on #15898
hmm. sounds like it should be callled panicDuringBuild? thanks for investigating!

[2019-10-04 21:16] zslabs commented on #17894
Thank you very much @mitchellhamilton - that was it! Will make sure we get some docs updated as well so others don't run into this. Really appreciate the help!

[2019-10-04 21:16] #17894 closed

[2019-10-04 21:34] gillkyle commented on #18127
Hey @chopinsky it looks like @sagarnasit already put up a PR, there will be other issues soon!

[2019-10-04 21:56] Cobwebster commented on #17984
Is this the right place for gatsby sitemap issues? using the plugin.

[2019-10-04 22:16] sunny-kim-92 opened #18144 "Build errors with Sharp / Images in Markdown"
## Description

I've been running into a number of errors when trying to introduce plugins for adding images directly in my markdown. I have since removed instances of images within markdown, but an error remains and it seems to be preventing Netlify from building.

I attempted to use gatsby-remark-images and add the following to my markdown:

`
![some caption text](../.path/to/image)
`

I get the

[2019-10-04 22:28] lfeddern commented on #17568
@Undistraction did you manage to find a way to get netlify-identity-widget out of your bundles? Is there a way of using null loader to exclude it in the webpack config?

[2019-10-04 23:46] #18144 closed

[2019-10-05 00:10] pieh commented on #17992
We probably will still need #7129, because extracted ASTs used for finding queries are being discarded right now. I'm not even sure if we can reuse them...

Are we talking about "props" that users would use or internal mechanisms for converting props to graphql args? For "props" I would suggest strings, as this will be familiar to users (given that there is no enum in vanilla js).

This is up to y

[2019-10-05 00:23] sunny-kim-92 opened #18147 "'Unexpected end of JSON input' with 'gatsby-transformer-remark' preventing Netlify build"
## Description

I've been running into a number of errors when trying to introduce plugins for adding images directly in my markdown. I have since removed instances of images within markdown, but an error remains and it seems to be preventing Netlify from building.

I've posted the issue on Netlify as well because `gatsby build` and `gatsby serve` both work as intended. So this may be directed at

[2019-10-05 00:49] sidharthachatterjee commented on #18050
Thank you all of you!

[2019-10-05 00:49] #18050 closed

[2019-10-05 01:24] jessescn opened #18178 "New Translation Request - Brazilian Portuguese"
[code]

[2019-10-05 01:30] jessescn commented on #18178
- **your experience level in open source:** i have some experience with open source because i participate to a open source organization of my university :)
- **your level of experience in the target language and localization:** im from Brazil, so brazilian portuguese is my native language, i dont have much experience with localization but recently i translated some files in @appwrite repository..

[2019-10-05 01:47] #18147 closed

[2019-10-05 03:24] MANTENN commented on #17630
Updates?

[2019-10-05 05:36] Undistraction commented on #17568
@lfeddern We didn't want the CMS on production (we have a workflow that involves promoting changes on staging to production) so I just checked  `NODE_ENV` in my `gatsby-config.js` and only include Netlify CMS if not `production`.

[2019-10-05 05:39] Undistraction commented on #17568
@erquhart any idea why the CMS is being baked into the bundle?

[2019-10-05 06:08] rafaeelaudibert commented on #18178
Would love to help!

* **your experience level in open source**: Some small contributions for some projects, as well as some involvement in a big project ([Greenlight](https://github.com/bigbluebutton/greenlight)).
* **your level of experience in the target language and localization**: I'm brazilian, so that is my native language. Already worked with localization at Greenlight, using Transifex.

[2019-10-05 08:42] jvdsande commented on #17749
![Screenshot_20191005-103217__01](https://user-images.githubusercontent.com/12484011/66252402-8d4a2e80-e75b-11e9-8f25-eee435f47b10.jpg)

Updated all my Gatsby dev to the latest yesterday, today I'm getting this on the app when offline.

If the PWA was running in the background, I can reopen it just fine and everything works inside (no broken navigation). But if I kill the PWA from my phone recents

[2019-10-05 10:49] imthinhvu commented on #17902
@gillkyle - since I didn't yet see this issue being officially claimed, I ended up making a PR for this here: https://github.com/gatsbyjs/gatsby/pull/18202

@simrankaurmann - Feel free to add onto my PR if you have any other ideas. Since you had originally requested this, I also don't mind closing my PR and finding something else to work on. I was mostly going through the open Hacktoberfest issues

[2019-10-05 11:08] mvhoute commented on #9357
I'm having the same issue.

`1:00:44 PM:  ⚠ WARN: ENOENT: no such file or directory, open 'public/sw.js'
1:00:44 PM:          Including assets:
1:00:44 PM:              public/app-c6290a597d97f00da7a9.js
1:00:44 PM: /bin/sh: 1: pyftsubset: not found
1:00:44 PM: TypeError: Expected a finite number, got number: NaN
1:00:44 PM:     at module.exports (/opt/build/repo/gatsby-site/node_modules/subfont/n

[2019-10-05 12:28] Zoe7 commented on #12978
I ran into something similar today except I got no error messages whatsoever, it just hung on `source and transform nodes` after `fetched and processed Collection nodes`.

Tried this and it helped, you can also set a .env variable for it rather than changing the inline value in the node_modules files: `GATSBY_CONCURRENT_DOWNLOAD=10`.

[2019-10-05 13:41] ehowey commented on #18101
Figured it out - I didn't add Frontmatter to my posts which caused the graphQL query to fail...but because it was layered a couple layers deep it didn't give detail on why it failed.

This might be a small improvement to the gatsby-node.js file  in `gatsby-theme-blog-core` to ensure that frontmatter is optional or gracefully fails versus breaking the build.

[2019-10-05 13:41] #18101 closed

[2019-10-05 14:29] vpicone commented on #16744
Was getting this exact issue, turns out we had a accidentally had a 4.5mb png that, when processed by sharp, pushed the memory limits of the circleci “free” tier. Scaling the image down solved the problem.

[2019-10-05 14:52] phacks commented on #14525
Oops, I fixed the `IntersectionObserver` leak a while back but completely forgot to update this issue!

Your insight is spot on, you can see how it was fixed in this PR: https://github.com/gatsbyjs/gatsby/pull/17056

I’ll close the issue now to avoid further confusion, however if there’s another leak in there we can totally reopen it. Sorry about that @RyKilleen !

[2019-10-05 14:52] #14525 closed

[2019-10-05 15:58] antoinerousseau commented on #11934
Following [Gatsby API](https://www.gatsbyjs.org/docs/node-apis/#onCreateWebpackConfig), it would be better to use `actions.setWebpackConfig`, e.g.

[code]

It automatically merges with the default config.

[2019-10-05 17:27] #11665 closed

[2019-10-05 17:27] #16008 closed

[2019-10-05 17:27] #17082 closed

[2019-10-05 17:27] #17342 closed

[2019-10-05 18:30] TomerAberbach commented on #17992
Okay, thanks for all of the feedback. What do you think would be a good first step? Should I submit a pull request which uses [transformFromAst](https://babeljs.io/docs/en/babel-core#transformfromast) to run `babel-plugin-macros` prior to extracting queries?

[2019-10-05 18:37] 1qk1 commented on #15529
Thanks @marcysutton!

I have a question, on "Gatsby on Windows" and "Gatsby on Linux" pages, there are instructions about installing build-essential and windows-build-tools. I have set up gatsby a couple times on each OS and never have to go through these steps, just install Node, git, Gatsby and I'm done, are these necessary or were they needed for an older gatsby version and never got removed?

[2019-10-05 21:56] rubengmurray commented on #17131
This is a big issue for me too right now. Can't run `gatsby develop` locally at all on the lumen startup. Keeps hanging.

[2019-10-05 22:43] JustFly1984 commented on #17980
Is there any movement on issue?

[2019-10-05 23:29] sever1an commented on #17980
The core team has all been away for the past week, I wouldn't expect anything before Monday.

[2019-10-05 23:39] ericmarkmartin commented on #8609
Not stale

[2019-10-06 00:01] JustFly1984 commented on #17980
this part of code should be tested, so tests will fail before anything could be released

[2019-10-06 00:21] ndresx commented on #18095
Thanks for looking into this and providing a possible solution. Unfortunately, it didn't work as a re-run surfaces a similar problem as reported in another issue a few days ago already. Although the `Mdx` type is gone now from the schema file, the others stayed (which would be optimal), and the generator seems to be trying to re-add these types, which results in the following error message.

[code

[2019-10-06 01:20] diced-dev commented on #7230
@narration-sd I think I've run into that same error with Redirect in production, any solutions?

I'm also unable to get a non-uglified build working which makes resolving this kind of prod only issue a huge problem.

[2019-10-06 01:26] sever1an commented on #17980
They are pretty serious about CI and have lots of tests, it is actually surprising that they do not have one for this. Perhaps a more formal specification of paths and trailing slashes is needed to allow effective tests. There are certainly a few possibly undefined cases with stripped trailing slash like: `/page.js` or `/page/index.js`. And as we now know, `/page/*` vs `/page/index.js`. Another is

[2019-10-06 02:33] #18127 closed

[2019-10-06 03:48] shanedg commented on #15601
Also include this when deleting the alias:
[code]

[2019-10-06 04:11] ehowey opened #18212 "[Themes] contentPath option in gatsby-theme-blog-core is not properly supporting custom content paths in nested themes"
## Description

I have been trying to get a custom content path to work with `gatsby-theme-blog-core` when it is nested inside of other themes.  The default content path of `.../content/posts` does work however as soon as I specify a content path in the options I get the following error:

[code]

### Steps to reproduce

https://github.com/ehowey/gatsby-blog-core-bug

I have the following nested th

[2019-10-06 04:32] FidelVe opened #18213 "Cant access assets on static folder while on develop mode."
## Description

I have some html files in the static folder, if I run `gatsby build && gatsby serve` I can access these pages without trouble, but when I am on develop mode if I try to access the pages I get redirected to the 404 page.

this is the content of the static folder

[code]

### Environment

[code]

[2019-10-06 04:43] jonniebigodes commented on #18213
@FidelVe see my comment [here](https://github.com/gatsbyjs/gatsby/issues/17761#issuecomment-533816520) and the following reproduction [here](https://github.com/jonniebigodes/gatsby_iframe_example) to address a similar issue like the one you're experiencing.

[2019-10-06 08:05] dhhdev opened #18216 "[gatsby-theme] 404 shadowing doesn't work as expected"
## Description

404 page creation seems to not actually shadow like any other page gatsby creates.
It also makes two paths/files, that seems redundant:

- /404.html (expected)
- /404/ (redundant)

### Steps to reproduce

I have made a test repository to clarify. Simply clone the repository and run it, to see what I mean.

`git clone https://github.com/dhhdev/gatsby-404-shadowing-example`

`yarn in

[2019-10-06 08:13] dantereve commented on #18075
Hello, I've checked your troubleshooting page this morning.
When you load the page, your content is flashing, then disappears to show your 404 page.

<img width="968" alt="Screenshot 2019-10-06 at 09 02 34" src="https://user-images.githubusercontent.com/13101343/66265541-c5fc0d80-e818-11e9-84ca-edd39d1ee6ba.png">

In those logs, the culprit seems to be in `loader.js` :

[code]

For some obscure pa

[2019-10-06 08:28] dhhdev commented on #18216
I suspect this behaviour could have something to do with, how webpack loader works. As discussed on Twitter yesterday with @ChristopherBiscardi

[2019-10-06 09:16] viasavva commented on #14497
Hi , same problem here. Everything works great when deployed to netlify. But black background when build or develop on my machine.

[2019-10-06 10:15] rasmuswoelk commented on #14184
Hi @ciokan

I'm experiencing this issue and I was wondering if you found out what was causing this issue for you?

[2019-10-06 10:49] fandy opened #18217 "[gatsby-plugin-remote-images] Download images from multiple external sources locally"
Currently the plugin only allows images to be downloaded locally from one path:

[code]

This is a problem when your GraphQL API has multiple fields with external images inside them:

![image](https://user-images.githubusercontent.com/19108762/66267931-5af50b80-e805-11e9-85b9-7ddea6851568.png)

[2019-10-06 12:22] denvercoder commented on #17557
For what it's worth I had this same issue and it came down to a case-sensitivity issue. It worked fine on my mac but failed on Netlify's servers because of some of the component names:

import Button from '../components/button

src
     - components
          - Button
               -Button.js

[2019-10-06 12:35] mrassili opened #18219 "Refactor traditional class component to hooks"
## Summary

(For my first PR) I'd like to refactor the component at `www/src/components/sidebar/scroll-sync-sidebar.js` to use hooks to get rid of a few lines of code, the handlers bindings, and redundancies.

### Basic example

![Example of hooks](https://i1.wp.com/storage.googleapis.com/blog-images-backup/1*E7XwHTCp2i9DJuJxWM9R8g.gif?zoom=2&ssl=1)

### Motivation

It will save a few lines of cod

[2019-10-06 13:03] bsonntag opened #18220 "Allow redirects from same path when they have different options"
## Description

I'm creating a website with multiple locales and I'd like to have different routes for each locale (e.g. `/en/about` and `/pt/about`). I also want the `/` route to redirect to the correct locale based on the user's browser language setting.
On Netlify this can be achieved with the following `_redirects` file:

[code]

I'm trying to generate this using `createRedirects` and `gatsby-

[2019-10-06 13:09] bsonntag commented on #18220
From my understanding this is happening because redirects with the same `fromPath` are being ignored to prevent duplicates: https://github.com/gatsbyjs/gatsby/blob/d766bc016d1724a6a0321d2c94ddcaaf3164db90/packages/gatsby/src/redux/reducers/redirects.js#L8-L13

Is there a way to prevent duplicates while allowing redirects with the same `fromPath`?

[2019-10-06 15:09] jamesvidler commented on #18037
I'm using the __refresh endpoint while running my site using 'gatsby develop' and it refreshes source nodes just fine, but doesn't refresh page-data.json for page context data unless I stop and start development mode again.

Is this a bug or intended functionality? Ideally I want to replace the existing page-data.json

[2019-10-06 15:12] kgabryje commented on #17947
Hey, can I take this one?

[2019-10-06 15:32] aldrinpvincent opened #18221 "Gatsby new site creation using cli is failing"
## Description

gatsby new test failing with error
<img width="1680" alt="Screenshot 2019-10-06 at 8 58 32 PM" src="https://user-images.githubusercontent.com/38835946/66271525-8e26b180-e87c-11e9-8f7e-2eb005bed7b4.png">

### Environment
System:
    OS: macOS 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.3 - /usr/local/bi

[2019-10-06 15:56] isoftninja opened #18222 "[gatsby-remark-images] bug with [ ] in path"
If in path contains `[ ]` an error occurs -

`
./posts/000.post/ //Ok
./posts/[000]post/ // Error
`

throw ex;
^
TypeError: Cannot destructure property `job` of 'undefined' or 'null'.
  at runJobs (/home/user/gatsby-remark-images-bug-with-path/node_modules/gatsby-plugin-sharp/scheduler.js:99:9)
at /home/user/gatsby-remark-images-bug-with-path/node_modules/gatsby-plugin-sharp/scheduler.js:87:7
at /

[2019-10-06 15:57] ThomasUta commented on #12967
This plugin has issues. This is how I solved it:

Put it at very first position so it is the first plugin to be loaded.
Remove all optional attributes you don't need or are not sure about what they do.

This is how it looks in my `gatsby-config.js`:

[code]

[2019-10-06 16:29] FidelVe commented on #18213
Hi! @jonniebigodes

thanks, for the reply. I tried the solution proposed on your link, and although it seems to work at first, it actually introduces other unexpected behaviors.

[code]

when adding that code to `gatsby-node.js` any change I made to the sources while running `gatsby develop` seemed to not be updating, like the **hot reload** wasn't working.

It seems that the public folder is bein

[2019-10-06 16:58] dandv opened #18223 "Irrelevant starters included in search results thanks to being hosted on Firebase"
I was searching for starters that implement Firebase features, and found a few [that have nothing to do with Firebase](https://github.com/lewislbr/lewis-gatsby-starter-blog/issues/2#issuecomment-538631324), but still show up in searches because they're hosted on `firebaseapp.com`.

![image](https://user-images.githubusercontent.com/33569/66250720-bfcc3b00-e70b-11e9-817d-1f000c06cf1b.png)

[2019-10-06 17:04] rchrdnsh opened #18224 "imported image not showing up and logging as undefined..."
I have an image that I am importing into a page, like so:

[code]

...and I have verified that the path is correct. But the image is not showing up on the site, only the alt text. The console log also comes back as undefined. Not sure what I need to do. Even if I specify a specific size via css it still does not show up. This seems quite odd, I would think, and I can't figure out why it's not work

[2019-10-06 17:09] isoftninja commented on #18222
in node_modules/gatsby-plugin-sharp/scheduler.js
[code]
from `lodash` docs -
[code]
`'a[0].b.c',` - square brackets in path match pattern for lodash.

[2019-10-06 17:13] RobinHerzog opened #18225 "Passing data to each page for tracking Mixpanel"
Hello,

I'm using Prismic, templates and pages.
Each one my prismic page have a key "route" and "lang".

With mixpanel, I track each time a user change the page.
Currently I use gatsby-browser and I get the data with:
[code]
This is working but I'm sure there is a better way.

How would do it?

[2019-10-06 17:17] lannonbr commented on #18224
@rchrdnsh try removing the `{}` symbols around `PlayButton` and see if it works then:

[code]

[2019-10-06 17:22] JeffWeim opened #18226 "Running `gatsby develop` and viewing localhost in Chrome results in constant refresh"
## Description

After a fresh install of a Gatsby project (`gatsby new [project name]`) and running `gatsby develop` to begin local development, attempting to view the url at `localhost:8000` in Chrome results in the webpage constantly refreshing itself. After canceling the page load, and viewing the console, you can see the following errors:

<img width="1680" alt="Screen Shot 2019-10-06 at 10 17

[2019-10-06 17:27] rchrdnsh commented on #18224
AHHH!!! I knew I was missing something dumb! Thank you! XD

[2019-10-06 17:27] #18224 closed

[2019-10-06 17:27] #7373 closed

[2019-10-06 17:27] #8790 closed

[2019-10-06 17:27] #12409 closed

[2019-10-06 17:27] #13334 closed

[2019-10-06 17:27] #14995 closed

[2019-10-06 17:27] #15248 closed

[2019-10-06 17:27] #15425 closed

[2019-10-06 17:27] #16613 closed

[2019-10-06 17:27] #16923 closed

[2019-10-06 17:27] #16954 closed

[2019-10-06 17:27] #16965 closed

[2019-10-06 17:27] #17008 closed

[2019-10-06 17:43] aditsachde opened #18227 "Specific info about swag tiers in docs"
##  Summary

The gatsby contribution swag [page](https://www.gatsbyjs.org/contributing/contributor-swag/) doesn't clarify what items tier 1 or tier 2 includes.

I was searching around and the only two bits of information I could find was in this [comment](https://github.com/gatsbyjs/gatsby/issues/13453#issuecomment-484975693) and the README.md of the gatsbyjs-store repo, which says only

I opened

[2019-10-06 18:48] Munter commented on #9357
I wasn't aware of this issue. I see several problems in the different logs that are pasted in this issue.

### `pyftsubset: not found` error
@mvhoute @ooloth @flowen
This error occurs because you are trying to run subfont with font files that are local. This means there is a dependency on `pyftsubset` which comes from the python package `fonttools`. Install these with `pip install fonttools brotli

[2019-10-06 18:51] sheerun commented on #7373
It seems Gatsby found a way to solve this issue

[2019-10-06 19:00] jonniebigodes commented on #18213
@FidelVe sorry for not being more helpfull in solving your issue.

[2019-10-06 19:29] FidelVe commented on #18213
don't worry, dude, you helped me a lot!

[2019-10-06 19:50] jonniebigodes commented on #18217
@fandy it seems so, probably with some minor changes the plugin can allow multiple fields as you're mentioning and with that more people can benefit from it. If you're willing to make the changes to that plugin and make a pr in the plugin repo.

[2019-10-06 19:52] ChristopherBiscardi commented on #18212
you're using a path to a directory that doesn't have any mdx files in it. That's why the page template isn't being used. If you look higher up in the error message you'll see a note about how `gatsby-theme-blog-core` didn't generate any nodes.

[2019-10-06 19:59] Jereme2147 commented on #16455
Deleting fragments.js fixed for development.  It did not however fix it for Netlify build.  But, adding the media did.  What a random "fix".

[2019-10-06 20:13] AAverin commented on #12967
If you have problems, keep in mind "do not track" setting in your browser.
Basically for me having this setting enabled in plugin was breaking tracking no matter what browser setting was. Maybe it's broken in the plugin or analytics itself?

Anyways, tracking seems to work now, but it's quite unstable. Not all events are tracked so not sure what's the problem.
Anybody else has that?

[2019-10-06 20:43] parkerproject commented on #7373
@sheerun and what's the way?

[2019-10-06 20:51] ehowey commented on #18212
I must be confused then about properly using this nested configuration.

Inside of ‘Gatsby-theme-blog-bug’ (the starter) there is a folder ‘src/blog’ which has three different MDX blog posts.  This is the folder I am trying read and pickup...

My goal is to have the following structure:

Core theme -> Blog theme -> Starter

The structure and components would live in the themes while the theme-ui s

[2019-10-06 21:44] jmcbee commented on #4293
Is there an open issue regarding this bug which gets "fixed" by resizing the window?

[2019-10-06 22:35] jamessimone commented on #18136
Hopefully somebody from the core team will see this soon. It seems that any plugin that uses caching to optimize local development probably doesn’t properly make use of the cache when deploying, or at least the cache is not used properly when deploying to Netlify while this problem is unresolved.

[2019-10-07 01:50] weisisheng commented on #17832
Thanks for the offer to review and apologies for the delay.  We were essentially cut off from all outside internet last week due to great firewall of mainland China issues around their national holiday.

Hopefully I have got this isolated properly.  A noob at this and graphql at the moment.

https://github.com/weisisheng/tailwindstarter-mdproblem-2019

[2019-10-07 03:23] mujeex opened #18241 "ERROR #95313 Building static HTML failed for path "/404/""
## Summary
I recently implemented localization in my gatsby project using the react-intl package. I was able to pull that off by mimicking the implementation of the package in the [gatsby-starter-default-contentful-i18n](https://github.com/angeloocana/gatsby-plugin-i18n/tree/master/packages/gatsby-starter-default-i18n/src) repo. Everything works fine when I run **gatsby-develop** but sadly not the

[2019-10-07 07:10] thomaswangio opened #18242 "[docs] [workflows] Using Gatsby Themes"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to use Themes in my Gatsby project.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😄 | 😄 | 😄 | 😄 | 😄 | 😄 |

# Steps taken to implement

1. Searchability
	1. S

[2019-10-07 07:25] laurenskling opened #18244 "Only run transformer plugins in a specific folder, like a child plugin of gatsby-source-filesystem"
## Summary

Wouldn't it be great to add transformer plugins as a child to `gatsby-source-filesystem`, so we only parse that folder as so?

### Basic example

[code]

### Motivation

I have a big amount of data in multiple JSON files I want to import into gatsby nodes. Currently, i'm using
[code]
To make sure they are created as a unified type (otherwise they will be created as separate  types name

[2019-10-07 07:29] thomaswangio commented on #13708
Hi @leandromuto, I'm assigned to the "Using Themes" workflow! It's under issue #18242. I'll be working on it until at least 10/13. If you have any ideas regarding it, or want to make a PR related to the workflow, feel free to comment on the issue and we can tackle it together 😊

[2019-10-07 07:29] chrfritsch opened #18245 "Adding gatsby-plugin-netlify-cms in a monorepo slows down the build time"
## Description

In a monorepo project, adding gatsby-plugin-netlify-cms slows down the "Building production JavaScript and CSS bundles" step.

Removing "gatsby-plugin-netlify-cms" from example/atsby-config.js brings build time back to normal.
### Steps to reproduce

- Download the netlifycms branch of https://github.com/chrfritsch/netlify-monorepo/tree/netlifycms
- yarn install
- cd example
- gats

[2019-10-07 10:14] imlastrebor opened #18246 "Images are not showing on mobile"
## Summary
On localhost everything seems to be normal. Then I started running my site at Github pages and it's ok with laptop but with mobile images are not showing. I found that some people had same issues and they found solution #5264 but i'm not getting it working.

I added code that @hsribei suggests to my ```gatsby-node.js```
[code]

[Link to repo](https://github.com/imlastrebor/portfolio)
[L

[2019-10-07 10:17] pieh commented on #17992
As mentioned in previous comment, we are not sure if we want to commit to that yet, but opening PR that do some postprocessing on AST to "run" babel-plugin-macros will be ok. We could at least release feature tag version of gatsby (`gatsby@extract-queries-with-macros` or something like that) to see how it works without people having to build modified gatsby version locally and evaluate pros/cons o

[2019-10-07 10:21] kogal commented on #18245
This becomes even more important now that Netlify will start to charge for build minutes.

[2019-10-07 10:24] pepibumur commented on #17970
That worked! Thank you very much for debugging the issue @jonniebigodes and giving me a solution.

[2019-10-07 10:30] pieh commented on #17986
Gatsby adds barebones eslint loader when you don't have any `.eslint` files - You can create empty `.eslintrc` file, which will disable it completely (as gatsby assumes once you have eslint file, you are in charge of linting)

[2019-10-07 11:04] FlorianDr commented on #14125
I would like to work on this. I started moving the content from the blog post to the tutorials folder.

[2019-10-07 11:35] Mrazator commented on #17443
I am having the same problem as you. However, as I am working with a lot of files (thousands of them and some of them are thousands of lines long), it is a blocker for me (as I cannot afford to have **40min+ build times**). It also seems to me, that the cache mechanism just does not work with so many files - as whatever I change, It always starts the build process and re-generation of cache again.

[2019-10-07 11:57] henrikmmm1 opened #18248 "Netlify Build results in query error"
## Description

I'm publishing my site onto Netlify, and continously get the errors

[code]

### Steps to reproduce

Clone `https://gitlab.com/HenrikFalck/portfolio.git` and publish to Netlify. Further down the deploy log you'll see the same errors.

### Expected result

The deploy shouldn't stop.

### Actual result

[code]
I've never encountered this problem before, and I haven't fiddled around w

[2019-10-07 11:58] 0xsven commented on #5990
https://github.com/gatsbyjs/gatsby/issues/5990#issuecomment-433664162

This worked for me with one change: my content folder could not have any sub folders. all `.md` files need to be in a flat folder.

[2019-10-07 12:48] janosh commented on #17443
@johno Let me know if I can try and help implement the static flag for MDX elements you mentioned at Gatsby days London. Also, how difficult do you think it would be to convert or extend [`gatsby-remark-vscode`](https://github.com/andrewbranch/gatsby-remark-vscode) (the syntax highlighter I'm using ) into something that is based on React components like [`prism-react-renderer`](https://github.com/

[2019-10-07 12:51] Digital-E opened #18249 "allShopifyPage GraphQL query is not available in GraphiQL Explorer"
## Description

allShopifyPage GraphQL query created with ```gatsby-source-shopify``` plugin is not available to query when using GraphiQL Explorer

### Steps to reproduce

Use ```gatsby-source-shopify``` plugin in Gatsby project and link Shopify store containing pages.

Go to: [localhost:8000/__graphql](url)

### Expected result

I should be able to query allShopifyPage in the GraphiQL Explorer,

[2019-10-07 13:36] joewood commented on #16780
I forked the remark-images plugin and changed the Markdown Image find to use the url property, rather than the dirname. This seems to have worked (as long as you preload your remote images into the tree first). I can do a PR and add a "remote mode" for this plugin, but there is the assumption that the image nodes would be created first.

[2019-10-07 14:02] 1qk1 commented on #15529
Just opened a PR with your suggested changes, check it out when you can! #18253

[2019-10-07 14:12] chapster11 opened #18255 "gatsby-source-prismic-graphql or gatsby-source-prismic"
Hi all I tried asking this question on Spectrum gatsby.js community with no response so trying her with hopes someone can answer some of these questions.

Whats the main difference between gatsby-source-prismic-graphql and gatsby-source-prismic?
Apart from the 1 line that is written in githup for gatsby-source-prismic-graphql

I'm currently working on a project that uses gatsby-source-prismic. And

[2019-10-07 14:35] rikakomoe commented on #16780
@joewood Glad to hear that but I wished it could fetch the remote image automatically ("`createRemoteFileNode`" after it parsed the Markdown document) couldn't it? I didn't know what image will be included in the Markdown document so there's no way can I do this "preload" outside the plugin.

[2019-10-07 14:40] joewood commented on #16780
That's really a separate phase of the build process. It's quite easy to parse the markdown for images and call createRemoteFileNode for the image URL. The complete fix for this will depend very much on your the source of your nodes.

[2019-10-07 14:42] johno commented on #17443
@Mrazator can you include which plugins you're using?

This definitely sounds like a bug since we shouldn't need to rebuild the entire cache when a single file changes 🤔

This typically only occurs with plugins that add a large amount of DOM nodes to the document (which we've only seen from syntax highlighting plugins so far).

---

I'll set aside some time this week to write up an RFC so we can d

[2019-10-07 14:48] bersot1 opened #18257 "Bug image Blur-up with theme gitbook-starter"
## Description

when I put an image in my post and see how it looks (gatsby develop or build) returns 2 images, one on top of the other (attachment)

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

Show one image.

### Actual result

[2019-10-07 14:54] janosh commented on #17443
I'm confused now. How is the compositional approach related to running on the client? I thought the benefit of composition would stem from not ending up with a large number of DOM nodes generated by some `remark` plugin that MDX then needs to handle by instead rerouting certain parts (i.e. code blocks) of the MDX file straight into the package that knows what to do with them so that MDX can just f

[2019-10-07 15:00] johno commented on #17443
The compositional approach occurs via the MDXProvider so it is rendered on the server during build _and_ on the client after rehydration. It becomes part of the site's bundle. This is why we require a "static" mechanism where we can "compile away" the client portion (which was what we discussed a bit in person last week).

Not sure if that clarified things or not?

[2019-10-07 15:17] acewf opened #18260 "Reserved keyword(s) on data json using gatsby-transformer-json"
## Reserved keyword "filter"
I am getting the following error, while using gatbsy@2.15.0 and gatsby-transformer-json@2.2.2 or above by having a json file with a key "filter", the development or the build process doesn't work.

not sure @freiksenet as more info why this is happening,
also not sure if this infer just affects only data from json files, or other potential data sources.

using gatbsy@2

[2019-10-07 15:18] Mrazator commented on #17443
Thanks for quick response.

Here you go:
[code]

I tested it without using prismjs and emotions, and still have the same problem. Maybe the actual document is just too big (6K+ lines)?

[2019-10-07 15:21] anhek commented on #18120
Hello, can I try to fix the issue ?

[2019-10-07 15:24] johno commented on #17443
Hmmm, the compiled output of a 6k line document should be much less than 500KB if prismjs is turned off. Do you mind creating a minimal reproduction I could debug @Mrazator?

[2019-10-07 15:26] Mrazator commented on #17443
I will try to do it asap :)

[2019-10-07 15:36] copperwall commented on #15732
I'm up to work on this!

[2019-10-07 16:17] m-allanson commented on #18078
If you build the site with `gatsby build --no-uglify`, do you get a more informative error message?

[2019-10-07 16:33] Js-Brecht commented on #17131
For anybody else finding this issue, try
[code]

That should disable `fsevents` on MacOS, which seems to be a reliable workaround.

[2019-10-07 17:27] #6103 closed

[2019-10-07 17:27] #11952 closed

[2019-10-07 17:27] #14680 closed

[2019-10-07 17:27] #14959 closed

[2019-10-07 17:27] #16059 closed

[2019-10-07 17:27] #16189 closed

[2019-10-07 17:27] #17076 closed

[2019-10-07 17:27] Kadrian opened #18267 "Make createPages a first-class citizen"
## Summary

Make `createPage` a declarative API, rather than imperative.

### Problem

Take a simple blog system with posts.

In order to simply render a **blog post image** using `gatsby-image` in my `Post.js` file, I'll have to do a lot of things:
- create a data source in `gatsby-config.js` using `gatsby-source-filesystem`, name it X
- let my `blog.js` file declare a graphql fragment on X, to r

[2019-10-07 17:37] yzalvov opened #18268 "gatsby build, Building HTML fails, ERROR plugin.plugin[api] is not a function"
## Description
Plugins I use: `gatsby-source-contentful` (creating pages with createPages API), `gatsby-plugin-material-ui`, `gatsby-plugin-styled-components`

`gatsby develop` works fine. Please help.

### Steps to reproduce
`gatsby build` fails with an error

### Expected result
Successfully built project.

### Actual result
[code]

### Environment
  System:
    OS: macOS 10.14.6
    CPU: (8) x6

[2019-10-07 17:55] PolGuixe commented on #9207
Can someone summarise the current situation?

**Solution:** still WIP.

**Hack:**

1. Ensure trailing slashes are used in all routes
1. Add a trailing slash to the canonical link

Please feel free to correct me and I'll amend/delete the above.

[2019-10-07 18:59] dcastil opened #18271 "How to use optional images in mdx frontmatter?"
## Summary

I'd like to use optional images in frontmatter of markdown files processed with `gatsby-plugin-mdx`. I have multiple markdown files which correspond to article pages which use the same template and same page query. Some of those articles have a hero image specified in frontmatter and some don't.

How can I tell GraphQL that the `heroImage` frontmatter key can be an image but doesn't ne

[2019-10-07 19:28] #18120 closed

[2019-10-07 19:41] gillkyle opened #18273 "[docs] add note about npx vs npm under quick start video"
## Description

The Quick Start page is really commonly visited and some points of feedback for the page have mentioned that the egghead video showing how to use the Gatsby cli uses npx, whereas the instructions don't mention npx. There should generally continuity between what a video shows and the written content, so I think the easiest fix for now (rather than rerecording the video) is to add a

[2019-10-07 19:41] garrowp commented on #18273
I'd love to work on this!

[2019-10-07 19:46] GoPro16 opened #18275 "Gatsby Plugins Sometimes requiring `require.resolve` to build"
## Description

https://github.com/Availity/availity-workflow/tree/master/docs

Our repo has its own docs and can be ran by running `yarn start`.

What is weird is that if I don't include our custom theme using `require.resolve` it will not load the `gatsby-config.js` for the plugin but it will run the `gatsby-node.js`.

### Steps to reproduce
1. Clone the Repo
2. `yarn`
2. Remove `require.resolve

[2019-10-07 19:54] #18273 closed

[2019-10-07 20:19] #18227 closed

[2019-10-07 20:35] kylemadkins opened #18277 "Problem installing "sharp" module on Node v9.3.0 after running `gatsby develop`"
## Description

I cloned a Gatsby project from my GitHub profile (https://github.com/kylemadkins/website) to a different computer and ran `npm ci` and then `npm run develop` and got this error:
[code]
There were no errors after running `npm ci`, just after running `npm run develop`. Note that it worked fine after upgrading to Node v10.16.3. So I'm not sure if this is expected with Node 9 or not—I

[2019-10-07 20:54] marcysutton opened #18278 "[docs][guides] Styling Gatsby Themes"
## Summary

It would be helpful to create a new Reference Guide in the [Gatsby Themes docs](https://www.gatsbyjs.org/docs/themes/) that outlines options for styling themes, including regular CSS files/imports as well as Theme UI. It could link to the various Styling Your Site docs including the [Theme UI docs page](https://www.gatsbyjs.org/docs/theme-ui/) under CSS Libraries & Frameworks, as well.

[2019-10-07 21:06] marcysutton opened #18280 "[docs][guides] improve Schema Customization docs"
## Summary

Through feedback, we've heard that the [Schema Customization docs](https://www.gatsbyjs.org/docs/schema-customization/) could use some improvement for understanding how to apply the concepts. For example:

The doc uses an example project, which is great. But it would be helpful to add some more ideas throughout the doc to help users understand how to apply the concepts to their own wor

[2019-10-07 21:12] marcysutton commented on #16444
Any update on this, @kushthedude?

[2019-10-07 21:21] marcysutton opened #18281 "[docs] new doc on Winning Over Content Creators with Gatsby"
## Summary

We have some great docs on [Using Gatsby Professionally](https://www.gatsbyjs.org/docs/using-gatsby-professionally/), including [Winning Over (various) Stakeholders](https://www.gatsbyjs.org/docs/winning-over-stakeholders/).

Through feedback, it was uncovered that the docs would benefit from an additional resource on Winning Over Content Creators. Given the potential for collaboration

[2019-10-07 21:23] dhhdev commented on #18216
Adding to this as a side note. I experience the same, but the other way around - for example a `gatsby-theme-dhhit/src/assets/brandicons/` path.

If this path doesn't exist in my actual site (e.g., `site/src/assets/brandicons/`)

It won't resolve it with a custom `setWebpackConfig` in my `gatsby-node.js`.

### Example gastby-theme/gastby-node.js file:
[code]

The above will **ONLY** work if the si

[2019-10-07 21:32] #18108 closed

[2019-10-07 21:35] mfeltscher commented on #17335
@omonk After looking into this I have to admit that you're right.. So at the moment I have also have no solution at hand 😞did you already discuss some potential workarounds?

[2019-10-07 21:39] kushthedude commented on #16444
A PR would be ready by this week. 😁

[2019-10-07 21:43] marcysutton opened #18284 "[docs] Gatsby Style Guide blitz for those new to open source"
## Summary

There are a ton of opportunities for small improvements to the [Gatsby Docs](https://www.gatsbyjs.org/docs/) that Hacktoberfest fans could take on. For folks new to open source, here are some ideas for contributing to the docs to make them adhere to the [Gatsby Style Guide](https://www.gatsbyjs.org/contributing/gatsby-style-guide/):

- Update Markdown docs titles to use [Title Case](ht

[2019-10-07 21:52] marcysutton commented on #9018
I believe this is actually covered now with the Working with Images in Markdown doc, and the Image recipes. i'm going to close the issue as such, but if anyone feels otherwise we can reopen it.

[2019-10-07 21:52] #9018 closed

[2019-10-07 22:02] aditsachde commented on #18284
I would like to work on this. I am going to start with the documents in the `contributing` folder, if others want to work on a different set of documents.

[2019-10-07 22:05] andiegonzalez commented on #18284
I would also like to contribute to this! I can start working with the Tutorials section of the documentation. Is that okay?

[2019-10-07 22:10] DaniTulp commented on #18280
I can work on the Gatsby Style guide rules. I can try to add some more examples, but I am currently not experienced (yet) with all the ins and outs of the Schema Customization API.

[2019-10-07 22:47] marcysutton commented on #18284
Sounds great, @andiegonzalez!

[2019-10-07 23:23] dylanon opened #18291 "Hacktoberfest contribution: gatsby-source-etsy"
Contributing my source plugin as per #18129!

I've been working on `gatsby-source-etsy`, a source plugin that pulls featured listings from an Etsy store. The plugin downloads the featured listings and their associated images, which are then queryable via GraphQL. The images are compatible with `gatsby-image` too.

I'm looking to add some more configuration options soon and it probably needs a coup

[2019-10-07 23:31] me4502 commented on #18220
They're being done this way currently for performance. I'm not sure what would be the best way of achieving the same performance improvement due to the way JS's Maps and Sets work, in that they require a primitive type for comparisons. Unless the data is stringified as an object, but that adds extra JSON serialising / deserialising overhead.

[2019-10-07 23:34] coreyward commented on #12225
Could Gatsby listen at multiple ports or hostnames (is the limit per-port or per-hostname)?

If so, we could potentially monitor the total number of connections per browser (doesn't have to be perfect: a user-agent heuristic probably works fine) and automatically add another port/hostname to the pool when we get close to the limit.

Alternately, there are approaches to allow for sharing data acros

[2019-10-07 23:53] erinfox commented on #18122
Awesome! I just submitted a PR. Let me know of any changes or updates 😄

[2019-10-07 23:56] jacob-shu commented on #18284
I'd love to work on this. We're looking at incorporating Gatsby at our agency and combing through the docs seems like a great way to get more familiar!  Can I tackle the `themes` docs?

[2019-10-08 00:33] aditsachde opened #18294 "Highlights in Gatsby Style Guide Docs"
While working on #18284, I noticed on the style guide page, there are [two blocks under each highlighting example](https://www.gatsbyjs.org/contributing/gatsby-style-guide/#code-formatting-line-highlighting). One is supposed to be an example and the second one is supposed to be the rendered output.

The issue is the example uses `// highlight-line` which is stripped with regex I believe around [he

[2019-10-08 00:33] omonk commented on #17335
Oh I was hoping you might have found another way!

To unblock us we've taken a local copy of the json after copying it to a local file manually then parsing that json to write all the info we need to our cms. It works but I don't think it's a viable option to release, maybe some documentation about it somewhere.

Ultimately I think this plugin might have to be put to bed :(

[2019-10-08 00:50] sw-yx commented on #13699
relatedly the initial build time is pretty long from what i recall. no interest in firing it up again to check 😅

[2019-10-08 00:51] zslabs commented on #17630
@MANTENN,

@ChristopherBiscardi was nice enough to pass along some very useful links about this in https://twitter.com/chrisbiscardi/status/1173310893255356416 but I haven't had time to dig in yet. Will definitely update this ticket when I'm able to. Would also love to add it to the docs in some way for others that have a similar need can use.

[2019-10-08 01:11] marcysutton commented on #18294
I believe there's a PR open for this, see https://github.com/gatsbyjs/gatsby/pull/17213

[2019-10-08 01:16] moonmeister commented on #13699
@sw-yx yeah the site build is rediculous.

[2019-10-08 01:35] aditsachde commented on #18294
Ah I missed that!

I'm going to go ahead and close this issue, but an issue might be useful for tracking the PR.

[2019-10-08 01:35] #18294 closed

[2019-10-08 02:25] stephen-zhao commented on #16721
Hello.. so it seems I am still getting a very similar issue. I am on Gatsby version 2.15.29 and Gatsby-CLI version 2.7.54, running on WSL Ubuntu.

[code]

The same applies to plugin `gatsby-plugin-page-creator` as well as several components inside `node_modules`. Not sure what is going on... Why would gatsby want to change the first uppercase character it encounters to a lowercase (the subsequent

[2019-10-08 02:31] stephen-zhao commented on #17746
I made a comment over at the already closed issue #16721 with a related bug.

I'll include the contents here as well...

Hello.. so it seems I am still getting a very similar issue. I am on Gatsby version 2.15.29 and Gatsby-CLI version 2.7.54, running on WSL Ubuntu.

[code]

The same applies to plugin `gatsby-plugin-page-creator` as well as several components inside `node_modules`. Not sure what i

[2019-10-08 02:39] devmithunnath commented on #10717
Hey, I'm just a beginner in Gatsby, currently writing a project using Hasura and Auth0 with Gatsby. I just wanted to get an idea of how I can query the data from Hasura using the JWT from auth0.

I know we store tokens on the .env files and access them at gatsby-config.js (BTW I'm using "gatsby-source-graphql" plugin to connect with Hasura endpoint). But, when it comes to a backend where users can

[2019-10-08 02:53] silenceM commented on #18041
@jonniebigodes  thank you  This is the answer I want.

[2019-10-08 02:53] #18041 closed

[2019-10-08 03:39] stephen-zhao commented on #17746
Nevermind.. looks like a mistake was made on my part.

I had accessed my project directory using the path `/mnt/d/projects/....` rather than `/mnt/d/Projects/....` despite the actual directory being capitalized like the latter.

Since it's a Windows directory, it may be accessed case-insensitively, but in WSL which uses posix paths, running gatsby, it gets a little funky.

Bottom line is check you

[2019-10-08 04:51] jonniebigodes commented on #18041
No need to thank, i'm glad that I managed to offer a solution for your issue.

[2019-10-08 05:03] lucashfreitas commented on #16377
+1.

I am facing the same issue.

I want to build my website and deploy it using a development environment.

**Why:** I need to deploy and show the staging website to the users/customers, then they will be able to test and use it on the staging environment.

We should have a way to build and deploy a gatsby website for development/stage purposes, but currently, gatsby build automatically set the e

[2019-10-08 05:26] bhautikbharadava commented on #18284
Hey, @marcysutton I would like to work on this issue. Can you help me with what should I pick up?

[2019-10-08 06:09] sortofdev commented on #17643
Also having this issue and is the reason i gave up on Gatsby. Looking forward to this getting solved

[2019-10-08 06:31] metamn commented on #18075
For now I've re-added the article with a different title and date, and removed the old one. http://metamn.io/react/the-reactive-fuctional-nature-of-react/ Now all works fine.

If someone wants to fix this bug the original state is preserved in this tag: https://github.com/metamn/react/releases/tag/v0.0.1

Thank you!

[2019-10-08 07:19] makeupsomething commented on #18278
If it is available I'd love to have a go at this!

[2019-10-08 07:29] arthurlogilab commented on #17604
I think this is still an issue and would like to keep the issue open.

[2019-10-08 07:52] eriktoyra commented on #11934
@antoinerousseau and @ooloth: That patch as an unfortunate side effect as it causes projects failing to compile when a package using `react-modal` has been installed from local file system with `file:[path to project]`. What's really weird is that the very same code works fine when installing it from our Azure DevOps artifact.

The problem does not occur when removing the patch. I have tested this

[2019-10-08 08:24] dhhdev opened #18306 "[gatsby-plugin] How to use files from a plugin? (Making my own library)"
## Summary

I have tried to search far and wide, but I wonder how I can actually use files from a plugin. For example if my plugin has a directory with .svg files, how do I actually get that directory to "transfer" (in lag of a better term) to my actual site. That uses the plugin.

## Example plugin structure

[code]

## The Idea

I guess you could call it a library. The really great idea by makin

[2019-10-08 08:31] santinfoa opened #18308 "gatsby-source-graphql returns 401 on develop enviroment (only after its first attempt)"
## Description

I'm fetching data from Wordpress using `gatsby-source-graphql`.
My Wordpress site is protected with htpasswd and the plugin is configured in order to access within the headers. **`gatsby develop` works fine in its first attempt**, but whenever I stop development and re launch it, it start to return bunch of errors:

This is how I config my source-graphql plugin:

[code]

My tempora

[2019-10-08 08:37] yzalvov commented on #18268
I bet on [gatsby-source-contentful](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-contentful), because when I change some content on its side, `gatsby build` / Building static HTML fails for a different path. But I haven't figured out how to find the source of the problem yet.

[2019-10-08 09:20] NicoGim opened #18310 "gatsby-transformer-asciidoc renders include as links (in safe mode too)"
Hi there!

## Description

When running a site using gatsby-transformer-asciidoc, the "include" directives in my .adoc or .asciidoc files are rendered as links instead of displaying the content of the included file.

Example of include directive:
include::include.adoc[]

The link appears as the following text: "include.adoc".
Clicking on it show the underlying page with slug==include.adoc (in usin

[2019-10-08 09:42] pieh commented on #18136
I'll take a look why this happens. You current PR is ok (I think), but I'd much prefer if find root cause of `type` overwrites in `actionOptions`

[2019-10-08 09:50] mfeltscher commented on #17335
I came up with a similar solution - fetching the JSON file manually and using a local plugin: https://github.com/smartive/smartive.ch/commit/fcaf8d588d40a967035d3b8fec7e3a25f4a5f916

[2019-10-08 09:53] fabianrios opened #18312 "excerpt needs to fall back to pruneLength when no excerpt_separator"
## Summary

excerpt falling back to pruneLength when there is no custom excerpt_separator on the file

### Basic example
config.js

[code]

template.js

[code]

### Motivation

I had to put a custom excerpt for just 2 files and the rest will look just fine with the default 140 pruneLength but it turns out it doesn't fall back so I have to manually edit hundreds of files to add a  which wouldn´t ha

[2019-10-08 10:25] janosh commented on #18078
@m-allanson Thanks for the tip. To be clear, the error only occurs once the site is deployed. I can't trigger it locally, no matter how fast I try to switch pages. I just [deployed a version of the site](https://5d9c6193b60328fbb140791f--janosh.netlify.com) built with the `--no-uglify` option and the error message looks very similar:

![err](https://user-images.githubusercontent.com/30958850/66388

[2019-10-08 10:26] pieh commented on #18136
Ok, this "weird" type is created here - https://github.com/gatsbyjs/gatsby/blob/3a41ab93a1aec4d561c8d361bd90e32cbf686afa/packages/gatsby/src/schema/schema.js#L591-L598

And those are arguments for one of our API hooks, but seems like this serves as double duty to pass additional context to action creators. Potentially we could split api hooks args, from action creator context, but that would be pr

[2019-10-08 10:30] StuartRayson opened #18314 "[gatsby-dev] not copying dist files in a workspace/monorepo setup"
## Summary

I'm having an issue seeing compiled dist changes using gatsby-dev in a workspace setup.

## Relevant information

Our gatsby site is set up in a monorepo using yarn workspaces
I've followed the [documentation](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/) for testing changes using gatsby dev.
I get this message changing my package.json to use the forked

[2019-10-08 10:32] #18136 closed

[2019-10-08 11:08] sndrs opened #18317 "[gatsby-plugin-netlify] cannot find fonts imported by CSS files for Link headers"
## Description

✅ `gatsby-plugin-netlify` accurately sets Link headers for hashed files that have been imported in JS.

✅ Gatsby accurately hashes font files that are imported by CSS files that have been imported in JS.

❌ `gatsby-plugin-netlify` cannot find the hashed version of the font file in the static dir, even though it has been created.

### Steps to reproduce

1. import a local font file

[2019-10-08 11:13] kdichev opened #18318 "Create and redirect to localised 404 error pages"
I am creating my 404 pages in `gatsby-node` using the `createPages` api and I am using `404Template`.

[code]

The problem is that I cannot match those 404 pages depending on the matched path.

[I red this article](https://www.gatsbyjs.org/docs/creating-prefixed-404-pages-for-different-languages/) but when I implemented `onCreatePage` to match the paths it only does so for pages/components that ar

[2019-10-08 11:27] ronanlevesque opened #18319 "[gatsby-plugin-netlify] Error: The "headers" option to gatsby-plugin-netlify is in the wrong shape"
## Description

I can't run `gatsby build`. The build fails before the end with the following error message: "Error: The "headers" option to gatsby-plugin-netlify is in the wrong shape. You should pass in a object with string keys (representing the paths) and an array of strings as the value (representing the headers). Check your gatsby-config.js."

### Steps to reproduce

1) Start a new Gatsby pr

[2019-10-08 11:30] chrfritsch commented on #18245
Maybe @erquhart can help with that.

[2019-10-08 11:48] aitchiss commented on #18284
I'd like to help with this - it looks like most people are tackling specific folders, and some odd files already have PRs, so with the hope of not treading on anyone's toes, I'd be happy to look at markdown files in the docs folder beginning with 'w' (so 'webpack-and-ssr.md' down to 'write-pages.md'

[2019-10-08 11:54] magnusarinell commented on #13975
Also seeing this. I believe this should be reopened. It is a major bug for basic functionality.

[2019-10-08 12:03] sndrs opened #18320 "[gatsby-plugin-netlify] doesn't add custom cache headers"
## Description

Custom `Cache-Control` headers are not output in `public/_headers`

### Steps to reproduce

[code]

### Expected result

`public/_headers` should contain:

[code]

### Actual result

it does not

### Environment

  System:
    OS: macOS 10.14.6
    CPU: (16) x64 Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 12.11.1 - ~/.nvm/versions/no

[2019-10-08 12:43] ardeaf opened #18321 "[gatsby-transformer-sqip] Contentful: Process referenced images"

[2019-10-08 13:56] piotrekwitkowski commented on #9190
This is solved in Chrome 78 (currently in Beta)! https://github.com/GoogleChrome/lighthouse/issues/5558

[2019-10-08 14:12] SamIngram96 commented on #18143
Bumping for exposure

[2019-10-08 14:17] ANDIKKY commented on #18143
This would allow multiple gatsby develop sites to work behind a proxy.

[2019-10-08 14:48] fk commented on #18120
<3

[2019-10-08 15:05] erosenberg commented on #660
Has there been any updates on this? Trying to get a staging environment going but looks like it's forcing `NODE_ENV` to be `production`

[2019-10-08 15:10] wardpeet commented on #18319
Technically the above config wasn't supported but we didn't break so i'll cook up a fix.

[2019-10-08 15:35] nancydocode opened #18327 "-bash: gatsby: command not found"
## Summary
I try to use Gatsby to build my static site, but there is an issue. I installed "npm install -g gatsby-cli" both inside and outside of my project folder and checked scripts in package.json. However, all command doesn't work. I tried gatsy develop, npm gatsby develop, yarn gatsby develop.

HOWEVER,

WAIT.

It is worked following the [video](https://www.gatsbyjs.org/docs/quick-start).

in

[2019-10-08 15:35] #18268 closed

[2019-10-08 16:21] gillkyle opened #18329 "[docs] add link from headless-cms guide to creating plugins guide"
## Description

Feedback from the docs in the [headless CMS](https://www.gatsbyjs.org/docs/headless-cms/) page asked about how one would add a new source plugin for a CMS if it didn't already exist. Reviewing the page, it mentions how to add new guides, but it seems appropriate to also add a note that links to the [Creating a Source Plugin](https://www.gatsbyjs.org/docs/creating-a-source-plugin/)

[2019-10-08 16:22] gillkyle commented on #16945
Hey @mendaomn I just put up another issue in #18329 that I think is a really low barrier to entry addition you could make if you'd like, I marked it as claimed already, but if you don't feel like you'll be able to get to it I can open it back up to the rest of the community.

[2019-10-08 16:32] AhsanAyaz commented on #18329
@gillkyle
If @mendaomn won't take it. I will grab it 😂

[2019-10-08 16:35] BeniRupp commented on #18284
Cool, I will have a look at all files starting with 'u' and 'v' in `docs/docs/`. That is `unit-testing.md` down to `v2-release-notes.md`.

[2019-10-08 16:37] samrae7 commented on #18284
Taking a similar approach, I will do all files in `docs` starting with `t`

[2019-10-08 16:40] JesseFarebro opened #18330 "MDXRenderer inline components not being memoized"
## Description

When using `MDXRenderer` and specifying components it seems that the components are being unmounted and mounted again on any update to the component.

<img width="1218" alt="Screen Shot 2019-10-08 at 10 32 20 AM" src="https://user-images.githubusercontent.com/1377567/66414572-ecf04600-e9b6-11e9-8d73-ab2eb7b2a4c7.png">

I think this has to do with `useMdxComponents` in `MDXRenderer`

[2019-10-08 16:50] waltercruz commented on #16721
Long history, but it's about windows filesystem and the weird way that windows handles it. See [this comment](https://github.com/Profiscience/true-case-path/issues/3#issuecomment-528832215).

But long story short, it should not try to uppercase the first letter if it's running on WSL. My code by now just checks if is running on windows, I should probably check if running on WSL and don't fo the up

[2019-10-08 16:51] waltercruz commented on #17746
good that it worked @stephen-zhao. I will open a ticket to myself about this (not uppercasing when running on WSL), but I won't have time to implement this week.

[2019-10-08 16:54] abhishekmg commented on #10351
I am currently in mac os 10.14.3 , I had initially installed gatsby cli without installing Xcode Command line tools and got an access permission denied error . Installing Xcode Command line by xcode-select --install and then installing gatsby cli solved all my issues .
Please refer https://www.gatsbyjs.org/tutorial/part-zero/ when setting up .

[2019-10-08 17:00] waltercruz opened #18333 "Uppercase of first letter of path on Windows should not happen when running on WSL"
## Description

When running on WSL, the uppercase of first letter introduced on [this merge](https://github.com/gatsbyjs/gatsby/pull/17492) is not needed

### Steps to reproduce

Run gatsby on WSL on windows. See the comments on ticket #16721

I will handle this in some days.

[2019-10-08 17:17] ng-hai commented on #15486
@citypaul Your config is not perfect if you use with round images

After finding some references, this is the config that works for me, by declaring `gatsby-remark-images` config one more time outside of MDX plugin's options.
[code]

[2019-10-08 17:27] #14418 closed

[2019-10-08 17:27] #14791 closed

[2019-10-08 17:41] smakosh commented on #5329
my co-worker come up with a workaround for this, using `Match` from `@reach/router` and passing the `slug` from the `match` prop to the component

[code]

then showing a loader when the window scope is available if it's value is `null` or `undefined`, else redirect to 404 page

[code]

Works like a charm 👌

[2019-10-08 17:56] fk commented on #9190
Whoa! Thanks @piotrekwitkowski! 🙏
@sarahannnicholson, are you still with us? ;-)

[2019-10-08 18:35] cyberwombat commented on #7187
This doesn't seem to work with either `--no-uglify` or `--noUglify` in Gatsby 2.15.x . I run `gatsby build --no-uglify'` and react still dumps with: `WebpackError: Minified React error #321; visit https://reactjs.org/docs/error-decoder.html?invariant=321 for the full message or use the non-minified dev environment for full errors and additional helpful warnings.`

Any ideas?

[2019-10-08 18:41] mendaomn commented on #18329
Sure, I'd be more than happy to work on this!

[2019-10-08 18:43] cyberwombat commented on #7230
@KyleAMathews

Using the no uglify option (I tried --no-uglify and --noUglify) doesn't result in Webpack using the dev version for me. I still get the production mode. I am using Gatsby 2.15.x and I can see the option to not minimize is in webpack but still get the `  WebpackError: Minified React error #321; visit https://reactjs.org/docs/error-decoder.html?invariant=321 for the full message or us

[2019-10-08 18:43] benjamingrobertson commented on #18001
I would be willing to PR this if it makes sense :) Just want to make sure I'm not barking up the wrong tree.

[2019-10-08 18:47] arjunsajeev commented on #18257
@bersot1 Finally figured out why this was happening. See https://github.com/gatsbyjs/gatsby/issues/15486

[2019-10-08 18:57] mahaveer0496 opened #18337 "HTML structure gets messed up in Production build."
## Description
- Initial HTML structure in Small viewport is messed up in Production mode.
- `MobileFooter.jsx` or `DesktopFooter.jsx` is conditionally rendered, using `useMedia` hook from [`react-use`](https://streamich.github.io/react-use/?path=/story/sensors-usemedia--demo) , but the final html structure is a combined version of both `MobileFooter` and `DesktopFooter`
- Please take a look at th

[2019-10-08 19:01] robmoggach opened #18338 "gatsby-transformer-remark - `loadNodeContent` function is missing"
## Description 👑

Build fails when `loadNodeContent` function is missing. It does fail gracefully and retrieve the expected data locally in develop mode.

### Steps to reproduce 🖥

Install `gatsby-source-s3-asset` and `gatsby-transformer-remark`.
Introspecting s3 tree with gatsby GraphQL query doesn't "appreciate" that it won't return node content.

Here's the output: 😛

[code]
### Expected result

[2019-10-08 19:12] TomSwiedler opened #18339 "redux.state file corruption causes ERROR #85907 GRAPHQL"
## Description

The project will build the first time. After that it will fail with: ERROR #85907 GRAPHQL

### Steps to reproduce

The initial build of the project proceeds without error.
Subsequent builds fail with: ERROR #85907 GRAPHQL
Removing the redux.state file from .cache between builds allows subsequent builds to succeed

The application uses a number of JSON files for content.
I believe I

[2019-10-08 19:58] nancydocode opened #18340 "how to downgrade and upgrade?"
## Summary
I encountered this after typing `npx gatsby develop`;

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-08 20:06] Jimmydalecleveland opened #18343 "[themes] Shadowing components that live in their own folders causes infinite loop clientside"
## Description
We have a Theme directory structure where each component has it's own folder. When a site is using that theme, and attempting to shadow the component folder, the browser will freeze (We believe due to a circular import loop). I've provided a repo link below showcasing the issue.

While we do feel that this is not working as intended, we have a workaround (also shown in the repo), bu

[2019-10-08 20:06] ppiyush13 opened #18344 "Need advice regarding use of browser APIs in the very beginning of react component hierarchy"
I need some advice for SSR. Here is the situation

1. I have created a small utility FlexBox component using `styled-components` for layouting using CSS flex specifications. This component accepts  gap prop to set gap between children according to the specifications.
If browser supports FlexBox gap then CSS rule for gap will be added. If not supported, then component fallbacks to adding margin pro

[2019-10-08 20:23] fk commented on #8789
Winter is coming (🙄🤐) … dark mode is already here: https://www.gatsbyjs.org

Fixed in #18027 ✌️ 🤗

[2019-10-08 20:23] #8789 closed

[2019-10-08 20:50] DaniTulp commented on #18281
Hi @marcysutton,

I'm working on an outline for this topic. Hopefully I will have a pull request up by tomorrow. If you have any suggestions please let me know!

Happy  #Hacktoberfest

[2019-10-08 21:05] Jeddf commented on #13813
Could I snap this one up?

As well as the use case laid out for pathPrefix and assetPrefix, it looks like an interesting entry point for less js familiar users. Lots of opportunities for pointing out incremental next steps into Gatsby/React/CMS beyond the initial basic, static migration.

Would definitely get a draft PR going on it early!

[2019-10-08 21:34] #18319 closed

[2019-10-08 21:39] thomaswangio commented on #18278
@makeupsomething awesome, I think this one will be super impactful!

Something to add – I think Themes for a designer or non-developer typically means styling and templating of a website. I think this PR could incorporate a doc that explains how to use Themes in this way, perhaps a new name or subset of the broader Themes category?

For this issue and PR, please reference #18242 because I'd like I

[2019-10-08 22:19] #17528 closed

[2019-10-08 22:33] gillkyle opened #18347 "[docs] update path for using a local starter"
## Description

In the [Using a local starter](https://www.gatsbyjs.org/docs/starters/#using-a-local-starter) section of the starter docs, the instructions provided will incorrectly try to access a starter at the Code org on GitHub with this message in the console:

[code]

In order to create a local starter with the command, the path needs to be absolute or relative and the gatsby-cli interprets

[2019-10-08 22:56] Harrison1 commented on #18347
I'll take this issue, if that's alright

[2019-10-08 23:11] marcysutton commented on #18291
This is AWESOME, @dylanon!! What a cool idea. As a future suggestion, adding a short description  in the README on how the plugin might be used (like what kind of a site someone might want to build with it) would help inspire adoption.

Since this issue was created, we've come up with more of a plan for your contribution to count toward Hacktoberfest. If you're able to do so, can you [create a Pul

[2019-10-09 00:17] marcysutton commented on #13813
Sounds great @jeddf, go for it!

[2019-10-09 02:03] ehowey commented on #18212
I figured out what was causing the problem - thanks Chris for giving me the hint to look back at the actual core config.

For anyone reading this in the future...in my core theme I had the following set for `gatsby-source-filesystem`:

[code]

This was causing a problem for actual core theme when I tried to specify a path like `src/blog`, the fix was to get more granular with my `gatsby-source-fil

[2019-10-09 02:03] #18212 closed

[2019-10-09 02:27] darthzyklus commented on #18147
@sunny-kim-92 did you fix this? what did you do?

[2019-10-09 02:46] steinitz commented on #17131
@Js-Brecht I confirm that it seems to fix it more permanently than the other workarounds mentioned here.  Thanks for sharing.

[2019-10-09 02:48] Js-Brecht commented on #17131
@steinitz you say “more” permanently.  Do you mean to say that it still happens when you use that switch?

[2019-10-09 03:32] sunny-kim-92 commented on #18147
@darthzyklus So I did, but it's kind of an incomplete answer. There was an empty .json file nested really deep in the folder that the 'gatsby-transformer-remark' plugin was pointing to. When I removed the file, the 'end of JSON' error disappeared and the Netlify build worked.

But if you were talking about 'gatsby-transformer-sharp' plugin, I only changed the pictures I imported into Markdown, and

[2019-10-09 03:49] stephen-zhao commented on #18333
I believe it's actually a non-issue. When running on WSL, `platform()` outputs `'linux'`.

[2019-10-09 03:53] waltercruz commented on #18333
Sure? Awesome. I will close this ticket then! Thanks @stephen-zhao !

[2019-10-09 03:53] #18333 closed

[2019-10-09 03:55] steinitz commented on #17131
@Js-Brecht No, sorry to be unclear.

I was alluding to the fact that other workarounds, including my own, seemed to work for a while but the problem returned.  With your solution I provoked it by making changes and re-running gatsby develop (with your enhancement) but the build continues to work.

That said, this has been a rollercoaster ride so I remain emotionally prepared :smile: for the proble

[2019-10-09 04:52] makeupsomething commented on #18278
@thomaswangio Thanks! I've had a look at #18242 and can definitely see what you are going for. This is the way I have always thought about Gatsby themes but as you say this is not that clear in the current documentation.

I was thinking about a new name or possible subsection called "Templates" but I am not sure if that is a completely accurate description.

[2019-10-09 04:59] thomaswangio commented on #18278
I like this! Should ask @marcysutton what the best way to create this subsection?

[2019-10-09 05:26] topspinppy opened #18363 "Cannot read property 'frontmatter' of undefined"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-10-09 05:46] dhhdev commented on #18344
You could use @supports to check if the browser supports it. Something along the lines of:

[code]

The example here. Checks for `display: block` Is supported. If it does. Make the `background-color: seagreen`

You can read more about how `@support` works here: https://developer.mozilla.org/en-US/docs/Web/CSS/@supports

[2019-10-09 05:55] unyo commented on #4123
I recently upgraded from gatsby@^2.1.0 to @^2.15.33, using netlify-cms. In order to bypass this error for certain fields, in addition to checking to make sure you don't have any imageFieldName: "", you also have to make sure there are no empty container arrays.

eg. for
[code]
[code]

you need to make sure you don't have any `section: []` in your .md files, otherwise the latest version of gatsby s

[2019-10-09 06:16] #18347 closed

[2019-10-09 06:20] StevenZoo commented on #12857
I currently have a test and documentation update ready. I believe passing `secSetBreakpoints` to `gatsby-remark-images` does indeed work.

However, I wrote a test that uses an existing mock of the module `gatsby-plugin-sharp`. If I comment out this mock, my test works as expected, but when use the mock, I do not get expected results. It behaves as if I do not pass in `srcSetBreakpoints` at all.

I

[2019-10-09 06:46] Undistraction commented on #17672
Still a great idea.

[2019-10-09 07:47] PiccoloYu opened #18366 "Error'window is not defined'while running the'gatsby develop' command"
I have an external NPM component that uses window, which causes me to make a mistake in building.
I found out why in the answers to other questions:
This fails when server rendering as you're not in a browser so window doesn't exist. My current solution is to comment out the component when running the'gatsby develop'command. When the project is ready, uncomment the component. This ensures that the

[2019-10-09 07:50] D19cannon commented on #18109
@hugo-marques-m3 thanks for the suggestion! I will try it out next time. For now I simply used the html image tag. While I am waiting for another release that actually accomplish my expectations.