[2020-02-01 21:17] lawwantsin commented on #20920
Haha.  Damn right it's venting.  Fix your software.  These errors are a black box.

[2020-02-01 21:34] vladar commented on #20943
@galvogalvo Your query contains this:

[code]

That's where you get a conflict when adding the `id` field. Have you tried `gatsby@2.19.9`? It prevents auto-adding `id` when there is an alias, so in theory, it should be working for you.

[2020-02-01 21:36] erotavlas opened #21129 "Unable to run several themes"
I don't think this is a conincidence, because I tried one theme and one starter and both contain error when building.

For example see this

After going through the instruction (starting with  the gatsby starter theme) I get  failed building development bundle error
https://github.com/scttcper/gatsby-theme-casper/issues/7#issue-558600922

Furthermore If you look through the output there is an erro

[2020-02-01 21:39] jonniebigodes commented on #21124
@justFlow5 can you make a reproduction with all the code and packages used following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be better looked at?

[2020-02-01 22:20] hoshikitsunoda opened #21130 "Gatsby Images not showing on first load when using Styled Components"
## Description
Hi everyone,

I set up a gatsby blog site using blog starter and hooked it up to Netlify CMS. I am having an issue with displaying images on the index page.

When the page first loads, none of the images on index page would show. If I navigate to other pages and come back to the index, it all appears. It is happening on live site and works fine in dev environment. All images are bei

[2020-02-01 23:10] expatguideturkey opened #21133 "TypeError: keywords.join is not a function"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

I want to implement SEO on my gatsby project, I am using https://wordpress.org/plugins/wp-api-yoast-meta/ to fetch Yoast fields. I can see the values in Graphql but when I implement it to

[2020-02-02 00:19] anzome opened #21135 "[gatsby-plugin-typescript] the documentation provides users with a probably misleading configuration example"
## Summary

An [example](https://www.gatsbyjs.org/packages/gatsby-plugin-typescript/#options) of plugins configuration with the options uses the values different from the default ones that set by the `babel-preset-typescript` .

[code]

The comments creates a feeling that the values set here are somehow needed to make the plugin work as expected. But, there is not explanation of reasons. And I'm a

[2020-02-02 00:34] tmilewski commented on #20984
Thank you so much for quickly attacking this! I can 100% confirm that `gatsby@2.19.11` fixed my issue.

[2020-02-02 01:14] afladmark commented on #20984
Also confirmed. Everything is building fine again. Thank you very much for the fix!

[2020-02-02 02:56] blainekasten commented on #21122
This stack trace is minified, which means it is compiled in a production mode. Is there a non-production stack trace? like can you reproduce in `gatsby develop` ? does that yield a different stack trace?

I actually have a guess at what's happening here. If the code above is not sample code and indeed your actual code, you forgot to export your component. So the parent component is likely importin

[2020-02-02 04:55] Unique111 commented on #20918
same problem, any solution?

[2020-02-02 05:15] patrickdevivo opened #21138 "Add TODOs Badge to the README"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `// TODO` comments are in this codebase:

[![TODOs](https://img.shields.io/endpoint?url=https://todos.tickgit.com/badge?repo=github.com/gatsbyjs/gatsby)](https://todos.tickgit.com/browse?repo=github.com/gatsbyjs/gatsby)

The badge links to `tickgit.com` which is a free service that indexes and displays TODO

[2020-02-02 05:31] t2ca opened #21139 "navigation.js:173 Uncaught TypeError"
Updated my packages today and started getting this error when i click a link on my webpage.

[code]

[code]

[2020-02-02 06:02] jamessimone commented on #21111
If you only have three fonts, consider downloading the font files themselves and doing the preload yourself. An example repo that does this to great effect is the Third And Grove site: https://github.com/thirdandgrove/thirdandgrove-com-gatsby/blob/431e99bcfeec7cae8294d73653c8e38d2ac1c61e/src/components/seo.js

You don’t have to implement preloading the way they did; I find it easier to just make a

[2020-02-02 06:47] hatr1ck commented on #21139
Same here

[2020-02-02 06:49] heart-of-code commented on #21139
Appears to have been introduced in this commit:
https://github.com/gatsbyjs/gatsby/commit/701222f76fbfe61bf4a519c5105baf91272cd221

[2020-02-02 07:07] AkashRajpurohit commented on #21074
The plugin configuration seems fine to me `other than I have just added the trackingId and head : true` as I am also using google analytics on my website and able to get realtime updates.
Can you check on your google analytics dashboard if there is any issue with that.

Or use the current tag on some other website to check if you are getting updates on that or not.

[2020-02-02 08:30] spielers opened #21142 "Marathi Translation"
[code]

**Maintainers**

If you would like to be a maintainer, please respond to this issue with:

- your experience level in open source
- your level of experience in the target language and localization
- how much time you can commit to being a maintainer

[2020-02-02 08:31] ehowey commented on #21139
Just started hitting this too.

[2020-02-02 08:33] spielers opened #21143 "Marathi language translation"
[code]

**Maintainers**

If you would like to be a maintainer, please respond to this issue with:

- your experience level in open source
- your level of experience in the target language and localization
- how much time you can commit to being a maintainer

[2020-02-02 08:33] #21143 closed

[2020-02-02 08:36] marcysutton commented on #21139
Same here, cc @madalynrose.

[2020-02-02 08:47] aktn commented on #20918
Same problem [here](https://github.com/gatsbyjs/gatsby/issues/21139)

[2020-02-02 09:39] Lc0rE commented on #21139
I confirm to have hit this issue after upgrading to the latest `2.19.11` release.

[2020-02-02 09:41] sidharthachatterjee commented on #21139
Fix incoming

[2020-02-02 09:54] ZeliosAriex commented on #21139
Im having the same issue :(

[2020-02-02 09:56] hupe1980 commented on #21139
Same here!

[2020-02-02 09:56] mkidawa commented on #21139
Experiencing same issue :<

[2020-02-02 10:02] shameer-rahman commented on #21139
Same here

[2020-02-02 10:51] #20918 closed

[2020-02-02 10:55] sidharthachatterjee commented on #21139
Fixed and published in `gatsby@2.19.12`

Apologies for this.

[2020-02-02 10:55] sidharthachatterjee commented on #20918
Fixed and published in gatsby@2.19.12

Apologies for this.

[2020-02-02 12:37] naoya7076 commented on #21088
In e-commerce tutorial, it doesn't explain about SEO and how to use.
I suppose that we should add link to SEO like this:
[code]
or delete SEO components.

[2020-02-02 13:06] mfrench71 commented on #13918
npm update fixed this for me on Mac.

[2020-02-02 13:43] danspratling commented on #21133
Yoast no longer supports keywords so i'm not sure why it's not erroring sooner.
https://yoast.com/meta-keywords/

Join can only be used on an array so if something else is being returned you may have to adjust it (assuming you _really need_ keywords that is).

What does the data of keywords look like when it's returned?

[2020-02-02 13:57] danspratling commented on #21130
You just have a styling issue. Everything is working as expected with gatsby image.

When using fluid images, they will stretch to fill the container. The container is defined by the content within it but because you're using fluid widths, it's got nothing to guide it.

If you add text below you should see that the image will appear above because it now has some guiding content to use.

To fix thi

[2020-02-02 14:32] danspratling commented on #21120
Looks like gatsby takes control of the scroll position but you can use the gatsby-browser.js file to add a function to re-enable anchor links.

[code]

I'm not sure if the default browser behaviour for anchor links being disabled is intentional or not though. Would be worth getting some feedback from someone on the internal team.

[2020-02-02 14:41] kinnikumegane opened #21147 "Cannot read property 'childImageSharp' of undefined"
Hello all,

I have a blog page set up using Gatsby starter: gatsby-v2-starter-lumen.
What I would like to achieve is to display featuredImage, those which I set in markdown file in each article, in top page of blog together with Date, category, title and subtitle of each post.

It works fine if I run "gatsby develop", however when I run "gatsby build" it fails with the error saying Cannot read pro

[2020-02-02 14:41] d4rekanguok commented on #21126
If the only purpose is to query all `dependencies` from the local `package.json`, would it be simpler to write a custom plugin that transform the `dependencies` field into an array instead? Then you can query it like so:

[code]

That plugin could looks like this: https://gist.github.com/d4rekanguok/cc54bf49f46246b19ced4a03292a0012

[2020-02-02 15:14] muuvmuuv commented on #20642
Another question which is related to this: I'm using MDX now for `src/pages` and in the docs they recommend to use `prism-react-renderer` to use with MDX. I have followed these instructions and installed and configured it. Now I wonder how I should use it with my normal MD files since I don't want to maintain two different prismjs integrations it would be nice to use `prism-react-renderer` for `ga

[2020-02-02 15:16] muuvmuuv commented on #21126
Thank you! Yes this is the only purpose ATM but I still think this would add great benefits.

[2020-02-02 15:26] Altrum opened #21148 "Build and develop inconsistent Styling"
## Description

When I run `gatsby develop`, everything looks fine. However, when I do `gatsby build` and upload the site to s3, the site looks way off--except for the pages created by `exports.createPages` in gatsby-node.js

### Steps to reproduce

The code is available here: https://github.com/Altrum/PersonalWebsite/tree/master/frontend

### Expected result

Should look like:
![image](https://us

[2020-02-02 16:33] expatguideturkey commented on #21133
Thanks for your response @danspratling If I remove join function, as I have only one focus keyword for each post/page:

[code]
then it works fine no errors. It fetches the same focus keyword value that I have entered in the WordPress post/page Yoast SEO section.

But is this process is enough to implement SEO on gatsby projects by having SEO component and setting it values on page.js and post.js l

[2020-02-02 16:50] #21138 closed

[2020-02-02 16:59] elken commented on #21148
Would recommend starting with [Ghost's](https://github.com/TryGhost/gatsby-starter-ghost) own starter project rather than the default.

[2020-02-02 17:07] alexeychikk commented on #6372
@in-in I've noticed that importing via `require.context` creates copy of the context in each chunk. Using webpack-bundle-analyzer I can see that `assets/icons/flags` are duplicated:
![image](https://user-images.githubusercontent.com/10129207/73611858-10d33980-45ef-11ea-9a38-b0f784e65953.png)

[2020-02-02 17:09] LekoArts commented on #21129
Thank you for opening this!

We don't maintain the themes in question so please reach out to the authors as it's most likely a bug on their side, not Gatsby's. At least I can't reproduce such behavior with our starters/themes. Thanks!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend he

[2020-02-02 17:09] #21129 closed

[2020-02-02 17:11] LekoArts commented on #21093
Hi. Please provide more information what issue you're having. Thanks!

[2020-02-02 17:11] alexeychikk commented on #3663
There is an issue with `require.context()`. It duplicates the context across chunks that use it.
https://github.com/gatsbyjs/gatsby/issues/6372#issuecomment-581155819

[2020-02-02 17:15] LekoArts commented on #21016
Thank you for opening this!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) if you have questions that are not bug reports or feature requests. We hope we managed to help and thank

[2020-02-02 17:15] #21016 closed

[2020-02-02 17:20] LekoArts commented on #21148
Hi!

Please use this plugin to enable SSR for Material UI:
https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/

[2020-02-02 17:23] LekoArts commented on #21116
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-02-02 17:25] elken commented on #21148
Ah yep, didn't spot the material ui I assumed it was custom.

[2020-02-02 17:25] LekoArts commented on #21097
Thank you for opening this!

We constantly improve Gatsby so updating is recommended to receive free updates to e.g. performance.

We do our best to follow semver so you shouldn't hit any problems.

You can, yes. It's still just a static site at the end :)

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion

[2020-02-02 17:25] #21097 closed

[2020-02-02 17:27] LekoArts commented on #21085
Hi!

Where does it say that? And what does "Order and Payment data for private development." mean?

[2020-02-02 17:27] LekoArts commented on #21076
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-02-02 17:41] MrCEO63 commented on #21122
Hi, @blainekasten I appreciate your help, This doesn't occur in an earlier build version, we are rolling back, and try to figure out where the problem might be from.

[2020-02-02 17:41] #21122 closed

[2020-02-02 17:43] DaleOC opened #21149 "TypeError: Cannot destructure property 'allWordpressPage' of 'result.data' as it is undefined."
Content of src/templates/page.js

[code]

Content of src/templates/post.js

[code]
Content of gatsby-config.js

[code]

Content of gatsby.node.js

[code]

Screenshot of Graphiql

![Screen Shot 2020-02-02 at 9 28 14 AM](https://user-images.githubusercontent.com/23429435/73612193-5f0c1c80-459e-11ea-8c10-81aceeab53e9.png)

[2020-02-02 17:45] #21149 closed

[2020-02-02 17:45] DaleOC commented on #21149
As I posted this I spotted the issue, I realized I ommited '**/pages' from includedRoutes

[2020-02-02 18:00] DaTurboD opened #21150 "Gatsby cloud build "Timed Out""
## Summary

## Relevant information

I wanted to change my workflow and try out Gatsby cloud.
After following the instructions and triggering a build it somehow got stuck at "Generating image thumbnails":
![grafik](https://user-images.githubusercontent.com/40794289/73612624-9e158e80-45ed-11ea-9ae3-f32d8edaf338.png)

After about 1 hour and some minutes the built "Timed Out" with no errors:
![grafik

[2020-02-02 18:34] erotavlas commented on #21129
I found the issue was occurring when I run the `gatsby develop` command from a Git Bash in Windows.  When I tried again from a regular command prompt the them I was using works fine.

Try it with this theme

`gatsby new gatsby-starter-nehalem https://github.com/nehalist/gatsby-starter-nehalem`

then

[code]

Once from Git bash, then again from windows command prompt and you will probably encounter

[2020-02-02 18:40] pascalwhoop commented on #20698
This doesn't only affect mac users. I'm on linux (manjaro) with libvips installed and it's also crashing there. Your ENV var helped though.

[code]

[2020-02-02 20:49] kuworking opened #21151 "createPage with a gatbsy-theme, context ignored?"
*Just asking to see if there's something obvious that I'm missing, otherwise I will try to make a repo when I can grab some time

I am creating a page with a gatsby-theme using `gatsby-node` with something as simple as this, where `basePath` is a direction like `/bestcoffeintown`

[code]

The query is this

[code]

And the template is this

[code]

The problem is that the props that `template` rec

[2020-02-02 20:50] #20220 closed

[2020-02-02 22:31] hoshikitsunoda commented on #21130
@danspratling Thank you for the reply!

I added `min-width: 100%` to article element but no image shown:( Tested on both live site and `gatsby serve`

The article tag is not even including the styling at all.

<img width="1440" alt="Screen Shot 2020-02-02 at 2 00 36 PM" src="https://user-images.githubusercontent.com/27325328/73616452-706a1e80-45c8-11ea-8229-bd445f1f4437.png">

[2020-02-02 23:01] fullofcaffeine commented on #21079
Anyone?

[2020-02-02 23:14] sidyes commented on #21120
@danspratling:
Thank you! It is working now - but as you said it would be really interesting what the intention of this really is from someone official.

I let this thread open for now to get hopefully an anweser.

[2020-02-03 00:00] matheusfaggi commented on #19922
Yeah, i was trying with yarn

[2020-02-03 00:01] Altrum commented on #21148
using the gatsby-plugin worked! Thanks so much :)

[2020-02-03 00:01] #21148 closed

[2020-02-03 01:43] garrison0 commented on #21139
I seem to be getting this exact issue even after updating Gatsby to 2.19.12

[2020-02-03 01:52] t2ca commented on #21139
Try `rm -rf node_modules/`
make sure you have the latest version and install again

[2020-02-03 03:27] garrison0 commented on #21139
checked for both reach/router and gatsby versions in the dependencies, then removed node_modules and re-installed

still getting the error

[2020-02-03 04:30] acagastya commented on #20642
@muuvmuuv In the `gatsby-config.js`, under `gatsby-plugin-mdx`, add `gatsby-remark-prismjs` in `gatsbyRemarkPlugins` and everything works fine.

See: https://github.com/acagastya/gatsby-test/blob/1f74adf91d6a9029c8a05dcafc04fefae0807400/gatsby-config.js#L50

[2020-02-03 04:42] dvrylc commented on #20192
I have a version of this working, just wanted to check if @peaonunes is still working on it?

Also @pieh, seems like there's a key `graphiql:variables` in localStorage, do you know where that's set and/or used?

[2020-02-03 04:47] pieh commented on #20192
That localstorage key is used internally by graphiql package - that's how graphiql stores and restores variables when you refresh. We want to first use params from url, if those are not set, use localstorage and if that is not set use empty object or nothing

[2020-02-03 04:49] TheFirstMe commented on #20493
Not stale.

[2020-02-03 07:00] expatguideturkey commented on #20903
Hi @TylerBarnes have you checked my repro. Any idea how to fix this issue.

[2020-02-03 08:16] Altrum opened #21154 "Is this a hydration problem?"
## Summary

## Relevant information

When loading a page, it gets "re-rendered" and loses the data that actually exists.

To illustrate, if you go to this site: https://www.robertchung.me/about/
You can see a brief flash of the content being there (you can spam refresh and you'll see it pop up for a second and then disappear)

The weird thing is that the s3 bucket that the website is serving from

[2020-02-03 09:49] Steffi3rd opened #21155 "SEO and gatsby-plugin-intl"
Hello Gatsby,

I have a big sites with around 30 pages manually created in `/pages` and around 40K+ client route only pages.

I would like to use `react-intl` with the plugin `gatsby-plugin-intl` but I'm wondering about SEO for client route only.

Does my 40K+ pages will be referenced by search engine or not?
I'm confident for the others 30 pages. They are static, not dynamic.

[2020-02-03 10:21] julietrubin opened #21156 "Error: The result of this StaticQuery could not be fetched."
## Description

I am working off of the gatsby-portfolio-dev repo. This repo uses graphQL to query github projects to display on the portfolio. I'm not sure if this is a bug or I'm just missing something. The apiCall to github is returning an error.

I added my github token as described and I'm getting
[code]

[code]

[code]

### Steps to reproduce
[code]

### Expected result
Have the github api r

[2020-02-03 10:39] slorber opened #21157 "Gatsby should merge .babelrc / babel.config.js to his preset config?"
## Description

This is a potential bug that I reported on Twitter for which @sidharthachatterjee told me to open an issue:
https://twitter.com/chatsidhartha/status/1224192160464982016

Adding an empty .babelrc or babel.config.js at the root of the project makes everything fail, like if the babel plugin wasn't applied property.

I noticed that on my website, based on Novela theme, which is a bit p

[2020-02-03 10:59] muuvmuuv commented on #20642
@acagastya Sure that allows me to use the prismjs plugin for both but what if I want to use only the `prism-react-renderer`? I would prefer it that way because of the functionalities and because I can use my VS Code theme of choice.

[2020-02-03 11:01] AminHwadria commented on #16076
disable the "Delete cookies and site data when Firefox Developer Edition is closed" option in firefox

[2020-02-03 11:14] Wendenburg commented on #2826
actually we jus have a similar problem. Due to a legacy system, we have some redirects also for a path containing '/static/'. Now we set up a new system based on static sites rendered by gatsby and the redirect for '/static/' causes a conflict now. For now we have a post-process to move the static files and rename all appearances of '/static/' in the build files. It's a hack, something like an out

[2020-02-03 12:02] #20380 closed

[2020-02-03 12:28] john-tipper commented on #21139
Same error for me, I have 2.19.12 and `@reach/router: 1.2.1`, blown away node_modules and everything else associated with my project and the error is still occurring.

[2020-02-03 12:47] smashercosmo commented on #21086
Ok, I've just read this comment https://github.com/gatsbyjs/gatsby/issues/17568#issuecomment-573771892 and understood that it's by design that widget is included on every page. But what I didn't fully understand, is what are the exact steps you should make to exclude Identity Widget from the bundle, while still being able to login to the admin page? I understood it has something to do with differe

[2020-02-03 12:48] smashercosmo commented on #21086
// cc @erezrokah

[2020-02-03 12:50] genert commented on #5330
@kitos Did you manage to figure this out?

[2020-02-03 12:57] erezrokah commented on #21086
This section was recently added to the readme: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-netlify-cms#disable-widget-on-site

[2020-02-03 13:01] smashercosmo commented on #21086
mmm... I don't quite understand if following these instructions will still allow you to login via Identity Widget on the admin page?

[2020-02-03 13:07] erezrokah commented on #21086
When using `gatsby-plugin-netlify-cms` the plugin will include the identity widget by default in both the Gastby site and the CMS site under `/admin`. The reason it is required for both sites is that when using Netlify identity the default email verification link is to the root path, thus the widget is require for the Gatsby site to finalize the email verification process.
For the CMS the widget i

[2020-02-03 13:09] galvogalvo commented on #20943
@vladar It looks like the id conflict is clashing on the auto added ones, as well, not just the `id: contentful_id`. I've tried with 2.19.9 and the same problem happens.

[2020-02-03 13:12] smashercosmo commented on #21086
So, if you follow these instructions, you will still be able to login to ```/admin``` (assuming you already have verified credentials), but some newly invited users won't be able to verify their emails and finish registration process?

[2020-02-03 13:41] funewik commented on #10482
Sounds REALLY great ! GG

[2020-02-03 13:51] erezrokah commented on #21086
Exactly, another option is use [email templates](https://docs.netlify.com/visitor-access/identity/identity-generated-emails/#email-templates) to change the verification link to redirect to `/admin` to support newly invited users.

[2020-02-03 13:55] smashercosmo commented on #21086
Awesome) that's exactly the piece I've been missing. Thank you.

[2020-02-03 13:55] #21086 closed

[2020-02-03 13:56] smashercosmo commented on #21086
Maybe worth adding this advice to the docs

[2020-02-03 14:33] vladar commented on #20943
This is unlikely because it clashes only when types of id field are different (you see: String vs ID). I need to reproduce it to fix. Can you prepare a repro? It doesn't have to use your contentful schema, this fails before actual network requests

[2020-02-03 14:45] stefanprobst commented on #21126
@muuvmuuv
* the content of your `package.json` file should be available out of the box with:
[code]
* Gatsby (via [`graphql-compose`](https://github.com/graphql-compose/graphql-compose/blob/v6/src/type/json.js)) already includes a `JSON` scalar. Did that not work for you?

[2020-02-03 14:50] jquense commented on #19959
I did encounter this when pages were in a bad state, e.g. everything built and compiled but page data was missing or in an error state. The error this throws is really confusing, It could totally be the case that the problem here is that you actually can't ensure page resources, and this should fail more gracefully

[2020-02-03 15:13] muuvmuuv commented on #21126
@stefanprobst that is even easier! Didn't know that!

[2020-02-03 15:25] expatguideturkey commented on #20743
Hi @jonniebigodes how is it going, have you found the solution to fix this issue.

[2020-02-03 15:34] ehsanasgari commented on #1767
Had the same issue! Just run `sudo npm start` instead of  `npm start` and it worked! ;-)

[2020-02-03 16:13] crock commented on #21155
As far as I understand, you would need to use pre-rendering for all of the client routes if you want the SEO meta tags to be recognized for all the client-side only pages. Services like https://prerender.io exist for this purpose.

[2020-02-03 16:20] crock commented on #21156
@julietrubin Can you show us your `gatsby-node.js`?

It says "context" is not defined and that refers to the page context that you setup in gatsby-node, which runs at build time.

You will have an inital GraphQL query in Gatsby Node just to fetch the ID or some other unique identifier in the response and pass that as the context, which will be used in your page query to fetch the correct response.

[2020-02-03 16:22] Steffi3rd commented on #21155
Each commit trigger build in with Netlify, how can I plug https://prerender.io ?

[2020-02-03 16:36] ajayns commented on #21074
@LekoArts I'm unsure how exactly to provide a reproduction since Sandbox runs on dev server. So what I've done is run it locally: gatsby build and then gatsby serve, and still doesn't work. So I've replicated the exact code on this sandbox: https://codesandbox.io/s/adoring-http-1ey28

I hope that helps.

@AkashRajpurohit are you using the latest version? Maybe it could something to do with that? A

[2020-02-03 16:40] dvrylc commented on #19938
I've isolated the issue to the following –

In `develop.ts`, `initialProcessQueries` is called -
https://github.com/gatsbyjs/gatsby/blob/e958a5d8aa36e4de2593bf9e18d9b90c9589ea04/packages/gatsby/src/commands/develop.ts#L405

https://github.com/gatsbyjs/gatsby/blob/e958a5d8aa36e4de2593bf9e18d9b90c9589ea04/packages/gatsby/src/query/index.js#L254-L265

On line 261 and 262, both `processStaticQueries`

[2020-02-03 16:46] crock commented on #21155
Netlify has an option under Site Settings -> Build and Deploy -> Prerendering
https://docs.netlify.com/site-deploys/post-processing/prerendering/

[2020-02-03 17:21] jonniebigodes commented on #20743
@expatguideturkey i've cloned your repo and i think i have a solution for your issue. I'm going to detail it below, and with that give you two options on how you could proceed.
- Like i said, cloned the repo.
- Installed the dependencies.
- Checked the template `src\templates\post.js` and the component `src\components\RecomendedPost.js` and part of the issue lies there, @vladar mislead you inadver

[2020-02-03 18:07] muuvmuuv commented on #15057
Having the same with `gatsby-remark-images`:

[code]

[2020-02-03 18:16] muuvmuuv commented on #16239
Maybe related to this? https://github.com/gatsbyjs/gatsby/issues/15486
I think the issue is with the plugin handling itself as discussed in the above issue. Hopefully a fix will come soon!

[2020-02-03 19:03] shhdq opened #21168 "Gatsbyjs node module errors"
****Describe the issue that you're seeing.
After gatsby's CLI update, I cannot run my app with -**

. **When I type a command - gatsby develop, will produce a nodejs module error:****

[code]

**After that, I try to install modules one by one, but it's an endless story..**

**There was one time when I somehow get running (if I remember correctly I uninstall CLI, but later the problem came back..).

[2020-02-03 20:10] stevebreault opened #21170 "gatsby-source-graphql@2.1.33 giving a "context is not defined" error"
## Description

After having upgraded to version 2.1.33 of `gatsby-source-graphql` I'm getting an error when trying to query. Error does not occur in versions of the plugin using `graphql-tools` rather than `graphql-tools-fork` (ex.: previous version used was 2.1.15). The graphql source in this case is an AWS AppSync endpoint. A test call to the endpoint with the parameters set in the `gatsby-conf

[2020-02-03 20:29] blainekasten commented on #19959
I see. That helps to have that knowledge. I’ll work on this some more and figure out if that’s the problem and we can improve messaging.

[2020-02-03 21:04] danspratling commented on #21130
Just checked your repo.

It looks like you weren't including the plugin in the `gatsby-config.js` file
If you add in `gatsby-plugin-styled-components` to the list of plugins it should work as you were expecting.

[2020-02-03 21:18] timothymcmackin commented on #20484
I've fixed my minimal  reproduction so it should work now. Can anyone have a look?

[2020-02-03 21:30] muuvmuuv opened #21173 "SyntaxError: Invalid regular expression: invalid group specifier name"
## Description

I recently published [my portfolio to Now](https://github.com/muuvmuuv/portfolio) and today I tested all major browser. While doing this I got this error when viewing my website on macOS Safari, iOS Safari and iOS Brave Browser:

[code]

### Steps to reproduce

Portfolio repo: https://github.com/muuvmuuv/portfolio

Use Safari and go to: https://portfolio-git-development.muuvmuuv.no

[2020-02-03 21:30] tesseralis commented on #20687
Hi @alipiry, sorry we haven't gotten around to your translation request yet. If you would still like to participate, would you all mind working together with @BaseMax as maintainers? Then I can create the repo for you.

[2020-02-03 21:51] muuvmuuv commented on #21173
Found it, it comes from this package: https://github.com/sindresorhus/normalize-url

[2020-02-03 21:51] #21173 closed

[2020-02-03 22:01] kuworking commented on #21151
I've found the problem

The `gatsby-node.js` of the site was intersecting the communication between the theme and its template when removing the trailing slashes

[code]

The context here is the one that the template receives, and not the one that was originally sent

Easily solved adding `page.context` as said in the docs https://www.gatsbyjs.org/docs/creating-and-modifying-pages/

[2020-02-03 22:01] #21151 closed

[2020-02-03 22:05] ricokahler commented on #21170
I also am experiencing this issue. I went on a downgrading spree and version `2.1.29` was the version that fixed it for me.

[2020-02-03 22:06] muescha opened #21174 "bug(mdx): absolute image path not throw an error"
## Description

i see this code snippet:

https://github.com/gatsbyjs/gatsby/blob/3aa180ac1a9a1b1e94760edbbc5ed4648a45bf4e/docs/blog/100days/index.md#L12

but the image is in the same directory, so it should throw an error?

### Steps to reproduce

- checkout gatsbyjs and run the www website

### Expected result

- some error

### Actual result

no error

[2020-02-03 22:18] stevebreault commented on #21170
I can confirm that the downgrade to `2.1.29` fixed the issue. Maybe @yaacovCR has an idea of what's happening here?

[2020-02-03 22:23] wodenx commented on #20492
@ChristopherBiscardi thoughts on this?

[2020-02-03 22:42] yaacovCR commented on #21170
https://github.com/yaacovCR/graphql-tools-fork/issues/30

[2020-02-03 22:44] yaacovCR commented on #21170
Poor linting. Should be able to fix overnight (US Eastern). Anybody who can give me some guidance on the underlying lint failure, would be much appreciated.

[2020-02-03 23:14] #20995 closed

[2020-02-03 23:20] BaseMax commented on #20687
Hello,
Thanks you for your reply.

I want to be part of this.
Also I will try and hope find more contributors.

Regards,
Max
--
Regards,
Max

[2020-02-03 23:30] hoshikitsunoda commented on #21130
Oh wow, it works now! Thank you so much for your help @danspratling !!
I'm curious why it only affected this image wrapper element though? `styled components` was working on all other elements.

[2020-02-04 00:25] grantglidewell opened #21176 "Difference in performance of site after updating Gatsby. (2.15.x - 2.19.x)"
## Description

Performance on thirdandgrove.com drops by about 10-15 lighthouse points when upgrading the gatsby package. Network waterfall is shifted.

### Steps to reproduce

https://www.webpagetest.org/video/compare.php?tests=200204_D4_cf16d7444d81f724a2e69c1e3859a5b9%2C200204_E4_70154384f010a13c3923b0be293255f4&thumbSize=200&ival=100&end=visual#

[2020-02-04 00:57] muescha commented on #20756
more PR for this issue:

- #21177 `fix(docs): fix links to localhost (on pixabay tutorial)`
- #21178 `fix(docs): fix links to localhost, rewording (on strapi blog post)`
- #21179 `fix(docs): fix links to localhost on docs/blog/tutorials ...`

[2020-02-04 02:26] muinmomin opened #21181 "Not sending any page views: gatsby-plugin-google-gtag"
## Description

For `gatsby-plugin-google-gtag` plugin, the page views are not being measured. When I deploy my personal site, in the head, I see that the config is set to:

gtag('config', 'G-XX...', {"anonymize_ip":true,"cookie_expires":0,"send_page_view":false});

[Why is "send_page_view" being automatically set to false? ](https://github.com/gatsbyjs/gatsby/blob/561d33e2e491d3971cb2a404eec9705a

[2020-02-04 03:00] yaacovCR commented on #21170
Should be fixed by v8.5.1.

[2020-02-04 03:12] muinmomin commented on #21181
Fixed.

[2020-02-04 03:12] #21181 closed

[2020-02-04 04:06] afc163 commented on #20943
Reproduce:

[code]

[code]

[2020-02-04 04:09] decimoseptimo commented on #20703
@jonniebigodes This was still bothering me, so i gave it anoher look. Please check: https://github.com/decimoseptimo/gatsby-starter-default/tree/graphql-inconsistent-nodes-test

This were the commands i issued and the output i had (in order):

`gatsby clean && gatsby develop`:
[code]

`gatsby develop`:
[code]

The issue is with the categories array not being consistent.

[2020-02-04 04:14] afc163 commented on #20943
Confirmed that https://github.com/gatsbyjs/gatsby/issues/20849 breaks GraphQL query, gatsby@2.19.6 is broken and gatsby@2.19.5 works fine.

[2020-02-04 04:34] julietrubin commented on #21156
@crock Thanks for the response. I am working directly off of https://github.com/smakosh/gatsby-portfolio-dev. The only change I made was to add my GITHUB_TOKEN as described. I also verified `process.env.GITHUB_TOKEN` contains my token with a console log.

https://github.com/smakosh/gatsby-portfolio-dev/blob/master/gatsby-node.js
https://github.com/smakosh/gatsby-portfolio-dev/blob/master/src/compo

[2020-02-04 04:41] baerrach commented on #4096
@fk did you resolve this problem?

2 spaces = same indentation
3 spaces = same indentation
4 spaces = proper new indentation level

[2020-02-04 05:34] AkashRajpurohit commented on #21074
@ajayns I'm using `"gatsby-plugin-google-analytics": "2.1.23"`
Try using only the head flag for the plugin. Remove the other two flags and check again.

[2020-02-04 06:35] dvrylc commented on #20408
@jlengstorf I can't seem to reproduce this, are you still able to?

[2020-02-04 08:58] expatguideturkey commented on #20743
Thanks a lot @jonniebigodes for resolving my issue 🥇 and such a detailed response. You’re awesome! After implementing your code, I got the exact results as yours. I am so happy :)

I really appreciate for your support and time. You provided the best and clear solution with all these commented explanations you provided has helped me learn the syntax and concepts which will definitely help me in fut

[2020-02-04 09:49] sirichards commented on #17990
@kyleboss that seems to work! Good work-around for now, thanks.

[2020-02-04 10:45] david-nossebro commented on #20573
I still need this fix (or a workaround).

[2020-02-04 11:32] stewest commented on #4818
Yip, me neither. At first I thought was my browser's dark theme but I see the nprogress element doesn't exist in the dom anywhere - just the css.

[2020-02-04 12:10] nathobson commented on #20126
Is this stale? I've added reproduction details and it was confirmed as a bug.

[2020-02-04 12:11] rlamana commented on #20040
@wardpeet, I don't know about @langri-sha's use case, but I think there is a general misconception that `development == local`. Nowadays more and more teams take development to the cloud where they can work with production-like environments during development. This means running inside containers, behind HTTPs configurations, etc.

[2020-02-04 12:37] TheFirstMe commented on #20126
Not stale

[2020-02-04 12:45] maxym49 opened #21193 "Gatsby Link has delay on click"
When I click the Link component I'm waiting for about 2 seconds and then I am redirected to the next page. The weird thing is that the URL is changing instantly, but the content is not. The delay between routes depends on the content - if it's a lot of HTML stuff, the site can be loaded after 2 seconds. If the content is small it's hard to judge if the delay appears.

I read this [article](https:/

[2020-02-04 13:08] fk commented on #4096
👋 Hey @baerrach — not that I remember :(

[2020-02-04 13:53] danspratling commented on #21130
I'm not entirely sure. My guess would be that gatsby is doing something in the build phase which means that some components are being pre-generated (using gatsby-config.js) and styled components _isn't_ being used at this point (after all, it just ends up as css in the end). Maybe `styled(Button)` is generated differently to `styled.button`.

This is just a guess though. I don't know the inner wor

[2020-02-04 13:53] #21130 closed

[2020-02-04 14:03] maxym49 commented on #21193
What kind of information should I provide?

[2020-02-04 14:21] danspratling commented on #21193
If you have a repo to link that would be useful, otherwise a minimum reproducible product would help debugging the issue (a fresh gatsby site which only replicates the problem and nothing else).

Creating a mrp may even help you figure out what the issue is on your own.

Looking through your plugins there's no obvious issue, though i would start by looking at the page-transitions plugin as that's

[2020-02-04 14:27] danspratling commented on #21133
My best guess is that keywords is being returned as a string, not an array. OR keywords is being returned as a string if there's only a single keyword.

This would pass `keywords.length` as a string will return the number of characters, but will fail `keywords.join()` because you can't join a string.

What do you see when you `console.log(keywords)`?

[2020-02-04 14:39] asilgag commented on #20949
I'm running `yarn gatsby build` and bootstrapping is done without issues, but then it fails with the following message:

[code]

[2020-02-04 15:08] joewood commented on #20984
I'm seeing this issue again in gatsby@2.19.12. Was there a regression?
[code]

[2020-02-04 15:23] alipiry commented on #20687
Hi @tesseralis, yeah of course, I'd be happy to participate! Tnx btw.

[2020-02-04 15:59] jonniebigodes commented on #20743
@expatguideturkey no need to thank, i was glad that i was able to help you solve your issue. Once again i'm the one that should be sorry as i got sidetracked and was not able to post a response to your issue.

On a side note, a more particular one. I checked the site and his shaping up really good and it's topic is one of great interest. I really hope this gets featured in the showcase in the near

[2020-02-04 16:06] jonniebigodes commented on #21147
@kinnikumegane this ammount of information is really helpfull, but if you could materialize this into a minimal reproduction with all the code and packages you're using, following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) i'm more than happy to take a look and possibly solve your issue and leave a detailed answer. Sounds good?

[2020-02-04 16:19] Js-Brecht commented on #21079
Do you have an example repository you could share?  I wonder if it is maybe due to the processing that webpack is doing to your scss, and the way that it loads the style on the page.  I'd have to see the actual data, though, in order to see what's happening.

If you look [here](https://github.com/gatsbyjs/gatsby/blob/0be16c63cc4da72f9d1049c8aa6d737926d62dfd/packages/gatsby-plugin-typography/src/ga

[2020-02-04 16:49] chandlervdw commented on #18758
@LekoArts which PR? Has it merged yet?

[2020-02-04 16:57] Wendenburg commented on #4350
thats a pitty since pathname is the only way to - kind of - identify what page you are currently rendering. So e.g. onRenderBody offer a lot of options to manipulate html.js, but in develop there are no infos available what manipulation you need to do for the current page. Always have to hardcode it...

[2020-02-04 17:38] fullofcaffeine commented on #21079
Hi Jeremy,

Thanks for replying.

Here's a small repro project I've just put together for this issue: https://github.com/fullofcaffeine/gatsby-global-scss-woes-issue-sample.

You can see that the plugin config snippet for the `gatsby-plugin-global-styles` does come after the one for `gatsby-plugin-typography`, [here](https://github.com/fullofcaffeine/gatsby-global-scss-woes-issue-sample/blob/maste

[2020-02-04 17:56] HenriqueOmena commented on #20166
Plz some one help with that

[2020-02-04 17:59] Js-Brecht commented on #21079
Based on that information, it sounds like what I suspected.  I _**think**_ what is happening is that `gatsby-plugin-global-styles` is indeed importing the scss, which is, in effect, only making webpack aware of it, but webpack is then using `sass-loader` to process it into usable css.  When it's done with that, it is probably packing it on to the end of the head component.  What it sounds like is

[2020-02-04 18:06] Js-Brecht commented on #21079
Another thing I just thought of is it's possible that the `import globalStyle from './style.scss';` could cause webpack to process the styles, no matter _**how**_ you feed them to `createGlobalStyle`.  To get around that, I would use `node-sass` and the `fs` modules alone to read the styles in, and pass them to `createGlobalStyle`.  That should make webpack ignore them.

As long as you aren't impo

[2020-02-04 18:42] fullofcaffeine commented on #21079
Thanks again for the taking the time to look into it.

I actually suspected that, and I think that's what's happening. But I thought that these plugins were designed to be inter-operable/be used together.

The fact that the docs for the global styles plugin doesn't mention anything about not working with the sass plugin made me conclude they were compatible, also because SASS is so popular and glo

[2020-02-04 18:55] fullofcaffeine commented on #21079
is there a way to setup the sass-loader so that webpack returns its contents inline - using js - instead of injecting them in the HTML? So that:

`import style from 'style.scss'`

Would load the contents of `style.scss`  into the `style` var?

I think this would be better than doing all the work of using `node-sass` manually, loading the compiled result using `fs`, etc. This is actually a *lot* of

[2020-02-04 19:17] muescha opened #21197 "Blog: Challenge 6 don't show up in lists"
## Description

- you can open the blog with direct link: https://www.gatsbyjs.org/blog/100days/serverless/
- but it not show up in this places:
  - blog lists
  - tags list
  - next link in the previous blog post

### Steps to reproduce

Not listed as blog post:
- https://www.gatsbyjs.org/blog/
- https://www.gatsbyjs.org/blog/tags/100-days-of-gatsby

Missing next link:
- https://www.gatsbyjs.org/

[2020-02-04 19:17] muescha commented on #21197
ping to @hashimwarren

[2020-02-04 19:56] lekevoid commented on #14497
Hi,
I've been experiencing the same issue for months. I'm on Windows 10. My colleague who works on a Mac has never had this issue. Also we never had the issue on Netlify nor on AWS Amplify.

`
// package.json

	"dependencies": {
		"@svgr/webpack": "^5.1.0",
		"gatsby": "2.15.15",
		"gatsby-image": "^2.2.30",
		"gatsby-plugin-catch-links": "^2.1.15",
		"gatsby-plugin-google-tagmanager": "^2.1.15",

[2020-02-04 20:44] chandlervdw commented on #19488
I can get `shouldUpdateScroll()` to fire in `gatsby-browser` but neither returning `false` nor firing `window.scrollTo(0,0,)` does what it claims it should.

[2020-02-04 20:53] chandlervdw commented on #19488
After digging, I've realized that when `shouldUpdateScroll()` fires, `window` always has `scrollY: 0` and `scrollX: 0`, regardless of how far down the screen I have scrolled. Thusly, `window.scrollTo(0,0)` does nothing... so something isn't updating the scroll position of `window` within gatsby.

Personally, I think this feature is a bit of a black sheep. Everything else about gatsby makes so much

[2020-02-04 21:16] Js-Brecht commented on #21079
I think it's more of a plugin incompatibility than it is a result of Gatsby's processing, or anything really pertaining to Webpack.  From the documentation written by the author of `gatsby-plugin-global-styles`, it appears as though they were expecting it to be used with some css-in-js type process instead of physical css/scss files.  That's one reason I was thinking that converting it to css migh

[2020-02-04 21:26] Js-Brecht commented on #21079
While that is the easiest method, it probably isn't **the best** method.  You lose control over your style component, and have to rely on some arbitrary string matching in order to wrangle it again.

The ideal method, if you're dead set on using scss, would be to process it yourself, and load it how you want to into the head.  I wouldn't even rely on a third party plugin to do it for me.  I would

[2020-02-04 21:27] #20935 closed

[2020-02-04 22:06] bluuesz commented on #19108
I'm having the same problem. And it didn't work for me

[2020-02-04 22:06] andrwrbnsn opened #21201 ""Cannot return null for non-nullable" for ".id" in definedTypes"
I'll preface this by saying everything has been working fine up until this point and I am using `gatsby-source-prismic` for this website.

The errors I am getting coincide with types that have been defined in `gatsby-node.js` as seen below — when I run `gatsby develop` or `gatsby build` I receive an error for each of my defined types that says: `Cannot return null for non-nullable field PrismicPro

[2020-02-04 22:09] Js-Brecht commented on #21079
Okay, I've got an even better method, where you can use this global styles plugin with scss flawlessly.

After a further investigation, I realized it's not specifically an issue with the plugin not being able to process scss.  It's that the scss `globalStyles` variable is empty... webpack just uses it for a reference point to insert styles wherever you use them.

So, you were on to something when

[2020-02-04 22:11] bluuesz commented on #19108
oh okay, sorry. This worked

[2020-02-04 22:18] christopherfrance commented on #11013
For future visitors: I had a similar problem and what worked for me was to load my (remote) script using a plugin, gatsby-plugin-load-script.

https://www.gatsbyjs.org/packages/gatsby-plugin-load-script/

The instructions on that page are currently just an example Sentry but you only really need to use the `src` like this:

[code]

[2020-02-04 22:25] gabrielloeb commented on #12684
Begging for mercy since I don't understand the fullness of what's happening inside gatsby-source-filesystem, but can the change made in #15835 be applied directly to that plugin? I'm experiencing the same issue with gatsby-source-prismic, and I presume other source plugins are falling (or will fall) victim to this issue. Is there any reason not to attempt to sanitize urls before abandoning them wi

[2020-02-04 22:30] Js-Brecht commented on #21201
At first glance, it looks to me like `prismicContactInformation` is the Node, and not `PrismicContactInformationData`.  Am I wrong in that assumption?  Is the `data` field of `prismicContactInformation` a foreign key?

If `PrismicContactInformationData` is simply a data field that gets attached to `prismicContactInformation`, then you probably don't need `implements Node` in the type definition.

[2020-02-04 22:40] j-norman opened #21202 "@use '../someResource.module.' as someResource - throws build error when accessing variables/mixins."
## Description

When using a namespaced resources brought in via the @use rule, dot notation throws a build error.

According to the SASS use guide(https://sass-lang.com/documentation/at-rules/use#loading-members), the following should be possible:

[code]

[code]

But, it results in the build error:

[code]

However, if I utilize the global import functionality, I can utilize the 'naked' variable

[2020-02-04 22:49] blainekasten commented on #21168
Running `yarn why @jimp/jpeg` on this setup gives me this on mac

[code]

I'm not certain of the differences between mac and windows. Did you get any error when you ran `gatsby new`? I would have suspected that to say some failure in this case.

You could try `yarn` over `npm` and see what happens.

[2020-02-04 22:51] blainekasten commented on #21168
You also mentioned that this is coming up as a result of updating gatsby cli. Can you explain what you mean and how that happened? Did you update the global cli on your machine?

[2020-02-04 22:51] Js-Brecht commented on #21201
After a cursory examination of `gatsby-source-prismic`, it looks like the `data` field becomes a container of (potential) nodes, but I don't think it becomes a node itself.  So, I can see how defining it as `implements Node` could cause an error.

[2020-02-04 23:00] andrwrbnsn commented on #21201
@Js-Brecht — thank-you very much for your fast response and correct solution.

Turns out removing `implements Node` fixed the issue, but it's funny how it worked before. I guess something updated and this needed amending.

So learning point for me — `implements Node` is only for higher level types?

As for your first question, I believe `gatsby-source-prismic` puts all of the data into these `Data

[2020-02-04 23:17] blainekasten commented on #21202
So this is the webpack setup for this sass setup:

[code]

I'm not a sass user so i'm not entirely sure what would be missing to support it. Does anything stick out to you as something that would need changing? FWIW, the `sassOptions` field is just any thing passed in through the `gatsby-plugin-sass` options. So if there is a specific option you need for the `sass-loader` you can try to pass it in

[2020-02-04 23:35] Js-Brecht commented on #21201
yes `implements Node` would be your root node.  That's the only piece that needs the ID, and other internal types.

`gatsby-source-prismic` has a type of "normalization" process that it does on the `data` container.  Based on the type of the data in the fields within that `data` container, it performs various operations, converting fields of certain types to their respective nodes, and converting

[2020-02-04 23:39] Js-Brecht commented on #21201
Was there any recent updates to `gatsby-source-prismic`?  Perhaps they used to turn the `data` field into a root node itself?  If they changed that behavior, it would (or should) have been a major update, because that is definitely a breaking change.

[2020-02-04 23:41] andrwrbnsn commented on #21201
@Js-Brecht — yeah just seen it's been a long time since the plugin was updated, other than that I have no idea unless it was a gatsby update that caused it.

[2020-02-04 23:44] j-norman commented on #21202
In retrospect, I think I might have posted this to the wrong library.  this should probably be over gatsby-plugin-sass sub-repo.  Please let me know if i should close this and open over there.  apologies.

[2020-02-04 23:46] Js-Brecht commented on #21201
Can't say for sure.  I know they were doing some work on refactoring the GraphQL schema/processing stuff, and I think they're still working on extending it to support 3rd party schemas better.  It's possible that some small change could have caused it... say, if they made the `ID` inferred from a `Node` type non-nullable instead of being inferred from the data structure itself?  As unlikely as it

[2020-02-04 23:46] Js-Brecht commented on #21201
Closing this issue as resolved

[2020-02-04 23:46] #21201 closed

[2020-02-05 00:01] vladar commented on #21156
Sounds similar to #21170. Should be already fixed upstream but you may have to update your dependencies (namely graphql-tools-fork)

[2020-02-05 00:04] vladar commented on #21170
@stevebreault Can you confirm that upstream fixes in `graphql-tools-fork` fixed it for you? If it is the case then we can close this.

[2020-02-05 00:13] fullofcaffeine commented on #21079
Oh wow, thanks a bunch for the elaborated responses!

I don't get this part. How's Webpack aware of Gatsby and vice-versa? Is there any glue code for that? So you mean that this code:

[code]

Is added by Webpack? In that case, why can't I just reorder it then using the `onPreRenderHTML` hook?

Thanks for suggesting this, but I agree with you that's it's too error-prone. Might bite me back after a

[2020-02-05 00:18] henkka01 opened #21205 "CSS Differs between Gatsby Develop and Build"
## Description

The site is working fine in develop mode, but once the sites is built the CSS differs from what is seen in develop mode.

### Steps to reproduce

1. Pull repository from https://github.com/henkka01/spill_agency
2. Apply Gatsby develop
3. Apply Gatsby build +  gatsby serve
4. Compare 2 and 3 in Chrome Developer Tools on a _mobile device_

### Expected result

Develop and Build would

[2020-02-05 00:27] #20983 closed

[2020-02-05 00:35] vladar commented on #20743
Wow, @jonniebigodes this is an exhaustive answer 🥇

[2020-02-05 00:35] #20743 closed

[2020-02-05 00:55] Js-Brecht commented on #21079
`node-sass` is used by `sass-loader`.  I never actually built out the way to do the processing manually; I skipped to straight to number three and had Webpack do it for me 😆

It's true that Webpack is not aware of Gatsby, but what I meant here is that that was not the problem.  Gatsby **is** aware of Webpack (but that wasn't the issue, either) because the framework that is used to call the API end

[2020-02-05 01:10] stevebreault commented on #21170
I added `graphql-tools-fork@8.5.1` as a dependency after re-upgarding to `gatsby-source-graphql@2.1.33` and can confirm that the fixes there resolve the issue.

Here's my output of `npm list` that confirms the package versions used:
[code]

[2020-02-05 01:43] tesseralis opened #21209 "(www) Split up www/gatsby-node.js"
## Summary

Split up the bulk of the logic in www/gatsby-node.js into separate files based on content: e.g. docs, starters, packages, showcase, etc.

## Motivation

gatsby-node is nearing 1000 lines. Most of its content is split between two methods, `onCreateNode` and `createPages`, both in charge of creating and populating all the pages of the site. It's very easy to get lost in those files. Whil

[2020-02-05 02:28] fullofcaffeine commented on #21079
Yes, it works!

Thanks a lot for guiding through it, your replies were all detailed and helpful. It's been some time since I got such quality responses from an open-source community. I really appreciated that!

Yeah, looks like this was an unfortunate consequence of the abstractions Gatsby provides out-of-the-box. It's dead simple and works for 80% of the case, but can be very confusing and proble

[2020-02-05 02:28] #21079 closed

[2020-02-05 02:54] Ar3Tea commented on #20884
Still in progress or need a new taker?

[2020-02-05 03:14] dvrylc commented on #21209
I'd like to work on this! Pretty new to working on Gatsby so I'll probably need some help along the way 😄

[2020-02-05 05:46] Slowwie commented on #16729
Its also a issue I am interested in. Cant believe that nobody has to say something about that ...

[2020-02-05 07:22] Js-Brecht commented on #19316
There's probably always going to wind up being issues, because of the way Webpack works, and because of how its configuration is extended sometimes.  It would be impractical, and excessive, for Gatsby to try to cover every edge case.

Somebody else ran into problems recently with `gatsby-plugin-react-svg`, because of the way that plugin defines `loader`... they just use `loader: 'svg-react-loader'

[2020-02-05 07:29] expatguideturkey commented on #21133
@danspratling thanks for your response. I get these values as displayed in this screenshot https://prnt.sc/qxqzni this keyword value is actually my Yoast Focus Keyword, If I use this value for keywords in my component will it work similar to the purpose of Yoast Focus Keyword or is there anyother way to use it. Can you please clearify this concept.

[2020-02-05 07:31] expatguideturkey commented on #20903
@TylerBarnes @jasonbahl have you guys find any solution to this bug. What I need to do, please reply.

[2020-02-05 07:38] janosh opened #21212 "GraphQL problem parsing query in gatsby@2.18.20 and later"
After upgrading from `gatsby@2.18.19-jobs-api-v2.39` to `gatsby@2.18.20` (and all later versions) I get this error

There was a problem parsing the GraphQL query in file:
`src/components/Nav/index.js`

The [file in question](https://github.com/janosh/janosh.io/blob/master/src/components/Nav/index.js) looks pretty harmless. So maybe the changes introduced a bug? The [log states](https://github.com/

[2020-02-05 07:40] dylanjha commented on #20600
@pieh I don't think this is stale... maybe you have more insight?

Next time I'll deploy I'll see if it happens, but as far as I know, it's still an issue.

[2020-02-05 09:25] BernardA commented on #16729
@Slowwie, just to let you know how I am going about it. I've chosen API-Platform/admin.
I set it up in a separate app, a plain React app -no Gatsby there - that connects with the same API back-end as the main Gatsby app does. It can either be placed in a sub-domain of the main website or as a completely new domain.
As you may know, API-platform is built upon react-admin and you could have the same

[2020-02-05 09:28] Slowwie commented on #16729
Ok, thank u for the fast answer. Why do u choosed, not to use gatsby? Because of api-platform/admin uses react-admin?

[2020-02-05 09:32] BernardA commented on #16729
First because the API-platform/admin and react-admin set up do not work well with Gatsby's set up and second because the admin app being behind a login and with only dynamic content, you do not need or use  the benefits of Gatsby, ie, fast static HTML pages.

[2020-02-05 09:34] Slowwie commented on #16729
Ok, thank u. I am also interested how to use gatsby and create fast static html pages with api-platform in the frontend section.

[2020-02-05 09:39] tsriram commented on #21209
This is exactly what I was thinking when I was looking at the `gatsby-node` today -- this file needs to be split into multiple files 😄

If no one has started working on it, I'm happy to do this.

[2020-02-05 09:53] wahlforss commented on #11243
I still get warnings when I link internally. The links works fine. Anyone knows why?

[2020-02-05 09:53] ryanerringtonatom commented on #14497
@wardpeet - would it be possible to get an update on this issue?

It's been an issue for around half a year for our windows developers. I'm wondering if there is a temporary workaround we can use for now.

[2020-02-05 10:13] tadeas22 commented on #10482
Why we need passing variables into static queries? Is it because we need specify which fields we need in Components. I hope that [this](https://gitlab.com/tadeas22/gatsby-dynamic-component-queries) can be helpfull.

Basic idea was to use Relay as graphql queries builder and gatsby as query executor but i was not able to implement it.

I know there is a lots of space improving the code but the conc

[2020-02-05 11:10] PaulinaVPG commented on #18255
I just wrote an article on how to do this, i hope you find it helpful :)

https://user-guides.prismic.io/en/articles/3647135-how-to-migrate-a-project-from-gatsby-source-prismic-to-gatsby-source-prismic-graphql

[2020-02-05 11:31] maxym49 commented on #21193
I checked before if multiple fonts have any effect on the website efficiency, but the difference is very small. And it is not the cause of the link delay. I've created a minimum reproducible product and
here is the link for repo:
https://github.com/maxym49/gatsby-link-delay-problem

As you can see after you will start the project you are able to click the middle button to redirect to home page. Th

[2020-02-05 11:50] christoferolaison commented on #15080
Thanks for sharing tour solution!!

We are trying this approach and was close to deploy it but hesitated due to `app-data.json` not being hashed in the post build script. We are currently investigating further on how we should proceed but I was wondering if you have pushed the post build script to production and if you ran into any issues ?

/C

[2020-02-05 14:06] #21202 closed

[2020-02-05 14:09] j-norman opened #21218 "SCSS namespaces do not appear to work"
## Description

When using a namespaced resources brought in via the @use rule, dot notation throws a build error.

According to the SASS use guide(https://sass-lang.com/documentation/at-rules/use#loading-members), the following should be possible:

[code]

[code]

[code]

But, it results in the build error:

[code]

However, if I utilize the global import functionality, I can utilize the 'naked'

[2020-02-05 14:53] muuvmuuv opened #21219 "[gatsby-source-filesystem]: enhance options for a more specific file selection and disabling watching on them"
## Summary

I am trying to get [`gatsby-transformer-leasot`](https://github.com/GaiAma/Coding4GaiAma/tree/master/packages/gatsby-transformer-leasot) to work, so I can show my "todos" somewhere on my website together with GitHub issues. The plugin suggest to use `__dirname` as a path and ignore everything else, this works as expected and I got my "todos" listed.

The issue with `__dirname` is simpl

[2020-02-05 15:31] danspratling commented on #21133
I think you may be misunderstanding what i'm asking. I don't care about the **contents** of your keywords. I just care about their Type. Here's an example, comparing a string and an array.

https://prnt.sc/qxzcfj

Note that both strings and arrays have length. But strings cannot be joined.

I don't use yoast so i can't test this myself, and debugging yoast is out of scope within the Gatsby issues.

[2020-02-05 15:36] jonniebigodes commented on #20743
@vladar just like every issue i pick up, i tend to give the person the most accurate and most complete answer so that he/she can go through it at his/her own pace and with that learn a bit more about the framework. In this particular i presented a couple of ways this could be fixed

[2020-02-05 15:39] cbdp commented on #20829
Hi @jonniebigodes,

Conference was fine, but I caught a flu on the final day and was bedridden until today. Hope you are well. Thank for you for asking and thank you again for looking at my issue.

First, let's get the non graphQL stuff out of the way. Here, I found your pointers very useful and have committed almost all of your proposed changes.

### non graphql
1. Changed name to avoid spaces in

[2020-02-05 15:45] mimbimbo commented on #10510
@dderooy I'm having the same issue! How did you update the global styles CSS?

[2020-02-05 16:05] danspratling commented on #21193
It looks like your animations are working against eachother. The page transition is running and half way through running, the page loads and the animation on the /home page starts to play, which lags the transition animation.

If you remove animations and just have text on the page, there's no noticable lag.

I haven't used this library before but in a general sense, i would use the useEffect hook

[2020-02-05 16:15] joshatoutthink opened #21220 "Error: It appears like Gatsby is misconfigured. on Fresh installs"
## Description

I can no longer run gatsby develop without getting this error

[code]

this happens on existing and new sites

I have deleted cache and re-downloaded the node_modules.
I have created new sites with just react, react-dom, and gatsby, but I still get this error.

### Steps to reproduce

1. `gatsby new test`
2. `cd test`
3. `gatsby develop`

### Expected result

The site should start

[2020-02-05 16:20] pmarxbraun commented on #20833
@jonniebigodes thanks so much ! Both solutions work like a charm :-)

[2020-02-05 16:20] owen-riley commented on #21212
Upgrading to `gatsby@2.18.20` also gives me this exact error on a file that simply exports a fragment. It looks something like:
[code]
If I move that fragment to any other file, it works. The error gives no stack trace or any other contextual information other than stating that `ERROR #85915  There was a problem parsing the GraphQL query in file: {filepath}`

[2020-02-05 16:28] joshatoutthink commented on #21220
I got it to work with hello-world not sure. why nothing else is working

[2020-02-05 16:31] jonniebigodes commented on #20703
@decimoseptimo i've been checking your code and below i'm going to detail what i did to try and replicate the issue.
- Cloned your repo and switched to the branch.
- Installed the dependencies.
- As a testing method i ran 20 times your reproduction in development mode and production mode on my box, i'm also running win 10. As i wasn't happy with the results i booted wsl and repeated the process. R

[2020-02-05 16:38] cbdp commented on #20829
Please hold up on responding. I suddenly got it working and will document the process.

[2020-02-05 17:30] jodiedoubleday commented on #20918
I'm still having this issue even though I'm using gatsby 2.19.12
It weirdly seems to occur only when using Gatsby Image.

[2020-02-05 17:49] getElementsByName opened #21222 "how can I turn on the service worker using 'gatsby-plugin-offline'"
## Summary

## Relevant information
- When I develop by `npm start develop` and `gatsby-plugin-offline`, service worker is not working. But it turns on serving **built static resources**

### Environment (if relevant)
perhaps `NODE_ENV=development`

### File contents (if changed)
- plugins: `gatsby-plugin-offline`
- command: `npm start develop`

[2020-02-05 18:18] chriswhong commented on #6667
For those trying to modify `onCreateWebpackConfig` in `gatsby-node.js`, here's an example of modifying existing settings to add special handling for mapboxGL: https://github.com/brendan-ward/gatsby-starter-mapbox/blob/master/gatsby-node.js

[2020-02-05 19:04] tschaub commented on #14161
Bummer.  It would be nice if it were possible to generate a portable static site – or otherwise generate a site without knowing ahead of time where it would be hosted.  It looks like all the issues related to this have been closed.  Does anyone know if the problem can be solved within Gatsby or if it would require upstream changes (e.g. to a router)?

[2020-02-05 19:19] intelligence commented on #11118
@wesbos @LeonSkrilec Did you get it to work with WF or just to display the font at all?

Font is loading for me with just this in `gatsby-config.js`:
[code]

But WF is still showing `wf-helveticanow-n4-inactive wf-inactive` on html element. Same for you?

[2020-02-05 20:02] Countryen commented on #16233
Hey, possible that this is outdated?

When I click any row, there is no additional details showed. Also, no tooltip on hover.
Tested on chrome 80 and firefox.

Where do I find more information?

[2020-02-05 20:22] #20192 closed

[2020-02-05 21:11] yudyananda commented on #14497
just test png to webp using sharp@0.24.0 only, just like @joshuaavalon did and the result image is fine. I really hope there is a way out for windows users to be able to transform png to webp

[2020-02-05 21:12] jodiedoubleday commented on #21139
Yea same issue for me, interestingly my project works fine until I start using Gatsby Image, then the problem occurs on my homepage only `/pages/index`

[2020-02-05 22:15] skoal2007 opened #21227 "Dockerfile -- RUN npm run build (ERROR #85901 GRAPHQL)"
## Summary
I created a gatsby app using this command
[code]
I can start and build the project locally with following commands
[code]
Then I try to build the docker image using following Dockfile
[code]
Then I use this command to build image
[code]
I got the error during the build process (the command line of "RUN npm run build"),  some error msg is following
[code]

## Relevant information

### En

[2020-02-05 22:24] kinnikumegane commented on #21147
Hello jonniebigodes, thanks a lot for your reply and I would like to share the issue was solved !! Well, I was in "Code Review Meetup" yesterday in Germany, and those genius could support me to fix the error )

**Here is the reason of error**
<Post> component which is basically "/src/components/Post/index.jsx" is not only used in "/src/pages/index.jsx", but also used in following 2 templates;

/sr

[2020-02-05 22:44] redknite commented on #20929
no one?

[2020-02-06 00:03] #20007 closed

[2020-02-06 00:03] #19762 closed

[2020-02-06 00:03] #19337 closed

[2020-02-06 00:03] #18636 closed

[2020-02-06 00:03] #17808 closed

[2020-02-06 00:03] #8086 closed

[2020-02-06 00:11] Cobwebster opened #21228 "gatsby-plugin-google-analytics - sameSite "deadline"?"
Hey,

I recently moved my site into a folder within /root and used 301 redirects. Now, it seems impossible to get google analytics working,

I read up on https://www.simoahava.com/gtm-tips/chrome-samesite-warnings-google-tag-manager/

because my site is spammed with sameSite warnings and I'm not sure if it related.

Is there anything special that needs to be done with gatsby-plugin-google-analytic

[2020-02-06 00:46] tesseralis commented on #21209
@tsriram go ahead! Its all yours.

@dvrylc the gatsby-node is pretty complicated and probably not a good first issue for someone new to gatsby. We appreciate your enthusiasm and hope you’ll hang around—try searching for the issues labelled “good first issue”.

[2020-02-06 01:29] dvrylc commented on #21209
@tesseralis alright sure no worries 😄 It would be great if you could take a look at the draft PR linked so I have an idea of whether I was on the right track (and maybe continue working on it if it's not too far off). Thanks!

[2020-02-06 01:32] tesseralis commented on #21209
@dvrylc sorry! I didn't see that PR. That actually looks pretty good, so we can keep going with that PR. Sorry for the confusion, @tsriram.

[2020-02-06 02:02] tsriram commented on #21209
No problem, @tesseralis 😄

Your draft PR looks great, @dvrylc 👍

[2020-02-06 02:56] tesseralis opened #21229 "(www) Factor out <Layout> component in dot-org from most pages/templates"
## Summary

Move the `<Layout>` component so that instead of being imported in each page/template, it is imported only once in layouts/index.js:

[code]

## Motivation

This is needed to split gatsbyjs.org into themes (#19105) to make the site easier to work with. This allows us to not need to import the site-wide layout for specific section themes, which can cause errors. For example, `<Layout>`

[2020-02-06 03:39] havietduc91 commented on #19491
Hi @LekoArts,

I'm facing the same issue here with Airtable,
[code]
Could you please let me know the solution to resolve it, many thanks

[2020-02-06 04:14] master12 opened #21231 "StrictMode Error: Please update the following components: ScrollContext"
I copied this comment from #10179 since it was not really related to that particular error. However this does occur in StrictMode and it would be nice to get this resolved.

It was also posted in this issue #13676 but that has been closed without a resolution.

[2020-02-06 05:07] Vykuntarao-n opened #21232 "GatsBy Application is not loading in IE 11"
## Description

Application is not loading in IE 11. We have added included the "gatsby-plugin-polyfill-io": "^1.1.0", still application fails to load in IE11.

Here is the Package.json

 {

  "name": "",
  "private": true,
  "description": "Gatsby Contentful TypeScript",
  "version": "3.1.26",
  "author": "",
  "scripts": {
    "clean": "gatsby clean",
    "lint:eslint": "eslint \"./**/*.{js,jsx,

[2020-02-06 05:07] decimoseptimo commented on #20703
The fix seems succesful in the minimal reproduction. I still have to do more testing in the real app, so far so good. https://github.com/decimoseptimo/gatsby-starter-default/commit/78e7e7f39b0346a24179572c874d0964507ea217

[2020-02-06 08:22] kosvrouvas commented on #20981
_Although it doesn't solve this, I was able to get around it sourcing data via wpgraphql._

[2020-02-06 09:03] Steffi3rd opened #21233 "How to keep commit message on deploy from Gatsby Cloud to Netlify?"
Hello,

I just switched to Gatsby Cloud.

So the workflow was :

[code]

Now the workflow is :

[code]

It said "No deploy messagee"

How can I solve that please?

[2020-02-06 09:06] Steffi3rd commented on #21155
@crock Thank you. I will try that suggestion ^^

[2020-02-06 09:06] #21155 closed

[2020-02-06 09:26] Steffi3rd opened #21234 "How to not trigger RTE build from a simple commit on the branch which not "in production" / master ?"
Hello,

I have a free plan on Gatsby Cloud.

I'm already on 4 RTE builds / 20.
I created a new branch to commit some code but don't want to build it or deploy.

How can disable or not trigged Gabtsy Cloud please?

Thanks

[2020-02-06 09:41] maxym49 commented on #21193
I've removed all animations from the home page and the problem still persists, so animations are not the main reason for the problem. The home page now has only content with images, nothing more, so it shouldn't lag.

[2020-02-06 09:45] shendriksza commented on #10161
To anyone scouring the internet for a solution to this, a quick and dirty fix is to copy your `.cache/gatsby-source-filesystem` to `node_modules/.cache` after a build and back again before a build.

Naturally, you might have issues where a file change does not reflect, then you just have to manually delete the backup. But at least this allows people like me to run builds without redownloading giga

[2020-02-06 09:52] hejsfj commented on #20872
Solved it by using the **gatsby-source-prismic-graphql** plugin. All my pages are now in the `/templates` folder. The plugin automatically generates static pages for each language. This repo shows a nice implementation: [https://github.com/PaulinaVPG/multilanguage-gatsby](url)

[2020-02-06 09:52] #20872 closed

[2020-02-06 10:00] oskareke opened #21235 ""Invisible" prefetching of common.js from other sites according to Lighthouse Pagespeed"
##  Summary
![image](https://user-images.githubusercontent.com/2181306/73926348-63e70e00-48c7-11ea-8f30-795f9a195707.png)

When running a Lighthouse PageSpeed Insights test on any site in my network of Gatsby sites it tells me to "Avoid enormous network payload" and shows me a list of the common.js-file from every other site in the network. The sites are different language versions of the same sit

[2020-02-06 11:04] expatguideturkey commented on #20903
There is also no plugin here for multilingual on Gatsby website.
https://www.gatsbyjs.org/packages/gatsby-plugin-multilingual/

If I click on these links I get below **Error**:
 "There's not a page yet at /t%D1%83%D1%80%D1%86%D0%B8%D1%8F/

[2020-02-06 12:53] nubelsondev commented on #11427
I'm using ThemeProvider and this does not work for me

[2020-02-06 13:02] trueblood12 opened #21237 "Make Sure All Requests Get Served with the Authorization Header at Browser Time"
Hello. We're currently debugging an issue with Netlify support. When we password protect our site with Netlify's Password protection, then open our site in Safari, when we provide the password and click submit, the site is broken (JS errors and no JS execution). When we open up a new Safari tab, the site functions just fine. In all other browsers, the site functions just fine after providing the p

[2020-02-06 13:03] mathieuforest commented on #9911
@dperrera that was my issue. Thanks!

[2020-02-06 13:14] czabaj opened #21238 "webpack externals don't work"
If I add [webpack externals](https://webpack.js.org/configuration/externals/) to webpack config, I get strange `SyntaxError: Unexpected token '.'` poiting to react-apollo but I saw stack trace pointing to other libraries, so it is not related with library, but more likely with parser.

Is there some caveat when working with `externals`  in Gatsby?

[code]

my webpack.config

[code]

running "gatsb

[2020-02-06 14:22] crock commented on #21229
This isn't really something that needs to be done in the default theme because it can be easily changed. The default theme only has a single layout component for simplicity's sake. Most users are going to want to create a layouts directory at `src/layouts` that contains all the different layouts their app will need. Then each page component imports only the layout it needs.

[2020-02-06 14:29] crock commented on #21218
It looks like you left out a required dependency of `node-sass` according to the documentation.
https://www.gatsbyjs.org/packages/gatsby-plugin-sass/?=gatsby-plugin-sass

[2020-02-06 14:39] crock commented on #21220
Did you delete any of the `gatsby-*.js` files? Specifically, if you have any Gatsby plugins included, a `gatsby-config.js` is requried. If you are trying to build pages at build time, you need a `gatsby-node.js`.

[2020-02-06 14:47] j-norman commented on #21218
It was included.  My steps to reproduce did include the installation of this dependency.

Most of the system works, it is _only_ namespaces that appear to not work.  SASS variables within the same file work, mixins work, and so on.  it is only when an external resource is brought in via the `@use` directive that things begin to go sideways.

[2020-02-06 14:47] Steveeeie opened #21239 "Can 'gatsby-plugin-mdx' be used with external sources e.g. 'gatsby-source-contentstack'?"
## Summary

Can `gatsby-plugin-mdx` be used with external sources e.g. `gatsby-source-contentstack`?

We have a project where we are creating pages from local .mdx files which get passed through `gatsby-plugin-mdx` to transpile the mdx content.

We are also creating pages from content pulled from Contentstack using ` gatsby-source-contentstack`. The content contains a markdown field. Is there any

[2020-02-06 15:03] askiebaby commented on #2137
This solution solved my problems, thank you.

[2020-02-06 15:09] lauritowal commented on #2492
@radding

Stupid question.. But how? :D

[2020-02-06 15:59] theweiweiway commented on #21193
Hi,
I'm also experiencing this exact same issue. No animations. And it's only in nested pages.

[2020-02-06 16:04] benrobertsonio commented on #21150
Handling this on the cloud side :)

[2020-02-06 16:04] #21150 closed

[2020-02-06 16:22] AAverin opened #21241 "Unable to reference frontmatter fields inside MDX"
## Description

Documentation states https://www.gatsbyjs.org/docs/mdx/writing-pages/
that Frontmatter is also available in props.pageContext.frontmatter and can be accessed in blocks of JSX in your MDX document:

When I try to read my frontmatter inside mdx I get an error: `Cannot read property 'frontmatter' of undefined`

  System:
    OS: macOS 10.15.2
    CPU: (16) x64 Intel(R) Core(TM) i9-998

[2020-02-06 16:25] Steffi3rd opened #21242 "warn The gatsby-plugin-mdx plugin has generated no Gatsby nodes. Do you need it?"
## Description

I have `.mdx` files in my project but I have a warning on `gatsby develop` or `gatsby build`.

[code]

### Steps to reproduce

On `gatsby develop` or `gatsby build`

### Expected result

No warning

### Actual result

Warning

### Environment

 Binaries:
    Node: 10.16.0 - /usr/local/opt/node@10/bin/node
    Yarn: 1.19.2 - ~/.yarn/bin/yarn
    npm: 6.9.0 - /usr/local/opt/node@10/b

[2020-02-06 16:51] exposuredesign commented on #10867
I get the same issue - the same site build can be between 200 images and 3000+ - doesn't always fix with a cache clear.  Going to spend some time diagnosing then I'll post my specs etc

[2020-02-06 17:09] JohanBengtsson commented on #18866
We're also having big problems with this. I can see that this issue is in the "Prioritized" column in the Roadmap, but I'm not sure that this means. Does anyone know whether it's something that might be adressed in the near future?

[2020-02-06 17:27] Steveeeie commented on #21239
Found a way around this by creating a plugin that executes between the two plugins

[2020-02-06 17:27] #21239 closed

[2020-02-06 17:41] sigmasoldi3r commented on #8790
So... it is fixed?

[2020-02-06 18:09] gillkyle commented on #16233
Thanks for surfacing this @Countryen, it looks like we don't have any descriptions in this file: https://github.com/gatsbyjs/gatsby/blob/master/docs/features/gatsby-features-specs.csv

I'm going to add this to my backlog to add in descriptions on this table, I believe we have an evaluation doc this came from. If I can't find that I'll make an issue to update the text or the component.

[2020-02-06 18:17] arshad commented on #19785
Not stale. Bug still happening.

[2020-02-06 18:42] nubelsondev opened #21244 "Gatsby build dont recognize Styled-Component media-queries props!"
Hi, guys... I have a problem since yesterday and I would like to ask for your help. I finished the development of my portfolio and I'm getting this error both when deploying with Netlify and when running the `gatsby build` command. Someone help me please.

[code]

[2020-02-06 18:52] agentofuser commented on #14161
This seems such a basic need, I'm not sure what's keeping this from moving forward.

Would maintainers be willing to merge if someone put in the work?

[2020-02-06 19:01] tesseralis commented on #21229
@crock this is specifically about the gatsbyjs.org website, not gatsby sites in general. I've updated the title to make this more clear.

[2020-02-06 19:15] asinha08 opened #21246 "Unable to run Gatsby in docker"
## Summary
Unable to run Gatsby in docker
## Relevant information
**My docker file looks like below**
[code]

**My script in package.json looks like below**
[code]

But when I build my image and run docker and visit http://localhost:9000/ on browser . browser do not show any content.

I get following message on browser

 Try:
 Checking the connection
 Checking the proxy and the firewall
 ERR_CONNE

[2020-02-06 19:24] jonniebigodes commented on #21147
@kinnikumegane that's fantastic. Glad that you managed to get it solved. If you don't mind, feel free to close the issue when you're able.

[2020-02-06 19:42] jonniebigodes commented on #20829
@cbdp glad that you're feeling better and also that you've managed to solve the issue. I'm ok with leaving it open while you check your other site. Feel free to provide feedback when you've confirmed that everything is in order, so that we can close this issue. You know the deal...no need to thank 😁! Just glad that i was able to help you solve your issue and you got it to work.

[2020-02-06 19:43] jonniebigodes commented on #20833
@pmarxbraun no need to thank, glad that i was able to help you solve your issue. Feel free to close this issue when you're able.

[2020-02-06 19:47] jonniebigodes commented on #20703
@decimoseptimo glad to hear it. a bit ago i repeated the test methodology once again and so far so good the issue did not present itself. I'm going to make a couple more rounds of tests. Hoping to hear that is all good on your side.

[2020-02-06 19:53] gillkyle opened #21247 "docs: overview features table lacks descriptions but shows up as clickable"
## Summary

The overview table on the Features page here: https://www.gatsbyjs.org/features/ shows a focusable button for each section: Performance, Developer Experience, etc. with an info button next to it. This is misleading because the data we have for the table doesn't have any descriptions in it: https://github.com/gatsbyjs/gatsby/blob/master/docs/features/gatsby-features-specs.csv

### Motiv

[2020-02-06 19:55] skoal2007 commented on #21227
I forgot to copy the config files from the root folder , sorry about the confusion

[2020-02-06 19:55] #21227 closed

[2020-02-06 20:13] magnusarinell opened #21248 "How to write mdx plugin for inserting React component between paragraphs?"
## Summary

I would like information on where to start for writing a plugin for inserting a React element between paragraphs.

## Relevant information

Hi, I've been working with GatsbyJS a couple of years and it's great. My scenario is the following:

I have mdx pages with a lot of text content grouped in paragraphs (so the rendered page is a text page with a bunch of `<p>` tags with content. Now

[2020-02-06 20:15] decimoseptimo commented on #20703
Thanks, my app seems working correctly after applying the changes you suggested.

Also, I don't recall this issue was present earlier (when the nodes count in `products.json, categories.json`was smaller). Nor I see any referece to a reserved word `id` in the plugin docs.

[2020-02-06 20:27] tejedamiguel6 commented on #6041
Sorry for bothering anyone on here with this question. I am currently having an issue calling onCreateNode twice. Does anyone know how to do so? for example i have if(node.internal.owner === 'gatsby-source-drupal)
/// do stuff here

But i need to call it again so that i can create a new field on my menu, but it throws an error.

[2020-02-06 20:31] kinnikumegane commented on #21147
Thanks gain jonniebigodes !

[2020-02-06 20:31] #21147 closed

[2020-02-06 21:21] cbdp commented on #20829
@jonniebigodes I'm happy you're happy. If anyone comes across this on google, the TL;DR is don't use the static folder for images you want to be fluid. Somewhere down the line, I must have followed a tutorial that urged me to do this - but I can't for the life of me remember which one.

Anyway, good luck to you all and thanks again :)

[2020-02-06 21:21] #20829 closed

[2020-02-06 22:02] KyleAMathews commented on #20699
yes, that :-)

[2020-02-06 22:06] KyleAMathews opened #21249 "Warm route code during idle time to speed rendering new pages"
The first time a page component is used requires its code to be parsed & evaled. This happens _after_ a link to the page is clicked at the moment which means the user waits for the 10-300ms required for this.

Ideally this parsing & evaling happens _before_ the link is clicked so the user doesn't experience any delay.

This could be done by a similar mechanism to how we prefetch page resources. Wh

[2020-02-06 22:06] tesseralis opened #21250 "(scripts/i18n) Create a script to sync translation repos"
## Summary

Create a script to synchronize translations with the English source.

[2020-02-06 22:34] tr1s opened #21251 "Depending on the Gatsby version, the Netlify CLI UI breaks (long standing issue)"
## Description

I've been having this UI issue for so long now, I posted the issue in [Netlify's CLI github issues list](https://github.com/netlify/cli/issues/698) as well. **Please close if this feels unrelated to Gatsby, and is solely Netlify's problem to fix.**

**Issue:** The Netlify CLI UI get's cut off by an "In Progress" bar that just sits there even though it's completed, cutting off the g

[2020-02-06 22:45] drake-smith opened #21252 "'/index.html' for home page route does not work in development or production"
## Description
I am creating my home page dynamically from a template in `gatsby-node` instead of in the `pages` directory. The path is `/index.html`, because I need the production url for the homepage to be website.com/index.html.

When I do this, I cannot access the homepage in both development and production. In development, I get the Gatsby 404 page. In production, in my network tab, the reque

[2020-02-06 22:45] drake-smith commented on #20203
I've opened up a bug report that is more fleshed out. https://github.com/gatsbyjs/gatsby/issues/21252

[2020-02-06 23:21] piyushkantm opened #21253 "Build bundling all the css in whole application on each page's internal styles"
## Description

I've used the starter project. In the project, there are two pages:

1. index
2. page-2 (has import of demo.js)

There is a demo.js which imports demo.module.css

Now this demo-module css in being returned in html of index page also even when it doesn't import that components and doesn't need the css of demo.module.css

This results in fairly large page size in applications with lo

[2020-02-06 23:35] piyushkantm commented on #21246
You can try this:

[code]

Although for prod applications, using gatsby serve could not be a good idea. It is just to test how prod website will look..

[2020-02-07 00:40] tesseralis opened #21255 "Refactor (www): Use `nodes` in gatsbyjs.org code instead of `edges.node`"
## Summary

Since Gatsby v2.2.0, it's been possible to [use `nodes` instead of `edges.node`](https://github.com/gatsbyjs/gatsby/pull/20746/files) in GraphQL queries. All instances of:

[code]

can be replaced with:

[code]

The code that iterates over these can also change from

[code]

to:

[code]

## Motivation

Code cleanliness of the gatsby website. Using up-to-date examples in our codebase ca

[2020-02-07 00:52] tesseralis opened #21256 "Refactor (docs, www): make a GraphqlEmbed MDX component to use in docs."
## Summary

Our docs relating to GraphQL sometimes have [CodeSandbox samples](https://www.gatsbyjs.org/docs/graphql-reference/#limit) where viewers can edit their query. However, these pages are represented in the markdown as [raw iframes](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/graphql-reference.md) and are quite ugly:

[code]

Thankfully, with the power of MDX, we can change tha

[2020-02-07 01:14] naoya7076 commented on #21093
High-lights is used to reveal the different from the past code.
We should declare them on differences from previous code.

[2020-02-07 01:22] tesseralis opened #21258 "Refactor (www, docs) Reorganize data YAML/JSON files used in gatsbyjs.org"
## Summary

Reorganize data used in www/ based on whether it's sourced in graphql or not, and

## Steps

1. Move the YAML files in `docs` and associated files under `www/src/data`: `creators/`, `sites.yml`, `startes.yml`, `categories.yml`.
2. Rename the data directory to something like `source-data` and move out the files that aren't sourced in graphql into a new `data` directory (`sidebars/`, `fe

[2020-02-07 01:45] ooloth commented on #17427
@rGustave07 @teoboley I'm having this issue as well. Did either of you find a solution?

[2020-02-07 01:46] tesseralis opened #21259 "(www, docs) Convert contributing/events and contributing/stub-list to MDX."
## Summary

Convert the pages `contributing/events.js` and `contributing/stub-list.js` into MDX in the `docs/` folder. The logic for these pages should be turned into components `<EventsList>` and `<StubList>` that can be used in the MDX docs.

## Motivation

This makes these pages easier to translate.

[2020-02-07 02:20] tsriram commented on #20699
Cool, that makes sense 👍

[2020-02-07 02:42] jlengstorf commented on #21251
I posted this on https://github.com/netlify/cli/issues/698 as well, but just to surface this in both places:

this is happening on the repo I'm using for my Frontend Masters "Introduction to the JAMstack" course, which is scheduled to be released soon

if we could get this fixed before that goes live, that would probably help us avoid a lot of confusion

[2020-02-07 02:52] asinha08 commented on #21246
Thanks a lot @piyushkantm for your reply. What do you suggest I should do to run Gatsby application in prod.

[2020-02-07 03:05] samovertonjr commented on #14678
I created a draft with my proposed fix. I still have to test it properly.

[2020-02-07 03:21] garrison0 opened #21263 "navigation.js:173 Uncaught TypeError"
Still getting this error from links after updating to Gatsby 2.19.12. I've checked my dependencies and re-installed node modules.

I can recreate this issue by:

1. updating [this](https://github.com/thomaswang/gatsby-personal-starter-blog) starter
2. making a new root element implementing the router with '/' corresponding to 'index.js', '/foo' corresponding to the blog or some trivial page
3. put

[2020-02-07 03:29] Connor-Callahan commented on #17557
deleted my .cache folder - worked like a charm.

[2020-02-07 03:37] NWRichmond commented on #6467
I would be very excited to see some documentation on `pageContext` best practices.

My interest in `pageContext` best practices is at its peak after reading [this blog post](https://nickdrane.com/optimizing-gatsby-build-times-for-large-websites-using-pagecontext/), which suggests that it's more performant to stuff data fetched in `gatsby-node` into `pageContext` for large sites which rely on queri

[2020-02-07 05:12] #21156 closed

[2020-02-07 05:23] caseykey commented on #20734
@TylerBarnes
I added some new JSON files for the other sections of my website, so now the 'else' clause of the ternary statement you had in your solution is executing and causing an error.

`UNHANDLED REJECTION Cannot find ObjectTypeComposer with name Json

  Error: Cannot find ObjectTypeComposer with name Json`

Any clue why this is? Without the typename option for transfomer-json, Json appears t

[2020-02-07 07:29] pol4bear opened #21265 "gatsby-remark-relative-images fails to process picturestook with DSLR"
Hi! I'm trying to migrate my blog to gatsby. I migrated my posts to markdown and I uploaded to my gatsby. I installed gatsby-remark-relative-images to process my images relatively and it worked fine with most of images. But, gatsby-remark-relative-images fails to process picture that are took from DSLR. I think gatsby-remark-relative-images has bug that can't process high-quality images because of

[2020-02-07 07:38] expatguideturkey commented on #21133
When I console.log(keywords) and console.log(typeof(keywords)) I get this result https://prnt.sc/qysx4h

[2020-02-07 08:11] miller-productions commented on #9841
@zslabs mentioned...

---
For anyone reading this issue later... this has happened to me.

On a scratch site I was playing around with, in my haste I installed [`react-helmet`](https://www.npmjs.com/package/react-helmet), however...

I had completely forgotten to install and configure [`gatsby-plugin-react-helmet`](https://www.npmjs.com/package/gatsby-plugin-react-helmet).

This meant that all the

[2020-02-07 08:23] #21265 closed

[2020-02-07 09:14] afc163 commented on #20943
https://github.com/antvis/gatsby-theme-antv/pull/105/checks?check_run_id=424609520#step:4:166

[2020-02-07 09:40] paprikman commented on #1526
+1, has to be optional.

[2020-02-07 09:41] #20833 closed

[2020-02-07 10:01] AAverin commented on #21241
Maybe docs need to be updated?
I am using `MDXRenderer` and nothing was accessible until I have manually passed a parameter
[code]

[2020-02-07 10:58] g1eny0ung commented on #19979
@milesalex @muuvmuuv

See this: https://www.gatsbyjs.org/packages/gatsby-transformer-remark/?=#configuring-the-tableofcontents

For example, `tableOfContents(pathToSlugField: "frontmatter.title")` will generate TOC relative to `"frontmatter.title"`.

[2020-02-07 11:35] KashafS98 opened #21267 "How do i query the featured media of a custom post type in wordpress"
I have created a custom post type in my WordPress site and it has a featured image.

I am able to query all other fields of the custom post type except the featured media. The graphql playground does not show an option of featured media for custom post types.

![snapshot-1581075198768](https://user-images.githubusercontent.com/57944227/74026342-fbce2000-49cb-11ea-8a05-561881c0a68b.jpg)

[2020-02-07 12:57] expatguideturkey opened #21270 "Fails to generate post thumbnails"
I get build error for thumbnail null  https://prnt.sc/qyvids
Whereas they exist in my WordPress posts and also inside the static folder. It shows null value for featured image every time on different posts.

Has anyone experience this problem and how did you fixed it. Please advise.

[2020-02-07 13:05] expatguideturkey commented on #21270
I updated the code to below but still it sometimes fails to build thumbnail of posts.

[code]

[2020-02-07 13:06] BernardA opened #21271 "losing style on page reload"
## Description

After `gatsby build` the app works fine until I reload the page. It then loose styles coming from `material-ui` in a specific component.

The app works fine:
- in development
- in production, for as long as no page reload is hit

No error message is thrown, either in the build process or when the problem actually happens, ie, page reload.

### Steps to reproduce
- run `gatsby build

[2020-02-07 13:08] sagakom commented on #1257
use contentful you can edit gatbsy starter

[2020-02-07 13:19] secretlifeof opened #21272 "[gatsby-source-graphql] createResolvers for array of images not working"
## Description

I am trying to create a file node in gatsby-node.js. It works for single images but not arrays of images, and do not understand why. GraphQL API is Strapi, and I use gatsby-source-graphql to get the data.

### Steps to reproduce
[code]
It returns the correct source.id but source.url is returned as undefined. With single images the correct src url is returned. The __typename for sin

[2020-02-07 13:57] LeonardoCesca commented on #11006
This issue is alive? I'm with this problem

[2020-02-07 16:09] iriepixel commented on #5330
@scnroy Hi, did you find an answer to your issue? I have the same problem.

[2020-02-07 16:24] spendela commented on #14395
Instead of a complete source-filesystem refresh, is there a way to just refresh only that specific page or menu that has been updated?

[2020-02-07 16:50] LeonardoCesca commented on #21271
Hello @BernardA !

Do you have a file `gatsby-browser` and `gatsby-ssr`?

[2020-02-07 16:51] spendela commented on #18040
this is what I have in my functions.php
`
add_action('save_post', 'reload_gatsby', 10, 11);
function reload_gatsby($post_ID, $post)
{
	// $post_id = $post["post_ID"];
       //
	if (!(wp_is_post_revision($post) || wp_is_post_autosave($post))) {
		$curl_refresh_gatsby = curl_init('http://localhost:8000/__refresh');
		curl_setopt($curl_refresh_gatsby, CURLOPT_POST, true);
		$response_2 = curl_exec($

[2020-02-07 16:54] spendela commented on #18040
This is what I have in my ` functions.php`  file.  When a page or post or a menu is updated, there is a refresh.
[code]

[2020-02-07 16:58] keirwilliams commented on #20949
Issue with `gatsby-plugin-offline`. It can resolved with `yarn unplug gatsby-plugin-offline`.

[code]

[2020-02-07 17:21] BernardA commented on #21271
Here they are ( they look exactly the same )

     import React from 'react';
     import { Provider } from 'react-redux';
     import store from './src/store/reduxWrapper';
     import Layout from './src/components/layout';

     export const wrapRootElement = ({ element }) => <Provider store={store}>{element}</Provider>;

      export const wrapPageElement = ({ element, props }) => {
          r

[2020-02-07 17:22] marcysutton commented on #21263
Hi there, I got this to work with the latest Gatsby version by deleting the `node_modules` folder and package-lock.json (or yarn.lock) and then doing a reinstall.

[2020-02-07 17:37] marcysutton commented on #18993
We can close this issue now, as the work has mostly been completed! The outstanding issue in #20050 can be tackled separately. Great work @gillkyle!

[2020-02-07 17:37] #18993 closed

[2020-02-07 17:38] ryparker commented on #15601
@vaclavnovotny

Tried your approach however this is what I get when using `gatsby develop`
[code]

[2020-02-07 18:16] erquhart commented on #21251
A bit of research:

- this bug of Gatsby cli eating previous external logs was introduced in https://github.com/gatsbyjs/gatsby/pull/14973
- it _might_ be due to this component, not positive: https://github.com/gatsbyjs/gatsby/pull/14973/files#diff-b4c4175f0cc66bb26a4dc466da3f6319 (cc/ @pieh)
- is definitely related to ink, either the library itself or Gatsby's implementation of it
- may also be r

[2020-02-07 18:55] NWRichmond commented on #6467
@pieh can you shed some light on why that's the convention?

When it comes to performance, I'm unsure of the material difference between:
- Fetching data is `gatsby-node.js` and sending results to page components via `pageContext`
- Fetching data in the page component itself via a Page Query

Ultimately, doesn't the data end up in `page-data.json` using either approach? I suspect there are implica

[2020-02-07 19:13] aaroncampos commented on #15601
Same here

[2020-02-07 19:33] owen-riley commented on #21154
I believe your problem is nested `<p>` tags. If you switch line 27 of about.jsx to be a `div` instead of a `p` tag then it should work. The data you are dangerously setting inside of it is already wrapped in`<p>` tags and since `<p>` can't contain child `<p>` tags, they are getting purged after the app rehydrates.

[2020-02-07 19:40] BaseMax commented on #20687
Hello, I agree with it. When we can cooperate and work together?

I hope so.
Cheers,
Max

[2020-02-07 19:47] laurieontech opened #21277 "SEO for Recipes needs improvement"
## Summary

Since the recipes section of the docs was refactored, it appears that SEO has suffered.
For example, searching "Gatsby local font" on Google does not surface the [adding a local font recipe](https://www.gatsbyjs.org/docs/recipes/styling-css#adding-a-local-font) but it does list the associate GitHub issue.

### Motivation

This section of the docs is information-rich and we want it to b

[2020-02-07 19:55] marcysutton opened #21278 "[docs][workflows] Working with Style Libraries and Components"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

## User story

As a new Gatsby user, I want to style my site with libraries and components.

## Evaluation

[Change emoji below based on your evaluation.]

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😞 | 😞 | 😐 | 😐 | 😐

[2020-02-07 19:56] tesseralis commented on #20687
@BaseMax sure! I'll close out this issue and add you to the first one that @alipiry created.

[2020-02-07 19:56] #20687 closed

[2020-02-07 20:07] tesseralis commented on #19456
@alipiry @BaseMax I'm having some issues creating your repository. I'll talk with the rest of the Gatsby team and we can get you all set up early next week.

[2020-02-07 20:38] teoboley commented on #17427
I haven't - I resorted to using the mdx plugin to parse only mdx files, or only add components in jsx format. If anyone ever finds a solution, I'd love to hear it!

[2020-02-07 20:43] jgatjens commented on #16963
@moroshko did you resolve your problem?

[2020-02-07 20:56] ovidiumihaibelciug opened #21279 "Page Content not loaded"
## Description
Hello, I found this weird bug and I'm not sure if it's a problem with Gatsby or it's my browser

### Steps to reproduce
When I right click and View Page source on a website made with Gatsby the content doesn't appear on the source, but after I refresh it appears as shown in the videos below.

https://www.loom.com/share/73c52572693048f898deb7b32342d329

https://www.loom.com/share/0ae

[2020-02-07 20:57] alipiry commented on #19456
@tesseralis Alright, take your time.

[2020-02-07 21:13] TruthReveller commented on #10890
Tried gatsby-plugin-csp but still getting **inline** script and style errors.  Example script tag with  gatsby-chunk-mapping still not covered.

[2020-02-07 21:17] muuvmuuv commented on #19979
Using `gatsby-plugin-mdx` now generate all my pages. Works better and I can add custom elements.

[2020-02-07 21:26] amygroshek commented on #21032
Thanks @muescha. I had this error today with every starter kit I tried, and even plain old `gatsby new site`. Glad I found this.

[2020-02-07 21:34] davwheat commented on #21279
Pretty sure this is expected behaviour because of how Gatsby loads pages via a service worker but I'll let someone more experienced decide if that's the case :P

[2020-02-07 21:45] laurieontech opened #21280 "Create a Reference Guide for typography and fonts"
## Summary

Based on the audit of the font workflow from #17703, there is a need for a reference guide surrounding fonts and typography. Right now the [typography.js guide](https://www.gatsbyjs.org/docs/typography-js/) exists but that is a very narrow scope.

Some recommended topics to cover:

- Importing fonts/typography
- Overriding Gatsby defaults
- `develop` vs. `build` and making sure everyth

[2020-02-07 21:51] laurieontech commented on #17703
Going to close this issue as we now have two open issues that cover the remaining recommendations.

[2020-02-07 21:51] #17703 closed

[2020-02-07 22:17] jesusalvb commented on #16076
Yeah !!! This is the solution

[2020-02-07 22:18] marcysutton opened #21282 "[docs][guides] Conceptual guide on Reusable Code Patterns"
## Summary

Gatsby users should be able to find information on how to make reusable components and scalable code patterns. It should help them understand use cases and terminology with a low barrier to entry. A Conceptual Guide covering this topic could include:

- Component APIs, props, and conventions (making components that are easy to use)
- Methods for distributing/importing components in pro

[2020-02-07 22:44] jooola commented on #15601
Starting to have some scary warnings here, nothing critical, but this ticket might need to get some more attention.
[code]

[2020-02-07 22:52] jhoffmcd commented on #19392
Just hit this as well. I agree that this might not be ideal for those of us wanting stricter access control. I think @gambry has something with the `is_multispace` setting.

[2020-02-07 23:56] marcysutton commented on #21277
Steps to complete this issue, which is focused on search engine optimization of individual recipes, which are listed on category pages:

- [ ] Meet with @hashimwarren to discuss strategies for improving SEO without being overly repetitive (especially in a recipe page's Table of Contents)
- [ ] Search for each recipe on Google and record results in a spreadsheet
- [ ] Make improvements in a PR to i

[2020-02-08 00:03] #20467 closed

[2020-02-08 00:03] #20297 closed

[2020-02-08 00:03] #20284 closed

[2020-02-08 00:18] hashimwarren commented on #21277
We currently use a tool to track the performance of our pages in Google search.

I can add the queries we want to monitor and it will show us performance over time - without us having the check by hand or set reminders.

Let's talk when we meet.

[2020-02-08 00:22] decimoseptimo commented on #20152
Also lighthouse may throw `Properly size images` warnings. When the srcset includes an aditional breakpoint (with the original image size, at a larger size), that you're not inteded to publish.

This has been [ asked before.]

[2020-02-08 01:21] vsolanogo opened #21286 "Can't build with on Ubuntu or Windows."
## Description

Can't build on Ubuntu on Windows

### Steps to reproduce

Builds fine on MacOs. Can't build on Windows at all. Builds on Ubuntu only without --prefix-paths, okay without it.
I need to build it with --prafix-paths
I can run development on all the systems.
### Actual result

![Screenshot (195) - Copy](https://user-images.githubusercontent.com/13319110/74076604-b76d6f00-4a21-11ea-87a9

[2020-02-08 02:07] jonniebigodes commented on #21286
@vsolanogo a couple of quick questions:
1- In MacOS are you using the same file/folder structure?
2- What happens if get the Gatsby site into another folder, build it there and copy the contents of the public folder to what it seems your apache folder?

I'm asking these questions, more specifically the second one because it might be due to permissions and i tend to avoid developing/building direct

[2020-02-08 03:37] zuhair-naqvi commented on #12254
using GatsbyImageSharpFixed_noBase64 leads to a blink when switching between pages, even though the image should be cached.

[2020-02-08 04:16] ColdFire87 opened #21290 "watch files outside of `gatsby-config.js`"
## Summary

I need Gatsby to pick up changes made to files imported by `gatsby-config.js`

## Relevant information

A simple `gatsby-config.js` file looks like this:

[code]

I want to put `siteMetadata` into a separate json file like so:

[code]

[code]

The reason for that is so I can make `content/siteMetadata.json` available for editing
in a CMS like Forestry.io or NetlifyCMS.

The problem I a

[2020-02-08 06:11] Altrum commented on #21154
Thanks so much! This was haunting me for so long...

[2020-02-08 06:11] #21154 closed

[2020-02-08 07:06] pol4b opened #21291 "gatsby-plugin-manifest icons 404 notfound"
Hi! I'm trying to migrate my blog to GatsbyJS. But, I'm having some trouble while using gatsby-plugin-manifest. I initialized my site with gatsby-starter-lumen v2 and it uses gatsby-plugin-manifest. I setup all I want and after ```gatsby build``` I move all content in public folder to my apache server.

 If I access to my [homepage](https://pol4.dev/) chrome says 404 notfound /icons/icon-144x144.p

[2020-02-08 07:22] pol4b opened #21292 "gatsby-remark-images is not parsing all of my images"
I'm trying to migrate my blog to GatsbyJS. My posts are written in markdown and I almost setup my blog. But, some images in my [post][1] are not loading well. I thought it casued by other plugin(gatsby-remark-relative-images, gatsby-remark-images-medium-zoom) but I guess is not because it's not fixed even I disabled those. I think gatsby-remark-images are not parsing all images well.

 This is par

[2020-02-08 08:37] b0nbon1 commented on #21258
@tesseralis I'm interested in this one, I just need more clarification on:
- The files in the `YAML` files in the docs folder should they be moved to new folders; `source-data` and `data` in `www/src` ?

[2020-02-08 08:48] b0nbon1 commented on #21247
Can I take this one @gillkyle?

[2020-02-08 08:54] Digital-E commented on #20126
Same issue here!

[2020-02-08 09:11] radscheit commented on #2492
@lauritowal
1. Install and activate the plugin
2. Navigate to Media > Assistant
3. Select the items you want to change and choose Edit in the bulk action dropdown
4. Now choose a new parent id and voilá

![Screenshot 2020-02-08 at 10 09 57](https://user-images.githubusercontent.com/6578648/74082545-5febf500-4a5b-11ea-8add-aebe309fed53.png)

Did it help you?

[2020-02-08 09:23] #21267 closed

[2020-02-08 09:25] pol4b commented on #21291
I found that apache tries to access /usr/share/apache2/icons/icon-144x144.png which not exists. Apache won't access /var/www/blog/icons/icon-144x144.png. I don't know how to solve this but problem is now clear.

Additionally favicon works in ```gatsby develop```. If I ```gatsby build``` and serve public favicon won't show.

[2020-02-08 10:32] andrico1234 opened #21296 "Site's Server rendered components not getting cleaned up in browser"
## Description

With two of my site's components, the NavBar and the CookieConsentForm. Multiple instances are present on load. It appears that the components created during the build, which I imagine are created using the component tree described in the `gatsby-ssr.js` are overriding OR existing with the components described in the `gatsby-browser.js` file.

So in the example of the NavBar, the c

[2020-02-08 10:37] dillionmegida opened #21297 "Include Share Action for Docs and Blog"
## Summary

This feature makes it easy to share post and docs in Gatsby with other applications like Twitter and Facebook.

### Basic example

### Motivation

Many content-based websites makes it easy for users to share contents with their audience. I noticed Gatsby didn't have such, hence my request.

I'd also like to take on this task. I created this issue because according to the contributing g

[2020-02-08 10:42] willpaige commented on #21212
Yup, I'm getting what I expect as being a related issue. I'm unable to build with `gatsby 2.19.7` as `gatsby-source-contentful/src/fragments.js` isn't compatible.

<img width="1099" alt="Screenshot 2020-02-08 at 10 39 29 am" src="https://user-images.githubusercontent.com/3032885/74083780-b8bd8c80-4a5f-11ea-89ef-bd24b97d493e.png">

[2020-02-08 12:39] lucasfrutig0 commented on #19064
Hi guys i have the same problem a lot.
i'm installed the react-carousel plugin and everything brokes down.
First i try delete node_modules and yarn.lock and re-install with npm i. Not success!
So again i deleted node_modules and i tryied this command yarn add all
And everything is ok so now.

[2020-02-08 13:50] #21291 closed

[2020-02-08 13:59] asah27 opened #21298 "Add a tag in the Link tag to stop the browser from pre-caching it."
## Summary

When we load a Gatsby site, it checks all the Link tags on the pages and pre-cache's it for better user experience. But what if I know according to some stats that this page does not have very frequent visitors and what to stop the browser from pre-caching it? The page might contain a lot of data and I might not want to do that.

### Example
This would involve some addition to the Link

[2020-02-08 14:16] nibtime commented on #1526
+1, this must be configurable.
I had to adapt the workaround from @l0co , it was throwing the following error during production build (Gatsby `2.19.12`):

[code]

The adapted workaround:

[code]

[2020-02-08 14:29] ezekielchow commented on #8301
I'm facing this issue too. Using Gatsby + Netlify + Contentful. It happens at random though.
On local, the error thrown is
[code]
On netlify, I get
[code]

[2020-02-08 14:51] kmcaloon commented on #20961
Still need to put together a repo for this. For what it's worth it's definitely an issue with the build cache. If I just delete it after build everything works fine.

[2020-02-08 14:55] bryan-yu commented on #16252
Love you man! That fixed my issue too.

[2020-02-08 15:04] gillkyle commented on #21247
That'd be great @b0nbon1!

[2020-02-08 15:19] piyushkantm commented on #21246
Basically use Netlify, But if your requirements are to use Docker, then use an nging server to host the static files...

[2020-02-08 15:20] piyushkantm commented on #21286
Are you using sharp plugins and sharp is not properly installed in your windows/mac??

[2020-02-08 15:20] vsolanogo commented on #21286
Thanks for help! Folder structure of the project is the same, it's cloned from git repo. Or you're asking about something else?

It Throws same error. Firstly i did build it in home folder of user.

I suspect on Ubuntu server it has to do somthing with next part of code, i use gatsby image and and receive images from static query like :

`
export default () => (
  <StaticQuery
    query={graphql`

[2020-02-08 16:02] pol4bear commented on #21292
I found it. I'm not sure that what exatly causes this problem but Thumbnail generator or gatsby-remark-images has a bug. If image file extansion is uppercase markdown documents loads successfully but thumbnail not generated on ```gatsby build```. On ```gatsby develop``` it worked fine so it was hard to find the problem.

 Maybe one of the below reason will be causing this problem. I think no.2 is

[2020-02-08 17:36] xpzouying commented on #16957
I had same issues on ubuntu 18.04, then I run the following step:

1. delete package-lock.json
2. use `yarn`
3. `apt install libglu1 libxi-dev`

It works for me.

[2020-02-08 17:37] xpzouying commented on #3570
I had same issues on ubuntu 18.04, then I run the following step:

delete package-lock.json
use yarn
apt install libglu1 libxi-dev
It works for me.

[2020-02-08 19:52] bradgarropy opened #21299 "Adding any gatsby dependency to a plugin causes build to fail"
## Description

My end goal is to create my own blog theme which provides a `gatsby-config.js` file that loads and parses `markdown` files.

Using the [`using-multiple-local-plugins`][local] as a starting point, I added the `gatsby-plugin-twitter` as a dependency to the `gatsby-plugin-console-log-a` directory. After doing so, `npm start` fails to build the `gatsby-site-using-local-plugins`.

### S

[2020-02-08 19:55] graygilmore commented on #20069
Hey @vladar! I'm just starting to dig into Gatsby and GraphQL but I'd love to lend a hand here if I could. In particular I'm playing around with the Shopify so I might try that one! Let me know if I'm biting off more than I can chew 😄

[2020-02-08 20:03] Leodau commented on #15601
Got warning too, still about core-js...

[2020-02-08 20:29] hugofabricio opened #21300 "Eslint stopped working"
My eslint stopped working on my computer when I don't have the configuration file at the root, I tested it on other computers the problem is the same, is anyone experiencing this?

<img width="1366" alt="Screen Shot 2020-02-08 at 17 27 54" src="https://user-images.githubusercontent.com/425678/74091648-5cc32a00-4a98-11ea-834f-612f0398f5d2.png">

[2020-02-08 20:45] andrico1234 commented on #21205
Potentially the same issue as this?
https://github.com/gatsbyjs/gatsby/issues/21296

[2020-02-08 20:46] garrison0 commented on #21263
The problem persists for me in this environment.

I've deleted both node_modules and package-lock.json, reinstalled, and checked the dependencies. I've noticed gatsby-link still requires @reach/router 1.2.6 whereas gatsby requires 1.2.1. I'm not sure how relevant that is because the bug persists whether I important Link from gatsby, gatsby-link, or @reach/router.

Interesting if I build and serve,

[2020-02-08 21:13] RoyalSix commented on #20450
I just tried opening my gatsby site on an older device (iPhone 5S) Safari 7
And got the same issue in the dev tools

[2020-02-08 21:34] jmadelaine commented on #11243
Why has this issue been closed? I'm getting this error too, and so are others above.

[2020-02-08 22:05] NathHorrigan commented on #18831
@wardpeet  Bump

[2020-02-08 22:22] fullofcaffeine commented on #21079
I ended up abandoning this approach. The main problem is that it's harder to configure postcss as part of the inline configuration and honestly, I was tired of so much work for so little gain. The culprit here is the `Typography.js` and its ìnjectStyles` method. I wish it provided a way to more easily integrate it into more traditional css pre-processing pipelines, like SASS.

The solution I found

[2020-02-08 23:00] chris-s-friedman opened #21301 "text in tutorial referrs to nvm, not npm"
## Summary

The code block under [Set default node.js version](https://www.gatsbyjs.org/tutorial/part-zero/#set-default-nodejs-version) refers to `nvm`, not `npm`.

### Motivation

To make the code block refer to the correct command

### Draft the doc

[code]
### Open a pull request

- [ ] Open a pull request with your work including the words "closes #[this issue's number]" in the pull request de

[2020-02-08 23:39] TylerBarnes commented on #20903
Hi @expatguideturkey , the whole team has been away for the last week or so as we were in LA for Gatsby Days and the Gatsby internal gathering.
I just checked out your repo on the plane home, and I was able to fix the problem for you. Luckily the solution is quite simple!
https://github.com/TylerBarnes/expat-repro

When you're creating your pages, you should use `decodeURIComponent()` to decode th

[2020-02-08 23:39] #20903 closed

[2020-02-08 23:46] TylerBarnes commented on #20981
@vladar, I'm sure there's a way but it would be decently complex and site-specific. A custom normalizer could be used to rename the problematic typenames but it would likely need to be a recursive script that could get expensive. I'm glad we'll be deprecating using Gatsby and the REST API, because there are many problems like this that we can't reasonably account for on our side that are inherent

[2020-02-08 23:49] Js-Brecht commented on #21079
Ah, yeah, I can see that being a pain.

Just a couple more ideas:

- You could probably automate that process during the build.  You can use `typography.toString()` to generate the css as a string (works in node), and then just dump that to a very specific `.scss` or `.css` file which can be imported at any point in your scss chain.

  - You could then use [react-typography](https://github.com/Kyl

[2020-02-08 23:53] TylerBarnes commented on #20530
Hi @michaelmccann , apologies for the late reply on this. I've been very busy working on a new version of `gatsby-source-wordpress` which uses WPGraphQL instead of the REST API, precisely to fix the kinds of problems you're seeing here which are inherent to using an untyped REST API as a source. I had a quick look and I believe you're having the same problem as this issue https://github.com/gatsby

[2020-02-08 23:53] #20530 closed

[2020-02-09 00:04] #20370 closed

[2020-02-09 00:04] #20328 closed

[2020-02-09 00:04] KyleAMathews commented on #21301
`nvm` is correct. It's a tool to let you change node versions.

https://github.com/nvm-sh/nvm

[2020-02-09 00:04] #21301 closed

[2020-02-09 00:05] KyleAMathews commented on #21301
Thanks for contributing!

[2020-02-09 00:14] chris-s-friedman commented on #21301
oof I feel so foolish for not googling that first 🤦‍♂ Thanks!

[2020-02-09 02:21] cif opened #21304 "Why does any query wrapped in graphql-tag get validated at build time?"
My team is working on a "hybrid" web client, which requires queries to be run against a remote endpoint/schema at runtime (Auth, persona, account info), along side queries intended to run against static build data sources (Image, CMS, config).

@jlengstorf put together a seemingly clear approach to this https://github.com/jlengstorf/gatsby-with-apollo, however it seems as of gatsby@2.19.12, any of

[2020-02-09 02:37] ooloth commented on #17427
@teoboley In my case, I'd forgotten to add `gastby-plugin-typescript` to the `plugins` array in `gatsby-config`. 🤦‍♂

Once I added that line, everything works and I'm able to import and use `.tsx` components in my `.mdx` files.

[2020-02-09 03:13] ryparker commented on #15601
I seemed to get it to work in my project. This issue was only causing one of my modules (recharts) to fail at build time.

What seemed to fix it on my end was doing the following:
`yarn add core-js` - installs the latest core-js @ v3+

Replacing `gatsby-node.js` with:
[code]

This may not work for anyone else but it did for me.

[2020-02-09 07:03] b0nbon1 commented on #21255
@tesseralis  Awesome, interested in contributing I'd like to grab it.

[2020-02-09 07:05] tesseralis commented on #21255
@b0nbon1 sure, go ahead!

[2020-02-09 11:32] as703 opened #21307 "gatsby-background-image - no blur effect with art direction / image array"
## Description

I'm using gatsby-background-image to generate a hero image. As per the instructions regarding Art Direction, I have two images (one desktop and on mobile) that I source using graphql and define in an array with a media key per image which is then passed to the fluid prop of background image.

The correct (i.e. responsive to viewing port) image is displayed but there is no blur-up w

[2020-02-09 12:00] qinyiyao opened #21308 "Dark color scheme for favicon & apple-touch-icons with gatsby-plugin-manifest"
## Summary

Some websites are now supporting dark favicon & app icon when the device color scheme is dark. Some [tutorials](https://jross.me/updating-your-website-favicon-dynamically-with-dark-mode/) suggest switching files sources with head script. You will need to refresh and empty cache multiple times to reproduce the effect.

### Basic example

[nytimes.com](https://www.nytimes.com): In Safari

[2020-02-09 12:45] moroshko commented on #19512
Hey @pvdz,

I have a fairly small (<100 pages) site where `gatsby build` (both locally and in CI) fails on Node 10.16.3 with:

Repo is [here](https://github.com/moroshko/basis) and failing build is [here](https://github.com/moroshko/basis/runs/434461824).

Any hints to what may cause the failure?

[2020-02-09 13:08] #21117 closed

[2020-02-09 13:30] Behinder commented on #3460
My issue is I see html property but there is no way to access frontmatter 👎

[2020-02-09 13:37] varya commented on #16865
Is this still actual?

[2020-02-09 13:52] jlkiri opened #21311 "[gatsby-transformer-remark] timeToRead is wrong for Chinese/Japanese texts"
## Description

`timeToRead` is wrong for Chinese/Japanese texts. Although basic support for C/J was provided in #17988, `timeToRead` value is twice or even more than the expected value (by a native reader), and so cannot be relied on in *production*. The reason is because currently all it does is count characters, while many words in both languages consist of *more than one* character.

### Steps

[2020-02-09 15:19] langri-sha commented on #20040
@wardpeet I need to programmatically talk to an X.509 PKI API to issue the server certificate signed by a trusted authority.

Previously I have patched `http.createServer` when the configuration was loading with a handler that fetched these and started an HTTPS server, but that seems to have stopped working with migrating to TS. I'm going to take a look at what APIs are available to see if I can l

[2020-02-09 16:33] doriclaudino opened #21313 "wrong links using example for pathPrefix"
## Description

build using path prefix don't work as expected

### Steps to reproduce

1 - fork gatsby repository
2 - go to the pathPrefix example folder and install all dependencies
3 - run gatsby build --prefix-paths
4 - run gatsby serve
5 - click on links and see the errors

### Expected result

open a new link and show the component render return

### Actual result

links are broken

not work

[2020-02-09 16:53] KVexcavator commented on #18048
I will fix it -  npm install core-js@3

[2020-02-09 17:16] DanielRuf commented on #18048
How is this related to `react`?

[2020-02-09 17:53] Js-Brecht commented on #21300
This doesn’t really apply to Gatsby.  It’s a [`vscode-eslint`](https://github.com/microsoft/vscode-eslint/issues) thing

[2020-02-09 18:30] pvdz commented on #19512
@moroshko that sounds interesting. 100 pages shouldn't trigger that, although it might depending on what's in there. Have you tried expanding the available memory? (`node --max_old_space_size=2000 node_modules/.bin/gatsby build`) I'll try to have a look at it this week.

[2020-02-09 18:40] pvdz commented on #3406
@dandv hm, no, this kind of thing is not why you move to Gatsby Builds. Can you please open a new issue for your example and assign it to me? If you can offer me a repo with a repro (something that `gatsby build`s) I can have a look. (Note that "run queries" can be a little misleading. For example, when paginating multiple pages per output page it might still report a single query. So 3 queries an

[2020-02-09 18:41] pvdz commented on #3406
For future reference, if you stumble upon this issue because you are experiencing "slow builds", please open a separate ticket and assign it to me. A repro repo, preferably minimal repro, is your fastest ticket to triage. I'm going to lock this ticket.

[2020-02-09 19:21] teoboley commented on #17427
@ooloth Thanks for the tip - I've been using [gatsby-plugin-atl](https://www.gatsbyjs.org/packages/gatsby-plugin-atl/) since it adds type checking to the compiler instead of relying on the editor.

I'll see if I can look into getting that to work in a similar way, regardless I'm glad you figured it out for your use-case 👍🏻.

[2020-02-09 20:51] willpaige commented on #21212
Fixed my issue by following this suggestion - https://github.com/gatsbyjs/gatsby/issues/16455#issuecomment-520710861

[2020-02-09 21:01] langri-sha commented on #20040
I was able to patch `https.createServer` this time with `--https --key-file=/dev/null --cert-file=/dev/null`. Did try to find a viable alternative during the bootstrapping phase to avoid patching or providing a platform-specific solution to avoid having Gatsby generate the credentials, but wasn't able to find anything that could lend a hand.

I'd like to help out with a PR if someone has a suggest

[2020-02-09 21:19] moroshko commented on #19512
@pvdz Increasing the available memory helped the build to pass locally. But, I couldn't find how to increase the memory in CI (GitHub actions).

[2020-02-09 21:38] JR-Carroll commented on #15724
Not sure if anyone is still monitoring this thread, but I am occassionally getting this same (similar, but different) error.

As others have said, stopping `gatsby develop` and then `rm -rf .cache` fixes, but about every 3rd or 4th time of running `gatsby develop` I get this error, and if I don't catch it, it breaks production build pipelines...

Did anyone ever find a (more perm) solution for thi

[2020-02-09 21:51] lablancas commented on #20954
I was having the same issue, but removing `gatsby-plugin-offline` and installing `gatsby-plugin-remove-serviceworker` fixed the issue for me. Looking forward to adding this plugin back into my site when this issue is fixed.

[2020-02-09 22:26] MTyson commented on #7086
I ran into this after installing the background plugin.  Using yarn instead of npm fixed there also.

[2020-02-09 22:28] #21259 closed

[2020-02-09 23:19] muescha commented on #21301
this issue point out that the doc is missing a short sentence here to explain what is the `nvm` tool

[2020-02-09 23:42] erichodges commented on #17826
@gpspake I'm having this issue as well, were you able to fix it?

[2020-02-09 23:48] iamskok opened #21319 "Theme-UI react-live code block component"
I'm working on MDX code block component based on [theme-ui-gatsby-plugin](https://theme-ui.com/packages/gatsby-plugin/),
[prism-react-renderer](https://github.com/FormidableLabs/prism-react-renderer) and [react-live](https://github.com/FormidableLabs/react-live).

At the moment there are a couple of things I'm trying to figure out and
will appreciate any input:

1. What's the best way to reuse the

[2020-02-09 23:57] tesseralis opened #21320 "(docs) Reorganize content for "Docs Contributions""
## Summary

Reorganize and split up the content of ["Docs Contributions" page](https://www.gatsbyjs.org/contributing/docs-contributions/) and related pages for clarity.

### Motivation

When I looked through the "Docs Contributions" page, I found it confusing and its content mixed in and repeated with other pages such as ["Doc and Website Components"](https://www.gatsbyjs.org/contributing/docs-and

[2020-02-10 00:07] tesseralis opened #21321 "(docs) Split up Docs Templates into different pages"
## Summary

Split up [Docs Templates](https://www.gatsbyjs.org/contributing/docs-templates/) into different pages for each type of template.

### Motivation

The table of contents for this page is already really long and doesn't lead to a lot of discoverability. It's not clear what "docs templates" are, and if I want to write a specific type of doc, I don't know what to look for. If they're split

[2020-02-10 00:24] matanui159 commented on #19870
I moved onto other projects and haven't touched Gatsby for a while but is there a reason why this doesn't work out of the box or why it can't be fixed?

Seems kind of silly (imo) that this does not work without workarounds, especially since they're both [official plugins](https://github.com/gatsbyjs/gatsby/tree/master/packages) recommended by the [docs for creating a PWA](https://www.gatsbyjs.org/

[2020-02-10 01:10] tesseralis opened #21323 "(www) Split up docs and blog page creation"
## Description

Split up the logic for creating pages for docs and blogs.

## Motivation

Both docs and blog posts are MDX files with the same source, but they usually have different logic associated with them, leading to a lot of branched paths and queries [based on path](https://github.com/gatsbyjs/gatsby/blob/master/www/src/pages/blog/tags.js#L227).

Relying on `allMdx` for all these queries ma

[2020-02-10 02:03] tesseralis opened #21324 "(docs) Remove links in docs/ and contributing/ sidebar that aren't part of their hierarchies"
## Summary

Remove links from docs/ and contributing/ that aren't part of their hiearachies: for example, the links to "Starter Library" and "Plugin Library" near the top of the docs sidebar.

### Motivation

These links break the flow of the sidebar as a list of organized contents. It can be jarring to click on a link in the sidebar and be taken to a completely new page, or to click on doc pages

[2020-02-10 02:33] arun-is commented on #21263
I have the same exact issue, with the same steps that @garrison0 listed out.

[2020-02-10 02:43] arun-is commented on #21263
@garrison0 what is the file name that you are using for the new page? Are you sure it matches that path that you are linking to? For example, did you make a `foo.js` and then link to `/foo`? I found if I make a `Foo.js` and then link to `/foo`, I see the error you are seeing

[2020-02-10 03:45] ezezezezez opened #21326 "[gatsby-remark-images]Figure caption not aligned under image when showCaptions is true"
## Description

Related docs: https://www.gatsbyjs.org/packages/gatsby-remark-images/

When using the plugin `gatsby-remark-images`, in `gatsby-config.js`, if the option `showCaptions` is set to `true`, the wrapper `<figure>` element will not have the `max-width` style property even if the plugin option `maxWidth` is provided, such that the `<figure>` element will take up the full width of its con

[2020-02-10 04:28] stephaniedavidson opened #21329 "gatsby-source-contentful: how to use Gatsby Img with contentful rich text?"
## Summary
I'm accessing a **rich text** field from contentful (called "blurb") in a template like so:
[code]
in return(...)
[code]

In graphql it seems that the rich text images don't have the fluid property? How would I convert this setup to use gatsby's `<Img />` rather than regular img tag?

Tried `return <Img src={node.data.target.fields.fluid} />` but no dice

[2020-02-10 04:49] garrison0 commented on #21263
@arun-is

that fixed the problem, thanks

but why wouldn't something like this work? :

[code]

[2020-02-10 07:22] tesseralis opened #21331 "(www) Organize components in dot-org by section"
## Description

Organize the many components of the site based on the section that they fall under.

## Motivation

The components library is very big and disorganized, making discoverability difficult. A lot of components are specific to certain paths (like `showcase-details`) but are dumped into the main `components` directory. In addition, filtering out section-specific components will be benef

[2020-02-10 08:30] hristov296 opened #21335 "Unkown argument "fields", if I don't run `npm clean` first"
## Summary
Unkown argument "fields", if I don't run `npm clean` first

## Relevant information

I use `createNodeField` to create a custom field on the "file" type. It works fine, but the problem is that if I don't run `npm run clean` first, before `npm run develop`, I get this error every time. If I do `npm run clean`, then `npm run develop` everything works as expected.

[code]

### Environment

[2020-02-10 08:43] danspratling commented on #21133
Ah just as I thought! So as it’s a string, you can’t join it. You’ll probably just need to output it as it is to display all the keywords you need.

[2020-02-10 09:05] marconucara commented on #19518
@seanemmer Can you share more please?

[2020-02-10 10:10] Kiittyka opened #21339 "(docs) Highlight the Table Of Contents for more readability"
## Summary
The table of contents to the right of every page takes up space but is not highlighted enough to be used primarily.

### Motivation
When I looked through the docs, I did not notice it at first and I find it less helpful .

## Steps to resolve this issue
The scrollbar can either be highlighted or removed. If removed, it can be added to the main scrollbar on the left as hyperlinks which o

[2020-02-10 10:35] solid-studio opened #21341 "How to avoid generating extra unused files"
Hello, I'm following the gatsby tutorial https://www.gatsbyjs.org/tutorial/part-zero/

Which basically does a

That example gives you a single page that contains a div with Hello World.

I ran the **gatsby build** command and I got this.

![Screen Shot 2020-02-10 at 10 31 13](https://user-images.githubusercontent.com/56453782/74142405-b63e6c80-4bf0-11ea-8cb8-be697ef4c03e.png)
]

Does that means th

[2020-02-10 11:00] Jimbob001 commented on #20867
@vladar, it's going to be a while before I can get a minimal reproduction written; very short on time at the moment!

The example shown on stack overflow (via the link I posted) is pretty complete I think. Else hang tight and I will try and get one done at some point :)

[2020-02-10 13:04] aychtang commented on #15080
@KyleAMathews @peabnuts123

I don't understand how you can have consistency while deploying when there is no versioning of page-data.json files. This can cause issues with page content during deployments (especially if there are many pages and you are updating everything in place).

In our deployment system we can describe it with an initial state with two variables `pageDataVersion` + `pages` whe

[2020-02-10 13:46] jonathanconway commented on #2510
I got this error when I only had one sub-folder in my pages/ folder. Fixed it by adding another sub-folder, so that there was more than one sub-folder. Maybe it's related to the array fix @KendallWhitman found - something to do with Gatsby interpreting entries as an array vs. single object.

[2020-02-10 14:23] #20770 closed

[2020-02-10 15:23] thelovesmith commented on #13322
Can anyone help out with a solution to this error but with sourcing images from an api?

[2020-02-10 15:28] kamleshchandnani opened #21343 "TypeError: typeComposer.addInterface is not a function"
## Description

I'm using `gatsby-theme-blog` and after I updated my dependencies the project doesn't just stopped running and throws error `TypeError: typeComposer.addInterface is not a function`. In suspect the issue in `gatsby-node.js` but unable to mitigate what is the exact issue since it's difficult to identify from the error message. This issue was not happening before the dependencies upgr

[2020-02-10 15:40] thibautvs opened #21344 "Layout behaviour inconsistencies in production (Netlify)"
## Description

Several layout behaviour inconsistencies in production on my website (www.urge2code.com)

### Steps to reproduce

- **On the homepage** (www.urge2code.com), in the section "Featured Work", the video is too large (1240px instead of 1000px) and the title "Featured Work" is misaligned compared to the other section titles. Use the top menu to navigate to another page, then come back to

[2020-02-10 15:49] expatguideturkey commented on #20903
Hi @TylerBarnes thank you for your response. I tried this on posts as well but they are not loading

![image](https://user-images.githubusercontent.com/59199468/74165318-faa02b80-4c35-11ea-96cf-b74ffc08762b.png)

Below is the code I am using:
[code]

[2020-02-10 17:29] doriclaudino commented on #21313
It's not a bug on build.
The doc pages about --prefix-paths doesn't explain how to serve the build using prefix, only the links show and load the prefix url, the components don't.
check https://github.com/gatsbyjs/gatsby/pull/21314

[2020-02-10 17:29] #21313 closed

[2020-02-10 17:57] Cobwebster commented on #21228
It seems my plugin isn't injecting the code into the header tag? anything I can do to debug that?

[2020-02-10 19:13] KamranMaqbool opened #21346 "How to include .js(local javascript) files globally ??"
i'm converting static HTML template into Gatsby project. i'am inlude global css file in gatsby-browser.js file but i'am not sure where i include globally javascript (like main.js) files.
i have 4 to 5 .js files

![Screenshot from 2020-02-11 00-12-49](https://user-images.githubusercontent.com/53546053/74181542-59c86500-4c63-11ea-9bf4-7bbe7b19fa7a.png)

My mian.js like this

`$(function(){

// -----

[2020-02-10 20:11] aaronuurman opened #21347 "Is it possible to use 'gatsby-remark-graph' plugin with MDX?"
Is it possible to use 'gatsby-remark-graph' plugin with MDX?

[2020-02-10 21:17] #19035 closed

[2020-02-10 22:26] aaroncampos commented on #15601
Thanks for the above @ryparker .  Your fix builds for me, which is a step ahead of some of the other patches, in my experience.  But, once I try to add the [react-formio](https://github.com/formio/react-formio) library, I get these errors again:

[code]

Just reporting this in case it's of use to anyone.

[2020-02-10 23:08] pieh commented on #21296
It's not Gatsby directly that does that - it's React when it "hydrates" elements - React expects that DOM elements in SSR html match exactly what first render on the client/browser will be - if they don't match then it will lead to weird cases, that could explain what you are describing - check https://reactjs.org/docs/react-dom.html#hydrate for explainer on that.

I'm not sure if I ever tried usi

[2020-02-10 23:16] teisenhower commented on #19061
Hello,

Have there been any updates on this? I am helping with another project and they are having this same exact issue.

Develop mode shows no issues.

Build version flashes the raw HTML code within the `___gatsby` div

![window](https://user-images.githubusercontent.com/47988669/74198911-ac3c5e00-4c30-11ea-846a-08f611a12914.png)

[2020-02-10 23:23] pieh commented on #21343
This line https://github.com/kamleshchandnani/awesome-interview-process/blob/388bf0708c14392c07d3c5daaef2fb8957b6cc14/gatsby-node.js#L4 here should be `interface BlogPost @nodeInterface` (to unblock you).

But the error message is not great here and something we could fix

[2020-02-10 23:29] pieh commented on #21335
The commented out `// parentNodeId: node.id,` will make it so those file nodes will be garbage collected on next run. Was there a reason for commenting it out?

[2020-02-10 23:51] pieh commented on #21344
Cases like that:
![Screenshot 2020-02-11 at 00 47 30](https://user-images.githubusercontent.com/419821/74200770-1ae8de00-4c68-11ea-8c89-908b812e4308.png)
don't work well with SSR (because SSR doesn't have concept of viewport). It will render things like for mobile to .html file

And later on React hydration will mess things up because first render on the client will produce different DOM tree than

[2020-02-10 23:52] ascorbic commented on #20152
I'd be happy to look at a PR that changes this

[2020-02-11 00:03] pieh commented on #21341
`hello-world` is barebones starter, which lets you start your projects without any additional boilerplate that you need to remove. It isn't example of site people usually build as most of them have multiple pages (this needs routing) and are actually interactive (more js). So yes, to not have broken deploys you do need all of those files.

If you don't want / need to use javascript in your site th

[2020-02-11 00:08] pieh commented on #21329
I'm not sure if it's possible at the moment to use gatsby-image there :(

[2020-02-11 00:27] pieh commented on #21346
It's not advised to mix `jQuery` and `react` - generally better to convert jQuery code to react code.

That said - you can use `jQuery`, just make sure to not init things on "document.ready" event (in this block that usually everything is thrown into:

[code]

and instead init things in `gatsby-browser.js` in `onRouteUpdate` hook (this will make sure things will get initialized when you navigate t

[2020-02-11 00:33] pieh commented on #21346
But please, consider porting everything to react instead of trying to make jQuery work in Gatsby - it will work, but it will introduce problems:

- Users of your site will have to download twice as much of javascript (react + react-dom that gatsby normally uses + jQuery seperately)
- jquery and react are using 2 different paradigms, so anything more complex than example I showed will be hard to re

[2020-02-11 03:36] kunxi commented on #21066
I am interested in contributing the document.

I have tried the [Lunr](https://lunrjs.com) integration in this [blog post](https://www.kunxi.org/2020/02/adding-search-to-gatsby-via-lunrjs/).

It looks like the elasticlunr is no longer actively maintained, do you think integration lunrjs is acceptable option?

[2020-02-11 03:40] jlkiri opened #21357 "[gatsby-transformer-remark] Refactor wordCount and timeToRead to not count words twice"
## Summary

Currently words are counted twice, for each of `wordCount` and `timeToRead` fields. `wordCount` counts words as a custom step in the `unified` process, and `timeToRead` uses `lodash`. There might be a better way to unify the counting.

For example, solutions like [`retext-japanese`](https://github.com/muraken720/retext-japanese) could be used, but this particular library does not seem

[2020-02-11 04:42] mojovski opened #21360 "How can I use a standalone HTML file as page?"
Hi,
I would like to integrate an automatically generated HTML page from Facebook's Hiplot as an iframe.
However, I don't see a way on how to setup Gatsby to enable direct access to the HTML file.
Similarly to put the file in some published directory and then access it via
[code]

Thanks a lot for your support!

[2020-02-11 05:05] kamleshchandnani commented on #21343
Whoop that fixed the problem. Thanks for the quick response @pieh 🙌

Curious in which version this got changed? This was working on 2.15.x. Also is this documented somewhere? I would like to understand about the decision to move away from `implements node` to just the `@nodeInterface` directive. It's confusing because

[code]
`BlogPost` just uses directive but `MdxBlogPost` uses `implements Node`

[2020-02-11 05:10] jonniebigodes commented on #21360
@mojovski see if [this](https://github.com/gatsbyjs/gatsby/issues/17761#issuecomment-533816520) helps you.

[2020-02-11 05:29] naoya7076 opened #21361 "Two types notation of e-commerce"
# Summary
Gatsby docs have two types notation of e-commerce and ecommerce.
[code]
Which type of notation is we should use?

[2020-02-11 06:18] piyushkantm commented on #21253
Hey Guys, anyone can help me with this? This seems an issue with Gatsby and causing problems if you want to apply different styles on body on different pages.

[2020-02-11 06:25] ehannes commented on #6291
@pvdz any updates on this issue? Still have massive problems with this...

[2020-02-11 07:24] hristov296 commented on #21335
That fixed it! I don't remember anymore why I have commented it out. I must have forgot it like that after some test

[2020-02-11 07:24] #21335 closed

[2020-02-11 07:52] lmuntaner commented on #13454
This issue has been stale for a while.

We are considering using Gatsby for a project but we need AMP support. After my first test it seems that `gatsby-plugin-amp` is doing the trick.

However, I would like to know whether there has been some updates regarding AMPs an Gatsby.

@tomoyukikashiro did you stop working on this?

Thanks!

[2020-02-11 08:41] andrico1234 commented on #21296
That's very useful to know! I'll try and create a reprocase.

[2020-02-11 08:43] pvdz commented on #6291
@ehannes A new version of Sharp was released (with new binary) that is supposed to fix some-if-not-all of these problems. Unfortunately it is released with a minimal nodejs version of 10 (due to EOL of node 8) and Gatsby can not bump the minimal to node 10 right now (but soon...). Meaning we can't bump Sharp at the moment to make use of these improvements.

Of course, you can try to install it loc

[2020-02-11 08:51] thibautvs commented on #21344
Hi @pieh,

Thx very much for the info!

Do you have any recommendations on best practices regarding responsive web design with Gatsby? Should I get rid of React Responsive altogether?

Thx!

[2020-02-11 08:55] ehannes commented on #6291
@pvdz I thought this bug was still present in the new Sharp version. You wrote this a month ago:

[2020-02-11 09:05] pvdz commented on #6291
@ehannes yeah, and that was reported upstream, and I think there was a new release about a week ago (or two weeks?). I haven't had time to investigate. We (Gatsby) had a meetup in the US last week. No worky worky in the US for us EU people. Just haven't gotten around to it beyond that, will try to report back this week.

As for the node10 concern; the problem I mentioned is not so much the repro b

[2020-02-11 09:11] fk commented on #19115
Fixed in #21240 / #21276 — TL;DR: Moved `www`'s `theme-ui` theme to `gatsby-design-tokens`, adjusted `www` in #21276. We are now importing tokens directly from the theme instead of from `www/src/gatsby-plugin-theme-ui`, e.g.:

- before: `import { mediaQueries } from "../../../gatsby-plugin-theme-ui"`
- after: `import { mediaQueries } from "gatsby-design-tokens/dist/theme-gatsbyjs-org"`

/cc @tesse

[2020-02-11 09:11] #19115 closed

[2020-02-11 09:46] bernharduw commented on #8357
This is now fixed with the Gatsby v2.19.15 release! 🎉

@reach/router v1.3.1 has the corresponding fix.

[2020-02-11 10:08] RapidOwl commented on #13918
I've got this issue right now. Cloned the Hello World example a couple of hours back and been trying to get HMR working ever since.

The request to `http://localhost:8000/__webpack_hmr`  shows as pending in the Chrome dev tools and then changes to cancelled after a while. The CLI is definitely rebuilding my site and when the rebuild happens, Edge flashes up a localhost request as if it's doing som

[2020-02-11 10:12] jsbrain commented on #13454
I am also very interested in that and could try to help with implementation!

[2020-02-11 10:22] robmarshallhome opened #21362 "[gatsby-plugin-google-tagmanager] Custom events, rather than limited to 'gatsby-route-change'"
The Google Tag Manager plugin currently uses a hardcoded event on a page change: 'gatsby-route-change'.

https://github.com/gatsbyjs/gatsby/blob/79326a5f26e1a79610849d3992e44a6c7afbec7d/packages/gatsby-plugin-google-tagmanager/src/gatsby-browser.js#L12

To allow more flexibility, it would be great for users to add their own event for this. This could be managed within gatsby-config.js.

If this is

[2020-02-11 10:25] a-botermans commented on #8357
I confirm that it is fixed in the test case I created with latest Gatsby Release https://github.com/a-botermans/test-case-history-bug

[2020-02-11 11:55] wardpeet commented on #21362
Hi,

could you explain why this would help your use case? You can add any tag to an event if I'm not mistaken so you should be just fine with gatsby-route-change.

[2020-02-11 13:20] pieh commented on #21344
At the moment I don't have advice other than to try not to use `react-responsive` (or other solutions that let you render different things based on viewport) and try to use media queries just in styling (so single component tree for all layouts and every difference between desktop/tablet/mobile is done via styling).

There might be a way to workaround this `react-responsive` issue (by somehow forc

[2020-02-11 13:40] vladar commented on #20943
@afc163 Looks like you have a different issue. Many of your types implement `Node` interface when they shouldn't ([link][1]):

[code]

All of those types are not nodes. If you want them to be nodes you must **actually** provide all the fields required for nodes (`id`, `internal`, etc). See [corresponding section in docs][2].

I bet you can reproduce this error on `gatsby@2.19.5` as well if you run

[2020-02-11 13:59] jlkiri commented on #21311
#21312 merged

[2020-02-11 13:59] #21311 closed

[2020-02-11 14:28] #20943 closed

[2020-02-11 14:32] brandondurham opened #21368 "Scrollabe element scrolls to top on route change"
I have a `<nav />` element in my `Layout.js` file that is scrollable via `overflow: auto;`. When scrolling to the bottom and clicking a nav item, the route updates and my scrollable nav scrolls back to the top, pushing the clicked nav item back offscreen.

Possible to avoid this?

### Environment (if relevant)

  System:
    OS: macOS 10.15.2
    CPU: (8) x64 Intel(R) Core(TM) i7-4790K CPU @ 4.00G

[2020-02-11 14:59] chrisui opened #21370 "gatsby-plugin-sharp - how to set cover position?"
## Summary

Currently when using the plugin I am seeing a bad crop. Looking at sharp documentation with the default fit as `cover` (great) I should be able to set a position to anchor this to (ie. I want `top` not the default `center`).

I can't seem to see this documented in the plugin?

## Relevant information

See docs

https://sharp.pixelplumbing.com/api-resize#parameters

https://www.gatsbyjs

[2020-02-11 15:03] dnakhla commented on #19488
@chandlervdw check to see if perhaps you have a div with 'overflow' set to auto or scroll. I tihnk this would require you call ScrollTo on the div not the window

[2020-02-11 15:04] vladar commented on #20069
@graygilmore Sure, go for it! I don't think Shopify types are that complex.

One approach that worked for me in the past was to use [`gatsby-plugin-schema-snapshot`](https://www.gatsbyjs.org/packages/gatsby-plugin-schema-snapshot/) on a site with source plugin and use those snapshots to extract types for schema customization API.

Thanks for offering help and feel free to ping me if you need advic

[2020-02-11 15:19] Behinder commented on #9267
This is not the solution. I have template in folder "templates" and frontmatter is still not detected. Rebuilt site twice and no effect.

[2020-02-11 15:57] connorlindsey commented on #21329
This plugin might be helpful: [gatsby-remark-images-contentful](https://www.gatsbyjs.org/packages/gatsby-remark-images-contentful/?=contentful). I haven't used contentful a lot, but thought I'd share it.

[2020-02-11 16:02] mrlubos commented on #7074
Bump bump

[2020-02-11 16:08] #18661 closed

[2020-02-11 16:22] jonniebigodes commented on #9267
@Behinder could you make a reproduction with your code and packages you're using, following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be better looked at? I'm more than happy to take a look at it.

[2020-02-11 16:42] Behinder commented on #9267
Nah, it's too much effort. I'll stop the project and wait if bug goes away
in 2.1

On Tue, Feb 11, 2020 at 5:22 PM jonniebigodes <notifications@github.com>
wrote:

[2020-02-11 16:43] FONDSMATIVE commented on #20812
Hi @sidharthachatterjee,

thanks very much for your reply!
After I got some more RAM on buddy.works for testing purposes, everything seemed to work fine with no RAM limitations on buddy.works! **But let us focus on Circle CI...**

Now back to the free Circle CI account, and as by @sidharthachatterjee suggested, I added some variables at Circle CI as following:
- **NODE_OPTIONS=--max_old_space_size

[2020-02-11 17:03] spielers commented on #21142
can anyone tell how can I get started ??

[2020-02-11 17:31] jonniebigodes commented on #20624
@cristianaortiga do you still have time to address this?

[2020-02-11 17:52] vladar commented on #20671
@MartinMikusat Sorry for the delay with response.

You have a couple of viable options here:

1. Create a separate component for a full list of items with a [static query](https://www.gatsbyjs.org/docs/static-vs-normal-queries/). And only fetch individual item data on every page.

2. Have a separate component for a list but fetch JSON data [outside of GraphQL](https://www.gatsbyjs.org/docs/using-g

[2020-02-11 17:59] MTyson commented on #12818
using fixed worked for my case, but I'm not sure WHY exactly :P

[2020-02-11 18:11] TheFirstMe commented on #20575
@sidharthachatterjee I just found out the issue and it was so silly. The query above was used to display images of all members of a group. I used another query to get images of a subset of people from the group. But in the new query, the quality was set to 100. I feel so stupid now. Sorry for any trouble caused. I am closing this issue now.

[2020-02-11 18:11] #20575 closed

[2020-02-11 18:42] solid-studio commented on #21341
thanks a lot

[2020-02-11 18:47] vladar commented on #21343
The issue is that `BlogPost` is by itself an interface (not an object type):

[code]
It is defined [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-theme-blog-core/gatsby-node.js#L48-L57). `@nodeInterface` is just a workaround in Gatsby for missing interface inheritance in GraphQL.

So ideally it would look like this:

[code]

But this is not supported in GraphQL yet (will be

[2020-02-11 19:11] vladar commented on #21304
I just tried https://github.com/jlengstorf/gatsby-with-apollo with the latest Gatsby and it builds fine for me. Can you share the steps to reproduce this?

[2020-02-11 19:19] vladar commented on #21286
What is your version of `gatsby`? You can run `gatsby info --clipboard` and then paste the result here.

[2020-02-11 19:27] stephaniedavidson commented on #21329
Ah I think this is what I need! Confused a bit though, so when I console.log out my rich text json (props.data.contentfulWork.blurb.json) I see the embedded-asset-blocks but when I look at their properties they don't have a fluid property?

[2020-02-11 19:36] vladar commented on #21272
Given what I see your field is defined as a single file instance (`File`) not a list of files (`[File]`):

[code]

You should not even receive `source` as an array there. I feel that I might be missing something or there is not enough information in your issue description. Can you provide a bit more context and ideally a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-re

[2020-02-11 19:41] vladar commented on #21251
May be also related: #19658

[2020-02-11 19:44] blainekasten commented on #21368
@brandondurham is there a public URL to see this in? Are you basically wanting to not auto-scroll to the top on route change?

[2020-02-11 19:45] blainekasten commented on #21370
I think this heading might help you out: https://sharp.pixelplumbing.com/api-resize#resize

e.g., what I think you want is `position: top`

[2020-02-11 19:48] blainekasten commented on #21168
I'm going to close this issue as I don't believe it's reporting a problem with Gatsby. I'm happy to keep the discussion going, so don't take this as a negative sign. Please report back if you need continued support! 😃

[2020-02-11 19:48] #21168 closed

[2020-02-11 19:50] blainekasten commented on #20642
Let's keep the scope of this issue to adding support for prism plugins to the `gatsby-remark-prismjs` 👍

[2020-02-11 19:59] blainekasten commented on #20177
@gtsop sorry for the delay!

What if the query is unnamed? We could choose some heuristics but that "magic" could get weird and non-discoverable. Or we could only match if there is a name for the query.

I don't think for tests you want auto generated data, you typically want idempotent data so your test is isolated to the code, not the fixture.

### However

The more I think about this I feel lik

[2020-02-11 20:06] klaasvw opened #21379 "Add support for JSON:API includes in the Drupal source plugin"
## Summary

Drupal's JSON:API module supports [includes](https://www.drupal.org/docs/8/modules/jsonapi/includes), a method for including relationships data directly, without requiring the consumer to follow the relationship links.

Supporting includes can be very powerful for big Drupal sites, especially those with complex relationships or using modules like Paragraphs. When combined with `disallo

[2020-02-11 20:10] blainekasten commented on #19914
@454de6e @bebbi this isn't a Gatsby problem per-se. It's a systemic problem with compiling and requiring and the tooling around it all. I don't have a far and wide solution here but I think what you might want to do is somehow signal to eslint not to look at these files. Ideas are you could add a `/* eslint-disable */` pragma to the top of the compiled file. Babel and webpack have hooks to prepend

[2020-02-11 20:10] #19914 closed

[2020-02-11 20:10] blainekasten commented on #19904
I'm going to close this issue as I don't believe it's reporting a problem with Gatsby. I'm happy to keep the discussion going, so don't take this as a negative sign. Please report back if you need continued support! 😃

[2020-02-11 20:10] #19904 closed

[2020-02-11 20:29] blainekasten commented on #19543
So i've spent more time researching this. I'm more convinced now that Gatsby is actually doing the right thing. For reference read this article: https://searchfacts.com/url-trailing-slash/

In addition, did you know that we have plugins for adding and removing slashes? I wonder if those would solve your needs instead of changing the way the codebase works. `gatsby-plugin-remove-trailing-slash`

[2020-02-11 20:30] mojovski commented on #21360
@jonniebigodes  thanks! This solved my problem.

[2020-02-11 20:30] #21360 closed

[2020-02-11 20:34] MartinMikusat commented on #20671
Thanks for the reply. I figured out something similar myself at the end but I have since redesigned the whole website completely, so unfortunately I can't show a working example of this for others. I guess I can close this issue now. Thanks again!

[2020-02-11 20:34] #20671 closed

[2020-02-11 21:00] jonniebigodes commented on #13322
@thelovesmith if you could share more insights on this it would be great. Better even if you supplied a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be better looked at. But based what you said, depending on the api you're using how you're fetching the data, the image(s) will need to be "physically" present in your

[2020-02-11 21:18] pieh opened #21382 "default export in gatsby-ssr/browser doesn't produce warnings"
Right now we produce error when there are named export in `gatsby-ssr` or `gatsby-browser` that don't match any of our API hooks ( https://www.gatsbyjs.org/docs/ssr-apis/ / https://www.gatsbyjs.org/docs/browser-apis/)

For example:

[code]

will produce

[code]

When there is default export:

[code]

We don't get any warnings or errors, but it won't ever be executed by gatsby. Behaviour for export

[2020-02-11 22:09] MLalek commented on #14673
I have deleted my package.json and it worked automaticly. I am so happy :-)

[2020-02-11 22:22] brandondurham commented on #21368
This is the site being built: https://5e4327994fb75d0194d5bf57--brave-sammet-902b00.netlify.com/chapter/the-burial

You’ll see the numbers on the far left are independently scrollable via `overflow: auto;`. If you scroll down and click on 18, you’ll see that both the page AND this scrollable element are scrolled back to the top. I want the page to scroll to top, but not this scrollable element.

[2020-02-11 22:44] vladar commented on #21212
Here is an actual error (swallowed by gatsby catch block [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/query/file-parser.js#L442)):

[code]

So it is definitely #20330 causing this.

CC @jfrolich

[2020-02-11 22:55] cif commented on #21304
Interesting, could a plugin be failing the build?  As you can see, we're using many. I'd have to eliminate those one by one or dig into source.  Unfortunately I can't share the repo experiencing the problem.

Given you were able to run that example seems clear this isn't a core Gatsby issue. I'll update this issue if I ever I ever happen across the problem but going to close it out. Thanks a lot f

[2020-02-11 22:55] #21304 closed

[2020-02-12 00:26] tesseralis opened #21383 "(i18n) Figure out how to translate site metadata description"
## Description

Figure out how to translate the description tag in `siteMetadata` in [www/gatsby-config.js](https://github.com/gatsbyjs/gatsby/blob/master/www/gatsby-config.js#L74). In general, figure out best practices for localizing strings that are provided in `gatsby-config` (e.g. through plugin configurations) since we don't have access to locale context here.

[2020-02-12 02:22] jfrolich commented on #21212
@vladar: can you share the exact file where this is happening? We can add a test and fix this situation.

[2020-02-12 02:34] vpicone commented on #20895
@mjmaurer errr did you mean to link to bernie sander's profile?

[2020-02-12 03:06] mjmaurer commented on #20895
Whoops! Maybe I was trying to figure out the `sizes` of some of his proposals (i give this joke 5/10)

[2020-02-12 03:55] immbudden opened #21388 "Template query only finding one data source from Prismic"
#20873
## Summary
Hi guys, still fairly new to graphql but I am trying to source data from prismic for a new page type on my site and am using `gatsby-source-prismic` v2 to do so (haven't upgraded to the beta yet).

For the new page type `prismicCaseStudy` is made up of some non repeatable data as well as slices and I have managed to follow prismic's tutorial on how to source the slice data, map t

[2020-02-12 04:13] wolfeidau commented on #20920
We are getting the same error on our builds of gatsby.

[code]

Looking for any tips on how to resolve it, this is only happening when we build in netlify at the moment. Local builds are 👍

[2020-02-12 05:16] ovsw opened #21392 "Error: The result of this StaticQuery could not be fetched."
## Description

Trying to run gatsby dev on heroku to use as a custom preview instance. This worked very well in the past.

Gatsby dev fails with Error: The result of this StaticQuery could not be fetched.

This seems to  be an issue with recent versions of gatsby (^2.18 or so, can't be exact here), since I have an instance running fine on the same environment which shows gatsby@2.13.35 as the ins

[2020-02-12 05:27] ashoksudani opened #21393 "Customise filename and path for generated page"
Hello,

I am building a small react web application where I need to create simply two pages 1)login.html 2)signup.html but both shares many components, considering this requirement of multiple entries from single page application kind of structure I am trying to use GATSBY.

But GATSBY generates html page as "login/index.html" while I need it to be "index.html" at root folder generated after "gats

[2020-02-12 05:55] iamskok commented on #21319
I misunderstood how prism-react-renderer and theme-ui work together. Theme-UI and prism-react-renderer have different theme formats, but can easily be converted in one another.

[2020-02-12 05:55] #21319 closed

[2020-02-12 06:16] sahandnayebaziz opened #21394 "What controls whether gatsby-plugin-sass inlines the resulting CSS?"
## Summary

I have two different Gatsby projects that I believe to be as similar as they could be without being identical, but one of them is getting a FOUC when deployed on Netlify and the other isn't. I think I've narrowed it down that the good one without FOUC is getting inline CSS like this (attached) but the other one isn't:

![Screen Shot 2020-02-11 at 10 13 58 PM](https://user-images.github

[2020-02-12 07:57] ovsw commented on #21392
Upon further testing, it appears the bug was introduced somewhere in Gatsby 2.18, as 2.17.17 still works fine.

[2020-02-12 08:14] Pet3ris commented on #20786
Unfortunately this inconsistency between my local gatsby implementation of the tutorial and Netlify is still blocking me for pushing out an update to my website. Locally I’m perfectly able to add a fields item to File graphql records, but Netlify doesn’t seem to accept that.

[2020-02-12 09:44] vladar commented on #21212
@jfrolich The line causing the error is this: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/query/file-parser.js#L352

For some reason `binding` is undefined there

[2020-02-12 10:04] ashoksudani commented on #17498
Hello People,

I am trying to customise name for html page generated. I am not able to achieve somehow. I am also creating pages using createPage API and onCreatePage event is not getting triggered. Is that the only way to customise name and path for html page generated .
My issue is https://github.com/gatsbyjs/gatsby/issues/21393

[2020-02-12 10:05] kmajzlik commented on #20897
Interesting. I had exactly same problem but it helped me..

[code]

[2020-02-12 10:10] kmajzlik commented on #20897
And hints:
- disable all not needed sources (really there is no need to node_type jsonapi endpoint...)
- you can filter for local only by enabling jsonapi_default (from jsonapi_extras module) and putting this(just example for files) to your settings.local.php
[code]

[2020-02-12 10:17] kmajzlik commented on #21379
Absolutelly looking for this.
Node -> Paragraphs -> Media -> Files.
I want to scan only node resource (and load only needed paragraphs/media/files).
Will test PR later this week.

[2020-02-12 10:18] kmajzlik commented on #21379
And just small note: look at jsonapi_extras module and its submodule jsonapi_defaults - then you dont need to specify it in Gatsby.

[2020-02-12 10:46] jessepinho commented on #11364
I just upgraded and am still experiencing the problem in my own repo. @ma-pe what library do you have v2.7.8 of? There is no `gatsby-source-contentful` with that version...?

[2020-02-12 11:02] zhandosweb opened #21395 "Custom Front Matter slugs using Gatsby Page Creator"
Hello!

Please, let me ask one question about Gatsby Page Creator plugin. https://www.gatsbyjs.org/packages/gatsby-plugin-page-creator/

If I'm using this plugin to create pages for MDX posts. Can I set slugs for my MDX-posts using permalink in front matter?

For example, I write into Front Matter something like this:

[code]

How I can set permalink (slug) written into Front Matter for Gatsby Pag

[2020-02-12 11:10] pvdz commented on #11364
@jessepinho are you saying the repro you posted is still having this problem with the above fix in place? I couldn't repro it anymore when it landed. But please let me know if you can repro it when all deps are up to date (it may help to just delete the `node_modules` entirely and make sure the package.json is up to date).

[2020-02-12 11:16] vpreponen commented on #11364
I assumed he meant 2.1.78. I also continued to experience the problem with v2.1.78 so I continued to use a work-around with legacy versions.

[2020-02-12 11:18] gtsop commented on #20177
@blainekasten

Fromt he docs:

Source
[code]

Test
[code]

The unit test tests the `PureHeader` component, however, the application will make use of the `Header` component. Thus, the code being used (`Header` component) is not unit tested. Since the `Header` component does three things (requests data, passes props to `PureHeader`, passes data to `PureHeader`) it isn't a good idea to assume it just

[2020-02-12 11:22] paschalidi commented on #9503
I run
[code]

and Netlify stop throwing an error

[2020-02-12 11:47] pvdz commented on #11364
@vpreponen The current published version is 2.1.85, can you check if you're still experiencing it with that version? (Is there anything blocking you from upgrading the patch bump?)

[2020-02-12 12:03] #20562 closed

[2020-02-12 12:03] #20469 closed

[2020-02-12 12:03] wardpeet commented on #21393
Hey,

We generate html so they have to be inside /login/index.html to achieve the /login/ url. We have a plugin called [gatsby-plugin-remove-trailing-slashes](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/) that achieves what you're trying to do.

I'm not 100% sure why it matters, you can always configure your webhost to support this with rewrite rules.

I'm marking this

[2020-02-12 12:03] #21393 closed

[2020-02-12 12:06] wardpeet commented on #21394
Hi,

It's a bit hard to know exactly what you're doing and what the difference is. Could you post a snippet of how you import your sass file and maybe a full list of plugins? I can't immediately see what's causing this. Sass isn't inlined by gatsby if not mistaken.

[2020-02-12 12:09] wardpeet commented on #20526
Thank you for creating the issue. Are you talking about specific providers?

The stackoverflow seems to have a nice list:

https://stackoverflow.com/questions/52051090/gatsbyjs-client-only-paths-goes-to-404-page-when-the-url-is-directly-accessed-in
[code]

[2020-02-12 12:40] wardpeet commented on #20562
You can create a webpack plugin and use the emit to support this.

This is a small snippet you can use
[code]

[2020-02-12 12:47] wardpeet commented on #21395
Hey, the gatsby-plugin-page-creator does not give you the option to do so.

You can do a similar thing in gatsby-node.js. More info can be found at https://www.gatsbyjs.org/docs/adding-markdown-pages/, you have to change markdown into mdx for your use case.

[code]

I'm marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to contin

[2020-02-12 12:47] #21395 closed

[2020-02-12 12:53] omarhachach opened #21396 "Internal Content not populated by gatsby-source-filesystem"
## Description

In the GraphQL query:

[code]

The `content` is `null` always.

### Steps to reproduce
Minimal Reproduction, set up gatsby-source-filesystem in `gatsby-config.js`:
[code]
Where `content/` directory holds a single file:
`content/file.html`

The file contains:
[code]

Now run `gatsby develop -p 3000`
and go to `localhost:3000/__graphql` and run the query.

### Expected result

[code]

[2020-02-12 12:57] expatguideturkey opened #21397 "How to generate custom urls for some wordpress blogs"
I have one clients WordPress website that has a nested WordPress website inside the main website. The main website blogs url structure is **www.domain.com/blog-content** and the nested website has **www.domain.com/nested-site-name/blog/blog-content**
when I am creating posts in Gatsby-node.js I have set below path
[code]
how should I create posts path for nested website blog. As the having the sam

[2020-02-12 13:03] wardpeet commented on #21392
Hey, does this only occur on heroku?

[2020-02-12 13:07] wardpeet commented on #20391
@anandtoshniwal currently the only way to have the same resolvers and schema is to run gatsby develop on a server which isn't recommended. At this moment we don't have a great solution for it. It's on our roadmap to look more into this.

[2020-02-12 13:13] wardpeet commented on #21388
Hi, I don't know much about prismic so it would be helpful to have a link to your repo and maybe your endpoint.

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to

[2020-02-12 13:16] wardpeet commented on #21212
Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll

[2020-02-12 13:18] wardpeet commented on #20773
Thank you for opening this, @muescha

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-02-12 13:20] wardpeet commented on #20777
Hey, I don't think it's something we can fix. It looks like an infinite loop that's happening with your import.

[2020-02-12 13:20] #20777 closed

[2020-02-12 13:29] wardpeet commented on #20779
you'll have to use a react-helmet to achieve this. Note that favicons are cached aggressively by the browser so your outcome might not be what you're hoping for.

I'm marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-02-12 13:29] #20779 closed

[2020-02-12 13:40] wardpeet commented on #21341
Thank you for opening this, @solid-studio

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-02-12 13:40] #21341 closed

[2020-02-12 13:45] jessepinho commented on #11364
@pvdz not the repro I posted, but a separate repo that I was trying to reproduce with that minimal repro I posted. Apparently it was a little too minimal 😆 Will look into this further. And yeah I used `v2.1.85`, and upgrade Gatsby to `2.19.16`.

[2020-02-12 14:04] zhandosweb commented on #21395
Thank you very much for your answer!

Yes, I know about gatsby-node.js. But it will be very nice, if we can set custom slugs and post templates using Gatsby Page Creator plugin.

And there Gatsby will be easy like Wordpress. And any noob like me can easily work with Gatsby))

Thank you again for your answer! You do the web better with Gatsby!

[2020-02-12 14:07] wardpeet commented on #13454
We don't have anything on our roadmap to support Amp out of the box. Can I ask what's the biggest reason why you would want amp support?

[2020-02-12 14:08] wardpeet commented on #8357
@bernharduw @a-botermans this means we can close this issue?

[2020-02-12 14:11] wardpeet commented on #21344
Thank you for opening this, @thibautvs

As @pieh suggested, it's better to rely on css media queries. It's okay to use display block and none to hide things from the user. You can use react-responsive somewhere below on your page which only becomes visible after scrolling so users won't see any of the flickr effect but a rule of thumb is to use css instead.

We're marking this issue as answered an

[2020-02-12 14:11] #21344 closed

[2020-02-12 14:14] jsbrain commented on #13454
Amp is a highly relevant feature in terms of SEO optimization which could lead to advantage over competitors to rank better in SERP. Even that static generated pages are already blazing fast in terms of SEO this can make a difference.

[2020-02-12 14:15] wardpeet commented on #21346
Thank you for opening this, @KamranMaqbool

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-02-12 14:15] #21346 closed

[2020-02-12 14:16] wardpeet commented on #21253
Hi @piyushkantm,

Your git repo is unavailable, it's probably marked private.

[2020-02-12 14:19] wardpeet commented on #21357
Hi, looks like you fixed your issue youreself which is ace! 💯 👏

Thank you! I'll be closing this issue, if this is not the case feel free to re-open or re-create it.

[2020-02-12 14:21] piyushkantm commented on #21253
@wardpeet Hi,

My apologies, I have made it public now.

[2020-02-12 14:22] laurieontech commented on #21361
Thanks for your question! You're correct that this should be consistent. `e-commerce` is best. Feel free to open a PR if you'd like and we can make the change.

[2020-02-12 14:23] david-nossebro commented on #20573
Still needed.

[2020-02-12 14:41] jlkiri commented on #21357
Ah, sorry, that PR was fixing the other issue and simply mentioned this one. This one is not resolved yet, but I'm working on it.

[2020-02-12 14:44] zhandosweb commented on #21395
Sorry sir, and let me one question again.

Can I set a post template file using Gatsby Page Creator plugin?

For example, in gatsby-node.js we set Blog Post template like this: `const blogPostTemplate = path.resolve(`src/templates/blogTemplate.js`)`

Can I set Blog Post Template using Gatsby Page Creator plugin? Or my MDX-posts using no layouts? (empty template, and only clean text in browser XD)

[2020-02-12 14:51] zhandosweb commented on #21395
Sorry sir, and let me ask one question again.

Can I set default posts Layout using Gatsby Page Creator plugin? Or my MDX-posts don't have a layout, and in-browser I can see the only plain text?

For example, in gatsby-node.js we set default Blog Post Template with the command: `const blogPostTemplate = path.resolve(`src/templates/blogTemplate.js`)`

Can I do something with Gatsby Page Creator plu

[2020-02-12 15:15] thibautvs commented on #21344
Hi @pieh and @wardpeet,

I'll resort to good ol' media queries then!

Thanks for the help!

[2020-02-12 15:23] pvdz commented on #11364
@jessepinho ok, if you manage to get another repro repo or test case please share it and I'll have a look and try to fix it :)

[2020-02-12 15:50] mjmaurer commented on #21329
I think to properly support this, the json of the rich text would [have to be parsed here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/extend-node-type.js#L521).

For each `embedded-asset`, `embedded-block-entry`, and `embedded-inline-entry` in the json; the entry/asset could be included as a `children` of the rich text graphql node. I think this is possibl

[2020-02-12 16:13] superfunkminister commented on #13946
Also having this problem!

[2020-02-12 16:20] ovsw commented on #21392
@wardpeet that's where I encountered it. I don't know if it's limited to heroku.

[2020-02-12 17:06] a-botermans commented on #8357
For me yes :)

[2020-02-12 17:10] coreybruyere commented on #18418
Sorry, not really following what's going on here. I've set up Gatsby Cloud with the same contentfull env variables I'm successfully using in Netlify.

Now when making PR's into my development branch on Github the Gatsby Build Service is failing.

[2020-02-12 17:26] immbudden commented on #21388
Thanks for the reply @wardpeet - apologies, I forgot to include the link to the repo : https://github.com/immbudden/Lanyon

[2020-02-12 17:37] cushmatt commented on #11243
Yes, this is pretty annoying.  It seems to happen if you don't put the full string in the Link component itself and substitute via templating or any kind of substitution.  I'm grabbing the link from an array of objects in the same file as I need to map over it to be able to use React Spring's "useTrail" animation.

It's pretty annoying that my console is flooded with these warnings and I have to l

[2020-02-12 17:44] pieh commented on #20579
So I tracked this down to https://github.com/gatsbyjs/gatsby/pull/1264/files#diff-02e206f053c7858936f4ee6d70bdecf0R68 (so it's been like that for a long time and wasn't changed since). As to why - this is lost in translation (at that point in time it was mostly Kyle working on code, so pull requests were not very detailed in explanations).

I think it should be safe to make it at least empty strin

[2020-02-12 17:54] pieh commented on #20579
So I think we will accept PR that will change `" "` (single whitespace) to `""` (empty string) fallback in https://github.com/gatsbyjs/gatsby/blob/1e2813ceb742a7ecdfb564084e0889cd4b3d748f/packages/gatsby-source-contentful/src/normalize.js#L224

If anyone is interested in working on that

[2020-02-12 17:55] mrseanbaines commented on #20579
Awesome! I can do that 🙌

[2020-02-12 18:00] jamesgrubb commented on #9214
Hi, I think I am using the same useContext hook tutorial. I wonder was it necessary to include the currentTrackIndex, and the isPlaying in the useEffect to get this working?

[2020-02-12 18:02] sahandnayebaziz commented on #21394
Hi @wardpeet! Of course. I added the plugins in my config in the original issue, here's the full list of plugins in my package.json:

[code]

and this is how I import my sass file:

<img width="485" alt="Screen Shot 2020-02-12 at 10 02 22 AM" src="https://user-images.githubusercontent.com/909340/74363118-c5532500-4d7e-11ea-9bb9-5e87aa2bbbdc.png">

[2020-02-12 18:04] sahandnayebaziz commented on #21394
This is all I believe I have in either project (and in others that have worked too), and this is what is resulting in the style tag with everything in it inline for one project, but not the other. I actually _want_ this inlining behavior because it's preventing a FOUC but I can't figure out how to make it happen in the project that it's not happening in

[2020-02-12 18:06] sahandnayebaziz commented on #21394
I tried looking into the source of `gatsby-plugin-sass` but couldn't immediately answer this question: _is there_ any sort of switch or conditional in that plugin that sometimes makes it inline a style tag in the head and other times makes it just leave a link to a .css file?

[2020-02-12 18:14] immbudden commented on #21388
After a bit more delving I realised the issue. I needed to be passing over `prismicCaseStudy` rather than `allPrismicCaseStudy` as well as change where `const doc` was pointing.

Revised section below should anyone ever do something similar.

**Code**
[code]

**Query**
[code]

[2020-02-12 18:14] #21388 closed

[2020-02-12 18:29] n8finch opened #21405 "Write a Tutorial from WordPress with WP GraphQL"
## Summary

Over the weekend, I put some time in getting a [WPGraphQL starter together for Gatsby](https://www.gatsbyjs.org/starters/n8finch/wp-graphql-gatsby-starter/). I’d noticed the other WordPress starters were based on the gatsby-source-wordpress plugin, and not the using gatsby-source-graphql or the WP GraphQL plugin… Bummer!

Also, I noticed there wasn't a tutorial for this. I'd like to wr

[2020-02-12 18:48] sidharthachatterjee commented on #14173
Closing this in favour of https://github.com/gatsbyjs/gatsby/issues/10049

[2020-02-12 18:48] #14173 closed

[2020-02-12 18:53] sidharthachatterjee commented on #21027
Unfortunately, the only fool proof way to really revert changes from `gatsby-dev-cli` is to `rm -rf node_modules` at the moment

Feel free to open a PR adding that to the `README`. Thanks!

[2020-02-12 18:59] sidharthachatterjee commented on #20938
@Monsiter When `gatsby build` is run, your code is rendered via React SSR in which case cookies would be unavailable and hence that class is rendered.

[2020-02-12 19:06] sidharthachatterjee commented on #21091
Have you tried using [createRedirect](https://www.gatsbyjs.org/docs/actions/#createRedirect) along with `statusCode` set to 410?

[2020-02-12 19:07] sidharthachatterjee commented on #21110
My best guess is the timeout is a result of some request limiting on Shopify's end. Can you paste the specific error you're seeing? Maybe that'll shed some light.

[2020-02-12 19:12] sidharthachatterjee commented on #21222
The service worker registers only for production builds at the moment as documented in https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/#using-service-workers-in-gatsby-with-gatsby-plugin-offline

Thanks!

[2020-02-12 19:12] #21222 closed

[2020-02-12 19:16] sidharthachatterjee commented on #21244
Is `props.theme.mediaQueries` being correctly passed in?

[2020-02-12 19:20] sidharthachatterjee commented on #21298
@asah27 Thanks for opening this! We don't currently support opting out of Link prefetching but I could see this being valuable as discussed in https://github.com/gatsbyjs/gatsby/issues/20568

Perhaps we could add a `prop` to the Link component like `prefetch={false}` (which defaults to true)

Happy to accept a PR!

[2020-02-12 19:23] sidharthachatterjee commented on #21339
Thanks for the feedback! We think the Table of Contents is fine at the moment and definitely useful for some folks.

In terms of visually highlighting it more than it is at the moment, I'll pass that feedback on to the design team! (Cc @fk)

[2020-02-12 19:23] #21339 closed

[2020-02-12 19:30] sidharthachatterjee commented on #21396
`gatsby-source-filesystem` is lazy by design. Instead of loading content from all Nodes when creating nodes, File nodes serve as references to the files. Transformer plugins can then use the `loadNodeContent` action to load that content when necessary.

[2020-02-12 19:30] #21396 closed

[2020-02-12 19:31] sidharthachatterjee commented on #21242
Are those files currently being processed by `gatsby-plugin-mdx`?

[2020-02-12 19:34] sidharthachatterjee commented on #21397
You should be able to call `createPages` (like you do above) with the `blog-content` path and then the `nested-site-name/blog/blog-content` path

Let me know if that doesn't work! Closing this for now

[2020-02-12 19:34] #21397 closed

[2020-02-12 19:37] sidharthachatterjee commented on #21347
Yup! Should work just fine as documented in https://www.gatsbyjs.org/docs/mdx/plugins/#gatsby-remark-plugins

[2020-02-12 19:37] #21347 closed

[2020-02-12 19:41] sidharthachatterjee commented on #21300
Indeed. Like @Js-Brecht mentioned, you'll probably want to configure [vscode-eslint](https://github.com/microsoft/vscode-eslint/issues) correctly.

Thanks!

[2020-02-12 19:41] #21300 closed

[2020-02-12 19:41] Bram-Zijp opened #21409 "[gatsby-plugin-offline] - after rebuild I need to refresh the page twice"
## Summary
While using the `gatsby-plugin-offline`, having visited a page before, changes included in a rebuild that occurred after that, don't reflect before reloading a page twice/navigating back and forward in the page itself.

Another finding;

When I use the following config in my `gatsby-config.js` file:
[code]
It updates after the second reload as illustrated in *case 1*.
When I use the fol

[2020-02-12 19:43] sidharthachatterjee commented on #21231
Happy to accept a PR fixing this!

[2020-02-12 19:45] sidharthachatterjee commented on #21248
Thanks for the detailed issue! https://github.com/mdx-js/mdx might be a better place to ask.

[2020-02-12 19:45] #21248 closed

[2020-02-12 19:47] sidharthachatterjee commented on #21263
Looks like the issue here is that page paths are case sensitive and hence it isn't able to find your page and breaks at this confusing spot (because it tries to announce the route change).

We should catch that before attempting this and redirect to 404.

[2020-02-12 19:50] sidharthachatterjee commented on #21197
I see the blog post titled _Challenge 6 - Use Serverless Functions and Services to Collect Form Data_ showing up on both https://www.gatsbyjs.org/blog/tags/100-days-of-gatsby/ and https://www.gatsbyjs.org/blog/

Closing this for now!

[2020-02-12 19:50] #21197 closed

[2020-02-12 19:52] muescha commented on #21197
what changes make them show up in the list?

[2020-02-12 19:54] gaearon commented on #17914
With React we expect that anyone using SSR would run it in development too. Hydration warnings are very important to address. I don’t think this can just be mitigated by the documentation. It seems like a fundamental issue.

Has it been considered to do a client side emulation of SSR render in development? If you don’t want to do a real one. For example, renderToString the root and put it into inn

[2020-02-12 19:58] gaearon commented on #10706
Have you considered running SSR on the client in DEV to simulate a subset of these problems without taking a perf hit?

https://github.com/gatsbyjs/gatsby/issues/17914#issuecomment-585388655

[2020-02-12 19:59] sidharthachatterjee commented on #21271
Certainly looks like styles are breaking after JavaScript is loaded (disabling it fixes the issue)

Are you using the right versions of `material-ui` and `gatsby-plugin-material-ui`?The `README` at https://github.com/hupe1980/gatsby-plugin-material-ui says that it only works with v4

[2020-02-12 20:01] #21205 closed

[2020-02-12 20:01] sidharthachatterjee commented on #21205
Let's follow this on https://github.com/gatsbyjs/gatsby/issues/21296 since these are both the same issue

[2020-02-12 20:08] sidharthachatterjee commented on #20912
Looks like it _does_ show up

<img width="742" alt="Screenshot 2020-02-13 at 1 37 49 AM" src="https://user-images.githubusercontent.com/7701981/74372916-7f8b7080-4e01-11ea-8bc6-0397c70ee68a.png">

Closing this for now. Thanks!

[2020-02-12 20:08] #20912 closed

[2020-02-12 20:11] sidharthachatterjee commented on #21238
Are you using `setWebpackConfig` or `replaceWebpackConfig` for this?

`entry`, `output`, `target`, and `resolveLoaders` are ignored but `externals` _should_ work

[2020-02-12 20:13] sidharthachatterjee commented on #21126
Thanks @stefanprobst ❤️

@muuvmuuv Looks like this is resolved for the moment. Closing this issue for now. Thanks!

[2020-02-12 20:13] #21126 closed

[2020-02-12 20:16] sidharthachatterjee commented on #21246
@asinha08 Gatsby compiles your site into static assets which you can serve off of any CDN (Netlify, CloudFront, Fastly etc)

We wouldn't recommend using `gatsby serve` to serve your site in production.

Thanks!

[2020-02-12 20:16] #21246 closed

[2020-02-12 20:18] sidharthachatterjee commented on #21233
@Steffi3rd Thanks for reporting this! I've gone ahead and communicated this to the Gatsby Cloud team.

Closing this issue here for now since this is only for Gatsby OSS

[2020-02-12 20:18] #21233 closed

[2020-02-12 20:22] sidharthachatterjee commented on #21085
Closing this for the moment. Thanks!

[2020-02-12 20:22] #21085 closed

[2020-02-12 20:25] tujoworker commented on #17865
Yeah, as @Remzi1993 wrote, using the async version is the way to go.
Just use this **Gatsby Plugin** instead: [gatsby-plugin-react-helmet-async](https://www.gatsbyjs.org/packages/gatsby-plugin-react-helmet-async/) together with `react-helmet-async`.

[2020-02-12 20:26] BernardA commented on #21271
I realized I did not make clear the fact that I am using `react-material-ui` extensively in this app. So, many of my components are using it but, for some reason, only the one above is breaking on reload.
I am not sure what is specific about that component that is causing the error.
For information, here are the versions of the packages you mentioned:

      "@material-ui/core": "^4.7.0",
       "

[2020-02-12 20:28] sidharthachatterjee commented on #20601
Let's close this for now. Please feel free to reopen with more details. Thanks!

[2020-02-12 20:28] #20601 closed

[2020-02-12 20:28] turistua commented on #10668
@AaronFeledy could you share your folders structure, and note where you have storybook and in which node_modules you have gatsby?

[2020-02-12 20:29] sidharthachatterjee commented on #20858
Let's go ahead and close this as it's unrelated and _also_ hasn't had any activity since.

@snigp Hope you managed to figure this out. Thanks!

[2020-02-12 20:29] #20858 closed

[2020-02-12 20:34] sidharthachatterjee commented on #20884
We want to stick to native focus styling as much as possible (per response in https://github.com/gatsbyjs/gatsby/pull/21077#issuecomment-585404418)

Let's close this for now. Thank you everyone!

[2020-02-12 20:34] #20884 closed

[2020-02-12 20:38] Jeddf commented on #20565
Still working on this!

I had missed that the stub is part of the _internals_ section of the docs, not a page about how to integrate Redux with a Gatsby app, so I've been spending time reading code.

Have had my fair share of Redux fun in the past so am enjoying it and have made good progress, closing in on a complete draft.

[2020-02-12 20:39] sidharthachatterjee commented on #21055
That's odd. Multiple proxies should work when passed in as an Array. The validation happens in packages/gatsby/src/joi-schemas/joi.js and the key is rightly set to an Array.

The documentation is correct as well. Let me try this out myself.

[2020-02-12 20:54] zslabs commented on #19480
https://github.com/gatsbyjs/gatsby/issues/19488 and  https://github.com/gatsbyjs/gatsby/issues/18758 seem to be related to this one. @LekoArts did we make any headway on the fix that you mentioned in [this](https://github.com/gatsbyjs/gatsby/issues/18758)?

[2020-02-12 20:54] sidharthachatterjee commented on #21116
@asdac3 If a filepath points to an actual image, it will be transformed into a File node in GraphQL and then you can get the image data out of it by using the childImageSharp field.

Make sure the that in a Markdown file, the path to the image is relative to the page file

Hope that helps! Closing for now but please feel free to reopen with more information if you need any more help 🙂

[2020-02-12 20:54] #21116 closed

[2020-02-12 20:58] pvdz commented on #17935
@me4502 while I still haven't been able to look into this, and not sure when that is, we are considering to deprecate Loki and merge whatever is still relevant into master somehow. This is not a "tomorrow" thing, don't worry. The recent improvements for filter caching seem to take away a lot of the pain that Loki tried to help with and the dual system is getting a bit of a burden to maintain.

Fro

[2020-02-12 20:59] sidharthachatterjee commented on #21119
Looks like this is happening in `deepmerge` which isn't used in `gatsby` as far as I can tell from the top of my head. This might have to do with the `gatsby-transformer-orga` plugin (which I couldn't find on GitHub)

That does package use `deepmerge`?

[2020-02-12 21:04] zslabs commented on #19488
Not sure if it's appropriate to re-open this one or just leave https://github.com/gatsbyjs/gatsby/issues/19480 open, but that link has a reproduction repo (just updated the deps as well to confirm this is still an issue).

[2020-02-12 21:04] zslabs commented on #19480
I just updated the deps to the latest versions to confirm this is still an issue.

[2020-02-12 21:05] sidharthachatterjee commented on #21074
@ajayns Do you happen to have _Do Not Track_ set to `true` on your browser? All the plugin does is loads and sets the GA script which I understand does happen in your case.

I did just try it out on a site and it works fine.

This doesn't look like it's related to Gatsby or the plugin in particular since it _does_ load the GA script. Let's close this for now. Thanks!

[2020-02-12 21:05] #21074 closed

[2020-02-12 21:07] sidharthachatterjee commented on #20972
Looks like that plugin is available on npm at https://www.npmjs.com/package/@c0b41/gatsby-plugin-onesignal and doesn't have any documentation.

In case it doesn't work, you can try creating a source plugin by following the documentation at https://www.gatsbyjs.org/docs/creating-a-source-plugin/

Thanks!

[2020-02-12 21:07] #20972 closed

[2020-02-12 21:10] sidharthachatterjee commented on #20841
@Wilmerj Like @pieh mentioned, the error suggests that you're trying to use v1 of Gatsby which we don't support anymore. Can you try v2 and installing these plugins there?

That _should_ solve your issue so I'll go ahead and close this for now. In case it doesn't though, please feel free to post more details here and we'll be happy to help. Thanks!

[2020-02-12 21:10] #20841 closed

[2020-02-12 21:16] sidharthachatterjee commented on #15897
Shows up now!

[2020-02-12 21:16] #15897 closed

[2020-02-12 21:19] sidharthachatterjee commented on #21271
@BernardA That would suggest that the component in question possibly doesn't support SSR or is somehow styled differently on SSR and then on the client leading to a hydration mismatch and therefore breaking styles when JavaScript loads?

A minimal reproduction of the codebase should help. I would also suggest opening an issue in the material-ui repository since this doesn't seem to be strictly Gat