[2020-10-04 11:39] imshubhamsingh commented on #26055
@meganesu I've updated the doc and example project. Do let me know if I missed something.
Thanks ✌️

[2020-10-04 13:31] chrisklanten opened #27273 "Field "image" must not have a selection since type "String" has no subfields, when changing specific .md file"
## Description

Im getting 3 error's when changing a specific .md file (/src/pages/home/index.md)
- Field "mainImage" must not have a selection since type "String" has no subfields
- Field "aboutImage" must not have a selection since type "String" has no subfields
- Field "logo" must not have a selection since type "String" has no subfields

But, when i change other .md files (like  src/pages/dien

[2020-10-04 13:33] dhilipkmr commented on #15932
you are a lifesaver!!! Thanks a Lot 💯

[2020-10-04 14:12] nisarhassan12 opened #27275 "build fails with TypeError: Cannot create property 'context' on string 'Operating System not recognized."
## Description

Describe the issue that you're seeing.

The build is failing with the following error on this PR https://github.com/NeonLaw/codebase/pull/919 I'm unable to figure out what caused it and how it can be fixed:
[code]

![image](https://user-images.githubusercontent.com/46004116/95017662-2d3ede80-0674-11eb-8789-bbcc8145e6f6.png)

I tried running `yarn lint` & `yarn check-types` to make

[2020-10-04 14:16] abdullahe opened #27276 "Tree-shaking not working correctly (react-icons)"
## Description

When [react-icons ](https://github.com/react-icons/react-icons) is used, all of the icons in the set are included in the bundle.

### Steps to reproduce

Clone and develop/build [gatsby-starter-default](https://github.com/abdullahe/gatsby-starter-default) which I added react-icons and gatsby-webpack-bundle-analyse:

`gatsby new treeshake-test https://github.com/abdullahe/gatsby-sta

[2020-10-04 15:09] nisarhassan12 commented on #27275
Closing this as it was caused by an exception which I myself added to the codebase and I forgot about that.

[2020-10-04 15:09] #27275 closed

[2020-10-04 15:39] adriatic commented on #25764
I am torn, Dan (@herecydev) by your proposal; encountered this problem doing something very different, so from that point of view the remaining work on **[this issue](https://github.com/gatsbyjs/gatsby/pull/25797#issuecomment-669392219)** is a very low priority for me. On the other hand, probably all people encountering it think the same 😄.

[2020-10-04 18:34] daviddfm commented on #19618
@wardpeet some extra bugsnag data that may help diagnose...

According to these it looks like page-data.json files are actually loading correctly...

<img width="1206" alt="Screen Shot 2020-10-02 at 10 46 07 AM" src="https://user-images.githubusercontent.com/3613647/94954428-fa42f200-049d-11eb-95ec-09fc568d3144.png">
<img width="1178" alt="Screen Shot 2020-10-02 at 10 45 35 AM" src="https://user-i

[2020-10-04 18:48] herecydev commented on #27276
Have you seen this issue: https://github.com/react-icons/react-icons/issues/154

Lots of helpful suggestions there

[2020-10-04 18:52] arnsteinsm commented on #27258
Hi!

Issues with Internationalized domain names (IDN) in siteUrl has been brought up before. #23468.

The validation method used by Gatsby to verify the siteUrl ([joi](https://joi.dev/api/?v=17.2.1#stringurioptions)), has no support for [IRI](https://en.wikipedia.org/wiki/Internationalized_Resource_Identifier) at this time, and it [might not come at all](https://github.com/sideway/joi/issues/1164)

[2020-10-04 19:06] abdullahe commented on #27276
Thanks @herecydev. Yes, I've seen it. I am new, so could not try everything because I did not understand.

I tried these:

* importing from `import { FaChevronDown } from "react-icons/fa/index"` and from `import { FaChevronDown } from "react-icons/fa"`  instead of `"react-icons"`.

* adding `  "sideEffects": false,` to `packages.json`.

None of them helped.

[2020-10-04 19:07] tony opened #27278 "[gatsby-plugin-mdx] + [gatsby-recipes]: Mixed mdx versions (2.x alpha being pulled in)"
## Description

This is leading to hard-to-trace issues since:

- gatsby-recipes pulls in mdx 2.0.0-next.4 (https://github.com/gatsbyjs/gatsby/blob/57c79b1/packages/gatsby-recipes/package.json)
- gatsby-plugin-mdx uses 1.6.6 (stable) still (https://github.com/gatsbyjs/gatsby/blob/57c79b1/packages/gatsby-plugin-mdx/package.json)
- Most likely projects pulling in mdx set 1.6.x (or something <2)

Pin

[2020-10-04 19:30] tony commented on #27278
I'm tracing an on/off mdx issue over a few weeks - it presents itself between package locks with yarn v1.

@KyleAMathews helped us switch gatsby-recipes to mdx v2 in #24595.

I'm having an issue where I'm getting 2.0.0 in my lockfile and wondering if that could causing hard-to-trace mdx issues.

I believe it is coming from gatsby-recipes.  Is there any way you think gatsby-plugin-mdx and gatsby-re

[2020-10-04 19:32] herecydev commented on #27276
Okay, might be worth asking in that issue. I'm not sure this is really a Gatsby thing (webpack handles the treeshaking), and it works well normally. I think `react-icons` library has some issues

[2020-10-04 19:35] abdullahe commented on #27276
Possible. Someone had the [same issue,](https://github.com/react-icons/react-icons/issues/154#issuecomment-658222949) but got no response.

[2020-10-04 19:42] sampittko commented on #26168
@mxstbr Can I take this issue?

[2020-10-04 19:44] sampittko commented on #26168
I am a member of Gatsby Admin Early Access group so it would be a pleasure for me to help

[2020-10-04 20:00] KyleAMathews commented on #27278
@pieh is working on a fix for this in https://github.com/gatsbyjs/gatsby/pull/27058 & https://github.com/gatsbyjs/gatsby/pull/27057

[2020-10-04 20:56] holloway commented on #3446
@freesh I ended up having a separate webpack build into `/static/` to isolate them.

[2020-10-04 21:41] tony commented on #27278
Thank you @KyleAMathews!

Any pref if I close this or keep it open for now?

[2020-10-05 00:14] #26212 closed

[2020-10-05 06:16] wardpeet commented on #24332
I've published a new version of `@wardpeet/gatsby-image-nextgen`. It now minifies the produced css & js and makes sure the blur-up animation is triggered.

I'm wondering how many of you need a composable Image component where you can build your own wrapper and how many of you are actually using art-direction and want that inside gatsby-image by default? My first idea was to disable the functionali

[2020-10-05 06:29] wardpeet commented on #27222
I followed the instructions and we should be good to go. If not let me know in this thread 😄

[2020-10-05 07:15] khushijindal commented on #21995
I want to work with gatsby/packages/gatsby/src/schema/schema-composer.js

[2020-10-05 07:20] LekoArts commented on #21995
@khushijindal There's already a PR open for it :) https://github.com/gatsbyjs/gatsby/pull/27241

---

Please look at previous comments and the PRs so that y'all don't work on the same things :) Thanks for all the contributions!

[2020-10-05 07:24] khushijindal commented on #21995
Actually, it was not marked in the above file that is why. Cool, I'll look for something else XD.

[2020-10-05 08:05] #22444 closed

[2020-10-05 08:10] #27268 closed

[2020-10-05 08:11] LekoArts commented on #27240
Hi!

Could you please [provide a minimal reproduction][reproduction]? Normally it should print the file name and query.

[reproduction]: https://gatsby.dev/reproduction

[2020-10-05 08:25] LekoArts commented on #27253
Thank you for opening this!

This sounds like https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/108 and when I check your `package-lock.json` file I see that you're on version `2.24.7`. This is a 2 month old version and upgrading to the latest version should fix your issue.

We're marking this issue as answered and closing it for now but please feel free to comment here if yo

[2020-10-05 08:25] #27253 closed

[2020-10-05 08:30] LekoArts commented on #27256
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-05 08:35] LekoArts commented on #27258
Thank you for opening this!

@arnsteinsm hit the nail on the head - thanks for that! As explained in #23468 it would a bigger undertaking to support this and the demand for it is really low (that's why joi is also not consider doing it). I'd also advise to use punycode to fix your issue.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would

[2020-10-05 08:35] #27258 closed

[2020-10-05 08:36] LekoArts commented on #27266
Please reach out to Netlify's support about this. Thanks!

[2020-10-05 08:36] #27266 closed

[2020-10-05 08:41] Marius-Adam commented on #27269
All sorted, cloned a fresh copy of the project and followed the guide on how to edit content. Pretty straightforward if you read the documentation.

[2020-10-05 08:41] #27269 closed

[2020-10-05 08:42] LekoArts commented on #27269
Great! Just wanted to write you an answer 😛 For possible future Googlers:
When using a Gatsby theme you'll need to [Shadow files](https://www.gatsbyjs.com/docs/themes/shadowing/) to make changes.

[2020-10-05 08:44] LekoArts commented on #27276
Thanks for the issue! Please report that on the repository of react-icons as this isn't an issue with Gatsby. The package needs to enable tree-shaking.

[2020-10-05 08:44] #27276 closed

[2020-10-05 09:05] einarpersson opened #27286 "Profile picture won't show up in Gatsby Starter Blog (fresh setup)"
## Summary
I'm trying out [Gatsby Starter Blog](https://www.gatsbyjs.com/starters/gatsbyjs/gatsby-starter-blog) from scratch. I've just swapped out the default `profile-pic.jpg` to one of my own. But now the profile picture won't display at all.

I don't even know where to begin to troubleshoot this. I don't see any error messages, no nothing. Where should I even look?

## Relevant information

##

[2020-10-05 09:40] pieh commented on #27278
Let's keep this open until it's solved. I linked `gatsby-recipes` changes PR to this so it get's auto-closed once that is merged.

In the meantime, you can try those changes out by using `gatsby@ink-compiled` canary

[2020-10-05 09:57] zlydenko commented on #24461
same error here

[2020-10-05 10:27] #26875 closed

[2020-10-05 10:27] #23904 closed

[2020-10-05 11:46] dragenet opened #27288 "docs: Add DatoCMS fragments to gatsby-image"
DatoCMS nowadays support GatsbyDatoCmsFluid_tracedSVG and GatsbyDatoCmsFixed_tracedSVG fragments so it will be nice to add it to gatsby-image documentation

[2020-10-05 12:07] #25795 closed

[2020-10-05 12:07] #25794 closed

[2020-10-05 12:22] LekoArts commented on #27288
Thanks for the issue! As you correctly pointed out as per https://github.com/datocms/gatsby-source-datocms#integration-with-gatsby-image it supports `GatsbyDatoCmsFluid_tracedSVG` and `GatsbyDatoCmsFixed_tracedSVG` which is missing here: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image#gatsby-source-datocms

Feel free to send in a PR adding those two entries :)

[2020-10-05 12:23] LekoArts commented on #27286
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-05 12:27] acagastya commented on #27286
@einarpersson if you have just started and made no changes except swapping the profile picture -- is the new name of the file same as the old one?  And if so, could you remove `.cache` and `public` folders and re-run to confirm the problem exists?

[2020-10-05 12:42] Ankit810 commented on #27288
Hi!
So we just have to add those two formats under the gatsby-source-datocms section in here :https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-image#gatsby-source-datocms?

[2020-10-05 12:55] LekoArts commented on #27288
Correct!

[2020-10-05 13:04] Ankit810 commented on #27288
Can I help contributing? @LekoArts

[2020-10-05 13:08] LekoArts commented on #27288
Sure! You can directly change the file via GitHub's UI: https://www.gatsbyjs.com/contributing/docs-contributions/#modifying-markdown-files

[2020-10-05 13:13] Ankit810 commented on #27288
Thank you so much!
On it...

[2020-10-05 13:26] hzburki commented on #17059
`gatsby info --clipboard` returns the following for me;

[code]

I am getting the same error. `npm upgrade` did not fix it for me. All my components and pages are exported with the default option.

[2020-10-05 13:44] #27215 closed

[2020-10-05 13:50] akgupta0777 commented on #27065
Is this necessary that the issue assigned to somebody only He/She can do?
I am new to Github and Open Source Development.

@LekoArts

[2020-10-05 13:58] azzazzel opened #27290 "Hot reload not working on projects under macOS synthetic firmlinks"
## Description

Since macOS Catalina, the root volume of the OS is read-only. [To create a folder in the root one has to use synthetic firmlinks](https://derflounder.wordpress.com/2020/01/18/creating-root-level-directories-and-symbolic-links-on-macos-catalina/). I happened to have a gatsby project in a path under one such folder.  It looks like `gatsby develop` is unable to hot reload if a project

[2020-10-05 14:06] janpauldahlke commented on #19618
* since i stumpled upon this today, i will bump* and watch here.

[2020-10-05 14:06] LekoArts commented on #27270
@pieh mentioned that due to [descriptions being created as markdown types](https://github.com/gatsbyjs/gatsby/blob/7bf2bdbf0de545db7c8a1b540cfffb0641a7137a/packages/gatsby-transformer-react-docgen/src/on-node-create.js#L19-L48) MDX will pick those things up.

In that sense it's expected and correct behavior. https://github.com/gatsbyjs/gatsby/issues/19953 explores the ideas of e.g. treating only p

[2020-10-05 14:06] #27270 closed

[2020-10-05 14:15] LekoArts commented on #27065
@akgupta0777 When an issue can only be fixed by one PR (which is the case here) it's common etiquette that a person offers their help and then picks up the work. This should be communicated clearly in the issue so that other people who want to help see that it's already being addressed and not duplicate PRs are opened. To make things clearer we ("Gatsby") assign issues to people then.

You can sti

[2020-10-05 14:24] akgupta0777 commented on #27065
Thanks I understood now.

[2020-10-05 14:29] ianand opened #27291 "[docs] Deploy to XDN"
I filed this as a pull request originally (https://github.com/gatsbyjs/gatsby/pull/27247) but was told I need to file a ticket first.

There aren't any instructions for how to deploy Gatsby to the Moovweb XDN which has Gatsby as a supported framework. Would you accept a PR for instructions on how to deploy to the Moovweb XDN?

And no (since it was asked) I'm not doing this as part of hacktoberfest

[2020-10-05 14:32] LekoArts commented on #26915
Sorry, my colleague must have missed to add the needed link for it.

You can find instructions here: https://gatsby.dev/reproduction

[2020-10-05 14:34] LekoArts commented on #27006
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-05 14:34] #27006 closed

[2020-10-05 14:34] LekoArts commented on #27014
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-05 14:34] #27014 closed

[2020-10-05 14:35] LekoArts commented on #22651
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-05 14:35] #22651 closed

[2020-10-05 14:36] #27288 closed

[2020-10-05 16:36] jankohofmann commented on #26909
@axe312ger yes, I use that as a workaround and have temporarily granted access to the master env for the token.

[2020-10-05 16:56] khanakia commented on #27256
@LekoArts the issue resolver automatically very strange. I did not made any changes at all. But anyway now i can edit my css styles directly in the developer tools :smiley: Thanks you very much 👍

[2020-10-05 16:56] #27256 closed

[2020-10-05 17:08] mcnichols opened #27294 "Mixed content errors when using HTTPS option with dev server"
**the fix:**
https://github.com/gatsbyjs/gatsby/blob/67615bf95cd802cc4a430ea6917892a87bebe7d4/packages/gatsby/cache-dir/app.js#L37-L39
**should be**
[code]
(it should use the protocol instead of only http://)

These sort of errors started happening for me when I used `gatsby develop --host my.example.com --port 8443 --https`
I'm not using Netlify; not a problem on their end.

bug introduced from
h

[2020-10-05 17:09] mcnichols commented on #27294
This issue was brought up in a closed issue by @jonathanstanley, I thought I deserved it's own separate issue.

[2020-10-05 17:24] moonmeister commented on #22757
@janosh Okay, I'll try and look into it but this is OSS work for me and I'm pretty busy atm...so not sure when I'll get to it.

[2020-10-05 17:26] janosh commented on #22757
No problem. I didn't mean to chove this off on to you. Will look into it more as well.

[2020-10-05 17:28] vladar commented on #27007
A little bit more context on original plans for `projection` directive: https://github.com/gatsbyjs/gatsby/pull/16091#issuecomment-525163286

And also this: https://github.com/gatsbyjs/gatsby/issues/4261#issuecomment-457476691

@stefanprobst I am keen to hear your thoughts on this proposal when you have a chance.

[2020-10-05 17:40] williamcosta opened #27295 "Error on creating Pages on the build command"
## Description

My build not is created with error in creating pages.

I use Gatsby with TypeScript. My pages are created inside the pages folder with the `tsx` extension

### Steps to reproduce

Run `npm run build`

### Expected result

Build my sites page

### Actual result

[code]

### Environment

[code]

[2020-10-05 18:52] einarpersson commented on #27286
It started to work now. Did not change anything. Weird.

Well I'm happy now, closing...

[2020-10-05 18:52] #27286 closed

[2020-10-05 19:21] herecydev commented on #27295
It would help if you could provide a minimal reproduction. Have you imported react into the file?

[2020-10-05 19:28] williamcosta commented on #27295
Yes, I imported React into the file. Currently, my file looks like this:
[code]

(I just removed some components that would not help in the example)

However, even with this simple example, the error occurred. I went back to a previous branch where I hadn't switched to TypeScript yet and the build happens.

I'm thinking it might be something with the integration of Gatsby with TypeScript

[2020-10-05 19:44] herecydev commented on #27295
I've create a repo that works; hopefully you can see any differences: https://github.com/herecydev/gatsby-starter

[2020-10-05 20:22] emmadigital commented on #26997
Hi @ascorbic I installed latest version of gatsby-remark-relative-images but no change I still get this error. I have to clean the cache again and again to get it successfully build. If you have any other solution please advise.

[2020-10-05 20:24] aaronadamsCA commented on #15277
* Unreserve `NODE_ENV`. By convention this is (a) set by the environment, and (b) defaults to (the same behaviour as) `NODE_ENV=development`. This is a big beginner "gotcha" in Gatsby.

* Stop recommending `.env.${activeEnv}` and start recommending `.env`, to align with the recommended use of dotenv:

* Together, the above two changes would allow Gatsby to call `dotenv.config()` itself, as some ot

[2020-10-05 20:35] williamcosta commented on #27295
Thanks @herecydev

I'll look at this example and see what may be different about my project.

I'll be back soon with feedback.

[2020-10-05 20:38] rchrdnsh opened #27296 "Getting this error after running 'npm update'"
## Description

Ran `npm update` in the terminal and now a few pages are not working that were working before, with the following error in the browser window and in the console:

[code]

screenshot:

<img width="433" alt="Screen Shot 2020-10-05 at 1 41 12 PM" src="https://user-images.githubusercontent.com/7884263/95129828-717fbc80-0710-11eb-9e29-7150cf3f038b.png">

### Steps to reproduce

I just r

[2020-10-05 21:18] ccalvarez commented on #11934
I tried the suggested solution:

- installed "@hot-loader/react-dom": "^16.8.6"
- added this section in `gatsby-config.js`:

`exports.onCreateWebpackConfig = ({ stage, actions }) => {
  if (stage.startsWith('develop')) {
    actions.setWebpackConfig({
      resolve: {
        alias: {
          'react-dom': '@hot-loader/react-dom'
        }
      }
    });
  }
};`

but it's not working for me.

An

[2020-10-05 21:37] cesarvarela opened #27297 "Weird big chunk `/public/static/d`"
## Summary
Hi, I'm trying to improve the pagespeed score of our landing page, and I'm confused about what's causing this big webpack chunks:

![image](https://user-images.githubusercontent.com/1172479/95134365-27f79780-0739-11eb-923b-83ed2f07cb61.png)

Both are around 400kb (200kb gziped).

Is this normal? What's causing this? Importing images using webpack? Should I move them to the `/static` fol

[2020-10-05 21:44] KyleAMathews commented on #27297
Those are the results or static queries. You can look at what's in the json files to see what the query is and then audit the query to see if you need all the data there

[2020-10-05 21:48] tedrand commented on #20225
This is a pretty frustrating issue to run into during a tutorial. And a waste of time for Windows users to delete the node_modules folder. It seems this part of the tutorial could be amended to use a plugin that works better.

[2020-10-05 22:20] williamcosta commented on #27295
@herecydev I found the build problem. I created some partials of my pages inside the pages folder, with the following path `./src/pages/partials/[partial_name]/index.tsx` in the build I was trying to create pages from these partials as well.

The solution I saw is to put an underscore before the file names, correct?

[2020-10-05 23:08] mikleing opened #27298 "Simple gatsby-plugin-canonical-urls Protocol Bug"
## Description

The [gatsby-plugin-canonical-urls](https://www.gatsbyjs.com/plugins/gatsby-plugin-canonical-urls/) plugin adds a rel=canonical <link> tag to the head of each HTML page.

Here is an example of code added to the head of the html document:

`<link rel="canonical" href="https://www.abc.com" data-baseprotocol="https:" data-basehost="www.abc.com">`

The potential problem is with the prot

[2020-10-06 02:41] acagastya commented on #27286
@einarpersson probably it was due to caching.  I have set up my start script as `rm -rf .cache public && yarn develop`.  Glad it works for you now!

[2020-10-06 04:53] andreme commented on #26375
@blainekasten I'm trying to create my pages from a gatsby-source-graphql data source and have run into the problem that my schema does not have a nodes list, which is forced on me by the CollectionPagesQueryFragment.
Why can't I write my query without it?
The file name also still requires the Model name? I would have thought using unstable_collectionGraphql would remove that requirement.

[2020-10-06 06:25] herecydev commented on #27295
Not sure, sounds like something I wouldn't recommend anyway. `Pages` should be very clear; each file corresponding to a public-facing route. I would then typically have a `components` folder that houses all other "partials" or react components

[2020-10-06 07:01] rutujak24 commented on #27298
Please assign me this issue

[2020-10-06 07:20] LekoArts commented on #27296
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-06 07:23] LekoArts commented on #27298
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-06 07:26] rutujak24 commented on #27298
@LekoArts Sir, Can I work on this issue and solve it?

[2020-10-06 07:28] LekoArts commented on #27298
@rutujak24 This issue lacks a clear issue/error description so there isn't anything actionable here. Please have a look at the issues tagged with [hacktoberfest](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3AHacktoberfest).

[2020-10-06 09:06] karlhorky commented on #15826
I've added configuration to the docs of `gatsby-plugin-mdx` in #27301.

[2020-10-06 09:08] pvdz commented on #27295
@williamcosta maybe you could post the repository with the site so we can be of better service? It's a bit difficult to help when we don't see the code.

[2020-10-06 09:37] pvdz commented on #27273
I suspect it's because the markdown has
[code]
which is not converted to an image but rather kept as a string.

Please take a look at the docs: https://www.gatsbyjs.com/docs/working-with-images-in-markdown/

If I change the path in that line to:
[code]
(same the others) then it works.

(Have you checked http://localhost:8000/___graphql ? It would tell you it was an image if it thought it was and g

[2020-10-06 09:37] #27273 closed

[2020-10-06 09:43] pvdz commented on #25923
@peter3bweb if there's no further response I'll assume the matter was resolved?

[2020-10-06 10:26] #27294 closed

[2020-10-06 10:36] chrisklanten commented on #27273
Thanks @pvdz, yes i checked the graphql playground. The strange things is that with other pages containing images, can point to /img/ without any problems..
Do you have any idea why one page has troubles with this, and other pages dont?

[2020-10-06 10:36] pvdz commented on #26446
Had to drop the yarn.lock and some other things to reproduce your error.

The problem appears to be caused by a "new" requirement by Babel, which requires a `filename` property (as per the error).

I'll merge and publish a fix soon. Meanwhile you can unblock yourself by going into `node_modules/gatsby-plugin-mdx/utils/extract-exports.js` and adding a `filename` field with any value to the call to

[2020-10-06 10:57] pvdz commented on #27273
tbh I'm not sure why it doesn't complain about this immediately, rather than only after an edit. There might be a bug in `develop` in how it reinterprets the paths for HMR or something.

[2020-10-06 11:49] #26446 closed

[2020-10-06 12:07] #21252 closed

[2020-10-06 12:45] codefull commented on #12184
Hi! Did you just dropped multifeed feature or did you just workaround  a solution. Please could you let me know, I'm in the same scenario.

[2020-10-06 13:03] ArcaneDiver commented on #21995
Hey i'll be happy to help with the migration of `gatsby/src/query/query-watcher.js`

[2020-10-06 13:12] mattzuckermann opened #27307 "Mixed content with gatsby-source-cloudinary despite having SSL/TLS certificate, still using HTTP"
## Summary

Hello,

I'm getting mixed content warnings from Netlify when pushing my code live to production and I tracked it down to the gatsby-source-cloudinary plugin using HTTP to serve up my Cloudinary assets. You can see this by inspecting the carousel images at this route of the website (https://joshzuckermann.com/about). The conequences of the mixed content warning can be most easily seen b

[2020-10-06 13:33] LekoArts commented on #27307
Thank you for opening this!

We're not maintaining `gatsby-source-cloudinary` as it's a community plugin located here: https://github.com/Chuloo/gatsby-source-cloudinary - so question around it are better suited there.

You're using the [`url`](https://github.com/mattzuckermann/MusicArtistSite/blob/eeb8aae8a4b58389c047f5ffcbc09281ece2ae6c/src/pages/about/index.tsx#L199) param, the plugins adds [`s

[2020-10-06 13:33] #27307 closed

[2020-10-06 14:12] mikleing commented on #27298
@rutujak24 I have updated my original message to include information on how to reproduce the error.  I didn't create a reproduction since the error is found by simply using a starter project and installing the plugin.  There is no special code needed to reproduce the error.  I do also include the steps to fix the error.  It's a very simple error.

[2020-10-06 14:52] isshesure opened #27308 "Is it possible to remove the scroll position (@@scroll/initial etc) in session storage?"
Currently, the user's scroll position is stored within session storage, and this is violating a GDPR compliance check (yes, I know). Is there a way to disable this storage?

[2020-10-06 14:57] williamcosta commented on #27295
Eu vou rever a forma de fazer isso, obrigado @herecydev

@pvdz eu não vou conseguir colocar o repositório aqui pois é uma projeto privado da empresa. Mas já descobrimos o que era o erro.

[2020-10-06 15:01] jonathanfilbert opened #27309 "Gatsby Image placeholder not being replaced on Safari iOS"
### Description
Fluid Images that are using `Img` from `gatsby-image` stuck on the svg placeholder mode and not being rendered.
Normal images (*I'm referring to `<img src={...}/>`*) on the other hand, works fine.
This behavior only exist on iPhone's Safari apparently, I've tried it on my Chrome, and they are all working fine. I can't really do a check on an iPhone Safari because I am in no possess

[2020-10-06 15:37] pvdz commented on #25562
Two potential solutions we're considering:
- Add an env flag that ignores files starting with `.#`
- Add option to `gatsby-source-filesystem` to explicitly ignore filenames starting with `.#`

Anyone want to do a PR?

[2020-10-06 15:50] burtonator opened #27310 "Gatsby useStaticQuery and SEO constantly yielding error "Gatsby related `graphql` calls are supposed to only be evaluated at compile time, and then compiled away""
## Description

We're following your instructions here:

https://www.gatsbyjs.com/docs/add-seo-component/

... on how to use the SEO component to build Googlebot friendly pages but we're constantly getting errors in the most recent Gatsby:

The error we're receiving is:

"  WebpackError: It appears like Gatsby is misconfigured. Gatsby related `graphql` calls are supposed to only be evaluated at co

[2020-10-06 16:47] machineghost commented on #13918
This seems really wrong.  Gatsby's `build` command is for *production*: it *should* have nothing to do with the dev server.

[2020-10-06 16:53] jonathanfilbert commented on #27309
I already tried #12074, still no luck

[2020-10-06 17:08] ImOnSmoko commented on #25868
Good morning:

Are you in a position to discuss where the POC is at and what, if any, next steps are open to us?

Thanks,

Richard George  •  Application Development / Customer Tech Digital • 503-464-7856

From: Richard George
Sent: Friday, October 2, 2020 2:44 PM
To: gatsbyjs/gatsby <reply@reply.github.com>; gatsbyjs/gatsby <gatsby@noreply.github.com>
Cc: Comment <comment@noreply.github.com>
Subj

[2020-10-06 17:09] pvdz commented on #25336
Turns out the `@link` resolver was generating a filter with `$eq` as operator. In Sift, `$eq` would work on arrays but after we replaced Sift that was no longer the case (that's what `elemMatch` and `$in` are for, after all). The `@link` feature is not very commonly used and it seems arrays are even an edge case in that so this problem flew under the radar, apart from this issue.

I've put up a PR

[2020-10-06 17:09] faridsaud commented on #9911
Same issue here

[2020-10-06 17:33] herecydev commented on #27308
Is storing a position in a page anywhere close to "uniquely identifying a user"? I'm no expert but this seems fine?

[2020-10-06 17:35] burtonator commented on #27310
The other main issue is that it's nondeterministic.  If I run it 5 times it will fail 4 and succeed once. No code changes.

[2020-10-06 19:20] LinnJS opened #27314 "Add Contentful Preview support documentation to gatsby-source-contentful plugin docs"
## Summary

What problem(s) did you run into that caused you to request additional documentation? What questions do you think we should answer? What, if any, existing documentation relates to this proposal?

I was just experiencing issues integrating Contentful into Gatsby Cloud using their preview service. I was stumped and had to contact support because I did not see any answers in the [gatsby-s

[2020-10-06 19:21] LinnJS commented on #27314
I would love to open a PR for this issue, very familiar with what the docs might say as well!

[2020-10-06 19:43] chocobuckle commented on #9062
@Coriou, @DSchau Just wondering how to create a page outside of Gatsby, as recommended above? I have a similar issue.

[2020-10-06 21:02] #27065 closed

[2020-10-06 22:18] mattzuckermann commented on #27307
Completely missed the secure_url param in the GraphQL API. All is well now on the site (https://joshzuckermann.com). Thank you so much!

[2020-10-06 22:46] jerelmiller commented on #26662
Our team also just encountered the same issue. We are migrating a pretty big website over to Gatsby + MDX and noticed our images are no longer showing up. Are there contributions currently being made to support MDX v2? Or alpha/next versions of Gatsby available to try out?
=

[2020-10-07 02:24] LinnJS commented on #21995
Would love to pick something up if it’s not already taken. Feel free to assign me whatever is free!

[2020-10-07 02:25] Rajesh-Royal commented on #4818
You should make your #nprogress div at top of all events. Sometimes when your header is fixed it covers progress.

In my case I used this css:
[code]

to debug open run your site build not develop and then set speed to 5kb/s. You shouldn't be using localhost. Once you start visiting pages open your inspect and at the very bottom of `<body>` tag you will see a new `<div>` with #nprogress Id.

Now y

[2020-10-07 03:34] OverStruck commented on #8755
Currently facing the same issue as well.
I need to add a JS script to a contact page so that the form gets processed by the script and sends the data to to my server.
Putting the script in the static folder and then adding `<script src={withPrefix("script.js")}></script>` in my contact page doesn't fire the JS inside the script.js file

[2020-10-07 05:32] wardpeet commented on #26563
well what this issue is showing is that we should make people more aware of caching and/or update static-query to contain a timestamp

[2020-10-07 06:58] Coriou commented on #9062
@chocobuckle You can generate it using the build hooks of Gatsby. In my case, I created the HTML page and using the `onPostBootstrap` hook to write it to the public directory on build:

[code]

Making the `ie.html` page available publicly at `mysite.com/ie.html`.

[2020-10-07 10:13] davidpaulsson commented on #24332
@wardpeet This is great! I heavily rely on gatsby-image's build-in art-direction. But I guess an example / smooth upgrade path would be OK too!

[2020-10-07 10:32] #27151 closed

[2020-10-07 11:07] muhammad-aadil-1 opened #27317 "Error: The result of this StaticQuery could not be fetched."
## Description

Error: The result of this StaticQuery could not be fetched.

This is likely a bug in Gatsby and if refreshing the page does not fix it, please open an issue in https://github.com/gatsbyjs/gatsby/issues
useStaticQuery
D:/accuindex/stagging-accuindex.com/.cache/gatsby-browser-entry.js:77
  74 | if (context?.[query]?.data) {
  75 |   return context[query].data
  76 | } else {

  78 |

[2020-10-07 11:25] muhammad-aadil-1 commented on #27317
It's working now, without any change, if fixed automatically. Thanks community.

[2020-10-07 11:26] #27317 closed

[2020-10-07 11:26] servrox commented on #27232
Can we please have an update on this issue?

For most projects, we list `gatsby-cli` as devDependency anyway..
Creating a `gatsby-core` package definitely would make sense!

[2020-10-07 12:32] AnthonyLedru commented on #26580
I'm also facing the issue on Mac OS

[2020-10-07 12:42] mxstbr commented on #26168
@sampittko I really appreciate the offer! This requires significant design exploration and user testing before we can really tackle it, which we don't currently have, so this is likely not the right moment to jump in just yet :blush:

[2020-10-07 12:50] neobats commented on #21995
Id be delighted to help with this, but this would be one of my first open source contributions and I'm not sure where to start. Is there still some potentially low-hanging fruit available?

[2020-10-07 12:52] pacocom opened #27320 "Can't download directly HTML file from public"
## Description
Can't download directly HTML file from public. I want to download tutorial.html from public folder directly using markdown link.

[code]
[code]
![image](https://user-images.githubusercontent.com/7735329/95332367-9a888480-08ab-11eb-9169-1cec69423f95.png)
If I use txt file:
![image](https://user-images.githubusercontent.com/7735329/95332406-ac6a2780-08ab-11eb-9ddb-dc6006b0c6a2.png)
If

[2020-10-07 12:53] pacocom opened #27321 "Can't download directly HTML file from public"
## Description
Can't download directly HTML file from public. I want to download tutorial.html from public folder directly using markdown link.

[code]
[code]
![image](https://user-images.githubusercontent.com/7735329/95333347-f1db2480-08ac-11eb-8792-8f1d871dcbda.png)

![image](https://user-images.githubusercontent.com/7735329/95332367-9a888480-08ab-11eb-9169-1cec69423f95.png)
If I use txt file:
!

[2020-10-07 13:24] pvdz commented on #27320
Double posted #27321

[2020-10-07 13:24] #27320 closed

[2020-10-07 13:27] pvdz commented on #27321
Can you please fill in the submission form properly? Like a link to the repro with your example and the result if `gatsby info`, so we can see which platform you're on.

[2020-10-07 13:28] sampittko commented on #26168
Thanks for your response. Is there anything I can do in order to help with the Admin UI?

[2020-10-07 13:28] bashleigh commented on #256
rm -rf .git && gatsby-cli new . https://github.com/gatsbyjs/gatsby-starter-hello-world

[2020-10-07 13:33] pvdz commented on #27298
Can you cite a reference stating the protocol should be without a colon? I can't find a reference and everything I find on the canonical tag also has a colon.

[2020-10-07 13:43] pvdz commented on #27298
Honestly I'm of half a mind to just drop `data-basehost` and `data-baseprotocol`. I cannot find any reference that refers to these attributes or how they ought to be filled. These attributes were added two years ago but the PR (#4116) does not explain why. I don't think the original issue (#4110) does either. Perhaps @danhounshell can chime in here?

[2020-10-07 15:15] mikleing commented on #27298
Before posting the issue, I spend a fair amount of time looking for any specification for `data-basehost` and `data-baseprotocol`.  I couldn't find any standard or even a reference of anyone who uses those values.  [Google's documentation](https://support.google.com/webmasters/answer/139066?hl=en) does not comment on  `data-basehost` or `data-baseprotocol`.  I also began to wonder if they were rea

[2020-10-07 15:46] ndaelemans opened #27323 "Build webhook returns empty 204 response."
## Description

When I trigger a new build by submitting an empty POST to  the build webhook, I get an empty 204 (No content) response. However, it would be more logical to return a 200 code, as this is the general HTTP code for successful requests.

### Steps to reproduce

1. Post an empty body to the build webhook of your Gatsby project
2. Get a 204 response

### Expected result

200 OK

### Act

[2020-10-07 16:20] devbhansingh commented on #27308
I would like to contribute in this project.

[2020-10-07 17:45] isshesure commented on #27308
Yes, it's more that it fails some online compliance checks, and given that I'm using `shouldUpdateScroll` to ignore the scroll position, it's also redundant. Perhaps this should be a feature request to update `shouldUpdateScroll` to be a more generic scrolling override option.

[2020-10-07 17:46] einarpersson commented on #26563
I just got the same error message running Gatsby in production on [Vercel](https://vercel.com): `StaticQuery could not be fetched...`

The latest commit was totally harmless, I just removed a file which was not references anywhere. And after doing another change to `README.md` it suddenly began to work in production.

**This is super confusing for someone who is new to Gatsby**

[2020-10-07 17:56] hoonsubin commented on #19618
Hello guys, sorry for not being helpful, but I just wanted to confirm that I'm facing this error too. Most desktop browsers seem to work fine, but on iOS and iPad (both Safari and Chrome), the page will only load for a split second and crash.
Here is the source code for the page I'm talking about https://github.com/TeamSTEP/teamstep.io just in case it might be of help

[2020-10-07 18:48] hartshorne commented on #26580
I've had this issue intermittently as well. Looking at the changes between 2.24.9 and 2.24.10:

https://github.com/gatsbyjs/gatsby/compare/gatsby@2.24.9...gatsby@2.24.10

It looks like @ascorbic did some work in https://github.com/gatsbyjs/gatsby/pull/25815 that might have affected how fast-refresh and/or hot-reload work. @ascorbic what do you think?

[2020-10-07 19:25] angelod1as opened #27325 "Gatsby Develop hangs using iTerm2, resizing fixes it"
## Description

When I run `yarn develop`, the process hangs at `source and transform nodes`. When I resize my terminal, everything starts running again smoothly. So I need to hit the command and keep changing my terminal width to actually get to the end of building.

![image](https://user-images.githubusercontent.com/13950513/95377763-64520180-08b9-11eb-995e-16ec620c5472.png)

### Steps to reprod

[2020-10-07 19:36] joesanchezjr commented on #26857
Any update on this? I would like to see a solution merged in soon. I'd be happy to open up a PR with that single line change if it's all that is needed. I'm not too familiar with other parts of the plugin, so I'm unsure if it would affect anything else.

[2020-10-07 20:01] rchrdnsh commented on #27296
I honestly have no idea where to even start to create a minimal repro on this one...dunno what I'm looking at or what is going wrong...I did turn off preact in my gatsby-config and now the error message is more robust:

<img width="931" alt="Screen Shot 2020-10-07 at 12 59 24 PM" src="https://user-images.githubusercontent.com/7884263/95381438-01eb0800-089d-11eb-95b2-c9d01b467774.png">

...and it l

[2020-10-07 20:05] herecydev commented on #27308
So this file is the relevant one: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-react-router-scroll/src/scroll-handler.tsx

As it's just a React context you should be able to override the default by providing your own `Provider`. Does that work?

[2020-10-07 20:22] pvdz commented on #27325
Can you reliably reproduce this?
Any chance you can record a video of this?

[2020-10-07 20:31] angelod1as commented on #27325
Sure, uploaded it here: https://imgur.com/a/oK48n0j
You can see the moment I resize my terminal.
(I ran `gastby clean` before so I don't wait the full process to complete, but you have my word it does without a hitch after resizing)

[2020-10-07 20:54] jcowman2 commented on #24772
Has this issue been resolved? I'm getting a very similar error with Gatsby v2.24.52

[2020-10-07 20:59] alesanchezr opened #27328 "Styles don't load consistently to some of the visitors"
## Description

Some times the website loads without styles, just the content and HTML, sometimes it also happends with only oen component and the rest loads ok.

### Steps to reproduce

I have not been able to reproduce but I have video recordings of people:
1. [This guys in minute 24. ](https://insights.hotjar.com/r?site=2016936&recording=4115787925&token=8a4d462c13370daa72c9625927db2945)

- [Th

[2020-10-07 23:00] hartshorne commented on #26580
I am using macOS 10.15.7, `GATSBY_HOT_LOADER=fast-refresh`, and the project uses TypeScript 4.0.3. I'm also using the `--https` flag. Feels like some kind of timing issue, so it may be hard to build a minimally-reproducible example. In our medium-sized project, this is what I'm experiencing:

after editing and saving `src/colors.ts`:

Browser:

    [HMR] connected
    [HMR] bundle rebuilding
    [

[2020-10-08 02:49] rutujak24 commented on #27298
Yes I do agree with @mikleing
I had a similar approach to this issue.

[2020-10-08 06:10] ascorbic commented on #26580
@hartshorne It does sound like it's related to that, but as you said it's hard to reproduce. I've not managed to reproduce it myself, which makes it a challenge to fix. Can you run gatsby develop with the --verbose flag and share the logs?

[2020-10-08 06:12] ascorbic commented on #26580
Can you also confirm whether it's reproducible without https

[2020-10-08 06:21] hartshorne commented on #26580
Sure, running:

    GATSBY_HOT_LOADER=fast-refresh ./node_modules/.bin/gatsby develop --host=0.0.0.0 --https --verbose

Outputs:

    verbose set gatsby_log_level: "verbose"
    verbose set gatsby_executing_command: "develop"
    verbose loading local command from:
    verbose running command: develop
    info setting up automatic SSL certificate (may require elevated permissions/sudo)

    verbos

[2020-10-08 06:25] hartshorne commented on #26580
@ascorbic enabling/disabling `--https` does not change the output or behavior, same problem with or without.

[2020-10-08 06:29] ascorbic commented on #26580
Thanks. That's interesting, because from the log it seems that everything is happening as expected. The fact that the server is frozen is an interesting one though, as we don't pause it or anything like that. It seems to be a specific issue with the Webpack Dev server. The penultimate line where it says that a file has changed but there is no file listed is an interesting one though.

[2020-10-08 06:39] johng2t opened #27333 "[gatsb-theme-blog] i got an error adding to default hello world starter site"
## Description

I am new to gatsby. I created a new site with gatsby-starter-hello-world, follwoing https://github.com/gatsbyjs/gatsby-starter-hello-world this link. The hello world program works perfectly.
I try to add the `gatsb-theme-blog` to this existing hello world site, I followed as given in the documentation
https://www.gatsbyjs.com/tutorial/using-a-theme/#installing-the-blog-theme
I run

[2020-10-08 06:47] pcolmer commented on #26434
Time for a copy/paste of my reply from September 6th.

I definitely do want to keep this open until it is resolved.

I've created clear repro steps that show distinct differences in the behaviour between gatsby develop and gatsby build and it is very frustrating that there are these differences. It makes it really hard to figure out what to do to fix this when, ultimately, gatsby itself is getting

[2020-10-08 06:48] pcolmer commented on #26434
Just a heads-up to the Gatsby team: I have no intention of letting this issue die through inactivity. I've taken the time and trouble to provide a simple reproduction of the problem. The problem is *clearly* within Gatsby itself.

THIS NEEDS FIXING!

[2020-10-08 06:59] jonathanfilbert commented on #27309
Okay, so I found the problem.
The problem was when I queried the images using graphql, inside of fluid, I was using:
[code]
and when I changed the fluid query to:
[code]
it suddenly works on Safari.

I found it quite weird, but since it's already resolved, I'm going to close the issue. Should probably address this in the documentation that you have to use ```...GatsbyImageSharpFluid``` fragment in

[2020-10-08 06:59] #27309 closed

[2020-10-08 08:20] mxstbr commented on #26168
I unfortunately don't think so at the moment! I'll definitely ping you once there's some clearly scoped tasks though 👍

[2020-10-08 08:22] PetroPavlenko commented on #17941
hey, @wardpeet, @addyosmani. There is site https://gatsby-image-nextgen.netlify.app/, not sure, but that should be enough to test that on slow devices (p.s. lighthouse mobile test adds CPU and network throttling)

[2020-10-08 08:24] acdotme commented on #12370
@orangecms I came across this thread while searching for a suitable cookie control solution for a client site that works for GDPR / PECR and the cookies law (which are all separate things we have to comply with).

[The ICO](https://ico.org.uk/) in the UK use [Cookie Control by Civic](https://www.civicuk.com/cookie-control) which is a JavaScript based solution that looks pretty configurable and can

[2020-10-08 08:52] #26608 closed

[2020-10-08 08:53] ascorbic commented on #21995
@LinnJS and @neobats : feel free to claim any file listed above that doesn't have a name against it. Just add a comment here saying you're working on it, like @ArcaneDiver did.

Tips to get involved: first read [the contribution docs](https://www.gatsbyjs.com/contributing/), and see [how to set up your local environment](https://www.gatsbyjs.com/contributing/setting-up-your-local-dev-environment/)

[2020-10-08 09:17] alisson-suzigan commented on #21995
The `node-interface.js` file was already migrated and merged in [this PR.](https://github.com/gatsbyjs/gatsby/pull/26733)

[2020-10-08 09:44] wardpeet commented on #26608
Published in gatsby@2.24.70

[2020-10-08 09:45] wardpeet commented on #27151
Published in gatsby-plugin-preact@4.0.15

[2020-10-08 09:46] wardpeet commented on #17941
We'll be shipping this as a default in the next gatsby-image. I haven't tested it but I've seen amp embracing it so I'm going to trust them.

[2020-10-08 10:12] orangecms commented on #12370
Thanks for the hint! Unfortunately, prematurely opting in is not compliant with GDPR, which is why such additions do not suffice (and are misleading by design, mostly). Due to lack of interest in consent across many parties, I cannot propose any other solution myself than forking any fixing the issues oneself to fully comply with both laws and consumer interest.

[2020-10-08 10:19] ascorbic commented on #27308
I am not a lawyer, but I have worked quite a bit with the GDPR. There is no scenario where scroll position could be considered to be PII! That said, it is a reasonable feature request so if someone wants to contribute then please go ahead. Are you planning to do this, @devbhansingh ?

[2020-10-08 10:22] ascorbic commented on #27325
@angelod1as What a great bug! Are you saying that if you don't resize that it reliably hangs forever? Can you record another video where you let it hang for say 30 seconds before resizing? Does it only happen when the terminal is very narow like in your video?

[2020-10-08 10:25] ascorbic commented on #27325
Also, is this only in iTerm? Can you repro it in Terminal too? How about if you're using a different shell, or if your shell extensions are disabled?

[2020-10-08 10:27] acdotme commented on #12370
No worries! Not sure if I've missed something within this, but as far as I can see this solution doesn't allow any cookies to be set that aren't enabled in the "necessary" grouping, i.e. cookies that are required for the application to work such as session cookies.

You are only opted in to cookies that are necessary for the website to work; GDPR and other regulations are not concerned with functi

[2020-10-08 10:43] ascorbic commented on #27328
Hi. I'm not sure I can think of any way we can address this without a way to reproduce it. If you can think of a way then please share, otherwise we don;t really have anywhere to start. Do you have any idea of how common the issue is?

[2020-10-08 10:45] ascorbic commented on #27323
Hi. Any 2xx code means success, and in this case the 204 code is correct as there is no body. I'm going to clsoe this as it is working as expected.

[2020-10-08 10:45] #27323 closed

[2020-10-08 10:59] orangecms commented on #12370
Yes, that is what I meant by misleading. The intent of the law is not to look at specific technologies - albeit doing so in some instances -, but to forbid collecting data without explicit consent. In specific, necessary, but not satisfactory terms, that means that no script must be loaded from third parties and no data collected before having said explicit consent.

That is what sales and busines

[2020-10-08 11:55] nahidaislam commented on #14699
Hey, any idea how I can call each of the images separately in another js file? Each image will have different links to them and therefore I cannot just return them as an array.

[2020-10-08 12:08] ascorbic commented on #27310
Hi. I'm afraid I can't reproduce this. I've checked-out your branch and run build ten times and it worked fine each time. Do you get the same issue if you run it on another machine, or in CI?

[2020-10-08 12:39] ascorbic commented on #27290
Hi. I'm afraid I can't repro this. Here's what I did:

- Created a `synthetic.conf` file with a firmlink from `/foo` to a folder in my home directory.
- Rebooted and confirmed that `/foo` had been created and was writeable
- Ran `gatsby new` in `/foo` and created a site from the default starter.
- Ran `gatsby develop` in the site folder
- Edited `pages/index.js`

It hot-reloaded as expected.

Coul

[2020-10-08 12:41] vladar commented on #26857
We are happy to accept a PR! But this will be a breaking change (as now the build that was failing previously can pass unexpectedly). So it will require a major bump for the plugin.

[2020-10-08 12:56] KuSh opened #27338 "(gatsby-cli): `gatsby new` => Command failed with ENOENT: yarnpkg"
## Summary

While following the tutorial I got an error because yarn is necessary but isn't listed as needing to be installed

[code]

### Motivation

This doesn't help being reassured at using gatsby if the basically first step of getting to know it ends up in errors ...

## Steps to resolve this issue

After installing yarn with `npm install -i yarn` problem is solved

### Draft the doc

I don't

[2020-10-08 13:09] joesanchezjr commented on #26857
Great! I'll take another look at the contributing docs on the Gatsby site and open up a PR. And yes, I believe that exposing it as a plugin option instead is a great idea!

[2020-10-08 13:16] laurieontech commented on #27333
Thanks for filing the issue! The problem right now is that the site is using the "wrong" version of theme-ui when you install with npm (which is what you have set up with gatsby new). There are a couple of options to fix this.

1. You can override the version by adding `"theme-ui": "0.4.0-alpha.3"` to the dependencies in your package.json file.
2. Alternatively you can use yarn which is able to pi

[2020-10-08 13:16] #27333 closed

[2020-10-08 13:22] acdotme commented on #12370
I think a large part of the problem with GDPR / PECR / cookie law and others is that they are vague and open to interpretation.

That being said, here in the UK the ICO is one of the official bodies that enforce data privacy laws & compliance and their solution to managing cookies is the Civic one I listed above. I would imagine they have done their due diligence in looking at that solution before

[2020-10-08 13:49] kevcenteno opened #27339 "gatsby-cli 2.12.105: Cannot find module 'gatsby-cli/src/structured-errors/error-map' or its corresponding type declarations."
## Description

`gatsby develop` results in a typescript error

### Steps to reproduce

1. Set up a basic gatsby project with typescript
2. Make sure you have Gatsby-cli 2.12.105 installed
3. Run `yarn develop`

### Expected result

Development bundle building succeeds

### Actual result

Development bundle building fails:

[code]

### Environment
[code]

[2020-10-08 13:52] kevcenteno commented on #27339
This looks like the offending commit: https://github.com/gatsbyjs/gatsby/commit/726d56c975a321455fcd234e4be656d977ccfc02

[2020-10-08 14:11] LekoArts commented on #27338
`yarn` is not necessary for the tutorial. `gatsby new` only tries to use `yarn` when our checks tell us that you have `yarn` globally installed. Please run `gatsby info --clipboard` and share it here. Thanks!

[2020-10-08 14:19] kokum007 opened #27341 "images are not working in doc"
i found images are not working correctly in following path
[docs/tutorial/e-commerce-with-datocms-and-snipcart](url)

image links are broken or misleading in index.md on above path

[2020-10-08 14:20] LekoArts commented on #27339
Sorry for the troubles, this was caused by https://github.com/gatsbyjs/gatsby/pull/27176 and will be fixed by #27340 after a new publish

[2020-10-08 14:33] LekoArts commented on #27341
Thank you for opening this!

The docs are supposed to be read on https://www.gatsbyjs.com/tutorial/e-commerce-with-datocms-and-snipcart/ and there all images are working :)

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contr

[2020-10-08 14:33] #27341 closed

[2020-10-08 14:36] kevcenteno commented on #27339
No worries.  I appreciate the quick turnaround!

[2020-10-08 14:38] #27339 closed

[2020-10-08 14:56] LekoArts commented on #27339
[code]

[2020-10-08 15:19] KuSh commented on #27338
Here you are :

[code]

I don't know what I can provide in addition to what I provided in initial message for a minimal reproduction. What you pointed me at asks me to create a new Gatsby site with gatsby-cli ... my bug report says I can't even go there :)
If you have anything particular in mind just let me know !

Regards,
Nicolas

[2020-10-08 15:32] KuSh commented on #27338
Ok after digging in cli sources, it seems I kept a ~/.config/gatsby/config.json file from a past installation / usage
[code]

And gatsby-cli do trust that config file even if packageManager isn't available anymore.
After removing it, gatsby-cli is working as expected again !

Perhaps hardening cli by testing if packageManager bin really exists before using it and log a warning otherwise could be a

[2020-10-08 15:32] martingreilinger commented on #21995
I will help with `/src/query/file-parser.js` and test

[2020-10-08 15:41] azzazzel commented on #27290
Hmm, that's odd.
I did run with `-verbose` but nothing appears in the logs when I edit a page. It just shows the initial log:
[code]

In may case the firmlink points to a folder in `/System/Volumes/Data/` rather than the user's home directory. Perhaps that's  the issue.

[2020-10-08 15:46] laurieontech commented on #27338
Thanks for the updated information! Having an outdated config file would definitely explain a piece of this. However, we do check for your local version of `yarnpkg` (to prevent conflicts with hadoop yarn) and somehow you were able to pass that check as well.

I know you've installed yarn now, so it might not be possible, but I'd be curious what the result of  `yarnpkg --version` was prior to that

[2020-10-08 16:06] KuSh commented on #27338
I was using the latest package from yarn deb repository (https://dl.yarnpkg.com/debian/ stable main) which seems to be v 1.22.5 ATM.
I removed yarn + node from nodesource.com deb repository to switch to nvm this week and didn't reinstalled yarn after that

Dunno if that helps

[2020-10-08 16:20] KuSh commented on #27338
For the record. If I set cli.packageManager to yarn in my ~/.config/gatsby/config.json I can reproduce.
I'll try to make a PR to fix the problem if I can find what is causing that :+1:

[2020-10-08 16:20] ascorbic commented on #27290
Perhaps. As it doesn't seem to know about the file change at all guessing this is an issue with webpack (or specifically watchpack), as it doesn't look like it's getting an event for the file changing. You'd expect something saying "Webpack file changed: .." and then the filename. Can you check whether you can repro it with a link to a folder in your home directory?

[2020-10-08 16:22] laurieontech commented on #27338
Thanks @KuSh! I think there may have been a false positive when we checked for yarn. I've opened a PR, #27343

[2020-10-08 16:23] kokum007 commented on #27341
[https://www.gatsbyjs.com/tutorial/e-commerce-with-datocms-and-snipcart/](url)

yeah above link everything works.
But i found inside the repo [https://github.com/gatsbyjs/gatsby/blob/master/docs/tutorial/e-commerce-with-datocms-and-snipcart/index.md](url)

the images are not showing in index.md file so i fixed it.  @LekoArts  anyway thanks. ill continue to contribute if I found something else.

[2020-10-08 16:33] ilyador commented on #18425
@jevinsidhu can you please share your check code in the 404.js? It's not clear to me what are you checking.

[2020-10-08 16:34] ascorbic commented on #27290
My guess is that this is related to webpack-dev-server, which uses chokidar@2, which in turn uses fsevents@1, which is pretty old. They are promising an imminent update (like, in the next week), so we may be able to upgrade it.

[2020-10-08 16:35] aaronadamsCA commented on #26580
I also tried with `--verbose`, the only difference between save 1 and save 2 is the appearance of an additional line:

[code]

If it helps, here's a "stress test" so to speak which might change your thoughts on what's happening:

1. Add a letter to the name of the GraphQL page `query`
1. Save
1. `GOTO 1`

I am seeing page queries re-run on _every other_ save to the file.

[code]

[code]

[code]

[

[2020-10-08 16:40] johng2t commented on #27333
@laurieontech  Thank you its working.

[2020-10-08 16:50] faridsaud commented on #26434
similar issue as @pcolmer

[2020-10-08 16:52] azzazzel commented on #27290
Thank you for the explanation.

I'm not a JS developer (I just need to make some small changes in existing Gatsby project). The JS "dependency hell" is somewhat a mystery to me and I desperately try to stay away from it as the Java one that I normally deal with is already more than enough of a headache.

If you think an issue should be reported to one of those project Gatsby depends on, I hope som

[2020-10-08 16:53] KuSh commented on #27338
Thanks @laurieontech , I did test your fix, it doesn't work. I think I found the bug and the fix just let me 5 sec to test and push a PR ^^

[2020-10-08 17:00] douglasjunior commented on #2293
How about dynamic fields? I'm trying to implement i18n with Gastby and Strapi, so I need to return only the fields specific to the user language.

[code]

[2020-10-08 17:04] AlAyoub commented on #19846
Updating Google Chrome fixed it for me too!

[2020-10-08 17:16] ashishch-98 opened #27344 "not getting audio from markdown frontmatter"
I have a blog in which each blogpost has its audio file. So, this audio file is added in the frontmatter of the respective markdown. To play this audio I'm using [react h5 audio player](https://github.com/lhz516/react-h5-audio-player). But on the webpage, the audio file from the markdown does not load.

Here is the frontmatter of the blog.

[code]

Then this is how I query it in the blog-template.

[2020-10-08 18:22] angelod1as commented on #27325
Here's the video with iTerm fullscreen and running (actually _hanging_) for about 30 seconds before resize: https://streamable.com/5wkr3b

Here's running on Terminal: https://streamable.com/ntwbo3

Here's on Terminal + Bash (instead of zsh): https://streamable.com/kobecf

Fun, isn't it?

[2020-10-08 18:24] hartshorne commented on #26580
@ascorbic I checked out a few starter projects, fast-refresh seems to work fine there. does fast-refresh work on the main gatsbyjs.com site? (i started building https://github.com/gatsbyjs/gatsby/tree/master/www, but stopped when it started resizing some thousands of images.)

@aaronadamsCA my first touch (or save) breaks/blocks the server, second one unbreaks it. do you see the same behavior with

[2020-10-08 18:57] #27338 closed

[2020-10-08 18:59] amandakievet commented on #26055
Thanks all!

[2020-10-08 19:31] angelod1as commented on #27325
Yep, let it running for some time and it stayed there. Then, resized and all worked fine.

![image](https://user-images.githubusercontent.com/13950513/95504783-a778a700-0983-11eb-8c03-886594449ae6.png)

[2020-10-08 19:49] master12 commented on #16040
bump

[2020-10-08 19:55] aaronadamsCA commented on #26580
@hartshorne, nope! My server continues running. My project isn't using TypeScript though, I'm able to reproduce with a very small set of deps:

https://github.com/shopnishe/gatsby-issues/blob/0449fa53c63b76409ce26190c0e2212c39f9f997/package.json#L16-L29

[2020-10-08 20:25] mwlai288 commented on #25290
@muescha anything still needs to be worked on?

[2020-10-08 20:48] cbandara commented on #25427
"gatsby-source-filesystem": "^2.3.14",
    "gatsby-source-strapi": "0.0.12",

I have updated my package.json and ran npm install but I still encounter this error

[2020-10-08 21:04] pvdz commented on #27325
Now all we have to do is get one of our engineers that use a mac to be able to repro this. This cracks me up, thank you for surfacing it :D

[2020-10-08 21:04] muescha commented on #25290
Yes. There are still more words from `dictionary.txt` which can be touched (fixed/removed)

[2020-10-08 21:17] pvdz commented on #27325
Since common questions don't qualify here, let me ask some unusual ones :p

- Can you tell us a bit more about your screen and resolution?
- Does the problem repro at pretty much any size of the terminal?
- Is it for example always maximized?
- Are there any particular plugins you're using? Particular settings to the terminal?
- Are there other devices where you can repro this problem?

Can you st

[2020-10-08 22:14] angelod1as commented on #27325
- I have two Acer VA270H (full HD) plugged to a MacBook Pro Retina mid-2014. The bug happens regardless of screen.
- It happens at any size, from smallest to fullscreen. I usually run my terminal maximized at the Retina screen but I tested in all monitors and with different HxW and it kept happening.
- I use zsh and a few plugins, described below. But as aforementioned, I tested this on bash — no

[2020-10-08 22:24] cesarvarela commented on #27297
Thanks!

[2020-10-08 22:24] #27297 closed

[2020-10-08 22:32] pvdz commented on #27325
So while the spinner is frozen (the point where you can can get unstuck by resizing) pressing the pause icon in the top-right does not actually pause anything? That... could be a very relevant clue.
The spinner being frozen indicates a blocking loop. Ohhhh right, `develop` works slightly differently in this regard (sorry I mainly work on `gatsby build` stuff). I believe you can do `gatsby develop

[2020-10-08 22:33] pvdz commented on #27325
And does this happen in `gatsby build` as well? (There `node --inspect` should work fwiw). Or is it only in `develop`?

[2020-10-08 22:57] angelod1as commented on #27325
Now that you mentioned it, `gatsby build` also freezes. I hadn't noticed it before. Running `node --inspect` using `build` also shows nothing.

[2020-10-09 00:02] blimpmason opened #27349 "Scroll restoration no longer works on popState when using shouldUpdateScroll browser API to orchestrate page transitions"
## Description

At some point in the last six months or so the shouldUpdateScroll browser API hook and related functionality seems to have been changed under the hood and introduced breaking changes to scroll restoration for Gatsby sites that use a simple animated page transition implementation (as introduced by @ryanwiemer: https://github.com/ryanwiemer/gatsby-using-page-transitions).

I'd guess

[2020-10-09 01:23] jsanchez034 commented on #12184
Yeah ended dropping the multi-feed feature

On Tue, Oct 6, 2020 at 8:45 AM Ernesto de la Cruz Guevara Ramírez <
notifications@github.com> wrote:

[2020-10-09 01:47] TheSench commented on #27222
I got here via the topic, so you should be good. 👍

[2020-10-09 05:56] hasparus commented on #12155
I had to change @digital-flowers' function a bit to pick fragments by name, since an unused fragment fails a query.

[Here's the gist](https://gist.github.com/hasparus/8a65896f4ca98aa6bd54c44ebdf5d9e5).

[code]

[2020-10-09 08:42] Cassianosch commented on #17059
Same error!

[2020-10-09 09:13] azzazzel commented on #27290
OK, I was forced to restart my machine so I used the occasion to test it.
It indeed works OK if the firmlink points to user's home folder. It does not, if it points to a folder in `/System/Volumes/Data/`

[2020-10-09 09:13] adonig opened #27351 "Version 2.24.70 Breaks How location.search Gets Updated"
## Description

Starting with version 2.24.70 my website's search field stopped working.

### Steps to reproduce

1. Checkout [the minimal reproduction](https://github.com/adonig/gatsby-location-search-bug)
2. Run `yarn install && yarn run develop`
3. Open `http://localhost:8000/` in the browser and try the search field. Note that it does work.
4. Change "<2.24.70" in package.json to "^2.24.70"
5.

[2020-10-09 09:44] kuworking opened #27352 "createPortal destroys styles in build, not in develop"
I'm trying to use `createPortal` to feed an `iframe`, but it doesn't work

It does work with `gatsby develop`, but when using `gatsby build` the styles of the parent page are lost

Here it is the minimal repo https://github.com/kuworking/createPortalGatsbyBug

When using `develop`

![image](https://user-images.githubusercontent.com/4474004/95568392-7308f780-0a24-11eb-80ee-51b93f539a21.png)

And wh

[2020-10-09 10:02] vladar commented on #27344
Thank you for opening this, @ashishch-98 !

You should be using `publicURL` in your query like this:

[code]

See [related docs section](https://www.gatsbyjs.com/docs/importing-assets-into-files/#querying-for-a-file-in-graphql-using-gatsby-source-filesystem).

Also, I've created a [simple example](https://github.com/vladar/audio-gh-27344) while trying to reproduce this, here are the changes made f

[2020-10-09 10:02] #27344 closed

[2020-10-09 11:15] talohana opened #27355 "VSCode Debug on windows SyntaxError: missing ) after argument list"
## Description

I've tried to debug the build process following the docs - [VS Code Debugger (Manual Config)](https://www.gatsbyjs.com/docs/debugging-the-build-process/#vs-code-debugger-manual-config), after saving and running `Gatsby develop` config I got the following error:

[code]

I workaround this by changing the config to:

[code]

It worked but logged `Debugger attached.` 4 times, which I'

[2020-10-09 12:44] vladar commented on #27349
Thank you for opening this @blimpmason

And big kudos for an excelent reproduction! ❤️

I've bisected it and seems that it was introduced in `gatsby@2.21.15`: [compare](https://github.com/gatsbyjs/gatsby/compare/gatsby@2.21.14...gatsby@2.21.15).

The only suspicious PR is this one: #21626 and it is marked as a breaking change (but for the plugin not for gatsby). So this interesting.

I didn't have

[2020-10-09 13:11] ashishch-98 commented on #27344
Thanks, man it worked. I think I was missing the "gatsby-remark-copy-linked-files" plugin.  Earlier I tried using _publicURL_ it didn't work but on adding this plugin the audio works fine.

[2020-10-09 13:30] vladar commented on #27351
I reproduced this locally. Probably caused by this: https://github.com/gatsbyjs/gatsby/pull/27261#discussion_r502425108

[2020-10-09 13:57] LinnJS commented on #21995
I will take `print.js`!

[2020-10-09 14:12] pvdz commented on #27298
Considering it's been like this for two years, I would suggest to either keep it as is or drop it entirely. If nothing is actually using this, they're just dead bytes. And arguably, the protocol of the canonical url should be leading anyways so it feels like a redundant field regardless.

[2020-10-09 14:32] Kidist-Abraham commented on #21299
Same here, with `Couldn't find the "gatsby-plugin-material-ui" plugin declared in "project/gatsby/gatsby-config.js".` while it is declared in `gatsby-config.js`

[2020-10-09 15:12] pvdz commented on #27298
Ok, @pieh pointed me towards https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-canonical-urls/src/gatsby-browser.js#L6-L21 and that this is probably the reason for these attributes existing in the first place. Nothing else. So removing the colon would break that so we're not going to do that.

So I'd propose to drop these attributes and get this information straight from the ca

[2020-10-09 15:55] vladmiller commented on #25868
I experience the same behaviour with WordPress using `gatsby-source-graphq`.

[2020-10-09 16:04] juliendf commented on #26377
Same issue, same solution ! Thanks @killoblanco

[2020-10-09 16:30] jevinsidhu commented on #18425
@ilyador

`const ErrorPage = () => {
  const browser = typeof window !== "undefined" && window;

  return (
    <>
      {browser && (
        <>
          <SEO title="HXOUSE · 404" />
          <Container id="ErrorContainer">
            <Heading>Page Not Found</Heading>
            <HomeButton to="/">Go Back to Home</HomeButton>
          </Container>
        </>
      )}
    </>
  );
};`

[2020-10-09 16:31] jevinsidhu commented on #18425
@ilyador Here's what my 404.js looks like:

[code]

[2020-10-09 16:58] developer0116 opened #27366 "Add Expires headers"
I have built up website using Gatsby deployed on AWS Amplify.
I measured the performance score on GTMetrix. The speed score is 96 and yslow is 84 because of the `Add Expires headers` issue.
How can I add the expires headers in Gatsby.

Thanks

[2020-10-09 17:33] vladar commented on #27366
Thank you for opening this, @developer0116

Ideally, the "Expires" header should be set in your web server configuration. So maybe look for it in Amplify docs/support. As a fallback try adding a meta tag (using [react-helmet](https://www.gatsbyjs.com/docs/add-page-metadata/#using-react-helmet-and-gatsby-plugin-react-helmet)):

[code]
(make sure to change the value to something that makes sense in

[2020-10-09 17:33] #27366 closed

[2020-10-09 17:46] jabrks opened #27368 "Custom resolver value not used for sorting in page query"
## Description

Introduced in `gatsby@2.24.51` as a result of [#26644](https://github.com/gatsbyjs/gatsby/pull/26644).

I started to look into what the cause of the issue might be and I've shared my findings below.

We have a custom resolver for a nested Date field, and a static query with a sort on that Date field. We also have a page query with both a sort on the Date field and a filter on a Cat

[2020-10-09 18:13] connor4312 commented on #26708
I think this is still valid

[2020-10-09 18:20] davidstelter commented on #23629
Files like webpack.stats.json being deployed can cause false positives for information exposure in automated security scanners, so having a clean way to address this without custom intervention by end-users would be good.

[2020-10-09 19:51] dougestey commented on #22206
Open graph tags not being pulled in from a Gatsby site to Facebook/etc is a bug.

[2020-10-09 20:29] raphaelbsioliveira commented on #7000
thanks man

[2020-10-09 21:24] airtonix commented on #5665
experiencing this same issue, @craveytrain what was your misunderstanding?

[2020-10-09 21:32] airtonix commented on #24513
@LekoArts This needs to be documented here:
- https://www.gatsbyjs.com/docs/path-prefix/#add-to-gatsby-configjs

[2020-10-09 21:43] daiviknema opened #27370 "Error with gatsby-plugin-styled-components and Gatsby v2.24.67: pluginOptionsSchema not available"
## Description
Apologies if I'm missing something obvious here. While running `gatsby build` I see the following error message in `gatsby-plugin-styled-components`:

[code]

Not sure if I should be using a different version of Gatsby? I found [this](https://github.com/gatsbyjs/gatsby/pull/27357/files) - again, not sure how relevant it is here?

### Steps to reproduce

I've created a minimal reprod

[2020-10-10 06:21] Shock451 commented on #27308
Hi, I'd like to take up this issue.

[2020-10-10 09:04] nhc commented on #22206
There is a bug here and it needs investigating. I will try and pull together a decent test case over the next week.

At one time the solution at the top worked fine, but as versions have progressed, the re-ordering has stopped completely.

So for example in my case

[code]

So the ordering just doesnt work. I don't know if another plugin like `gatsby-plugin-manifest` is interfering somehow, but I

[2020-10-10 09:10] peonmodel commented on #26434
i believe i have the same issue, i am using semantic-ui-react Menu, for some reason on first load, it ignore my css styling in favour for semantic default theme, subsequent loading of the page will fix the issue for the entire site until the cache is cleared

this problem did not occur in `gatsby develop`,

it doesnt go away when i `gatsby clean`, so i am certain it wasnt a cache issue

i have tri

[2020-10-10 10:37] samfenwick opened #27375 "onCreatePage is not fired when creating pages with gatsby-source-wordpress"
## Summary

- I am using gatsby-source-wordpress to make a gatsby site with a headless wordpress backend

- In my gatsby-node.js createPages function I programatically create pages with page slugs I get from wordpress

- If i log out each page created in the onCreatePage func then I am not seeing any of the pages created as part of that step, only the /404/ page generated by gatsby.

- From readin

[2020-10-10 10:41] Axel-Daguerre commented on #27370
Same than you for me :
[code]

[2020-10-10 11:19] christopher-talke opened #27376 ""gatsby-source-graphql" threw an error while running the sourceNodes lifecycle: Unexpected end of JSON input"
## Description

During `gatsby develop` or `gatsby build` the `gatsby-source-graphql` plug-in seems to be throwing this particular error.

[code]

### Steps To Reproduce

I'm not 100% sure how or why this is happening, but the repository is public that I am working from, and here is the latest commit:

- https://github.com/christopher-talke/moneill-2020

### Expected Result

Theoretically the sour

[2020-10-10 12:01] catalina-cimpanu opened #27377 "gatsby-cli not working anymore after updating to 2.12.107"
## Description

Hi! I am writing this because I didn't find any recent help for this issue. This morning I started working on 2 gatsby projects (basically the same site in 2 versions). When I opened the first one in VS code and started the development with "gatsby develop", I had no issue. Then, I opened the second one and I saw that I can update gatsby-cli, so  I thought to myself , I'd better do

[2020-10-10 13:12] catalina-cimpanu commented on #27377
so, just a bit of an update: meanwhile because of me using
`npm config set prefix /usr/local`
I couldn't even start my strapi server (i use strapi as a source).
But I found this: [https://stackoverflow.com/questions/34600932/npm-eperm-operation-not-permitted-on-windows](https://stackoverflow.com/questions/34600932/npm-eperm-operation-not-permitted-on-windows) so I changed the config file as recomm

[2020-10-10 16:04] ianseberg opened #27378 "Form not working"
## Description

I'm expecting the button to show correctly but when load the page, only on Safari, I see just a button.
Strate starter.
https://github.com/ianseberg/comprooro-lascari

### Steps to reproduce

Just build and try local

### Expected result

Rectangular yellow button with text

### Actual result

When I load the page in mobile Safari I don't see the button correctly formatted

### Env

[2020-10-10 18:09] rootlinux2 commented on #25554
I have the same problem with

"gatsby": "2.24.73",
"gatsby-cli": "2.12.107",

I tried the resolution but is not working

"resolutions": {
  "gatsby-react-router-scroll": "3.0.3"
}

[2020-10-10 18:37] brootle commented on #25554
There is super easy solution to this problem. Use Gatsby **Link** component for anchor links, don't use <a> for that. Gatsby documentation specifically says that we must use <a> for anchor links, but it simply fails when it's about smooth scrolling. I replaced <a> with <Link> and everything magically works after that. I also added **scroll-behavior: smooth;** for html in styles

[2020-10-10 19:50] rootlinux2 commented on #25554
@brootle you are right, my problem was gatsby-link, I just replaced for an anchor tag and the issue was solved, Thanks, I did not see the documentation[ recommendations ](https://www.gatsbyjs.com/docs/gatsby-link/#recommendations-for-programmatic-in-app-navigation)

[2020-10-10 20:01] brootle commented on #25554
I didn't notice that `<a>` didn't render in my reply, so what works in your case? `<a>` or `<Link>`? as in my case `<Link>` works and `<a>` doesn't work

[2020-10-10 20:37] jeffreymeng commented on #21995
I'll work on `/src/query/graphql-errors.js`

[2020-10-10 20:38] vrabe commented on #27349
Hello, I think it's because [`getSavedScrollPosition()`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/navigation.js#L132) calls [`this._stateStorage.read()`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-react-router-scroll/src/session-storage.ts) with only one parameter. But it has 2 parameters.

[2020-10-10 21:05] aaronadamsCA commented on #15277
Since this is a _wish_ list, I know this will be controversial, but:

No more unnecessary backticks (template literals that could just be strings). They increase learning curve, they decrease readability.

I already use `quotes: ["error", "double", { avoidEscape: true }]` to adjust this in my projects, and anyone who really felt passionately about "backticks everywhere" could (and probably already

[2020-10-10 23:08] tomconder commented on #7027
The repo created to reproduce this issue no longer exists. Does anybody have a copy/fork I can clone?

[2020-10-11 00:14] #26303 closed

[2020-10-11 00:38] rootlinux2 commented on #25554
oh dude, what a happy misunderstanding! in my case `<Link >` from gatsby does not work, but using the `<a>` HTML tag works, the wear thing here is that I was using `<Link>` for a time but after updated gatsby version and all my dependencies I face this issue, Now I see in the gatsby documentation this recommendation and everything makes sense.

[2020-10-11 04:47] danyim commented on #25859
Also ran into this with Node 12:

[code]

[2020-10-11 06:18] hsensh opened #27382 "Gatsby's Component-level GraphQL Fetches only 10 Results for a One-to-many Relation"
Hello, I wouldn't be posting this here had I found something but there is literally nothing I stumbled upon that implied it has happened to anybody else.

I am using Gatsby with the Strapi data source and everything was working perfectly following [this tutorial](https://strapi.io/blog/build-a-static-blog-with-gatsby-and-strapi)

I was attempting to query from a component with the following code:

[2020-10-11 07:39] kamigerami commented on #27370
same gatsby version here. The issue is similar with the following plugin as well.
[code]

[2020-10-11 07:49] phbo85 opened #27383 "Can't get gatsby-plugin-catch-links to work with gatsby-source-wordpress"
## Summary
I'm using `gatsby-source-wordpress` and everything works fine. The WordPress content uses internal links which I want to change using `gatsby-plugin-catch-links`.

In my implementation I'm putting the content from the graphQL query into the template like this:
[code]
The result is, that the links don't change at all and still point to the WordPress installation

What am I doing wrong? I

[2020-10-11 10:14] mikeyfe6 opened #27385 "How to format Contentful Rich Text to readable html for RSS feeds?"
## Summary

**I'm trying to figure out how to format Contentful JSON data to readable HTML for my RSS feeds on my website. I'm working in my `gatsby-config.js` file, so i cannot `import` any plugins. So I need to have a work around.**

## Relevant information

When I use ` // 'content:encoded': JSON.stringify(edge.node.body.json)` it shows me the data but its unformatted.

This is the code in my `

[2020-10-11 10:54] SimonKlausLudwig opened #27386 "Gatsby-Plugin-Sitemap custom sitemap index"
## Summary

Ability to add a custom sitemap index for gatsby-plugin-sitemap

### Basic example

I have a application with the following structure

mysite.de/en/ (English)
mysite.de/fr/ (French)
...

Each subfolder contains its own sitemap.xml. I want to add a sitemap index entry for the sitemap.xml in the root folder.
Is this possibly somehow ?

### Motivation

Even If i use alternate links https:

[2020-10-11 11:12] pedrofsantoscom commented on #25630
In my case I fixed the issue loading polyfill.io lib into the page
[code]

[2020-10-11 11:12] pedrofsantoscom commented on #19618
In my case I fixed the issue loading polyfill.io lib into the page
[code]

[2020-10-11 11:24] ibanlopez commented on #27370
Same error for me here.

[2020-10-11 11:38] JustFly1984 commented on #19618
@pedrofsantoscom please explain how did staticly loaded script solves an issue for gatsby.js?

[2020-10-11 12:41] ABSphreak commented on #27370
Same error here, builds are failing a lot.
[code]

[2020-10-11 12:51] muzam1l commented on #23969
One thing I would like to add is that: triggering builds on addition of page in CMS would be good only for sites whose content doesn't update often, what if the pages are added more frequently (say blog with multiple users), so my query is  _**is there any way to add only the newly created page (static not the client-side route) to Gatsby site without triggering the whole build **_. This is seriou

[2020-10-11 13:57] herecydev commented on #27382
Not that I know of, one query I have for allNodes returns 300 results

[2020-10-11 15:22] stephanebruckert commented on #8781
Follow this depending on what host you use https://stackoverflow.com/a/52770491/1515819
In my case I use netlify and all I had to do is install https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/
And add this to my `gatsby-config.js`

     plugins: [`gatsby-plugin-netlify`]

[2020-10-11 16:40] edwmurph commented on #27370
same on `gatsby@2.24.53`
[code]

upgrading to `gatsby@2.24.73` fixed it for me

[2020-10-11 17:19] chrysillala commented on #25290
Hi @muescha, is this still open? Can I try to help? Thanks

[2020-10-11 18:52] daiviknema commented on #27370
Thanks @edwmurph -- upgrading to 2.24.73 solved it for me as well. I don't think the error was causing any functional issues (atleast for me); it was just an eyesore on an otherwise error-free build

[2020-10-11 23:31] dbxt opened #27387 "Gatsby/NetlifyCMS: onClick nor any dom events available after rendering build"
## Description

I have a lerna monorepo with 20+ gatsby sites all pulling from a shared component library.  I added a netlify-cms-gatsby site to the monorepo and it works fairly well with one show stopping caveat...  No dom events make it through the build process.  No onClicks, no onMouseDowns, nothing.  In fact after some targeted testing, I can't do anything other than a basic href, which is to

[2020-10-11 23:47] rbarbazz commented on #25554
@rootlinux2 Thanks for sharing the documentation link, updating Gatsby to the latest version and using `<a>` tags fixed the issue for me as well.

[2020-10-12 00:14] #26398 closed

[2020-10-12 00:14] #26312 closed

[2020-10-12 02:00] daiky00 commented on #11830
@wardpeet any updates on this?

[2020-10-12 03:03] walxlgf opened #27395 "npm install failed with error "autoreconf -fiv""
## Description

npm install failed with error "autoreconf -fiv"

### Steps to reproduce
npm install

### Expected result
install successful.

### Actual result
× Error: Command failed: C:\Windows\system32\cmd.exe /s /c "autoreconf -fiv"
'autoreconf' is not recognized as an internal or external command,
operable program or batch file.

### Environment

System:
    OS: Windows 10 10.0.18362
    CPU:

[2020-10-12 04:11] hayatae commented on #27020
This appears to be a regression somewhere between gatsby 2.24.63 and 2.24.73 dealing with navigation changing only the search parameter.

On version 63, calling `navigate('?p=42', { replace: true })` updates the URL search parameter and causes a component re-render. Inside the render, accessing either `location.search` (via gatsby's passed in location) or `window.location.search` shows the expecte

[2020-10-12 04:25] hayatae commented on #27020
Minimal reproduction repo:
https://github.com/hayatae/gatsby-search-param-bug

Steps to reproduce:
1. Run `npm run develop`
2. Open the page, click on the buttons to change the search param - observe no updates

See it work in an older version of gatsby:
1. Run `npm install gatsby@2.24.63`
2. Run `npm run develop`
3. Open the page, click the buttons, see everything update as expected when the URL

[2020-10-12 05:31] kuworking commented on #26706
not stale

[2020-10-12 06:24] mxstbr commented on #27370
# To resolve this issue, please upgrade to the latest version of the `gatsby` package

The reason y'all are seeing this error is because Gatsby validates that only known APIs are exported from `gatsby-node.js`, even for plugins you use in your sites. We added `pluginOptionsSchema` as a known API and have started adding it to our core plugins.

When you upgraded the plugin packages to later version

[2020-10-12 06:24] #27370 closed

[2020-10-12 07:25] LekoArts commented on #27377
Hi, thanks for the issue and your answer to it. Permission issues are out of our hands but glad you were able to solve it :)

[2020-10-12 07:25] #27377 closed

[2020-10-12 07:27] LekoArts commented on #27378
Thank you for opening this!

This isn't a bug with Gatsby and also not a project we maintain. Please open an issue on the starter's repository or ask about general React questions in the communities mentioned below.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [

[2020-10-12 07:27] #27378 closed

[2020-10-12 07:27] LekoArts commented on #27382
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-12 07:32] LekoArts commented on #27383
Hi, thanks for the issue!

Before further digging into this issue, would you be up for switching to the latest WordPress version?
`gatsby-source-wordpress@v3` will soon be deprecated in favor of https://github.com/gatsbyjs/gatsby-source-wordpress-experimental (it'll be released under the same name in `gatsby-source-wordpress@v4`).

It'll solve your problem by default: https://github.com/gatsbyjs/g

[2020-10-12 07:37] LekoArts commented on #27387
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-12 07:38] LekoArts commented on #27395
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-12 07:40] LekoArts commented on #26863
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-12 07:40] #26863 closed

[2020-10-12 07:40] LekoArts commented on #26041
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-12 07:40] #26041 closed

[2020-10-12 07:41] LekoArts commented on #27093
Please [provide a minimal reproduction][reproduction] and we'll be able to take another look.

[reproduction]: https://gatsby.dev/reproduction

[2020-10-12 07:44] ascorbic commented on #27290
Ok, thanks. I will do some tests today and see if it's a fsevents thing

[2020-10-12 08:08] josephmarkus commented on #25554
Using Gatsby Link takes advantage of faster page navigation. Using anchor tags will cause a full page refresh.

[2020-10-12 08:37] LekoArts commented on #26708
If anyone wants to pick this up, as per @connor4312 it would make sense to leverage `inspector.url`:

To fix the issue:

[2020-10-12 08:50] vladar commented on #27375
Hi @samfenwick !

Just to clarify - when you source data from any other source - can you reproduce this?

It is hard to help without having some code to look at. So it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for i

[2020-10-12 08:57] meugeniatr commented on #22206
Hi! I'm having the same issue as you guys. I have a huge style tag rendered first on the HTML when my intention is to put meta tags on top of the head, since SEO best practices (and it's even noted on Google documentation) follows this guideline. I am working with Gatsby and still did not get something to work this way.

I will keep you updated about this fix, which is extremely delicate and basic

[2020-10-12 09:03] vladar commented on #27376
Hi @christopher-talke !

This error means that the client fails to parse the server response. Have you tried running the same GraphQL query against your remote server manually? Do you see the expected result?

Not sure if `apollo-link` version mismatch is causing this. I wish I could say more but there is no `.env` file in your repo, so I can't run it locally.

[2020-10-12 09:07] samfenwick commented on #27375
Hi there 👋

This is the only data source I’ve used with Gatsby so I’m not sure if it’s an issue with the actual plugin or some internal code to Gatsby itself preventing onCreatePage from firing (https://github.com/gatsbyjs/gatsby/issues/17498#issuecomment-529442071)

I will try and recreate the issue as you’ve mentioned.

[2020-10-12 09:12] SimonKlausLudwig opened #27400 "gatsby-plugin-emotion adds same css code multiple times"
## Description

I createad a simple component:

`
import styled from "@emotion/styled";
export const VBList = styled.ul`SOME_CSS`;
`

and used it in my component:

[code]
which then I use in one of my pages multiple times:

`<List/>`

For each time I use the <List/> component I get exact the same CSS code injected into my .html file.

I expected to contains the css just one time. Its a huge overlo

[2020-10-12 10:03] vladar commented on #27385
Thank you for opening this, @mikeyfe6

I think you can use [`createResolvers`](https://www.gatsbyjs.com/docs/node-apis/#createResolvers) API to add a new field (e.g. `rssHtml`) to contentful rich text field.

Try adding something like this in your `gatsby-node.js`:

[code]
(make sure to `npm install @contentful/rich-text-html-renderer` to make this work)

Then your graphql query for RSS feed shoul

[2020-10-12 10:03] #27385 closed

[2020-10-12 10:04] vladar commented on #27386
@moonmeister What do you think about it?

[2020-10-12 10:13] mikeyfe6 commented on #27385
Thank u @vladar, it works as a charm!

[2020-10-12 10:14] vladar commented on #27400
Closing as a duplicate of #14321

See also suggestions in https://github.com/emotion-js/emotion/issues/1061

[2020-10-12 10:14] #27400 closed

[2020-10-12 10:33] ItzaMi opened #27401 "Using different YAML files but just one template page"
## Summary
Currently I'm creating multiple pages from a single `yaml` file using a template page but over the time this is becoming too cumbersome and I figured that I'm doing this the hard way.
I would like to know if there's a way to address this issue on `gatsby-node` to allow for all the `yaml` files inside a certain folder to use the same template

## Relevant information
While looking at my

[2020-10-12 10:50] mxstbr opened #27402 "☂ [Umbrella] Gatsby Admin"
People experimenting with Admin — this is the place to ask questions, report bugs, suggest ideas and collaborate on improvements.

**Quick links:**

- [Docs](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-admin/README.md)
- [Code](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-admin/src)

**Known issues:**

- Some `gatsby-config.js` formats are not supported. If you

[2020-10-12 11:11] saadaouad opened #27403 "Your plugins must export known APIs from their gatsby-node.js."
## Description

I'm getting the error below after upgrading `gatsby-plugin-react-helmet` package from `3.3.13` to `3.3.14`:

[code]

/cc @mxstbr

[2020-10-12 12:03] mohinderps commented on #21995
Hey, I would like to work on `src/query/query-compiler.js`

[2020-10-12 12:31] ascorbic commented on #27403
Hi. Please upgrade to the latest version of gatsby to fix this. See #27370

[2020-10-12 12:31] #27403 closed

[2020-10-12 13:35] rootlinux2 commented on #25554
@josephmarkus what could I do? in the gatsby documentation, they recommend to use <a> tag for anchor links my first instinct was to use the gatsby link but I face this issue. Do you have a better idea?

[2020-10-12 13:40] catalina-cimpanu commented on #27377
Hi, Thanks for your answer, I really appreciate you taking the time. Yeah, first I had that permission issue and then I wasn’t able to install gatsby-cli correctly and continue my project. I didn’t find an answer, and I got a bit too lost.. that’s why I wrote the issue. But then, somehow, I solved it. So probably all I needed was to keep on trying Have a great day!

[2020-10-12 13:50] chocobuckle commented on #9062
@Coriou Thanks for the explanation. All working perfectly.

[2020-10-12 13:56] lucis commented on #10668
Having this same issue with Storybook v6 and the recommended settings from [Gatsby's tutorial](https://www.gatsbyjs.com/docs/visual-testing-with-storybook/).

Unfortunately, I was only able to make it work **switching to `gatsby-link`**, what I find not that great :(

@tevla I think it should be `import { navigate } from "gatsby-link"`. It works fine here both for Storybook and Gatsby.

[2020-10-12 13:58] josephmarkus commented on #25554
The idea is to use Gatsby Link for any links within your application (e.g. a link on homepage to about page). For everything else, you should use anchor tag (`<a>`).

This is what I have in my `package.json`:

[code]

[2020-10-12 15:38] Guiguerreiro39 opened #27407 "gatsby-background-image flickering and reshaping on scroll"
## Summary

I am using the gatsby-background-image plugin on my background images but, on mobile, when scrolling up and down in a section with a background image is seems that the image is reshaping and flickering making it annoying and sometimes slow. My background images are set to fixed and this can cause that issue perhaps.

## Relevant information

You can check out this issue on this link [h

[2020-10-12 15:40] vladar commented on #26580
I stumbled upon this issue while debugging a somewhat similar scenario. And now I think it is exactly the same problem. If so, it should be fixed by #27408

[2020-10-12 15:59] ascorbic commented on #23969
@muzam1l Take a look at [incremental builds](https://www.gatsbyjs.com/cloud/docs/incremental-builds/)

[2020-10-12 16:05] phbo85 commented on #27383
Thank you @LekoArts! I was trying the experimental WordPress source plugin, but it failed building. I created an issue there already and will probably be able to see if this works better for my project.

[2020-10-12 16:24] #26580 closed

[2020-10-12 16:50] vladar commented on #26580
Published in `gatsby@2.24.74`

[2020-10-12 17:09] hartshorne commented on #26580
@vladar thank you for digging into this. I tried upgrading, `gatsby clean`, and still run into this issue. I tried increasing `PAGE_QUERY_ENQUEUING_TIMEOUT` to 1000, but that did not seem to help. Anything I can do to track this down on my end?

[2020-10-12 17:17] talohana commented on #19859
For me what made it work is to add it to plugins instead of gatsbyRemarkPlugins.
I still don't understand why, but when I added it to gatsbyRemarkPlugins it only partially worked - they were always visible, event when no hover.

[code]

If someone can enlighten me when to use the gatsbyRemarkPlugins vs plugins I'd be grateful!

[2020-10-12 17:31] vladar commented on #27401
Thank you for opening this, @ItzaMi

We have a similar example in our docs (but for Markdown): https://www.gatsbyjs.com/docs/adding-markdown-pages/

I assume you were trying to adapt it to YAML. I've built a quick example where the same approach is used for YAML: https://github.com/vladar/yaml-example

It requires you to install `gatsby-transformer-yaml` (and not parse YAML manually). Then you can

[2020-10-12 17:31] #27401 closed

[2020-10-12 17:37] vladar commented on #27407
Thank you for opening this @Guiguerreiro39

`gatsby-background-image` is a community plugin. I suggest you ask this question in their repo: https://github.com/timhagn/gatsby-background-image

Hopefully, they will be able to help! If not, please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby :muscle:

[2020-10-12 17:37] #27407 closed

[2020-10-12 17:48] tujoworker commented on #26146
Webpack 5 has been released 🥳🎉 – here's [the tweet](https://twitter.com/thelarkinn/status/1315062117221851136?s=12). Now – I really hope it will make it's way into Gatsby before v4 – because it will give definitively an improvement in bundle size from what all I read. Something which again will get better UX and Lighthouse results 💪

@wardpeet – is it listed now in the roadmap for the next major?

[2020-10-12 17:48] aaronadamsCA commented on #25906
`graphql-js` version 15 has a lot of new features, one of which—interfaces that implement other interfaces—is nice to have when writing Gatsby GraphQL, since it lets you do `interface Foo implements Node`.

[2020-10-12 17:48] tujoworker commented on #26507
There is an open Issue on Webpack 5 here: #26146

[2020-10-12 18:00] tu4mo commented on #26580
Still happening for me also. And now everything also freezes after I change some files.

[2020-10-12 18:03] rbarbazz commented on #25554
I think I got confused.
I thought the issue discussed here was about links within the same page:
[code]

[2020-10-12 18:22] darcelvictor opened #27410 "Error 11328: No name but `undefined`"
## Description
I'm getting an error 11328 with unhelpful debugging information when I run gatsby build. Running gatsby develop works very fine.

### Steps to reproduce
Updated all my dependencies to latest, tried to build the project, it failed.
My repo : https://github.com/darcelvictor/Gatsby-Builder
clone it
and run `yarn install`
and `gatsby build`

### Expected result
The project should build

[2020-10-12 18:58] vladar commented on #27368
Hey @jabrks !

Thanks for opening this and for a thorough investigation! 💜

Should be fixed in #27411 Let me know if it works for you if you have a chance.

[2020-10-12 19:00] #26857 closed

[2020-10-12 19:08] lnfnunes commented on #27308
A ref doc about this subject: https://www.termsfeed.com/blog/gdpr-scrolling-not-consent/
As @ascorbic mentioned, I'm not a lawyer too and my understanding is the scrolling act on a webpage **_cannot_** be considered consent. This is a reasonable feature but not because of GDPR compliance.

[2020-10-12 19:27] vladar commented on #26580
@aaronadamsCA can you please check if it fixes your original issue?

If it does, then @hartshorne probably hits something else which warrants a separate issue. If not, then my problem was probably unrelated to this one and I will re-open it.

[2020-10-12 20:53] stupearce opened #30296 "feat(gatsby-source-wordpress): Use official create-remote-file-node helper instead of forked version"
I noted whilst debugging that 'connection timeout' and 'Stall timeout' are not configurable as they are in gatsby-source-filesystem.

[2020-10-12 20:56] vladar commented on #15906
I think we can close this now that the GraphQL toolkit is published: https://github.com/gatsbyjs/gatsby-graphql-toolkit

[2020-10-12 20:56] #15906 closed

[2020-10-12 21:20] jabrks commented on #27368
Thanks for the quick fix @vladar!

I've just checked out your branch locally and the issue seems to be resolved.

[2020-10-12 21:54] danyim commented on #1878
I think it would be helpful to keep assets like css/js/fonts etc. (generally, referenced from html, webpack dynamic imports, etc.) in a separate directory inside public/ folder.

I want to second this feature. Currently the output directory has a mix of cache-busting JS/CSS files and HTML, which makes it really hard to separate manually with scripts. For my particular use case, I deploy Gatsby via

[2020-10-12 22:32] moonmeister commented on #27386
Hmmm, for context @SimonKlausLudwig I'm in the middle of rewriting this plugin. How are you currently accomplishing the two different sitemaps? I haven't had this use case myself so hadn't thought through it much but if it means any significant changes to the plugin I want to do it now.

[2020-10-12 22:37] SimonKlausLudwig commented on #27386
I thought about to point to the language Sitemap.xml files via the Robots.txt or to put all the urls from the different languages within the root sitemap.xml. But as I asked I think the most elegant way is to add the language sitemap.xml to the roots sitemap-index. What do you think ?

[2020-10-12 22:55] christopher-talke commented on #27376
Hi @vladar

I ended up figuring this out, after running `gatsby build --verbose` I found that it started throwing `SERVER ERROR 500 NO RESPONSE` errors. The GraphQL Server was operating correctly in the sense that I could query it, however, the schema was completely broken and was not visible even in the GraphQL playground for Wordpress using the WPGraphQL Plugin.

Reinstalling all the plugins, up

[2020-10-12 22:55] #27376 closed

[2020-10-12 23:10] danielmgzzg commented on #26135
Guys, I thank you so much for fixing this issue. I just wish we had found it earlier in the docs or something we have been clueless for months and tried all sort of things until we looked closely at the .json from the static queries and searched for this

[2020-10-12 23:36] Whipstitch-webwork commented on #24332
I always received 99 on mobile now a 76. Everything is great except my LCP it's 7.0s and it says its my hero image. Makes no sense. When I pull up my site on any mobile phone it's blazing fast. People marvel ya know? It also tells me to put my images into webp or others, but I already us childImageSharp_withWebp so I don't get it. I'm starting to thing Gastby Image and background-image aren't work

[2020-10-12 23:49] jasonbiondo opened #27414 "Gatsby Link - Loads Page Data Whenever Links Are In Viewport?"
I have a shopify gatsby store and I have about 50+ Links in my header menu which is in a mega menu style.  When I load my index all of the page data for each one of those links loads via the Link component and it ends up being several mb of data.  Is there anyway to avoid this?  Is it possible to only load the link page-data when the link is visible or hovered over?  I imagine a lot of commercial

[2020-10-13 01:09] steffik02 commented on #24159
Just thought I'd add that I need this functionality as well, or the ability to pass data attributes to the <img> tag. I'm trying to add an attribute to prevent pinning to Pinterest with certain images and I can't get the attribute on the actual img tag. If I could at least get a class name on there, then I could add the attribute with Javascript.

[2020-10-13 03:22] wangpin34 commented on #25993
@chitoku-k  Thanks for your comment, it also works for me.

Maybe it's the time to close it, but, I guess a deeper explanation would be nice.  Unfornaturly, I have no idea.

[2020-10-13 05:12] alvinlal opened #27416 "[gatsby-plugin-mdx] `html` field returns empty div for [gatsby-plugin-feed]"
# Description

I am trying to include html in my rss feed for my [site](https://alvinlal.netlify.app/) using gatsby-plugin-feed. but only an empty div is being returned in my rss.xml file.

![rssfeed](https://user-images.githubusercontent.com/35771432/95813215-0304b500-0d35-11eb-9840-2bb83619e19c.png)

You can view the file [here](https://alvinlal.netlify.app/blog/rss.xml)

View the repo [here](ht

[2020-10-13 05:48] richardxia opened #27417 "gatsby-plugin-postcss configuration option postCssPlugins does not work as documented"
## Description

According to https://github.com/gatsbyjs/gatsby/blob/3a3c3e7f0942578b5ee113056d4883c7c277bdd3/docs/docs/post-css.md and https://github.com/gatsbyjs/gatsby/blob/3a3c3e7f0942578b5ee113056d4883c7c277bdd3/packages/gatsby-plugin-postcss/README.md, one should be able to configure custom PostCSS plugins with Gatsby by adding the following to `gatsby-config.js`:

[code]

However, when I ac

[2020-10-13 07:27] LekoArts commented on #27410
Hi, thanks for the issue!

I found the reason for the `undefined` and sent in a PR. In this screenshot you can see the culprit now:

![image](https://user-images.githubusercontent.com/16143594/95829143-27ad5c80-0d36-11eb-9204-5e3a66404d33.png)

You need to move your `DATA` folder out of the `src/pages` directory as every js/jsx/tsx file there gets turned into page and needs to be a valid React com

[2020-10-13 07:44] LekoArts commented on #27414
Thank you for opening this!

This was also asked in this issue: https://github.com/gatsbyjs/gatsby/issues/14016#issuecomment-491999391

Since `gatsby-link` is a thin wrapper around `@reach/router`'s Link component you can use the linked snippet to use regular anchor/Link tags for your navigation menu.

We're marking this issue as answered and closing it for now but please feel free to comment here

[2020-10-13 07:44] #27414 closed

[2020-10-13 07:47] #27417 closed

[2020-10-13 07:50] gempi commented on #24173
I added a pull request #27413 to add multi language support. feel free to contribute!

[2020-10-13 07:52] darcelvictor commented on #27410
Perfect, it works perfectly !
Thank you very much for your help !

[2020-10-13 07:52] #27410 closed

[2020-10-13 08:02] ItzaMi commented on #27401
Hi, @vladar , and thank you for your quick reply 👋  I ended up facing some problems with your suggestion.

When I insert in my `gatsby-node` the portion of the code that you have in your example, like so
[code]

`projectDoc` and `ymlDoc` were the ways I could find to get a template page to work using `yaml` but, of course, it's sourcing from a single file

I get an error telling me `Cannot query f

[2020-10-13 08:33] josephmarkus commented on #25554
You can also use #hash-links when coming from another page. For example `<Link to="/about#some-section" />`

[2020-10-13 08:40] vladar commented on #26580
Also, to clarify. There seem to be two different issues (at least):

1. When editing the query (without editing the code) - we were not running this query, so hot reload was providing old results (page refresh didn't help here)

2. When editing both the query and the code - we don't synchronize when the recompiled bundle and data changes are pushed. So you may get the new data but old javascript o

[2020-10-13 08:57] #27368 closed

[2020-10-13 09:00] vladar commented on #26036
Thank you for opening this, @JoshuaWalsh

Type is not required if this field already exists in the schema (which is an intended use for `createResolvers` - to just add a resolver to already existing field defined with schema customization or via inference).

We're marking this issue as answered and closing it. I encourage you to open a new issue for your other problem as it seems orthogonal to the

[2020-10-13 09:00] #26036 closed

[2020-10-13 09:07] pacocom opened #27423 "Can't create dynamic routes for compare version"
I can't create dynamic pages with custom regular expression matchPath.
Example: Need dynamic routes similar to https://github.com/microsoft/TypeScript/compare/v4.0.2...v4.0.3 where v4.0.2 is **BaseVersion** after ... and afeter v4.0.3 is **CompareVersion**

[code]

## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Ple

[2020-10-13 09:27] vladar commented on #25791
Sorry, this issue slipped through under the radar somehow. Can you clarify what doesn't work for you with some code example / reproduction? And what you've tried already?

[2020-10-13 09:29] vladar commented on #25906
Yup, GraphQL has so many aspects in Gatsby that I think we will bump it with the next Gatsby major.

[2020-10-13 09:51] Dakojr commented on #17059
Same Error !

[2020-10-13 09:52] jbFeDev commented on #27417
@LekoArts this issue still occurs to me using **gatsby-plugin-css@3.0.2**. I don't know why...

[2020-10-13 10:06] vladar commented on #27368
Published in `gatsby@2.24.76`

[2020-10-13 10:11] marketingsolution opened #27426 "Search console - google is not indexing site"
Hi
do you have the same issue with indexing you sites created in gatsby?
Page detected - currently not indexed

I add sitemap, but it's not resolveing anything.
Page: https://moto-trips.com
sitemap: https://moto-trips.com/sitemap-pages.xml

[2020-10-13 10:17] Dakojr commented on #24860
I have the same error

[2020-10-13 11:35] jasonbiondo commented on #27414
When using that snippet it causes a 404 on my prefetch false pages.  Not sure why.

[2020-10-13 12:14] Zrce commented on #16321
Thanks to multiple people here mentioning env vars... I also missed them.
Having
env.development
env.production
for the local setup
+
env vars on you hosting solution worked for me

[2020-10-13 14:42] Mrtenz opened #27427 "ERR_SSL_PROTOCOL_ERROR when using `gatsby develop --https`"
## Description

When using `gatsby develop --https`, I see a lot of `ERR_SSL_PROTOCOL_ERROR` errors in the console, for what seems to be `socket.io` related requests. I am using the (currently) latest version of Gatsby.

![image](https://user-images.githubusercontent.com/7503723/95875727-a1fbd200-0d72-11eb-92c8-169215bc7c9b.png)

It happens about every 5 seconds, which makes it annoying to use the

[2020-10-13 16:32] emmadigital commented on #26997
anyone can help me resolve this issue?

[2020-10-13 17:32] Neilblaze commented on #13918
WSL2 is creating issues on hot-reloading. Don't know why, but I followed [this](https://github.com/gatsbyjs/gatsby/issues/13918#issuecomment-536088178), it still doesn't work!

@Micorsoft should look into this asap!

[2020-10-13 17:37] don-esteban commented on #26959
Let me come back to this serious but still unresolved issue. I don't know, how other productive sites, if existent, handle this bug. Perhaps they live with the broken back button behavior mostly in conjunction with fragment links? One example for broken fragment links are the Gatsby API Docs itself, like https://www.gatsbyjs.com/docs/gatsby-link/ Using the right sidebar does not work at all.

For

[2020-10-13 18:12] AndrewNatoli commented on #27351
'ello! I have another example of this if it would help to have another reference. :)

A project you can clone + run locally (by default runs latest):

- Site: https://andrewnatoli.github.io/gatsby-garden-theme-example
- Repo: https://github.com/AndrewNatoli/gatsby-garden-theme-example

It's based off [this project](https://github.com/mathieudutour/gatsby-digital-garden) and you can see an example

[2020-10-13 18:14] TylerBarnes commented on #27375
Hi @samfenwick , this is actually by design and isn't a bug. Check the onCreatePage docs here https://www.gatsbyjs.com/docs/node-apis/#onCreatePage

[code]

Maybe this should be converted to a documentation issue because https://www.gatsbyjs.com/docs/page-creation/#oncreatepage-api doesn't mention this behaviour.

[2020-10-13 18:20] Undistraction opened #27429 "Bug: [gatsby-plugin-netlify-cms] Wrong URL logged during build"
## Description

The plugin outputs the incorrect protocol and port when a build succeeds:

Compare gatsby's output:

To the plugin's output:

### Steps to reproduce

Plugin config:
[code]
Gastby start:
[code]

### Expected result

I would expect the URL/link to the CMS be output as: `https://me.example.test:8080/admin`

### Actual result

URL/link was output as `http://me.example.test:61978/admin/

[2020-10-13 18:31] samfenwick commented on #27375
Ahh I did think it could be.

Do you have any idea if it’s possible for me to get around this? It’d be great if I could create client only routes for the pages I’m generating, even if I had to hard code the page paths somewhere.

[2020-10-13 18:48] meganesu commented on #26211
I'm going to close this issue for now. Feel free to reopen it if you find any examples in the docs that are incorrectly using the key attribute.

Thanks again for your contribution! 💜

[2020-10-13 18:48] #26211 closed

[2020-10-13 18:52] richardxia commented on #27417
Yeah, sorry about that, I also noticed that my PR didn't fully fix the problem. I wrote some more information in https://github.com/gatsbyjs/gatsby/pull/27418#issuecomment-707936348 on what I learned, and I have a followup PR to try to fix it for real: https://github.com/gatsbyjs/gatsby/pull/27430.

[2020-10-13 18:54] TylerBarnes commented on #27375
I'm actually not too sure. You could try making a local Gatsby plugin in your project to see if that works
https://www.gatsbyjs.com/docs/creating-a-local-plugin/

[2020-10-13 18:56] MerakliMuhendis opened #27431 "Gatsby Link doesn't navigate to fragment links when triggered on own page."
i tried a few things but, i couldn't handle it.
It's work when triggered on other pages but, doesn't work on own page.
navbar component
![image](https://user-images.githubusercontent.com/13744798/95900792-1480a800-0d9b-11eb-9505-8ffebe537574.png)

issue

![ezgif-3-feac1c5fd816](https://user-images.githubusercontent.com/13744798/95903352-b35ad380-0d9e-11eb-876d-507eed37fabe.gif)

System:
    OS: Wi

[2020-10-13 19:08] TylerBarnes commented on #27375
Also @samfenwick what's your use case? That will help me or other folks know wether there's a better API to recommend.

[2020-10-13 19:32] pieh commented on #23903
I think this tracks to upstream issue https://github.com/asciidoctor/asciidoctor.js/issues/427 . This seems to be solved in later versions ( requiring major version bump for our dependency and actually package rename - from `asciidoctor` to `@asciidoctor/core` ). Then support for highlighting could be added with https://github.com/jirutka/asciidoctor-highlight.js (probably also would need to happe

[2020-10-13 19:44] samfenwick commented on #27375
@TylerBarnes I have a simple photo website that has a number of pages that all have the same layout (each of these pages is created programmatically as outlined above).

The layout is just a grid of thumbnails & when you click a thumbnail it brings up a modal showing the full sized image with a description at the side and a space for comments.

I want to be able to link someone a direct link to a

[2020-10-13 19:49] Ryan-McBride commented on #24902
I'm still having this issue. I've added deleting node_modules and running gatsby clean to my deploy pipeline but I still get this error intermittently. I'm using the latest version of gatsby

[2020-10-13 20:01] jasonbiondo commented on #14016
@runes-tr Your solution causes my gatsby links to 404.  Do you know how to fix this?

[2020-10-13 21:26] ng29 commented on #21069
Hiya @tesseralis  / @marcysutton

Can i pick this up if available for grabs?

Cheers

[2020-10-13 21:28] devpgcs commented on #24902
Same error working with strapi.

I check on **localhost:8000__graphql** my query and it's fetching properly

But when I'm trying to use it on `useStaticQuery(ARTICLES)` displays **Error: The result of this StaticQuery could not be fetched.**

[code]

[2020-10-13 22:39] jarodtaylor commented on #24692
@meganesu does the Gatsby team plan to update the Typefaces repo/Readme? It currently still says deprecated and points users to use Fontsource.

[2020-10-13 22:42] KyleAMathews commented on #24692
Yes there's another PR up https://github.com/gatsbyjs/gatsby/pull/27313

[2020-10-14 00:16] moonmeister commented on #26777
Not stale.

[2020-10-14 00:17] Js-Brecht commented on #26984
@wardpeet This issue was supposed to be for additional discussion around this topic.  I would hate to see it get closed before it gets addressed

[2020-10-14 03:08] armandoborge commented on #14333
@amakk did you manage to find a solution? I am having a similar problem trying to generate sites based on different templates but using the same repository, the CSS problem is the only sho stopper.

Appreciate your feedback!

[2020-10-14 05:16] pvaladez commented on #11851
On using the GatsbyImageSharpFluid fragment in graphiQL, or the GraphQL explorer:

It looks like they should add [support](https://github.com/graphql/graphiql/issues/612#issuecomment-696105660) for that in the near future, but...

If you want, you can just paste in the definition of the fragment into graphiQL outside of your query.  The fragments are defined in node_modules/gatsby-transformer-shar

[2020-10-14 05:35] atomicpages opened #27433 "Is [partial] sequential plugin execution possible?"
## Summary

How can you wait for `createNode` from one plugin to complete before starting the execution of another plugin?

## Relevant information

In my case, I want to wait for `gatsby-source-filesystem` to complete before starting so I have the full list of sourced files that I can delegate to another plugin for post-processing. I found a few leads in the docs like `getNodesByType` or `getNode

[2020-10-14 07:30] LekoArts commented on #27414
Alternatively you can use an anchor `<a>` tag although react/router's Link should also work. If you can provide a [minimal reproduction](https://www.gatsbyjs.com/contributing/how-to-make-a-reproducible-test-case/) feel free to open a bug report.

Gatsby's Link component only requests links in the viewport with a **low priority** request and that behavior is also disabled on slow connections. So I

[2020-10-14 07:31] LekoArts commented on #27431
Thank you for opening this!

Gatsby's Link component is for linking to other pages (that's why your transitions from other pages work). For in-page anchors you should use the anchor `<a>` tag.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://ww

[2020-10-14 07:31] #27431 closed

[2020-10-14 07:41] bsgreenb commented on #24221
Also want to say thanks to @axe312ger who has been pushing through these issues to build a better Rich Text framework.

[2020-10-14 07:44] LekoArts commented on #27426
Thank you for opening this!

I don't think we can help with this, please reach out to Google or some other platform as I don't think this is specific to Gatsby or a problem with Gatsby.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsb

[2020-10-14 07:44] #27426 closed

[2020-10-14 09:51] vsimak opened #27440 "createNode making only 20 nodes (totalcount in grapql) out of 2480 from the object array data"
## Summary
Second day I can't seem to fix this issue at all.
Graphql spits only 20 nodes, while it is supposed to be 2480 which are created during sourceNode / createNode from an array of objects.

on SourceNodes step:
1. pulling data from API, 2 objects arrays: Products and Prices
2. Creating Nodes.

Console logging shows 2480 objects in the arrays.
I couldn't find any callbacks for successful cr

[2020-10-14 11:54] wardpeet commented on #27232
it's going to be tricky as Gatsby is both a development server and build server so what would the package gatsby-core have? Would it only have the files that are used in production builds?

Would it help to give you a list of what we have today in production builds?

[2020-10-14 12:08] vsimak commented on #27440
A very, very dumb mistake in data collection (repeating data).

[2020-10-14 12:08] #27440 closed

[2020-10-14 12:36] gtsop commented on #25138
@abohannon I need this as well. Can you please share your solution?

[2020-10-14 12:51] lvtz commented on #7454
It does not work, and seems it can't - definition of this function looks like this:

In my case it work great, no more scroll retain issue when navigating using Link from Gatsby.

`
// gatsby-browser.js

export const onPreRouteUpdate = () => {
  document.body.scrollTop = 0
}
`

[2020-10-14 12:55] mikeyfe6 opened #27444 "ERROR: `TypeError: Cannot read property '[component]' of undefined` after updating"
## Description

`TypeError` issue with `npm run develop` after updating to latest packages.
`localhost:8000` is flickering on and off viewing the error when trying to get to development mode.

### Steps to reproduce

live project: [https://gimmix.nl](https://gimmix.nl)
github repo: [https://github.com/mikeyfe6/Gimmix](https://github.com/mikeyfe6/Gimmix)

After updating to latest packages i'm getti

[2020-10-14 13:41] kuworking commented on #27352
Solved in @emotion (https://github.com/emotion-js/emotion/issues/2038), a key is needed when creating the cache

[2020-10-14 13:41] #27352 closed

[2020-10-14 15:24] harishydav opened #27450 "Adding a link to Gatsby Cloud in the Gatsby starter projects"
## Summary

Gatsby should have a link to the Gatsby Cloud service in the project starter readme.

### Motivation

Gatsby Cloud is an amazing build service with its true incremental builds and intelligence caching. I did not learn about Gatsby Cloud while I started working with Gatsby. I feel adding a link to Gatsby Cloud for the users in the readme.md will help them discover Gatsby Cloud service a

[2020-10-14 15:51] richardxia commented on #27417
@jbFeDev, this should be fixed now, so please try again with the new gatsby-plugin-css@3.0.3.

[2020-10-14 17:54] AndrewKMoses commented on #21393
@ashoksudani hey did you solve this issue? Facing the same problem. Remove trailing slash plugin didn't work for me as well.

[2020-10-14 18:53] mikeyfe6 commented on #27444
Solved, it was a cache issue

[2020-10-14 18:53] #27444 closed

[2020-10-14 18:56] blazeyo opened #27453 "Filters in gatsby-source-drupal aren't added to the first page of results"
## Description

`gatsby-source-drupal` has the `filters` option which has an issue. The filters are only applied starting from the second page of the results. The first one doesn't get them. Example:
first call: `/jsonapi/node/page`
second call: `/jsonapi/node/page?page[offset]=50&page[limit]=50?filter=value`

### Steps to reproduce

- Add the gatsby-source-drupal plugin with the filters option (e

[2020-10-14 20:05] lambdahands commented on #23512
Hello, I'm having the same issue with Facebook and meta tag rendering through Gatsby. This seems like a use case that isn't easily supported after digging through other threads with related issues (specifically rendering static content with react-helmet). Has anyone found a good solution to this?

[2020-10-14 20:09] onurtahmaz commented on #27402
Just tried to install gatsby-plugin-mdx-embed via Gatsby Admin which is a great idea btw! After installation, there was no problem in the gatsby-config.js; however in package.json, mdx-embed package must be installed for the former to work.

So; I think the problem is the fact that Gatsby Admin runs the following command: `npm install gatsby-plugin-mdx-embed`; instead of `npm install gatsby-plugin

[2020-10-14 20:25] roffelsaurus commented on #529
The dependency between .cache/ and public/ is an incredibly annoying one. If one attempt to set up CI for this the choice seems to be between fast builds (keep .cache and public) or a public/ folder that does not increase into eternity.

I had to go for slow builds because the size requirement of the artifact is a stringent one.
And this unfortunately also leaves the clever EXPERIMENTAL_PAGE_BUILD

[2020-10-14 20:27] hk86 opened #27455 "Use a gatsby project as a node dependency on multiple repos"
I've build a gatsby website and I would like deploy this website for three languages on three different domains. The codebase of each domain is the same, only the env vars are different (i.e. one env var is for the locale of the website). Is it possible to use the the gatsby website as a node module and install it as a dependency?

The idea is to end up with four repos:

- 1 general repo, this wer

[2020-10-14 20:57] kbrock84 commented on #26563
I am currently getting this error. Initially I only noticed it after our build server pushed it to our staging environment. It took me forever, but I finally reproduced it locally with the following:

1. go back to previous commit
2. delete `node_modules`
3. `npm install`

4. Then I ran into a separate [issue with babel](https://github.com/babel/babel/issues/11216) so I ran `npm upgrade gatsby` wh

[2020-10-14 20:59] armandoborge commented on #14333
I've ended up with a bunch of updates to tackle the issue of having isolated templates, is not the best approach I am sure, but I'll share what I have in case it helps somebody:

1. I am using CSS modules, so I've added a main.module.css file which contains my global classes and custom properties, something like this:

[code]

2. I am passing that wrapper class to react-helmet so it can be assigne

[2020-10-14 21:06] LandonSchropp opened #27456 "How to use image in CSS"
#27362 Summary

I'm writing some Sass, and I'd like to use an image asset as a background.

[code]

When I try to load the page, Gatsby gives me this error:

<img width="1035" alt="Screen Shot 2020-10-14 at 4 02 44 PM" src="https://user-images.githubusercontent.com/361591/96044907-c4572380-0e36-11eb-865c-4aa8389597fa.png">

I'd prefer not to use an `<img>` tag for semantics, and I can't style the

[2020-10-14 21:07] LandonSchropp commented on #27456
Oh duh, I just needed to read the error message a little closer. Nothing to see here. 🙂

[2020-10-14 21:07] #27456 closed

[2020-10-14 21:24] joebentaylor1995 opened #27458 "Can no longer run gatsby develop"
## Description

I can no longer run gatsby develop after updating the CLI.

### Steps to reproduce

run `gatsby develop`

### Expected result

Should run develop fine

### Actual result

[code]

### Environment

[code]

[2020-10-14 21:37] jasonbiondo opened #27459 "gatsby-source-shopify - Cache the data to speed up dev builds"
For the Shopify plugin, I have thousands of products and the build time is super slow.  Is there anyway to do a better job of cacheing this data?  I don't see a cache flag in the plugin and every time I run it the plugin fetches the data and rebuilds all the nodes.

[2020-10-14 22:55] hartshorne commented on #26580
@aaronadamsCA does @vladar's change resolve your issue? It does not fix mine or @tu4mo's issues from the looks of it.

[2020-10-14 23:12] EliotSlevin commented on #26714
While I'm not sure of the best way to fix this, and what we should suggest - I don't want to just let this issue go stale.

I've created a PR adding a line to the gatsby storybook documentation page, just saying that Supporting CSS modules require a few more changes to your webpack config - and linking to this issue.

https://github.com/gatsbyjs/gatsby/pull/27461

[2020-10-14 23:14] kbrock84 commented on #26563
Ok, so building using `gatsby build --no-uglify` gave me an idea of where the error was coming from. Changed that form `useStaticQuery` to a `StaticQuery` component and the error went away.

The site looks great now EXCEPT there is a random "Loading (StaticQuery)" inside a div on the page. This has to be related, but at least it's not breaking anything now.

Again, this only happens on the product

[2020-10-15 00:33] MarcoAdinolfi opened #27462 "Netlify Build Problem"
Hello,
I made a website with Gatsby and everything worked well untill I tried to Deploy to Netlify. I had a failed build and I don't know why since I made the build without problems on my local environment with Gatsby.
I checked the npm versions and they are the same.
At a first look it look like there's a problem with an image name, maybe because of special carachters, but I don't know if it is p

[2020-10-15 02:11] b5710546232 commented on #21995
Hey, I would like to work on `/api-node-helpers-docs.js` :)

[2020-10-15 02:41] ashoksudani commented on #21393
@AndrewKMoses Correct, I did not waste more time and later moved to NextJs.

NextJs works exactly I expected and I did not have any specific requirements of features specifically provided by Giatsby.

[2020-10-15 06:00] iamaakashbasnet commented on #21043
@andreasnett It should be in YYYY-MM-DD.

[2020-10-15 06:48] #27450 closed

[2020-10-15 06:52] ynnoj commented on #26375
I was checking out the new file system routing APIs and ran into some trouble when trying to use the generated `gatsbyPath` field on types from [`gatsby-source-graphcms`](https://github.com/GraphCMS/gatsby-source-graphcms). The source plugin uses the new `gatsby-grpahql-toolkit`.

[code]
Unfortunately the query above errors:

`error  Cannot query field "gatsbyPath" on type "GraphCMS_Product"`

The

[2020-10-15 07:15] LekoArts commented on #26375
To all previous comments: I'm taking over this feature and slowly getting up to speed. Eventually I'll get back to you and look into the issue :)

---

@ynnoj Thanks for the report! Just a quick check: Does it change anything when you remove the `.` in the path?
The `gatsbyPath` field gets [added here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-page-creator/src/gatsby-no

[2020-10-15 07:23] arminyahya opened #27463 "gatsby plugin sitemap breaks build"
## Description

I installed [gatsby-plugin-sitemap](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sitemap#readme) and next added to plugins inside gatsby-config.js file.

after running gatsby build. build gives me errors

### Steps to reproduce

run:

`npm i gatsby-plugin-sitemap`

next:

add valid siteUrl to siteMetadata inside gatsby-config.js file.

next:

add `gatsby-pl

[2020-10-15 07:25] arminyahya commented on #27463
I realized if I move plugin name to end of plugins, the error disappears, and build finish successfully

[2020-10-15 07:28] LekoArts commented on #27462
Thank you for opening this!

The error you need to pay attention to and is causing the failure is:

[code]

Netlify is using Linux images under the hood which has a stricter enforcement of correct paths, e.g. if the word is capitalized or not. Make sure that you import the file with the correct name or try renaming it to something all lowercases without spaces and the `ù`.

We're marking this iss

[2020-10-15 07:28] #27462 closed

[2020-10-15 07:38] LekoArts commented on #26995
I think the initial question was answered, for a better CDN story you can follow: https://github.com/gatsbyjs/gatsby/issues/23724

If it's about the general performance I merged this to: https://github.com/gatsbyjs/gatsby/issues/26726

[2020-10-15 07:38] #26995 closed

[2020-10-15 07:38] LekoArts commented on #27459
Let's keep it contained to one issue :)
https://github.com/gatsbyjs/gatsby/issues/26726

[2020-10-15 07:38] #27459 closed

[2020-10-15 07:39] LekoArts commented on #27458
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-10-15 07:40] ynnoj commented on #26375
The gatsbyPath field gets added here so e.g. the problem could be that the type isn't there yet when it tries to add it.

Same issue unfortunately. Is the path relative or absolute?

[2020-10-15 07:41] LekoArts commented on #27455
Thank you for opening this!

What you're looking for are [Gatsby Themes](https://www.gatsbyjs.com/docs/themes/). You can pack the whole site into an npm package and make the `gatsby-config.js` configurable. Then in each of those sites you'd use the theme and only configure the options via `gatsby-config.js`.

We're marking this issue as answered and closing it for now but please feel free to comme

[2020-10-15 07:41] #27455 closed

[2020-10-15 07:44] LekoArts commented on #26375
Current [requirement](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-page-creator/src/validate-path-query.ts#L8-L12) is to start it with a `/` so that's why I asked :)

[2020-10-15 07:46] emilpriverrc commented on #19618
Had the same problem yesterday. Clearing cache locally fixed it for the current user. So we cleared cache at Cloudflare and now we don't get any reports anymore.
Clearing cache was our solution

[2020-10-15 07:50] ynnoj commented on #26375
@LekoArts So the `/` (root) would be the `src/pages` directory?

[2020-10-15 07:52] LekoArts commented on #26375
Yeah, correct! Thanks for the question, I'll note this to mention it somewhere in the upcoming docs 😅

[2020-10-15 07:54] pvdz commented on #26726
@jasonbiondo Some of the other sourcing plugins support an env flag that stores remote data in an explicit location, outside of Gatsby cache. This may speed up development and build time, at the expense of realizing at some point your remote changes aren't reflected (this will hit you sooner or later ;) ).

These are generally footguns so would not be documented. Mostly for debugging or profiling

[2020-10-15 08:17] wardpeet commented on #27423
Hey,

Thanks for creating an issue, to get more info about matchPath you can follow https://www.gatsbyjs.com/docs/client-only-routes-and-user-authentication/ or look at https://reach.tech/router/example/url-params.

For your example something like this should work:
[code]

Regex type path matching is not supported

[2020-10-15 08:17] wardpeet commented on #27423
Thank you for opening this, @pacocom

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-10-15 08:17] #27423 closed

[2020-10-15 08:23] wardpeet commented on #27427
I don't have that issue on windows. I see that it's arch Linux. Are there other platforms that have this issue, like ubuntu?

[2020-10-15 08:28] pacocom commented on #27423
Thank @wardpeet!

[2020-10-15 09:18] hzburki commented on #17059
For me, it wasn't a bug in Gatsby or any of the packages. I was exporting a schema object for `yup` validation for a form. Moving that inside the **Form Component** fixed the issue.

[2020-10-15 09:37] pieh commented on #27433
Hi @atomicpages

If you are referring to https://github.com/gatsbyjs/gatsby/blob/0db207442d117a5716d1b6bf81c8ac0c39565a82/packages/gatsby/src/utils/api-runner-node.js#L525

Then map series is actually not serial - it's sequential

But, it depends on API you would to use - with `sourceNodes` you could order the plugin in `gatsby-config` to run after `gatsby-source-filestem` and then `File` nodes sh

[2020-10-15 09:42] pieh commented on #27463
Hey @arminyahya

Can you provide sample `gatsby-config` content that caused this error?

[2020-10-15 09:45] axe312ger commented on #24221
@bsgreenb thanks! you are welcome! :)

We pushing further, release is coming closer :)

[2020-10-15 09:47] pieh commented on #27463
I managed to reproduce this exact error when I had missing comma in gatsby-config plugins:

[code]

It goes away as soon as I add missing comma between items. This is unfortunate error message, but it also comes directly from JS interpreter

[2020-10-15 09:51] stephank commented on #22500
This issue is old, but I'm just now seeing these exact errors in our build. Specifically:

[code]

Curiously, I can fix this for us by setting a Yarn resolution for `@babel/plugin-transform-react-jsx` all the way back to 7.8.3. None of the newer releases on npm appear to work.

[2020-10-15 10:31] Mrtenz commented on #27427
I made a minimal reproduction repo where I can reproduce this issue. Would be great if someone with Ubuntu could test this, as I do not have (easy) access to an Ubuntu machine.

https://github.com/Mrtenz/gatsby-https-issue

[2020-10-15 10:35] Mrtenz commented on #27427
I just tested it on Firefox, and I get a different error, CORS related:

[code]

![image](https://user-images.githubusercontent.com/7503723/96112382-cf678d80-0ee2-11eb-84e6-aef491eef669.png)

[2020-10-15 10:54] iDiegoNL commented on #27427
I can confirm that this issue also appears when using Ubuntu.
![image](https://user-images.githubusercontent.com/10339564/96114143-849b4500-0ee5-11eb-89bc-5ebcac5f8e1b.png)

[2020-10-15 10:55] arminyahya commented on #27463
Thank you @pieh.
That's missing comma causing the error.

[2020-10-15 10:55] #27463 closed

[2020-10-15 11:07] jasonbiondo commented on #26726
@pvdz I couldn't find any GATSBY_SHOPIFY_EXPERIMENTAL_FORCE_CACHE or anything similar in the plugin.  Can someone put in a fix for this? I'd like to have a flag for dev and have my prod builds run without the cache flag.

[2020-10-15 11:08] vrabe commented on #27427
I access those URLs with curl, and curl returns
[code]

[2020-10-15 11:32] jasonbiondo commented on #27414
@LekoArts an <a> tag works without the 404 issue but then the whole page goes white as other users have stated.  Those low priority requests seem to be of importance since they cause a 404 if not present.  I assume this is because the context data never gets passed via the page-data.json files or something along those lines.

[2020-10-15 11:35] aaronadamsCA commented on #26580
@vladar, I can confirm this change has resolved my issue, thank you! Changes to page and template queries now re-run immediately and the changes hot reload. 👍 (For what it's worth hot reload appears to be better in general now; I'm also noticing my gatsby-source-sanity watch mode is suddenly much more reliable.)

@hartshorne, my guess is you'll want to file a new issue, since I think your problem

[2020-10-15 11:37] pvdz commented on #26726
@jasonbiondo Yeah, you can submit a PR that adds it. I don't expect myself or anyone on our team to have time to do this in the foreseeable future, if that's what you're asking.

[2020-10-15 11:52] JustFly1984 commented on #19618
We do not use Cloudflare, we use AWS cloudfront CDN and it gets invalidated after each deploy. I had experienced the bug locally by running local web server with https with first attempt to run after web server starts and also in some consequent page reloads, but not every time. I do not see any pattern. It just happens once in a while.

[2020-10-15 12:37] vincentntang opened #27476 "gatsby-plugin-feed can't modify RSS <Link> attribute from "http://github.com/dylang/node-rss""
## Issue

On my sites rss.xml file, I can't modify the default `<Link>` element used in the RSS feed for designating the site's URL

Currently its set to this:

`<link>http://github.com/dylang/node-rss</link>`

I CTRL+F'd searched this on my gatsby configs, I couldn't find it so I assume this is the default RSS feed from the plugin

I looked through the docs and found nothing to override it, or ra

[2020-10-15 12:44] nicolo-ribaudo commented on #22500
It's because you (or gatsby) is using the `runtime: "automatic"` option of the JSX transform, which wasn't supported in 7.8.3 so it doesn't have any effect.

[2020-10-15 13:01] doscio commented on #27020
I have the same issue when i recall the same page with a different state: `navigate('/page', { state: { newState }})`.

The problem appear after upgrading `gatsby` to version `2.24.70`, older versions work without problems.

[2020-10-15 13:27] laurieontech commented on #27416
Thanks for the PR! This is a known issue related to MDX and gatsby-plugin-feed that we're tracking in #25069. I'm going to close this issue but link it there as another reproduction case where we can verify the fix when it's ready.

[2020-10-15 13:27] #27416 closed

[2020-10-15 13:41] crock commented on #27402
Getting the following error when I try to setup gatsby-admin for development using the yarn workspace command listed in the readme. I've forked and cloned the entire gatsby repo in a GH Codespace and installed the dependencies.
![image](https://user-images.githubusercontent.com/8924090/96137241-6a07a280-0eca-11eb-8b36-3af7cacaf6af.png)

[2020-10-15 14:12] LekoArts commented on #27476
Thank you for opening this!

The reason for it not working automatically is because you nested `site_url` inside `rssMetadata`.
Gatsby [automatically grabs siteMetadata](https://nextjs.org/docs/getting-started) in the default `setup` function. That setup function is used to [pass in options](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-feed/src/gatsby-node.js#L106) to the

[2020-10-15 14:12] #27476 closed

[2020-10-15 14:30] holylander commented on #13918
Hi friends!

Im running `gatsby develop` on windows. After trying many things, including wsl, npm clenaup etc, I realized that my antivirus _sophos_ was blocking the webpack hot reload socket `__webpack_hmr`.

hope it works for you ;)

[2020-10-15 14:30] holylander commented on #20339
Hi friends!

Im running `gatsby develop` on windows. After trying many things, including wsl, npm clenaup etc, I realized that my antivirus _sophos_ was blocking the webpack hot reload socket `__webpack_hmr`.

hope it works for you ;)

[2020-10-15 14:36] hk86 commented on #27455
Exactly what I was looking for! Thanks!

[2020-10-15 15:49] mohsenkhanpour commented on #25069
There is an issue when `react` and  `react-dom` are upgraded to "16.14.0" or "17.0.0-rc".

Steps to reproduce:
1. Clone the default MDX starter:
`gatsby new my-site https://github.com/ChristopherBiscardi/gatsby-starter-mdx-basic`

2. Upgrade `react` and  `react-dom` to "16.13.1" and `yarn build`, it works.
3. Upgrade `react` and  `react-dom` to "16.14.0" and `yarn build`, it doesn't work.

The bui

[2020-10-15 15:51] mxstbr commented on #27402
@crock the guide in the gatsby-admin README assumes you already have the gatsby repo set up locally, I think you haven't run `yarn bootstrap` yet? 🤔

[2020-10-15 16:31] atomicpages commented on #27433
@pieh  thanks for the reply! I was really probing to see if there was an option to synchronously execute (some or all) plugins.

Of course! I'm building a typescript plugin for Gatsby, but unlike other tools where we can use `loadNodeContent` the ts compiler wants file paths

[2020-10-15 18:40] valeeum commented on #27427
Same issue here.  Something to note is that on 2.24.78, the site is served on port 8000 but socket.io connection using another port. On 2.24.55, both site and socket.io connection is served over the same port and works as expected.

[2020-10-15 19:11] meganesu commented on #27291
Hi there @ianand! Thanks for your patience. Sorry for making you jump through hoops - I'm new to Gatsby and still getting up to speed on processes.

After talking with the team internally, we've decided to add in your deploy guide! I'll reopen the PR and add more detailed review notes there.

Thanks for your contribution! 💜

[2020-10-15 19:21] rishFilet commented on #2567
This fixed the issue for me, many thanks!

[2020-10-15 20:12] nicolaspita commented on #21995
Hi, I'll take on bootstrap/load-themes/index.js

[2020-10-15 20:19] davad commented on #25805
@veerreshr Do you still have time to work on this? If not, I'd like to.

[2020-10-15 20:28] davad commented on #21995
I'll work on `src/schema/node-model.js` and `src/schema/schema-composer.js`

[2020-10-15 21:17] MarcoAdinolfi commented on #27462
Thank you for the quick assistance! It worked, seems like the "@" was the problem since I removed it from the images names but they still have blank spaces and a mix of upper and lower case letters, so probably special characters are not allowed.
Thank you again for your help

[2020-10-15 22:32] emilpriver commented on #19618
That was the solution for us. When we cleared cache did errors per hour reduce fast and we did not get the same error in bugsnag at least. This is indeed a weird error.

[2020-10-15 23:45] alago1 commented on #15163
I'm having trouble running `gatsby develop -H 0.0.0.0 --https` on WSL2

This is purely a guess but from what I've read of the [documentation on the topic](https://www.gatsbyjs.com/docs/local-https/), devcert is adding the certificate on the wsl side of things which means that when opening the site through a browser (on the windows side) the server is just refusing to connect.

[2020-10-15 23:46] mbifulco commented on #1818
For anyone coming across this in more recent history than 2018, it appears that the gatsby APIs used to accomplish this have changed.  I was able to get this working with the following in `gatsby-node.js`:

[code]

[2020-10-16 01:01] ttstauss commented on #27458
Facing the same issue.

[2020-10-16 01:04] jan-vaclavik commented on #26736
Helps for me change gatsby version in `package.json`

`"gatsby": "^2.24.53" => "gatsby": "2.24.51"`

[2020-10-16 02:42] yoshi-star commented on #26038
I'm having the same issue.

![image](https://user-images.githubusercontent.com/71750189/96205988-e5d51e00-0fa2-11eb-8101-d1e6973dc54a.png)

I cleaned node_module and   install by `yum install`
I also tried version below
`"gatsby": "2.24.11"`
`"babel-plugin-remove-graphql-queries": "^2.9.15"`
but it's not work for us.

I didn't try this.
https://github.com/gatsbyjs/gatsby/issues/26038#issuecomment-

[2020-10-16 03:20] simplywondrous commented on #21995
I'll work on `src/schema/infer/index.js` and `src/schema/infer/add-inferred-fields.js`

[2020-10-16 04:13] ehsantl commented on #20505
Hey @moscoding
Would you mind sharing the final code snippet here? I'm having the exact same issue, thanks :)

[2020-10-16 04:39] i-bsd commented on #27458
Can confirm.

Same problem.

[2020-10-16 05:20] yoshi-star commented on #26038
I resolved this by my self

string is wrong at MetaData.js
(\gatsby-starter-ghost\src\components\common\meta\MetaData.js )

Right side is incorrect.
Left side is  correct
![image](https://user-images.githubusercontent.com/71750189/96215977-41f76c80-0fba-11eb-950c-91e7a83507c1.png)

[2020-10-16 05:53] micha149 commented on #26654
Are you guys scrolling on the window? When setting body to something like `height: 100%` and defining a custom scroll container, the default scroll tracking will not work. Its looking to scroll events on your window object, but they occur on your scroll container.

You can use the `useScrollRestoration` hook and attach it to your custom scroll container. But be aware: there is currently a problem

[2020-10-16 05:54] KyleAMathews commented on #26038
For people having problems here — could you validate your `cache-control` headers are setup correctly by running: `npx check-gatsby-caching https://url-of-your-gatsby-site.com`

[2020-10-16 06:16] shreyas-1997 commented on #11225
hey i followed the process of adding apollo clien by referencing https://github.com/jlengstorf/gatsby-with-apollo (H/T @jlengstorf)
but still i can't see the content on view source for SSR

[2020-10-16 06:17] shreyas-1997 commented on #3650
hey i followed the process of adding apollo clien by referencing https://github.com/jlengstorf/gatsby-with-apollo (H/T @jlengstorf)
but still i can't see the content on view source for SSR

[2020-10-16 07:14] Abdelfatahh opened #27484 "I can no longer run "gatsby develop""
I am using contentful and gatsby and yesterday i tried to add some adjustment to my project and i figured out it doesn't work as it is suppose to work. it gives me the following error:

success open and validate gatsby-configs - 0.046s
success load plugins - 2.138s
success onPreInit - 0.040s
success initialize cache - 0.016s
success copy gatsby files - 0.147s
success onPreBootstrap - 0.028s
succes

[2020-10-16 07:18] byeokim commented on #13117
@dimitrisnl mind sharing your snippet?

[2020-10-16 07:57] pacocom opened #27486 "gatsby onCreatePage only for static pages"
I need onCreatePage for dynamic pages with template
Example:

[code]

## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-to

[2020-10-16 08:06] LekoArts commented on #26375
@ynnoj PR for a fix is up: https://github.com/gatsbyjs/gatsby/pull/27487 - will let you know once it's published.

[2020-10-16 08:12] LekoArts commented on #27486
Thank you for opening this!

That's not possible. You'll need to have your logic in your React frontend of the client-only page. Please also fill out all the requested information in the issue template in the future as your description is quite sparse.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We

[2020-10-16 08:12] #27486 closed

[2020-10-16 08:20] LekoArts commented on #26375
@czabaj Reading your comment in https://github.com/gatsbyjs/gatsby/issues/26375#issuecomment-680075683 - am I'm reading it right that the only problem left is that `src/pages` is hardcoded in `gatsbyPath` ?

[2020-10-16 08:21] pvaladez commented on #13469
@runchuks - yeah it seems like gatsby-transformer-remark or one of the plugins is not friendly with Windows.  I was trying to get it working for other people's benefit, but I know that Linux and MacOS don't have this problem.

Definitely set up WSL2 Ubuntu for Windows... I've been using it and I don't have this issue.

[2020-10-16 08:45] VaTuan commented on #6254
thank you so much

[2020-10-16 08:57] LekoArts commented on #26375
@ynnoj Please try out `gatsby@2.24.79`

[2020-10-16 09:32] Chaosbohne commented on #19618
I had the same error message but only in Internet Explorer. All other browsers didn't show this kind of error message.

`Unhandled promise rejection Error: page resources for / not found. Not rendering React`

I traced the issue down to an import I made in my react components. In some cases I had dependencies to the https://sap.github.io/ui5-webcomponents/ . Once i removed those dependencies, the

[2020-10-16 09:45] ynnoj commented on #26375
@LekoArts Resolved, thank you! 🚀

[2020-10-16 09:49] mrkmx opened #27490 "Can i get page context from `createPage()` in `onRenderBody`?"
## Summary
I have a Gatsby project where several users can create landing pages with Strapi CMS. And I need to put on this pages different Google Tag Manager scripts by ID, that coming from Strapi. How can i get page context from `createPage()` (gatsby-node.js) in  `onRenderBody` (gatsby-ssr.js)? Or maybe have better way to do it?

PS. I'm currently using `gatsby-plugin-google-tagmanager`, but it'

[2020-10-16 09:52] willymulyana commented on #23378
I'm able to fix same issue after upgrade node.js to latest ([ref](https://medium.com/macoclock/update-your-node-js-on-your-mac-in-2020-948948c1ffb2))

[2020-10-16 09:59] ospaarmann commented on #17826
I ran into the same issue:

- `gatsby develop` would throw an error (`Something went wrong installing the "sharp" modul`)
- I deleted `node_modules` and tried to reinstall. Same issue
- I deleted `package.lock` and tried to reinstall. Same issue

Then I figured out that I set my package manager to `yarn` but was trying to run `npm install`. 🤦  You can check the package manager you chose in `~/.con

[2020-10-16 10:04] wardpeet commented on #4201
Going to close this one, we'll open a new one with the latest thinking & design. For now you can try out our new alpha https://github.com/gatsbyjs/desktop

[2020-10-16 10:04] #4201 closed

[2020-10-16 10:05] #430 closed

[2020-10-16 10:07] #2114 closed

[2020-10-16 10:07] #5951 closed

[2020-10-16 10:08] #7348 closed

[2020-10-16 10:09] wardpeet commented on #10706
Going to close this in favor of https://github.com/gatsbyjs/gatsby/issues/25729

[2020-10-16 10:09] #10706 closed

[2020-10-16 10:09] wardpeet commented on #10815
Going to close this in favor of https://github.com/gatsbyjs/gatsby/discussions/7348

[2020-10-16 10:09] #10815 closed

[2020-10-16 10:09] #22757 closed

[2020-10-16 10:10] #13454 closed

[2020-10-16 10:10] #1878 closed

[2020-10-16 10:12] #18850 closed

[2020-10-16 10:14] #13858 closed

[2020-10-16 10:14] #16040 closed

[2020-10-16 10:17] wardpeet commented on #27458
Do you still have this with the latest gatsby? Try removing node_modules, package-lock.json and try installing again.

[2020-10-16 10:18] wardpeet commented on #24822
We're currently working on this, I'm closing this one in favor of this discussion
https://github.com/gatsbyjs/gatsby/discussions/7348

[2020-10-16 10:18] #24822 closed

[2020-10-16 10:20] wardpeet commented on #25119
Noted that's actually a good idea 👍

[2020-10-16 10:21] joebentaylor1995 commented on #27458
@wardpeet Tried that several times with no luck, ill try your option @ttstauss

[2020-10-16 10:22] i-bsd commented on #27458
I think it's an issue with React (jsx-transform): https://github.com/facebook/react/issues/20036

[2020-10-16 10:22] joebentaylor1995 commented on #27458
Out of curiosity. @ttstauss @i-bsd do you have the Preact plugin installed?

[2020-10-16 10:23] joebentaylor1995 commented on #27458
I just removed mine and i can now build, nopw just to get the transition link bug fixed and im fully back, maybe reverting gatsby version may help me...

[2020-10-16 10:23] i-bsd commented on #27458
@joebentaylor1995 Yes but disabled earlier today.

[2020-10-16 10:24] i-bsd commented on #27458
@joebentaylor1995 I had a weird issue today where I couldn't run `gatsby develop` (it would just show a blank white screen with no error messages or console output). Disabled preact and it worked.

But I still can't use the latest version of React with the jsx-transform thing. Had to downgrade to previous version.

[2020-10-16 10:26] karlhorky commented on #26735
Just ran into this same issue again today after another update, this time related to `styled-components`. Completely unintelligible error, and probably nothing to do with `styled-components` (I tried debugging this last time and removing `styled-components`, and it still errored out):

[code]

Probably something with some transitive dependency in Gatsby again... I'll try removing the `yarn.lock` a

[2020-10-16 10:26] wardpeet commented on #26046
@connorlindsey you should indeed export it from gatsby-link and then export it from gatsby.

If you have a PR we can go from there.

[2020-10-16 10:26] #25813 closed

[2020-10-16 10:28] joebentaylor1995 commented on #27458
Yeah uive disabled it from my gatsby config and i can now build. this is a crazy issue

[2020-10-16 10:28] i-bsd commented on #27458
@joebentaylor1995 Just to clarify - are you using latest version React@16.14.0 with preact disabled, and everything works?

[2020-10-16 10:29] #19941 closed

[2020-10-16 10:30] wardpeet commented on #19941
We're launching a new api soon. It will give proper error messages based on Joi schema.

[2020-10-16 10:31] #24724 closed

[2020-10-16 10:32] #25119 closed

[2020-10-16 10:33] #26654 closed

[2020-10-16 10:36] wardpeet commented on #24332
@davidpaulsson mind sharing an example on how you do this? Cause art-direction is still possible with the new gatsby-image, you have to do some manual steps.

[2020-10-16 10:37] #27490 closed

[2020-10-16 10:38] wardpeet commented on #27484
could you share the gatsby-source-contentful version?

Could you also try running gatsby with `GATSBY_EXPERIMENTAL_PLUGIN_OPTION_VALIDATION=1`

[2020-10-16 10:42] wardpeet commented on #27020
Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll

[2020-10-16 10:42] #26984 closed

[2020-10-16 10:43] wardpeet commented on #26997
Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll

[2020-10-16 10:46] wardpeet commented on #25993
We need a little bit more information on how you're adding `<meta key="environment" name="note" content="environment=development" />,`

[2020-10-16 10:47] karlhorky commented on #26735
Yep, removing the `yarn.lock` and re-generating it worked again.

Something weird in Gatsby's transitive dependencies...

[2020-10-16 10:51] karlhorky commented on #26735
@laurieontech @madalynrose in case it's useful for you, below is the diff between the broken and working `yarn.lock`.

Not as nice as [the reduced reproduction above](https://github.com/karlhorky/gatsby-mdx-monorepo-bug-reproduction/pull/1), but maybe it can help...

[code]

[2020-10-16 10:57] karlhorky commented on #26735
Here's the upgrades from the Renovate bot that caused the breakage:

[2020-10-16 11:04] Abdelfatahh commented on #27484
Hello @wardpeet !

"@contentful/rich-text-react-renderer": "^14.1.1",
    "gatsby-source-contentful": "^2.3.53",

I ran the command you mentioned above
`npx cross-env GATSBY_EXPERIMENTAL_PLUGIN_OPTION_VALIDATION=1 gatsby develop`
and it worked successfully! Can you tell me what is this about? and Thanks alot! ❤️

[2020-10-16 11:19] czabaj commented on #26375
@LekoArts correct, fs route API shall resolve all paths configured in all instances of `gatsby-plugin-page-creator`, but this is not major issue.

[2020-10-16 11:29] vladar commented on #21901
The issue is probably somewhere along those lines:

https://github.com/gatsbyjs/gatsby/blob/03803999bd35018a599a8644f16424b75e6c89a3/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L249-L250

`fileTypes.minimumBytes` were removed here: https://github.com/sindresorhus/file-type/pull/319

So we probably need to update `gatsby-source-filesystem` to accommodate this change. PR is welc

[2020-10-16 11:30] DennisJunior247 opened #27493 "gatsby-source-contentful returing undefined but working in gql playground"
### Summary
for some weeks now I've been working with gatsby and contentful but  few days ago I encountered a bug where my contentful data returns in my gql playground but when I console.log(data) it returns an empty object or undefined when I try to destructure.
****
###  Here is  my gql which is returning the data successfully
![Screenshot from 2020-10-16 12-02-50](https://user-images.githubuser

[2020-10-16 11:40] ynnoj commented on #21901
@vladar Seems like [`FileType.fromFile()`](https://github.com/sindresorhus/file-type#filetypefromfilefilepath) should do the job?

[2020-10-16 11:43] vincentntang commented on #27476
I went through the graphQL explorer to see what my metadata is to see if `dylang/node-rss` was on there ![image](https://user-images.githubusercontent.com/10290348/96254132-c4fcd080-0f82-11eb-8878-f844052d0c1e.png)

I looked through the rss package options specs. It makes sense now from how you described

So I'm using a spread operator and passing the default specs, but not overriding it further d

[2020-10-16 12:12] #10049 closed

[2020-10-16 12:15] #10482 closed

[2020-10-16 12:16] xaverfleer commented on #27493
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction](https://gatsby.dev/reproduction). This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could p

[2020-10-16 12:17] #12155 closed

[2020-10-16 12:19] #14060 closed

[2020-10-16 12:19] doscio commented on #27020
Hi @wardpeet, i've created a minimal reproduction that show the problem.

https://github.com/doscio/gatsby-navigate-issue

The index page has a button that navigate to `/counter` page. On that page, everytime the button `Increase counter` is pressed,
the counter should increase it's value, but this is not appening on gatsby version `2.24.79`.

Versions prior to `2.24.70` works without problem:

1.

[2020-10-16 12:21] #14161 closed

[2020-10-16 12:22] #16737 closed

[2020-10-16 12:24] LekoArts commented on #17434
Since this issue didn't gain a lot of traction / a lot of people requested this I'll defer to the community plugin if you need this functionality. Thanks for creating it!

[2020-10-16 12:24] #17434 closed

[2020-10-16 12:26] #17569 closed

[2020-10-16 12:30] #18983 closed

[2020-10-16 12:38] hayatae commented on #27020
@doscio @wardpeet I've already created a minimal reproduction and posted it in the comments above: https://github.com/gatsbyjs/gatsby/issues/27020#issuecomment-706850931

You can very easily modify this same reproduction to reproduce the same issue with state not updating. Basically, no `navigate` functions work correctly for refreshing any query or state params on the same route after version `2.

[2020-10-16 12:45] #19367 closed

[2020-10-16 12:46] MakowskiHubert commented on #27196
Happening the issue for me too.

[2020-10-16 12:47] #24202 closed

[2020-10-16 12:48] #13806 closed

[2020-10-16 12:54] JustFly1984 commented on #19618
@Chaosbohne can't really argue with that, but I would even say it is an issue of sub-dependencies. I guess then `gatsby.js` team will care for dependency management and security, and in first step will remove `^` from all dependency/devDependency versions, whole range of issues could be prevented.

I can say that this issue is not browser dependent. I've seen it in Chrome and Safari based on Sentr

[2020-10-16 12:58] #25312 closed

[2020-10-16 12:59] emmadigital commented on #26997
Thank you so much @wardpeet for your response. Here is my repo https://github.com/emmadigital/austinlaw.git

[2020-10-16 13:00] #27433 closed

[2020-10-16 13:01] #27383 closed

[2020-10-16 13:02] #27251 closed

[2020-10-16 13:02] #27063 closed

[2020-10-16 13:03] #26648 closed

[2020-10-16 13:05] #26513 closed

[2020-10-16 13:05] #26314 closed

[2020-10-16 13:24] davidpaulsson commented on #24332
Sure! I use it like this currently

[code]

[2020-10-16 13:38] vladar commented on #21901
Yup, looks like it should do the trick!

[2020-10-16 13:40] moscoding commented on #20505
Hey, for us was helpful to dynamically render React components. I mean wrote if this image file is exist smth like
`{your condition && (<img/>)}` 😅

[2020-10-16 14:21] claygiffin commented on #26563
I am running into this same issue. It happens with nearly every production build that I push to Netlify. I have not been able to reproduce the issue locally, and there are no build errors.

On my production site, the only solution I've found is to clear the cache and rebuild after each site update.

My current dependencies are:
[code]

[2020-10-16 14:23] tu4mo commented on #26580
@vladar Yep, I think this solved the random issue, but I still have another issue with some components not updating at all. Refreshing doesn't do anything, only restarting. The components come from a library that's build in another yarn workspace. Maybe the issue has something to do with symlinks...

[2020-10-16 14:24] wardpeet commented on #26563
🤔 I assumed it was caching headers or the platform not purging but it seems like we should add a hash to the file

[2020-10-16 14:35] WillMayger commented on #27351
👋 Hi @vladar I am happy to pick this one up as it was my PR that seemed to cause it.

Just to double check my understanding  though - the location search is currently not effecting the navigation when it should be because in the navigation we are using `pathname` as the comparison when we should be using both the search query as well?

[2020-10-16 14:46] vladar commented on #27351
Hey @WillMayger ! That would be awesome! 💜

So yeah, I think the issue is that we should update on any location string change (so `pathname+search+hash`). The reproduction in this issue should help to understand if it was fixed for the `search` part. But keep in mind that we should also cover the `hash` case, not just `pathname` and `search`.

[2020-10-16 14:51] gaearon commented on #27458
What makes you think there's an issue in React? The issue you're linking to has no reproducing case so it's likely a configuration problem in the reporter's setup. We didn't close it out of courtesy for now, but there's nothing there that indicates a React problem.

[2020-10-16 14:53] WillMayger commented on #27351
👍 Brilliant thanks for the info, I will get started on a PR this weekend!

[2020-10-16 15:32] crock commented on #22991
@KyleAMathews Did something change regarding the GatsbyPlugin api for recipes lately? Because recently today when I try running the official Wordpress recipe I made, I'm getting this error. It doesn't seem to recognize **locally-defined plugins** anymore.

[code]

[code]

[2020-10-16 15:46] andreydrozd-smfe commented on #26563
I too am experiencing this issue and it's definitely not a cache issue for me. I too do not experience this issue locally.

I'm setting up a staging environment with no cache, just hosting the files on S3, and I am getting an undefined property error. It's like the query never ran. I empty the S3 bucket manually and redeploy, and the issue is still there.

My current dependencies are:

[code]

[2020-10-16 15:50] Zrce commented on #5400
I'm interested in this too. animated webp is much smaller than gifs

[2020-10-16 16:01] rodrigo-arias commented on #22206
Same problem here, the proposed workarounds did not work in my case. In my opinion this is a bug.

[2020-10-16 16:09] KyleAMathews commented on #22991
@crock yeah I added validation that plugins must have an equivalent NPM package. Local plugins need a `isLocal` prop to tell Gatsby to avoid this check (https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-recipes/README.md#props) — I didn't update this recipe. Could you PR a fix?

[2020-10-16 16:25] ttstauss commented on #27458
@joebentaylor1995, yes I have Preact installed. I updated gatsby-plugin-preact to 4.0.16 from 4.0.15 and React back to 16.14.0 from 16.13.1. I also upgraded gatsby from 2.24.78 to 2.24.80. So far I've been able to build successfully with these changes.

[2020-10-16 17:23] #24001 closed

[2020-10-16 17:23] #25990 closed

[2020-10-16 17:23] #26039 closed

[2020-10-16 17:24] #26147 closed

[2020-10-16 17:24] #26015 closed

[2020-10-16 17:24] #26239 closed

[2020-10-16 17:27] #26437 closed

[2020-10-16 17:28] #26385 closed

[2020-10-16 17:28] #26204 closed

[2020-10-16 18:40] Ashto10 opened #27502 "Styling not loading on components using styled-components without first visiting homepage"
## Description
Apologies in advance, it appears this is a frequently asked question, but I've been unable to fix my issue by following many of the answers listed previously.

I'm building a basic blog template using Gatsby, and opted to use the styled-components plugin to handle the css side of things. Styling works well throughout the site when using `gatsby develop`, but the navigation bar appea

[2020-10-16 19:03] gaearon commented on #27458
It seems like the common thread is that you use React in development and Preact in production. To me, this sounds like an extremely fragile setup because Preact is known to have behavior differences and incompatibilities with React, but that's your call. What I think is happening here is that Gatsby detects React supports the new JSX transform (so it uses it), but it isn't aware of the Preact over

[2020-10-16 19:36] Ashto10 commented on #27502
On further research, this appears to be a duplicate issue of #9918

[2020-10-16 19:51] ttstauss commented on #22206
Something definitely changed. @nhc touched on it above. When looking at the `headComponents` (using `getHeadComponents()`), I see significantly fewer components than there were before, including a bunch of empty arrays. The only "data-react-helmet" component I see is the title which happens to be inside an array (so now the sorting would need to be done after the array is flattened I believe).

My

[2020-10-16 20:40] ttstauss commented on #22206
So far I've tested the following on two separate websites with success (I'm early in my testing so I can't guarantee this'll work for everyone):

[code]

Notes on what I did differently:

- I decided to avoid modifying the array in place by using the `splice` method.
- I had to flatten the `headComponents` array in order to evaluate each item's `type` property (some of the components come in as ar

[2020-10-16 21:35] 13rac1 commented on #22755
Similar error on a local project after some minor updates. `rm -rf public` didn't fix it. `rm -rf .cache` did.

[2020-10-16 22:37] theskillwithin opened #27507 "gatsby-plugin-gtag add preconnect/dns-prefetch"
like in https://github.com/gatsbyjs/gatsby/issues/12802 could we do the same for gatsby-plugin-gtag?

[2020-10-16 23:34] moonmeister commented on #17434
@LekoArts this was a bug not a feature.

[2020-10-17 00:03] ankitv-sdei commented on #2074
use hash "/resources/#?type=webinar"

[2020-10-17 00:15] #26411 closed

[2020-10-17 02:51] naoking99 commented on #21995
Hi, I'd like to work on `packages/gatsby/src/utils/babel-loader.js`.

[2020-10-17 03:29] ahmedhosny commented on #7317
gatsby-remark-copy-linked-files renders the svg but as standalone **img** not **figure**. It looses the figure caption in the process.

`![foo](./bar.svg)`
gives:
` <img src="/2f57e0193d1780ac1fc932245c3fab89/bar.svg" alt="foo">`

whereas
`![foo](./bar.png)`
gives the expected:
[code]

This is what I have:
[code]

[2020-10-17 07:24] everly-blake opened #27508 "disableCorePrefetching disables preload in development but not with production build"
## Description

When using `exports.disableCorePrefetching = () => true` and running the app locally with `gatsby develop`, links to js and json files correctly do not have a `preload` tag.

However, when doing a production build with `gatsby build`, the `preload` tags are not removed.

### Steps to reproduce

1. Add `exports.disableCorePrefetching = () => true` to `gatsby-browser.js`
2. Run app i

[2020-10-17 08:03] stemry83 commented on #25859
tl;dr: For me, node version wasn't the problem. `Visual C++ Build Tools` was the root cause of `gatsby develop` failure.

I've tested on both node `10.16.0` and `14.14.0`: they both works after `Visual C++ Build Tools` is properly installed.

The problem for me was `Visual C++ Build Tools`. I followed the [Gatsby on Windows](https://www.gatsbyjs.com/docs/gatsby-on-windows/) guide:

It still didn't

[2020-10-17 11:01] chooban opened #27509 "gatsby-transformer-csv fails if invalid csvtojson options given"
## Description

After the upgrades in #27037 (and possibly before), passing in invalid arguments in the config file for csvtojson causes it to throw an error, but one without helpful information.

`TypeError: onrejected is not a function`

I'm working on the fix in #27494, but figured filing a bug might be easier for other affected users to find.

### Steps to reproduce

Configure gatsby-transform

[2020-10-17 11:35] bitPogo opened #27510 "gatsby-transformer-asciidoc - Allow Macro Extensions"
## Summary

As a user of gatsby-transformer-asciidoc I like to be able to use my awesome custom asciidoc [extenstions](gatsby-transformer-asciidoc).

### Basic example

[code]
[code]
### Motivation

I am actually in need of more elaborate customisation, which exceeds the capability of a CustomConverter unless I do it in a hacky way, which I do not want to. A custom macro extension allows me to ach

[2020-10-17 11:42] bitPogo opened #27511 "gatsby-transformer-asciidoc - Misnamed option"
## Summary

gatsby-transformer-asciidoc  refers in it's option `converterFactory` to a TemplateConverter, but takes in reality a CustomConverter.

### Motivation

When I first crawled through the documentation it confused me and I assume, it will confuse other people too.

### Open a pull request

- [x] Open a pull request with your work including the words "closes #[this issue's number]" in the p

[2020-10-17 13:02] ehowey commented on #27325
https://github.com/gatsbyjs/gatsby/issues/17131

Maybe similar or helpful?

[2020-10-17 14:03] abdullahe commented on #24332
@wardpeet Hi Ward. Could [blurha.sh](https://blurha.sh/) be useful for gatsby image nextgen?

[2020-10-17 16:40] karlhorky commented on #19267
Not stale

[2020-10-17 17:05] inblock-io commented on #6949
Correct. I have done everything I can in my case and I cannot find the offending entry. I iterated through all queries used in the current project (thank god it is only a few distinct ones, this would be a death knell in any serious project).

Is there NO way to identify which query or subquery failed?

[2020-10-17 18:15] AnthonyLedru commented on #26580
The changes made by @vladar also fixed my issue. 👍

[2020-10-17 18:44] inblock-io opened #27515 "Errors even when no code present: Call stack size / cannot read property"
## Description
I have an issue I need help with that seems to have popped up a few times over the years. I have burned 8 hours, one full work day, and this is too much.

**Backstory:** Have a working page that needed updates. Unfortunately for some reason,  after 2.5 months of no updates and no changes, it has stopped building, on both netlify and local development, throwing either
a)   `RangeErro

[2020-10-17 19:10] dedevillela commented on #27402
Hi all. Loving it so far! Thanks for this great app. :)
I've found some issues while browsing plugins, looks like it only renders properlly formated .md files as the README, the ones with HTML aren't good to read...
![gatsby-source-wordpress-experimental](https://user-images.githubusercontent.com/3102096/96261169-72c5aa80-0f96-11eb-94f3-25f07c478733.png)

Also, make sure ALL links in plugin's READ

[2020-10-17 19:22] ThakurKarthik commented on #21995
Hey @davad I was already working on schema-compose.js here https://github.com/gatsbyjs/gatsby/pull/27241 . Thanks !

[2020-10-17 19:37] ThakurKarthik commented on #21995
Hey @LekoArts I would like to work on `gatsby/src/utils/webpack.config.js` Thanks.

[2020-10-17 20:33] inblock-io commented on #27515
Update:

I have found the generic graphiQL endpoint and instance for our contentful project. [Feel free to peruse, access tokens included (click) ](https://graphql.contentful.com/content/v1/spaces/lil8n4syivvk/explore?access_token=rJ6yJJXuukb5K7ghg761Aj0w0rvcOKTwSeKHxcztYLI)

### Insight

I realized that the "old", orignally working queries don't work any longer [gatsby-node.js]:
[code]
But using

[2020-10-17 20:35] inblock-io commented on #11364
I have one here: https://github.com/gatsbyjs/gatsby/issues/27515

[2020-10-17 21:37] coscakir commented on #26486
hi @baloghrebecca,
I had the same problem and I spent one day to solve it :)

as you said, I arranged the imports like below and it worked.

[code]

Thanks!

[2020-10-18 04:44] ThakurKarthik commented on #21995
Hey @LekoArts @ascorbic I need some help here https://github.com/gatsbyjs/gatsby/pull/27241 I am not sure what is breaking in circleci, can you point me where is the issue. Thanks !

[2020-10-18 05:52] sumanchapai opened #27516 "Date Format String Causes an issue"
##

A certain pattern on date format string on graphql query causes error specifically ``MMM DD``

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

{
      allSanityCalendar(sort: { order: ASC, fields: date }) {
        nodes {
          title
          d

[2020-10-18 06:33] supposedly commented on #23033
+1 CLI version `2.12.109`, always gets stuck at 100%. Oddly, if I hit Ctrl+C once it hangs then rerun `gatsby build`/`gatsby develop`, the second run completes pretty much instantly (~30 seconds). This caused my last remote deploy to take 14 minutes, but locally, I can get it to complete in under 2 minutes if I Ctrl+C and restart.

Any insight into what's going on...? `--verbose` doesn't say anyth

[2020-10-18 08:07] Lylio opened #27517 "Gatsby build has blurry images"
## Description

I'm fairly new to React/Gatsby and have just tweaked a template to create the site [www.flakyrecords.com](url).

I packaged the site using the Gatsby command `gatsby build` which creates the website in the public folder. I then copied all of the files and folders from this public directory to my hosting provider.

For the most part, it worked - however, as you can see, the images a

[2020-10-18 11:18] adonig commented on #27458
One hour ago there was [an update to Preact](https://github.com/preactjs/preact/releases/tag/10.5.5) but sadly the problem still persists. I'm not sure whether the problem is caused by preact or by [gatsby-plugin-preact](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-preact). For now the best workaround is to pin react to "<16.14.0" until the issue gets resolved.

[2020-10-18 14:28] vsolanogo opened #27519 "Suspend in gatsby"
I have a very complicated form on the very bottom on each page of my site and i want to load all js code related to this form only when user scrolled to it, before that just display ssr HTML, how i do it in gatsby?

[2020-10-18 15:39] xaverfleer commented on #27519
Have you considered using the [Intersection Observer API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)?

The API is designed for use cases like yours.

[2020-10-18 16:17] validity-check commented on #27517
Hi, I would like to see if I can do anything here. Are the images blurry in development?

[2020-10-18 16:25] xaverfleer commented on #27517
[Stackoverflow response](https://stackoverflow.com/questions/64405255/gatsby-js-has-blurry-images/64414502#64414502)

Your image paths are wrong.

[2020-10-18 17:49] Lylio commented on #27517
Thanks for the advice. I don't understand where the long string in the url comes from, after the/static/. However, if I create the folder and subfolder (a4acc2fd3768aba6c88aea6e0ca345b2/26a97/) within my hosting provider instance, and upload the lyle-03.png, then the website www.flakyrecords.com returns a sharp, in focus image. But do you know why this extra long String is being created in the fil

[2020-10-18 18:18] xaverfleer commented on #27517
I agree, it's sometimes confusing how resources are loaded/ where you need to upload your assets.

Are you working in a public repository? I can take a look at its configuration.

[2020-10-18 18:32] ahfarmer commented on #15277
I think switching back to react router is super important because of issues like this one; https://github.com/reach/router/issues/175

There is currently no way in gatsby to block a navigation change to tell the user "Hey are you sure you want to navigate away, you have unsaved changes?"

[2020-10-18 18:33] ahfarmer commented on #15277
Also I think this article is spot on about GraphQL being overly complicated for the task: https://jaredpalmer.com/gatsby-vs-nextjs

I was a much bigger fan of Gatsby v1 before all the GraphQL stuff got added. I think it's worth considering moving to a more nextjs-like approach where components can just have a `getStaticProps` function - so simple and easy to understand.

[2020-10-18 18:36] dbismut commented on #27431
@LekoArts All anchor links in gatsbyjs.com from the right sidebar don't seem to be working.

[2020-10-18 18:38] dbismut commented on #26959
This issue is related and has been marked as closed https://github.com/gatsbyjs/gatsby/issues/27431

[2020-10-18 18:46] dominikkurbiel commented on #27517
Hey, I have the same issue but it looks like images are not working only in `/` (home) path which is index.html in public directory. So on `/contact` or other everything works perfect.

Moreover, I'm getting strange error on home path: `Uncaught (in promise) Error: page resources for / not found. Not rendering React`.

Maybe this is connected somehow or do you have any idea how to fix it?

[2020-10-18 18:49] vsolanogo commented on #27519
i even use it) but i need to disoplay html with styles but js code load on intersection

[2020-10-18 18:56] karlhorky commented on #27097
Not stale

[2020-10-18 19:07] rcapdepaula opened #27524 "Plugin should download the assets to the static folder but don't work"
I'm using this plugin https://www.gatsbyjs.com/plugins/@draftbox-co/gatsby-wordpress-inline-images/ following all instructions, but does not work.

The plugin should download the assets to the Gatsby static folder but don't work.

My Gatsby Blog Post:
![nmAQkUp](https://user-images.githubusercontent.com/59542732/96377390-d6e59b80-115b-11eb-8577-ff2d076deb70.png)

Does anyone know what could be goi

[2020-10-18 19:49] emalindahk commented on #13918
I had the same problem. What worked for me was to ;

- Delete package-lock.json and node_modules folder
- Run `npm install`

[2020-10-18 20:01] xaverfleer commented on #27517
@dominikkurbiel your issue sounds like the import path to the image is incorrect.

Hard to tell without looking at your code.

Are you working in a public repository? I can take a look.

[2020-10-18 20:05] xaverfleer commented on #27519
Hmm.. sounds like an [XY problem](http://xyproblem.info/).

Why do you want to `load all js code [...] only when scrolled to it`? Are you trying to improve performance?

[2020-10-18 20:44] dominikkurbiel commented on #27517
@xaverfleer that would be perfect.

This is my repo: https://github.com/dominikkurbiel/mali_streamerzy

I just put my /public folder content to the FTP server, and its live here: https://www.malistreamerzy.pl/

Like I said it's not working only on home directory. (logo in the footer) When you enter any other page like https://www.malistreamerzy.pl/kontakt its working perfectly. Also mobile menu is

[2020-10-18 20:51] machineghost commented on #13918
Ah the old "delete `node_modules` and running `npm i`" ... the modern JS equivalent of "blowing on an video game cartridge to make it work" ;-)

And as is (too) often the case ... it worked :-) Thanks!

[2020-10-18 20:54] Lylio commented on #27517
My repo is https://github.com/Lylio/flaky-records-webapp if you wouldn't mind having a look.

I've managed to fix the blurred images on desktop browser anyway, on my mobile, one of the images is stubborn and remains blurred. But the directory hierarchy/file-path on my hosting isn't pretty:

flakyrecords.com
|
|___ static
       |
       |___ 25d4a183ea655f7d2f80fc31f51c9cdf
              |

[2020-10-18 22:50] qasimalyas opened #27525 "Using gatsby-plugin-google-tagmanager during runtime"
## Summary

I'm using `gatsby-plugin-google-tagmanager` which initially works fine. I can push data using the `defaultDataLayer` option but is there a way to push other data using the plugin from components at runtime? So essentially a function which I can import and use to push data throughout the app?

[2020-10-19 00:07] yoshi-star commented on #26038
@KyleAMathews

I tried and got below. Is it running normally?
![image](https://user-images.githubusercontent.com/71750189/96389380-35595b00-11ea-11eb-8d0c-05a8c851338d.png)

[2020-10-19 00:44] tathagatbanerjee opened #27529 "Broken Link - https://www.gatsbyjs.com/docs/typography-js/"
## Summary

The link in the Gatsby docs to the typography page is broken.

![image](https://user-images.githubusercontent.com/11780602/96390378-0f3eb580-1200-11eb-8110-7de0a94e227e.png)

Currently it points to below -

![image](https://user-images.githubusercontent.com/11780602/96390401-2b425700-1200-11eb-9e98-6abd78af6223.png)

Am pretty sure it should point to

![image](https://user-images.githu

[2020-10-19 01:08] KyleAMathews commented on #26038
You need to change the URL to your site's production URL.

On Sun, Oct 18, 2020, 6:07 PM yoshi-star <notifications@github.com> wrote:

[2020-10-19 01:32] yoshi-star commented on #26038
@KyleAMathews
Thank you.

Except for the "JavaScript and CSS", it is running normally (headers are correct!).

[code]
(https://www.npmjs.com/package/check-gatsby-caching)

[2020-10-19 02:28] wangpin34 commented on #25993
It's not added manually actually but part of the source code of gatsby itself.

https://github.com/gatsbyjs/gatsby/blob/af973d4647dc14c85555a2ad8f1aff08028ee3b7/packages/gatsby/cache-dir/develop-static-entry.js#L31

And, it seems not a problem with this file since gatsby works in the normal flow(gatsby developing/build), but not in my case.

[2020-10-19 02:28] ibraheemdev commented on #24577
not stale

[2020-10-19 02:48] AlexanderMZhao commented on #23210
Same error here. But it was gone after I connected VPN.

[2020-10-19 07:15] LekoArts commented on #27529
Thanks! This was due to an outdated sidebar which I fixed now :)

[2020-10-19 07:15] #27529 closed

[2020-10-19 07:16] #27525 closed

[2020-10-19 07:16] LekoArts commented on #27524
We're not maintaining `@draftbox-co/gatsby-wordpress-inline-images` so please open an issue on their repository. Thanks!

[2020-10-19 07:16] #27524 closed

[2020-10-19 07:17] #27519 closed

[2020-10-19 07:18] #27517 closed

[2020-10-19 07:24] LekoArts commented on #27516
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

I've used [our example project](https://graphql-reference-1124782374.gtsb.io/___

[2020-10-19 07:29] #27510 closed

[2020-10-19 07:31] #27507 closed

[2020-10-19 08:24] LekoArts commented on #27502
Thank you for opening this!

As you have noticed this is an SSR issue where the client-side content is different from the one in the HTML. This is because the `Location` component you used isn't returning anything on the build. Gatsby automatically provides that information for each page in `src/pages` or in the `wrapPageElement` API.

I created a PR to your example repo which works: https://githu

[2020-10-19 08:24] #27502 closed

[2020-10-19 08:27] LekoArts commented on #27240
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-19 08:27] #27240 closed

[2020-10-19 08:28] LekoArts commented on #27296
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-19 08:28] #27296 closed

[2020-10-19 08:28] LekoArts commented on #27321
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-19 08:28] #27321 closed

[2020-10-19 08:28] LekoArts commented on #27328
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-19 08:28] #27328 closed

[2020-10-19 08:28] LekoArts commented on #27310
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-10-19 08:28] #27310 closed

[2020-10-19 08:31] #24321 closed

[2020-10-19 08:31] #16678 closed

[2020-10-19 08:32] #23666 closed

[2020-10-19 08:32] #23166 closed

[2020-10-19 08:32] #20642 closed

[2020-10-19 08:33] #20485 closed

[2020-10-19 08:33] #24121 closed

[2020-10-19 08:35] #20481 closed

[2020-10-19 08:35] #24875 closed

[2020-10-19 08:35] #25331 closed

[2020-10-19 08:38] #25615 closed

[2020-10-19 08:49] #19597 closed

[2020-10-19 08:49] #20568 closed

[2020-10-19 08:49] #25931 closed

[2020-10-19 08:51] MarcMagdi opened #27543 "Updates in Contentful are not reflected in Gatsby"
## Description

My current stack is Contentful as CMS, Gatsby which is hosted on Netlify.
The current issue is that in some time (not always), when creating new pages in Contentful it's not reflected in Gatsby.
In gatsby-node we are iterating over the pages we have in Contentful and use createPage API to create a new web page for it.
When creating new web pages, we can't see that this page got cre

[2020-10-19 08:58] #25993 closed

[2020-10-19 08:58] #27024 closed

[2020-10-19 08:59] #27152 closed

[2020-10-19 08:59] #26997 closed

[2020-10-19 09:00] #25791 closed

[2020-10-19 09:00] #26877 closed

[2020-10-19 09:00] #27295 closed

[2020-10-19 09:01] #27007 closed

[2020-10-19 09:02] #26874 closed

[2020-10-19 09:02] #26865 closed

[2020-10-19 09:03] #26869 closed

[2020-10-19 09:04] #26715 closed

[2020-10-19 09:04] #25689 closed

[2020-10-19 09:07] LekoArts commented on #26296
As Kyle pointed out your issue is that you don't actually create the page. Placing the doc file inside `src/pages` folder won't do anything. That only works for js/jsx/tsx files (with valid React component as default export). Using the linked example should solve your issue.

[2020-10-19 09:07] #26296 closed

[2020-10-19 09:07] #26775 closed

[2020-10-19 09:10] #26315 closed

[2020-10-19 09:12] #26732 closed

[2020-10-19 09:24] #26607 closed

[2020-10-19 09:28] #24286 closed

[2020-10-19 09:46] #26978 closed

[2020-10-19 09:46] #26523 closed

[2020-10-19 09:47] #27039 closed

[2020-10-19 10:08] sumanchapai commented on #27516
Seems like it's working for me today. I couldn't reproduce the issue myself in the same environment…so, i think we can close the thread now. Thanks again though!

[2020-10-19 10:08] #27516 closed

[2020-10-19 10:38] sandro768 commented on #26726
Is there a way to disable cache invalidation for a plugin? So, the issue mentioned above will be resolved.

[2020-10-19 11:07] wardpeet commented on #27484
Unsure to be honest, GATSBY_EXPERIMENTAL_PLUGIN_OPTION_VALIDATION is a new feature we're launching soon and I was just checking if it was a mistake we made along the way. I can't seem to reproduce this on contentful.

Does the following values look correct?
[code]

[2020-10-19 11:28] wardpeet commented on #27458
I've installed `gatsby@2.24.77` with `preact@10.5.5` and `gatsby-plugin-preact@4.0.16` and I don't get an issue. We published a fix where we rollbacked the automatic jsx part

[2020-10-19 12:17] don-esteban commented on #26959
I tried to reproduce the error again with the latest Gatsby version 2.24.80. All issues are gone.

**Important note! The work around above is not needed any more and would not work anymore! Stay with this simple rule:**

1. For links to other pages use the Link component
`<Link to="other-page">Other page link</Link>`
2. For fragement links (anchor links, links to the same page) use the HTML a-tag

[2020-10-19 12:17] #26959 closed

[2020-10-19 13:23] abhik007 opened #27548 "Error: Command failed with exit code 1: npm install"
## Description

Hello, I'm a newbie in gatsby, everytime I try to create a gatsby site I am getting this error: Error: Command failed with exit code 1: npm install

### Steps to reproduce

I tried this : gatsby new gatsby-simplefolio https://github.com/cobidev/gatsby-simplefolio

### Actual result

[code]
### Environment

Windows 10
node -v
v14.14.0

npm -v
6.14.8

Gatsby CLI version: 2.12.109

[2020-10-19 13:53] ruben00001 opened #27550 "Programmatic navigation doesn't trigger service worker update"
Programmatic navigation doesn't trigger a service worker update; new content isn't shown when I use `navigate`.

**Further information**
I'm using Strapi as my CMS to pull in data at build time, `gatsby-plugin-offline` and the `onServiceWorkerUpdateReady` method with a prompt to reload window.

When I enter my site and then click on a 'link' that uses `navigate`, new content isn't shown on the pag

[2020-10-19 14:10] tgallacher commented on #27484
I am experiencing something similar.

Have a setup with Gatsby + Contentful.

Running `gatsby build` runs and seems to complete as expected. However, running `gatsby develop` fails to complete; it gets stuck on `createPages`... It doesn't output any errors, warnings, etc. Just presents a never-ending spinner.

Running with the `GATSBY_EXPERIMENTAL_PLUGIN_OPTION_VALIDATION=1` var doesn't provide an

[2020-10-19 14:57] liuliangsir opened #27552 "Segfault inside Docker container without output"
## Description

Running `gatsby build` under local environment works while no generated html file with the same condition under alpine linux.

### Steps to reproduce

Here is [a minimal reproduction](https://github.com/liuliangsir/blog). And the followings are a bunch of steps to follow:
- Get a copy of the minimal reproduction above with git protocol or ssh protocol
- Switch to root directory of