[2019-03-24 16:17] benwiley4000 commented on #11830
Any word on this? No one is going to understand what I'm talking about if I pop a dialog telling them to upgrade to the new version of a website.

[2019-03-24 16:29] aprather51 commented on #12798
This docs i was referring to...
useStaticQuery -> https://www.gatsbyjs.org/blog/2019-02-20-introducing-use-static-query/
gatsby-transformer-json - https://www.gatsbyjs.org/packages/gatsby-transformer-json/

[2019-03-24 17:05] erikdstock commented on #12744
@anonimoconiglio I've been juggling some similar issues today, and I think the following may resolve your issue- in short upgrade gatsby, then rm  your node_modules and reinstall from scratch (but same yarn.lock):
[code]

I believe that the reason you don't see lockfiles in individual packages is gatsbyjs/gatsby's monorepo structure- the `yarn.lock` is at the top level and is for developers. More,

[2019-03-24 17:12] yoavweiss commented on #12800
A few questions:
* Are the resources in question cacheable?
   - If so, they will (or at least should) stay in cache beyond the 5 minutes window. That [window](https://cs.chromium.org/chromium/src/net/http/http_cache_transaction.cc?type=cs&q=LOAD_PREFETCH&sq=package:chromium&g=0&l=2761) makes sure that non-cacheable (but storable) resources in cache can escape validation for the first use during t

[2019-03-24 17:27] #7107 closed

[2019-03-24 17:27] #10446 closed

[2019-03-24 17:27] #11692 closed

[2019-03-24 17:27] #11898 closed

[2019-03-24 17:27] #11903 closed

[2019-03-24 17:37] pgilad commented on #12802
Also, should it be `preconnect` perhaps? https://developers.google.com/web/fundamentals/performance/resource-prioritization#preconnect

[2019-03-24 17:40] interglobalmedia commented on #12744
@erikdstock Thanks for all the information! FYI,I do not use yarn. I use npm. And the vulnerability shown at the top leads to a several hundred more deeper down. especially when I add a package-lock.json file when prompted to when doing ```npm audit fixes```.

[2019-03-24 18:07] Videl commented on #12790
What do you mean "Context in createPage is not provided"? In your code example, I can see you're sending `homeId` as context to the `slash(pageTemplate)` component.

The relevant doc is here: https://www.gatsbyjs.org/docs/creating-and-modifying-pages/

[2019-03-24 18:08] oschade opened #12812 "warning 'use strict' is unnecessary inside of modules strict"
## Description

I set up a repository with yarn workspaces like this one:

https://github.com/jlengstorf/gatsby-theme-style

I added a plugin in the packages-folder with a `gatsby-browser.js` file using jsx-syntax. This have to be compiled with babel. The compilation added a "use strict" add the top when using the preset "babel-preset-gatsby-package".

This causes the warning "warning  'use strict

[2019-03-24 18:24] jlengstorf opened #12813 "[themes] component shadowing has unexpected behavior with parent themes"
I just hit some weird behavior with component shadowing that I _think_ is a bug.

Here's what I'm doing:

1. I have a parent theme
2. I have a child theme that shadows a parent component
3. i have a site that needs to shadow a parent component

My goal was to allow shadowing in the child theme by defining the shadowed component in `src/components` in the child theme, then exporting it from `src/ga

[2019-03-24 18:40] mahhan commented on #12728
@pieh Thanks for getting back to me.

Okay, well that's a bummer. What would any other gatsby solution be, which can provide the feature of showing images in search results?

[2019-03-24 18:49] docwhat commented on #9785
Just adding some info:

- You could just update the `mtime` on all the files. e.g., StackOverflow's [_Restore a file's modification time in Git_](https://stackoverflow.com/q/2458042).
- You could fetch the author time of the *last* commit: `git log -1 --pretty=format:%aI -- package.json`
- You could fetch the author time of the *most recent* commit: `git log --pretty=format:%aI -- package.json | s

[2019-03-24 19:00] yogeshkotadiya commented on #12802
@pgilad You can certainly use both `dns-prefetch` and `preconnect` If you are going to use put `preconnect` first because `preconnect` lacks better browser support compare to `dns-prefetch`.
So even if it fails it can always fall back to `dns-prefetch`.

Although for something noncritical and low prioritized resource like analytics `dns-prefetch` is just fine.

[2019-03-24 19:07] yogeshkotadiya commented on #12812
That's because in ES6 modules are strict by default so you don't have to use `"use strict";`.
[https://www.ecma-international.org/ecma-262/6.0/#sec-strict-mode-code](https://www.ecma-international.org/ecma-262/6.0/#sec-strict-mode-code)

[2019-03-24 19:20] fk commented on #12767
Yes, they can.

Yes, that makes no sense and is my bad. Will get a PR going to fix this. Currently thinking that it'd be nice to have a headline for the whole sidebar for mobile ("Documentation", "Tutorial", etc.).

[2019-03-24 19:30] oschade commented on #12812
But how to avoid this warning? There are a lot of plugins using this setup, for example the gatsby-plugin-glamor:

https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-glamor

If I install it in the setup mentioned above, the error do not show up, even though the (compiled) gatsby-browser.js starts with `"use strict";` How could this be possible?

[2019-03-24 19:32] ChristopherBiscardi commented on #12813
It's a bug in the parent-shadow-import.

If
the `issuer`: `theme-b/src/gatsby-theme-a/components/foo.js`
and the required path: `theme-b/src/components/foo.js`
end with the [same suffix](https://github.com/gatsbyjs/gatsby/blob/03b766210aec74d804fcd528899bb3f13f33d490/packages/gatsby/src/internal-plugins/webpack-theme-component-shadowing/index.js#L54) that is the universal component path (that is,

[2019-03-24 19:40] jonniebigodes commented on #12610
@jonathancary i've picked up on your answer and i think i have a solution for your issue.
Going to break down my answer in smaller parts for a better understanding.
- Installed the Gatsby blog starter like you mentioned.
- Followed the official documentation for adding netlify cms, [here](https://www.gatsbyjs.org/docs/sourcing-from-netlify-cms/), adding the packages in question.
- Trimmed some stu

[2019-03-24 19:42] jonniebigodes commented on #10713
@joshlongerbeam no need to thank. Glad you worked it out aswell.

[2019-03-24 20:02] pgilad commented on #12802
I'm doing it because Lighthouse complains ;)

[2019-03-24 20:02] jonniebigodes commented on #12790
@Brzonka see [this](https://github.com/gatsbyjs/gatsby/issues/10742)  for detailed example of Gatsby and the `createPages` api.
A couple of things
1. One thing caught my eye, while reading your code.
[code]
You need to add the await before each `axios.get()` and also with that you're making 2 calls to the same endpoint, You fetch the languages here `const fetchLanguages = () => axios.get(`${API_UR

[2019-03-24 20:12] ChristopherBiscardi commented on #12813
We could make this check more restrictive and only check valid shadow paths instead of the "same suffix" that worked for the PoC. Basically this would consist of constructing the list of potential paths and then running `potentialPaths.includes(issuer)` without the extensions.

[2019-03-24 20:14] bjrn commented on #12776
yes, can confirm that downgrading to `netlify-cms@2.6.0` helped. I am also using [`netlify-cms-backend-fs`](https://www.npmjs.com/package/netlify-cms-backend-fs) for local development, which I accidentally bumped to `0.4.x` (not compatible with `netlify.cms@2.6.0`) ...
`netlify-cms-backend-fs@0.3.3` works fine though.

[2019-03-24 20:21] ebello commented on #11487
I am also suffering from this bug. I've tracked it down to an `import { Link } from 'gatsby';` that I was using in a component. If I take out that import the script builds as expected. With it included I receive the exact error above.

The error goes away by downgrading to the versions that @greatwitenorth specifies above. For what it's worth, I was using `gatsby v2.2.9` and `gatsby-plugin-netlify

[2019-03-24 20:48] jlengstorf commented on #12813
That seems right to me. This pattern makes it possible to avoid needing to know the parent theme(s) to shadow properly. (E.g. using `gatsby-theme-b` but needing to shadow `gatsby-theme-a`.)

Are there any pitfalls to getting more restrictive? Another approach would be to warn that a component has been duplicated and tell me to rename that component to avoid collisions, e.g.:

[code]

I'm not sure

[2019-03-24 20:53] lucassilvagc commented on #6654
Definitely still an issue.
I've been trying to compile my project for the last 24 hours. From approximately 12 tries, 3 succeeded with outputs and actual WP connection. Is there any fix to this?
BTW, I've tried to use @njmyers version of the plugin (awesome job, actually!), but results were mixed. Sometimes it would complain about wordpress_parent or Date and eventually crash, but couldn't figure

[2019-03-24 21:16] matthewlehner commented on #12776
I believe this has something to do with the changes in netlify/netlify-cms#2215

Looks like the cms.js that is output by webpack during the Gatsby build process is transpiled in a way isn't compatible with the ES module config.

[2019-03-24 22:27] ChristopherBiscardi commented on #12813
Not that I know f, it should've been more restrictive from the start but the import didn't work anyway, so we weren't introducing any new bugs to existing code by merging the original PR :)

I think that for the use case of "having a child theme that exposes it's own API and the parent theme is an implementation detail", this is a feasible pattern and a nice way to handle modifying the API surface

[2019-03-24 22:38] Wolfsun commented on #12272
@eddiemf, not totally sure but I think the issue you could be having is that the types you are trying to define have already been inferred from the Wordpress data source. So in effect they are being defined twice. Using createResolvers will simply create new fields on existing types, or override existing fields(?) by the looks of things.

[2019-03-24 23:08] ChristopherBiscardi commented on #11456
It is not necessary to `rm -rf .cache` to pick up new or remove deleted files. It is only necessary to restart the `gatsby develop` process.

[2019-03-24 23:41] mcongy opened #12817 "Dynamically build pages in lambda environment"
Hello,

Sorry if this question was already answered, but I wasn't able to find any relevant info.

Let's say I have an e-shop with products. I'd like to have all pages with products properly indexed by search engines.
All product data will be taken from a database (or GraphQL/REST API).

I want to trigger gatsby build when the product-related data changes. I guess this would be perfect fit for a l

[2019-03-24 23:55] ChristopherBiscardi commented on #12227
themes accept a function gatsby-config, which can accept options to pass into any plugin's options. As such I don't think we need theme-specific support for this to work, as it would already work if the theme-author set it up to.

[code]

[2019-03-25 00:32] fk commented on #12767
I just saw that this actually was added in https://github.com/gatsbyjs/gatsby/pull/9898/files#diff-355f19a97a68170ef2cd96a7e96c3398 to

As I wrote above, I can follow that thought. Taking a look now!

[2019-03-25 00:54] jlengstorf commented on #12813
Cool. I'll take a crack at this in the next few days and see if I can figure it out. 😄

[2019-03-25 01:58] njmyers commented on #6654
@lucassilvagc can you post some outputs? I’m glad people are trying and testing the branch. Let’s get it working better so we can open the PR!

[2019-03-25 02:32] lucassilvagc commented on #6654
@njmyers Sure!

A quick overview of what's going on:

My website currently runs with ~1940 image files, maybe WordPress's fault by creating multiple image files multiple times. If I do use a vanilla _gatsby-source-wordpress_, the issue appears as intended (there's a "vanilla" build I've made yesterday evening on another build environent - which returns the same issue we're discussing on this issue

[2019-03-25 02:46] fabrice102 commented on #12776
I have the same issue if I use https://github.com/netlify-templates/gatsby-starter-netlify-cms/commit/0706a8fddfa1de1c8c41ed296af3f04b82eac7a1 (last commit of `gatsby-starter-netlify-cms` on the branch master) and do:
[code]
However, if I do not remove `yarn.lock`, everything works properly.

[2019-03-25 03:17] KyleAMathews commented on #11924
Hey, sorry we missed your question.

To answer it, there isn't right now but it's something we'd like to add. React Static does something along these lines where it identifies common data between queries and moves those into "shared" data chunks and only loads those once. We should be able to do something like this fairly cheaply with GraphQL. /cc @freiksenet @stefanprobst

[2019-03-25 03:54] SammyIsra opened #12818 "[gatsby-image] Using `fluid` images on a flexbox layout when the images should have a max width."
## Summary

`fluid` images seem to have no width or height on a flexbox display.

## Relevant information

I've tried using `fixed` images as well, but these images need to shrink when the width of the display is smaller.

A demonstration can be seen here:
https://deploy-preview-10--optimistic-goodall-a71eb1.netlify.com/photographer right under the description, there is a flexbox display of images

[2019-03-25 05:51] elibenton commented on #12102
I am having a very similar issue. Brand new to Gatsby and React. Any assistance would be appreciated!
It seems that I too may not have craeted the `src/utils/typograhy.js`, but I swear I have 🧐
[code]

[2019-03-25 06:00] sami616 commented on #12787
Thanks @stefanprobst, whats the best way for me to test? can i install this specific PR?

[2019-03-25 06:43] stefanprobst opened #12819 "Don't allow non-serializable types in node store"
Currently we allow non-serializable types like functions on nodes. Mostly this seems to be the case when plugin options in `gatsby-config` allow functions, and the plugin configuration is included in `SitePlugin` nodes. This leads to the same node being different when loaded from cache.

Although we recreate plugins on every run, the nodes will still be different depending on if they have been ser

[2019-03-25 06:52] wardpeet commented on #11123
it got merged in latest lighthouse, if you clone [lighthouse](https://github.com/GoogleChrome/lighthouse/) it's fixed but the next release of lighthouse will be in april 14th and probably will be in canary the 17th of april.

[2019-03-25 06:54] wardpeet commented on #12485
ok sweet thanks for testing it out! We hope to get the PR up and running ASAP

[2019-03-25 06:56] unixph opened #12820 "npm install -g gatsby-cli error <rollbackFailedOptional>"
Hi,

I am getting this erro when trying to install gatsby-cli. Can you please help???

-sh-4.2$ node --version
v10.15.3

-sh-4.2$ npm --version
6.4.1

-sh-4.2$ git --version
git version 1.8.3.1

-sh-4.2$ npm install -g gatsby-cli
[..................] / rollbackFailedOptional: verb npm-session 10dbb2ad593c8b68

I've tried these, but still doesn't work.
-sh-4.2$ npm config rm https-proxy
-sh-4.2$ np

[2019-03-25 07:21] #12770 closed

[2019-03-25 07:28] #12600 closed

[2019-03-25 09:02] LekoArts commented on #12792
I can't answer you of the top of my head if this would be achievable with remark but you could try to use MDX with e.g. these:

- https://github.com/microlinkhq/sdk
- https://github.com/winhtaikaung/react-tiny-link

Would be interesting to see how that would work with `gatsby-link` specifically so that you still have the SPA feel for internal links 🤔

[2019-03-25 09:02] #12787 closed

[2019-03-25 09:04] wardpeet commented on #12820
this is weird, I don't have any issue with installing gatsby on node 10.15.3. Does any other packages have the same issue?

Maybe reinstall node & npm and try again?

[2019-03-25 09:08] freiksenet commented on #12272
Lots of small fixes in `2.2.10`, including explicit Node relationships working correctly.

[2019-03-25 09:08] wardpeet commented on #12802
feel free to open a PR to fix this in google analytics plugin.

I'm going to close this as the issue got resolved but we are still open to get a PR to get this in.

[2019-03-25 09:08] #12802 closed

[2019-03-25 09:12] eddiemf commented on #12272
@Wolfsun Yeah that's exactly what I thought about it, but I feel like the docs lead you to use `createTypes` as a solution for this problem, when in fact you should use `createResolvers`.

As I've said, I think this is a super common problem when dealing with WordPress, so it would be good to have a well documented solution for this.

[2019-03-25 09:22] nikoladev commented on #8707
@jonniebigodes Thanks for all the work put in!

I think you're right in that the easiest solution would be to remove `gatsby-plugin-offline` if it's not explicitly necessary. Otherwise, fiddling with the configuration of `gatsby-plugin-offline` is also an option, but not one I have time for right now.

Thanks a lot :)

[2019-03-25 09:22] #8707 closed

[2019-03-25 09:28] wardpeet commented on #12800
Thanks for all the information! I agree with @yoavweiss on `What is your use-case for prefetching images? unsure if it's a big deal to show op placeholder images on navigation? Also won't service worker be able to save it to cache?

[2019-03-25 09:28] wardpeet commented on #12787
it's available in the latest gatsby version (2.2.10) :)

[2019-03-25 09:38] pgilad commented on #12802
Thanks! https://github.com/gatsbyjs/gatsby/pull/12826

[2019-03-25 09:41] wardpeet commented on #12818
does it work when switching `fluid={sharpPhoto.childImageSharp.fixed}` into `fluid={sharpPhoto.childImageSharp.fluid}` we use something called flex embed to make sure we keep ratio in tact

![image](https://user-images.githubusercontent.com/1120926/54909454-8c059280-4eea-11e9-9663-08143f9b5c5b.png)

padding-bottom is nan because you're using fixed instead of fluid.

[2019-03-25 09:57] wardpeet commented on #12784
We want to keep gatsby as simple as possible so we won't change our convention at this time. We suggest going for https://www.gatsbyjs.org/docs/creating-and-modifying-pages/ as stated above.

It seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to

[2019-03-25 09:57] #12784 closed

[2019-03-25 10:08] unixph commented on #12820
Oh, found out that I'm not able to connect to npm registry as my server is not able to connect the internet. Is there an offline npm repo that I can use and install this?

[2019-03-25 10:09] lucassilvagc opened #12827 "[gatsby-source-wordpress] Disable image download via route blacklist?"
At this point, I'm stuck to what's happening on issue #6654 (I'm also reporting my problems there, by the way) - and I'm thinking if it's possible to skip the image files via route blacklist (or just by leaving images off the whitelist) without creating major problems on my execution. If the answer is yes, then I'd be able to compile and check for errors in the code, while leaving the images (acco

[2019-03-25 10:15] stefanprobst commented on #12272
@eddiemf I am not super familiar with the wordpress plugin, but extending types in the `using-wordpress` example seemed to work as expected. If you are able to provide a link to your repo I could take a look what might be the issue.

Please note that we're aware that we are still very light on documentation. My guess is that the issue has to do with which types must implement the `Node` interface

[2019-03-25 10:15] wardpeet commented on #12776
is there an easy way to reproduce it? Like a demo repo or can I reproduce it with cloning our default starter and installing those 2 plugins?

[2019-03-25 10:17] wardpeet commented on #12812
@oschade is it possible to upload the git repo with your changes so we can easily reproduce it?

[2019-03-25 10:43] eddiemf commented on #12272
@stefanprobst I completely understand about being light on the documentation for now, I'm just trying to help :)

In short, a WordPress page in my app has a structure kinda like `page -> acf -> someGroupOfFields -> actualField`. In a query I would do the following as an example:
[code]

The types are automatically generated to be something like `WordPress__PAGE -> WordPress__PAGEAcf -> WordPress__

[2019-03-25 10:44] wardpeet commented on #12765
It's not possible to do it on a file based level, can I ask why you want this feature? Why won't this macro work for all files?

[2019-03-25 10:52] #8089 closed

[2019-03-25 10:55] sami616 commented on #12787
@stefanprobst @wardpeet  i have discovered the same problem seems to be affecting unions, when a field is referencing an array of multiple types i'm always getting ```null```

Should i report another bug?

[2019-03-25 10:57] freiksenet commented on #12272
@eddiemf This is interesting. Do you have an example with the "Schema must contain unique named types but contains multiple types named "Wordpress__PAGEAcfIntro"" error? Gatsby should be able to handle overriding types that are inferred, so I'm not sure why your code doesn't work.

[2019-03-25 11:09] eddiemf commented on #12272
@freiksenet I got this error when trying to solve it like this:

[code]

The `title` field was set in the CMS, but `content` was empty, so I tried the snippet above and got this unique name error.

I also thought the same about overriding types being possible because that's what the docs and the article regarding this new feature also says, so I was surprised to see it didn't work as expected.

I

[2019-03-25 11:12] freiksenet commented on #12272
@eddiemf you need to use the non-node types somewhere to override it. So `MarkdownFrontmatter` (without implements Node) needs to be used in `Markdown` node and `Wordpress__PageAcfIntro` should be used in WorpressPage. We'll add a better error, but we've made this behavior this way so that one doesn't accidentally override an inline node.

[2019-03-25 11:20] eddiemf commented on #12272
@freiksenet you mean like I did here?

I tried to create, let's say, the "whole type tree" or "type model", by setting every possible field and use them as in the example, but I got the same error (sometimes a slightly different error accusing some other type of not being unique).

Although I must admit that I had no idea what I was doing when I tried this, I was just trying every possible combina

[2019-03-25 11:25] freiksenet commented on #12272
@eddiemf Would it be possible to get the url of the wordpress site that you are using? I want to test it myself to find out what causes the error.

[2019-03-25 11:33] eddiemf commented on #12272
@freiksenet Sure, the url is https://gatsbyislove.com
I'll leave the `title` field from the intro section empty so you can check against it

[2019-03-25 11:42] freiksenet commented on #12272
@eddiemf Thanks a lot! Got the error, will investigate.

[2019-03-25 11:46] janosh commented on #12765
I usually have macros that are very specific to certain topics and hence files. In those cases, I feel it would be cleaner to define those macros directly in the file they that uses them. It's rare that they would cause problems in other files although that can happen too. For instance, sometimes you want to implement the same macro differently in different contexts. An example of that would be La

[2019-03-25 11:55] wardpeet commented on #12765
sadly we do not support it and I don't think we want to support this.

i'll let some other chime in as I'm not super familiar with md (remark).

[2019-03-25 12:04] wardpeet commented on #12820
Sadly it's really hard to have an offline npm mirror if you're never able to connect to the the internet. An options is to do your gatsby build on your local machine and ftp the public folder into your machine so no npm is needed on the server.

As stated, this is slightly tangential to Gatsby, and it seems like we’ve provided enough information to make an informed decision.

If this is not the ca

[2019-03-25 12:04] #12820 closed

[2019-03-25 12:37] pristas-peter opened #12831 "Webpack's dead code elimination cuts off global css imports in production builds"
## Description

Webpack's dead code elimination cuts off global css imports in production builds.

Create react app has a solution of setting field `sideEffects: true` to css loader like this:

[code]

### Steps to reproduce
Create started project. Add global css imports with no side effects, for example:
[code]
When you use require, everything works as expected:
[code]

[2019-03-25 12:38] alin-faur commented on #10867
I noticed the same thing after I added a new image in /image folder that is referenced in gatsby-config.js with the:
{
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `imagesSrc`,
        path: `${__dirname}/src/images/`,
      }
}

[2019-03-25 12:47] stefanprobst commented on #12787
@sami616 The PR you linked to is not merged yet, so the issue must lie somewhere else. Would you be able to open a new bug report (and if possible adjust the reproduction repo)? That would be very helpful thanks!

[2019-03-25 12:48] wardpeet commented on #12762
This is not a bug, it's intentional. When adding gatsby-source-filesystem we traverse the directories to find any files. Whenever we hit a file we mark it as created so if another gatsby-source-filesystem plugin is loaded the files will be ignored as they are already known to gatsby.

you have multiple options, the one you described by making photos be loaded first. Secondary you can use the [igno

[2019-03-25 13:10] kennedyrose commented on #12776
Yes, you can reproduce with the Gatsby starter and those 2 plugins.

[2019-03-25 13:25] orangecms commented on #12370
I am currently bootstrapping something. Any feedback is welcome. See https://github.com/orangecms/gatsby-plugin-tracking-consent :)

[2019-03-25 13:37] sami616 opened #12832 "Gatsby Schema Customization API fails with gatsby-source-contentful and union types"
## Description

The new schema API always returns null on fields that reference multiple union types in Contentful when at least one of the types is not present.

I'm not sure if this is only affecting arrays of unions or single unions too.

in this instance the ```subSections``` field is not referencing any of the ```ContentfulSubSectionSibling``` union type

### Steps to reproduce

clone: git cl

[2019-03-25 13:38] sami616 commented on #12787
no prob @stefanprobst #12832

same repo, hopefully that makes sense - shout if not!

[2019-03-25 13:56] liamfd opened #12833 "Clarification on Babel Polyfill Documentation"
## Summary
The language in the 1 -> 2 migration guide around the babel-polyfill is somewhat confusing, so I'd like to get some clarification if possible!

I originally asked this in another thread (https://github.com/gatsbyjs/gatsby/issues/7064#issuecomment-474875862), but I think it makes more sense as a standalone question.

## Relevant information

I'm confused by this because my understanding

[2019-03-25 14:07] talves commented on #12776
I will be working on this issue with @erquhart (Shawn). We should have it all stable as soon as possible. Please downgrade the `netlify-cms` version until we get a beta released to test against. We may be making changes to the plugin also and will notify here. Thanks for your patience on this.

[2019-03-25 14:27] talves commented on #12776
@bjrn you are correct, `netlify-cms-backend-fs` is in beta and those changes will not work without a proper build configuration for the es modules on `gatsby-plugin-netlify-cms`. I am working on those changes also.

[2019-03-25 14:30] jakeherp commented on #12754
Sorry, missed your previous message. Which config do you need?

[2019-03-25 14:40] supermoos commented on #8357
I'm seeing the same issue, uncommenting these lines seems to have worked for now: https://github.com/gatsbyjs/gatsby/blob/bbeae87ef12d8beebd391c3d8c8c4f584db36c67/packages/gatsby/cache-dir/production-app.js#L80-L83

[2019-03-25 14:42] speexy opened #12835 "gatsby image"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-03-25 14:42] #12835 closed

[2019-03-25 14:50] moonmeister commented on #12754
Gatsby-config.js - but I just saw you posted it above. Looks like we both missed something. I'll take a look in to morning

[2019-03-25 14:51] jakeherp commented on #12754
Great, thank you!

[2019-03-25 15:00] speexy opened #12836 "gatsby image fadeIn duration"
## Summary

Gatsby Image property fadeIn takes a numeric value instead of boolean and sets the duration of the transition to that value.

### Motivation

I am using traced svgs as placeholders. They are very pretty in themselves and are perfect if loading time is actually slow. However, when the actual images load fast, the placeholder is more irritating then helpful. The placeholder is visually s

[2019-03-25 15:11] wardpeet commented on #12832
cc @freiksenet @stefanprobst

[2019-03-25 15:18] freiksenet commented on #12272
Lol, that's the funniest error. So we accidentally uppercased the wordpress types. They should all start with `wordpress`. Instead, we kept Nodes lowercased, but uppercased inner objects. So this would have worked:

[code]

[2019-03-25 15:22] wardpeet commented on #12370
@orangecms like @DSchau mentioned GDPR is an implementation detail and is not mandatory for websites. Even if you use google analytics, tagmanagers, .... This won't live in core as we're no gdpr experts and probably never will 😛. Upgrading our plugins like analytics, gtag manager, ... to something like https://github.com/gatsbyjs/gatsby/pull/11379 might be a good thing so it can be disabled at run

[2019-03-25 15:23] cbetta commented on #9348
Still running into issues with this. It seems like nothing from `gatsby-browser-js` is actually getting loaded into the browser. Not sure what might be causing this.

[2019-03-25 15:24] wardpeet commented on #12831
could you publish a small reproduction so we can test this? We might need to upgrade our loaders to accept a sideEffect property.

[2019-03-25 15:25] bjrn commented on #12776
great to hear @talves — feel free to ping me if I can help out in any way there, be it testing or setting up examples. Using `netlify-cms-backend-fs` in dev mode is such an improvement to our workflow when building content structures

[2019-03-25 15:25] DSchau commented on #12817
@mcongy thanks for this question!

There are some complications here, and it appears that you've proposed a particularly novel solution here re: the virtual FS. One of the issues with lambda is that only `/tmp` is writable, so we _really_ like the solution to kind of patch fs in a clean way.

Would you be able to validate that that approach works in lambda? If you can validate--we'd _really_ love

[2019-03-25 15:25] #12817 closed

[2019-03-25 15:30] eddiemf commented on #12272
Awesome 😄
But now I think, at least for this specific situation, that using the resolvers can keep the code better organized since I don't need to declare these nested fields all the way up to the main one that implements `Node`.

Is it really better or am I not seeing something here?

Anyway I'll play around with different solutions and see which one fits me best.

Thanks for the great support!

[2019-03-25 15:31] freiksenet commented on #12272
@eddiemf It is fine to use `createResolvers`, but you won't get those fields in `filter` and `sort` parameters of this type's root fields.

[2019-03-25 15:36] eddiemf commented on #12272
I see, that shouldn't be a problem in most cases since `filter` and `sort` are usually made on fields that are always populated, but I'll keep that in mind. Thanks again :)

[2019-03-25 15:52] zslabs commented on #12770
That looks like it did the trick! Really appreciate you looking into this.

[2019-03-25 15:54] mcongy commented on #12817
@DSchau

What I was asking is, if Gatsby is suitable for use-cases where dynamic, mutable content (e.g products) needs to be indexed for SEO, but has to stay up-to-date when data in database changes.

You can't achieve this with SPA (sort of can, but there are limitations for SEO), and the only way to achieve this using Gatsby (that I can think of) is to use the approach I was discussing above.

I

[2019-03-25 15:59] sidharthachatterjee commented on #12782
Published in gatsby-plugin-google-tagmanager@2.0.11

Thank you @spwisner 🎉

[2019-03-25 15:59] #12782 closed

[2019-03-25 16:22] wardpeet commented on #12804
Could you create a reproduction for us so we don't have to do the heavy lifting to test and create a fix.

[2019-03-25 16:28] DSchau commented on #12817
Ah - sorry!

Then yes - your use case you provided is a perfectly reasonable workaround to the issue where you want to maximize SEO while still keeping product inventory/something dynamic up-to-date. We've oftentimes seen webhooks used for this (e.g. Shopify fires a webhook to Netlify, which triggers a re-build) but using Lambda as the trigger to deploy to S3 is a perfectly reasonable approach!

A

[2019-03-25 16:29] Brzonka commented on #12790
Thanks @jonniebigodes for reply! You are right, context is provided there. But what about using variables in `StaticQuery` like:
[code]

I have a component, let say `Layout`, which is `wrapPageElement` and wrap all of my pages and I would like to use above `StaticQuery` inside, but I can not, because `$homeId` is undefined there. Do you know reason maybe?

[2019-03-25 16:45] SammyIsra commented on #12818
That does help in that the images seen in the page inspector no longer have a width or height of 0px, and the padding-bottom is no longer NaN:
![image](https://user-images.githubusercontent.com/8962228/54937618-2241b480-4efb-11e9-83fe-dd440b9746cc.png)

However, the images still do not show, visible here:
https://deploy-preview-10--optimistic-goodall-a71eb1.netlify.com/photographer (same link as b

[2019-03-25 16:53] kayakinwunmi commented on #12744
This worked for me. `npm install --save core-js@2`

[2019-03-25 16:55] jonniebigodes commented on #12790
@Brzonka to the best of my knowledge, as of the present version/state of Gatsby, `StaticQuery`  does not allow arguments/variables. there's some work being done in that "department"(pardon the bad pun), but for what you want you would have to transform your `StaticQuery` into what known in the Gatsby ecosystem as a pagequery. More on that [here](https://www.gatsbyjs.org/docs/page-query/). And a li

[2019-03-25 17:01] lunelson commented on #3771
I got this error today in `gatsby-node`, for spelling `component` as `components`; the error really should have told me I was missing the `component` key but instead it told me my component didn't exist which had me wondering for quite a while if and how there could be some error in requiring the file:

[code]
It would be cool if the errors could check supplied key names and suggest that you might

[2019-03-25 17:11] fk commented on #12767
#12842 updates the sidebar to allow setting a title for the sidebar, as well as configure sidebar behavior, via the sidebar YAML. The PR description tries to explain all the gymnastics that we are currently doing, and doing _wrong_ :-/ — it's not 100% there yet, but I'd appreciate a first look. 🙏

[2019-03-25 17:12] ijones16 commented on #12227
Oh, I didn't realize that. Thanks @ChristopherBiscardi!

[2019-03-25 17:12] #12227 closed

[2019-03-25 17:27] #9398 closed

[2019-03-25 17:27] #11942 closed

[2019-03-25 17:39] subotkevic commented on #12537
@krismorf well, I'm not sure, but your "Simple auth" example does not work, because of that `navigate()`. Or to be correct – does not build.

[2019-03-25 17:41] VGoose commented on #12079
I think this should be fixed by updating the docs stating that the default serializer requires a slug field, rather than any change to the plugin.

[2019-03-25 17:43] DSchau commented on #12079
@VGoose we actually did that recently -> https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-feed#how-to-use

(We don't note what you need to do to use the internal serialize, just that we recommend you write your own!)

[2019-03-25 17:47] VGoose commented on #12079
@DSchau any reason to not be explicit about the requirements of the default serializer? The issue was opened because it wasn't clear.

[2019-03-25 17:59] dsebastien commented on #10890
ping. Don't let this one get forgotten please :)

[2019-03-25 18:06] shannonbux opened #12845 "Bring tutorial into alignment with style guide section regarding reducing hyperlinks"
## Summary

Bring tutorial into alignment with style guide section regarding reducing hyperlinks: https://www.gatsbyjs.org/contributing/gatsby-style-guide/#dont-make-users-think-more-than-is-necessary

All hyperlinks that aren't strictly necessary for beginners to complete the steps of the tutorial should be removed and/or moved to the bottom of the page in an "additional resources" section.

###

[2019-03-25 18:10] Videl opened #12846 "[Doc] Little warning about <Link />"
Hello!

I started coding with Gatsby recently,I just set up CI/CD on my project and I didn't understand why my path prefixes were not working. I eventually found out I imported the wrong ``Link``,  React's instead of Gatsby.

Would you guys be open to adding a little warning when Link is first introduced in the tutorial here?

https://www.gatsbyjs.org/tutorial/part-one/#linking-between-pages

Some

[2019-03-25 18:16] eagleeyejack commented on #7454
Had this problem all day today digging through various threads looking for the answer, figured out a workaround even though it's not ideal.

I converted my index.js file into a class-based component and then on componentDidUpdate I added

`
  componentDidUpdate() {
    window.scrollTo(0,0);
  }
`

It's not pretty but now behaves the expected way. I have a feeling it's something to with my styles (

[2019-03-25 18:27] docwhat commented on #12510
If I'm understanding it correctly; `createTypes()` would be used to specify part of the schema.

It would be nice if a user could just drop a `gatsby/schema.graphql` in their repository without having to monkey with the `gatsby-node.js` file.

[2019-03-25 18:33] JustFly1984 commented on #12246
I'm always keeping my projects updated. This issue happening only in conjunction with gatsby-typescript plugin. I can't create minimal reproduction, cos I have no idea where does this bug coming from. The issue persist, not stale. I can't even figure out which package is to blame, cos /Users/justfly/projects/agrarian-gatsby/public/render-page.js:100886:11 is removed after build is finished.

[2019-03-25 18:56] oschade commented on #12812
I solved the problem by placing an .eslintrc-file into the "site" directory. I had one in the root-directory, but this seems to have no effects. Thank you for your advices!

[2019-03-25 18:56] #12812 closed

[2019-03-25 19:15] fk commented on #12767
Thinking about this specific issue again — we already have https://www.gatsbyjs.org/ecosystem/ as a landing page for plugins and starters.

I guess we soon will have themes (at least ;-)) next to starters … maybe now is the right time to replace the main nav's "Plugins" with "Ecosystem"? (related: https://github.com/gatsbyjs/gatsby/pull/12622#issuecomment-475737352)

[2019-03-25 19:17] fk commented on #12767
^ Found some mockups for this from last year in https://github.com/gatsbyjs/gatsby/issues/7544#issuecomment-416998865:

<img width="1280" alt="desktop_ ecosystem" src="https://user-images.githubusercontent.com/21834/44797652-fdc56a00-abaf-11e8-96f3-59a70c15ddc0.png">

<img width="360" alt="mobile_ ecosystem" src="https://user-images.githubusercontent.com/21834/44797999-c0151100-abb0-11e8-8e57-3c72

[2019-03-25 19:18] mmafe opened #12848 "[gatsby-source-drupal] "Failed to process remote content" error on Drupal images"
## Summary

Occasionally, during our Gatsby build, right after the line `Starting to fetch data from Drupal`, we will see about 20-25 images which say `Failed to process remote content`.

In the snippet below, I've change the exact filenames, but kept spaces, dashes, filetypes so you can get a sense of the kind of files that occasionally fail.

Note that some of the files that fail to process are

[2019-03-25 20:08] #12739 closed

[2019-03-25 20:14] orangecms commented on #12370
This is a law. It *is* mandatory. If the upstream Gatsby plugin doesn't implement this detail, it cannot be used by anyone.

See https://www.welivesecurity.com/2017/03/24/gdpr-an-explainer/
TL;DR: You may not track people unless you have their explicit consent.

[2019-03-25 20:35] KyleAMathews commented on #12370
Would love to see your plugin published! It definitely sounds useful. But as others have said, we're not going to try to enforce various states' laws in our software. That's the responsibility of individuals and organizations implementing sites. The community can help out a lot as well as you're doing.

[2019-03-25 20:35] #12370 closed

[2019-03-25 20:44] DSchau commented on #2114
See: gatsbyjs/gatsby#12761 for a WIP PR @wardpeet and I worked on to use microbundle to publish our browser dependencies (e.g. gatsby-image, gatsby-link) as es and cjs bundles.

We're waiting for some upstream changes to microbundle, then we can merge those in!

[2019-03-25 20:45] #12561 closed

[2019-03-25 20:54] coreyward commented on #12848
Related: https://github.com/gatsbyjs/gatsby/issues/12280

[2019-03-25 20:55] orangecms commented on #12370
This is international law, applying to the entire universe.
I (or someone else) will need to offer replacements for all privacy-infringing plugins. Do you have suggestions for the naming? I think that `gatsby-plugin-google-analytics-privacy-preserving` or something like that would be too long and irritating. :/

[2019-03-25 20:56] donaldboulton opened #12849 "No js document or window in Gatsby"
I am learning Gatsby but most of the react components I try to build with npm modules that have anything about document or window create build errors.  Like prism.js common for anyone to use gives me the following error
`error Building static HTML failed

See our docs page on debugging HTML builds for help https://gatsby.dev/debug-html

  175 |
  176 |         highlightAll: function(async, callbac

[2019-03-25 20:56] coreyward commented on #12846
The docs pretty clearly show `Link` being imported from Gatsby. Did you have previous experience with Reach Router that led you to believe the `Link` component was coming from there, or did something on the page lead you to that conclusion?

[2019-03-25 21:00] coreyward commented on #12849
See: https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined

[2019-03-25 21:00] #12849 closed

[2019-03-25 21:01] #12680 closed

[2019-03-25 21:04] donaldboulton commented on #12849
Nice thanks for the reply, I will try that and get back to this.
Thanks
DOnald Boulton

[2019-03-25 21:07] riddla commented on #3840
@aidanayala: did you end up writing a source plugin for your Laravel API?

[2019-03-25 21:10] DSchau commented on #11076
@wardpeet has been working on implementing this into gatsby-cli (the reporter currently).

Our current approach is to just get things working in a backwards compatible way. Soon enough, we'd like to actually add some additional features (e.g. a "block" that persists with progress indicators, a block for errors, etc.) and introduce some more structure into the CLI.

We're planning to go forward wit

[2019-03-25 21:13] DSchau commented on #12769
@kentcdodds this would be super slick, and agreed, I've seen people suffer through a broken build while they iron out usages of globals in SSR environment.

Giving actionable feedback _prior_ to failing in build is key here. I've never written an eslint plugin, but this certainly seems like something that could be doable--so we'll take a look and prioritize appropriately!

Thanks for the idea!

[2019-03-25 21:13] DSchau commented on #12689
Also [see the RFC](https://github.com/gatsbyjs/rfcs/pull/35)

[2019-03-25 21:20] DSchau commented on #12692
@millette could you try with a gatsby@~2.1.0 version? The initial issue here was with the new Schema Customization API changes, so I'd be curious to see if it's still slower!

Thanks!

[2019-03-25 21:32] DSchau commented on #12744
I fixed that audit warning in gatsbyjs/gatsby#12844, btw.

You'll need to upgrade `gatsby-plugin-sharp` which bumps its version of `svgo`, which bumped _its_ version of `js-yaml`. Fun!

As I believe the original issue was _fixed_ and we've now fixed this separate issue--let's close it out.

Thanks!

[2019-03-25 21:32] #12744 closed

[2019-03-25 21:41] donaldboulton commented on #12849
Example with the below worked
`if (typeof window !== `undefined`) {
  const module = require('prismjs')
}`

Adding to gatsby-node.js as [Gatsby]https://www.gatsbyjs.org/docs/debugging-html-builds/#how-to-check-if-window-is-defined) gave me the following error
` exports.onCreateWebpackConfig = ({ stage, loaders, actions }) => {

      |                             ^
  102 |     actions.setWebpackCo

[2019-03-25 21:41] Videl commented on #12846
Just let Visual Studio Code import the first Link it could find.
As I didn't know that React had a Link also defined, I didn't notice that I had imported the wrong one.
That's where I was coming from as a beginner in React and Gatsby.

[2019-03-25 21:45] shannonbux commented on #5030
We are waiting on getting the gatsbyjs.org site working with mdx before
tackling this issue!

On Tue, Mar 12, 2019 at 10:28 AM gatsbot[bot] <notifications@github.com>
wrote:

[2019-03-25 21:45] coreyward commented on #12846
It doesn't sound like the VSCode recommendation was very helpful here, but I worry that mentioning Reach Router on the Link documentation will serve to confuse others who may not be using prefixes. Gatsby's `Link` does use Reach Router's, but that's an implementation detail and could change (it has in the past).

[2019-03-25 21:59] Videl commented on #12846
Fair enough. Must have been a beginner's mistake then

[2019-03-25 21:59] #12846 closed

[2019-03-25 22:00] millette commented on #12692
@DSchau To be clear, you want me to test  #12722 (which was merge 13 hours ago) against gatsby 2.1.0 ?

[2019-03-25 22:03] DSchau commented on #12692
@millette the central issue here was with a regression with 2.2.0.

Specifically, it seemed like the bottleneck was with Date inference.

That change was released in [gatsby@2.2.10](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANGELOG.md#2210-2019-03-25) so if we want to compare performance, we would ideally test this change:

- In the current/latest update (gatsby@2.2.10)
- In

[2019-03-25 22:09] DSchau commented on #6656
Let's re-open this--worth considering this again.

We have gatsbyjs/gatsby#10732, which may help, but worth considering if there are better approaches.

Some things I was thinking:

- Persist _separate_ parts of the redux state (and assemble on re-launch?)
    - Would need to benchmark to see how much slower this is
    - Some slowdown is acceptable (e.g. 5-10%?) if it means Gatsby is scalable to

[2019-03-25 22:57] shannonbux commented on #12767
The reason "documentation" is collapsible was to give a sense of context
since the tutorial and doc sidebars look exactly the same and the top nav
bar isn't always a clear enough indicator to people about where they are.
E.g. lots of people in tutorial usability tests try to compare the quick
start guide to the tutorial by toggling back and forth between them and
then say "wait, where am I?" becau

[2019-03-25 23:22] KyleAMathews commented on #11076
I prototyped a version (in raw code, not inside Gatsby) of how this could work:

![gatsby-cli-prototype](https://user-images.githubusercontent.com/71047/54960490-07cb0380-4f1a-11e9-84a9-7b8d36bd15cd.gif)

Code is:

[code]

[2019-03-25 23:24] KyleAMathews commented on #12689
@DSchau this is unrelated to the RFC actually — critical images are already loaded without JS. This is so non-critical images that are in the viewport start loading before the JS is active.

[2019-03-25 23:27] anthonytranDev commented on #12395
Closing Issue
---
No Simple Solution Found - problem is very complex

Approach Discussed
---
Plan was to find a way to extract listed version bumps, focusing on new `feat` include and ignoring `fix`,  and changes from the CHANGELOG, to create a **Standardised Versioning Description Markdown** doc for Gatsby namespace - similar to the one seen above.

Reason why the issue was resolved
---
Currently

[2019-03-25 23:30] #12395 closed

[2019-03-25 23:37] KyleAMathews commented on #12800
We want to prefetch images so they show up sooner :-)

When you click between pages on a Gatsby site, most of the page renders immediately but images don't as they're not discovered until the page is rendered. We want to add the ability to Gatsby to mark images as "critical" so they we can prefetch them. A good example of images loading late is this recently launched Gatsby site https://www.prima.

[2019-03-25 23:40] KyleAMathews opened #12850 "<link rel="prefetch"> _can_ interfere with loading higher priority resources so we should delay adding them"
From @yoavweiss in https://github.com/gatsbyjs/gatsby/issues/12800#issuecomment-475979360

We add prefetch elements here https://github.com/gatsbyjs/gatsby/blob/c2b322af07ca7fbf312e8b5e3fee8e8c4090fff5/packages/gatsby/cache-dir/static-entry.js#L279

We should instead insert a JSON blob into the HTML with these hrefs and add them as link elements once the page is rendered/interactive.

[2019-03-25 23:50] marcysutton commented on #9332
Reopening this one as we need to write it! @KyleAMathews you mentioned this one being higher than some others on your priority list.

[2019-03-26 01:08] chenrico commented on #7997
https://www.cairnsbeachresort.com.au/contact/
Hey guys, I ran into the same issue too with this page. I added "?no-cache=1" but still not working :(
Can anyone please take a look? Cheers.

[2019-03-26 01:26] millette commented on #12692
@DSchau Sorry in advance for the very long response, but here we go.

I've included results while also running mplayer which took some cpu. If you compare with runs without mplayer, I concluded that the 2.2 branch takes a bit more cpu (vs IO) since it was more impacted by mplayer running.

So there's a regression (540s vs 320s with mplayer; 485s vs 326s without mplayer). When 2.2 came out, the sam

[2019-03-26 01:31] DSchau commented on #12692
@millette not slow at all! Thank you for doing this--we appreciate it!

[2019-03-26 01:33] talves commented on #12776
@kennedyrose I was able to replicate what you are seeing on v2.8.0. We made a change and published it to beta.

Can you try it out for us by running `yarn add netlify-cms@beta` ? It should install `netlify-cms@2.8.1-beta.1`. Thanks for letting us know if this works or not. If so it will go out in the latest published version once we do some more testing.

[2019-03-26 01:40] millette commented on #12692
FYI, I'm not generating 60k pages, but I'm using a 60 MiB JSON file as a source. It's built with https://github.com/millette/gatsby-starter-location-github and the source data is generated with <https://github.com/millette/ghraphql>. I need to put some time into it soon since it's getting rather slow and bulky: http://dev.rollodeqc.com/en/ but that's all on me.

Thanks to all Gatsby contributors :

[2019-03-26 02:20] kylejrp commented on #12398
@sidharthachatterjee Should this issue still be marked as `status: needs reproduction`? Is there any other information I can include to help reproduce this error?

[2019-03-26 03:07] Blumed commented on #7678
@iamkratos How did you change it from v3 to v2?

[2019-03-26 03:17] Blumed commented on #7678
nm I figured it out. If anyone else is new to this plugin here:
<img width="865" alt="Screen Shot 2019-03-25 at 10 16 25 PM" src="https://user-images.githubusercontent.com/2773888/54969374-d10de100-4f4b-11e9-81e3-660b8165815b.png">

[2019-03-26 04:22] musabdullah0 commented on #12431
I'm having the same issue on my own website: http://musababdullah.surge.sh

[2019-03-26 05:06] YLD1 commented on #2137
This worked for me

thank you very much

[2019-03-26 05:09] amad-person commented on #12845
I tried compiling a list of links that could potentially be shifted in the (awesome!) tutorial. Not sure about all of them, but included for the sake of discussion 😅

### 0. Set Up Your Development Environment
(This section describes prerequisites for the rest of the tutorial, so not sure if we should remove / shift the links)

#### [Overview of core technologies](https://www.gatsbyjs.org/tutorial

[2019-03-26 05:29] moonmeister commented on #12754
@jakeherp I'm unable to reproduce this. I've read the through the logic multiple times, it seems to be correct. If you can post a repo this is happening on then maybe we can go from there. If you can't post your production repo maybe make a copy and rip out all the custom work and just leave the plugins and configs, deploy it to netlify and confirm your issue is still happening.

Otherwise I'd mak

[2019-03-26 06:03] stefanprobst commented on #6656
@DSchau Two more things to note wrt to using LokiJS as a node store: (i) this will require breaking the nodes namespace out of redux anyway or at least make it easy to swap backends there; (ii) Loki has its own persistence adapters.

[2019-03-26 06:09] fengfenger commented on #9899
reset your chrome Settings。it's ok.

[2019-03-26 06:53] maxpou commented on #12569
Hey,

I'm facing the same problem in a different context. My theme has a component that uses `useStaticQuery` hooks. My theme works fine.
But when my website want to use this hook, it's another story. I have this error (*Error: The result of this StaticQuery could not be fetched.*). If I remove the hooks, I don't have error.

I don't understand because I took inspiration from jason-theme(https://g

[2019-03-26 07:13] datakurre opened #12856 "[gatsby-source-graphql] error GraphQLIRPrinter: Need an InputObject type"
## Description

I'm using `gatsby-source-graphql` to query data from Hasura backend.

I have a query that works on GraphiQL, but causes `gatsby develop` to crash.

If I remove `order_by` from the query, it no longer causes `gatsby develop` to crash.

Example query:

[code]

### Expected result

No error.

### Actual result

Error message

[code]

### Environment

[code]

[2019-03-26 07:14] humphreybc opened #12857 "Reduce default image thumbnail sizes and add option to set srcSetBreakpoints for gatsby-remark-images"
## Problem

We are running into memory issues generating thumbnails during our build, similar to the problems described in [this issue](https://github.com/gatsbyjs/gatsby/issues/6291). We have only ~150 or so images in our project, yet ~2,500 thumbnails are being generated during the build and causing a SIGSEGV error.

## Cause

By default Gatsby generates **0.25x, 0.5x, 1x, 1.5x, 2x, and 3x** siz

[2019-03-26 08:48] jakeherp commented on #12754
I can't reproduce it in my local environment myself, yet it fails on Netlify.
Just tested it again with the same error:

[code]

Netlify support wrote:

I have done all that, still can't reproduce the same result, even when using their Docker container.

The repo for my project can be found [here](https://github.com/jakeherp/gatsby-portfolio).

Thanks again for your help!

[2019-03-26 09:12] slorber opened #12858 "[gatsby-cli] Don't create .git if project is created into existing git repo"
I'm on an existing git repo and run `gatsby new mysite`.
Generating a nested .git folder for the gatsby site was confusing me as I couldn't add the newly generated site to git which though it was a git submodule or something...

Follow-up of conversation with @KyleAMathews here https://twitter.com/kylemathews/status/1110276125345775616

[2019-03-26 10:10] diondiondion commented on #10550
@mostearly Indeed. I'm not sure if there is enough interest in this feature being made available in Markdown Remark to re-open the issue. I think it would be great if the remark plugin came with the same folder-based functionality for collections as the Yaml plugin, it would probably make life easier for a lot of people.

[2019-03-26 11:37] b0gd4n opened #12861 "[gatsby-source-wordpress] Cannot query field "localFile" on type "wordpress__wp_media""
We are trying to query acf/featured_image images from wordpress and following the `image processing` example, we are getting this error:

`Cannot query field "localFile" on type "wordpress__wp_media"`

This is the config entry:

[code]

And here is an example query that is failing:

[code]

We are currently using the `source_url` to display images hosted on wordpress:

```<img src={`${config.baseW

[2019-03-26 12:08] flaviolivolsi opened #12862 "Testing Gatsby with Cypress fails when HTTPS is on"
Hi,

I followed [this guide](https://www.gatsbyjs.org/docs/end-to-end-testing/) which works fine, but not when I try to enable the HTTPS.

I normally work with the HTTPS enabled also in my local environment, because my app is heavily depending on the Facebook APIs which now require HTTPS also locally.

The following works:

[code]

whereas this doesn't:

[code]

There is no error, when I run `yarn

[2019-03-26 12:18] flaviolivolsi commented on #12862
I solved. The issue is referenced also [here](https://github.com/bahmutov/start-server-and-test/issues/152#issuecomment-474918461) and setting the variable `START_SERVER_AND_TEST_INSECURE=1` solved it.

[2019-03-26 12:18] #12862 closed

[2019-03-26 12:23] alexandernanberg opened #12863 "Good way to handle relations?"
## Summary

I'm trying to figure out how to handle relations in a good way. I've read some other issues and the documentation but it still haven't "clicked" for me.

So I have a `index.md` file that looks like this and I want to somehow "pull" content from multiple other markdown files. In this case I use a relative path to reference the other files.

[code]

I know it works it the `featured_case`

[2019-03-26 12:27] bjrn commented on #12776
@talves @kennedyrose I did a quick check just now, and can confirm it works in my setup with `2.8.1-beta.1` 👍

The devtools console reports the following versions in use (running dev mode):

[code]

[2019-03-26 12:36] mxmkhv commented on #10482
Struggling with the same issue and after reading every possible stackoverflow question, github issue and twitter discussion, I came up with 2 solutions for my case.

**The goal:**
1. fetch data from a headless CMS (custom build of my company, returns a plain JSON)
2. use the data to fetch the images (included as URLs in the JSON)
3. create pages dynamically, each page to display it's relevant imag

[2019-03-26 12:57] tjmcewan commented on #11756
I was bitten by this also - twice.  The two side effects I noticed are:

1. page looks good in dev, but deploy to prod and find that there are no styles because I forgot the layout component.
2. want to start a page with an entirely new layout but this is impossible to develop on because another page loads `foundation.css` which applies styles globally (so the above workaround won't work).

To iso

[2019-03-26 13:39] talves commented on #12776
@bjrn Thanks for checking. I will update when the fix release is ready. Those versions are the correct ones for the fix.

[2019-03-26 14:50] #4021 closed

[2019-03-26 14:53] EliasJorgensen commented on #12674
We have now gotten Google to increase our API quota, which fixed the problem. :smile:

[2019-03-26 15:19] alanshortis opened #12868 "Line breaks ignored with remark-prismjs"
## Summary

When using the remark prismjs plugin, I am having an issue with line breaks being ignored not being rendered. This doesn't happen with every line break though, just a few.

I have published the built page here: https://gatsby-whitespace.netlify.com/

## Relevant information

You'll see that the last closing bracket on the second code block is on the same line despite there being a line

[2019-03-26 15:19] #11333 closed

[2019-03-26 15:37] EliasJorgensen commented on #12674
Unless you want to discuss the error further, feel free to close the issue.

[2019-03-26 15:52] #11168 closed

[2019-03-26 15:54] #12765 closed

[2019-03-26 16:09] wardpeet commented on #12848
Duplicate of #12280 closing in favour of that issue.

[2019-03-26 16:09] donaldboulton opened #12870 "How to load npm modules with window before other imported scripts; add to #12849"
This is continuing from #12849

Trying to load prism toolbar scripts and had to use

`if (typeof window !== `undefined`) {
  const module = require('prismjs')
}`

Because of window errors in prismjs

Would like to add
`import { Prism } from 'prismjs/plugins/toolbar/prism-toolbar.js'`

`Prism.plugins.toolbar.registerButton('hello-world', {
  text: 'Hello World!', // required.....`

But toolbar.js i

[2019-03-26 16:10] wardpeet commented on #12793
We're pretty stoked to have this. We know that there is already so much but the icon_options give us a good way to enable more options without editing the plugin.

[2019-03-26 16:12] anonimoconiglio commented on #8242
@SimonIMG
This problem happened because the template of the page was inside the "pages" folder, so in addition gatsby was generating a page with the path /page/ (look at the quote above in strong)

By removing the " ! " in String the error was not warned but was still there. I just manage to solved it moving the "page.js" template into another custom folder and then updating the path on the gatsby

[2019-03-26 16:16] millette opened #12871 "No telemetry message on first run"
Just upgraded an existing project to Gatsby 2.3.0 and there was no prompt to send or disable telemetry data.

Running with `GATSBY_TELEMETRY_DEBUG=1` shows a few Captured events.

[2019-03-26 16:21] wardpeet commented on #12379
Isn't it possible to create a redirect on develop?
[code]

[2019-03-26 16:31] wardpeet commented on #12359
we could move to https://github.com/standard-things/esm to enable esm syntax if required. No need to wait for node 11 😛

[2019-03-26 16:34] DSchau commented on #12871
@millette were you using yarn?

[Yarn has a bug](https://github.com/yarnpkg/yarn/issues/5476) where a `postinstall` script isn't invoked.

[We've fixed the issue here](https://github.com/gatsbyjs/gatsby/pull/12867) so that all users see the prompt! We've published the fix in `gatsby-telemetry`@`1.0.1` which is required by `gatsby`@`2.3.1`.

Going to close this out, but thanks for the note and sorr

[2019-03-26 16:36] wardpeet commented on #12861
I believe this issue got resolved with https://github.com/gatsbyjs/gatsby/pull/12837

I might be wrong here

cc @freiksenet @stefanprobst

[2019-03-26 16:42] b0gd4n commented on #12861
@wardpeet I've updated all plugins and tested with the same results (this has been a problem for since we started building the website - since Gatsby v1)

[2019-03-26 16:48] donaldboulton commented on #12610
Where is your netlify admin config.yml
Mine looks like this with images stored in static/img/
`backend:
  name: git-gateway
  repo: donaldboulton/publiuslogic
  branch: master
  identity_url: "https://publiuslogic.com/.netlify/identity"
  gateway_url: "https://publiuslogic.com/.netlify/git"
  squash_merges: true
  accept_roles: #optional - accepts all users if left out
    - admin
    - editor

[2019-03-26 17:05] millette commented on #12871
@DSchau Thanks for the quick response. Yes, using yarn I tried again with gatsby 2.3.1, verified it upgraded telemetry to 1.0.1 and ran `gatsby build` but there still was no mention of telemetry.

Completely unrelated but perhaps I can also have your attention on #12755.

[2019-03-26 17:27] #11761 closed

[2019-03-26 17:27] #11987 closed

[2019-03-26 17:27] #11991 closed

[2019-03-26 17:27] #11104 closed

[2019-03-26 17:27] #11977 closed

[2019-03-26 18:04] celinepark94 opened #12874 "-develop not connecting to localhost because "TypeError: receiver.on is not a function""
## Summary
`gatbsy develop` is not connecting to my localhost:8000
LocalHost says "site can't be reached, localhost refused to connect" or shows a blank page

Why is it doing this? I am new to gatsby and react in general. I'm not sure if my computer is acting up somehow or if there's an issue with gatsby or if I've just done something wrong...

Does anyone know? Thank you so much for the help :)

[2019-03-26 18:18] macklinu commented on #12398
I can also reproduce this issue with my Gatsby-powered blog. Will look into contributing a reproduction repo or a failing test today.

[2019-03-26 18:25] celinepark94 commented on #12874
just tried deploying it on netlify and it works fine...

[2019-03-26 18:40] stephen-gatsby opened #12876 "Gatsby Days NY Image"
Please update the attached image to reflect Gatsby Days NY in May. Thank you.

![image.png](https://images.zenhubusercontent.com/5c7d938156a66a2b0714cba1/1a80b781-5e7f-4cda-af01-e163fb57118a)

[2019-03-26 18:49] macklinu commented on #12398
Opened up https://github.com/gatsbyjs/gatsby/pull/12878, which is a failing test case to reproduce this issue.

[2019-03-26 18:49] mmafe commented on #12848
Thanks for quick responses @coreyward and @wardpeet!

I agree #12280 is related, however I don't think this is a duplicate issue. (i.e. From what I gather, issue #12280 appears to be questioning the logic behind showing the console warning instead of just rejecting it.)

Is it possible to re-open this issue? It's still not clear to me why images that exist on our source Drupal site are randomly re

[2019-03-26 18:57] ddnomad commented on #9918
Well, still not resolved somehow, and it's a kind of a deal breaker for me currently.

And yeah, issue persists.

[2019-03-26 19:30] daydream05 commented on #12876
Omg it's hapenning!

[2019-03-26 19:33] JustFly1984 commented on #11934
not stale!

[2019-03-26 19:40] marcysutton opened #12881 "docs: add new Gatsby Cheat Sheet"
## Summary

We have a beautiful new Gatsby Cheat Sheet that needs to be added to the docs! I think it could live under Quick Start and Recipes, as those are the most related introductory areas of the docs.

This involves:
- Creating a new page and linking it in the docs sidebar
- Embedding the two cheat sheet pages as graphics
- Providing adequate alt text: likely some visually hidden lists / tabl

[2019-03-26 19:43] marcysutton opened #12882 "New plugin: gatsby-remark-lint"
## Summary

In discussing a potential improvement to the .org site (adding a [remark lint plugin for link text](https://github.com/mapbox/remark-lint-link-text)), @pieh suggested creating a new plugin: `gatsby-remark-lint`. This would make it much easier to use [remark-lint](https://github.com/remarkjs/remark-lint) with Gatsby, including the aforementioned plugin.

This is open for member(s) of th

[2019-03-26 20:39] krismorf opened #12885 "(gatsby-cli): clean & info do not exit on completion"
### Steps to reproduce

run `gatsby clean` or `gatsby info`

### Expected result

Should exit the program after completing the task

### Actual result

[code]

### Environment

[code]

[2019-03-26 21:20] SimonIMG commented on #8242
@anonimoconiglio OK, I'll try this out on our site and see what happens.

[2019-03-26 21:26] millette commented on #12871
Also tried 2.3.1, no telemetry prompt or message. Then I noticed the new file `~/.config/gatsby/config.json` and when I removed it, I finally saw the telemetry message.

Since a few people might have installed 2.3 without seeing a message, may I suggest a `confirmed` field in `config.json` and display the message if it's not set. This way, the message will appear for those who have missed it. Feel

[2019-03-26 21:27] #12674 closed

[2019-03-26 21:31] millette commented on #12692
Time to close this issue?

[2019-03-26 21:53] JustFly1984 commented on #11830
+ 1 for network first

[2019-03-26 21:56] #12876 closed

[2019-03-26 21:58] marcysutton commented on #12881
re: InDesign: that is what I meant, so perfect! I'm happy to help with that, or you can find some docs here: https://helpx.adobe.com/indesign/using/structuring-pdfs.html

[2019-03-26 23:03] bennetthardwick commented on #12692
The changes have fixed my original issue at least. Thanks!

[2019-03-26 23:03] #12692 closed

[2019-03-26 23:04] SimonIMG commented on #8242
@anonimoconiglio you're spot on! And it so happens that I have already moved my page.js, post.js and other CPT .js files into a new, custom folder (`/src/templates` for anyone who is interested).

I've added the required `!` marker to the String and it's working perfectly.

Thank you!

[2019-03-26 23:47] daydream05 opened #12889 "Querying a ton of images and my page is loading super slow on first load. What am I doing wrong?"
## Summary
I'm trying to do something similar to the [showcase](https://www.gatsbyjs.org/showcase/) page where I only want to show the first 12, then load more later. I was able to accomplish this, however, it seems that it's still loading everything everything on the background.

After it loaded the first time, going back to the page is blazing fast.

**TLDR**: I'm querying a couple of contentful

[2019-03-26 23:47] daydream05 commented on #12889
still editing this. pressed enter accidentally :/

[2019-03-26 23:59] pieh commented on #12755
It does seem like default preset for generating our changelogs doesn't handle this correctly. My best guess is that it works for `gatsby` package because in package.json there we point to root of repo:
https://github.com/gatsbyjs/gatsby/blob/8b4d5deb1b766806ec959c061b555ff4cfa08fa4/packages/gatsby/package.json#L171-L174

And in `gatsby-image` we point to directory:
https://github.com/gatsbyjs/gats

[2019-03-27 00:09] simoneb commented on #1100
Sorry to revamp this old issue but server side authentication in Gatsby is still something that's not easy to solve, if possible at all!

I am familiar with authentication and gatsby client only routes, but that still doesn't solve the problem. Let's say that I generate the gatsby application to be hosted on AWS Cloudfront and I want the /login page alone to be accessible by unauthenticated users.

[2019-03-27 00:23] arizonatribe opened #12890 "Missing dependency for babel-plugin-remove-graphql-queries"
I'm sure `babel-plugin-remove-graphql-queries` is just intended as an internal package, but I was interested in it using it nonetheless. But when I pulled it into the Babel plugins list for my non-Gatsby project, it threw this error that seems unintended.

[code]

It's [pulling in the `gatsby/graphql` package](https://github.com/gatsbyjs/gatsby/blob/0f0feac9c7ebb1b18208bbbc584f3cddc5f31a72/package

[2019-03-27 00:28] millette commented on #12755
I searched a few times but have no idea where could help with a fix. Any pointers would be appreciated.

[2019-03-27 00:53] moonmeister commented on #12793
@wardpeet awesome. Let's make it happen.

[2019-03-27 01:14] moonmeister commented on #12754
@jakeherp Yeah, I've been try to reproduce on Netlify. 2.0.24 is where the cache busting feature got added, so this makes sense. Should have been a minor tick and not patch but oh well. I'll try with your repo and go from there.

[2019-03-27 01:15] spiritcapsule commented on #7310
Unfortunately, while the line of code in question addresses accessibility, it also causes an accessibility error. I've logged an issue at https://github.com/reach/router/issues/257.

[2019-03-27 01:22] moonmeister commented on #12754
@jakeherp https://github.com/jakeherp/gatsby-portfolio/blob/master/gatsby-config.js -- Your `gatsby-plugin-manifest` is configured twice! This means the build is probably running twice and because we're mutating variables it incorrectly names things on the second run.

[2019-03-27 01:47] daydream05 commented on #12889
I might have figured out the issue. I used the query mentioned above on the other pages and each page took forever to load.

[2019-03-27 03:02] tito300 commented on #686
I had the same problem and it was fixed by increasing the number of system watchers following these instructions:

https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details

[2019-03-27 05:07] rwieruch commented on #1100
What about having everything that should stay protected (e.g. authenticated user) still served statically as pages, but the content is loaded dynamically afterward? Everything that's behind a login shouldn't be relevant for SEO after all, so it would be fine to load the content dynamically. Then, in the case of Firebase, you could handle it the same as a client-side application with [Firebase Secu

[2019-03-27 05:42] daydream05 commented on #12889
To those who might stumble upon this in the future:

I MIGHT HAVE FOUND THE CULPRIT
`...GatsbyContentfulFixed_withWebp`

I've been using the fragments that includes the blur up effect since the beginning of time w/o really understanding how resource intensive it is.

The blur up effect uses base64 which i just learned is [30% larger](https://medium.com/snapp-mobile/dont-use-base64-encoded-images-o

[2019-03-27 05:43] #12889 closed

[2019-03-27 05:49] masiamj commented on #5734
Any updates on this? Experiencing the same issue.

[2019-03-27 07:01] grundmanise commented on #1100
I have dynamic routes in my Gatsby app too:

[code]
[code]
I also have auth status change listeners which navigate to appropriate routes on a user's auth status change.
You should not store any secrets client side. Dynamic Gatsby routes will be served to the client when he navigates to them even unauthenticated, but as @rwieruch suggested for these pages you should load data dynamically after user

[2019-03-27 07:25] nugoo1 commented on #5734
Change ur code to look like this.

height: calc(100% - #{$body_padding})

[2019-03-27 07:34] Turkyden commented on #12744
Thanks ! it's OK, Awesome !

[2019-03-27 08:09] sedubois commented on #1100
NB: loading dynamically client-side requires Javascript to work, so this approach has its own limitations (depending on your audience).

[2019-03-27 08:33] Param-Harrison opened #12892 "Hot reloading breaks when adding new packages"
## Description

When adding new packages in the new terminal, the `gatsby develop` window throw errors and don't recover back even after the package finished getting installed. Have to restart again everytime

### Steps to reproduce

- Run `yarn start`
- open new terminal and add new package - `yarn add <package>`
- the dev terminal break into error and won't recover back

### Expected result

- d

[2019-03-27 09:01] jakeherp commented on #12754
Gosh, I'm sorry for keeping you busy with that! Didn't realise that I had it in there twice.
It is in fact working now! Thanks so much for your help!

[2019-03-27 09:04] #12754 closed

[2019-03-27 09:09] moonmeister commented on #12754
@jakeherp Glad we figured it out and always happy help!

[2019-03-27 09:58] anonimoconiglio commented on #8242
@SimonIMG you're welcome, spend quite time trying to fix it yesterday, hope it will be useful to anybody with this problem :)

[2019-03-27 10:03] wardpeet commented on #12874
this is a bit weird. Do you have an edited host file or some weird firewall rules on?

you could try `gatsby develop -p 4000` to run it on another port.

[2019-03-27 10:08] wardpeet commented on #12890
Yeah, `gatsby` is available because of lerna yes. We aren't opposed to making it a peerDependency & adding it to devDependencies to be up to date with a valid package.json. You still need to have gatsby or alias the package as we're using it inside the babel transform

[2019-03-27 10:15] wardpeet commented on #12042
We should move to process.exitCode instead. I think it's a good idea to handle this inside https://github.com/gatsbyjs/rfcs/pull/31

[2019-03-27 10:20] wardpeet commented on #11934
I've added it to our roadmap because it might throw new people of which might give them the impression they have done anything wrong.

[2019-03-27 10:21] wardpeet commented on #11830
Add the option to gatsby-plugin-offline to enable network first approach.

We love if someone would take this on! 💪

[2019-03-27 10:25] wardpeet commented on #12868
Thanks for adding the reproduction steps! it would be handier if you publish a git repo we can use to validate that. Would that be possible?

[2019-03-27 10:27] wardpeet commented on #12885
Thanks for reporting! It has been fixed in https://github.com/gatsbyjs/gatsby/pull/12888. We'll publish shortly.

Thanks for understanding.

[2019-03-27 10:27] #12885 closed

[2019-03-27 10:36] wardpeet commented on #12755
thanks for checking this out @millette

@pieh will we put the changelog fork in gatsby monorepo or make a separate one?

[2019-03-27 10:41] luukdv commented on #12018
This doesn't seem to be stale. How can I add the label?

[2019-03-27 10:41] wardpeet commented on #12398
thanks a lot @macklinu

[2019-03-27 10:43] wardpeet commented on #12155
Is it possible to give us some more information what you tried and create a reproduction so we can easily test this out.

[2019-03-27 10:51] wardpeet commented on #12861
ok thanks for letting us know. I'm no wordpress expert. Mind creating a reproduction repo that we can use to get this fixed?

[2019-03-27 10:53] b0gd4n commented on #12861
@wardpeet it might be something to do with my wordpress setup (as in, the plugins needed to expose media files to the API). It would be very useful to know which plugins to use for this

[2019-03-27 11:26] #12793 closed

[2019-03-27 11:31] #12051 closed

[2019-03-27 11:33] wardpeet commented on #12793
thanks for your feedback @moonmeister it's really valuable to push back on options if necessary so keep those comments coming! :)

[2019-03-27 11:38] moonmeister commented on #12793
Thanks!

[2019-03-27 11:42] wardpeet commented on #12370
@orangecms GDPR is a complex beast and it's hard to completely understand what is mandatory and what is not. GDPR only applies to personal information. You can use google analytics freely as long as you set options like `anonymizeIp` and do not capture any user specific information.

Why not try something like `gatsby-plugin-gdpr-consent`

[2019-03-27 11:45] wardpeet commented on #2114
slow making microbundle ready for modern builds
https://github.com/developit/microbundle/pull/362/

[2019-03-27 11:51] b0gd4n commented on #2511
any update on this?

[2019-03-27 11:51] b0gd4n commented on #1660
any update on this?

[2019-03-27 12:13] baobabKoodaa commented on #12155
@wardpeet Here is more information about various things I tried: https://github.com/gatsbyjs/gatsby/issues/12092

[2019-03-27 12:24] ludovicmnji commented on #8996
@pieh I have the same issue with `gatsby-source-contentful@2.0.44` for each content I add in Contentful. I need to remove cache each time...

[2019-03-27 12:35] wardpeet commented on #12776
@talves anything we have to do, or do you got this? 💪

[2019-03-27 12:45] wardpeet commented on #12892
@Param-Harrison could you explain what error you get?

[2019-03-27 13:16] Khaledgarbaya commented on #8996
@ludovicmnji as the comment say before this is fixed in `gatsby-source-contentful@2.0.5` & `gatsby: "^2.0.19` please make sure to install the latest version

[2019-03-27 13:22] ludovicmnji commented on #8996
@Khaledgarbaya I confirm you I reproduce the issue with `gatsby-source-contentful@2.0.44` and `gatsby@2.1.31`

[2019-03-27 13:24] #12327 closed

[2019-03-27 13:47] lannonbr opened #12895 "Integrate Site Showcase validator into workflow"
## Summary

Gatsby's Site Showcase now has almost 500 sites that are being promoted as Gatsby sites. With that, it would be a good idea to occasionally check that these sites are still using Gatsby with some sort of validator.

Last week I created a simple proof-of-concept node script that would do this: http://github.com/lannonbr/gatsby-site-showcase-validator. It isn't perfect but is a good star

[2019-03-27 13:50] Khaledgarbaya commented on #8996
@ludovicmnji you missed the `gatsby-source-contentful@2.0.5`

[2019-03-27 13:51] sarneeh commented on #1100
Yeah! I think that would work. The only downside here is that you lose the speed of a static site but as you've already mentioned: SEO is not relevant on the private pages so you don't have to be instant for web crawlers.

[2019-03-27 14:04] talves commented on #12776
@wardpeet should be all good. the proposed release of `netlify-cms` will take care of this error based on tests. Improvements will eventually go into gatsby-plugin-netlify-cms, but those are still being decided on for a bundle with react as external dependencies.

[2019-03-27 14:06] ludovicmnji commented on #8996
Sorry I misunderstood your previous message 😥

I tested with gatsby-source-contentful@2.0.5 and it works ! So the problem is probably came back.

[2019-03-27 14:14] thomasnordlund commented on #9210
Following up on a similar question. Would it be possible to use Gatsby to generate bundle files (js, css, etc) that could then be loaded on a page that's part of a larger site and have the js app bootstrap itself?

[2019-03-27 14:47] subotkevic commented on #5329
Having the same problem.

I've mapped all the paths to run as client-side:
[code]

And having simple:
[code]

When accessing `/login` temporary shows Home component.

[2019-03-27 15:50] baobabKoodaa commented on #12080
Still experiencing this issue.

Steps to reproduce:

1. Checkout branch temp384 of [this repo](https://github.com/baobabKoodaa/blog/tree/temp384)
2. `npm i gatsby-plugin-sharp@2.0.32`
3. Create `.env` file with content `POSTS_FOLDER=posts`
4. Clear cache and public, build and serve
5. Open the page in browser with network tools on, copy the path of the loaded mailbox image
6. Click the mailbox ima

[2019-03-27 16:07] re1 commented on #12649
I am running into a similar issue with a local docker instance based on https://docs.docker.com/compose/wordpress/. [localhost:8080/wp-json/](http://localhost:8080/wp-json/) cannot be found while [localhost:8080/?rest_route=/](http://localhost:8080/?rest_route=/) works fine.

Changing the permalink settings did not help either.

[2019-03-27 16:07] aprather51 opened #12897 "Two StaticQueries into one map array"
The goal, Combine two  StaticQueries hooks from separate files into single ES6 array `map()`. Start with two queries hooks

Query hooks #1: **useTeamImg,js**
[code]
... Query hooks #2:  **useUrls.js**
[code]
FYI: fetching data of urls from data.json for useUrls hooks
[code]
The source is set up using  `gatsby-source-filesystem` inside **_gatsby-config.js_** and translate json following `gatsby-tra

[2019-03-27 16:53] robinmetral commented on #12649
@re1 feel free to reopen this issue if you'd like, even though it was solved for me I still think that supporting non-pretty permalinks would be a good thing :slightly_smiling_face:

[2019-03-27 17:01] slorber commented on #4645
I submitted a PR to enable a workaround here: https://github.com/gatsbyjs/gatsby/pull/12898

[2019-03-27 17:17] re1 commented on #12649
Thank you for the fast response :+1:  It seems like I do not have permission to re-open your issue.

This is especially true as `?rest_route=` seems to be the more robust solution anyway. The WordPress Developer Handbook even states that

[2019-03-27 17:19] robinmetral commented on #12649
Reopening :+1:

[2019-03-27 17:27] #11887 closed

[2019-03-27 17:27] #11967 closed

[2019-03-27 17:34] marcneander commented on #11364
Spooky quiet indeed. But not ready to be closed

[2019-03-27 17:48] djnorrisdev commented on #3771
I received this error by having the wrong file path to a component in my gatsby-node.js exports.createPages function. Just posting for additional items to look at if someone has this error.

[2019-03-27 18:02] tobiasandersen opened #12901 "Assigning to process.env results in "Uncaught SyntaxError: Unexpected token .""
## Description
If I do this (anywhere):

[code]

It gets compiled to:

[code]

Which isn't legal, so it throws the following error:

[code]

Note: this is not how I'm actually using it (it's a [dependency](https://github.com/isaacs/pseudomap/blob/master/map.js) that's doing it), so I'm not looking for alternative solutions.

### Steps to reproduce

Start a clean Gatsby project, and add a line wher

[2019-03-27 18:10] antoinerousseau commented on #12280
Not stale!

[2019-03-27 18:42] ryandrew14 commented on #12357
Not too sure how to remove the stale issue, but I submitted a PR #12873 yesterday, could somebody take a look?

[2019-03-27 19:44] ashley commented on #12890
Hey, I was wondering if I can take this issue up as my first `good first issue`? 😃

[2019-03-27 20:03] arizonatribe commented on #12890
Actually nevermind. It looks like [someone fixed it](https://github.com/arizonatribe/gatsby/commit/5a4c60c30ea7e0e35fae6eb9eab142062bbf0618) already and it got merged in several minutes ago.

[2019-03-27 20:04] arizonatribe commented on #12890
Was 8+ minutes to clone Gatsby, so had some time to kill and found it, lol.

[2019-03-27 20:04] #12890 closed

[2019-03-27 20:06] ivanoats commented on #4337
I would like this to stay open as it looks like it’s waiting on review

[2019-03-27 20:17] mayaarguelles commented on #12858
can i work on this?

[2019-03-27 20:17] DSchau commented on #12858
@mayaarguelles that'd be great, thanks!

[2019-03-27 20:46] ashley commented on #11963
Hey, can I work on this? 😄

[2019-03-27 21:07] dg1234uk commented on #12741
Looks like this has been fixed as of gatsby-plugin-sharp@2.0.32. Its dependency versions are:

[code]

Therefore I believe this issue can be closed.

[2019-03-27 21:07] #12741 closed

[2019-03-27 22:30] marcysutton opened #12903 "Docs: new page on Working With Video"
## Summary

As part of improving the docs for common Gatsby workflows, one gap I noticed in the [Images and Files](https://www.gatsbyjs.org/docs/images-and-files/) documentation is around working with video (and audio?).

There is a new stub file coming that will include a few video suggestions, however, it should be filled out more with additional tips on video best practices in Gatsby sites (esp

[2019-03-27 22:44] janosh commented on #12903
Definitely mention [gatsby-remark-embed-video](https://www.gatsbyjs.org/packages/gatsby-remark-embed-video/?=gatsby-remark-embed-video).

[2019-03-27 23:49] simoneb commented on #1100
If I'm using gatsby to build a side whose content is exclusively protected, except for the login pages, and there is no solution to protect it except for loading data dynamically using client only routes, which would hence be used to serve the entire application, why would you use gatsby in the first place then? It's just a normal React application, isn't it. Instead, I would like gatsby to be abl

[2019-03-27 23:52] talves commented on #12776
Here is the PR (https://github.com/netlify/netlify-cms/pull/2252) for the new proposed build of NetlifyCMS that would be supporting the single instance of react (as peer) for the `gatsby-plugin-netlify-cms` .

@wardpeet the library in that PR is what would be used by us Gatsby users who want to use the plugin for netlify cms. We should be releasing that as a beta tomorrow for testing. Just keeping

[2019-03-28 00:32] violy commented on #12702
Ok, so, here is my PR !
thank you.

[2019-03-28 00:48] marcysutton commented on #3346
I see there was work done here last year and the issue was closed without a clear resolution, so I wanted to give it another try now that I'm going through key Gatsby workflows. I'm writing a starter doc for video in #12903, and I feel we should restart this discussion to determine a best practice for working with videos in Gatsby.

There is a package for [gatsby-remark-embed-video](https://www.ga

[2019-03-28 00:56] violy commented on #12702
I've forget to run `yarn lint` before my PR !

[2019-03-28 01:06] donaldboulton commented on #12339
Markdown has many different variables that are different from kramdown to marked to others.
Kramdown is built in Ruby or I would have already made a plugin to have full markdown processing, but with Ruby I get kind of lost and do not want to take the time to convert.
I Gatsby claims you can use markdown then what kind of Markdown needs to specified.
As it stands Gatsby's ability to use Markdown in

[2019-03-28 02:02] marcysutton commented on #9018
@dakebl that sounds great to me! If you're still interested in working on this, we'd love to have your contribution.

[2019-03-28 02:34] rakeshpai commented on #12744
For posterity, at least part of my issue was that I was hoisting gatsby's node_modules and package.json to fit in the way I had organised my monorepo. Gatsby really doesn't like this kind of hoisting. I've had to reorg parts of my repo (!) so that I don't mess with the Gatsby pieces and my issue seems to be gone.

[2019-03-28 02:35] MWalid commented on #6654
Having the same issue with 400+ custom posts with acf fields and 4000 image.

[2019-03-28 02:52] GlynL commented on #8205
Just ran into the same mistake. Shouldn't this be something that produces an error in development?

[2019-03-28 03:21] MWalid commented on #6654
I updated got and was able to build with 35 minutes

[2019-03-28 04:58] Mike-Dax commented on #3346
@marcysutton I've published my two packages to npm and updated the readmes with the ffmpeg installation requirements, should make it way easier for new users. I'm not sure of the install procedures of ffmpeg on other OS's, if I get my hands on a windows / nix box I'll have a crack at it and update the readmes.

gatsby-remark-embed-video is for embedding pre-hosted videos, such as those from YouTub

[2019-03-28 06:14] amclin commented on #6949
This issue happens when there's a GraphQL query that requests a field which is not in the Contentful API responses. Usually it's because of a reference field in Contentful being left empty.

The real problem here IMHO is that the error from Gatsby is completely useless in identifying what query failed.

[2019-03-28 06:48] wardpeet commented on #12890
you should clone with --depth=1 than it shouldn't take so long 👍

[2019-03-28 06:49] wardpeet commented on #4337
I'm not sure it's not stale, I made a fix and hoping to get feedback for it
https://github.com/gatsbyjs/gatsby/issues/4337#issuecomment-470075540

If no one responds I think it's a good idea to close this one as it is probably resolved.

[2019-03-28 07:33] vojtechruz commented on #12792
Thanks for the reply. I wonder, if it is not possible to use graphql in remark transformer plugins could it still be a viable option to pass in all the frontmatter data directly as an input and just use existing plugins to do the work - eg. remark image for the thumbnail, something for the links etc.?

[2019-03-28 07:56] alfredvaa opened #12908 "Some css classes missing from build output"
## Description

I noticed that the css differs between the `gatsby develop` and `gatsby build`. Almost everything is similar on both but some css classes are missing from the build css. It seems that if a class is only used in an unusual way it is not included when building gatsby.

Classes that are missing from the build output are those referenced like this:

[code]

and also the `styles` in CSS

[2019-03-28 08:00] alfredvaa commented on #12908
A hotfix I found for now is to add a div below the `CSSTransition` which has all the classes of the `styles`-variable.

[code]

this will include all transition classes in the build output which will make the CSSTransition work in the production build.

[2019-03-28 08:15] pascal-kubrick commented on #10339
Please keep this open

On 27 Mar 2019, 18:27 +0100, gatsbot[bot] <notifications@github.com>, wrote:

[2019-03-28 08:53] wardpeet commented on #11963
@ashley yes! please 😄

[2019-03-28 10:24] jessepinho commented on #8301
Anecdotally, I've been seeing this issue arise when using a larger `maxWidth` with a fluid image (per @kepi0809 's point). But that's also not consistent, so I can't be sure that's the issue.

[2019-03-28 10:27] PolGuixe commented on #2923
@KyleAMathews what should be the size the `public` folder? I know it depends on the site, resources used, etc. but we have a quite simple site with some images that once build -clean build in CI/CD- the `public` folder goes up to 450MB. All that is due to the `static` folder which contains the different versions of the images. Is it normal? have you seen sites this big?

Is there a way to reduce t

[2019-03-28 12:05] rubeonline commented on #12379
Hi thanks for your answer. It is 100% what I need but I just testet is and i´m getting first a 404 before the redirect starts. So it does not render my page. Looks like this issue: #5329

[2019-03-28 12:07] rubeonline commented on #12379
Closed by mistake so reopend again.

[2019-03-28 12:20] #12702 closed

[2019-03-28 13:18] frinyvonnick commented on #8805
Here is the list of plugins that seems not using `createContentDigest` as suggested @amberleyromo :

- [ ] [gatsby-source-hacker-news](https://github.com/gatsbyjs/gatsby/blob/eeef674e03c6e9fbdda0fea4821914a1861584fa/packages/gatsby-source-hacker-news/src/gatsby-node.js)
- [ ] [gatsby-transformer-excel](https://github.com/gatsbyjs/gatsby/blob/95c1eac260007a145e7c306bfb672a1e1e67c39c/packages/gatsby

[2019-03-28 13:36] pawelotto opened #12912 "gatsby-plugin-sitemap NoURLProtocolError: Protocol is required"
While building the site with gatsby-plugin-sitemap I get the
```NoURLProtocolError: Protocol is required```
error.

Why?

[2019-03-28 14:09] wardpeet commented on #12912
Could you give us some more information about your configuration and maybe just push your code online so we can have a look at it?

Please look at https://github.com/gatsbyjs/gatsby/blob/master/.github/ISSUE_TEMPLATE/bug_report.md to tell us more about this issue.

[2019-03-28 14:09] mostearly opened #12913 "Is it possible to modify the frontmatter field in onCreateNode for a certain purpose?"
I tried to modify the `frontmatter` field obtained in `onCreateNode` in the `gatsby-node.js` code. The code was correctly output to graphql and it reached my expected result.

I don't know what the downside of this behavior is. What kind of harm will this lead to?

[2019-03-28 14:12] wardpeet commented on #12379
@rubeonline would it be ok to close this one as your issue got resolved but now you're hitting #5329?

[2019-03-28 14:19] wardpeet commented on #8805
@frinyvonnick feel free to already start on them ;) no need to wait for validation

[2019-03-28 14:21] wardpeet commented on #8301
Seems like a duplicate of https://github.com/gatsbyjs/gatsby/issues/12552?

[2019-03-28 14:29] bryancuster commented on #4337
@wardpeet is it possible with that plugin to conditionally disable client side routing?

[2019-03-28 14:30] wardpeet commented on #12901
For more information on process.env vars in gatsby can be found at https://www.gatsbyjs.org/docs/environment-variables/#client-side-javascript. To make this work for you you'll have to prefix it with `GATSBY_` so `process.env.GATSBY_MY_VARIABLE = 'test'`

[2019-03-28 14:40] rubeonline commented on #12379
@wardpeet Yes for sure. Thanks.

[2019-03-28 14:40] #12379 closed

[2019-03-28 15:00] zslabs opened #12915 "gatsby-source-twitter Collections?"
## Summary

I'm trying to decide if I'll need to write my own Netlify function, or if [gatsby-source-twitter](https://www.gatsbyjs.org/packages/gatsby-source-twitter/) has what I need. Instead of a standard `q`, I'm looking to pull in a curated list of tweets; also called a [collection](https://developer.twitter.com/en/docs/tweets/curate-a-collection/api-reference/get-collections-entries). I was a

[2019-03-28 15:10] #12390 closed

[2019-03-28 15:14] tobiasandersen commented on #12901
I'm not the one assigning to `process.env` — it's a dependency deep down the tree. I'm not even dependant on the variable being set, but since it gets transpiled to illegal code I can't use it.

[2019-03-28 15:25] DSchau commented on #12552
This looks very similar to #8301, so let's continue the discussion there.

Thanks everyone!

[2019-03-28 15:25] #12552 closed

[2019-03-28 15:26] ethagnawl commented on #4337
@wardpeet IIRC, your proposed fix is the first step in the process of (maybe, eventually) getting this feature added as a Gatsby config option. So, that _sort of_ makes it out of band as far as this issue and Gatsby are concerned, but I might make the argument that this issue should remain open in order to continue that conversation.

[2019-03-28 15:38] nephlin7 opened #12916 "[gatsby-transformer-json] Images into array from source json"
## Summary
I get data from json file with "gatsby-transformer-json" plugin, my problem is with relative path images into array like this:

[code]

Graphql Query result:

[code]

Images into array not process like file field

how can i get  relative path images?

### File contents (if changed)

`gatsby-config.js`:

[code]

`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-s

[2019-03-28 16:05] jonniebigodes commented on #12897
@aprather51 I've picked up on your issue and i believe i have a solution for you.

Here are the steps i took to get it working, going to to breakdown into smaller steps:

- Created a new Gatsby site with the hello hello world to keep it simple.
- Added the the appropriate dependencies to match yours.
- Grabbed some images from a old folder with wallpapers i have laying around and moved them to `sr

[2019-03-28 16:22] arizonatribe commented on #12890
Oh, thanks for the tip!

[2019-03-28 17:25] igorpupkinable commented on #9674
I am struggling to add `@babel/plugin-proposal-export-default-from` plugin to Gatsby. Having `.babelrc` file with list of `plugins` in the root with `babel-preset-gatsby` installed makes no difference.

[2019-03-28 17:30] DSchau commented on #9674
@igorpupkinable I actually [have an example here](https://github.com/DSchau/gatsby-export-default-from/blob/master/gatsby-node.js)

[2019-03-28 17:38] igorpupkinable commented on #7589
It does not work for `plugins`. You can override `target`, but setting `plugins` has no effect.

[2019-03-28 17:38] sami616 commented on #12832
Hi folks. No pressure but just wondering when this might be looked at? Want to manage expectations accordingly 👍🏻

[2019-03-28 17:38] DSchau commented on #7589
@igorpupkinable would you be able to reproduce that and open a separate issue?

We'd prefer you didn't reply to multiple issues with similar feedback if you're able--opening a new one lets us focus on the issue, at hand!

[2019-03-28 18:16] thebigredgeek opened #12918 "Some log output comes out of the wrong file descriptor"
## Description

On the Gatsby Cloud team, we've noticed that we sometimes see error log output come out of `stdout` and regular log output come out of `stderr`.  This results in the wrong colors being displayed to the end user in the Gatsby Cloud product.  This includes, but not limited to, promises resolving with non-errors and doesn't seem to be coming exclusively from plugin code.

### Steps to

[2019-03-28 18:21] thebigredgeek opened #12919 "Expose API to programmatically set plugin configuration options at runtime"
## Summary

In Gatsby Cloud Preview, users currently have to modify their Contentful Source Plugin configuration in order to complete onboarding.  This adds a massive hurdle for our users to jump over in order to complete onboarding.  If there was a way for Cloud code to call a set of methods and set configuration values for plugins at run time, we could extract the above values from Contentful's

[2019-03-28 18:22] thebigredgeek commented on #12919
Whoever ends up tackling this will want to talk to @rase- and @abhiaiyer91 about this to nail down a contract before implementing

[2019-03-28 18:37] freiksenet commented on #12832
@sami616 Thank you for the report. Could you try if it works for you with this #12816? I'll take a look at the core issue tomorrow morning.

[2019-03-28 18:38] jlengstorf commented on #12569
@maxpou do you have the code somewhere we can poke at? I’m pretty sure this got patched, but I could be wrong. @ChristopherBiscardi didn't we get static queries working in themes, or am I doing magic somehow?

[2019-03-28 18:45] DSchau commented on #12569
@maxpou the algorithm for this is [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/query-runner/query-compiler.js#L271). If you're using your theme in gatsby-config.js it should make its way into the query compiler and be extracted.

If at all possible, as @jlengstorf mentioned, a [reproduction](https://gatsby.dev/reproduction) would be super helpful!

[2019-03-28 19:11] zslabs commented on #10549
Verification if md to yml is supported, or if I'm way off with my mappings would be appreciated.

[2019-03-28 19:23] MantasMikal commented on #10090
Hi,
Any news on this?

[2019-03-28 19:40] alexjsdev opened #12921 "gatsby-plugin-google-tagmanager misspelled default 'dataLayer'"
## Description

For the gatsby-plugin-google-tagmanager this PR/release: #12783, has introduced a bug where by default the 'dataLayer' was being set as 'datalayer' (all lower case). Which means that by default this will not work with GTM. This PR just updates to use the correct form dataLayer.

### Steps to reproduce

Install the latest gatsby-plugin-google-tagmanager package and in your code try

[2019-03-28 20:07] KyleAMathews commented on #2923
It's 100% site dependent. You can run something like `du -f public/` in your terminal to see what's taking the space.

[2019-03-28 20:08] doolittle opened #12922 "Gatsby collects personal usage data by default"
## Description

Developer usage tracking should be opt-in, not opt-out.

#12758 adds on-by-default usage tracking to Gatsby. Any developer that updates his or her build is enrolled in tracking without further action.

The CLI *does* notify the developer with an easily overlooked note:

<img width="663" alt="Screenshot 2019-03-28 12 39 46" src="https://user-images.githubusercontent.com/212941/55187

[2019-03-28 20:32] DSchau opened #12923 "[feat]: make analytics notice more obvious"
## Description

Surfaced in #12922, it seems apparent that the telemetry notice--while helpful--can easily be overlooked as a wall of text from other logging draws more attention.

To remediate, I propose we make the telemetry notice more obvious so that users are aware of the opt-out nature and that we are beginning to track on telemetry data.

_Note: curious about this telemetry data? Check out

[2019-03-28 20:40] DSchau commented on #12922
Hi Brad!

Thanks for opening this--we appreciate you taking the time to do so!

This feature was discussed for a few weeks in the [RFC](https://github.com/gatsbyjs/rfcs/pull/33). Everyone can see how we've implemented it in [this PR](https://github.com/gatsbyjs/gatsby/pull/12867) if interested.

That being said--let me address your specific comments and ideas. There's definitely areas we can learn

[2019-03-28 20:40] #12922 closed

[2019-03-28 20:43] KyleAMathews commented on #12923
Just came here to suggest boxen too :-)

[2019-03-28 20:45] DSchau commented on #12923
@KyleAMathews when we roll out the Ink functionality (cc @wardpeet) there's even an [Ink component, too](https://github.com/sindresorhus/ink-box).

[2019-03-28 20:49] zslabs opened #12924 "Proxying lambda requests with gatsby serve"
## Description

`developMiddleware` is lost in CLI `serve` command for Netlify Lambda functions.

### Steps to reproduce

Using `netlify-lambda` and the following rewrite for local access within `gatsby-config.js`, requests are getting through just fine when developing ([from the tutorial](https://www.gatsbyjs.org/docs/api-proxy/)):

[code]

However, when I want to use `gatsby serve`, even when at

[2019-03-28 21:10] ewalpole commented on #12897
Thanks for this @jonniebigodes, I had been looking for an example of how to do this all day yesterday. Just used it to match up people listed in a json file with their images in a directory.

[2019-03-28 21:14] jonniebigodes commented on #12897
@ewalpole no problem glad that my reproduction could be of help.

[2019-03-28 21:25] sami616 commented on #12832
@freiksenet nice! #12816 seems to handle missing references and fields great.

[2019-03-28 21:31] zslabs commented on #12924
Was thinking that I might be able to use `serve.json` if https://github.com/zeit/serve was being used, but having trouble locating what the serve command is actually running; plus `serve-handler` doesn't support absolute URLs for the different port 😢

[2019-03-28 21:33] TuckerWhitehouse commented on #4337
@wardpeet the original issue was about disabling client side routing for *specific routes*, @ethagnawl brought up the use case of disabling routing for an entire site which is what I believe your plugin addresses.

[2019-03-28 21:35] zpthree commented on #12818
Any solutions to this? I'm having the same problem.

[2019-03-28 21:38] doolittle commented on #12922
While VSCode also has opt-out, rather than opt-in, data collection, their notification persists until the user clicks out of it. While that is not opt-out, it at least requires deliberate action.

VSCode and Homebrew are also software installed by deliberate, individual action (VSCode by download, Homebrew by curl script) whereas Gatsby, distributed via npm, can be installed (or updated) without d

[2019-03-28 21:53] bchehraz opened #12926 "typography.js doesn't work as intended on Gatsby Default Starter"
## Description

On a brand new Gatsby Default Starter project, when following the GatsbyJS documentation on Typography.js ([here](https://www.gatsbyjs.org/docs/typography-js/)), no theme or API usage from typography.js seems to work unless I remove the layout.css import statement inside of layout.js. I have a feeling that this isn't the intended usage, since no where in the documentation does it s

[2019-03-28 23:07] pieh commented on #8301
I opened https://github.com/gatsbyjs/gatsby/pull/12927 PR that hopefully fixes that. Because of random nature of this errors I can't be 100% sure on this

[2019-03-28 23:08] pieh commented on #12552
I opened https://github.com/gatsbyjs/gatsby/pull/12927 PR that hopefully fixes that. Because of random nature of this errors I can't be 100% sure on this

[2019-03-28 23:11] anantoghosh commented on #12908
This looks like an issue caused by [`gatsby-plugin-purgecss`](https://github.com/anantoghosh/gatsby-plugin-purgecss).
There are various ways documented on how to deal with this in the readme or if you do not need the plugin, just remove it.

[2019-03-28 23:21] KyleAMathews commented on #12926
Does the typography.js CSS get added to the <head>?

[2019-03-28 23:40] bchehraz commented on #12926
I'm not sure if you finished your comment entirely. The only styling changes that seem to take place upon adding in a theme is the links ('a' tag) styles, depending on whether that theme changes link styling. Specifically, it seems to be changing the color of the links. Other than that, I am seeing no _real_ changes unless I remove the import statement.

[2019-03-28 23:40] Powell-v2 commented on #12427
Guys, just a note:

In a (function-based) component, hooks should be called only at the top level. [Doc ref](https://reactjs.org/docs/hooks-rules.html#only-call-hooks-at-the-top-level)

[2019-03-28 23:49] Powell-v2 commented on #12427
@PatrickLambert1101 you'd need to adjust the hook itself. Defining default values in the outside scope and using them as default state should do the trick:
[code]

[2019-03-29 00:45] amykapernick commented on #10347
Is someone able to re-open this, there's definitely still activity and this has been tagged as confirmed

[2019-03-29 00:47] KyleAMathews commented on #12926
My point I guess is this is expected — Typography.js is adding all its CSS — it's just getting overridden. There's an argument here that we shouldn't have a default css file like this as it does make the default starter harder to modify. /cc @gatsbyjs/core @gatsbyjs/ecosystem

[2019-03-29 01:16] KyleAMathews commented on #8122
Done!

[2019-03-29 01:36] polarathene commented on #12818
Well, for one you're wrapping the images in an anchor tag element, and making them inline-block. I can't recall specifics but just using a block instead of inline-block appears to fix the issue. Presumably because width/height isn't defined for the inline-block(anchor tag), so if it's width is 0px, then 100% of that for any elements within(the gatsby image), that's correct?, alternatively specify

[2019-03-29 01:45] dja commented on #12364
@DSchau Hey! I saw on your proposals site that you don't have trailing slashes at all - Was there something custom that you did to do that? Are you on Netlify?

[2019-03-29 02:48] jonniebigodes commented on #12916
@nephlin7 i've picked up on your issue and i think i have a solution for you.
Based on the information you provided, i'm going to break it into 2 approaches that you can use for your case.
- Created a new Gatsby website based on the hello world started to keep it simple.
- Added the necessary dependencies, namely `gatsby-image`, `gatsby-plugin-sharp`, `gatsby-source-filesystem`, `gatsby-transforme

[2019-03-29 03:00] spwisner commented on #12921
Closing because issued has been resolved and pull request has been merged.

[2019-03-29 03:00] #12921 closed

[2019-03-29 03:15] jasonxia23 commented on #12744
@lushijie Not work for me.

[code]

[2019-03-29 03:45] spwisner commented on #12818
The solution that worked for me was wrapping each anchor tag in a div which is assigned a width of 100%:  Then, flexbox is applied to the div instead of the anchor tag:

[code]

[2019-03-29 04:29] KyleAMathews commented on #5499
To test this, we could create a site with e.g. 1000 and 10000 markdown files and see how sourcing files compare with this watcher vs. our existing watcher in gatsby-source-filesystem.

[2019-03-29 04:57] muescha commented on #12897
Your `value` variable hast this elements:

[code]

There is no `value.edges...` where you will do a `.map` on it

[2019-03-29 05:02] muescha commented on #12897
If you like to map it 1:1 you can also have a dictonary:

[code]

`urls[item.node.name]`

[2019-03-29 05:40] shansmith01 opened #12932 "Issues getting client/dynamic routes working"
I am having some fun trying to get a react app (todo app) that uses firebase auth and real time DB to work inside gatsby. But I am running into an issue trying to get dynamic/client only routes to work.

My client only routes are 404ing

My workflow is this: When a user logs in they should be redirected to a client only path which is /app/:appId (where appID is the firebase user ID. For example it

[2019-03-29 05:47] pawelotto commented on #12912
I've discovered that this error only occurs when I use a custom query and when I have no `siteUrl` defined in the `siteMetadata`. I've been using `siteRoot` instead of `siteUrl` and when I add the `siteUrl` everything works OK.

[2019-03-29 05:55] wodCZ commented on #12413
Please mention this in the documentation. I've spent too much time finding this info.

In my use case, I use localstorage to persist user's selection on previous page (or in previous session) and change the className based on that. Pretty similar to how Author's original component.

Maybe a quick mention here: https://www.gatsbyjs.org/docs/debugging-html-builds/ ?

[2019-03-29 06:19] Param-Harrison commented on #12892
@wardpeet Here you go, this is the error. Its related to cache for typography.js
[code]

[2019-03-29 07:12] freiksenet commented on #12832
@sami616 The core issue is that even with the created types, we currently rely on the inferred data to attach resolvers. When there is only one type, Gatsby can't yet know that this should be a union, so no resolver is added. I'm working on fixing it right now, plus in future sources with introspection (like contentful) will do this automatically. In the mean time, you could attach a manual resolv

[2019-03-29 07:12] Stanko commented on #12413
I agree, even if it is gatsby anti-pattern, it should be mentioned.

For now, (components that are not important for SEO) we are not rendering on server at all, by using this high order component:

[code]

[2019-03-29 07:46] sami616 commented on #12832
Thanks @freiksenet - i just ran a small test and attached 2 out of 3 possible content types onto a field (instead of one like in my example) and it still failed - should gatsby at this point not know this should be a union?

ps - thank you for the example, attaching a manual resolver does seem  to work

[2019-03-29 09:09] freiksenet commented on #12832
@sami616 the way it works is that it combines all the types present inside the ___NODE reference, meaning it will get a union of two types, not three types. It only updates resolvers if type names match and they won't between two and three union type.

This problem is one of the reasons the schema customization in the first place - inference works very badly for sources that already have introspec

[2019-03-29 09:14] Restuta commented on #9815
I have faced the same issue today :(

[2019-03-29 09:14] sami616 commented on #12832
@freiksenet ah, okay i get it -  awesome - well, very much looking forward to the fix! thanks again! 👍

[2019-03-29 09:15] Steffi3rd opened #12935 "Accessing directly to a client-only route redirects wrong."
## 🐛 Bug Report
Hello guys,

I created some client-only routes like this one : https://v2.edgebase.com/account/settings

I have this code in `gatsby-node.js`

[code]

and this code in `page-account.js`

[code]

**This code works perfectly on `localhost`**

**But on production**, when I access to https://v2.edgebase.com/account/settings
via a : `navigate(/account/settings)`  or `<Link to="/account/

[2019-03-29 09:18] Restuta commented on #12355
This is very confusing issue, I faced the same one and it was not obvious at all to use componentDidMount for that :(

[2019-03-29 09:26] tsriram commented on #12882
I'll give this a go :pray:

[2019-03-29 09:41] andru commented on #12382
I'd like to keep this open. It's a feature I'd be interested to contribute a PR to when I've got some time for it.

[2019-03-29 09:52] slorber opened #12937 "page creator: can't override default options of gatsby"
Gatsby 2.3.4 (latest) here, using the "ignore" option recently added to page creator plugin. see also https://github.com/gatsbyjs/gatsby/pull/11304

It seems this plugin is "added" to the existing gatsby default one. I'd expect this config replace the default gatsby one as it's using the exact same path.

The usecase is that I'd like to keep a /pages folder, but ignore the components being in /com

[2019-03-29 10:10] stoltzrobin opened #12938 "Large amount of locales/data enabled in contentful case "JavaScript heap out of memory""
## Summary
Enable the user to filter out unnecessary locales from Contentful.

### Basic example
[code]

By passing a filter function we can limit the amount of nodes created in graphQL.

### Motivation

In our case we have over 50 locales in Contentful and over 2500 entries (this numbers are increasing every week as well). This create a lot of nodes in the Contentful plugin, which case the JS VM

[2019-03-29 10:21] sarneeh commented on #1100
Gatsby is a static-site generator built on the basis of the [JAM Stack](https://jamstack.org/) architecture. It gives you the J (Javascript) and M (Markup). Any server-side logic is based on your A (API). Gatsby is not a server-side framework and does not provide you any options to build server-side logic. That's not how JAMStacks work.

And if you don't know why would you use Gatsby if it doesn't

[2019-03-29 10:26] simoneb commented on #1100
@sarneeh ego check please.

I know quite well what Gatsby provides and I'm well aware that it doesn't provide any server side authorization logic, which I mentioned explicitly I am carrying out using AWS lambda@edge. What I'm pointing out is that Gatsby doesn't make is easy, or even possible, to protect certain parts of the application because generated assets paths are not deterministic. This lea

[2019-03-29 10:44] igorpupkinable commented on #9674
@DSchau thank you. This worked!

[2019-03-29 11:58] sarneeh commented on #1100
@simoneb Sorry, didn't mean to be rude.

If your app is exclusively private then there are still a few cool benefits you could get from Gatsby. Check out [this blog post](https://www.gatsbyjs.org/blog/2018-11-07-gatsby-for-apps/) about Gatsby for Apps. If these features aren't super important to you then yes, probably there's no purpose to use Gatsby in your use case.

Additionally, I guess that G

[2019-03-29 12:03] tsriram commented on #12882
Okay, I started with this but not sure if I'm doing it right. Should `gatsby-remark-lint` only install `remark-lint` as a dependency and users can install other presets & plugins for `remark-lint` that can be passed as options to this plugin?

So once user has installed `gatsby-remark-lint`, installed any of its plugins they can add it as a plugin to `gatsby-transformer-remark` which should take c

[2019-03-29 12:23] pieh commented on #1100
@simoneb If gatsby would generate asset manifest on builds detailing what assets are used for given urls/pathnames - would that help? Or do you need to statically define those protected routes for your setup?

I.e.
[code]

We are also working on changing how page queries are generated and loaded, which actually will be deterministic ( https://github.com/gatsbyjs/gatsby/issues/11982 ). So page resu

[2019-03-29 12:25] M1k13 opened #12940 "Cant get markdown files displayed"
## Summary
Hey, I'm trying to display all the markdown files on a webpage in a nice structured folder/file tree. The markdown files are like documentation/manuals for the users. Machine A has gatsby on it and Machine B has the Gitolite on it with the  markdown files. When i use Graphql I can see the data/information of the files and  that is jjust what I want.

So I didn't get any errors while bui

[2019-03-29 13:14] Powell-v2 commented on #11645
I can tackle this one if still relevant.

By the way, what about nested links? Say, I have a blogpost at `/blog/my-article/` - currently, the warning is triggered and calling it out as _external_ is kinda confusing since the page is generated by the Gatsby engine.

[2019-03-29 13:49] wardpeet commented on #12901
Sadly there is nothing we can do about it as it's bad practice to edit process.env variables inside a web applications. The problem isn't gatsby related but it's Webpack's DefinePlugin so sadly I'm not able to help you any further but to look for another npm package.

[2019-03-29 13:52] arcticicestudio commented on #11645
@Powell-v2 I'm back home this weekend so there might be some time to finally finish this, but feel free to go for it if you like to. Also I've got no problem with nested paths. Have you made sure to use the `to` prop for the `Link` component and not the `href` prop?

[2019-03-29 14:04] tobiasandersen commented on #12901
Alright thanks, no problem! I've already replaced the package in question, was mostly curious why it behaved like this. I'll close it out, thanks for your answers!

[2019-03-29 14:04] #12901 closed

[2019-03-29 14:05] DSchau commented on #12364
@dja nothing custom--all Netlify!

Source code is [here](https://github.com/dschau/cfps), although it's all based on a theme [here](https://github.com/DSchau/gatsby-themes/tree/master/themes/blog)

[2019-03-29 14:11] wardpeet commented on #12912
Oh yeah siteUrl is mandatory. It's probably a good idea to throw an error when this happens instead of showing a weird error.

[2019-03-29 14:14] simoneb commented on #1100
@sarneeh, it's alright, no worries.

Hi @pieh, to answer your question let me take a slightly longer route. The scenario is very simple.

The app is totally static and I would benefit a lot from it being static, hence using Gatsby.
The app is also completely private except for the login page, which unauthenticated users need to be able to access in order to authenticate.
I'm hosting it on AWS and

[2019-03-29 14:24] pieh commented on #1100
Those links aren't exactly addressing non deterministic asset locations - this is side-effect of approach we are trying, so not really discoverable when searching for that.

Also the issue/PR I linked to is only related to query results. JS chunks will be unchanged - this is separate thing.

This is long project, so if you are interested in hacky way - this is doable right now to read some interna

[2019-03-29 14:26] simoneb commented on #1100
@pieh , that's useful, thanks. How shall we track this feature request then? Either a manifest or co-located assets would be really great to have.

[2019-03-29 14:45] wardpeet commented on #12938
Thanks for filling an issue and fixing it yourself! 💪 that's just bonkers!

Could you provide a bit more info about where it fails exactly? Just making sure it's not a known issue with saving redux state as we have an issue open for sites with lots of pages.

https://github.com/gatsbyjs/gatsby/issues/12343

Would be handy if it's the same issue that you can comment in that thread as well.

[2019-03-29 14:48] wardpeet commented on #12937
That's the downside of `gatsby-plugin-page-creator` it's used to give users the option to easily mark other directories as pages directories.

It's not made to use on the default directory, sadly we will not fix this or enable this feature. Renaming your directory is the best solution at this time. You could always go for `src/app/pages` if you really want to keep the directory name 😛

[2019-03-29 15:09] zslabs commented on #12924
I was able to get things working by not using `gatsby serve` at all and implementing [light-server](https://www.npmjs.com/package/light-server) with the following config in a `light-server.json` file:

[code]

With the following modifications to my `package.json` file:

[code]

But would love to know if there's a built-in way that I can handle this without the additional dep.

[2019-03-29 15:26] Jsalvat opened #12943 "BackgroundImage strange behaviour. Same template, black image."
## Description

Strange behavior in BackgroundImage when pass new data to the same template
### Steps to reproduce

Template for 2 pages. First load it loads fine, but after we click on button to load new data on same template, BackgroundImage loads the image for 0.5 sec and then goes to black.

### Expected result

It should load all data and change the BackgroundImage for the new one.

### Actua

[2019-03-29 15:40] isaac-martin opened #12944 "docs(gatsby-source-contentful) : Update rendering RichText"
[This is the documentation in reference](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/README.md)

I am parsing some Rich Text from contentful.
Using `gatsby-source-contentful` and `@contentful/rich-text-react-renderer`

However I don't think the docs are correct.
I have had to do the below, which works as I would expect. From what I see there is no way to access

[2019-03-29 15:51] ezenko commented on #9950
@phonoman
If you still have a problem, try to disable
imageapi_optimize_pipeline--imageapi_optimize_pipeline
in jsonapi

[2019-03-29 16:15] amlcodes opened #12945 "createPages based on query response"
in gatsby-node, I am querying airtable. I want to also query my appsync api to see if my airtable data is in the database.

here is my gatsby-node that creates all the pages in the airtable. Like I said, before createPage is ran, I would like to run a query and then a post / mutation if the airtable data is not in the appsync response.

[code]

[2019-03-29 16:36] gormed commented on #9779
@justinformentin any progress on this? i wonder if there are some other resources on this topic? We wanted to create a dynamic navigation from Markdown Metadata and would stick to the common practice.

[2019-03-29 16:37] nephlin7 commented on #12916
Wow, thanks a lot for your time @jonniebigodes .

I resolve problem with ur first example.

I put item images gallery inside root **/static** folder to access them and works fine.

### Component file

[code]

### Graphql Query

[code]

I will treat your second example when I make an improvement of the site and I will tell you how it was.

Thanks again.

[2019-03-29 16:40] thibautRe commented on #12938
I can provide more info (Robin and I work together, and he's on holiday as of now <sup>I'm super jealous btw! :D</sup> so he might not be able to answer until he's back).

The errors we started to experience randomly are memory issues (not speed), and would lead to our JS runtime running out of memory and throwing a wonderful C++ error. Using `--max-old-space-size` was helping us for local develop

[2019-03-29 16:48] jonniebigodes commented on #12916
@nephlin7 no need to thank, it was no trouble at all. Glad i could be of assistance. And glad you worked it out. I'm going to close this. Should any other issues arise, feel free to open a new one.

[2019-03-29 16:48] #12916 closed

[2019-03-29 17:27] #12006 closed

[2019-03-29 17:27] #12019 closed

[2019-03-29 17:27] #12028 closed

[2019-03-29 17:27] #12052 closed

[2019-03-29 17:27] #12063 closed

[2019-03-29 17:27] #12064 closed

[2019-03-29 17:32] ryandrew14 commented on #12912
I will go dig into this over the weekend!

[2019-03-29 17:50] aprather51 commented on #12897
Hello, @jonniebigodes we bump again, `.filter()` solves pretty much everything.  You are amazing!  The picture become more clearer after learned about `name` value which is new to me. I dug into **localhost:8000/__graphiql** docs explorer and discover more thing to play around. Thank you for taking your time breaking this down with clear explaination.

On other issues, but related. Sorting map of

[2019-03-29 18:12] #12881 closed

[2019-03-29 18:22] celinepark94 commented on #12874
ended up deleting cache and npm and reinstalling everything and it seems like its working now

[2019-03-29 18:22] #12874 closed

[2019-03-29 18:30] talves commented on #12776
`netlify-cms@2.9.0` (latest) is now available. This should resolve this issue. Please ping me if any issues.

@bjrn working on a PR for the plugin with a new (different) peer dependency, so then you will be able to use the new `netlify-cms-backend-fs`. It will probably be a major version upgrade of 'gatsby-plugin-netlify-cms`, since the peer dep changes.

Thanks for the patience everyone.

[2019-03-29 18:40] heldrida commented on #2897
@mddanishyusuf the issue above was related to directory and filenames. You need to test your build in a Linux VM, to see that the problems are related to case insensitivity in your original file system!

[2019-03-29 20:14] rafaellincoln commented on #9465
Add this on `gatsby-node,js`

[code]

[2019-03-29 20:16] Powell-v2 commented on #11645
Yep, I’m pretty sure I’m using `to` prop.

[2019-03-29 21:03] robphoenix opened #12947 "Using Gatsby Image site uses Lorem Ipsum placeholder text"
## Summary

I noticed the site at https://using-gatsby-image.gatsbyjs.org/ currently uses Lorem Ipsum placeholder text, is there plans to update this to explanations of the different features of gatsby image? If so, is there any direction for what would make a useful PR to replace the current text?

[2019-03-29 21:07] marcysutton commented on #12503
Something else I just noticed: the new Contributing section isn't indexed either. Do we need to add something to the Algolia search config @DSchau ?

[2019-03-29 21:09] arcanis opened #12948 "The files within `.cache` and `public` should see their dependencies pre-resolved"
## Description

The files within the `.cache` and `public` folders (here `public/render-page.js`) contain the bare, unresolved, imports. This causes issues under PnP (because as far as the loader goes the public files belong to the project rather than Gatsby), but also in general (depending on the hoisting, the wrong dependencies will be loaded).

The resolution should instead be pre-resolved, at

[2019-03-29 21:34] KyleAMathews opened #12951 "Collect & analyze examples of CLI apps"
Particularly for software that's similar to Gatsby.

For each, try out installing and creating a project and write up what the experience is like and take screenshots of different workflows.

- [x] [Vue CLI](https://cli.vuejs.org/)
- [x] [Create React App](https://github.com/facebook/create-react-app)
- [x] react-static
- [x] Next.js
- [x] Expo
- [x] Parcel
- [x] Ruby on Rails
- [x] [Phoenix Frame

[2019-03-29 21:59] baobabKoodaa opened #12952 "Bug: development data keeps leaking into production"
I have a blog which has posts. Posts can be either drafts for publishable. I want to render draft posts in development mode, but I don't want to render them in production mode. Every now and then I've had weird issues where I see draft posts in a production build, but so far I've always been able to fix it by deleting cache and public folders. Now **I'm seeing draft posts live on Netlify build, an

[2019-03-29 22:11] baobabKoodaa commented on #12952
I will repost later when I get a better reproduction.

[2019-03-29 22:11] #12952 closed

[2019-03-29 22:15] shannonbux commented on #12951
Vue CLI
Things I noticed that seem nice:
- When a process is done, the command line interface anchors its position at the relevant info. For example, when localhost:8000 was ready, the text saying "Done!" + the link got anchored at the top.
- The default vs. manually selecting options was easy to use
- Lots of people say they love the `vue ui` idea - it's a graphical interface

Cons:
- Repeated ty

[2019-03-29 22:22] KyleAMathews commented on #12951
## Phoenix Framework

Based on Elixir which is based on Erlang

### Installation
Has a bunch of dependencies to install — Elixir & Postgres — homebrew handled these easily

<img width="938" alt="Screenshot 2019-03-29 14 38 07" src="https://user-images.githubusercontent.com/71047/55265511-e463c980-5235-11e9-89eb-b4aa83984e2c.png">

Then had to install `hex` which is a Elixir or Phoenix package mana

[2019-03-29 22:30] KyleAMathews commented on #12951
## Ruby on Rails

Played with the hosted RoR on repl.it for 5 minutes https://repl.it/languages/rails

## Develop
Really verbose output for each handled request

<img width="565" alt="Screenshot 2019-03-29 15 25 30" src="https://user-images.githubusercontent.com/71047/55265878-630d3680-5237-11e9-99b6-8cea33180a02.png">

Fun initial screen

<img width="772" alt="Screenshot 2019-03-29 15 24 42" src=

[2019-03-29 22:35] KyleAMathews commented on #12951
## Django

https://repl.it/languages/django

### Develop

#### output
<img width="565" alt="Screenshot 2019-03-29 15 25 30" src="https://user-images.githubusercontent.com/71047/55265988-eaf34080-5237-11e9-9bb3-34fa6598b2ba.png">
<img width="525" alt="Screenshot 2019-03-29 15 32 40" src="https://user-images.githubusercontent.com/71047/55265990-ecbd0400-5237-11e9-9ebc-233a87b584e4.png">

- Doesn't h

[2019-03-29 22:39] jonniebigodes commented on #12897
@aprather51 no need to thank, just glad i could be of assistance and help you solve your original issue.
Regarding your related issue.
Me, personally and from my background i lean towards having all of the data a priori and leave React to render to render it/show it. With that i'm more inclined to have a graphql query executed in `gatsby-node.js` and pass down the data through the use of `pageCont

[2019-03-29 22:55] VGoose commented on #11851
So I did some digging, and you *can* set aspect ratio with fluid.  It's not explicitly stated in the docs but if you set both maxWidth and maxHeight, it will respect the ratio.

When both options are set, the `width` of each image is set to `maxWidth` * breakpoint factor (size).
And the `height` is set to `width` * `maxHeight/maxWidth`.

[code]

Should we update the docs to explicitly state this?

[2019-03-29 22:56] faddah commented on #9899
found this about it with the polyfill webextension. See - https://github.com/mozilla/webextension-polyfill/issues/130

[2019-03-29 22:58] KyleAMathews opened #12953 "Use https://zeit.co/blog/ncc to compile gatsby-cli to a single file for faster installs & startups"
We want our CLI to be as fast as possible to install and bootup since we expect people to run it all the time. Compiling the package with [ncc](https://zeit.co/blog/ncc) could help a lot with that.

[2019-03-29 23:09] KyleAMathews commented on #12951
## Parcel

### Install global cli
<details>
<summary>Pretty good except for noise from NPM from installing binaries</summary>
<img width="1440" alt="Screenshot 2019-03-29 15 56 48" src="https://user-images.githubusercontent.com/71047/55266948-c77ec480-523c-11e9-81cb-dbd2696175f9.png">
</details>

### Development

Use html as entry point. No fancy way to start projects. Has a basic html file in REA

[2019-03-29 23:17] shannonbux commented on #12951
# Create-react-app

## Install
<details>
  <summary>Click here to expand!</summary>
- Installation was really fast = 27.63 seconds
- Not sure why I need to see a readout of the entire list of dependencies. Was super long (screenshot doesn't show them all)
<img width="1275" alt="Screen Shot 2019-03-29 at 4 14 42 PM" src="https://user-images.githubusercontent.com/32467162/55267202-19741a00-523e-11e9

[2019-03-29 23:31] KyleAMathews commented on #12951
## Next.js

### Install
<details>
<summary>
Oddly they assume that you've already setup a node project (but don't tell you this) as they're first instruction is to install next/react/react-dom — wonder how often that bites people.

No postinstall message
</summary>
<img width="1116" alt="Screenshot 2019-03-29 16 20 39" src="https://user-images.githubusercontent.com/71047/55267310-aa4af580-523e-11e

[2019-03-29 23:48] TemporalAgent7 commented on #12566
FWIW, I ended up uploading and fetching the other JSON at runtime, which reduced the query step duration 100x (from 12 minutes to 7 seconds); it looks like mapping joins (in particular self-referencing joins) are terrible performance-wise.

[2019-03-30 00:03] polarathene commented on #12953
Would porting the CLI to something like Rust also work? The source doesn't look too big, but then I see quite a bit of dependencies in the package.json.

With Rust you should be able to support each platform/OS that `gatsby-cli` does, and get a very small binary executable out of it. They have great tooling for making CLI tools among the other benefits of Rust.

Downside is, it's another language

[2019-03-30 00:06] aprather51 commented on #12897
Excellent! With every conceived details, this now solve my issues!

[2019-03-30 00:06] #12897 closed

[2019-03-30 00:13] missmatsuko commented on #11851
@VGoose Will that only work if the source image is larger than the maxWidth and maxHeight?
I thought that maxWidth and maxHeight was meant to set an upper bounds on the image dimensions. If it's being used to set the aspect ratio... that seems like unexpected behaviour actually.

[2019-03-30 00:17] shannonbux commented on #12951
# React-static

## Install
<details>
  <summary>Nothing noteworthy here</summary>
<img width="573" alt="Screen Shot 2019-03-29 at 5 06 54 PM" src="https://user-images.githubusercontent.com/32467162/55268356-344a8c80-5246-11e9-976d-9a90b3e3028c.png">
</details>

## CLI Help
<details>
  <summary>Seemed fairly standard, came up at end of installation process</summary>

</details>

## Create new proje

[2019-03-30 00:32] VGoose commented on #11851
It works when maxWidth and/or maxHeight is larger than the source size, too.

maxWidth & maxHeight sets the default src break points:
[code]

And the upper bound is actually set by the actual image dimensions.
[code]

The current parameter names are definitely misleading.

[2019-03-30 00:46] missmatsuko commented on #11851
Hmm... I'm wondering if there's a situation where someone might actually want the behaviour I thought setting both maxHeight and maxWidth did...

[2019-03-30 01:09] KyleAMathews commented on #12953
Moving to rust would be a lot of work :-)

ncc is a much smaller task.

Also this is just for the cli package, not the main gatsby package.

[2019-03-30 01:27] dallanlee commented on #9357
I get the same error and warnings as @ooloth locally and with Netlify deploy. I've tried changing the Google Font `<link>` to request only 'Open+Sans' without any additional weights and it got rid of the error and one warning. It still didn't work but it's definitely behaving differently. Went trying to use fonts Montserrat or Playfair Display, the error and warning come back.

I'm hoping someone

[2019-03-30 02:02] VGoose commented on #11851
`maxWidth` and `maxHeight` does influence the `size` attribute of the <img> tag if `sizes` is not specified (not mentioned in the docs as a parameter).

[code]

This tells the browser for screen sizes beyond `presetationWidth`, use the src set image closest to `presentationWidth`.

I'm not sure if browsers respects this, though.  For example if your `presentationWidth` is 400px, and there's an 800

[2019-03-30 07:18] calpa commented on #12396
@m-allanson @lannonbr Any update?

[2019-03-30 07:27] KyleAMathews commented on #12396
We definitely want to do this but no updates yet.

[2019-03-30 07:28] sbezludny commented on #12944
Hi @isaac-martin,
`json` field returns the full rich text document. I've tried to reproduce the described behaviour but it works for me https://codesandbox.io/s/5x2ym34k7n

Could you provide the exact versions of `gatsby` and `gatsby-source-contentful` you're using.

Please let me know if I am missing something.

[2019-03-30 12:32] erichgoldman opened #12955 "Consistent use of Promise or aysnc/await in related docs for creating page from graphql"
## Summary

Inconsistent use of Promise vs async/await in GraphQL examples in documentation

### Basic example

In [Part 7 of the tutorial](https://github.com/gatsbyjs/gatsby/blob/master/docs/tutorial/part-seven/index.md) Promises are used e.g.,

[code]

However, when you visit the docs for [Programmatically create pages from data](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/programma

[2019-03-30 12:35] erichgoldman commented on #12955
Another page to be synced: https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/creating-and-modifying-pages.md

[2019-03-30 13:12] erichgoldman opened #12956 "How to build a source of data from multiple GraphQL queries"
## Summary

I would like to pull data from the GitHub GraphQL. I need to issue multiple similar queries, but then would like to combine them into one data source. The list of queries should also be dynamic.

For example the simple query would be:

[code]
However, both the alias name and value for `login:` would be variable.

[code]

In terms of creating the list I would ideally like to just have a

[2019-03-30 13:18] lankydan opened #12957 "Multiple feeds and base query do not work together"
I am trying to create multiple rss feeds for my site. To do so I am passing multiple feed objects into the `feed` array.

The base `query` is not being merged into the second feed. Removing the second will allow the build to complete. Adding it will fail with the error:
[code]
Showing that it does not have the data from the base `query`.

Below is the code I am using:
[code]
I can get around this

[2019-03-30 14:14] isaac-martin commented on #12944
Yeah - looks like i had made a mistake in my function, was only passing down the content. Apologies!

[2019-03-30 14:14] #12944 closed

[2019-03-30 17:27] #8237 closed

[2019-03-30 17:27] #11957 closed

[2019-03-30 17:27] #12021 closed

[2019-03-30 18:22] trufa opened #12958 "How do I add headers to individual requests (Authenticate) to a graphql endpoint."
I have made my own graphql server/endpoint using prisma and prisma client.

I have used the [source graphql plugin](https://www.gatsbyjs.org/packages/gatsby-source-graphql/) and managed to successfully query the server with this configuration:

[code]

This allows me to successfully execute queries like:

[code]

But this is a per api header, and I need it to be per user.

The graphql api I built

[2019-03-30 18:45] wiziple commented on #3853
Hey guys, it's been almost a year 😅

I recently released new gatsby plugin [gatsby-plugin-intl](https://github.com/wiziple/gatsby-plugin-intl)  that easily makes your gatsby website as an internationalization framework out of the box.

DEMO: https://gatsby-starter-default-intl.netlify.com

- Out of box internationalization-framework powered by `react-intl`

- Support automatic redirection based on

[2019-03-30 19:13] tremby commented on #11851
This is something I've found is missing in the past too.

@missmatsuko

If I understand you correctly, then absolutely.

Say my design is to have a grid of squares. It's elastic. There might be different numbers of columns depending on the viewport width, and the squares may be different sizes depending on the viewport width. That means that "fluid" is what we want, if I understand all the options

[2019-03-30 22:30] AlchemyUnited commented on #5997
Is this now the recommended way to do this?

 https://next.gatsbyjs.org/docs/creating-global-styles/

Because this looks like gatsby-browser.js is still the way to go

https://www.gatsbyjs.org/tutorial/part-two/#using-global-styles

[2019-03-31 00:31] OllieJT opened #12959 "Queries work on refresh but break when navigating via Link"
## Description

I'm not sure if this is a bug or my limited knowledge so I'm posting this as a question first. createPages & Queries work on page load, but not when navigating to them from Links.

I'm not sure if my queries are supposed to be static, but as I understand, I can't pass the context into them.

**Example**:
 - Load homepage with no issues.
 - Navigate to detail view and receive a quer

[2019-03-31 02:53] bozdoz commented on #12045
Here was the implementation of src/layouts/index.js in v1 (not using PageRenderer component):

[code]

I'm unfamiliar with how gatsby worked in v1.  Looks as though the DefaultLayout component accepts a function as children, and then passes props and location.  This is obviously why it doesn't glitch in v1: the children function renders the exact same tree and does not re-render.

Here's how it wo

[2019-03-31 02:57] LandonSchropp commented on #2424
@m-allanson It looks like this issue was closed in #4490, but I'm having a ton of trouble tracking down how to use it. I didn't see anything in the [Gatsby Config](https://www.gatsbyjs.org/docs/gatsby-config/) documentation, and the PR is a bit difficult to follow. Would it be possible to provide a simple example?

Thanks!

[2019-03-31 03:05] bozdoz commented on #12045
Hmmm. Looks like this sums it up quite nicely: https://github.com/gatsbyjs/gatsby/pull/940#issuecomment-300878300

[2019-03-31 04:33] tgy3300 opened #12961 "gatsby serve 出现端口被占用问题，能不能改gatsby serve 的端口号呀"
F:\gatsby-site>gatsby serve
error UNHANDLED EXCEPTION
  Error: listen EADDRINUSE 127.0.0.1:9000

[2019-03-31 05:14] tessereth opened #12964 "[gatsby-plugin-offline] Service worker does not update on route change"
## Description

As described in the [this documentation](https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#updates), service workers only update on navigation, which in the world of an SPA means only on page refresh. This causes the site to continue to show the old content until the user refreshes or visits an un-cached page. If you add something like the following t

[2019-03-31 05:38] MWalid commented on #6654
Unable to build again after I updated `got`

[2019-03-31 08:58] AAverin opened #12967 "[gatsby-plugin-google-gtag] Analytics isn't working"
## Summary

## Relevant information

With the default setting of gatsby-plugin-google-gtag, analytics doesn't seem to work at all.
No active users or custom events are being tracked.
I tested on production, also tried putting script into header

### Environment (if relevant)
System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R) Core(TM) i7-7920HQ CPU @ 3.10GHz
    Shell: 5.3 - /bin/zsh

[2019-03-31 09:04] AAverin commented on #12967
Problem was in `optimize_id: "OPT_CONTAINER_ID",`
Why is it in default documentation?

[2019-03-31 09:04] inlet commented on #12856
Related to #11710

@freiksenet can you please give an update on this? Thanks in advance!

[2019-03-31 15:20] VGoose opened #12972 "gatsby-plugin-sharp fluid maxWidth maxHeight misleading"
## Description

- maxWidth and maxHeight will control aspect ratio/cropping if both are provided but this isn't documented
- sizes is an option for `fluid` but not documented
- not clear that by default maxWidth or maxHeight is used to determine the source break points - leads to poorly optimized breakpoints if maxWidth or maxHeight is close to or over original size.
- when cropped, placeholders r

[2019-03-31 15:27] VGoose commented on #11851
I made a bug for this #12972

@missmatsuko there's a way to get the behavior you want.  You have to overwrite the width and height of the img created by `gatsby-image` Img .

[code]

This will get the browser to respect the `sizes` attribute i.e your maxHeight/maxWidth.

[2019-03-31 16:57] missmatsuko commented on #12972
I think that using `maxWidth` and `maxHeight` to set aspect ratio shouldn't be documented, but rather the behaviour changed and crop or cover open added to address both the situations in https://github.com/gatsbyjs/gatsby/issues/11851#issuecomment-478279744

[2019-03-31 17:03] tremby commented on #12972
I think you might be misunderstanding the `sizes` attribute. It's expected and desirable that some of the assets Gatsby produces are larger than the `maxWidth` and `maxHeight` parameters.

With those width and height parameters you're supposed to be expressing the largest width and height you're going to display the image at, *in CSS pixels*.

But your browser will choose a source image to make us

[2019-03-31 17:10] tremby commented on #12972
My suggestion would be to add an option for cropping behaviour: cover or contain (and possibly further options for cover, to control how the cropping happens), and for now to set the default to cover, since it sounds like that's the current behaviour.

At the next major version bump, that default can change to contain, which I'd argue is the expected behaviour.

[2019-03-31 17:27] #5255 closed

[2019-03-31 17:27] #11990 closed

[2019-03-31 17:27] #12148 closed

[2019-03-31 17:45] Jsalvat commented on #12943
Still having this issue, anyone experienced something like this?

[2019-03-31 17:54] tremby commented on #11851
@VGoose I don't think there's any issue with the `sizes` attribute. As long as it has any width descriptors at all, `sizes` does not control how large an image will appear on screen, only which image file from the `srcset` is loaded.

There may or may not be an issue with the default width and height applied to the img element, but I don't think that's really the point. The developer will absolute

[2019-03-31 18:03] RichardBronosky commented on #10328
This ticket and https://github.com/gatsbyjs/gatsby/pull/10366/commits and https://github.com/gatsbyjs/gatsby/projects/2 are still the top Google hits. Can we please add links to the real documentation to this ticket and any others discussing it? I still can't find it.

[2019-03-31 19:27] jonathancary commented on #12610
Thanks @jonniebigodes that helped solve the issue!

[2019-03-31 19:27] #12610 closed

[2019-03-31 20:05] jonniebigodes commented on #12945
@amlcodes i've picked up on your issue and i think i have a solution for you. I diverted a bit i used a local graphql server, but the same principle should apply. Below are the steps i took to try to solve your issue based on the information at hand.
- Added a new table on airtable, to keep it simple i emulated a blog.
 So with that, my columns are title,slug,author,PostMarkdown,date,published
- A

[2019-03-31 20:27] jonniebigodes commented on #12610
@jonathancary no need to thank. Glad i could be of assistance. And you managed to solve your issue

[2019-03-31 20:47] harrysolovay commented on #12359
@wardpeet I like that solution––esm is a great project. Could you or someone who has familiarity with the Gatsby codebase speak to whether the current caching would play nice with esm's? If so, supporting ESModules would be as easy as adding the require highjack. Would love to be able to use this syntax.

[2019-03-31 22:19] jimbits commented on #6492
I am having the same issue but using create-react-app
[code]

[2019-03-31 23:35] OllieJT commented on #12959
Refactoring my gatsby-node.js file seems to have fixed it. I'm still not entirely sure how or why.

[2019-03-31 23:35] #12959 closed

[2019-03-31 23:47] VGoose commented on #11851
@tremby OK now that I understand it a little better I can answer your previous questions.

It's happening server side.

If you're using `gatsby-image`, you can't alter the sizes attribute of the img element. Sizes can be passed as an to option `fluid` but not documented - this is in the source code.

[code]

Completely agree.

Yes, I think this read this in another issue.  I'll try and find it.

S

[2019-03-31 23:49] OllieJT opened #12978 "gatsby-source-shopify unable to complete build"
## Description

I have been unable to complete the build process using the 'gatsby-source-shopify' plugin. The progress varies each time, but it always stalls on "source and transform nodes" after a successful "fetched and processed collections"

### Steps to reproduce
I have tried
 - disabling all plugins just to get through a build
 - using a fresh install with gatsby-starter
 - using the [shopi

[2019-04-01 00:09] VGoose commented on #12972
@tremby I didn't know about physical pixels vs CSS pixels before.  This makes a lot more sense now.

I agree that the real issue now is the misleading nature of maxHeight and maxWidth and what they do with cropping.

I would add that we make it obvious `srcset` is created using maxWidth/maxHeight and filtered by original size (only go up to).  This would help for cases where people set a maxWidth/

[2019-04-01 00:43] OllieJT commented on #12978
Additional tests.
 - deployed [shopify-starter](https://www.gatsbyjs.org/starters/AlexanderProd/gatsby-shopify-starter/) and built successfully with demo data
 - changed gatsby-source-shopify2 to gatsby-source-shopify and reinstalled all node_modules
 - built successfully with demo data
- cleared gatsby cache and changed .env credentials to the desired store
 - ERROR (see below)

[code]

[2019-04-01 00:44] tremby commented on #11851
Yeah, that should really be documented. I had a look to see if information about it would come up in the graphql browser. The property shows up, but no information about it.

Yes, you can set the sizes attribute in the call to `fluid` or you could hack it into your gatsby-image such as `<Img fluid={Object.assign({}, data.placeholderImage.childImageSharp.fluid, { sizes: '234px' })} />`.

Be my gues

[2019-04-01 00:44] #11851 closed

[2019-04-01 00:56] tremby commented on #12972
It's not *just* maxWidth and maxHeight, it's also srcSetBreakpoints; see https://www.gatsbyjs.org/packages/gatsby-plugin-sharp#fluid for details.

[2019-04-01 00:57] VGoose commented on #12972
Sorry I meant for the default, when srcSetBreakPoints is not provided.

[2019-04-01 01:00] vermontdevil opened #12979 "Unable to remove gatsby v1 on mac"
This is weird. I have Gatsby V1.1.4 installed somewhere on my mac. I've ran the NPM install for gatsby-cli and NPM list -g is showing the latest gatsby-cli.

but when i ran gatsby -V, its showing 1.1.4  I thought the latest version is 2.x

Found the old gatsby on /users/myname/.npm-packages and there's some old stuff here.

Can't uninstall gatsby here as NPM keeps pointing to the latest version el

[2019-04-01 01:01] KyleAMathews opened #12980 "Correct custom eslint instructions"
If people customize their eslint setup, we should recommend they start from our default setup https://www.npmjs.com/package/eslint-config-react-app and go from there.

Our current docs recommend something entirely different:
https://www.gatsbyjs.org/docs/eslint/#configuring-eslint

[2019-04-01 01:05] KyleAMathews commented on #12980
This is the file that defines our setup https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/eslint-config.js

[2019-04-01 01:15] lannonbr opened #12981 "Node schema having caching issues after subsequent runs"
## Description

On subsequent runs of `gatsby develop` in a project of mine, the schema is running into some caching issues.

### Steps to reproduce

Check out the [gatsby-schema-cache-bug-repro](https://github.com/lannonbr/gatsby-schema-cache-bug-repro) repo I just made to show off this bug.

1. clone down the repo and install dependencies
2. do `gatsby develop` once and load the frontpage and se

[2019-04-01 01:58] anastasialanz commented on #12961
I am also seeing this issue.

[2019-04-01 02:50] namuol opened #12982 "Creating mappings automatically within a plugin"
I'm building a custom plugin that works with a CMS that supports relational data (specifically, one-to-one and one-to-many relationships).

Is there a good way to implement these relations within the generated schema such that they feel as if they were created with [`gatsby-config`'s `mapping` option](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types), but entirely within the plugin

[2019-04-01 03:51] coreyward commented on #12007
@sidharthachatterjee It would be very helpful to get an example of how to do this w/ Storybox. The documentation you linked to is great for setting up Jest et al w/ Gatsby, but if you're just using Storybox and don't have Jest setup independently it's unclear how to connect the two.

[2019-04-01 04:08] moonmeister commented on #12919
@thebigredgeek Sounds interesting. We've chatted about a plugin configuration API for the CLI. See: https://github.com/gatsbyjs/rfcs/blob/master/text/0007-gatsby-plugin-cli.md and #12822. I'm not on the gatsby cloud preview but...is this basically what you're talking about, but for the cloud? Maybe the final implementation of this API could be made to be compatible with the cloud and called from t

[2019-04-01 04:12] KyleAMathews commented on #12980
@kkemple looked into writing out the schema so then a custom eslint config could use it. @freiksenet @stefanprobst — it'd be great to do that https://github.com/gatsbyjs/gatsby/issues/6167

[2019-04-01 05:06] stefanprobst commented on #12980
@KyleAMathews this is on the [roadmap](https://github.com/gatsbyjs/gatsby/issues/12510). In the meantime there is [this plugin](https://github.com/NickyMeuleman/gatsby-plugin-extract-schema).

[2019-04-01 05:46] elibenton commented on #4693
Hi all, I am running into a remarkably similar issue, but while trying to download `gatsby-plugin-feed`.

This is my first time developing with Gatsby, so apologies if the issue is obvious and I just don't know where to look.

result of `gatsby develop`

[code]

`package.json`
[code]
`gatsby-config.js`
[code]

I've tried every combination of deleting `node_modules`, `.cache`, `public` I can find.

[2019-04-01 06:28] tgy3300 opened #12983 "在 gatsby 中，如何请求api数据呢？"
在 gatsby 中，如何请求api数据呢？非要使用GraphQL吗？

[2019-04-01 06:32] maxpou commented on #12569
Hey guys,
Thank you so much for your time.
It seems that the problem disappear after clearing the cache folder. I didn't cleaned Gastby's cache since a while... that's what happens when we play with experimental features.
Cheers

[2019-04-01 06:49] wardpeet commented on #11851
@VGoose please document it 👍

[2019-04-01 06:52] wardpeet commented on #12359
We only use require statements in our codebase and we transpile imports to commonjs so I don't think this will give any troubles but I'm not 100% sure on this.

Feel free to test out and report to us ;)

[2019-04-01 06:53] wardpeet commented on #12892
That probably has to do with typography creating some files when bootstrapping. Unsure how easy it is to fix.

[2019-04-01 07:10] wardpeet commented on #12932
Hey there seems nothing wrong on the gatsby side. I've did a quick peek in your source code and it seems like your not using the property `appId` from router anywhere.

I looked into https://github.com/shansmith01/todoapp/blob/master/src/components/AppWrapper.js but `this.props.appId` isn't used here so even if you visit `http://localhost:8000/app/qKXZO8yOD1MFvRtOykBpMW7UR603` nothing different is

[2019-04-01 07:11] wardpeet commented on #12897
thanks @jonniebigodes to give such great advice and fixing this issue for @aprather51

[2019-04-01 07:16] alfaproject commented on #3539
Awwww, I was looking forward to 1st class support for Angular ):

[2019-04-01 07:19] wardpeet commented on #12940
could you give us some more inforamtion about the exact error you get in the browser? It seems to work for me. I haven't copied your gatsby-config.js over.

[2019-04-01 07:36] M1k13 commented on #12940
Does it display the markdown pages for you with my config?
I don't get an error, it compiles fine with no error. Only i get a blank screen and not a web-site with my markdown files as info/manual pages.

My idea is to create something like this https://guide.freecodecamp.org/ but than simplified.

This is my output on my web browser when I compile it.
<img width="1264" alt="Screen Shot 2019-04-01

[2019-04-01 08:26] freiksenet commented on #12981
Thank you for the report! I can reproduce, very weird stuff. I'll try to fix it today.

[2019-04-01 08:38] freiksenet commented on #12981
Ok, so it seems that onCreateNode is called differently when running with and without cache, meaning the SyrEvent thing isn't loaded correctly. Not sure what's the issue yet.

[2019-04-01 09:17] tgy3300 opened #12984 "Gatsby项目中，页面基础模板如何指定"
页面的

<!DOCTYPE html><html lang="en">
<head>
...
</head>
<body>
...
</body>
</html>

这个模板在哪里，能设置指定吗?

[2019-04-01 09:18] m-allanson commented on #2424
Hey @LandonSchropp it's not possible to rename the `src` directory but you can tell Gatsby to generate pages from a custom directory. e.g. `./my-pages` instead of the default `./src/pages`. Check out the page creator plugin for more details:  https://www.gatsbyjs.org/packages/gatsby-plugin-page-creator/

[2019-04-01 09:23] js87zz opened #12985 "created Pages cause infinite reload in IE9"
## Description
I was testing gatsby app with `gatsby build && gatsby serve` in remote desktop app. it's very well performed in chrome, safari, ie11, ie10, edge.

However I got infinite reload loop and messages in IE9 console.
`html1113(Document mode restart from IE9 Standards to Quirks)`
`html1115(x-ua-compatible meta tag ('ie=edge') ignored because document mode is already finalized)`

I confirme

[2019-04-01 09:27] Param-Harrison commented on #12892
No problem @wardpeet. I will also check what might be wrong in my typo setup and ping the solution if I find anything useful

[2019-04-01 09:32] gurpreet-hanjra commented on #12984
You can use layout components as templates https://www.gatsbyjs.org/docs/layout-components/

[2019-04-01 09:33] nihgwu commented on #12984
https://www.gatsbyjs.org/blog/2018-06-08-life-after-layouts/

[2019-04-01 09:33] #12984 closed

[2019-04-01 09:33] gurpreet-hanjra commented on #12983
https://www.gatsbyjs.org/docs/client-data-fetching/ you can fetch data with/without GraphQL

[2019-04-01 09:34] sidharthachatterjee commented on #12935
Hey @Steffi3rd

I can reproduce what you describe on https://v2.edgebase.com/account/settings

I'd typically suggest that this has something to do with your hosting provider and potentially an incorrect redirect setup there (in this case Netlify)

However, looking at the network tab, there doesn't appear to be a redirect to `/account/Settings` and this stops happening when JavaScript is disabled.

[2019-04-01 09:38] ademilter commented on #12804
@wardpeet https://github.com/ademilter/is-this-error-gatsby

[2019-04-01 09:41] sidharthachatterjee commented on #12947
Thank you for opening this @robphoenix

The home page at https://using-gatsby-image.gatsbyjs.org/ seems to have some documentation and links to https://www.gatsbyjs.org/packages/gatsby-image/ but the rest is placeholder text.

Updating the placeholder text to some explanation of the features used in context will be helpful and I can definitely see the value in it!

Would you like to open a PR? The

[2019-04-01 09:43] sidharthachatterjee commented on #12948
Can you elaborate on this?

[2019-04-01 09:51] gurpreet-hanjra commented on #12979
Maybe try `which gatsby` and it will show current location of gatsby and then you can remove it by going that location, something like `cd /usr/local/bin`

[2019-04-01 09:55] sidharthachatterjee commented on #12955
Thank you for opening this @erichgoldman

It seems that https://github.com/gatsbyjs/gatsby/issues/11548 got closed due to inactivity. I've gone ahead and reopened it since it makes sense to move over to async await but only once https://github.com/gatsbyjs/gatsby/issues/2114 is resolved so we don't encourage heavy shims in browser code.

In the mean time, there is definitely value in consistency a

[2019-04-01 10:17] pieh commented on #12981
@lannonbr When creating nodes in `onCreateNode`, you need to set `parent` - https://github.com/lannonbr/gatsby-schema-cache-bug-repro/pull/1 .

Here's related issue https://github.com/gatsbyjs/gatsby/issues/11785 . I would classify this one as papercut, and would we could do is display warning when creating nodes in `onCreateNode` without setting parent.

This is needed because we do remove "stale

[2019-04-01 10:25] pieh commented on #12982
For mapping in plugin you'd need to use [`Foreign Key reference`](https://www.gatsbyjs.org/docs/schema-gql-type#foreign-key-reference-___node) in your data. In your example it would be:

[code]

[code]

`___NODE` suffix can be used for single "foreign node" id or array of ids (like in this example)

[2019-04-01 10:32] andyfinch333 opened #12986 "SourceMaps in Windows do not display correctly"
## Description

SCSS SourceMaps in any of the downloadable starter kits or in a fresh build of Gatsby, do not correctly show SCSS SourceMap references in the Web Inspector. In Firefox on Windows you see a Blob reference (Screenshot attached), In Chrome, you see an absolute path that repeats several times (screenshot attached), which while better as I can work out what file the code references, doe

[2019-04-01 10:40] sidharthachatterjee commented on #12956
Hey @erichgoldman

GraphQL queries in Gatsby are run at build time (and not runtime). Therefore a dynamically generated query string won't work as a page query (this doesn't mean that you can't use variables in queries, only that the query _structure_ itself needs to be static and not dynamically generated)

The only place where this is possible is `gatsby-node.js`. I've gone ahead and created an

[2019-04-01 10:41] pieh commented on #12948
In our `cache-dir` (gatsby runtime / static html files template) we do require dependencies declared by `gatsby` package, but later on we copy them to project directory (to `.cache`) - so in those copied files we do require things that are `dependencies` of `gatsby` and not necesairly project `deps` (in example `@reach/router`) - if package manager decide to install those deps in `node_modules/gat

[2019-04-01 11:25] sidharthachatterjee commented on #12957
Hey @lankydan

I tried reproducing this in https://github.com/sidharthachatterjee/gatsby-feed-12957-reproduction but wasn't able to 🤔

In case I'm missing something, could you please take a look at the linked repository and edit it if required to reproduce this issue?

[2019-04-01 11:28] lankydan commented on #12957
mmmm that code looks like what i had. I'll try test it again when I can on my own repo and report back!

[2019-04-01 11:29] pieh commented on #12964
I'm not sure what's best way to approach this. We would need to make extra network request (either after navigation like in your workaround or periodically) to check if service worker did update since initial load.

This is not strictly a "bug", but I do agree it's also not intuitive (at least for users that expect that behaviour). I would be weary to make checking for SW updates after initial loa

[2019-04-01 11:37] pieh commented on #12958
`gatsby-source-graphql` run queries during build time - so you can't "prebuild" those query results for individual users. For that you would need client side querying - i.e. with `apollo-boost`/`react-apollo`

[2019-04-01 12:44] sidharthachatterjee commented on #12961
Like @anastasialanz correctly mentioned, `EADDRINUSE` is thrown when the port is already in use. This is a great opportunity to auto detect and let the user pick a port like we have for develop so I've gone ahead and added that in.

Thank you for opening this @tgy3300 and for your response @anastasialanz!

[2019-04-01 12:46] lannonbr commented on #12981
@pieh that worked! My issue has been resolved so I'm not sure if we should leave this issue open or close it and maybe look to possibly add a warning message with a separate issue.

[2019-04-01 13:10] lankydan commented on #12957
I copied the `gatsby-feed-plugin` config you had and still received the error for clarity, my `siteMetadata` is the following:
[code]
if you think this is an error on my part, ill keep trying to replicate it but so far have had no luck.

[2019-04-01 13:11] pieh commented on #12985
Can you provide reproduction / link to hosted version of your site?

We did verify that there are some issues with gatsby sites on IE9:
![Screenshot 2019-04-01 at 15 09 14](https://user-images.githubusercontent.com/419821/55330063-694a1f80-5490-11e9-93d0-52cfbfd62bb4.png)

But we didn't see error you are reporting.

[2019-04-01 13:14] sidharthachatterjee opened #12990 "Compile node_modules like CRA does"
We currently only run babel on user code (and not on dependencies). This causes a set of issues:
- If dependencies use APIs that aren't available, they aren't polyfilled by `babel-preset-env` (Example: React uses `Set` and IE9 doesn't support it)
- We don't support queries in dependencies

We should  copy CRA's implementation for compiling node_modules with babel-preset-env which will fix problems

[2019-04-01 13:21] joxenford commented on #12848
We are seeing the same issue happening with gatsby-source-wordpress.  About 50% of the time our builds fail with seemingly no rhyme or reason and no code changes.  Any advice would be greatly appreciated.
[code]

[2019-04-01 13:25] trufa commented on #12958
@pieh thanks! makes sense. Will go that route.

[2019-04-01 13:31] Powell-v2 commented on #11645
Update on nested links - I wasn't actually using forward slash at the beginning when generating slugs programmatically (what I specified was `blog${slug}`). Apologies for the confusion! However, warning shouldn't be generated in this case either. Maybe such scenario should be accounted for as well?

@arcticicestudio, just to update you, I've been away whole weekend, didn't have an opportunity to u

[2019-04-01 13:53] pieh commented on #12981
Let's close this one and I'll reopen issue that was originally opened for it (https://github.com/gatsbyjs/gatsby/issues/11785), as fix was created just for single instance of it (`createRemoteFileNode`).

[2019-04-01 13:53] #12981 closed

[2019-04-01 13:54] pieh commented on #11785
Reopening this, because this was fixed in single instance (`createRemoteFileNode`) and not generally, so users can still hit this - as demonstrated in #12981

[2019-04-01 14:19] pieh commented on #12986
I did reproduce it locally, will investigate

[2019-04-01 14:25] pieh commented on #12986
This issue doesn't seem sass/scss specific - it also happen with vanilla css, so I this seems either css-loader or style-loader (or our configuration for them)

[2019-04-01 14:51] jlengstorf commented on #5997
@AlchemyUnited both options work. @gatsbyjs/core will global styles in a component unmount/remount on page changes, or is the SSR step smart enough to know it's used everywhere?

[2019-04-01 14:54] sidharthachatterjee commented on #12990
Closing this because it is already open in https://github.com/gatsbyjs/gatsby/issues/7064

[2019-04-01 14:54] #12990 closed

[2019-04-01 15:19] AlchemyUnited commented on #5997
@jlengstorf - if the tutorial version works then there's something wrong with me :)  because I was not able to get it work. I found this thread - and the alt solution - while trying to troubleshoot. No errors, etc. It just wouldn't work (e.g., recognize and apply global styles). Once I went with the alt version (link 1) I was fine.

[2019-04-01 15:39] KyleAMathews commented on #12980
Ok, no worries @stefanprobst

So for now we should just recommend people use:

[code]

[2019-04-01 15:40] lpluispacheco opened #12993 "Gatsby hosting"
Hi, what's the hosting cheapest option where I can use Gatsby with netilifycms?

I want to give my services of web design but I really don't know very well the hosting that I can use that work with gatsby and netlifycms I want to know the prices of servers, what hosting can work with gatsby and netlifycms together.

Thanks!

[2019-04-01 15:42] DSchau commented on #10398
Homebrew also works on Windows now, as well--so this seems especially worth doing if we can validate it works well on Unix and Windows.

[2019-04-01 15:43] DSchau commented on #12018
This seems to create a mostly empty .js file--investigate what this is doing and whether this is needed (probably not!).

[2019-04-01 16:05] harrysolovay commented on #12359
Okay, I'll take a shot at it.

From what I can tell. Here are the changes that need to take place:

1. Creating a helper package that differentiates between ESMs & CJS:

[code]

2. In `packages/Gatsby/src/internal-plugins/internal-data-bridge/gatsby-node`, add the require highjack:

[code]

...Along with––at line 121––swapping out the `require` with `interopRequire`

**One question**: where are th

[2019-04-01 16:12] namuol commented on #12982
Thank you @pieh! 🙇 I read that section but incorrectly assumed it only worked for single IDs (e.g. `author: 'abc123'`), but it _should_ work in this case.

My next question is (anticipating edge cases 😅): When does `inferFromFieldName` (or GQL type inference in general) occur?

In the above example, I imagine inference would fail if the name of the field were something other than `authors` and the

[2019-04-01 16:18] DSchau commented on #12993
Gatsby produces static content which can be hosted on _any_ static content host. Big ones are AWS Amplify, S3 + Cloudfront, Netlify, etc.

We have [guides for deploying to a variety of providers](https://www.gatsbyjs.org/docs/deploying-and-hosting/), so I'd encourage you to check them out and find one that suits your particular use case. Off hand, you can't beat free--and Netlify is effectively fr

[2019-04-01 16:18] #12993 closed

[2019-04-01 16:24] DSchau commented on #4200
This is part of a broader conversation re: CLI improvements (more info forthcoming!).

As such--it's a bit of a misfit and not the way we want to solve this _correctly_ going forward, so let's close this out and we'll encapsulate the work with other, broader CLI improvements.

Thanks!

[2019-04-01 16:24] #4200 closed

[2019-04-01 16:30] lpluispacheco commented on #12993
Hi **DSchau**, thanks for your answer.

There's only one thing left, I have made this website for an hostel:

https://inspiring-bell-9fbb73.netlify.com/

It's almost done, when it's get done in your point of view what gonna be ideal hosting? Because it has netlify-cms, I don't know 100% if uploading just the static files the CMS will work? That's my doubt left, if you know any guide that I can rea

[2019-04-01 16:33] DSchau commented on #12993
I wouldn't say there's a Gatsby-official "ideal hosting." I would say if that works for you and your project--then that's as ideal as it can be!

I'd urge you to work with the client/customer/etc. to see if it meets their needs. If it doesn't for whatever reason, you could consider using any number of the other CMSes Gatsby supports, e.g. Wordpress, Drupal, Contentful, etc.

[2019-04-01 16:39] lpluispacheco commented on #12993
Perfect, thanks for your help!

[2019-04-01 16:47] jlengstorf commented on #5997
Hmmm... definitely need to check into that. It _should_ work. 😕

[2019-04-01 16:52] d4rekanguok commented on #12272
Hi folks, I played around with this code:

[code]
I was expecting to get either a `File` node or `null` when query for a markdown remark node. Instead, I always get `null`... I'd have to manually look up the file:

[code]

Is there a way for me to simply tell gatsby, "this will be a File node, please find it or return null", rather than reimplementing [this](https://github.com/gatsbyjs/gatsby/blob

[2019-04-01 17:27] #12121 closed

[2019-04-01 17:59] pieh commented on #12986
Seems like this is exactly this problem - https://github.com/postcss/postcss-loader/issues/390

[2019-04-01 18:18] t2ca opened #12997 "Scroll position behaviour not as expected with gatsby navigate"
I have a page with a list of links to filter data and the following useEffect hook is causing me problems:

[code]

The issue is that every time i click on a link, the scroll position jumps to the top. Im expecting the scroll position to remain the same after clicking the link, which i believe should be the normal behaviour.

I was able to solve this issue by adding the following code to gatsby-br

[2019-04-01 18:51] pieh commented on #12997
Can you provide more complete reproduction? Ideally one that can be cloned and run to see the issue?

[2019-04-01 18:54] DSchau commented on #12980
Would love for someone to pick this up--right now we're displaying a document that is a little bit less focused than we'd like.

## Description

- Update [this document](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/eslint.md) with the above instructions per @KyleAMathews
    - Why?
        - This document is doing a bit too many things, e.g. adding prettier
        - We should advocate

[2019-04-01 19:00] olapersson commented on #11364
Having the same issue, also found a mention of the same problem here https://github.com/contentful/rich-text/issues/53 (issue was closed but it seems to me that the problem is still present).

Cross referencing entries is a quite natural thing (inline link from one page to another for example, much better to be able to use a reference rather than a hardcoded string)

As a temporary workaround I us

[2019-04-01 19:24] DSchau commented on #12980
@lukebrobbs not a dumb question, at all!

Yep, exactly. You'll want to edit [this file](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/eslint.md) and instructions to be a little simpler, and just install the necessary dependencies, e.g. `eslint-config-react-app`

Feel free to reach out if we can help with anything else!

[2019-04-01 19:28] coreyward commented on #11867
We're running into this issue as well with the Figma marketing site when building on Ubuntu. We had some similar issue on some machines on macOS, but running `yarn cache clean` resolved the issue on those machines.

To resolve in production we've replaced all Gatsby Image gql queries w/ the `_noBase64` variants.

Any chance someone on the @gatsbyjs/core team can take a look?

[code]

[2019-04-01 19:31] lukebrobbs commented on #12980
Great, thanks! The npm page for `eslint-config-react-app` recommends installing the following for projects not build with Create React App:

`npm install --save-dev eslint-config-react-app babel-eslint@9.x eslint@5.x eslint-plugin-flowtype@2.x eslint-plugin-import@2.x eslint-plugin-jsx-a11y@6.x eslint-plugin-react@7.x
`

Will all of this need to be installed with Gatsby?

[2019-04-01 19:35] #12460 closed

[2019-04-01 20:15] janosh opened #12999 "gatsby-remark-images-contentful for referenced images"
## Description

`gatsby-remark-images-contentful` seems to not apply to images whose source is referenced at the bottom of the file.

<img width="856" alt="contentful-markdown" src="https://user-images.githubusercontent.com/30958850/55356119-5d7b4f00-54ca-11e9-90ff-377d5a7089c9.png">

### Steps to reproduce

I would expect this markdown to be parsed the same

[code]

as this

[code]

### Actual re

[2019-04-01 20:22] pieh commented on #12999
`gatsby-remark-images` does support that, so this is missing feature. If anyone is interested in adding support for this in `gatsby-remark-images-contentful` please note how this is implemented in `gatsby-remark-images`:

make sure you handle image reference AST nodes:
https://github.com/gatsbyjs/gatsby/blob/87c1f2884a81b6221523e0210012db7db33ef4bf/packages/gatsby-remark-images/src/index.js#L62-L7

[2019-04-01 20:38] joesayegh commented on #3318
@kripod and @chrisfitkin - thank you so much!

[2019-04-01 20:43] gixo commented on #12485
@wardpeet any idea on when a PR will be released about this issue? Thanks! :)

[2019-04-01 20:50] namuol commented on #12982
Fantastic - thank you for the detailed explanation @pieh! I suppose this means Gatsby waits until after all `createNode` calls before the schema is resolved - makes a lot of sense :+1:

[2019-04-01 20:50] #12982 closed

[2019-04-01 20:55] KyleAMathews commented on #12997
http://gatsby.dev/reproduction for instructions

[2019-04-01 21:03] DanielRuf opened #13003 "Roadmap to migrate away from request"
## Summary
`request` is in maintenance mode now so we should check what we have to do to migrate away from it.

## Relevant information
https://github.com/request/request/issues/3142

[2019-04-01 21:06] tessereth commented on #12964
Yeah, I figured this lives somewhere between bug and feature. But it was unexpected and as someone not particularly familiar with service workers it took me a long time to debug.

This was why I decided to do the check on navigation rather than periodically. It just seemed more "expected" to do a network request then. And it's more obvious at that point that the user's interacting with the site (s

[2019-04-01 21:07] KyleAMathews commented on #13003
There's no specific rush to do this as `request` isn't going to stop working :-)

I did a quick look and we only use `request` once in our code base — https://github.com/gatsbyjs/gatsby/blob/a43288d15831926c6c92192e1c0f50878b6fd798/packages/gatsby/src/commands/develop.js#L193

If someone wants to PR moving to a different library, that seems reasonable.

[2019-04-01 21:27] kpennell commented on #7024
@LekoArts Should questions/bugs/challenges about the guide be posted on here as issues or on StackOverflow?

[2019-04-01 21:29] polishedwp commented on #12926
@KyleAMathews I think the question might be "What features do you want to represent in the default starter?" At some point, the tutorials and docs, will take over showing features, but again, the question is what do you want to default starter to serve as. For instance, in the `seo.js' file of the default starter `useStaticQuery` has been used to show its usage, while maintaining StaticQuery in ot

[2019-04-01 21:39] DanielRuf commented on #13003
I thought there were more places where we still use `request`.

Sure but let's keep an eye on this.

👍

[2019-04-01 22:31] harrysolovay commented on #3782
I'd love for this issue to be reopened please––it would be great if `createRedirect` could handle external redirects.

[2019-04-01 22:45] amlcodes commented on #12945
wow, thank you so much. The level of care in this answer is something I really appreciate lmao. I should have included a few things, but I think I will end up going with largely this approach. I have some authentication issues that I was trying to steer away from this way, but it may be inevitable. Thanks again!

[2019-04-02 00:06] jonniebigodes commented on #12940
@M1k13 i've picked up on your issue and i think i have a solution. I'm "dialing down" the wording, as you mentioned in the issue description that you are not a developer nor have you ever worked with javascript and/or React.
Below are the steps i took to emulate your isssue.
- I've created a dummy repository with some documents [here](https://github.com/jonniebigodes/gatsby_test_fech_md), in order

[2019-04-02 00:37] lucassilvagc commented on #6654
As expected, since this bug still exists in gatsby-wordpress. 35 minutes to download and process all the images keeps being a very long time considering all the factors (avg internet speed, processing power, total of files and so on).
You can try adapting @njmyers version to your specific use, it'll work like a charm on downloading every image file you have.

[2019-04-02 00:38] jonathancary commented on #9310
Did anyone ever find a solution to this or was able to confirm it was just a bug with the chrome extension? Having the same issue where on the initial page load it only show one, but when you navigate to another page it shows the duplicate. Using it on this website for reference: https://www.mohragency.com/.

[2019-04-02 01:01] js87zz commented on #12985
I've tested my site in local env before production. so it's hard to provide site host.

But I tested using `https://github.com/gatsbyjs/gatsby-starter-blog` kit in IE9 through remote desktop app after making `my-blog-starter` more simple. and then when I accessed the `/hello-world`, I got same infinite loop .

I changed `my-blog-starter` as below. really simple.

// gatsby-config.js (without any p

[2019-04-02 01:06] erichgoldman commented on #12956
Thanks @sidharthachatterjee . I tested this and generally understand the flow. Could you expand the gist to show how to actually make the pages from this result? I've been trying some things, but I'm not getting much closer.

How could I take this data set and make it generally available instead of creating pages. e.g., I want this data to loop over to make an index page with cards for each org.

[2019-04-02 01:07] SheetJSDev opened #13011 "Testing before pushing commits"
First off, awesome work!

For those of us eager to contribute, the starting point is to set up the local environment and run the existing test suite.  Two commits in the last 24 hours broke the tests in different was:

https://github.com/gatsbyjs/gatsby/commit/69af92d353edaa1cc26993cc1f24316cc0badb6f does not pass the prettier check for two reasons: the ordered list format and an errant double spa

[2019-04-02 01:22] djm158 opened #13014 "cannot provide theme prop using themeprovider in styled-components with gatsby-plugin-layout"
I appear to be having a similar issue to #11427. No matter if I add the `<ThemeProvider>` to `gatsby-ssr.js`, `gatsby-browser.js`, or my `layout.js` component, I cannot access my provided `theme`. Link to reproduction https://github.com/djm158/danielmcgrath.xyz/tree/v2.

Gist is the following:

Have a `theme.js`:

[code]

I used styled-components theme-provider in `layout.js`

[code]

try to use s

[2019-04-02 01:41] polarathene commented on #13011
@SheetJSDev There is already quite extensive testing in place.

View the [related PR](https://github.com/gatsbyjs/gatsby/pull/12994) for the commit you referenced, scroll down to the merge commit prior to the original branch being deleted, click view details.

All PRs go through a fair amount of tests. @DSchau is a core member of Gatsby, and it looks like he was the only one involved in the PR, al

[2019-04-02 01:58] ChristopherBiscardi commented on #12455
While we aren't supporting local themes right now, it doesn't mean we never will. The current suggested approach is to use yarn workspaces because other approaches such as `npm link` can have hard to diagnose issues.

[2019-04-02 01:58] #12455 closed

[2019-04-02 02:09] polarathene commented on #13011
I just looked at the CircleCI test report for a recent PR of mine yet to be merged. [It's passing](https://circleci.com/gh/gatsbyjs/gatsby/97908), but fails on the Windows test. I can also get the failure on my Linux machine, so something is right with the CircleCI test environment? Is it possible a cache is giving a false positive?

[code]

Whereas for the same test suite the [Windows Azure Pipel

[2019-04-02 02:53] polarathene commented on #13011
CircleCI [appears to be throwing the error now too](https://circleci.com/gh/gatsbyjs/gatsby/98091), so that's resolved?

Put up a PR for the other issue you mentioned regarding prettier.

[2019-04-02 03:11] LandonSchropp commented on #2424
@m-allanson Thanks for the reply!

[2019-04-02 03:31] polarathene commented on #13011
There was an earlier PR for the eslint rule to resolve this, but the PR did not wait for tests to finish before merging. The PR instead caused a warning to become an error in CI, I've addressed that as well in my PR.

In both cases it was due to core devs having the rights to approve and merge their own PRs. From what it looks like they've not waited on tests to complete, with Windows taking the l

[2019-04-02 03:32] cdaringe opened #13019 "gatsby build build hangs indefinitely when there are 0 pages/queries"
## Description

in circleci, my build hangs in machine and docker builds.  in either case, it's a linux os:

[code]

### Steps to reproduce

- clone https://github.com/cdaringe/cowtown
- `yarn && yarn bootstrap`
- `cd packages/docs`
- `DEBUG=gats*,cow* yarn build --verbose`

### Expected result

`success Building static HTML for pages`

### Actual result

hangs.  works on osx!

### Environment

[c

[2019-04-02 04:45] polarathene opened #13022 "[Feature] Auto-merge approved PRs once tests pass"
## Summary

I've come across [mergify.io](https://mergify.io/) which offers their service for free to open-source projects. It's a Github app with a yaml config file. If you view the website, they have a video you can scroll down to to get a quick overview of it working.

This could be a great integration to avoid rushing PRs through (which core developers have the ability to do by approving and m

[2019-04-02 04:47] #13011 closed

[2019-04-02 05:16] #12254 closed

[2019-04-02 05:22] oschade commented on #12455
I did start using gatsby with `yarn workspaces` and it works fine. Thank you for this advice! But for simplicity, a theme-folder would be nice. Thank you for keeping that in mind!

[2019-04-02 05:30] wardpeet commented on #13022
Mergify looks great but we probably want to integrate it with gatsbot (perilbot). @KyleAMathews came across https://github.com/artsy/peril-settings/pull/59 which we can copy and customize to our needs in [gatsbyjs/peril-gatsbyjs](https://github.com/gatsbyjs/peril-gatsbyjs)

[2019-04-02 05:39] dsebastien commented on #10890
Hey everyone.

I'm also facing this issue with the google analytics plugin. Initially, I thought that I could simply add a 'sha256-...' entry to my script-src, but the value changes from page to page. That plugin should allow to pass a nonce so that we can whitelist it through the CSP.

[2019-04-02 06:34] secondary-school55 opened #13023 "gatsby-transformer-remark and copied markdown files"
## Summary
It that by design, gatsby-transformer-remark is copying markdown files to public when build production build? Can it be disabled?

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-04-02 06:53] wardpeet commented on #11867
@floriangaechter thanks for the repro i'll try to look at this today or else tomorrow.

[2019-04-02 07:14] alexandernanberg commented on #12863
This apparently already works. You just have to change the query to be

[code]

replace `childMdx` with `childMarkdownRemark` if you'r not using MDX

[2019-04-02 07:14] #12863 closed

[2019-04-02 07:51] M1k13 commented on #12940
Thank you jonniebigodes! Thanks for the great explanation and examples it really helped a lot.
I'm going to try some css in to it now. Thank a lot again!

[2019-04-02 07:51] #12940 closed

[2019-04-02 07:52] sindresorhus commented on #13003
If you're willing to give [`got`](https://github.com/sindresorhus/got) a try, I think you could simply replace `request(` with `got.stream(` in the referenced code.

See: https://github.com/sindresorhus/got/blob/master/migration-guides.md#more-about-streams

[2019-04-02 07:53] polarathene commented on #13022
Oh, alright, that makes sense :)

I see that `peril-gatsbyjs` has had [an open issue about it since Aug 2018](https://github.com/gatsbyjs/peril-gatsbyjs/issues/25), not much progress there since.

Should I close this issue, since a relevant one is still open at `peril-gatsbyjs`?

[2019-04-02 07:59] #12980 closed

[2019-04-02 08:07] sanderfish commented on #9281
I just ran into the same / similar issue. Running `gatsby clean` solved it for me.

[2019-04-02 08:14] mikaelkristiansson commented on #11604
any updates about this? It still doesn't work if I downgrade domready to 1.0.7.

[2019-04-02 09:21] wardpeet commented on #13022
just keep this open as we mostly monitor this repo for issues.

Reference:
https://github.com/gatsbyjs/peril-gatsbyjs/issues/25

[2019-04-02 09:35] luukdv commented on #11524
Not stale 😬

[2019-04-02 10:01] sidharthachatterjee opened #13026 "Improve error messaging for sharp"
`sharp` is a really important dependency for us since we use it in `gatsby-plugin-sharp`, `gatsby-transformer-sharp` and `gatsby-plugin-manifest`

We've seen several instances where something has failed in one of the plugins above but has been difficult to debug. These issues tend to fit in one of the following three categories:

1. Errors due to broken native dependencies or install time issues
2

[2019-04-02 11:11] andyfinch333 commented on #12986
Yeah I think you are right, Seems this issue has not been fixed yet, is the best way to remove postcss loader? However, I'm not finding it easy to see what the default Webpack config for Gatsby is to modify it.

[2019-04-02 12:07] wardpeet commented on #12986
It's not easy to remove it and it might break your site but you can find more info on how to replace your webpack config
https://www.gatsbyjs.org/docs/add-custom-webpack-config/

[2019-04-02 12:22] wardpeet commented on #12359
if you want to test it out just put `require = require('esm')(module);` in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bin/gatsby.js

[2019-04-02 13:32] janosh opened #13030 "Gatsby does not recognize Contentful 404 page"
## Description

According to [the docs](https://www.gatsbyjs.org/docs/add-404-page), creating a page whose path matches the regex `/404*` should be recognized as the 404 page. However, the development 404 page says no custom 404 page was detected even though a page with such a path exists.

<img width="1422" alt="custom-404-not-detected" src="https://user-images.githubusercontent.com/30958850/5540

[2019-04-02 13:42] floriangaechter commented on #13030
Do you still have the `src/pages/404.js` file?

[2019-04-02 14:00] floriangaechter commented on #13030
Sorry, strike that – I just saw in your error message that you deleted it…

I had to delete the cache folder for Gatsby to recognize the 404 page coming from Contentful when I just tried it out.

[2019-04-02 14:35] harrysolovay commented on #12359
@wardpeet we'd also have to make some changes to the requires in order to support both CJS and ESMs. Do you know where all of the config files get loaded?

[2019-04-02 14:54] kuworking opened #13035 ""WARNING: We noticed you're using the `useBuiltIns`" and gatsby-node failure when Gatsby 2.1.4 -> 2.1.20"
I'm getting this warning
[code]
that drives to what seems a non execution of `gatsby-node.js` that then kills my site.
But I only have it when I update the dependencies.

Find below the `package.json` that works. If I then upgrade `gatsby` to version 2.3.5 it gives the warning (and later on error). It seems the same as [#12744](https://github.com/gatsbyjs/gatsby/issues/12744) (but that one is fixe

[2019-04-02 14:57] simoneb commented on #2352
Already commented in the linked [PR](https://github.com/gatsbyjs/gatsby/issues/2352), but this doesn't seem to work for me.

[2019-04-02 15:05] talves commented on #12776
@wardpeet I think this is resolved.

I have also submitted a PR for the update to the plugin. https://github.com/gatsbyjs/gatsby/pull/13036

[2019-04-02 15:13] pieh commented on #13019
It looks like it's hanging in `running graphql queries` step. Not quite sure what could cause this, will try to reproduce on linux

[2019-04-02 15:19] pieh commented on #13023
It should not copy markdown files? Are you sure it's `gatsby-transformer-remark` doing it? Can you share reproduction?

[2019-04-02 15:30] pieh commented on #13019
I definitely can reproduce with your repo in ubuntu VM - will investigate.

One note, is that this doesn't happen with starters, so there has to be something specific in your site (or some dependencies in your site)

[2019-04-02 15:32] pieh commented on #13019
And also I can reproduce this on OSX as well - so doesn't seem linux specific. It most likely are some dependency changes - you don't have lock file checked in your repo, so those will use newest packages possible, but locally you probably have lock file that pins it to some version where it works

[2019-04-02 15:47] pieh commented on #13019
hmmmm you have 0 pages in your site. This is definitely bug in gatsby and should hang when there is 0 pages. But after adding single page to it - it works.

[2019-04-02 16:03] renanpupin opened #13043 "Dynamic page content with custom APIs"
Hi,
this issue is a question about how gatsby can be integrated with a server content (an express nodejs API for exemple).

Is there a way that Gatsby could query data from backend and just return the page after get the content? If I use axios requests, before it gets the result data, the gatsby page already got returned, so when I inspect my code from crawlers or OpenGraph API linter, it does not

[2019-04-02 16:21] daneden commented on #13035
I’m running into this issue as well.

[2019-04-02 16:28] lpluispacheco opened #13044 "Gatsby query like insert"
Hi, I have a doubt about the query's.

Is possible make a query to insert data in x.MD files? Using any CMS, By example:

Room.md
---
available: 1
---

Later on when a user clicks a button set the available to 0? Any trick or function to make it works?

Thanks!

[2019-04-02 16:29] jonniebigodes commented on #12940
@M1k13 no need to thank. just glad i could be of assistance and helped out solving your issue.

[2019-04-02 16:32] kuworking commented on #13035
I've seen now that with `gatsby 2.1.4`, with `esm 3.2.20` it works, but with `esm 3.2.21` it triggers the error. I have to say that my `gatsby-node.js` points to a `gatsby-node.esm.js` through this package.

[2019-04-02 16:33] jonniebigodes commented on #12945
@amlcodes no need to thank, just glad i was able to help in solve your issue. Going to close this issue as it's answered. Should any more issues arise, feel free to open a new issue. 👍

[2019-04-02 16:33] #12945 closed

[2019-04-02 16:52] markvital commented on #4459
@DSchau this still doesn't work with format:PLAIN with custom separator.

I cloned [your example](Here's an example repo demonstrating this functionality) and changed format from HTML to plain in BlogIndex:
[code]

Textual  excerpts don't show properly:
<img width="707" alt="Screen Shot 2019-04-02 at 6 50 53 PM" src="https://user-images.githubusercontent.com/742796/55420893-53b02500-5578-11e9-99e8

[2019-04-02 16:55] DSchau commented on #4459
@markvital what would you expect to happen there?

That _is_ plain text. Would you expect Markdown specific stuff to be stripped?

[2019-04-02 17:05] markvital commented on #4459
Oh I see.
Yes, I expected all tags to be removed, so I can insert clean text into meta tags, as described in [docs](https://www.gatsbyjs.org/packages/gatsby-transformer-remark/#format).
This is how it worked for me, until I set ```"excerpt_separator": ```` in *gatsby-config.js*.

[2019-04-02 17:27] #11589 closed

[2019-04-02 17:27] #12199 closed

[2019-04-02 17:27] #12104 closed

[2019-04-02 17:27] #12151 closed

[2019-04-02 17:29] DSchau commented on #12919
Talked to @KyleAMathews about this. We like the idea, but in this particular case, I think we can implement this pretty cleanly with an intuitive option passing syntax. For example:

If we'd like to pass a custom contentful host, we could do so with (in any phase/build/develop/etc.)

[code]

These environment variables would be _automatically_ applied for plugin options, and would take precedence

[2019-04-02 17:37] DSchau opened #13050 "[feat]: augment gatsby-source-contentful to look for certain environment variables to define options"
## Summary

Contentful has first-class integration with [Gatsby Preview](https://www.gatsbyjs.com/preview/). As a user/developer _using_ this feature, we defer to the `gatsby-config.js` for the "source of truth" for these plugin options and configuration, oftentimes driven by environment variables.

What I propose is a way to _continue_ to support this as a source of truth, but provide a quick esc

[2019-04-02 17:56] davidbailey00 commented on #7454
@ergunpp I just had a look at your site - it seems the problem is caused by your `overflow-x` and styling with the `body` tag. If you remove this property, as well as the `overflow-y` property, and then fix the page overflowing by changing various instances of `100vw` to `100%`, the problem is fixed :)

[2019-04-02 17:57] davidbailey00 commented on #7454
I think after @pieh's fixes, any problems occurring are due to the `scroll-behavior` package, which is outside of our control, since the scroll update events seem to be firing correctly.

[2019-04-02 18:01] thebigredgeek commented on #12919
Love this approach!  A lot cleaner than what I was thinking

[2019-04-02 18:42] DSchau commented on #13050
As usual--@pieh has an excellent point!

How do we handle multiple instances of `gatsby-source-contentful`? There doesn't appear to be a readily apparent heuristic that would let _someone_ (e.g. Gatsby Preview) know which instance of the plugin to inject. For example, consider the following `gatsby-config.js`:

[code]

There isn't a great heuristic to know that the _second_ instance of `gatsby-sou

[2019-04-02 18:44] DSchau commented on #13050
Also note in the above example: generally accessToken (and other "secrets") would not and should not be committed to source control. Done just for the sake of example 🙃

[2019-04-02 18:47] marcysutton commented on #4319
There have been some changes made to the Gatsby Image docs, but overall this issue was closed without resolution and there is still room for improvement. Some very helpful feedback from @calcsam in the Video & Media docs PR (https://github.com/gatsbyjs/gatsby/pull/12906):

[2019-04-02 19:10] patriziosotgiu commented on #2352
I'm having the same issue, also commented on the PR.

[2019-04-02 19:13] t2ca commented on #12997
Thank you for looking into this problem for me, I have made a reproduction here:

https://github.com/t2ca/scroll-issue

The issue is that when clicking the button the scroll position jumps to the top.

index.js and gatsby-browser.js are the only files modified.

Once you downgrade gatsby-react-router-scroll to version 2.0.6

The scroll behaviour is as expected.

Thank you!

[2019-04-02 19:28] janosh commented on #13030
@floriangaechter I don't have a `src/pages/404.js` file? I deleted that file since it essentially just reproduces `src/template/page.js`. With `src/pages/404.js` everything works as expected, without it, Gatsby doesn't seem to pick up on the Contentful page even though it matches the path prescribed by the docs.