[2019-05-20 21:57] DSchau commented on #14193
Hello @iamskok!

Thanks for the reproduction, we appreciate it!

I see at least one issue here, and that's probably what is causing the issue.

If we look at the logs, we see a few helpful logs like so:

[code]

specifically, `Shopify__ProductMetafield__undefined` which is a nice hint that perhaps we're creating something with an undefined id when we wouldn't expect that to be the case.

If we bac

[2019-05-20 21:58] jlengstorf commented on #14017
@shannonbux @KyleAMathews @calcsam I just updated the scope to do a few things:

1. Moved most of the home page outcomes to overall site outcomes — these things need to be true, but aren't necessarily page-specific. That's a good point from @KyleAMathews.
2. Added a measurement to the home page outcome since we have a clear understanding of what that should be.
    - As we nail down other outcomes

[2019-05-20 22:01] DSchau commented on #14188
_Everyone_ was using this with filenames inserted as captions (presuming using the version(s) containing this behavior), presuming they didn't have a caption! I agree it's probably not expected, but you're right that this doesn't seem like something someone would necessarily want as a fallback caption.

I think the check should be something like:

[code]

and have that return an empty string if `a

[2019-05-20 22:03] DSchau commented on #14186
Interesting - would you like to PR this fix to update the version?

[2019-05-20 22:08] jlengstorf commented on #9047
@ZhenWang-Jen this definitely works (it's how I was tackling the problem for a while), but it comes with a pitfall: the data in that query needs to be loaded on every page. For a few images this won't be a big deal, but as the number of images increases, so does the extra page bloat.

[2019-05-20 22:11] jlengstorf commented on #13708
Thanks @marcysutton! I updated the issue to reflect that and unchecked the video workflow todo.

[2019-05-20 22:21] iamskok commented on #14193
@DSchau Thanks for your quick response!

I have added `id` field to the backing query and it fixed `undefined` values, but the error message is still the same.

[code]

[2019-05-20 22:27] DSchau commented on #14193
@iamskok in the same way that other node types are created (e.g. ShopifyProduct, ShopifyCollection, etc.) you also need to create ShopifyMetafields in `gatsby-node.js`.

You're exporting the helper to do so [here](https://github.com/iamskok/gatsby-shopify-invariant-violation-example/blob/master/plugins/gatsby-source-shopify/src/nodes.js#L144) but then never using it?

For example, if we take a loo

[2019-05-20 22:33] dakebl opened #14196 "Update visual-testing-with-storybook to cover static query errors"
## Summary

This is a feature request for an update to the documentation on [visual-testing-with-storybook](https://www.gatsbyjs.org/docs/visual-testing-with-storybook/). The current documentation does not contain the correct `webpack.config.js` example for Storybook to cover static queries when rendering directly in Storybook.

### Basic example

https://github.com/gatsbyjs/gatsby/issues/10662
ht

[2019-05-20 22:39] hkr86 commented on #8089
#13737 pointed me into the right direction!

[2019-05-20 22:40] superfunkminister commented on #10482
+1

[2019-05-20 22:43] DSchau commented on #13885
Just to provide some context on this:

Definitely worth doing (not sure if it needs to be scoped as part of the redesign). We can style this quite easily with CSS (there's an id on the noscript element), so we can/should do so.

This seems like an issue. It definitely wouldn't work to begin with (e.g. plugins sidebar requires a client-side data call), but we should at least show the layout compone

[2019-05-20 22:44] DSchau commented on #14193
@iamskok that the issue? If so--please confirm and we can get this closed out. Thanks!

[2019-05-20 22:51] KyleAMathews commented on #14017
Like the improvements!

Thinking about this more — what you're writing is a "Product Vision" (from [Inspired](https://www.amazon.com/INSPIRED-Create-Tech-Products-Customers-ebook/dp/B077NRB36N)).

I think this sort of document needs to go on .org somewhere — and then from here we can develop our strategy for understanding how we're doing on different parts of the vision and pulling off projects to

[2019-05-20 23:04] iamskok commented on #14193
I'm not sure if that's the issue, bc I use [`ProductMetafieldNode`](https://github.com/iamskok/gatsby-shopify-invariant-violation-example/blob/master/plugins/gatsby-source-shopify/src/gatsby-node.js#L79) the same we are using [`ProductOptionNode `](https://github.com/iamskok/gatsby-shopify-invariant-violation-example/blob/master/plugins/gatsby-source-shopify/src/gatsby-node.js#L74) or [`ProductVar

[2019-05-20 23:09] acdcsite opened #14198 "Not working [gatsby-plugin-google-analytics]"
## Description

I installed gatsby-plugin-google-analytics and put in my tracking code etc. But Google is not receiving any data. Anyone else having issue with this? I have been copy and pasting the code and still nothing... obviously replacing the tracking with my own.

[code]

### Steps to reproduce

Run `gatsby info --clipboard` in your project directory and paste the output here.

[2019-05-20 23:21] DSchau commented on #14193
Could you share these with me? You can e-mail me at dustin at gatsbyjs dot com.

[2019-05-20 23:22] #14198 closed

[2019-05-20 23:32] jonniebigodes commented on #14078
@gvocale first of all, sorry for the "radio silence"(pardon the bad pun). But i was testing your code and trying to fully pinpoint your issue.

Moving on, in this comment i'm going to enumerate where your issue actually happens and if you don't mind some considerations.

I cloned your reproduction code and installed the dependencies and even before checking where the actual issue happens, one thin

[2019-05-20 23:37] iamskok commented on #14193
@DSchau sent 📬

[2019-05-20 23:50] BalachandraTejas commented on #7252
Guess that's how the way it works in Gatsby website about [Adding a 404 page](https://www.gatsbyjs.org/docs/add-404-page/).
"When developing, Gatsby adds a default 404 page that overrides your custom 404 page."

[2019-05-20 23:52] pieh commented on #14139
Opened pull request in upstream package https://github.com/terkelg/prompts/pull/160 that will fix this error on Node >= 8.0 && < 8.6

[2019-05-21 01:45] mike1808 opened #14199 "Allow to pass functions in gatsby-config.js for browser and SSR"
## Summary

Currently, options for the plugins in `gatsby-config.js` are stringified for the browser and SSR as mentioned in #13440 However, in some plugins functions are the part of the configurations. So preserving functions would be a great addition for the config file.'
### Basic example

Imagine you have a plugin which calls your provided callback.
[code]

### Motivation

In some plugins, you

[2019-05-21 06:13] lsguillory opened #14203 "ERROR Sharp images"
## Description

Having problems installing sharp plugins. I'm a newbie so am pretty much at a loss and have gone as far I can.

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happe

[2019-05-21 06:46] laurenskling commented on #11736
Thanks Gatsbot! Still would like to keep this open a bit

[2019-05-21 07:21] wardpeet commented on #14203
@lsguillory could you remove node_modules and install again?

[2019-05-21 08:36] #14196 closed

[2019-05-21 09:20] cvolant commented on #5601
Hi!

I arrived here because I hit the same problem than fredjens. I read the responses, thought 'ok', set up Nginx to redirect localhost/blog to localhost:9000, but... I get a 404 no matter what url I try on the localhost.
Nginx config:
`location /blog/ {`
`       proxy_pass http://localhost:9000;`
`}`
Gatsby config:
`module.exports = {`
`  pathPrefix: "/blog",`
`  ...`
I tried with `proxy_pass ht

[2019-05-21 09:37] m-allanson opened #14205 "Ignore merge commits in the PRs bot"
## Summary

The PR bot at https://github.com/gatsbyjs/gatsby/tree/master/.github/actions/high-priority-prs is great for highlighting PRs that need attention. However sometimes there are false positives.

In the `PRs with new commits awaiting review` list, any pr that has merge commits will be incorrectly highlighted. Merge commits should be ignored by the bot. This could be done by ignoring commit

[2019-05-21 09:50] sami616 opened #14206 "Gatsby source contentful / schema customization schema generation."
Hi, looking at the recent improvements made to the schema customization api: https://www.gatsbyjs.org/blog/2019-05-17-improvements-to-schema-customization/

It looks like a lot of the problems of using contentful with missing fields / references can be avoided by manually defining your schema.

However, this seems like a lot of work for large and complex data models, is it possible for source plug

[2019-05-21 09:56] m-allanson commented on #14206
Hey @sami616, there's a work-in-progress PR that should do this - check out:  https://github.com/gatsbyjs/gatsby/pull/12816

The work so far has been published to a temporary npm tag, install `gatsby-source-contentful@schema-types`. If you get a chance to try it out, please leave feedback on the PR!

[2019-05-21 10:02] sami616 commented on #14206
@m-allanson amazing! thanks for the heads up!

[2019-05-21 10:50] LekoArts commented on #13865
Seems related to: https://github.com/gatsbyjs/gatsby/pull/13882

[2019-05-21 10:54] LekoArts commented on #14184
@freiksenet Any idea why that could be happening?

[2019-05-21 11:22] freiksenet commented on #14133
Hi!

Thanks a lot for filing this issue! I wonder if you would like to make a PR to `gatsby-plugin-feed` to fix that?

Thank you! :purple_heart:

[2019-05-21 11:22] kepi0809 commented on #11185
I'm experiencing the same issue, if you could fix it and find the source of the problem it would be nice if you could share it 👍

I'm experiencing the same thing, when I update a post and make gatsby develop it gets the old data of the post some kind of caching mechanism in gatsby-source-wordpress I suppose. (even when I do it with gatsby clean && gatsby develop

[2019-05-21 11:29] LekoArts commented on #13930
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-05-21 11:36] freiksenet commented on #14136
Thank you for this suggestion! Would you like to open a PR with that fix?

[2019-05-21 11:39] kepi0809 commented on #13930
hey I'll try to make a reproduction asap, the problem is that it used to work in the beginning and then suddenly (without changing anything) no more. But I'll try to make it.

[2019-05-21 11:43] freiksenet commented on #14169
CC @erquhart

[2019-05-21 11:44] freiksenet commented on #14184
@wardpeet is looking at this, possibly could be an issue with sharp's job queue.

[2019-05-21 11:59] thomascorthouts commented on #14084
@pieh I have a small question regarding code structuring. I changed the endpoints so they use the express patterns to match everything with at least 1 underscore and match both on `graphql` and `graphiql`. So the pattern you get is `/_+graphi{0,1}ql`

But now I would be interested in creating cypress tests for this as well, where I test whether the patterns give the graphqlIDE for both the basic d

[2019-05-21 12:06] meritozh commented on #11280
I have a temporary solution, add those code in your *gatsby-browser.js*:

[code]

The problem is https://github.com/gatsbyjs/gatsby/blob/5640078ec52fb18afa5aa4fd81974a317759c771/packages/gatsby-remark-images/src/gatsby-browser.js#L7 won't call, so the blur-up style won't stick to `<img>`.

But I don't know how to debug and fix this.

[2019-05-21 12:13] cameron-martin commented on #11076
This issue may have been closed by accidentally, since the PR says that it only partially fixes this issue.

[2019-05-21 12:31] Siyfion commented on #14185
Ah nice @pieh! Is this something that the Gatsby team would consider incorporating as an official tool in future? I really think it'd be hugely useful!

[2019-05-21 12:36] Siyfion commented on #14185
I believe that the major breaking change seems to be this refactor: https://github.com/gatsbyjs/gatsby/commit/bbb8c36f78af806f6e79310bca9b3c99df107436

[2019-05-21 12:44] pieh commented on #14185
This was one of my "weekend projects", and I don't think we really talked about it yet.

Now I start to remember more when I was working on this (why I didn't make it a plugin and made "standalone" tool). apollo-codegen used different version of `graphql` package and this was causing issues (when you have multiple versions of graphql package in node_modules it can cause weird issues ( for example

[2019-05-21 12:48] Siyfion commented on #14185
Yup, I've been on the receiving end of lots of those issues at various points over the last few months! I does seem to be a constant issue with the Apollo CLI unfortunately. Still, if Gatsby did support this tool as an official way to generate TypeScript Definitions, I'm sure there would be a fair amount of support for it ;)

[2019-05-21 12:52] vickywane commented on #9121
Sorry for the late reply .

I used the `withRoot` from the MUI repo to wrap it but i get this error .
[code]

I worked with a `next js` project i recently concluded( without using `withRoot`)

[2019-05-21 13:11] m-allanson opened #14212 "Create inline types documentation"
## Summary

It can be difficult to know what GraphQL types are available in your Gatsby site. GraphQL can help with this!

Let's create a readonly resource that documents all the types running in your site, this resource should be available while running `gatsby develop`. This would be a [`phpinfo()`](https://www.inmotionhosting.com/support/website/php/create-phpinfo-page-to-see-php-settings) styl

[2019-05-21 13:28] m-allanson opened #14213 "Warn when pageContext is too large"
## Summary

Warn when creating too large a `pageContext`, as this may be a sign that you're passing data via context. Typically you should only pass enough context to allow you to query for the data you need. Pick an arbitrary limit like 500Kb. This could trigger a warning when running the `createPage` API.

[2019-05-21 13:34] gvocale commented on #14078
Hi @jonniebigodes! Thank you for taking the time to download the repo and run it. Very appreciated.

I didn't use `import * as styles from './styles.module.scss'` because Typescript was marking it as error, but the blog post you shared links to a solution for it https://medium.com/@thetrevorharmon/how-to-silence-false-sass-warnings-in-react-16d2a7158aff. I am going to update it to use import for t

[2019-05-21 13:40] m-allanson opened #14214 "Add built-in pagination features to Gatsby"
## Summary

Gatsby has no built-in features for handling pagination. There are user land approaches to pagination, but handling this in Gatsby core is probably a better experience and will allow pagination to work well with incremental builds (once that's available).

### Basic example

This will need some research on the best approach. We can make use of the schema extension API. Also check out [

[2019-05-21 13:44] m-allanson commented on #11602
This would be a big DX improvement, re-opening.

Sort-of related issue at https://github.com/gatsbyjs/gatsby/issues/14212

[2019-05-21 13:47] m-allanson commented on #11076
Thanks @cameron-martin 👍

[2019-05-21 13:58] wardpeet commented on #10815
i've put it to blocked as lot of efforts is already done but we need some kind of internal invalidation api so we know which nodes are valid.

cc @pieh 😛

[2019-05-21 14:05] harshil1712 commented on #14186
Hey, is anyone working on this? I would like to take this

[2019-05-21 14:31] m-allanson commented on #13026
First parts of this are done, closing!

@sidharthachatterjee to create a separate issue tracking the last point.

[2019-05-21 14:31] #13026 closed

[2019-05-21 14:32] harshil1712 commented on #14186
@FrederikBolding awesome!

[2019-05-21 14:34] FrederikBolding commented on #14186
@harshil1712 Here we go: #14217

[2019-05-21 14:35] jaredsilver opened #14218 "Just how big of a site can Gatsby handle?"
We run a documentation aggregation website that pulls in documentation about hundreds of thousands of packages from a variety of services, and I was interested in rebuilding it to use Gatsby. However, after taking 20min to throw together a proof of concept, I realized that it quickly falls over because of how many pages we try to generate.

During the create pages build step, I get the following h

[2019-05-21 14:58] heejongahn commented on #14136
Sure, I’ll come up with a draft in few days.

[2019-05-21 14:59] #14186 closed

[2019-05-21 15:17] JABedford commented on #14179
I deployed the site to Netlify:

https://lucid-swartz-53a9b2.netlify.com/

And could find nothing wrong with it! The icons seem to be working absolutely fine to me 💯

[2019-05-21 15:21] jlengstorf commented on #14017
@KyleAMathews in the interest of actually doing the work, does this need to move? If we can agree on what we want to accomplish, we can start putting tasks against this doc, and it's easier to reference the vision if we can tag it as an issue (or epic) from the issues that describe the work.

Does anything in this doc need to be adjusted, or can we agree that this is where we want to end up?

[2019-05-21 15:22] DevelopwithTom commented on #14179
The icons work to bring you to a new page but the text flashes when clicked ([see gif](https://i.stack.imgur.com/vPCNk.gif)). I'm trying to make it so the the icon doesn't flash when its clicked ([like this](https://jacekjeznach.com/portfolio/)).

I have tried doing this through the CSS route but can't. I think it must be caused by rendering via 'Link to' - but I'm not sure. I haven't found a solu

[2019-05-21 15:25] JABedford commented on #14179
Ahh my bad, I didn't realize clicking was involved!

I'll have a look into it and see what I can find.

[2019-05-21 15:28] DevelopwithTom commented on #14179
Thanks very much JA. Its been puzzling me for a while - it would be great to get someone more experienced opinion on it 👍

[2019-05-21 15:35] JABedford commented on #14179
Ok, I'm pretty sure I know what is causing this.

When the new page is being rendered, it's rendering a new sidebar, which is taking a split second to recognise it is being hovered over.

I have run out of time this evening but might have half an hour to have a play with this tomorrow if you haven't found a solution by then.

[2019-05-21 15:37] antoinerousseau commented on #6291
Still happens to me randomly (both locally and on Netlify, about 20-30% of the time).
I have about 5,000 not that big images (mostly 500x500 pixels).

[2019-05-21 15:38] DevelopwithTom commented on #14179
Oh yeah ok, that would be awesome - I'm more than happy to make a little donation your way for your time too

[2019-05-21 15:46] m-allanson commented on #14212
It seems like a lot of the value of this could be gained by implementing https://github.com/gatsbyjs/gatsby/issues/11602

[2019-05-21 15:55] jamaljeantobias commented on #12848
Hi, I am still having this problem with Gatsby-source-drupal. I either get `error: connect ETIMEDOUT` or cannot retrieve a random image file asset. Are you sure you fixed this?

[2019-05-21 16:27] gillkyle commented on #14100
Part of the **Top 25 Learning Workflows initiative**.

# User story

As a new Gatsby user, I want to learn how to integrate Gatsby Preview with Contentful.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😐 | 😄 | 😄 | 😄 | 😄 | 😄 | 😄 |

# Steps taken to implement

1. Searchability
	1. Searched `gatsby preview with contentf

[2019-05-21 16:46] KyleAMathews commented on #14218
For larger sites like this, you'll want to increase the default 1.4gb memory limit for node https://medium.com/@vuongtran/how-to-solve-process-out-of-memory-in-node-js-5f0de8f8464c

Node 12 also removed this built-in limitation so you could try upgrading to it as well.

[2019-05-21 16:48] KyleAMathews commented on #14218
We also have benchmark sites that we use for testing https://github.com/gatsbyjs/gatsby/tree/master/benchmarks — you can set there arbitrary number of pages.

[2019-05-21 16:49] jonniebigodes commented on #13930
@kepi0809 i've been checking your issue.

Based on a recent issue i was tackling, i've used my local wordpress installation and Gatsby.

I've used a simple hello world starter with the following content in `gatsby-config.js`

[code]
My `gatsby-config.js` looks like the following:
[code]

Issued `gatsby develop` and opened a new browser window to `http://localhost:8000/___graphql` and issued the fo

[2019-05-21 16:51] sonapraneeth-a opened #14221 "Unable to use html.js present in theme package from example site"
## Description

I've created a custom html.js in gatsby-theme-minimal package and am trying to see it's effect on the example site created. When running `yarn workspace gatsby-theme-minimal develop` for theme workspace, custom html.js seems to loaded, but when running the `yarn workspace example develop` command from example workspace, custom html.js is not getting used.

### Steps to reproduce

[

[2019-05-21 17:00] marcysutton commented on #10418
Something I'm noticing: it would be really great to have a reference guide on setting up Gatsby with Shopify! As a new Shopify Partner I have no idea what I'm doing...and I'm finding it difficult to understand how to set up a brand-new store (does it have to be public? What API key do I use?). The starter and plugin assume you already use Shopify, and this seems like a use case other people would

[2019-05-21 17:05] jaredsilver commented on #14218
Thanks, Kyle! Upgrading to Node 12 worked. Looking forward to generating hundreds of thousands of pages with Gatsby! 😄

[2019-05-21 17:05] #14218 closed

[2019-05-21 17:08] m-allanson commented on #14139
Update gatsby-cli to prompts 2.0.5 once released.

[2019-05-21 17:12] gillkyle commented on #14013
I sent emails to the package authors that haven't been updated yet, encouraging them to merge PR's, several have responded already.

[2019-05-21 17:21] ZhenWang-Jen commented on #9047
@jlengstorf improvement is possible. Just change the batch file imports query in the hero.js, in my case, to something like below which will loop through ALL images that are in the targeted folder:
`query={graphql`
          {
            allHeroImgs: allFile(
              filter: { absolutePath: { regex: "/heros/" } }
            ) {
              edges {
                node {

[2019-05-21 17:27] #13494 closed

[2019-05-21 18:08] abmagil opened #14222 "How should a plugin validate itself?"
## Summary
How am I supposed to validate my plugin's options?

## Relevant information

I've searched in [documentation](https://www.gatsbyjs.org/docs/creating-a-source-plugin/#getting-helper-functions) and looked through [the gatsby-node-helpers package](https://github.com/angeloashmore/gatsby-node-helpers) but I can't figure out how I'm supposed to block a build from continuing if my plugin isn'

[2019-05-21 18:36] #14222 closed

[2019-05-21 18:36] abmagil commented on #14222
There was a bug in my `gatsby-config` preventing me from running the code I thought I was

[2019-05-21 18:40] lsguillory commented on #14203
### Success

Thank you so much as the uninstall worked to load the packages.
I uninstalled and reinstalled and I was able to load the packages with success. I was elated then deflated as It seems now it is an error in failing to process image. To make sure I hadn't made a mistake in coding I downloaded the source file for setting up the config file for the images section.

Here is the code:
'gatsb

[2019-05-21 19:12] adrw commented on #13707
@ChristopherBiscardi Any thoughts?

[2019-05-21 19:15] prestonso commented on #14093
Thanks @Jared-Dev!

[2019-05-21 19:31] martinpsz opened #14223 "Hot reload fails when developer tools open in Chrome"
I have noticed what appears to be a bug when developing in Gatsby and using the Chrome developer tools.

When I have the Chrome developer tools open (I am using Chrome 74), it appears that hot reloading stops working when the browser is refreshed. This is irrespective of whether there is an error thrown in the code or if the code was compiled successfully. What I see, when I refresh the browser, i

[2019-05-21 19:34] DSchau commented on #14223
@martinpsz it's possible this is an extension issue.

Could you try in Incognito mode? Also--if you can reliably reproduce this, we'd love a video or some other means to see what's going on exactly here. I can't reproduce this locally!

[2019-05-21 20:03] DSchau commented on #14193
Got it!

Thanks for the reproduction. There was just a little piece you missed. Giving the following query:

[code]

You can see that metafields (and variants) store their array data on `.edges`, e.g. `product.edges[0].metafields.edges`

The resulting data is then available on `.edges[n].node`.

So we just need to fix up gatsby-node.js like so:

[code]

For context on how I checked this--just need

[2019-05-21 20:03] #14193 closed

[2019-05-21 20:13] steoneill commented on #13399
@polishedwp hi!

I've updated them locally but before & after changes it's showing issues with hot reloading.

Do you know if this is to be expected?

[2019-05-21 20:20] bakeruk commented on #12848
Try to change the `concurrentFileRequests` option to `1` and let me know if your still having issues.

[2019-05-21 20:22] jlengstorf commented on #10418
This is a good idea, @marcysutton. I can put this on my list after the plugin course if no one beats me to it. 😄

[2019-05-21 20:36] ar-stackrox commented on #5030
@iamskok Does gatsby-remark-code-buttons work with gatsby-mdx as of now? I'm encountering these issues.

![image](https://user-images.githubusercontent.com/28272783/58128875-6dabd280-7bcd-11e9-9461-425a005f332b.png)

[2019-05-21 20:41] jonniebigodes commented on #14203
@lsguillory can you create a reproduction, following [this](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at? If you don't mind include the image that is causing trouble

[2019-05-21 20:45] jamaljeantobias commented on #12848
Hi @bakeruk . I just realized that this has more to do with my server configuration than Gatsby. My IP address currently blocked because of too many requests. Thanks for the quick response

[2019-05-21 20:51] johant87 commented on #4636
@LekoArts  Interesting, I see a comment that this issue is fixed? but I ran into the exact same issue as the original poster now with the latest version of gatsby/the offline plugin.

[2019-05-21 20:53] iamskok commented on #5030
@ar-stackrox it was never tested with `gatsby-mdx `. Can you please share a repo where I can reproduce this error?

[2019-05-21 21:01] ar-stackrox commented on #5030
@iamskok I can't right now because the repo is private, but all I did was an npm install, and then add it to the gatsby-config / gatsby-remark-plugin like so -
![image](https://user-images.githubusercontent.com/28272783/58130397-c29d1800-7bd0-11e9-8524-67fa893f4c36.png)

[2019-05-21 21:03] DSchau commented on #5030
@ar-stackrox if at all possible--I'd request that you please re-open the issue in the [package itself](https://github.com/iamskok/gatsby-remark-code-buttons).

Thanks @iamskok for chiming in and being so helpful--we sincerely appreciate it!

[2019-05-21 21:38] jmolivas commented on #5030
@iamskok I can confirm the same issue when using MDX as reported by @ar-stackrox

[2019-05-21 22:17] wardpeet commented on #14163
so removing `node_modules/.cache` is a quickfix?

[2019-05-21 22:45] Exospheric commented on #14161
Maybe these pages will help. I hope so. I use Racket/Frog but the same problem exists for any SSG on IPFS. I'm actually not a web expert and I had to spend a couple of days figuring out the nomenclature of parts of URIs. Racket output is different than most SSGs because output goes to site root and not a production subdirectory, so even source files are in the IPFS repository. That also means asse

[2019-05-21 22:58] hkr86 commented on #10482
Fetching all nodes and then filter on client does not scale very well! I've done that and my builds is now several MB large!

[2019-05-21 23:12] montylounge commented on #14163
No, the issue still exists.

[2019-05-21 23:21] coreyward commented on #11524
@KyleAMathews Honestly, I think this happens on every Gatsby site deployed to Netlify that is multiple pages. Throw Sentry up on one and see for yourself.

[2019-05-21 23:31] omeid commented on #5021
@KyleAMathews Thanks, that sort of work, but obviously you either need to reply the remark plugin config and plugins or you get different results. Any plans to support markdown frontmatter? Perhaps a `frontmattermd` field along with the raw `frontmatter`?

[2019-05-21 23:40] terkelg commented on #14139
@m-allanson: A new [release](https://github.com/terkelg/prompts/releases/tag/v2.1.0) has been published

[2019-05-22 00:04] lsguillory commented on #14203
Thanks. I've created a repository https://github.com/lsguillory/gatsbybootcamp . That was easier for me. I hope that's not a problem.

I ran it again and got a new error --Unable to find plugin "gatsby-remark-relative-images,".  It shows in the system so my mind is boggled.

Any help would be appreciated.

The other question I have are there other images plugins that can be used? As I'm asking the

[2019-05-22 01:01] KyleAMathews opened #14224 "Send structured errors through telemetry"
Currently gatsby-telemetry sends a JSON string for errors.

This makes it difficult to identify what are reoccurring errors that Gatsby users are seeing.

To fix this, we should analyze errors and structure them before sending them off.

We can also enhance errors with more information e.g. at what point in the Gatsby lifecycle did the error happen? What plugin (if any) throw the error, etc.

This

[2019-05-22 02:18] jonniebigodes commented on #14203
@lsguillory i'll look it over  and i'll post a detailed explanation of your issue and possibly how to solve it. Do you mind waiting a bit while i look into your code?

[2019-05-22 03:56] lsguillory commented on #14203
No, not at all, take your time. I need to pour some motivation into me to keep going.

[2019-05-22 05:32] me4502 commented on #14213
They end up in the same file anyway though? In most cases it's faster to pass in via pageContext due to query speeds. Plus, GraphQL queries have a fair bit of boilerplate which contributes to a larger file size. (Unless this is being changed in @Moocar's per-page manifest setup)

If anything, it may make sense to warn when the size of the produced file is over a specific amount due to browser requ

[2019-05-22 06:12] wardpeet commented on #14178
Fixed in gatsby-source-filesystem@2.0.37

[2019-05-22 06:12] #14178 closed

[2019-05-22 06:20] LekoArts commented on #11524
I'd say this statement is a bit premature as for example all my Gatsby projects are deployed to Netlify and I've never seen the error (in the last couple of weeks/regularly).

[2019-05-22 06:55] iamskok commented on #13981
Working example of GraphQL Shopify Admin API query can be found in `/plugins` of this [repo]( https://github.com/iamskok/gatsby-shopify-invariant-violation-example). More
details on retrieving metafields from Shopify GraphQL Storefront API can be found in #14193

[2019-05-22 07:19] wardpeet commented on #13399
@steoneill mind sharing your work in a PR? We could review and give feedback on the issue.

[2019-05-22 08:12] stefanprobst opened #14228 "[docs] Gatsby Internals docs should be updated (schema customization, Incremental Builds, v3)"
The ["Gatsby Internals" ("Behind the scenes") docs for schema generation](https://www.gatsbyjs.org/docs/schema-generation/) are out of date as they still refer to the pre-Schema Customization codebase.

[2019-05-22 08:15] wardpeet commented on #14179
You'll have to use gatsby-plugin-layout to fix this. The problem is like @JABedford mentioned that we rerender the sidebar on navigation because of how routing works in gatsby. By using gatsby-plugin-layout, we are able to put our layout at the root of our page instead of inside our routing logic.

for more info:
https://www.gatsbyjs.org/packages/gatsby-plugin-layout/#why-would-you-want-to-reimple

[2019-05-22 08:22] wardpeet commented on #14221
This might be a bug, or at least a feature we haven't added yet.

Let me get some people involved who actually know more about this.

cc @ChristopherBiscardi, @jxnblk, @johno

[2019-05-22 08:30] m-allanson commented on #14139
Super, thank you for the swift update @terkelg 🎉

[2019-05-22 08:42] wardpeet commented on #13667
I think we should close this one as this is not a bug. This is how commonjs & esm work together. A misconception here is that `module.exports` === `export default` which is not.

`export default` === `exports.default`, lots of bundlers fix this however when compiling to commonjs syntax so people shouldn't need to know about this. We do not compile our sources to cjs before we load in gatsby-browse

[2019-05-22 08:54] wardpeet commented on #14163
Hi {montylounge}!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal repr

[2019-05-22 09:52] monsieurnebo opened #14230 "Allow React production build control"
Hello,

We're working on multiple environments (local, dev, test, prod, sandbox), with specific configurations for each of them.

Using a custom `FOO_ENV` variable allow us to manage these configurations, except for one thing: the [React production build](https://reactjs.org/docs/optimizing-performance.html) setting.

This setting is set in Webpack via:

[code]

In production mode, React will hide

[2019-05-22 10:08] ChristopherBiscardi commented on #14221
Would be feature we haven't added yet. (For the record, the handling for html.js is in the static entry: https://github.com/gatsbyjs/gatsby/blob/f338dfea534b21724b7d19dece8ee9f63a854f0f/packages/gatsby/cache-dir/static-entry.js#L35)

Given that no one has asked for it and it wouldn't be composable with other themes (ex: two themes have a custom html.js, what should happen?) I'd want to hear a good

[2019-05-22 10:13] m-allanson opened #14231 "Update Gatsby to support Node 8 and above"
## Summary

Node 6 has reached [its official end-of-life date](https://github.com/nodejs/Release) as of 30th April 2019.

Today Gatsby _mostly_ supports Node 6. However as some of Gatsby's dependencies have upgraded, they've dropped Node 6 support. This means that e.g. `gatsby new` won't work when running Node 6, but an existing site will continue to build fine (for now).

Increasingly we are havi

[2019-05-22 10:14] polishedwp commented on #13399
I agree ... Share the PR and we can help.

[2019-05-22 10:17] marcosilvestroni opened #14232 "Wrong className assegnation on build project"
## Description
During checking the media query with `react-responsive` when I build the project gatsby assigned to a div a wrong className , taked form the div above the wrong one.

that's from the index.js
[code]

from UltimiAnnunci.js
[code]

from GridCarousel.js

[code]

screenShot from develop
![Screenshot from 2019-05-22 12-10-16](https://user-images.githubusercontent.com/16466555/58166697-b1

[2019-05-22 10:43] marcosilvestroni commented on #14232
The strange thing is that if I remove
[code]
everything works fine in develop and build

[2019-05-22 10:47] monsieurnebo commented on #5801
`gatsby develop -H 0.0.0.0` is now working fine, 🎉

[2019-05-22 11:18] pieh commented on #14084
Ah, sorry I didn't reply, but I see you managed. The place for e2e tests is not clear, but one you picked seems very reasonable here

[2019-05-22 11:26] sonapraneeth-a commented on #14221
Actually I was trying to implement a theme switcher and I wanted some styling attributes based on theme selected to be applied to `<body>` tag. But the `<body>` was present in html.js and was hence was using custom html.js file.

Is there any good idea with the current architecture on applying style attributes / class names to `<body>` based on theme selected?

[2019-05-22 11:28] pieh commented on #8307
We can control hashes for query results pretty easily using above method, not sure about hashes for js bundles/chunks produced by webpack?

[2019-05-22 11:41] Francesco-Lanciana commented on #14175
Interesting, keen to hear what you dig up, it still feels like very odd server side rendering/hydration behaviour

[2019-05-22 11:56] Yomguithereal commented on #12922
I also agree that this kind of data collection should really be opt-in, rather than opt-out while I totally agree with the following from @doolittle:

I know that you are on the edge of what can be allowed by GDPR here, but my institution cannot take this kind of risk and this needlessly complexifies ops code to make sure your telemetry cannot run in our production environments.

I'll choose to tr

[2019-05-22 11:58] m-allanson commented on #14231
Gatsby's telemetry data indicates that around 0.75% of people are currently using Node 6 with their Gatsby project.

[2019-05-22 12:04] lannonbr commented on #13667
@wardpeet I confirmed the `require(component).default` syntax is valid so, let me close this issue and then make a PR to the docs to add this slight change.

[2019-05-22 12:04] #13667 closed

[2019-05-22 12:13] wardpeet commented on #13667
@lannonbr Thanks!

[2019-05-22 13:21] Jivings commented on #11524
@LekoArts @marcysutton The Sentry trace is still publicly available [here](https://sentry.io/share/issue/3d8d44049ad9415b9d9aeff4a520be60/).

Does that help at all?

[2019-05-22 13:57] paschalidi commented on #13642
Hey @wardpeet I am happy to open an experimental PR to see if `now` can work for this.
I dont understand how now is different than surge, can you maybe explain, becuase as far as i understand what will happen with now is that we will like to add a job on the circle ci and deploy on `now` the built app.

What you think it should be happening with `now`?

[2019-05-22 13:58] wardpeet commented on #14175
[code]

is how you should do it

[2019-05-22 14:06] wardpeet commented on #14230
I don't think you can, you might be able to by using [replaceWebpackConfig](https://www.gatsbyjs.org/docs/add-custom-webpack-config/).

You can use webpack alias to replace react or react-dom to the development version or replace definePlugin with your own implementation. This is just speculation so it might not be possible at all.

[2019-05-22 14:10] DevelopwithTom commented on #14179
That makes sense! That works perfectly! Thank you for looking into this wardpeet!

[2019-05-22 14:35] g-elwell opened #14239 "gatsby-source-wordpress should decode HTML entities on import"
## Summary

The WordPress REST API encodes HTML entities (eg `’` as `&#8217;`) and the `gatsby-source-wordpress` plugin pulls these into Gatsby.

The result is that if your WordPress content contains any HTML entities, you will need to either use `dangerouslySetInnerHTML`, or decode strings before using them within your Gatsby components.

### Motivation

If HTML entities are decoded by the `gatsb

[2019-05-22 14:45] DSchau commented on #14221
@sonapraneeth-a wouldn't [onRenderBody](https://www.gatsbyjs.org/docs/ssr-apis/#onRenderBody) work here? I'd need to know more about your specific use case to guarantee that's the best solution, but it seems like that would work just fine.

[2019-05-22 14:48] #14084 closed

[2019-05-22 14:58] donaldboulton opened #14242 "NPM Gatsby Cli install error"
Npm install instructions for Gatsby cli is `npm i gatsby` = will not install in Windows 10 and had to reinstall npm after this mess up.
Should it not be `npm i -g gatsby`?

[2019-05-22 14:59] DSchau commented on #14242
@donaldboulton could you provide more detail for this statement?

Where did you see this?

[2019-05-22 15:00] donaldboulton commented on #14242
At [NPM](https://www.npmjs.com/package/gatsby)

[2019-05-22 15:03] DSchau commented on #14242
@donaldboulton got it--sorry for the confusion!

There's not a ton we can do there--that's the baked in UI for npmjs.org. If you have ideas for how we could improve these--we'd love a PR!

In general, we recommend starting with our [tutorial](https://www.gatsbyjs.org/tutorial/), particularly the ["Setup your Development Environment" section](https://www.gatsbyjs.org/tutorial/part-zero/) for gettin

[2019-05-22 15:03] #14242 closed

[2019-05-22 15:13] omerg commented on #9702
I think it's a WordPress issue. I have the same problem and when I try the query on developer.wordpress.com, completely isolated from gatsby, nbsp is visible there also.

[2019-05-22 15:13] maxwell8888 opened #14243 "Using a mapping of mappings in frontmatter of markdown file"
Having generated the gatsby starter blog with:
[code]
I have added the following mapping of mappings to the frontmatter of the hello world index.md (adapted from example 2.6 of the YAML spec here: https://yaml.org/spec/1.2/spec.html).
[code]
However, running the following GraphQL query returns an error. How can I add a mapping of mappings to the frontmatter without returning an error?
[code]

[2019-05-22 15:18] coreyward commented on #11524
@lekoarts Do you have Sentry setup? How much traffic?

@Jivings How much traffic? I'm trying to get an idea of frequency.

As best as I can tell I've caught 541 instances of this error since March 1 across 160k pageviews (47k sessions) on one website I maintain. That's an 0.3% chance of a pageview triggering the behavior, or a 1.2% chance of a session experiencing it. Not great as far as reproduct

[2019-05-22 15:22] Undistraction commented on #11524
@coreyward Also seeing it intermittently with Raygun.

The underlying problem is that Gatsby swallows the actual error and only emits everyone's favourite 'Missing resources for ...'. this is actually a really misleading error because the resource is there, it's just that an error occurred loading it.

[2019-05-22 15:27] wardpeet commented on #14243
Hi @maxwell8888!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal repro

[2019-05-22 16:11] lannonbr commented on #11946
And with the switch to MDX on the .org site, this issue should no longer be blocked

[2019-05-22 16:15] bakeruk commented on #5726
I'm using AWS Amplify which does not have any prerender functionality.

I have the above issue. Can anyone make any suggestions?

[2019-05-22 16:15] yesh opened #14245 "[gatsby-image] color of tracedSVG using Contentful fragments"
Hi,

I am trying to change the color of the tracedSVG of images from Contentful using `gatsby-image`.

## Summary

digging in the docs and around the web I found that you can put a `traceSVG` argument with various options in a graphql query, like this:

`traceSVG: { background: "#fbfafc", color: "#dbd4e2" }`

like in this example:

[code]

but this method is not working for my case, because I use

[2019-05-22 16:17] mattferderer commented on #5726
@bakeruk - Try opening an in private browser with JavaScript disabled to test it.

[2019-05-22 16:18] DSchau commented on #5726
@bakeruk do you have a link?

Gatsby generates (as much as possible) pre-rendered content as static HTML at build time. It's possible there's something blocking static HTML from being rendered, e.g. oftentimes we've seen animation libraries or something blocking initial render.

The best way to validate is not by using "View Source" (with gatsby-plugin-offline) at least, because Chrome has a bug w

[2019-05-22 16:36] maxwell8888 commented on #14243
Hi @wardpeet
Thanks for your response. Below is a minimal reproduction.

Generate the gatsby starter blog with:
[code]
Update `content/blog/hello-world/index.md` to (simply adding test: {hr: 65, avg: 0.278} to frontmatter):
[code]
Run develop mode:
[code]
Open GraphiQL in the browser at http://localhost:8000/___graphql.
Run the below query which generates the unexpected error.
[code]

[2019-05-22 17:04] jackhair commented on #11524
@coreyward We use Bugsnag and have seen it around 4.8k times in the last month.

[2019-05-22 17:06] #14139 closed

[2019-05-22 17:13] luukdv commented on #11524
@coreyward Maybe this is helpful: https://user-images.githubusercontent.com/891184/55591893-a65e1e00-56eb-11e9-8eab-24b87daa71cc.png (from https://github.com/gatsbyjs/gatsby/issues/12399#issuecomment-480082161)

[2019-05-22 17:15] martinpsz commented on #14223
I will record and post a video next time it happens. It might be a plug-in I have enabled in Chrome.

[2019-05-22 17:16] sidharthachatterjee commented on #14139
Published in `gatsby-cli@2.6.2`

[2019-05-22 17:27] gwlortscher commented on #11524
We use Bugsnag and are seeing this show up for about 1% of traffic. Browsers seem to roughly match our overall traffic distribution—not seeing any clear patterns there.

[2019-05-22 17:34] iamskok commented on #14193
@DSChau Thank you! It fixed the issue 🎉

I ended up with this block of code:

[code]

Now I'm going to start implementing `metafields` for [all the queries](https://help.shopify.com/en/api/reference/metafield). And this is how `gatsby-config.js` will look:

[code]

To sum it up:

Quite often Shopify developer [need access to `metafields`](https://github.com/gatsbyjs/gatsby/issues/7659), but it is

[2019-05-22 17:50] sonapraneeth-a commented on #14221
My current case is I want to switch themes (using emotion theming and react context apis) based on a checkbox input. I'm passing the theme props from root div to necessary child components. But I'm unable to pass an style props / classes to body (I want to mainly change the background color and foreground color of body based on theme selected) as it is present in html.js. I'm not sure if such a th

[2019-05-22 18:04] jxnblk commented on #14221
@sonapraneeth-a I've been using the `wrapRootElement` API to provide Emotion's theming context, then using the `<Global />` component to change the body's foreground and background colors. Would that potentially work for your use-case?

[2019-05-22 18:16] dragonflypl opened #14247 "Page and animations become junky after browsing a few pages"
## Summary

I've created Gatsby portfolio site: https://2m2.dragonflypl.now.sh/ (this is test version, still work in progress).

I'm testing it and I've already realized that on mobile it very quickly becomes junky. Initially, animations/transitions are smooth (e.g. menu) but after browsing pages in the portfolio section, when I toggle menu (with icon) animation is dreadfully slow.

Are there any

[2019-05-22 18:33] oldmannseamus opened #14248 "How to apply --prefix-paths to links generated from Frontmatter."
I'm using frontmatter properties to store data for conversion into fields at build time. I've successfully used Remark on these fields in order to handle formatting and links, but any links processed from these fields do not receive prefixes when the `--prefix-paths` flag is used.

I've gotten around this for the time being by hardcoding the absolute paths of these links, but I'd prefer to find a

[2019-05-22 18:50] webdevpchoi opened #14249 "Material-UI Plugin page preview is blank"
When searching for Material UI in the plugins, upon clicking on the result, nothing shows up in the preview pane like the other plugins. I'm currently working around this by going directly to the github link, but I just thought I'd let you know!

Using Chrome Version 74.0.3729.169

![image](https://user-images.githubusercontent.com/21182531/58200543-d9eb0c80-7c87-11e9-9ccd-7f0edd871661.png)

[2019-05-22 18:54] DSchau commented on #14223
Great!

In the absence of that--let's get this closed out. When you reply with that info, let's re-open and we'll help ya figure this out!

[2019-05-22 18:54] #14223 closed

[2019-05-22 18:55] kalwalt opened #14250 "[ WIP ] gatsby-starter-i18n-bulma (starter in development)"
Hi, i am Walter, I am an italian :it:  self-made developer. I want to show my starter [gatsby-starter-i18n-bulma](https://github.com/kalwalt/gatsby-starter-i18n-bulma) i developed for my new personal website, but  i would share with you. Time ago I searched a multilingual starter, but i didn't find what i was looking for. Most of them don't let much freedom when you switch from one language to ano

[2019-05-22 18:57] jonniebigodes commented on #14203
@lsguillory sorry for the wait. I'm going to detail the steps taken to solve your issue and some considerations for you, if you don't mind.

- Cloned the repository you provided.
- Installed the dependencies
- Issued `gatsby develop` and the error you mentioned last was present. The problem in there was a extra comma present in your `gatsby-config.js` you have the following:

[code]
And it should

[2019-05-22 19:14] DSchau commented on #14247
@dragonflypl could you provide a set of steps you take to reproduce the slowness? e.g. start here, open the menu, click this link, etc.

[2019-05-22 19:17] DSchau commented on #11602
Looks like OneGraph is working on some improvements, as well -> https://www.youtube.com/watch?v=yWjCAjpHRt0

[2019-05-22 19:40] dragonflypl commented on #14247
1. Goto main page
2. Open menu -> Goto portfolio
3. Click on first project (image) and go to details
4. Scroll down and click "Następny Projekt" to go to next project, and do the same until all projects are browser
5. Now open menu once again - animation is junky

[2019-05-22 19:44] #14100 closed

[2019-05-22 19:58] jonniebigodes commented on #14078
@gvocale no need to thank, glad i was able to shed some insights on your issue.

A couple of things.
On my end those errors are due to windows filesystem handling. I just mentioned them as it be relevant to you or your team to be aware that the issue might happen.

Now regarding the following:

If i'm reading this correct, you're using the images query, meaning all the images query used in `gatsby

[2019-05-22 20:08] DSchau commented on #14247
I'm not really sure--I just tried that on my iPhone and couldn't replicate.

That being said, running a Lighthouse test surfaces some useful findings, specifically:

Are you perhaps registering event listeners (e.g. scroll, mousewheel, etc.) and then not deregistering them? Or perhaps registering for _lots_ of events or something?

Looks like you're using jQuery 2.2.0 for something (and Modernizer

[2019-05-22 20:35] gillkyle commented on #13131
Have you had any time to look over the meta issue (#13708) @andrewfairlie?

There are a couple examples of evaluations linked from that issue of what it would take to make improvements to the docs for finding and explaining source plugins.

[2019-05-22 20:37] dragonflypl commented on #14247
Ok, thanks. Yeap, this is adoption of some themeforest template which is quite old. I'll update stuff soon.
Thank you for looking into it.

Btw... I have also issue with preloading. E.g. I'm using Link component but it seems that Gatsby does not preload anything (e.g. when I hover over Portfolio link on Desktop). Is it normal behavior i.e. Gatsby can decide not to preload?

[2019-05-22 20:38] DSchau commented on #14247
@dragonflypl no. The Gatsby Link component preloads content when it's in the browses viewport, and then fetches that content when it's hovered (e.g. on desktop).

You can check your head tags to see what's happening there:

<img width="737" alt="Screen Shot 2019-05-22 at 3 38 27 PM" src="https://user-images.githubusercontent.com/3924690/58207132-af10b080-7ca7-11e9-8d54-392e056377a5.png">

Going to

[2019-05-22 20:38] #14247 closed

[2019-05-22 21:18] kwiechmann opened #14255 "[bug]: Avoiding "plugin has generated no Gatsby nodes. Do you need it?""
## Description

Have run across more than a few Gatsby examples working with remote images and needing to apply the blur up effect (e.g., https://www.wildsmithstudio.com/blog/remote-images-with-gatsby/ by Matthew Smith). The examples typically hook into `exports.sourceNodes` but this results in a "no Gatsby nodes generated" warning message appearing in the Gatsby startup information. Since multipl

[2019-05-22 21:36] ahmdsolmn opened #14256 "[gatsby-transformer-json] parse json with a field that has multiple types"
## Summary
Using `gatsby-transfromer-json` and the `data` folder contains `terms.json`
[code]
The type interface is
[code]
When trying to parse the above json the `items` field is ignored. What I expect is to be able to do a query and get the whole json with `items` and `title`

## Relevant information

### Environment (if relevant)

  System:
    OS: Linux 4.4 Ubuntu 16.04.5 LTS (Xenial Xerus)

[2019-05-22 21:59] jonniebigodes commented on #14256
@ahmdsolmn can you share a reproduction following this [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) , so that it can be looked at? I don't mind going over it and try to solve your issue. Sounds good?

[2019-05-22 22:56] gillkyle opened #14258 "[docs] [workflows] Embedding components in Markdown with MDX"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to embed my React components into Markdown with MDX.

# Evaluation

[Change emoji below based on your evaluation.]

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😐 | 😄 | 😐 | 😐

[2019-05-22 22:57] gillkyle commented on #13708
Just began work on:

10. Embedding components in Markdown with MDX

over in #14258.

[2019-05-22 22:58] martinpsz commented on #14223
Here is what I am seeing in the console. Not sure if it is related.

![Screen Shot 2019-05-22 at 6 56 15 PM](https://user-images.githubusercontent.com/8620006/58214395-8a2a3680-7cc3-11e9-9a16-0acee5d010cc.jpg)

Thanks for the help. I'll seek to reopen with video evidence if problem continues

[2019-05-22 23:17] chryw commented on #7917
This closed without a good solution. Is there any plan to remove the style?

[2019-05-22 23:46] marcysutton commented on #13812
As there is a [blog post](https://www.gatsbyjs.org/blog/2018-06-18-moving-from-create-react-app-to-gatsby-js/) on this already, we should focus our efforts on creating a reference doc instead! Good find, @gillkyle. If you have any bandwidth to take this on, a doc would be a great thing to work on. I'll assign it to you if that's ok!

[2019-05-23 00:05] anhnk commented on #9207
We are having the same problems as described in this PR. I'm just wondering if it is being actively worked on at the moment.

[2019-05-23 00:15] KyleAMathews opened #14260 "Write blog post about image lazy loading in gatsby-image"
it's sweet and the world should know more about it

[2019-05-23 00:15] KyleAMathews commented on #14260
sorry @f0rr0 :-D

[2019-05-23 01:19] #12948 closed

[2019-05-23 01:34] Moocar opened #14262 "Add prefetch for linked component modules to page HTML"
## Background

The new [per-page-manifest](https://github.com/gatsbyjs/gatsby/tree/per-page-manifest) feature replaces the global `pages-manifest` with a `page-data.json` for each page. The pages-manifest meant that the browser had all the component and dataPath information it needed, and could therefore prefetch component and query results in parallel. Since we no longer have the global list of a

[2019-05-23 01:45] hydrosquall commented on #13642
It sounds to me like a middle term step is to build a “lite” version of the
docs site on each deploy which omits the showcase and uses simpler
placeholder images.

The limitation with now and surge is that they host built assets, but don’t
actually build the assets for you, and we can’t afford to build whole docs
site for every push to every PR branch in CircleCI.

With Netlify we could build depl

[2019-05-23 02:00] KyleAMathews commented on #13642
Going to close this as we're close to an mvp for the Gatsby Cloud build service I announced in NYC recently. We'll be building preview versions for PRs here.

Thanks for everyone's interest! It's definitely been a bummer not having them and excited to get them back.

Video of my talk for reference https://youtu.be/bCclhXnYsTk

[2019-05-23 02:00] #13642 closed

[2019-05-23 02:35] agentofuser commented on #14133
@freiksenet you're welcome :) I'd love to help, yes. I will probably have time to write that PR in a week or two if waiting that long is ok.

[2019-05-23 02:50] lsguillory commented on #14203
Thanks for the tremendous effort you put into the feedback. I'm sorry so much trouble was caused by a comma. I reviewed those document I know 20 times and can't believe I missed it. I'm going to work on the other feedback you gave as I appreciate that also. I have a ways to go as, Yes, I am a newbie to gatsby but I'll keep trying to learn. Again, thanks and I will close this issue.

[2019-05-23 02:50] #14203 closed

[2019-05-23 04:11] rgesulfo opened #14263 "How to integrate gatsby.js with Bugsnag?"
## Summary

I was wondering if anyone had some experience using Bugsnag (bugsnag.com) with Gatsby?
As I'm not too sure how to do it.

Thank you in advance for your help.

[2019-05-23 04:38] sonapraneeth-a commented on #14221
I'm trying the following but it is not working @jxnblk . I'm unable to use the theme set in ThemeProvider of emotion in Global styles. Any idea on how can it be done?

[code]

[2019-05-23 05:20] kepi0809 commented on #13930
hey @jonniebigodes yeah that's might be it, I'll check it today or tomorrow and give you feedback, but it's most probably, because I used to have these plugins but removed them because of too long build process (I used childimagesharp too and it made the build more than 30 minutes long)

Thanks for the tipp, I would've never thought that these plugins might be required for that too. 👍

[2019-05-23 05:53] akzhy opened #14265 "Use jQuery plugins"
## Summary

I am in a situation where I need to use a couple of jQuery plugins like owl carousel.
But I can't just import them as I get the error
`TypeError: Cannot read property 'fn' of undefined`

## Relevant information

I tried importing them as follows

`import $ from "jquery"`

and

`import owlCarousel from "owl.carousel"`

What is the proper way to import jQuery so that other plugins can be

[2019-05-23 08:53] idesignpixels commented on #11160
@tonystaark I might be to do with adsense not being fully setup, feel free to message me a link to site/code via the contact form on the [website](https://www.idesignpixels.com/contact) and I can take a peek.

[2019-05-23 11:56] stefanprobst commented on #12832
I'm closing this as it should be fixed - feel free to open if there are still issues. Thanks

[2019-05-23 11:56] #12832 closed

[2019-05-23 12:02] chvas-navi opened #14268 "[v1 -> v2] Problems with module imports after migration."
## Description

*SHORT*: After migration from v1 to v2, for some imported modules, contents is differ to what was before migration.

*DETAILS* (for now, only related to problem):
1. There is some project that use **Gatsby**, **React**, **Typescript** and other packages (**firebase**, **match-sorter**, **qs**, **moment**, other) (all yarn (npm) packages).
2. To it, were applied migration from here

[2019-05-23 12:02] Sondro commented on #14012
Thanks a lot this should be useful. Haven't had time to try it, but seems like it should work.

[2019-05-23 12:02] #14012 closed

[2019-05-23 13:19] lannonbr commented on #14263
@rgesulfo It looks like they have support for React as described here: https://docs.bugsnag.com/platforms/javascript/react/

That said, they describe that you can call ReactDOM.render to wrap your app with a `<ErrorBoundary>` component. In the Gatsby world, we reccomend if you want to wrap the root element, use the `wrapRootElement` api described in the [Gatsby Browser APIs](https://www.gatsbyjs.o

[2019-05-23 13:43] dwehrmann opened #14270 "different build / serve directories"
I was wondering whether it is possible to have a custom output folder for `gatsby build` and `gatsby serve`.

Here's my use case: We have a gatsby site deployed on a root server (netlify can not be used for our project) via `gatsby serve`. We have decided against webhooks, instead the site is re-built every hour via cronjob.
Whenever the new build process starts, gatsby wipes its public folder, th

[2019-05-23 13:57] #14179 closed

[2019-05-23 14:14] rwieruch commented on #10701
For anyone who runs into it, I solved it for my case with the following npm script:

[code]

Now if a build fails, it doesn't copy the files into the *production/* folder. If the build succeeds, it wipes the *production/* folder and copies all content over from the *public/* folder. My webserver points to the *production/* folder now.

Note: There is no way to rename Gatsby's output directory for

[2019-05-23 14:17] jxnblk commented on #14221
@sonapraneeth-a I'm not 100% sure on the Emotion syntax you have, but I've done something like the following:
[code]

[2019-05-23 14:30] gillkyle commented on #13812
Yeah I can take this on! I'll get to it as soon as I can 👍

[2019-05-23 14:50] LekoArts commented on #14270
You shouldn't use `gatsby serve` in production, it's only for testing purposes. Please use a webserver like `nginx`! Most people (also Netlify does that afaik) build their site in another directory and then copy over the files to the `www` of the webserver.

[2019-05-23 15:27] #14190 closed

[2019-05-23 15:31] maxpou opened #14274 "[question] combine theme & starters?"
Hey,

6 months ago, I completely rewrote my blog using Gatsby.js. But, I wanted to share my work to the community. So, I created a starter and I based my blog on this starter.
I have:
* Starter: https://github.com/maxpou/gatsby-starter-morning-dew
* Website: https://github.com/maxpou/maxpou.fr (using starter)

Every-time I wanted to fix a bug/add functionality, I have to do it twice. One per repo.

[2019-05-23 15:56] jacksaunders opened #14275 "Need help with conditional rendering of component on site load depending on conditions in the browser"
## Summary
I have a split test component that conditionally renders components however because the calculations need to be done in the browser based on a cookie that is set by nginx im getting a flash of the wrong component on load.

## Relevant information

I have written a custom A/B testing component for testing individual components in react. it works pretty similar to https://www.npmjs.com/pa

[2019-05-23 16:03] bakeruk commented on #13956
@btahir are you deploying the output of `gatsby build`?

Facebook sees the same content which is in `public/index.html`. Could you show us your version of that file please?

[2019-05-23 16:06] DSchau commented on #14265
@akzhy would you be able to supply a [reproduction](https://gatsby.dev) for what you've tried thus far? Even in a broken state--it would be a helpful basis for us to get started with.

In general, I think you'll want to do something like this in *gatsby-node.js* to inform Webpack of the jQuery global.

[code]

[2019-05-23 16:14] bakeruk commented on #5726
Sure, the URL is **`https://www.gravitywell.co.uk/`**.

For now, I have created a `html.js` file to get something generated but this is not a great solution.

**html.js**
[code]

**`https://www.gravitywell.co.uk/insights/`** should have the `og:title` meta data of,

`<meta property="og:title" content="Insights" data-react-helmet="true">`

[2019-05-23 16:20] halkeye opened #14277 "Update dashboard github apps info [slightly unrelated]"
## Description

When I goto the gatsby dashboard github page, it says the url is localhost:8000

### Steps to reproduce

goto https://github.com/settings/connections/applications/e0358f043a6c3048612d

### Expected result

Should have the actual url

### Actual result

localhost:8000

I know this isn't gatsby code related, but I couldn't find a related repo to put this in. I'm trying to clean up my

[2019-05-23 16:21] DSchau commented on #14268
Hello!

This will be a bit more difficult to trace down in the absence of a [reproduction](https://gatsby.dev/reproduction) so in the interest of allowing us to help you most effectively, I'd strongly suggest you provide one if you're able!

That being said, I have a few questions:

1. Did you also upgrade Firebase? Perhaps it changed how it was distributed/packaged?
1. Have you checked out [this

[2019-05-23 16:35] bakeruk commented on #5726
Forgot to mention, here is my `gatsby-ssr.js` file,

[code]

[2019-05-23 16:41] DSchau commented on #5726
@bakeruk lovely site! So yeah, there's definitely something blocking SSR here. The index route (e.g. https://gravitywell.co.uk) is definitely serving empty content, which can be verified with `curl https://www.gravitywell.co.uk | grep div`

Would you be able to share (privately is OK, but ideally in this issue--dustin at gatsbyjs dot com, if not) your site?

[2019-05-23 16:46] DSchau commented on #14263
@lannonbr @rgesulfo exactly! You'll want to use the APIs that Benjamin noted.

What would be _super cool_ is you first get this working with your own application, and once done, this can then be extracted into a standalone plugin so that anyone in the Gatsby ecosystem can get Bugsnag functionality working in their application super-easily!

The idea here is that you'll use gatsby-browser.js to imp

[2019-05-23 16:56] rgesulfo commented on #14263
Thank you @lannonbr for your quick reply. It works.

Here is what I ended up doing for future reference:

_gatsby-browser.js_
`import React from 'react';
import { Provider } from 'react-redux';
import bugsnag from '@bugsnag/js';
import bugsnagReact from '@bugsnag/plugin-react';
import createStore from './src/state/createStore';

const bugsnagClient = bugsnag('BUGSNAG_ID');
bugsnagClient.use(bugsna

[2019-05-23 17:04] DSchau commented on #14255
Hello!

Thanks for this question.

The `sourceNodes` API should be used (as its name would indicate) to create nodes. A remote file node is a special type of node in Gatsby, which does not trigger the create node hook/check as you noted.

In this example, it seems like that blog post is giving slightly misleading information. What I would rather recommend here (instead of overloading node fields)

[2019-05-23 17:04] #14255 closed

[2019-05-23 17:07] lannonbr opened #14278 "[blog] Blog suggestion: Integrating Bug Monitoring software tools into Gatsby"
## Summary

Throughout the past few years, many tools like [Sentry](https://sentry.io), [Rollbar](https://rollbar.com) and others offer experiences that if a user runs into a bug, rather than having a user submit a bug report with the bug and their environment settings, the software will do it automatically.

I think it would be neat for someone who has a Gatsby workflow with one of these platform

[2019-05-23 17:27] #13532 closed

[2019-05-23 17:29] DSchau commented on #14274
Hello!

In general, we're big fans of monorepos at Gatsby. A pattern we like is a top-level folder called `themes`, wherein the themes are developed. You could then use another folder, e.g. `starter` that would then _use_ these exposed themes.

However, you may note an issue here, specifically that as a user _using_ your theme they wouldn't be able to use `gatsby new <your-repo-url>` here very cle

[2019-05-23 17:29] #14274 closed

[2019-05-23 17:45] Jivings commented on #11524
@coreyward Looks to affect around 1% of traffic for us.

[2019-05-23 17:47] Ameobea commented on #13608
Right now, I'm using @d4rekanguok's workaround library for my personal site.  From what I've seen here, it doesn't look like there has been any generally accepted solution, but several options have been proposed.

If someone more familiar with the Gatsby ecosystem wants to propose their preferred way forward, I'd be willing to do some work on this and try to get it resolved.

[2019-05-23 17:55] xBau commented on #13072
Same issue here. A whitelist would be fine for me.

[2019-05-23 18:19] jlengstorf commented on #13708
@gillkyle thanks! Feel free to edit this issue to add the reference to the checklist above!

[2019-05-23 18:23] DSchau commented on #14248
@oldmannseamus could you provide a little more detail as to what you're doing in gatsby-node.js? Does `result.contents` contain links that aren't prefixed?

We expose `pathPrefix` and `basePath` (which is actually what pathPrefix is now that we've created the [assetPrefix functionality](https://www.gatsbyjs.org/docs/asset-prefix/) to our plugin APIs, e.g.

[code]

If you could supply a [reproducti

[2019-05-23 18:25] DSchau commented on #14250
Hello Walter!

We're so glad to have you here, and we love that you put together a starter.

We'd love to accept your submission to our Starter Library. You can read more about doing so [with this documentation for adding to the Starter Library](https://www.gatsbyjs.org/contributing/submit-to-starter-library/).

We look forward to your pull request!

Thanks!

[2019-05-23 18:25] #14250 closed

[2019-05-23 18:30] DSchau commented on #14249
Ugh, that's unfortunate!

We rely on Algolia (and specifically docsearch) for that functionality, and there's occasionally some intermittent misses when the READMEs for those packages are parsed from their end.

If you're curious, the code for how we generate those pages is encapsulated in [`gatsby-source-npm-package-search`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-np

[2019-05-23 18:30] #14249 closed

[2019-05-23 18:34] DSchau commented on #14245
@yesh could you provide a [reproduction](https://gatsby.dev/reproduction)?

In general, my guess is that presuming there are images they may be associated with a `localFile` field as in your first example. So the query could be something like:

[code]

It also looks like you've forgotten to pass the `traceSvg` option to the image arguments, so that is almost certainly an issue. In the absence of a

[2019-05-23 18:36] webdevpchoi commented on #14249
Awesome, thank you for your input Dustin!

On Thu, May 23, 2019, 11:30 AM Dustin Schau <notifications@github.com>
wrote:

[2019-05-23 18:40] DSchau commented on #14277
Hello!

We use that application to associate your Github account for rewards, e.g. the [GatsbyJS Swag Store](https://store.gatsbyjs.org). The URL is for the _project_ not necessarily for the end user.

It's associated with your account when you purchase something from the GatsbyJS store, so we hope you'll keep it around. Specifically, some more helpful info:

**Name**

**Description**

Nothing mal

[2019-05-23 18:40] #14277 closed

[2019-05-23 18:51] kalwalt commented on #14250
Thank you @DSchau I will think about it!

[2019-05-23 18:52] DSchau commented on #14243
@maxwell8888 I followed your reproduction, and it works just fine!

![Screen Shot 2019-05-23 at 1 50 54 PM](https://user-images.githubusercontent.com/3924690/58278508-d2983180-7d61-11e9-98c8-aa9d4d44dc14.png)

I've provided a [working example here](https://github.com/DSchau/gatsby-14243) so I'm going to close this as answered. Please reply or re-open if we can help further, thanks!

[2019-05-23 18:52] #14243 closed

[2019-05-23 18:53] DSchau commented on #14175
As @wardpeet has provided an example (presuming that works like you'd expect!) we're going to close this out.

Please reply or re-open if we can help further. Thanks!

[2019-05-23 18:53] #14175 closed

[2019-05-23 18:56] DSchau commented on #14232
Hello!

A [reproduction](https://gatsby.dev/reproduction) would indeed be helpful!

My _guess_ is that the MediaQuery component isn't SSR friendly, and so because `gatsby develop` is effectively a client-side app, and `gatsby build` is a statically rendered app that hydrates client-side, that that would explain the idiosyncrasy.

Thanks!

[2019-05-23 19:03] DSchau commented on #13956
Your meta tags are as follows:

[code]

Weirdly it does seem like your tags aren't being parsed (e.g. og:title and og:description are not being picked up). Could you share a reproduction and/or more info as to how you're creating the meta tags? Perhaps Facebook's parser is choking on other content prior to the meta tags? Not sure--hard to tell!

Thanks!

[2019-05-23 19:07] halkeye commented on #14277
@DSchau can you still update the oauth info it uses to be a real url? like https://store.gatsbyjs.org/

[2019-05-23 19:15] dragonflypl opened #14279 "Issue with gatsby-image : generated images are larger than original and worse in quality"
## Summary

I started to use gatsby-image to optimize images.

- on page before optimization <https://2m2.dragonflypl.now.sh/portfolio/> original image of size 1200x848 <https://2m2.dragonflypl.now.sh/images/folio/thumbs/biblioteka-uek-1.jpg> is 107kB in size
- on page after optimization <https://2m2-optimized.dragonflypl.now.sh/portfolio/> served image is of size 400x283 <https://2m2-optimized.dr

[2019-05-23 19:18] KyleAMathews commented on #14279
We don't recommend using quality 100 as that (as you found out) generates very large images.

50-75 is generally a good range (we default to 50).

How wide is the container you're showing the images? Perhaps `maxWidth` should be larger?

[2019-05-23 19:24] d4rekanguok commented on #13608
@Ameobea Hey Casey! The [fix upstream](https://github.com/syntax-tree/mdast-util-toc/commit/6fbb12320ffc9a7f5660f1355e59eb6a3f37ec56) (thanks to the awesome work of wooorm & Barry) has been merged but I haven't got the chance to continue to work on this.

In short, the problem was that `gatsby-remark-prismjs` inject html into the headings, but `mdast-util-toc` ignore phrasing contents in headings.

[2019-05-23 19:38] dragonflypl commented on #14279
Indeed, max width should be slightly larger as in 2 col layout image was stretched.

I don't quite get it with quality param... I would like to preserve an image's quality and only have it resized. What config should I use?

[2019-05-23 19:41] DSchau commented on #14279
@dragonflypl the idea is that because you're already dealing with a lossy image (`.jpg`) that we can optimize even further, resulting in a smaller (by file-size) image that is generally visually indistinguishable to the end user.

Think of it as analogous to a compiler optimizing code. The code will still run the same way (as far as the end user is concerned) but it will be optimized, smaller, and

[2019-05-23 19:44] dragonflypl commented on #14279
I've used 500 width + quality 75.  Looks better in terms of size and image quality, still, images are really not sharp and smoothed too much: https://2m2-optimized.dragonflypl.now.sh/portfolio/ .

Is there anything I can do to make it better?

[2019-05-23 19:46] DSchau commented on #14279
@dragonflypl looks fine to my eyes. Image quality is never going to be 1:1 (thus, a lossy image) but you _want_ the optimization.

**Original**

![Original](https://2m2.dragonflypl.now.sh/images/folio/thumbs/biblioteka-uek-1.jpg)

**Optimized, Smaller Image**

![Optimized](https://2m2-optimized.dragonflypl.now.sh/static/27105dc2b375f80284a4aa9f890478ef/6c094/biblioteka-uek-1.jpg)

Of course it won

[2019-05-23 19:58] KyleAMathews opened #14281 "Preload fonts used on pages"
Fonts don't start downloading until the browser knows they're needed. Which means that the browser has to download/parse the HTML & CSS and start rendering a section of the page before it knows to start downloading the font.

This can cause significant delays in loading fonts.

A common suggestion is to add a `<link preload>` to the page for each font that's used on the page so the browser knows t

[2019-05-23 19:59] KyleAMathews commented on #13746
You might be interested in my proposal here: https://github.com/gatsbyjs/gatsby/issues/14281

[2019-05-23 19:59] KyleAMathews commented on #13074
You might be interested in my proposal here: #14281

[2019-05-23 19:59] KyleAMathews commented on #10475
You might be interested in my proposal here: #14281

[2019-05-23 20:04] pieh commented on #11602
PR adding graphiql-explorer support is open - https://github.com/gatsbyjs/gatsby/pull/14280

[2019-05-23 20:19] dragonflypl commented on #14279
Thanks for the explanation . Closing the issue.

[2019-05-23 20:19] #14279 closed

[2019-05-23 21:08] DSchau opened #14282 "[www]: fix prism language warnings"
## Description

We heavily use Markdown and, in particular, Markdown code fencing for our code snippets. For example:

[code]

We _also_ use some custom features, e.g. titles. When building out gatsbyjs.org some of these code languages and features (titles) are not correct, and are therefore throwing a bunch of warnings. Let's fix 'em.

### Steps to reproduce

1. Clone this repo
1. cd www
1. `yarn

[2019-05-23 21:40] Munter commented on #14281
@papandreou of we can add an opt-out of the subsetting functionality of subfont, we basically already have what's required here

[2019-05-23 21:48] papandreou commented on #14281
You want to take the sub out of subfont? :laughing:

But yeah, that ought to work!

[2019-05-23 22:21] #14188 closed

[2019-05-23 22:44] tusharf5 commented on #14282
Hey, @DSchau I would like to work on this. In fact, I've already started working on it and modified a lot of files.

The following warnings are still left though. I searched the full repo but I couldn't find the files and patterns mentioned in the following warnings. Do you have an idea where these could be? I don't think these are in the repo or in specifically in the docs/ directory.

[code]

[2019-05-23 22:56] DSchau commented on #14282
@tusharf5 I believe that those are third party packages/plugins, which is frustrating!

If you're feeling really fiery, you could identify which packages (their README.md) and then PR changes.

Here's a helpful query to detect (open up localhost:8000/___graphql after running gatsby develop)

[code]

For example, the `.json` lang is coming from `gatsby-plugin-intl-url`, `flowchart` is from `gatsby-

[2019-05-23 23:08] tusharf5 commented on #14282
@DSchau Did you mean to say that these files that exist in other packages, I should identify these packages and then submit a PR to their respective projects? Also, can I send a PR of the changes done in markdown files in this repo now or should I do it after I've identified all of them (including those from 3rd party packages)?

[2019-05-23 23:19] bruceontheloose opened #14285 "Events data from The Events Calendar WP plugin not showing up in GraphQL"
## Summary
Events data from The Events Calendar is showing up in WordPress API but not GraphQL.

## Relevant information
Hello,

We are using the free version (i.e., non-Pro) of The Events Calendar (https://theeventscalendar.com/product/wordpress-events-calendar/) WP plugin in WordPress 5.1.1. The events do show up in the WP API (at https://our-domain.com/wp-json/tribe/events/v1/events), but they

[2019-05-23 23:30] tusharf5 commented on #14282
We can also put a config like this in `gatsby-config.js` to make it work for 3rd party markdowns.

[code]

[2019-05-24 02:01] fk commented on #14190
Oh wow, niiiiiiice! 💥
Thanks @thecodingaviator!

[2019-05-24 03:42] maxpou commented on #14274
Thank you so much @DSchau for your very detailed response!

[2019-05-24 04:35] iamskok commented on #5030
If anyone can reproduce this bug, please share it [here](https://github.com/iamskok/gatsby-remark-code-buttons/issues/1)

[2019-05-24 05:48] btahir commented on #13956
I will work to get a simple reproduction.

I am using this as my starter so it's very similar: https://github.com/parmsang/gatsby-starter-ecommerce

Here is the my SEO file in the mean while:

[code]

[2019-05-24 07:36] marcosilvestroni commented on #14232
Also moving the link inside the "UltimiAnnunci" components solves the issue but it's the the best solution for other use cases

[2019-05-24 08:03] Zyclotrop-j commented on #13763
Has there been any idea how to approach this problem?

[2019-05-24 09:00] yesh commented on #14245
hi @DSchau, I don't think this is an issue or a gatsby bug, I posted this as a question/help.

the first example is something I found digging around in docs and discussion, and afaik it works.
the second one is my case, with Contentful fragments, and testing both in code and in `http://localhost:8000/___graphql`, adding `traceSvg` argument in 'fluid' (like the first example) does not work.

withou

[2019-05-24 09:25] maciekgrzybek commented on #12552
Hey guys, not sure if that will help, but I'm having same issue, when I'm querying images from Contentful. I've managed to narrow it down to this situation:
1. Initial version of query when I was getting the error
[code]
2. I've removed the 'fluid(maxWidth: 800, maxHeight: 600)' part, and it's started working.
3. Next day I got the same error again.
4. I've put back the 'fluid(maxWidth: 800, maxHe

[2019-05-24 10:11] pieh commented on #14285
Is there any chance you can share url to wordpress instance with this plugin enabled? It would save us some time having to setup this up before even starting to debug it.

[2019-05-24 10:14] #12157 closed

[2019-05-24 10:22] akzhy commented on #14265
Thank you, but that didn't work.
Anyway I ended up using vanilla js alternatives.

[2019-05-24 10:22] #14265 closed

[2019-05-24 10:53] benjam1n opened #14292 "Problem with sourceNodes promises"
Hi there, does anyone have any idea why nodes are not being created?

[code]

[2019-05-24 10:58] pieh commented on #14275
Just to be clear - branch here doesn't mean git branch - it's A/B variant?

In any case - we would need to build 2 variants of the site or page ahead of time and we could let nginx determine which html to serve for first-paint based on the cookie, so there is no flash of wrong component - details on how to do this will depend on your exact setup, so I hope to hear more

[2019-05-24 11:00] pieh commented on #14292
We need to wait for all promises created from `placeIds` to finish - right now they are not being `await`ed - please use something like:

[code]
(+ adding closing `)` to match one added for `Promise.all`

[2019-05-24 11:06] pieh commented on #14239
Does this happen just on output from WYSIWYG editor fields (like `content`) or on different fields as well? For content (etc) it would be expected to use `dangerouslySetInnerHTML` as it would contain html tags (like `<p>`) which wouldn't render correctly without it.

[2019-05-24 11:07] #14292 closed

[2019-05-24 11:35] g-elwell commented on #14239
It's on non WYSIWYG fields too. I first noticed it on a `title` that was using an apostrophe, as I'm using `dangerouslySetInnerHTML` for `content` myself.

[2019-05-24 11:39] cameron-martin opened #14293 "Make requests not send credentials"
## Summary

Make gatsby not send credentials when making requests - currently in the following 2 places:

https://github.com/gatsbyjs/gatsby/blob/eaa08cfd7d9bf3e34209eec58a488585f25726e2/packages/gatsby/cache-dir/loader.js#L87

https://github.com/gatsbyjs/gatsby/blob/eaa08cfd7d9bf3e34209eec58a488585f25726e2/packages/gatsby/cache-dir/static-entry.js#L300

### Motivation

We have a slightly weird se

[2019-05-24 11:56] thecodingaviator commented on #14190
Thanks @DSchau and @fk

[2019-05-24 11:59] PutziSan commented on #10179
One option would be to use [react-helmet-async](https://github.com/staylor/react-helmet-async) as an alternative to react-helmet.

[2019-05-24 12:09] pieh commented on #14293
This is weird case - reason for using this in first place is that `<link rel="preload">` tag we add to <head> and then fetching it sometimes would create duplicated requests (that's why XHR is used there and not fetch ... and that's why there is bunch of weird attributes) - see https://github.com/gatsbyjs/gatsby/pull/4555/commits/9008479b10fbefdf426c1f9c8b1e27477d502f0b for change that was made th

[2019-05-24 12:15] pieh commented on #14293
I'm not sure if anyone actually is using credentials, so if we can replicate behaviour of not duplicated requests. Tt was some time ago since I tested it, and might be it was fixed - if it was chrome bug then (it might be just security reasons, didn't find much information on this topic).

In general I would very much love to avoid adding options like that and adjust what currently is there if pos

[2019-05-24 12:26] ImedAdel commented on #9793
For anyone looking for a solution, you can use [`gatsby-plugin-react-svg`](https://www.gatsbyjs.org/packages/gatsby-plugin-react-svg/) or [`gatsby-plugin-svgr`](https://www.gatsbyjs.org/packages/gatsby-plugin-svgr/) to import your SVG files as React components.

[2019-05-24 12:38] jacksaunders commented on #14275
Yes sorry i mean variant.

The setup is fairly straight forward the build is uploaded to an S3 bucket, what would you need to know from an nginx point of view to determine this?

[2019-05-24 13:00] nratter opened #14296 "[gatsby-plugin-guess-js] Add config option to disable the plugin in development"
It would be nice to be able to disable the gatsby-plugin-guess-js plugin while in development. Maybe just through a configuration option?

[2019-05-24 13:04] cameron-martin commented on #14293
So is it setting `withCredentials` that fixes this bug, or the switch from `fetch` -> `XHR` or a combination of both? Do you have any more details on this bug?

I'm not sure either, but a valid use-case for this would be a static site sitting behind an authentication proxy. But I'm not sure if anyone is doing this, or whether this actually works (since every request would have to be done with cred

[2019-05-24 13:07] Eltyo commented on #13073
For those waiting patiently for this PR, I'll quickly share my solution for deploying to Netlify:

In your `.gitignore` file replace `node_modules/` with
[code]

Save and commit the PR changes, then change your Netlify build command to `git reset --hard && gatsby build` (git reset is needed since `yarn install` will overwrite your changes). Give your site the `GATSBY_CONCURRENT_DOWNLOAD` environme

[2019-05-24 13:32] pieh commented on #14275
Are all your request going through nginx? If so, we could create 2 separate pages for your 2 variants:

in `gatsby-node`:
[code]

In your page you can get `variant` by using `pageContext.variant` prop in your template to determine which one to use for SSR (so you probably should check cookie first and fallback to that prop if not available)

And in nginx, serve when someone requests `some-path/ind

[2019-05-24 13:32] pieh commented on #14275
(it's pretty hacky, because we didn't do much research on canonical example for A/B testing)

[2019-05-24 13:39] tonystaark commented on #11160
@idesignpixels I have dropped you a request through the contact form. Also you can refer to my github repo for the blog codes. Let me know thanks.

[2019-05-24 13:42] vijaykolar commented on #8153
Hi,

Hash classes are generating in local but not in production

[2019-05-24 13:46] dwehrmann commented on #14270
@LekoArts Hmm okay thanks, I understand. Nginx only serves me a list of all the files in the public directory, not the actual website – but I recognize that would be a nginx config issue on my side. Just out of curiosity, where are the downsides with `gatsby serve`? I am running it with [pm2](http://pm2.keymetrics.io) and it works pretty well so far, nginx currently does the reverse proxy.

Yes, I

[2019-05-24 14:05] jacksaunders commented on #14275
Thanks, this is very useful thanks, i will see what i can put together, my only real reservation for this is if i have numerous split tests going on there could potentially be quite a lot of variations being generated as someone could be in split test variant_a for one split test and variant_b for another

[2019-05-24 14:24] pieh commented on #14293
over 1 year ago I used https://github.com/pieh/link-preload-fetch as barebone example of issue - I don't remember specifics but I think that not using `withCredentials` was resulting in double requests (I'm not quite sure if this is bug or intended behaviour, as I mentioned I couldn't find much information back then)

[2019-05-24 14:30] cameron-martin commented on #14293
I just ran that demo and:
* In chrome, everything except "base" only results in 1 request to `data.json`.
* In firefox, they all result in only 1 request.
* In edge, the top 2 result in 2 requests, and the bottom 2 result in only 1 request.

Possibly we could use `crossorigin="anonymous" / xhr` now then?

[2019-05-24 14:41] pieh commented on #14296
I'm thinking that this should be just disabled in development. It doesn't make much sense to have it enabled there I think?

[2019-05-24 15:01] nratter commented on #14296
I agree.

[2019-05-24 15:38] chvas-navi commented on #14268
Hi @DSchau . Thanks for reply.

**My answers:**
1. For now I can't give reproduction. But maybe in near future.
2. `Did you also upgrade Firebase?` - please see **Addition-1** higher.
3. I tried to use `babel-plugin-add-module-exports`, didn't work and broke other import.
4. `Have you checked out this Firebase starter?` - thanks, but for now, I am searching such solution, that not need changing of

[2019-05-24 16:06] pmarxbraun commented on #5371
Hey,
Can't build my site, I got this error

[code]

whereas it works with other base URL. Any ideas ? thanks

[2019-05-24 16:25] cj2 opened #14300 "[gatsby-source-shopify] Timeouts during load; Limit of 250 is too large?"
## Description

Gatsby Shopify source plugin throws unhandled Timeout exception while building cache. When modifying the GraphQL query to use `first: 150` rather than `first: 250`, the cache is built and Gatsby starts.

### Steps to reproduce

1. Create a new Gatsby project
2. Add the Shopify source with API key (our store has 4300 products inclusive of unique variants)
3. Run `yarn start`

### Ex

[2019-05-24 16:32] marcysutton commented on #13475
Some notes and user stories/acceptance criteria from internal MDX component scoping:

Breadcrumbs provide another way for users to discern their location in the docs. By creating a reusable component for breadcrumbs, a hierarchy of links would be automatically added to every page and provide immense value to users. The component could handle its own responsive styling to be self-contained.

## Acc

[2019-05-24 16:41] KyleAMathews commented on #7251
@freiksenet @stefanprobst is this fixable now?

[2019-05-24 16:59] RedHoodJT1988 commented on #14278
I would love to work on this. I am currently developing a site now with Gatsby that will have a blog attached to it. Would it be ok to take this on @lannonbr?

[2019-05-24 17:01] DSchau commented on #14278
@RedHoodJT1988 it's all yours 👍

[2019-05-24 17:04] RedHoodJT1988 commented on #14278
Awesome. Just to clarify, you want me to write a blog about using Gatsby with Sentry, Rollbar or any one of the other similar bug reporting libraries correct based on my own use of the libraries right?

[2019-05-24 17:06] jonniebigodes commented on #14256
@ahmdsolmn with this comment, i'm going to enumerate the steps i took to replicate your issue and how to solve it and what is actually happening.
- Created a new Gatsby website with the hello world starter to keep it simple.
- Added the dependencies `gatsby-source-filesystem` and `gatsby-transformer-json`.
- Created a `data` folder in the root of the project and added inside the `terms.json` file

[2019-05-24 17:06] marcysutton commented on #14136
Can you describe the problem a bit more–what is the top-level link field? I looked through the commits and links in your description but I still couldn't tell how that came about.

That said, we want to keep READMEs and docs as straight-forward as possible for a wide range of situations. What I'd like to determine is how common this use-case is, and potentially include some "advanced setup" instru

[2019-05-24 17:06] lannonbr commented on #14278
@RedHoodJT1988 The idea is more on creating a blog post for the [Official Gatsby Blog](https://www.gatsbyjs.org/blog/) on how to integrate those kinds of bug reporting software with a Gatsby site and insights about the experience.

[2019-05-24 17:07] RedHoodJT1988 commented on #14278
Ok awesome. That works even better. Thank you for the clarification. I will get started on that right now.

[2019-05-24 17:14] jonniebigodes commented on #5371
@pmarxbraun check your posts if they have tags, at least one tag and categories. based on the error you posted it looks like that's the case. Check if that's the case and once the posts are updated, issue `gatsby clean` to purge the data that is cached, so that you can get a "clean slate" and `gatsby develop` and see if the issue happens again. Sounds good?

[2019-05-24 17:27] #13551 closed

[2019-05-24 17:29] heejongahn commented on #14136
@marcysutton when you generate feed with [the configuration of list item #1 on the original issue](https://github.com/heejongahn/blog/blob/8d4c5a8f22196c3dbe4c0b86a9dd165a4b625306/gatsby-config.js#L11-L64), you get:

[code]

what bugged me was that my feed isn't the feed of `http://github.com/dylang/node-rss`; it's the RSS feed for my blog. (see line #9 of the code snippet above – `<link>http://gi

[2019-05-24 17:58] victorjspinto commented on #7899
Sadly, i got this error

[code]

So, I had to change my config to this
[code]

;D

[2019-05-24 18:11] cwgw commented on #5086
This is still broken.

I've created a PR following the suggestion from @pieh.

[2019-05-24 18:18] ashygee opened #14303 "[www] Icons breaking outside of container"
## Description

The icons in the sections header for Ecosystem and Blog seem to be collapsing out of alignment when resizing the browser under 1000px

### Steps to reproduce
Reproduced by resizing the window.

![gatsbyicons](https://user-images.githubusercontent.com/10384315/58348036-4d218980-7e14-11e9-846a-72ec9da29417.gif)

### Expected result

They should stay in alignment as seen in the screen

[2019-05-24 18:22] sonapraneeth-a commented on #14221
1. From the website(https://www.gatsbyjs.org/docs/browser-apis/#wrapRootElement …), I cannot understand if we can add React components in `wrapRootElement`. I want `ThemeProvider theme={}>` to have value based on checkbox selection.

 2. Do we have access to localStorage from `wrapRootElement`? @jxnblk

[2019-05-24 19:14] DSchau commented on #14221
@sonapraneeth-a gatsby-browser is run in the browser, so yes!

[2019-05-24 19:29] JustFly1984 commented on #10179
How to deprecate `react-helmet` for gatsby projects, if for example somebody imports helmet from sub-dependencies gatsby, it could break the build. This looks like breaking change issue.

[2019-05-24 19:49] javidhsueh opened #14304 "Error: Cannot query field "allImageSharp" on type "Query" when there's no images in the folder"
## Summary
I'm getting error when querying allImageSharp when there's no image in the static folder
<img width="1677" alt="Screen Shot 2019-05-24 at 12 49 54 PM" src="https://user-images.githubusercontent.com/3599601/58353139-92e54e80-7e22-11e9-837f-9677cdd6e06b.png">

[code]
The query will pass if I have one or more images in the corresponding static folder.

## Relevant information

I have a fol

[2019-05-24 20:09] rudietuesdays opened #14305 "globbing with sass"
# Description

My build is failing when trying to specify an importer for allowing for globbing sass files. This happens whether I try to use the importer in `gatsby-config.js` or `gatsby-node.js`.

## Attempt 1

### Steps to reproduce - `gatsby-config.js`
[code]

### Expected result

Successfully compile globbed scss files.

### Actual result

[code]

## Attempt 2

### Steps to reproduce - `gatsb

[2019-05-24 20:32] jonniebigodes commented on #14304
@javidhsueh take a look at [this](https://www.gatsbyjs.org/docs/static-folder/) for usage of the `static` folder and also [this](https://www.gatsbyjs.org/docs/importing-assets-into-files/) and also like you said if there's nothing, Gatsby will overlook the folder as there's no need to apply any image transformation during the build time and with that the graphql error in the query. If there's a su

[2019-05-24 20:34] stefanprobst commented on #7251
This should be working already:
[code]
Note that filtering by `name` should work just as well as by `id`:
[code]
There are other approaches to getting posts by author as well, for example you can add a `posts` field directly on the `AuthorJson` type, or add a custom root query field `postsByAuthor`. Some of those approaches are documented in the [schema customization guide](https://www.gatsbyjs.or

[2019-05-24 20:35] jonniebigodes commented on #14305
@rudietuesdays can you share a reproduction following these [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at  in more detail?

[2019-05-24 20:36] javidhsueh commented on #14304
Yes, I understand these. My question is how to bypass the query error when three's no images in the static folder. It's a bit annoying to see the error in the build time.

[2019-05-24 20:42] jonniebigodes commented on #14304
@javidhsueh put a image in the folder, either a stock image or something like the `gatsby-icon.png` or `gatsby-astronaut.png` used in the default starter. That will probably fix that error.

[2019-05-24 20:50] javidhsueh commented on #14304
Yes, it will fix the error as I described above. Having at least one image in the static folder will solve it. I just wonder if there's a cleaner solution for the query error.

[2019-05-24 20:56] jonniebigodes commented on #14304
@javidhsueh here's the thing. During the build process Gatsby checks the plugins that will be used and sees that you have references to `gatsby-image` and it's dependencies. It continues the process and takes a peek at the folder in question, if it has something that is referenced by `gatsby-source-filesystem`, it will delegate the job of manipulating the images otherwise it will continue it's pro

[2019-05-24 21:31] keithcrooks opened #14310 "[gatsby-plugin-facebook-analytics] Add version, cookie and xfbml config options"
## Summary

The Facebook Analytics plugin has the SDK version hard coded as `v2.12`. This should be a configurable option so that the user can choose their own preferred version without the plugin having to be updated.

### Basic example

Previous plugin config:
[code]

Proposed config:

[code]

### Motivation

The plugin is currently hard-coded to v2.12. The latest version of the Facebook JavaScr

[2019-05-24 21:36] DSchau commented on #14310
Agreed! This would be a great first contribution for somebody.

All plugin APIs have their second argument defined as pluginOptions (options passed to plugins!) so we could add this as an option and default it to 3.3.

I would specifically propose:

1. Let's take this opportunity to update to 3.3 (if it requires a major bump--that's OK!)
    - To the implementor, we're only using [`FB.AppEvents.lo

[2019-05-24 21:36] DSchau commented on #14310
Ha - @keithcrooks you jumped ahead of me 🚀

[2019-05-24 21:37] keithcrooks commented on #14310
Yes, sorry @DSchau, I already implemented this but thought I should also add it here as a feature request with more information than in the PR.

I hope that was okay.

[2019-05-24 21:39] DSchau commented on #14310
@keithcrooks we ❤️ that you did that. It's one of our preferred ways to track on work and open PRs, actually!

Ideally - it's not _quite_ as instant as it was here (e.g. open an issue, core team replies to weigh in on request, etc.) but this seems like a really good feature/fix to get in!

[2019-05-24 21:40] keithcrooks commented on #14310
Thanks @DSchau. Did you want me to implement your suggestion of making the default v3.3?

[2019-05-24 21:43] DSchau commented on #14310
@keithcrooks I left some comments on the PR--so let's just carry that discussion over there.

In general -- I'm not a Facebook analytics user, so it will require some investigation as to whether we can make that change without a breaking change. If we can't, we should keep the PR as is. If we can--then it's OK to update to the latest!

[2019-05-24 22:14] DSchau commented on #14310
Closed by #14311

[2019-05-24 22:14] #14310 closed

[2019-05-24 22:29] v-kistai opened #14313 "Reducing # of output files?"
Question!
My current development environment is a bit Web 1.0, it's a ready made CMS that only accepts copy/pasted HTML and manually uploaded files (think 10 clicks to upload each file).  I won't go into why it's my only option, but truly it is for internal/company reasons.

I would really ease my path to make use of more modern technologies like React to speed along development, while still gener

[2019-05-24 22:31] DSchau commented on #14313
@v-kistai is there any way whatsoever to automate the task?

A brute force solution would be to script the process you do manually with something like [Puppeteer](https://github.com/GoogleChrome/puppeteer) so you could script the manual actions with an automated solution.

I don't think this is going to be something we'll support in core, mostly because it's an extremely niche use case unfortunate

[2019-05-24 22:46] v-kistai commented on #14313
Totally understandable. Puppeteer might be really handy if my CMS were web-based (it's a Windows app), but thanks much for offering the suggestion.  No one happens to know of a SSG that might be more appropriate given my use case would they?

[2019-05-24 23:04] coreyward commented on #11524
@KyleAMathews Hey I just ran into this error on the production GatsbyJS website. After refreshing a couple times the issue went away.

![Screen Shot 2019-05-24 at 6 02 32 PM](https://user-images.githubusercontent.com/81224/58360401-40218c00-7e4e-11e9-8bc7-ec0ff599acab.png)

[2019-05-25 00:29] lightstrike commented on #14239
@g-elwell I've hit this issue with `title` as well. I've just ended up using `dangerouslySetInnerHTML`, it would be good to fix this though :smile:

[2019-05-25 00:30] javidhsueh commented on #14304
Can't we use `resolvers` to deal with this situation gracefully?
https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/

[2019-05-25 02:30] semireg commented on #12967
@janbaykara, I got tripped up on this, too.

Basically, the "How to use" at https://www.gatsbyjs.org/packages/gatsby-plugin-google-gtag/ shows `optimize_id: "OPT_CONTAINER_ID"` which breaks analytics until it is removed.

[2019-05-25 03:04] Francesco-Lanciana commented on #14175
Thanks for finding a way to make it work @wardpeet however I don't understand why the example I provided wouldn't work. Why does useEffect work where just performing some logic in the component doesn't?

I'm having trouble with a site I've been building (https://pockets.fashion) where the top navigation bar at small widths will have the cart right against the logo. This is because an attribute is

[2019-05-25 04:15] bendtherules commented on #13473
Hi,
I would like to work on this documentation.

[2019-05-25 07:06] tsukhu commented on #11524
We have been facing this issue when using the offline plugin and deployment on Azure blob storage plus the CDN. I was reading that the service worker js must not be serviced from the CDN and should be coming directly from the server domain. May be that's the root cause.

[2019-05-25 07:16] tsukhu commented on #11524
We have ers-hcl.github.io that's deployed with the offline plugin and service worker enabled on ghpages .Never faced this issue there which probably points to my earlier comment in terms of the issue being related to the CDN handling of the offline plugin

[2019-05-25 07:20] smakosh commented on #11524
this issue has nothing to do with the offline plugin. And if you're using the offline plugin, make sure to reload or show a push notification to users that new content is available to update the SW.

[2019-05-25 07:20] kml1326 commented on #14282
I also puted this things and it works.

[2019-05-25 07:21] tsukhu commented on #11524
@smakosh whenever we disable the offline plugin this issue goes away for us.

[2019-05-25 07:24] jmolivas commented on #7251
Yup, I can confirm this is working fine

[2019-05-25 08:41] Undistraction commented on #11524
We are seeing it and we don't use the offline plugin.

[2019-05-25 09:15] wardpeet commented on #14175
unsure how the useMedia hook works but the problem is that while building gatsby, there is no way to get the screenResolution so it will fell into the default bucket. In the browser it can do the correct media check and needs to rewrite the HTML because of it. TBH you should try to use css media queries instead of js media queries.

I don't really know a good article that explains "React Rehydrati

[2019-05-25 09:28] ChristopherBiscardi commented on #13707
@adrw This is, as far as I can tell after doing some research, a long-standing problematic area with respect to pnpm, which rush seems to use under the hood that breaks `require.resolve` in this case.

Since Gatsby is using `require.resolve` to find the module, which is exactly node's resolution algorithm, I'm going to close this since pnpm/rush should support this. To clarify, when using rush/pnp

[2019-05-25 09:28] #13707 closed

[2019-05-25 09:50] stefanprobst commented on #14304
@javidhsueh one thing you could do is enforce that a `ImageSharp` type exists in the schema:
[code]

[2019-05-25 10:22] janosh commented on #14018
@kara-todd Glad to hear that @pieh was able to help solve the problem. Since #13028 was merged 9 days ago, I'll close this issue. Feel free to reopen if questions remain.

[2019-05-25 10:22] #14018 closed

[2019-05-25 10:24] janosh commented on #13938
@0ff5ec You may want to checkout what @pieh suggested in #14018 as that resolved the issue for @kara-todd. Might help in your case as well.

[2019-05-25 10:56] sonapraneeth-a commented on #14221
Hi @DSchau, @jxnblk  ,

It looks like I cannot use `useState()` or `this.state` in `wrapRootElement`. Is it true?

I'm doing something like the following but it is not working:

[code]

[2019-05-25 11:08] tsukhu commented on #11524
- I may be wrong - one observation in the file `ensure-resources.js`,  which is the component which throws this error but thought of mentioning just in case.
- Looking at the code for `ensure-resources.js` , it seems to be using `window.location` on line no 81, where as there is a property `location` which is being used in this component in all the other places.

![image](https://user-images.githu

[2019-05-25 11:57] panzerdp commented on #2374
How to setup graphql-code-generator for Gatsby: https://graphql-code-generator.com/docs/integrations/gatsby. Worked for me :+1:.

[2019-05-25 12:32] Paddy888 commented on #12903
I have tried following this tutorial but it is not working for me.

I created compontents/video.js and pasted

`const Video = ({ videoSrcURL, videoTitle, ...props }) => (
  <div className="video">
    <iframe
      src={videoSrcURL}
      title={videoTitle}
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameBorder="0"
      webkitallowfullscreen="true"

[2019-05-25 14:20] JoshuaWalsh commented on #14186
I've updated to 3.0.12

[code]

But blur-up still isn't working properly for me. It appears for a very short amount of time, but then disappears:

![blurUp](https://user-images.githubusercontent.com/2290576/58370621-033bbf00-7f4c-11e9-97bd-728eb8e2923c.gif)

Any ideas?

[2019-05-25 15:22] JeffWScott opened #14320 "Weird image 'popin' before page renders"
## Description

Images and icons are displayed really large on the screen before the page actually loads and renders everything correctly. Lasts half a second or so.

### Steps to reproduce

Install fresh gatsby site
Load in some svg images or icons
Run "gatsby develop" or deploy and build on Netlify
Launch site.

### Expected result

Site renders fine on first load

### Actual result

Images and

[2019-05-25 15:36] oldmannseamus commented on #14248
Thanks, @DSchau.

`result.contents` contains a string that may or may not include markdown formatting, including links. These links are not prefixed when the process completes.

I'm pulling together a repro now and will link it when it's complete. The operative issue appears to be user error: `gatsby-transformer-remark` doesn't export anything, so I'm likely not using it the way it's meant to be.

[2019-05-25 15:37] DanielRuf commented on #14320
Hi @jeanregisser,

this looks like a typical FOUC (flash of unstyled content) which can happen when CSS is loaded and rendered after the content.

How is your setup and how do you load the CSS files (in head, with JavaScript)?

[2019-05-25 17:08] JeffWScott commented on #14320
Hey thanks for the quick reply.

I use4 'gatsby-plugin-sass' in gatsby-config

Then `import '../styles/main.scss';` in pages\index.js

[2019-05-25 17:27] #13270 closed

[2019-05-25 17:27] #13366 closed

[2019-05-25 17:27] #13392 closed

[2019-05-25 17:27] #13417 closed

[2019-05-25 17:27] #13503 closed

[2019-05-25 17:27] #13516 closed

[2019-05-25 17:27] #13525 closed

[2019-05-25 17:27] #13541 closed

[2019-05-25 17:27] #13571 closed

[2019-05-25 17:32] FlorianMoser opened #14321 "[gatsby-plugin-emotion] duplicate CSS declarations"
## Description

Not sure if this is working as expected or if it is even an issue with Emotion: when adding styled components into a non-styled node, the compiler produces duplicate CSS class declarations.

### Steps to reproduce

1. Insert the following code into index.js of a new Gatsby project
[code]
2. Build the project using `gatsby build`
3. Inspect the generated source code

### Expected re

[2019-05-25 17:48] pho3nixf1re commented on #10668
I am seeing this issue and changing to 'entry' fixed it for me as well.

[2019-05-25 17:50] pmarxbraun commented on #5371
@jonniebigodes thanks for your help. It does not seem to work :-( All posts have categories and tags.

[code]
Thanks again for you help 👍

[2019-05-25 18:48] daniloef commented on #14124
Hi @wardpeet

Thank you! I sent you an email.

[2019-05-25 18:58] sondr3 commented on #13775
I am also experiencing both of these warnings in my site as well: https://github.com/sondr3/websites/.

1. `yarn` to install packages
2. `yarn workspace portfolio build`
3. Warnings appear.

[2019-05-25 19:24] DanielRuf commented on #14320
Does this also happen in production?

Probably related: https://github.com/gatsbyjs/gatsby/issues/6211 but this should not happen in production mode where styles are normally inlined by Gatsby.

[2019-05-25 19:40] JeffWScott commented on #14320
By Production do you mean "gatsby build"?  If so, yes it happens then as well.  I minimized it by caching the images so that the popin only happens the first time the user loads the page.

[2019-05-25 19:50] angeloashmore commented on #12272
We're running into an issue with [`gatsby-source-prismic`](https://github.com/angeloashmore/gatsby-source-prismic/) with `gatsby-source-filesystem` File nodes.

We tell Gatsby image fields will have a `localFile` field with type `File`, but if no `File` nodes are created anywhere in the site, Gatsby does not know what `File` is.

[code]

Sorry, this might be a `gatsby-source-filesystem` question m

[2019-05-25 20:07] harshil1712 commented on #9374
I found three different articles which cover almost everything. [Artilce 1](https://www.gatsbyjs.org/packages/gatsby-image/), [Article 2](https://www.gatsbyjs.org/docs/working-with-images/), [Article 3](https://www.gatsbyjs.org/docs/using-gatsby-image/). Since there's documentation do we need to have a new one? We can give reference to them? If we still need to write a tutorial, will it be fine if

[2019-05-25 21:15] ryolambert commented on #2407
@rzubrycki I've got almost the exact same error just now on my build 🤷‍♂️
From my error message, it feels like there's an issue with one of my graphql queries or sitemap tacking on an extra field or getting lost somewhere? The gatsby site will run in development mode, but keeps failing here on build. Any ideas?

`error Plugin gatsby-plugin-sitemap returned an error

  Error: Cannot query field "si

[2019-05-25 21:38] ryolambert commented on #2407
@rzubrycki 🙌 Figured it out, sitemap gets hangry when it tries to query a sitemap url when there isn't one provided. All you gotta do is modify the `gatsby-config.js` file and fill in the required options on siteMetadata.
[code]

[2019-05-25 22:22] stefanprobst commented on #12272
@angeloashmore we could make `gatsby-source-filesystem` explicitly register the `File` type (and make it not `panic` when the configured path does not exist). This way it would be possible to just provide `gatsby-source-filesystem` (without options) in `gatsby-config` and have the `File` type available in the schema. Would [something like this](https://github.com/gatsbyjs/gatsby/compare/master...s

[2019-05-25 22:41] elie222 commented on #10331
Also interested in adding push notifications to my Gatsby site

[2019-05-25 22:47] angeloashmore commented on #12272
@stefanprobst Yes, something like that looks like it could work.

In regards to plugin authors, if the plugin nondeterministically creates a File node, this would mean:

1. Plugin authors should ask users of the plugin to always add `gatsby-source-filesystem` to their `gatsby-config.js` to ensure Gatsby knows the `File` type, or
2. Plugin authors only include fields that use the `File` type in typ

[2019-05-26 01:20] oldmannseamus commented on #14248
I'm actually going to close this; I've made some discoveries while making the repro.

1. @DSchau's suggestion above re: `pathPrefix` being exposed allowed me to operate on links inside of `result.contents` during the `onCreateNode` process, fixing the problem.
2. The purpose of my using Frontmatter in this way was to emulate the use of "fields" in my content, allowing me to populate a template wit

[2019-05-26 01:20] #14248 closed

[2019-05-26 02:26] rongpenl commented on #13873
Same issue here.

[2019-05-26 02:44] lannonbr commented on #14303
Confirmed this is happening between the mobile media query (<750px) and under 1000px.

cc: @fk is this supposed to happen or a bug / regression of the alignment of the styling across `www` over the past few months.

[2019-05-26 04:04] minigopher17 commented on #14285
I'm having the same problem not knowing how to access the events via GraphQL. However, after putting `verbose: true` in the `gatsby-source-wordpress` plugin in `gatsby-config.js`, I've noticed that it picks up on build the Categories and Events from different endpoints correctly:

`http://xyz.local/wp-json/wp/v2/tribe_events_cat`
`source and transform nodes -> wordpress__wp_tribe_events_cat fetche

[2019-05-26 05:12] JoshuaWalsh opened #14325 "Blurred image only shown briefly"
## Description

I was previously experiencing #14186. After upgrading to gatsby-remark-images 3.x the situation has improved, but is still not working correctly.

The blurred image only appears for a very short amount of time, and then is covered with a blank white rectangle.

### Expected result

When I load my page on a slow network connection, I expect the placeholder image to be displayed unti

[2019-05-26 07:23] KyleAMathews commented on #14325
What page is that? Does it only happen on Firefox?

On Sat, May 25, 2019, 10:12 PM Joshua Walsh <notifications@github.com>
wrote:

[2019-05-26 07:46] JoshuaWalsh commented on #14325
In Firefox the preview appears briefly. In Chrome the blurred image doesn't appear at all, the white rectangle is instant. (Using a custom throttling profile of 50kb/s down, 20kb/s up, 500ms latency)

The page is [here](https://blog.joshwalsh.me/aws-gatsby/).

[2019-05-26 08:06] AVGP commented on #10277
Hey there, I'm looking at the issue now as well.
A few notes:

- Googlebot (and thus, mobile-friendly test and other testing tools) aren't using service workers. PWAs are great but users coming through search results might be first-time users, so Googlebot ignores service workers, but they won't break your site or CSS as they are ignored.
- The testing tools haven't been updated to the latest Chro

[2019-05-26 12:54] watch-janick commented on #9902
I've got the same issue with `styled-components` and `gatsby-plugin-styled-components`.
Anyone found a fix for this one?

[2019-05-26 13:17] MicroBenz opened #14331 "[gatsby-remark-images] Wrong image ratio for portrait image"
## Description

I've using gatsby-remark-images to enable importing the image into markdown, everything works fine except If I'm using an image with portrait ratio (height is longer than width) its result showing the wrong image ratio.

### Steps to reproduce

Link the image inside markdown

[code]

### Expected result

The image should show the correct image's ratio.

Here is the original's image

[2019-05-26 13:35] ahmdsolmn commented on #14256
Modifying all items to be objects seems a reasonable change. Thank you for your  effort  🙏

[2019-05-26 13:35] #14256 closed

[2019-05-26 15:08] TarjeiB commented on #14163
I have the same issue on chrome and cant get rid of the old styles. Tried clearing all caches etc.
On firefox i do not have the same problem.

[2019-05-26 15:21] Ronva commented on #14331
Created a codesandbox with the remark-images plugin and it seems to be working as expected:
https://codesandbox.io/embed/gatsbystartermarkdown-ql50o

[2019-05-26 15:28] montylounge commented on #14163
Let me run my manual tests again on Firefox and Safari as well to confirm the behavior.

[2019-05-26 17:11] KyleAMathews commented on #14163
The file is imported in layout.js which is also used in the second page. Try deleting the second-page.js and layout.js?

[2019-05-26 18:07] KyleAMathews commented on #14325
So this only happens on throttled connections? I just opened the page and
the image loaded as expected.

On Sun, May 26, 2019, 12:46 AM Joshua Walsh <notifications@github.com>
wrote:

[2019-05-26 18:08] KyleAMathews commented on #14325
Oh and does the image eventually load?

On Sun, May 26, 2019, 11:07 AM Kyle Mathews <mathews.kyle@gmail.com> wrote:

[2019-05-26 20:13] amakk opened #14333 "Global CSS imported on one page gets imported on all pages"
## Description

Hi, I am migrating and combining some older sites into one gatsby site. I need to import global CSS on some pages, but not on others. The issue is that if I import the CSS on one page, it gets included in all the other pages.

I'm importing the CSS from the specific page that needs it, so I would expect it to show only on that page. Is this a bug?

I've seen [this issue](https://gi

[2019-05-26 21:06] mattcdowning commented on #5581
@marcysutton Can confirm not hearing page changes announced on MacOS with VoiceOver in Chrome/Safari.

[2019-05-27 01:41] JoshuaWalsh commented on #14325
Yes, the image eventually loads. It happens on all connections, but throttling makes it easier to see. When you say the image loaded as expected, do you mean you saw the blurred/traced version of the image while it was loading?

[2019-05-27 01:57] martinpsz opened #14336 "Use of window object in my component causing error after working at first"
I am trying to use a window event to add a background to my nav on scroll. At first, it worked. Now, I am not able to build and getting the following error in the console:

"Uncaught TypeError: doc.documentElement.doScroll is not a function at ready.js: 19 at ready.js: 7 at Object../node_modules/@mikaelkristiansson/domready.ready.js..."

I have tried, as some have suggested in regards to using win

[2019-05-27 03:30] MicroBenz commented on #14331
@Ronva If I used an image from the network it's fine. But if I use image locally (like my example I've used a relative path to the image). The bug still happens.

[2019-05-27 05:44] dakebl commented on #14303
Had a play with this locally and it looks like the wrong media query was being used, with `md` being used instead of `lg`.

I've created PR #14337 to update it.

[2019-05-27 06:06] marcuslindfeldt opened #14338 "Responsive images with gatsby-source-contentful rich text and gatsby-image"
## Summary
Unable to use gatsby-image in combination with Contentful rich text queried via gatsby-source-contentful.

Example query
[code]

## Relevant information
I'm trying to use the embedded assets feature in Contentful rich text to include an image into my rich text and  make it responsive and optimized by utilizing gatsby-image in the same way that I can if i query the assets directly e.g.

[2019-05-27 07:16] #14303 closed

[2019-05-27 07:17] fk commented on #14303
Not supposed to happen! :/ 🤦‍♂
Thank you both! <3 🙏

[2019-05-27 07:25] LekoArts commented on #14338
Please see if these two are helpful, however I'd advise to ask the contentful folks directly as they're maintaining the plugin(s):

https://spectrum.chat/gatsby-js/general/can-someone-have-success-rendering-the-rich-text-field-contentful-in-gatsby~3c27998e-1c7a-4846-b4dc-849e884b3bc6

https://github.com/contentful/rich-text/issues/70

[2019-05-27 07:26] LekoArts commented on #14333
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-05-27 07:28] LekoArts commented on #13873
@freiksenet 	@pieh any clues on that?

[2019-05-27 07:41] freiksenet commented on #14336
Hi @martinpsz!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reprodu

[2019-05-27 07:55] freiksenet commented on #14321
This looks like an issue with emotion, I don't think Gatsby does anything special there. I wonder if you could create an issue in [their repository](https://github.com/emotion-js/emotion)? Thank you!

[2019-05-27 07:57] monsieurnebo commented on #14230
We already used `replaceWebpackConfig`, but that's really not a durable solution (any major change from Gatsby original config could break the project).

Not sure about the Webpack alias thing 🤔

I just give it a try to the third idea, but our `NODE_ENV` has already been overwritten by the Gatsby's one, and I have to idea of which one it should be at this moment.

[2019-05-27 08:01] KnisterPeter opened #14341 "Allow for gatsby-output plugins"
## Summary

Integrate an interface into the output chain of gatsby. This would allow to write plugins which could change the output processing of gatsby.

For example:
- Redirect the output to another folder
- Write the output to a remote location like s3 or ssh or ...

### Motivation

We are trying to run our gatsby process in an AWS lambda function. Lambdas by default have a read-only filesystem

[2019-05-27 08:11] freiksenet commented on #14300
Hello @cj2!

This looks tricky. It doesn't look like either we or `graphql-request` library that we use actually adds timeout anywhere. I wonder if there is some default that one can override, because `node-fetch` mentions OS timeout. Could you try if modifying `createClient` for `gatsby-source-shopify/lib.js` by adding `timeout: 100000000` as an option helps?

If not, then this becomes even trick

[2019-05-27 08:12] vikasaditya opened #14342 "How to use prismjs plugins custom-class with gatsby-remark-prismjs?"
hi,
I have some global CSS classes that clash with prism styles which can be solved by https://prismjs.com/plugins/custom-class/

Any pointer on how to use this?

Thanks

[2019-05-27 08:14] freiksenet commented on #12272
Correct me if I'm wrong @pieh, @stefanprobst, but I think making `File` a core type isn't going to be a breaking change. It will break only the cases where it used to fail  because `File` wasn't there. So I propose that we do it.

[2019-05-27 08:20] thisishuey commented on #12856
I am seeing same issue using WordPress with wp-graphql, I am not able to run a successful query using orderby.

[2019-05-27 08:33] inlet commented on #12856
This and related #11710 are closed but unsolved 😞. It's ok with me that it takes some time to solve it, but I would highly appreciate it if the author/contributors of the project at least respond. Seeing a github bot closing the issues due inactivity doesn't feel right to me.

[2019-05-27 08:58] freiksenet commented on #14342
Hi!

How are you using prism in gatsby? Is it `gatsby-plugin-mdx-prismjs` or `gatsby-plugin-remark-prismjs`? If latter, would using `classPrefix` option solve your problem?

[2019-05-27 09:10] scotNZ commented on #10523
I'd just emphasise that it's crucial to explain the syntax and how its operating when the class is utilised. Based on the snippet above I can now see how to use a static query in a class construct but I really have no idea what is going on.

[2019-05-27 09:29] Francesco-Lanciana commented on #14175
Yeah I really need to dig into React hydration, the behaviour still seems off to me. I completely understand that while building on the server Gatsby could not possibly know the screen width, however when the app is loaded on the browser the components themselves are still executed. During this initial execution the window object and the screen width are available, which is why I'm confused as to

[2019-05-27 09:45] freiksenet commented on #14331
Hi @MicroBenz!

I've recreated it with local image and it still doesn't work (I've used your image, but compressed it a bit so it fits into code sandbox). https://codesandbox.io/s/gatsbystartermarkdown-cr6f3

[2019-05-27 09:49] freiksenet commented on #14325
I have it happening on Chrome too, with throttled and not-throttled connection. @JoshuaWalsh I wonder if you could give us access to the website source? Alternatively I wonder if you could extract a small reproduction case. Thank you very much!

[2019-05-27 09:51] freiksenet commented on #14320
Hi @JeffWScott!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reprod

[2019-05-27 10:00] ryanditjia opened #14345 "False warning of “unable to find declaration of variable” with useStaticQuery + TypeScript"
## Description

Gatsby is giving me this false positive warning:

"~/gatsby-project/src/pages/index.tsx".

![image](https://user-images.githubusercontent.com/16177372/58411848-70139e00-809f-11e9-8e6e-2e562c7a6c88.png)

Gatsby code that I assume is reporting this warning: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/query/file-parser.js#L213-L259

Current workaround is changin

[2019-05-27 10:14] vikasaditya commented on #14342
hi,
I am using https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/  and no classPrefix only adds prefix to `<pre>` and `<code>` whereas I need it at the level of `<span class="pr-token pr-punctuation">;</span>`

[2019-05-27 10:28] andykenward commented on #14185
You should try using [`graphQL-codegen`](https://graphql-code-generator.com) . They have [documentation](https://graphql-code-generator.com/docs/integrations/gatsby) on using it with Gatsby.

[code]

There is currently an [issue](https://github.com/dotansimha/graphql-code-generator/issues/642#issuecomment-495919863) with their suggested config  so use the below config.
[code]

[2019-05-27 10:43] mojosef commented on #14300
Is there a way to filter on the initial build? For example, we only need a particular collection that would obviously be well within the timeout limitation ( we are also getting this error on build ).

[2019-05-27 11:24] elmariachi111 commented on #13873
same here (and I think this is related: https://github.com/gatsbyjs/gatsby/issues/10254) . For SEO / google: since the createPagesApi relies on a "path" field (that I got in my MD files but not on ALL the content in Contentful, the page build stage might fail saying `Your site's "gatsby-node.js" must set the page path when creating a page` . The origin of this problem seems to be that the Markdown

[2019-05-27 12:00] pieh commented on #14185
Ooooh, that's interesting!

[2019-05-27 12:02] freiksenet commented on #14345
Thank you for a great report! It looks like that AST lint function doesn't support type casts properly. Would you like to make a PR to fix that?

[2019-05-27 12:13] ryanditjia commented on #14345
I haven’t the slightest idea where to begin with that 😅

[2019-05-27 12:21] FlorianMoser commented on #14321
Thanks for the response. I just searched deeper in the Emotion issues and I found this issue [Styles are output multiple times during SSR](https://github.com/emotion-js/emotion/issues/1061), which is probably the same problem.

[2019-05-27 12:21] #14321 closed

[2019-05-27 12:24] #14044 closed

[2019-05-27 12:55] kepi0809 commented on #13930
@jonniebigodes I tried as you suggested with these 3 plugins. This might be part of the problem, but it didn't solve it completely.

`gatsby develop` stucks now by `source and transform nodes` for eternity and it also fails on uncountable images with a warning: `warning Failed to process remote content`.

I checked the endpoint of the images once again and one image has media_details that look lik

[2019-05-27 14:13] johnywojtek commented on #14336
Hello. I had the same issue with using window and trying to run gatsby build. Quick fix use windowGlobal variable that's checks if window is available :) then use it whenever you need to refer to window object :)

`
import React, { Component } from 'react';
import classnames from 'classnames';
import './nav.css';
import logo from '../../img/logo-white.png';
import { Link } from 'react-scroll';

co

[2019-05-27 14:16] Ronva commented on #14341
Could you provide an outline for how you would potentially go about integrating this? It would be great for getting on the same page, even if it's just a bullet point list of your thought process.

[2019-05-27 14:48] cj2 commented on #14300
Hi @freiksenet ,

Thank you for your help! I made this change and it did not seem to have any effect:
[code]

[2019-05-27 15:12] Rajarml commented on #10331
I've used the link provided by @elie222 but it misses a way to minify the extra push notification script and has a hash to the file name.
The field "importScripts" should take an object with a file path ("src/push-notification.js" for instance) and transforming it in the sw.js into `importScripts("./push-notification.abcd1234.js")`.

[2019-05-27 15:31] JoshuaWalsh commented on #14325
I have managed to reproduce it in an extremely minimal site. Usually when I cut things down to a minimal example I learn what was causing them along the way, but not this time. There's not much left of the site but it still doesn't work.

Steps to reproduce:

1. Download [the example](randomshit.joshwalsh.me/gatsby-remark-images-reprex.zip) and unzip it somewhere
2. In that directory, run `npm ci`

[2019-05-27 15:34] pmarxbraun commented on #5371
@jonniebigodes Any ideas about this ? thanks again for your help

[2019-05-27 15:38] #11602 closed

[2019-05-27 16:02] sharat9211 commented on #14205
Hi,
If nobody else is working, I am interested in taking up this issue.

[2019-05-27 16:42] pieh commented on #14205
Hey @sharat9211! It seems like @mkan0141 already opened PR that tackles this issue

[2019-05-27 17:07] j127 commented on #12922
This should definitely be opt-in only. VS Code is not a good model. Microsoft's privacy policy is appalling, and I've removed vscode from my computer because of it. This kind of tracking behavior should not be normalized.

[2019-05-27 17:25] tunnckoCore commented on #6474
@m-allanson the name of the plugin?

[2019-05-27 17:27] #13464 closed

[2019-05-27 17:27] #13517 closed

[2019-05-27 17:27] #13620 closed

[2019-05-27 17:27] #13164 closed

[2019-05-27 17:28] bambamayo opened #14353 "npm run develop giving - Error: Cannot find module 'regenerator-runtime'"
## Description

I keep getting this error  "Error: Cannot find module 'regenerator-runtime'", whenever i run the command npm run develop

### Steps to reproduce
npm install gatsby-cli
gatsby new helloworld https://github.com/gatsbyjs/gatsby-starter-hello-world
npm run develop

### Expected result
The web server was meant to start and i should be able to see my gatsby site

### Actual result
[code]

[2019-05-27 18:03] ng-hai opened #14354 "Missing resources for /packages/gatsby-plugin-google-analytics/"
## Description

The URL for [Gatsby Plugin Google Analytics](https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/) is missing

### Steps to reproduce

From the Plugins page, search for `google analytics`, choose the result item.

### Expected result

It should show the content

### Actual result

Blank page and the console prints out `Missing resources for /packages/gatsby-plugin-goog

[2019-05-27 18:33] JeffWScott commented on #14320
I did a brand new gatsby-site then installed material-ui and monaco editor.
really basic.
https://github.com/JeffWScott/gatsby-fouc

So I was wrong at what I said before.  It does NOT happen on develop, only build.

Here is a deploy of the test site.
https://adoring-liskov-0b8439.netlify.com/

[2019-05-27 18:51] JeffWScott commented on #14320
looks like installing the **material-ui gatsby plugin** has fixed by problem.

https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/

I didn't even know it existed, just stumbled upon it.

This popin also happens with react-strap, they should make a plugin for that as well.

Thanks for all the feedback guys 👍

[2019-05-27 20:14] 0x80 commented on #4357
@jbmusso You're right, a different character would probably be better. I realized that shortly after :) But I haven't ran into any problems yet. The prefixes I'm using are so generic they are not very likely to clash with a library namespace (src, components, modules, utils...)

[2019-05-27 20:25] ashtonsix commented on #7373
i'm evaluating Gatsby for a React website with 2.5 million pages right now which would really benefit from the SEO/perf benefits of Gatsby... unfortunately, the build times look untenable. it'd be neat if `gatsby build` could run concurrently across multiple servers or like, something with 96 CPUs

[2019-05-27 20:30] amakk commented on #14333
Hi @LekoArts, I created a repository to reproduce the issue here: https://github.com/amakk/gatsby-global-css-bug.

`index.js` imports `style.css` while `page2.js` doesn't import it. Yet, both get the style from `style.css` applied.

Thanks for your help!

[2019-05-27 20:33] pieh commented on #11602
`gatsby@2.7.3` was published which includes graphiql-explorer

[2019-05-27 20:56] KyleAMathews commented on #14325
Sorry for not catching this earlier. I wasn't paying attention and thought you were talking about gatsby-image.

This is actually the _currently_ expected behavior for gatsby-remark-images. It's not as sophisticated as gatsby-image so doesn't do lazy loading & fade-in of the image when it loads. It just sets the placeholder and as soon as the real image starts loading, that gets rendered above the

[2019-05-27 21:24] cameron-martin commented on #14185
Related: https://github.com/gatsbyjs/gatsby/issues/2374

[2019-05-27 21:29] cameron-martin commented on #14161
Am I right in thinking that implementing this would remove the need for the `pathPrefix` config option?

[2019-05-27 21:40] cameron-martin commented on #14345
I can take a look at this.

[2019-05-27 22:04] Kevin-Hamilton commented on #13891
This is not stale.

Friendly ping to the gatsby team - could someone comment on this, or add a not stale label, please?

[2019-05-27 22:12] KyleAMathews commented on #13891
Yeah... I'm not sure why we don't just use your .eslintrc file. /cc @pieh @gatsbyjs/core thoughts?

[2019-05-27 22:13] adueck commented on #13417
No, please don't close this... Anybody?

[2019-05-27 22:17] adueck commented on #6548
It would be great if there was an option to bundle it all into one file, because right now offline support (with `[gatsby-plugin-offline](https://www.gatsbyjs.org/packages/gatsby-plugin-offline/)` is not very good because **the individual route files only get cached/saved when a visitor visits them, and then when the app is updated they lose those again**.

*It would be so nice if there was an opt

[2019-05-27 22:41] vinzun commented on #14333
CSS is global by nature. You can fix it by wrapping it with a unique class (.someclass h1), the problem is... It is too long. That is why I love sass, they can do nesting.

[2019-05-28 00:19] JeffWScott commented on #14320
#SelfSolve

[2019-05-28 01:40] polishedwp commented on #14354
Haven't been able to confirm from my system using Chrome, or from my Android phone. Can you supply more details? Which browser can you report this issue?

[2019-05-28 05:00] JoshuaWalsh commented on #14325
I think this is important to implement. The current blur-up implementation is not particularly useful given that it will be displayed for less than a second on a dial-up connection, and probably never on even a 2G mobile connection.

I'm interested in trying this. I have two ideas:

Option #1: Use rehype-react in the same way that `gatsby-remark-component` does.

Pros:

 - Then we can just use gat

[2019-05-28 06:08] alexmcode commented on #10457
Hi. Having the same error. Also I get this output every time I run gatsby serve:
[code]

[2019-05-28 06:14] ImedAdel commented on #14333
A possible solution is to use CSS Modules by installing [PostCSS](https://www.gatsbyjs.org/packages/gatsby-plugin-postcss/). After installing, you will have to append `.module.css` to the file name. (`index.css` => `index.module.css`) and import it as usual.

[2019-05-28 07:01] wardpeet commented on #13891
Seems like a good idea to enable this as long as we merge our own config.

[2019-05-28 07:10] LekoArts commented on #14354
Please disable your Ad-Blocker and try again.

[2019-05-28 07:15] #11997 closed

[2019-05-28 08:09] wardpeet commented on #14175
Sadly that's how React works, you could go for a full client side app so you don't have this issue.

https://www.gatsbyjs.org/docs/building-apps-with-gatsby/#client-only-routes--user-authentication

There are other hacky solutions to put the values in a global variable before react loads but I'm not a fan of that.

[2019-05-28 08:09] freiksenet commented on #14300
@cj2 Ok, that's disappointing :(

Do you want to make a PR to gatsby-source-shopify that makes amount of data queried for each page configurable? We would really appreciate your help here.

[2019-05-28 08:17] wardpeet commented on #14230
We set the NODE_ENV inside gatsby-cli so not using it might easily fix your issue.
https://github.com/gatsbyjs/gatsby/blob/67ff2b993a564dc339b7bfc09e8a582e6876e970/packages/gatsby-cli/src/create-cli.js#L196

preInit should works too if you know what env you are in. You could create a diff env var that you use to overwrite NODE_ENV

[2019-05-28 09:46] wardpeet commented on #14221
Technically this shouldn't be a problem but the problem is options.defaultTheme if not mistaken.

I believe you should add the default theme as a env variable. Could you try
[code]

[2019-05-28 10:19] sonapraneeth-a commented on #14221
Hi @wardpeet ,

Currently, I was using options from a js file with variables exported like

options.js
[code]

However, I wanted options to come from ```__experimentalThemes``` which I do not know how to use. I could not find documentation on how to use options from

[code]

So, can I use `useState()` or `this.state` in `wrapRootElement` as per the setting I've mentioned in this comment?

[2019-05-28 10:45] KnisterPeter commented on #14341
@Ronva @lannonbr
I've not looked into the details of gatsby right now. I guess its a lot more work to do than to define interfaces and we are good to go. The examples above would require some sort of filesystem layer which could be replaced. The from my point of view the outine would similar to:

- Identify ideas and usecases solvable by these output plugins
- Look through sources where these plug

[2019-05-28 10:55] KnisterPeter opened #14366 "Add a gatsby cli api"
## Summary

Integrate running gatsby in a current node application. This would be like some cli-api.

### Motivation

Besides the possibility to use `process_child` and spawn a new process which executes gatsby then there might be a few cases where this is either not as easy to achieve or might seem suboptimal.

My concrete case is running gatsby in a lambda function. The process of creating a lam

[2019-05-28 11:17] sharat9211 commented on #12291
Hi,
Found this issue while going through good first issues. Have done some preliminary research on how this was implemented in other CLIs. Wordpress CLI has this feature. The discussion is on the following two threads:
https://github.com/wp-cli/wp-cli/issues/3861
https://github.com/wp-cli/wp-cli/issues/4379

They basically have  a two pronged approach to solving this problem:
1. They find out the

[2019-05-28 11:23] chvas-navi commented on #14268
Hi @DSchau . Thank you for fast response, and sorry for my late answer.
Such happened that for now, people will work on the problem by themselves. And there no need to bothering your team. It seems like, I hurried up with this issue, I am sorry.

Answers, that not actual now:

0) About reproduction I understood. Ok.
1) `Did you also upgrade Firebase?` - Nope. During migration version of this packa

[2019-05-28 11:23] #14268 closed

[2019-05-28 11:37] abooayoob opened #14367 "Infinite warning loop, don't quite know why its happening...?"
## Summary
When i run `gatsby develop` or `gatsby build` I get an infinite loop of warnings similar to this:

![gatsby_warnings](https://user-images.githubusercontent.com/9134348/58470983-27152580-8143-11e9-910e-c05cfa429bd2.gif)

outputs lines like theese:
```warn Multiple node fields resolve to the same GraphQL field `SitePage.context.contentList.js.children.section.div.table.tbody.tr.td.p.span.

[2019-05-28 11:59] wardpeet opened #14370 "installing gatsby with --no-optional breaks gatsby-cli"
## Description
When people install gatsby with `--no-optional` gatsby breaks because ink is not being installed. We made ink optional because of node 6 #14233

We should fix our check here
https://github.com/gatsbyjs/gatsby/blob/6070279f68aab0c82f2d244f54088f8ad4a74503/packages/gatsby-cli/src/reporter/reporters/index.js#L4-L8

[code]

### Steps to reproduce
open a gatsby project and run
`npm insta

[2019-05-28 12:20] MicroBenz commented on #14331
I just find out that my image isn't really in the portrait ratio. I re-rotate it 360 degrees. And it's work...

So I'm closing this issue. Thanks

[2019-05-28 12:20] #14331 closed

[2019-05-28 12:27] montylounge commented on #14163
I'll try that next @KyleAMathews and get back to you - thank you.

[2019-05-28 12:37] pieh opened #14371 "support extracted fragments in GraphiQL"
## Summary

This should auto-attach extracted fragments to queries in graphiql:
 - in `gatsby` - we should push query from graphiql editor through relay-compiler to automatically attach fragments
 - in `codemirror-graphql` (set of graphql related extensions to `codemirror` editor that is used in `graphiql`) should transform query and attach fragments, so hints (autocomplete) and lint (red underlin

[2019-05-28 13:14] tomoyukikashiro commented on #13454
Can I handle this issue 😄 ? ( I'm interested in it yet )

I'll share following things later...

- What is the requirement for AMP actually to align the viewpoint
- To achieve that what `Next.js` is doing
- How to implement by Gatsby using existing APIs

[2019-05-28 13:18] #5086 closed

[2019-05-28 13:54] pauleveritt commented on #11151
Would the new `@link` resolver extension in the schema customizations stuff also suffer from what @pieh mentioned in February? ("We do need to wrap that resolver in pageDependencyResolver helper")

I'm having trouble putting Gatsby in the hands of authors, as they have to blow the cache quite frequently.

[2019-05-28 14:02] rudietuesdays commented on #14305
@jonniebigodes reproduction is here: https://github.com/rudietuesdays/bug-repro

Thanks for taking a look!

[2019-05-28 14:33] jxnblk commented on #14221
@sonapraneeth-a If I'm not mistaken, I think to use hooks you'll need to put them in a separate component that you can use in `wrapRootElement`. With your example above, it could look like this:

[code]

[2019-05-28 14:41] akki-mali commented on #14333
Facing the same issue for multiple layouts using scss.
I have two scss files style1.scss and style2.scss and I have imported style1.scss in layout1.js and style2.scss in layout2.js. But in the DOM for any layout both the scss files are overriding.

[2019-05-28 15:14] jonathanphz commented on #7003
Been trying to make `gatsby develop` work in IE 11 using this but still not working.

[2019-05-28 15:22] Jared-Dev commented on #14151
I have added a bug to the Chromium repo if anyone wants to add context (https://bugs.chromium.org/p/chromium/issues/detail?id=967697).

[2019-05-28 16:22] dotansimha commented on #2374
as @panzerdp said, we currently support importing `gql` from a different library. See: https://graphql-code-generator.com/docs/integrations/gatsby

[2019-05-28 16:38] sonapraneeth-a commented on #14221
Hi,

Finally things are working as expected with your suggestion.  Closing the issue. I'll re-open if any related issue arises in future.

Thanks for your time and help.

[2019-05-28 16:38] #14221 closed

[2019-05-28 17:04] stefan2718 opened #14374 "`gatsby serve` returns incorrect Content-Type header for wasm file"
## Description

`gatsby serve` is returning the incorrect header `Content-Type: application/octet-stream` for my wasm module when it should be returning `application/wasm`. Running `gatsby develop` correctly returns the `wasm` header.

The `octet-stream` header means that I get this error in the console when I try to asynchronously load my module:
[code]

### Steps to reproduce

1. You can pull my

[2019-05-28 17:05] amakk commented on #14333
Thanks for the suggestions @vinzun and @ImedAdel. Unfortunately, these wouldn't work in my case, mainly for two reasons:

1. When importing something like bootstrap CSS, it modifies the html element, and probably others. Not sure if it's even possible to wrap all that with a class but even if it's possible, there is another issue
2. The size of the CSS will really increase, since I'm combining sev

[2019-05-28 17:27] #12964 closed

[2019-05-28 17:27] #13595 closed

[2019-05-28 17:27] #13626 closed

[2019-05-28 17:27] #13634 closed

[2019-05-28 18:23] jonniebigodes commented on #14367
@abooayoob can you create a [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) and also is `gatsby-source-kontohjelp-category` a local plugin you're working on?

[2019-05-28 18:34] javidhsueh commented on #14304
Thanks @stefanprobst this solves my problem!

[2019-05-28 18:34] #14304 closed

[2019-05-28 18:49] ryandrew14 commented on #14370
I can hop on this!

[2019-05-28 18:54] vinzun commented on #14333
oh I see. Never used bootsrap before, sorry I can't help you.

[2019-05-28 19:11] jbeuckm opened #14380 "Copy SWF files in gatsby-remark-copy-linked-files"
## Summary

Gatsby could copy flash _.swf files and replace the URLs in generated markup.

### Basic example

Proposed tag style to support:
[code]

### Motivation

I am migrating an old blog with some macromedia flash content.

[2019-05-28 19:26] agentofuser commented on #14161
@cameron-martin I guess it would still be useful in the cases where the user _does_ want to have a root-relative url. In that case, `pathPrefix` could be `/`, or `/my-prefix`. Or, to keep backwards compatibility, `my-prefix`, with relative path requiring the explicit `./`.

[2019-05-28 19:35] cameron-martin commented on #14161
@agentofuser In what scenario would people's sites break and/or behave incorrectly when using relative URLs, forcing them to instead use root-relative URLs?

[2019-05-28 19:54] myriamgoude commented on #13900
Keep it open

Le mar. 28 mai 2019 à 19:28, gatsbot[bot] <notifications@github.com> a
écrit :

[2019-05-28 20:00] jaredsilver commented on #14218
Unfortunately, we still run into the out of memory issue on Node 12 if we're generating a lot of pages :(

Is it correct to say that the `createPages` api holds all of the pages in memory as it's building? If so, any workarounds for this? (E.g. we tried building different groups of pages in different plugins to see if that would make them build "incrementally" as opposed to all in the same step.)

[2019-05-28 20:12] KyleAMathews commented on #14218
With how many pages?

People have split up sites into chunks to get around problems e.g. https://www.gatsbyjs.org/blog/2019-01-28-building-a-large-ecommerce-website-with-gatsby-at-daniel-wellington/

Everything is kept in memory. The trick to getting past this is probably allowing gatsby to store data in a DB e.g. sqlite.

[2019-05-28 20:17] KyleAMathews commented on #14325
Option 2 is totally acceptable.

[2019-05-28 20:18] bitttttten commented on #14192
So I have been trying to reproduce it, but it was too random. After that, I reinstalled Ubuntu on Windows, and then reinstalled my dependencies.

I think the issue was with a bad install of sharp. Reinstalling Ubuntu on Windows/WSL was probably too much.. maybe removing node_modules and reinstalling the deps was all that was necessary.

Either way, I haven't been able to reproduce it through the l

[2019-05-28 20:18] #14192 closed

[2019-05-28 20:30] seidtgeist commented on #7373
@ashtonsix I’m having big trouble with ~1500 pages. I would highly recommend you write your own very simple code for building that amount of pages.

[2019-05-28 20:31] jaredsilver commented on #14218
More than 2,500,000 pages 😄But we can't get past 25,000 in our POC.

We'll keep using Gatsby for everything else, but this one probably should use a more traditional setup.

[2019-05-28 20:47] wardpeet commented on #14370
Awesome! thanks, @ryandrew14 just shout if you need any assistance.

[2019-05-28 20:53] wardpeet commented on #9207
Not at this moment but we're open for Pull requests.

[2019-05-28 21:03] wardpeet commented on #5002
We have an alpha version up. It's not incremental builds yet but at least the path forward.
you can use it by installing `npm install --save gatsby@per-page-manifest`

More info:
https://github.com/gatsbyjs/gatsby/pull/13004

@mpoisot for now per page building isn't working yet. I'm not sure what the timeframe you're looking at for this project. If the queries are light, gatsby might be an okay fi

[2019-05-28 21:19] wardpeet commented on #13887
I'm not 100% sure how you would do this? Putting in all strings inside the link component doesn't seem to scale super well. Something with babel macros might be a possible solution on gatsby build but on gatsby develop we probably just do a runtime check.

It still sounds like a lot of effort.

[2019-05-28 21:28] wardpeet commented on #14341
Moving .cache or public directories isn't something we want to take on at this point. We might want to fix this going forward with gatsby v3. It's not as easy as you describe. We also run webpack & babel which can save files to disk if they want. We won't have control over that so we can't ever guarantee that files are written to the correct locations.

This is what I've done so far on google clou

[2019-05-28 21:33] wardpeet commented on #14366
All code to do a programmatic `gatsby build` or `gatsby develop` can be found inside the [gatsby package](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby/src/commands).

The gatsby-cli is just a wrapper around these commands. You can write your own cli or just execute it from nodejs yourself fairly easy.
https://github.com/gatsbyjs/gatsby/blob/a795c102bee9795218eeb63034062b5175f0ba1

[2019-05-28 21:34] KyleAMathews commented on #14218
Haha woah. Yeah we're working that direction but not quite there sadly.

How far could you push the benchmark sites? I can get 100k+ page sites to build pretty easily. The exact upper limit depends on the complexity of pages obviously.

[2019-05-28 21:37] coreyward commented on #13887
@wardpeet Gatsby already knows about `allSitePages` during the develop or build phase. What I'm suggesting is for the Link component to utilize that information server-side during the build (or ongoing in develop) to determine whether or not the path can be served by Gatsby.

[2019-05-28 21:41] KyleAMathews commented on #13887
I think this would be a fantastic plugin. But as a core feature, it'd be hard to justify as this is somewhat of a niche need and also, it doesn't scale very far past a 1000 pages or so as the metadata size grows quickly.

[2019-05-28 21:44] coreyward commented on #13887
@KyleAMathews Which part are you referring to not scaling well?

To be clear, the code sample I shared was to demonstrate the current strategy that I am currently using. This technically works, but yeah, it's inefficient on sites with more than a couple dozen pages. There is no alternative to this approach currently (as I outline above), though, which is why I want to only do this on the server an

[2019-05-28 21:45] erquhart commented on #14169
`cms.css` is included in the preview pane of the editor, which is an iframe, as it could mess with global cms styles if included in the page itself.

I was noodling over the issue of universal custom styles for widgets and implemented an experimental approach, along with the similarly undocumented API update for `registerWidget`. If you check the CMS repo you'll notice all of the internal widgets

[2019-05-28 21:52] jlengstorf commented on #12291
@sharat9211 we'd love to have your help! Thanks so much for digging into prior art!

[2019-05-28 21:56] coreyward commented on #13887
For context / as an example, say we have a marketing website and blog with 3,000 pages that deploys to `www.example.com`, and we also have a production app running on that domain. To make this work, we've setup Apache to serve static files if they exist, and route the request to the production app if not. For marketing and technical reasons, we cannot migrate either website to another subdomain or

[2019-05-28 22:45] talves commented on #14169
I did not realize `globalStyles` was included in the API update. Thanks @erquhart for pointing it out.

[2019-05-28 23:36] ernestosotelo commented on #4926
My image stays blurred when deployed to Github - works fine on local environment... Anyone have any ideas why? Been really struggling to work with gatsby-image. Appreciate it guys.

[2019-05-29 01:04] ryandrew14 commented on #13968
Hi! I'm taking a look at this right now. Will have a PR up later tonight, which will probably need some feedback.

[2019-05-29 03:23] d4rekanguok commented on #14169
Thanks @erquhart, I didn't realize `cms.css` was meant for preview iframe, that makes sense. I will try out `globalStyles` & keep an eye out for updates.

[2019-05-29 03:23] #14169 closed

[2019-05-29 03:27] ng-hai commented on #14354
Hmm, turn off Ad-Blocker and it works

I use Firefox Developer Edition browser, with Ad-Blocker (uBlock Origin) turned on, I can still access to other plugins like `gatsby-plugin-hotjar` or `gatsby-plugin-google-gtag`. I don't understand why Ad-Blocker play a role on site resources fetching, is this problem related to how Gatsby process the resources? I've never seen this problem through other sit

[2019-05-29 03:55] dja commented on #14262
Just an added thought here that a proposed solution should support adding the appropriate links to headers for hosting plugins like `gatsby-plugin-netlify`.

[2019-05-29 05:25] akki-mali opened #14386 "serve same css on two layouts"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?

### Actual result

What happened.

### Environment

Run `gatsby info --clipboard` in your project directory

[2019-05-29 05:26] #14386 closed

[2019-05-29 08:04] Paddy888 opened #14388 "GraphQL query breaks seemingly randomly"
## Description

Sometimes after changing an image, Gatsby will fail to compile. Previously working, and no changes other than editing or deleting an image file. Sometimes deleting the cache and public folders will help fix it, but other times even rolling back numerous commits, it will still fail to compile

### Steps to reproduce

As noted above, it seems to mainly happen after editing or deletin

[2019-05-29 08:15] sharat9211 commented on #12291
@jlengstorf Cool will start working on it. Where should I start looking at in the codebase?

[2019-05-29 08:42] KnisterPeter commented on #14341
@wardpeet We do exactly what you described above as well but on AWS. But it feels like kind of a hack and having so much copy operations instead of writing directly to the destination is debug intense and error prone. If its setup correctly I think it will work but ... :wink:

Anyway, feel free to keep this as feature request for v3 or close it as you like.

[2019-05-29 08:48] KnisterPeter commented on #14366
@wardpeet Thank for point me into the right direction.
But I think I'm missing something here. `getCommandHandler` is an internal function, `cmd` is a parameter, `handlerP` is an internal function.

Is there a more simple aproach? Any documenation?

[2019-05-29 08:50] wardpeet commented on #14341
More and more people might need this so we might consider this for v3. I'll discuss with the team.

[2019-05-29 08:56] wardpeet commented on #14366
This is pretty uncommon so we don't really have a guide for it but this is a small example that should get you going.

create a node script: (i'll go for custom-gatsby.js) so you can execute it by doing `node custom-gatsby.js`
[code]

[2019-05-29 08:57] Levino commented on #7272
This still does not work for media assets I fear. I only get `null` as the url for the non-localized images.

[2019-05-29 09:04] KnisterPeter commented on #14366
Awesome. Thank you so much.

[2019-05-29 09:04] #14366 closed

[2019-05-29 09:06] wardpeet commented on #14366
feel free to reach out if you need more info.

[2019-05-29 09:09] Siyfion commented on #14185
Wow, that's really cool @andykenward, though it still seems to struggle with the image fragments, eg:

[code]

Perhaps using their programmatic API we could add these "known" fragments in @pieh?

[2019-05-29 09:10] wardpeet commented on #14388
Hi @Paddy888!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduc

[2019-05-29 09:16] wardpeet commented on #14354
Ad blockers block requests based on url. It seems like ublock block google-analytics keyword so that's why it breaks.

[2019-05-29 09:26] andykenward commented on #14185
@Siyfion is works with `GatsbyImageSharpFixed` fragment.

I've made a Gatsby Starter you can try it out ["Gatsby's default starter - TypeScript"](https://github.com/andykenward/gatsby-starter-default-typescript) with `graphql-code-generator` setup.

[2019-05-29 09:34] Paddy888 commented on #14388
Not sure what you mean.

I just rolled back a number of commits until I could get a working compile again.

I began redoing the changes I had made one by one, stopping the dev server and running gatsby clean each time.

I removed a number of image files from /static/img again cleaning and restarting the server each time.

Eventually, I removed an image, which resulted in this error. I searched the

[2019-05-29 09:34] #14388 closed

[2019-05-29 09:37] #14354 closed

[2019-05-29 10:35] abooayoob commented on #14367
@jonniebigodes yup, thanks, will try to set up a repro. Yeah, `gatsby-source-kontohjelp-category` is a local source plugin that calls an internal api where I work. Will cook up something similar.

[2019-05-29 11:14] eknowles commented on #10070
@jufemaiz this means the server responds with a 404 status code which messes up logs and analytics. I'm trying to get this working on Azure Verizon CDN which is awful.

[2019-05-29 11:16] jshli commented on #3064
I'm also running into this issue! I'm using a one-to-one reference, and as @cpannwitz mentions, as soon as I add a reference, it breaks - removing it removes the error. Cleaning out the cache doesn't appear to really have an effect.
The weird thing is it's inconsistent. It was breaking for me in development mode, and I just kept fiddling around with it all afternoon and suddenly, it just started w

[2019-05-29 11:44] b0gd4n commented on #8056
any progress on this?

[2019-05-29 12:34] violy commented on #13930
Hey, seeing your `Failed to process remote content` warnings, you may see my issue #13073 and PR #13110

During my issue resolution, I've observe this warning for *many* problems on download request  — `404`, `500` responses — and `timeout`.

[2019-05-29 13:10] alexluong commented on #13945
Hey @freiksenet, I'd love to help with this. I have some experiences building sites with Gatsby and Contentful.

Within those recommendations by @jasonellington, how should I go about tackling them?

[2019-05-29 13:13] cmosguy commented on #6834
Anyone who has stumbled up upon this issue *DO NOT USE* `npm` *USE* `yarn`, don't waste your time!

[2019-05-29 13:30] #14370 closed

[2019-05-29 13:32] pieh commented on #14370
`gatsby-cli@2.6.3` and `gatsby@2.7.5` were published

[2019-05-29 13:46] DanielRuf commented on #6834
Well, there are cases where Yarn is better (and this and other ones are just an example why we have switched to Yarn for all projects).

Not sure what the exact issue in npm is. So far I see no linked issue.
Should we invest some time and find some more info about this?

[2019-05-29 14:26] alexluong commented on #12882
Hey @tsriram do you have any updates on this? I'd love to jump in and help if you're running into some issues or are too busy.

[2019-05-29 14:37] jeffreznik opened #14395 "Force a refresh of GraphQL data without restarting gatsby develop"
## Summary

Feature request: in development mode (`gatsby develop`), provide an ability to make Gatsby rerun source and transform plugins (e.g. gatsby-source-wordpress) to refresh data once it changes in source.

This may only apply to a subset of source plugins as I believe **some** already support this feature  automatically when source changes (e.g. gatsby-source-filesystem).

I'm not sure what

[2019-05-29 15:05] pieh commented on #14395
You can use `ENABLE_GATSBY_REFRESH_ENDPOINT=1` env var to enable `http://localhost:8000/__refresh` POST webhook ( https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables )

[2019-05-29 15:10] wardpeet commented on #13802
It's not really an issue with useEffect. It's more or less how we use reach router but it's also a bit weird what you do.

We're not capable of setting pages & a catchall on the same route. A workaround you can do is remove the catch-all route and just implement it in your 404.

For example put this in your 404:
[code]

[2019-05-29 15:10] sbardian commented on #14081
I have been digging around to see if I could find where we might catch this as a global API/pluginOption.  If we keep the same plugin option mentioned above, couldn't we add a check here (https://github.com/gatsbyjs/gatsby/blob/bf042a04d95b33ee0d2e4675181587f890b72240/packages/gatsby/src/db/nodes.js#L43) pulling out the `plugin.pluginOptions.plugins` as above from the `const plugin` on line 34, an

[2019-05-29 15:19] JeffWScott commented on #14320
I wanted to reopen this issue because while adding the matieral-ui plugin fixed that site, I have another site that uses react-strap and it still has the issue.  I don't see a plugin to use for react-strap.

Any suggestions?

[2019-05-29 15:48] abooayoob commented on #14367
@jonniebigodes [Here](https://github.com/abooayoob/warnings-overload) is the reproduction repo. If you clone, `npm install` and then try to run with `start`, you will see similar output, only less.

The problem is that I am creating a page and putting an object in the context field which causes the output. There is no graphql involved actually.

In my original project I am creating many pages, wit

[2019-05-29 16:04] glennreyes commented on #4743
As far as I understood the plugin options are being passed to the babel options. I think that's still a bug if setting plugin options doesn't affect anything.

https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/#options

[2019-05-29 16:19] #12895 closed

[2019-05-29 16:24] DSchau commented on #4743
👋 Glenn!

This works just fine!

Given *gatsby-config.js*

[code]

we see the expected output

[code]

![Screen Shot 2019-05-29 at 11 24 04 AM](https://user-images.githubusercontent.com/3924690/58573871-488a1600-8204-11e9-9f0a-2f7a4e358851.png)

[2019-05-29 16:26] whmountains commented on #8790
I also have this issue on Gatsby 2.7.5.  I was using the `useStaticQuery` react hook.

* Not exporting the query as suggested by @MarkH817 didn't work.
* Inlining the query into my hook as in ``const data = useStaticQuery(graphql` ... `)`` didn't work either.
* But inlining my query and switching to the `StaticQuery` HoC did the trick.

I hope this gets fixed soon!

[2019-05-29 16:27] DSchau commented on #8790
@whmountains could you supply a reproduction?

What exactly didn't work?

[2019-05-29 16:42] wgolledge commented on #9585
Is this still relevant? I'm currently thinking of a possible way to block the code compiling/transpiling if there are `type-check` errors.

It would be useful to have an option to select which loader we would like to use.

[2019-05-29 16:43] KyleAMathews commented on #14125
Here's a good reference for adding JSON-LD structured data https://nystudio107.com/blog/annotated-json-ld-structured-data-examples

[2019-05-29 16:44] donaldboulton opened #14396 "Backtick for prismjs and markdown video embed error"
I am using prism js for syntax highlighting and backticks in markdown indicate a code block so it overrides any other plugin using backticks and makes it a code block.
Plugins I have tried that get highlighted; "not linked", in markdown
Any and all that use backticks, like= `video: https://www.youtube.com/embed/2Xc9gXyf2G4`

[2019-05-29 16:48] whmountains commented on #8790
Yes, I can definitely supply a reproduction, though it won't be particularly minimal.  See https://gitlab.com/wtdt/website.  Commit `5ff9496aba19a7da2751dff9fda0f427b953f129` manifests the issue.  The next commit (`b262fda8d92da8ac4b0ecd029d1c3fc48bd168eb`) is a bit noisy, but it fixes the problem.

You *should* be able to build and run it without issues.  There will be a missing prismic api token

[2019-05-29 16:52] #14380 closed

[2019-05-29 16:56] pieh commented on #14380
`gatsby-remark-copy-linked-files@2.0.13` was published

[2019-05-29 17:00] donaldboulton commented on #14342
Try a utils file with prism.js to declare your extensions and variables. Mine is at [prism.js](https://github.com/donaldboulton/publiuslogic/blob/master/client/src/utils/prism.js)
Hope that helps.
Don

[2019-05-29 17:27] #13644 closed

[2019-05-29 17:41] jhoffmcd opened #14398 "Globally Available Configurations or Data Objects"
## Summary

Development teams who work on fairly large scale applications or practicing trunk-based development with feature/release flags may want to be able to build in a system of configuration based on these feature/release flags. You could do this by programmatically creating the config based on env vars during build time and pass that "global" configuration to the client code for further use

[2019-05-29 17:41] joepin commented on #12268
Thanks for the info! Any chance this behavior can be set easily through a simple flag in `gatsby-config.js`? This would help people like myself migrate existing codebases to Gatsby.

[2019-05-29 17:48] jhoffmcd commented on #14398
I guess bottom line is I really just need the mechanism to pass an object I create at build time over to the client side code. Does't have to be for feature flags, that's just for this example, however I would think most people would use it to pass configuration type things.

[2019-05-29 17:58] pieh commented on #14205
#14352 was merged

[2019-05-29 17:58] #14205 closed

[2019-05-29 18:13] harrygreen commented on #7747
Possibly related / helpful to someone:
We're importing a component using `<StaticQuery>` from `gatsby-ssr.js`. It fails silently on **dev**, but it's fine on **build**.

Interestingly, switching from `<StaticQuery>` to the `useStaticQuery()` hook fails loudly on **dev** - but again is fine on **build**.

[2019-05-29 18:13] KyleAMathews commented on #14398
I like this. There's a variety of ways you can do this right now but none of them are _easy_. We could easily create e.g. a action that you can call from gatsby-node.js (`createGlobalContext` 🤔) that when called, writes out the data and then we add this to a context provider in both SSR and the browser.

[2019-05-29 18:21] jonniebigodes commented on #14305
@rudietuesdays sorry for the wait. But i've been a bit under the weather. I'm going to document the steps i took to check your issue and the results.

- Cloned your repository code.
- Installed the dependencies.
- I checked the documentation on that package and the approaches used.
- Without 0 configuration i ran `gatsby develop` or `gatsy  build && gatsby serve` yes the error exists.
- Changed th

[2019-05-29 18:21] #13968 closed

[2019-05-29 18:22] jonniebigodes commented on #13869
@mohoff going to close this as it's answered

[2019-05-29 18:22] #13869 closed

[2019-05-29 18:23] pieh commented on #13968
`gatsby-plugin-google-tagmanager@2.0.14` was published. Check updated notes for route tracking ( https://www.npmjs.com/package/gatsby-plugin-google-tagmanager#tracking-routes )

[2019-05-29 18:26] jaredsilver commented on #11524
I doubt our particular situation will be helpful for many other folks, but I wanted to share it here just in case.

This was affecting DataCamp.com due to a CORS issue. We are using asset-prefixing and hosting assets on S3, served via Cloudfront. During our first deploy with asset-prefixing, we forgot to set CORS headers in S3 to allow access to the assets from our domain (oops). We updated our CO

[2019-05-29 18:29] Steffi3rd commented on #12935
Hello guys

**This is real bug here.**

We cannot use the same naming for the component and the route.
And I think it's not about Netlify because I just reproduced with `yarn serve`

[code]

Redirects me on production to `/cmt/Dashboard` instead of `/cmt/dashboard`.

[2019-05-29 18:32] jonniebigodes commented on #5371
@pmarxbraun can you share your `gatsby-config.js` or at least the portion relative to `gatsby-source-wordpress`? I won't mind taking a look at it. I have already a Gatsby website that sources from it, that i used to tackle some issues related to some issues with wordpress and see what is happening.

[2019-05-29 18:38] agentofuser commented on #14161
@cameron-martin yeah I can't think of a reason why someone would need to or want to have root-relative URLs.

[2019-05-29 18:41] jonniebigodes commented on #13945
@alexluong if you want see my reproduction for this [issue](https://github.com/gatsbyjs/gatsby/issues/13288#issuecomment-483017863) and take it from there.

[2019-05-29 18:50] jonniebigodes commented on #13930
@kepi0809 can you share at least the wordpress part of `gatsby-config.js` so that i can take a look at it? @violy it could be the case yes, that's why i want to check out im more detail to confirm or not if that's the case.

[2019-05-29 19:28] SSelke opened #14401 "Gatsby + MobX: Observer not acting as expected"
## Description

I am using Gatsby, Contentful CMS, and MobX. How I have my current setup, all of my pages being rendered are from Contentful and then queried into Gatsby. All of those pages use MobX stores and work flawlessly. However, when I make a page in the pages directory and try to use data from the MobX store, I get occasional `Unexpected Error: Wrapper is not defined`, and/or my component

[2019-05-29 19:45] alexluong commented on #13945
@jonniebigodes That's a great starting point. I'd take that into consideration for the documentation page.

[2019-05-29 20:10] KyleAMathews opened #14403 "Prompt on cli subset of active users to take survey"
Only survey people who've used Gatsby sufficiently enough to have an opinion.

Only ask a tiny subset of users.

Don't ask the same person more than once every quarter.

/cc @m-allanson @shannonbux

[2019-05-29 20:16] mihaisavezi commented on #6211
It's still happening

[2019-05-29 20:30] bigfanjs commented on #11524
We had this same issue and it turns out the main reason behind it was **circular dependencies**

[2019-05-29 20:30] DSchau commented on #11524
@bigfanjs could you go into a little more detail there?

[2019-05-29 20:49] jlengstorf commented on #12291
It looks like we've started some of this work here: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/did-you-mean.js

So that's probably the best place to start. Thanks!

[2019-05-29 20:51] bigfanjs commented on #11524
@DSchau Well recently a teammate added a feature and we deployed, the browser starts complaining with a similar issue, we didn't have an idea, my teammate created a page and a big common reusable component. So we commented the code in both the page and  the component, and rather rendered a `<div />` tag. And ran `gatsby:build` and then `gatsby serve` to see the minified code locally. and we starte

[2019-05-29 21:01] santoshgistto opened #14405 "gatsby build failing"
`gatsby build`

Error:
` WebpackError: ReferenceError: window is not defined

  - main.js:1
    [lib]/[react-json-view]/dist/main.js:1:152093

  - main.js:1
    [lib]/[react-json-view]/dist/main.js:1:152031

  - main.js:1 e.exports
    [lib]/[react-json-view]/dist/main.js:1:152530

  - main.js:1 Object.<anonymous>
    [lib]/[react-json-view]/dist/main.js:1:147630

  - main.js:1 t
    [lib]/[react-

[2019-05-29 21:03] DSchau commented on #14405
You'll want to add react-json-view to the ignore list with Webpack. It's not server side rendering friendly (as you can see--it's using `window` which won't be available in a Node.js environment).

See [fixing third party modules](https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules)

Going to close--thanks for providing the stack trace. Please reply or re-open if we can

[2019-05-29 21:03] #14405 closed

[2019-05-29 22:18] KyleAMathews commented on #5021
@omeid I don't have any plans no — this would be a great plugin for someone to create and share with the community!

[2019-05-29 22:34] KyleAMathews commented on #13417
This isn't something we'll directly support in core as it's a niche use case as most casual visitors to your site don't want to download code & data for dozens or hundreds of pages.

This _would_ be a cool plugin though. What the plugin code do is create a manifest file that lists every page and what code/data is required for those pages. Then once the site is loaded, fetch all the files which the

[2019-05-29 22:40] KyleAMathews commented on #13887
Ah ok interesting.

One approach too would be to wrap our Link component with one that sends a HEAD request to your server. Perhaps there's some way you could distinguish between Gatsby generated pages and ones from your app?

Another approach would be similar to the above but you run your Gatsby site as a GraphQL server and query it to see if a certain page path exists. This should be _reasonably

[2019-05-29 22:50] cj2 commented on #14300
Thanks again. Will see what I can do... I tried to create a PR prior to filing the issue, but the docs were a little confusing. Stay tuned!

[2019-05-29 23:19] thundernixon opened #14411 "Error: Cannot create as TypeComposer the following value: Date."
_Note: This is partially a continuation of issue https://github.com/gatsbyjs/gatsby/issues/13278, which was closed (seemingly prematurely?) by the gatsbot._

## Description

After updating my site's node modules to their wanted versions, I can no longer successfully build the dev version of a current project.

As far as I can tell based on my actions and on the issue cited above, this is an issue

[2019-05-29 23:20] lborgav opened #14412 "Gatsby develop not working inside a folder with accented latin letters"
## Description

When running **gatsby develop** inside a folder with accented latin letter, raises lots of error.
For example: inside a folder named **Ação**.
(When the folder is name **Acao**, it works fine)

### Steps to reproduce

[code]
### Expected result

It should work correctly

### Actual result

[code]

### Environment

System:
    OS: macOS 10.14.5
    CPU: (8) x64 Intel(R) Core(TM) i7-

[2019-05-29 23:51] jonniebigodes commented on #14412
@lborgav this is a issue that's been created a couple of times, as mentioned in #14126, for now avoid using those characters if you don't mind, i know that it might be a little cumbersome for a portuguese native speaking person, where you implicitely go for portuguese words. But until this issue is solved use this workaround, let's call it that.

Feel free to provide feedback so that we can close

[2019-05-30 00:24] lborgav commented on #14412
@jonniebigodes Thanks for the answer.
I gonna use the workaround you mentioned

[2019-05-30 00:24] #14412 closed

[2019-05-30 00:35] pauleveritt commented on #12272
Apologies for plopping this in here, if you can steer me in the right direction, I'll file a more focused ticket.

tl;dr Frontmatter-driven types.

I come from a CMS background so controlling my schemas is attractive. My Gatsby site uses Markdown frontmatter with `type: author` in the YAML to specify the "type", but since everything is a `MarkdownRemark` node type, I don't get real schemas.

I now

[2019-05-30 01:57] grantsru commented on #8560
Same problem. Keeping an eye on a solution while I attempt to debug.

[2019-05-30 03:32] algol007 commented on #11406
thanks. it's really helpfull

[2019-05-30 03:49] stutrek commented on #7363
You can also make an index.js with this:
[code]

[2019-05-30 03:49] emaildano commented on #11056
@osaturn did you ever solve this? I’m working on a plugin that does exactly this for the platform I work on, getshifter.io.

Using the Redirection plugin, WP REST API and a bit of JS, regex style redirects are possible on our static sites. I think the same idea could apply to GatsbyJS.

[2019-05-30 04:47] jeffreznik commented on #14395
Thank you @pieh!

This should be in more places in the documentation.

[2019-05-30 04:47] #14395 closed

[2019-05-30 05:15] jrestall commented on #13775
I'm also getting this warning when using themes. Seems it is related to GatsbyThemeComponentShadowingResolverPlugin using the old plugin API.

Specifically these lines:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/webpack-theme-component-shadowing/index.js#L21
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/internal-plugins/webpack-theme-co

[2019-05-30 05:24] artistsweb-denis opened #14414 "HTML static build started failing"
## Description

When running the `gatsby build` command it fails without a clear error explanation. Works great in development. I have a very hard time debugging this as getting to the step where static HTML gets built takes about 30 seconds in this project.

I am connecting to express server that just serves JSONs locally. Besides that the project is using a very vanilla setup of Gatsby.

### Ste

[2019-05-30 05:26] KyleAMathews commented on #14414
What is the `HTML` function you're exporting? Is that imported or created somewhere in the component?

--
Kyle Mathews

Blog: http://bricolage.io
Twitter: http://twitter.com/kylemathews

On Wed, May 29, 2019 at 10:24 PM, artistsweb-denis < notifications@github.com > wrote:

[2019-05-30 05:30] Jeff-Mott-OR opened #14415 "Why does my code run while Gatsby is building?"
Regarding https://www.gatsbyjs.org/docs/debugging-html-builds/

My question is, why does my code run _at all_ when Gatsby is building?

Side question: Should I use onInitialClientRender instead?

[2019-05-30 07:15] mikheevm opened #14418 "Building JS and CSS bundles for 5 pages takes 88.374s"
## Description
After updating `gatsby-*`dependencies to the latest versions the cold build started to take really long compared to what it was before (like 4x or even more). After the cold one passes, succeeding ones will take 20-25 secs.
Approximately it became so after this commit: https://github.com/gnosis/dappcon-website/commit/56be14cc789c16355d81b2cc4be0d181adabc789

## BUILD LOG
[code]

###

[2019-05-30 08:27] cameron-martin commented on #14415
For doing [server side rendering](https://reactjs.org/docs/react-dom-server.html).

[2019-05-30 08:36] PolGuixe commented on #13454
Is there a current way forward?

[2019-05-30 08:47] artistsweb-denis commented on #14414
I don't use it anywhere in my code and a quick grep revealed, that it's being used from the gatsby folder in node_modules:
[code]

To me it seems like something is trying to use the ES6 version of a npm module, something within gatsby, as the error pointer didn't help me to locate the issue and I'm fairly certain it's not within my codebase. Do you have any idea what can cause this?

[2019-05-30 09:13] m-allanson commented on #14414
Hey @artistsweb-denis, there's a few things you can try here.

It looks like the HTML function is coming from `default-html.js`, which is the default page chrome that's used for your site. You can override the default by creating your own copy in your `src` directory: `cp .cache/default-html.js src/html.js`. Although I'm not sure where that setTimeout is coming from.

Also try updating Gatsby and

[2019-05-30 09:14] janosh commented on #14371
Would love to have this feature!

[2019-05-30 09:32] pmarxbraun commented on #5371
@jonniebigodes here it is :-)

[code]

[2019-05-30 10:09] joealden opened #14420 "Build error with `gatsby-source-shopify` 2.0.33"
## Description

When updating `gatsby-source-shopify` from `2.0.32` to `2.0.33`, the following error occurs when trying to build the site (using `gatsby-build`):

[code]

I can confirm that this error happen when running `gatsby dev` as well.

### Environment

[code]

[2019-05-30 10:13] artistsweb-denis commented on #14414
@m-allanson I updated every dependency in the project and my global instance of `gatsby-cli` all to the latest available packages in the npm registry. I am trying but I am unable to replicate the issue. We have had no problems in the previous weeks working on the project and it's a rather huge codebase now. The issue is still the same and still pointing to `lib/.cache/default-html.js:1:1`. Is ther

[2019-05-30 10:43] m-allanson commented on #14418
Thanks for the repro @mikheevm - it seems this extra build time is coming from `gatsby-plugin-netlify-cms` v4. You can test this with the default Gatsby starter using the following steps:

[code]

@erquhart is this something you've seen elsewhere or is it something to do with how Gatsby and Netlify CMS are interacting with each other?

[2019-05-30 11:12] m-allanson commented on #14411
The graphql module generally doesn't work well when there are multiple different versions installed.

Can you try removing your `node_modules`, deleting the `package-lock.json` file and re-running `npm
install`? Then try building your site again.

You should be able to see which versions of `graphql` are installed with `npm list | grep " graphql@"`. Ideally (despite the peered warnings) you should

[2019-05-30 11:51] artistsweb-denis commented on #14414
@m-allanson @KyleAMathews So mysteriously I fixed it by removing just a single import from `pages/index.js` which was to **an empty JS file**. Thank you both very much for your help!

For anyone who faces these issues - it's not an easy find, took me half a day but commenting out everything and slowly adding it back page-by-page is the best solution.

[2019-05-30 11:51] #14414 closed

[2019-05-30 12:06] JoshuaWalsh commented on #14325
Actually, I've done some further digging and the explanation for this behaviour is slightly different.

I noticed that if instead of using Firefox's network throttling, I delayed ONLY the image request (I used mod_ratelimit but you could also use Fiddler to achieve this) then the traced version did appear and then faded to the full image once it was loaded. I was pretty surprised by this, but sure

[2019-05-30 12:20] m-allanson commented on #14414
How strange, I'm glad you found the issue!

👍 for this approach to isolating problems. If you're able to replicate the issue using the [`hello-world` starter](https://github.com/gatsbyjs/gatsby-starter-hello-world), then maybe we could reopen this as a bug report? Maybe we could detect and output a more helpful error message to save other people from suffering the same problem.

[2019-05-30 12:41] thundernixon commented on #14411
Hey @m-allanson, thanks so much for your help today on troubleshooting this!

The thing that solved it for me was deleting the `package-lock.json` (along with `node_modules`) and reinstalling with npm.

I think that is something I found at one point in the past, too, so I don't know why I forgot it yesterday. 😄 Well, hopefully this post helps someone else out, as well!

[2019-05-30 12:41] #14411 closed

[2019-05-30 12:46] Siyfion commented on #14185
@andykenward we're using `GatsbyContentfulFluid_withWebp` and `GatsbyContentfulFixed_withWebp` throughout our code, so I can only assume that the issue relates to their usage as, like you say, your repo with images seems to work fine!

[2019-05-30 12:55] pieh commented on #14420
Seems like https://github.com/gatsbyjs/gatsby/pull/13183 introduced this. Exact crash happens on this line https://github.com/gatsbyjs/gatsby/blob/03ddfdf9b6f5a132fe82c202c95829f6f42cd40b/packages/gatsby-source-shopify/src/lib.js#L48 . It seems like cases where `edges` is not an array are not handled.

We would need to add check for it - something like
[code]

[2019-05-30 13:34] andykenward commented on #14185
@Siyfion I think that's to do with not being able to query the Contentful GraphQL endpoint to generate their fragments. Adding the Gatsby Plugin `gatsby-source-contentful` and having valid api keys setup. When I try to generate the typings I get an error on  any fragment referring to their fragments `ContentfulFixed`.

[code]

[2019-05-30 13:38] joealden commented on #14420
tagging @ryansandalboyz and @wardpeet as they were involved in PR that introduced this.

[2019-05-30 13:38] artistsweb-denis commented on #14414
@m-allanson I'd love to but but I failed to replicate the issue on an empty starter (although I tried for an hour and a half) and this was the most I could narrow it down to without wasting hours upon hours. Thank you very much!

[2019-05-30 13:56] Siyfion commented on #14185
Yeah, it's weird because they are all there in that `./node_modules/gatsby-source-contentful/src/fragments.js` file... Not really sure what's going on 😕

[2019-05-30 14:15] nratter commented on #6654
I am not transforming blog images locally after downloading them wordpress, i simply use their url. It would be nice if there was a setting that disables the downloading of these images in this case.

[2019-05-30 14:30] andykenward commented on #14185
@Siyfion Setting up [`Gatsby-source-graphql`](https://www.gatsbyjs.org/packages/gatsby-source-graphql/) and configuring GraphCMS and GitHub GraphQL Endpoints lets me generate their schemas typings just using `http://localhost:8000/___graphql` as the one endpoint for "GraphQL code generator".

Perhaps using `gatsby-source-graphql` and configuring a Contentful GraphQL endpoint will solve it?

[2019-05-30 15:17] stfnsr commented on #11830
I was surprised by the current behavior as well, and would love to give this a shot 🙂

[2019-05-30 15:33] zslabs opened #14424 "Cannot read property 'push' of undefined"
## Description

Error in console during development.

[code]

Error is pointing to `/node_modules/gatsby-plugin-google-tagmanager/gatsby-browser.js`

https://github.com/gatsbyjs/gatsby/commit/f9bb78a3f117773250162246ae8b66454a1a9365#diff-93cf9a36a57d51648416508518877c04R4 is most likely the issue.

### Steps to reproduce

Latest versions of all packages.

### Environment

[code]

[2019-05-30 15:52] prestonso opened #14425 "Improve core team github metrics percentiles calculation"
Don't show datapoints for which we don't have enough data to show for. so that over time metrics won't readjust too much

[code]

[2019-05-30 15:56] prestonso commented on #14425
This replaces gatsby-inc/mansion#3366.

[2019-05-30 15:57] prestonso opened #14426 "Core team - Track time to review in addition to time to reply and time to close/merge"
* we need to start ingesting reviews for this metric

[2019-05-30 15:58] prestonso commented on #14426
This replaces gatsby-inc/mansion#3396.

[2019-05-30 15:59] prestonso opened #14427 "Release v1 of style guide currently located on mutability.netlify.com"
This is a request from Marketing to:

- treat the current style guide as MVP and prepare it to be released to the public as v1.
- publish the style guide on gatsbyjs.org so that it can be referred to by contributors and external folks.

[2019-05-30 16:00] prestonso commented on #14427
This replaces gatsby-inc/mansion#3400.

[2019-05-30 16:01] prestonso commented on #14427
Pull request is open at #14360.

[2019-05-30 16:02] prestonso opened #14428 "Work with Jarmo to get top error messages listed"

[2019-05-30 16:03] rudietuesdays commented on #14305
@jonniebigodes thank you! I appreciate that. When I use the config you posted above, that's when I get the error
[code]

[2019-05-30 16:05] FoxyGirl opened #14429 "Losing links to css & js after reload static page without cleaning cache of browser"
# Description

We are using Gatsby for our site and we have caught a problem with pages created by gatsby-ssr.js.

We can see correct html files in folder **/public/** with added links to css & js into `<head>`, but after build we can see them in <head> only after updating with cleaning browser cache _(Shift/Cmd/R)_.

Even using _Cmd/R_ for reload page doesn't help.
https://tilda-api.netlify.com/e

[2019-05-30 16:05] prestonso commented on #14428
This replaces gatsby-inc/mansion#3420.

[2019-05-30 16:06] prestonso opened #14430 "Work with Jarmo to set up funnel for OSS usage"
Instead of a traditional funnel, let's just measure how long it takes for people to get from
1. When telemetry starts tracking them
2. They see hot reloading for the first time

And perhaps, if possible, what they do in between those two steps.

We're trying to make sure people see hot reloading as fast as possible, because it's the first big WOW moment, so we need to know how long it takes now so

[2019-05-30 16:08] prestonso commented on #14430
This replaces gatsby-inc/mansion#3421.

[2019-05-30 16:11] prestonso opened #14431 "Track errors due to OS, Node.js, or Gatsby version"
something that’ll be really valuable is checking for errors that a) is mostly or entirely on an OS, a node version, or Gatsby version or b) the rate of what OS/Node/Gatsby version changes dramatically e.g. we release a bug that affects one of the above

[2019-05-30 16:12] prestonso commented on #14431
This replaces a card in gatsby-inc/mansion.

[2019-05-30 16:12] marisamorby opened #14432 "Users should experience hot reloading as soon as possible"
## Description
Users should experience hot reloading as soon as possible because it is a crucial taste of the important value that Gatsby provides--fast in every way that matters. A faster editing/development cycle is a huge part of why people like Gatsby, but we don't yet know *how* fast the cycle is and whether we could make it faster.

Measure how long it takes from the time people install Gats

[2019-05-30 16:30] Hence07 opened #14433 "bundle issues: npm run develop compile with success but only seeing blank ..."
![gatsby1](https://user-images.githubusercontent.com/13372822/58648024-c585c000-82d6-11e9-8953-5c25438bdeb7.png)

[2019-05-30 16:31] DSchau commented on #14433
Do you mean that `http://localhost:8000` is blank?

Is there perhaps an error in your console (F12 or otherwise open Developer Tools to access).

[2019-05-30 16:33] DSchau commented on #14424
Thanks for identifying the fix!

I'm not intimately familiar with that plugin--I'm guessing we just want to wrap the check in a `if (process.env.NODE_ENV === 'production')` because the plugin is only enabled in production, correct?

[2019-05-30 16:36] Hence07 commented on #14433
Hey, I appreciate your quick feedback. No, It keeps loading until timeout!. and I kept getting <!-- info: i [wdm]: wait until bundle finished: />

[2019-05-30 17:06] zslabs commented on #14424
@DSchau I think a more complete fix may be what is mentioned in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-tagmanager/src/gatsby-ssr.js#L8 (an additional plugin option check)

[2019-05-30 17:23] RafaelEsaa opened #14434 "Build script returned non-zero exit code: 1 netlify"
Hi everyone! First excuse me for my english :(

The problem is that when I want deploy my project in Netlify, the console deploy show this error and I dont know to do.

Checked all name components that will match in CamelCase and still not working

[code]

[2019-05-30 17:27] #11616 closed

[2019-05-30 17:55] stefanprobst commented on #12272
@pauleveritt One way to set up foreign-key relations between fields is with the `@link` directive. For a typical blog (posts as `.md` files, author info and tags in `.yaml` files) it could look like this:

[code]

I've also [put this together in this repo](https://github.com/stefanprobst/gatsby-blog).

We also finally have a bit of documentation on the schema customization APIs [here](https://www.

[2019-05-30 17:57] alexluong opened #14436 "Questions regarding createResolvers"
# Thoughts

After learning more about the new Schema Customization API, I have a few questions regarding `createResolvers`.

Based on what I'm understanding, `createResolvers` is a Gatsby Node API which will be called at the last step before the schema is generated.

Inside this event, there is a parameter called `createResolvers`, which actually performs the task of creating GraphQL resolvers.

I

[2019-05-30 17:58] stefanprobst commented on #12272
@freiksenet I think it depends if it means moving the type definitions for `File` to core, or if (parts of) what is now `gatsby-source-filesystem` should be moved with it as well. Moving `File` alone should be ok I think.

[2019-05-30 18:07] zslabs commented on #14424
https://github.com/gatsbyjs/gatsby/pull/14437

[2019-05-30 18:09] pauleveritt commented on #12272
@stefanprobst Neat concept...but I think the challenge is here:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/on-node-create.js#L45

I don't know how I can get a node created as a `AuthorYaml` based on the frontmatter coming from the existing `gatsby-source-filesystem` and `gatsby-transformer-remark`.

It's likely I need to stop thinking about link targets

[2019-05-30 18:09] g-crow commented on #14434
It looks like you have at least one named StaticQuery with the same name in multiple files. Check that SiteTitleQuery is only used once.

See this issue: https://github.com/gatsbyjs/gatsby/issues/13207

[2019-05-30 18:14] stefanprobst commented on #12272
@pauleveritt

yes, this is what I do in the linked example. Any reason to put author info in markdown files?

[2019-05-30 18:31] pauleveritt commented on #12272
@stefanprobst "Any reason to put author info in markdown files?"

I want everything -- author, category, tag, etc. -- to be a rich "resource" that people can edit, add images, code blocks, MDX stuff in the Markdown, etc.

But I'm  not going to easily get that. :) I'll switch to YAML for those. Alas my "regular content" (tutorials, articles, blog posts) could also use being types with different sch

[2019-05-30 19:11] #14424 closed

[2019-05-30 19:25] Jared-Dev commented on #14151
@wardpeet I think the tags on this could safely be removed. I'm not sure how you would normally handle this in terms of leaving it open as a reminder to check in vs closing now and re-opening if the mentioned version doesn't resolve the issue, but...

[The discussion](https://bugs.chromium.org/p/chromium/issues/detail?id=967697#c6) on the Chromium project leads me to believe they had a bug, but it

[2019-05-30 19:29] marcysutton commented on #14427
We should add a `/guidelines` landing page at some point. The PR includes a few pages for `/guidelines/color`, `/guidelines/logo`, `/guidelines/design-tokens/` and `/guidelines/typography`

[2019-05-30 19:42] lukedohner opened #14439 "Cannot add as Composer type following value: Date."
## Description

On Gatsby Develop I get this error:
Lukes-MacBook-Pro-5% gatsby develop
success open and validate gatsby-configs — 0.017 s
success load plugins — 1.997 s
success onPreInit — 0.092 s
success initialize cache — 0.023 s
success copy gatsby files — 0.432 s
success onPreBootstrap — 0.022 s
success source and transform nodes — 0.298 s
⠁ error UNHANDLED REJECTION

  Error: Cannot add as C

[2019-05-30 20:04] stefanprobst commented on #12272
@pauleveritt  yes, `gatsby-transformer-remark` will only create one `MarkdownRemark` type - and using that to represent different entities will be problematic. so this is not really a schema related issue, but you'd need a markdown transformer plugin that can create differently named makrkdown nodes (which should be quite doable).

that said (only as an experiment), it *is* possible to do this wit

[2019-05-30 20:16] jrusso1020 opened #14441 "Google complaining about redirects and curling any page returns homepage"
## Description
My google search console is complaining all of my pages besides my homepage are either redirects or Duplicate without user-selected canonical. As you can imagine this is causing SEO problems for me because no pages besides my homepage can be listed and I'm getting dinged for having duplicates/redirects.

Also whenever I curl any page on my website I only ever get my homepage, regard