[2018-03-23 16:21] KyleAMathews commented on #4662
One way of doing it is to always use `<Link>` when server rendering since those always turn into an `<a>` and then in the client, use https://github.com/mrded/is-url-external/blob/master/index.js to differentiate between links.

[2018-03-23 16:24] shannonbux commented on #4394
Ok closing this issue because I turned the remaining tasks into smaller issues in the UX project.

- Maintain light purple selected state in plugin library #4670
- Plugin library filters and sorting enhancements #4671
- Plugin library list sites that use plugin #4672
- Add Algolia notes to Plugin Authoring doc #4673
- Create READme template for plugins #4284

[2018-03-23 16:24] #4394 closed

[2018-03-23 16:26] KyleAMathews commented on #4660
FWIW, I'm a big fan of large components and long render functions. If when building a page, I'm not reusing a component within the page component with other pages, I just keep it within the render function. If I need it elsewhere, I then refactor it out to the components directory. This tends to be a lot less work than trying to prematurely extract out abstractions (i.e. new components).

[2018-03-23 17:15] michaek commented on #864
@m-allanson Yes, it's possible (and I'm doing it), it just seems to involve too much knowledge about the configuration internals to be something I'd recommend:

[code]

I think it would be better for for most people if Gatsby accepted a separate configuration option for the public host where assets will be requested from, rather than assuming that's the same as the dev server hostname and port.

[2018-03-23 17:25] fabe commented on #4348
@li-xinyang Were you able to fix this? Having the same issue and wondering if I'm missing something.

[2018-03-23 17:27] LeKoArts commented on #4671
Filters:
- Category
- Gatsby Version (I'd only use major(?) version of Gatsby, so currently probably all plugins should work)

Sorting:
- Name
- Popularity
- Date of the last update

[2018-03-23 18:23] KyleAMathews commented on #4660
@jquense yeah, the underscore thing is a holdover from v0. I doubt it's used much and yeah, it's an odd pattern. I'll put up an issue asking if anyone cares if we remove it from v2.

[2018-03-23 18:26] KyleAMathews opened #4674 "[v2] Remove support for non-page components in src/pages?"
We have a somewhat odd pattern of not turning components into pages in src/pages that start with an underscore.

It's not documented nor really encouraged. Does anyone regularly use this pattern? The react way to do it would be to have a components directory (which is what it seems everyone does).

[2018-03-23 18:26] all9lives commented on #4488
@pieh Thanks for your help working out the issue here, I was able to implement it and I'm getting back either null or detailed media properties (localFile, childImageSharp, source_url etc). Works well now, cheers.

[2018-03-23 18:27] KyleAMathews commented on #4660
Posted issue https://github.com/gatsbyjs/gatsby/issues/4674

[2018-03-23 18:39] KyleAMathews commented on #4654
We set the child element to absolute https://github.com/gatsbyjs/gatsby/blob/1e035a514ad5e6651df7255594c126c564139bb0/packages/gatsby-image/src/index.js#L235

[2018-03-23 18:42] KyleAMathews commented on #4670
@fk we had styles for this right?

[2018-03-23 18:43] KyleAMathews commented on #4673
I think I said at some point it was 24 hours but I most have made that up as I'm not sure the reindex time is documented and in practice, it seems Algolia updates very quickly after a new publish to NPM.

[2018-03-23 18:53] pieh commented on #4488
We derailed original issue a little, but overall it might be helpful for other folks that want to use seo data. Will close issue is problem seems resolved.

[2018-03-23 18:53] #4488 closed

[2018-03-23 19:29] KyleAMathews opened #4677 "[v2] Issue for tracking upstream work on mini-css-extract-plugin"
- [ ] HMR w/ mini-css-extract-plugin webpack-contrib/mini-css-extract-plugin#34
- [x] content hash support webpack-contrib/mini-css-extract-plugin#1
- [x] Don't refetched CSS chunks that are inlined https://github.com/webpack-contrib/mini-css-extract-plugin/issues/53
- [ ] ~Use `[contenthash]` instead of `[chunkhash]`~

@sokra I think you mentioned also that you still need to add support for extra

[2018-03-23 20:17] tremby commented on #4662
@altayaydemir: yes, in fact I already do use a component like that. It just seems it really shouldn't be necessary.

@KyleAMathews: good to hear you're open to improving things.

@altayaydemir's heuristic is no good since it'll fail on same-protocol URLs such as `//external.example.com/path`.

mrded/is-url-external is no good in my opinion since it only checks HTTP/HTTPS URLs and so will fail on m

[2018-03-23 21:56] KyleAMathews commented on #4662
Yeah... this is why I'm not sure if trying to solve this is even a good idea — the only person that knows if a link should be external or not is the one building the site. People can sometimes embed Gatsby sites within a larger site so links like `/about-us/` are actually pointing to another site.

It might be simplest to just keep `<Link/>` as always internal and it's on the developer to use `<a>

[2018-03-23 22:39] shannonbux commented on #4175
Hello everyone! Any objections to me closing this issue to create new smaller issues to address these lingering ideas:
- Create a visually pleasing onboarding landing page
- Make sure templates, style guides and a list of priorities exist for community tutorial contributions to aid in maintaining docs and tutorials for 3rd party integrations/plugins"
- add a prominent section on where GraphQL quer

[2018-03-23 22:48] tremby commented on #4662
like /about-us/ are actually pointing to another site.

I had not considered this. Yes, ok, I now agree with your (and
react-router's) decision.

Maybe a good compromise would be to add some documentation with related
suggestions? My intention is now to provide that.

[2018-03-23 22:49] KyleAMathews commented on #4662
Adding a section to gatsby-link would be great!

[2018-03-23 23:55] fabe commented on #4636
I'm having the same issue on multiple unrelated sites, pretty sure it's recent. Only happens when I reload the page while the developer console is opened in Chrome. Some kind of loop going on there. Additional warning:

[2018-03-24 00:18] docwhat opened #4680 "writePages() is being called too often"
These problems can be reproduced with docwhat/docwhat/commit/6b95cce62dc00585bd92a9acbe551814d815255c on a system that has *slow disk IO*.

I work on two systems, with one being fairly slow.

To recreate the problem (on a slow system) just edit a `comment/` file.  It's pretty reliable for me.

----

I keep getting an infinite loop of compiling the page over and over again.

I modified the code in

[2018-03-24 00:54] CharlyJazz commented on #4636
This warning is normal. @fabe. The SW can work with normality even the warning exist

[2018-03-24 01:07] fabe commented on #4636
@CharlyJazz Yes, but the warning is being shown constantly in an infinite loop, together with the redundancy error. Here's a [video](https://streamable.com/z9mwu). Sorry for the confusion.

[2018-03-24 01:08] KyleAMathews commented on #4680
This is expected — we're listening to a number of internal events — all of which could invalidate the current sync-requires.js — some of them are quite noisy e.g. CREATE_PAGE which is called every time a plugin creates a page which happens every time data is updated. That's why we debounce so we only actually write out data once the internal work has finished.

Where are you measuring the duration

[2018-03-24 01:14] docwhat commented on #4680
See my modified `debounceWritePages()` above.

[2018-03-24 01:18] KyleAMathews commented on #4680
Oh — well, you're telling Gatsby to serialize the same data to disk over and over again w/ basically no time in between — so yeah, node & your HD are going to get backed up :-)

[2018-03-24 01:20] timojaask commented on #2410
I'd love a way to reset the cache right now because I just switched one JPEG file for another with the same name, but for whatever reason, Gatsby doesn't see that the file has changed, and keeps showing the old file. It's driving me nuts because I can't figure out how to make it re-read the updated image file.

[2018-03-24 01:37] docwhat commented on #4680
I tried different waits, include 3000ms.  It didn't stop things from getting slower.

[2018-03-24 01:37] KyleAMathews commented on #2410
@timojaask where is the jpeg image being used? Is it referenced from a markdown file or are you querying it with graphql and ImageSharp?

[2018-03-24 01:40] KyleAMathews commented on #4680
Hmm interesting — would love it if you could drill in more and see where things are slowing down.

[2018-03-24 01:41] timojaask commented on #2410
@KyleAMathews I've got graphqul query with a lot of images, below is a snippet. So I changed the `helsinki-basbas5.jpeg` image from one to another with the same name.
[code]
I noticed that if I change anything in the basbas5 query, it will show the updated image. For example, if I change cropFocus to NORTH, it works. If I change it back to CENTER, it will show the old image again.

[2018-03-24 01:42] KyleAMathews commented on #2410
Huh, that's odd. Lemme look into that real quick.

[2018-03-24 04:31] KyleAMathews opened #4682 "[v2] Add api "sourceNodesStatefully" for plugins that update nodes themselves (so as to make calling sourceNodes repeatedly safe)"
To migrate:

- gatsby-source-filesystem
- gatsby-source-sanity
- gatsby-source-datocms
- gatsby-source-contentful

If we make this migration, then we are able to call `sourceNodes` safely on any source plugin. When we do that, we'll also need to add garbage collecting for source plugins when we call them.

[2018-03-24 04:32] KyleAMathews opened #4683 "[v2] add @babel/plugin-proposal-optional-chaining"

[2018-03-24 04:32] KyleAMathews opened #4684 "[v2] Add babel-macros"

[2018-03-24 04:35] KyleAMathews opened #4685 "[v2] Move reducers to store data in Maps and Sets where appropriate as much more efficient/rich data structures vs. arrays"
e.g. right now we're storing pages and nodes in an array and updating these can get mildly expensive as we loop over a long array every time we add a page or node to check if the new page/node is a duplicate or not. Using a Map would be much cheaper.

Also, @docwhat ran into a weird bug that replacing the array with a map fixed.

[2018-03-24 09:33] moonmeister commented on #4175
go for it...good summaries

On Fri, Mar 23, 2018 at 3:39 PM, shannonbux <notifications@github.com>
wrote:

[2018-03-24 09:41] MorganTrudeau commented on #3560
I'm also experiencing Dale's issue.

[2018-03-24 10:52] thundernixon commented on #2796
Strangely, I waited a few days and changed nothing ... and it now works.

In case anyone else comes across this and is in the same bind as me: if I do run into the problem again, I will likely try the suggested fix at https://stackoverflow.com/questions/26094420/fatal-error-call-and-retry-last-allocation-failed-process-out-of-memory/48895989#48895989

[2018-03-24 11:19] li-xinyang commented on #4348
Because of the script inside `gatsby-node` only run **once** so I fixed the issue by restart the `gatsby develop`.

[2018-03-24 13:39] Abdelrahman146 opened #4687 "Auto build and deploy whenever a post is added to firebase database."
Hello everyone,

I'm working on a simple project using Gatsby + Firebase. and what I need is an auto Build and Deploy to be triggered whenever a post is added to firebase database ...
I would like to know how to make a simple app that whenever a post is added to firebase database an auto Build and Deploy will be triggered.

 I need to do this because I want the post pages to be server-rendered.

I

[2018-03-24 14:20] matyunya commented on #2384
For those still interested in disabling prefetching, I suggest putting it in dotenv file as follows and fixing this couple lines in node_modules/gatsby/cache-dir/loader.js (line 30, as of v1.9.214):

<img width="731" alt="screen shot 2018-03-24 at 5 17 35 pm" src="https://user-images.githubusercontent.com/2044570/37864997-460d756e-2f87-11e8-9672-c3e44a0635b5.png">

and then line 242
<img width="85

[2018-03-24 14:29] matyunya commented on #2384
My argument to disable prefetch is that when you lazy load images with gatsby-image wrapped in gatsby-link you might not want those extra network requests, especially considering slow networks.

[2018-03-24 14:51] eyar commented on #990
I'm getting the following error:

{ Error: Cannot find module "!raw-loader!../public/styles.css"
    at webpackMissingModule (render-page.js:38544:82)
    at Object.<anonymous> (render-page.js:38544:191)
    at __webpack_require__ (render-page.js:30:30)
    at Object.<anonymous> (render-page.js:84:13)
    at __webpack_require__ (render-page.js:30:30)
    at Object.assign.i (render-page.js:50:18)

[2018-03-24 16:26] KyleAMathews opened #4689 "[v2] Refactor Babel config loading to use the new loadPartialConfig and createConfigItem APIs"
Much better than our hacky current way of loading user config :-)

https://github.com/babel/babel/tree/master/packages/babel-core#babelloadpartialconfigoptions-object-partialconfig

/cc @loganfsmyth

[2018-03-24 16:31] benjaminhoffman commented on #4590
Hey @m-allanson !  Thanks for the comment. Sadly, I'm not sure if that did the trick. :( . I followed that step for _both_ gatsby and for my plugin.

The branch is `mailchimp2` and here is the diff: https://github.com/gatsbyjs/gatsby/compare/master...benjaminhoffman:mailchimp2?expand=1

Do you have a moment to pull down my branch?  My steps:

[code]

Then I load this page: http://localhost:9000/bl

[2018-03-24 16:52] sebastienfi opened #4690 "Are you a Gatsby Freelancer ?"
## Gatsby Freelancers

In order to prepare a listing of Gatsby Freelancers on gatsbyjs.org, post your contact info here if you do want to appear in this list.

I'm also looking for someone to do a blog on Netlify CMS + Gatsby because I don't have the stream to do it myself, [drop me a mail](fichot.sebastien@gmail.com) if interested.

[2018-03-24 17:26] #4549 closed

[2018-03-24 17:27] KyleAMathews commented on #4687
It looks like you can setup a Cloud Function which triggers on every write https://github.com/firebase/functions-samples/tree/master/minimal-webhook

Have that webhook be sent to wherever you're building the site to trigger a new build.

Good luck!

[2018-03-24 17:27] #4687 closed

[2018-03-24 17:34] giladronat commented on #4514
This is done. Feel free to close @KyleAMathews

[2018-03-24 17:46] KyleAMathews commented on #4514
Thanks @giladronat!

[2018-03-24 17:46] #4514 closed

[2018-03-24 18:55] pzatrick commented on #4690
pscale01@gmail.com
https://patrickcanfield.com

Also, maybe I'm misunderstanding but does this cover what you're looking for (Netlify CMS + Gatsby)?
 https://www.gatsbyjs.org/docs/netlify-cms/

[2018-03-24 20:01] sebastienfi commented on #4690
@pzatrick Yes, Netlify CMS as CMS to create the pages and articles and edit contents in markdown, then fed to Gatsby using `gatsby-plugin-netlify-cms`. Sent you an email about it.

[2018-03-24 20:23] KyleAMathews opened #4691 "[v2] add error boundaries around pages so harder to break sites"

[2018-03-24 20:24] KyleAMathews opened #4692 "[v2] make sure we're using new lifecycles for react 16.3"
E.g. getDerivedStateFromProps

[2018-03-24 22:23] timojaask opened #4693 "Cannot find module '../build/Release/sharp.node'"
## Description

Running `gatsby develop` throws an error:

[code]

This started happening after I tried to install `gatsby-plugin-google-analytics` and copy-pasted the necessary lines into the `gatsby-config.js` file:

[code]

See below for `gatsby-config.js`.

Reverting to any previously working commit doesn't fix the error, so it seems like some sort of caching issue.

The only workaround that w

[2018-03-24 22:26] marcata commented on #2259
Would you kindly tell me or point me to a resource about how to make the transformer work, specifically how I have to configure gatsby-source-filesystem so it works with letters.json? I can't find any information about this.

[2018-03-24 23:27] JosueDevMark opened #4694 "VS Community 2015 link is not correct"
## Description

Sometimes we should install a package from vs community 2015, but, the current link to download vs 2015 installer send us to vs 2017 page, however, we must use 2015 version, so is weird to find the correct installer.

### Steps to reproduce

N/A

### Expected result

We should have a link to directly download vs 2015 installer

### Actual result

Using the docs link we would downlo

[2018-03-24 23:28] JosueDevMark commented on #4694
Hi! I just made a PR to add the link to download vs community 2015 installer. I has find the link on https://stackoverflow.com/questions/44290672/how-to-download-visual-studio-community-edition-2015-not-2017

[2018-03-25 00:04] calebsylvest commented on #4670
@shannonbux sounds like what you are saying is a Current state needs to be shown on the plugins list. Currently, there is a Hover state, but no Active/Current indicator.

Here's a simple concept to consider if these styles don't already exist:
![gatsby-plugin-states](https://user-images.githubusercontent.com/4457883/37870218-e7651f62-2f95-11e8-96e5-2b7a9f593c35.png)

[2018-03-25 00:09] njosefbeck commented on #3722
@shannonbux @jlengstorf I was able to fix it, had to do with needing to compile the gatsby-ssr code using babel. Will close this - thanks for the replies!

[2018-03-25 00:09] #3722 closed

[2018-03-25 03:52] loganfsmyth commented on #4689
Per https://github.com/babel/babel-loader/issues/598#issuecomment-375934972, it seems like if we expose that from `babel-loader`, the main difficulty depends on what exactly Gatsby wants plugin developers to be able to do with the `modifyBabelrc` hook that you offer. If it's purely a "add this plugin" API, then it should be really easy, otherwise it seems like you'd have to call `modifyBabelrc` fo

[2018-03-25 04:15] Jaikant commented on #4690
jaikant@gmail.com

there were a few issues with netlify CMS and Gatsby integration a few weeks back, not sure if it is resolved now.

[2018-03-25 06:07] KyleAMathews commented on #2410
I didn't make it far with my investigation but this is definitely a bug — we shouldn't be caching any query results if the underlying data changes in some ways. We normally don't I believe so not entirely sure what's happening. I'd appreciate more people investigating.

[2018-03-25 08:06] spences10 commented on #4072
Yes @nickmccurdy I haven't looked on Debian (what I'm using now) but I know the `apt get` version of node on Ubuntu is `node legacy` ~v4

I use [`n`] now you can install via [n-install] I tried using the official install but always had permission errors and using [`nvm`] slowed my bash shell down noticeably.

[`n`]: https://github.com/Microsoft/WSL/issues/776#issuecomment-266112578
[n-install]: ht

[2018-03-25 08:55] spences10 commented on #4139
I'm checking for Windows Documentation using Windows Subsystem Linux (WSL) if there isn't any in the works I'd like to contribute what I have done for my [own personal documentation].

Just for info for those that are not aware WSL has been available in Windows 10 via the [Windows Store] since the [Fall Creators Update] there will be a very large portion of developers that could use this instead o

[2018-03-25 09:42] spences10 opened #4696 "Using Windows Subsystem Linux: Debian"
## Description

Using Windows Subsystem Linux: Debian

### Steps to reproduce

Install Debian from Microsoft store, go through install steps.

Install the following:

[code]

### Expected result

[code]

See project on `localhost`

### Actual result

Get some error output:

[code]

### Environment

* Gatsby version (`npm list gatsby`): 1.9.240
* gatsby-cli version (`gatsby --version`): 1.1.48
* No

[2018-03-25 11:46] speedDeveloper opened #4697 "GraphQL Error Unknown type "ImageSharpResolutions""
## Description

An GraphQL Error occurs on the `gatsby-transformer-sharp` plugin

### Steps to reproduce

Clone the repo https://github.com/speedDeveloper/philippczernitzki.me, `yarn install` and then `yarn develop`

### Expected result

No error should be thrown.

### Actual result

GraphQL Error Unknown type "ImageSharpResolutions".

  file: philippczernitzki.me/src/images/node_modules/gatsby-tr

[2018-03-25 13:01] speedDeveloper commented on #4697
I had to adjust my gatsby-config.js to include all `pages` in the folder `src/pages`

[2018-03-25 13:01] #4697 closed

[2018-03-25 13:46] tsriram commented on #4691
Have any content in mind to show from error boundary when there's an error?

[2018-03-25 15:35] pauldotknopf opened #4699 "Unhandled async method somewhere."
So, I am using ```gatsby/dist/bootstrap``` manually from my application. I have to embed Gatsby.

However, when I call this function, my application will never exist due to an unhandled async callback.

This seems to exist in your production code, but you handled it in the CLI by manually exiting the process.

https://github.com/gatsbyjs/gatsby/blob/bfb8f9446e38894497b63163bf8bf9a248572d8a/package

[2018-03-25 20:02] markelog commented on #3067
@KyleAMathews is there any way to use styled components with the current state of things?

[2018-03-25 20:10] KyleAMathews commented on #3067
@markelog  Lots of people are using styled-components successfully — what problems are you seeing?

[2018-03-25 21:01] markelog commented on #3067
Exact same issue described in the ticket - page is rerendered and assets are redownloaded :/.

I suppose it’s not that directly noticeable if you don’t have animation, but it’s there

Regards,
Oleg

[2018-03-25 21:31] KyleAMathews commented on #3067
It does sound like several people are having trouble with gatsby-plugin-styled-components — @m-allanson's guess that it has something to do with the babel plugin not being included seems plausible.

@markelog would you like to try adding the SC babel plugin to the gatsby plugin to see if that fixes things?

You can setup a development environment using the instructions here https://www.gatsbyjs.or

[2018-03-26 00:21] zedman opened #4703 "[gatsby-transformer-javascript-frontmatter] Cannot query field allJavascriptFrontmatter"
## Description

Running a query for allJavascriptFrontmatter results in an error, with no allJavascriptFrontmatter field being found. Am trying to access from within gatsby-node.js' onPostBuild function, but also tried within GraphiQL.

### Steps to reproduce

- Installed package
- Added plugin to gatsby-config.js with `plugins: [
    'gatsby-transformer-javascript-frontmatter',  ...`
- Added fron

[2018-03-26 03:09] daydream05 opened #4704 "Can you import a normal react library? Or does it need to be a plugin?"
I'm still confused on how Gatsby and plugins work. Why does Gatsby need to have its own version of a library? (i.e. styled-components).

[2018-03-26 03:14] KyleAMathews commented on #4704
It's too handle SSR which, depending on the library, can require special Babel or webpack settings. Also with css-in-js libraries the plugins extract and inline in the head the critical css https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-styled-components/src/gatsby-ssr.js

[2018-03-26 03:14] #4704 closed

[2018-03-26 04:51] tsriram commented on #4670
So we have the styles for selected state of a search result card but the logic to check if a result is selected is broken. Before I push a fix for this, is the existing style for the selected plugin enough? Or should I change the style as described above?

This is how it looks with the current styles:

![image](https://user-images.githubusercontent.com/450559/37887425-510386f8-30df-11e8-807e-1cafe

[2018-03-26 05:10] KyleAMathews commented on #4670
Yeah, the current styles are fine — let's get it restored first and if we think the styles should be changed, let's do that in a follow-up PR.

[2018-03-26 05:31] dustinhorton commented on #4535
@m-allanson Thanks for checking it out. You're absolutely right—the other plugins _are_ working as expected. I've updated to post to reflect that.

[2018-03-26 05:31] dustinhorton commented on #1347
This is also an issue in `gatsby-plugin-postcss-sass`, see my issue @ https://github.com/gatsbyjs/gatsby/issues/4535 for a repro repo.

[2018-03-26 06:09] nihgwu opened #4707 "wrong GraphQLSchema"
## Description

I created a plugin [gatsby-transformer-code](https://github.com/nihgwu/gatsby-transformer-code), if I add `relativePath: node.relativePath` to the `codeNode` https://github.com/nihgwu/gatsby-transformer-code/blob/master/gatsby-node.js#L27, the generated `GraphQLType` for `relativePath` should be `GraphQLString` but got `File`, that's quite strange, I'm not familiar with GraphQL, I

[2018-03-26 06:12] dustinhorton commented on #318
Unfortunately the proposed workaround didn't work for me—still no prefixing.

[2018-03-26 06:28] chibicode commented on #1499
I had the same issue.

In my case, I was using typescript's [`apollo-codegen`](https://github.com/apollographql/apollo-codegen) to generate type definitions from graphql queries in `src/pages/index.tsx`, but those type definitions generated in `src/pages/__generated__` directory, which caused the above error. Simply `cp`ing those files out to some other directory outside `pages` fixed it.

[2018-03-26 06:29] chibicode commented on #3219
I ran into the same issue, and my problem was a non-page file living under `src/pages`: https://github.com/gatsbyjs/gatsby/issues/1499#issuecomment-376059629

[2018-03-26 06:31] dustinhorton commented on #3348
@alampros Thanks for the awesome work on `gatsby-plugin-resolve-src`.

I tried your proposed solution, but couldn't get it to work, at least in my project. FWIW, relative imports don't need that variable usage.

[2018-03-26 09:06] coco98 opened #4708 "Proposal: Add plug-n-play support for arbitrary GraphQL sources"
## Use-case

I already have a graphql API that can export a graphql schema. I want to use that as a gatsby source so that I can specify graphql queries (in the graphql type system that I have in my graphql schema) for each component and have that fetched during gatsby build.

## Things to figure out

- Support schema-stitching for gatsby graphql queries
- Add support for "sync" or "changes" so tha

[2018-03-26 09:08] nicolaslair commented on #3344
Hi guys, just checking if someone made any progress with this issue - we just discovered it wehen dealing with optional / empty fields in Contentful > Gatsby - so it would be nice to have a solution - obviously :) Thanks in advance!

[2018-03-26 09:43] pieh commented on #4703
do you have `gatsby-source-filesystem` pointing to dir with your js file?

[2018-03-26 09:50] pieh commented on #4707
gatsby automatically converts string fields with relative paths to files to `File` nodes

You shouldn't really copy fields from parent node to your node - if you need to access those fields do it in graphql using `parent` field which gives you access to `File` node from `RawCode` node

[2018-03-26 09:58] nihgwu commented on #4707
`parent` only contains `id`

[2018-03-26 10:24] pieh commented on #4707
try this:
[code]

[2018-03-26 10:50] pschild opened #4709 "[gatsby-remark-copy-linked-files] Random errors copying files"
## Description

When I run `gatsby develop` or `gatsby build` I'm detecting *randomly* thrown errors regarding `operation not permitted`, followed by `no such file or directory` in the console. By randomly thrown I mean that *with each* `develop` or `build` command, *different* files are affected!

As you can see in my `gatsby-config.js` below, I'm using the plugin `gatsby-remark-copy-linked-files

[2018-03-26 11:56] m-allanson commented on #4709
Thanks for the detailed writeup. It looks like Windows is complaining about file permissions for some reason. Can you try out [`gatsby-starter-blog`](https://github.com/gatsbyjs/gatsby-starter-blog) and see if you get the same errors?

[2018-03-26 12:11] nihgwu commented on #4707
@pieh Thanks, the convert thing bothered me a lot

[2018-03-26 12:11] #4707 closed

[2018-03-26 12:43] m-allanson commented on #4699
I don't know the answer to your `create-cli.js` question... however if there are any unhandled callbacks it'd be great to track them down. Are you seeing errors about unhandled callbacks? Or do you have an example repo that replicates the issue?

[2018-03-26 12:44] pschild commented on #4709
Thank you for your quick reply!

Indeed I could reproduce the error using [gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog). I did the following steps:

- `git clone https://github.com/gatsbyjs/gatsby-starter-blog.git`
- `npm install`
- Added the video file `test.mp4` in the folder `src/pages/my-second-post`
- Added HTML code for the video in `src/pages/my-second-post/index.md

[2018-03-26 12:56] pauldotknopf commented on #4699
It is pretty straightforward to reproduce.  See [here](https://github.com/pauldotknopf/docgen/blob/6dad945c1d6a24fb67099db13ea9a7d9fd25862e/packages/docgen-gatsby/src/index.ts#L14) (excuse the typescript) .

After calling the ```buildDirectory``` method, the only way to exit the node process is with a ```process.exit(0)```.

Later, I'll fork Gatsby and add a package that will reproduce it so that

[2018-03-26 12:59] pauldotknopf commented on #4699
Also, I am not seeing any errors about the callbacks. It was my understanding that logging is only done for unhanded *rejections*.

[2018-03-26 12:59] sebastienfi commented on #4709
Same errors here randomly appearing with `gatsby-source-filesystem` and `gatsby-transformer-sharp`. It doesn't appear in production using Netlify, so it may be a Windows only problem.

[2018-03-26 12:59] m-allanson commented on #4139
@spences10 Good idea @spences10 - I think this could make a good section to add to a `Gatsby on Linux` docs page. Pointing out differences specific to using WSL vs a more traditional flavour of Linux.

Note that `sharp` (used by [gatsby-plugin-sharp](https://www.gatsbyjs.org/packages/gatsby-plugin-sharp/)) now [ships with prebuilt binaries for common platforms](http://sharp.pixelplumbing.com/en/st

[2018-03-26 13:05] sebastienfi commented on #4690
@Jaikant Sent you en email
Which issues are you refering to ?

[2018-03-26 13:15] spences10 commented on #4139
Hey @m-allanson thanks 👍

Is there anything you'd like me to contribute or do you have this on your list?

[2018-03-26 13:22] jquense opened #4711 "v2: GraphQL peers and type packages."
I think we need to come up with a better strategy for the duplicate `graphql` issues. The main one is well known, regardless of version mismatch graphql will not run if there are multiple copies, which is dumb. The concern on the horizon (especially with theming) is that any custom types, inadvertently have this problem as well. case in point, both `gatsby-transformer-remark` and `gatsby-transform

[2018-03-26 13:39] m-allanson commented on #4139
I'd love if you wanted to create a _Gatsby on Linux_ docs page? Similar to the [_Gatsby on Windows_](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/gatsby-on-windows.md) page. Even if it's some placeholder content followed by your WSL content that would be great.

The WSL section could cover installing Node correctly along with the build tools. I'd skip anything from your own documentati

[2018-03-26 13:45] m-allanson commented on #4072
Closing as I think this is resolved.

[2018-03-26 13:45] #4072 closed

[2018-03-26 13:52] spences10 commented on #4139
Sure, I'll put something together in a PR, thanks 👍

[2018-03-26 14:09] #4694 closed

[2018-03-26 14:22] m-allanson commented on #4683
For the curious: https://www.npmjs.com/package/babel-plugin-transform-optional-chaining

[2018-03-26 14:50] m-allanson commented on #4696
I just saw this! In case it's useful to anyone, this is related to https://github.com/gatsbyjs/gatsby/issues/4139

[2018-03-26 15:13] spences10 commented on #4696
So there are some differences between distros @m-allanson Debian is what I'm using currently and have used Ubuntu on WSL so happy to document them both, should I keep them in the same document?

[2018-03-26 15:14] spences10 commented on #4696
Feel free to close it too, it's just for the record really 🙂

[2018-03-26 15:38] ChrisSki commented on #4067
@altayaydemir This didn't seem to work for me. Here's my `package.json`. Please let me know if you see any other issues. This is keeping me from pushing anything to prod.

[code]

[2018-03-26 15:52] nik-s commented on #2807
Also experiencing this on IE10 and IE9.

[2018-03-26 16:04] robdonn commented on #2944
For anyone still having problems with this while using Yarn Workspaces, use the new `nohoist` feature introduced in 1.4.2.
https://yarnpkg.com/blog/2018/02/15/nohoist/

_/package.json_
[code]

_/documentation/package.json_
[code]

This will prevent Gatsby and it's dependencies (like the offending webpack) from being hoisted to the root.

[2018-03-26 16:52] markelog commented on #3067
Can’t promise I will be productive, since I usually limited with my time. But I will do my best :)

Regards,
Oleg

[2018-03-26 16:56] KyleAMathews commented on #4711
I think this makes sense — it should be scalablish — people wanting new ones can just PR in the new field type — same as React did for years with DOM property support.

[2018-03-26 17:09] jquense opened #4718 "v2: Local gatsby-ssr.js is not run anymore on a static build."
Not sure what the deal here is, but trying my `onRenderBody` hook is no longer run when doing a gatsby build

[2018-03-26 17:20] jquense commented on #4718
This is because, `resolve-module-exports` is not robust enough. Why are trying to do this statically again? false negatives are a pretty error here, it seems like we should be reallly safe about this and just require and inspect the exports.

[2018-03-26 17:22] jquense commented on #4718
exports are not always statically determinable in commonJS

[2018-03-26 17:31] jquense commented on #4718
oops sorry that doesn't seem to be the issue here, but it's still a valid question :P

[2018-03-26 17:39] jquense commented on #4718
OK. what is actually wrong is that:

[code]
is silently failing because there is mixed exports and commonJs, i'm not sure WHAT is failing but something is, maybe babel?

[2018-03-26 18:43] daniel-packard commented on #4147
According to stencil docs:

https://stenciljs.com/docs/server-side-rendering

[2018-03-26 18:46] pzatrick opened #4719 "[gatsby-transformer-remark] Cannot find module 'lodash' during build command execution"
## Description & steps to reproduce

Just installed `gatsby-transformer-remark`. When I run `gatsby build` I get this error message:

[code]

Tried installing lodash just to see if it would have any effect, but the command errors out just the same.

### Environment

* gatsby@1.9.241
* gatsby-cli@1.1.48
* Node.js@v8.6.0
* macOS@10.13.1

### File contents (if changed):

`gatsby-config.js`:
[code]

`

[2018-03-26 19:35] arcticicestudio commented on #312
I don't know if you're aware of the project called [Catalog][gh] which also supports to [embed React components into Markdown][doc].

[gh]: https://github.com/interactivethings/catalog
[doc]: https://docs.catalog.style/specimens/react

[2018-03-26 20:47] thescientist13 commented on #2932
I have one issue with Gatsby and Jest and that is when needing to `import Link from 'gatsby-link`

I get this error
[code]

**Component**
[code]

**Test**
[code]

Otherwise I've had good luck with Jest and Gatsby in [my project](https://github.com/thegreenhouseio/www.thegreenhouse.io)

[2018-03-26 21:05] njosefbeck commented on #3722
Nah, this was more on my end actually! I think your docs are just fine :) but thanks for checking!

[2018-03-26 21:13] tremby commented on #4662
I've suggested a new chunk of documentation at #4720.

[2018-03-26 21:13] giraffesyo opened #4721 "Dynamically-Rendered Navigation Tutorial"
I see there's a stub for [Dynamically-Rendered Navigation](https://www.gatsbyjs.org/docs/creating-dynamically-rendered-navigation/).

By this do you mean a nav component that keeps track of what state it is in based on the current page or state of another component? If so, I think I could work on this tutorial.

[2018-03-26 21:39] busticated commented on #2932
@thescientist13 i just mock out that dependency - e.g.

[code]

it's a bit ham-handed in that you lose visibility into the actual `href` but it has gotten me by ok so far 🤷‍♂️

[2018-03-26 21:47] KyleAMathews commented on #2807
Since the scripts are added to the body not the head, we could get write of the custom script loader. Happy to take a PR!

[2018-03-26 21:54] KyleAMathews commented on #3067
Actually... lemme just fix this. The plugin is really widely used and it'll only take me a sec to add the babel plugin. Thanks for offering!

[2018-03-26 22:04] coreyward commented on #3535
@ryanditjia You can also do this when you have shared fields:

[code]

You'll still get `ContentfulProduct` instances, you just don't have to declare any fields for them explicitly.

[2018-03-26 22:06] KyleAMathews commented on #3067
Put up the PR https://github.com/gatsbyjs/gatsby/pull/4722

Once the tests pass & I release it, you'll just need to upgrade to the latest gatsby-plugin-styled-components and install babel-plugin-styled-components into your project.

[2018-03-26 22:10] dcurletti opened #4723 "Sitemap Plugin Not Respecting PathPrefix"
https://github.com/gatsbyjs/gatsby/blob/c707cd17446e4f23d0015a286ce4609208b6b50b/packages/gatsby-plugin-sitemap/src/internals.js#L51

The current sitemap generator does not append the path prefix when writing the sitemap file.

If I'm not mistaken, this file needs `import { withPrefix } from "gatsby-link"` and the line should be:
`url: site.siteMetadata.siteUrl + withPrefix(edge.node.path)`.

I'm

[2018-03-26 22:11] #4696 closed

[2018-03-26 22:12] KyleAMathews commented on #4718
Ah yeah — I think it's webpack 4 that's now preventing that. I had to fix a bunch of things in core + in sites i've upgraded.

[2018-03-26 22:13] romeboards opened #4724 "React plugin breaking on IE11 using Gatsby webpack config"
## Description

I'm trying to use the following react plugin on my gatsby site:

https://github.com/express-labs/pure-react-carousel/

However, in production builds I'm getting the following error in IE11:

![image](https://user-images.githubusercontent.com/627751/37929557-5041dda8-310e-11e8-94ef-736ea20146b2.png)

I opened an issue for this in the plugin's repo, where others asserted that their n

[2018-03-26 22:14] KyleAMathews commented on #4718
`resolve-module-exports` is required though since we can't require them directly if they have webpack only code. Setting up webpack to build each module seems pretty heavy.

[2018-03-26 22:16] #4662 closed

[2018-03-26 22:17] KyleAMathews commented on #4721
I think the idea there was for navigation built automatically from the site's pages data e.g. you have a number of team member pages and whenever someone new joins, the menu is updated automatically.

[2018-03-26 22:18] KyleAMathews commented on #4723
Sounds like a bug! Would you like to add a PR fixing this?

[2018-03-26 22:30] zedman commented on #4703
Brilliant, thank you. Got it working.

I had gatsby-source-filesystem pointing at my markdown sub-directory, but not where my JS pages lived. When going through the blog/markdown tutorial it was made clear I needed to set up gatsby-source-filesystem, but didnt see any reference to it when setting up gatsby-transformer-javascript-frontmatter.

For anyone else's reference I just had to duplicate the

[2018-03-26 22:31] #4703 closed

[2018-03-26 23:26] pieh commented on #4718
I've encountered this too when updating freecodecamp guides site to test with v2.

It also seems like `master` have more checks (https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/resolve-module-exports.js#L47-L75) than v2 ( https://github.com/gatsbyjs/gatsby/blob/v2/packages/gatsby/src/bootstrap/resolve-module-exports.js#L47-L56 ).

[2018-03-26 23:30] pieh commented on #4703
Glad that you got things working. Would you like to make PR and update "How to use" section in https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-javascript-frontmatter so it would be clear You need that?

[2018-03-26 23:31] pzatrick commented on #3545
@KyleAMathews I'm still running in to this issue. I've tracked it down to https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js#L61. Seems like `responsiveSizesResult` doesn't have a `base64` property, which results in inline CSS on the blur-up `span` like this:

[code]

[2018-03-27 01:31] jquense commented on #4718
It should pretty agressive about warning I think. getting no error or message isn't ideal especially since my intent is clear. IDK we should definitely warn if no apis are found, or figure out why Babel isn't throwing here?

[2018-03-27 01:39] kwelch commented on #2107
I am seeing the same `fs` error post-installing `dotenv`. Does anyone have version `1.9.223` working with `dotenv`?

[2018-03-27 02:05] KyleAMathews commented on #3830
Hey y'all. Been thinking about this more and have a new proposal for the syntax for making static queries.

Previously I suggested a syntax like this:

[code]

With the idea being that we leverage webpack to do the hot reloading of data in development. But as @m-allanson's investigations are showing in https://github.com/gatsbyjs/gatsby/pull/4555, skipping webpack for data completely let's us do s

[2018-03-27 06:04] zedman commented on #4703
I was thinking about doing that, but I actually don't see it on https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-remark either, though its in the Gatsby Doc 'Adding Markdown Pages'.

So should it be mentioned in the READMEs for both of those plugins?

[2018-03-27 06:28] markelog commented on #3067
Nice! Thank you :)

Regards,
Oleg

[2018-03-27 06:29] intrnt-dolphin opened #4725 "Custom Fonts Not Loading (No Network Request)"
## Description

Good day! I've been facing some issues trying to import custom fonts into a Gatsby application. I looked around the open and closed issues here and found a few different ways to import fonts, but none of them have helped me so far. Currently, I'm using the method @monsieurnebo describes in [this comment](https://github.com/gatsbyjs/gatsby/issues/2583#issuecomment-340722928).

These

[2018-03-27 07:40] piotrf commented on #3067
Thanks for the effort @KyleAMathews. This did not do the trick for me. Stuff still flickers: https://priceless-minsky-70fda7.netlify.com/ Here’s the source, if anyone wants to help out nailing this down: https://github.com/piotrf/gatsby-test

[2018-03-27 09:01] danniehakan opened #4726 "[gatsby-source-contentful] Validating entries in 'draft' when using the Preview API"
## Description

I'm building a site powered by Gatsby and the official Contentful plugin. I have two versions of this website, one that pulls in published + draft content via the Contentful Preview API, and one that pulls in only published content via the Content Delivery API.

As I understand it as per the official documentation from Contentful, validations only happen upon publishing content, me

[2018-03-27 09:30] LiangNex opened #4727 "Is it possible to execute grapql from components itself rather than pages or layouts?"
Hi Gatsby!

I learned Gatsby for a while and made several tests with plugins:
* gatsby-transformer-remark
* gatsby-transformer-json
* gatsby-transformer-custom-blocks

My purpose is to use _custom blocks plugin_ in Markdown to implement a list component which includes data from local json files, hence i need to execute Graphql in components but not in pages nor layouts, is it possible?

Thx a lot

[2018-03-27 09:48] pieh commented on #4703
Hmmm, you are right. After You pointed it out not sure what's the best way to handle that.

@shannonbux How do you think we could handle this in docs? Gist of the issue is that all transformer plugins need to have accompanying source plugin (most often `gatsby-source-filesystem`). Perhaps we could automatically add some kind of information block to transformer plugins about it?

[2018-03-27 10:20] andyfinch333 opened #4729 "Enabling CSS SourceMaps"
## Description

I'm trying to get SCSS SourceMaps working in our project but nothing seems to be working to get them enabled, I'm not sure what i'm missing here. To be honest i'm very new to webpack and have only used Gulp before, So I really have no Idea where i'm meant to enable them. Would anyone be able to take a look at my gatsby-note.js and tell me where i'm going wrong?

### Environment

*

[2018-03-27 10:59] sarneeh commented on #2784
Actually, as `babel-preset-flow` is part of `babel-preset-react` which is by default in Gatsby you don't need this additional configuration. `flow-bin` will be just enough 😄

[2018-03-27 11:06] vieckys commented on #2551
I am also getting this same issue. Anyone has a fix ?

[2018-03-27 12:18] pschild commented on #4709
I just tested it on a Linux system and it worked.
So yeah, it really seems to be a Windows related error...
Do you have any ideas on how to make it work on Windows? And I'm still wondering why the error only appears if I add `excerpt` to my GraphQL query 🤔

[2018-03-27 13:50] dcroitoru commented on #4592
This inspired me to create a gatsby starter:
https://github.com/dcroitoru/gatsby-starter-i18n-lingui

[2018-03-27 13:51] dcroitoru commented on #3853
I created a gatsby starter that makes use of js-lingui to translate messages:
https://github.com/dcroitoru/gatsby-starter-i18n-lingui

[2018-03-27 15:12] jquense opened #4730 "v2: dealing with babels new aggressive version errors."
One thing I'm noticing using babel7 with gatsby is that plugins have started to really care about the version of babel-core. Since gatsby is consuming babel/core directly that makes the upgrading it from the user's perspective impossible (they can rely on the dedupe behavior but eeeh). I'm sure if this is just because of the beta's have strict ranges, but if every update of a plugin is going to bu

[2018-03-27 15:49] pieh commented on #4709
If this happens only on windows, I will see if I can reproduce it.

[2018-03-27 16:01] KyleAMathews commented on #4725
What does the injected @fontface styles in your HTML look like?

[2018-03-27 16:03] KyleAMathews opened #4732 "Add a --debug flag for production builds which disables uglify"
It's really hard to debug some problems (e.g. mismatches between SSR & client renders https://github.com/gatsbyjs/gatsby/issues/3067) without this.

[2018-03-27 16:05] KyleAMathews commented on #4726
This sounds like an issue for Contentful.

As far as your Gatsby site — perhaps just check that fields exist before rendering? E.g. at the top of your render function and return early if there's missing data.

[2018-03-27 16:05] #4726 closed

[2018-03-27 16:08] KyleAMathews commented on #4703
We do discuss this in the tutorial — but yeah, not everyone reads that... an information block is a cool idea — we could auto-link to docs pages & tutorials depending on the plugin we're on.

[2018-03-27 16:15] intrnt-dolphin commented on #4725
Hah. You did it. I switched from what I previously had in `injectGlobals.js` to this:
[code]
Webpack was spitting out font URLs with spaces in them. I distinctly remember checking the styles injected into the HTML for the correct path, but not whether they had spaces or quotes around them.

Thank you very much. Closing the issue.

[2018-03-27 16:15] #4725 closed

[2018-03-27 16:18] borekb commented on #3182
If this helps someone, this is how we currently use Bootstrap v3 on our site. Note that we didn't want to re-implement into something like [React-Bootstrap](https://react-bootstrap.github.io/) which uses a different syntax for components.

The project is in TypeScript and the example demonstrates Modal and Popover components, the later of which requires custom JS initialization via `$('[data-toggl

[2018-03-27 16:34] markelog commented on #3067
I can confirm that with version 2.0.11 `gatsby-plugin-styled-components` issue still persist

[2018-03-27 16:37] camsjams commented on #4570
I have the same need for this use, I've used Gatsby in production for about a year now and have different things like API keys, account Ids for metrics, and a few other items that are environment specific.

For me its more complex than just configs per environment, but also need to set `NODE_ENV=production` to have minified builds:
DEV
  accountId: dev_account1
  NODE_ENV=production
QA
  accountId

[2018-03-27 17:01] erquhart commented on #3753
@PutziSan I cloned your repo and built it, no CSS in the output:

[code]

[2018-03-27 17:23] shannonbux commented on #4703
Yes, @pieh and @KyleAMathews is an information block something like [this](https://vimawesome.com/plugin/fugitive-vim)? So there could be standard info at the top that pulls data from different places, and then the READme file below.

[2018-03-27 17:34] pieh commented on #4703
We do cover this in tutorials but it might be unreasonable to assume that everyone will read whole tutorial (and remember every concept presented there).

By information block (this is term I just made up!) I just meant some UI element that is visually different from rest of READme (so it doesn't get lost in wall of text) that would have maybe 1 or 2 lines of text and potentially link to page with

[2018-03-27 17:37] sparshy commented on #312
This solution looks perfect @arcticicestudio

[2018-03-27 17:37] pieh commented on #4703
And don't focus to much on my initial idea - there are other ways to do this (f.e. manually editing "How to use" sections - maybe generic information about transformer and source plugins wouldn't really be that useful and people wouldn't really get the meaning of that without concrete examples specific for given transformer plugin) .

[2018-03-27 17:58] KyleAMathews commented on #3067
Did y'all install `babel-plugin-styled-components` into your project? We only use the babel plugin if you add it as otherwise it'd break sites.

[2018-03-27 18:07] KyleAMathews commented on #4703
@shannonbux here's a quick sketch of what I was thinking
![2018-03-27 11 05 25](https://user-images.githubusercontent.com/71047/37985929-f8642e64-31ae-11e8-86da-f76fb6d29324.jpg)

[2018-03-27 18:08] piotrf commented on #3067
Yes, I did. Just now. Same.

[2018-03-27 18:08] piotrf commented on #3067
Here’s my test playground: https://priceless-minsky-70fda7.netlify.com/

[2018-03-27 18:13] thescientist13 commented on #2932
@silvenon , yeah, that sounds about right.  I was trying to do something [like this](https://stackoverflow.com/a/43775325/417806) but wasn't having luck

[2018-03-27 18:46] markelog commented on #3067
Yep

[2018-03-27 20:30] m-allanson commented on #4732
Could this initially be done as a plugin if someone wanted to work on it?

[2018-03-27 20:47] m-allanson commented on #2551
@vieckys this should have been fixed a while ago. Are you using a recent version of Gatsby?

[2018-03-27 20:54] m-allanson commented on #4592
Nice! Would you like to add it to the community section of the [Gatsby Starters](https://www.gatsbyjs.org/docs/gatsby-starters/) list? The file to edit is here: https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/gatsby-starters.md

[2018-03-27 20:57] pieh commented on #4709
Ok, so I did some digging and issue is that `gatsby-transformer-remark` is generating AST multiple times for same node in parallel which trigger running remark plugins multiple times (which then triggers copying same file multiple times and it seems like windows fs implementation is sometimes wonky with multiple concurent handles to same file). I will have PR up soon, just need to add comment and

[2018-03-27 21:07] pschild commented on #4709
Cool! Thank you very much for your efforts!

[2018-03-27 21:16] m-allanson commented on #2168
Closing this as there's no action to be taken.

[2018-03-27 21:16] #2168 closed

[2018-03-27 21:19] m-allanson commented on #4727
Hey @LiangNex, queries are restricted to pages and layouts for now. You may be able to use GraphQL fragments to achieve what you want? There's a discussion over at https://github.com/gatsbyjs/gatsby/issues/2168

This proposed API for v2 might be of interest to you too: https://github.com/gatsbyjs/gatsby/issues/3830#issuecomment-376371531

[2018-03-27 21:46] will-sparger opened #4736 "Adding event handlers to gatsby-image <Img /> elements"
## Description

Is it possible to add React event handler functionality via props to the <Img /> element? I referenced the doc on gatsby-image as well as the sharp plugin and no event handlers are discussed or listed in the props table.

Is the current default implementation to wrap the <Img /> element inside another element (i.e. div) and add the event handler to the wrapper? This worked fine for

[2018-03-27 22:10] KyleAMathews commented on #4732
Yeah — but this seems like something that should be built in — not something people have to install and add/remove to their gatsby-config.

Let's perhaps not name it `--debug` though as that'll confuse people as the scope of the feature is small and `debug` seems expansive. Maybe be really specific e.g. `--no-uglify`.

It'd be a really easy PR to add.

[2018-03-27 22:20] #4709 closed

[2018-03-27 22:29] KyleAMathews commented on #4736
With https://www.npmjs.com/package/create-react-ref we could do this for people. You interested in adding a PR?

[2018-03-27 22:30] shannonbux commented on #4703
Yeah, we initially wanted to do something like this! I will create an issue.

On Tue, Mar 27, 2018 at 12:07 PM, Kyle Mathews <notifications@github.com>
wrote:

[2018-03-27 22:37] #4669 closed

[2018-03-27 23:49] patreeceeo opened #4738 "Gatsby meetups"
Do you want to grow as a developer, open source contributor, consultant etc with Gatsby and related technologies? Personally, I find it helpful to have places to go offline, to have conversations not mediated by a screen. I feel like I learn 10x more than I could have versus remote mediums like Github, Discord etc when I can sit down with someone, laptop alongside laptop.

However, a problem with

[2018-03-28 02:39] LiangNex commented on #4727
@m-allanson  Thank you for your response.
I am not sure if fragments can be executed while building Markdown pages, let's say we have such a tag in Markdown, path: root/content/docs
[code]
Here is a component, path: root/src/components
[code]
List, path: root/src/pages
[code]
The problem is that if I access localhost:8000/list, _'TypeError: this.props.name is undefined'_ throws out.
For localhost:

[2018-03-28 03:38] ChrisBoon commented on #3545
I'm having the same issue as @pzatrick - when I build the project (gatsby build) I get this as the span result:
[code]
The background-image property isn't compiling correctly so it treats all css after it as one declaration. This means there is a failed image request and the css doesn't render correctly.

However when I view the development files (gatsby develop) I get this slightly different code

[2018-03-28 04:07] m2mathew commented on #1100
@sedubois It looks like you got auth working on your site. Did you end up using Firebase alongside Gatsby?

[2018-03-28 05:00] lightstrike commented on #4738
@pzatrick This is a great idea, I've been thinking about how great this could be for Gatsby too. I've actively organized a meetup in the past and it is an excellent way to build a community. I found regularity is the biggest key to success, both in terms of frequency and day/time of week. I'm not based in SF right now but would be happy to give any guidance if that would be helpful!

[2018-03-28 05:02] vieckys commented on #2551
hmm it may be 2 - 3 months old.

[2018-03-28 05:14] riteshhgupta commented on #4584
Hi @dgrcode & @KyleAMathews, I'm facing the same issue and I did pretty much the same thing what @dgrcode has done above. Any leads on this?

[2018-03-28 06:14] sedubois commented on #1100
@m2mathew the Gatsby landing page just points to a separate web app when clicking login, so the auth had nothing to do with Gatsby right now.
I still need to figure out how to integrate the auth part but there was some promising info in this thread:

https://spectrum.chat/gatsby-js?thread=6e346606-f660-42ee-86b0-2a585471c20a

[2018-03-28 07:36] m-allanson commented on #2551
Ok I’d try updating to a newer version

On 28 Mar 2018, 07:02 +0200, Hemant Sankhla <notifications@github.com>, wrote:

[2018-03-28 08:16] davecarlson opened #4740 "Feature Request: Build a subset of routes."
Currently, as we all know, when you build the whole site is re-built, which can take an awfully long time on bigger sites.

It would be FANTASTIC if you could pass a route / list of routes you would like to rebuild, and the generator only spit out a new version of those pages.

##Use case
We use wordpress as a CMS, and only want to update a particular page content every now and again

I would imag

[2018-03-28 08:30] dcroitoru commented on #4592
Thanks!
Yes, I'd like to add it. PR pending (#4741)

[2018-03-28 09:38] PutziSan commented on #3753
I updated my project: removed the public-dir from `.gitignore`  and added a fresh build via `yarn run build`, you can see the output [here](https://github.com/PutziSan/gatsby-netlify-cms/blob/master/public/index.html) (html-file is not beautified).

The CSS-stuff is injected, but i can confirm when netlify run the build-step, there is no css in the output.

the beautified version of the html (styl

[2018-03-28 11:46] pieh commented on #4709
@pschild my fix was merged - can you try updating gatsby-transformer-remark to 1.7.39 and let me know if that fixed things for you?

[2018-03-28 13:11] pschild commented on #4709
@pieh I just updated and gave it a try. It's working! Nice job, thank you! 👌

[2018-03-28 14:11] chmac commented on #4637
OK, have thought about this a bunch. Removing the need to go from ID -> `path` makes life simpler. Unfortunately `encodeURIComponent()` doesn't really work because it leaves many characters unencoded. But I think it's the right general idea.

I suggest we use something like this:

[code]

This should produce outputs like:

[code]

It's somewhat involved. It'd be ideal if we could find a simpler so

[2018-03-28 14:26] ugrupp opened #4743 "Passing options to gatsby-plugin-styled-components"
## Description

Hey, isn't it possible to pass styled-components options to the gatsby plugin? I tried specifically to set `displayName: true`, but nothing happens.

This is from my `gatsby-config.js`

[code]

### Steps to reproduce

* Fresh install of the default starter kit
* Follow https://www.gatsbyjs.org/docs/styled-components/
* Use the above plugin config

### Expected result

Element class

[2018-03-28 14:34] spatrame opened #4744 "Proxy Setting | gatsby-source-contentful"
Contentful latest version provide proxy settings as below, but gatsby-source-contentful doesn't give option to provide the proxy.
I am using "gatsby-source-contentful": "1.3.44"

https://www.npmjs.com/package/contentful
var contentful = require(`contentful`);
var client = contentful.createClient({
    space: `XXX`,
    accessToken:`XXX`  ,
    host: `XXX`,
    proxy: {
        host: 'XXX',

[2018-03-28 14:43] Khaledgarbaya commented on #4744
hi @spatrame,

That's not supported in the plugin but it is really easy to add
you need to pass the proxy [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/gatsby-node.js#L62) from the plugin option and [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/fetch.js#L11) when creating the client.
It would be nice if you

[2018-03-28 15:03] erquhart commented on #3753
It sounds like you're saying that this bug is only happening when you build locally, and I see you're on Windows. Netlify is building your site on Linux, I'm building your site locally with a Mac, and the bug isn't happening in those two cases. This may be a Windows specific issue somehow. I don't have access to a Windows machine, but I'll try to determine if something about the fix for this issue

[2018-03-28 15:05] chmac commented on #4626
OK, sounds like we're reaching consensus around the plan:

1. Lazy load the map of path to JSON file names
2. Think about sharding (chunking) it at some point in the future

How do we move forward? There's currently work being done on switching from webpack to our own JSON pipeline in #4555 (described somewhat in #3575). Do we fold the lazy loading into one of those tickets? Create a new ticket fo

[2018-03-28 15:08] pieh commented on #4626
Lazy loading paths to jsons file names and map that specify what components (pages/layouts) are used for paths is pretty much done - https://github.com/gatsbyjs/gatsby/pull/4715 (I should probably ping here when I posted it)

[2018-03-28 15:08] pieh commented on #4626
It's for v2 and it's based on #4555

[2018-03-28 15:11] ugrupp commented on #4743
Solved it myself! Turns out the option should be provided to `babel-plugin-styled-components`.
So these steps fixed it:

* `npm install --save babel-plugin-styled-components`
* Adding a `.babelrc` with:

[code]

[2018-03-28 15:11] #4743 closed

[2018-03-28 16:01] KyleAMathews commented on #4584
That functionality was just recently added to Gatsby — could you make sure you're on the latest version of your packages and try again?

[2018-03-28 16:10] chmac commented on #4626
@pieh Awesome! v2 is looking better and better!

In that case, I'll close this issue, and I'll create a new one about sharding `data.json` (linking to here for history). I assume sharding is a low priority upgrade to consider at some point in the future.

[2018-03-28 16:10] #4626 closed

[2018-03-28 16:17] pieh commented on #4626
Just to give more info - when I run my tests against https://github.com/freeCodeCamp/guides (~2800 pages) - gzipped "webpackified" `data.json` is 141KB - this surely won't scale very nice for 10 000 pages sites, but up to 10 000 I think this shouldn't be that much of a issue

[2018-03-28 16:19] chmac opened #4746 "Split page metadata so can lazy load it and reduce the initial JS"
Summary: Allow the `data.json` file to be loaded in shards for sites with large numbers of pages.

## History

Once #4715 lands:

* `data.json` contains a map of all `path`s to data file names
  - File names include a content hash
* `data.json` is loaded after the page has finished rendering

Sharding was also discussed in #4626.

## Changes

Rather than loading `data.json` as a single file, it co

[2018-03-28 16:36] tsriram commented on #4732
I'll give this a go.

[2018-03-28 17:09] JacobDFrank commented on #4230
Having a similar issue with my deploy using netlify. I redeployed, cleared the cache and still some of my assets as well as the inline scss won't load in. You can view my deploy log as well: https://app.netlify.com/sites/youthful-hamilton-7ed749/deploys/5abbc90d295b551d254a7403
And here's my netlify url https://youthful-hamilton-7ed749.netlify.com/

[2018-03-28 17:26] LawJolla commented on #3192
@Undistraction I'm having this issue with React-Apollo.  Do you have suggestions on a work around?  The package's `main` and `browser` point to a UMD file, but Webpack/Gatsby keeps bundling index.js which is in ES6 instead of CommonJS

[2018-03-28 17:39] Undistraction commented on #3192
@LawJolla I'm afraid my solution was to convince the owner of Ramda Adjunct to remove the field from the project's `package.json`. The only other workable solution would be to fork the package that is causing you issues, remove the field and republish as your own package. Obviously this is far from ideal, but I didn't find another solution.

[2018-03-28 17:57] erquhart commented on #4230
Cloned your repo and built locally, same issue, so this isn't Netlify or host specific. Going to close this as it's becoming a catch all, but feel free to open a separate issue.

[2018-03-28 17:57] #4230 closed

[2018-03-28 18:27] lightstrike commented on #4666
I'm having related issues with a large WordPress site.

What causes the process to hang? Where can we trigger an explicit failure?

[2018-03-28 19:01] shannonbux commented on #4392
Some questions @ThatOtherPerson and I came up with:
* How many sites should we start out with? I'm thinking maybe something radically small, like 5--10 sites. Or 50 at the most. Because then we can curate the selection and even interview the people behind the sites for newsletter/case studies, etc. Argument for pulling in more than 50: sheer numbers could be impressive.
* How should we choose them

[2018-03-28 19:35] silvenon commented on #2932
I'm stuck on this and have no idea why it doesn't work:

[code]

The `Link` component should call `history.push` on click, but it doesn't.

[2018-03-28 19:44] fredjens commented on #2932
I had some luck with using `Enzyme` instead of `react-test-renderer`.
I was configuring snapshot testing with Jest, and i actually think the issue here is that Gatsby is not exposing the context from `react-router`.

[2018-03-28 19:48] silvenon commented on #2932
Figured it out, the `Link` component from `react-router-dom` used in `gatsby-link` checks if `event.button === 0`:

[code]

Facebooks test utilities don't do this by default, I'll raise an issue.

[2018-03-28 21:43] m-allanson commented on #2259
Hey @marcata, the [gatsbygram example site](https://github.com/gatsbyjs/gatsby/blob/master/examples/gatsbygram/gatsby-config.js) uses `gatsby-source-filesystem` with `gatsby-transformer-json`, does that help?

[2018-03-28 21:55] m-allanson commented on #4656
Hey @vjpr can you add a bit more info about this request?

[2018-03-28 22:07] m-allanson commented on #778
@mdotasia it looks like he's using Chrome built in [client-side debugging tools](https://developers.google.com/web/tools/chrome-devtools/javascript/).

If you use Visual Studio Code, you can use the following debug config to attach a debugger to the `gatsby develop` Node process: https://gist.github.com/pieh/c6a57b53bb4648344be53ea8b37add82

[2018-03-28 22:33] pieh commented on #4656
So I remember I had this issue once - gatsby develop errored out because it couldn't find `request` module ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop.js#L8 ). It seems like gatsby depends on this module being hoisted.

[2018-03-28 22:48] pzatrick commented on #3545
@ChrisBoon yep, I'm having the exact same issue. Make any progress on it?

[2018-03-28 22:49] pzatrick commented on #3545
My gatsby-config:

[code]

[2018-03-28 23:42] SaintEmbers opened #4749 "Proxying API Requests in Development"
Im trying to proxy my services api with server side rendering and redux but I can't get the url to change from anything but localhost:3000. Any help is greatly appreciated.

Here is what I have in my gatsby-config
  proxy: {
      prefix: "/services",
      url: "https://kim-gamma.whalerockengineering.com",
    },

Thanks!

## Description

Describe the issue or the enhancement that you want to see

[2018-03-29 01:37] flavioalves opened #4750 "Problems to find locales during build process - building i18n with gatsby"
## Description

Hey folks!

I'm having problems to generate the production files, seems that my app isn't finding the locales.

After review my code and follow exactly the [last post about building i18n with gatsby](https://github.com/gatsbyjs/gatsby/blob/master/docs/blog/2017-10-17-building-i18n-with-gatsby/index.md) I'm still having problems.

When I ran "gatsby build" the follow message is pres

[2018-03-29 01:39] ChrisBoon commented on #3545
@pzatrick no, I've not had much chance to look into it. I didn't really need the 'blur up' feature, so I just added 'display: block' in my own CSS to make sure the image displays. I'd like to resolve it because I'm not happy with the failed get requests happening in a live site, but most people will never notice it.
I have noticed that somehow in the last day the issue partially improved as the de

[2018-03-29 02:01] flavioalves commented on #4750
I got it! =)

We need use the I18nextProvider wrapping my layout template. So I did something like:

[code]

[2018-03-29 02:06] edbrannin opened #4751 "GraphQL fields with spaces in their names always return null"
## Description

GraphQL fields with whitespace in their names are normalized to contain underscores instead, which is great -- but the values for these fields are all null.

This probably happens with any other not-completely-alphanumeric field name (not just whitespace).

I've minimally reproduced this at https://github.com/edbrannin/gatsby-4751

(I'm open to making a PR, but I'm having a hard ti

[2018-03-29 02:08] flavioalves commented on #4750
Is working but I still not understanding why we are getting the message `loading namespace translation for language en failed failed parsing ...` during the build. If someone have a guess about it, will be nice to know.

[2018-03-29 02:42] edbrannin commented on #4751
(Updated the main comment with a minimal reproduction)

[2018-03-29 06:14] KyleAMathews commented on #4392
I don't see any reason to limit the number of sites we show. We should definitely show on the initial screen the most "impressive" sites but the more the merrier IMO. Move all the existing [showcase sites](https://github.com/gatsbyjs/gatsby#showcase) over and keep encouraging people to add their sites. Everyone likes to show off the work they've done. I don't think "weird" or "ugly" sites are a ne

[2018-03-29 06:58] grdp opened #4753 "Netlify CMS: frontmatter image & relative path"
I'm working on a website using gatsby and Netlify CMS. It's based on the [gatsby-starter-netlify-cms official starter](https://github.com/AustinGreen/gatsby-starter-netlify-cms)
In the starter, the images are located in the static folder. So they don't use any optimization from gatsby-remark-images.
To be compiled by gatsby-remark-images, the image in the frontmatter of a markdown needs to have a

[2018-03-29 09:05] ponchique opened #4754 "Broken css after build"
Hi there!

Can't find a css for static pages, after `gatsby build`.
This behavior I see only if I reload all existing pages in a browser, but if I'm roaming through site links -
css is working.
Also, css works in the dev mode

There are no errors in console, no errors while building, just as the result - broken css and from time to time they looks different.

### Environment
* gatsby-cli version:`

[2018-03-29 11:44] riteshhgupta commented on #4584
Thanks @KyleAMathews, yes updating to the latest version fixed the issue :) Though I was wondering if there's a way to control the padding around the text being highlighted? I mean right now (with default settings) the highlighting is off-centred from the horizontal axis.

<img width="672" alt="screenshot 2018-03-29 17 07 13" src="https://user-images.githubusercontent.com/8268122/38086919-d4a82f0e

[2018-03-29 13:47] nodox commented on #2932
@fredjens that explains why I needed to add react-router in my dev dependencies for testing.

@silvenon thanks for this! I had this issue for a while and avoided looking for a solution 😅

[2018-03-29 14:06] mbliok commented on #501
Is it enough if I turn it on robots.txt in folder pages in my gatsby project?

[2018-03-29 15:45] jamesdbruner commented on #3401
@KyleAMathews I'm still having this issue on `v1.9.243` categories doesn't populate in graphiql for me as an option to filter.

[2018-03-29 15:48] fk commented on #4392
Hey y'all! Here's a first shot at mocking up the Site Showcase UI — "Desktop HD" only for now.
I haven't invested much thought in IA design for now — this mainly shows in the sidebar "Filter and Refine".

![site showcase](https://user-images.githubusercontent.com/21834/38098844-50f1d5ce-3379-11e8-9527-2c454967e532.png)

Have to run, so let me break down the better things real quick:

- The "Showca

[2018-03-29 15:49] Khaledgarbaya opened #4762 "[gatsby-source-contentful] Letf-padding `c` to ids"
## Background
Every entry id that starts with a number an extra `c` character will be added to the beginning

@KyleAMathews was there any reasons this [code](https://github.com/gatsbyjs/gatsby/blob/41bf10f2a244bf8981bb276cee2aff21c8345ffe/packages/gatsby-source-contentful/src/normalize.js#L30-L39) was added.
Since the `id` there is the value I don't think we need to change it. Or am I missing some

[2018-03-29 16:11] nathanjdunn commented on #3344
Hey @pieh, just wondered if anything has happened with the development? Would love to use Gatsby with Contentful for a project, however, this is a little bit of a blocker. cheers in advance!

[2018-03-29 17:19] pieh commented on #3344
Hey @nicolaslair and @nathanjdunn ! Sorry for lack of updates on this. I had to put this project on hold (...again) and focus my time on gatsby v2 for time being. I wish I had better news :(

[2018-03-29 17:53] shannonbux commented on #4392
Looks awesome, @fk! Wondering how to make horizontal scrolling action discoverable with the featured sites and then make it clear that sites below are vertical scroll.

re: convo with @KyleAMathews and @calcsam Here's how we can select initial sites to showcase:
1. Pull from current "Awesome Gatsby" showcase
2. Manually select others we like
3. Create submission form (I see Flo is already thinking

[2018-03-29 18:34] KyleAMathews commented on #4392
@jlengstorf my thought was we use a yaml file — that's pretty easy for people to edit + we can validate new entries on travis.

Google form => google sheet would be fun but then the data wouldn't be editable by the person who submitted the data or anyone else in the community.

[2018-03-29 18:42] calcsam commented on #4392
+ 1 to @KyleAMathews's point about using a version-controlled file.

@fk this looks awesome! It's hard to identify which part looks the best because it's the combination of all the little details that making it amazing.

[2018-03-29 20:29] rdricco opened #4767 "TypeError: Cannot read property 'jsonName' of undefined"
## Description

TypeError: Cannot read property 'jsonName' of undefined

### Steps to reproduce

This happens when using "(ANY_WORD)" on a link generated by gatsby-link

example: on my generated posts I have a "album-artist-(2003)" as slug of a post causing this warning on development, if I change for "album-artist-2003" everything works fine.

### Environment

* Gatsby version (`npm list gatsby`)

[2018-03-29 23:43] PutziSan commented on #3753
Yeah, it seems to be the case. Can someone else confirm the problem (possibly only on windows)?

Should I then open a new issue for this or is this here enough?

[2018-03-30 00:43] erquhart commented on #3753
I'd open a new issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-30 00:53] blargity opened #4769 "Sharp with Images in JSON from NetlifyCMS"
## Description

I'm currently using Gatsby with Netlify CMS to manage my content in JSON files. This is working really well for the most part, but I'd like to be able to resize my images, as the CMS users are uploading multi-MB images as thumbnails.

My content has more data in it than this, but the part I'm interested in talking about here looks like this:

[code]

This is a reference to a file i

[2018-03-30 01:05] blargity commented on #4727
Could you show us the full example with your GraphQL query in List.js?

It sounds likely to me that the query you're executing isn't passing data in the same shape as what you're expecting.

For example it wouldn't be `data.allSampleJson.edges.node.label`, as `edges` is an array of all the files that matched your query. If you're guaranteed to only have one result of that query, then you could use

[2018-03-30 04:47] lightstrike commented on #4723
@dcurletti I took a shot at this in #4770 based on your recommendation, can you try testing on your side?

[2018-03-30 05:19] tsriram commented on #1975
Done in #4522

[2018-03-30 05:19] #1975 closed

[2018-03-30 08:51] AAverin commented on #3852
Wow, it's back again
You can check it on https://arcpanel.averin.photo/
All of the sudden boostrap doesn't work anymore in the built gatsby version

[2018-03-30 09:03] LiangNex commented on #4727
@blargity Thank you for your response.

Here is my query in List.js:
[code]

I'd like to map the result with ```label``` which comes from ```<sample name="label1, label2, label3"></sample>``` of Markdown and display the relevant attributes. I tried your query example but i still got _TypeError: data is undefined_.

The problem to me, I guess, is that the query result is not inserted into the ```da

[2018-03-30 10:02] podabed commented on #3449
Hello, I have the same problem for page name in header. I've tried to do wrapper for layout and nothing's changed. @monsieurnebo, I don't understand your example above. What will I do? My layout:
[code]

[2018-03-30 10:03] fk commented on #4392
Here's a quick shot at the mobile version — maybe we want "real" cards here (with a border and subtle box-shadow):

![site showcase mobile](https://user-images.githubusercontent.com/21834/38134182-3978d5ca-3412-11e8-9e13-bebe3b1bfcc0.png)

Also threw in a first version of an icon for the mobile navigation.
Braindump:

* I thought dropping the "Sort" button here and move the sort into the "Filter"

[2018-03-30 10:50] rockmandash opened #4774 "Using gatsby-plugin-react-next + styled-components will break style in production"
Thanks for the wonderful tool.
I've noticed that using gatsby-plugin-react-next + styled-components will break style in production.
This happens with or without using Fragment I think.
The build stylesheet class name shifted, causing a weird result.

[2018-03-30 10:51] zecakeh commented on #4769
Hi there !
I think the way to do it is to query Sharp in your GraphQL query and then use `gatsby-image` to display it.
There is an example there : https://codebushi.com/gatsby-featured-images/
It's done with markdown frontmatter but I guess it should work the same with json.

I'm new to Gatsby though, and haven't implemented this yet, but that's how I figured it worked.

[2018-03-30 11:00] zecakeh commented on #4753
Hi there !

I found this blog post about implementing` gatsby-image` with markdown frontmatter : https://codebushi.com/gatsby-featured-images/

You call Sharp in the GraphQL query and then pass the image into a `gatsby-image` `Img` component. I haven't implemented it yet but it seems logical.

[2018-03-30 11:52] pieh commented on #4769
You can create node in your site/plugin saying that `gatsby-source-filesystem` is owner of node - like this (second argument for `createNode` function with name of the plugin): https://github.com/gatsbyjs/gatsby/blob/d35eef0fd144406ace8d3df018d0718cf453a2f9/packages/gatsby-source-filesystem/src/create-remote-file-node.js#L109

Possibly we could export `createLocalNode` from `gatsby-source-filesyst

[2018-03-30 12:47] Jaikant commented on #4738
Anyone here in Bengaluru, who would like to help organize something similar here?

[2018-03-30 13:34] blargity commented on #4769
Hi @zecakeh, I tried this way but it doesn't seem to work the same as the markdown plugin. I'd be happy to contribute to make it work this way but I couldn't figure out how to get my own custom plugin running when configured as in the issue. Keen for guidance if I can get it working this way though.

[2018-03-30 13:36] blargity commented on #4769
@pieh, the other thing that seemed off about that approach is I'm not sure how I actually create the query so that I can find the image then.

So say I have the JSON file in the issue. How do I write a query to get the image referenced in that particular file? It seems like I'd have to know all the filenames and hardcode them into the query, rather than being able to say, "Give me this JSON file a

[2018-03-30 13:46] blargity commented on #4727
There's a known bug with Gatsby where sometimes it gets confused and needs the cache to be cleared. This usually manifests with the entire `data` prop not being supplied to a page. I would guess this is what you're experiencing. Try killing gatsby, deleting the `.cache` directory in your project, then starting it again.

If you're still getting the data prop not supplied then it's likely you will

[2018-03-30 13:47] blargity commented on #4727
Also I noticed that the URL you're trying to hit is `/docs/sample`. That would mean that you'd have `pages/docs/sample.js`, not `pages/list.js` like you've said. That could be another contributing factor.

[2018-03-30 13:54] pieh commented on #4769
@blargity you can link to other nodes by creating field with name like `${fieldname}___NODE` and value being id of linked node

so you would:
1. listen to" `onCreateNode` event in gatsby node
2. check for node you are interested in (that json file)
3. use `createNodeField` with name let's say `thumbnailFile___NODE` (so it doesn't conflict with `thumbnail` field) and value being:
    - id of create

[2018-03-30 14:12] blargity commented on #4769
Thanks @pieh, I really appreciate your help, and I think I'm being a bit thick because it still feels like I'm missing a step.

I'm actually already doing a similar process with markdown fields in my JSON. If the field on the node ends in `_markdown` then I parse the markdown in the field with `remark` myself in `gatsby-node.js` and pop that onto the object with the key minus the markdown name. So

[2018-03-30 14:27] pieh commented on #4769
If you use `gatsby-plugin-sharp` and `gatsby-transformer-sharp` gatsby will automatically add `childImageSharp` (which enables image processing via graphql) to `File` nodes (only requirement is that file extension is one of supported ones https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-transformer-sharp#parsing-algorithm ). You don't need to run sharp manually in your code for that.

[2018-03-30 14:32] fk commented on #4392
Here's a stub at `showcase.yaml`: https://gist.github.com/fk/5ec0dbdaeb7f4e1839c99b18cbd42332

* The first item, "The State of European Tech 2017", might be a good example for a manual extension of the data for a site from the [current Showcase in the README](https://github.com/gatsbyjs/gatsby#showcase).
* "ReactJS.org" is its minimal counterpart.
* The "excessive" 😅 example …
  * primarily is me

[2018-03-30 14:38] jamesdbruner commented on #3401
@machour Can you confirm that this is still working for you? I'd love to get this working properly. :)

[2018-03-30 14:40] blargity commented on #4769
Alrighty, awesome. Thanks again for your help. I'll give that a try and will report back if I hit something more specific as a blocker.

[2018-03-30 14:50] nathanjdunn commented on #3344
Hey @pieh, will this issue be fixed in Gatsby v2?

[2018-03-30 15:02] Jaikant opened #4776 "gatsbygram scrape only scrapes first page as instagram api has changed"
## Description
Not really an issue with gatsby. The scrape script for gatsbygram, can only scrape a single page now, as the instagram API changed.  I have made the changes to the script and will submit a pull request.

[2018-03-30 15:04] pieh commented on #3344
This is not scheduled for v2 - this feature won't be breaking change so plan is to push v2 as fast as possible and then add this feature in one of v2 minor realeases

[2018-03-30 15:26] Jaikant commented on #4776
Created pull request #4777 for this.

[2018-03-30 15:28] #4776 closed

[2018-03-30 15:49] KyleAMathews commented on #4738
@pzatrick I'd love to help organize a meetup in SF! I'm in Berkeley so would love to have a regular meetup with Gatsby folks in the bay area. We should do one soon to chat about the v2 release :-) Do you know of a space?

For people wanting to organize elsewhere — we have a lot of money in open collective so we could use that money to pay for meetup.com fees.

[2018-03-30 16:03] zecakeh commented on #4769
I've tested the implementation I proposed and it works as for markdown : the catch is that the image path has to be relative. So it's actually an incompatibility between NetlifyCMS and `gatsby-transformer-sharp`...
Looks like they're working on integrating public folder with relative path in NetlifyCMS: https://github.com/netlify/netlify-cms/issues/325
So I guess the simplest/smartest would be to

[2018-03-30 16:18] machour commented on #3401
I'll give it a try tonight mate

[2018-03-30 16:26] m2mathew commented on #1100
I saw @KyleAMathews give a talk here in Dallas last night. He pulled up this package as a demo of including some client-only routes behind authentication. It might be helpful to some of the goals of this discussion. Much better solution than how I was trying to approach it. I am implementing these ideas in my Gatsby web app now! 😎

https://github.com/jlengstorf/gatsby-demo-simple-auth

[2018-03-30 16:52] shannonbux commented on #4392
@fk this is looking amazing! Today I'll come up with a list of possible categories for plugins (from some UX research) that could possibly also help with categories for the site showcase.

I tend to agree with you that the purple titles might be a bit much on mobile, since there is limited space anyway. Hopefully the discoverability of swiping will speak for itself, so people just focus on the sit

[2018-03-30 18:12] m-allanson commented on #4774
The styled components plugin was recently updated to support using the babel plugin `babel-plugin-styled-components` for server side rendering (see https://github.com/gatsbyjs/gatsby/pull/4722), does using that fix your issue?

Also see the discussion at https://github.com/gatsbyjs/gatsby/issues/3067

[2018-03-30 18:18] snirp opened #4779 "Links not working after period of inactivity [tutorial]"
I am following the [tutorial](https://www.gatsbyjs.org/tutorial/), and I notice that the links are not being followed after a period of inactivity. The URL in the browser _does_ change after clicking a link, but only a blank page is loaded. Several javascript "cannot read ... of undefined" are displayed in the console.

Reloading does result in the correct page being displayed.

## Steps to reprod

[2018-03-30 18:50] KyleAMathews commented on #4779
We should handle this better.

What's happening is when we redeploy the site (which we do all the time) then older versions of files are deleted. So if you open the site at v1 and then v2 is deployed, some of the files from v1 won't be available anymore. Which means that when you try to navigate to a page with now missing files, there'll be an error.

What we should do is a) detect errors loading

[2018-03-30 18:51] KyleAMathews commented on #4779
This will be a lot easier to fix in Gatsby v2 (due to moving from require.ensure to dynamic imports which we can catch errors from loading) so I've added it to the v2 project.

[2018-03-30 20:35] snirp commented on #4779
That makes a lot of sense, should be it. Not the biggest issue in the world. Thanks for the quick reply.

[2018-03-30 21:12] greg-wolff opened #4780 "Failing to Understand Why Typography Plugin Has No Effect"
I've tried to declare custom styles with typography.js and gatsby-typography-plugin, but I don't understand why my styles don't show. Note there's NO other css files in the project.

[code]

This is literally the entire file system. I can't figure out what I'm doing wrong:

... in `src/utils/typography.js`
[code]

... in `src/pages/index.js`
[code]

... in `src/gatsby-config.js`
[code]

Resulting

[2018-03-30 21:21] KyleAMathews commented on #4780
Did you restart the dev server?

[2018-03-30 21:29] greg-wolff commented on #4780
Yup, no effect.

[2018-03-30 21:30] greg-wolff commented on #4780
https://github.com/greg-wolff/typography-js-fail

[2018-03-30 23:36] lightstrike commented on #1493
I was just doing a little thinking about this and here's what I came up with to parse images from WYSIWYG fields:

[code]

@pieh Seem like a decent start for the parsing side?

[2018-03-31 00:25] KyleAMathews commented on #1493
My thought it that past is that we should make a gatsby-transformer-rehype that works the same as gatsby-transformer-remark. Then we could create a gatsby-rehype-images that transforms images inside html sections.

https://github.com/rehypejs/rehype

[2018-03-31 00:26] KyleAMathews commented on #1493
Along with plugins doing other HTML manipulation e.g. even syntax highlighting.

[2018-03-31 00:41] lightstrike commented on #1493
That makes a lot of sense to me, I'll take a look into rehype :smile:

[2018-03-31 00:46] greg-wolff commented on #4780
Sorry, I removed that line because I wasn't sure if it was needed, but nothing change by adding back `export default typography`

[2018-03-31 01:57] pzatrick commented on #4738
Making inquiries about event spaces! @KyleAMathews, would a not-too-raucous cafe or bar work, worst case scenario?

[2018-03-31 02:06] blargity commented on #4769
@zecakeh I'm not using Markdown files though, it's specifically with `gatsby-transformer-json` that I need to get this to work.

[2018-03-31 03:40] KyleAMathews commented on #4738
For the after party :-) it doesn't do too well for the actual meetup

On Fri, Mar 30, 2018, 8:14 PM Patrick Canfield <notifications@github.com>
wrote:

[2018-03-31 04:04] abhinavjonnada82 commented on #3399
All this can be solved........... By two simple steps:
1.) Open GIT BASH
2.) Type the command: _gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-hello-world..._
3.) From your terminal type _gatsby develop_

[2018-03-31 04:06] abhinavjonnada82 commented on #2931
All this can be solved........... By two simple steps actually three:
1.) Open GIT BASH
2.) Type the command: gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-hello-world...
3.) And from your TERMINAL type gatsby develop

[2018-03-31 04:07] abhinavjonnada82 commented on #3013
All this can be solved........... By two simple steps actually three:
1.) Open GIT BASH
2.) Type the command: gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-hello-world...
3.) And from your TERMINAL type gatsby develop

[2018-03-31 04:09] abhinavjonnada82 commented on #1899
All this can be solved........... By two simple steps actually three:
1.) Open GIT BASH
2.) Type the command: _gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-xxxxxx_
3.) And from your TERMINAL type _gatsby develop_

[2018-03-31 04:09] abhinavjonnada82 commented on #3702
All this can be solved........... By two simple steps actually three:
1.) Open GIT BASH
2.) Type the command: _gatsby new gatsby-site https://github.com/gatsbyjs/gatsby-starter-hello-world..._
3.) And from your TERMINAL type _gatsby develop_

[2018-03-31 06:40] zecakeh commented on #4769
I'm sorry if my previous message wasn't clear enough. I'm saying it works with `gatsby-transformer-json` too, I tried it. But the issue is the same as in Markdown: the image path has to be relative for `gatsby-transformer-sharp` to transform the image node into a `childImageSharp` node.

[2018-03-31 08:13] abumalick opened #4783 "accept argument on many relation"
Hello,

I am trying to integrate a rest api made with feathers into gatsby. Right now I could import my data and it very good. The website will be multilingual, so I made some relations like this in the database:
![image](https://user-images.githubusercontent.com/8377185/38161052-4a06d3fe-34c8-11e8-8974-71ad3ba311eb.png)
Every chapter have one or more chapterString, so in the chapter table I have

[2018-03-31 09:21] machour commented on #3401
@jamesdbruner Just tried on gatsby@1.9.243, seems to be working fine for me:

<img width="1288" alt="screen shot 2018-03-31 at 10 19 18 am" src="https://user-images.githubusercontent.com/304450/38161759-1a9392e2-34cd-11e8-960f-ceec1b5e1d20.png">

[2018-03-31 09:26] sebastienfi commented on #1493
There is also images in the CSS.

[2018-03-31 10:06] sebastienfi commented on #3401
I suggest you filter by category id `wordpress_id` because the name can change.

[2018-03-31 13:12] pieh commented on #4783
Currently you cant filter arrays/lists inside nodes via graphql, but it surely would be welcomed addition.

If you want start hacking on this here's starting point for this - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer-graphql-type.js#L58-L96 (this will require some graphql knowledge):
- you want need to add `filter` to `listType.args`:
  this would require to g

[2018-03-31 14:43] jamesdbruner commented on #3401
@machour @sebastienfi @KyleAMathews Sorry guys, I had updated gatsby globally but had forgotten to delete my project's local copy. It looks like it's working now! Thanks so much for your help!

[2018-03-31 16:24] erichodges commented on #1100
Ok @m2mathew, this demo is interesting. It stores the JWT in local storage and I would like to store the JWT in a secure cookie. I have not found an example of this yet, but I'm on the lookout. Thanks for posting this though. I have it running but I have not looked through all the code yet.

[2018-03-31 17:19] grdp commented on #4753
Thanks for the link!
But the problem is i can't get `childImageSharp` on the image. It doesn't exist in the GraphQL because the path of the image in the markdown isn't relative…

[2018-03-31 18:57] garrynsk commented on #4611
Hi there! I've got the same error. Sure this is because of mix of UI tools: material-ui and styled-components. I tried to implement SSR, but the build breaks. If I remove SSR completely, the build goes smooth, but I definitely need it. Probably, something is wrong with my gatsby-ssr.js setup, but I can't track the error. The repo is [here](https://github.com/garrynsk/gatsby-freestyle). Please, hel

[2018-03-31 22:37] garrynsk commented on #4611
Well, I've resolved the problem.
1. installed jss
2. fixed my setup with help of [official material ui - gatsby repo](https://github.com/mui-org/material-ui) and this [gatsby-styled components gist](https://gist.github.com/LawJolla/5fa01d54c64f1b17eea498b68068acab).

You can find the working repo [here](https://github.com/garrynsk/gatsby-freestyle) .

[2018-04-01 01:08] lfittl commented on #3545
FWIW, running into the same issue as described in the last few comments.

@KyleAMathews should that be a new issue, or can we re-open this issue?

[2018-04-01 01:52] lfittl commented on #3545
Actually nevermind, this seems to be a bug in https://github.com/rhysd/rehype-react - when processing your Markdown generated HTML through that (as described here: https://using-remark.gatsbyjs.org/custom-components/) it seems to stop processing anything in each `style` key-value pair after encountering the first `;` in the value.

At least in my case thats the reason for running into the describe

[2018-04-01 03:26] blargity commented on #4769
@zecakeh, Ah, sorry for the misunderstanding, that's my bad. I actually think I'l be fine in this case because my content all lives in subdirectories, so I'm pretty sure all my content links start with a `/`. I'll give it a go.

[2018-04-01 03:29] blargity commented on #4769
@zecakeh, I tried your way, but I still can't figure out what to do. The example you've given above leverages `gatsby-remark-images` which doesn't exist for JSON. What exactly was the setup that you did which worked? Could you show me an example `gatsby-config.js` so I know what you hooked up?

[2018-04-01 04:04] abumalick commented on #4783
Thank you very much for your indications. Right now I am busy so I cannot take care of that but I will try to hack it when I have some time.

If someone wants to fix it, he can take it through.

[2018-04-01 04:31] ChrisBoon commented on #3545
@lfittl Awesome, just tried it and it fixed it for me.

[2018-04-01 07:59] grantly7 opened #4789 "Contentful: No formatString argument available on date + time field."
Hello and thanks for looking into this issue! I'd like to start off by saying that I am new to react, GraphQL, Gatsby, & Contentful and apologize in advance if I have overlooked something very basic.
That being said I'm excited to continue the process of migrating several jekyll projects to gatsby. So far the migrations have happened without any roadblocks aside from the issue below and I'd love t

[2018-04-01 09:18] stefanwille commented on #3972
How about a warning in the documentation about async/await not working?
I have wasted quite a bit of time to find this out.

[2018-04-01 09:41] stefanwille commented on #1043
Same issue here

[2018-04-01 11:39] spawnia commented on #4591
There is one issue with running the CLI on Docker, which is that exposing `localhost` does not allow access from outside of the container. For that, the flag `--host 0.0.0.0` has to be added to the develop command.

While i like that @aripalo has considered this in his entrypoint, in the long run i think that overwriting the command like this could cause feature drift.

Also, do you think that doi

[2018-04-01 11:43] randomchars commented on #4753
I had the same problem as you @grdp. It's a relatively easy fix.

My directory structure looks like this:

[code]

In your gatsby-node.js

[code]

In a separate file (but can be done inline too):

[code]

As the path in the frontmatter is something like `/img/uploads/fb-poszt-hatter-diploma.png` adding `..` before it gets us the relative path from the markdown file.
ä
The only difference this make

[2018-04-01 11:50] randomchars commented on #4769
Hey @blargity I just answered another question that's similar to this one [here](https://github.com/gatsbyjs/gatsby/issues/4753#issuecomment-377781075).

To make this short, in your  `gatsby-node.js` you can add `fields` and add a relative path to your image that gatsby will recognise, and then you access `childImageSharp` on that.

[2018-04-01 13:46] blargity commented on #4769
I do really appreciate the help but it's still not working. I must be being really thick here. My content file is in `<project root>/content/team/professor-janice-russell.json`. In that file NetlifyCMS has put a field like this:

[code]

In my `gatsby-node.js` I have code that adds a field that is a relative path (relative with respect to the content JSON file) to find the image. I call the field

[2018-04-01 14:18] blargity commented on #4769
Ok, I figured it out!

In order for the relative paths to work, you also need to add the directory where the images are located as a file source. So I needed to add this to `gatsby-config.js` as well as `gatsby-transformer-sharp` and `gatsby-plugin-sharp`:

[code]

Thank you @randomchars and @zecakeh for all your help!

For anyone finding this issue later, I can now query like this:

[code]

Which

[2018-04-01 14:18] #4769 closed

[2018-04-01 14:28] eamontaaffe commented on #4458
I ran into the same issue. It just seems to be an issue with the fragment's not being available when gatsby-node.js is run.

One quick fix is to not use a fragment. The GatsbyImageSharpResolution fragment's can be found here: https://github.com/gatsbyjs/gatsby/blob/3445b9a7541dfd181ef7f062dc8b21e380a31d93/packages/gatsby-transformer-sharp/src/fragments.js#L2

All you have to do is change this:
[co

[2018-04-01 14:37] b0gd4n opened #4792 "Conditional component in layout"
I have my Header component part of the `layouts/index.js`. However, I want the header to be rendered on every page except for the main homepage.
I figured I could include the header in every page that I want it part of and remove it from the layout, but would rather keep it there.

[2018-04-01 15:12] zecakeh commented on #4753
@randomchars Am I wrong to assume that this code breaks the preview in NetlifyCMS? Not when you just added the image because the image displayed is cached, but when you come back to edit the entry.
To me, it seems like to make it work completely, the only option is to put the images inside the `static` folder, and add the relative path to the images with your code.
That way, the image folder will

[2018-04-01 15:44] ThiagoMiranda commented on #3915
@pieh getting undefined when importing Fragment like `import React, { Fragment } from 'react'`. Just installed a fresh new gatsby new project using their docs. Can you help me?

Thanks

[2018-04-01 15:49] pieh commented on #3915
@ThiagoMiranda you need to install https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-react-next plugin to use react 16

[2018-04-01 15:59] KyleAMathews commented on #4458
@eamontaaffe why not run the query in the template component? The fragment is available there and you get hot reloading when you change your query, etc.

[2018-04-01 16:05] ThiagoMiranda commented on #3915
@pieh wow thanks for the quick response! It worked nicely

[2018-04-01 18:06] zecakeh commented on #4753
I have been working on a custom widget to overcome NetlifyCMS's shortcoming :

https://github.com/zecakeh/react-netlifycms-custompathimage

It should work as is. And the preview should work since it loads the images directly from the backend repository.

[2018-04-01 18:33] jazen opened #4793 "`$nin` operator from `sift` not supported?"
## Description

I'm trying to use `$nin` operator from `sift` in a query.

### Steps to reproduce

A `.md` post with frontmatter:

[code]

Running

[code]

### Expected result

I would expect the query to exclude nodes where `frontmatter.tags` is an array including a `noindex` string.

### Actual result

[code]

### Environment

* Gatsby version (`npm list gatsby`): `1.9.243`
* gatsby-cli version

[2018-04-01 20:09] kellymears commented on #4666
i'm also getting this error.

additional info: my site is running in a wordpress network configuration, and it hangs whether i query a fresh site or a large one. don't know if multisite is compatible..

[2018-04-01 21:02] vai0 commented on #4793
I'm experiencing the same with the other filters ($regex, $in, $nin). The only two that are working for me are $eq and $ne

[2018-04-01 21:26] jazen commented on #3424
Ran into the same issue today—looks like the values for `prev` and `next` must be a string. This worked for me:

[code]

[2018-04-01 22:04] benedictdudel commented on #4109
Soo... I've came across with some other troubles when using Docker for other applications and it seems like that the problem did had something to do with `docker-machine`. I have now installed the edge version of Docker for Mac and skipped using docker-machine for my containers. Et voilá my `Dockerfile` from above is working fine now. Changes are now triggerd :)

Thank you very much for your effor

[2018-04-01 22:04] #4109 closed

[2018-04-02 02:13] LiangNex commented on #4727
@blargity  Thanks a lot for your explanation, it saves my time. 👍

[2018-04-02 02:13] #4727 closed

[2018-04-02 04:29] vnwarrior commented on #2586
@pieh this is the only place we could find any information about dynamic client side sites in gatsbyjs. Two questions:
1. https://www.gatsbyjs.org/docs/building-apps-with-gatsby/ talks about using "matchpath" to create client only routes. You havent mentioned it here. Is it at all necessary ? I'm getting confused on what matchpath is supposed to do
2. Can we use react-router ? basically we have a

[2018-04-02 06:41] thekevinbrown opened #4799 "Filtering on Contains in Array - JSON content"
## Description

I have tags arrays in my content, and I want to be able to fetch by those tags.

### Steps to reproduce

Use JSON content like this:

[code]

Then try to fetch for content which contains tag 'a' with this query:

[code]

### Expected result

I would expect this to work as per this example and this issue:

Example: https://github.com/gatsbyjs/gatsby/blob/52e36b9994a86fc473cd2f966ab6

[2018-04-02 06:57] grdp commented on #4753
@zecakel great! thanks for this fix
It's working in develop mode but when i make a build, i get a webpack error:
[code]

[2018-04-02 08:18] pungggi opened #4800 "[gatsby-plugin-react-next] React 16.3 or 16.2"
Hello, would it be possible to upgrade the plugin https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-react-next

to support React 16.3 or at least 16.2 ?

[2018-04-02 10:07] ohenrik commented on #2107
@haroldtreen where should i add this? If i add `packageMains` to `resolve` i get an error telling me that `packageMains` is unknown.

[2018-04-02 10:24] mccrodp commented on #3535
Thanks @ryanditjia for the pointer in the right direction. I got fragments working also, for anyone who wants to see code for that: https://github.com/ahimsayoga/ahimsayogajp/pull/32/files

[2018-04-02 11:50] podabed commented on #4800
I don't use this plugin, but I've just installed latest react and react-dom and after that usually "import  React from 'react'" in my project. React.version shows 16.3
@KyleAMathews, is it correct way? I have no troubles with this.

[2018-04-02 12:16] SanthoshRaju91 commented on #468
@KyleAMathews I have a similar, I don't want open up another issue.

In `gatsby-node.js`, importing writing a source plugin

[code]
This throws me the same error, even though I added a .babelrc and downloaded babel-present-env.

[2018-04-02 13:30] pieh commented on #2586
@vnwarrior
Gatsby uses `react-router` under the hood. `matchPath` argument in `createPage` is used to allow dynamic paths with params - you can't use `Router` components because gatsby uses it already, but you can use `Route` components inside your pages

You can check https://github.com/gatsbyjs/gatsby/blob/master/examples/client-only-paths to see how to implement dynamic paths:
`matchPaths` used

[2018-04-02 15:02] ryanditjia commented on #4792
Layout has a prop called `location`. The gist is you can access `location.pathname` and conditionally show Header if `location.pathname !== '/'`.

[2018-04-02 15:31] zecakeh commented on #4753
Are you sure it comes from my Widget ?
I don't have any issue when I `gatsby build`...
Don't you have any warnings in your console in dev mode ?

[2018-04-02 16:01] kkemple commented on #1564
@KyleAMathews I can take this on with the other related ESLint issues, any information I need other than what's here? Do I have it right that we want the error overlay as well, and only on errors, not for warnings?

[2018-04-02 16:03] blargity commented on #4690
@sebastienfi They're able to be worked around, but these are the ones I've hit. They're mostly very reasonable decisions for both projects by themselves, but when you put them together it's frustrating:

- NetlifyCMS creates image paths as absolute paths from the final resulting location of the image. So if the image lives in `static/assets/hello.jpg`, NetlifyCMS will put `/assets/hello.jpg` in th

[2018-04-02 16:08] KyleAMathews commented on #2825
Running queries are extremely quick and a very small part of the build time. Also we don't run GraphQL queries on subsequent builds if the data for that page hasn't changed.

A better question is which is best for developer ergonomics & long-term maintainability. If all the data necessary for a page component is defined in its query, then it's easy to know what data is available and in what shape.

[2018-04-02 16:25] KyleAMathews commented on #4793
@vai0 `$in` is only available for filtering arrays.

`$nin` hasn't been implemented yet. Not all sift functions have supported added yet. A PR doing this would be great! This is where the code is — https://github.com/gatsbyjs/gatsby/blob/94da32474c4bd1dd18311c2e87a7a8f6d17ae61b/packages/gatsby/src/schema/infer-graphql-input-fields.js#L30

You'd need to add the additional functions the schema + add

[2018-04-02 16:48] adamyonk opened #4802 "gatsby-remark-prismjs adding newlines to inline code blocks"
## Description

I'm seeing a newline added at the end of inline code blocks, but *only* if there is a `inlineCodeMarker` present.

![image](https://user-images.githubusercontent.com/33258/38204814-f0438fbc-3669-11e8-881d-35de609e9996.png)
![image](https://user-images.githubusercontent.com/33258/38204831-fb639090-3669-11e8-88e6-a0f0ce28cdb7.png)

### Steps to reproduce

Here's the markdown in quest

[2018-04-02 17:18] KyleAMathews commented on #1564
The overlay was added since this issue was lasted updated but porting CRA's eslint-loader implementation over would be great!

[2018-04-02 17:20] KyleAMathews commented on #4802
@docwhat any idea?

@adamyonk this probably happened in https://github.com/gatsbyjs/gatsby/pull/4556

[2018-04-02 17:24] KyleAMathews commented on #4637
A simpler algorithm that I think would work is:

1) Do normal kebabCase conversion
2) if there's any characters that'd be changed or removed, add an encoded snippet at the end to differentiate it from other potential collisions.

This way we wouldn't need to add extra encoded stuff. We just detect if it could be colliding and then add the shortened hash at the end to prevent this.

[2018-04-02 17:27] KyleAMathews commented on #4699
Curious why you're embedding Gatsby code somewhere? Our code isn't designed for this and it's not something we're going to support. It might be simpler to just run Gatsby as a sub-process.

[2018-04-02 17:31] adamyonk commented on #4802
I should also note, I'm setting this up for the first time, I'm not sure if past versions of this worked or not.

[2018-04-02 17:35] KyleAMathews commented on #4689
Hmmm interesting — not sure I understand just yet — what's the problem with allowing Gatsby plugins modify the babelrc? It'd only be done once at the start of the Gatsby process. Why would we need to call modifyBabelrc for every file that's compiled?

[2018-04-02 17:35] pauldotknopf commented on #4699
Yeah, I might just do the sub process route.

The reason I'm embedding is because I am trying to hide the complexity of Gatsby from my users. They aren't even comfortable in the command line.

However, requiring ```process.exit``` seems like a bad approach to handle bugs deeper in the code base.

[2018-04-02 17:41] AlanFoster commented on #312
Catalog looks nice; And the gatsby-remark-design-system plugin is cool, but it does not have support for React components. I do think that it does something right though, it makes use of the existing code block syntax to add more complex functionality to Markdown.

As discussed a few times within this thread, I think the use of the existing parser isn't quite the functionality that is desired. Per

[2018-04-02 17:49] KyleAMathews commented on #4699
We catch all errors and then decide what to do with them. Sometimes we exit, sometimes we don't. Gatsby is a system which is why simply pulling in a single module won't work.

I know of others that have taken the sub-process route with success.

[2018-04-02 17:49] #4699 closed

[2018-04-02 18:02] docwhat commented on #4802
With the default CSS setup, it shouldn't matter if there is a newline in an inline `<code>` element.

As for why a trailing newline is added, that _is_ weird.  My [code](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-prismjs/src/index.js#L64-L67) doesn't add a new line.  The Remark parser shouldn't be adding a newline to `node.value`.

[2018-04-02 18:03] KyleAMathews opened #4803 "[v2][rfc] Copy Nuxt's custom webpack plugin"
This is beautiful

https://twitter.com/jaredpalmer/status/980857303128821762

[2018-04-02 18:08] docwhat commented on #4802
I'm not sure if this is a bug or not; PrismJS CSS has rules for non-pre-wrapped `code` that change the whitespace rules so this doesn't matter.

You can see the extra newline being added [on my syntax test page](https://docwhat.org/pi/markup-syntax-highlighting#inlinecode-highligthing):

Example:

[code]

Is turned into:

[code]

The the trailing newline after the last `</span>`.

[2018-04-02 18:11] docwhat commented on #4802
Hey, @KyleAMathews:

Could this be the source of the extra newline?

<https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-prismjs/src/highlight-code.js#L42>

[2018-04-02 18:11] adamyonk commented on #4802
Ok, thanks for the information. I'll try to isolate the styles for this some more to make sure I don't have something conflicting.

[2018-04-02 18:31] docwhat commented on #4802
I think [this](https://github.com/gatsbyjs/gatsby/blob/6c120dbc43e4e1ade0e43f5ac5f8418071a7e00d/packages/gatsby-remark-prismjs/src/highlight-code.js#L36-L44) should be changed to:

[code]

[2018-04-02 18:39] georgesboris commented on #4769
@blargity hey – could you provide the repo with the complete solution for this? This would help out so much!

I was facing the same exact problem and encountered this thread. Just noticed that this conversation was happening at the exact same time. I love the internet.

[2018-04-02 18:57] adamyonk commented on #4802
That seems like it would fix my problem. Can confirm that none of my own styles are causing this.

[2018-04-02 19:22] jquense commented on #4689
ya my thought was we'd turn off options on the babel loader, load the user options up front and then use that, cached and all.

[2018-04-02 19:40] loganfsmyth commented on #4689
The options vary by filename, so there isn't really an "up front" to load. You can certainly load them yourself, but I still think doing it per-file would be important. I wouldn't worry about performance on Babel's side, it's all cached pretty well, it's just that since you expose `modifyBabelrc` I guess you'd want to run that per-file too, if it's meant to modify the user's actual config.

[2018-04-02 19:41] kkemple commented on #1287
I'll be taking this on and rolling up all eslint work!

[2018-04-02 19:45] grdp commented on #4753
Ok it's working now! i think there was a kind of conflict with other markdown template/pages.
Now just need to fix the preview image in the netlify cms admin panel (the rawMediaPath doesn't seem to work)
Many thanks for your help and this plugin!

[2018-04-02 19:54] grdp commented on #4753
Or maybe i'll try to put the `image` folder into the `static` folder to solve the preview in the admin panel

[2018-04-02 20:04] b0gd4n commented on #4792
@ryanditjia thank you - that makes sense.

[2018-04-02 20:04] #4792 closed

[2018-04-02 20:16] docwhat commented on #4802
It actually doesn't.  It'll collapse non-highlighted newline.

I did a fix in #4804 and if it passes all the tests, I think it is correct.

[2018-04-02 21:38] zecakeh commented on #4753
Really, the rawMediaPath isn't applied ? Have you checked the preview `img` `src` attribute ? Maybe it's a mistake in the path.

[2018-04-02 22:17] shannonbux commented on #4392
@ThatOtherPerson what else do you need in order to start working on this? I'm hopelessly new to development so just tell me if we're missing crucial steps here!

[2018-04-02 23:34] squaredindex opened #4807 "Editing & Adding new content to an existing page via Contentful?"
Hi, new to Gatsby and JAMStack setup and still trying to get to grips with everything, so apologies if this is something apparent I've not understood via the docs.

I've managed to get posts created via Contentful, however, I'd like to add the ability to edit content on existing pages and if possible add new sections/content to those existing pages rather than create separate pages for those secti

[2018-04-02 23:36] KyleAMathews commented on #3067
Hey y'all, @tsriram just added a build option which lets you disable uglify which means it'll be possible to see the errors React shows when there's a mismatch between the server rendering and client render which should help y'all narrow down where problems are cropping up https://github.com/gatsbyjs/gatsby/pull/4755

Upgrade to the latest `gatsby` and `gatsby-cli` and then run `gatsby build --no-

[2018-04-02 23:38] KyleAMathews commented on #4807
Editable in the Contentful UI?

[2018-04-02 23:54] squaredindex commented on #4807
@KyleAMathews Yeah, that's right. I wouldn't mind a solution that uses NetlifyCMS either, really just need something easy for clients to use.

[2018-04-03 00:52] KyleAMathews commented on #4689
Oh, so users can specify in their .babelrc per file config? I had no idea.

[2018-04-03 01:15] loganfsmyth commented on #4689
Yes, in Babel 6 it was already possible because you could have multiple `.babelrc` files in nested directories, but in Babel 7 it's encouraged with https://github.com/babel/babel/pull/7091

[2018-04-03 03:30] jbolda commented on #2825
@KyleAMathews, just happened to read [this article from Auth0](https://auth0.com/blog/building-a-blog-with-gatsby-react-and-webtask/#handy) tonight. It suggests doing this on the homepage which is technically a template in this case.

[2018-04-03 04:25] CanRau commented on #2210
maybe that's what you meant, but how about gatsby always uses _id, which might be less likely to conflict with user provided ids and in case someone still adds custom _id throw a warning

[2018-04-03 04:27] CanRau commented on #2311
not sure if i get the same error right now but i sometimes have to `npm rebuild sharp` after module installations to get it working again, i'll post it when it comes up again

[2018-04-03 04:33] gosseti opened #4812 "[gatsby-plugin-netlify] Proxy issues when using Netlify functions"
I’m currently trying to get Netlify functions working in Gatsby. I have a proxy set up like this in `gatsby-config.js` so that the `/functions` endpoint forwards on requests to my Netlify function handler:

[code]

Everything works on the Netlify functions side as hitting the URL `http://localhost:9000/hello` gives me back:

[code]

I’m then running a request like this:

[code]

If I visit `http:/

[2018-04-03 04:37] rockmandash commented on #4774
@m-allanson Nope, I tried today.
The problem still the same.

[2018-04-03 04:57] rockmandash commented on #4774
I think the babel plugin is adding the name to hash style name.

[2018-04-03 05:10] KyleAMathews commented on #4812
Sounds like you have the same issue as https://github.com/gatsbyjs/gatsby/pull/4797?

[2018-04-03 06:13] grantly7 commented on #4807
@squaredindex  I'm using Gatsby + Contentful + Netlify and loving it in terms of how flexible the entire setup is. An enjoyable developer experience and the clients love the simplicity of editing content via Contentful compared to other solutions I had wired up for Jekyll but really never felt truly stoked on.

I'd recommend a couple things to get into the groove quicker.

- Run through the entire

[2018-04-03 06:17] blargity commented on #4769
@georgesboris unfortunately this isn't open source code yet. I'll have a chat with the client and see if I can get permission.

[2018-04-03 06:18] ryanditjia commented on #4800
I had the same problem, first got it to work by installing react and react-dom manually. Then I had this idea that maybe uninstalling and reinstalling gatsby-plugin-react-next would fix this. And it did.

I no longer have react and react-dom packages and it still shows React.version as 16.3.0. Plus the new Context API works :)

[2018-04-03 06:31] ageorgie opened #4814 "Use SeedAndDew to allow users to contribute to the project by reading documentation"
Hi everyone,

I'm Alex from SeedAndDew. We're building a common subscription platform that allows users to contribute to a number of projects at the same time with a single subscription. The idea here is that it's a lot easier to get people to contribute $10/month to every open source project they work with than it is to get them to contribute $5/month for a specific project. The subscription reve

[2018-04-03 06:42] johot opened #4815 "Wrong spelling in Readme.md of OutboundLink (is Outboundink) for gatsby-plugin-google-analytics/"
It says Outboundink instead of OutboundLink which actually breaks all gatsby builds if you did like me and made a copy / paste. Thanks!

[2018-04-03 06:59] ryanditjia commented on #4807
I might be able to help here. I create a custom Content Model for each page that I want for the user to be able to edit.

## Content model examples
Homepage
![image](https://user-images.githubusercontent.com/16177372/38232714-4dd4460c-3742-11e8-8246-32d4a40c90e8.png)

About page
![image](https://user-images.githubusercontent.com/16177372/38232687-34ff46f4-3742-11e8-8b3d-102a1a40f6b4.png)

## Singl

[2018-04-03 07:26] BillyWM commented on #3013
Had this problem on an older version months ago. Still have it on latest. (double-checked `gatsby-cli -v` that, yes, I am on 1.1.50). Once in a while it goes, but usually it hangs

Good to know it isn't doing any magic though and we can just `git clone` and `yarn install`. Not having any connectivity problems. Not sure why that is more reliable.

[2018-04-03 07:59] vojtechruz opened #4816 "[gatsby-plugin-netlify] Missing CSS"
LAtely, when I am using gatsby-plugin-netlify v 1.0.19 and deploying to Netlify as usual, my CSS is missing. I don't see any errors during build or in console.

Example is available here:
https://5ac331fddf99537dcbeaccca--vojtechruzicka.netlify.com/

With source code here:
https://github.com/vojtechruz/vojtechruzicka-blog/tree/netlify-plugin-error

When I remove the plugin, everything works fine,

[2018-04-03 08:16] grdp commented on #4753
rawMediaPath is working but the path with this structure`https://raw.githubusercontent.com/user/repo/master/images/` doesn't link to an image.
Is it working the preview to you with this kind of path?

[2018-04-03 09:40] grdp commented on #4753
indeed it's working! i probably did a type-mistake in the path before.
thanks a lot!
do you have any idea how to make this image field rendering a empty string ' ' when the field is empty (not required) in the markdown? It's to avoid a `Cannot read property 'childImageSharp' of null`)

[2018-04-03 10:11] zecakeh commented on #4753
No I haven't looked into that yet. That's an error in React, not GraphQL, right ?
Couldn't you avoid this error by checking if the image data exists in your code first? Like this:
[code]

[2018-04-03 11:24] vnwarrior commented on #2586
@pieh - thanks for answering. Still some confusion. So I'm asking this in context of an ecommerce site (which is what this bug is about).

I will have /products -> dynamic list of products from api
/product/:id -> details about a single product. also coming dynamically from api.
"add to cart" button on /product/:id will lead to /cart page which will have cart . This cart should ideally come from r

[2018-04-03 11:49] gosseti commented on #4812
Ah thanks, doesn’t seem like there’s any real concrete solutions in either place yet unfortunately. How would you approach this?

[2018-04-03 11:52] pieh commented on #2586
I think that for products pages you'd rather want to use static pages (insert data from your api to gatsby data store and create pages for each product at build time) and not dynamic pages (which lose a lot of benefits of using gatsby).

But this doesn't really change your other questions:

Re redux: only thing in gatsby that need special handling is setting up redux provider - which you can see h

[2018-04-03 12:26] grdp commented on #4753
Even with a conditional like that, i have a GraphQL error (`Cannot read property 'childImageSharp' of null)` because in some posts there's no image (`"img": null`).
[code]

[2018-04-03 12:36] squaredindex commented on #4807
@ryanditjia Thank you so much for giving such a complete & clear explanation, that was incredibly helpful! 😁

This sort of setup will work perfectly for my client.

[2018-04-03 12:39] squaredindex commented on #4807
@grantly7 Thanks for sharing those resources, looking forward to really diving in and learning as much as possible.

[2018-04-03 12:41] zecakeh commented on #4753
Oh that was a mistake on my part. I always intended for it to save an empty string. I fixed it in my repository so just replace your `customPathImage.js` with the new one.

[2018-04-03 13:13] sachingvit opened #4818 "Unable to see the progress using "gatsby-plugin-nprogress""
## Description

I am trying to integrate "gatsby-plugin-nprogress" into my application, I have done mentioned configuration in gatsby-config.js to add the plugin. But I am not sure how to use it, how can I see loaded on page load and how to operate from applicstion.

Can anyone help me to integrate it within my application?

### Steps to reproduce

### Expected result

What should happen?

### Act

[2018-04-03 13:40] ryanditjia commented on #4818
I see 2 possibilities:

- Your connection is _too_ fast. In Gatsby, the progress bar is hardcoded to only appear after 1s of delayed load. See: https://github.com/gatsbyjs/gatsby/issues/3368
- I don’t know your complete `gatsby-config.js`. But it’s possible that you’ve made a syntactical error. It should be something like:

[code]

[2018-04-03 13:46] ryanditjia commented on #4815
Made a PR: https://github.com/gatsbyjs/gatsby/pull/4819

[2018-04-03 13:55] ryanditjia commented on #4807
No worries. It’s a workaround and can be bypassed by a naughty user deleting the entry and creating a new one from scratch. Just have to tell them not to do that 😃. Consider closing the issue if it’s solved your problem.

[2018-04-03 13:56] #4807 closed

[2018-04-03 14:00] sachingvit commented on #4818
@ryanditjia  Thanks for your comment here is my [Repo](https://github.com/sachingvit/gatsby-demo/blob/master/)

Your first concern sounds because I am not having a lots of data to load, but if I want to trigger the nprogress manually how can I do it? I have found some code snippet on internet so I had added it into **gatsby-browser.js**

Please check and tell me where I am wrong. I am totally new

[2018-04-03 14:14] borekb opened #4820 "Unknown argument: uglify"
PR #4755 introduced a ` --no-uglify` flag but it doesn't work for me when invoked from an npm script or via `npx`:

[code]

As a workaround, it is possible to do

[code]

or

[code]

---

Note: I previously made it sound like the CLI parsing is incorrect but doing `$ gatsby build --no-uglify` (using global gatsby-cli) works correctly. Sorry!

[2018-04-03 14:43] sachingvit commented on #4818
@ryanditjia I had started the things but its not correct, I have to use this for page load time and API data fetch time also, but I want to have access on progress loader for some processes. How can I do that using single instance of "**nprogress**"

[2018-04-03 16:28] grdp commented on #4753
Thanks for the new fix but that doesn't change an empty string or a empty field. I have just tested it. Still GraphQL need a valid childImageSharp value. I have two `img `field (`img1`, img2), sometimes the second is not required and so empty.  => `Cannot read property 'childImageSharp' of null`
I'll try to figure it out… but thanks a lot for the help!

[code]

[2018-04-03 16:29] KyleAMathews commented on #4815
Fixed in https://github.com/gatsbyjs/gatsby/pull/4819

[2018-04-03 16:29] #4815 closed

[2018-04-03 16:34] pieh commented on #4753
Does `Cannot read property 'childImageSharp' of null` break the build? If you have repo to reproduce this problem I will take a look.

[2018-04-03 17:49] KyleAMathews commented on #4820
Hmmm I tested it locally without this problem. Wonder why I'm not seeing a problem.

[2018-04-03 18:00] KyleAMathews commented on #4818
The plugin isn't intended as something you can manually trigger. If you want to manually trigger nprogress, you can import `nprogress` directly and run it from your own code.

And like @ryanditjia mentioned, you'll only see it if the page load is > 1 second — you can simulate that by loading you site and then reducing the network speed in the devtools.

[2018-04-03 18:00] #4818 closed

[2018-04-03 18:30] KyleAMathews commented on #2825
They're passing in "pagination" data which is expected. The distinction is that you only pass in data via context that's required to uniquely identify the page you're creating. So what "page" the page is in the pagination is essential so that each page can query the right slice of data.

[2018-04-03 19:35] borekb commented on #4820
I just reproduced on another PC (both are Windows machines if that matters). `gatsby@1.9.244`

[2018-04-03 19:43] ThiagoMiranda commented on #2932
I´m stuck here. Trying to test with enzyme and I get this error:
` Cannot find module 'react/lib/ReactComponentTreeHook' from 'ReactDebugTool.js'`

My package.json:

[code]

jest-setup.js
``js
const enzyme = require('enzyme')
const Adapter = require('enzyme-adapter-react-16')

enzyme.configure({ adapter: new Adapter() })

global.shallow = enzyme.shallow
global.render = enzyme.render
global.mount =

[2018-04-03 19:59] KyleAMathews commented on #4820
Hmmm well, I guess we should rename it then. camelCase on command line args offends some aesthetic sense of mine. How about instead we do `--disable-uglify`? You want to make a PR for this?

[2018-04-03 19:59] KyleAMathews commented on #4820
Weird this only shows up on windows.

/cc @tsriram

[2018-04-03 20:00] #4802 closed

[2018-04-03 20:07] borekb commented on #4820
I think the way to handle this is to specify `uglify` parameter in yargs which will then parse `--no-uglify` as `uglify: false`. I'm not 100% sure though. Might try to do a PR but not sooner than this weekend I'm afraid.

[2018-04-03 20:35] adamyonk commented on #4802
🎊

[2018-04-03 21:11] shannonbux opened #4827 "Naming conventions for plugins"
## Description
Currently, the Plugin Authoring doc describes four categories in the Gatsby plugin/package naming convention. This covers most existing plugins. However, there is potential to add packages and plugins that must adhere to other naming conventions.

## Problem
Here's an example scenario: if we add eslint to Gatsby and want to share it through the plugin library, we'll need to name it

[2018-04-03 21:13] shannonbux commented on #4671
Sort of related to issue #4827 because as we expand what categories of plugins are included in the library, the naming conventions for plugins will likely need to change.

[2018-04-03 21:13] shannonbux commented on #4827
Sort of related to issue #4671 because as we expand what categories of plugins are included in the library, the naming conventions for plugins will likely need to change.

[2018-04-03 21:14] shannonbux commented on #4670
Looks like this is done! Will close and thanks everyone!!!

[2018-04-03 21:14] #4670 closed

[2018-04-03 21:34] vinniejames commented on #4626
@pieh thanks for cracking this! I'm curious if there is a planned/estimated release date for v2?

[2018-04-03 22:07] fk commented on #4670
Sorry @KyleAMathews, only saw your comment now :-/ (thanks to @shannonbux' last comment from today and Gmail filters finally set up 🎉). Not opposed to make the current "selected" state clearer, and I also like the hover-state @calebsylvest suggested – seems a bit lighter than the current ones, while still visible enough?

Thanks @tsriram! 🤗<3

[2018-04-03 22:48] squaredindex opened #4828 "Contentful image sizes for images inside Markdown"
I'm currently importing content from Contentful to my page like so:
[code]
I have an image within that markdown post and it renders out as a plain jpg (inside a <p> tag for some reason) at the moment.

I'd like to generate responsive sizes and webp versions, but struggling to figure out how, doesn't seem like I can manipulate with sharp as I would in other cases, I'm assuming I can use `GatsbyCont

[2018-04-03 22:52] KyleAMathews commented on #4827
We actually filter which NPM packages show up in the library using NPM "keywords" not the names of the packages so a package named `eslint-preset-gatsby` would show up if it added the right keyword.

The two keywords we match on (currently) are `gatsby-plugin` and `gatsby-component`. I've thought about adding `gatsby-library` to this list in the past as that'd be a perfect fit for something like `

[2018-04-03 22:56] KyleAMathews commented on #4828
There's some discussion about adding this exact feature over at https://github.com/gatsbyjs/gatsby/issues/1502

Would love your help there!

[2018-04-03 22:56] #4828 closed

[2018-04-03 23:15] shannonbux commented on #4827
ok @KyleAMathews cool! Should I add those links to our Plugin Authoring doc?

[2018-04-03 23:55] KyleAMathews commented on #4827
Perhaps not the links to the code as that's likely to change and not interesting to most people but definitely which keywords people should use. Add the two to the keywords bullet [here](https://www.gatsbyjs.org/docs/plugin-authoring/#what-files-does-gatsby-look-for-in-a-plugin)

We should perhaps have a section near the top making it very clear how they get their plugin to show up in the plugin l

[2018-04-04 00:15] grantly7 commented on #4789
Resolved with #4813 PR merge.

[2018-04-04 00:15] #4789 closed

[2018-04-04 02:12] dwagnkorea opened #4830 "[gatsbyjs.org] Website does not display in Firefox on Freebsd XFCE."
## Description

The gatsbyjs.org website does not display in firefox on freebsd xfce.

### Steps to reproduce

1) Install FreeBSD with XFCE as the display manager
2) Open Firefox
3) Browse to gatsby.org

### Expected result

The website should display something

### Actual result

The website displays for a second, and then dissappears...

### Environment

* Gatsby version (`npm list gatsby`): Non

[2018-04-04 02:13] dwagnkorea commented on #4830
I will note that this is preventing me from even getting started using Gatsby.  This seems like a serious problem for a tool that claims to be able to generate web pages....

[2018-04-04 03:54] tsriram commented on #4820
Yeah, I think `--disable-uglify` is better and if at all someone wants to use yargs' boolean negation feature, they can use it like `--no-disable-uglify`. Guess we'll also need to change the `--no-color` command to `--disable-color`. I'll put up a quick PR in a while - @borekb hope you don't mind :smile:

[2018-04-04 04:05] tsriram commented on #4820
Well, even if I change it to `--disable-uglify`, `--no-disable-uglify` doesn't seem to negate it :man_shrugging:
Anyway, `disable` sounds better to me than `no`

[2018-04-04 05:57] chrisfoster78 commented on #1175
@GoChartingAdmin

[Example here](https://www.gatsbyjs.org/tutorial/part-four/#querying-for-the-site-title)

[2018-04-04 06:26] snawbel commented on #312
@ThiagoMiranda Yes, (2) would be great! My use case is an image gallery:

[code]

[2018-04-04 06:55] sachingvit commented on #4818
@KyleAMathews  @ryanditjia I had tried with mentioned way also reduced my connection speed to 1kbps but I am not able to see progress bar after removing manually call from gatsby-browser.js.

you can check my approach into [Test repo](https://github.com/sachingvit/gatsby-demo/blob/master/)

any hints what wrong there ?

[2018-04-04 06:58] sachingvit commented on #4818
![image](https://user-images.githubusercontent.com/4231074/38293024-9ce318d8-3803-11e8-9c91-00534c3817f1.png)

[2018-04-04 07:35] borekb commented on #4820
I actually think that `--no-` is sort of a standard convention, used by `yarn`, `git`, `node` and others. I'm not saying that it's possible to add `--no-` to any boolean flag so maybe this yargs feature should be disabled in Gatsby but `--no-uglify` feels better than `--disable-uglify` to me.

[2018-04-04 08:07] m-allanson commented on #4830
What version of Firefox are you using?

[2018-04-04 08:15] m-allanson commented on #4626
@vinniejames There's no date but you can track progress over at https://github.com/gatsbyjs/gatsby/projects/2

[2018-04-04 08:38] pieh commented on #4818
@sachingvit Progress bar will be only visible in build. In develop we don't need to fetch resources for other pages, so page changing will not be delayed and therefore progress bar will not show

[2018-04-04 09:02] janjarfalk commented on #4830
The issue is re-creatable in Firefox 39 (Windows/OSX) and lower due to usage of `Array.prototype.includes`.

```TypeError: n.includes is not a function```

[2018-04-04 09:26] mrkre opened #4833 "[gatsby-plugin-sitemap] Excludes should use regex to exclude paths"
## Description

Sitemap plugin now takes an array of paths for exclusion when building the sitemap. However, there may be use cases where we want to exclude certain paths without specifying all the subpaths, e.g. all routes under `/parent`.

For now i am overriding serialize to filter out the pages. Happy to contribute to the code base if it's agreeable to use regex.

### Expected result

Passing

[2018-04-04 09:35] m-allanson commented on #4816
Hey @vojtechruz, a couple of questions - Did this start happening after changing any dependencies? Does the same thing happen when you run `gatsby build` locally?

[2018-04-04 09:50] andyfinch333 opened #4834 "SourceMaps don't work no matter what I try"
## Description

I'm trying to get SCSS SourceMaps working in our project but nothing seems to be working to get them enabled, I'm not sure what i'm missing here. To be honest i'm very new to webpack and have only used Gulp before, So I really have no Idea where i'm meant to enable them. Would anyone be able to take a look at my gatsby-node.js and tell me where i'm going wrong?

### Environment

*

[2018-04-04 10:10] m-allanson commented on #4109
Great! I'm glad it worked out :)

[2018-04-04 10:38] vojtechruz commented on #4816
It may be some change on side of Netlify as it did not help when I reverted my dependencies. It does not happen locally in gatsby develop mode.

[2018-04-04 10:45] vojtechruz commented on #4816
Also, sometimes I received error 'Unable to find element with ID' which should happen when html is minified and comments stripped but I checked and in netlify options this was disabled.

The error is described here:
https://www.gatsbyjs.org/docs/deploy-gatsby/#dont-minify-html

[2018-04-04 10:58] ShaliniGP opened #4836 "[gatsby-plugin-remove-trailing-slashes] plugin is not working"
gatsby-plugin-remove-trailing-slashes - Plugin is not working.

I have installed plugin using below command:
npm install --save-dev gatsby-plugin-remove-trailing-slashes

 I have updated plugin into "gatsby.config.js" as below:
{
  ...
  plugins: [
    ...,
    `gatsby-plugin-remove-trailing-slashes`,
  ]
}

after that m trying to test the page with "http://localhost:8000/page-2/", still after "pa

[2018-04-04 12:08] sachingvit commented on #4818
@pieh @ryanditjia @KyleAMathews  I have done all mentioned in doc and suggested by you but this plugin is not working in my case. I had created the build and change the network speed to 10kbps. But unable to see the progress bar.
This time I had created a new Gatsby project and installed only "gatsby-plugin-nprogress"

[Code Repo](https://github.com/sachingvit/nprogress-demo )

[2018-04-04 13:16] MarcCoet commented on #4799
+1
I also tried using the brackets AND the eq operator like so:
[code]

because when exploring QraphiQL it looks like that is what is needed but it always returns null.
I was starting to wonder if there was a problem with my source plugin but maybe not then...

Gatsby version: 1.9.233

[2018-04-04 16:08] shannonbux commented on #4392
@fk! @ThatOtherPerson and I are starting a googlesheet to fill with showcase data according to the examples in your .yaml file! Do you have ideas of how to get the "date updated" date easily? Also we're thinking of getting the description from either meta data for google searches or the "About Us" page on each site, depending on which is available / a better description. Any other ideas for how to

[2018-04-04 16:17] m-allanson commented on #4690
Hey @blargity 👋, spaces in filenames is something that Gatsby should handle - would you be interested in writing that up as a new issue?

[2018-04-04 16:25] KyleAMathews commented on #4637
How is this a breaking change?

Yeah exactly, we test if the string has a character that'll be changed and if so, append the hash.

[2018-04-04 17:52] pungggi commented on #4800
Indeed! I now checked my version too> 16.3.1 .

Ok my question arised because I wanted to use the new Fragments Syntax introcued with 16.2
`<>
</>`

But now realised, that this wont work with Babel 6 > https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#babel

[2018-04-04 17:52] #4800 closed

[2018-04-04 17:54] calebsylvest commented on #4816
### Problem

I'm having the same issue at the moment. Deploying to Netlify for the first time today. `gatsby build` works locally and with Surge. I'm _not_ using the `gatsby-plugin-netlify` but am using `gatsby-plugin-sass`. Also, on the styles side, I'm using Tachyons the classic Sass/CSS way, not using styled components or anything new-fangled.

### Considerations
My build log looks basically id

[2018-04-04 19:14] mpartipilo opened #4842 "[Gatsbygram] 404 link back to site breaks"
## Description

The link in the 404 page that is supposed to bring the user to a page in the site points to a non-existent url, leading to another 404.

### Steps to reproduce

Open a valid URL: https://gatsbygram.gatsbyjs.org/1632234281433883850/, once it loads, change the browser URL to something non-existent like https://gatsbygram.gatsbyjs.org/1632234281433883850asdf/.

### Expected result

Th

[2018-04-04 19:32] ajayns commented on #4672
I totally agree with this! More than the documentation itself, people would love to see real world use cases and examples that help them decide how to fit it in their own project itself.
@shannonbux

[2018-04-04 20:06] jweinstein92 opened #4843 "[gatsby-plugin-sharp] allImageSharp not getting all nodes"
## Description

I am having difficulties making sure the images I am trying to use are generated. Essentially, I have a bunch of pages created using `createPages` in `gatsby-node.js`. Through this process, I pass in a Javascript regex into the context. In the template file, I want to use that regex to find all images that match that regex and then display those images on the page. I am able to use

[2018-04-04 21:44] hcavalieri opened #4844 "Graphql data prop removes escaped characters"
## Description

When pulling data from JSON files, escaped characters are ignored in a connected component's `data` prop. When accessing its data from /___graphiql, however, the escaped characters are there.

### Steps to reproduce

I've added gatsby-source-filesystem and gatsby-transformer-json to fetch files from `src/data`, and in one of them, a property has line breaks - representend by `\n` -

[2018-04-04 22:00] #4844 closed

[2018-04-04 22:32] calebsylvest commented on #4816
### Update But No Solution

Spent way too much time on this today...

So, I've tracked it down to this: **the `styles.css` file is not being generated on build**

This is the case (for me, now) on my local and when publishing on Netlify.

1. On my local I run `gatsby build`. The script runs and creates assets in the `public/` directory, but that does not include a `styles.css` file. I can only ass

[2018-04-04 23:33] shannonbux commented on #4392
Ideas from a conversation with @davidluhr today (thanks, David! And feel free to clarify/add stuff here):
* What is the clickable tap target pointing to? Is the whole card clickable, or just the site's title? Where does the click link us to (the original site or Gatsby details page). We concluded it probably makes sense for the click to take users to the Gatsby details page, yet clicking on the si

[2018-04-05 02:36] coreyward opened #4845 "Unspecified WebpackError on Gatsby Build"
## Description

I'm running into an issue where`gatsby build` is failing on the second `Building static HTML for pages`  despite `gatsby develop` running. I've followed the advice in [the docs](https://goo.gl/yL9lND) regarding ensuring `window` and `document` aren't referenced outside of `componentDidMount` and `componentWillUnmount` to no avail.

The particular error message I'm getting is rather

[2018-04-05 02:52] AnalogMemory opened #4846 "[gatsby-source-wordpress] Issues with images and sharp errors"
Past week I've noticed some odd errors with the sharp plugin
While it's generating thumbnails I'll get 2-3 errors like this

[code]

After this one or more of the pages will have missing images.

It feels like it's an issue with the image/jpg but I can't figure out what the exact problem is. If i swap out the problem image with a image known to work the problem goes away.

### Updated
So it seems

[2018-04-05 05:34] rubengarciam commented on #3495
Hi all. Same issue here but in my case deleting _".cache"_ doesn't solve it (i.e., moving a content from published to draft)

[2018-04-05 07:33] grdp commented on #4753
I'm wondering if it's not better to use the body field and add images there. I just don't like the <p> and <span> created around the image in the body field.
What do you think?

[2018-04-05 07:41] rubengarciam opened #4847 "[gatsby-plugin-contentful] GraphQL - allow content-type queries without contents"
## Description

(I've tried looking around for a solution but haven't been able to find any, hence posting it here; apologies if the answer existed previously).

When querying non-standard data types in Contentful, there might be situations were some content might or not exist but you still need to query for it and validate a 0/null return. Currently, fields that do not have at least 1 populated i

[2018-04-05 08:14] harrisnguyen94 commented on #3495
@rubengarciam Hmmm. So the contents moved to Draft still so up? Normally deleting the cache should force Gatsby to fetch fresh data. Could you please do a quick test? After moving content to draft, slightly edit that content, and see if the status change is reflected correctly.

[2018-04-05 08:38] valse opened #4848 "[gatsby-plugin-google-analytics] Exclude option"
Hi,
I added a preview post page in our gatsby blog site as a client only page.
This page is not indexed and I'd like to exclude it from the google analytics pageview event too.

Like the "gatsby-plugin-sitemap" it will be useful add an "exclude" array option to blacklist pages from GA by url prefix or by a regex.

Thanks and go ahead!

[2018-04-05 09:52] chmac commented on #4637
Maybe "breaking change" is the wrong term. It's going to change some IDs, so a build with the previous version and this version will result in different output. It'll cause some cache burn. If this change lands in v2, then I guess it's a moot point.

I made a mistake in my last comment. The only paths that won't be a potential collision would contain numbers, lower case letters, and forward slashe

[2018-04-05 10:01] m-allanson commented on #4816
@vojtechruz thanks for the link to your repo. I cloned it and can confirm that running `gatsby build` omits styles from the built site. I was able to successfully build the site by clearing out both`node_modules` _and_ the `package-lock.json` file:

- delete `package-lock.json`
- delete `node_modules`
- run `npm install`
- run `npm run build`

Does that work for you?

@calebsylvest Can you confirm

[2018-04-05 10:15] m-allanson commented on #4847
Hey @rubengarciam, at the moment Gatsby can only structure content from the data available to it. There's not a built-in solution for this yet, however there's a proposed feature over at https://github.com/gatsbyjs/gatsby/issues/4261, and you may be able to find a workaround in https://github.com/gatsbyjs/gatsby/issues/3344 (particularly the linked issues).

[2018-04-05 10:41] m-allanson commented on #4845
Thanks for the detailed write-up! That is... not a very helpful error, you're right. It looks like the actual error message isn't being shown, just the stack trace?

I think that error message is [created around here](https://github.com/gatsbyjs/gatsby/blob/2e4911242141d147bb146362af708de84fa246de/packages/gatsby/src/commands/build-html.js#L32-L36). Could you do some digging and see if there's add

[2018-04-05 10:43] anantoghosh commented on #4535
I want to mention that using the browserlist config in `package.json` works.
Maybe this is related to https://github.com/postcss/autoprefixer#no-prefixes-in-production

[2018-04-05 11:34] AnalogMemory commented on #3733
@ryancoughlin Did you ever find a solution to making post content images available for gatsby to use?

[2018-04-05 12:23] adityapandey9 opened #4849 "Gatsbyjs deleting and adding files in .cache directory many times"
## Description

I have customized some option for gatsby-source-filesystem plugin. Set the path to the root instead of specific path where markdown file exist. Previously config file data were path --> `${__dirname}/src/posts` and  name --> `posts`. I have change it to path --> `${__dirname}/` and name -> `/`. And the query for the files

`{
 allFile(filter: {
   internal: {
     mediaType: {

[2018-04-05 12:43] jweinstein92 commented on #4843
It seems like deleting the `public`, `.cache`, and `node_modules` directories and then running `npm install` and `gatsby develop` solved my issues for some reason...

[2018-04-05 12:44] m-allanson commented on #4590
I've had a look at this and got as far as confirming the error using your above repro steps. But I haven't had a chance to dig any further yet.

I'd like to come back and work out a fix for this issue later. In the interest of getting your PR going again it may be worth writing the offending method with Promises instead of async / await, particularly as async / await isn't used anywhere else in th

[2018-04-05 12:47] rubengarciam commented on #4847
Thanks @m-allanson! Will have a look at them and see if any could work :) Cheers

[2018-04-05 12:52] m-allanson commented on #4849
Using `${__dirname}/` as the path is telling `gatsby-source-filesystem` to watch Gatsby's cache folder, which will receive writes from Gatsby as part of the build process. You'll need to change the path to `${__dirname}/src/` or create multiple paths as shown [in this example](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-filesystem#how-to-use).

[2018-04-05 12:53] alysonpaige commented on #4644
I saw the first newsletter went out yesterday, nice job! Need any help?

[2018-04-05 13:27] sebastienfi commented on #3733
Currently not possible because the image you are referring to is located inside HTML Contents. But it would be awesome to be able to do so, by parsing the HTML contents with ReHype on a new function that could be called `normalize.explodeHTMLToNodesWithRehype` that would be launched here : https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/gatsby-node.js#L62 We are

[2018-04-05 13:27] michaek commented on #2869
I believe there are two most common cases for dev server proxies:

1. `/prefix/path/*` -> `http://dest/prefix/path/*`
2. `/prefix/path/*` -> `http://dest/*`

While it is perhaps uncomfortably magical, nginx's `proxy_pass` supports these cases in a very terse form. If you define the proxy destination without a path (that is, `http://dest`) it covers case 1, and if you define the proxy destination w

[2018-04-05 13:37] rubengarciam commented on #3495
**Test 1** - post still showing up
1. Post unpublished and saved as draft
2. Restart gatsby dev server

**Test 2** - post still showing up
1. Post unpublished and saved as draft
2. rm -rf .cache/
3. Restart gatsby dev server

**Test 3** - post still showing up and edit is reflected
1. Post unpublished and saved as draft
2. Edited post in draft mode
3. Restart gatsby dev server

**Test 4** - post s

[2018-04-05 13:41] calebsylvest commented on #4816
Oh man, I don't know why or how, but that fixed all my problems... which I'm thankful for.

See the working site here: https://spacetime-gatsby.netlify.com/services

@m-allanson  Re: your question about my second comment. I didn't state that after wrestling with the build process and trying a number of fixes I ended up in a worse spot than I began–with all builds failing to compile styles.

@m-all

[2018-04-05 13:56] harrisnguyen94 commented on #3495
Hmmm. That's new. Thanks for the info @rubengarciam. Just one more thing. Make sure you're using the Content Delivery API instead of Preview API. Other than that, I'll give it a check. I remember hitting a rock last time and almost forget about this.

[2018-04-05 14:10] rubengarciam commented on #3495
Yup, all that config is ok. Looking forward to the update! Thanks

[2018-04-05 14:30] cvharris commented on #885
Is `extendNodeType` deprecated? Is the alternative recommended solution for this problem to use `setFieldsOnGraphQLNodeType`?

[2018-04-05 14:50] davidluhr commented on #4392
@shannonbux You're most welcome! Very excited to see this project coming to life.

A couple other thoughts from looking at the mockup:
- The "Showcase Header/Navigation" feels disassociated from the list of all Showcase Sites that these controls are tied to. I'd expect filtering, searching, and sorting to affect the list of 236 sites in real-time, but I'd miss these controls if I had already scrol

[2018-04-05 14:57] coreyward commented on #4845
Thanks for the guidance, @m-allanson. I was able to log the `stats.toJson().errors` and there is indeed an error message that isn't getting printed to the terminal.

Unfortunately, it looks like something I previously thought I solved coming back to bite me: I can't figure out how to import CSS without a relative path during build (hence the `build-javascript` changes above). Perhaps I need to app

[2018-04-05 15:08] coreyward commented on #4845
Okay, so I was able to get past this by adding in this `config.merge` call to the `build-javascript` and `build-html`/`develop-html` stages of the Gatsby `webpack.config.js`:

[code]

I have a limited understanding what these lines do, but I suspect the `postcss-import` is what we're missing.

[2018-04-05 15:33] KyleAMathews commented on #4637
It's simple to implement and understand. Is there a better way or reason not to do it this way?

[2018-04-05 15:52] adityapandey9 commented on #4849
Thanks, I am new in Gatsby. Your solution works fine.

[2018-04-05 15:54] chmac commented on #4637
I hear ya. The simplicity of the output is clear. Under "normal" situations, the IDs will definitely be more readable than the weird encoding stuff I came up with.

I see a few arguments against it.

## Collisions

The first 3 characters of a hash create the potential for collisions. It's unlikely, assuming a hex representation of the hash, 16^3, so a 1 in 4096 chance of collision. Low, but not im

[2018-04-05 16:04] m-allanson commented on #4849
Good stuff, thanks for following up!

[2018-04-05 16:04] #4849 closed

[2018-04-05 16:15] grod220 opened #4851 "Default font-size is non-standard"
Looks like the default css sheet uses a 112.5% default font size. This means all rem values will be relative to 18px instead of the normal browser default of 16px. Makes it just slightly off what sizes one expect if they've been working with the normal 100% value.

[code]
Further, there is a media query to resize this at very small screen sizes. Quite surprising if you didn't realize this was here

[2018-04-05 17:04] wvoelcker commented on #2825
@KyleAMathews thank you very much.  As newcomers to Gatsby, @ric9176 and I were trying to work out the best way to render a site with over 5000 pages; the gatsby-node method that you don't advise seemed natural to me for reasons of performance; we didn't find it in a tutorial.

[2018-04-05 17:33] KyleAMathews opened #4854 "Automatically add to transformer plugin pages that they won't work without a source plugin"
Issues like this come up every now and then https://github.com/gatsbyjs/gatsby/pull/4852

One really nice thing about the "info box" idea some of us have batted around for doc pages is that we could add contextual help to classes of pages e.g. transformer plugins all need source plugins so we could page that explains this and auto-add links to all transformer plugins.

[2018-04-05 18:04] KyleAMathews commented on #4637
We could pop that up to 4. But collisions are already very unlikely given people would have to name their pages nearly identically but in a way that the kebab-case causes the collisions. Which afaik, hasn't happened yet in the wild.

This is just for generating path names during the site build so none of this is executed in the browser.

[2018-04-05 18:09] KyleAMathews commented on #4848
Sounds like a nice idea! Happy to take a PR from you or others adding this!

[2018-04-05 19:59] sebastienfi commented on #4846
May it be a corrupted file ? I would open the image with an ASCII editor and check that the first bytes of data coincide with the file extension.

Are you on Unix ?

[2018-04-05 20:11] sebastienfi commented on #4830
Release is from 2015. Do we really want to include a polyfill for such an old chap ?

[2018-04-05 20:14] sebastienfi commented on #4814
On that $10 what would be the platform costs ?

Other than that question to solve, I'm 100% in.

[2018-04-05 20:24] giannis-dallas opened #4856 "componentDidMount() only works after page refresh"
## Description

I build this test site https://giannisdallas.netlify.com/.
If you visit the contact page you will notice a script missing. It will appear only after reloading the page.

is it a Gatsby or React issue?
I am using componentDidMount() to load the script. Here is the page code

[code]
You can [view my whole code here ](https://github.com/giannis-dallas/giannisdallas.com)

Thank you for

[2018-04-05 20:29] KyleAMathews commented on #4830
We could perhaps polyfill it 🤷‍♂️ it also doesn't work on IE. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes

I'm going to move the website over to Gatsby v2 pretty soon though which will automatically polyfill things like this based on the browsers we support so thanks for raising this issue @dwagnkorea! I'll close this now as it'll be fixed in a f

[2018-04-05 20:29] #4830 closed

[2018-04-05 21:33] grantmoran opened #4857 "Gatsby.js promo materials?"
I was wondering if there is anyone involved in designing or creating some simple promo materials for Gatsby. Personally I'd love to see some official laptop stickers released!

Is there a core project member that would be willing to link up with a service like [unixstickers.com](http://www.unixstickers.com/)? They handle production / shipping but a portion of the sales goes back to supporting the

[2018-04-05 21:46] sebastienfi commented on #4830
Gatsby V2 releases in a few days ? That's a big news @KyleAMathews ahahahah

[2018-04-05 21:53] chmac commented on #4637
True enough. Hash collisions would only be on clashing paths. Very unlikely, you're right.

I'm thinking we might need to generate IDs on the client. We don't today, you're right there. If we start sharding `data.json` we probably will. But the hash polyfill argument is a pretty weak one anyway.

Think you've sold me, the kebab case + hash makes sense. It's definitely more natural to read.

Any re

[2018-04-05 21:55] dannywils commented on #4856
`componentDidMount()` is firing and your script is being added to the head of the document. The issue is that the script you are referencing relies on the window load event to fire, which as you've discovered only fires on the initial page load.

To get around this you could manually fire a window load event after your `loadHireMe` call in `componentDidMount()`. For example:

[code]

That should w

[2018-04-05 22:00] ageorgie commented on #4814
We take 30% or $3 out of the 10. That includes payment processing costs on both ends. In the interest of transparency, we might also introduce a minimum payout amount (probably $10 or so) eventually but we're waiving that for now to see the data and verify that it's a problem.

Sound good?

[2018-04-05 22:01] KyleAMathews commented on #4857
@jlengstorf @kkemple @fk were chatting about putting some together I believe

[2018-04-05 22:02] KyleAMathews commented on #4830
Moving the website over :-) v2 release still a bit out. The more immediate milestone is moving the website over, releasing a beta, and making v2 the default branch.

[2018-04-05 22:03] KyleAMathews commented on #4637
That's a good point — might as well just add a hash to all of them. That'll make the logic even simpler. The simpler the implementation the better.

[2018-04-05 22:34] CanRau commented on #2825
maybe there could be process intensive tasks which could be better to do once in gatsby-node instead of the actual page?!

[2018-04-05 23:52] shannonbux commented on #4644
Hey @alysonpaige for sure! What kinds of things would you like to help with? And what collaboration environment do you prefer? We're drafting the emails in MailChimp currently. There are some more ideas above in this issue (googledocs, trello, etc.)

[2018-04-06 00:07] justinwhall commented on #4729
Did you figure this out?

[2018-04-06 00:16] AnalogMemory commented on #4846
That's what I thought at first and tried to narrow it down to where it works and then doesn't.

Any new images added and approx the last 15 images uploaded refuse to get processed it seems. I've  added the same "problem images" to a similar build and they all works just fine. Which makes me think it's some sort of config issue.

[2018-04-06 01:45] blargity commented on #4690
I didn't have time to make a repro case so I worked around it for now. If I get time I will. For the moment I'm more worried about #4799. 👍

[2018-04-06 03:56] sonapraneeth-a opened #4859 "[gatsby-plugin-google-analytics] callAnalyticsAPI not defined"
## Description

Unable to activate Google analytics plugin. Unhandled promise rejection
ReferenceError: callAnalyticsAPI is not defined

### Steps to reproduce

Clear steps describing how to reproduce the issue.

### Expected result

The debug console of the browser should have been clean

### Actual result

Unhandled promise rejection
ReferenceError: callAnalyticsAPI is not defined
Stack trace:
e

[2018-04-06 08:25] ajayns commented on #4754
@KyleAMathews Don't you think it would be a good idea mentioning this somewhere in the documentation? Because devs usually just check how good everything works using `gatsby develop` and then `gatsby build` seems to break everything just like that.

[2018-04-06 08:27] ajayns commented on #4738
@Jaikant Hey! Would love to help out and participate in one.

[2018-04-06 09:01] ajayns commented on #4631
I'd like to try and help with this if it's still not fixed @KyleAMathews @guayom

[2018-04-06 09:24] andyfinch333 commented on #4729
Unfortunately not, a mapping reference is added to the bottom of the compiled CSS and a sourcemap file is created, however it is empty. Banging my head on this for days.

[2018-04-06 09:33] DxCx opened #4860 "[gatsby-transformer-remark] Ast cache possible bug"
Hey!

I'm just revising the code, and i've found a possible bug with ASTPromiseMap,
so this is a suggestion to revisit it yourself ;)

https://github.com/gatsbyjs/gatsby/blob/362f78a3e16830770b68023e8e939992e47a3cb5/packages/gatsby-transformer-remark/src/extend-node-type.js#L200-L208

Shouldn't that be:
[code]

Note that `astCacheKey` is a function, while `cacheKey` is the original key used to sto

[2018-04-06 12:04] valse commented on #4848
#4862

[2018-04-06 12:05] #4848 closed

[2018-04-06 12:07] sebastienfi opened #4863 "[gatsby-source-filysystem] Video files created several times"
## Description

After I run `gatsby build` I found myself with a `public` folder of 2go for a website that has *only* 100Mo of assets. Looking at the generated files, I found a few hundreds of MP4 and WEBM files duplicated with the same contents.
We only have 1 MP4 and 1 WEBM assets, we ended up with hundreds of them duplicated.
Reproducing the error on OSX, we found *only* 2 duplicates not hundre

[2018-04-06 12:13] pieh commented on #4860
Your change seems fine, `cacheKey` is actually result of `astCacheKey(markdownNode)`:
https://github.com/gatsbyjs/gatsby/blob/362f78a3e16830770b68023e8e939992e47a3cb5/packages/gatsby-transformer-remark/src/extend-node-type.js#L98

So your change just remove unnecessary function call and use stored value, but doesn't really change anything. Is it actually bugged currently?

[2018-04-06 12:24] jamiepotepa opened #4864 "[gatsby-source-wordpress] - error when ACF feature is active but not used in a post resulting in an unexpected value in the api"
Hi

I've been migrating our current Wordpress site to take advantage of Gatsby but ran into an issue with ACF. I have a Relationship field added to our posts for some internal linking. If the field isn't used then the Wordpress api returns an empty string instead of an array. I get the below errors when running Gatsby.

 Error: acf fields must be an object with field names as keys or a function wh

[2018-04-06 12:24] alysonpaige commented on #4644
@shannonbux Trello or Google Docs is fine, I'm flexible so whatever works for you or the current workflow. If interested, there could be a section on Gatsby in the News or "In the Wild" which could link to external sources of either well polished Gatsby sites or articles or references that make positive mention of Gatsby. I can help with the newsletter format/creation or the aggregation of content

[2018-04-06 12:30] pieh commented on #4864
Try adding code snippet from here https://github.com/gatsbyjs/gatsby/issues/4461#issuecomment-371775563 to your wordpress `functions.php`

[2018-04-06 13:07] alampros opened #4865 "[gatsby-plugin-manifest] Automatic mode error: Cannot read property '0' of undefined"
## Description

When running the plugin with no `icons` property in the options (only `icon` for the source image), `gatsby build` throws a build error.

[code]

### Steps to reproduce

1. Configure `gatsby-plugin-manifest` as described in [Automatic Mode](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-manifest#automatic-mode)
2. Run `gatsby build`

### Expected result

The

[2018-04-06 13:25] shaunbent opened #4866 "[gatsby-plugin-sharp] npm install is broken by imagemin-pngquant dependency"
## Description

This issue is pretty well documented down the chain but `pngquant-bin` a dependency of `imagemin-pngquant` is currently breaking the `npm install` process. It seems to be mainly effecting Linux systems aka common build environments. As a result, in my case I am not able to build and deploy my site.

https://github.com/imagemin/imagemin-pngquant/issues/46
https://github.com/imagemin

[2018-04-06 13:35] jamiepotepa commented on #4864
Hi Pieh

I came across your answer and tried it earlier but it didn't work. When I checked my endpoint http://MY-SITE/wp-json/acf/v3/posts I was still receiving empty strings.

The overview from ACF docs states:
This filter is applied to the $value after it is loaded from the db and before it is returned to the template via functions such as get_field().

so not sure how you can get it to affect t

[2018-04-06 13:52] Jaikant commented on #4690
@sebastienfi the issues related to images as mentioned by @blargity and a few others like the one below.  https://github.com/gatsbyjs/gatsby/issues/4516

The most frustrating one was when the netlify plugin was causing gatsby build failures about a month back. The issue is closed now, so need to try it to see if it works.

[2018-04-06 13:58] kkemple commented on #4857
I've been gathering some assets we think could make good stickers! I haven't really thought about vendors, it looks like that site sells them for you? Is that how it works?

[2018-04-06 14:12] jorispz commented on #3758
Would it be terribly difficult to make option 1 work? From my (very limited) perspective it would seem the easier route, at the expense of a few requests more.

[2018-04-06 14:13] pieh commented on #4864
`acf-to-rest-api` plugin does use `get_field`/`get_fields` functions internally, so output is affected by those filters

[2018-04-06 14:31] pieh commented on #4864
Can you share your endpoint so I could check it locally (this might be some other issue)? Either here or privately on discord channel https://discord.gg/0ZcbPKXt5bVoxkfV via PM (my handle on discord is grajen3)

[2018-04-06 14:31] DxCx commented on #4860
Well, you use delete but pass function as a key, so nothing is really deleted..

[2018-04-06 14:39] pieh commented on #4860
Ohhh, sorry - you are right, I didn't notice that other change which is important! Could you create PR with change?

[2018-04-06 14:41] liqueflies opened #4868 "[gatsby-node] How to get request?"
## How to get request into gatsby-node?
Hi folks, thanks for awesome work.

I've two language and i need to redirect app based on browser language with `createRedirect`.
I can use ```req.headers["accept-language"]``` in any node app, `req` is representing the request.

How to get access to request?

### File contents (if changed):

my `gatsby-node`:

[code]

[2018-04-06 14:46] jamiepotepa commented on #4864
I've been working on this issue locally and trying all sorts but I've just added your filter code to our live server.

Endpoint: https://weareready.com/wp-json/acf/v3/posts?per_page=20. Post 18 is the first one that isn't using the advanced_linking, therefore, returning an empty string.

[2018-04-06 14:58] KyleAMathews commented on #4754
If you use the default html.js (which we strongly encourage you to) then this happens by default.

[2018-04-06 15:03] KyleAMathews commented on #4863
Weird bug... how are those files getting to the public directory? Nothing copies them there by default.

[2018-04-06 15:04] sebastienfi commented on #4863
@KyleAMathews `gatsby-source-wordpress` copy them to `.cache/gatsby-source-filesystem/`, then `gatsby-source-filesystem` copy them from `.cache/` to `./public/static/`

[2018-04-06 15:08] KyleAMathews commented on #4863
gatsby-source-filesystem doesn't copy anything unless you query the files is my point. What's your query?

[2018-04-06 15:09] sebastienfi commented on #4863
[code]

[2018-04-06 15:34] KyleAMathews commented on #4863
You want to search for the code handling this and debug what's happening?

[2018-04-06 15:34] pieh commented on #4864
This is really weird, this code snippet has proven to be working many times, so not sure why it wouldn't for You. Are you sure its `relationship` field? Maybe we just target wrong field type?

[2018-04-06 15:38] sebastienfi commented on #4863
I have too much other things in my hand to do that yet, it'll be days before I could get to that.
I just wanted to report the issue so that someone could anticipate.
I may have time over the weekend though. If you have an idea of where to debug more precisely, enlighten us 🗡

[2018-04-06 15:49] KyleAMathews commented on #4863
Here you go! https://github.com/gatsbyjs/gatsby/blob/aca9a8ede201cea018e44a7e650f078b55c38af3/packages/gatsby-source-filesystem/src/extend-file-node.js#L11

[2018-04-06 16:09] pieh commented on #4863
I can reproduce it locally - so it seems server doesn't handle etag/304 and we will redownload file everytime - I would assume this changes `contentDigest` of file which is used when creating publicURL link. Not yet sure why sometimes file become corrupted after copying

[2018-04-06 16:28] shannonbux commented on #4644
That'd be awesome! Email me at shannon@gatsbyjs.com from whatever email you'd like to use to collaborate and I'll invite you to the next newsletter draft :)

[2018-04-06 16:32] cborchert opened #4870 "[gatsby-plugin-cockpit] causing errors on build "The plugin "gatsby-plugin-cockpit@1.0.38" is exporting a variable named "collectionsItems" which isn't an API.""
## Description

When using the plugin `gatsby-plugin-cockpit`, I get errors on build:
[code]
The plugin works fine using `gatsby develop`.

### Steps to reproduce

Install `gatsby-plugin-cockpit`, following the description on the [gatsby site](https://www.gatsbyjs.org/packages/gatsby-plugin-cockpit/) or [npm page](https://www.npmjs.com/package/gatsby-plugin-cockpit):

`npm install --save gatsby-pl

[2018-04-06 17:01] KyleAMathews commented on #4870
This isn't a plugin we maintain so not something we can fix. It doesn't look like the plugin is on GitHub. Perhaps try using https://github.com/mpartipilo/gatsby-source-cockpit/blob/master/README.md instead?

[2018-04-06 17:01] #4870 closed

[2018-04-06 17:52] reccanti commented on #2794
We should close this since it was taken care of in this PR https://github.com/gatsbyjs/gatsby/pull/2883.

@fxfactorial You can updated the pruneLength in your graphql https://using-remark.gatsbyjs.org/excerpts/

[2018-04-06 17:54] fxfactorial commented on #2794
appreciate it!

[2018-04-06 18:15] pieh commented on #2794
Closing this issue, as this was already resolved as mentioned by @reccanti

[2018-04-06 18:15] #2794 closed

[2018-04-06 18:26] pieh commented on #4863
@sebastienfi if you will have time you can check https://github.com/gatsbyjs/gatsby/pull/4872, which partially helps with this issue (creating multiple copies in `public/static`)

and for corrupted files - it seems that `await fs.move()` (at least on windows) doesn't really work - immediate fs.stat after that will show different size than after few additional seconds, so I would assume we start co

[2018-04-06 18:53] kripod opened #4873 "Add an option to configure default image quality for ImageSharp queries"
Currently, the default quality of ImageSharp-generated images are too low for most of the projects I participate in. I would like to configure a global default for ImageSharp query parameters, because it may become tedious to always specify `quality: 92` in every single image query.

Issue #3837 is related, but it's about specifying a default locale for Moment.js date queries.

[2018-04-06 20:15] pieh commented on #4873
If anyone is interested in doing this - this could be done by adding optional config paramater to `gatsby-transformer-sharp` and using it instead of default `50` in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/extend-node-type.js

[2018-04-06 20:44] KyleAMathews commented on #4873
50 quality is often recommended as a good default as it's good enough quality while providing significant size savings. I agree that providing a way to override it globally for a project makes sense.

[2018-04-06 20:45] KyleAMathews commented on #4873
ImageMagick has many other uses other than generating thumbnails for the web so its default isn't necessarily what you'd want for the web.

[2018-04-06 20:49] kripod commented on #4873
@KyleAMathews Sounds fair, thank you for the explanation!

[2018-04-06 21:12] sebastienfi commented on #4863
@pieh same diagnostic here.
I tried updating to latest `chokidar` and it makes on Windows the problem less problematic (same number of duplicates as in OSX).
The fs event `update` is triggered before the file ended up its writing, so `gatsby-source-filesystem` imports the file which happens to be partial.

[2018-04-06 21:15] sebastienfi commented on #4863
I think #4872 is included in `gatsby-source-wordpress@2.0.74` just released by Kyle. Checking it now

[2018-04-06 21:54] KyleAMathews opened #4874 "Rename top-level "docs" directory to "content""
Anyone have a problem with this? It's bugged me for a while that paths to docs pages is `docs/docs/` :-)

Also because blog posts and other content are in there so "content" is a more neutral label.

[2018-04-06 21:59] sebastienfi commented on #4863
#4872 effectively impacts the bug in 2 ways :
1. on first build it reduces the number of duplicates somehow, but there is still duplicates.
2. on second build, the file is already downloaded so the "duplicates" bug doesn't happen.

[2018-04-06 22:03] will-sparger opened #4875 "Adding Firebase Hosting Scripts"
## Description

I'm not clear how to add the config snippets for Firebase hosting to my project. I searched the docs as well as googled approaches but wasn't able to find info that clarified the solution for me.

<img width="777" alt="firebase config snippets" src="https://user-images.githubusercontent.com/23318203/38446085-cdfca8b2-39bb-11e8-9032-f4cc51f7caf4.png">

In a standard React app you ad

[2018-04-06 22:31] pieh commented on #4875
Do you want to use any firebase services in your website or just their hosting? If just for hosting - check this blog post - https://heygrady.com/first-launch/ it seems to have instructions how to setup deployment

[2018-04-06 23:26] pieh commented on #4863
@sebastienfi another PR, this time for corrupted files - https://github.com/gatsbyjs/gatsby/pull/4877

[2018-04-07 00:05] zetdotcom commented on #2753
Hi guys, I know the topic is closed, but when I was looking at this it didn't provide me with the answer (maybe it's just me). I have done a little blog post on how to trigger Gatsby build on new Wordpress post.
However, the site needs to be hosted on Netlify (which I find awesome so why not use it).

[gatsby-wordpress-netlify-auto-update](http://zetlearning-co-uk.stackstaging.com/2018/04/07/gatsb

[2018-04-07 00:49] giladronat opened #4878 "[Docs] Minor clipping of sidebar bottom margin w/ banner"
Super minor visual issue: many (all?) pages that have a sidebar and display the banner of Kyle’s workshop have an _issue displaying the bottom links in the sidebar_.

I have no idea what CSS magic is required to fix this, so I’m posting the issue.

### Actual

See bottom left. Sidebar scrolled all the way down. Latest Safari on macOS.

![screen shot 2018-04-06 at 17 45 07](https://user-images.gith

[2018-04-07 03:02] cf73 commented on #2258
@KyleAMathews one additional issue potentially with using Gatsby it seems is the likelihood of 503 (denial of service) responses from the servers where the API is hosted, due to the nature of Gatsby's sucking-up-the-whole-api-at-once approach. I am currently experiencing this with GoDaddy hosting; when I run 'gatsby develop', it seems the maximum concurrent connection limit is instantly reached. I

[2018-04-07 03:04] rozenmd commented on #2258
@cf73 have you tried pointing your GoDaddy DNS to something more apt for Gatsby like Netlify?

[2018-04-07 04:10] cf73 commented on #2258
@rozenmd to clarify, the drupal headless CMS is hosted on GoDaddy; the Gatsby site is still running locally. so unless I've misunderstood you, i don't see how Netlify could help?

[2018-04-07 07:37] DxCx opened #4882 "[Question] Extend node on client side"
Hey!

I there any way today to define client side graphql properties? (Or, resolvers)
For example, i have on server side some node which contains ‘values’
And i want (on client side object, after query) have 1 more field named sum (getter) which is actually a function defined on client side which gets the node and sum the values..
(My real case is abit more complicated then that)

Is this possible

[2018-04-07 08:27] pieh commented on #4882
Not possible currently with client graphql - gatsby run graphql stuff only during build - outputted site have no idea about graphql at all - its all json objects there with results of the queries. Having something like this in client runtime might be a little bit heavy - but not sure how would you see it and what it would involve - could you elaborate?

[2018-04-07 09:25] vnwarrior commented on #2586
@pieh - over last few days, I have been trying this out. I found a repo https://github.com/austintgriffith/cryptogs/blob/dca01f882904b1ed8eb2ec5302aa57a2df116bbc/gatsby-site/gatsby-node.js that does this .
I had two questions and I hope you wouldnt mind answering it:

there is no matchpath for /stacks -
 1. https://github.com/austintgriffith/cryptogs/blob/dca01f882904b1ed8eb2ec5302aa57a2df116bbc/g

[2018-04-07 10:32] DxCx commented on #4882
Even if that happen, all i need is the field to be evaluated on client side.. are you using apollo client today? Or?
Basiclly i have ast on graphql server which i want to render on client

[2018-04-07 10:54] pieh commented on #2586
I'm not familiar with this page, but `/stacks` page doesn't seem to have or handle any path params - matchpath is only needed if you want to handle dynamic params like `/path/:param` - if you don't need param then matchpath is not needed.

I'm pretty sure you shouldn't install react-router separately.

[2018-04-07 11:06] pieh commented on #4882
We don't use any sort of graphql client - graphql queries are run locally during the build and results are saved as plain json files.

You can just do whatever you need to do outside of graphql, right?

[2018-04-07 13:10] caki0915 commented on #4865
+1 on this one. I get the same error.

[2018-04-07 14:05] DxCx commented on #4882
yeah yeah i'll take alook at the internals, thanks =)

[2018-04-07 14:05] #4882 closed

[2018-04-07 14:34] pieh commented on #4865
@caki0915  There is PR with fix for this #4867 , but in meantime you can downgrade to `gatsby-plugin-manifest@1.0.15`

[2018-04-07 14:42] sebastienfi commented on #4863
@pieh  #4877 has no impact on this bug.

[2018-04-07 14:48] cf73 commented on #2258
@pieh yes i saw the use of better-queue, sounds like a decent solution. afraid i'm not up to doing it myself though -- i stumbled here trying to resolve the 503 error for a big client project i'm working on, for which i'd love to use Gatsby. deadlines are tight, so if there isn't a work around for this in the next few hours or at most next day or so, i'm going to have to look for another approach.

[2018-04-07 14:48] pieh commented on #4863
Do you still get corrupted files in `public` with gatsby-source-filesystem@1.5.29 ? After this fix I couldn't reproduce corrupted files anymore, so maybe my reproduction site just is not enough to reproduce this anymore and I need something more complex.

Or you still have duplicates? Again I couldn't reproduce it anymore too with updated `gatsby-source-wordpress`

There's not much more I can thin

[2018-04-07 14:52] pieh commented on #2258
@cf73 I feel you about deadlines - if you could share config for your drupal site, so I would have site to test changes against (either publicly here or privately on discord - https://discordapp.com/invite/0ZcbPKXt5bVoxkfV with PM to me - my handle there is grajen3), I would see if I can do it myself today

[2018-04-07 16:02] KyleAMathews commented on #3727
@vnwarrior why don't you start working on a PR? Happy to help you through the process! Open source happens because someone needs some code so they write it and contribute it and it sounds like you have a great need for it.

[2018-04-07 18:14] mtheoryx commented on #25
I'm doing something similar to what @abrad45 recommended. Except I don't exclude the "draft posts" from my query, I filter them after that promise resolves based on my NODE_ENV.

I want to see all posts in my dev environment, but don't want to generate them when I build the static site for production. Here's my example, if you're curious:

[code]

[2018-04-07 18:44] will-sparger commented on #4875
Thanks for the reply Michal.

Just looking to use hosting right now. I reviewed  https://heygrady.com/first-launch/  a couple of times actually and it does not address adding the config info I mention in my original post. Additionally, he was using an older version of Gatsby that doesn't align with how it appears to work now (v1.0.0). Specifically:

<img width="651" alt="deploy guidance" src="http

[2018-04-07 18:44] giannis-dallas commented on #4856
thank you @dannywils for the input.
Always nice to learn something new.

[2018-04-07 19:28] #4865 closed

[2018-04-07 19:29] KyleAMathews commented on #4865
Fix is published to NPM so update to the latest gatsby-plugin-manifest.

[2018-04-07 19:35] KyleAMathews commented on #4878
Ugh, adding that banner was way trickier than I expected. Lemme fix this.

[2018-04-07 19:43] pieh commented on #4875
For hosting you shouldn't need to include those firebase init scripts - these are to use their services (database, auth, etc) in your web app.

You should have index.html after succesful `gatsby build` (that is - if you have index file in your project)

[2018-04-07 19:53] #4878 closed

[2018-04-07 19:53] KyleAMathews commented on #4878
Fix on its way out, thanks for the detailed bug report!

[2018-04-07 20:03] KyleAMathews commented on #4866
Yeah, that seems like a reasonable fix. Is there any big differences between `pngquant-bin` v3 and v4?

[2018-04-07 20:04] KyleAMathews commented on #4859
@sonapraneeth-a your `gatsby-browser.js` has the call to `callAnalyticsAPI`. Remove that and you should be fine.

[2018-04-07 20:04] #4859 closed

[2018-04-07 20:36] pieh commented on #4875
Glad you got it working.

I'll close this issue as problem was resolved :)

[2018-04-07 20:36] #4875 closed

[2018-04-07 23:29] gilesbutler commented on #1494
Just came across this issue whilst searching for a way to add multiple layouts.

Not sure if Gatsby has been updated since @jrop's helpful answer. But I found [https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#choosing-the-page-layout](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#choosing-the-page-layout).

**gatsby-node.js**
[code]

The key lines are here...
[code]
It ass

[2018-04-08 05:00] blargity opened #4888 "GraphQLParser errors unhelpful"
## Description

While working on a site, we will sometimes create invalid GraphQL for various reasons. The current error message looks like this:

[code]

### Steps to reproduce

Repro: https://github.com/blargity/gatsby-graphql-error-demo

Create a GraphQL query that references a non-existent property, run `gatsby build` or `gatsby develop`.

### Expected result

The error message should give me

[2018-04-08 11:28] jquense commented on #4888
Thanks for reproduction, it'll help a lot. I'm suprised there is still a vague one like this somewhere, generally we do show the file, query and the exact line that's wrong and why. We must of missed a place so the repro is helpful!

[2018-04-08 11:53] pieh commented on #4888
This seems to be regression after https://github.com/gatsbyjs/gatsby/pull/4618 it added capturing parenthesis but didn't adjust indices later used for passing error messages. Will submit PR with fix soonish

[2018-04-08 12:25] adityapandey9 commented on #3727
@vnwarrior You can use set the watcher in the /jobs folder using gatsby-config.js. Here is an example

plugins: [
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        path: `${__dirname}/jobs/`,
        name: 'jobs',
      },
    },

It will monitor the folder if new files or folder added or modified or deleted it will update

In every .md file add another frontmatter attribut

[2018-04-08 12:29] vnwarrior commented on #3727
@adityapandey9 can i request you to put your code inside the <code> formatting ?
it is not visible properly.

Also - it is not a constantly running build. remember, im trying to make it as simple for non coders to add/remove jobs. so the HR manager (who knows very little coding) has to create a new folder, put some markdown in it and that's it... a new job should come on next build.

does your cod

[2018-04-08 14:15] adityapandey9 commented on #3727
@vnwarrior Yes, it does. You need to have a specific format for the description.md file and it should be same for all jobs. Below is an example

[code]

Between --- is what we call frontmatter. You need just this or more complex as per your need. But format should be same. Your HR can put the description for the job below the last ---.

[2018-04-08 15:34] cricrio commented on #4820
I disabled the boolean negation feature of yargs in https://github.com/gatsbyjs/gatsby/pull/3755 when I work on the no-color flag. It's strange that this problem happened.

[2018-04-08 15:57] KyleAMathews commented on #4820
What's weird also is it only seems to happen on windows — I can't reproduce the problem on my mac.

[2018-04-08 16:13] #4888 closed

[2018-04-08 16:55] ryanditjia commented on #3318
Hey guys, I made an anchor smooth scroll component using browser’s built-in smooth scroll behavior. One caveat is Safari doesn’t yet support it.

https://gist.github.com/ryanditjia/f66dd1d0e7dfd678a18dc4a15de8531d

Give it a try and let me know if it works for you.

Technique adapted from: https://pawelgrzybek.com/page-scroll-in-vanilla-javascript/#a-future-solution-using-scroll-behavior-smooth

[2018-04-08 17:13] cricrio commented on #4820
Same on linux. I can't reproduce it. The boolean negation is disabled in the package.json. It's possible to disable it at the creation of the parser. https://github.com/yargs/yargs-parser#configuration.
Maybe it will fix this problem.

[2018-04-08 18:50] KyleAMathews commented on #4820
Hmm why don't we tackle the actual problem then — @borekb could you file an issue with yargs to try to figure out why `--no-uglify` isn't working?

[2018-04-08 21:17] borekb commented on #4820
Agree that if it's indeed an upstream bug, it should be reported there. However, I'm not sure it is (feels quite weird that string parsing should be OS-dependent). I need to find some time to build a repro for the `yargs` issue, and generally to look more deeply into what's going on in Gatsby. So if you don't mind leaving this issue open for a little longer, I think I should be able to get to it i

[2018-04-08 22:40] rstacruz opened #4892 "[gatsby-link] Make it usable outside Gatsby"
## Description

If you try to use `<Link />` outside of Gatsby (eg, when running tests), it fails because the component tree doesn't have the context injected by Gatsby:

[code]

It'd be nice if `<Link />` will fallback to a common `<a href=...>` in the absence of this context.

## Example

If you have a component (eg, `MyMenu.js`) that uses gatsby-link:

[code]

And have a test file that renders

[2018-04-08 22:47] rstacruz commented on #4874
Hey Kyle! This seems kind of strange to me, because now there isn't a top-level `docs/` where I'd expect one to be. It's also very strange to have both `www/` and `content/` in the top-level, as those 2 words seem functionally-equivalent.

(This is mostly me playing devil's advocate, it's not that big of a deal, really.)

Maybe naming the directories as `www.gatsby.org/` and `docs.gatsby.org/`? Th

[2018-04-09 02:23] daydream05 opened #4894 "[examples/gatsbygram] Adding a page inside a modal"
In [gatsbygram](https://github.com/gatsbyjs/gatsby/tree/master/examples/gatsbygram), I noticed that the way you insert a page into a modal is through the layout. And in this layout, you check if the page' pathname is not any of the following.

[code]

However, as the app grows there would be a lot more pathnames and it would be cumbersome to add every single one of them. Is there a better way to s

[2018-04-09 04:20] jjprevite opened #4895 "Google Fonts URL missing 'https:' in link after running `gatsby build`"
## Description

There is an issue when running `gatsby build` where the Google Fonts are not loaded correctly because the `href` attribute is missing the `https:`:
<img width="1049" alt="screen shot 2018-04-08 at 8 54 21 pm" src="https://user-images.githubusercontent.com/3806031/38478893-9a80da6a-3b70-11e8-899c-69dd6026fd4e.png">

I am not sure if this is an error with the `gatsby build` process o

[2018-04-09 04:55] dwagnkorea commented on #4830
I determined that my the version where I saw this issue is Firefox Version 35.0.1.

I would propose that Browser and Browser Version should be questions in a bug report, since that appears to be important in cases such as this one.

Well, perhaps you wonder why I am using version 35?  The reason is that 35 is the highest version supported by FreeBSD Version 10.3.  I made many attempts to upgrade i

[2018-04-09 05:44] dustinhorton commented on #4535
Good theory, but I'm not seeing a change when going between the config locations.

[2018-04-09 09:36] jamiepotepa commented on #4864
Hi Pieh, To confirm I am using the relationship field. I've added an additional text field with some dummy text which is showing at this endpoint: https://weareready.com/wp-json/acf/v3/posts/3402. In my functions.php I have the below code but as you can see I am still getting an empty string and my default text.

[code]

[2018-04-09 10:41] thebarty commented on #925
Hi guys,

is anyone using scroll-to-anchor animations?

I am having weird rendering-issues with https://www.npmjs.com/package/react-anchor-link-smooth-scroll

[2018-04-09 12:05] rockmandash opened #4896 "gatsby-link navigateTo didn't match prefix"
if I want to navigate to /about page.
I have to do
`navigateTo('about')`
 instead of
`navigateTo('/about')`
otherwise client router won't match

[2018-04-09 12:08] pieh commented on #4864
This seems like filters you add have no effect - this might be either:
- your functions.php is not ran at all
- maybe your acf version doesn't support these filters - what version do You use?

Maybe try doing `var_dump(get_field('advanced_linking', 3402));` in one of your wordpress pages to see if it will show empty string or null

[2018-04-09 16:55] martynhoyer opened #4898 "[gatsby-image] Scale image to height of container"
I'm not sure if this is possible and my brain is now fried looking at it, so I'm asking the question here.

I want to load a gastby-img `<Img>` inside a modal (lightbox-style) but have the modal dimensions (and therefore, the image) not exceed the current viewport. The modal styles are fairly straight forward, but when I put the image in there, it can break out of the container, because of the abs

[2018-04-09 17:02] martynhoyer opened #4899 "[gatsby-plugin-sharp] Access to image EXIF/metadata?"
This is just a general question - apologies if it's not the appropriate place to ask.

I'm looking at using Gatsby to build image galleries and would quite like to hook into the EXIF data for things like captions/copyright/potentially geodata/etc.

A quick skim of the Sharp docs suggests you can get access to that stuff and I was wondering if the gatsby plugin could be modified to retrieve that, o

[2018-04-09 17:28] ajrussellaudio opened #4900 "[gatsby-transformer-remark] Not prepending `pathPrefix` to relative links in Markdown"
## Description

`gatsby-transformer-remark` is not prepending the `pathPrefix` to relative links in Markdown.

I've read through #3316 which seems to lead to a fix in PR #3823 but it's still not happening for me.

### Steps to reproduce

I'm working from [`gatsby-starter-blog`](https://github.com/gatsbyjs/gatsby-starter-blog).

I have a Markdown file which only contains the frontmatter and a link

[2018-04-09 17:55] pieh commented on #4899
It's ok to ask here :)

This would be great candidate to create separate plugin - maybe `gatsby-transformer-exif`? It then could use `sharp`, `node-exif` or whatever other dependency (if this would be in separate package we are not tied to `sharp` then).

I can guide you if you want to create this plugin.

[2018-04-09 19:59] shaunbent commented on #4866
Looks like v4 introduces a dependancy on Node V4 as well as this commit which is the one that seems to be causing everyone problems: https://github.com/imagemin/pngquant-bin/pull/75

[2018-04-09 20:58] jamiepotepa commented on #4864
The functions.php is being called as the site is a custom build full of other code. I have worked out the issue though. It seems that the filters I am using:
[code]

[2018-04-09 21:51] cwahlfeldt opened #4903 "[gatsby-source-wordpress] not getting all ACF fields when theres too much data"
### Description

I'm noticing an issue with the gatsby-source-wordpress plugin. It seems to be failing silently for some ACF fields. I'm able to initially see all the data attached to a custom post type ("Product"), but when I start to add content to multiple products, some of the data goes missing and I cant seem to see the fields again in graphiql or running queries during a build. Verbose outpu

[2018-04-09 21:55] pieh commented on #4864
hmm this is weird - this should be called everytime `get_fields` is called. ACF make use of wordpress cache but it is not persistent by default - do you use anything that takes takes care of wordpress cache? it might suggest that this thing doesn't honor `wp_cache_add_non_persistent_groups` function

[2018-04-09 22:53] pieh opened #4904 "source plugins: create or find package for managing http requests"
source plugins can implement this feature on their own, but this seam like common problem we could solve with utility package that could handle:

- limiting maximum number of concurent requests
- rate limiting
- handle automatic retry after 503 response

this should be configurable per source plugin entry in `gatsby-config.js` with sane defaults

ref: https://github.com/gatsbyjs/gatsby/pull/4884

[2018-04-09 22:59] KyleAMathews commented on #4894
Where would you like the source of truth about whether a page should be in a modal or not?

[2018-04-09 23:07] KyleAMathews commented on #4895
This is a "protocol-relative URL". We use it because we don't know if the person will be loading google fonts from https or http and this works on both. Not sure why you're fonts aren't loading but this isn't the problem.

Another option is to just use typefaces and skip google fonts altogether — https://github.com/kyleamathews/typefaces

[2018-04-09 23:07] #4895 closed

[2018-04-09 23:10] KyleAMathews commented on #4874
Yeah, that's a good point — `docs` is a very common top-level directory.

Though actually this is a good reason to rename it because people keep trying to read the Gatsby docs on GitHub — which we don't want — and submit PRs "fixing" links, etc. that don't work on GitHub but do on gatsbyjs.org :-)

`www` is pretty ambigious for the website code — perhaps yeah just naming that directory gatsbyjs.or

[2018-04-09 23:12] KyleAMathews commented on #4892
Hmmm yeah. What do people normally do when testing components that rely on context?

[2018-04-09 23:13] KyleAMathews commented on #4820
@borekb could you try @cricrio's suggestion locally as well to see if it fixes the problem?

[2018-04-09 23:51] jjprevite commented on #4895
Ah okay - got it, that makes sense. Thanks for the quick response! @KyleAMathews

[2018-04-10 00:18] coreyward opened #4906 "[gatsby-source-contentful] TypeError: getNode is not a function"
When a top-level Contentful resource queried for in `gatsby-node.js` (used to call `createPage`) is deleted from Contentful and `gatsby develop` is restarted, the following error is thrown:

[code]

This corresponds with these lines of the `gatsby-source-contentful` plugin:

[code]

I was able to resolve the issue by removing the `.cache` folder and restarting. I don't know what's “upstream” of th

[2018-04-10 00:53] pieh commented on #4906
Hmm, `getNode` is not action creator and shouldn't be extracted from `boundActionCreators` - it should be extracted from first paramater of `sourceNodes` exported function (same as getNodes is) - do you feel like you could create PR with fix? Here's source for this - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/gatsby-node.js#L32-L42

[2018-04-10 00:56] coreyward commented on #4906
Just to make sure I understand, we're looking for this, correct?

[code]

[2018-04-10 01:00] coreyward commented on #4906
Just looked at the history for that file and it looks like it was previously there, but Kyle swapped it out for `getNodes` when updating some unrelated code in the same function, so I'm going to assume that's correct.

[2018-04-10 01:48] coreyward commented on #4906
Fixed by #4907

[2018-04-10 01:48] #4906 closed

[2018-04-10 03:06] daydream05 commented on #4894
If i'm going to have multiple pages that would likely use a modal. (i.e. multiple album pages), I was thinking of housing the source of truth on the page that activated the modal. So then when i close the modal, it would go back to this page without having to hardcode that page's link to the  modal component.

[2018-04-10 04:10] rockmandash opened #4908 "Split build output folder and source folder"
Split build output folder and source folder.
For example, if I want to include some file in production but completely without touching it, this will be so helpful.
If I want to have "data.json" in production. I can do like this.

src
index.js --> I am going to fetch data1.json in my own server
--The_Folder_Webpack_Wont_Touch_But_Will_ShowUp_In_Build_Folder
----data1.json
----data2.json

Later in b