[2019-09-09 03:02] sidharthachatterjee commented on #14282
@kimbaudi Incredible detective work on this! I agree that we should go ahead and add the aliases for the valid cases. Let me go ahead and merge your PR in!

In the mean time, anyone want to PR the third party repos to clean up the invalid cases? 😛

[2019-09-09 03:03] #14282 closed

[2019-09-09 03:06] kimbaudi commented on #14282
@sidharthachatterjee - I've already created PRs for 2 of the 4 third-party repos (see [here](https://github.com/vtellier/gatsby-plugin-intl-url/pull/3/files) and [here](https://github.com/danielhusar/gatsby-theme-spring/pull/6/files))

As for the remaining 2 repos, I could only identify the error but have no idea how to fix it.

[2019-09-09 03:13] jonniebigodes commented on #17234
@mathiasha i've picked up on your issue and it seems that i have a solution for your case.

Here are the steps i took to solve your issue.
- Cloned the repo you provided.
- Installed the dependencies.
- Ran `yarn build && yarn serve` and it seems that the issue persists, it is defaulting to the inbuilt query. Basically the one implemented [here](https://github.com/gatsbyjs/gatsby/blob/master/packa

[2019-09-09 03:43] maheshkumar2150 opened #17498 "onCreatePage is not triggered"
I have created 10 pages with the help of gatsby-node.js

[code]

I have fifteen pages now.

in gatsby-node.js

i added the following code.

[code]

In console,

{ internalComponentName: 'ComponentDev404Page',
  path: '/dev-404-page/',
....

 { internalComponentName: 'Component404',
  path: '/404/',
.....

{ internalComponentName: 'ComponentIndex',
  path: '/',
.....

{ internalComponentName: 'Comp

[2019-09-09 04:54] wardpeet commented on #16097
Is it possible to share a repo or host a `gatsby build --no-uglify` somewhere so I can try to debug it.

Thanks for the feedback!

[2019-09-09 05:16] aieoscar commented on #17440
Fix by PR #17445

[2019-09-09 05:16] #17440 closed

[2019-09-09 05:32] josephkandi commented on #16097
I have added you to the peruzal-learn repo. You will notice the issue when navigation from the sign-in page to the dashboard. Let me know if you need the test credentials for firebase.

[2019-09-09 05:40] lucashfreitas opened #17499 "How to Cache data from external resources such as WordPress & Contentful"
Hello,

Sorry in advance if this is a duplicate, but I did not find any information about this. I had a look at [gatsby caching documentation]( https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/caching.md) but did not find anything related to cache data from external sources/API.

I have found this issue #6266 but was just wondering if anyone found a workaround for that.

**The problem:**

[2019-09-09 06:00] Dajamante commented on #17439
Sorry, in hastiness I wrote wrong.
This is what is in my css file:
[code]

[2019-09-09 08:12] maheshkumar2150 commented on #17498
Is this really a bug or am i making any mistake?
I think gatsby is not stable yet.

I have to stick with create react app.

[2019-09-09 08:24] jonniebigodes commented on #17498
If you don't mind waiting a bit i'll create a reproduction based on what you need And a detailed explanation on how to achieve it, do you mind waiting a bit longer?

[2019-09-09 08:26] rparree opened #17501 "gatsby-transformer-remark to load HTML and not markdown. (question)"
Hi,

I am using a mix of sources: markdown and files with partial html.  At this moment i am also using the remark transformer for the raw html files. But it is causing some problems with empty lines and indententation (it is interpreted as a code block). For examle beow

[code]

I was thinking  to write my own transformer that just loads the HTML, but that would not allow me to use the many other

[2019-09-09 08:55] axe312ger commented on #16590
I sometimes have this issue as well, just my sites are not that huge so I can wait when this happens...

Stil... what does @gatsbyjs/inkteam think about changing the cache dir for `createRemoteFileNode ` to `node_modules/.cache/...`?

[2019-09-09 09:01] maheshkumar2150 commented on #17498
Sure.
I want to stick with gatsby in my future works. It is easy and beautiful.
Thank you for looking at this issue and helping

[2019-09-09 09:15] LekoArts commented on #17498
What's your usecase for the `onCreatePage` API? So what do you want to achieve?

You can create client-only pages this way: https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/

[2019-09-09 09:24] LekoArts commented on #16590
That's something for v3: https://github.com/gatsbyjs/gatsby/issues/5880

[2019-09-09 09:28] maheshkumar2150 commented on #17498
[code]

I would like to have similar setup for my different links.

But i have these in my gatsby-node.js
[code]

It does not print the pages which i created using

[code]

So how can i have

[code]

to

[code]

[2019-09-09 09:57] jessepinho commented on #11406
Note that @pieh answered the question of "why do files need to be watched while building for production?" over in #15843:

Looks like this issue should be taken up with chokidar first to add a watch option, then a followup issue created for Gatsby to implement the watch option.

[2019-09-09 10:23] antoinerousseau commented on #8020
Just ran into this too, the current behavior is indeed an append and not a merge as it should be.
I can make a PR if you think it should be modified?

[2019-09-09 10:27] ndotmdot commented on #12237
I had the same issue. Running the WP-Optimize plugin with default setting and `gatsby clean `afterwards solved it for me

[2019-09-09 10:31] nguyenami opened #17505 "[bug] gatsby-source-hacker-news: cannot read property 'id' of null"
## Description

The plugin threw an error while running the sourceNodes lifecycle as it can't read property 'id' of null.
The plugins was worked as intended yesterday, not sure what when wrong as I didn't edit anything out.
I had a basic query so there isn't anything that could cause a problem. I tried to delete cached and node_modules and run `npm install` but the problem still persisted .
[code]

[2019-09-09 11:02] IrregularShed commented on #11026
@robinmetral Great, I'll give that a go when I get a chance

[2019-09-09 11:34] domLocalHeroes commented on #17131
Experiencing this issue too, downgraded `gatsby-plugin-sitemap` to 2.2.6 and that seems to have fixed it

[2019-09-09 12:09] pieh commented on #17498
We have mechanism in Gatsby to prevent calling `onCreatePage` for pages created by the same gatsby-node.js to avoid infinite loops/callback

Most common use case for `onCreatePage` is something like:
[code]

which would actually cause infinite loop if we didn't have that (as `createPage` call would trigger another `onCreatePage` and so on - that's because user checks just `page.path.match` which w

[2019-09-09 12:15] pieh commented on #17498
Following up on my previous comment - we are open for better mechanism to avoid infinite loops. First idea that comes to mind is instead of just not calling `onCreatePage` for same gatsby-node file, is to check if new page is already exactly the same as one we already have and short circuit then - but it might not be as straight forward - implication of such change need to be researched

[2019-09-09 12:29] Elya29 commented on #11406
thank you so much!! It worked for me :D

[2019-09-09 12:39] maheshkumar2150 commented on #17498
I understand the point you mentioned. You are right. I thought that was a bug. We can't call onCreatePage for gatsby-node.js createpages.

[code]

Can we match index.js here? So i can create the custom reach router routes on the index page itself.

[2019-09-09 12:42] #13218 closed

[2019-09-09 12:45] amcsi commented on #10586
In the end I've opted for @universse's solution here to not render any nav items in offline mode: https://github.com/gatsbyjs/gatsby/issues/11738#issuecomment-488660043

I believe this is the best solution, because:
* Client-side of course the routes work and are not affected by this change.
* Server-side continute to be statically rendered with the right active classes, and also are unaffected.
*

[2019-09-09 13:07] dougwithseismic commented on #15317
What needs doing right now to move this forward? The unwanted behaviour is that when opening a url without a trailing slash, the browser performs a 301 redirect to the trailing slash url

Whether locally hosted or on netlify, regardless of whether 'gatsby-plugin-remove-trailing-slashes' is used, a 301 redirect is performed.

Visit domain.com/example-url

Result: domain.com/example-url

[2019-09-09 13:10] pieh commented on #17498
We do something like this for index page in https://github.com/gatsbyjs/gatsby/blob/master/examples/client-only-paths/gatsby-node.js which seems to be working ( https://client-only-paths.netlify.com/ )

[2019-09-09 13:12] pieh commented on #17498
I think regex you use might be not valid, using `/^\//` seems to work tho

[2019-09-09 13:43] eriktiekstra opened #17506 "Native loading="lazy" lacks dimensions inside gatsby-image."
## Description

I am using the fluid queries within gatsby-image. When using the default `loading="lazy"`, I get the following warning inside the console:

<img width="577" alt="Screenshot 2019-09-09 at 15 44 21" src="https://user-images.githubusercontent.com/6928564/64536162-e1a6ed80-d318-11e9-952b-9872c80b3656.png">

[code]

I tried to search for this issue, but only found 2 unanswered questions

[2019-09-09 13:50] maheshkumar2150 commented on #17498
Thank you so much. Can i close this issue? Because it is not all an issue. The mistakes were mine.

[2019-09-09 14:16] #17352 closed

[2019-09-09 14:32] b4stien commented on #16957
I'm not really sure we've found the real cause of this issue, https://github.com/gatsbyjs/gatsby/issues/16957#issuecomment-526824124 worked for us but we're now stuck with sharp 0.22.1 (and warnings).

None of the above suggestions (`npm rebuild` mainly) worked on our end.

[2019-09-09 14:54] Natansab commented on #10689
Hey @sidharthachatterjee do you know if this issue is now resolved in version 2.13 of gatsby?
I am having an issue when trying to access `location.search` data.

Thank you!

[2019-09-09 15:04] anikethsaha commented on #17473
This looks like a good idea. +1 for this !

[2019-09-09 15:13] jessepinho commented on #11406
Also, chokidar isn't going to add an option to disable watching, since it's literally a file watcher. The only possible solution I can think of would be for Gatsby to switch to a different library for traversing directories that allows both watch and non-watch options.

[2019-09-09 15:18] antoinerousseau commented on #15843
There are differences between builds and develop anyway. I think it would be useful for issues like #11406 and others to use different library for each case.

[2019-09-09 15:25] richtera opened #17509 "The remove fingerprints plugin doesn't remove all fingerprints"
I found a more reliable way by doing this
[code]

## Description

There are various plugins that use hash or contenthash.

### Steps to reproduce

Make a production build and then execute this:
[code]
Look in output.txt file for files with hashes.

### Expected result

There should be no hashed file names.

### Actual result

css and some other ones like svg and so are left.

### Environment

Run

[2019-09-09 15:45] wardpeet commented on #17337
Published in gatsby-remark-embed-snippet@4.1.7

[2019-09-09 15:45] #17337 closed

[2019-09-09 15:46] wardpeet commented on #17373
Published in gatsby@2.15.11

[2019-09-09 15:46] #17373 closed

[2019-09-09 15:48] markvital commented on #13092
@jamessimone sorry, somehow I missed this message.
Thank you, the fix is very handy! It saved me a lot of time.

One thing would be great to have is to be able to change position where generated footnotes appear. Right now it can only appear at the bottom of the article and this could be very annoying if you have complex footnotes structure like wikipedia. Let me give you an example:

My footnote

[2019-09-09 16:15] crock commented on #17505
@nguyenami You are querying it wrong. All graphql queries return an array called "edges".

From the `gatsby-source-hacker-news` documentation:
[code]

[2019-09-09 16:16] baba43 commented on #12233
Same issue here

[2019-09-09 16:18] Tapudp commented on #14672
how do I solve this????

[2019-09-09 16:39] universse opened #17512 "Override page-creator plugin options for themes"
Does it make sense to allow overriding of page creator plugin options for themes?
Related #17420 #16698

[2019-09-09 17:25] jjazzymane commented on #14672
Have you tried “Handling Path Resolution” in the gatsby docs: https://www.gatsbyjs.org/docs/themes/converting-a-starter/ ?

The change is made in the gatsby-node.js file, where path.resolve becomes require.resolve

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Divyesh Parmar <notifications@github.com>
Sent: Monday, September 9, 2019 12:19:09 PM
To: gatsbyjs/gats

[2019-09-09 17:27] #15382 closed

[2019-09-09 17:27] #16456 closed

[2019-09-09 17:30] lannonbr commented on #15382
As of 4 days ago all of the TODOs on this issue were completed, so this is finished

[2019-09-09 17:31] mrbjjackson opened #17514 "Images displaying incorrectly with gatsby-plugin-mdx"
Hello,

I was using gatsby-transformer-remark to write content for my website and it was working great. But now I'd like the option of being able to add components to my markdown to make my content fancier.

I've had some success - .mdx content is being passed to my layout and the text is being produced fine. However, each of the images in my content are being displayed twice - once in the ultra-l

[2019-09-09 17:33] pieh commented on #17498
Yeah, let's close it. If there is more things happening we can either re-open it or create new issue for it.

[2019-09-09 17:33] #17498 closed

[2019-09-09 17:57] jimmyandrade commented on #13723
I am experiencing the same issue.

### package.json

[code]

### Actual result

[code]

[2019-09-09 18:07] jamessimone commented on #13092
@markvital excellent, thank you for the detailed explanation and response. Let me think a little bit about how to arrange the plugin options so as to best meet your use case. I will get back to you in the coming days!

[2019-09-09 18:12] PABlond commented on #6654
I also had the same issue. I resolved it with :

    `rm -r .cache &&  gatsby develop`

Hope it can help

[2019-09-09 18:52] dcastil commented on #17514
You can add

[code]

to the `gatsby-plugin-mdx` options as a temporary workaround and it should work. The bug is tracked in this issue: https://github.com/gatsbyjs/gatsby/issues/15486

[2019-09-09 19:17] LekoArts commented on #17514
Thanks for opening the issue. Let's close this as a duplicate of https://github.com/gatsbyjs/gatsby/issues/15486 :)

[2019-09-09 19:17] #17514 closed

[2019-09-09 19:19] songfarm-david commented on #17505
I'm having the same issue. Things were working fine a day ago. Didn't change anything then a couple days later, tried running `gatsby develop` and hit this error:

[code]
Here are some examples of the queries I'm running:
[code]
And excerpt from `gatsby-config.js`:
[code]
The build compiles, albeit, without grabbing anything from WordPress REST API, although I can access the `wp-json` endpoint, so

[2019-09-09 19:20] davidbasalla commented on #11099
@polarathene did you ever find a fix/workaround for this issue? I think I've run into a similar problem with using URL query params to populate the value of a select input - works fine with `yarn develop` but not with `yarn build`...

[2019-09-09 19:25] ryudice commented on #16281
This is still happening, shouldnt be closed

[2019-09-09 19:34] dkthehuman commented on #17131
FWIW, I'm also experiencing this but use neither `yarn` nor `gatsby-plugin-sitemap`.

My `gatsby info` in case it helps:
[code]

[2019-09-09 19:38] crock commented on #17505
@songfarm-david It appears your issue is unrelated. Please open a new issue for `gatsby-source-wordpress`. Though I will say upon quick inspection of your provided code snippet, you are not querying for the id in two of the queries, so that may be why it is undefined.

[2019-09-09 20:30] mrbjjackson commented on #17514
Fantastic,
Thanks very much for the quick reply. Apologies for raising a duplicate issue. I did have a good search around but didn't see the thread you've linked to. Thanks again.

[2019-09-09 20:46] sever1an commented on #16097
It works well for our usage, although ours does not exercise the static path in client only route case.

[2019-09-09 20:48] songfarm-david commented on #17505
Thanks @crock  My mistake. I removed my original, unrelated comment.

[2019-09-09 21:21] jonniebigodes commented on #17136
@MarcusCemes i'm inclined to believe that this is more of a incompatibility between the package and gatsby. I've tinkered with both and the only version i was able work with gatsby was `2.0.0-alpha.30`, between that and the latest release. I wasn't able to make it work. The error you mentioned was surfacing.

Did some tests with create react app and i was able make it work, also did some tests wit

[2019-09-09 21:26] nguyenami commented on #17505
@crock, somehow it worked, my thought was it wasn't a query problem because I couldn't run `npm start`. Out of curiosity, what is the difference if I did fetch through allHnstory { nodes {..}} and allHnstory{edges{..}}, if it wasn't allowed then why it in the graphql option?

[2019-09-09 21:33] crock commented on #17505
It's just how GraphQL works, or at least how it works in Gatsby. This applies to all source plugins, so with gatsby-source-wordpress, you would still have an edges key.

Closing this issue now.

[2019-09-09 21:33] #17505 closed

[2019-09-09 21:39] greatwitenorth opened #17520 "All images are being loaded from previous page on route change"
## Description

Having a strange issue where all images are being loaded from a blog index page when visiting the blog post page.

### Steps to reproduce

- navigate to https://www.graphicintuitions.com/blog
- open your inspector
- click on the first blog article
- see all images from previous page being loaded in inspector

### Expected result

I only expect image on the new page to load.

### Ac

[2019-09-09 21:52] marcysutton commented on #17473
I'm a fan of the syntax and examples sections. There are a few additional places in the docs source that would be worth updating as well (partly why we prompted to open an issue versus starting with a PR):

- https://github.com/gatsbyjs/gatsby/tree/master/docs/docs
- https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/starters.md
- https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsb

[2019-09-09 22:11] marcysutton commented on #16980
I think that's a great idea, and a very straight-forward solution. I'd be in favor of making that happen!

[2019-09-09 22:12] marcysutton commented on #15806
In looking at the tutorial, parts 5 and 6 of the tutorial have GraphiQL screenshots that need to be updated.

- Part 5, source plugins: https://www.gatsbyjs.org/tutorial/part-five/ (this also includes an animated GIF)
- Part 6, transformer plugins: https://www.gatsbyjs.org/tutorial/part-six/

[2019-09-09 22:33] assuncaocharles commented on #13377
Hey,

Can I try to handle this one?

[2019-09-09 22:40] marcysutton opened #17521 "[docs][API] a new page on each of the gatsby-* files, with examples"
## Summary

In going through the [docs recipes](https://gatsbyjs.org/docs/recipes), I'm wishing I had something to link to for each of the foundational files like `gatsby-config.js`, `gatsby-browser.js`, etc.

There is the [Gatsby File Structure](https://www.gatsbyjs.org/docs/gatsby-project-structure/#files) doc, and API docs for things like Browser and SSR APIs. But if someone wants to know what

[2019-09-10 00:11] sever1an commented on #10179
Has anybody looked into using react-helmet-async as a replacement? This article by the creator cites the lack of activity at react-helmet as a major motivation for a fork:

https://open.nytimes.com/the-future-of-meta-tag-management-for-modern-react-development-ec26a7dc9183

At this point react-helmet-async has as many weekly downloads as react-helmet.

https://www.npmjs.com/package/react-helmet-as

[2019-09-10 00:38] kimbaudi opened #17527 "gatsby-image: improve docs on art-directing multiple images using fixed images"
## Summary

I would like better documentation how to perform art-direction on multiple images using [gatsby-image](https://www.gatsbyjs.org/packages/gatsby-image/) plugin.

Recently, a new feature to allow art-directing multiple images was added to gatsby-image. (See https://github.com/gatsbyjs/gatsby/pull/13395).

In the [Art-directing multiple images](https://www.gatsbyjs.org/packages/gatsby-ima

[2019-09-10 00:59] kimbaudi commented on #16762
@dante-blitz - I think I know why you are receiving this duplicate key warning. It's kind of hard for me to explain, but basically the `maxWidth` that you specify in your graphql query for the image is larger than the actual image causing the image to be duplicated. Let me try to clarify with an example.

Suppose I have an image called `foo.png` with dimension 800px x 600px.

Now, I suppose my gra

[2019-09-10 01:14] jonniebigodes commented on #17450
@donaldboulton i've picked up on your issue and it seems i could not reproduce your issue.

- Cloned the repo you supplied.
- Installed the dependencies.
- Issued `gatsby develop` and i'm presented with:

[code]
Only got some warnings about some images sizes like the one i left in and i was able to browse the site without issues.

![donald_1](https://user-images.githubusercontent.com/22988955/6457

[2019-09-10 01:31] studiospring commented on #16076
Happening on MacOS FireFox 69.0, with FF extensions disabled, vanilla gatsby-starter-default.

    gatsby: ^2.15.13 => 2.15.13
    gatsby-cli: ^2.7.47 => 2.7.47
    gatsby-image: ^2.2.18 => 2.2.18
    gatsby-plugin-manifest: ^2.2.16 => 2.2.16
    gatsby-plugin-offline: ^2.2.10 => 2.2.10
    gatsby-plugin-react-helmet: ^3.1.7 => 3.1.7
    gatsby-plugin-sharp: ^2.2.21 => 2.2.21
    gatsby-source-fil

[2019-09-10 01:36] cwgw commented on #13615
I also decided to drop offline support because of this issue.

I'd like to keep this open in the hopes that some brave person takes it on. Here's the strategy that the Workbox team currently suggests:

https://developers.google.com/web/tools/workbox/guides/advanced-recipes#cached-av

[2019-09-10 02:51] kimdhoe commented on #17520
Maybe this is a browser's issue. Doesn't happen on Chrome Canary and Firefox.

[2019-09-10 03:42] elfatherbrown commented on #4293
I have this exact behaviour. Such wierd thing the terminal resizing part. Perhaps some "screen" stuff going on there?

[2019-09-10 03:48] kimbaudi commented on #16888
@tajchumber - take a look at [Art-directing multiple images](https://www.gatsbyjs.org/packages/gatsby-image/#art-directing-multiple-images) section of the [gatsby-image](https://www.gatsbyjs.org/packages/gatsby-image/) documentation. You can see that they don't set `media` for `data.mobileImage.childImageSharp.fluid` since it is the default.

So try to change your `sources` definition to the follo

[2019-09-10 03:59] r1q commented on #4293
Maybe someone from Netlify or iTerm team can help in debugging?

[2019-09-10 04:25] kimbaudi opened #17528 "gatsby-image: art-directing multiple images might not show the correct image at a breakpoint depending on the ordering of the media key"
## Description

[gatsby-image](https://www.gatsbyjs.org/packages/gatsby-image/) plugin added a new art direction feature (see https://github.com/gatsbyjs/gatsby/pull/13395 and  [Art-directing multiple images](https://www.gatsbyjs.org/packages/gatsby-image/#art-directing-multiple-images)).
This new feature allows different images to show at different breakpoints (aka [art direction](https://develop

[2019-09-10 04:28] LOLdevelopr commented on #17473
I will be starting it with this https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-cli .

[2019-09-10 04:41] elfatherbrown commented on #4293
If its any help, I can reproduce it in osx terminal and platformio-ide on atom. Not a terminal thing. It happens in the gatsby stages where a terminal spinner character appears. The spinner seems to freeze and then if one resizes the terminal, things go forward.

[2019-09-10 04:56] kimbaudi commented on #17528
just did another test and the following will also work

[code]

but remember... the following won't work

[code]

So we need to be careful to add to the array media queries that handle bigger screen before it handles smaller screens.

If this bug is confirmed, we should at least warn users about this until it is fixed. Or I guess we don't need to fix it at all as long as we let users know how they

[2019-09-10 05:38] rheinardkorf commented on #16242
Ping! Keeping this non-stale as its still an issue.

[2019-09-10 06:06] kuworking commented on #17361
Yes, I see that, thanks!

[2019-09-10 06:06] #17361 closed

[2019-09-10 08:39] ascorbic commented on #17509
This should probably be raised on the https://github.com/narative/gatsby-plugin-remove-fingerprints repo rather than here, as it's a third party plugin.

[2019-09-10 08:44] ascorbic commented on #17506
I think the problem here is that fluid images by their nature can't have their size set in the HTML, because they're supposed to resize to fit their container. I'm not sure if there's a way around this (or if it's actually a problem).

[2019-09-10 08:49] ARXChrono commented on #17336
Yup, that thread had the solution i was looking for

[2019-09-10 08:53] wardpeet commented on #17509
as @ascorbic said, sadly we can't provide you any help when using a third party plugin. I'm not sure why you want to remove hashes from your file. It helps browser cache files as long as they can and improve speed for your users.

As stated above, I'll be closing this issue.

Thanks for using Gatsby 💪

[2019-09-10 08:53] #17509 closed

[2019-09-10 08:58] freiksenet opened #17531 "[gatsby schema] Convert gatsby-transformer-sharp to use schema customization"
Currently `gatsby-transformer-sharp` uses inference and old Gatsby schema customization (`extend-node-type`) for adding fields. There are several obscure errors that happen because of this.

It would be great to move sharp to use new schema customization. We should then also bump the version of transformer and make it rely on latest gatsby that has all the schema customization features.

If there

[2019-09-10 09:01] Natansab commented on #11099
Hey @davidbasalla, I am experiencing the same issue.
What did you add to `componentDidMount` to fix this?
I have added `this.forceUpdate()` but it does not work (everything works fine using `gatsby develop`)
Thanks!

[2019-09-10 09:15] Tapudp commented on #14672
umm not sure of that right now it is just giving me error in the gatsby-node.js file saying it can't `allContentfulBlogPost` Query in the GraphQL query this is the code, I have pulled in directly from my friend's repo and he has this from the video tutorial he followed and setup : https://www.youtube.com/watch?v=8t0vNu2fCCM&t=7464s

the code :
[code]

[2019-09-10 09:33] sidharthachatterjee opened #17532 "Preferred package manager doesn't work when yarn is installed via macports"
https://github.com/gatsbyjs/gatsby/blob/24c30b95eac628edc3e1de0748c943e47ada813c/packages/gatsby-cli/src/init-starter.js#L30 doesn't work on macOS when yarn is installed via mac ports because it can't find `yarnpkg --version` as witnessed by @LekoArts

This results in some folks never having a preferred package manager 😞

[2019-09-10 09:54] davidbasalla commented on #11099
@Natansab hmm yeah that's exactly what I did (I do add an eventListener for `popstate` in `componentDidMount` as well but that shouldn't matter) and it sorted out my particular issue. I guess alternatively you could reset state to force a render?

[2019-09-10 10:15] richtera commented on #17509
I see. There was a previous comment about that, but there was no link to the corresponding ticket. Will search.

[2019-09-10 10:32] dougwithseismic commented on #6299
Banged my head against this when trying to implement the Google Partner's badge. Adding the script to Helmet or html.js with a defer tag wasn't updating the DOM on build.

I've solved it by appending the script to a specific div using useEffect and mimicking componentDidMount.

Solution below :)
....
const IndexPage = () => {
`  useEffect(() => {
    const script = document.createElement('script')

[2019-09-10 10:47] dougwithseismic commented on #11714
Anyone working on this? I'll pick it up if not.

[2019-09-10 11:03] wardpeet commented on #11099
When rendering html files using `gatsby-build` it doesn't know about query parameters in a route. So we always render the none query parameter route. On rehydration, we should detect it and use the correct path. Note that this might cause flickering.

The problem with gatsby-image in particular and base64 is that we inline the placeholder image which is the one without a query string. Than we swap

[2019-09-10 11:03] #11099 closed

[2019-09-10 11:04] wardpeet commented on #6299
@dougwithseismic Helmet should have worked fine. You can also look at https://www.gatsbyjs.org/docs/ssr-apis/#replaceRenderer

[2019-09-10 11:08] wardpeet commented on #11714
@dougwithseismic Thank you for wanting to contribute, sadly we already have support for it and it was added in https://github.com/gatsbyjs/gatsby/pull/12826.

I'll be closing this one for that reason.

[2019-09-10 11:08] #11714 closed

[2019-09-10 11:09] wardpeet commented on #17532
So what its the packageName? Just `yarn`?

[2019-09-10 11:16] sidharthachatterjee commented on #17532
Yup, just `yarn` ☹️

We use `yarnpkg` because
[code]

[2019-09-10 11:30] sidharthachatterjee commented on #8020
@antoinerousseau That does make sense. Happy to accept a PR!

[2019-09-10 12:07] wardpeet commented on #17506
I've created an upstream issue on chromium https://bugs.chromium.org/p/chromium/issues/detail?id=1002455. Seems like chrome doens't detect fluid containers and mark images without dimensions as faulty. You shouldn't worry about it.

[2019-09-10 12:31] biernacki commented on #17335
I haven't check if it's the same payload, it's probably not the most reliable solution, but if you try omitting `latest` from the endpoint the plugin works again (but again, it's a temp solution)

So url => `https://medium.com/${nameOfBlogHere}?format=json&limit=10`

[2019-09-10 12:33] SergeyDragunov commented on #17335
If you try `https://medium.com/${username}/latest?format=json&limit=${limit}` without `/latest` there is no CAPTCHA (I don't know why)

So, my temporary solution is

[code]

[2019-09-10 12:35] jjazzymane commented on #14672
I started my gatsby-node.js and the template/blog.js file over, using this tutorial instead. https://www.gatsbyjs.org/tutorial/part-seven/

[2019-09-10 12:37] wardpeet commented on #16455
Can you check if `gatsby-source-contentful@2.1.35` fixed this issue. @frodd might think his fix could be related.

[2019-09-10 12:38] wardpeet commented on #3064
Can you check if `gatsby-source-contentful@2.1.35` fixed this issue. @frodd might think his fix could be related.

[2019-09-10 12:42] wardpeet commented on #14672
Did you had a look at https://github.com/contentful-userland/gatsby-contentful-starter ?

[2019-09-10 13:01] eriktiekstra commented on #17506
@ascorbic
It is a warning, so nothing breaks the site. I just like to keep my console clean, so I thought to make people aware of it.

@wardpeet Thanks for creating an issue on chromium, I actually didn't think of that it could be an issue in the browser. It makes sense though.

[2019-09-10 13:27] ascorbic commented on #17532
I think this is a bug in the Portfile. It should be installing the yarnpkg script too. From the look of [this line](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/scripts/init.js#L161), it will be breaking create-react-app too.

[2019-09-10 13:32] greatwitenorth commented on #17520
Tested in Chrome Version 76.0.3809.132

[2019-09-10 13:35] jjazzymane commented on #14672
Thanks Wardpeet. Yes, I can put up a minimal reproduction (from the gatsby-contentful-starter above) in a couple of hours. I originally used the gatsby-starter-hello-world and was unable to generate associated for each dynamically generated page.

[2019-09-10 13:45] johnletey commented on #17147
I would love to work on this!

[2019-09-10 13:55] Natansab commented on #11099
Hey @wardpeet thank you for your feedback.
Actually, I still get an issue and using @davidbasalla `forceUpdate()` didn't work.

I want to set `blue-style` class to my main `div` when a user enters my website with `?blue=true` param.

[code]

On first load class is always empty `<div class>` element is created. When I change page and hit the return button then the class is set correctly.

Do you ha

[2019-09-10 14:32] NickyMeuleman commented on #12272
After https://github.com/gatsbyjs/gatsby/pull/17284 got merged I tried removing the logic in my theme to work around this.

Used Gatsby version: `2.15.14`
It doesn't appear to be working.
https://github.com/NickyMeuleman/gatsby-theme-nicky-blog/blob/bbc782332e6938daaa2fca1b25d6df7e78f19c6c/theme/gatsby-node.js#L278-L282
When you comment out the lines linked above, filtering in GraphQL on these fie

[2019-09-10 15:12] johnletey commented on #16700
@ChristopherBiscardi I could help with this

[2019-09-10 15:53] josephkandi commented on #9911
I am having this issue. Am using bootstrap with ant.design. ant.design automatically imports the styles for the components. My css override for the bootstrap headings and links is being overridden with the ant.design styles that are automatically imported.

Everything works fine during develop and changes in production.

Planning to move to use CRA instead, we've wasted a lot of time with gatbsy.

[2019-09-10 16:09] georgiee commented on #17452
Hello thanks for those useful references and the upstream issue. My initial idea to turn off status reports entirely with an option would get rid of the Ink dependency and clean up the logs.

Is this even an option as I don't find any signs of different log output levels in the sources nor do people request that feature. I found the issue with the number 3 from Kyle https://github.com/gatsbyjs/gat

[2019-09-10 16:22] amberleyromo commented on #13305
Hey @dyyyl! Any update? If life has gotten busy, we'd be happy to take this on or let another contributor pick it up.

[2019-09-10 16:33] bernzJ commented on #17501
Have a look [here](https://www.gatsbyjs.org/packages/gatsby-remark-custom-blocks/) .

[2019-09-10 16:42] #17147 closed

[2019-09-10 16:54] wardpeet commented on #17452
thanks @georgiee i'll close this as a duplicate of #15505, let's move the discussion to that thread. This issue will still be linked so we don't lose any information.

Thanks a ton you for the awesome write-down. This is really great.

[2019-09-10 16:54] #17452 closed

[2019-09-10 17:01] donaldboulton commented on #17450
Thank You @jonniebigodes. If you got it working then it must be some error in my node modules. Ya just trying localhost queries not production and I get the "allSitePage" error.I will try deleting them and rebuild the folder, I will see if that works.

[2019-09-10 17:27] lewislbr commented on #9706
@r1q that works for me too 😐

[2019-09-10 17:27] #16406 closed

[2019-09-10 17:27] #16432 closed

[2019-09-10 17:35] johnletey commented on #14006
@ChristopherBiscardi What is the update on this? I can take over with your current code if you'd like

[2019-09-10 17:50] dougwithseismic commented on #15317
Incredible!! After your comment I went to check my Netlify settings...

 Netlify > Build & Deploy > Post Processing > Asset Optimization > 'Disable
Asset Optimization' is ticked. Everything else is greyed out but ticked.
If I untick this option, untick Pretty URLs and retick 'Disable Asset
Optimization' I no longer have my 301 redirect issue!

So.. can we assume this is a Netlify issue?

On Tue, 1

[2019-09-10 18:01] abejfehr opened #17535 "Maximum call stack size exceeded and error trying to infer a GraphQL type"
## Description

Builds are failing with several errors from `gatsby-source-contentful`, including:
[code]
and
[code]

### Steps to reproduce

I'm not sure how this could be reproduced, I think our data in Contentful may have a circular reference but I'm unable to find it

### Expected result

The build should succeed

### Actual result

The build fails with this output (which has been slightly san

[2019-09-10 18:25] LOLdevelopr commented on #17473
@muescha @marcysutton @sidharthachatterjee I would like to know if you guys are okay with this doc
[`gatsby-cli doc`](https://github.com/LOLdevelopr/gatsby-1/blob/docs/syntax-guided-command-docs/packages/gatsby-cli/README.md)

Changes I made
- Added explained notes for `new` command [here]( https://github.com/LOLdevelopr/gatsby-1/blob/docs/syntax-guided-command-docs/packages/gatsby-cli/README.md#n

[2019-09-10 18:35] kimbaudi commented on #17528
I've updated the title/description regarding this issue. And I also created a demo project that would reproduce this issue <https://github.com/kimbaudi/gatsby-image-art-directing-issue>.

Please take a look at the following 2 files:

- https://github.com/kimbaudi/gatsby-image-art-directing-issue/blob/master/src/pages/it-works.js
- https://github.com/kimbaudi/gatsby-image-art-directing-issue/blob/m

[2019-09-10 18:54] #16516 closed

[2019-09-10 19:10] kimbaudi commented on #16763
@squelix - I think I'm also facing this same issue as well. I would need to create a minimal reproducible demo project, but at least wanted to comment that this issue shouldn't be stale.

BTW, I think you made a typo. In your graphql query, you name your files `lovysDesktop` and `lovysMobile`, but in your sources, you reference the files as `data.imageDesktop` and `data.imageMobile`.

[2019-09-10 19:27] kimbaudi commented on #16888
@tajchumber - I just thought of something. I created an issue (https://github.com/gatsbyjs/gatsby/issues/17528) where art-directing might not work depending on the `media` key ordering. So you can just rearrange the `sources` array items so that it becomes like this:

[code]

Could you try that and let me know if that works?

[2019-09-10 19:34] donaldboulton commented on #17450
Closing I had updated yarn and have been getting weird local errors ever since. Got rid of yarn.lock with with npm. After about 20 min, "npm fixed", alot of missing and incorrect modules and now it works.
Thank You
Donald Boulton

[2019-09-10 19:34] #17450 closed

[2019-09-10 19:43] #17527 closed

[2019-09-10 19:50] jonniebigodes commented on #17450
@donaldboulton no need to thank, glad i was able to help and you get it working.

[2019-09-10 19:54] msaaddev opened #17537 "Gatsby new and develop not working"
## Description

Every time I do `gatsby new project` , I get this error.

![error](https://i.imgur.com/AEQEXKZ.png)

Then I change directory to the newly created project and if I run `gatsby develop`, I receive a new error.

![error](https://i.imgur.com/Ijhrqut.png)

I have also tried installing the package separately but it also doesn't work either.

### Steps to reproduce

I'm not sure how this

[2019-09-10 20:26] jonniebigodes commented on #17537
@msaaddev follow the steps documented [here](https://www.gatsbyjs.org/docs/gatsby-on-windows/) and see if it helps.

[2019-09-10 20:27] antoinerousseau commented on #8020
@sidharthachatterjee https://github.com/gatsbyjs/gatsby/pull/17538 \o/

[2019-09-10 20:31] robin-macpherson commented on #17147
@lannonbr , @wardpeet , @sidharthachatterjee, @johno , can I ask for clarification on process here please? I created this issue, assigned it to myself, and wrote a clear description asking for some guidance on whether to move forward. I didn't get any response but saw that @johno added it to "To Prioritize" in Themes Roadmap, and so I was waiting for the response.

It seems that @johnletey ignored

[2019-09-10 21:08] jonniebigodes commented on #11099
@Natansab you can do something like the following to get it working:
[code]
The css is the following:
[code]
Issuing `gatsby dev` and opening up `http://localhost:8000/page2` i'm presented with:

![natansab_1_dev](https://user-images.githubusercontent.com/22988955/64650064-2a909c00-d416-11e9-8362-68158531ac4f.png)

Opening a new browser window to `localhost:8000/page2?blue=true` it yelds the follo

[2019-09-10 21:33] muescha commented on #17473
in all examples there is no `$` and thats not helpful if you double click for selecting a line

[2019-09-10 21:37] muescha commented on #17473
i would stick with http://docopt.org/ syntax at:

`gatsby new <site-name> [<starter-url>]`
or also

[2019-09-10 21:38] johno commented on #17147
Hey @robin-macpherson, we (@gatsbyjs/themes-core) dropped the ball here and I apologize 😬😞.

We should've provided feedback after the initial PR (from the beginning) so you would know what action to take and wouldn't be stuck in limbo.

When everything is working as it should, your creation of the issue and assigning to yourself should've been responded to swiftly with a go ahead so you could begi

[2019-09-10 21:39] xkb commented on #15601
The problem here isn't that the version of core-js needs to be upgraded but rather that the internal aliasing forces dependencies to a single module resolution.

If you upgrade to core-js@3 you will break every dependency that relies on core-js@2. Since the paths are completely different. Storybook has gone through the same exact issue when trying to minimize the number or bundled core-js instance

[2019-09-10 21:41] LOLdevelopr commented on #17473
okay will remove it then !

this one looks neat !

I will also remove the `required` word from the `site-name` argument details. as its not required for prompt!

[2019-09-10 21:45] muescha commented on #17473
with shell we become fancy color in github readme ;)

[code]
[code]

[2019-09-10 21:48] dopeters opened #17542 "Issue with matchPath sorting for nested paths"
## Description

With the updated matchPath sorting from https://github.com/gatsbyjs/gatsby/pull/17411, nested client only routes are not correctly displayed.

I believe it is also related to this issue: https://github.com/gatsbyjs/gatsby/issues/9705

### Steps to reproduce

[Code Sandbox](https://codesandbox.io/s/gatsby-starter-default-5pz0q?fontsize=14)

1. Go to /admin
2. Click "User 123"

### E

[2019-09-10 22:11] Dara-To commented on #1875
Weird, I used `globalHistory` as per suggested here and it worked not long ago but today I got undefined. Any idea?

[code]

[2019-09-10 22:37] jonniebigodes commented on #1875
@Dara-To just ran it and it's working, at least locally.
I have the following gatsby dependencies installed, also some others but they are not relevant to this issue and i'm leaving them out:

[code]
Created a new page called `page3.js` with the following code:
[code]
Issuing `gatsby develop`  and opening up a new browser window to `http://localhost:8000/page3` yelds the following:
![dara_to_dev](

[2019-09-10 23:08] pristas-peter commented on #15906
As a user of both `gatsby-source-wordpress` and `gatsby-source-graphql (wp-graphql)` I would personally be happy to have features from both worlds. Particularly the unified api of all "traditional" gatsby source plugins makes gatsby great and makes querying and filtering intuitive across all different sources and I think that implementing an automatic or semi-automatic transformer from external gr

[2019-09-10 23:36] #8020 closed

[2019-09-11 00:59] zslabs commented on #16131
@wardpeet I'm having this occur within https://github.com/zslabs/zslabs.com/tree/feature/emotion If you pull down that branch, run `yarn develop` and edit src files (for example, changing some of the inline Emotion-styles in `BubbleList.js`) after the second or third save, the hot-reloader appears to just hang, and the window becomes unresponsive. I need to then use the Chrome Task Manager to manu

[2019-09-11 01:36] robin-macpherson commented on #17147
Thanks for your reply @johno ! I appreciate it and I've really enjoyed starting to make contributions these past few weeks. Honestly I understood that you all must be very busy. I was mostly surprised by the fact that this issue was assigned to me and I was very clearly awaiting feedback and @johnletey opened a PR and did it himself.

I know this is a really small PR and I truly don't mean to be u

[2019-09-11 01:56] lucashfreitas commented on #16970
+1 @nadrane .

I am having the same issue using yarn workspaces.

I am also having this bug when trying to execute graphQL queries from shared module:

![image](https://user-images.githubusercontent.com/11416392/64662263-dfb96780-d49b-11e9-8eab-d8cb6f31c9cf.png)

[2019-09-11 02:08] jonniebigodes commented on #17542
@dopeters  I've created new gatsby site based on the hello world starter and grabbed the code you posted. And  i can confirm this. In the meantime depending on your use case and timeframe i would go with [gatsby-plugin-create-client-paths](https://www.gatsbyjs.org/packages/gatsby-plugin-create-client-paths/), if you want i can update the code based on the plugin and hoist it to a repo and you can

[2019-09-11 02:33] robin-macpherson commented on #16457
Thanks for the great issue description and comments, @trt2 !
@freiksenet I'll try my best to take a look at this and open a PR shortly. If for some reason I get stuck I'll be sure to update and ask for guidance in the PR 🙂

[2019-09-11 03:30] cassianomon opened #17545 "Reinstalling packages to the last version gives an file not found error"
## Description

Describe the issue that you're seeing.

I just run the `npm install` command and got an error output on my terminal, it was working perfectly last week.

Here is my package.json dependencies:

https://github.com/cassianomon/cassianomon.github.io/blob/develop/package.json

[code]

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to

[2019-09-11 04:03] songfarm-david opened #17546 "Using custom normalizer function for mapping custom post types and taxonomies"
## Description

I have a plugin that creates a custom post type and an optional custom taxonomy set up on my WordPress site. Both of these custom post types have variable names, so they can be named whatever. When I run `gatsby develop` the console blows up with this:

[code]

After some debugging, I know I need to map the taxonomy to the custom post type using a normalizer function similar to wha

[2019-09-11 04:05] Dara-To commented on #1875
Thanks for the lead. I created and tested it on a new bug repo as outlined in those steps.

I console logged in my config file the `globalHistory.location.origin`. I realized that I was reading from my terminal which said undefined instead of my browser's console which was correct. But from my memory, a couple of weeks ago, both places had the same logs...that's why I thought something went wrong.

[2019-09-11 04:33] ivanvgarcia commented on #6385
This worked for me too.

[2019-09-11 04:49] johnletey commented on #17147
@robin-macpherson I am truly sorry! I’m used to working on projects where people self-assign issues to themselves all of the time but never start working on them, but that is no excuse for me taking the issue/PR from you!

I am truly sorry and I will definitely ask for clarification before I work on any further issues so that this doesn’t happen again! Sorry for any inconvenience that this may hav

[2019-09-11 06:26] LOLdevelopr commented on #17473
but this one will take the whole width ......

[2019-09-11 07:11] afenton90 commented on #15872
not stale

[2019-09-11 07:36] tareefdev commented on #16131
Hello @wardpeet. Unfortunately, I can't reproduce this bug every time! I moved the project into a [new repo](https://gitlab.com/tareefdev/sy-beta) where you just need to clone, install, and run (all files are included).

When the issue accrues I comment out `deletePage(page)` or `createRedirect({ fromPath: '/en', toPath: '/', isPermanent: true });` and the site works fine, then I can uncomment the

[2019-09-11 08:48] xBau commented on #15625
@th0th gave the solution for me. In my case I was missing only `gatsby-transformer-sharp`.

[2019-09-11 09:03] LekoArts commented on #17545
Your issue is not directly related to Gatsby but your installation of the sharp dependencies. Please try running `npm rebuild`, deleting your `node_modules` folder and running `npm install` again.

[2019-09-11 09:08] LekoArts commented on #17537
Yeah, you need to install `node-gyp`. Some instructions:

- https://github.com/nodejs/node-gyp#on-windows
- https://gist.github.com/jtrefry/fd0ea70a89e2c3b7779c

[2019-09-11 09:12] amitnovick opened #17550 "[gatsby-plugin-emotion] Misleading Documentation"
## Description

The following description of `gatsby-plugin-emotion` in its README is misleading:

Q: Why is this misleading?

A: There is no mention here that the SSR support for Emotion is limited to only two specific APIs. Particularly, there is no SSR support for `css` import from `emotion`. If you go to [Emotion's docs](https://emotion.sh) right now, this API is the first thing you'll see, an

[2019-09-11 09:12] mrbjjackson opened #17551 "Passing variables to use inside MDX file"
Hi,
I'm using gatsby-plugin-mdx to add rich markdown to my site.

I want to access the frontmatter of the markdown within the markdown itself.

The docs say this is available in my MDX file with `{props.pageContext.frontmatter}` but this returns an error "TypeError: Cannot read property 'frontmatter' of undefined".

I presume this is because, rather than rendering as an individual page, I'm trying

[2019-09-11 09:17] LekoArts commented on #17535
Hi, sorry to hear that you're running into issues. Did you maybe unpublish something, or have something crazy going on in Contentful? Maybe try cleaning Gatsby's cache by running `gatsby clean`.

Other than that we can help the best if you can reproduce the problem with a fresh contentful project :)

[2019-09-11 09:41] LekoArts commented on #17550
Hi, thanks for opening the issue!

I have to disagree with the README being misleading. Emotion clearly states on the page you linked that the `emotion` package is framework agnostic and e.g. server-side rendering needs additional setup. Directly below that they state that you should use `@emotion/core` for React. Moreover our docs tell you to install these packages.

I also personally have never

[2019-09-11 09:45] LekoArts commented on #17551
If I understand you correctly, isn't this what you want to do?
https://www.gatsbyjs.org/docs/mdx/programmatically-creating-pages/#bonus-make-a-blog-index

Query all mdx data and display it?

[2019-09-11 09:53] LekoArts commented on #17490
Hi!

Sorry for the blunt question, but why do you use the babel plugin? So what's the usecase/reasoning here? PrismJS isn't added to the bundle on runtime.

[2019-09-11 10:00] LekoArts commented on #17401
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-09-11 10:04] SilencerWeb opened #17552 "How to change CSS Modules configuration?"
## Summary
I want to change CSS Modules configuration but I can't find any information about how to do it

Also, I'm trying to find the current configuration but can't find it anywhere, could you help me with that? I use Storybook with Gatsby and I had to set up CSS Modules by myself for Storybook, and right now they have different configurations and work differently

[2019-09-11 10:08] shendriksza commented on #10386
Seeing as this issue comes up very easily searching for a solution on Google, I thought I would post an answer here.

You can use [gatsby-plugin-remote-images](https://www.gatsbyjs.org/packages/gatsby-plugin-remote-images/) to expose absolute image URL's to gatsby-image so they will be processed as if they are stored locally. Enjoy!

[2019-09-11 10:09] mrbjjackson commented on #17551
Hi
Thanks for getting back to me.
This is close - and I've got something similar to this working fine.
But what I really want to be able to do is to access the frontmatter variables from _inside_ my MDX markdown. The reason being is I'd like to slightly customise my layout and components on a post by post basis by changing markdown.
 [The docs suggest this is possible.](https://www.gatsbyjs.org/do

[2019-09-11 10:13] LekoArts commented on #17195
Yeah, I can reproduce this with: https://codesandbox.io/s/17195-b87vs

[2019-09-11 10:19] mrlubos commented on #7348
Hey! What's the current status of this feature? Unless I am missing something, I believe this is still a pain as the site grows, correct? Having to process hundreds of images takes 2½ minutes even on a really fast hardware.

[2019-09-11 10:22] nehalist commented on #17490
See https://github.com/TryGhost/gatsby-starter-ghost/issues/25

[2019-09-11 10:24] benoitcalin opened #17553 "Gatsby-image not processing some images (but those change on each build)"
Hi all,

It has been more than a week since this problem started when I tried to 'gatsby build'.

Some context first, I am working with WPGraphQL to get content and images from Wordpress, it was working fine but one day last week everything went wrong.

For a reason I cannot get, evey time I try to build my website, it fails because of some of my image having an '**imageFile**' null.
Thing is, eac

[2019-09-11 10:32] amitnovick commented on #17550
Framework agnostic doesn't mean incompatible with React. Quite the opposite, it means that the tool is flexible enough that it doesn't rely on any framework's implementation.

A build tool can definitely be made to render these styles on the server, it's simply not currently supported, and users should be aware of it.

Not having seen tutorials !== there aren't any:
- [**The best React inline styl

[2019-09-11 11:19] LekoArts commented on #17550
As my colleague @dschau wrote in the mentioned PR we already have the correct emotion packages in the installation steps which implicitly tells the user that they should use these packages with `gatsby-plugin-emotion`. I'm fine with adding a short note that people should use these instead of `emotion`, however it really should be a side-note. Otherwise it'll confuse people.

All these tutorials ar

[2019-09-11 11:20] LekoArts commented on #17551
Can you [provide a minimal reproduction][reproduction]?
We'd highly appreciate that!

[reproduction]: https://gatsby.dev/reproduction

[2019-09-11 11:37] pieh commented on #17542
I'm not quite sure if this is bug. There are 3 routes with `/admin/*` matchPath so any of those are equally suitable to render `/admin/user/123` route (there is nothing we can use to decide whether to use one or the other)

[2019-09-11 11:56] silverqx commented on #16455
I would test it, but I can create only 2 spaces at contentful and i'm using both now :/, I can't delete any of them.

[2019-09-11 12:10] mrbjjackson commented on #17551
I can do that yes but just in case I'm able to save a bit of time by describing my case in a bit more depth here I will just do that first if that's OK - I don't think this is a bug - I just think there's something I'm not quite getting about the way MDX works:

I have a graphql query that returns all the "Featured Work" mdx files. This site is for a music producer. So each Featured Work post is a

[2019-09-11 12:20] cassianomon commented on #17545
Well, it comes along with Gatsby `gatsby new MyAwesomeProject`, so I think it's related to Gatsby.

Done what you told me and now I have this output and the project won't start:

[code]

[2019-09-11 13:02] karolis-sh commented on #15891
Same issue - https://github.com/gatsbyjs/gatsby/issues/15126

[2019-09-11 13:03] scotNZ commented on #16271
@elken
Well if even if it is "local" there is some interdependency between the gatsby development server and/or the active plugins and the OS network connectivity. I can run the Gatsby development server, terminate the network connection and the unhandled rejection from gatsby with server termination is the result.

I have no idea how this might occur if the Gatsby CLI development server or one of

[2019-09-11 13:08] MarcusCemes commented on #17136
Thanks @jonniebigodes for the digging. There is a recent closed (but unresolved and ongoing) issue on what seems to be a [related issue](https://github.com/Redocly/redoc/issues/997#issuecomment-530368024) (it was deemed "fixed" in `2.0.0-rc14`, but the same import is still throwing).

I'll follow and assist in the referenced issue and keep this updated, I'll leave it to a moderator to decide wheth

[2019-09-11 14:12] LekoArts commented on #17545
When running `gatsby new` you're cloning the default starter which contains among other things also two `sharp` plugins. As people in this issue https://github.com/gatsbyjs/gatsby/issues/16957 you likely have multiple, conflicting versions of libvips installed (also mentioned here: https://github.com/lovell/sharp/issues/1725)

[2019-09-11 14:29] davegreig opened #17556 "URL with unicode characters will not load in MS Edge"
## Description

If a URL contains a unicode character (for example `foo.com/bår`) Gatsby will not render the page correctly in Microsoft Edge.

### Steps to reproduce

Easiest way to do this:
1. Use the [Gatsby + Netlify CMS starter](https://www.gatsbyjs.org/starters/netlify-templates/gatsby-starter-netlify-cms/)
2. Change one of the existing markdown files to have a special character in the file

[2019-09-11 14:31] coldPen opened #17557 "Webpack error #98123 when running "gatsby develop""
## Description

`gatsby develop` doesn't work because of an error `#98123` from Webpack.

### Steps to reproduce

1. Clone my repo
2. `cd` into that repo
3. Run `npm install`
4. Run `gatsby develop`

### Expected result

Development server should start

### Actual result

I get this output:
[code]

### Environment

`gatsby info --clipboard` (I'm running Ubuntu in WSL):
[code]

Additionnally, my `p

[2019-09-11 14:37] robin-macpherson commented on #17147
@johnletey thank you for your sincere reply and I appreciate that you'll seek clarification in the future. Happy coding! 🙂💪🏼

[2019-09-11 14:39] smakosh opened #17558 "sharp not found"
## Description

[code]

### Steps to reproduce
deploy https://github.com/smakosh/smakosh.com to Netlify

[2019-09-11 14:43] Tapudp commented on #14672
okay so for me, I don't know what happened but after removing everything i.e., node_modules and installing it with `npm install gatsby-source-contentful` it worked.

[2019-09-11 14:57] EmaSuriano commented on #17335
The problem I see with this solution is that it's not returning the same amount of results as with the endpoint of `/results`. For my users, only returns 4 posts ...

[2019-09-11 14:58] jasonbahl commented on #17553
@benoitcalin thank you for reporting this issue. We’re looking into it.

What I believe might be happening is that the requests from
Gatsby to the WordPress server are happening so fast that the WordPress server is having trouble responding. My theory is that if we can throttle the requests and give the WordPress server some time to “breathe” between requests the issue might be resolved.

I’m look

[2019-09-11 15:21] karlhorky commented on #17379
Thanks @siddharthkp @akshayymahajan @wardpeet !

This is working with the following config in my `gatsby-config.js` (needed to remove the `require.resolve` from @wardpeet's first description):

[code]

[2019-09-11 15:24] smakosh commented on #17558
Fixed it by removing `yarn.lock` and deploying again.

[2019-09-11 15:25] siddharthkp commented on #17379
@karlhorky We meet again! Put you've got the wrong Sid this time 😛 (you want @sidharthachatterjee)

[2019-09-11 15:36] wesbos commented on #13723
@jimmyandrade I'm getting this too - did you resolve it?

[2019-09-11 15:41] zslabs opened #17559 "100% CPU usage during development"
## Description

### Update: This may be due to an overzealous amount of HOC containers from Emotion `withTheme`. Will update once I confirm.

High CPU usage during local development. Production builds work fine with no high CPU usage (You can view the preview site [here](https://feature-emotion--zslabs.netlify.com/). I had made a comment in https://github.com/gatsbyjs/gatsby/issues/16131#issuecomm

[2019-09-11 15:42] karlhorky commented on #17131
For me, cleaning the cache with `gatsby clean` solved the issue.

[2019-09-11 15:43] karlhorky commented on #17379
🤦‍♂️ Ah oops, sorry Siddharth! Tagged Sidhartha now.

[2019-09-11 15:49] wesbos commented on #15625
I'm getting this issue on an almost empty gatsby site. Omitted gatsby-config.js, or an empty module.exports = {} still give me this issue. Only fixed when I set the gatsby-transformer-sharp plugin..

[2019-09-11 15:51] LA1CH3 commented on #17195
The fix is needed here- just add a space between `node.lang` and `node.meta` when combining them together. https://github.com/gatsbyjs/gatsby/blob/c956038b85fc75bd07bd8c26723d0bfc1f996ad3/packages/gatsby-remark-prismjs/src/index.js#L34

[2019-09-11 15:53] wesbos commented on #15625
Seems having it in your installed in your package.json and not using it will throw this error, will make an issue..

[2019-09-11 16:09] LekoArts commented on #17195
Yeah, that seems about right. If you want to fix it yourself we'd be happy to accept a PR from you -- to get you started you can have a look at https://www.gatsbyjs.org/contributing/ and we're happy to answer any questions you have :)

[2019-09-11 16:35] roadrunnersf opened #17560 "Delayed styling when using styled-components on Netlify"
## Description

My project is deployed to netlify [here](https://mortyandrick.netlify.com) and when directly visiting [/characters](https://mortyandrick.netlify.com/characters/) the styling of the navigation bar comes through incomplete. This issue also happens on the characters subpages e.g. [/characters/100](https://mortyandrick.netlify.com/characters/100)

Some of the styling works, e.g.

- The

[2019-09-11 16:37] anthonygilbertt opened #17561 "Broken URL on Contributing page"
## Description

The 'Use an online dev environment' link is broken.

### Steps to reproduce

Go to the following URL: https://www.gatsbyjs.org/contributing/code-contributions/ and click on the 'Use an online dev environment' link

### Expected result

The User should be taken to the gitpod page

### Actual result

The User is taken to the "Page Not Found" page.

### Environment

I used the online

[2019-09-11 16:39] anthonygilbertt commented on #17561
The page is available, the URL is just wrong.

[2019-09-11 16:43] jimmyandrade commented on #13723
Hey @wesbos, I have resolved it! Please try the following:

1. Open `gatsby-config.js` in your project root;
2. Check if you added `gatsby-transformer-sharp` plugin to JSON. If not, please add:

[code]

3. Run `gatsby develop` in your Terminal;
4. Open your Gatsby website;
5. Check if errors are gone.

[2019-09-11 16:45] wesbos commented on #13723
Thanks - I came to that conclusion as well. If it is even in package.json, it will cause an error.

So if you are just starting a tutorial or something where you build the config yourself, either uninstall gatsby-transformer-sharp, or include it the above

[2019-09-11 16:48] chris-hammond commented on #16499
I'm seeing the same sort of memory leak, starting in `2.11.0`, but I'm not using that plugin and I am using `yarn`. In `2.10.5`, my builds take ~450 MB; in `2.11.0+`, my builds skyrocket to the memory limit and fail.

I'm currently using Node.js `v10.15.1`.

Is there anything else we can do to help get this fixed? This is a pretty major problem.

[2019-09-11 17:08] wKovacs64 commented on #16499
Yeah, it's not about that specific plugin, that was just one example. Maybe see if you can get someone's attention in #15213?

[2019-09-11 17:18] jasonbahl commented on #17553
@benoitcalin I cloned your site and ran `gatsby build` 5 times with no issues. On the 6th time, I did get the following:

[code]

Based on the 503, it appears that the WordPress server is indeed struggling to respond, and I think the best way forward is to come up with a way to throttle the requests.

I need to look into the best way to throttle requests for the process that downloads the images.

[2019-09-11 17:27] #16500 closed

[2019-09-11 18:02] marcysutton commented on #17561
Hi @anthonygilbertt, we'd love a PR to fix it if you've got time to contribute!

[2019-09-11 18:05] circlingthesun commented on #15601
Storybook appears to be using [corejs-upgrade-webpack-plugin](https://www.npmjs.com/package/corejs-upgrade-webpack-plugin) to translate corejs 2 imports to corejs 3 equivalents.

[2019-09-11 18:15] anthonygilbertt commented on #17561
@marcysutton I will jump on it!
 Just gotta figure out how to make one.  😅

[2019-09-11 18:24] jasonbahl commented on #17553
@benoitcalin You can throttle the concurrent download rate using the `GATSBY_CONCURRENT_DOWNLOAD` environment variable.

For example `GATSBY_CONCURRENT_DOWNLOAD=1 gatsby build` builds the site without issue.

But `GATSBY_CONCURRENT_DOWNLOAD=555 gatsby build` causes issues, because the WordPress server is failing to respond to so many concurrent requests.

You can read more about using Environment

[2019-09-11 18:36] anthonygilbertt commented on #17561
I think I figured it out.  https://github.com/gatsbyjs/gatsby/pull/17565    hopefully I did it right.  ha

[2019-09-11 18:44] pieh commented on #17553
Sometimes error happen during page query running and sometimes those 503 mentioned by @jasonbahl will happen in gatsby-node in https://github.com/benoitcalin/metroboulododo/blob/master/gatsby-node.js#L18-L19 which are silently ignored (this is how you end up with data that have `null` `imageFile` fields)

For now you could add something like
[code]

So those errors are not unhandled.

To workaroun

[2019-09-11 18:46] marcysutton commented on #17561
Fantastic! Looks like the change was merged, so we can now close this issue. Thanks so much for contributing, and stay tuned for that doc!

[2019-09-11 18:46] #17561 closed

[2019-09-11 18:50] dpolant opened #17566 ""Typed List" Netlify CMS fields all share a common Graphql type, making fragment usage difficult"
## Summary
This specifically pertains to gatsby-plugin-netlify-cms

When working with a "typed list" field (see https://github.com/netlify/netlify-cms/blob/master/dev-test/config.yml#L212), the objects saved in the typed list all have the same graphql data type, making it difficult to craft Graphql fragments that respond to different types of objects.

## Relevant information
My goal is to create

[2019-09-11 18:54] love2dishtech opened #17567 "Gatsby Remark Images Cloudinary plugin"
## Summary
A remark plugin for the images stored in the Cloudinary servers. For sites with the markdown rendering stored inside a markdown file, storing static assets/images are a big problem. Local storage in git becomes ineffective as the image sizes get huge or there is a lot of content. Image processing servers like Cloudinary can be used to transform and store these images. Further there CDN

[2019-09-11 19:11] Undistraction opened #17568 "netlify-identity-widget always included in bundle, adding 166k"
## Description

`netlify-identity-widget` is always included in the app bundle, despite `gataby-plugin-netlify-cms` being configured not to use it. Even then it shouldn't be included in the app bundle as it is only used on the admin page.

Repro based on [gatsby-starter-netlify-cms](https://github.com/netlify-templates/gatsby-starter-netlify-cms): https://github.com/Undistraction/gatsby-netlify-cm

[2019-09-11 19:23] bjatwork opened #17569 "Feature request: display a custom error page when a page is unavailable offline [gatsby-plugin-offline]"
When i use "gatsby plugin offline" this work good in offline mode until user click page that he do not visit before. Then browser display no connection info and app crash.

What is the best approach to prevent for this?

For example if client click link to the subpage that he do not have in cache i want want to display mesage "This page is not available in offline mode" and block moving to this lo

[2019-09-11 19:25] FinnFrotscher opened #17570 "gatsby build throws TypeError: Promise resolver null is not a function"
## Description
`gatsby build` throws `TypeError: Promise resolver null is not a function`

### Environment

[code]

### Steps to reproduce
cannot publish the code.

### Expected result
A working bundle should be output.

### Actual result

[code]

[2019-09-11 19:26] benoitcalin commented on #17553
Thanks to both of you to take the time to look into it !
I thought it was WP server but could not find an appropriate way to handle this so your answers help me a lot :)

[2019-09-11 19:30] jonathanprozzi commented on #17433
Hello @rchrdnsh -- That article is awesome!

You may want to check out [gatsby-plugin-transition-link](https://www.gatsbyjs.org/packages/gatsby-plugin-transition-link/)

The plugin page has some site examples and also includes directions for use with animation libraries such as react-spring, react-pose, gsap, and anime.

Hope this is helpful!

[2019-09-11 19:33] rchrdnsh commented on #17433
I tried that plugin a while back, but the animations were not interruptible, which was a deal breaker at the time, plus those are only page transitions as far as i know, whereas I am trying to animate many things in many places, and libraries like react-spring, framer-motion, GSAP, etc, are a bit more capable. But I can circle back around and check out the plugin again now and see if things have c

[2019-09-11 19:35] FinnFrotscher commented on #17570
## Additional Information
the last line in the following snippet throws the error:
[code]

the two console.logs return
[code]

[2019-09-11 19:41] ehowey commented on #17131
I am still doing some hunting, trying to figure this out. Still a problem for me. Does anyone know if this might relate to the switch from babel 7.0.0 -> 7.5.5.  This switch happened around the time I started experiencing this bug and coincides with me beginning to see problems...I have been trying to get yarn resolutions to work in order to peg the babel versions at 7.0.0 but haven't had success

[2019-09-11 20:10] jonniebigodes commented on #17136
@MarcusCemes no need to thank. i'll keep an eye on this aswell

[2019-09-11 20:15] Js-Brecht commented on #16212
Still in progress

[2019-09-11 20:19] jonniebigodes commented on #17542
@pieh it seems that what's intended is to funnel all the requests to the router inside `/admin/` and let it deal with it. Probably this is more a edge case and a possible solution for this case is actually use the plugin.

[2019-09-11 20:24] jonniebigodes commented on #17557
@coldPen sorry that you're experiencing errors with gatsby, but based on the description itself it's a bit difficult to triage. Also you forgot to link the repo.

[2019-09-11 20:56] dopeters commented on #17542
@jonniebigodes The same thing happens in the actual app I found this issue in, which does use that plugin. If you are able to make an example with that plugin that works, I'd be very interested in seeing that.

Appreciate your help!

[2019-09-11 21:21] mrbjjackson commented on #17551
Update:

After doing more searching [I've found this thread on Spectrum](https://spectrum.chat/gatsby-js/general/possible-to-use-values-from-markdown-frontmatter-within-the-body-of-the-markdown-has-anyone-tried-this~57409c58-b359-4da0-83a0-a88b6fc3171f) that explained that any properties passed in <MDXRenderer> are available in the {props} object in the mdx file.

e.g. in my case I can do

`<MDXRe

[2019-09-11 21:34] #17559 closed

[2019-09-11 21:35] jonniebigodes commented on #17556
@roadwig i've been testing it out and it seems that while chrome and firefox are "smart" enough to detect the characters in the url and resolve it, it seems that edge is not. After issuing `gatsby develop` or `gatsby build && gatsby` serve and opening up the specific post in edge in windows 10 i'm presented with the following:
![roadwig_1](https://user-images.githubusercontent.com/22988955/6473647

[2019-09-11 21:54] danielmonk opened #17573 "Gatsby Slow Video"
Hi!

I've switched from having a video hosted on youtube to stored locally, but it's being really slow loading? Sometimes when trying to load the .mp4 video asset file itself it hangs for a few minutes? Any ideas would be appreciated.

My site url is: https://danielmonk.io/.

Thanks!

[2019-09-11 22:33] Polyhistor commented on #16984
Any luck or solution?

[2019-09-11 22:54] jonniebigodes commented on #1875
@Dara-To i went through the reproduction you supplied and it looks like everything is in working order.
- Issued gatsby develop and i'm presented with:
![dara_to_1](https://user-images.githubusercontent.com/22988955/64738992-c12d8d80-d4e8-11e9-958f-dfa8fca6d969.png)
- Opening up `http://localhost:8000` i'm presented with:
![dara_to_2](https://user-images.githubusercontent.com/22988955/64739023-d60

[2019-09-11 23:06] lucashfreitas commented on #16970
It sounds that gatsby does not recognize any fragment which is outside from "src" folder.

Apparently is also not possible to use staticQuery outside of src folder.

Will try to use the same workaround with gatsby-transformer-sharp.

Thanks for sharing :)

[2019-09-12 00:18] kevee commented on #16980
@marcysutton - Should I wait for a few of the other PRs to come in for Recipes then do a bigger 'meta' PR on this one?

[2019-09-12 00:34] LincMitch commented on #5021
@WhiteAbeLincoln I tried [gatsby-transformer-remark-frontmatter](https://github.com/WhiteAbeLincoln/gatsby-transformer-remark-frontmatter) but it gave me an error.

Do you get this error?

[2019-09-12 01:14] dchoinie commented on #16321
Getting this error #85907 GRAPHQL. Using gatsby-source-airtable & also get the message Unknown field 'allAirtable' on type 'Query'. Running gatsby develop & gatsby build are successful, only get the error deploying to Netlify.

[2019-09-12 01:54] sever1an commented on #10179
I have run a brief experiment into using react-helmet-async with Gatsby and find that it is rather easy to use. It basically just needs a context, which can be added in gatsby-browser.js:

[code]

To use <Helmet> in components the import simply needs to be changed to use react-helmet-async
[code]

I am not sure this would not be a breaking change for some gatsby-plugin-react-helmet users. At the v

[2019-09-12 02:03] n8finch commented on #16634
@gillkyle could I grab this one? If it's still up for grabs?

[2019-09-12 02:16] n8finch commented on #17346
I'll grab this one!

[2019-09-12 02:35] markjenkinson opened #17576 "UNHANDLED REJECTION Encountered an error trying to infer a GraphQL type for: `localImage___NODE`. There is no corresponding node with the `id` field matching:"
## Description

Having just upgraded to Gatsby 2.5.15, `gatsby develop` started producing this ERROR:

If I perform a `gatsby clean` before every `develop` there are no errors. But as soon as I try to run `gatsby develop` on an existing cache, the errors kill the build.

It appears that when running off cache, for whatever reason the `gatsby-plugin-remote-images` attempts to resolve before the `ga

[2019-09-12 02:39] sever1an commented on #10179
I have briefly experimented with what a plugin supporting helmet-async might look like, and it seems quite simple. This hypothetical plugin would basically emulate the redux plugin, because the only real difficulty is wrapping the root element in a helmet context.

**wrap-with-helmet-provider.js**
[code]

**gatsby-ssr.js and gatsby-browser.js**
These use the similar-and-complementary APIs for wrap

[2019-09-12 04:18] jbolda commented on #10386
To be clear, this is built into the `gatsby-source-airtable` plugin. If you are using that plugin, the documentation explains how to set this up that they are downloaded and fed into `gatsby-image`.

[2019-09-12 05:42] roadwig commented on #17556
Hi @jonniebigodes, thanks for having a look so quickly.
At first I thought it the bug was simply MS Edge being incapable of handling unicode characters in a URL, but that doesn't seem to be the case. I can navigate to something like `http://example.com/føo` in Edge and the URL will resolve correctly.

I found that a similar issue occurs with Gatsby Link components - if the `to` prop contains some

[2019-09-12 06:43] dennisroethig opened #17578 "Missing `crossorigin` and `as="fetch"` attributes on linkPrefetch cause CORS/CORB issues"
## Description

It seems that the latest version of Chrome (tested on v76) doesn't like the prefetch links for JSON files if they are used in combination with the `assetPrefix` hosted on a different domain due to CORS/CORB concerns.

e.g.
[code]

**Update**: Looking at [/packages/gatsby/cache-dir/static-entry.js#L325-L335](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/st

[2019-09-12 06:45] dennisroethig commented on #17578
I'm happy to look into putting a pull request up for this if there's some appetite to address it. Currently, I use a gatsby fork here that fixes it for me/us:

https://github.com/dennisroethig/gatsby/commit/b7cf48483a82409073dcec9a62f738e01622b10a

But happy to take some direction if the core team got opinions around how this should be addressed - just let me know :)

[2019-09-12 06:54] keithmifsud commented on #2567
Just a note for future readers: I had this problem after renaming a directory of a blog post. Running `gatsby clean` worked for me straight away.

[2019-09-12 07:30] wardpeet commented on #17570
@FinnFrotscher this is mostly an issue with the website itself. No need to log it on yoga-layout as it's not their bug.

To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'

[2019-09-12 07:35] wardpeet commented on #17450
Please also clean the cache:

Linux/mac:
`gatsby clean; rm -rf node_modules`

Windows:
`gatsby clean; Remove -Recurse -Force node_modules`

[2019-09-12 07:37] wardpeet commented on #17553
Thank you for opening this, @benoitcalin

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-09-12 07:37] #17553 closed

[2019-09-12 07:37] FinnFrotscher commented on #17570
will do.

[2019-09-12 07:43] wardpeet commented on #10179
@sever1an thank you for taking the time to write such a comprehensive post. Sadly we're not able to move away from react-helmet in v2 as it would be a breaking change with gatsby-plugin-react-helmet.

What's the reason to use StrictMode?

[2019-09-12 07:47] wardpeet commented on #16321
This error indicates that it can't resolve the query. This might be due to  env variables not being set correctly, host not available or schema not matching because of inference.

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that m

[2019-09-12 07:49] wardpeet commented on #16970
Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll

[2019-09-12 07:51] wardpeet commented on #17573
Hi @danielmonk !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal repro

[2019-09-12 07:52] wardpeet commented on #17556
Hi @roadwig!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduct

[2019-09-12 11:49] einSelbst opened #17584 "Incompatible Licenses Apache2.0 & GPLv2 (gatsby-plugin-sharp)"
## Summary

Hello!
Because reasons I had to make sure all licenses in a certain gatsby project we have play well together. Unfortunately there is an issue.

As explained here https://www.apache.org/licenses/GPL-compatibility.html

There are several apache2.0 licensed packages in a typical gatsby project, eg. starter has 42
and one library which is GPLv2 licensed, so this is where I see a problem.

[2019-09-12 13:40] lannonbr opened #17587 "[meta] How to manage issue process when someone is assigned to an issue"
## Summary

It has come up recently that there has been incidents in which someone asks to work on an issue, they are assigned, and then someone else goes ahead and creates a PR which gets merged. This leaves the original person who was going to work this in the dark which can look bad on many ends.

This was discussed yesterday in the Community Maintainers Meeting and we did talk about it, but gi

[2019-09-12 14:57] moshie opened #17588 "[gatsby-source-rss-feed] Better error detection"
## Description

When the feed items don't have a link associated with them the error is vague and unhelpful it would be nice to throw an error which is more informative rather than this:

[code]

### Steps to reproduce

Create a new gatsby project
Pull in the gatsby-source-rss-feed plugin
setup as expected in the documentation
use a rss feed which doesn't have a link defined for each item.

### Ex

[2019-09-12 17:27] MWalid opened #17591 "Default starter not upgrading to latest Gatsby packages"
I disconnected my internet, refreshed https://www.gatsbyjs.org and got site cannot be reached!

Even tried with `gatsby-default-starter`, enabled `gatsby-plugin-offline` on https site, and still, the site is not served when offline!  https://thetechchannels.com/bc/

I was expecting 100% offline support, something like: https://deanhume.com/create-a-really-really-simple-offline-page-using-service-w

[2019-09-12 17:45] zslabs opened #17592 "MDX GraphiQL error with html field"
**Describe the bug**
Cloning down https://github.com/ChristopherBiscardi/gatsby-starter-mdx-basic running the following on GraphiQL:

[code]

Returns this:

[code]

It looks like this was originally added in https://github.com/ChristopherBiscardi/gatsby-mdx/pull/164 but maybe there's a regression?

**Expected behavior**
Returns rendered HTML.

Thanks for any help!

[2019-09-12 17:55] fionawhim opened #17593 "[gatsby-remark-images] Large blank spaces / blurs in RSS feeds"
## Description

The `gatsby-remark-images` plugin causes large blank space above images in RSS readers that apply the page’s inline styles.

This seems to be due to #14816, which moved the `<img>` tag’s positioning out of the `style` attribute and into a `<style>` tag that is not seen by RSS readers.

Because of this, the `<img>` is not absolutely positioned over the background element, which caus

[2019-09-12 19:51] ryanto opened #17594 "gatsby-mdx: Is it possible to render an mdxast?"
## Summary

Hello! I have an mdxast that's stored in my content mesh. Is it possible to render this (or convert it) to something that gatsby-mdx can render?

## Relevant information

AST:

[code]

Thank you!

[2019-09-12 21:33] mangosing opened #17595 "MDX images showing both blurred and non-blurred images stacked"
- Documentation: https://www.gatsbyjs.org/docs/mdx/plugins/

## Summary

Going through the docs on MDX and set up a very basic few pages with images. For some reason with the default config of gatsby-remark-images I am getting both the blurred & the regular image stacked on top of each other. Blurred image being on top. I have looked thourgh the docs for something I might have configured wrong and

[2019-09-13 06:57] robmarshall opened #17603 "Feature Request - Custom Event Tracking [gatsby-plugin-google-analytics]"
Hi,

I was about to write a custom event tracker in my most recent Gatsby build, but figured if it would help you out I could add it to your Google Analytics plugin.

The concept would be:

User can export a function "customTrackingEvent" from gatsby-plugin-google-anaytics

They can provide values for:
- eventCategory
- eventAction
- eventLabel
- eventValue

An example would be tracking what filte

[2019-09-13 07:26] henricazottes opened #17604 "Build not finishing with large number (10k) of files and Elasticlunr"
# Github issue

## Summary
I'm trying to build a site containing 10k pages and be able to search on their content. I tried to build the project but the build process is stuck at this step:

[code]
All attempts have been done with this NODE_OPTIONS:
[code]
So far:
- Building 10k pages WITHOUT elasticlunr succeed in few minutes.
- Building 2k pages WITH elasticlunr succeed in about 2 minutes.
- Rema

[2019-09-13 07:47] thovden commented on #17136
Also hit this problem today. I had some additional issues importing specific `core-js` polyfills from my own code as well, with the same error - i.e., `import 'core-js/es/some-polyfill'` results in error described here. `import 'core-js'` works fine. So my hunch is that has something to do with the `core-js` and `babel` integration, and Gatsby heavily configures babel. https://github.com/zloirock/

[2019-09-13 08:34] chetanbane opened #17605 "How to add veriable as relativeDirectory"
[code]

I want to change "ground-mounted-solar-plants" to directory

I am new to graphQl as well as gatsby

My code is as below

[code]

[2019-09-13 08:36] LekoArts commented on #17234
I cloned your repo again after realizing that your real issue was the misplacement of the `feeds` option. You closed the `options` early ([here](https://github.com/mathiasha/gatsby-feed-bug/blob/6d462fcd1373b5a5a3e37945838ae6a5e494506e/gatsby-config.js#L40)) and hence the `feeds` option never was considered.

So this is a user error and nothing we can fix in the documentation or code :)

[2019-09-13 09:17] thovden commented on #17136
There is no simple way out of this, since `core-js@2` is hardcoded several places in gatsby. So code to be compiled with gatsby cannot use direct `core-js@3` imports for now.

[2019-09-13 09:24] LekoArts commented on #17605
Hi, thanks for opening the issue! Please use our issue template in the future so that we can help you quicker and better. Thanks!

So here are actually multiple things to consider and answer:

1) You are grabbing the directory in the client (since it comes from localStorage) and want to use that in Gatsby's graphql queries. This won't work as all GraphQL queries are executed at build time and you

[2019-09-13 09:24] #17605 closed

[2019-09-13 09:33] LekoArts commented on #17595
Let's close this as a duplicate of https://github.com/gatsbyjs/gatsby/issues/15486

Sorry for the inconvenience!

[2019-09-13 09:33] #17595 closed

[2019-09-13 09:33] m-allanson commented on #12396
The excellent @tesseralis is going to be working on this 🎉 Please [head over to the RFC]( https://github.com/gatsbyjs/rfcs/pull/42) to add your ideas and comments.

[2019-09-13 09:42] antkahn commented on #17291
Hello!

It happened to me on https://www.gatsbyjs.org/packages/@gatsby-contrib/gatsby-plugin-elasticlunr-search/ on the code block `{ expand: true }`
And also on https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/ on the code block `gatsby-dev --packages gatsby-link`

It seems to depend on the screen resolution.

Cheers!

[2019-09-13 09:43] LekoArts commented on #17592
Hi, thanks for the issue and sorry for apparently some misleading docs/poor DX. You can only use the `html` field on build, and not in development/GraphiQL.
Issue to track this: https://github.com/gatsbyjs/gatsby/issues/17210

Please use `body` in all other instances :)

[2019-09-13 10:00] davidbailey00 commented on #17591
Hey there, thanks for opening this!

The issue you've reported was actually fixed in #17408 - however, there seems to be an issue on our side that the default starter is still using v2 of the offline plugin, rather than v3 which has been released with this fix.

For now just run `yarn upgrade --latest` or `yarn install gatsby-plugin-offline@latest` inside your repository, which should fix the issu

[2019-09-13 10:02] LekoArts commented on #17603
Hi @robmarshall 	👋
Thanks for the feature request, we'd love to have this in our plugin!

If you have questions about contributing to Gatsby, you can head over to https://www.gatsbyjs.org/contributing/
We also offer pair-programming sessions if you need help with implementing this feature. Last but not least you can of course reach out to us here in this issue if any questions arise. Thanks for th

[2019-09-13 10:04] LekoArts commented on #16970
I think I also left this comment on our [Discord server](https://discord.gg/gatsby), but I'd encourage you to try using [Gatsby Themes](https://www.gatsbyjs.org/docs/themes/). I think these will solve the problems you have.

[2019-09-13 10:09] LekoArts commented on #17573
I'm closing this issue as it doesn't seem to be caused by Gatsby itself, but rather the massive video file you're serving to your users.

You will want to minimize the filesize, e.g. by using a tool like Handbrake or offer different video files for different browsers (e.g. webm). Your youtube solution probably worked better in the past as youtube knows pretty well how to compress video without a l

[2019-09-13 10:09] #17573 closed

[2019-09-13 10:14] LekoArts commented on #17545
I know, no one wants to hear the infamous "it works on my machine", but as we mentioned in the linked issue the problem doesn't exist because of the sharp plugin, but outdated libvips version – that's also the reason why `gatsby new` works for me just fine. Therefore we shouldn't change the version in the default starter.

[2019-09-13 10:15] chetanbane commented on #17605
I have more the 8 Directories which I wan to bind with one code

[2019-09-13 10:20] polarathene commented on #17110
The blurred preloader image is meant to be small enough to be embedded into the html payload. It has the benefit of giving a fast render and approximation before the proper image is loaded in. If the image supports progressive loading, then choosing to use the preloading placeholder will perhaps be in the way.

I haven't been using Gatsby lately, but I remember you can disable this placeholder, or

[2019-09-13 10:26] polarathene commented on #17110
You can see an example of using CSS blur with the placeholder and without [here](https://github.com/gatsbyjs/gatsby/pull/10702#issuecomment-450375403), where I did my best to justify the blur filter as suitable for todays websites. I have a final response to that from some time ago that I haven't posted. There was an optimization that could be applied to further reduce the small paint overhead for

[2019-09-13 11:00] danielmonk commented on #17573
Hi guys, thanks for your help! Took the sound off the video and optimised it down to less than 10mb and now works fine! Thanks again for your help.

[2019-09-13 11:07] wardpeet commented on #17335
I would like to know what people think of the workaround? I rather have a real fix. We're happy to publish a major version of this plugin if we need to to do breaking changes to get this working again.

[2019-09-13 11:11] omonk commented on #17335
I'm still waiting to hear back from medium, they said they would speak to their platform team.

The work around works but does majorly limited the plugin features. We've been able to work around this by using other methods.

[2019-09-13 11:27] problem233 opened #17606 "How to disable ESLint completely?"
I want to remove ESLint from my Gatsby site completely, but Gatsby doesn't seem to provide a way to do this.

[2019-09-13 12:02] patspam commented on #16281
FYI The sourceMaps inline suggestion didn't work for me.

[2019-09-13 12:03] rafael-nogueras commented on #3721
I, too, am looking for path prefix to be added in development, and so far have not found a satisfactory solution (e.g. the one mentioned above seems to only work for the `/` path).

I tried implementing `onCreatePage()` in gatsby-node.js to replace all pages with ones where the path included the prefix path (only in development), but I ran into the following issues:

- For some reason, `onCreatePa

[2019-09-13 12:03] henricazottes commented on #17604
After enabling progress logs thanks to `webpack.ProgressPlugin()`, I saw the build was stuck at:
[code]
which lead me to this [this answer](https://github.com/angular/angular-cli/issues/5775#issuecomment-310637159):
[code]

Sadly, commenting the `sourcemap` in `gatsby/dist/utils/webpack.conf` didn't help :/
[code]

[2019-09-13 12:14] polarathene commented on #15189
@ehannes  I don't think there is. I've not had time to allocate to working on this unfortunately due to other events. It's likely still a month away until I can work on this.

[2019-09-13 12:21] SamIngram96 commented on #3721
My team tried implementing the [onPreRenderHtml](https://www.gatsbyjs.org/docs/ssr-apis/#onPreRenderHTML) function in gatsby-ssr.js to add a [base](https://www.w3schools.com/tags/tag_base.asp) tag to the header to asset prefix all relative links, but this still didn't prefix /common.js or /socket.io/socket.io.js

[2019-09-13 12:51] #14895 closed

[2019-09-13 12:54] Wolfsun opened #17607 "[ gatsby-source-filesystem ]: Globbing in path option"
## Summary

gatsby-source-filesystem enforces an opinionated file system structure. The plugin path option (gatsby-config.js) configures a single directory (incl. nested dirs) and maps all contained files to a single name (sourceInstanceName). The ignore option provides some ability to exclude files, but is only useful in simple situations. Not blocking support for globbing in the path option (as

[2019-09-13 12:59] MWalid commented on #17591
Thanks for your response, great news its been resolved!

[2019-09-13 13:15] vtolenti89 opened #17608 "Adding global SCSS styles (e.g. h1,h2,p)"
## Summary
I am unable to add a global SCSS style file to my project. I currently have the following project structure.
[code]
and `styles.scss` and `_typography.scss` are e.g. configured respectively in the following way:
[code]
[code]
Whenever I try to apply any of the styles defined in `_typography.scss` I get e.g. the following error:
[code]
it seems that `gatsby-browser.js` is not importing t

[2019-09-13 13:29] timurc commented on #17110
hey @polarathene thanks for your thoughts! I will look into https://github.com/gatsbyjs/gatsby/pull/17148 , it might indeed be related.

About my particular example: the added round-trip that I am talking about is the JS itself when the page loads with an empty cache. For that it does not matter if there is a blurred preview or not.

With the `gatsby-image` component:

Round 1: request html
Round

[2019-09-13 13:45] andrewfairlie opened #17609 "Preview when fetching all data in gatsby-node vs page queries"
## Summary
Is it possible to use preview if you load in all of your content at `gatsby-node.js` level vs page queries?

## Relevant information
We've found build times to be a lot more performant when we do a few big queries at `gatsby-node.js` versus thousands of individual page queries.

I just wondered, because I couldn't see this documented, if we were to use this method would it break Gatsby

[2019-09-13 13:53] alinenko commented on #13201
It seems like because of Chrome native lazy loading thresholds custom gatsby-image lazy loading behavior is lost. In Firefox images are loaded as soon as they are in viewport but in Chrome [hadrcoded thresholds are used](https://cs.chromium.org/chromium/src/third_party/blink/renderer/core/frame/settings.json5?l=971-1003&rcl=e8f3cf0bbe085fee0d1b468e84395aad3ebb2cad) and there is no way to neither c

[2019-09-13 13:57] #17537 closed

[2019-09-13 14:01] NateRadebaugh commented on #13918
For what it's worth, I was hitting this issue myself using a new gatsby-theme-blog starter project and resolved the issue by updating my dependencies. The starter repo had out of date dependencies when it was cloned/installed, so updating the version had the fixes I needed!

[2019-09-13 14:04] 9gaurav opened #17610 "Gatsby Cli error - SyntaxError: Unexpected token"
## Description

Installed gatsby-cli for the first time. And ran command "gatsby new"
It throws an error.

I tried uninstalling-reinstalling. As well as installing older versions.
But the issue persists.

None of the gatsby commands are working.

### Steps to reproduce
`npm install -g gatsby-cli`

`gatsby new gatsby-site`

Produces error

### Expected result

Should create new webapp directory wit

[2019-09-13 14:59] simonjoom opened #17614 "[Discussion] gatsby-plugin-offline service worker uses uncompiled ES6"
the new gatsby-plugin-offline use a lot of async in the code of sw-append.

what the interest to create gatsby for es2015 with babel if the offline plugin won't adopt the same? (the plugin and the file sw-append is not babelifed by gatsby)

So I changed all code of sw-append for Promise like below.
As well removed new URL who need a huge babel polyfill (i want smaller code as possible)

Please be

[2019-09-13 15:35] rafael-nogueras commented on #3721
@SamIngram96 Huh, that's an interesting approach. Would you mind sharing your  onPreRenderHtml function implementation?

[2019-09-13 15:41] 9gaurav commented on #17610
Found the cause. Node version was old. Problem fixed as I updated Node to latest.

[2019-09-13 15:41] #17610 closed

[2019-09-13 15:48] coldPen commented on #17557
Thank you @jonniebigodes , [here's the repo](https://github.com/coldPen/ateliers-chartreux) although I'm not sure this has anything to do with the project itself, I can run `develop` and `build` on my Linux computer, this seems specific to WSL?

[2019-09-13 16:41] SamIngram96 commented on #3721
@rafael-nogueras I don't have it on me anymore, I didn't keep it because it didn't solve our problem but it was small and went something like
[code]
hope this helps

[2019-09-13 16:44] trickydisco78 opened #17617 "Add ARIA name to gatsby wrapper"
## Summary

Brief explanation of the feature.
Add accessibility ARIA name to outer div

currently set at

[code]

### Motivation

This has been flagged by accessibility auditors as an accessibility issue

![image](https://user-images.githubusercontent.com/3627429/64879540-19ca6b00-d64e-11e9-93dc-07f132d405e1.png)

[2019-09-13 17:27] #15775 closed

[2019-09-13 17:27] #16007 closed

[2019-09-13 17:27] #16464 closed

[2019-09-13 17:27] #16526 closed

[2019-09-13 17:27] #16539 closed

[2019-09-13 17:28] #17592 closed

[2019-09-13 17:36] polarathene commented on #17110
`gatsby-image` uses the picture element instead of just a single img element, when used with the relevant GraphQL fragment, you get your image resized and optimized for various sizes that the picture element will link to. If you really need to support a case for 3k px wide image, that should be doable still, I think you may need to be explicit about also using that when appropriate(unless it's for

[2019-09-13 18:31] r-i-c-h commented on #17617
Dunno what tool you're using but for my 2c, I disagree with your auditor. The use of WAI-ARIA should be minimized, not aggressively thrown around which is the tendency of ppl less familiar with it. There is ZERO(?) circumstance in which a user will want to select\be-aware-of the existence of the overall wrapper. If anything, I wonder why the role="group" is there to begin with...

(Plus, if nothin

[2019-09-13 18:34] r-i-c-h commented on #17606
Try making a .eslintignore file with * or src/* or something like that?

https://eslint.org/docs/user-guide/configuring

[2019-09-13 18:44] gotofritz commented on #11026
None of the suggestions above worked for me (yarn, OS X, node 12.9.1) except for downgrading to Node 10, cleaning the yarn cache, rmving node_modules, running yarn install

Annoying having to downgrade my node version for some image processing functionality I don't even use, but better than nothing I guess.

[2019-09-13 18:55] cryic commented on #11607
I ended up changing my project a little, so I only ended up need child data a single layer deep.

Instead of requesting the nested relationship, I ended up breaking out the nested data into separate, aliased queries. I could then filter/limit those queries.

So originally, my query was something like:
[code]

I pulled out the nested `blog_posts` to:
[code]

That said, it would be great to have a s

[2019-09-13 20:34] kevee commented on #17521
I started working on this one a bit. Before I continue, let me know if this is the direction you are looking for:

- [The API files landing page](https://github.com/kevee/gatsby/blob/docs/gatsby-api-files-17521/docs/docs/api-files.md)
- [gatsby-config.js documentation page](https://github.com/kevee/gatsby/blob/docs/gatsby-api-files-17521/docs/docs/api-files-gatsby-config.md)

My initial thought is

[2019-09-13 20:51] borisyordanov commented on #8096
Hot reloading not working on Windows 10 for me either

[2019-09-13 20:59] diegoavalon commented on #9615
The above setup looks correct to me. Have you set your request API version to 3? Found in the admin dashboard: Settings > Permalinks

![Screen Shot 2019-09-13 at 1 47 31 PM](https://user-images.githubusercontent.com/8173272/64894438-9e0cf600-d62e-11e9-9d00-208d73545ec0.png)

[2019-09-13 21:44] marcysutton commented on #17617
Hey all, thanks for the issue. Regardless of what any given tool is reporting, it's worth considering the user impact of such a recommendation. The purpose of an accessible name for a landmark region would be to identify it from a list of landmarks and audibly present a string of information when that element is focused (as opposed to its contents). We're currently still in a research phase for ho

[2019-09-13 21:49] michelle-hoang opened #17621 "gatsby-starter-default is flashing/ stuck in infinite loop"
## Description

I am working on a project using the gatsby-starter-default. When I run gatsby-develop, my project will spin up on localhost/8000, but it flashes in different css styles and will not stop hot reloading (even though no changes have been made during this time). I had previously installed the gatsby manifest and offline plugins, but have since removed them from the config file. My proj

[2019-09-13 21:50] marcysutton opened #17622 "[docs] add a brief section to Building Apps with Gatsby doc on client-only routes"
We've done some [shuffling around of docs recently](https://github.com/gatsbyjs/gatsby/issues/16133) to make a standalone doc on [Creating Client-Only Routes](https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/), and the trail of information has been lost somewhat as a result. Take this StackOverflow post: https://stackoverflow.com/questions/48069170/is-it-possible-to-run-gat

[2019-09-13 21:50] michelle-hoang commented on #17621
error is shown in .zip file

[2019-09-13 22:01] michelle-hoang commented on #17621
Here is the error from the gatsby-starter-default.
[gatsby-starter.mov.zip](https://github.com/gatsbyjs/gatsby/files/3611947/gatsby-starter.mov.zip)

[2019-09-13 23:13] universse commented on #17499
Is this what you need? https://www.gatsbyjs.org/docs/build-caching/

[2019-09-13 23:19] zanehiredevs opened #17624 "Gatsby app combined from many sources"
I am creating a site that is pulling from 2 graphql sources, contentful and an external product endpoint and then I'm manually combining the data and doing some transform work then passing it into the default template as data props for all subsequent pages.

This is working fine but I'm doing the combining and transforming in the default template javascript file which means it's processing it with

[2019-09-13 23:57] trevorliberty opened #17625 "Gatsby build on localhost works fine, but Github Pages has Network issues"
## Summary
I am testing out my first Gatsby production build, and when I am on my localhost, the build looks fine.

However, when I put my public build in my github pages repository, the styling is messed up completely.

## Relevant information

I took a look at my Network requests and found that Github pages was getting almost all 404 status for scripts and fetches:
[img](https://i.imgur.com/AZl2

[2019-09-14 00:04] muescha opened #17626 "docs: move inline commands in paragraph into new block in new line"
## Summary

move inline commands in paragraph into new block in new line

### Basic example

#### before

5. Run `gatsby-develop` to see the newly generated pages and navigate through them.

#### after

5. Run gatsby develop to see the newly generated pages and navigate through them:
[code]

#### code changes

[code]

### Motivation

I suggest always put commands which I need to run in terminak to

[2019-09-14 00:06] jnsrikanth commented on #17079
@KyleAMathews this is a serious issue as this is hampering leveraging gatsby local blog capabilities (without a headless CMS API etc.) using powerful features such as MDX wherein a small change in the markdown file or adding, removing of MDX files is causing the entire site restart...If this is a bug or a webpack issue as pointed out above by @PsychedMagnet , please let us know of a fix. If it is

[2019-09-14 00:19] simonjoom commented on #17621
try to remove completely inside public/ and remove the folder .cache before to build again
it's look like the offline plugin do problem. on chrome remove the cache completly . in develop tools remove the cache from Application -> clear storage

[2019-09-14 00:49] problem233 commented on #17606
@r-i-c-h Is it possible to make gatsby not to call ESLint at all, so that I can remove the eslint dev dependency?

[2019-09-14 01:01] jonniebigodes commented on #17624
@zanehiredevs you can start by taking a look in [here](https://www.gatsbyjs.org/tutorial/part-seven/) and [here](https://www.gatsbyjs.org/docs/programmatically-create-pages-from-data/).

Also if you want, take a look at the [blog starter](https://github.com/gatsbyjs/gatsby-starter-blog) for instance, where you can see how the data is fetched and passed to the template itself via the `context` prop

[2019-09-14 01:07] jonniebigodes commented on #17557
@coldPen cloning it to my wsl machine and going to take a look at what could be the issue.

[2019-09-14 02:42] rikakomoe commented on #16983
Any update here?

[2019-09-14 06:29] #17625 closed

[2019-09-14 07:48] polarathene commented on #13201
@alinenko yes that's correct. In a browser that supports native lazy loading, or does not have IntersectionObserver support, the visibility of the full image to load will be enabled(which will allow the browser to apply it's lazy/eager loading logic). The code that affects that is in the [`gatsby-image` Image constructor](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/ind

[2019-09-14 08:48] kitmacleod commented on #16233
I am a fan (and user) of Gatsby and like the structure and presentation of comparison. From a look at Gatsby vs Next, is this completely objective- is there no area/feature that Next outperforms Gatsby (maybe not)?

[2019-09-14 09:18] aleksitaipale commented on #9568
+1 from me also.

I have to agree with @olapersson and others above, relying on names seems quite fragile. Needing to do a find-and-replace every time the name of a field is changed does not seem very sustainable, especially if the client is able to change the names (which in many cases they should, imo, to make the site fit their mental model).

Besides, in situations where the client site is not

[2019-09-14 10:24] bjatwork opened #17628 ""gatsby-source-custom-api" threw an error while running the sourceNodes lifecycle:"
After "npm upgrade latest" i get following error:

ERROR #11321  PLUGIN

"gatsby-source-custom-api" threw an error while running the sourceNodes lifecycle:

ENOENT: no such file or directory, open 'internal/process/task_queues.js'

  Error: ENOENT: no such file or directory, open 'internal/process/task_queues.js'

  - stack-trace-utils.js:33 getNonGatsbyCodeFrame
    [system]/[gatsby]/dist/utils/s

[2019-09-14 11:25] grnkvch commented on #17417
I've faced the same issue, I don't realize reason, but it relates to configuration of particular machine, I successfully started with hooks at another one

[2019-09-14 11:26] keithmifsud commented on #12370
Just putting my two cents in here.

GatsbyJS, @KyleAMathews, @wardpeet and every other contributor are not and should not be under any obligation to provide anything for free. It the onus to abide by GDPR stands at the users of GatsbyJS and website publishers. It is insane to say otherwise.

As @wardpeet mentioned, GDPR is very complex, and in all fairness, it is neither complete nor explicit in m

[2019-09-14 11:51] jonniebigodes commented on #17628
Could you provide a reproduction, so that it could be looked at in more detail?

[2019-09-14 12:02] trumbitta commented on #13072
I have some demos in my website, and I was able to serve them with Jekyll but now I can't see them in "develop" with Gatsby.

[2019-09-14 12:20] mahaveer0496 commented on #9779
If someone can help outline points that need to be covered, I could do it over the weekends.

[2019-09-14 12:33] zslabs opened #17630 "MDX GraphQL transformer"
# Summary

While MDX does work for Markdown body copy, I frequently have content I query via GraphQL; for example from a `yml` file (still in Markdown format though) that I'd like MDX to parse before returning. Is there something within `gatsby-node.js` that I can hook into so that it returns the same rendering engine the compiled JSX `gatsby-plugin-mdx` provides? I've heard of `@mdx/runtime` but

[2019-09-14 13:23] mebtte commented on #16924
It is not stale.

[2019-09-14 13:30] jjazzymane commented on #14672
The gatsby-contentful-starter worked for me as well. When I click on the link content, the associated data those pages shows up correctly.

[2019-09-14 13:30] #14672 closed

[2019-09-14 13:53] harshitjuneja commented on #17587
Happens frequently with projects after they achieve a certain scale in terms of contributors.

Most projects go by the points that have been mentioned already in the discussion.

1. Having an informative label e.g. claimed for issues, that discourages others to pick an issue that's claimed.

2. Defining a time range after inactivity for issues and unassigning/assigning them accordingly. I think po

[2019-09-14 17:27] #15841 closed

[2019-09-14 19:02] zanehiredevs commented on #17624
@jonniebigodes nice thanks for the links, I'll give it a shot today and report back!

[2019-09-14 21:56] jonniebigodes commented on #17624
@zanehiredevs take a look at [here](https://github.com/jonniebigodes/gatsby_zanehiredevs_multiple_sources), i've created a minimal gatsby site whose content will be sourced from contentful and another graphql endpoint/source. Take a look at the `gatsby-node.js` to check on how to fetch the data and create and populate the pages based on the data recieved and how is injected into the page. Two poin

[2019-09-14 22:35] jonniebigodes commented on #17557
@coldPen i've been testing this today and this one is kinda tricky to triage. Here are the steps i took.
- Cloned the repo into my ubuntu wsl "machine". I'm running Ubuntu 18.04 LTS
- Here's the result of `gatsby info` in Ubuntu.
![cold_pen_wsl_1](https://user-images.githubusercontent.com/22988955/64914209-3944bf00-d746-11e9-9152-20507399a9b9.png)
- Installed the dependencies and issued `sudo yarn

[2019-09-14 23:26] zanehiredevs commented on #17624
@jonniebigodes nice thanks that helps a lot!  I was able to follow the example and pull from multiple data sources and inject it using the context successfully like your example.  But now I am hitting another wall..  I need to be able to merge the data together before it renders based on the page slug being loaded.  Another words, run through the contentful query result and match up any products w

[2019-09-15 01:14] jackbravo commented on #12503
@jlengstorf how did the call with algolia go?

[2019-09-15 01:19] jackbravo commented on #13876
@gillkyle about point #1 in the description: `searching for gatsby wordpress should bring up Sourcing from WordPress`. I see that searching only for `Wordpress` does bring up that page from the documentation on the search results, but buried after blog posts. If you search for `gatsby wordpress` then you get only results from blog posts. Seems to me like documentation results should have a higher

[2019-09-15 01:30] jackbravo commented on #14890
Seems like this effort is now finished, right? There is this new section: https://www.gatsbyjs.org/docs/mdx/ Should this issue be closed?

[2019-09-15 03:08] amreshk005 commented on #17626
@muescha can I take this issue.

[2019-09-15 04:52] jonniebigodes commented on #17624
@zanehiredevs with that in mind it seems that some adjustments are in order. One thing to keep in mind is that with gatsby you have more than way to achieve the same result.

If you have a way to correlate the contenful data to the external graphql api it should be too dificult, you can use page queries in your template with variables and fetch the data you need. The query will execute at build ti

[2019-09-15 05:07] DotFreelance commented on #14395
### The Web Hook doesn't seem to work for me

As far as I can tell, the idea of the web hook does not work as documented. Unless I've missed something, using this does not actually refresh any (or all) source plugins.

I've tested this using the Wordpress source plugin. I have a page that is retrieved through: GraphiQL endpoint, a query in a page in Gatsby, and with Postman.

Setting the environme

[2019-09-15 06:23] muescha commented on #17626
you are welcome 👍

[2019-09-15 06:44] mo-ro opened #17638 "How to compress images linked external .md file"
## Summary
I'm currently fetching github issue data with GraphQL, but I get raw image data from github, which size can be super large.
What I want to do is copying those images to my server and compressing those images as I build my project.
Is there any way to solve this problem?

## Relevant information
I've already tried some following plugins which seems helpful in this situation.
`gatsby-tran

[2019-09-15 07:09] MarcCoet commented on #3344
Hey @stefanprobst . Awesome work!
Sorry for the late reply. This has been stalling for so long that I got used to the workarounds and it was not a major problem anymore to me. It is so neat though that this is moving forward! :)
I gave it a quick try and it worked seamlessly! That is rare enough to salute. ;D
I am working on a big update on a project and I will have some more 'real world' testing

[2019-09-15 09:07] bjatwork commented on #17628
@jonniebigodes
https://github.com/bjatwork/gatsbyreproduce

this happened on pure gatsby / gatsby-custom-api installation, after update. With previous gatsby version there was no errors.

[2019-09-15 09:09] bjatwork commented on #17628
@jonniebigodes
repository -

This happend on pure installation, with no modification

PS G:\work\gatsbyjs\reproduce> gatsby develop
success open and validate gatsby-configs - 0.076 s
success load plugins - 0.723 s
success onPreInit - 0.048 s
info One or more of your plugins have changed since the last time you ran Gatsby. As
a precaution, we're deleting your site's cache to ensure there's not any

[2019-09-15 10:00] pranshuchittora commented on #17638
Hey @mo-ro,
Are you fetching the data from the GitHub's API (external data source)?

[2019-09-15 10:03] pranshuchittora commented on #17626
IMO, these changes are not required, as it might a bit confusing.

cc @LekoArts

[2019-09-15 10:08] mo-ro commented on #17638
Hi @pranshuchittora ,
Yeah, you're right.

[2019-09-15 10:12] pranshuchittora commented on #17638
I don't think you can do that directly. You might need some kind of middleware to perform that task for you.

[2019-09-15 10:20] mo-ro commented on #17638
Hmm...
If I have those .md files and related images at my local, is it possible to optimize them with the plugins I mentioned?

[2019-09-15 10:22] pranshuchittora commented on #17638
If the Images are locally present then you can always perform those cool image optimisations.

[2019-09-15 10:23] pranshuchittora commented on #17638
Shall I close this issue?

[2019-09-15 10:26] mo-ro commented on #17638
Sure, thanks a lot!

[2019-09-15 10:27] #17638 closed

[2019-09-15 10:29] pranshuchittora commented on #17638
You can always reopen this issue if you want any help related to that.
Happy Hacking :smiley:

[2019-09-15 10:35] pranshuchittora commented on #3220
Hi there, I think a lot of work is required in order to migrate. I think the webpack ecosystem is huge, tried and tested by the industry.

I am closing this issue, but feel free to reopen.
Happ Hacking :+1:

[2019-09-15 10:35] #3220 closed

[2019-09-15 11:34] coldPen commented on #17557
Thank you for paying close attention to this! I'll get back to you as soon as I get back on this computer.

[2019-09-15 13:34] tseboho commented on #14673
I had a similar issue; the issue turned out to be using Yarn for building due to having defined it inside `netlify.toml`, I simply changed that call to use `NPM` along with other calls in my package.json

[2019-09-15 13:36] NurbekGithub commented on #15273
The same on 2.15.14

[2019-09-15 14:15] amreshk005 commented on #17626
@muescha @muescha can I proceed further??

[2019-09-15 14:45] muescha commented on #17626
@amreshk005 yes go

[2019-09-15 14:49] muescha commented on #17626
@pranshuchittora

_Source @mehtavishwa30_ #17374

[2019-09-15 14:52] pranshuchittora commented on #17626
Oh, I didn't know that.
@amreshk005 pls go ahead with this and let me know if you need any help.
Happy Hacking :smile:

[2019-09-15 16:09] lannonbr opened #17643 "Issues when having a static query and page query in the same page"
## Description

When you use both a static query and page query in a file, it will override one of them even if I name the data variables differently.

### Steps to reproduce

Here's a Repro: https://github.com/lannonbr/gatsby-static-and-page-repro

It's a fresh site with the default starter made by `gatsby new`. Then I added both a page query and static query to `src/pages/index.js`

### Expected

[2019-09-15 17:27] #15804 closed

[2019-09-15 17:27] #16627 closed

[2019-09-15 17:27] #15669 closed

[2019-09-15 17:27] #15997 closed

[2019-09-15 17:27] #16123 closed

[2019-09-15 17:27] #16140 closed

[2019-09-15 17:27] #16289 closed

[2019-09-15 17:27] #16378 closed

[2019-09-15 17:27] #16588 closed

[2019-09-15 17:27] #16614 closed

[2019-09-15 17:27] #16617 closed

[2019-09-15 17:32] KyleAMathews commented on #16140
Webp is many times more expensive to produce than jpeg so yes, switching to webp will slow your builds considerably.

[2019-09-15 17:53] brolag opened #17645 "[docs] [workflows] Implementing Google Amp"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to implement Google AMP.

# Evaluation

[Change emoji below based on your evaluation.]

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😞| 😐| 😄| 😐| 😐 | 😐 |

# Steps taken to

[2019-09-15 17:54] brolag commented on #13708
Taking Google AMP implementation https://github.com/gatsbyjs/gatsby/issues/17645

[2019-09-15 18:18] jackbravo commented on #16367
Indeed, another related issue came up in #13876. Searching for `gatsby wordpress` should get the doc page [Sourcing from WordPress](https://www.gatsbyjs.org/docs/sourcing-from-wordpress/). But blog posts are being presented first. I would also recommend tweaking the current results to give higher priority to documentation pages over blog posts. Blog posts can become stale (they are not updated aft

[2019-09-15 18:46] jonniebigodes commented on #13708
Go for it, can't wait to see it, been tracking the amp integration wirh Gatsby.

[2019-09-15 18:49] AAverin commented on #16614
Would be great to get some feedback on this question

[2019-09-15 19:18] #17546 closed

[2019-09-15 19:18] songfarm-david commented on #17546
Closing this as this is not the proper forum.

[2019-09-15 19:49] divslinger opened #17647 "gatsby-theme-notes directory list doesn't work on Windows"
## Description

The directory list of `gatsby-theme-notes` doesn't work because the link href uses backslashes instead of forward slashes.

Also, if we jump down one folder manually we get a white page.

### Steps to reproduce

Install and run the default `gatsby-starter-notes-theme`

[code]

### Expected result

The `example-dir` folder should link to `http://localhost:8000/example-dir`

[code]

[2019-09-15 19:53] zzzbra commented on #16076
I am also seeing this. One (very) slight difference between my case and OPs is the subsequent line is highlighted as the error in my case:

<img width="1018" alt="Screen Shot 2019-09-15 at 15 51 08" src="https://user-images.githubusercontent.com/3282673/64926869-dfd5a200-d7d0-11e9-9431-b4c316fa09f5.png">

[2019-09-15 20:00] brolag commented on #16472
I'm interested in checking those conflicts

[2019-09-15 20:43] gustavocd opened #17653 "[docs] [workflows] Deploying to other hosting services"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-09-15 20:44] #17653 closed

[2019-09-15 21:14] jstansbe commented on #2137
I ran into this issue when installing (2.7.47) via npm on mac os.
Managing node with nvm... not sure if relevant!

The fix for me (@Oluwasetemi solution):
1. sudo npm uninstall -g gatsby-cli
2. sudo yarn global add gatsby-cli

[2019-09-15 21:38] ryudice commented on #9712
I'm having the same problem as well, after doing some changes to contentful schema, however the error message is not very helpful

[2019-09-15 21:45] jonniebigodes commented on #17628
@bjatwork it seems that the issue lies with the plugin itself and a bit with your configuration/endpoint.
Looking at the documentation for the plugin itself and the response i got from the endpoint it seems that the plugin is expecting a certain type of data structure and what is being returned is a diferent thing.

Here are the steps i took to test this issue.
- Cloned the repo
- Removed `package

[2019-09-15 21:48] ryudice commented on #3064
Hi, I was having this issue and it was a circular reference, I disabled one side of the circular reference and it went away. You dont necesarrily have to remove it but you can just disable it in the response.

[2019-09-15 21:59] simonjoom opened #17656 "gatsby-link parse-path problem for full url. described & fixed here"
I found a problem that gatsby load 404 resource on click on a link with a custom navigation
i use the code below
[code]

the problem is e.currentTarget.href is a full url with the hostname, and gatsby is not properly parsing it, as a result the 404 resource are loaded. (even if it's not a real problem because the anchoring is working)

the code for
https://github.com/gatsbyjs/gatsby/blob/master/pa

[2019-09-15 22:04] simonjoom opened #17657 "unicode paths little issue"
Please see:
https://github.com/gatsbyjs/gatsby/pull/15552#issuecomment-531603286

for the description

[2019-09-15 23:44] tasiek commented on #14699
@Polyhistor @jrestall Thanks a lot, guys!

[2019-09-16 00:04] jlengstorf commented on #16578
This is fixed!

[2019-09-16 00:04] #16578 closed

[2019-09-16 00:06] jlengstorf commented on #12503
@jackbravo that discussion never ended up happening. I'm not sure where this stands; I'll defer to the Gatsby team on what next steps are.

[2019-09-16 00:07] Madgeniusblink commented on #6385
Wow thank you! I had no idea that actually helped it!! I spend the past month building a small web app on gatsby and I was getting so mad with this loading issue...! but thats a nice trick around it

[2019-09-16 01:43] juuyan commented on #12817
@mcongy
Hey does your approach work? I have the same needs and is imagining a similar approach. It would be great if you could share some experience about it. Thanks!

[2019-09-16 02:34] andreas-groos commented on #17608
Did you install `node-sass` as well? It's in the code sample in the docs and looking at my projects it's in `package.json` though it's never imported etc otherwise. Otherwise everything seems fine.

[2019-09-16 02:43] markdid opened #17658 "npm install not working"
I tried to install this plugin following the tutorial:
```npm install --save gatsby-plugin-manifest```

the install doesn't throw any errors but once I try building I get back.
[code]

Tried multiple times deleting node-modules, reinstalling, reinstalling sharp, etc. Nothing works
Other plugins have worked without any problems.
Thanks for any help

[2019-09-16 02:43] #17658 closed

[2019-09-16 02:45] markdid opened #17659 "gatsby-plugin-manifest npm install sharp not working"
I tried to install this plugin following the tutorial:
```npm install --save gatsby-plugin-manifest```

the install doesn't throw any errors but once I try building I get back.

```Something went wrong installing the "sharp" module```

Tried multiple times deleting node-modules, reinstalling, reinstalling sharp, etc. Nothing works
Other plugins have worked without any problems.
Thanks for any help

[2019-09-16 02:48] CodeAmend commented on #4693
@Raphjacksun7  Nice. Netlify was giving me trouble, not my local machine, no matter what node version and deleting of node modules. So installing sharp manually was key.

[2019-09-16 05:23] AAverin commented on #10457
Because this seems to be the thread to discuss `IDBIndex is not defined` error when building an app with Firebase inside, just want to link a thread to firebase sdk with explanation why this happens.
https://github.com/firebase/firebase-js-sdk/issues/1797

I am not so good with webpack configuration, maybe somebody could come up with a gatsby workaround for the problem? All solutions on the mentio

[2019-09-16 05:27] AAverin commented on #10457
https://github.com/firebase/firebase-js-sdk/issues/1455#issuecomment-455712500
This comment offers a workaround via regex, maybe we can do something like this with a null-loader?

[2019-09-16 05:34] rchrdnsh opened #17660 "A project is repainting constantly now, thought I'd ask here first..."
Have a site that was scrolling just fine, and all of a sudden, it's not...trying to figure out why. Went into chrome and fired up some of the rendering overlays and saw this:

<img width="1440" alt="Screen Shot 2019-09-15 at 10 33 33 PM" src="https://user-images.githubusercontent.com/7884263/64936055-e7b13880-d808-11e9-9b9a-6d9c8cb03697.png">

Not sure what this means and googling I end up reading

[2019-09-16 05:57] AAverin commented on #8612
While the solution to import firebase in `componentDidMount` solved most of the problems, there is one case when it doesn't work - referencing ` firebase.auth.EmailAuthProvider.PROVIDER_ID`.
Here firebase needs to be imported, but importing it wrongly references browser-version of firebase, so gatsby fails to build.
Any other possible workarounds?

[2019-09-16 06:03] AAverin commented on #8612
I tried and looks like this also works fine for providers.
Lazy firebase initialization is the only solution, it seems.

[2019-09-16 06:03] AAverin commented on #10457
Solved using lazy firebase init explained here https://github.com/gatsbyjs/gatsby/issues/8612

[2019-09-16 06:17] dominicfallows commented on #5002
**TLDR;**

@KyleAMathews confirmed that Gatsby are working on the Gastsby Cloud hosted incremental build features.

Self-hosted/on-premises "Gatsby Enterprise" version, with incremental builds, is possible, but they are not working on it yet....

[2019-09-16 06:28] jafar-rezaei opened #17661 "Use canvas in gatsby"
Recently I was working on a project , which uses [`node-canvas`](https://www.npmjs.com/package/canvas) ,
and it is working fine in development mode. but if I want to build package and `run gatsby build` canvas will got some error on last steps with message :

Generating SSR bundle failed
[code]

I used `loadImage` function  from node canvas in an async function like :
[code]
and use it in some com

[2019-09-16 06:46] vtolenti89 commented on #17608
Yes, I have it installed. I noticed though that I can only use all scss features, such as `color: $color-white;` or `@extend p` if ALL the scss files are imported within the `gatsby-config.js`. However, this leads to another very annoying problem. In case the scss file outputs any css data, it will be imported in all the files of the project, which is a very unwanted behavior.

[2019-09-16 07:15] universse commented on #17624
@zanehiredevs You can try https://www.gatsbyjs.org/docs/node-apis/#onCreateNode

[code]

Then when creating pages query from ```mergeNodes```.

[2019-09-16 07:29] jonniebigodes commented on #17661
gatsby is a ssr(server side rendering) meaning that all the building process is done in node, with that the access to certain apis like canvas cannot be done because it doesn't exist. You canuse

[2019-09-16 07:38] jonniebigodes commented on #17661
Gatsby is a ssr(server side framework), meaning that all the build process is done in node. With that won't have access to certain apis, like canvas. And it generates that error. As a workaround you could probably use react- loadable, for instance,  let me see if I can make a reproduction of both packages and report back, do you mind waiting a bit?

[2019-09-16 07:45] shicholas commented on #17557
I am seeing this error too. My code works fine on my mac, but fails in CI, which uses Ubuntu (https://circleci.com/gh/1337lawyers/web/360)

[2019-09-16 07:59] shicholas commented on #17557
I solved my issue by adding python to my environment - perhaps it's the same issue you're having @coldPen ?

[2019-09-16 08:39] jafar-rezaei commented on #17661
@jonniebigodes  Yeah , thatswhy I used node-canvas , to bring canvas to SSR , but I could not make it to build the `gatsby` static files..
Sure, thanks for your feedback 💯

[2019-09-16 09:04] LekoArts commented on #17370
As commented in the closed PR we want our plugins to default to whatever the core library does. In this particular case I'd also say that these kind of selectors are problematic itself. Feel free to publish this as a plugin or blog post. Thanks!

[2019-09-16 09:04] #17370 closed

[2019-09-16 09:43] seidtgeist commented on #15872
It looks like [this line in navigation.js](https://github.com/gatsbyjs/gatsby/blob/589ad5a4cf1549ce809bbb1318dcb2f248ef558c/packages/gatsby/cache-dir/navigation.js#L114) actually has a bug:

Shouldn’t `window.location` be set to the full path in `to` instead of just `pathname`? In other words, why remove the querystring and hash from the URL when forcing a reload? They are used for routing purpose

[2019-09-16 10:19] pieh commented on #17657
For clarification - how does this issue manifest? Do we reload page on initial visit?

[2019-09-16 10:19] muescha commented on #17658
Can you explain how you resolved your issued?

[2019-09-16 10:22] #17647 closed

[2019-09-16 10:24] muescha commented on #17625
Can you explain how you resolved your issue?

[2019-09-16 10:24] dbaldoni opened #17662 "gatsby running localhost unreachable"
Hello I'm a noob trying to learn how to use Gatsby.
I run Gatsby on Ubuntu Server 18.04. Everything seems to be set correctly
node version is 12.10.0
npm version is 6.11.3

This is the output of gatsby develop

however when I try to open to connect to localhost i get the following error:
ERR_EMPTY_RESPONSE

Port 8000 is open on the Ubuntu firewall and forwarded on my router. I also tried

gatsby d

[2019-09-16 10:40] ManoelLobo commented on #16578
Thank you very much @jlengstorf and everyone else that contributed on this issue. You are all awesome!

[2019-09-16 10:41] greenie commented on #17370
@LekoArts Thanks for taking the time to look at this PR. I appreciate that the goal of plugins is to keep them simple and to default to the underlying library's behaviour.

I do agree with @fionawhim's point that Gatsby doesn't benefit hugely from Emotion's zero-config SSR API, hence the motivation to provide an option to use extractCritical instead. It would give the user a principle of least ast

[2019-09-16 10:46] LekoArts commented on #17626
Sorry, but I have to disagree with this suggestion. It doesn't add any meaningful improvements but bloats the instructions with bigger code blocks and a longer document in general. People are used to inline comments (that's what they are for) and big code blocks don't add any value besides maybe a better layout. However, in the example you gave the information is secondary and the code block below

[2019-09-16 10:53] rensio commented on #2342
I have a related issue. If you update an old blog post e.g. because there is a typo and you want to correct it, it suddenly becomes the newest blog post with updatedAt. Whereas with createdAt it takes the day it was originally created as a draft. It would therefore be really helpful if the "firstPublishedAt" field would be available.

[2019-09-16 11:02] ximbong91023 commented on #15317
@dougwithseismic I think it is most likely a bug from their side, otherwise would be a very questionable UX decision.

Thanks a ton for the help! This works for me!

[2019-09-16 11:31] Natansab commented on #11099
@jonniebigodes this worked for me! It is still unclear why some stuff work with gatsby develop and not with gatsby build do to SSR rendering. Thank you though!

[2019-09-16 12:22] aurma97 commented on #16455
Hey, i solved it by just deleting all the content of the fragment.js, nothing else, it didn't work when i deleted the file, but just the content.

[2019-09-16 12:34] LekoArts commented on #17662
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-09-16 12:34] LekoArts commented on #17661
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2019-09-16 12:47] amreshk005 commented on #17626
@LekoArts It means that I can't proceed on this issue?

[2019-09-16 12:55] kosvrouvas opened #17665 "Add instructions on how dependencies can be updated"
It would be really helpful if we added a new page in the docs, describing how someone can update the dependencies (plugins, gatsby etc) like it is here: https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#update-gatsby-related-packages

[2019-09-16 13:02] ddennis commented on #16174
Would be great if you could share your solution?

[2019-09-16 13:11] muescha commented on #17626
@amreshk005

No proceeding. It would not be accepted :(

Sorry for misinformation from me.

[2019-09-16 13:19] coldPen commented on #17557
@shicholas `Python: 2.7.15+ - /usr/bin/python` was displayed when I ran `gatsby info`, so I don't know? Maybe gatsby can't find python even if installed.

[2019-09-16 13:32] anonimoconiglio opened #17667 "Which is the best way to solve "window is not defined"?"
So, my main layout component (`LayoutDefault`) use the `window.innerWidth` values to define whether if it is on a mobile device or not, it is really simple.
[code]

Now when in building phase Gatsby throw me the classic error:

So I found two solutions to this problem. I'm just wonder which is best (either from the performance point of view and for the sake of complexity of the code).

The first s

[2019-09-16 13:34] Powell-v2 opened #17668 "Existing unit testing setup provided as an example doesn't work"
## Description
Unit testing setup guide published on Gatsby's website isn't yielding expected results. The following error is thrown when I invoke Jest:

[code]

I tried downloading [an example from this repo](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-jest) in order to verify - same issue.

By the looks of it, files aren't being transformed as they should.

### Steps to reprodu

[2019-09-16 14:05] pranshuchittora commented on #17626
I recommend closing this issue.

[2019-09-16 15:08] ocundale commented on #8560
Did anyone find a solution here? I am seeing incorrect styling on production (first page view), even though local is fine. Eg. The component has jss13 and jss14 on production, but those classes should be jss43 and jss45. I am also seeing the order of styles in the head differ, but am lost as of how to solve...I have both the plugins included too, but no luck:
[code]

[2019-09-16 15:17] muescha opened #17670 "feature request: add technologies used as tags to site showcase"
## Summary

Just now sites in showcase are tagged by business, but it would be interesting also to have the used technologies tagged like in the starters.

### Basic example

#17652 removed interesting tags because technology is not in site tags

### Motivation

I can search and see the technologies used and hat's even more interesting if the source code is public and I can sneak into

### Additio

[2019-09-16 15:21] Skillz4Killz commented on #8560
@ocundale For me, the fix was to remove material-ui method of styling. For example, the following code would cause issues when pushing to production. I don't know why but once I removed this and put this styling as inline css, everything worked as intended.
[code]

[2019-09-16 15:29] ocundale commented on #8560
OK, thanks @Skillz4Killz, appreciate the quick response, seems a shame, but I think I'll resort to using the same method then. Cheers!

[2019-09-16 16:04] #17626 closed

[2019-09-16 16:46] muescha commented on #17667
With the second workaround to don't get no benefit from server side rendering because you deliver only empty prerendered pages

[2019-09-16 16:53] muescha commented on #17659
#17558 did you checked this?

[2019-09-16 17:02] muescha commented on #17659
Did you checked the troubleshooting section in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-manifest/README.md

[2019-09-16 17:14] Grsmto commented on #17520
I had a similar issue where images are loaded with gatsby-image no matter if they are on screen or not.
Works as intended on Firefox but not on Chrome mac 76.0.3809.132.

[2019-09-16 17:17] jstacoder opened #17671 "post about automating deployment with github actions"
#Summary

I recently worked out a very easy way to setup github automatically running gatsby build and gh-pages for me using github actions/workflows, to totally automate my gatsby sites deployment on pushing to github.

i was going to write up a post about the process and a brief explanation of the new actions feature, and how i worked it out to automate my deployment, i was wondering if that wou

[2019-09-16 17:22] dopeters commented on #17542
@jonniebigodes Thank you this was extremely helpful. Looks like changing the directory of those pages does solve the issue we're seeing. Gonna go ahead and close this out. Appreciate all the help!

[2019-09-16 17:22] #17542 closed

[2019-09-16 17:27] #15985 closed

[2019-09-16 17:27] #16141 closed

[2019-09-16 17:27] #16587 closed

[2019-09-16 17:27] #16631 closed

[2019-09-16 17:27] #16668 closed

[2019-09-16 17:30] anonimoconiglio commented on #17667
Thank you, so the first one is better, despite the fact that with the first one I'm deliver an empty value for global window, could this mean that it will deliver the mobile version of the website, right?

Is this approach convenient or should I return to use media queries and don't do use this conditional mobile workaround?

[2019-09-16 17:40] simonjoom commented on #17657
i didn't see a behaviour, it's just when i scrolled in code to update my codebase with fix for unicode (i have got a website in russian URL)

TO test and see the problem it s necessary to navigate to a location with no iso character (like russian)

/по-русски -> window.location.pathname become /%D0%BF%D0%BE-%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B8

page.path is decoded on form /по-русски
so /по-русски

[2019-09-16 17:46] simonjoom commented on #17657
As gatsby was not set up for different lang-url i guess somebody should to test more the code.
i think that certainly there is some other encodeUri to add in the core code.

[2019-09-16 18:31] tmm opened #17672 ".gatsby configuration directory"
## Summary

One of Gatsby's strengths is its configuration files (`gatsby-config.js`, `gatsby-node.js`, `gatsby-ssr.js`, `gatsby-browser.js`), however, in a project with many files, it's difficult to keep them organized inline with many other tools in the JavaScript ecosystem.

A configuration directory (`.gatsby`) to house Gatsby's config files would help eliminate this sprawl and could serve as

[2019-09-16 18:42] marcysutton commented on #16367
@jackbravo if you're interested in working on a PR to improve searchability of Wordpress docs content, we would love a contribution!

[2019-09-16 18:50] SMerdzhanov opened #17676 "Server-side-rendered styles are missing and/or incorrect"
## Description

I've built multiple sites/apps with **Gatsby** already, but that's the first time I encounter such an issue.

I'm working on an app based on **Gatsby** and **Material UI**.

GitHub issues reporting similar, but not the same behavior that I reviewed and tested #9911, #12360, #5100, #3741.

**GIF/recording of the issue https://monosnap.com/file/gQ7jH0YQ4O39LpHhL8DOL40eufnbbY**

**Som

[2019-09-16 18:53] #14950 closed

[2019-09-16 19:43] macdonst commented on #13656
@MurphyPone well your comment really helped me. I had done a `gatsby build` first and then a `gatsby build --prefix-paths` before deploying to github pages. I was running into the same issue so deleting the `.cache` folder worked a charm.

[2019-09-16 20:07] marcysutton commented on #14890
I checked in with Amberley and Kyle Gill, and it sounds like this one is indeed done now. Any remaining improvements can be handled in new issues and PRs. Thanks so much!

[2019-09-16 20:07] #14890 closed

[2019-09-16 20:11] jonniebigodes commented on #17557
@shicholas locally on ubuntu 18.04 it comes with python 2.7+ if not mistaken.

[2019-09-16 20:16] jonniebigodes commented on #11099
@Natansab no need to thank. Glad that i was able to solve your issue. Gatsby in development mode enables a environment that is a bit more permissive and lets you go through with some packages and some other situations that normally wouldn't work in a full production mode.

[2019-09-16 20:41] JaKXz commented on #6385
Of my ~163s bootstrap time, _**~153s**_ is `source and transform nodes`. I don't think this issue should be closed or stale, and I am using the latest versions of almost all my gatsby deps:

<details>
<summary>npx gatsby info</summary>

[code]
</details>

[2019-09-16 20:43] jafar-rezaei commented on #17661
@LekoArts  I translate the game and add it on a sandbox here :
https://codesandbox.io/s/snakeandladders-ricvr

[2019-09-16 20:56] shicholas commented on #17557
hmm, it's probably not it then. fwiw, I have Python 3.8 installed.

[2019-09-16 21:04] zanedev commented on #17624
@universe yeah that might work since I don’t need to deal with fragments!  I’ll give it a shot and report back.

[2019-09-16 21:14] lucashfreitas commented on #16970
Thanks, @LekoArts.

I did some changes and using my shared workspace now as a Theme and everything is working fine.

@nadrane,  I think if you use your shared workspace as a theme everything will work fine as well.

@wardpeet Maybe we need to recommend users to use a theme instead investigating this issue???

[2019-09-16 21:33] matthewlawson commented on #11607
I'm not actively developing anything with Gatsby currently so I'm not familiar with any new query features, but the best I could do at the time was basically what I mentioned in my original issue and what @cryic has done above. Adding an additional query and filtering on the foreign key there:

`allProduct(limit:12, filter:{category:{name:{eq: $categoryName }}})`

[2019-09-16 22:07] jonniebigodes commented on #17624
@universse that approach would work in some form, but and i assume that @zanehiredevs is using `gatsby-source-graphql` to fetch the second portion of the data from the external api, that will be combined with the contentful plugin would lead into some issues as the the source-graphql will take ownership of the node type used for the external api call.

I tried a similar approach with to combine th

[2019-09-16 23:13] multidis commented on #10556
For those who are still watching: reactivesearch v3.0.1 stable is out with the updated docs
https://docs.appbase.io/docs/reactivesearch/v3/overview/quickstart/

[2019-09-16 23:18] muescha commented on #17667
I don't know the answer. Maybe you have to decide if you have more mobile users or desktop users. Also have in mind that Google is reading your prerendered site

[2019-09-16 23:35] muescha commented on #17624
BTW: that's a good topic for a docs or receipt

[2019-09-17 00:55] jonniebigodes commented on #17624
it could be i have no issues with it, but probably avoid `gatsby-source-graphql` and pair up contentful plugin with another plugin, or two diferent plugins alltogether.

[2019-09-17 00:57] jonniebigodes commented on #17661
@jafar-rezaei i've cloned your codesandbox and it seems that i have a solution for you. Going to test out a couple of things and report back.

[2019-09-17 01:27] zanehiredevs commented on #17624
@jonniebigodes not sure what you mean how to implement

We are using both of those plugins but what do you mean by "pair it up" with another plugin?  How would one accomplish that?

[2019-09-17 01:51] universse commented on #17624
For `gatsby-source-graphql` sources, can identify using `node.fieldName` instead since it's an option that uniquely identify each graphql source, configured in `gatsby-config.js`.

[2019-09-17 01:52] xinsight commented on #8560
My temporary fix was adding `!important` to every line in my css so it wouldn't get overridden by the template css. Brutal.

[2019-09-17 02:00] Yaygr commented on #8096
Hot Reloading also fails for me on Windows 10 with the Hello World starter.

[2019-09-17 02:04] universse commented on #17624
So I guess the solution is something like this

[code]
module.exports = {
  plugins: [
    ...
    {
      resolve: 'gatsby-source-graphql',
      options: {
        typeName: 'SWAPI',

        // take note of fieldName
        fieldName: 'source2',

        url: 'https://api.graphcms.com/simple/v1/swapi',
      }
    },
    ...
  ]
}

[code]

[2019-09-17 02:43] jonniebigodes commented on #17624
@zanehiredevs sorry for the confusion, in my earlier comment i was responding to muescha and i forgot to include one thing in my comment, and it was for simplicity purposes and avoid confusion in the recipe/doc.

[2019-09-17 02:46] zanehiredevs commented on #17624
@universse that does seem feasible, I'll play with that idea and report back thanks for the help guys!

[2019-09-17 02:52] RashaMou commented on #9706
I got stuck there and can't believe this solution worked.

[2019-09-17 02:54] #15232 closed

[2019-09-17 03:15] universse commented on #17624
You may need to consider cases where source 1 nodes are created *after* source 2 e.g. because of a slow network request.

[2019-09-17 03:51] muescha commented on #17626
The `gatsby develop` was a bad example because this was repeating all over the receipt page and can also be inline. VAnd for the other commands the most of them are already in a block style.

The idea was to look over all the documentation and see if there other places where inline commands (not the easy trivial `develop ****` ones) are used which can be changed to block style to make better docs.

[2019-09-17 05:02] trevorliberty commented on #17625
Yep -
I had to set up my prefix paths correctly and run build as such:
`gatsby build --prefix-paths`

[Check out the docs](https://www.gatsbyjs.org/docs/path-prefix/)

[2019-09-17 05:56] wardpeet commented on #16970
Mostly the problem lies in shared components not being transpiled, Themes are special in Gatsby and they are getting transpiled correctly. For non themes packages we suggest using https://www.gatsbyjs.org/packages/gatsby-plugin-compile-es6-packages/ to compile your package.

[2019-09-17 06:09] devpascoe commented on #13072
ooo need this working for develop when using Auth0 and its callback html page for Silent Auth.

[2019-09-17 06:23] me4502 commented on #11607
Doing it that way involves creating extra complexity and links in the data.

Also, it doesn't work very well when you're querying for multiple of the parent items and then filtering the inner item.

I've had a bit of a look into how to implement this, however, I don't completely understand the Gatsby GraphQL type creation process.

[2019-09-17 06:24] MaximeHeckel opened #17684 "ImageSharp.fixed provided incorrect OutputType: 'ImageSharpFixed'"
## Description
I haven't touched my gatsby site and theme for about a month now and after pushing an update (just a css and text change in my theme => https://github.com/MaximeHeckel/gatsby-theme-maximeheckel/commits/master ) I got the following error:

[code]

and I saw that recently there's been a few issues with ImageSharp but nothing quite similar to this issue.
Even weirder: this issue happen

[2019-09-17 06:35] AAverin opened #17685 "Debugging plugin conflicts"
## Summary

My styled-component plugin doesn't seem to work. styled components work fine in 'develop' without the plugin, but I need it to build the site and as soon as I add the plugin – no components load.
Anyways, I suspect it's a problem in plugins, so my question is – how can I debug plugin conflicts? Probably some of them add something to ssr logic or other gatsby parts.
Where can I see merg

[2019-09-17 06:35] universse commented on #17608
Have you tried import your _mixins & _variables in your scss files instead. From my experience, you can import them at the top of your main scss file, styles.scss in your case. Your mixins and variables will become available to other scss files that you import after.

[2019-09-17 06:41] baptisteArnaud commented on #12082
Hey guys ! I'm pretty sure this bug exists. I recorded a video :

[Gatsby scroll bug on mobile devices](https://www.youtube.com/watch?v=OPzprTx-5TA)

I think the problem comes from the gatsby divs wrapping the body tag. I tried applying a `overflow-y : hidden` but it seems not to solve the problem

[2019-09-17 06:47] AAverin commented on #17685
I found a problem with style-components not rendering.
It was a mistake in the css styling. Still, odd that there are no errors for that, no checks

[2019-09-17 06:47] #17685 closed

[2019-09-17 06:47] MaximeHeckel commented on #17684
Ok after several attempts at finding the root cause, I decided to simply update my sharp related dependencies (`gatsby-transformer-sharp`, `gatsby-plugin-sharp`, `gatsby-images` and even `gatsby` itself, it never hurts) pinned their version to ensure that I won't run into trouble in the future (so debugging will be easier) and it seems to work!

[code]

[2019-09-17 06:47] #17684 closed

[2019-09-17 07:47] Undistraction commented on #17672
This is a great idea.

[2019-09-17 08:36] LekoArts commented on #17676
So to get on the same page here: This reproduces the issue you are seeing on your page?
https://github.com/mkitio/mkit-bundle-gatsby

[2019-09-17 08:38] BernardA opened #17688 "jerky route transitions on dynamic app"
## Description

I am starting with Gatsby building a dynamic web app. I've noticed a couple of navigation issues:
- if I try to access a private route, I can see the content of the private page being shown on screen for a moment before being redirected to the login page.
- on logout, particularly if done from the `/admin` page, it will first go to `/login`, before being redirected to the homepage.

[2019-09-17 08:40] LekoArts commented on #17671
Hi!

That sounds like a great idea for a blog post 👍 	We normally ask people if they want to cross-post their existing posts on our blog. So for your case this means: Feel free to write a blog post about that topic on your own personal blog / or somewhere else and reach out to us afterwards. Our marketing department then will see if we can fit in the post into the schedule.

Hope that clears thing

[2019-09-17 08:40] #17671 closed

[2019-09-17 08:42] LekoArts commented on #17520
Sounds like a really weird problem 🤔 	Could you [provide a minimal reproduction][reproduction]? We'd appreciate that!

[reproduction]: https://gatsby.dev/reproduction

[2019-09-17 08:44] LekoArts commented on #17659
You typically wouldn't (re-)install sharp but node-gyp. Have you followed the instructions here? https://github.com/nodejs/node-gyp

[2019-09-17 08:54] LekoArts commented on #17606
You should be able to create an empty `.eslintrc`or `.eslintrc.js` file and the eslint config shipped by default should be overwritten.

https://www.gatsbyjs.org/docs/eslint/#how-to-use-eslint

Why do you want to remove ESLint though? It's highly beneficial for your code's quality.

[2019-09-17 09:07] LekoArts commented on #17621
So I cloned your project @michelle-hoang 	and run `gatsby develop`. I guess the good news are: I don't see the behavior you described / showed in the video. Bad news: I'm not 100% sure why that's happening to you.

Have you tried another browser? Which editor do you use (and maybe use a auto-saving extension/hot reloading?). Maybe try another editor. Can you try it on a different computer?

[2019-09-17 09:32] dante-blitz opened #17689 "Very Slow 'build' and 'develop' times. Netlify deployments fail"
## Description

Hi there,

We are experiencing very slow times when running deploy and build tasks. This is also causing Netlify deployments to fail as the deployment process exceeds the 15 minute time limit.

A little background info regarding our use case...

We are using Gatsby and gatsby-source-datocms.

Our client has 26,000+ external news articles in their DatoCMS instance. Each record basic

[2019-09-17 09:33] dante-blitz commented on #17689
https://github.com/datocms/gatsby-source-datocms/issues/78

[2019-09-17 09:34] dante-blitz commented on #17689
https://github.com/datocms/gatsby-source-datocms/issues/78

[2019-09-17 09:39] SMerdzhanov commented on #17676
Hey @LekoArts, no. I think my comment confused you.

I can't share the actual code repository where the issue is occurring. Here's a [link to the deployed web-app where we see the issues happening](https://alephbeta-dev-nznetv4.cleverbuild.biz).

This `mkit-bundle-gatsby` repo is actually a starter project I used. It's linked here as demo of the Gatsby + MUI setup that I have. And it's working com

[2019-09-17 10:25] leandromuto commented on #13708
Is there anyone taking care of using Gatsby theme item? I would like to help with this one.

[2019-09-17 10:30] universse opened #17690 "Sort group by field values"
I have a use case where I need to sort groups by fieldValue. Apparently there was a similar FR before #3684.

I can open a pull request too and will need some guidance.

[2019-09-17 10:47] jacksaunders opened #17691 "[Request] Add ability to exclude files / folders when compiling query"
## Summary

I would like the ability to exclude whole folders form the query compiler rather than scanning every js / ts file in the repo.
There are use cases where often you don't want every file parsed / built, for example when needing to use the same codebase with separate CMS's.

### Basic example
In gatsby.config.js` could be defined by

[code]
### Motivation

Motivation for this is the desir

[2019-09-17 11:26] alinenko commented on #13201
@polarathene thank you for your response! Seems like the only way to handle this now is downgrading to pre-2.1.0. Works fine for Chrome but brings an issue to IE (even with polyfill usage) :(

[2019-09-17 11:39] h20hb opened #17692 "gatsy first install does not build (childImageSharp)"
## Description

I just did a fresh gatsby install. When starting the development server the process quits suddendly.

When I remove the "gatsby-plugin-manifest" section from gatsby-config.js, the development server ends a bit later on step "run static queries". Also removing the childImageSharp part from image.js finally starts the development server.

Something seems to go wrong with gatsby-trans

[2019-09-17 12:24] polarathene commented on #13201
@alinenko if there is breakage and no existing issue for it, perhaps you should open a new issue about that regarding IE. More likely to be reviewed by others than this closed issue. You will want to provide more details about what version of IE and a small example to reproduce it so it can be investigated and confirmed.

[2019-09-17 13:11] kriskate commented on #14601
I've encountered this exact issue (client className should be different, in conformity with the ```window```'s width).

```useMatchMedia``` is, surely, a good workaround for a client-rendered app, but with SSR, before the actual client code hydrates the DOM, the user (of, for example a low-end network) would be shown the SSR'd version. (so it would flicker)

I've fixed this issue by using actual m

[2019-09-17 13:52] FengShangWuQi opened #17695 "Cannot read property 'page' of undefined and the page reset always"
## Description

 Cannot read property 'page' of undefined and the page reset always when I start any gatsby project now.

### Steps to reproduce

for example, use `gatsby new gatsby-site` even not.

### Environment

  System:
    OS: macOS 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 10.16.3 - /usr/local/bin/node
    npm: 6.1

[2019-09-17 14:18] DavidTheSimon commented on #9615
I am facing the same issue. Any ideas are appreciated.

[2019-09-17 14:21] greatwitenorth commented on #17520
Here's a minimal reproduction:
https://github.com/greatwitenorth/gatsby-image-load-issue

Here's a video of the above repo in Chrome (mac 76.0.3809.132) and firefox (mac 69.0) showing that all images are loading in chrome, but not in firefox:
https://www.loom.com/share/0ff40f8efd664f51ad97107c7f3d4e0f

[2019-09-17 14:25] gillkyle commented on #16634
Hey @n8finch sorry to get back to you so late, I see you self-assigned the issue and you are welcome to jump in and try and figure things out!

[2019-09-17 14:27] gillkyle commented on #13876
I see that Marcy responded to you on the other issue referenced above (#16367), I agree, we've been tracking some other Algolia related search issues in other places too like #12503. Any contributions to help improve things would be very appreciated!

[2019-09-17 15:26] tadeas22 commented on #10482
I have an idea but i do not have a time to implement it. We can include some custom graphql client (what about Relay) and use them to query gatsby "storage" at the build time in component constructor. I do not know how to build the bridge between custom client and the gatsby "storage".

[2019-09-17 16:06] AlbertZawadzki commented on #11717
I've same issue, I'm not using query variable directly, my code:
`export const query= graphql`
  query nameQuery{
    file(base: { eq: "data.json" }) {
      children {
        ... on DataJson {
          id
          name
          link
        }
      }
    }
  }
``

[2019-09-17 16:17] AlbertZawadzki commented on #11717
Hi,
Can you explain me why (and how to fix it) this query is returning hashing?

query:

`
export const query = graphql'
  query nameQuery {
    file(base: { eq: "data.json" }) {
      children {
        ... on DataJson {
          id
          name
          link
        }
      }
    }
  }
'`

data.json:
`
[
  { "id": "menu-01", "name": "name1", "link": "/link1" },
  { "id": "menu-02", "name": "

[2019-09-17 16:21] NeliHarbuzava commented on #12744
In my case I used static properies on class with standart Babel config which does not support static properties on classes. Maybe it will help someone.

[2019-09-17 17:00] universse commented on #16129
Hi you still waiting on this? I might be able to take a look.

[2019-09-17 17:14] bradydowling commented on #6654
Looks like this is a quirky issue. Here is my experience with it:

- ❌ I saw this issue on macOS High Sierra (using iTerm)
- ✅ I started using `GATSBY_CONCURRENT_DOWNLOAD=50 gatsby develop` and the issue went away
- ❌ I upgrade to Mojave and upgraded my global Gatsby installation to `2.7.47` and then started seeing the issue again (using iTerm)
- ❌ Tried changing `GATSBY_CONCURRENT_DOWNLOAD` to 5

[2019-09-17 17:27] #16675 closed

[2019-09-17 18:05] horacioh opened #17697 "Avoiding trademark violations"
Hey!👋

I'm close to publish a video series of tutorials in spanish around Gatsby here: https://aprendegatsby.com/. I also create a twitter account (https://twitter.com/aprendegatsbyjs)

@jasonbahl politely approach me about a trademark violation I was doing on the GatsbyJS logo.

First, I want to say **I'M SORRY**, my intention is not to harm anyone or anything, I did not know there was a trademar

[2019-09-17 19:11] JaKXz commented on #17131
from https://github.com/gatsbyjs/gatsby/issues/6385#issuecomment-531949380 - I am also seeing this issue but `gatsby clean` did not solve it. It seems like it might just be the CLI printout is hanging, which is why resizing the terminal fixes it??  🤷‍♂ 😕 ❓❗️

[2019-09-17 19:45] vohof commented on #4666
Resizing the terminal window worked for me as well 🤯

[2019-09-17 19:51] joelwilsonmt commented on #17621
I am having the same problem. In my case the loop doesn't appear to be infinite, but resolves after 10-15 reloads it would appear.

 Here are some more details:

- As far as I can tell, it is only happening on one page of the site (mypage.com/pricing)

- It is happening only in Google Chrome (I am running version 76.0.3809.132). It does not happen when accessing the page via a Chrome incognito win

[2019-09-17 20:00] ehowey commented on #17131
Resizing the terminal window does seem to fix it for me! I have not tested it super extensively, can some other people having this problem try this as well?  What an odd bug and potentially odd solution.

[2019-09-17 20:20] tr1s opened #17701 "gatsby-plugin-netlify breaking netlify build"
## Description

I'm trying to redirect blog pages to a completely new location.

I tried adding the redirect `/blog/*   https://newsite/:splat` to `_redirects` file, but it only works in dev mode. Then I found out you need to install `gatsby-plugin-netlify` in order to redirect pages, but that just breaks my Netlify build.

I don't know what else I'm missing. What am I doing wrong?

Any informatio

[2019-09-17 20:43] jonniebigodes commented on #17542
@dopeters no need to thank, just glad i was able to help and you were able to solve the issue.

[2019-09-17 21:21] j0hnm4r5 commented on #12633
I'm on a RPi 4, and I'm still getting this error.

[2019-09-17 21:21] tr1s commented on #17701
I googled webpack.stats.json and I came up with `webpack-stats-plugin` so I decided to install that. Still didn't work.

I also tried to download a v1 version of `gatsby-plugin-netlify` that matched up with the timing of the old Gatsby v1, but that also didn't work.

Still trying things

[2019-09-17 21:28] Madgeniusblink opened #17702 "How do you know when an image is marked as critical?"
I found this paragraph in the gatsby documentation for the image plugin and I am wondering how do I know when an image is marked as critical...

"Images marked as critical will start loading immediately as the DOM is parsed, but unless fadeIn is set to false, the transition from placeholder to the final image will not occur until after the component is mounted."

[2019-09-17 22:04] #17622 closed

[2019-09-17 22:20] jonniebigodes commented on #17661
@jafar-rezaei i think i have a solution for your issue. Below are the steps i took to try and solve it.
- Grabbed your codesandbox code.
- Installed the dependencies.
- Issued `gatsby build && gatsby serve` and i was able to confirm your issue, the same message popped up.
- Checked `gatsby-node.js` modified it to the following:
[code]
With this small change once the build enters the `build-html` s

[2019-09-17 22:34] jonniebigodes commented on #17688
@BernardA i'm cloning your repo as i type this and let me take a look at and see if i can solve your issue. Do you mind waiting a bit?

[2019-09-17 22:52] emilyaviva commented on #17131
I am facing the exact same issue—gatsby gets stuck on "source and transform nodes" or "createPagesStatefully" often, and I'm _not_ using any source plugins. I only recently encountered the "resize terminal window" fix and am 140% baffled as to how in the heck this fixes it, but it does. This seems like a pretty serious issue!

[2019-09-17 23:21] marcysutton commented on #17697
Hi @horacioh, thanks so much for reaching out, we appreciate it. I see you've got a new logo that's unique to your project, which is awesome (it's got a fun style to it, too!). As for naming restrictions using "gatsbyjs", it's something we're discussing internally–the logo guidelines are our best resource for now. We should have more to say on that topic soon.

As a side-note after seeing the natu

[2019-09-17 23:21] #17697 closed

[2019-09-17 23:30] grgcnnr commented on #16888
gatsby-image-wrapper sets an explicit width and height based on the souce. It looks like this doesn't always update when the media query changes.

a small example from a project i'm working on
[code]
The attached image shows the problem.

<img width="814" alt="image" src="https://user-images.githubusercontent.com/2694014/65086857-85725680-da07-11e9-967f-c51ea721ae81.png">

as you can see the corre

[2019-09-17 23:47] marcysutton commented on #13708
@leandromuto yes -- that one is being discussed right now internally. If anything changes though, I'll get in touch with you. Thanks for offering!

[2019-09-17 23:48] grgcnnr commented on #16888
see #16763

[2019-09-17 23:49] horacioh commented on #17697
Thanks @marcysutton !

yeah, I'm aware of the RFC, I mentioned [there](https://github.com/gatsbyjs/rfcs/pull/42#discussion_r324398534) that I already started translating the docs to spanish and some others joined me and start translating other parts of the docs :)

also, I proposed [this](https://github.com/gatsbyjs/rfcs/pull/42#issuecomment-531607436) as a crazy idea :)

thanks again and looking

[2019-09-17 23:56] tbrannam commented on #14263
I have attempted to write such a plugin - but it's somewhat tricky in that if the application's gatsby-browser implements wrapRootElement - then the Application is wrapping the plugin's implementation.   I wonder if there's an opportunity to think about a hook especially for placing an ErrorBoundary at the top of the stack.

In the example above I think that errors that occur in the Provider would

[2019-09-18 00:36] nicholaspung commented on #13708
Before I do anymore work, is "Working with fonts and typography" being worked on? Almost done with the evaluation criteria!

[2019-09-18 00:43] benshell commented on #16957
I just had this problem after upgrading an old project (a few months old). What seems to have worked around it for me was switching to Yarn, with the resolutions config above (https://github.com/gatsbyjs/gatsby/issues/16957#issuecomment-526824124)
and then:
[code]

[2019-09-18 00:44] SilencerWeb commented on #17552
Okay, I had to pass options in `cssLoaderOptions`

[2019-09-18 00:44] #17552 closed

[2019-09-18 00:48] rafael-nogueras commented on #16040
@DSchau This is a feature that would be important for me, too. It is problematic to have our development environment setup NOT use the prefix path, while our production builds do, and it seems like it would be a good addition to allow the consistency of the same prefix path also in development. (For what it's worth, it's how the equivalent feature works on Create React App, so it would make that m

[2019-09-18 00:53] leandromuto commented on #13708
@marcysutton can you provide an updated list of the topics that are not being discussed? Thanks!

[2019-09-18 01:27] rchrdnsh commented on #14477
hmmmm...I checked out the above example for LekoArts, but the implementation seems to be a bit broken, as clicking on a different language in a blog post switches languages, but then routes back to the home page, instead of staying in that blog post. Any thoughts @lannonbr?

[2019-09-18 02:12] Singularity9 commented on #16455
deleting fragments.js solved the issue for me, though this doesn't seem like an ideal solution. Where is the fragments.js file used?

[2019-09-18 02:45] nicholaspung opened #17703 "[docs] [workflows] Improve docs for "Working with fonts and typography""
Part of the **Top 25 Learning Workflows initiative**. See  [#13708](https://github.com/gatsbyjs/gatsby/issues/13708) for the meta issue that this issue falls under.

# User story
As a new Gatsby user, I want to work with fonts and typography in my Gatsby project.

# Evaluation
Search | Discover | Complete | Linked | Tone | Style | Overall
-- | -- | -- | -- | -- | -- | --
😄 | 😄 | 😐 | 😄 | 😄 | 😐 | 😐

[2019-09-18 02:47] nicholaspung commented on #13708
If no one is taking "Working on fonts and typography", I've created an issue for it and would like to work on it! #17703

[2019-09-18 02:48] FengShangWuQi commented on #17695
I found the script has an unsupported MIME type ('text/html') error, and resolved.

[2019-09-18 02:48] #17695 closed

[2019-09-18 02:53] ehowey commented on #17131
@JaKXz - Thank-you!  This was driving me nuts.  The fix does seem to be resizing the terminal window in VS Code.  Just drag it up or down a bit and the develop task chugs along happily.  I tested in a couple of different cases both yarn and npm, workspaces and not.  Seemed to be working in all those cases for me.  It also seems to freeze or hang at `createPagesStatefully` more often than `source a

[2019-09-18 03:21] keith-E commented on #13918
This worked for me also, thanks! The WSL2 terminal was mounting directly to my Windows 10 user folder by default, so I created my Gatsby project there. After recreating my gatsby project (`gatsby new projectname`) in the WSL2/Linux file structure, hot reloading worked.

Also, a huge bonus in my case was that my compilation times (after performing a `gatsby develop`) went down from ~30000ms to ~350

[2019-09-18 03:25] sheecegardezi commented on #1767
I had another node development server running in another terminal, once I closed that this error was fixed.

[2019-09-18 03:55] MaximeHeckel commented on #17131
@ehowey I have the same issue and moving the terminal window in vscode works (couldn't believe it when reading this issue until I tried myself).
Do you know if it only happens on VS Code?

[2019-09-18 04:13] marcysutton commented on #13708
@leonardodino this is the most up-to-date list: I've updated it with some of the assignments and work that started recently.

@nicholaspung sounds great! We've recently added some recipes for working with fonts, but I think there could be a whole [reference guide](https://www.gatsbyjs.org/contributing/docs-templates/#reference-guides) on it, in addition to the [Typography.js library doc](https://w

[2019-09-18 05:05] calspre opened #17704 "Server side rendering (run time) on client only routes / SEO benefits with client only routes?"
## Summary

- Can we do server-side rendering (SSR at run time) on client-only routes?
- Or, is there a way to get SEO boost with client-only routes?

## Relevant information

I am building a client-facing web app with user-generated contents like Reddit / Quora. I understand Gatsby does SSR at build time but I was wondering if there's any way to do SSR at run time with client-only routes. The mai

[2019-09-18 05:06] FengShangWuQi opened #17705 "scheduler.development.js:107 Uncaught TypeError: callback is not a function"
## Description

callback is not a function when update gatsby related packages and react to latest.

### Steps to reproduce

repositories: https://github.com/FengShangWuQi/fengshangwuqi.github.io

1、`npm run check` // update all packages to latest
2、`npm start` // start project

### Expected result

open page with no error

### Actual result

callback is not a function

### Environment

[code]

re

[2019-09-18 05:14] baerrach opened #17706 "babel-preset-gatsby-package doesnt specify corejs in babel preset"
## Description

While trying to develop a Gatsby plugin I get the following errors

[code]

This is because `babel-preset-gatsby-package` does not specify corejs in the preset

https://github.com/gatsbyjs/gatsby/blob/c5cc361d26b2e9e0b31ec68e9f040d7d97c4572f/packages/babel-preset-gatsby-package/index.js

But `babel-preset-gatsby` does.

https://github.com/gatsbyjs/gatsby/blob/c5cc361d26b2e9e0b31ec6

[2019-09-18 05:22] muescha commented on #17690
Similar #7628

[2019-09-18 05:28] fullstackwebdev commented on #13704
How do disable this? I want to "configure Schema for mutations"

I am using Apollo and Gatsby to stitch my backend schema -- which runs on Apollo Server and has a database. I guess I could by pass the schema stitching, why would this be disabled for people who know what to do? I guess I don't understand how this is a useful feature.

Any help disabling welcomed.

[2019-09-18 06:07] hartantothio commented on #16923
Yup, seeing this as well.

[2019-09-18 06:23] jafar-rezaei commented on #17661
Big thanks @jonniebigodes , the problem solved

[2019-09-18 06:23] #17661 closed

[2019-09-18 06:43] BernardA commented on #17688
I can only be appreciative of your assistance.

[2019-09-18 07:24] soniCaH opened #17711 "[gatsby-source-drupal] Suddenly unable to build project"
## Description

When building the project yesterday evening, everything went perfectly fine. When I tried the same this morning without any changes to code (just started `gatsby develop` again), the project would no longer build.
It seems like the gatsby-source-drupal somehow fails, but tracing down with console.log did not enlighten me.

### Steps to reproduce

I have two repositories, one Drupal

[2019-09-18 07:51] muescha commented on #17685
can you find a place in the code where Gatsby can check it and then throw an error message?

[2019-09-18 08:13] goblindegook commented on #17131
I have this issue on iTerm 2, so it's not VS Code specific.

[2019-09-18 08:29] domLocalHeroes commented on #17131
My issue has also been in iTerm 2

[2019-09-18 08:31] h20hb commented on #17692
I had everything up-to-date, except for node. Updating to the latest LTS version followed by an npm install fixed the problem... hurrah.

[2019-09-18 08:31] #17692 closed

[2019-09-18 08:43] steinitz commented on #17131
Webstorm terminal, Mac Terminal, iTerm

[2019-09-18 09:00] davidbailey00 commented on #17614
Hi @simonjoom, thanks for your contribution!

The reason we don't compile `sw-append.js` using Babel is that in nearly all browsers which support service workers, the new `await`/`async` syntax is also supported - having a look at caniuse, it looks like the only exceptions to this are QQ Browser and Baidu Browser. [1] [2]

We do not officially support these browsers due to their relatively small w

[2019-09-18 09:02] davidbailey00 commented on #17614
Leaving this open for discussion - we'd love to hear input from others if this is an issue for you!

[2019-09-18 09:03] davidbailey00 commented on #17591
Closed in #16840

[2019-09-18 09:03] #17591 closed

[2019-09-18 09:24] soniCaH commented on #17711
Sorry guys - apparently it was a permission issue on Drupal.
When I manually checked the "access content" permission for anonymous users, deploys worked again.
So somehow my config import must have been screwed up...

Gonna leave this here in case someone else receives this errors and doesn't know where to look ;-)

[2019-09-18 09:24] #17711 closed

[2019-09-18 10:03] amcsi opened #17713 "[plugin-google-analytics] Need way to provide tracking ID on runtime for Docker"
## Summary

Currently the way tracking ID is set is during build time it gets resolved to a string: https://github.com/gatsbyjs/gatsby/blob/4fdf0d194a0d9659dac6771b484a791a395a01fd/packages/gatsby-plugin-google-analytics/src/gatsby-ssr.js#L90

That is good for most cases when you build your app on a regular server, however, there are some problems when it comes to running it in _Docker_.

### Why

[2019-09-18 10:55] froderik opened #17714 "Upgrading from 2.4 to 2.15 getting "Error: Cannot find ObjectTypeComposer with name Json""
## Description

I have a site (source code here: https://github.com/openpaymentseurope/docs) running fine on 2.4.2. Now I got interested in getting it on newer things. It is only 5 months old so it should be fine. But after upgrading I can not build the site anymore.

### Steps to reproduce

I ran this on the code:

    npm install -g npm-check-updates
    ncu -u
    npm install

### Expected resu

[2019-09-18 11:05] slorber commented on #13965
@LekoArts do you have a best approach to suggest for implementing this feature?

For me the best approach looks like what @pieh suggest here, and make sure Gatsby core forwards those matched params to pages:

https://github.com/gatsbyjs/gatsby/pull/17384#discussion_r321011040

[2019-09-18 11:21] universse commented on #13965
The route param is already included by @reach/router. You can access it in pageProps. So it's a matter of documentation rather than code changes.

[2019-09-18 12:10] everdimension commented on #16129
@universse Hi! Yes. We're using a workaround now, but would love to see this issue fixed.

[2019-09-18 12:30] jimmed commented on #15153
I've reproduced this when attempting to build my gatsby site; locally the webP images are generated just fine, but on our CI service (with a `node:lts-alpine` base docker image), this fails silently. All other formats in use (png, jpg, svg) are generated as expected.

[2019-09-18 12:53] LekoArts commented on #17676
Sorry to hear that you still have problems :/ However, we can only really investigate your issue with a reproduction. If you can reproduce your issue with the starter you linked you maybe also get behind what the issue could be.

[2019-09-18 13:12] LekoArts commented on #17714
So, I tested your site. You probably should remove the typeName here:
https://github.com/openpaymentseurope/docs/blob/9113f22b8fd83141e5b663941eb03ee466de2431/gatsby-config.js#L12-L14

You will need to rename your GraphQL queries, however the single `allJson` wouldn't have worked for multiple JSON files now anyways. Please try that.

[2019-09-18 13:16] LekoArts commented on #17704
No, you unfortunately can’t do that right now.

You could build out the client-only routes once a day to static pages after serving them client side before that. So in the "archive" they would be static pages. Does that things clear up?

[2019-09-18 13:17] LekoArts commented on #17705
Could you please post the complete error message you're getting?

[2019-09-18 13:22] universse commented on #16129
[code]

You can try this snippet. It seems to work with my local project. Lmk if something isn't working.

[2019-09-18 13:24] LekoArts commented on #17702
You are setting the prop on the respective image element: https://www.gatsbyjs.org/packages/gatsby-image/#gatsby-image-props

If you search for that on a website, you need to look out for `loading="eager"` on the image element.

[2019-09-18 13:27] ehowey commented on #17131
Did the resizing terminal fix work for all of you in different dev environments?

[2019-09-18 13:41] simonjoom commented on #17614
ah ok i understand then why ) . Maybe i will keep my implementation anyway in any doubt lol

what do you think about my transcription of the code to promise ?  seems correct in a first look? (sorry i m a little noob would like to know )

[code]
-> transcript ?

[2019-09-18 13:48] crutchcorn commented on #16446
@slorber I mean within the application tab on Chrome (it will likely change depending on your browser, this is the only one I was having issues on):

![image showing the application tab in the chrome debugger](https://user-images.githubusercontent.com/9100169/65154358-3b29af00-d9e0-11e9-9d9c-6550652b37bd.png)

Then pressing "Clear site data"

[2019-09-18 14:49] slorber commented on #16446
Thanks I see

[2019-09-18 15:07] smurrayatwork commented on #16193
Quick update on this issue:

I managed to fully get streams working, without imagemin-pngquant! This required a ton of research. Turns out that sharp already supports the exact same libraries imagemin-pngquant uses for its compression abilities, it just needs to a few steps to set up first:
- libvips needs to be compiled locally to support libimagequant. Libimagequant is the library pngquant uses

[2019-09-18 15:23] MaximeHeckel commented on #17131
On my end it resizing the terminal worked on iTerm and VSCode (took a few tries to reproduce the issue on iTerm)

[2019-09-18 16:48] dwyn opened #17719 "ERROR #95313 when running gatsby build"
## Summary
When I run `gatsby build` I get this error, and quite frankly I have no idea on where to start debugging.

## Relevant information
Here is my repo: https://github.com/dwyn/dwayne.FM.Frontend

I did switch from `gatsby-plugin-prefetch-google-fonts` to `gatsby-plugin-google-fonts` and that's when the ERROR #95313 started. (I switched packages because the prefetch was throwing an odd error

[2019-09-18 16:51] thomascorthouts commented on #17705
I got the same error while working locally, was fixable by downgrading `react` & `react-dom` like this
[code]

I'm not 100% sure, but it might be because of a mismatch in scheduler versions, e.g. running `npm list scheduler` w/ `react` & `react-dom` upgraded resulted in this:
<img width="252" alt="Screenshot 2019-09-18 at 12 48 46" src="https://user-images.githubusercontent.com/26603461/65168553-c

[2019-09-18 16:55] thomascorthouts commented on #17705
By recreating this issue locally, I found that (for my project) this only happens after upgrading `react-dom` to `16.9.0`

[code]

doesn't create this issue

[2019-09-18 17:10] jamesncampbell commented on #11105
I'm experiencing the same issue. We intend not to have a server setup for this so an nginx configuration wouldn't work in our case.

[2019-09-18 17:14] rGustave07 opened #17721 "Error: useStaticQuery produces consistent Error."
## Description

Whenever I create a new project using npx gatsby new, the useStaticQuery hook does not function at all. An error is produced every single time for any query.

### Steps to reproduce

create project with npx gatsby new, implement useStaticQuery.

### Expected result

Expected data back from graphQL

### Actual result

Error: The result of this Static Query could not be fetched. This

[2019-09-18 17:16] marcysutton commented on #13305
In the interest of moving things along, I'm going to unassign this one and open it up to the community. @dyyyl if you still want to contribute a PR, we'd love to have it!

[2019-09-18 17:20] thecodingaviator commented on #17665
You mean dependencies as in project dependencies like `eslint` and alike. Right?

[2019-09-18 17:20] marcysutton commented on #14017
We've done quite a few things off of this list so far: especially for docs and the homepage. The items that are still outstanding are around starters and plugins, which will require a bigger, strategic conversation. I'm going to close this issue in favor of smaller pieces -- knowing that the starter and plugin ecosystem could use a revisit.

[2019-09-18 17:20] #14017 closed

[2019-09-18 17:25] marcysutton commented on #11946
Recommendation: add a new page called "Docs and Website Components" that lists available components and their API options. It could go under [Setting up your dev environment](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/) in the contributing sidebar.

[2019-09-18 17:26] marcysutton commented on #15529
It's been a while and we haven't heard back from @grantmoran, so it's time for us to keep moving forward. Consider this issue open for anyone to work on; thanks for all the interest!

[2019-09-18 17:34] marcysutton opened #17722 "[docs] design iconography for different types of callouts"
Similar to the discussion in #15616, we've talked about designing iconography to mark notes, warnings, and errors: things like a red lobster for an error/caution, an owl for an advanced tip, and a purple octopus for a note.

This issue will be satisfied when we have icons/illustrations to use in components. The goal should be to introduce a cohesive style that can be used throughout the docs, incl

[2019-09-18 17:40] marcysutton commented on #17665
Great idea! This is really similar to https://github.com/gatsbyjs/gatsby/issues/14598, which could be expanded to include all dependencies since the process is the same. I'm going to close this one as a duplicate, so please continue brainstorming in the other issue.

[2019-09-18 17:40] #17665 closed

[2019-09-18 17:43] kosvrouvas commented on #17665
Cool! Haven't seen #14598

[2019-09-18 17:48] marcysutton commented on #17521
That looks perfect! Having examples of what goes into these files would be excellent. Right now the docs explain some things but in general, you have to go find examples on GitHub to know how they're structured.

One thing I would add to the `gatsby-config.js` example is listing multiple plugins...perhaps an example of a complete file could help with that.

[2019-09-18 17:59] marcysutton commented on #17346
@brenzy can you elaborate on what is confusing about it so we can try to handle it most effectively? We want to understand this deeply before making changes to the tutorial, which was intentionally kept concise to not overwhelm new learners. It's worth noting that it also limits links out to things that offer more information, but aren't required to complete the tutorial steps.

There is a doc on

[2019-09-18 18:09] alisalahio commented on #14791
Issue still exists

[2019-09-18 18:11] kevee commented on #17521
Added an example to the config page. How about this structure for the API files:

[intro paragraph]

## Set up [file]

[Describe the structure of the file (object, exports, etc.)

[Show example]

[code]

## File options

[Paragraph that mentions link to API, this is just example with most common option, etc.]

### Example thing

[Description of example]

[code]

### Example thing 2

[Description o

[2019-09-18 18:22] alisalahio commented on #14791
The excerpt is rendered in a `p` tag. So it's a `p` inside a `p`, which is what causes the issue I think.
It can be solved by rendering the excerpt inside `div` tag instead of a `p`

Replace
`<p dangerouslySetInnerHTML={{ __html: node.excerpt }} />`

With
`<div dangerouslySetInnerHTML={{ __html: node.excerpt }} />`

[2019-09-18 18:27] muescha commented on #11946
Maybe we can do this as a [storybook](https://storybook.js.org/) so it is easy to play with the components?

[2019-09-18 18:29] muescha commented on #11946
Is there any umbrella issue we can track this issue?

[2019-09-18 18:46] gonzarodriguezt commented on #17706
So the version needs to be the same as in `babel-preset-gatsby`? @LekoArts If that's the case i would like to contribute with this issue :)

[2019-09-18 19:02] emilyaviva commented on #17131
The resizing terminal trick works reliably for me in iTerm 2.

[2019-09-18 19:56] brimtown commented on #17528
👋 @kimbaudi !

I'm curious if this issue persists if you add an explicit media query to the first image?

[code]

I realize that doesn't address the bug you're reporting, but if that solves your issue I wonder if the solution here might be to update the documentation instead to recommend always using a `media` key?  cc @polarathene

[2019-09-18 20:02] webOS101 commented on #17676
I am having this same issue, I believe, with my site after upgrading to Gatsby 2.  I since rolled back to Gatsby 1 but wanted to get back into checking this.  Adding my :+1: so I can track any resolutions or contribute any help/notes.

[2019-09-18 20:06] webOS101 commented on #17676
Here's the project repository for our docs site:  https://github.com/enactjs/docs/tree/feature/v2-migration

[2019-09-18 20:30] thomascorthouts commented on #17721
Could you share an example project where you encountered the issue?

[2019-09-18 20:42] tajchumber commented on #16763
facing the same issue as well

[2019-09-18 21:52] AlbertZawadzki opened #17725 "WebpackError: ReferenceError: IDBIndex is not defined"
## Description
I know it's quite common issue, but really I've no idea how to fix/obey this gatsby (or firebase) error.
Receiving build error:
WebpackError: ReferenceError: IDBIndex is not defined

### Steps to reproduce

Make GatsbyJS, ReactJS and Firebase app
Connect your Firebase
Fetch data
Try to build the app

### Expected result

I want to build app

### Actual result

Build error

### Envir

[2019-09-18 22:15] #17706 closed

[2019-09-18 22:16] DavidWells opened #17726 "Add is404 data to `onRouteChange` for plugins"
## Summary

`onRouteChange` contains the `location` of the page but is missing information about the route like if its a real route or a 404.

ref: https://twitter.com/DavidWells/status/1174172524935925762

### Motivation

The use case here for my [gatsby analytics plugin](https://github.com/DavidWells/analytics/blob/master/packages/gatsby-plugin-analytics/gatsby-browser.js#L10). I'd like to be ab

[2019-09-18 22:32] malcolm-kee commented on #17667
Instead of using `window.innerWidth` to determine the layout, I recommend you to solve it by using library like `emotion` or `styled-component`, which will generate CSS files during SSR. With that, you can achieve responsive layout with your pre-rendered page.

Gatsby has plugins for those libraries and [step-by-step documentation](https://www.gatsbyjs.org/docs/recipes/#using-emotion), check them

[2019-09-18 22:53] brenzy commented on #17346
@marcysutton - Up to section 8, the tutorial is very easy to follow.  It walks me through the code that I should add, and explains to me why I should add it and how it works.

When I hit the section on adding metadata, I assumed that I would be given tutorial steps on how to add metadata, and that it would build on the previous sections of the tutorial.  There are steps given to install the plugin

[2019-09-18 23:29] dcsan commented on #16957
I'm getting identical problems here with latest versions of related plugins

[code]

[2019-09-18 23:51] alexpreiss opened #17728 "Gatsby does not load CSS immediately"
## Description

When you visit https://www.ucode.com/trial/register/ the CSS does not load properly; The checkmarks are huge and the form is a mess. However, some CSS does work, like the bottom of the form and the footer/nav (these are from the SEO component, though). The weird thing is that if you hard refresh it does load properly... a normal refresh following that will break it again. If you op

[2019-09-19 00:00] n8finch commented on #17346
@marcysutton and @brenzy , I've got a PR coming later tonight for this (US Central time). Maybe y'all can take a look when it's ready and let me know if that will work.

Sorry, also, @marcysutton I figured this one was ok to work on because it had been added to "To prioritize", apologies for jumping the gun 😅

[2019-09-19 00:58] simonjoom opened #17729 "loader postcss with postcss-purgecss (@fullhuman)"
I added in my gatsby a nice thing to purge global css not used in my application (i use wordpress and massive global style was not used)

I think it s a pretty nice feature..
A new plugin to start implement maybe.
The only thing to start with is to configure purge-css with all js,jsx from the app in src/
The condition to work with is to have a full working ssr , if your ssr is broken and html not

[2019-09-19 01:42] calspre commented on #17704
Thanks for your comment @LekoArts!

I am not completely sure what this means. Could you clarify a little bit?

[2019-09-19 01:49] rafael-nogueras commented on #564
Thanks, @lucalanca ! That fixed it for me. :-) (I had to add `net: 'empty'` as well).

[2019-09-19 01:51] Arsikod opened #17731 "Error: The result of this StaticQuery could not be fetched."
## Description

Cannot open blog page with useStaticQuery

### Steps to reproduce

[code]

### Expected result

I should see blogPage page

### Actual result

Error: The result of this StaticQuery could not be fetched.

This is likely a bug in Gatsby and if refreshing the page does not fix it, please open an issue in https://github.com/gatsbyjs/gatsby/issues

### Environment

  System:
    OS: Win

[2019-09-19 02:27] jlengstorf commented on #17124
Marking this as not stale — I know it's edge-casey, but it's painful for me in workshops, etc. because I can't pre-install node_modules and then add things as we get to them. This error means I either have to rely on conference wifi or have the whole `gatsby-config.js` already set up to avoid fragment errors.

[2019-09-19 03:10] FengShangWuQi commented on #17705
@thomascorthouts thanks so much, really appreciated. I also learned how to resolve dependency problem such like this. thanks again.

[2019-09-19 04:00] anthonygilbertt opened #17736 "Jason is no longer the contact for swag"
## Description

On https://www.gatsbyjs.org/contributing/contributor-swag/  it tells you to contact Jason, whom no longer works for Gatsby. This needs to be updated.

### Steps to reproduce

Visit https://www.gatsbyjs.org/contributing/contributor-swag/  and you see that his email address is still on this page.

### Expected result

The user should not see an email address for someone who no longer

[2019-09-19 04:09] stldo commented on #4666
Resizing the terminal window worked here too.

[2019-09-19 04:34] bhavin-prajapati opened #17737 "gatsby-plugin-mdx gives "TypeError: createTypes is not a function""
## Description

After installing the gatsby-plugin-mdx following instructions, it throws errors when starting.

### Expected result

Shouldn't give errors and able to render .mdx files.

### Actual result

<img width="585" alt="Screen Shot 2019-09-19 at 12 29 19 AM" src="https://user-images.githubusercontent.com/1081647/65213714-44189000-da75-11e9-8cfa-d6fa37d183e9.png">

[2019-09-19 05:51] muescha commented on #17731
https://www.gatsbyjs.org/blog/2019-02-20-introducing-use-static-query/
Limitations:
Only one useStaticQuery per Javascript file Is possible

[2019-09-19 05:53] muescha commented on #17731
With your 2 queries it is possible: Combine it into one GraphQL query

[2019-09-19 05:56] muescha commented on #17731
[code]

I hope I had not make an error ... Check it in graphical explorer

[2019-09-19 05:59] muescha commented on #17731
See also the last queries in https://www.gatsbyjs.org/tutorial/part-seven/

[2019-09-19 06:13] muescha commented on #16980
Many receipes per topic or one file per receipt?

### Suggestion: Receipts Database

I would suggest to have a data structure with one Markdown file per receipt

Then we can enhance them with tags and list them under different topics twice
Also make them deep linkable with a single view

If we include a teaser then we can compact the generated topic subpages to display only the teaser

I think wit

[2019-09-19 06:34] cdnil commented on #17576
`gatsby-source-twitter` + `gatsby-plugin-remote-images` also produce the issue.

[2019-09-19 07:25] AAverin opened #17739 "Components do not update on production build?"
(tried Gatsby discord, nobody ever answers there)

## Summary

I have localization setup with react-intl.
When building my navigation block, I use `injectIntl` to get locale in my Navigation component.
Then I use locale value to build my localized urls.

Running the logs, everything seems to be build correctly.
Everything works fine in `develop`

It doesn't in `production` builds

In production, I

[2019-09-19 07:27] thomaswangio opened #17740 "[feat]: enable source plugins to be called from the client"
## Summary

This FR is coming from @rmorabia's use case on [using a source plugin on the client side](https://twitter.com/radhikamorabia/status/1174565210591391744?s=20), which is currently not possible, because source plugins run at build time and is static data, unless the site is re-built. A poor solution would to be to trigger webhooks periodically to re-build the site, but this isn't ideal.

[2019-09-19 07:32] froderik commented on #17714
Thanks - changed the queries and now it works!

[2019-09-19 07:32] #17714 closed

[2019-09-19 07:41] #17106 closed

[2019-09-19 08:30] ARXChrono commented on #17736
Could I take this?

[2019-09-19 08:34] squelix commented on #16763
I fixed my message, thanks :)

[2019-09-19 08:51] ARXChrono commented on #17736
Let me know if this above looks good to you

[2019-09-19 09:05] SilencerWeb commented on #17131
Yep, resizing iTerm 2 works perfectly

[2019-09-19 09:26] LekoArts commented on #17704
Let's say you have a blog with posts at `/blog/:post-id` and you use a GraphQL endpoint to query data with `gatsby-source-graphql` and use `createPage` action in `gatsby-node.js` to create those posts.

Now you give other people access to your writing backend and they want to publish articles instantaneously. You'd create [client-only routes](https://www.gatsbyjs.org/docs/client-only-routes-and-us

[2019-09-19 09:36] jonniebigodes commented on #17739
@AAverin can you make a reproduction following these [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail?

[2019-09-19 09:46] LekoArts commented on #17736
Closed by #17741

[2019-09-19 09:46] #17736 closed

[2019-09-19 09:55] jonniebigodes commented on #17725
@AlbertZawadzki can you create a small reproduction following these [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) ? But at first glance it seems that it might be related to one of the firebase/firestore packages probably. But i can't say for sure it's checked out in more detail.

[2019-09-19 09:57] jonniebigodes commented on #17661
@jafar-rezaei no need to thank. Glad that i was able to solve your issue.