[2020-05-26 10:27] LekoArts commented on #21157
@slorber Are you fine with closing this then? :)

[2020-05-26 10:37] #24458 closed

[2020-05-26 10:41] LekoArts commented on #23900
Thank you for opening this!

This still holds true and we probably also won't change it for the reasons my colleague mentioned.

As for your i18n example: You should change this in the `exports.createPages` step. It's the best place there in my opinion and doable.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this di

[2020-05-26 10:41] #23900 closed

[2020-05-26 10:43] LekoArts commented on #23998
Thank you for opening this!

If you don't want to statically create them (although we highly recommend it), you should look at: https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](h

[2020-05-26 10:43] #23998 closed

[2020-05-26 10:45] LekoArts commented on #24007
And what is the error you're facing? Please fill out the issue template for a bug:

[code]

[2020-05-26 10:51] LekoArts commented on #23441
Thank you for opening this!

Our convention is that only page files are allowed inside `src/pages` and we don't want to change this. Thus I'd recommend using the blacklist and a special naming scheme if you want that behavior. From our end we don't want to add this option as we require this convention for a bunch of (future) behaviors.

We're marking this issue as answered and closing it for now b

[2020-05-26 10:51] #23441 closed

[2020-05-26 10:52] LekoArts commented on #24107
Thank you for opening this!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) if you have questions that are not bug reports or feature requests. We hope we managed to help and thank

[2020-05-26 10:52] #24107 closed

[2020-05-26 10:55] herecydev commented on #23900
@LekoArts Can you elaborate further on how you would see that happen?

It currently works:
1. User creates pages
2. Plugin will interecept using onCreatePage (and recreate them with localized url)

At this point we want to present the user an opportunity to localize the url from graphql. I just don't see how to "move it to exports.createPages" step without pushing responsibility back to step 1, wh

[2020-05-26 10:56] LekoArts commented on #23841
Since the original question was answered I'll close this one.

As laid out the "Conditional page builds" are not "Incremental builds" (only on Gatsby Cloud) and they are experimental and only for for HTML re-generation.

[2020-05-26 10:56] #23841 closed

[2020-05-26 11:08] LekoArts commented on #23900
There is no need to have access to GraphQL at this stage.

If you want `/apples` to become `/fr-fr/pommes` then you could let the user pass in some sort of dictionary or better let them handle it themselves. Because they already have access to that information in their `createPages` step.

If you would want to access GraphQL in `onCreatePage` what would you request?
A list of translations? (Doable

[2020-05-26 11:14] herecydev commented on #23900
Ideally I want to provide a hook to allow the user to receive something like `{ locale: "fr-FR", path: "/apples" }` and they can return the appropriate transaltion by querying the graphql.

I've considered using pluginOptions but as I understand that has to be known statically, i.e. before the graphql is built

[2020-05-26 11:17] herecydev commented on #23900
Similar to how `gatsby-plugin-sitemap` allows a callback that can be used to query stuff

[2020-05-26 11:25] LekoArts commented on #15080
Hey folks, the original question was answered and continuing the discussion about a bug 20 answers later after initial discussion about a question isn't worthwhile to find the relevant information quickly. We'd appreciate a new [bug report](https://github.com/gatsbyjs/gatsby/issues/new?labels=type%3A+bug&template=bug_report.md) with a filled out template and a reproduction to track the bug **if**

[2020-05-26 11:25] #15080 closed

[2020-05-26 11:31] SNandini8698 commented on #11013
Hi, I am a newbie to gatsby. Can anyone help me by proving me an example repository that explains adding multiple external javascript files into a gatsby site and using them?

Thanks in advance.

[2020-05-26 11:31] LekoArts commented on #23900
I see.

Yeah, this isn't possible as overall gatsby-config is sync and you can't make requests there, too.

[2020-05-26 11:50] herecydev commented on #23900
@LekoArts Would you be willing to discuss an additional api in the build step? https://www.gatsbyjs.org/docs/overview-of-the-gatsby-build-process/#steps-of-the-bootstrap-phase

If there was a step between 12 - building schema and 13 - creating pages, something like `onPreCreatePages` that fires as a 1 time event. If that was given the graphql runner, it would allow plugins to gather schema related

[2020-05-26 11:55] LekoArts commented on #23900
You can use `createResolvers` as it's run last in the schema generations step: https://www.gatsbyjs.org/docs/node-apis/#createResolvers

[2020-05-26 12:02] pieh commented on #24353
Not deleting cause other problems (depending on scenarios) - keep in mind that there can be multiple plugins that implement `onCreatePage` hook:

All of them gets called when page is created. What we do when page is deleted in this hook - is we short circuit `onCreatePage` calls for the rest of plugin that implement `onCreatePage` (with now outdated `page`) and we create new API run for the new sh

[2020-05-26 12:04] #22634 closed

[2020-05-26 12:04] #19827 closed

[2020-05-26 12:27] BjornLuG commented on #19618
In my case, @Kanuny 's [comment](https://github.com/gatsbyjs/gatsby/issues/19618#issuecomment-609753922) indirectly solved my issue. I accidentally redirected the page data JSON to a HTML file when `publicLoader.loadPage` was trying to fetch it. After fixing the redirects, the page data JSON loads properly and all works as usual.

[2020-05-26 12:31] ahmad3700 commented on #23660
اود العمل على مشروع اقتصادي يخص الأدخار ودور التحفيز على بناء ثقافة الأدخار

[2020-05-26 12:35] herecydev commented on #23900
That's an interesting idea, it might be a bit "raw" though. I don't think you would be able to perform graphql queries in that method because there is no runner, and you can't instantiate a `GraphQLRunner` because the schema isn't fully built yet. At least there's the raw nodes.

Can you think of anyway a query can be run there?

[2020-05-26 12:37] Cry0nicS commented on #11934
Any news?
Should we go ahead and  manually fix it in our projects, as @wardpeet suggested?

[2020-05-26 12:37] LekoArts commented on #23900
The intermediate schema is available so you can use runQuery :)
https://www.gatsbyjs.org/docs/schema-customization/#accessing-gatsbys-data-store-from-field-resolvers

[2020-05-26 12:52] ShreyaB8 commented on #5801
I had the same issue but it seemed to be a browser. I was originaly using Firefox but it seems to be working fine on Microsoft Edge

[2020-05-26 12:52] herecydev commented on #23900
Hmm, how would you see that working? I see how you can access the schema but that's only called when a query is running and it uses your custom resolver.

So even if you hacked in a new field to query some data, you still need something to call that query 🤔

[2020-05-26 12:57] #24218 closed

[2020-05-26 13:41] derykmarl commented on #4983
Hope this isn't too off-topic but I was trying to do _similar_ and Google led me here.

In my case I was trying to add a [Twitcker Twitter ticker](https://twitcker.com/). They give you a snippet for traditional HTML sites that you just paste into your page wherever you want it to appear, consisting of a div and an injection script.  The injection script then injects the Twitcker javascript itself

[2020-05-26 13:50] Ildarik opened #24479 "Need warning in docs about bumping master branch during deployment to gh pages"
Recently I faced same issue as described [here](https://github.com/gatsbyjs/gatsby/issues/13120)

Maybe we need some sort of warning or tip in [docs](https://www.gatsbyjs.org/docs/how-gatsby-works-with-github-pages/#deploying-to-a-github-pages-subdomain-at-githubio) about that issue?

[2020-05-26 13:54] LekoArts commented on #24479
Hi, thanks for the issue!

What issue did you face? The issue you linked is working as intended and the docs explain this usecase.

[2020-05-26 14:15] Ildarik commented on #24479
@LekoArts added description of the problem

[2020-05-26 14:21] LekoArts commented on #24479
Reading your updated comment I feel like you should follow these instructions, right?
https://www.gatsbyjs.org/docs/how-gatsby-works-with-github-pages/#deploying-to-a-path-on-github-pages

Because with this script you'll always deploy to another branch than `master`

[2020-05-26 14:26] Ildarik commented on #24479
No, correct link is https://www.gatsbyjs.org/docs/how-gatsby-works-with-github-pages/#deploying-to-a-github-pages-subdomain-at-githubio

GH pages forces to deploy to master branch for user\organization pages.

[2020-05-26 14:27] DeboraLara1 commented on #11406
Thanks, solved

[2020-05-26 14:30] kamranayub commented on #19859
Just ran into this. I am almost positive it is because some options are  used in the `gatsby-*.js` files in the plugin but these are not executed when it is a "sub-plugin" (at least with `gatsby-plugin-mdx`). I know this because I made a custom gatsby-remark plugin and tried adding under `gatsbyRemarkPlugins` and my `onPreInit` method was never called in the plugin while loading, so for whatever r

[2020-05-26 14:32] rennehir commented on #22109
I'm also experiencing this when building my site on Netlify. I have cleared cache etc on Netlify.  Locally the build works with no problems.

gatsby-cli@2.12.35
gatsby@2.20.19
Netlify build image: Ubuntu Xenial 16.04 (default)

[code]

[2020-05-26 14:36] muescha opened #24480 "(docs): update globPatters for offline & manifest plugin"
Following up this — is `globPatterns: ['**/*']` what we want to be recommending to people? Was this tested? By default we cache as little as we can in the service worker because everything that's part of the glob pattern gets cached right away — by adding this glob pattern, you're not just caching the icons but _everything_ in the public folder — which could be gigabytes of data depending on the s

[2020-05-26 14:37] LekoArts commented on #24479
Ah, I see!

Documenting those two options (https://github.com/gatsbyjs/gatsby/issues/13120#issuecomment-479932834) sounds reasonable. Would you be up for opening a PR adding this? :)

[2020-05-26 14:48] Ildarik commented on #24479
Sure!
I'll do it today a little bit later! Thanks!)

[2020-05-26 14:50] milevgeorgi opened #24482 "Problem with multiple images"
I am using gatsby for 1 month and I am loving it, but I have a question. How to use multiple images on diffrent elements, not one after another. The way I am doing it now is by making multiple image.js files and importing them, I don't think that is correct. I searched in documentation, forums, youtube and many more. Every solution is to query and return them at once. Please help if you can. :)

[2020-05-26 14:55] jabranr opened #24483 "gatsby-source-wordpress: Plugin to handle ACF null fields"
## Summary

I had been using the [workaround](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress#graphql-error---unknown-field-on-acf) mentioned in `gatsby-source-wordpress` docs to nullify the empty ACF field.

But whenever there is a theme update or similar action, this custom snippet in `functions.php` is lost. Since `gatsby-source-wordpress` docs already mention:

[2020-05-26 14:57] acao commented on #15805
we were able to confirm that graphiql explorer + graphiql have working cmd enter using the latest versions of both graphiql and graphiql-explorer packages

the only delta I could find was this version:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-graphiql-explorer/package.json#L47

possibly if we upgrade to 0.6.4 we won't have this issue?

[2020-05-26 15:05] viters commented on #22109
I've fixed issue by installing optional deps, because as for now I've been using `npm i --no-optional` on CI environment, but currently for Gatsby it is not possible.

I think if `ink` is required for build process, it should not be marked `optional`.

[2020-05-26 15:24] romainbessugesmeusy commented on #5801
Has anyone tried to reverse proxy the :8000 with nginx? Will it work in your opinion?

[2020-05-26 15:30] olingern commented on #19827
:frowning_face: I'm still using `yurnalist` as my default logger. I never saw an update here that this has been fixed.

[2020-05-26 15:47] diminishedprime commented on #23441
Thanks for the response!

I'll continue with my current approach then. For anyone that's interested, it's just naming any page-specific components with a starting `_`, since those files are already ignored. It looks a bit odd, but it's a way to get this functionality without needing an explicit blacklist.

[2020-05-26 15:53] kinnikumegane commented on #24469
Hi @LekoArts
thank you so much for your quick reply !!!

Because I would like to insert ToC in any place I would like to have in markdown file, I guess I need to use MDX in that case. (Option1 that you mentioned looks good, but I think I can only show the ToC component above the other content of the post if I apply this method)

As per the page below, I created TableOfContents component and try to

[2020-05-26 15:54] kinnikumegane commented on #24469
And, I can see that graphql picks up Table of Contents.

![Screen Shot 2020-05-26 at 5 54 03 PM](https://user-images.githubusercontent.com/56922464/82922509-fa743380-9f79-11ea-8fdd-fb4be7d84a73.png)

[2020-05-26 15:56] muescha opened #24487 "bug(tests): docgen.parse"
## Description

i have 2 tests failing.

### Steps to reproduce

[code]

_note: since i get errors when installing with `yarn.lock` i delete it always before `yarn run bootstrap`_

### Expected result

no error

### Actual result

[code]

### Environment

Run `gatsby info --clipboard` in your project directory and paste the output here:

[code]

[2020-05-26 17:09] DannyHinshaw opened #24494 "Resolve Page URLs With ".html" Suffix"
## Summary
I'm in a bit of an unfortunate position where the design choices of someone years ago are now affecting my rebuild of a website. Basically, way back when the site was originally created the designer pushed to have all URLs be fully explicit with the `.html` extensions (eg `website.com/index.html`). I am currently in the process of rebuilding the site with Gatsby and it has come to my at

[2020-05-26 17:09] acao commented on #24250
found the bugfix!

it seems to have been introduced in #21158

i will create a PR, but the solution is as simple as changing
[code]

to
[code]

[2020-05-26 17:16] muescha commented on #21995
since some files are referenced from the docs: should also a link change in docs also considered include an PR?

[2020-05-26 17:19] madalynrose commented on #24482
Hi @milevgeorgi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provid

[2020-05-26 17:24] offirgolan commented on #24236
I was able to get the host and port via:

[code]

[2020-05-26 17:24] #24236 closed

[2020-05-26 17:29] marcysutton commented on #19260
Glad this is tagged with `topic: website`, I think it should be done as part of the site redesign. I'll leave it open for the team working on that to find amongst the other website-related issues.

[2020-05-26 17:47] blainekasten commented on #24494
Hey there!

I think what you want to use is [`createRedirect`](https://www.gatsbyjs.org/docs/actions/#createRedirect). My guess is that your code should look something like this:

[code]

There are other options to help you configure your redirects, so check out the docs.

I'm going to close this issue as it seems like this should work. But feel free to respond here for further support or open a n

[2020-05-26 17:47] #24494 closed

[2020-05-26 17:49] pranjaljately opened #24499 "gatsby-plugin-dark-mode README in plugins list appears outdated/not to match the one in the repo"
As per my conversation with @laurieontech

_Originally posted by @laurieontech in https://github.com/gatsbyjs/gatsby/pull/24350#issuecomment-634151728_

**The new docs help fix an issue that I was facing when using the docs from GatsbyJS for the plugin.**

[**Example on GatsbyJS:**](https://www.gatsbyjs.org/packages/gatsby-plugin-dark-mode/)

![image](https://user-images.githubusercontent.com/3066

[2020-05-26 17:52] DannyHinshaw commented on #24494
@blainekasten thanks! I had actually just found that and was in the middle of attempting:

[code]

The console is outputting the correct old URLs but it is not redirecting... not sure what I'm doing wrong. Guess I look more at the docs and hope there's a solution in there

[2020-05-26 17:55] smthomas commented on #24257
It looks like we have a few problems here. Downloading all of the images is taking a long time. The gatsby-source-drupal plugin is going to download these images as long as they are referenced in the JSON provided by JSON:API.

The issue you linked is one potential solution to help with that. I will follow up on that issue to see what is blocking it from getting merged but it appears it does requi

[2020-05-26 17:57] laurieontech commented on #24499
From what I can tell the latest README isn't being pulled into the plugin showcase for some reason. So wanted the user to open a bug.

[2020-05-26 18:12] keith-elliott commented on #19088
FYI, I am getting the same error.  Ultimately, after installing an older version, it worked.  My installation command that produced a working CLI...

npm install -g gatsby-cli@2.12.0

[2020-05-26 18:25] muescha opened #24505 "Docs: Add title to <abbr> in docs"
## Summary

when a abbreviation is marked with `<abbr>` then it is underlined and i can hoover over it and it becomes a `?` but no more info is there :(

### Motivation

the underline and the change of the icon feels useless if there is no more information, because i expect that is clickable when i see a `?`

## Steps to resolve this issue

should we add a `title` parameter to the `<abbr>` tag?

#

[2020-05-26 18:55] muescha opened #24509 "discussion: move gatsby recipes out of glossary for IaC"
## Summary

in PR #23431 `Glossary, encyclopedia: Add Infrastructure As Code article.` there is and Glossary about [IaC](https://www.gatsbyjs.org/docs/glossary/infrastructure-as-code/) and there is a half of the text in style of a guide about Gatsby Recipes.

i suggest:
- to extract this Recipes part into a Recipes Guide
- only an overview why recipes are IaC
- add an glossary about Gatsby Recipes

[2020-05-26 19:00] muescha opened #24510 "discussion: add a part for glossary to contribution / style guide"
## Summary

there are some pages about [Gatsby Styleguide: What kinds of docs can I write?](https://www.gatsbyjs.org/contributing/gatsby-style-guide/#what-kinds-of-docs-can-i-write) and [Docs Contributions - Docs Writing Process: Tutorials vs. recipes vs. guides](https://www.gatsbyjs.org/contributing/docs-writing-process/#tutorials-vs-recipes-vs-guides).

But i miss there how a glossary should inc

[2020-05-26 19:24] ascorbic commented on #24257
What I did in a similar situation was to rename `file--file` to something else, which meant it still came through to Gatsby, but didn't download anything. On the Drupal side we set up s3fs for the images, and then linked the bucket to [ImageKit](https://imagekit.io/). I then wrote a custom resolver to generate gastby-image compatible types, using ImageKit URLs generated from the s3 URLs coming fro

[2020-05-26 19:34] KarolKier commented on #24257
Thank you for feedback.

It is possible to prevent Gatsby from downloading images from "Commerce API" without changing the JSONAPI output  (the load time is 30 minutes without images) by adding:

`    {
      resolve: `gatsby-source-drupal`,
      options: {
        baseUrl: `https://dev.domain.com`,
        apiBase: `/jsonapi/`, // optional, defaults to `jsonapi`
        concurrentFileRequests: 6

[2020-05-26 20:24] milevgeorgi commented on #24482
I don't think we need minimal reproduction... It's just a general question, how can I add multiple images in different places of a page? Should I make different file for every image or just make a query with all the images that I need and use them on the page ?

[2020-05-26 21:26] madalynrose commented on #24487
Hi there, @muescha! Could you add some more detail about how to reproduce the test failures you're seeing? Which directory are you in?

[2020-05-26 21:55] muescha commented on #24487
i am in main directory and running add the tests with `yarn test`

(Note: I do `rm -rf node_modules/ yarn.lock` and then `yarn run bootstrap` after I fetch the master because otherwise I never get some of the node sharp things installed)

[2020-05-26 23:01] RebootGG opened #24513 "pathPrefix in gatsby-config is not prepending the prefix to assets."
Hello everyone. I'm trying to deploy my gatsby project on a sub-directory like: https://www.example.com/blog

Following the [docs](https://www.gatsbyjs.org/docs/path-prefix/), I added a `/blog` path prefix into my `gatsby-config.js` file. Then, I build the project using the command `gatsby build --prefix-paths`

When i check my generated `index.html` in my `public` folder, i'm seeing that the pref

[2020-05-26 23:12] whoisryosuke opened #24514 "Gatsby develop fails - yoga-layout and urql"
## Description

Gatsby develop command fails immediately and displays error for yoga-layout and urql.

Not sure what caused this issue. I recently updated my Gatsby site to the latest version using `yarn add gatsby@latest` to enable conditional page builds. It worked great, the dev and build processes worked fine. I reopened the project, added a new MDX post, spun up the dev server, and immediatel

[2020-05-26 23:34] tslater opened #24515 "useStaticQuery causing failed builds"
## Description

Failed builds, specifically `useStaticQuery` is causing a failed json file import error. `gatsby develop` works just fine though.

### Steps to reproduce

Build a project with `useStaticQuery` with the latest Gatsby.

### Expected result

Build should succeed.

### Actual result
*Note:* All failed modules are using `useStaticQuery`
[code]

### Environment

[code]

[2020-05-27 00:01] goleary opened #24518 "`gatsby serve` correctly serves on 9001 when 9000 is occupied but reports incorrectly"
![image](https://user-images.githubusercontent.com/16123225/82961497-63f04400-9f72-11ea-8ea6-b2655baad00a.png)

## Description
when `gatsby serve` conflicts it says it's serving on the wrong port

### Steps to reproduce
run `gatsby serve` in on projects
run again in another project
respond with `y` when asked if gatsby should use a different port

### Expected result
serve on port 9001 and say so

[2020-05-27 00:03] #24250 closed

[2020-05-27 00:32] mrhut10 commented on #23724
@lukebennett88 as the creator are you able to tag this as not stale?

we have a PR addressing this issue and some community support.

please let the bots know this issue isn't stale.

@beamercola and @haven3 ??

regards

[2020-05-27 00:34] lukebennett88 commented on #23724
Looks like I can @mrhut10. just removed it.

[2020-05-27 01:26] amandasage commented on #24221
Hi @joshduck checking if https://www.contentful.com/developers/docs/tutorials/general/rich-text-and-gatsby/ will help resolve some of the issues you're seeing.

[2020-05-27 01:37] dorelljames commented on #21392
@Pyrax how did you replace the `StaticQuery` or did you just completely removed it?

[2020-05-27 01:56] mrhut10 commented on #23724
Looks like you need to yeah tag "not stale" to prevent it automatically being closed by there bots

[2020-05-27 01:59] thomascorthouts commented on #24513
Hi @RebootGG

Could you try moving your `pathPrefix: '/blog',` from the `siteMetadata` to 1 level up and see if that works, the docs say it needs to be in the root level of the object put in `module.exports` for it to work

[2020-05-27 02:00] thomascorthouts commented on #24513
It would be
[code]
(I moved the path prefix from L3 to L2)

[2020-05-27 02:55] 8shaks commented on #24253
I fixed this issue by using the MetaData component(located inside client, common) instead of the SEO component.

[2020-05-27 02:55] #24253 closed

[2020-05-27 03:35] tslater commented on #24515
I just realized that I have a post-build hook that moves the files. If I remove it, the errors are gone. It seems that gatsby is still compiling HTML when the post build runs..I.E. it is not done yet.

[code]

[2020-05-27 05:07] tjands opened #24522 "Gatsby Site takes a long time to interactive (possibly issue with prefetching images)"
## Summary

Hey all,
This is most likely a weird question as I can imagine the solution to my problem will be quite a few things (or Im just doing something really dumb haha), I have a gatsby site that handles around a hundred pages, about half of which are rendered, but almost all contain a lot of images and gifs to display in a collection of galleries.

My issue is that my site takes a reaaaally

[2020-05-27 05:08] smthomas commented on #24257
As far as the 500 error. JSON:API does have some caching (especially if you are pulling the data through JSON:API as an anonymous user). Just to be sure, it might be worth making sure you clear the Drupal cache and run `gatsby clean` after changing the name of `file--file`. It might not fix it, but is worth testing if you haven't already.

[2020-05-27 05:23] KyleAMathews commented on #24514
Older versions of Node 13 error in @urql/core — see https://github.com/FormidableLabs/urql/issues/788 for details. If you upgrade to node 13.14.0 or above things will work.

Note that odd major versions of Node are unstable so keeping to even releases like 12 & 14 are generally better bets.

[2020-05-27 05:23] #24514 closed

[2020-05-27 05:28] KyleAMathews commented on #22991
the `getFileName of undefined` error should be fixed in the latest version https://github.com/gatsbyjs/gatsby/pull/24354

[2020-05-27 06:02] stevenkkim commented on #23385
Thanks for the advice. I'll go with Gatsby `Link` for everything for now.

[2020-05-27 06:42] LekoArts commented on #23385
Thank you for opening this!

Indeed, using Gatsby's Link for everything isn't harmful, for the 3rd case it would also make sense to only use your Routing choice (e.g. if you want to use react-router-dom).

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities

[2020-05-27 06:42] #23385 closed

[2020-05-27 06:43] LekoArts commented on #24513
Thank you for opening this!

As Thomas said correctly you placed the key in the wrong location. Fixing this should make it work :)

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) i

[2020-05-27 06:43] #24513 closed

[2020-05-27 06:51] LekoArts commented on #24515
Thank you for opening this!

The results of static queries are put into those JSON files you see missing so your move of the files will definitely be the cause. I think it's safer to move your files in a `postbuild` npm script than in the lifecycle. More information would also be here: https://github.com/gatsbyjs/gatsby/issues/1878

We're marking this issue as answered and closing it for now but p

[2020-05-27 06:51] #24515 closed

[2020-05-27 07:37] LekoArts commented on #24482
Thank you for opening this!

The doc section about images will give you an idea about your options: https://www.gatsbyjs.org/docs/images-and-files/

So e.g.

1) gatsby-iamge
2) static folder
3) webpack import

You can create individual image files for this, you can use a single `useStaticQuery` in a component with multiple queries, you can directly import them.
Having individual files for them is

[2020-05-27 07:37] #24482 closed

[2020-05-27 07:39] LekoArts commented on #24522
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-05-27 07:39] stackrole-dev commented on #24522
Hey @tjands,
Have you tried. using srcSetBreakpoints https://www.gatsbyjs.org/docs/gatsby-image/#images-that-stretch-across-a-fluid-container

This would dramatically decrease load based on the device the end user is using.
![image](https://user-images.githubusercontent.com/64824192/82991271-0b28b600-a01b-11ea-9bed-70b80f0444a8.png)

[2020-05-27 07:50] RebootGG commented on #24513
@thomascorthouts Thank you for you answer.

The point you are referrring to was unfortunately just a copy/paste mistake from my side when I shared my code here.

I used a different prefix in my code, and I replaced it at the wrong location when pasting it on Github,(I kept 'blog' prefix for clarity reasons.. that is a fail) sorry about that.

I found that the problem was actually coming from the `

[2020-05-27 08:11] pkino opened #24524 "Wrong display of gatsby-plugin-sass page"
## Description
There is something wrong with the display of the page of "gatsby-plugin-sass".
There is only "README.md".
https://www.gatsbyjs.org/packages/gatsby-plugin-sass/

<img width="1435" alt="スクリーンショット 2020-05-27 17 06 45" src="https://user-images.githubusercontent.com/22070311/82994351-f3fac000-a03c-11ea-80a8-c8abbd5c89d3.png">

### Steps to reproduce
Go to https://www.gatsbyjs.org/package

[2020-05-27 09:09] LekoArts commented on #24524
Thanks for the issue but this is a duplicate of https://github.com/gatsbyjs/gatsby/issues/24137

[2020-05-27 09:09] #24524 closed

[2020-05-27 09:35] axe312ger commented on #24303
The gatsby source plugin uses the sync api. The delivery/sync api does not have access to this attribute:

https://www.contentful.com/developers/docs/references/content-delivery-api/#/introduction/common-resource-attributes

But the new Contentful graphql api does support this attribute:

https://www.contentful.com/developers/docs/references/graphql/#/reference/schema-generation/sys-field

As soon

[2020-05-27 09:37] axe312ger commented on #23123
related:

* #22010 (The retry in got is broken)
* #15783 (Had a lot of issues when using createRemoteFileNode for source videos)

[2020-05-27 09:45] axe312ger commented on #22010
This PR would benefit from a fix on this as well: https://github.com/gatsbyjs/gatsby/pull/24288

It would also allow https://github.com/gatsbyjs/gatsby/pull/15783 to use createRemoteFile again :)

[2020-05-27 09:46] axe312ger commented on #10090
I did run into this as well after #19916 was merged and released.

I'll set up a test repository & contentful space to check this again.

[2020-05-27 10:00] iloveip commented on #16176
Hi @aaronshaf,

Did you find a way to populate `404.html` page with pageContext?

[2020-05-27 10:36] jordyvg opened #24526 "The result of this StaticQuery could not be fetched"
## The result of this StaticQuery could not be fetched after gatsby build

White screen on the page with the `StaticQuery` code after `gatsby build` and `gatsby serve`.

In the console:
`react_devtools_backend.js:6 Error: The result of this StaticQuery could not be fetched.`

`This is likely a bug in Gatsby and if refreshing the page does not fix it, please open an issue in`

No problems with `gat

[2020-05-27 11:09] vladar commented on #24526
Thanks for opening this, @jordyvg !

This happens because a query can't be imported from the other file. Gatsby relies on presence of `graphql` tagged template literal in the same file where `useStaticQuery` hook is used to extract queries at build time.

The recommended way of composing queries is [described in the documentation](https://www.gatsbyjs.org/docs/use-static-query/#composing-custom-us

[2020-05-27 11:09] #24526 closed

[2020-05-27 11:22] nikoladev commented on #19316
For yarn and npm there's documentation pages:

- https://www.gatsbyjs.org/docs/glossary/npm/
- https://www.gatsbyjs.org/docs/glossary/yarn/

Is there any reason we shouldn't have one for pnpm too? Then we could also mention [gatsby-plugin-pnpm](https://github.com/Js-Brecht/gatsby-plugin-pnpm) by @Js-Brecht.

Also, it seems that this issue was auto-closed without actually being resolved so I opened

[2020-05-27 11:40] tmrp commented on #20308
@ttstauss I came across these issues as well while working on a recent Gatsby TypeScript project. I fixed the issue by using the [gatsby-plugin-netlify-cms-paths](https://www.npmjs.com/package/gatsby-plugin-netlify-cms-paths) plugin. Now, I don't need to add `../` to the image URLs to get them to work, and the images show now up automatically.

My `gatsby-config.js`

[code]

My NetlifyCMS admin co

[2020-05-27 12:04] #23489 closed

[2020-05-27 12:04] #23481 closed

[2020-05-27 12:04] #23454 closed

[2020-05-27 12:36] xaviemirmon commented on #15028
@kamalkech Have you configured the right permissions on your drupal site?  If you go to yoursite.com/jsonapi/menu/menu do you see the items there?

[2020-05-27 12:51] jordyvg commented on #24526
Stupid! I should have known.
Thanks, the hook works really well.

[2020-05-27 12:53] LekoArts commented on #24499
I updated the title/description on this issue: https://github.com/gatsbyjs/gatsby/issues/24137

Let's consolidate it there, it's basically the same issue :)

[2020-05-27 12:53] #24499 closed

[2020-05-27 13:04] Pyrax commented on #21392
@dorelljames I had to completely remove it.

[2020-05-27 13:23] janat08 commented on #23736
Yes i'd like to open this issue open. The use case being offline usage, where user may wish to revisit one of the pages previously visited, with only route towards it being through search.

[2020-05-27 13:41] TotalLag commented on #23990
Different error messages, but I started receiving errors too after upgrading the following packages:

Package | Type | Update | Change
-- | -- | -- | --
gatsby (changelog) | dependencies | minor | ^2.19.45 -> ^2.22.11
gatsby-image | dependencies | minor | ^2.3.1 -> ^2.4.5
gatsby-plugin-catch-links | dependencies | minor | ^2.2.1 -> ^2.3.3
gatsby-plugin-manifest | dependencies | minor | ^2.2.48 ->

[2020-05-27 13:49] PieterT2000 commented on #10195
Please see [this repo](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/fragments.js) for the written-out fragments used with Gatsby Image, so you can just copy them to your `gatsby-node.js` file.

[2020-05-27 14:01] #24400 closed

[2020-05-27 14:10] fasaas commented on #17145
Hello!

Having a look at the current gatsby documentation, the `setFieldsOnGraphQLNodeType` has been deprecated in favor of `createTypes` but I am reaaaaally scratching my head around on this:
How do I extend all Nodes using the `createSchemaCustomization` API to add a custom field to all Nodes I don't know their names?

Context: I am developing a custom plugin for all the other front-ends that ar

[2020-05-27 14:41] AishaBlake commented on #24505
Given that every instance of the `<abbr>` tag I see is accompanied by an explanation of the abbreviation, I think it's probably better to remove them rather than add repetitive titles.

[2020-05-27 14:58] vladar commented on #10090
@axe312ger Do you have a reproduction for this? Because I suspect that it might be a different issue.

[2020-05-27 15:02] AishaBlake commented on #18702
I think this is still worth doing! I try to keep an eye on any new docs that come in but there are still a bunch of these types of phrases scattered throughout the docs. Opening this up via label in the hopes that someone will tackle it.

[2020-05-27 15:04] BURROO commented on #24202
@jasonbahl  does the provided info help?
I am still struggling with this problem.

[2020-05-27 15:23] AishaBlake commented on #19415
This seems like it would be helpful. A couple of questions to consider for anyone implementing this:

- Presumably, this would _only_ be for source plugins and not transformer plugins, themes, etc. Do we have a better way of identifying source plugins programmatically than pattern matching on the package name?
- Where would we be getting the service name from? For example, if the package name is `

[2020-05-27 16:02] Js-Brecht commented on #19316
Btw, I've done some small bits of work recently to make Gatsby work better with Rush.  I use a Rush monorepo successfully now; it has several Gatsby sites in it already, and it is steadily getting bigger.  Still need `gatsby-plugin-pnpm`, but the other blocking issues are getting fixed as I encounter them.

[2020-05-27 16:27] Undistraction commented on #24522
@tjands Are you loading any third-party scripts. Intercom for example will absolutely kill your Lighthouse performance scores.

[2020-05-27 16:28] kamalkech commented on #15028
@xaviemirmon yes i can get list menu, but cannot get list links
for example main menu need to get list links like : home, contact ....etc

[2020-05-27 16:38] Undistraction opened #24539 "Normalising Node Data"
I'm working on a Gatsby site which shares components with other SPAs. One thing that causes friction is the format of the data supplied by GraphQL queries in Gatsby. Data is located in various different places on a GraphQL node. I've adopted a pattern of normalising the data I need by mapping it over to the `fields` attribute of a node (See a plugin I wrote for this [here](https://github.com/Undis

[2020-05-27 17:15] vrgimael commented on #6668
Still having this now, exact same issue

[2020-05-27 17:22] wesbos commented on #23606
Still an issue, can be closed if Gatsby ships fast-refresh as default and this doesn't need fixing

[2020-05-27 17:53] blainekasten commented on #23606
Thanks @wesbos! It should be the default in v3

[2020-05-27 17:53] #23606 closed

[2020-05-27 18:00] #15805 closed

[2020-05-27 18:13] blainekasten commented on #22109
Sorry friends! And thank you for reporting. I've got a fix up [here](https://github.com/gatsbyjs/gatsby/pull/24542). I'll try to get a release out today if I can get it merged.

[2020-05-27 18:34] williamkwon97 commented on #22594
I have a same issue, I search the codes if I have lazy or Suspense, but I didn't find any code like that. How do I resolve this issue?
About.js
![Screen Shot 2020-05-27 at 1 31 14 PM](https://user-images.githubusercontent.com/34716439/83058796-86d83200-a01e-11ea-9f9a-f0588963fa98.png)
layout.js
![Screen Shot 2020-05-27 at 1 33 04 PM](https://user-images.githubusercontent.com/34716439/83058909-b424

[2020-05-27 18:40] muescha commented on #24505
you mean removing the `<abbr>` tags around?

[2020-05-27 18:43] shide1989 commented on #19618
We just released a production website that handled 20K+ visits the first day of release. The next day (today) i get this issue coming OUT OF NOWHERE. What the hell ?

[2020-05-27 18:44] muescha commented on #18702
i remember that i see a remark-lint plugin which check this....

[2020-05-27 18:44] muescha commented on #18702
maybe it was this https://github.com/11ty/eleventy-plugin-inclusive-language but i don't checked it

[2020-05-27 18:52] williamkwon97 opened #24546 "Deployment issue error Building static HTML failed for path "/about/""
## Description
I have a similar problem with this issue
https://github.com/gatsbyjs/gatsby/issues/12706
I didn't used the lazy or suspension code and I search for it too, but I didn't find anything.
https://github.com/williamkwon97/GatsbyJS
![Screen Shot 2020-05-27 at 1 33 04 PM](https://user-images.githubusercontent.com/34716439/83060552-3d3d1680-a021-11ea-90b4-770e812e823e.png)
my about.js
![Scr

[2020-05-27 18:59] vladar commented on #23552
Apollo links [compose](https://www.apollographql.com/docs/link/composition/). So, initially I thought about something as simple as this:

[code]

But now I see that the bigger challenge is defining and passing the `$language` variable downstream as we don't support this.

I think the most customizable solution would be to add `transformSchema` option so that you could apply schema transformations

[2020-05-27 19:10] aesthytik commented on #23200
https://github.com/aesthytik/gatsby-test/blob/master/src/components/image.js

[2020-05-27 19:19] stevenkkim commented on #23385
@LekoArts thanks for pointing me in the direction of the communities/support page! I hadn't seen that before.

[2020-05-27 19:21] muescha opened #24547 "Improve tutorial "create a source plugin""
## Summary

in https://www.gatsbyjs.org/tutorial/source-plugin-tutorial

"Once you clone this code"

i miss a hint or a command how to clone a subdirectory. as new user i do not have a clue how to do this.

maybe he end up with full cloning the gatsby repo and this takes a long time and big space on hard drive

Suggestion:
- add an easy command for this step
- maybe add a git sparse checkout comma

[2020-05-27 19:22] ehannes commented on #22558
I have the same issue. I opened one of the duplicates above. I have an example repository here where at least I can reproduce the bug: https://github.com/ehannes/broken-gatsby-develop-command.

I have the latest version of gatsby, gatsby-cli and node:
[code]

[code]

[code]

Temporarily downgrading to gatsby `2.21.40` to being able to build.

[2020-05-27 19:23] ehannes commented on #24411
Hi @LekoArts! Thanks for your response. Unfortunately, it still doesn't work for me, even after upgrading gatsby, gatsby-cli and node. But I will move to one of the other issues. Sorry for not checking that more thoroughly before opening a new one!

[2020-05-27 19:27] shide1989 commented on #19618
The bug suddenly disappeared again. Looks like it might be linked to cache or something

[2020-05-27 19:55] abohannon commented on #21193
@Ir1d that's awesome you figured out a solution. Looking at your PR I'm a little confused why this works, though? I'm attempting to implement in my own project with no luck. Seems all you did was memoize the nav links? Any additional explanation would be appreciated!

[2020-05-27 20:02] AishaBlake commented on #14493
I'm not seeing the kind of content Chris described. @gillkyle, feel free to chime in if I'm missing something. @laurieontech, maybe we could discuss post-Gatsby Days/Gathering? This has been sitting for a really long time but it seems worth addressing to me.

[2020-05-27 20:34] AishaBlake commented on #20691
Taking another look at this issue, it looks like some things have improved. I'd also like to note that, though the initial line item in the umbrella issue is "Deploying to other hosting services" that's not actually a search I'd assume people are using. It's more likely people are looking for either a specific service or a more general page on "deploying a Gatsby site" which I think we have pretty

[2020-05-27 20:34] #20691 closed

[2020-05-27 20:44] laurieontech commented on #14493
Yup, let's plan on that.

[2020-05-27 20:54] muescha commented on #24547
i will create later a summary of all ideas for this tutorail. i close this until then

[2020-05-27 20:54] #24547 closed

[2020-05-27 21:06] hugo-marques-m3 commented on #19392
@mareksuscak I totally agree. I was just trying to upgrade this from an older version of `gatsby-source-contentful` so that I could use the locale filters and spend ages trying to figure out why it suddenly stopped working.

Also, In the same project I have some api routes that get data from contentful using the contentful package and that was working fine so I was even more confused.

[2020-05-27 21:16] AishaBlake opened #24549 "[docs][guide] New guide on deploying to DigitalOcean"
## Summary

We've had a few folks ask for documentation around deploying to DigitalOcean. The conversation started in #20691. Rather than a more general "other" category, I think it makes sense to continue to respond to requests for specific docs now that we've got many of the most popular options covered.

Some recommended topics to cover:

- DigitalOcean Droplets
- SSL
- Gotchas like making sure

[2020-05-27 21:19] thefrontendwizard commented on #24518
I believe I can solve this one.

So I did some investigation here and I believe the cause of the problem is this line:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/serve.ts#L154

This command relies on mutating the `port` variable, but the urls don't use them directly, using the `program.port` coming as an argument when the command is called, which is never mutated.

[2020-05-27 22:17] AishaBlake commented on #22794
Hi, @caitlinselca! If you look at the [files changed](https://github.com/gatsbyjs/gatsby/pull/22540/files) in the PR linked above, that should give you a starting point. @freiksenet, do you have any more human-friendly info that might help make what we're collecting more clear? Just looking at property names, I'm not sure what everything is either.

[2020-05-27 22:21] AishaBlake commented on #24505
Yes! Since their purpose is already being served by the surrounding text, I don't think they're necessary.

[2020-05-27 22:21] capndave commented on #23931
@tesseralis a couple questions re: linting/formatting pipeline that occurs now. I do see that `husky` and `lint-staged` currently call `prettier --write` to lint staged markdown files, and assume that circleCI or something calls the `lint` script . I guess my questions are:

1. You want to run remark-stringify just on changes to markdown files in the docs dir, correct?
2. Any idea what's going wit

[2020-05-27 23:08] mnurik commented on #24546
@williamkwon97 I don't think it is gatsby issue. While in build step you are trying to get `store` from empty context and then from `store` you are looking for value `isDark`. So if you give an initial value to context in `context.js` file, like: `createContext({ state: {/* your initial store */} })`, you will see the error gone. You still have an issue using `emotion-theming`, but it is different

[2020-05-27 23:09] tjands commented on #24522
Thank you at @Undistraction, I don't think we are but I will try removing these this morning. and thanks @stackrole-dev, I am on most images but not all I will try these too.

And thanks @LekoArts, Ill try to put together a minimal reproduction soon, should be able to find some time today or tomorrow. :)

Thanks so much all!

[2020-05-27 23:33] joshduck commented on #24221
@amandasage, no. That's what we're using right now.

The problem is that the JSON object referenced in that documentation page (`bodyRichText.json`) can contain way too much data (gigabytes) and crash the process.

Out fix so far has been to patch `gatsby-source-contentful` to limit the depth of the recursion.

[2020-05-27 23:35] williamkwon97 commented on #24546
Hello thank you for responding. I learn gatsbyJS 2 days ago and never learn javascript properly before so could you fork what you mean? I basically finished tutorial from gatsbyjs and watched https://www.youtube.com/watch?v=g2GeQlvdqdo&t=2001s this videos to implement dark mode so not sure what to put as /* your initial store */. Also how is emotion-theming going to trouble after this?

[2020-05-28 00:19] abohannon commented on #17914
FWIW we've experienced this off and on. The first time we fixed it by upgrading to Material UI v4 and using the `gatsby-plugin-top-layout` pattern used in their MUI starter found in their repo. This ensures the `gatsby-ssr` and `gatsby-browser` root element renders are the same.

However, we started seeing this issue again a couple weeks ago on a handful of pages and tracked it down to a component

[2020-05-28 00:35] balibebas commented on #16233
DX needs to be updated. As of [release 0.70.0](https://gohugo.io/news/0.70.0-relnotes/) Hugo supports modern JavaScript via Babel. As an aside, I just want to point out this table should include a scale component. I'm able to build a website with 57K pages using Hugo in 40 seconds.

![Screen Capture_deepin-terminal_20200517003659](https://user-images.githubusercontent.com/65664227/83085314-2ef1080

[2020-05-28 00:38] balibebas commented on #16233
DX needs to be updated. As of [release 0.70.0](https://gohugo.io/news/0.70.0-relnotes/) Hugo supports modern JavaScript via Babel. DX table should include a scale component. I'm able to build a website with 57K pages using Hugo in 50 seconds:

![Screen Capture_deepin-terminal_20200517003659](https://user-images.githubusercontent.com/65664227/83085390-5ba51f80-a0be-11ea-8423-0dc920fc2a72.png)

You

[2020-05-28 00:42] balibebas commented on #16233
DX needs to be updated. As of [release 0.70.0](https://gohugo.io/news/0.70.0-relnotes/) Hugo supports modern JavaScript via Babel. DX table should include a _scale_ component. I'm able to build a Hugo site with 57K pages in 50 seconds:

![Screen Capture_deepin-terminal_20200517003659](https://user-images.githubusercontent.com/65664227/83085533-da9a5800-a0be-11ea-80ab-9e09cde60f4f.png)

This is a [

[2020-05-28 00:48] amandasage commented on #24221
Hey @joshduck I will open a ticket on Contentful's end for this

[2020-05-28 01:29] webriq commented on #21392
Thank you. I'm going to give it a try.

On Wed, May 27, 2020, 9:04 PM Björn Clees <notifications@github.com> wrote:

[2020-05-28 01:55] tesseralis commented on #23931
@capndave

1. Correct, we only want to run remark-stringify on markdown files in the docs dir
2. We're using remark to lint the docs but prettier to format them
3. Remark-stringify should be used in in the `lint-staged` command. A new `format:docs` command should be added that runs remark-stringify on the docs, and it should be added to the `format` script.

[2020-05-28 02:06] Ir1d commented on #21193
@abohannon Along with memorizing the NavTabs component and delaying mathjax, we changed the implementation (keyword of material-ui) of a larger Drawer component from css to js, so it only renders once instead of twice.

The key reason of this delay is that the page takes a lot of time to render, I think you should did into your components and find out which takes too much time.

[2020-05-28 02:09] tesseralis commented on #24283
Hi @imrishabh18, this is a pretty involved issue so it's probably not a good idea. Please see the issues labeled ["Good first issue"](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22+) for good issues for you to tackle!

[2020-05-28 02:28] ironng commented on #22414
hey @xveganxxxedgex I ran into a similar issue today, and I think the cause seems to be the method [`fmImagesToRelative`](https://github.com/danielmahon/gatsby-remark-relative-images#to-convert-frontmatter-images) from the [gatsby-remark-relative-images](https://github.com/danielmahon/gatsby-remark-relative-images), which is used to convert  absolute paths for frontmatter images to relative paths.

[2020-05-28 03:21] hsnyc opened #24559 "Something went wrong installing the "sharp" module"
## Description

`gatsby develop` fails on existing site or even a new build.

Full error below:
[code]

### Steps to reproduce

Had node 8 installed when I first noticed the error. Upgraded to 12, cleared npm cache `npm cache clear` and gatsby cache `gatsby clean`. Rebuild `npm rebuild --verbose sharp` no errors.
 Downgraded to Node 10 and repeated the above steps. Same error.

### Expected result

[2020-05-28 05:15] xveganxxxedgex commented on #22414
@ironng Wow, very interesting and a good find! Thank you so much for your help!

[2020-05-28 05:15] #22414 closed

[2020-05-28 05:23] maverick-27 commented on #20320
This issue occurs on first Time install how to resolve ???

C:\Users\Akhil Joshi\AppData\Roaming\npm\node_modules\gatsby-cli\lib\init-starter.js:117
  } catch {
          ^

SyntaxError: Unexpected token {
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)
    at Object.Module._extensions..js (module.js:663:10)
    at Module.lo

[2020-05-28 06:25] Swordword opened #24562 "is that possible to generate different site with same template"
## Summary
is that possible to generate different site with same template? , I need to build several website with the similar styles
### Basic example
for example when i run `gatsby develop web1`, I got the web1 site and run `gatsby develop web2`, I got web2 site . two site are nearly same just with different content . how can I achieve this

### Motivation

Thanks

[2020-05-28 06:54] Swordword commented on #24562
I use cross-env and pass the dirName arg in gatsby.config.js successfully ！

[2020-05-28 06:54] #24562 closed

[2020-05-28 06:59] andrewmumblebee commented on #21392
I'm also experiencing the same issue, trying to set up a live preview server.

I tried downgrading to @ovsw's working example, but ended up with different Gatsby errors being thrown instead.

Removing all static queries on the site fixed this for me.

[2020-05-28 07:05] dandv commented on #13645
@slorber: can you please update [your earlier post](https://github.com/gatsbyjs/gatsby/issues/13645#issuecomment-500126308) now that [Gatsby behaves as expected](https://github.com/gatsbyjs/gatsby/issues/13965#issuecomment-617370006)?

[2020-05-28 07:49] dandv commented on #13965
@brisa-pedronetto's example generates one static page in `gatsby-node`, then the React component renders it.

Is it possible to generate multiple static pages for existing `bookingId`s, and render newly created ones dynamically, with the same template? The use case is items that get created rarely, but accessed frequently, so SSR would help. However, when an admin creates an item, it should be ren

[2020-05-28 07:51] digitalbase commented on #23120
I think this is the same issue as https://github.com/gatsbyjs/gatsby/issues/20279

[2020-05-28 07:54] wardpeet commented on #24546
Thanks so much for opening this issue! As stated, this is slightly tangential to Gatsby. Please go to [Discord](https://gatsby.dev/discord), they can probably help you with these issues.

If this is not the case, or if we can help further--please don’t hesitate to reach out or comment on this issue, and we’d love to take another look.

Thanks for using Gatsby 💪

[2020-05-28 07:54] #24546 closed

[2020-05-28 08:00] pieh commented on #24559
Are you able to share your project so we can try to reproduce? Can you try running `npm ls sharp`? Also output of `npm rebuild --verbose sharp` could be helpful.

[2020-05-28 08:31] #21533 closed

[2020-05-28 08:35] Tony221268 commented on #11934
I have to say that this is symtomatic of so much web development these days. A random error caused by a random change with no obvious solution that doesn't involve kicking off some hit and hope fixes that you try just in case they work and not really understanding why they do or don't. Yes, I should get more involved in the repos but hey, I can't even get Gatsby to run without a bunch of random wa

[2020-05-28 08:42] andywswan commented on #13278
a great solution! I did that, but in my case it wasn't enough, I've got something like `.cache blah-blah-blah`, so I've came out with this line in my .bashrc

`alias fucknpm="rm -rf .cache && rm -rf node_modules && rm package-lock.json && npm install"`

[2020-05-28 08:48] Undistraction commented on #24272
An additional piece of info that might be useful:

I'm using the Netlify CMS plugin, and as well as the issue outlined above, I'm seeing an additional port being added to the CMS URL.

Usually a build will output the following:

However the build is now outputing:

Rolling back to `gatsby@2.21.x` fixes both issues. There appears to be no need to rollback `gatsby-cli`.

[2020-05-28 08:57] pieh commented on #24453
Thanks for report! I can reproduce this locally, and investigating now

[2020-05-28 09:11] codeshifu commented on #14930
Does anyone have a fix for this issue?

[2020-05-28 09:30] pieh commented on #24453
Hmm I actually can't reproduce it anymore. I was getting different error because `https://fakeimg.pl/300x300/` url can't be resolved now (no DNS entry anymore? 🤔) I tried it few days ago and then could reproduce, but couldn't investigate yet and now reproduction doesn't work anymore :/

[2020-05-28 09:34] slorber commented on #13645
Sorry @dandv not sure what you expect me to do

indeed it is working, as documented by @brisa-pedronetto
 here https://github.com/gatsbyjs/gatsby/issues/13965#issuecomment-617364363 h

[2020-05-28 09:38] slorber commented on #13965
@dandv if you want hybrid static/dynamic you'd rather use both at the same time, and make 2 separate page templates (you can share as much code as you want between the 2 templates)

[code]

[2020-05-28 10:24] Muqito commented on #14502
I am also having struggles with this issue :/ @persocon Did you manage to get it to work?

[2020-05-28 11:43] kaushalyap opened #24566 "Any plan to support Snowpack?"
## Summary
Is there any plans to support [Snowpack](https://github.com/pikapkg/snowpack)? instead of Webpack

FYI:

- https://www.pika.dev/blog/pika-web-a-future-without-webpack
- https://blog.logrocket.com/snowpack-vs-webpack/
- https://www.snowpack.dev/posts/2020-05-26-snowpack-2-0-release/

[2020-05-28 12:10] johno opened #24567 "Use the Gatsby config to determine which package manager to use for destroy in the NPMPackage provider"
Unlike create/update, we still have the `yarn` command hardcoded. We should update it to properly determine the package manager based on the user's config.

[2020-05-28 12:22] thomascorthouts commented on #24453
Interesting 🤔 the website does seem to have just dissappeared. I will create a new example later

[2020-05-28 12:33] mujeex commented on #21256
@tesseralis Hey! Just went over your conversations in this PR and noticed the changes are still yet to be completed. With a little bit of hand holding, I'd be more than happy to pick where you guys left off. Thanks.

[2020-05-28 12:39] thomascorthouts commented on #24453
@pieh I forked the repository to use `placeholder.com` instead: https://github.com/thomascorthouts/gatsby-remote-wo-ext

Confirmed I get the same error on the second develop without cleaning cache:
[code]

[2020-05-28 12:41] juanferreras commented on #24332
As an update – seems that PageSpeed Insights has soft launched the update to run Lighthouse v6 (it may not be in all regions yet).

![gatsbyjs org lighthouse](https://user-images.githubusercontent.com/8507996/83142581-10433f00-a0c7-11ea-9d88-3e2f36c4e75f.png)

[Link to test https://gatsbyjs.org/](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.gatsbyjs.org%2F). Curren

[2020-05-28 13:09] aheissenberger opened #24568 "One or more of your plugins have changed / GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES"
## Description

The build will always give this info when the `.cache` and `public` folder have been restored from a tar file.

[code]

### Steps to reproduce

I created a sample project with the Gatsby starter package

[code]

### Expected result

[code]

### Actual result

[code]

### Environment

  System:
    OS: macOS Mojave 10.14.6
    CPU: (4) x64 Intel(R) Core(TM) i7-6567U CPU @ 3.30GHz

[2020-05-28 13:27] ariadne-github commented on #23552
Thank you for your explanation, that sounds like a very good solution, also more flexible and efficient.
So, you are saying that if you add that option to _gatsby-source-graphql_ I'd be able to tweak its default schema to add my language parameter, basically replacing the call to **NamespaceUnderFieldTransform** https://github.com/gatsbyjs/gatsby/blob/9611452c856530ae8f2f10d42d71164694632f10/packa

[2020-05-28 13:32] ilyankou commented on #12967
Moving the plugin to the top did nothing for me, but **switching to** [`gatsby-plugin-gtag`](https://github.com/flpvsk/gatsby-plugin-gtag) and making sure it is right below `gatsby-plugin-react-helmet` in `gatsby-config.js` did! The options are basically the same as with google-analytics:

[code]

[2020-05-28 13:36] TimFletcher commented on #14502
@persocon I've not updated since dealing with this and likely won't be given your report. :(

I also took the approach of running `gatsby build && gatsby serve` which I appreciate will take 30s for every code change but at least you'll be able to see your site in IE 11. Performance was virtually unusable when running `gatsby develop` through an IE11 VM anyway.

[2020-05-28 13:46] davifantasia commented on #20413
This is still a problem.

[2020-05-28 13:59] #24388 closed

[2020-05-28 14:06] Jimmydalecleveland commented on #23120
Sorry for taking so long to get back to this. Crazy month. I can try to put something together this weekend.

For more information in the meantime: this problem only occurred for us when any chain of entries pointed back on the fields owner (parent entry). For example:
1) Page has a field "canonical" that allows a single reference to another Page
2) Page A - canonical links to Page B (no problems

[2020-05-28 14:24] xavivars commented on #24353
So what are your suggestions to move forward, @pieh ?

[2020-05-28 14:27] ajscholz commented on #24250
I'm going to show my complete ignorance here, but where exactly would I make the change listed above?

[2020-05-28 14:28] xavivars commented on #24349
Hi @LekoArts , it seems that the rewrite of Gatsby Develop to use sockets in 2.22.0 (cc @mxstbr )(https://github.com/gatsbyjs/gatsby/issues/22759) is the culprit of this.

[2020-05-28 14:36] aheissenberger opened #24571 "image cache fails when path to Gatsby src changes"
## Description

the build process will generate all images again if the path of the Gatsby src folder changes and the cache exists from a previous build

### Steps to reproduce

[code]

**rename src folder** (this simulates the situation in a code build ci where the source is checked out in a temp folder and the `public` and `.cache` folder are restored from the last run.

[code]

### Expected res

[2020-05-28 14:36] pieh commented on #24349
Not ideal - but until we get this fixed / provide nicer solution - as workaround, instead of using `node --inspect(-brk)`, "monkey-patch` `gatsby/dist/commands/develop.js` and change this line:
https://github.com/gatsbyjs/gatsby/blob/ad5f9af897257596069f9e8aad307215d98471af/packages/gatsby/src/commands/develop.ts#L71

to `this.process = spawn(`node`, [`--inspect-brk`, tmpFileName], {`, then use re

[2020-05-28 15:00] smthomas commented on #24257
One other option you might consider is trying `gatsby-source-graphql` with Drupal's GraphQL module. This will not download the images by default and might get you to the point where you can start pulling down content. This would still give you information about the image files that could then be used to display the images.

There are definitely some improvements needed to gatsby-source-drupal to w

[2020-05-28 15:07] aychtang commented on #15080
@gaplo917 Do you want to create the new ticket?

[2020-05-28 15:18] blainekasten commented on #22109
Published a new version to fix it, `gatsby-cli@2.12.37`

[2020-05-28 15:25] wardpeet opened #24573 "Enable --inspect & --inspect-brk arguments on the build/develop args"
## Summary

Add gatsby --inspect & and gatsby --inspect-brk commands to gatsby to enable easier debugging.

Now with node 10 we can use the https://nodejs.org/docs/latest-v10.x/api/inspector.html API to enable debugging programmatically, especially with the new gatsby develop changes.

For develop we could just enable it when we spawn the command.

### Basic example

When gatsby --inspect is ran,

[2020-05-28 15:26] wardpeet commented on #24349
Hey @xavivars,

Does something like https://github.com/gatsbyjs/gatsby/issues/24573 help?

[2020-05-28 15:38] katmh opened #24574 "Reference Gatsby Cloud as deployment option in introductory tutorial"
## Summary

The step-by-step tutorial is a common starting point for people new to Gatsby. [Part 1](https://www.gatsbyjs.org/tutorial/part-one/#deploying-a-gatsby-site) currently walks readers through deploying with Surge. We want to introduce Gatsby Cloud to people early in their journey with Gatsby, while still keeping the tutorial clear.

Some recommended topics to cover:

- Why Gatsby Cloud is

[2020-05-28 15:58] tevla commented on #10668
Having the exact same issue and neither solutions worked.
If I use
[code]
it works on Storybook but fail build on Gatsby, but if I have
[code]
it will work on Gatsby but not Storybook.

I ended up doing something a tad dirty
[code]
Hoping for a fix soon because I really don't like that hack

[2020-05-28 16:06] MaferMazu commented on #11406
Thanks :smile:

[2020-05-28 16:27] Undistraction opened #24575 "Support .browserslistrc"
## Summary

Browserslist is used by Gatsby and supports definition of supported browsers using a `.browserslistrc` file. However Gatsby ignores such a file if present in the root of a project and only accepts config for browerslist as an attribute in the project's `package.json`.

From the [docs](https://github.com/browserslist/browserslist):

All tools will find target browsers automatically, whe

[2020-05-28 16:30] #24575 closed

[2020-05-28 16:34] xaviemirmon commented on #15028
What are you seeing on your Drupal JSON:API endpoint?  Are those links there?

[2020-05-28 17:03] ttstauss commented on #20308
@tmrp your suggestion worked perfectly. Thanks for the help! 👏

[2020-05-28 17:14] alexandresgf opened #24577 "cli: yoga-layout-prebuilt error on gatsby build"
## Description

After an update did using the command `npm update` and the Gatsby updated from 2.21.17 to 2.22.12 no command did using `gatsby-cli` works anymore.

### Steps to reproduce

1. Start a new gatsby project or just run `npm update`; and,
2. Try to execute `gatsby develop` or `build` or `serve`.

### Expected result

Expected to run the development server.

### Actual result

[code]

###

[2020-05-28 17:24] kamalkech commented on #15028
@xaviemirmon just list menus but withour links items

[2020-05-28 17:37] xaviemirmon commented on #15028
Ah yes! I think you'll need to do this @kamalkech

the Gatsby user to have the "Administer menus and menu items" permission.
This can be done using basic_auth with the gatsby-source-drupal plugin
or by using the key_auth module with Gatsby to an account with that permission.

Source: [readme.txt](https://git.drupalcode.org/project/gatsby/-/blob/8.x-1.x/README.txt)

[2020-05-28 17:43] #24327 closed

[2020-05-28 17:54] #12951 closed

[2020-05-28 18:33] AishaBlake commented on #6904
I still think this is worth doing. I've brought this issue up internally as we're planning some larger-scale website updates anyway!

[2020-05-28 18:42] shannonbux commented on #22991
A question for folks: What kind of resources can imagine a recipe installing? For each kind of resource, what metadata might people want to know about the resource before installing it? (for example, if a recipe is installing a plugin, what data about the plugin might be important to surface as someone decides whether to run the recipe or not?)

[2020-05-28 18:54] aheissenberger commented on #24568
I debugged the problem and found 2 things:
1) the version of the `default-site-plugin` is a [file hash with this glob](https://github.com/gatsbyjs/gatsby/blob/2691f0947ef6040a2bbe7d0b3f4205eb5dc97436/packages/gatsby/src/bootstrap/load-plugins/load.ts#L238) `gatsby-*`
2) I created a tar named `gatsby-artifacts.tgz` in the project root which did not exist when the file hash was created and saved in

[2020-05-28 18:54] #24568 closed

[2020-05-28 19:23] moreguppy commented on #24577
Having a similar error when running `netlify dev` on a gatsby project. Running locally with `gatsby develop` is OK.

[code]

I'm on gatsby version 2.22.9, and gatsby cli version 2.12.21

[2020-05-28 19:56] stephaniedavidson commented on #23891
thank you!!

[2020-05-28 19:56] #23891 closed

[2020-05-28 19:59] asktree commented on #23033
I'm also having this problem, although it strangely only started once I added more images than the ones that come in the starter.
"gatsby": "^2.19.7",
"gatsby-plugin-sharp": "^2.4.3",
"gatsby-transformer-sharp": "^2.3.13",

[2020-05-28 19:59] herecydev opened #24582 "Better eslint a11y rule defaults"
## Summary

The default [a11y eslint rules](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/eslint-config.ts) are all defined as "warn". This is okay for most rules but for the newly added "jsx-a11y/control-has-associated-label" rule, adding "warn" is making it almost unusable.

Even the following is flagged by eslint 🤔 :

[code]

The [recommended config for this rule](htt

[2020-05-28 20:27] asktree commented on #23033
Strangely, I'm having this "problem" except `gatsby develop` does not actually seem stuck, it just keeps saying it's generating thumbnails at 100% completion but everything seems to be working -- hot updates etc. I haven't tried `serve`. I don't know how to dump environment info like @adesugbaa.

[2020-05-28 20:30] sfonua10 commented on #11013
@SNandini8698 checkout this: https://github.com/gatsbyjs/gatsby/issues/11013

[2020-05-28 20:31] sfonua10 commented on #11013
@SNandini8698 the answer above shows how to pull in external javascript files

[2020-05-28 20:32] herecydev commented on #24573
I fancy giving this a try, would be good to better understand the recent socket changes

[2020-05-28 20:40] conspireagency opened #24584 "Ways to reduce graphql bloat in components, wrapper component or best practice?"
## Summary

Have you ever seen a Gatsby Image wrapper (think that's what you'd call it) used to dynamically make the graph ql queries? Gatsby Image is great and all, but when you're using it for multiple images in a component the graphql really can get messy bloating the component.

Would be nice if there was some way to internalize the graphql query by using a wrapper component, something that mi

[2020-05-28 21:19] daydream05 opened #24586 "[Question] How to remove unused javascript in GatsbyJS?"
## Summary
The new Lighthouse added additional reccomendations such as
`Remove unused javascript`

How would I go about figuring out how to remove the unused javascript?

The report shows the path but they're all minified but I'm not sure how to get rid of them. (It looks a couple is Firebase)

I've deleted all unused imports but I still have a large chunk of unused js.

## Relevant information

H

[2020-05-28 21:32] pieh commented on #24577
What are node version you are using? We also do need some kind of reproduction for it.

[2020-05-28 21:35] lannonbr opened #24588 "Transparency of GitHub label usage"
## Summary

It is convenient to have the various labels for the issue & PR queue, but something that I think has arisen is the lack of transparency to the community maintainers. Over the past few months, the labels have been going under some improvements, but that has not been clarified to the community and rather likely only to the people who work at Gatsby. Some labels do not have descriptions o

[2020-05-28 21:38] lannonbr commented on #24588
As well, the color changes that happened today as well is a little unsettling, as I know the core team uses stuff other than just the GitHub UI for issues, but for everyone else, no longer having visual cues for specific issue types feels like a degregation of the UX

[2020-05-28 21:39] ironng commented on #22414
Bug is actually reported:
https://github.com/danielmahon/gatsby-remark-relative-images/issues/18

There are discussions for more elegant solutions there as well.

[2020-05-28 21:41] MrUltimate opened #24589 "[Gatsby Cli] Cannot find module 'detect-port'"
## Description

When running any `gatsby` command, there's a missing modules error under the `yoga-layout-prebuilt` module.

### Steps to reproduce

Run `gatsby clean` or `gatsby develop`.

### Expected result

Clean cache and start development server

### Actual result

Stack Trace:

[code]

### Environment

`gatsby info --clipboard` does not run.

[2020-05-28 21:41] madalynrose commented on #24582
I think we still want the strict configuration for the rule. I'm confused as to why that case is causing it to trigger though. Going by [their documentation](https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-associated-control.md#how-do-i-resolve-this-error), your usage (aside from the missing `"`) should be fine. Do have a repo you could point me to where perha

[2020-05-28 21:43] lannonbr commented on #24589
What version of gatsby-cli are you using? This was a previous issue that was solved earlier in #24325 with `gatsby-cli@2.12.33`

[2020-05-28 21:44] MrUltimate commented on #24577
Same issue here #24589

[2020-05-28 21:44] aheissenberger commented on #24571
**Problem:**
Gatsby [creates a Hash for each queue job](https://github.com/gatsbyjs/gatsby/blob/2691f0947ef6040a2bbe7d0b3f4205eb5dc97436/packages/gatsby/src/utils/jobs-manager.js#L240) based on the content of the job.
**The `internalJob.outputDir` and the `internalJob.plugin.resolve` contain absolute paths.**
If the absolute path to the Gatsby source directory changes the `internalJob.contentDiges

[2020-05-28 21:44] shawngrona commented on #11541
I have seen this problem on a site that was already deployed (ie not dev server).  Refreshing the page fixed it, but that kinda feels like a chrome caching issue.  I'll update with steps to repro if I can, thx

[2020-05-28 21:45] MrUltimate commented on #24589
How do I find that out? When I run `npm gatsby-cli -v` I get `6.14.5`

[2020-05-28 21:48] lannonbr commented on #24589
Try checking out your package-lock.json or yarn.lock file and search for "gatsby-cli"

[2020-05-28 21:49] MrUltimate commented on #24589
Sorry about that. Just went ahead and install that specific version `npm install -g gatsby-cli@2.12.33`

[2020-05-28 21:49] #24589 closed

[2020-05-28 21:57] dandv commented on #13965
That worked, thanks. For the dynamic route, I noticed that it doesn't matter when you pass in the `path` after `/bookings` (`:WHATEVER` worked), so I left it at `path: '/bookings'`.

[2020-05-28 21:59] dandv commented on #13645
@slorber: as I was reading this in [your old post](https://github.com/gatsbyjs/gatsby/issues/13645#issuecomment-500126308),

I went to that issue and spent time figuring out what the problem was. That's just not necessary any more, so I was suggesting editing [that old post](https://github.com/gatsbyjs/gatsby/issues/13645#issuecomment-500126308), so that others who land here won't waste time looki

[2020-05-28 22:05] AishaBlake commented on #24313
The specific issues you uncovered have been addressed but I agree we still need to do a deeper dive to try and find additional broken links. From what I can tell, it looks like any additional broken links are because files have been moved or deleted (as long as a year ago). This should be taken care of as Core team members update internals docs. I'll revisit links as those changes come in but I do

[2020-05-28 22:05] #24313 closed

[2020-05-28 22:40] tesseralis opened #24592 "bug(gatsby-transformer-documentationjs): plugin causes error when no documentationJS nodes are found"
##  Description

`gatsby-transformer-documentationjs` fails when no documentation nodes are defined.

### Steps to reproduce

1. create a project that uses the `gatsby-transformer-documentationjs` plugin
2. do not source any JS files
3. have a page/static query that calls `documentationJS`, eg:

[code]

### Expected result

The `allDocumentationJS` query returns an empty array

### Actual result

[2020-05-28 23:00] lukebennett88 commented on #24250
Hey @ajscholz, this fix has been merged into Gatsby now, so no need, just update to the latest version.

[2020-05-28 23:14] danabrit commented on #24588
@lannonbr Thank you for your message. You are right that we are going through the process of iterating on our first touch procedures to better serve our community and address issues and pull requests as quickly as possible.

The plan is to also update our published first touch procedures so that the community can have as much transparency as possible into what those procedures are. This all takes

[2020-05-28 23:20] danabrit commented on #24588
@lannonbr Oh! I forgot to address the asterisk: those are proposed/probationary labels that Core team members have created during First Touch that will be reviewed in team meetings at a later date. That is their only significance. :)

[2020-05-28 23:37] #24588 closed

[2020-05-29 00:09] crock commented on #22991
I think just clearly knowing that what files are being modified (if any), what files were created (if any), the locations/paths of any newly created files, if any local Gatsby plugins were created, and if something was added to the `gatsby-config.js`

[2020-05-29 00:24] i001962 commented on #22991
@shannonbux I like this idea a lot. A type of warning. This recipe contains nuts and gluten. More seriously, there should probably be a [Subresource Integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) check before loading external resources. The person running the recipe would know that the resource being pulled in is what the recipe author intended. Depending o

[2020-05-29 00:26] clovis-rosa commented on #16076
Hey @j127 ,  yes!  The error still. I just started a new Gatsby v2.21.37 project and opened it in a Firefox Developer v77.0b9 (64-bit). As a temporary fix I whitelisted the localhost:8000 as described above.

[2020-05-29 00:31] JustFly1984 commented on #24272
2.22.12 still failing

[2020-05-29 01:52] hsnyc commented on #24559
Hi. Sure. Here is the output for those:
`Henrys-MBP-2:hsnyc-gatsby hsnyc$ npm ls sharp
gatsby-starter-default@0.1.0 /Users/hsnyc/Documents/Hosts/hsnyc/hsnyc_v4/hsnyc-gatsby
├─┬ gatsby-plugin-manifest@2.4.5
│ └── sharp@0.25.2
├─┬ gatsby-plugin-sharp@2.6.4
│ └── sharp@0.25.2  deduped
└─┬ gatsby-transformer-sharp@2.5.2
  └── sharp@0.25.2  deduped`

Henrys-MBP-2:hsnyc-gatsby hsnyc$ npm rebuild --verbo

[2020-05-29 02:31] dandv commented on #22288
I'm getting the same error, without useEffect (only useState), and only in Gatsby development mode; not from the statically built and deployed pages.

[2020-05-29 04:53] seaneking commented on #21946
Still not stale

[2020-05-29 06:07] JustFly1984 commented on #23004
not stale!

[2020-05-29 06:26] kinnikumegane commented on #24469
Finally, I got it work in a way that I would like to achieve, showing "Table of Contents" in markdown file wherever I want.

Here are brief explanation.
1. install “gatsby-remark-autolink-headers” plugin
2. install “gatsby-remark-table-of-contents” plugin
3. embed 'toc' in markdown file

[2020-05-29 07:14] LpmRaven opened #24601 "404 document error for generated pages"
I now generate all of my product and category pages using gatsby-node.js. Only my index page (waterproofjack.com) is being found on google webmasters, I've also checked the pages using deadlinkchecker, all pages return 404. They work when using the browser, but there seems to be some issue for bots. The site is hosted on AWS using S3 and Cloudfront, although the issue started when I switched to pa

[2020-05-29 07:47] LpmRaven commented on #24601
Sorted it, I had incorrectly redeployed my cloudfront with the wrong 404 settings. The fix is under SPA on this page: https://gist.github.com/bradwestfall/b5b0e450015dbc9b4e56e5f398df48ff

[2020-05-29 07:57] dongtanhuy opened #24603 ""gatsby-source-graphql" threw an error while running the sourceNodes lifecycle"
## Description

`"gatsby-source-graphql"` threw an error while running the sourceNodes lifecycle

### Steps to reproduce

I faced this issue when deploying my Gatsby app to production.
I tried to upgrade `gatsby-source-graphql` plugin version to 2.5.2 (the latest) but it still didn't work

### Actual result

The log show that: `Response not successful: Received status code 400`

### Environment
[c

[2020-05-29 08:12] hendra-go commented on #24272
I understand your frustration, but please be patience.
@mxstbr already created a PR #24335, just wait until gatsby core team review and merge the changes.

[2020-05-29 08:21] LekoArts commented on #24586
Thank you for opening this!

You'll want to use something like https://www.gatsbyjs.org/packages/gatsby-plugin-webpack-bundle-analyser-v2/ to see which packages are included in the individual pages so that you can either remove them (if not necessary) or lazy-load them.

Furthermore, it seems like Google changed their metrics. It makes sense to group this under this issue https://github.com/gatsby

[2020-05-29 08:21] #24586 closed

[2020-05-29 08:25] Undistraction commented on #15601
For anyone bitten by missing polyfills in IE11, explicitly adding the ones you need using Gatsby's `onClientEntry` hook seems to work:
[code]

[2020-05-29 08:27] mrseanbaines opened #24606 "bug(gatsby-source-prismic-graphql): Cannot find module './third-party/gatsby-node'"
## Description

Following setup instructions from various sources (e.g. [here](https://www.gatsbyjs.org/tutorial/prismic-source-graphql-tutorial/)), `gatsby-source-prismic-graphql` throws the following error:

[code]

### Steps to reproduce

[code]

Minimal Reproduction: https://github.com/mrseanbaines/gatsby-prismic-blog

### Expected result

Start local dev server without error.

### Actual resu

[2020-05-29 08:31] LekoArts commented on #24584
Thank you for opening this!

This is the umbrella issue you'll want to read: https://github.com/gatsbyjs/gatsby/issues/10482

We are aware of this limitation and want to solve it eventually :) There are some workarounds like yours however they can degrade the performance when e.g. you use a lot of images. For a couple of images this shouldn't be a problem though.

We're marking this issue as answe

[2020-05-29 08:31] #24584 closed

[2020-05-29 08:33] LekoArts commented on #24606
We don't maintain this plugin so please open an issue on their repository: https://github.com/birkir/gatsby-source-prismic-graphql

Thanks!

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-s

[2020-05-29 08:33] #24606 closed

[2020-05-29 08:46] moreguppy commented on #24577
@pieh I'm on node `v14.2.0`

Also if it helps: `macOS Catalina 10.15.4`

[2020-05-29 08:56] moreguppy commented on #24577
@pieh I just created a new gatsby project and updated to:
[code]
and `gatsby develop` runs fine.

My issue was with running `netlify dev`, which threw an exception on that `yoga-layout-prebuilt` package same as @alexandresgf original post

[2020-05-29 09:03] wardpeet commented on #24566
Hey there!

We don't have any intention to support snowpack anytime soon. Snowpack is great for modern browsers but it hasn't got a good story for legacy ones. Also, snowpack doesn't support many assets besides javascript, typescript, JSON & CSS. We have plenty of users that use svg loaders, file loaders, ... Those are not yet available in snowpack.

Even if I'm not the biggest fan of webpack, the

[2020-05-29 10:02] mrseanbaines commented on #24606
Aha, whoops!

[2020-05-29 10:06] duncanjbain commented on #24549
I think this would be really useful, it’s something that I’ve done quite recently and I’ve had to spend a bit of time trawling various blog posts whenever I’ve hit roadblocks. This is mainly because I’ve only ever deployed Gatsby on Netlify which is ridiculously easy!

I was thinking of writing something for my own personal site but I’m going to redirect my efforts and hopefully get something that

[2020-05-29 10:06] kaushalyap commented on #24566
Yeah due to usage of ES modules, [no support for IE 11 and some others](https://caniuse.com/#feat=es6-module), but this will be solved with the time.

May be wondering possibility more build time improvement. I know now there are things like

- Gatsbyjs incremental builds
- [Gatsby cache](https://github.com/jlengstorf/netlify-plugin-gatsby-cache) build plugins
- [Parallel image processing
](https:

[2020-05-29 10:23] shubhamAgarwal183 commented on #24340
The issue was resolved by deleting .cache directory and building again.

[2020-05-29 10:23] #24340 closed

[2020-05-29 11:28] bogdansoare commented on #20493
Also having this issue

[2020-05-29 11:41] #24518 closed

[2020-05-29 12:03] #23586 closed

[2020-05-29 12:24] zakdoek opened #24612 "bug(gatsby-source-contentful): Source plugin fails with rich text resolved locales."
## Description

The source plugin does crash when a previously added rich text field was added and changed with the option `richText.resolveFieldLocales` on true. This does only happen with a cache already in place.

The error seems to be happening in the normalization step. More specific in the getEntryWithFieldLocaleesResolved function. When a stale entry is detected no `entry.fields` or no `ent

[2020-05-29 12:31] ediblecode commented on #23638
Not stale, still going to submit a PR for the updated docs just haven't got round to it, sorry

[2020-05-29 13:02] xavivars commented on #24349
I think this would be great :)

[2020-05-29 13:05] pieh commented on #24453
Thanks! Opened pull request with proposed fix - https://github.com/gatsbyjs/gatsby/pull/24613

[2020-05-29 13:31] vladar commented on #24603
As the message suggests you are having an HTTP error. It is not a graphql error, it is probably something with your plugin or server configuration (missing auth headers, wrong endpoint, incompatible GraphQL server, etc).

Did you try running the same queries manually against your remote endpoint with the same configuration as the plugin has?

[2020-05-29 13:35] bogdansoare opened #24615 "gatsby-image low quality webp"
## Description

When using the [webp format](https://using-gatsby-image.gatsbyjs.org/prefer-webp/), the quality is degraded compared to a png or jpg format.

### Steps to reproduce

Open gatsby-image's [demo website](https://using-gatsby-image.gatsbyjs.org/prefer-webp/) in chrome/firefox and safari(a browser that doesn't support web so it defaults to png/jpg) and compare the quality difference.

H

[2020-05-29 14:06] laurieontech commented on #24164
Thanks for opening an issue!

I think I need more information here. `gatsby-plugin-mdx` processes those MDX files and makes them queryable in GraphQL. You want to access that information in the page template? But the template isn't going through createPages? What is it the template being used for right now?

I believe there is a way to do what you're explaining, but I want to make sure I understan

[2020-05-29 14:08] AshadulMridha commented on #23268
System:
    OS: Windows Server 2012 6.3.9600
    CPU: (4) x64 Intel(R) Core(TM) i7-2640M CPU @ 2.80GHz
  Binaries:
    Node: 14.2.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD
  npmGlobalPackages:
    gatsby-cli: 2.12.21
this massege of my but i cann't build new site properly please help anyone

[2020-05-29 14:10] hoantran3108 commented on #24603
We have 2 environments staging and production. Our static site is deployed on K8s cluster and sit behind a LB which basically have the same configuration. When we run `gatsby develop` on local machine with production environment it throws the same error but it does not crash the app so I'm able to go to localhost:8000 and all the requests to production GraphQL server success with status 200.

[2020-05-29 14:14] SoldierCorp commented on #19618
Please fix it!

[2020-05-29 14:20] antoinerousseau commented on #19618
@SoldierCorp please read about what Open Source is and maybe try fixing it yourself.

[2020-05-29 14:25] vladar commented on #24603
Network and server issues like this are nearly impossible to debug without an example/reproduction.

You can try debugging it yourself by providing a [`fetch` option](https://www.gatsbyjs.org/packages/gatsby-source-graphql/#how-to-use) to the plugin config and checking the actual request/response. Maybe it has a more specific error message.

[code]

Alternatively, you can debug this on the server

[2020-05-29 14:41] stackrole-dev opened #24616 "New Starters added to starter.yml not showing up in first page."
## Summary
Hi Gatsby Team,
I recently added a starter https://www.gatsbyjs.org/starters/stackrole/gatsby-starter-foundation/, but this does not show up in first page.

I spent close to a month on the starter and made open source to give back to community and gain exposure doing so. This is the case for many developers who contribute to GatsbyJS.

What are your thought on this? I think the new star

[2020-05-29 14:54] etabard opened #24617 "gatsby-image noscript img doesn't honor imgStyle"
## Description

The imgStyle gatsby-image attribute is not reflected in noscript img.
Here is the code, we can see the static styling : https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L259

Thank you for your help !

### Steps to reproduce

Add an image with imgStyle={{ objectFit: contain }} and disable javascript before loading the page or look at the static html

[2020-05-29 14:56] andrzejwp commented on #19618
@antoinerousseau it's also about helping each other, where the ones who need help - ask for it, and the ones who know how - offer it. So I think your comment is out of place.

[2020-05-29 15:00] stackrole-dev commented on #24615
Hi @bogdansoare,

You can define a quality while querying. like this
![image](https://user-images.githubusercontent.com/64824192/83274263-2fd38800-a1eb-11ea-9c83-d2522d7e0d8b.png)

I hope this helps you.

[2020-05-29 15:06] stackrole-dev commented on #24617
Hi @etabard ,
In this line it is added as `object-fit:cover;`

https://github.com/gatsbyjs/gatsby/blob/3429474b3bf34a0db4748c9ce3d8e4447bf9a153/packages/gatsby-image/src/index.js#L259

[2020-05-29 15:11] etabard commented on #24617
Hi @stackrole-dev, thanks for your reply !

Yes, my point is that it should honor the imgStyle attribute provided and not be "hardcoded".
That way it will work when I add objectFit: contain.

[2020-05-29 15:19] johncalvinroberts commented on #24341
FYI -- faced this same issue today, resolved by using `wrapPageElement` instead of `wrapRootElement`. I guess (inferred based on the [example in the docs](https://www.gatsbyjs.org/docs/ssr-apis/#wrapPageElement)) layout-related CSS should go in `wrapPageElement`, global state-y stuff should go in `wrapRootElement`.

I validated locally with your repo @kogakure

Not sure if this is indeed a bug or

[2020-05-29 15:31] herecydev commented on #24582
Because their default (even in strict mode) is not "warn", instead it's an object that specificies some [ignored elements](https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/src/index.js#L221-L247).

100% agree but the issue as I see it is that Gatsby is taking the defaults provided by eslint-a11y and then tweaking them differently. I can't help think that Gatsby should just take wha

[2020-05-29 15:45] bogdansoare commented on #24615
I know about the `webpQuality`, but if I bump it up to say `80` then the webp image file size is similar to the png at quality `50` and also the png looks better, which defeats the whole purpose of webp in the first place.

My point is, I think having the same quality for `png` and `webp` should result in a same quality looking image which is not the case

[2020-05-29 16:06] boulaffasae opened #24619 "Cannot download media files in Drupal CMS"
## Description

Cannot query field `localFile` on type `media__image`.

[code]

### Steps to reproduce

1. In your Drupal Instance, install the *Media* module.
2. Create and configure a new field `field_media_image` in `Article`, choose `Media: Image`.
3. Create a new **Article**.
4. Using Gatsby **GraphQL Interface (GraphiQL)**, check if you can query `localFile` in `field_media_image`.

### Expe

[2020-05-29 16:08] BenQuirk commented on #4818
Awesome plugin!

Can't confirm if it's working? How to test?

Install plugin, restart via 'gatsby develop', open in Chrome, right click inspect, devtools, Network tab, find 'throttle' section (might default to 'online') and change to slow 3G. Annnnd now you can see the plugin doing it's magic!

This would be great info to add to https://www.gatsbyjs.org/packages/gatsby-plugin-nprogress/

[2020-05-29 16:55] #19734 closed

[2020-05-29 16:58] danabrit commented on #22983
Closing due to no reproduction provided.

[2020-05-29 16:58] #22983 closed

[2020-05-29 17:03] antoinerousseau commented on #19618
@andrzejwp yes it's about helping each other, not about posting bossy comments like "please fix it!" with no useful information to actually fix the issue.

[2020-05-29 17:08] danabrit commented on #22419
Closed due to lack of reproduction.

[2020-05-29 17:08] #22419 closed

[2020-05-29 17:37] madalynrose opened #24625 "hidden navigation menu still visible to assistive devices on mobile"
## Description

Screen reader reads hidden navigation menu items that the user cannot interact with on mobile.

### Steps to reproduce

1. Load up [www.gatsbyjs.org/](www.gatsbyjs.org/) on an iOS device using VoiceOver.
1. In the bottom bar, touch, then double-tap Tutorials.
1. Touch the "Secondary Navigation" button near the bottom right corner, right above the sticky bottom navigation bar. It is

[2020-05-29 17:42] SoldierCorp commented on #19618
@antoinerousseau There is no more useful information related to this one because there is no more information provided by the issue so it just happens, so I wrote that to avoid repeating the same stuff other people are writing because is the same at the end till the latest version.

Is just to let Gatsby know that more people are still experiencing the problem and hasn't been fixed yet.

Sorry if

[2020-05-29 18:06] TylerBarnes commented on #24612
Hi @zakdoek !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a

[2020-05-29 18:15] muescha opened #24626 "blog: Impossible food: Images should be inlined in repo and not hosted on googleusercontent.com"
## Description

5 images linked external and hosted on googleusercontent.com

### Steps to reproduce

open https://www.gatsbyjs.org/blog/2020-05-07-gatsby-delivers-impossible-burgers-map/

inspect images or right click on and image and select open in new tab

or look here: https://github.com/gatsbyjs/gatsby/blob/master/docs/blog/2020-05-07-gatsby-delivers-impossible-burgers-map/index.md

### Expec

[2020-05-29 19:08] TylerBarnes commented on #24619
Hi @boulaffasae !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provi

[2020-05-29 19:50] Vacilando commented on #4993
I confirm that https://www.gatsbyjs.org/packages/gatsby-transformer-remote-filesystem/ is an excellent temporary solution (until this issue is properly solved by Gatsby) also for files sourced from Drupal.

[2020-05-29 19:59] dandv opened #24629 "@babel/polyfill has been deprecated"
## Summary

Installing `gatsby` produces a number of npm warnings about deprecated packages. While hunting down one of them, I noticed that gatsby [depends](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json#L16) on `@babel/polyfill`, which has been [deprecated](https://github.com/babel/babel/tree/master/packages/babel-polyfill).

In turn, @babel/polyfill depends on core-j

[2020-05-29 20:29] Dres90 commented on #22206
Thank you @ttstauss your fix worked perfectly.
This is an issue with whatsapp link sharing as well and other platforms that render previews. Hopefully it will be addressed in the main Gatsby release.

[2020-05-29 20:44] muescha commented on #24505
ah ok - has the removement of all `<abbr>` any impact for screenreaders? maybe they read it better with this marker?

[2020-05-29 21:25] danabrit commented on #24264
@jack0wsky Please note the previous request for a [minimal reproduction](https://gatsby.dev/reproduction). This will enable us to better help you resolve this issue. Thank you.

[2020-05-29 21:25] danabrit commented on #24243
Closing due to lack of reproduction or minimal information.

[2020-05-29 21:25] #24243 closed

[2020-05-29 21:28] danabrit commented on #24171
Closed due to lack of minimal reproduction. Please re-open once that reproduction is attached to this issue.

[2020-05-29 21:28] #24171 closed

[2020-05-29 22:01] danabrit commented on #23990
@TotalLag Thank you for sharing that you were also having issues after upgrading packages. I am going to close this issue since the original problem was resolved - could you please log a *new issue* with all required information about what you are experiencing? Thank you!

[2020-05-29 22:01] #23990 closed

[2020-05-29 22:02] danabrit commented on #23850
Closing due to no reproduction.

[2020-05-29 22:02] #23850 closed

[2020-05-29 22:03] danabrit commented on #24113
@danspratling Would you please send this to Cloud support - support@gatsbyjs.com - so they can help you get fixed up? Thanks!

[2020-05-29 22:10] j127 commented on #16076
This seems to work, but I'll need to read a little more about the contributing guidelines before I make a pull request.

[code]

It keeps the page from breaking, and it shows a console message in Firefox about how to remove the extra error messages. Let me know if you think there is a better way to handle it.

![error](https://user-images.githubusercontent.com/96479/83309274-b07b8f80-a1bd-11ea-931

[2020-05-29 22:13] danabrit commented on #23748
Closing this issue due to no reproduction

[2020-05-29 22:13] #23748 closed

[2020-05-29 22:20] danabrit commented on #23652
Tagging in @AishaBlake for the documentation opportunity that @mrhut10 has so graciously offered!

[2020-05-29 22:24] marcysutton commented on #19267
I don't think this needs to be part of it, since there could be times when we don't want to list a page in the TOC (for example, if it's linked elsewhere and not meant to be a highly prioritized page).

I found these two potential packages:
- https://www.gatsbyjs.org/packages/gatsby-remark-check-links/
- https://www.npmjs.com/package/mdx-link-checker

I've also tagged this issue with `topic: websi

[2020-05-29 22:25] MattixNow opened #24630 "Bottom bar during develop build"
## Description

A bottom bar appear during development build
![image](https://user-images.githubusercontent.com/32040951/83310314-e5aece80-a20b-11ea-8f3e-560dceaf8a5e.png)

### Steps to reproduce

`yarn develop`

### Expected result

No bottom bar should be better for user, we cant see the output

### Actual result

Result hidden

### Environment

[code]

[2020-05-29 22:27] danabrit commented on #23630
Closed due to no response for reproduction, and to issue being apparently resolved.

[2020-05-29 22:27] #23630 closed

[2020-05-29 22:30] danabrit commented on #23622
Closing, as this issue appears resolved. Please reopen with current status information if that is not the case.

[2020-05-29 22:30] #23622 closed

[2020-05-29 22:32] daydream05 commented on #24332
@kuworking there might be an issue with Lighthouse v6 recognizing gatsby-image.

According to [webdev](https://web.dev/lcp/)

In my case, I think Lighthouse isn't respecting the view size.
<img width="990" alt="Screen Shot 2020-05-29 at 6 30 22 PM" src="https://user-images.githubusercontent.com/11723413/83310570-7e2c5b00-a1da-11ea-947c-6fdc735cd0ae.png">

And here's the image in question
<img widt

[2020-05-29 22:41] danabrit commented on #23583
@mghazanfar So sorry for the delay in responding.

We would like to help get you moved along with your site. Please refer to the link on [how to make a minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) and share that with us along with the data requested in the [how to file an issue](https://www.gatsbyjs.org/contributing/how-to-file-an-issue/) docum

[2020-05-29 22:54] danabrit commented on #23542
As activity here has gone quiet, I'm going to assume that one of the fixes above or upgrades to either gatsby, yarn, or other libraries has everyone resolved and doing their best work! :)

If anyone is still stuck with this same error, please re-open this issue with updated environment information and a minimum reproduction. 💜

[2020-05-29 22:54] #23542 closed

[2020-05-29 22:56] madalynrose commented on #23583
Thanks, @danabrit!

@mghazanfar A [fix for the nullish ref](https://github.com/gatsbyjs/gatsby/pull/23956) went out a few weeks ago so I'm thinking the issue must be somewhere else. A minimal production, as described above, would be most helpful to debugging and narrowing down what might be happening since I can't reproduce the issue myself.

[2020-05-29 23:02] marcysutton commented on #23533
Hi @yepes, do you have an example repo for us to check out? And have you tried following the Schema Customization section on feeding remote images? I know they're local to your computer, but you could try to write some customResolver code for your `mysqlSet` type: https://www.gatsbyjs.org/docs/schema-customization/#feeding-remote-images-into-gatsby-image

[2020-05-29 23:06] marcysutton commented on #23670
Hi @lukebennett88, can you confirm whether this issue is still happening? It looks specific to Yarn: https://github.com/yarnpkg/yarn/issues/2432

[2020-05-29 23:12] danabrit commented on #22920
Closed due to no reproduction.
@saadaouad - In order to have us investigate further, please follow the doc on [how to create a minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/).

[2020-05-29 23:12] #22920 closed

[2020-05-29 23:20] danabrit commented on #22811
I wonder if this is related to #22390, which has a PR attached to it.

[2020-05-29 23:21] danabrit commented on #22390
@lucasholder Can you confirm whether this PR fixed your issue?

[2020-05-29 23:26] daydream05 commented on #13949
@pmarxbraun I'm still struggling with this myself but there are some quick wins you can do.
I see you've [improved](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ffehrgroup.com%2F&tab=mobile) it already.

Here's some things you can do:

- SVG tracing takes a toll on CPU which increases js execution time. Maybe consider using just regular webp with no base64? (It might )

[2020-05-29 23:26] danabrit commented on #22689
Closing this issue due to inactivity (no repro) from the original poster, which I assume to mean it is resolved.

Also, much appreciation to @Js-Brecht for offering so much help on this thread! 💜

[2020-05-29 23:26] #22689 closed

[2020-05-29 23:29] danabrit commented on #22591
Closing due to no reproduction. Please open with a minimal reproduction if this is still an issue. Thank you!

[2020-05-29 23:29] #22591 closed

[2020-05-29 23:31] danabrit commented on #22545
@tom-sherman Can you please confirm whether @tiagovtristao 's solution resolved your issue?

[2020-05-29 23:33] marcysutton commented on #23736
Hi there, interesting question. There are a few parts in play here:

- Keeping track of user visits, which in Gatsby will require client-side JavaScript and some kind of storage (localStorage, cookies, indexedDb)
- Offline and caching

The first item could be an example of personalization, for which there's an issue open but no official recommended solution: https://github.com/gatsbyjs/gatsby/issu

[2020-05-29 23:38] danabrit commented on #21886
Closing due to no reproduction.

[2020-05-29 23:38] #21886 closed

[2020-05-29 23:38] mrhut10 commented on #23652
There are some interesting things I had to learn that I haven't mentioned here too, for example when I had a pr sent to my fork you have to be careful how to check it out. As can easily lead to downloading the whole archive. Whereas I did find a way to only check out changes.

Happy to chat further about if someone wants to document the workflow.

[2020-05-29 23:39] marcysutton commented on #23737
Can you expand on your use case for using Passport.js with Gatsby? Node is used at Build time to compile static pages that rehydrate with React on the client-side, so authentication is typically done with client-side routes. It would help to know more about what you're trying to accomplish to determine the best way forward. I've marked this issue as help wanted for now in case someone wants to tak

[2020-05-29 23:40] danabrit commented on #21866
@leafac Can you please confirm whether this PR - https://github.com/gatsbyjs/gatsby/pull/21861 - resolved your issue?

[2020-05-29 23:44] Eyas commented on #22811
It's unfortunately not related :( the truncation library also assumed Latin script, but the remark plugin that counts words doesn't use that all all.

[2020-05-29 23:45] danabrit commented on #21629
Closing due to no response.

[2020-05-29 23:45] #21629 closed

[2020-05-29 23:56] danabrit commented on #21253
@piyushkantm Can you please confirm whether the suggestion above resolved your issue? Thank you!

[2020-05-30 00:06] #1789 closed

[2020-05-30 03:28] jlkiri commented on #22811
It is related to these issues:
https://github.com/gatsbyjs/gatsby/issues/21311
https://github.com/gatsbyjs/gatsby/issues/21357

Both issues are in `gatsby-transformer-remark` but I see the problem exists in `gatsby-plugin-mdx` as well. The fix that I wrote for `gatsby-transformer-remark` does not work with nodes yet and I think once it is refactored into a common util we can apply the same logic t

[2020-05-30 04:01] daydream05 opened #24633 "Allow us to generate Contentful image fluid and fixed props outside of Graphql"
## Summary

Generate fluid props without using graphql so we can use gatby-image in Contentful Rich Text

### Basic example

[code]
The code is written already inside gatsby-source-contentful under [extend-node-type.js](https://github.com/gatsbyjs/gatsby/blob/9b077c6e87956c767dc506b6ef15eb8720f47841/packages/gatsby-source-contentful/src/extend-node-type.js#L116) we just need a way to access it!

#

[2020-05-30 05:24] imagine10255 opened #24635 "How to use gatsbyjs + redux + redux-saga ?"
Hi, How to use gatsbyjs + redux + redux-saga ?
can there be examples ?

[2020-05-30 07:10] jvmiert commented on #14497
I'm having the same issue on Windows 10, node v12.13.0. Tried `sharp@0.24.0` but yielded same result.
[code]

[2020-05-30 07:12] PieterT2000 commented on #9423
Still facing the exact same error with gatsby-source-wordpress.

[2020-05-30 09:25] thefrontendwizard commented on #24566
As far as my understanding goes, feel free to correct me if I'm wrong, but we could use snowpack for its developer experience features, but bundle the app at the when building for production.

I feel it could be worth exploring.

That said, as a big disclaimer here, I  haven't really used snowpack yet and have no idea how much effort it'd be to support it.

[2020-05-30 10:10] AlexHff opened #24639 "[gatsby-source-wordpress] fetch more than 100 posts"
## Description

The goal is to fetch 2,000+ WordPress posts using the gatsby-source-wordpress plugin from this website: [https://wordpress-385135-1210443.cloudwaysapps.com/wp-json/](https://wordpress-385135-1210443.cloudwaysapps.com/wp-json/).

Unfortunately, only (at most) 100 posts are fetched. This issue is applicable for every resource from the WP API (media, comments, etc.). One interesting f

[2020-05-30 10:14] #24451 closed

[2020-05-30 11:02] mujeex opened #24641 "[docs][workflow] Implementing search with algolia."
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story
As a new Gatsby user, I would like to learn how to integrate Algolia into my Gatsby site.

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 |😄| 😄 | 😐 | 😐 | 😄 | 😄 |

# Steps taken to implement
1

[2020-05-30 11:07] mujeex commented on #13708
Hey y'all!! Just created an issue #24641 for 22. Implementing Search with Algolia. Waiting for some feedback. Thanks.

PS: First contribution 😄

[2020-05-30 11:12] strongSoda commented on #22991
Hey, I am trying to use an [auth0 recipe](https://gist.githubusercontent.com/twclark0/0e11c962743f4e62ccd33a92d8b52d23/raw/dc830c5d64dc3aede58a6e12d1e51355f9c5b9c3/add-auth0-recipe.mdx) in an already built site but the `gatsby recipes` command just show loading and terminate without any message.

![Screenshot from 2020-05-30 16-39-11](https://user-images.githubusercontent.com/30754328/83326784-58f

[2020-05-30 11:20] aasim782 commented on #1767
Try to change your port no :   3000 or 8080
Working fine.
**app.listen(8080)**

[2020-05-30 11:33] bogdansoare commented on #23737
Gatsby just gives you some static assets html, javascript and css, there is no server involved, if you want do authentication you would do it like in any other react app, gatsby doesn't care about how you implement your api.

[2020-05-30 12:07] dandv commented on #8787
@jlengstorf: thanks for that example! To clarify, `location` is passed to the `SecondPage` component [by the Gatsby `Link` component in the `to` attribute](https://www.gatsbyjs.org/docs/gatsby-link/#pass-state-as-props-to-the-linked-page).

PS: `page-2.js` has an unused `import { Location } from '@reach/router'`.

[2020-05-30 12:07] muescha commented on #22991
Die it work when you save the recipe local and start with the local one?

[2020-05-30 13:34] le0nik opened #24645 "[gatsby@2.22.13+]: broken Typescript typings"
## Description

Typescript typings got broken after upgrading gatsby from 2.22.12 to 2.22.13

Probably related PR: https://github.com/gatsbyjs/gatsby/pull/22504 .

### Steps to reproduce

build gatsby project with typescript without `--skipLibCheck`

### Expected result

No build errors

### Actual result

[code]

### Environment

[code]

tsconfig.json
[code]

[2020-05-30 13:52] muescha opened #24646 "blog:strapi instant content preview: Images should be inlined in repo and not hosted on githubusercontent.com"
## Description

4 images linked external and hosted on githubusercontent.com

### Steps to reproduce

open https://www.gatsbyjs.org/blog/2020-05-12-strapi-instant-content-preview-plugin/

inspect images or right click on and image and select open in new tab

or look https://github.com/gatsbyjs/gatsby/blob/master/docs/blog/2020-05-12-strapi-instant-content-preview-plugin/index.md#L59

### Expected

[2020-05-30 14:11] saadnoor commented on #20718
I am also facing the same issue. No luck with the above solutions.

[2020-05-30 14:48] nishantwrp opened #24647 "My plugin is not being opened correctly"
## Description

I have made a plugin for gatsby name `gatsby-source-hashnode-devblog` and it is listed in the plugins page but clicking on it gives a error. (https://www.gatsbyjs.org/packages/gatsby-source-hashnode-devblog/)

[2020-05-30 15:17] FoxNeo commented on #11406
Thanks this works on Ubuntu 18.04 LTS

[2020-05-30 15:43] Ciantic commented on #24566
SVG is supported already, it's even used in the snowpack example:

`npx create-snowpack-app new-dir --template @snowpack/app-template-react-typescript`

Also, adding plugins to it seems rather straight forward. E.g.

[code]

Adds SCSS import support, and it seems to work with SCSS/CSS modules also.

[2020-05-30 16:12] boulaffasae commented on #24619
Hi @TylerBarnes,

I created a test repo [Going Headless with Gatsby & Drupal](https://github.com/boulaffasae/gatsby-drupal).

After install, head over to `drupal` directory and:

- Install **Media** Module:

[code]

- Add a new **Media** field to Content type **Article** at `/admin/structure/types/manage/article/fields/add-field`

- Update or create an article and upload an image to your new **Med

[2020-05-30 17:22] boulaffasae commented on #24619
Hi @TylerBarnes, @smthomas

I found that using **Media** Module, a user need to query the `relationships` inside the media field, and that the media field itself does not have a `uri` or `url`.

And that my prb is related to **File Entity** module, and not **Media** module.
The **File Entity** module extends the core file entity and somehow he change `file--file` to `file--image`. But `gatsby-sour

[2020-05-30 18:56] ramadan26 commented on #12427
@Siregar
Where should I put this code ?

[2020-05-30 19:03] luisFilipePT commented on #24592
@tesseralis I think you have a typo `allDocumenationJS` instead of `allDocumentationJs` just to avoid people copy pasting and having a different bug ;)

[2020-05-30 19:58] niklas-may commented on #24416
Hi, I was finally able to make this work and released this as a plugin.
[gatsby-remark-dropbox-images](https://www.npmjs.com/package/gatsby-remark-dropbox-images)

Thanks for your help and feel free to close this issue.

[2020-05-30 19:58] #24416 closed

[2020-05-30 20:22] mistryvatsal commented on #24549
Hi @AishaBlake ,

I have created a PR #24652 to close this issue. :smiley:
Waiting for you review.

Thanks,
[Vatsal](https://mistryvatsal.github.io)

[2020-05-30 20:34] andrewaylett opened #24653 "Gatsby 2.22.13 pulls in incompatible dependencies"
#  Description

Describe the issue that you're seeing.

A minimal `package.json` containing just a dependency on `gatsby@2.22.13` has a broken dependency tree:

[code]

### Steps to reproduce

Example repo here: https://github.com/andrewaylett/gatsby-bug-report

* `npm ci`
* `npm ls gatsby`

### Expected:

A consistent dependency tree

### Actual:

gatsby@2.22.13 -> gatsby-admin@^0.1.54 -> gatsby-

[2020-05-30 21:18] androdel commented on #24447
Why did you close it, did you find the issue? If so, care to share?

[2020-05-30 21:22] Ciantic commented on #22206
If this issue exists, then I will reopen this.

[2020-05-30 21:43] bytheway875 opened #24656 "Why does Gatsby start a second server at localhost:4000?"
When I create a new gatsby app and run `gatsby develop,` it starts a server at localhost:8000 and then a second one on localhost:4000, where I'm able to query things like "allGatsbyPlugin":

![Screen Shot 2020-05-30 at 2 40 45 PM](https://user-images.githubusercontent.com/4494389/83339533-bc318980-a283-11ea-9a00-411fb6423522.png)

I can't find documentation on gatsby starting things on ports other

[2020-05-30 21:51] orifmilod commented on #20718
@jepek No, I use npm. I had problems with conflicts with AWS-appsync. which was then fixed by just uninstalling the package and reinstalling it, maybe there was a bug in the older version, not sure tho.

[2020-05-30 22:33] varughese commented on #24164
Thanks for the response! The problem I am encountering is I believe gatsby mdx automatically converts all the `.mdx` files in my `src/pages` folder.

However, I would like to use `createPages()` to create them instead, and provide a custom page instead. I am able to query the MDX files via graphql, but I am not able to create the pages like I am with markdown files.

For example
I have this `.mdx`

[2020-05-30 22:48] varughese commented on #24656
How are creating your new gatsby app? According to this tutorial - https://github.com/gatsbyjs/gatsby/blob/master/docs/tutorial/source-plugin-tutorial.md - it seems like running gatsby develop starts a server up on localhost:4000. Was your gatsby project started from a plugin example by accident? Hope that is helpful!

[2020-05-30 22:51] mafrosis commented on #10463
The debug experience with Gatsby and graphql errors is terrible! Work on this front would definitely make gatsby more accessible to non-nodejs experts

[2020-05-30 23:03] bytheway875 commented on #24656
@varughese Thanks! So, It's was just the regular gatsby new, so not created from a plugin example. It does seem like gatsby-recipes starts a server at localhost:4000:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-recipes/src/graphql-server/server.js

https://github.com/gatsbyjs/gatsby/blob/abedd3c3ac32515f98bc59993a93af95d0d5cc26/packages/gatsby-cli/src/recipes.ts

Then, checking

[2020-05-30 23:12] crock commented on #22991
I'm seeing the same issue as @strongSoda now with running any official Gatsby recipe with the latest version of `gatsby-cli` (v2.12.38)

[2020-05-30 23:14] bytheway875 commented on #23214
Btw, gatsby-cli is still an explicit dependency of gatsby, so it gets installed locally no matter what. Am I missing something?

[2020-05-30 23:33] muescha commented on #19267
link checker should also check if internal links are having trainling slashes because breadcrumbs and selected sidebar is depend on it:

-  #20767 `[docs] Breadcrumb shouldn't be dependent on trailing slash`

[2020-05-31 00:06] #23647 closed

[2020-05-31 00:13] stackrole-dev commented on #24616
Hi @LekoArts,

Should i be moving my starter to top in starters.yml

[2020-05-31 00:54] jlarmstrongiv commented on #20451
Can confirm, the warning occurs with the latest versions of gatsby and storybook:
[code]
I like the `.gitignore` idea

[2020-05-31 01:08] Pyrax commented on #24656
This was only recently introduced. Afaik there's no option to change the port or disable that extra server, yet.

However, maybe one of these workarounds help you for the time being:
1. Search for the process ending on "graphql-server/server.js" and terminate it.
2. Or: If your service which uses port 4000 starts before `gatsby develop` and keeps the port blocked, the recipe server uses the next f

[2020-05-31 01:24] eggers commented on #15553
@ImedAdel That's not a fix, it's a workaround.

[2020-05-31 01:28] dandv commented on #23378
I'm on Gatsby 2.22.13 and get this cryptic error,

[code]

Here's the [Code Sandbox](https://codesandbox.io/s/gatsby-typescript-minimal-ilhi7?file=/package.json).

[2020-05-31 01:28] dandv commented on #14905
I'm on Gatsby 2.22.13 and get this cryptic error,

[code]

Here's the [Code Sandbox](https://codesandbox.io/s/gatsby-typescript-minimal-ilhi7?file=/package.json).

[2020-05-31 01:29] #23378 closed

[2020-05-31 02:34] KyleAMathews commented on #24656
Yeah — 4000 wasn't a good choice for the default recipes port as it's used a lot for apps. Opened https://github.com/gatsbyjs/gatsby/pull/24665 to move it to 50400 which is a cool number as it's a highly composite number! https://en.wikipedia.org/wiki/50,000

[2020-05-31 02:59] #24656 closed

[2020-05-31 03:23] danabrit commented on #20658
Marking this closed as there is a fix and there haven't been comments on this issue for months.

[2020-05-31 03:23] #20658 closed

[2020-05-31 04:04] danabrit commented on #20492
@wodenx Hi there! I'm closing this issue as it has gone quiet. Please open with updated response to @wardpeet 's comment above if this is still something you would like to pursue.

[2020-05-31 04:04] #20492 closed

[2020-05-31 04:06] KyleAMathews commented on #22991
@strongSoda @crock upgrade to the latest gatsby-cli and it'll work again. @johno debugged the problem as a publish with some old files that were included and added a PR to delete these on publish so it won't happen again https://github.com/gatsbyjs/gatsby/pull/24663

[2020-05-31 04:16] lukebennett88 commented on #23670
Thanks @marcysutton, I think you're right!
I just cloned the repo again and ran `yarn run bootstrap` and everything installed correctly this time.

[2020-05-31 04:18] danabrit commented on #20450
@jaredsilver I am closing this issue due to no reproduction. If you could like to reopen it, please [create a minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) and attach it to this issue, and we will be happy to take a look. Thanks!

[2020-05-31 04:18] #20450 closed

[2020-05-31 04:19] danabrit commented on #20408
Closing due to no response. If this is still a problem, please re-open.

[2020-05-31 04:19] #20408 closed

[2020-05-31 04:24] danabrit commented on #20180
@me4502 Sorry for this going so long without any response from us. It must have just gotten lost in the holiday break then never re-surfaced.

Is this still an issue? To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue

[2020-05-31 04:26] danabrit commented on #20164
@kepi0809 Hi there! Just checking back with you to see where things stand. Did @madalynrose 's suggestions get things straightened out for you, or is this still a problem?

Thanks!

[2020-05-31 04:29] TimothyGu commented on #20949
A few issues:

[code]

(This seems non-fatal.)

----

[code]

This is fatal.

[2020-05-31 04:43] danabrit commented on #19543
@varunagrawal Hi there! Are you still experiencing this problem? If so, can you please attach a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so we can take a look? Thanks!

[2020-05-31 04:49] danabrit commented on #19083
@abnersajr Are you still looking into this?

[2020-05-31 05:27] LekoArts commented on #24616
Hi!
They are not sorted via their insertion order but by the stars they have. For now we'll keep it this way.

[2020-05-31 05:30] LekoArts commented on #24647
Hi!
The site needs to rebuild first. Give it a bit of time and your plugin will show :)

[2020-05-31 05:30] #24647 closed

[2020-05-31 05:49] #18413 closed

[2020-05-31 06:00] danabrit commented on #17556
This issue has gone quiet over the last few months. Is anyone still experiencing this issue? If so, could you please give an update with a fuller description? Thank you!

[2020-05-31 06:02] danabrit commented on #17421
Assuming this is done since it's been quiet for months. If not, please re-open with a better description.

[2020-05-31 06:02] #17421 closed

[2020-05-31 06:37] stackrole-dev commented on #24616
Hi @LekoArts,
I understand your point, Gatsby wants to offer the best starter to people.

![image](https://user-images.githubusercontent.com/64824192/83345819-dd05e780-a334-11ea-926e-7efffdf56aa7.png)

But as you can see the screenshot above, the sorting order is not based on stars. if that is the case,  following should be order right.
1. gatsby-starter-blog (stars 2525)
2. gatsby-starter-netlify

[2020-05-31 07:12] frastlin opened #24667 "Keeping MDX from Replacing the Title"
## Summary

I am adding MDX to the starter template that you get with "gatsby new" and I'm using `src/components/layout.js` as the "default" in "defaultLayouts".
My problem is with the `index.mdx`.
The title of the page is "localhost:8000", even though I am doing both `window.title = data.site.siteMetadata.title` in the layout.js component, and the title is specified in the "siteMetadata" in gatsb

[2020-05-31 07:39] strongSoda commented on #22991
@KyleAMathews I upgraded to `gatsby-cli`(v2.12.40) and the process progresses, however it fails at a step with this message

![Screenshot from 2020-05-31 13-03-47](https://user-images.githubusercontent.com/30754328/83347028-75a16500-a33f-11ea-9c7c-102fc66f894d.png)

Is this gatsby related or recipe specific?

The official recipe works fine. However, the [auth0 recipe](https://gist.githubuserconten

[2020-05-31 07:44] saadnoor commented on #17131
Weirdly resizing the terminal window worked for me

[2020-05-31 07:58] hanifaudah commented on #5329
Can confirm this resolved the issue.

[2020-05-31 08:01] frastlin commented on #24667
I figured it out. If I'm using the template, I just need to import the SEO component and place it at the top of the file.
I'm guessing that react-helmet needs to be used rather than window.title, just how the SEO component does the title.

[2020-05-31 08:01] #24667 closed

[2020-05-31 09:16] #24616 closed

[2020-05-31 09:16] LekoArts commented on #24616
Thanks for the suggestion but we want to leave things as-is for now. I also fixed the bug that didn't sort the starters.

[2020-05-31 09:49] mxstbr commented on #24653
Thank you for the report!

PR to unpin the gatsby peer dependency over in gatsby-interface is open: https://github.com/gatsby-inc/gatsby-interface/pull/337

[2020-05-31 09:59] francesco-serialparts opened #24670 "issue on createPage during gatsby develop"
Hallo everyone, I am Francesco, I am new in this forum. Few weeks ago I started to develop in Gatsby. I am trying to import my wordpress content in a Gatsby site, but I found a problem.

## Summary
During develop of my gatsby site (after the connection with a wordpress webiste) I have had an issue. The develop arrives to createPage and does not go further, continues to cycle without giving errors

[2020-05-31 10:18] stackrole-dev commented on #24616
Thank you @LekoArts for fixing the bug

[2020-05-31 11:16] AparnaJoshi007 opened #24671 "How to create a POST API endpoint in a gatsby site."
## Summary
Adding a POST API endpoint with gatsby site
## Relevant information
I have a contact form that takes in user input. This input must be posted to an endpoint belonging to a different domain. Due to the cors issue, I cannot make a direct API call to the endpoint from the browser. I need to reroute it through a server. I checked many source plugins, but they have only given documentation o

[2020-05-31 12:44] ianpan870102 commented on #16054
## [Solved]

Turns out that those aren't auto-saved temp files, but rather symbolic link files.

If you're using Emacs and those `.#` files trouble your development flow, try this option in your `init.el` (Emacs configuration file):

[code]

This will disable the creation of symlink files.

#### References:
* https://stackoverflow.com/questions/8246483/emacs-how-to-disable-files-creation
* https:/

[2020-05-31 12:44] ianpan870102 commented on #2347
## [Solved]

Turns out that those aren't auto-saved temp files, but rather symbolic link files.

If you're using Emacs and those `.#` files trouble your development flow, try this option in your `init.el` (Emacs configuration file):

[code]

This will disable the creation of symlink files.

#### References:
* https://stackoverflow.com/questions/8246483/emacs-how-to-disable-files-creation
* https:/

[2020-05-31 12:56] muescha commented on #20450
@RoyalSix you are able to find the line of code in which this happen? Or a stacktrace?

[2020-05-31 13:25] tony commented on #19859
@kamranayub Good observation!

Judging from the [gatsby-plug-mdx documentation](https://www.gatsbyjs.org/packages/gatsby-plugin-mdx/#gatsby-remark-plugins) I think having to duplicate the config feels like a bug, or something that should be clarified in docs at least

[2020-05-31 13:33] zakdoek commented on #24612
Hi @TylerBarnes,

Check. I will provide a minimal reproduction until end next week.

Grt,
T.

[2020-05-31 13:39] tony commented on #19859
Potentially related:

https://github.com/ChristopherBiscardi/gatsby-mdx/issues/204

I'm still not getting the link to show on my end, even with the mentionings here.  It may be worth making a new issue, because this is still an issue

[2020-05-31 14:33] herecydev commented on #24671
Gatsby generates files and that's it, it's designed with the lowest common denominator (which is no server at all, i.e. CDNs etc). You'll have to create some backend that you control and proxy the requests that way.

https://www.gatsbyjs.org/blog/2018-12-17-turning-the-static-dynamic/ is a good blog about using netlify functions that might help

[2020-05-31 16:43] praveenweb commented on #23297
Fixed in https://github.com/gatsbyjs/gatsby/pull/24668

[2020-05-31 16:43] #23297 closed

[2020-05-31 16:58] mujeex commented on #11805
@marcysutton Hey! I'd like to try working on this issue if it's still up for grabs. With adequate provision of guidance from you, I'm sure I can make it work. Thanks.

[2020-05-31 17:26] dragGH102 opened #24673 "useStaticQuery for non-page components not working with typescript plugin"
## Description

When using

[code]
**gabtsy-config.js**
[code]
in page-component it works as expected.
However when using `useStaticQuery` in a non-page component (e.g. higher order component for layout) as

[code]

it throws

Obviously, `gatsby` is installed

Note: my IDE shows suggests to install the typings `@types/gatsby` but these do not exist apparently ( **404 from npm** )

[code]

I am als

[2020-05-31 19:02] LauraBeatris opened #24674 "SPA on mobile and different routes on desktop"
## 📖 Summary

Recently my team started a project of a landing page and we chose to use Gatsby in order to have good SEO.
At a point in our project, the designers changed the mobile layouts to be a SPA, and the desktop ones still having different routes and pages.

Refer to that example:

<img width="962" alt="Screen Shot 2020-05-31 at 15 47 25" src="https://user-images.githubusercontent.com/480225

[2020-05-31 19:35] geoguide commented on #23121
It's crappy that this exists as an error on the tutorial. I'm stuck on it, tried to upgrade.

[2020-05-31 20:28] herecydev commented on #24573
So the good news is I got it to debug the child process 🚀

However, there's actually a non-trivial amount of choice/complexity here. I'll try and articulate this as best as possible:

Parent process = develop.ts running before spawn is called
Child process = develop-process.ts, runs as a result of the spawn call and handles the majority of what gatsby does

### Option 1

Tell the child process to

[2020-05-31 21:32] #24619 closed

[2020-05-31 22:30] abnersajr commented on #19083
Sorry @danabrit at that time I wasn't unable to proceed with that task.
I would like to keep going on that. I will recheck it and put my toughts on that. I remember that I had some feelings about this and would like to discuss it.

[2020-05-31 22:31] abnersajr commented on #19083
If I remember correctly, what I've found is that this doesn't check if the files exist, this only get the cache list and in case it exists it doesn't build again.
Would like to see if check the presence of files is the way to go or there are any other better way to do it?

[2020-05-31 22:47] BenJenkinson commented on #23943
I'm having similar trouble with the `@link` directive as well. (Not stale please!)

[2020-05-31 23:10] arhoy opened #24676 "How do I know if a sitemap is created?"
Hello I am using the gatsby plugin sitemap, But I have a few questions

1) How to check if my site map is properly created?

I follow the steps in the instructions.

2) Is the site map always updating if I add more pages?

Thanks you very much

[2020-06-01 01:12] gchallen opened #24677 "isUseStaticQuery Fails to Detect Static Query Usage on CommonJS Module"
## Description

I'm developing a Gatsby theme in TypeScript, which I'm transpiling to a CommonJS module before publishing. One of its components uses the `useStaticQuery` hook. However, this usage is not detected properly when the theme is added to another Gatsby site, leading to "Error: The result of this StaticQuery could not be fetched."

I've traced this down to this bit of `file-parser.js`:

[2020-06-01 01:49] domsbytes commented on #18048
I also had same issue after installing gatsby-plugin-sass. Used richardhealy solution above to fix.

[2020-06-01 02:58] me4502 commented on #20180
Hey, sorry yeah we ended up removing `gatsby-plugin-offline` to work around this.

I've been able to reproduce it on basically everything though, even a site that's basically a re-skinned `gatsby-starter-default` was having the issue, so I've removed `gatsby-plugin-offline` from all of my sites.

Due to this I'm unsure whether it's still a problem.

[2020-06-01 03:54] Jimmydalecleveland commented on #24332
@daydream05 I had similar theories and findings as well so I tested my pages without images and still had a crazy long LCP (10-12sec). I have a lot going on in my project so it could be other variables as well, but I'm curious if you've tested a page with text content and no images yet.

[2020-06-01 05:01] vipinagg opened #24678 "gatsby set host option (-H) not working since release 2.22.0"
$ gatsby develop -H <your_ip>

returns no data

This is a regression since 2.22.0. It works fine until 2.21.40.
To reproduce, just take any gatsby starter and run it.

[2020-06-01 05:37] LpmRaven commented on #24601
Sorry, I have to reopen this issue. Continuing my debugging of why my pages are not being indexed. As I previously mentioned, all of my product and category pages are generated using the API createPages. Since correcting my cloudfront configuration to respond 404s to index.html, I noticed that all the product and category pages are still being treated as 404s.

Example product page: https://waterp

[2020-06-01 05:42] LpmRaven commented on #24187
How did you fix this? I've got a similar issue with #24601

[2020-06-01 05:50] Standby78 opened #24679 "5 high severity vulnerabilities when installing gatsby-source-contentful, all related to utils-extend npm package"
## Description

NPM install found 5 high severity vulnerabilities

### Steps to reproduce

npm init
npm install --save gatsby-source-contentful

### Expected result

The package shouldn't contain anything above medium  severity vulnerabilities.

### Actual result

npm audit and npm audit fix leave 5 high severity vulnerabilities, all are related to utils-extend which hasn't been updated in more th

[2020-06-01 07:47] ankit-gupta1307 opened #24680 "Adding meta elements to user generated pages i.e for dynamic urls. Please help, it's very urgent."
I have a website https://www.loved.com and there pages https://www.loved.com/hh . "hh"  is varaible and it can be anything, I want to add meta data for thes pages depending ton the api call. I am researching about this from the past 2 days but I am unable to get he the answer. Is there any way from gatsby-node.js or gatsby-ssr.js file to add meta data in these pages like we could normally do with

[2020-06-01 08:42] raulfdm commented on #23121
@geoguide is this the problem still exists?

I'm not a maintainer but I would suggest either you open a PR to fix that in the tutorial or an issue so that people are aware about this problem still persist.

[2020-06-01 08:52] francesco-serialparts commented on #24670
Hello, I have solved. The problem was in node.js file, where there was the createPage function.

[2020-06-01 08:52] #24670 closed

[2020-06-01 09:24] Jaikant commented on #23799
@ashleynexvelsolutions  Here's an example, if I recall it is in the docs. To convert markdown to html and download images using the gatsby-source-graphql plugin. It doesn't really transform a node, but creates a new field with the information we need. In the example below bodyHtml will contain the html (body has the markdown)

[code]

Anyone knows, why the `filter` option is not available on the q

[2020-06-01 09:32] hendra-go commented on #24676
Have you ever try to build your project ?

From the [gatsby-plugin-sitemap documentation](https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/?=gatsby-plugin-sitemap):

The sitemap should be in public folder, usually sitemap.xml (if you not change the output file name in gatsby-config)

[2020-06-01 10:03] salomonMuriel commented on #22109
Error just showed up again with a Netlify build:

Netlify ran:
gatsby-cli@2.12.40 postinstall /opt/build/repo/node_modules/gatsby/node_modules/gatsby-cli

But eventually it ended with:
Error: Cannot find module 'ink'

[2020-06-01 10:51] RoySegall opened #24682 "gatsby-source-drupal - pull only nodes and menus?"
I've been through the issue queue and could not find any reference for that.

I have a Drupal installation that has the GrpahQL and JsonAPI module enabled. From what I saw, the `gatsby-source-drupal` plugin pulls from the JSON API only nodes, file, and menu entities. I have custom entities that appear in the JSON API endpoint but the grpahql explorer of my Gatsby ignores them.

Anything I'm missin

[2020-06-01 11:01] herecydev commented on #24676
Yes all pages that are added either statically or programmatically are added to the sitemap, again by default. This can be changed if you wish

[2020-06-01 11:22] slorber commented on #13965
yes @dandv I think path is not so useful if you provide a matchPath. Worth double checking because I think I remember it might affect the path of the html page written in the build folder.

Sorry @civility-bot I don't know what you are asking me. Make a small repro in a public sandbox would be easier to inspect.

[2020-06-01 12:04] #23616 closed

[2020-06-01 12:19] rgraber commented on #23221
This does not appear to be solved for my team. Our webpack builds are still about 4x slower than they used to be, and we are on gatsby 2.21.13.

[2020-06-01 12:21] mikeattara commented on #24592
Is anyone working on this?

[2020-06-01 12:29] universse commented on #24671
What hosting solution are you using?

[2020-06-01 13:34] laurieontech commented on #24164
Thank you for the additional context.

You're correct, whether it's an mdx or js file, anything in `src/pages` is converted to a page.
If you'd like to use createPages you can create `src/mdxPages` or similar and source your files from there. Make sure that `gatsby-source-filesystem` can see them.

[2020-06-01 13:34] #24164 closed

[2020-06-01 13:43] soji-opa commented on #19827
This worked for me...

[2020-06-01 14:00] ardeois commented on #17556
@danabrit Issue is fixed and could be closed. You could wait for @davegreig to comment though

[2020-06-01 14:15] thiagomgd commented on #23210
waaaaiiittt
You mean gatsby won't work on windows anymore?
Glad I saw that, I was going to move my blog to Gatsby and, although I'm on a mac today, my main computer is windows.

[2020-06-01 14:38] waynehaffenden commented on #17506
As of 1st June using the latest release build of Chrome (Version 83.0.4103.61) this is still an issue.

[2020-06-01 15:39] geoguide commented on #23121
@raulfdm Good idea. I don't have time to start over and open the issue now, kind of gave up on gasby after hitting a wall on the tutorial. Maybe will give it a shot after work.

[2020-06-01 15:43] raulfdm commented on #23121
My website is running under gatsby and a bunch of tooling (https://github.com/raulfdm/raulmelo.dev). Maybe I can help you with this hassles!

[2020-06-01 15:48] bytheway875 commented on #24656
@KyleAMathews Thank you!

[2020-06-01 15:55] jlengstorf commented on #20408
sorry, missed the original follow-up. yes, this seems to have been patched at some point earlier this year. thanks!

[2020-06-01 16:09] herecydev commented on #24680
There's a whole page dedicated to this: https://www.gatsbyjs.org/docs/add-page-metadata/

[2020-06-01 16:21] arhoy commented on #24676
Yes I have.  Do you have example XML?

On Mon, Jun 1, 2020, 03:32 Hendra Gotara, <notifications@github.com> wrote:

[2020-06-01 16:21] dougwithseismic commented on #24332
Dropped from a 100 to 79~ https://dougsilkstone.com/ recently. Jumps up to 90when Google Tag Manager (and Google Analytics) are removed.

Will report back on more findings as I test things.

[2020-06-01 16:24] arhoy commented on #24676
Ok thankyou. Some of pages are not showing up in google search console
though. Once that are nested like /website/project

Does it take Google longer to crawl?

On Mon, Jun 1, 2020, 05:02 Dan Kirkham, <notifications@github.com> wrote:

[2020-06-01 16:26] Jimmydalecleveland commented on #24332
GTM is overall affecting my project a chunk but it isn't that drastic of a change when I remove it (5-10 points tops on sub 50s scores after LH6). I still need to do more testing but just wanted to throw that out there.

[2020-06-01 16:26] herecydev commented on #24676
though. Once that are nested like /website/project

Are those pages appearing in your sitemap?

[2020-06-01 16:31] herecydev commented on #24635
There's an example here that should help: https://github.com/gatsbyjs/gatsby/tree/master/examples/using-redux

[2020-06-01 16:45] sarathm09 commented on #22558
Downgrading gatsby version did not help. Then I updated my node version to the latest and it started working.

[2020-06-01 16:45] sarathm09 commented on #19088
Downgrading gatsby version did not help. Then I updated my node version to the latest and it started working.

[2020-06-01 16:45] arhoy commented on #24676
@herecydev I don't understand I thought the sitemap is auto generated?

[2020-06-01 16:46] arhoy commented on #24676
I have  `gatsby-plugin-sitemap` installed and in my config file
That is all I did

[2020-06-01 17:04] anjneeksharma opened #24689 "Jest unit test case will execute before executing actuall function so getting error in expect part"
AddingFeedback will not execute fully by the time all the test cases will execute

[code]

[2020-06-01 17:06] #21157 closed

[2020-06-01 17:15] madalynrose commented on #24689
Hi @anjneeksharma!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [prov

[2020-06-01 17:28] herecydev commented on #24676
The sitemap is auto generated, as Hendra pointed out:

[2020-06-01 17:40] pvdz commented on #19512
Going to close this issue. Thanks everyone who participated. Your contributions have made a great impact to the perf of Gatsby :d

Feel free to keep posting large sites (public repo, something I can build locally). The ones so far serve as excellent benchmarks.

At this point my definition of large sites are 100k to 1m page sites. Although it's more accurate to speak in terms of internal node coun

[2020-06-01 17:40] #19512 closed

[2020-06-01 17:41] DecliningLotus opened #24692 "Replace Typefaces with Fontsource"
## Summary

In reference to #24385 which contains all the details regarding this issue, what additional discussion should precede for this documentation update?

What are everyone's thoughts towards the change and what concerns would anyone hold to the PR?

### Motivation

I personally loved the idea of using [Typefaces](https://github.com/KyleAMathews/typefaces) for my projects, however, it lacks

[2020-06-01 17:52] herecydev commented on #24573
@wardpeet I've added an implementation for just the `--inspect-brk`. I can add an `--inspect` if you're happy with that and rewrite some of the docs here: https://www.gatsbyjs.org/docs/debugging-the-build-process/

[2020-06-01 18:06] bilogic opened #24695 "Continue to show re-build failures in browser after a browser refresh"
## Summary
Rebuild failures only show up in the terminal, show them in HTTP as well.

### Motivation
Rebuild failures do not show up in HTTP, furthermore, the HTTP still loads the previous version, i.e. a working version or one that has JavaScript errors, leading to unexplained levels of confusion.

The terminal is also often hidden to maximize screen real estate. It gets frustrating when despite

[2020-06-01 18:11] bilogic commented on #24695
Sorry, after I wrote this, my browser started to show ```Failed to compile errors```, it seems my browser does not refresh to show it at times. I will monitor and file a report if I can reproduce it reliably. Thank you.

[2020-06-01 19:06] daydream05 commented on #24332
@Jimmydalecleveland interesting. I also have another site where the is screen i just text and it’s blaming the hero text as the main cause for LCP.

@dougwithseismic I also use typekit and it’s def one of the major culprits for lower lighthouse scores. I wish there was a way to fix typekit since they dont support font-display

I think Lighthouse v6 is really tough on JS frameworks because on how t

[2020-06-01 19:06] madalynrose commented on #24582
Hi there @herecydev! Looks like they responded in the [issue you linked to](https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/issues/681) with a recommendation for making your example not trigger the warning, using for/ID-linking. Does that resolve your issue?

[2020-06-01 19:30] herecydev commented on #24582
Nope, there's nothing broken with using `<label>lovely label<input type="text"/></label>`. It passes the tests using the defaults in eslint-a11y.

If you look here in the rule code they're trying to cater for specifically the case I've mentioned: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/src/rules/control-has-associated-label.js#L58-L62

I can't stress any more how the issue

[2020-06-01 20:08] muescha commented on #23931
the escape of dollar sign can stay disabled, because on gatsbyjs.org its not "reescaped" on website

[2020-06-01 20:24] davegreig commented on #17556
Sorry for the delay in my reply. I’ll test the solution tomorrow and update the issue.

[2020-06-01 20:38] capndave commented on #23931
@tesseralis I think it will be trivial to make an extension or plugin to remove angular brackets from urls at the end of whatever other unified/remark pipeline, but not to keep them from getting introduced in the first place. See [here](https://github.com/remarkjs/remark-lint/issues/47) and [here](https://github.com/remarkjs/remark/issues/208). Is there case where we wouldn't want to remove angula

[2020-06-01 20:39] muescha commented on #24626
same here:

- #24244 `add Little and Big agency case study`

[2020-06-01 20:58] madalynrose commented on #24677
Hi there @gchallen! I tried to reproduce with the steps you listed and ended up with an error saying `const react_google_login_1 = require("@cs125/react-google-login");` was undefined. Is there a step I'm missing in running your project?

[2020-06-01 21:02] madalynrose commented on #24630
Hi there @MattixNow! I'm trying to understand the root of your issue. Could you explain what you mean by "bottom bar" and which output you are unable to see? I believe the status bar has always existed and want to make sure I fully understand the bug you are reporting.

[2020-06-01 22:06] arhoy commented on #24676
I dont see it there. If I push to production willl it generate?
For example I don't see a sitemap on Google Console But if I type in site:myurl some of my pages show.

Further I was not able to run gatsby build as it threw an error

"gatsby-source-buttercms" threw an error while running the sourceNodes lifecycle:

[2020-06-01 22:09] leafac commented on #21866
What’s the best way for me to check?

I tried to clone `https://github.com/jlkiri/gatsby/`, switch to the `mdx-interop-default-exp` branch, go to `packages/gatsby-plugin-mdx/` directory`, run `npm install && npm link`, go to my `doesnt-work` example, and run `npm link gatsby-plugin-mdx`. But that failed with something to the effect of `Cannot find module 'webpack'`. I think it has to do with missi

[2020-06-01 22:11] arhoy commented on #24676
I almost never run gatsby build or gatsby serve and it is throwing lots of errors and issues.
I simply deploy to netlify and there is no issue at all. I am not sure how I can get my sitemap.

[2020-06-01 22:17] dandv commented on #13454
@mukul-rathi's plugin hasn't been maintained either, and it has no Issues tab on its GitHub page.

BTW, any chance we could clean up the irrelevant "stale" bot messages from this thread, and keep only the last one? Previous ones don't really add to the conversation. Thanks.

[2020-06-01 23:19] dragonza commented on #22109
I installed gatsby-cli@2.12.40 but the error still happened

[2020-06-02 00:26] LittleUmbrella commented on #3650
Coming to this late, but I found

Coming in late, but figured I'd mention a reference to a working repo of gatsby and apollo here:

https://github.com/jlengstorf/gatsby-with-apollo

[2020-06-02 01:38] #23660 closed

[2020-06-02 01:42] alexandresgf commented on #24577
`node 12.17.0 LTS`

I just downgrade the Gatsby version to `2.21.17`, and for now, it is working fine.

[2020-06-02 03:03] bilogic commented on #24695
Hi,

I managed to reproduce the issue.

1. When I save and there is a re-build error, browser auto refreshes and shows the error
2. If I go to the browser and hit refresh, the last successful re-build page shows up, this can either be a proper page or a page with Javascript errors, basically the page from the last successful re-build

Can gatsby continue to show the re-build error instead of the l

[2020-06-02 03:05] TorrinLynn opened #24701 "Why is a__gatsby_resolved section added to my json content files?"
## Summary
When gatsby displays the template page associated with a JSON content file, it adds __gatsby_resolved with all of the fields duplicated which prevents the git based CMS system from updating the content on page. It's unclear to me why the __gatsby_resolved section is added and how I prevent it from happening.

## Relevant information

I'm using gatsby-transformer-json to process static J

[2020-06-02 04:43] ankit-gupta1307 commented on #24680
@herecydev Did you even read properly what's the issue I am facing, I have already gone through those pages but that doesn't solve my purpose.

I want to do the server side rendering of dynamic urls(i.e urls will be user generated). I want to add meta elements to those pages. So that when I share that url, I will get the data.

[2020-06-02 05:00] LpmRaven commented on #24601
After further investigation, this is definitely an AWS S3 and CloudFront issue.

This returns 404 (unless you have already hit the page): https://waterproofjack.com/en-gb/boys/snow-jackets-and-snow-coats/trespass-wato-navy
This works: https://waterproofjack.com/en-gb/boys/snow-jackets-and-snow-coats/trespass-wato-navy/index.html

Still have not worked out the CloudFront or S3 configuration to fix

[2020-06-02 05:00] #24601 closed

[2020-06-02 05:26] Jaikant commented on #14436
@pieh @freiksenet This example in the docs does a createRemoteNode in the createResolvers. Is this alright? https://www.gatsbyjs.org/docs/schema-customization/#feeding-remote-images-into-gatsby-image. I am using the gatsby-graphql-plugin and need to create a node in the resolver, so I can get the benefits of the sift.js library while querying.

[2020-06-02 05:43] anjneeksharma commented on #24689
Hi @madalynrose
Can you please elaborate  bit what is minimal reproduction and how it will help me in solving my issue.

[2020-06-02 06:18] LekoArts commented on #24701
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-02 06:20] LekoArts commented on #24695
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-02 06:22] LekoArts commented on #24689
Hi Anjnee,

this repository is about Gatsby as a project and not the right place for general React/programming questions. Please reach out to other communities like Reactiflux or Stack Overflow where you could ask your question. Thanks!

[2020-06-02 06:22] #24689 closed

[2020-06-02 06:25] LekoArts commented on #24680
Thank you for opening this!

Gatsby only renders the HTML/CSS/JS at build time. If you're creating client-only pages you won't have the benefit of that static pre-rendering. Gatsby doesn't support the "server side rendering of dynamic urls" unless you build them at build time. So I guess what you're asking for is not possible.

We're marking this issue as answered and closing it for now but please

[2020-06-02 06:25] #24680 closed

[2020-06-02 06:33] bilogic commented on #24695
I believe the above was already minimal enough, well.. in even more minute detail, here goes:

Minimal reproduction steps:

1. Create a new gatsby hello-world ```gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world```
2. Run ```gatsby develop```
3. Load ```http://localhost:8000``` in a browser, a ```Hello world!``` should show
4. Edit ```./src/pages/index.js``` and overwri

[2020-06-02 06:36] LekoArts commented on #24678
A `gatsby develop -H 0.0.0.0` works but now specifying an internal IP.

[2020-06-02 06:37] LekoArts commented on #24676
Thank you for opening this!

After running a `gatsby build` you'll find the sitemap inside your `public` folder.

If you left the GraphQL query on the standard setting your sitemap will udpate after you re-build your site.

The rest of your questions were already correctly answered by Dan and Hendra :)

We're marking this issue as answered and closing it for now but please feel free to comment her

[2020-06-02 06:37] #24676 closed

[2020-06-02 06:44] LekoArts commented on #24646
Thanks for the issue but we don't see this as a problem that needs to be solved.

[2020-06-02 06:44] #24646 closed

[2020-06-02 06:47] davegreig commented on #17556
Can confirm this solves my issue. Thanks for the help!

[2020-06-02 06:47] #17556 closed

[2020-06-02 06:51] LekoArts commented on #24674
Thank you for opening this!

If you don't want the layout logic (you mentioned in your "workaround" section) you'll need to have separate pages. The normal index one for your desktop, a `/app` one for your SPA on mobile. Not really much you can do about it otherwise.

I personally would argue that there is no need to have a SPA and also your mobile page should just be the normal pages. If that's n

[2020-06-02 06:51] #24674 closed

[2020-06-02 07:00] LekoArts commented on #24671
Thank you for opening this!

As Dan said Gatsby is not a tool with which you could create a "POST API endpoint". You can make API calls as usual in any React application but for the endpoint itself you'll need to create that outside of Gatsby. Please refer to the communities below to ask for non-Gatsby questions.

We're marking this issue as answered and closing it for now but please feel free to

[2020-06-02 07:00] #24671 closed

[2020-06-02 07:04] HemalR commented on #6491
m -rf

[2020-06-02 07:08] LekoArts commented on #24673
Thank you for opening this!

I cloned your repository and found the culprits. TS and useStaticQuery work fine together.

You were using severely outdated dependencies that are incompatible with current versions. `useStaticQuery` isn't accessible in Gatsby v1, you'll need to update to the latest version. Also with the latest version the typescript plugin is added by default, so no need to install a

[2020-06-02 07:08] #24673 closed

[2020-06-02 07:11] danielcaldas commented on #20413
### Steps to reproduce

I'm shadowing queries of a theme.

### Expected result

I should not get warnings. The queries should execute for page components.

### Actual result

[code]

### Environment

[code]

[2020-06-02 07:13] LekoArts commented on #24635
Thank you for opening this!

Please refer to the example, our [documentation](https://www.gatsbyjs.org/docs/adding-redux-store/), or any guides you'll find via Google.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributi

[2020-06-02 07:13] #24635 closed

[2020-06-02 07:18] LekoArts commented on #24629
Thank you for opening this!

The core-js topic is known to us and tracked here: https://github.com/gatsbyjs/gatsby/issues/15601

In turn of this we'll also get rid of e.g. `@babel/polyfill`, possibly sooner than in a next major version. We're working on this.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discuss

[2020-06-02 07:18] #24629 closed

[2020-06-02 07:27] LekoArts commented on #24626
See https://github.com/gatsbyjs/gatsby/issues/24646#issuecomment-637314853

From the perspective of future contributors who clone the repository this would be hurtful if we enforce having every possible image in our repository.

[2020-06-02 07:27] #24626 closed

[2020-06-02 07:32] LekoArts commented on #23799
Thank you for opening this!

`gatsby-source-graphql` only does schema stitching, it doesn't create actual nodes. As noted in the first paragraph:

Hence you can't really modify those entries beyond the `createResolvers` lifecycle (and not having "filter" available would also be expected behavior).

For the features you're asking for you'll need to create a source plugin that downloads the actual d

[2020-06-02 07:32] #23799 closed

[2020-06-02 07:36] LekoArts commented on #23331
Can you please [provide a minimal reproduction][reproduction]? I don't see any in here.

[reproduction]: https://gatsby.dev/reproduction

[2020-06-02 07:37] arhoy commented on #24676
I just want to say that if you are using Netlify, running gatsby build is not necessary. You can checkout the sitemap by going to
yourURL.com/sitemap.xml

Take that and plug into the Google Search Console.
- QED

[2020-06-02 07:49] ankit-gupta1307 commented on #24680
@LekoArts Gatsby didn't mention it anywhere in their website that it's not possible. Thanks for getting back, appreciate it.

Please refer to this link:

[https://www.gatsbyjs.org/features/jamstack/gatsby-vs-nextjs]

Atleast when doing comparision be fair to the users, gatsby could have mentioned their that Server side rendering is possible for NextJs but not gatsby. This is undone.

[2020-06-02 08:39] ubuntutest opened #24703 "Js-Search and Routing"
Hello,

I have implemented js-search on my site, it works correctly and I am having a lot of fun
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/adding-search-with-js-search.md

I have added the link tag on each element of the research, I am trying to implement routing but without success:

[code]

[code]
I'm stuck and not able to go on, I think I miss the structure of the page-2.js file,

[2020-06-02 09:01] pieh commented on #24573
I think that in `gatsby develop` "child process" is process that people most likely would want to debug (as this is the process where most of code is being executed, including all the plugins and user code) and optimizing for ease of setting up debugger for that process should be goal here (IMO).

So what about something in the middle between option 1) and 2):

- `--inspect-brk` could set up child

[2020-06-02 09:15] herecydev commented on #24573
Okay we can take the first option and tackle the multi process separately. For reference this is how the new vscode debugger (preview) would be setup:

[code]

Having tried that, it "just works" with no code changes required. Breakpoints are hit on the first line, maps to typescript works, and child processes are attached automatically. It will also listen on a random port automatically. So I thin

[2020-06-02 09:55] vojtaholik opened #24705 "pageQuery doesn't reflect changes on its own"
## Description

I have a [basic blog setup](https://github.com/vojtaholik/page-query-doesnt-reflect-changes) that is nearly identical to [`gatsby-theme-blog-core`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-theme-blog-core#readme).

After adding a new post (markdown file) to a folder which is being used to incrementally build pages (/content/posts), I need to manually edit a pa

[2020-06-02 10:16] #24453 closed

[2020-06-02 10:29] wardpeet commented on #24573
Unsure how vscode preview debugger works but this was my idea.
When people run --inspect-brk & --inspect with `node <path to gatsby>` they will stop as node would. If they use `gatsby --inspect` we would attach it to the develop-process.

We can do the multi proc thing as a follow up but this sounds reasonable to me, what do y'all think?

[2020-06-02 10:31] gethinw opened #24707 "#gatsby-focus-wrapper and CSP"
## Summary

The auto-generated `#gatsby-focus-wrapper` and `#gatsby-announcer` elements have inline styles, which prevents a secure Content Security Policy from being created (it requires either `unsafe-inline`, or `unsafe-hashes` which currently poorly supported by browsers). Generating style tags instead of attributes would allow a hash of these styles to be used in the CSP.

### Basic example

[2020-06-02 11:07] gethinw commented on #24707
Turns out I misunderstood exactly how these rules apply - Chrome requires `unsafe-hashes` for style attributes, other browsers don't require it (and therefore don't support it). So this isn't actually an issue - a `style-src` CSP entry with the following items does work cross-browser:

`'unsafe-hashes' 'sha256-MtxTLcyxVEJFNLEIqbVTaqR4WWr0+lYSZ78AzGmNsuA=' 'sha256-o4LYhp5wtluJ8/NWUV2vi+r5AxmP8X2zEv

[2020-06-02 11:07] #24707 closed

[2020-06-02 12:56] pindjur opened #24712 "gatsby image: custom rootMargin"
Currently Intersection observer's root margin is hard coded to 200px. [gatsby-image/src/index.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js)
It means that image will start loading when the distance from viewport to image  is  200px, however  in some cases we want to load image much before 200px gap (for example if we know from statistics that most users will

[2020-06-02 13:25] rgraber opened #24713 "Gatsby 2.22 throwing FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
## Description

Upon upgrading fro gatsby 2.21 to 2.22, building develop began throwing FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
errors. We have not substantially changed the number of pages or the queries used to generate them.
The errors persist even when we up the max_old_space_size to 16384.

### Steps to reproduce

Build command:

[2020-06-02 13:32] asilgag commented on #20949
Here I'm able to build Gatsby using Yarn 2, but it takes twice as long as Yarn 1:

Yarn 1 -> 92 secs
Yarn 2 -> 180 secs

Yarn 1
[code]

Yarn 2
[code]
Any clue about this performance drop?

[2020-06-02 14:11] Eyas commented on #13454
My take here, after having worked on enabling AMP on my own blog for a while:

- The right solution is not straightforward and involves any plugin generating arbitrary HTML/client-side JS to be AMP aware.
- There's some "core" work for an AMP plugin to do, including AMP linting, and potentially some common work like inserting required scripts, etc. but, it seems like the other ting going on is tha

[2020-06-02 14:45] MattixNow commented on #24630
Hey, thanks for your reply !

The bottom bar is this
[code]
The bottom bar isn't displaying in all of my gatsby project (displayed on the gatsby-starter-default, but not on the gatsby-starter-hello-world). In vscode this output take a lot of space when the integrated terminal is opened (the user have to change the height of the integrated terminal) and the informations which are display are not us

[2020-06-02 15:29] LekoArts commented on #24630
The status bar is in our CLI since a year already (https://github.com/gatsbyjs/gatsby/pull/14973) so this is nothing new. It'll display in all projects and so far we haven't heard any complaints.

What are the accessibility issues?

[2020-06-02 15:43] gchallen commented on #24677
Ah, sorry. I forgot to check in a `.env.development` file that defines some constants that we check for at runtime. Fixed and pushed.

[2020-06-02 15:56] MattixNow commented on #24630
![Annotation 2020-06-02 174919](https://user-images.githubusercontent.com/32040951/83541614-28b5be00-a4fa-11ea-8fa4-750fb37a2264.jpg)
You can see the wide space the bottom bar takes on my screen, this is why i think it's an accessibility issue

[2020-06-02 16:29] jonniebigodes commented on #24703
@ubuntutest i've picked up on the issue you're faced with. I was the author of said piece of documentation and i would like to help you out in solving your issue if i can. If you don't mind can you make a reproduction of your code following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that i can take a better look at and possibly solve your issue.

[2020-06-02 16:34] ZLevine commented on #21462
This issue is even harder to catch now that you can't run `--prefix-paths` in develop and this is closed: https://github.com/gatsbyjs/gatsby/issues/3721

[2020-06-02 16:36] smthomas commented on #24682
If the entities are showing up in the JSON API endpoint, it's likely a caching issue. I would clear the Drupal cache (required if you have unauthenticated users accessing the endpoint). I would also clear the Gatsby cache by running `gatsby clean`

I also noticed that you asked this in Drupal slack and appeared to get your question answered. Let me know if this issue can be closed now.

[2020-06-02 16:39] RoySegall commented on #24682
I switched to another way for getting the data from Drupal via the graphql source plugin, but I wanted to file this one since I could not find any reference to this one. I'll check this one in a couple of hours and let you know how it's ended.

Thanks!

[2020-06-02 16:41] smthomas commented on #24682
Great! Yes, you can use gatsby-source-graphql with Drupal's GraphQL module or you can use gatsby-source-drupal with Drupal's JSON:API module. You should be able to access custom entities with either approach.

[2020-06-02 16:58] coreybruyere commented on #22075
@jindal368  - how did you resolve this? I'm getting an undefined `spaceId` and `accessToken when trying to run `serve`. I have a .env.development along with a .env.production. In fact, when I log those variables they're logged to my CLI when I start building but relogged as undefined when the build finishes.

[2020-06-02 17:17] lannonbr commented on #15163
Alright, reopening the issue

[2020-06-02 17:33] d0x1n commented on #22558
installed the latest version of node (14.3.0) and apparently works.

[2020-06-02 18:07] jun-gh commented on #22206
What's the directory of gatsby-ssr.js?

[2020-06-02 18:09] ttstauss commented on #22206
@jun-gh, `gatsby-ssr.js` goes in the root of your project (https://www.gatsbyjs.org/docs/ssr-apis/)

[2020-06-02 18:18] shannonbux opened #24724 "5 usability tests for a Gatsby recipe in the browser"
## Goal

We want to make sure the following is true:
- users can input information into the recipe
- users can install the recipe
- users can know if the recipe installed successfully or not
- users can view the resources installed

## How to reach that goal

I'll setup at least 5 usability tests with Gatsby users so we can see if the statements above are true or not!

## Blocked by
Not sure the m

[2020-06-02 18:35] KyleAMathews commented on #24724
We should have a tagged release we can use for testing.

So we could create a special starter for testing with it + the user would run our new version of recipes like `npx gatsby@recipes-input`

[2020-06-02 19:08] Odelya commented on #24121
For best performance, the snippet that loads the Optimize plugin (whether it's Analytics, Tag Manager, or gtag.js) should be installed in the <HEAD> element of your web page, immediately after the anti-flicker snippet . The Deploy Optimize help center article and tagging best practices section contain more information on the best way to install Optimize.

[2020-06-02 19:11] herecydev commented on #24573
@wardpeet and @pieh I think I've captured the behavior you were after. Still needs some docs adding but let me know your feedback.

[2020-06-02 19:16] herecydev opened #24725 "@emotion getting bundled via webpack"
## Description

In the last few days it looks like @emotion was added as a dependency of gatsby-admin but it is getting bundled up into the distributable app.js bundle. That doesn't seem right to me.

Running a `yarn why` points only back to: gatsby => gatsby-admin

@mxstbr maybe one for you?

[2020-06-02 19:18] jun-gh commented on #22206
I tried adding this on my root directory, but still Helmet tags are still under several style tags.

[2020-06-02 19:29] daydream05 commented on #24332
@dougwithseismic how did you link typekit font without using the stylesheet?

[2020-06-02 19:30] #24725 closed

[2020-06-02 19:33] herecydev commented on #24725
Apologies it wasn't @emotion directly, but @emotion/stylis which was a dependency being pulled in as expected.

[2020-06-02 19:52] herecydev commented on #24692
My biggest concern with a change like this is the very problem of maintenance that you've pointed out isn't addressed. If you stop supporting Fontsource in a few months, what happens then?

I do think it's problematic if Typefaces is going a bit stale, but I think that needs to be addressed with better automation and potentially opening up the core mainteners if the burden of managing it is becomi

[2020-06-02 19:52] huy-nguyen commented on #4693
If anyone runs into this problem after updating Mac OS, the reason might be that your Xcode commandline tools need to be reinstalled. https://anansewaa.com/gyp-no-xcode-or-clt-version-detected-macos-catalina/

[2020-06-02 20:02] Neilblaze commented on #24692
@DecliningLotus  please review PR #24726

[2020-06-02 20:10] DecliningLotus commented on #24692
@herecydev, I actually agree with the opening up to more core maintainers part for Typefaces.

We may actually see that being addressed soon in one form or the other since it isn’t ideal to migrate an entire community over to another repo which follows the same project vision, however, I’m not too concrete on the details regarding that since not much has been discussed.

I’m not going to be pushin

[2020-06-02 20:44] marcysutton commented on #23852
This PR would benefit from a core team review, as it could be answered quickly by someone more familiar with Schema Customization. As a result, I've relabeled it with the triage needed label for the @gatsbyjs/core to review: please comment and we can make changes to the docs accordingly.

[2020-06-02 20:57] mcclaskiem opened #24727 "[docs] update gatsby-plugin-styled-components to mention CSS and SSR"
## Description

I am currently using Gatsby to generate a static site from a CMS. On the front-end I am using styled components for styling and no additional CSS libraries other than a simple `reset` file.

I was experiencing a flash of unstyled content with my website after running a build and began researching this issue to find out that I needed to alter the `gatsby-ssr.js` file in order to rem

[2020-06-02 21:05] t2ca commented on #24332
I am having a similar experience, with lighthouse 5.7.1 my performance score was about 91, however lighthouse 6 has dramatically dropped my performance score to about 60.

[2020-06-02 22:12] gabrielacueva commented on #16984
Same case here, any news?

[2020-06-02 22:15] danabrit commented on #7628
@timroes - Closing due to no reproduction. If you would like to attach a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) and re-open this issue, we would be happy to take a look!

[2020-06-02 22:15] #7628 closed

[2020-06-02 22:17] danabrit commented on #20180
@me4502 Thank you for your prompt reply! I'm glad you have a workaround. If you run into this again and would like to attach a minimal reproduction, we'd be happy to take a look. Thanks! 💜

[2020-06-02 22:17] #20180 closed

[2020-06-02 22:19] danabrit commented on #21392
@ovsw Would you please attach a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that we can take a look at this? Thanks!

[2020-06-02 22:25] Jfelix61 commented on #18528
Thanks @TylerBarnes! For those of you that have this problem here is a snippet of a fix:

[code]

[2020-06-02 22:26] danabrit commented on #24433
@supriome - Closing due to no reproduction in 7 days. If you would like to add the minimal repro and re-open the issue, we'd be happy to take a look!

[2020-06-02 22:26] #24433 closed

[2020-06-02 22:29] danabrit commented on #24398
@amaan-nadeem Closing this issue due to no reproduction within 7 days. If you would like to re-open it with a minimal reproduction, we'd be happy to take a look. Thank you!

[2020-06-02 22:29] #24398 closed

[2020-06-02 22:31] danabrit commented on #24205
@scnroy I'm closing this issue due to no reproduction within 7 days. If you would like to re-open it with a minimal reproduction, we'd be happy to take a look. Thank you!

[2020-06-02 22:34] danabrit commented on #24007
@rayronvictor Closing this issue due to no response in 8 days. If you would like to reopen it with the information requested in the issue template above, we'd be happy to take a look. Thank you!

[2020-06-02 22:34] #24007 closed

[2020-06-02 22:36] danabrit commented on #23836
Closing due to no reproduction or response in several weeks.

[2020-06-02 22:36] #23836 closed

[2020-06-02 22:38] danabrit commented on #23829
Closing this issue due to no reproduction for several weeks. If you would like to re-open it with a minimal reproduction, we'd be happy to take a look. Thank you!

[2020-06-02 22:38] #23829 closed

[2020-06-02 22:38] danabrit commented on #23822
Closing this issue due to no reproduction within 7 days. If you would like to re-open it with a minimal reproduction, we'd be happy to take a look. Thank you!

[2020-06-02 22:38] #23822 closed

[2020-06-02 22:38] danabrit commented on #23626
Closing this issue due to no reproduction within 7 days. If you would like to re-open it with a minimal reproduction, we'd be happy to take a look. Thank you!

[2020-06-02 22:38] #23626 closed

[2020-06-02 22:58] jedevc commented on #24164
Thanks for the explanation!

I get that that all mdx and js files in `src/pages` are converted into a page - but, this same behaviour isn't extended to just plain md files, when using remark. Because of the difference here, it can cause friction from users trying to switch from remark into mdx.

It feels like the behaviour between the plugins should be relatively consistent, at least because on th

[2020-06-02 23:18] varughese commented on #24164
Agree, is there some way we can turn this off via a configuration to the
plug-in so we can use createPages and keep MDX files in src pages?

On Tue, Jun 2, 2020 at 6:58 PM Justin Chadwell <notifications@github.com>
wrote:

[2020-06-03 00:11] djD-REK commented on #24150
This is actually a really interesting design choice.  I think the current arrows are unintuitive too, so I tried doing some research.

The buttons should point down before they are opened, indicating that clicking on them drops the menu down, and then right or preferably up (indicating that clicking brings the menu up) when you click on them.

At least, that's according to StackOverflow: https://u

[2020-06-03 02:24] caycecollins commented on #7810
@wesbos @reaktivo are you able to use that fix still with the latest gatsby (2.22.17 in my case)?

I've had it working without any issues using that solution, but updated gatsby today and started getting the import errors again:

[code]

[2020-06-03 03:22] TorrinLynn commented on #24701
Here's a simplified repo that shows the problem: https://github.com/TorrinLynn/gatsby_resolved

Thanks

[2020-06-03 04:30] RoySegall commented on #24682
Sorry for the late response but I checked it a bit more and unless I'm missing something in my setup none nodes entity are not displayed in the graphql explore (and probable won't be recognize by GatsbyJS as well).

On the right my jsonAPI results from local Drupal installation and on the left the graphql explorer:
![image](https://user-images.githubusercontent.com/1222368/83595891-e75df680-a56b-1

[2020-06-03 04:41] freaksauce commented on #24171
I did make a minimal reproduction site and deployed to Netlify and it worked fine so it must be something to do with my AWS setup.

[2020-06-03 05:25] LekoArts commented on #24727
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-03 05:28] LekoArts commented on #24713
Hi!

If fear that you "how to reproduce" steps are not enough to get to the bottom of this. Gatsby sites can largely vary and e.g. each 20K page will be different.

If you're up for it, we'd very much appreciate if you could [provide a minimal reproduction][reproduction] and we'll be able to take another look.

[reproduction]: https://gatsby.dev/reproduction

[2020-06-03 05:32] LekoArts commented on #24712
Thank you for opening this!

In the past we've closed requests for this, see my colleagues comment:
https://github.com/gatsbyjs/gatsby/pull/16004#issuecomment-514181464

We haven't changed our mind on this but if you can provide some research that a value other than 200px would be feasible as a default, please let us know!

We're marking this issue as answered and closing it for now but please fee

[2020-06-03 05:32] #24712 closed

[2020-06-03 05:33] jindal368 commented on #22075
@coreybruyere  make sure that .env is in root directory  or else path specified by you should be correct

[2020-06-03 05:40] LekoArts commented on #24703
Thank you for opening this!

Since I don't see a bug report or something similar here I'll close this. Please refer to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support about general React questions or feel free to continue the discussion here.

[2020-06-03 05:40] #24703 closed

[2020-06-03 05:42] LekoArts commented on #24701
The behavior you're describing is coming from your usage of `gatsby-tinacms-json` which we don't maintain here. Please open an issue on their repository: https://github.com/tinacms/tinacms

Thanks!

[2020-06-03 05:42] #24701 closed

[2020-06-03 05:47] dandv commented on #7810
As an alternative, you may want to [use TypeScript for `gatsby-*` files](https://gist.github.com/JohnAlbin/2fc05966624dffb20f4b06b4305280f9).

[2020-06-03 06:05] dance2die commented on #22991
`gatsby-cli` v2.12.42 prompt doesn't seem to accept "enter".
**Note**: I am running it on Windows 10 (build 1903) so could be Windows specific issue.

[code]

![image](https://user-images.githubusercontent.com/8465237/83601379-7e13be80-a53e-11ea-8d55-889ff34c936a.png)

[2020-06-03 06:06] ricokahler opened #24735 "Types for `CreateRemoteFileNodeArgs['cache']` are inconsistent with Gatsby types"
### Description

It seems like the types for `CreateRmoteFileNodeArgs['cache']` are no longer consistent with the types from Gatsby. This causes a type error when directly passing the `cache` from the `CreateResolversArgs` to `createRemoteFileNode`.

### Steps to reproduce

clone [this](https://github.com/ricokahler/bug-repro-gatsby-source-filesystem-types.git) `https://github.com/ricokahler/bug-r

[2020-06-03 06:17] LekoArts opened #24736 "cli: Status bar doesn't show in `develop`"
## Description

The develop status bar doesn't always show in develop mode even though it should:

https://github.com/gatsbyjs/gatsby/blob/342d835b6e02e766fd3a2abd9cb7c4fc7daf28cc/packages/gatsby-cli/src/reporter/loggers/ink/index.tsx#L8-L12

This isn't expected behavior and we need to see why `showStatusBar` is false.

### Steps to reproduce

In my tests this behavior already shows when spinning

[2020-06-03 06:20] LekoArts commented on #24630
Thanks for the follow-up!

I think it's debatable if the information is useless or not, in our opinion it's useful and something we want to keep. In my terminal it doesn't have the height you're showing so you might check with https://github.com/vadimdemedes/ink if your CLI is having issues displaying the spaces correctly.

However, I found that the develop bar doesn't always show, so I created an

[2020-06-03 06:20] #24630 closed

[2020-06-03 07:13] thekevinbrown commented on #14060
We could really use this too.

[2020-06-03 07:27] amykapernick opened #24737 "Emotion Theme prop rendering incorrect styles"
## Description

Based on the props in a theme, styles are rendered. Eg. the header logo svg changes colours based on a prop in the theme
[code]
If it has the `lightLogo` prop, it should fill with white, otherwise black.

But on the homepage of the site, it currently renders the logo with a white fill, despite the fact that the `lightLogo` prop is false

This only happens during a production build

[2020-06-03 07:28] LekoArts commented on #14060
Please refrain from adding "+1" comments, GitHub has the reaction feature for that. Thanks!

If you want to contribute to this, please read our documentation here: https://www.gatsbyjs.org/contributing/how-to-contribute/

[2020-06-03 07:31] judewang commented on #15189
This has not be fixed, the bug is still happening in production. https://github.com/gatsbyjs/gatsby/pull/21431#issuecomment-618961354

[2020-06-03 07:32] LekoArts commented on #23345
Since the original question was answered, I'll close this issue.
@pieh is working on a general approach that will also solve this problem. Please look out for new features which we'll announce then.

[2020-06-03 07:32] #23345 closed

[2020-06-03 07:39] vihanb opened #24738 "gatsby-remark-autolink-headers doesn't properly slugify headings with html nodes"
## Description
The slugs produced by gatsby-remark-autolink-headers don't ignore HTML tags. The URL in the `tableOfContents` field does, however, handle them correctly. This mismatch causes issues as those URLs

### Steps to reproduce

My MDX has a heading that's something like:

[code]

The generated HTML from this markdown (initially) is something like:

[code]

### Expected result

The heading

[2020-06-03 07:51] LekoArts commented on #24737
Thank you for opening this!

I cloned your repository, ran a `gatsby build` and `gatsby serve` and didn't see the behavior you're describing. I don't think this is an issue with Gatsby itself but rather your code and/or how browsers order duplicate CSS styles.

![image](https://user-images.githubusercontent.com/16143594/83609520-b63af180-a57e-11ea-87ea-29361d9ab7b9.png)

I would recommend not havi

[2020-06-03 07:51] #24737 closed

[2020-06-03 07:52] LekoArts commented on #24738
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-06-03 08:01] pieh commented on #24705
Just used reproduction and can confirm it's happening. Investigating now

(awesome bug report btw, repo and steps to reproduce are very clear!)

[2020-06-03 08:03] amykapernick commented on #24737
@LekoArts I understand how browsers order duplicate styles, but if it was rendering properly, the `fill: #fff` should not have existed if the `lightLogo` prop wasn't true. I had previously had it as a ternary check and that was broken as well.

Can you confirm if you've made any other changes to the code, as I've changed mine back to ternary check using the exact code you did and it still doesn't

[2020-06-03 08:16] LekoArts commented on #24737
I only changed the line I mentioned and installed the project fresh. Maybe try removing your `.cache`, `public` and `node_modules` folder + `yarn.lock` and a fresh install.

I tried this via `gatsby build` and `gatsby serve` on my Windows (WSL) machine in multiple browsers, also cloned your project on my Mac and it also works:

[2020-06-03 08:21] pieh commented on #24705
It seems related to data dependency tracking from my initial findings.

First some context on how things work today to explain why the bug happens:

Gatsby keep track of individual nodes used in query results as well as node type collections and reruns query whenever those individual nodes or collections change.

Problem we see here is that our data tracking doesn't seem to handle cases when custo

[2020-06-03 08:41] LekoArts commented on #24008
I'll close this as no reproduction was provided after 7 days. Please comment if you can provide that. Thanks!

[2020-06-03 08:41] #24008 closed

[2020-06-03 08:43] LekoArts commented on #24566
As my colleague said we don't have any plans to support anytime soon and thus the initial question was answered - so I'll close this issue.

Feel free to discuss further here though :)

[2020-06-03 08:43] #24566 closed

[2020-06-03 08:44] LekoArts commented on #23344
@jasonbahl Can this issue be closed as the initial question(s) were answered? And refer to issues/PRs on your repository?

[2020-06-03 08:45] gardner opened #24739 "gatsby-link navigate function throws error with numeric parameter"
## Description
`gatsby-link` throws an error when a number is passed to its `navigate()` function. This is caused by `parsePath()` not expecting number parameters. See https://github.com/gatsbyjs/gatsby/blob/2b578e81e529914778fe92aa24446e1b1b0f3949/packages/gatsby/cache-dir/navigation.js#L50

Reach Router's `navigate()` function accepts number parameters to navigate the history (e.g. `-1` goes bac

[2020-06-03 08:48] freiksenet commented on #23852
Hello!

That's indeed the case. I've made a patch to fix it [in this PR](https://github.com/gatsbyjs/gatsby/pull/24740).

Thank you!

[2020-06-03 08:52] LekoArts commented on #23736
Thank you for opening this!

You'll want to create a PWA:
https://www.gatsbyjs.org/docs/progressive-web-app/

By using `gatsby-plugin-offline` you'll create a Workbox service worker that can cache all your pages if you have set up the cache paths correctly.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussio

[2020-06-03 08:52] #23736 closed

[2020-06-03 08:54] LekoArts commented on #24109
Please reach out to the Gatsby Cloud support via the "Help" button at the top. Thanks!

[2020-06-03 08:54] #24109 closed

[2020-06-03 08:58] e-asia commented on #17506
Still no changes about this issue.

[2020-06-03 09:09] AboyL commented on #20389
You can try to rebuild locally,see:
https://pngquant.org/install.html

[2020-06-03 09:40] ubuntutest commented on #24703
Hi @LekoArts, thanks for the clarification, I write here to the developer, as he answered my request.

Hi @jonniebigodes thanks for the help you offer me, I'm sure it's my lack of knowledge of react and gatsby. I uploaded the code to Github: https://github.com/ubuntutest/js-search-example-2
My goal is to solve the routing for each link.
It would also be interesting to use Search in the index inste

[2020-06-03 09:56] pieh commented on #24705
After chatting with few collegues about this - we decided to go with approach 2) (from my previous comment). I hope to open PR with fix sometime this week

[2020-06-03 10:05] amykapernick commented on #24737
I have burnt all cache and module folders several times over, as well as updating modules to ensure that they're up to date

You can see on this page - <https://serene-bardeen-30de22.netlify.app> - which is built from my code, that flicking through the pages changes the background colour as per the different themes. But for the homepage, the values for the theme (printed below on the page) do not

[2020-06-03 10:22] NourddineMaghmouli opened #24742 "surge.sh website not indexed in google"
Hi,

I have hosted a webpage under surge.sh but now it seems that it will not be indexed by google because robot.txt blocks it, is there a solution for this?
the page url is: [https://guelma-stories.surge.sh]
also I was wondering if I can redirect the page to my own domain such as: guelma-stories.com for example?
please note that I am new at coding, I just started learning some very basic staff on

[2020-06-03 10:34] zwl1619 opened #24744 "npm install -g gatsby-cli error"
following the docs here: https://www.gatsbyjs.org/tutorial/part-zero/#using-the-gatsby-cli
There is an error:
[code]

[2020-06-03 10:58] zwl1619 commented on #24744
I tried it again, the error disappeared.

[2020-06-03 10:58] #24744 closed

[2020-06-03 10:59] ascorbic opened #24746 "Broken navigation on Docs & Blog Components contributing page"
## Description
The "Next" link on the [Docs & Blog Components](https://www.gatsbyjs.org/contributing/docs-and-blog-components/) is broken, with the `to` prop null. This was causing build failures (since fixed). I'm not aware of the details of how the navigation is handled with these, othewrwise I would've fixed it myself

### Steps to reproduce
Visit [Docs & Blog Components](https://www.gatsbyjs.o

[2020-06-03 11:21] LekoArts commented on #24746
This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/19685

[2020-06-03 11:21] #24746 closed

[2020-06-03 11:22] LekoArts commented on #19685
This is also the case for [Docs & Blog Components](https://www.gatsbyjs.org/contributing/docs-and-blog-components/), see #24746

[2020-06-03 11:23] LekoArts commented on #24742
Thank you for opening this!

Please reach out to Surge's support as this is meant to be Gatsby-only. Thanks!

P.S.: It seems this is expected behavior: https://github.com/sintaxi/surge/issues/288

[2020-06-03 11:23] #24742 closed

[2020-06-03 12:03] #23399 closed

[2020-06-03 12:05] Ir1d commented on #23399
not stale, this wasn't solved, I've switched the implementation from reading a ton of .md to reading a .json

[2020-06-03 12:07] lucashfreitas commented on #19846
Same error here,

After I save gatsby does not reload application properly and hangs at ` Re-building development bundle `.

[2020-06-03 12:18] jonathangraf opened #24748 "[gatsby-image] Wrong responsive aspect ratios on initial load"
## Description

When loading images with different aspect ratios the wrong ratio is applied on initial page load.
In the following example this is shown by loading a 2x3 image on mobile (<678px) and a 16x9 on desktop (>678px).

This only occurs when on the built version of the website. Dev mode is working as expected.

### Steps to reproduce

In this [repo](https://github.com/jonathangraf/aspect-r

[2020-06-03 12:40] zwl1619 opened #24749 "gatsby new hello-world error"
[code]

[2020-06-03 12:42] vladar commented on #24735
You are correct - typings for `createRemoteFileNode` are stale. Should be fixed via #24750

Thanks for reporting this! 💜

[2020-06-03 12:55] ImSolitude opened #24751 "How to achieve window.onload with Gatsby"
I want to add a dynamic meta tags for my website using REST API, I want to achieve something like this: [window.onload](https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onload),
If you notice the page is still loading until that function is done, I want that function to be the `GET` call for my meta tags.

Any ideas?

[2020-06-03 13:03] vladar commented on #24749
Looks like `npm` install was not successful in your case (see node is looking for modules in the `.staging` folder)

You can try the following (inside `D:\workspace\www\gatsby_blog\hello-world`):

1. Delete `package-lock.json`
2. Delete `node_modules` folder
3. Run `npm install`

If this doesn't help then you should try upgrading `nodejs`.
Also, you can try debugging it this way:

1. Run `npm audi

[2020-06-03 13:05] #24749 closed

[2020-06-03 13:10] axe312ger commented on #10090
This is the structure I had which still caused issues:

## This was the old state, working well:

* ContentType Page (Just a simple page with title, some text fields and so on)
* ContentType MenuItem:
 * Title
 * Subitems (Menu items could reference sub menu items to create a menu tree)
 * Target (Single reference for page content type only)

## this broke it

we need to add a new content type:
*

[2020-06-03 13:22] vladar commented on #24751
Just to clarify, why do you want to render them dynamically (in window.onload)? Do you expect to have different meta tags on different pages or do you want to have different meta tags on the same page?

Also, did you check our documentation on [adding metadata](https://www.gatsbyjs.org/docs/add-page-metadata/) to pages? If it didn't work for you, please explain in a bit more detail why?

[2020-06-03 13:30] vladar commented on #24136
We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

If you decide to open a PR with `inferType` utility, please just mention me in the PR description!

[2020-06-03 13:30] #24136 closed

[2020-06-03 14:01] ImSolitude commented on #24751
@vladar Yes, I want to render them dynamically since the same page may change for different content, That's the use case I have.

Let's say I have `company1.website.com` I have the metadata for this company on `.json` file hosted on S3 (`www.s3.bla-bla-bla.com/company1.json`) this json file changes dynamically for each company from the backend, and It's a big list of companies , Now another compan

[2020-06-03 14:06] caitlinthefirst commented on #11805
Hey, @mujeex ! I have a draft that's been "in progress" for a while that I'd love another set of eyes on. If you email me at caitlin@gatsbyjs.com, I can share the doc with you. Thanks!

[2020-06-03 14:11] capndave commented on #24150
I can get behind the arrows representing "what will be" rather than "what
is". A dropdown menu normally uses a down arrow to show that clicking on it
will make something appear in a downward direction. What seems off to me is
that, using the logic above, the arrow should point down when collapsed and
up when expanded. Instead I read the sideways arrow as (currently)
collapsed. Its corollary would

[2020-06-03 15:07] jasonbahl commented on #23344
@LekoArts @shrthnd @anishanair6 I think based on the conversations above and the recent work done in WPGrapQL, there are paths to resolving this.

I'm not sure we can officially say "Gatsby supports Divi", but there are paths to use the content Divi creates within Gatsby.

If you're using WPGraphQL + Gatsby, you can know fetch enqueued assets and use them in Gatsby. So you can query the rendered c

[2020-06-03 15:07] #23344 closed

[2020-06-03 15:09] pieh commented on #24705
Just opened draft pull request for it in https://github.com/gatsbyjs/gatsby/pull/24754 (if you want to keep track of it). Until this is merged and published I can release canary `gatsby` version with the proposed fix for you to use in meantime

[2020-06-03 15:14] mcclaskiem commented on #24727
@LekoArts Thanks for getting back to me on this! Below you will find a public repo containing a test site that mirrors what I am using on my project. I also noticed that with this new version of `gatsby-ssr.js` it is also not rendering my `<SEO>` component in the document head, looks like that too is being added after page load.

[2020-06-03 15:23] laurieontech commented on #24164
I understand. That's not something that is a priority at the moment, but we'd certainly be open to a community PR.

[2020-06-03 15:31] emanueleperuffo opened #24756 "Graphql page queries created in plugins are not working for gatsby-plugin-mdx"
## Issue Description

I'm creating a remark plugin that creates a page query.

Mdx-loader correctly transpiles the AST, however, the page query is not evaluated by Gatsby.

I have no idea when and where Gatsby parses and evaluates page queries so I couldn't inspect this issue myself.

## In gatsby-config.js

[code]

## MDX Transpiled to JSX

[code]

[2020-06-03 15:40] vladar commented on #10090
Thank you for clarifications!

Technically what you describe is a breaking change to the schema, so failing the query is expected. But it is unrelated to this issue.

Let me explain... Before adding `App` type you had:

[code]

After you've added `App` it becomes:

[code]

Breaking changes to the schema like this must be addressed manually in your components anyways (because the structure of your

[2020-06-03 15:40] #10090 closed

[2020-06-03 15:45] pieh commented on #24272
We released `gatsby@2.22.19` which should fix the problems (I couldn't reproduce problems anymore when testing it manually) - please try upgrading and let us know - if there are still issues please create new issue for it (it's easier for us to track it this way)

[2020-06-03 16:04] robmarshall commented on #14497
This is an issue for me as well, and it seemingly not completely related to sharp. See this comment: https://github.com/lovell/sharp/issues/2072#issuecomment-582593208

[2020-06-03 16:33] vladar commented on #24751
How do you use Gatsby in this situation? Do you have a separate site for each company or do you have a single Gatsby site?

And what metatags are you going to update (and for which purpose)? I am asking because updating some of them via javascript makes little sense (i.e. [SEO](https://www.gatsbyjs.org/docs/seo/)-related).

It is still not entirely clear what you are trying to achieve, so please s

[2020-06-03 16:35] JustFly1984 commented on #22070
currently 3 errors has been dissapeared in 2.22.19 version, but one more appeared:

[code]

<img width="506" alt="Screenshot 2020-06-03 23 32 32" src="https://user-images.githubusercontent.com/2255993/83663353-f340cb80-a5f2-11ea-8b8a-7c4aca8031d4.png">

[2020-06-03 16:42] JustFly1984 opened #24758 "2.22.19 new typescript error"
# Description

in 2.22.19 version appeared new error when I run `tsc -p ./tsconfig.json --noEmit`:

### Steps to reproduce

run `tsc -p ./tsconfig.json --noEmit` in gatsby typescript project

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: ht

[2020-06-03 16:54] vladar commented on #24756
Hi @emanueleperuffo !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [p