[2018-02-13 18:27] KyleAMathews commented on #3950
@m-allanson the `bootstrap` script which you should run to setup the repo does run `pre-publish` https://github.com/gatsbyjs/gatsby/blob/d5d981571b4516532d02f26911b40f0cc3c54a28/package.json#L49

Didn't know about scope! Yeah, we should add that to the docs — @jmoujaes could you edit the CONTRIBUTING document to change `npm run watch` to demonstrate how to scope watching to packages you'll be edit

[2018-02-13 18:27] KyleAMathews commented on #3950
https://github.com/gatsbyjs/gatsby/blob/master/CONTRIBUTING.md#contributing-to-the-repo

[2018-02-13 18:29] KyleAMathews commented on #1347
@kripod yeah agreed. @m-allanson mentioned he wanted to take a hard look at all our CSS setup and fix things up.

[2018-02-13 18:32] deltaskelta commented on #3853
@monsieurnebo what is the goal of running `deletePage` right before `createPage`? I like your solution and I have tried to implement it, but I have some errors.

- I either get incorrect `pathContext.language` without using `deletePage`

- or I get a build error when I include `deletePage` like your example.

This is the best solution I have seen so far.

[2018-02-13 18:35] KyleAMathews commented on #4003
Huh weird. Yeah, we should either log and/or just work around the lack of data from not having `propTypes`

[2018-02-13 18:50] mxlje commented on #4016
Maybe i‘m missing something, how would we see those IDs? And how would they be persistent?

Right now I have to run IDs through the `fixId` function before I can actually use them, but at least it explicitly references the entry by its canonical (contentful) ID in the code.

[2018-02-13 18:57] pieh commented on #3998
Yeah, we can add optional rate limiting / throttling to wordpress plugin. If You are familiar with nodejs or axios or just feel adventurous maybe you feel like You could give it a try?

Couple hints for any takers:
- data fetching is done here - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/fetch.js
- here's example how to add thottling to axios - https://gith

[2018-02-13 19:06] pieh commented on #4003
As this is graphql schema related I will have a look. Is there fast way to reproduce it?

[2018-02-13 19:07] KyleAMathews commented on #3449
Yeah, layout wrapper component is way better when you can. We're actually removing our special layout components in v2 as @pieh mentioned for this and a bunch of other reasons — https://github.com/gatsbyjs/gatsby/issues/3830

[2018-02-13 19:09] pieh commented on #4016
@mxlje  use `contentful_id` field instead of `id` field

[2018-02-13 19:15] KyleAMathews commented on #3972
@nicholaswyoung the version of uglify we're using doesn't support es6 — we also don't compile code in `node_modules`. We're considering following CRA's lead and adding limited support for compiling code in `node_modules` but we won't do this until Gatsby v2 https://github.com/facebook/create-react-app/pull/3776

In the meantime, if you're using a dependency that ships es6 code, you'll either need

[2018-02-13 19:19] KyleAMathews commented on #4015
Also part 4 of the tutorial covers creating pages https://www.gatsbyjs.org/tutorial/part-four/

[2018-02-13 19:20] donavon commented on #3742
Thx for posting! I was having the same issue and this solved it.

Note to others. he fix, specifically, was to change from a relative reference:

[code]

to an absolute:
[code]

Alternatively, I eliminated the reference completely and it worked just fine. I assume this is because I already had:
[code]

[2018-02-13 19:29] KyleAMathews commented on #4011
Netlify uses Linux Docker containers to do builds.

[2018-02-13 19:30] KyleAMathews opened #4018 "Fix warnings for exported APIs in gatsby-ssr.js"
Several people have reported that they're getting erroneous reports for SSR APIs in plugins.

[2018-02-13 20:23] jmoujaes commented on #3950
Created PR, please let me know if you have any suggestions.
https://github.com/gatsbyjs/gatsby/pull/4020

[2018-02-13 20:25] #3950 closed

[2018-02-13 20:25] KyleAMathews commented on #3950
Thanks @jmoujaes!

[2018-02-13 20:27] jmoujaes commented on #3950
For sure, thank you both for being responsive!

[2018-02-13 20:40] TuckerWhitehouse opened #4021 "gatsby-image browser support"
## Description

`gatsby-image` uses `object-fit/object-position` which are [not supported in IE](https://caniuse.com/#feat=object-fit).
https://www.gatsbyjs.org/docs/browser-support/ states support for IE 9+.
Some discussion about the issue and a workaround can be seen here: https://github.com/gatsbyjs/gatsby/issues/2470#issuecomment-338394370

### Expected behavior

a) Either a note on `gatsby-im

[2018-02-13 21:35] cwgw commented on #2929
@pieh @m-allanson thank you for your work! Upgrading to the latest fixes most of my issues.

I'm still seeing spooky behavior in one specific case: filtering on the frontmatter. I still get the `Path must be a string...` error when running a query like:

[code]

Are either of you able to confirm this?

[2018-02-13 21:51] pieh commented on #2929
Uhm, yeah. Let's reopen it then.

[2018-02-13 22:53] pieh commented on #2929
@cwgw fix (vol. 2) in #4024

[2018-02-13 23:14] jarodtaylor opened #4025 "Webpack resolve.modules not working"
## Description

I'm unable to use Webpack [resolve.modules](https://webpack.js.org/configuration/resolve/#resolve-modules) in my `gatsby-node-js` file.

### Environment

Gatsby version: 1.1.39
Node.js version: 8.2.1
Operating System: OS X

### File contents (if changed):
`gatsby-node.js`:
[code]

### Actual result

This throws an error when I run `gatsby develop`:

[code]

I'm not sure if this rep

[2018-02-13 23:20] awesomebob commented on #4011
I'm running on GitLab CI, but today I'm also seeing a significant delay after the message:

`@ success write out redirect data — 0.004 s`

It hangs at that point for 10-15 minutes before continuing. I've seen this twice today now.

I'm used to my whole Gatsby builds being 4-6 minutes, and that has been consistent for weeks until today.

I'll attempt to add some -v verbosity and report back.

[2018-02-13 23:40] benjaminhoffman commented on #3961
wow.  deleting my `node_modules` solved this.  SMH.

[2018-02-13 23:48] KyleAMathews commented on #4021
Oh hmmm yeah — we should definitely polyfill gatsby-image for IE. object-fit-images looks great from a quick look.

[2018-02-14 00:18] #2929 closed

[2018-02-14 00:19] KyleAMathews commented on #4025
We're on webpack 1 still so yeah, using webpack-validator.

What are you trying to accomplish with the webpack config edit?

[2018-02-14 00:21] KyleAMathews commented on #4011
@awesomebob gatsby-plugin-sharp checks if an image is in public before transforming it again. Gatsby in general expects `public` and `.cache` to be cached between builds and takes advantage of that when it can.

[2018-02-14 00:26] #4018 closed

[2018-02-14 00:29] KyleAMathews commented on #4011
@awesomebob also does your site build locally? Or is it just a gitlab problem?

[2018-02-14 00:35] awesomebob commented on #4011
@KyleAMathews my site does build locally without issue, on Ubuntu 16.04.

I just found that my GitLab project was set to use Shared Runners instead of our internal Private Runner, so that could account for the slower build process.

I'm now on the path of preserving the `public` and `.cache` directories between deploy steps

[2018-02-14 00:48] cwgw commented on #2929
Fixed!

@pieh, you're my hero. Thank you for getting this working.

[2018-02-14 00:50] IainIsCreative commented on #3480
Hey folks,

I made a simple page a few weeks ago, and the public directory has been deployed to webfaction. Seems to be working fine!

Closing this now.

[2018-02-14 00:50] #3480 closed

[2018-02-14 01:50] shansmith01 commented on #3998
I would love to help out, but unfortunatly this seems to be a bit beyond my current skill level. All i manage to do was create more errors!

[2018-02-14 01:58] awesomebob commented on #4011
@KyleAMathews I now have `public` `.cache` and `node_modules` caching correctly, and my Gatsby build time is down to 1 minute. Thanks for the help!

@jongold Sorry for hijacking your issue, I hope that the caching suggestions may help you speed up your builds as well.

[2018-02-14 03:11] Twitchkidd opened #4027 "Tutorial project 'gatsby develop' reloading suboptimal"
## Description

HMR for the tutorial project

### Environment

Gatsby version: 1.1.40
Node.js version: 8.9.3
Operating System: macOS 10.13.3

### File contents (if changed):

`gatsby-config.js`: not changed
`package.json`: not changed
`gatsby-node.js`: not changed
`gatsby-browser.js`: not changed
`gatsby-ssr.js`: not changed

### Actual result

404, process terminated

### Expected behavior

404,

[2018-02-14 03:14] jarodtaylor commented on #4025
@KyleAMathews ah, got it. I thought you guys were on Webpack 2 (pushing for 3 in Gatsby 2.0). Makes sense.

I was able to accomplish it with `resolve.alias`:

[code]

This was just so I could `import FileName from 'components/FileName'` instead of `import FileName from '../../components/FileName'`;

[2018-02-14 04:00] exrishu commented on #3991
@jquense Thanks, Implemented and worked :)

[2018-02-14 04:55] ajayns commented on #4007
Hey! I'd love to work on this!

[2018-02-14 05:52] jongold commented on #4011
It's working now, I'm stumped 🙃

Talking to Netlify support it's possible that there was something weird going on with their image, but I don't have a clear picture of exactly what. Hoping this won't be an issue again 🤞

[2018-02-14 05:52] #4011 closed

[2018-02-14 05:56] ajayns opened #4028 "No documentation found or referred to in tutorials for createFilePath"
## Description

While going through tutorial 4, there seem to a couple of functions which seem to be just appear and do things magically. No links or documentation could be found for details on how `node`, `getNode`, `createFilePath` works.

Only documentation I could find was for [gatsby-source-filesystem](https://www.gatsbyjs.org/packages/gatsby-source-filesystem/)

[2018-02-14 05:58] KyleAMathews commented on #4011
Ugh — sorry about this! Hisenbugs are the worst.

[2018-02-14 06:14] ajayns opened #4029 "Bound Action Creators docs has no code sample for using functions"
## Description

The Bound Action Creators [docs](https://www.gatsbyjs.org/docs/bound-action-creators/) has explained each function quite well, but never mentions on how to get these functions for use from the action creators.

It is implied from the explanation itself but I feel adding a code sample would be very helpful:
[code]

I'd love to contribute if this seems like a valid issue.

[2018-02-14 08:22] CanRau commented on #2670
@dustinhorton another way would be to loop all nodes in gatsby-node.js and create a node field 'draft' setting it to the value of frontmatter.draft, than you'd query for fields.draft instead of frontmatter.draft
that way you don't need a temp file

[2018-02-14 08:24] digitalkaoz opened #4030 "Api check for `gatsby-plugin-react-helmet` fails"
`The plugin "gatsby-plugin-react-helmet@2.0.5" is exporting a variable named "onRenderBody" which isn't an API.`

there was a patch yesterday, but i guess it was only half done...

[code]

[2018-02-14 08:42] nickmccurdy commented on #4030
I had this in Gatsby 1.9.194 using 2.0.5 of the plugin, upgrading to Gatsby 1.9.197 fixed it for me.

[2018-02-14 08:43] monsieurnebo commented on #3449
My website is having a modular layout. The full version of the layout is the following one:

[code]

The header & breadcrumb are always visibles and displaying some page-related information (e.g. page title), and the other sections don't appear on every single page. I created a layout component displaying these section (or not) according to the props passed from the page.

## PageLayout
[code]

##

[2018-02-14 08:48] monsieurnebo commented on #3853
@deltaskelta Glad to see you like it!

`deletePage` is used to cancel the creation of the default page by Gatsby. If you don't add this, you will get your custom pages, **and** the default one. You can see that's takin the `page` argument, that is the uncustomized page informations.

Check your `public` directory with and without this line, you will spot the difference ;)

About your errors, it's

[2018-02-14 09:34] peduarte opened #4031 "[gatsby-plugin-netlify-cms]: Breaks Gatsby `develop` and `build`"
Hello 👋

I've noticed that by adding the latest `gatsby-plugin-netlify-cms` plugin, `gatby develop` and `gatsby build` stop working.

I've done a few tests and isolated the issue down to this plugin. If I remove it, everything works again.

Below are the errors I'm getting:

----

**gatsby develop**

![carbon 3](https://user-images.githubusercontent.com/372831/36196826-d8b3a334-1169-11e8-9fda-01dc

[2018-02-14 10:00] digitalkaoz commented on #4030
yeah it seemed there was still an old version...seems workin now

[2018-02-14 10:00] #4030 closed

[2018-02-14 10:43] m-allanson commented on #4029
@ajayns That sounds good! Changes that make the docs clearer are definitely worth doing.

[2018-02-14 11:09] tsriram commented on #3979
Wonder if the version of React you're using doesn't support the fragment syntax `<>...</>` yet? Are you using `gatsby-plugin-react-next`?

[2018-02-14 11:24] fernandes commented on #2893
@ferMartz maybe this issue can be closed? :)

[2018-02-14 11:26] m-allanson commented on #3979
The short fragment syntax `<>` isn't handled by Gatsby (yet!), even using `gatsby-plugin-react-next`. But maybe TypeScript will deal with that? If not, then using `<Fragment>` syntax should be fine.

[2018-02-14 11:42] tsriram commented on #3979
Yeah, TypeScript >2.6.2 has [full support for fragment syntax](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#typescript). I just tried adding `gatsby-plugin-react-next` and I could use the fragment short syntax. Without the plugin it doesn't work.

[2018-02-14 11:44] m-allanson commented on #4028
Thanks for raising this @ajayns, I agree it's not very clear where they're coming from.

You're right that `createFilePath` comes from `gatsby-source-filesystem`, it could do with being documented.

A `node` object is the basis of how Gatsby structures its data, there's a bit more info about nodes on the [Node Interface docs page](https://www.gatsbyjs.org/docs/node-interface/).

It looks like `get

[2018-02-14 11:51] deltaskelta commented on #3853
Oh it was unrelated to the deletePage call. It was an issue of not copying the pages object since I had modified your example. I always stumble with object copying after being away from js for a while ;)

[2018-02-14 12:18] m-allanson commented on #4027
I thought maybe we could wrap [these](https://github.com/gatsbyjs/gatsby/blob/3c1cae921cc5804707902356b9ba35b79302ac69/packages/gatsby/src/redux/actions.js#L235) [exits](https://github.com/gatsbyjs/gatsby/blob/3c1cae921cc5804707902356b9ba35b79302ac69/packages/gatsby/src/redux/actions.js#L252) with `if (process.env === 'production') process.exit(1)`. Which _does_ prevent the `develop` command from

[2018-02-14 13:01] deltaskelta opened #4032 "removed graphql query not picked up until cache is deleted"
## Description

graphql queries which are deleted from a page on a running development server are not picked up, and will continue to not be picked up (removed) from the cache so the server acts as if they are still there.

The only way to fix this is deleting the cache.

### Environment

Gatsby version: 1.1.39
Node.js version: v9.5.0
Operating System: OSSierra 10.13.3

### Steps to reproduce

1\.

[2018-02-14 14:02] fk commented on #3480
Yay! Happy to hear things are working!

[2018-02-14 14:22] lloydh commented on #4014
Thanks but I get the same result from `babel-polyfill` as with `core-js` — IE11 throws on `emotion`'s ES6 methods **before** any code in my `gatsby-browser.js` runs.

This is `gatsby-plugin-emotion`'s [`gatsby-browser.js`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-emotion/src/gatsby-browser.js) which it looks like it's getting first dibs:
[code]

Polyfills need to be ah

[2018-02-14 14:41] babycourageous opened #4033 "Offer more DateTime filter options (currently only eq)"
## Description

The site I am building needs more DateTime filtering options than currently provided with Gatsby. Fro example filtering content based on whether it falls before or after a certain date. I'm hoping that a future version of Gatsby might be able to supply that!

[2018-02-14 15:02] Jaikant opened #4034 "General Question On Gatsby Plugins"
Some plugins need a configuration string in gatsby-config.js and some like gatsby-image and gatsby-link while documented in the `https://www.gatsbyjs.org/docs/plugins/` page is called a gatsby-component. Does it make sense to make this demarcation be made more formal by separation of documentation?

So we don't think why some plugins need an entry in gatsby-config and and some dont.

[2018-02-14 15:07] JackWReid commented on #3972
That workaround looks nice @m-allanson, thanks! Out of interest what's the timeline for v2?

[2018-02-14 15:21] nickmccurdy commented on #679
Note that you can also use `gatsby-ssr.js` with `onRenderBody`.

[2018-02-14 15:43] anjawaldbauer commented on #2937
Hi @evuolas, are you still on this PR? I would hate to steal your thunder, but I think this is still an open issue and would love to bring this issue to a close.

[2018-02-14 15:59] #2893 closed

[2018-02-14 16:00] lourd opened #4035 "Help debugging vague build failures that occur at building HTML"
## Description

I've got a Gatsby site that I'm hosting on Netlify that has a failing build on Netlify. I've tried everything I can think of and was hoping to find advice on other things to try. I've read the [docs page](https://www.gatsbyjs.org/docs/debugging-html-builds/) and tried the suggestions there, but my case is not one of the problems listed there. (But I will definitely add my case and

[2018-02-14 16:09] m-allanson commented on #3972
I don't think there is a timeline, but you can see progress here: https://github.com/gatsbyjs/gatsby/projects/2

[2018-02-14 16:10] anjawaldbauer commented on #2539
@KyleAMathews @hirviid Shouldn't this issue be closed as the fix was merged?

[2018-02-14 16:15] lloydh commented on #4014
I solved my polyfill problem by creating [`gatsby-plugin-core-js`](https://github.com/lloydh/gatsby-plugin-core-js).

Adding this as the first plugin in `gatsby-config.js` ensures the polyfill is executed before other plugin code utilising unsupported ES features.

[2018-02-14 16:22] fk commented on #4014
Nice @lloydh! Would love to see your plugin added to the list of [Community Plugins](https://www.gatsbyjs.org/docs/plugins/#community-plugins)!

[2018-02-14 16:26] tulikavijay opened #4036 "Improve Sidebar in Gatsby-tutorial documentation"
## Description
Upon clicking on any particular sidebar links in the GatsbyJs Tutorials, the whole section (tutorial section) gets highlighted and listed.

## Expected
Only the selected link should be highlighted or focused.

![gatsby](https://user-images.githubusercontent.com/25117249/36214550-c005cbb2-11cf-11e8-8833-049d382e6d2d.png)

[2018-02-14 16:28] pieh commented on #4035
If your build work locally then you propably to commit your some of your image files to your repository

[2018-02-14 16:29] fk commented on #4036
Thanks for filing this @tulikavijay—I kept forgetting to do so for at least a week now! 😅

[2018-02-14 16:31] tulikavijay commented on #4036
Great! i would like to work on this, any guidance is appreciated!

[2018-02-14 16:46] awesomebob commented on #2328
For anyone else who reads this, be advised that your CSS will no longer benefit from `autoprefixer`.

[2018-02-14 16:50] pieh commented on #4033
This is something I want to add. I have planned refactoring of graphql that should make it easier to add, just need to get more free time to get this done.

[2018-02-14 16:51] lourd commented on #4035
@pieh, you brilliant, helpful man 😄

Turns out it was due to a file type capitalization mismatch — `.PNG` vs `.png`. I changed it in VSCode and it showed it as lowercase, but it didn't actually change it in the filesystem, so it never got changed in git. Freshly cloning the repo still had it as uppercase.

The `diff` command ended up being helpful for this:

[code]

[2018-02-14 16:51] #4035 closed

[2018-02-14 16:52] KyleAMathews commented on #3449
Yeah, this seems like it'd work great!

[2018-02-14 16:53] KyleAMathews commented on #4030
Yeah @m-allanson fixed it yesterday! Sorry for the brief weirdness 😅

[2018-02-14 16:57] KyleAMathews commented on #4029
I think adding one example + explanation at the top makes a lot of sense. Adding it to every function example would be overly verbose/redundant I think.

[2018-02-14 17:01] m-allanson opened #4037 "Plugin loader can't parse local ES6 files"
I'm still pulling on this thread that leads to #3889, and I think this is the cause of the [bug mentioned here](https://github.com/gatsbyjs/gatsby/pull/3889#issuecomment-364204661).

[This function](https://github.com/gatsbyjs/gatsby/blob/3c1cae921cc5804707902356b9ba35b79302ac69/packages/gatsby/src/bootstrap/load-plugins.js#L17-L29) attempts to resolve a site's plugins, which is generally 👍.

Howe

[2018-02-14 17:07] KyleAMathews commented on #4034
They're called "Official components" there — perhaps it'd be more clear if we called them "Official React Components"? We're revamping the plugin library soon https://github.com/gatsbyjs/gatsby/pull/3906 and we'll make clear in results if something is a "plugin" (which needs added to gatsby-config.js) or a "React component" where you just import it like normal into a Gatsby site.

[2018-02-14 17:07] jquense commented on #4037
I'm not sure if it's intended that node files should be transpiled? My instinct is that the current behavior is good, You wouldn't really want `gatsby-node.js` run against the same set of transforms as the browser files anyway...

[2018-02-14 17:08] KyleAMathews commented on #2539
Indeed :-)

[2018-02-14 17:08] #2539 closed

[2018-02-14 17:16] KyleAMathews commented on #4037
Hmm yeah — people shouldn't be using import in `gatsby-node.js` in general. import/export in Node is still a huge mess and we should warn people against that. And yeah, the others can't often be imported into node due to webpack-specific requires. This reminds me now why I didn't add exports checking back in the day for browser/ssr APIs :-D

Perhaps instead we just read in plugin's files and use r

[2018-02-14 17:20] jquense commented on #4037
what is the check for? Isn't this about requiring the file? It seems like it's gonna be requires at some point right might as well fail early, maybe wrap the SyntaxError with a helpful gatsby not aobut how this file isn't compiled?

[2018-02-14 17:25] KyleAMathews commented on #4037
@jquense @m-allanson has been working on adding a warning for when multiple plugins implement `replaceRenderer` — which will then silently break things because Gatsby can only use one implementation of `replaceRenderer` during SSR https://github.com/gatsbyjs/gatsby/pull/3889

[2018-02-14 17:35] jquense commented on #4037
ah ok sorry, missing context :) 👍

[2018-02-14 17:41] lourd opened #4038 "[gatsby-transformer-remark] Improve opaque need for slug field"
## Description

The gatsby-transformer-remark has an [opaque dependency](https://github.com/gatsbyjs/gatsby/blob/ee5aa897d60e024a25108b69b4fca943768d3063/packages/gatsby-transformer-remark/src/extend-node-type.js#L219-L227) on having a `slug` field. It's needed if the `tableOfContents` property is requested as part of a GraphQL query. You have to use the `createNodeField` action on markdown nodes

[2018-02-14 17:49] smakosh commented on #1199
their API is so bad lol, instead of telling me what parameter is missing, their response is lacking

[code]

[2018-02-14 18:07] tech4him1 commented on #4031
(I will warn that this is somewhat speculation, I haven't dug too deeply.)

Tracing the error back to Acorn and WebPack, it looks like WebPack version 1, which Gatsby is using, has the Acorn parser set to parse ES6 and lower ([webpack/lib/Parser.js#v1.15.0](https://github.com/webpack/webpack/blob/d4878a55be7a4b7ac4e5db1ae5eef89e15811072/lib/Parser.js#L880)). The latest version of WebPack supports

[2018-02-14 18:21] talves commented on #4031
@tech4him1 Your hypothesis seems right on point with what I was finding in my tests.

[2018-02-14 18:25] KyleAMathews commented on #4025
Ah cool :-) Yeah, common request.

For others who stumble across this thread, there's also a plugin that does this webpack tweak https://github.com/alampros/gatsby-plugin-resolve-src

[2018-02-14 18:25] #4025 closed

[2018-02-14 18:30] ghardin137 commented on #4035
I know i'm a bit late here, but you should also be checking your objects prior to using a deeply nested value.  You'd likely have a successful build, without an image on a single page.

[2018-02-14 18:36] #3795 closed

[2018-02-14 18:53] BennoDev commented on #3979
@tsriram Using `gatsby-plugin-react-next` is the answer to my problem, thanks!

[2018-02-14 18:53] #3979 closed

[2018-02-14 19:05] pogo19 commented on #4031
@tech4him1 @talves I've read somewhere that Webpack version upgrade is planned for Gatsby v2 by @KyleAMathews ... still a solution for Gatsby v1 is needed I think.

[2018-02-14 19:19] tech4him1 commented on #4031
@pogo19 Yes, @erquhart linked it to https://github.com/gatsbyjs/gatsby/issues/2641.

[2018-02-14 19:20] lourd commented on #4035
Hey Greg, thanks for the suggestion.

I think that would be defeating the main benefit of GraphQL — having a clear contract for the data I'm receiving. If my query starts returning data with unexpected null values, then I want my build to fail. I think having my site in an undetermined state, where an image is missing without any warning, is worse.

I definitely appreciated Netlify's ability to ov

[2018-02-14 19:27] ajayns commented on #4029
@KyleAMathews exactly my thoughts! Will work on a PR!

[2018-02-14 19:30] #3990 closed

[2018-02-14 19:31] KyleAMathews commented on #3990
Should be fixed now! Please upgrade to the latest and report back if there's any problems still. Thanks for reporting the issue

[2018-02-14 19:40] KyleAMathews commented on #4029
Great!

[2018-02-14 19:45] KyleAMathews commented on #4027
Working on a better solution for this.

@jquense suggested at some point in the past that we have an easy way for warnings/errors to only warn in some environments and hard error (i.e. kill the process) in others. E.g. many more things should die during builds but not during development. It probably makes sense as well for some things to kill the process during the development bootstrap but *not*

[2018-02-14 19:53] ajayns commented on #4028
To get started with, the [Node Interface docs page](https://www.gatsbyjs.org/docs/node-interface/) can be mentioned in the [section](https://www.gatsbyjs.org/tutorial/part-four/#programmatically-creating-pages-from-data) where nodes come in tutorial 4, this would help guide people who wanna know a bit in depth of how it works in the back.

Further more, you're right `getNode()` is commonly used by

[2018-02-14 20:13] ajayns commented on #4029
@KyleAMathews @m-allanson  I'm not fully familiar with structure for your documentation, so the file I need to work on is the one at `www/src/pages/docs/bound-action-creators.js` right? Or is there a markdown file somewhere?

Also, I'll add the small explanation + snippet right above the functions list in the page?

[2018-02-14 20:25] KyleAMathews commented on #4029
Yup! That's it.

On Wed, Feb 14, 2018, 12:13 PM Ajay NS <notifications@github.com> wrote:

[2018-02-14 21:57] shannonbux commented on #3923
wow magical! How nice.

On Tue, Feb 13, 2018 at 8:35 AM, Florian Kissling <notifications@github.com>
wrote:

[2018-02-14 21:59] shannonbux commented on #3956
@LeKoArts I have no idea, since I'm not a developer really. What I mean is something that shows that Gatsby can do more than build just static sites. So, it would be cool if beginners could go through tutorials and build something static (like a marketing site), and then go to some advanced tutorials to add something like an e-commerce store to their marketing site they just built. Does that makes

[2018-02-14 22:20] robwierzbowski opened #4044 "Breaking webpack config change introduced in 1.9.162"
## Description

Previously, Gatsby users were able to override loader `exclude`s by specifying their own regex in gatsby-node.js. Example:

[code]

In https://github.com/gatsbyjs/gatsby/pull/3611/commits/50b0a47b20ae4a5e07b3b9bc9f4b87cc3bb509d1, which was released in [1.9.162](https://github.com/gatsbyjs/gatsby/commit/cc468b029819ce2279e47f5d75f3ded9d0f07a1c), `exclude` values in the Gatsby webpac

[2018-02-14 22:23] bytheway875 commented on #3052
@jquense Due to a bug introducd in gatsby 1.9.162, you actually cannot override the exclude on the js loader to load anything from node_modules because it merges your custom excludes to an array that excludes all of node_modules. Can confirm that this implementation works to resolve this issue, but it is kind of nasty.

[2018-02-14 22:28] bytheway875 commented on #4044
Confirmed that this can be "fixed" in the short term by implementing something like the poster of this issue did:

https://github.com/gatsbyjs/gatsby/issues/3052

But this requires recreating the program variable, loading in the babelConfig, and wrapping the config stuff in a promise, removing the defaultloader, and then adding customconfig.

------
In my opinion, reverting the exclude to be a str

[2018-02-14 22:39] peduarte commented on #4031
It's mentioned on https://github.com/netlify/netlify-cms/issues/1097 that the temp fix is to revert to `netlify-cms@1.1.0.`.

However, as `gatsby-plugin-netlify-cms` declares `netlify-cms` dependency with `^1.0.1` so it's installing  `1.2.0`.

Is there a temp workaround?

[2018-02-14 22:58] tech4him1 commented on #4031
If you are using Yarn, you can add to your `package.json`:
[code]

[2018-02-14 23:02] bytheway875 commented on #4031
@peduarte
Do you have any custom rules in your gatsby-node file for the js loader by chance?

[2018-02-14 23:12] pogo19 commented on #4031
@peduarte If you are using yarn, you can use this in your package.json:
[code]

[2018-02-15 00:43] #4027 closed

[2018-02-15 00:44] #4032 closed

[2018-02-15 01:42] xiaoxinghu commented on #3538
Is there a way to get `publicURL` within a transformer plugin? I have links to relative path files in the content (`org-mode`), I tried to get `publicURL` from `file` nodes, but got nothing. I assume it's not ready at that point ( in `extend-node-type`). I saw the implementation in `gatsby-remark-copy-linked-files`, it's good to not having to rewrite something similar, since `gatsby-source-filesys

[2018-02-15 01:46] KyleAMathews commented on #3538
You could refactor the filesystem implementation so it's a function you could use in other plugins.

[2018-02-15 01:52] Jaikant commented on #4034
The gatsby-image component is awesome and could be used in any react app. Possibly such components could be spun off to a separate repo so it could be discoverable used in any react app independent of Gatsby. This will help Gatsby get discovered more, through these components and also improve the  probability of the components to remain updated and remain generic react components.

[2018-02-15 02:24] xiaoxinghu commented on #3538
Had a look at this #3669 , the way `gatsby-transformer-sharp` was implemented is a easier way for me. but it is a little concerning, since it hard code the publicURL in there. If the original one (in `filesystem`) changed, it will break.

[2018-02-15 02:39] tech4him1 commented on #4044
The related PR to that commit is https://github.com/gatsbyjs/gatsby/pull/3611.

[2018-02-15 03:56] jbsmith731 commented on #3401
@almorgan is correct... `categories` returns an array of objects. Given this change how do we filter `allWordpressPost` by category name?

[2018-02-15 04:34] erquhart commented on #4044
@robwierzbowski passing config as a function or using a resolver function doesn't allow replacement?

[2018-02-15 04:46] erquhart commented on #4044
I should have prefaced my comment with: this was totally a breaking change and I overlooked use cases where that would be true, apologies for that. In light of the break, I believe reverting is the only proper course. I'll open a PR to do that now.

[2018-02-15 05:01] jackedgson commented on #3757
@KyleAMathews @LeKoArts  I have also recently encountered this problem. It seems to get stuck at a random percetange completion. If I cancel out, and start again it won't pick up from where it left off and will leave a bunch of broken images.

![screen shot 2018-02-15 at 14 38 05](https://user-images.githubusercontent.com/11954332/36240731-b44c0f18-125e-11e8-9c73-19bdbb097695.png)

I've had some s

[2018-02-15 05:02] erquhart commented on #4031
#4046 will break the plugin in an additional, unrelated way once merged. Tracking here since the net goal of this issue is making the plugin work again. Thoughts on a potential alternate approach in [#4044](https://github.com/gatsbyjs/gatsby/issues/4044#issuecomment-365824391).

[2018-02-15 05:08] erquhart opened #4047 "Update Netlify CMS plugin to replace webpack loader exclusions"
#4046 will revert the changes introduced in #3611. The purposes of the commit being reverted as mentioned in the PR:

Since the exclusions will go back to being strings, we should be able to address this by passing a function to the webpack-configurator [`loader`](https://github.com/lewie9021/webpack-configurator#configloaderkey-config-resolver) method to replace the string with an array and achie

[2018-02-15 06:21] codingdefined opened #4049 "Invariant Violation: Unknown Field allUtopianPost"
## Description

When created a new Plugin gatsby-source-utopian, and installed it using the npm getting error as "Invariant Violation: Unknown Field allUtopianPost", when tried to use allUtopianPost as

[code]

The source plugin is in https://github.com/codingdefined/gatsby-source-utopian

### Environment

Gatsby version: 1.9.153
Node.js version: 8.9.3
Operating System: Windows 10

### File conten

[2018-02-15 07:08] Jaikant commented on #2825
@KyleAMathews For the use case in which a query needs the result from a previous query. Can both the queries be colocated in the same component? Currently the way I do it is, running the first query in gatsby-node.js and passing the result to a template component.

[2018-02-15 07:59] Jaikant commented on #4034
Closing the issue as the remaining question left is more directional in nature for gatsby react components.

Would be happy to help if we need to move `gatsby-image` as a generic react component, as I already did some stuff using similar logic as in gatsby plugins to build some image resizing in lambda. https://github.com/Jaikant/lambda-image-sharp

[2018-02-15 07:59] #4034 closed

[2018-02-15 08:21] Jaikant opened #4050 "Question: Passing a string to GraphQL queries argument."
I would like to have createPages do something like this in my gatsby-node.js

[code]

The 'A' , 'B', 'C' need to be passed on to the same **graphQL query**
I tried something like below, but it didn't work ...

I get the error -> GraphQLError: Variable "$indexPage" of required type "String!" was not provided.
How do I pass the string to the query when I invoke the query in gatsby-node.js?

[code]

[2018-02-15 09:04] ajayns commented on #4007
@KyleAMathews mentioned as an example the mapping done directly between nodes in gatsbyjs.org, an author field in markdown is mapped to an authors.yaml file. What exactly can you do once it's mapped, can you give me a bit clearer explanation of what happens in the back?

Also any suggestions on what to include in the documentation? @m-allanson @fk

[2018-02-15 09:18] peduarte commented on #4031
@pogo19 awesome, thank you! 🙏

[2018-02-15 10:04] designbyadrian commented on #660
I'm having a hard time understanding how to get env vars into gatsby-config without `modifyWebpackConfig`?

prefixing with `GATSBY_` doesn't do anything, thought I understand that the readme says that's what I want to do to pass vars to the client-side code, not the build phase. But what if I need API tokens to grab data to build pages from?

The current solution is 50% done, in my humble opinion.

[2018-02-15 10:33] pieh commented on #4050
you should be able to pass second paramater to `graphql` function with context (values available as parameters):
[code]

[2018-02-15 10:37] LeKoArts commented on #3757
Yes, you‘re having the exact same issue as I have. Once I generated all images and only add them one by one in the process of writing a new blog post everything works fine. But when I want to pull and build the repo on another machine it won‘t work.

[2018-02-15 10:48] LeKoArts commented on #3956
Ahh, so you wanna show that React is actually under the hood and can be used like normal React apps. That would make sense.

In my opinion it would be cool to first build something static (to show Gatsby‘s strenghts) and then enhance this site with React‘s strenghts. One thing that instantly came to my mind (as a first idea):

You often have a list of recent blog posts which are ordered by the gra

[2018-02-15 10:50] m-allanson opened #4052 "Add gatsby-source-filesystem docs"
Add documentation for `gatsby-source-filesystem`'s methods:

- createFilePath
- createRemoteFileNode
- loadNodeContent

`createFilePath` in particular is used in part four of the tutorial.

Refs: #4028

[2018-02-15 11:09] imshuffling commented on #4010
Thanks - tried that, strange thing is when i run `gatsby serve` locally to runs no problem.

<img width="568" alt="screen shot 2018-02-15 at 10 56 22" src="https://user-images.githubusercontent.com/739061/36253286-fcb204bc-123e-11e8-803b-3ab1de473498.png">

<img width="322" alt="screen shot 2018-02-15 at 10 56 54" src="https://user-images.githubusercontent.com/739061/36253289-00aac324-123f-11e8-9e

[2018-02-15 11:19] imshuffling commented on #4010
Looking into whether this is the answer - https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/

[2018-02-15 11:22] pieh commented on #4010
Do you have your icons in `static/static/favicons/android_chrome_X.png` in your project directory? (content of `static` directory is being copied to build (`public` directory)

[2018-02-15 11:25] pieh commented on #3538
`publicURL` is field with resolver which means it will generate value (and copy file to build directory) on demand when queried and not really accessible with js code. You should propably look into refactoring that code into separate function and export it from `gatsby-source-filesystem` as @KyleAMathews suggested.

[2018-02-15 11:29] imshuffling commented on #4010
@pieh - Nope, they are currently in `public/static/favicons/android_chrome_X.png`

I manually copied them into this directory, am i missing something?

[2018-02-15 11:33] pieh commented on #4010
In general you don't want to put anything manually in `public` directory as this directory can be purged. If you want files in your `public` directory then use `static` directory ( https://www.gatsbyjs.org/docs/adding-images-fonts-files/#using-the-static-folder )

[2018-02-15 11:39] imshuffling commented on #4010
Ok I'll give that a go, must of missed that in the docs - thanks for your help.

[2018-02-15 11:44] imshuffling commented on #4010
OK - just deployed and I'm still not seeing the files.

<img width="285" alt="screen shot 2018-02-15 at 11 43 24" src="https://user-images.githubusercontent.com/739061/36255113-968931ea-1245-11e8-827e-21cb33600432.png">

Cache gets cleared on deploy so not sure where I'm going wrong?

[2018-02-15 11:46] jackedgson commented on #3757
I've resolved this issue. I modified the `gatsby-plugin-sharp` code to log the files as it processed it. Turns out the code hangs whenever it encounters an unfamiliar file type. In my case in the old blog posts, there was a single `.tif` image. Removing this image fixed the problem.

@KyleAMathews I propose that this should not fail silently as I wasted a great deal of time. Instead, the `gatsby-p

[2018-02-15 11:48] fk commented on #4007
Query data with GraphQL. 🎉
Let me try to walk you through what @KyleAMathews referred to in https://github.com/gatsbyjs/gatsby/issues/3129#issuecomment-361369994:

1. [`docs/blog/author.yaml`](https://github.com/gatsbyjs/gatsby/blob/4edf11f19d7a3ca163c7d99b37bb3e7192068642/docs/blog/author.yaml) is sourced via `gatsby-source-filesystem` https://github.com/gatsbyjs/gatsby/blob/4edf11f19d7a3ca163c7d

[2018-02-15 11:51] pieh commented on #4010
I do see them - https://davidrich.es/favicons/android-chrome-192x192.png

This might be confusing but files from `static` directory are copied directly to `public` directory (and not `public/static`) - this is so people can put stuff like `robots.txt` etc directly in root directory of their build. So you will have to adjust paths in your `gatsby-plugin-manifest` config to `/favicons/android-chrome

[2018-02-15 11:57] pieh commented on #3757
@jackedgson this is interesting - transformer sharp actually does check extensions ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/on-node-create.js#L6 ) but `.tif` is in list of allowed types and it's backed by `sharp` package description - "High performance Node.js image processing, the fastest module to resize JPEG, PNG, WebP and TIFF images. " ( https://g

[2018-02-15 11:59] pieh commented on #3757
But we probably could/should add some error checking in `gatsby-plugin-sharp` to not wait indefinitely for file that failed to be processed

[2018-02-15 12:01] imshuffling commented on #4010
@pieh - That seems to have done the trick, thanks for your help.

[2018-02-15 12:01] #4010 closed

[2018-02-15 12:04] jackedgson commented on #3757
Here's the file. Agreed that at the very least there should be something that handles an image taking too long or perhaps you could narrow down with that file to what specifically is wrong and we could just add a check for that. Wrong headers maybe?

[Stitches.tif.zip](https://github.com/gatsbyjs/gatsby/files/1727553/Stitches.tif.zip)

[2018-02-15 12:13] fk opened #4053 "[docs] Add example showing how to modify JS Babel loader"
…to https://www.gatsbyjs.org/docs/add-custom-webpack-config/
Refs. #3052 and https://github.com/gatsbyjs/gatsby/issues/3052#issuecomment-347652689

[2018-02-15 12:34] pieh commented on #3757
Actually - this might not be that this particular `.tiff` file can't be handled by sharp. Now when I checked `gatsby-plugin-sharp` code it seems we don't actually process `.tiff` files at all ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sharp/src/index.js#L98 ). I will work on that later today.

[2018-02-15 12:37] ajayns commented on #4007
@fk Thank you so much for such a detailed and clear explanation. This makes everything so much understandable now.

[2018-02-15 12:52] fk commented on #4036
I'd love to provide guidance, but I don't know what's happening there _at all_.
This worked just fine a few weeks ago, no clue what changed. `¯\_(ツ)_/¯`

Even more confusing is that building "www" locally things just work fine:

![image](https://user-images.githubusercontent.com/21834/36257500-6bec0e5a-1257-11e8-9c48-4532c9b31fda.png)

[2018-02-15 13:04] ajayns commented on #4007
To query between nodes, Gatsby has a mapping feature which allows you to link two different nodes by id and then you can query with GraphQL. For instance, if you have a couple of blog posts which have author id in the frontmatter:

[code]

And you have a list of authors and their details stored in `authors.yaml`, you can map between `author` in `frontmatter` to id in `authors.yaml` file by:

[code

[2018-02-15 13:05] ajayns commented on #4007
@KyleAMathews @fk @m-allanson I've written up a rough idea of what should be added to the documentation. Any suggestions? I'll go on to making a PR once you review it!

[2018-02-15 13:18] pieh commented on #4007
@ajayns Maybe it's worth mentioning that mapping doesn't have to be 1-1 relationship (single blog post has single author) and can be 1-N (single blog post can have multiple authors - then authors field in frontmatter in your example should be array of author ids)? Probably not in introduction to this feature (to not overwhelm with too much information). This can be added at later date, just keep t

[2018-02-15 13:25] ajayns commented on #4007
I was looking a for a simple way to explain what mapping does. Any suggestions on how I should rephrase it then? @pieh

[2018-02-15 13:46] LeKoArts commented on #3757
I don‘t have any .tif file in my folders. Just jpg and png. It always stopped if I processed a lot of images.

But last year everything went fine until an update removed the „maxEventListener“ thingy.

[2018-02-15 13:57] pieh commented on #4007
Not sure really - I already learned that writing docs is hard :) Maybe don't include details about linking 2 nodes by id in introduction and just say that it links nodes. And then add more details for specific scenarios (1-1 and 1-N) in seperate sub sections?

[2018-02-15 14:03] deltaskelta commented on #1043
I had the error on 1.9.158 and I just updated to 1.9.199 and I still have the error.

[2018-02-15 14:14] lloydh commented on #4014
@fk that was the first place I looked so I'm happy if it can save other users from headaches!

Honestly I still don't know if this is the most idiomatic way of polyfilling gatsby but [`gatsyby-plugin-core-js`](https://github.com/lloydh/gatsby-plugin-core-js) allowed me to ship!

[2018-02-15 14:14] #4014 closed

[2018-02-15 14:23] fk commented on #4007
Thanks for chiming in @pieh!

@ajayns I think what @pieh suggested is a good way to split up general and more detailed information. Do you want to get a PR going with what you already did and we continue the discussion over there?

[2018-02-15 14:28] fk commented on #4036
OK, also seeing the issue in my local build after a fresh install of the dependencies…

[2018-02-15 15:54] ajayns commented on #4007
Sure! I'm on it right now! @fk

[2018-02-15 16:14] KyleAMathews commented on #4049
Can you verify in your plugin that it's correctly downloading data? Also, what do you see in GraphiQL?

[2018-02-15 16:16] KyleAMathews commented on #4034
gatsby-image isn't an overly complicated component. We'd prefer it to be tightly integrated with Gatsby rather than generic. If others want to copy it (or figure out how to use it in a generic way) that'd be great.

[2018-02-15 16:17] KyleAMathews commented on #4034
The advantage of gatsby-image is that it's tightly integrated with Gatsby's build system. As a standalone component, it's not as special.

[2018-02-15 16:34] codingdefined commented on #4049
@KyleAMathews Yes the data is there in nodeStr.  And below thing I see in GraphiQL

![image](https://user-images.githubusercontent.com/13746289/36268287-1832a6da-129c-11e8-828b-2a01969e20a5.png)

[2018-02-15 17:15] pieh commented on #4049
Examining code for that source plugin - https://github.com/codingdefined/gatsby-source-utopian/blob/master/gatsby-node.js - you have async operation but you don't return promise so gatsby will move on with build and not wait for Your data before building schema.

Instead of empty return try returning promise you get when you run `utopian.getPostByAuthor(...)`

[2018-02-15 17:45] m-allanson commented on #4027
It'd be great to tie this in with a 'logging level' system also - so the points where Gatsby silently eats errors could optionally be reported too. I saw there's a verbose mode for that in `gatsby-cli` but I'm not sure how widely it's used.

[2018-02-15 17:55] jquense commented on #4027
@KyleAMathews  we should be in a place to do that BTW, gatsby cli sets the running command to process.env, we really just need to add a helper method in reporter. that's `panicOnBuild`

[2018-02-15 18:03] benedfit opened #4055 "Question: Any tips for speeding up building/update schema steps?"
Is there any way to help Gatsby know the expected schema for the nodes I'm creating so that it doesn't need to infer them?

I currently have quite complex node structures and it's resulting in both these steps taking about 30 seconds each to complete?

[2018-02-15 18:17] pieh commented on #4055
Currently no way to do this, but I have started doing some work on assisting schema creation. Originally it was focused on enforcing schema types but this could be extended to take over schema creation completely for sure. If you are interested - check https://github.com/gatsbyjs/gatsby/compare/master...pieh:schema_wip (just note that this is big undertaking and I didn't have time recently to work

[2018-02-15 18:24] benedfit commented on #4055
Sure, here is the site in question: https://github.com/avaclancheuk/destiny-clan-warfare. Just a heads up if you run it, it is calling out to a lot of API endpoints for data, so the `source and transform nodes` step is currently taking a very long time. I'm working on getting a smaller subset of data for development purposes, but currently, it will take about 10-15 mins to finish a build and creat

[2018-02-15 18:45] KyleAMathews commented on #4055
Sounds like something pathological in your data. I've never seen schema creation take longer than ~1.5seconds.

[2018-02-15 18:46] KyleAMathews commented on #4055
BTW, one quick way of speeding up sourcing is to parallelize fetches in your `sourceNodes` https://github.com/avaclancheuk/destiny-clan-warfare/blob/beta/gatsby-node.js

E.g. `await Promise.all([fetch(...), fetch(...)])`

[2018-02-15 18:59] anjawaldbauer commented on #2844
I would also like to query available locales and, if possible, determine which is the default locale. It this possible, yet?

[2018-02-15 19:08] benedfit commented on #4055
@KyleAMathews Thanks for the parallelization tip, I'll give that a shot. Could complex nested child arrays with lots of data be a potential issue for my schema creation?

[2018-02-15 19:10] KyleAMathews commented on #4055
Potentially. It's hard to say without profiling your exact data. There's other sites with lots of nested data that doesn't have problems.

[2018-02-15 19:11] benedfit commented on #4055
ok, thanks. I'll start digging and see if I can find the bottlenecks

[2018-02-15 20:23] #4037 closed

[2018-02-15 21:28] 416serg commented on #3067
@KyleAMathews and everyone, resurfacing this as I am having the same issues with my personal site: https://416serg.me/

Plugins I use:

[code]

[2018-02-15 22:08] shannonbux commented on #3956
I like this idea—it seems appealing since many people might actually use it!

On Thu, Feb 15, 2018 at 3:48 AM Lennart <notifications@github.com> wrote:

[2018-02-15 23:24] awesomebob opened #4064 "Question: GraphQL fragments on WordPress ACF Flexible Content fields"
I'm having some difficulty querying for my Flexible Content data with GraphQL.

I've been using the recommended [inline fragments](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress/#query-with-acf-flexible-content) and everything has been working fine until just yesterday.
Now Gatsby is generating GraphQL Union nodes that differ from one build to the next.

My Flexibl

[2018-02-15 23:31] pieh commented on #4064
Hmm, we probably could make it to stay somewhat consistent by sorting types before joining them but this still would not be bullet proof (i.e. if you would never use one of your layouts name would change again). This is definitely problematic, I will prepare PR with bandaid solution, but long term solution is so either user or source plugin could declare schema types.

[2018-02-16 00:03] LuigiBaute opened #4065 "hello I would like to contribute to your project by serving as a translator to Spanish which is my native language I can translate the file README and CONTRUBUTING since I have to translate a thousand words or more"
## Description

Describe the issue or the enhancement that you want to see.

### Environment

Gatsby version:
Node.js version:
Operating System:

### File contents (if changed):

`gatsby-config.js`:
`package.json`:
`gatsby-node.js`:
`gatsby-browser.js`:
`gatsby-ssr.js`:

### Actual result

What happened.

### Expected behavior

What should happen?

### Steps to reproduce

1\.

2\.

3\.

...

[2018-02-16 00:25] benedfit commented on #4055
I have managed to speed up sourceNodes no end by parallelizing my fetches. I now need to dig into the node creation further to find the bottle necks

[2018-02-16 00:59] fpoumian opened #4067 "Uncaught TypeError: t.replace is not a function (A page wasn't found for "[object Object]")"
## Description

I'm getting the following browser error on a production site generated by Gatsby.

[code]

The error doesn't show up when the page first loads, but it does whenever I click on any of the internal links (all of which use Gatsby Link). This in turn causes the site to react way slower when navigating the site. Oddly enough I don't have this problem during development (the Links work a

[2018-02-16 01:03] fpoumian commented on #4065
I'd also be happy to help translate any material to Spanish if needed.

[2018-02-16 01:46] jquense opened #4069 "[v2] outstanding small issues"
Just documenting stuff as i'm noticing it and trying to get stuff working so I don't forget.

- `babelrc.js` support isn't right
  - gatsby mutates the babelrc, which isn't a problem for json, but a big deal for `.js` since the plugins keep getting added over time (need to clone it)
  - Something weird is happening with 'cacheDirectory' i think related to the mutation

[2018-02-16 03:15] Graham42 commented on #3746
Using nonce for CSP requires a server to generate the nonce for _every request_.

From: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src

Also, code can be injected without needing to touch the server. XSS attack as follows
1. Our Gatsby site depends on a SuperGreatFont from greatfonts.example.com
2. greatfonts.example.com gets comprimised and starts ser

[2018-02-16 03:27] Graham42 commented on #3427
I can take a look at working on this unless someone else already is?

[2018-02-16 03:34] KyleAMathews commented on #4027
@jquense let's do it for v2

[2018-02-16 03:35] KyleAMathews opened #4070 "Convert panic (and any console.log) errors to `panicOnBuild` if the error should stop a build from succeeding"
/cc @jquense

[2018-02-16 03:38] robwierzbowski commented on #1990
Should Webpack be listed as a peer dep? Working on an existing project using Gatsby, and seeing that webpack is available in gatsby-node, although it's not in the projects devDeps.

[2018-02-16 05:03] Jaikant opened #4071 "Error while build netlify cms plugin"
I am getting the below error while building the netlify cms plugin.

This was working a couple of weeks back. Not sure what went wrong.

@erquhart could you help / point me in the right direction?

[code]

[2018-02-16 05:42] Nottt opened #4072 "Every cli command fail after brand new installation"
## Description

npm install --global gatsby-cli
### Environment

Gatsby version: Unable to tell since I can't run any gatsby command
Node.js version: v4.2.6
Operating System: Ubuntu 16.04 Desktop

### Actual result
[code]
### Expected behavior

Based on docs, I expected to exit fine and display something on my local port 8000?

### Steps to reproduce

1\. npm install --global gatsby-cli

2\. gatsb

[2018-02-16 05:44] KyleAMathews commented on #4072
Try upgrading to node 6. We don't support node 4 (in practice I guess) any more.

[2018-02-16 05:44] KyleAMathews commented on #4072
Or better, node 8

[2018-02-16 05:56] nickmccurdy commented on #4072
6 should be fine, it's the first LTS that supports object spread

[2018-02-16 06:32] Nottt commented on #4072
Sorry for my newbieness I just assumed the default apt get node is fine.
Thanks

[2018-02-16 07:20] thomasheimstad commented on #3129
@pieh Brilliant, thank you! Can confirm, your code works great. Updated the query to something like this:
[code]

[2018-02-16 07:39] zionis137 commented on #3427
@Graham42 That would be great.

I did not work more on it, only the very basic concept-proof: https://github.com/gatsbyjs/gatsby/compare/master...zionis137:topics/csp

[2018-02-16 07:39] nickmccurdy commented on #4072
It depends on the distribution, unfortunately Debian and Ubuntu based distributions tend to have fairly out of date packages. You can use `node --version` to see what you have installed, and if your distribution doesn't offer a more recent version of Node, I recommend https://github.com/creationix/nvm.

[2018-02-16 09:38] smakosh commented on #1199
Okey I managed to get a response, will work on the plugin tonight!

[2018-02-16 10:20] m-allanson commented on #4067
Can you recreate the issue on a local build of the site? e.g. if you do `gatsby build` and then `gatsby serve`.

[2018-02-16 10:44] pieh commented on #4064
Just letting You know PR with fix is opened if You want to track it - https://github.com/gatsbyjs/gatsby/pull/4074

[2018-02-16 11:02] benedfit commented on #4055
So `createNodes` is my next adventure. For one particular type of node, I'm creating 12500+ nodes. This appears to be what's slowing things down so much, and is what's affecting the schema building/updating

[2018-02-16 11:17] m-allanson commented on #4065
Great! Maybe the best thing to do is create a new repo with the translated README and CONTRIBUTING files in it, then we can link to them from here?

[2018-02-16 12:23] m-allanson commented on #4071
@Jaikant there's a pending fix for this, see #4046.

[2018-02-16 14:00] tulikavijay commented on #4053
I would like to help on this!

[2018-02-16 14:54] LuigiBaute commented on #4065
ok i'll start working on it.

[2018-02-16 15:07] trickydisco78 commented on #2168
I've just stumbled across this as i'm trying to create a navigation component that is referenced in the layout and i can't get this to work. Wondering about how fragment works. Is there any examples?

[2018-02-16 15:22] pieh commented on #2168
@trickydisco78 https://www.gatsbyjs.org/docs/querying-with-graphql/#fragments

[2018-02-16 15:23] jmcmullen commented on #3710
[code]

[2018-02-16 15:36] jmcmullen opened #4077 "Cannot find fragment `GatsbyImageSharpSizes`. Please make sure the fragment exists in ``."
## Description

I am trying to use the gatsby-image plugin but for some reason can't find the fragment when including the graphql query. I am using the Netlify starter template:
https://github.com/AustinGreen/gatsby-starter-netlify-cms

### Environment

Gatsby version: 1.9.63
Node.js version: 8.9.1
Operating System: macOS High Sierra

### File contents:

[code]

[code]

### Error

[code]

[2018-02-16 15:52] CrowsVeldt opened #4078 "Is lodash really necessary in 'Creating tags pages for blog posts'?"
I added a tags page to my site following [Creating tags pages for blog posts](https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/) and I'm wondering about the use of lodash. I am still new at programming so there may be a reason it is necessary that I'm unaware of, but if that is the case wouldn't be better to mention it in the article?

I removed it from my site, just to make

[2018-02-16 15:53] jmcmullen commented on #4077
Wow it must be time for bed... I fixed this doing `yarn add gatsby-image`  😂

[2018-02-16 15:53] #4077 closed

[2018-02-16 16:00] tsriram commented on #3561
@KyleAMathews sounds okay to add a new prop `imgStyle` which can be spread into `img` element?

[2018-02-16 16:02] TuckerWhitehouse commented on #2641
Would it make sense to close this issue & track progress on the [Gatsby v2 Release](https://github.com/gatsbyjs/gatsby/projects/2) project?

It looks like the following tasks are merged into the v2 branch but are not checked off above:
- Babel 7 (#3492) [pr: #3785]
(I think this also cleaned up the presets, which closes #1665)
- switch to uuids (#1853) [pr: #3683]
- deprecate `pathContext` for `pa

[2018-02-16 16:12] tsriram commented on #4078
No, lodash is not necessary. It's a utility library which makes a lot of things simple. In this case, your code should just work fine without lodash (unless I'm overseeing something).

Perhaps you need some error handling I guess, say if a `node` doesn't have (not sure if it could be a case though) `frontmatter`, you'll have handle that.

[2018-02-16 16:12] m-allanson commented on #4078
@CrowsVeldt It's a good question! I don't think lodash is absolutely necessary in this case. However it's _slightly_ safer than the no lodash (nodash?) example.  The `get()` function can protect you against errors from unusual data.

e.g. if your edge has no frontmatter at all:
[code]

Generally I agree we should be keeping things as 'standard' as possible, particularly in the docs. What do other

[2018-02-16 16:23] fk commented on #4053
That's great @tulikavijay, thanks for helping out!

[2018-02-16 16:44] fpoumian commented on #4067
Hi @m-allanson ,
Yes, unfortunately, I'm having the exact same issue with a local build. I have also tried disabling some Gatsby plugins which I hadn't used on other sites before, but the result is always the same. Any idea of what the underlying problem might be?

[2018-02-16 16:53] tulikavijay commented on #4053
Am i supposed to add this bit of code [#3052](https://github.com/gatsbyjs/gatsby/issues/3052#issuecomment-347550506) in the example?

[2018-02-16 16:56] m-allanson commented on #4067
Hmm. As a baseline try deleting your `node_modules`, `.cache` and `public` directories, then reinstall and rebuild.

Your error is coming from [`loader.js`](https://github.com/gatsbyjs/gatsby/blob/2ce6c5ce3ea0431384f2a3115f7f4a47eaeeb5b8/packages/gatsby/cache-dir/loader.js#L318), if you're comfortable digging in to the code you could [set up `gatsby-dev-cli`](https://www.gatsbyjs.org/docs/how-to-c

[2018-02-16 17:04] CrowsVeldt commented on #4078
That makes sense, thanks!

I think it stands out in particular because the rest of the docs don't use lodash, and then it's used here without an explanation as to what value it provides.

I also think keeping the docs standard is good. I think at least there should be a note along the lines of:

I could try to make a PR to that effect. What do you think?

[2018-02-16 17:18] #4064 closed

[2018-02-16 17:25] rockchalkwushock opened #4081 "Add source code links to documentation on webstie."
## Description

Add generation of source code links to API documentation for the project.

### Example

[code]

## createNodeId [(source)](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/create-node-id.js#L5)

[2018-02-16 17:54] KyleAMathews commented on #3710
@jmcmullen sounds like you don't have gatsby-plugin-sharp installed? Both it and gatsby-transformer-sharp and gatsby-source-filesystem must be installed and in your gatsby-config.js

[2018-02-16 17:56] KyleAMathews commented on #3561
@tsriram yeah, that'd be great!

[2018-02-16 17:58] KyleAMathews commented on #2641
@TuckerWhitehouse it's nice to have this open for questions and updates. Updated the checkboxes above. I'll add a link at the top of the issue to point to the project cause yeah, that's where things are being managed.

[2018-02-16 18:04] KyleAMathews commented on #4078
Hmm yeah — if we're using lodash, we should show importing individual functions. Importing the whole library adds quite a bit of weight. And if we can easily avoid it we should.

[2018-02-16 18:05] KyleAMathews commented on #4067
I wonder if it's related to this? https://github.com/gatsbyjs/gatsby/pull/3407

[2018-02-16 18:16] busticated commented on #1654
@dougwt i know this is likely ancient history at this point but i'm running into the same issue (needing to alias a module in both webpack & babel within gatsby) and i'm curious if you ever found a solution?

[2018-02-16 18:18] KyleAMathews commented on #4038
:-( didn't realize this was happening. Yeah, this is very wrong.

Perhaps I don't really understand what the tableOfContents is doing — why does it need to construct the full URL? Shouldn't it just do a relative link since it's all on the same page?

[2018-02-16 18:20] lourd commented on #4038
That's what I thought. I found this PR (https://github.com/gatsbyjs/gatsby/pull/2856) about a special case that added the full URLs by default. I'm planning on adding an option to the plugin to specify whether or not you want to use full URL vs a relative hashes.

[2018-02-16 18:33] KyleAMathews commented on #4038
@lourd yeah... ok — yeah slug shouldn't have been hard coded. Make it a full URL should be optional and if you select that, you should have to include a function which pulls the path off the MarkdownRemark node.

@Swizec how's that sound?

[2018-02-16 18:36] #4044 closed

[2018-02-16 18:38] KyleAMathews commented on #4047
👍

[2018-02-16 18:39] KyleAMathews commented on #4047
Added you as a collaborator so you can assign stuff to yourself directly :-)

[2018-02-16 18:45] smakosh commented on #1199
Done: https://www.npmjs.com/package/gatsby-source-dribbble

[2018-02-16 18:57] KyleAMathews commented on #1199
@smakosh nice! Want to add it to list of community plugins? https://www.gatsbyjs.org/docs/plugins/#community-plugins

[2018-02-16 18:58] smakosh commented on #1199
Just opened a PR https://github.com/gatsbyjs/gatsby/pull/4086

[2018-02-16 19:17] m-allanson commented on #4052
Done in #4060 🎉

[2018-02-16 19:17] #4052 closed

[2018-02-16 19:31] ryantuck commented on #2410
seems like it would help to have this as an arg to pass in, kind of like how docker does it:

[code]

[2018-02-16 19:40] m-allanson commented on #993
@loganpowell There's a new Gatsby-Docker tool that might be useful - see #4085

[2018-02-16 19:52] sant123 commented on #1769
With gatsby version 1.9.200 in Windows 10. It doesn't work.

![image](https://user-images.githubusercontent.com/7959437/36326432-09dc4266-1329-11e8-8d33-65740813de11.png)

[2018-02-16 20:01] busticated opened #4089 "webpack alias does not work in develop mode..."
i'm trying to use a module which presents the same API across browser and server / node.js contexts but uses different implementations for each and i'm hitting a weird issue.

i have a dependency that uses the browser field in package.json (info: https://github.com/defunctzombie/package-browser-field-spec) - when running `gatsby build` (or `develop`) it appears this setting is ignored (perhaps a w

[2018-02-16 20:15] jquense commented on #4089
Your error looks more like a babel-loader error than a problem with the alias. Maybe it can't compile it?

[2018-02-16 20:48] busticated commented on #4089
@jquense thanks for taking a look 👍

agree that it looks babel-related. #1654 mentions [babel-plugin-webpack-alias](https://github.com/trayio/babel-plugin-webpack-alias) which seems promising but i'm not sure how to point it at the underlying webpack.config.js file (or more broadly, how to properly wire it up).

[2018-02-16 21:09] jquense commented on #4089
To clarify i think your error is unrelated to aliases in general. Normal webpack `alias`, do work with gatsby (use them all the time) and the setup isn't special, is just like you are doing. I'm curious why you think the problem is the alias and not something related to the file itself

[2018-02-16 21:11] busticated commented on #4089
hm. if it's a problem with the underlying module / file, why would it work under `gatsby build` but not `develop`?

[2018-02-16 21:13] almorgan commented on #3401
Hey @jbsmith731

[code]

I think it should be something like that. The nested filter seems to work for querying the author object but when I run this for categories I end up with:

`"message": "innerGqConfig.type.getFields is not a function",`

Not sure if I'm missing something or if it's an issue.

[2018-02-16 21:14] jquense commented on #4089
IT might be related to dev only babel plugins...like react-hot-loader. That it works under `build` would lead me to think it's definately not a webpack config issue. I wish the error was more descriptive, i think some info is getting removed by the pretty formatter

[2018-02-16 21:20] m-allanson commented on #4007
Done in #4054, thanks @ajayns 🎉

[2018-02-16 21:20] #4007 closed

[2018-02-16 21:24] busticated commented on #4089
i got the impression from #1654 that babel does not participate in webpack's aliasing (iow, babel isn't aware of the substituted module). you've run successfully w/ an aliased module / path. did you need to adjust babel configs at all?

is there a way to disable the pretty formatter so i can see more of the error? i tried dropping `console` statements into [develop-html](https://github.com/gatsbyj

[2018-02-16 21:32] jquense commented on #4089
That is correct, what i'm trying to suggest is that the webpack alias has no bearing on your error, especially if it works when building, because the _same_ webpack config is used then so the alias works fine there. I still unsure sure why you think the problem is related to that the error doesn't indicate anything other than an issue compiling a file

[2018-02-16 21:43] busticated commented on #4089
well, the error is `WebpackError`, it only fails when running `gatsby develop`, and i'm only adjusting the `alias` setting so 🤷‍♂️ . perhaps the issue title could be refined given our findings (happy to do that if you have suggestions).

in the meantime, any tips on further debugging would be very much appreciated :pray: - thanks again for the help :+1:

[2018-02-16 22:08] m-allanson opened #4093 "[www] gatsby develop error"
## Description

Editing a markdown file can cause the site to error while `gatsby develop` is running.

### Environment

Gatsby version: from `master`
Node.js version: 9.5.0
Operating System: macOS

### File contents (if changed):

see https://github.com/gatsbyjs/gatsby/tree/c246262d10830eda09135ff5f8a3ee64883757ce/www

### Actual result

Page displays an error:

<img width="653" alt="screen shot

[2018-02-16 23:10] cwgw opened #4095 "[gatsby-transformer-javascript-frontmatter] Only create nodes from files that actually export frontmatter"
Since we've switched from [gatsby-transformer-javascript-static-exports] to [gatsby-transformer-javascript-frontmatter], and limited the focus of the plugin to frontmatter in javascript files (as described by @jbolda in [#3795](https://github.com/gatsbyjs/gatsby/issues/3795#issuecomment-362829915)), I'd like to suggest that the plugin only create nodes from javascript files that actually export fr

[2018-02-16 23:21] KyleAMathews commented on #4095
Great idea!

You might very well be able to create a PR though :-) It'd just be adding an `if` check on the result of looking of looking for frontmatter.

[2018-02-16 23:27] cwgw commented on #4095
Well, okay. I'll give it a shot. I appreciate the confidence.

[2018-02-16 23:54] jbolda commented on #4095
Makes sense to me 👍

Thanks for the initiative!

[2018-02-17 00:03] fk commented on #4093
Saw this too just now.

[2018-02-17 00:19] fk opened #4096 "[gatsby-transformer-remark] Third level nested unordered list items render as second level"
Just noticed that in the latest blog post https://www.gatsbyjs.org/blog/2018-2-16-how-to-build-a-website-with-react/ this rendered fine when indented with four spaces ([like @shannonbux initially did](https://github.com/gatsbyjs/gatsby/commit/f949ea6ce50055a2b53e32a51d937d8f00a33857))

[code]

![image](https://user-images.githubusercontent.com/21834/36335431-3c45bece-1380-11e8-98fc-3705f93db01f.pn

[2018-02-17 00:21] busticated commented on #4089
some more info: i'm using a babel plugin to improve the dev UX of styled-components.

[code]

the code above mirrors the extension pattern found [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-styled-jsx/src/gatsby-node.js)

when i remove this plugin, `gatsby develop` works fine.

adding logging [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/

[2018-02-17 05:16] mccrodp commented on #2674
I was getting this just now also, I had ran:
[code]
[code]
So I ran: `npm install npm@latest -g` to get npm v `5.6.0`, deleted `node_modules`, re-ran `npm install` and then `gatsby develop` and....just stopped. Still getting the error :(

[2018-02-17 05:25] gantzy opened #4099 "Consider auto-injecting .env.* variables into the node.js process like we do in the browser environment"
First contribution to an open source project so my apologies if this isn't in the proper format.

## Description

When using gatsby-node.js to createPage with templates using a graphql queries, the queries will fail if process.env is referenced from the .env.* files. If you hard code the variables instead, the graphql queries will execute.

For reference, I was generating a way to build out pagina

[2018-02-17 05:28] mccrodp commented on #2674
🤕 🌴 In my case it was path to my `gatsby-config.js` that was wrong, make sure it is in the root and not `/src/` dir as it was in my case. You see this error when it's in the wrong dir, thanks Kyle!

[2018-02-17 06:13] nickmccurdy commented on #4099
I believe this is intentional:

https://www.gatsbyjs.org/docs/environment-variables/

[2018-02-17 06:34] KyleAMathews opened #4102 "[gatsby-source-filesystem] Speed up initial scan of file system by first checking if files' last modified time is different before calculating a new contentDigest"
Calculating the md5 hash of a file's contents is expensive. We can do a much faster initial check on subsequent runs by checking if the mtime of a file has changed since the last time Gatsby ran. If it hasn't, we can skip the more expensive md5 generation.

[2018-02-17 06:40] Jaikant commented on #4071
Closing as it is a duplicate! Sorry about that.

https://github.com/gatsbyjs/gatsby/issues/4031

[2018-02-17 07:00] gantzy commented on #4099
Yes I've used environment variables before in a gatsby project. I may have stated my issue poorly. Basically, not using the environment variables lets me use createPages in the gatsby-node.js file via a template that uses a graphql query for data. The instant I start referencing `process.env.{insert_env_var_here}`, gatsby will start throwing warnings and skip creating those pages.

Seems odd to me

[2018-02-17 07:16] nickmccurdy commented on #4099
The body of your for loop never runs because the environment variable is missing.

[code]

[2018-02-17 07:34] gantzy commented on #4099
Appreciate the help, even if it ended up being a duh moment. That's what i get for staying up too late. Closing issue.

Maybe food for thought, even though its in the docs, it might be a good QoL change to auto check if those files exist, especially since they are specified in the docs. In reality those files could be whatever you wanted. But I imagine its just to reduce bloat and only an if neces

[2018-02-17 07:49] #4071 closed

[2018-02-17 07:56] m-allanson commented on #4102
I just had a thought - should we start marking feature enhancements like this as 'after version 2'? In an attempt to keep v2 momentum going, and hopefully reduce those enourmous `master into v2` merges.

[2018-02-17 07:57] Jaikant commented on #4031
@pogo19 Using the work around the `gatsby develop` and `gatsby build` works fine. Thanks!

Unfortunately the cms is still broken on going back. Uploading media files or submit fails. An image file upload fails with the below error ...

[code]

[2018-02-17 10:18] smakosh commented on #1199
Starter kit: https://github.com/smakosh/gatsby-source-dribbble-example

[2018-02-17 10:21] stefanwille opened #4103 "TypeError: Cannot read property 'frontmatter' of null"
## Description

### Environment

Gatsby version: 1.9.158
Node.js version: 8.9.3
Operating System: MacOS X

### File contents (if changed):

`gatsby-config.js`:
      resolve: `gatsby-transformer-remark`,

`package.json`:

  "dependencies": {
    "gatsby": "^1.9.158",
    "gatsby-link": "^1.6.34",
    "gatsby-plugin-canonical-urls": "^1.0.12",
    "gatsby-plugin-react-helmet": "^2.0.3",
    "gatsby

[2018-02-17 10:30] jquintozamora opened #4104 "Include html file as a react component / iframe"
I'm using **Gatsbyjs** (latest version) to create a demo site.
On my demo site I have two solutions, one is React App and the second one is HTML app (**pure html**).
I'd like to use gatsby as a Static Site Generator for both solutions.
I'm **not able to import an HTML file** within react. Basically, this is what i am trying to do:

[code]

Any help / guidance will be appreciated.

[2018-02-17 13:10] alliuca commented on #1086
@kennethormandy still have the same issue with gatsby 1.9.158, but your workaround works fine

[2018-02-17 13:39] discordianfish opened #4107 "Handle errors in frontmatter"
## Description

Maybe I'm doing something wrong, but it seems gatsby doesn't warn/error on syntax errors in frontmatter sections.

### Environment

Gatsby version: 1.9.166

### Actual result
Pages with syntax errors in frontmatter section get siliently ignored.

### Expected behavior

Gatsby should error out or at least warn about this.

[2018-02-17 13:42] rockchalkwushock commented on #4081
@m-allanson

Yesterday I spoke with @KyleAMathews about this and using the AST to achieve the goal of this issue. He referenced your PR #4057 and I understand the `resolve-module-exports` code. I'm not understanding though where exactly to integrate something similar in the `gatsby` build process. It would have to be after the page is built I would think; unless it's possible to stream the AST whi

[2018-02-17 14:24] vojtechruz commented on #1199
Hi, any plans to add support for asciidoc? :)

[2018-02-17 14:53] benedictdudel opened #4109 "Watch not triggering build when file changed inside Docker"
## Description

I created a minimal Dockerfile for developing a Gatsby page. Unfortunately changes in files do not trigger a rebuild inside a Docker container. See below for the minimal Dockerfile.

While debugging the problem I have noticed that the container and host both got a different timezone. So files in the container have a different timestamp:

Container:
`-rw-r--r-- 1 node staff 245 Feb

[2018-02-17 15:42] LucaT1 commented on #560
This should be reopened with the release of Inferno `v4`. They now fully support the React API and the React Router scheme: https://github.com/infernojs/inferno/releases/tag/v4.0.2. The easy way would be to use `inferno-compat`. BUT it would drop any performance benefit if not the filesize. The best way would be to use pluggable babel plugins, but i'm not sure if there's the support for that yet.

[2018-02-17 15:49] LuigiBaute commented on #4065
I'd like to discuss a few terms I saw to be able to give you the best translation, and not just my interpretation of what it means.
per example:
Titles in _italics_ on gatsbyjs are [STUBS] and need contributions
(The word stubs doesn't mean the same in spanish, I'd like to know what other word could I use)

[Triaging] GitHub issues --
The world triaging could be use as urgency? I'd like to get sug

[2018-02-17 16:27] danhounshell opened #4110 "gatsby-plugin-canonical-urls not using the siteUrl option"
## Description

I believe that the latest fix for canonical urls, #3405,  broke the intended functionality. Example: I have the canonical urls plugin configured with siteUrl set to http://danhounshell.com, my primary domain. However when you view the page at https://danhounshell.github.io/blog/tips-for-gatsby-elasticlunr-search-plugin/ you can see that the canonical meta uses the danhounshell.gith

[2018-02-17 16:32] LuigiBaute commented on #4065
When you talk about a website ''dependencies'' it means its configurations?

[2018-02-17 16:53] danhounshell opened #4111 "Request: Enable filtering for non array properties contained in an array"
## Description

This was previously raised in #1645, allowing for filtering for a property in an array using the example:
[code]
@KyleAMathews answered that it is already a feature and showed an example using `tags: { in: [$tag] }`. He is correct, but it only works for properties, like tags, that are arrays. It does not work for properties that are strings. The example above, filtering by id, does

[2018-02-17 17:06] KyleAMathews commented on #4099
Auto check if which files exist? We're always interested in new checks :-)

[2018-02-17 17:07] KyleAMathews commented on #4102
Yeah... good point. Or just tell people to land them on the v2 branch. The merges are rather painful (about to do another one...)

[2018-02-17 17:09] KyleAMathews commented on #4103
I don't know why the lack of a leading slash would cause anything to fail. It's certainly not a requirement. Is your site public? Perhaps we could take a look at it? Sorry for the mysterious error!

[2018-02-17 17:11] KyleAMathews commented on #4104
Try writing `console.log(App)`. The HTML isn't a React component so you won't be able to render it like a React component.

Also, if the HTML file has a head, then that'll cause trouble.

See https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml

[2018-02-17 17:11] #4104 closed

[2018-02-17 17:23] Jaikant commented on #3680
@KyleAMathews @calcsam I was actually trying to run multiple queries within a single component. I guess thats not possible and may be for a good reason. Possibly I was not breaking up my components well. I worked around by running my first query in gatsby-node and then using the context to pass the regex to a template components.

[2018-02-17 17:23] #3680 closed

[2018-02-17 17:38] KyleAMathews commented on #4107
This is where we parse the markdown files and their frontmatter https://github.com/gatsbyjs/gatsby/blob/77794d2916c927316b3c3ae55a0d4c1d8de88e3e/packages/gatsby-transformer-remark/src/on-node-create.js#L20

Could you investigate if graymatter does expose errors and if so, make a PR sending those to the console?

[2018-02-17 17:44] gantzy commented on #4099
@KyleAMathews The .env.development, .env.production files. They seem to inject automatically for React/Webpack using the GATSBY_* flag. But are ignored completely, as far as i can tell, with regards to the node scripts without the use of dotenv.

Even though its specified in the docs thats how you have to do it, its a wierd user experience to have some things magically work and some things in the

[2018-02-17 17:45] KyleAMathews commented on #4081
Oh it just occurred to me that https://www.npmjs.com/package/gatsby-transformer-documentationjs might already be exposing the line numbers for functions — first thing to do would be to check what it's outputting by running gatsby develop on gatsbyjs.org (in the www directory) and then try querying JS files and exploring the schema gatsby-transformer-documentationjs creates — see the queries used o

[2018-02-17 17:48] KyleAMathews commented on #4110
Ah good point — could you PR a fix? `siteURL` is optional right so the code in gatsby-browser.js should check if it's available and use it and if not, use what's set on window.location.

[2018-02-17 17:52] KyleAMathews commented on #3680
You can run as many queries as you'd like in a page component. You just might have to use aliases http://graphql.org/learn/queries/#aliases

We don't recommend fetching data for a page in gatsby-node.js other than what's necessary to pass as arguments to pages.

[2018-02-17 17:55] KyleAMathews commented on #4099
Ah, so you're suggesting that we could setup dotenv for you in gatsby-node.js and gatsby-config.js?

[2018-02-17 17:57] KyleAMathews commented on #1199
@vojtechruz I don't anyone has written one yet! Feel free to take it on and contribute it back to the community!

[2018-02-17 18:12] benjamingeorge opened #4113 "React and ReactDom Version? (createPortal error)"
how do I find out which version of ReactDom Gatsby is using ?  I get errors when trying to use `createPortal` or `<Fragment>`. Is there a way to update React to a later version ?
[code]

I'm using Gatsby version 1.9.201

[2018-02-17 18:13] #2674 closed

[2018-02-17 18:14] gantzy commented on #4099
Essentially. It’s more of a user experience thing than anything else since
certain vars get auto injected but not all vars.

On Sat, Feb 17, 2018 at 12:55 PM Kyle Mathews <notifications@github.com>
wrote:

[2018-02-17 18:14] KyleAMathews commented on #2674
I added this PR https://github.com/gatsbyjs/gatsby/pull/4101 that checks if your gatsby-config.js is in the src directory and politely tells you to move it to the correct place :-) hopefully that helps people in the future who make this very understandable mistake!

[2018-02-17 18:15] KyleAMathews commented on #4113
Gatsby v1 is on React 15. You can install gatsby-plugin-react-next to use React 16. V2 (coming soon!) will use React 16 by default.

[2018-02-17 18:15] #4113 closed

[2018-02-17 18:17] KyleAMathews commented on #4099
Yeah, this makes sense. Let's see if anyone else has thoughts on it. I think I'd support a PR adding this.

[2018-02-17 18:47] rockchalkwushock commented on #4081
@KyleAMatthews

I think I understand. Will be easier to do so when I’m back in front of my computer to start digging around. Hopefully I can get back to work on it tonight. Thank you for the guidance.

[2018-02-17 19:06] KyleAMathews commented on #4081
Thanks for jumping on this! It'll be sweet once it's going. Keep asking questions if you get stuck at all!

[2018-02-17 19:49] anjawaldbauer commented on #4016
I might be mistake here, but I think the use of `contentful_id` is limited to the case where you only have one locale. When you use the `contentful_id` on a localized node, i.e. where the `id` ends in `__de` (for the `de` localization) you will retrieve the default - e.g. English - node instead of the German (`de`) node.

[2018-02-17 23:56] pogo19 commented on #4031
@Jaikant If you think it is an error in Netlify CMS, please report the issue in Netlify CMS Github.

[2018-02-18 02:22] Swizec commented on #4038
I like the idea of adding an option to enable full URLs. Didn't realize my PR would break things like that.

The original reason I added that was so you can print the tableOfContents on pages other than the page itself. Like on an index for your entire site. Useful for books/workshops/docs where it's convenient to have a full index on the frontpage.

I think at some point I forgot that a `slug` is

[2018-02-18 02:26] subsid opened #4115 "github pages 404 error on static files first time"
I am new to gatsby and facing an issue with loading static html files.

I have a component called `notes.js` that links to some static files like so

[code]

The file is saved at `static/notes/note1.html`.
This works fine in development, `http://localhost:8000/notes/note1.html` opens as expected when I click on the link.
But when I deploy the same, the first time I click on the link, it goes to gi

[2018-02-18 04:42] nickmccurdy commented on #4099
I'm 👍 for including dotenv in Gatsby scripts. 😄 Would feel more consistent and convenient.

[2018-02-18 06:55] Jaikant commented on #4034
@KyleAMathews I would have to disagree with you on that.

I wish the html img tag was as rich as gatsby-image. Yes there is nothing special, which is more the reason that such a component should be generically available so anyone can integrate into their apps.

The image processing part would have to be separated, just like the way it is done in gatsby, with the data layer handling the image proce

[2018-02-18 07:20] KyleAMathews commented on #4034
There's nothing stopping anyone from using it :-) It's an `npm install --save gatsby-image` away

[2018-02-18 07:26] tsriram commented on #1975
@pwener are you working on this? If not, I'll give it a try.

[2018-02-18 07:43] vojtechruz commented on #1199
Sure, I'll be happy to :)

[2018-02-18 09:16] stefanwille commented on #4103
My code is not public, but I will create new site and reproduce the issue there.

[2018-02-18 11:58] rockchalkwushock commented on #4081
@KyleAMathews

Looks like [here](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-documentationjs/src/gatsby-node.js#L111) we are removing the line number through the transformer.

[2018-02-18 13:23] chmac commented on #2277
This would be really helpful for pagination. For example, I have ~2k blog posts, I'm showing 15 per page. Being able to query for an array of post IDs would be helpful in the `pageQuery`.

[2018-02-18 14:37] rockchalkwushock commented on #4081
## Update

Right now this is what I have and I'm a little perplexed as to why I get a whole lot more than one `console.log()`:

[code]

The output in my terminal is:

[code]

I feel like I'm headed in the right direction for getting the line numbers. I'm just about there and then can tweak the code to work with the other documents and create the new node field. I will unfortunately be out the rest

[2018-02-18 15:13] jiahaog opened #4119 "Possible to create markdown anchors that jump to a position on the page when clicked?"
## Description

Hi, is there some way to create anchor markdown elements which jumps to a specific position on the page?

[code]

### Expected behavior

I would like clicking the `Jump to Content` link to scroll the `# Content` heading into the page. I would also like navigating to the https://my-site-url/page-path/#content to automatically scroll the element into the page!

I've tried out the sam

[2018-02-18 15:16] mpolinowski commented on #4119
There is already a plugin to link headers:

https://www.gatsbyjs.org/packages/gatsby-remark-autolink-headers/

I use it together with the Markdown TOC plugin in VS Code

[2018-02-18 15:35] chmac commented on #1634
@KyleAMathews How does one combine a query on `allFile` with a sort on frontmatter? Is that possible?

[2018-02-18 15:45] chmac opened #4120 "document helper functions passed to gatsby-node APIs"
## Description

I have a collection of markdown files that I'd like to become blog posts. In the course of trying to figure out how to filter by folder, I came across `getNode()` in various code samples, but I can't find anything about it the docs. ~~It seems to be a part of the `boundActionCreators` inside `onCreateNode`, but I'm not 100% sure of that.~~

Can we add it to the docs? I'm happy to h

[2018-02-18 16:22] brainwipe opened #4121 "gatsby new fails with starter: node-gyp rebuild fails"
## Description

When running gatsby new on the [gatsby-material-starter](https://github.com/Vagr9K/gatsby-material-starter), sharp fails.

### Environment

Gatsby version: 1.1.40
Node.js version: 9.5.0
Operating System: Ubuntu 16.04.2 xenial LTS running as admin rights on the Windows Subsystem. x64 with node running as x64.

### Actual result

[code]

Note, I did manage to get a gatsby new site (e

[2018-02-18 16:28] jiahaog commented on #4119
Ah great, I didn't know this. Thanks a lot @mpolinowski !

[2018-02-18 16:28] #4119 closed

[2018-02-18 17:36] brainwipe commented on #4121
Hang on! Please don't spend any time on this issue just yet; I don't have g++ installed. Let me work out of for now; understand why and I'll update this thread and docs (better specification in pre-requisites I imagine).

[2018-02-18 22:59] ryandeussing commented on #3956
Shannon thanks for this request, I think it's a great idea to showcase in a tutorial the sort of app-like features that are possible when building with Gatsby, as well as to make evident the sort of app experiences or functionality for which Gatsby may not be the ideal tool.

Unless this idea falls in the latter category, perhaps a Gatsby tutorial could take the canonical [HN clone](https://hnpwa.

[2018-02-19 01:28] dajocarter opened #4123 "GraphQL Error Field "image" must not have a selection since type "String" has no subfields."
## Description

I've been getting this error everytime I deploy to Netlify and most times in development. The only way I seem to be able to get around it in development is to delete node_modules and `yarn install`, and even this doesn't work every time. If I do get around it in development and I stop `gatsby develop`, the next time I run it, it comes back and I have to repeatedly delete node_modul

[2018-02-19 01:38] samanthaming commented on #3570
Adding the `YARN_VERSION` = `1.4.0` to the Build environment variables worked for me. Thanks @lourd  👏 👏 👏

[2018-02-19 04:49] adam-kuhn commented on #4111
I'm willing to give this a try

[2018-02-19 05:02] lightstrike opened #4125 "ENAMETOOLONG: name too long for long headers / slugs"
## Description

I'm experimenting with Gatsby & Wordpress (really cool stuff), when running `gatsby build` I hit this error:

[code]

What drives the file naming here?

### Environment

Gatsby version: 1.1.40
Node.js version: 8.9.4
Operating System: Linux Mint 18.3

### File contents (if changed):

`gatsby-config.js`:
[code]
`package.json`:
[code]

`gatsby-node.js`:
[code]

[2018-02-19 06:29] caki0915 commented on #1079
If anyone looking complete example that's using Redux and Redux-Devtools together with CSS-in-JS;
I put together a startersite: [Gatsby-starter-redux](https://github.com/caki0915/gatsby-starter-redux)
[Demo here](https://caki0915.github.io/gatsby-starter-redux/).
Hope it can be useful!

[2018-02-19 06:38] JheeBz opened #4126 "ERR_EMPTY_RESPONSE when accessing dev site on host OS with vagrant"
## Description

Using a Vagrant Ubuntu 16.04 virtual machine on Windows 10 I'm unable to access the site on a forwarded port.

### Environment

Gatsby version: 1.9.158
Node.js version: v8.9.4
Operating System:
- Guest OS (VM): Ubuntu 16.04.3 LTS
- Host OS: Windows 10 64-bit build 1709

### File contents (if changed):

`gatsby-config.js`: not changed
`package.json`: not changed
`gatsby-node.js`: no

[2018-02-19 07:23] #4121 closed

[2018-02-19 09:02] pieh commented on #4111
@adam-kuhn couple hints if You want to implement this:

Here we add operators to filters in schema:
- https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer-graphql-input-fields.js#L30-L56 ( here we infer from data )
- https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer-graphql-input-fields-from-fields.js#L84-L107 (here we infer from custom grap

[2018-02-19 09:07] pieh commented on #4123
Check for case differences in filenames: f.e. `image: "./some-image.jpg"` vs `image: "./some-image.JPG"`

[2018-02-19 10:45] ralphstodomingo commented on #487
I'm encountering a problem with `smooth-anchorate`: that library is fine, the problem is that, on hash location changes, my page rerenders.
Any updates on this? If none, any hints on where I can tackle this in the codebase?

[2018-02-19 10:48] stevenandersonz commented on #4009
Is this issue already taken? I would like to work on it.

[2018-02-19 10:59] fk commented on #4009
Hi @stevenandersonz! Thank you for offering help! 🤗
@tulikavijay resolved this issue in #4019, we just didn't follow up closing it—will do so now.

However if you find anything to add or improve, please don't hesitate opening a new issue and/or adding a pull request. Help with documentation is always super appreciated!

[2018-02-19 10:59] #4009 closed

[2018-02-19 11:09] m-allanson commented on #4109
@aripalo recently added a Gatsby Dockerfile at https://github.com/aripalo/gatsby-docker/. What happens if you try your site with that Docker image, do you see the same issue?

[2018-02-19 11:25] m-allanson commented on #560
@LucaT1 Maybe this could be a plugin like [`gatsby-plugin-react-next`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-react-next)?

[2018-02-19 11:56] deltaskelta commented on #3853
@monsieurnebo I have been playing around with your solution and it seems that you still need javascript to load the locales from the json files is that correct? On top of that it seems that all the components that are wrapped with the `react-i18next` HOC need javascript to render anything in the component...

Can you confirm if this is how it is working on your end?

[2018-02-19 12:27] peduarte commented on #4115
What error are you getting?

Is it like this?
![image](https://user-images.githubusercontent.com/372831/36377770-334dcedc-1570-11e8-8271-232efed5032a.png)

Think I'm getting the same one.

[2018-02-19 12:35] m-allanson commented on #4115
@peduarte I think your error looks different, could you open a separate issue?

@subsid Changing your `<Link>` components to plain `<a>` tags should fix it:

[code]

I _think_ the `<Link>` component is just for navigating within routes that Gatsby has created, so it doesn't know how to find your static html files.

Note that I get slightly different results using your site - in development mode cl

[2018-02-19 12:38] peduarte commented on #4115
@m-allanson Hey 👋

Thanks for your suggestion, I'm going to give it a try.

I was under the impression `Link` should be used for linking between "Gatsby" Page Components.

In my case I am actually using `NavLink` (from `gatsby-link`) in order to apply a `activeClassName` prop.

Do you think this could be the issue?

[2018-02-19 12:40] m-allanson commented on #4115
@peduarte that suggestion was for @subsid, I don't know if it'll help in your case. Could you create a new GitHub issue explaining the error you're seeing?

[2018-02-19 12:42] peduarte commented on #4115
Sure!

[2018-02-19 12:42] m-allanson commented on #4115
Thanks :)

[2018-02-19 13:36] monsieurnebo commented on #3853
@deltaskelta I will make an example when I have some free time :)

[2018-02-19 13:51] subsid commented on #4115
@m-allanson thanks for looking into it. Changing it to an `a` tag doesn't seem to help.

The error seems like, my gatsby-config is not respecting the link to be a client only route. Actually the page opens, and then github's 404 shows up. (If you hit back on the 404 page, it goes to the notes file). Also, if I open a link manually in a new tab, it works fine. https://subsid.github.io/notes/probabi

[2018-02-19 14:10] dajocarter commented on #4123
There are no case differences. The only differences are in file type, `image: "./some-image.png"` vs `image: "./some-image.jpg"`, and empty fields in some of my drafts, `image: ""`.

[2018-02-19 14:22] subsid commented on #4115
I was able to recreate the issue you had locally. The first time I cloned the repo, started server and clicked the link, I got the gatsby-404 page. But on subsequent clicks, it works fine.

But if I delete `/public` and start the server, it again goes to gatsby-404 the first time. Something to do with the file being cached? It's the same behavior on github pages as well. I suspect my gatsby-config

[2018-02-19 14:57] m-allanson commented on #4081
@rockchalkwushock Can you post a link to your code here? Maybe I can try running it to see what's happening. Although I'm very new to using babylon too, so I might not have any answers :)

[2018-02-19 15:15] deltaskelta commented on #3853
@monsieurnebo can you confirm that your method does not statically render the strings into the html and requires javascript?

[2018-02-19 15:27] m-allanson commented on #4120
@chmac Yes please, 👍 for additional docs.

`getNode` is defined [here](https://github.com/gatsbyjs/gatsby/blob/c6fa2e130f4514713ad371bf431e91bbbc9b910d/packages/gatsby/src/redux/index.js#L75).

There's actually [a bunch of helpers that get passed in](https://github.com/gatsbyjs/gatsby/blob/c6fa2e130f4514713ad371bf431e91bbbc9b910d/packages/gatsby/src/utils/api-runner-node.js#L71-L82) to each `gatsb

[2018-02-19 15:28] rockchalkwushock commented on #4081
@m-allanson

This is the [branch](https://github.com/rockchalkwushock/gatsby/tree/topics/add-source-code-links) with the code. I didn't get time to look at it more last night. Planning on looking at it more at 1300 today. I think I'm close to having the AST part figured out, then it will be a matter of creating the node and updating the link generation to add the source code link.

[2018-02-19 15:30] monsieurnebo commented on #3853
Yup, that's why it's not totally the "static way of life" 😐

[2018-02-19 15:34] pieh commented on #4123
@dajocarter delete fields with empty strings completely and keep fields that actually point to a file - when we construct schema types we check if string does look like a path and empty string does not so we don't transform it to File link

[2018-02-19 15:46] deltaskelta commented on #3853
hmm I see. A static render would be the way I need to go...

I was thinking, since the contexts are already passed with the language name for most of the pages in your `gatsby-node` then it wouldn't be tooo much harder to just ask for they messages keys in the graphql queries for each page and pass them in that way, but I would rather use an i18n tool all the way through if possible...

@szimek ho

[2018-02-19 15:48] m-allanson commented on #4125
I think those paths will be generated based on the content of your WordPress install. Could you try the [`using-wordpress`](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-wordpress) example and see if you get the same error?

[2018-02-19 15:51] m-allanson commented on #4125
Ergh, I just tried the wordpress example site and it gives an error `The server response was "530 Site is frozen" No routes to fetch. Ending.`

[2018-02-19 15:53] m-allanson commented on #4125
@sebastienfi or @KyleAMathews are you able to unfreeze the wordpress example site at https://dashboard.pantheon.io?

[2018-02-19 16:00] mathieuforest commented on #3929
Answer here: https://stackoverflow.com/questions/46495399/striptags-npm-causes-webpack-babel-react-es6-compile-error

[2018-02-19 16:03] m-allanson commented on #487
Could this be done with [`replaceRouterComponent`](https://www.gatsbyjs.org/docs/browser-apis/#replaceRouterComponent)?

[2018-02-19 16:12] m-allanson commented on #4126
Does this work if you set the host to `0.0.0.0`? `npm run develop -H 0.0.0.0 -p 3000`

[2018-02-19 16:15] LucaT1 commented on #560
Not quite. The problem with inferno is that is uses preprocessing to increase performance, and so this dame preprocessing should be appliend to the gatsby default files. More particularly this preprocessing involves the usage or `babel-plugin-inferno`

[2018-02-19 16:16] dajocarter commented on #4123
@pieh That fixed my issue. Thanks for your help!

[2018-02-19 16:16] #4123 closed

[2018-02-19 16:44] m-allanson commented on #4115
Huh... ok! I'm not sure exactly what's happening under the hood, but I managed to work around this with these steps:

- rename your `/static/notes/` directory to something else - I chose `/static/static-notes`
- update the links with the above new path
- disable `gatsby-plugin-offline`

Does that fix it on your side? If you're able to do some more digging into the source of the problem that'd be v

[2018-02-19 16:52] m-allanson commented on #560
@LucaT1 There's an API for [modifying Gatsby's babel config](https://www.gatsbyjs.org/docs/node-apis/#modifyBabelrc), would that be enough to configure Inferno? I'd love to see someone experiment with this.

[2018-02-19 17:47] strarsis commented on #3917
@Lc0rE: Thanks a lot! Could this workaround be somehow added to sharp build script?
Or the underlying cause (librsvg-2.so.2) requires a library by its original ELF header?

[2018-02-19 17:57] vegmorse opened #4131 "Error: Cannot find module 'gatsby-cli/lib/reporter'"
This builds just fine locally both in gatsby develop and gatsby build.

But once it pulls from my git repo (and runs on Netlify), it throws this.

Gatsby 1.9.118

6:44:23 PM: error UNHANDLED EXCEPTION
6:44:23 PM:
6:44:23 PM:   Error: Cannot find module 'gatsby-cli/lib/reporter'
6:44:23 PM:
6:44:23 PM:   - v8-compile-cache.js:159 require
6:44:23 PM:     [repo]/[v8-compile-cache]/v8-compile-cache.js

[2018-02-19 17:58] m-allanson commented on #4093
I wonder if this is similar to the issue that @peduarte was seeing earlier today?

[2018-02-19 18:00] sedubois commented on #3853
As mentioned, as far as I can see Gatsby-plugin-i18n generates static text. Did you check its example?

[2018-02-19 18:01] m-allanson commented on #4131
I think @pieh is working on a fix for this. As a temporary workaround adding [`gatsby-cli`](https://www.npmjs.com/package/gatsby-cli) to your project (not globally) should fix it.

[2018-02-19 18:11] jonavila commented on #4131
For me, it's failing on both develop and build. It's started happening after I updated some packages, but reverting back to the previous version doesn't seem to fix the issue.

[2018-02-19 18:16] pieh commented on #4131
Fix is ready for review https://github.com/gatsbyjs/gatsby/pull/4122

@jonavila `gatsby-remark-images` depends on bugged `gatsby-plugin-sharp` so downgrading `gatsby-plugin-sharp` in your project won't fix this if you use `gatsby-remark-images` unfortunately. Try using workaround provided by @m-allanson for now.

[2018-02-19 18:21] vegmorse commented on #4131
Many thanks!! the @m-allanson solution works for me. ;)

[2018-02-19 18:25] hermesnetto commented on #4115
.

[2018-02-19 18:40] szimek commented on #3853
@deltaskelta Well, all translations are available during build time (that's why I'm using multiple layouts), so it "just works" ™️ ;) I can prepare a sample app if you want. I haven't really looked into `gatsby-plugin-i18n` yet, because I'm working with Contentful, not files.

[2018-02-19 18:44] subsid commented on #4115
Yup, that solves the issue. Disabling `gatsby-plugin-offline`  seems to cause someother error to do with `sw.js` when deployed. (might be cause of my chrome extensions as well) It worked fine on firefox though.
Anyways, I'll dig into this a little more and see if I can get more info. Thanks!

<img width="711" alt="screen shot 2018-02-19 at 12 37 50 pm" src="https://user-images.githubusercontent.co

[2018-02-19 18:49] peduarte commented on #4093
Nope, actually my issue was me being stupid and using mutable array methods on `props.data` 😒🔫

[2018-02-19 18:50] davidvenin commented on #4093
I got the same issue. If I had link in .md, browser throw me the exact same error.

[2018-02-19 19:25] sedubois commented on #3853
I haven’t read the details but there’s a discussion (or rather a monologue) about the gatsby-plugin-i18n + contentful combo here : https://github.com/angeloocana/gatsby-plugin-i18n/issues/31

[2018-02-19 19:45] benedictdudel commented on #4109
Thanks for you tip. But unfortunately I had encountered the same behaviour with the Dockerfile of @aripalo. The file in the container changed but doesn't trigger the build.

[2018-02-19 20:07] JheeBz commented on #4126
Interestingly that did work but I have to access it via http://localhost:3030 on my host OS and http://0.0.0.0:3030 does not work. That solves my issue, thanks!

Perhaps a note in the documentation about this kind of workaround would help others using VM environments like Vagrant.

[2018-02-19 20:34] m-allanson commented on #4115
I'm glad you got it working! `sw.js` is likely the service worker installed by `gatsby-plugin-offline` to handle the offline side of things.

[2018-02-19 20:57] m-allanson commented on #4126
👍 Some docs on `gatsby-cli`'s `-p` and `-H` options would be really useful I think.

For a bit of background info, [this is a good explanation of 0.0.0.0 vs localhost](https://stackoverflow.com/questions/20778771/what-is-the-difference-between-0-0-0-0-127-0-0-1-and-localhost#20778887). It looks like CRA defaults to 0.0.0.0 rather than localhost which is why your CRA test worked.

[2018-02-19 20:59] m-allanson commented on #4126
Actually I'm going to close this and create a separate issue about docs.

[2018-02-19 20:59] #4126 closed

[2018-02-19 21:01] m-allanson opened #4132 "Document gatsby-cli's --port and --host options"
When running `gatsby develop`, you can pass in a hostname and port. The hostname option isnt' documented anywhere (that I can find 😄), and the port option is only mentioned briefly in the Getting Started docs.

We should document both options, and common cases where you might want to use them.

Refs: https://github.com/gatsbyjs/gatsby/issues/4126#issuecomment-366791476

[2018-02-19 21:49] jmoujaes commented on #3920
Found this example of using git hooks to enforce commit messages. It may be something to consider when implementing this.
https://git-scm.com/book/en/v2/Customizing-Git-An-Example-Git-Enforced-Policy

[2018-02-19 22:21] awesomebob commented on #4064
I can confirm that this resolved the issue for me. Thanks @pieh!

[2018-02-19 22:35] #4095 closed

[2018-02-19 22:37] #3561 closed

[2018-02-19 22:39] KyleAMathews commented on #4120
Yeah, we need a docs page for all the utils. We should build it like the other reference docs pages like adding jsdocs section to each utility and then querying them to create the page.

[2018-02-19 22:48] KyleAMathews commented on #4081
Huh, wonder why we remove the line number. What happens if you delete that line?

[2018-02-19 23:03] awesomebob opened #4133 "Error after build: Uncaught TypeError n(...) is not a function (prop-types)"
Gatsby: 1.9.202

I haven't been able to reliably reproduce the issue, but thought I'd post this just in case someone else has noticed a similar issue.

More than once, I've noticed that when I load my site after a fresh production build, some of the content will load and some will not. My first thought was that my layout/index.js was loading but not the page content, but upon inspecting the DOM I

[2018-02-19 23:12] KyleAMathews commented on #4125
Doesn't look I do have access to him.

[2018-02-19 23:13] KyleAMathews commented on #487
@ralphstodomingo what version of Gatsby are you on?

[2018-02-19 23:14] KyleAMathews commented on #487
Also, rendering on hash changes is normally what people would want I believe. If you don't want that, implement shouldComponentRender in your page component and return false when only the hash changes.

[2018-02-20 01:31] KyleAMathews commented on #4133
I'd guess you're caching the JavaScript? https://www.gatsbyjs.org/docs/caching/

[2018-02-20 01:53] awesomebob commented on #4133
@KyleAMathews Ah, it appears you are correct. I remember reading that page and so had not implemented any JS caching myself, but I failed to check whether my server setup had caching in place already (and it does). Thanks for the help.

[2018-02-20 01:53] #4133 closed

[2018-02-20 01:53] adam-kuhn commented on #4111
hey... I think this is over my head. So don't expect a solution from me. Thanks for the hints, I'll still attempt to get my head around this, just for the sake of learning

[2018-02-20 02:05] deltaskelta commented on #3853
@szimek I would be very interested in an example. @sedubois I know gatsby-plugin-i18n also generates static text but I don't see where the magic happens that is missing in i18next in order to generate totally static files....

[2018-02-20 02:59] deltaskelta commented on #3853
I think I might see why now...are you passing `react-intl` the messages through `pathContext` in `gatsby-node` during the render?

[2018-02-20 03:39] jmcmullen commented on #3710
Yeah that was the problem. Cheers.

[2018-02-20 03:54] #3710 closed

[2018-02-20 04:35] deltaskelta commented on #3853
@mattferderer had the right idea here, but I think it needs a little tweaking. https://github.com/gatsbyjs/gatsby/issues/3830#issuecomment-362715706

layouts are rendered before pages, so without creating multiple layouts there is no way to pass messages through context, from the `createPages` function (correct me if I'm wrong here). So then, in order to make i18n easiest I would think that the la

[2018-02-20 04:36] dairyisscary opened #4137 "Can I Register a Type to the Root Schema?"
## Description

I've been writing some local plugins for Gatsby and been really enjoying myself (thanks for the awesome tech by the way!). I'm working on a pair of plugins that create/transform nodes, but they both suffer from the same issue: if the  `onCreateNode`/`sourceNodes` functions never call `createNode`, then the type never gets added to the graph scheam at all and queries will fail in th

[2018-02-20 05:29] deltaskelta commented on #3853
@KyleAMathews with v2 having only one layout, how can we pass data such as i18n messages to the root layout component through context based on the path or an array of language keys?

If this could be done, then it would be easy to implement i18n, but I can't see how to do it without making multiple layouts

[2018-02-20 08:41] pieh commented on #4137
There's no way to register data type without any data as currently gatsby does infer data types from data. One (messy) way to go around it is to create "dummy" node with some kind of dummy flag and dummy data so fields are inferred if no objects were created (so type gets registered) and then when querying for that data of that type filtering out objects that are flagged as dummy.

[2018-02-20 09:01] filidorwiese commented on #2347
Same here, I'm using IntelliJ which creates temporary files ending in `___jb_tmp___` which gatbsy develop doesn't like:

[code]

For now I've been developing with

`$ while true; do gatsby develop && break; done`

But it's still a bit tedious to wait for gatsby to restart the development server (almost) every edit.

Is there a solution? Maybe an exclude option in the gatsby-config?

Thanks!

[2018-02-20 10:08] m-allanson opened #4139 "Gatsby on Linux documentation"
Create a "Setup Gatsby on Linux" page similar to the [Windows docs](https://www.gatsbyjs.org/docs/gatsby-on-windows/).

From  #4127:

- incorporate @KyleAMathews comments about mentioning native compilation + Python preqrequisites.
- And @brainwipe's docs (listed below):

## Prerequisites

Starters may use npm plugins that require [native node extensions](https://github.com/nodejs/node-gyp). For t

[2018-02-20 10:30] m-allanson commented on #4109
Hmm I can't replicate the issue you've described, using your container or the [gatsby-docker](https://github.com/aripalo/gatsby-docker/) container. I'm running macOS and Docker Version 17.12.0-ce-mac49 (21995). Is there something else in your setup that could be causing this?

[2018-02-20 10:37] m-allanson commented on #4111
No problem, thanks for giving it a shot!

[2018-02-20 11:16] csi-lk commented on #4031
Is it worth pushing a new release of `gatsby-plugin-netlify-cms` with `netlify-cms@1.1.0` to work around for the moment or are we going to wait for the upstream fix?

[2018-02-20 11:26] m-allanson commented on #2347
I wonder if we should just hardcode excludes for things like this?

The file watcher is created here: https://github.com/gatsbyjs/gatsby/blob/78ad5b2c613b442d35239987d6c5e3892c54377e/packages/gatsby/src/commands/develop.js#L226

[Chokidar](https://github.com/paulmillr/chokidar) has an `ignored` option, so the change might be something like:

[code]

Although that doesn't handle the emacs case abov

[2018-02-20 12:28] pieh commented on #4131
Fixed with #4122 . Update `gatsby-plugin-sharp` to 1.6.31 and `gatsby-remark-images` (if used) to 1.5.47

[2018-02-20 12:28] #4131 closed

[2018-02-20 13:10] janjarfalk commented on #4067
I had the same issue but it resolved when I updated from Gatsby 1.9.102 to 1.9.203.

[2018-02-20 13:13] erquhart commented on #4031
That won't be necessary, I'm working on a fix for this right now. Stay tuned.

[2018-02-20 14:07] pogo19 opened #4142 "smartcrop: bad extract area"
## Description

One week ago it used to work normally, then after upgrading to newest gatsby (and plugins) packages I get this error:

[code]

### Environment

Gatsby version: 1.9.203
Node.js version: 8.9.4
Operating System: Ubuntu Linux x86_64 17.10

### File contents (if changed):

`gatsby-config.js`:
[code]
`package.json`:
[code]
`gatsby-node.js`:
[code]
`gatsby-browser.js`: not changed
`gatsby

[2018-02-20 14:33] rockchalkwushock commented on #4081
@KyleAMathews

DM'ing you on Discord

[2018-02-20 14:42] pieh commented on #4142
Can You share image it errors out with?

[2018-02-20 14:43] pieh commented on #4142
It might fail silently previously (so there were actually no sizes produced).

[2018-02-20 14:53] jmoujaes commented on #2414
I'd like to work this bug if nobody else is.
@ThePeach how can I reproduce this behavior?

[2018-02-20 14:55] pogo19 commented on #4142
![svetr-tobias](https://user-images.githubusercontent.com/1651361/36430867-72bf10d0-1656-11e8-9b3f-839962cc6aa5.jpg)

and

![cepicky-tobias](https://user-images.githubusercontent.com/1651361/36430889-7fe5eda6-1656-11e8-8dff-e3d20ce0b209.jpg)

[2018-02-20 15:28] ooloth commented on #679
@nickmccurdy Is it better to modify `html.js`, use `gatsby-ssr.js` or use `gatsby-plugin-react-helmet` to customize the `<head>`?

The docs explain each method, but don't offer a clear recommendation for which to choose.

[2018-02-20 15:56] kevinhughes27 opened #4144 "Plugin to serve a file in a directory"
Hello! I am working on a plugin for [Brave](https://brave.com/) payments verification with Gatsby. I need to serve a file at `/.well-known/brave-payments-verification.txt`.

I followed the documentation on how to create a plugin and read some existing plugins. I wrote the following `gatsby-node.js` file based on the sitemap plugin:

[code]

This worked and generated the appropriate file. I had to

[2018-02-20 16:05] m-allanson commented on #4144
Hey @kevinhughes27 👋 did you see the docs on [adding static files](https://www.gatsbyjs.org/docs/adding-images-fonts-files/#using-the-static-folder)?

If I understand what you're trying to do, then you should be able to put your file in a `static` directory at the root of your project like this `/static/.well-known/brave-payments-verification.txt`. During the build step, that will get copied over

[2018-02-20 16:07] kevinhughes27 commented on #4144
derp - I tried that first actually * but * that was before I found the docs on gh-pages --dotfiles. Let me give this a go.

[2018-02-20 16:33] nickmccurdy commented on #679
Honestly I'm unsure about that myself, I wish they explained a preference. They seem to prefer Helmet but I personally prefer `gatsby-ssr.js`.

[2018-02-20 16:35] kevinhughes27 commented on #4144
@m-allanson unfortunately this fails with the same error but still works locally. Any other ideas?

[2018-02-20 16:39] pogo19 commented on #4142
Also you can find last successful build here:
https://5a80e23392226a3a9d768d78--ivanaart.netlify.com/

As my BitBucket repo is private, if anyone working on this possible bug has an interest, I can give you access ... I just don't want it to be fully public.

[2018-02-20 16:42] szimek commented on #3853
@deltaskelta Here's an example of what we're doing: https://github.com/szimek/gatsby-react-intl-example. It shows how to render individual posts, how to generate index page for each locale, how to e.g. use `react-intl` components, how to use `react-intl` `injectIntl` HOC to set a title for index pages using `intl.formatMessage` helper.

The generated pages are:
- /en
- /en/hello-world
- /pl
- /pl/

[2018-02-20 16:47] m-allanson commented on #4144
Hmm... So after running `gatsby build`, the file `/public/.well-known/brave-payments-verification.txt` exists? But after publishing that directory, the route `example.com/.well-known/brave-payments-verification.txt` gives you a 404 error?

Does `/public/.well-known/brave-payments-verification.txt`  exist on your `gh-pages` branch?

[2018-02-20 16:48] Ieuanoh opened #4146 "Render HTML tags from frontmatter"
## Description

Hello! New to using Gatsby and I'm trying to render HTML tags from a frontmatter field in a post template. I need a short paragraph of text with breaks in it separate to the main body of content from my Markdown file. I'm used to doing this with Hugo using it's safeHTML function. Is there a way I can do it in Gatsby?

I'm using the remark plugin to pull in my frontmatter fields. Bu

[2018-02-20 17:04] lightstrike commented on #4125
Thanks for taking a look @m-allanson. It seems like the header title (as opposed to the slug) is driving the file names - when I changed the post title, this error was not raised. Where does the file naming occur in the gatsby source? While I can control header lengths in my dev environment, I don't believe I can do so in a production environment, so adding some logic that trims the slugified head

[2018-02-20 17:06] pieh commented on #4146
You can use react's `dangerouslySetInnerHTML` (as a contrast to safeHTML i guess :) ):

[code]

[2018-02-20 17:12] pieh commented on #4142
No need to share your private repo - I can reproduce it locally with your images and your query from issue description. Will let you know when I figure it out.

[2018-02-20 17:15] ooloth commented on #679
Okay, thanks for the info. I guess I'll use Helmet until I learn more.

Out of curiousity, would you be willing to post a snippet of how you use `gatsby-ssr.js`? I tried adding some specific values to the [`onRenderBody`](https://www.gatsbyjs.org/docs/ssr-apis/#onRenderBody) example posted in the docs, but wasn't able to get any the values to appear on the site.

For example, I tried this:

[code]

[2018-02-20 17:39] lightstrike commented on #4125
When I updated to `"node --max_old_space_size=1200000 --stack-size=65000 ./node_modules/.bin/gatsby build --prefix-paths"`, I got a passing build! :rocket: But these parameters were a total stab in the dark...is there any general guidance you recommend @KyleAMathews regarding larger site builds? Happy to dig in and try to write some docs if it would be helpful.

[2018-02-20 18:00] dcroitoru opened #4147 "Replace React with web components"
## Description

Question:
Is it possible to replace React with something that uses web components, like StencilJS?

[2018-02-20 18:04] nickmccurdy commented on #679
I don't think toComponent takes arguments, but I'm not really sure how to set html attributes in Helmet.

[code]

[2018-02-20 18:04] pieh commented on #4142
The problem is not when you are actually cropping - it's in your `full` resize - add `cropFocus: CENTER` there (`gatsby-transformer-sharp` defaults to ATTENTION actually) to workaround it for now.

This is weird - seems like issue with `sharp` package that got uncovered when I added more error handling. Will investigate more.

[2018-02-20 18:05] kevinhughes27 commented on #4144
Yup when I build locally it shows up in /public. I push public directly to the gh-pages branch so the .well-known folder is at the root level.

[2018-02-20 18:11] pieh commented on #4142
@pogo19 Can i use images you provided to report issue upstream?

[2018-02-20 18:12] nickmccurdy commented on #4147
I'm not sure what Stencil is capable of, but as far as I'm aware web components don't support SSR so it would be hard to do what Gatsby does at build time.

[2018-02-20 18:29] fk commented on #1500
Black monogram (big) centered on "Vintage Black" [Next Level 6010 Tri-blend](https://www.nextlevelapparel.com/index.php/mens/mens-tri-blend-crew.html) (50% Poly 25% Combed Ring-Spun Cotton 25% Rayon):

![image](https://user-images.githubusercontent.com/21834/36441839-1f30f21c-1674-11e8-8a49-4954d20e174a.png)

[2018-02-20 18:29] fk commented on #1500
Purple monogram (big) centered on "Vintage Black" [Next Level 6010 Tri-blend](https://www.nextlevelapparel.com/index.php/mens/mens-tri-blend-crew.html) (50% Poly 25% Combed Ring-Spun Cotton 25% Rayon):

![image 1](https://user-images.githubusercontent.com/21834/36441859-2917ce5e-1674-11e8-9f4b-0f4d81e6b04a.png)

[2018-02-20 19:00] robwierzbowski commented on #4110
@KyleAMathews can you explain the purpose of using `window.location`? If there are identical pages at different subdomains, the `window.location` fallback will give two different canonical URLs, negating canonical URL benefits. If there's only one domain, there's no need for canonical URLs.

[2018-02-20 19:54] m-allanson commented on #1500
I think black monogram on Vintage Black is my favourite so far.

[2018-02-20 20:12] FengShangWuQi opened #4148 "Why pathPrefix does not work for gifs in pages's md after deploy"
I add a pathPrefix with project name instead of /, but I found that can not find gif files correctly after deploy using github pages, it returns 404, however, pictures in pages's md returns 200.

network looks like this:
png: ...github.io/pathPrefix/static/path/xx.png -> 200
gif: ...github.io/xx.gif -> 404

[2018-02-20 20:15] shannonbux commented on #3956
Hi @ryandeussing great ideas! I like that idea because account creation and commenting are very realistic and common things people might want on their blogs and sites. Very valuable idea. I think maybe we'll end up creating individual issues for high-demand tutorials eventually.

Also, very interesting point about whether we should make evident the sorts of functionality for which Gatsby may not b

[2018-02-20 20:36] KyleAMathews commented on #2347
gatsby-source-filesystem shouldn't be erroring like that. Instead of whack-a-mole ignoring stuff like this, let's figure out why it's erroring and fix that.

[2018-02-20 20:37] fk commented on #1500
Forgot to mention that it was @jlengstorf suggesting to give this a try! 🙏🙌 Also really like it!
Should we call that design „Dark Deploy“?! ;-)

/cc @KyleAMathews @calcsam

Von meinem iPhone gesendet

[2018-02-20 20:47] KyleAMathews commented on #4132
Thanks for the PR @jmoujaes! FWIW, you can see more detailed help for individual commands on the command line by running `gatsby develop --help`. But yeah, that's more hidden away.

[2018-02-20 20:53] KyleAMathews commented on #3853
@deltaskelta briefly you'd have page components for each language and then have a layout component per language. Here's one way you could do this.

[code]

[code]

[2018-02-20 20:55] KyleAMathews commented on #4125
`--max_old_space_size` is generally what I've had to fiddle with for large builds in the past. But `--stack-size` might be needed too. A docs page with some research and suggestions on this would be great!

[2018-02-20 20:58] szimek commented on #3853
@KyleAMathews These files are templates, right? Does it mean that if I have 3 page types and 7 languages, I'd need 27 templates? :)

[2018-02-20 20:59] KyleAMathews commented on #4110
Good point haha. I guess we shouldn't do anything if there's not a siteURL?

[2018-02-20 21:02] KyleAMathews commented on #4148
Hmmm looks like https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-copy-linked-files/src/index.js needs updated to support path prefixes. Is this something you'd be interested in fixing? Would love to help you make a PR!

[2018-02-20 21:04] KyleAMathews commented on #1500
hehe

[2018-02-20 21:09] JheeBz opened #4149 "File changes not detected when using vagrant"
## Description

File changes are not being detected when using Vagrant. This is also the case for CRA but the official solution is to create .env file with `CHOKIDAR_USEPOLLING=true`. In gatsby, the best workaround I've seen is to run the dev environment with the following shell script:

[code]

This works, but it's definitely not ideal.

### Environment

Gatsby version: 1.9.158
Node.js version: v

[2018-02-20 21:13] KyleAMathews commented on #3853
The above is the most optimized way of doing it. If each layout component isn't that different, you could combine them into one layout component and then switch layout depending on which language is active.

[2018-02-20 21:15] KyleAMathews commented on #4149
Interesting. Thanks for the work around! We're planning on automatically adding env variables from `.env` files soon too to the node process which will make `.env.development` work as well.

[2018-02-20 21:15] #4149 closed

[2018-02-20 21:16] ooloth commented on #679
Ah, thank you!

What's your approach for updating page titles and descriptions on subpages?

[2018-02-20 21:18] nickmccurdy commented on #679
I'm not using one since this is a single page site, you'd probably need Helmet or html.js for that (personally I'd use Helmet since copying all that extra template HTML is kinda ugly and brittle).

[2018-02-20 21:28] jlengstorf commented on #1500
A couple other ideas building on @rdela, @SachaG, and @fk's work:

## Black-on-Black Logo Mashup

![black-on-black-logo-mash](https://user-images.githubusercontent.com/163561/36450122-c7d3c24c-1641-11e8-8f2d-2dcc587b9268.jpg)

## Natural Process (Bleached Look) Monogram on Black

![natural-process-monogram-black](https://user-images.githubusercontent.com/163561/36450142-d71b635e-1641-11e8-93c2-595

[2018-02-20 21:35] fk opened #4150 "[discussion] Add a "brand guidelines/press kit" page to gatsbyjs.org"
As a first step this could contain

* the downloadables from https://github.com/gatsbyjs/gatsby/issues/3363#issuecomment-360206669
* basic usage notes e.g. explaining Clear Space
  ![image](https://user-images.githubusercontent.com/21834/35344940-9a0d5cce-012e-11e8-87b3-db91ac25d105.png)
* the Gatsby brand color(…s)

[2018-02-20 21:46] pogo19 commented on #4142
@pieh Yes, thanks

[2018-02-20 22:18] hswolff opened #4151 "Allow usage of webpack 4 via a plugin"
Due to webpack's configuration being exposed to end users upgrading webpack to v4 would constitute a major and breaking change. [Refer to this tweet](https://twitter.com/kylemathews/status/966064325474447360).

Due to Gatsby v2's release being imminent we don't want to introduce this additional breaking change, instead saving the upgrade to webpack 4 for all users to Gatsby 3.

As an intermediate

[2018-02-20 22:25] kmcaloon opened #4152 "Webpack error with gatsby-plugin-react-css-modules"
So everything has been compiling relatively smoothly for my project until I added in gatsby-plugin-react-css-modules.  After adding with yarn I updated gatsby-config.js:

[code]

Now gatsby develop is producing the following error:

[code]

Not really sure where to start here. As soon as I remove the plugin from the config everything goes back to compiling smoothly. Any thoughts?

[2018-02-20 22:35] jquense commented on #4151
It's unlikely that will work unfortunately :/ gatsby has deep hooks into webpack and the nature of the webpack api makes it hard to not have to directly expose to plugins. Doing so would require an additional abstraction over the webpack api, which invariably doesn't doesn't work (see webpack-configurator in v1). That said I do have some hope that v4 will be less troublesome, since it looks like n

[2018-02-20 22:46] KyleAMathews commented on #4151
Yeah... was thinking about this too and agree it'd be hard. We touch a lot of webpack's APIs — which wouldn't be a problem necessarily for the config as you could update that wholesale — but the page building uses the stats object for example to extract component names and so forth.

It might be doable but would need an exploration that nothing else that Gatsby does breaks.

[2018-02-20 23:03] ptb opened #4154 "Only one instance of "graphql" in the node_modules directory"
## Description

It appears that `relay-compiler@1.5.0` bumps `graphql` to `^0.13.0`, which results in duplicate `graphql` entries in `yarn.lock`. Pinning `relay-compiler` to `1.4.1` keeps `graphql` at `0.11.7` which results in only one graphql entry in yarn.lock.

Upgrading `graphql` to `0.13.1` results in this error message during `gatsby build`:

[code]

### Environment

Gatsby version: 1.9.203

[2018-02-20 23:10] ooloth commented on #4154
Yeah, I just updated everything in one of my projects and the site is now broken with a similar error:

[code]

Looking through `package-lock.json`, only `relay-compiler` seems to rely on a different version of graphql.

## Environment

Gatsby version: 1.9.203
Node.js version: v8.7.0
Operating System: macOS 10.13.3

[2018-02-20 23:25] shannonbux commented on #1500
love all of those. I'd probably choose one of the natural process ones
because I like brighter stuff.

On Tue, Feb 20, 2018 at 2:29 PM, Jason Lengstorf <notifications@github.com>
wrote:

[2018-02-20 23:27] iamturns commented on #4154
Getting the exact same problem here

[2018-02-20 23:32] KyleAMathews commented on #4154
Ugh :-( Just put up a PR to pin the relay-compiler version to 1.4.1.

[2018-02-20 23:32] ooloth commented on #4154
You're the best.

[2018-02-20 23:46] #4154 closed

[2018-02-20 23:47] KyleAMathews commented on #4154
1.9.204 is out — lemme know if there's any more trouble.

[2018-02-21 00:08] iamturns commented on #4154
Fixed and released within the hour, impressed! 👏

[2018-02-21 00:10] KyleAMathews commented on #3870
Another benefit of compiling node_modules is we'd automatically get polyfills added for target browsers w/ Babel's super cool new polyfilling magic. E.g React needs Set, Map, and requestAnimationFrame polyfilled for older browsers. But it'd be nice if those were a) automatically added and b) automatically *not* added if you're targeting newer browsers.

[2018-02-21 00:11] Betree opened #4156 "[gatsby-plugin-sharp] Resize issue - "Int cannot represent non-integer value""
## Description

When trying to resize an image using only width, Gatsby doesn't round calculated height.

[code]

### Environment

Gatsby version: 1.9.202
Node.js version: 8.9.4
Operating System: Ubuntu 16.04 x64

### Actual result

[code]

### Expected behavior

Calculated height should be rounded.

Example : resize 128x125 with width 64 should give 64x76

### Steps to reproduce

1. Install `gats

[2018-02-21 00:15] pieh commented on #4152
This show similar error to one in https://github.com/gatsbyjs/gatsby/issues/2772 - something is adding `libraryName` property to options passed to `babel-plugin-react-css-modules` just not sure what that could be - can you provide sample repo? Default gatsby starter after adding just that plugin doesn't show reproduce this problem.

[2018-02-21 00:15] rdela commented on #1500
rock on @fk @jlengstorf !!! I *adore* the direction this is heading, especially 3 below.
Agree with @m-allanson Dark Deploy looks cool + with @shannonbux, natural process ones are appealing.

## «Dark Deploy» (black monogram on Vintage Black)
![](https://user-images.githubusercontent.com/21834/36441839-1f30f21c-1674-11e8-8a49-4954d20e174a.png)

## Natural Process (Bleached Look) Monogram on Black

[2018-02-21 00:19] jquense commented on #3870
I think we are waiting on: https://github.com/babel/babel/pull/7358 as table-stakes for compiling node-modules if you wanted to follow the issue :)

I wish this was slightly more trodden ground...like what is the cost for all that extra noop parsing for every dependency that doesn't need additional compilation vs the ones that do? Perhaps its fairly safe as a build only optimization? It's probably

[2018-02-21 00:27] pieh commented on #4156
Calculation is correct, but returned value isn't rounded - so wrapping that in `Math.round` should fix the issue.

[2018-02-21 00:28] KyleAMathews commented on #3870
CRA disabled loading babelrc for their implementation. Their tests showed build time increase was around ~20% https://github.com/facebook/create-react-app/pull/3776#issuecomment-357470788

thread-loader is supposed to work well and offset a lot of that though.

Also yeah, great idea to add development babel config that'd only target the latest browsers. Also we could restrict transpiling node_modu

[2018-02-21 00:55] jquense commented on #3870
o right we can disable the babelrc per file via the loader, nice when you control the build pipeline :P

[2018-02-21 01:07] KyleAMathews commented on #3870
Can be nice! :-D

[2018-02-21 01:57] jarodtaylor commented on #4154
You're the man, @KyleAMathews.

[2018-02-21 02:31] jarodtaylor commented on #4103
I'm having the same issue after following the [Creating a Blog with Gatsby tutorial](https://www.gatsbyjs.org/blog/2017-07-19-creating-a-blog-with-gatsby/).

[2018-02-21 02:52] KyleAMathews opened #4159 "[v2] Upgrade to relay-compiler@1.5.0"

[2018-02-21 03:21] orshick opened #4160 "Example site running clarification"
## Description

I tried to run run some sites from the gatsby example section (gatsbygram and using-page-transitions). Basically I cloned the gatsby repo, npm installed inside it, entered the example site's directory and npm installed there too. "gatsby develop" errored out with this message.

![image](https://user-images.githubusercontent.com/3633609/36461550-1e3b07fe-168c-11e8-9c6f-a0e42194d641.

[2018-02-21 03:51] Betree commented on #4156
@pieh You're right I've edited the description.

Just submitted PR #4156 that fixes my crash.

[2018-02-21 04:06] deltaskelta opened #4162 "dev server crashes often with error: Cannot read property 'id' of undefined"
## Description

I get constant failures of the dev server with the error `Cannot read property 'id' of undefined`. I believe this is caused in part because vim is deleting and adding a file probably after some plugin is making a buffer change and remaking the file...I am not sure exactly as I have not been able to exactly reproduce it in a starter yet.

### Environment

Gatsby version: 1.1.41
Node

[2018-02-21 04:17] DanielRSnell commented on #1127
Check out the GraphCMS plugin, it looks like it's most like just a graphql-requests wrapper. When I use a Graphcool endpoint with it creates the nodes in ___graphql but prompts a duplicate graphql instance warning. I was thinking about using this as a starting point, if anyone else has something better, let me know!

[2018-02-21 04:24] hightide2020 commented on #4162
I just tried this and could reproduce . What are the plugins exactly ?
Not that this is a fix.But it could help isolate the issue Have you tried changing the script to NPM run dev or Yarn start. That way if those work you can isolate the bug to the Gatsby CLI.  Which you should uninstall and reinstall again anyways Before using again. Or my  Next thought would bebecause it is happening when Webpac

[2018-02-21 04:25] hightide2020 commented on #4162
I tried this a few times and couldn’t reproduce ****

Not that this is a fix.But it could help isolate the issue Have you tried changing the script to NPM run dev or Yarn start. That way if those work you can isolate the bug to the Gatsby CLI.  Which you should uninstall and reinstall again anyways Before using again. Or my  Next thought would bebecause it is happening when Webpack is bunbkeing th

[2018-02-21 05:18] codingdefined commented on #4049
@pieh Thanks a lot, it worked.

[2018-02-21 05:18] #4049 closed

[2018-02-21 06:05] FengShangWuQi commented on #4148
Thanks a lot :thumbsup:, waiting for your good news, and I also find that the files in static/ in the same problem after add pathPrefix.

[2018-02-21 06:37] mccrodp commented on #3853
@sedubois, haha, yea. Summary: got it working and included [`gatsby-starter-contentful-i18n`](https://github.com/mccrodp/gatsby-starter-contentful-i18n) starter repo in Gatsby docs via this PR: https://github.com/gatsbyjs/gatsby/pull/4138

Interested in the other solution above, especially how it compares to the community plugin re: SEO, etc.

[2018-02-21 07:23] Betree opened #4163 "File change detected, but GraphQL data not updated"
## Description

I'm trying to build a website with markdown pages. HMR detect the changes but the new data is not fetched and I have to restart development server to see updates.

Making the request directly in GraphiQL **works** - I get the refreshed data.

Is there a cache for templates requests that could be messing up here ?

### Environment

Gatsby version: 1.9.202
Node.js version: 8.9.4
Oper

[2018-02-21 07:31] MaralS commented on #3183
@szimek, yes this is the same error :/
In my case I have
- Windows 10
- `node --version` - 8.9.4
- `yarn --version` - 1.3.2
-` gatsby --version` - 1.1.27

I did not modify the original layouts, I just installed the packages, gatsby plugins.
Here are all the packages installed using `yarn list --pattern gatsby`
[code]

[2018-02-21 07:31] benedictdudel commented on #4109
Yesterday I tried the following things:

- removed docker & docker-machine
- installed current version via homebrew cask
- deleted the default machine of docker-machine

But unfortunately no luck. I don't know where a difference between yours and my setup could be..

[2018-02-21 08:25] fk commented on #4132
Fixed in #4145(?)! Thanks @jmoujaes!

[2018-02-21 08:25] #4132 closed

[2018-02-21 09:31] Ieuanoh commented on #4146
Doh. Of course that works! Thanks very much :)

[2018-02-21 09:31] #4146 closed

[2018-02-21 09:51] #4156 closed

[2018-02-21 10:13] Kikobeats commented on #3780
@KyleAMathews Could be possible setup an Uglify ES6-compatible on `gatsby-node.js`?

Just as workaround to avoid not update `gatsby` dependency

[2018-02-21 11:56] aidanayala commented on #3840
Thanks for your responses.

Makes a lot more sense now - As you set fetching the data is unique and cannot really be documented. But @m-allanson a tutorial like would be great.

I'm creating a simple API in Laravel for content and I'd love to be able to bundle a source plugin for it. Just got a little lost on where to start with it.

[2018-02-21 12:42] szimek commented on #3853
@mccrodp Your solution looks pretty similar to mine, the main difference is that `gatsby-plugin-i18n` doesn't require you to explicitly pass the `layout` option to `createPage`, but does it for you behind the scenes. However, it's still using multiple layouts ;)

[2018-02-21 13:14] danielberndt opened #4166 "Delete css from previous builds as well"
## Description

I've took and build the starter with basic css. I then switched to including *all* my css via glamor.

I then executed `gatsby build` once more. Since the old css file from the previous build was not deleted, it included both, the inlined glamor css as well as the old css from the starter, leading to unintended style issues.

### Environment

Gatsby version: 1.9.202
Node.js version

[2018-02-21 13:18] alex-saunders commented on #3495
How's the fix coming along @harrisnguyen94 ? I've ran into the same issue and would be interested to hear how close we are to fixing this

[2018-02-21 14:05] tsriram opened #4167 "Automatically run gatsby develop after creating a new site"
Just wondering why don't we run `gatsby develop` after creating a new site i.e. after running `gatsby new ...`? I'm quite sure there'll be some platform quirks across different OSes to get this done. Is there any other reason why we shouldn't / can't do this? May be everyone doesn't want this? FWIW, I've always wanted to run `gatsby develop` after creating a new one. Other tools like CRA also requ

[2018-02-21 15:12] harrisnguyen94 commented on #3495
@alex-saunders fixing the reverse mapping for existing nodes (which solve issue 1) is simple and pretty much done. Issue 2 needs some thoughts though, but we have located what went wrong and kinda figure out how to fix it.
Issue #3 however, is a little bit different (making existing nodes aware of change in data model), and maybe will be tackled later.
So yeah, it depends on what issues you're fac

[2018-02-21 15:22] jonavila commented on #4163
Experiencing the same issue. File changes are detected but the cache gets corrupted. I have to clean the `.cache` directory and restart.

[2018-02-21 15:28] lgraubner commented on #3402
I discovered that if I disable `gatsby-plugin-offline` (which I'm using) it seems to work.

The reason is the default `navigateFallbackWhitelist` regex:

[code]

This basically says the service worker should handle everything but URL's ending with a file extension. Therefore it's not reaching Netlify to rewrite it to a trailing slash. Solution is simply adjusting the regex:

[code]

Seems to work

[2018-02-21 15:28] #3402 closed

[2018-02-21 15:30] anjawaldbauer opened #4168 "[gatsby-source-contentful] Cannot get to localized nodes via References"
## Description

I am trying to create multi-language site using contentful as the headless CMS. I have setup the contentful content model as follows:

The `Navigation` content type has a `title` and a `links` field, which references many `Link`s.
The `Link` content type has a `title` field (localized) and a `page` field, which references one `Page`.
The `Page` content type has a `title` field (loc

[2018-02-21 15:42] anjawaldbauer opened #4169 "[gatsby-source-contentful] localized nodes do not include non-localized fields"
## Description

I am (otherwise happily, thanks to all contributors!) using gatsby and contentful to create a multi-language site. In contentful I have set up a content type `Page`, which has among others the following fields:

* `title`: localized
* `slug`: not localized
* `text`: localized

The default locale is `de-DE`, the only other locale is `en`.

When I query the pages (e.g. via GraphiQL),

[2018-02-21 15:44] harrisnguyen94 commented on #3495
@alex-saunders hi, updating the reverse mapping for existing nodes (which solve issue 1 is simple and pretty much done. Issue 2 needs some thoughts though, but we have located what went wrong and kinda figure out how to fix it.
Issue 3 however, is a little bit different (making existing nodes aware of change in data model), and maybe will be tackled later.
So yeah, it depends on what issues you're

[2018-02-21 15:46] anjawaldbauer opened #4170 "[gatsby-source-contentful] Do not include localized nodes when required fields are not translated"
## Description

It would be great if we could ask that localized nodes should not be included, if required fields in contentful are not localized. I know that there is an option to make localized fields required, but that would required all pages to be translated. What I would like to have is the ability to translate some pages, but not all, but then not include the ones I didn't yet translate in

[2018-02-21 16:22] dirkdevriendt commented on #3830
Maybe a bit late to the game, but I wanted to add a use case I didn't see in the discussion yet.

I am trying out gatsby for an almost entirely dynamic site, with user-specific data being pulled in from a cloud graphQL service, using apollo.
The site uses two layouts; a neutral and simplified one for the non-authenticated, gatsby-built site and one with a different, personalized theme, once the us

[2018-02-21 16:32] deltaskelta commented on #3853
I've gone with @KyleAMathews suggestion and made a `components/Layout` that uses an i18n lib and deleted my gatsby layout folder entirely. This way, in `gatsby-node` I can make pages for my locales and they have access to everything a page has access to, including paths.

I can then pass locale directly to the layout component which passes it to i18n.

It is minorly inconvenient to have to wrap ea

[2018-02-21 16:43] alex-saunders commented on #3495
Hi @harrisnguyen94 , no worries about the delay, sounds like it's pretty much there anyway! I'm only really needing (1) so happy to hear that the fix should be coming asap.

[2018-02-21 17:43] nickmccurdy opened #4171 "Issues with React 16 and react-test-renderer"
## Description

When using Gatsby 1 with gatsby-plugin-react-next (React 16), I'm unable to resolve all peer dependencies since Gatsby wants 15, the plugin wants 16, and react-test-renderer wants only one of the two. I tried using react-test-renderer-16 but it causes my Gatsby build to break because of the React version it uses. For now my workaround is to remove gatsby-plugin-react-next and stick

[2018-02-21 17:52] nickmccurdy commented on #1564
I like that CRA includes eslint, but it is unnecessarily difficult to use custom eslint configs in the same project as CRA. Please consider a solution that either involves a peer dependency on eslint or a fully extensible eslint config so using Gatsby doesn't limit how users can use eslint. In my opinion this is already a huge incentive to switch from CRA to Gatsby and it would be great if we coul

[2018-02-21 19:05] jonavila commented on #4163
I believe this update on gatsby@1.9.199 might be what is causing it:
https://github.com/gatsbyjs/gatsby/commit/7f510ccca4a133f518f2d24094377c24cf68d832#diff-c493f1f6a7fbc32136fda0e6522712aa

[2018-02-21 19:17] jonavila commented on #4163
More specifically, this empty query:
https://github.com/gatsbyjs/gatsby/commit/7f510ccca4a133f518f2d24094377c24cf68d832#diff-a45448af33cc109010d5aab8911336ddR16

[2018-02-21 19:36] suchy commented on #1929
Hi,

I'm facing same problem. I have no custom html.js. On local everything works. Even `gatsby build` works fine.

When builds run on Netlify there is a problem - no sass compiled styles.

Only thing that I notice during the build is that:

[code]

But to be honest no idea how to solve it.

My package.json:

[code]

[2018-02-21 20:15] KyleAMathews commented on #3780
@Kikobeats it's best to fix your dependency by compiling it to es5. Not updating Gatsby just means your build succeeds not that the underlying problem, that your code isn't minifying and that it's not runnable on older browsers, is fixed.

[2018-02-21 20:16] KyleAMathews commented on #3780
Working on fixes for this in Gatsby v2. We'll be compiling all code in node_modules + upgrading to the latest version of uglify.

[2018-02-21 20:16] busticated commented on #4089
i was able to track down the underlying issue: babel & webpack have a weird interaction around `npm link`'ed modules ([issue](https://github.com/babel/babel-loader/issues/149)).

once i fixed that (by installing from a github url instead of using `npm link`), i ran into https://github.com/gatsbyjs/gatsby/issues/3780 (uglify incompatible w/ es6) 🤦‍♂️

with _that_ squared away, my issue is resolved.

[2018-02-21 20:16] #4089 closed

[2018-02-21 20:20] KyleAMathews commented on #4166
Oh right, we should do this. Thanks for reporting the bug! Would you like to PR a fix? It should go right after deleting the HTML https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/index.js#L62

[2018-02-21 20:20] Kikobeats commented on #3780
@KyleAMathews I'm agree!

Actually I think this dependency is compiled to ES5
https://github.com/Rich-Harris/buble/blob/master/package.json#L5

Actually it's a ES5 compiler 🤔

[2018-02-21 20:21] KyleAMathews commented on #4167
🤷‍♂️ not everyone would like this? Some people want to init a new git repo first? It's also a relatively uncommon task, creating new sites so we haven't tried optimizing the process as much.

[2018-02-21 20:34] KyleAMathews commented on #1564
Definitely want to do peerDependency on eslint. We don't want to show in the browser though minor eslint problems e.g. you add a bunch of more stylistic rules. I do like how CRA how does this.

[2018-02-21 20:39] tsriram commented on #4167
Hmm yeah, perhaps not everyone needs this!

[2018-02-21 20:39] #4167 closed

[2018-02-21 20:47] brodmann opened #4172 "[gatsby-plugin-typescript] synthetic default imports with commonjs modules don't work"
Hello
It looks like plugin just allows to transpile code with commonjs module; with allowSyntheticDefaultImports option typescript output following code:
[code]

I think it is better to don't force developers and allow to set target module type in `tsconfig.json` file.

[2018-02-21 20:53] KyleAMathews commented on #4162
I added a check to the code there to make sure that the node still exists before trying to access the id off it. Will merge and release it once Travis finishes. Lemme know if you have any more trouble after upgrading!

[2018-02-21 21:41] calcsam commented on #4160
Closing this, thanks @fk

[2018-02-21 21:41] #4160 closed

[2018-02-21 21:54] jmoujaes commented on #4132
Correct, should've commented :) np!

[2018-02-21 22:51] erquhart commented on #4031
Fixed in netlify-cms 1.2.2.

[2018-02-21 23:16] jarodtaylor commented on #1287
I added `eslint-loader`, by adding it to my `gatsby-node.js` file:

[code]
It all seems to work fine, but when an eslint error pops up, it kills HMR, so I wanted to add in `emitWarning: true` to stop it from happening:

[code]
Unfortunately, it fails:

[code]

[2018-02-21 23:39] pieh commented on #1287
@jarodtaylor check https://www.npmjs.com/package/webpack-configurator#configloaderkey-config-resolver - specifically "Config as an object with a resolver function.". `options` was not there in webpack 1 which gatsby currently uses

[2018-02-21 23:44] shannonbux opened #4175 "Tweaking tutorial structure"
## Description

Here's a list of feedback from UX research (interviews) along with --> possible solutions. Looking for feedback/ideas/reactions!

- [x] Beginners to programming need an intro to basic tools --> Create tutorial Part Zero
- [ ] The getting started/docs/tutorial divisions can confuse people on first visit to website --> Edit tutorial landing page to mimic the flow of onboarding like [

[2018-02-21 23:58] jarodtaylor commented on #1287
Thanks, @pieh. Yeah, I keep getting caught up in the Webpack 1/2/3 incompatibilities.

For anyone that stumbles across this and wants to find the solution. I was able to get it to work using `config.merge` instead:

[code]

[2018-02-22 01:02] lourd opened #4176 "Deleted nodes are still in the data graph when developing"
## Description

When deleting items from the end of a list in yaml or json, using either the gatsby-transformer-yaml and gatsby-tranformer-json plugins, they aren't removed from the data graph.

### Environment

Gatsby version: 1.9.206

### Steps to reproduce

See [this repo](https://github.com/lourd/gatsby-node-deletion-bug)

[2018-02-22 03:04] nihgwu opened #4179 "[v2] can't override predefined rules via `modifyWebpackConfig`"
## Description

We are using `webpack-merge` to modify the webpack config in v2, but it's a bit limited.
According to the `webpack-merge`'s mechanism, new defined rules will be always concatenated to the end of the predefined rules
[code]
for the first one, I want to change the default behavior for js files, for the second one, I want to use custom loaders for svg files, so I have to add exclude t

[2018-02-22 03:27] kmcaloon commented on #4152
Thanks.  Here is the repo https://github.com/kmcaloon/engineering-guidelines

You'll see I used the official netlify cms starter. Haven't really done a whole lot since initial install.

[2018-02-22 05:12] nihgwu commented on #4179
@KyleAMathews what about using `https://github.com/kolodny/immutability-helper` to modify webpack config, then you can take full control of it

[2018-02-22 06:21] ajayns opened #4183 "No styling on gatsby build"
I'm working on a project kickstarted with `gatsby-starter-default` and uses the `gatsby-source-hackernews` plugin. I've added custom styling by importing `.css` files into React components and there's default styling in the boilerplate as well.

All these display perfectly with I run `gatsby develop` but when I do a production build using `gatsby build` and serve the `/public` folder I notice that

[2018-02-22 06:59] gurtjun commented on #4093
Same issue here, every time I edit a markdown file.

[2018-02-22 07:16] KyleAMathews commented on #4183
Looks like you need to inject the styles in the head like in the default html.js https://github.com/gatsbyjs/gatsby/blob/ba4666829b1c908c75e4e65b726516c501ef0bca/packages/gatsby/cache-dir/default-html.js#L3

[2018-02-22 07:16] #4183 closed

[2018-02-22 09:01] rayk commented on #4163
I am having the similar problem, restarting the development server, or making a change to the template causing it to be rebuilt fixes the problem.

[2018-02-22 09:57] MaralS commented on #3183
@szimek it seems like it's a problem related to Windows. It works fine on my mac but I really need to fix this bug on Windows :(

[2018-02-22 10:04] szimek commented on #3183
@MaralS Yeah, it's probably something similar to the layout issue, where the glob pattern was working on Mac and Linux, but not on Windows. I'll try to find some time till the end of this week to set up Windows VM again and see if I can reproduce this error.

[2018-02-22 11:11] TheOpti opened #4186 "Gatsby does not reload my page on Windows 10"
### Description
I set up a new gatsby project and ran it via gatsby develop command. Everything seems to be OK, network monitor in my Google Chrome DevTools doesn't show any errors (i.e. __webpack_hmr loads properly). I already checked similar topics and people there had problems with loading __webpack_hmr, but in my case it loads properly. I tried both these two commands:

1) `gatsby develop`
2)

[2018-02-22 11:32] mpolinowski commented on #4186
Hi @TheOpti ,

can you update gatsby in your app? I am using gatsby v1.9.204 in Windows 10 / Chrome and hot-reloading works fine with it.

[2018-02-22 11:33] deltaskelta commented on #4162
cool, thanks for the quick fix, haven't had a problem since the update

[2018-02-22 11:34] danielberndt commented on #4166
Working on a PR now :)

[2018-02-22 12:32] peduarte commented on #4093
but yeah this issue happens to me, when I edit a markdown file. but not ALL the time.

[2018-02-22 13:03] jquense commented on #4179
You can already take full control of it in the API by getting and manually modifying the parts you want. You also usually don't have to modify existing rules, appending or prepending another rule with the same test (such as in svg example) works fine. In general tho editing the existing loaders is not _supposed_ to be super easy, because changing them will likely break gatsby.

[2018-02-22 14:32] nihgwu commented on #4179
@jquense but how can I apply another rule for `svg`?
In my case, I have a custom loader for svg files, to turn svg file to a function, so it's `use: ['myloader', 'svgo-loader']`, how can I achieve this via `setWepackConfig`? I thought I could override the default rules for `images` to exclude my svg files, I tried one whole night but failed, I also tried to use `merge.smart` instead of `merge`, bu

[2018-02-22 14:34] nihgwu commented on #4179
Also I think `replaceWebpackConfig` should be the last option we have to take, and how can we solve the problem I mentioned in #4182 via `setWepackConfig`

[2018-02-22 14:55] jquense commented on #4179
Webpack loaders are executed in order, and you have many tests for the same thing. if you want to handle svg files special, then you don't need combine it with the existing rule, just add a new one

[code]

For an easier syntax using something like your immutability helper would make it simple for you.

Yeah and thats generally frustrating for users, we don't want make breaking gatsby in confusing

[2018-02-22 15:05] nihgwu commented on #4179
You are still using `replaceWebpackConfig` to solve the svg problem, that's also the way I'm using now.
perhaps it's the **set**WebpackConfig make me thought that I can set particular rules instead of concatenating, it's actually an **extend** way, but we **set** plain value and **extend** array
What about adding a new action `updateWebpackConfig` which backed by `immutability-helper`

[2018-02-22 15:10] nihgwu commented on #4179
BTW, you still haven't answer the problem in #4182, I don't think we can solve that via `setWebpackConfig` as before because it modifies the `include/exclude` field

[2018-02-22 15:35] clearsensespw commented on #3727
hey guys - do the devs have a plan to fix this ? im a new user of gatsbyjs, but am creating a structure where each folder has many subfolders and results in a page constructuted. This could include a bunch of images, yaml files, etc.
On gatsby build, these directories need to be inspected (as many as there are ) and pages created for it.

Would really really appreciate a better file+directory iter

[2018-02-22 15:37] jquense commented on #4179
I think that would add another api for folks to learn without really providing a specific benefit over `replaceWebpackConfig`. You can use `immutability-helper` yourself with `replaceWebpackConfig`. I think you seem to be trying to avoid this api when it's designed to meet the need you have, which is specific, more advanced, merging/editing of the webpack config.

[2018-02-22 15:40] jquense commented on #4179
I think thats correct, `setWebpackConfig` is not the right api for doing this, but I don't think that's a bad thing for the various reason's i've specified above.

[2018-02-22 16:13] erquhart commented on #4031
@peduarte can you try it now and close this if things are working?

[2018-02-22 18:10] peduarte commented on #4031
@erquhart sure, will do!

[2018-02-22 18:14] talves commented on #4031
@peduarte you may have to `yarn upgrade gatsby-plugin-netlify-cms` , it updates the sub dependencies.

[2018-02-22 18:22] nobuti opened #4190 "[question] Private wordpress blog"
I just set up a wordpress api integration and it works great, but when I configure the blog as private one in wordpress.com, the api returns 404. The thing is I have to fill the credentials in the `
gatsby-source-wordpress` configuration, is there any way to achieve this?

[2018-02-22 18:24] peduarte commented on #4031
Beautiful, great work everyone 🎉

[2018-02-22 18:24] #4031 closed

[2018-02-22 18:34] patrickodacre commented on #4093
I'm seeing this issue, too. Bare bones Gatsby install. Just added transformer remark. Most edits to my .md file break the develop build and I have to restart the server to get it working again.

[2018-02-22 19:24] ryanwiemer commented on #1502
@Khaledgarbaya, any update on the plugin? This sounds like just what I need for a new Gatsby Starter I am creating.

Let me know what help you need in order to finish this out.

[2018-02-22 19:55] szimek commented on #3183
@MaralS Which Gatsby starter are you using? I just created a new app using the default one and it works fine. I see that you got many more gatsby-* packages than I have:
[code]

[2018-02-22 20:50] pibemillo opened #4192 "[question] using URL parameters for dynamic page"
How would I go about using URL parameters on a page to display different data?

Ex. `domain.com/dyanamic-page/?param=dogs`

Page would then render data from a dog.json file and display something like "You like dogs".

Or ex. `domain.com/dyanamic-page/?param=cats`

"You like cats".

Just need to be pointed in the right direction, thanks!

[2018-02-22 21:10] dairyisscary commented on #4137
Oh, okay. That's unfortunate. For my particular use case, its fine since I always expect to produce at least one value, I'm going to close this issue; thanks for the help.

[2018-02-22 21:10] #4137 closed

[2018-02-22 21:24] KyleAMathews commented on #4176
Oh interesting! Yeah, this would be the case. So these transformers would need to track the new nodes they create the second time around against those they made the first time and delete any nodes  that didn't get created again. `gatsby-source-filesystem` does this but derived nodes won't. If a File node is deleted, we do delete any transformed child nodes. But in this case, only the transformers

[2018-02-22 21:24] KyleAMathews commented on #4176
(Thanks for the nice reproduction as well! Makes it very easy to fix)

[2018-02-22 21:25] bvaughn commented on #1754
This issue has come up again. All of the reactjs Netlify builds have been failing this week with the same error. They work only if I re-run without cache.

Has anything changed recently on the Gatsby side that would account for this?

I don't have the bandwidth to dig into it at the moment, but will try to find some time soonish.

[2018-02-22 21:26] lourd commented on #4176
👍For sure, you're welcome

[2018-02-22 21:27] KyleAMathews opened #4193 "Detect if the site named passed to "gatsby new" is a URL"
I tried creating a site just now with `gatsby new https://github.com/etc/etc` and Gatsby helpfully created a new default starter deep into a nested set of directories `https: >> github >> etc >> etc`.

This is a reasonably easy accident to make, be trying to create a site from a starter and forget to set the site name. To catch this, we should test the site name if it looks like a URL and if it do

[2018-02-22 21:37] nickeblewis commented on #1754
I’ve had similar issues with builds for my website this week and likewise I’ve not had much time to investigate. If I get the time, I will try running a similar debugging process to see if it’s the same as reported by other people in this thread.

[2018-02-22 22:02] bvaughn commented on #1754
If you beat me to it, I'd be grateful for any notes you left here about your findings :)

[2018-02-22 22:05] KyleAMathews commented on #4176
Hmmm ok, this is a deeper flaw than I thought. When a node is changed or deleted we should always recursively remove previously created children nodes as all of them are "dirty" due to their being derived from a now changed ancestor node.

I'll modify deleteNode to be recursive + change the createNode behavior that when there's a previously created node with the same ID, that before recreating the

[2018-02-22 22:07] KyleAMathews commented on #4176
Oh and fun fact about why I've never seen this before. My Vim install is setup to write new changes to a temp file, delete the old copy, and then move the temp file over. For reasons I now forget 🤔 but in any case, Gatsby has always worked perfectly in this regard for me as it'd first delete the old node then recreate it for me :-D

[2018-02-22 22:11] lourd commented on #4176
Hahaha, that is one hell of a masking effect.

Yeah, I had a hunch the solution would be lower than the transformer plugins. Sounds like a good plan of attack to me!

[2018-02-22 22:46] calcsam commented on #4190
Yes, you can read the documentation here, you'll want to add `wpcom_user` and `wpcom_pass` fields: https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress

[2018-02-22 22:55] #4047 closed

[2018-02-22 22:58] KyleAMathews commented on #4192
Check out `this.props.location` as it has all the url info parsed out. Good luck!

[2018-02-22 22:58] #4192 closed

[2018-02-22 22:59] KyleAMathews commented on #1754
Nothing has changed here — Netlify did an update to their Docker build image I believe which updated Yarn and other things which might be affecting things. But none of our sites e.g. gatsbyjs.org were affected (though I think we explicitly set the YARN_VERSION though).

[2018-02-22 23:12] #4190 closed

[2018-02-22 23:13] #3423 closed

[2018-02-22 23:17] fabioespinosa commented on #1886
I'm just starting to use Redux with gatsby...

Two questions came to mind that might have something to do with what the OP asked:
1) If you're not using react-router-dom you're fine by just using the wrapRootComponent lifecycle API right? No need for the replaceRouterComponent?

2) Why are almost all examples that use Redux w gatsby have react-router-dom in `gatsby-browser.js`? is react-router-dom

[2018-02-22 23:31] #4176 closed

[2018-02-22 23:33] #4142 closed

[2018-02-22 23:51] lourd commented on #4176
That was quick, nice work!

[2018-02-23 00:00] bvaughn commented on #1754
You're doing this via the "Build environment variables"?

[2018-02-23 00:01] KyleAMathews commented on #1754
Yeah.

BTW, does it build locally? Or are you having troubles there too?

[2018-02-23 00:06] bvaughn commented on #1754
Sharp has on again, off again caused pain for me locally too. I think we've chatted about it a time or two. Generally a clean install fixes it.

[2018-02-23 00:06] bvaughn commented on #1754
Which Yarn version are you pinned to btw

[2018-02-23 00:11] KyleAMathews commented on #1754
0.27.5 actually 🤷‍♂️ weird.

BTW, @lovell is close to a new release of Sharp that'll download pre-built binaries instead of trying to build them https://github.com/lovell/sharp/issues/186#issuecomment-359923815 🎉

[2018-02-23 00:23] yeskunall commented on #4193
I've actually done this a few times. PR's up for review!

[2018-02-23 00:52] bvaughn commented on #1754
Oh my goodness, that would be a nice improvement

[2018-02-23 03:25] #4193 closed

[2018-02-23 04:10] KyleAMathews opened #4200 "Add postinstall hello script to official starters"
Saw this on a starter @stefanjudis is building for Contentful and it's a nice pattern we should copy https://github.com/contentful-userland/gatsby-contentful-starter/blob/af2b3dc5284319eba95f0bdec7019c40754c0b53/package.json#L46

[2018-02-23 04:32] yeskunall commented on #4200
Oo, that's a nice one! I'll get on it! I think I'll start by shamelessly copying the content in https://github.com/contentful-userland/gatsby-contentful-starter/blob/af2b3dc5284319eba95f0bdec7019c40754c0b53/bin/hello.js#L4-L30 as a starting point. You should see some PRs popping up in each of the starters soon enough! 😅

[2018-02-23 04:44] DanielRSnell commented on #2796
I noticed I was having performance issues with page creation using Semantic UI and as soon as I commented it out it started working. I was doing about 1800 pages.

[2018-02-23 07:29] KyleAMathews opened #4201 "[RFC] Create Gatsby desktop app with focus on helping non-programmers start and develop and publish Gatsby sites"
To use Gatsby currently you need to:

* Install Node.js
* Install gatsby-cli
* Start a new project by running `gatsby new my-project-name`
* Navigate in the terminal to the correct directory
* Run another command to start the gatsby develop server
* Interpret & resolve the inevitable sometimes cryptic errors Node or Webpack or Babel or Gatsby or N other subsystems will throw at you

Granted this i

[2018-02-23 07:32] MaralS commented on #3183
@szimek
I used the gatsby-starter-default, but I installed other plugins in order to have my own ready-to-use project :)
[You can clone my repo here](https://github.com/MaralS/gatsby-boilerplate) if you want to test.

[2018-02-23 07:44] lovell commented on #1754
@bvaughn Any time you have to help test https://github.com/lovell/sharp/issues/186#issuecomment-362691105, especially as you've been experiencing problems with multiple yarn versions and caching, would be very much appreciated, thank you.

[2018-02-23 08:04] YoavRheims commented on #4201
An app using Electron?

[2018-02-23 08:12] nobuti commented on #4190
I'm missing something for sure, because I have filled those fields, but still I get `The server response was "403 Forbidden". Inner exception message : "User cannot access this private blog." No routes to fetch. Ending.`.  This is the related config:
[code]
Like I said if I set the blog hidden or public, all the things go fine, but when it's private I get the error above.

The documentation you li

[2018-02-23 08:39] pgegenfurtner commented on #4201
I'm currently working on a componet library for building websites with gatsby; trying to get a visual editor working (example: https://github.com/ory/editor).

This combined with a theme-system (like the gatsby-manor approach) in one desktop app,  would be really awesome. It would enable many non-programmers to build great and fast sites.

I can see a lot of potential.

[2018-02-23 08:45] stevenandersonz commented on #4201
Hello, I'm want to start doing open source, and I would like to help you on this, the idea is awesome and I want to be part of it, in any way if it is possible  💃 .

[2018-02-23 08:49] ajayns opened #4202 "[gatsby-source-hackernews] Does it need to rebuild everytime for new posts?"
I was recently working with `gatsby-source-hackernews` plugin and I realized that all the data is queried on build and it's used as nodes in Gatsby. So for a deployment, which is supposed to update each time on reload, to show new posts, what is the method to be followed?
Or when it's called static does it mean it's not supposed to update?

[2018-02-23 09:00] jesperkc commented on #1854
Is there a way to show both current and next page on top of eachother using @KyleAMathews example?

[2018-02-23 09:10] sedubois commented on #4201
It would be awesome to create Gatsby sites directly from the browser to lower the barrier even more 😛
Something inspired or built on top of StackBlitz, CodeSandbox or similar ideas.
With a one-click deploy button (to Netlify etc).

[2018-02-23 09:14] sandys commented on #2586
hi @ooloth @hhsadiq @KyleAMathews im also interested in this. We have a gatsbyjs site and we want to add a fair bit of dynamic pages ... not dissimilar to an ecommerce site.
For example a list of products on the home page (which comes from an api)

/product/1234 -> should render the product page based on data from an external api.

so its kind of a mix between a static site and a dynamic site. we

[2018-02-23 09:42] varenya commented on #4201
we could do something like this: http://formidable.com/blog/2017/introducing-electron-webpack-dashboard/ with bunch of options that @KyleAMathews underlined i think we can probably extend it

[2018-02-23 10:10] pieh commented on #4201
I can see tool like this could be very helpful in at least 2 cases:
- to lower barrier of entry for people that want to try/start webdeving - so they don't have to setup all the needed tools before doing any actual core webdev stuff - they will surely later on will need to get familiar with terminal and cli tools etc, but if they don't have to start with it this could be very helpful
- for content

[2018-02-23 10:15] maxlibin commented on #4201
Idea is kind of like: https://alibaba.github.io/ice/#/iceworks
https://alibaba.github.io/ice/#/iceworks/start

[2018-02-23 10:20] pieh commented on #2586
@sandys You can do dynamic parts of pages (normal react way) or whole pages (on client) - https://www.gatsbyjs.org/docs/building-apps-with-gatsby/

[2018-02-23 10:23] tsriram commented on #4201
This sounds really cool. This should definitely make getting started and working with Gatsby a breeze for non-programmers (and programmers too!). Apart from adding starters directly, we could actually have a wizard where users select content source, deployment target (from the list which can grow over time) etc. and relevant plugins can be added and their options be configured automatically in the

[2018-02-23 10:35] elrumordelaluz commented on #3341
this worked for me:
[code]
However could be awesome to have a way to `build` production ready big website (I mean with lot of pages) without those `size` tweaks.

The error I get building with raw `gatsby build` is:

[code]

@KyleAMathews could you expand a little more on this. I'm interested since I am creating lots of pages fetched from a custom API end point and some loop to paginate them and s

[2018-02-23 10:46] hhsadiq commented on #2586
@pieh thanks.

So basically we can use plain old react to fetch the dynamic data using normal AJAX/API calls. That is awesome. Just one question left. When fetching the data for static (most powerful) part of gatsby, we have to use GraphQL..right?

Actually, the only hurdle in fully adopting the gatsby in our current production project is GraphQL. Although we really like the GraphQL and have decid

[2018-02-23 10:59] YoavRheims commented on #4201
I think that would be awesome to have an app running automatically all the things that make Gatsby. Doing that will increase the users who are no developers, newbies or just some bloggers. I think it's a logical step toward more awareness about Gatsby as a CMS.

What about some more basic functionalities such as user accounts, backup, template types content, etc all neatly available through a GUI

[2018-02-23 11:11] Kikobeats commented on #3780
Oh, I think I found the point:

[code]

so gatsby is trying to resolve the `deps` file. Actually it's a javascript file (real file name is something like `buble.deps.js`).

Could be possible add a webpack setup for avoid transpiling this file? just ignore it

[2018-02-23 11:13] LeKoArts commented on #3708
Sooo, want to mention some more plugin/source creators. Would be cool if you add your plugin to the list!

Source plugins:
@ryanflorence @angeloashmore @pierreburgy @jondubin @danoc @Necmttn @mpartipilo @taessina @G100g @codingdefined @frikille

Plugins:
@designbyadrian @mikefowler

[2018-02-23 11:17] pieh commented on #2586
@hhsadiq you can pull data from your rest API and insert it into gatsby data store (this is actually what most of the source plugins do). Gatsby will automatically create graphql schema and queries you can use based on data you put into its store.

Reason it was designed like that is because in graphql queries you can specify exact minimal subset of data that is needed to render the page so when p

[2018-02-23 11:27] sandys commented on #2586
@pieh what you said above is pretty much superb. Both for dynamically created pages (/products/1234) and getting data from rest api and making it available as graphql data (as part of the app and not as separate plugin) - are there any sampls/starters for this ?

this is what we have been struggling with

[2018-02-23 12:46] fk commented on #1754
_FWIW_ (might be unrelated) I also had a project using Yarn 0.27.5 in `netlify.toml`. Last week I decided to bump that to the latest stable Yarn—which I think was 1.3.0 at the time—and ran into build problems with Netlify after that. Then I stumbled upon #3570 and according to the information there gave Yarn 1.4.0 a try, but still had issues. I followed 3570#issuecomment-363591653 by @lourd to htt

[2018-02-23 13:57] jbolda commented on #4201
Putting in my vote for stackblitz, but I think regardless this will be in involved with the dependence on fs.

/cc @EricSimons

[2018-02-23 13:58] deltaskelta commented on #4162
@KyleAMathews this fix took care of about 70% of the crashes, but it still does crash sometimes with the same error. Would you like me to open up a new issue or reopen this one? or can nothing else be done about it

[2018-02-23 14:20] mpartipilo commented on #3708
@LeKoArts I am not 100% happy with my source plugin yet, but perhaps more visibility and feedback is exactly what it needs. I'll work on a PR over the weekend.

[2018-02-23 14:22] subsid commented on #4163
I am having the same problem. Making a change to a *.md file causes the data returned to be empty. I can also confirm that removing the empty query from `component.js` as suggested by @jonavila fixes the problem.

[2018-02-23 14:29] imshuffling opened #4206 "'Using drupal' example not working"
## Description

Trying to run the "Using drupal" example here - https://github.com/gatsbyjs/gatsby/tree/master/examples/using-drupal

### Environment

Gatsby version: 1.1.44
Node.js version: v9.2.0
Operating System: Sierra

### Actual result

<img width="1203" alt="screen shot 2018-02-23 at 14 28 31" src="https://user-images.githubusercontent.com/739061/36599019-e9aaf06e-18a5-11e8-881c-185c31c2379

[2018-02-23 15:08] stinodes commented on #1043
Ran into the same issue, I was on version `1.9.202`.
Downgrading to `1.9.199` fixed it.

[2018-02-23 15:10] mikefowler commented on #3708
@LeKoArts thanks for the tag! Similarly, I'm not quite ready to call https://github.com/mikefowler/gatsby-plugin-collections ready for production. Been traveling the past month, but hoping to make a 1.x release in March :)

[2018-02-23 15:22] trickydisco78 commented on #4003
I'm getting the exact same error using the datocms-source plugin

https://github.com/datocms/gatsby-source-datocms/issues/11

Have cloned their portfolio repo and getting the same error

[2018-02-23 16:02] Kikobeats opened #4208 "Building static HTML: toLowerCase is not a function"
Hello,

After update my gatsby dependencies, I strange issue apparead on my terminal on html build time:

[code]

I used the search and looks similar output to https://github.com/gatsbyjs/gatsby/issues/3804 but non related with the same resolution; I tried different things and nothing changed.

### Environment

Gatsby version: `1.9.209`
Node.js version: `9.6.0`
Operating System: macOs Sierra `10.1

[2018-02-23 16:18] kevinhughes27 commented on #4144
I'm assuming its because of the directory or possibly the fact that its a hidden directory. I can look into it  further on my own but I'd appreciate some help on where to start in the Gatsby code base

[2018-02-23 16:28] KyleAMathews commented on #4162
@deltaskelta hmmm bummer. We can keep the same issue going.

Is it the exact same error though? Or is the stack trace different?

[2018-02-23 16:31] pieh commented on #2586
Information on this isn't really consolidated in one self contained guide or tutorial (maybe we should put more focus on it).

I'll try to write up short intro here so it would be easier to dig up more detailed information in documentation:

Gatsby for its data store use collection of Nodes ( https://www.gatsbyjs.org/docs/node-interface/ ). Each node represent single data entity (for example singl

[2018-02-23 16:35] pieh commented on #4144
If `.well-known/brave-payments-verification.txt` is on your gh-pages then I would check CDN side of things

[2018-02-23 16:35] KyleAMathews commented on #4208
Hmmm hard to say. This is a pretty common error so try googling around. I think it's something to do with the capitalization of your JSX.

[2018-02-23 16:36] KyleAMathews commented on #4208
It's almost certainly not a Gatsby error though so I'll close the issue.

[2018-02-23 16:36] #4208 closed

[2018-02-23 16:38] deltaskelta commented on #4162
Here is the trace, looks like it was coming from my `gatsby-node` this time
[code]

[2018-02-23 16:47] kevinhughes27 commented on #4144
I've cleared the CDN a few times and tried turning it off. I get a 404 from Gatsby loader. What else should I try on the CDN?

[2018-02-23 16:53] KyleAMathews commented on #4162
Ok, added another PR that follows up on some work I did yesterday + adds a fix for the above issue https://github.com/gatsbyjs/gatsby/pull/4209

[2018-02-23 17:15] deltaskelta commented on #4162
This crash happened very sporadically so I will close and assume it is fixed for now

[2018-02-23 17:15] #4162 closed

[2018-02-23 18:46] ooloth opened #4211 "GraphQL question: Can query values refer to each other?"
A GraphQL-with-Gatsby question:

If I store my data in `src/data/example.json` like this...

[code]

...and I query it with `gatsby-transformer-json` like this...

[code]

...is there a way to use the result of `imageWidth` as the `maxWidth` value in the query (instead of `3000`)? Something like this:

[code]

The above attempt doesn't work, but I'd love to know if there's a way to accomplish it.

[2018-02-23 19:09] LeKoArts commented on #4211
Do you use this query for a file in `/templates` directory?

[2018-02-23 19:10] pieh commented on #4211
if `imageWidth` in json is actual width of the image (and not some arg) then `gatsby-plugin-sharp` will use lower of the `maxWidth` arg and image width, so for this use case you don't need anything like this - just use high enough maxWidth

[2018-02-23 19:18] KyleAMathews commented on #4211
It seems you're confused about `maxWidth` — this should be the `maxWidth` of your design — not your images.

If your design has a fluid-width column whose max-width is 800px, you set `maxWidth` in the query to 800. Then Gatsby will make thumbnails with widths smaller and larger than 800px so whatever the actual width of the the fluid column, your browser will download the correct image.

[2018-02-23 19:23] ooloth commented on #4211
Ohhh!

@KyleAMathews Thanks for clarifying this. I was confused. This makes things simple. Much appreciated!

@LeKoArts I use a query like that in a file in the `src/pages` directory (querying JSON stored in a `src/data` directory.

@pieh Good to know that Sharp uses the lower of the `maxWidth` and the image's actual width! That was my main concern.

Thanks everyone.

[2018-02-23 19:23] #4211 closed

[2018-02-23 19:46] sandys commented on #2586
@pieh this is the most awesome explanation that i have found anywhere! thanks so much for that.

is there an example of this - pulling data from rest API and inserting into the data store ?

I'm trying to take what you wrote above and am trying to see how it  melds with dynamic pages.
Let's say we have a dynamic page /product/1234 . it needs some data from a REST api to render this page.
Will this

[2018-02-23 20:05] jumpalottahigh commented on #4201
I've been thinking a lot lately about the part where you are able to add plugins through a GUI. I can see a lot of potential here!

[2018-02-23 20:13] huntercaron commented on #4201
Thanks for making this issue @KyleAMathews ! I've been thinking about this a lot.

I'm primarily a designer and will gladly work on the design for this. I think the initially goals outlined are really strong. Probably good to focus on simplicity and stability off the bat, then maybe have some of the things in this thread as some cool stretch goals.

[CodeKit](https://codekitapp.com/) might be inte

[2018-02-23 20:22] G100g commented on #3708
@LeKoArts PR opened. Thank you!

[2018-02-23 20:32] chasemccoy commented on #4201
In all honesty, I don't think this is a very good idea for Gatsby. Here's why:

The primary reasoning for this seems to be that a lot of people are not technically oriented enough to setup and install all the tools necessary to get a Gatsby site going. I would argue that if those things are outside of some user's comfort zones, then actually _building a site with Gatsby_ will be as well.

The part

[2018-02-23 20:57] s-kennedy commented on #3888
@k1r0s did you figure this out? My idea is to use a cloud function to build and deploy my gatsby site whenever an authorized user adds new content.

[2018-02-23 21:23] k1r0s commented on #3888
I guess you can use could function as a proxy, and dispatch user request to another server which is effectively serving static assets

[2018-02-24 00:08] KyleAMathews commented on #4163
I'm pretty sure this was causing the trouble. At least it fixed things when I reproduced the problem on gatsbyjs.org :-)

https://github.com/gatsbyjs/gatsby/pull/4213/files/cb52bc81b85f466e846da528bc0ec9b0eead9ec4#diff-a45448af33cc109010d5aab8911336dd

[2018-02-24 00:08] #4163 closed

[2018-02-24 00:09] KyleAMathews commented on #4093
This should have fixed the bug, thanks for your patience!

https://github.com/gatsbyjs/gatsby/pull/4213/files/cb52bc81b85f466e846da528bc0ec9b0eead9ec4#diff-a45448af33cc109010d5aab8911336dd

[2018-02-24 00:09] #4093 closed

[2018-02-24 00:54] Betree commented on #4163
@KyleAMathews I just tried with the latest update (gatsby@1.9.211), I'm still having this issue.

[2018-02-24 01:05] KyleAMathews commented on #4163
@Betree do you have a site where I could reproduce the problem?

[2018-02-24 01:06] KyleAMathews commented on #4163
@jonavila oh and just saw you pointed out the exact problem :-D

[2018-02-24 01:25] jonavila commented on #4163
@KyleAMathews 👍. I would have PR'ed a fix, but hadn't looked through the contribution guidelines and I'm fairly new to Gatsby 😄. I just texted the fix and it's working great.

[2018-02-24 02:07] nodox commented on #4201
I and Gatsby Manor fully support this initiative!

To add onto what @pgegenfurtner mentioned we also thought about what this would look like at Gatsby Manor because it fit our mission: deliver a fast site, with instant deploys, and beautiful themes to both (technical and non-technical) users. Thus we've put it on our roadmap. However if Gatsby provided this out of the box that would be awesome!

H

[2018-02-24 03:52] orf opened #4216 "1.9.210 causes 'TypeError: Cannot read property 'internal' of undefined'"
## Description

In 1.9.210 and above, running `yarn build` or `yarn dev` fails with an unhandled promise exception. In the stacktrace `gatsby-remark-copy-linked-files` is mentioned, but removing that from the build throws a similar error linked below this one in core gatsby.

Solution: pin `gatsby` to `19.209` and everything seems to work as expected.

[code]
And:

[code]
### Environment

Gatsby v

[2018-02-24 04:22] jbolda commented on #2662
I did a bit of riffing on how this might come together. I like the idea of composing layers within a theme. I also think it makes a lot of sense to import each of these from npm with the ability to "eject" out of each layer either in partial or whole as needed. With v2 planning to remove layouts and encourage the use of higher order components, it makes a lot of sense to head this direction with t

[2018-02-24 04:32] goldensunliu commented on #519
@dbismut so about https://github.com/gatsbyjs/gatsby/issues/519#issuecomment-257265919, next now support static exports as well!

[2018-02-24 05:24] Betree commented on #4163
@KyleAMathews here is the project with bare minimum files to reproduce the bug.

[gatsby-graphql-reload-bug.tar.gz](https://github.com/gatsbyjs/gatsby/files/1754066/gatsby-graphql-reload-bug.tar.gz)

Just run `npm install` then `gatsby develop`, open http://0.0.0.0:8000 and try to edit `src/pages/index.md`. On my local machine change is detected (recompiling) but needs server restart to take effec

[2018-02-24 05:30] deltaskelta commented on #4216
I can confirm I am getting the `of null` variety of the error starting with `1.9.210`

[2018-02-24 05:42] KyleAMathews opened #4218 "Add instructions for how to profile gatsby"
I found this gist from @kittens. We should make it easy to do something similar for Gatsby. Today's debugging session would have been far easier if I could have profiled my code.

https://gist.github.com/kittens/768c883f6c4523bc2499fc046d7e15d3

[2018-02-24 06:07] ajayns opened #4219 "[gatsby-source-drupal] Error when running the example site"
I've been trying to run the example for `gatsby-source-drupal` from `examples/using-drupal`. Running `gatsby develop` seems to be failing with the following errors:

[code]
Later:
[code]

[2018-02-24 06:26] orf commented on #4216
Tracked it down to https://github.com/gatsbyjs/gatsby/commit/a9377685475d1bdcff357101042795a3e94458ee

[2018-02-24 06:32] KyleAMathews commented on #4216
Sorry folks — missed this earlier. Had a test and everything but the test didn't catch it. Improved the test & fixed the bug. Will release once tests run.

[2018-02-24 06:40] KyleAMathews commented on #4219
It seems like our example drupal site is returning 404s http://live-contentacms.pantheonsite.io/

[2018-02-24 06:45] KyleAMathews commented on #4216
@orf spot on :-) sorry if I spoiled your fun — look like you were pretty close to fixing this :-)

[2018-02-24 06:48] orf commented on #4216
I was going to give it a shot, but I doubt I would have found that! I was studying the diff for a while and didn't spot the issue :(

Thanks for fixing it so quick though 👍

[2018-02-24 06:51] ajayns commented on #4219
This seems to be a duplicate of #4206
Should I close this issue or mention it there?

[2018-02-24 06:59] #4216 closed

[2018-02-24 07:00] KyleAMathews commented on #4219
Yeah, let's close this one.

[2018-02-24 07:00] #4219 closed

[2018-02-24 07:00] KyleAMathews commented on #4206
It seems like our example drupal site is returning 404s http://live-contentacms.pantheonsite.io/

[2018-02-24 10:48] gilesbutler commented on #1836
Seeing this issue too. Followed the advice and switch...
[code]
But still seeing the css output in the wrong order.

My styled components appear first then the sass imports are appearing last which ends up with normalize.css overriding everything.

[2018-02-24 11:49] ThePeach commented on #2414
@jmoujaes thank you for picking this one up, unfortunately I'm not working on that project anymore, but IIRC I had a plain `<a id="anchor">Anchor</a>` in the markdown, and in the generated page clicking on it will trigger a click event. As simple as that.

[2018-02-24 11:52] LeKoArts commented on #4201
I kinda have the same feeling like @chasemccoy that the current target audience of Gatsby is definitely people who know React and JS ecosystem at least a little bit. That's why I proposed a tutorial "Part Zero" with enough resources linked to learn JS (ecosystem) and React before using Gatsby.

If it's the goal to let non-programmers use Gatsby you probably have to go the "Wordpress way" and not j

[2018-02-24 12:07] ajayns commented on #4206
@KyleAMathews What can we do to get it up and running again?

[2018-02-24 12:08] emilbruckner commented on #4201
**Going full WordPress sounds like the right vision to me.**
Reducing the getting started section to one bullet is nice, but there is more to it.

#### TLDR
* Instead of a desktop app, make it a web-app + cloud-dev-server
* Create a Theme (Starter) Marketplace
* super easy CMS and hosting integrations

---

@chasemccoy is right with his bottleneck argument.
If you want to create a proper Gatsby-Si

[2018-02-24 13:42] nickmccurdy commented on #4201
I love this idea to make it easier for non-technical folks to get up and running with Gatsby. While there are pain points of setting up Gatsby past just installation and usage of a starter, I think those bottlenecks will become self evident. We shouldn't limit Gatsby to being a tool for "technical" users since this really is a great approach to fully replace CMSes and even other static site genera

[2018-02-24 16:09] UlisesTJ opened #4222 "hello I would like to collaborate with your project by serving as a translator to Spanish. could translate any document with text"
## Description

Describe the issue or the enhancement that you want to see.

### Environment

Gatsby version:
Node.js version:
Operating System:

### File contents (if changed):

`gatsby-config.js`:
`package.json`:
`gatsby-node.js`:
`gatsby-browser.js`:
`gatsby-ssr.js`:

### Actual result

What happened.

### Expected behavior

What should happen?

### Steps to reproduce

1\.

2\.

3\.

...

[2018-02-24 16:46] KyleAMathews commented on #4206
@ajayns it's possible http://www.contentacms.org/ changed their default url for the API. Could you research if they've changed something?

[2018-02-24 17:12] ajayns commented on #4206
@KyleAMathews I've checked it out, seems like they've changed their default endpoint from `/jsonapi` to `/api`

[2018-02-24 17:13] KyleAMathews commented on #4206
Cool! You want to fix the using-drupal example to use that instead? The source plugin lets you set the baseurl (it just defaults to `/jsonapi`)

[2018-02-24 17:23] ajayns commented on #4206
@KyleAMathews I've tried changing the code that defaults it to `/jsonapi` to make it default to `/api` but then that seems to lead to few new errors. If you could check it out and tell if something else is causing the issue, then I'll make a PR

[2018-02-24 17:24] KyleAMathews commented on #4206
Could you post the errors here?

[2018-02-24 19:04] CanRau commented on #4202
if i understand you correctly i would say you would need to have some more dynamic parts which fetch content on reload or whenever you want
so you build some parts statically maybe have the overall application/website statically so when the users enters the most part is already usable and then you load in the content

or, if it's not updating too often you could just build the whole thing statical

[2018-02-24 19:51] KyleAMathews commented on #4202
The actual files that are generated are only regenerated on build.

*data* can be refreshed or gotten new from the client as with any web site.

If you're building a HN clone, I'd just setup your CI to rebuild the site every 5-10 minutes or so the static data is fresh.

[2018-02-24 20:55] KyleAMathews commented on #4163
Thanks for the reproduction @Betree! With that, narrowed it down fairly quickly to your setting `path` on the page context — internally, we expect `context.path` to be the "page" path e.g. `/` in this case and use it to track dependencies between data and pages. Because `path` was now the path to the file that you passed in, when the markdown data changed, we weren't able to find the page that sho

[2018-02-24 20:58] acarl opened #4226 "Build issue when using gatsby-plugin-netlify-cms"
I'm receiving the following error on the production but not the develop build when using gatsby-plugin-netlify-cms. I was using this plugin before but on an older version of gatsby. After I upgraded gatsby (among other things) I am getting this error. If I remove gatsby-plugin-netlify-cms I no longer get the error.

[code]

Could this potentially be related to this recent pull request?
https://git

[2018-02-24 22:05] KyleAMathews commented on #3969
Going to work on this shortly.

I'll add two new actions — `setBabelPreset` and `setBabelPlugin`. Instead of the current API in v1 where you directly mutate the babel config, you'll add new babel plugins like the following:

[code]

I'll be changing the API for plugins from the non-standard `modifyBabelrc` to `onCreateBabelConfig`.

I'll also pass the same stage names to `onCreateBabelConfig` as a

[2018-02-24 23:30] martynhoyer opened #4227 ""Reserved field in the context object error" after updating Gatsby"
## Description

After upgrading Gatsby from `1.9.149` to `1.9.213` I get the following when running `gatsby develop`:

[code]

### Environment

Gatsby version: 1.9.213 (CLI 1.1.44)
Node.js version: 9.4.0
Operating System: macOS 10.13.3

### File contents (if changed):

Largely unchanged from the following repo:
https://github.com/AustinGreen/gatsby-starter-netlify-cms

[2018-02-24 23:45] pieh commented on #4227
Check https://github.com/gatsbyjs/gatsby/pull/4225 - rename your context params so it doesn't conflict with reserved field names (and adjust your queries to use newly used name)

[2018-02-24 23:49] KyleAMathews commented on #4227
Yeah, using `path` in context has silently been causing problems in people's sites. We just started validating against it in #4225.

@AustinGreen could you upgrade your starter?

[2018-02-24 23:49] #4227 closed

[2018-02-24 23:49] KyleAMathews commented on #4227
Actually, I'll make a PR real quick.

[2018-02-25 00:00] KyleAMathews commented on #4227
Hmm the warning could be improved by making it clear that `path` and other data on the page object are already passed to the graphql queries as arguments.

[2018-02-25 01:14] KyleAMathews commented on #4201
A few replies:

@nickmccurdy nice list of tools to check out! And agreed that trying to handle content would make things a lot harder. My view in general is that content editing is a specialized job best left to other projects. Gatsby's sweet spot is being the best way to hook up content to code and develop and build and deploy the site.

@emilbruckner sounds like an ambitious list :-D I agree wit

[2018-02-25 01:24] KyleAMathews commented on #1500
LOL, we really need to have a shirt with the butler lifting a glass like the movie https://giphy.com/gifs/the-great-gatsby-jNdw5Qmy5MOpq

[2018-02-25 01:24] KyleAMathews commented on #1500
That'd be pretty meta but funny still

[2018-02-25 02:24] sepehr500 opened #4230 "gatsby-inlined-css not working with netlify"
When I run `gatsby develop` or `gatsby build` locally, I can see the style tag with `id="gatsby-inlined-css"` and my styles are in the style tag, but when netlify builds by website, this tag is empty, and I get no styling on my site as a result. This was not an issue before, and only started a couple days ago even though I made no updates to any of my packages. Upgrading my packages to the latest

[2018-02-25 03:29] jquense commented on #3969
I went with the current behavior for a few reasons.

- The v1 behavior had a bunch of magically local plugin resolution that didn't seem to make sense given the other v2 changes
- There aren't really any babel specific things that are required for gatsby (yes?) since we already ship compiled the browser code provided by gatsby
- its MUCH harder to remove stuff from a config via an api vs adding it

[2018-02-25 04:37] muhajirframe opened #4231 "Consider using graphcool/graphql-playground ?"

[2018-02-25 05:04] ajayns commented on #4202
@KyleAMathews That is the answer I was looking for. Thank you, I'm closing this issue!

P.S It would really help if you could share some guide on doing that.

[2018-02-25 05:04] #4202 closed

[2018-02-25 05:53] leonbec opened #4232 "Failed at the sharp@0.19.0 install script."
## Description
When execute `gatsby new blog https://github.com/gatsbyjs/gatsby-starter-blog` (**many other template except the default starter all have this issue**)
npm logs error
[code]

### Environment

Gatsby version: 1.1.44
Node.js version: v8.9.4
Operating System: win 10