[2020-07-02 16:26] annez commented on #20082
The fix right now that works with the latest gatsby + you do not need to copy any other package version etc is:

In your `package.json`
[code]

Either using `yarn` or choosing to install the npm resolution piece. This works both dev and build.

[2020-07-02 16:28] pieh commented on #25478
Ok, this seems related to recent release of `xstate` package. Given that you use `yarn`, as a workaround could you add:
[code]

to your package.json file, rerun `yarn install` and try again?

[2020-07-02 16:29] barbalex commented on #20949
I am getting this:

[code]

[2020-07-02 16:29] ergunpp opened #25480 "Type error in .cache/navigation.js"
Hi,
I have newly launched a cloud9 instance for my gatsby developments and cloned a a prior project. The project returns success on gatsby develop; but whenever I click on a link in the app it throws the error:
<img width="600" alt="Screen Shot 2020-07-02 at 19 27 57" src="https://user-images.githubusercontent.com/24900951/86386296-3d70a780-bc9a-11ea-8ca6-9e4b4962c114.png">

Thanks for help.

[2020-07-02 16:29] brysbra commented on #25478
Experiencing the same issue when building.

[code]

[2020-07-02 16:30] robertjk commented on #25430
While reproducing the case, I found the bug. It was in my configuration:

[code]

I listed `gatsby-plugin-sass` two times. My mistake. Closing the issue. And thanks for the response :).

[2020-07-02 16:30] #25430 closed

[2020-07-02 16:31] barbalex commented on #20082
@brysbra yes, if I uncomment gatsby-plugin-offline I still get the error too. It simply mentions something else.

[2020-07-02 16:36] Js-Brecht commented on #20949
@barbalex That is probably the result of transpiling `resolve-module-exports.ts` to `resolve-module-exports.js`.  Should be able to fix it by moving `@babel/types` to Gatsby's production dependencies.  It will probably also need `@babel/runtime` moved to production dependencies, eventually.
https://github.com/gatsbyjs/gatsby/blob/ff4ce023f3714914fecaf15deed185d3c64c52b3/packages/gatsby/package.jso

[2020-07-02 16:39] stephencweiss commented on #25475
@pieh, it worked for me! (solves #25476).

Thanks!

[2020-07-02 16:39] diegomadeit commented on #25478
resolutions added but I get the same error as before.

[2020-07-02 16:44] alexjsdev commented on #20082
FWIW, in debugging our builds we've found that any plugin (including our local ones) that use the `createPages` API with the latest gatsby-cli version, error with this same error. In other words, I don't think this is specific to any plugin.

Separately it looks like there was an issue for dev builds when core-js was upgraded to v3 but it looks like that was reverted in the latest gatsby releases

[2020-07-02 16:47] joyfulelement commented on #17645
There had been discussions on https://github.com/gatsbyjs/gatsby/issues/13454 about the proposed requirement, POC experiments and action items on how Gatsby could provide first-class support for Google AMP.

As much as myself also looking for information about how to support Google AMP with Gatsby, correct me if I am wrong, but base on what I understand on people's prior attempts with various plug

[2020-07-02 16:54] barbalex commented on #20949
New case:
[code]

[2020-07-02 16:54] t2ca commented on #25478
Im having the same issue in projects that use a theme.

`error "gatsby-theme-blog-core" threw an error while running the createPages lifecycle:`

However i'm only having this issue on Netlify and not locally.

Also I started to see this warning during build:

`warn Warning: Empty string transition configs (e.g., `{ on: { '': ... }}`) for transient transitions are deprecated.`

[2020-07-02 17:07] barbalex commented on #20949
More cases:
[code]

[2020-07-02 17:09] Js-Brecht commented on #20949
@barbalex Gatsby is unable to resolve the plugin defined here, because it doesn't keep `babel-plugin-styled-components` as a dependency (nor should it):
https://github.com/gatsbyjs/gatsby/blob/ff4ce023f3714914fecaf15deed185d3c64c52b3/packages/gatsby-plugin-styled-components/src/gatsby-node.js#L10-L18

That would need to be defined with an absolute path, but Gatsby uses that `name` property for ded

[2020-07-02 17:11] nugoo1 commented on #20082
Same issue here

[2020-07-02 17:16] barbalex commented on #20949
@Js-Brecht seems like you have your work set...

[2020-07-02 17:18] kondricz commented on #20082
Why is this issue closed? :)

For me it seems to be an infinite amount of bugs, using the following versions seemingly fixes it:

    "gatsby": "2.23.17",
    "gatsby-cli": "2.12.54",

However, locally I can finish build with this combination. But once it is running on the CI I receive this:

[code]

any idea why?

[2020-07-02 17:21] Js-Brecht commented on #20949
Ahaha... yes, I would love to fix these issues, but unfortunately, I don’t have the time.  It would probably be a few weeks before I’d be able to squeeze them in.

[2020-07-02 17:28] anonimoconiglio opened #25481 "RangeError: Maximum call stack size exceeded - map-pages-to-static-query-hashes.js"
I already tried everything :(
From reset and remove `/node_modules` folder, the `package-lock.json` – as well as update `gatsby-cli`, and all my packages.

I'm stuck with this error that appears just before the  development build process (that remains successful just for a bit) :

![image](https://user-images.githubusercontent.com/22715417/86390967-47de7180-bc99-11ea-97d5-236edd9f6384.png)

Here's

[2020-07-02 17:35] kondricz commented on #25481
following:

For me it seems to be an infinite amount of bugs, using the following versions seemingly fixes it:

    "gatsby": "2.23.17",
    "gatsby-cli": "2.12.54",

However, locally I can finish build with this combination. But once it is running on the CI I receive this:

[code]

any idea why?

EDIT: It is github actions on an ubuntu-latest container, running NPM.

[2020-07-02 17:35] hiramoto commented on #20082
Same issue here.
![image](https://user-images.githubusercontent.com/4223173/86391988-a7f30900-bcd5-11ea-8e85-9912d1186547.png)

In my case, the build succeeds but see this issue on GitLab.

[2020-07-02 17:36] kondricz commented on #20082
@hiramoto having these version fixed this:

[code]

once You update, You will get the next one

[2020-07-02 17:40] Szegerege12 commented on #20082
@kondricz same error here on:
`    "gatsby": "2.19.24",
    "gatsby-cli": "2.12.35",`

[2020-07-02 17:46] Szegerege12 commented on #25466
Got same issue on
`    "gatsby": "2.19.24",
    "gatsby-cli": "2.12.35",`

Any ways to fix? Gatsby build works only local.

[2020-07-02 18:01] herecydev commented on #25477
@NickBarreto is correct about that query being wrong. It shouldn't have variables, it needs to evaluate.

Try:

[code]

[2020-07-02 18:02] rootlinux2 commented on #20082
Same Issue here, I just delete everything "cache", "node_modules", "public", "yarn.lock", make a fresh install, update my gatsby-cli to the latest version.
![image](https://user-images.githubusercontent.com/24574267/86394479-a6d9c180-bc6c-11ea-8b45-ffb9a6fc9c00.png)

[2020-07-02 18:03] adamelliotfields commented on #25478
@t2ca I was seeing the "Empty string transition..." warning as well after upgrading Gatsby. The warning is from the `xstate` library which Gatsby uses under the hood. The warning was added in `xstate` v4.11.

To mute the warning, I installed `xstate@4.10.0`. You could accomplish something similar with Yarn resolutions, if you use Yarn.

[2020-07-02 18:20] pieh commented on #25478
Yeah, `xstate` added deprecation warnings in 4.11, which in some cases cause the "Reducers may not dispatch actions." weird errors. That's why I thought resolution would help :/

For those cases - if you run `gatsby build` locally it runs fine, but if you would run `npm run build` / `yarn build` you would likely see same error. This also could explain why it fails on netlify if you use `npm`/`yarn

[2020-07-02 18:24] diegomadeit commented on #25478
@t2ca In my project I'm also using a theme. Similar to you in my case the error is in the pipeline but locally builds good.

I added the resolutions manually, I'm having issues setting resolution in a workspace, any suggestions?

[2020-07-02 18:26] kondricz commented on #20082
[code]

I am using these versions and it is working perfectly. It does not give me error about maximum call stack.

[2020-07-02 18:26] kondricz commented on #25481
@anonimoconiglio try please:

[code]

[2020-07-02 18:27] adamelliotfields commented on #25478
Yeah, I deleted my comment after I realized I wrote almost exactly what you did (great minds), but for what it's worth, `npm install --save-exact xstate@4.10.0` is working for me to silence the warning.

For the first issue, `npm install --save-exact gatsby-cli@2.12.55` worked for me (seems to be a bug in `gatsby-cli@2.12.56`).

[2020-07-02 18:37] lewismorris commented on #25475
@pieh yup working great now. Thanks for the quick fix, really appreciate it.

[2020-07-02 18:41] Ex4l commented on #20082
I had exactly the same issue. I did not have gastby-cli installed in my project.

I just installed it and it's building correctly in local and in circle-ci.

[2020-07-02 18:52] aaronadamsCA commented on #25481
I ran into this same crash loop following an update earlier today, so it isn't isolated. A rollback resolved it. I think it's one of today's updates.

I'll try selectively updating packages to find the culprit. Here's my current (working) vs. latest (broken):

[code]

[2020-07-02 19:10] GhaithZamrik opened #25484 "Warning: Empty string transition configs (e.g., `{ on: { '': ... }}`) for transient transitions are deprecated."
When running `gatsby build` command I am getting the following warning:
[code]
Having in mind that everything **works fine when running the project in development mode.** `gatsby develop`
And since it's happened the site styling and performance has been broken in some instances
can someone elaborate please what this is exactly, and why I might be getting it?

[code]

would appreciate any feedback,

[2020-07-02 19:22] mathieudutour commented on #20082
The issue is tracked here: https://github.com/gatsbyjs/gatsby/issues/25478 and will be solved by https://github.com/gatsbyjs/gatsby/pull/25483

[2020-07-02 19:23] pieh commented on #25478
I opened https://github.com/gatsbyjs/gatsby/pull/25483 to adjust xstate code, but we can't fix older releases, those will need to rely on `yarn resolutions` or `npm install --save-exact` tricks to not install `xstate@4.11.0` and keep it on lower version (4.10.0 for example)

[2020-07-02 19:41] aaronadamsCA commented on #25481
(Note there might also be an ongoing npm ecosystem problem right now, because without my current package.lock file Gatsby is crashing with completely different errors than this one.)

[2020-07-02 20:15] #25397 closed

[2020-07-02 20:30] pieh commented on #25478
I just released `gatsby@2.23.18` that should fix the issue

[2020-07-02 20:34] juanjoseluisgarcia commented on #25451
Apologies for commenting on the general repo. The plugin I refer to is `gatsby-plugin-gdpr-cookies` It seems really that it needs work both in the plugin itself and the docs.

[2020-07-02 20:36] tomthornton commented on #25466
It’s working for me now 👍

[2020-07-02 20:37] sameersegal commented on #25466
For me too!

[2020-07-02 20:57] Korede-TA commented on #16621
yeah that's correct, i mean `gatsby develop`

[2020-07-02 21:01] vscncls commented on #25478
`gatsby@2.23.18` fixed the issue for me

[2020-07-02 21:16] brysbra commented on #25478
`gatsby@2.23.18` fixed this for me as well. Great job guys and thanks a bunch!

[2020-07-02 21:36] samuelgoddard commented on #25466
Fixed :) Thanks all

[2020-07-02 21:40] marcelo-umg commented on #25481
I've been with this exact same error the whole day.
[code]

I tried the versions you mentioned @kondricz and it didn't work.

[2020-07-02 21:48] marlomgirardi commented on #25421
I've tried it for a bit and in the production build, it stops the process as expected. The problem was that the field was not being used.

For the develop build in the reproduction branch it stops with this error.
![image](https://user-images.githubusercontent.com/5932332/86411703-5aff3a80-bcb5-11ea-96bb-ab9c536635a0.png)

And in the project that I'm working on, don't have this error. I just need

[2020-07-02 21:54] tesseralis opened #25485 "enhancement(www): (Re)-add "Last updated" field for gatsby docs"
## Description

Re-add a "Last updated" field for the markdown documentation that shows when the page was last updated (according to git logs)

## Background

This feature was previously implemented in  #19391, but there was a bug: the "Last updated" date was always displayed as the last time the site was built. The feature was removed in #25397 to prevent confusion, but we'd like to add it back.

[2020-07-02 22:07] rajanmagar commented on #25475
@pieh Yeah it's working now. Thanks.

[2020-07-02 22:10] pablo67340 commented on #25478
Nothing more satisfying than googling a problem that you've never had before only to find a GH issue created hours before you looked. Working for me too, thanks so much everybody who maintains this project! <3

[2020-07-02 22:18] g-mayer commented on #25484
@GhaithZamrik I was just getting this bug. I think because I recently updated the gatsby-cli to the latest version. I was able to get past that error by updating my gatsby dependencies. If you also just updated gatsby I would try updating "gatsby-plugin-offline" to the latest version.

[2020-07-02 22:19] Js-Brecht commented on #16621
@Korede-TA what version of node are you running?

Do you mean that hitting CTRL-C fails to end the process?  Or does it successfully end the process and leaves the terminal in an unusable state (output mangled/input hidden)?

One way to test would be to start your process, then do a `ps -ef |grep gatsby` and take note of your process id (second column).  Now, when you hit CTRL-C, go look at the ou

[2020-07-02 22:23] Pyrax commented on #24132
Did some short investigation on this today.

The problem is that code blocks on the page are not rendered server-side. As the offsets of all anchors are calculated once when the sidebar component is mounted, they are calculated before any code blocks have been rendered ([scroll-sync-sidebar.js#L20](https://github.com/gatsbyjs/gatsby/blob/6cf45884f8b53752d70accd0b96cae4548cf5f8c/www/src/components/

[2020-07-02 22:32] wardpeet commented on #25478
Thank you for opening this,

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-07-02 22:32] #25478 closed

[2020-07-02 22:41] alchi126 commented on #25484
fyi I was getting this error as well as ERROR #11321 PLUGIN. Error while running the createPages lifecycle: Reducers may not dispatch actions. The fix for that was found [here ](https://github.com/gatsbyjs/gatsby/issues/25478#issuecomment-653207216) (bump gatsby to 2.23.18) which resolved this warning for me as well.

[2020-07-02 22:48] ryparker commented on #25484
@alchi126 That worked. Thanks!

[2020-07-02 23:03] mlaroy commented on #23121
for me, this error was something to do with not being able to find something in `prettier`, as opposed to babel, though the code was the same. The issue was VS Code automatically creating an import (offscreen) from a typo when I was in the middle writing a function, and VS Code figured I wanted to import some module, when in fact I did not. I checked through my files and found a stray `import { so

[2020-07-02 23:14] fraserisland commented on #25481
Downgrading to ```gatsby@2.20.10``` resolved this for me. The issue was occurring with both npm and yarn.

[2020-07-02 23:25] anonimoconiglio commented on #25481
Hi @kondricz, `gatsby@2.23.5` works

[2020-07-02 23:41] LordLalwani commented on #25151
@ascorbic

Yep, I'll give it a go after work today and get back to you (I just started so within the next 10-12 hours)

[2020-07-02 23:44] #25475 closed

[2020-07-03 00:08] #23258 closed

[2020-07-03 00:08] #22004 closed

[2020-07-03 00:09] #15163 closed

[2020-07-03 00:26] timfee commented on #25481
+1  to this happening on:
[code]

2.23.5 still borked here.

[2020-07-03 00:35] polarathene opened #25487 "[Tracking]: gatsby-image PRs waiting on review and merge"
As these are starting to pile up and age, I created this issue to keep track of them.

I've tried reaching out several times for review to my PRs, and I've reviewed several others related to `gatsby-image`. @wardpeet is assigned to most, but seems to be rather busy lately with other work. I'd appreciate it if someone could spare the time to give these a look, especially https://github.com/gatsbyjs

[2020-07-03 00:40] hiramoto commented on #20082
@kondricz It worked. Thank you for your advice!

[2020-07-03 00:53] polarathene commented on #24793
If it would be helpful at all, I've made a small `sharp` script for one of my projects to pre-process ~150MB of JPG images down to ~10MB from scaling images down to the max breakpoint dimensions gatsby will process from, along with some cropping and a little compression.

It's a little specific to my project, so I'm not sure if it's useful in a guide, but might be a good reference/snippet/example

[2020-07-03 01:11] muescha commented on #19267
#25469 `Docs links that start with docs/ rather than /docs/`

[2020-07-03 01:47] #25346 closed

[2020-07-03 02:21] muescha commented on #25485
possible solutions (you suggested some in #25397):
- get last commit date from the GitHub GraphQL API (see https://github.community/t/how-to-use-graphql-api-to-get-the-latest-commit-date-of-a-specific-file/13999) but I don‘t know if it is possible to request more than one file (some sort of getAll and then with Pagination) otherwise with file by file it is possible to run into a api rate limit?
-

[2020-07-03 02:31] hcygit commented on #25462
[https://github.com/hcygit/gatsby-issue-25462](url)

gatsby develop is okay
gatsby build will reproduce the problem

[2020-07-03 02:54] stanleyyuenyiu commented on #25188
@ascorbic i have already create the minimal reproduction, please do not close it
@ehrencrona your example is totally incorrect

as i mention

resolve: `gatsby-plugin-create-client-paths`,
 options: { prefixes: [`/*`] },

NOT

resolve: `gatsby-plugin-create-client-paths`,
      options: { prefixes: [`/app/*`] },

[2020-07-03 02:58] stanleyyuenyiu commented on #25376
@FranciscoImanolSuarez

just remind that i have this request becoz

my url will be

/:locale/page/:dynamic_id_that_depend_on_user_data

e.g

/en/inbox/mymessage123
/en/inbox/mymessage124
/zh-tw/inbox/mymessage123
/en/address/myaddress1
/en/address/myaddress2

[2020-07-03 03:02] stanleyyuenyiu commented on #25376
also remind that i have 30000+user , and 20+ languages, therefore i can not use create the path in static way (createPage), it may no sense on this case, as my application is not a static website, but a user portal, the application content mostly depend on user

[2020-07-03 04:39] micha149 commented on #23997
With the latest version the query now runs well. sorry for the inconveniences.

[2020-07-03 04:39] #23997 closed

[2020-07-03 04:55] esped-dfds commented on #25464
Here you go. This is with a patch for https://github.com/contentful/contentful-resolve-response/issues/30 otherwise it is not possible to complete it at all.

	C:\Users\esped\projects\dotcom\apps\dfdsdotcom>yarn build --verbose
	yarn run v1.22.4
	$ yarn validate:schema
	$ node ./scripts/validate-local-schema.js
	$ gatsby build --verbose
	verbose set gatsby_log_level: "verbose"
	verbose set gatsby_

[2020-07-03 05:14] alexjsdev commented on #20082
FYI it's fixed: https://github.com/gatsbyjs/gatsby/issues/25478#issuecomment-653207216

[2020-07-03 05:28] akshitkrnagpal commented on #9144
Getting same error.

[2020-07-03 06:15] wardpeet commented on #25466
We reverted some changes :) Thank you!

[2020-07-03 06:15] #25466 closed

[2020-07-03 06:17] vladar commented on #15906
For anyone interested in updates on this: we've built an alpha version of the new toolkit for GraphQL sourcing. Alpha version is available at https://github.com/vladar/gatsby-graphql-toolkit (but it will be eventually merged into the monorepo)

[2020-07-03 06:38] wardpeet commented on #24876
Thank you for opening this issue.

Gatsby-image was created so people can have an easy way to setup images from Gatsby. If we enable custom props, this could lead to bad a11y, weird bugs and more. For these reasons, I'll close this PR. We hope to have a better gatsby-image component in the near future that can be used more granular and fixes your issue.

[2020-07-03 06:38] #24876 closed

[2020-07-03 06:48] hrigner opened #25492 "Schema object creation with underscore in field name always returns field value null"
## Description

Creating a schema object with fields containing underscore (see `x_qlik_stability` below) does not fetch the data. The field can be queried for, but the value is always null.

### Steps to reproduce
I have this in `gatsby-node.js`
[code]

### Expected result

It is expected that the actual x_qlik_stability field value is fetched.

### Actual result

The x_qlik_stability field value

[2020-07-03 07:02] wardpeet commented on #25487
Hey,

Thanks @polarathene, we have labels in place to make sure we catch all of these issues so this is a bit unnecessary.

Thanks for understanding!

[2020-07-03 07:02] #25487 closed

[2020-07-03 07:27] freiksenet commented on #25492
Hi!

I've tried reproducing a bug locally, but I can get fields with underscores in them. Could you provide (at least partially) the .json file that you are using for that data?

Thanks! 💜

[2020-07-03 07:29] #25484 closed

[2020-07-03 07:31] nugoo1 commented on #25478
Thank you guys! gatsby@2.23.18 fixed the issue for me as well

[2020-07-03 07:35] freiksenet commented on #25481
Thank you for the report, we reverted the change and published new version `2.23.19`.

[2020-07-03 07:35] #25481 closed

[2020-07-03 07:36] #25477 closed

[2020-07-03 07:36] freiksenet commented on #25480
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-07-03 07:41] hrigner commented on #25492
Hi @freiksenet!

When preparing a .json to provide, I realised that it is partially PEBCAK and another issue.
[code]

[2020-07-03 07:43] mohanmarx commented on #7658
use this command to copy html.js to src path:
**cp .cache/default-html.js src/html.js**

in **html.js** add loader wrapper or any loading screen component inside body :
 <body {...this.props.bodyAttributes} >
          <div id="loader-wrapper" className="loader-wrapper">
            <div className="loader"></div>
          </div>
        .............
   </body>

in **gatsby-browser.js**  add :
im

[2020-07-03 07:47] LekoArts commented on #25451
Please open an issue on https://github.com/andrezimpel/gatsby-plugin-gdpr-cookies as we don't maintain this plugin. Thanks!

[2020-07-03 07:47] #25451 closed

[2020-07-03 07:58] vladar commented on #15906
It works quite similar to how @pristas-peter describes above:

Gatsby allows you to refresh individual nodes. So you can set up a subscription or get a `delta` of changes since the previous build to update individual nodes. Related doc: https://github.com/vladar/gatsby-graphql-toolkit#sourcing-changes-delta

[2020-07-03 07:58] ergunpp commented on #25480
Hi,
I can provide a git repo or direct access to my cloud9 box. I don't know how to create a minimal reproduction for this case.
Here are some screenshots of my versions:
<img width="569" alt="Screen Shot 2020-07-03 at 10 51 04" src="https://user-images.githubusercontent.com/24900951/86446040-0ba02500-bd1c-11ea-80ef-fd3d01f9b952.png">
<img width="638" alt="Screen Shot 2020-07-03 at 10 54 06" src="

[2020-07-03 07:58] diegomadeit commented on #25478
Thanks guys, well done!

[2020-07-03 08:11] ascorbic commented on #25459
Hi @bennetthardwick. Thanks for the suggestion. I'm a bit wary to do this. While I get your motivation, the use of Babel for extracting queries is really an implementation detail. If we were to enable macros we'd be tying ourselves down to that handling of them, when this is an area of active development for us. We have a big improvement to how static queries are handled coming down the line very

[2020-07-03 08:11] freiksenet commented on #25492
You can write a resolver for this to handle names like that.

[code]

[2020-07-03 08:11] #25492 closed

[2020-07-03 08:14] freiksenet commented on #21664
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 08:14] #21664 closed

[2020-07-03 08:16] freiksenet commented on #21392
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 08:16] #21392 closed

[2020-07-03 08:16] freiksenet commented on #24163
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 08:16] #24163 closed

[2020-07-03 08:16] freiksenet commented on #24866
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 08:16] #24866 closed

[2020-07-03 08:25] freiksenet commented on #25446
@jarodpeachey I can't run the reproduction without netlify code, but I think the problem is that you don't use `babel-preset-gatsby` in netlify comments, so graphql tags aren't stripped. I'm not sure if it will work correctly with it, but it's something you can try. If you could email me your netlify api token to freiksenet@gatsbyjs.com, I could try debugging it more.

[2020-07-03 08:26] freiksenet commented on #25453
We have reverted our core-js changes yesterday, could you see if it works for you with latest Gatsby?

[2020-07-03 08:28] freiksenet commented on #25462
Any file inside `pages` directory must be a valid Gatsby page. So you can't have file like `src/pages/ab/index.js`. It will work if you delete this file.

[2020-07-03 08:28] #25462 closed

[2020-07-03 08:31] freiksenet commented on #25480
@ergunpp Do you get this error when you run locally? If yes, then I think git repo would be enough. Otherwise I'd need to check the Cloud9 instance. My email is `freiksenet@gatsbyjs.com`.

[2020-07-03 08:33] ergunpp commented on #25480
Sent you an email.

[2020-07-03 08:52] #20767 closed

[2020-07-03 08:55] mohsinulhaq commented on #25453
@freiksenet yes, it works with the latest release `2.23.19`, thanks a lot!
closing this issue.

[2020-07-03 08:55] #25453 closed

[2020-07-03 08:59] freiksenet commented on #13946
Ping @wardpeet.

[2020-07-03 08:59] freiksenet commented on #24994
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 08:59] #24994 closed

[2020-07-03 09:00] LordLalwani commented on #25151
@ascorbic I tried it with [gatsby@2.23.19](gatsby@2.23.19) and [gatsby-source-contentful@2.3.22](https://github.com/gatsbyjs/gatsby/compare/gatsby-source-contentful@2.3.21...gatsby-source-contentful@2.3.22) still the same issue.

[2020-07-03 09:05] freiksenet commented on #25036
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 09:05] #25036 closed

[2020-07-03 09:05] freiksenet commented on #25062
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 09:05] #25062 closed

[2020-07-03 09:05] freiksenet commented on #25131
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 09:05] #25131 closed

[2020-07-03 09:10] freiksenet commented on #20164
Hello!

I'll be closing this issue as there has been no activity for 2 months.

Thank you for using Gatsby! :purple_heart:

[2020-07-03 09:10] #20164 closed

[2020-07-03 09:10] andrewpavl opened #25499 "A bug with package manager selection dialog"
## Description

I have both yarn and npm installed on my system and when gatsby asks which package manager to use the selection dialog looks wrong.
![image](https://user-images.githubusercontent.com/44530365/86452595-3347bb00-bd25-11ea-93dd-98b223556abd.png)

### Steps to reproduce

Run `gatsby new` in windows terminal. You should have both yarn and npm installed on your system.

### Expected resu

[2020-07-03 09:10] freiksenet commented on #22545
Hello!

I'll be closing this issue as there has been no activity for 2 months.

Thank you for using Gatsby! purple_heart

[2020-07-03 09:10] #22545 closed

[2020-07-03 09:11] freiksenet commented on #25118
Hi!

I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do reopen the issue.

Thanks!

[2020-07-03 09:11] #25118 closed

[2020-07-03 09:12] #25220 closed

[2020-07-03 09:17] OWMC commented on #22206
+ one that this should be a feature. @ttstauss 's fix worked for me.

[2020-07-03 09:41] LekoArts commented on #25499
Hi, thanks for the issue! This seems like a duplicate of https://github.com/gatsbyjs/gatsby/issues/24420 so I'll close this one. Feel free to comment on said issue.

[2020-07-03 09:41] #25499 closed

[2020-07-03 09:45] caljup opened #25500 "Internal Link Routing for Tags and Previous/Next Buttons Not Working Properly"
I've had a Gatsby site now for close to a year, and after updating the CLI and React today internal linking has been acting weird. I didn't change anything else and reviewed all dependencies, but the problem persists.

Essentially for my blog I have a tags page programmatically generated from markdown files with the appropriate information queried from GraphQL. Before the update I would click on a

[2020-07-03 09:54] #24539 closed

[2020-07-03 10:07] LekoArts commented on #25500
Hi, thanks for the issue!

We recently fixed a broken behavior: https://github.com/gatsbyjs/gatsby/pull/24054
TL;DR: Link now also supports relative links.

Can you please share a reproduction of your problem, a link to your repo, or check whether your links all begin with a `/` or not? Because if not they are all relative.

[2020-07-03 10:17] #24867 closed

[2020-07-03 10:22] pieh commented on #25481
Hey folks, while the offending change was reverted, we would still appreciate if you could share projects that were experiencing "Maximum call stack size exceeded" error. We will be looking to re-add the code that was causing the error but that would handle those cases and having access to projects that were affected negatively would help us ensure that we handle it correctly

[2020-07-03 10:26] akshitkrnagpal commented on #9144
In our case, problem was due to a optional field in ACF. We just changed it to required and it started working.

Hope this helps someone.

[2020-07-03 10:39] hcygit commented on #25462
the problem is, thus user can not know which file have to fix cause the message only show undefined

[2020-07-03 11:21] vladar commented on #25424
Somehow when you go from `/en` to `/en/products` two `/en/products` entries are added to the history stack. So when you call back you still end up on the same URL.

Can you share your code or prepare a [minimal reproduction][reproduction]? If you're up for it, we'd very much appreciate if you could [provide a minimal reproduction][reproduction] and we'll be able to take another look.

Thanks for u

[2020-07-03 12:05] #19685 closed

[2020-07-03 12:05] jarodpeachey commented on #25446
Yeah, I just tried that. It throws an error about needing to run `gatsby build`.

[code]

[2020-07-03 12:14] freiksenet commented on #25480
@ergunpp I've fixed it by upgrading `gatsby` and `gatsby-link` (`yarn add gatsby@latest gatsby-link@latest`) to latest version. I'm not sure how to do it on cloud IDE, but I could reproduce it locally.

[2020-07-03 12:14] #25480 closed

[2020-07-03 12:17] freiksenet commented on #25446
@jarodpeachey Got your token. It seems to work for me now. Could you try upgrading gatsby version and see if this helps?

[2020-07-03 12:19] jarodpeachey commented on #25446
@freiksenet Should I update gatsby in the netlify-comments directory, or the gatsby-demo directory?

[2020-07-03 12:22] freiksenet commented on #25446
I think in both - the versions should also match.

[2020-07-03 12:33] jarodpeachey commented on #25446
@freiksenet When you say it worked, did the site show up in localhost:8000?

Because it compiles properly but doesn't work in the browser.

[2020-07-03 12:46] LekoArts commented on #16233
The reason why this issue was opened was resolved. Once we plan on working on this part again we could open a new issue. As of now, nothing really actionable here.

[2020-07-03 12:46] #16233 closed

[2020-07-03 12:48] LekoArts commented on #24791
Hi!

Since you said that you solved your initial issue, I'll close this one. Please [create a minimal reproduction](https://gatsby.dev/reproduction) if you need further help with your second issue. Answering on the `mapping` is not possible without seeing the complete project. Thanks!

[2020-07-03 12:48] #24791 closed

[2020-07-03 12:49] freiksenet commented on #25446
Yep, both gatsby develop and build/serve.

![2020-07-03-15:49:20](https://user-images.githubusercontent.com/172936/86470787-d22fdf80-bd44-11ea-8761-8456583b5b91.png)
![2020-07-03-15:49:04](https://user-images.githubusercontent.com/172936/86470789-d2c87600-bd44-11ea-9269-7b17570beddc.png)

[2020-07-03 12:51] jarodpeachey commented on #25446
Hm... what are the exact steps you ran? It still gives me the error:

[code]

[2020-07-03 12:51] LekoArts commented on #24939
Please create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

[reproduction]: https://gatsby.dev/reproduction

[2020-07-03 13:04] LekoArts commented on #25318
Since it seems all questions were answered, I'll close this one :)

[2020-07-03 13:04] #25318 closed

[2020-07-03 13:07] LekoArts commented on #24926
Not sure that we/Gatsby can do anything more here, the plugin just implements the loaders. So is 5 seconds fine enough? Alternatively you could look into other ways of using Tailwind other than as a postCssPlugin.

[2020-07-03 13:12] LekoArts commented on #25309
As this is a general React question I'll close this and refer you to [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-support) where you can get support.

[2020-07-03 13:12] #25309 closed

[2020-07-03 13:14] #14497 closed

[2020-07-03 13:20] muescha commented on #25290
an other bug:

the spell checker not reach the table content - for example i forbit `*AgilityCMS` in dictionary, but it not found it in a title in a table cell:

https://github.com/gatsbyjs/gatsby/blob/5ad9582fa174c75c4ea67daf3e4e312c464a3421/docs/docs/headless-cms.md#L45

[2020-07-03 13:27] LekoArts commented on #16248
I think this has been solved since then.

[2020-07-03 13:27] #16248 closed

[2020-07-03 13:28] LekoArts commented on #16243
Is this still the case with latest versions of Gatsby?

[2020-07-03 13:37] LekoArts commented on #15722
I've tested this locally (new hello-world, create a page-2.js file, put something valid in it, bad import, delete page-2.js file) and the page reloads and the error in the browser isn't shown. As such I'll close this as solved.

[2020-07-03 13:37] #15722 closed

[2020-07-03 13:41] LekoArts commented on #19358
@tesseralis Is this still an issue?

[2020-07-03 13:46] LekoArts commented on #9632
Not seeing a valid reproduction here, please open a new issue if you still run into the same issue. Thanks! (Also try out `gatsby-source-wordpress-experimental` with WPGraphQL)

[2020-07-03 13:46] #9632 closed

[2020-07-03 13:48] Korede-TA commented on #16621
`node == v11.0.0`

i think it's still running because port 8000 is still open but unresponsive. and `lsof -i :8000` still returns the same PID as the gatsby process.

I've only tried Zsh so far. And the error only seems to pop up intermittently, but it disrupts my programming flow significantly because the only way to recover is to terminate the terminal process (which doesn't seem to kill the chi

[2020-07-03 14:11] vulcanr commented on #10595
I'm facing the same issue with ~1500 images... I just get localFile null

[2020-07-03 14:11] anonimoconiglio commented on #25481
@pieh @freiksenet

This is my project (I created a stand alone instance to replicate the bug). As written in the README.md: in order to replicate the bug you need to do an explicit `npm install gatsby@2.23.15` after the first `npm intall`.

https://github.com/anonimoconiglio/debug-blog

It's ok if I let this debug instance only for a month online? I already stripped away all my posts, but still ha

[2020-07-03 14:28] fernandezllambi commented on #24774
I'm having the same issue and it's not related to the image size (in my case). I happens randomly on different images (all png) and sizes from 176KB to 6MB. Which is weird because it fails on just png files but in my case, consistently on the same files. Maybe there is somthing with my files, I'll dig into that but closing the issue due to inactivity is not the solution

Having more detail about t

[2020-07-03 15:35] muescha commented on #25290
ok - it seems that a table cell is never checked because of:
https://github.com/syntax-tree/mdast-util-to-nlcst/blob/a05338c5aa287885cfa473b4099d51ca42629c64/index.js#L10

i will investigate how it can be done ....

[2020-07-03 16:04] DWShuo opened #25506 "Error when trying to shadow gatsby theme with graphQL fragments"
# Summary
Im trying to make some changes to the theme wkocjan/gatsby-theme-intro/ via shadowing, one of the components contain a graphQL fragment and i get the error
[code]
Whats the correct way to resolve this issue? Thanks in advance.
## Relevant information
Below is the component i tried to shadow, i only added 2 lines indicted by the arrows.
[code]

### Environment (if relevant)
  System:

[2020-07-03 16:35] lionzan opened #25507 "WebpackError with no indication of where it happens (stacktrace)"
## Summary
I get `WebpackError: ReferenceError: document is not defined` when trying to `npm run build` on a Gatsby site that works fine in `develop`.

But there's no indication as to where it happens.

I looked at many other similar cases online, but they all show where the code is failing. Here, nothing. I also checked the files one by one, there isn't any `document` in any of the js files in `/

[2020-07-03 16:37] lionzan commented on #25097
Thank you @wardpeet I will try to make it work and if in trouble will reopen the issue.

[2020-07-03 16:38] lionzan commented on #25116
Thanks @LekoArts !

[2020-07-03 17:16] muescha opened #25510 "gatsby-cloud-staging should point to Gatsbyjs org stage?"
## Description

Since some days there is an "gatsby-cloud-staging" bot running. but i expect the gatsby www site should be in the stage and not the GatsbyGram

### Steps to reproduce

- open pull requests
- look for gatsby-cloud-staging bot comments:

https://github.com/gatsbyjs/gatsby/pull/25490#issuecomment-653309532

### Expected result

to see the staging of www.gatsbyjs.org

### Actual result

[2020-07-03 17:19] Pyrax commented on #21392
It should be reproducible by exactly the steps OP has described. Last tested it around 7 days ago and that issue still exists. However, please keep in mind that this issue only appears on Heroku.

[2020-07-03 17:46] caljup commented on #25500
Added in the linking with / and that fixed the problem. Since Link now supports relative links, links to internal pages from current route will treat the current directory as having a trailing slash, which was why www.thisisasite.com/blog-post would set the link to the next post as www.thisisasite.com/blog-post/blog-post 2.

Solutution was easy enough. If you have a link going to programatically g

[2020-07-03 17:46] #25500 closed

[2020-07-03 18:14] TatianaKat opened #25511 "Gatsby build: 'WebpackError: TypeError: Cannot read property 'length' of undefined'"
## Description

When trying to use `gatsby build` to prepare my site for deployment, I receive an error:

`WebpackError: TypeError: Cannot read property 'length' of undefined`

### Steps to reproduce

You can check the code for the offending page right here:
[https://pastebin.com/Mh0mde1S](https://pastebin.com/Mh0mde1S)

### Expected result

I assume it should finish building! The cookies seem to

[2020-07-03 19:28] ergunpp commented on #25480
Thank you very much. Updating both modules solved my problem. 🙏👍

On 3 Jul 2020 Fri at 15:14 Mikhail Novikov <notifications@github.com> wrote:

[2020-07-03 19:45] kelvindecosta commented on #24926
5 seconds is good. I will take your advice and see if I can improve things by changing how I use Tailwind.

Thanks for your help!

[2020-07-03 19:45] #24926 closed

[2020-07-03 20:59] jf-home opened #25512 "GraphQL - Pulling back related data between markdown files"
Hi,

I have a content setup (markdown files) containing several products and within each a category array for the classification that each product falls into, i.e.:

ProductA.md

[code]

ProductB

[code]

ProductC

[code]

My config.yml is as follows:

[code]

I'd like to be able to pull a list of products back, by category, but I haven't found a way of doing this.

I have tried mapping in gatsby-

[2020-07-03 21:10] hammund0 opened #25513 "gatsby-source-graphql - threw an error while running the sourceNodes lifecycle"
Hello,

I have integrated the gatsby-source-graphql plugin to do queries with the CommerceTools GraphQL endpoint.

This was working perfectly fine until I had cleared node_modules, ran gatsby clean and ran npm install.

package-lock.json and package.json are exactly the same as when they were working.

I am using this setup, as below.

`"gatsby-source-graphql": "^2.5.0",`

[code]

[code]

I have h

[2020-07-03 21:56] #25511 closed

[2020-07-03 21:56] TatianaKat commented on #25511
I fixed it. It was me being a dummy. I learned how to use useEffect instead and it sorted the problem out.

[2020-07-03 22:23] Js-Brecht commented on #16621
@Korede-TA Okay, this sounds like it's not really related to the original post here; the end result seems similar, but the cause/effect are actually different.  It seems like it's more related to the changes made in #22759.  I think what you're experiencing really should have its own issue, if you don't mind opening one, because it deserves further investigation.  It should get more attention then

[2020-07-04 00:08] #24037 closed

[2020-07-04 00:27] acidjunk opened #25515 "Some pages redirect to HOME but only in production build"
## Description

In the local dev server I can navigate to all pages and reload them : the app stays on the same page

When deploying the production build: some page load fine: other pages will redirect to home when you reload them or try to load them from the URL. I'm quite new to gatsby but as the production build doesn't have errors, and the console.log on production is completely blanco I find

[2020-07-04 01:55] marcelo-umg commented on #25477
@herecydev where should I try that? On gatsby-node.js or in the query on the component?

[2020-07-04 01:55] marcelo-umg commented on #25477
@LekoArts can you help? I still have this issue.

[2020-07-04 02:39] polarathene opened #25517 "[Docs] GraphQL Reference - 502 Bad Gateway"
https://www.gatsbyjs.org/docs/graphql-reference/

All the embeds on this page are black boxes with the error message:
[code]

Scrolling down, some are just blank(big white gap between, presumably embed belongs there), one embed was is stuck on "Initializing Sandbox Container", and the last one on the page was initializing, but then after sorting out all it's modules, presented the 502 error messag

[2020-07-04 03:41] zvodd commented on #7438
I was trying to figure out how to add Bulma to a Gatsby project that was already using PostCSS.
Specifically: https://github.com/sanity-io/sanity-template-gatsby-portfolio
I replaced `gastby-plugin-postcss` with `gatsby-plugin-sass` and set the postcss plugins in `gatsby-config.js`, like so:
[code]
Which ended up with a CSS compile chain that allows mixing SASS with future CSS features... in what

[2020-07-04 04:46] outaTiME commented on #25064
Same here on mac 😢

[2020-07-04 05:19] #21750 closed

[2020-07-04 05:22] #24148 closed

[2020-07-04 07:11] herecydev commented on #25477
In the gatsby node. You need the gatsby node query to get all the products so it can call createpagew correctly

[2020-07-04 10:05] andysaktia opened #25521 "Optional catch syntax throwing syntax error"
## Description

Can not create gatsby site. when finish installation.

### Steps to reproduce

`gatsby new gatsby-site`

### Expected result

gatsby-site created and can run `cd` command shell

### Actual result
[code]

### Environment
Can't run `gatsby info --clipboard` in your project directory and paste the output here.

Anyone can help me fix this?

[2020-07-04 11:14] meandillar commented on #25420
I have been attempting to configure css-loader use v3 docs for the last couple of hours. Glad I came across this issue.

[2020-07-04 11:43] LekoArts commented on #25510
You can ignore this for now, it's just a temporary stage/test.

[2020-07-04 11:43] #25510 closed

[2020-07-04 13:29] OPerel commented on #25466
So... after the non-related issue has been resolved, any news on this issue?

[2020-07-04 14:20] muescha commented on #25290
suggested solution:

i get it done, will file a PR in next days...

[2020-07-04 14:21] flikteoh opened #25522 "Gatsby Scroll Issues on Page Change/Link Click"
Hi, I've tried searching for half a day and couldn't get a solution and I'm not sure if it is related to #24306 ?

## Description

When clicking a link on front page with a list of posts after scrolling down for example, would result in the new content being scrolled down as much as previous page.

At first I have read many other posts and issues mentioning it was related to css / body height etc

[2020-07-04 14:24] i-am-the-slime commented on #25406
This is also a problem in PureScript.

[2020-07-04 17:44] WhySoBad commented on #25511
Hello @TatianaKat
I have a very similar error.
Can you may tell a bit more detailed how you fixed it?

Thanks!

[2020-07-04 21:43] benemohamed commented on #24815
@laurieontech thanks a lot

[2020-07-04 22:09] skube commented on #18048
I would just like say that while it's an issue with **npm**, it is still a potential roadblock for new users.

Consider this flow:

[code]

That's a terrible experience.

[2020-07-04 23:30] supnim opened #25531 "my Gatsby build isn't rendering gifs"
## Summary

Hello, I come asking for help – I've spent a whole day trying to figure it out now.
I can't seem to figure out how to get gifs to load on my site. (I'm pretty new to coding so forgive me if this something obvious)

location: src/page/volvic

**bring them in like so:**
import volvic from "../../content/assets/projects/volic.gif"

**and call it like so:**
`<img src={volvic} />`

**gives

[2020-07-05 00:09] #23638 closed

[2020-07-05 00:09] #22608 closed

[2020-07-05 02:11] maekawataiki opened #25532 "[gatsby-plugin-mdx] timeToRead is wrong for Chinese/Japanese texts"
## Summary

There is a great PR handling `timeToRead` for Chinese/Japanese input in PR #21312 on `gatsby-transformer-remark`.
However, this PR does not support mdx.
It would be great `gatsby-plugin-mdx` handle Chines/Japanese similarly.

### Basic Example

An example similar to #21311, but using starter with mdx.

### Motivation

This feature provides more accurate `timeToRead` field for Chinese/J

[2020-07-05 02:21] JackZheng10 commented on #25411
Try putting undefined in a string like "undefined". It's what works for me!

[2020-07-05 02:46] JackZheng10 opened #25534 "Layout bug on page refresh"
## Description

This bug is present when deployed but not during development. Essentially, I have a switch that toggles between two views using a localStorage boolean.

The problem is that when you switch to the "code" view and refresh, the layout and footer glitches out and the topbar doesn't seem to recognize its state. This doesn't happen on the "regular" view.

Interestingly, the glitched view

[2020-07-05 03:13] polarathene commented on #24876
For anyone interested in the workaround and caveats, you can find a snippet example [here](https://github.com/gatsbyjs/gatsby/pull/25283#issuecomment-653834820).

You should be able to import that instead and substitute the `gatsby-image` component with the wrapped version without breakage.

FWIW, I tried to make a good case for it, and how it should be minimal maintenance burden(potential for "we

[2020-07-05 04:51] lalasmuathasim commented on #25064
Have you tried creating pivatekey and certificate then running `yarn dev -S --key-file ./privateKey.key --cert-file ./certificate.crt`

[2020-07-05 05:02] Js-Brecht commented on #25064
For anybody that wants to use their own self-signed certificate to workaround this issue, there’s been several methods described in #14490.  For example, see my comment [here](https://github.com/gatsbyjs/gatsby/issues/14990#issuecomment-541813755).  Shouldn’t need the `NODE_EXTRA_CA_CERTS` environment variable anymore, though.  That’s been fixed.

Another way was using `mkcert`, in the comment abo

[2020-07-05 07:06] siddhpurakaran opened #25536 "Gatsby Build Failed : The System can not find the path specified"
## Description

When i am building gatsby app it is failing with following error.
The system can not find the path specified.

### Steps to reproduce

This is a project which i forked.
Repo link : https://github.com/bchiang7/v4

I also opened same issue on that repo.
https://github.com/bchiang7/v4/issues/79

### Expected result

Build should success.

### Actual result

Build failed with this erro

[2020-07-05 07:55] OPerel commented on #25466
Hey @wardpeet the original issue that I raised is not solved. Why did you close this?

[2020-07-05 07:58] bahoffman opened #25537 "https://www.gatsbyjs.org/docs/troubleshooting-common-errors/"
https://www.gatsbyjs.org/docs/troubleshooting-common-errors/

## Summary

missing closing paren, closing brackets -

current -
[code]

should be -
[code]

[2020-07-05 12:04] #23926 closed

[2020-07-05 13:29] kepi opened #25541 "Wrong links in gatsby-transformer-orga"
## Summary

Links on https://www.gatsbyjs.org/packages/gatsby-transformer-orga/ targets 404 as package moved to organization repository.

It looks like that README is already fixed and showing OK on https://www.npmjs.com/package/gatsby-transformer-orga

### Motivation

Because people can't find documentation right now.

## Steps to resolve this issue

Update documentation for package from its READ

[2020-07-05 14:37] flikteoh commented on #25522
Noticing the behavior to happen to internal links that are not created via Gatsby Link, ie: a markdown/mdx link or regular <a> tags.

The new scroll states were not created when changing a page, initial scroll state were updated instead.

Is this the intended behavior?

[2020-07-05 17:58] Escavalier commented on #25541
i am not able to find the place where the code needs to be fixed

[2020-07-05 20:33] alvincodes commented on #23273
Hello
+1 to that. I'm feeling increasingly uneasy about these warnings too.
 @shreyansh-zazz can you reopen the issue ?

[2020-07-05 21:05] driverInside commented on #25481
` "gatsby": "2.23.5",` in `package.json` works for me too.

[code]

[2020-07-05 21:51] gtsop commented on #20177
Wow this looks like a great solution to the problem. Will try it out next for certain.

They haven't changed really, I used the setup I described above and the project was over. However, I have a constant mental friction in my head when a new project comes up and people suggest we use Gatsby because I think of the pain I'll go through trying to setup the unit tests. Maybe your solution will put an

[2020-07-05 22:00] outaTiME commented on #25064
awesome @Js-Brecht the resolutions works as expected with yarn 👍

[2020-07-05 22:54] jonathanstanley commented on #15601
Just a note that #25158 was reverted with #25474

Pending those upcoming changes, it might be good to reopen this issue.

[2020-07-06 01:16] flikteoh commented on #25522
Update:

Using Gatsby Link also causes the next page click not to update page template.
When switching between index page to a post via Link component, the post template was not applied.

[2020-07-06 03:20] JackZheng10 commented on #25534
Problem solved! It had to do with the initial static rendering in my page always doing the initial view first since the boolean defaults to false when localStorage doesn't exist.

My solution was to render nothing and then update an "initialized" state to true when the component mounts to then render the appropriate view.

[2020-07-06 03:20] #25534 closed

[2020-07-06 05:32] senorgeno commented on #20594
Hey, @pieh I have a large gatsby site I am in the process of upgrading to styled-components v5. I too am having this issue, however, when I change to wrapPageElement from wrapRootElement I still get the same problem in the original issue.

Any other suggestions? Could it be another gatsby plugin using wrapRootElement affecting things?

[2020-07-06 05:56] LekoArts commented on #25541
Thank you for opening this!

The READMEs are sourced from Algolia:

https://github.com/gatsbyjs/gatsby/blob/b5926cc5fc73336af0a3ef499859ced22ebf56da/www/gatsby-config.js#L94-L104

Therefore the results (cache) from Algolia needs to update itself and the website needs to be rebuilt. The latter happens often, the former is a matter of time. It should get updated eventually, in the meantime there is

[2020-07-06 05:56] #25541 closed

[2020-07-06 06:01] LekoArts commented on #25536
Thank you for opening this!

We're not maintaining this starter so please refer to their issue board. On a first glance the image is simply not at the destination the project is looking for, e.g. the image is at the path `content/about/me.jpg` when I look into the repo.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue t

[2020-07-06 06:01] #25536 closed

[2020-07-06 06:06] LekoArts commented on #25517
Hi, thanks for the note! We're aware of this problem but nothing we can do on our side. I'm in contact with the codesandbox team to get it resolved :)

[2020-07-06 06:06] #25517 closed

[2020-07-06 06:07] #25537 closed

[2020-07-06 06:08] LekoArts commented on #25531
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-07-06 06:10] LekoArts commented on #25521
Please follow our issue template:

[code]

[2020-07-06 06:41] Escavalier commented on #25507
To fix this, find the offending code and either

1)check before calling the code if window is defined so the code doesn’t run while Gatsby is building (see code sample below) or
2)if the code is in the render function of a React.js component, move that code into componentDidMount which ensures the code doesn’t run unless it’s in the browser.

and you can visit:https://www.gatsbyjs.org/docs/debuggi

[2020-07-06 07:31] stanleyyuenyiu opened #25544 "build fail while using createBrowserHistory from History (package come with react-router-dom)"
Any component include  package"history" (from react-router-dom)  + {Link, Router, useParams} from "@reach/router" together ,  will output "ERROR #95313 , WebpackError: Invariant failed..."  when run build, but it will be fine when run develop

the error is throw by :
WebpackError: Invariant failed
    - tiny-invariant.esm.js:8
    node_modules/tiny-invariant/dist/tiny-invariant.esm.js:8:1

  - his

[2020-07-06 07:40] stanleyyuenyiu commented on #25544
it look like createBrowserHistory need window object, as the advice from https://www.gatsbyjs.org/docs/debugging-html-builds/, better to move it into did mount process

however it doesnt explain why it work without reach/router

[2020-07-06 08:11] vhermecz commented on #20237
The nondeterminism of the problem hints at a cache issue.
Running a `gatsby clean` before the `gatsby build` did it for me.

[2020-07-06 08:16] lionzan commented on #25507
Hi @Escavalier thank you.

As you can see from my post there is no indication where my code fails. Moreover there is no reference to document anywhere in my code.

The error message mentions a build.js and a build-hrml.js files but I guess they are build files, not under my control.

And of course I checked [https://www.gatsbyjs.org/docs/debugging-html-builds/](https://www.gatsbyjs.org/docs/debugg

[2020-07-06 08:38] pvdz commented on #25464
I presume this is a warm build? It looks like this site builds 8k pages and has 170k internal nodes. I'd love to see the output of a cold build (one preceded by `gatsby clean`).

I'm going to work on getting the removal of the `id` normalization in under a flag. It can't just be dropped because it's backwards breaking so we must wait until we publish a major. And since there's another big change c

[2020-07-06 09:17] pieh commented on #25507
We fixed error message (particularly stack trace and location) in https://github.com/gatsbyjs/gatsby/pull/25385 which was released in `gatsby@2.23.12`. So I would suggest upgrading `gatsby` (I assume you have bit older version here, because I don't see any gatsby version specified in issue) which should then give you actual location of a problem (this very well may be in 3rd party components that

[2020-07-06 10:51] pieh commented on #25512
You can use following snippet in `gatsby-node` and adjust to your needs:

[code]

Things that don't exactly match with your setup:
I have `frontmatter.type` and you have `frontmatter.template` (which acts similarly) and I also use `post` type instead of `product` - but this should be matter of replacing field names / values to get it working for you.

Also you could keep eyes on https://github.com

[2020-07-06 10:51] #25512 closed

[2020-07-06 10:59] lionzan commented on #25507
Hi @pieh actually yes I have a slightly older version:
[code]
Updating now and I will post about results.
Thanks!

[2020-07-06 12:08] supnim commented on #25531
@LekoArts Thanks for getting back, ill try and set this up ASAP -  much appreciate you looking into this for me.
Link to follow, soon :)

[2020-07-06 12:09] jonauz commented on #3721
All this seems to be caused because develop doesn't seem to support `--prefix-paths` anymore. I'm not sure why such critical issue is not being picked up and fixed immediately, and rather ignored and even closed.
Makes us to consider moving away from Gatsby because of such consistently appearing issues, quite unstable platform.
Also Gatsby CLI is very questionable too.

[2020-07-06 12:36] vladar commented on #25513
Can you please check which version of the plugin you actually use (in the `package-lock.json`)? Is it `gatsby-source-graphql@2.6.0`?

Also, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

[reproduction]: https://gatsby.dev/reproduc

[2020-07-06 12:37] pieh commented on #25515
Did you by any chance configure CloudFront as SPA (meaning that all "html" requests would serve `./index.html`)? It feels like it, and this is wrong configuration for Gatsby

It seems to me that it's service worker (`gatsby-plugin-offline`) will sometimes allow to refresh and get cached resources (this is where you can navigate to a page). I'm saying that because when I visited the second link I a

[2020-07-06 12:38] vladar commented on #24603
Closing this. And thanks for reporting back!

[2020-07-06 12:38] #24603 closed

[2020-07-06 12:38] freiksenet commented on #25481
Hello folks!

We published a dist-tag with fixes (`gatsby@static-query-template`), I was wondering if you could test if this works for you.

[2020-07-06 12:41] pieh commented on #25544
Did you try this in any server-side rendering? It feels like this is just SSR problem and it's not related to `reach/router`?

[2020-07-06 12:48] pieh commented on #25544
You can replace current url using `navigate(`somelink`, { replace: true })`, but it might cause re-renders.

Can you expand on what you are trying to do exactly and why you don't want to use `navigate` function - I feat that using `history` outside of navigation might have weird interactions that can break in future etc, and I would really try not to use it unless you absolutely must

[2020-07-06 12:52] Tony221268 commented on #15387
I agree with the sentiment of the original poster. In common with so much in Gatsby, the documentation for reach/router is almost non-existant. The code given at the reach router site does not work out of the box for gatsby, there are no examples that I could find on Gatsby website (for the most simple router example) and a search of the web reveals almost nothing. The worst part is that this is v

[2020-07-06 13:20] andrevildozo opened #25550 "Downloadable ZIP File"
For some reason when trying to download a zip file, it fails. I've tried few different ways, all of them failed.

 ERROR #98123  WEBPACK

Generating development JavaScript bundle failed

Unexpected character '' (1:2)

File: src/downloads/files.zip

IN CODE:
import File from '../downloads/file.zip'

I use a component to call this file example:
downloadFile={File}
our
<a href={File}>Download the fi

[2020-07-06 13:30] acidjunk commented on #25515
Yes I think it's configured as a SPA. And indeed with a fresh, private tab the https://blog.improviser.education/team/rene-dohmen redirected me to home page; which I didn't notice before (probably due to the offline functionality/side effect from service worker).

Thanks for the pointer into the right direction. Also did some reading on https://gist.github.com/bradwestfall/b5b0e450015dbc9b4e56e5f3

[2020-07-06 13:30] #25515 closed

[2020-07-06 13:50] ooloth commented on #24876
@polarathene Thanks!

Passing props/attributes to a wrapper element is a workable solution for now (I didn't realize how complicated the pass-through request would turn out to be).

It would be awkward as a permanent approach, but @wardpeet mentioned there's a broader solution in the works, so I'm looking forward to that.

[2020-07-06 14:13] supnim commented on #25531
@LekoArts here is the minimal repo, hope this helps

https://github.com/supnim/new-port-minimal

[2020-07-06 14:44] IwateKyle commented on #24586
Yes, I'm new to Gatsby and was wondering the same thing.  I just built a tutorial and ran it thru Lighthouse and get pretty low scores.  The first observation was too much unused javascript.

[2020-07-06 15:18] adisher commented on #24131
The problems comes with Google Chrome. With Firefox, its running fine. I am not sure what could be the problem. I tried clearing browsers cache but didn't work! Now I'm stuck!

[2020-07-06 15:18] adisher commented on #24902
The problems comes with Google Chrome. With Firefox, its running fine. I am not sure what could be the problem. I tried clearing browsers cache but didn't work! Now I'm stuck!

[2020-07-06 15:58] JackHowa commented on #22822
is there an update to this?

[2020-07-06 16:14] gateixeira opened #25552 "gatsby develop freezes on Windows 10"
## Description

Development mode is not started on a gatsby-based documentation, built with `gatsby-theme-carbon`:
https://github.com/IBM/transparent-supply-documentation

`gatsby develop` freezes on Windows 10 on "Build manifest and related icons". A Chrome debug apparently shows what seems an infinite loop in the `gatsby-plugin-manifest`:

![image](https://user-images.githubusercontent.com/46458

[2020-07-06 16:29] lionzan commented on #25507
@pieh , changed to
[code]

But now i get new errors that i don't know how to handle, such as

[code]

But I didn't change anything :/

Help!

[2020-07-06 16:54] anisg opened #25553 "in website’s local 'plugins' folder, onCreateNode is not called everytime a new node is created"
## Description

I was following the source plugin tutorial ([here](https://www.gatsbyjs.org/tutorial/source-plugin-tutorial/)).

I noticed that when my plugin is in this 'plugins' folder, onCreateNode wasn't called everytime a new node was created. if I move my plugin to another place and use 'require.resolve', it works as it's suppose to.

### Steps to reproduce

1. download the example folder fr

[2020-07-06 17:03] shreyansh-zazz commented on #23273
Hi @alvincodes

I don't have permission to reopen this issue.

[2020-07-06 17:19] jf-home commented on #25512
Hi @pieh -

Thank you for your prompt response - it's much appreciated!

I have implemented the code that you provided (changing references as suggested) but, sadly, I'm getting an empty array of products back.

My gatsby-node.js contains the following code:

[code]

...and my GraphQL statement is as follows:

[code]

Any thoughts or suggestions gratefully received.

Thanks in advance!

[2020-07-06 17:23] pieh commented on #25512
I might have missunderstood your `netlify-cms` config (at least I assume that's what it is :) )

I'm not quite sure how this part works:
[code]

Can you paste frontmatter for one of your categories?

[2020-07-06 17:26] jf-home commented on #25512
Hi @pieh -

Sure - here you go:

[code]

Many thanks!

[2020-07-06 17:26] pieh commented on #25553
`onCreateNode ` won't be called if the `node` was created in previous run and it didn't change. Can you try running `gatsby clean` and restarting (without `require.resolve` approach - just local plugin, and referenced by `source-plugin` in gatsby-config)?

Changing gatsby-config to use `require.resolve` forces gatsby to clean cache under the hood, moving plugin around doesn't (it's still same conf

[2020-07-06 17:27] pieh commented on #25553
Also - you should not rely on `onCreateNode` to be called on each run - there is no guarantee that it will - it will only run if new node is created or cached node is updated with some change (`contentDigest` for given node id changes)

[2020-07-06 17:30] anisg commented on #25553
Yes I didn't understood that onCreateNode wasn't always called on each run. Thanks for the help!

[2020-07-06 17:30] pieh commented on #25512
And product would use `Application Development Tools` in their frontmatter or the slug? Because my code work under assumption that value of `category_id` would be used here which doesn't seem to be the case

[2020-07-06 17:30] jf-home commented on #25512
Agh!  My mistake!  The category_id values weren't matching the product.category values!

Apologies and huge thanks for your help with this!

[2020-07-06 17:45] pieh commented on #25550
If you want to use `import` route, you would need to add rule for `.zip` files because currently we don't have one built in by default. You can do that by adding following snippet to `gatsby-node` file:

[code]

[2020-07-06 17:47] pieh commented on #25550
Alternatively instead of using `import` you could place your `.zip` files in `static` directory and follow https://www.gatsbyjs.org/docs/static-folder/ (files from `static` will end up in `public` directory as they are, so if you have your file in `<project_directory>/static/file.zip` you can then do something like `<a href="/file.zip" download>download file</a>` (assuming you will host your site

[2020-07-06 17:48] #25550 closed

[2020-07-06 18:03] elliotrpmorris commented on #9902
Same problem here too!

[2020-07-06 18:29] pieh commented on #25521
What node version are you using? This errors seems to be about "optional catch binding" syntax which is supported since Node 10.3 and gatsby minimal supported node version is Node 10.16 (currently)

[2020-07-06 18:31] jf-home commented on #25512
@pieh  - how would I implement the same for a second field i.e. a lookup on colour?  I tried a second actions.createTypes but that stopped the first (category) from working.

Many thanks

[2020-07-06 18:56] AndrejGajdos opened #25554 "Anchor links don't work"
## Description

I use `gatsby-transformer-remark` to parse markdown files and [get table of contents](https://www.gatsbyjs.org/packages/gatsby-transformer-remark/#getting-table-of-contents). If I hit an item in table of contents (anchor link), the browser doesn't scroll to the section.

### Steps to reproduce

I created a basic demo project [here](https://github.com/AndrejGajdos/gatsby-anchor-test

[2020-07-06 19:08] jarodpeachey commented on #25446
@freiksenet Can you give an example?

[2020-07-06 19:32] #20327 closed

[2020-07-06 19:35] AishaBlake commented on #20327
@rennehir @endormi my apologies for the wait! It looks like everything went smoothly. You've now got a [translation repo](https://github.com/gatsbyjs/gatsby-fi)! Please let me know if you need anything else or if you have any issues.

[2020-07-06 19:46] endormi commented on #20327
@AishaBlake No problem and thanks for creating the repo!

[2020-07-06 19:46] #25268 closed

[2020-07-06 20:16] anevins12 opened #25556 ""Data in Gatsby" tutorial four in docs fails after installing dependencies"
## Description

Tutorial 4, "Data in Gatsby" documentation encourages the step of installing the Typography library, but then `$ gatsby develop` results in `Invalid hook call.` error.

### Steps to reproduce

1. Get to Tutorial Four, "Data in Gatsby": https://www.gatsbyjs.org/tutorial/part-four/
2. Run `$ npm install --save gatsby-plugin-typography typography react-typography typography-theme-kirk

[2020-07-06 20:37] DaTurboD opened #25559 "gatsby-transformer-sharp isn't working with MDX"
## Description

I am trying to query images through the frontmatter of mdx-files like
[code]

But i get following error:
[code]
### Steps to reproduce

This is how my gatsby-config.js looks like:
[code]

Frontmatter looks like this
[code]
### Expected result

Images should be able to be queried with childImageSharp

### Actual result

[code]

### Environment

System:
    OS: Windows 10 10.0.18362

[2020-07-06 21:06] jf-home commented on #25512
@pieh - you're absolutely right!  That was an oversight on my part.  Once corrected, the GraphQL query pulled back an array of products as intended.  My apologies for not picking this up in the first place!

Thanks again - really appreciate the help!

[2020-07-06 21:52] adamthrottleup commented on #12011
I am getting this issue with my gatsby-trasformer-asciidoctor project (over 10k asciidoc files, source is private) running on WSL2 ubuntu 20. @volkandkaya for me the problem is happening in the gatsby-source-filesystem plugin so how do I make it use fs-extra?
Interestingly this only happened when I upgraded my environment from ubuntu 18 on WSL v1 to ubuntu 20 on WSL 2

[2020-07-06 23:11] obetomuniz commented on #25478
`gatsby@2.23.7` still has the issue

[2020-07-07 00:24] polarathene opened #25560 "Cannot forward websocket connection due to randomized statusServerPort"
## Description

An error about reaching a random websocket port not being reachable, as Docker cannot be configured to know in advance what the random port will be.

### Steps to reproduce

Start up a develop instance of gatsby, in browser devtools inspect websocket connections. There should be two, one is to the proxy port(definable via `--port`), while the other is for the `statusServerPort` and

[2020-07-07 01:55] mimiza commented on #25216
@wardpeet @moonmeister thank you for supporting. But if it was about svg, why would Linux work?

[2020-07-07 02:29] tiglapiles opened #25562 "gatsby cli develop interrupted by emacs tmp file"
## Description

**gatsby-cli command: gatsby develop auto exit becouse of emacs editor tmp file such as .#about.jsx**

### Steps to reproduce

**$: gatsby develop
in emacs: editing About.jsx
$: Error: ENOENT: no such file or directory, stat '/home/dipper/Workspace/video_front_end/src/components/About/.#About.jsx'**

### Expected result

**$: success**

### Actual result

**$: Error: ENOENT: no suc

[2020-07-07 02:35] samajammin commented on #25070
Hey @yg - I see you assigned this to me. Is there any action needed on my end? I've opened up https://github.com/gatsbyjs/gatsby/pull/25073

Thanks!

[2020-07-07 02:38] yg commented on #25070
@samajammin I assigned to you because you are working on this issue, If I'm wrong correct me. Thanks

[2020-07-07 03:03] DaTurboD commented on #25559
Figured it out. Problem were the relative paths to the images.

[2020-07-07 03:03] #25559 closed

[2020-07-07 03:47] Strangehill commented on #24854
@pawelBareja  That reads like you're running `gatsby develop` from the same project you're already running it at. The use case I've raised this issue for is running two different projects and forgetting to specify a port for the second project so that it doesn't fail when it sees that port 8000 is already in use.

[2020-07-07 05:22] hari5004 commented on #21193
@maxym49  @dellwatson  Have you found any solutions. I am facing the same issue

[2020-07-07 07:37] esped-dfds commented on #25464
Thanks for the feedback. I'm not sure if it was a warm build, but I've made two cold builds with EXPERIMENTAL_CONTENTFUL_SKIP_NORMALIZE_IDS=1, first one normal and then one with --no-uglify

	root@0b534184295c:/code/dotcom/apps/dfdsdotcom# yarn build --verbose
	yarn run v1.22.4
	$ yarn validate:schema
	$ node ./scripts/validate-local-schema.js
	$ gatsby build --verbose
	verbose set gatsby_log_leve

[2020-07-07 07:43] anonimoconiglio commented on #25481
Just tried on my debug instance (the one I deploy to Github above), seems to work without problems! 

The package went 
from `"gatsby": "^2.23.15"`
to `"gatsby": "^2.23.22-static-query-template.8"`

GitHub Notifications <notifications@github.com> wrote:
“

Hello folks!

We published a dist-tag with fixes (gatsby@static-query-template), I was wondering if you could test if this works for you.

—
Yo

[2020-07-07 07:47] jokklan commented on #19543
We experience this issue on first load and reload on both `gatsby develop`, `gatsby serve` and in production. [gatsby-plugin-remove-trailing-slashes](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/) only changes the links, it doesn't fix the issue that urls without trailing / will be redirected to a url with a trailing /. Because of this are gatsby-plugin-remove-trailing-s

[2020-07-07 08:07] LekoArts commented on #25531
Thank you for opening this!

I figured out what your issue is however in the future I would appreciate if you followed our instructions for providing the minimal reproduction in more detail :) The project you showed was quite huge to download and had a lot of things going on. It's better to go from a `hello-world` project like e.g. https://codesandbox.io/s/gatsby-gif-xt9ok

Your problem is the wro

[2020-07-07 08:07] #25531 closed

[2020-07-07 08:09] icy-meteor commented on #21193
Facing the same issue.

[2020-07-07 08:58] vladar commented on #25552
I couldn't reproduce this on my Windows 10 machine. Probably something environment-specific. Have you tried downgrading to older versions of gatsby? We need to bisect this somehow to figure out what could have caused this.

Also weird that you have some output after terminating - looks like two gatsby versions were started somehow.

[2020-07-07 09:12] gateixeira commented on #25552
@vladar thanks for looking into it.

I will try to downgrade. Any specific version I should look for?

[2020-07-07 09:15] jabranr commented on #24483
If this is being considered but have not gone through a review yet, can we add some label to it so it does not go stale?

[2020-07-07 09:55] #25553 closed

[2020-07-07 09:57] vladar commented on #25552
I think it makes sense to bisect minor versions the way you would do with binary search.

Start with `2.10.x` then `2.16.x` (if `2.10.x` works), etc. until you narrow the range where it breaks. I could have done this myself but as I said I couldn't reproduce this locally (sadly).

[2020-07-07 10:15] dannyvaughton commented on #16176
I believe you can do this with a `404.js` in `src/pages` and using the `onCreatePage` hook.

Something like this:

[code]

[2020-07-07 10:50] ephemer commented on #20215
We're having the same issue here, would be great if you could re-open this so we can investigate further

[2020-07-07 11:09] alexdkaminski commented on #24159
Also need this to get a Tailwind UI component to work properly.

[2020-07-07 11:46] supnim commented on #25531
@LekoArts thanks you sooooo much, truly appreciate it. Sorry about the bad repo, my bad.
once again thanks, brother!
all the best  :)

[2020-07-07 12:08] pvdz commented on #25464
These don't look like warm builds, unless you have a 5 page site here :) The `public` and `.cache` dirs need to be dropped for a cold build, and that's essentially all that `gatsby clean` does. This was 5 pages:

The two runs also wildly differ, remote fetch is 11s faster, sourcing 23s, schema 13s. The flag only affects webpack's minification step. Strange but could have any number of reasons.

An

[2020-07-07 12:09] pvdz commented on #25464
100s for 5 pages is also an indication that there's either more going on than "just" 5 pages, or that these pages are huuuuge.

[2020-07-07 12:14] esped-dfds commented on #25464
No these two builds are cold(but with a caching http proxy in between)

This is just a POC for gatsby-source-contentful where I  did createPage for two pages. The contentful environment however is the full website(which currently uses gatsby-source-graphql)

[2020-07-07 12:17] mareksuscak commented on #19543
We managed to resolve this issue as described in my previous comment. It requires two scripts:

1. The first step requires running the first part of the script that'll clone all `index.html` files and move them outside of their parent folder, then rename them to reflect the name of the parent folder + collision prevention suffix needs to be appended since filesystems typically don't allow a folder

[2020-07-07 12:40] esped-dfds commented on #25464
`success source and transform nodes - 99.490s`

Makes since there are however 100+ entries it needs to create nodes for.

but yes `success Building production JavaScript and CSS bundles - 101.374s` seems a bit strange since there are so few pages - Maybe I'll try and dig deeper

[2020-07-07 13:05] mxstbr commented on #25560
We want to avoid users connecting to this endpoint manually _and_ exposing any kind of configuration for this, as we don't want to add this to be public API surface. Doing so would add more scrutiny due to the increased stability requirements that I don't currently want to support. That means any kind of environment variable is probably not the right call.

However, we definitely cannot have users

[2020-07-07 13:10] abraaoz commented on #25037
up

[2020-07-07 14:13] josephmarkus commented on #25522
Got the same issue here as well

[2020-07-07 14:18] pvdz commented on #25464
fwiw, it's the run queries 100s step I wonder about. You're right that sourcing is going to take a lot of time if all the content is pushed regardless. But the run query step should only concern itself with the 5 pages you're testing and so it shouldn't take 100s. Something fishy going on there.

As for the JS bundle; it only takes one large dependency to blow up so that's not a big surprise. Use

[2020-07-07 14:41] jordanlesich opened #25570 "Socket errors with WSL2"
## Description

I get CORS errors that look like this whenever I open up my locally hosted project in the browser.

Failed to load resource: net::ERR_CONNECTION_REFUSED
:42421/socket.io/?EIO=3&transport=polling&t=NCfY1_1:1 Failed to load resource: net::ERR_CONNECTION_REFUSED
:42421/socket.io/?EIO=3&transport=polling&t=NCfY2s7:1 Failed to load resource: net::ERR_CONNECTION_REFUSED
:42421/socket.io/

[2020-07-07 14:44] polarathene commented on #25560
Some users that have run into this issue(wasn't me personally) prefer to use Docker for Gatsby development, but without a way to configure the port, that functionality would be unusable. Is it wrong to support the DX in this case and outright remove the functionality instead that you're suggesting as a fix?

A port number for development purposes configured by an env var or CLI option is a stabili

[2020-07-07 14:55] Tony221268 commented on #21139
still 100% getting this error

[2020-07-07 14:57] jordanlesich commented on #24864
@danabrit @connorlindsey  Why did we close this issue?

 It appears to me that Gatsby causes the CORS issues. I don't know why we would ever assume that just because it's a CORS issue. it has nothing to do with Gatsby. I can load up CRA, NextJS. Unless I start using client side modules in irresponsible ways, I can develop whatever I want without getting CORS issues--until I start using Gatsby.

Wo

[2020-07-07 15:08] graysonhicks commented on #25556
Hm, I tried this locally two different ways:
-  First, I ran `npm run develop` immediately after installing the starter and required packages.
- Second, I added the boilerplate files mentioned in the tutorial (`about.js`, `typography.js`, etc) and ran `npm run develop`.

In neither case did I get this error.  Both built successfully.

[2020-07-07 15:25] graysonhicks commented on #25570
Attempted to recreate this with the provided steps.  Screenshot below shows no console errors.
![image](https://user-images.githubusercontent.com/16200795/86803583-1f14fe00-c044-11ea-8a8d-fa4f27d574ef.png)

Gatsby clipboard info when attempting to reproduce:
[code]

Since I am using MacOS and you are using WSL, I think your assumption that it has to do with WSL is probably correct.

[2020-07-07 15:30] jordanlesich commented on #25570
@graysonhicks

Do you know if I can go on developing while the errors pile up in the console? Is it safe, or will this cause more problems down the line somehow?

[2020-07-07 15:40] graysonhicks commented on #25420
PR addressing the link in the primary Gatsby docs. https://github.com/gatsbyjs/gatsby/pull/25575

Will be creating PRs in the appropriate plugins doing the same.

[2020-07-07 15:50] #24992 closed

[2020-07-07 15:55] pvdz commented on #24992
Thanks for reporting this :) I've removed the plugin from the site so the error should disappear as soon as a new build is pushed, which should happen automatically

[2020-07-07 15:59] graysonhicks commented on #25570
@jordanlesich CORS errors are generally a problem when they are preventing data that you need to get from being fetched.  In this case, I am not sure what the socket set up provides in the develop environment.  While having errors in the console is not ideal, if you are not prevented from developing as expected then I don't see it causing any problems.

That being said, most importantly, you shoul

[2020-07-07 16:00] graysonhicks commented on #25417
@mumbii Have you had any luck with the approach described by @jasonbahl ?

[2020-07-07 16:26] HipsterZipster commented on #12379
Why is this issue closed? This seems like a very valid request?

[2020-07-07 17:04] #18000 closed

[2020-07-07 17:27] pvdz commented on #25411
That seems like a reasonable bug to resolve. Going to close this. If that did not resolve it please reopen and report a new repro.

[2020-07-07 17:27] #25411 closed

[2020-07-07 17:33] pvdz commented on #23829
@RonaldTshawe if you have a repo we can take a look at and build ourselves, then please open a new issue and tag me in it. If I can't reproduce the build then there's nothing I can do to triage. My suspicion is that something is simply taking a long time. This can be the actual download or the processing. This also depends on the speed of your server etc.

Going to lock this issue because the topi

[2020-07-07 17:38] pvdz commented on #23221
@rgraber if you see significant regression in the current version of Gatsby please open a new issue and let us know the repo to test it with as well as the last version known to you to be fast. Tag me in that issue. But please first check to confirm that it's still a problem on the current version. That includes other dependencies besides `gatsby`.

[2020-07-07 17:59] jf-home commented on #25512
@pieh  - I was wondering if you were able to advise on implementing the same behaviour for a second set of fields e.g. product.frontmatter.colour -> colour_id?

Thanks in advance.

[2020-07-07 18:12] IgordeOliveira commented on #25424
Hi @vladar, I tried in several ways to create a minimal reproduction, but when I put only my language logic ( of gatsby-node ) in a new project of gatsby works normally, my last attempt is to add you in the repository, I hope you can help me identify what causes it
https://github.com/IgordeOliveira/gatsby-duplicate-history

[2020-07-07 19:18] OoNascimentoOo commented on #17557
Hi guys, I can't solve this problem, I would like to help...

Generating development JavaScript bundle failed

Can't resolve '@styled-icons/foundation/Lightbulb' in 'C:\xampp\htdocs\my-blog\src\components\MenuBar'

If you're trying to use a package make sure that '@styled-icons/foundation/Lightbulb' is installed. If you're trying to use a local file make sure that the path is correct.

[2020-07-07 19:58] vladar commented on #25554
Hi @AndrejGajdos

Thanks for the detailed issue, reproduction and video! Really appreciate it 👍

I was able to reproduce this locally but reproduction is not reliable. One time it works, the other time it doesn't. Also, sometimes it starts working after scrolling the page up and down.

It looks like `gatsby-react-router-scroll` package is the culprit. I suspect that this PR has caused the problem

[2020-07-07 20:25] vladar commented on #25522
Could be also related: #25554

[2020-07-07 20:42] darangi commented on #20082
For some weird reasons, I kept getting that error when using npm but on switching to yarn, it disappeared. Good to hear it is fixed 🎉

[2020-07-07 20:56] graysonhicks commented on #23356
@marcysutton Videos recorded, will be emailing with Google Drive links shortly.

[2020-07-07 21:20] jordanlesich commented on #25570
@graysonhicks Thanks. So if I do a Gatsby build, then a Gatsby serve, it seems to run alright without the errors. **However** if I run the development server after that, the serve won't work when I run server 9000. I have to do a fresh build after running gatsby develop. It's been a while since I used Gatsby, I forget if that's standard behavior or not.

Either way, it's enough to go off while we

[2020-07-07 21:32] vish448 commented on #23542
@davegariepy would you be able to resolve this. I am getting the same error.

[2020-07-07 21:34] graysonhicks commented on #25570
This behavior is normal.

Sorry, also not sure where to go with that, though I do see an identical (unresolved, but closed) [issue here](https://github.com/gatsbyjs/gatsby/issues/24373).

Can you scan your ports to confirm nothing else is running?  Normally when I see this, Gatsby prompts to run on another port and it is very apparent.

[2020-07-07 22:05] jamestharpe commented on #3721
I'm greatful to the Gatsby team for what they've built. I wish they'd implement this, but if we really want it then we should be willing to contribute it as a community. There's no need to be harsh.

[2020-07-07 22:11] BagchiMB commented on #22206
@jun-gh I am also facing the same problem meta tags are still below the style tags, did you got a workaroud ?

[2020-07-07 22:15] gonbaum commented on #18048
Just installed default started, everything worked until I used `npm install react-bootstrap`
Then

Npm install installs 2 version of react so then the next thing is that I get a new error:

Runned `npm ls react` and theres is 2 react packages installed, there are many issues on this, no clear solution yet. I'm losing too much time to just get started. I'm now trying deleting react react-dom and ga

[2020-07-07 22:29] shannonbux commented on #23356
@graysonhicks received and putting a time on my calendar to watch them! Will add notes and link to notes here once done!

[2020-07-07 22:31] HipsterZipster commented on #3721
Can someone from the gatsby team suggest how this can be fixed by a first time contributor to the project? We really want this and would be willing to invest some time into adding support for it

[2020-07-07 22:32] bstrokevin opened #25582 "warn You can't use childImageSharp together with abc.gif — use publicURL instead. The childImageSharp portion of the query in this file will return null: /src/templates/post.js"
## Description

When the image is gif, it said

 You can't use childImageSharp together with abc.gif — use publicURL instead. The childImageSharp portion of the query in this file will return null: /src/templates/post.js

### Steps to reproduce

make sure there's gif in your feature image

### Expected result

I was reading a closed ticket that , you can use localFile.publicURL. But my localFile d

[2020-07-07 23:36] benjaminmikiten commented on #3721
Hey y'all -- I've been watching these replies come in periodically, gratified to see other people with the same issue I had. I only today realized that _I closed this_ initially because the actual bug I was dealing with had nothing to do with the fact that gatsby develop doesn't support paths. Nothing has changed there, however, and given this is where the discussion about this being helpful is ha

[2020-07-07 23:36] Js-Brecht commented on #25064
`devcert` version `1.1.2` is published.  It should fix this issue.

[2020-07-08 00:30] evanmrose commented on #22206
Also facing this issue

[2020-07-08 00:43] tiglapiles commented on #25562
have any idea or metaphors?

[2020-07-08 01:32] FocalChord commented on #25290
@muescha I have done a few more issues above :)

[2020-07-08 01:51] BagchiMB opened #25587 "onRenderBody in gatsby-ssr apis doesn't work as expected"
## Description

Initially my problem was that my og meta tags weren't being fetched by the sharing debbuger or the twitter card validator, therefore I searched various issues on github I found out that the major reason was the chunk of css that were present before my tags then I got to know about onRenderBody function in gatsby-ssr API, I tried implementing it but I couldn't succeed. I hope I have

[2020-07-08 02:00] jarodtaylor opened #25589 "New projects created with gatsby-cli have 655 security vulnerabilities (low severity)"
## Description

Just installed gatsby-cli (v2.12.58) on a new MBP and when I run `gatsby new` I get 655 low severity security vulnerabilities from npm. They're all due to `lodash` and prototype pollution in various gatsby plugin files.

I'm obviously not going to paste all 655 but here are the last few:

![image](https://user-images.githubusercontent.com/362248/86865123-0af8ed00-c094-11ea-949b-d40

[2020-07-08 02:06] graysonhicks commented on #25582
@bstrokevin Do you have a link to a repo so someone can try to reproduce your exact error?

What plugin is sourcing the images?  Normally not having a `publicURL` is due to something wrong with `gatsby-source-filesystem`.

See these related issues: https://github.com/angeloashmore/gatsby-source-prismic/issues/232#issuecomment-639747244 or #19935.

[2020-07-08 02:47] tesseralis opened #25590 "bug(docs, www): GraphQL embeds are broken"
## Description

The GraphQL embeds in doc pages like the [GraphQL Refrence](https://www.gatsbyjs.org/docs/graphql-reference/) do not load.

### Repro steps

1. Go to a page with GraphQL embeds in the docs (e.g. https://www.gatsbyjs.org/docs/graphql-reference/)

### Expected result

The graphql embed displays a GraphiQL link.

### Actual result

Nothing is shown:

<img width="654" alt="A screenshot

[2020-07-08 03:11] tesseralis commented on #24913
Resolved by #24943, #24944 among others

[2020-07-08 03:15] tesseralis commented on #24137
I'm still seeing the invalid README pages on the described plugins so I don't think this issue is resolved just yet. @viveksharmaui are you still interested in helping with this issue?

[2020-07-08 03:22] tesseralis commented on #22334
I can't seem to reproduce this. I think what's happening is that the code blocks are lazy-loaded, so if you have javascript disabled and start at a subheader, the code doesn't load immediately. Since this isn't an issue, I'll close it for now.

[2020-07-08 03:22] #22334 closed

[2020-07-08 03:23] ZachHoskins commented on #24137
I am also only seeing README.md on those pages now, but for some reason, it was displaying properly on the night of June 25. So I'm not quite sure why it went from not working to working and then back to not displaying properly again.

[2020-07-08 03:27] #21563 closed

[2020-07-08 04:01] patspam opened #25591 "gatsby build suppresses the last line of console.log output"
## Description

When running `gatsby build`, all `console.log()` calls except for the last one are printed to STDOUT.

### Steps to reproduce

Add some `console.log` calls to an empty Gatsby page and run `gatsby build`

eg.
[code]

### Expected result

[code]

### Actual result

[code]

### Environment
[code]

[2020-07-08 04:17] bhargav-kahar-everestek commented on #25375
I've changed to this & fix the problem.

[code]

[2020-07-08 04:17] #25375 closed

[2020-07-08 06:19] FraserThompson commented on #12011
I should also add that this issue never went away for me. Every time I change Gatsby versions it seems to come back again.

This should be re-opened imo since it seems a bunch of people with large sites are experiencing this issue.

[2020-07-08 06:22] LekoArts commented on #25590
This is an intermittent issue with codesandbox and sometimes occurs. For example yesterday it worked fine and tomorrow it'll be fine again. There is nothing on our end what we could do to solve this.

[2020-07-08 06:22] #25590 closed

[2020-07-08 06:27] LekoArts commented on #25589
Thank you for opening this!

You'll need to have to wait for lodash to release a patch release. Once that's out you'll automatically get that new release (we don't pin versions). Nothing much we can do on our end, it's expected that when a wide-used library like lodash has an advisory you'll see a lot of warnings. Shouldn't take too long though as they know that themselves.

[2020-07-08 06:27] #25589 closed

[2020-07-08 06:50] LekoArts commented on #3721
This has been superseded by https://github.com/gatsbyjs/gatsby/issues/16040

[2020-07-08 06:50] #3721 closed

[2020-07-08 06:55] jun-gh commented on #22206
No luck. I'm trying the prerender.io . I'll update if it works.

Martin I. Abanes
miabanes@gmail.com

On Wed, Jul 8, 2020 at 8:30 AM Evan Rose <notifications@github.com> wrote:

[2020-07-08 08:07] selrond commented on #12384
not stale

[2020-07-08 08:18] sgnl commented on #9091
https://www.gatsbyjs.org/docs/gatsby-link/#how-to-use-the-navigate-helper-function This page needs to be updated

[2020-07-08 08:23] sgnl commented on #9091
I was able to access my data through the page's props `location.state` 🤷‍♂️

[2020-07-08 08:43] balibebas commented on #15601
Great job almost getting this finished. I saw @wardpeet mention there were some performance impovements if this is integrated and push though both the upgrade and reversion. Hope this can be tackled without a major. If anything I'm sure some developers wouldn't mind seeing this go through a beta period of sorts so greenfield projects can start developing with the latest goods from the get-go.

[2020-07-08 08:43] jugshaurya opened #25599 "How to get all the ipynb files inside a git repo?"
## Summary
Use case: I want to use gatsby to pull all the jupyter notebooks in my GitHub repo and read all the content of it and show as a blog. Can someone help How to get that? I was trying to use gatsby-source-git and @gatsby-contrib/gatsby-transformer-ipynb, but not able to get every file inside subdirectories and it's content. only getting the top level 3 .ipynb files.

## Relevant informatio

[2020-07-08 08:44] jugshaurya commented on #25599
@pieh please help

[2020-07-08 08:53] LekoArts commented on #25599
Thank you for opening this!

Please don't ping people, especially if you just created your issue a minute before that. That's rude.

As we don't maintain said plugins please open an issue on their repository, you probably want to open one here:
https://github.com/stevetweeddale/gatsby-source-git

Only getting the top 3 level will be a limitation or setting in this plugin.

We're marking this issue

[2020-07-08 08:53] #25599 closed

[2020-07-08 09:00] alexej-d commented on #11205
Same here, when a query variable is used only in the fragments inside a page query I get the same error.

[2020-07-08 09:36] pvdz commented on #25562
(Confirmed. Edit a component or template or something and you'll get this.)

[2020-07-08 09:37] pvdz commented on #25562
[code]

I guess it's tripping over a file-socket?

[2020-07-08 09:44] jayhostan commented on #23123
I was about to use the downloadLocal today and run into a different issue, reproduced on a clean install.

Seemingly the plugin options are not passed down correctly. In the source plugin `pluginConfig.get(`downloadLocal`)` always returns false (same applies for forceFullSync) so the download wont ever start

  System:
    OS: macOS 10.15.5
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GH

[2020-07-08 10:00] balibebas commented on #18665
:tada: This was resolved in #19789. With the backing PR merged this works without error now:

1. Remove index page and run `gatsby clean`.
1. Add redirect using [`createRedirect`](https://www.gatsbyjs.org/docs/actions/#createRedirect) (Note you'll probably want to set `redirectInBrowser: true` to mimick behavior on client and server.)
1. Restart `gatsby develop` and point browser to site base url.

[2020-07-08 10:02] balibebas commented on #18665
:tada: This was resolved in #19789. With the backing PR merged this works without error now:

1. Remove index page and run `gatsby clean`.
1. Add redirect using [`createRedirect`](https://www.gatsbyjs.org/docs/actions/#createRedirect) (you'll probably want to set `redirectInBrowser: true`.)
1. Restart `gatsby develop` and point browser to site base url.
1. Observe redirect.

[2020-07-08 10:04] balibebas commented on #18665
:tada: This was resolved in #19789. With the backing PR merged this works without error now:

1. Remove index page and run `gatsby clean`.
1. Add redirect using [`createRedirect`](https://www.gatsbyjs.org/docs/actions/#createRedirect) (you'll probably want to set `redirectInBrowser: true`)
1. Restart `gatsby develop` and point browser to site base url.
1. Observe redirect.

[2020-07-08 10:21] vladar commented on #25506
Hi @DWShuo !

This sounds like a valid bug to me. If you're up for it, we'd very much appreciate if you could [provide a minimal reproduction][reproduction] and we'll be able to take a look and maybe fix it if this a bug indeed.

Thanks for using Gatsby! 💜

[reproduction]: https://gatsby.dev/reproduction

[2020-07-08 10:49] balibebas opened #25601 "Redirecting from base url on client causes page flicker"
## Description

Redirecting from `/` to `/foo` with `createRedirect` using the `redirectInBrowser` option set to `true` causes the page to flicker. While it's clear in the docs `createRedirect` isn't a stand-alone feature it's useful to set `redirectInBrowser` for development builds for demonstration purposes and sane dev workflow.

### Steps to reproduce

Run the [minimal reproduction](https://gi

[2020-07-08 11:18] etabard commented on #24617
Related to https://github.com/gatsbyjs/gatsby/pull/22607 and https://github.com/gatsbyjs/gatsby/issues/21799

I'm closing my issue and will follow the PR progress !

[2020-07-08 11:18] #24617 closed

[2020-07-08 11:21] Jacob124 opened #25603 "Debugging Gatsby Build. No Page or Line # Given"
This has given me a few headaches now. I've been trying to build my e-commerce site with Gatsby and I keep getting errors I didn't have in development. I keep getting the common error `'ReferenceError: window is not defined'` but I get no line number or code.
![image](https://user-images.githubusercontent.com/15256522/86912356-d5cbb980-c0ea-11ea-8b5a-0116550a2143.png)
A quick project search proves

[2020-07-08 11:53] LekoArts commented on #25298
I'll close this issue as the issue with react-slideshow-image was fixed. @pieh point a) is tracked here: https://github.com/gatsbyjs/gatsby/issues/25507

[2020-07-08 11:53] #25298 closed

[2020-07-08 11:55] LekoArts commented on #25037
https://github.com/gatsbyjs/gatsby/pull/25385 should have fixed this. If you're still seeing this behavior please post a reproduction in this issue: https://github.com/gatsbyjs/gatsby/issues/25507

[2020-07-08 11:55] #25037 closed

[2020-07-08 11:56] LekoArts commented on #25603
This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/25507 - please post a reproduction there.

[2020-07-08 11:56] #25603 closed

[2020-07-08 11:56] LekoArts commented on #25507
Please create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

[reproduction]: https://gatsby.dev/reproduction

[2020-07-08 12:09] LekoArts commented on #25416
Thanks for the issue, will close this as answered.

[2020-07-08 12:09] #25416 closed

[2020-07-08 12:17] #20699 closed

[2020-07-08 12:36] Jacob124 commented on #25507
I guess the main "Bug" is the lack of information being given after the error. Just so that we're on the same page, is this not a normal thing? I mean, does the build usually fail with a better explanation as to why?

[2020-07-08 12:43] pvdz commented on #25336
I'll have a look at this in the next few days. It seems something is underlying broken/incompatible when running the filters with `@link`.

[2020-07-08 13:17] BottlecapDave opened #25605 "Can't resolve '../../public/static/d/...' on build box, but works locally"
## Description

After updating my project to the latest gatsby, my builds are failing on Netlify but successful locally. I've seen a few issues that showcases similar results, but their solutions don't seem to be working.

I've updated my build stage to do `gatsby clean` before `gatsby build` and also run the deployment as `clear cache and deploy site`.

Interesting the names for the static json f

[2020-07-08 13:24] josephmarkus opened #25607 "Downgrading to older Gatsby version throws various errors"
## Description

Describe the issue that you're seeing.I decided to upgrade a bunch of outdated gatsby dependencies (see a screenshot from the PR below). Then I discovered a bug (see https://github.com/gatsbyjs/gatsby/issues/25522). I found that the problem was in a particular version of gatsby, so I thought if I simply roll it back to a version before the issue was introduced, it would work smooth

[2020-07-08 13:43] jordanlesich commented on #25570
@graysonhicks So I found a fix and a good explanation of both why the problem was happening and why the fix worked. I had posted the issue on a WSL2 subbreddit called r/bashonubuntuonwindows. A user @superlinkx gave me a detailed beakdown about how the LinuxVM I'm running has it's own version of local host. While Windows does some automatic port forwarding, which is different than the loopback ada

[2020-07-08 13:45] jordanlesich commented on #25570
Also, I can still scan the ports and try to reproduce the issue if you think that will help clear anything up. I do know that I checked to make sure that it was the only open instance of VScode or a terminal window or anything like that. This was definitely the most commonly asked question on the Gatsby reddit.

[2020-07-08 14:03] #24483 closed

[2020-07-08 14:07] joaopedrocoelho opened #25609 "createPages seems to be using the wrong template"
I'm developing a blog about astrology and I'm trying to create pages for blog articles, and for monthly horoscope articles,
this is my gatsby-node.js :

[code]
the first createPage instance uses the articles templates and it works just fine, but the second instance is supposed to use the horoscopes template but it's apparently still using the articles template, because of the way the pages are ren

[2020-07-08 14:22] connorlindsey commented on #25582
This may be related to Gatsby image not handling GIFs. [Working with GIFs](https://www.gatsbyjs.org/docs/working-with-gifs/) in Gatsby gives a little more detail.

[2020-07-08 14:40] graysonhicks commented on #25570
Ah okay.  Yea I do have my `start` command typically set as `"start": "gatsby develop -H 0.0.0.0",` but don't remember where or why I picked up that pattern.

Agreed that I don't know if this is something Gatsby needs to change anywhere, but I think it is good we have a well documented fix here now for other WSL2 users and I don't think scanning your ports will provide anything useful at this poin

[2020-07-08 14:40] #25570 closed

[2020-07-08 14:44] graysonhicks commented on #25582
@connorlindsey That's correct, I think the issue is that the CMS may be accepting many image types in a field so sometimes `gatsby-image` should work and other times (when it is a GIF) it won't.

In most cases, even when `gatsby-image` fails on an image, there should still be a `localFile` that has been saved to the filesystem, that has a `publicURL` field.

Depending on the plugin that is sourcin

[2020-07-08 14:51] graysonhicks commented on #25609
Hi @joaopedrocoelho do you have a link to a reproducible test case showing this issue?

At a glance though, maybe these lines:
`component: require.resolve("./src/templates/horoscopes")`
should be: (using path)
`component: path.resolve("./src/templates/horoscopes")`

[2020-07-08 14:59] Louisrobertson20 opened #25612 "gatsby develop error: "gatsby-plugin-mdx" threw an error while running the onCreateNode lifecycle"
## Description

After pulling the Gatsby Personal Starter Blog and running gatsby develop, I am getting the following error: "gatsby-plugin-mdx" threw an error while running the onCreateNode lifecycle: Cannot find module 'gatsby-remark-vscode'

### Steps to reproduce

1. gatsby new [your-project-name] https://github.com/thomaswangio/gatsby-personal-starter-blog
2. cd to project
3. npm install shar

[2020-07-08 15:06] bstrokevin commented on #25582
I'm using gatsby-starter-wordpress and I notice it doesn't have gatsby-source-filesystem in gatsby config file.
https://github.com/GatsbyCentral/gatsby-starter-wordpress/blob/master/gatsby-config.js

I'll look into gatsby-source-filesystem. if you have the basic config for gatsby-source-filesystem, do recommend @graysonhicks

[2020-07-08 15:11] bstrokevin commented on #23678
The issue if the feature image is a gif, the feature image don't have pubicURL(workaround option) and childImageSharp is null. The feature image only have Source URL which is not local. Can any know how to fix this?

[2020-07-08 15:16] rvanmarkus commented on #24774
I'm seeing the same errors here; it happens randomly as well (both on Mac OS and CI).
Sometimes the error is:
```vips2png: unable to write to target```
the other time it's:
```Input file has corrupt header:```

In both cases there is no image path in the errors; so it's really hard to track down if a certain image input from the source is the problem. At least having that would maybe already help

[2020-07-08 15:20] graysonhicks commented on #25582
@bstrokevin Try this:
1. `npm install --save gatsby-source-filesystem`
2. Add this to your `plugins` array in `gatsby-config`:
[code]
3.  See if you now have a `publicURL` on the `localFile`

[2020-07-08 16:13] bstrokevin commented on #25582
it worked @graysonhicks ! Thanks so much. I thought it will take more to make it work with wordpress source plugin.

[2020-07-08 16:27] graysonhicks commented on #25582
@bstrokevin Great!

[2020-07-08 16:27] #25582 closed

[2020-07-08 16:43] ehrencrona commented on #22991
Not a biggie, but the documentation states that `NPMPackage` can take an array as `name` parameter but if I try e.g. `<NPMPackage name={["a","b"]}/>` I get the error message

[code]

[2020-07-08 16:46] graysonhicks commented on #25612
Hi @Louisrobertson20 I believe this is a duplicate of an issue on that starter repo itself: https://github.com/thomaswang/gatsby-personal-starter-blog/issues/8.  This is not an issue with Gatsby itself, but something with how that community starter has its dependencies.

[2020-07-08 17:30] ehrencrona commented on #22991
I created a [recipe for setting up unit testing of components and GraphQL queries](https://gist.githubusercontent.com/ehrencrona/1a2d715e39eab707be6915d3b78eec2b/raw/8abb9c3ff9caa6d605b2d163b4d9a8559601eef8/testing.mdx) using my `gatsby-plugin-testing`.

It's quite a few small files that need to be added so it's pretty useful to have it packaged as a recipe.

[2020-07-08 18:03] ben4d85 opened #25615 "Default language option for gatsby-remark-prismjs"
## Summary

For [gatsby-remark-prismjs](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-prismjs), please consider providing an option to set a _default language_ in gatsby-config.js.

### Basic example

Right now, we have to specify the language manually every time we add code to a markdown file, for example:

[code]

### Motivation

For those of us using the same language al

[2020-07-08 18:05] exocode opened #25616 "is not possible to consume React context (useContext) within /pages ?"
I've a question regarding Context API:

I have a page which consists of Layout, which is splitted in Sidebar, Navigation, Footer... .
I've set up a Context to show and hide some stuff (in my case a share area).

I have a file within `/pages` folder and wanna consume that context which was clicked in the layout area, but it is not changing in the `pages`.

Here is my example: It simply toggles true

[2020-07-08 18:19] jugshaurya commented on #25599
ok. Thank you.

sorry for that.

By the way, got it resolved after writing my own custom transformer-plugin to convert Jupyter notebook to Html. Thanks to notebooks

[2020-07-08 18:26] herecydev commented on #25616
I've made this work so it's definitely possible. Can you put together a repo so I can better see what you're attempting?

[2020-07-08 18:27] Mayeul-T opened #25617 "Netlify fails to create file nodes with remote images"
## Summary
Hi, I've a bug to deploy my Gatsby on Netlify. All works locally but I have this log on Netlify:

[code]

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`:
[code]

`package.json`:
[code]

`gatsby-node.js`:
[code]

`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2020-07-08 18:27] mahtd commented on #25481
I didn't get any problems on the static-query-template version either

[2020-07-08 18:38] kamerondotcom commented on #25605
I'm seeing this too

[code]

[2020-07-08 18:57] Mrazator opened #25619 "Error: Cannot create as TypeComposer the following value: ImageFormat."
## Description

When linking gatsby-theme with `yarn link` to the gatsby site using that theme, `gatsby build` fails with the following error:

[code]

### Steps to reproduce

1. Run `yarn link` on any gatsby-theme-[name]
2. Run `yarn link gatsby-theme-[name]` in the site using that theme and install dependencies with `yarn`
3. Run `gatsby build` and the error should appear

### Expected result
`g

[2020-07-08 19:30] laurieontech opened #25621 "`gatsby develop` errors out when port 8000 is in use"
Previously, if 8000 was in use the CLI would ask whether I wanted to run on another port.

It appears this behavior is broken as I see this instead.

<img width="975" alt="Screen Shot 2020-07-08 at 3 24 26 PM" src="https://user-images.githubusercontent.com/15000607/86961811-db97be00-c12f-11ea-8dc7-16bf98571cb7.png">

To Reproduce:
- Run a gatsby project using `gatsby develop`
- Attempt to run `gat

[2020-07-08 19:41] blopa commented on #16450
I can only make it work with "index.jsx" but not "Index.jsx". It would be awesome if a support for Index.jsx would be added (capital-case "Index").

[2020-07-08 20:01] Overdozed commented on #11710
Error with your hasura coming from using single query values where arrays are expected.
Probably you copied your query from their playground, but the playground set single objects per default also where array is expected. It doesn't cause errors on playground itself.

[2020-07-08 20:01] Overdozed commented on #12856
Error with your hasura coming from using single query values where arrays are expected.
Probably you copied your query from their playground, but the playground set single objects per default also where array is expected. It doesn't cause errors on playground itself.

[2020-07-08 20:02] AndrejGajdos commented on #25554
@vladar yes, this issue is random and I decided to create a recording so you can believe me :)

I tried `"gatsby-react-router-scroll": "3.0.3"` but it didn't help. There is still that issue :(

[2020-07-08 20:05] muescha commented on #22334
ok - they are visible now.

but i have to hit on every doc page the `force reload`, because i have always an old cache. caching is fine, but if i can not trust anymore the content i see thats not fine :(

[2020-07-08 20:06] paulhickman-a365 opened #25622 "Quickstart fails with 'Multiple "root" queries found.'"
## Description

Following the instructions at https://www.gatsbyjs.org/docs/quick-start/ when I start the development server and browse to http://localhost:8000 I get an error page.

There are also warnings about case sensitivity in filenames.

### Steps to reproduce

npm install -g gatsby-cli
gatsby new gatsby-site
cd gatsby-site
gatsby develop

### Expected result

Show some sort of starter site

[2020-07-08 20:07] muescha commented on #25290
@FocalChord thanks a lot :)

[2020-07-08 20:20] johannesjo commented on #5400
Are there any news on this?

[2020-07-08 20:48] JustFly1984 commented on #19618
The issue is still persists on 2.23.21 version

[2020-07-08 21:08] #25019 closed

[2020-07-08 21:21] Jacob124 commented on #25507
I figured out my issue:
I was using gatsby's navigate function before a component was mounted. Navigate uses the window object under the hood. It makes sense I wasn't able to find it using by searching my node_modules folder since it's installed globally.
I found it by trying to make a minimal reproduction. When I added the pages that had 'navigate' the build failed, but this time, it showed me ex

[2020-07-08 21:57] moonmeister commented on #25207
Here's the original PR: https://github.com/gatsbyjs/gatsby/pull/20142

@wardpeet Looks like the you did most this work, `basePath` being used doesn't seem to be providing the asset prefix. Is there a way to fix this?

[2020-07-08 21:59] moonmeister commented on #21420
Looks like this did get resolved, closing.

[2020-07-08 21:59] #21420 closed

[2020-07-08 22:48] moonmeister commented on #25216
Okay, this is silly, but it's happened twice to me. When it hangs, hit "enter" (you may have to wait a bit?). Yarn and gatsby dev "froze"on me, it seems to be working in the background, but not updating the terminal. Hitting "enter" makes it spit out the missing text and continue to work. Let me know if this works for you.

[2020-07-08 23:07] moonmeister commented on #22757
I'm hoping to start work on this soon. Any final comments or input? Then only thing I'm unsure on is how to handle `pathPrefix`, but that' s shouldn't be too hard to solve once I get writing code.

[2020-07-08 23:38] huynhpeter commented on #21139
Just started running into this issue as well

[2020-07-09 01:06] #25420 closed

[2020-07-09 01:49] SilencerWeb opened #25628 "Docs are not being shown for gatsby-plugin-sass"
## Summary
Is it supposed to be like that? [Link](https://www.gatsbyjs.org/packages/gatsby-plugin-sass/?=sass)

![image](https://user-images.githubusercontent.com/20713191/86987795-4f79ab00-c1b0-11ea-9b27-ea193ce6f14a.png)

[2020-07-09 01:53] lupelius commented on #8056
We already have credit card in and paying for build minutes, just had 4 builds fail due to this 15mins limit (1 hour of build time wasted which we'll have to pay for...) please get our limit up to 30 mins too, we have too many routes to be limited to 15m. Thanks

[2020-07-09 02:03] decimoseptimo commented on #5987
This should be re-opened.

[2020-07-09 02:07] theship commented on #18048
Today, I had this error when installing Airtable plugin. I went to search for this issue and came across Issue #25556. So I tried to walk through the tutorials, and sure enough, I was able to replicate this error when reviewing https://www.gatsbyjs.org/tutorial/part-three/.

At https://www.gatsbyjs.org/tutorial/part-three/, I ran into the problem:

1. Did step 1 and installed "tutorial-part-three"

[2020-07-09 06:06] F5CnS opened #25630 "Gatsby does not work on IE11"
## Description

I understand that Gatsby supports IE11 by default. However, React totally did not work in one of the pages in my Gatsby app.
The page name is product and when I navigate to that page, the following error can be seen in the console:

```Unhandled promise rejection error, page resources not found for /product. Not rendering React```

So the page was loaded, but javascript did not wor

[2020-07-09 06:44] #15601 closed

[2020-07-09 07:28] exocode commented on #25616
@herecydev

I made here a repo to point out this problem. Very simplified, but shows the issue:

https://github.com/exocode/gatsby-context-problem

[2020-07-09 07:32] LekoArts commented on #25628
Hi! You can follow this issue here: https://github.com/gatsbyjs/gatsby/issues/24137

[2020-07-09 07:32] #25628 closed

[2020-07-09 07:54] joaopedrocoelho commented on #25609
If I change require to path I get the following error :
[code]

[2020-07-09 08:05] cheshrkat commented on #14161
This would be really helpful. My use cases are...

1) wanting to generate versioned copies of documentation for frameworks and APIs
2) wanting to generate a copy of the docs when we spin up pull requests

Path prefix can probably solve (1) but (2) changes too often for that to really be suitable.

example.com/gatsbydocs (imagine this is v3)
example.com/v1/gatsbydocs
example.com/v2/gatsbydocs
test.

[2020-07-09 08:38] janosh commented on #22757
Looking forward to the update! 👍

[2020-07-09 08:41] adonig opened #25636 "Duplicate Viewport When Using gatsby-plugin-react-helmet"
## Description

Gatsby's html.js already contains a viewport specification:

`<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />`

Thus when you set the viewport with gatsby-plugin-react-helmet, there are two viewport specification.

You can fix this by overriding html.js and adding `data-react-helmet="true"`.

Would it make sense to add this by default so one

[2020-07-09 08:48] TomPeak commented on #24461
I did it by the book … got same error!

Everything uptodate!
latest nvm npm gatsby-cli

[2020-07-09 09:08] Louisrobertson20 opened #25638 "Gatsby develop error: 'pngquant.exe is not recognized as an internal or external command, operable program or batch file.'"
## Description

When running gatsby develop, I get the error: ' 'node_modules\pngquant-  bin\vendor\pndor\pngquant.exe' is not recognized as an internal or external command,  operable program or batch file.'

### Steps to reproduce

Download 'Gatsby Personal Starter Blog' from the Gatsby CMS tutorial. I've tried to configure my Windows 10 environment as that seemed to cause initial issues (but may

[2020-07-09 09:12] LekoArts commented on #25636
Hi, thanks for the issue!

What we have in `html.js` is considered to be best practice, if you need an escape hatch for edge-cases you can override that file as you already have discovered. Adding the attribute you mentioned wouldn't be the silver bullet as the users then have to use `react-helmet`. There are other packages out there to add that information and also our own API: https://www.gatsby

[2020-07-09 09:51] adonig commented on #25636
Hi @LekoArts!

Adding the attribute does not force users to use react-helmet. The data attribute has no meaning as long as they don't use it. It's just like 24 bytes more in the default html template.

Sadly it's not possible to replace the viewport by replacing the head components, because the viewport isn't one of them. The default html template handles those meta-tags separately.

<img width="8

[2020-07-09 09:55] spences10 commented on #25554
Myself and someone else I know were having this issue but it's now resolved with the resolutions.

[code]

Where should I be watching for this to be fixed @vladar?

I don't actually use `gatsby-react-router-scroll` as a dependency in my project.

Is it fair presume this is now fixed with #25161 ?

[2020-07-09 10:18] cometkim commented on #25630
Yes... I've got 38K events from Sentry last 24 hours, after updated gatsby-image to the latest version :\

![image](https://user-images.githubusercontent.com/9696352/87027910-cba7d900-c218-11ea-9784-f2381c151b98.png)

[2020-07-09 10:18] PetroPavlenko commented on #25095
Hi all. Is there any updates. Is there something I can help with ?

[2020-07-09 10:24] Mrazator commented on #25619
I tried to use workspaces instead, by adding path to my theme into my-gatsby-site > package.json > `workspaces: [ "../../path-to-mo-gatsby-theme" ]`.

Now `gatsby build` fails on resolving the first plugin in my-gatsby-theme > gatsby-config.js > `plugins` field, even though the plugin is properly installed and located in one of the searched locations: `- /home/marcelm/projects/my-mono-repo/my-gats

[2020-07-09 10:25] Mrazator commented on #25619
I tried to use workspaces instead, by adding path to my theme into my-gatsby-site > package.json > `workspaces: [ "../../my-gatsby-theme" ]`.

Now `gatsby build` fails on resolving the first plugin in my-gatsby-theme > gatsby-config.js > `plugins` field, even though the plugin is properly installed and located in one of the searched locations: `- /home/marcelm/projects/my-mono-repo/my-gatsby-site/

[2020-07-09 10:34] mirshko opened #25640 "Gatsby Image & Sharp `background` blur-up"
## Description

When using `fit: CONTAIN background: "#ffffff"` on a `childImageSharp` with the `...GatsbyImageSharpFluid_withWebp` fragment the initial blurred base64 image has a black background which changes to the white background with the image loaded.

### Steps to reproduce

Using a GraphQL static query, add

[code]

query to your image,

see image blur up from black image to white.

![Scre

[2020-07-09 11:57] skube commented on #18048
Doing a "fresh" install will work with Yarn or npm:
[code]

(altho deleting the lock file _could_ have undesirable effects as it will remove the version "lock" on all packages — allowing them to update the highest semver defined in `package.json`)

[2020-07-09 12:26] DanielRuf commented on #18048
You can also use `npm ci` (cleaninstall) ;-)

[2020-07-09 12:50] ehannes commented on #25207
Is there any difference between this issue and #18497? Was this not resolved in #20142?

[2020-07-09 12:52] skube commented on #18048
@DanielRuf That's what I thought at first too, but I tried it and it didn't work for me:

[code]

[2020-07-09 12:55] Mrazator commented on #25619
Finally setting workspaces next to each other helped to resolve the issue (same structure as: https://github.com/gatsbyjs/gatsby-starter-theme-workspace) - at least as a workaround.

However, I still do not understand why the previous attempt with workspaces did not work as dependencies seems to be installed correctly. Is it maybe some limitation of `yarn` itself?

[2020-07-09 13:08] pieh commented on #25587
I was trying to reproduce this using your `gatsby-ssr` snippet and I couldn't ... unless I had `<style>` tag in `<Helmet>` in which case I had to add special case for `<style>` tags there in the snippet:

[code]

There is not enough information here without having access to your project to concretely say what's wrong :( Can you share your project? Or create minimal reproduction site that showcase

[2020-07-09 13:42] sjoerdvermeijden opened #25645 "Can only query the first post of a custom post type, can't use edges > node"
When i try to query posts from a custom post type i can't select "edges{}", therefore i am not able to get all the posts from the custom post. I am only able to query the first one. Anybody have any ideas?

## Summary
![Schermafbeelding 2020-07-09 om 14 47 40](https://user-images.githubusercontent.com/13441035/87046889-08b0a300-c1fa-11ea-8278-9b9930b05fe9.png)

## Relevant information

![Schermafb

[2020-07-09 13:47] wardpeet commented on #25630
Is it possible to create a small reproduction? Also please make sure to test IE11 when running `gatsby serve` and not `gatsby develop`

[2020-07-09 13:49] graysonhicks commented on #25617
For clarity, this is the error failing the build:

That error can come from several things.
- What kind of images are they?  If it is a GIF, it will not create the `childImageSharp`.
- Are some of the fields empty?  ie Is it possible for a node to not have an image?  If an image is ever missing, then there may be a problem with how `createTypes` is defined and Gatsby can't infer the types when it

[2020-07-09 13:54] #16350 closed

[2020-07-09 14:08] DanielRuf commented on #18048
What npm version do you use? The latest versions should work better. But I guess your problem is solved now. Just wanted to mention `npm ci` which helped in our projects so far before we migrated all projects to yarn at one company.

[2020-07-09 14:53] ishanloya commented on #25264
#23922 adds this feature

[2020-07-09 14:53] #25264 closed

[2020-07-09 15:05] moonmeister commented on #25207
We fixed all `pathPrefix` related issues but the `assetPrefix` specifically is still not getting applied correctly inside the manifest file. It's a bug in the original fix.

[2020-07-09 15:11] benrobertsonio opened #25647 "Build fails because a .cache/json file name is too long"
## Description

I have a build that fails on macOS and Linux environments because a generated cache filename is too long.

Error looks like this:

[code]

The path name has 275 characters.

Is there a way we could limit these generated cache file names so that they work cross-OS?

### Steps to reproduce

I can provide an environment to reproduce.

### Expected result

Build should complete.

### A

[2020-07-09 15:11] richhiggins commented on #25417
I have a Gatsby app on Heroku with webhook triggered builds. We are using Contentful but the integration should be more or less the same. On a publish event you'll want to hit Heroku's build endpoint with a POST request.

We also trigger the nightly build using the following config with axios, here you can see the endpoint, headers and data payload you need to send from your webhook.

[code]

[2020-07-09 15:22] muescha commented on #23931
since `prettier` is based on `unified` and `remark` - maybe the `prettier` engine is customizable with plugins, so we get our styling done without switching complete to an own solution?

[2020-07-09 15:26] KyleAMathews commented on #25647
This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/4125

Fix is pretty straightforward if someone wants to pick it up https://github.com/gatsbyjs/gatsby/issues/4125#issuecomment-384741839

[2020-07-09 15:26] #25647 closed

[2020-07-09 15:57] pieh commented on #25605
Is either of you able to share your site so we could drill into the issue?

This should be stable, as this is "hash" generated from your static query text input. It might be related to fact that your local env is on Windows and Netlify is on linux, which could result in subtly different line endings (LF vs CRLF) depending on some git settings - but this is just shot in the dark and even if the has

[2020-07-09 16:12] herecydev commented on #25616
Hey your example isn't very simple to follow, but a quick glance shows the component tree looks like:

![image](https://user-images.githubusercontent.com/11328618/87064227-51228d80-c207-11ea-8337-c6b6eb30fc5d.png)

[2020-07-09 16:17] graysonhicks commented on #25616
Yea, I think there is a lot happening under the hood that makes this difficult to explain/visualize, but here is your sandbox forked with it fixed by moving the Context consumer to a _child_ of the Index page instead of in the Index page itself:

https://codesandbox.io/s/admiring-hooks-lzxb4?file=/src/pages/index.js

The relevant part:
[code]

[2020-07-09 16:27] pieh commented on #25591
This is unfortunately known issue.

This happens because html rendering happens in different process(es) than the majority of work that Gatsby does. Processes share same stdout stream right now and the result is that there is some "fighting" between main process that displays spinners and rewrite stdout when step is done and SSR processes - in here the `Building static HTML for pages` activity is

[2020-07-09 16:27] herecydev commented on #25616
Yer because previously you were using the context that was declared at the "index page level", where layout is now responsible for rendering the `IndexContent` component. This will then have a context that's "somewhere beneath the layout".

It's really hard to articulate, but hope that helps?

[2020-07-09 16:31] pieh commented on #25638
Can you run `npm rebuild` and paste the output? I suspect that during installation of dependencies some binaries fail to build. Given that you are on Windows https://www.gatsbyjs.org/docs/gatsby-on-windows/ this might be relevant (especially when running `npm rebuild` or deleting `node_modules` and reinstalling you will see error messages mentioned there in "if npm install" fails)

[2020-07-09 16:36] pieh commented on #25645
You will need to use `allWordpressWpProject` field instead of `wordpressWpProject` one - the one you are using will always return single piece of data (first one that matches provided filters, and because you didn't use any filter it will just return first one)

Fields starting with `all` are "connection fields" and those have `edges.nodes` (or just `nodes` for connivence)

[2020-07-09 16:36] #25645 closed

[2020-07-09 16:38] pieh commented on #25607
https://github.com/gatsbyjs/gatsby/issues/25478 is the issue that cause this - so you should be able to just pin `xstate` dep as I mentioned in https://github.com/gatsbyjs/gatsby/issues/25478#issuecomment-653106613

[2020-07-09 16:38] subtleaaron commented on #22635
Hi there, I've come across the same issue when following this tutorial. I cannot seem to get the ErrroType is disappear. It is due to the childImageSharp.Fluid; function  https://www.youtube.com/watch?v=afCjUsXtAtE&t=1s

[2020-07-09 16:45] necheporenko commented on #25314
I tried to load the scripts in gatsby-ssr.js, but that did not help too.

[code]

[2020-07-09 16:48] pieh commented on #25616
Dan summarised it pretty well (I also have no way of articulating it better :) ).

To fix the problem the Provider should be above consumers and you can do this by using https://www.gatsbyjs.org/packages/gatsby-plugin-layout/ and putting Provider there, then you could use it in your page components directly. Alternatively you could use [`wrapRootElement`](https://www.gatsbyjs.org/docs/browser-apis

[2020-07-09 16:52] CaptainChemist opened #25650 "Gatsby navigate throws a window undefined error"
## Description

After switching to use `navigate` from the gatsby package rather than @reach/router, I'm getting a window not defined error when I run gatsby build. Is this expected? I feel like I must be doing something silly.

### Steps to reproduce

Here is the offending code, I am getting an error on the first line that calls `navigate`.

[code]

### Expected result

I'd expect it to build wit

[2020-07-09 16:56] gitjeff05 commented on #25449
I was also a little confused here:

#### A clearer distinction between the `eslint-loader` options and `eslint` rules may help.

I *believe* the interpretation is that when including your own `.eslintrc` file, **both** the `eslint-loader` configuration *and* the `eslint` rules that come with Gatsby are overridden. Getting them back involves two steps:

  1. To get the `eslint-loader` options back,

[2020-07-09 16:57] skube commented on #18048
[code]

[2020-07-09 17:14] necheporenko commented on #25314
Hello @weglot and @nico2che,
Do you have instructions for using your service in React (Gatsby)?
Or maybe you can help us with this issue.

[2020-07-09 17:15] pieh commented on #25607
Talking about using caret version selectors - it's never black and white. There is just no good solution to do this. Yes pinning deps could potentially prevent this, but it's not guaranteed as most of dependencies that gatsby use have their own deps using carret version selectors. This is also default behaviour for npm and yarn to use them when adding new package via `npm install X` / `yarn add X`

[2020-07-09 17:18] sjoerdvermeijden commented on #25645
Thank you a bunch! That dit it ;)

[2020-07-09 17:43] pieh commented on #25622
Can you run `cmd /C "set GATSBY_LOGGER=yurnalist && gatsby build"` as well as output of `cd` (no args, this should just show current working directory)? It seems like the warnings are cut a bit and they are missing more information that should be there. This will not fix the issue, but hopefully would show some.

Because of windows being very forgiving when it comes to path casing it actually caus

[2020-07-09 17:45] Louisrobertson20 commented on #25638
That did the trick! The npm rebuild command ironed out all issues and I can now view the site on local host. Thank you!

[2020-07-09 17:59] graysonhicks commented on #25609
Sorry I meant to also add the file suffix there as well:
`component: require.resolve("./src/templates/horoscopes")`
should be: (using path)
`component: path.resolve("./src/templates/horoscopes.js")`

I don't know if Gatsby needs that to resolve the component.

[2020-07-09 18:00] 21c-HK commented on #24930
I clicked on a link to https://www.gatsbyjs.org/ today, which showed a blank (black) page. So there you have it. This bug even shows up on your own web site.

[2020-07-09 18:04] pratikluitel opened #25653 "Can I change the build directory?"
## Summary
Hey, I migrated a project to Gatsby, and want to change the build directory so I could deploy from there. Can't seen to find any solutions to change the directory.

[2020-07-09 18:08] adamcronin42 commented on #18382
I'm having the same issues described above. I'm on a MacOS 10.13.5 and just downloaded the starter based on the tutorial. When I make a change to the index.js page I need to save twice before my changes are hot loaded in the browser. If I save just once I have the same issue as @scottschup described above. Any fix for this?

[2020-07-09 18:16] DWShuo commented on #25506
@vladar This is the theme i am using https://www.gatsbyjs.org/packages/@wkocjan/gatsby-theme-intro/ and here is the reproducible test case https://github.com/DWShuo/graphql-shadow-bug

[2020-07-09 18:18] pieh commented on #25653
No, `public` is hard coded right now and adding this option can lead to compatibility issues with plugins because a lot f plugins also expect this directory and generally there is not enough pros there to add this option and handle inevitable issues that will be reported because of that. You might try doing symlinks or so public is there but it's also available under different path

[2020-07-09 18:18] #25653 closed

[2020-07-09 18:36] codingwithchris commented on #25360
Hi, there! I believe I am having a similar problem to @styxlab.

I just started seeing this recently. Every single preload is throwing this error locally AND on production in the JS console after about 10 seconds of being on the page.

This is happening in Chrome, Firefox, and Safari. I should note that I am NOT using `gatsby-plugin-offline` anymore. In an effort to resolve this issue, I uninstall

[2020-07-09 18:37] cometkim commented on #25630
Sure, but I'm not sure the problem I have is the same issue with the original. @F5CnS Do you use gatsby-image? how's your stacktrace?

[2020-07-09 18:39] cometkim commented on #25630
(FYI, I already resolved the problem by just reverting a dependabot PR and tested in BrowserStack)

[2020-07-09 18:39] herecydev commented on #25591
Could this not be solved by Gatsby logging _whatever_ to the console which then gets chewed up?

[2020-07-09 19:00] pieh commented on #25619
Looking at the code from the stack trace ( https://unpkg.com/browse/graphql-compose@6.3.8/lib/SchemaComposer.js ):

[code]

What comes to mind is the `instanceof` checks not ever matching probably means that there is multiple instances of `graphql` module (one in dir you link and one in your actual site). This is known to cause various issues in graphql ecosystem.

The second approach seems weird,

[2020-07-09 19:02] pieh commented on #25619
There probably is weird interaction when site and theme are not "siblings". TBH I don't know much about setup you described in second approach. What I see usually is people setting up workspaces as in your 3rd approach

[2020-07-09 19:03] vladar commented on #25622
We had a similar issue in the past: #19863 (it must be solved now)

Still, can you also share a path in your terminal when you run `gatsby develop`? The issue above was reproducible with a lowercase drive letter in the terminal, i.e.:

This failed:
[code]

This worked (note the capital `C:\` in a drive):
[code]

[2020-07-09 19:16] pieh commented on #25619
Ok, so I created minimal repro for 2nd case - https://github.com/pieh/i25619 and got same issue as you described (we can't fix first one as this is upstream issue with multiple graphql module instances).

[2020-07-09 19:23] def-not-ys opened #25657 "gatsby starter failed Building development bundle"
## Description

I am using this [gatsby-ghost-starter](https://www.gatsbyjs.org/starters/TryGhost/gatsby-starter-ghost/). I successfully installed the app, and ran `yarn` to installed all dependencies. But when I ran `gatsby develop` I kept getting this error:

[code]
I tried adding the react tool tip mentioned in this post [#25453](https://github.com/gatsbyjs/gatsby/issues/25453) and still gettin

[2020-07-09 19:28] Uhiyamind commented on #7454
This worked for me.

`exports.onInitialClientRender = () => {
  window.scrollTo(0, 0)
}
`

[https://github.com/gatsbyjs/gatsby/issues/19488#issuecomment-554007194](url)

[2020-07-09 20:00] wahlforss commented on #17914
Why can't we show hydration errors with a flag in Gatsby Build or development?

[2020-07-09 20:02] hayk94 opened #25658 "Error EPERM for mkdir .cache after reruning `gatsby develop`"
## Description

Getting error EPERM , every time I make a change to `gatsby-node.js` file and re-run `gatsby-develop`

Tried clearing the cache, but the only workaround for this at the moment is to restart whole windows.

[code]

### Steps to reproduce

https://github.com/hayk94/my-blog

`gatsby develop`

make change to `gatsby-node.js` file

rerun `gatsby develop`

### Expected result

local dev

[2020-07-09 20:03] pieh commented on #25615
Would using additional plugin that would add default lang instead of having this baked in `gatsby-remark-prismjs` work for you? `gatsby-remark-prismjs` is already quite large "beast" and I would really like to avoid adding more options there

[2020-07-09 20:26] pieh commented on #25615
Here's `gatsby-remark-*` plugin that set's the default lang for code and inline code - https://www.npmjs.com/package/gatsby-remark-default-code-lang

[2020-07-09 21:15] samajammin commented on #7505
Hey folks - I'm looking to accomplish this behavior (pass data as a prop to my Layout component's child components, each page component) - is there a new best practice on how to accomplish this? Or is `gatsby-plugin-layout` still the best approach?

In the [Gatsby docs on Layouts](https://www.gatsbyjs.org/docs/layout-components/#gatsbys-approach-to-layouts), they mention:

... but there's no expla

[2020-07-09 21:26] Mrazator commented on #25619
So first case I would understand now, as linked package has its own `node_modules`, it might have happened that two different instances of graphql package were installed (exactly as you said). It is a pity though that due to that it is not possible to use `yarn link`.

The second case might be actually my fault and inproper use of workspaces. From `yarn workspaces` docs:

The third case works, but

[2020-07-09 21:26] BagchiMB commented on #25587
Hi @pieh although I couldn't make this gatsby ssr thing to work but I was able to make the crawlers see my meta tags actually my meta tags were updating a second or two late therefore I was not getting them on initial render later I made a workaround, but I continue to wonder why my gatsby-ssr didn't work, can I message you personally as I am not comfortable with sharing my project here, I will po

[2020-07-09 21:26] mhmdAljefri commented on #25650
@pieh & @blainekasten of you don't mind I would like to help In this?

[2020-07-09 21:29] pieh commented on #25587
👍  You can dm me via https://twitter.com/mipiechowiak

[2020-07-09 21:39] ItzaMi opened #25659 "docs(workflows): npm vs. yarn"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to understand the differences between NPM and Yarn and how I can use install Gatsby with either

# Evaluation

| Search | Discover | Complete | Linked | Tone | Style | Overall |
| --- | --- | --- | --- | --- | --- | --- |
| 😄 | 😄 | 😐 | 😐 | 😄 |

[2020-07-09 21:40] ItzaMi commented on #13708
Hi 👋 I just created the issue #25659 for npm vs. yarn.
Thank you in advance for any feedback!

[2020-07-09 22:13] raquelmsmith opened #25661 "Gatsby Link is appending the target path to the current page URL.... sometimes"
## Description

The <Link> component is placing the target path after the current page URL. For example, the `blog/blog/` in this URL:

![image](https://user-images.githubusercontent.com/18598166/87095626-ea48a880-c1f5-11ea-8ee3-f712f7cc12ac.png)

I'm seeing that when using the Link component on [this page](https://5f0791653b549a0007a8e4f5--wizardly-spence-993265.netlify.app/blog/):
![image](https

[2020-07-09 22:20] wardpeet commented on #25661
Hey,

You should use
[code]

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-07-09 22:20] #25661 closed

[2020-07-09 22:22] raquelmsmith commented on #25661
Ahhhhh a forward slash at the beginning. Thank you!!

[2020-07-09 22:35] CaptainChemist commented on #25650
Thanks everyone! I realized after more research that this has been reported here: https://github.com/gatsbyjs/gatsby/issues/10421

Over there they say that it can be fixed by moving this into a `componentDidMount` and that might be so, I guess the thing that is a little confusing is why the reach-router works without an error and why gatsby is apparently using that router under the hood but throwi

[2020-07-10 00:09] #24820 closed

[2020-07-10 00:09] #23629 closed

[2020-07-10 00:18] F5CnS commented on #25630
I used `gatsby-image`

[2020-07-10 00:29] Mayeul-T commented on #25617
Hello,
- image png or jpg
- no, all nodes have an image
- it's just Gatsby rename it alternative_id and I don't rename the log.

I give you a link asap

[2020-07-10 00:51] F5CnS commented on #25630
yes, I tested with production build

[2020-07-10 00:58] mattfelten commented on #25657
I'm getting this too with my project. I'm not seeing it locally though which is weird. But my Netlify build is giving me the same error.

[2020-07-10 01:41] F5CnS commented on #25630
@wardpeet @cometkim

So I have updated gatsby and fixed the problem IE. The following installations work for me:

System:
    OS: macOS 10.15.5
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.18.2 - ~/.nvm/versions/node/v12.18.2/bin/node
    Yarn: 1.19.1 - /usr/local/bin/yarn
    npm: 6.14.5 - ~/.nvm/versions/node/v12.18.2/bin/npm
  La

[2020-07-10 01:41] #25630 closed

[2020-07-10 01:55] hkair commented on #24814
This is happening to me also. Not sure what the cause is.

[2020-07-10 02:18] johnmikel commented on #17557
This worked! Fantastic solution.

[2020-07-10 02:25] polarathene commented on #24814
@hkair Without a reproduction repo and preferably live site, you aren't likely to get any action taken.

[2020-07-10 04:08] kaufmann42 opened #25669 "Gatsby Image Not W3C Compliant"
## Description

The Gatsby Image component misuses the media tag. See errors reported by the W3C checkers below.
![image](https://user-images.githubusercontent.com/11468557/87115340-8a272600-c238-11ea-99d5-e20aaa017496.png)

### Steps to reproduce

1. Goto https://validator.w3.org/nu/?showsource=yes&showoutline=yes&showimagereport=yes&doc=https%3A%2F%2Fairmilkshake.com%2F

This is a validator of t

[2020-07-10 04:24] BottlecapDave commented on #25605
It seems like my issue was related to https://github.com/gatsbyjs/gatsby/issues/24673 where I was defining `gatsby-plugin-typescript`

[2020-07-10 05:27] gateixeira commented on #25552
Just getting back to you to say that I managed to make it work with version 2.15.x. Sorry for the delay, the windows laptop is not my own. Closing the issue.

[2020-07-10 05:27] #25552 closed

[2020-07-10 06:01] AndrejGajdos commented on #25554
@vladar I just tried it again and `"gatsby-react-router-scroll": "3.0.3"` fixed this issue. Thanks for help.

[2020-07-10 06:17] stanleyyuenyiu commented on #25544
@pieh let say you are generating the page with multi-language (if it is not pre-generating, it has no issue) ,
/cz/abc-page/index.html, /en/abc-page/index.html,

when you switch the language, you will force to re-render the page
 (which will also re-call some function, event put it into did mount cycle),

therefore, i just wanna to switch the url silently

and in case the user refresh the browser

[2020-07-10 06:19] stanleyyuenyiu commented on #25376
@LekoArts any update???

[2020-07-10 06:22] tesseralis opened #25672 "bug(www): /features/ tables are inaccessible"
## Description

The tables featured in pages like [Gatsby vs Next.js](https://www.gatsbyjs.org/features/jamstack/gatsby-vs-nextjs/) are inaccessible to screenreader users. Among the issues:

* The tables are not [semantic `<table>` tags](https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/features/evaluation-table.js#L23). This means that table cells will not be read with proper cont

[2020-07-10 06:29] ehannes commented on #25207
Ok. Then if someone more than me is wondering about this, #18497 was incorrectly closed since the problem I described there was concerning `assetPrefix` and not `pathPrefix`. Thanks @disintegrator for creating a new issue to keep this alive since the problem still exists.

[2020-07-10 06:34] AndrejGajdos commented on #25657
I have the same issue from today.

[2020-07-10 08:06] danielmacuare commented on #25657
+1 Here. I'm having the same issue while doing the following:

[code]

[2020-07-10 08:54] floAr opened #25673 "Problem using wrapRootElement and AnimateSharedLayout from framer-motion"
I am using AnimateSharedLayout from framer-motion to animate my page. The idea is that two components, having the same *layoutId* will animate betwene each other when one get added / removed. This works fine if I have both components on the same page, toggeling them using a statefull variable (see here for a simple working example: https://codesandbox.io/s/purple-dew-mi9rb)

Yet what I would like

[2020-07-10 08:55] stanleyyuenyiu opened #25674 "Gatsby or NextJS for ecommence complex site"
I have below applications:

a magento2 e-commence site with Restful API in docker

some nodejs micro service Restful API in docker

i wanna to develop a ecommence frontend (use magento 2 api)  + user portal site (use some micro service that code by nodejs)

given that:

i have over 30000 user
i have 50 pages on user portal, some path will depends on user, which mean not able to pre-gen, e.g /myinb

[2020-07-10 09:35] pratikluitel opened #25675 "Is there an alternative to StaticQuery that allows passing parameters into a graphql query?"
## Summary

I wanted to make use of variables in a graphql query within a component, and can't seem to find any way to do that.

[2020-07-10 09:49] floAr commented on #25673
Figured it out on the way. If wrapPageElement is used instead of wrapRoot it works. Still not 100% sure why, but I assume it has something to do with the render order of components.

[2020-07-10 09:49] #25673 closed

[2020-07-10 09:52] diegomadeit opened #25676 "I can't see any meta tag in the build directory after running gatsby build"
## Description

I noticed the problem because Facebook Share is not picking up OpenGraph meta tags on my project. If I inspect the code the meta tags are there but If I check index.html file in the build directory I see no meta tags.

- My project is a Gatsby theme.

- I use createContext() and I use gatsby-ssr and gatsby-browser to wrap all the elements with a Provider.

### Steps to reproduce
To

[2020-07-10 09:53] dominicfallows commented on #21701
@pieh @wardpeet we have noticed that as a result of changes in https://github.com/gatsbyjs/gatsby/pull/25057 that the `matchPaths` are no longer included in `app-[hash].js` files. This has a positive side-effect for this issue. We haven't done thorough testing yet of our client-only nested routers, which we will do shortly, but I wanted to ask if this side-effect (which is positive so far) was int

[2020-07-10 10:10] Adityac1 opened #25678 "'gatsby' is not recognized as an internal or external command, operable program or batch file."
I am trying to create a new project in CMD using gatsby new projects. I am getting the error as 'gatsby' is not recognized as an internal or external command,
operable program or batch file.

Even I had installed using the cmd npm i -g gatsby-cli. I am getting a successful message but I am unable to create a new project

Please, anyone, help me in  fixing the issue

[2020-07-10 10:43] andyhmltn commented on #25657
Also seeing this locally on an existing gatsby installation

[2020-07-10 10:51] andyhmltn commented on #25657
I upgraded gatsby to `2.24.18` and this appears to be fixed

[2020-07-10 10:59] dalxds commented on #25554
same issue here!
I believe the issue is on one of the recent versions of gatsby since it didn't existed some days ago that I hadn't updated.

[2020-07-10 11:01] dalxds commented on #25675
In gatsby, you can pass variables to GraphQL queries only through the page context.
Check the [docs](https://www.gatsbyjs.org/docs/page-query/).

[2020-07-10 11:03] pieh commented on #21701
Hmmm, this PR shouldn't have such impact - what this PR should have done is just change from using `.cache/match-paths.json` to `$virtual/match-paths.json`, but the size of match-paths shouldn't be impacted at all. This might be regression TBH, will drill a bit into it

[2020-07-10 11:07] Amorpheuz opened #25680 "Missing Code block under Docs -> Commands (Gatsby CLI)"
## Description

A code-block which informs the user about the piece of code to `package.json` in order to use the gatsby commands available in the application is missing on the documentation webpage at [How to use gatsby-cli | Commands (Gatsby CLI)](https://www.gatsbyjs.org/docs/gatsby-cli/#how-to-use-gatsby-cli).

It is present in the `.md` file on [GitHub repo](https://github.com/gatsbyjs/gatsby

[2020-07-10 11:13] coldice commented on #25680
It looks like this affects more (possible: all) code blocks, see:
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/static-query.md
https://www.gatsbyjs.org/docs/static-query/

[2020-07-10 11:18] sidharthachatterjee commented on #25521
Thank you for reporting this @andysaktia

As @pieh _correctly_ mentioned, this appears to occur because you're using an unsupported version of Node. Gatsby supports Node v10.13 at a minimum. Please upgrade Node.

Also, out of curiosity, what version of Node and Gatsby CLI were you using? Thank you!

(Marking this issue as resolved and closing but feel free to reopen if upgrading doesn't fix this f

[2020-07-10 11:18] #25521 closed

[2020-07-10 11:22] pieh commented on #21701
Using default it seems like `match-paths.json` are still bundled into `app` chunk for me (at least using default start) - and this is expected (as I mentioned in comment above)

I wonder - this might be result of changes to webpack chunking setup maybe that we done some time ago? If that would be the case then `match-paths` might not end up in `app` chunk, it might just end up somewhere else (espe

[2020-07-10 11:35] ben4d85 commented on #25615
Yes, that's what I had in mind! Thank you so much!

However, now that I am using it, I realised a few things:

1. This new plugin does not appear to work with [gatsby-remark-code-titles](https://github.com/DSchau/gatsby-remark-code-titles/)

I have tried
[code]
and
[code]
but both lead to the resulting code-block having no language at all, i.e. not using the default language configured in the new

[2020-07-10 11:47] Marvelousy20 commented on #18048
Oh yeah, gatsby needs to fix up. I was almost giving up as a new user.

[2020-07-10 12:00] AndrejGajdos commented on #25657
Thanks @andyhmltn. I don't see an error with that version.

[2020-07-10 12:00] AndrejGajdos commented on #25554
@dalxds try to use `"gatsby": "2.24.18"`, it works for me.

[2020-07-10 12:01] dalxds commented on #25554
@AndrejGajdos I'll try it and I'll let you know. thanks!

[2020-07-10 12:46] exocode commented on #25616
Interesting! For my point of view is this "magic" of Gatsby (I'm Gatsby noob).
Very nice thank you, have to read through. I will close this now. Thanks again.

[2020-07-10 13:15] Aarekaz commented on #21442
I am again facing this issue
![image](https://user-images.githubusercontent.com/36888347/87158428-708ce980-c2df-11ea-9da1-555cbac2573f.png)
 Any Idea whats wrong? I tried copying it and redeploying it. But I am still facing this issue.

[2020-07-10 13:15] joaopedrocoelho commented on #25609
I found the error, I was referencing the wrong path for the horoscope component. Sorry, I'm a newbie.

Thanks for your attention!

[2020-07-10 13:22] pieh commented on #25615
Ah, I didn't account for extra "directives" there. You can check the code of the plugin - https://github.com/pieh/gatsby-remark-default-code-lang/blob/master/index.js in both `title=MyClass.cs` and `:title=MyClass.cs` the `if (!node.lang)` check will not match, because `lang` will be those strings, so there would be need for some processing there, will adjust

[2020-07-10 13:48] pieh commented on #25615
Ok, added compatibility for `gatsby-remark-code-titles` in `0.0.2` - check updated readme for plugin ordering in config https://www.npmjs.com/package/gatsby-remark-default-code-lang

[2020-07-10 13:52] #25616 closed

[2020-07-10 13:52] #25609 closed

[2020-07-10 13:58] Aarekaz opened #25685 "rror Generating JavaScript bundles failed Can't resolve 'react-tooltip'"
## Description

I am getting a wired issue regarding react

### Steps to reproduce

I think this issue cant be reproduced unless you try to build my repo [here](https://github.com/Aarekaz/personal-website)

### Expected result

The site should be published.

### Actual result

I am facing this issue while deploying [Log](https://app.netlify.com/sites/aarekaz/deploys/5f086ffa34d0949f02e39952)

###

[2020-07-10 14:50] Aarekaz commented on #25685
I fixed it by removing  'react-tooltip'

[2020-07-10 14:50] #25685 closed

[2020-07-10 14:53] rametta commented on #25678
Duplicate issue: https://github.com/gatsbyjs/gatsby/issues/2509#issuecomment-384779247

[2020-07-10 14:55] dominicfallows commented on #21701
@pieh apologies, it was a false positive (true negative for this issue, I suppose). I have run various tests and it does seem that webpack is now putting `matchPaths` array elsewhere. Thank you for your help though.

I've run tests difference `examples` sites, slowly increasing the number of dynamic pages, using something like:

[code]

When the array gets to a certain size, webpack is creating an

[2020-07-10 15:57] LouisBertin commented on #25314
Hi @necheporenko, thanks for your answer.

Do you think there is no workaround to re-run the Weglot script each time Gatsby regenerate the DOM content ?

[2020-07-10 15:58] josephmarkus commented on #25607
Thanks for the update @pieh. I didn't even think of other dependencies having their own dependencies. It's like a never ending tree. Perhaps this just isn't a great default.

[2020-07-10 16:01] atomkirk commented on #24566
I would like to see something faster for development than webpack. Takes 5-10s to reload and I'm using a slightly modified version of the contentful gatsby starter project. Webpack is excruciatingly slow.

[2020-07-10 16:13] josephmarkus commented on #25554
@AndrejGajdos which version did you have in mind? `2.24.18` doesn't exist in the changelog - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANGELOG.md

[2020-07-10 16:21] chrisworman-pela commented on #25605
@BottlecapDave I appear to be experiencing the same issue:

[code]

Did you correct the issue?  You mention _where I was defining gatsby-plugin-typescript_.  Could you provide details regarding your fix?

[2020-07-10 16:27] def-not-ys commented on #25657
@andyhmltn would you mind explaining how to upgrade gatsby? (I am new to web development). thanks

[2020-07-10 16:30] andyhmltn commented on #25657
@def-not-ys If you're using yarn:`yarn upgrade gatsby@2.24.18` or if you're using npm: `npm install myPackage@2.0.0 --save`

Let me know if that doesn't work

[2020-07-10 16:50] def-not-ys commented on #25657
@andyhmltn  Thanks! Yes upgrading gatsby fixed the error on building development.
I did not see the option of `gatsby@2.24.18` so I upgraded it up `gatsby@2.24.2`.
however now I am getting a bunch of errors on GraphQL. but it successfully built the development bundle.
Upgrading seems to the fix to this issue. Thank you so much!
will close this issue now.

[2020-07-10 16:50] #25657 closed

[2020-07-10 16:52] andyhmltn commented on #25657
@def-not-ys Great news 👍

[2020-07-10 16:57] necheporenko commented on #25314
Hi @LouisBertin,
I've found the reason for this issue, to fix this, you should add this id `#___gatsby` in the settings of your Weglot admin panel.

![image](https://user-images.githubusercontent.com/20722449/87179121-e34d9300-c2e6-11ea-9f1d-e3effe69cf75.png)

[2020-07-10 17:05] josephmarkus commented on #25522
It appears that this bug has been introduced here - https://github.com/gatsbyjs/gatsby/pull/24306 and released in 2.23.6 (2020-06-19) (see https://github.com/gatsbyjs/gatsby/compare/gatsby@2.23.5...gatsby@2.23.6).

I tried downgrading to 2.23.5, but this didn't help, which makes me think that my identified source of error isn't the culprit.

I tried downgrading to other lower versions, but ran int

[2020-07-10 17:09] JordanHoffman opened #25689 "Prevent Link from using cached state prop during page refresh?"
I'm using Gatsby's Link component and passing some info in the state prop to have animations play in my nav bar when links are pressed. (ex: you press a link and its bg-color changes to highlighted while the prior link's bg-color changes back to normal)

I run into a problem during a page refresh after doing some prior link clicks. In this situation, it seems that the refresh uses a cached state v

[2020-07-10 17:29] AndrejGajdos commented on #25554
@josephmarkus sorry, it was `2.24.2`

[2020-07-10 18:19] timfee opened #25690 "[gatsby-plugin-mdx 1.2.25] mdx TypeError: Class constructor AssetLink cannot be invoked without 'new'"
## Description

When rendering MDXContent inside of an MDXProvider with components specified, the page fails to open, instead producing the following error:
[code]

### Steps to reproduce

See  https://github.com/timfee/www/blob/mdx/src/templates/post.tsx#L113

### Environment

[code]

This was working a few days ago, and I can't seem to figure out what's going on. Advice elsewhere on the internet

[2020-07-10 18:31] TylerBarnes commented on #25674
Hi @stanleyyuenyiu thanks for opening this issue and asking such a great question!
Given your requirements Gatsby is a great choice! Your 30k users should make no difference in build times as you'll need to dynamically create anything related to their profile or account client-side.
Gatsby will offer you better site speed and maintainability and make scaling for high traffic a non-issue. I would r

[2020-07-10 18:31] #25674 closed

[2020-07-10 18:36] TylerBarnes commented on #25675
Hi @pratikluitel , thanks for opening an issue and asking such a great question!
It sounds like you're interested in using variables within StaticQuery and this is currently not possible. You'll need to make use of pageContext when you call createPage and use variables only in your page queries for now.
However: there is work in progress that might potentially solve your use-case in a different wa

[2020-07-10 18:36] #25675 closed

[2020-07-10 18:38] TylerBarnes commented on #25676
Hi @diegomadeit  !

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [prov

[2020-07-10 18:41] TylerBarnes commented on #25678
Hi @Adityac1 , thanks for opening an issue. As @rametta mentioned this is a duplicate so please follow the steps in that linked comment and follow up in that issue if needed.
Thanks again!

[2020-07-10 18:41] #25678 closed

[2020-07-10 18:53] timfee commented on #25690
This might be my fault.

when I changed
`MDXProvider components={ Asset }>` to
`MDXProvider components={{ Asset }}>`, it worked again.

(I think in the past, I always had more than one component I was passing.)

Apologies for being a bonehead if this truly was the extent of the case! :)

[2020-07-10 18:55] #24789 closed

[2020-07-10 18:56] TylerBarnes commented on #24939
Hi @vai0,

I'm closing issue this issue due to no reproduction being posted within 7 days.
Once you have a minimal reproduction feel free to re-open this issue and we'll be happy to take another look. 💜

Thank you!

[2020-07-10 18:56] #24939 closed

[2020-07-10 18:57] #24739 closed

[2020-07-10 19:10] TylerBarnes commented on #25421
Hi @marlomgirardi !

I'm closing this issue due to no reproduction being posted within 7 days.
Once you have a minimal reproduction feel free to re-open this issue and we'll be happy to take another look. 💜

Thank you!

[2020-07-10 19:10] #25421 closed

[2020-07-10 19:12] TylerBarnes commented on #25422
Hi @jf-home!

I'm closing this issue due to no reproduction being posted within 7 days.
Once you have a minimal reproduction feel free to re-open this issue and we'll be happy to take another look. 💜

Thank you!

[2020-07-10 19:12] #25422 closed

[2020-07-10 19:18] TylerBarnes commented on #25455
Hi @crypto-jones !

I'm closing this issue due to no reproduction being posted within 7 days.
Once you have a minimal reproduction feel free to re-open this issue and we'll be happy to take another look. 💜

Thank you!

[2020-07-10 19:18] #25455 closed

[2020-07-10 19:23] crypto-jones commented on #25455
Hi @TylerBarnes

I was unable to reproduce this issue because there was a bug in `gatsby-source-apiserver` that seems to have been very recently fixed.
https://github.com/thinhle-agilityio/gatsby-source-apiserver/issues/49#issuecomment-656440872

I'll reopen this issue soon once I have a chance to delve back into it. Thanks!

[2020-07-10 20:13] BottlecapDave commented on #25605
My issue seemed to be around my upgrade process where I had gatsby-plugin-typescript defined in my package.json and also in my Gatsby config. According to the comment I linked, this was no longer needed and seemed to be causing issues, so I removed it from package.json and gatsby config.

I assume an older explicit version was being used instead of a newer internal one. Why this only occured on Li

[2020-07-10 20:32] LouisBertin commented on #25314
Oh, wow great! Thanks @necheporenko I'll test it in the next few days 😉

[2020-07-10 21:06] jayblack388 commented on #25672
@tesseralis Any chance I can take a whirl at this for a first contribution? Seems like pretty straightforward changes.

[2020-07-10 22:20] scottschup commented on #18382
I'm unaware of any resolution. For the guy on my team, he's a manager and just doesn't do much coding anymore so it's no longer an issue for him 😆

[2020-07-10 22:47] stefcameron opened #25691 "gatsby-plugin-mdx peer dep on mdx-js/mdx must be increased to ^1.5.9"
## Description

So this [new call here](https://github.com/gatsbyjs/gatsby/commit/760845a2c27294ec80ac5dc636df74ca7c8f514f#diff-63db4ae0a4f04331e4397f310e7b26c1R236) to `mdx.createCompiler(compilerOptions)` from https://github.com/gatsbyjs/gatsby/pull/25437, which I'm now picking up when upgrading from `gatsby-plugin-mdx` 1.2.22 -> 1.2.25 (3 patches), is suddenly causing my build to fail because `

[2020-07-11 00:12] Fasani commented on #6698
Came across this today... after an hour I just did uninstall ',' and reinstall.

[2020-07-11 02:59] ivoneijr commented on #24860
One more thing to add

If you are using `typescript` with `gatsby-plugin-page-creator` and `styled-components` is very common create a file named `styles.tsx` , you must be sure you are ignoring this files on `gatsby-plugin-page-creator`  in `gatsby-config.js`

[code]

[2020-07-11 03:54] joyfulelement commented on #25607
Have been battling with the similar issue where `gatsby develop` fails, and either upgrading/downloading `gatsby` dependency helps, because it would simply breaks the local environment.

As @josephmarkus pointed out, for example, because the way caret `^` is used for `gatsby-cli` which is the direct dependency of `gatsby`:

[code]

you would end up using a different/newer version of `gatsby-cli` o

[2020-07-11 04:46] 10-seconds commented on #25166
@LekoArts  Thanks..!

[2020-07-11 06:10] jack0wsky opened #25694 "GSAP animations delayed"
## Summary
Correct place for triggering gsap animations

## Relevant information
I'm using Gatsby and gsap animation library and I'm facing problem when some animations are fired after component's render. What I mean is that first animated element appears without animation and then animation is fired. Does anyone know if animations should be triggered in some specific moment of component lifecycle

[2020-07-11 07:28] josephmarkus commented on #25607
It's always a relief to hear that someone else shares the same experience, even if it isn't a pleasant one.

It would be great to be able to rollback to any package at a _moment in time_, rather than feel like buying a cat in a bag where at the time a package was released it worked for 98% of users with setup X and now it may not work at all. It's almost as if versioning fails on its primary purpo

[2020-07-11 10:04] nicolauscg commented on #25433
I found that inside rich text, an embedded jpg asset's graphql result is missing `data.target.fields` unlike png assets so file url is not present. Current workaround is to only use png assets. `gatsby-source-contentful` version 2.3.26

[code]

[2020-07-11 11:23] maiya-22 commented on #25694
Are you using classes or functional components? As far as I am aware, the animations need to be both written and fired inside of the componentDidMount() or useEffect(()=>{},[]) functions. (Unless they are being triggered by some other event that happens after the component has loaded).

[2020-07-11 11:48] maiya-22 opened #25695 "Error: Mixed Content Type Detected. Related to HTTPS and Netlify"
## Description

Hi, I came across an issue, while trying to use the gatsby-starter-default  https://github.com/gatsbyjs/gatsby-starter-default.  At first, adding the sass dependencies and plugin (per the docs https://www.gatsbyjs.org/docs/sass/) was causing the site to work fine locally, but to break on deploys (both the local netlify live link, and the deploy via netlify's site).  Even though I h

[2020-07-11 12:04] #24900 closed

[2020-07-11 12:04] #24592 closed

[2020-07-11 12:04] #22989 closed

[2020-07-11 12:34] Ubanna commented on #17661
I have an eraser effect with canvas on my Gatsby application. On the home page users can erase the canvas to see the video underneath the canvas.

Everything works as normal on my local machine but when I serve the app, the canvas and video do not load initially. However, if I navigate to any page within the app and back to home page, the canvas and video load and work properly.

I am new to Gatsb

[2020-07-11 12:42] meyian commented on #25290
Hello, I had two questions:

@muescha I realize you renamed my pull request. Is getting the right format for pull requests something I can learn?

Then, I pushed some changes to `docs/tutorial/part-three/index.md` and the build failed, because

[code]

Would the fix for this be as simple as adding the word "uncentered" to `dictionary.txt`? Or how else should I address this?

[2020-07-11 12:50] jack0wsky commented on #25694
Most of the cases I'm using functional components (useEffect hook) and I noticed that sometimes there's a strange delay of animation what's even more strange because of high speed that Gatsby offers.

[2020-07-11 13:13] zeropaper commented on #25374
I'm facing the same issue.

I could determined that the root cause is the generated html file

which contains something like:
[code]
the problem lies here: `<link rel="stylesheet"/>`, the tag will be found by the code

https://github.com/gatsbyjs/gatsby/blob/c9c3d68b589a1feba64d232c6b496968083e8e88/packages/gatsby-plugin-offline/src/get-resources-from-html.js#L29-L49

but it has no "src" attribute

[2020-07-11 14:13] Vinlock commented on #25560
I'm directly encountering this issue. I feel as though it seems reasonable for a dev environment to be fully configurable via environment variables.

I agree with @polarathene's suggestion in adding an environment variable and defaulting to the randomized port. Shouldn't the developer be able to optionally take control of their development environment to avoid any compatibility issues by nature?

[2020-07-11 15:29] muescha commented on #25290
### PR Title

there is some  https://www.gatsbyjs.org/contributing/managing-pull-requests/#commit-and-pr-title

### Uncentered

yes i see it is a new unknown word which you added to the PR, if you are sure that is not a spelling error (like in this case) or a file name/function name/variable name/package name (put them in code fences) then you can add it to the `dictionary.txt`.

[2020-07-11 18:31] jarodpeachey commented on #25446
@freiksenet Do you still have the working example?

[2020-07-11 20:37] eaylward8 commented on #19088
I was getting this error and upgrading my node version fixed it. I think I was on node 13.9, now I'm on 14.5.0.

[2020-07-11 22:10] capndave commented on #25695
I tried to reproduce your error and found several interesting things:

1. The errors your seeing probably have more to do with the [netlify-dev](https://github.com/netlify/cli/blob/master/docs/netlify-dev.md) process than with gatsby. If you continue to have issues running `netlify dev --live` you might want to take them up there.

2. I was able to run `netlify dev` and to view the page at `localh

[2020-07-11 22:32] Arthur092 commented on #25680
Can I take this issue?

[2020-07-12 00:09] #24079 closed

[2020-07-12 00:38] maiya-22 commented on #25694
I'm not sure if this is the right answer to your case, but I've had to play around with selecting with refs vs. just writing the string of the element id as the selector.  In other words, passing elementRef.current vs "#element" as the first arg to the gsap function. For me, the second one works better, in general. Maybe the way that gsap selects the element from the DOM is faster than the way tha

[2020-07-12 00:56] maiya-22 commented on #25695
Thank you for looking into that, & for the helpful info! I posted on Netlify community, where their devs look at the posts, so hopefully they'll see it there.

[2020-07-12 02:09] teclone opened #25698 "How to delay gatsby script execution in browser, and react hydration to after onLoad event?"
Hello guys, this is a random question.

When I look at the build generated by gatsby, I see that all necessary scripts are preloaded in the head. Then, just before the body end tag, this scripts are appended with async directive. This is impressive, but....

Judging by the way async scripts behaves, it is likely that these scripts will start executing even before the browser had fired onLoad event

[2020-07-12 06:33] vpsk opened #25700 "Blog starter throwing error"
## Description

Describe the issue that you're seeing.
gatsby starter blog creator giving error :

gatsby new personal-blog https://github.com/thomaswangio/gatsby-personal-starter-blog
info Creating new site from git: https://github.com/thomaswangio/gatsby-personal-starter-blog.git
Cloning into 'personal-blog'...
remote: Enumerating objects: 50, done.
remote: Counting objects: 100% (50/50), done.

[2020-07-12 06:44] jack0wsky commented on #25694
Ok, I think I solved this problem. For example, if desired animations is to reveal text from left and play with opacity, the best way is to set style of this text as `transform: translateX(-30px)` and `opacity: 0;` and then make gsap.to(). It prevents delayed animation.

[2020-07-12 09:04] herecydev commented on #25698
Why? Gatsby scores pretty much 100 out the box on all lighthouse scores.

How would that be done? As I understand you don't have any control over when the async script is run

[2020-07-12 09:15] teclone commented on #25698
hello @herecydev , gatsby does not score much based on the current web core vitals, lighthouse 6.0..

When you have an async script, the async script should go like this.

[code]

This one is now bad

[code]

The second one, will prevent dom on load event from firing, if the async script ends up getting downloaded and loaded before the end body tag.

I hope you understand now.

[2020-07-12 09:34] teclone commented on #25698
To prove that gatsby scripting is render-blocking based on the test on lighthouse 6.0, I have a gatsby site, deployed on s3. by loading the s3 URL directly, all scripts will not work, because of incorrect URLs. This makes it possible to see how the project scores without scripting.

Here is the link to the unscripted page, [directly from s3](https://s3.eu-central-1.amazonaws.com/dev.clacified.com.

[2020-07-12 09:43] teclone commented on #25698
this shows the preloaded scripts in the head
![Screenshot from 2020-07-12 11-40-39](https://user-images.githubusercontent.com/30493662/87243248-d50d8d00-c434-11ea-8831-a6ea578df902.png)

and here is where they are lined just before the body end tag
![Screenshot from 2020-07-12 11-41-35](https://user-images.githubusercontent.com/30493662/87243256-e6569980-c434-11ea-96e0-74a1bcc69baf.png)

[2020-07-12 09:49] sidharthachatterjee commented on #25481
@mahtd @anonimoconiglio Excellent! Thank you for testing!

[2020-07-12 09:53] sidharthachatterjee commented on #21442
@Aarekaz Can you confirm that your project has react-tooltip installed?

[2020-07-12 10:23] jack0wsky opened #25701 "ERROR #98123 Generating SRR budle failed"
## Description

While running `gatsby develop` it is #98123 error. I'm using Mapbox API and its maps. I tried to unmount component which uses maps as well as reinstalling npm, deleting node_modules and package-lock.json but it didn't solve problem. It looks like it is something wrong with mapbox files but yesterday everything worked without issues. I have also commented `wrapRootElement` with Redu

[2020-07-12 11:14] balibebas commented on #24575
**TL;DR** [`.browserslistrc`](https://github.com/browserslist/browserslist#browserslistrc) is already supported but only in project root.

If you landed here because the docs don't mention use of the `.browserslistrc` file here's a tip: yes it works, but only in the root directory. To confirm create a `.browserslistrc` file in your project root, add some bad config then run `gatsby build`. You wil

[2020-07-12 11:31] balibebas commented on #24575
**TL;DR** [`.browserslistrc`](https://github.com/browserslist/browserslist#browserslistrc) is already supported but only in project root.

If you landed here because the docs don't mention use of the `.browserslistrc` file here's a tip: yes it works, but only in the root directory. To confirm create a `.browserslistrc` file in your project root, add some bad config for the environment you wish to

[2020-07-12 11:32] lucashfreitas commented on #25619
Same issue here. Currently unable to debug/test packages locally using yarn link.

[2020-07-12 12:01] herecydev commented on #25698
Maybe I'm not following well but, we can't compare unscripted vs scripted that's not an option for most people. If you want no scripts that's possible with a plugin such as: https://www.gatsbyjs.org/packages/gatsby-plugin-no-javascript/ but it comes as a sacrifice to performance when browsing further pages.

So I've measured one of the gatsby starters (as that's independent), and the results are h

[2020-07-12 12:05] Mhmdabed11 commented on #22991
I created a recipe to setup `jest` and `react-testin-glibrary`.
https://gist.githubusercontent.com/Mhmdabed11/f811490efb87c20230a624f99aeb818d/raw/67aa6105ce395e5276bf0faf7250eef566e2953d/react-testing-library.mdx

[2020-07-12 12:07] teclone commented on #25698
Hmm, judging by your result, it shows that the problem is from own scripts. I have checked my app-..... script bundle size, and it is enormously huge, something is wrong somewhere. I will investigate further and get back to you.

Thanks for this and for your time @herecydev

[2020-07-12 12:48] sjoerdvermeijden opened #25702 "Getting an error looping through menu items fetched from WordPress"
Can someone help me with this, i'm getting an error saying "Expected an assignment or function call and instead saw an expression" while looping through the WordPress navigation items. Thanks!

<img width="578" alt="Schermafbeelding 2020-07-12 om 14 45 08" src="https://user-images.githubusercontent.com/13441035/87246596-b5835e00-c44e-11ea-9605-4ee842a3150a.png">
<img width="329" alt="Schermafbeeld

[2020-07-12 13:19] mrpbennett opened #25703 "Error: The result of this StaticQuery could not be fetched. -"
## Description

I am unable to run my site locally after running `gatsby develop` which runs fine. The repo and site works fine without any issues on another computer, but when pulling the most up to date version from master. I am unable to load the site within the browser on a different computer. The setups are both the same as I have run other gatsby projects on the computer I am having issues o

[2020-07-12 13:20] #25703 closed

[2020-07-12 13:20] mrpbennett commented on #25703
removed the static query and it works ok..just weird it doesnt do this on another computer.

[2020-07-12 13:47] herecydev commented on #25701
You need to provide the minimal reproduction otherwise it's really difficult to help.

[2020-07-12 14:16] doc-han commented on #25140
Hi @marcysutton hope it works now because I'm on edge and the site loads perfectly

[2020-07-12 14:30] doc-han commented on #25702
Hi @sjoerdvermeijden the problem here is with your jsx.
the anonymous function with parameter **item** has to return a value and this value isn't supposed to be in curly braces. So your code will look like below
[code]

[2020-07-12 14:39] sjoerdvermeijden commented on #25702
Thanks! Now how would i wrap this in div tags, because <div>return item.title; </div> Doesn't work and i didn't get it to work wrapping in in template tags either.

[2020-07-12 14:44] saadnoor commented on #21193
facing same issue

[2020-07-12 15:46] teclone commented on #25698
@herecydev , after some investigations, I found something weird, **Gatsby does not perform tree shaking for wrapPageElement and wrapRootElement components.**

Here is how I created out my test: I wanted to investigate why my script app bundle is very huge (about 890kb).

### Step 1

**I started from scratch and created just one single page, named test.tsx inside pages folder.
**here is the first c

[2020-07-12 15:58] doc-han commented on #25702
`return <div> item.title </div>` should work

[2020-07-12 15:58] herecydev commented on #25698
Are you certain it's not being split into a seperate webpack entrypoint?

[2020-07-12 16:01] teclone commented on #25698
Not at all, gatsby only generates one app js file

[2020-07-12 16:02] teclone commented on #25698
I could do a hangout call to show you what I am seeing here if you can please, this is weird

[2020-07-12 16:04] herecydev commented on #25698
Sure but it will also generate other js "bundles" if some criteria are met, so it might just be splitting the package into another bundle

[2020-07-12 16:16] teclone commented on #25698
But there is no need for it, as I am only importing a file from the package, not the whole package. I endup seeing unused codes inside the app bundle file, codes I never expected.

this is how it looks, the private package index.js file looks like this
[code]

the WrapPage component itself, imports from helpers like this
[code]

the helpers index.js file inturn exports all of this
[code]

Now, bec

[2020-07-12 16:30] rwchampin commented on #22746
Hey guys!

Im facing the EXACT same issue.  I was wondering how your graphql.schema looked like?  Everytime I try to do this, it tells me that the type doesnt exist on the schema.  Im using amplify and gatsby so I have an RDL schema.  Like...where are you defining your model type of AWSAppSync_Product from?

[2020-07-12 16:44] herecydev commented on #25698
Not sure then, probably best to open another issue with a reproducable example

[2020-07-12 16:56] kkartikeye commented on #15038
did anyone find a way around this? I am also stuck

[2020-07-12 17:38] teclone commented on #25698
ok, @herecydev , I will do that

[2020-07-12 18:06] leerob commented on #16233
Hey! Thanks for the comparison table with Next.js and Gatsby. A few things I noticed that need updated:

- Documentation / Sourcing Data (**Excellent**) [Source](https://nextjs.org/learn)
- Documentation / SEO (**Excellent**) [Source](https://nextjs.org/learn)
- Documentation / Adding search (**Good**) [Source](https://github.com/vercel/next.js/tree/canary/examples/with-algolia-react-instantsearch

[2020-07-12 19:36] teclone commented on #25698
@herecydev , we can close this issue, I found the solution. To support complete tree shaking in npm libraries, you need to inform webpack that your codes has no side-effects, and that any unused code should be pruned using the sideEffects directive.

[More information is here for documentation purposes](https://webpack.js.org/guides/tree-shaking/#mark-the-file-as-side-effect-free).

Thank you so m

[2020-07-12 20:14] mohsinulhaq opened #25707 ""gatsby build" not including CSS when the project package json marks the CSS as a side effect"
## Bug Report

**Describe the bug**

I am using gatsby via docz. When I run `docz build`, which in turn runs `gatsby build`, the build is not including a CSS file that I import in one of the components.
When I remove that CSS file from the `sideEffects` array in the project package.json, it works fine.

**To Reproduce**

- In the project, import CSS in one of the documentation components.
- Mark t

[2020-07-12 20:27] #25695 closed

[2020-07-12 20:28] capndave commented on #25695
Closing this issue as it doesn't involve problems with gatsby

[2020-07-12 20:40] tommaton opened #25708 "Generating SSR bundle failed - Can't resolve 'gatsby-link' in 'xxx/.cache'"
## Description

When I try to run `gatsby build` or `gatsby develop` I keep running into the following issue

[code]

### Steps to reproduce

This is project that has been working for a few months and I've updated yesterday and now I'm getting the above error message

### Expected result

Should be able to run `gatsby build` and `gatsby develop` with no errors

### Actual result

Error mentioned a

[2020-07-12 21:36] greenlightjohnny commented on #25708
Have you tried deleting the node-modules folder and the package-lock.json file, running gatsby clean, followed by npm install or yarn? That usually does the trick for me with cache issues, frustrating when they pop up for seemingly no reason out of nowhere!

[2020-07-12 21:40] tommaton commented on #25708
@greenlightjohnny - yep, this is how it all come about there was an error in our pipeline and the only way to replicate was to clear all of what you mentioned and reinstall it. And now our pipelines are failing and the latest code and content cant be deployed :(

[2020-07-12 21:55] bensaufley commented on #25560
Currently Dockerizing a Gatsby project and encountered this. I think it would be useful to be able to standardize the port—I'm unclear, after reading the discussion here, on why that would be a bad thing to allow.

But if it is truly bad to add that configurability, it still might be worth documenting in one way or another because I've got a Network tab full of failed requests that I had to dig th

[2020-07-12 22:17] #25690 closed

[2020-07-12 22:22] KevinBurton opened #25710 "Failed to create project"
### Description

gatsby new gatsby-starter-business https://github.com/v4iv/gatsby-starter-business causes a host of node-gyp error messages

### Steps to reproduce

gatsby new gatsby-starter-business https://github.com/v4iv/gatsby-starter-business

### Expected result

New project should be created without errors

### Actual result

Here is a sample of the output:

Building: C:\Program Files\node

[2020-07-12 22:38] polarathene commented on #21193
Provide reproductions as requested, otherwise no action can be done.

[2020-07-12 22:38] KevinBurton opened #25711 "Running project results in errors"
## Description

`gatsby develop` results in numerous errors

### Steps to reproduce

[code]

### Expected result

Web page should show up without error

### Actual result

[code]

### Environment

  System:
    OS: Windows 10 10.0.19041
    CPU: (4) x64 Intel(R) Core(TM) i7-4610M CPU @ 3.00GHz
  Binaries:
    Node: 14.4.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - ~\AppData\Roaming\npm\

[2020-07-12 23:04] Dragomir-Ivanov commented on #24851
Guys, I really think Gatsby needs a way to overwrite(or extend/merge with) `gatsby-*.js` files.
I am using a theme(@rocketseat/gatsby-theme-doc), that defines GraphQL type for its `frontmatter`, in `gatsby-node.js`. The problem is it defines this type with `@dontInfer` so I can't extend it cleanly.
Also with this theme, I can't possibly add `gatsby-remark-images-medium-zoom` to themes, `gatsby-con

[2020-07-13 00:09] #24881 closed

[2020-07-13 00:59] w3bdesign commented on #24641
Not entirely relevant, but seeing as I have recently worked with Algolia and implemented it in a React project, I recommend that you take a look at a project where I have implemented this with NextJS:

https://github.com/w3bdesign/nextjs-woocommerce

[2020-07-13 06:07] sjoerdvermeijden commented on #25702
@doc-han Thanks! `return <div> {item.title} </div>` worked for me!

[2020-07-13 06:43] LekoArts commented on #25680
Thanks for the issue!
Please try a hard refresh/clear your cache (e.g. `Ctrl + F5`) on that site as the code block you're describing is there:

![image](https://user-images.githubusercontent.com/16143594/87278439-bf57a080-c4e4-11ea-8d34-67fa40ab9183.png)

Alternatively tell us what browser (+ version) you're using.

[2020-07-13 08:28] jen729w commented on #20262
Bump! Just ran in to this one, any action? Those of us with modern Macs ... kinda large set there ... take screenshots all the time and they’re all at 144 dots.

While I’m here, can anyone tell me how to get round/remove the aggressive styling applied to these images? Lots of margin, for instance. I’m using Tailwind and if the image just came in a bare `<div>` I could at least style it down to siz

[2020-07-13 09:00] diegomadeit commented on #25676
Hi @TylerBarnes, thanks for your reaction. This is my firts Gatsby professional project and I really enjoyed doing it, I really like Gatsby. I work for the marketing deparment so social sharing is vital. I'm going to share with you a repo I created for this, hopefuly we can find together an easy a solution.

[2020-07-13 09:03] josephmarkus commented on #25554
@AndrejGajdos I've just tried 2.24.2, but it's the same issue. I cannot see anything in the changelog that would say that this issue has been addressed. Is there an ETA for when this would be fixed?

[2020-07-13 09:19] Amorpheuz commented on #25680
Hard refresh solved the issue! The browser is Edge v83.0.478.61 if that can help the caching thing.

[2020-07-13 09:28] #25698 closed

[2020-07-13 09:49] chrish-d commented on #14195
Having an issue with this where the `\w` is causing errors in this query;

[code]

[2020-07-13 09:50] chrish-d commented on #14195
Having an issue with this where the `\w` is causing errors in this query;

[code]

[2020-07-13 10:09] #25374 closed

[2020-07-13 10:23] teclone opened #25717 "Gatsby build repaints whole application after/during hydration"
## Description
I noticed while working on a gatsby project, that the whole page gets repainted after some time, likely after hydration happened. You will see images disappear and later on, reappear after some time lag due to some scripting.

### Steps to reproduce
I created a repo for this, to help reproduce the issue. [https://github.com/teclone/gatsby-image-hydrate-error-demo](https://github.com

[2020-07-13 10:30] birksy89 commented on #19618
I haven't got a catch-all solution for this, but I just wanted it to be known that I had this issue this morning for the first time ever.

And I managed to "fix" it.

The site is hosted on AWS via a provider called "Cloudways".

As an initial test, I deployed the site to Netlify - And everything worked just fine.

After digging around a bit, there seemed to be a server-side cache issue using somet

[2020-07-13 10:46] #25676 closed

[2020-07-13 11:29] EximiousKnights opened #25718 "Problem rendering MDX & layout via multiple templates."
## Description

I am having trouble rendering multiple types of content, which I have defined in two separate templates - 'singlePost' and 'page'. Both templates uses MDXRenderer to render the .mdx content for the templates.
Entering "http://localhost:8000/2020/post-x/" uses 'singlePost' template correctly. However, entering "http://localhost:8000/projects" which should use 'page' template does no

[2020-07-13 12:21] pieh commented on #21701
Ok, so this seems like combination of things here. Introduction of virtual modules (at least the way they were implemented) cause `match-paths` to have different handling for chunk splitting (as it virtually lands in `node_modules`, there are some `node_modules` rules for chunking). Will be working on adjusting that this change to get back to behaviour it had before introduction of virtual modules

[2020-07-13 12:26] ascorbic commented on #25711
Hi. Could you update to the latest version of Gatsby and see if you have the same issue? You're running quite an old version.

[2020-07-13 12:27] kdichev commented on #19618
in our case every page created from `/pages` folder works but the rest created by `createPages` fail to rehydrate react.

[2020-07-13 12:48] pieh commented on #21701
https://github.com/gatsbyjs/gatsby/pull/25720 is PR that should fix the chunk splitting change (regression?)

[2020-07-13 13:00] jamestharpe commented on #16040
I might be able to attempt this next month, once I'm finished with my current project.

[2020-07-13 13:07] ajayns commented on #2880
What if not using Gatsby for my updated site. In that case how do I remove the service worker? @davidbailey00 @NekR

[2020-07-13 13:14] tomasp1189 commented on #15277
Definitely agree with @nandorojo, manual code-splitting would be a great foundational change for sites with different components not to bulk their javascript bundles (where Gatsby's current template/page based splitting approach may not be ideal for performance reasons). But with the open (draft) PR https://github.com/gatsbyjs/gatsby/pull/24903, is there a reason why it would be a breaking/major c

[2020-07-13 13:15] KevinBurton commented on #25711
What is the easiest way to upgrade? Also I received a response:

Seems to be an issue with Github being down. The error is a 500, the exact

On Mon, Jul 13, 2020 at 7:26 AM Matt Kane <notifications@github.com> wrote:

[2020-07-13 13:23] jonaskkristensen commented on #25708
Just had exact same issue.
This happened after I installed @reach/router (I needed the <Redirect /> component)
First I deleted .cache and node_modules and ran `yarn install` - without any effect.
Then `yarn add gatsby-link` and now the error message was `Can't resolve 'gatsby-react-router-scroll' in 'xxx/.cache'`

Then `yarn add gatsby-react-router-scroll` - Now it works

[2020-07-13 13:39] JustFly1984 commented on #19618
in our case all the pages created with `createPages`, cos we are using internationalization with `/${locale}/` prefix foe every page.

[2020-07-13 13:52] IanLunn opened #25722 "Does Lighthouse 6.1 drastically reduce performance score for Gatsby websites?"
## Summary

Hi. I have a reasonably new Gatsby website that was achieving a performance score in the high 90s. Today, upon doing some tweaks I noticed my performance score now in the 60-70s. I reverted changes (that were actually for the purpose of increase performance further) and still see a bad performance score.

## Relevant information

[Lighthouse 6.1 got released](https://github.com/GoogleC

[2020-07-13 13:53] josephmarkus commented on #25708
Could these be related - https://github.com/gatsbyjs/gatsby/issues/25554#issuecomment-655094319 ?

[2020-07-13 14:00] KevinBurton commented on #25711
Isn't this the latest version? - `gatsby-cli: 2.12.60`

[2020-07-13 14:11] wesbos commented on #25722
Mine (wesbos.com) was ~97, I did see mine drop to ~60s a few weeks ago, but now it's showing 84. Same codebase.

No sure if this is a gatsby issue or not and I still think my site is super fast, just thought I'd drop my numbers in as well.

<img width="619" alt="image" src="https://user-images.githubusercontent.com/176013/87314414-2b400600-c4f1-11ea-83fd-2384ee8b030f.png">

[2020-07-13 14:21] kdichev commented on #19618
did you find a solution for this? we also have this setup with many locales

[2020-07-13 14:34] LekoArts commented on #25722
Hi, thanks for the issue!

Please follow along here: https://github.com/gatsbyjs/gatsby/issues/24332

[2020-07-13 14:34] #25722 closed

[2020-07-13 14:45] adamcronin42 commented on #18382
Fair enough, that works too lol I guess I'll just have to save twice for now.

[2020-07-13 15:00] Kaltoft opened #25725 "Content Manager doesn't display entries organized in subfolders by custom slug"
## Description

When using a collection with custom `slug` that organizes the content by folder the CMS Admin panel won't display these entries. They are successfully created in the admin section and appears in the list of entries as expected right after, however when the page is refreshed they don't show up.

They are created as expected in a folder structure looking like this:

[code]

But the C

[2020-07-13 15:35] blainekasten opened #25726 "Add prettyPath to markdown models"
## Summary

With the upcoming routing APIs in #25204 one pain point is creating url paths from markdown files. A common use case in current mdx apps is to generate a slug from the file path in gatsby node.

Instead of creating that path when creating the page, we want to add that to the mdx schema. Something like this should work:

[code]

### Basic example
[code]
### Motivation

This will make cr

[2020-07-13 15:42] connorlindsey commented on #25726
I'm interested in picking this up / walking through it with you Blaine.

[2020-07-13 15:55] blainekasten commented on #25726
@connorlindsey Great! Let me circle back on this tomorrow. I just realized this should apply to all `File` models, not just `mdx` so I need to do a little research to how to do this now

[2020-07-13 15:55] pieh commented on #25726
I'm all for it as creating slug from file path is task that consistently repeat in a lot of projects.

One thing to be mindful here is that both `mdx` and `remark` nodes can be created from remote data (for example from Contentful long text field), which doesn't have actual file associated with it

[2020-07-13 15:58] laurieontech commented on #25726
@pieh in that situation what would you expect the behavior to be? A null prettyPath? A path based on title? Something else?

[2020-07-13 16:00] blainekasten commented on #25726
@pieh in those situations is the model's parent of type `File` or something else? I'm thinking if we just add this value to the `File` property maybe it'll solve it for us?

[2020-07-13 16:08] pieh commented on #25726
TBH I don't know. It's pretty impossible to confidently do this for nodes other than File, because it will depend on structure of data etc. I think that returning `null` and possibly displaying some warning to explain why there is no `prettyPath` would be fine handling to unlock this feature for File based situation.

It's something else, at least in Contentful case - it might differ from case to

[2020-07-13 16:17] blainekasten opened #25729 "[Umbrella] Run SSR in Develop ☔"
## Summary

Gatsby currently does not run SSR in develop mode. This has caused some users headaches when they deploy gatsby apps to find that there are production-only issues due to SSR.

The solution is to convert gatsby develop into running true SSR.

### Motivation

To make Gatsby easier to use, prevent hard to debug errors, and have a more consistent developer experience.