[2019-07-30 05:13] isubhokarma opened #16203 "Downgraded: gatsby-source-contentful@2.1.15 -> gatsby-source-contentful@2.0.47"
I think there might some bug/ issue with the library `gatsby-source-contentful@2.1.15` (version: current version), as there are no queries calls found in GraphQL Playground to fetch the **Rich-Content Images/ Assets**.

Downgrading the package to `gatsby-source-contentful@2.0.47` worked.

[2019-07-30 05:22] vadimdemedes commented on #15505
Quick update, I've been looking into it whole evening, and I've came to conclusion that frequency of output rendering won't affect performance, because the heavy part is happening when output is generated in Ink, not when it's rendered. I have some ideas for optimization, but it will take time to implement and test those. Until then, I'd recommend sticking with Yurnalist reporter, if slowdown is u

[2019-07-30 05:27] by-k4y4k commented on #16183
After a bit more investigating, I found what was causing the meltdown!

Querying an image file that looked like `[Elf]Canary.png` caused the muck up. So the error message was a bit misleading, but I'm glad I eventually found the bug. :smile:

[2019-07-30 06:56] wardpeet commented on #15278
Thank you for opening this, @ArthurHwang

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-07-30 06:56] #15278 closed

[2019-07-30 07:01] wardpeet commented on #15475
Oh I fixed this in your PR :) Seems like I missed this.

[2019-07-30 07:01] #15475 closed

[2019-07-30 07:16] wardpeet commented on #15242
that's an issue that should be fixed in the gatsby-plugin-manifest. @TrippJD mind sharing the error you got without changing the reporter?

[2019-07-30 07:25] wardpeet commented on #15163
I'm unsure this is something we can address as of now. WSL 2 is still in beta and might be a windows issue rather than a gatsby issue.

[2019-07-30 07:32] wardpeet commented on #15932
That's weird, glad you got it working.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-07-30 07:32] #15932 closed

[2019-07-30 07:39] wardpeet commented on #16134
I disabled it because people should use .babelrc files instead. babel.config.js is used for library owners or monorepos but shouldn't be used  on a project level.

https://babeljs.io/docs/en/config-files#project-wide-configuration

I'll revert that piece in gatsby v2 but i feel like we should remove this in v3.

[2019-07-30 07:58] wangyi7099 commented on #13091
I have same issue...
After looking into the souce code at devtool.. I found polyfill code loaded hebind the `Set` is used, so the error will still show.

[2019-07-30 08:14] wardpeet commented on #14898
Thank you for opening this, @jfarris587

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-07-30 08:14] #14898 closed

[2019-07-30 08:32] kitze commented on #12225
@jlengstorf I think this has to be implemented on the browser side. Firefox has this setting in `about:config`, but Chrome only supports it via flag. Unless Gatsby changes from SSE to WebSockets I'm afraid this won't be possible.

https://tools.ietf.org/html/rfc6202#section-5.1

[2019-07-30 08:37] wardpeet commented on #15912
can you share your ErrorBoundary class?

[2019-07-30 09:10] m-allanson commented on #11129
Good stuff here, thanks for digging into this @moonmeister! One more package with a blank readme is https://www.gatsbyjs.org/packages/gatsby-source-prismic-graphql/

[2019-07-30 09:25] jonalvarezz commented on #16008
Also, for the record, I had a similar issue with Wordpress.com (Business), It turned out that Jetpack Image optimisations are enabled by default and those will change the REST API response (no property attribute). Disabling those features gave us the expected shape we needed in graphQL.

[2019-07-30 09:37] #16134 closed

[2019-07-30 09:57] dlbnco commented on #9895
@LoicUV thanks! Not sure which problem I had exactly but re-uploading the media on WordPress worked.

[2019-07-30 09:58] ConorLindsay94 commented on #16133
Is there any way the docs for client only routes can be expanded upon slightly? I am struggling to implement a sub-routing system on a page which is created through `createPage`.

I need the default sub-route of the page to be built to static html but also, any subsequent sub-routes on the same page need to be client only. This has led to me having two routers for the same page. One on the templat

[2019-07-30 09:59] afenton90 commented on #15872
A thought on an approach for this. @KyleAMathews @sidharthachatterjee
Seems that `webpackCompilationHash` is still used to decipher whether the Gatsby app has been updated on the server or not. If the `webpackCompilationHash` in the page data file and window are different then the page reloads. Awesome!

I appreciate that this is still desirable functionality and from reading the comments in #1300

[2019-07-30 10:16] #14954 closed

[2019-07-30 10:16] eknowles commented on #11524
@wardpeet @jackhair I managed to track down our issue with the finally polyfill.

We found one of our dependencies was including babel-polyfill with useBuiltins: usage instead of entry.

Either way we had to downgrade redux-api-middleware (not related to gatbsy).
https://github.com/agraboso/redux-api-middleware/compare/v2.3.0...v3.0.0

this solved our `finally` bug. I would recommend following the

[2019-07-30 10:17] ConorLindsay94 commented on #14954
Closing this as initial approach was incorrect with `matchPath` assignment.

[2019-07-30 10:29] JaybeeClassical commented on #4486
This issue shouldn't have been closed since most people here didn't get that solved, now i'm in the same issue then coming here to see no concrete response towards how to get this solved

[2019-07-30 10:45] florinme opened #16210 "TypeError: Cannot read property 'includes' of null (UNHANDLED REJECTION)"
## Description

My build is failing every time with an UNHANDLED REJECTION error.

- Tried clearing cache
- Tried removing node_modules
- Tried debugging build

Note: If I force `callSite === false` in `node_modules/gatsby/dist/utils/stack-trace-utils.js` it builds fine. The issue seems to be on this line of file above:
[code]

### Steps to reproduce

1. npm run clean
2. gatsby develop

### Expect

[2019-07-30 10:57] janosh opened #16211 "Start looking into Pull Panda"
Have you guys heard of Pull Panda? It was [acquired by GitHub in June](https://github.blog/2019-06-17-github-acquires-pull-panda), is currently available as a [Marketplace App](https://github.com/marketplace/pull-panda) and will soon be fully integrated into GitHub itself (see last paragraph of the [acquisition announcement](https://github.blog/2019-06-17-github-acquires-pull-panda)).

Might be wo

[2019-07-30 10:59] lannonbr commented on #15163
Alright yeah that's fine. Thanks anyway for the testing @NickyMeuleman

[2019-07-30 11:03] salmaDariwsh opened #16212 "--https fails if the path of the project contains spaces"
## Description

command `gatsby run develop --https` fails in the generate certificate step if the path of the project contains spaces

### Steps to reproduce

I'm on windows, so I don't know if the same steps will reproduce the issue on other OS's
1. Create a user whose name contains spaces
1. Create a project anywhere
1. Install openssl and add it to the PATH env variable
1. run the command `gat

[2019-07-30 11:15] IrregularShed commented on #11026
I don't really like jumping into issues that are marked closed but, given I found this when searching for an answer to my problem, it makes sense to.

I'm on Windows 10, using NodeJS v12.6 and npm 6.9.0, and had sharp failing to work or install. Deleting the `node_modules` directory wasn't enough - I was still getting errors when trying to install again. Then I realised that the `package-lock.json

[2019-07-30 11:44] yocmen commented on #5826
hi @rickymetz are you doing this with the last build of Gatsby? im trying to add the carrousel on a component called on index.js but i always have the windows error, i put the windows check and nothing happens, cant make the build, im using react hooks. Thanks in advance.

[2019-07-30 11:45] colbyfayock commented on #15912
React Error Boundary: https://github.com/bvaughn/react-error-boundary

[2019-07-30 12:11] colbyfayock commented on #15401
For anyone seeing this issue - I reopened the other Issue that seems to address this more specifically: https://github.com/gatsbyjs/gatsby/issues/15398

Still waiting to hear back from the Gatsby team

[2019-07-30 12:17] SilencerWeb opened #16213 "[gatsby-source-wordpress] Infinity download of media files"
## Description
Right now I have 45 media files (4 PDFs and 41 images) on WordPress server. When I'm starting either `npm run develop` or `npm run build` and media files are downloading, they never reach the end. It just stops on either 41/45 or 42/45 or 44/45 and that's all, it can be like at for few hours and nothing will happen.

Is there anything you can do about it? Maybe throw an error after

[2019-07-30 12:27] mattez commented on #10086
Related: https://github.com/gatsbyjs/gatsby/issues/2467

[2019-07-30 12:38] himharsh1997 commented on #11406
Yes It is working

[2019-07-30 12:45] pieh commented on #16203
Can you provide example of queries that work in `gatsby-source-contentful@2.0.47`, but not in newer version?

[2019-07-30 13:06] lannonbr opened #16214 "[docs] Update Table of Contents component to highlight sub-sections similar to Tutorial"
## Summary

In the tutorial, when your viewport is in a certain section, the sidebar updates so the current section in view has a rebeccapurple color. Here's an example where on Part 4 of the Official Gatsby Tutorial, when I am in the "Data in Gatsby" section, it is highlighted in the sidebar

![Screenshot_2019-07-30 Data in Gatsby](https://user-images.githubusercontent.com/3685876/62131413-261a84

[2019-07-30 13:15] beccanelson commented on #16191
@alexluong Thanks for your help! I did upgrade to the latest version, and got it working again.

[2019-07-30 13:15] #16191 closed

[2019-07-30 13:26] wardpeet commented on #15582
When using `gatsby-plugin-guess-js` you should see prefetches that are related to a page.

for example when you're on gatsbyjs.org and type `__GUESS__.guess()` it returns paths to prefetch. You should see prefetches for this route inside the DOM when checking it with devtools.

![image](https://user-images.githubusercontent.com/1120926/62132466-6ac01300-b2dd-11e9-92f8-dc4046904f9e.png)

On gatsbyj

[2019-07-30 13:26] #15582 closed

[2019-07-30 13:27] wardpeet commented on #14841
When using `gatsby-plugin-guess-js` you should see prefetches that are related to a page.

for example when you're on gatsbyjs.org and type `__GUESS__.guess()` it returns paths to prefetch. You should see prefetches for this route inside the DOM when checking it with devtools.

![image](https://user-images.githubusercontent.com/1120926/62132466-6ac01300-b2dd-11e9-92f8-dc4046904f9e.png)

On gatsbyj

[2019-07-30 13:27] #14841 closed

[2019-07-30 13:30] wardpeet commented on #15062
A small note we deprecated gatsby-mdx in favor of gatsby-plugin-mdx

[2019-07-30 13:30] gabmen1711 commented on #1767
This one worked for me

[2019-07-30 13:36] jlengstorf commented on #16195
Hi @devrchancay! It looks like schema customization can help here. https://www.gatsbyjs.org/docs/schema-customization/#explicitly-defining-data-types

Something like this:

[code]

Check the examples in the docs I linked for specifics. Let us know if this helps!

[2019-07-30 13:39] davifantasia commented on #16142
I'm dealing with this issue but I'm converting to a theme from a starter. I discovered the error while I was trying to pass options from sites through `gatsby-config.js`, the error is thrown when I set config as a function instead of an object like so:

`module.exports = themeOptions =>({...});`

[2019-07-30 13:42] lalmachado opened #16217 "gatsby develop crashing on building schema"
## Description

gatsby develop crashing on building schema, after removing 'gatsby-source-prismic' plugin

`UNHANDLED REJECTION Type with name "File" does not exists

  Error: Type with name "File" does not exists

  - TypeStorage.js:44 SchemaComposer.get
    [*****-prismic-gatsby]/[graphql-compose]/lib/TypeStorage.js:44:13

  - TypeMapper.js:86 TypeMapper.get
    [*****-prismic-gatsby]/[graphql-c

[2019-07-30 14:42] sqf commented on #16039
Let me show you some parts of a result file (index.html).
Example of working style:
`.hxnawh{h0e;width:i0g;position:fixed;z-index:9;top:0;left:0;box-shadow:hnonet;} @media (min-width::768px){.hxnawh{width:0;z-index:11;}} @media (min-width:1024px){.hxnawh{width:0;padding-left:0;}} .hxnawh a{-webkit-text-decoration:none;text-decoration:none;-ms-letter-spacing:0.5px;letter-spacing:0.5px;color:#1e1e1e

[2019-07-30 14:52] danhowitt commented on #16217
Same

[code]

[2019-07-30 15:00] miguelgondu commented on #6648
On my end I get a weird behavior, everything between dollar signs dissapears, but it isn't rendered as TeX.

[2019-07-30 15:16] devrchancay commented on #16195
Thank you, solve it as follows:

[code]
ps: @jlengstorf  I don't miss a twitch transmission of yours.

[2019-07-30 15:16] #16195 closed

[2019-07-30 15:47] isubhokarma commented on #16203
**The following code and query (unable to fetch the required data) isn't working with the latest version - 2.1.15**

**Here's the code to fetch image alt/ image URL only showing up on version - 2.0.47:**
[code]

**And here's the query that showing up the image alt name and image URL only with version - 2.0.47:**
[code]

[2019-07-30 16:08] vai0 commented on #15092
Here is a profile of the HMR - making a change, saving, undoing that change, then saving again.
The compile time for this was around 1300ms for each change. Note this is with us setting sourcemaps in development to `eval` - the cheaper option.

Anyone see anything that we can do to improve this time? It appears graphql is recompiling our queries even though our change is literally updating text.

[2019-07-30 16:46] stefanprobst commented on #16217
Would you be able to provide a link to a repo to reproduce the error? Thanks!

[2019-07-30 17:10] ahfarmer commented on #16134
Let's be clear: babel.config.js is referred to in the docs as a "project-wide config". It is definitely meant to be used at the project level.

I haven't seen anything saying babel.config.js is for library owners only. Can you provide a source @wardpeet?

[2019-07-30 17:27] #15124 closed

[2019-07-30 17:27] #14579 closed

[2019-07-30 17:41] pcr910303 commented on #15562
I would like an answer.

[2019-07-30 18:01] wking-io opened #16224 "MDX Page not being created through `createPage`"
## Description

I am trying to programmatically generate pages from mdx files. It worked when I was using md files, but now the `createPage` seems to be failing and not referencing the template as a page and I am getting this warning and the blog post pages are broken:

[code]

### Steps to reproduce

1. Clone and build repo here: https://github.com/wking-io/wking-io
2. See warning in output
3. Vi

[2019-07-30 18:23] RedHoodJT1988 commented on #15531
I am still working on this. I have another open issue that I am tackling as
well so I am bouncing back and forth. Sorry for the delay.

On Tue, Jul 30, 2019 at 12:28 PM gatsbot[bot] <notifications@github.com>
wrote:

[2019-07-30 18:57] itwasmattgregg commented on #15612
It seems to work now. I must not have updated one of those dependencies to a version that was friendly with the others. I'm sorry I didn't respond to this sooner, things have been crazy.
Thank you so much @jonniebigodes for listing the exact dependencies you changed in package.json. Your response was amazingly helpful.

[2019-07-30 18:57] #15612 closed

[2019-07-30 19:05] tinder-kyleboss opened #16226 "gatsby-plugin-google-analytics has a syntax error"
## Description
Projects that use gatsby-plugin-google-analytics are noticing console errors. For example: https://github.com/gatsbyjs/gatsby/pull/15280#issuecomment-516401237

### Steps to reproduce

1. Add `gatsby-plugin-google-analytics` to the project with `yarn add gatsby-plugin-google-analytics` as well as adding it to the plugins of `gatsby-config`.
2. `gatsby build && gatsby serve`.
3. Go t

[2019-07-30 19:38] wking-io commented on #16224
I was able to fix the issue by moving the .mdx files out of the src directory. However, not sure why that fixed it.

[2019-07-30 19:42] reibusintl-eb commented on #16226
I'm also experiencing the same issue, my google analytics account hasn't logged any activity since the error messages started displaying

[2019-07-30 20:13] stefanprobst commented on #15453
@coreyward sorry for the long silence! I have since removed `limit`/`skip` from the `runQuery` docs -- as things stand currently, there's no benefit to using them as `runQuery` arguments, since they just slice the results array, which can be done directly in the field resolver as well. Afaik, this is unfortunately also true with LokiJs as a backend.

However, we might want to expose some internal

[2019-07-30 21:20] gillkyle opened #16233 "Comments on Gatsby feature comparison"
_Similar to the old issue at #2444_

We're updating the features comparison page to help potential Gatsby adopters compare Gatsby to alternative frameworks and tools in the CMS and JAMstack space. These include Drupal, WordPress, Next, Nuxt, Hugo, and Jekyll.

Because framework capabilities are always changing we're opening this issue as a general banner to ensure the information contained remains

[2019-07-30 21:33] sidharthachatterjee commented on #15317
@pewStocky Apologies for missing this!

What you're seeing is intended behaviour as far as I can tell. Let's go through this step by step:

- Gatsby adds a trailing slash by default (so the path is `/mortgage-calculator/`)
- You remove the trailing slash in nginx and try to rewrite url to `/mortgage-calculator`
`- Gatsby adds it back (in https://github.com/gatsbyjs/gatsby/blob/db04760e2e2d2f48b084

[2019-07-30 22:05] #16021 closed

[2019-07-30 22:13] #16226 closed

[2019-07-30 22:17] coreyward commented on #15453
Sounds good to me. I'm going to close this since this is pretty low priority and has some significant dependencies.

[2019-07-30 22:17] #15453 closed

[2019-07-30 22:35] #15680 closed

[2019-07-30 22:48] tinder-kyleboss commented on #15168
Fixed by #15280. Thanks everyone!

[2019-07-30 22:48] #15168 closed

[2019-07-31 00:21] Polyhistor opened #16236 "svg-sprite-loader does not seem to work"
Once I install **gatsby-plugin-svg-sprite** I get the following weird error:

[code]

I get that error for **every svg file** that I've got in my project. I've read both the **documentation on Gatsby and Github**, but it's quit thin and I haven't found any question with the relevant issue.

 Why the plugin causes such an issue?  and how can I make this work?

[2019-07-31 00:24] orta commented on #14185
The new GraphiQL 1.0 re-design work should allow plugins which I think would support adding the extra fragments

[2019-07-31 00:31] Polyhistor commented on #16213
Does it get stuck on Gatsby transform nodes?

[2019-07-31 02:17] lipis opened #16237 "[starters] Update the docs on how to use the starters from this mono repo"
Outdated docs: https://www.gatsbyjs.org/tutorial/part-one/#using-gatsby-starters

[2019-07-31 02:53] chasemccoy opened #16239 "[gatsby-plugin-mdx] Images within <figure> nested within <p> tags are invalid"
## Description

When using `gatsby-plugin-mdx` with `gatsby-remark-images`, images written in Markdown are being wrapped in a `<p>` tag, which fails React's DOM nesting validation because elements like `<figure>` and `<figcaption>` (which area generated by `gatsby-remark-images`) are not valid with `<p>` tags.

### Steps to reproduce

Render a Markdown image:

[code]

In a Gatsby site using `gatsb

[2019-07-31 02:53] chasemccoy commented on #16239
cc @ChristopherBiscardi @johno

[2019-07-31 02:54] chasemccoy commented on #16239
This might require making sure that `gatsby-remark-images` is configured to show captions under images.

[2019-07-31 03:35] SilencerWeb commented on #16213
@Polyhistor, yes, like this:

![image](https://user-images.githubusercontent.com/20713191/62181832-08632300-b36e-11e9-9ff1-27271b23ff9b.png)

[2019-07-31 05:21] stefanprobst commented on #15982
@Kosai106
hmm weird.

Here's what we know:
* the error message indicates that there is no `context` field on the `SitePage` type.
* it should be inferred in the "update schema" step, but apparently does not.
* one reason for this could be that there are type inference mismatches on context fields (which is why i asked about such warning messages). my guess would be that this is what's happening si

[2019-07-31 05:22] stefanprobst commented on #14680
If possible, could you provide a link to a repo to reproduce this error? Thanks!

[2019-07-31 05:49] vdespa commented on #16092
[issue-16092.zip](https://github.com/gatsbyjs/gatsby/files/3450030/issue-16092.zip)

Thank you for your reply @m-allanson . I have managed to replicate this locally as well.

It seems that gatsby serve gets confused if the `.cache` folder is missing.

[2019-07-31 06:18] i-bsd commented on #11406
I'm getting this error on Netlify.
Anyone know how to fix it?

[2019-07-31 06:19] moshemo opened #16241 "Getting TypeError with Gatsy-Source-GraphQL"
I have a fresh install of Gatsby -- and the only change that I have made is that I have installed the `gatsby-source-graphql` plugin.  I then configured the `gatsby-config` file as follows:

[code]

I then created the following component:

[code]

I then changed the line `articles {` to this:

[code]

Now, this updated query works just fine in graphiql, but when I run it in gatsby, I get the follo

[2019-07-31 06:28] me4502 commented on #15505
Thanks a lot :)

I've setup a patch to use Yurnalist for the meantime.

[2019-07-31 06:53] wzard commented on #6648
I ran into the same issue. Try this config instead. @miguelgondu @Jiang-Li

[code]

[2019-07-31 07:14] xaviemirmon commented on #15028
Hey @pieh this issue isn't stale. Have you managed to think about the above?

[2019-07-31 07:44] wardpeet commented on #16237
Hey @lipis.

The documentation is still correct. We sync the monorepo with the starter repos so starters can be installed.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-07-31 07:44] #16237 closed

[2019-07-31 08:36] mduecker commented on #11240
I am still experiencing blank loads (website note being displayed) of my Gatsby app after pushing new updates.
This is not easy to reproduce, but it happens. And it's more likely to occur when the page hasn't been visited for a few days and then a new version is deployed.

Here's a screenshot:
![image](https://user-images.githubusercontent.com/10739903/62196461-5da73080-b37e-11e9-8991-2abc78d4d6a7

[2019-07-31 09:08] TheHalcyonSavant commented on #15398
Same here. `examples/client-only-paths` is working fine, but with some errors in dev mode.
**package.json**:
[code]
**gatsby develop** console:
[code]

[2019-07-31 09:14] ChristopherBiscardi opened #16242 "Remove specialness of sub-plugins"
## Summary

Make it so that the `plugins` config key in plugin options is not the only key that allows running `gatsby-*` in sub-plugins.

[code]

## Motivation

Continuation of: https://github.com/gatsbyjs/gatsby/issues/15486#issuecomment-515276649

Basically, [sub-`plugins` are special](https://github.com/gatsbyjs/gatsby/blob/d1d5bba5cdf7b632910cdf933bec9d0581fbc744/packages/gatsby/src/bootstrap

[2019-07-31 09:27] herecydev opened #16243 "[gatsby-plugin-layout] plugin not holding state consistently"
### Description

`gatsby-plugin-layout` is unmounting and rerendering when using a programmatic navigate between pages. In my layouts/index.js file I am using a useState hook like `const [time] = useState(Date.now())` and can observe that occasionally the layout component is rerendered causing the time to be altered.

Demonstration:

In cases when the bug occurs and state is lost, the time would p

[2019-07-31 10:08] jbothma commented on #15623
Hi there

This issue just hit me and looking at https://github.com/gatsbyjs/gatsby/issues?utf8=%E2%9C%93&q=is%3Aissue++remove+service+worker it seems to be a problem for many people.

I hear you, it's a service worker problem. But this is a framework that has a plugin to install a service worker so people are going to make assumptions about the framework taking care of them.

At the very least you

[2019-07-31 10:15] PolGuixe commented on #14841
@wardpeet many thanks for the help! ;)

[2019-07-31 10:58] lannonbr commented on #15163
I will close this now and keep it on file so if this issue persists when WSL2 is stable this fall, then we can look into it.

[2019-07-31 11:02] m-allanson commented on #16092
Thanks for the investigation @vdespa! I've opened a PR #16246 that should fix this.

As a workaround you can copy `.cache/match-paths.json` from the previous pipeline step, and the `serve` command should run as expected.

[2019-07-31 11:43] sqf commented on #16039
Alright. Problem was caused by having both `gatsby-plugin-emotion` and `gatsby-plugin-styled-components` in gatsby-config.js.
I'm closing the issue.

[2019-07-31 11:43] #16039 closed

[2019-07-31 11:45] marinoguerieri opened #16247 "Hot reloading: Initial React state persists until manual refresh. Is this normal?"
## Description

Firstly let me say that I'm not sure whether this is in fact a bug, maybe it's normal but it just made me spend 30 minutes trying to find out what's wrong with my code when in fact it was due to hot reloading "issue".

What happens is that React state that is initialized in constructor is not "applied" until manual refresh (one changes the `this.state={...}` in the constructor to s

[2019-07-31 11:50] stefanprobst opened #16248 "query compiler error reporting is broken"
It looks like the error reporting in query compiler here assumes that this can only throw when a fragment is missing (error no. 85908):

https://github.com/gatsbyjs/gatsby/blob/2c05f11e967f894efe311ca03cded47eb634084c/packages/gatsby/src/query/query-compiler.js#L295-L320

This means that e.g. errors like `"Invariant Violation: GraphQLIRPrinter: Need an InputObject type to print objects."` are swal

[2019-07-31 11:51] gempi commented on #16241
I get the same error with a hasura endpoint and the `order_by` parameter.

[2019-07-31 11:55] webbieram commented on #9423
still im facing the issue. it worsen my day

[2019-07-31 11:56] maximechofflet commented on #16181
Thank you very much for your answer @alexluong  this is very helpful. For now I still have the same error maybe due to `uiConfig` that I can't put in `componentDidMount() `  because it becomes undefined in rendering.

[2019-07-31 12:14] stefanprobst commented on #16241
It looks like this is a bug in relay compiler: graphql allows putting single values on List fields which should be handled as single-value-lists.
@moshemo in your example it should work by putting a List on the `orderby` field, e.g.:
[code]
@gempi is `order_by` in your project also a `GraphQLList`?

[2019-07-31 12:18] alexluong commented on #16181
If you read my [blog post](https://dev.to/alexluong/a-journey-through-gatsby-build-process-via-building-a-plugin-4nei) (which is published btw), I explained what’s the pitfall of setting up firebase, dealing with undefined, and the solutions.

[2019-07-31 12:52] gempi commented on #16241
@stefanprobst you're right, it's working with a single-value-list. Thanks!

[2019-07-31 13:00] ConorLindsay94 opened #16250 "Issues when trying to implement sub routing system on page created through "createPage""
## Summary
I am struggling to implement a sub-routing system on a page which is created through `createPage`.

I need the default sub-route of the page to be built to static html but also, any subsequent sub-routes on the same page need to be client only. This has led to me having two routers for the same page. One on the template used for createPage and then one on the page component I use for th

[2019-07-31 13:02] isengartz commented on #10915
@crstnio Any update on this ?

[2019-07-31 13:23] lalmachado commented on #16217
@danhowitt could you post your environment? To see if I spot something that helps us to find a clue

[2019-07-31 13:24] arturhenryy commented on #10915
@isengartz as far as i know this was a bug with wpml and they said to fix it back then. do they still only return the default language pages in the api route for the pages?

[2019-07-31 13:27] lalmachado commented on #16217
@stefanprobst I can't, its a company project. the repo was gatsby-source-prismic-graphql and gatsby-source-prismic working at the same time, and now we want to remove gatsby-source-prismic but when we remove it from gatsby-config.js it gives the error above

[2019-07-31 13:29] lannonbr commented on #16217
Given you can't show the actual project, can you create a [reproduction](https://gatsby.dev/reproduction) for us?

[2019-07-31 13:34] pewStocky commented on #15317
Hey Sid,

Thank you so much for getting back to me! Super helpful.

Few follow ups:

1: Why does Gatsby add a trailing slash by default? Can this be changed our side to not add it by default?

2: When Gatsby adds the '/' back in (because the URL is different to the canonical) what canonical URL is that looking at? One we've set ourselves?

Also I believe our team tried that plugin but it didn't wo

[2019-07-31 13:34] fk commented on #14772
Oh, missed your comment @mokimo!
You're welcome—thank _you_ for helping out here! 🤗

[2019-07-31 13:46] lannonbr commented on #14890
As gatsby-mdx.netlify.com now tells people to use gatsby-plugin-mdx instead, is there any remaining tasks for this issue?

[2019-07-31 13:49] Boussama commented on #15502
Hello people,
Can anyone help me ?
Event a little hint is useful.
Thank you.

[2019-07-31 13:50] stefanprobst commented on #16217
I'm not sure those two errors actually have the same cause.

@danhowitt i hope the error you're getting is fixed in `gatsby@2.13.45`.

@lalmachado something in your project expects a `File` type to be in the schema but it isn't. You can try either adding `gatsby-source-filesystem` to your project, which will add the File type (when there's at least one file present); or try the `createTypes` actio

[2019-07-31 14:03] afrancht commented on #16039
Hello, this problem still persists and I do not have `gatsby-plugin-emotion` but I do have `gatsby-plugin-styled-components` in `gatsby-config.js`.

[2019-07-31 14:03] lannonbr commented on #16224
@wking-io Alright yeah I saw that you moved the content out of `src/pages/`. `gatsby-plugin-mdx` automatically creates pages from MDX inside `src/pages`, so you were trying to create pages that already existed, so the path you took of moving it out of `src/pages/` is what we normally recommend.

Closing this as it was resolved.

[2019-07-31 14:03] #16224 closed

[2019-07-31 14:04] lannonbr commented on #16039
@afrancht are you able to share a repo or reproduction to see what your issue is?

[2019-07-31 14:07] afrancht commented on #16039
I am using a private repo but I can link you.

https://5d41797b858ef10009855096--heuristic-booth-6cbb29.netlify.com

Once you reload the page (or you wait as I have set it up so that it reloads automatically) then it works perfectly.

[2019-07-31 14:07] Mindaugas-Jacionis commented on #978
@kevinfoerster would be awesome if you could open a gist or add a comment with code snippet that helped.
Thanks in advance. 🙂

[2019-07-31 14:10] isengartz commented on #10915
@arturhenryy  Yes its still like this. They provided this code and they claimed that it fixes the issue:

[code]

Which then indeed returns all languages but breaks the ACF-TO-API plugin. I spoke with them at support and they told me to tell the ACF-TO-API owner to fix HIS plugin in order to work with their hook!!!!

I think Im going to refactor to polylang too.

[2019-07-31 14:17] afrancht commented on #8984
Hello,

I still have this error and I have gatsby-plugin-styled-components in gatsby-config.js.

I half-fixed this by making it automatically reload but it is not an ideal fix! You can see it here:

https://5d41797b858ef10009855096--heuristic-booth-6cbb29.netlify.com

[2019-07-31 14:21] lalmachado commented on #16217
thanks a lot @stefanprobst, adding `gatsby-source-filesystem` seems to do the trick.
@lannonbr thanks too I was just doing what you tell me to do before trying the suggestion from @stefanprobst

[2019-07-31 14:23] #16217 closed

[2019-07-31 14:27] arturhenryy commented on #10915
hahahah ^^
pretty sad that they still did not fix that. it´s not like it is a cheap or free plugin lol. yeah switch to polylang imo. i have had no problem with it and already used it in three projects since then. if you have questions about migration feel free to ask.

[2019-07-31 14:49] #15922 closed

[2019-07-31 15:40] afrancht opened #16252 "Styling not loading correctly but working on refresh."
## Description
In the deployed version of my application, whenever you first load the site (before it is stored in cache) the style is not applied correctly. Once, you reload (or it reloads automatically as we have bodge-fixed) it looks good. This occurs on mobile and browser.

### Steps to reproduce
If you go to:
https://5d41797b858ef10009855096--heuristic-booth-6cbb29.netlify.com

You will see i

[2019-07-31 16:00] alexluong commented on #16243
This is super interesting/weird. So I tried recreating your problem in [codesandbox](https://codesandbox.io/s/gatsby-issue-16243-0c94n), and the bug only happens once in the first page change.

However, when I do have another `Link` component on the page, everything works fine, including changing page with `navigate` component.

So, `gatsby-plugin-layout` uses the API `wrapPageElement`, which basi

[2019-07-31 16:24] herecydev commented on #16243
Yer I did mention that I couldn't recreate the bug with a `Link` component, only `navigate`. Thanks for linking the APIs, I have seen them and the [wrapPageElement](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement) should be enough but I will try and test with `wrapRootElement` when I get a chance.

Using React's context like you have is much closer to my "real world example" but I trie

[2019-07-31 16:48] m-allanson opened #16254 "Don't display the opt-out text after opting out of telemetry"
## Description

The telemetry 'opt-out' instructions can display after opting out of telemetry. The text should not display after opting out.

### Steps to reproduce

See https://twitter.com/code_punkt/status/1156597414486298624

### Expected result

'opt-out' text should not display

### Actual result

'opt-out' text is displayed

### Environment

Run `gatsby info --clipboard` in your project dir

[2019-07-31 17:27] #14415 closed

[2019-07-31 17:27] #14433 closed

[2019-07-31 17:27] #14790 closed

[2019-07-31 17:27] alexluong commented on #16243
The interesting thing is that if I have a `Link` component on the page and a `button` that will `navigate` on click, everything works fine, including `navigate`. That's what I'm quite confused about. In my first codesandbox, I have that version commented out. You can try it out for yourself.

[2019-07-31 17:33] vadimdemedes commented on #15505
I think you can skip the patch and just run `gatsby build` with `CI=true` environment variable to use Yurnalist, like this: `CI=true gatsby build`. This will force it to ignore Ink reporter.

[2019-07-31 17:45] emaildano commented on #7079
In case anyone else ends up here. The way to fix this could be case by case. My suggestion is to pattern match the paths you're getting with a 401 error.

For example, this is what appears during the build:

[code]

There are a lot more but in this case, the path we need to exclude is:

`"/wp/v2/users/me"`

If there is a path that's blocked and you do need access to it I suggest using the JWT plug

[2019-07-31 17:46] marti2221 commented on #15273
Im also having the same issue. I cannot even make a simple page level query from my Index.js. Im getting a "TypeError: Object(...) is not a function" error. this is on gatsby.js version 2.13.42

[2019-07-31 17:58] herecydev commented on #16243
Doesn't `Link` preload things where as navigate I suppose can't as it doesn't know what will be requested?

[2019-07-31 18:07] marcysutton commented on #16133
One other thing I would add is that we should still mention client-only routes on the Building Apps with Gatsby page, and link to the new standalone page for more information.

[2019-07-31 18:07] marcysutton commented on #16133
Also, sounds great @sedat!

[2019-07-31 18:15] pieh commented on #16210
Yeah, we do need to make `callSite.getFileName().includes(gatsbyLocation)` call safe to do. so something like:

[code]
I think is good way to do this

[2019-07-31 19:25] florinme commented on #16210
@pieh, thank you for confirming this. I went ahead and forked, created an issue branch, tested, and submitted a PR. This is my first PR so I hope I did it right :).

[2019-07-31 19:27] alexluong commented on #16243
Maybe that's the explanation. That sounds very reasonable. To persist data, you would need to wrap it inside `wrapRootElement` as suggested in the documentation.

[2019-07-31 19:31] herecydev commented on #16243
Where does it suggest that in the documentation? `wrapPageElement` describes:

Which is what `gatsby-plugin-layout` uses and says works for "Storing state when navigating pages".

[2019-07-31 20:00] alexluong commented on #16243
`wrapRootElement`

Does this describe your use case?

[2019-07-31 20:14] jameyvillages opened #16263 "HMR Failing on Windows"
## Summary

HMR failing on Windows.

Gatsby works great at home, but not at work. If this is an outlier we can chalk it up to bad a machine and close.

Share your thoughts.

## Relevant information

Build tools installed as suggested in Gatsby for Windows docs.

Commands run

[code]

### Environment (if relevant)

gatsby info

  System:
    OS: Windows 10
    CPU: (8) x64 Intel(R) Xeon(R) CPU E5-1

[2019-07-31 20:36] ChristopherBiscardi opened #16265 "Warn if function is used in root site config"
## Description

If you write a gatsby-config.js in the root of your site with the function style, it will fail in weird ways because plugins aren't added when you think they are.

(I'm on my phone and accidentally deleted the rest of the template I'm sorry 😭)

# Solution

In bootstrap/index.js we should add a typeof config === function check on the root config before it is passed in to loadThemes

[2019-07-31 20:45] lannonbr commented on #16252
Hey can you create a [reproduction](https://gatsby.dev/reproduction) so we can further debug this?

[2019-07-31 20:54] afrancht commented on #16252
This is my first time doing one. Could you kindly tell me how I can do it best for you?

[2019-07-31 21:02] lannonbr commented on #16252
Sure, so here are steps to go through:

1) you can start out with a new Gatsby site, add some of the plugins that are related to this issue (styling, aka gatsby-plugin-sass, gatsby-plugin-styled-components)
2) create a page or two using these plugins to try to mimic your live site and reproduce this error. Rather than fully recreating the site, maybe work on very small portion of a page to get the

[2019-07-31 21:55] TylerBarnes commented on #13909
Looks like this went stale and was closed, but this would be an awesome feature. Ok, to re-open?

[2019-07-31 22:18] cephalization commented on #16265
I can take a peek

[2019-07-31 22:50] cephalization commented on #16265
Writing test now

[2019-07-31 22:52] gillkyle commented on #14989
On our info in the [Gatsby Image API](https://www.gatsbyjs.org/docs/gatsby-image/#fixed-image-query-parameters), there isn't an option to pass in a `maxWidth` with a `fixed` image, does that mean that example should show how you can constrain a `gatsby-image` by passing a style prop or something? Or maybe it should be an example for fluid images?

[2019-07-31 23:23] scotNZ opened #16271 "UNHANDLED REJECTION Gatsby Develop online dependency?"
## Description
Encountering an unhandled rejection error when running "gatsby develop" without an external web connection:

UNHANDLED REJECTION request to http://localhost:8000/___graphql failed, reason: getaddrinfo ENOENT localhost:8000

  - index.js:1455 ClientRequest.<anonymous>
    [unhidd]/[gatsby]/[node-fetch]/lib/index.js:1455:11

  - destroy.js:64 emitErrorNT
    internal/streams/destroy.j

[2019-07-31 23:59] afrancht commented on #16252
Hello, thank you for your patience!

**Link to the site**
https://vigilant-torvalds-977a33.netlify.com/

[2019-08-01 01:00] kogal commented on #5726
Any luck with this?

[2019-08-01 01:25] thomasgwatson commented on #16074
@thecarney I'm fresh to gatsby, how does one "add 'canvas' as an external in my gatsby-node.js"? Assuming it is something I have to do on my CreateWebpackConfig...

[2019-08-01 01:40] ryolambert commented on #13658
@jradikal I've had the exact same warning/error issues, but had no problems with gatsby builds/develop commands until this last week when I updated the gatsby-cli on my laptop. The weirdest part is the problem still persists whether I'm using powershell or the command prompt terminal. It seems to run fine using git bash, but even weirder is everything works fine on my desktop using my exact same p

[2019-08-01 02:14] jradikal commented on #13658
@ryolambert I believe conemu uses git bash so that should not cause issues :)
Command prompt is native windows so same applies (windows does not care for the file path case).
Try cmder,  that's what I use and that solved the problem as it's running bash.
Unfortunately this is just the way windows runs :(

[2019-08-01 02:26] ryolambert commented on #13658
@Jradikal I can get it to work using git bash via conemu, it’s just driving me insane why this seems to be working via powershell/conemu on my desktop computer, but breaks on my laptop. And mind you I didn’t encounter any of the pathing issues until I made an update with the Gatsby-cli. It’s just frustrating having my powershell terminal customized and have to ditch it because of a dumb window/ntf

[2019-08-01 02:48] qipoy opened #16274 "Sourcemap error in firefox only"
**how to clear warning on the console.` Source map error: TypeError: Invalid URL:  ...`**

this warning is only show on the **firefox** browser when i'am running in development mode. in chrome its always clear.

![screenshot](http://images2.imagebam.com/fe/ea/b7/4849ea1289695674.png)

[2019-08-01 04:11] scottyeck commented on #16097
FWIW, you can also see this in the [client-only-paths example](https://github.com/gatsbyjs/gatsby/tree/master/examples/client-only-paths). Screenshot here:

<img width="1400" alt="localhost_8080_page_4" src="https://user-images.githubusercontent.com/3766777/62264099-9d0c6600-b3ec-11e9-8279-586110e937e4.png">

I too think that this should be reopened. FWIW we're experiencing it as well, and the rat

[2019-08-01 04:54] wangyi7099 commented on #16030
Hi Looks good now. But could you pelase have a look at this issue https://github.com/gatsbyjs/gatsby/issues/15544 ? I have created a repo for it.

[2019-08-01 04:54] #16030 closed

[2019-08-01 06:00] stefanprobst commented on #15544
@wangyi7099 Thanks for the repo!

This is indeed an issue with themes. When running the project in the repo, you will see two warning messages printed:
[code]

This means that the `createTypes` call in `theme/gatsby-config` does not actually modify the types.

This is because we don't allow just anyone to modify a type that already exists in the schema -- only plugins that own that type, or a user

[2019-08-01 06:02] herecydev commented on #16243
Yes, but so does `wrapPageElement`

[2019-08-01 07:07] mguida22 opened #16276 "[gatsby-remark-images] allow captions on externally hosted images"
## Summary

Allow for captions on images that are loaded from an external source.

### Basic example

with this config
[code]

show captions from this markdown
[code]

### Motivation

It'd be great to show captions on images that are hosted on other sites. This would allow consistent writing of markdown alt/title/captions regardless of how image is served.

It looks like [here](https://github.com/

[2019-08-01 07:18] wardpeet commented on #16097
Hey :wave:,

I do get your concerns but sadly we can't fix this. If we don't do the page-data check for the current page we'll bring back #15101.

Consider the following routes
[code]

With that configuration, we won't be able to load /app/login as it's part of the matchPath logic. We will simply ignore the page and fallback to whatever is inside /app/*. The change to fix this behaviour was introd

[2019-08-01 07:26] markbenson13 opened #16277 "Is it possible to get a cleaner production build output?"
I'm building a gatsby project and what I want is to have a cleaner production build. Do we have ways on how to do it?

Desired folder structure:

public
  --- js
       -- main.js
  --- css
       -- main.css
  --- index.html

[2019-08-01 08:05] Rothmanberger opened #16278 "Best way to inject a javascript library init (LogRocket) using the Gatsby lifecycle APIs"
Hey, I want to incorporate LogRocket (logrocket.com) into my Gatsby project. The only code to get it running is:
[code]
[code]

What's the best way to inject this into Gatsby's lifecycle such that it only initialises once when a user starts a session? I've put directly into gatsby-browser.js and it seems to work fine but I'm not using any of the life cycle APIs

[2019-08-01 09:27] jradikal commented on #13658
@ryolambert I completely hear you on this one, I was literally trying to learn Powershell at the same time as Gatsby... I was stuck ion this one for a long time, maybe there is a way to set Powershell to convert the file path? I'm really not too sure on this but worth a look

[2019-08-01 09:34] wardpeet commented on #16277
Sadly, it's not possible. The assets we output are needed to handle all use-cases and optimize your assets.

Why do you care about a cleaner folder structure?

[2019-08-01 09:42] wardpeet commented on #16278
We encourage to use [onClientEntry](https://www.gatsbyjs.org/docs/browser-apis/#onClientEntry) to handle things like analytics or one-time setups.

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-08-01 09:42] #16278 closed

[2019-08-01 09:48] wardpeet commented on #16134
https://github.com/gatsbyjs/gatsby/pull/16205#issuecomment-516320418

[2019-08-01 09:53] wardpeet commented on #15623
How do you suggest we warn people?

[2019-08-01 09:55] wardpeet commented on #15398
Does https://github.com/gatsbyjs/gatsby/pull/16220 fixes your issue?

[2019-08-01 09:59] #15724 closed

[2019-08-01 10:12] wardpeet commented on #15959
It seems like CRA adds the following snippet to package.json.
[code]

This snippet is picked up by vscode eslint. We don't expose our eslint file. We can ship this with our official starters but it's pretty hard to do with gatsby-core.

[2019-08-01 10:12] marcinsydor opened #16281 "Can't add breakpoints in Chrome DevTools"
## Description

I'm not able to add breakpoints in Chrome DevTools after updating gatsby to version: `2.13.45`

### Steps to reproduce

Use official theme starter
`https://github.com/gatsbyjs/gatsby/tree/master/themes/gatsby-starter-theme`

### Expected result

Be able to debug website in DevTools

### Actual result

When I click on the line number bar I can't add a breakpoint. If I right-click an

[2019-08-01 10:13] jbothma commented on #15623
How about under https://www.gatsbyjs.org/packages/gatsby-plugin-offline/#how-to-use and https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/#installing-gatsby-plugin-offline you have a notice like

If it's easy to create settings that make it impossible to replace it in future, this should be a common issue and you can link to a canonical place where that's documented, perhaps

[2019-08-01 10:31] wardpeet commented on #11524
Thanks, we've seen this before with node_modules and babel-runtime. I'll have to rethink on how we can fix this in the future or at least give a proper error message.

[2019-08-01 11:25] TheHalcyonSavant commented on #15398
@wardpeet I can't confirm, I haven't collaborated to gatsby before. I don't know how test easy `gatsby-example-client-only-paths` with latest unpublished gatsby commit 73d15b0.

So far, I've tried to run yarn in gatsby/packages/gatsby and copied dist to gatsby/examples/client-only-paths/node_modules/gatsby, but it fails. Please write If you know how to do it, I couldn't find doc for these scenario

[2019-08-01 11:42] #16265 closed

[2019-08-01 12:01] #16210 closed

[2019-08-01 12:05] sonapraneeth-a opened #16283 "[question/theme] How do we pass components required for MDX in gatsby-theme-notes?"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-08-01 12:19] colbyfayock commented on #15398
@wardpeet I'm still getting the errors on 2.13.45

Messages in the terminal when running develop...
[code]

On deploy...
![image](https://user-images.githubusercontent.com/1045274/62292695-f7311980-b434-11e9-9523-6b65915a9839.png)

[2019-08-01 12:47] sidharthachatterjee commented on #16092
I just stopped by to say that 🥴 is a great emoji and we can imagine your sentiment 😂

[2019-08-01 12:58] moshemo commented on #16241
@stefanprobst Thanks -- that fixed it.  Much appreciated.

[2019-08-01 12:59] Glinkis commented on #2289
This is the solution I'm using, if anyone wants an alternative.

[code]

[2019-08-01 13:00] scottyeck commented on #16097
@wardpeet Thanks for the follow up, and sorry for my sassy comment. Holy heck language looks different when I write late at night. Appreciate you not giving me a hard time there. 😇

Per the PR I issued, the test-bed pretty clearly prioritizes the feature of static-paths that live alongside client-only-paths, which aligns 100% with your explanation above. I can see how that'd be useful. I'm going t

[2019-08-01 13:02] #16092 closed

[2019-08-01 13:06] elken commented on #16281
AFAIK you can only debug the build process as documented [here](https://www.gatsbyjs.org/docs/debugging-the-build-process/) with node.

[2019-08-01 13:06] wardpeet commented on #16210
Successfully published:
 - gatsby@2.13.46

[2019-08-01 13:07] wardpeet commented on #15724
Successfully published:
- gatsby@2.13.46

[2019-08-01 13:07] wardpeet commented on #16265
Successfully published:
 - gatsby@2.13.46

[2019-08-01 13:13] elken commented on #16274
`Toolbox Options -> Advanced -> Enable Source Maps` should remove the errors.

[2019-08-01 13:16] lannonbr opened #16285 "[docs] Update Writing Documentation with Docz to support stable themes API"
## Description

As found in #16268, The [Writing Documentation with Docz](https://www.gatsbyjs.org/tutorial/writing-documentation-with-docz/) tutorial is a little outdated as it still uses the `__experimentalThemes` key. We should update it so it's compatabile with 2.13.0 where themes now live in the `plugins` key of gatsby-config.

cc: @RobinCsl

[2019-08-01 13:16] elken commented on #16271
Can you provide the project or a minimal reproducible project?

[2019-08-01 13:18] elken commented on #16263
Try under [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) and see if that makes any difference.

[2019-08-01 13:21] schalkventer commented on #15623
@wardpeet I think @jbothma raises an interesting point. https://www.gatsbyjs.org/docs/add-offline-support-with-a-service-worker/ covers how to remove the service worker via Gatsby, however, this does not cover use-cases where the site moved from Gatbsy to something else, for example, Wordpress, etc.

It might be worth including a section that just says to copy and paste the following at the bottom

[2019-08-01 13:26] markbenson13 commented on #16277
Mainly for handing it over to back-end devs and then they'll integrate to our CMS which is Concrete5.

[2019-08-01 13:30] marcinsydor commented on #16281
I'm not talking about the build process, I'm just trying to debug React components. Have not had any problem with it so far. But since I updated Gatsby to the latest version I can't do it anymore. I tested it on tow different MacBooks. I also updated Chrome to version 76 but nothing has changed.
If I add `debugger` code line to my component in the editor then the breakpoint is cached but it is mov

[2019-08-01 13:32] lannonbr commented on #16252
Hey @afrancht, so it seems I was able to fix your issue.

The issue was the material-ui styles were not being server-side rendered when running `gatsby build` which lead to the issue at hand of the wonky styles. That said, there is a plugin that brings SSR support to material UI.

Download it as such (you have to download v1.2.5 as newer versions support Material-UI v4, while your repo is still on

[2019-08-01 13:45] elken commented on #16281
Seems to be a visual bug with manual `debugger` lines.

![Image](https://prnt.sc/on092g)

I can still step through and the locals update accordingly.

[2019-08-01 13:52] marcinsydor commented on #16281
Just to confirm, did you use `gatsby-starter-theme` project to replicate this issue? Could also please fix that image link so I can see it?

[2019-08-01 13:57] TheHalcyonSavant commented on #15398
@wardpeet here are my results with the latest version:
**package.json**:
[code]
**gatsby develop** console:
[code]

As you can see the line `Error loading a result for the page query ...` is gone but still `Page not found` is displayed.

[2019-08-01 14:01] arnauguadall opened #16287 "[Firefox] Unhandled promise rejection TypeError: "this.loadPageDataJson(...).then(...).finally is not a function"
## Description

When I run in localhost works ok with all the browsers including Firefox but when it goes to production the Firefox v68.0.1 looks misaligned caused (I guess) for this `.finally` function.

### Steps I tried

I tried to use `"gatsby-plugin-compile-es6-packages": "^2.1.0"` to compile es6 features like they are using in #2177 but without luck.

Also I tried:
[code]

### Expected resul

[2019-08-01 14:01] elken commented on #16281
Yep, just cloned it fresh. Updated comment but: https://prnt.sc/on092g

[2019-08-01 14:07] elken commented on #16277
My understanding is you're supposed to use a CMS as a backend data source.

[2019-08-01 14:07] marcinsydor commented on #16281
Thanks, I can see you can replicate it. You won't be able to add a breakpoint to e.g. line number 9. All the line numbers part of 1 are greyed out.

[2019-08-01 14:09] elken commented on #16281
Nope but manual debugger lines work fine. If you want to debug react components in isolation I would recommend storybook.

⁣Regards,
Ellis Kenyő

GitLab | GitHub | Keybase | elken.me​

On 1 Aug 2019, 15:08, at 15:08, Marcin Sydor <notifications@github.com> wrote:

[2019-08-01 14:12] Kevin-Hamilton commented on #14173
@wardpeet can we get this labeled "not stale", please?

[2019-08-01 14:16] elken commented on #16287
[`Promise.prototype.finally`](https://caniuse.com/#search=finally) is supported in current firefox but I suspect this could be an upstream bug.

[2019-08-01 14:18] #16285 closed

[2019-08-01 14:18] lannonbr opened #16288 "[docs] "Adding React Components" docs page"
## Summary

As discussed in the Community Maintainers meeting July 24, we discussed it could be useful to have a page describing things to remember when adding React libraries to your Gatsby site.

This could mention things like:

- Looking out for components that depend on the `window` object and then mentioning to either use conditionals to check for these or drop these into `componentDidMount`

[2019-08-01 14:20] marcinsydor commented on #16281
I just want to debug my sites in DevTools the same way I've been doing so far.
If you can't replicate this issue can I ask you do make the same screenshot but with the blue breakpoint on the number lines block, please?

[2019-08-01 14:22] dbgb opened #16289 "CodeSandbox element at docs/graphql-reference/#complete-list-of-possible-operators section fails to load"
## Description

CodeSandbox [element](https://711808k40x.sse.codesandbox.io/___graphql?query={%0A%20%20%23%20eq%3A%20I%20want%20all%20the%20titles%20that%20match%20%22Fantastic%20Beasts%20and%20Where%20to%20Find%20Them%22%0A%20%20example_eq%3AallMarkdownRemark(%0A%20%20%20%20filter%3A%20{%0A%20%20%20%20%20%20frontmatter%3A%20{%0A%20%20%20%20%20%20%20%20title%3A%20{%0A%20%20%20%20%20%20%20%20%20%20

[2019-08-01 14:22] elken commented on #16281
I have replicated this issue and marked as a bug. In the meantime, manual debugger lines work fine apart from the visual representation on the code. Stepping works fine.

[2019-08-01 14:22] lannonbr commented on #15594
Resolved in #15604

[2019-08-01 14:22] #15594 closed

[2019-08-01 14:24] slorber commented on #2374
@panzerdp @dotansimha how does graphql-codegen know what types to generate for Gatsby-image fragments? does it work fine with Gatsby images or only simpler queries?

[2019-08-01 14:32] mwongeraE commented on #16271
Also getting this error.

[2019-08-01 14:32] marcinsydor commented on #16281
Sorry, I misunderstood you, I see what mean now.

[2019-08-01 14:44] #16254 closed

[2019-08-01 14:44] panzerdp commented on #2374
@slorber graphql-codegen generates the types for all graphql queries that it finds, including the ones for childImageSharp (including fixed, fluid, etc). These are fully compatible with Gatsby images.

[2019-08-01 14:48] alexluong commented on #16288
Also, it's not just React components. Other libraries may also need `window` object too. One example is `firebase` and everything around it.

[2019-08-01 14:52] elken commented on #16271
![Can't reproduce](https://i.postimg.cc/g2420JCw/image.png)

Can't reproduce, try running `yarn --offline develop` and see if that helps.

[2019-08-01 15:06] qipoy commented on #16274
did you mean disable Source Maps / uncheck ?  i have enable that.
![ss_fail-sources-map](https://user-images.githubusercontent.com/15064152/62304601-7f043b80-b4a8-11e9-9c82-c20e60575ed4.png)

[2019-08-01 15:10] elken commented on #16274
Uncheck it and that should remove the errors.

[2019-08-01 15:11] FLam1992 commented on #15985
in my case I have switched **local** translation files for i18next-xhr-backend to send them from server to client.
To allow text changes on the fly without releasing the website each and everytime.

OS: Ubuntu 18.04 LTS

[code]

[code]

Thanks in advance :)

[2019-08-01 15:14] m-allanson commented on #16277
Hey @markbenson13, @elken's comment is correct - the expected way of using Gatsby would be to use a source plugin to pull data into your Gatsby site.

It looks like there isn't a Concrete5 source plugin, but it does have a REST API, so you would be able to create your own source plugin. Here's some related docs on source plugins:

- [About source plugins](https://www.gatsbyjs.org/tutorial/part-fiv

[2019-08-01 15:16] FLam1992 commented on #15985
@yipsama could you find any solution?
BTW is it possible for you to change the **_Labels_** to **_BUG_** to get some attention?

[2019-08-01 15:20] colbyfayock commented on #15398
looks like i jumped the gun and missed 46 - confirming I'm seeing the same as @TheHalcyonSavant

![image](https://user-images.githubusercontent.com/1045274/62301760-2a7ca400-b447-11e9-9bfe-39bb5604b869.png)

Looks like I'm getting 2 different types of 404 on deploy...
![image](https://user-images.githubusercontent.com/1045274/62305658-5d766600-b44e-11e9-9de2-06ee54a14309.png)

[2019-08-01 15:31] esetnik opened #16293 "Error: Cannot find module './event-storage.js'"
## Description

Cannot install `gatsby-cli`

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

[code]

### Expected result

No error

### Actual result
Error: Cannot find module './event-storage.js'

### Environment

Run `gatsby info --clipboard` in your p

[2019-08-01 15:35] geocine commented on #16293
Was supposed to open this issue, I am also encountering this just now, I get the same installation error. I am running the following command to start a new project.
[code]

[2019-08-01 15:36] esetnik commented on #16293
Workaround I found for now is to force `gatsby-telemetry@1.1.7`.

[code]

[2019-08-01 15:39] maximeduhamel commented on #14078
I'm having a similar issue however not on a large site.

I implemented createPages api in gatsby-node with markdown files. The page template use to create these pages got a page query based on a context variable passed down to the createPage function.

No matter if it's only 1 or 10 pages generated with between 10 to 15 images per page, the develop command go through successfully however the build

[2019-08-01 15:45] ehowey commented on #16293
Getting this error as well...same scenario as above.  Just commenting to bring visibility.  Happening on Netlify deploy log.

[code]

[2019-08-01 15:46] briziel commented on #16293
Should now work with gatsby-cli@2.7.24

[2019-08-01 15:47] datakurre commented on #15462
Unfortunately, "dropping" gatsby-plugin-styled-components from gatsby-config also removes ssr-rendering of styled components.

As a fix, I followed https://emotion.sh/docs/styled, removed both styled-components and gatsby-plugin-styled-components, added emotion/styled, theme-ui, gatsby-plugin-theme-ui and added gatsby-plugin-theme-ui into gatsby-config. This restored ssr for my styled components w

[2019-08-01 15:48] #15058 closed

[2019-08-01 15:50] LucasLombardo commented on #16293
Working for me now with the update, thanks @briziel

[2019-08-01 15:52] #16293 closed

[2019-08-01 16:01] janosh commented on #15724
For me the error persists. Running `gatsby build` still crashes with

[As mentioned above](https://github.com/gatsbyjs/gatsby/issues/15724#issuecomment-513755203), if I delete the cache, `rm -r .cache`, it builds fine but only once.

[2019-08-01 16:12] nariusk commented on #4486
Entering npm cache verify fixed the issue for me. Remember to remove the existing folder before installing again.

[2019-08-01 16:15] KnisterPeter opened #16298 "[feat] allow gatsby develop to expose into a subfolder"
## Summary

Right now there is the option to use a `pathPrefix` to allow the gatsby build to live in a subfolder of a webpage.
This is not possible with develop right now, which means we couldn't test this during development.

### Motivation

For our specific requirement: We would like to run `gatsby develop` on AWS and we only have the option to run in a subfolder there (caused by our infrastruct

[2019-08-01 16:16] geocine commented on #16293
That was fast, thank you

[2019-08-01 16:26] PHurst1 commented on #7502
This still doesn't work for me, I still lose the active class on page refresh/

[2019-08-01 16:38] wardpeet commented on #1878
https://github.com/gatsbyjs/gatsby/issues/14341#issuecomment-496846091

[2019-08-01 16:39] wardpeet commented on #14341
It seems like we also have the discussion at https://github.com/gatsbyjs/gatsby/issues/1878 so I'll be closing this one as a duplication.

[2019-08-01 16:39] #14341 closed

[2019-08-01 16:43] wardpeet commented on #16298
Hey @KnisterPeter,

We run in the same issue as outputting data with our output folder (duplicate of #1878 & #14341). which is something we don't feel like taking on for V2 but rather something for v3.

[2019-08-01 16:45] KnisterPeter commented on #16298
Hej @wardpeet,

I think this request is a bit different. Its not the output folder in the filesystem but the path-prefix during `gatsby develop`.
Do you mind to reopen this?

[2019-08-01 17:01] wardpeet commented on #16298
Ok re-opened, it's the same thing, we need to change assets being loaded in the html to contain the assetPrefix as well so there is more work to be done.

We happily accept PRs for it 😄 but it won't be something @gatsbyjs/core will prioritize anytime soon.

[2019-08-01 17:08] wardpeet commented on #15398
I created a PR for to fix it. We won't be able to fix the not-found xhr requests as it's by design.

I'll see if I can create a plugin to disable this behaviour if you really want to. (#no-promises)

[2019-08-01 17:10] colbyfayock commented on #15398
@wardpeet curious about the intent of it being by design if we intentionally set them as client only routes within the configuration. isn't that part of the point, to distinguish them as unavailable?

if it should be a plugin, could this be a setting that gets applied to https://www.gatsbyjs.org/packages/gatsby-plugin-create-client-paths/ ?

[2019-08-01 17:19] wardpeet commented on #16274
It seems like an upstream error like @elken mentioned https://github.com/webpack/webpack/issues/1194

I'm closing this one as there isn't much we can do about it :cry:. There is no easy upstream fix we can do. @qipoy it's a warning so it shouldn't break your site anyway so you can just clear it. Sorry for the inconvenience.

[2019-08-01 17:19] #16274 closed

[2019-08-01 17:23] wardpeet commented on #15398
Oh sorry, we have answered it in another thread.

https://github.com/gatsbyjs/gatsby/issues/16097#issuecomment-515438703

A little bit more context why we do this.

[2019-08-01 18:35] colbyfayock commented on #15398
makes sense, thanks for the info.

whether or not that solution, is the plan definitely to address this in one form or another? i would have to imagine client paths are a common use case all around, especially given if I'm not mistaken, Gatsby is trying to position itself as an all around app solution rather than just a static site generator. receiving a bunch of 404's in a dynamic application doe

[2019-08-01 18:46] karlhorky commented on #14331
I had a variation of this today where the images were replaced (under the same names) and Gatsby didn't update the cache for the sizes for the images (even after a restart of the dev server), which caused the aspect ratios to be improperly calculated.

[2019-08-01 18:47] grantmoran commented on #15529
I've got a guide almost wrapped up. Was a little delayed due to work. Anyone have a windows box/setup that wants to run through it? Should I just create a PR with it?

[2019-08-01 19:04] kogal opened #16308 "[gatsby-plugin-offline] Static routes not working offline"
## Description

The static pages not served when offline, if you change route or reload.

### Steps to reproduce

1) Download, build and serve the gatsby-starter-blog starter.
2) At first visit (sw registration) if you disable the js and reload, the static content is served correctly
3) If you enable the js and navigate to another page, or reload and repeat step 2, you get a blank page (the offlin

[2019-08-01 19:26] kogal commented on #16308
Never mind, it must have been an issue with cache left from another sw.
I'm closing it for now.

[2019-08-01 19:26] slorber commented on #15669
hi,

I'm sorry @pieh but I'm totally unable to understand all how this works after reading the doc.

What I can tell is:

- I have a source image of 4000w

- I use this query:

[code]

- I look at the static output (after having cleaned the folder just before)

![image](https://user-images.githubusercontent.com/749374/62321127-39447480-b4a2-11e9-93ef-eed558e1ffd6.png)

- I see there are images of

[2019-08-01 19:27] stefanprobst commented on #3344
I'd be super grateful if someone could give the stuff in #16291 some real-world testing. Thanks!

[2019-08-01 19:42] kogal commented on #16308
I'm gonna have to re-open this, as it is happening again and I have not touched anything in the deployment. I'm guessing it is a caching issue, but I'm not really familiar with service workers.

[2019-08-01 19:49] ramseytisher commented on #11839
Seeing this issue as well, trying to use a CSV with over 72,000 rows .. build time is pretty lengthy but also seeing a page-data.json file. Not as much worried about the build time, as much as it takes about 30s for a user to load the page and for it to be ready.

[2019-08-01 20:19] deklanw opened #16310 "Stricter type inference and enforcement?"
Is there a way to assume that every field seen in a frontmatter is non-nullable? It seems like that would be a reasonable option to have.

I solved it like this,

[code]

Which is fine.

But, it all works except for the `html` field which still ends up being nullable. Why? And, I'm not even sure why that is nullable in the first place. In what situation would the html be null?

Also, will this sch

[2019-08-01 20:37] bjatwork opened #16311 "[gatsby-plugin-offline] Uncaught (in promise) DOMException"
i get errors:
"Uncaught (in promise) DOMException" sw.js:1
The installing service worker became redundant.   register-service-worker.js:50

with gatsby-plugin-offline and no other error messages. I used pure gatsby starter.
What is next step to debug that?
**https://imgur.com/a/qiMETkT**

[2019-08-01 21:05] KyleAMathews commented on #15669
No browser will download the 4000px image — if you have your HTML container set to a `maxWidth` of 1000px — then a non-retina screen will download the 1000w image and a retina will download the `2000px` — but this does suggest there's not much point in including larger images if they're more than 2x the maxWidth. The reason the original is added is often people will query for an image that isn't a

[2019-08-01 21:29] stefanprobst commented on #16310
@deklanw
* Gatsby v2.2 has introduced new schema-related APIs like the `createTypes` action, but many plugins are still relying on the `setFieldsOnGraphQLNodeType` API, which - while *not* officially deprecated - will just overwrite user-provided field-types. see [here](https://github.com/gatsbyjs/gatsby/blob/944363288d51d2cd0b845dc46f028122fba9d9a9/packages/gatsby-transformer-remark/src/extend-no

[2019-08-01 21:29] michaellopez commented on #15350
not stale - still waiting on https://github.com/facebook/create-react-app/issues/7268 which is fixed by https://github.com/facebook/create-react-app/pull/7415 so waiting on a release which should "be out in the next week"...

[2019-08-01 21:34] PedroLamas commented on #15058
My PR has shipped in the latest Gatsby and MDX dependencies, and from my tests, seems this issue is no more! 🙂

[2019-08-01 21:41] RobRuizR opened #16313 "Timeout Error while sourcing data with Gatsby-source-shopify + ProductType nodes are not available for queries."
## Description

I'm getting this error on the console while using the Gatsby-source-shopify plugin:

[code]

Because of this, ProductType nodes are not available for queries. I've tried reducing the paginationSize for the plugin, but it's not changing anything.

### Steps to reproduce

I actually am not sure on how to reproduce this as it happened without changing anything. However, it can be seen

[2019-08-01 22:08] DSchau commented on #15902
@disintegrator this is sort of a known/intentional issue.

Asset Prefix is usually used for e.g. a CDN, so serving your content from "public" (and the CDN) would be a bit of a challenging endeavor for us to implement. The local path option (e.g. `/demo`) is of course easier, but it's also likely used entirely less often.

It is possible to get this working, you'll just want to add a postbuild scri

[2019-08-01 22:08] #15902 closed

[2019-08-01 22:12] disintegrator commented on #15273
Can confirm this is occurring on `2.13.50`

[2019-08-01 22:21] zslabs commented on #12038
There is still an issue with the `gatsby-remark-autolink-headers` forcing pushstate updates to the top of the page.

[2019-08-01 22:30] lannonbr opened #16315 "[gatsby-telemetry] error: src/postinstall.js not found in Linux environments"
## Description

In a Linux instance, Gatsby CLI is breaking currently because it doesn't find `src/postinstall.js` from gatsby-telemetry when running `gatsby new` with NPX.

### Steps to reproduce

1) Spin up a linux instance (Either a VM or container)
2) Download Node (tested on both 10 and 12 and breaks on both)
3) run `npx gatsby new .`

### Expected result

Should just run

### Actual result

[2019-08-01 22:51] danboyle8637 opened #16316 "lodash prototype pollution"
I just did some package updates and while adding Firebase to my project... I got a 243 vulnerabilities related to lodash.

Wanted to bring this up before I do any type of deep update to my packages.

[2019-08-01 23:02] jlengstorf opened #16317 "[gatsby-plugin-shopify] Remove undocumented ProductType query"
This would be a breaking change, but Shopify's GraphQL API no longer documents the `ProductType` type and the query for product types has started timing out. The product type data is still available via the `product` query, so we don't lose any data by removing this.

Recommendation:

1. Remove the `PRODUCT_TYPE` query in `gatsby-source-shopify`
	- Remove the query itself ([here](https://github.co

[2019-08-01 23:28] sw-yx opened #16318 "Gatsby Plugins Library broken with gatsby themes"
## Description

Clicking on any gatsby plugin in the plugins library causes 404

### Steps to reproduce

go here https://www.gatsbyjs.org/plugins/

and click on any gatsby theme

### Expected result

it should work

### Actual result

![image](https://user-images.githubusercontent.com/6764957/62333679-6a1cad80-b492-11e9-9746-d69d4684640e.png)

[2019-08-01 23:31] DSchau commented on #16318
Hey Shawn!

Thanks for this -- algolia's index sometimes has some issues, but this is getting a little frustrating. I'll take a deeper look at this right now.

As you can see not _all_ themes are broken, but certainly it seems that a great majority of them are.

- https://www.gatsbyjs.org/packages/gatsby-theme-documentation/?=gatsby-theme
- https://www.gatsbyjs.org/packages/gatsby-theme-notes/?=ga

[2019-08-01 23:36] sw-yx commented on #15277
yay! am i allowed to suggest things? 🤗

- first class typescript support eg in gatsby config
- [compile selected pages to serverless functions](https://nextjs.org/blog/next-8#serverless-nextjs)?
- [dynamic route api](https://nextjs.org/blog/next-9#dynamic-route-segments)
- more visible/easier logging (of the redux stuff, i know its not used much and we dont have to use redux devtools, and it doesn

[2019-08-01 23:57] sw-yx commented on #16318
ok :) i'm not sure its algolia's problem, this is maybe a broken build? in any case i'll leave it with you. unsubscribing.

[2019-08-02 00:00] nivekselig commented on #16317
I'll take a look at it. I just started using Gatsby this week.

[2019-08-02 00:01] mimibar commented on #16317
Is this assigned? I think I have identified the changes needed.

[2019-08-02 00:03] pqt commented on #16317
It's not, would you like to take this one on @mimibar?

[2019-08-02 01:14] meronek commented on #11406
I got it today too and did a "clear cache and redeploy" and it worked.

[2019-08-02 01:38] muescha commented on #16298
but if we implement something general like https://github.com/gatsbyjs/gatsby/issues/14341#issuecomment-496464447 then a the path prefix could also implemented in this and not need to expose all the `prefixPath` to all methods via a parameter.

[2019-08-02 01:44] muescha commented on #1878
i would like also to vote for this idea

_Originally posted by @KnisterPeter in https://github.com/gatsbyjs/gatsby/issues/14341#issuecomment-496464447_

and also add that all path generation/calculation (for read and write) should be done by this core helper and it should be with hooks and some replacable plugins, so it can be tweaked for each implementation.

then also a `pathPrefix` can be imple

[2019-08-02 03:01] SilencerWeb commented on #16213
Closing as duplicate of #6654.

For those who ran into this issue, try to set `GATSBY_CONCURRENT_DOWNLOAD` to any number you want, default is 200.

Examples:
**Linux/mac:**
`GATSBY_CONCURRENT_DOWNLOAD=5 gatsby build`
**Windows:**
`setx GATSBY_CONCURRENT_DOWNLOAD 5; gatsby build`

[2019-08-02 03:01] #16213 closed

[2019-08-02 04:52] Jivings commented on #15302
Not stale, I will find time!

[2019-08-02 06:18] stupidehorizon commented on #15770
I had the same problem！

[2019-08-02 07:01] stupidehorizon commented on #15770
I have resolve this problem by using https://www.gatsbyjs.org/packages/gatsby-plugin-purgecss/ this plugin @joesanchezjr

[2019-08-02 07:32] cary03 opened #16321 "ERROR #85907 GRAPHQL There was an error in your GraphQL query"
## Description

ERROR #85907  GRAPHQL

There was an error in your GraphQL query:

- Unknown field 'file' on type 'Query'.

File: src/components/image.js

### Steps to reproduce

After the last error #85901，I uploaded an image to my contentful Media. The previous bug was fixed, but there was a new error.

### Environment

System:
    OS: macOS 10.14.6
    CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CP

[2019-08-02 07:36] cary03 commented on #15344
After uploading the image, a new error has appeared.

 ERROR #85907  GRAPHQL
There was an error in your GraphQL query:
- Unknown field 'file' on type 'Query'.
File: src/components/image.js

[2019-08-02 07:36] elken commented on #16321
Use the graphiql playground to see what's wrong with your setup. Not a bug with gatsby unless you're able to provide more information.

[2019-08-02 07:41] elken commented on #16313
Seems to be an upstream error, have a look at #16317

[2019-08-02 07:45] elken commented on #16316
I think there's a wider issue here. Below is `yarn audit` on gatsby current

![Image](https://i.postimg.cc/zvztYzYw/image.png)

[2019-08-02 08:35] elken opened #16323 "Out-of-date packages need updating"
## Description

A number of packages in base gatsby and other workspaces are out-of-date and open to various levels of exploitation (as highlighted in #16316 and #10583 seems stale)

Updating ts-jest and chokidar in the root workspace resolves those
[code]

If we want to force transitive dependencies to be fixed, a `resolutions` field is necessary.

[code]

### Steps to reproduce

`npm audit`

###

[2019-08-02 09:06] evolkmann opened #16324 "Support NO_COLOR environment variable"
## Summary

The console output of e.g. `gatsby build` is not very readable in no-color environments or CI/CD tools, where this is not supported.

### Basic example

Gatsby should support the `NO_COLOR` environment variabel (https://no-color.org/) and disable colored output accordingly.

### Motivation

- Better readability of logs in CI environments
- Better accessibility for users who prefer non-

[2019-08-02 09:08] evolkmann commented on #16324
#2172 mentioned the same issue, but was closed.

[2019-08-02 09:10] #16182 closed

[2019-08-02 09:17] wheelhot opened #16326 "Submit Form Redirect"
So I've been looking around for HTML forms for static sites and some that I've found like https://jumprock.co/ uses `<input type="hidden" name="after" value="http://google.com">` for redirection, however this will trigger a full page reload.

So what I'm asking is:
1. Is there any other way to have the `value` to perhaps change a portion of my page to show a success return message
2. Or, perhaps a

[2019-08-02 09:19] wardpeet commented on #8805
Sorry for keeping you waiting.

we want to hold off gatsby-source-contentful changes for now, as we have some big PRs open.

transformer-sqip should be able to use `createContentDigest` as it's passed down as args so it would be nice to use that one.

In gatsby-transformer-screenshot should use crypto as we don't want any deps on that function.

[2019-08-02 09:53] wardpeet commented on #15092
@vai0 can you tell me what version of gatsby you're running? Seems to be 2.8.8, we might have fixed some issues. This might not be the case but i've seen some source-map issues in the past.

Any chance we can have a look at your repo to resolve this? Feel free to DM me or send me a mail to ward@gatsbyjs.com

[2019-08-02 10:07] wardpeet commented on #16318
This one seems fixed by itself so I'll be closing this one.

[2019-08-02 10:07] #16318 closed

[2019-08-02 10:10] wardpeet commented on #16277
Thank you for opening this, @markbenson13

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-08-02 10:10] #16277 closed

[2019-08-02 10:17] elken commented on #16326
See the docs for [adding forms](https://www.gatsbyjs.org/docs/adding-forms/).

[2019-08-02 10:17] wardpeet commented on #15350
https://github.com/facebook/create-react-app/pull/7415 has been merged so we can carry on.

https://github.com/gatsbyjs/gatsby/pull/16168 will take care of it

[2019-08-02 10:19] wardpeet commented on #15398
@colbyfayock what problem do you see with 404s? Users won't see those 404s and it won't change their experience on your site.

[2019-08-02 10:25] afrancht commented on #16252
Thanks @lannonbr! It works now perfectly!

However, I have found that whenever I go to:

https://vigilant-torvalds-977a33.netlify.com/team/

On the deployed version the styling doesn't work but on the local version it does. Any ideas?

*Not working in deployment*
![image](https://user-images.githubusercontent.com/19917183/62363384-81ee4300-b51f-11e9-99b3-d52e28ed4cdc.png)

*Working locally*
![imag

[2019-08-02 10:33] wardpeet commented on #16326
Hi @wheelbot,

As @elken suggested we have documentation on how to [add a form to gatsby](https://www.gatsbyjs.org/docs/adding-forms/). We also have a more advanced page called how to [build a contact form](https://www.gatsbyjs.org/docs/building-a-contact-form/).

Netlify has a blog post how you can do it in react which should also work for gatsby. https://www.netlify.com/blog/2017/07/20/how-to-in

[2019-08-02 10:33] #16326 closed

[2019-08-02 10:39] wardpeet commented on #16324
We currently support `FORCE_COLOR=0` & `gatsby build --noColor`. We're happy to accept a NO_COLOR environment variable.

https://github.com/gatsbyjs/gatsby/blob/f455c217d34c1bce412a3260d056ce27b4649019/packages/gatsby-cli/src/create-cli.js#L85-L90

[2019-08-02 10:56] evolkmann commented on #16324
Hi @wardpeet, thanks for the clarification. I could not find this in the docs, therefore created #16327. I guess it would be easy to also support 'NO_COLOR' in this context. Maybe I can also have a look at this.

[2019-08-02 10:59] evolkmann commented on #16324
@wardpeet You can assign this to me or keep it as `good first issue` for someone else just starting out, whatever you prefer :)

[2019-08-02 11:48] wardpeet commented on #13457
It seems like the page for gatsby-cypress is gone. People can look it up and we could have a e2e blog post or tutorial where we talk about gatsby-cypress instead.

I'm marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2019-08-02 11:48] #13457 closed

[2019-08-02 11:54] wardpeet commented on #16324
Thank you :pray:. Feel free to take it on.

[2019-08-02 12:13] markbenson13 commented on #16277
Thanks for all your answers!

[2019-08-02 12:18] evolkmann commented on #16324
Thanks, I will work on it as soon as #16327 is merged so I can work on the updated docs when starting this.

[2019-08-02 12:19] vavra7 opened #16330 "How to headless CMS and Gatsby js hosting?"
How is it possible make this working on custom hosting?

My case is that I have custom hosting and domain (https://www.wedos.com/webhosting). I run my site on Wordpress. Then I decided to use Wordpress only as headless CMS and develop frontend in Gatsby. My idea was that I use:

subdomain "_www.admin.mysite.com_" for Wordpress
domain "_www.mysite.com_" for Gatsby

Originally I misunderstand how Ne

[2019-08-02 12:29] mathiasha commented on #14076
@ppsirius So you got gatsby-plugin-remote-images to work with images from Prismic? Would you be able to share some of your code?

[2019-08-02 12:52] colbyfayock commented on #15398
@wardpeet well, this is my 2c...

For one, it seems like it's an acknowledged problem where the known solution would break something else, meaning the "won't fix" is just that there's not currently a known valid solution. I mean I get it, and thats a totally valid reason for not doing the fix that you know of, so that it wont break other things, but i dont think that means it should be shrugged of

[2019-08-02 12:56] #16313 closed

[2019-08-02 12:59] ArnasDickus commented on #16330
Yes, I have the same question.
1) I tried using FileZilla in public_html just add WordPress files and gatsby build files.
Result: Gatsby loads on startup, however, a couple of problems
1) Favicon icon doesn't show up, because trying to access it will give you WordPress theme 404 page
2) Trying to visit a non-existent link would bring you to WordPress theme 404 pages instead of gatsby.

2) Using Fi

[2019-08-02 13:02] lannonbr commented on #16252
Interesting, so the fonts and the background are different, but the rest of the layout seems the same. I would say go into the team page and check if maybe anything being passed around in that page related to the styling is undefined.

[2019-08-02 13:26] lannonbr commented on #15651
I would say this in particular is resolved as gastby-mdx is deprecated, and if this arises again, we could comment to a developer if they are no longer maintaining the plugin / it doesn't support the newest major version of Gatsby, then we can just ask them to deprecate it on NPM which will make it not show up in our library.

[2019-08-02 13:26] #15651 closed

[2019-08-02 13:29] TheHalcyonSavant commented on #15398
Developers are considered users to Gatsby, and developer experience is impaired here, having to spend time understanding errors that don't make sense is a huge waste. The more developers read these errors and the more unnecessary time they spend researching github, the more embarrassing this argument is going to get.

[2019-08-02 13:30] ppsirius commented on #14076
@mathiasha As I mentioned earlier I use gatsby-source-prismic [here](https://github.com/ppsirius/inveo/blob/master/src/pages/filozofia-marki.js) You have code where I use it.

[2019-08-02 13:51] lannonbr commented on #15497
Sorry for the delay @rgllm but yeah I would say creating a gatsby template for each of the WP page templates would be a reasonable solution

[2019-08-02 13:59] ghashi commented on #12100
According to this article ["Google: No Technical Advantage To Splitting Up Sitemaps But Useful For Debugging"](https://www.seroundtable.com/google-split-xml-sitemap-files-21341.html) it would be nice to split the sitemap by "category" (instead of sitemapSize).

Do you guys know if it is possible to split it in this way?

[2019-08-02 14:16] elken commented on #16330
Check out [this](https://www.gatsbyjs.org/docs/sourcing-from-wordpress/) guide for using Wordpress as a headless CMS, [this](https://www.gatsbyjs.org/docs/hosting-on-netlify/) guide on hosting on Netlify and the related links at the bottom of the page for further detail. That should answer your questions.

[2019-08-02 14:48] deklanw commented on #16310
@stefanprobst

That explains the html thing. Thanks for the date tip. I'm still wondering why html is nullable to begin with, and whether these types get enforced via CLI complaining at me.

[2019-08-02 15:10] johno commented on #16196
Starters have been updated so I'm going to close this now.

[2019-08-02 15:10] #16196 closed

[2019-08-02 15:14] buz-zard commented on #15947
I'm having the same issue. I'm trying to upgrade from `"gatsby": "^2.8.2",` to `"gatsby": "^2.13.50",` and the build fails:

[code]

[2019-08-02 15:18] johno commented on #16106
Another thing we could do to improve the initial DX, especially for newcomers, is to proxy the theme shadowing from the root of gatsby-theme-blog's `src`. So that way if a user wants to customize the `theme.js` they don't have to know about `gatsby-plugin-theme-ui`.

[code]

[code]

This wouldn't be a breaking change, but I'd be interested if folks think this is an improvement or a level of indire

[2019-08-02 15:27] vavra7 commented on #16330
Based on nature of my question, very silly links. They definitely don't provide answer on my described issue.

[2019-08-02 15:29] ArnasDickus commented on #16330
@elken I'm not sure you understood the problem we are facing.
Your first link is about sourcing from WordPress. On how to use get data from REST API to WordPress. Both of us already did that.

The second link is about deploying the site to netlify, again we already did that.

Our problem is:
How to host Gatsby front-end preferably launched on Netlify. And Wordpress CMD on the same domain.

[2019-08-02 15:31] cryic commented on #11607
I'd like to reopen this issue and continue the discussion, as this is something I've run to as well.

Being able to `limit` a nested field would be a great help.

This would be done by making any collection a `Connection` type?

Is there any best-practice or query convention that would make the OP's 'Proposed Query' _not_ a good idea to pursue?

[2019-08-02 16:19] codepunkt opened #16336 "Hot reload not working for MDX files"
## Description

Hot reloading of mdx files is not working with `gatsby develop`.

### Steps to reproduce

1. clone https://github.com/codepunkt/codepunkt.de
2. yarn install
3. yarn start
4. open http://localhost:8000/blog/react-as-a-ui-runtime/
5. update src/content/blog/react-as-a-ui-runtime/index.mdx

### Expected result

Incremental recompile, browser should show the changes of the update in in

[2019-08-02 16:26] sergkudinov commented on #15595
The same question. And in additional I am trying to set <language> tag, but it doesn't put this into the rss.xml file.

It is written here that all additional options are passed through to the [rss utility](https://www.npmjs.com/package/rss#itemoptions), but it doesn't work for me. How to use it?

[2019-08-02 16:43] jamessimone commented on #6291
@TylerBarnes [your comment](https://github.com/gatsbyjs/gatsby/issues/6291#issuecomment-486356636) is very interesting - while I am not experiencing the issue at hand, I am experiencing massive slowdowns in builds caused by gatsby-remark-image / filesystem constantly rebuilding all of my image files on deploy. I made an [example repo](https://github.com/jamessimone/gatsby-remote-images-example) an

[2019-08-02 17:27] #14969 closed

[2019-08-02 17:27] #15049 closed

[2019-08-02 17:27] #15259 closed

[2019-08-02 17:27] #15279 closed

[2019-08-02 18:01] johno opened #16338 "Queries from unused themes cause "gatsby develop" to fail"
## Description

Queries from themes that aren't being used cause an app to fail. It's sort of an abrupt experience to have installing a package make your app crash when it isn't configured. I'm not sure if we should check to make sure a theme is being used or if we should error in a more friendly way that says to configure the theme or use it.

### Steps to reproduce

[code]

### Expected result

[2019-08-02 18:21] sw-yx commented on #14678
i dont like you gatsbot

[2019-08-02 18:25] ChristopherBiscardi commented on #16106
@johno I think this would be even more confusing in the case of putting multiple themes together (which theme.js do you shadow? why isn't X theme.js applying in Y location?)

[2019-08-02 18:35] Jhony0311 commented on #16133
@marcysutton @sedat Is okay if I take this? Already created this and waiting on #15979 to be merged. Is okay to open a PR?

[2019-08-02 18:58] stefanprobst commented on #16310
yes would probably make sense to make it not nullable.
if you want you *can* enforce this yourself with the `createResolvers` API, which is run as the last step in schema generation (i.e. after `setFieldsOnGraphQLNodeType`):
[code]

GraphQL *will* complain when there are null values on `GraphQLNonNull` fields. You can check the error you'll see with something like this:
[code]

[2019-08-02 19:17] johno commented on #16336
After a quick glance I _believe_ it might be due to the fact that you are [passing the MDX body](https://github.com/codepunkt/codepunkt.de/blob/498196b57b723e6112a513ec6e42392270c2a464/gatsby-node.js#L48-L58) to your template. This causes it to only build once at runtime.

If you pass the post id and use a [`pageQuery`](https://github.com/gatsbyjs/gatsby/blob/880fbd75888b3bcfbc0cae379164f4b7460da9

[2019-08-02 19:50] marcysutton opened #16341 "[docs] table of contents on Recipes page needs fine-tuning"
## Summary

The new TOC component needs fine-tuning on the [recipes page](https://gatsbyjs.com/docs/recipes): the automated headings are including "Prerequisites" and "Directions" for every recipe, which is repetitive and not providing value. Instead, we should limit headings in the TOC on the recipes page to only h2's and h3's, not h4's.

One suggestion from @gillkyle: "we could maybe disable it

[2019-08-02 20:17] codepunkt commented on #16336
Stopped passing the MDX body to my template via context.
Added this `pageQuery` to my template instead:

[code]

I tried this before and it didn't work, but that was probably some mistake on my end.

Works like a charm. Thank you, @johno!

[2019-08-02 20:24] johno commented on #16336
No worries! Thanks for adding in your solution for other folks in the future!

[2019-08-02 20:26] marcysutton commented on #16133
@Jhony0311 that sounds cool to me! It might be smart to wait until https://github.com/gatsbyjs/gatsby/pull/16309 is merged, even though #15979 is in already. Hopefully should be done today.

[2019-08-02 20:31] sw-yx commented on #14678
i like you allansonbot

[2019-08-02 20:31] marcysutton commented on #15529
I use Parallels and the [free VMs from Microsoft](https://developer.microsoft.com/en-us/microsoft-edge/). I used to use VirtualBox which is also free, but it stopped working for me a few months ago so I got a Parallels license. I'd be happy to help you test it, but I'll be on vacation until August 16th. Maybe someone else could help in the meantime?

[2019-08-02 20:33] codepunkt commented on #16336
@johno One question that isn't answered yet: Why does this happen? Is it documented somewhere?

Also, can there be an automatic warning about this?
Are there other things that we can't pass to our mdx templates via context?

[2019-08-02 20:39] marcysutton commented on #14890
There may be–we want to make sure the APIs are fully documented. @amberleyromo is taking that on

[2019-08-02 20:39] eclectic-coding commented on #15529
I have Windows 10 pro in VMWARE VM on a Ubuntu/System76 laptop ... If a dedicated Windows user doesn't volunteer I would be willing to run it through the paces if need be.

[2019-08-02 20:43] sedat commented on #16133
@marcysutton @Jhony0311 totally fine for me as I haven't had a change because of work and was thinking of finishing it this weekend.

[2019-08-02 20:53] marcysutton commented on #14896
@mehtavishwa30 yes, absolutely! We'd love to have help!

[2019-08-02 20:59] sw-yx commented on #16338
would definitely like gatsby to do a check against gatsby-config before running stuff in node_modules for me.

[2019-08-02 21:18] alexluong commented on #16338
I think it's the same for source plugins too. Like `gatsby-source-contentful` and `gatsby-sharp`. What @sw-yx seems like a good solution, but it may/may not run into issues with dependency of dependency (`gatsby-theme-using-contentful` depends on `gatsby-source-contentful`).

[2019-08-02 21:19] karldanninger commented on #15398
The latest version of Gatsby (2.13.50) removes the warning, BUT there is still a printed line in the console "Page not found /things/123abc456xyz"

[2019-08-02 21:35] alexluong commented on #16341
The challenging part of @gillkyle's suggestion is how we can place the TOC like in the template from MDX.

To go around that, would adding another frontmatter field work? Something similar to `frontmatter.tableOfContentsHeadings` or `frontmatter.limitedTOC` or the like, and use it inside the template?

[2019-08-02 21:48] alexluong commented on #16330
@ArnasDickus

It's impossible to host your Gatsby site and your WordPress site on the same domain, unless you're willing to configure the `htaccess` file in your web hosting. But again, you'd lose all the perks of CI/CD (push to GitHub --> deploy).

@vavra7

I think the best pattern would be:

- Your Gatsby site: your-site.com
- Your WP site: admin-subdomain.your-site.com

With this, yes, you do h

[2019-08-02 22:00] marcysutton commented on #14989
That could easily be changed to a fluid image example - whatever works! I think my original intent was to show how to constrain a fixed image so it wouldn't scale up with its container element and thus appear blurry. But if that situation doesn't apply, don't worry about it! (I'd have to dig back into gatsby-image to know)

[2019-08-02 22:26] sw-yx commented on #16338
recursive check 🤷‍♂️

nothing is impossible. bottom line is are you surprising your users? yes? bad.

[2019-08-02 22:38] marcysutton commented on #3346
We have more docs thanks to #16102, so I'm going to close this issue. For further improvements, please open a new issue (like I should have done!). Thanks everyone :)

[2019-08-02 22:38] #3346 closed

[2019-08-02 22:40] ChristopherBiscardi commented on #16106
gatsby-theme-blog-core PR is just about ready. If anyone has comments about the general structure/separation of plugins, etc now is the time!

https://github.com/gatsbyjs/gatsby/pull/16166

[2019-08-02 22:44] break-paradigm commented on #15398
@karldanninger I have the same issue.

I just updated to Gatsby (2.13.50) from 2.13.45.

My issue right before I updated was that I had the warning: "Error loading a result for the page query in "/app/my-page". Query was not run and no cached result was found.
Page not found /app/my-page".

Also, before updating, if I routed with "navigate('/app/my-page')" then I would see a flash of the 404 page

[2019-08-02 23:13] moelfassi opened #16346 "Nested URL Routing"
## Relevant information

### To go to, a `competition page` i'm using this function to go to that page:
--> from `gatsby-node.js`
`exports.onCreatePage = async ({ page, actions }) => {`
  `const { createPage } = actions`

 ` if (page.path.match(/^\/competition/)) {`
   ` page.matchPath = "/competition/*"`
   ` createPage(page)`
  `}`
 }

### from `competition page` i'm returning `Game component`:

[2019-08-03 00:08] sidharthachatterjee commented on #16338
This is unfortunate! We currently parse js in `node_modules` for all deps with gatsby in their name.

The reason we don’t work backwards from gatsby-config is for the ability to be able to support queries in arbitrary dependencies (like [gatsby-seo](https://www.npmjs.com/package/gatsby-seo) for example)

The right way to solve this would be to further filter with:
- files in themes in gatsby-confi

[2019-08-03 00:41] karldanninger commented on #15398
@break-paradigm I've encountered the flashing 404 thing myself. Doing this solved it for me https://github.com/gatsbyjs/gatsby/issues/5329#issuecomment-484741119

[2019-08-03 00:45] break-paradigm commented on #15398
@karldanninger Thanks!

I'll def test that out.

For now, I did fix the 404 flash. I'm using Netlify and I didn't install the gatsby-plugin-netlify add-on that basically fixes redirects under the hood.

After that the 404 flash appears to be solved.

[2019-08-03 01:31] sw-yx commented on #16338
a filter may not be the only approach available to you. i wonder if query parsing can be made lazier. right now queries are eager, which is ALSO a problem if you have a query in a file that is inside your main project but that isn't imported in anywhere, e.g. i would not expect my query inside `unused_file.js` to be run, but it does, and ofc can crash gatsby, which is no bueno.

making queries laz

[2019-08-03 02:35] alexluong commented on #16338
If I understand Gatsby right, the way it works is that it will run all the query at build time and generates the data into static json. That’s how in prod there is no graphql server.

Not sure how to parse the queries in a lazy way then.

[2019-08-03 04:36] kimbaudi commented on #11006
I'm also facing a similar problem when testing my website on a mobile browser (Chrome 76.0.3809.89). After refreshing the web page, the screen would sometimes turn white for 2~3 seconds before the page reloads. Other times, the screen would remain white and I would have to close and reopen the browser. Also, my page sometimes freezes after the screen is white for 2-3 seconds and the page loads.

H

[2019-08-03 06:17] kilburn commented on #15398
@wardpeet:

1. They clog your logs, making analyzing actual 404's harder
2. They may trip crawlers (think google webmaster tools) into thinking you have many 404 errors (important when you are doing a site for another company and they get to see reports showing those errors)
3. They cost requests and bytes that you have to pay for
4. The requests for `page-data/client-path/something/page-data.js`,

[2019-08-03 06:41] KyleAMathews commented on #16338
Yeah we don't run the queries, is the validation step. Perhaps we could store the errors for queries and only show them if we know the query is used in a component.

[2019-08-03 07:07] ChristopherBiscardi opened #16350 "Move gatsby-starter-mdx-basic into gatsby repo (or other solution)"
Via: https://github.com/gatsbyjs/gatsby/pull/16348 The repo (https://github.com/ChristopherBiscardi/gatsby-starter-mdx-basic) is still under my namespace which doesn't really make sense any more now that gatsby-plugin-mdx is in the gatsby repo. We can either port that starter over or create a new one that we feel is better suited for "getting started with MDX quickly".

cc/ @johno @gatsbyjs/learni

[2019-08-03 07:35] imlastrebor opened #16351 "Gatsby-source-wordpress error and GraphQL error"
## Summary

I'm trying to setup my first gatsby + wordpress site. I'm following [this](https://www.gatsbyjs.org/blog/2019-04-30-how-to-build-a-blog-with-wordpress-and-gatsby-part-2/#reach-skip-nav) tutorial.

## Relevant information

I run WP locally with Mamp and I'm able to see JSON data here: http://localhost:8888/GatsbyWP/wp-json/ .

I get the site running but at the point where I should get t

[2019-08-03 08:00] Chalarangelo commented on #16287
Is there any easy way to polyfill this for the time being? Some plugin or configuring webpack etc?

I can confirm this is a bug, but only in production mode. If I run it in dev mode, it works just fine.

[2019-08-03 08:01] elken commented on #16287
It's supported in the browser, there's no need.

[2019-08-03 08:04] Chalarangelo commented on #16287
@elken I know it is, but somehow it does not work in FF 68 (which seems to support it), at least in production. This will break my website sooner or later for some users. Can I configure my project in such a way that this does not break the website on FF 68 or older? Thanks in advance! :pray:

[2019-08-03 08:07] vavra7 commented on #16330
@alexluong

Then it is as I was afraid of. Many thanks for your answer.

[2019-08-03 12:41] JochenHiller opened #16352 "Images does not load on macOS/Safari, iOS/Chrome, iOS/Safari."
## Description

Images does not load on macOS/Safari, iOS/Chrome, iOS/Safari. They stick in blur mode.
They does load well on macOS/Chrome, macOS/Firefox, Android/Chrome.

### Steps to reproduce

* Goto https://jochenontour.blog/dogsledding-2018/day-08 (or https://oasome.blog/mayan-ruins/ when my site has been fixed  meanwhile)
* does perfectly load on macOS/Chrome and others
* on macOS/Safari, iO

[2019-08-03 13:25] JochenHiller commented on #16352
When reading more documentation and fiddling around with different configurations, I got it to work on macOS/Safari as well:
* changed gatsby-config.js for `gatsby-remark-rehype-images`, deleted `toFormat: "WEBP"` so default will be applied

I tried out some configurations, which results in different sizes of public folder (for my sample, using huge number of photos):
* toFormat: `WEBP`, transform

[2019-08-03 15:48] lucassilvagc commented on #16351
Two questions:

1) Have you tried to run the allWordpressPost query over GraphiQL? (localhost:8000/___graphql)
2) From what I've seen on your code, you've just set ACF usage as activated. Did you enable any advanced custom fields (ACF) on your WordPress build? (assuming you're using a new WP build).

[2019-08-03 16:01] mavalon opened #16353 "Error: EPERM: operation not permitted, lstat (gatsby-starter-default + gatsby-source-wordpress)"
## Description
I installed the default starter and the wordpress plugin.  Running `develop` compiles successfully.  But, a few seconds later an error is thrown.

### Steps to reproduce
- Install `gatsby-starter-default`
- Install `gatsby-source-wordpress`
- Run `gatsby develop`
- Open the site in a browser (I'm using Chrome)

### Expected result
- The page should load properly

### Actual result
-

[2019-08-03 16:34] mavalon commented on #16353
Also, I notice that immediately after it says that it compiled successfully, I can see image files in the `.cache/gatsby-source-filesystem` directory.  But, a few moments later, when the error above occurs and the server is stopped, all the files disappear.  (Perhaps it's normal to remove the files when the server stops, but I thought I'd mention that here, just in case it's not.)

[2019-08-03 17:27] #2044 closed

[2019-08-03 17:27] #15218 closed

[2019-08-03 17:27] #15241 closed

[2019-08-03 17:27] #15245 closed

[2019-08-03 17:27] #15304 closed

[2019-08-03 17:52] NoftScarlet commented on #4967
`sudo chmod 755 /usr/local/lib`
then
`sudo npm i -g gatsby-cli `
did the trick for me. Not sure if the chmod is required.

[2019-08-03 19:45] joe-bell opened #16357 "[gatsby-plugin-mdx] CMS Live Preview"
## Description

Templates that use `gatsby-plugin-mdx`'s `MDXRenderer` don't render as expected in a CMS "live-preview" environment

In other words, if I make a change to content, I would expect this to re-render the MDX as a live preview.

### Additional context

I also raised this with @ChristopherBiscardi [via Twitter DM](https://twitter.com/joebell_) and he suggested the following:

### Steps

[2019-08-03 21:19] break-paradigm commented on #15398
@kilburn I'm experiencing the same issues you have mentioned, especially item number 4 in your list.

The 3 requests you describe and the 404 requests/abort are slowing down my authenticated routes in production test on Netlify.

It is tripping me up as I dev as well.

[2019-08-03 21:45] gillkyle commented on #16341
@alexluong I was really just spitballing as I was brainstorming what could be done to make the headers in a specific page more customizable. I think a frontmatter field is a great idea!

[2019-08-03 23:34] TylerBarnes commented on #11558
@mrlubos unfortunately, no, I never ended up having time to try to get it to work properly

[2019-08-03 23:37] TylerBarnes commented on #15256
@wardpeet I ended up solving it, so no need to open an issue.
It was an inherited project that was querying way more data than it needed. It was overusing too many fragments that weren't specific enough. I ended up simplifying the data structure and stopped using image sharp transforms and the problem went away. I'm thinking for sites that do have really heavy data querying requirements it will fa

[2019-08-04 00:08] progital commented on #16338
I wanted to file a similar issue but @johno was faster. My issue is what @sw-yx described above. Is there any workaround or some hints where to start with fixing this validation issue?

[2019-08-04 00:34] kimbaudi commented on #15080
Hi, I noticed that my gatsbyjs website would show a blank screen and become really unresponsive (approximately 20-50 seconds) on some mobile browsers (Chrome and Opera) after performing a hard refresh. Inspecting the network using Chrome DevTools indicates that the delay comes from `page-data.json`

On page refresh, the request for `page-data.json` is pending
![issue1](https://user-images.githubus

[2019-08-04 01:23] progital commented on #15906
Just a few thoughts from a person who mostly does WordPress and wants to improve how it works with Gatsby.
Having a universal schema sounds awesome. It's a great improvement, I like this!
Implementing a universal schema source plugin for all the various data/fields/posts/plugins that WordPress supports even if feasible would take time. Understandably, there will be some use cases where the univers

[2019-08-04 04:26] KyleAMathews commented on #15080
@jaredsilver where do you host your site? Perhaps there's a misunderstanding here? I'm not sure what you mean by "edge host". Any cdn can work with the changes in 2.9 -- you just need to set the `cache-control` settings correctly. Is there something we can document for you?

[2019-08-04 05:01] KyleAMathews commented on #15080
Perhaps the reason we overlooked this is that most CDNs designed to serve static sites handle this correctly already i.e. they serve a file from the edge until a new build invalidates the file. Netlify/Zeit/Firebase etc. work this way. Most/all CDNs have a purge or invalidation API that can be setup to do this as well.

What CDNs are y'all using? Let's put together some docs on setups.

This does

[2019-08-04 07:07] wardpeet commented on #15623
It's always good to warn people. If people are struggling with this I think it's a good idea to add it to the plugin's readme.

[2019-08-04 07:08] wardpeet commented on #15440
Hi @VitalijPetras!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to share your wp API.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll be able to take another look.

Thanks for using Gatsby! 💜

[2019-08-04 07:10] wardpeet commented on #16263
Hi @jameyvillages!

I don't have this issue on windows 😕.

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much apprec

[2019-08-04 07:18] kimbaudi commented on #16281
I'm glad I found this issue. I was going crazy because I can no longer add breakpoints to source files in Chrome DevTools when I was able to do so before.

[2019-08-04 07:47] wardpeet commented on #16281
Thanks for reporting. It seems like source-maps are broken on develop. We'll investigate 🕵

[2019-08-04 08:03] #12038 closed

[2019-08-04 08:05] #15273 closed

[2019-08-04 08:37] bchehraz commented on #15334
So I'm not sure if I'm having the same exact issue here, but here's what I'm currently working on. I got client side routing with "/" and "/someOtherPage" being accessible by the client. And if they try to access a page they don't yet have access to, it will redirect them to "/app/login" where they have to authenticate with the server. And I have a path prefix because I'd like to put this on GitHu

[2019-08-04 09:32] elken commented on #16346
IIRC Gatsby uses @reach/router, so see [their docs](https://reach.tech/router/example/nested-routes)

[2019-08-04 09:34] elken commented on #16346
See [this](https://reach.tech/router/example/nested-routes) example.

[2019-08-04 09:57] slorber commented on #15669
So, on Twitter @KyleAMathews found I had good arguments (https://twitter.com/gatsbyjs/status/1157067242858614785)

I understand the rationale behind always outputting x2 the maxWidth for retina screens, yet there are 2 problems:
- The original image size is always in the output. If my original is 6000w and I put maxWidth 1000w, a retina screen of 2001w will take the 6000w picture
- There's no good

[2019-08-04 10:04] slorber commented on #2374
I see thanks @panzerdp

Just not totally sure to understand how graphql-codegen find what to generate when it find sharp fragments?

If I understand correctly, it's this config that enables it to find the fragments right? `documents: ./node_modules/gatsby-*/**/*.js`

You should maybe add in this doc page that codegen support those sharp fragments ;) read the doc but it was not totally obvious to m

[2019-08-04 10:30] Js-Brecht opened #16361 "[gatsby-plugin-sass] resolveUrlLoader not being used for modules"
## Description

There is an option to include `resolve-url-loader` support for sass, but it does not include that support for sass modules.  This is causing issues when a sass script I am importing in a `module.scss` uses a `url()` call.

### Steps to reproduce

Add option to plugin to use `resolveUrlLoader`:
[code]
Assuming a `src` folder structure like this:
[code]
Create an `*.scss` file that u

[2019-08-04 10:37] john20xdoe commented on #11688
**Additional info if anyone else stumble on this issue on Windows:**

The gatsby npm run script is case-sensitive not only with the src file names, but including the entire path name:

I store all my projects in a folder in D: named Dev, (D:\Dev\)
The "duplicate definitions" error is picking on the entire path (im running in WSL Vscode):
`filesystem: /d/Dev/lngreponame/gatsby-project/component-nam

[2019-08-04 10:56] wardpeet commented on #15551
@freemh this works perfectly for me. I'm not sure what plugin you use to get the menus.

[code]

[2019-08-04 11:26] afrancht commented on #16252
Both seem to be the same:

![image](https://user-images.githubusercontent.com/19917183/62422969-57d18800-b6bb-11e9-96dc-c8407329134c.png)

Do you think this may have to do with routing? I've had some issues with that too.

[2019-08-04 11:30] progital commented on #15167
This should help (also with #14988)

[code]

[2019-08-04 12:33] allforabit commented on #15159
I'm having the same issue as this. Has anyone found any workarounds?

[2019-08-04 13:57] tabneib commented on #15159
We still suffer the bug and are considering downgrading gatsby.

[2019-08-04 14:32] episodeyang commented on #12765
this is very disappointing. Feedbacks from the community like this is a chance to open up to niche use case as Gatsby goes main stream. In aggregate, it is likely that every user is going to run into one of these long-tail use cases.

[2019-08-04 14:45] whalesingswee commented on #4360
@tianzhich I was able to fix the problem after moving my post to `/src/components` instead of using it inside `/src/pages` as @alanshortis  mentioned. Thanks!

[2019-08-04 14:49] janosh commented on #12765
@episodeyang Maybe upvote the issue and if enough people do likewise this issue might be reopened.

[2019-08-04 14:54] episodeyang commented on #12765
yeah thanks @janosh, just upvoted. I just moved to London!

[2019-08-04 15:03] ArnasDickus commented on #16330
Yes, thanks for the clarification. @alexluong It seems inconvenient to have 2 different domains. but it's still a lot better, compared to creating a custom WordPress theme.

[2019-08-04 15:14] allforabit commented on #15159
This seems to fix the issue (by disabling ssr):
[code]
(added to gatsby-ssr.js).

However I'm still getting a white screen when I enable the offline plugin.

[2019-08-04 15:59] alexluong commented on #16330
It may seem like a hassle to have 2 different domain name, but it offers a lot of benefits. For one, the security aspect is way better, since people don’t know where your data is coming from.

Would it be okay if we close the issue?

[2019-08-04 16:01] alexluong commented on #16330
Sorry, didn’t this is part of the learning roadmap. I thought it was just a Q&A.

[2019-08-04 16:12] lesleyNilson opened #16365 "Build: Webpack Error Third party tool "react-owl-carousel""
I want to use _"gatsby build"_, but I have difficulties with the third party tool _"react-owl-carousel"_

I got an error message. Please see below

So I add the following code snippet to `gatsby-node.js`:
[code]

But I got the error message:

So I checked the advices of the following links and changed my components according, but without success
[https://github.com/gatsbyjs/gatsby/issues/9214#issu

[2019-08-04 16:33] spences10 opened #16367 "Search results page for Gatsby Docs"
## Summary

As a user I'd like to use the search box to enter a search query and see the results of that query in a page rather than the suggested content.

### Basic example

Trying to find a blog example just gives the autocomplete results, but if you want browse for more results it is not possible.

![image](https://user-images.githubusercontent.com/234708/62426461-1f42a600-b6dd-11e9-8c07-5088f

[2019-08-04 16:54] allforabit commented on #15159
Actually my issue is a separate one it seems. I tried out the fix I suggested on @tabneib's test repo and it seems to fix the issue. Obviously at the cost of disabling ssr. This may be acceptable as a temporary workaround because ssr is not likely to be as important for a more clientside oriented app.

[2019-08-04 17:14] KyleAMathews commented on #15669
I think the simplest solution is to only include the original image if it's smaller than 2 * maxWidth.

My assumption with the code is that you're always constraining the width of the image but this isn't true with 100vw so we should check the size of the original image before including it in the srcset

[2019-08-04 17:23] slorber commented on #15669
Filtering by 2 * maxWidth would already be nicer

Yes that's true I may normally not want to a put a maxWidth on my hero images as the width of the container has an unlimited maxWidth. Yet If user has a retina screen of 2000w+ I don't want the srcset to load a 4000 image neither as it's really heavy for both bandwidth and resizing. If screen is retina 2200w I'd rather have the browser download the

[2019-08-04 17:59] jaredsilver commented on #15080
I was in the middle of writing out a long response detailing why you're wrong when I realized that _I am wrong_ 😄

If we use a combination of `must-revalidate` and `max-age=0`, CloudFront's edge nodes will hold the asset and only download a new version from the origin if the file has changed. This is the behavior we want, whereas adding a `no-cache` directive would have prevented the file from bei

[2019-08-04 18:00] buz-zard commented on #16357
I don't think this is related to the Gatsby project. There is an open [discussion](https://github.com/netlify/netlify-cms/issues/1776) at Netlify CMS repository though.

The live preview is rather complicated because it's not a live preview - you precompile the component and load it in as the Netlify CMS widget. That's why the MDX widget has rather strict import setup configuration. If you have an

[2019-08-04 18:47] jonniebigodes commented on #16365
@lesleyNilson i've picked up on your issue and i think i have a solution for you.

Gatsby during it's build process, is working in node and with that it doesn't have access to some API like `window` and so on. And with that makes some packages like this one a bit tricky to add and some errors like this one tend to happen.

Below are the steps i took to solve your issue.

- Created a new Gatsby sit

[2019-08-04 19:03] KyleAMathews commented on #15669
maxWidth is just the max width of screens you care about for the design. Most people don't design last say 1400 px so that's what I'd assume they'd put. We're trying to simplify your life so you don't have to think about different types of screens and image sizes. You just ask for what your design needs.

[2019-08-04 19:10] RIP21 commented on #16310
Hi everyone. I'm with the author, many fields like `timeToRead` and `html` and mostly all others are optional and it drives me nuts a little :)

Why? Because I'm full-blown on TypeScript and https://graphql-code-generator.com/ and it's indeed much easier to navigate all those deep trees of nodes, edges, JSON files, and other things, also it's nice to be sure that everything is nicely typed and "th

[2019-08-04 19:31] slorber commented on #15669
Yeah got that but what I'm supposed to do? I want 2000 non retina to get 2000px image, and 2000 retina to also get 2000px image. Current API does not really allow to me tell Gatsby those requirements. I understand your default choices, but it would be cool to be able to override those if they don't make sense for my usecase

[2019-08-04 19:35] RIP21 commented on #14185
@Siyfion about Fragments, I just copy-pasted them into the project from the plugin itself and got everything generated.
Just copy-paste this file.
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-sharp/src/fragments.js
And you're good to go with `graphql-codegen`

If anyone wondering what is my config. Here it is.
[code]

Although I must admit strictness of types that are

[2019-08-04 22:25] KyleAMathews commented on #15669
Once we make the change to exclude the original, that's what would happen with a maxWidth of 1000. Browsers would see the max image is 2000 pixels and that the screen width is 2000 and grab the largest.

[2019-08-04 22:25] jonniebigodes commented on #16351
@imlastrebor can you test something?
i would like for you to do a small change to your `gatsby-config.js` to the following:
[code]
Issue `gatsby clean` to purge the `.cache` and `public` folders. Issue `gatsby develop` and see if the error persists.

[2019-08-04 22:56] davidleger95 commented on #16174
Thanks @stefanprobst! This helped point me in the right direction.

[2019-08-04 22:56] #16174 closed

[2019-08-04 23:00] Seldszar commented on #16308
I have a similar issue with that. I'll also take https://gatsby-starter-blog-demo.netlify.com/ as example.

One the home page, after the initial load, I switch to offline but I get a 404 error. I go to a blog post, reload the page, go back to the home page and switch to offline, it works.

After investigation, it seems that "custom-navigation-whitelist" (IndexedDB) is the source of this issue. I t

[2019-08-04 23:11] bchehraz commented on #15334
So, I'm not exactly sure if this is related or not, but I'm currently working on a project where I'm attempting to use client-only routes with authentication to access the hidden pages. After adding in pathPrefix to use GitHub Pages with the project, I started to get that 404 response discussed above.

I've created an example project which is based on the Simple Auth gatsby project (https://github

[2019-08-05 00:24] cj2 commented on #16317
Thanks, @jlengstorf! This helped me get past the build issue.

[2019-08-05 02:33] lifehome commented on #15080
Hey @jaredsilver, mind if take a look at Cloudflare? We're using a mix of Cloudfront and Cloudflare to ensure the cached b/w and security, tho it seems despite the change from Cloudfront, Cloudflare needs to manually clearing the cache IMO.

[2019-08-05 02:51] jaredsilver commented on #15080
@lifehome It looks like Cloudflare [does not cache](https://support.cloudflare.com/hc/en-us/articles/200172516-What-file-extensions-does-CloudFlare-cache-for-static-content-) `page-data.json` or `index.html` by default, which is good. Unless you've manually configured them to be cached, it looks like it hopefully shouldn't be a problem. If you have manually configured them to be cached, it's possi

[2019-08-05 05:46] joe-bell commented on #16357
@buz-zard I do agree to an extent, and did consider raising the issue there, but considering how many people are now jumping onto MDX (paticularly through `gatsby-plugin-mdx`) I think it would be worthwhile enabling some support as I'm not sure if this issue occurs on other CMS providers. Perhaps this leaks into `gatsby-plugin-netlify-cms` territory but there's probably some overlap

I'd definitel

[2019-08-05 05:55] imlastrebor commented on #16351
Thanks for answers!

@lucassilvagc  Before I got this problem solvet I tried to do that in GraphiQL and I got some error. I also had installed and activated ACF in WP.

I got this answer from Stack Overflow: ```baseUrl``` to ```http://localhost:8888/GatsbyWP/``` . Now I can use GraphiQL as it should be without errors .

[2019-08-05 05:57] #16351 closed

[2019-08-05 06:56] wardpeet commented on #15273
Fixed in gatsby@2.13.51

[2019-08-05 06:56] wardpeet commented on #12038
Fixed in gatsby@2.13.51

[2019-08-05 07:32] lesleyNilson commented on #16365
@jonniebigodes

that would be great. I made the changes and I do not get anylonger the error message. That is fine, but now my carousel is not working as expected. The carousel is not available.

[2019-08-05 07:44] buz-zard commented on #15947
For now my workaround is `NODE_TLS_REJECT_UNAUTHORIZED=0 gatsby develop --https`

[2019-08-05 07:48] adithwip commented on #9423
Hello,

I might be come with a solutions. I get that the example code from the author is from some tutorials i've encountered as well 🤔

But here's may be the fix:
[code]

Notice in the `{ eq: "**images**/myimage.jpg"}) { `
Once i put prefix path to the image file, my day is start to feel exciting again

[2019-08-05 07:53] derit opened #16377 "How to build static as development"
how to build static html as development environtment

when i build with command `gatsby build` it make static html as production build
in my case i need test development environtment and deploy to static site

in development `process.env.NODE_ENV` is **development**
`console.log(process.env.NODE_ENV) ` when using` gatsby build` NODE_ENV is **production**

thanks

[2019-08-05 08:04] sidharthachatterjee commented on #16377
@derit There currently isn't a documented way to build your site in development.   `gatsby build` overrides `NODE_ENV` and sets it to `production`

Can you elaborate on what you're trying to achieve exactly?

[2019-08-05 08:07] derit commented on #16377
@sidharthachatterjee
just need build gatsby static with development environment

[2019-08-05 08:09] buz-zard commented on #15891
I'm also experiencing css issues (imported css files are not loaded at all). Though I noticed this issue only when upgrading gatsby:  from `"gatsby": "^2.8.2",` to `"gatsby": "^2.13.51",`.

Other versions: `"netlify-cms-app": "^2.9.7",`, `"gatsby-plugin-netlify-cms": "^4.1.6",`

[2019-08-05 08:10] sidharthachatterjee commented on #16377
@derit We don't support that unfortunately!

[2019-08-05 08:26] chriswang- commented on #1767
I run into this issue, It is simply to clean the app/build dir. That will resolve the problem.

[2019-08-05 08:32] tianzhich commented on #4360
I solved in #15977 cause the difference between StaticQuery and page query.

Maybe it could help someone.

[2019-08-05 08:40] #15816 closed

[2019-08-05 08:42] sidharthachatterjee commented on #16211
We've been using it since the past few weeks and love it! Especially the Slack notifications for pull requests.

Thank you for pointing this out nonetheless @janosh 🙌

[2019-08-05 08:42] #16211 closed

[2019-08-05 08:43] janosh commented on #16211
Good to know. :)

[2019-08-05 09:06] wardpeet commented on #14927
@dimitrisnl please have a look at https://www.gatsbyjs.org/docs/deploying-to-heroku/. Make sure to remove the Procfile.

You probably have to remove `"start": "npm run develop"`

[2019-08-05 09:08] laurenskling commented on #15597
This issue still leaves me unable to use my wordpress images :'(

[2019-08-05 09:14] sidharthachatterjee commented on #15023
@maxcountryman Firstly, my apologies for not responding to this earlier.

While I disagree that this should be necessary, I can empathise and understand the use case. I've put up a sample repository on how you could do this at https://github.com/sidharthachatterjee/gatsby-custom-filenames

The trick is to use `replaceWebpackConfig` to setup a custom webpack config with `filename` keys.

In https:/

[2019-08-05 09:14] #15023 closed

[2019-08-05 09:19] buz-zard commented on #15891
I can confirm that upgrading from `"gatsby-plugin-netlify-cms": "4.1.0",` to `"gatsby-plugin-netlify-cms": "4.1.1",` breaks the css usage.

[2019-08-05 09:19] #16377 closed

[2019-08-05 09:23] #16031 closed

[2019-08-05 09:28] sidharthachatterjee commented on #16000
Thank you for opening this @Wie-CBD

This seems like a fairly niche use case and Gatsby isn't built to support this. You could remove JavaScript with https://github.com/itmayziii/gatsby-plugin-no-javascript but inlining _all_ styles and scripts is not supported at the moment.

Closing this but please feel free to comment if there is anything else we can help with!

[2019-08-05 09:28] #16000 closed

[2019-08-05 09:33] buz-zard commented on #16357
True, with more discussions a solution could occur. There is also an [issue](https://github.com/mdx-js/mdx/issues/704) in mdx monorepo on improving the mdx runtime, as from version 1.0.0 the mdx runtime doesn't even work with `gatsby-plugin-netlify-cms` as netlify cms widget (https://github.com/gatsbyjs/gatsby/issues/10326, https://github.com/buz-zard/gatsby-mdx/issues/44).

[2019-08-05 09:38] sidharthachatterjee commented on #16002
Thank you for pointing this out @herecydev

As mentioned in https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-sass#alternative-sass-implementations and quoted above, `node-sass` is used by default and using `dart-sass` requires a change in config.

This means that for the plugin to work _out of the box_ `node-sass` is indeed a required peer dependency.

Closing this as a result

[2019-08-05 09:38] #16002 closed

[2019-08-05 09:50] sidharthachatterjee commented on #15966
@jsonmaur I tried to reproduce this in https://github.com/sidharthachatterjee/gatsby-site-has-no-name but was unable to do so 🙂 Both `develop` and `build` seem to work fine with the project (which has no name in its package.json)

Since this appears to be resolved, could you try running this with gatsby 2.13.50 and link to a reproduction if you are still seeing it?

@dtinth This appears to be a se

[2019-08-05 09:50] #15966 closed

[2019-08-05 09:52] xuweiwei117526 opened #16378 "Cannot query field "featured_media" on type "wordpress__PAGE""
During our Gatsby build,the project can not start when using npm start

Any assistance would be appreciated!

Describe the issue that you're seeing.

### Steps to reproduce

npm start

### Actual result

There was an error in your GraphQL query:
Cannot query field "featured_media" on type "wordpress__PAGE"

[2019-08-05 09:52] m-allanson commented on #16002
Should we consider switching the plugin to use Dart Sass by default, if that's the primary Sass implementation?

[2019-08-05 10:07] bojan0624 opened #16379 "when I add gatsby-plugin-page-creator to gatsby-config. The createPagesStatefully is execed twice in the gatsby build."
## Summary

when I add gatsby-plugin-page-creator to gatsby-config.  The createPagesStatefully is execed twice in the gatsby build.

## Relevant information

Gatsby CLI version: 2.7.21
Gatsby version: 2.3.22
Gatsby-plugin-page-creator version: 2.1.5

### Environment

gatsby build --prefix-paths

### File contents (if changed)

`gatsby-config.js`:
{
    resolve: `gatsby-plugin-page-creator`,
    op

[2019-08-05 10:12] Mrazator commented on #12857
It's been another month, please tell us @tanaypratap, what are the issues you are facing?

[2019-08-05 10:20] sidharthachatterjee commented on #15927
@jnsrikanth The structure of `siteMetadata` is free form and you're free to put anything you would like there

Folder structure is irrelevant here since objects in `menuLinks` have just a name and a link.

Like in the example @wardpeet inlined above, you should be able to include submenu items (like in the `items` key in his example) and change your query to include it in the result as follows

##

[2019-08-05 10:20] #15927 closed

[2019-08-05 10:24] arnauguadall commented on #16287
What @Chalarangelo asked would work for me too for now, if there is some workaround until they implement this.

[2019-08-05 10:25] slorber commented on #15669
Sure, that'll do the job for my case, but still think it's a bit counter intuitive api ;)

[2019-08-05 10:28] sidharthachatterjee commented on #16162
If I understand correctly, you mean to ask if `gatsby-browser.js` is automatically picked up when using https://github.com/netlify-templates/gatsby-starter-netlify-cms

To answer your question, `gatsby-browser.js` is _always_ loaded by Gatsby irrespective of the starter you use 🙂

Marking this as answered and closing but the issue but please feel free to comment or reopen if I haven't understood o

[2019-08-05 10:28] #16162 closed

[2019-08-05 10:36] vdespa commented on #16092
Great, thanks for the quick fix @m-allanson

[2019-08-05 10:41] sidharthachatterjee commented on #16287
@Chalarangelo According to https://caniuse.com/#feat=promise-finally, `finally` is supported in Firefox all the way back to Firefox 58 🙂

Could you please link to a minimal reproduction?

[2019-08-05 10:42] mavalon opened #16380 "[gatsby-source-wordpress]: Featured Images and Galleries not being returned."
## Description
I am developing a blog that will have thousands of images.  Currently I only have about 600 images.

I am using Custom Post Types and Advanced Custom Fields.

Most data seems to be returned in my GraphQL queries.  I even have some image fields that are being returned properly.  However, the most important fields in my WordPress CMS are featured images and galleries.  Neither of whic

[2019-08-05 10:46] wardpeet commented on #16377
We have some ideas how you could try to do this https://github.com/gatsbyjs/gatsby/issues/14230. It's not officially supported so we're not sure what sideffects this will give.

[2019-08-05 10:58] wardpeet commented on #16298
Seems like an issue was already open #16040. Closing because of duplicate.

[2019-08-05 10:58] #16298 closed

[2019-08-05 11:01] herecydev commented on #16002
@sidharthachatterjee I understand what you're saying but that doesn't sit well from a UX perspective to have a constant warning about this. I feel like what @m-allanson is suggesting could work or moving what's there into a "core package" and creating 2 separate implementation specific packages that can have the correct peer dependencies on them with zero config, i.e. `gatsby-plugin-dartsass` whic

[2019-08-05 11:16] m-allanson commented on #16002
There do seem to be some tradeoffs between the two versions, so this change might not be a 100% improvement:

- https://stackoverflow.com/questions/56150402/vue-cli-css-pre-processor-option-dart-sass-vs-node-sass
- https://github.com/JeffreyWay/laravel-mix/issues/1832

I'd be quite strongly against splitting functionality out into multiple plugins like `gatsby-plugin-sasscore` and `gatsby-plugin-d

[2019-08-05 11:43] Kosai106 commented on #15982
@stefanprobst I gave your solution a go and it seems to be working. However, I'm fairly sure this is no longer a Gatsby issue, but a Netlify issue - As I'm getting two builds for each of my commits, with only one of them succeeding (of course not the one used for the git checks).

I'm at a loss for words.

<img width="1184" alt="Screenshot 2019-08-05 at 13 40 06" src="https://user-images.githubuse

[2019-08-05 11:49] sidharthachatterjee commented on #16271
@scotNZ `gatsby develop` does not require internet connectivity to work. Looking at your list of plugins, I don't see anything that looks off.

Are you making any requests in `gatsby-node`?

If not, can you please post a link to a minimal reproduction? Would be happy to take a look at this and resolve it if we can reproduce it.

[2019-08-05 12:07] RamonBalthazar opened #16381 "Memory leak while generating the JS and CSS bundles in a Circle CI Build"
## Description

In CircleCI during the build process, right before building production JS and CSS bundles, the console "freezes" and after some time a memory leak message is displayed:

[code]

My main suspicion is that something is not respecting the `GATSBY_CPU_COUNT=2` environment variable so the workers can't balance themselves.

### Steps to reproduce

The issue is happening in CircleCI for a

[2019-08-05 12:10] sidharthachatterjee commented on #15421
The package manager selection has to do with picking which one to install dependencies with (and which lock file to persist as a result)

As far as I know `yarn run develop` and `npm run develop` shouldn't have any perceivable difference.

Just an alias to the `develop` script like @wardpeet mentioned.

Since the `package.json` file comes from the starter the user uses, the CLI will have to update

[2019-08-05 12:10] #15421 closed

[2019-08-05 12:23] wardpeet commented on #16381
Is it possible to upgrade your gatsby version? It looks like you're on an old version.

[2019-08-05 12:25] wardpeet commented on #16353
Hi @mavalon!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it. I can't seem to reproduce this on my own.

If you're up for it, we'd very much appreciat

[2019-08-05 12:26] wardpeet commented on #16380
Is it possible to share your wp rest api with us? or an export of your graphql query data. It's a bit tricky to get this resolved without it.

[2019-08-05 13:27] mischor opened #16383 "theme extending causes looping in some cases"
## Description

When extending a component in a theme, the instructions say to create a same-named file in <myProj>/<the-theme>/src/components/  folder.  There are many ways to do this, and some of them cause infinite looping (in the browser, if running with gatsby develop, or in the creation of static web pages, when running gatsby build).

### Steps to reproduce

It's easy to reproduce.  Here's

[2019-08-05 13:37] #11129 closed

[2019-08-05 13:51] sw-yx opened #16384 "[feature request] gatsby dry run command"
## Summary

add a dry run feature that runs through and logs out each of the lifecycles and plugins being detected and run in turn

- [ng cli has a dry run feature](https://malcoded.com/posts/angular-fundamentals-cli/#--dry-run-try-things-out)
- [aws cli has a dry run feature](https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-help.html)
- [rspec has a dry run feature](https://relishapp.co

[2019-08-05 14:25] jonniebigodes commented on #16365
@lesleyNilson i've updated the example to incorporate  some images and pushed the code to a repository.
It's in [here](https://github.com/jonniebigodes/gatsby-react-owl-carousel).

[2019-08-05 14:28] KancerEzeroglu commented on #14972
If someone doesn't work on this issue, I can take it :)
Can I?

[2019-08-05 14:32] mavalon commented on #16380
This is the shape of one of the albums in `wp-json/wp/v2/albums` -- where `album_photos` is the gallery field:
[code]

Aside from that, I really don't know what I could share with you in these comments (the files are massive).  If there is a working demo Wordpress + gatsby repo that makes use of featured images and the gallery field, then perhaps I can pull it down and see if it compiles locally.

[2019-08-05 14:33] sidharthachatterjee commented on #16283
@sonapraneeth-a If I understand your question correctly, you're asking how to setup components to use for base tags like p and h1.

You should be able to do this using `MDXProvider` in `wrapRootElement` as documented in https://www.gatsbyjs.org/packages/gatsby-plugin-mdx/#mdxprovider

Here is an inline example
[code]

[2019-08-05 14:48] sidharthachatterjee commented on #15170
@bartol This was fixed recently as far as I know. Can you please check and confirm if you still see this with the latest version of `gatsby-plugin-guess-js` and post a reproduction if yes?

[2019-08-05 14:56] jonniebigodes commented on #16378
@xuweiwei117526 can you confirm something for me.
In your `gatsby-config.js` do you have the media route activated in the included routes?
Something like this:
[code]
If not that might be the case. I've tested against my local wordpress installation and if i don't have it activated it results in that issue.

Feel free to provide feedback so that we can close this issue or continue to work on your

[2019-08-05 15:01] pbrickles commented on #16250
I have had a similar issue when trying to create a "tab"-like sub navigation on a page. I would be interested to see if the approach is valid or not.

[2019-08-05 15:22] wardpeet commented on #15170
@bartol we have fixed issues with guess-js in our latest releases. Please upgrade gatsby-plugin-guess-js & gatsby to fix these issues.

We have guess-js running on https://www.gatsbyjs.org.
More info on how to test guess-js can be found
https://github.com/gatsbyjs/gatsby/issues/15582#issuecomment-516417674

[2019-08-05 15:23] #15170 closed

[2019-08-05 15:24] lourd commented on #15006
Hey @sidharthachatterjee. Pleasure to meet you.

The main objective for seeing this supported is needing less configuration for importing local modules. Having it would eliminate the need for the gatsby-plugin-root-import plugin, as well the additional configuration for IDEs and linters to support importing modules from a root path. That plugin has about 7,000 weekly installs, with roughly 30% mon

[2019-08-05 15:42] sidharthachatterjee commented on #16283
You can also shadow the `components` file in  `src/gatsby-plugin-theme-ui/components.js`

https://theme-ui.com/gatsby-plugin/#components

[2019-08-05 15:47] deklanw commented on #16310
@RIP21
Yes, that is my motivation for this post also.

[2019-08-05 16:11] Jhony0311 commented on #16133
@marcysutton Should I update every reference on other files as well? I did a quick search and I see this:
- docs/docs/routing.md
- docs/blog/2018-11-07-gatsby-for-apps/index.md
- packages/gatsby-plugin-netlify/README.md

I imagine the plugin and the blog post don't apply but routing seems like a yes to me.

[2019-08-05 16:14] sonapraneeth-a commented on #16283
```gatsby-theme-notes``` does not seem to have ```components.js``` for shadowing (```https://github.com/gatsbyjs/gatsby/tree/master/themes/gatsby-theme-notes/src/gatsby-plugin-theme-ui```). I have tried by shadowing ```index.js``` in ```src/gatsby-theme-notes/gatsby-plugin-theme-ui/index.js``` which did not work.

[2019-08-05 16:58] tanaypratap commented on #12857
No issues. I am sorry that I was able to send the PR. Kindly give me
sometime. I'll send it as soon as possible.

On Mon, 5 Aug, 2019, 3:43 PM Mrazator, <notifications@github.com> wrote:

[2019-08-05 17:27] #14766 closed

[2019-08-05 17:27] #14878 closed

[2019-08-05 17:27] #15415 closed

[2019-08-05 17:27] #15024 closed

[2019-08-05 17:27] #15033 closed

[2019-08-05 17:27] #15069 closed

[2019-08-05 19:41] mavalon commented on #16380
I created a new WordPress instance with only one Custom Post Type (`albums`) with one Advanced Custom Field (`gallery`) and was able to compile successfully.  The gallery now shows up for this, but the **featured image still does not**.   Furthermore, the response omits all the different sizes (which are necessary for my purposes).  The GraphiQL Explorer window shows a much different structure fro

[2019-08-05 20:40] zslabs opened #16396 "node_module transpile causing errors in develop mode"
## Description

Upgrading my Gatsby site (and all official Gatsby plugins) from `2.10.0` to `2.13.51` is causing my dependencies to not be read correctly.

Not sure if this is related to https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANGELOG.md#2118-2019-07-02

Steps below (Broken example has issue) have nothing but official plugins updated. [Diff of branches](https://github.com/

[2019-08-05 20:44] wardpeet commented on #16396
thanks for letting us know.

Do you have an error message to share? Or it just does nothing?

[2019-08-05 20:49] zslabs commented on #16396
👋 Thanks @wardpeet for the quick response! The error is in relation to [https://greensock.com/](https://greensock.com/) and how I'm attaching the animation logic to the `<OffCanvas />` component from https://github.com/gremlin/chaoskit/blob/v1.4.3/src/components/OffCanvas.js#L46 Not sure what changed in the deps between versions that would cause that issue - since I haven't changed anything about

[2019-08-05 20:49] #15516 closed

[2019-08-05 20:52] wardpeet commented on #15687
@msimmer sorry to keep you waiting. You're right you will need the slug and id for the post. This could work for previous & next too and write a pagequery using the `in` operator. This makes it possible for the theme users to fully own the query if they like to modify their template.

[code]

[2019-08-05 20:57] RIP21 commented on #16310
@stefanprobst Can we get this tagged properly maybe? So it will be in backlog or so? Because it's kinda painful :)

[2019-08-05 21:04] andrewhughes101 commented on #16137
Hi is it alright if I have a go at this?

[2019-08-05 21:15] rnnyrk opened #16397 "Data undefined with gatsby build, gatsby develop no issues"
## Description

As soon as I run a `gatsby build` the data in my project is suddenly undefined. With `gatsby develop` there is no issue. I've tried a lot of things, like using different queries, removing the cache etc.

Like you can see in my environment I use Wordpress as a backend via `gatsby-source-wordpress`. When I run the build command in my terminal I see all the data loading correctly.

[c

[2019-08-05 21:16] #16324 closed

[2019-08-05 21:30] wardpeet commented on #16396
Probably https://github.com/gatsbyjs/gatsby/issues/14111 & https://github.com/gatsbyjs/gatsby/issues/15284 have caused this.

[2019-08-05 21:37] zslabs commented on #16396
Ah ok, darn 😢

Are there any action-items for me to do or docs I missed; or do ya think those PRs are something that may need a second-look?

[2019-08-05 21:41] hidaeraldo commented on #13761
I am having the same problem . When I query like the doc shown all i get is that "can not query `polylang_current_lang` ", even when i try the query of example here same response for `lang` and `translations` .
These are the plugins i have installed in wp .
![image](https://user-images.githubusercontent.com/53365354/62496834-7e3a1500-b7da-11e9-922b-0a1b975543cf.png)

[2019-08-05 21:45] wardpeet commented on #16396
probably something on our end ;) I'll have a look tomorrow to see if I can pinpoint the bug.

[2019-08-05 21:45] zslabs commented on #16396
Thanks @wardpeet greatly appreciated as always!

[2019-08-05 21:52] jonniebigodes commented on #16397
@rnnyrk see #15671 for what i think is the issue happening to you aswell.

[2019-08-05 22:31] zslabs commented on #15286
Is an option to just revert https://github.com/gatsbyjs/gatsby/pull/14723 entirely since that's what caused the issue? I can create a PR that does so, but seems like we're between a rock and a hard place; where certain users are going to be depending on the new functionality implemented, and I'm stuck on older versions for the breaking changes that PR introduced.

[2019-08-05 22:35] bartol commented on #15170
Thanks! It works great now!

[2019-08-05 23:02] johno commented on #15493
Hey @jakewies, thanks for your patience!

It looks like previously we had version mismatches between the themes and starters. `gatsby-theme-notes` should be correctly configured and `gatsby-theme-blog` will be when #16399 is merged.

[2019-08-05 23:05] #15476 closed

[2019-08-05 23:07] johno commented on #15436
Thanks for opening up this issue!

This was fixed in a couple different PRs in [Theme UI](https://github.com/system-ui/theme-ui). I'm going to close now as a fresh `gatsby new` or dependency update will no longer result in an error.

![image](https://user-images.githubusercontent.com/1424573/62500396-63987980-b7a3-11e9-98c2-45ac81e2d111.png)

[2019-08-05 23:07] #15436 closed

[2019-08-05 23:35] bchehraz commented on #15398
Whenever the "`Error loading a result for the page query in "/app/overview". Query was not run and no cached result was found.
Page not found /app/overview`" pops up but I'm running on localhost, it has no issue. But when I want to add in pathPrefix and build for GitHub Pages, the client route stuff stops working and the same 404 error pops up in the console.

[Example project](https://bchehraz.gi

[2019-08-05 23:52] bchehraz commented on #15398
Ok so I'm having the same issue here, but it doesn't give me the 404 error until I build with prefixPaths for GitHub Pages (gh-pages@2.0). Here's a demo example of the Gatsby Simple-Auth project with the 404 error on gh-pages.

[Gatsby Simple-Auth with gh-pages](https://bchehraz.github.io/simple-auth/)

When running this same project locally, this warning pops up in the console once the page loads

[2019-08-06 00:56] ben-siewert commented on #15398
@bchehraz

Not sure why this is working for me, but it is...

gatsby-node.js file:
`exports.onCreatePage = async ({ page, actions }) => {
  const { createPage } = actions

  if (page.path.match(/^\/app/)) {
    page.matchPath = `/*`

    // Update the page.
    createPage(page)
  }
}`

Then in src/pages:
(pages are obvi examples)

`const App = () => {
  Amplify.configure(config)
  return (
    <Ro

[2019-08-06 01:11] avinoamsn commented on #12237
I'm having the same issue, @ShawnBaek did you ever figure out what the problem was?

[2019-08-06 01:41] MartinConde commented on #13761
@hidaeraldo you also need the polylang rest plugin: https://github.com/maru3l/wp-rest-polylang as mentioned here: https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#wordpress-plugins

[2019-08-06 02:08] bchehraz commented on #15398
I'd like to take a look at that repo once you have it up.

I updated the project to the latest Gatsby (^2.13.51). Without any further changes, the console warning when loading up the page has changed from what it says above in my previous comment to:

[code]

And again, it works as intended when run locally. And when viewing on gh-pages it gives the same 404 error. I also updated the demo as well

[2019-08-06 02:42] j-651 commented on #16052
Thank you, Stefan.  I am closing this issue.

[2019-08-06 02:42] #16052 closed

[2019-08-06 02:43] vientang commented on #15190
I just got hit with this. Gatsby version 2.13.31, Node 10.15.3 via npx and npm 6.4.1

I had imported a file that was 8mb, which was working just a few days ago. @moonmeister 's solution worked for me - increase memory with `export NODE_OPTIONS=--max_old_space_size=4096`

[2019-08-06 02:46] TheHalcyonSavant commented on #15398
@bchehraz I had the same problem with `page.matchPath = "/app/*"` and doing some experiments I found that `page.matchPath = "/*"` was working. But after some time for some other reason I run `yarn cache clean`, removed node_modules and yarn.lock, changed page.matchPath back to /app/* and everything was working again, just with `Page not found /app/` dev error this time.

[2019-08-06 04:51] #16072 closed

[2019-08-06 07:00] bchehraz commented on #15398
@TheHalcyonSavant I tried force cleaning cache using npm (I don't have yarn on my project) and using both `page.matchPath = "/*"` and `page.matchPath = "/*"` and I'm still getting the same warning. I also had removed .cache and public to make sure none of those were interfering. Still same issue.

It's also worth noting that in the [Gatsby docs on Client Only Routes](https://www.gatsbyjs.org/docs/

[2019-08-06 07:06] jwangyangls commented on #14530
I found the following link helpful to me and solved my problem.

https://github.com/ng-packagr/ng-packagr/pull/1311/files

[2019-08-06 07:29] hidaeraldo commented on #13761
@MartinConde  once i install polylang rest plugin as you mentioned up here and mentioned in docs , I can no more query from my WordPress , it changes the query to static folder ,
This is a view of how my graph ql look when I install  polylang rest plugin
![image](https://user-images.githubusercontent.com/53365354/62519735-7acf7980-b82c-11e9-8106-f9518640cfd7.png)
And this is the view before i inst

[2019-08-06 07:32] Zyclotrop-j commented on #12238
Hi all,
I am successfully using a workaround.

# Workaround

TL;DR: Use `importScripts`-option of the plugin in conjunction with `worker-loader` to compile & load own sw.js.

## Steps

0) Install the worker loader (`yarn add worker-loader`) if you don't already have it
(see https://github.com/webpack-contrib/worker-loader)

1) Use `importScripts`-option to add additional script to offline-plugin,

[2019-08-06 07:48] wardpeet commented on #12765
We're happy to take Pull requests for this feature if you're up for it.

[2019-08-06 07:48] k8martian commented on #15356
i have the same issue but all happen on images..... all my images become 20x20

[2019-08-06 07:54] vkallore commented on #12237
No the problem still exists. Using `"gatsby-source-wordpress": "^3.1.13"`!!

[2019-08-06 08:15] arturhenryy commented on #15069
@pieh did you fix this? otherwise this shouldnt be closed.

[2019-08-06 08:44] wardpeet commented on #16396
Seems like the custom `test: /\.js$|\.jsx$/,` with chaoskit is the problem. I can't really say why the previous versions worked. Maybe they got merged before and with our changes they don't match and it broke.

I would suggest removing your custom rule and use
[code]

[2019-08-06 08:52] wardpeet commented on #13761
Are you sure the rest api is giving you the correct information?

[2019-08-06 08:54] wardpeet commented on #12237
Is it possible to create a reproduction for us? Or tell us how to repro this? If not, there is no real point of re-opening the issue.

[2019-08-06 09:00] hidaeraldo commented on #13761
@wardpeet  that is the problem , the rest api that comes to query isn't the right,
Don't know , maybe it is making a conflict with others plugin , but i am not find what is really causing that problem,
In the other hand the json of word press is okay but the graph is showing problems

[2019-08-06 09:17] karlhorky opened #16403 "[Remark Plugin Tutorial]: Document How to Create Async Plugins"
# Summary

@lannonbr added [the Remark Plugin Tutorial](https://www.gatsbyjs.org/docs/remark-plugin-tutorial/) to the docs in #13234 (thanks for that!).

It would be nice if this tutorial included a short section on how to write async plugins too, documented a bit here:

https://spectrum.chat/unified/remark/async-plugins~e3916709-9c3e-494c-9d8e-af3efbf08e80?m=MTU0NjE2NTk5NjMxMQ==

Async Plugin exa

[2019-08-06 10:01] vkallore commented on #12237
Well, I've replicated the code. Please let us know how to get the `featured_image` from [here](https://fdou3.sse.codesandbox.io/___graphql?query=query%20MyQuery%20%7B%0A%20%20allWordpressPost%20%7B%0A%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20slug%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A). Please let me know i

[2019-08-06 10:29] hidaeraldo commented on #12801
@sahils2410  Did you find any solution about that ?

[2019-08-06 10:34] shubhanus commented on #13947
Hi I've tried this solution but still, I am getting `ReferenceError: window is not defined`

[code]

Any idea why ?

[2019-08-06 11:07] zslabs commented on #16396
This is still an issue https://drive.google.com/open?id=1dVTtG03cUuvz6FtKxqf628FCUW7Nxoux

Prod builds works fine, but not `yarn develop` as I mentioned in the the issue. I tested out the prod build with the original https://github.com/zslabs/zslabs.com/tree/feature/dep-upgrade-broken and that also works fine - so this is an issue with develop-mode.

[2019-08-06 12:01] codepunkt commented on #16336
When changing mdx content, quite often all the content is thrown away instead of reloaded.

When this happens, the graphql queried frontmatter consists only of empty strings and null values and the body is this (basically also without content):

[code]

[2019-08-06 14:05] karlhorky commented on #16289
Maybe using the `POST` API would be helpful, like I suggest in https://github.com/elboman/gatsby-remark-embedded-codesandbox/issues/11...

[2019-08-06 14:18] tabneib commented on #15159
I have updated the pipeline with the hard-coded workaround mentioned by @allforabit and the issue seems to be solved now. The workaround is this two lines: https://github.com/tabneib/gatsby-router-issue/blob/a0b32b7ebcbe8ab371a610a07d253545cf8c111d/.travis.yml#L8

Btw, the app deployed at https://gatsby-router-issue.web.app does not illustrate the issue any more.

[2019-08-06 14:23] trycrmr opened #16406 "Pure components as default to facilitate unit testing setup?"
## Summary
Curious as to why components wouldn't be written to be pure by default when `<StaticQuery />` is used? In the initial pull of the codebase the layout component uses `<StaticQuery />`. Pretty sure this requires anyone looking to incorporate unit tests to have to refactor the `<Layout />` component to be pure before having a unit-testable codebase.
## Relevant information
New to gatsby, p

[2019-08-06 14:23] #16241 closed

[2019-08-06 14:37] zslabs commented on #16396
@wardpeet Is https://github.com/gatsbyjs/gatsby/pull/14111/commits/acfccb6660e4a1679dacc92086e5feba68212313#diff-c4777e791f64fbb6c82255341b381dabR252 causing the issue during develop? Was a plugin or config option created?

[2019-08-06 14:47] tbrannam opened #16408 "Known Limits on useStaticQuery"
While investigating https://github.com/dotansimha/graphql-code-generator and it's possible use to generate typed (typescript) interfaces for Gatsby Graphql Queries -

I've come across some issues which might be related to this notice:  https://www.gatsbyjs.org/blog/2019-02-20-introducing-use-static-query/#known-limitations

In my case I have an autogenerated file which exposes multiple exported us

[2019-08-06 15:22] wardpeet commented on #15398
could you explain pathPrefix here? I'm not sure if you need it.

The idea is to try and release a plugin to fix this use case but there is no real time frame for this.

[2019-08-06 15:25] colbyfayock commented on #15398
A plugin feels like a bandaid though to an actual problem 🤔

[2019-08-06 15:31] alexandrtovmach commented on #12396
@prestonso Hey! Any progress with that?

[2019-08-06 15:38] avinoamsn commented on #12237
Thanks @vkallore. Running the same setup with version 3.0.2 doesn't seem to remedy the problem, as it did for @ShawnBaek.

[2019-08-06 15:47] sartios commented on #6654
I was experiencing the same issue in a gatsby+wordress integration. The build would stop forever in the onCreateNode API where I was using createRemoteFileNode.

Solution: I updated the gatsby-source-filesystem from 2.0.4 to 2.1.8.

[2019-08-06 15:50] lesleyNilson commented on #16365
@jonniebigodes Thanks a lot. I make it run today. I still have problem, but this is another issue. Your solution is right and solve the problem!

[2019-08-06 15:50] #16365 closed

[2019-08-06 15:51] lucasjohnson commented on #14530
Correct

[2019-08-06 16:03] wardpeet commented on #15398
Hey Colby!

Thanks for your message, and while we understand your frustration, we (Gatsby) don’t necessarily see it as a bug. The downside of making network requests and returning a 404 are negligible. The extra overhead it creates is not mitigated by the potential downside you’re experiencing.

Exposing a plugin to solve your particular issue seems like a fair compromise. Fixing the bug in core w

[2019-08-06 16:06] ben-siewert commented on #15398
@bchehraz Here's the repo I said I'd send you a link to: https://github.com/ben-siewert/gatsby-starter-auth-aws-amplify. It works very well but now I just need to fix the 404 page as it doesn't currently render properly. I may have to achieve that with react-router.

@colbyfayock I did abandon the gatsby-plugin-create-client-paths even though it did work for me, I just didn't need it.

What I did

[2019-08-06 16:17] magicspon commented on #15398
@wardpeet

This seems a bit odd to be honest.  If Gatsby is billed as a solution for client side apps as well as static sites then this should surely be classed as a bug.  However,  I do agree that exposing a plugin is probably the best way to resolve this issue.

[2019-08-06 17:21] colbyfayock commented on #15398
This

[2019-08-06 17:27] #15430 closed

[2019-08-06 17:27] #15217 closed

[2019-08-06 18:29] kyleaton commented on #5826
@yocmen I'm currently having the same problem. Have you had any luck?

[2019-08-06 18:32] VikLiegostaiev commented on #14797
@stefanprobst Hi
I have another problem to discuss if possible. I moved most of data from page context to plugins where I'm creating nodes in sourceNodes and call now that data in gql queries from pages of in static queries. When I did this, the time of update schema step reduced much from 1500 sec to 700 sec. However, there came more static pages to generate (additional languages) and the time in

[2019-08-06 18:51] chrisdesilva opened #16416 "How to generate a theme from a starter"
I'm trying to figure out how to implement a Gatsby theme for my company. Basically, we've got 70 or so partner pages, each of which contain roughly the same layout, styling, legal content, etc. and just have partner info swapped out. Here are two example partner pages to illustrate the basic idea:

1. https://digitalcrafts.skills.fund/
2. https://galvanize.skills.fund/

All of our partner pages ar

[2019-08-06 18:53] colbyfayock commented on #15912
Sorry nevermind! turns out the :) IS from the library 🤦‍♂

[2019-08-06 19:07] bchehraz commented on #15398
I'm just trying to show some projects on my portfolio with demos to try them out and I figured putting them on GitHub Pages would be the most convenient way of going about it. And to have a github pages link, there has to be pathPrefix like so `https://<username>.github.io/<project_name>/...`But it's proven to be very troublesome when it comes to client routing. Is there any other way you would su

[2019-08-06 19:18] LpmRaven commented on #15181
I am having the same issue. I have looked through some of KyleAMathews theme repos and they seem to be referencing images in the same way. I'm sure this is just a config that needs documentation, hopefully, someone can provide information.

[2019-08-06 19:41] #16133 closed

[2019-08-06 19:46] gillkyle commented on #16133
Oh just merged the PR (thanks @Jhony0311!) to make those a new guide, but if those links:

are broken we should update them yes! I'll reopen this until we fix those links. If either of you two: @sedat or @Jhony0311 are interested a PR to update those would be awesome, if not I'm sure someone else would be happy to pick it up!

[2019-08-06 19:46] alexluong commented on #16040
Hey @DSchau, can you give a high-level direction on how this should be done?

[2019-08-06 19:55] Jhony0311 commented on #16133
Happy to take that, I can go ahead and update that. Should I do all of them @gillkyle ? Just want to make sure that's okay.

[2019-08-06 20:04] rnnyrk commented on #16397
Issue is resolved. Seemed to be an issue with requesting the data on the 404 page where I didn't do the graphql logic.. 😓

[2019-08-06 20:04] #16397 closed

[2019-08-06 20:08] jonniebigodes commented on #5826
@yocmen and @kyleaton see if #16365 helps. It's built with [react-owl-carousel](https://www.npmjs.com/package/react-owl-carousel) and it's working.

[2019-08-06 21:09] gillkyle commented on #16133
@Jhony0311 yeah it makes sense to have them all in one PR thanks!

[2019-08-06 21:13] NickyMeuleman opened #16417 "Graphql arguments when customizing schema"
## Description

Arguments in a graphQL query don't work when using schema customization.

After watching the [learn with Jason stream on advanced GraphQL](https://www.twitch.tv/videos/462874512)(broken up in multiple parts due to technical difficulties) I incorporated a lot of what was talked about into my theme.
However using graphQL arguments (like filter and sort) that rely on values from the c

[2019-08-06 21:16] coreyward commented on #16287
We're experiencing this on [Canvas 1839](https://www.canvas1839.com/) as well if you care to see it happen, @sidharthachatterjee (source maps are on).

<img width="831" alt="Screen Shot 2019-08-06 at 4 15 54 PM" src="https://user-images.githubusercontent.com/81224/62577883-7c696380-b865-11e9-80a6-48dd28cb004f.png">

[2019-08-06 21:17] coreyward commented on #16287
It looks like `loader.js` is importing a polyfill (`import "core-js/modules/es7.promise.finally"`), so that might be what's causing the issue.

[2019-08-06 21:41] karlhorky commented on #15716
not stale

[2019-08-06 21:41] karlhorky commented on #15722
not stale

[2019-08-06 21:47] bchehraz commented on #15387
@erikhopp Hey, so try changing the ThingHome path to `/thing` like so
[code]

The line after that with the :thingId, I'm not sure about this one... But try this and see if it works.

Also, are you just running this locally? And are you by any chance deploying this project to github pages with a pathPrefix?

[2019-08-06 23:37] #16417 closed

[2019-08-06 23:38] NickyMeuleman commented on #12272
## Description

Arguments in a graphQL query don't work when using schema customization.

After watching the [learn with Jason stream on advanced GraphQL](https://www.twitch.tv/videos/462874512)(broken up in multiple parts due to technical difficulties) I incorporated a lot of what was talked about into my theme.
However using graphQL arguments (like filter and sort) that rely on values from the c

[2019-08-07 01:20] Patouche commented on #15286
Hi,

I was facing the same issue as @zslabs and I looked a little bit to understand what was causing this.

It happens when the plugin option `excerpt_separator` is defined and the the separator is missing in the markdown content. S, it's not depending of the markdown content.

A PR will come soon.

[2019-08-07 01:46] Darking360 commented on #15563
Greetings @KyleAMathews how are you? I'm really sorry for the delay 😓

I just got time to finish the prototype for `blurhash`, I already create a PR [here](https://github.com/gatsbyjs/gatsby/pull/16419) to test it and check that.

It's pretty "prototype" so I didn't know how fancy to get it done so hehe let me know how do you see it, I think it's really cool, the string generated even for componen

[2019-08-07 02:09] hanzhihua72 opened #16422 "[gatsby-remark-autolink-headers] Icons don't hide and headings aren't centered correctly when used with gatsby-plugin-mdx"
## Description

The icons are showing even when you don't hover over, and the headings aren't centered correctly.

### Steps to reproduce

https://minimal-blog.lekoarts.de/react-live-code-example#a-live-code-sample

Code for the starter blog can be found here:

https://github.com/LekoArts/gatsby-starter-minimal-blog

### Expected result

The icon should show only when you hover the mouse over, and

[2019-08-07 02:30] #16346 closed

[2019-08-07 02:31] magicspon commented on #16346
As @elken said... see the docs...

[2019-08-07 04:56] vkallore commented on #12237
@avinoamsn The blog which I am working on my local has featured image. _WP_SITE/wp-json/wp/v2/posts_ responses with `"featured_media": INT_MEDIA_ID`.

Even the [WP API demo website API](https://demo.wp-api.org/wp-json/wp/v2/posts) responds with `featured_media`, though they don't have one for their post (its 0).

[2019-08-07 06:08] gursewaksingh-jaw opened #16425 "Getting this error"
Getting this error :

AIO@DESKTOP-L3FSC3E MINGW64 /e/gatsby
$ gatsby new lovely-gatsby-site
bash: gatsby: command not found

Local Environment :

AIO@DESKTOP-L3FSC3E MINGW64 /e/gatsby
$ npm -g ls --depth=0
C:\Users\TEMP.DESKTOP-L3FSC3E.031\AppData\Roaming\npm
+-- gatsby-cli@2.7.28
`-- windows-build-tools@5.2.2

[2019-08-07 06:20] freiksenet commented on #16425
It sounds like gatsby isn't on PATH. You can try using npx (`npx gatsby new lovely-gatsby-site`).

I'm closing this issue for now, feel free to open it if the problem persists.

[2019-08-07 06:20] #16425 closed

[2019-08-07 06:21] freiksenet commented on #16422
This theme isn't an official Gatsby starter, please report this issue to https://github.com/LekoArts/gatsby-starter-minimal-blog.

[2019-08-07 06:21] #16422 closed

[2019-08-07 06:23] kimbaudi commented on #2392
I'm also having this issue when migrating my Jekyll site to GatsbyJS. Wish GraphQL wasn't so strict. In fact, it would be great if there was a config option that would allow GraphQL to just simply warn instead of throwing a build time error.

[2019-08-07 06:53] freiksenet commented on #16416
CC @ChristopherBiscardi @jlengstorf

[2019-08-07 06:58] freiksenet commented on #16408
CC @sidharthachatterjee

[2019-08-07 07:00] freiksenet commented on #16361
Hello @Js-Brecht!

Thank you for you report! I wonder if you could send us those local changes as a PR?

Thanks! :purple_heart: :muscle:

[2019-08-07 07:22] freiksenet commented on #16379
Hi @bojan0624!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2019-08-07 07:22] freiksenet commented on #16383
CC @ChristopherBiscardi

[2019-08-07 07:43] freiksenet commented on #16276
Thank you for reporting this!

Would you like to make a PR that adds that functionality? We would greatly appreciate that.

Thanks! :purple_heart: :muscle:

[2019-08-07 07:54] freiksenet commented on #16247
Hello @marinoguerieri!

This is how hot reloading works. It tries to preserve the state, so that you can see updates in components without refresh. It can't know if you want to see the update to the whole lifecycle or just to parts that aren't affected by it.

I'll be closing this issue, we won't be fixing it - this is the expected behavior for hot reloading.

[2019-08-07 07:54] #16247 closed

[2019-08-07 07:55] freiksenet commented on #16236
Hi @Polyhistor!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide

[2019-08-07 07:56] LekoArts commented on #16422
@freiksenet 	It's not really an issue with my starter but rather with `gatsby-plugin-mdx`. You can see it working in this codesanbox: https://codesandbox.io/s/gatsby-starter-minimal-blog-wyk4i

Because I added the workaround:

[code]

Bug report: https://github.com/gatsbyjs/gatsby/issues/15486
It's the same issue basically

[2019-08-07 07:59] freiksenet commented on #16212
Hello!

Thank you for reporting this! I suspect that the generated certificate isn't escaped. It shouldn't be a very big fix. Would you like to make a PR fixing that? We would greatly appreciate that.

Thank you! :purple_heart: :muscle:

[2019-08-07 08:11] freiksenet commented on #16311
Hi @bjatwork!

Sorry to hear you're running into an issue. Unfortunately I couldn't reproduce it. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very

[2019-08-07 08:22] Sarah86 commented on #4216
Hey guys! I installed the `babel-plugin-remove-graphql-queries@2.7.2`, dit a `gatsby clean && gatsby build` but... nothing changed :(

[2019-08-07 08:26] sidharthachatterjee commented on #16193
@smurrayatwork We haven't tried this out as far as I know.

Instinctively, I don't think I/O is the bottleneck here but happy to see a benchmark comparing the two approaches if you're interested!

[2019-08-07 08:56] elken commented on #16287
The polyfill should be only required on versions <58, if that's the problem.

[2019-08-07 09:26] yoavniran commented on #16281
Ive also been experiencing this since i upgraded to version 2.13.39
been going crazy, thinking it was something i was doing wrong.
makes it very difficult to develop... :( hopefully will be fixed soon

[2019-08-07 09:33] arnauguadall commented on #16287
Then @coreyward, could be an alternative change that loader.js to not use `.finally()` function?

Would be include `async` at the beginning and change `.finally()` for `await`.
[code]

[2019-08-07 09:43] kalinchernev opened #16427 "Client-only paths like /:foo/:bar/:baz on Netlify: how? 🤔"
## Summary

I have a multilingual project in which part of the content should be fetched and displayed from an API without modifications. I have a temporary fix using hashes, but these are breaking the existing logic greatly and I'm searching for ways to have paths match server-rendered content paths.

## Relevant information

The [same question has been addressed to Netlify team in their communit

[2019-08-07 09:45] marinoguerieri commented on #16247
I see. I guess I could have figured that out by myself but I had just been startjng to use Gatsby and there had been too much going on (errors popping out everywhere), causing a kind of "change blindness" to what is in fact a correct behaviour. :-)

In fact, the Hot Module Replacement [documentation](https://webpack.js.org/concepts/hot-module-replacement/) clearly says:

I'm just puting it out the

[2019-08-07 09:53] cyder777 opened #16428 "The setting of gatsby.config.js is wrong"
## Description

According to Readme.md.
Authorization filed is

gatsby-config.js
[code]
But it's not working for me.

This one is collect for me.
[code]

### Environment
Mac os Mojave localhost

[2019-08-07 09:53] marcinsydor commented on #16281
Yes, it's very difficult to debug but also if you have an error in the app it's not showing the right line of the problem which is very confusing. I've changed the version strictly to `2.13.25` and all works fine now.

[2019-08-07 09:59] bojan0624 commented on #16379
I think I have problems like the https://github.com/gatsbyjs/gatsby/issues/12937.
createPagesStatefully is executed once with Gatsby-cli default settings and once with custom settings.
I have modified my page root path /pages with /views, to avoid default settings。

Could you add prompt for this situation in Gatsby build command?
Debugging the source code is really painful.

Do you still need me t

[2019-08-07 10:27] drav96 commented on #5601
On localhost just run `gatsby serve --prefix-paths `and it will work

[2019-08-07 11:10] Ronserruya commented on #4570
@jgonera I encountered that issue on 2.1.31, updated to 2.13.52 and it works fine, you might want to try that.

[2019-08-07 11:31] lannonbr commented on #16428
Hi @cyder777, so can you point us to the specific Readme that you are referencing? Looking at this, you are saying that using the word `bearer` lowercase doesn't work, but using it being capitalized as `Bearer` does. Then we can validate that this is the case and if so we can quickly fix the docs to be correct.

[2019-08-07 12:12] herecydev commented on #16243
Any other ideas on this one? Would be good to get a firmer understanding of what's going on and why.

[2019-08-07 12:53] sidharthachatterjee commented on #16427
Have you tried using the [gatsby-plugin-netlify](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify/) plugin? It will automatically generate redirects for Netlify for you to make the deep nested client side routes work correctly.

[2019-08-07 12:57] marcphilippebeaujean-abertay commented on #11175
Sorry to reopen this again, but for me, I cannot seem to find the featured_media option for my wordpress posts. I added it to the wordpress theme in PHP and it shows up in my admin, however I cannot seem to query it in GraphQL - anyone able to identify the problem?

[2019-08-07 13:09] karlhorky commented on #16107
**Workaround:** With the Bash `until` loop, you can create an npm script that re-runs the process continuously:

[code]

[2019-08-07 13:11] sagarnasit commented on #16212
@freiksenet I would love to contribute by fixing this. Let's discuss how to achieve this.

[2019-08-07 14:07] GuillaumeAmat opened #16431 "Cache all the pages and assets"
## Summary

## Relevant information

Hello there 👋

I'm wondering if Gatsby (or gatsby-plugin-offline) is able to prefetch and cache all the pages and assets instead of "just" taking care of the `Link` targets.

Use case: When someone goes to my site, I don't want him to navigate throw all the pages to cache the assets manually...

Am I missing something in the documentation?

Thanks!

[2019-08-07 14:40] zslabs commented on #15286
Thanks @Patouche! Hopefully we can get that fix in soon.

[2019-08-07 14:43] zslabs commented on #16396
cc @sidharthachatterjee @pieh and @KyleAMathews since you all had visibility into the PRs that introduced this issue to see if we have any ideas on how to resolve. Thanks all for any help on this. Super bummed about it, but more than happy to help test out any potential fixes.

[2019-08-07 15:04] davidbailey00 opened #16432 "Waiting for route change in Cypress is unreliable and hacky"
See-also: #16473

## Description

Using the custom `waitForRouteChange` Cypress command is sometimes unreliable - especially when it comes to missing resources or 404 pages - which I believe is why `waitForAPIorTimeout` was created.

However, using this leaves us prone to other errors occurring which can no longer be spotted e.g. if the `onRouteUpdate` is not called correctly, and results in it be

[2019-08-07 15:12] crhistianramirez commented on #5801
Anybody know how to get this working with the `--open` option? The url that opens `http://0.0.0.0:8000/` doesn't actually work. I can manually go to localhost:8000 but i'd rather not

[2019-08-07 15:38] crhistianramirez opened #16434 "gatsby develop -H 0.0.0.0 --open does not open correct page on Windows"
## Description
`--open` does not play nicely with `-H`. Sends me to and prints that I should be able to access local dev server on `http://0.0.0.0:8000/` however I get a "site can't be reached message"

### Steps to reproduce
1. run `gatsby develop -H 0.0.0.0 --open`

### Expected result
Should open my app

What should happen?
Should open my app

### Actual result
Renders a non functional page

##

[2019-08-07 16:10] KyleAMathews commented on #16193
Yeah — curious what the effects would be — could you benchmark this?

[2019-08-07 16:50] rmorabia commented on #14282
I'll tackle this --

I'm going to work on fixing the bugs in error message in core Gatsby.

I'm a bit confused about how to implement the alias fix, though. Should this be default behavior that's added?

[2019-08-07 16:57] sidharthachatterjee commented on #14282
@rmorabia Thanks for picking this up!

The aliases could be added in `gatsby-config.js` for the www site so that's at https://github.com/gatsbyjs/gatsby/tree/master/www/gatsby-config.js

[2019-08-07 17:09] umxr commented on #14076
How is it possible to use Gatsby's Image Processing with Prismic when i get a json string returned from my query?

[2019-08-07 17:11] mguida22 commented on #16276
Yup, I'll get started on a PR!

[2019-08-07 17:19] samullman opened #16439 "Working with images in Gatsby"
##  Summary
I've been having trouble working with images in Gatsby.  I can't seem to generate proper (...GatsbyImageSharpFluid) images through a query or access any images from my images folder.

[repo](https://github.com/samullman/personal)

## Relevant information
Trying to create a index page with Markdown.
[code]
Created a query:
[code]
Am getting an error: Field "image" must not have a select

[2019-08-07 17:27] #13698 closed

[2019-08-07 17:30] smurrayatwork commented on #16193
@KyleAMathews @sidharthachatterjee ,

Sure, I'll try my best! I have a WIP modification branch that's mostly completed using streams now. I need to clean up the code and get some benchmarks tied into it, but from what I was seeing, there wasn't a noticeable difference in speed at all.

[2019-08-07 18:51] mojobnichols commented on #16054
Issue #2347 was closed with out a fix.  It seems that someone suggested having file watcher  ignore the editor files.  I'd recommend the opposite create a default list of file extensions that gatsby watches (.css, .js, .xml, .img etc, etc) Then if you need to create some exception you can add it to the list.

[2019-08-07 18:57] ppsirius commented on #14076
@umxr you using the Prismic json the same as is written in Gatsby documentation. You could also look at my [example](https://github.com/ppsirius/inveo/blob/master/src/pages/filozofia-marki.js)

[2019-08-07 19:04] ps-george commented on #12633
I keep running into this problem on an ASUS chromebook, what was the accepted solution to this? To manually rebuild mozjpeg?

[2019-08-07 19:06] umxr commented on #14076
@ppsirius im a little confused..In Prismic what is the type of `section1_image` is it an image? or is it something else.

[2019-08-07 19:12] gregrickaby opened #16444 "[docs] improve ESLint docs"
## Summary

Friend of mine reached out asking if he could disable ESLint. He had already read the [Gatsby docs around ESLint](https://www.gatsbyjs.org/docs/eslint/), but wasn't sure if using native ESLint "stuff" worked in Gastby.

### Basic example

I told him yes, it should. And gave him the following snippet based on the [ESLint documentation](https://eslint.org/docs/user-guide/configuring.html

[2019-08-07 19:15] ppsirius commented on #14076
yes

[2019-08-07 19:20] umxr commented on #14076
@ppsirius I get this error if I try what you suggested.

<img width="630" alt="Screenshot 2019-08-07 at 20 19 22" src="https://user-images.githubusercontent.com/20203468/62651380-bb281800-b950-11e9-8058-e9766d6243b0.png">

This is my query:

`<StaticQuery
    query={graphql`
      query {
        prismic {
          allNavigations(type: "navigation") {
            edges {
              node {

[2019-08-07 19:23] ryudice commented on #15397
is this just going to be closed and not fixed? i dont think a workaround is considered a fix

[2019-08-07 19:40] KyleAMathews commented on #16193
How many images are you testing with?

[2019-08-07 19:47] jamo commented on #16315
Hi @lannonbr, sorry for the late reply.

I'm still looking for a proper fix, but it appears that `npx` fails with `preinstall` and `postinstall` scripts.
I hope you were able to work around this issue, but a you can`npm -g gatsby-cli` and then run the `gatsby new` without npm.

[2019-08-07 19:51] lannonbr commented on #16315
@jamo Yeah it was a colleague of mine that was getting stuck with this, he did `npm i -g gatsby-cli` in the docker container he was working in to get around this issue for the time being.

[2019-08-07 20:14] scnroy commented on #13891
I can open a separate issue, but I wonder if this is why sourcemaps aren't working for me. Example repo: https://github.com/scnroy/gatsby-eslint-loader

## Expected result
[code]

## Actual result
<img width="1017" alt="Screen Shot 2019-08-07 at 3 01 19 PM" src="https://user-images.githubusercontent.com/8040782/62654605-c74ab000-b925-11e9-90c6-3b441b10d4ab.png">

[2019-08-07 20:21] stefanprobst opened #16445 "How is markdown tableOfContents supposed to work?"
`gatsby-transformer-remark` and `gatsby-plugin-mdx` both expose a `tableOfContents` field, which returns a list of headings, with hash links to those headings. However, it seems that those links will do nothing out of the box because the heading elements themselves will not get the required ids.

It is not clear from the docs how this is supposed to work. When including `gatsby-remark-autolink-hea

[2019-08-07 20:29] crutchcorn opened #16446 "Using `sort` and `filter` in `allMarkdownRemark` breaks develop mode"
## Description

Describe the issue that you're seeing.

When using `allMarkdownRemark` with both `sort` and `filter` breaks develop mode (when opening the `localhost:8000` port, it will flash the screen between background color and white, then crash the CLI).

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this ma

[2019-08-07 20:33] jamo commented on #16315
Perfect. I'm [pinging npm](https://npm.community/t/npx-crashes-on-postinstall-script/9360) to see if we can figure out a way to make this work with `npx`. Looks like quite a few other modules are impacted as well

[2019-08-07 20:47] stefanprobst commented on #16446
What's the error message you get?

I see `Error: Cannot find module './config/gatsby-config-consts'` which seems unrelated?

[2019-08-07 20:53] crutchcorn commented on #16446
Pushed a commit that fixes that problem to the same branch, sorry @stefanprobst . Thought I added that file after gitignoring

[2019-08-07 20:54] crutchcorn commented on #16446
After the page refreshes a bunch, I get the error upon the CLI failing:

[code]

[2019-08-07 21:54] ChristopherBiscardi opened #16449 "Cycle Detection for Trampolined Shadowing"
## Summary

If one file imports and re-exports another, and the original file does basically the same, we can end up with a trampolined infinite loop that looks like this in the import graph. This is a reasonably enough common occurrence when people try to use `index.js` re-export files to warn if we can figure out it's happening.

[code]

### Basic example

see https://github.com/gatsbyjs/gatsby/

[2019-08-07 21:55] jamesncampbell commented on #15397
Agree with @ryudice. Adding dummy data to my contentful space isn't an option. Just curious. I've used this package before without this issue. Anyone know how or when this bug was introduced?

[2019-08-07 21:56] ChristopherBiscardi commented on #16383
The core problem here is that when performing step 3a, the file being shadowed changes from `Footer` to `Footer/Footer`. According to the node require algorithm (without shadowing), `Footer.js` and `Footer/index.js` are the same file, so the original shadowing works because `Footer.js` in the site shadows `Footer/index.js` in the theme. When the file is moved to `Footer/Footer.js`, it changes to s

[2019-08-07 21:56] #16383 closed

[2019-08-07 21:58] yuj019 commented on #16321
I encounter the same problem. Can anyone help? Thanks!

[2019-08-07 22:18] sidharthachatterjee commented on #15317
@pewStocky

Gatsby adds the trailing slash by default because it makes it easy to host sites on CDNs that expect a trailing slash for pages that are hosted off a folder (with an index.html file in them). `gatsby-plugin-remove-trailing-slashes` should remove all trailing slashes for you.

The canonical URL is the one that it generated by default (the one with the trailing slash). You can see these

[2019-08-07 22:22] jalik opened #16450 "Support for .jsx extensions"
## Summary

Like all my projects, I have installed the `eslint-airbnb-config` to check code quality and autoformat code (with IntelliJ IDEA Ultimate), I've run these commands in the root folder :

[code]

Then I added my `.eslintrc` file :
[code]

But after that I had errors like `JSX not allowed in files with extension ' .js' (react/jsx-filename-extension)`, so I tried to rename files, but `.jsx`

[2019-08-07 22:33] sidharthachatterjee commented on #5801
@crhistianramirez That edge case is unfortunately a Windows issue (that surfaced during some testing so we added a note in the docs) 😞

[2019-08-07 22:34] michaelneu commented on #7986
@PatrickLambert1101 are you still working on this? I did some research and there are two issues with the current tab bar:

1) [`padding-bottom: env(safe-area-inset-bottom)`](https://github.com/gatsbyjs/gatsby/blob/1288c23400a5a3321cad5761f4807369dd258fe6/www/src/components/navigation-mobile.js#L82) is overwritten by setting the `height` to a [fixed value](https://github.com/gatsbyjs/gatsby/blob/12

[2019-08-07 22:35] marcysutton commented on #15536
Closed with #15911. Thanks for your contributions, @tom-raley!

[2019-08-07 22:35] #15536 closed

[2019-08-07 23:39] marcysutton commented on #13583
Closed with #16438

[2019-08-07 23:39] #13583 closed

[2019-08-07 23:55] philJohnson commented on #16287
I'm having the same issue with a site as well. I have found that the Firefox Beta has fixed this but that's not released until Sept 3. In their notes it does have a known bug about Promise. Anyone know which version of Gatsby 2 was stable?

[2019-08-08 00:07] ChristopherBiscardi commented on #16449
This is basically cycle detection for the general case, so we'd probably want to restrict it to just shadowing implementations that run wild at 30-50+ cycles or something.

[2019-08-08 00:26] Js-Brecht commented on #16361
I would be happy to.

I am just curious about one thing:
The variable [`sassRule`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sass/src/gatsby-node.js#L19) completely skips all loaders if the current build stage is SSR, while the [`sassRuleModules`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sass/src/gatsby-node.js#L36) only skips adding the `mi

[2019-08-08 00:28] delubiod commented on #16321
Same problem here.

[2019-08-08 01:25] gregrickaby commented on #16444
Adding a note because ESLint throws this into the terminal when there are problems:

[code]

Might help to mention this too (and quite honestly, I've never noticed it before 😆)

![screenshot](https://dl.dropbox.com/s/pz03pmil37d8u5z/Screenshot%202019-08-07%2020.24.26.png?dl=0)

[2019-08-08 01:25] kimbaudi commented on #15317
@pewStocky - When you say "Gatsby add a trailing slash by default", do you mean during development (i.e., localhost:8000) or on production (yourdomain.com) or both? I'm a bit confused, because GatsbyJS doesn't add trailing slash by default for me during development. However, I am using Netlify to deploy my site and there is a setting to enable "pretty URLs" that will automatically add trailing sla

[2019-08-08 01:54] MaximeHeckel commented on #14953
I'm having the same exact issue on https://maximeheckel.com I'd like to know if there's a fix for the latest versions of gatsby
Note I'm getting the following during the build time:
[code]

And if you load my site you can see that I actually have 3 images not loading so I guess it's linked (?). Netlify builds have been a bit flaky for me recently

[2019-08-08 02:13] philJohnson commented on #16287
FYI, I reverted back to `"gatsby": "2.12.0"` in my `package.json` dependencies and it resolved my issues

[2019-08-08 02:33] universse commented on #15820
not stale

[2019-08-08 03:14] vadimdemedes commented on #15505
I don't like promising things, but I just wanted to let you know there's some good progress on improving performance in Ink and hope to have something ready for you soon ;)

[2019-08-08 03:32] zanedev opened #16452 "Gatsby v2 site flickering re-rendering with every menu click"
Hi we are experiencing a flicker/reload issue going on when clicking on the site navigation that uses gatsby link.  I've been using Gatsby for a while on other sites and never had this happen.  It's like the site is being reloaded/re-rendering on every menu click.

This is a new site using gatsby v2 and template is set up the gatsby v2 way so I don't think it's anything related to that.

We are us

[2019-08-08 04:04] MaximeHeckel commented on #14953
I updated `gastby-plugin-sharp` to `^2.2.10` and it fixed the issue I had with Netlify not loading my "gatsby-images" 🎉
Let me know if this helps

[2019-08-08 04:08] mtdenton commented on #13918
I ran into this issue, it was solved by creating the project in the WSL2 file structure instead of the Windows file structure.

Original project that couldn't hot reload was created in C:\Users\username\Documents

Project that was able to utilize hot reloading was created in \\wsl$\Ubuntu\home\username (it's all under a "network device" apparently)

Quick tip for this also, you can open file explo

[2019-08-08 04:12] jorgebustamante commented on #16321
I'm having this same issue and cant launch my gatsby server when i run gatsby develop! I didnt change my graphql queries since i last had it run on a dev server but i did "gastby build" and since my build im encountering the error when trying to run gatsby develop.
Any ideas?

[2019-08-08 04:18] whalesingswee opened #16453 "How to query all categories at once?"
## Summary
I have several posts with different categories.  How do I query all categories of the posts at once?

## Relevant information
I have something like:
- One.md (category is News)
- Two.md (category is Events)
- Three.md (category is News)
- Four.md (category is Events)

However, when I try to query something like this:
[code]
It will return:
[code]
Which I'd expect it should only return:

[2019-08-08 04:21] MaximeHeckel commented on #6291
Hey, I had the exact same issue recently with gatsby-images and gatsby-plugin-sharp. I'd get the same error messages as @grantglidewell on Netlify, and not all my images would be generated at build time (which resulted in only 2 out of 5 images being able to render on my website, for the rest I'd only get the blurred version)
After 2 hours of trial and error I just updated to the latest `"gatsby-p

[2019-08-08 04:49] shnibble commented on #12104
I had the same issue and solved it with a simple solution after some trial and error. My site would work fine with `gatsby develop` but failed using `gatsby build` with the error: "WebpackError: TypeError: Cannot read property of undefined".

To fix it, I added a `const initialState` object with the default values used for the context and passed that to the `createContext` method like so: `React.c

[2019-08-08 05:37] HomlanSandy commented on #16453
There's no way to query and get the category only. You can do this:
[code]

[2019-08-08 05:38] matowang commented on #16453
There's no way to query and get the category only. You can do this:
[code]

[2019-08-08 05:51] LekoArts commented on #16453
You can use the `group` query:
https://www.gatsbyjs.org/docs/graphql-reference/#group

fieldValue is what you're interested in then.

[2019-08-08 08:06] fk commented on #15298
@jlengstorf With https://www.gatsbyjs.org/blog/2019-08-07-theme-jam/ out I think this might be good to close? Or do we need a dedicated page for https://themejam.gatsbyjs.org announcing the winners?

[2019-08-08 08:07] fk commented on #15298
Oh just noticed that the "WINNER" label ([see designs](https://github.com/gatsbyjs/gatsby/issues/15298#issuecomment-509412025)) seems missing (latest Chrome)—was that intentional?

![image](https://user-images.githubusercontent.com/21834/62686004-19421300-b9c4-11e9-9247-8900c60a6c19.png)

[2019-08-08 08:15] kundukundu commented on #10020
Hello, any update on this?
Thanks¡¡

[2019-08-08 08:18] kalinchernev commented on #16427
@sidharthachatterjee [I tried it](https://github.com/kalinchernev/gatsby-client-routes/commit/174b5b798d21837f08f49595b790448e321e51e6), yes, it's "simply" taking the regex from the node api file and makes `/initiatives/*` instruction, which does not help.

[2019-08-08 08:21] ppsirius commented on #14076
You use gatsby-source-prismic?
You see data with this query in grapQL playground?

[2019-08-08 09:13] jonniebigodes commented on #16452
@zanedev can you share a reproduction following these [steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail? Could be that is something related to mobx or a diferent thing alltogether.

[2019-08-08 09:54] wahabAwudu commented on #11406
worked too. thanks

[2019-08-08 10:00] bjatwork commented on #16311
@freiksenet  Thanks, this problem has disappeared, I don't know what caused it

[2019-08-08 10:00] #16311 closed

[2019-08-08 10:01] EdinK1 opened #16455 "Unknown type "ContentfulFixed". Did you mean "ContentfulBlogPost", "ContentfulContentType", or "ContentfulBlogPostEdge"?"
##  ERROR #85901 GRAPHQL

I'm trying to fetch my blogs from contentful and it's giving me a weird error.
The only reason I am opening this issue is because the error told me to so.

This is what the error said:
Error: The result of this StaticQuery could not be fetched.

"This is likely a bug in Gatsby and if refreshing the page does not fix it, please open an issue in https://github.com/gatsbyjs/

[2019-08-08 10:12] kimbaudi commented on #10048
Hi, I would like to implement this feature. I will submit a PR shortly 🤞

[2019-08-08 10:21] bjatwork opened #16456 "gatsby-plugin-offline + React.cloneElement"
When i use in the same project:
gatsby plugin offline ,
gatsby plugin layout ,
and i use  React.cloneElement in layout

[code]

Problem occur after build with service worker active.
Layout is messed, elements in dom are duplicated, one div get id of other div ...

If i do not use React.cloneElement in layout or if i do not use gatsby plugin offline there is no problems.

[2019-08-08 11:57] chestozo commented on #4779
This issue is still valid for `2.12.0` :(
Shell we reopen it?

[2019-08-08 12:03] lannonbr commented on #16439
@samullman the URLs in the markdown frontmatter have to be relative paths. Try changing those strings to relative paths and then the filepaths should be picked up by gatsby-source-filesystem and then transformed through sharp

[2019-08-08 12:06] trt2 opened #16457 "The configured pathPrefix is stripped from the path of pages that start with the same prefix"
## Description

Between version 2.8.8 and 2.9.0 of gatsby a change was made that caused the configured `pathPrefix` to be stripped from the path of pages that start with the same prefix.

The issue is still present in 2.13.52

### Steps to reproduce

I have set `pathPrefix` to `/p`, and I have a directory in the page root directory called `/privacynotice`.
gatsby will incorrectly strip `/p` from t

[2019-08-08 12:06] lannonbr commented on #16455
Hi @EdinK1, would you be willing to share a repo for this codebase so we can dive deeper and figure out what specifically is causing this error to appear. If not, can you make a [reproduction](https://gatsby.dev/reproduction) of this?

[2019-08-08 12:19] sidharthachatterjee opened #16458 "Resource Loading Resilience tests don't run"
It seems like the tests at https://github.com/gatsbyjs/gatsby/tree/master/e2e-tests/production-runtime/cypress/integration/resource-loading-resilience.js aren't running correctly at the moment!

### Expected behaviour
`runBlockedScenario` needs to run for every describe block under `runSuiteForPage`

### Current behaviour
After resources are blocked, no tests are run and the suite completes with e

[2019-08-08 12:28] sidharthachatterjee opened #16459 "[gatsby-dev-cli] cannot operate on dangling symlink"
`gatsby-dev-cli` fails with the following error:

`chmod: cannot operate on dangling symlink './node_modules/.bin/gatsby'`

Not sure how to reproduce this exactly at the moment but you can see an instance of this in https://circleci.com/gh/gatsbyjs/gatsby/189153