[2019-06-26 20:18] JaKXz opened #15167 "gatsby-image fluid not respecting maxHeight"
## Description

When I use the `fluid` function and specify a `maxHeight` value, it doesn't stick to that size. However, when I use the `fixed` version of the following, everything renders just fine. I have tried `gatsby clean`, `gatsby build`, and `gatsby serve` as well as re-installing all my node_modules. I'm not sure if this issue is related to #14988 but I didn't want to comment on it if they

[2019-06-26 20:50] tinder-kyleboss opened #15168 "Allow for 'general' options to be set in the gatsby-plugin-google-analytics config."
## Summary

It would be nice to allow users of the gatsby-plugin-google-analytics plugin to be able to set ['general' field values](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#general) in the configuration section, very similar to what we have with the ['create only' fields](https://github.com/gatsbyjs/gatsby/pull/7316). 😸

### Basic example

[code]

##

[2019-06-26 20:51] Polyhistor commented on #6654
@wardpeet emailed you my repo Ward (pouya.ataei.7@gmail.com). let me know how it goes.

[2019-06-26 20:59] edsu commented on #14911
I'm seeing the same with gatsby 2.10.5. I don't know if it helps but the error does not occur with doing a `gatsby build`.

[2019-06-26 21:37] bartol opened #15170 "Gatsby build fails after adding gatsby-plugin-guess-js"
## Summary

After adding 'gatsby-plugin-guess-js' builds for my Gatsby site started failing.

## Code changes

[code]

[code]

[code]

## Error log

[code]

[2019-06-26 21:40] circlingthesun commented on #14848
@superhawk610 I've reproduced it here: https://github.com/circlingthesun/gatsby-set-bug

[2019-06-26 22:19] circlingthesun commented on #14848
It looks like the issue is caused by the default babel config having "loose" set to false on "@babel/preset-env".

[2019-06-26 22:29] Sarah86 commented on #12967
Anyone found the solution?

I am doing `gatsby build && gatbsy serve` and tried even another plugin, but no success:

[code]

[2019-06-26 22:56] circlingthesun commented on #14848
You can work around this by adding the following to your `gatsby-node.js`:

[code]

[2019-06-26 23:09] vcarl commented on #15032
Hm, it doesn't fetch all content in one go, then query that when it needs to work with image further? I assumed the `Fetch Contentful data` was retrieving all the necessary data for future use.

From my first post,

[code]

A 4x slowdown on moderate latency seems pretty unusual, the latency numbers there aren't too extreme. This is a blog with pretty moderate image use (most of them are raw URLs,

[2019-06-26 23:24] Sarah86 commented on #12967
I figured out!

It was the path of the .env file inside the gatsby-config.js of the starter that I am using:

`require('dotenv').config({
  path: `.env`,
});
`

[2019-06-26 23:35] KyleAMathews commented on #15032
The extra latency comes probably from us limiting the number of concurrent GraphQL queries (to 4) — so high latency HTTP calls cause a lot of trouble. We should make the # of concurrent queries vary depending on CPU load in the process so that we could have more ongoing network calls.

[2019-06-26 23:35] KyleAMathews commented on #15032
@vcarl want to try changing this number? https://github.com/gatsbyjs/gatsby/blob/9a1f5e26b194ab852235a8a8af1d8f130cab58c0/packages/gatsby/src/query/queue.js#L8

[2019-06-26 23:36] Sarah86 commented on #12967
Actually it was not that, I even removed again the `{ path: `.env`, }`.
So I kept

`require('dotenv').config();

const { ACCESS_TOKEN, SPACE_ID, ANALYTICS_ID } = process.env;`

then, in the .env file i inserted the credentials like: `ACCESS_TOKEN='mytoken'` etc

How the .env is a .gitignore file, in Netlify I used the credentials inside the **Build command** like:

`SPACE_ID='xxxxx' ACCESS_TOKEN='

[2019-06-26 23:46] aikodeio commented on #15041
@sidharthachatterjee Thank you for your response and for having performed the tests on my question. I'm going to record a video to show what happens.

[2019-06-26 23:49] grgcnnr commented on #14762
A bit of an ugly solution but you could query for `{ internal:{ content }}` to get an escaped string of the whole situation then parse it yourself.

[2019-06-27 00:17] decimoseptimo commented on #15124
Sure, I made one just for you. Since this is a condesandbox with contentful keys, i sent you an email.

[2019-06-27 00:33] marcysutton commented on #13876
Oops! This issue should still be open, as we still have this workflow in our queue. Thanks for your patience!

[2019-06-27 00:49] #15137 closed

[2019-06-27 01:33] gmossong commented on #14988
I have run into a similar problem I'm trying to overcome. It seems that gatsby-image-wrapper fills 100% of the available width. Which can easily be changed with css but there is no way to treat landscape images different from portrait. What if, like the example below you wanted to have landscape images fill 80% of the available width but have portrait images fill no more than 40-50% each which wou

[2019-06-27 01:52] itmayziii commented on #962
I wrote a Gatsby plugin that removes Gatsby generated javascript for those that find this issue in the future

https://www.npmjs.com/package/gatsby-plugin-no-javascript

[2019-06-27 01:53] itmayziii commented on #11680
I wrote a Gatsby plugin that removes Gatsby generated javascript for those that find this issue in the future

https://www.npmjs.com/package/gatsby-plugin-no-javascript

[2019-06-27 02:56] diegodorado commented on #9087
I dont get it... do I need both handlers?

[2019-06-27 03:35] taran-gill commented on #15105
I'll be happy to take a stab at this over the weekend, if nobody else volunteers.

[2019-06-27 03:36] Polyhistor commented on #5245
I have the exact same issue, it takes forever.... anyone figured out something ? there is another github issue [here](https://github.com/gatsbyjs/gatsby/issues/6654), I've sent my repo for a fellow to check out... please do let me know if there are any updates, i'm having a deadline soon.

[2019-06-27 03:53] Polyhistor commented on #6654
My company changed the wifi and increased the bandwidth, I ran the command again today and it downloaded all the media! however I think I still don't understand what's happening... is it the network ? is it the concurrency?

[2019-06-27 04:21] Polyhistor commented on #6654
our company changed the wifi and increased the bandwidth. Today I had no issue in downloading the images.... But still I don't understand, is is the network or the concurrency ?

[2019-06-27 05:05] i-bsd opened #15174 "ERR! code 128 - fatal: reference is not a tree"
## Description

After git cloning any of my Gatsby projects (which have always worked fine), I'm now getting:

[code]
This is a sudden change. Log file doesn't provide any information.

### Steps to reproduce

git clone *repo*
cd *dir*
*npm i*

### Expected result

Should install node modules as it usually does.

### Actual result

[code]

### Environment

[code]
Run `gatsby info --clipboard` in y

[2019-06-27 05:15] Polyhistor commented on #6654
however all the builds on Netlify fail...

5:13:43 PM: === [ Fetching wordpress__wp_media ] === https://wildkiwi.com/wp-json/wp/v2/media
5:13:43 PM: Total entities : 1717
5:13:43 PM: Pages to be requested : 344
5:13:45 PM: The request failed with error code "undefined"

error code is undefined, so I don't really understand what's happening...

[2019-06-27 05:21] rzubrycki commented on #12542
hey @pieh could you elaborate a little bit more how to implement this code into gatsby?

[2019-06-27 05:35] SilencerWeb opened #15175 "Example of using gatsby-image in stateful components"
It would be cool to have an example of using `gatsby-image` in stateful components since `useStaticQuery` won't work in them because `useStaticQuery` uses hooks.

[2019-06-27 05:43] ArthurHwang opened #15176 "How do I run createPage after a promise? Trying to pass cloudinary image URLs to createPage"
## Summary
I get a `createPage was called outside of its expected asynchronous lifecycle` error when I try to use createPages in a `then` promise block.

Also a webpack error : ` WebpackError: Invariant Violation: Minified React error #130; visit https://reactjs.org/docs/error-d  ecoder.html?invariant=130&args[]=undefined&args[]= for the full message or use the non-minified dev
  environment for f

[2019-06-27 05:48] i-bsd commented on #15174
Actually, just found this toward the top of the log file:

[code]

Does that mean there's an issue with `first-mate-select-grammar`?

[2019-06-27 06:06] FrenchBully opened #15177 "[wordpress-source-plugin] fetching all users"
## Summary
Querying all users (allWordpressWpUsers) only returns 2 users and not all. ACF is implemented and returns null for user 1(admin) and returns all ACF for user 2. All other users are not fetched.

## Relevant information
[code]
## Environment (if relevant)
Gatsby 2.10.5
Wordpress: latest

### File contents (if changed)

`gatsby-config.js`: N/A,
N/A
`gatsby-node.js`:
[code]
`package.json`:

[2019-06-27 06:22] mehtavishwa30 commented on #15098
Hey!
I'd like to open a PR on this issue if no one else is working on it.

[2019-06-27 06:36] wardpeet commented on #7064
We published node_module transpilation in `gatsby@2.11.0`

[2019-06-27 06:36] #7064 closed

[2019-06-27 06:37] wardpeet commented on #13427
We know look for polyfills in node_modules as well.

Published in `gatsby@2.11.0`

[2019-06-27 06:39] wardpeet commented on #12399
From `gatsby@2.11.0` you don't have to do anything. We use `@babel/preset-env` to look for polyfills automatically based on your browserlist config (we have one by default, so don't worry if you haven't got one). That should be all, note that we only do this on production builds.

I'll close, please re-open if the issue hasn't got solved.

[2019-06-27 06:39] #12399 closed

[2019-06-27 06:42] elliotdickison commented on #15150
I would appreciate this. I just ran into it twice, and not having experience a hydration issue before was pretty concerned the way React was just falling flat on its face without error.

For the record, my first problem was depending on Gatsby's `location` object for the first render pass. On the server `location.hash` was empty (as you would expect) but on the client it was set. This was particul

[2019-06-27 06:52] Undistraction commented on #12399
@wardpeet This is great news. Sorry I missed your original post.

Just to be absolutely clear, does this mean that if a package somewhere deep in the dependency tree needs a polyfill for the browserlist config configured for Gatsby, Gatsby will now inject the appropriate polyfill into that dependency's code?

[2019-06-27 06:54] Undistraction commented on #12399
@wardpeet This is great news. Sorry I missed your original post.

Just to be absolutely clear, does this mean that if a package somewhere deep in the dependency tree needs a polyfill for the browserlist config configured for Gatsby, Gatsby will now inject the appropriate polyfill into that dependency's code?

Also, is there any way to enable this in development? We use browserstack to check Dev bu

[2019-06-27 06:55] wardpeet commented on #4337
We rather don't want to enable these escape hatches in core. What I basically understand of the issue, is this:

I have a gatsby site and a path /my-special-path and on my server I have a route called /something-else. If I rewrite /something else to /gatsby/my-special-path, it won't work because it tries to change the page into /my-special-path?

If so I'll see if I can fix it in my plugin.

[2019-06-27 07:08] wardpeet commented on #12399
Yes, everything is ran by babel so everything get compiled into compatible sources. (if not, please let me know :smile:)

I haven't really tested this but something along the lines of this should work in gatsby-node.js
[code]

More info on this topic can be found
https://www.gatsbyjs.org/docs/add-custom-webpack-config/

[2019-06-27 07:13] Undistraction commented on #12399
That's great. Thank you again. I'm assuming you opted to make this production only for performance reasons?

[2019-06-27 07:21] wardpeet commented on #12399
Yes, transpiling node_modules can get expensive depending on how many you have and how big they are. We want develop to be super fast. With [modern builds](https://github.com/gatsbyjs/gatsby/pull/14289) we might re-iterate on this again.

[2019-06-27 07:38] kalinchernev commented on #15143
Thanks @arturhenryy i'll try with global state again, probably i've done something wrong there.

[2019-06-27 08:37] Undistraction commented on #12399
Thanks for answering my questions.

[2019-06-27 09:23] xavivars commented on #4337
Yes, that is exactly the problem. I'll try to put together another PR (that doesn't add something that invasive as the global config variable as https://github.com/gatsbyjs/gatsby/pull/15173).

I have something that may be acceptable that I will push as another PR in a few minutes

[2019-06-27 09:46] oliviertassinari commented on #15097
Did you consider opening an issue on https://github.com/hupe1980/gatsby-plugin-material-ui?

[2019-06-27 09:57] xavivars commented on #4337
@wardpeet this is what I think woudl be needed to add to Gatsby so your plugin could be extended. I've added some examples and documentation on the PR

https://github.com/gatsbyjs/gatsby/pull/15180

[2019-06-27 10:06] jacobtyq opened #15181 "Images not being copied to public/static on gatsby build"
## Description

I am receiving 404 errors when rendering images from MDX files after running `gatsby build`. Initially I thought it happens to certain images but it happens randomly enough that I am not sure if it's an issue with the images or a config issue. I am importing `png` and `jpg`.

This issue does not occur on local development environment `gatsby develop -H 0.0.0.0`, only when you build

[2019-06-27 12:12] eduarmreyes commented on #14938
This should be closed because the PR https://github.com/gatsbyjs/gatsby/pull/15020/ is successfully merged thanks to @marcysutton.

[2019-06-27 12:16] chadalen commented on #15097
@oliviertassinari Yes, see [https://github.com/mui-org/material-ui/issues/16390](https://github.com/mui-org/material-ui/issues/16390)

[2019-06-27 12:58] laradevitt commented on #9087
@diegodorado No, the second replaces the first.

[2019-06-27 12:59] magdalena-dering commented on #15107
Yes, this helps a lot.
Thank you. :)

[2019-06-27 12:59] #15107 closed

[2019-06-27 13:06] ChristopherBiscardi commented on #15066
We have starters for the official themes (blog, notes, blog+notes) coming as we look to go stable soon, and I'm also planning on donating the [theme authoring starter](https://github.com/ChristopherBiscardi/gatsby-starter-theme) which would set up the full workspaces setup.

Would this command do something substantially different than a starter?

[2019-06-27 13:20] m-allanson commented on #15105
I think a good start would be working out how to reproduce a stack trace like this. Normally this sort of error will look like:

<img width="586" alt="Screenshot 2019-06-27 at 14 18 32" src="https://user-images.githubusercontent.com/381801/60269541-8e5efa80-98e6-11e9-8ccf-6849fa4025ec.png">

[2019-06-27 13:28] paustint commented on #15140
I am not an expert, but I think you need to do the following:
Make your api call in `exports.sourceNodes` within `gatsby-node.js`.  Then call `actions.createNode()` which will add the data to graphql.

You might have to play around with it using graphiql explorer - but you can look at other plugins to see how other folks do it.

[code]
https://www.gatsbyjs.org/docs/node-apis/#sourceNodes
https://w

[2019-06-27 13:38] lannonbr commented on #15175
So you can use the plain StaticQuery as described in the docs here: https://www.gatsbyjs.org/docs/static-query/

This is in a functional component here, but nothing is blocking you from using it in a class component. With that, what are you trying to do with this in particular?

[2019-06-27 13:49] SilencerWeb commented on #15175
@lannonbr, the problem is that somebody who is using `gatsby` and `gatsby-image` can even not know about existing of `StaticQuery` and it would be hard to find a solution for using `gatsby-image` in stateful components. I didn't check any `gatsby` tutorials, I jumped right into working on a real project for a customer and I had a struggle with this and decided to share it with the community in cas

[2019-06-27 13:58] lannonbr commented on #15175
Could you try to rephrase that? I'm unsure what you are trying to convey.

[2019-06-27 14:08] deadcoder0904 commented on #15066
Yes, I think.

The starter you have is minimal so this command would look something like `expo-cli` in React Native.

For a quick video about `expo-cli`, see https://youtu.be/bef12Fa9bhM?t=271

It's generally faster to use & easier to remember -> `$ gatsby new personal-site --theme gatsby-theme-workspace --example example` rather than typing `$ git clone <your-repo>`

`expo-cli` has 2 templates li

[2019-06-27 14:14] finewitch opened #15183 "Deploying [build] to Netlify stuck"
## Description
I'm new to Gatsby and Netlify. Haven't really changed anything in configuration. My deploy stop at some point and it's not moving forward. It can take ages. There is no cancel message after 15 minutes. I cannot see any error message.
My local build is ok.
Its working good after **'gatsby build & gatsby serve'**

### Steps to reproduce

commit to repository ( https://github.com/finew

[2019-06-27 14:26] bartold3ak commented on #15140
@paustint Thanks, this is pretty much what I did!

[2019-06-27 14:27] #15140 closed

[2019-06-27 15:12] alexislepresle commented on #15183
I have the same problem with the Netlify CMS :/

[BABEL] Note: The code generator has deoptimised the styling of /opt/build/repo/node_modules/netlify-cms-app/dist/netlify-cms-app.js as it exceeds the max of 500KB.

[2019-06-27 15:24] Steffi3rd commented on #15153
I think I have an idea.

The buggy images are only `.webp` and `.tiff`. I don't know why...
Everything else (png, jpg, gif) are okay.

[2019-06-27 15:29] Aswinpookkatt commented on #14891
The WebAssembly support is added in NodeJs 8.0.0. Update your NodeJS to make it work.

[2019-06-27 15:50] martin2844 commented on #9121
Im really just starting out with web dev, so I might be wrong.
Having said that, Im building a gatsby site with Material UI and was experiencing the same issues. Styles not being injected when loading site at index page, but after going to another page where the same component can be found styles are loaded correctly, and if you go back to the index page you now see everything correctly.

I tried

[2019-06-27 16:10] Aswinpookkatt commented on #14473
This issue is fixed now. Maintainers  plz check.

[2019-06-27 16:25] gillkyle commented on #5030
Hey @iamskok, I'm not sure I can provide a ton of help on debugging remark plugins as sub-plugins of `gatsby-mdx`, however after reading through this issue I'm wondering if a remark plugin is still the best way to go. That direction was encouraged when MDX wasn't really an option, then this was held off until MDX was merged in (adding the potential for this to just be a component) like @marcysutto

[2019-06-27 16:27] FrenchBully commented on #15177
I think this is related to users not having a post associated to them.

[2019-06-27 16:27] #15177 closed

[2019-06-27 17:16] ybv commented on #14971
@sidharthachatterjee I was able to run without issues after I downgraded to`Material-UI v3`, Looks like this is not a Gatsby issue. Sorry about the false ping, thanks for looking into this!

[2019-06-27 17:16] #14971 closed

[2019-06-27 17:29] lannonbr commented on #14282
Reopening this as it is still a issue at hand

[2019-06-27 17:37] vcarl commented on #13873
I can't add a label but This isn't stale!

[2019-06-27 17:42] brimtown opened #15189 "[gatsby-image] Art direction feature does not support different aspect ratios"
## Description

When using the new art direction feature introduced in #13395 with `fluid` images that have different aspect ratios, the padding height generated by `gatsby-image` only uses the aspect ratio of the first image passed to `fluid`.

### Steps to reproduce

1. Create a `sources` array with two `fluid` images with different aspect ratios, and pass this to `fluid`.

[code]

Example site:

[2019-06-27 18:02] prestonso commented on #15175
Hi @SilencerWeb,

Thank you so much for opening this issue! As @lannonbr mentions, this functionality is available through `StaticQuery`. You have impeccable timing, as our Learning team is currently working on a more discoverable recipe for `StaticQuery`. This is being tracked in #14979 if you have any thoughts on how we can make our documentation about `StaticQuery` even better.

Thanks for your

[2019-06-27 18:02] #15175 closed

[2019-06-27 18:08] Elementrat commented on #2392
Ran into this one today. Would be great if builds with queries on empty fields continued, simply returning null where appropriate. My scenario is the same as @Unforgiven-wanda, I have a featured image that I don't necessarily want every post to have. As it is now, my understanding is that I'll have to put dummy data in place in my CMS, and do client-side checks for the "dummy value"

[2019-06-27 18:16] moonmeister commented on #15183
So it looks like you build for both gatsby and the netlify deploy all work. What makes you think it's failing?

[2019-06-27 18:20] prestonso commented on #15174
Hi @i-bsd,

Thanks so much for opening this issue! As stated, this is slightly tangential to Gatsby, and after cloning a few of my own Gatsby codebases, I couldn't reproduce this issue or find `first-mate-select-grammar` among any of the dependencies.

It looks like this may be an issue with Atom's git integration, and I see you opened an issue in the `first-mate-select-grammar` repository.

If th

[2019-06-27 18:20] #15174 closed

[2019-06-27 18:32] vcarl commented on #15032
I did a couple builds while tether to my phone. I ran `rm -rf .cache; yarn build`, started `ping 8.8.8.8` in a different terminal, and kill both once bootstrap finished.

[code]

There's a ton of variability here. I'm not sure if bumping up concurrent helped or those builds just didn't get unlucky.  Worth mentioning that the last `concurrent: 4` build, the slowest, hung on 82/83 for a few seconds.

[2019-06-27 18:52] moonmeister opened #15190 "Gatsby@2.11.0 Build failure (JavaScript heap out of memory)"
## Description

Gatsby 2.11 breaks site build. I'm guessing it's the new functionality around building node_modules as well as the site (#14111).

i was updating dependencies on [master](https://github.com/moonmeister/moonmeister.net/tree/master) when build started breaking. I've updated to 2.10.5 on an [update branch](https://github.com/moonmeister/moonmeister.net/tree/updatedeps) with no trouble

[2019-06-27 18:53] DSchau commented on #15176
Hello @ArthurHwang!

Thanks for the question. This looks to be an issue with not `await`ing at the right moment, specifically the graphql invocation is awaited, but the _result_ of iterating over your pages is not awaited.

Hard to _ensure_ this is the fix without a [reproduction](https://gatsby.dev/reproduction) but I’m pretty confident this should do the trick!

Please check out [this Gist](http

[2019-06-27 18:53] #15176 closed

[2019-06-27 18:55] DSchau commented on #15176
Also re: your second error (sorry I missed that!):

The actual error is:

which typically indicates you’re importing the wrong thing. This is typically for a few reasons, but most commonly:

- Using a destructured form of a default export
- Not exporting in a file

In other words — usually it’s an indication that you’re importing something that may not be named as you expect, or it may not be expo

[2019-06-27 19:06] moonmeister commented on #15190
Okay, so this is definitely a node issue. It seems that the extra transpiling being done is just now making node hit it's default limit in my case. I ran `export NODE_OPTIONS=--max_old_space_size=4096` to expand the defaults and build is now happy.

this seems strange that node doesn't just request more memory if it's available, also I'm a little concerned how this might affect folks build servers

[2019-06-27 19:50] prestonso commented on #15166
Hi @zohaib10!

Sorry to hear you're running into this issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction](https://gatsby.dev/reproduction).

This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate i

[2019-06-27 20:01] moonmeister commented on #15190
Yeah, affects Netlify too. I was able to get Netlify to build correctly by adding an environment variable:

[code]

[2019-06-27 20:01] moonmeister commented on #15190
This seems like it might negatively affect a lot of people. Any way we can make this more memory efficient?

[2019-06-27 20:26] prestonso commented on #15141
Hi @khus29!

Thank you for reporting this issue! I see that you've said it's working fine now, but could you be a bit more specific about what you're trying to achieve?

In addition, to help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction](http://gatsby.dev/reproduction). This is a simplified example of the issue that makes it

[2019-06-27 20:27] vickylance commented on #15190
@moonmeister OMG thank you so much I just updated my package.json file and suddenly this issue crept up. And yes increasing the size solved the issue.

[2019-06-27 20:29] gswirrl commented on #15151
Still fails in 2.11.0

[2019-06-27 20:33] moonmeister commented on #15190
@vickylance figured I wouldn't be the only one. Glad you figured it out.

[2019-06-27 20:45] vickylance commented on #15190
However netlify does not seem to build even after increasing the node size. Its not throwing an error but its just staying building forever.

[2019-06-27 20:48] Zellement commented on #15190
I've got the same issue I think, @vickylance and @moonmeister - I can test the environment variable fix if someone can guide me how? :) Not done them before - is it just as [here](http://prntscr.com/o7mpq4) in Netlify?

[2019-06-27 20:55] prestonso commented on #15152
Hi @MorphyMeri!

Thank you for reporting this issue! I spent some time with your codebase to understand what was going on. Thank you for providing us with a repository!

I noticed that you're wrapping your `<img>` tags in `<a>` tags that lack `href` attributes. This is invalid HTML and can lead to parsing issues. We recommend that you use [Markdown syntax](https://www.markdownguide.org/) for handl

[2019-06-27 20:55] #15152 closed

[2019-06-27 20:56] moonmeister commented on #15190
Not sure you need the quotes but that looks correct.

[2019-06-27 20:57] Zellement commented on #15190
OK - didn't work with the quotes initially. I'll try without.

[2019-06-27 20:57] moonmeister commented on #15190
Yeah, build times have definitely increased. I'm not sure what value this adds, I'm sure it does but it seems to have some significant downsides too.

[2019-06-27 20:58] vickylance commented on #15190
Add in netlify like this.
<img width="904" alt="Screen Shot 2019-06-28 at 2 26 47 AM" src="https://user-images.githubusercontent.com/5861833/60300346-6dc98b80-994c-11e9-8523-f6ee5d430556.png">

[2019-06-27 20:59] vickylance commented on #15190
@moonmeister Yes my build time was less than a min and now its more than 6 mins

[2019-06-27 21:01] prestonso commented on #15168
Hi @tinder-kyleboss!

Thanks for opening this issue and for your feature request. I've labeled this issue with `help wanted` to signal to interested community members that they can contribute the added functionality to set those `general` field values.

Would you like to open a pull request contributing this feature? We'd be more than happy to review it!

Thanks for using Gatsby! 💪 💜

[2019-06-27 21:07] Zellement commented on #15190
Same here; environment variable fixed it, but it took an age to deploy.

Not sure about you guys but I also got a lot of lines of...

`10:04:46 PM: Pkg: FLAGS_MISMATCH`

Not seen that before myself.

[2019-06-27 21:12] jlengstorf commented on #12225
This [showed up in Sizzy](https://twitter.com/thekitze/status/1144328801603768322). cc @kitze

[2019-06-27 21:15] jhoffmcd commented on #11830
I would love to see the option for network then cache too. For now I will have to disable this because there are too many inquiries with my team on why we are showing stale pages.

[2019-06-27 21:27] prestonso commented on #15145
Hi @notaduck!

Thanks for opening this issue! This is very interesting because I forked your repository and ran `yarn && yarn develop` but didn't run into the same issues.

Interestingly, when I run `gatsby develop`, the development build runs correctly but contains the following GraphQL query error:

[code]

Deploying this to Netlify yields the same error:

[code]

However, running `gatsby build`

[2019-06-27 21:40] marcysutton commented on #14938
Good call. Thanks, @eduarmreyes!

[2019-06-27 21:40] #14938 closed

[2019-06-27 21:56] waltercruz commented on #14962
I'm facing this problem too!

[2019-06-27 21:56] gregwhitworth commented on #11524
@KyleAMathews I'm having this issue still occurring on my site. locally it works fine and in prod it doesn't. Also, I'm seeing it 100% of the time, not sporadically like some of the comments above. That said, I've looked through most of the solutions and utilizing them hasn't resulted in a fix. Do you have a specific version of Gatsby that has the fix in it so I can ensure that I'm hitting somethi

[2019-06-27 22:24] tinder-kyleboss commented on #15168
Cool! Whipping up a PR now!

[2019-06-27 22:53] JustFly1984 commented on #11830
I also definitely would love network, then cache. Meanwhile we silently reload the page after update.

[2019-06-27 23:04] ewagstaff commented on #1878
Maybe related? It's not a deal breaker, but it's pretty annoying that `gatsby develop` and `gatsby build` both create files in the `public` folder. We're using path prefixes the make sure all our files work in the directory we deploy to, but that means `gatsby build` overwrites the files in `public` with the prefix and breaks CSS/JS running in another terminal tab via `gatsby develop`.  The termin

[2019-06-27 23:06] chadalen commented on #15097
@oliviertassinari issue resolved at [https://github.com/mui-org/material-ui/issues/16390](https://github.com/mui-org/material-ui/issues/16390)

Thanks guys :D

[2019-06-27 23:06] #15097 closed

[2019-06-28 00:11] MorphyMeri commented on #15152
@prestonso , i have changed it to a tag just to test it wether it was displaying in that, i know for a fact that the a tag is invalid , but of you enclose the image tag within a div the images dont appear. Can you try enclosing the img tag in a div and check again?

[2019-06-28 00:38] jaredsilver commented on #10090
We're also running into this, and we can confirm @stjepangolemac's confirmation that @erickteowarang's suggestion of using a one-to-many reference field limited to one reference indeed fixes the issue. However, this workaround makes me sad.

[2019-06-28 00:57] marcysutton commented on #14607
My biggest thought is this: should we just convert the starter blog to MDX for everyone, so they get it by default?

I also agree that a tutorial under "Additional Tutorials" would help those who have already set up a blog pre-MDX.

[2019-06-28 01:35] polarathene commented on #15189
I should have time in the next week or two to tackle this.

Although I don't think we can fix the pre-rendered placeholders(baked into the markup delivered on page request) until React kicks in and can run the appropriate JS to update. Maybe if some media query style was injected into a style tag in the header?(wouldn't work with inline styles on the component afaik) I'm not sure how to go about t

[2019-06-28 01:46] k-conway commented on #14228
I'm interested in taking this one but was wondering if you could point me at a PR that fixes a similar issue for my reference.

Thanks!

[2019-06-28 01:58] k-conway commented on #15150
I can take this if you folks are looking for help! no worries if not!

[2019-06-28 02:03] rlynn523 commented on #15125
@Bculp and I would like to take this if it's still available!

[2019-06-28 02:06] k-conway commented on #13134
I'm happy to open a PR and add the comment from @wgao19 if folks have decided that will help.

[2019-06-28 02:13] marcysutton opened #15195 "[docs][guides] update Building With Components page with non-page components"
## Summary

In reviewing #15079, I wanted to link to the [Building with Components](https://www.gatsbyjs.org/docs/building-with-components/) Conceptual Guide but noticed it doesn't cover everything it should. There are sections on [Page Components](https://www.gatsbyjs.org/docs/building-with-components/#page-components) and [Page Template Components](https://www.gatsbyjs.org/docs/building-with-com

[2019-06-28 02:16] marcysutton commented on #15125
@rlynn523 yes, it's open! We would love to have your contribution. Thanks for offering!

[2019-06-28 02:17] wgao19 commented on #13134
Oh just seeing the added label. I am also happy PR. It’ll be my first contribution to this repo 😁 Although, I don’t have too much more insight beyond that line so if you got more to add on I think it’ll be nicer for you to do it @k-conway

[2019-06-28 02:43] k-conway commented on #13134
I was pretty much going to update with your comment so feel free to take it since you already did the hard part :-)

[2019-06-28 05:19] rchrdnsh commented on #15049
so the app wasn't broken, but it was still just blank screen on deploy...All I really want to do is make 100vh work in mobile Safari and Chrome, so maybe I don't need that component, just to resize the window to the visual viewport...is that possible?

Just to use this?

[code]

and if so, how could i use it in Gatsby to change the height to the visual viewport and have THAT number equal 100vh?

[2019-06-28 05:24] marcysutton commented on #15147
I was going to close this as there has been a PR merged, but I think the rest of the text should be revisited in addition to the title to optimize for on-page content and flow. Should we rename the file and add a redirect too? Because now the title and URL don’t match. What was the motivation to change the title, and how can we measure success here?

[2019-06-28 05:31] spences10 commented on #14607
So after initially logging this issue I tried to convert the [starter blog] in codesandbox.io to get an idea of the steps involved:

- add `gatsby-mdx`, `@mdx-js/mdx` and `@mdx-js/react`
- replace `gatsby-transformer-remark` with `gatsby-mdx` and add the rest of the remark plugins to `gatsbyRemarkPlugins` in `gatsby-mdx`

That's the basic steps covered, the next part, adding the `root-wrapper` is

[2019-06-28 05:56] visualcookie commented on #15101
Is there an update on this? I really need to update Gatsby now due to an issue I'm facing now with `eslint-config-react-app`.

https://github.com/facebook/create-react-app/issues/7284

[2019-06-28 06:08] orshick commented on #15183
Works for me locally, but fails on netlify :(

[2019-06-28 06:14] gyss commented on #14911
Hi @wardpeet,

please find here the repo I uploaded for replicate this issue: https://github.com/gyss/gatsby-starter

Just clone it, `npm i` (make sure to be using node 10.12.0) and `npm start` should be returning this error:

[code]

[2019-06-28 06:43] #15143 closed

[2019-06-28 06:55] wgao19 commented on #13134
Thank you @k-conway! Just opened #15197, let's hear what people will say about it :)

[2019-06-28 06:55] moonmeister commented on #15190
@gatsbyjs/core Can we get some input here? This isn't strictly a Gatsby issue but definitely caused by a decision the Gatsby project made. IS there a way to disable this for folks that don't want it, or maybe a way to optimize the process to increase performance/build times (or at least not break node)?

[2019-06-28 06:58] wardpeet commented on #15190
It only took 20-40s longer on gatsbyjs.org when transpiling node_modules so it's weird that it's so heavy for your sites. I'll have a look at your repro! @moonmeister

[2019-06-28 07:30] zubko opened #15200 "[v2] A node's custom string field with a file name is replaced with an object of the File type"
## Description

Creating a string field with a value === filename for example ("2019-03-01-hello-world.md") will replace that string with the object of a File type

This is may be advanced but very unexpected behavior and it can backfire very hard.

### Steps to reproduce

<img width="471" alt="Screen Shot 2019-06-28 at 9 58 19 AM" src="https://user-images.githubusercontent.com/16039/60324769-5612

[2019-06-28 07:43] moonmeister commented on #15190
@wardpeet Thanks! My site is only page (aside from the cms), so it wasn't much to start with...but it probably still doubled.

If anyone else has repositories they can share that may be helpful.

[2019-06-28 08:09] homearanya commented on #15190
Same problem on my side. This has been driving me bananas. I'm glad to find out it's an issue on Gatsby's last version

[2019-06-28 08:21] notaduck commented on #15145
@prestonso That is 100% my fault, I forgot to branch out while playing with netlifycms, the error you see is comming from some of the markdown posts, where I forfot to add the slug field to the frontmatter, sry!

However I tried to branch out, delete `package-lock.json` and `node_modules` and rebuild it with `ỳarn` and for some odd reason can I not reproduce the error anymore.

If anybody else is

[2019-06-28 08:21] #15145 closed

[2019-06-28 08:54] choffmeister commented on #10592
@pieh I did some digging and found a way to consistently reproduce this:

1. Clear cache
2. Start gatsby in develop
3. Access content with a richtext field with embedded image via gatsby GQL. You get all data
[code]
4. **Change some content in contentful**
5. Restart gatsby develop
6. Access content with a richtext field with embedded image via gatsby GQL. You only get minimal data
[code]

The pro

[2019-06-28 09:12] tom-raley commented on #14936
I can take a stab at this!

[2019-06-28 09:57] wardpeet commented on #15190
Seems like gatsby-netlify-cms being the issue. I'll cook up a fix.

Sorry for the inconveniences

[2019-06-28 10:32] lnikell commented on #14662
So the conclusion is that rootMargin works correctly but unfortunately 200px is very small.
Proposal: It should be the customizable property

Content on modern websites usually section based, each section usually are about full height of the screen, users also scroll by sections rather than just by 200px. In that case, if you have  images in the section 2 closer to the bottom of the section, the u

[2019-06-28 11:01] rkretch91 opened #15205 "Deploying to Netlify Stuck"
## Summary

Deploying to Netlify gets stuck after `[BABEL] Note: The code generator has deoptimised the styling of /opt/build/repo/node_modules/react-intl/locale-data/index.js as it exceeds the max of 500KB.`

## Relevant information

After running a successful `gatsby build` and `gatsby serve` on my project https://github.com/rkretch91/wc, I then try to deploy to Netlify and it pauses on the foll

[2019-06-28 11:49] humphreybc commented on #14133
Ran into this one today. @agentofuser how did you get on with the PR?

[2019-06-28 11:51] sujoys10 opened #15206 "YouTube push notifications"
I want to get push notifications when a YouTuber uploads a video in his/her channel.
I have to make pubsubhub server which will listen to this feed and then trigger a build through netlify.
My question is how to implement this in gatsby? Where to write this server code? Do I have to go with the plug-in way ie. Write the code in gatsby-node js file.. But I think this will not work as gatsby-node.js

[2019-06-28 12:22] pgegenfurtner commented on #11278
The value is just null.
I will try to publish a reproduction repo.
But basically I implemented this like @pieh suggested:

[code]

[2019-06-28 12:33] shendriksza opened #15207 "Javscript bundles are full of duplicate packages"
## Description

I have noticed some fairly large Javascript files on my site. Most of them in the range 100-400KB. Examination with `source-map-explorer` showed that most of the size of them consists of duplicate libraries. I'm aware that Gatsby bundles packages that are used multiple times in the `commons-*.js `file. But for some reason, my build does not seem to make one. I know I've seen it be

[2019-06-28 13:05] wardpeet commented on #15190
https://github.com/gatsbyjs/gatsby/pull/15191 seems to be ready to get merged!

[2019-06-28 13:07] martingtheodo commented on #14952
@freiksenet I did it a try!
Would you mind reviewing this PR ?

Thanks in advance

[2019-06-28 13:09] moonmeister commented on #15190
@wardpeetcan you explain why this plugin specifically is an issue? Is it purely its size?

[2019-06-28 13:25] prestonso commented on #15207
Hi @shendriksza,

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal [reproduction](https://gatsby.dev/reproduction). This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate i

[2019-06-28 13:33] adekunleoduye opened #15209 "[bug] path url is null when creating page from mdx file"
## Description

When dynamically creating pages from mdx files, the `node.frontmatter.path` is return as `null`.

### Steps to reproduce
Repo: https://github.com/adekunleoduye/gatsby-issue
When running `gatsby develop` I get the error below.

### Expected result

What should happen?

[code]

### Actual result

[code]
What happened.

### Environment

[code]

[2019-06-28 13:34] CharlotteCady commented on #15183
Hi,
We have the same problem.
Since yesterday afternoon, the deployment of two of our websites hosted on Netlify is very slow (Sometime the build fail). Before that, everything worked completely fine.

We have identified that it needs more than 5 minutes to complete this step :
"[BABEL] Note: The code generator has deoptimised the styling of /opt/build/repo/node_modules/lodash/lodash.js as it exce

[2019-06-28 14:00] rudolphfunk opened #15210 "[gatsby-source-contentful] gatsby develop script build hangs with high CPU using plugin"
## Description
This issue seems to be related to the gatsby-source-contentful plugin. When running the development server `$ gatsby develop`. `$ gatsby build` builds successfully and `$ gatsby serve` works as expected.

In some cases the build does finish and you can open the site in the browser, but then after the first page load. The site becomes unresponsive and no subsequent page loads work. T

[2019-06-28 14:14] prestonso commented on #15161
Hi @NiviJah,

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal [reproduction](https://gatsby.dev/reproduction). This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if yo

[2019-06-28 14:28] prestonso commented on #15206
Hi @sujoys10,

Thank you for opening this issue! This unfortunately functionality that is native to Gatsby, and as you mentioned, `gatsby-node.js` runs only at build time.

Whereas there are [documented solutions](https://matienzo.org/2018/websub-static/) for sending WebSub notifications from a static site through [Netlify functions](https://www.netlify.com/docs/functions/), this is only in respon

[2019-06-28 14:28] #15206 closed

[2019-06-28 14:36] drteresavasquez commented on #15183
I am having the same issue. It works locally, but fails on build with the same error message:

`[BABEL] Note: The code generator has deoptimised the styling of /opt/build/repo/node_modules/netlify-cms/dist/netlify-cms.js as it exceeds the max of 500KB.`

I have updated all packages.

[code]

[2019-06-28 14:36] KyleAMathews opened #15212 "Catch graphql errors from the graphql function and pretty-print errors"
## Description

If in your `gatsby-node.js` you send a bad graphql query to the graphql function (this is commonly done to query data to create pages), you won't get any error. Instead you'll generally get an error that you can't access expected data from the graphql result e.g.

<img width="599" alt="Screenshot 2019-06-28 07 28 22" src="https://user-images.githubusercontent.com/71047/60349373-51d

[2019-06-28 14:37] KyleAMathews commented on #15019
We don't capture GraphQL errors from the internal `graphql` function used in gatsby-node.js apis

https://github.com/gatsbyjs/gatsby/issues/15212

[2019-06-28 14:39] ArthurHwang commented on #15183
Hello all, same exact thing is happening to me.

Like above posters, suddenly the past few days netlify and both `gatsby build` and `gatsby develop` hangs on this step:

`"[BABEL] Note: The code generator has deoptimised the styling of /opt/build/repo/node_modules/lodash/lodash.js as it exceeds the max of 500KB."

⠧ Building production JavaScript and CSS bundles`

`
  System:
    OS: Linux 4.4 Ubu

[2019-06-28 14:40] erquhart commented on #15190
`gatsby-plugin-netlify-cms` runs an independent Webpack build within Gatsby's Webpack build (insert "yo dawg" reference here) using a modified version of the Gatsby Webpack config. Gatsby 2.11.0 no longer excludes `node_modules`, which causes the plugin's Webpack build to attempt processing the Netlify CMS modules with Babel. The modules are massive and also prebuilt, so it will (and should) crash

[2019-06-28 14:41] KyleAMathews commented on #15212
We could also validate queries in Relay Compiler (as I suggested here: https://github.com/gatsbyjs/gatsby/issues/1595)

That'd give us richer error messages potentially.

[2019-06-28 14:44] KyleAMathews commented on #14490
@pieh's PR to cleanup stack traces accomplishes this nicely https://github.com/gatsbyjs/gatsby/pull/15050

[2019-06-28 14:44] #14490 closed

[2019-06-28 14:51] wardpeet opened #15213 "Making babel node_modules transpilation better"
## Summary
Improve how we handle node_modules with babel.

We have a few options to explore.
1) Use a smaller babelrc file for node_modules
We currently use our babel-preset-gatsby which does lots of things which are probably not needed on node_modules. We probably want to run babel-preset-env to make bundles compatible.
2) only run babel on build-javascript stage. Currently, we run it also in nod

[2019-06-28 15:57] brimtown commented on #15189
Awesome! I think @KyleAMathews had an idea to use https://github.com/gaearon/react-side-effect somehow to inject those style rules at build time? Not sure if I remember the specifics, but maybe he could chime in as well.

Keeping the pre-rendered images seems fairly important (at least for our use-cases), and considering that apps can work around this limitation by [writing their own styles](https

[2019-06-28 15:57] KyleAMathews commented on #14931
Can you push all the changes for the reproduction to your git repo? That way we can clone it and run it and see the error.

[2019-06-28 16:04] wardpeet commented on #11524
We should have this one fixed in the latest gatsby release `gatsby@2.11.1`. We have ran it on gatsbyjs.org and the errors dissapeared for us.

[2019-06-28 16:18] Aswinpookkatt commented on #15098
why is this issue still open?

[2019-06-28 16:18] #15098 closed

[2019-06-28 16:23] KyleAMathews commented on #11524
Please upgrade and let us know if there's any more trouble! Closing this for now.

[2019-06-28 16:23] #11524 closed

[2019-06-28 16:31] bscs-dev-team commented on #15190
Hi all, this had me stumped for a minute.

Thanks, @moonmeister for posting a temporary fix.

Yes it increased our build time quite a bit too but at least it is building again.

@erquhart - are you suggesting we shouldn't use the temp fix?

[2019-06-28 16:34] BernardA opened #15216 "GraphQl Cannot read property 'createPageDependency' of undefined"
I am trying your [client data fetching example](https://www.gatsbyjs.org/docs/client-data-fetching/), but running on the above error.

By the way, I am doing this on top of the redux-starter

For the index.js page, I do have exactly the same code as per your example, I believe:

`

      import React from 'react';
      import { graphql } from 'gatsby';
      import axios from 'axios';
    import

[2019-06-28 16:44] jamesncampbell opened #15217 "How can I use the domain of my current env in gatsby-config?"
## Summary
Is it possible to use the domain of the current env i'm working within the gatsby-config.js file? I'm particularly interested in the `siteMetaData.url`. For instance, if I'm developing locally, I'd like that URL to resolve to `localhost:8000` and if I'm in production, I'd like it to point to `https://whatevermyproductiondomainis.com`. I've searched around and haven't seen instructions o

[2019-06-28 16:46] MANTENN opened #15218 "HotReload Rendered more hooks than during the previous render when commenting out code"
**Error**
HotReload Rendered more hooks than during the previous render

**What is the current behavior?**

[code]

Steps to reproduce:
1. Comment out a hook/some hooks.

**What is the expected behavior?**
Debatable, in my opinion this should be more of a warning.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**
- Chrome[

[2019-06-28 16:52] kitze commented on #12225
Yup. It'd be cool if at least I can change something in Sizzy so it works.

[2019-06-28 17:18] erquhart commented on #15190
Sorry, no - definitely good as a temp fix, just recommending folks revert back afterward.

[2019-06-28 17:27] #14336 closed

[2019-06-28 17:27] #14338 closed

[2019-06-28 17:29] stevehollaar commented on #15183
Seeing the same behaviour, which coincided with the introduction of this message in the Netlify deploy logs:
[code]
(in my case `<x>` is `node_modules/lodash/lodash.js`)

[2019-06-28 17:56] johntiger1 opened #15220 "Error: Cannot find module 'joi'"
## Description

Gatsby immediately throws an exception.

### Steps to reproduce

`gatsby`

### Expected result

Usage message, etc.

### Actual result
[code]
### Environment

gatsby command doesn't work period.
npm version 6.9.2, i've tried uninstalling and reinstalling gatsby etc.

[2019-06-28 18:02] finewitch commented on #15183
I can build it locally without issues after setting in package.json
`    "gatsby-plugin-netlify-cms": "^4.0.3"`

hey.
The logs part of Netlify stops at 4:45:31 PM: Finished processing build request in 2m40.604997147s
It finished the build but it's not deploying.

Look at the succesful one:
<img width="1226" alt="Screen Shot 2019-06-28 at 21 00 36" src="https://user-images.githubusercontent.com/152

[2019-06-28 18:10] marcysutton commented on #15150
@k-conway yes, I'd say go for it!

[2019-06-28 18:14] dannyphillips commented on #13980
I also recently had this issue, and no success with any of these fixes.

[2019-06-28 18:23] madze commented on #15220
I'm experiencing the same thing in node version 10.0.0

[2019-06-28 18:26] r-i-c-h commented on #15220
Ditto on node 11.12:
[code]

[2019-06-28 18:28] moonmeister commented on #15183
Hey all please see #15190 for the Babel errors.

[2019-06-28 18:30] moonmeister commented on #15183
@finewitch ah, thanks I missed that. I'll be an vacation the next week so I won't be able to help from here. Hopefully someone else is able.

[2019-06-28 18:34] lorainemanlutac commented on #15220
Experiencing the same issue with node v12.3.1.

[2019-06-28 18:35] MWalid commented on #15220
Just updated the cli .... it's broken:

[code]

[2019-06-28 18:35] chunfantasy commented on #15220
/home/chun/.nvm/versions/node/v10.16.0/lib/node_modules/gatsby/node_modules/yoga-layout-prebuilt/yoga-layout/build/Release/nbind.js:53
        throw ex;
        ^

Error: Cannot find module 'joi'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)

[2019-06-28 18:35] vlknhslk commented on #15220
Same issue

`Error: Cannot find module 'joi'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load (internal/modules/cjs/loader.js:508:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:22:18)
    at Object.<anonymous> (/usr/local/lib/node_modules/gatsby-cli/lib/structured-errors/c

[2019-06-28 18:42] DSchau commented on #15220
Hello folks!

We’re aware — thanks for letting us know!

The fix is in #15221, and will be published as soon as the unit tests pass.

[2019-06-28 18:45] k-conway commented on #15150
will do!

[2019-06-28 18:45] #15220 closed

[2019-06-28 18:49] pieh commented on #15220
Published `gatsby@2.11.3`, please update and let us know in case it didn't do the trick

[2019-06-28 18:56] mattbloomfield commented on #15220
Yay! Literally just experienced this, must have pulled right before you released. Thanks all!

[2019-06-28 18:56] aka-cronos commented on #15220
Everything working 💯
`node v11.3.0`
`npm 6.9.2`
`gatsby-cli 2.7.6`
`gatsby 2.11.3`

[2019-06-28 19:14] johntiger1 commented on #15220
Great, it works! I also had to update `gatsby` (not just the cli). Thanks!

[2019-06-28 19:26] Talii123 commented on #14891
I don't think that's the source of the problem I'm encountering:

$ node -v
         v10.15.1

On Thu, Jun 27, 2019 at 11:30 AM Aswin C P <notifications@github.com> wrote:

[2019-06-28 19:52] NiviJah commented on #15161
Appreciate you answering,
the repo with the problem can be seen here:
https://github.com/NiviJah/gatsby-gcn

[2019-06-28 20:52] caitlinthefirst opened #15226 "[docs] Blog & Website Contributions page missing "Excerpt" info"
I noticed several blog post files include an "excerpt" field in their frontmatter, but the documentation instructions and template for contributing to the blog don't include this field or info on what to write.

I can make a PR for this, but I wanted to check that it wasn't omitted on purpose.

[2019-06-28 20:56] sophyphreak commented on #14927
I think it was just the same as the other guy. Remove the Procfile and change the static.json. I'm not sure anything needs to be added to the docs page.

[2019-06-28 21:15] monte-hayward commented on #11123
@wardpeet thanks for the remote testing tool!
on my machine, I still get 93/100, same results. standard latest chrome with exactly 1 extension: Lighthouse

@vickylance yes, thanks. i retested today with VPN turned off.

I suspected it might be a limitation of  my ISP. Tested with a personal hotspot, completely different company, and got the same result.

[2019-06-28 21:21] i-bsd commented on #15205
Same issue here. My site builds eventually but looks terrible. Seems to be styled components not building correctly.

[2019-06-28 21:24] KyleAMathews commented on #12042
Oh this is fixed now.

[2019-06-28 21:24] #12042 closed

[2019-06-28 21:24] KyleAMathews commented on #12042
The linked file doesn't exist anymore

[2019-06-28 22:16] decimoseptimo commented on #15124
@sidharthachatterjee
Upon further testing I've isolated the issue, you can see it here: https://codesandbox.io/s/gatsby-starter-default-qfbyy

There's also a bug from gatsby-remark-contentful-images. It turns out, during `gatsby develop`, if there's any wrong URL in the markdown, axios will throw 404, but during `gatsby build` it'll be ignored.

[2019-06-28 22:43] marcysutton commented on #9350
Hi there! In feedback on gatsbyjs.org, this page resurfaced as needing an update. Specifically:

Behind the Scenes, now called [Gatsby Internals](https://www.gatsbyjs.org/docs/gatsby-internals/), that would be a good resource in writing this doc. The docs on [Gatsby Node APIs](https://www.gatsbyjs.org/docs/node-apis/), [Gatsby SSR APIs](https://www.gatsbyjs.org/docs/ssr-apis/), [Gatsby Browser API

[2019-06-28 22:53] marcysutton commented on #12384
@DSchau where do you think would be the best place to expand the docs? In the Babel guide? https://www.gatsbyjs.org/docs/babel/

It would be great to get this improvement in, if anyone feels like taking it on!

[2019-06-28 22:57] marcysutton opened #15229 "[docs][guides] improve publishing to Github Pages doc"
## Summary

In feedback from gatsbyjs.org, the [Deploying to GitHub Pages](https://www.gatsbyjs.org/docs/how-gatsby-works-with-github-pages/) guide could use an update. Specifically:

"What about if I wanted to use the doc/ folder option instead of a dedicated gh-pages branch?"

That process is described here: https://help.github.com/en/articles/configuring-a-publishing-source-for-github-pages#pub

[2019-06-28 23:18] marcysutton opened #15231 "[docs][guides] better document Gatsby GraphQL APIs"
## Summary

As part of #13708, GraphQL is a key workflow we want to visit to clear up common learning barriers and improve troubleshooting. In addition to "Querying Data" recipes, GraphQL APIs in Gatsby could be better documented all around. Things like:

- pageQuery API
- staticQuery API
- useStaticQuery API
- query APIs like `sort`, `limit`, etc.

Making these APIs easy to find and more scannabl

[2019-06-28 23:24] marcysutton commented on #15121
Brainstorming doc: https://docs.google.com/document/d/1Hyp2oKW5IfpGRXT8lJEKvsVQs7_Agobap4R6_yMdB8k/

[2019-06-28 23:53] marcysutton opened #15232 "[docs][guides] add details about user stylesheets with Styled Components"
## Summary

In feedback from gatsbyjs.org, the [Styled Components](https://www.gatsbyjs.org/docs/styled-components/) styling doc could use a little more information around user stylesheets. Specifically:

It could be that the term "user" is what's confusing here, since this section is referring to end-users creating their own stylesheets for accessibility and other purposes. I have three recommend

[2019-06-29 00:02] marcysutton opened #15233 "[docs][guides] improve Sourcing from Netlify CMS doc"
## Summary

In feedback from gatsbyjs.org, the Sourcing from Netlify CMS doc could use some clarifications:

It would be nice to address these items as part of https://github.com/gatsbyjs/gatsby/issues/13804. There is also a tutorial in the works for the Additional Tutorials section, in https://github.com/gatsbyjs/gatsby/pull/14945, and an upcoming deployment recipe. This guide is a bit of overlap

[2019-06-29 00:18] marcysutton commented on #14753
One other potential solution I thought of was using `allFile` to query a folder of images–I haven't actually tried it to know if it works, but the thought crossed my mind. One limitation of this approach would be matching images to alt text, a use case that we should remind developers of every chance we get. So using YAML or JSON may still be the way to go.

To satisfy this issue, we should add de

[2019-06-29 00:28] marcysutton opened #15234 "[docs][guides] new doc on Working with Images in Blog Posts"
## Summary

In feedback from gatsbyjs.org and an ongoing part of improving the [images](#14529) and [MDX workflows](#14258), it would help to include a new reference guide on working with images in blog posts. Specifically, there was this question:

The page referenced was [Using Gatsby Image](https://www.gatsbyjs.org/docs/using-gatsby-image/ ), which is in the context of components and queries wh

[2019-06-29 00:41] rayriffy commented on #11123
@monte-hayward I'm using Lighthouse 5.1.0 but I can see your score are perfectly 100. Test result in [Gist](https://gist.github.com/rayriffy/d3a60c727b3b01d3eeb9aa5df0621bfb)

I think maybe it's a problem on local routing rules on your computer.

[2019-06-29 00:43] marcysutton opened #15235 "[docs][guides] improvements to Why Gatsby Uses GraphQL"
## Summary

In feedback from gatsbyjs.org, some questions surfaced that would be nice improvements to the [Why Gatsby Uses GraphQL Page](https://www.gatsbyjs.org/docs/why-gatsby-uses-graphql/). Specifically:

For folks following along, the introduction of `allProductsJson` isn't explained clearly enough. It would help to explain where that key comes from, in explicit detail!

@jlengstorf is there

[2019-06-29 00:56] kostimarko commented on #10457
I'm getting the same issue and I'm using firebase

[2019-06-29 01:24] Jamamuuga commented on #15190
Will #15191 be sufficient for a developer who uses gatsby-plugin-netlify-cms & uses Yarn's PnP feature?

[2019-06-29 01:41] interglobalmedia opened #15237 "npm WARN deprecated @hapi/joi@14.5.0: This version is no longer maintained"
## Description

Describe the issue that you're seeing. When I updated to gatsby 2.11.3, as version 2.11.3 was being downloaded, I got the following warning in Terminal:

`npm WARN deprecated @hapi/joi@14.5.0: This version is no longer maintained`

 Subsequently, I got the following error in Terminal when running npx gatsby develop:

[code]
### Steps to reproduce

`npm i gatsby@latest -S`

`npx gat

[2019-06-29 02:23] lannonbr commented on #15226
@caitlinthefirst I don't believe there's any particular reasoning that it isn't there, but I think this is a great issue and we'd love a PR for this! Feel free to assign yourself to this issue

[2019-06-29 02:34] lannonbr commented on #14585
Closing this as it seems @nxz91 seems to have solved their problem

[2019-06-29 02:34] #14585 closed

[2019-06-29 02:41] lannonbr commented on #14433
@Hence07 would it be possible share your codebase or a [Minimal Reproduction](https://gatsby.dev/reproduction) so we could possibly figure out if the issue is with something in your codebase / setup or if it is an issue with Gatsby.

[2019-06-29 02:43] lannonbr commented on #14415
@Jeff-Mott-OR is there any updates on this issue? Would you like more information other than what @cameron-martin mentioned?

[2019-06-29 02:44] lannonbr commented on #14401
Any updates on this @SSelke?

[2019-06-29 02:47] lannonbr commented on #14285
Hey @bruceontheloose any updates if you ended up getting this working?

[2019-06-29 02:57] lannonbr commented on #9362
@rametta Is this problem still coming up for you or can we close this issue?

[2019-06-29 02:59] lannonbr commented on #8797
@shannonbux Is this still a topic that is being looked into or does the Feedback Widget that Marcy pushed in https://github.com/gatsbyjs/gatsby/pull/13550 solve this?

[2019-06-29 03:04] lannonbr commented on #6896
So I'm going to take a dive into implementing this issue this weekend. If I can get a PR up, I'll likely be contacting @fk for some design advice so it fits into the current site design and @marcysutton to make sure it's accessible.

I will as well look into the implementations that @janosh did on his personal blog.

[2019-06-29 04:25] TheSonOfThomp opened #15241 "[gatsby-remark-images] Tall images cannot be restricted by maxHeight"
## Summary

Tall images cannot be restricted by maxHeight. These images end up taking the whole width of the screen and are too tall.

### Basic example

Proposed API:

[code]

### Motivation

I have an iPhone screenshot I want to add to my blog. I have it rendering properly, but there is no simple way to shrink it down to a reasonable size without also shrinking the wider images.

[2019-06-29 05:01] gaplo917 commented on #15080
-- Phil Karlton

If the new version .md file is incompatible to previous version (i.e. frontmatter schema)
OR
If the new React Component is incompatible to previous page-data.json

Which lead to:
* NEW html getting old page-data json will throw error (i.e. XXX is undefined)
* OLD html getting new page-data json also will hv the same issue

Suggested that gatsby should have a config to allow user t

[2019-06-29 05:13] emiliekmartinez commented on #14911
I'm getting the exact same error. Any update on this?

[2019-06-29 05:33] jhach commented on #14911
@jimmyromanticdevil 's solution fixed it for me. "yarn upgrade" did the trick.

Environment:
- macOS High Sierra (10.13.6)
- Gatsby CLI version: 2.7.6
- Gatsby version: 2.11.3
- Homebrew 2.1.6
- Homebrew/homebrew-core (git revision 342c9; last commit 2019-06-28)

[2019-06-29 06:01] emiliekmartinez commented on #14911
Interesting, using npm commands those packages still produce the error for me, but using yarn it all worked. Thanks!

[2019-06-29 07:10] atxiii commented on #9899
In my case, it was Onetab chrome extension.

[2019-06-29 07:12] lukitroe commented on #15220
Hi folks!

I updated every part, which was mentioned in the comments. Now I run on:
- node v10.16.0
- npm 6.9.2
- gatsby@2.11.3
- gatsby-cli@2.7.6

I'm on a Window 10 PC.

However, I get this error message whenever I type
`gatsby develop
C:\Users\Lukas\AppData\Roaming\npm\node_modules\gatsby-cli\node_modules\yoga-layout-prebuilt\yoga-layout\build\Release\nbind.js:53
        throw ex;
        ^

Er

[2019-06-29 08:19] ancashoria commented on #14911
I don't think this issue should be closed since it breaks the Gatsby development experience from the get go.
Using `yarn` work for me too.

[2019-06-29 11:23] crutchcorn opened #15242 "`construct-error.js` - child "error" fails because ["error" must be an object]"
## Description

Introducing a query error on `MarkdownRemarkFrontmatter` seems to throw error with construct-error.js due to some error in validating an error type using the `joi` library. The error message thrown is:

`child "error" fails because ["error" must be an object]`

<details>
<summary>Original Build Error Log</summary>
This behavior will be removed in the next major release of gatsby-pl

[2019-06-29 12:34] #9362 closed

[2019-06-29 12:49] KyleAMathews commented on #15220
@lukitroe can you run `gatsby info` in that project and post the output here?

[2019-06-29 12:52] KyleAMathews commented on #15080
@gaplo917 how do you know you're seeing this error? We include a build hash in each page-data.json so if a client loads a json file and sees it came from a newer build, it'll force a full refresh to get the new component code.

If that's not working that's a bug we need to fix. More details about what's happening and reproduction instructions would be great!

[2019-06-29 12:54] KyleAMathews commented on #15080
Also in general, you should only be caching files that are in the static folder and .js files as described in the caching docs https://www.gatsbyjs.org/docs/caching/#static-files

The new json files shouldn't be cached. If you're running into troubles, check out your cache-control settings.

[2019-06-29 13:31] hendra-go commented on #15190
I also experienced the same thing, high memory usage on gatsby build.

after investigated a little further, i thinks this block of code from https://github.com/gatsbyjs/gatsby/pull/14111/commits/4210885b605f61d49fec786509441bb28dc0570e commit that cause the problem:

[code]

I succesfully running gatsby build after revert webpack-utils.js back to this https://github.com/gatsbyjs/gatsby/pull/14111/

[2019-06-29 13:56] erquhart commented on #15190
@hendra-go is the project you're seeing this issue in using the Netlify CMS plug-in?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-29 14:11] #15212 closed

[2019-06-29 14:18] hendra-go commented on #15190
@erquhart No, i dont use Netlify CMS plug-in, i try to build locally, using gatsby@2.11.0
even using `node --max-old-space-size=4096` when running gatsby build did not work on my laptop with 8GB memory.

[2019-06-29 14:19] KyleAMathews commented on #15019
New PR to make errors loading gatsby-config.js structured https://github.com/gatsbyjs/gatsby/pull/15244

[2019-06-29 14:26] KyleAMathews commented on #15189
Yeah :-)

We should be able to catch during SSR when an art direction image is rendered and inject in the head the appropriate css.

That's the same technique we can use for preloading/prefetchinig images https://github.com/gatsbyjs/rfcs/blob/prefetch-images/text/0000-support-prefetching-images.md

[2019-06-29 14:28] JordanHC commented on #15205
Yeah same issue for me, haven't touched any files since the last deploy

[2019-06-29 14:35] ertrzyiks commented on #14790
@sidharthachatterjee what do you think about adding stack trace to errors reported here: https://github.com/gatsbyjs/gatsby/blob/49fd769f695ccfa6e990e3eaae7c886f073db19b/packages/gatsby/src/query/query-runner.js#L51

Errors reported there contain only a query trace now.

We could get stack trace from the original errors which are not wrapped by [GraphQLError](https://github.com/graphql/graphql-js/

[2019-06-29 14:38] gaplo917 commented on #15080
Thanks for your advice! I have assumed that everything can be cached.

Because gatsby 2.8.8 will generate hash for all page-data.json. This guarantee a new/old html will load new/old/same json

Will try your advice and see the result.

[2019-06-29 14:51] erquhart commented on #15190
Interesting, maybe Gatsby itself is having the same issues the Netlify CMS plug-in build is having. It's likely due to the commit you mentioned (from #14111), but I don't think it's a RegExp perf issue - seems more probable that it's due to Babel now processing modules that used to be excluded, especially in `node_modules`. I could easily be wrong though, @wardpeet should have more insight.

<sub>

[2019-06-29 15:44] mwardew commented on #15118
Unfortunately this doesn't work. As you can see I already have sidebars whitelisted. It seems that it's impossible to get what I want with gatsby-source-wordpress.

I tried gatsby-source-custom-api and it works but I'm not fan of this solution because it would be better to just use gatsby-source-wordpress.

[code]
But what if I want multiple sidebars and not only footer?

I have footer sidebar but

[2019-06-29 15:44] bjatwork opened #15245 "Maintain Scroll Position with Layz load images"
I use
https://www.npmjs.com/package/react-lazy-load-image-component
For images because for i can't use gatsby Img - i load images from external server.

The problem is that when i go to previous page scroll do not point to prev state becouse images upside do not loaded thanks to react-lazy-load.
How to solve it or can you recomend other layzy loade image plugin which work good with gatsby?

I pass

[2019-06-29 16:04] lucas-homer commented on #15205
+1 @i-bsd I'm experience build failure after adding styled-components/gatsby-plugin-styled-components

[2019-06-29 17:27] #14230 closed

[2019-06-29 17:47] antoniofull opened #15246 "Memory error when running gatsby build or develop"
## Description
I am unable to run `gatsby build` or `gatsby develop` on a website that I am building. It was working fine until a couple of days ago, but now I get a memory error when running the build.
I tried to delete the node folder, upgrade and downgrade packages but there is not way to make it work. It also fails on netlify with auto deploy.

This is the error:
[code]

I understand that I ca

[2019-06-29 18:40] lukitroe commented on #15220
Hello @KyleAMathews
Thank you much for your help!
Here is the output of `gatsby info`

[code]

Unfortunately it shows the same error! Is there a cache or something similar I can clear? My next steps would be to re-install everything. Do you think it is a good idea?

I appreciate your help!
Best regards,
lukitroe

[2019-06-29 18:53] KyleAMathews commented on #15220
Not sure — try running `npm install -g gatsby-cli@latest`?

[2019-06-29 19:19] antoniofull commented on #15246
Nevermind, I fixed it.
The problem was created when I added the algolia search. I did a reinstall of all modules and added the search in a new branch, step by step and now it seems to work fine.

[2019-06-29 19:19] #15246 closed

[2019-06-29 19:37] ccnixon commented on #3425
I had the same issue. The problem was in my 404 page. I had forgot about that page and wasn't passing in the correct props to the React component it was using. It didn't get triggered during develop because the site is being lazy-loaded not fully compiled.

[2019-06-29 19:55] lukitroe commented on #15220
Hi!

Thank you for your help, now `gatsby info` show this screen:
[code]

But, I'm still not able to run `gatsby develop`. Now there are several problems. One of them is this here
`RangeError: Maximum call stack size exceeded`

Hmmm... now I'm really confused. I'll investigate all my versions and packages, one error message was about core-js. Maybe updating core-js helps.
I'll give feedback if I g

[2019-06-29 19:59] KyleAMathews commented on #15220
Progress!

Try deleting the lock file and node_modules directory and reinstalling.

On Sat, Jun 29, 2019, 12:55 PM lukitroe <notifications@github.com> wrote:

[2019-06-29 20:14] gswirrl commented on #15151
Still fails in 2.11.5, but with a different error

<img width="808" alt="Screenshot 2019-06-29 at 21 13 03" src="https://user-images.githubusercontent.com/17145418/60389058-cd41ab80-9ab2-11e9-872b-f8bb20c2dc6d.png">

(There IS a 404 page)

[2019-06-29 21:41] KyleAMathews commented on #15151
Can you investigate more what's happening? gatsbyjs.org is working fine e.g. https://www.gatsbyjs.org/rhhdjd

[2019-06-29 22:15] xiao-vincent commented on #15205
I was having a similar issue with my builds failing out of no where but managed to fix my issues by disabling source maps using this gatsby [plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-no-sourcemaps/).

I'm not totally sure why this worked for me.

[2019-06-29 22:44] jonthedev opened #15247 "WebpackError: TypeError: Cannot read property 'title' of undefined"
## Description
Hello, I am trying to get my website online.

I get a webpack error from netlify when attempting to build the website. Everything works locally.

### Steps to reproduce

https://github.com/jonthedev/webdev-portfolio

1. git clone
2. npm install
3. create .env file in root directory and create your own CONTENTFUL_SPACE_ID & CONTENTFULL_ACCESS_TOKEN variables.
4. greate repo on git hu

[2019-06-29 23:01] gswirrl commented on #15151
Happy to help, but Im kind of stumped tbh! If I run it locally - it works fine. What can i try?

This is what I get if i do `gatsby new foo` => http://swirrl-scratch.s3-website-eu-west-1.amazonaws.com/

Note that the js bombs out before loading the image even.

[2019-06-29 23:03] gswirrl commented on #15151
The error says the 404 page cant be found, but that's right there at http://swirrl-scratch.s3-website-eu-west-1.amazonaws.com/404/ ???

[2019-06-29 23:06] MWalid commented on #6291
Hi @stephenh,

How did you add `sharp.simd(false)` and `sharp.cache(false)` to `gatsby-node.js`?

We have a website with 9K images. For one month we cannot get the build to work, it always fails with segmentation fault!

[2019-06-29 23:09] gswirrl commented on #15151
One this that I do notice is that this error is in the same function as the previous one, `loadPage`...

[2019-06-30 00:46] NathHorrigan opened #15248 "Requiring a local project file from gatsby plugin results in strange warning"
## Description

When requiring a local project file from a file in the Gatsby plugin (doesn’t matter what type of JS file) you get the following error for multiple non-js file types:

[code]

### Steps to reproduce

`require(‘…’)` a file from main project
 from `gatsby-node.js` file of a plugin.

### Expected result

Warning free build

### Actual result

Warnings from Gatsby compiler

### Environ

[2019-06-30 02:11] Naismith commented on #14565
not stale

[2019-06-30 03:39] KyleAMathews commented on #15248
Which file in your plugin is the js file being required from?

[2019-06-30 03:40] KyleAMathews opened #15249 "New installs of Gatsby fail on builds with source-map error"
`original.line and original.column are not numbers -- you probably meant to omit the original mapping entirely and only map the generated position. If so, pass null for the original mapping instead of an object with empty or null values.`

It seems to just have started happening ~8-12 hours ago.

Neither webpack, webpack-sources, nor source-map have had new releases.

[2019-06-30 03:42] KyleAMathews commented on #15249
Perhaps related to this https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68

[2019-06-30 03:49] wilcoxmd commented on #15249
I can confirm this as well. I just saw this issue about 10 minutes ago and came here to check if anyone else was too. I just upgraded to 2.11.1 before that build. Perhaps there is something related there?

[2019-06-30 03:53] Polyhistor commented on #14699
Well, I think fragments do not address my issue. Image the case where we need 4 images for a component like [this one ](**https://github.com/Polyhistor/WildKiwi/blob/master/src/components/boxes/boxContainer.js**), and then we'd like to use the very 4 images in another component.

How would you DRY this? currently i'm repeating myself.

[2019-06-30 04:04] wilcoxmd commented on #15249
actually i just reverted back to 2.8.5 and am still having the same error, so probably not that.

[2019-06-30 04:12] NogsMPLS commented on #15249
Started happening today in vue-cli also it looks like: https://github.com/vuejs/vue-cli/issues/4210

I imagine its a dependency issue somewhere down the tree.

Might be worth cross referencing pack-lock.json files of gatsby-cli and vue-cli, match commonalities in packages and versions, then find most recently updated on the list and triage from there?

[2019-06-30 04:52] jrestall commented on #14699
I would pull the query out into a separate file under a /hooks folder and then reference that from the components that require the four images. I'd also create a FluidImage fragment to reduce duplication (this could be put in its own /fragments/fluidImage.js file if used in more than one query).

E.g.
[code]

[2019-06-30 05:07] sodatea commented on #15249
Seems a bug in terser 4.0.1

[2019-06-30 05:09] iRoachie commented on #15249
I thought I was losing my mind.

[2019-06-30 05:09] gatarelib commented on #15249
Happened to me while presenting 😂

[2019-06-30 05:35] szimek commented on #15249
Here's a workaround, if you use `yarn`. You can force a working version of terser by adding the following lines to your `package.json`:
[code]

[2019-06-30 05:55] iRoachie commented on #15249
@szimek Didn't change anything for me

[2019-06-30 08:40] joeynimu commented on #15249
@KyleAMathews @szimek seems it this has been resolved? See [this sandbox link](https://codesandbox.io/s/gatsby-starter-default-6muvi?fontsize=14), build runs with no errors.

[2019-06-30 08:43] szimek commented on #15249
@joeynimu This sandbox uses terser 4.0.0. You can check it using `yarn why terser`.

@iRoachie I tried it with a new project and it fixed this issue for me. It's possible that you have other library that has `terser` as a dependency. You can run `yarn why terser` to confirm how many versions of terser you have and which one is actually used.

You can try this to force terser 4.0.0 for all librarie

[2019-06-30 08:47] spences10 commented on #15249
Hey @joeynimu that codesandbox is using v2.10.4, is the gatsby version not the issue here but terser?

@szimek I have `terser@4.0.1` are you suggesting with the `resolutions` in my package.json that I should use `terser@4.0.0`?

[2019-06-30 09:04] szimek commented on #15249
@spences10 	As @sodatea mentioned before, this issue is caused by `terser 4.0.1` library (https://github.com/terser-js/terser/issues/380). `terser 4.0.0` doesn't have this issue.

The `resolution` option should be added to your `package.json` file. You can read more about it here: https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

When a new Gatsby project is generated, it uses `ters

[2019-06-30 09:08] spences10 commented on #15249
@szimek thanks, I was just looking at the terser error when I saw you referenced this issue there :grin:

Ok, so I added the additional `resolutions` property to my `package.json` and was still getting build errors, so I defaulted to:

[code]

And it's built ok this time, I'm going to push it up to netlify and see if it still doesn't break.

Thanks

[2019-06-30 09:18] joeynimu commented on #15249
I see. I did a `yarn upgrade` on the sandbox which now caused the `build` to fail. After adding a resolution to the `package.json` like @szimek has suggested, the build ran okay.  [Link to sandbox](https://codesandbox.io/s/gatsby-starter-default-6muvi?fontsize=14)

**Note** The sandbox is the default `gatsby` starter template with the default installs/dependancies.

[2019-06-30 09:30] anamwp opened #15254 "How to implement owl carousel in gatsby with react"
Hello,
I want to use `owl carousel ` in my gatsby project.
I am using `https://www.npmjs.com/package/react-owl-carousel` this library .
But can not configure the settings.
Also can not understand where should I place the webpack configuration.
Any help is much appreciated.
Thanks.

[2019-06-30 10:56] NathHorrigan commented on #15248
Hi @KyleAMathews,

The require happens on both line 23 and 54 of this file: https://github.com/NathHorrigan/gatsby-source-wagtail-grapple/blob/master/src/preview-template.js#L23

The code is fully functional beyond these warnings 😕

[2019-06-30 11:00] lukitroe commented on #15220
Hello @KyleAMathews

I think, my system is completly broken now. So I think, this ticket can be closed, cause it is no general error of Gatsby, but a problem of my setup. I constantyl ran into the same error. Maybe I switch to Docker Images and Containers, otherwise I have to redo all my work.

However, I really want to thank you for your help and your patience.
Best regards,
lukitroe

[2019-06-30 11:14] #15249 closed

[2019-06-30 11:17] dijonmusters commented on #15125
Hey @rlynn523 and @bculp. I would also be keen to help out with this, if there is a section that could easily be sectioned off/if you run out of time 🙂

[2019-06-30 11:18] m-allanson commented on #15249
Temporary fix published in `gatsby@2.11.6`, thanks @pieh!

[2019-06-30 13:09] ssijak opened #15255 "Build fail with heap out of memory error in gatsby 2.11.6"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

### Expected result

What should happen?

### Actual result

What happened.

### Environment

Run `gatsby info --clipboard` in your project directory

[2019-06-30 13:10] ssijak opened #15256 "Build fail with heap out of memory error in gatsby 2.11.6"
## Description

With Gatsby version 2.11.6 I can`t build a production version of the app because it fails with out of memory exception while building (same on my machine and on Netlify). If I downgrade to version 2.10.5, build is working as expected.

### Steps to reproduce

Run `rimraf .cache public && gatsby build`

### Expected result

Build should succeed

### Actual result

Build fails with o

[2019-06-30 13:10] #15255 closed

[2019-06-30 13:11] ssijak commented on #15255
accidentally posted without info

[2019-06-30 13:16] ssijak commented on #15190
I am too experiencing this problem with Gatsby 2.11.x versions and not with 2.10. I downgraded for now.

[2019-06-30 15:01] kkaramch commented on #14897
@marcysutton I'd like to help with this issue. It's my first contribution.

[2019-06-30 15:02] kkaramch commented on #14897
I submitted a PR. #15257

[2019-06-30 15:08] watadarkstar commented on #14897
Hi @marcysutton I'll be assisting @kkaramch with his PR - he's my mentee over the summer 😄 I'll be keeping an eye out for your comments on his PR (if any) and helping him work through them.

[2019-06-30 15:25] PedroLamas commented on #15058
Glad I found this already reported by @robinmetral as I was about to do it myself! 😛

[2019-06-30 15:48] SpicyPete commented on #15190
Also getting this issue with Gatsby 2.11.x while using styled-components.  Sticking with 2.10 for now.

[2019-06-30 15:59] hupe1980 commented on #15190
I have the same issue. A downgrade to 2.10 solved the problem

[2019-06-30 16:02] asistapl commented on #15256
I'm getting the same error but it works when I disable `gatsby-plugin-netlify-cms` in gatsby-config.js. Do you experience the same thing?

[2019-06-30 16:14] lukitroe commented on #15220
Hello!
Finally, I found a solution, I mean, @KyleAMathews wrote already the correct solution:
1.  delete nodes_moduls and lock file
2.  reinstall via `npm install -g` and afterwards `npm install`

Additionally, I executed `gatsby clean`.
AND, it seems, my main problem was a line with `gatsby-link` in my `package.json` file. Deleting this line, redo steps 1 and 2 did the trick. Please do not ask ho

[2019-06-30 16:17] asistapl commented on #15256
It looks like version 2.11.0 introduced "enable babel-loader for all dependencies" (https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANGELOG.md#2110-2019-06-27) and netlify-cms-app.js is just too big for babel.
I'm getting this warning before node crashes:
[code]

[2019-06-30 16:19] taran-gill commented on #15105
Hey, this weekend's a little busy for me and I'm not sure when I can get time to look at this, so I won't assign this to myself and defer to anyone who would like to do this.

[2019-06-30 16:36] reimertz commented on #15256
I have the same issues, trying to figure out how to get my site to build over at netlify. Will let you know of my progress.

[2019-06-30 17:04] duongthienlee commented on #15254
Is that you need to use jQuery with react-owl-carousel ?
Because the documentation also mention you can use html script tag to inject jquery as well.
Here is how you can customize html in gatsby:
https://www.gatsbyjs.org/docs/custom-html/
Also here if you want to customize webpack:
https://www.gatsbyjs.org/docs/add-custom-webpack-config/

[2019-06-30 17:05] enmanuelduran opened #15258 "CSS modules break production build and upgrading gatsby packages wont work"
## Description

I recently made a migration to CSS modules on my site, everything was working locally with `gatsby develop` but after running `gatsby build` and `gatsby serve` and checking the site to deploy to production it turns out styles are breaking.

After trying multiple things and reading issues I came across [this PR](https://github.com/gatsbyjs/gatsby/pull/11800) from @KyleAMathews that

[2019-06-30 17:07] #15007 closed

[2019-06-30 17:27] #14262 closed

[2019-06-30 17:27] #14342 closed

[2019-06-30 17:29] jjazzymane commented on #14672
It’s still an issue for me, please keep open ;)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: gatsbot[bot] <notifications@github.com>
Sent: Sunday, June 30, 2019 1:28:02 PM
To: gatsbyjs/gatsby
Cc: Jeff Wright; Author
Subject: Re: [gatsbyjs/gatsby] gatsbyjs contentful blog-pages link to wrong content (#14672)

Hiya!

This issue has gone quiet. Spooky quiet. 👻

W

[2019-06-30 17:36] KyleAMathews commented on #15220
Great!

On Sun, Jun 30, 2019, 9:14 AM lukitroe <notifications@github.com> wrote:

[2019-06-30 17:51] enmanuelduran commented on #15258
## First Update:
After spending some more time digging a little deeper into the errors I have managed to make my local environment work with the latest packages versions by removing aliases (absolute paths) from my modules imports. After making multiple tests [Kyle's code splitting solution](https://github.com/gatsbyjs/gatsby/pull/11800) seems to have fixed my CSS problems.

I am not a fan of havi

[2019-06-30 17:51] #15258 closed

[2019-06-30 17:58] rchrdnsh opened #15259 "Wrong favicon showing up in macOS Safari...."
The gatsby favicon is showing up in macOS safari, even though it's been changed quite a while ago. The correct favicon works properly in chrome and firefox. Even the gatsby favicon has been removed for quite some time from the project images folder.

Do I need to do something in safari to make it show up?

[2019-06-30 19:40] RXminuS commented on #15256
Same issue. Mine never even gets to the out of memory error on Netlify because it takes too long. But on my local machine it does. Same site works perfectly with older version of Gatsby.

[2019-06-30 19:48] marieqg commented on #4967
Hello,
I'm having the same issue.

When I run gatsby --version, I get a : -bash: gatsby: command not found.
In the step 3, when I run:

I get this result :

/Users/mariequittelier/npm/lib
└── gatsby-cli@2.7.7

My environment details are as follows:
npm -v : 6.9.0
node -v : v10.16.0

What can I do to make it work?

[2019-06-30 19:57] RXminuS commented on #15256
I'm having the same issue and receive a similar error message but for `@fortawesome/free-solid-svg-icons`. I tried increasing the memory limit like `node --max_old_space_size=12000 ./node_modules/.bin/gatsby build --prefix-paths` but that didn't accomplish anything.

When looking in htop I can see 4-5 gatsby processes running up to about 1GB of memory and then all jump down again only to slowly cl

[2019-06-30 20:35] tripphamm opened #15261 "gatsby build ELIFECYCLE error code 1 with no error message"
## Description

I'm having trouble building my gatsby app and I'm not able to find any error message to help debug the issue.

### `gatsby develop` works fine with no errors reported

`npx gatsby develop` -> success
`yarn develop` -> `gatsby develop` -> success
`npm run develop` -> `gatsby develop` -> success

### `gatsby build` works via `npx` but not `yarn` or `npm` even though it appears that a

[2019-06-30 20:54] kencoxdesign commented on #5581
Any update on this? Just finished my first Gatsby site and really don't feel comfortable releasing it with such a huge accessibility hole. Safari/Voiceover is not managing page change focus at all for <Link>s

[2019-06-30 21:23] #14656 closed

[2019-06-30 21:43] Vanuan commented on #15205
Build stuck for me locally after adding Gatsby styled components plugin. It was fine without the plugin.
The issued didn't reproduce in the [example](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-styled-components).
So I went on and investigated the difference.

I have figured out that this was the culprit:
[code]

So to fix the issue I had to do this:

[code]

Looking at [its rele

[2019-06-30 21:48] Vanuan commented on #15205
Looking at the list of issues I found that gatsby users weren't the only victims:

https://github.com/styled-components/babel-plugin-styled-components/issues/232

[2019-06-30 22:08] Polyhistor commented on #14699
I've created a **framents.js**  and **imageQuery.js** to store my queries and fragments;

**imageQuery** looks like this:

[code]
and the **fragments.js** looks like this:

[code]
The **component** in which I'm using the Query?

[code]

For some unknown reasons the query is not being exerted, i've consoled it and this is what I get:

[code]
The problem is that if I use ImageQuery, we are just retu

[2019-06-30 22:14] jrestall commented on #14699
imageQuery is a react hook/function so you need to call it to fetch the data rather than render it directly.

See the example here:
https://www.gatsbyjs.org/docs/use-static-query/#composing-custom-usestaticquery-hooks

E.g.
I've renamed it to useImageQuery as since it is a hook you should follow naming conventions.
[code]

[2019-06-30 23:04] Polyhistor commented on #14699
Thanks a lot mate! I think I've gotta browse through documentation more meticulously... I've overlooked the fact that we are doing custom hooks here.

Here is my component now;

const Test = () => {
  const { newVehicleDesk } = useImageQuery()
  console.log(newVehicleDesk)
  return (
    <div>
      <p>we are testing here mate</p>
      <Box
        imageData={newVehicleDesk.childImageSharp.fluid}

[2019-06-30 23:26] jrestall commented on #14699
Your last example should work, make sure you change the Test component to not use the destructuring assignment when calling useImageQuery.

E.g.
[code]

[2019-06-30 23:30] Polyhistor commented on #14699
Yea, I realised that quickly. Your help is much appreciated.

Cheers mate.

[2019-06-30 23:30] #14699 closed

[2019-07-01 00:29] chrisbuttery commented on #15043
Our team has also faced this issue.
We added the same flag to our start command.

[code]

[2019-07-01 01:14] coreyward commented on #10090
@pieh Is it possible the latest round of schema customization updates make this easier?

[2019-07-01 01:30] jameswlane commented on #15261
I am actually receiving the same message with my [site](https://github.com/jameswlane/customlane.design)

I ran `GatsbyJS` with node inspect enabled `node --inspect-brk --no-lazy node_modules/gatsby/dist/bin/gatsby build` it runs fine then gets hung up on `Waiting for the debugger to disconnect...`

Even the logs are not very helpful:
[code]

[2019-07-01 02:24] lannonbr commented on #15234
Hey Marcy, I'd be interested in working on this issue. I was actually just helping someone with this (specifically the first bullet), and I think this will be very useful for those who wish to add images to pages written in markdown.

[2019-07-01 02:25] lannonbr commented on #15234
Hope to get a draft PR up in a day or two

[2019-07-01 02:47] colbyfayock commented on #7252
i think i'm also seeing this on s3, or something similar. can confirm the 404 page is there by going to /404, which also throws an error. I started seeing this after #11524 was resolved, which i was first having issues with.

issues have been only happening on deploy. building locally via mac and upload to s3 works fine. build on deploy via linux with upload to s3, no luck. have been using freeze

[2019-07-01 02:52] shansmith01 commented on #14493
Hey @ChristopherBiscardi I was just talking to you on twitter about something like this. I would love to know more. At the moment I am messing around with an eccom theme so what I was think of doing it something like this in gastby-config
[code]
And then say in my gatsby-theme-eccom/src/components/whichEverComponent be able to use that API key like so...
[code]

[2019-07-01 03:43] statico commented on #9207
I've just started evaluating Gatsby. Is there a way that, say for a given path `/foo`, have Gatsby generate `public/foo.html` instead of `public/foo/index.html`?

[2019-07-01 03:57] decimoseptimo commented on #9207
Not at the moment. The closest would be name your pages like `page.html.js`.
My advice to you would be to stick with trailing slashes.
For non-trailing slashes to work you'll need to do some server-side url rewriting.

[2019-07-01 04:25] ythecombinator commented on #14931
Hey @KyleAMathews, I have something similar going on here; the difference is that `gatsby build` fails locally too – `gatsby develop` runs smooth, tho.

There's a branch of my repo where you can reproduce the error [here](https://github.com/ythecombinator/space/tree/issue-6).

[2019-07-01 05:41] chancestrickland commented on #7885
Leaving this in case anyone encounters a similar issue, @jmknoll noted an issue with semantic.css, which gave me a feeling that it may have been applying `overflow-x: hidden` to the root html element, which will break scroll events. Ran into a similar issue myself. Move the overflow declaration to your `body` selector instead and you should be good if that's your issue.

[2019-07-01 05:50] wardpeet commented on #15190
@hendra-go mind sharing your repo?

[2019-07-01 06:08] rchrdnsh commented on #15049
I'm just trying to fix the behavior of a few key browsers and the way they handle vh units in css.

This image illustrates the issue:

![iOS-100vh-bug-compressor](https://user-images.githubusercontent.com/7884263/60413940-807dd380-9b8b-11e9-91f1-f4eadf69c299.png)

...where iOS safari and chrome calculate 100vh to include the browser ui, as they will disappear upon scroll. I have disabled the brows

[2019-07-01 07:39] wardpeet commented on #15190
new version got published 4.1.1, it should fix this issue.

[2019-07-01 08:45] wardpeet commented on #15207
@shendriksza, commons.js is only used for development. On production, we create app-[hash].js to bundle all common code. All the rest is added to the page itself.

[2019-07-01 09:12] pieh commented on #15259
Might be just stale Safari cache, please try checking https://blog.madjid.net/force-refresh-favicon-safari

[2019-07-01 09:15] ervasive commented on #14398
This is how I currently do this kind of stuff.

First I add the required data to the page context with [`onCreatePage`](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#pass-context-to-pages) hook (btw it would be neat to have access to `graphql` in this hook).

This makes it possible to access this data in another hook [`wrapPageElement`](https://www.gatsbyjs.org/docs/browser-apis/#wra

[2019-07-01 09:17] pieh commented on #15247
Hey @jonthedev!

You have `ProjectCard` component inside `/src/pages` of your project and Gatsby will automatically try to create page for it.

In there you tried to access `props.project` ( https://github.com/jonthedev/webdev-portfolio/blob/015d3e7f34d551a33a6a83c05e6edc12e7e657da/src/pages/projectCard.js#L15 ) which won't exist for page.

I think moving `projectCard.js` to `/src/components` make

[2019-07-01 09:38] pieh commented on #15242
Can you try updating Gatsby? Recently we added https://github.com/gatsbyjs/gatsby/pull/15227 that touches this part (handling graphql errors from queries in gatsby-node).

And I couldn't really reproduce with latest version - I'm getting:
[code]

In case updating Gatsby doesn't work, then reproduction case would be great

[2019-07-01 09:50] pieh commented on #15241
The `maxHeight` option kind of works now, but probably not in a way you would want I think. When you use `maxWidth` and `maxHeight` together today - this will force aspectRatio and crop images.

What would be needed here is support for `fit: inside` (from `sharp` options in http://sharp.pixelplumbing.com/en/stable/api-resize/#resize which won't crop/change aspect ratio - just set maximum bounds).

[2019-07-01 09:55] pogo19 commented on #15190
It seems fixed for me. Thanks!

[2019-07-01 10:14] pieh commented on #15200
Gatsby was doing this by default since v1 (so users can link to files and access file transformations - i.e. image transformation with `sharp`), but you can force this field to be just String by adding:

[code]
to your `gatsby-node.js` file

[2019-07-01 10:15] Undistraction commented on #14990
We are seeing the same issue as of 2.9.9. Using self-signed certs now causes builds to fail.

The workaround in #15043 works, but isn't a long-term solution.

The workaround is to set this env before running start:

[code]

[2019-07-01 10:21] pewStocky commented on #9207
Hi there, this would be great to have looked at as can cause issues SEO wise based on current builds etc.

One of the main things SEOs will look at when their internal dev team is wanting to use a new approach like Gatsby are things like these.

Seems a bit weird that it forces / overwrites server side rules on trailing slashes, not sure how much work this will be but would help a lot! Thanks

[2019-07-01 10:36] crofty commented on #13980
We were running into issues that I think were related to this.  Our builds were happening within a docker container on CircleCI.  The issues went away when we switched away from using docker containers and building using the machine executor.
Could be worth a try for anyone else blocked by this issue.

[2019-07-01 10:48] pieh commented on #15237
Yeah, we should bump `@hapi/joi` to `^15` version.

According to https://github.com/hapijs/joi/milestone/146?closed=1 only breaking change is related to `email()` validator (which we don't use), so we should be ok with just bumping package version.

Here are locations that need bumping:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json#L20
https://github.com/gatsbyjs/gats

[2019-07-01 10:58] duongthienlee commented on #15256
Latest
             `"gatsby":` "^2.11.7",
               "gatsby-plugin-netlify-cms": "^4.1.1"
doesn't fix the mentioned issue.
I'm using netlify-cms, hence, really need to use gatsby-plugin-netlify-cms though remove that package will solve the issue.

[2019-07-01 11:08] mongkuen commented on #9918
got bit by this again.

I had a context that used state like `useState(false)`, which should initialize that piece of state to false.

But console logging during the build process getting the server rendered html said that piece of state initialized as `{}`, which then made all the styling comparisons wrong for the first page show.

[2019-07-01 11:11] gswirrl commented on #15151
update: yes this indeed seems to be the issue.

manually setting the content type on everything in `/page-data/*/*.json` to `application/json` fixes it. it's quite a drag to work through all the json files but it works i think.

im still confused why this has only now started to be an issue however.

you might want to add this fix to the S3 section of the notes?

[2019-07-01 11:13] ambwani commented on #7658
Hi, I found a use case for showing a loader when the page is loading. For instance, when disabling throttling and switching to a slow 3G connection, I would want to show the loader while my components mount. Is it possible to do something along those lines?

I was thinking of adding a `<div className="loader"></div>` in `layout.js`, right above `<div>{children}</div>`, then show and hide it as nee

[2019-07-01 11:22] pieh commented on #15245
Can you provide some sample code? I never used that package, so not sure how it works / behave.

[2019-07-01 11:26] jrestall commented on #5995
For those coming across this issue, as an update to the above, I did end up solving this for the OrchardCore CMS. It builds pages dynamically from potentially 100's of widgets so I did end up creating a template file dynamically for each page that is defined in the CMS.

The main code can be found at
- https://github.com/jrestall/gatsby-orchardcore/blob/master/packages/gatsby-theme-orchardcore-pag

[2019-07-01 11:28] pieh commented on #14990
Seems like this is coming from https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/reporter/reporters/ink/components/develop.js#L46-L56

Potential code change that would fix crashes would be using https.Agent which doesn't reject unauthorized there - here's snippet I found in https://github.com/bitinn/node-fetch/issues/19

[code]

[2019-07-01 11:30] anamwp commented on #15254
This solution works for me.
Thanks @duongthienlee  for the resource.
[code]
Thanks.

[2019-07-01 11:37] pieh commented on #15254
Issue seems resolved, so I'll close it.

[2019-07-01 11:37] #15254 closed

[2019-07-01 13:11] KyleAMathews opened #15272 "Measure key performance numbers in CI (and via telemetry when makes sense)"
Gatsby stakes its reputation on being fast.

We should measure closely key performance numbers so we don't introduce accidental regressions (and so we can know when various improvements are working).

We should measure these in CI and fail builds that slow things down. We should also track bootstrap numbers in telemetry so we can see how things look in the wild.

- develop & build bootstrap up to

[2019-07-01 13:19] m-allanson commented on #15043
Thanks @rayriffy - there's another issue tracking this at #14990. I'm going to close this one as a duplicate.

If anyone's able to [investigate this comment](https://github.com/gatsbyjs/gatsby/issues/14990#issuecomment-507225863) and create a PR, we would love your help!

[2019-07-01 13:19] #15043 closed

[2019-07-01 13:29] m-allanson commented on #11536
Should this switch from:

`"@gatsbyjs/relay-compiler": "2.0.0-printer-fix.2",`

to:

`"relay-compiler": "5.0.0,`

or a different version?

See [here for a similar PR](https://github.com/gatsbyjs/gatsby/pull/11759/files) if anyone would like to take this on.

[2019-07-01 14:02] asistapl opened #15273 "Querying GraphQL in 404 page not working"
## Description

I'm getting error when running `gatsby build` for a second time (with cache present).
It happens only when I query image in 404 page.

### Steps to reproduce

1. Fork this sandbox https://codesandbox.io/s/gatsby-starter-default-edlku where I replaced `404.js` page content with content from `components/image.js`.
2. Run `yarn build`

### Expected result

Everything works as expected

[2019-07-01 14:49] rkretch91 commented on #15205
Tried a combo of all of these but sadly still stuck. Think we all have a same same but different issue depending on the various packages we have installed.

[2019-07-01 14:52] i-bsd commented on #15205
For me, I disabled `react-lazyload` and everything works again.
Weird thing is - I've never had a problem using that package until now. I'd love to know what changed in the last gatsby update to cause it to break like this.

[2019-07-01 14:54] #15183 closed

[2019-07-01 14:54] #15207 closed

[2019-07-01 14:57] kogal commented on #15256
Same issue here..

[2019-07-01 15:07] fk commented on #14427
#15016 has been merged, closing!

[2019-07-01 15:07] #14427 closed

[2019-07-01 15:22] rchrdnsh commented on #15259
hmmm...just tried that, but it does not seem to have worked...I got the gatsby favicon again, instead of mine. Will google around and see if I can find anything as well.

[2019-07-01 15:49] wKovacs64 commented on #14815
Any luck with this, @sidharthachatterjee? I tried to take a look but those changes are a bit intimidating. Maybe @Moocar would know what's up?

[2019-07-01 15:54] ArthurHwang commented on #15205
I am still having this issue.

I've tried the above fixes adding no sourcemaps and also disabling react-lazyload.

Gatsby build and develop both complete locally.  Netlify is stuck.

[2019-07-01 16:02] danboyle8637 opened #15275 "Site won't build on Netlify. No errors, but a timeout."
## Description

I'm trying to deploy to Netlify but my site won't build with their deploy process. It times out after generating image thumbnails. See below on Netlify Deploy logs.

Locally it builds fine with no errors.

I updated my packages after deleting a page I didn't need anymore and removing the components and queries for the page. That was the only change I made, but it seems updating my

[2019-07-01 16:06] marieqg opened #15276 "gatsby: command not found after npm install"
When I try to install gatsby running npm install 'gatsby-cli -g' , it does not work : when I run 'gatsby --help', it shows:
'bash:gatsby command not found'

I have tried:
1) uninstalling and reinstalling NPM
2) this gitHub solution : https://github.com/gatsbyjs/gatsby/issues/4967
I get a permission error when trying to change npm config set prefix /usr/local
3) Uninstalling and reinstally Gatsby

[2019-07-01 16:07] BrunoQuaresma commented on #12967
I don't know why but I just put the plugin as the first one in the config file.

[2019-07-01 16:33] SpicyPete commented on #15190
Still broken for me when using `styled-components` 🤔

[2019-07-01 16:40] pieh commented on #15276
It does seem like globally installed packages for some reason not work in your environment :/

Here's another article worth to go through: https://medium.com/@jagatjyoti.1si13cs040/npm-g-install-npm-package-not-working-as-desired-why-why-why-19795abf0b59

If this won't help, there is workaround this that you can try - instead of trying to install and use globally installed `gatsby-cli`, you can us

[2019-07-01 16:40] m-allanson opened #15277 "Wishlist for the next major version of Gatsby (v3)"
# Summary

This is a wishlist issue for thinking about what changes **might** go into the next major version of Gatsby .

## This is NOT a V3 umbrella issue. There will be separate issue/project with subset of this list once enough ideas are gathered and we do research on impact, migration paths, engineering/documentation efforts etc of each of the items

*Note that we have not started work on the

[2019-07-01 16:46] SpicyPete commented on #15256
Same here with `gatsby 2.11x`, but seems to complain about `styled-components` and `lodash`.
Sticking with `gatsby 2.10.x` in the meantime.

[2019-07-01 17:00] ArthurHwang opened #15278 "Netlify wont build. Building gatsby-image and production js / css bundles now takes substantially longer time."
## Summary
Every deploy to netlify since I believe since around 6/27 has massively grown in time to build and get hit with timeout everytime.
Before whatever that happened, my deploys used to build pretty quickly for a 3000 ish page with 4000 image transformation site.
## Relevant information

Here is a screenshot from before this started happening of a usual deploy:

https://imgur.com/SINW61K

He

[2019-07-01 17:01] DSchau opened #15279 "[feat]: pass data from webhook to sourceNodes function"
## Summary

Gatsby Preview invokes [sourceNodes](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/develop.js#L186) kinda blindly from the webhook.

To make authoring _some_ source plugins easier, we could directly pass the webhook data from the CMS -> Gatsby Preview -> Gatsby, which oftentimes contains the incremental data that is needed to refresh Gatsby Preview content

[2019-07-01 17:06] jhoffmcd commented on #14398
@ervasive interesting approach! I will try it out. Thank you 🎸

[2019-07-01 17:15] scandeezy commented on #15153
I seem to be experiencing an issue that sounds like this, so I'd be interested in knowing if you discovered anything @Steffi3rd .  I'm more than okay with finding out I've done something wrong if it gets me moving forward.

We have a few `.webp` images on the page, and they don't seem to generate a request now. I'm not getting a 404 in the chrome network tab, which makes be believe the resource is

[2019-07-01 17:27] #14245 closed

[2019-07-01 17:34] DSchau opened #15281 "[feat]: expose API to validate pluginOptions"
## Summary

Passing options to plugins is a key construct in Gatsby, and the plugin ecosystem is key to the power and reusability of any Gatsby application.

However — currently we’re encouraging plugins to implement their own plugin validation API, or worse yet, to not validate options whatsoever. This leads to failing much later than needed, and we should fail early with a nice, helpful error me

[2019-07-01 17:46] lesleyNilson opened #15282 "How to use jQuery in a component with react owl carousel?"
Hello at all,
I have installed the REACT-OWL-CAROUSEL  with npm i react-owl-carousel in a local environment.
Then I build my component:

[code]

running "gatsby develop" is fine, but in the browser I get errors e.g.:

TypeError: Cannot read property 'fn' of undefined
(anonymous function)
node_modules/react-owl-carousel/umd/OwlCarousel.js:1758
  1755 |  * @todo Navigation plugin `next` and `prev`

[2019-07-01 18:42] KyleAMathews commented on #15281
New life cycle hook makes a lot of sense to me & I think we strongly encourage Joi but given we'd want to push people to use structured errors from the get-go — it might not actually matter too much what they use. They just just do simple checks right on the option object too if they wanted.

[2019-07-01 19:07] zslabs opened #15286 "excerpt(pruneLength: 120) returning entire article"
## Description

[code]

returns entire post; not trimmed to 120 characters.

### Steps to reproduce

MarkdownRemark is returning entire article for excerpt field. Was previously running `"gatsby-transformer-remark": "2.3.12",` with it working fine, but upgrading to `"gatsby-transformer-remark": "2.5.0",` has the issue.

### Expected result

Return trimmed excerpt.

### Actual result

Returned enti

[2019-07-01 19:09] sidharthachatterjee opened #15287 "chore(gatsby-source-filesystem): Deprecate multiple different versions of birth time on File"
@pieh and I noticed that we have three different versions of birth time in File

- birthTime
- birthtime
- birthtimeMs

Probably want to clean this up at some point 😂

[2019-07-01 19:11] zslabs commented on #15286
https://github.com/gatsbyjs/gatsby/pull/14723 may be the culprit

[2019-07-01 19:54] rwieruch commented on #15190
I ran into this today as well:

[code]

It happens for a large markdown file (exactly [this long read blog post](https://www.robinwieruch.de/complete-firebase-authentication-react-tutorial/) which I want to transfer from my old Hugo website to my new Gatsby website). In Gatsby I use PrismJS and MDX.  The 1600th line of markdown kills it.

So I am not entirely sure whether it is related, because I

[2019-07-01 20:06] spences10 commented on #15287
What's the work involved in this @sidharthachatterjee?

[2019-07-01 21:00] KyleAMathews commented on #15287
No one noticed before @pieh went and added that explorer sidebar!!! 😅

[2019-07-01 21:00] taughenbaugh commented on #11243
Adding `/` to the beginning of links removed the related warnings for me.

[2019-07-01 21:12] adekunleoduye commented on #15209
I think this is an issue with `gatsby-mdx` plugin. Moving it to that repo.

[2019-07-01 21:12] #15209 closed

[2019-07-01 21:43] marcosilvestroni commented on #14232
Hi, everyone, I'm still here with the same problem, I changed the library but the issue remains so I created a repo to reproduce the problem.

here the repo https://github.com/marcosilvestroni/testMedia

to check the problem build the project and via the inspector have a look at the classnames of the divs when you change the device. If you reload the page the switch won't work properly, the proble

[2019-07-01 22:06] tmo207 opened #15291 "Getting trackbacks/pingbacks from wordpress"
## Summary

I'm migrating a wordpress blog to Gatsby with the help of `gatsby-source-wordpress`. Now I want to get the pingback comments over GraphQl, but the allWordpressWpComments query doesn't return them. I wasn't able to find the pingback comments while digging through the Wordpress REST API of my website as well, so no wonder they don't exist on the query. How am I able to get them though?

[2019-07-01 22:08] sidharthachatterjee commented on #15287
@spences10 We'll probably want to

- mark two of them (birthtime and birthtimeMs likely) as deprecated in GraphQL and show a warning when they are used
- update usage across this repo to `birthTime`

[2019-07-01 22:16] tmo207 opened #15292 "Filtered comments to WordPress post in GraphQL query returns empty array"
## Summary

I'm using `gatsby-source-wordpress` and I'm quering for the post and the related comments inside my post template. GraphiQl returns the desired data on the query (one object with the post data and one object with an array filled with the comment data), but inside my code the comment object always returns an empty array.

## Relevant information

I'm using the `gatsby-starter-wordpress`

[2019-07-01 22:34] KyleAMathews commented on #15071
This would definitely be something we're interested in! This will work super well with Gatsby Cloud as we'll be able to off-load processing of videos into cloud workers.

[2019-07-01 22:35] KyleAMathews commented on #15071
We're designing a proper Jobs API that this should hook into.

[2019-07-01 22:42] marcysutton commented on #5581
@kencoxdesign yes! I've been conducting user testing on [accessible client-side routing](https://marcysutton.com/prototype-testing-accessible-clientside-routing/) for the past month, determining the best way forward to serve people with disabilities beyond screen reader usage only. The latest code development is that we have #13197 to merge, which will make an incremental improvement to at least a

[2019-07-01 23:01] jockjocko commented on #13981
I'm also facing this issue

You can also set the **metafields** visibility by adding the [shopify graphql app ](https://shopify-graphiql-app.shopifycloud.com/)to your store and then query

[code]

Then the following query will work using the Storefront api

[code]

However querying the following using gatsby-source-shopify doesn't work as metafields isn't a known field

[code]

[2019-07-01 23:05] jonthedev commented on #15247
@pieh Your right, I did what you said and that solved my issue thanks very much!

[2019-07-01 23:24] iamskok commented on #13981
I’m actually working on a PR for Gatsby-source-shopify which will let you
query metafields, it’s in a private repo at the moment(still have some
clean up to do). I think it might speed up the process if you’ll open a
feature request issue and assign me to it. Thank you

On Mon, Jul 1, 2019 at 16:02 Jack Davies <notifications@github.com> wrote:

[2019-07-01 23:46] JaKXz opened #15294 "gatsby-plugin-create-client-paths with nested folder/files?"
## Description

Hi! I'm using `gatsby-plugin-create-client-paths` with `['/account/*']` in the options and I'm wondering if the following file structure will/should work (using index files and nested files & folders):

[code]

### Steps to reproduce

The implementation of account/index.js looks something like this:

[code]

### Expected vs Actual result vs workaround

What happens with this setup

[2019-07-02 00:15] #15247 closed

[2019-07-02 00:37] vrgimael commented on #15294
I am having the exact same problem and I've been going nuts trying to figure out what's going on - checked all the blames on git and nobody touched these files in a while but for some reason the routing is not working anymore.

Maybe the routing plugin got broken in some recent commit?

[2019-07-02 00:39] neterial commented on #11541
it seems to be related to chrome version, the hot reloading breaks and give out Unexpected token < in JSON at position 0 on Chrome( mine version is 75) but works on safari

[2019-07-02 00:45] Vanuan commented on #15205
@rkretch91 @ArthurHwang Have you tried installing a different version of babel-plugin-styled-components?

[2019-07-02 00:53] Vanuan commented on #15205
Looks like it's fixed in babel-plugin-styled-components@1.10.6

[2019-07-02 01:12] kogal commented on #15256
After a little search, I figured out that 'gatsby-plugin-netlify-cms' is not the problem in my case.
The issue is happening due to 'gatsby-plugin-material-ui' requiring 'autoprefixer'.

Any I ideas why this might be happening?

[2019-07-02 01:37] vrgimael commented on #15294
This is definitely one of the weirdest things I've seen with gatsby - I still have absolutely no idea what the hell is going on but I've done some investigation and maybe someone can help us out here

So... I've found that whenever the "gatsby-plugin-create-client-paths" is enabled, the index.js file of the paths in "prefixes" simply gets ignored and the first folder organised by some order (seems

[2019-07-02 02:15] prestonso opened #15298 "[themejam] Design showcase launch and winner announcement state for Theme Jam website"
Once we are close to or reach 12 contest entries, we need to design the showcase launch state for the Theme Jam website so that improvement of the Gatsby theme can proceed.

### Specification

From @jlengstorf:

#### Showcase launch scope

Once we hit 12 entries (this is a good number because grids flow well at 6/4/3/2 wide) we’ll want to launch the showcase to show contest momentum and boost the

[2019-07-02 02:18] devpascoe commented on #11108
A bit annoying but glad to have found folks struggling with the same issue. Switching from p to div worked.

[2019-07-02 02:41] oste opened #15299 "React.Children.only expected to receive a single React element child."
## Description
Using material-components-web-react Textfield(https://github.com/material-components/material-components-web-react/tree/master/packages/text-field) causes the below stack trace

[code]

### Steps to reproduce

1) install "@material/react-text-field": "^0.14.1",
2) add `import TextField, { HelperText, Input } from '@material/react-text-field';` and then `<TextField></TextField>` to p

[2019-07-02 04:25] dannyphillips commented on #13980
@KyleAMathews are you able help? We're currently blocked by this with no solution.

[2019-07-02 04:55] grubersjoe commented on #15278
Try using `babel-plugin-styled-components@1.10.6`. Upgrading to this version fixed the build performance issues for me.

See here for more details: https://github.com/styled-components/babel-plugin-styled-components/releases/tag/v1.10.6

[2019-07-02 05:39] shendriksza commented on #15207
@wardpeet Thanks! That makes perfect sense. I had a reach-router on the /app path which completely threw me off from making that connection

[2019-07-02 06:02] Jivings opened #15302 "Code splitting common vendor files"
# Summary

I have a rather large package that is being built into all of my page bundles.

I was under the impression from the docs that this would be ripped out into a common bundle, which is then only imported once? Am I missing a required option for this?

## Relevant information

Here is my bundle analysis;

<img width="1464" alt="Screen Shot 2019-07-02 at 12 59 31" src="https://user-images.gi

[2019-07-02 06:06] HrishiPolAleph commented on #13442
@freemh  by removing the files and npm install solved the problem for me on macos.

[2019-07-02 06:40] marcuslindfeldt opened #15304 "[Discussion] gatsby-source-contentful requires at least one instance for schema"
[gatsby-source-contentful](https://www.npmjs.com/package/gatsby-source-contentful#notes-on-contentful-content-models) has a requirement that:

This obviously makes it hard to create empty states where there are no published content models. For example a job listing with no current open positions or a blog with no published posts yet. Currently I get the following build errors:

[code]

How do you

[2019-07-02 07:16] ythecombinator commented on #15261
I've got the same going on [here](https://github.com/ythecombinator/space/tree/issue-6).

I was tracking this on #14931, tho. But this one seems to match more given that `npx gatsby build` works and that the behavior is not necessarily attached to Netlify.

[2019-07-02 07:40] HuguesRomain commented on #10738
did you found an other way to fix it ?

[2019-07-02 08:14] guybowden commented on #15242
I ran into a similar issue - but different:

When adding `console.error` to `construct-error.js` I get a message:

`Support for the experimental syntax \'optionalChaining\' isn\'t currently enabled`

Which is odd since I thought it was enabled (it is when using `gatsby develop`)

[code]

[2019-07-02 08:31] bjatwork commented on #15245
it's simple, when i use in components

[code]

insead of

[code]

problem occur

My gatsby-browser.js is empty. I tried also manually save and pass scroll position to gatsby-browser.js and manually scroll, but the same effect.

[2019-07-02 09:09] rwieruch commented on #15205
I my case I couldn't solve it with Style Components upgrade or leaving out Source Maps. I documented it over here, because for me it is related to MDX https://github.com/ChristopherBiscardi/gatsby-mdx/issues/411

[2019-07-02 09:11] rwieruch commented on #15256
I ran into `[BABEL] Note: The code generator has deoptimised the styling of undefined as it exceeds the max of 500KB.` when using MDX and large markdown files: I my case I couldn't solve it with Style Components upgrade or leaving out Source Maps. I documented it over here, because for me it is related to MDX ChristopherBiscardi/gatsby-mdx#411

[2019-07-02 09:15] Siyfion commented on #14185
I've been having a lot of success with `graphql-codegen` in many other projects, but unfortunately the moment I use a fluid/fixed image the whole thing comes crumbling down with a Gatsby project. Which is a shame! Why aren't the fragments exposed in the introspection query I wonder? @KyleAMathews

[2019-07-02 09:18] rkretch91 commented on #15205
Yes 1.10.6 finally worked for me! Still trying to figure out what happened here, but I am happily deployed again :) Thanks @Vanuan for the fix.

[2019-07-02 09:39] wardpeet commented on #15205
we've done a few fixes on gatsby@2.11.8 so that should work.

If not, please let us know.

[2019-07-02 09:54] wardpeet commented on #15256
Any chance you can post your gatsby versions?

This might be fixed in `gatsby@2.11.8`

[2019-07-02 10:07] kogal commented on #15256
Sure!

I'm at the latest version in both projects I mentioned.

gatsby@2.11.7
gatsby-plugin-material-ui@2.1.3

[2019-07-02 10:08] wardpeet commented on #15302
That's weird. We should use the default value of splitChunks plugins in webpack which should fix this. It seems like we aren't. Thanks for reporting.

Do you have the time to create a small repro so I can get this fixed?

[2019-07-02 10:10] wardpeet commented on #15275
Does bumping your packages fix anything?

[code]

[2019-07-02 10:10] robthompsonweb commented on #15261
Same issue here. `gatsby build` (using npm works fine) but using yarn fails. As the default gatsby starter has package-lock and yarn-lock in it netlify uses yarn and is failing to build (since Sat). Removing yarn-lock, forcing netlify to use npm did the trick for me.

[2019-07-02 10:11] asistapl commented on #15256
Still not working in 2.12.0

[2019-07-02 10:11] wardpeet commented on #15278
Have you tried gatsby version 2.11.8? It should have a fix for slow builds

[2019-07-02 10:13] wardpeet commented on #15256
To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a reproduction.

[2019-07-02 10:19] freiksenet opened #15305 "feat(gatsby/schema): Allow defining child relationships through metadata"
## Summary

Schema customization allows defining all kind of types and fields, except for the fields created through child/parent relationships. Defining child convenience fields isn't a good thing to do on parent level, therefore it needs to be done from a child point of view and we currently don't have any backreference mechanism in place. This issue defines API that transformers can use to spec

[2019-07-02 10:23] asistapl commented on #15256
Oh sorry, `gatsby@2.12.0` with `gatsby-plugin-netlify-cms@4.1.1` works fine 🎉

[2019-07-02 10:44] giacomoalonzi commented on #2392
Any solution found? I'm experiencing the same issue with ACF if any repeater is empty.

[2019-07-02 10:51] molebox commented on #9911
Any movement on this? Im having the same issue where the style is rendered correctly locally but when built its not rendered at all. Its also strange that all of the styles are correctly rendered except one ( a button )

[2019-07-02 11:01] kogal commented on #15256
@wardpeet I added the 2.12.0 version and now I get this error:

Despite the fact that I have added the '@babel/plugin-proposal-optional-chaining' in my .babelrc

[2019-07-02 11:10] lucletruc commented on #6945
Still an issue!

[2019-07-02 11:39] hussainakram commented on #15151
@KyleAMathews I'm having the exact same issue on production and it seems on Amazon S3 its not receiving of my *page-data.json* with `content-type: text/plain` whereas locally its `xhr`:

---
<img width="1644" alt="prod-error" src="https://user-images.githubusercontent.com/20062423/60509917-88528a80-9ce7-11e9-8577-49dcb8aa613b.png">

Any idea what might be the cause?

[2019-07-02 12:33] danboyle8637 commented on #15275
@wardpeet If you mean bumping by running npm update... yes I did that.

This morning I did a deep update after learning npm update only does top level packages.

I ran...

[code]

This did make some updates. I redeployed the site to Netlify and it worked.

I still get the error about:

[code]

But perhaps something with the update worked. No conclusive solution for me personally.

[2019-07-02 12:33] #15275 closed

[2019-07-02 12:36] danboyle8637 commented on #15278
@ArthurHwang Here is what I just did with my site that was timing out. I would be interested in knowing if it works for you.

https://github.com/gatsbyjs/gatsby/issues/15275

In essence... I ran:

[code]

[2019-07-02 12:40] wardpeet commented on #15275
is not really an error, it's a warning so you can safely ignore it.

[2019-07-02 12:44] marieqg commented on #15276
Thank's a lot! I solved my problem :)
 I followed the github solution ( #4967)  but did a "sudo npm install gatsby-cli -g –"

[2019-07-02 12:44] #15276 closed

[2019-07-02 12:51] giacomoalonzi commented on #3344
@miraclemaker I tried your approach but this overrides the real data? because on a repeater field in ACF now I have 0 results also if there's real data inside.

[code]

[2019-07-02 13:33] fk commented on #15117
Done; Figma source: https://www.figma.com/file/D9FPTlFlysj8ZqzDXFAvq4CZ/themejam.gatsbyjs.org?node-id=0%3A1

[2019-07-02 13:33] #15117 closed

[2019-07-02 13:41] janharold opened #15311 "Error after adding a page, but not sure why"
Receiving this error, but was okay before this (just created a new page and didn't add anything)

Things I did but still receiving this error:
- I updated NPM
- I updated Gatsby CLI
- I updated Yarn
- I deleted package-lock.json. node_modules, then run npm install

[code]

[2019-07-02 14:04] bpsmpls commented on #3229
Same issue as well. Works with `gatsby develop`. `gatsby build` completes successfully, but fails to load anything on production the first time. 404 errors on missing socket.io and commons.js. Second consecutive page load works, however.

[2019-07-02 14:07] agentofuser commented on #6945
Related: https://github.com/gatsbyjs/gatsby/issues/14161

[2019-07-02 14:32] axe312ger commented on #15071
Yes, exactly the issue I am slowly getting with my project. Since we now have more than 10 videos, converting all of these in h264, h265 + previews in 3 formats, clearing the cache on netlify would result in a broken build 😢

Omg that be amazing!

[2019-07-02 15:09] wardpeet commented on #15311
This is unfortunate, it seems like you're using an old gatsby version.
Could you run `gatsby info --clipboard` in your project directory and paste the output here?

[2019-07-02 15:16] sidharthachatterjee commented on #15304
Thank you for the detailed and well written issue, @marcuslindfeldt 🙌

The schema customisation feature we added in Gatsby 2.2.0 makes it possible to solve this by the defining known schema shapes ahead of time (and not depending no inference and therefore content).

We currently have a work in progress PR for a rewrite of `gatsby-source-contentful` with support for this in https://github.com/gats

[2019-07-02 15:18] sidharthachatterjee opened #15312 "Move gatsby-seo over this gatsbyjs org on npm"
Since support for queries in packages is almost here (https://github.com/gatsbyjs/gatsby/pull/15284), I've published `gatsby-seo` at https://www.npmjs.com/package/gatsby-seo

This needs to be moved into our gatsbyjs npm org

[2019-07-02 15:19] wardpeet commented on #15299
Hey @oste!

This doesn't seem like a gatsby core issue. Could you post a snippet of your component/page where you use `TextField`?

Looks like you can't add `<TextField></TextField>`. You'll need to add 1 children inside of the component. Does the following snippet work for you?
[code]

Make sure to change your import into `import TextField, {Input} from '@material/react-text-field';`

Thanks for

[2019-07-02 15:21] wardpeet commented on #15294
Hi @JaKXz!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproductio

[2019-07-02 15:27] wardpeet commented on #15292
Hey, it's a bit hard to debug your issue. It seems like your query doesn't really fit the data you're using in gatsby-node.js. Would it be possible to share your repo with us so we can have a closer look?

[2019-07-02 15:33] wardpeet commented on #15291
It seems like a wordpress rest api issue. Like you mentioned there is no support yet for this in the api. You could add your own solution with https://developer.wordpress.org/rest-api/extending-the-rest-api/adding-custom-endpoints/.

As stated, this is slightly tangential to Gatsby, and it seems like we’ve provided enough information to make an informed decision.

If this is not the case, or if we

[2019-07-02 15:33] #15291 closed

[2019-07-02 15:33] sidharthachatterjee commented on #15312
Done

[2019-07-02 15:33] #15312 closed

[2019-07-02 15:37] jonniebigodes commented on #15299
@oste i've been fiddling with the package in question and here's a simple implementation on how to use the one that's giving you issues.
I've created a simple component called `contact.js` ,inside `src/components` with the following code:
[code]
Added it in the `index.js` and issuing `gatsby develop` and opening up a new browser window to `http://localhost:8000` shows me the following:
![oste1](ht

[2019-07-02 15:47] wardpeet commented on #15282
Looks like React owl carousel is a client side only package and isn't compatible with Gatsby build. You might want to look for a different react carousel that is compatible or try to get it working with https://www.gatsbyjs.org/docs/using-client-side-only-packages/#workaround-3-load-client-side-dependent-components-with-react-loadable

Feel free to reach out with any more questions you have.

[2019-07-02 15:55] wardpeet commented on #15286
I've tested your query when using the [default blog starter](https://github.com/gatsbyjs/gatsby-starter-blog) and couldn't reproduce it with the latest gatsby-transformer-remark version (2.5.0).

![image](https://user-images.githubusercontent.com/1120926/60527371-54c92d80-9cf2-11e9-83c1-d508936b7369.png)

Could you create a reproduction if this is still an error for you?

[2019-07-02 16:03] wardpeet commented on #15273
Can you try upgrading to the latest version of gatsby? (>2.10.0) it seems like it fixed the issue for me on codesandbox. We have done a few fixes.

[2019-07-02 16:14] axe312ger commented on #15071
![1fd57482-649a-4740-99ad-2e20933841a7](https://user-images.githubusercontent.com/1737026/60522190-d451ff00-9ce8-11e9-8dc0-ee0aa723e4da.jpg)

So I talked to @KyleAMathews how we can progress here, this is the outcome of our discussion:

* I'll extract my code from the customer project and create gatsby-transformer-video within the gatsby-core repo (asap)
* We get it reviewed by awesome people like

[2019-07-02 16:22] asistapl commented on #15273
@wardpeet Thanks for the response. It still happens after upgrading, in my local builds and on codesandbox when you run `yarn build` second time in a row.

[2019-07-02 16:38] pewStocky opened #15316 "Question re the 'forced' trailing slash on URLs and redirects (SEO)"
Hey all,

Before Gatsby integration we had our URLs as non trailing slash: /mortgage-calculator

Since remaking certain pages in Gatsby my team have said that Gatsby 'forces' a trailing slash: /mortgage-calculator/

We previously had a server side redirect setup (nginx) to remove the trailing slash.

If you go to the non '/' URL, you get redirected to the non '/':

However in the address bar, the

[2019-07-02 16:39] #15316 closed

[2019-07-02 16:40] ArthurHwang commented on #15278
@grubersjoe thanks for that i actually ended up downgrading to 1.10.0 and it fixed my issue just now before I read your comment.  I am just glad that an actual reason was found for this issue.

I will upgrade to 1.10.6 latest version and see what happens then report back.

Thank you again.

[2019-07-02 16:42] pewStocky commented on #15316
Sorry I fucked this up - can you delete please :)

[2019-07-02 16:45] pewStocky opened #15317 "Q on the forced trailing '/' on URLs & redirects - What's happening here?"
Hey all,

Before Gatsby integration we had our URLs as non trailing slash: /mortgage-calculator

Since remaking certain pages in Gatsby my team have said that Gatsby 'forces' a trailing slash: /mortgage-calculator/

We previously had a server side redirect setup (nginx) to remove the trailing slash.

If you go to the '/' URL version, you get redirected to the non '/':

![image](https://user-images

[2019-07-02 17:10] SpicyPete commented on #15190
Gatsby 2.12.x seemed to of fixed all of my issues

[2019-07-02 17:22] JaKXz commented on #15294
Hi @wardpeet - here you go: https://github.com/JaKXz/gatsby-client-paths-issue

[2019-07-02 17:27] #14199 closed

[2019-07-02 17:44] JaKXz commented on #15167
I have minimally reproduced this issue here: https://github.com/JaKXz/gatsby-client-paths-issue/commit/3a0eba5af1d1ca1827f0a812de5894a1d5540a41

[code]

These are the results:
<img width="2560" alt="Screen Shot 2019-07-02 at 1 39 14 PM" src="https://user-images.githubusercontent.com/2642545/60534184-356cd900-9ccf-11e9-934e-350f5a9e6291.png">

cc @wardpeet

[2019-07-02 17:55] tmo207 commented on #15292
Sure, here is the repo: https://github.com/tmo207/eaid-wp.

[2019-07-02 17:57] marcysutton opened #15319 "[docs][recipes] Prepare for deployment"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a short, actionable recipe on preparing a site for deployment. This would include generating your site with `gatsby build` and adding an optional path prefix (with a quick note about why you would even need/want that option).

Recipes now follow this format:

- Requirements or prerequisites
    - Gats

[2019-07-02 18:02] robinmetral commented on #15021
Unfortunately I think the issue wasn't fixed with the new `graphiql@0.13.2` version: I'm still getting the bug.

Could anybody see if you can replicate?

**Steps:**
1. `gatsby new super-cool-site`
2. `cd super-cool-site`
3. `gatsby develop`
4. visit http://localhost:8000/___graphql
5. deliberately type `option+space` (or `alt+space`) instead of `cmd+space`
6. does GraphiQL freeze?

[2019-07-02 19:05] arps18 opened #15320 "Gatsby develop unable to create local host"
## Description

`gatsby develop ` is showing error i.e error
Something went wrong installing the "sharp" module

Cannot find module '../build/Release/sharp.node'

also `yarn install ` shows the error.

### Steps to reproduce

`yarn install`
`gatsby develop`

### Expected result
It should be able to run `localhost`

### Actual result
`gatsby develop` **error**

success open and validate gatsby-conf

[2019-07-02 19:41] gregwhitworth opened #15322 "page.data.json 404 not found & componentDidMount() not firing in production"
## Description

I couldn't find very much information regarding `page-data.json` but my site is currently hitting this where it 404's on finding any of these json files. The route is `./page-data/<route>`. The only content I could find regarding this was this [article](https://www.gatsbyjs.org/blog/2019-06-12-performance-improvements-for-large-sites/) introducing the breaking up of a larger manife

[2019-07-02 19:58] gregwhitworth commented on #11524
@KyleAMathews Thanks - I did, unfortunatley this didn't fix it although I think it's something else as the Missing Resources error went away but the primary issue is still there so I filed issue #15322

[2019-07-02 20:09] wardpeet commented on #15273
ok awesome! thanks for letting me know I'll have a look

[2019-07-02 20:16] jackhair commented on #11524
We won't get Missing Resources because it was deleted and replaced with a different error: https://github.com/gatsbyjs/gatsby/pull/14889/files#diff-3182dbe2979ea0744c50242668edc572L173

We recently deployed this fix, going to check out bug logs for new/different errors.

[2019-07-02 20:26] wardpeet commented on #11524
@jackhair what browser are you testing on? I'm pretty sure we added a finally polyfill. Might be wrong though.

mind sharing your repo? or a small reproduction?

[2019-07-02 20:29] jackhair commented on #11524
We're seeing this across several browsers in production:

![Screen Shot 2019-07-02 at 13 29 03](https://user-images.githubusercontent.com/357712/60544332-6a782c00-9ccd-11e9-87f9-5d5273dee340.png)

[2019-07-02 20:38] KyleAMathews commented on #15322
Is your webserver setup to return JSON pages? Someone on AWS found that their bucket wasn’t serving JSON files as `application/json` https://github.com/gatsbyjs/gatsby/issues/15151#issuecomment-507221302

[2019-07-02 20:42] wardpeet commented on #11524
Do you mind sharing your website url so I can have a look and maybe debug it a bit?

[2019-07-02 20:46] jackhair commented on #11524
Sure! https://ritual.com

[2019-07-02 20:57] mutheusalmeida opened #15328 "Syntax error"
I got a "Syntax error" with the following code:

[code]

Can anyone explain why?

[2019-07-02 20:59] gregwhitworth commented on #15322
@KyleAMathews This does seem very similar, I'll need to dig into Azure and Apache (haven't needed to do sysadmin in years) to determine how to have it served as `application/json` rather than `text/html`

[2019-07-02 21:13] JaKXz commented on #15328
Because you are returning an object instead of a React component.

try:
[code]

or you can save a couple lines with:
[code]

[2019-07-02 21:57] lannonbr commented on #15328
Going to close this as @JaKXz's has the solution for this issue.

[2019-07-02 21:57] #15328 closed

[2019-07-02 22:01] hanzhihua72 commented on #13072
Gatsby develop still won't serve static files, but gatsby build/gatsby serve works for now

[2019-07-02 22:03] nxz91 opened #15332 "After migration: Cannot read property 'fileLoader' of undefined"
## Description

I am currently migrating from v1 to v2. When running `gatsby develop` I get

`error  in ./src/images/phone.png

Module build failed (from ./node_modules/url-loader/dist/cjs.js):
TypeError: Cannot read property 'fileLoader' of undefined`

This seems to happen for all images ("Failed to compile with 19 errors").

Also, oddly I seem to get each of these error messages twice – once wit

[2019-07-02 22:24] nxz91 commented on #15332
I was able to solve this by adding the latest file-loader to the repo as described here: https://github.com/webpack/webpack/issues/6419

[2019-07-02 22:24] #15332 closed

[2019-07-02 22:24] nxz91 commented on #14585
Sorry, yes! Thank you :)

[2019-07-02 22:39] mxxk opened #15334 "Page with same name as site path prefix yields 404"
## Description

Gatsby is not able to show a page whose path matches the site path prefix. If gatsby-config.js has

[code]

and there is a page `src/pages/prefix.js`, then navigating to this page (`/prefix/prefix/`) yields a 404 Not Found. The Developer Tools console shows a request to the `/prefix/page-data//page-data.json`, whereas it should be requesting `/prefix/page-data/prefix/page-data.json

[2019-07-02 22:49] gmossong commented on #14988
Got a working solution with some help from the friendly people on StackOverflow which I put into a component.

**components/imageOrient.js**
[code]

Then using it in **templates/post.js**
[code]

[2019-07-03 00:10] #15237 closed

[2019-07-03 00:39] rlynn523 commented on #15125
@marcysutton I started doing a rough draft of the syntax page and moved on to frontmatter...but the more I look through the docs, it seems like a lot of the information you want for the markdown reference guide is in the mdx docs. For example
[this]( https://www.gatsbyjs.org/docs/mdx/customizing-components/) has a pretty comprehensive table for md syntax. I believe there is also an example that sh

[2019-07-03 01:26] Blackglade commented on #5030
This plugin seems to have conflicts with `gatsby-remark-prismjs`. I need to specify this plugin before the `gatsby-remark-prismjs` otherwise it won't render. Also the styling conflicts with remark as well. Any ETA on when this will be moved to an official plugin

[2019-07-03 01:46] marcysutton commented on #14607
My first recommendation would be to try doing it locally and skipping Codesandbox to eliminate that as a variable. There are also changes coming for plugins _this week_ that would be worth looking into, in case any dependencies were in flux. I'd be happy to take a closer look with you next week (things are a little wild this week with a big launch and the US holiday 🎇). Thanks for your patience on

[2019-07-03 01:49] mutheusalmeida commented on #15328
Oh, I'm sorry.

Thanks,
Matheus Almeida

[2019-07-03 01:57] gregwhitworth commented on #15322
@KyleAMathews WE HAVE LIFT OFF: https://gwhitworth-dev.azurewebsites.net/blog/2019/06/demo/

That was the issue! I may write this up since it seems more than I have hit this, mine was on Azure however.

[2019-07-03 01:57] #15322 closed

[2019-07-03 01:58] iamskok commented on #5030
@Blackglade can you please provide more information on styling conflicts you are talking about?

Not sure about ETA, I’ll need help from someone who is familiar with MDX to make it happen.

[2019-07-03 02:45] oste commented on #15299
doh, yep looking at the docs closer it does seem like the `TextField` does need an `Input` child. I was thrown off a bit b/c I was using the `textarea` prop and didn't think that would have `<input>`

Thanks @wardpeet and @jonniebigodes for the effort looking at this one.

[2019-07-03 02:45] #15299 closed

[2019-07-03 03:37] Blackglade commented on #5030
@iamskok So I have the following plugins listed under `gatsby-transformer-remark` in the following order:

* `gatsby-remark-code-buttons`
* `gatsby-remark-autolink-headers`
* `gatsby-remark-prismjs`
* `gatsby-remark-images`

Anytime I include `gatsby-remark-code-buttons` after `prism-js`. The icon just doesn't appear. and digging through the html, it doesn't seem as if the divs were even rendered.

[2019-07-03 03:42] t2ca opened #15344 "ERROR #85901 GRAPHQL"
## Description

Updated to the latest version of gatsby 2.13.1 and started getting the following error after running gatsby develop.

[code]
I was able to fix this issue after removing gatsby-plugin-mailchimp

Apparently the mailchimp examples are creating a problem.

Just wanted to let everyone else know.

[2019-07-03 04:33] javidhsueh commented on #15344
Getting the same error, too.  However, I don't have gatsby-plugin-mailchimp in my website

[2019-07-03 04:37] t2ca commented on #15344
It could be another plugin, I searched my entire project for "SiteTitleQuery" and gatsby-plugin-mailchimp was the only result.

[2019-07-03 04:40] iamskok commented on #5030
@Blackglade please try this order:

[code]

The working example of using all of these plugins together can be found in [gatsby-dev-blog-starter](https://github.com/iamskok/gatsby-dev-blog-starter).

[gatsby-remark-code-buttons](https://github.com/iamskok/gatsby-remark-code-buttons) provides generic styles to make positioning and adding tooltips easier, but the developer will be responsible for twe

[2019-07-03 05:12] himynameistimli opened #15347 "[gatsby-source-wordpress] Differences in WPCOM API results in pagination errors"
## Description

WPCOM's REST API differs slightly from the typical WP REST API, so using the header to determine number of items and number of pages does not work properly.

For instance, if you have over 100 tags, the endpoint will not pull more than 100, and then posts that link to those tags will result in:

[code]

If you're in a bind, you can remove some tags, and the build will proceed norma

[2019-07-03 05:56] marcysutton commented on #15125
Ah, good catch! I definitely didn't realize it was in there...and I suspect it won't be easily discoverable for people who aren't looking for it in an MDX component doc. I'd recommend creating a new, longer doc with more general context (e.g. "MDXProvider" might be intimidating for people just getting started with Markdown). We can always make updates to that MDX page later on to make it less redu

[2019-07-03 06:36] #15121 closed

[2019-07-03 08:17] arturhenryy opened #15350 "Gatsby fails running when updating to new eslint 6.0.1"
## Description

After updating my dependencies to the latest versions gatsby fails running and i get the following error message during startup.

[code]

### Steps to reproduce

- update eslint dependencies to the latest versions.
- run yarn dev

### Environment

  System:
    OS: macOS High Sierra 10.13.2
    CPU: (4) x64 Intel(R) Core(TM) i5-7267U CPU @ 3.10GHz
    Shell: 5.3 - /bin/zsh
  Binari

[2019-07-03 08:18] arturhenryy commented on #15350
it looks like this is the same issue
https://github.com/vuejs/eslint-plugin-vue/issues/916#issuecomment-507800590

[2019-07-03 08:22] kogal commented on #15256
**UPDATE**

I upgraded gatsby to v2.13.1 and now the babel issue I mentioned above is solved but I'm back having problem in build when using the 'gatsby-plugin-netlify-cms' plugin.

I get this error (multiple times..):

After some investigation I realised that it only happens when I import a component in cms.js to registerPreviewTemplate.

I hope this helps

[2019-07-03 08:39] m-allanson commented on #15350
It looks like there's [a fix to make `eslint-loader` support eslint 6](https://github.com/webpack-contrib/eslint-loader/pull/275). Once that fix is released we should be able to [update the versions here ](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/package.json).

[2019-07-03 08:42] m-allanson commented on #15344
I think this is related to https://github.com/gatsbyjs/gatsby/pull/15284, let me see if I can put a repro together quickly.

[2019-07-03 08:50] m-allanson commented on #15344
cc @sidharthachatterjee repro here: https://github.com/m-allanson/gatsby-issue-15344

steps:

- clone repo
- yarn
- yarn start

This is the hello-world starter with `gatsby-plugin-mailchimp` added. I've seen similar with the Algolia plugin. This seems to happen with plugins that ship example code, as it's also triggering the `Using the global "graphql" tag is deprecated` warning.

[code]

A quick

[2019-07-03 08:51] phacks commented on #14614
@gatsbybot The `DNS_PROBE_FINISHED_NXDOMAIN` error on the https://using-asciidoc.gatsbyjs.org example site is still there, so the issue is not entirely resolved.
@DSchau do you think you can have a look in the Netlify config regarding this particular URL?

[2019-07-03 09:00] dwikberg commented on #11364
We are also experiencing this issue. I will Fedex a bottle of Dom Perignon champagne to whoever solves this!!

[2019-07-03 09:03] simoneb commented on #11364
@dwikberg If [our workaround](https://github.com/gatsbyjs/gatsby/issues/11364#issuecomment-462038897) works for you as it did for us you can post the bottle to my address ;)

[2019-07-03 09:04] bogdancss commented on #15344
getting this error after updating gatsby

[2019-07-03 09:05] dwikberg commented on #11364
We need a more permanent solution :(

[2019-07-03 09:17] simoneb commented on #11364
Considering that this has been open for 6 months now, I'd rather stick with the workaround, we've been running that in production since then and based on my experience it covers most common scenarios. I'm ok with a bottle of Pinot Noir as well as this is not a permanent solution.

[2019-07-03 09:17] lesleyNilson commented on #15282
@wardpeet Thanks a lot for your answer! So, according to your answer it is not possible to use React stuff in general in Gatsby?
But Gatsby is based on React. I can build in Gatsby classes based on React, right? But I can't use Third Party React tools in Gatsby?

[2019-07-03 09:44] wardpeet commented on #15256
@kogal have you upgraded to gatsby-plugin-netlify-cms@4.1.1?

[2019-07-03 10:06] barbalex commented on #15249
Somehow I can only get v2.10.0 working with the resolution pinning terser to v4.0.0.

And v2.13.1 works neither with the resolution nor without.

So I will have to wait for a working version.

[2019-07-03 10:08] wardpeet commented on #15282
@lesleyNilson yes you can. We support the full react ecosystem. Gatsby uses SSR (Server Side Rendering). This means your code needs to be executable outside of the browser. It looks like owl-carousel isn't a react component that supports SSR.

You can go for client-only routes which won't be executed on the server. You'll lose lots of speed optimisations so it's not really recommended.

This would

[2019-07-03 10:17] wardpeet commented on #15261
Seems like we swallow some graphql errors. I've created a fix for this.
[code]

[2019-07-03 10:25] kogal commented on #15256
@wardpeet Yes,  gatsby-plugin-netlify-cms is @4.1.1

After the upgrade to gatsby@2.13.1 I have no issues with the transpilation, the issue I'm now having is a **heap out of memory** one when using some of my components in CMS.registerPreviewTemplate (gatsby-plugin-netlify-cms)

[2019-07-03 10:29] wardpeet commented on #15256
Oh I think I know what's up with that. Could you create a small reproduction to test my fix on?

[2019-07-03 10:38] kogal commented on #15256
The thing is that it is a really elusive issue in my case too...it only happens to a specific template component (out of 10) in my project.

I tried to create a new starter project, in order to recreate it, but I wasn't able to.
I'm not sure how I can help you with this, other that give you access to my company's private repo, where the issue appears...which, of course, I can't! :-)

[2019-07-03 10:52] m-allanson commented on #15334
Thanks for the repro! I can confirm I'm seeing the same issue. One thing to note is that a pathPrefix should always start with a leading slash: `pathPrefix: "/prefix"`.

However that doesn't fix the issue. If you or anyone else is up to investigating this, I'm taking a guess that the issue might be around here: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/loader.js

One

[2019-07-03 10:53] m-allanson commented on #15334
cc @wardpeet if you have any thoughts on this?

[2019-07-03 10:59] wardpeet commented on #15334
no, but I'll investigate 🕵

[2019-07-03 11:06] m-allanson commented on #15320
Hey @arps18 - it looks like you have a 32 bit version of Windows installed. Unfortunately the `sharp` image processing library used by Gatsby only supports 64 bit versions of Windows.

You might be able to manually install an older version of sharp's dependencies with these instructions: https://github.com/lovell/sharp/issues/379

Or possibly use yarn aliases to install an older version of sharp i

[2019-07-03 11:06] HuguesRomain commented on #10738
It was finally enough to update Gatsby so that the error does not happen anymore

[2019-07-03 11:12] lesleyNilson commented on #15282
@wardpeet but I have installed the react version of owl carousel, as I wrote I have installed

And I got all the error messages. That's why I ask for using React in Gatsby

[2019-07-03 11:15] spookyMilly commented on #15344
I am getting the same error when deploying my gatsby site on Netlify, none of the usual steps (npm install, deleting suspicious packages, clearing cache, ...) fixed this...
`12:48:51 PM: error #85901 GRAPHQL
12:48:51 PM: There was an error in your GraphQL query:
12:48:51 PM: Unknown type "ImageSharpFixed".`

[2019-07-03 11:15] arps18 commented on #15320
Hey @m-allanson , it is to inform you that i have a 64 bit version o f Windows.So maybe another issue might be there!
![Capture](https://user-images.githubusercontent.com/47818179/60587414-fd8a9200-9db1-11e9-83d9-67af9523e30a.PNG)

[2019-07-03 11:20] lannonbr commented on #15282
@lesleyNilson So what Ward is trying to put is that Gatsby is just React behind the scenes and all React components work in Gatsby, but some React components have to be setup so they are only used on the clientside as not all support Server Side Rendering

In this instance, react-owl-carousel uses jQuery and other native DOM APIs, but when you do `gatsby build` those APIs don't exist as you are bu

[2019-07-03 11:20] m-allanson commented on #15320
Hmm how strange. Maybe the version of node you're using is 32 bit instead of 64? It looks like Node is installed in `C:\Program Files (x86)\` which I think is reserved for 32 bit applications? Does using a [64 bit version of Node JS](https://nodejs.org/en/download/) work?

[2019-07-03 11:22] sidharthachatterjee commented on #15344
This is occurring because some packages happen to ship example code (that includes queries). And we now parse `node_modules` to support queries in dependencies and themes since https://github.com/gatsbyjs/gatsby/pull/15284

The correct fix for this is for packages to add examples to `.npmignore`

I'm fixing `gatsby-plugin-mailchimp` and `gatsby-plugin-algolia` right now and writing a script to fin

[2019-07-03 11:30] lesleyNilson commented on #15282
@wardpeet @lannonbr  Trying the command "gatsby develop" I got the error message " error  'setState' is not defined  no-undef"

[2019-07-03 11:32] lesleyNilson commented on #15282
@lannonbr Is there a possibility to include jquery? And if yes, how?

[2019-07-03 11:32] benjam1n opened #15354 "Translations (i18n) in child components won't work after hard refresh on production"
## Summary
I'm using a "custom" implementation of i18n with `react-i18next`, `i18next-xhr-backend`, etc because I needed a custom language detector.  Here are the problems I have:

There is a `<Newsletter />` functional component included in `index.js` and I'm using `const { t } = useTranslation()` to get translations. Now that works perfectly in development, on production it doesn't work on hard

[2019-07-03 11:34] pieh commented on #15344
This should be fixed by updating `gatsby-transformer-sharp` to `2.2.1`

[2019-07-03 11:45] lannonbr commented on #15282
So I am going to pull in @anamwp into this conversation as it seems they just had a similar situation of using this exact same component (https://github.com/gatsbyjs/gatsby/issues/15254)

They had a solution work for them, so @anamwp could you possibly help out as it sounds like you got this component working in your scenario.

[2019-07-03 11:58] spookyMilly commented on #15344
Thank you so much for your help, @pieh and @sidharthachatterjee ! I updated `gatsby-transformer-sharp` to version `2.2.1`, ran `gatsby build` just fine, but got this error on deployment:

`Error: Found vendored libvips v8.7.0 but require v8.7.4. Please remove the 'node_modules/sharp/vendor' directory and run 'npm install'.`

Currently trying to follow these steps, but no success.

Here is my `gats

[2019-07-03 12:07] lannonbr commented on #15282
So I actually may have found a solution. It works on my machine:

## Add jQuery to the html.js file.

Copy the `.cache/default-html.js` to `src/html.js`

Then in it, add a script tag for query into the `<head>`

[code]

## Tell webpack to find jQuery

If you don't have a gatsby-node.js file in your root, create one and drop this function in:

[code]

This is to tell webpack to find jQuery.

## Loa

[2019-07-03 12:18] spookyMilly commented on #15344
Hello again, sorry for the duplicate post, but I found a solution to the #85901 GRAPHQL error. Maybe this is helpful for others.

- I updated `gatsby-transformer-sharp` to `2.2.1`.
- I removed `sharp` from the `node_modules` directory and re-installed it.
- I checked my dependencies via `npm list sharp`, updated the packages that were listed, including `gatsby-plugin-sharp` and `gatsby-transformer

[2019-07-03 12:46] Coriou commented on #15273
Hey - Just reporting the same exact issue. To prevent it, I need to remove the `.cache` directory (no need to remove the `public` one) which makes the build much slower of course.

[code]

[2019-07-03 12:55] gagan0723 commented on #6896
@lannonbr  `reactjs.org` does something like below gif on mobile devices.
![ScreenRecording2019-07-03at1](https://user-images.githubusercontent.com/6944095/60593205-8b5e8100-9da2-11e9-82fd-b7b1dd4df80c.gif)

[2019-07-03 13:03] zfc9d3f opened #15356 "built gatsby completely different from development, especially styling."
## Description

I'm using styled components and it seems what i built looking at `gatsby develop` happens to be immensely different to what is produced with `gatsby build`

[you can see my problem here](https://i.imgur.com/rXfJCwK.gif)

### Steps to reproduce

[here is my deployed project on netlify](https://ecstatic-einstein-2f00b4.netlify.com/)

[here is my project](https://github.com/zfc9d3f/mi

[2019-07-03 13:03] lannonbr commented on #6896
@gagan0723 So we actually already have that functionality for the sidebar on mobile layouts in the various layouts to go between different pages. This issue is specifically for making a Table of Contents for different sections of a single page.

[2019-07-03 13:04] sidharthachatterjee commented on #15344
`gatsby-plugin-algolia@0.3.1` is out with the fix! Thanks to @Haroenv ❤️

[2019-07-03 13:07] janosh commented on #6896
@lannonbr Significant parts of the [reactjs.org](https://reactjs.org) implementation could probably still be reused for in-page navigation.

[2019-07-03 13:16] silviopaganini commented on #15151
also having this problem, anyone found a fix?

[2019-07-03 13:20] gswirrl commented on #15151
@silviopaganini  the fix is in the thread. change the MIME type of each `page-data.json` to `text/json` (or if your s3 client lets you, set it during upload). it's annoying im afraid, if you have a large site. good luck

[2019-07-03 13:21] gswirrl commented on #15151
@KyleAMathews could this be problem be avoided by changing

`const isJson = contentType && contentType.startsWith(`application/json`) ` to just check the file extension instead?

[2019-07-03 13:22] silviopaganini commented on #15151
@gswirrl that's happening locally when you build and serve the files with `gatsby serve`

[2019-07-03 13:26] hussainakram commented on #15151
To fix this issue I had to:

- Change my `Makefile` script to have  `--no-mime-magic`:
[code]

- Also added this line at the start of one svg file to fix deploy `content-type`
[code]

[2019-07-03 13:32] silviopaganini commented on #15151
OMG

[2019-07-03 13:44] tripphamm commented on #15261
Thanks for looking in to this and for posting that error message. Since the source of that error was gatsby-plugin-feed, I opted to simply remove the plugin to unblock myself.

Was there some way that I could have produced that error message @wardpeet? Or were you only able to see that after you made a code change to the gatsby source? (Just wondering if there's a verbose debug mode or something t

[2019-07-03 13:44] zfc9d3f commented on #15356
SSL problems with netlify btw, open with chrome

[2019-07-03 14:13] m-allanson commented on #15157
[This PR was merged recently](https://github.com/gatsbyjs/gatsby/pull/15186/files) which adds more context to the [how static query differs from page query doc](https://www.gatsbyjs.org/docs/static-query/#how-staticquery-differs-from-page-query). Which I think leaves it ok to talk about more technical implementation details in this doc.

cc @gatsbyjs/learning to confirm that sounds right?

[2019-07-03 14:16] lannonbr commented on #15157
So @Aswinpookkatt's PR did add some stuff to this page, but I believe there is still some work to be done.

With such, I think a good idea would be to split this page into two:

1) High level concepts between the two types of queries. This could be moved out of this section
2) Flesh out this page to discuss more of the internals

[2019-07-03 14:16] lesleyNilson commented on #15282
@lannonbr  Your are awesome, it works!!
And I think it works without loadable because I got the message "2:8  warning  'Loadable' is defined but never used  no-unused-vars
"

[2019-07-03 14:17] lannonbr commented on #15282
Alright, I am going to close this issue as this has been resolved.

[2019-07-03 14:17] #15282 closed

[2019-07-03 15:23] womcauliff commented on #15256
Just chiming in, I'm following this thread because I am experiencing the same heap out-of-memory error trying to build one of the more popular gatsby blog starters (no changes): https://www.gatsbyjs.org/starters/alxshelepenok/gatsby-starter-lumen/

Sorry I realize that's not a "small" example 😅but it's one I can suggest for reproducing the error.

To see the error, run:
[code]
The package versions

[2019-07-03 15:25] colbyfayock commented on #15151
development environment fixes aside, is Gatsby's position that this is an environment issue or will there be thought putting into a gatsby solution? i think this kind of problem creates a higher barrier of entry for newcomers

[2019-07-03 15:54] kogal commented on #15256
@womcauliff Thank you so much!

I've been trying all day to make the bug-repo I have created, to fail consistently and I couldn't, where in my own project it does every time.

I have figured out that it most probably has to do with the size of the files (imports), so I guess being a large example is a good thing in this case.

[2019-07-03 16:27] arps18 commented on #15320
No i tried that too and now when i installed node again in `C:\Program Files \ ` it showes that node hasn't been detected. Enviornment variable is updated too!

[2019-07-03 16:30] wmlutz commented on #1199
I built this fam: https://github.com/wmlutz/gatsby-source-dynamodb

[2019-07-03 16:39] tweetzal commented on #12333
I clicked the link attached to this line but it doe nots take me to a line which has "localhost" instead it has  useACF: true

I am totally lost and also having same problem

Mo

[2019-07-03 16:43] xavivars commented on #4337
After a conversation with @DSchau in Discord, it seems the core contributors are aligned that a solution like #15173 or #15180 shouldn't live in core, but in a plugin, we may want to explore other options to solve it.

I'd love to be able to do it that way, but currently the only ways I found was via a global config variable (#15173 ) to shortcircuit the canonical redirect check, or by allowing to

[2019-07-03 17:31] #14686 closed

[2019-07-03 17:33] kogal commented on #14993
Client-side routing is broken again in latest gatsby release.

gatsby@2.13.2
gatsby-plugin-create-client-paths@2.1.1

[2019-07-03 17:54] wardpeet commented on #4337
@xavivars I'll be merging https://github.com/wardpeet/gatsby-plugin-static-site/pull/4 and publishing a fix for this.

[2019-07-03 18:01] seangenabe opened #15372 "Declare slash as a dependency of gatsby-plugin-offline"
## Description

`slash` is being required by the `gatsby-node` script of `gatsby-plugin-offline`, however, it is not declared as a dependency in `package.json`.

### Steps to reproduce

* Use pnpm to install gatsby and gatsby-plugin-offline
* Include gatsby-plugin-offline as a plugin

### Expected result

No errors

### Actual result

`gatsby develop` fails to run with

`Error: Cannot find module

[2019-07-03 18:04] zslabs commented on #15286
@wardpeet Appreciate the reply. This is definitely a bit weird. https://drive.google.com/open?id=1XteNvPquHDcQGzhz7qAkx4oSIvLWgJhz is a quick recording I did that shows GraphiQL returning the same info; this is on content that in my current version, works fine.

I also decided to upgrade everything except `gatsby-transformer-remark` (`gatsby info` below) and things work as expected.

[code]

[2019-07-03 18:06] mbillard opened #15373 "Error: The result of this StaticQuery could not be fetched. This is likely a bug in Gatsby"
## Description

After starting `gatsby develop` successfully, trying to view the site at http://localhost:8000/ results in an infinite loop between the error page and trying to load the site.

[code]

### Steps to reproduce

Not sure how to reproduce, my site used to work, made a few content changes and now I can't see my site at all.

Here's my `src/components/Author.js`:

[code]

Even after remo

[2019-07-03 18:21] mbillard commented on #15373
Seems related to my browser, Firefox Developer Edition.

The site loads fine on Chrome and in private mode. I tried disabling all my extensions but that didn't help.

[2019-07-03 18:43] marcysutton commented on #5581
This issue can be closed with the merge of #13197! But this effort is not over yet–stay tuned for more information about what I uncovered with user testing and how to make routing even more accessible.

[2019-07-03 18:47] marcosilvestroni commented on #14232
@DSchau can you update the label tag?

[2019-07-03 19:01] wardpeet commented on #15286
Just to clarify. Your remarkpost does it only contain 1 huge paragraph? could you maybe post the .md file here?

[2019-07-03 19:06] anamwp commented on #15282
Hello, @lannonbr  for pull me here.
I think its much easier to import owl css directly rather that path from node modules.
Here is my component and how I use owl carousel in my component.
@lesleyNilson  let me know if it helps you.

[code]
Thanks.

[2019-07-03 19:08] missmatsuko opened #15375 "Blog post not loading on gatsbyjs.org"
## Description
Not sure if this is the right place for this issue, but anyways~

I was trying to find out more about Gatsby Days. This post showed up in the blog search results, but doesn't load:
https://www.gatsbyjs.org/blog/2018-11-27-gatsby-days/

There's a lot of errors in the console for this page.

### Steps to reproduce
Go to https://www.gatsbyjs.org/blog/2018-11-27-gatsby-days/

### Expect

[2019-07-03 19:09] wardpeet commented on #15282
Oh sorry, I've updated the example. It should have been `this.setState`. Loadable works to ^^

[2019-07-03 19:10] wardpeet commented on #15256
Oh sweet! let us get a fix out asap!

Thanks for the reproduction.

[2019-07-03 19:32] zslabs commented on #15286
@wardpeet Here's the source of that `.md` file:

[code]

[2019-07-03 20:07] mbillard commented on #15373
Looks like I had some invalid frontmatter attributes that were unrelated to the query but triggered the error. The loop was only in that browser but fixing those attributes fixed my issue.

[2019-07-03 20:07] #15373 closed

[2019-07-03 20:07] darrencarlin commented on #15344
I am also getting this error now, seems like its trying to 'query a query" within fragment.js in gatsby-source-contentful node_modules as if its a static query in one of my components.

If I comment out that entire file it works locally but not when deploying to netlify.

[2019-07-03 20:26] pieh commented on #15344
@darrencarlin Not ideal, but this probably happens if you have 0 assets/images - as a workaround you might try adding dummy image there (that you don't have to use)

[2019-07-03 20:27] #15261 closed

[2019-07-03 20:32] wardpeet commented on #15261
Sadly no, it seems like we swallowed it. No way to make it visible

[2019-07-03 20:32] pieh commented on #15261
We just published `gatsby@2.13.3` to no longer swallow that error

[2019-07-03 20:43] darrencarlin commented on #15344
@pieh I just tried that and now i'm getting a lot of similar errors (#850901) but this time is in relation to gatsby-transformer-sharp.

Again, If I comment out that entire file it works locally but not when deploying to netlify.

[2019-07-03 21:02] mattcdowning commented on #5581
@marcysutton I'm still not hearing page change announcements with Gatsby 2.13.2 using Voiceover in Safari on MacOS in [@pieh's](https://5cf57f3314a67857eb443b8d--gatsby-org-pieh-previews.netlify.com/tutorial/) and my [gatsby-starter-default](https://optimistic-ptolemy-948f38.netlify.com) example.

[2019-07-03 21:08] wernerglinka commented on #15190
I am following the Gatsby tutorial from https://www.netlifycms.org/docs/gatsby/
I am running Gatsby 2.13.2, build on Netlify crashed but the fix `NODE_OPTIONS = "--max_old_space_size=4096"` did the job.

[2019-07-03 21:38] KyleAMathews commented on #14185
@Siyfion it's tricky as graphiql and other tools don't support it. @pieh has some initial work in that direction so hopefully we'll get there.

[2019-07-03 21:46] manuelbieh commented on #15101
Came here because I have the same issue.
Repo + Branch to reproduce:
https://github.com/manuelbieh/manuelbieh.de/tree/dependency-upgrade-jul-19

Lines that break the page (= only shows 404 pages (but hey, at least localized!))
https://github.com/manuelbieh/manuelbieh.de/blob/dependency-upgrade-jul-19/gatsby-node.js#L67

[2019-07-03 21:50] marcysutton commented on #5581
@mattcdowning bummer! I can reproduce that now with an upgraded test project, too. I tested this more fully before to support assistive technology beyond Chrome and Voiceover, and I'm not sure where it went wrong. I'll reopen the issue for now since it still isn't addressed, and needs to be. Thanks for the heads up.

[2019-07-03 21:54] mfosker commented on #15344
I'm also seeing this issue on Netlify, the npm modules from  gastby info are:

npmPackages:
    gatsby: ^2.3.22 => 2.3.22
    gatsby-plugin-google-analytics: ^2.0.18 => 2.0.18
    gatsby-plugin-hotjar: ^1.0.1 => 1.0.1
    gatsby-plugin-sass: ^2.0.11 => 2.0.11
    gatsby-source-contentful: ^2.0.48 => 2.0.48
    gatsby-source-filesystem: ^2.0.29 => 2.0.29
    gatsby-transformer-remark: ^2.3.8 => 2.3

[2019-07-03 21:55] wardpeet commented on #14636
Oh, I see, I missed your comment. It seems like the visibility of these things are key here. I guess that's a good point. From reading all comments and my own opinion, we're all against long-living experiments and making them more visible might not be the best idea. It probably won't harm small features. If Loki was an experiment, it probably would have been used more, and we would have broken som

[2019-07-03 21:59] mfosker commented on #15344
Probably the contentful plugin, given the error messages in the netlify deploy log:
...
error #85901 GRAPHQL
10:36:30 PM: There was an error in your GraphQL query:
10:36:30 PM: Unknown type "ContentfulFixed". Did you mean "ContentfulJob", "ContentfulJobEdge", "ContentfulContentType", "ContentfulJobFieldsEnum", or "ContentfulJobFilterInput"?
10:36:30 PM: File: node_modules/gatsby-source-contentful/

[2019-07-03 22:07] MunifTanjim opened #15380 "production build causing errors with draft-js"
## Test Repository

- Gatsby with `draft-js`: https://github.com/MunifTanjim/draft-js-tests/tree/gatsby
- CRA with `draft-js`: https://github.com/MunifTanjim/draft-js-tests/tree/raw

## Description

The development server build (`yarn start`)  is working alright.
But on the production build (`yarn build`), writing on the Editor is causing error.

This is a strange issue. I'm not actually sure why

[2019-07-03 22:15] #15150 closed

[2019-07-03 22:24] marcysutton opened #15382 "[docs] theme docs rollout, continued"
## Summary

In the rollout of themes, here are some recommendations to make to make sure the docs are intuitive and cover common questions and use cases.

- [ ] Add a reference guide on [Component Shadowing](https://www.gatsbyjs.org/blog/2019-04-29-component-shadowing/) to [/docs/themes](https://www.gatsbyjs.org/docs/themes/) (#15745)
- [x] Add a reference guide on Using [Theme UI with Gatsby](htt

[2019-07-03 22:29] marcysutton commented on #15382
I should add there are starter and theme recipes related to this rollout too, but they are tracked in separate issues!
- https://github.com/gatsbyjs/gatsby/issues/14943
- https://github.com/gatsbyjs/gatsby/issues/14944

[2019-07-03 22:41] zfc9d3f commented on #15356
it seems like the styling issues were coming from my end, although i'm still unsure how to load fonts in gatsby.
Using CRA has made it clear for me where the issue was, whereas gatsby production build is vastly different from development causing a lot of headaches. since this is just a toy project, i'll be reverting to CRA

[2019-07-03 22:41] #15356 closed

[2019-07-03 22:47] jonniebigodes commented on #15380
@MunifTanjim i'm cloning the repo as we "speak". I'm going to see if i can help you with a solution for your issue. Do you mind waiting a bit?

[2019-07-03 23:17] bjatwork opened #15385 "different behavior after build"
This error occur only after build, on develop everything works ok.

What can be reasons that  i get different script behavior in "gatsby develop" and after build?

Code
` { this.context.data.orderShow  ? <div className="a">A</div> : <div className="b">B</div> }`

gives me output

`<div class="b">A</div>
`

[2019-07-03 23:22] jakewies opened #15386 "gatsby-theme-blog color mode Switch not properly saving change to localStorage"
## Description

Congrats GatsbyJS team on the stable release of themes! 💯

I’ve been messing around with `gatsby-theme-blog`, and I’m noticing some strange behavior with the [`Switch` component inside of `Header`](https://github.com/gatsbyjs/gatsby/blob/master/themes/gatsby-theme-blog/src/components/header.js#L86). It doesn’t seem to be saving the current color mode in local storage.

Note, the un

[2019-07-03 23:52] missmatsuko commented on #15298
Would be nice if non-roman characters in screenshots could be fixed for this showcase, and the main one:
https://github.com/gatsbyjs/gatsby/issues/5929

[2019-07-04 00:25] KyleAMathews commented on #15151
The expectation is currently that people’s servers would set the mime type to `application/json` but yeah — that’s probably too strict given how many variants there is out there (see e.g. https://stackoverflow.com/questions/477816/what-is-the-correct-json-content-type)

Checking the extension in addition to the mime type seems reasonable — would someone like to PR that in?

[2019-07-04 00:27] jonniebigodes commented on #15386
@akewies i've just finished creating a new project with the starter and i'm not experiencing the issue you're having.
Issuing `gatsby-develop` and opening up `http://localhost:8000` yelds the following:
![jakewies_1](https://user-images.githubusercontent.com/22988955/60631940-2a629780-9dfa-11e9-8c0d-1c752df516be.png)

Switching the mode yelds the following:
![jakewies_2](https://user-images.github

[2019-07-04 01:05] erikhopp opened #15387 "reach/router documentation (or bug?)"
Hi all,

## Summary

I'm new to both Gatsby and React, so I'm guessing it is my own ignorance holding me back here, but I've been having a hard time trying to get routing to work using the @reach/router in v2. I couldn't find anything in the issues or the docs that was helpful. I did see someone complaining recently on Twitter - https://twitter.com/pugson/status/1146087953594224641 - about the lac

[2019-07-04 01:19] jakewies commented on #15386
I created a screen recording and uploaded to gyfcat [here](https://gfycat.com/impassionedimaginaryflea). It’s really strange behavior. I can’t explain it. I watched Jason’s livestream on Twitch this morning and this wasn’t happening. I’m not sure why I’m getting the behavior.

[2019-07-04 02:46] fmontes commented on #14434
I'm having the exact same issue.

[2019-07-04 03:42] sujoys10 commented on #15206
What will be the callback url to call the netlify function from a websub
service?
"https://hopeful-kepler-23eefa.netlify.com/<func name>" or anything like
that?

On Fri, Jun 28, 2019 at 7:58 PM Preston So <notifications@github.com> wrote:

[2019-07-04 04:55] RafaelEsaa commented on #14434
Hi @Travisg25  @fmontes  , I resolved this issue when review my query in graphql. I had a some key with equal name. Maybe is that! Regards!

[2019-07-04 05:45] abv commented on #14680
I have found a workaround for this issue. Perhaps this will be of help to others.

**The following fails:**
`blah(where: {id : $blah_id})` in the query, with `{ "blah_id" : "5" }` passed to context in createPage`

**The following works:**
`blah(where: $blah_id_json)` in the query, with `{ "blah_id_json" : { "blah_id" : "5" }}` passed to context in createPage`

[2019-07-04 05:55] dontdomilk commented on #14953
Also running into this issue. It works in my local environment, sourcing from the same CMS, but for some reason my deploys on Netlify are missing about half of my images (returning 404). I'm not using base64 so they just look like blank spaces.

For what it's worth, here are my dependencies (from gatsby info):

npmPackages:
    gatsby: ^2.10.5 => 2.12.0
    gatsby-image: ^2.0.34 => 2.2.3
    gatsb

[2019-07-04 05:57] florinme commented on #6300
Just came across this issue. At first I thought it was a CORS issue, which I resolved by setting the following settings for gatsby-plugin-netlify:

[code]

Now I'm seeing a 404 (in the console, not on the front end).
[code]

This seems to reflect the issue above. Digging into it further it looks like all Gatsby sites are affected and as such, are not able to be translated by google translate. Anyo

[2019-07-04 06:08] MunifTanjim commented on #15380
@jonniebigodes Thanks so much for looking into it... I'll be waiting to hear about your findings... :smiley:

[2019-07-04 06:26] janharold commented on #15311
System:
    OS: macOS 10.14.4
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
    Shell: 3.2.57 - /bin/bash
  Binaries:
    Node: 11.8.0 - /usr/local/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm: 6.9.2 - /usr/local/bin/npm
  Languages:
    Python: 2.7.14 - /usr/local/bin/python
  Browsers:
    Chrome: 75.0.3770.100
    Firefox: 65.0
    Safari: 12.1
  npmPackages:
    gatsby:

[2019-07-04 06:39] dwikberg commented on #11364
I think we are using a newer version with gatsby where the workaround does not cover some of the scenarios. Our build keeps on crashing :) But A for effort :)

[2019-07-04 06:53] JaKXz commented on #15387
I think this is because you need to create client-side paths, since you haven't actually created those pages in the `pages/` directory. You might run into issues with [the plugin to do so](https://www.gatsbyjs.org/packages/gatsby-plugin-create-client-paths/), like #15294.

[2019-07-04 07:10] #4337 closed

[2019-07-04 07:17] wardpeet commented on #4337
I've just published @wardpeet/gatsby-plugin-static-site version 0.1.0. This should fix this issue. Feel free to reopen if it didn't fix all your issues.

Best way to get better static site support is to create an issue at the plugin itself. https://github.com/wardpeet/gatsby-plugin-static-site/issues/new

[2019-07-04 07:43] wardpeet commented on #11524
@jackhair I can confirm the bug. Could you make a new issue with the info provided above?

[2019-07-04 07:56] freiksenet commented on #15385
Hi @bjatwork!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a

[2019-07-04 08:25] kuworking commented on #14848
It does work for me, thanks! :)
*I assume this won't be necessary once this issue is automatically closed and gatsby is updated

[2019-07-04 08:30] bjatwork commented on #15385
thanks. I just fixed it. It was connected to using localStorage in contex before ContextProviderComponent didMount

[2019-07-04 08:45] freiksenet commented on #15385
Awesome, I'll close the issue then. Thank you for using Gatsby!

[2019-07-04 08:45] #15385 closed

[2019-07-04 08:45] gemcave commented on #14185
same problem:

[2019-07-04 08:46] freiksenet commented on #15372
Thank you!

Would you be interested in making a PR to fix that?

[2019-07-04 08:48] freiksenet commented on #15347
@himynameistimli Is it possible to page the endpoint to request rest of the tags? In that case it would be possible to update wordpress plugin to do that.

CC @jasonbahl

[2019-07-04 08:49] freiksenet commented on #15317
Hello @pewStocky!

You could try using [`gatsby-plugin-remove-trailing-slashes`](https://www.gatsbyjs.org/packages/gatsby-plugin-remove-trailing-slashes/) for that.

Hopefully this works for you! Thanks for using Gatsby! :purple_heart: :muscle:

[2019-07-04 08:55] freiksenet commented on #15386
@jakewies Do you by chance have a setting in browser that says that you "prefer dark ui"? I'm not 100% sure, but I think code here has a bug, where that overrides the stored setting. https://github.com/system-ui/theme-ui/blob/master/packages/theme-ui/src/color-modes.js#L13

[2019-07-04 08:57] gemcave commented on #15344
same problem, need a solution:

[2019-07-04 08:57] freiksenet commented on #15375
Temporarily fixed by removing the offending image. Likely a bug in how mdx treats images.

[2019-07-04 08:57] #15375 closed

[2019-07-04 08:57] freiksenet commented on #15380
Thank you for jumping in @jonniebigodes!

[2019-07-04 09:00] freiksenet commented on #15387
@erikhopp You can't create routes this way in Gatsby. Gatsby uses reach router internally, but it's routing is based on Gatsby pages. See [routing documentation](https://www.gatsbyjs.org/docs/routing/) for more info about this.

[2019-07-04 09:05] freiksenet commented on #15387
@erikhopp Disregard my previous answer.

The issue is that you are missing a wildcard path for your page with clientside view. See [gatsby node of the example](https://github.com/gatsbyjs/gatsby/blob/master/examples/simple-auth/gatsby-node.js).

[2019-07-04 09:11] freiksenet commented on #15354
Could you please include source for your components too (and if possible a runnable reproduction)?

[2019-07-04 09:18] kerminz commented on #15344
Same here!

[2019-07-04 09:35] marcinsydor commented on #14676
Just updated gatsby to `2.13.3` version and I'm getting the same error now. I had two themes and the main project. I'm on Mac which might important. I also moved themes declarations from `__experimentalThemes` to `plugins` but it did not help.

[2019-07-04 10:10] marcinsydor commented on #15344
I have the same problem after updating gatsby to 2.13.3 version.
I have two custom themes which are submodules in my main git project. One theme is using `gatsby-source-datocms` plugin. Any solution for this?

[2019-07-04 10:13] abhijithvijayan commented on #15372
I can take a peek at this

[2019-07-04 10:16] jingxuan98 opened #15397 "ERROR #85901 GRAPHQL | gatsby-source-contentful requires Media uploaded to work"
## Description

When I try to link my gatsby project with my self -created Contentful space, it shows this issue all the time

But when I try to link my gatsby to a contentful spaces with I created with their templates or examples, it runs fine

But for self created spaces, it shows this error....

Any solutions?

##Error Message

ERROR #85901  GRAPHQL

There was an error in your GraphQL query:

U

[2019-07-04 10:16] Ayo91 commented on #14680
Your proposal is not valid for me. I'm running an static query:
![image](https://user-images.githubusercontent.com/2479896/60659316-04b2ae00-9e4d-11e9-9a35-9351abbbd948.png)

It shows me this error:
Syntax Error: Expected Name, found String "direct_sale"
![image](https://user-images.githubusercontent.com/2479896/60659377-21e77c80-9e4d-11e9-8280-b7492c196c21.png)

If I run this query in the graphql

[2019-07-04 10:18] magicspon opened #15398 "Client only routes - Query not run warning"
## Description

I'm seeing the following errors and warnings for pages that are only rendered on the client. They are not using any queries, just plain ole react components fetching data from a rest api.

Warning in the terminal:

[code]

In the Browser after build:

[code]

@LekoArts is also seeing this issue, which you can see here:
https://tmdb.lekoarts.de/

### Steps to reproduce

I've tried t

[2019-07-04 10:21] leonfs commented on #15080
Thank-you everybody for bringing this problem into notice.

It has also been debated in the original PR thread (https://github.com/gatsbyjs/gatsby/pull/14359), with some great contributions on how the manual cache-invalidation technique is not really a great solution.

Our team has been working on a small script (that runs on Gatsby's `onPostBuild` hook) that appends a hash to all page-data.json f

[2019-07-04 10:29] harrygreen commented on #13442
Apologies if this is unrelated. We're hitting a similar issue when running builds after upgrading to Gatsby 2.9 and above. I've tried downgrading `gatsby-plugin-sharp` to 2.0.7 as mentioned above - no help there.

[code]

Interestingly, I've had some success by injecting a small delay into `gatsby-plugin-sharp`'s [`runJob`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-shar

[2019-07-04 10:36] kogal opened #15401 "Gatsby@2.13.2 - Client-only routes broken"
## Description

Client-only routes broken in Gatsby@2.13.2

### Steps to reproduce

Use starter project https://github.com/dwyfrequency/gatsby-ghub that is using the 'gatsby-plugin-create-client-paths' plugin and the latest version of Gatsby.

To check that version 2.13.2 is the problem, fix Gatsby version to 2.13.1 and check that it is now working as expected.

### Expected result

Client-only ro

[2019-07-04 11:06] duongthienlee opened #15402 "Urgent help, need to remove service worker ( special case)"
What I mean by special case  is that I need to remove the old service worker when I was using create-react-app.
I should have removed it when using cra before switching the whole website to use gatsby.
With gatsby I know I can remove service worker like this

     //'gatsby-plugin-offline',
    'gatsby-plugin-remove-serviceworker'

But on the user's browser, they visited my website a long time ago

[2019-07-04 11:08] freiksenet commented on #15397
It's possible that you don't have any data for type `Fixed` in your self created space. Currently Contentful source needs data inside the types before it can generate it. We are fixing this in [new version of contentful plugin](https://github.com/gatsbyjs/gatsby/pull/12816), but currently you have to create something in your data table before it works.

[2019-07-04 11:08] freiksenet commented on #15398
Thanks, we are investigating this!

[2019-07-04 11:09] freiksenet commented on #15401
Thanks, we are investigating this!

[2019-07-04 11:22] pieh commented on #15401
To give more details on what's happening:
If you have `/app/*` client-only page, previously you needed to use `/app/sub-path` paths in router inside client-only page. After changes I introduced in https://github.com/gatsbyjs/gatsby/pull/13197 - now `/app` is stripped and you would need to use just `/sub-path` part there.

This is definitely breaking change and will have to fix that

[2019-07-04 11:29] wardpeet commented on #15402
That's how you should do it. Could you send your website URL?

[2019-07-04 11:30] freiksenet commented on #15372
Cheers!

[2019-07-04 11:30] #15372 closed

[2019-07-04 11:34] duongthienlee commented on #15402
@wardpeet  sure, https://senzolive.com
You will obviously see the latest version.
But if users visited my website before I switched to use gatsby. They will see the CRA website which serve old content. Here my website used to use ButterCMS, but with Gatsby I use netlify-cms now.
<img width="1440" alt="Screenshot 2019-07-04 at 14 32 43" src="https://user-images.githubusercontent.com/26104402/606637

[2019-07-04 11:37] aldegoeij commented on #15398
+1

[2019-07-04 11:42] mfosker commented on #15344
Thanks @kerminz
Changing to those exact versions, without the caret in the version number, worked for me:

`"gatsby-source-contentful": "2.0.41", and "gatsby": "2.9.10"`
rather than
"gatsby-source-contentful": "^2.0.41", and "gatsby": "^2.9.10",

I tried using the versions with the caret but that didn't help.

That will do for a temporary fix to get my site back updating until I work out a proper

[2019-07-04 11:44] aldegoeij commented on #15401
@pieh  would this the workaround / new way:

Previously
[code]

New style:
[code]

[2019-07-04 11:45] #15148 closed

[2019-07-04 11:48] mikheevm commented on #15080
@leonfs Would be really great if you share it :)

[2019-07-04 11:49] andrew-secret commented on #15397
I've got the same issue here
[code]

Can someone give me more information about it how I can fix this. I don't really get your response @freiksenet can you maybe explain it a bit further to me.. I'm just to dump to get it right now :(

[2019-07-04 12:08] abhijithvijayan commented on #14571
@freiksenet What is the required change needed to fix this?

[2019-07-04 12:12] borisirota commented on #13902
Hi, I thought of opening new issue but then I found this :)

It will be great to add caching headers for async chunks (dynamic import) as well.

[2019-07-04 12:18] pieh commented on #15401
Yes, or
[code]
which will work both in gatsby@2.13.1 and gatsby@2.13.2

But, we definitely will need to fix that up, because we can't introduce breaking changes like this. So this is and should be considered as bug

[2019-07-04 12:55] freemh commented on #2426
Including `/*/*menus` in `includedRoutes` solve the problem, because before the content of `includedRoutes` was like that:

[code]

[2019-07-04 13:15] pewStocky commented on #15317
Hey @freiksenet - thanks for this we'll look into it.

Regardless of whether that does work or not, is there any chance you're able to know why some tools / Google etc see that URL as non '/' even though it shows in the URL?

Would be great to know re learning / knowledge of Gatsby etc.

Thanks for your time / help!

[2019-07-04 13:17] jakewies commented on #15386
Hey @freiksenet ! So it looks like that’s the issue. Dark mode was added to [Chrome 73 on MacOS](https://www.howtogeek.com/405772/whats-new-in-chrome-73-arriving-march-12/). It is enabled by switching your MacOS to dark mode, which mine is on. Turning my OS to light mode fixes the issue.

This function indeed causes the behavior I’m seeing. It uses the `window.matchMedia` method, which returns an

[2019-07-04 13:20] #14325 closed

[2019-07-04 13:34] jonniebigodes commented on #15380
@MunifTanjim just finished going over it again and below are the steps i took to solve your issue.
- Cloned your repo
- Switched to the gatsby branch and installed the dependencies
- Issued `gatsby build && gatsby serve` to get a production build and serve it emulating a live version.
- Opened a new browser window to `http://localhost:9000` and as soon as i focus in the editor i'm presented with t

[2019-07-04 13:59] jimmed commented on #9310
+1 to this issue. So far as I can see:

 - The GTM script is included exactly once.
 - The GTM tags are loaded exactly once.
 - The Google Tag Assistant extension detects the *same* GTM installation on each page navigation, but erroneously detects these as separate installations.

[2019-07-04 14:27] Simonpedro commented on #15287
Hey there! I took a look at this and I decided to follow what @sidharthachatterjee mentioned.
I searched for usages of `birthtime` and `birthtimeMs` in the codebase but I only found them in types declarations files, so I've updated them too.

[2019-07-04 14:42] jamo commented on #14430
Added a chart to the internal gatsbyjs dasbhoard.

[2019-07-04 14:52] eyalroth commented on #14034
@ZhenWang-Jen I just encountered this problem when I wanted to implement a feature where I have two images -- one overlaying the other -- and a mouse move would change the size of the top image, so that basically the mouse move controls the overlay between the two images.

I found a rather simple solution to this, which is creating a `div` element next (sibling) to the images which will be "monito

[2019-07-04 15:11] NirBenita commented on #3446
Getting the same behavior of styles appearing in pages where they were not imported.
I tried using CSS Modules [as per suggested](https://www.gatsbyjs.org/tutorial/part-two/#css-modules), but I'm still getting the same result.

[2019-07-04 15:13] wardpeet commented on #14434
This issue has been resolved. We weren't displaying all errors to the console. in the latest gatsby version we are.

Please open a new issue with new information if it still occurs.

[2019-07-04 15:13] #14434 closed

[2019-07-04 15:13] #15205 closed

[2019-07-04 15:17] wardpeet commented on #15151
I just created a PR that doesn't look at content type but tries to parse the json.

[2019-07-04 15:20] gswirrl commented on #15151
@wardpeet woah. thats a much better idea than mine. thank you. 🙏

[2019-07-04 15:48] harrygreen commented on #15080
@mikheevm something along the lines of..

[code]
Disclaimer! As @leonfs point out, this seems to work for us - but it's obviously a hack to suit our caching implementation. No guarantee it'll work for anyone else.

[2019-07-04 15:57] MunifTanjim commented on #15380
Thanks for the "detective work"!!! :joy: I absolutely forgot about the SSR part of Gatsby :sweat_smile:

So, the problem actually lies with `draft-js` after all. I'll be opening an issue on [facebook/draft-js](https://github.com/facebook/draft-js) with your findings....

Thanks so much for suggesting the workaround. I think we can close this issue as it's not actually an issue with Gatsby....

[2019-07-04 16:05] michaelfriedman opened #15412 "Gatsby build fails"
## Description
![image](https://user-images.githubusercontent.com/17555926/60678825-9a910d80-9e3a-11e9-93d2-7b6bb5d04f8d.png)
Build Fails
- Cleared .cache and node_modules, problem persists after reinstalling and reattempting build.

### Steps to reproduce

Download https://github.com/michaelfriedman/gatsby-site.git
npm install
npm run develop

### Environment

  System:
    OS: macOS 10.14.5

[2019-07-04 16:09] michaelfriedman commented on #15412
The errors are on the blog-post branch

[2019-07-04 16:31] duongthienlee commented on #15402
I have found the solution for it.
The CRA's service worker won't be unregister because there is no service-worker.js file.
So by adding a service-worker.js file in static folder, and it will work.

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.ready.then(registration => {
          registration.unregister();
        });
      }

[2019-07-04 16:31] #15402 closed

[2019-07-04 16:56] erikhopp commented on #15387
Hi folks,

Thanks for the responses. I've just now added the code @freiksenet pointed to in the gatsby-node.js file and I'm not seeing any different behavior.

Here is a diff:
[code]

Here is the commit: https://github.com/erikhopp/gatsby-routing-test/commit/15c9fa82047904178167ecc85f75b78087d940da

Then I stacked on the suggestion that @JaKXz made here - https://github.com/erikhopp/gatsby-routing

[2019-07-04 17:15] missmatsuko commented on #15375
@freiksenet Do you know if the change live already? I saw the quick fix PR was merged, but the page still doesn't load for me. Maybe the site needs to be rebuilt, or I'm just seeing a cached version?

[2019-07-04 17:24] #14430 closed

[2019-07-04 17:27] jonniebigodes commented on #15380
@MunifTanjim no need to thank, glad i was able to help you solve the issue. Feel free to share the information with them. Probably more people are struggling with this and with this workaround they can solve it and continue to work. Thanks for using Gatsby 👍

[2019-07-04 17:27] #15380 closed

[2019-07-04 17:27] #14494 closed

[2019-07-04 17:30] leonardolouie opened #15415 "UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch()"
I am using react-redux on my gatsby site but it returning this error when i building it in (gatsby build)  but in my local development it's all work

(node:6248) UnhandledPromiseRejectionWarning: TypeError: Promise resolver #<Promise> is not a function
    at new Promise (<anonymous>)
    at videoPage._callee$ (C:\Users\PearlPay Laptop 2\Documents\GitHub\gatsby-netlify-cms-sho\public\render-page.j

[2019-07-04 17:33] jonniebigodes commented on #15415
@leonardolouie just by looking at the stack trace it's a bit difficult to see what could be the actual issue. Can you make a reproduction following [these steps](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at in more detail?

[2019-07-04 17:50] leonardolouie commented on #15415
![image](https://user-images.githubusercontent.com/29114998/60682781-38321e80-9ec7-11e9-9ace-18b3f57c9c74.png)

this one

[2019-07-04 17:58] #15412 closed

[2019-07-04 18:28] pieh commented on #15397
@jingxuan98 @andrew-secret as temporary workaround, please add dummy image to contentful space. In https://github.com/gatsbyjs/gatsby/issues/15344#issuecomment-508242874 one user said it works then.

[2019-07-04 18:45] andrew-secret commented on #15397
@pieh thanks I'll try it out and let you know if it worked out 👍

[2019-07-04 18:48] andrew-secret commented on #15397
@jingxuan98 @pieh I can confirm that it worked for too... thank u soo much 💯

[2019-07-04 18:51] folchi commented on #15397
@jingxuan98 @pieh confirmed. Uploading an image to "Media" resolved errors. Thanks!