[2019-06-10 18:09] Travisg25 commented on #14674
Does adding gatsby that way cause issues? I will check out the link, thanks!

[2019-06-10 18:30] fk commented on #14468
Yay, happy to hear that!!

Yes, good call! Maybe even with the URL of the showcased site? Might be easier to write copy for that than for the site title?

🙏👌Looks like the Twitter cards are working, so yes, absolutely!

That's #14469; about to merge the PR that fixes that.
Do you want to open a PR with your work, and continue the discussion there?

Hmm, maybe open a new issue for that?

[2019-06-10 18:47] rchrdnsh commented on #14634
I think I've isolated my issue to something a little bit different, so I'll close this and open up a new issue to try and solve the underlying problem once and for all.

[2019-06-10 18:47] #14634 closed

[2019-06-10 19:28] ocularrhythm commented on #14652
I confirmed this behavior and believe I know the solution. The WordPress JSON API [expects a query string parameter to fetch data](https://developer.wordpress.org/rest-api/), if the site is not using pretty URL's.

WordPress by default uses "Plain" post id's to create permalinks for posts, therefore communicating with the API won't be done through endpoints, as the plugin seems to expect.

I verif

[2019-06-10 19:36] Travisg25 commented on #14674
I started a new project and used the link you provided, I don't know what I did differently but it worked! Thank you for the help

[2019-06-10 19:36] #14674 closed

[2019-06-10 19:54] rchrdnsh opened #14690 "How can I control the scroll position of an individual react component with overflow: scroll?"
Hi Everybody! cc: @DSchau @jlengstorf @KyleAMathews  XD

ok, I think I have nailed down my issue to the following:

I have a particular use case where I have a layout with items that are positioned statically, or fixed, in the layout, but I cannot use any of the CSS position properties like `fixed` or `sticky` to set those custom pieces in place. The reason for this is because of a hack I am using

[2019-06-10 20:07] satansdeer commented on #6492
@jimbits there is a chance that it can't find file `components/logo` because it has uppercase first letter i.e `components/Logo` in your file system. And if you work on Mac - it won't be a problem, this is why it builds locally, but on linux it will fail

[2019-06-10 20:29] marcysutton commented on #14529
Notes from Kyle in Slack:

[code]

[code]

[2019-06-10 20:44] #14441 closed

[2019-06-10 20:57] #14429 closed

[2019-06-10 21:18] gillkyle opened #14693 "[www]: Fix broken internal links"
I did a sweep of the site to try and amend issues with broken links, running a [link checker](https://www.npmjs.com/package/broken-link-checker) gave me a report of about 300 broken links (some are redundant and show up on multiple pages, see the [gist](https://gist.github.com/gillkyle/ef24d6c991756c326951ae69089f6503) for full output).

The links to fix are the following:

## Broken URLs

- [x] (

[2019-06-10 21:26] m-allanson commented on #14126
There was a related fix in https://github.com/gatsbyjs/gatsby/pull/14372 - it looks like that change should be done for other gatsby packages that are still using `slash`.

[2019-06-10 21:38] m-allanson commented on #14686
👍 This has been sitting on the list of things we'd love to do but haven't found time for :( An intermediate step might be to manually pick out a few more sites to add to the showcase.

If you or anyone else has the time to put some suggestions in here, we could follow up with a PR.

Any suggestions should match at least two of:

- high-production values
- unique functionality
- well known brand

n

[2019-06-10 22:28] #14469 closed

[2019-06-10 22:37] m-allanson commented on #14231
problems problems:

- https://github.com/gatsbyjs/gatsby/pull/14694#issuecomment-500619211
- https://github.com/gatsbyjs/gatsby/pull/14657#issuecomment-500267293

[2019-06-10 22:37] fk commented on #14468
Hey again @rlynn523!

So I just fixed and merged https://github.com/gatsbyjs/gatsby/pull/14560.
To do that, I—unfortunately, because I'd hate it if you got the feeling that your work isn't valued and appreciated!! 🙏—needed to fix `og:title`, which rudimentarily solves this issue, too. I did not add descriptions however—would you still be up for that? 🙏 🤞

[2019-06-10 23:00] rlynn523 commented on #14468
Yes I can update that. My fix involved updating the `SiteMetaData` component that's pulled into the `Layout` component, and then just passing in the necessary props. It will generate both `og` and `twitter` tags. If you are ok with this fix, you can then add Twitter tags to other parts of the site. This should hopefully fix this issue for the future.

[2019-06-10 23:23] mxxk commented on #4614
@rametta, @nrdobie—not sure when this was implemented, but what you ask for is now possible. Your GraphQL query

[code]

now returns 1, as expected.

I stumbled upon this issue when looking how to filter a mapped one-to-many GraphQL field, and am documenting my findings here for future Gatsby aficionados. If this matches your description, feel free to read on... 😄

# More Complicated Case: Filteri

[2019-06-10 23:24] KyleAMathews commented on #14231
We'd want very good docs for upgrading people's node version — e.g. we detect what OS they're on, how they installed it (homebrew, download, etc.) etc. Otherwise we'll just lose a lot of people.

[2019-06-10 23:40] mxxk opened #14696 "Keep build-only state in Node API?"
## Summary

Is it possible (or even recommended) to keep and reference build-only state when using the Gatsby Node API? Something like the [Cache API](https://www.gatsbyjs.org/docs/build-caching/), except whose state does not persist between builds.

## Relevant information

In `gatsby-node.js`, when linking transformer-created nodes (e.g. `MarkdownRemark`), not all nodes are available at the time

[2019-06-10 23:47] shannonbux commented on #13996
I think we'll definitely revisit this once themes are ready!

[2019-06-11 00:25] KyleAMathews commented on #14696
It's not recommended — the transformer API is designed to be stateless so we can easily parallelize it across nodes which obviously won't share module-level state & we don't want to be syncing transitory state between nodes.

For your particular example, why would it matter if you recreated the same markdown node?

[2019-06-11 01:06] mxxk commented on #14696
Thanks for the prompt reply @KyleAMathews. 🙏 Since posting the issue I see an example of using a global variable in `gatsby-transformer-screenshot`. What makes it okay here?

https://github.com/gatsbyjs/gatsby/blob/5a3c1fc3171362ebc9ae4727be122db5448a71b9/packages/gatsby-transformer-screenshot/src/gatsby-node.js#L9

In my use case, I've defined a new GraphQL node type `PostTag` and am creating one

[2019-06-11 01:37] rlynn523 commented on #14468
I can also just include the description in `showcase-details` and create an issue like you mentioned, and say that I have a solution for implementing global twitter cards?

[2019-06-11 02:28] AGreenObject commented on #13918
@LekoArts I've tried another operating system, Windows 10 Home, 10.0.0.17763 Build 17763, using powershell--and I've gotten hot reloading to work. I'm not exactly sure what the issue is/was, but I can tell you that I was using Ubuntu on the WSL (Windows Subsystem for Linux), and I assume the issue that I was having must have something to do with this.

[2019-06-11 02:41] jjcav84 commented on #14468
I am new here and everything but I say fix and PR.

[2019-06-11 03:03] WhiteAbeLincoln commented on #2928
I'm also experiencing the same issue as @hackhat. A plain `a` tag still does the push-state, which means I'm unable to link to my Netlify CMS page from my site. If I add the target="_blank" attribute, the link works as expected

[2019-06-11 03:07] mxxk commented on #8216
How does one express that a newly created node depends on more than one node? "Multiple parents" isn't a thing, so should this mechanism perhaps be extended to support this use case?

Imagine keeping track of all tags on each post, and creating exactly _one_ node per tag (i.e. `PostTag`). In this case, which node should be the parent? From a caching perspective, a change to the tags of _any_ post

[2019-06-11 03:11] ChristopherBiscardi commented on #14664
Yeah, it's on my plate to document this kind of stuff before we call stable.

To avoid what specifically? Shadowing components?

This seems pretty anti-pattern-y. The ability to shadow by default is a feature in this case, not a bug. Theme authors can not anticipate all use cases in advance and without shadowing there's no way to customize output. So intentionally bypassing shadowing means artific

[2019-06-11 03:23] Polyhistor opened #14699 "Separating GraphQL queries into separate files"
## Summary
I'm trying to find a way to increase the modularity of my GrahphQL queries. On some components there are 4 queries needed, which produces these fat and nasty looking components.  I've tried creating other files and importing queries as strings, but that sometimes work and some other times doesn't.

## Relevant information
Think of a box container where you have 4 boxes, each having thei

[2019-06-11 03:25] xuweiwei117526 commented on #14173
Please keep it open,thank you!

[2019-06-11 03:38] jacobsilver2 commented on #14173
Yes, please keep this open!

[2019-06-11 03:53] Saifadin commented on #14664
That's interesting to say. I always take the approach of customising through Props, so Component Shadowing is only necessary for the parts of the App that are completely custom, like the Footer, the Navigation, the MegaMenu or the tokens.
The UI-Kit will be exporting things like `Button`, `Section`, `Hero` etc which can be combined to create a page. I don't see a need for Component Shadowing in th

[2019-06-11 03:56] ChristopherBiscardi commented on #14664
Yeah so let's say you import and use `Button` in the theme, then someone imports, extends and uses `Button` in their site somewhere else. How would you expect to reconcile the visual appearance of the two buttons across the site?

[2019-06-11 04:03] Saifadin commented on #14664
Yeah I have thought of that my solution is to have a `Provider` for the UI Kit, that is used by the Theme to wrap the whole Page in `gatsby-browser` and `gatsby-ssr`.

[code]

That way the User can customise the look and feel of his application through eg shadowing `tokens/buttons.js` which then will be injected into the Provider.

[2019-06-11 04:10] ChristopherBiscardi commented on #14664
That's a valid technique and something we use in theme-ui. MDX also uses this technique with MDXProvider.

In addition, this technique doesn't cover the case of your original proposal where customization of components happens via props or `styled`.

[2019-06-11 04:16] Saifadin commented on #14664
I agree, customising through styled is a bit like using `!important`. It should be the last effort in case of an edge case, it shouldn't be necessary in 99% of the time.

In the case of props, I try to have the props as high-level as possible and leave the styling to be mostly done through tokens. For example in the button token you can define "styles", eg `primary`, `hollow` etc. Now when you use

[2019-06-11 04:17] KyleAMathews commented on #14696
That's a rather obscure plugin we'd don't put forward as a best practice :-)

It was built by a contractor and we don't recommend following that pattern. In that case, the state should have been stored in the remote service not in the local plugin.

It sounds like you want to do is directly define the `PostTag` type and filter `MarkdownRemark` nodes when the query is called https://www.gatsbyjs.or

[2019-06-11 05:10] ChristopherBiscardi commented on #14664
I'm a bit confused as that's not what I was saying and I'm also curious as to why it was used as the original repro if you don't think it should be used. (for reference my personal opinion is that the `styled` API should never be used; but that's not really relevant to the shadowing conversation here).

---

In any case the the anti-pattern here is trying to control what is shadowable and what isn

[2019-06-11 05:10] jrestall commented on #14699
Have you considered breaking the queries up into fragments that could live in different files?

https://www.gatsbyjs.org/docs/using-fragments/

[2019-06-11 05:17] rchrdnsh commented on #13248
Can I use es module syntax instead? I didn’t even know what commonjs was before reading this issue, and it seems very odd to use two different syntaxes for the same thing, no?

[2019-06-11 05:17] Saifadin commented on #14664
Oh, I misunderstood the question. In my repro I was using `styled` to add additional styles, which is necessary sometimes and of course is an edge case.

—-

I understand what you mean and I will think more about my setup and how to improve without adding any overhead and complicating things.

Thanks for your input and insights^^

[2019-06-11 05:57] freiksenet commented on #14571
Hello @BPScott!

@pieh described a possible workraround here https://github.com/gatsbyjs/gatsby/issues/12484#issuecomment-473488628. I don't think it's always a desired behaviour to trigger on query string change, however I definitely think it would be a great option for the plugins. Would you like to make a PR to those plugins to add that option?

Thanks a lot! :purple_heart: :muscle:

[2019-06-11 06:02] freiksenet commented on #14687
Hello @TomFreudenberg!

You could try wrapping everything into an async function and use `await` inside.

[code]

Note that this isn't a very supported way of running Gatsby and you might run into more problems.

[2019-06-11 06:07] freiksenet commented on #14680
Hello @violabg!

Could you paste your code where you use this query? It sounds like either variables or the query is passed somehow wrong and it runs with quotes in it.

Thank you! :purple_heart:

[2019-06-11 06:08] rchrdnsh commented on #14690
Been trying things like this is the `gatsby-browser.js` file with the `shouldUpdateScroll` hook, but I really don't know what I'm doing. Trying to get an element in react seems a bit tough for me.

[code]

read about findDOMNode but it seems i have to import react, then it tells me not to mix es modules and something else, which i forgot what the name was, which i don't understand, but in might ha

[2019-06-11 06:16] josh-meredith commented on #14173
FYI - The `gatsby-source-filesystem` plugin has been updated which now accepts the `GATSBY_CONCURRENT_DOWNLOAD` environment variable. Try setting this value to 10 and you should hopefully have some luck.

You can reference the [docs](https://www.gatsbyjs.org/docs/environment-variables/#server-side-nodejs) if you're not sure how to set the environment variable.

[2019-06-11 06:19] freiksenet commented on #14673
Hi @niphadkarneha!

Sorry to hear you are having an issue. This might be a problem with sharp version and the particular node version that is used at netlify. What version of node do you use with your local builds?

It would also be super helpful if you could share the code with us so that we can test it locally ourselves.

Thanks! :purple_heart:

[2019-06-11 06:20] mxxk commented on #14696
Got it; thank you for clarifying.

So far I've been able to arrive at the intended GraphQL schema and querying behavior with the wonderfully flexible [Node Type Mappings](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types), but what has got me tripped up is the lifecycle of the nodes themselves post-creation.

Correct me if I'm wrong, but per the docs on schema customization, custom r

[2019-06-11 06:20] #14696 closed

[2019-06-11 06:26] violabg commented on #14680
Hi thanks,
I'm not passing any variables, this is the code.

[code]

[2019-06-11 06:27] freiksenet commented on #14642
Hi @Hypothesis-github!

You can pass arguments inline in GraphQL if you want to pass it at your page level. Variables are mainly meant to be used in "template" pages, for example when you create a page per each node, so the page needs to know which node it's rendering.

Here is how you can pass variables directly:

[code]

[2019-06-11 06:38] KyleAMathews commented on #14455
@moocar's PR is now published in 2.9.0 🎉

[2019-06-11 06:38] #14455 closed

[2019-06-11 06:43] tareefdev commented on #14455
great!! Thanks

[2019-06-11 06:47] wardpeet commented on #13918
can you see if anything is being emitted through the websocket by watching eventstream. Could you also try to update [`fs.inotify.max_user_watches`](https://github.com/gatsbyjs/gatsby/issues/11406#issuecomment-458769756) might be a silent error on your end.

[2019-06-11 06:47] freiksenet commented on #14662
There is already [root margin specified](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L97) for Gatsby Image intersection observer, so it should happen before hand. It's possible to make a PR to add a configuration for it in gatsby-image API. However, 200px is not a small value, so I wonder if you could try it first by increasing this value by editing it in `nod

[2019-06-11 06:49] freiksenet commented on #14644
Hi @pitkes22!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction](https://gatsby.dev/reproduction). This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if y

[2019-06-11 06:51] wardpeet commented on #14126
basicall we want this in gatsby/utils.js but we probably have to wait for gatsby v3

[2019-06-11 06:53] wardpeet commented on #13555
let me ping @davidbailey00 again :p he's busy with his exams so if he doesn't answer in a couple of days i'll look into it.

[2019-06-11 07:00] wardpeet commented on #14551
@adarshlilha feel free to take this one on it seems like @nickwild-999 is fine that you take it so :)

[2019-06-11 07:16] wardpeet commented on #14497
I just thought it was upstream as it only happens on windows, seems like it isn't :)

Thanks @joshuaavalon

[2019-06-11 07:21] freiksenet commented on #14528
What if we combine the approach 1 and 2? We could only inspect root children and use only paragraphs (and similar nodes that are mostly text like lists), but ignoring the nodes that are not like that.

I understand that it is getting very complicated :man_facepalming: and I'm sorry for suggesting couple dead end solutions. This seems to be a much more complex problem than anticipated :sweat_smile:

[2019-06-11 07:27] wardpeet commented on #14678
Do you favor a build error or rather a warning and a patch for suspense. I believe we can polyfill Suspense with React.Fragment on SSR and show a warning during build and develop. We'll rehydrate and use CSR Suspense. I'm not 100% sure this is doable 😛

[2019-06-11 07:29] lnikell commented on #14662
Thank you @freiksenet! I will definitely try it and probably will get back with PR 😀

[2019-06-11 07:30] wardpeet commented on #14658
I'll look into this, might be wrong text wrapping.

[2019-06-11 07:30] JacobSoderblom commented on #14161
Hey!

We actually needs this now, we are building so called "micro frontends" (I'm not a big fan of it though) and each application will live under their own path in the same domain/subdomain.

For example:
`/gb/en/appointment`
`/gb/en/anotherapplication`
`/es/es/application`

We have been using `create-react-app` for our other applications but now we want to move over to gatsby to get the benefit

[2019-06-11 07:35] freiksenet commented on #14676
Hello @bmccaw!

Sorry to hear that you are having issues :( Unfortunately I couldn't reproduce this error with the example repository you have provided. Maybe you didn't add some code there? I'll be glad to take another look again after that.

Thank you for using Gatsby! :purple_heart:

[2019-06-11 07:40] freiksenet commented on #14561
Hello @arpitbatra123!

Unfortunately I couldn't reproduce this.

![2019-06-11-10:39:05](https://user-images.githubusercontent.com/172936/59252669-3c0ab200-8c35-11e9-8258-cf8297214fc5.png)

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll be able to take another look.

Thanks for using Gatsby!  :purple_heart:

[2019-06-11 07:45] freiksenet commented on #14653
I'm not 100% sure about this, but I suspect the issue might be that `gatsby-source-apiserver` doesn't have a stable ID generation. Instead it [generates a new id every time it gets the data](https://github.com/thinhle-agilityio/gatsby-source-apiserver/blob/master/src/normalize.js#L130).

Gatsby refresh endpoint reruns all the `sourceNodes` APIs of all the plugins. If plugins don't maintain data co

[2019-06-11 07:50] niphadkarneha commented on #14673
Hello,

I agree, I recently updated the software on my macbook and these issues got exponentially worse.

Code is available on : https://github.com/niphadkarneha/site

Kind Regards
Neha Niphadkar

[2019-06-11 08:11] sw-yx commented on #14678
eh. i mean i think just using a linter is a good first step. can do the fancy stuff later :)

[2019-06-11 08:18] phacks commented on #14614
@DSchau Thanks for the quick reply and the fix!

It looks that previous 404 errors are fixed, however one error remains on the domain https://using-asciidoc.gatsbyjs.org (the error was `DNS_PROBE_FINISHED_NXDOMAIN`).

So on the 6 URLs I tested in this issue, 5 are fixed and one remains unreachable.

I can close this issue and open a specific one if you prefer?

[2019-06-11 08:24] mikheevm commented on #14418
@talves does it make sense to add an option to disable CMS app build when building prod bundle? In our case our production website lives on AWS, when the cms is on netlify (we didn't understand if it was possible to migrate it to AWS). In our case it would be helpful, not sure for others though.

[2019-06-11 09:07] browniebroke commented on #6291
In case it helps, here is a pull request on a public repo with the issue: https://github.com/browniebroke/chez-nicole-web/pull/351

The Netlify logs: https://app.netlify.com/sites/chez-nicole/deploys/5cff6ca75c28e2000917dfc4

[2019-06-11 09:36] IftekherSunny opened #14703 "Can I change build directory path from public to anything else?"
Hi,

I'm trying to change my build directory path depending on my environment variable. Is it possible???

I already tried ` --output-dir ` and ` --build-dir ` flag, but both aren't working.

Waiting for your response @KyleAMathews

[2019-06-11 10:12] janosh commented on #14703
[`gatsby build`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-cli#build) doesn't offer a way to change the build directory. There's a long running issue about this (#1878) and even an attempt to implement this feature (#4756) but it's been reverted due to problems.

@KyleAMathews [indicated](https://github.com/gatsbyjs/gatsby/issues/1878#issuecomment-419614298) that it's unlikely

[2019-06-11 10:12] #14703 closed

[2019-06-11 10:24] janosh commented on #14699
I agree, fragments are the way to go here. I often keep a [`/fragments` directory](https://github.com/janosh/janosh.io/tree/master/src/utils/fragments) with a separate file for each fragment.

The nice thing is, when compiling your site, Gatsby preprocesses all GraphQL queries it finds. This means any file that gets included in your project can define a fragment by exporting a `graphql`-tagged str

[2019-06-11 10:49] flowen commented on #14652
@ocularrhythm thanks for your response. I changed my settings accordingly and confirmed I have now a /post-name/ slug instead of a query string. Also /wp-json/ works correctly.

But running gatsby still returns me (albeit a bit different) errors.

Some highlights from the full log:

[code]

Full log:

[code]

[2019-06-11 11:23] TomFreudenberg commented on #14687
Hi Mikhail @freiksenet

thanks for your feedback - I have tried those already before and that didn't worked either.

There is also some part in [create-cli.js#L15-L20](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/src/create-cli.js#L15-L20) which makes it non-working: `process.exit(0)`

So, for now there seems to be no option to run several cli commands in a series.

Thanks fo

[2019-06-11 11:24] #14687 closed

[2019-06-11 11:33] TomFreudenberg commented on #14703
Hi @IftekherSunny

you may use the `onPostBuild` event to rename or move the public folder to what you wan't or you may add a e.g. `postbuild` rule to your package.json to do the `mv` job.

[2019-06-11 11:41] bogdancss commented on #14239
I am using `html-react-parser` for title as well  -  would be nice to get this decoded

[2019-06-11 13:46] freiksenet commented on #14673
@niphadkarneha Thank you! Have you tried clearing netlify cache? Sometimes this helps with their builder. I'll take a deeper look at it if it doesn't help.

[2019-06-11 13:57] sidharthachatterjee commented on #14673
[code]

Never seen this before but looks like a flaky installation of sharp on Netlify. Keeping an eye out if this happens again.

[2019-06-11 14:04] fk commented on #14468
☝️ 💯Hey @jjcav84! 👋 — @rlynn523 Do you want to open a ([draft](https://github.blog/2019-02-14-introducing-draft-pull-requests/)) PR with your work?

[2019-06-11 14:06] arpitbatra123 commented on #14561
Hey @freiksenet.

Thanks for looking into this.
Steps to reproduce this issue:
1. Run `gatsby new my-blog https://github.com/gatsbyjs/gatsby-starter-blog`
2. cd my-blog && gatsby develop
3. Delete a file from the project. For reference I deleted images from the content/assets folder.

On doing the above, You Should be able to reproduce this issue.

[2019-06-11 14:36] flowen commented on #14652
installed `acf-to-rest` plugin, tried removing the .cache manually and ran it about 5x but without any resolve of any of the warnings.. Could it perhaps be a rights issue? It's only a few fetches that are unauthorised, the rest works, which is kinda weird (but then again my WP knowledge is limited)

[2019-06-11 14:43] Jimmydalecleveland commented on #10668
For anyone having the same issue as me, I found a solution and was given an alternate solution over in the storybook github issues here: https://github.com/storybookjs/storybook/issues/5949#issuecomment-500869039

[2019-06-11 14:58] wardpeet commented on #12399
https://github.com/gatsbyjs/gatsby/pull/14111 should fix polyfills for all dependencies.

[2019-06-11 15:06] hugo-marques-m3 commented on #12399
That sounds awesome @wardpeet. If I understand that correctly, that would solve the local packages polyfills issues. But will it allow us to include the polyfills that we want to include because one of our included scripts requires and uses it immediately on page load (polyfills that can't be added through gatsby-browser because it needs them before that runs)?

[2019-06-11 15:11] jjcav84 commented on #14468
Hmm I hadn't thought about that until now. I am built a mock employee directory using the character data from the Rick and Morty GraphQL API using the first page (20 characters) and I would like to add all of them about 500 characters and paginate it as well as a way to have a form that you can create update and delete characters from the directory but I got a bit stuck there. I'm sure someone cou

[2019-06-11 15:20] ocularrhythm commented on #14652
I feel like I'm just giving you the run-around instead of actually resolving your issue, sorry about that. It does seem that the auth property is for three things - JWT for use with a JWT plugin, an .htaccess credential, or a WordPress.com hosted account. Since your test site falls into none of these, I don't think it helps us here.

I've found if you don't have any ACF fields created that `Path:

[2019-06-11 15:22] gustavpursche opened #14707 "Images disappeared after update"
## Description

<img width="1279" alt="Screenshot 2019-06-11 at 17 39 03" src="https://user-images.githubusercontent.com/2244375/59286346-d7207d80-8c6f-11e9-8927-30e2c7a8cd14.png">

<img width="1279" alt="Screenshot 2019-06-11 at 17 43 58" src="https://user-images.githubusercontent.com/2244375/59286720-88bfae80-8c70-11e9-9ec3-7e716cda747d.png">

I've noticed on several instances, where I'm using `

[2019-06-11 15:30] grumpyoldman-io commented on #8020
I know this is closed, but I spent some time on this as well. This is a not a merge but more of a "concat" of headers if you ask me. It doesn't feel intuitive as it currently stands. Are you open for changes on this?

[2019-06-11 15:39] kepi0809 commented on #13930
yes I think the `Failed to process remote content` warnings were fixed by @violy 's PR thank you for that again. I was until now not really aware of how easy one can change an npm package and customise it for one's own use case.

I found that in the wordpress plugin they delete the sizes on purpose, so this way they enforce the users to use the sharp plugins and make modifications on the localfile

[2019-06-11 16:29] gillkyle commented on #13710
Have you been able to make some progress on this @paschalidi? 🙂

[2019-06-11 16:53] magdalena-dering opened #14708 "TypeError: Cannot read property 'site' of undefined"
## Description

Hi,
I have created component in gatsby.js project. The component is build with three separate files - component, data and index.js. I have build similar component to one below with fetching title and is working fine. This one throw an error even if I restart gatsby, remove node_modules or clear cache (that helped me before).
Query in http://localhost:8000/___graphql is working fine

[2019-06-11 16:58] niphadkarneha commented on #14673
@freiksenet Yes, I cleared the cache and deployed again. It fails to deploy. I'm going to retrace my steps from the last successful build in order to debug.

[2019-06-11 17:12] rchrdnsh commented on #14524
closing this nor now as I made a new issue which is more exact in my needs.

[2019-06-11 17:13] #14524 closed

[2019-06-11 17:27] #13764 closed

[2019-06-11 17:27] #13922 closed

[2019-06-11 17:27] #13959 closed

[2019-06-11 17:47] KyleAMathews commented on #14696
Are you setting the `parent` field for your transformed nodes? If you don't set that, Gatsby assumes the node is orphaned and deletes it.

[2019-06-11 17:47] KyleAMathews commented on #14696
Guess we can chat more in a new issue :-)

[2019-06-11 17:49] emplums commented on #9340
Would love these docs!

[2019-06-11 17:53] lannonbr commented on #9340
@gillkyle is currently working on doing this for sites built with Create-React-App here: https://github.com/gatsbyjs/gatsby/pull/14626

[2019-06-11 18:04] kkaramch commented on #14693
I would like to help fix this.

[2019-06-11 18:05] aks1994 commented on #8056
@azamatsmith

Thanks for your solution. I'm trying to run your prebuild.js script but end up with this error. Any suggestions?

:04:20 PM: Prebuild - Checking Netlify server
11:04:20 PM: (node:1361) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, scandir '/opt/build/cache/public'

[2019-06-11 18:34] watadarkstar commented on #14693
I'll be providing some guidance for @kkaramch - he's one of my mentees.

[2019-06-11 18:43] gillkyle commented on #14693
Awesome thanks, @kkaramch and @watadarkstar! That would be super helpful!

Any help with some or all of the broken links would be very appreciated 🙂

I think the most impactful change is removing the `createRedirect` [here](https://github.com/gatsbyjs/gatsby/blob/60230bc9415ad7b9f795706f52c542a3344b5389/www/gatsby-node.js#L263-L267), most of the broken links in the report are happening there becau

[2019-06-11 18:57] watadarkstar commented on #14693
Cool!

@kkaramch Can you follow what was suggested by @gillkyle here: https://github.com/gatsbyjs/gatsby/issues/14693#issuecomment-500972324

You will want to:

1. Fork the repository. Follow these [guidelines](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/ ) to get your developer environment setup - if you get lost let me know.
2. Make the changes that @gillkyle sugg

[2019-06-11 19:05] watadarkstar commented on #14693
@gillkyle RE: "Would you like to assign yourselves to the issue?"

I don't think we can assign ourselves (access restrictions) but if you can do it for us that would be great!

[2019-06-11 19:07] rlynn523 commented on #14468
Sounds great, I'll push that tonight!

[2019-06-11 19:32] grubersjoe commented on #14707
I'm facing the same problem. After I've upgraded all packages to their latest version continous deployment via Netlify no longer works. No error is logged and the page can be built, but all images are missing. Building the page locally still works however.

[code]

[2019-06-11 19:42] kalongthewires opened #14712 "gatsby-plugin-google-tagmanager verification for Google Search Console"
## Description

The Google Tag Manager (GTM) plugin for Gatsby does not seem to guarantee that the GTM snippet is inserted immediately after the `body` tag, which is a requirement for Google Search Console Verification.

### Steps to reproduce

Include both gatsby-plugin-google-tagmanager and gatsby-plugin-svg-sprite in your project (package.json and gatsby-config.js) and include a SVG somewhere o

[2019-06-11 20:10] gillkyle commented on #14693
@watadarkstar oh yeah you're right my bad, I guess only users with push access to a repo can be assigned, didn't know that until now 🤷‍♂ this conversation is enough to let other's know that that little bit is already being worked on.

[2019-06-11 20:37] iFlameing commented on #14708
@magdalena-dering I tried your code and It works fine for me. Just one problem might be in this line

For me it is export { default } from "../components/SocialIconsData";
can you provide your repo link. So that I can debug it :)

[2019-06-11 21:07] magdalena-dering commented on #14708
Yes, thank you in advance :)
https://github.com/magdalena-dering/folio.git

[2019-06-11 21:28] iFlameing commented on #14708
@magdalena-dering You are not importing SocialIconsData into Layout.js once you substitute the socialIcons with SocialData component your problem is solved :

[2019-06-11 21:28] #14708 closed

[2019-06-11 21:35] magdalena-dering commented on #14708
Ohhh grrrr ;D

Thank you :)

[2019-06-11 21:44] MichaelDeBoey opened #14715 "🐞[gatsby-transformer-remark] Link with double underscore doesn't work"
## Description
When converting all of @CompuIves' [Medium posts](https://medium.com/@CompuIves/latest) over to @codesandbox' blog (see codesandbox/codesandbox-client#2011), I came across a bug when a link contains 2 underscores (`_`).

When I try to include the following Tweet-link, I just see the link with an italic `d` instead of the `d` between an underscore on both sides:
[code]

I first thoug

[2019-06-11 22:51] pieh commented on #14707
Please temporarily pin `gatsby` version to 2.8.8 (before 2.9.0). I tracked down the cause, but fix will need a bit of time (hopefully tomorrow)

[2019-06-11 23:55] zjaml commented on #8237
This issue is still there and can be reproduced by the latest material example of gatsby.
I can provide a codesandbox url if you need, since it requires some work.

[2019-06-12 00:00] rlynn523 commented on #14468
@fk here is a link to the PR for just adding the description to the Twitter cards: https://github.com/gatsbyjs/gatsby/pull/14721

I will open a draft PR with the changes to `SiteMetaData` to allow for the configuration of Twitter tags on any page that pulls in `Layout`. I'll add the link when it's in. There are no tests for the changes, but if it is something that you think would be useful, I'll u

[2019-06-12 00:08] fk opened #14722 "[www] Use styled-system.com/css/"
I've been chatting with @jxnblk about this today: With #14360 incoming, how about switching `www` to use https://styled-system.com/css/?
Stating the obvious DX benefits:

- no need to import design tokens anymore, e.g. https://github.com/gatsbyjs/gatsby/blob/29e2de43ddc97eb9065d5981f3a4a13745c2b86c/www/src/components/avatar.js#L4
- no need for the syntactic overhead of https://emotion.sh/docs/them

[2019-06-12 00:24] jxnblk commented on #14722
Happy to address any questions/concerns about this. Small note, the docs are now being deployed to https://theme-ui.com and the ones linked above may be outdated

There are probably other tradeoffs between any treeshaking that using modules might provide and using React context for design tokens – I'd guess that it's probably not a huge concern and that it's probably best to rely on real-world per

[2019-06-12 00:53] gvocale commented on #8824
I needed to set both max-width and max-height to my image. The way I got it to work is using:
[code]
[code]

[2019-06-12 01:23] riywo commented on #4459
FYI: I have created a PR to fix this behavior #14723

[2019-06-12 02:14] rlynn523 commented on #14468
@fk there they are! I did notice that when I navigated from one page to a showcase site, that the meta data in the head did not change (and remained the default values), but hitting that page directly updated the meta data. When using the twitter card validator, there were no issues, most likely due to it grabbing the page directly. If this is a problem, I can probably extract out the logic I have

[2019-06-12 04:34] PatrickLambert1101 commented on #6291
For me, my local build is working and may Netlify build has the same ``` 1393 Segmentation fault      (core dumped) gatsby build``` issue

[2019-06-12 05:27] stefanprobst commented on #12272
@janosh you can only group by one field (hierarchical sub-groupings are not possible). if you need the values of both `title` and `slug`, you can group by one, and get the value of the other from the results (maybe I'm misunderstanding?):
[code]

[2019-06-12 05:50] ali-sao commented on #6211
@sarneeh same goes for me

[2019-06-12 07:53] #14651 closed

[2019-06-12 08:11] bambamayo commented on #14353
I was finally able to get it to work. I cleared my npm cache, deleted node modules ,reinstalled packages and everything worked fine. Thank you @superhawk610 @wardpeet

[2019-06-12 08:22] gmossong commented on #14125
Would be good to see techniques for not only the usual stuff like title, description, Facebook and Twitter meta tags but also [structured data](https://developers.google.com/search/docs/guides/intro-structured-data).

[2019-06-12 08:57] PatrickResponsive commented on #13442
Also still facing this issue

[2019-06-12 09:13] mhenrixon commented on #11049
Hi @LekoArts, how about this one:

Is the plugin not compatible with v2.1 and onwards?

[2019-06-12 09:21] david-nossebro commented on #10795
@atomiks my pull request is now merged. I have included the possibility to define the insertBefore method as well, so it should solve your problem.

[2019-06-12 10:06] joealden opened #14729 "Using Gatsby in Storybook broken in version 2.9.0"
## Description

In a project I am working on, I am using Gatsby's `Link` component within Storybook stories. To get this working, I followed the instructions found [here in the Gatsby docs](https://www.gatsbyjs.org/docs/visual-testing-with-storybook/). This has been working fine for over 2 months now.

However, when updating Gatsby from `2.8.8` to `2.9.0`, Storybook fails to build because of a Gat

[2019-06-12 10:17] FabriceReynolds commented on #9210
I have a slightly different issue. I would like to integrate a static blog within a larger site structure  by injecting it into a container.  I have tried reading the static index.html file and inserting it into a container and that mostly works however I then have two sets of html and body tags and the react-helmet plugin doesn't work.

I can edit the html.js file and remove the html and body tag

[2019-06-12 10:34] jamo commented on #14428
We do have https://modeanalytics.com/gatsby/reports/db549027a0d8
But I'm planning to extend it to look at two parts. what's the first error, and what's the last error users experienced

[2019-06-12 10:38] mernerp commented on #8237
After updating to MUI 4.1.0 I have this issuee. Using the official mui plugin with gatsby as adviseed in the MUI gatsby example. Did not change injection order or anything as it was working fine in MUI 3.x.

[2019-06-12 10:39] Moocar commented on #14729
@joealden Thanks for the well thought out report. You're 100% correct on your diagnosis. I hadn't considered the case of using Gatsby-link without Gatsby itself. Luckily, this should be an easy fix. I can move the importing of `match-paths.json` into [production-app.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/production-app.js) (a core Gatsby file), and then dynami

[2019-06-12 10:45] oliviertassinari commented on #8237
It's a recent regression with an update of react-hot-loader.

[2019-06-12 10:58] karer commented on #14707
@pieh

Locking version to 2.8.8 worked. If it could be helpful, on 2.9 `npm run build` does not wait for generating all thumbnails. It just exists after building static js/css/html.

[2019-06-12 11:24] janosh commented on #12272
@stefanprobst That doesn't fit my use case but it's only a minor inconvenience. Thanks for all the awesome work you're putting into schema customization!

[2019-06-12 11:32] acalderongarcia commented on #5458
pt-5 padding-top

[2019-06-12 11:35] wardpeet commented on #14353
Awesome. It seems like some npm modules can cause this when they don't have proper polyfilling. If it ever happends again you can install `regenerator-runtime` and just add `import "regenerator-runtime/runtime";` to your page.

[2019-06-12 11:35] #14353 closed

[2019-06-12 11:42] pieh commented on #14707
Thanks @karer!

As you correctly noted, not waiting for images was the problem - and it wasn't problem in core gatsby package but in `gatsby-plugin-sharp` (for some reason this problem didn't occur before some code shuffling in gatsby core package). It was fixed ~1 hour ago by @wardpeet with https://github.com/gatsbyjs/gatsby/pull/14731. So you should be able to update both `gatsby` (^2.9.0) and `

[2019-06-12 11:47] mernerp commented on #8237
Temporal workaround from [react-hot-loader issue](https://github.com/gaearon/react-hot-loader/issues/1262):

If you use the [gatsby example](https://github.com/mui-org/material-ui/tree/master/examples/gatsby) from the MUI project: You need to paste

[code]
on top of the function definition of your root layout i.e. the [top layout](https://github.com/mui-org/material-ui/blob/master/examples/gatsby/

[2019-06-12 11:52] grubersjoe commented on #14707
The latest version fixes the issue for me. Thank's for handling this :).

[2019-06-12 12:49] zjaml commented on #8237
The workaround works like a charm. Thanks @mernerp !

[2019-06-12 14:43] interglobalmedia commented on #14686
Hi, I  want to add my biz site that I developed myself (I'm a Full Stack JS Developer) to the GatsbyJS showcase. I am also working on a client site using Gatsby and will be in future with other clients. I was a bit confused however, by the steps in https://www.gatsbyjs.org/contributing/site-showcase-submissions/. Should I be forking the Gatsby repo and then creating a pull request in order to subm

[2019-06-12 14:45] wardpeet commented on #6291
It's a hard nut to crack... You could try setting the env variable `GATSBY_CPU_COUNT=logical_cores`. I'm unsure if this even helps but might be worth the try

[2019-06-12 14:46] gillkyle commented on #9340
The PR for porting from Create React App is about ready to be merged (https://github.com/gatsbyjs/gatsby/pull/14626)

Are there particular frameworks or configurations that would be helpful to have guides written for? (@emplums, @reyanshmishra, et al.) It was mentioned in the conversation for the above-linked PR that having some stubs for additional guides would be beneficial.

[2019-06-12 14:51] janosh commented on #14686
Correct you need to submit a PR against [`sites.yml`](https://github.com/gatsbyjs/gatsby/blob/master/docs/sites.yml). However, you don't have to pull the repo to your local machine. You can edit the file directly on GitHub which will create a fork automatically from which you can submit the PR.

![Screen Shot 2019-06-12 at 15 47 39](https://user-images.githubusercontent.com/30958850/59361399-b0bf1

[2019-06-12 14:56] younggrandpa opened #14740 "Hosting with automatic build?"
## Summary
I'm new to JAMStack implementation and I've reached google search fatigue levels (not to mention information overload). So apologies for the noob question. **Has someone implemented serverless setup where the system periodically builds the gatsby site and purge CDN cache automatically?** I'm looking at either a CRON like system or a trigger via API (e.g. when source database gets X numb

[2019-06-12 15:10] younggrandpa opened #14741 "Webinar suggestion: CSRF and security best practices for dynamic gatsby web apps"
Not sure if this is the right forum for these sort of suggestions. May I suggest that you guys have a part two of this Webinar: [Beyond Static- Building Dynamic Apps with Gatsby ](https://www.youtube.com/watch?v=BrBK4yxodXA) but focusing on security implementation examples. I reckon it would be beneficial for those who have projects with at least three forms.

Thank you in advance.

[2019-06-12 15:15] valse opened #14742 "[2.9.x] Client only paths refresh stopped working"
Hi,
   from the 2.9.0 version if I try to navigate directly to one of client page path like "/product/123/", I'm redirected to the base "/product/" url: the same if I refresh the browser from the "/product/123/" page.

[2019-06-12 15:21] wardpeet commented on #14712
it's going to be hard to enforce this. It probably depends on the order of your plugins. Could you create a small github project so we can test this properly?

Thanks!

[2019-06-12 15:22] kmcaloon commented on #14558
Thanks @DSchau.  Originally I was going to try exploring inline styles, however the problem is that the Composer component would then import components from my actual gatsby-based frontend app with their own styles -- so I would basically have to refactor everything to use inline styles or styled components.

For these and other reasons, for this use case I just had to implement an iframe and am u

[2019-06-12 15:28] wardpeet commented on #14184
@ciokan sorry for my late response. If the same image is used we don't process it multiple times. We only do the heavy lifting once but sadly we show up the warning for each image.

Or are you facing an issue where we do generate the icon 100 of times?

[2019-06-12 15:30] wardpeet commented on #14199
This is a hard nut to crack at the moment. We have to send this function over to webpack which is a bit hard. We can stringify it but a better ways it to compile it to an AST and reconstruct it on gatsby-browser.

[2019-06-12 15:36] DSchau commented on #14690
Hi Richard!

There's a lot to unwind here. In general, I have some high-level advice:

I think you're optimizing for the wrong thing, and in particular, over-optimizing. If you solve one problem and it makes other, more fundamental problems much more challenging I don't think that's a good solution to the initial problem. Remember that you're optimizing for iPhone here and that is making it harder

[2019-06-12 15:36] #14690 closed

[2019-06-12 16:25] lannonbr opened #14744 "feat(site-showcase-validator): Output daily results to Discord"
## Summary

As discussed in the OSS Maintainers meeting this week, I brought up the idea to take the output of the Site Showcase Validator and output into the Gatsby Discord. The outputs of the current action found at [.github/actions/gatsby-site-showcase-validator](https://github.com/gatsbyjs/gatsby/tree/master/.github/actions/gatsby-site-showcase-validator) could be saved to a file and then read

[2019-06-12 16:47] janosh commented on #14658
Also experiencing this.

[2019-06-12 16:56] wardpeet commented on #8056
To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduction and we'll be able to take another look.

Thanks for us

[2019-06-12 17:09] wardpeet commented on #11137
The latest version of [gatsby-plugin-netlify-cms](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cms/?=gatsby-plugin-netlify-cms) fixes this one

[2019-06-12 17:10] janosh opened #14745 "gatsby serve - H 0.0.0.0 not logging local network address"
## Summary

Upon successful compilation, `gatsby develop -H 0.0.0.0`  logs the message

⠀
  Local:            http://0.0.0.0:8000/
  On Your Network:  http://10.248.107.170:8000/

`gatsby serve -H 0.0.0.0` should do the same. At the moment, even though it makes the site available over the local network, it doesn't give you the IP address at which to view it.

### Motivation

This is important for

[2019-06-12 17:27] #13974 closed

[2019-06-12 17:48] rchrdnsh commented on #14690
Hi @DSchau 😁,

I hope you are well, and that your recent talk was well received :-)

I also appreciate your comments and concerns regarding thus issue. I must disagree with your conclusion, however, as I ultimately value the user experience far above the developer experience in all cases, and I consider the decisions that some of the browser makers are making in this instance to be extremely user

[2019-06-12 17:51] leanmiguel commented on #14744
Can I help with this?

[2019-06-12 18:02] lannonbr commented on #14744
@leanmiguel Do you have access to GitHub Actions? If not, I would be open as well to pair program on this as I do have access to Actions and have a good knowledge-base around the validator. I have a private discord for testing so we could test things out there and then move the code into here.

[2019-06-12 18:18] leanmiguel commented on #14744
I do not have access to GitHub Actions. As this would be my first open source contribution, I would be very open to the pair programming session. I'm currently just trying to get the output from the validator.

[2019-06-12 18:22] lannonbr commented on #14744
Alright. Feel free to send an email (you can find it on my profile page) to me and we can set up a time to pair program.

Looking forward to it!

[2019-06-12 18:33] marcysutton commented on #9779
Hi folks! Thanks for your interest in working on this doc! We are definitely still looking for help. (The entire [routing section of the docs](https://www.gatsbyjs.org/docs/routing/) could use some work!)

[2019-06-12 18:41] darrell24015 commented on #14598
Need any additional help with this? I've had a couple of time where I've been prompted to update and worried it might break something in the build. Also, is there some documentation that addresses moving the local build from one PC/Laptop to another? I have three different laptops that I do dev work on (depending where I'm working at the moment).

[2019-06-12 19:06] marcysutton commented on #9374
There would likely be some overlap in a gatsby-image tutorial, but it's worth keeping in mind the purpose of tutorials:

A tutorial could guide a user through setting all of this up without the limiting pressure of a reference guide to not be too lengthy. Maybe it would help to think of a tutorial as the written-version of a how-to video. You can certainly start by looking at the content that alre

[2019-06-12 19:14] leifniem commented on #7917
This is still an issue. I understand that it might be necessary for blur-up and SVG placeholders, but i find myself in the position where i only require the `srcSet`-property to be set and can not get rid of the styling nor the wrapper itself in any way.

[2019-06-12 21:03] bigfanjs opened #14752 "Gatsby-plugin-sharp generates source sets bigger than maxWidth parameter."
## Summary
`Gatsby-plugin-sharp` seems like it generates source sets(`srcset`) bigger than what specified in `maxWidth` parameter.

that is mentioned in `gatsby-transformer-sharp` docs:

Ref: https://image-processing.gatsbyjs.org/

## Relevant information
my query:
[code]

which generates a `srcset` like:
[code]

Those images are coming from Contentful, and Contentful does not allow fetching image

[2019-06-12 21:25] grantglidewell commented on #14740
Several hosts implement build hooks if youre looking for something like that. Basically tells the platform that content has changed and triggers a rebuild and push to CDN. Netlify has this, Im sure others are on this train as well.

[2019-06-12 22:00] oliviertassinari commented on #8237
It's fixed in https://github.com/mui-org/material-ui/pull/16195 and will be soon released in v4.1.1.

[2019-06-12 22:44] KyleAMathews commented on #14752
This would be something to fix in gatsby-source-contentful as since they have their own image api, gatsby-plugin-sharp doesn't process images from Contentful. Would you like to add a PR restricting width to 4000px here https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/extend-node-type.js ?

[2019-06-12 22:47] zjaml commented on #8237
You guys rock @oliviertassinari

[2019-06-12 22:51] bigfanjs commented on #14752
@KyleAMathews Thank you for the quick answer. Yes I really would love to 😊

[2019-06-12 22:59] marcysutton opened #14753 "[docs] add info about working with multiple images"
## Summary

As part of the [image workflow evaluation](https://github.com/gatsbyjs/gatsby/issues/14529), one use case that would be good to document is how to work with multiple images, like with an image gallery or something. Currently options are somewhat limited and the GraphQL workflow is awkward, but hopefully that will be improved in the future with https://github.com/gatsbyjs/gatsby/issues/

[2019-06-12 23:18] KyleAMathews commented on #14752
Thanks!

On Wed, Jun 12, 2019, 3:51 PM Adel <notifications@github.com> wrote:

[2019-06-13 00:10] jhabash commented on #14447
It took me a while to figure out what the problem was.

The solution was to delete the node_modules referred to in the error (/Users/user/Development/node_modules/). This node_modules persisted through every install and re-install of Node, which caused the errors seen above.

[2019-06-13 00:10] #14447 closed

[2019-06-13 00:54] marcysutton commented on #14529
All outstanding items are open as separate issues, so with #14697 merged this item can be closed. There are still more improvements to make, but we can focus on the smaller pieces! We're always open to further suggestions and fixes, as well.

[2019-06-13 00:54] #14529 closed

[2019-06-13 01:01] marcysutton opened #14755 "[docs][workflows]: add more info & controls for Working with GIFs"
## Summary

Continuing on from https://github.com/gatsbyjs/gatsby/issues/14529, the new page on [Working with GIFs](https://www.gatsbyjs.org/docs/working-with-gifs/) has two improvements to be made:

1. Add controls to pause the animating GIF on page load to not pose accessibility problems for users with motion sensitivity, perhaps with [react-gif-player](https://www.npmjs.com/package/react-gif-pl

[2019-06-13 01:44] Ta2Rim commented on #13865
related to #14126

[2019-06-13 01:44] #13865 closed

[2019-06-13 02:12] rchrdnsh opened #14758 "Routing working on local machine, but not on Netlify..."
## Description

My repo:

https://github.com/arrowgtp/alma

...works fine on my local machine using `gatsby develop`.

But when I upload to Netlify, the router seems to break or can't find the routes properly at this url:

www.alma.vacations

Not sure what to do, except revert to an earlier build that works properly.

### Steps to reproduce

Clone the repo, run locally to check if it works, then u

[2019-06-13 02:23] WildDagger opened #14759 "Got GraphQL Syntax Error in Visual Studio Code"
I installed Gatsby and want to use StaticQuery.
However, I got a syntax error in Visual Studio Code.
I don't know why my Code can not detect GraphQL Code rightly.

[Here is error what happened](https://i.stack.imgur.com/Huhms.png)

I copied StaticQuery code from [this page](https://www.gatsbyjs.org/docs/static-query/)

Can someone tell me how to solve this problem?

P.S. I have already updated to

[2019-06-13 02:32] josefaidt commented on #14759
You need to surround the query with backticks.

[code]

[2019-06-13 02:34] WildDagger commented on #14759
I got it. Thanks a lot.

[2019-06-13 02:34] #14759 closed

[2019-06-13 04:04] leonardolouie commented on #13278
Still having the error.. I follow all the steps above

[2019-06-13 04:31] wendzhue commented on #10058
Ooh. This @gatsbot did a great job to pretend that the problem is fixed. :(

[2019-06-13 04:45] stefanprobst commented on #13278
@leonardolouie Could you post the steps you took that lead to this error? It is not 100% clear what "steps above" you're referirng to.
Even better would be a link to a [small testing repo](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) with which to reproduce the error. Thank you!

[2019-06-13 04:49] #12519 closed

[2019-06-13 05:17] rchrdnsh commented on #14758
hmmmm, now the routes are not working on either my local machine or netlify, so they are just broke, but no errors anywhere that I can find...

[2019-06-13 05:43] dustinhorton commented on #5458
@acalderongarcia have you added this to your `gatsby-config.js`?

[code]

[2019-06-13 06:01] wardpeet commented on #14366
You don't get this error when running gatsby build from the cli?

[2019-06-13 06:12] drake-smith opened #14762 "[gatsby-source-contentful] Contentful JSON Object field - I'd like to query for the entire JSON object, but instead I have to query for each key."
## Summary

I have a JSON Object field in my Contentful content Page model where I am adding a JSON object (for Google structured data). I want to query for that entire JSON object back in my GraphQL response, to then pass through to my SEO component to a `<script type="application/ld+json">`.

It seems I have to explicitly query for each key in my JSON object. This is very cumbersome, as we have

[2019-06-13 06:24] wardpeet commented on #11830
It's just me being bad at giving advice 😄 I've been to deep on babel configs lately which uses that syntax. I've edited the above comment with correct syntax

Let me know if the config above works then we can add an option to the offline plugin. We recently shipped a new way of getting page data #14359 so this might help as well with stale data.

[2019-06-13 06:27] wardpeet commented on #11123
@vickylance it should be resolved. If not I would suggest filling a bug in the [lighthouse repo](https://github.com/GoogleChrome/lighthouse)

[2019-06-13 07:24] PradeepLinkites commented on #4967
I was also getting same error but my issue has resolved by using cammand with sudo

[2019-06-13 08:50] atkinchris commented on #4984
This tripped me up - as from a language point of view, they are identical. Is this in the docs?

[2019-06-13 08:54] valse commented on #14742
I made a demo site here:

https://csb-ith0t.netlify.com/test/product/

navigate to one of single product page and refresh it... you'll redirect to the previous list page.

The issue happen in **production build only**!

[2019-06-13 09:04] valse commented on #14758
The routing is working properly on Netlify :-\

[2019-06-13 09:23] abhijithvijayan commented on #13284
@wardpeet @lannonbr  I can take a shot at this. All I have to do is rollback https://github.com/gatsbyjs/gatsby/pull/13066/files right?

[2019-06-13 09:24] KnisterPeter commented on #14366
No, from cli this works as expected.

[2019-06-13 09:32] AniaMakes opened #14765 "gatbsy-source-medium: Provide GraphQL Types"
## Description

As far as I can tell, gatsby-source-medium fetches a JSON of Medium data. At some point this becomes a GQL schema. The schema's types are somehow inferred based on the content.
Unfortunately, Medium - in some cases - has two different content types for one key.

This results in the following warning

[code]
I'm going to guess that Medium uses `0` as equivalent of `null`, but unfort

[2019-06-13 09:34] mxxk opened #14766 "GraphQL Node with Multiple Upstream Dependencies"
## Summary

How does one model transformed GraphQL nodes in Gatsby which depend on more than one source node? 🤔

Gatsby uses parent/child relationships between nodes to:

1. Know which cached nodes are stale and should be deleted for subsequent builds.
2. Implement live updates in `gatsby develop`.

Thus, if the parent of a created node is not set properly, this node may not update correctly on re

[2019-06-13 09:34] dyyyl commented on #14564
Hey @marcysutton! I'm getting close to PR time, but I'm struggling to add the new article to the sidenav. Can you please point me in the direction on how that's managed in the repo? Thanks!

[2019-06-13 09:36] mxxk commented on #14696
#14766. See you there! 😄

[2019-06-13 09:43] valse commented on #14745
Hi,
   I can serve my production build over my lan with the command:

`gatsby serve -H 10.248.107.170`

[2019-06-13 09:46] janosh commented on #14745
Sure, but I'd like my machine's IP to be picked up automatically (hence `-H 0.0.0.0`) while still being told what it is once the production build is live.

[2019-06-13 10:04] TibiTotoro commented on #3446
I have a similar question, but the problem is not in the conflict of styles. On my project there are several pages with a very large css animation, and I would like not to load these styles inline on other pages where they are not needed. Is there any way to load on the page only those styles that apply to it?

[2019-06-13 10:08] dyyyl commented on #13305
Hey @marcysutton, as soon as I've PR'd #14564 I can start working on this one! I recently went through and made sure to patch up my own blog with Mozilla Observatory and the blog post referenced 👆🏽 was really helpful - I think this would be a great guide to work on 🚀

[2019-06-13 10:10] m-allanson commented on #4746
Fixed in #13004, and available in `gatsby@2.9.0` 🎉 Huge thanks to @Moocar and everyone involved in reviewing and testing this feature 💜

[2019-06-13 10:10] #4746 closed

[2019-06-13 10:18] #14729 closed

[2019-06-13 10:53] dyyyl commented on #14564
Actually, scratch that! Managed to figure it out, PR is out! Really enjoyed working on this one 😄

[2019-06-13 11:28] dyyyl commented on #14539
Hey @BernardA! I've found a solution that worked on my end 😄

If you run `yarn build` and then `cd` into your new /public directory, you can run surge inside of public and everything will work as expected.

Here's my deploy, using this method: http://raspy-tooth.surge.sh/

[2019-06-13 11:39] janosh commented on #6896
Small update: The [above mentioned ToC implementation](https://github.com/gatsbyjs/gatsby/issues/6896#issuecomment-491526452) no longer relies on #13972 and now highlights the currently active section of the document. Also wrote a [short blog post about it](https://janosh.io/blog/sticky-active-smooth-responsive-toc).

[![toc](https://user-images.githubusercontent.com/30958850/59429698-38636080-8dd

[2019-06-13 12:42] #13284 closed

[2019-06-13 13:19] andres-rivera commented on #7377
The problem has to do with the variable inside fluid={. . .} or fixed={. . . }. Ensure the variable inside is correct.

[2019-06-13 13:47] medyun opened #14771 "Serve Gatsby blog site in sub directory with Netlify"
Hello there. I'm new to gatsby and netlify and I'm having a problem.

I have a domain called example.com. It has an index.html file, which is a static html file. I want to create a subfolder named blog here and put the blog I created with gastby into it.

When I do this and try to build in netlify, I get an error. The error message is: "**failed during stage 'building site': Build script returned

[2019-06-13 14:20] m-allanson commented on #11982
Fixed by #13004 and released in `gatsby@2.9.x`. 💪🎉

[2019-06-13 14:20] #11982 closed

[2019-06-13 14:31] rchrdnsh commented on #14758
whoops, forgot I switched to an earlier deploy. Should be broke again.

[2019-06-13 14:34] tomByrer opened #14772 "website & blog needs css background: #000"
After changing my Firefox's default background to dark, some of Gatsby's website & all the blog articles are unreadable.  Seems the font color everywhere is fixed, but assumed incorrectly everyone's browser background would be white

![gatsbyjs_org_firefox_background_color](https://user-images.githubusercontent.com/1308419/59440369-79e61280-8dbc-11e9-9253-e40082f90480.JPG)

I have not tested in ot

[2019-06-13 14:46] eyalroth opened #14773 "Guide for creating plugins should explain when the plugin code is executed"
Nowhere in the [guide for creating plugins](https://www.gatsbyjs.org/docs/creating-plugins/) it is mentioned that the exported code of the plugin will only run upon changing relevant files - either `gatsby-config.js` or perhaps some Markdown files.

As a beginner to Gatsby (and node / js in general), I didn't realize that `gatsby develop` isn't enough to guarantee my plugin's code will run, and th

[2019-06-13 15:43] gillkyle commented on #13812
Merged in #14626

[2019-06-13 15:43] #13812 closed

[2019-06-13 15:55] PolGuixe commented on #13454
@jcayzac how they should be served?

[2019-06-13 16:03] jafaircl commented on #13454
@PolGuixe you shouldn’t be directing your users to AMP pages by default. You should be directing users to your Gatsby page which would have a `rel=amphtml` tag in the head which would point to an AMP version of the page. When Google/Twitter/whoever crawls your site, they’ll find and cache your amp version to serve to their users.

[2019-06-13 16:04] gillkyle opened #14774 "[docs] link to plugin README template in Creating a Plugin guide"
## Summary

An important hurdle users trying to leverage plugins encounter is not enough documentation, or difficult to understand documentation on plugins. In the [Creating Plugins](https://www.gatsbyjs.org/docs/creating-plugins/) guide there currently isn't much information (only a few sentences at the end of the Submit to Plugin Library section) guiding a plugin author on what should be include

[2019-06-13 16:10] rchrdnsh commented on #14758
on the advice of one of the plugins I'm using, I reverted the gatsby version to 2.8.6 and the issue went away, so it is probably an issue between gatsby 2.9.x and this other plugin in some way.

[2019-06-13 16:19] rchrdnsh commented on #14758
argh, back to the same problem again...even with reverting...works on my local machine, but is broken on the netlify cdn...

[2019-06-13 17:10] rchrdnsh commented on #14690
So I found a pen from a few years back where I was playing around with this general pattern for building a more complex UI for an App, and it seems to work really really really really well...

https://codepen.io/rchrdnsh/pen/LWWwBw

Trying to do a layout like this would be really challenging, if not impossible, without using CSS Grid and overflow:scroll on all of the content containers. Using some

[2019-06-13 17:17] mbwatson commented on #14232
Unfortunately, this is also happening for me. I've been keeping an eye on #8560 and  #9911, but I think this is the real issue.

[2019-06-13 17:27] #13984 closed

[2019-06-13 18:20] firewaller commented on #9310
+1 FYI I get the same issue without gatsby, so it seems to be a react issue

[2019-06-13 18:28] marcysutton commented on #7484
@gatsbyjs/core is there anything we need to do to the Gatsby REPL to get it into shape for proper documentation? It is in the [Gatsby CLI doc](https://www.gatsbyjs.org/docs/gatsby-cli/#repl), but this issue is about filling in the [top-level docs page](https://www.gatsbyjs.org/docs/gatsby-repl/).

[2019-06-13 18:29] marcysutton commented on #11200
Hey @chrisanderss0n, what's the status of this issue? are you still interested in working on it?

[2019-06-13 18:32] JacobDiazCruz opened #14776 "localhost:8000 returns BLANK PAGE when i run "npm run develop" in local dev server"
## Description
Hi,
  I can't figure out what causes this very unusual blank page when I open localhost:8000 using npm run develop.

<img width="250" alt="asdasd" src="https://user-images.githubusercontent.com/40680430/59458210-9762bd00-8e4c-11e9-8051-b41ccbc17ae8.png">

**###Important notice:**
  1. There's no error in the console.
  2. I'm sourcing from contentful

**What I've tried:**
  1. I've

[2019-06-13 18:33] marcysutton commented on #11805
Hey @calcsam, any interest in helping us work on this governance model doc? Your work on the Gatsby Philosophy doc was so appreciated!

On a related note, it's worth looking to the Wordpress community for examples of why we need governance outlined and followed. Here's a thread for some food for thought: https://twitter.com/mor10/status/1113223629804699648

[2019-06-13 19:00] JacobDiazCruz commented on #14776
This is fixed. Looks like I have a file that's rendering an error. I just deleted it to resolve the problem.

[2019-06-13 19:00] #14776 closed

[2019-06-13 19:04] marcysutton commented on #13782
This file exists now (the information was already there, just buried in another doc): https://www.gatsbyjs.org/docs/files-gatsby-looks-for-in-a-plugin/

The main action item I see here is to document transpiling of plugin code–but there are two things to note with that:

1. the [transpilation plugin](https://www.gatsbyjs.org/packages/gatsby-plugin-compile-es6-packages/) doesn't talk about how to o

[2019-06-13 19:07] dineufeld commented on #11026
I just had the same issue and I could resolve it by installing sharp first: [npm install sharp](url)
and then all npm modules [npm install](url). That it does it installs the newer version of sharp and it seems to solving the problem.

[2019-06-13 19:31] flowen commented on #14652
no worries @ocularrhythm thanks for helping so far! I'm gonna focus on my next project and keep this thread on watch

[2019-06-13 20:09] BernardA commented on #14539
Thanks, but that did not work.

I do not use yarn, but rather running `gatsby build`.

See attached screenshot with my last attempt.
If I do surge from `/public` its not even providing a URI

![Screenshot 2019-06-13 at 10 05 07 PM](https://user-images.githubusercontent.com/9449665

[2019-06-13 20:11] gustavpursche commented on #14707
The update fixed all issues for me and, as far as I can see, for everyone else, so I'm closing this. 👍

[2019-06-13 20:11] #14707 closed

[2019-06-13 20:15] BernardA commented on #14539
Seems there is an issue with the attachment, so here it comes:

      bernardo (master) tutorial-part-two $ gatsby build
     success open and validate gatsby-configs - 0.013 s
     success load plugins - 0.113 s
     success onPreInit - 0.006 s
     success delete html and css files from previous builds - 0.012 s
     success initialize cache - 0.008 s
     success copy gatsby files - 0.158 s

[2019-06-13 20:16] gfsd3v commented on #14729
Damn, I should have searched before trying to find out what was wrong, I followed exacly the same steps that @joealden and was ready to open a issue, thanks guys.

[2019-06-13 20:22] k-conway commented on #14774
I would like to take this one!

[2019-06-13 20:34] bpsmpls opened #14778 "Blog archive from JSON, Gatsby Image returns 'TypeError: node.photo is null'"
## A little background

Long term, I'm trying to build a site that utilizes a JSON file as the primary data source. This project is a stepping stone as a means of learning Gatsby and determining its viability for that project. I'm sure I could use Markdown for some of this, but I'm really trying to utilize JSON as a means of building knowledge for my next project.

## Description

I'm creating a b

[2019-06-13 20:35] vincezun commented on #12560
I thought It was broken because I'm testing it in dev mode until I read wardpeet comment and It works perfectly even if you spam refresh.

[2019-06-13 21:12] gillkyle commented on #14774
Thanks @k-conway! It looks like you forked the repository (which basically created your own version of Gatsby on your GitHub profile), sounds like you'll need to do a couple things if you haven't already:

1. set your fork to track this repository (run this in your folder with your Gatsby fork):

[code]

2. then you'll need to create your own branch and push your changes to it

3. then you should

[2019-06-13 22:44] narration-sd commented on #12560
@wardpeet  Sorry, I seem to have overlooked email notification on your message above.
- what I was doing was in production build, but the tip that it doesn't work in dev mode is surely valuable.
- _why_ it doesn't work may be due to something I noticed, that the scroll values appear to be saved according to a constant key 'initial' for most pages, but according to a constantly changing numeric key

[2019-06-13 22:47] narration-sd commented on #12997
Just to close this off, the solution for a need I posted just above doesn't work for a home page. Thus I simply stopped using Gatsby's mechanism at all; simple to provide one's own.

_Why_ this failed appears to show up interesting if not improper scroll memory behavior in the Gatsby system now. I've detailed that in another posting, where there actually was some attention paid, and won't comment

[2019-06-13 23:42] cseebach-tpc commented on #14703
Here's a bit of code that I wrote to accomplish this recently, with the `onPostBuild` strategy, inside `gatsby-node.js`:
[code]

[2019-06-14 00:03] TomFreudenberg commented on #9383
Hi Schalk @schalkventer

if you get any progress it would nice if you would share that here. I am also currently struggling with offline plugin.

Thanks
Tom

[2019-06-14 02:19] lax4mike commented on #14601
Hi @DSchau, thanks for the help!

I was able to fix my `useMatchMeda` by defaulting my `matches` state to `false`, and moving the `mediaQueryList` definition into the effect.  Having the `false` default ensures that the server and the first render on the client match (which I think was the cause of the problem).  The effect code won't be executed on the server, and will execute when the client loa

[2019-06-14 02:29] aikodeio opened #14780 "Problem Firebase Messaging (Push notification)"
Hi, I hope you can guide me or help me if possible. I am trying to integrate Firebase Messaging (Push notifications), using the Firebase guide on YouTube (https://www.youtube.com/watch?v=BsCBCudx58g&t)
together with Gatsby.

In localhost: 8000 I get this error:

**The script has an unsupported MIME type ('text/html').
index.js:2177 FirebaseError: Messaging: We are unable to register the default se

[2019-06-14 04:14] LpmRaven commented on #14740
I automatically build my website with AWS code pipeline (I believe the first pipeline is free). I have a branch in my github repo called aws-deployment, whenever new development code is pushed to this branch it deploys to AWS (to S3). I will happily share my build config below.

In the root directory of my codebase, I have a file called `buildspec.yml`(note: indentation needs to be exact in yml fi

[2019-06-14 04:22] jcayzac commented on #13454
@PolGuixe: @jafaircl answered perfectly.

[2019-06-14 04:27] valse commented on #14758
If you build and serve locally (usually port 9000) do you have the same problem?

[2019-06-14 04:28] jcayzac commented on #13454
The reason why AMP is fast when served from google search on mobile is that google pushes those pages’ markup, preprocessed, to a google cache node close to your location, renders the page inside a container of the google search website, and the page never has to actually load all those AMP runtime javascript files because they’ve already been loaded for it by the google search page.

[2019-06-14 05:10] sdevil7th commented on #6350
If I use two static query element in a single component it's having this same issue. Is it the desired behaviour?

Code would look something like this:
`return bool ? <StaticQuery .... /> : <StaticQuery .... />`

[2019-06-14 06:01] stefanprobst commented on #14778
In your `posts.json`, not every entry has a `photo` field (e.g. the one with id 154247942990 has not). so `node.photo` would be `null` here.

[2019-06-14 06:11] ChristopherBiscardi commented on #14611
Templates should be shadowable as they participate in webpack via the component path in a createPage call. Pages are shadowable via gatsby-plugin-page-creator being applied to all themes.

This is a pattern we've been using so that people less familiar with GraphQL can shadow rendering components and get the graphql data via props. (ie: a `src/templates/blog-post.js` with the query that imports an

[2019-06-14 06:43] rchrdnsh commented on #14758
port 8000 for me, and it works on localhost:8000, but not on the deployed site.

[2019-06-14 06:58] furedal commented on #9632
I have been annoyed by being required to add empty field values for every field created with ACF so i wrote a script for creating dummy-data for every registered post-type with almost all fields filled out, even the ones with flexible content. The dummy-data are hidden from the cms.

If you add an image called `POST_PLACEHOLDER` in your gallery, then that will be used for image associations.

Righ

[2019-06-14 07:30] wardpeet commented on #14729
Fixed in `gatsby@2.9.3` :tada:

[2019-06-14 07:30] leonardolouie commented on #13278
I  already fix this error buy removing file .tar in my files then
Yarn add sharp --verbose
Delete node_modules
Yarn

Then it works !

[2019-06-14 07:36] wardpeet commented on #12560
Sorry but I do not understand what you mean. Are you saying that we don't have a unique key per page but rather per page view?

[2019-06-14 07:42] yash2code commented on #8155
any workaround ?

[2019-06-14 07:50] gintoki05 commented on #14539
same issue here

[2019-06-14 07:53] gintoki05 commented on #14539
oh dude, you must hit enter when stop here :
project: public/
     domain: pale-religion.surge.sh
[ ENTER ]

[2019-06-14 07:57] schalkventer commented on #9383
Hey @TomFreudenberg!

I actually ended up just creating my own fork of the plugin that fixed the issue. I'm planning on taking some time and publishing the fork to as open-source soon, just need to clean it up a bit first. Will let you know when I do.

[2019-06-14 08:02] valse commented on #14758
You can check the production version locally too with `gatsby build` and `gatsby serve` commands...

[2019-06-14 08:04] valse commented on #14742
I try to update to the latest 2.9.3 version but it's the same: I think is due to the new `page-data.json` that, for the client only routes, set a wrong path on it:

`{"componentChunkName":"component---src-pages-test-product-js","path":"/test/product/","webpackCompilationHash":"45138510e055c8cebbcf","result":{"pageContext":{"matchPath":"/test/product/*","isCreatedByStatefulCreatePages":true}}}`

[2019-06-14 08:15] narration-sd commented on #12560
Certainly seemed so, when I had debug going on this.

I think you do understand what I meant to say...just will remind/clarify this happens only on the home page, with no pathinfo. For other pages, what I was getting was always 'initial' as key.

I discovered for sure by constantly dumping the whole window.sessionstorage, where you could see all these keys.

I don't remember now if I tested outsid

[2019-06-14 08:22] devrnt commented on #12254
I see the branch was already merged, but it seems like I'm still experiencing the described issue by @KyleAMathews.
I'm displaying a logo on every page, but whenever the page is changed the logo is showing the blur effect and using the fluid image, even when the image is already cached.

[2019-06-14 08:32] #10339 closed

[2019-06-14 08:40] vincezun commented on #12560
In chrome & firefox: It works perfectly but if you go on inspect element and use responsive mode(phone), it is broken.
In edge, both.

[2019-06-14 08:59] wardpeet commented on #14742
@valse can we reproduce it with https://github.com/gatsbyjs/gatsby/tree/master/examples/client-only-paths?

Thanks for filling this bug

[2019-06-14 09:16] polarathene commented on #12254
@devrnt Do you have an example/reproduction that demonstrates this? Or a link to an affected project online?

Are you using any props like `critical`? Is lazy-load in use, and if so, is it via Intersection Observer or native support in Chrome?

There's a possibility that the image config for that logo is not checking the browsers image cache.

[2019-06-14 10:49] paschalidi commented on #13710
heya @gillkyle have a look here https://github.com/gatsbyjs/gatsby/pull/13851

[2019-06-14 11:06] DSchau commented on #14636
@wardpeet I think this looks wonderful. I have a few comments/questions for clarity.

1. Have you thought about how we track on usage of these experiments? I think it's a key consideration that we register these with telemetry so we can track usage and validate whether error count goes up _or_ just how heavily utilized the experiment is. Both will let us prioritize fixes and features related to th

[2019-06-14 11:13] m-allanson commented on #14231
Our Node 6 support is starting to block other PRs. We're going to go with option two - release a minor version of Gatsby that checks for the version of Node you’re running and exits with an error message if you’re using Node 6.

Something like - “Your version of Node 6.x.x has reached end of life, please update to Node 8 or downgrade to gatsby 2.x.x to continue. See gatsby.dev/node-js-versions”)

[2019-06-14 11:14] devrnt commented on #12233
Did you manage to solve this problem by changing the Alias? Or did you use the hybrid mode and defined the icons in another folder? @TWry

[2019-06-14 11:38] TWry commented on #12233
I could not use an alias due to the shared environment. I used the hybrid mode and specified the folder as in the example from DSchau above.

[2019-06-14 11:41] devrnt commented on #12233
Had the same problem here, I used the hybrid mode as well. I would like to have an option to change the 'destination' folder of the icons with the automatic mode.

Now it is a lot of copy & paste in the hybrid mode.

[2019-06-14 11:57] bpsmpls commented on #14778
Oh I forgot to mention that in the original post, but removal of the singular video post still produced the same result in my testing. I would love to know how to handle that better with conditional logic.

[2019-06-14 12:03] wardpeet commented on #14636
No, so good that you brought this up 😛. We could add experiments section to telemetry like we do with gatsby version and such so we only have to register it once.

I wouldn't expose it as an api but I would like to expose it as a `gatsby/utils`. I don't think many experiments would move towards plugins but webpack5 could be an experiment that we ship to plugins.

Great idea!

The idea for existing

[2019-06-14 12:24] pieh commented on #14636
Are we talking here about plugins manipulating experiments settings or just plugin having access to those settings? Because in example of webpack 5 experiment - plugins that modify webpack configuration would potentially need to know that webpack 5 is being used - so passing `experiments` to APIs does make sense (IMO). Changing experiments settings via some API doesn't seem needed (and if we hit t

[2019-06-14 12:33] TibiTotoro opened #14788 "Rewrite path"
For some pages, i want to to change the URL path in the router to not map directly to the path on the filesystem.
These pages will be placed on subdomains, all such pages are building to a folder /test/, we get /test/subdomain1/index.html,  /test/subdomain2/index.html, /test/subdomain3/index.html etc.

Redirection is configured by Nginx, but gatsby take path from gatsby-script-loader and a page su

[2019-06-14 12:53] m-allanson commented on #14636
I like this idea but it risks introducing a new problem.

One advantage of the way we use env vars and tagged releases is that they're quite awkward to manage from the development side. This is a bit annoying, but also _good_ because it encourages experimental features to be short-lived (although I can think of exceptions).

Experiments should be short-lived and have a clear path to being non-expe

[2019-06-14 12:53] akashkrshukla opened #14789 "same error but at different stage . I couldn't even start the server"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

here is my error code

Looking for JS files in
   /home/akash/appme

Loading dependency graph...internal/fs/watchers.js:173
    throw error;
    ^

Error: ENOSPC: System limit for number

[2019-06-14 13:13] wardpeet commented on #14636
Not setting them, just consuming them as we want them to be owned by the Gatsby package.

We only accept `boolean` so nested objects are not possible. I agree with being shortlived but sometimes you want to test this over a longer time and we've noticed that process.env isn't a great way to advocate these kind of behaviour as syntax is different between windows & mac/linux.

Feels a bit weird to m

[2019-06-14 13:17] YaroslavW commented on #13562
,I have the same problem. The slider "works" but the pictures are not shown. I tried to solve the method as @CyberV  BUT. It did not help. All the same. :-(

[2019-06-14 13:22] mokimo commented on #14773
I'd suggest opening a PR for the documentation. That's a good suggestion because I remember having issues when writing a plugin myself a few months back

[2019-06-14 13:41] mokimo commented on #14772
Looks like a good suggestion, are you up for making a PR?
It should be somewhere around here: https://github.com/gatsbyjs/gatsby/blob/master/themes/

[2019-06-14 13:50] eyalroth commented on #14773
@mokimo Thing is I'm quite a newbie to this entire ecosystem, so I fear I'm not the right person for this job.

[2019-06-14 13:54] devrnt commented on #12254
@polarathene Since I didn't figure out the problem I moved to use a svg. It was a strange behaviour. The 'problem' is the same as on  this webpage: [https://www.gatsbyjs.org/blog/2019-03-01-localization-with-gatsby-and-sanity/](https://www.gatsbyjs.org/blog/2019-03-01-localization-with-gatsby-and-sanity/)

Since everything was cached and available offline (in my case) I would think that that the b

[2019-06-14 13:55] eyalroth opened #14790 "Print information of exceptions thrown in plugins"
I'm writing my own local gatsby plugin, but since I'm new to node and javascript, I'm getting quite a lot of exceptions. The problem is that gatsby only prints "error" and doesn't print any further information about thrown exceptions, not even with `--verbose`. Well, at least it doesn't do so on `gatsby develop`.

There is obviously a simple workaround to this which is to wrap the code with `try`-

[2019-06-14 14:15] romach opened #14791 "Excerpts are not displayed on the main page"
## Description

Excerpts are not displayed on the main page

### Steps to reproduce

1. Create new project using `gatsby-starter-blog` starter

[code]

2. [Add HTML excerpt to blog post](https://github.com/romach/gatsby-example/commit/4e647d5b7ce1581257a2d91c173f7da64fff89f5)

3. Build and serve site

[code]

4. Open url `http://localhost:9000/`

5. Excerpts in second and third blog posts dissappe

[2019-06-14 14:18] mokimo commented on #14773
Oh, it's a good first issue, a good way to make your first step into an open source contribution!

IMO this file would do:
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/creating-a-local-plugin.md

You could either fork the repo and make a PR or edit the file via the GitHub UI (That's like cheating tho :P)

[2019-06-14 14:24] romach commented on #14789
@akashkrshukla did you try this solution https://github.com/gatsbyjs/gatsby/issues/11406#issuecomment-458769756?

[2019-06-14 14:35] gillkyle commented on #13710
@paschalidi Awesome! Sorry I missed the PR getting merged in the issue activity further up the page 😅 I'll close this issue and check it off as done on the meta issue. It'll be great to figure out the searchability stuff with Algolia as I think that could benefit several of the other workflows that have encountered similar issues.

[2019-06-14 14:35] #13710 closed

[2019-06-14 14:37] wardpeet commented on #11198
Hey all! I wonder if you guys could give `npm install gatsby@webpack-acorn` a spin. We want to upgrade webpack to the latest version but we're not sure if this is still an issue. I couldn't reproduce it but we rather want to be safe than sorry.

[2019-06-14 14:38] paschalidi commented on #13710
heya @gillkyle no need to apologise! 👍 keep it up!

[2019-06-14 14:44] eyalroth commented on #14773
@mokimo I don't really have the knowledge required to explain what's going on behind the scenes in regards to this case. I'm not familiar with the lifecycle of gatsby.

[2019-06-14 15:15] polarathene commented on #12254
@devrnt can you explain what action you're doing to reproduce the issue you're experiencing? In the gatsby blogpost link, what should I click/navigate? If you just navigate to another page in the header links, and click the browsers back button(or via mobile), you may briefly see the base64 placeholder, but you won't see the transition effect anymore.

Just to clarify. Are you referring to the low

[2019-06-14 15:16] valse commented on #14742
Hi @wardpeet... I reproduced it in [this sandbox](https://codesandbox.io/embed/gatsby-starter-default-spk61?fontsize=14) and [published to netlify](https://csb-spk61.netlify.com/) (I added the `gatsby-plugin-netlify` to support the client redirect on Netlify, and the `gatsby-plugin-create-client-paths` one instead of using the `gatsby-node` config for the client routing).

If you refresh one of ne

[2019-06-14 15:23] Ronva commented on #14791
I have reproduced this locally.
[code]

[2019-06-14 15:26] devrnt commented on #12254
@polarathene Thanks for the extensive information. I've reproduced the issue: [https://yvesdevrient.netlify.com/](https://yvesdevrient.netlify.com/)

As I can see in the network tab it says both the logo and banner are in `memory cache`, but as you can see the effect is still occurring whenever you change a page.

[2019-06-14 15:49] eyalroth opened #14793 "How to execute modules requiring 'document' in plugin code?"
## Summary
I'm trying to execute a third-party module which uses `document` (I'm assuming it modifies the HTML). I can execute the module in the `render()` method of my pages' component, but I'm actually looking to write this functionality as a plugin; meaning, I want to avoid invoking the module inside the react component of my pages / templates and execute it after the pages are created.

## In

[2019-06-14 15:52] polarathene commented on #12254
@devrnt the url doesn't seem to be valid. I get "Not Found".

[2019-06-14 15:54] m-allanson commented on #14741
Thanks @younggrandpa - I'm going to pass your suggestion over to the webinar team.

What sort of topics would you like to see covered? This might be info that we could cover in Gatsby's documentation too.

For existing resources I can point you towards a couple of posts that might be useful:

- [Umbrella issue for Gatsby CSP](https://github.com/gatsbyjs/gatsby/issues/10890)
- [Security for modern

[2019-06-14 15:59] jcppman opened #14794 "yarn start will throw error `TypeError: Cannot read property "minimizer" of undefined`"
## Description

with the latest `gatsby-plugin-netlify-cms` package (https://github.com/gatsbyjs/gatsby/releases/tag/gatsby-plugin-netlify-cms%404.0.2), `yarn start` will throw error `TypeError: Cannot read property "minimizer" of undefined`.

This is caused by https://github.com/gatsbyjs/gatsby/pull/14783. Because in dev mode `optimization` is indeed undefined.

### Steps to reproduce

- clone th

[2019-06-14 16:13] devrnt commented on #12254
@polarathene It's back online.
I'm having some strange behaviour, first when I changed from page it was showing the logo and banner exactly like the example. But know as you can see there is a small 'stutter' when I change the page.

[2019-06-14 16:26] eyalroth commented on #14793
Well, it appears all I needed was 15 more minutes of research or so. Turns out I can execute the module from within the `onRouteUpdate` function in the plugin's `gatsby-browser.js`. The catch is I needed to `import` the module and not `require` it (otherwise I get the "not a function" exception). Something like this:

[code]

I'm not entirely sure this is the right way to achieve this, but I gathe

[2019-06-14 16:31] polarathene commented on #12254
@devrnt Yes I can see what you are referring to. That is the base64 placeholder flashing/"stuttering". Is it in the Layout component? Or are you placing the header in each page component? It looks like the logo is being unmounted and remounted each time for some reason.

Whatever the cause, this behaviour is unrelated to this issue or the PR that addressed it. I would suggest reaching out via [com

[2019-06-14 17:03] gillkyle opened #14796 "[docs][workflows] Finding a Source Plugin"
Part of the **Top 25 Learning Workflows initiative**. See #13708 for the meta issue that this issue falls under.

# User story

As a new Gatsby user, I want to find a source plugin for my CMS (or other data source) of choice.

(going to consider Contentful, WordPress, Sanity, and Postgres)

# Evaluation

[Change emoji below based on your evaluation.]

| Search | Discover | Complete | Linked | Tone

[2019-06-14 17:06] devrnt commented on #12254
@polarathene Thank you very much!

[2019-06-14 17:27] #13993 closed

[2019-06-14 17:27] #14002 closed

[2019-06-14 17:27] #14004 closed

[2019-06-14 17:32] sidharthachatterjee commented on #14231
Next steps

- [ ] Tweak Babel preset to target Node 8
- [ ] Add a nice error message saying that we've dropped support if run on Node < 8 with a CTA to http://gatsby.dev/upgrading-node-js
- [ ] Upgrade all dependencies that have been blocked by this
- [ ] Publish first minor version that supports Node > 8

[2019-06-14 17:41] corymortimerhcp opened #14797 "What is the update schema step?"
## Summary
We are in the process of upgrading our project from 2.1.23 to 2.9.4. Everything is going well except the `update schema` step is taking several minutes to complete. While trying to find solutions to this issue, we stumbled upon https://github.com/gatsbyjs/gatsby/issues/12692#issuecomment-474860182. The issue says that we could "disable" this step if we don't need the context. I guess I

[2019-06-14 17:53] jlengstorf commented on #14741
This is a great idea! I'd love to hear any specific questions or workflows you'd like to see covered — this could make a great webinar or livestream!

[2019-06-14 18:07] RedHoodJT1988 commented on #14278
Hello, I am still working on this issue. It's taking me a bit of time
because I am juggling work and the issue. I am still doing it though. Sorry.

On Fri, Jun 14, 2019 at 12:28 PM gatsbot[bot] <notifications@github.com>
wrote:

[2019-06-14 18:09] lukasa1993 commented on #14742
any workaround on this ?

[2019-06-14 18:11] narration-sd commented on #12560
Ok, @wardpeet  & @vincezun ,

- I ran up a fresh gatsby-cli new project, and added some lorum ipsum to both pages.
- did a build and pushed to a website -- yes, scroll positioning doesn't work in develop...
- tried refreshes, back button or equivalent, and link-back for both pages.
- did this on main player browsers, Chrome & Firefox, Win10 1903 and Android 7.1.1 good phone

Results:
- scroll posi

[2019-06-14 18:21] narration-sd commented on #12560
p.s. rereading some above, I did one more test -- hammered  Cntl-R on the home page. Eventually, scroll memory came unstuck so I got top of page. Thus it's probably as you suggested above, @wardpeet, that onbeforeonload can be beaten if you try hard enough (this test on Chrome Canary).

It doesn't seem an important issue, but can mention I had something obscure recently that was helped by using `o

[2019-06-14 18:24] chrisanderss0n commented on #11200
Yes! I will prioritize this evening and / or this week-end.

[2019-06-14 19:00] LpmRaven opened #14798 "Is store.getState().schema a GraphQLSchema?"
I've seen that in the data-explorer that `store.getState().schema` is passed as a GraphQLSchema into Express. [Source](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/commands/data-explorer.js)

I am trying to do a very similar thing in a plugin [Source](https://github.com/LpmRaven/gatsby-plugin-prisma-graphql-api/blob/master/index.js), but the schema doesn't seem to be a GraphQ

[2019-06-14 19:05] btahir commented on #13956
OK I apologize I just didn't have the time to recreate the example and it was just easier for me to start from scratch. Feel free to close this issue.
I will say that this issue is not specific to my code and plagues a few of your starter templates (mentioned above) and you might want to come back to it whenever you have some free time.

[2019-06-14 19:05] #13956 closed

[2019-06-14 19:05] d4rekanguok opened #14799 "Typescript: StaticQuery component renders 'Loading (Static Query)' after gatsby build"
## Description

Hi folks! I'm using Gatsby with typescript via `ts-loader` & run into this weird issue during build: a component that use `<StaticQuery>` shows `Loading (Static Query)`; but renders correctly when switch to `useStaticQuery`. Both works fine with `gatsby develop`.

Similar issue: #6350, but none of the cause is the same..? It could also not be an issue with Gatsby, but with my tscon

[2019-06-14 19:08] LpmRaven commented on #14797
I can't answer your question, unfortunately, but you could just type ```report.activityTimer(`update schema`)``` into github search of this repo and follow the rabbit hole.

[2019-06-14 19:31] zackphilipps commented on #14653
Thanks @freiksenet! I will open an issue over there.

[2019-06-14 19:37] KyleAMathews commented on #14653
Yeah, the source plugin needs to handle things correctly for this to work.

[2019-06-14 19:37] #14653 closed

[2019-06-14 19:43] narration-sd opened #14800 "No default browserslist config causes obscure develop and build fails"
## Description

Even a fresh gatsby-starter-hello-world site fails on `gatsby develop`, with webpack errors and no clue it's because of a missing browserslist. In fact, the message sends you to a debug-html page with no idea about this either. `gatsby build` does give a browserlist message, but it doesn't say the truth, that  there's no configuration.

Gatsby promises to provide a default configur

[2019-06-14 20:08] wardpeet commented on #14742
Sorry for the inconvenience. The only workaround is to lock gatsby on version 2.8.8.

[2019-06-14 20:51] chasemccoy commented on #4674
@KyleAMathews For future reference, I really like the pattern and use it all the time! I think it _should_ be documented because it solves a real world use case that isn't easily solvable using other methods.

[2019-06-14 21:21] marcysutton commented on #13305
That's fantastic, @dyyyl. We look forward to seeing what you come up with!

[2019-06-14 21:41] #12094 closed

[2019-06-14 21:53] pathuskey commented on #14497
I started running into this same issue about 3 months ago on all of my Gatsby projects. I am also developing on a Windows 10 machine, but have builds that run on Jenkins inside a Linux container. The builds will fail with the following errors on images using the _withWebp flag. Once I remove the flag the builds run fine.

- Failed to process image
- (sharp:7568): GLib-CRITICAL **: 21:39:08.606: g_

[2019-06-14 22:42] DSchau commented on #14636
@m-allanson that’s a really good point! That being said, I think in any scenario these are going to be “sticky,” so I think asserting a little more control over them makes a fair amount of sense.

Contrived example (and not even sure we want to do this), but if we have officially merged in an experiment (eg Loki is the default in 2.100.0) we could mark the key as deprecated and define a custom mes

[2019-06-14 23:57] marcysutton commented on #14800
Hi there! There's one step missing from your repro steps, `cd gstarter`. I can see from your stack trace that you were in the correct directory, just wanted to point that out.

What node version are you using? I can't reproduce this on a Mac with Node 12, but it could either be a Node version thing or a Windows thing.

[2019-06-15 00:20] narration-sd commented on #14800
Hi Marcy,
[code]
These are on Windows  10 - always contemporary, and at present 1903, the fresh release.

I've kept to the non-futures standard versions as I'm preparing release of an actually live preview solution for SPAs on Craft CMS -- Gatsby first -- and wanted to be sure there weren't issues.

Interesting if somehow a standard version of Node could cause what's been unexpected here. I've jus

[2019-06-15 04:23] himynameistimli opened #14802 "[gatsby-source-wordpress] Issue with WPCOM authentication"
## Description

Hi All,

I'm having a problem where I'm unable to get WPCOM (Wordpress.com) authentication to work properly. I've added the required fields for wpcom:
[code]

But I still get errors when trying to pull media from the api:

[code]

So I went digging thru the code to see where my issue is and I'm at the `getWPCOMAccessToken` function. https://github.com/gatsbyjs/gatsby/blob/e806c660d

[2019-06-15 04:25] andreivmaksimov commented on #13980
@DSchau, thanks for reply, but that was not helpful. Just updated gatsby and its plugins:
[code]

Played again with `GATSBY_CPU_COUNT={1,2} and --max-old-space-size={1024,2048,4096}`, but was not able to make it work even on node versions 8, 10, 12.

Well, I moved away from CircleCI to CodeBuild 😕

[2019-06-15 04:29] narration-sd commented on #14800
@marcysutton  When you get back to this, I did a thing. I deinstalled node/npm, also gatsby-cli. Then I installed the very latest non-longterm node/npm, reinstalled gatsby-cli (-g), and made a brand new starter project. Engaging `npm  run dev on` it gave the very same immediately errored result as before, telling me it had trouble with html.js, and referring to a debug builds page that won't help.

[2019-06-15 04:30] WhiteAbeLincoln commented on #5021
I created a plugin that should do this: [gatsby-transformer-remark-frontmatter](https://github.com/WhiteAbeLincoln/gatsby-transformer-remark-frontmatter). It seems to work from my testing, and I'm planning on using it in a project that I'm doing for a client, but I'd appreciate it if you guys would take a look and tell me if there's anything that looks incorrect, as it's my first time writing a ga

[2019-06-15 04:33] #14802 closed

[2019-06-15 04:34] devrchancay commented on #14771
I think you should specify the base directory instead of using `cd blog`

![321C0BFA-2CEB-4503-9A67-AB1F2FB679AF](https://user-images.githubusercontent.com/4138285/59546984-bc166d80-8efc-11e9-81cb-5a371a3eb656.png)

[2019-06-15 04:43] himynameistimli commented on #14802
Okay it seems it's my poor implementation.

In any case, I got it to work when I did the following:

1) Ensure that I used my own account. Prior, I had created a second admin account for the gatsby. I had given this user admin access to the developer application, but it didn't matter. I think the client_id/client_secret only works with the original user (?).

2) Add 2FA, and create an Application

[2019-06-15 06:05] KyleAMathews commented on #14800
This error comes from the lack of a default browserlist config? Are you referring to another issue? Could you link to yhat

[2019-06-15 07:26] narration-sd commented on #14800
@KyleAMathews  Kyle, yes, missing browserlist config. It's not related to any other issue, except for that I mentioned the problem in the one you found.

So it's kind of a one-way link, and I apologize for somehow missing the last zero of the id in copying that over to explain why I was deleting the discussion there.  Probably too completist, this time 🙈

[2019-06-15 07:34] narration-sd commented on #14800
Late here, so had to make a correction on correction, in last message....better sign off....

[2019-06-15 10:28] stefanprobst commented on #14797
In the "schema update" step, Gatsby infers the shape of the `SitePage` nodes, which represent pages in Gatsby's data layer. For all other node types but `SitePage`, the full data shape is already available in the "build schema" step, which runs after `sourceNodes`. However, fields added to `SitePage.context` in `createPages` need this extra "schema update" step to be available in the schema.

As l

[2019-06-15 10:54] stefanprobst commented on #14778
* you have one other empty `node.photo` field because of a typo [here](https://github.com/bpsmpls/bpsopposketch.com/blob/6d0e9d742b17af09be91487219f4c752bf822a95/src/data/posts.json#L210) -- this path doesn't exist
* also make sure to lowercase the `fluid` attribute on `<Img />` [here](https://github.com/bpsmpls/bpsopposketch.com/blob/6d0e9d742b17af09be91487219f4c752bf822a95/src/components/post-me

[2019-06-15 11:16] stefanprobst commented on #14798
Yes, it should be a `GraphQLSchema`:

[code]

[2019-06-15 14:19] cesargdm opened #14806 "Accessing two or more process.env properties in browser context returns undefined"
## Description

Accessing **multiple** variables by destructuring `process.env` in the browser context returns undefined at the objects or an empty object if logging `process.env`

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

- Define some env variabl

[2019-06-15 14:31] bpsmpls commented on #14778
Eagle eyes! Using lowercase ```fluid``` on the ```<Img />``` and addressing the two issues in my JSON mentioned in this thread — fixing the typo for one photo post and adding a placeholder photo for the video post — did the trick. I was going crazy with this! That popsicle typo was the variable I hadn't seen.

Thank you for your patient sleuthing, stefanprobst!

[2019-06-15 14:57] chawdamrunal commented on #14040
I can pull from; but if there are any other particular pieces anyone wants to suggest for reference material, let me know

[2019-06-15 15:18] interglobalmedia commented on #13918
Hi, I am having problems with hot reloading as well. Have been on and off, but today was really bad. I updated all my gatsby related plugins in case if there were some straggling version 1 or border version 2 straggling there (started with the gatsby default starter which I downloaded from the repo), and this is what I am working with now:

[code]
Strangely, I also have been getting the following

[2019-06-15 16:16] ChandlerMBing commented on #14669
Nature of the bug changed.

[2019-06-15 16:23] stefanprobst commented on #14778
Great to hear!

As a tip, you can use the [Graphiql explorer](https://www.gatsbyjs.org/docs/introducing-graphiql/) to easily find `null` query results, e.g. with:
[code]

[2019-06-15 16:23] #14778 closed

[2019-06-15 16:34] LpmRaven commented on #14798
@stefanprobst thanks for that way of checking. Unfortunately, not the result I was hoping for.
[code]

[2019-06-15 16:45] stefanprobst commented on #14798
@LpmRaven Hmm interesting, I *did* check this locally and it works here. Would you be able to link to a repo to easily reproduce the issue? That would be very helpful, thanks!

[2019-06-15 17:27] LpmRaven commented on #14798
@stefanprobst Yeah sure: [gatsby-test-graphql-api-plugin](https://github.com/LpmRaven/gatsby-test-graphql-api-plugin)

`git clone --recursive [git@github.com:LpmRaven/gatsby-test-graphql-api-plugin.git]`

[2019-06-15 17:27] #13998 closed

[2019-06-15 17:27] #14034 closed

[2019-06-15 17:27] #14042 closed

[2019-06-15 17:56] stefanprobst commented on #14798
@LpmRaven Can you test with
[code]

It looks like you have two different graphql instances (one from gatsby, the second one probably from graphql-yoga, which is why `instanceof` failed)

[2019-06-15 18:11] marcysutton opened #14807 "[docs][recipes] Pages/Layouts: Project Structure"
## Summary

To improve key learning workflows in the Recipes section of the docs, we should update the Project Structure recipe to be more actionable without having to leave the page. It could also be grouped in a key workflow area; I'm recommending it go into a new recipes section called "Pages and Layouts" (open to other ideas though).

The recipe will have some of the same content as the [Gatsb

[2019-06-15 18:20] marcysutton opened #14808 "[docs][recipes] Pages/Layouts: Create pages without GraphQL"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Using Gatsby without GraphQL" recipe should be made more actionable without having to leave the page. It could also be grouped in a key workflow area; it should go into a new recipes section called "Pages and Layouts".

The current recipe has this text:

The actionable version of this recipe should show how this

[2019-06-15 18:30] marcysutton opened #14809 "[docs][recipes] Pages/Layouts: Create Pages automatically"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a new recipe "Creating Pages automatically". It should show how this is done without having to leave the page. It could also be grouped in a key workflow area; it should go into a new recipes section called "Pages and Layouts" after "Project Structure" (covered in https://github.com/gatsbyjs/gatsby/is

[2019-06-15 18:38] marcysutton opened #14810 "[docs][recipes] Pages/Layouts: Create a Layout Component"
## Summary

To improve key learning workflows in the Recipes section of the docs, there should be a new recipe "Creating a Layout Component". It should show how this is done without having to leave the page. It could also be grouped in a key workflow area; it should go into a new recipes section called "Pages and Layouts" after "Linking Between pages" (already on the site: https://www.gatsbyjs.org

[2019-06-15 18:48] harshil1712 commented on #13708
Hey, I started to work for Using Gatsby Themes, and came across this #14107. Work going on for the same. I was wondering if I should go ahead with my work or should wait for the changes to take place. Thank you.

[2019-06-15 18:55] interglobalmedia commented on #13918
Now, when I went into another gatsbyjs v2 project which has been successfully deployed (very recently) after updating OSX (now on version 10.14.5), I am getting the following error in the console which usually goes away on refresh, but now does NOT:

[code]

And in the terminal console, I am getting the following:

[code]

[2019-06-15 20:16] TomFreudenberg commented on #9383
Hi Schalk, thanks for sharing your infos

[2019-06-15 20:38] caitlinthefirst commented on #14040
Just a heads up, @chawdamrunal – I've almost finished my draft of the page on engineering leaders, and was planning to post the executive page by Monday. You're welcome take a crack at it yourself, of course.

[2019-06-15 21:14] interglobalmedia commented on #11541
Hi, I also am getting Unhandled Rejection (SyntaxError): Unexpected token < in JSON at position 0 with no errors (now at least) showing up in the Terminal console while running npx gatsby develop. It just remains stuck there. I think ultimately my issue is with hot-update.json. In this particular project I am referring to, there are occasional flashes of old code which has now been long removed, c

[2019-06-15 22:38] interglobalmedia commented on #13918
FYI: I found out in my case that it was a Chrome browser issue. Gatsby works in Firefox and Safari for me but not Chrome. Hope this helps others who might be having similar issues.

[2019-06-15 22:38] interglobalmedia commented on #8549
FYI: I found out in my case that it was a Chrome browser issue. Gatsby works in Firefox and Safari for me but not Chrome. Hope this helps others who might be having similar issues.

[2019-06-16 00:16] interglobalmedia commented on #4636
I have the exact same issue now. Gatsbyjs, my projects, downloaded starters, whichever Gasbyjs, does not work with Chrome right now. And I have tried on the latest (or nearly latest) of everything. Works fine with Firefox and Safari. But the question is, would I really want to work with either of those browsers? I got the following warning in Chrome Developer Tools Console:

`app.js:66 Warning: fo

[2019-06-16 00:49] interglobalmedia opened #14813 "Redundant Service Worker Bug (again?)"
## Description

Describe the issue that you're seeing. I had a whole bunch of related issues inititially, but then did some plugin updates, removed .cache many times as well as public, as well as updating my Mac to 10.14.5, and now with any of my unrelated projects OR an gatsby starter themes I may download (and then open in Chrome), I get the following in the browser:

[code]

### Steps to reprod

[2019-06-16 01:13] interglobalmedia commented on #14813
I am  also getting the following locally for the referenced interglobalmedia project (repo) in the console:

`app.js:66 Warning: found one or more service workers present. If your site isn't behaving as expected, you might want to remove these. [ServiceWorkerRegistration]`

And a whole bunch of workbox messages. When I go into the Network tab, everything is coming up ok 200 status. And nothing is

[2019-06-16 01:16] interglobalmedia commented on #14813
And lastly, what is very new locally:

[code]

And remotely at interglobalmedianetwork.com:

`The resource https://www.interglobalmedianetwork.com/static/d/604/path---offline-plugin-app-shell-fallback-a-30-c5a-BawJvyh36KKFwbrWPg4a4aYuc8.json was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as` value and it is p

[2019-06-16 02:19] t2ca commented on #11541
This issue was fixed with gatsby version 2.5.6

[2019-06-16 03:05] dustinhorton commented on #13442
I've run into this issue, but only in CI—so assumed it was a Linux issue since I've never seen it locally on macOS.

After some back and forth with the developer of sharp, he also recommended setting `sharp.cache(false)` in `gatsby-node.js`, along with `sharp.simd(true)` as previously discussed.

This _seems_ to have resolved the issue, but we're still toying with some CI settings.

[2019-06-16 03:50] neo opened #14814 "Add babel-plugin-transform-react-remove-prop-types"
## Summary

I am not 100% sure, but it seems like `babel-plugin-transform-react-remove-prop-types` isn't being used when gatsby is building for production.

In my opinion, this is a very useful and practical thing to add.

### Basic example

N/A

### Motivation

To achieve smaller production build bundle.

[2019-06-16 03:57] wKovacs64 opened #14815 "router location state is broken for imperative nagivation"
## Description

#### 2019-06-15: Original Problem Statement

Passing state through @reach/router's `navigate` function works in Gatsby v2.8.8 but not in v2.9.0 (nor v2.9.4, the latest version at this time). This broke in #14359.

Declarative links pass state correctly (e.g. `<Link to="/page-2" state={{ success: true }}>`).

#### 2019-08-23: Update 1

The problem appears partially fixed as of Gatsb

[2019-06-16 04:51] universse commented on #14771
Or you can set publish directory to blog/public

[2019-06-16 05:12] interglobalmedia commented on #11541
I have all the latest versions of everything on another gatsby project (2.9.4) which I will not push to remote because it is not working, but here goes with the environment:

[code]
And I am getting the same issue in Chrome when I run npx gatsby develop:

[code]

[2019-06-16 05:17] muhajirdev commented on #2102
In someone wanted to rank related pages by tags.
http://github.com/muhajirdev/related-pages

[2019-06-16 06:12] interglobalmedia commented on #11541
I solved the issue. I had been using @emotion/core @emotion/styled and was on version 10+. However, there is a major breaking change in version 10, and not a good idea to use anymore. So I changed over to styled components instead, AND in one of my deployed sites, interglobalmedia is the repo, I updated to the latest of gatsby everything, installed styled components and the necessary dependencies

[2019-06-16 06:21] interglobalmedia commented on #14813
I solved the issue. I had been using @emotion/core @emotion/styled and was on version 10+. However, there is a major breaking change in version 10, and not a good idea to use anymore. So I changed over to styled components instead, AND in one of my deployed sites, interglobalmedia is the repo, I updated to the latest of gatsby everything, installed styled components and the necessary dependencies

[2019-06-16 06:21] #14813 closed

[2019-06-16 08:50] #14669 closed

[2019-06-16 09:14] seaneking commented on #6654
Just wanted to echo that this isn't only a WP source issue — was hitting the same problem with `gatsby-source-prismic`, reducing the concurrency of soure-filesystem with @njmyers hack fixed it for me, so guessing it was a rate limiting/overload issue.

Agree that if nothing else the concurrency of source-filesystem should be configurable.

[2019-06-16 09:20] seaneking opened #14819 "[gatsby-source-filesystem] Make concurrency of createRemoteFileNode configurable"
## Summary

This feature request would address one of the issues discovered in #6654, that the high concurrency (200) of the `createRemoteFileNode` action can overload some remote sources (WP servers, content platforms) and cause the `source and transform nodes` build step to hang and fail silently.

### Basic example

Users should be able to configure the concurrency of that action by passing a n

[2019-06-16 10:26] tomByrer commented on #14772
Sure, I could poke around abit.

[2019-06-16 10:49] ZolderonGitHub opened #14820 "GraphQL Error There was an error while compiling your site's GraphQL queries. Error: RelayParser: Encountered duplicate defintitions for one or more documents: each document must have a unique name. Duplicated documents: - cUsersGuimo000DesktopDevReactCubitFoxSrcPagesBlogJs3560622269"
hello i start to use gatsby yesterday with this tutorial : [https://www.youtube.com/watch?v=8t0vNu2fCCM](url)

at 2:17:00 that's work for him but me i have this error:

and i don't see why, here's is my blog.js file : [https://github.com/ZolderonGitHub/Zolder-Website/blob/master/blog.js](url)

[2019-06-16 10:51] MassivDash opened #14821 "gatsby-plugin-offline does not update website after new deploy on Safari or Safari installed pwa"
## Description
Gatsby website using gatsby-offline-plugin does not update website after new deploy, on iOS Safari Mobile. Chrome on same iOS phone does updates the site.

Cleaning browser history for safari, makes safari and pwa installed though safari update.

It looks like its only related to safari and how it handles pwa. Is there somekind of special setting to include to avoid this behavior.

[2019-06-16 11:03] Hypothesis-github commented on #14642
This is not what I asked

[2019-06-16 11:30] paulmelnikow commented on #11198
Hi @wardpeet! Thanks for reaching out.

I created a branch here: badges/shields#3572

It looks like it's still an issue: https://circleci.com/gh/badges/shields/57401

Steps to reproduce locally would be to clone that branch and run `npm ci` followed by `npm run build`. Feel free to do that if you'd like, or ping me and I can update the PR branch.

[2019-06-16 13:34] bmccaw commented on #14676
Thanks for taking a look! Does the site display as normal or are you getting a different error?

[2019-06-16 14:44] raisedadead commented on #12066
This is a big need for us as well. Would love to be able to help in anyway we can.

At freeCodeCamp we are going to be building ~6K pages of curriculum and guide articles in 5 different languages this year. Also we would be building our Ghost powered blog ~5K pages as of this comment with Gatsby too.

Considering all this content is community powered, we would love to be able to continue using Gat

[2019-06-16 15:44] KyleAMathews commented on #12066
Oh hey! We forgot to close this issue as it was actually fixed recently in 2.9.0 as builds don't change as many files as before. Check out this blog post for the details. Thanks @moocar! https://www.gatsbyjs.org/blog/2019-06-12-performance-improvements-for-large-sites/#netlify-builds-faster

[2019-06-16 17:27] #12640 closed

[2019-06-16 17:27] #14021 closed

[2019-06-16 17:27] #14030 closed

[2019-06-16 17:27] #14049 closed

[2019-06-16 17:27] #14050 closed

[2019-06-16 17:48] jarrodmedrano commented on #11665
I am also having this problem. And the kicker is killall node wont' even stop gatsby develop from running.

[2019-06-16 19:18] raph90 commented on #8560
Fixed this by just rebuild Bootstrap with what I wanted

[2019-06-16 19:46] jackyq2015 opened #14826 "how can I achieve a trimmed version of the gatsby"
Need some help to setup a simple web site to allow users to publish 1 page of company information such as website, description, etc. It is like a yellow page but self published by users.

Gatsby is powerful but I am wondering is there way that I can provide the user a template that user can fill in without overwhelming the end user? If Gatsby is overkill, is there any recommendation to archive thi

[2019-06-16 20:22] crutchcorn opened #14827 "childImageSharp is null when using allMarkdownRemark filter query"
## Description

I have a repo that has a JSON file with author data for a blog I am making inside a folder `/src/data`:

[code]

Inside that same folder exists the file `crutchcorn.png`

I am mapping this author data to the frontmatter by adding this into the `gatsby-config.js`:

[code]

I noticed that when I was using  `filter` query on `allMarkdownRemark`, I am not able to query the author profi

[2019-06-16 20:24] wildeyes opened #14828 "Can't set webpack output.publicPath"
## Description

I wanted to see the file names of my css blobs in the chrome dev tools.
![image](https://user-images.githubusercontent.com/1652108/59569119-ac7a5e80-908d-11e9-9eed-4e915d795e5b.png)
the [style-loader readme](https://github.com/webpack-contrib/style-loader) states that the output.publicPath webpack property must be set. Setting it via gatsby-config.js makes `gatsby develop` fail.

#

[2019-06-16 21:23] jasonbarry commented on #13442
@dustinhorton could you post the relevant snippet of your `gatsby-node.js` file?

[2019-06-16 21:32] Brydom commented on #10457
I was running into this issue as well trying to use Firebase. Ended up following [this guide](https://kyleshevlin.com/firebase-and-gatsby-together-at-last) which 'lazy' imports Firebase on `componentDidMount`.

There's also this starter template if anyone else was trying to do this: https://github.com/muhajirdev/gatsby-starter-firebase

[2019-06-16 21:41] KyleAMathews commented on #13442
Is this a gatsby issue or a sharp issue? I believe we changed versions of sharp at some point?

[2019-06-16 21:48] i-bsd commented on #13442
I think it must be Gatsby-specific as it does not happen with Gridsome (Vue) which I believe, uses sharp.

@dustinhorton I would also like to see your `gatsby-node.js` is possible. Thanks.

[2019-06-16 22:06] medyun commented on #14771
Thanks @devrchancay. The error has changed now. My netlify.toml file looks like this:
`
[build]
  base    = ""
  publish = "public"
  command = "cd blog && rm -rf .cache/ public/ node_modules/ && gatsby build --prefix-paths && cd public && mkdir blog | mv * blog"
`

and I get an error like this:
`/usr/local/bin/build: line 34: gatsby: command not found`

I don't understand what's wrong :/

[2019-06-16 22:27] KyleAMathews commented on #13442
What version of sharp does gridsome use?

[2019-06-16 23:59] GuillaumeAmat commented on #14758
I can confirm the issue. It seems that I was looking for the same thing:

- I've got a local Gatsby with pages and dynamic routes handled by `@reach/router`
- With the Gatsby dev server, all is working fine
- With `gatsby serve` Netlify, the dynamic routes break

Eg: `/my-page/my-dynamic-route` becomes `/my-page/` when I visit the complete (first) URL.

It seems that the bug has been created in th

[2019-06-17 00:32] holloway commented on #3446
Similar problem here too, but it's about CSS Properties (aka CSS Variables).

In this case it's not about switching between pages, it's just that Gatsby is adding CSS from pages that can't be reached from the current page.

I have a site that's a Design System / Pattern Library, with component examples in `<iframe>`s to isolate them from the site's theme, and those iframed pages are under `/pages/

[2019-06-17 02:07] dustinhorton commented on #13442
@jasonbarry @i-bsd

[code]

[2019-06-17 03:33] emckay commented on #14060
+1 for this before it goes stale.

I can work around this for now by doing the children filtering when I create the page in `gatsby-node` and passing the filtered results to the page via context, but it feels like a bit of a hack. It'd be nice to be able to do the filtering in graphql in the page query instead.

[2019-06-17 03:51] valse commented on #14758
This is the same issue #14742

[2019-06-17 04:13] valse commented on #14815
I saw that if you set location state from a "new" page (or you do a page refresh before) the destination value is null... If you navigate other routes and then return to the initial page (where you set the location state), the state working properly.

[2019-06-17 05:51] wardpeet commented on #11198
@paulmelnikow thanks so much! Could you also tell me what node & npm version you using so I can run it with your setup as well in case it works for me.

[2019-06-17 07:11] freiksenet commented on #14561
I still can't reproduce :( I'll ask my colleagues to see if they can.

![2019-06-17-10:11:04](https://user-images.githubusercontent.com/172936/59585040-42db6e00-90e8-11e9-98fe-c01cadf19ecd.png)

[2019-06-17 09:14] pieh commented on #14561
I can't reproduce either.

Are there perhaps any special characters or space in your path?

[2019-06-17 09:24] JaeYeopHan opened #14831 "[gatsby-remark-images] Add feature for medium-zoom feature"
## Summary

Add feature for zoom image like 'medium zoom'.

ref: https://github.com/francoischalifour/medium-zoom

### Basic example

[code]

### Motivation

When user click image to enlarge the image and see more detail, opening it with a new tab causes the user to be extremely inconvenient. If the image is larged on in the window user was viewing and user can easily close it with scrolling or to

[2019-06-17 09:41] SoYoung210 commented on #14831
I think It's good issue. It would be nice if you implemented it and PR.

[2019-06-17 09:43] paulmelnikow commented on #11198
This is what I've got locally:

[code]

In CI it's also happening in Node 8 (not sure the exact npm version).

The problem is reproducible in both environments.

[2019-06-17 09:53] GuillaumeAmat commented on #14758
Oh, thanks for the link @valse

[2019-06-17 11:49] BernardA commented on #14539
No kidding! Is one supposed to know that how? Not sure I remember ever having to hit enter AFTER entering a command on CLI.

[2019-06-17 11:49] #14539 closed

[2019-06-17 12:04] sidharthachatterjee commented on #14821
@MassivDash The closest issue I can relate this to is https://github.com/GoogleChrome/workbox/issues/1744

Closing this for the moment because this looks like an issue on iOS Safari but following along the conversation on the linked issue might be valuable!

[2019-06-17 12:04] #14821 closed

[2019-06-17 12:24] sidharthachatterjee commented on #14561
Can't reproduce this either on `gatsby 2.9.4`

![Screenshot 2019-06-17 17 53 20](https://user-images.githubusercontent.com/7701981/59604097-c87f0e00-9128-11e9-9437-3bbc7912ce37.png)

Works for directories and files with spaces in their names as well. Can you update to gatsby 2.9.4 and try this out (in case it was a bug in previous versions)?

[2019-06-17 12:35] sidharthachatterjee commented on #14820
Thank you for opening this @ZolderonGitHub

I checked out the timestamp in the linked video and saw the file you linked to but we'll need a little more information to be able to help you with this.

1. Can you push your entire site and link to it? The issue could be due to several things (like in this case it seems like multiple files with the same name)
2. Can you elaborate on what you did that l

[2019-06-17 12:40] sidharthachatterjee commented on #14771
@medyun You're seeing this since `gatsby` isn't installed globally and hence not available in the Netlify environment. A quick fix would be to:

1. add `"build": "gatsby build"` under `scripts` in `package.json`
2. On Netlify, set the Build command to `npm build`

Closing this for now. Please feel free to re open this in case you're still seeing this!

[2019-06-17 12:40] #14771 closed

[2019-06-17 12:50] thomaskrantz commented on #11364
Just wanted to chime in that we're also experiencing the same issue, and I have tried using @jessepinho's PR but for some reason that didn't have any effect. Not sure how I can help though.

[2019-06-17 12:55] danielmonk opened #14833 "Gatsby Build not completing"
## Description

Running gatsby build gives the following error:

error Building static HTML failed

See our docs page on debugging HTML builds for help https://gatsby.dev/debug-html

  67 |          __webpack_require__.n = function(module) {
  68 |                  var getter = module && module.__esModule ?

     | ^
  70 |                          function getModuleExports() { return module; };

[2019-06-17 12:56] danielmonk commented on #14833
Here is the github link for the project: https://github.com/danielmonk/danielmonk

[2019-06-17 13:09] jessepinho commented on #13600
Hm, that's a breaking change and should have resulted in a major version bump, no? I just upgrade to the latest Gatsby and am suddenly getting this error, breaking my site build. I would have to filter my GraphQL queries throughout the site to accommodate this change. Any suggestions? Can this error be turned off or something?

[2019-06-17 13:11] younggrandpa commented on #14740
@LpmRaven Cheers mate. So I'm guessing, **if I only need content changes** (e.g. 20 articles from different authors batched every midnight) my CMS will trigger the hook in Github or? Doable yeah? Thanks again.

[2019-06-17 13:12] sidharthachatterjee opened #14834 "chore: Move console overrides to reporter.log"
We currently override `console.log`, `console.warn`, `console.info` and `console.error` in https://github.com/gatsbyjs/gatsby/blob/e034605e1c3ea47882dbf670c2eb1fb3ce3572fa/packages/gatsby-cli/src/reporter/index.js#L109

<details>
<summary>This can get a little messy sometimes</summary>

![Screenshot 2019-06-17 18 30 07](https://user-images.githubusercontent.com/7701981/59606692-6a095e00-912f-11e9-

[2019-06-17 13:13] sidharthachatterjee commented on #14834
This is currently blocked till all usage of `console` is removed from gatsby and (official) plugins

[2019-06-17 13:20] wardpeet commented on #14834
I removed the comment about this being blocked. I updated the issue so it's not blocking anymore.

[2019-06-17 13:20] jessepinho commented on #11364
@thomaskrantz did you also pass a `richText.includeEntryFields` option? (I noticed btw that the documentation I included had a typo of `includeEntryList` when it should have been `includeEntryFields`)

[2019-06-17 13:27] wardpeet commented on #14834
I'm going to use this one in my pairing session with someone. Sorry, it's taken ^^

[2019-06-17 13:32] xaviemirmon commented on #3721
I am running into this issue myself.  Has anyone found a way around it?

[2019-06-17 13:35] gethinw opened #14835 "gatsby-plugin-catch-links - allow opt-outs"
## Summary

It would be great to have some options to configure this plugin, to ignore certain paths. In my case, anything under /examples/ is served as separate static files outside of Gatsby, so I would like to only convert links that don't start /examples/

### Basic example

[code]
### Motivation

To support sites with different types of routing setups than a very basic one. Although https://g

[2019-06-17 14:10] gillkyle commented on #14774
Hey @k-conway have you been able to get to this? 🙂

[2019-06-17 14:31] johno commented on #14258
Yeah, the plan is to set up redirects on all relevant pages of gatsby-mdx.netlify.com to point to .org since that will house the official docs. That's probably something we should do sooner than later.

[2019-06-17 14:39] gillkyle commented on #14693
Have you been able to get started on this @kkaramch or @watadarkstar? 🙂

[2019-06-17 14:45] k-conway commented on #14774
hi! I will be back at this today! sorry for the delay!

On Mon, Jun 17, 2019 at 9:11 AM gillkyle <notifications@github.com> wrote:

[2019-06-17 14:48] wardpeet commented on #4337
@ethagnawl sorry to keep you waiting.

I made a demo:
https://github.com/wardpeet/gatsby-demos/tree/static-asset-prefix

site is live:
https://zen-wright-33c2d8.netlify.com/

[2019-06-17 14:54] younggrandpa commented on #14741
Thanks Mick @m-allanson. I guess the outcome of the webinar would be briefing developers who have worked only on **non-static** websites hosted by servers. I'm new to JAMSTACK myself. I have done a bit of research already but I'm still wrapping my head around the security side of things. I often see  in different discussion threads questions like:

- How **not** to hard code API keys
- How to impl

[2019-06-17 14:55] sidharthachatterjee commented on #14833
Looks like the import to `react-youtube` is causing SSR to fail? Removing the import seems to fix the build.

Not sure what the error is exactly pointing to yet since `react-youtube` seems to handle SSR correctly (does everything after component mounts)

[2019-06-17 15:00] watadarkstar commented on #14693
@gillkyle, @kkaramch is on vacation but I'll check in with him. 👍

[2019-06-17 15:04] sidharthachatterjee commented on #14833
@wardpeet just pointed out that this could be a CommonJS interoperability issue

[2019-06-17 15:40] dimitrisnl opened #14836 "[docs] h6 headers are very hard to read"
## Description

The `h6` headers in the [website](https://www.gatsbyjs.org/docs/ssr-apis/) are `9px`. The `code` tags insde them are `6.70251px`

## File history

https://github.com/gatsbyjs/gatsby/blame/e806c660dc5ba853a47b51b6fbec472f8c6df237/www/src/utils/typography.js#L47

## Screens

<img width="644" alt="Screenshot 2019-06-18 at 00 12 39" src="https://user-images.githubusercontent.com/495100

[2019-06-17 15:55] one92tb opened #14837 "Cannot Deploy Website (Build script return non-zero)"
I've tried install/uninstall scroll-to module, but everything give me the same error. Has someone similar issue?

[Netlify](https://ibb.co/SQ5G1B9)
Package.json :

`{
  "name": "gatsby-starter-default",
  "private": true,
  "description": "A simple starter to get up and developing quickly with Gatsby",
  "version": "0.1.0",
  "author": "Kyle Mathews <mathews.kyle@gmail.com>",
  "dependencies": {

[2019-06-17 16:13] fk commented on #14772
Hey @tomByrer! Thanks for brining this up, and sorry to hear that this is causing problems for you!

I just added #14838, which sets the default `html`(page) background for gatsbyjs.org to `#fff`/`white`. I _assume_ this is what you were after—I was confused that you mentioned `#000`, which is the (shorthand) HEX code for black, not white …

With #14838 merged and deployed, gatsbyjs.org will displ

[2019-06-17 16:13] wardpeet commented on #14833
It seems like a `youtube-player` (a dependency of `react-youtube`) is using `debug` npm package which doesn't play well with webpack.

You can fix it by replacing onCreateWebpackConfig in gatsby-node.
[code]

[2019-06-17 16:16] gillkyle commented on #14774
@k-conway no worries, feel free to get to it when you have time, just want to make sure you don't get stuck and/or frustrated 👍

[2019-06-17 16:18] fk commented on #14772
@mokimo The source for gatsbyjs.org is located at https://github.com/gatsbyjs/gatsby/tree/master/www 😉—the `themes` directory is for Gatsby Themes, which you can read more about here:

* https://www.gatsbyjs.org/blog/2018-11-11-introducing-gatsby-themes/
* https://www.gatsbyjs.org/blog/2019-01-29-themes-update-child-theming-and-component-shadowing/
* https://www.gatsbyjs.org/blog/2019-01-31-why-th

[2019-06-17 16:22] kogal commented on #14684
@byurhanbeyzat You'll have to delete the 'icon' file first and then add the 'Icon' (with the first letter capitalised).

[2019-06-17 16:32] byurhanbeyzat commented on #14684
@kogal In first commits it was icon then I renamed it to Icon locally but git did not recognise letter upgrade. I've resolved this problem running `git mv icon tmp && git mv tmp Icon`

[2019-06-17 16:35] fk commented on #14772
@tomByrer I'll close this now that #14838 is merged.
Please feel free to reopen this issue if needed!

PS: We have an issue for a dark theme for gatsbyjs.org at #8789.

[2019-06-17 16:35] #14772 closed

[2019-06-17 16:52] corymortimerhcp commented on #14797
Thanks for the reply Stefan. It turns out that we do have some pages with lots of data in the context to accommodate search. Once I commented those out, our pages were blazing fast again. We'll dig into the docs about adding search in a better way (https://www.gatsbyjs.org/docs/adding-search/) to figure out a way that would fit our needs.

Adding an experimental flag may be a quicker route for us

[2019-06-17 17:27] #13838 closed

[2019-06-17 17:27] #14048 closed

[2019-06-17 17:27] #13975 closed

[2019-06-17 17:29] ZolderonGitHub commented on #14820
I have an error when i try to push in a repo and the problem is from the query.
I have test the blog project official in gatsby: https://www.gatsbyjs.org/starters/gatsbyjs/gatsby-starter-blog/ and i have the same problem

[2019-06-17 17:48] ZolderonGitHub commented on #11688
i have same problem

[2019-06-17 18:00] PolGuixe opened #14841 "How to debug the use of GuessJS?"
## Summary
Setting up the plugin is easy and great!

How can it be debugged and check that is doing something?

[2019-06-17 18:05] mokimo commented on #14772
Ah nice just had a quick peek at where the css class is used in the gatsby repo.
Thanks flo!

[2019-06-17 18:17] kindavishal commented on #14693
Hi! If it's available, I'd like to help out!

[2019-06-17 18:28] cameron-martin commented on #14293
Not stale

[2019-06-17 18:50] alexanderwe commented on #6654
@njmyers I am sorry to ask this, but how exactly is this fix executed. Simply run the script before the build or do I need to somehow reference the script in the build process, because I am currently asking myself how to apply this fix locally and also on for example netlify.

[2019-06-17 18:52] alexanderwe commented on #13442
Maybe this is also related to https://github.com/gatsbyjs/gatsby/issues/6654 because the root of it seems to be https://github.com/gatsbyjs/gatsby/issues/14819 ?

[2019-06-17 18:59] stefanprobst commented on #14827
Thanks for the report and the reproduction!!

This is indeed a bug in Gatsby - although it does not seem to be about `filter` vs `sort`, but more about whether linked fields (on `author` fields in this case) are included in `filter`/`sort`.

[2019-06-17 19:12] crutchcorn commented on #14827
I admittedly didn't quite have the time to dive deeper into finding a solution (especially given my relative inexperience with GraphQL and Gatsby - first project here! 😅 ), so I wasn't quite sure where it lied.

Glad the reproduction was able to help though, I was admittedly afraid it was a misunderstanding I had but included either way just in case :)

[2019-06-17 19:12] marcysutton commented on #14040
To reduce confusion, I've assigned this issue to you @caitlinthefirst, since you seem to have this one covered! Thanks again for your work on it. We really appreciate it!

[2019-06-17 19:15] alexanderwe commented on #14819
Just saw that there is an environment variable which can be set to control the concurrent downloads, does this maybe already solve the issue ? https://github.com/gatsbyjs/gatsby/commit/90aa24787b32ef9613b6becbfadab6029ec39ce9#diff-1864dd21828754bdbc63f22b895bee8e

I tried it with my current project of having a Wordpress Site with other 500 images being in size of 4-6mb which previously suffered th

[2019-06-17 19:17] TylerBarnes opened #14844 "Reverse querying a list of the usage (or non-usage) of image nodes"
I have a feeling there isn't a way to do this but hopefully there is!
I have a project with a ton of images and I'm sure 50% of those images aren't being used but I don't know which images those are.
Is there a way to find image nodes that aren't being linked to by other nodes?
It would be cool to be able to use GraphQL to query for a list of those unused images.

[2019-06-17 19:52] bjatwork opened #14845 "delete html and css files from previous builds"
i want to make shop on gatsby.
There is about 15 k products and build takes about 10 min.

Since gatsby delete files and after that create new files my shop is unavialbele 10 mintus to users after each update starts.

I Want make new build every one hour.
How prevent deliting files?

Or how i make gatsby to work this way:
1. make new build to "public_temp"
2. (after build went well) rename "public

[2019-06-17 20:03] #14837 closed

[2019-06-17 20:14] seaneking commented on #14819
Ha! So there is. Weird that it's an env var rather than config passed in gatsby-config like every other source, but that seems to address this issue.

Maintainers feel free to close. Still think it should be consistent with other Configs (and better documented), but 🤷‍♂️

[2019-06-17 20:18] alexanderwe commented on #14819
I am not 100% that this will address all of those issues that were raised with failing builds with large number of images/big image files but at least it seems to work for me right now.

But I am with you saying that a config would be more consistent here. But I also see the positive aspects of an environment variable to be set only when needed by the users.

[2019-06-17 20:56] DSchau commented on #14819
Glad to hear it's working nicely!

Re: environment variables, we're not 100% sold on that approach yet, either. Check out #14636 for something that we think is far improved.

Going to close -- please reply or re-open if we can help further! 💜

[2019-06-17 20:56] #14819 closed

[2019-06-17 21:28] kuworking opened #14848 "spread operator with Set not working?"
I am testing a very simple code

[code]

and this works as intended in for example in https://codepen.io/kuworking/pen/mZEWgV

But I'm trying this in a gatsbyjs webpage of mine, and I am not getting this, instead `hol2` is not an array but a `set` within an `array` (seen in Chrome console)

[code]

![image](https://user-images.githubusercontent.com/4474004/59637334-ced7af00-9155-11e9-9881-e9de6eb2

[2019-06-17 21:34] sidharthachatterjee commented on #14715
While I _can_ reproduce this, I'm not sure if I would call this a bug. It looks like this is simply a side effect of the Markdown syntax.

An easy work around for this would be to escape the underscore so the link above would look like `https://twitter.com/brian\_d\_vaughn/status/901488766581227520`

[2019-06-17 22:18] sidharthachatterjee commented on #14715
Okay, I did a little more digging. This behaviour is documented in remark as `pedantic` mode (https://github.com/remarkjs/remark/blob/master/packages/remark-parse/readme.md#optionspedantic)

From the README linked above

`gatsby-transformer-remark` sets `pedantic` to `true` by default. Setting it to false in options should get rid of this behaviour (screenshot below).

[code]

![Screenshot 2019-06

[2019-06-17 22:18] #14715 closed

[2019-06-17 22:19] njmyers commented on #6654
@alexanderwe No worries it’s a silly hack anyways. You can run it after you install `node_modules`. I am not 100% sure but I believe `postinstall` in your project `package.json` file would work.

[2019-06-17 22:20] MichaelDeBoey commented on #14715
@sidharthachatterjee Like you can see in @kentcdodds' comment (https://github.com/kentcdodds/kentcdodds.com/issues/191#issuecomment-499179350), this doesn't happen when using the RAW Markdown and [passing it to the `MDXRenderer`](https://github.com/kentcdodds/kentcdodds.com/blob/master/src/templates/post.js#L139).

[2019-06-17 22:24] MichaelDeBoey commented on #14715
Awesome you've looked deeper into this one @sidharthachatterjee! 👊

This looks likes it indeed fixes my problem, thanks! 🙂

[2019-06-17 22:27] sidharthachatterjee commented on #14762
Hey @drake-smith

`jsonObject` in your Contentful model is being parsed. This is by design. Since all fields (that a client wants in a response) need to be explicitly included in GraphQL, there's no way to get back the _entire_ object without mentioning the fields.

If you want a JSON string back (as opposed to it parsed JSON), you could set the field type in the model to be a String, request the

[2019-06-17 22:27] #14762 closed

[2019-06-17 22:33] #14833 closed

[2019-06-17 22:38] soumikcv opened #14850 "The docs for gatsby-image has examples which are faulty"
## Description
There are two examples in the [gatsby-image docs](https://www.gatsbyjs.org/docs/gatsby-image) which are faulty. There is a problem with ```query``` used for the GraphQL queries.
It can get confusing for people new to gatsby-image, GraphQL(like myself) or even the Hooks API.

### Steps to reproduce

Follow the tutorial in [gatsby-image docs](https://www.gatsbyjs.org/docs/gatsby-image

[2019-06-17 22:42] DSchau commented on #14826
@jackyq2015 could you explain what exactly you want "trimmed?" Gatsby's runtime is around ~50Kb gzipped, and most of that is React and ReactDOM. Can't get a whole heck of a lot smaller!

More detail would be great--thanks!

[2019-06-17 22:42] #14850 closed

[2019-06-17 22:50] sidharthachatterjee commented on #14793
@eyalroth You're absolutely right! If you need to run client side only code and don't want to put it in your React component, `gatsby-browser.js` is the perfect place to put it in.

[2019-06-17 22:50] #14793 closed

[2019-06-17 22:55] sidharthachatterjee commented on #14789
@akashkrshukla `ENOSPC: System limit for number of file watchers reached` is thrown when your system's file watchers limit is hit. The solution @romach linked to should work.

Closing this for now. Please feel free to reopen if that doesn't help.

[2019-06-17 22:55] #14789 closed

[2019-06-17 23:01] superhawk610 commented on #14848
Hey @kuworking, in order to diagnose your issue, it would be super helpful to have a copy of your project's source code. If you haven't already, upload your project to a GitHub repo and post a link to it below. If you need help, check out [this article](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) on posting a reproducible test case.

Once you post your example, it

[2019-06-17 23:37] sidharthachatterjee commented on #14814
Sounds useful but I'm not _entirely_ sure if we should add it in our default config (which is super lightweight by design).

Let's keep this open and hear what everyone else has to say.

In the mean time, you could add this in a [custom .babelrc file](https://www.gatsbyjs.org/docs/babel/)

[2019-06-17 23:41] jlengstorf commented on #6211
@sarneeh @ali-sao do you have repos we can look at to see the error? Reproductions are really helpful here. Thanks!

[2019-06-17 23:43] sidharthachatterjee commented on #14814
Just spoke with @DSchau about this and we both agree that this is useful indeed!

We would love to accept a PR with this. 💪

[2019-06-17 23:46] samyilias commented on #3129
that worked great for me  , it's not mentioned in the [docs](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types)  but I had to use the  `gatsby-transformer-yaml`  in order to make it work

[2019-06-17 23:51] jrestall commented on #5995
@DylanVann Did you ever find a solution to this? I've got the exact same situation where a Headless CMS configures pages from hundreds of possible components so I need to code split each page otherwise the one template page bundle becomes huge.

I'm thinking I'll need to dynamically generate during the build a different Page.tsx template file for each page and insert only imports for the component

[2019-06-17 23:53] jlengstorf commented on #6350
@sdevil7th we only support one query per file. For the snippet you showed, you can split into two component files to work around this.

Another solution is to use `useStaticQuery` to create hooks for loading data, which allows you to overcome this without creating extra components. For example, on my site I [load site metadata](https://github.com/jlengstorf/gatsby-theme-jason-blog/blob/master/src/

[2019-06-18 00:02] #14794 closed

[2019-06-18 00:05] sidharthachatterjee commented on #14794
Fixed and published in `gatsby-plugin-netlify-cms@4.0.3`

[2019-06-18 00:11] sidharthachatterjee commented on #14831
I think this ought to be a separate plugin as opposed to being added to `gatsby-remark-images`

Maybe `gatsby-remark-images-zoom` 🙂

Closing this issue but would love to see this as a plugin published by you! Thank you for the great work 💪 💜

[2019-06-18 00:11] #14831 closed

[2019-06-18 00:27] sidharthachatterjee commented on #14791
I can reproduce this. Seems like a hydration issue at first glance. The built HTML seems to have the excerpt correctly and it is removed from the DOM on hydration 🤔

(Disabling JavaScript will show you the excerpts)

[2019-06-18 00:33] sidharthachatterjee commented on #14828
Hey @wildeyes

As documented in https://www.gatsbyjs.org/docs/actions/#setWebpackConfig (excerpt above), we do not support setting a couple of keys and `output` is one of them!

Closing this issue for the moment but feel free to reopen if we can help with anything else related to this.

[2019-06-18 00:33] #14828 closed

[2019-06-18 00:37] sidharthachatterjee commented on #14845
You could run `gatsby build` in a separate folder from the one that is being served. Write a script that runs `gatsby build`, then copies over the `public` directory to the location where you serve your assets from.

Closing this issue for the moment since this is tangential to gatsby itself. Hope this was useful! Thank you for using Gatsby 💪 💜

[2019-06-18 00:37] #14845 closed

[2019-06-18 00:41] sidharthachatterjee commented on #14765
This is a little tricky to do.

I think the best solution here would be to set types yourself as mentioned in the error. We would have to update `gatsby-source-medium` and set a schema based on known types.

cc @freiksenet

[2019-06-18 00:46] sidharthachatterjee commented on #14766
cc @KyleAMathews

[2019-06-18 00:49] sidharthachatterjee commented on #14780
Based on the error above, it looks like the library you're using is not SSR friendly and is breaking builds because of that

Read more about this at https://www.gatsbyjs.org/docs/debugging-html-builds/

[2019-06-18 00:51] sidharthachatterjee commented on #14788
You should be able to do this using path prefixes.

Read more about this at https://www.gatsbyjs.org/docs/path-prefix/

[2019-06-18 00:53] sidharthachatterjee commented on #14790
Sounds good to me. Would love to see a PR adding this! 💜

[2019-06-18 00:56] sidharthachatterjee commented on #14836
cc @fk

[2019-06-18 00:58] sidharthachatterjee commented on #14844
Not currently 😞

[2019-06-18 00:59] TylerBarnes commented on #14844
No worries, I can write a script to find them. Thanks for the response!

[2019-06-18 00:59] #14844 closed

[2019-06-18 01:01] sidharthachatterjee commented on #14806
This is an issue because of how the DefinePlugin works in webpack

https://github.com/webpack/webpack/issues/5392

[2019-06-18 02:44] k-conway commented on #14774
Thank you so much for reaching out! I just sent in my Pull Request!

On Mon, Jun 17, 2019 at 11:16 AM gillkyle <notifications@github.com> wrote:

[2019-06-18 02:53] broeker commented on #5021
hi @WhiteAbeLincoln i tried to install and test:
`
npm i gatsby-transformer-remark-frontmatter
npm ERR! code ENOVERSIONS
npm ERR! No valid versions available for gatsby-transformer-remark-frontmatter
`

[2019-06-18 03:35] alexandreramosdev opened #14860 "Add a precommit hook for auto-formatting in starters ( default | blog )"
## Summary

Brief explanation of the feature.

Add a precommit hook for auto-formatting in gatsby starters default and blog with a minimum set up `eslint` and `prettier`.

### Basic example
`package.json`
[code]

If the proposal involves a new or changed API, include a basic code example. Omit this section if it's not applicable.

### Motivation

Why are we doing this? What use cases does it suppo

[2019-06-18 03:43] LpmRaven commented on #14798
Thanks @stefanprobst , it is now recognising as a GraphQLSchema. It may also be the cause of my issues with `printSchema`.

[2019-06-18 03:43] #14798 closed

[2019-06-18 03:53] LpmRaven commented on #14740
If I understand you correctly, you are trying to trigger the deployment once a day. Github webhooks will only trigger a deployment when 'code changes' are pushed to the aws-deployment branch. Your articles are not stored in GitHub and therefore it will not trigger a deployment.

In addition to the steps I gave above, in order to periodically trigger the pipeline, you will need to set up an AWS clo

[2019-06-18 03:58] LpmRaven commented on #14860
People are very opinionated about linting and format. I would suggest that this is moving away from the requirements of Gatsby.

[2019-06-18 04:08] alexandreramosdev commented on #14860
I think not! I suggestion is a set up very very basic! to keep a minimum of quality in the code thus avoiding several bug that lint ja solve! I believe that with this I even decrease the issues here. because lint would already help in the code.

[2019-06-18 04:32] arpitbatra123 commented on #14561
Hi,

Thanks for taking the time for looking into this. I just upgraded my gatsby version to `2.9.4` and can no longer reproduce this issue. Turns out that earlier I was on an older verison of gatsby namely `2.6.7`

[2019-06-18 04:32] #14561 closed

[2019-06-18 04:36] younggrandpa commented on #14740
@LpmRaven. Hi Liam. Thanks again.

That's right. Following the flow below, the articles will come from a CMS/database so posts/articles. We want their respective pages static - thus batching them every midnight. If the pipeline (vis-a-vis with cloudwatch) will allow us to trigger the build on that basis alone that would be ideal. I found webhooks to in AWS Amplify but I prefer Code Pipeline. I'll

[2019-06-18 05:51] TibiTotoro commented on #14788
Wow, how quickly closed the question)
I found a solution to this problem in [4337,](https://github.com/gatsbyjs/gatsby/issues/4337) the plugin https://github.com/wardpeet/gatsby-plugin-static-site helps to remove unnecessary redirects.
Вut I'm not sure this is the best solution.
@sidharthachatterjee, сould you describe in more detail how path-prefix can help me? I need to build pages for the main

[2019-06-18 05:54] d4rekanguok commented on #14799
@sidharthachatterjee thank you for picking up on this!

I've just realize I left out an important config in my `tsconfig.json`:

[code]

Because of this, all `<StaticQuery />` elements are transpiled into `React.createElement('StaticQuery' )`, which doesn't get picked up by `babel-plugin-remove-graphql-queries`. Changing `jsx` from `react` to `preserve` fixes the problem.

If there's no plan to su

[2019-06-18 06:46] sarneeh commented on #6211
@jlengstorf Here you are https://github.com/sarneeh/gatsby-issue-6211. This seems like a problem with PostCSS plugin + Tailwind in my case. Don't know what it's like for other people here.

[2019-06-18 07:50] oplengs001 commented on #1827
can you show the solution here?

[2019-06-18 08:13] AniaMakes commented on #14765
Something that I didn't realise when I was writing the bug report, but is important - when this issue was first raised in my team on the 20th of May, the warnings read

[code]

It's the same keys, but the types were string rather than dates... I don't know if this why that was, but I think it's worth adding here.

[2019-06-18 09:02] hirenramoliya opened #14861 "If there are so many posts in Wordpress so how to fetch only new added post on every build time?"
Hello, I am using Gatsby with WordPress so, on every build time gatsby fetching all posts from the Wordpress JSON API then how can I fetch only recently added posts from API.

[2019-06-18 09:18] MunifTanjim opened #14862 "gatsby-cli has react in package.json dependencies"
## Description

`gatsby-cli`'s `package.json` has `react` in `dependencies`. It makes all kind of unwanted behavior in monorepo setups. For example:

If you have `react` installed in the parent directory (`./`) and gatsby site installed by `gatsby new` command on a child directory (`./site`) directory, it creates a nasty bug. If you use hooks in your application, this error pops up:

[code]

And i

[2019-06-18 09:20] sidharthachatterjee commented on #14862
This makes sense. Want to open a PR removing it?

[2019-06-18 09:26] sidharthachatterjee commented on #14860
While I personally agree that adding linting and a pre commit hook would be nice, I’m not sure we should add this to the default starters because

1. This stuff can get pretty opinionated like @LpmRaven mentioned
2. Pre commit hooks require husky to be installed and we need to be wary of adding too many dependencies

Let’s hear what the rest of @gatsbyjs/core has to say

[2019-06-18 09:27] sidharthachatterjee commented on #14835
This sounds pretty useful! We’d love to accept a PR adding support for this 🙌🏼

[2019-06-18 09:36] sidharthachatterjee commented on #14834
This is back for the taking since the pairing session was a no show 😱

[2019-06-18 09:37] MunifTanjim commented on #14862
Done!

[2019-06-18 09:50] sidharthachatterjee commented on #14861
Unfortunately, this isn’t possible currently because Wordpress doesn’t give us a diff of what’s changed. We are actively looking at ways to improve this though!

[2019-06-18 10:09] wardpeet commented on #14860
I agree with @sidharthachatterjee. We have enough gatsby starters that do include linting. We don't want to add too much complexity to our official starters.

[2019-06-18 10:15] joeynimu opened #14864 "My build scripts won't run successfully"
## Summary

Hi guys,

I am a bit stuck building a prototype app I was experimenting with. I started all good and wrote a bit of code but then realised that when I stop the dev server, it won't run nor will the build build successfully.

The issue started when I introduced a library that uses `localStorage` and `window.CustomEvent`.

## Relevant information

I managed to fix the `gatsby develop` sc

[2019-06-18 10:19] hirenramoliya commented on #14861
@sidharthachatterjee Thanks for the reply.

[2019-06-18 10:27] sidharthachatterjee commented on #14864
The issue here is that you’re trying to use local storae (useLocalStorage) in render and this isn’t SSR friendly since local storage is only available in the browser env.

You can fix this by using useLocalStorage in a useEffect hook (these are only run on the client side after render, similar to componentDidMount)

[2019-06-18 10:41] bmatzner commented on #11524
We first saw this happen when upgrading to Gatsby v2.9.4. Reverting to 2.8.5 resolved the issue. Still trying to analyze the cause.

[2019-06-18 10:43] MunifTanjim commented on #14864
[code]

That's not how JavaScript comparison works. Replace it with this:

[code]

Or

[code]

[2019-06-18 10:46] MunifTanjim commented on #14864
:thinking: I don't think you can use hook inside another hook. That would violate the [Rules of Hooks](https://reactjs.org/docs/hooks-rules.html),

[2019-06-18 10:57] ericstumper commented on #13442
For me the issue persisted on CI with an Alpine Docker Container even when I added the above mentioned sharp settings to `gatsby-node.js`. Container is running fine locally. I then added libvips as a global dependency to my Container which forces sharp to be compiled from source: Problem disappears.
Don't ask me why the precompiled binary fails only on CI inside the same Docker container...
For an

[2019-06-18 11:10] fk commented on #14836
👍 That shouldn't be; thank you @dimitrisnl! 🙏
Will PR later today!

[2019-06-18 11:36] sidharthachatterjee commented on #14864
You can't conditionally call hooks but you can use hooks inside a hook. That's what most custom hooks do 🙂

[2019-06-18 12:31] sidharthachatterjee commented on #14788
@TibiTotoro Sorry for closing this too soon!

Let me elaborate. Path prefixes let you host at something other than at the the root (/) of the domain.

For example in your case, you could build the sites for each sub domain independently and put in folders demo/subdimain1, demo/subdimain2, demo/subdimain3. For this, you would set the path prefix as /subdimain1, /subdimain2 and /subdimain3 respectiv

[2019-06-18 12:37] joeynimu commented on #14864
@sidharthachatterjee do you mind showing how to approach this with an example? Maybe from the sandbox link?

[2019-06-18 12:52] sidharthachatterjee commented on #14752
Published in `gatsby-source-contentful@2.0.72`

[2019-06-18 12:52] #14752 closed

[2019-06-18 12:59] #14138 closed

[2019-06-18 13:01] sidharthachatterjee commented on #14864
@joeynimu Sure! Found these that illustrate what I meant (I didn't make them, just found them)

- https://codesandbox.io/s/wymmko1w28
- https://egghead.io/lessons/react-store-values-in-localstorage-with-the-react-useeffect-hook

[2019-06-18 13:06] jackyq2015 commented on #14826
@DSchau I mean from the function aspect, not the size. Basically, the use case is:

- Each user will only have one page based on a template. He will fill in and update by himself.
- It should be able to plug into existing web site written in React

Thanks!

[2019-06-18 13:08] MunifTanjim commented on #14864
I'm probably commenting about unrelated matter, sorry about that. But, I'm pretty sure you can't call `useLocalStorage` hook inside `useEffect`.

[code]

React won't allow it, because `useLocalStorage` hook is not being called from the Top Level. It's being called inside a callback function.

[2019-06-18 13:37] j-651 opened #14868 "WebpackError: ReferenceError: document is not defined - IE check"
## Description

I recently added `const isIE = /*@cc_on!@*/ false || !!document.documentMode` as a check to see if a user is using Internet Explorer and conditionally add a message asking them to use a modern browser (Chrome/Firefox).  While this works as expected using `gatsby develop`, it fails using `gatsby build` stating:
[code]

### Steps to reproduce

Running `gatsby build` within project fo

[2019-06-18 13:43] DSchau commented on #14868
@j-651 you'll want to do this check "in the browser." As a proxy for this, you can use lifecycle events (`componentDidMount`) or hooks (`useEffect`).

The code could look something like this:

[code]

Going to close this as answered--thanks for the question!

[2019-06-18 13:43] #14868 closed

[2019-06-18 13:48] sidharthachatterjee commented on #14864
`React won't allow it, because useLocalStorage hook is not being called from the Top Level. It's being called inside a callback function.`

Yeah, you're right. What I meant to say is that you could create a custom hook called `useLocalStorage` that uses `useEffect` internally and does side effects in it.

[2019-06-18 13:51] lucasjohnson commented on #14530
Do get rid of error with Gulp do the following:

Add browserslist options array to package.json
[code]
Then remove the options from gulpfile.js, leaving the autoprefixer callback empty.
[code]

[2019-06-18 14:00] sidharthachatterjee opened #14870 "fix: Allow local plugins to bypass node type owner in deleteNode"
In https://github.com/gatsbyjs/gatsby/pull/13492, we introduced a check where we only allow deletions in `deleteNode` if the plugin calling `deleteNode` is the owner of the node itself.

However, as @jessepinho mentions in https://github.com/gatsbyjs/gatsby/pull/13492#issuecomment-503101035, local plugins (your project's `gatsby-node.js`) should be able to delete anything.

We need to change the c

[2019-06-18 14:07] DSchau commented on #14860
@alexandreramosdev thanks for this!

Unfortunately, for the reasons that @wardpeet and @sidharthachatterjee mentioned, we are not going to merge this PR at this time. Why?

Starters (particularly the official ones!) should be as relatively non-opinionated as possible. Each opinion we introduce introduces a potential conflict with a user's model of what they want to build. If a user begins the proc

[2019-06-18 14:07] #14860 closed

[2019-06-18 14:10] #14836 closed

[2019-06-18 14:24] lannonbr commented on #14744
As an update, Lean and I had a pair programming session today to tackle this and we made some good progress.

What we still need to do is as follows:
1. Update the validator action to save the results to a file on a filesystem. Then this can be loaded in the discord bot action.
2. Create some local tests to run the entire workflow with actual data.
3. Make a PR against Gatsby to push the new actio

[2019-06-18 14:27] hogyster opened #14872 "Fix "resource preloaded but not used" warning in Chrome"
I am keep getting the warning message at chrome

https://www.selectchu.com

"The resource <URL> was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as` value and it is preloaded intentionally."

The resource https://www.selectchu.com/component---src-pages-index-js-e3609fd82d452154463c.js was preloaded using link p

[2019-06-18 14:33] #14862 closed

[2019-06-18 14:46] joeynimu commented on #14864
@sidharthachatterjee From the above conversation, I am getting that then your initial approach won't work for I will be calling one custom hook (in this case the `@rehooks/local-storage` lib) inside `useEffect` of another custom hook (in this case my `useCart` CH). Correct me if I am wrong.

[2019-06-18 15:02] rmolinamir commented on #14530
@lucasjohnson
Thanks! I assume it should be the same with webpack.

I also assume `autoprefixer` will fallback to the `package.json` settings, right?

[2019-06-18 15:04] stefanprobst commented on #14765
@AniaMakes As a workaround, you can explicitly define those fields as Dates:
[code]

[2019-06-18 15:06] mo-seph opened #14873 "gatsby-source-filesystem breaks in v2.0.40"
I'm going through the gatsby tutorial, and I got stuck on the Source Plugins section (https://www.gatsbyjs.org/tutorial/part-five/), as including the gatsby-source-fileystem stops compilation with the following message:

[code]
If I install version 2.0.39, it works fine.

(macOS, installed everything from scratch today...)

[2019-06-18 15:08] gillkyle commented on #14774
Thanks @k-conway, merged in #14856

[2019-06-18 15:08] #14774 closed

[2019-06-18 15:17] Ronva commented on #14826
It sounds like you want to create a form(s) using serverless functions. Here's a good starting point: https://github.com/snipcart/gatsby-netlify-serverless

Once your user submits the form you can call whatever webhook/endpoint/etc. You need to notify your main website. Good luck 😄

[2019-06-18 15:25] TibiTotoro commented on #14788
I understand correctly that you propose to run build several times, each time with your own path-prefix and put the files into different folders? Is there any way to automate this (there are many subdomains)? Is there any way to avoid duplication of static content such as images and documents that are the same for subdomains? If I duplicate static content 30-40 times, the output project will be te

[2019-06-18 15:40] Jeaclaude commented on #14873
@mo-seph have you got class or function component?
i have de same problem and any post do that : https://github.com/material-components/material-components-web-react/issues/434
But i haven't class... Try this if you always have problem!

[2019-06-18 15:40] jaredsilver opened #14875 "Error: Cannot find module 'gatsby-cli/lib/reporter'"
## Description

When trying to do `gatsby build`, I'm noticing that my custom source plugins as well as Gatsby packages are trying to find `gatsby-cli/lib/reporter`, so every build fails with something that looks like this:

[code]

### Environment

I've tried a few different versions of gatsby, gatsby-cli, and where gatsby-cli lives, but this is one example:

[code]

[2019-06-18 15:48] DSchau commented on #14875
This is very weird. If we look at gatsby-cli@2.6.9, we can see that that file exists like we'd expect: https://unpkg.com/gatsby-cli@2.6.9/lib/reporter/index.js

Not an ideal solution, but I'd guess that using the _local_ version of the Gatsby CLI, e.g. something like (in package.json):

[code]

and then `npm run build` would iron out the issue--but we'll still want to get this fixed.

My initial t

[2019-06-18 15:57] WhiteAbeLincoln commented on #5021
Sorry, I realized haven't published to npm yet. I'll publish it once I get off work and let you know.

— Abe White

[2019-06-18 15:58] jaredsilver commented on #14875
Indeed, pinning at 2.6.8 locally seems to sort of work for now if I use `npm run build`. Interestingly I get some new errors I've never seen before -- perhaps unrelated though:

[code]

[2019-06-18 15:59] jaredsilver commented on #14875
(I can't tell if these are related to my app or related to something within Gatsby. I'm inclined to believe it's related to Gatsby given that these were not issues in previous versions.)

[2019-06-18 16:03] vernonmu commented on #14875
Encountered this issue, too. Using Node 10.15.0

[2019-06-18 16:05] vernonmu commented on #14875
When I install gatsby-cli locally (npm install --save gatsby-cli), and run gatsby develop, I encounter this error:

`rror Warning: Can't perform a React state update on an unmounted
component. This is a no-op, but it indicates a memory leak in your

error UNHANDLED REJECTION

  TypeError: Cannot read property 'type' of undefined

  - reporter.js:78 Object.done
    [mcmc2]/[gatsby]/[gatsby-cli]/lib

[2019-06-18 16:06] wardpeet commented on #14875
Oh my, I'll have a look.

[2019-06-18 16:07] jaredsilver commented on #14873
This may be related to #14875

[2019-06-18 16:10] mo-seph commented on #14873
@jaredsilver quite possibly - I did end up installing gatsby-cli separately

[2019-06-18 16:11] isaacrodriguezcubells commented on #14875
Same error here with node v9.11.2
If I use gastby cli 2.6.9 I have:
Error: Cannot find module 'gatsby-cli/lib/reporter'
If I downgrade to gastby cli 2.6.7 I have:
Error Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method

[2019-06-18 16:12] MitchellCash commented on #14875
I'm seeing the same issue.

Attempting to bump the following dependencies in my project:
- Bump `gatsby-source-filesystem` from 2.0.39 to 2.0.40
- Bump `gatsby-plugin-sharp` from 2.0.35 to 2.1.6

Both are failing my CI tests with:

`Error: Cannot find module 'gatsby-cli/lib/reporter'`

Build logs here:
- `gatsby-source-filesystem`: https://travis-ci.org/MitchellCash/MitchellCash.com/jobs/547297821

[2019-06-18 16:12] jabranr commented on #14875
I tried different versions of node by setting `"engines": { "node": "8.10.0" }` and `dependencies: { "node": "8.10.0" }` and it just produces the same errors. I have tried with `8.10.0`, `8.11.0` and `8.11.2`.

[2019-06-18 16:20] alexandreramosdev commented on #14860
I'm understand! thanks your for feedback.

[2019-06-18 16:27] wilcoxmd commented on #11524
We had the exact same issue and also saw it fixed by downgrading to 2.8.5.

[2019-06-18 16:38] ZachSaucier commented on #8755
Facing the same issue as @ossd

[2019-06-18 16:39] ocsross96 commented on #14875
Seeing this issue too. As others have mentioned I'm able to get round this for the moment by installing the latest gatsby-cli package locally (2.6.9)

`npm install --save-dev gatsby-cli`

[2019-06-18 16:39] ArthurHwang commented on #14875
Been pulling my hair out suddenly cant develop on my gatsby project.  I've tried installing many different versions of node / npm all with the same error

[2019-06-18 16:41] gallivanmedia commented on #14875
Strange. The main project I'm working on is unaffected... but, if I try a fresh default project or "wordpress-tutorial-site", I can't even "gatsby develop" those. I had just ran "npm i gatsby-cli" not too long ago.

[2019-06-18 16:45] DanielRuf commented on #14875
Because it uses the lockfile probably which uses an older release.

[2019-06-18 17:15] KyleAMathews commented on #14875
If y'all delete your lock files and reinstall, does that help?

[2019-06-18 17:17] thepoynt opened #14877 "Update react-dev-utils package dependency to avoid a security vulnerability"
## Summary

Update react-dev-utils package dependency to a secure version

### Motivation

The current version (react-dev-utils@4.2.1) has a security vulnerability, detailed here: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-6342

In summary, the at-risk version of react-dev-utils on Windows allows developers to run a local webserver for accepting various commands, including a command t

[2019-06-18 17:22] ylor commented on #14875
Negative

[2019-06-18 17:22] ylor commented on #14875
Negative

[2019-06-18 17:23] DanielRuf commented on #14875
Deleted lockfiles and node-modules? Otherwise yarn / npm might not do much.

[2019-06-18 17:24] MitchellCash commented on #14875
@KyleAMathews same issue still.

Ran:

1. `rm -fr  package-lock.json node_modules/`
2. `npm install`
3. `npm run develop`
4. `Error: Cannot find module 'gatsby-cli/lib/reporter'`

[2019-06-18 17:24] lparvinsmith commented on #14875
Hi, I'm using Gatsby for the first time today. I followed the [Quick Start docs](https://www.gatsbyjs.org/docs/quick-start) and got up to the point where I run `gatsby develop`... and get the same error above: `Error: Cannot find module 'gatsby-cli/lib/reporter'`

Using Gatsby v2.6.9 and tried with both Node v10.15.3 and v8.5.0.

[2019-06-18 17:25] DanielRuf commented on #14875
https://github.com/gatsbyjs/gatsby/issues/14875#issuecomment-503203439

[2019-06-18 17:27] jackhair commented on #11524
@bmatzner @wilcoxmd We've been on 2.8.x for a while, and have been having Missing Resources in every Gatsby upgrade since we first moved from v1 to v2. Consistently, no spike or change when upgrading since v2.

[2019-06-18 17:27] DSchau commented on #14875
@MitchellCash I've been using your reproduction to test this. What I'm seeing currently:

1. gatsby@2.8.8 (what you depend upon) has a dependency on gatsby-cli
1. For whatever reason, with npm, this dependency is not installed (`ls node_modules | grep gatsby-cli` returns nothing)
1. This issue does not manifest itself with yarn

I'd imagine other people can confirm this as well. While I investigat

[2019-06-18 17:27] #14054 closed

[2019-06-18 17:27] #14063 closed

[2019-06-18 17:27] #14067 closed

[2019-06-18 17:27] #14068 closed

[2019-06-18 17:27] #14079 closed

[2019-06-18 17:27] #14085 closed

[2019-06-18 17:27] #14109 closed

[2019-06-18 17:27] #14129 closed

[2019-06-18 17:31] DanielRuf commented on #14875
Does it also happen with older npm releases? I remember another issue which was similar and where it also worked with yarn but failed with npm.

[2019-06-18 17:39] Undistraction commented on #11524
We've definitely been seeing for a long while before 2.8.5. I think this issue has a wide variety of causes. v2.94 just seems to have introduced yet another.

[2019-06-18 17:40] MitchellCash commented on #14875
@DanielRuf reproduced locally with `npm v6.9.0` and also on my continuous deployment pipeline which uses `npm v6.4.1`.

@DSchau thanks for reproducing and providing a temporary fix!

[2019-06-18 17:44] smakosh commented on #11524
Same

[2019-06-18 17:45] wilcoxmd commented on #11524
@jackhair I see. We haven't launched our Gatsby site yet, so I don't know if we'll still see some percent of traffic see this issue. We encountered this when deploying a staging version. We were on 2.9.2 and things were fine with serving a build locally, but as soon as we deployed it we had a permanent missing resources error on any browser. Downgrading to 2.8.5 just allowed me to deploy and have

[2019-06-18 17:49] zappys commented on #14875
If i npm install gatsby-cli locally i get into another issue :

[code]

[2019-06-18 17:51] jackhair commented on #11524
Interesting. For what it's worth, we have never been able to replicate the issue locally (gatsby develop), only when it's built on a production environment do we see the issue.

We have a prod branch on 2.9.2 that looks promising, so far no issues, but the traffic to it is miniscule compared to main production. I'll post results once we've deployed, hoping the page manifest update to Gatsby last w

[2019-06-18 17:55] doodybrains commented on #14875
Seems like a similar issue - I recently updated Gatsby to latest version and my Netlify deploy is hanging at `success Rewriting compilation hashes - 0.003 s`

[2019-06-18 18:07] MunifTanjim commented on #14875
This is caused by https://github.com/gatsbyjs/gatsby/commit/967597c12fc5d227de4c1767bf82bc751f2fe0d0

- `gatsby-plugin-sharp`: `src/utils.js`
- `gatsby-source-filesystem`: `src/utils.js`

Because of `require(`gatsby-cli/lib/reporter`)`

[2019-06-18 18:08] ZolderonGitHub opened #14878 "Bug for gatsby-starter-blog"
I have a bug when i run gatsby develop  [in the gatsby-blog-project](https://www.gatsbyjs.org/starters/gatsbyjs/gatsby-starter-blog/)

  Error: RelayParser: Encountered duplicate defintitions for one or more documents: each document must have a unique name. Duplicated documents:

I don't make any change, and i think that come from query.
I run on windows 10.

[2019-06-18 18:15] bengry opened #14879 "Local plugin behaves differently then direct configuration (SSR)"
## Description
Code written as a local plugin behaves differently then if it were written directly in `gatsby-ssr.js`/`gatsby-browser.js`.

I started with [this example](https://github.com/mui-org/material-ui/tree/master/examples/gatsby) from the Material-UI repo, after seeing that their `<CssBaseline />` ([docs](https://github.com/mui-org/material-ui/blob/89687f38cae750650555772ba4d821c9084d8dfc/

[2019-06-18 18:20] jkaracozoff commented on #14875
@zappys - I'm getting same error;
`error Warning: Can't perform a React state update on an unmounted component. This is a no-op, but
it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous`
`error UNHANDLED REJECTION`
`TypeError: Cannot read property 'startTime' of undefined`

[2019-06-18 18:26] DanielRuf commented on #14875
@MunifTanjim he is aware of it, see https://github.com/gatsbyjs/gatsby/issues/14875#issuecomment-503203439

[2019-06-18 19:04] fboechats commented on #14835
Can I work on this feature??

[2019-06-18 19:04] gwlortscher commented on #11524
We have 2.9.0 in production and unfortunately are still seeing the issue at the same rate as before—1-2% of traffic across all browsers.

[2019-06-18 19:11] w0404884 commented on #14875
I am also getting this after adding gatsby-cli

[2019-06-18 19:14] 1zaak opened #14880 "Transform image URL (using gatsby-image) in 'gatsby-source-google-spreadsheet'"
## Summary
I am trying to use the image URL in Google Sheet, but the [source library](https://github.com/sondrele/gatsby-source-google-spreadsheet) seems to not have any `gatsby-image` support.

Does anyone know of other workarounds for this issue?
## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`:

- 'gatsby-source-google-spreadsheet'
- 'ga

[2019-06-18 19:24] JoaquinScript commented on #13900
This is a great idea, currently both frequency and priority are hardcoded but I guess the `serialize` function can be overridden and a object like the one on the issue can be used

[2019-06-18 19:29] 604karev commented on #14875
Hi, I try gatsby today firs time, and has the same issuse, I am created gatsby-site run `npm start` and fet error:
[code]
When I asked google about my problem and he give me an solution `[#4122](https://github.com/gatsbyjs/gatsby/pull/4122)`, I tryed this, but get another error, I forgot but something with sdk 8.1, I'm installed sdk, the problem is not gone

[2019-06-18 19:36] polkhovsky commented on #14875
As an immediate workaround you can use `yarn` instead of `npm`
`rm -rf node_modules`
`yarn`
`gatsby develop`

[2019-06-18 19:36] DanielRuf commented on #14875
@604karev see https://github.com/gatsbyjs/gatsby/pull/14881

[2019-06-18 19:45] 604karev commented on #14875
@polkhovsky , thanks, this works for me

[2019-06-18 19:48] ertrzyiks commented on #14790
I would be happy to help with this issue.

@eyalroth is there any public repo when I could reproduce the issue? I tried it with my own project and got the error reported nicely:
<img width="772" alt="Screenshot 2019-06-18 at 21 44 22" src="https://user-images.githubusercontent.com/2437969/59714668-77e3df80-9212-11e9-9f46-176ec5d549ec.png">

[2019-06-18 19:50] doodybrains commented on #14875
I get a different error when running `yarn` after removing `node_modules`

[code]

[2019-06-18 19:51] herecydev opened #14882 "setWebpackConfig not setting values as expected"
## Summary

I expect the following:

[code]

To only resolve ".foo" files when webpack is resolving modules. It actually looks like the setWebpackConfig is adding foo on to the end of the existing (default) list. So you end up with something similar to:

 ['.mjs', '.wasm', '.js', '.jsx', '.json', '.foo' ]

If that's intended/how it **is** working at the moment... that's really not intuitive or wel

[2019-06-18 20:16] wardpeet commented on #14875
@doodybrains that seems something else, could you create another issue for this.

I think I fixed the issue with NPM. I would love if people can test it out for me. I've updated a lot of packages so please install the correct packages. For example if you have `gatsby-source-wordpress` installed, please install `gatsby-source-wordpress@reporter-npm`

I published some versions to test, please instal

[2019-06-18 20:16] souljacker commented on #14875
+1 for @polkhovsky 's workaround

[2019-06-18 20:17] leonlafa commented on #14834
I'm happy to go through and refactor if it's still up for grabs?

[2019-06-18 20:21] jkaracozoff commented on #14875
@wardpeet I tried with NPM, I ran these commands:
`rm -fr package-lock.json node_modules/`
`npm install`
`gatsby develop`

And I got this error:
`error Warning: Can't perform a React state update on an unmounted component. This is a no-op, but
it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous

error UNHANDLED REJECTION

  TypeError: Cannot read prope

[2019-06-18 20:22] narration-sd commented on #14875
And anyway, requiring to use `yarn` not a valid option.

I'm having all this on node 12.4.0 / npm 6.9.0, just trying to set up a demo for a doc purpose.

Thanks to @MunifTanjim above for tieing this down for causes!

Maybe we could get #14800 repaired also, to stop similar new trying user befuddlement??

Thanks

[2019-06-18 20:22] doodybrains commented on #14875
@wardpeet thank you. i npm installed for `plugin-sharp` and `source-contentful` but got

[code]

tried running

`npm install gatsby-transformer-sharp@reporter-npm`

but that returned an error.

[2019-06-18 20:27] doodybrains commented on #14875
@wardpeet sorry. i removed `gatsby-transformer-sharp` and now everything works...

[2019-06-18 20:27] wardpeet commented on #14875
@jkaracozoff that seems a different bug, any reproduction you can create for me? Feel free to send me a private email ward@gatsbyjs.com

[2019-06-18 20:27] narration-sd commented on #14800
@sidharthachatterjee  Look, I'm not a novice posing a question.

It's a several-instances tested report, and a big problem up front especially shown by log, that there is _no clue provided as to what's wrong_.

So it doesn't deserve a slush pile label, do you agree??

[2019-06-18 20:28] wardpeet commented on #14875
@narration-sd it's getting a bit late for me, I'll try to get to it this week.

[2019-06-18 20:29] narration-sd commented on #14875
@wardpeet  Thanks, friend -- fully understand about the 'getting late' part, just  did  that in the other timezone direction as often, last night...

[2019-06-18 20:31] jkaracozoff commented on #14875
UPDATE: NPM appears to be working now, don't forget to install ALL the packages you need (he said to himself...), thanks @wardpeet !

`npm install gatsby-plugin-sharp@reporter-npm
npm install gatsby-source-contentful@@reporter-npm
npm install gatsby-source-drupal@reporter-npm
npm install gatsby-source-filesystem@reporter-npm
npm install gatsby-source-shopify@reporter-npm
npm install gatsby-source-

[2019-06-18 20:31] wardpeet commented on #14834
yes! All yours!

[2019-06-18 20:35] leonlafa commented on #14834
Just to clarify, you want all of the console logs throughout the application to be refactored as ...reporter.log(util.format(...args))?

[2019-06-18 20:38] DSchau commented on #14800
@narration-sd Sid added a label `type: question or discussion` which is very much accurate to the issue as it currently stands.

The error (as you've attempted to reproduce) is not reproducible for _us_ so we can't confirm your error based on the info you've provided, therefore the label is accurate as it currently stands.

However, this isn't to say that we don't care to fix your issue or help yo

[2019-06-18 20:47] benryerson commented on #14875
Following @wardpeet 's instructions and installing the necessary @reporter-npm packages works.

For me, it was the following:
npm install gatsby-plugin-sharp@reporter-npm
npm install gatsby-source-filesystem@reporter-npm

Thank you!

[2019-06-18 20:52] jaredsilver commented on #14873
It looks like this should be fixed in #14881

[2019-06-18 20:55] wardpeet commented on #14875
we rolled back the change for now so the latest npm packages shouldn't have this issue. We'll reiterate on the reporter-npm fix and ship it somewhere this week.

[code]

[2019-06-18 21:23] bjatwork commented on #6654
Form me Gatsby hangs 50% of the time on  "source and transform nodes" when i use json with more than 500 images inculuded.  I'm using gatsby-source-custom-api

Images are hosted in fast, stable server.
My innternet connecion is also fast and stable.

    "gatsby": "^2.9.4",
    "gatsby-image": "^2.1.4",
    "gatsby-plugin-emotion": "^4.0.7",
    "gatsby-plugin-sharp": "^2.1.5",
    "gatsby-plugin-

[2019-06-18 21:24] luisFilipePT commented on #14814
Hi,
Can I try to tackle this one?

Cheers

[2019-06-18 21:28] jacobsilver2 commented on #6654
It happens to me too.  I've tried every fix that has been suggested and nothing seems to work.   Definitely will not be using Wordpress as a backend for Gatsby again, though I hear people are having similar issues with other services as well.

[2019-06-18 21:30] ciokan commented on #14184
I'm just trying to track down what exactly is slowing the deployment. I'm not seeing hundreds of avatars being generated. I thought it generates the same avatar hundreds of times though. If there's just a warning being sent to the console it's fine with me. I didn't know that - hence the ticket.

[2019-06-18 21:30] #14184 closed

[2019-06-18 21:42] mfuller22 opened #14888 "How to fix: Gatsby build results in css files being merged, which disrupts local styling on specific Gatsby pages"
## Description

I'm converting my Gatsby site from development to an actual build. I've been able to get everything to work in "develop" mode, specifically using a separate css stylesheet for one of my pages.

When I run gatsby build and then gatsby serve, the result is the css styles for the specific page being blended into (or overwriting) the other pages.

### Steps to reproduce

Run "gatsby de

[2019-06-18 21:58] KyleAMathews commented on #14766
/cc @freiksenet @stefanprobst

[2019-06-18 22:15] MitchellCash commented on #14875
@wardpeet thanks for the quick responses!

I bumped my dependencies to the latest and we are all good again!

I also tested the two in development dependencies and they also solved this problem for me:

- `gatsby-plugin-sharp@reporter-npm`
- `gatsby-source-filesystem@reporter-npm`

[2019-06-18 22:24] jlengstorf commented on #6211
@sarneeh the page components get unmounted/remounted on each navigation, which is probably the culprit here.

I'd try this:
1. Remove the styles from the page (here: https://github.com/sarneeh/gatsby-issue-6211/blob/master/src/pages/index.js#L3)
2. Create a `gatsby-browser.js` in the project root and import them there instead:
[code]

This will make the styles globally available and won't unmount/

[2019-06-18 22:36] narration-sd commented on #14800
Well, good to see where this is addressed in the source. However, I'm not seeing that it has the desired effect, on Windows 10 in the last months.

I puzzled why you  think I didn't demonstrate, with the log posted above, but yes, that log doesn't mention browserslist. My intent was to show on the behalf of new Gatsby trying persons that when running `npm run develop` on a fresh `gatsby new` site,

[2019-06-18 22:41] narration-sd commented on #14875
Just to add for others:  you do apparently need to add the two @reporter-related libraries, after getting npm to actually install and use the back-versioned gatsby-cli (by npm -g remove gatsby-cli, locally also if you have one there).

The library adds, as close above from @benryerson, done in the created new site:
- npm install gatsby-plugin-sharp@reporter-npm
- npm install gatsby-source-filesyst

[2019-06-18 22:48] sebastienfi commented on #8056
You could optimize it further:
- set [concurrentRequests](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress#how-to-use) in `gatsby-config.js` for `gatsby-source-wordpress`
- set environnement variable `GATSBY_CPU_COUNT=logical_cores` to **Netlify > Build & Deploy > Environnement.**
- use [gatsby-plugin-netlify-cache](https://github.com/axe312ger/gatsby-plugin-netlify-

[2019-06-18 22:59] sebastienfi commented on #6654
@alexanderwe The proper way to fix this is to implement the patch suggested by @njmyers

[2019-06-18 23:04] gillkyle commented on #14693
Thanks @kindavishal! Since @kkaramch sounded like he was interested in working on it too I don't think I can give a full green light, but this would be a valuable addition so if there's a piece you'd like to contribute or a handful of links you'd like to clean up these fixes could even come in multiple PRs from you two (and possibly others) and would be greatly appreciated!

[2019-06-18 23:43] #14635 closed

[2019-06-18 23:53] gillkyle opened #14890 "[docs][workflows] Centralizing MDX docs on Gatsbyjs.org"
Part of the Top 25 Learning Workflows initiative. See #13708 for the meta issue that this issue falls under.

## Description:

In an effort to centralize docs for MDX under the Gatsbyjs.org docs, all guides should be moved from [the gatsby-mdx docs](https://gatsby-mdx.netlify.com/) to .org. We should add `createRedirects` on the gatsby-mdx page as well to point users to Gatsby's docs where documen

[2019-06-19 00:05] Talii123 opened #14891 "Webassembly Error When Building"
## Description

When I run `gatsby develop` the server fails to start due to an error with WebAssembly.
Interestingly, `npm run develop` works as expected.

### Steps to reproduce

Just follow the steps from the [Quick Start Tutorial](https://www.gatsbyjs.org/docs/quick-start).

### Expected result

The development server should start (as it does when you run `npm run develop`).

### Actual result

[2019-06-19 00:06] Talii123 commented on #14891
Possibly related to #13641

[2019-06-19 00:18] marcysutton opened #14892 "[docs][recipes] Styling: Add Global CSS files"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Styling" recipe should be broken up into smaller, more actionable parts. This issue is about the first item, **standard global CSS files** [without a layout component](https://www.gatsbyjs.org/docs/global-css/#adding-global-styles-without-a-layout-component).

The current recipe has this text (it will be replace

[2019-06-19 00:31] marcysutton opened #14893 "[docs][recipes] Styling: Add global styles with a layout component"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Styling" recipe should be broken up into smaller, more actionable parts. This issue is about the second item, **global CSS files with a layout component**, coming after the standard CSS file recipe requested in https://github.com/gatsbyjs/gatsby/issues/14892.

The current recipe has this text (it should be repla

[2019-06-19 00:39] marcysutton opened #14894 "[docs][recipes] Styling: Using Styled Components"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Styling" recipe should be broken up into smaller, more actionable parts. This issue is about the third item, **Using Styled Components**, coming after the standard CSS file recipes requested in https://github.com/gatsbyjs/gatsby/issues/14892 and https://github.com/gatsbyjs/gatsby/issues/14893.

The current recip

[2019-06-19 00:43] marcysutton opened #14895 "[docs][recipes] Styling: Using Emotion"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Styling" recipe should be broken up into smaller, more actionable parts. This issue is about the fourth item, **Using Emotion**, coming after the Styled Components recipe requested in https://github.com/gatsbyjs/gatsby/issues/14894.

The current recipe has this text (it will be replaced by Styling recipes inline

[2019-06-19 00:46] marcysutton opened #14896 "[docs][recipes] Styling: Using CSS modules"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Styling" recipe should be broken up into smaller, more actionable parts. This issue is about the item **Using CSS modules**, coming after the Emotion recipe requested in https://github.com/gatsbyjs/gatsby/issues/14895.

The current recipe has this text (it will be replaced by Styling recipes inline):

The action

[2019-06-19 00:52] marcysutton opened #14897 "[docs][recipes] Styling: Adding a local font"
## Summary

To improve key learning workflows in the Recipes section of the docs, the "Styling" recipe should be broken up into smaller, more actionable parts. This issue is about how to **Add a local font**, coming after the CSS Modules recipe requested in https://github.com/gatsbyjs/gatsby/issues/14896.

This recipe should show how to work with local fonts _inline_ as concisely as possible. Many

[2019-06-19 01:29] narration-sd commented on #14875
@MitchellCash  Mitchell, I'm trying to understand what exactly you meant about having success by 'bump[ing] dependencies'

I've got the fixed gatsby-cli of today to work in creating a buildable site, but only by fresh `gatsby new sitename` followed by manual npm install of both @reporter-npm tagged plugins.

To discover your meaning, I tried several variations on removing node_modules and package-

[2019-06-19 01:48] jfarris587 opened #14898 "pathPrefix not working after building and serving Gatsby site"
## Description

**Problem when using `pathPrefix` option in `gatsby-config` when serving the build.**

The goal is to have a gatsby app, that builds, and the build is then served from an (express) app. You would have the main express app serving a static page, called `page-2` (the gatsby page) at `www.myapp.com/banana/page-2`.

Due to `banana` there is a `pathPrefix` of "/banana" added to the conf

[2019-06-19 01:48] Travisg25 commented on #14434
I'd like to re-open this issue. I have the same occurring error at the end of many other errors that look to be stemming from something similar.
First time deploying to netlify and using Gatsby.
Been traversing all the suggested fixes on other posts. But have not ran into one that works yet.
I've made sure all components are named correctly.

[code]

![Screen Shot 2019-06-18 at 6 44 38 PM](https:/

[2019-06-19 04:59] gentleShark commented on #2374
@dotansimha any idea why an error related to generated types from graphql-codegen would get thrown just prior to the Gatsby development server starting? Gatsby bootstrapping succeeds but then an error is thrown for the first type in the generated file.

[code]

[2019-06-19 06:11] Nanavati13 commented on #4486
I am also facing the same issue and can't solve it. I have just run `gatsby new gatsby-site` as described in the official doc and got this issue: Error: Command failed: npm install.
![Screenshot from 2019-06-19 11-38-50 (1)](https://user-images.githubusercontent.com/51984416/59740935-288bc680-9287-11e9-95c2-565a3ddc18c9.png)

[2019-06-19 06:16] sarneeh commented on #6211
@jlengstorf Thanks for taking a look on this! But I'm still confused: why this is not happening when I just put plain CSS in the imported style?

[2019-06-19 07:03] altano commented on #13981
@iamskok could you elaborate on the solution? I'm having the exact same problem.

The repo you linked to has the source to [graphql-source-shopify](https://github.com/iamskok/gatsby-shopify-invariant-violation-example/blob/master/plugins/gatsby-source-shopify/package.json), it isn't an example of how to query the shopify admin api using graphql-source-graph?

[2019-06-19 07:25] Rajarml commented on #11524
The version rollback down to `2.8.5` from `2.9.4` seems to have fixed the issue for us.
In our case it seems to be related to some missing `pages-manifest-{hash}.js[.map]` files.
The `2.9.3` and `2.9.4` version have some potential breaking changes: see https://github.com/gatsbyjs/gatsby/pull/14732 (from Gatsby package changelogs: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANG

[2019-06-19 07:37] shannonbux commented on #14428
Just saw this. Thanks @jamo, for the update! Maybe it makes sense to close this issue, since the original task is finished, and then open a new one with the new idea you have. What do you think @prestonso?

[2019-06-19 07:41] KyleAMathews commented on #11524
FYI @moocar has a PR up to make resource loading more robust e.g. retry failed or partially loaded resources https://github.com/gatsbyjs/gatsby/pull/14889

If any of you have time to review / try that, it'd be much appreciated. I apologize for not catching this earlier — it wasn't clear how widespread this was or what the cause was before digging in recently with @Moocar

[2019-06-19 07:47] iamskok commented on #13981
@altano  My purpose was to query everything from Storefront + metafields so, in the beginning, I thought that I will have to fetch data from Storefront + Admin APIs and combine it together, but it happened so @Shopify recently released the feature which lets you retrieve metafields on top of everything else Storefront API provides.

Couple of things to note:

* At the moment this feature works onl

[2019-06-19 07:49] alexanderwe commented on #6654
@sebastienfi I just stumbled over this https://github.com/gatsbyjs/gatsby/issues/14819#event-2418874313 and the corresponding commit https://github.com/gatsbyjs/gatsby/commit/90aa24787b32ef9613b6becbfadab6029ec39ce9#diff-1864dd21828754bdbc63f22b895bee8e which adds an environment variable to configure the concurrency rate, which solved the issue for me. There is also an ongoing discussion about env

[2019-06-19 07:50] dotansimha commented on #2374
@gentleShark It seems like an invalid generated code, but it's hard to point the actual issue.
Can you please open an issue with a reproduction in our repo?