[2021-10-26 18:24] phun-ky opened #33682 "gatsby-recipe has remark-mdx set to type: module as dependency, throws ERR_REQUIRE_ESM"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Aft

[2021-10-26 19:10] #33682 closed, assigned to nobody

[2021-10-27 05:42] ghost opened #33687 "Error when running gatsby commands"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-10-27 06:06] #33557 closed, assigned to nobody

[2021-10-27 07:09] stevensacks opened #33688 "Gatsby 4 + Tailwind with CSS Modules"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Gat

[2021-10-27 09:55] stevensacks opened #33691 "Gastby + Tailwind Forms select elements not rendering correctly in MacOS Safari"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I h

[2021-10-27 10:27] #33691 closed, assigned to nobody

[2021-10-28 05:53] lindachenau opened #33711 "Error: The result of this StaticQuery could not be fetched"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Thi

[2021-10-28 10:21] dangreen opened #33713 "ERR_REQUIRE_ESM error in gatsby-recipes"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

[co

[2021-10-28 15:15] #33687 closed, assigned to nobody

[2021-10-28 21:33] Amiinoz opened #33725 "[Need Help] Gatsby build fail with path "/404/" and Minified React error"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hel

[2021-10-29 06:39] #33725 closed, assigned to nobody

[2021-10-29 08:27] #33632 closed, assigned to nobody

[2021-10-29 08:57] #33711 closed, assigned to nobody

[2021-10-29 10:34] aaronbentley opened #33733 "Missing onError handler for invocation 'building-schema', error was ' Error: Type with name "GatsbyImageLayout" does not exists'"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hel

[2021-10-29 11:41] Axel-KIRK opened #33735 "Longer build - long query - after migrate to gatsby 4"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hi,

[2021-10-29 13:13] #33733 closed, assigned to nobody

[2021-10-29 18:10] SamHoltby opened #33738 "Gatsby 4 - EPIPE error on Netlify"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Jus

[2021-10-29 20:32] wardpeet commented on #32037
Hey I understand. Managing an OSS project at this scale is not always as easy. And we dropped the ball on this issue. Sadly, these issues get autoclosed when a PR get merged. We try to publish next versions immediately and backport them as soon as possible. They usually only take a day or two.

We'll comment on the issue when the publish is done.

[2021-10-29 20:54] lexisother opened #33739 "Gatsby v4 throws error during createPages saying it can't remove graphql code from my `gatsby-node.js`."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I h

[2021-10-29 21:00] KyleAMathews commented on #33739
Ran the repro locally and saw the same bug

[2021-10-29 21:05] chrisworman-pela commented on #32037
I appreciate you following-up and I understand.  Thanks taking care of this issue.

[2021-10-29 22:26] #28657 closed

[2021-10-29 22:26] #30373 closed

[2021-10-29 22:58] tariknz commented on #33651
I haven't tested this  but maybe this:

[code]

In your type possibly
[code]

🤷

[2021-10-29 23:08] wardpeet commented on #33663
Thanks, this got fixed in the next channel, you can test it by installing `npm install gatsby@next`. We'll release it on Tuesday.

[2021-10-29 23:08] #33663 closed

[2021-10-29 23:13] wardpeet commented on #33205
Have you tried using replace instead? Each navigation change will re-render React. Check https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-link/#replace-history-during-programmatic-navigation

[2021-10-29 23:19] wardpeet commented on #28451
Closing as we don't support version 2 any more :) Thank you for using Gatsby and feel free to re-open if this is still an issue in v3-v4

[2021-10-29 23:19] #28451 closed

[2021-10-29 23:23] wardpeet commented on #27196
Is this fixed? Does this still occur in v3 or in v4?

[2021-10-29 23:41] #24759 closed

[2021-10-29 23:42] wardpeet commented on #23676
Should be fixed in v3 & v4 where we have yarn 2-3 support

[2021-10-29 23:42] #23676 closed

[2021-10-30 05:12] Aryaman73 commented on #11599
I'm still encountering this issue on Gatsby v 4.0.2. I've tried the NODE_ENV techniques as well.

[2021-10-30 09:21] #30285 closed

[2021-10-30 10:33] nrandell commented on #33739
I think I'm seeing the same sort of thing with using `useStaticQuery`. I rolled back to gatsby 4.0.1 and gatsby-plugin-eslint 4.0.0 and my build started working again.

[2021-10-30 17:46] KyleAMathews opened #33743 "Node manifest file paths aren't created correctly"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Rep

[2021-10-30 20:28] tatsuya opened #33744 "`gatsby develop` fails in `examples/gatsbygram` project"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-10-30 20:41] benekoehler opened #33745 "[gatsby-source-wordpress] inline images won't resolve the data-src attribute"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Aft

[2021-10-30 21:51] no-chris opened #33746 "Gatsby v4: `jsonId` automatic property prevents Json mapping in `gatsby-config` to be done"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

It

[2021-10-30 23:21] Isaac-Tait commented on #31775
@wardpeet Here you go https://github.com/Isaac-Tait/gatsby-image_mimimum_repro

[2021-10-31 01:29] ehowey commented on #31031
Yeah so the repro above is obviously not minimal, and I fixed it for myself by removing the `loading=eager` - but my recollection is that yes this was only an issue in production.

[2021-10-31 02:06] robmarshall commented on #33745
I am getting this issue as well.

[2021-10-31 06:14] nathsimpson opened #33747 "Gatsby v4: Typescript error "Top-level declarations in .d.ts files must start with either a 'declare' or 'export' modifier""
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'm

[2021-10-31 06:16] nathsimpson commented on #33747
Would really appreciate any help with this. Thank you 😄

[2021-10-31 06:26] lewiss444 commented on #9911
I tried everything mentioned before and nothing worked. My solution was to rename the name of component to export and then everything was fixed like magic.

[code]
to
[code]

[2021-10-31 13:14] jablonski commented on #27196
For us the problem was solved by using another bundling strategy by exposing "@gatsbyjs/reach-router". As Gatsby switched from "@reach/router" to a dedicated fork ("@gatsbyjs/reach-router"), the original idea of using "@reach/router" to keep our bundle Gatsby-agnostic isn't valid anymore.

[2021-10-31 13:14] #27196 closed

[2021-10-31 15:45] iamalexblue commented on #7013
Hollly xxx, That works thx.

[2021-10-31 16:57] tomasbillborn commented on #33743
I also experience this in Gatsby Cloud.

The build logs for the preview has no errors in it.

What I can see in the console is shown in the attached image.

![gatsby-contentful-preview](https://user-images.githubusercontent.com/650639/139594085-16b27790-9360-46ad-904f-53c07a98c76c.jpg)

[2021-10-31 18:40] lemonadvertising commented on #32102
We're facing a similar issue. We've created content types using Wordpress ACF and whenever the content in the ACF is updated, Gatsby detects the change and publishes the page, however it does not republish the parent page in which the content type is displayed in a carousel format. Is there anyway to have some kind of dependency relationship between pages?

An example of this is a News Article whi

[2021-10-31 18:59] lnikell opened #33748 "gatsby-plugin-image onStartLoad throws warning react dev tools"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Usi

[2021-10-31 19:11] lnikell commented on #30937
Potentially that behaviour made on purpose(cc @LekoArts ).

- onLoad event executes only when image actually has been loaded and the network request happened

When you switches between pages there is no additional request happens because image has been cached already, and kinda there is no need for loading it. Which is definitely quite confusing.

However there is another event - onStartLoad. That

[2021-11-01 03:05] KyleAMathews commented on #33743
Ok, so maybe not a window's error then

[2021-11-01 08:22] cameronbraid opened #33787 "Gatsby 4 removes query parameters for page without trailing slash in build version (not in develop)"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Usi

[2021-11-01 12:51] charles-langley opened #33794 "[gatsby-source-wordpress] Custom Taxonomy hard limit of 100"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

We

[2021-11-01 13:53] glassesUSA opened #33796 "Placeholder not completing on Google Chrome"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-01 14:08] LekoArts commented on #33796
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-11-01 14:19] LekoArts commented on #33794
Hi!

We'll need a [minimal reproduction][reproduction] as your reproduction steps are not enough for me or my colleagues to understand where the problem might lie.

Maybe you have a typo in https://www.wpgraphql.com/filters/graphql_connection_max_query_amount/ or your `gatsby-config.js`. We don't know 🤷

[reproduction]: https://gatsby.dev/reproduction

[2021-11-01 14:30] LekoArts commented on #33739
Using multiple `useStaticQuery` in a file isn't valid though

[2021-11-01 14:32] LekoArts commented on #33454
Hi!

Please [provide a minimal reproduction][reproduction] for this. Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2021-11-01 14:33] LekoArts commented on #33735
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-11-01 15:04] charles-langley commented on #33794
Here is a reproduction, which is nothing more than the gatsby-starter-wordpress-blog base with a limit increase in gatsby-config.js set for all types to 150.

https://github.com/charles-langley/demo

gatsby-node.js:

      resolve: `gatsby-source-wordpress`,
      options: {
        // the only required plugin option for WordPress is the GraphQL url.
        url:
          process.env.WPGRAPHQL_UR

[2021-11-01 15:24] chandrakumarreddy commented on #33747
facing same issue

[2021-11-01 15:29] charles-langley opened #33797 "[gatsby-source-wordpress] Initial creation fails due to dep version mismatch"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Ini

[2021-11-01 15:38] #33746 closed

[2021-11-01 15:39] LekoArts commented on #33797
Hi, thanks for the issue. The specific starter https://github.com/gatsbyjs/gatsby-starter-wordpress-blog is managed in that repository (and not in this one). I filed this internally as a bug so that I'll be fixed soon.

[2021-11-01 15:39] #33797 closed

[2021-11-01 16:56] TylerBarnes commented on #33743
@tomasbillborn that's not an error actually :) those are logs we use to make it easy to debug the UI for customers, it should be 404ing there initially.

[2021-11-01 17:00] glassesUSA commented on #33796
Hey!

https://github.com/glassesUSA/gatsby-bug You can find it here! This seems to only happen when on build and not on develop and only with Google Chrome

[2021-11-01 19:00] j-e-clark commented on #33677
I've been trying to upgrade a site to Gatsby v4 and discovered the issue also affects [gatsby-remark-relative-images](https://github.com/danielmahon/gatsby-remark-relative-images/issues/59).

Plugin uses `"main": "dist/index.js",` in `package.json` and is currently breaking v4 with the same error.

[2021-11-01 19:07] tomasbillborn commented on #33743
I am on latest versions.
It is not doing it initially it keeps retrying forever.

It is the same error in Gatsby Cloud I get as locally.

I am on Windows so locally that might hold up, but is the manifest files built run-time by me or serverside by Gatsby Cloud?

[2021-11-01 20:23] TylerBarnes commented on #33743
@tomasbillborn thanks for the additional info. Can you share your Gatsby Cloud dashboard link, either via email (tyler@gatsbyjs.com) or by opening a Gatsby Cloud support ticket? That will allow us to take look at your site on Gatsby Cloud and try to figure out what's going on

[2021-11-01 20:58] tomasbillborn commented on #33743
Sent you the information to your email.

[2021-11-01 21:58] eddysims opened #33800 "[gatsby-source-contentful] and useStaticQuery fails when editor changes content"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I h

[2021-11-01 23:21] TylerBarnes commented on #33743
Hi @tomasbillborn, thanks for sharing that with me! I had a look, and I'm still investigating, but it appears you're on `@next` versions of Gatsby packages and somehow this is being resolved to an earlier version of `gatsby` on Gatsby Cloud (Gatsby version: 3.6.0-next.1). Can you try adding the latest stable versions of packages to see if it will work on Gatsby Cloud?

It looks like we have 2 sepa

[2021-11-02 00:03] #31738 closed

[2021-11-02 00:36] benlavalley commented on #33738
Running into this as well with my Netlify site after updating to Gatsby v4 (node 14.18.1 installed locally and  specified in .nvmrc)

[2021-11-02 05:08] ramiroazar commented on #32799
Yes, I can confirm this happens with both `gatsby develop` and `gatsby build` using in the reproduction link above.

[2021-11-02 06:02] tomasbillborn commented on #33743
Hello again Tyler

Great you are making some progress on this :)

The package.json being used looks like this and as you can see the latest Gatsby is set. Is there some issue with how the package-lock file looks? Locally I am on node 14.7 and npm 6 when npm install is building it.

Or do I understand you incorrect and it’s the Gatsby Cloud plug-in you are referring to?

If not how can I do it diff

[2021-11-02 06:35] KyleAMathews commented on #33743
Try deleting your lock file and then running npm install again. That clears
up problems generally.
--
Kyle Mathews

Blog: *http://bricolage.io <http://bricolage.io>*
Twitter: http://twitter.com/kylemathews

On Mon, Nov 1, 2021 at 11:02 PM Tomas Billborn ***@***.***>
wrote:

[2021-11-02 07:55] #33800 closed

[2021-11-02 08:48] tomasbillborn commented on #33743
I deleted all node modules, cleared the cache, deleted the package-lock.json so this should now be updated.

[2021-11-02 09:02] wkillerud commented on #33747
Same issue using TypeScript 4.4.4 and Gatsby 4.0.2.

This diff in [gatsby/index.d.ts](https://github.com/gatsbyjs/gatsby/blob/ac60fbcd284a2cd8fba0ee282313afe644dfc512/packages/gatsby/index.d.ts#L33) fixes it for me:

[code]

Not sure if it should be `export` or `declare`, but either should do the trick.

[2021-11-02 10:11] #33747 closed

[2021-11-02 10:50] Bruce-Hopkins-Jr commented on #33796
Hi!

I'm trying to reproduce the issue by visiting the link provided. I used Google Chrome and also Chromium but the images are loading on my side.

Have you checked if the images load on other devices?

[2021-11-02 10:57] Bruce-Hopkins-Jr commented on #33650
Hi!

I need a reproduction link to a Github repo and/or live demo of your site to further assist you. Without it, I can't reproduce the bug.

[2021-11-02 11:24] glassesUSA commented on #33796
The images load on other web browsers perfectly... It's only on Chrome. It's the majority of the time it doesn't load on chrome but sometimes it can.

[2021-11-02 11:25] glassesUSA commented on #33796
![image](https://user-images.githubusercontent.com/76479522/139837738-7908ca98-c828-4eb0-959c-c87089a950d5.png)

Just checked again and yeah it still doesnt load for me. Console showing no errors

[2021-11-02 12:44] justsilencia commented on #33323
Has anyone been able to at least confirm this issue by chance?

[2021-11-02 13:06] LekoArts commented on #33739
Hello!

This is failing due to an error in your code:

https://github.com/lexisother/gatsby-bug-repro/blob/7f241e9ef35361be145faad12afe1bdbefd7b944/gatsby-node.js#L1

You must not import `graphql` in your `gatsby-node.js` file but must use it from `createPages` directly.
See the API docs: https://www.gatsbyjs.com/docs/reference/config-files/gatsby-node/#createPages

So in your code it would be: `c

[2021-11-02 13:09] LekoArts commented on #33738
Hi!

Could you please [provide a minimal reproduction][reproduction] so that we can use that repo to run it on Netlify itself? Can you also link the issue/discussion you opened with Netlify support (if public)? Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2021-11-02 15:20] #33744 closed

[2021-11-02 15:25] Mrtenz opened #33821 "Parent/child link created from remote file node not persisted in cache"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

In

[2021-11-02 16:04] lexisother commented on #33739
Ah, the fool I am! Many thanks for looking further than the length of my nose!

[2021-11-02 16:51] tobeagram commented on #26785
I just updated to gatsby@4.1 with yarn and I'm having the same issue. @dougsmith1000's hack worked to fix the problem temporarily for development, but it's not an ideal solution for use in a prod environment.

[2021-11-02 17:23] TylerBarnes commented on #33743
Thanks @tomasbillborn ! I see it's updated in your dev site and I see some logs related to Content Sync there now 👍 have you been able to try it out from the Contentful side and see if it's working?

btw I'm working on resolving the windows issue today.

[2021-11-02 20:13] tomasbillborn commented on #33743
Actually for some reason now when both preview webhook and content sync is set, Gatsby Cloud App (in Contentful) throws an error that the preview webhook url is not set (very frustrating).

Had a collegue test it too and he got the same result so I removed the content sync url and fallbacked on previous solution and it is at least working.

I hope this some temp bug they will fix soon. I will get

[2021-11-02 20:21] TylerBarnes commented on #33743
@tomasbillborn sorry for the broken experience here! We're aware of that issue as well and are working with Contentful to fix it here https://github.com/contentful/apps/pull/576. A PR was merged this morning which broke the Contentful Gatsby App for Content Sync. We'll be moving the Contentful Gatsby app to our own repo so we have more control over making quick fixes like that in the future.

[2021-11-02 20:36] ax-vasquez commented on #31853
Just wanted to point out that it seems this issue wasn't entirely fixed in `3.7.1`

I am currently using version `3.10.1` and just hit this same issue. However, the workaround _did_ work for me. Simply reinstalling the packages worked :shrug:

But yeah, looks like this issue may have come back up :/

[2021-11-02 20:47] #33787 closed

[2021-11-03 00:03] #32798 closed

[2021-11-03 00:39] fool commented on #33738
I'm from Netlify Support and came to see if y'all had managed to track this down.  Sam's question at least isn't public (it's in our helpdesk), but I have linked this issue to it on our side.

What I can see without betraying Sam's confidence is that it happens right after this phase of the build completes:

`success run queries in workers - x.ys 621/621 4.08/s`.  I guess Sam may have to tell us w

[2021-11-03 02:08] IvayloNikolov commented on #33733
How did you fix this issue? Im experiencing the same issue.

[2021-11-03 06:59] SamHoltby commented on #33738
@LekoArts will get something up ASAP, unable to at the moment (traveling).

@fool Thanks for the comment. As I mentioned in the help desk ticket, this doesn't happen on my local environment, making it tricky to debug. The main difference is Gatsby and their plugin versions.

@benlavalley Had any luck debugging this? Let us know if you find a solution 🙂

[2021-11-03 07:58] #33821 closed

[2021-11-03 09:11] AaronBentley commented on #33733
Hey @IvayloNikolov, If I recall correctly I think  the issue was because I was missing `gatsby-plugin-image` in the `gatsby-config.js` plugins array.

[2021-11-03 10:54] nathsimpson commented on #33747
Thanks all! 👏

[2021-11-03 11:23] bogdancss commented on #33650
happening on our instance as well - all of sudden, as of yesterday are getting this. Tried a clean installation, tried locally as well as on Gatsby Cloud - same error.

[2021-11-03 11:40] mwakicodes commented on #33474
Did you get it to work? Experiencing the same issue.

[2021-11-03 12:17] ansmlc opened #33837 "Chrome's Lighthouse audit not working when 'gatsby-plugin-offline' is enabled"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-03 12:28] albv commented on #30190
I am also having this issue with `gatsby@4.1.0` and `gatsby-plugin-preact@6.1.0`

[2021-11-03 13:36] benlavalley commented on #33738
@fool  Yes it does happen after a period of processing time.

`
1:43:47 PM: success run queries in workers - 139.530s - 340/340 2.44/s
1:47:45 PM: error UNHANDLED EXCEPTION write EPIPE
1:47:45 PM:
1:47:45 PM:
1:47:45 PM:   Error: write EPIPE
1:47:45 PM:
1:47:45 PM:   - child_process.js:841 ChildProcess.target._send
1:47:45 PM:     internal/child_process.js:841:20
1:47:45 PM:
1:47:45 PM:   - child_

[2021-11-03 13:55] phun-ky commented on #27644
I get this from time to time (with the latest version of gatbsy(4)). only thing that helps (not always) is to `gatsby clean` and restart dev server..

[2021-11-03 14:24] tonyhallett opened #33838 "Incorrect typescript - ITypeInfoDate"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

[ex

[2021-11-03 14:44] AaronBentley commented on #33733
Anytime @IvayloNikolov, happy to help 😃
It's worth noting that I don't actually use `gatsby-plugin-image` at all in the site I'm working on, but I still need the type definitions for `GatsbyImageLayout` - I've no idea why though without taking a proper look 🤷‍♂️

[2021-11-03 16:34] tonyhallett opened #33842 "proposed typescript correction"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

[IG

[2021-11-03 17:24] aaronadamsCA opened #33844 "Catch and handle ChunkLoadError"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

We

[2021-11-03 18:08] shalawfatah opened #33845 "Build fails when adding state management (Context) to gatsby-browser (Gatsby v4)"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I n

[2021-11-03 18:22] PaulieScanlon commented on #33651
Thanks for the response @tariknz! Yeap that worked a treat. I changed a few things but it's the same solution!

For completeness this is what worked for me, happy to close this issue now unless you'd prefer to keep it open for others?

[code]

and the type becomes

[code]

[2021-11-03 19:25] drewlustro commented on #33682
@phun-ky – could you note which versions worked? I'm dealing with the same issue, but don't know how far I need to downgrade.

[2021-11-03 19:47] tomasbillborn commented on #33743
@TylerBarnes now the Gatsby Cloud App works in Contentful, but the user experince is very bad compared to before.

If I use the previous implementation I instantly get the preview page loaded then I see the loader on the side.

This implementation takes about 15 - 20 sec to find the correct file to then show the preview page.

I also saw "gatsby-source-contentful": "6.2.0-next.0" was available so

[2021-11-03 20:15] tariknz commented on #33651
Nice @PaulieScanlon, that was a stab in the dark there but happy it's worked out! 😂

[2021-11-03 20:30] TylerBarnes commented on #33743
Thanks for the feedback @tomasbillborn! It's definitely slower but there are many benefits to it:

- Content authors know when builds fail because the UI shows an error. This means they don't have to wait for a long time and then ask a developer why their preview never showed up. They'll know right away that something isn't working.
- Any contentful entity at any level can be previewed, not just e

[2021-11-03 20:58] mariusbutuc commented on #31853
@vladar running `gatsby@3.14.4` (as part of the two-step migration process to `gatsby@4.x`) and the issue/symptoms continue to be present.

[code]

[2021-11-03 21:42] KenSkudderPWW commented on #27644
In case this is helpful: I have seen this type of error sometimes when I check out a branch in git that causes a page to exist that didn't exist when I started the development server, and then try to visit that page in my browser. Restarting the development server alone has not helped for me, but running `gatsby clean` in combination with restarting the development server has helped. I am not usin

[2021-11-03 22:00] qpiddigital opened #33849 "[gatsby-source-wordpress] warn ./node_modules/gatsby-source-wordpress/dist/gatsby-browser.js Attempted import error: 'createRoot' is not exported from 'react-dom' (imported as 'ReactDOM')."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Aft

[2021-11-03 22:20] bilguunabi commented on #13825
Any updates on this one?
When I use <Link> it works perfectly. But I need to create new tab.
When I use <a> it gives me 404 error (Maybe it's related to azure deployment).
<a> tag works locally but when I publish it, it doesn't work.

[2021-11-03 22:22] tayrotayro commented on #13825
As of now, you need to switch out the Link tag and just use an "a" tag and make target="_blank". This worked fine for me. @bilguunabi

[2021-11-03 23:57] njbmartin opened #33850 "[gatsby-core-utils] no retry logic on error for fetchRemoteFile causing instant build failures"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Get

[2021-11-04 03:32] Veverke commented on #11406
Using the `sysctl -p` approach after setting `fs.inotify.max_user_watches` did not work for me , either. (by the way this setting was already set to a high value, likely from me trying to fix this issue a while back ago).

The best solution to the problem I found [here][1]:

1. Use [this script][2] to identify which processes are requiring the most file watchers in your session.
2. You can then qu

[2021-11-04 05:08] bilguunabi commented on #13825
@tayrotayro  Yeah man I tried. But the strangest thing is that the "new tab" is not working.
It gives me a 404 error. I copied the whole link and pasted it elsewhere, it still not working.
I'm just so irritated with this issue.

[2021-11-04 07:35] LekoArts commented on #33838
Hi, thanks for the issue.

I'll close this one as it's not related to public types but only our internal code. While having correct types everywhere would be nice fixing the internal ones is not our top priority as it normally yields small benefits compared to other things we (and contributors) can work on. If you find them while browsing the code, feel free to open a PR, but I wouldn't recommend

[2021-11-04 07:35] #33838 closed

[2021-11-04 07:36] LekoArts commented on #33842
Hi, thanks for the issue.

I'll close this one as it's not related to public types but only our internal code. While having correct types everywhere would be nice fixing the internal ones is not our top priority as it normally yields small benefits compared to other things we (and contributors) can work on. If you find them while browsing the code, feel free to open a PR, but I wouldn't recommend

[2021-11-04 07:36] #33842 closed

[2021-11-04 07:40] #33849 closed

[2021-11-04 07:41] LekoArts commented on #33845
Closing in favour of https://github.com/gatsbyjs/gatsby/discussions/33847

[2021-11-04 07:41] #33845 closed

[2021-11-04 08:08] LekoArts commented on #33651
I'll close this one as resolved as it's not a bug we need to fix. We're still looking into putting up a warning but the current tests show that checking everything increases build times more than we want. So might take a bit longer to ship that feature.

[2021-11-04 08:08] #33651 closed

[2021-11-04 09:21] LekoArts commented on #33589
Hi, thanks for the issue.

I'll close this one as it's not related to public types but only our internal code. While having correct types everywhere would be nice fixing the internal ones is not our top priority as it normally yields small benefits compared to other things we (and contributors) can work on. If you find them while browsing the code, feel free to open a PR, but I wouldn't recommend

[2021-11-04 09:21] #33589 closed

[2021-11-04 09:30] glassesUSA commented on #33796
@LekoArts Are you able to reproduce?

[2021-11-04 14:59] arpicoinpanion opened #33859 "webpack: wait until bundle finished: /"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Ple

[2021-11-04 16:59] jacksellwood commented on #33743
@tomasbillborn if you delete the Content Sync URL from your Gatsby Cloud app config in Contentful, Open Preview will fallback to the prior functionality.

[2021-11-04 18:00] mosesoak commented on #33748
This is probably caused by spreading the wrapperProps onto the img element [here](https://github.com/gatsbyjs/gatsby/blob/0a04e38d857255fe675101bd96797c67d2d6e743/packages/gatsby-plugin-image/src/components/gatsby-image.browser.tsx#L254) without deleting special Gatsby props like onStartLoad first.

[2021-11-04 21:25] DennisKraaijeveld opened #33863 "Tailwind JIT mode is breaking themes build with Gatsby Themes and Yarn Workspaces"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I a

[2021-11-04 23:27] BarrySaikSoundry commented on #33796
I ran into this. forcing https:// for all images fixed it.
I was using wp media offload and the free version does not support forcing https. you may have to upgrade.

it's due to new security settings on chrome.

[2021-11-05 02:00] eckdanny commented on #21544
react-router@6 GA'd today. We *just* did a PoV migration from a CRA impl to gatsby@4, and react-router@5.x => @reach | static pages was a pain point. If those `invariant` build errs went away, we and many others could have a very pleasant migration path

[2021-11-05 02:14] samaritanau commented on #33474
Same issue - any help?

[2021-11-05 06:14] phun-ky commented on #31523
I'm having the same issue after upgrading to v4, and I find no documentation about this change

[2021-11-05 07:48] LekoArts commented on #33859
Hi!

Please fill out the issue template and create a [minimal reproduction][reproduction] so that we can help you.

[reproduction]: https://gatsby.dev/reproduction

[2021-11-05 09:23] DanielPBliss opened #33868 "Gatsby develop and build hang on source and transform nodes stage on large CSV file with extremely high ram usage"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-05 10:13] nickamckenna commented on #33868
"gatsby build" -> It uses 105Gb in about 30 seconds on my computer! Crazy!

[2021-11-05 11:25] ordishc commented on #30408
@axe312ger has this been fixed? I am seeing the same issue with gatsby-source-graphql as well?

[2021-11-05 12:17] Dahbu7 commented on #33474
Sorry for the late reply. Unfortunately I did not. The client had a time constraint so I switched to Next.js. Some complications there but I got it converted over in a couple of days. That one works. I bet this is something silly like something to do with svgs or some other obscure thing

[2021-11-05 12:19] Dahbu7 commented on #33474
Unfortunately I did not. I switched to Next.js due to constraints on project deadline. Some complications there but I got it converted over in a couple of days. That one works.
 I bet this is something silly like something to do with importing svgs or some other obscure thing.

[2021-11-05 12:23] samaritanau commented on #33474
The issue I was having was due to including CSS files for slick carousel into the scss, I changed to the scss includes instead and things started working.

[2021-11-05 12:25] benekoehler commented on #33745
i did some more research and found out that if you don't skip the first hydration in the `gatsby-browser.ts` from the plugin, the images will be rendered correctly.

[code]
i don't know the background of those lines, so removing it could have some side effects

[2021-11-05 12:25] Dahbu7 commented on #33474
Oh wow. I am using slick carousel too! I think that might be it. I will try it.

[2021-11-05 12:36] mwakicodes commented on #33474
I managed to fix this error by completely removing the all import lines for `slick-carousel.css` on all the files that had it; then adding the CDN link directly to `<Helmet/>`

the links
https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css
https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css

[2021-11-05 13:15] axe312ger commented on #30408
@ordishc you can follow the progress here: #31856

[2021-11-05 16:18] pbizimis opened #33871 "gatsby-source-contentful not downloading images with downloadLocal true"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

The

[2021-11-05 16:26] mosesoak commented on #33748
Thanks for filing, it affects our app and we will be tracking this issue for a fix. Stuff like this is important despite being innocuous, since we don't like to have console errors showing in our production sites.

BTW this should not be changed to a warning, it can be fixed by not adding the non-DOM prop to a dom node, so it will entirely go away once patched. Thanks!

[2021-11-05 16:30] mihanizm56 commented on #25764
can not build my project
    "gatsby": "4.1.0",

default cli configuration

    node 14.18.1

![image](https://user-images.githubusercontent.com/37120827/140545068-1b3741ab-ad5a-4d76-8cee-988548c10878.png)

[2021-11-05 16:39] andreisemianiuk opened #33872 "Missing onError handler for invocation 'building-schema', error was 'Names must match /^[_a-zA-Z][_a-zA-Z0-9]*$/"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I

[2021-11-05 18:02] pelikhan opened #33875 "nprogress accessibility issues"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

The

[2021-11-05 18:29] #33863 closed

[2021-11-05 21:10] webmaster-safebreach commented on #5021
I have been using a function to convert a remark string into html just as @anxiousextrovert suggested:

[code]

That worked well with Gatsby 2. However, Gatsby 4 fails with Webpack errors:

[code]

Does anybody have an idea how to fix this?

[2021-11-05 21:23] Bruce-Hopkins-Jr commented on #33875
Hi!

Can you create a [minimal reproduction](https://www.gatsbyjs.com/contributing/how-to-make-a-reproducible-test-case/) so I can assist with this issue more efficiently?

[2021-11-05 21:46] jf-home opened #33878 ""gatsby-transformer-remark" threw an error while running the setFieldsOnGraphQLNodeType lifecycle: Cannot read property 'setParserPlugins' of undefined"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Iss

[2021-11-06 05:25] ehowey commented on #33677
Just confirming that I reproduced this bug on my site as well.

[2021-11-06 05:30] ModernArtisan commented on #28925
npm ERR! While resolving: cara@0.2.11
npm ERR! Found: gatsby@4.0.2
npm ERR! node_modules/gatsby
npm ERR!   gatsby@"^4.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer gatsby@"^2.0.0 || ^3.0.0" from gatsby-plugin-webpack-bundle-analyser-v2@1.1.25
npm ERR! node_modules/gatsby-plugin-webpack-bundle-analyser-v2
npm ERR!   gatsby-plugin-webpack-bundle-analyser-v2

[2021-11-06 05:40] ModernArtisan commented on #28925
SOLVED

npm install --legacy-peer-deps

[2021-11-06 06:39] crutchcorn commented on #33878
This is breaking the v4 migration of this project as well:

https://github.com/unicorn-utterances/unicorn-utterances/

[2021-11-06 08:10] Bruce-Hopkins-Jr commented on #33878
Could it be related to the issue documented [here](https://www.gatsbyjs.com/docs/how-to/local-development/troubleshooting-common-errors/#errors-using-gatsby-plugin-image-and-sharp)?

It seems to be the same error message.

[2021-11-06 09:49] jf-home commented on #33878
Thanks for the link @Bruce-Hopkins-Jr.

I have tried to reorder the plugins in _gatsby-config.js_ as suggested in that artcle but it made no difference.  The same errors were reported with a `gatsby develop`.

[2021-11-06 11:40] donaldboulton commented on #33878
Similar Issue!

In a attempt to upgrade my site from gatsby 3.14.5 to Gatsby 4.1.0 I get a gatsby-transformer-remark error as below.
The error seems to be a issue with gatsby v4.1.0 in node in creating an Array.

My error on upgrade to Gatsby 4.1.0

- Array.forEach

I do not use Prismic, but in googling my error I found this Prismic upgrade error to Gatsby 4.1.0 similar to mine

- Array.flatMap

{

[2021-11-07 02:09] graysonhicks commented on #33844
Hi @aaronadamsCA !  From the errors that have made it to your Sentry, any ideas on a way to create a reproduction for debugging and testing?

[2021-11-07 03:40] ggs-landscaping opened #33888 "Preparing requested page loop, project won't display in browser"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-07 05:01] graysonhicks commented on #33888
Removing gatsby-plugin-preact resolves this fwiw.

[2021-11-07 05:08] graysonhicks commented on #33888
Bumping gatsby-plugin-preact to 5.0.0 seems to resolve.

[2021-11-07 10:34] aaronadamsCA commented on #33844
@graysonhicks Easiest way I've found:

Blocking the chunk that contains `siteMetadata` has been a pretty reliable means of reproduction, and you can do this on any existing Gatsby site via DevTools.

That said, I assume a programmatic reproduction would be needed in order to make this truly testable.

I don't know much about Gatsby's Webpack internals, but could we somehow create a minimal repro s

[2021-11-07 10:54] warlockdn opened #33889 "gatsby-source-contentful: Fragment for a content-model if not used Develop & Build fails showing error to define GraphQL manually"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I h

[2021-11-07 13:18] edenbotra commented on #23268
someone know what should i do in this case?
`C:\Users\Eran Botrashvili>npm install -g gatsby-cli@2.12.99
npm WARN deprecated @hapi/bourne@1.3.2: This version has been deprecated and is no longer supported or maintained
npm WARN deprecated @hapi/topo@3.1.6: This version has been deprecated and is no longer supported or maintained
npm WARN deprecated @hapi/address@2.1.4: Moved to 'npm install @sidew

[2021-11-07 19:50] ehowey commented on #31031
I just tested this again another time and I can still replicate it on my site if I add l`loading=eager` to the logo file.

You can see the file here: https://github.com/ehowey/erichoweydev/blob/master/src/components/layout/header/branding.js

[2021-11-07 20:29] kisabelle opened #33890 "Can't compile latest version of Gatsby"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Una

[2021-11-07 20:35] kisabelle commented on #33890
Disregard. Had switched to Node 14 in the current tab of my terminal app but was still running Node 12 in the tab where I was running `gatsby develop`. Ensuring that current tab was switched to Node 14 resolved the issue!

Thanks for being my rubber duck

[2021-11-07 23:08] PhilipF5 commented on #26785
I encountered this issue in the process of upgrading a project from Gatsby v2 to v4, and put a bunch of console logs in some places to try to understand what was happening. I was able to arrive at a solution that doesn't require editing node_modules, and I hope it may shed some light on why this is happening in the first place.

**TL;DR Cause — The `reach-router-add-basecontext-export-loader` is a

[2021-11-08 01:52] stevensacks commented on #33688
This issue does not occur with Gatsby 2 or 3, it does not occur with Storybook in the same project. It’s something with Gatsby 4 and PostCSS or CSS Modules.

[2021-11-08 02:31] #33890 closed

[2021-11-08 07:39] #33889 closed

[2021-11-08 07:40] #33872 closed

[2021-11-08 07:44] LekoArts commented on #33890
Please note that you have to use at least Node >= 14.15.0

[2021-11-08 07:46] LekoArts commented on #33422
Hi!

Can you please upgrade your reproduction to use the latest version of Gatsby and all plugins? If it is then still the case we can have another look. Thanks!

[2021-11-08 07:48] LekoArts commented on #33481
Hello!

Can you please update your reproduction to Gatsby 4 and explain the reproduction steps in more detail? Following your current instructions with Gatsby 4 I couldn't reproduce this. Thanks!

[2021-11-08 07:50] #33681 closed

[2021-11-08 08:04] LekoArts commented on #33878
Hi!

This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/33677

[2021-11-08 08:04] #33878 closed

[2021-11-08 08:07] LekoArts commented on #33875
Happy to review a PR changing out the library! :)

[2021-11-08 08:24] wardpeet commented on #33868
My guess is that we should do csv streaming instead of loading the whole file. It's not something we will prioritize anytime soon but feel free to open a PR.

[2021-11-08 08:27] wardpeet commented on #33738
Could you check peak RAM usage? My guess is that the worker crashed due to OOM. EPIPE usually means that the communication channel got destroyed for any reason.

[2021-11-08 08:30] wardpeet commented on #27325
Hi closing this issue until we can have more information. Feel free to re-open at any time.

[2021-11-08 08:30] #27325 closed

[2021-11-08 08:33] wardpeet commented on #33323
cc @axe312ger

[2021-11-08 09:08] axe312ger commented on #33323
Do you have actual content in your Rich Text field? If not, you run into the bug we try to fix via #31385

Also, v4.6.4 is for Gatsby v2. There have been significant bugfixes in the source plugin and Gatsby itself since that release. Please consider migrating to more up to date versions of the plugin & core.

[2021-11-08 10:12] LekoArts commented on #33650
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-08 10:12] #33650 closed

[2021-11-08 10:13] LekoArts commented on #33492
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-08 10:13] #33492 closed

[2021-11-08 10:13] LekoArts commented on #33640
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-08 10:13] #33640 closed

[2021-11-08 13:00] #33587 closed

[2021-11-08 15:16] tumdav opened #33902 "gatsby-plugin-sitemap does not generate sitemap"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

###

[2021-11-08 15:34] benlavalley commented on #33738
This seems like a culprit.

I just drastically reduced the static file content footprint of my site to test, and it deployed successfully.

When I added my content back, the deploy fails again.

@fool Can you bump my memory limit up? :)

[2021-11-08 16:15] #33902 closed

[2021-11-08 16:40] christroutner commented on #1958
This Issue pops up as the first result for a google search for 'gatsby ignore node_modules ENOSPC'. I'm running the following software and constantly running into the ENOSPC error:

- Ubuntu: v20.4
- node.js: v14.15.5
- npm: v7.24.0
- Gatsby CLI: v2.12.21
- Gatsby: v4.1.0

From reading the history of this old Issue, it appears there was supposed to be a PR that fixed this issue. But it clearly sti

[2021-11-08 17:42] bobgravity1 commented on #2410
this happens to me all the time with gatsby. really annoying. takes like an hour of just messing around and RANDOMLY it works again.. to all the people saying to never delete caches. good luck using gatsby without having to do that 8-9 times each project. i love gatsby but this kind of random unexplained error stuff happens way too often

[2021-11-08 17:49] bobgravity1 commented on #2410
solution this time: delete the whole markdown file. copy and paste the text. delete it. delete cache. delete node modules. run npm. run build. THEN make a new markdown file and paste it all in

yes... this is why gatsby is ridiculous

[2021-11-08 22:55] aianshume commented on #14515
wow man, it works 👍

[2021-11-08 23:08] paulsheldrake commented on #13595
Just wanted to follow up on this issue.  Custom entities will show but they need to be made viewable to anonymous users.

[2021-11-08 23:29] LiteSoul commented on #11727
This saved my life...!
CircleCI was failing the build (since I migrated to Gatsby 4) (while on local it was fine), so I specified that it use GATSBY_CPU_COUNT=8 on CircleCI and it now works!

[2021-11-09 00:48] pragmaticpat opened #33906 "While giving Gatsby 4 a spin using `gatsby-source-graphql`, I found that DSG is not working :("
While giving Gatsby 4 a spin using `gatsby-source-graphql`, I found that DSG is not working :(

I've set my codebase https://github.com/laurenskling/using-gatsby-source-graphql to defer rendering the `film` pages, and now these pages get an `errors` prop.

Example on Gatsby Cloud: https://build-58701a40-9907-423a-9f26-9f80e4b3beea.gtsb.io/ZmlsbXM6Mg== Saying: Cannot query field "swapi" on type "Qu

[2021-11-09 02:59] mqnguyen5 commented on #33748
Hi, can I give this a try if no one is working on it at the moment? If so, are there any suggestions on how should I fix this and how can I test it? Thanks.

[2021-11-09 05:48] LukeShu commented on #33115
not stale

[2021-11-09 05:48] LukeShu commented on #33116
not stale

[2021-11-09 08:58] #33677 closed, assigned to pieh

[2021-11-09 09:47] vladar opened #33910 "`gatsby serve` and `develop` should respect HTTP status returned from `getServerData`"
Moving this from twitter: https://twitter.com/moon_meister/status/1456709799907893251

How does one return an error from `getServerData`?

https://www.gatsbyjs.com/docs/how-to/rendering-options/using-server-side-rendering/ Suggests:

[code]

but that does nothing in `gatsby dev` or `gatsby serve` to handle the error. It just goes on rendering the page like nothing is different and still returns a

[2021-11-09 10:09] LekoArts commented on #33677
Please update to

[code]

[2021-11-09 12:02] #31023 closed

[2021-11-09 14:23] rotijoe commented on #30299
I get this error when I query a flexible content field in my gatsby-node.js, on "gatsby build" but not on "gatsby develop"...

[2021-11-09 15:30] #33910 closed

[2021-11-09 18:19] jf-home commented on #33878
Hi @LekoArts,

Thanks for the signpost to the other issue.

I have applied the updated plugins to my working project (Github repo updated as well), however, whilst the develop/build error has now been resolved, I'm still getting the following error later in the process:

[code]

I also tried putting the `gatsby-source-filesystem` plugin entries after `gatsby-transformer-sharp`, `gatsby-plugin-shar

[2021-11-09 20:57] doublejosh commented on #24577
Dang, I get this error but I'm using `gatsby-source-sanity` as my data source.

[2021-11-09 21:55] wardpeet commented on #33549
Hey, We've added it ourselves and it's available on the @next channel. We'll backport it tomorrow to 4.1.0 release.

[2021-11-09 21:55] #33549 closed

[2021-11-09 23:38] amalitsky commented on #22908
Folks, thanks for the discussion!

I still do not understand what is the right approach for using _react-helmet_ with SSR and MUI `themeProvider` wrapper.
Moving `Seo` component out of `themeProvider` is not an option for me because those meta tags are content dependent and actual content is defined in the deeply nested component.

I'd appreciate some information on how to debug this issue beyond

[2021-11-10 06:11] JHunter09 commented on #33481
@LekoArts

Sure thing, I have updated gatsby:
[code]

This is the code I am attempting to use:
[code]

This is my gatsby-config:
[code]

And, as before, after running `gatsby develop` and navigating to `localhost:8000`, Instead of my site I am shown this:
![image](https://user-images.githubusercontent.com/79439337/141059548-f3c42191-5231-4008-a444-a7860a6d3a28.png)

[2021-11-10 08:41] minhtri0795 commented on #33481
I have same problem and resolved, do you have rename any component recently, if have you need to double check where that component import to, sometime when you change name,import path for component not change automatic too.

[2021-11-10 09:04] JHunter09 commented on #33481
@minhtri0795 I'm sorry, I'm not quite sure what you mean by your response.

[2021-11-10 09:19] PaulieScanlon commented on #33651
In case anyone stumbles upon this same issue, there's a post on the Gatsby blog that has an explanation and a repo for reference.

The post is relating to remote image urls that are sourced from MDX `frontmatter` but the method is transferable to other remote image sourcing requirements

[MDX Embedded Images with the All-New Gatsby Image Plugin](https://www.gatsbyjs.com/blog/mdx-embedded-gatsby-im

[2021-11-10 10:51] julrich commented on #33871
We also seem to be hitting this. Especially when using `build`, only seldomly when running the development version.
But otherwise it's exactly this, `localFile` being available only sometimes when being accessed. Almost seems like a timing problem? :thinking:

[2021-11-10 10:55] aaronadamsCA commented on #31023
@LekoArts / @vladar , could you reopen?

Happy to redo the PR anytime, but last time it just sat there unreviewed until it was stale, so I'd like to know it'll get merged before I take the time again :)

[2021-11-10 11:15] pbizimis commented on #33871
@julrich did you try to apply the changes of the PR?

[2021-11-10 11:25] MrReasonable commented on #29159
This is still an issue

[2021-11-10 11:26] julrich commented on #33871
It's released already according to the `CHANGELOG.md`:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/CHANGELOG.md#610-2021-11-02

I suspect we might be hitting a special case not handled correctly (yet?)

[2021-11-10 11:51] pbizimis commented on #33871
Yes, I think so as well...

[2021-11-10 12:52] pedrolamas opened #33922 "Can't build gatsby v4 site when "--ignore-optional" is used"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'v

[2021-11-10 13:00] Jukez17 opened #33924 "Slugify gets removed by firewall when running npm init gatsby"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Not

[2021-11-10 13:54] pragmaticpat commented on #33888
@ggs-landscaping - did you try what @graysonhicks suggested?

[2021-11-10 14:02] pragmaticpat commented on #33888
@ggs-landscaping - I just attempted to repro following the steps you shared above ( and thank you for providing a sample repo! ) - I'm not seeing the same results you are.

[code]

Are you still seeing this problem?

[2021-11-10 14:08] #33922 closed

[2021-11-10 14:16] #33924 closed

[2021-11-10 14:20] pragmaticpat commented on #33868
So @wardpeet this looks like some inefficiency within gastby-transformer-csv specifically - is that right?

[2021-11-10 14:24] julrich commented on #33871
Probably worth mentioning, we're accessing `ContentfulAssets` ingested by `gatsby-source-contentful` in our own resolvers (`createResolvers`):
[code]

That's where we are hitting the missing `localFile`.

[2021-11-10 14:34] pbizimis commented on #33871
For the record, this produces the same bug:
[code]

[2021-11-10 16:27] aaronadamsCA commented on #31023
Yes, absolutely. Thanks for confirming, then! Let me know if there's anything I could do to help with that initiative.

[2021-11-10 16:54] KadenVanish commented on #12552
Tacking on my problem + solution here:

I'm working on a WordPress CMS + Gatsby build with ACF layouts and custom fields for content. Images in Image Fields could be a variety of formats, depending on whatever the content creators/designers decide to load in. (SVG, PNG, JPG, etc)

I was also unable to build or develop locally after using `placeholder: TRACED_SVG` as an option for `GatsbyImageData`

[2021-11-10 17:06] Azlanburney opened #33930 "failed Building static HTML for pages, Building static HTML failed for path "/""
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I a

[2021-11-10 17:37] Axel-KIRK commented on #33735
I solve this issue by query first all images and then pass src to pageContext.
I was querying gatsbyImage on component/template side

[2021-11-10 17:37] #33735 closed

[2021-11-10 18:43] jf-home opened #33931 "Field "image" must not have a selection since type "String" has no subfields."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'm

[2021-11-10 21:26] amalitsky commented on #22908
I think concurrency and (related race condition) might be coming from here: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/worker/child/render-html.ts#L208

[2021-11-10 23:16] graysonhicks commented on #33931
This looks like an issue with `gatsby-transformer-remark-frontmatter` and `gatsby-remark-relative-images`.  I was able to clone and resolve by:

- removing those plugins from package.json, gatsby-node and gatsby-config
- remove this filesystem setting from gatsby-config:
[code]
- move the 'circuit' image to `src/images`
- change the index.md frontmatter to `../images/circuit.jpg`

Then both `devel

[2021-11-10 23:51] graysonhicks commented on #33930
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.  The example you linked returns a 404.

If you're up for it, we'd very much appreciate if you cou

[2021-11-11 01:05] geochanto commented on #9027
Running into this as well, even though I commented out all console logs, and also not using any gatsby image plugins... any other tips?

[2021-11-11 01:13] swansavage opened #33935 "Build failing when building on Gatsby Cloud, works fine in development and local build - Generating JavaScript bundles failed"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I a

[2021-11-11 02:16] mwskwong opened #33936 "[gatsby-plugin-emotion] Avoid using @emotion/babel-preset-css-prop when jsxRuntime set to automatic"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

As

[2021-11-11 03:22] benlavalley commented on #33738
Upon further testing and following some suggestions from the Netlify support team, I was able to run my [own Netlify local build processes](https://github.com/netlify/build-image) and attempt to reproduce the Netlify production build error I was seeing.

Mission success -- the issue was reproduced and I seemed to get the same write EPIPE error.

Upon bumping my Docker memory limit up from 3GB to 1

[2021-11-11 04:57] mattwbdv opened #33937 "gatsby develop command throws syntax error"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I a

[2021-11-11 06:33] Azlanburney commented on #33930
@graysonhicks thanks for the response. Please let me know what things i have to provide you for the reproduction?

[2021-11-11 08:23] SamHoltby commented on #33738
@benlavalley Thanks for doing all the legwork!

It's interesting that Netlify won't budge on the 3GB memory limit. On their pricing page, via the [High-Performance Build](https://www.netlify.com/pricing/#business-products-high-performance-build) section, they state Up to 6GB of memory...

I've asked Netlify to increase my memory. If it's possible I'll update this issue with the results.

[2021-11-11 08:27] LekoArts commented on #33930
@graysonhicks wanted to link to this: [minimal reproduction][reproduction]

[reproduction]: https://gatsby.dev/reproduction

[2021-11-11 08:28] #33937 closed

[2021-11-11 08:30] Pernick commented on #22419
I am having this issue on mac, 100 % of the time. From what I found, there seems to be many reasons why this can happen. Someone even recommended resizing the terminal window, which fixed the issue for some.

Have you at least found any way to debug this better?

[2021-11-11 08:33] LekoArts commented on #33935
Hi!

These are the lines you'll need to investigate:

[code]

And indeed, your path is incorrect. You import with `import Layout from '../components/Layout'` but the filename is `layout.js`. On MacOS the OS doesn't care about capitalization, but on Gatsby Cloud which runs on Linux this matters. So you'll need to fix your capitalization either in the import or in the filename.

[2021-11-11 08:33] #33935 closed

[2021-11-11 08:35] #33931 closed

[2021-11-11 10:17] hasslarp commented on #8755
The problem that <script>-tags aren't executed in development mode still exists for gatsby 3.14.4
Will this be resolved?

In my project I have to be able to fetch javascript code from source and inject it to the page. I know the security concerns, but in this case I need to secure the source instead.

Since the javascript is still executed on the final build I have to rebuild the project each time

[2021-11-11 11:18] lezan commented on #33557
Hello, I am still experience the same issue of @sirichards with `gatsby-plugin-sharp` but also with `3.14.3`:  build freezed at `Caching JavaScript and CSS webpack compilation`.
Then I updated to `4.1.2` and now I get the same issue of @sirichards: stucked after `success run queries in workers - 160.247s - 111/111 0.69/s`.

[2021-11-11 11:21] jf-home opened #33940 "Field "image" must not have a selection since type "String" has no subfields."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Per

[2021-11-11 11:33] LekoArts commented on #33940
Please use your discussion at https://github.com/gatsbyjs/gatsby/discussions/33939 - the plugins you mentioned are not maintained by us thus it doesn't belong in our issue tracker.

[2021-11-11 11:33] #33940 closed

[2021-11-11 11:53] Azlanburney commented on #33930
@graysonhicks, Sorry previously it was private. I made it public now. Please check now.

[2021-11-11 12:17] jf-home commented on #33940
Apologies.  Will do.  TY

[2021-11-11 13:35] omerknysys commented on #33930
Having same issues :(

[2021-11-11 14:15] stefanpl commented on #17672
Any updates here?

[2021-11-11 14:15] sidharthachatterjee commented on #33450
Okay, we took a look into this and it seems to be the `mini-css-extract-plugin`.

Interestingly, this only seems to occur when the `mini-css-extract-plugin` is used in conjunction with [Webpack cache](https://webpack.js.org/configuration/cache)

Disabling cache in https://github.com/gatsbyjs/gatsby/blob/8ff9cc30edd8db3fcbb3726cb3441a768299abbd/packages/gatsby/src/utils/webpack.config.js#L847 or re

[2021-11-11 15:33] benlavalley commented on #33738
Maybe I'm misreading it, but it looks like I'm supposed to have "up to" 6GB on that pricing page? I did try updating my Netlify build image from Xenial to Focal, crossing my fingers and thinking maybe I was on some sort of older system, but no luck.

Based on my reading here, @SamHoltby we may have luck attempting builds late at night when Netlify's systems are less busy - they guarantee 3GB, but

[2021-11-11 16:54] laradevitt commented on #31853
Reporting same as above when updating from `3.12.1` to `3.14.5`. (Workaround resolves it.)

[2021-11-11 19:51] aggelosV1982 opened #33945 "gatsby-starter-wordpress-blog + WPGraphQL 1.6.7 - WPGatsby 2.0.2"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hi,

[2021-11-11 20:37] rogermparent opened #33946 "Cache is not cleared if parts of `gatsby-config` are imported from other modules"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-12 00:03] #30578 closed

[2021-11-12 04:53] alvis commented on #30578
No! It's unresolved issue!

[2021-11-12 07:16] #33945 closed

[2021-11-12 08:36] jayhaluska commented on #33745
Can confirm the issue, I'm using **gatsby 3.14.5** and **gatsby-source-wordpress 6.1.0**.

@benekoehler thanks! Your script works for me, the images do appear after execution. I will use this as a hacky workaround for now. My `gatsby-browser.js` does not contain hydration code (any clue why?). Can you tell me where this code comes from? The snippet contains references to `hydrateImages`, which is

[2021-11-12 08:59] chieyang96 commented on #33577
@awelles sorry for the late reply but I've used the solution provided and it seems working as what I wish for. Thanks a lot!

[2021-11-12 10:55] Hannah-goodridge commented on #33713
Any update on this? Its affecting me too.

[2021-11-12 14:47] Na-Cly opened #33955 "Error after installation on multiple hosts with telemetry.js"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I t

[2021-11-12 14:55] aaronadamsCA opened #33956 "Catch and handle "The result of this StaticQuery could not be fetched""
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-12 15:14] KnightKrusty commented on #14642
wanted to pass id from url into query,  it was pretty straight forward with Apollo but here, its completely nuts.

[2021-11-12 15:17] spencerwhyte commented on #31669
We are also seeing this issue, let me know if there is any way that we can help 👍

[2021-11-12 15:40] marcomiduri opened #33957 "Cannot get type name from ThunkComposer"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I h

[2021-11-12 17:37] benlavalley commented on #33738
I made some changes to my app, removed content and slowly re-added it, and I seem to be able to deploy now, though I don't think it will work consistently due to the variable nature of memory allocation in Netlify.

For anyone coming across this, changes I made to my app to try and improve efficiency/lower memory usage:

Gatsby-specific:
- Migrate from gatsby-image to gatsby-plugin-image
- Removed

[2021-11-12 19:14] #33743 closed

[2021-11-12 19:46] laurenskling opened #33959 "Using default `breakpoints` has unexpected results on my `constrained` images"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

(or

[2021-11-12 20:28] hisnameisjimmy opened #33960 "GatsbyImage css classes specificity overtakes Tailwind only on build, not develop"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-12 21:11] hisnameisjimmy commented on #33960
As is traditional in software, I figured out a workaround after spending a huge amount of time documenting the core issue.

If you enable `jit` in your tailwind config:
[code]

You can then add a ! in front of the utility, as specified here: https://tailwindcss.com/docs/just-in-time-mode#built-in-important-modifier

In my case, I put it in front of the aspect ratio classes, like so:
`<div classNam

[2021-11-12 22:38] angeloashmore opened #33963 "Missing TypeScript type for `getCache` Node API"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

The

[2021-11-13 00:05] Cro-OLI commented on #20126
Yeah I seem to be having this problem as well.
I'm just going to use `placeholder="none"` since the placeholder is showing up with `opacity: 1;` inline style on some page loads, and just getting stuck that way. I've been seeing this happen on Chrome.

[2021-11-13 00:06] shixish commented on #20126
Yeah I seem to be having this problem as well.
I'm just going to use `placeholder="none"` since the placeholder is showing up with `opacity: 1;` inline style on some page loads, and just getting stuck that way. I've been seeing this happen on Chrome.

[2021-11-13 01:43] SirLemuel commented on #21544
Bumping this, any plans to merge V6?

[2021-11-13 09:26] axe312ger commented on #31853
Got rid of the error via `yarn-deduplicate && yarn` :)

[2021-11-13 14:02] purindaisuki opened #33965 "gatsby-plugin-manifest doesn't link to localized manifest file on localized pages when building with prefix path"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hi,

[2021-11-14 00:03] #29993 closed

[2021-11-14 14:10] JannikWempe commented on #33636
Is there any solution to this? I have a very similar issue:

![image](https://user-images.githubusercontent.com/7524745/141684619-4d0c006f-4649-4ea8-8d46-07b75bafb287.png)

![image](https://user-images.githubusercontent.com/7524745/141684675-9d0eeaeb-eb22-4382-a204-f3f3df61fc8f.png)
![image](https://user-images.githubusercontent.com/7524745/141684701-829dbd28-a536-4984-9e47-ad1b085b4b6f.png)

This

[2021-11-14 15:27] tonyhallett commented on #33629
Yes this is still an issue.
See my last comment in the pull request - https://github.com/gatsbyjs/gatsby/pull/33630#issuecomment-960918972

[2021-11-14 15:29] tonyhallett commented on #33629
Yes this still an issue.

[2021-11-14 15:30] tonyhallett commented on #33628
Yes this is still an issue.
See my comment in pull request https://github.com/gatsbyjs/gatsby/pull/33630#issuecomment-960918972

[2021-11-15 00:03] #30495 closed

[2021-11-15 01:19] hhimanshu opened #33969 "gatsby-plugin-gatsby-cloud/gatsby-node.js": Cannot read property 'RawSource' of undefined"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I a

[2021-11-15 07:54] LekoArts commented on #33957
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-11-15 08:03] LekoArts commented on #21544
It seems like V6 made a step backwards in accessibility and thus it's not something we should take lightly: https://twitter.com/mmatuzo/status/1456722149260070916

[2021-11-15 08:11] LekoArts commented on #33960
Hi! Thanks for the issue.

For the develop/build mismatch you can try https://github.com/gatsbyjs/gatsby/discussions/28138 and we're working on getting it into the hands of everyone by default.
That the component overwrites custom styles from you is expected and how the CSS cascade works. We're not putting the CSS into a css file as that would mean an additional request, so it's either in a `<styl

[2021-11-15 08:11] #33960 closed

[2021-11-15 09:07] LekoArts commented on #33969
Hi!

Please see https://github.com/gatsbyjs/gatsby/issues/33042

You have two versions of webpack in your project (v4 & v5) as shown by your yarn.lock file:

https://github.com/forkfacts/forkfacts/blob/18d519ee0b68821c1afafcd3ec5a7c90691fc8aa/yarn.lock#L18833-L18890

You'll need to check which of your dependencies is still using webpack 4 and if you can upgrade that dependency. Otherwise you'll ha

[2021-11-15 09:07] #33969 closed

[2021-11-15 09:11] LekoArts commented on #33936
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-11-15 09:12] #33955 closed

[2021-11-15 09:13] LekoArts commented on #33959
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-11-15 09:26] mwskwong commented on #33936
Unlike most of the issues, I don't think reproduction will add any benefits to this one. Everything will still work with the plugin with or without the changes and you can't really tell the differences unless you take a look at the source code of the plugin or the build files of the website. It is more about best practices.

Instead, if you just have a look at the [source code](https://github.com/

[2021-11-15 10:04] laurenskling commented on #33959
Hey @LekoArts ,

I've set up https://github.com/laurenskling/constrained-images-use-breakpoints

here (https://github.com/laurenskling/constrained-images-use-breakpoints/blob/main/gatsby-config.js#L38) it uses default breakpoints.

If you go to `http://localhost:8000/___graphql` and run:
[code]

The result will contain among others:

[code]

I'm requesting a max image of `300`, why would it create

[2021-11-15 10:27] LekoArts commented on #33906
From https://github.com/gatsbyjs/gatsby/discussions/33218#discussioncomment-1643486

---

Probably caused by the issue in `node-fetch` when bundled with webpack: https://github.com/node-fetch/node-fetch/issues/450

The fix described in https://github.com/node-fetch/node-fetch/issues/450#issuecomment-387045223 should probably help. I encourage you to submit a PR! I guess it should just change a sin

[2021-11-15 11:13] laurenskling commented on #33906
Seems like that actually did the trick!

https://build-87bc0901-70ee-477a-8d31-740b2702abc4.gtsb.io/films/

https://github.com/laurenskling/using-gatsby-source-graphql/commit/f1fb90ab8f550f808ed59cfb6a7d6b30ce5a1ad6

[2021-11-15 11:21] Tony221268 commented on #26931
Agree with all those complaing about this. Too many updates, too many breaking updates and too many random errors. Tried migrating to 4 and it has taken 2 days already, most of the issues resulting in the most obscure error messages.

The documentation is frankly very poor.

For instance the gatsby 4 docs are still pointing at @reach-router which no longer works with this version. Too many more in

[2021-11-15 12:15] laurenskling commented on #33906
This led me to investigate something.. Because `gatsby-source-graphql` allows you to bring your own `fetch`: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-graphql/src/gatsby-node.js#L42
and since `nodeFetch` was not a function, I tried passing something like `cross-fetch` to fix it, but that didn't do much.

Now I found, that `fetch` is `undefined` in the `options` when I l

[2021-11-15 14:22] LekoArts commented on #33906
Functions are not serializable so when passed in through functions they won't be working.

[2021-11-15 14:23] #33906 closed

[2021-11-15 15:30] hhimanshu commented on #33969
@LekoArts , I see the following in my `package.json`
[code]

There are many plugins which are not even v4, they start with v1, for example `webpack-sources@1.4.3`. How do I know which ones to fix.
Also, how to use resolutions to force webpack 5?
Please let me know. Thank you

[2021-11-15 16:37] aaronadamsCA commented on #33956
So far this is very difficult to reproduce **minimally** due to Gatsby's Webpack configuration. It tends to aggressively merge chunks in a small site.

Is there a way to ask Gatsby to give a specific component its own chunk?

[2021-11-15 17:08] graysonhicks commented on #33956
@aaronadamsCA You can use gatsby-plugin-loadable-components-ssr to chunk at the component level.

[2021-11-15 17:13] bobgravity1 commented on #20498
this is just a shitty thing with gatsby. its complete random. and happens when u edit a fucking markdown file or delete one. cuz gatsby's build process is fucking retarded. block me, ban me, do wahtever u fucking admins have to do. i have ran into this problem WAY TO FUCKING many times and its infuriating me

[2021-11-15 17:13] alexadark opened #33985 "gatsby-source-wordpress content images does not appear in develop"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

in

[2021-11-15 19:28] tiggeymone commented on #33985
Same problem after updating to gatsby v4 and gatsby-source-wordpress >6

[2021-11-15 20:10] laurenskling commented on #33906
Yeah this is what I figured. So now `gatsby-source-graphql` is able to run on the client, and passing functions doesn't work, this actually creates bugging experiences. The documentation states you can use `fetch` or `createLink` to add auth headers. So this will not be working in DSG. Should we change the docs, or?

[2021-11-15 20:17] graysonhicks commented on #33985
I was unable to replicate this exactly.  The images *do* show when I go to the /test page, but *not* when I click on an image and go back to /test.

[2021-11-15 20:19] graysonhicks commented on #33985
Also, seeing this error in the console:

    at gwmw
    at p
    at section
    at article
    at main
    at div
    at Layout (webpack-internal:///./src/components/layout.js:21:25)
    at BlogPostTemplate (webpack-internal:///./src/templates/blog-post.js:37:24)
    at PageRenderer (webpack-internal:///./.cache/page-renderer.js:23:29)

[2021-11-15 20:24] graysonhicks commented on #33985
Seeing this warning in the build logs, not sure if relevant:

Attempted import error: 'createRoot' is not exported from 'react-dom' (imported as 'ReactDOM')

[2021-11-15 20:34] graysonhicks commented on #33985
The build warning above seems relevant when looking at this code:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/gatsby-browser.ts#L35

[2021-11-15 21:31] graysonhicks commented on #33985
@wardpeet Looks like you and @TylerBarnes worked on that file for v4 ☝️  if you have any insights as to what might be happening.

[2021-11-15 23:08] meehawk commented on #31523
Just upgraded to v4, facing the same issue. Any help would be awesome

[2021-11-16 00:31] TylerBarnes commented on #33985
Thanks for the repro @alexadark ! I'll need @wardpeet to confirm my fix is ok as I don't fully understand the code here but it seems to be working. A canary is available in `gatsby-source-wordpress@6.3.0-alpha-wordpress-image-hydration.5+633909e707`

[2021-11-16 03:06] meehawk commented on #32809
Facing the exact same issue. Using plugin-mdx with plugin-feed seems to cause this error. Commenting out the feed in gatsby-config.js file makes the error disappear. I'm running the latest Gatsby version

[2021-11-16 06:33] ivanhoe-dev commented on #27370
I just run into the same issue and upgrading to 2.24.73 works for me. Thx!

[2021-11-16 07:17] LekoArts commented on #33969
In your package.json:

[code]

[2021-11-16 07:55] wardpeet opened #33990 "[gatsby-source-wordpress] warn ./node_modules/gatsby-source-wordpress/dist/gatsby-browser.js Attempted import error: 'createRoot' is not exported from 'react-dom' (imported as 'ReactDOM')."
### Discussed in https://github.com/gatsbyjs/gatsby/discussions/33856

<div type='discussions-op-text'>

<sup>Originally posted by **qpiddigital** November  3, 2021</sup>
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anythi

[2021-11-16 08:41] #33990 closed

[2021-11-16 08:54] #33985 closed

[2021-11-16 10:01] soniCaH commented on #33930
Similar issues when going from 4.0.2 to 4.1.*

[2021-11-16 12:02] marcomiduri commented on #33957
@LekoArts Thanks for checking this issue. I actually produced a minimal reproduction but it works fine on there. I really can't sure how to reproduce the issue on there. What can I do here?

[2021-11-16 14:34] graysonhicks commented on #33930
It looks like the example is using React.lazy and Suspense with React 17, I wonder if that is relevant to the reproduction.

[2021-11-16 14:40] aaronadamsCA commented on #33956
@graysonhicks Great idea, unfortunately it looks like loadable components work very differently from "organic" chunks and don't trigger this issue.

I'll keep working on reproducing in an isolated environment.

[2021-11-16 15:06] graysonhicks commented on #33956
@aaronadamsCA Ah yes, that's true.

[2021-11-16 16:40] alexadark commented on #33985
Thanks, @TylerBarnes and @wardpeet all works fine now :-)

[2021-11-16 19:10] mflisikowski commented on #31523
.

[2021-11-16 19:58] hazuremon commented on #33745
More as a FYI, I have tested with 6.3.0-alpha-wordpress-image-hydration.5+633909e707, but still came across the same issue. But upon testing on **Safari Technology Preview**, images start to appear, so it seems the issue I came across is Safari specific and is different from image rehydration that is being rolled out.

[2021-11-16 20:59] joernroeder commented on #33868
I'm also experiencing very high usage of RAM on my local machine on my gatsby 4 test branch on the same build step.
Also gatsby-could (obviously) fails with `Your Gatsby build's memory consumption exceeded the limits allowed in your plan. For more details, see https://gatsby.dev/memory.`

<img width="476" alt="Screenshot 2021-11-16 at 21 51 51" src="https://user-images.githubusercontent.com/270540

[2021-11-16 21:17] Hdz commented on #19487
Hey there, Sorry for not being smart enough to understand.

I have the same error here too. I suspect it's coming from another dependency called react-organizational-chart

`import React from "react";
import { Tree, TreeNode } from "react-organizational-chart";
import styled from "@emotion/styled";
import "../components/tree.sass";

const StyledNode = styled.div`
  padding: 5px;
  border-radius: 8

[2021-11-16 21:31] jessehart opened #33998 "`config` export is removed from non-template source files"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

aft

[2021-11-16 21:43] aaronadamsCA commented on #33956
Until I can reproduce separately, I'll at least provide some solid evidence of it reproducing in my production environment.

I pushed a commit with a very short diff:

![image](https://user-images.githubusercontent.com/1505561/142069935-d6fd9845-5698-41a4-a987-35255d747781.png)

After it deployed I refreshed; no crash. So I reverted and started thinking of other ideas.

Then, suddenly, a crash whe

[2021-11-16 23:09] aaronadamsCA commented on #33956
Interestingly, reopening a closed Edge/Chrome tab seems to be the easiest way to reproduce this. It appears to reliably push the browser cache into an unexpected state.

**I want to stress that reopening an Edge/Chrome tab is not the only way to trigger this bug.** It's arrived in our logs from iOS Safari, and I've also experienced it when waking a sleeping tab on Android. But it's definitely maki

[2021-11-17 02:43] graysonhicks commented on #33998
I was able to reproduce this is 4.1.0 and 4.2.0, but not 4.0.0, so it seems to have been introduced in 4.1.0. I don't see an obvious culprit in the [changelog](https://github.com/gatsbyjs/gatsby/compare/gatsby@4.1.0-next.0...gatsby@4.1.0).

[2021-11-17 02:47] graysonhicks commented on #33957
@marcomiduri Yes, if the `.env` file is needed to reproduce, please add it.  Thanks!

[2021-11-17 03:06] #33577 closed

[2021-11-17 03:07] graysonhicks commented on #33930
A couple of things here.  I was able to get past that error by removing the React.lazy calls and Suspense.  You *really* don't need those very often when building a static site with Gatsby.  The main reason would be code-splitting, but again, that's not common.  Secondly, you don't need to be using Router here the way you are.  Gatsby already comes with a router, and the way you are using it could

[2021-11-17 03:07] #33930 closed

[2021-11-17 04:03] graysonhicks commented on #22287
Per [this comment](https://github.com/gatsbyjs/gatsby/issues/20684#issuecomment-586120263), this is resolved.  If anyone sees it again, feel free to open a new issue with a reproduction, thanks!

[2021-11-17 04:09] graysonhicks commented on #22206
@wardpeet Would adding this:

[code]

to the `gatsby-ssr` of the plugin be a good first step here?  It seems to be the most common fix for people, even though it hasn't resolved for *everyone*.

[2021-11-17 04:11] graysonhicks commented on #32300
@tujoworker Are you still able to reproduce this?

[2021-11-17 04:32] crutchcorn commented on #22287
@graysonhicks I could be wrong, but I am fairly certain those are two distinct issues

One of them pertained to an old version while this one was created after on a new version.

AFAIK, this issue is still present

[2021-11-17 05:40] joshesteves23 commented on #31747
This is still an issue. I am currently working on a project and offset does not apply when you set the offset. Any fix for this?

[2021-11-17 07:07] mwskwong opened #34002 "[React 18] Various compatibility issues"
### Preliminary Checks

- [x] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Sin

[2021-11-17 07:44] benekoehler commented on #33745
this issue was partially fixed for me with #33989 🎉  thanks a lot!
so updating to:
[code]
did the trick :)

unfortunately @hazuremon's issue is still there for me as well

[2021-11-17 07:55] amalitsky commented on #28046
Hi and thanks for opening this issue. Have you figured proper solution since then? Thanks

[2021-11-17 08:36] tujoworker commented on #32300
@garethpbk Yes. I updated the reproduction repo to v4.2 – the thing is, once a **directory/folder** gets deleted , Gatsby (in development) does not recognize that it gets deleted.

[2021-11-17 08:54] SamHoltby commented on #33738
@benlavalley sorry for the radio silence. I ended up moving to Gatsby Cloud for the builds and Netlify for the hosting. Didn't need to change anything, plus Gatsby builds 70% faster.

[2021-11-17 08:54] #33738 closed

[2021-11-17 09:16] BenRoe commented on #31747
@joshesteves23 check the answer from MangelMaxime https://github.com/gatsbyjs/gatsby/issues/31747#issuecomment-886001941

[2021-11-17 09:16] BenRoe commented on #31747
https://github.com/gatsbyjs/gatsby/issues/31747#issuecomment-886001941

[2021-11-17 10:05] SergiOca87 commented on #32037
What's the state of this? I had a client complain about flickering logos today.

[2021-11-17 11:57] #33963 closed

[2021-11-17 12:09] #33141 closed

[2021-11-17 12:09] #33046 closed

[2021-11-17 12:09] #32831 closed

[2021-11-17 12:09] #32556 closed

[2021-11-17 13:33] mwskwong commented on #34002
Would mind updating me once the changes have been pushed to the `next` branch? Can't wait to try it out.

[2021-11-17 15:19] LekoArts commented on #22287
We'd need a reproduction of this on Gatsby 4

[2021-11-17 15:35] ardiewen opened #34009 "[gatsby-plugin-image] art directed images flicker when parent component rerenders"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-17 15:49] graysonhicks commented on #34002
Yea, this feels like something that used to work when I tried it a few months ago.  🤔

[2021-11-17 15:51] szimek opened #34010 "gatsby-plugin-sitemap incorrectly applies assetPath to generated urls"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Our

[2021-11-17 16:10] ardiewen commented on #34009
@wardpeet figured I would tag you for visibility since you've worked on a similar issue in #32037 recently.

[2021-11-17 16:55] pedroBruno7 commented on #20420
@nolandg Thanks a lot for the issue, very relevant
In my case it's not working on "gatsby": "^3.9.0". I get the following error during gatsby develop:

[code]

  "gatsby": "^3.9.0",
  "gatsby-plugin-root-import": "^2.0.8",
  "graphql": "^15.5.0",
  "react": "17.0.2",
  "react-dom": "17.0.2",

Does anyone have a solution? Thank you

[2021-11-17 17:00] Isaac-Tait commented on #21862
I am having this issue as well. My use case is slightly different, though. So, the solution above I do not think will resolve my issue. I have started a thread in discussions which can be found [here](https://github.com/gatsbyjs/gatsby/discussions/34008)for anyone who comes across this in the future. It seems like a common issue judging by the similar issues/discussions I have come across.

[2021-11-17 17:12] hazuremon commented on #33745
Thanks @benekoehler for confirming Safari issue, I thought i was the only one experiencing it!

Upon checking [Safari's release notes](https://developer.apple.com/safari/technology-preview/release-notes/), there are two bugs that maybe in related to the issue:
1. [Changing the src attribute of the <img> element inside an ImageDocument does not trigger a load](https://trac.webkit.org/changeset/2849

[2021-11-17 17:42] NickBarreto commented on #33557
+1,  I am having the same issue as @lezan and @sirichards. Upgraded to Gatsby v4, and the first few builds had no issues.

However, today all of my builds are hanging at `success run queries in workers`, and then eventually timing out.

Log snipped below from the first time it happened, and has persisted all day:

[code]

Tried a few various things to get things unstuck, turning on parallel worker

[2021-11-17 17:43] pedroBruno7 commented on #20420
I think I found a good CSS only solution to disable the error overlay (the modal) on gatsby. [This](https://github.com/facebook/create-react-app/pull/9342) does not work because on gatsby the html is completely different

I added to my global css:

`gatsby-fast-refresh {
  display: none !important;
}

body {
  padding: 0 !important;
  overflow: auto !important;
}`

For my goal it was perfect. I wa

[2021-11-17 17:47] hirenoble opened #34011 "Gatsby v4: The argument 'path' must be a string or Uint8Array without null bytes. Received '/node_modules/es5-ext/array/\x00#/e-index-of.js"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'm

[2021-11-17 22:01] pranav0281999 commented on #33875
Hi @LekoArts , can I be assigned to this issue? Trying to solve it right now.

[2021-11-17 22:12] kimbaudi commented on #28046
I'm not sure about a proper solution, but I've moved a lot of my styling from global scss into styled components using @emotion. I just accept that there is a global scss file and there is no way to split css unless you move away from it and use something like styled-components instead.

[2021-11-17 22:26] sandren commented on #22206
@graysonhicks The root of the problem is the inline critical CSS burying the meta tags beyond the parser's capability.

So we just need to make sure that the `<meta>` tags always come _before_ `<style>` and `<link>` tags in the `<head>`. That would probably resolve the issue for everyone at once. 😀

[2021-11-17 23:43] simon-abbott opened #34014 "Unable to bind to port 80 on macOS"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Mac

[2021-11-17 23:46] simon-abbott commented on #34014
I saw #13880, but that was on Ubuntu, which still has privileged ports. This issue is on macOS.

It is possible to do this, as `detect-port` does have support for changing the hostname:

[code]

[2021-11-18 01:32] watway opened #34015 "gatsby-plugin-mdx not calling function in gatsbyRemarkPlugin built from Typescript"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'm

[2021-11-18 03:03] graysonhicks commented on #22206
@sandren Ah, sorry!  I forgot to paste the rest of that solution, which I think does that reordering.  Edited the comment to add it.

[2021-11-18 03:05] graysonhicks commented on #22206
I do notice that solution puts `link` tags before `meta`.  Any downsides to placing after as you suggest @sandren ?

[2021-11-18 03:11] mwskwong commented on #33936
@LekoArts I hope you understand. A reproduction will have zero help in this case.

[2021-11-18 03:29] graysonhicks commented on #34011
👋 Thanks for the report!  I tried to clone and repro this, but the repo seems to rely on a lot of env vars and won't start.  If there is a way to make a reproduction with env vars that can be public, that would be helpful for debugging.

Just spitballing that that error sounds like it could be coming from `fs`, although the path arguments I see in the `fs` usage in the repo certainly appear to be

[2021-11-18 03:31] graysonhicks commented on #34011
@hirenoble 🤦 I see the env instructions now, I'll give that a go!

[2021-11-18 04:36] graysonhicks commented on #34011
Unfortunately, seeing some other errors/warnings while trying to build:

during sourceNodes:

  "data": {
    "repository": {
      "object": null
    }
  }
}

during createPages:

I think the repo is missing a`changelog` directory?

[2021-11-18 10:29] jroehl commented on #33957
Hi @graysonhicks - I have a similar issue:

I am using `gatsby-source-contentful` and need to fix a type on an existing (automatically) created type by letting it implement an interface:

[code]

Everything works fine with `gatsby develop`.
During `gatsby build` it fails at `Validating Rendering Engines` with the error
`Error: Cannot get type name from ThunkComposer({ _thunk: [function ], _typeNam

[2021-11-18 11:20] marcomiduri commented on #33957
@graysonhicks I have committed the `.env` file with test sanity project access. You should be able to replicate the error on your side. https://github.com/marcomiduri/gatsby-issue-reproduction/blob/master/.env

[2021-11-18 11:35] lezan commented on #33557
Maybe I digged my issue to `gatsby-plugin-sharp` config. Using `formats: ['auto', 'webp', 'avif']` with around 355 images (400MB) does not make finish my build process. With the default config for` gatsby-plugin-sharp` I can build it.

[2021-11-18 12:01] NickBarreto commented on #33557
Interesting! I just dig into my config files and I am set to `formats: ['auto', 'webp']`, which I believe is the default (at least, according to the [docs](https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-plugin-image/#formats).

I am, however, using `placeholder: 'blurred'`, which may be the expensive operation. I'm going to try and switch it back to 'dominantColor' and see if t

[2021-11-18 12:16] lezan commented on #33557
Hey @NickBarreto for my particular case `placeholder: 'blurred'` does not make any difference, neither `defaultQuality: 100` or `webpOptions: {quality: 100,},`. The only difference is with and without `avif`. With `formats: ['auto', 'webp', 'avif'],` I cannot finish my build. it is like stucked (after hours of running still not finish it), while with `formats: ['auto', 'webp']` I can build it with

[2021-11-18 13:26] wardpeet commented on #34002
I'll test and fix when I reproduce. Dev will always be csr until we have dev ssr again

[2021-11-18 13:37] robinmetral commented on #33557
Do you think it would be worth writing a new issue with all these findings? 👀 it looks like a different bug, and it might have more visibility when not at the bottom of a closed issue 😛

[2021-11-18 13:46] LekoArts commented on #33557
It is expected (and not a bug) that with `avif` it takes longer and more memory. This is why we do not enable it by default. See https://github.com/gatsbyjs/gatsby/issues/30256 or https://github.com/lovell/sharp/issues/2597

[2021-11-18 13:53] natapg commented on #12913
I'm doing some in-place modifications, but now in gatsby v4 is not working anymore (just in build, not in development), it's taking the original field values, not the modified ones...

[2021-11-18 17:49] NickBarreto commented on #33557
Thanks for the info everyone. I think I will create another issue because I do think there has been a regression here.

Admittedly my site has quite a few images (~1600), but under v3 and also in my first builds of v4 the time elapsed in the logs between `run queries in workers` and `merge worker state` was virtually instant, in milliseconds.

Now the process is hanging between those two steps, wi

[2021-11-18 18:06] hirenoble commented on #34011
@graysonhicks thanks for looking into this! "@adobe/parliament-source-changelog" looks for changelog repo in the source folder, if it's not there it simply skips.

[2021-11-18 18:52] 1-800-jono commented on #8256
Screen readers don't skip over images with just an empty alt. While testing on MacOs with `VoiceOver`, I discovered that instead of skipping the images it was still reading out load the word "image" (Which seems completely unnecessary because it just adds noise and extra steps to reach content) . Experimented a bit and was able to skip decoractive images with the screen reader only when using eith

[2021-11-18 20:25] sandren commented on #22206
@graysonhicks I don't believe there are any downsides since meta elements aren't render blocking, but applying automatic sorting of any kind should probably be considered a breaking change in behavior (version bump for `react-plugin-react-helmet`) even if it does resolve this existing issue affecting many projects.

From what I remember, I think the HTML5 spec only has recommendations for the earl

[2021-11-18 23:53] dev-codo commented on #14434
In my case, the log was pointing to this dependency:

`error type-fest@2.5.4: The engine "node" is incompatible with this module. Expected version ">=12.20". Got "12.18.0"
`
Fixed by creating a .nvmrc with a a node version higher than required.

[2021-11-18 23:54] dev-codo commented on #14673
In my case, the log was pointing to this dependency:

`error type-fest@2.5.4: The engine "node" is incompatible with this module. Expected version ">=12.20". Got "12.18.0"
`
Fixed by creating a .nvmrc with a a node version higher than required.

[2021-11-19 00:34] mwskwong commented on #34002
If I'm not mistaken, Gatsby 4 + React 17 enables SSR by default in DEV build right? I believe there are some technical difficulties preventing this from happening for React 18?

[2021-11-19 00:47] eligundry opened #34027 "`createNodeField` does not work on `SitePage` or other internal Gatsby types in v4"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hi

[2021-11-19 01:17] graysonhicks commented on #34027
I can't speak to the `createNodeField` bug itself, but you should be able to add this via [createResolvers](https://www.gatsbyjs.com/docs/reference/graphql-data-layer/schema-customization/#createresolvers-api):

[code]

[2021-11-19 01:18] graysonhicks commented on #34011
@hirenoble Okay, the build was taking a while so I cancelled.  So those are expected warnings and I should let the build continue?

[2021-11-19 03:05] graysonhicks commented on #22206
@sandren Started a draft PR here: https://github.com/gatsbyjs/gatsby/pull/34030

It essentially does the grouping you mention above in `onPreRenderHTML`.  One thing I noticed and am not sure of is that several meta tags, namely `charset`, `viewport` don't ever show up in the array of head components, so I believe they are inserted by default at the top in [html.js](https://github.com/gatsbyjs/gats

[2021-11-19 03:08] graysonhicks commented on #22206
Also, not entirely sure how `onPreRenderHTML` and `onRenderBody` work together and if this sorting can just be done in one, or should be done the same in both.

@KyleAMathews Any thoughts?

[2021-11-19 04:54] jlkiri commented on #34015
As the author of `gatsby-remark-shiki` I probably should mention that the plugin was created for Gatsby 2

[2021-11-19 05:45] KyleAMathews commented on #22206
Gatsby renders the surrounding html separately from the body hence the two
apis.

On Thu, Nov 18, 2021, 7:08 PM Grayson Hicks ***@***.***>
wrote:

[2021-11-19 06:55] wardpeet commented on #34002
Hey, DEV_SSR isn't available in v4 for now. We'll be fixing it somewhere in the coming weeks/month to make it a first class citizen.

[2021-11-19 07:31] LekoArts commented on #34027
Hi!

This is expected behavior as with v4 these types no longer use inference (the `@dontInfer`):

https://github.com/gatsbyjs/gatsby/blob/27cf7e7b0416f5559438ff296232afb2a7237654/packages/gatsby/src/schema/types/built-in-types.ts#L103-L133

This is mentioned here: https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v3-to-v4/#changes-to-built-in-types

You'll need to use the `crea

[2021-11-19 07:31] #34027 closed

[2021-11-19 07:34] LekoArts commented on #34010
I assume this is the same as https://github.com/gatsbyjs/gatsby/pull/32107 ?

If yes, someone (or you?) could fix this by putting up a new PR with the changes there + requested changes from the review.

[2021-11-19 10:18] yashvekaria commented on #33274
add deepmerge dependency and it worked

Thanks @pdeszynski

[2021-11-19 10:46] #34002 closed

[2021-11-19 13:19] eligundry commented on #34027
Ah okay, this makes sense. I figured it had something to do with that. I'm very pleased that I'm going to be able to do this, so thanks both of you!

[2021-11-19 14:01] sanmugamk commented on #33115
Finally, I just wrap the gatsby link component to manage trailing globally in my application. I'm not sure is any other better way to handle this.

[code]

[2021-11-19 14:32] graysonhicks commented on #22206
Okay, so should they both use the same ordering mechanism or does it matter?

[2021-11-19 14:53] gvocale opened #34033 "How to debug Error: write EPIPE during build for a 1000+ pages site"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Dur

[2021-11-19 17:06] sandren commented on #22206
It looks like the tags present in html.js are already in the correct sequence so as long as `props.headComponents` is sorted then the complete `<head>` should be in the correct sequence as well. 😀

[2021-11-19 17:57] GlebDolzhikov commented on #21193
issue still presented

[2021-11-19 18:14] KyleAMathews commented on #34033
Generally this means a worker process was killed by your OS as the machine was running out of memory. `Error: write EPIPE` means the parent Gatsby processed was unable to write to the child anymore.

[2021-11-19 19:16] KyleAMathews commented on #22206
The body is literally just for the html body so there's no meta, etc tags there.

[2021-11-19 21:20] jstramel opened #34034 "gatsby-source-drupal times out sometimes when it shouldn't"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I r

[2021-11-19 21:22] dryan-FF commented on #33871
Would also like to report that we had to downgrade back to Gatsby 3 (and the earlier version of `gatsby-source-contentful`) because of this issue. We can re-produce the same ways as mentioned above

[2021-11-20 01:11] benlavalley commented on #33738
Interesting! I actually explored doing the same thing. I've liked Netlify. Gatsby's equivalent tier to what Netlify provides now seems to state it has 1GB of memory which is less than Netlify's 3GB. I guess I can test out a deploy at least and see how it fares - I'm back to getting the EPIPE errors with Netlify now because of the variable memory limits.

[2021-11-20 01:31] pranav0281999 commented on #33875
Just letting everyone know, I have made the changes and I will be creating a PR after I read about the proper way to document commit and PR messages.

[2021-11-20 03:48] pranav0281999 commented on #33748
Hi @LekoArts , can I be assigned to this issue? Will be trying to create a PR within the next few days.

[2021-11-20 12:13] m5kr1pka opened #34039 "Issue with garsby-plugin-image peer dependencies"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Upg

[2021-11-20 15:38] gvocale commented on #34033
Thank you, very helpful! I will try to run my build process with:
[code]
And see if it helps

[2021-11-20 19:55] desorgui commented on #17761
There is someone who know gatsby-remark-responsive-iframe ?

[2021-11-20 23:23] merrywhether commented on #28657
Has anyone successfully gotten the new `jsxRuntime` flag to work? I tried replacing my `gatsby-node` babel code with `jsxRuntime: 'automatic'` in `gatsby-config` and now wind up with an `originalFactory.call` error like #30748.

[2021-11-21 22:03] jsg2021 commented on #32825
https://github.com/jsg2021/gatsby-staticquery-error-repro this is my min reproduction... lazy load components seem to be one trigger.

[2021-11-21 22:04] jsg2021 commented on #26563
https://github.com/jsg2021/gatsby-staticquery-error-repro this is my min reproduction... in gatsby 2 it's fine.

[2021-11-21 22:13] jsg2021 commented on #32809
Mixing `gatsby-plugin-mdx` and `gatsby-plugin-feed` trigger this

[2021-11-22 06:54] joselcvarela opened #34042 "Deprecated dependencies on `gatsby-source-graphql`"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Usi

[2021-11-22 07:22] LekoArts commented on #34034
Hi, thanks for the issue!

To make the process of resolving problems quicker for both sides we need you to fill out the issue template and give us a [minimal reproduction][reproduction].

[reproduction]: https://gatsby.dev/reproduction

[2021-11-22 07:25] #34033 closed

[2021-11-22 08:28] LekoArts commented on #34042
Hi!

Since I couldn't use your reproduction as I don't have any directus running I was simply adding the plugin to the config and used the SWAPI endpoint from the README. I don't get any errors during `gatsby develop` or `gatsby build`. Please post a [minimal reproduction][reproduction] which shows this. Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2021-11-22 10:56] #34039 closed

[2021-11-22 10:58] LekoArts commented on #33859
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-22 10:58] #33859 closed

[2021-11-22 10:59] LekoArts commented on #33474
Thanks for the updates on the issue. I'll close this one as this doesn't seem to be a core Gatsby issue but user error when using slick carousel.

[2021-11-22 10:59] #33474 closed

[2021-11-22 11:00] LekoArts commented on #33422
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-22 11:00] #33422 closed

[2021-11-22 11:00] LekoArts commented on #33323
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-22 11:01] LekoArts commented on #33888
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-22 11:01] #33888 closed

[2021-11-22 11:01] LekoArts commented on #30856
Hi!

Since we didn't receive an answer for 7 days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or open a new issue with a reproduction. Thanks!

[2021-11-22 11:01] #30856 closed

[2021-11-22 12:00] #33875 closed

[2021-11-22 12:08] iChenLei commented on #33116
## Render Pipeline

`.mdx` -> `gatsby-plugin-mdx` ->  gatsbyRemarkPlugins[`gatsby-remark-autolink-headers`]
`.html` <- `xxx` <- `gatsby-plugin-mdx` <--------------------------------------------------|

So it works as expected.

## GraphQL Query Pipeline

`GraphiQL`  -> `gatsby-plugin-mdx`
`GraphiQL`  <- --------------------|

No special process for `gatsby-remark-autolink-headers`'s `enableCustomI

[2021-11-22 12:38] apotheosistech commented on #34034
Per @KyleAMathews no reproduction was needed because he was also aware of the issue.

[2021-11-22 14:54] marcomiduri commented on #33957
Hi, @LekoArts @graysonhicks Just wanted to check if this issue is still progressing

[2021-11-22 15:53] charles-langley commented on #33794
I'm updating this as per the email to keep the issue open.

[2021-11-22 16:09] LekoArts commented on #33957
You can't do this with engines as it doesn't support bundling these files:

https://github.com/marcomiduri/gatsby-issue-reproduction/blob/50bbe785b4abcd0e92f82a4e16f0b1ee3b255295/gatsby-node.js#L17-L20

You'll need to put the definition either in a file and import it or directly put it into gatsby-node.js

(So this is not a bug but a limitation)

[2021-11-22 16:40] marcomiduri commented on #33957
@LekoArts @graysonhicks Thanks for your immediate response. I just removed `schema.graphql` file and moved the graphql code into `gatsby-node.js`. Please check my last commit. But it's the same... If I don't use the `union` define, it works. Hope this gives you a good clue.

[2021-11-22 17:11] #34034 closed

[2021-11-22 18:23] graysonhicks commented on #34011
@hirenoble I think this is likely trying to load those JSON files with `fs` which the query engine then can't find.  I'm thinking that change either didn't get documented or not well documented in the migration guide.  I believe any file you are importing that way will need to be imported.  @pieh or @LekoArts can likely confirm.

[2021-11-22 18:42] NickBarreto opened #34051 "Build failure: sometimes "Run Queries in Workers" never finishes"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Gat

[2021-11-22 20:17] graysonhicks commented on #34011
After chatting with @pieh, since this is happening during the JS bundling, not the query engine bundling, it is more likely a webpack caching issue.  Is there any way you can make a more minimal reproduction that allows only a subset of the build but still illustrates the bug?  That would allow for investigating in a more timely manner.  Thanks!

[2021-11-22 20:31] hirenoble commented on #34011
@graysonhicks sure, I am creating another repo that would allow minimal reproduction.

[2021-11-22 20:38] pranav0281999 commented on #33748
The issue is with [this](https://github.com/gatsbyjs/gatsby/blob/0a04e38d857255fe675101bd96797c67d2d6e743/packages/gatsby-plugin-image/src/components/lazy-hydrate.tsx#L70) line. Just converting the type of props isn't removing the extra properties that come with the object, like onStartLoad. It won't be possible to remove these properties while converting the type.

The ways extra props can be rem

[2021-11-22 21:22] pranav0281999 commented on #34010
@LekoArts can I create that PR? Doesn't seen like anyone else is doing it.

[2021-11-22 22:20] hirenoble commented on #34011
@graysonhicks I created a repo to allow minimal reproduction. https://github.com/hirenoble/gatsby-v4-issue-reproduction

Just do `yarn install` and `yarn develop` to see the issue.

[2021-11-23 00:12] cameronmcefee opened #34055 "[gatsby-transformer-remark] Using remark plugins causes build to crash"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-23 09:02] LekoArts commented on #34055
Hi!

I've cloned your repo, ran `yarn` and `yarn build` (since I don't use npm) and it successfully built:

![image](https://user-images.githubusercontent.com/16143594/142995653-2ba2ee2a-7963-42c9-bf1b-c6894b091dc1.png)

Your `package-lock.json` doesn't contain the remark plugins you installed since you used `yarn` to install that. If you now use npm it won't install it is my guess.

[2021-11-23 09:09] LekoArts commented on #34011
@hirenoble I'm not able to run your site as your source plugins are not generating the necessary nodes. You'll need to further slim this down so that we don't need any env vars :)

![image](https://user-images.githubusercontent.com/16143594/142996991-9ed59f63-2063-428e-8a49-d9e42e5a6592.png)

[2021-11-23 09:11] aubertinp commented on #33956
Hello, we experience the same issue with our website.
Each time, we push in production, we need to clear the cache for each user. It's a major issue because it's a public website and we do not have any solution to force them to clear their cache.

[2021-11-23 09:47] DennisKraaijeveld commented on #34051
I have exactly the same going on. I am on Standard/Standard plan and since 2 days fresh build will take forever. Sometimes it will finish after 25-30 minutes.

[code]

I wanted to open an issue, but I guess we have something similar.

[2021-11-23 09:52] LekoArts commented on #34051
@NickBarreto @DennisKraaijeveld can you both please post the URL to a failed build where you see this? Then we can on our side check it out.

[2021-11-23 09:56] DennisKraaijeveld commented on #34051
On my side it is not failing 100% of the times. But buildtimes have gone from 5 to 24-30 minutes. This build is now going on: https://www.gatsbyjs.com/dashboard/c9ba2b9c-76c6-4e2e-94b6-047574fb963f/sites/d18769be-381e-458e-b4fb-d59bbc168935/builds/88ec953a-2dac-41da-8696-f07b589001cf/details

this one did finish after 25 minutes with the same problem: https://www.gatsbyjs.com/dashboard/c9ba2b9c-76

[2021-11-23 09:58] NickBarreto commented on #34051
Sure thing.

Here's a Gatsby Cloud build that failed with this error: https://www.gatsbyjs.com/dashboard/e1ae5b97-e312-4fe3-88f2-5f4f81ac0d9d/sites/1703f5eb-05d0-46ad-8fdf-e1f7129e83b7/builds/74b00a67-fbe3-4048-9f78-8150895fc298/details

This is the exact same build, triggered manually, not clearing cache, immediately after, which built successfully in 6 minutes: https://www.gatsbyjs.com/dashboard

[2021-11-23 09:59] DennisKraaijeveld commented on #34051
@LekoArts I scanned through my builds, and the build without the remote images (onCreateNode, createSchemaCustomization) did run for 4 minutes.. Might be helpful information

[2021-11-23 10:33] LekoArts commented on #33957
I'm not really understanding why you're redefining the types there as it already correctly creates a union:

![image](https://user-images.githubusercontent.com/16143594/143007475-e1e28bc2-0834-46b8-9b11-f2337a2eced8.png)

But anyways, if you want to have a custom union, you need to define it this way:

[code]

Then it'll also work:

![image](https://user-images.githubusercontent.com/16143594/14300

[2021-11-23 11:03] Justbigmack commented on #30272
The weird thing is that it is treated as expected behavior, but when comparing gatsby-image images to gatsby-plugin-images, the former don't have this issue and the latter do.

[2021-11-23 11:41] ashhitch commented on #34051
Also seeing this issue:
https://www.gatsbyjs.com/dashboard/3d3630a8-7adf-4a87-85eb-98aef3eea470/sites/1d97bd5a-413f-4e88-965a-87d672349808/builds/4ea4bf44-d89b-4210-95af-547795bc8e78/details#rawLogs

[2021-11-23 11:46] VallyPepyako commented on #30937
@lnikell in the same time now not clear how to remove listener if use native one

`<GatsbyImage
          image={image.localFile.childImageSharp.gatsbyImageData}
          alt=""
          onLoad={handleImageLoading}
        />`

[2021-11-23 14:45] laurenzcodes commented on #34042
I am also having this warning. It's related to the `@graphql-tools/links` package being outdated (the newer (v8.2.1) one uses a more recent version of `extract-files` (11.0.0) which might fix the bug.

[2021-11-23 14:57] iChenLei commented on #33713
#### Gatsby use `rollup` to bundle `gatsby-recipes` package,
here is rollup config -> packages/gatsby-recipes/rollup.config.js
https://github.com/gatsbyjs/gatsby/blob/d04f563342f7679728738e623578dd712a34caca/packages/gatsby-recipes/rollup.config.js#L33-L38

All `import` Declaration will be transform to `require` Declaration

https://github.com/gatsbyjs/gatsby/blob/dcc32a7db3413c79c5d62f9f72d8aaafb

[2021-11-23 15:10] hirenoble commented on #34011
@LekoArts that's weird, which OS you are running on? The repo https://github.com/hirenoble/gatsby-v4-issue-reproduction has an `.env.development` and `.env.production` file with a sample `parliament-docs-template` source part of the repo.

[2021-11-23 15:11] manigopal commented on #16569
@ibjorn

can you POST your working Carousel with Wordpress ACF in Gatsby

[2021-11-23 15:34] charles-langley commented on #33794
Updating to include this bug affects standard wordpress tags as well

[2021-11-23 15:51] smakosh commented on #30959
I just encountered this too.

[2021-11-23 16:06] marcomiduri commented on #33957
@LekoArts Thank you very much for this code snippet. But I have to define `ContentBlock` interface for this project. I have pushed a new commit to my reproduction repository. Can you please review that? I followed this for creating interface but I am still getting the same error.

My last commit URL: https://github.com/marcomiduri/gatsby-issue-reproduction/commit/a6a60811e253a365e52a6119f513b06040

[2021-11-23 16:27] pieh commented on #34011
@hirenoble I saw same thing as @LekoArts when I tried it.

My os info:
[code]

When looking again it seems like `parliament-docs-template` is supposed to be git submodule but `.gitmodules` wasn't commited so it ends up being just empty dir when checked out locally so there is no data to source from and I do see some warnings during the build:

[code]

The `path` error on `GithubContributors` shoul

[2021-11-23 16:45] joselcvarela commented on #34042
Hello @LekoArts
Sorry for not giving a proper reproduction. As you mentioned, I have updated to use the Swapi url, but I still have the issue:

![image](https://user-images.githubusercontent.com/14039341/143067080-fd026802-a26a-4bb8-8c7d-366349a15757.png)

[2021-11-23 17:21] andrewminton commented on #10421
After spending a day looking at this, I'm confused as to whether this error is generated by my actual code of the build tools themselves. As a framework for static sites, this is fundamental to the production side and to this date is unresolved imho. Agree with the above. I've inherited someone else' code to make text changes.... and have rebuilt this from scratch with a fresh build only to come t

[2021-11-23 17:24] ibjorn commented on #16569
@manigopal this takes me back!

I never completed that project and dumped it along the way. It was my first attempt at React.

[2021-11-23 17:50] cameronmcefee commented on #34055
Hmm, you're correct, though the yarn/npm discrepancy was user error in creating the example. I swear it initially shared the same problem that my actual project has. I must have something else at play in my main project. I'll close for now, sorry for the noise.

[2021-11-23 17:50] #34055 closed

[2021-11-23 21:04] afladmark commented on #33871
As with @julrich we also use Contentful Assets local download option via a custom resolver (to enable custom localization fallbacks to English images). In Gatsby Cloud, we get empty localFile nodes 100% of the time. On local develop it mostly/often works and with local builds it often succeeds. After a `gatsby clean` it generally fails. We couldn't build in any case until we moved the resolvers fr

[2021-11-23 21:51] mac2000 opened #34065 "embed snippet inside details html tag does not work"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Ima

[2021-11-23 22:54] cameronmcefee commented on #34055
I found the issue, which I'll leave here for posterity. I'm in the process of upgrading to Gatsby 4, with a lot of out of date plugins. My gatsby-config.json still had an old config option in it:

[code]

There was a warning about this unrecognized option that I missed in the noisy logs:

[code]

While I'd expect this would just be safely ignored and the build would still be successful, when this

[2021-11-24 03:29] iChenLei commented on #33713
https://nodejs.org/api/esm.html#import-expressions

It’s worth noting that the only way to import ESM files from a CJS module is using dynamic `import()` calls. This can present challenges, but is the behavior in Node.js today.

[2021-11-24 03:31] hirenoble commented on #34011
@pieh @LekoArts I added `parliament-docs-template` as a submodule. Could you please try now?

[2021-11-24 08:12] LekoArts commented on #34051
Thanks for providing the URLs. We've looked at the builds from @NickBarreto @DennisKraaijeveld and in summary these are the findings:

- It's not stuck at "run queries in workers" as that step finishes
- Sometimes (not always) it hangs on running image transformation (jobs). If you add up the times of the activities it doesn't go up to e.g. 20min, it only takes that long because in between it wait

[2021-11-24 08:41] LekoArts commented on #33957
@marcomiduri

Why do you have to do that?

[2021-11-24 09:05] LekoArts commented on #34042
I'm still not seeing this on my end, but this might not be the normal behavior for others then. It's a warning and things will still work, so I'm not considering this a bug. Feel free to put up a PR updating the required dependencies to get rid of this warning.

[2021-11-24 09:14] LekoArts commented on #34065
Hi!

You need to have paragraphs around the tags as otherwise the parser can't understand it:

![image](https://user-images.githubusercontent.com/16143594/143209088-c66c3348-9216-4daa-a525-a247dee14e32.png)

So this works:

[code]

[2021-11-24 09:14] #34065 closed

[2021-11-24 09:18] phun-ky commented on #21173
@muuvmuuv  could you please ellaborate on the fix and how you found out? I'm experiencing the same issue, but do not think it is `normalize-url` after upgrading gatbsy to v4

[2021-11-24 09:26] LekoArts commented on #34011
Checked out the repo in a fresh directory with submodules, same error:

![image](https://user-images.githubusercontent.com/16143594/143210793-b84c5cb0-6a89-4bab-998b-d7f850c66496.png)

[2021-11-24 09:29] marcomiduri commented on #33957
@LekoArts I have defined a fragment called ContentBlockBase and used it on all block fragment like below:

[code]

So we don't need to write `_type`, `_key` fields everytime.

[2021-11-24 09:46] tejaswinivantigodi opened #34066 "Gatsby develop works, gatsby build works, but gatsby serve displays a white blank page."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Gat

[2021-11-24 09:56] LekoArts commented on #34066
Hi, the repository you linked is not available. Please also make sure that you give us a [minimal reproduction][reproduction] and not a full-blown project. Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2021-11-24 10:24] axe312ger commented on #33871
Thank you for the reports, I'll have a look.

Relevant file: https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/download-contentful-assets.js

@wardpeet this could be related to our switch to `fetchRemoteFile`

[2021-11-24 10:25] axe312ger commented on #33871
If somebody has public build logs that failed available, that could help! Please link them here.

[2021-11-24 10:42] #33713 closed

[2021-11-24 11:41] mac2000 commented on #34065
@LekoArts indeed, thank you for example it works as expected, hopefully will help someone in future

PS: seems like it **must** be exactly:

[code]

nothing else won't work (e.g. trying to put different tags instead of blank lines)

[2021-11-24 11:55] danmorley commented on #25554
Whaf is this "resolutions": { } thing?
And if  put gatsby-react-router-scroll in there, should I remove it from the "dependencies" ?

[2021-11-24 12:57] aaronadamsCA commented on #33956
I've had success catching and handling this error, as well as #33844, by writing a plugin that implements an error boundary.

<details><summary><code>core-error-boundary.tsx</code></summary>

[code]

</details>

<details><summary><code>gatsby-browser.js</code></summary>

[code]

</details>

<details><summary><code>gatsby-ssr.js</code></summary>

[code]

</details>

I don't have prior experience wr

[2021-11-24 12:59] josephmarkus commented on #25554
@danmorley here's some documentation on `resolutions` - https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2021-11-24 15:23] vicdemgit commented on #23629
Our security scan flags this file. This needs to be reopened

[2021-11-24 15:25] GianaS commented on #28011
I'm getting this same issue with Gatsby v.4.0.2

[2021-11-24 16:23] janedzumerko commented on #18037
Hey, did someone manage to update page-data.json on production build without redeploying?

[2021-11-24 16:30] NickBarreto commented on #34051
Hi @LekoArts, thanks so much for the information.

What would you advise as a next step? Watch this PR until it is merged into a release, then upgrade to that release and do a few further builds to gather more diagnostic details?

Is there any other way in which I could contribute?

[2021-11-24 16:57] moonmeister commented on #34010
@pranav0281999 Go for it!

[2021-11-24 17:05] graysonhicks commented on #33956
Thanks @aaronadamsCA!  That looks right for a React error boundary in general.  I'm not sure where this would live in core.  I know there is an error boundary when in dev mode, but I don't think there is one in prod currently.  Only other question is, would someone ever want these errors to surface to Sentry?  What is the UX when this boundary is in place?

[2021-11-24 18:36] hirenoble commented on #34011
[logs_v4.txt](https://github.com/gatsbyjs/gatsby/files/7597912/logs_v4.txt)

I did a fresh clone of the repo, ran `yarn install` and `yarn develop` and it works without these errors. Could you please ensure that you see a `.env.development` and `.env.production` files with below content:
[code]

Also, try updating the `LOCAL_PROJECT_DIRECTORY` to be the absolute path to `parliament-docs-template`

[2021-11-24 19:38] aaronadamsCA commented on #33956
We're well into opinion territory now, of course, but:

- If you `catch` a normal error in core, including an error thrown by a core dependency, I don't expect to know about it, receive it, or be able to handle it.
- I see this as the same thing; if the only way to "catch" a particular error in core is with an error boundary, then I think core should ship that error boundary, and I don't expect to

[2021-11-24 21:07] mrseanbaines opened #34072 "Using `pathPrefix` in Node/SSR APIs returns both `pathPrefix` _and_ `assetPrefix`"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-11-24 21:24] startinggravity commented on #34051
Following because I get this problem a lot.

[2021-11-24 21:32] graysonhicks commented on #33956
@KyleAMathews Would love to get your take on this pattern for addressing these two common errors (StaticQuery result and  ChunkLoadError).

[2021-11-24 22:34] pranav0281999 commented on #34042
@LekoArts the warning only shows up in the latest npm and node version. I was able to reproduce it with the versions provided by @joselcvarela. I am creating a PR updating the dependency.

[2021-11-25 00:55] justsilencia commented on #33323
@axe312ger and @LekoArts thanks for the reply. Apologies for my delayed response. For some reason github didn't notify me of your comments.

In case you didn't notice, I already edited the post on 9/29/21 and added a link to a very simple repo I created that reproduces this issue **even with the latest version of gatsby**. So in response to your comment, unfortunately this issue persists well beyo

[2021-11-25 06:33] muuvmuuv commented on #21173
@phun-ky read here: https://github.com/sindresorhus/normalize-url/issues/105

[2021-11-25 07:40] axe312ger commented on #33323
I'll have a look. Thanks for the repo

[2021-11-25 08:14] axe312ger commented on #33871
I tried your repo, it works fine for me :/

Build it multiple times, cold and warm builds.

[code]

[2021-11-25 08:21] axe312ger commented on #33323
@justsilencia:

I installed your repo. It works fine for me:

<img width="1081" alt="Screenshot 2021-11-25 at 09 18 58" src="https://user-images.githubusercontent.com/1737026/143404772-62210856-2047-4ba6-8fe0-e2e6f07110c8.png">

You logs above show Gatsby v2. The version of gatsby-source-contentful that is compatible with Gatsby v2 might have some rich text bugs. Your example repo uses `"gatsby-so

[2021-11-25 08:33] axe312ger commented on #33871
A question to everybody having this issue: Do you use the `PRESERVE_FILE_DOWNLOAD_CACHE` flag?

[2021-11-25 10:10] julrich commented on #33871
At least for us we have not set that flag. So I guess we would be using the default value for it.
I'll try to extract some more details over the weekend, not sure I'll be able to before that. Unfortunately our build logs are not public.

[2021-11-25 11:39] pieh commented on #34051
@NickBarreto (and other folks following this issue)

I did publish "canary" (`gatsby@alpha-job-progress`) from the PR branch and we are running that (+ some additionaly debugging code on top) internally with test site that we are able to reproduce the issue (eventually, as it does need multiple runs to eventually reproduce the problem). You can use that canary release yourself, but it really won't

[2021-11-25 11:47] pieh commented on #34051
Oh, and more thing:

We also found that diagnostic message printing information about "activities" in progress is not always fully correct.

We do see messages like this mentioning only `build` when in fact there is also `Running jobs` one (which I did chase thinking there are 2 problems of stuck builds originally). What we found in builds we were checking is that all of them were related to jobs/

[2021-11-25 11:54] axe312ger commented on #33871
Thank you @julrich

---

## For everyone running into this issue:

This bug seems not to happen on cold builds (after `gatsby clean`) and might be related to incremental or warm builds.

We test this feature in our e2e tests and if they would be flaky/unreliable, I guess we would have seen this in all the PRs Gatsby does on a daily basis.

On my side, or my machine, I have trouble reproducing the

[2021-11-25 13:54] aaronadamsCA commented on #33956
Not sure what the difference is today, but with this deployed, the boundary definitely isn't catching any Webpack loader errors, they're still surfacing as uncaught.

Since "The result of this StaticQuery could not be fetched" is thrown from the actual `useStaticQuery` hook, I'm pretty sure the error boundary is still going to work for that. I'm testing now in production to confirm.

Maybe this is

[2021-11-25 14:02] aaronadamsCA commented on #33956
Confirmed, the error boundary successfully catches this error in production.

Screenshot showing that I was able to reproduce a StaticQuery error, but the page loaded anyway, due to the automatic reload:

![image](https://user-images.githubusercontent.com/1505561/143454614-2be08567-fa94-421f-8c62-0f4da153e274.png)

This error wasn't delivered to Sentry either, since this new inner error boundary c

[2021-11-25 18:08] joernroeder opened #34081 "gatsby-transform-json out of memory"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'm

[2021-11-25 18:10] joernroeder commented on #33868
shot in the dark, but it could be the same issue https://github.com/gatsbyjs/gatsby/issues/34081

[2021-11-25 18:56] graysonhicks commented on #33956
What happens to the component(s) that were relying on that StaticQuery?

[2021-11-25 23:58] justsilencia commented on #33323
@LekoArts Thanks for responding. However, I am very frustrated because I built the repo with a two queries: one that works (the one your seeing), and another I commented out that doesn't work. Somehow when I uploaded the repo, it didn't include any of the commented out content in the index.js file.

It was supped to be a simple matter of commenting out the working query, and uncommenting the query

[2021-11-26 03:43] banana1988 commented on #32958
i have the same issue, the reason is "Path" sometime is an object

sometime link is like this :
path = {
    cached_url: ""
    fieldtype: "multilink"
    id: ""
    linktype: "story"
    url: ""
}

var isLocalLink = function isLocalLink(path) {
  return path && !path.startsWith("http://") && !path.startsWith("https://") && !path.startsWith("//");
};

[2021-11-26 06:29] iChenLei commented on #33998
### Temporary Workaround

[code]
Disbale `named destructuring const export` usage, It will work as export when you run `gatsby develop`

#### `named destructuring const export` with `gastby develop` on gatsby 4.2

![2021-11-26 14 24 03](https://user-images.githubusercontent.com/14012511/143536322-36d4189a-69b1-4764-9d82-1a1849b3b365.png)

#### Disable `named destructuring const export` with `gastb

[2021-11-26 06:46] izackwu commented on #31523
Same issue here, no idea how to solve it :(

[2021-11-26 10:03] LekoArts commented on #34081
Hi, thanks for the issue! As you already pointed out the issue might be related to https://github.com/gatsbyjs/gatsby/issues/33868 and as my colleague also wrote there it might be a good idea to try streaming instead. It's not something we can prioritize at the moment but we'd be happy to review a PR with this. Thanks!

[2021-11-26 10:12] #15272 closed

[2021-11-26 10:58] aaronadamsCA commented on #33956
Since the error triggers a window reload, the component has a second chance to fetch its data; and since the initial fetch failure is transient, it works the second time.

(Note how the console shows the error, then a "navigated to" message; that's because I've enabled "preserve log" in my console to observe behaviour across multiple pageloads. So when you `console.error()` followed by `window.loc

[2021-11-26 10:59] pieh commented on #34051
Yesterday we published new version of Gatsby Cloud build runner image with fixes, migrated our test site to use it and were monitoring behaviour overnight. We didn't see problems anymore on our test site - it did handle over 300000 jobs successfully in that time (before that fix, it would get stuck at most around 60000 jobs, but more often it was getting stuck much quicker than that)

We are rolli

[2021-11-26 11:16] axe312ger commented on #33323
No worries! Thats how the plugin works. Each of your Contentful fields will be turned into a Gatsby GraphQL field.

I gonna update the README to make it more clear :)

[2021-11-26 11:23] #33323 closed

[2021-11-26 11:26] joernroeder commented on #34081
@LekoArts streaming might be the ultimate solution but I feel converting the loop to respect the async nature of `createNode` might be a good start and doesn't seem to be to difficult (the code above is all we need) and would fix at least this issue here. I would open a PR to get the fix out (and me to gatsby 4) if you don't mind.

[2021-11-26 11:32] joernroeder commented on #34081
Also just to make it clear, the same amount of nodes (same json file) is currently transformed in the the gatsby 3 setup successfully which indicates that something might have changed upstream and causes the issue now.

[2021-11-26 12:02] #33151 closed

[2021-11-26 13:32] koraysels commented on #31853
I am still having this error.. even when upgrading to v4... nothing works, tried removeing node_modules and lock files aswel as reinstallign everything. (i do not use yarn)

[2021-11-26 15:36] koraysels commented on #31853
the solution was adding a .babelrc with
[code]

[2021-11-26 16:20] pieh commented on #33957
I have minimal repro for error like this to happen during regular schema building in https://github.com/pieh/i33957-mini/blob/c8a1c27fcd8a6400fc2585daded1387c116e5847/gatsby-node.js

Not yet sure where the problem is, but this at least it seems to simulate what happens when engines validation happen and should make it easier to debug moving forward (it doesn't have any plugins other than internals

[2021-11-26 16:22] DennisKraaijeveld commented on #34051
Thanks! @everyone :)

[2021-11-26 20:11] KyleAMathews commented on #34081
What changed with v4 is we now write data to LMDB which is more costly than writing to memory. The sync forEach loop doesn't allow LMDB to flush data to disk meaning in progress changes accumulate. Switching to async solves as does using e.g. process.nextTick to let the event loop run through again.

[2021-11-27 00:12] r9software commented on #23850
Hi @danabrit  or @ascorbic We also have the very same issue in a big project using Gatsby, could it be that the @joseph4tw comment could help fix our issue?

[2021-11-27 01:18] r9software commented on #22288
@LekoArts this seems to be related to gatsby, I'm having the same issue in a code that works just fine outside of gatsby, just to reference this is a workaround for this issue
https://github.com/gatsbyjs/gatsby/issues/23850

useEffect(() => {
      if(typeof window !== 'undefined' &&((window.performance.navigation.type === 1) ||
      window.performance
          .getEntriesByType('navigation')

[2021-11-27 03:30] faranak6 commented on #18048
Error: Cannot find module 'C:\Users\create-react-app\index.js'
    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
    at Function.Module._load (node:internal/modules/cjs/loader:778:27)
    at Function.executeUserEntryPoint [as runMain] (node:internal/modules/run_main:81:12)
    at node:internal/main/run_main_module:17:47 {
  code: 'MODULE_NOT_FOUND',
  requireStack:

[2021-11-27 09:35] joernroeder commented on #34081
@KyleAMathews ah that makes sense, didn't know LMDB is part of gatsby 4 by default – that's awesome!

[2021-11-27 14:37] mrfsrf opened #34087 "Gatsby restart on every new file/link"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

whe

[2021-11-28 09:29] ManiMuridi opened #34088 "New gatsby-cli installation on ubuntu (wsl2) shows errors when running the command `gatsby` in terminal"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I j

[2021-11-28 20:10] teddybradford commented on #33647
Not stale

[2021-11-29 02:28] jsimplicio opened #34090 "Wrapping links have broken style"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Summary

While reading Gatsby docs on mobil

[2021-11-29 08:03] LekoArts commented on #34090
Thanks, I created an internal ticket for this to get fixed :)

[2021-11-29 08:03] #34090 closed

[2021-11-29 08:28] LekoArts commented on #34087
Hi, thanks for the issue!

To make the process of resolving problems quicker for both sides we need you to fill out the issue template and give us a [minimal reproduction][reproduction]. I'd also recommend using Node 16 instead of Node 17.

[reproduction]: https://gatsby.dev/reproduction

[2021-11-29 08:36] #34081 closed

[2021-11-29 09:46] mykeels commented on #31102
To fix this, I removed `mini-css-extract-plugin` from package.json, and ran:

[code]

This made sure the version of `mini-css-extract-plugin` that `gatsby-plugin-netlify-cms` plays well with was installed, and it worked.

[2021-11-29 10:06] #33957 closed

[2021-11-29 18:24] minimalsm commented on #25532
@KyleAMathews @LekoArts can we reopen or will I create a new issue?

[2021-11-29 18:40] pieh commented on #33844
Seems like we do catch those errors and then specifically rethrow them in  https://github.com/gatsbyjs/gatsby/blob/070eeee4bf80921dc50f376369683f03ed399824/packages/gatsby/cache-dir/production-app.js#L165-L172

We can add some specific handling for `ChunkLoadError` errors, but just silencing them doesn't seem good idea. Not sure what special handling of this mean exactly.

Here's me reproducing th

[2021-11-30 00:03] #33047 closed

[2021-11-30 08:18] ChrisSargent opened #34101 "Webpack Build Errors with Yarn v3 and `supports-color@^9`"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Gat

[2021-11-30 09:46] glassesUSA commented on #33796
@LekoArts ?

[2021-11-30 10:19] Luca8991 commented on #27788
I can't find any field inside `shopifyProduct` GraphQL query that links an image to its variant. Where is the problem?

[2021-11-30 12:28] mrbjjackson commented on #33985
Just to check - should this issue be fixed now? Because I'm seeing a very similar error on my site: When I load a page initially (or click refresh on a page) the images are loaded correctly, but if I navigate to a page containing images from another page, the images do not appear. This is only for the inline images in the Wordpress post content.

If this is a separate bug, I can open a new issue.

[2021-11-30 12:58] sven5 commented on #24568
Is there any other solution?
I'm running an Azure Pipeline and like to cache Gatsby static files.

[2021-11-30 14:05] graysonhicks commented on #33985
@mrbjjackson Are you using `react-html-parser` by chance?

[2021-11-30 15:39] mrbjjackson commented on #33985
@graysonhicks Thanks for your reply. I am using `react-html-parser`, yes. After reading your reply I tried removing it and my images are still not showing up. Is that something that was causing your issue?

FYI If I inspect the DOM, the images are all there as expected but they are not being shown.

[2021-11-30 17:24] TylerBarnes commented on #33985
@mrbjjackson wpgraphql.com had the same issue yesterday and it was due to `react-html-parser` stripping out the JSON script tags in html fields that are used to hydrate image components.

https://github.com/wp-graphql/wpgraphql.com/pull/28/files

[2021-11-30 17:53] kmajzlik opened #34104 "gatsby 4 failing in gitlab-runner"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whi

[2021-11-30 19:35] RobCharlet opened #34106 "Gatbsy v4: SIGILL on gatsby build command"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I e

[2021-11-30 22:47] thomHayner commented on #34039
I received a similar error message when trying to install gatsby-plugin-image and gatsby-source-shopify on an existing project.

I was able to restart the project from scratch using the ```npm init gatsby``` quickstart and it worked, but this issue still exists if you try to install shopify outside of the initial quickstart setup

[2021-11-30 23:16] hisnameisjimmy opened #34108 "File System API - Two folders using fileAbsolutePath to separate"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Usi

[2021-12-01 00:27] Isaac-Tait commented on #24010
I had this issue as well but the solution was not the same as @kinnikumegane. I came across [this](https://bleepcoder.com/gatsby/361084437/solved-gatsby-v2-wordpress-post-js-and-page-js-variable-id) and after I removed the `!` from the query the error went away...

[2021-12-01 01:40] pluralsigher commented on #33677
I still get this error.

I use these versions and plugins:
Gatsby version: 4.2.0
gatsby-plugin-mdx@3.2.0
gatsby-remark-images@6.2.0
gatsby-plugin-image@2.2.0
gatsby-transformer-sharp@4.2.0

gatsby-config.ts:
https://github.com/Vagr9K/gatsby-advanced-starter/blob/master/themes/advanced/gatsby/gatsby-config.ts

<img width="732" alt="Screen Shot 2021-11-30 at 17 58 39" src="https://user-images.github

[2021-12-01 08:04] LekoArts commented on #34106
Hi, thanks for the issue!

To make the process of resolving problems quicker for both sides we need you to fill out the issue template and give us a [minimal reproduction][reproduction].

[reproduction]: https://gatsby.dev/reproduction

[2021-12-01 08:04] #34104 closed

[2021-12-01 08:42] RobCharlet commented on #34106
Hi, i made a repo :

[https://github.com/RobCharlet/gatsby-bug-repro](url)

`  System:
    OS: Linux 4.19 Debian GNU/Linux 9 (stretch) 9 (stretch)
    CPU: (4) x64 Intel(R) Atom(TM) CPU N2800   @ 1.86GHz
    Shell: 4.4.12 - /bin/bash
  Binaries:
    Node: 16.13.0 - ~/.nvm/versions/node/v16.13.0/bin/node
    Yarn: 1.22.17 - /usr/local/bin/yarn
    npm: 8.1.0 - ~/.nvm/versions/node/v16.13.0/bin/npm

[2021-12-01 15:55] axe312ger commented on #33871
I found a public run that did run into that issue. It is from a dependency update, this really should not fail here:

https://app.circleci.com/pipelines/github/gatsbyjs/gatsby/77629/workflows/66678dbb-6a3f-4684-a7ae-00197a2e3ed9/jobs/915985

https://github.com/gatsbyjs/gatsby/pull/34114

[2021-12-01 16:58] hirenoble commented on #34011
@LekoArts @pieh Could you please help? We are blocked due to this issue. Would it be better if we schedule some time to debug this in a quick session?

[2021-12-01 17:51] kmajzlik commented on #34106
Take a look on https://github.com/gatsbyjs/gatsby/discussions/34157 , can be same issue.

[2021-12-01 19:44] ikuyok opened #34160 "[gatsby-source-wordpress] menuOrder is null if it is set to 0 for a post"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I'm

[2021-12-01 21:41] hirenoble commented on #34011
@KyleAMathews Could you please help me here? I would highly appreciate your attention to this. 🙌  In other thread I saw the same error related to memoizee. But don't see any resolution on this: https://githubmemory.com/repo/gatsbyjs/gatsby/issues/32382

![image](https://user-images.githubusercontent.com/3747836/144318440-52a5b513-c282-4e11-91c9-5c01a6e9afbd.png)

[2021-12-02 02:35] graysonhicks commented on #34011
@hirenoble @LekoArts Okay, I at least figured out the query error blocking above.  It is because `git clone` without `--recursive` leaves the submodule empty even if it is committed.  You can update the repo after you've cloned with:

`git submodule update --init`

The instructions for the reproduction should include: `git clone git@github.com:hirenoble/gatsby-v4-issue-reproduction.git --recursive

[2021-12-02 03:02] graysonhicks commented on #34011
FWIW, running `gatsby develop` again after letting the failed one run through seems to complete.  I am thinking it is caching the JS so it doesn't try to create the bundle again.  Running `yarn clean` and `gatsby develop` again and it resurfaces.

[2021-12-02 03:24] graysonhicks commented on #34011
The last successful step I see completing when running with `--verbose` is `Attaching functions to development server`.  There is a `catch` there so it is likely whatever step in the `develop` command runs after that, although I'm having trouble figuring out what that is.

[2021-12-02 09:37] aaronadamsCA commented on #33844
Yeah, I'm noticing a significant rise in this error in Sentry now:

`We couldn't load "/page-data/sq/d/{number}.json"`

Which also appears to be thrown by that same line of code you just highlighted, @pieh.

From what I see, the error happens because a JSON file that exists on the server fails to load (status code 0 instead of 200). This, then, is also probably a transient condition that would cle

[2021-12-02 11:06] #34010 closed

[2021-12-02 12:26] wardpeet commented on #34088
Hi, it's a problem with our reporter. The cli uses console.error and thus these bits are formatted that way. It's something we need to solve but for now you can ignore it.

[2021-12-02 12:27] urmik-zwt opened #34172 "WebpackError: TypeError: Cannot read property '__H' of undefined (gatsby-plugin-preact build time error)"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

We

[2021-12-02 14:34] qubis741 commented on #30113
@vladadaba mister, you are genius and lifesaver! your solution is perfect

[2021-12-02 16:08] samajammin commented on #23629
We'd also like to have this file removed from production build for security purposes.

Agree a Gatsby-native solution would be ideal but has anyone found an alternative way to accomplish this?

[2021-12-02 17:54] marianneciara commented on #18271
If anyone's still struggling to make this work, try clearing cache with the `gatsby clean` command. That fixed it for me!

[2021-12-02 18:23] moonmeister opened #34175 "Missing `basePath` documentation."
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Summary

https://github.com/gatsbyjs/gatsby

[2021-12-02 18:40] moonmeister commented on #34175
I'll note https://www.gatsbyjs.com/docs/reference/config-files/node-api-helpers/#pathPrefix seems straight wrong. cause it also adds the `assetPrefix` and that's not clear.

[2021-12-02 21:43] PeterDekkers commented on #33844
@aaronadamsCA, if the chunk is actually missing then wouldn't this turn into a reload loop?

[2021-12-02 22:26] LarsEjaas opened #34177 "Gatsby-plugin-Preact failing during build on Gatsby 4.2/4.3"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I h

[2021-12-02 23:15] adelin-b opened #34180 "Trigger typechecking twice : failed Re-building development bundle"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-12-03 02:03] graysonhicks commented on #33844
@PeterDekkers Yea, I think he mentioned that as the worst-case scenario in the description.  Definitely something that would need to be solved.

[2021-12-03 02:16] PeterDekkers commented on #33844
Ah yes, thank you for clarifying @graysonhicks.

[2021-12-03 04:59] urmik-zwt commented on #34172
Also, I have added this issue in preact they asked if it's an issue on the gatsby-plugin-preact package side.
https://github.com/preactjs/preact/issues/3352#issuecomment-985079933

[2021-12-03 08:11] LekoArts commented on #34180
Hi! We're not maintaining this user plugin here so we won't be able to help with that. You might also try using https://github.com/kevcenteno/gatsby-plugin-ts-checker as it seems more up-to-date.

[2021-12-03 08:11] #34180 closed

[2021-12-03 11:18] mrbjjackson opened #34187 "Post inline images not showing when using gatsby-source-wordpress with Framer Motion animation"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hi

[2021-12-03 11:22] mrbjjackson commented on #33985
Just FYI I've narrowed the issue I was having down to me using Framer Motion to provide page transitions on my site. I've created a separate issue here: [https://github.com/gatsbyjs/gatsby/issues/34187](https://github.com/gatsbyjs/gatsby/issues/34187)

[2021-12-03 11:45] CeliaDagorne opened #34189 "Building static HTML failed for path "/infographics""
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

**g

[2021-12-03 12:40] #33965 closed

[2021-12-03 13:51] wardpeet commented on #34189
Hi,

Thank you for the reproduction, but I couldn't run it locally as I didn't have prismic env vars. To help you further, we would need a minimal reproduction that works without prismic.

From glancing at the code, the problem is somewhere here:
[code]

[2021-12-03 14:26] CeliaDagorne commented on #34189
Hi @wardpeet,

Thanks a lot for your answer. I've removed this chunk, still got the same error. I've added all needed files to run locally the reproduction :) thank you for your time !

[2021-12-03 16:06] graysonhicks commented on #22206
Does anyone have a repo that I can use to reproduce this?  Even if you've implemented one of the workarounds above, I am trying to test a fix in the framework itself.  Let me know, thanks!

[2021-12-03 16:15] m99coder commented on #22206
My issue is that https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-image interferes with this solution https://github.com/gatsbyjs/gatsby/issues/22206#issuecomment-813351682 as it also uses `setHeadComponents`, I guess.

[2021-12-03 16:24] graysonhicks commented on #22206
@m99coder I believe the solution I am working on will always take place within the framework, after react-helmet.

[2021-12-03 17:19] Glazy opened #34190 "[gatsby-plugin-image] Images flickering on route change using GatsbyImage"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-12-03 17:35] Glazy commented on #32037
Related to #34190 which contains a screen recording and a simple reproduction of this issue.

[2021-12-03 17:38] Glazy commented on #18858
Related to #34190 which contains a screen recording and a simple reproduction of this issue.

[2021-12-03 18:03] Glazy opened #34191 "[gatsby-plugin-mdx] unreachable code after return statement"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-12-03 18:06] Glazy commented on #23171
Related to #34191 which contains a minimal reproduction of this issue.

[2021-12-03 18:08] jaredhill4 opened #34192 "[gatsby-source-graphql] download images from remote schema using Gatsby v4"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Summary

When using the `gatsby-source-grap

[2021-12-03 18:10] jaredhill4 commented on #34192
Because of the issue stated above, I'm unable to use the `gatsby-source-graphql` plugin if I want to generate file nodes for use with `gatsby-plugin-image`.

[2021-12-03 19:26] graysonhicks commented on #22206
I think I was able to reproduce it here: https://github.com/graysonhicks/head-tags-test

I arbitrarily added as many `head` tags as I could (styles, `link`s to `page-data.json`, gatsby-image, lots of og/twitter tags, etc.).  See screenshot here to see tags added by Helmet coming up below the other meta tags with `link`s in between.  Going to test next with the change in framework to see if it reso

[2021-12-03 20:00] m99coder commented on #22206
@graysonhicks That’s exactly what also happens in my case. If you wanna have a look at a “live” site: https://woodist.de. Can’t share the source, though.

[2021-12-04 11:00] RobCharlet commented on #34106
Hi, i update the bug repo link.
[code]
Cause the issue. If i remove this 2 plugins Gatsby built correctly.

@kmajzlik Thanks, it fails with no logs, even with --verbose, and i can't see no performance issues on my server.

[2021-12-04 11:53] kmajzlik commented on #34106
@RobCharlet  - great!  I will try to remove images from project and test. For me it also do not seem like performance as i described my server (16GB RAM) in Discussion link.

[2021-12-04 12:02] #33109 closed

[2021-12-04 14:44] authoritydental commented on #20493
Is this problem solved?

We get the lighthouse error `properly size images` on our gatsby site no matter what we do.

https://i.gyazo.com/92d9863b09d6bd95691c4bf31ca452ee.png

[2021-12-04 15:56] good3n commented on #8771
+1 :(

[2021-12-04 17:11] engti commented on #10271
@shansmith01 I know its 2 years later, but there is very little documentation on updating the datalayer from Gatsby.

I know it's a tall ask, but would you be able to point me at how to get the above working.  I am new to webdev, and am struggling at making your above code work.

Thanks.

[2021-12-04 19:41] fshowalter commented on #33677
@LekoArts possible this is hitting gatsby-remark-smartypants too?

[2021-12-05 01:04] LeonardoGentile commented on #18451
I'm using gatsby "3.13.1" and this is still happening to me.
Using `gatsby-theme-blog` I've simply shadowed the `bio` component (for a simple test just copied the entire file) and it throws "Multiple "root" queries found: "BioQuery" and "BioQuery"."

[2021-12-05 03:12] tlylt commented on #6698
Came across this issue today with gatsby v4. My problem was that the `gatsby-remark-images` do not make any changes to some image files.

What worked for me was to change the images (both the image and the inline markdown) with `.PNG` extension to `.png` extension.

[2021-12-05 06:43] rynoV commented on #1457
For those using this setup running into this issue, I kept my `gatsby-node.ts` as it was and added a `gatsby-node.js` with just the line:

[code]

and this seems to have gotten rid of the warning. Although now I get

[code]

[2021-12-05 07:47] JannikWempe commented on #33636
I was finally able to resolve the issue for me. It was due to a custom `babel.config.js` which looked like:

[code]

Getting rid of it and just using the default babel config resolved the issue in my case. BUT I am not exactly sure about the root cause and the reproduction repo does not use a custom babel config.

[2021-12-05 11:57] lxfu1 commented on #14213
I have the same problem and my page is missing.

[2021-12-05 12:47] ciokan commented on #17045
Tried to do something similar (resolving the html field of remark) but my code fails with:

[code]

resolver code:

        Post  : {
			html      : {
				resolve: async (source, _, context, info) => {
					const resolver = info.schema.getType("MarkdownRemark").getFields()["html"].resolve;
					const node = await context.nodeModel.getNodeById(source.id);
					const args = {};
					return await res

[2021-12-05 15:42] verystack commented on #12913
Bump. This has vanished in Gatsby v4 in production only. Very annoying.

[2021-12-05 18:07] tonyhallett commented on #33628
Still an issue

[2021-12-05 18:08] tonyhallett commented on #33629
Still an issue

[2021-12-05 21:36] marvinjude commented on #34187
Hi,

Thanks for the reproduction,

Tried to debug this and I noticed a few things:

- The image shows up when I change `data-srcset`  prop on the img element to `srcset`  (video here
https://watch.screencastify.com/v/s0beQCrjdmGEfPSQE9ZH)
- The Image shows up fine without the using framer
- There's an embeded script that swap the attributes

[code]

@wardpeet @TylerBarnes  Have an idea what this i

[2021-12-05 23:02] Vacilando opened #34199 "Gatsby cache irrelevant in onCreateNode"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Summary

"cache" is one of the shared helpe

[2021-12-06 02:08] graysonhicks commented on #34187
Looks like this: https://github.com/gatsbyjs/gatsby/blob/4a765b5c62208d58f0bd7fd59558160c0b9feed3/packages/gatsby-plugin-image/src/components/layout-wrapper.tsx

[2021-12-06 02:10] graysonhicks commented on #34187
Not sure if this is released or if it would resolve: https://github.com/wp-graphql/wpgraphql.com/pull/28/files

[2021-12-06 02:47] ntran-star commented on #23633
I don't use `gatsby-source-ghost` but still encounter the same issue in `gatsby 3.13.1`. Any solution?

[2021-12-06 08:13] LekoArts commented on #34199
Hi, thanks for the issue!

The section you're referring to is the API documentation and we try to keep that concise and encapsulated. Did you follow a specific guide or instructions so that you wanted to use `cache` in `onCreateNode`? We typically show examples of this in `sourceNodes` or `onPostBuild`.

I'd propose to modify the description of `onCreateNode` to say that it won't be called on subs

[2021-12-06 10:20] ar0ra1 opened #34201 "Gatsby-transformer-sharp broke after migrating to v4"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

1.

[2021-12-06 11:50] #34189 closed

[2021-12-06 13:33] saby22 commented on #34177
Facing the same issue

[2021-12-06 14:54] fshowalter commented on #34172
It's hitting me too. https://github.com/fshowalter/franksmovielog.com/pull/541

[2021-12-06 14:57] LekoArts commented on #34172
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2021-12-06 14:58] LekoArts commented on #34177
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

This also might be related to https://github.com/gatsbyjs/gatsby/issues/34172 --

[2021-12-06 16:08] Vacilando commented on #34199
We never know which way will the users follow. Examples and tutorials may be useful for some but in my case I already knew about the "cache" helper (I've implemented it in sourceNodes in another plugin) and wanted to use it for onCreateNode.

I set cache but never managed to read it - indeed Gatsby was skipping onCreateNode at subsequent builds without source changes.
So I looked further, found ht

[2021-12-06 16:45] TylerBarnes commented on #34187
I think the reason might be that framer isn't rendering the html field with Gatsby images when Gatsby expects them to be rendered (which is immediately). Most likely they're being rendered after some delay and the code which hydrates the images has already ran https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/gatsby-browser.ts

[2021-12-06 16:56] lxfu1 commented on #14213
Solved, caused by graphql limit.

[2021-12-06 17:18] fshowalter commented on #34172
@LekoArts I believe https://github.com/preactjs/preact/issues/3277 is the underlying issue. I'm trying to suss out what introduced the problem, but it's a combination of preact + hooks. For me, it's hitting when I call useLocation on the vendored reach-router.

[2021-12-06 18:02] fshowalter commented on #34172
@LekoArts suspect this can double as a minimal reproduction: https://github.com/gatsbyjs/gatsby/issues/33509

[2021-12-06 18:41] LarsEjaas commented on #34172
@LekoArts Thanks for looking into this. I think I need a bit of help with the minimal reproduction if https://github.com/gatsbyjs/gatsby/issues/33509 isn't useful.

The error I get is also pointing towards `Building static HTML failed for path "/offline-plugin-app-shell-fallback". `
Does this imply I need a minimal reproduction including  "gatsby-plugin-offline" or what do you think?

[2021-12-06 18:47] fshowalter commented on #34172
The path is a red-herring, if you look at the call-stack it's failing in preact's hooks implementation. What are you doing in `bailfacile-gatsby-app/src/context.tsx` on line 348?

[2021-12-06 22:56] amaliwanag2 opened #34206 "Gatsby Plugin Sharp / Gatsby Image Sharp - always sets backgroundColor to : "#080808" in gatsbyImageData"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hel

[2021-12-07 00:44] trevorblades commented on #15991
I'm still noticing this issue @gatsbybot @MichaelDeBoey. Trying to use `gatsby-remark-embedder` and it'll only work if i change `exports.default` to `module.exports` in the plugin within `node_modules`.

[2021-12-07 10:23] andrewgolovanov commented on #33745
I see the same problem in Safari, with `gatsby-source-wordpress@^6.1.2` and above,
rolling back to version `5.14.2` helped me solve this problem

[2021-12-07 12:40] rforster-dev commented on #29721
Not stale - i've had to create some custom GraphQL to expose the ordering of a separate plugin that handles reOrdering of posts and taxonomies, but this should be still considered as menu order in WP is core functionality.

[2021-12-07 12:44] rforster-dev opened #34210 "Using custom post types in WP, on a cached build, content changes in the editor are not being picked up - only on a clean build"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Whe

[2021-12-07 14:19] kszot-ref opened #34214 "Gatsby v4 memory usage during Parallel Query Running"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Aft

[2021-12-07 14:36] LekoArts commented on #34210
Hi, thanks for the issue!

To make the process of resolving problems quicker for both sides we need you to fill out the issue template and give us a [minimal reproduction][reproduction]. This reproduction should also use the latest version of every package (so Gatsby 4).

[reproduction]: https://gatsby.dev/reproduction

[2021-12-07 14:38] LekoArts commented on #34206
Hi, thanks for the issue!

To make the process of resolving problems quicker for both sides we need you to fill out the issue template and give us a [minimal reproduction][reproduction]. The project you linked is too big and not a minimal reproduction. You'll also need to use the latest version of Gatsby packages, so Gatsby v4 etc.

[reproduction]: https://gatsby.dev/reproduction

[2021-12-07 15:03] jrock2004 commented on #13322
I was having this issue as well and I noticed in one of my markdown files for my image I had the following which was causing confusion:

[code]

[2021-12-07 15:35] Sameedahmad commented on #25658
@suleymanbariseser It would work this way, however it takes so long for the build, I don't know why this is happening on windows only, As my other colleagues on mac don't run into this issue at all.

[2021-12-07 17:15] lnikell commented on #33745
Quick video demo, created with a generic gatsby starter and local wordpress.

https://user-images.githubusercontent.com/2697570/145075354-581f3537-25b8-4749-8559-d7511d0d085c.mp4

[2021-12-08 03:36] cesarvarela opened #34216 "using navigate function with query strings throws 404"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Usi

[2021-12-08 03:42] graysonhicks commented on #34216
Are you trying to navigate to same URL you are already on, but with a query string attached?

[2021-12-08 03:43] cesarvarela commented on #34216
Yes

[2021-12-08 03:44] cesarvarela commented on #34216
I'm looking at this: https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-link/#recommendations-for-programmatic-in-app-navigation

[2021-12-08 03:59] graysonhicks commented on #34216
Okay, so two things:

- with the `@reach/router` version of `navigate` it 404s in develop, but works with build + serve
- more importantly, I think the docs are stale there.  instead of importing `navigate` from `@reach/router`, import it from gatsby:

[code]

Then it works as intended in develop and prod.  PR to fix docs incoming.

[2021-12-08 04:04] graysonhicks commented on #34216
PR to update docs here: https://github.com/gatsbyjs/gatsby/pull/34217

Odd that the docs seem to specifically say you *can't* do this, but it seems to work for me.

[2021-12-08 04:08] graysonhicks commented on #34206
I don't know where `allCauses` is coming from, but this is likely from a source plugin or transformer not passing global sharp options in.  Similar to known contentful issue: https://github.com/gatsbyjs/gatsby/pull/33536

[2021-12-08 07:18] #34216 closed

[2021-12-08 07:51] TinsFox opened #34218 "pnpm support"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

I w

[2021-12-08 07:55] LekoArts commented on #34218
Hi!

Have you tried using https://github.com/Js-Brecht/gatsby-plugin-pnpm ?

[2021-12-08 08:09] TinsFox commented on #34218
This solved my problem, thank you

[2021-12-08 08:10] #34218 closed

[2021-12-08 08:11] TinsFox commented on #34218
This solved my problem, thank you

[2021-12-08 09:58] RahiniHugsi opened #34220 "404 error when page is refreshed"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Liv

[2021-12-08 12:19] #33936 closed

[2021-12-08 13:26] chiulam opened #34223 "Gatsby Functions is not working after deploy to Gatsby Cloud"
### Preliminary Checks

- [X] This issue is not a duplicate. Before opening a new issue, please search existing issues: https://github.com/gatsbyjs/gatsby/issues
- [X] This issue is not a question, feature request, RFC, or anything other than a bug report directly related to Gatsby. Please post those things in GitHub Discussions: https://github.com/gatsbyjs/gatsby/discussions

### Description

Hi

[2021-12-08 13:39] LekoArts commented on #34223
Hi, thanks for the issue!
We're only tracking issues for the open source product here, please head over to https://www.gatsbyjs.com/support/ to report issues with Gatsby Cloud.

Thanks!

[2021-12-08 13:39] #34223 closed

[2021-12-08 18:57] fshowalter commented on #34172
@LekoArts minimal reproduction repo here: https://github.com/fshowalter/gatsby-preact-issue

[2021-12-08 20:14] wahidshafique commented on #11830
to continue the thread, I ran into this very issue about its seemingly non-optimal defaults. I'd like fresh content to be the preferred default, save for things like images or other static content. However it seems to be the other way around here. Reading some comments above made me just uninstall the thing

[2021-12-08 21:32] wu-lee commented on #3344
I'm having trouble with this still, four years after this issue's creation.

I've attempted to fix it as documented here:

https://www.gatsbyjs.com/docs/reference/config-files/gatsby-node/#createSchemaCustomization

And:

https://www.gatsbyjs.org/docs/schema-customization/#creating-type-definitions

However, first I wanted to ask, why is `sourceNode` is being used in the [post above][1] instead of

[2021-12-08 22:20] fergusfrl commented on #34009
@ardiewen thanks for raising. We are also experiencing this issue.

[2021-12-09 03:01] iChenLei commented on #33837
Latest update https://github.com/GoogleChrome/lighthouse/issues/13396#issuecomment-989286890

[2021-12-09 03:06] iChenLei commented on #34015
This issue had been fixed ? @watway

[2021-12-09 06:50] stevensacks commented on #33688
Hi, it's been about a month so I'm checking in to see how this is going since I'm still blocked from upgrading to Gatsby 4.

[2021-12-09 07:38] LekoArts commented on #33837
Please follow https://github.com/GoogleChrome/lighthouse/issues/13396 for resolution on this. It's not something we can fix. Thanks!

[2021-12-09 07:38] #33837 closed

[2021-12-09 08:19] LekoArts commented on #34175
Thanks, we'll get this documented! :)

[2021-12-09 12:17] #34175 closed

[2021-12-09 14:45] LekoArts commented on #34072
Hi, thanks for the issue!

I understand that the current behavior can be confusing at times but it is the currently intended behavior. If we'd want to do changes to this it would need to happen in a new major version as it would be a breaking change (changes could be proposed here: https://github.com/gatsbyjs/gatsby/discussions/categories/rfc).

In https://github.com/gatsbyjs/gatsby/pull/34226 we

[2021-12-09 14:49] dnlmzw commented on #34010
Could you provide insight into why it's not located at /sitemap.xml?

I'm working with an agency, who's requesting this and I don't have the knowledge to counter argue it when tools like https://www.seoptimer.com/sitemap-checker/inpay.com and Google https://search.google.com/search-console/sitemaps?resource_id=https%3A%2F%2Fwww.inpay.com%2F doesn't automatically detect them.

Seems like quite a wo