[2018-09-25 08:13] wongsynee commented on #2289
Thanks @Pencroff

[2018-09-25 09:12] kakadiadarpan commented on #8523
@larryPersonal in Gatsby v2, layouts have been removed and that's why `createLayout` was also removed. To support existing apps with `Layout`, [`gatsby-plugin-layout`](https://www.gatsbyjs.org/packages/gatsby-plugin-layout/) was created. In v1 `Layout` was a wrapper around `PageElement`, in v2 `PageElement` is a wrapper around `Layout` (This information is availble in the documentation of `gatsby-

[2018-09-25 10:01] pieh commented on #8345
This was fixed by #8346

[2018-09-25 10:01] #8345 closed

[2018-09-25 10:03] pieh commented on #8257
you can query contentful data in your index.js - alternatively you can remove index.js from `src/pages` and use `createPage` in gatsby-node to create your index page (with path set to `/`)

[2018-09-25 10:04] ivorpad commented on #8511
@mikelax Yes, v2.0.7

@graysonhicks Sure Grayson, here's my `modal.js` file https://github.com/ivorpad/ivorpad_com/blob/master/src/components/modal.js#L29

I'm using Contentful, let me know if you need a quick Contentful demo to debug.

[2018-09-25 10:32] pieh commented on #8454
If you get empty media array then wordpress plugin can't match images to media nodes - did you disable `media` endpoint? Try setting `verboseOutput` in gatsby-config for wordpress plugin to `true`

[2018-09-25 10:39] kmorf commented on #8488
@dumblole You have `gatsby-transformer-remark`. Can you try removing one?

[2018-09-25 10:42] PhiLhoSoft opened #8524 "Add more context to error reporting"
## Summary

gatsby-transformer-remark returns errors without specifying in which file it happens.
It should display this information.

### Motivation

Context: I try to rewrite my website made with Hexo, using Gatsby.

One issue I stumbled upon is that my Markdown files were using a frontmatter with only three dashes at the end, working with Hexo, but ignored by Gatsby. So I had a mostly empty fro

[2018-09-25 10:50] mikelax commented on #8511
I haven’t used that Modal component before, but after reviewing the readme I think you may want to use use the function “onRequestClose” in the Modal. In this function you can call the “navigate” function to get back to the “main page”. I don’t even think you would need to worry about resetting state as it would be a fresh render.

[2018-09-25 10:57] kmorf commented on #8475
What you did is correct. Mine is also similar, but images are part of frontmatter instead of fields.
[code]
And I call my images using:
[code]

(from the Docs: https://www.gatsbyjs.org/packages/gatsby-image/)

[2018-09-25 11:05] pieh commented on #8523
As @kakadiadarpan said, layout special components were removed in v2 - you will need to pass data (`translations`, `currentLocale`) to page context and adjust code. If you are using `gatsby-plugin-layout` - layout component should receive same props as page

[2018-09-25 11:53] kakadiadarpan commented on #8503
@ukch can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-25 11:56] kmorf commented on #8200
@RobertWSaunders I found it easier to handle redirects by editing my `netlify.toml` file.

Can you check that your rules are passed in a `_redirects` file in your public folder after building? I couldn't so I thought something must be wrong with the Docs. I only see a _headers file in my public folder.

https://www.gatsbyjs.org/docs/actions/#createRedirect
https://www.gatsbyjs.org/packages/gatsby-

[2018-09-25 11:59] kakadiadarpan commented on #4535
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:00] gosseti commented on #8454
Oh very silly of me, that was exactly it! I’d blacklisted the media endpoint in `excludedRoutes`. That’s now added back in and everything is working perfectly.

[2018-09-25 12:00] #8454 closed

[2018-09-25 12:01] kakadiadarpan commented on #4510
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:30] ivorpad commented on #8511
@mikelax Thanks Mike,

I need to reset the state `onAfterOpen` because I'm trying to replicate Instagram's functionality, that is, open the modal `onClick` and if the page is refreshed or opened from a URL then a single page is displayed.

[2018-09-25 12:39] kakadiadarpan commented on #5264
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:45] kakadiadarpan commented on #4478
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:47] kakadiadarpan commented on #4470
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:49] kakadiadarpan commented on #4418
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:51] fk commented on #8482
Yep, that was it (see https://help.github.com/articles/closing-issues-using-keywords/).

If you want to reference an issue from a pull request or commit, just referencing the issue number there should result in a reference showing up on GitHub.
For example I'm mentioning issue 7754 in [this PR](https://github.com/gatsbyjs/gatsby/pull/8411) and also in a [commit message](https://github.com/gatsbyjs

[2018-09-25 12:53] kakadiadarpan commented on #5100
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-25 12:58] jaredsilver commented on #4418
I haven't experienced this problem in months, so I'm going to close the issue. If it comes up again, or if someone else experiences something similar, we can reopen it.

[2018-09-25 12:58] #4418 closed

[2018-09-25 13:00] supermoos commented on #4539
@tremby The main problem I've seen is when you also define a crop mode, since some crop modes will return width/heights that cannot be precomputed without knowing the exact image dimensions of the source image.

[2018-09-25 13:30] ivorpad commented on #8511
The issue was solved with a bit of logic similar to [post-page.js#L14](https://github.com/gatsbyjs/gatsby/blob/master/examples/gatsbygram/src/templates/post-page.js#L14)

[2018-09-25 13:30] #8511 closed

[2018-09-25 13:37] crosscompile commented on #8420
I feel like I'm taking crazy pills, but I've been able to reproduce repeatedly with the following steps:

[code]

For some reason with a fresh clone it takes three restarts for the schema to change, but with manually removing `.cache` it only takes two restarts.

I think the problem has something to do with gatsby-remark-images so I might try to investigate there.

[2018-09-25 13:43] IanLunn opened #8525 "Can user data be server-side rendered?"
I understand that Gatsby has SSR built in for static content such as blog pages but how best do I pre-populate user data in a form, for example? I’d like to pre-populate a form with any previous user input for the given user. Can this data be server-side rendered or does it have to be populated on the client-side? If the latter, what is the best way to get that data to the client-side as quickly a

[2018-09-25 13:43] mikelax commented on #5609
Closing this issue, the referenced PR seems to have made the text updates within the relevant tutorial sections

[2018-09-25 13:43] #5609 closed

[2018-09-25 13:58] tylerbuchea commented on #8341
Yeah kmjennison that is essentially it. There are some other pieces revolving around gtag options, multiple trackingIds, DNT, and pageview events. I'm done building the plugin and in the testing phase with my brother now. Would love some help though if you're interested?

[2018-09-25 14:12] RobertWSaunders commented on #8200
Yeah using `createRedirects` works for me, it just didn't force the status by adding an exclamation mark. I added a couple of lines to my `gatsby-node.js` file to create the redirects file on the fly. I made this PR to add the force redirect status. https://github.com/gatsbyjs/gatsby/pull/8521

[2018-09-25 14:19] oorestisime commented on #8498
Hi,

i have some md templates with something similar, here is my graphql query
[code]
and in .md

[code]

This works for me so it should be working for you as well.

[2018-09-25 14:39] kmjennison commented on #8341
@tylerbuchea Sure, happy to help, though mostly offline this week. LMK how I can be helpful.

[2018-09-25 14:43] graysonhicks commented on #8498
I noticed that the two examples are different in how they are defining the array of images (one with bullets, one in brackets with commas).  Also in @tbaustin example, when you change the markdown field to `images` are you also changing the query to `images`?  I noticed the query still says `image`.

[2018-09-25 14:51] crosscompile commented on #8420
A couple more data points, it looks like when `onCreateNode` is called for gatsby-remark-images it does not contain the [default `pluginOptions`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js#L21-L29):

[code]

But `.cache/redux-state.json` does contain the default `pluginOptions` for gatsby-remark-images:

[code]

[2018-09-25 14:53] imshuffling commented on #8257
Thanks @pieh, have you seen any examples of this?

My current gatsby-node.js

[code]

How would I go about setting the index page in the above? Thanks

[2018-09-25 14:54] amberleyromo commented on #8482
I tend to pattern all my commit messages prefixed with an issue number, so it 1) does what @fk was mentioning^ and 2) easily tracked later

[2018-09-25 15:33] ascorbic opened #8527 "Caching JavaScript"
What is the current best practice for caching js files? [The docs on caching](https://next.gatsbyjs.org/docs/caching/) haven't been updated for v2, but suggest that Webpack 3 will enable them to be cached. Is it OK to send long cache control expiry times now?

[2018-09-25 15:46] tbaustin commented on #8498
@graysonhicks Yes I am changing the query it just returns the strings. I will try the brackets and see if that works!

[2018-09-25 15:53] tbaustin commented on #8498
Here is the repo I am working from: https://github.com/escaladesports/rocketbroadheads.com/tree/gatsby

[2018-09-25 15:56] tbaustin commented on #8498
I couldn't get the brackets to work. I am still just getting the strings back:
<img width="988" alt="screen shot 2018-09-25 at 10 55 46 am" src="https://user-images.githubusercontent.com/14001400/46026702-a41e6580-c0b1-11e8-8a2f-7122124992d4.png">

[2018-09-25 16:08] tbaustin commented on #8498
@oorestisime
Do you have a repo of this? So I can compare?

[2018-09-25 17:01] pieh commented on #8257
Did you check `using-contentful` example? it has `src/pages/index.js` which query contentful for some data - https://github.com/gatsbyjs/gatsby/blob/master/examples/using-contentful/src/pages/index.js#L82-L115

[2018-09-25 17:07] shannonbux commented on #8482
ah nice! I love learning best practices! Thanks @fk and @amberleyromo!

On Tue, Sep 25, 2018 at 8:59 AM Amberley <notifications@github.com> wrote:

[2018-09-25 18:43] kossel opened #8531 "Some component doesn't render properly in prod build."
I'm using the [react-custom-scrollbar](https://github.com/malte-wessel/react-custom-scrollbars) inside of Gatsby.js. in development mode it works fine, however when it's bundler for prod, it doesn't render properly.

In prod mode, looks like the component cannot get the proper scrollHeight and width, but whenever I click any thing, it will work as expected after that, any idea what can I do to eit

[2018-09-25 18:50] jamin84 commented on #633
I also received the `StaticQuery` error which stemmed from using `push` imported from `gatsby`. Updating to import from `gatsby-link` corrected the error.

[2018-09-25 19:43] vadimshvetsov opened #8533 "How to manage dependencies with gatsby-dev-cli?"
Hey, I've already have this question at [Stackoverflow](https://stackoverflow.com/questions/52474838/how-to-manage-package-dependencies-with-gatsby-dev-cli) and asked this question in gatsby's channel at discord but nobody reacts.

I can't find a good way to work with `gatsby-dev-cli` and test site. When I'm trying to work with `gatsby-transformer-remark` there are tons of errors about missing dep

[2018-09-25 19:48] ajithr commented on #8504
@DSchau @KyleAMathews Thanks for the quick response. I have checked with the PR you provided. Sadly, I am still facing the same memory issue on `createPages` hook from my end. I have created a simple application and the same can be referred in the below link.

https://github.com/ajithr/gatsby-starter-blog

Can you let me know, if any plugin or config is the cause of the memory issue? So that, I ca

[2018-09-25 20:06] oorestisime commented on #8498
@tbaustin here it is https://github.com/oorestisime/oasome it is a mess right now. i change many things constantly.
but i guess you could fire up develop and query in the graphql server

[code]

[2018-09-25 20:06] tbaustin commented on #8498
I was just going to look how you set up your `gatsby-config` , make sure mine is set up correctly!

[2018-09-25 20:12] oorestisime commented on #8498
The link to your repo doesnt work so i can't have a look for helping :/

[2018-09-25 20:14] tbaustin commented on #8498
Let me repush up what I have. You should just have to `yarn` and then `yarn dev`. Give it a couple of min so I can push what I have up.

[2018-09-25 20:27] DSchau opened #8535 "[v2]: Behavior with new files in pages/ not working correctly"
After watching a demo earlier, it appeared that hot reloading may not be working perfectly in all use cases.

Particularly, the following should serve as reproduction steps:

- `gatsby new blog https://github.com/gatsbyjs/gatsby-starter-blog`
- `cd blog`
- `yarn`
- `yarn develop`
- Wait for local server to be up and running, make a change to `src/pages/index.js` and observe hot reload
- Add a `<Li

[2018-09-25 20:53] anderskitson commented on #8478
hmm, when I run that command Gatsby complains and gives me the command options, basically saying it does not recognize that command, I tried just `gatsby info` on its own and got the same response

[2018-09-25 20:57] tbaustin commented on #8498
@oorestisime I'm not really sure what I'm doing different lol. If you want to just look at the repo and look at my `gatsby-config` and then the markdown products under `images` property and see if that all looks correct to you?

[2018-09-25 21:04] oorestisime commented on #8498
Sure but you need to give me a link ;)

[2018-09-25 21:05] tbaustin commented on #8498
https://github.com/escaladesports/rocketbroadheads.com/tree/gatsby
sorry about that

[2018-09-25 21:07] oorestisime commented on #8498
404 :/ probably a private repo

[2018-09-25 21:12] DSchau commented on #8504
@ajithr thanks for the repo, that's very helpful. I was previously using [gatsby-bench](https://github.com/DSchau/gatsby-bench) which does not manifest the issue after pulling in that PR.

I'll keep working on it, and try to get something set up. I think the "best" course of action might be some mechanism of entirely disabling the cache, but I don't love that, and will keep trying something new. B

[2018-09-25 21:15] ChristopherBiscardi commented on #8395
Would be happy to look into it from the gatsby-mdx side. Running through the tutorial might have subtle differences if you replace the remark transformer they use with gatsby-mdx. I'll take a look at trying to replicate this by following the tutorial (tracked in https://github.com/ChristopherBiscardi/gatsby-mdx/issues/155)

For some simple context, the component passed to `componentWithMDXScope` s

[2018-09-25 21:16] tbaustin commented on #8498
You're right. Here is a different repo same code: https://github.com/tbaustin/test-images-rocket/tree/gatsby

[2018-09-25 21:34] eric-personal commented on #8519
Thanks kakadiadarpan not right now but good to know its fixed on V2.

[2018-09-25 21:55] tfuqua commented on #4967
This fixed issue for me

[2018-09-25 22:03] DSchau commented on #8517
@amberleyromo is this basically sourcing/passing environment variables from the Publish container or something different? If it is... I ran into this the last time I used Publish, so this would be great to get fixed!

[2018-09-25 22:09] amberleyromo commented on #8517
@DSchau yeah, we're needing to pass an env variable for .org builds-- i'm not familiar with our deploy process, so yep, just need some help on it from Andrew.

[2018-09-25 22:12] kenjwho commented on #7377
Thanks @KyleAMathews !  Incase it helps anyone else getting this error, I simply had some non-matching `fixed` & `fluid` terms floating around.  My error messages pointed me directly to the problem once I took the time to read them ;)

[2018-09-25 22:12] KyleAMathews commented on #8504
Could we test that by adding a simple PR which only writes out the cache once, once the bootstrap finishes?

[2018-09-25 22:17] DSchau commented on #8504
@KyleAMathews you mean augmenting gatsby-transformer-remark to basically gather it's data, and cache in [onPostBootstrap](https://www.gatsbyjs.org/docs/node-apis/#onPostBootstrap) rather than in `onCreateNode` right?

I'll do that in a bit.

[2018-09-25 22:29] dumblole commented on #8488
@kmorf No effect

[2018-09-25 22:33] coreyward opened #8538 "`gatsby-transformer-json` incompatible with `gatsby-source-contentful`"
## Description
I believe there's an incompatibility between `gatsby-transformer-json` and `gatsby-source-contentful` that results in an error on boot. I am experiencing this issue identically to #5680 (closed, marked stale).

In short, `gatsby-transformer-json/gatsby-node.js` attempts to process JSON coming back from `gatsby-source-contentful` and fails when it's unable to determine the directory

[2018-09-25 22:50] coreyward commented on #8538
I'm able to get around this for my particular situation with this diff, but I don't know the broader implications of relying on the availability of `contentDigest` as a test for “should this be processed by transformer-json". Hoping someone more senior on the project can weigh in and advise:

[code]

[2018-09-25 22:57] oorestisime commented on #8498
i played around but couldn't find anything weird on the images .

[2018-09-25 23:00] emman24 opened #8540 "Media Query not working!"
Good day I have problem using media query on my gatsby project its not working on the actual device i  put it on my main.scss when i tested on my chrome seems working but need to refresh couple times and when i use Responsinator its seems broken see picture below

Chrome Results :
![3](https://user-images.githubusercontent.com/25625894/46047806-5d456580-c0db-11e8-9df5-bbbef8af9382.PNG)

[responsin

[2018-09-25 23:12] coreyward commented on #8540
What leads you to believe this is Gatsby related?

[2018-09-25 23:14] emman24 commented on #8540
Need help @coreyward

[2018-09-25 23:27] eLod commented on #8538
this is caused by `path.basename(node.dir)` in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-json/src/gatsby-node.js#L14, i added the `getType` function, but the functionality hasn't changed (for the specific code path we are talking about), so i guess it was broken before as well. maybe check if `node.dir` exists and fallback to something else? what @pieh suggested ma

[2018-09-25 23:30] coreyward commented on #8538
Thanks @pieh, @eLod. If I understand @pieh's proposal, this would still have `gatsby-transformer-json` run on Contentful JSON. Is there any benefit to that? Would it be better/worse to short circuit here?
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-json/src/gatsby-node.js#L41-L43

[2018-09-25 23:33] voordev opened #8541 "Gatsby websites with available source code?"
Is there a way to Gatsby showcase, add filter to show sites that are opensourced with repo, github icon
I still find it a bit hard to get started with Gatsby and learn how to implement stuff like navigation components.

[2018-09-25 23:36] forxtu opened #8542 "StaticQuery and Redux"
Hi!

I'm trying to use Redux, in my React gatsby app, with StaticQuery in my component but I've faced an issue with 'connect'. Is it possible to use them together?

[code]
![image](https://user-images.githubusercontent.com/18015187/46048812-a02f2980-c12b-11e8-87bc-076384ac0133.png)

**Not sure about this error and how to solve it...**

PS: I've tried also use 'connect decorator' syntax but got an

[2018-09-25 23:41] pieh commented on #8538
This would also short circuit all other non-file usage of json transformer and make it unusable for those. We need to make a change anyway to fix build breakage, so I would vote for making it work with non-file jsons.

Can you access your json data when short circuiting it?

[2018-09-25 23:41] eLod commented on #8538
i am not familiar with contentful, but i see it creates nodes with `internal.mediaType = "application/json"` but the actual "content" of the node is already parsed js object, see https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/normalize.js#L187 so yeah maybe it should be also excluded from `gatsby-transformer-json`, like checking the node's owner

[2018-09-25 23:43] aa6864 opened #8543 "Question about hybrid apps using Gatsby"
I found [this](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/) on the Gatsby page to create hybrid apps. I want to create a landing page and also a logged-in experience for the app that is dynamic and needs communication with the server. From the documentation and also the issues here it seems to be possible. But wondering if anyone has any opinions about these two options:

1. Use the h

[2018-09-25 23:54] pieh commented on #8538
That's weird way of doing that on contentful plugin side then - if it does handle json, then it probably shouldn't create node with `application/json` mime (but changing that right now would probably be breaking change).

It seems like contentful is only plugin in this repo that is creating nodes with that mime, but I don't know about 3rd party plugins - I still think we should fix type name gener

[2018-09-25 23:54] coreyward commented on #8538
@pieh Okay, README of transformer-json suggests it _only_ works with files. We should update that to make broader usage clear.

Yes, I can access my JSON data in `data/pricing.json` with the short-circuit in place.

@elod I thought so too, but if you look the next line does `JSON.stringify`:

https://github.com/gatsbyjs/gatsby/blob/f14c3b49f43e417f5caead989f77b4f97e2a9821/packages/gatsby-source-co

[2018-09-26 00:00] eLod commented on #8538
@pieh right, agreed, what i've meant is in addition to fixing the obvious bug with `node.dir` also fixing the double json parsing with contentful (in transformer-json by checking the owner, or something similar). that said i am not familiar enough with contentful to know where that json is parsed originally, e.g. if it should be fixed there (like keeping it text and defer parsing to transformer-js

[2018-09-26 00:04] coreyward commented on #8538
@eLod  Oh, gotcha. It's turtles all the way down. 😅

Pull request coming with the `node.internal.type !== "File"` logic branch in `getType`.

[2018-09-26 00:08] eLod commented on #8538
@coreyward right but that does not solve the double parsing problem. i guess contentful shouldn't parse the json itself it that's viable and rely on transformer-json as it does with markdown content i guess.

[2018-09-26 00:09] rwieruch opened #8545 "[gatsby-plugin-preact] Uncaught TypeError: Object(...) is not a function"
## Description

I wanted to use gatsby-plugin-preact but I ran into an issue. So I created a minimal issue where it happens too.

### Steps to reproduce

Take the [gatsby-starter-blog](https://github.com/gatsbyjs/gatsby-starter-blog) (or I guess any other project), do the setup, and install [gatsby-plugin-react](https://www.gatsbyjs.org/packages/gatsby-plugin-preact/). [Here is a minimal applicati

[2018-09-26 00:15] coreyward commented on #8538
@eLod Yep, not trying to fix two issues in one PR. In any case I think the three of us would need additional context for the rationale behind the Contentful behavior and I'm hoping to get this PR in ASAP so I can use it without referencing a fork in my dependencies.

[2018-09-26 00:32] dumblole opened #8546 "specified module could not be found: sharp"
## Description

Sharp is not found

### Steps to reproduce

Install `gatsby-plugin-sharp` along with `gatsby-remark-images`
Paste in config as stated by the documentation https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-images#how-to-use

Install vs community 2017 according to :
https://www.gatsbyjs.org/docs/gatsby-on-windows/

I've done the same process countless times over w

[2018-09-26 00:34] eLod commented on #8538
@coreyward you can also set the `typeName` option for `gatsby-transformer-json` to a string or a function so that problematic code path does not get triggered. it does not solve the bug, but let's you progress without forking/modifying anything else.

[2018-09-26 00:49] stemmlerjs commented on #7555
Hey @dwehrmann. I hope you found a solution to this. I was able to get mine working with some logic inside the component to create a mock Map instance when it's in build. I was able to get mine to work like this (I'm also using react-mapbox-gl).

[code]

[2018-09-26 00:52] stemmlerjs commented on #6667
I wasn't able to get mine to work as per the above suggestions. I ended up mocking my implementation to get it to work.

[code]

[2018-09-26 01:27] Mike-Dax commented on #3346
@pablasso I did, let me clean it up and I'll publish it.

[2018-09-26 01:58] #7754 closed

[2018-09-26 04:08] kakadiadarpan commented on #8502
@ukch is this your local machine or server?

[2018-09-26 04:13] kakadiadarpan commented on #7648
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-26 04:14] kakadiadarpan commented on #8535
I think #7919 might be related to this.

[2018-09-26 04:18] kakadiadarpan commented on #8540
@emman24 can you provide a reproduction repo for this?

[2018-09-26 04:31] kakadiadarpan commented on #8531
@kossel can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

If upgrading doesn't solve your problem, can you provide a screen recording of the issue you are facing? Also, can you provide relevant environment information by running `gatsby info --clipboard`?

[2018-09-26 04:42] kakadiadarpan commented on #8533
@vadimshvetsov I assume you are trying to make local changes to debug `gatsby-transformer-remark` as you are using it for your plugin. You can watch this video [here](https://www.youtube.com/watch?v=D0SwX1MSuas) for `gatsby-dev-cli`, that might be of help to you.

[2018-09-26 04:52] kakadiadarpan commented on #8541
@voordev you can head to [Tutorial](https://www.gatsbyjs.org/tutorial/) section to learn more about Gatsby. If you want to see some example sites built with Gatsby, you can go to [examples](https://github.com/gatsbyjs/gatsby/tree/master/examples) folder in our repository showing the usage of different plugins of Gatsby.

(Feel free to reopen the issue if you need more help 🙂)

[2018-09-26 04:52] #8541 closed

[2018-09-26 04:53] kakadiadarpan commented on #8541
@voordev You can also go to [`www`](https://github.com/gatsbyjs/gatsby/tree/master/www) folder to check out the source code of Gatsby website.

[2018-09-26 05:06] kakadiadarpan commented on #8542
@forxtu can you provide relevant environment information by running `gatsby info --clipboard`? Also, can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-09-26 05:15] kakadiadarpan commented on #8420
I was finally able to reproduce this issue, but it's a little different from what you posted above:

<img width="598" alt="screen shot 2018-09-26 at 10 42 42 am" src="https://user-images.githubusercontent.com/10805593/46058488-fa0a1080-c178-11e8-961c-fa8d88fe02b3.png">

[2018-09-26 05:16] emman24 commented on #8540
https://github.com/emman24/gatsbyprojects  hope you can help
@kakadiadarpan

[2018-09-26 05:37] kakadiadarpan commented on #8546
@dumblole I'm not sure if this is a `Gatsby` issue, it's mostly related to `sharp` library and it's dependencies.

lovell/sharp#1388

[2018-09-26 05:37] #8546 closed

[2018-09-26 05:39] wongsynee commented on #2289
For some reason when I run build, a `styles.css` file is not created but something like `component---src-pages-index-js.341e385fbf9137261e9d.css` is created as a stylesheet.

I'm using the sass-example from Gatsby with the following in the config:
[code]

[2018-09-26 06:40] stoltzrobin commented on #3344
@pieh have you had any time to refine this and start any development? 😁

[2018-09-26 06:50] kakadiadarpan commented on #8545
@rwieruch Thanks for providing us with the reproduction repo. I can confirm that `gatsby-plugin-preact` is breaking with Gatsby v2.

Gatsby uses `@reach/router` for routing, and it seems like it isn't compatible with `preact`. Check this [codesandbox](https://codesandbox.io/s/9jpv93q9nr) where only preact and `@reach/router` are being used.

reach/router#9

[2018-09-26 07:17] stefanprobst commented on #8533
`gatsby-dev-cli` will by default look in your project's `package.json` for `gatsby-*` packages. So if you plan to work on `gatsby-transformer-remark`, make sure you have it installed in your project, before linking your dev version with `gatsby-dev`.

[2018-09-26 07:30] IanLunn commented on #8525
@kakadiadarpan That's right

[2018-09-26 08:02] rwieruch commented on #8545
@kakadiadarpan thanks for your response and providing a solution. Would you say this is the solution to go for or will the gatsby-preact-plugin get an update eventually and this is only a workaround?

[2018-09-26 08:10] ascorbic commented on #8527
Is that right link? I can't see anything there about caching JavaScript. I do use `gatsby-plugin-offline`. My question is about `Cache-Control` headers. I deploy the site from CloudFront, and need to know if it's safe to mark the JS as immutable with a long cache time, as I do with the JSON and images, or if they have to be revalidated every time, like the HTML.

[2018-09-26 08:27] ajithr commented on #8504
@DSchau Thanks for the update. Is it possible to disable the cache? If so, is there any disadvantages when using Gatsby without cache and is it fix the memory issue?

As of now, I can use the Gatsby without cache to resolve this problem, Since it is needed for CI process and we won't repeatedly run the same source again and again in the same location. i.e. It is compiled only one time per build. I

[2018-09-26 08:31] kakadiadarpan commented on #8527
I updated the link above, can you check it again?

[Caching JavaScript](https://next.gatsbyjs.org/docs/caching/#javascript)

[2018-09-26 08:33] ascorbic commented on #8527
That's the same document that I linked in my original question. It hasn't been updated for Gatsby 2, and implies that it will change things, which is why I'm asking.

[2018-09-26 08:37] kakadiadarpan commented on #8545
@rwieruch I'm afraid it's not a solution. If you uncomment the line number 10 then you'll see the build failing

[2018-09-26 08:37] oorestisime commented on #8527
I was also wondering this for th v2. Plus if anyone could give any pointers on how to actually add the headers for gh-pages ;)

[2018-09-26 08:54] davidbailey00 opened #8549 "[v2] [develop] Directly visiting /dev-404-page/ fails and shows console errors"
## Description

When using `gatsby develop`, trying to directly visit `/dev-404-page/` fails.

### Steps to reproduce

1. Create a project
2. Run `gatsby develop`
3. Visit http://localhost:8000/dev-404-page/

### Expected result

The page should appear as normal

### Actual result

Console errors appear due to missing props, since the page is loaded directly rather than via 404 handling

![image](

[2018-09-26 08:54] forxtu commented on #8542
@kakadiadarpan  Thank you for the answer.
`gatsby info --clipboard` gives me that output
[code]

And here is repo link - [forxtu.xyz/tree/static-query-redux link](https://github.com/forxtu/forxtu.xyz/tree/static-query-redux)

[2018-09-26 08:56] vadimshvetsov commented on #8533
@kakadiadarpan thanks, yes I've watched this video but my case is more complicated. `gatsby develop` can't find `gatsby-tranformer-remark` dependencies.
My `package.json` has it:
[code]
But after the linking there are errors like `Missing gray-matter`, but it must be inside.

[2018-09-26 09:02] davidbailey00 commented on #8089
There's a chance this is an upstream bug with React Helmet, since I've found that all other content is rendered while in the background. Just investigating this now

[2018-09-26 09:27] davidbailey00 commented on #8089
I've checked this out and it definitely seems like an upstream bug with React Helmet - it might be hard to work around since we can't use `Helmet.renderStatic()` in the browser, so we'll probably have to wait until it gets fixed upstream / submit our own PR to Helmet (although unfortunately it seems abandoned). See https://github.com/nfl/react-helmet/issues/401

[2018-09-26 09:57] brandonferrer opened #8550 "gatsby-source-wordpress returning error"
## Description

There appears to have been breaking changes to the gatsby-source-wordpress plugin. You can't even run the basic queries from the demo. My query was working fine a few weeks ago.

Describe the issue that you're seeing.

error Plugin gatsby-source-wordpress returned an error

  TypeError: Cannot read property 'createNode' of undefined

Also the schema is all different in graphiql. or

[2018-09-26 09:58] kakadiadarpan commented on #8542
@forxtu It would be great if you could update your gatsby dependencies with the latest updates. Also, did you had a chance to go through [`using-redux`](https://github.com/gatsbyjs/gatsby/blob/master/examples/using-redux) example in the Gatsby repository?

[2018-09-26 10:00] kakadiadarpan commented on #8478
What is the `gatsby-cli` version that you are using currently? You can check that using `gatsby -v`.

[2018-09-26 10:03] dumblole commented on #8546
https://github.com/lovell/sharp/issues/1388 Solved

[2018-09-26 10:15] kakadiadarpan commented on #8461
@millette Can you provide relevant environment information by running `gatsby info --clipboard`? Also, can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-26 10:18] kakadiadarpan commented on #8550
@brandonferrer With Gatsby v1 you will need to use `gatsby-source-wordpress` version `2.x.x`. `3.x.x` is for Gatsby v2.

[2018-09-26 10:18] #8550 closed

[2018-09-26 10:33] PolGuixe opened #8551 "Install flow-typed types using gatsby-plugin-flow"
## Summary

I have tried to install types using `flow-typed` cli and it fails to detect a flow project. I am using the `gatsby-plugin-flow`. I guess that it fails to find a flow.config file or similar.

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N

[2018-09-26 10:43] millette commented on #8461
In other words, can we have urls with special caracters in them (#, +, etc.) and what's the best way to deal with this in URLs and filenames.

Here's my gatsby info:
Note that I'm not using the global packages (I should uninstall both of those).

[code]

[2018-09-26 10:50] millette commented on #8461
Here's my current example, dealing with programming language names (c#, c++):
https://millette.github.io/gpqc/by/lng/

For now, I'm replacing "#" with "-sharp" but it's obviously not a very generic solution for these cases.

Not sure if it's just a docs issue, to establish best practice, or if there's any code that would alleviate this.

[2018-09-26 10:57] forxtu commented on #8542
@kakadiadarpan
I've tried to do something like in the example you've sent:
[code]
And then pass `store` to the component on `render` and it worked for me.
[code]

Thank you very much for the help!

[2018-09-26 11:06] pieh commented on #8443
Hmmm, I feel like this should be builtin in Gatsby. We also use process.env vars in runtime - so need to investigate of gatsby runtime has same problem

[2018-09-26 11:27] SimonIMG opened #8553 "Calling "touchNode" with a nodeId is deprecated. Please pass an object containing a nodeId instead: touchNode({ nodeId: 'a-node-id' }) "touchNode" was called by gatsby-source-wordpress"
## Description

When I run `gatsby develop`, I get a long list of the following, repeated notice:

[code]

Am I the only one getting these? I have googled it extensively, but I don't know how to resolve the issue that is causing this notice.

I have a feeling they are due to images in the WYSIWYG fields of the attached WordPress site.

### Steps to reproduce

1. Create a gatsby v2 site set up for

[2018-09-26 11:53] dwehrmann commented on #7555
Hi @stemmlerjs – thank you! Similar to your solution, I was able to solve this by using class extends like that:

`class RefMap extends React.Component {

  createMap() {
    const iconSize = 1
    const map = new mapboxgl.Map({
      center: this.props.center,
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
      trackResize: 'true',
      zoom: this.props.zoom,
      pitc

[2018-09-26 11:56] MdNabuatAlJahid opened #8554 "<Img /> tag is not working in class component"
**In stateless function the Img is working fine.**
[code]

**But when I convert it to a class**
[code]

It's showing that **ReferenceError: props is not defined** (sizes={props.interfacedesign}) is not defined.

[2018-09-26 12:33] kakadiadarpan commented on #8551
@PolGuixe can you provide relevant environment information by running `gatsby info --clipboard`? Also, can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-26 12:35] #7555 closed

[2018-09-26 12:37] kakadiadarpan commented on #8554
@MdNabuatAlJahid when you use props in a class component, you have to access it as `this.props.interfacedesign` and similarly for other props.

You can read up more about it from React [documentation](https://reactjs.org/docs/components-and-props.html#functional-and-class-components)

[2018-09-26 12:45] tbaustin commented on #8498
Yeah that is why I'm having a hard time figuring out what's wrong haha. I can't really find anything obvious that I'm doing wrong.

[2018-09-26 12:57] DSchau commented on #8504
@ajithr we've talked about it. I'm thinking some type of default cache, which can be swapped/disabled (e.g. with an fs cache, redis cache, etc.) might be really advantageous here, so I'll keep pursuing that.

[2018-09-26 13:08] DSchau commented on #8535
@kakadiadarpan very possible; thanks for that link!

[2018-09-26 13:34] davidbailey00 commented on #5129
Hey everyone, thanks for all the information about this issue :+1: Currently I'm waiting on #8510 to be merged which should fix some of the problems with flickering (e.g. your comment @BlakeTurner), then I'll take a look and hopefully make Gatsby able to detect 404 redirects at the server-side.

[2018-09-26 13:40] MdNabuatAlJahid commented on #8554
**now I am getting this error in console**
index.js:2177 TypeError: Cannot read property 'src' of undefined
    at inImageCache (index.js:56)
    at new Image (index.js:167)
    at ReactCompositeComponent.js:292
    at measureLifeCyclePerf (ReactCompositeComponent.js:73)
    at ReactCompositeComponentWrapper._constructComponentWithoutOwner (ReactCompositeComponent.js:291)
    at ReactCompositeComp

[2018-09-26 13:58] jam13 commented on #8163
Is this problem confined to pages created in `gatsby-node.js` or does hot reloading not work for any programmatically created pages? In other words, is it possible to do this another way without resorting to restarting `gatesby develop` (which in our case takes quite a while).

[2018-09-26 14:06] LeKoArts commented on #8553
Update `gatsby-source-filesystem` to v2

[2018-09-26 14:19] abstracthat commented on #8297
I'm getting a refresh loop that keeps appending that query string on our homepage that does exist. The page is not 404 and is trying to load on each refresh with another `no-cache` query string appended.

[2018-09-26 14:27] m-allanson opened #8556 "Add a MozJPEG option to gatsby-transformer-sharp"
## Summary

[MozJPEG](https://github.com/mozilla/mozjpeg) provides better image compression at the cost of longer processing time.

It should be possible to opt-in to using MozJPEG for generating image thumbnails with gatsby-transformer-sharp.

@Fetten implemented an 'always-on' version of this at https://github.com/gatsbyjs/gatsby/pull/5682

### Basic example

How should this option be implemente

[2018-09-26 14:30] PolGuixe commented on #8551
Gatsby Info:
[code]

To reproduce:
1. Create new Gatsby project
2. Install `gatsby-flow-plugin`
3. Install `flow-typed`, [instructions here](https://github.com/flow-typed/flow-typed)
4. Add a package e.g. `flow-typed install @material-ui/core`, then this error:

`Error: Unable to find a flow project in the current dir or any of it's parent dirs!`

What I can see is that `flow-typed` does not recog

[2018-09-26 14:32] #8538 closed

[2018-09-26 14:34] MdNabuatAlJahid opened #8557 "TypeError: Cannot read property 'src' of undefined"
#8554

[code]

[2018-09-26 14:38] AlexandreBourdeaudhui commented on #8474
Hello 👋
I'm not sure it's the same issue, but i can't build my gatsby app too.

[code]

🤷‍♂️ i saw and i don't have json file which start by a dot `.file.json`... Any idea?

[2018-09-26 14:39] PolGuixe opened #8558 "In V2 is it possible to have the same "Layout""
## Summary
Is it possible to have Layout for each page? The new approach is fine and I have nothing against repeating the Layout for each page. However, when I change page the component is unmounted and any Layout animations are dismissed.

e.g. Imagine you have a drawer menu component for navigation which is normally hidden. You have this component in the Layout and its state is managed by the La

[2018-09-26 14:50] dbrookes commented on #8297
@abstracthat I'm seeing the same thing, Googlebot and Page Speed are complaining the homepage is a redirect loop as you described, but it doesn't happen in Chrome/Firefox for me.

Struggling to reproduce it on Netlify, will keep trying

[2018-09-26 14:56] #8297 closed

[2018-09-26 15:02] kakadiadarpan commented on #8554
@MdNabuatAlJahid It might be the case that whatever you are reading `src` from does not have any value.

[code]

In the above code, I assume you are reading `src` from sizes(`this.props.interfacedesign`). This can only happen if that prop doesn't have any value. Can you please check that?

If this doesn't work for you, please provide us with a reproduction repo.

[2018-09-26 15:02] kakadiadarpan commented on #8557
Closing in favor of #8554

[2018-09-26 15:02] #8557 closed

[2018-09-26 15:07] ThiagoMiranda opened #8559 "[v2][gatsby-plugin-sitemap] Error: Can't resolve 'gatsby-link'"
## Description
Trying to migrate GatsbyJS V1 to V2 gives me an error in `gatsby develop` command on the gatsby-plugin-sitemap

### Steps to reproduce
- Get a 1.x.x Gatsby project with gatsby-plugin-sitemap installed
- Install "gatsby-plugin-sitemap": "^2.0.0". Trying to run it

### Expected result

Run the website

### Actual result

![captura de tela 2018-09-26 as 12 06 47](https://user-images.gi

[2018-09-26 15:08] #8234 closed

[2018-09-26 15:23] jonathan-chin opened #8560 "gatsby build results in different CSS to that of gatsby develop"
I just noticed this happen with my latest push. Up til then, it worked fine.

I have a Netlify account connected to GitLab and it builds and deploys from there.

I followed the suggested actions in #5734 but it didn't work for me. I don't think I use the offline plugin mentioned there either.

Notably, I recently had an issue with BrowserslistError: Unknown browser query `dead`. Downgrading my glo

[2018-09-26 15:26] eric-personal opened #8561 "Handling broken queries if Prismic field is not added using gatsby-source-prismic"
I'm using gatsby-source-prismic and all works great but sometimes if I have a media link that a content manager on Prismic doesn't add a video or image then my GraphQL query will break because the type is there but the URL is not or been stripped out. Not sure how gatsby-source-prismic works under the hood so don't want to say its the plugin that's stripping out the url.

**Unknown field 'url on t

[2018-09-26 15:30] LeKoArts commented on #8558
Yeah, that's possible!
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-layout

[2018-09-26 15:30] #8558 closed

[2018-09-26 15:51] linardsb commented on #7794
Do I need to really need to add every single image (i have 8) like so `import logo from`?
I get the error `Module build failed: Error: emitFile is required from module system` when including image as so `<img src={require('../img/logo-figma.png')} width="50"/>`

[2018-09-26 16:23] fk opened #8563 "[www] Replace monospace font "Space Mono" used for code (inline and block)"
I've been thinking about this for a while now, and finally got around to try a first set of alternatives.

First let me say that I __love__ _Space Mono_ — the font we are currently using for all `code` examples/references on gatsbyjs.org — and which this issue/discussion is about.
I do think it does a good (enough) job and certainly adds a lot of personality to our code examples.

Over time howeve

[2018-09-26 16:25] amberleyromo opened #8564 "Redirect gatsby-starters to starters"
(Le final step )

- [ ] redirect `/docs/gatsby-starters` to `/starters`
- [ ] add new link location for gatsby-starters page in sidebar nav that links to starter library (patterned like plugin guideline section links to plugin library)
- [ ] change "Starters" link in Quick Start section of docs sidebar to `/starters`

[2018-09-26 16:30] abstracthat commented on #8297
@dbrookes I fixed it. I was using an undeclared variable but the error was swallowed in dev. I suspect this is the actual issue. The page JS couldn't load correctly so it thought it was not found but the router says load this file, so it got stuck in a loop. In the same deploy I also updated to the latest Gatsby plugins (minor point versions), so it's also possible that was the fix, but I suspect

[2018-09-26 16:32] tbaustin commented on #8498
@oorestisime  I found out that I am using `gatsby-plugin-netlify-cms-paths` and you are not so this could be affecting something with arrays? It works fine on strings however.

[2018-09-26 16:33] KyleAMathews commented on #8563
I do like the playfulness of Space Mono a lot (I did pick it after all haha) but I'm not at all opposed to switching. The other alternatives are quite a bit "cleaner" and likely as you say more readable.

[2018-09-26 16:34] sw-yx commented on #6137
thanks. sad that devtools isnt a priority.

[2018-09-26 16:37] ThiagoMiranda commented on #8559
I've removed node_modules and did a fresh `npm i` and it solved the issue. I'm closing this.

[2018-09-26 16:37] #8559 closed

[2018-09-26 16:42] davidbailey00 commented on #8297
@abstracthat With the latest changes, the infinite loops have been fixed so now you'll see a console log saying "Found ?no-cache=1 when trying to directly load page. This is probably a misconfiguration with your app, or a bug with Gatsby" in places where an infinite loop would happen.

[2018-09-26 17:55] interactiveRob commented on #3084
@pieh
Just wanted to mention that in my case the children object comes back empty and that __typename does not yield anything useful for my ACF fields. In my case below, the Flexible Content field is called popup_contents. Perhaps something in the ACF to REST API plugin has changed?

Looks like this acf_fc_layout field may be the replacement I need.

The Query
[code]

Returns:
[code]

[2018-09-26 18:22] dabedoc opened #8566 "How to get markdown data in public build"
So I am using markdown pages as a data source and I want to get the json data after the build. Is there any way to get that data ?

[2018-09-26 18:27] osogrizz commented on #5100
I just ran into this today. I built the site with Gatsby v2 but my css is not being applied on initial load. I've looked at the solutions linked here but no luck so far. I'm using emotion. I have another site that I updated from Gatsby v1 and that site is using styled components without any issues?

[2018-09-26 19:37] NickyMeuleman opened #8567 "[www] Search stops working after first usage."
## Description
Search function on https://www.gatsbyjs.org/ stops working after your first search.

### Steps to reproduce

1. Visit https://www.gatsbyjs.org/
2. Search for something (in the docs?) and click it
3. try to search again using the searchbar in the header

### Expected result

New search term gets picked up, does it's thing and Algolia populates the results.

### Actual result

Only au

[2018-09-26 19:46] NickyMeuleman commented on #8567
Same results for Firefox 62.0.2 (64-bits)

[2018-09-26 19:52] maxmatthews commented on #5100
Having the same issue. My git repo is here: https://bitbucket.org/maxmatthews/codecommunity and my site is https://codecommunity.io
Attempting to use the Stellar starter theme which I upgraded to use Gatsby v2. On mac with `gatsby develop`, the site loads fine (note the white text):
<img width="1078" alt="screen shot 2018-09-26 at 3 49 51 pm" src="https://user-images.githubusercontent.com/4709710/

[2018-09-26 20:03] BillyWM commented on #3817
Neither is working for me. `workbox`, used by `gatsby-plugin-offline` is still generating maps for all its files, so apparently all parts in the pipeline don't necessarily respect this setting.

Maybe that complain properly belongs in that plugin's repo, but it's
1. a plugin officially recommend in the official tutorial
2. a problem other plugins are going to be prone to. Need to override at the t

[2018-09-26 20:52] anderskitson commented on #8478
1.1.50

[2018-09-26 20:54] DSchau commented on #8504
@ajithr with the latest changes in the PR I mentioned earlier, I was able to build out your site. Want to check it again?

<img width="1060" alt="screen shot 2018-09-26 at 3 53 52 pm" src="https://user-images.githubusercontent.com/3924690/46108751-62221c00-c1a4-11e8-95fb-9f911d8f04f1.png">

[2018-09-26 21:26] marisamorby commented on #8422
Is there a resulting metric that we can track that could help us determine that the quality of the resolved issue was good?

[2018-09-26 21:29] marisamorby commented on #8419
I think we should talk about this on the OSS automation meeting this week to get some initial ideas set out.

[2018-09-26 21:29] #8540 closed

[2018-09-26 21:30] marisamorby commented on #7258
Let's include this discussion in our meeting this week and discuss how the bot is going to impact that lifecycle before we move forward on this.

[2018-09-26 21:42] NickyMeuleman commented on #8563
Is Consolas a system font on Windows?

Would
`font-family: SF Mono (for mac), Consolas (for win), other fallbacks, monospace`
fit you idea @fk?

[2018-09-26 21:45] lipis commented on #8563
[code]

Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss#L255

[2018-09-26 21:51] oorestisime commented on #8567
Can't reproduce this on Firefox 62.0.2. Do you get an error in console ?

[2018-09-26 22:02] NickyMeuleman commented on #8567
Only thing in the console is a few GET requests the first time I hover over the searchbox and then one (that gets sent to Algolia) per letter I type.

The second time, nothing gets printed to the console.

[2018-09-26 22:03] ataylorme commented on #7465
I think it is worth noting that the new WordPress editor is written on top of React. This is intriguing to me due to the possibility of using the same React component to power the content editing experience in the new WordPress editor and the front-end build in Gatsby. Crafting items like a hero image, testimonial, etc. once and using them in both a WordPress back-end and a Gatsby front-end would

[2018-09-26 22:55] taktran opened #8569 "develop-static-entry.js missing `htmlAttributes` and `bodyAttributes` in props"
## Description

[develop-static-entry.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/develop-static-entry.js) is missing the props `htmlAttributes` and `bodyAttributes`. They exist in [static-entry.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/static-entry.js#L375-L376), so when you run `npm run build` it works.

### Steps to reproduce

[2018-09-26 23:00] kossel commented on #8531
Sorry if I missed, where I can find instruction to upgrade to v2 from beta? If I use the official blog starter does that mean I have to manually diff from the repo?

[2018-09-26 23:02] SimonIMG commented on #8553
Success! Thanks very much for your help @kakadiadarpan  and @LeKoArts .

For anyone else with this issue, I updated my package.json with the following (replacing the previous ^1.5.39 and ^2.0.93 )...
[code]
Then I ran `npm update`. This updated all my dependencies, of course.

All the notices are gone (and my `gatsby develop` process is WAY faster).

[2018-09-26 23:03] KyleAMathews commented on #8569
Ah that sounds like a bug! What caused you to notice the problem? Would you like to submit a PR with a fix?

[2018-09-26 23:04] #8553 closed

[2018-09-26 23:52] gil-- commented on #8404
Great to hear there's future plans to add support for mixing 3rd party schemas. Definitely seems like it's better to write a custom source if you need these sorts of integration in the meantime.

[2018-09-27 00:35] theashguy commented on #8543
I'm working on a couple of hybrid apps myself with a lander that has a login experience in it (eg https://elements.app). I think the key thing is to stop thinking of Gatsby vs React as being different and just think of Gatsby as a thin layer low in the stack that pre-renders a bunch of your routes as html files. By thinking of it this way the answer will become obvious-- Just implement your react

[2018-09-27 00:59] dumblole commented on #8297
Is this fixed? I get this issue as well.

[2018-09-27 01:00] vanthiyathevan opened #8571 "[www] gatsby-plugin-google-analytics doc stuck in redirect loop."
## Description

going to https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/?=google goes into redirect loop with `no-cache=1` query param appended.

### Steps to reproduce

navigate to https://www.gatsbyjs.org/packages/gatsby-plugin-google-analytics/?=google

I've also experienced this issue. on my site. Only happens when serving pre build page.

[2018-09-27 01:48] dial3x opened #8574 "[www] On 404 Page redirect can not navigate between pages"
## Description
When a 404 page is returned the page breaks

### Steps to reproduce
go to
https://www.gatsbyjs.org/brokenpage

click on `Docs` link

### Expected result

It should navigate away from 404 page.

### Actual result
Page does not navigate away

### Environment

  System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz
  Binaries:
    Yarn: 1.9.4 - C:\Program File

[2018-09-27 02:00] xblue-light opened #8575 "Unknown browser query `dead` - WTF"
I have a project using a Gatsby theme starter and last week I was building my project with no problems what so ever, this morning I tried to run a new build without having done any prior changes at all I get some intimidating error. I need to fix this this project is due to go live soon..

**Error Generating CSS failed
BrowserslistError: Unknown browser query `dead`**

FYI - Also getting this on s

[2018-09-27 02:04] brandonferrer opened #8576 "Wordpress schema change with gatsby-source-wordpress"
## Description

Unable to query Wordpress blog post via GraphiQL or in app.

### Steps to reproduce

Query in GraphiQL
[code]
### Expected result

Return query data

### Actual result
[code]
### Environment

[code]

[2018-09-27 03:49] sarahannnicholson commented on #8522
@rtm619 is it similar to this issue? https://github.com/gatsbyjs/gatsby/issues/7003

I believe its being worked on by the Gatsby team

[2018-09-27 04:08] kakadiadarpan commented on #8560
@jonathan-chin can you please provide relevant environment information by running `gatsby info --clipboard`?

Also, I noticed that you are using Gatsby v1 from your [package.json](https://gitlab.com/sharemeals/gatsby-site/blob/master/package.json) in the repo you shared. Please use `gatsby-cli` version `1.x.x` for Gatsby v1. `gatsby-cli` version `2.x.x` is for Gatsby v2

[2018-09-27 04:12] jonathan-chin commented on #8560
@kakadiadarpan
[code]

when I downgrade my global gatsby-cli to 1.9.X, I get the CSS issue. when I keep it at 2.0.0-rc.1, it gives me the `BrowserslistError: Unknown browser query dead` error

[2018-09-27 04:28] kakadiadarpan commented on #8560
@jonathan-chin would it possible for you to tell which CSS is exactly differing in develop vs build?

[2018-09-27 04:31] xblue-light commented on #8575
I managed to fix this ran in my terminal `$ node_modules/.bin/gatsby develop`

[2018-09-27 04:34] kakadiadarpan commented on #8567
I think this breaks after a client-side routing happens.

Steps:
1. Visit https://www.gatsbyjs.org/
2. Click on `Docs` link.
3. Try to search for something using the search bar in the header.

It doesn't work.

[2018-09-27 04:43] kakadiadarpan commented on #8571
@vanthiyathevan Thank you for reporting this issue! We'll take a look at this soon.

[2018-09-27 04:49] kakadiadarpan commented on #8574
@dial3x Thank you for reporting this issue. We'll take a look at this very soon.

[2018-09-27 04:50] kakadiadarpan commented on #8575
@xblue-light can you provide relevant environment information by running `gatsby info --clipboard`?

[2018-09-27 04:54] kakadiadarpan commented on #8576
@brandonferrer can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

Also, did you had a chance to look at [`using-wordpress`](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-wordpress) example?

[2018-09-27 05:10] sarahannnicholson commented on #7003
I was able to resolve the error on localhost by following @stripeyjumper's 2nd comment https://github.com/gatsbyjs/gatsby/issues/7003#issuecomment-411388013 and adding a bit more.
1. ` npm i @babel/polyfill --save-dev`
2. Created a **.babelrc** file in the project root and pasted in the sample file from the gatsby website https://www.gatsbyjs.org/docs/babel/#how-to-use-a-custom-babelrc-file
3. Cha

[2018-09-27 05:10] jsrojasn opened #8577 "DateRangePicker"
How could i import a date range picker?

[2018-09-27 05:27] muukii opened #8578 "Can I embed the presentation of SpeakerDeck with gatsby-transformer-remark?"
## Summary

Can I embed the presentation of SpeakerDeck?

I tried to embed the presentation of SepeakerDeck to my article.
Just like this

[code]

But, this approach was not working. The script did not run.
How to run some scripts in generated article?
Please tell me, if you know some solutions.

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config

[2018-09-27 05:29] brandonferrer commented on #8576
As far as reproduction, I'm just trying to query any of the queries in the gatsby/wordpress docs.

This is my gatsby-config.js

{
      resolve: 'gatsby-source-wordpress',
      options: {
        // your wordpress source
        baseUrl: 'brandonferrer.blog',
        protocol: 'http',
        // is it hosted on wordpress.com, or self-hosted?
        hostingWPCOM: false,
        // does your site

[2018-09-27 06:14] kakadiadarpan commented on #8577
@jsrojasn are you facing any difficulties in using any date range picker with Gatsby?

[2018-09-27 06:40] rtm619 commented on #8522
@sarahannnicholson  Yeah, same issue. I added Babel Polyfill in gatsby-browser and changed preset-env's builtIns to "entry" and then, IE 11 works in develop. But in my actual project, I get the same "promise is undefined" or Expected ":" or other errors in IE11 after gatsby build. I'll close this one.

[2018-09-27 06:46] kakadiadarpan commented on #8577
Great! Thanks for the update

[2018-09-27 06:46] #8577 closed

[2018-09-27 07:31] kakadiadarpan commented on #3852
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 07:34] kakadiadarpan commented on #3582
@sedubois can you try upgrading gatsby and dependencies to their latest stable versions? We released version 2 recently, that might solve the issue for you.

[2018-09-27 07:35] kakadiadarpan commented on #3571
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 07:36] kakadiadarpan commented on #3571
@gllmt was your issue resolved?

[2018-09-27 07:39] kakadiadarpan commented on #3560
@m-allanson #5848 and #2757 have been resolved. Has this issue also been resolved along with them?

[2018-09-27 08:19] tomVlt commented on #6137
Not now due to V2 migration and that's pretty understandable...

But I'm pretty sure Gatsby community will come up in a couple of month to develop "an out of the box" solution.
They've already commit a [V2 starter](https://github.com/caki0915/gatsby-starter-redux/commit/16e654addde8b87b94fd7f1d44aba1e4beb9e665) with Dan Abramov's Devtool version and emotion ssr together !

Meanwhile [Redux-devtool

[2018-09-27 08:20] AlmeroSteyn opened #8579 "Gatsby-image: Placeholder image causes screen readers to read each image twice."
## Description

Because the placeholder image remains visible in the DOM, screen readers will encounter both images and read the image tag, as well as the `alt` text.

This means that each image is duplicated for screen reader users.

I am using Gatsby V2 with `gatsby-image`  v2.0.9.

I tested this behaviour with NVDA in Firefox and iOS VoiceOver in Safari. Both setups read duplicate images.

###

[2018-09-27 08:40] stoltzrobin commented on #7373
@KyleAMathews I've continued a bit investigating our data model for speed improvements. Will get back to you if I find anything interesting.

Regarding your benchmark test, I have some questions regarding speed. What I can see now is that `gatsby develop` and `gatsby build` have a hugh difference in queries/second. Have you seen any similar on your machine?

The run speed is around 40-60 queries/s

[2018-09-27 08:50] dectys commented on #5553
Same problem here with IE11, is that soon to be released or is there a quick fix ? Thanks

[2018-09-27 09:11] PierreBresson commented on #8575
I also had the same issue... impossible to debug, working well on develop then crash on build.

`gatsby info --clipboard` gives me that :

[code]

[2018-09-27 09:40] davidbailey00 commented on #8297
@dumblole The changes were only just published a few hours ago, so if you run yarn upgrade now it should be fixed. Let us know if you're still having any issues :)

[2018-09-27 10:03] robinpyon commented on #8297
Can confirm upgrading to `gatsby 2.0.10` fixed this for me

[2018-09-27 10:30] pieh commented on #8579
Because of that fade transition there still will be short timespan where 2 images are visible. Would removing `alt` and `title` from placeholder image once we start showing actual showing solve this? Or would screen readers still announce placeholder image even if it's without alt or title?

[2018-09-27 10:37] kakadiadarpan commented on #8578
@muukii can you provide relevant environment information by running `gatsby info --clipboard`?

Also, can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-27 10:46] AlmeroSteyn commented on #8579
@pieh Thank you for the quick reply.

Images without `alt` are terrible for screen readers. Typically a screen reader will announce the `src` attribute then. So you'd end up with two images where one reads out the filename.

Even if you give it empty `alt`, the screen reader will still read it out as `graphic` or similar.  This is ok for images that has no semantic meaning in a website, like decor

[2018-09-27 10:51] olivierpascal opened #8582 "Scaling Gatsby with thousands pages"
## Summary

## Relevant information

I use Gatsby to generate a website with a lot of pages in multiple languages. Let's say something like 1k pages in 5 languages, ~5k pages.

In production (not sure if this is the case in development mode), Gatsby prefetch a file named in my case `10-[hash].js` which exports a JSON object that looks like this:

[code]

My pages are very lightweight but this file

[2018-09-27 10:52] kakadiadarpan commented on #3546
@alem0lars There's a PR already open for this issue - #7779

Once it is merged the fix will be available for Gatsby v1, this issue has already been fixed for Gatsby v2. If you want to give that a try, we have nicely written [migration guide](https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/).

[2018-09-27 11:00] m-allanson commented on #8582
Hey @olivierpascal the aim is for Gatsby to be a great choice for big sites, but as you've seen the page metadata bundle can get quite large when dealing with 000's of pages.

This is a known issue at the moment - there's discussion at https://github.com/gatsbyjs/gatsby/issues/4746 and @KyleAMathews initial work on resolving this is at https://github.com/gatsbyjs/gatsby/pull/6651.

[2018-09-27 11:03] AlmeroSteyn commented on #8579
Just double checked with a colleague.

Turns out that setting the `alt` to empty has the same effect for a screen readers than the two above options. So whichever is easiest.

Either set `alt` to empty on the placeholder after it has loaded or add `display:none`. With `aria-hidden="true"` as a last resort.

[2018-09-27 11:05] olivierpascal commented on #8582
Awesome, thanks for pointing me to the right discussion and the work in progress.

[2018-09-27 11:07] #8582 closed

[2018-09-27 11:07] #8470 closed

[2018-09-27 11:10] #8575 closed

[2018-09-27 11:10] kakadiadarpan commented on #3530
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:17] m-allanson commented on #8575
Thanks for the workaround @PierreBresson 👍

This should be fixed in `gatsby-cli@2.4.2` and later.

[2018-09-27 11:19] kakadiadarpan commented on #3442
@fk can we close this issue if it has been fixed?

[2018-09-27 11:20] AlexandreBourdeaudhui opened #8583 "Build doesn't work as expected"
## Description

Sorry for the title, but i don't have any idea... Can not build my Gatsby app. When i'm using `gatsby build`, i got an error.

### Steps to reproduce

`gatsby build` 🤷‍♂️... I'm not sure, but if i comment the line of `'@octokit/rest'` import in my code, i can build correctly... I clear `.cache` && `public` folder, clear the `node_modules`, update my dependencies, and the issue is a

[2018-09-27 11:20] kakadiadarpan commented on #3425
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:28] kakadiadarpan commented on #3418
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:30] kakadiadarpan commented on #3410
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:31] kakadiadarpan commented on #3238
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:34] kakadiadarpan commented on #3208
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:36] kakadiadarpan commented on #3152
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:39] kakadiadarpan commented on #2972
@codejet could you provide relevant environment information by running `gatsby info --clipboard`?

[2018-09-27 11:42] kakadiadarpan commented on #2912
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:43] AlexandreBourdeaudhui commented on #8583
If i delete the `index.mjs` to `node_modules/node-fetch/lib/index.mjs`, i can build nicely 🤷‍♂️

[2018-09-27 11:46] kakadiadarpan commented on #2807
Fixed in #5404

[2018-09-27 11:46] #2807 closed

[2018-09-27 11:48] kakadiadarpan commented on #2660
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:53] kakadiadarpan commented on #2440
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:53] kakadiadarpan commented on #2438
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:56] kakadiadarpan commented on #2410
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-27 11:59] dantesolis commented on #7986
hey guys, quick update. I'm currently working on this issue.

[2018-09-27 12:00] kakadiadarpan commented on #8583
@AlexandreBourdeaudhui can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-27 12:39] Fetten commented on #8556
Finally had the chance to finish this up :-)
Using an env var seems to be the best option for now, so I added `GATSBY_JPEG_ENCODER=MOZJPEG`.

[2018-09-27 12:57] AlexandreBourdeaudhui commented on #8583
Hello @kakadiadarpan :wave:. Thanks for your response !
Of course i can => https://github.com/AlexandreBourdeaudhui/GatsbyReproduce

`yarn start` for `gatsby develop` run nicely, but `yarn build` for `gatsby build` fail with issue in my initial message.

[2018-09-27 12:58] davidbailey00 commented on #8307
#8510 should fix the flickering issue, but the page will still be non-interactive when using an adblocker and show the following message in the console:

    Found no-cache=1 while attempting to load a page directly; this is likely due to a bug in Gatsby, or a misconfiguration in your project.

...which was added as a check to prevent this kind of infinite loop which should be impossible.

So the

[2018-09-27 13:18] greglobinski commented on #8575
I confirm installing `gatsby-cli@2.4.2` fixes problem for me

[2018-09-27 13:43] crosscompile commented on #8420
After investigating more I thought this could be fixed by updating the schema again during boostrap [after jobs complete](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/bootstrap/index.js#L459-L482).

I can see that the new fields are present in the redux store at that point but for some reason running `require('../schema')({ parentSpan: activity.span })` doesn't result in the

[2018-09-27 13:54] liligga commented on #2542
@KyleAMathews  Still have a problem with this when components in `pages` directory are renamed. Here for instance I renamed `myProfileSitter.js` to something else:
[code]
and my dependencies are:
[code]
So for everything to work I have to restart `gatsby develop`.

[2018-09-27 14:07] mikelax commented on #8579
This was briefly discussed [here in ticket 8256](https://github.com/gatsbyjs/gatsby/issues/8256#issuecomment-422380125), I think setting the alt tag empty is the correct (and most likely easiest solution.

[2018-09-27 14:17] AlexandreBourdeaudhui commented on #8583
Hello @helmutgranda 👋

If i'm switching `config` in `src` and change import for `src/config` or comment this line, my build is always break

[2018-09-27 14:30] erquhart commented on #8318
Sorry we didn't answer in chat! It generally does work, we have a few maintainers who field questions regularly - the guy that answered your question on stackoverflow is one of them (thanks @talves!).

If you run into anything else feel free to give the chat another shot. (Be sure to hit us in the Netlify CMS chat and not Netlify community, ours is https://gitter.im/netlify/netlifycms.)

[2018-09-27 14:46] talves commented on #8318
@erquhart sorry I missed this here. I try to remember to check here for duplicates. 😳

Reference Answer: https://stackoverflow.com/questions/52410225/gatsby-cms-failed-to-load-settings-from-netlify-identity/52431776#52431776

[2018-09-27 14:48] kaishin commented on #7310
Relevant issue: https://github.com/reach/router/issues/63

I personally think this is misguided and is a source of issues for those not using styled components.

[2018-09-27 14:57] m-allanson opened #8587 "Add createContentDigest helper"
## Summary

Add a createContentDigest helper and pass it in to the Gatsby API runner. This means people can use it when implementing Gatsby APIS in their `gatsby-node.js` file.

### Basic example

- Create this file  `packages/gatsby/utils/create-content-digest.js`, and add content a bit like:

[code]

- Add a couple of tests to `packages/gatsby/utils/__tests__`

- Import and include the helper he

[2018-09-27 15:06] ajithr commented on #8504
@DSchau Thanks for your response. I have checked the latest changes with my original project. Unfortunately, I am still facing the same issue. I have checked your changes in both Windows and Linux environment. Both are failed with memory issue :-(

[2018-09-27 15:38] alexgmuir commented on #8318
No problem,, thanks very much again @talves for the post on stackoverflow..

Regards
Alex
*https://www.linkedin.com/in/alexgmuir/
<https://www.linkedin.com/in/alexgmuir/>*

On Thu, 27 Sep 2018 at 14:31, Shawn Erquhart <notifications@github.com>
wrote:

[2018-09-27 15:43] i-like-robots opened #8588 "Remark plugin does not prefix reference links"
## Description

Links in Markdown files using the [reference format] are not currently rendered with the specified path prefix.

[reference format]: https://daringfireball.net/projects/markdown/syntax#link

### Steps to reproduce

For a project using markdown files as a data source and the `gatsby-transformer-remark` plugin, author a link in a markdown file using the reference style, e.g.:

[code]

[2018-09-27 15:49] i-like-robots commented on #8588
This is due to the plugin not currently listening for `reference` nodes, only `link` nodes:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-transformer-remark/src/extend-node-type.js#L141

[2018-09-27 15:53] janosh commented on #7310
@kaishin Could you expand on what you mean? What exactly is misguided?

[2018-09-27 15:59] luke-dare commented on #7003
I'm seeing this error in V2 as well.

[2018-09-27 16:05] marisamorby commented on #8415
@jlengstorf: Here's the initial flowchart for this process. We can review and I'll make any changes or updates before we solidify this flow. Thanks!

OSS Automation Flowchart for Stale Issues: https://whimsical.co/5bsueDnUNG2K7qQDZKYTGQ

[2018-09-27 16:39] aa6864 commented on #8543
Thank you for the thorough info. I will definitely try it and see what happens.

[2018-09-27 16:45] dbismut commented on #8511
I'm sorry if I'm missing something here and commenting on a closed issue, but the logic with a Modal on top of `<PageRenderer location={url} />` component is just a hack right? As you have to store the state of the `url` page so that it stays the same between different mounts. Let's say that you have infinite loading with incremental ajax requests I don't think that would work (yes I've looked at

[2018-09-27 16:51] helmutgranda commented on #8583
Sorry @AlexandreBourdeaudhui, I meant to say that the build is failing from the repo you shared on that line because it is looking for that config file.

[2018-09-27 16:51] marisamorby commented on #8415
Add Stales Issues workflow separate from the stale issues check.

[2018-09-27 16:57] jlengstorf commented on #6783
Two critical pieces of information:

- Bug reproduction
	- Options:
		- Repo (ideal)
		- Steps to reproduce
		- ~~Screenshots~~ (not useful without supporting text)
		- Codesandbox (maybe better than a repo — test this)
	- How to check:
		- Naive: check that it's not empty ✅
		- More complex: conditional checks for multiple valid states (basically natural language processing)
- Env info
	- Easy to

[2018-09-27 17:04] AlexandreBourdeaudhui commented on #8583
Oh ok ! But you can comment this line, it is an oversight.
I'm pushing a little commit for this.

[2018-09-27 17:05] DSchau commented on #8587
@m-allanson awesome write up. I'm gonna work on this in the Pair Session today at 3PM (3 hours from now) :)

[2018-09-27 17:12] jlengstorf commented on #8422
This issue is blocked until we've answered additional questions about the process. @marisamorby will expand on this.

[2018-09-27 17:13] jlengstorf commented on #8419
This is blocked until we know more about the final scope.

[2018-09-27 17:44] jonathan-chin commented on #8560
@kakadiadarpan
This is from develop and is the styling expected
<img width="1283" alt="screen shot 2018-09-27 at 1 39 24 pm" src="https://user-images.githubusercontent.com/7519412/46163995-cc959380-c25a-11e8-93ce-27cc3720f4a3.png">

this is what I get from build:
<img width="1372" alt="screen shot 2018-09-27 at 1 35 23 pm" src="https://user-images.githubusercontent.com/7519412/46164024-dddea000-c2

[2018-09-27 17:55] ajithr commented on #8504
It is working fine with my provided dummy markdown data project in both Windows and Linux. but it is not working in my actual project. I think the markdown page content is larger in my actual project which affects the performance.

[2018-09-27 19:34] simon4980 commented on #7530
I am also having issue trying to get the tags count.  I have tried the group feature, but can't seem to get it correct.

When running the query to get the list of tags with associated post I have a graphql query like

[code]

Results are:

[code]

When I try to use the group feature it returns total count 2, which is only counting the two tags and not the posts.   It seems I can't access the post_

[2018-09-27 19:42] DSchau commented on #8560
I think the fix for this is #8092.

@jonathan-chin would you be able to pull the contents of that fix down, and then try with those changes? Note: if you haven't seen it yet, the [How to Contribute](https://www.gatsbyjs.org/docs/how-to-contribute/) section of Gatsby's docs contains info on how to get set up with gatsby-dev-cli, which you'll need to test it out!

[2018-09-27 20:23] aalokt89 opened #8595 "Creating a new project fails with starter template"
Whenever I try to create a new project via the cli, I get an error and it fails to complete. This was working fine yesterday, but I cannot get it to work at all now (I haven't changed anything from yesterday to today). I already have the cli successfully installed.

### Steps to reproduce
- Uninstalled cli: `npm uninstall --global gatsby-cli`
- Reinstalled cli: `npm install --global gatsby-cli` su

[2018-09-27 21:04] grubersjoe commented on #8527
I'm also curious, how to correctly configure the `cache-control` header for Gatsby 2. Right now I set it according to the current documentation as follows:

[code]
Since no `<Directory>` directives are allowed inside of `.htaccess` files, I've created a second one in another `static` directory inside the top level `static` directory to handle static files:

[code]

Not very elegant, but this way b

[2018-09-27 21:05] taktran commented on #8569
Have 2 PRs open for this bug, for v1 and v2. I tested it for v2, but couldn't figure out how to test it for v1. However, it's the same code for both.

[2018-09-27 21:13] DSchau commented on #8587
Ended up not working on this, so removing myself. Anyone else who has a pair programming session, this seems like a really good one to tackle!

[2018-09-27 21:19] grubersjoe commented on #8527
I'm also curious, how to correctly configure the `cache-control` header for Gatsby 2. Right now I set it according to the v1 documentation as follows:

[code]
Since no `<Directory>` directives are allowed inside of `.htaccess` files, I've created a second one in another `static` directory inside the top level `static` directory to handle static files:

[code]

Not very elegant, but this way both `

[2018-09-27 21:27] LeKoArts commented on #8595
`error webpack-dev-server@3.1.9: The engine "node" is incompatible with this module. Expected version ">= 6.11.5". Got "6.9.5"`

The first line of your error already tells you what's the issue here. Your node version is outdated. The current LTS version is 8.12 and you can download it [here](https://nodejs.org/en/)

[2018-09-27 21:30] aalokt89 commented on #8595
lol yup I updated right after and it's working now. npm noob... carry on, nothing to see here!

[2018-09-27 21:35] LeKoArts commented on #8595
Cool!

[2018-09-27 21:35] #8595 closed

[2018-09-27 21:47] m-allanson commented on #8418
Here's links to a lot of those categories:

- [Issues for beginners - filter on `good first issue`](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)
- [Untriaged issues - filter on issues without any labels](https://github.com/gatsbyjs/gatsby/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+no%3Alabel+)
- [Issues that need core maintainer review - filter

[2018-09-27 22:12] AlexandreBourdeaudhui commented on #8583
Thank you sir @helmutgranda 🙏 ! That works fine now ! 😱 I'm going to update my main repo with your solution and i'm going to follow the thread to know when the compatibility issue will be solved.

[2018-09-27 23:16] shannonbux commented on #7843
Hi @ekoeryanto, we're closing this issue for now, since we do have a plugin READme template here: https://www.gatsbyjs.org/docs/templates/#plugin-readme-template

Thanks for sharing your repo; perhaps you could blog about it, tweet about it. We love it when contributors share what they're building!

[2018-09-27 23:17] #7843 closed

[2018-09-27 23:35] shannonbux commented on #5030
@fk can you add that reference you found to a copy button that you shared with @DSchau recently?

[2018-09-27 23:43] muukii commented on #8578
@kakadiadarpan
Sorry, I tried this command `gatsby info --clipboard`. But command not found.
I'm still using Gatsby v1.
In usually, Does it run the scripts written in markdown file?

Okay, I will try to reproduce on a simple project.

[2018-09-27 23:53] muukii commented on #8578
I've created a reproduction project.

Added script tag for SpeakerDeck in `src/pages/hello-world/index.md`
Just like followings.

Could you check this? @kakadiadarpan

[code]

[Archive.zip](https://github.com/gatsbyjs/gatsby/files/2426241/Archive.zip)

[2018-09-28 00:45] kamerondotcom commented on #8053
I am also seeing this error. Similar environment but am seeing the behavior regardless of the `.cache` directory being cleared.

[2018-09-28 00:45] xjamundx opened #8603 "Wildcard Client-Only Routes Giving _page is undefined error"
## Description

[code]

### Steps to reproduce

Make a super basic file called `routes/profile.js` and add this into your `gatsby-node.js` file:

[code]

### Expected result

The page should render

### Actual result

Nothing renders and the browser shows an error as stated above.

### Environment

[code]

### Armchair Guessing What's Wrong

When we're registering pages they get registered by the

[2018-09-28 01:00] benjaminmodayil commented on #4360
@Jonqth Thank you so much!

[2018-09-28 01:15] xjamundx commented on #8603
Also feel free to ignore this completely. I'll figure it out on my own. Not any rush.

[2018-09-28 02:41] 07Gond commented on #7986
Post here any update or if you need help 💪

[2018-09-28 03:07] xyy94813 opened #8605 "The properties of the object returned by css modules auto transform to `lowerCamelCase`"
## Summary
I am trying to migrate v1 to v2. In my project, i used `gatsby-plugin-less`, `CSS Modules` and `React-CSS-Modules` .
I found all properties of the object returned by css modules auto transform to `lowerCamelCase`, although i use `-` to split word.

## Relevant information
My less file `style.module.less`:
[code]
My Component file `MyComponent.js`
[code]

### Environment (if relevant)

S

[2018-09-28 03:07] DSchau commented on #8603
@xjamundx hello 👋

I'm probably missing something obvious here, but I set up the structure as you explained, and I'm not sure the createPages API is being called like you'd expect. When I create the `src/routes/profile.js` page, and I log out `page` in gatsby-node.js, I don't ever see a path that would match `/profile/`.

If I add a plugin `gatsby-plugin-page-creator`, like so:

[code]

then the m

[2018-09-28 03:30] xyy94813 commented on #8605
How can I modify the configuration `camelCase` to `false` of css-loader

[2018-09-28 03:34] xjamundx commented on #8603
Your thing looks great!  I meant `pages/profile` instead of `routes/profile` which probably affects your thing a bit. Let me pull down your and tweak it. Really appreciate your support.

[2018-09-28 03:36] xjamundx commented on #8603
Yeah it repros easily if you do the following:

1. `mv ./routes/profile.js pages`
2. Remove the `gatsby-plugin-page-creator` plugin

[2018-09-28 03:36] xjamundx commented on #8603
But why did your thing work and should I have used that plugin (is it some special magic to support my use case?)

[2018-09-28 04:14] xjamundx commented on #8603
Here's the commit:
https://github.com/DSchau/gatsby-8603/commit/52d886aefea084782ccd13887354229a9c5d942a

[2018-09-28 04:55] kakadiadarpan commented on #8605
@xyy94813 can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-28 05:06] kakadiadarpan commented on #8578
@muukii have you installed `gatsby-cli` in your machine? If not, can you please install it globally and then run `gatsby info --clipboard`?

Also in the [comment](https://github.com/gatsbyjs/gatsby/issues/8578#issuecomment-425276414) above, you mentioned that you are using in Gatsby v1, but the repo you provided is with Gatsby v2?

When I ran the project using `yarn develop` I got this error:

[2018-09-28 05:08] cardiv commented on #7454
I saw this behavior on [gatsbyjs.com](https://www.gatsbyjs.com/) today and found it quite nice. Could this be recreated for a case (and others) @Manoz mentioned? Or do you think it is totally user unfriendly?

[2018-09-28 05:56] kakadiadarpan commented on #8478
@anderskitson  can you try updating your `gatsby-cli` version to the latest?

[2018-09-28 05:58] kakadiadarpan commented on #8531
You can just run `yarn upgrade-interactive` and you'll be able to update the packages to the latest stable versions. Let me know if you need more help.

[2018-09-28 05:59] kakadiadarpan commented on #8542
@forxtu Glad that it worked out for you. Thank you so much for the update! 😄

[2018-09-28 05:59] #8542 closed

[2018-09-28 06:05] xjamundx commented on #8603
By the way here's the place in the code where it fails:
<img width="592" alt="screen shot 2018-09-27 at 11 03 49 pm" src="https://user-images.githubusercontent.com/246143/46190749-a814d800-c2a9-11e8-91b5-b3942559c92c.png">

Weirdest thing is even my local branch is failing, which makes me wonder if it's cache or serviceworker related. I am pretty stumped at this point :)

Error in Chrome:
<img wid

[2018-09-28 06:09] CanRau commented on #8605
@xyy94813 Have you checked out [#onCreateWebpackConfig](https://www.gatsbyjs.org/docs/node-apis/#onCreateWebpackConfig) in docs?

And https://github.com/gatsbyjs/gatsby/issues/376#issuecomment-237067213 suggests that both should be available (kebab and camel case)? Don't have a way of trying it out quickly right now, maybe it has been changed?

[2018-09-28 06:10] xjamundx commented on #8603
Oh and using `gatsby build` and `gatsby serve` it won't repro, because it's only showing up in `gatsby develop` mode

[2018-09-28 06:34] AlmeroSteyn commented on #8579
That will be perfect. Setting the alt attribute to empty for the actual image while loading and then setting the alt attribute of the placeholder to empty when the image is loaded. Switching the actual alt value like this will ensure that anyone who encounters either a loading or loaded picture with a screen reader will get one instance only and get the correct alt value read back to them.

[2018-09-28 07:13] FlatEarthTruther commented on #7555
Thanks @dwehrmann this fixed my issue with `WebpackError: window is not defined` when importing `wavesurfer.js`. YouTube search "AGE OF DECEIT"

[2018-09-28 07:35] kakadiadarpan commented on #8605
Thanks for providing the context @CanRau.

@xyy94813 This was mentioned in the [migrating from v1 to v2 guide](https://next.gatsbyjs.org/docs/migrating-from-v1-to-v2/#update-css-modules-class-names-that-use-dashes).

If you want to change this behavior you'll need to [add custom webpack config](https://next.gatsbyjs.org/docs/add-custom-webpack-config/#add-custom-webpack-config).

You'll need make

[2018-09-28 07:36] CanRau commented on #8330
Closing to clean up this not so important issue

[2018-09-28 07:36] #8330 closed

[2018-09-28 07:38] CanRau commented on #8605
@kakadiadarpan thanks for providing the code 👍 didn't had the patience to dig more into it at that time^^

[2018-09-28 07:52] ascorbic commented on #8527
@grubersjoe I believe that yes, JSON should be cached forever, as it's in `/static/`

[2018-09-28 08:15] #8126 closed

[2018-09-28 08:18] xyy94813 commented on #8605
@kakadiadarpan thanks for your help.

it is better, if there are some way to override it in `gatsby-plugin-less` 😄

[2018-09-28 08:27] thibautRe commented on #5874
Hey @kakadiadarpan

It's an undocumented feature so you won't find any.

I think what @NaderIkladiousC meant is that most of the GATSBY env variables start with `GATSBY_` except this one, which can be confusing. Renaming that env variable would make things more consistent - but would be a breaking change for people using that feature.

[2018-09-28 08:37] kakadiadarpan commented on #8605
@xyy94813 It's not possible to override this from `gatsby-plugin-less` as this functionality is controlled by another loader `css-loader`:

https://github.com/gatsbyjs/gatsby/blob/c0e503d0df7cefb3b072e85155e2ce853e48fb53/packages/gatsby/src/utils/webpack-utils.js#L201

[2018-09-28 08:39] kakadiadarpan commented on #5874
@thibautRe Thanks for the clarification.

@pieh any inputs regarding this?

[2018-09-28 08:46] deadcoder0904 opened #8608 "Cache Google Analytics in Gatsby using gatsby-plugin-google-analytics to leverage browser cache?"
I want to leverage Browser Caching while using [Gatsby Plugin Google Analytics](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-google-analytics).

I tried using https://blinkloader.com for my site https://akshaykadam.me but it gave me 1 issue **LEVERAGE BROWSER CACHING**

So I tried putting a `cookieExpires` field in `gatsby-config.js` like

    {
    	resolve: `gatsby-plugi

[2018-09-28 08:47] CanRau commented on #8605
could you get the desired result @xyy94813? If so we could close the issue, otherwise let us know how we can support you

[2018-09-28 08:48] xyy94813 commented on #8605
@kakadiadarpan https://github.com/gatsbyjs/gatsby/blob/34b5e50b669c9792dd6435686fb617a0f16dfc7e/packages/gatsby-plugin-less/src/gatsby-node.js#L5
if the `gatsby-plugin-less` provide a option, i will become possible
[code]
https://github.com/gatsbyjs/gatsby/blob/34b5e50b669c9792dd6435686fb617a0f16dfc7e/packages/gatsby-plugin-less/src/gatsby-node.js#L25

But i am not sure it is a better way.

[2018-09-28 08:56] kakadiadarpan commented on #8608
@deadcoder0904 This option is currently not being used in `gatsby-plugin-google-analytics`. Would you like to work on this and raise a PR for it?

You'll need to make changes in the file below:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-google-analytics/src/gatsby-ssr.js

Here's google analytics [documentation](https://developers.google.com/analytics/devguides/collection

[2018-09-28 09:08] ericmarkmartin opened #8609 "Compound export statment doesn't work for page template components"
## Description
When writing a page template component the following pattern works
[code]

However, the following results in the `data` prop being `undefined`
[code]

### Steps to reproduce

Export the component and the query of a page template component in one compound statement.

### Expected result

The data prop in the component should be populated with the result of the query

### Actual resul

[2018-09-28 09:42] m-allanson opened #8610 "Port v1 `gatsby-plugin-catch-links` to v2"
## Summary

@jdfm recently updated v1 of `gatsby-plugin-catch-links` to cover more edge cases and added tests 🎉 We should port these updates over to v2 of `gatsby-plugin-catch-links`

### Basic example

View the changes in @jdfm's pull request: https://github.com/gatsbyjs/gatsby/pull/7779/files.

Import the changes in the following files to the current version of Gatsby:

- packages/gatsby-plugin-

[2018-09-28 09:45] #8605 closed

[2018-09-28 09:49] williamtstanley opened #8611 "Production build failing: Image generation"
## Description

During a recent refactor of our site we moved more images into remoteFileNodes so that we could take advantage of the GatsbyImage component. As we added more image queries we started to see netlify builds fail. Repeated attempts would sometimes work.

The most recent update included a number more images and now netlify builds die (after approximately 10 minutes) and even local prod

[2018-09-28 09:53] Mesoptier commented on #6211
Hi all! Not a Gatsby user here, but figured I'd chime in anyway since I have been dealing with a similar issue. According to [this related issue](https://github.com/webpack-contrib/style-loader/issues/107#issuecomment-347043971) on the `style-loader` package the FOUC can be fixed by disabling the `sourceMap` option for `style-loader`. (Or by enabling `singleton`, but I was still getting FOUC after

[2018-09-28 09:58] williamtstanley commented on #8611
Possibly related to #8056 as they have an issue with a very large number of images being generated compared to v1?

[2018-09-28 09:59] muukii commented on #8578
@kakadiadarpan

The reproduction project was made from a template.
It seems using Gatsby v1.

You can create the following command.
`gatsby new reproduction https://github.com/gatsbyjs/gatsby-starter-blog`

Then, add following script to `src/pages/hello-world/index.md`

[code]

If you have time, please try it.

[2018-09-28 10:13] deadcoder0904 commented on #8608
Idk how to do that actually. All these stuff is a bouncer for me that's why I let Gatsby handle that 😂

[2018-09-28 10:37] PierreBresson opened #8612 "WebpackError: self is not defined"
## Description

Suddently I cannot build anymore while develop is working well. I have the following error :

[code]

### Steps to reproduce

Just run `gatsby build`

### Expected result

Get files in public folder.

### Actual result

Crash on build. The real fun is that `gatsby build` used to work and I did tag a specific commit to make sure I can go back to this "working version". I revert to t

[2018-09-28 10:41] kaishin commented on #7310
@janosh I meant the decision of reach/router maintainers to not provide a way to disable, or at least customize this wrapper div. I am a big proponent of semantic HTML and I am bummed that I have to deal with yet another wrapper div that only serves as a hook to a library that I barely knew about before facing this issue.

[2018-09-28 10:55] williamtstanley commented on #8611
Follow up. If I go back a few commits before the most recent image update the generated thumbnail amount is 1900 and the build will succeed. However not always... that seems to be right at the line of timing out or what ever is happening.

[2018-09-28 11:15] pieh commented on #7454
@cardiv can you try adding this to your `gatsby-browser.js`:
[code]

[2018-09-28 11:28] kakadiadarpan commented on #8612
@PierreBresson can you provide a reproduction repo for this? That would make it much simpler to diagnose this issue.

[2018-09-28 11:30] kakadiadarpan commented on #8611
@williamtstanley Let's continue this issue discussion on #8056.

Closing in favor of #8056

[2018-09-28 11:30] #8611 closed

[2018-09-28 11:54] kakadiadarpan commented on #1043
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-28 12:01] kakadiadarpan commented on #2095
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-28 12:02] kakadiadarpan commented on #2097
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-28 12:04] kakadiadarpan commented on #2107
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-28 12:06] kakadiadarpan commented on #2137
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-09-28 12:06] #8381 closed

[2018-09-28 12:29] pieh commented on #8574
Thanks for report - this is fixed in newer version of gatsby - we just need to bump gatsby dep - https://github.com/gatsbyjs/gatsby/pull/8510

[2018-09-28 12:31] dabedoc commented on #8566
Well, I think I might have been a little vague. So what I want to do is that I want to fetch the markdown data  from the public build. Gatsby fetches data from the markdown files and use it to generate the pages. It also generates json file with the data from the markdown right? I want to get that data.

[2018-09-28 12:58] #8574 closed

[2018-09-28 13:01] pieh commented on #8549
If we want this behaviour (which I'm not sure if really critical) we would need to change RouteHandler in `root.js` to test against same `dev-404-page` regex

[2018-09-28 13:19] pieh commented on #8603
Hey should be fixed in gatsby@2.0.4 ( https://github.com/gatsbyjs/gatsby/issues/8285 )- please upgrade gatsby and let us know if that works (I tried reproduction repo and it worked)

[2018-09-28 13:39] rickbrunstedt commented on #8142
Sorry for delay again (computer free vacation)
yeah maybe there is a better way doing it. I don't know gatsby that well and thought maybe there is someone here that could help me out. :)

Otherwise I guess I would have to stringify it.

I'm closing this now.

[2018-09-28 13:39] #8142 closed

[2018-09-28 13:40] haroldangenent opened #8615 "[gatsby-source-wordpress] Get (flexible content) fields for multiple post types"
I think there are no issues opened on this subject, so here it goes.

## Summary
I want to query [flexible content fields](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/?=wordpress#query-with-acf-flexible-content) from a WordPress post type. Using the provided link, this is quite easy. I just use a query similar to this (simplified without using variables for retrieval):

[code]

Now l

[2018-09-28 13:43] fk commented on #3442
@kakadiadarpan Just tried `node scrape.js kyle__mathews`, and as the previous commenters reported, scraping seems (again/still) broken. 😿

[2018-09-28 13:44] davidbailey00 commented on #8549
Yeah this definitely isn't something essential to fix, just a problem I noticed while adding the "preview custom 404" button

[2018-09-28 14:11] loudmouth opened #8616 "gatsby-plugin-layout stopped working (in dev mode) after beta"
## Description

Hello 👋 since upgrading from the beta versions of the main Gatsby dependency and plugins to the release v2 versions, I have noticed that `gatsby-plugin-layout` is no longer working as expected (it worked in beta). I have a music player that should be present on each page without reloading, but now when I change pages on my site, I see the entire site reload instead of just the are

[2018-09-28 15:02] janosh commented on #7310
I understand your point now and quite agree. I feel much the same about non-semantic markup.
I was just confused by the end of your comment

as I don't see why people who _are_ using `styled-components` would be unaffected.

[2018-09-28 15:03] azamatsmith commented on #8056
@jordyvanraaij @williamtstanley I was able to bypass this issue by using this plugin: [gatsby-plugin-netlify-cache](https://github.com/axe312ger/gatsby-plugin-netlify-cache).

It doesn't solve the issue of the images taking so long to process, but it reduced my build times to ~5 minutes and does not trigger the time limit error. The key is to getting this plugin in the project's `master` branch be

[2018-09-28 15:16] DSchau commented on #8571
@vanthiyathevan I can't replicate this! Could you provide some more context re: browser, and/or just try again? We've been making some changes to the offline plugin so it's possible that this has (very) recently been fixed.

[2018-09-28 16:01] DSchau commented on #8421
I didn't get a chance to mention it in the meeting, but I think one of the most helpful things we can do to increase community engagement is simply sizing of issues, and adding corresponding labels (e.g. t-shirt sizing=small, medium, large, etc.). An issue that requires a great deal of context may necessarily be "large" not because it's necessarily challenging, but because the ramp up curve to get

[2018-09-28 16:03] amberleyromo commented on #8517
Handling afk with @thebigredgeek

[2018-09-28 16:03] #8517 closed

[2018-09-28 16:19] #7730 closed

[2018-09-28 16:46] eric-personal commented on #4156
Is this fix only in V2. Trying to figure out how to stop this in V1. Its driving me crazy.

[2018-09-28 16:46] ooloth commented on #7003
I'm also getting a mysterious new error in IE11 with `gatsby v2.0.8` that reads:

`Unhandled promise rejection Typeerror: Object doesn't support this action`.

[2018-09-28 17:37] CanRau commented on #8566
Sorry but still don't really get it^^
That's, in my understanding what you do using graphql…
But you want to fetch it dynamically from the browser? From the same or another page?
Does not include frontmatter but maybe
[code]
helps?

You mean like
[code]
So you want to know the filename?

[2018-09-28 18:08] NathanLawrence commented on #8479
It's unclear why, but it looks like 2.0.11 or 2.0.12 may have fixed this.

[2018-09-28 18:08] #8479 closed

[2018-09-28 18:14] wardpeet commented on #7034
I could help with this if you like. It's best to run it in a docker container as a separate travis stage. The scores might vary but you should test >80 and we can also test part of the audits so we don't look only at the scores.

Note that lighthouse startup and run might take 2-5min on Travis inside a container

[2018-09-28 19:19] daniel-vu commented on #2097
Probably stale. I'll test V2 and reopen if it's an issue.

[2018-09-28 19:19] #2097 closed

[2018-09-28 20:19] #7731 closed

[2018-09-28 20:27] sxu2583 opened #8627 "TypeError: _.includes is not a function"
## Summary

When running gatsby I get the below error with gatsby-transformer-sharp

[code]
I think it has to do with a missing or corrupted dependency but Im not sure.

### Environment (if relevant)

[code]

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2018-09-28 20:50] DSchau opened #8629 "Nodes from on-create-node fail to persist after first run/cache"
## Description

Using the [`onCreateNode` API](https://www.gatsbyjs.org/docs/node-apis/#onCreateNode) works great. However, on subsequent builds (e.g. with a .cache folder persisted), the nodes created from that API do not seem to be cached correctly or otherwise persist, and thus the build breaks.

### Steps to reproduce

[Demo](https://github.com/DSchau/gatsby-on-create-node-bug)

In particular,

[2018-09-28 21:10] jserrao commented on #5835
Anybody have a sense of how to fix this error for `AudioContext()`? The only way I've ever used it is mounting to the `window` object - is there another way to do this? I'm trying to use the `react-media-player` component. Same issue as others in this thread - works fine in dev mode working with the client but when you build out for SSR, I'm getting the `window is not defined`:

[code]

[2018-09-28 21:38] #7585 closed

[2018-09-28 22:02] relytmcd commented on #8237
@kakadiadarpan I have experienced this issue as well - here's a demo https://github.com/relytmcd/gatsby-issue8237-demo

basically, hot reload was working for me when changing styles in a page, but when I import a component, changing those styles does not hot reload

  System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R) Core(TM) i7-3615QM CPU @ 2.30GHz
    Shell: 5.3 - /bin/zsh
  Binari

[2018-09-28 22:35] #7785 closed

[2018-09-28 22:44] williamtstanley commented on #8056
Was testing some changes as noticed something interesting in the build output. It started the Building production JS step before it was finished generating the thumbnails. Not sure its totally pertinent but it certainly was strange.

[code]

[2018-09-28 22:58] DSchau commented on #8629
For posterity, the issue is that nodes are garbage collected based on the existence of a parent (thanks @KyleAMathews)

So the fix is do something like this (at the plugin level):

[code]

instead of

[code]

[2018-09-28 22:58] #8629 closed

[2018-09-28 23:06] #6704 closed

[2018-09-28 23:11] KyleAMathews commented on #4261
@sgrove mentioned this lib too https://github.com/cristianoc/REInfer

[2018-09-28 23:53] amberleyromo commented on #7753
Closed via #8602

[2018-09-28 23:53] #7753 closed

[2018-09-29 00:12] manuelro commented on #1458
CRA is a very good option if you want to stay away from frameworks. My motto is that concretions are certainly bad, when you use a framework they tell how to do do things, and sometimes you end up trying to fit a circle within a rectangle in order to make things work for your project. Gatsby on other hand is a concretion, it's a framework which means it's opinionated in many regards, and this tran

[2018-09-29 02:52] vanthiyathevan commented on #8571
This issue seem to have been resolved with the last build

[2018-09-29 02:59] helmutgranda opened #8634 "Blog Demo has an Invalid certificate"
## Description

When visiting https://gatsby-starter-blog-demo.netlify.com/ I get a "Privacy error" message

### Steps to reproduce

* Open a new browser window or tab:
* Type: https://gatsby-starter-blog-demo.netlify.com/
*

### Expected result

Page should load without any errors

### Actual result

"Privacy error" is displayed
![image](https://user-images.githubusercontent.com/82293/46240225-b9

[2018-09-29 06:00] stefanprobst commented on #7585
Although this has now been closed, I am still unclear about what the actual problem is?

[2018-09-29 09:56] voordev opened #8636 "Page Block/Section Components ( Library )"
Im looking for component library but not components like 'button', 'slider' but components like
'hero', 'pricing table', 'footer', etc.

Blocks of page elements needed in every website.
Something like bootstrap themes but then for react/gatsby so you can say, import a pricing table into your project.

Is there/ are there any solutions in this regard?
I already did extensive searching but only foun

[2018-09-29 10:03] voordev commented on #8636
What I look for is something like this:

https://www.froala.com/design-blocks/webpage-builder

But then with gatsby compatible, react components/ blocks.
_my goal is to minimise the time required to testdrive a certain page block like pricing table and not have to reimplement each html part to a react / gatsby component _

[2018-09-29 10:37] umstek commented on #5838
`gatsby-cli` v2.4.2, I still see the issue.

[2018-09-29 11:35] pieh commented on #8629
We probably could show warning if `createNode` is used in `onCreateNode` and it doesn't set passed `node` as parent?

[2018-09-29 13:10] rahilwazir opened #8637 "free(): Invalid size"
## Description

When I run `gatsby develop`, it throws the following output and fails to start server

[1]    4835 abort (core dumped)  gatsby develop

### Steps to reproduce

Just simple follow https://www.gatsbyjs.org/docs/ quick start guide. and it fails on step 3.

### Expected result

[code]

### Actual result

[code]

### Environment

[code]

[2018-09-29 13:17] jonearley commented on #7543
@KyleAMathews I could take a look. Where should I start?

https://github.com/gatsbyjs/gatsby/blob/445f5ff7508ab613967e18b32490e3feffd7730c/packages/gatsby-transformer-react-docgen/src/on-node-create.js#L106

[2018-09-29 13:31] dabedoc commented on #8566
The graphql option is only available during the development. Not for when you have built static pages for your site. I want to get data from the static pages built from gatsby. So yeah, I would wanna know the name of the json files that contains that data.

[2018-09-29 13:55] rahilwazir commented on #8637
Closing in favor of: https://github.com/gatsbyjs/gatsby-starter-default/issues/93

[2018-09-29 13:55] #8637 closed

[2018-09-29 13:56] oliviertassinari commented on #7862
I can reproduce the issue. If you are looking for a reproduction repository, https://github.com/mui-org/material-ui/blob/master/examples/gatsby/README.md is a good one.

[2018-09-29 14:08] eric-personal opened #8638 "GatsbyImageSharpResolutions GraphQLError: Expected positive integer for height but received 53.5 of type number,GraphQLError:"
## Description
GraphQl error when adding width to the query.

[code]

### Steps to reproduce

Using Prismic gatsby-source-prismic 1.2.0 plugin. When I add a image (example size could be any size) 300 x 100 then try to set smaller or larger size (in my graphQl query) than the size set in Prismic custom type I will get a build and develop warning which breaks the build. See error above.

In prismic

[2018-09-29 15:38] browne0 commented on #6211
In that case, I can open a PR to change that in the webpack config.

it's currently only using source map when its not production.

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack-utils.js#L195

[2018-09-29 15:40] simonjoom commented on #8616
hello i'm using the last gatsby, using gatsby-plugin-layout, i have to say that it's totally work for me.

Of course the components who contain your pages in /pages will unmount

just put a WillUnmount in your Layout component.
  componentWillUnmount() {
    console.log("unmountLayout")
  }

if you don't see unmountLayout then it's totally fine.
The component should to not unmount like sidebar jus

[2018-09-29 16:04] mikelax commented on #8579
I have looked over the lib, and I think I have any easy solution using the `isVisible` attribute in state to conditionally set the alt text for the placeholder images. PR incoming this weekend.

[2018-09-29 16:06] simonjoom opened #8640 "clients-only-path Feature mods with example attached"
## Summary

## Relevant information

Using clients-only-path with last gatsby v2 work only if we define one page/one component for one route.
The use case for me it was to create a little tchat with client-only-page to avoid page generations for the tchat routes.

As clients-only-path is not related about generate pages for a real route it should be available for any page and fully customisable wi

[2018-09-29 18:10] CanRau commented on #8566
don't know how to do that right now as I didn't had the need so far, sorry…
still curious why one would need to get them later, but you don't have to share your use case of course^^

One thing which came to my mind would be using them on a non gatsby page, but how to provide the names to them? easier could be creating some kind of api endpoint or expose the needed info in an rss feed or maybe more

[2018-09-29 18:36] oliviertassinari commented on #8237
I have been digging into this issue, spent an hour or so. I have no clue what's going on. The React lifecycle calls seem to be all wrong. Next.js has recently removed the `react-hot-loader` package. Overheal, this change was a great improvement both for update time performance and for predictability. There is one thing that looks very wrong, the `wrapRootElement()` method as well as the children h

[2018-09-29 18:54] oliviertassinari commented on #8237
Here is the behavior with the simplest test case possible:
[code]

[2018-09-29 18:54] CanRau commented on #8566
how about the json feed idea? but yeah I guess you would still have to do a lot of property mapping manually, if that's what you try to avoid…

[2018-09-29 19:03] oliviertassinari commented on #8237
https://github.com/oliviertassinari/material-ui/tree/gatsby-bug-reproduction

[2018-09-29 19:54] Coriou commented on #8056
I just want to report that I have the same problem.

Gatsby builds were all nice and sweet until I started manipulating images. I only have a few images for the whole site (roughly 50), but with the different sizes, the sqip versions and all, I end up with 700 images...

So, I understand it takes a long time to process (though, should it be THAT long ?). But what I believe is even more of a proble

[2018-09-29 21:45] rscott commented on #8610
I took a shot at this in PR #8646, hope it works out OK.

[2018-09-29 23:10] riencoertjens commented on #5213
Hi @jlengstorf
I've been banging my head at this for the past few hours but somehow I don't seem to get it working. I just tried to do this in a fresh install of the default starter and still no luck. Am I missing something?
I added the component mentioned above (https://github.com/jlengstorf/marisamorby.com/blob/master/src/components/shared/PageTransition.js)
added it to the layout component
adde

[2018-09-30 05:56] levibuzolic commented on #2374
Originally I tried to use [`get-graphql-schema`](https://github.com/prisma/get-graphql-schema) to download a schema from the GraphQL server and then [`relay-compiler`](https://facebook.github.io/relay/docs/en/graphql-in-relay.html) which worked great, until it encountered Gatsby's GraphQL query/filter/sort syntax which is incompatible Relay.

[code]

Will produce an error like:

[code]

Relay has

[2018-09-30 08:00] ouzhou commented on #8325
same issue both macOs and Windows
:(

[2018-09-30 08:39] codejet commented on #8325
I had an issue on macOS which sounded very similar, and it was due to having the wrong version of Node installed. But in my case it was pretty clear from the error message.

[2018-09-30 09:04] Coriou opened #8651 "plugin-offline - Response served by service worker has redirections"
## Summary

I am using the `gatsby-plugin-offline` in it's default configuration. On my iPhone, when I try to access the site (previously accessed just fine) I'm getting this error "**Response served by service worker has redirections**". And that's it.

I don't have anything in the console other than this message. I have no idea how to debug this. I didn't want to clear my device's cache or anyth

[2018-09-30 11:49] isachivka commented on #6494
Hi! You can get path here:
[code]

[2018-09-30 13:26] Hypnosphi opened #8652 "HTML build fails on object destructuring in `.cache/static-entry.js`"
## Description

I'm trying to migrate https://storybook.js.org to Gatsby 2. Development build works OK but in production I get this:

[code]

### Steps to reproduce

Run `yarn build` in https://github.com/storybooks/storybook/tree/snyk-fix-q1x0k4/docs (note the branch)

### Expected result

No error

### Actual result

Error, see above

### Environment

[code]

[2018-09-30 14:25] darkowic opened #8654 "ES6 module - export 'Component' was not found in 'components/Component'"
## Description
Disclaimer: I am writing first project with Gatsby to test it.

I have a component called `Slider` in `components` directory:
[code]
The `index.js` file contains all exports for this module
[code]
This in preety common patern that I usually use for my components. Then I try to import it in my `index.js` page
[code]
and I receives following warning:
[code]
And of course undefined val

[2018-09-30 14:46] thescientist13 commented on #7034
Hey @wardpeet , that sounds good!  Admittedly I have let this one slide.  Feel free to give it a go!

[2018-09-30 14:52] thescientist13 commented on #7034
@m-allanson

That's a good point.  I suppose it would have to be targeted to a couple of the key starter repos and / or maybe a standalone Gatsby repo with a "kitchen sink approach" that can really exercise the build with a handful of common plugins to ensure scores stay healthy / consistent across a representative sample size.

I suppose this task could also be seen as a "canary in the coal mine"

[2018-09-30 15:43] platonish commented on #5263
Make sure you've installed bootstrap:
`npm install bootstrap --save`

Then in your index.js:
`import 'bootstrap/dist/css/bootstrap.min.css';`

[2018-09-30 15:49] corydeppen opened #8655 "Runtime error when loading mjs files"
## Description

I've read through several recent discussions about supporting `mjs` files and I see gatsbyjs/gatsby#8327 was merged to include the extension, however I continue to see the original `require is not defined` runtime error after adding the change to include the extension. From what I've seen in my app and in several repos (e.g. aws-amplify/amplify-js#686, facebook/create-react-app#515

[2018-09-30 16:18] loudmouth commented on #8616
Hmm, running one more `npm update` has fixed the issue. My new environment looks as follows:

  System:
    OS: macOS High Sierra 10.13.6
    CPU: x64 Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz
    Shell: 2.3.1 - /usr/local/bin/fish
  Binaries:
    Node: 8.11.1 - ~/.nvm/versions/node/v8.11.1/bin/node
    Yarn: 1.6.0 - /usr/local/bin/yarn
    npm: 5.6.0 - ~/.nvm/versions/node/v8.11.1/bin/npm
  Brows

[2018-09-30 16:18] #8616 closed

[2018-09-30 16:46] Federkun commented on #8654
Same issue. Had this problem only when I ran `npm update`, diff:

[code]

[2018-09-30 17:01] KyleAMathews commented on #8655
This sounds like a reasonable change to add to core. Can you create a reproduction site that currently doesn't work?

[2018-09-30 18:02] corydeppen commented on #8655
https://github.com/corydeppen/gatsby-8655-example

[2018-09-30 19:43] mikelax commented on #8634
I just checked and the certificate is valid on macOS / chrome.
Can you try to update your browser, and apply any OS updates. If that doesn't work try turning off any anti-virus software you may have, also apply any updates to the anti-virus software as well.

[2018-09-30 20:32] voordev opened #8657 "https://www.gatsbyjs.com source? for learning"
Is the https://www.gatsbyjs.com source available or could it be made available?
for learning purposes.

[2018-09-30 20:38] oorestisime commented on #6999
Hey, i would like to give this a go if nobody is touching this (mainly because i work on an image heavy site :) )

[2018-09-30 20:40] sw-yx commented on #6137
totally. cheers!

[2018-09-30 21:38] dumblole opened #8658 "dangerouslySetInnerHTML"
## Summary
I was reading the react docs and found that `dangerouslySetInnerHTML` is not safe and is vulnerable to https://en.wikipedia.org/wiki/Cross-site_scripting . Should I be worried?

## Relevant information

This is just a question about how markdown is put into react templates.

[2018-09-30 22:46] dumblole commented on #8325
@ouzhou  what error did you get? What does it say? Is it something to do with Sharp?

[2018-10-01 00:14] pieh commented on #8657
It's available as part of this repo: https://github.com/gatsbyjs/gatsby/tree/master/www

[2018-10-01 00:14] #8657 closed

[2018-10-01 00:48] stepheljobs commented on #8612
I have the similar issue, was debugging all night and I found out it is coming from importing the firebase module.

`import firebase from "firebase"` this can replicate the issue.

[2018-10-01 01:18] TylerBarnes opened #8659 "Question about giving the layout component information about the page component for per page transitions."
## Summary
I spent some time a couple weeks ago figuring out how to get a different page transition for each page (as specified by the page component) and I came up with what seems to me to be a reliable enough solution. It feels hacky though and I'm wondering if there's a better way to do this in gatsby.

I'm using `gatsby-plugin-layout` to create my own layout component that doesn't unmount. I'm

[2018-10-01 01:37] TylerBarnes commented on #8659
This could be the foundation for a gatsby transition component plugin #5213 if for example the page component could just have a named export that the layout component could pick up.

[code]

[2018-10-01 03:10] Pustur commented on #1990
Sorry to bring this up again, I'm still having this issue with the package `prop-types` in a new gatsby v2 installation using the default starter.

Should i just get rid of it using `npm i -S prop-types`? Or is this supposed to be in `package.json` from the beginning?

(Maybe this is an issue with the starter itself?)

[2018-10-01 03:57] smashmiek commented on #7003
I tried @sarahannnicholson's approach and can confirm that when running `gatsby develop`, there are no console errors in IE11, but when running `gatsby build`, I get the same errors as @sarahannnicholson.

But I don't get any errors in IE11 when I run `gatsby build --no-uglify`

[2018-10-01 04:10] larryPersonal opened #8661 "v2 migration: can't see export statement from another .js"
## Summary

My project has problems finding exports from some .js files; the structure worked back in v1. The migration docs seem to say nothing about this.

## Relevant information

One example of such a file is my i18n.js, located in /data/i18n.js, which has the content

[code]

In any other .js file, for example,  ./src/components/deskHeader.js, The import line is simply

`
import { locales } f

[2018-10-01 04:28] tsriram commented on #8658
In general, inserting any HTML to your webpage is not safe especially when the HTML comes from user input. If you're talking specifically about using `dangerouslySetInnerHTML` with `gatsby-transform-remark`, I'd say you need not be worried if you're sure that the markdown files don't contain any malicious JavaScript.

[2018-10-01 04:29] kakadiadarpan commented on #8609
I'm able to reproduce this in `gatsbygram`.

@pieh any idea why this might be happening?

[2018-10-01 04:33] pungggi opened #8662 "gatsby-plugin-netlify-cms V3 version"
Because we are encouraged to cache also the Javascript Files this Html output should include version of the cms:

Example:

[code]

[2018-10-01 04:34] kakadiadarpan commented on #8627
@sxu2583 can you verify if `sharp` module has been properly installed in your machine?

[2018-10-01 04:41] kakadiadarpan commented on #8636
@voordev I'm not sure if this issue belongs here.

You can use any opensource React UI library which suits your needs, but most of the libraries that you will find will provide just basic stuff. Everyone's design/content/idea would differ for `pricing table` or any other special component. It's always better to use something that provides you with basic components and then building the components

[2018-10-01 04:41] #8636 closed

[2018-10-01 04:47] kakadiadarpan commented on #8638
@eric-personal can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-10-01 04:55] CanRau commented on #8100
Just ran a Chrome Audit which mentioned a too large image on mobile (1280px)
and figured it might be due to the `sizes` attribute
[code]
Is this the best setting?
Uh, it's from a `fluid` query and it's the header background so full screen
Also, there is currently no way overriding the sizes attribute? I'm at least getting an error, that it expects an object and not a string even though this [gatsb

[2018-10-01 05:06] kakadiadarpan commented on #8651
@Coriou can you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-10-01 06:01] rtm619 commented on #7003
Yes, I tried `--no-uglify` with gatsby build too and it works in IE 11.

[2018-10-01 06:12] pungggi commented on #8662
I have done a quick hack... by adding this in gatsby node
[code]

with the html template
[code]

The result is like this, dont know why
[code]

[2018-10-01 06:16] #8658 closed

[2018-10-01 06:20] Coriou commented on #8651
Well, no, not really. This kinda was a one off problem, as I was trying to say. I have no other debug info whatsoever, I have no idea what went wrong and thus I don't know how to reproduce it. I have the gatsby-plugin-offline actived with it's default settings.

I can not put my whole app on Github for this purpose. I'll try to figure it out myself. Thanks

[2018-10-01 06:20] #8651 closed

[2018-10-01 06:23] wongsynee opened #8663 "Using Bootstrap-Loader to load relevant components from Bootstrap"
## Summary
In our current project, we have Gatsby working alongside Bootstrap. The requirement is to use [Bootstrap-Loader](https://github.com/shakacode/bootstrap-loader) to only include the grid component from Bootstrap.

## Relevant information
As per Bootstrap-Loader's documentation we are able to configure the loader as part of the Webpack configuration under the entry, example:
[code]

As per

[2018-10-01 06:39] scottweston commented on #6233
Double check you are importing the root of your scss (e.g. `import '../assets/scss/main.scss'`) somewhere common in your components/pages. I did some refactoring recently to move to `@reach/router` and in doing so ended up with a split tree in my components hierarchy. I don't know why but in `develop` mode I got the correct styles over the entire site however on a `build` most pages had no styles

[2018-10-01 08:15] kakadiadarpan commented on #8661
@larryPersonal could you provide a reproduction repo for this? That would make it much easier to diagnose this issue.

[2018-10-01 08:27] seanngpack commented on #8576
Same exact problem, upgraded Gatsby to V2 and it resulted in this exact same error.

[2018-10-01 08:30] marcobiedermann opened #8665 "Quick start using npx"
## Summary

Add documentation to use `npx` to get started with Gatsby

### Basic example

[code]

### Motivation

This way you don't have to install the CLI globally which also keeps the CLI always up to date. Also Facebooks `create-react-app` switched to it

[2018-10-01 08:37] kakadiadarpan commented on #8663
@wongsynee Yes, you'll need to use `actions.setWebpackConfig` in `gatsby-node.js`

[code]

But it might not be a good idea to change the entry as the entry generated by `Gatsby` will be affected by that.

https://github.com/gatsbyjs/gatsby/blob/4be5cfdf5d6925f26f914518dfc51d53f979cd6d/packages/gatsby/src/utils/webpack.config.js#L142-L169

@pieh any suggestions?

[2018-10-01 08:41] kakadiadarpan commented on #8665
@marcobiedermann a downside for this would be that users won't be able to use `gatsby develop`, `gatsby build` or `gatsby serve` directly.

Users will need to have scripts do that in package.json. What do you think about that?

[2018-10-01 09:08] marcobiedermann commented on #8665
@kakadiadarpan
Are you sure about this?
I don't have `gatsby-cli` installed on my machine and it does work for me like a charm.

[code]

I also run `npm uninstall -g gatsby-cli` to double check.
Yes you are right that you are no longer able to run `gatsby develop` straight from the command line but I don't see any need for that. You should always use npm package scripts to run third party tools.

[2018-10-01 10:12] penumbra1 commented on #2410
Faced this issue today: swapped one png for another with the same name. SVG traces the new image, but the old one shows up, clipped to the size of the new one. Removing the cache didn't help.
![chaika](https://user-images.githubusercontent.com/11068840/46282833-01bc2180-c58c-11e8-8a6f-4707762b7adc.png)

[2018-10-01 10:45] larryPersonal commented on #8661
Have created a quick and dirty example based on the hello-world project here.

https://github.com/larryPersonal/gatsby-helloworld-fork

In this example, src/pages/index.js has no problems seeing the 'locales' export from src/data/i18n.js from the directory, but src/components/deskHeader.js cannot see the same export with the same import statement.

[code]

This project has warnings due to unused v

[2018-10-01 10:57] kakadiadarpan commented on #8531
Thanks for the update @kossel

[2018-10-01 10:58] kakadiadarpan commented on #8571
Thanks for the update @vanthiyathevan

[2018-10-01 10:58] #8571 closed

[2018-10-01 11:02] pieh commented on #8663
What `bootstrap-loader` actually do? I'm honestly not sure how to fit this into gatsby

[2018-10-01 11:09] pieh commented on #8576
@brandonferrer it seems like your wordpress installation have some problems - non of the links works: trying to click on post details result in:
[code]
and same when trying to hit REST endpoint - http://brandonferrer.blog/wp-json

[2018-10-01 11:14] pieh commented on #8576
[`using-wordpress`](https://github.com/gatsbyjs/gatsby/tree/master/examples/using-wordpress) example works, so I can't really tell what's wrong without more details

[2018-10-01 11:15] jezallan commented on #3571
This was resolved for my build on v2 when wordpress credentials were removed from environment variables and into the config directly, which was necessitated by the sensitive information leakage detailed in [#7277](https://github.com/gatsbyjs/gatsby/issues/7277)

[2018-10-01 11:18] pieh commented on #8615
Can you create fragment for flexible content type instead of fragments for each types that can be used?

[2018-10-01 11:27] pieh commented on #8640
You can still use same component for different pages / paths - you just need unique paths - I probably don't understand why this is a problem.

Also you can just create single "catch-all" matchPath with `/*` and handle routes directly in that component. If there is "static" path existing (for example `/page-2` in your example) gatsby will use that over any `matchPath` it will find

[2018-10-01 11:31] pieh commented on #8566
You can run queries in `gatsby-node` `onPostBuild` and then use whatever you like with it - you will have raw js objects with data

[2018-10-01 11:55] #8474 closed

[2018-10-01 12:01] NavidGoalpure opened #8669 "how to use variable Quary in Component"
hello i need use variable query in my component this is my query:

[code]

 i know that is wrong syntax and must use context in creapePage for variable query but my problem is that this is a simple component not a page. can you help me
 (i know that my english is trible . sorry)

[2018-10-01 12:07] kakadiadarpan commented on #8661
@larryPersonal I'm not sure following is a good way of exporting data:
[code]

In my opinion the proper way of exporting it would be:
[code]

Could you try that and check if that works for you?

[2018-10-01 12:08] kakadiadarpan commented on #8662
Sure, we always welcome community contributions!

[2018-10-01 12:10] azamatsmith commented on #8056
@Coriou The Gatsby build only takes 244 seconds when the `.cache` and `public` directories are present from previous builds. During a fresh build (with no `.cache` or `public` directory) it takes so long that it times out.

If you figure out how to persist those directories, or if you write a pre-build and post-build script that recovers and stores those directories, I'm sure your problem will go

[2018-10-01 12:27] jonathanphz commented on #1827
Anyone knows a way to do this automatically? I mean prepending `/blog/` to path automatically on page create.

[2018-10-01 12:38] #8025 closed

[2018-10-01 12:48] mikelax commented on #8261
Closed as #8275 addresses this.

[2018-10-01 12:48] #8261 closed

[2018-10-01 12:58] imshuffling commented on #8257
Thanks @pieh, I'll check it out.

[2018-10-01 13:12] #3582 closed

[2018-10-01 13:21] LeKoArts commented on #8669
You need to make the query in your template (because you have access to context there) and then pass the result as a prop to your component.

[2018-10-01 13:21] #8669 closed

[2018-10-01 13:28] sedubois commented on #3853
I agree that Lingui is indeed really nice, although still needs a complete starter, with the latest version of Gatsby but also Lingui. The mentioned starter is unofficial and was missing some features last time I checked (e.g using a loader to run lingui compile on the fly). Lingui's author @tricoder42 [said](https://github.com/lingui/js-lingui/issues/278) that he would provide documentation when

[2018-10-01 13:38] Coriou commented on #8056
@azamatsmith Currently working on this issue for my project. I figured out that it was the image transformations that were taking so long (makes sense). Also, Gatsby invalidates cache quite often (can be triggered by different things, like editing your gatsby-node file). I guess I could tackle the cache clearing issue (make sure transformed images are kept for example) but I took a different appro

[2018-10-01 13:49] azamatsmith commented on #8056
@Coriou In our builds (2900 images), we found that Gatsby **does not** invalidate the processed image cache in subsequent builds and therefore does not have to re-process (build thumbnails) for them (as long as we persist the directories that I mentioned).

[2018-10-01 13:50] DSchau commented on #8056
@Coriou we're working on this!

See #8435 and #8379 (which sorta depends on #8435). Hope to have something soon!

[2018-10-01 14:03] Coriou commented on #8056
@azamatsmith Maybe I'm doing something wrong then. I do never delete those directories, yet the build process will take forever if I edit something that triggers some cache invalidation (again, for me making any sort of edit to `gatsby-node.js`, which I do often, will trigger this invalidation).

@DSchau Great, great news ! This looks like it would solve my issue. Thank you :)

[2018-10-01 14:09] mikelax commented on #8579
New version `2.0.13` published.
Closed in #8671

[2018-10-01 14:09] #8579 closed

[2018-10-01 14:10] DSchau commented on #6349
@amykapernick we're working on this. I can't actually get your site to _build_ however. First I errored out with `Cannot find json5` and now

[code]

I'm also not quite sure what the build process is for your app. Strange to have Parcel baked in, as well!

[2018-10-01 14:14] amykapernick commented on #6349
Thanks @DSchau, my blog isn't even that big either 😬

[2018-10-01 14:14] DSchau commented on #6349
@amykapernick yeah, it doesn't really seem like you should've hit the OOM error at the scale of your site. Not really sure what's going on, it's possible some optimizations could be made!

[2018-10-01 14:16] tricinel commented on #7787
This seemed too simple. Was it still an issue? I've not integrated gatsby-plugin-offline yet into my site...

[2018-10-01 14:19] amykapernick commented on #6349
@DSchau anything in particular I could try now? Or do I need to wait for changes on your end?

[2018-10-01 15:00] DSchau commented on #6349
@amykapernick it looks like including that (empty) `gatsby-remark-oembed` was causing some issues with the build, perhaps an infinite loop?

I've successfully [deployed your site here](https://dreamy-raman-ca30d1.netlify.com/) and opened a PR against your site with the changes.

[2018-10-01 15:05] amykapernick commented on #6349
Thanks but I'm using `gatsby-remark-oembed` to embed Twitter, Instagram and Codepens in my blog posts from markdown so I need that plugin. I'll have a chat to them and see if they can assist with the issue.

[2018-10-01 15:08] ukch commented on #8502
@kakadiadarpan local machine. I use Debian Linux as my development environment.

[2018-10-01 15:09] DSchau commented on #6349
@amykapernick ah got it. OK so the issue isn't that you're _using_ the plugin, it's that you have an empty plugins/gatsby-remark-oembed folder.

I'd recommend installing the plugin and then deleting that folder!

[2018-10-01 15:11] amykapernick commented on #6349
@DSchau  I've installed the plugin, I'm using it as a submodule as they're still working on it. I'll have a look and see if I can add it a different way

[2018-10-01 15:27] haroldangenent commented on #8615
@pieh I'm not sure what you mean. What I'm trying to do is great _one_ fragment that can be used for all types. In the example above it's called `ContentFields`.

### Fragment per type
Another option would be to create "fragments" per flexible content type, as such for two types of blocks:

[code]

[code]

And then per content type:
[code]

This would make the 'per type' part quite verbose (and no

[2018-10-01 15:30] pieh commented on #8615
What about something like:
[code]
and then
[code]

[2018-10-01 15:38] haroldangenent commented on #8615
Yes, that would be great and is exactly what I've been poking around with. However, I cannot find `<NameOfContentFieldType>`. This seems to be generated inside the WordPress source plugin and becomes something like `unionContentPostNodeWordPressAcfImageWordPressAcfText_2` and is different per content type and changes a lot (when content changes, when compilation changes).

[2018-10-01 15:49] pieh commented on #8615
Ah, you are right of course. Unfortunately there is way of doing this right now, so you need to do this as You are doing right now :/

We plan on adding more control for users for schema generation (so you could force type name for `content` field) - https://github.com/gatsbyjs/gatsby/issues/4261, but it won't be done soon

[2018-10-01 16:00] kossel commented on #8531
Sorry, can I reopen this issue, I just tested again, actually it's not working :(  you can see [source branch](https://github.com/kossel/kossel.github.io/tree/source) for the source.

demo site [kossel.github.io](kossel.github.io)

[2018-10-01 16:07] siakaramalegos commented on #5073
I can take a pass at this.

[2018-10-01 16:15] haroldangenent commented on #8615
Okay, that's too bad. Thanks for your quick response however.

Theoretically, would it be an idea to 'share' `GraphQLUnionType` instances when the same nodes are linked instead of [incrementing the suffix](https://github.com/gatsbyjs/gatsby/blob/gatsby%402.0.13/packages/gatsby/src/schema/infer-graphql-type.js#L260-L265) for every encountered union type? Or does that sound generally like a bad idea

[2018-10-01 16:20] amykapernick opened #8674 "Unable to install Gatsby"
## Description

I'm unable to install gatsby on my existing site, trying to run `npm install`

### Steps to reproduce

1. Clone Repo
2. Run `npm install`

### Expected result

Gatsby should install

### Actual result

[code]

Attached debug log below

[2018-10-01T16_10_46_442Z-debug.log](https://github.com/gatsbyjs/gatsby/files/2434754/2018-10-01T16_10_46_442Z-debug.log)

### Environment

[code]

[2018-10-01 16:27] brandonferrer commented on #8576
Thanks, I was thinking that may be this issue as well, but I'm able to hit their V2 endpoint:

brandonferrer.blog/index.php/wp-json/wp/v2/posts

[2018-10-01 16:29] brandonferrer commented on #8576
Ah, just noticed I'm having to include index.php. Why would this affect the graphql schema though? I'd expect to be able to query still, then either return nothing or see some kind of graphql error.

[2018-10-01 16:32] stjepco commented on #7399
Same with me. I was just following tutorial from from https://www.gatsbyjs.org/tutorial/part-two/ and  live reloading stopped working.

[2018-10-01 16:39] siakaramalegos commented on #5073
So I think I have a fix for this, but I'm having a hard time verifying because running `gatsby develop` in `www` is giving some really weird path and other errors.
![image](https://user-images.githubusercontent.com/4777393/46302406-99127c00-c56e-11e8-9a81-0c899cd2aa52.png)

[2018-10-01 16:40] siakaramalegos commented on #5073
It's like it's trying to use absolute paths instead of relative. Lots more errors before those also. I can submit a PR (it's just json file I updated), but I'd prefer validating it worked first.

[2018-10-01 16:53] siakaramalegos commented on #5073
I think part of the problem is that I was following the contributing instructions blindly - my local gatsby-cli is behind the one in the repo. I'll create another issue to update the instructions to run `npm run develop` instead of `gatsby develop`. The CLI should probably check for a locally installed one first though right?

Also, my problems just changed - I still can't get develop to work. The

[2018-10-01 17:04] ericpidal opened #8675 "Google Tag Manager Plugin"
Google Analytics picks up the tag triggers when Tag Manager is in preview mode, but not after its published.

Am I doing something wrong or is it that V2 of the plugin is not ready for prime time?

[2018-10-01 17:09] siakaramalegos opened #8676 "How to Contribute to docs/www not consistent between website and readme"
## Summary

Direct all contributing.md files to https://www.gatsbyjs.org/docs/how-to-contribute/ so that there is only one source of truth. This allows for both easier maintenance and fewer incorrect instructions.

### Basic example

For example, https://www.gatsbyjs.org/docs/how-to-contribute/ says to run `gatsby develop` when contributing to documentation, but if the user has a globally installe

[2018-10-01 17:29] KyleAMathews commented on #8676
Not sure what you mean here?

[2018-10-01 17:34] siakaramalegos commented on #8676
@KyleAMathews if I run `gatsby develop`, it uses my globally installed version, but if I run `yarn develop`, it uses the project version

[2018-10-01 17:47] jimmylagp commented on #2505
Hi guys i have the same problem with react-stripe-elements, but my issue it's different. The message it's this:

success delete html and css files from previous builds — 0.023 s
success open and validate gatsby-config — 0.006 s
success copy gatsby files — 0.017 s
success onPreBootstrap — 0.029 s
success source and transform nodes — 0.015 s
success building schema — 0.107 s
success createLayouts —

[2018-10-01 18:01] siakaramalegos commented on #5073
It looks like the `www` site is broken right now, but I am able to load the plugins page. I was assuming `react-instantsearch` was looking in the core /packages/ directory but I think instead it is pointing to something hosted with Algolia? https://community.algolia.com/react-instantsearch/ I cannot see the Algolia set up to know if my changes in the above PR will update the indexed plugins list o

[2018-10-01 18:07] jaryl commented on #243
As mentioned by @fcatuhe, putting it in the `static` folder will copy it to `public` as is upon deploy. For anyone stumbling on these threads, and tearing their hair out figuring out why the custom domain is removed, the `static` folder works very well.

[2018-10-01 18:19] TylerBarnes commented on #6303
@01ivr3 I couldn't actually get this working using react context. I added a default prop to the page component which has the transition component as a prop that the layout file is then grabbing and wrapping around the page (check #8659 for more info on what I did if you're curious). I'm not actually sure if it would work with react spring for per page transitions. I did a quick search for how they

[2018-10-01 18:50] #7911 closed

[2018-10-01 20:20] rbadr commented on #8587
@m-allanson I'll work on this :)

[2018-10-01 21:10] DSchau commented on #5073
@siakaramalegos

Whoa, what do you mean by this?

[2018-10-01 21:31] siakaramalegos commented on #5073
Uh, are more plugins/transformers being created with the stub description? My PR cleared all the ones as of this morning but now there are 4 new ones.

[2018-10-01 21:41] siakaramalegos commented on #5073
@DSchau It's still broken - the main index page as well as some other pages are broken in development at least.

[2018-10-01 21:44] DSchau commented on #5073
@siakaramalegos running into something like this?

[code]

[2018-10-01 21:46] siakaramalegos commented on #5073
@DSchau Yes, but I don't think that's the only or main problem. About 30 errors when you open localhost:8000

[2018-10-01 21:47] siakaramalegos commented on #5073
Oh that is interesting though - this morning the error was on `gatsbyMajorVersion`, the previous item in the list.

[2018-10-01 22:32] NhielSalvana commented on #1732
no gatsby plugin needed right?

[2018-10-02 00:48] wongsynee commented on #8663
@pieh [bootstrap-loader](https://github.com/shakacode/bootstrap-loader) lets us configure which parts of Bootstrap to be loaded into the project via webpack, and that gives us a custom built of Bootstrap.

[2018-10-02 02:50] larryPersonal commented on #8661
Thanks, exporting each variable separately worked - and as it turns out in the main project, the affected classes are the only ones that appeared as

[code]

Anything that looked like

[code]

Does not seem to be affected.

I'm not entirely sure why its more advisable to export each and every non-class object separately - but I'll refactor accordingly.

[2018-10-02 04:46] kakadiadarpan commented on #8674
@amykapernick can you try upgrading your `npm` version? This might be a `windows  OS` only issue.

[2018-10-02 05:03] kakadiadarpan commented on #8675
@ericpidal If tags are being triggered in preview mode they should definitely be picked up after publishing as well.

Can you provide relevant environment information by running `gatsby info --clipboard`? Also, it would be great if you could provide a reproduction repo for this.

[2018-10-02 05:05] kakadiadarpan commented on #5042
Closed with #5067

[2018-10-02 05:05] #5042 closed

[2018-10-02 05:07] kakadiadarpan commented on #6283
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-02 05:09] kakadiadarpan commented on #7594
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-02 05:09] #7594 closed

[2018-10-02 05:09] kakadiadarpan commented on #6433
This issue is being closed because there hasn't been any activity for at least 30 days. Feel free to [open a new one](https://github.com/gatsbyjs/gatsby/issues/new/choose) if you still experience this problem 👍

[2018-10-02 05:09] #6433 closed

[2018-10-02 05:12] kakadiadarpan commented on #4475
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-02 05:15] kakadiadarpan commented on #7379
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-02 05:16] kakadiadarpan commented on #7647
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub issues, we have to clean some of the old issues as many of them have already been resolved with the latest updates.

Please make sure to update to the latest Gatsby version and check if that solves the issue. Let us know if that works for you by adding a comment 👍

[2018-10-02 05:37] TylerBarnes commented on #5213
I like where this is going but I think the proposed API needs some work.
Putting all the logic into a single transition component and then checking against the pathname as described above is going to get really out of control for sites with a lot of different animations going on.
[code]
I can imagine a massive switch/if else already and it's not pretty.

The other problem is that with the proposed

[2018-10-02 05:47] cardiv commented on #7454
Thanks, @pieh! I will try that on occasion. 👍

[2018-10-02 06:30] cardiv commented on #8103
Oops, sorry. Checked _How Gatsby Changes Teams' Website Development Workflow_ accidentally. Removed it again. Before someone gets crazy about my edit. 😆

[2018-10-02 06:34] kakadiadarpan commented on #8477
@brandonkal any updates on this issue?

[2018-10-02 07:12] amykapernick commented on #8674
I've updated to node v10.11.0 (which is the latest there is) and npm 6.4.1 and am still getting the same error.
I did have it working fine previously but deleted the node modules folder and now it won't install

[2018-10-02 07:36] amykapernick commented on #8674
I don't have a lock file but it works installing using yarn.

If you can resolve this so it works with npm though, I'd like to be able to continue using that.

[2018-10-02 08:05] kakadiadarpan commented on #8674
I'm not sure why it is not working with`npm` but it does with `yarn`.

@pieh do you have any idea regarding this?

[2018-10-02 08:10] m1guelpf commented on #8608
I'd like to work on this

[2018-10-02 08:31] brandonkal commented on #8477
Yes, I haven't had a chance to test with styled components v4 beta. It would be worth mentioning this requirement in the migration guide. Other than that, this can be closed

[2018-10-02 08:48] kkemple commented on #6170
@Undistraction do you want to add the babel plugin to your testing config or to gatsby's build itself?

If for testing you would add that to the jest-preprocessor config you create, if for gatsby itself you would use the babel config API.

The reason exposing the actual babel config is difficult is because of the plugin architecture. Any plugin can modify that config, so in order to get a proper b

[2018-10-02 09:10] deadcoder0904 commented on #8608
Sure go ahead. Thanks Miguel 🙌

[2018-10-02 09:54] DavidTheSimon commented on #8297
gatsby v2.4.1 still produces this error. Can you please look into this?

[2018-10-02 10:47] kakadiadarpan commented on #8531
Sure @kossel

[2018-10-02 11:41] apolishch opened #8694 "NPM vendored plugin fails to build"
## NPM vendored plugin fails to build

I'm getting the following really weird build issues that I can't seem to track down against a gatsby plugin I'm building. Oddly enough, when I had the exact same plugin under a plugins directory, rather than vendored through npm, the build passed just fine
[code]

For context, the following is the plugin: https://github.com/flockcover/gatsby-plugin-branch-web

[2018-10-02 12:51] SleeplessByte commented on #4115
FWIW: not using `gatsby-plugin-offline` or any service worker and still having this issue.

It seems to occur because link clicks are hijacked by the router (which is fine) and subsequently `var page = findPage(path)` yields nothing. This is to be expected, because it's not a gatsby page but a static asset. This fails and now shows the 404 page.

When going there directly, there is no link click t

[2018-10-02 12:57] #8588 closed

[2018-10-02 13:10] pieh commented on #7518
Would using `require.resolve('../plugins/name-of-the-plugin')` work in gatsby-config without making changes to gatsby?

[2018-10-02 13:20] ajayns opened #8697 "Starter for creating source plugins"
## Summary

I've been reading through the [Source Plugin Tutorial](https://www.gatsbyjs.org/docs/source-plugin-tutorial/). It's great, I love the narrative approach to building a plugin, but the problem is when it comes to the part where it should explain how to publish on npm, it lacks a bit and is not very helpful.

### Basic example

I can recommend two things to improve the docs here:
One woul

[2018-10-02 13:58] pieh commented on #8663
Right, but why does it need to modify webpack entry?

[2018-10-02 14:15] simonjoom commented on #8640
hmm i tried many times to avoid to change the code of gatsby but it's not working.
Yes the problem to have unique paths that you have to create a new file for each 'client only path' so a new file for each component who define one route.
The problem is i should to add the layout on each file so lot of duplicate code (i use the structure of plugin layout)..
 i think test if match path exist and use

[2018-10-02 14:37] hamiltondanielb commented on #7986
I will take this.

[2018-10-02 14:39] LeKoArts commented on #5073
@siakaramalegos The solution is a missing .env file 😆
https://github.com/gatsbyjs/gatsby/tree/master/www#working-with-the-starter-showcase

[2018-10-02 14:48] siakaramalegos commented on #5073
@LeKoArts I'm not working on the starter showcase (?)

[2018-10-02 14:49] DSchau commented on #5073
@siakaramalegos failing GraphQL queries in one part of the site (i.e. starter showcase) have ramifications elsewhere. So queries failing there because of missing fields, because of missing env var, cause the site to fail hard 😅 I've addressed it as best I can (for now!) in the above PR.

[2018-10-02 15:14] jlengstorf opened #8702 "[docs] Explain why we use Yarn in the contributing docs"
We use Yarn for contributing to the Gatsby repo. We should write an explanation of why in "How to Contribute".

[2018-10-02 15:21] sharynneazhar commented on #8702
I can take a stab at this! 🙂

Is there anything specific you want to add besides an explanation of Yarn is?

[2018-10-02 15:40] CanRau commented on #8566
@dabedoc To build on @pieh's comment you could generate pages based on the filename, sounds almost exactly like what you requested?! Kind of an automatic API..

[2018-10-02 15:57] pieh commented on #8702
We use yarn [workspaces](https://yarnpkg.com/lang/en/docs/workspaces/) feature that comes really handy for monorepos:
https://github.com/gatsbyjs/gatsby/blob/99e237ad3841872d8f879b6bba3ce27bf259b51f/package.json#L80-L82

[2018-10-02 15:58] DSchau commented on #6170
Love this issue. I'll provide some context if someone wants to grab this for Hacktoberfest or honestly, just in general.

## Summary

Expose an NPM package `babel-preset-gatsby`, that will be usable standalone (i.e. in Jest tests) and is also used internally so we get benefits "for free" as changes are made to that package.

## Detail

- Gatsby is managed as a monorepo, so _all_ published packages

[2018-10-02 16:03] sparklesam opened #8705 "How to map inline fragments?"
## Summary

Is it possible to map inline fragments?

## Relevant information

I have read the part 4 of the new tutorial on GraphQL. It would be great if there are tutorial on mapping inline fragments. I have a working GraphQL query already but I failed to map it in my page. I use Prismic.io as backend, resulting in this query using [`gatsby-source-prismic`](https://www.npmjs.com/package/gatsby-so

[2018-10-02 16:03] DSchau commented on #4836
I'm going to close this, and then re-open another issue so that we can get a documentation PR up addressing this deficiency :)

[2018-10-02 16:03] #4836 closed

[2018-10-02 16:12] DSchau opened #8706 "[docs]: Clarify usage of gatsby-plugin-remove-trailing-slashes"
## Description

In re: to #4836, there is some fair confusion as to _what_ gatsby-plugin-remove-trailing-slashes actually does. I think (most?) people tend to think it's used for rendering routes without a slash on the _server_ when in fact, it's primary use case is for tweaking routes client side and handling things like the `activeClassName` and `<Link to="/page-2">Page two</Link>` functionality

[2018-10-02 16:13] nikoladev opened #8707 "Different results for develop and serve when using random ordering"
## Description

I use StaticQuery to get some images, shuffle their order, add some text underneath, and then render it all. In development it all works as expected.

But in production it turns out that the order of the images is always the same, while the order of the text that accompanies the images is different on every reload.

### Steps to reproduce

Clone [this repo](https://github.com/nikol

[2018-10-02 16:13] pungggi opened #8708 "updating from "gatsby": "2.0.12" to "gatsby": "2.0.14" ERROR"
updating from "gatsby": "2.0.12" to "gatsby": "2.0.14" gives error:

Error: ./.cache/gatsby-browser-entry.js
  Module not found: Error: Can't resolve 'gatsby-link' in '/builds/graphic-machi  nes/website/.cache'
  resolve 'gatsby-link' in '/builds/graphic-machines/website/.cache'
    Parsed request is a module
    using description file: /builds/graphic-machines/website/package.json (relat  ive pat

[2018-10-02 16:20] DSchau opened #8709 "[feat]: create gatsby-plugin-aphrodite"
## Summary

[Aphrodite](https://github.com/Khan/aphrodite) is a great plugin for CSS in JS w/ React. Let's create a plugin so that others can get some SSR benefits and CSS hydration with Gatsby.

### Motivation

- We have a number of other plugins which implement similar functionality, e.g. [gatsby-plugin-emotion](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-emotion), [gat

[2018-10-02 16:22] pieh commented on #8317
If anyone want to take a stab at fixing this in plugin - https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-react-css-modules/src/gatsby-node.js

Here `pluginOptions` object need to be sanitized and have `plugins` field removed from it before passing it as options to babel config

[2018-10-02 16:22] DSchau opened #8710 "[feat]: add gatsby-plugin-cxs"
## Summary

[CXS](https://github.com/cxs-css/cxs) is a great library for CSS in JS w/ React. Let's create a plugin so that others can get some SSR benefits and CSS hydration with Gatsby.

### Motivation

- We have a number of other plugins which implement similar functionality, e.g. [gatsby-plugin-emotion](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-emotion), [gatsby-plug

[2018-10-02 16:27] DSchau opened #8711 "[feat]: add gatsby-transformer-pdf"
## Summary

Gatsby is all about "bring your own content," and PDF is certainly a means of embedding useful data and content. Let's create a gatsby-transformer-pdf transformer plugin to enable usage of PDF as a content source, and make it queryable with Gatsby's GraphQL layer.

### Motivation

- Most common use case will be to make searchable, indexable web sites with Gatsby powered by PDFs as a do

[2018-10-02 16:30] DSchau opened #8712 "[feat]: add gatsby-transformer-asciidoc"
## Summary

Gatsby is all about "bring your own content," and PDF is certainly a means of embedding useful data and content. Let's create a gatsby-transformer-asciidoc transformer plugin to enable usage of asciidoc files as a content source, and make them queryable with Gatsby's GraphQL layer.

### Motivation

- Lots of people like Markdown, but lots of people also like [asciidoc](http://asciidoc.

[2018-10-02 16:35] DSchau opened #8714 "[feat]: add gatsby-source-sql"
## Summary

It'd be awesome to be able to (at build time!) inject content from a SQL database, just like we do for other source types, e.g. filesystem, Contentful, etc.

### Motivation

- People may have useful data stored away in SQL that could be exposed to enable helpful things, e.g. documentation, useful data, etc.
- The plugin will need to connect to a SQL database, and then pre-load queries

[2018-10-02 16:46] #8587 closed

[2018-10-02 17:01] DSchau commented on #5030
This would be an _awesome_ improvement for users browsing gatsby documentation.

I'm sure @fk has some ideas regarding design, but let's build it out functionally first and then we can augment that existing functionality.

I think it's a fair assumption that users of this plugin will _also_ be users of `gatsby-remark-prismjs`, so I think we can build it as a `gatsby-remark-` plugin or built into `

[2018-10-02 17:03] daubaris commented on #8714
me me me! Could you also direct on where to start? :)

[2018-10-02 17:07] shannonbux commented on #7925
Closed by #8103

[2018-10-02 17:07] #7925 closed

[2018-10-02 17:07] shannonbux commented on #7926
Closed by #8103

[2018-10-02 17:07] #7926 closed

[2018-10-02 17:07] shannonbux commented on #7927
Closed by #8103

[2018-10-02 17:07] #7927 closed

[2018-10-02 17:07] shannonbux commented on #7929
Closed by #8103

[2018-10-02 17:07] #7929 closed

[2018-10-02 17:13] DSchau commented on #8655
@corydeppen thanks for the repro and more detail on the fix! This is a great issue that someone in the community (or yourself if you're interested 😄) could tackle.

For other coming here, this will involve the following changes:

Updating our [webpack.config.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/utils/webpack.config.js) and rules in [webpack-utils.js](https://githu

[2018-10-02 17:21] DSchau commented on #8325
@dumblole you solved this here, right? lovell/sharp#1388

I'm going to close this out as answered and outside of Gatsby's purview.

@ouzhou if you can provide more detail, please let us know! But definitely take a look at the solution I linked above ☝️

[2018-10-02 17:21] #8325 closed

[2018-10-02 17:54] akadop commented on #8655
I 100% agree with this pr.

ran into a similar issue at work about a week ago. we use NextJS for a lot of the live projects. next recently released version 7 -- and it now uses babel 7 and webpack 4 under the hood.

First thing noticed when upgrading to Next7:
- Any repo using `graphql@0.13.2` (which is standard for any project using `react-apollo`, `apollo-client`) would result in a failure to in

[2018-10-02 18:22] shannonbux opened #8716 "Content migration - fill out "Gatsby i18n" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-02 18:27] akadop commented on #8655
https://github.com/gatsbyjs/gatsby/pull/8717

[2018-10-02 18:39] raae commented on #3722
I had the same issue.

I have developed a plugin as a local plugin, it works fine. Then I pushed it to GitHub and tried using it as a dependency through `npm install <git-host>:<git-user>/<repo-name>` and it fails because of the script tag.

I feel that "how to get your plugin ready for the ecosystem" is not very well documented.

[2018-10-02 18:54] pieh commented on #8524
If anyone is interested in grabbing this issue - here's some directions - it happens here:
https://github.com/gatsbyjs/gatsby/blob/7a0884a1d5c9b72014dc74a95803083ab1e882f9/packages/gatsby-transformer-remark/src/on-node-create.js#L20
What we could do is wrap this in try/catch and if exception was thrown use `reporter.panicOnBuild` function to display meaningful error - it should include `node.absol

[2018-10-02 19:11] DSchau commented on #8714
@daubaris 👋 Absolutely! So I'd recommend checking out one of the source plugins I linked, and kinda re-tracing from there!

So high level, this is what this will look like:

- Create/copy a directory in packages/gatsby-source-sql
- Implement the appropriate Node APIs (probably `sourceNodes`)
- Open up a PR (early/WIP is fine, just mark it as such!) and we'll be happy to give some feedback

If you'

[2018-10-02 19:21] amberleyromo opened #8719 "[EPIC] Hacktoberfest! (2018)"
<h1 align="center">👻🎃 Gatsby Hacktoberfest 🎃👻!</h1>
<p align="center">
  <a href="https://www.gatsbyjs.org/">What is Gatsby?</a>  |  <a href="https://www.gatsbyjs.org/docs/">Gatsby Docs</a>
</p>
<p align="center">
<img alt="Gatsby" src="https://user-images.githubusercontent.com/32467162/46364221-10591600-c62a-11e8-84c4-f189a302492f.jpg"/>
</p>

## Welcome!

During Hacktoberfest, you're probably lo

[2018-10-02 19:30] dmackerman commented on #7714
@janosh Sorry to ping, but did you have success getting this working with Contentful? I tried reproducing the example, but didn't get it actually working.

[2018-10-02 19:40] audoralc commented on #8716
I'd be happy to work on this. 👍

[2018-10-02 19:42] OrthoDex commented on #8103
Hi @shannonbux! I'll make a PR for the [Deploying to Heroku](https://www.gatsbyjs.org/docs/deploy-gatsby/#heroku) doc.

[2018-10-02 19:44] dakebl commented on #8706
I've attempted to address this via PR 8720. I hope it helps!

[2018-10-02 19:45] DSchau commented on #8706
@dakebl it definitely does :) Left you a comment over there!

[2018-10-02 20:01] dakebl commented on #8706
Hey @DSchau, I've updated the docs to mention both the Pretty URL feature and Netlify's default URL normalisation on redirects.

[2018-10-02 20:12] garetmckinley commented on #8714
If I were to suggest sqlite support as well, would that be lumped into this plugin or it's own thing?

[2018-10-02 20:14] DSchau commented on #8714
@garetmckinley good question! I'm not sure how to best resolve that complexity to be honest with you.

_Ideally_ there'd be one shared sql plugin, but the more I think about it, I'm not sure how tenable that is because the _engine_ will have to change between MySQL, mssql, SQLLite, etc.

So we may be able to introduce some shared helpers, but I think this plugin may take additional plugins, and th

[2018-10-02 20:14] DSchau commented on #8714
(very similar to gatsby-transformer-remark if you're familiar!)

[2018-10-02 20:30] DSchau commented on #8714
@garetmckinley that would be so great! Stay tuned 👀

[2018-10-02 20:37] #8655 closed

[2018-10-02 20:50] oorestisime commented on #7518
I ve tested this with a gatsby website
[code]
and worked. Should i close the PR?

[2018-10-02 20:51] DSchau commented on #7518
@oorestisime would you be able to try with plugins/ directory _up_ one directory from your app?

[2018-10-02 20:59] oorestisime commented on #7518
ah lol i see! Indeed it fails
[code]

[2018-10-02 21:00] janosh commented on #7714
@dmackerman No I didn't. I have to admit though that I hardly tried so that doesn't mean much.

[2018-10-02 21:02] oorestisime commented on #7518
But the same problem happens with my PR as well. if i configure pluginsFolder to be ../plugins then it breaks

[2018-10-02 21:12] pieh commented on #7518
is `gatsby-source-filesystem` installed in `../plugins/gatsby-source-instagram` dir (as in - does it have its own `node_modules`)?

[2018-10-02 21:14] oorestisime commented on #7518
nan i haven't added it as a dependency so not in node_modules

[2018-10-02 21:15] DSchau commented on #7518
@oorestisime so that would be the first thing! Add the necessary dependencies for `gatsby-source-instagram` (i.e. just run `npm install` in that directory, or ensure it has necessary deps!).

[2018-10-02 21:16] garetmckinley commented on #8712
Is it cool if I claim this? Not sure if I'll have time today to work on it, but I can definitely get it knocked out before the weekend.

[2018-10-02 21:18] DSchau commented on #8712
@garetmckinley of course! We can assign it to you for now, but if anything changes, feel free to remove yourself!

[2018-10-02 21:25] jlengstorf opened #8722 "sdafsd"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2018-10-02 21:25] #8722 closed, assigned to nobody

[2018-10-02 21:40] philipp-spiess commented on #6170
@DSchau Thanks for your awesome write-up. I started with this in #8724. Would be great if you can take a look. 🙂

[2018-10-02 21:41] DSchau opened #8725 "[Sub-EPIC] OSS Hacktoberfest! (2018)"
<h1 align="center">👻🎃 Gatsby OSS Hacktoberfest Epic 🎃👻!</h1>
<p align="center">
  <a href="https://www.gatsbyjs.org/">What is Gatsby?</a>  |  <a href="https://www.gatsbyjs.org/docs/">Gatsby Docs</a>
</p>
<p align="center">
<img alt="Gatsby" src="https://user-images.githubusercontent.com/32467162/46364221-10591600-c62a-11e8-84c4-f189a302492f.jpg"/>
</p>

### Welcome!

During Hacktoberfest, you're p

[2018-10-02 22:17] dakebl commented on #8706
Closing, as this has now been merged.

[2018-10-02 22:17] #8706 closed

[2018-10-02 22:36] shannonbux opened #8726 "Content migration - fill out "Component CSS" stub article in the docs"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-02 22:44] shannonbux opened #8727 "Content migration - fill out "Creating slugs for pages" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-02 22:44] dumblole commented on #8325
Yes @DSchau

[2018-10-02 22:48] shannonbux opened #8730 "Content migration - fill out "Sourcing from the filesystem" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-02 23:08] apolishch commented on #8694
In the end, after many hours of problems, the result was a missing .babelrc in my plugin, which made webpack not know how to handle JSX.

The solution was to add babel-preset-react to my plugin's package.json, and react to my babelrc.

This worked under the plugins directory as that was handled by my website's babel config.

Going to add this here to hopefully save some future soul 10 hours...

[2018-10-02 23:08] #8694 closed

[2018-10-02 23:09] dumblole commented on #8727
Sorry, but which tutorial?

[2018-10-02 23:11] dumblole commented on #8727
Oh! My bad. I see it now

[2018-10-02 23:27] dumblole commented on #8726
Currently working on this.

[2018-10-02 23:38] dantesolis commented on #7986
@07Gond I actually had a question, how could I "force" that  twitter navigation bar? should I mock another component or something like that? Thanks

[2018-10-03 00:32] pieh commented on #7518
All right, given that `require.resolve` approach works I would vote for documenting that instead of adding custom plugin directory feature, so we don't add feature that is rarely used and therefore hard to notice when it breaks in the future

[2018-10-03 01:46] thisizkp commented on #8709
I would love to work on this.

[2018-10-03 01:47] caseychien commented on #8730
Hi! Can I work on this?

[2018-10-03 02:33] amberleyromo opened #8736 "Content migration - add "Deploying to Aerobatic" doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 02:33] amberleyromo commented on #8736
Open PR: https://github.com/gatsbyjs/gatsby/pull/8728

[2018-10-03 02:37] amberleyromo opened #8737 "Content migration - add "Deploying to Now" doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 02:37] amberleyromo commented on #8737
Open PR: https://github.com/gatsbyjs/gatsby/pull/8729

[2018-10-03 02:39] amberleyromo opened #8738 "Content migration - add "Deploying to GitLab Pages" doc"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 02:40] amberleyromo commented on #8738
Open PR: https://github.com/gatsbyjs/gatsby/pull/8731

[2018-10-03 02:51] amberleyromo opened #8739 "Content migration - fill out "Interactive Pages" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 02:51] amberleyromo commented on #8739
Open PR: https://github.com/gatsbyjs/gatsby/pull/8733

[2018-10-03 03:21] amberleyromo opened #8740 "Content migration - fill out "Sourcing from Drupal" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 03:24] amberleyromo opened #8741 "Content migration - fill out "Sourcing from Contentful" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 03:27] amberleyromo opened #8742 "Content migration - fill out "Sourcing from WordPress" stub article"
## Issue Context

This issue is part of the content migration project (#8103), which is meant to take existing content and repurpose it so it's easier to find in the docs.

### Motivation

We are doing this because many people have written excellent content that we want to canonize and maintain so more people can find it and benefit from it.

## Steps to resolve this issue

1. Read the Style Guide

[2018-10-03 03:34] JordanDDisch commented on #7373
We where having similar issues with 1700 pages. Was able to increase performance by removing a graphql query from a template and passing that data through pageContext via a source plugin. This allowed it to run once instead of 1700 times. Beware though, pass an to much data can cause memory issues. Obvious mistake, but hope this helps someone.

[2018-10-03 04:11] kakadiadarpan commented on #8697
@ajayns I agree with you about the `Starter for source plugins`, that would be amazing to have.

Could you share more information about the following:

[2018-10-03 04:18] kakadiadarpan commented on #8705
@sparklesam can you once check the data that you are trying to access? By reading the error, I assume that the data that you are trying to access is not available there.

[2018-10-03 04:39] pungggi commented on #8708
System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz
  Binaries:
    npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 42.17134.1.0
  npmPackages:
    gatsby: 2.0.14 => 2.0.14
    gatsby-image: 2.0.13 => 2.0.13
    gatsby-plugin-catch-links: 2.0.3 => 2.0.3
    gatsby-plugin-manifest: 2.0.4 => 2.0.4
    gatsby-plugin-netlify-cms: 3.0.3 => 3.0.3
    gatsb

[2018-10-03 04:44] pungggi commented on #8708
@kakadiadarpan strange it now works

[2018-10-03 04:45] rtm619 commented on #8522
@KyleAMathews Based on the comments of original issue #7003 , `--no-uglify` resolves the IE11 build issue. Can you take a look at it once?

[2018-10-03 05:15] sparklesam commented on #8705
@kakadiadarpan actually I can view it in log but just failed to map it. Uploaded screenshot for reference

https://imgur.com/a/uMs2Xky

[2018-10-03 05:16] dial3x commented on #8574
Can you re open this bug. It still exists on the latest version of Gatsby.

[2018-10-03 05:31] kakadiadarpan commented on #8574
I can see it working properly:

![kapture 2018-10-03 at 10 58 17](https://user-images.githubusercontent.com/10805593/46391618-811c3300-c6fb-11e8-89af-7fe165b9826c.gif)

[2018-10-03 05:46] haruair commented on #8574
Maybe cached?

[2018-10-03 05:58] dial3x commented on #8574
@kakadiadarpan  I'm still experiencing the issue as of 1.14
https://www.shine.com.au/brokenpage

[2018-10-03 06:30] #8708 closed

[2018-10-03 07:30] drex44 commented on #8736
hi, can I work on this or the existing PR is good?
I saw there are multiple issues similar to this one and all have pending PRs.

[2018-10-03 08:34] fk opened #8748 "Dashboard prototype/design"

[2018-10-03 08:35] #8748 closed

[2018-10-03 08:35] fk commented on #8748
Issue moved to [ichabod-cranes/mansion #1251](https://github.com/ichabod-cranes/mansion/issues/1251) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-03 08:47] h0rhay opened #8749 "[Question] Is there a guide for working with Gatsby's built in routing?"
I would like to implement some custom routing functionality by adding search params to url..

If I go down this route I will potentially be clashing with Gatsby's amazing built in routing.

I don't want to start messing around with history API etc if there's a better way of manipulating routing with Gatsby.

I was hoping their might be some documentation regarding routing on the docs section of th

[2018-10-03 09:17] podabed opened #8751 "[gatsby-offline-plugin] Variable lost the value in prod, but has in dev"
## Description

The variable has value on dev (gatsby develop) and undefined on prod (gatsby build). This error only with enabled offline plugin.
This message while build:
[code]
And this while debugging html build:
[code]

### Steps to reproduce
1. Clone this repo: https://github.com/podabed/caddysmellsliketrees.github.io/tree/new
2. Install deps.
3. Run start script. Everything's good. Run start

[2018-10-03 09:19] oorestisime commented on #8714
Once this progresses i d like to look for some postgres integration as well.

[2018-10-03 09:35] ctxhou commented on #8710
Is this issue taken? If not, I would like to work on this 😄

[2018-10-03 10:39] imshuffling commented on #1875
Hey @jlengstorf, is there any examples of location being used on the starter site?

I'm simply trying to pass the current location of the user when they submit a form.

Thanks

[2018-10-03 11:06] pieh commented on #8749
@h0rhay There are 2 ways of handling params:
 - using query strings (ie. `/search?q=search_phrase`)
 - using client routing (ie `/search/search_phrase`)

Both can be implemented in gatsby - which one would you like to use?

[2018-10-03 11:39] pieh commented on #8749
Page components have `location` prop. You can access query string by `this.props.location.search` - this will be actual string, so you will need something to parse it - for example https://www.npmjs.com/package/qs

[2018-10-03 11:45] h0rhay commented on #8749
Thanks thats really helpful 👍

[2018-10-03 13:01] pieh commented on #8749
I'll close this for now - feel free to re-open or open new issue if you will have follow up questions

[2018-10-03 13:01] #8749 closed

[2018-10-03 13:02] pieh commented on #8751
Where is i18nMessages prop coming from?

[2018-10-03 13:20] podabed commented on #8751
From localized layouts, like https://github.com/podabed/caddysmellsliketrees.github.io/blob/new/src/layouts/en.tsx or https://github.com/podabed/caddysmellsliketrees.github.io/blob/new/src/layouts/ru.tsx

[2018-10-03 13:58] github0013 opened #8755 "calling JS files in /static folder by script tag don't get fired on develop mode"
## Description

Calling a JS file with e.g. `<script src="/static/folder/file.js" />` on **gatsby develop** doesn't call the file. (it doesn't show up on network tab either)

However, `gatsby build` then `gatsby serve` will call the `<script />` tag.

### Steps to reproduce

https://github.com/github0013/gatsby_script_tag
I created a repo.  check `/static/test.js` and `/src/pages/index.js`

### Ex

[2018-10-03 14:05] AlexMunoz commented on #8711
can i work in this issue?

[2018-10-03 14:06] DSchau commented on #8711
@AlexMunoz I would love nothing more! Let us know if we can help with anything :)

[2018-10-03 14:15] hiteshsahu commented on #7148
still facing it in "gatsby": "^2.0.17",

[2018-10-03 14:17] amberleyromo commented on #8742
@d-ivashchuk great! thank you!

[2018-10-03 14:21] rgbkrk opened #8757 "[starter library] Gatsby starter page crashes on site"
## Description

Loading everything on the Gatsby starter page listing (https://www.gatsbyjs.org/starters/) crashes, ends up with a white screen.

![load more and crash](https://user-images.githubusercontent.com/836375/46416657-dd238f00-c6dc-11e8-952c-45891dafcd78.gif)

### Steps to reproduce

1. Open https://www.gatsbyjs.org/starters/
2. Scroll to bottom, click "Load More"
3. Repeat Step 2 until c

[2018-10-03 14:30] amberleyromo commented on #8736
Hi @drex44! There indeed is a PR open for this. If there's an open PR for an issue, or someone has commented that they're working on an issue, please check out the other open issues! https://github.com/gatsbyjs/gatsby/issues/8719

Or, feel free to hop over on the PR and make suggestions to make it better, as well!

[2018-10-03 14:37] rgbkrk commented on #8757
Ran devtools again and pre-emptively caught the exception. Looks like this is the bad data:

[code]

![screen shot 2018-10-03 at 7 37 13 am](https://user-images.githubusercontent.com/836375/46417751-2bd22880-c6df-11e8-8e1b-36efd6f126e9.png)

[2018-10-03 14:59] lfurzewaddock opened #8759 "Ability for plugins to inject 3rd party blocking scripts last on page before closing body tag"
## Summary

Currently plugins can use the GatsbyJS SSR API `onRenderBody` `setPostBodyComponents` parameter which appears to be implemented here: [gatsby/packages/gatsby/cache-dir/static-entry.js](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/cache-dir/static-entry.js) to inject scripts below the main html content inside the body tag.

However, at run time `gatsby-script-loader` a

[2018-10-03 15:07] centrical commented on #8527
@jarreds - just so I get it: did you update the website in the meantime? As in: do the hashes change with each update, so you can indeed cache them forever? Thanks!

[2018-10-03 15:49] blakenoll commented on #5021
This could be totally off but couldn't you just create a markdown component like below that you could then use in your templates anywhere markdown is needed to be converted to HTML

[code]

[2018-10-03 15:50] pitops commented on #5981
Here is an example for anyone who might be running into this

[code]

[2018-10-03 16:08] cardiv opened #8760 "Gatsby Component Library"
There are plenty of open source component libraries 📚for React. But in using them, I have some concerns about performance and Gatsby-related stuff:

1. Most of these components are packed with features which could result in performance issues.
2. Gatsby provides some features that could be difficult to use with these libraries – like the `Link` and `Img` components.

Also, not all libraries are go

[2018-10-03 16:28] cardiv commented on #8760
@LeKoArts I think of components every website needs. This can be a simple button or a Carousel like Slick – but with support for Gatsby-related features.

This could increase the adoption of Gatsby since new developers could easily start building their site without deciding which library to use (mental friction) or building their own components.

[2018-10-03 16:35] DSchau commented on #8760
@cardiv I like what you're thinking! But that said, I think one of the _key_ benefits of Gatsby is that it's _just_ React! So by making something Gatsby specific, we've kinda lessened on the promise of that original value statement. So you mention carousel--I think we want to leverage the community here which is so crucial in React. [Nuka Carousel](https://github.com/FormidableLabs/nuka-carousel)

[2018-10-03 16:51] DSchau commented on #8710
@ctxhou we'd love for you to take it if you're able! Looking forward to the PR, and let any of us @gatsbyjs/core know if we can help!

[2018-10-03 16:54] DSchau commented on #8709
@thisizkp we would love if you did!

Let any of us know @gatsbyjs/core if we can help with anything!

[2018-10-03 17:07] DSchau commented on #5021
@blakenoll definitely not totally off! It's a reasonable approach.

That said, one of the big benefits of Gatsby is that you do those operations at build time, which is nice because then we don't need to shop a Markdown parser to the end user!

[2018-10-03 17:13] oobidin opened #8764 "GraphQL: don't filters work for children inside the array?"
## Description

I've been using gatsby-source-filesystem and gatsby-transformer-json plugins to GraphQL the info from JSON files.

I have the structure:
<img width="261" alt="screen shot 2018-10-03 at 17 55 09" src="https://user-images.githubusercontent.com/4863958/46426229-d1b08200-c735-11e8-80ec-737ac1eee7ad.png">

And gatsby-config.js:

[code]

The structure of those JSONs:
[code]

I expected t

[2018-10-03 17:36] marisamorby commented on #8421
I 100% agree with this. I think the additional question here is who can correctly size issues and where should that live in the issue review process?

[2018-10-03 17:43] edykim commented on #8574
I can see the issue on 404 page, but looks like the page still generate from 2.0.9.

[code]

I think `package.json` doesn't update properly. Please check `npm outdated` and see which version uses. `npm update` will update the deps as well.

[2018-10-03 18:08] lfurzewaddock commented on #7003
The solution for my GatsbyJS [V2] broken production build for IE11 was;

`$ npm i --save @babel/polyfill`

then...

then...

`$ gatsby build`

Cheers @stripeyjumper

[2018-10-03 18:14] lfurzewaddock commented on #8522
This resolved my production issues **(not development)** for IE11: https://github.com/gatsbyjs/gatsby/issues/7003#issuecomment-426739031

[2018-10-03 18:41] shannonbux commented on #8742
@amberleyromo any idea why this issue didn't automatically close when the PR got merged?

[2018-10-03 19:09] andrejarboe commented on #5990
What is your solution and what brakes it?

[2018-10-03 19:38] amberleyromo commented on #8742
@shannonbux Because it either wasn't connected on Zenhub, or it didn't include "closes #8742". Closing now!

[2018-10-03 19:38] #8742 closed

[2018-10-03 19:57] b4stien commented on #7117
Hi there. At my company we'd be willing to contribute time (or money) to contribute on this issue, do you have any other reference where this question has been discussed?

(our use case is server side AB testing where we want to send a variant of the requested page)

[2018-10-03 20:28] pieh commented on #8764
It's not a bug - filters are only filtering out nodes and not data in nodes.

This would need separate filter feature on array types which gatsby currently doesn't support - something like this:

[code]

[2018-10-03 20:28] #8764 closed

[2018-10-03 20:35] KyleAMathews commented on #7117
Not afaik! But happy to jump on a call with you sometime to discuss the idea. There'd need to be an RFC written up before we start implementation.

[2018-10-03 20:55] marisamorby commented on #8415
This has been updated, and can be removed as a blocker.

[2018-10-03 21:37] rcaracaus commented on #6212
@KyleAMathews this was happening periodically for us on a client site we launched recently, we just updated gatsby yesterday to 2.0.15 and we are hoping that fixed it, still watching our log... but I went to Gatsbyjs.com and it happened there first time I ever went to site, maybe you need to update that site too to use latest v2.. or maybe it isn't fixed. @KyleAMathews

![screen shot 2018-10-03 at

[2018-10-03 21:40] DSchau commented on #6212
@rcaracaus would you be able to open up the inspector and grab the Gatsby version for me?

[code]

We made a _bunch_ of improvements to gatsby-plugin-offline (thanks @davidbailey00!), so it's possible you're on a cached version of the site that doesn't contain those improvements, which is unfortunate. Service workers are challenging 😱

[2018-10-03 22:18] #8740 closed

[2018-10-03 22:34] shannonbux opened #8768 "[EPIC] .org redesign - Ecosystems page"
### Who will own this?

**Area of Responsibility:**

- [ ] Admin
- [ ] Cloud
- [ ] Customer Success
- [ ] Dashboard
- [ ] Developer Relations
- [ ] OSS
- [x] Learning
- [ ] Marketing
- [ ] Sales

Responsibility  | Contributor(s)
--------------- | ---------------------------------------------------------
AoR owner       | @shannonbux
Domain owner    | @KyleAMathews
Project manager | @name
Tech lead

[2018-10-03 22:37] shannonbux opened #8769 "[EPIC] v2.0 .org redesign (Docs landing page)"
### Who will own this?

**Area of Responsibility:**

- [ ] Admin
- [ ] Cloud
- [ ] Customer Success
- [ ] Dashboard
- [ ] Developer Relations
- [ ] OSS
- [x] Learning
- [ ] Marketing
- [ ] Sales

Responsibility  | Contributor(s)
--------------- | ---------------------------------------------------------
AoR owner       | @shannonbux
Domain owner    | @name
Project manager | @name
Tech lead       |

[2018-10-03 22:38] rcaracaus commented on #6212
"Gatsby 2.0.5" -- when I just did that on Gatsbyjs.com -- but I did hard refresh the site when I got the error and it went away... so that might mean if I had visited the site in the past I might have had a different version.

Also probably a dumb question but (I am still learning serviceworker and PWA's).. on our site we don't specify gatsby-plugin-offline in our config file, should we be (assumi

[2018-10-03 22:38] rcaracaus commented on #6212
@DSchau ^

[2018-10-03 22:39] shannonbux opened #8770 "[EPIC] v3.0 .org redesign (Community page)"
### Who will own this?

**Area of Responsibility:**

- [ ] Admin
- [ ] Cloud
- [ ] Customer Success
- [ ] Dashboard
- [ ] Developer Relations
- [ ] OSS
- [x] Ecosystem
- [ ] Learning
- [ ] Marketing
- [ ] Sales

Responsibility  | Contributor(s)
--------------- | ---------------------------------------------------------
AoR owner       | @amberleyromo
Domain owner    | @KyleAMathews
Project manager

[2018-10-03 22:48] marcneander opened #8771 "styled-components and gatsby-plugin-layout together causes weird behaviours"
## Description

I've been sitting for a couple of hours now trying to wrap my head around this bug I'm experiencing. I'm using `styled-components` and `gatsby-plugin-layout`. In my Layout component I have my global styles where I load my fonts.

However when building and serving my gatsby app, my fonts and index page chunk is loaded twice. Causing a flicker.

Removing `gatsby-plugin-layout` solved

[2018-10-03 22:53] #7166 closed

[2018-10-03 22:54] #7164 closed

[2018-10-03 22:55] shannonbux commented on #7544
Closing in favor of #8768 #8769 #8770

[2018-10-03 22:55] #7544 closed

[2018-10-03 23:27] mikelax commented on #8702
There are a few sections in the [tutorial part 0, from this section down](https://www.gatsbyjs.org/tutorial/part-zero/#-check-your-nodejs-installation) that discuss getting set up with npm. This should be updated to use yarn instead.

[2018-10-03 23:41] marisamorby commented on #8414
Whimsical link: https://whimsical.co/55WMhe5r2FvAg4AnfADMVj

[2018-10-03 23:56] DSchau commented on #8702
@mikelax I think we want that to remain that way! This issue is rather with the "Contributing" section, in that we recommend yarn from a contributing back to Gatsby perspective.

[2018-10-04 00:06] alejandronanez commented on #8741
Hello!

I'd like to give this a shot!

Let me know if that would be possible, thanks a lot! :)

[2018-10-04 00:08] mikelax commented on #8676
@KyleAMathews using the `yarn develop` command will always ensure the command is run with the `gatsby` script installed in node_modules. This is compared to running `gatsby develop` which will use the gatsby script found in the user path.

I think only two changes are needed for this issue:
1. Update the [command on this line in how to contribute](https://github.com/gatsbyjs/gatsby/blame/master/do