[2019-05-12 20:13] lnikell commented on #9615
For me the issue was because of using 2 plugins for ACF API.
I had installed ACF to WP API and ACF to Rest API. Because of this line in the gatsby wordpress plugin
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/fetch.js#L456
it defines acf api version based on the first match in found routes. Better to fix it by allowing users to set api version through the con

[2019-05-12 20:24] jonniebigodes commented on #13986
@chrisjpatty i've skimmed through the repository's code and based on your description, one thing caught my eye.

In `gatsby-node.js` you have:
[code]
Try changing the code to:
[code]

That's how you should pass data through Gatsby's special prop `context`, some issues have popped here,  with code similar to what you have. More on that [here](https://www.gatsbyjs.org/tutorial/part-seven/) and [here

[2019-05-12 20:26] jonniebigodes commented on #12040
@orshick and @MirelesCloud the `console.log` was not supposed to be there, i forgot to remove it, i only used it when i was testing.

[2019-05-12 20:56] Hypothesis-github opened #13994 "View counter"
I wonder if there is a way or plugin in which I can show the number of views on a certain gatsby page or each page individually.

[2019-05-12 22:17] jonniebigodes commented on #13993
@mcclaskiem based on the description you supplied, Gatsby's working as it should. The file `gatsby-browser.js` is intended for another purpose. More on that [here](https://www.gatsbyjs.org/docs/gatsby-project-structure/), [here](https://www.gatsbyjs.org/docs/browser-apis/) and [here](https://medium.com/narative/understanding-gatsbys-lifecycle-31c473ba2f2d). `staticQuery` in a short generalistic wa

[2019-05-12 22:38] jonniebigodes commented on #13994
@Hypothesis-github have you looked at [this](https://www.gatsbyjs.org/docs/adding-analytics/)? And see if it suits your needs?

[2019-05-12 22:48] KyleAMathews commented on #13986
Passing other top-level fields to createPage should create warnings in the terminal as well.

[2019-05-12 22:58] mcclaskiem commented on #13993
@jonniebigodes Thanks for the response! So if I understand it correctly, a component that uses a `staticQuery` can only be used inside of a `pages/*` file or a component being used as a template inside of the `createPages` function.

The documentation uses a header as an example which led me to think it could be used in a global sense. So that header is really being used on say `pages/index.js` an

[2019-05-13 00:33] Ethan-Arrowood opened #13995 "Gatsby does not generate pages defined as arrow functions"
## Description

I've created a new page in my gatsby site called `about.js` in the `src/pages` directory. It has the following content:
[code]

When I run `npm run develop`, Gatsby does not generate a page at the `/about` url.

Changing the `About` function declaration to `function About() { ... }` fixes the problem.

**Why does Gatsby not generate a page when it is an arrow function?**

The `inde

[2019-05-13 00:41] yudhv commented on #13795
I'll take this issue if you guys assign it to me....

[2019-05-13 00:58] polishedwp commented on #13795
@yudhv it has already been merged.

@LekoArts @ChristopherBiscardi Do we need to close this issue now?

[2019-05-13 01:06] polishedwp commented on #13995
@Ethan-Arrowood can you post a repo for testing. I was able to create an About page with your arrow function code about without any problems in the default starter.

[2019-05-13 01:36] chrisjpatty commented on #13986
Thanks for help! The code in that repo comes directly from the netlify CMS starter. I did upgrade Gatsby up a couple of minor versions and it seemed to improve the error message I was receiving.  It turns out there was a problem with some of the blog post titles being numbers instead of strings. So the title field was being dropped. It's still strange that the build seemed to succeed occasionally,

[2019-05-13 01:36] #13986 closed

[2019-05-13 02:23] jonniebigodes commented on #13986
@chrisjpatty no need to thank, glad you managed to solve it. 👍

[2019-05-13 02:35] grantglidewell opened #13996 "Init new apps similar to Vue CLI"
## Summary

Vue CLI has an excellent feature selection interface for initializing a new project. For Gatsby this could mean selecting plugins, sources, and eventually themes. This can be used to initiate new projects that once a user has gone through the init process will have a hands free bespoke app with whatever themes plugins and related information ready to go.

### Basic example

this is how

[2019-05-13 02:37] jonniebigodes commented on #13995
@Ethan-Arrowood while working on another unrelated issue and using the hello world starter i adapted the code and created following your description and issued `gatsby develop` and `gatsby build && gatsby serve`, both ways show the page in question.

[2019-05-13 02:44] interglobalmedia commented on #13248
I just experienced the exact same issue on one of my Gatsby projects. One is fine, and the styling in the other one just broke. I use the defaulter starter. And am on Gatbsy 2. Just happened out of the blue.

[2019-05-13 03:23] karanrajpal14 commented on #13989
Thanks for the response @jonniebigodes. Okay I'll provide some context first. As you can tell, I'm trying to have my site's navigation links as a JSON just to make it easier to change. I then use this JSON in my header and footer components.

My initial attempt led me to creating a separate JSON file and then use the `gatsby-transformer-json` to query it. Later on, I realized that I could have the

[2019-05-13 04:15] nyedidikeke commented on #13454
Quite fascinating 😀 AMP-first support will be awesome. 💯 💯 💯
Any roadmap or milestone?

[2019-05-13 04:23] Ethan-Arrowood commented on #13995
🙃 well now not even I can reproduce it. Hmmf maybe something else was off with my set up. 🐞 gotta love it. Closing

[2019-05-13 04:23] #13995 closed

[2019-05-13 05:01] #13795 closed

[2019-05-13 05:01] daydream05 commented on #13988
Hey there. All you have to do is to use “https://“ instead of “http://” to load your font. Google recommends not to mix content

https://developers.google.com/web/fundamentals/security/prevent-mixed-content/fixing-mixed-content

You can also use typography.js or this https://www.npmjs.com/package/gatsby-plugin-web-font-loader if there’s no https version of the the font link you’re trying to use. (

[2019-05-13 06:01] crashuniverse commented on #13988
This isn't related to Gatsby. Marked for closing.

If you look for mixed content in stackoverflow, it should be possible to find a lot of useful approaches to manage fonts. Here is one: https://stackoverflow.com/q/35978316/1290185

[2019-05-13 06:09] agentofuser commented on #2467
Same here with Gatsby + IPFS. Would it be possible to reopen this issue?

[2019-05-13 06:10] #13988 closed

[2019-05-13 06:14] KyleAMathews commented on #13944
Great! Closing now.

[2019-05-13 06:14] #13944 closed

[2019-05-13 06:19] me4502 commented on #13979
A colleague and I looked into this, and we proposed (and implemented on a branch) using a Trie to solve this issue.

This has been put on the backburner as @Moocar is currently making major changes to greatly improve how this currently works.

[2019-05-13 06:21] me4502 commented on #13979
Relevant PRs:

Moocar's changes: https://github.com/gatsbyjs/gatsby/pull/13004
The trie: https://github.com/gatsbyjs/gatsby/pull/12711

Either can be applied as a patch for a temporary solution. We've been running the Trie change as a patch with `patch-package` for months now.

[2019-05-13 07:46] Hypothesis-github commented on #13994
Nothing like old school showing this page has had 100 views ? can I do it with this one ?

[2019-05-13 08:38] jakeherp opened #13997 "TypeError: expected a string"
## Summary

I am trying to deploy a Gatsby site I worked on for a while to Netlify. During the build process I get the following error:

[code]

## Relevant information

This seems very broad and I can't figure out where this problem might be coming from, since it builds just fine in my local environment. I found #13207 and went through all my Static Queries to make sure they are all unique, but c

[2019-05-13 09:11] bakeruk commented on #10339
Will try and have a look at this. Just wrapping up some other projects before I can take a look.

[2019-05-13 09:51] slorber commented on #13806
Hi and thanks for the feedback @szimek . I did not talk about your growing pages manifest but yes that looks like a potential issue for scalability I didn't think about.

Even after reading your comment [here](https://github.com/gatsbyjs/gatsby/issues/3830#issuecomment-491505582) I'm not totally sure what you mean by using asset prefix? Do you create one prefix per locale? What problem does it sol

[2019-05-13 09:58] Steffi3rd opened #13998 "Some pages are missing on build/serve"
## Description

I have a page which is not appear to the build.
That page works well on local. I can access it normally.

I found the bug in production (using Netlify) which said : "Missing ressource for /profile/activation"

So I run `build` or `serve` before production  I saw these pages:

[code]

One of them is missing :
[code]

In `gatsby-node` I have this, and it works perfectly for `page-OI`

[2019-05-13 09:58] Steffi3rd commented on #13998
<img width="740" alt="Capture d’écran 2019-05-13 à 11 57 50" src="https://user-images.githubusercontent.com/814410/57613158-791c4f80-7576-11e9-9048-4425d2ada086.png">

[2019-05-13 10:00] slorber commented on #13806
The kind of API I would like in Gatsby would enable this.

[code]

The ability to pass a component array would be convenient to create multiple "wrappers", applied in order, which all have the right imports. This would enable to optimize bundles on multiple axes and be flexible enough for multiple further usecases.

[2019-05-13 11:15] jeremylynch commented on #13967
I also get the following error at build:
[code]

[2019-05-13 11:22] ajayns opened #13999 "How to import SVGs files that are processed?"
## Summary

As per what I've seen images that require processing by gatsby-image or so are generally placed in `src/image/` and the ones that don't require processing and are just directly imported (generally SVG files) are placed in `static/`and imported.

I was a bit confused as to where I should place SVG files that are processed by a plugin such as gatsby-plugin-svgr or gatsby-plugin-react-svg

[2019-05-13 13:25] wardpeet commented on #13902
This looks awesome! This is great for our netlify users, it will increase speed for many regular visitors.

I'm checking to make sure it all works 👌

[2019-05-13 14:10] maecapozzi opened #14002 "Enable running themes that have function gatsby-configs on their own"
Issue moved from https://github.com/ChristopherBiscardi/gatsby-theme-examples/ at the request of @ChristopherBiscardi.

## Summary

When switching to the `themes/gatsby-theme-blog` folder and run `yarn` and `yarn develop`. I get an error. This would be helpful to work on the theme without having the site.

### Error
[code]

[2019-05-13 14:12] maecapozzi opened #14003 "Copy static folder for each theme develop-time"
Issue moved from https://github.com/ChristopherBiscardi/gatsby-theme-examples/ at the request of @ChristopherBiscardi.

The static folder in each theme should be copied into the final static dir. Right not only the user's is.

[2019-05-13 14:14] maecapozzi opened #14004 "Not able to use css files from prismjs when using PostCSS"
Issue moved from https://github.com/ChristopherBiscardi/gatsby-theme-examples/ at the request of @ChristopherBiscardi.

From @sasivarnan. Moved from `gatsby-theme-examples`

## Summary

I am using `gatsby-plugin-postcss` plugin on my site. When I try to include a [CSS file](https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/?=prismjs#required-pick-a-prismjs-theme-or-create-your-own) from `pri

[2019-05-13 14:15] maecapozzi opened #14005 "How to override styles files provided by theme?"
From @sasivarnan

## Summary

Is it possible to add a CSS file to override the styles that are provided as part of the theme?

Any recommended approach for this use case?

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2019-05-13 14:16] maecapozzi opened #14006 "Shadow component logging"
Issue moved from https://github.com/ChristopherBiscardi/gatsby-theme-examples/ at the request of @ChristopherBiscardi.

## Summary

When shadowing components, it can easily become pretty confusing to know where in this folder structure the shadowing is actually happening, especially when it is several levels deep. It would be nice if Gatsby, when themes are used, could show when/where it happens.

[2019-05-13 14:16] #14005 closed

[2019-05-13 14:17] jacobsilver2 commented on #12848
Hey @bakeruk , sorry to bother you again, but I'm having no luck with this....I don't have tons of experience messing around with this sort of thing, so I'm not even sure exactly where in the code I need to insert the for loop.  It seems to me the gatsby-source-wordpress files are significantly different than gatsby-source-drupal.  If you get a second, would you mind taking a look?  My guess is th

[2019-05-13 14:23] maecapozzi opened #14007 "starters from subdir"
Issue moved from https://github.com/ChristopherBiscardi/gatsby-theme-examples/ at the request of @ChristopherBiscardi.

## Summary

The gatsby cli today doesn't allow installing starters from a subdirectory of a git repo. it should because with themes, a lot more monorepo workflows make sense

[2019-05-13 15:00] DSchau commented on #14007
Hey @maecapozzi (and nice to see you around here!) 👋

Thanks for opening this. We've tossed around the idea before, but it's not _as_ trivial as we'd expect to do in a nice, performant and cross-platform way.

A simple (but not necessarily ideal) solution is to do something like we do in our monorepo, e.g. a script to clone a subdirectory to a standalone repo (gatsbyjs/gatsby/starters/gatsby-state

[2019-05-13 15:14] harshalpatel91 opened #14008 "onCreatePage Api"
Hi,

Do onCreatePage Api have graphql as args like we have in createPages Api. I wanted to use graphlql inside onCreatePage method.

[2019-05-13 15:18] maecapozzi commented on #14007
Hey @DSchau - @ChristopherBiscardi asked me to help out by moving some issues over from https://github.com/ChristopherBiscardi/gatsby-theme-examples! This is just one of those issues :). He said more context would be added later.

[2019-05-13 15:20] DSchau commented on #13997
@jakeherp this seems to be a casing issue.

[code]

I've PRd the changes to your repo [here](https://github.com/jakeherp/raconteur-agency/pull/1)

Thanks!

[2019-05-13 15:20] #13997 closed

[2019-05-13 15:21] maecapozzi commented on #14006
Hey @LekoArts, Chris asked me to assign him to these issues.

[2019-05-13 15:21] johno commented on #14007
Yeah, unfortunately it's [not something that's cross-platform](https://github.com/c8r/initit) so we wouldn't be able to use it for the purposes of Gatsby without solving that (which is indeed non-trivial).

GitHub Actions could be a solid way to solve it, especially if we can bundle something up for the GitHub Marketplace. I think that having the tooling prepackaged is important so that theme auth

[2019-05-13 15:23] prestonso commented on #13710
Thanks for your help on this @paschalidi. I'll unassign and let you take this on!

[2019-05-13 15:23] DSchau commented on #13999
@ajayns wouldn't SVG files used by those plugins be processed? e.g. gatsby-plugin-react-svg will process an SVG file and turn it into a React component.

In that case, it makes the most sense to use the `src` directory and co-locate the SVG files wherever they're being used (e.g. if used in src/components, then src/components/whatever.svg or src/components/images/whatever.svg), using whatever dire

[2019-05-13 15:23] #13999 closed

[2019-05-13 15:26] Steffi3rd commented on #13998
URL : https://edgebase-v2.netlify.com/profile/activation

[2019-05-13 15:29] DSchau commented on #13967
Array.prototype.map is a sync function that you are using as if it was async. You'll want to re-write to use Promise.all.

[Here's a re-write on Github Gist](https://gist.github.com/DSchau/8809383e2be900d1d18c516a03de7b08)

Let me know if we can help further, but for now, closing as answered. Thanks!

[2019-05-13 15:29] #13967 closed

[2019-05-13 15:31] DSchau commented on #13998
I _think_ the problem you're trying to solve here is a dynamic route, e.g. /profile will be a wildcard?

It's pretty challenging to debug this in the absence of a [reproduction](https://gatsby.dev/reproduction) so I'd request you provide one here so we can solve this most effectively.

Thanks!

[2019-05-13 15:38] harshalpatel91 commented on #14008
We were trying Gatsby for our use case where we want to change the route of a page which is generated from inside pages folder. We are using onCreatePage method for it. But since we wanted to run the graphql query and get data for URL and set it on page.path so that we can control routes from our CMS. I'm finding that currently, we don't get graphql as args as we have in createPages method. Do you

[2019-05-13 15:40] DSchau commented on #13994
This isn't necessarily a Gatsby question, but happy to provide some assistance here.

The idea here is that you will need:

1. An endpoint to register a visit (e.g. a tracking gif/image would work just fine here)
1. An endpoint to return page visits for a particular path
1. A plugin (or functionality) to embed the tracking visit and (optionally) a component to display this with a client-side reque

[2019-05-13 15:40] #13994 closed

[2019-05-13 15:44] jakeherp commented on #13997
Amazing, thank you, Dustin! You've saved me, been trying to figure this out all day.
I owe you one!

[2019-05-13 16:00] m-allanson commented on #13719
Based on conversations with @KyleAMathews and @pieh it seems like this isn't a big enough win for now. web pack v5 will have it by default? Let's wait for that.

[2019-05-13 16:00] #13719 closed

[2019-05-13 16:02] Steffi3rd commented on #13998
Ohhh... I think I understand what you mean.

I don't have no route `/profile` but I have `/profile/activation`

That's the problem?

[2019-05-13 16:03] DSchau commented on #13998
I don't honestly know what the problem is until we get that reproduction--but that's my guess, yeah!

[2019-05-13 16:07] daydream05 commented on #13949
I'm getting closer to a respectable speed.

Things I've done so far. I might be wrong on some of these assumptions.

- Reduced all my image sizes
- Stopped using base64 on the images
- Removed the video

Biggest difference maker:
- Stopped bundling my js and css on Netlify. My assumption is that bundling lowers the number of times your sites make a request, but it increases the size & complexity o

[2019-05-13 16:16] DSchau commented on #13949
@daydream05 hey Vince! 👋

Not quite sure what's going on here, exactly, but I think your initial suspicion was correct. My _guess_ is that JS animations were blocking the rendering of static HTML, so there was a delay before the JS thread picked up and _eventually_ produced the DOM structure you expect.

Few things I'd recommend:

1. Think hard about whether the entry animation is necessary for th

[2019-05-13 16:27] dante-blitz commented on #13442
I figured out what was causing my issue. I am running Linux Subsystem on Windows 10.

I was unaware that I needed to install Build Tools in order for sharp to work. Details are given here: https://blog.scottspence.me/wsl-setup

I hope this helps anyone else facing the same issue.

[2019-05-13 17:26] paschalidi commented on #13710
@prestonso you are very welcome! thanks for the amazing initial work and report!

[2019-05-13 17:27] #12918 closed

[2019-05-13 17:27] #13255 closed

[2019-05-13 17:27] #13262 closed

[2019-05-13 17:27] #13285 closed

[2019-05-13 18:30] StevensCol commented on #13983
@orshick thanks for answering. I've tested this on my query but i got this error:

`error GraphQL Error Field "author" must not have a selection since type "Int" has no subfields.`

My query is:

[code]
My `wordpress-source-plugin` config:

[code]

[2019-05-13 18:31] johno commented on #14007
Had a quick spike of what an action might look like to handle this. You can see it here: https://github.com/johno/actions-push-subdirectories

I've wired up a basic [usage example](https://github.com/johno/gatsby-theme-example) which publishes subdirs to a [standalone starter](https://github.com/johno/gatsby-starter-theme-example) and [added to the Marketplace](https://github.com/marketplace/actio

[2019-05-13 18:32] orta commented on #13546
Also, @damassi explored this idea in https://github.com/damassi/gatsby-plugin-emit-graphql-types/

It's a [pretty simple concept](https://github.com/damassi/gatsby-plugin-emit-graphql-types/blob/master/gatsby-node.js#L31-L71) - but would need to know what are the extra fragments that particular plugins are adding to queries to reflect the types accurately.

[2019-05-13 18:38] thecodingaviator commented on #11810
Hi, @marcysutton I see that there has been very less progress on the PR relating to this issue. Is this up for takes?

cc: @sidharthachatterjee

[2019-05-13 18:39] OllieJT commented on #12978
Hello, apologies for the late reply. I was unable to resolve this issue and had to move on due to time constraints.

@wardpeet I had already tried that a few times to no avail.

On a whim I fired up a starter using this repo: https://github.com/gil--/gatsby-starter-shopifypwa and it has been working since.

I'll close this for now - let me know if you would like it re-opened.

[2019-05-13 18:39] #12978 closed

[2019-05-13 18:43] jonniebigodes commented on #13989
@karanrajpal14 if you don't mind a third option. You can import the JSON file directly to where you want and it will be processed by Gatsby and the underlying bundler webpack. With that you eliminate the plugin in question, solely based on the fact that you're using one file and also remove the extra content in `gatsby-config.js` file, leaving it to handle what's supposed to do. The JSON file will

[2019-05-13 18:52] xenophilicibex commented on #11364
Just wanted to share that my team is also struggling with resolving this issue. Will post more details soon.

[2019-05-13 18:55] thecodingaviator commented on #13699
Netlify has recently released a new feature for serving large images, I'm not sure if it is for large files too. I see we're hosted on Netlify so we can make use of that feature.

[2019-05-13 19:10] thecodingaviator commented on #13466
I believe this might be due to some restriction that the ISP or your network if you're on a work network or such has enforced. Besides, I think that cloning the repo is ~400 or so MB so the request may time out sometimes

[2019-05-13 19:19] Sondro opened #14012 "Best way to trigger a site init function in GatsbyJS?"
Hi, I need to be able to init a page based off cookie settings.

So back in the day you could just do a ```<body onload="func()" />```

I've seen different ways to do this in React with props and querying the virtual DOM, but what is the best way to do this in GatsbyJS in particular?

Right now I just have a quick hack with ```<body onLoad={myFunc()} />``` and then I set a bool to return every tim

[2019-05-13 19:27] gillkyle opened #14013 "Update Plugin repos that aren't appearing in Plugin library"
There are a lot of plugins floating around on repositories that aren't included in the plugin library. Issue #5211 was created to address this, and a lot of progress was made on [a script that will find plugins](https://github.com/gatsbyjs/gatsby/tree/master/scripts/gatsby-plugin-checker) that mention `gatsby-source`, `gatsby-plugin`, or `gatsby-transformer` and don't match the list from Gatsby's

[2019-05-13 19:31] deammer commented on #10463
@KyleAMathews I apologize for reviving this thread but was any work done against this issue before it was moved to "Done"? I'm asking because I'm running into problems with `gatsby-source-wordpress`:

[code]

I definitely think this could be handled better in that plugin's code, but I also see value in improving the error handling in gatsby-node, if possible.

[2019-05-13 19:39] wardpeet commented on #14013
Awesome @gillkyle, you're the best!

[2019-05-13 20:10] jlengstorf commented on #12503
I have a call with Algolia later this week — I will figure out how to actually make this fix possible.

[2019-05-13 20:15] coreyward commented on #13956
@btahir Ah, didn't see that you're using the offline plugin. View-source doesn't work with it.

[2019-05-13 20:31] marcysutton commented on #14013
Related to https://github.com/gatsbyjs/gatsby/issues/12503

[2019-05-13 20:38] btahir commented on #13956
Took out the gatsby-plugin-offline. No difference. :(

[2019-05-13 20:40] btahir commented on #13956
It looks like this issue is also in some of the Starter templates: https://gatsby-starter-blog-demo.netlify.com/

Scrape results: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fgatsby-starter-blog-demo.netlify.com%2F

[2019-05-13 20:48] maciekgrzybek opened #14015 "Cannot build project becuase of missing libpng-dev library // WIN10"
## Description

When I'm trying to build a new project with gatsby-cli, I'm getting error:
[code]
The same thing happens when trying to npm install on different gatsby project, cloned from repo.

### Steps to reproduce

- install gatsby cli
- run command to create new project:
[code]

### Expected result

The project should be installed and ready to run develop command.

### Actual result

Isnstal

[2019-05-13 21:23] runes-tr opened #14016 "Disable prefetching on Link component"
## Summary

The Link component should have a prop in order to disable prefetching. Another option could be to prefetch only on mouse hover.

### Basic example

`<Link to="" noPrefetch />`

### Motivation

I have on my website ([https://www.rün.run](https://www.rün.run)) lots of links. All the prefetching ruins my [PageSpeed](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2

[2019-05-13 21:29] agvo1kov commented on #13466
I began to use a VPN and it solved the problem. And my network is not a work network. I tried to use different networks.

[2019-05-13 21:36] DSchau commented on #14016
This can and probably should live in user-land. There was a similar issue [here](https://github.com/gatsbyjs/gatsby/issues/13759#issuecomment-488366263) that was closed with the following snippet.

[code]

Going to do the same here--if you feel differently, please feel free to reply and any of us are happy to discuss further.

Thanks!

[2019-05-13 21:36] #14016 closed

[2019-05-13 21:40] runes-tr commented on #14016
When <a> is used I do not have a smooth site transition anymore. After a click the website is completely white and then the content appears.

[2019-05-13 21:47] runes-tr commented on #14016
This should be the right snippet:

[code]

[2019-05-13 21:49] thefonso commented on #10523
Would be great if this example was actually added to the docs.

[2019-05-13 22:11] jlengstorf opened #14017 "Define scope of gatsbyjs.org improvements"
Thanks to insights from the community and hard work by @shannonbux, @amberleyromo, @marcysutton, and others, we have a backlog of issues to address on gatsbyjs.org.

This scope is intended to define the desired outcomes and how we will measure them. From this scope, individual issues will be created so this work can be done incrementally with confidence that we're all rowing in the same direction.

[2019-05-13 22:47] jonniebigodes commented on #10523
@thefonso go for it...as it looks like there's no a movimentation for this case, let it be you that make the pull request and expand the documentation to include this case. Read the [how to contribute](https://www.gatsbyjs.org/contributing/how-to-contribute/), make the change, submit a pull request and wait for it to merged.

[2019-05-13 22:49] marcysutton commented on #5030
We're super close to merging the MDX PR, and I would need to test `gatsby-remark-code-buttons` for accessibility before integrating it–so I think we should hold off for a short period of time. I also have a task to determine scope for all the MDX components we want on the .org site, so I'll be sure to account for this one and circle back here when I know more.

[2019-05-13 22:55] jonniebigodes commented on #13838
@heldrida sorry for the "radio silence"(pardon the bad pun), but do you mind waiting a little longer?

Tomorrow i'll enumerate what i did and the testing methodology used and my results? Sounds good?

[2019-05-13 23:11] marcysutton commented on #10418
The advanced e-commerce tutorial looks limited to Stripe (and will be moved to Tutorials > Advanced soon). To satisfy this issue, we could create a higher-level e-commerce section (potentially) with multiple docs reference guides in it.

Some relevant learning information to consider: tutorials provide step-by-step guidance, while docs reference articles (soon to be called "Reference Guides") are

[2019-05-13 23:20] marcysutton commented on #13475
@lannonbr cool, enjoy your vacation! 🌴 🍹

[2019-05-13 23:21] jonniebigodes commented on #13978
@chfw i don't mind at all trying to answer to your follow up questions.

Regarding the first one, what you intented on achieving i'm not familiar with a cms that would allow to do what you intented to do. I do know that there are some like [sanity](https://www.sanity.io/) that allow self host and you might get some metrics with that, probably for instance [drupal](https://www.drupal.org/) might le

[2019-05-13 23:32] kara-todd opened #14018 "GraphQL Error for empty string path when converting relative urls"
## Description

Empty string value throws an error for image paths when manually defined with a `schema.graphql` file.

Note, this only seems to happen when using a Netlify style `/static` directory and re-writing frontmatter image paths to be relative.

### Steps to reproduce:

1. Setup [demo repo (branch: broken)](https://github.com/kara-todd/gastby-image-bug)
   - `git clone --branch broken git

[2019-05-13 23:34] kara-todd commented on #13938
hey @janosh ! Sorry for the radio silence there...

I opened up a new issue #14018 with clearer steps to reproduce. I went through these from scratch as a test and I was able to reproduce the issue. Please let me know if you have issues reproducing as I'd really like to keep this moving if possible. Also, if there are any pointers you can give me for where to look into the issue I'd be happy to tr

[2019-05-13 23:36] sa9designer commented on #10523
Any ideas how to achieve the above without JSX Lambdas?

[2019-05-13 23:42] jonniebigodes commented on #10523
@sa9designer if i understand you question correctly you don't want to use a structure like the one mentioned in the issue description right? You can alternatively use the hook `useStaticQuery`, more on it [here](https://www.gatsbyjs.org/docs/use-static-query/)

[2019-05-13 23:53] jonniebigodes commented on #13814
@Vagr9K no need to thank, i'm glad that i was able to help out in solving this issue.

[2019-05-14 00:07] sa9designer commented on #10523
@jonniebigodes  yes that is correct, especially for the StaticQuery bit at the end as the ts-lint forbids me from using JSX Lambdas. Thanks for the above.

[2019-05-14 00:25] KyleAMathews commented on #13909
I'm a bit confused still — what problem is this trying to solve?

[2019-05-14 00:54] grantglidewell commented on #13909
Live preview for Drupal doesnt re-render pages that are created with gatsby-node and passed context, only pages that use their own queries or a static query. Gatsby shouldnt care how you generate pages, it should always re-render them if the data they use in the schema changes. However that isnt the case, and this is an approach that not only can fix that, but help other performance issues, like t

[2019-05-14 01:20] iamskok commented on #5030
@marcysutton I currently don't have the capacity to test and implement accessibility features, but I will be more than happy to merge these PRs in  [gatsby-remark-code-buttons](https://github.com/iamskok/gatsby-remark-code-buttons).

[2019-05-14 01:22] iamskok commented on #13981
Still looking for a solution.

[2019-05-14 02:41] ChristopherBiscardi commented on #14007
@DSchau Yeah, the plan was to clone the repo anyway since theme repos are likely to be small collections of themes, then copy a subdir into the relevant working directory. We also discussed in the future potentially building a caching service if we felt there were performance issues and people were using the functionality on 100+ package repos.

The reasoning for this specific issue is that having

[2019-05-14 02:46] ChristopherBiscardi commented on #14007
To add to this issue, we should document a github actions approach that is suitable for larger mono-repos. With larger repos I think the additional tooling overhead becomes less of an issue.

[2019-05-14 03:51] orshick commented on #13983
@StevensCol  Ah, you're pulling the date from a wordpress.com site. I don't have any experience doing this, but trying it out just now, the author field did indeed return an integer.

The plugin's [documentation](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/) says you need to provide additional authentication if sourcing from a wordpress.com site, so the user information is likely sim

[2019-05-14 04:09] maks112v commented on #13641
I am adding prismic sourcing and get this issue.

[2019-05-14 04:12] ashley commented on #14013
Hi! Here are the plugins I have made PRs to (they include some that already included the keywords).

- [X]  gatsby-plugin-escalade-stock
- [X]   gatsby-plugin-product-markdown-pages
- [x]   gatsby-plugin-source-john-deere
- [x]   gatsby-plugin-production
- [x] gatsby-source-product-markdown
- [x]   gatsby-plugin-purify-css
- [x]   gatsby-plugin-stripe-elements
- [x]   gatsby-plugin-indieweb
- [x]

[2019-05-14 05:06] ajayns commented on #13999
Thank you so much for the quick response. This clarifies most of my doubts.

[2019-05-14 06:31] varya commented on #3582
I have the same problem, production build fails. Worked fine just recently, maybe related to some package updates?

[2019-05-14 06:41] thecodingaviator commented on #13466
In that case, I believe it is a problem on the client side browser application rather than something we can fix. Thanks for opening this issue, I’m closing this, if you want it to be reopened, please add further clarification. Happy coding!

[2019-05-14 06:41] #13466 closed

[2019-05-14 07:21] #13902 closed

[2019-05-14 07:27] dmarkiewicz commented on #14013
Hi! I've just made my first open source pull request in gatsby-plugin-graphql. I will try to hunt another plugins as soon as I get home.

- [ ] gatsby-plugin-graphql

[2019-05-14 07:38] LekoArts commented on #13956
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

The starter blog doesn't have some of the tags so they don't show up in the debu

[2019-05-14 07:44] wardpeet commented on #12848
We published a new version that should fix this issue. Please let me know if we did. Please thank @bakeruk for his awesome work!

[2019-05-14 07:46] #12848 closed

[2019-05-14 07:48] wardpeet commented on #13996
cc @shannonbux

[2019-05-14 07:53] #12858 closed

[2019-05-14 08:03] Steffi3rd commented on #13998
Found one thing very interesting.

I add a page `ProfileIndex` to match with `/profile`.

First I did this, and it didn't work
[code]

Finally I did this, and it worked
[code]

I saw my page in the building list... when I add a `return` and a `console.log(...)`

Do you have an explanation for this?

[2019-05-14 08:23] wardpeet commented on #13903
Do you have like a real life use case where this happend? I can reproduce but I think I miss how you can reproduce it with a real life example.

[2019-05-14 08:33] liamness commented on #13903
I've come across this due to an unfortunately unsteady hosting and deployment (FTP-based) situation that is out of my control to change. I understand that for a lot of people, with rock-steady off the shelf solutions like Netlify, this is a solved problem! If I can, I will get us to migrate to such a solution. But it could also happen if you have a poor wi-fi or mobile signal, I suppose. I'm think

[2019-05-14 08:39] liamness commented on #13903
Oh and just in case you didn't notice, I have opened a PR to fix: gatsbyjs/gatsby#13904

[2019-05-14 09:21] bakeruk commented on #12280
Out of curiosity, try updating to `gatsby@2.4.4` running `yarn upgrade` and let me know if your issues are fixed.

[2019-05-14 09:24] #13903 closed

[2019-05-14 09:24] wardpeet commented on #13903
I did notice, thanks for the reminder though.

this makes a lot of sense indeed.

[2019-05-14 09:37] wardpeet commented on #14013
we probably want to update our script somehow to check if a repo is archived or not. If anyone wants to update https://github.com/gatsbyjs/gatsby/blob/master/scripts/gatsby-plugin-checker/index.js we would be grateful.

[2019-05-14 09:52] dmarkiewicz commented on #14013
I would like to take care of it. Should I just create a pull request or are there any other steps I need to take?

[2019-05-14 10:00] heldrida commented on #13838
Today I had to `gatsby clean and develop` quite a lot of times 'till it started working again. No code changes!

[2019-05-14 11:07] daningamells opened #14021 "Hosting Gatsby Blog within Express Application"
Hey all,

This may be a stupid question and if so apologies. I have my website hosted on Heroku (Express application). I also have a blog I have created with Gatsby, I want to host Gatsby @ www.mysite.com/blog, can I host my Gatsby app from within my Express app and if so how do I call Gatsby from my Express routes.

Thanks

Daniel Ingamells

[2019-05-14 11:21] varya commented on #10052
I'm interested in solving this issue or in finding workaround. Is it possible to re-open?

[2019-05-14 12:26] pieh commented on #14021
There are few things here:
 - first, if you want to host Gatsby not in the root of domain (`/blog`), you will need to use [path prefix](https://www.gatsbyjs.org/docs/path-prefix/) when building your site
 - then in your express application you could use:
[code]

[2019-05-14 12:27] paschalidi commented on #13642
hey @hydrosquall and @DSchau have you thought of using another service that `netify`? I have seen implementations of PR-preview that dont use build in netify feature and the result is the same.

Thoughts on that?
I am also willing to help here :)

[2019-05-14 12:30] prestonso commented on #13715
Wrapping this up in a pull request for review once I've also finished all tasks in #13712.

[2019-05-14 12:43] jshearer commented on #4125
Hi there! I'm relatively new to Gatsby but I just encountered this same issue. My understanding of @lightstrike's comment is that he just changed his titles/slugs to be short enough to work, but that unfortunately won't work for me. I'm building a Gatsby project that needs to support arbitrarily deep paths, and am encountering issues like the following when creating pages with path lengths over ab

[2019-05-14 12:45] pieh commented on #14018
Hey, we need https://github.com/gatsbyjs/gatsby/pull/13028 to fix this. After that you would be able to specify in your graphql schema that File should be resolved using relative path (right now type is correct, but fields are being resolved to strings with this empty image string in frontmatter).

You can use it right now if you don't mind using pre-release version:
[code]

[2019-05-14 12:48] JABedford commented on #14017
Am so excited to see these changes.
@jlengstorf - If there is anything I can do to help then please let me know!

On a note: the "How Gatsby Works" diagram was invaluable to me when first glancing at the Gatsby site and has been an image I have referred so many people to when they have asked questions about Gatsby, GraphQL, JAMstack etc. I hope to see it still present!

[2019-05-14 12:48] pieh commented on #14015
Could you try using troubleshooting instructions on https://www.gatsbyjs.org/docs/gatsby-on-windows/ ? If that doesn't help will try to debug from there

[2019-05-14 12:51] maciekgrzybek commented on #14015
Thanks @pieh I wasn't aware of that guide, I'll give it a go :)

[2019-05-14 12:52] pieh commented on #14012
Depending on when exactly you want to get your callback called you can use one of those Gatsby browser APIs:
 - [`onClientEntry`](https://www.gatsbyjs.org/docs/browser-apis/#onClientEntry) - this will be first thing that runs (before mounting react application)
 - [`onInitialClientRender`](https://www.gatsbyjs.org/docs/browser-apis/#onInitialClientRender) - this will run after react application ha

[2019-05-14 12:56] pieh commented on #14003
I think some clarification is needed here. On builds it seems that `static` directories are being copied already ( https://github.com/gatsbyjs/gatsby/blob/d4b60f2b900a59b70dd2d97cf14125c77c1de4df/packages/gatsby/src/utils/get-static-dir.js#L6-L30 ). For development it's not happening, so [`syncStaticDir`](https://github.com/gatsbyjs/gatsby/blob/d4b60f2b900a59b70dd2d97cf14125c77c1de4df/packages/gat

[2019-05-14 13:03] pieh commented on #13980
Can you add `GATSBY_CPU_COUNT=2` env var to your build command in CircleCi and see if this helps?

[code]

[2019-05-14 13:19] daningamells commented on #14021
Hey,

Thanks for the reply, struggling to get my head round this, would you happen to have a working example I could use for reference?

Thanks

[2019-05-14 14:12] lannonbr commented on #13667
@zecamacho So gatbsy-browser and gatsby-ssr both implement these API functions as gatsby-browser is for when the react app mounts when a user visits your site while gatbsy-ssr is when it is being built on a server when you run `gatsby build`

[2019-05-14 14:20] waleedshkt commented on #13667
@lannonbr
But (correct me if I am wrong) gatsby is built mainly for static sites on steroids - yes one can add serer-side using plugins. What you said above applies only when the site has a back-end. But when it doesn't (a static site) being hosted (let say) on AWS S3. You don't need to add/ config `gatsby-ssr.js`

[2019-05-14 14:23] lannonbr commented on #13667
When I say SSR, it is not that you hit a server and it will build a page at runtime, but rather it will build the page into static files and will use the SSR capabilities for all of the routes before it is deployed up to a web server

[2019-05-14 14:30] gillkyle commented on #14013
Thanks for the help @ashley and @dmarkiewicz!

---

@dmarkiewicz I would reference the guidelines mentioned in [Issue 5211](https://github.com/gatsbyjs/gatsby/issues/5211) as well, but then making a pull request that at least checks if the repo is archived like @wardpeet mentioned would be fantastic 🙂

[2019-05-14 14:35] waleedshkt commented on #13667
@lannonbr
Gotcha 👍

One thing: in the official gatsby API guide docs, the examples given use require for importing like(e,g wrapePageElement api):

[code]
When running gatsby app, the above syntax gives errors. But when I use import/ export ES6 features, errors go away and the app works:

[code]

[2019-05-14 14:36] lannonbr commented on #13667
@waleedshkt Yep that's why this issue is open. You should be able to use either syntax

[2019-05-14 14:41] waleedshkt commented on #13667
@lannonbr
Yeah, but my point is given almost all react apps using import/export feature, shouldn't we just use ES6 syntax?
I mean javascript has come a long way now

[2019-05-14 14:53] jlengstorf commented on #14017
@JABedford thanks! Once we've nailed down the scope and gotten the designs, I imagine we'll have lots of small issues to implement it that we'd love to have help with!

The diagram is pretty instrumental to hitting the "clear understanding of Gatsby’s purpose, value, and credibility", so I'd be pretty surprised if we don't see something similar in the updated design.

[2019-05-14 15:01] DSchau commented on #13667
@waleedshkt correct - but we want to allow flexibility if we can! It's not as simple as ES modules are newer than CommonJS, therefore they're better--there's reasons to choose either, and if we don't _have_ to break one for the other, we shouldn't.

[2019-05-14 15:05] heart-of-code commented on #7659
@iamskok here's mine: https://gitlab.com/heartofcode/gatsby-source-shopify-admin
It's heavily WIP, I had to stop putting work into it after I was getting the data back that I needed.

[2019-05-14 15:26] duongthienlee opened #14029 "Meta image isn't crawled completely by any search engines. SSR with React-Helmet"
## Summary
So, I'm using Netlify to manage SEO content. I have a image field to upload image to the static/img folder.
Then on my index page: I use React-Helmet to place absolute path for the image meta tag

     <meta name="image" property="og:image" content={`https://thienwinchester.netlify.com${seoImage}`} />

And this is what it looks like as expected

    <meta name="image" property="og:image

[2019-05-14 15:41] duongthienlee commented on #14029
Closed the issue due to stupidity of image size. So for facebook, the meta image minimum height and width shouldn't be smaller than 200. Mine image was smaller than that, so that is the problem. :)

[2019-05-14 15:41] #14029 closed

[2019-05-14 16:09] violabg opened #14030 "gatsby-source-graphql creating slug for pages"
I'm sourcing data from drupal, can't use the gatsby-source-drupal plugin, because I need to localise the content, and it seams it is not supported.
So I installed drupal GraphQL module and sourcing data with gatsby-source-graphql.
I'm able to query data, but can't find a way to create a slug onCreateNode.

with gatsby-source-drupal I was able to generate it like this:

[code]

but with gatsby-sour

[2019-05-14 16:23] karanrajpal14 commented on #13989
Hey @jonniebigodes, thank you for the sample. That does work for my current use case and I'll probably do it this way as I can shave off the dependency at least. I still am curious though, filtering the siteMetadata should work, correct? Is this a bug? Or is the current behaviour working as intended?

[2019-05-14 16:31] awilkins commented on #12272
Nested types :

* Using [`gatsby-source-prismic`](https://github.com/angeloashmore/gatsby-source-prismic)
* This results in complex types with object types nested inside objects

e.g.

[code]

Types have the notion of repeatable groups (which end up in the Items) but if you don't have anything in the group, querying for it fails (because you're querying a type member that hasn't been inferred).

H

[2019-05-14 16:37] dmarkiewicz commented on #14013
@gillkyle I think that checking if repositories are archived require a Github App Token because there is a limit of 60 requests per hour. To check if repository is archived I need to call API for each of them and that might exceed the limit. Is there a possibility to create such token?

[2019-05-14 17:04] frinyvonnick commented on #13606
I would like to work on this issue 😄

[2019-05-14 17:05] pieh commented on #14030
Node aren't created when `gatsby-source-graphql` is being used, so `onCreateNode` method won't really work here.

You could add `slug` field to data from drupal graphql using something like this in your `gatsby-node` file:

[code]

Type will probably be something like `Drupal_Work` (depends on how you setup `gatsby-source-graphql` + what's the base type name in Drupal graphql schema). You can get

[2019-05-14 17:27] #13185 closed

[2019-05-14 17:27] #12011 closed

[2019-05-14 17:37] realgt commented on #12399
I originally fixed this issue with https://github.com/gatsbyjs/gatsby/issues/12399#issuecomment-473231797 but the 'Missing resources' errors popped back up after pulling in react-spring. Ultimately what worked for me was not needing to setup my own local plugin, but just adding a dependency to [gatsby-plugin-compile-es6-packages](https://www.gatsbyjs.org/packages/gatsby-plugin-compile-es6-packages

[2019-05-14 17:47] dustinhorton commented on #12399
I wouldn't think you'd need `react-hot-loader` since that should only be used in dev?

Wish there was an easy way to figure out what to feed `gatsby-plugin-compile-es6-packages`…I've resorted to tossing in all my third -party deps.

[2019-05-14 17:52] jackhair commented on #12399
@dustinhorton Did throwing all your third-party deps into `gatsby-plugin-compile-es6-packages` resolve the issue of Missing Resources for you?

[2019-05-14 17:55] dustinhorton commented on #12399
@jackhair I haven't deployed yet—I'll report back when I can.

[2019-05-14 18:13] lannonbr opened #14031 "[gatsby-mdx] Add docs for global scope in MDX section of docs"
## Summary

the `globalScope` is documented in the readme that can be seen in the plugin library, but not in the mdx section of the docs. I'd honestly just copy the copy text from there and put it in our docs.

We likely can just add it on this page right below the `Importing components` page: https://www.gatsbyjs.org/docs/mdx/writing-pages/

**CC**: @johno @ChristopherBiscardi

[2019-05-14 18:23] marcysutton commented on #13712
The biggest confusion I've found with duplicated content is that the format is similar, and you can't easily tell where you are in the docs IA. With a few improvements, I think duplicated content will be more helpful than confusing. These are the changes I have in mind:
- Recipes with a concise, repeatable format including reqs and actionable content (see [docs IA proposal](https://docs.google.com

[2019-05-14 18:26] tylermcrobert opened #14032 "Youtube Embeds don't work on Google Chrome iOS Mobile"
## Description

Youtube embeds on Mobile Chrome do not play.

### Steps to reproduce

Using justdoit.nike.com as an example as it's the first site on the gatsbyjs.org showcase that I found had YouTube embeds.

1. Navigate to justdoit.nike.com
2. Select a video
3. Press play on YouTube embed
4. Note the issue

### Expected result

Video should play.

### Actual result

Video shows loading spinner t

[2019-05-14 18:30] realgt commented on #12399
right, but wanted IE passing first on my local dev

what i did was check IE console for errors, clicked into the offending line, and scrolled up until i saw what module was throwing them. wash and repeat.

[2019-05-14 18:31] oriooctopus opened #14033 "[Help] Is there a way to have a buffer zone for lazy loading Images?"
In [google's guide](https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video/) to lazy loading using the intersection observer, they say that you can establish a buffer zone that allows images to start loading well before you've actually scrolled to them\

[code]

Since I know Gatsby uses the Intersection Observer API for their lazy loading of images, is th

[2019-05-14 18:31] ZhenWang-Jen opened #14034 "Img: what's the best way to change image on hover?"
## Summary

When I use gatsby image component <Img />, I have a hard time of changing image when hovering on it. I find [the official doc](https://www.gatsbyjs.org/packages/gatsby-image/#gatsby-image-props) doesn't support props like regular react onMouseEnter or onMouseOut. So how would I achieve this or it's not currently supported?

### Motivation

Overall, I want to show a gif image when hover

[2019-05-14 18:41] ZhenWang-Jen commented on #14034
Additional: even not sure if Gatsby supports gif format when I look at another [issue](https://github.com/gatsbyjs/gatsby/issues/7317#issuecomment-412984851).

[2019-05-14 18:59] jonniebigodes commented on #14034
@ZhenWang-Jen if you continue to read the document and you reach [here](https://www.gatsbyjs.org/packages/gatsby-image/#some-other-stuff-to-be-aware-of) , you get the answer to your question

[2019-05-14 18:59] prestonso commented on #13712
If you'd like to track the work I'm doing here, please feel free to follow along with the branch in progress on my personal fork: https://github.com/prestonso/gatsby/tree/docs/workflows-linking-and-starters

[2019-05-14 19:00] prestonso commented on #13715
If you'd like to track the work I'm doing here, please feel free to follow along with the branch in progress on my personal fork: https://github.com/prestonso/gatsby/tree/docs/workflows-linking-and-starters

[2019-05-14 19:00] gillkyle commented on #14034
Correct that `gatsby-image` doesn't support gifs, but you can still use gifs inside of normal `<img />` tags!

A possible solution could be loading an optimized jpg/png and just swapping the element that is displayed on hover.

[2019-05-14 19:02] pieh commented on #14032
This is pretty difficult to diagnose without seeing how those are actually embedded. I'm also not sure if this is Gatsby issue or issue in react components used to embed Youtube video?

[2019-05-14 19:03] jonniebigodes commented on #13989
@karanrajpal14 to the best of my knowledge, technically not a bug, but a feature that is still not implemented, as you can see in the links i posted in my earlier comment. No need to thank, glad that i was able to offer you a alternative and see that the work you're doing will continue to progress.

[2019-05-14 19:05] pieh commented on #14033
We currently are using hard-coded 200px margin zone in all directions ( https://github.com/gatsbyjs/gatsby/blob/1fe6f9d73d2bb531dbce72988d3cdf652f551c63/packages/gatsby-image/src/index.js#L65 ).

If this default doesn't work for You, you can always fork `gatsby-image` component (it's 1 file - https://github.com/gatsbyjs/gatsby/blob/1fe6f9d73d2bb531dbce72988d3cdf652f551c63/packages/gatsby-image/src

[2019-05-14 19:14] tylermcrobert commented on #14032
https://codesandbox.io/s/lprmr2xjml?fontsize=14 Here is an example. In this case, just using default embed code and no video component

[2019-05-14 19:17] RobinCsl commented on #14013
Issue Created:
- [ ] [gatsby-source-twitch](https://www.npmjs.com/package/gatsby-source-twitch)
- [ ] [gatsby-source-soundcloud](https://www.npmjs.com/package/gatsby-source-soundcloud)

PR:
- [ ] [gatsby-source-google-calendar](https://www.npmjs.com/package/gatsby-source-google-calendar)

[2019-05-14 19:17] marcysutton commented on #14017
@jlengstorf I added some docs / learning stuff to the scope!

[2019-05-14 19:23] gillkyle commented on #5211
Going to continue this conversation from #14013 here (cc: @dmarkiewicz)

In regards of using a token, we could document that a personal github token is needed (and added to a `.env` file) since this script will likely just be run manually from time to time like is mentioned [above](https://github.com/gatsbyjs/gatsby/issues/5211#issuecomment-414161366).

[2019-05-14 19:57] adueck commented on #13417
Any thoughts/ideas anybody? For me this is kind of a deal-breaker, so if this isn't possible I think I will switch my site over to a regular single page app bootstrapped from [create-react-app](https://github.com/facebook/create-react-app)

[2019-05-14 20:00] shannonbux commented on #14017
Woot! I'm excited to approve this, just a couple questions first:
- Do we know what problems we're trying to solve and which ones are most important to solve first? Seems like @marcysutton & @prestonso's measurements of the top 25 workflows could be part of helping prioritize things
- I think the stretch goal for plugins ought to be a requirement once themes become searchable as plugins. Anyone kn

[2019-05-14 20:11] justan0therdave commented on #11026
Never `sudo npm` anything - [source](https://medium.com/@ExplosionPills/dont-use-sudo-with-npm-still-66e609f5f92). Use `npm install --unsafe-perm=true`

[2019-05-14 20:28] jlengstorf commented on #14017
@shannonbux great questions!

Yep!

* Home page outcomes are derived from problems surfaced by your research, @amberleyromo's thorough breakdown of Gatsby's messaging, what I've seen and heard from the community, @KyleAMathews's input, and @lindaleebumblebee's requests.
* The docs outcomes are all derived from the problems @marcysutton has been working on, including the top 25 workflows.
* Plugins

[2019-05-14 20:36] lindaleebumblebee commented on #14017
Let's also keep in mind that we want a clear path to the .com site when someone shows interest in our commercial offering (such as interest in trying Gatsby Preview). Right now, most of our overall website traffic is going to .org (NOT .com) and some of our users will be interested in commercial offerings if they know about them. I see this as secondary to the main goals you've outlined above (hel

[2019-05-14 20:40] jlengstorf commented on #14017
@lindaleebumblebee 💯 Raising awareness about Gatsby Cloud is specifically defined for the home page outcomes. (See outcome 4 above.)

[2019-05-14 20:44] angeloashmore commented on #12272
@awilkins `gatsby-source-prismic` author here.

We're working on implementing automatic schema loading so Gatsby knows everything about your custom type shapes. We're hoping to publish a beta this week (which also includes a preview system!).

You will need to provide your schemas to the plugin going forward.

Re: your question about interfaces, the idea is sound, but I'm not sure if the types are

[2019-05-14 20:54] marcysutton commented on #14034
To make the interaction keyboard accessible, you could add a button element that wraps the image and swap the source on click or something.

[2019-05-14 20:56] pieh commented on #14032
Hmm, I don't have iOS device, but checked on browserstack and both reproduction and nike site have no problems for me :(

[2019-05-14 21:02] marcysutton opened #14040 "[docs] add articles on winning over stakeholders"
## Summary

There are a few stubs in the docs section on [Using Gatsby Professionally](https://www.gatsbyjs.org/docs/using-gatsby-professionally/) > [Winning Over Different Stakeholders](https://www.gatsbyjs.org/docs/winning-over-stakeholders/) that have some content on them, but need to be filled out further. This issue exists as a place to discuss ideas and collect information that could go on t

[2019-05-14 21:13] gillkyle commented on #14013
Thanks for adding your help on so many of these @RobinCsl!

I guess that Netlify lambda plugin must be in a private repo or something. If that's the case they may not want to include it as a plugin in the library but good we've at least made them aware how they can!

[2019-05-14 21:16] KyleAMathews commented on #14033
If the 200px isn't enough, we could change it too. It was picked in a rather arbitrary way.

[2019-05-14 21:16] #14033 closed

[2019-05-14 21:41] oriooctopus commented on #14033
@KyleAMathews @pieh Mind if I take a swing and put up a PR for this?

[2019-05-14 22:01] poyea commented on #14013
I've opened two PRs for now:

- [ ] [gatsby-transformer-nimbl](https://github.com/NimblNotes/gatsby-transformer-nimbl/pull/2)
- [ ] [gatsby-plugin-core-js](https://github.com/lloydh/gatsby-plugin-core-js/pull/1)

[2019-05-14 22:02] StevensCol commented on #13983
@orshick that was the problem! Thank you, i've put the auth data in `gatsby-config.js` and this works fine. Now the question is, When i trying to get the id from author or post this give me the internal id from graphql, how can i get the real id from the data?

[2019-05-14 22:08] marcysutton opened #14042 "[docs] add article(s) on org best practices & sharing components with Gatsby"
## Summary

There are a few stubs in the Gatsby docs related to organizational best practices that we'd love to have filled in. The process for working with organizations often leads to discussion of pattern libraries and the super common Gatsby use case of docs sites.

Some of the pages in this section of the Gatsby docs would benefit from updates:

- [ ] [Best Practices for Organizations](https:

[2019-05-14 22:26] daydream05 commented on #13949
@DSchau Hey Dustin! It was great meeting you at Gatsby Days!

I followed your recommendations and I've seen massive improvements! Thanks again for saving the day!

Here's what I did:

- I removed all of my scrolling animations which def lowered the js execution time.
- I use [react-slick](https://react-slick.neostack.com/) for the Hero, and I added the `lazyLoad` prop to do the trick. I think it d

[2019-05-14 22:38] jonniebigodes commented on #13838
@heldrida in this comment i'm documenting the approach taken and methodology used to test your issue and results.
- Based on your description, i cloned the repository, installed the dependencies.
- Did a little investigation on wpgraphql for a test endpoint and found out [this](https://github.com/wp-graphql/gatsby-wpgraphql-blog-example) and looking at it, it seems that you're basing the code on t

[2019-05-14 22:41] DSchau commented on #13949
@daydream05 it seems good for me--but I noticed that some resources (small ones, even) take quite a while to load.

How are you hosting this? Do you have a CDN edge layer in front of the host?

For what it's worth, my Webpagetest results were pretty solid -> https://www.webpagetest.org/result/190514_DZ_3124029672236e3bb7de795b85b1d002/

[2019-05-14 22:53] heldrida commented on #13838
Hi, thanks for checking and all the hard work on this, that's impressive!

Today I had the same issue, I initialized the project and got similar error messages, etc; The solution provided by @jasonbahl helped since the tags query was failing, so I've decided to do an HTTP Post request as he has in his source code.

I'll try the single query approach, as currently, I have the await sequence you men

[2019-05-14 22:56] alexlafroscia commented on #7862
I'm running into this problem as well.

Originally I was running Storybook version `5.1.0-alpha.X`. If I run `yarn why core-js` the dominant version of `core-js`(the one hoisted to `core-js`) is `2.6.5`.

After updating to Storybook `5.1.0-beta.0` today, the hoisted version of `core-js` became `3.0.1`, and for some reason, that broke the Gatsby build.

Why doesn't Gatsby resolve the actual version

[2019-05-14 23:10] heldrida commented on #13838
* forgot to answer the question regarding `web server folder`, it's just a directory where I keep my projects but they are mostly self-served by a nodejs server; there might be cases where I might have a project directory mapped to a Docker container, but the www directory is not handled by apache/nginx, etc

[2019-05-14 23:26] kara-todd commented on #14018
@pieh awesome! I just tried that on my build and it does seem to resolve the issue. Any idea when this feature might land? I think we can manually manage the data for a while... I'd rather go with a full stable release if possible since this is for a client site.

Also, should I close this issue then? or will it closed by the PR?

[2019-05-14 23:49] lightstrike commented on #13983
@StevensCol try including `wordpress_id` in your graphql query, I think that'll return what you want.

[2019-05-14 23:58] StevensCol commented on #13983
@lightstrike works pretty wll! thank you. Why these topics dont appear in the docs? Is very frustrating :(

[2019-05-14 23:59] KyleAMathews commented on #12047
I think the right solution here is to use add [`<link preload>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content) for critical images. I definitely agree that critical images should be loaded before JavaScript. I'll create a new issue for this.

[2019-05-15 00:07] KyleAMathews opened #14043 "Add a <link preload rel="image"> for each "critical" image (when using gatsby-image)"
@baobabKoodaa [noticed that critical images can be blocked on slower connections](https://github.com/gatsbyjs/gatsby/issues/12047) by loading JavaScript. We should prioritize loading critical images (and fonts) over loading JS as the above-the-fold content needs to be loaded before we worry about making it interactive.

One way to do that is when SSRing `gatsby-image` capture this and add some cod

[2019-05-15 00:17] KyleAMathews commented on #14033
@oriooctopus what would you like to do?

[2019-05-15 00:21] jasonbahl commented on #13838
So, one thing to note is that WPGraphQL has a default cap of 100 items. It can be increased if the server maintainer wants it to be higher, but the use of `first:9999` will cap at 100 items to protect the WP server from crazy memory issues.

My example showed how to paginate using hasNextPage / endCursor, so that would still need to be in place if there are more than 100 posts/pages to be built.

[2019-05-15 00:30] esharri2 opened #14044 "Understanding Gatsby's error messages when proxying API requests"
## Summary

What exactly does it mean when Gatsby shows the following error in the shell:

[code]

Is this just a basic error telling me that my server returned an error? Or is this the Gatsby proxy feature somehow failing? More details below!

## Relevant information

I have an Express API set up as a proxy on my Gatsby project. I am sending a POST request and expecting to get 422 status and Mong

[2019-05-15 00:37] daydream05 commented on #13949
@DSchau I use Netlify and its Asset Optimization feature. I'm minifying the JS and the CSS. Everything else is through Contentful.

[2019-05-15 00:54] oriooctopus commented on #14033
@KyleAMathews add an optional variable for rootMargin that defaults to 200px

[2019-05-15 01:58] jonniebigodes commented on #14044
@esharri2 see if [this](https://www.gatsbyjs.org/docs/api-proxy/) helps solving your issue.

[2019-05-15 02:07] wodenx commented on #13707
@ChristopherBiscardi  I am having a similar issue when using `lerna bootstrap --hoist`.  Here is a simple example: https://github.com/wodenx/gatsby-theme-issue.  Run `lerna bootstrap` and then `gatsby develop` and it is fine.  Run `lerna bootstrap --hoist` and `gatsby develop` and you get the following:
[code]

[2019-05-15 02:09] KyleAMathews commented on #13909
Oh interesting — yeah, it's pretty hard to know where data passed as context to `createPage` comes from (since it literally could be anywhere).

We can re-render pages with their own graphql queries because we know where data comes from.

There's an open issue for this https://github.com/gatsbyjs/gatsby/issues/11691

[2019-05-15 02:10] KyleAMathews commented on #13909
On `gatsby-image` — I'm not sure what problem you're seeing? We already do caching for gatsby-image so image thumbnails shouldn't be recreated after they've been recreated once. Could you provide more information on what you're seeing there?

[2019-05-15 02:18] polarathene commented on #12047
That alone wouldn't raise it's priority over the JS assets being preloaded for hydration into a react app though? JS has priority over images last I knew?

[2019-05-15 02:18] KyleAMathews commented on #14033
We already rejected a PR doing that :-) https://github.com/gatsbyjs/gatsby/pull/13816#issuecomment-488831605

You can see that PR comments for context but we won't accept a PR like this. We would however appreciate some research showing what could be a more ideal setting.

[2019-05-15 02:19] KyleAMathews commented on #12047
It's complicated :-D https://blog.cloudflare.com/better-http-2-prioritization-for-a-faster-web/

Adding a preload would at least make the critical image equal priority with JS.

[2019-05-15 02:25] polarathene commented on #12047
Yeah I just came across that new article, will read through it and a few others I've got up on the topic before putting together my input on the related issue you opened up.

I am not sure where I saw the information prior, but there was a nice table(at least for Chrome) that showed the prioritization rules for resources by type. Which iirc, while different asset types had their own priority value

[2019-05-15 02:40] grantglidewell commented on #13909
They should never be processed if they wont be referenced in the app to begin with, its wasted effort up front.

example: I pull in a Drupal site and on node creation each image is processed (iirc this is how gatsby-image works), wether or not i use it in the app. That could be (and has been) a huge problem if a Drupal back end wasnt initially designed to be headless. So in a site that I use like

[2019-05-15 02:46] KyleAMathews commented on #13909
Are images being processed or just downloaded? We do download images by default but they're not processed in any way unless one is queried.

It would be awesome to only download an image if it's queried. That'd be a great optimization. That should actually be possible with the new schema customization tools. /cc @freiksenet, @stefanprobst @pieh

[2019-05-15 03:13] grantglidewell commented on #13909
I thought for some reason it was onCreateNode that did a check if its a file and image, I guess that just creates the scaffolding for image sharp, wait, I may be mixing up image sharp here. But whatever the case I think you have the general idea now.

Yes, by default in the drupal source plugin all assets that are exposed are downloaded. I think to do with the with schema customization tools it wo

[2019-05-15 03:13] wodenx commented on #13707
Workarounds for my use case:

- `lerna bootstrap --hoist --nohoist=gatsby`
- `ln -s ./packages/site/node_modules/gatsby_theme_bodiless ./node_modules/gatsby_theme_bodiless`

So it seems gatsby is looking for the theme relative to the node_modules directory where gatsby itself is installed.  This seems to be a peculiar lerna edge-case, where an external dependency is somehow dependent on a package

[2019-05-15 03:20] esharri2 commented on #14044
Thanks @jonniebigodes. I didn't see anything there that addresses my issues. I have the basic setup working; I can make successful requests to my API. The issue I'm having is particular to how errors are coming back from the API.

[2019-05-15 03:27] hydrosquall commented on #13642
Hi @paschalidi, I'm not familiar with other services that do branch previews, but would be interested to consider others.

@DSchau , do you know if there are any dashboards or services (circleCI maybe) which collect metrics about how long the gatsby docs site takes to build over time? It would be useful to see how far we have to go to get under the 15 minute mark, as well as keep track at how this

[2019-05-15 03:35] ryami333 commented on #6945
Is using `@reach/router` within a gatsby app "allowed"? Because this solves this problem for our use-case, but I'm not sure what the wider implications are.

[2019-05-15 04:07] jonniebigodes commented on #14044
@esharri2 can you share a [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that it can be looked at?

[2019-05-15 04:18] dustinhorton opened #14047 "Nest home page in src/pages/home/* instead of root (src/pages/*)"
## Summary

## Relevant information

A semi-recent update to Gatsby made placing a home page at `src/pages/home/*` (or whatever sub-directory) break the build. I like to do this so I can group all pages in their own sub-directories, with their assets all self-contained within.

I think I got my previously-working solution from an issue or doc, but cannot locate it anywhere.

The build breaks with

[2019-05-15 04:21] iamskok commented on #7659
@heart-of-code Thank you!

Did you make it work or it's still a draft?

<details>
    <summary>After fixing the import path for `graphQLHelpers` in `plugins/gatsby-source-admin-shopify/src/nodes/metafields.js`, rebuilding the plugin and running `gatsby develop` I get error.</summary>
success open and validate gatsby-configs — 0.008 s
success load plugins — 0.349 s
success onPreInit — 0.006 s
succe

[2019-05-15 05:14] FraserThompson commented on #6291
FYI the error in the OP still occurs randomly with a high number of local high-res images. Building from scratch for me involves generating around 200,000 thumbnails and it seems to randomly produce this error and fail. Retrying each time works, but it's inconvenient because it means I can't just walk away and leave it to build for a few hours.

https://github.com/gatsbyjs/gatsby/issues/6291#issue

[2019-05-15 05:19] Kevin-Hamilton commented on #14044
Looks to me like the gatsby proxy is a pretty basic / naive implementation.  It doesn't know anything about handling or passing through errors.  I'm sure a pull request with better handling would be welcomed.

See:
https://github.com/gatsbyjs/gatsby/blob/842d9ce5a57d4154251001b4e47eb5053bc77642/packages/gatsby/src/commands/develop.js#L214-L221
and
https://www.npmjs.com/package/got#onerror-error-bo

[2019-05-15 06:09] PriyaBhatt13 commented on #14013
PRs Created:

- [ ] gatsby-source-newsapi

- [ ] gatsby-source-nba

- [ ] gatsby-source-gcloud-object

- [ ] gatsby-plugin-drip

[2019-05-15 06:19] linuz90 opened #14048 "Plugins don't inject their scripts in the page if I'm overriding html.js"
## Summary

Hello. I'm building a website and I'm overriding html.js, which looks like this:

[code]

Now the problem is that plugins like **gatsby-plugin-facebook-pixel** and **gatsby-plugin-google-analytics**, even if set up correctly in `gatsby-config.js`, are not injecting their scripts in the page. They're nowhere to be found.

Any idea how to fix this?

### Environment

  System:
    OS: mac

[2019-05-15 06:57] FadyQJ opened #14049 "Support for including nan library"
Hello,

I was reading a blog about Gatsby today and I was intrigued.

I would like to know, if I create a website with Gatsby, is it possible to include a custom cpp library?

Currently I am working on an app that uses electron and I am importing my cpp library using require('bindings')('LibraryName'). The library uses the nan package that uses the v8 engine to wrap cpp into javascript code.

Is t

[2019-05-15 07:03] violabg commented on #14030
Thanks it works!

If I query all nodes ora node by Id I get my node with the "slug" field, but I can't filter by slug

[code]

[2019-05-15 07:07] freiksenet commented on #12272
@motleydev Hey, so createTypes and mappings are ran pretty much at the same type. Types defined by users always take priority over mapping types. You need to use custom resolver in this case. Gatsby can't really know that you want an object that will be serialized as string in this case, as String and CategoriesYaml aren't compatible types.

[2019-05-15 07:21] lexaurin opened #14050 "CLI argument passthrough"
## Summary
[Feature Request]

It would be nice to support CLI argument passthrough to be able to customize build by argument switches.

### Basic example

[code]

[code]

Related #9935

[2019-05-15 07:34] frinyvonnick commented on #13606
I named the package `gatsyb-page-helper`. Sounds good to you @KyleAMathews ?

[2019-05-15 08:55] wardpeet commented on #13606
`gatsby-page-utilities` maybe?

Let me drag in @gatsbyjs/ecosystem & @gatsbyjs/core into this bikeshed 😄

[2019-05-15 08:59] wardpeet commented on #14050
I don't see much value over environment values. I also don't know if yargs support it, it's the cli helper we use.

If more people need this we might consider it but I don't think at this point we will

[2019-05-15 09:01] wardpeet commented on #14030
Anything else works, fine? just slug?

[2019-05-15 09:04] wardpeet commented on #14013
@dmarkiewicz let's just not do it then, api tokens are to much hassle when running it. Another way would be to do a get request to the repo and search for the string but that's just to messy so we'll just deal with it 😎

Thanks for looking into it!

[2019-05-15 09:08] wardpeet commented on #14049
Webpack/V8 can load wasm so you should be able to include it. If you're new to gatsby or the frontend space it's going to be hard to get you going.

I would encourage you to read https://www.gatsbyjs.org/tutorial/ to get started with gatsby. Please note that we don't have official electron support. We have one Proof Of Concept https://github.com/ChristopherBiscardi/gatsby-plugin-electron that was

[2019-05-15 09:16] bguyan opened #14053 "Compile fails because of JSX in component import"
I am setting up a POC using gatsby and i need to be sure that i can use my library of imported components,

when i run gatsby up using gatsby new and add my own redux etc all goes well, when i import and install my repo with npm things are still fine. the moment i try to include a component from said library the build fails.

It gives me a number of errors all tied to the JSX in the components
spe

[2019-05-15 09:19] heldrida commented on #13838
Thanks for looking @jasonbahl!

Following up on Jason's answer, we can't variables unless we stick with HTTP Post (as in the Axios example); how would we do the same with gatsby graphql?

I'll check the tests you've done and compare it with my local implementation, the single query is definitely a plus; just not sure why I've been getting errors with the same codebase though and in all the tests y

[2019-05-15 09:19] freiksenet commented on #14030
Unfortunately you can't filter by fields created with `createResolvers`, as they are created last in schema generation step, so those filters won't work for them. If using gatsby-source-graphql, the only way to fix this atm is to have slug inside your Drupal schema.

[2019-05-15 09:23] sidharthachatterjee commented on #14044
Thank you for opening this @esharri2 and for the details @Kevin-Hamilton

We'd love to accept a PR with improved error handling in this case!

[2019-05-15 09:35] awilkins commented on #12272
@angeloashmore Thanks for the response! I'll look forward to it ; my client no doubt will want changes and this will make things much easier.

I'm sure you've noted that due to the way that Prismic does things, it's "slice library" just lets you copy slice type information into your custom type - so the different type names are necessary from the POV that you can actually have radically different

[2019-05-15 09:46] meesern commented on #8148
[code]

Fixed it for me.  `gatsby clean` is the one that made the difference I think.

[2019-05-15 10:10] Kalagounet commented on #10331
Hi @spektakl,

I have exactly the same need as you. I want gatsby-plugin-offline to keep working (for its cache management), and I need to override it for other functionalities like push notifications. I don't want to create my own service worker from scratch because I still need gatsby-plugin-offline.

Did you managed to do it ?

[2019-05-15 10:23] violabg commented on #14030
Yes I can filter by all other field

[2019-05-15 10:30] NavaneethaKrishnanP opened #14054 "Gatsby SSR Not working (Redux and @react/router)"
Tried with Gatsby SSR using Redux and @reach/router, in a project which contains many pages that are displayed with the data got from backend apis. The data is displayed fine in gatsby development mode, but the data is not populating with the html tags when doing view page source of the page from browser (after gatsby build ) - related to server side rendering.

 routes defined using  @reach/route

[2019-05-15 10:33] anamwp opened #14055 "Can not get wp user information of my live site"
While I made this query of my live site it give me error.
I am using `gatsby-source-wordpress` plugin to pull wordpress data
[code]
Its says "message": "Field \"author\" must not have a selection since type \"Int\" has no subfields."
But when I try to fetch local data then it works fine.
Any help appreciated.
Thanks.

[2019-05-15 10:41] violabg commented on #14030
I was looking at https://www.gatsbyjs.org/docs/node-apis/#createResolvers

[code]

but I guess it doesn't work on fields created with createResolvers

[2019-05-15 10:51] #12280 closed

[2019-05-15 11:00] PatrickResponsive commented on #7986
Hey Guys,

Can I grab this issue?  @dantesolis did you make any progress?

[2019-05-15 11:01] PatrickLambert1101 commented on #7986
Hey guys can I grab this issue?

@dantesolis did you make any progress?

[2019-05-15 12:01] dantesolis commented on #7986
@PatrickLambert1101 feel free to take it, cause I've been hammered at work lately and now is just sitting here.  Sorry for the not following through folks.

[2019-05-15 12:05] esharri2 commented on #14044
Thanks @Kevin-Hamilton. So you're read on this is that any time my server returns an error of any kind, I'll just get that blanket 500 error?

[2019-05-15 12:24] lannonbr commented on #14031
After having a conversation with @ChristopherBiscardi I am going to close this given as of Gatsby-mdx 0.6, it now supports shortcodes through MDX's MDXProvider as described in a [blogpost on mdx's blog](https://mdxjs.com/blog/shortcodes/) and globalScope is to be deprecated as gatsby-mdx goes 1.0 in the near future.

[2019-05-15 12:24] #14031 closed

[2019-05-15 12:28] PatrickResponsive commented on #7986
Awesome! Thanks, could someone please assign it to me 👍

[2019-05-15 12:28] PatrickLambert1101 commented on #7986
Awesome! Thanks, could someone please assign it to me

[2019-05-15 12:30] lannonbr commented on #7986
@PatrickLambert1101 So I can't assign you using GitHub's assign feature, but I can mark that this issue has been assigned and they can read through this that you wish to work on this.

[2019-05-15 12:49] pieh commented on #14055
can you use `verboseOutput: true` in wordpress plugin configuration and see if there are any errors when fetching data? It's possible that wordpress won't return list of users/authors if unauthorized requests are being made

[2019-05-15 13:22] FadyQJ commented on #14049
Yes I am exploring things currently. But I explained myself wrong, I have an electron app that uses ReactJS and, in the future, I want to port it as a web app, and I was thinking if it possible using Gatsby that way I can link it to a Drupal back-end. But anyway, thanks for your help!

[2019-05-15 13:23] wardpeet commented on #14049
Oh awesome that's definitely possible! 🎉

[2019-05-15 13:24] tylermcrobert commented on #14032
Interesting. I had a few colleagues test and a few were having the problem, but most were not. Pretty tough to debug

[2019-05-15 13:24] #14032 closed

[2019-05-15 13:48] cameronmcefee opened #14058 "How to Test Javascript Disabled?"
How can I test how Gatsby performs with Javascript disabled, in local development? In [this comment](https://github.com/gatsbyjs/gatsby/issues/9626#issuecomment-435605109), the suggestion is to disable the Javascript preference to ensure service workers are also disabled. This works in production, but does not work when running gatsby in dev mode.

Thanks for your help.

[2019-05-15 13:50] heldrida commented on #13838
I've checked @jasonbahl answer and did pagination and also changed the query in the templates to use non-nullable String! and at the moment is not throwing errors. I'll keep work with these changes and will let know if the error happens again, if not then it was an issue managing memory and the nullable types?! If that's so, sorry about taking your time @jonniebigodes that is a tremendous effort

[2019-05-15 14:18] wardpeet commented on #13457
Should we keep this open @lannonbr, I think @DSchau explained why this isn't in the list. If this refers to some other issue, perhaps close this one and create a new one as this one is created for cypress.

[2019-05-15 14:27] wardpeet commented on #13035
Yes please, thanks for letting us know you resolved it. And sorry for the inconveniences it may have caused

[2019-05-15 14:27] #13035 closed

[2019-05-15 14:28] wardpeet commented on #11837
@pieh I guess this is fixed?

[2019-05-15 14:38] GregBorrelly commented on #14040
I can help with this.

[2019-05-15 14:39] prasanna-munnangi commented on #1754
this isn't working. can some mention the specific package version of gatsby's which worked.

[2019-05-15 14:46] pieh commented on #11837
Yes, it should be fixed. Would be good to verify before closing, so let me do that

[2019-05-15 14:59] mathieucaroff opened #14060 "[graphql] Allow filtering children of node too"
### Summary

Currently, in Gatsby's GraphQL, it is possible to filter children nodes of top-level "all-instances-of-a-type" fileds like "allFile", "allSite", "allPlugin", etc.

For instance, this works:

[code]

What is not possible to do, that should be, is filtering children nodes of other nodes.

### Basic example

The below GraphQl request uses `filter` on `childrenFile`. This is not currently

[2019-05-15 15:06] bguyan commented on #14053
this is an example of where the error is coming up

  Module parse failed: Unexpected token (49:8)
  You may need an appropriate loader to handle this file type.
  |     if (this.state.display) {
  |       return (

  |           <ul className="socials">
  |             {this.props.data.map((subitem, i) => {

[2019-05-15 15:07] mmafe commented on #12848
Fantastic! This fixed my issue. Thank you @bakeruk for fixing the issue and @wardpeet for publishing the new version. Very pleased with the turnaround time on this. 👍

[2019-05-15 15:10] prestonso commented on #14040
Also see #14061 for upcoming content about championing Gatsby in the enterprise (e.g. marketing executives, engineering executives, enterprise architects).

[2019-05-15 15:12] #14053 closed

[2019-05-15 15:23] bguyan commented on #14053
I tried that one at the start. it slightly changes the error output to this

  Error: ./node_modules/my lib name/src/components/DocumentActions/Socials.jsx 49:8
  Module parse failed: Unexpected token (49:8)
  You may need an appropriate loader to handle this file type.
  |     if (this.state.display) {
  |       return (

  |           <ul className="socials">
  |             {this.props.data.map

[2019-05-15 15:42] bguyan commented on #14053
would this be a different issue or is there something really simple i am just missing?

[2019-05-15 15:42] smurrayatwork commented on #12689
Would the code from prefetch.js in the gatsby package cache directory help with this?

[2019-05-15 15:50] heldrida commented on #13838
After more testings and start getting more errors, randomly and difficult to replicate; So, once I decided to run the query directly in the GraphiQL immediately after the error happens.

I got the error response 500:

<img width="567" alt="Screenshot 2019-05-15 at 15 14 08" src="https://user-images.githubusercontent.com/236752/57789667-479bb380-7731-11e9-8140-8b3109d166a4.png">

And immediately th

[2019-05-15 15:52] wardpeet commented on #12640
@Undistraction this one seems fixed right?

[2019-05-15 16:00] gillkyle commented on #14013
Thanks for finishing up the last packages @PriyaBhatt13!

We've now got PRs and issues filed in all the repos listed, thanks for all the help 🥇 I'll be monitoring the issues here to watch as things (hopefully) get merged in.

[2019-05-15 16:01] KyleAMathews opened #14063 "Add typing support for gatsby-source-drupal"
Drupal and Gatsby are commonly used together.

One problem (as faced by other source plugins) is that due to the GraphQL schema being inferred, sometimes fields that are defined in content types on Drupal, don't get created on Gatsby's side as there might not be any Drupal entities with data for that content.

Ideally we would leverage the new schema tooling recently added to Gatsby to directly se

[2019-05-15 16:04] phulin commented on #13979
@me4502, great, thanks so much! I'll keep track of Moocar's PR and run the trie version for now.

[2019-05-15 16:04] #13979 closed

[2019-05-15 16:08] grantglidewell commented on #13909
I just did a quick test and the issue exists in a Contentful/Gatsby cloud stack as well. I will assume it's going to be widespread in any preview scenario.

The question is this, do we want to allow people to generate pages this way and still support preview? I would think so as limiting the use of createPage or any of the SSR APIs would kind of defeat the purpose/ease/philosophy of Gatsby.

Maybe

[2019-05-15 16:37] lannonbr opened #14064 "GitHub Action for running prettier on failing linting tests on Gatsby repo"
## Summary

A small quality-of-life tool that could bring some merit as discussed in the Maintainers Meeting today was to lift the burden about linting code or docs changes when submitting PRs to Gatsby.

The idea that was decided upon was a [GitHub Action](https://github.com/features/actions) that would listen for failing lint checks and then automatically run prettier and make a commit to resolv

[2019-05-15 16:38] lannonbr commented on #13667
After some discussion, @sidharthachatterjee and I are going to have a pair programming session later this week to try tackling this issue.

[2019-05-15 16:44] lannonbr commented on #13457
Yeah I understand that reasoning that it is not technically a "plugin" persay, but more so do we want to keep the page around and if so what should we do for these "non-plugins"

[2019-05-15 17:27] #13301 closed

[2019-05-15 17:28] ChristopherBiscardi commented on #14003
[this PR](https://github.com/gatsbyjs/gatsby/commit/edd6cb1f28ba550b74987a77a9f1eb25dd5138f8) handled themes directories for builds. As you've said, we need to update `syncStaticDir` for development.

[2019-05-15 17:39] mrispoli24 commented on #11747
I figured out what was going on in the above case. I have a series of image files in a `/static` directory that are divided by folders. In my template I had the wrong case for a character so `/static/Folder` instead of `/static/folder`. In development and on local building this ran just fine, upon deployment to github this rightly broke. Not sure exactly how gatsby builds things under the hood but

[2019-05-15 17:43] jasonbahl commented on #13425
I've got a lot of folks that are running into issues using WPGraphQL with Gatsby, so I want to make sure this doesn't get closed because it's stale, but I'm not sure the best path forward.

Probably would be good to get some folks together and chat through some ideas.

I've talked with @pieh a bit and @lightstrike but we don't have any concrete plans for the best way forward here.

I think ultimat

[2019-05-15 18:13] anamwp commented on #14055
Yes. I use .  When I run `gatsby develop` then it build properly. But it graphql it display only user Id . Nothing else.

[2019-05-15 18:59] Undistraction commented on #12640
@wardpeet unfortunately not. Gatsby doesn't provide a hook that is early enough to add the import so that it is expanded prior to all plugins. Using `gatsby-browser.js` is no good as it can load the Polyfills after plugins' own `gatsby-browser.js` files were loaded. One example of where this is problematic is with React and React DOM which can end up with problens relating to the symbol polyfill.

[2019-05-15 19:15] jonnybot0 commented on #8479
I think we're going to need to open a new issue to get attention on this.

[2019-05-15 19:23] jonnybot0 opened #14067 "Links to static remain unprefixed even with --prefix-paths flag enabled - clone of #8479"
## Description

Discovered this one the hard way tonight - it looks like pathPrefix is not honored for links to files in the static directory as of v2.0.6.

NOTE (this is a clone of https://github.com/gatsbyjs/gatsby/issues/8479, which was closed as "could not reproduce" some time ago, but can be reproduced now)

### Steps to reproduce

Follow the steps in the README.md file at https://github.com/

[2019-05-15 19:23] jonnybot0 commented on #8479
See https://github.com/gatsbyjs/gatsby/issues/14067

[2019-05-15 20:04] wodenx opened #14068 "Unable to find plugin when index.js is not at package root"
## Description

Using lerna - when index.js is not at package root, but is correctly identified by "main" key in package.json, `gatsby develop` fails to find the theme.

Note - I found #5559 which suggests a workaround is to place compiled assets in the root, but am wondering if this is really necessary.  Comments from @ChristopherBiscardi on #13707  imply that use of the "main" key is supported n

[2019-05-15 20:42] skyzadev commented on #11665
I am experiencing the same issue.

Currently busy with the gatsby tutorials using VS CODE on Windows. Running gatsby and starting a develop server works great until I edit a file with a change which breaks the build. It seems that once you make a breaking change while the site is running it freezes. I also cannot kill the server using ctrl + c in the terminal, I have to physically kill the termina

[2019-05-15 20:49] idesignpixels commented on #11160
If anybody is interested I wrote a blog post on this [here](https://www.idesignpixels.com/posts/adsense-in-gatsby)

[2019-05-15 20:50] idesignpixels commented on #632
If anybody is interested I wrote a blog post on this [here](https://www.idesignpixels.com/posts/adsense-in-gatsby)

[2019-05-15 20:50] wardpeet commented on #12640
What about using https://www.gatsbyjs.org/packages/gatsby-plugin-compile-es6-packages/ would this work for you in the meantime?

[2019-05-15 20:55] e0ipso commented on #14063
@KyleAMathews I think that is a great idea. However bear in mind that the modules that power that feature are not :100: stable.

The heart of the schema generation is the Schemata module, which generates the JSON Schema for the JSON:API responses. The other part is the OpenAPI module, which leverages the _data model schema_ and produces an Open API document.

I recommend you to apply the same patc

[2019-05-15 20:57] duongthienlee commented on #11406
What would if happen on Netlify build ? how do I extend watchers limit ?

[2019-05-15 21:03] Undistraction commented on #12640
@wardpeet Thanks for the suggestion. That is a viable approach if you know which packages need to be transpiled, but I don't think it's very scalable, especially when it comes to nested dependencies.

I've ended up adding all the polyfills that would have been added by using `entry` to a local plugin's `gatsby-browser.js` which I include first of all the plugins in `gatsby-config.js`. That way I c

[2019-05-15 21:08] wardpeet commented on #12640
@Undistraction it's on our list to experiment with babel compiling node_modules. We just want to make sure it doesn't slow down perf.

[2019-05-15 21:21] GregBorrelly commented on #14040
thank you @prestonso, I'll start writing

[2019-05-15 22:10] marcysutton commented on #7438
Gatsby v2 has long been released, has anyone tried using Bulma with it? Hopefully it's a simple import. But we'd love to hear how it worked for you!

[2019-05-15 22:22] gillkyle commented on #14003
So it sounds like these lines basically just need to appear again inside of the `syncStaticDir` folder as well to be keeping files in the `public` directory up to date with what's happening during `gatsby develop`?

https://github.com/gatsbyjs/gatsby/blob/d4b60f2b900a59b70dd2d97cf14125c77c1de4df/packages/gatsby/src/utils/get-static-dir.js#L13-L25

[2019-05-16 00:00] #13537 closed

[2019-05-16 01:12] trevoradams42 commented on #7862
I had the same issue.

Downgrading my `core-js` version to `2.6.5` (dev-dependency) fixed it.

[2019-05-16 01:18] ChristopherBiscardi commented on #14003
@gillkyle basically, yes. We also need to make sure the order of copying over is preserved though. So if a file changes and a later package in the theme order has a file named the same in the same location, the last file wins.

[2019-05-16 01:21] ChristopherBiscardi commented on #14068
This is exactly the same issue as would happen in #5559 since themes do not change how plugins work and the theme is being loaded as a plugin when this occurs.

[2019-05-16 01:28] ChristopherBiscardi commented on #13707
@adrw could you add run/install instructions there as well? I'm unfamiliar with rush and how it works.

[2019-05-16 02:23] pieh commented on #14064
I didn't want to derail meeting, but I don't think this should be totally automatic on failing lint. I've worked with couple repositories like that and it was infuriating (and confusing) that I couldn't (not forcefully) push to my branch because some automatic formatting tool pushed to my branch. This will probably work very nice for docs contribution made from GitHub UI, but will be very frustrat

[2019-05-16 02:28] lannonbr commented on #14064
Thanks on the input @pieh. Yeah I think a sweetspot between automatic and manual is where these kinds of workflows should belong. Having control of invoking an action with a button press or some comment would be beneficial to have. We can play around with different implementations and see what sticks

[2019-05-16 02:35] overlordofmu commented on #11961
@jedrichards, I also work at Netlify and, yes, this is exactly correct. Because of our cache invalidation, the cache busting URLs are not only optional - they are an anti-pattern when site is hosted with Netlify.

Now, the hash in the filename is a great idea for many places where Gatsby sites are hosted, but at Netlify it is "reinventing the wheel" so to speak.

At Netlify, we recommend **not** i

[2019-05-16 02:35] lannonbr commented on #14058
So this is all dependent on your web browser you are using.

## Chrome

On Google's Web Fundamentals site, they have a page describing how to [Turn off JS in Chrome's Dev Tools](https://developers.google.com/web/tools/chrome-devtools/javascript/disable)

## Firefox

There's a Firefox extension convienently called [Disable JavaScript](https://addons.mozilla.org/en-US/firefox/addon/disable-javascrip

[2019-05-16 02:58] StevensCol commented on #13983
I've found that in `http://localhost:8000/___graphql` :)

[2019-05-16 02:58] #13983 closed

[2019-05-16 03:19] cameronmcefee commented on #14058
Unfortunately, no. I understand how to disable Javascript, and that works when our site is deployed. However, if I'm running the site locally and do this, this is all I see:

<img width="777" alt="Screen Shot 2019-05-15 at 8 17 12 PM" src="https://user-images.githubusercontent.com/72919/57824043-90159a00-774e-11e9-9fbc-93038da6448c.png">

The markup is just a noscript tag.

[2019-05-16 03:21] DSchau commented on #14058
@cameronmcefee SSR is a build-time optimization, not a develop-time optimization.

In other words, we don't statically render to HTML at _develop time_ because it's extra overhead and a slower experience that a user wouldn't generally need. If you want to test the non-JS experience, you can use:

[code]

and open up localhost:9000.

Hope this helps, going to close as answered; thanks!

[2019-05-16 03:21] #14058 closed

[2019-05-16 03:26] cameronmcefee commented on #14058
Ah, that makes sense. I appreciate the explanation.

[2019-05-16 04:32] back-2-95 commented on #10020
@dcorb Hi, you mention you hacked something to get this working? Can you share an example on how?

And do I understand correctly: if all are translated, all goes good?

[2019-05-16 05:01] back-2-95 commented on #13517
Hello, looking into these issues with multilingual Drupal (for reference almost all our Drupal projects are multilingual).

In #10020 there was proposed solution: https://github.com/gatsbyjs/gatsby/issues/10020#issuecomment-440484969

But how to do that? Can I somehow "patch" gatsby-source-drupal ?

Or can I modify jsonapi output for creating language-aware-id for gatsby-source-drupal?

[2019-05-16 05:11] anamwp commented on #14055
One more thing is when I run `gatsby develop`
I got
`Path: /wp-json/wp/v2/users?per_page=100&page=1
The server response was "403 Forbidden"
Fetching the wordpress__wp_users took: 7288.589ms`
this message inside build log.
But I manually get single user information through browser like `/wp-json/wp/v2/users/40`
This message does not show while I fetch data from my local wordpress site.
It shows in

[2019-05-16 05:43] Daniel15 commented on #13699
If you really do want large files in a Git repo (instead of using something like Git LFS), another option is to store the large assets in a separate repo and pull it in as a submodule. Then at least people that don't want/need the static files can just avoid updating the submodules when pulling.

[2019-05-16 06:11] orshick commented on #14055
Is your site hosted on wordpress.com? Sounds like you're having the same issue as  #13983

[2019-05-16 06:37] freiksenet commented on #13425
@jasonbahl This is definitely on my short-term roadmap.

[2019-05-16 07:41] polarathene opened #14073 "[BUG]: gatsby-image cache key is not reliable if viewport resizes"
## Description

`gatsby-image` has a run-time cache that is separate from the browsers own image cache. This cache tracks what images are loaded by assigning their `src` value in the fluid/fixed metadata as their cache key for lookup.

This key is always the same despite multiple `src` values an image can represent(sizes and formats, and in future - [variants](https://github.com/gatsbyjs/gatsby/pu

[2019-05-16 07:51] ilomon10 opened #14074 "Error while install gatsby-cli"
## Description

Can't install Gatsby CLI step [Quick Start Docs](https://www.gatsbyjs.org/docs/quick-start/)

### Steps to reproduce

[code]

### Expected result

gatsby-cli succesfully installed.

### Actual result

[code]

### Environment
[code]

[2019-05-16 07:54] freiksenet commented on #12272
Published `gatsby@2.5.0`.

[2019-05-16 07:55] polarathene commented on #14073
Disable cache when attempting to reproduce. If the higher resolution image is available in the image cache, and you shrink the viewport to refresh where a smaller image would be retrieved, that higher quality image is used instead(by Chrome at least).

[2019-05-16 08:08] freiksenet commented on #14074
I couldn't reproduce locally with exact same npm/node versions, however I have a feeling it might be a permission problem for the config file. Are you running this from root user? Your nvm path seems to suggest that.

[2019-05-16 08:18] anamwp commented on #14055
Nope. I got the issue. It was my server issue.
My server does not let me fetch the  users data while wp source plugin try to fetch.
I update my server security issue and now it fixed.
Thanks.

[2019-05-16 08:40] lexaurin commented on #11104
This bug is very annoying. Spent hours figuring out why simple proxy configuration works on external graphql server but not on local one. Can we please reopen this @jgoux ?

[2019-05-16 08:53] bguyan commented on #14053
Hey, would anyone be able to shed some light or this or do you think i need to open a new issue to deal with it?

[2019-05-16 09:00] freiksenet commented on #14074
Ok, we repro'd it. This indeed happens when you have nvm installed as root. A workaround for that would be to run `npm install` with `--unsafe-perm` flag. See [npm docs](https://docs.npmjs.com/misc/config#unsafe-perm).

However, we do not recommend such setups, as this opens a vector of attack. I advice you to install nvm as a regular, non-root user.

[2019-05-16 09:00] #14074 closed

[2019-05-16 09:22] freiksenet commented on #14060
Hi! That's a good idea. If you want to make a PR, here are some pointers.

Children/child fields are added in [this function](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/schema.js#L517)

Filter parameters are created in [this function)[https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/schema.js#L476).

Filter types are cached, so you can safely

[2019-05-16 09:22] #14055 closed

[2019-05-16 09:22] emman24 opened #14075 "URL FORMATTING FROM DYNAMIC DATA"
Good is there any chance that I can do this https://website.com/profile?id=100 to  https://website.com/user-name  so basically i just getting the data based on the id its from our API that hosted on AWS

[2019-05-16 09:24] ppsirius opened #14076 "Download images from Prismic to use in gatsby-image"
I use gatsby-source-prismic-graphql and want to use gatsby-image. Plugin from prismic doesn't support that feature so I thinking about workaround.
I want to download files and then try to use plugin form images.
I have that query in page component (but also want to work with templates):

[code]

I check gatsby-plugin-remote-images but I must give there nodeType but I don't have few of them, not on

[2019-05-16 09:25] freiksenet commented on #14054
Thank you for the report, I've fixed the formatting so it's easier to read.

Are backticks around Root component Router intentional or just an accident from formatting?

[2019-05-16 10:14] kuworking commented on #2392
This is indeed problematic:
I'm re-using a `core theme` to be able to re-use it with many `child themes`, everything around the idea of writing posts in `mdx`.

__This is an expected use case I would say__. Then now, with my __FORTH__ `child theme` I want to expand the `mdx` `frontmatter` post files I was using so far

So until now I was using a `frontmatter` like

[code]

which was processed by t

[2019-05-16 11:02] back-2-95 commented on #13517
@pieh I could arrange public API exposed for testing this...

[2019-05-16 12:04] freiksenet commented on #14048
Are you testing this in production? Those scripts don't inject anything in development. Try checking if they are there with `gatsby build`

[2019-05-16 12:07] micksatana commented on #1929
this issue is coming back. my `gatsby info` is
[code]

[2019-05-16 12:35] freiksenet commented on #14047
Hi @dustinhorton!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug `it.` In particular, I wonder if you could share your website code so that we could deb

[2019-05-16 12:40] adrw commented on #13707
@ChristopherBiscardi Added them to the repo!

[2019-05-16 12:42] freiksenet commented on #13968
Hi!

Thank you for the report! I agree that google-tag-manager should be changed to be more in line with how gtag plugin handles it. Do you want to make a PR to gatsby to fix that? We would really appreciate that.

Thank you! :purple_heart:

[2019-05-16 12:44] jessepinho opened #14077 "[gatsby-source-contentful] Filtering by locale simply uses fallback values"
## Description

I can't figure out how to make a GraphQL query for articles in just a particular locale, because the fallback behavior seems to result in nodes being created for locales even though those nodes shouldn't exist yet.

Let's say I want to get all Portuguese articles:
[code]

This query returns all my articles, _including_ English ones. But the `node_locale` value is still set to `pt`

[2019-05-16 12:47] jessepinho commented on #14077
By the way, this issue was raised in #4531 by @anjawaldbauer. I believe it's the same issue, actually.

[2019-05-16 12:48] CanRau commented on #10250
Thanks for reminding me gatsbot, I think this one can be closed as final discussion happens over at the PR https://github.com/gatsbyjs/gatsby/pull/13471

[2019-05-16 12:48] #10250 closed

[2019-05-16 12:53] gvocale opened #14078 "Build gets stuck at Generating image thumbnails / Update schema on large sites"
I am querying `allImageSharp` in a project with 300 pages and 2000 images in gatsby-node.
During `gatsby build` or `gatsby develop`, the build process freezes when generating thumbnail 20~ or so
[code]
I also have the same query called in a static query on a page. If I remove the query from gatsby-node and use only the one in the page, the thumbnails generation correctly in around 600 seconds
[cod

[2019-05-16 12:57] freiksenet commented on #14008
You can use graphql in createPages, check out [this guide](https://www.gatsbyjs.org/docs/programmatically-create-pages-from-data/).

[2019-05-16 13:07] freiksenet commented on #13971
Hi!

Thank you for taking time to write this issue! This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/13975, so I'll close it.

[2019-05-16 13:07] #13971 closed

[2019-05-16 13:08] freiksenet commented on #13975
Thank you for taking time to make this issue! Do you want to make a PR to Gatsby to fix it? We would really appreciate that.

[2019-05-16 13:10] back-2-95 commented on #13517
Linking also a related comment from Drupal.org issue https://www.drupal.org/project/jsonapi/issues/2794431#comment-12928528

[2019-05-16 13:14] #14075 closed

[2019-05-16 13:17] federicobadini opened #14079 "[Gatsby-source-shopify] - Product in collections are limited to 250"
## Description

Gatsby-source-shopify - Products in collections gets truncated at 250

### Steps to reproduce

Try to fetch a shopify collection with more than 250 products

### Expected result

I have inspected the library code and I agree on almost every default that has been set. It's really uncommon to have for instance more than 250 photos for a product.
However it is very common to have much

[2019-05-16 13:53] harshalpatel91 commented on #14008
@freiksenet, thanks for looking into it.

I have tried createPages api, but in above case I wanted to change the routes/path of the pages which are generate by gatsby core and wanted to create dynamic routes by running graphql query inside onCreatePage api.

[2019-05-16 13:58] wodenx commented on #14068
I see.  So then the workaround suggested in #5559 is the only solution?  That seems more palatable for a plugin than for a theme since a theme is likely to have many more files.  Requiring that these all transpile to the package root means a complicated .gitignore to exclude all the artifacts.

[2019-05-16 15:10] daydream05 commented on #14076
You would need to use [gatsby-transformer-sharp](https://www.gatsbyjs.org/packages/gatsby-transformer-sharp/?=transform) so you can use gatsby-image. On your query it would look something like this:

[code]

[2019-05-16 15:54] ppsirius commented on #14076
@daydream05 gatsby-image under the hood use gatsby-transformer-sharp and this plugin also not supported.

[2019-05-16 16:12] sbardian opened #14081 "Transformer plugin option for limiting transforms to specific nodes"
## Summary

See closed PR #11940 for the discussion on this issue.

This started as a PR to add the plugin option to the `gatsby-transformer-json` plugin, but should probably be a global/gatsby core plugin option for all transformer plugins.

### Basic example
NOTE: `this example is from the PR when it was being applied to just the gatsby-transformer-json plugin.  I'm not sure what a global/gatsby

[2019-05-16 16:14] JoshElias commented on #2787
I like keeping files local to the components that use them. I have test files and CSS-In-JS files with some of my pages. Adding the following ignore to the gatsby-plugin-page-creator does nothing.
[code]

[2019-05-16 16:15] daydream05 commented on #14076
@ppsirius Have you tried it? This is how it's usually done with sources that doesn't have their own image processing. You pull from the source, and you apply transformer sharp on it. If you look at [wordpress source plugin](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-source-wordpress), this is how they query it as well.

I also use Prismic for one of my sites, and looking at my

[2019-05-16 16:19] jonniebigodes commented on #13838
@jasonbahl i suspected as much that you would take that route, from my understanding is a good practice to limit the items fetched so that the server doesn't get hammered, not only by the data it has to fetch but also the transformation that it has to do and return it. @heldrida glad that you got it to work, i think that it was a good idea to ramp up the php memory to 256, i don't know about your

[2019-05-16 16:21] JoshElias commented on #12937
I don't understand why you couldn't add an option to override Gatsby's default page builder. I guess I'll also have to create another directory.

[2019-05-16 16:41] shannonbux opened #14084 "accept multiple url variants for graphiql IDE"
## Summary

In usability tests, we discovered that when people type the wrong thing in the browser (e.g. “localhost:8000/_ _ graphiql), we could either redirect to "correct" one or just support multiple different cases. This will help them spend less time looking for the right link.

### Basic example
I'm not sure what the best practice is here. Here are some ideas:

Support various number of unde

[2019-05-16 16:52] shannonbux opened #14085 "with `gatsby new`, users have options to select one of three default starters or visit the starter library"
## Summary

Create-react-app has a helpful flow when starting new projects. Ideas: open starter library or give options of starters in the CLI.

### Basic example

[code]
[code]

### Motivation

This makes the choice between starters more discoverable and sets a good precedence when we expand a list of ways to start a Gatsby project in the future.

[2019-05-16 16:54] shannonbux commented on #13513
Another note: Another option is for `gatsby develop` to be interactive (like `jest --watch`) where you can use commands while it's running and we could have command to open browser with development site / graphiql as part of the available commands. With ink we can make sure we don't add too much info at the bottom.

[2019-05-16 17:15] phulin commented on #13975
I'm not sure this problem can be resolved without an update to reach/router, but would be curious if anyone has thoughts. The fundamental issue is that reach/router doesn't expect gatsby to call navigate before it mounts. We could maybe call replaceState ourselves before the router gets created and encapsulates the history object - I think we can't afterwards. But that would have to be at a differ

[2019-05-16 18:48] brimtown commented on #13164
Bumping to make this unstale, just pushed some latest changes over at #13395 .

[2019-05-16 18:49] wardpeet commented on #13164
sorry to kepe you waiting i'll review tomorrow @brimtown

[2019-05-16 19:00] maciekgrzybek commented on #14015
Hey @pieh , cheers for that. I've installed windows-build-tools and that fixed it.

[2019-05-16 19:00] #14015 closed

[2019-05-16 19:19] #13201 closed

[2019-05-16 19:33] KyleAMathews opened #14089 "Lazy download images for source plugins"
A lot of source plugins use createRemoteFileNode to download images and make them available to process locally. E.g. a CMS allows a user to upload images and the developer wants to make sure they're minimized and that the site is loading optimally sized thumbnails.

The problem with this is that it can mean that hooking up Gatsby to e.g. a wordpress site can get stalled as 1000s of images need to

[2019-05-16 20:12] jonniebigodes commented on #10841
Adding a little more context on my previous comment, looks like my testing methodology was a little biased, i was only focusing on the image download, adding image injection via graphql breaks the build all together, either in development mode or production mode. Using the `onPreBoostrap`with a recursive function to download the files  without any reference to graphql will get me a 0% image loss.

[2019-05-16 20:20] sidharthachatterjee commented on #13201
Published in `gatsby-image@2.1.0`

[2019-05-16 21:01] prestonso opened #14093 "[bug] [www] gatsbyjs.org links do not have correct destination on LinkedIn social share"
This is a bug that impacts all gatsbyjs.org links that are shared on the LinkedIn social network.

## Description

When gatsbyjs.org links are posted on LinkedIn for sharing, only "How Gatsby works" — the title of the home page — appears, and when a miniature preview is clicked on a published LinkedIn post, it leads to the gatsbyjs.org home page.

### Steps to reproduce

1. Share any gatsbyjs.org

[2019-05-16 21:03] pieh commented on #14084
Some tips on how to implement this:
We need to update https://github.com/gatsbyjs/gatsby/blob/0b565765a8291f1525e86f17e1d8bedc774a7782/packages/gatsby/src/commands/develop.js#L126-L153

to handle variants mentioned by Shannon in basic example.

To do this we can update paths that our endpoint handle. Express server allow to use path patterns or regular expressions ( https://expressjs.com/en/api.ht

[2019-05-16 21:53] Spiderpig86 commented on #12272
Hello everyone. I have updated to Gatsby `2.5.0` but seem to run into the same type conflicts as @angeloashmore between **graphql-compose** and **gatsby** with the JSON type. Is there any simple way to resolve this conflict?

I am upgrading from Gatsby 1.9.x if that helps. Logs are below:

[code]

[2019-05-16 22:45] federicobadini commented on #11961
We too are experiencing long deploy times on netlify due to this.
Our 5k pages site takes more than 15 minutes for processing and uploading.
We are following #12066 by @asilgag hoping for some news on this.```

[2019-05-16 23:34] jlengstorf opened #14094 "[themes] Write a happy path for first-time developers: use themes to set up a blog with MDX"
As part of getting themes to a stable launch, we need to write a tutorial showing how to use Gatsby with themes.

## Proposed table of contents

- [ ] Create a new blog with the Gatsby CLI
- [ ] Install `gatsby-theme-blog` (blocked on finishing @amberleyromo’s darklight theme)
- [ ] Write a blog post
- [ ] Use component shadowing to override design tokens
- [ ] Create a custom component and use it

[2019-05-17 00:19] jlengstorf opened #14095 "[docs] Define custom MDX components needed for the docs"
As soon as gatsbyjs/gatsby#14071 is merged, we’ll be able to add custom MDX shortcodes to improve the docs authoring experience and the readability of the docs.

@marcysutton is collecting requirements for what we need to create — this issue tracks that work and will eventually evolve into an umbrella issue tracking progress on the shortcodes.

[2019-05-17 00:47] shannonbux commented on #14017
@jlengstorf re. the homepage, I realized my concerns about the homepage may stem from just not seeing a sketch of what this project might include in the redesign. I for sure support all the goals under the homepage heading in this issue; I just don't know how to solve those things by redesigning the homepage.

3 reasons for this concern:
1) If clicking "get started" is still the CTA on homepage, a

[2019-05-17 01:30] jlengstorf commented on #14017
@shannonbux I'd agree with all of that. I don't think we'll be adding any additional CTAs — we're just making sure we have the right info on the home page. Without making any decisions for @fk, I'd assume that the "community" and "Cloud" goals will be met with a combination of top nav and small sections below the fold that give a thread to tug at.

[2019-05-17 01:46] jrusso1020 opened #14098 "Gatsby is serving js instead of html"
## Description

I'm not seeing my page's html when I view the source code of my website in development or after building the static files and serving it locally. I can see the `.html` files in the public directory and in there they look fine. But when I actually visit the pages it doesn't look like it's using those `.html` files.

I've seen posts https://github.com/gatsbyjs/gatsby/issues/13611 and

[2019-05-17 01:53] KyleAMathews commented on #14093
https://www.linkedin.com/post-inspector/inspect/https:%2F%2Fwww.gatsbyjs.org%2Fblog%2F2019-05-15-enterprise-gatsby-how-to-reduce-your-digital-total-cost-of-ownership-with-gatsby%2F

[2019-05-17 01:57] KyleAMathews commented on #14093
It looks like it's reading the Canonical URL wrong which is odd as it's set correctly in the HTML
<img width="518" alt="Screenshot 2019-05-16 18 54 14" src="https://user-images.githubusercontent.com/71047/57898085-5f943580-780c-11e9-9ce3-f031746b8fd3.png">

[2019-05-17 02:01] KyleAMathews commented on #13606
`gatsby-page-utils` sounds nice! :-D

Thanks for jumping on this @frinyvonnick !

[2019-05-17 02:05] KyleAMathews commented on #13996
Nice! @shannonbux added a similar issue @ https://github.com/gatsbyjs/gatsby/issues/14085

@gillkyle is working on a PR exploring this direction https://github.com/gatsbyjs/gatsby/issues/14085

I agree that we should move towards something like vue-cli — more research and thinking definitely needed. I think a step-by-step approach is good. There's a long list of things we want to improve on our CL

[2019-05-17 02:33] jlengstorf opened #14099 "[themes] Write a tutorial for authoring themes"
Part of getting themes to a stable launch includes writing a tutorial on how to author themes.

## Proposed table of contents

- [ ] Setting up your environment for theme development (i.e. Yarn workspaces)
- [ ] Bare essentials for a theme
- [ ] How to install the theme in a site for local development
- [ ] How to apply config options from the site to the theme
- [ ] Configure the theme to use MDX

[2019-05-17 02:35] thefonso commented on #4001
This is maddening, sad, and hilarious at the same time. All these new technologies to make our lives "so much better" and they always seem to fail at doing a basic task of the old tech. (facepalm). Does anyone know of any...any...way in gatsby to retrieve a single asset using the ID?

[2019-05-17 02:44] jlengstorf opened #14100 "[docs] [workflows] Set up Gatsby Preview with Contentful"
TODO: add the full workflow evaluation per #13708

[2019-05-17 02:45] lsguillory opened #14101 "CSS/SCSS"
## Description
Doing a Gatsby tutorial by Andrew Mead. After creating the index.css file, just showing how to style with Gatsby, the program through an error : Invalid CSS after "{": expected 1 selector or at-rule, was "{"
The other info above:
./src/styles/index.scss (./node_modules/css-loader??ref--13-oneOf-1-1!./node_modules/postcss-loader/lib??postcss-3!./node_modules/sass-loader/lib/loader.js

[2019-05-17 02:49] pieh opened #14102 "[schema-customization] fields defined with sanitzed names don't resolve to unsanitized name in source data"
## Description

If node data has field name that can't be used in graphql (i.e. containing `?`, `(`, `)` characters etc), there is no quick way to define type without explicitly adding resolver that will pick from source using unsanitized field name. This is regression / behaviour change from gatsby@<2.5.0

### Steps to reproduce

https://github.com/pieh/schema-250-sanitized-scalars

install deps

[2019-05-17 03:34] FraserThompson opened #14103 "Add ability to adjust gatsby-image lazy loading threshold"
## Summary

I would like to be able to change the "threshold" before an image is loaded. So instead of loading the image as soon as it enters the viewport, I'd like this to be configurable so more images are loaded.

### Motivation

I use gatsby-image in an image gallery which can have up to 60 or so photos, displayed in a single column on mobile.

Lazy loading is obviously essential to ensure all

[2019-05-17 03:38] micksatana commented on #8560
Found this issue too. By my case is a simple mistake.
I was using
[code]
When I changed to use Gatsby Link, it works
[code]

[2019-05-17 04:07] Jared-Dev commented on #14101
If that file is a screenshot of your actual file then it appears that you are missing an identifier that the rule should apply to. I.e.

[code]

[2019-05-17 04:13] lsguillory commented on #14101
Thanks, I just saw the asterisk. You're great for not making me feel totally incompetent. I appreciate. it.

[2019-05-17 04:13] #14101 closed

[2019-05-17 04:18] ChristopherBiscardi commented on #14099
I think the first three options (or at least the latter two) can be encapsulated in telling people to use a `gatsby-starter-theme` like https://github.com/ChristopherBiscardi/gatsby-starter-theme and explaining what files exist and why. We can move that repo into the Gatsby repo as a starter.

Should best practices exist in the tutorial at all? or should they be an entirely separate docs page.

It

[2019-05-17 04:21] ChristopherBiscardi commented on #14094
Can we add the notes theme in here too to show composition? or is that too much.

[2019-05-17 04:32] Jared-Dev commented on #14101
@lsguillory no worries, little stuff like that is easy to miss!

[2019-05-17 04:43] gvocale commented on #14078
I restructured my gatsby-node.js as follows. Seems that 'createPages' starts before my allImageSharp `galleryQuery` is resolved. When finally `galleryQuery` is resolved, generating image thumbnails crushes. It usually happens around image ~20. My allImageSharp query `galleryQuery`, is querying around 2000 images.

I suppose if `createPages` would wait till galleryQuery resolves, probably it would

[2019-05-17 05:28] jonniebigodes commented on #14078
@gvocale can you share a [reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) so that the issue can be looked at? And find a solution or an alternative to your issue?

[2019-05-17 05:33] e0ipso commented on #14063
I also had this issue when working with ContentaJS (a node.js proxy for Contenta CMS/Drupal). This was the solution: https://git.drupalcode.org/project/contentajs/blob/8.x-1.x/src/Plugin/jsonrpc/Method/JsonApiMetadata.php

[2019-05-17 06:06] vstanyshevskyy opened #14105 "gatsby-plugin-sharp: Unknown argument 'fit'"
## Description

I'm working on the Gatsby.js website and would like to setup images pre-processing with gatsby-image and gatsby-plugin-sharp.
The problem is that the images I use have different aspect rates and different dimensions. What I'm trying to achive is square fluid thumbnails generated automatically. So far I managed to use fluid in my GraphQL queries, but unfortunately it crops the image

[2019-05-17 06:11] #13380 closed

[2019-05-17 06:20] stofolus commented on #11524
The suggestions above doesn't seem to work for me. I'm only seeing this for iOS users and only sporadically. I can't seem to replicate it and thus it's hard to figure out what might be wrong. Any tips on how to figure out what the underlying problem might be?

[2019-05-17 06:24] sw-yx opened #14107 "gatsby theme docs out of date"
## Description

https://www.gatsbyjs.org/docs/themes/getting-started/ references https://github.com/gatsbyjs/gatsby-starter-blog-theme

this repo doesnt exist. i'm not sure what the correct one is.

[2019-05-17 06:27] freiksenet commented on #12272
@Spiderpig86 Do you have this issue when upgrading to 2.4? I wonder if you could provide a reproduction project (or code to your app).

[2019-05-17 06:36] DamengRandom commented on #547
Hi alesanchezr, its not working ...

[2019-05-17 06:40] DamengRandom commented on #547
reference link: https://www.gatsbyjs.org/docs/gatsby-cli/#develop

[2019-05-17 07:22] luchoster commented on #13695
Hey @Mohammed-Alama sorry, I just saw this again.
You have your configuration wrong for wordpress:
`baseUrl: "gatsby-wordpress.local/wp-json"`
it should be:
`baseUrl: "gatsby-wordpress.local"`

check that again and let me know if you different results.

[2019-05-17 07:50] viccrubs opened #14109 "[gatsby-plugin-postcss] Support extension names other than .css"
## Summary

For [gatsby-plugin-postcss](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-postcss), add support for resolving files with extension name other than `.css`, with which users can specify what files should be processed by this plugin.

### Basic example

Add a new option `extensions` in plugin's options.

`[".css"]` as default for compatibility

[code]

### Motivati

[2019-05-17 08:00] LekoArts commented on #14098
Hi, thanks for opening the issue!

The development build is not optimized and hence you won't see HTML there.

#10322 already mentioned why you're seeing this behavior and it was since then also added to the README 👍
https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline#empty-view-source-and-seo

Closing as answered :)

[2019-05-17 08:00] #14098 closed

[2019-05-17 09:09] stefanprobst commented on #12832
With gatsby v2.5 the following should now work:
[code]

[2019-05-17 09:16] LekoArts commented on #14076
@daydream05 He is using the GraphQL plugin, not the normal source plugin :)

@freiksenet Could you chime in here and maybe answer if this is possible / when this is possible?

[2019-05-17 09:43] macs91 commented on #12066
Is there any progress on this issue? Our builds for about 4k pages takes more than 20 mins

[2019-05-17 09:48] federicobadini commented on #12066
Just had a chat with Netlify support team. Our deployment time exceeds 25 minutes despite build time is only 4 to 5 minutes. From their side they are not aware of any other optimizations possible at this time.
This is quite blocking for our clients.

@KyleAMathews do you have an ETA for this? Or could we contribute somehow to investigate / speed up this?

[2019-05-17 09:55] wardpeet commented on #5553
@TuckerWhitehouse still an issue? I couldn't reproduce it. I just followed https://www.gatsbyjs.org/docs/typography-js/

[2019-05-17 10:12] bguyan commented on #14053
OK so after a LOT of trial and error this was a really annoying chain of problems, for anyone stumbling into this after the fact here is a rundown of how i sorted this:

so, DSchau was partly correct, the problem was in part tied to the ES6 compiling.
when i cleared that i immediately hit other problems based on how i was importing the files that was just tied to my own code.. finally once i had s

[2019-05-17 11:33] freiksenet commented on #14102
Fixed in `2.15.1`.

[2019-05-17 11:33] #14102 closed

[2019-05-17 12:04] thomascorthouts commented on #14084
@pieh Can I pick this one?

[2019-05-17 12:47] m-allanson commented on #14109
Thanks for opening this issue @viccrubs! Today I learned about using `.pcss` as an extension for PostCSS files :)

I don't think we've had this feature requested before, so I'm going to document how you can create your own version of `gatsby-plugin-postcss` that will do this. Then let's leave this issue open for a bit to see if this is functionality other people would like too, if so we can consid

[2019-05-17 12:50] gvocale commented on #14078
@jonniebigodes sure, here it is https://github.com/gvocale/le-mie-lampade-v2/tree/build-issue-reproduction

[2019-05-17 13:06] m-allanson commented on #14107
Thanks @sw-yx! I think this should be pointing to the theme here: https://github.com/gatsbyjs/gatsby/tree/master/themes/gatsby-theme-blog

However the Gatsby cli needs a path to a repo, not a directory within a repo. For the official starters we automatically mirror them [from the gatsby monorepo](https://github.com/gatsbyjs/gatsby/tree/master/starters) to [their own repos](https://github.com/gats

[2019-05-17 13:12] lannonbr commented on #13667
@sidharthachatterjee and I worked with this and figured it wasn't a Gatsby issue but further upstream, so we created a reproduction on CRA here: facebook/create-react-app#7076

[2019-05-17 13:13] m-allanson commented on #14105
Hey @vstanyshevskyy, `fit` [was added in `gatsby-plugin-sharp@2.0.34`](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sharp/CHANGELOG.md#2034-2019-04-11) and you're using `2.0.32`, want to try updating and see if that works?

[2019-05-17 13:47] m-allanson commented on #14103
Thanks for opening this @FraserThompson! There's been a few bits of discussion around this in the past. Check out the comments on this PR https://github.com/gatsbyjs/gatsby/pull/13816#issuecomment-488831605

To summarise the discussion there - we're moving towards letting the browser handle this natively and currently we don't want to add an option that makes the threshold configurable. However we

[2019-05-17 14:00] viccrubs commented on #14109
This quick and simple local plugin solution works like a charm! Thanks for this awesome solution!

But currently with this solution, there might be some concerns about the interoperability with other plugins that may also process CSS files.

The original plugin works differently on injecting the new rules when rules concerning .css files already exist or not. Simply changing the `CSS_PATTERN` may

[2019-05-17 14:17] m-allanson commented on #14102
This was fixed in 2.5.2 and #14096 has been reverted!

[2019-05-17 14:31] selipso commented on #8595
Updating your node.js version was my solution to this

[2019-05-17 15:23] m-allanson commented on #14093
Weird... I tried with a few other Gatsby sites and LinkedIn picks them up ok. Just gatsbyjs.org it doesn't like.

[2019-05-17 16:37] m-allanson commented on #14081
@pieh or @wardpeet do you have any thoughts on how the API for this might look?

[2019-05-17 16:49] sw-yx commented on #14107
i'll leave y'all to it. i know chris said y'all have some bigger rearchitecture of the theme docs coming or something. just wannted to address possible pain if it takes like 3 seconds to fix

[2019-05-17 16:56] m-allanson commented on #14079
This sounds like a pretty reasonable feature request! I've labelled it up as help wanted. Would you have the chance to open a PR?

[2019-05-17 17:12] mathieucaroff commented on #9560
With Gatsby 2.5.12, I get the below error each time I run `yarn develop` without deleting `.cache`.

[code]

It's not a real bother, I just have to use `rm -r .cache; yarn develop` instead. Given how one my transformer plugin works, I wouldn't be surprised that this is caused by a circular reference among Gatsby nodes. What's weird is that the problem only occur es when the cache already exists.

[2019-05-17 17:18] brotzky commented on #11961
We've created a plugin that removes the cache-busting JavaScript filenames:
https://www.npmjs.com/package/gatsby-plugin-remove-fingerprints

This has improved some of our builds but 10 minutes. For example, we applied it to a site that had about 4800 generated files uploaded per build that took around 14 minutes to upload. After adding this plugin deploys were reduced to about 6 minutes.

It appea

[2019-05-17 17:18] brotzky commented on #11961
@federicobadini

We've created a plugin that removes the cache-busting JavaScript filenames:
https://www.npmjs.com/package/gatsby-plugin-remove-fingerprints

This has improved some of our builds but 10 minutes. For example, we applied it to a site that had about 4800 generated files uploaded per build that took around 14 minutes to upload. After adding this plugin deploys were reduced to about 6 m

[2019-05-17 17:22] landsman commented on #10482
I have exactly the same need

[2019-05-17 17:23] federicobadini commented on #11961
Sounds fantastic. I'll check it out immediately.

[2019-05-17 17:27] #13125 closed

[2019-05-17 17:27] #13126 closed

[2019-05-17 17:27] #13166 closed

[2019-05-17 17:27] #13266 closed

[2019-05-17 17:27] #13268 closed

[2019-05-17 17:33] bgbohling commented on #13595
Not stale.  I wouldn't mind trying to help out but I need more understanding how `gatsby-source-drupal` decides what items to include.  `allData` has all the entity types, but I don't see where those are being filtered down to just nodes.  I haven't had time to look at the code in awhile, though.

[2019-05-17 18:11] daniloef commented on #12684
Hi! Do you know a plugin that "clean" the filenames of uploaded images?

[2019-05-17 18:42] m-allanson commented on #14054
Hey @NavaneethaKrishnanP could you create a reproduction for this? https://gatsby.dev/reproduction

Alternatively check out the docs on creating pages in Gatsby, typically for SSR you'll need to use Gatsby's createPages API rather than using Reach Router directly. Check out [the docs on routing](https://www.gatsbyjs.org/docs/routing/) and this guide to [programatically creating pages from data](ht

[2019-05-17 18:44] chrisobo98 commented on #11406
I ran this line of code in a react-app and everything went back to normal again, thanks!!

[2019-05-17 18:48] marcysutton commented on #13812
@gillkyle have been discussing a blog post on this, I think a doc could be useful as well (in a new section of [Releases & Migration](https://www.gatsbyjs.org/docs/releases-and-migration/) maybe?). In general here's how I'm thinking of content strategy:

- Blog posts are primarily made for storytelling and case studies
- Docs are more persistent reference guides that go beyond any one case study o

[2019-05-17 18:55] denkhaus commented on #10482
the same here

[2019-05-17 19:09] m-allanson commented on #14067
Thanks for the repro @jonnybot0, I can confirm I'm seeing the same issue. Updating to the l latest dependencies doesn't fix it. I haven't had a chance to dig further yet, but I wonder if this is specific to `gatsby-mdx`? If you get the chance could you try replicating the problem using plain markdown?

There's a [`using-remark` example site](https://github.com/gatsbyjs/gatsby/tree/master/examples/

[2019-05-17 19:25] #13384 closed

[2019-05-17 19:34] ChristopherBiscardi commented on #14107
Yeah, the theme docs are not linked in the sidebar for a reason and it's that they are sorta beta-y state like this. We're working towards stable soon and that mostly means productionizing docs and supporting code like having the official themes up and running with a starter in the gatsby repo (like the current starters are).

We have an issue #14007 to change that, although for the official start

[2019-05-17 19:41] daniloef opened #14124 "Retrieving images with special chars in the filename with gatsby-source-wordpress"
I am working in a blog using the gatsby-source-wordpress plugin, and executing the following query I noted that **the field "localFile" returns NULL** when the source image has special chars (á, é, í, ó, ú, ñ, etc.).

[code]

Anyone resolve that?

Regards.

[2019-05-17 20:17] daydream05 commented on #14076
@LekoArts good call! So sorry about that @ppsirius . These amazing people should be able to help you better

[2019-05-17 20:20] prestonso commented on #13712
Closing as #14036 is now merged.

[2019-05-17 20:20] #13712 closed

[2019-05-17 20:21] prestonso commented on #13715
Closing as #14036 is now merged.

[2019-05-17 20:21] #13715 closed

[2019-05-17 20:22] prestonso commented on #13708
#13712 and #13715 are both now complete as of merged PR #14036!

[2019-05-17 20:24] jonniebigodes commented on #14124
@daniloef i'm going to check out in my local installation and get back to you, but i'm pretty much convinced that special characters, like in this case portuguese and spanish characters with accents do not work well with Gatsby, i don't know if this particular case is with the characters being escaped when retrieved via the rest api or probably something else during the download and graphql node g

[2019-05-17 20:25] marcysutton opened #14125 "[docs] Add more details on implementing SEO techniques in Gatsby"
## Summary

In PR #10780, @DSchau proposed a really great piece of content on the blog on implementing SEO techniques in Gatsby. We decided to close that PR in favor of a new issue for a Reference Guide instead of a blog post–but the content from the PR could be copied and slightly modified. I think it makes the most sense to add it as an Advanced Tutorial (dependent on #14071) and link to that fr

[2019-05-17 20:33] SigmundurMorkore opened #14126 "Gatsby Develop Seems to not support non-ASCII in absolute path"
## Description
Gatsby Develop seems to not support non-ASCII characters in absolute path
The error is very similar to #11807

I created the hello-world starter project inside a folder called "Skýggjið". When I then ran gatsby develop, it resulted in an error. Changing the folder name "Skýggjið" to "Skyggjid" makes the error go away.

### Steps to reproduce
1. Create a folder with non-ASCII charact

[2019-05-17 21:31] jlengstorf commented on #14099
@ChristopherBiscardi I guess that's a good question. Is the goal of this doc to teach people how to build a theme from scratch (e.g. full understanding by stepping through the whole process) or to guide them through using a boilerplate?

I can make a good argument for both cases, so I'm happy to go either way.

Maybe they start here and move to a separate page(s) as they expand over time?

[2019-05-17 21:33] jlengstorf commented on #14094
@ChristopherBiscardi I think composition would be perfect for a "part 2" of this tutorial — @marcysutton's work in #14071 lays a solid foundation for making the happy path part of the "fundamentals", with composition being an intermediate tutorial.

If you feel like composition is fundamental, we can definitely pull it back into part one, though.

[2019-05-17 21:34] daniloef commented on #14124
@jonniebigodes Thank you!

The alternative solution is to "clean" the filenames in WP, but for sites with a lot of posts it can be difficult.

Waiting for your update :)

[2019-05-17 21:44] KyleAMathews commented on #14073
This seems like a really small edge case? Very few people resize their browser and the only thing bad that happens is that people see a normal image load instead of our nice placeholder and fade in.

We'd have to add extra code to handle this.

It'd be nice if browsers gave you an api to parse srcset like they do.

[2019-05-17 21:48] FraserThompson commented on #14103
Oh sorry, I did do a search but somehow missed that PR...

Here's the gallery I'm talking about: https://dunedinsound.com/gigs/primitive-man---dunedin/

It works okay on desktop but for a user scrolling through relatively quickly on mobile to get a good look at all the images the loading lags behind at some points.

[2019-05-17 22:25] KyleAMathews opened #14129 "[v3] When querying a list that returns no results, return an empty array not a null"
In general, make more things not ever return nulls which are annoying to handle in client code. There might be other places we can do this but this is the most obvious one.

[2019-05-17 23:03] polarathene commented on #14073
On a desktop most common would be maximize or snap resizing to half/quarter of screen.

On mobile, orientation change or adding/removing a separate app to share the screen space.
Orientation wouldn't be too uncommon when viewing certain media like video content.

If that's not a problem, then the issue can be closed. I just noticed this behaviour when reviewing the Art Direction PR, which is more

[2019-05-17 23:12] pieh commented on #14077
This is pretty difficult issue, because of how Contentful handles localization. The localization is not entry based - but it's field based.

That means when you use locale with fallback, and translate just title (but not body). You will get partially translated entry - with `pt` title, but `en` body (fallback) - what locale should be reported for this entry?

[2019-05-17 23:16] KyleAMathews commented on #14073
yeah, I don't think this is something we need to worry about. It's very niche and not something that's easy to solve without loading a library that can parse image's srcsets and do something about that. Though tbh, we might [want to do that eventually for other reasons](https://github.com/gatsbyjs/rfcs/pull/35) in which case we could possibly revisit this.

If issues are so low priority that we're

[2019-05-17 23:16] #14073 closed

[2019-05-17 23:21] esharri2 commented on #14044
Still looking for time to work on this more, but just wanted to note the PR + issue that introduced this approach to handling errors: https://github.com/gatsbyjs/gatsby/pull/9839

[2019-05-18 00:18] heart-of-code commented on #7659
@iamskok it works, but it doesn't cover the totality of Shopify's API's / content

[2019-05-18 00:21] heart-of-code commented on #7659
If you need more immediate responses you can send me a message on Discord @ducke#4483

[2019-05-18 00:26] agentofuser opened #14133 "RSS/Atom Feeds should use absolute URLs to be standards-compliant"
## Description

* By [default](https://github.com/gatsbyjs/gatsby/blob/626cab461640bd6598806f3ec5b98e196f83dc9a/packages/gatsby-plugin-feed/src/gatsby-node.js#L27), `gatsby-plugin-feed` uses the `markdownRemark` node's **html** field as the contents of RSS entries.
* That html field has internal links and asset references as [root-relative](https://mor10.com/html-basics-hyperlink-syntax-absolute-r

[2019-05-18 00:28] riongull commented on #7997
I'm having this issue as well.  None of the recommended fixes have worked for me.

[2019-05-18 00:45] jennasalau commented on #13278
Okay geez i spent 6 hours trying to figure this one out fml. For me a had a bit going on.

Im using lerna in my project so I had to add gatsby to nohoist

root package.json
[code]

And then in www (gatsby) I changed the start script from `npm` to `yarn`

[2019-05-18 01:31] iamskok commented on #7659
Here is my issue #13981 and here is the [repo](https://github.com/iamskok/example-gatsby-shopify-admin)

I have sent a friend request in Discord  - `@amskok#0671`

[2019-05-18 01:45] bkegley opened #14134 "Component shadowing isn't working with scoped packages"
## Description

Gatsby doesn't seem to allow component shadowing in scopes packages - i.e. (`@bkegley/scoped-theme`).

### Steps to reproduce

[code]

In `gatsby-config.js` toggle the `__experimentalThemes` config as well as the import statement in `pages/index.js` to test the shadow components in each theme.

There are two themes in `packages` - one scoped and one not - both export a button with

[2019-05-18 02:36] heejongahn opened #14136 "docs: Add explanation about `setup` field at gatsby-plugin-feed README"
## Summary

Add explanation about `setup` field (or, the more appropriate way of setting the top-level fields of feed filed) at `gatsby-plugin-feed` README

### Basic example

N/A

### Motivation

Yesterday, I had a journey as below.

1. Found out my feed file's top-level `link` field was unintentionally set as `https://github.com/dylang/node-rss` ([configuration](https://github.com/heejongahn/blo

[2019-05-18 02:58] mausamRayamajhi commented on #11464
Can u provide your source code link that u solve this error

[2019-05-18 03:37] BryanBarrera commented on #14058
@DSchau - Your response was extremely helpful

`gatsby build`
`gatsby serve`

Worked for me.

[2019-05-18 04:15] LpmRaven opened #14138 "Contentful with gatsby-source-contentful and apollo"
## Summary
I am querying data from Contentful using `gatsby-source-contentful` at build time to get the products for [WaterproofJack.com](https://waterproofjack.com). I am now building a filter for the product listing pages, to filter by brand, waterproof rating, breathability rating etc (many more). To do this I use Apollo at runtime to get product data when the filter is changed. I chose to do i

[2019-05-18 05:03] KyleAMathews commented on #14103
Could you try upgrading the distance to e.g. 350px see how big of difference that makes?

[2019-05-18 05:15] KyleAMathews commented on #12684
https://www.npmjs.com/package/sanitize-filename looks like a good one

[2019-05-18 05:58] #14107 closed

[2019-05-18 07:08] KyleAMathews commented on #14043
Oh https://twitter.com/domfarolino/status/1129591317410045954

https://www.chromestatus.com/feature/5164259990306816

Ok, that makes this a lot easier :-D

[2019-05-18 07:44] tonystaark opened #14139 "chore(gatsby-cli): update prompts package to fix Node 8 error"
Edit by @m-allanson: See [my comment below](https://github.com/gatsbyjs/gatsby/issues/14139#issuecomment-494477360) on how to resolve this issue.

## Description

gastsby new projectName not working and throw error UNHANDLED EXCEPTION
### Steps to reproduce

`npm i -g gatsby-cli`
`gatsby new blogName`

### Expected result
Should create a directory with name blogName

### Actual result

[code]

###

[2019-05-18 09:13] #13076 closed

[2019-05-18 09:19] #14093 closed

[2019-05-18 09:24] sidharthachatterjee commented on #13076
Fix published in `gatsby-cli@2.5.15`

[2019-05-18 09:25] pieh commented on #14138
`gatsby-source-contentful` doesn't use Contentful graphql endpoint. It uses [Contentful Sync API](https://www.contentful.com/developers/docs/concepts/sync/). Sync API won't be good fit for client data fetching, but you can use [Contentful Content Delivery API](https://www.contentful.com/developers/docs/references/content-delivery-api/) if GraphQL isn't available in your Contentful plan

[2019-05-18 10:06] shinework commented on #6086
Hi there! I've just published http://github.com/premieroctet/gatsby-remark-images-zoom. It brings medium-zoom on top of gatsby-remark-images

[2019-05-18 11:34] LpmRaven commented on #14138
Thanks @pieh. It seems really strange to me that Contentful has decided to restrict their GraphQL API to only larger plans when the technology to retrieve data has a limited impact on their bottom line; it's a disappointment. I'll try using the CCD API, thank again!

[2019-05-18 11:40] deadcoder0904 commented on #6086
@shinework That looks solid. Love it & it works yay 🎉

Thank you ❤️

[2019-05-18 11:52] LpmRaven commented on #10230
Has this happened? Any update? It would completely fix my current problem.

[2019-05-18 11:53] LpmRaven commented on #14138
@pieh, I noticed this issue that seems to completely match what I need. Is there any chance you have information about if the work is being continued on it? [Issue 10230](https://github.com/gatsbyjs/gatsby/issues/10230)

[2019-05-18 15:38] andreivmaksimov commented on #13980
@pieh, thanks for advice, but it was not helpful (https://circleci.com/gh/hands-on-cloud/hands-on.cloud/23). I've already tried to play with `GATSBY_CPU_COUNT={1,2}` and `--max-old-space-size={1024,2048,4096}`.

I've also tried to use Node 12.2.0. Still getting this error.

This generate images part of deployment is crucial part of whole framework. With each blog post deployment it takes more reso

[2019-05-18 16:09] jonniebigodes commented on #14126
@SigmundurMorkore that's a recurring issue, not only the nordic special characters as for instance the portuguese and spanish ones as well, like for instance `á`,`à`,`â`,`ã`,`ç` or `ñ`

[2019-05-18 16:13] ilomon10 commented on #14074
when i try with yarn it working clean

@freiksenet ok thanks for your fast respond, i'll try it

[2019-05-18 17:02] daniloef opened #14145 "gatsby-source-wordpress: Processing the images in the posts"
Hi,

Using the plugin **gatsby-source-wordpress** I noted that the images inner post aren't loaded from the new Gatsby site. Instead of that, they are loaded from **http:///my-old-wordpress-site.com/wp-content/uploads/...**.

Is there a way to copy and optimize the images from WordPress site, in the same way that Gatsby do with, for example, featured images, which are loaded from something like **

[2019-05-18 17:19] KyleAMathews commented on #12155
It would make sense to support your fragments inside gatsby-node.js as well. This would require some refactoring as we don't collect all the fragments until we run page/static queries later in bootstrap. But we should be able to move that earlier and use the Relay Compiler to "expand" queries with fragments into the full query when they're passed into the graphql function.

/cc @freiksenet

[2019-05-18 17:27] #12856 closed

[2019-05-18 17:27] #13071 closed

[2019-05-18 17:27] #13311 closed

[2019-05-18 17:27] #13355 closed

[2019-05-18 17:27] #13407 closed

[2019-05-18 18:35] jonniebigodes commented on #14124
@daniloef sorry for the wait. I'm going to describe the methodology used to tackle this issue. And beforehand the issue is accurate, i was able to reproduce it.

- Created a new Gatsby website based on the hello world starter to keep it simple.

- Added the necessary dependencies, namely `gatsby-source-wordpress`,`gatsby-image` and it's accompanying plugins, `gatsby-transformer-sharp` and `gatsby-

[2019-05-18 19:15] calcsam opened #14148 "Rename "Behind the Scenes" docs to "Gatsby Internals""
Our recent Gatsby survey revealed that many people want documentation on how Gatsby internals work.

**The good news is that these docs already exist:**

https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/behind-the-scenes.md

**The bad news is that people are having problems finding them.**

In order to resolve this, we should:

(1) rename the behind-the-scenes doc page to `Gatsby internals

[2019-05-18 19:33] Spiderpig86 commented on #12272
In the end, I ended up scrapping whatever dependencies I had and reinstalling all of it completely. This is the [configuration](https://hastebin.com/emuputakus.pl) I use now and it works very well.

[2019-05-18 21:57] tanayv commented on #14148
Hello! Aiming to be a first time contributor here! I was working on this so I wanted to make sure I understood the steps correctly: For 1(a), changing the URL would just involve renaming the markdown file right?

[2019-05-18 22:18] ChristopherBiscardi commented on #14134
The issue here is that your package directory on the filesystem (`scoped-theme`) doesn't match the package name (`@bkegley/scoped-theme`).

I've prototyped a solution that I think will remove this requirement.

[2019-05-18 22:43] harri4007 commented on #9899
I have Adblocker as well as several other extensions.  I disabled all except Vue dev tools.  Error was gone.  I enabled each one by one and 360 security extension was the culprit.  Thanks for all the strategies on figuring it out it was bugging me for weeks!

[2019-05-18 22:51] calcsam commented on #13708
Nice! Note that #17 was addressed (completed?) with https://github.com/gatsbyjs/gatsby/pull/11941/ and #5 with https://github.com/gatsbyjs/gatsby/pull/13170

[2019-05-18 22:55] horacioh commented on #14148
@tanayv yes!, changing the URL means changing the URL and the title :)

I recommend you test it locally first and also build the site locally and test it too. if you follow the steps aboe you should be ok!

[2019-05-18 23:39] tanayv commented on #14148
Got it, thanks!

[2019-05-19 01:02] vickywane commented on #9121
@DavidHe1127 can you please show a snippet on  how you imported and used `withRoot` ?. ..
Am having errors using it with gatsby

[2019-05-19 01:15] jonniebigodes commented on #14145
@daniloef based on my earlier response to your other issue. I've updated the Gatsby website in question.

- Created a couple of posts one with a single image like you can see below:

![danilo_imageinside1](https://user-images.githubusercontent.com/22988955/57976485-881d5a80-79d9-11e9-8cb9-90fe51ede840.png)

- Created another with a gallery inside as you can see.

![danilo_imageinside2](https://use

[2019-05-19 01:30] jonniebigodes commented on #14139
@tonystaark just finished creating a new Gatsby website with your description, the exact same name and no issues whatsoever, could you provide a little more context?
- What operating system are you using?
- Could you please remove the cli globally and re-install it and check if it solves the issue, probably something went wrong with the download and installation.

Feel free to provide feedback and

[2019-05-19 01:33] bkegley commented on #14134
That was blazing fast 😆 Thanks!

[2019-05-19 01:57] polishedwp commented on #13399
@steoneill @DSchau What is the status of this Issue? Do you need any help?

[2019-05-19 02:34] KyleAMathews commented on #14139
@tonystaark what version of node are you running?

[2019-05-19 02:35] KyleAMathews commented on #14139
You can run `gatsby info` in your site and paste the output here.

[2019-05-19 04:27] Jared-Dev commented on #14148
Should there be a redirect added as well just in case someone has them bookmarked?

[2019-05-19 05:30] polarathene commented on #14064
Wouldn't it be better to just leave that until the PR is ready to merge? If it's just lint issues, then the merge phase via peril would be able to apply fixes automatically no?

[2019-05-19 05:44] polarathene commented on #14103
There are plans to [refactor `gatsby-image` functionality to be more composable](https://github.com/gatsbyjs/gatsby/issues/13353) for v3 of Gatsby. That will allow you to use the default, or alter/swap certain behaviour more easily for more niche needs.

Presently, you could consider something like [react-waypoint](https://github.com/civiccc/react-waypoint), having it trigger `critical` / `loading

[2019-05-19 06:24] tanayv commented on #14148
Hi @calcsam,

There's also another page for queries which uses behind-the-scenes in its URL:
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/query-behind-the-scenes.md

Should I rename this to `query-gatsby-internals` and also create a redirect for this?

[2019-05-19 08:22] tonystaark commented on #14139
Hi I am running v8.1.2 for Node

After running gatsby info , I got
[code]

[2019-05-19 10:12] prvnbist opened #14151 "Plugins Page - Plugins list not scrolling after plugin details container is scrolled."
## Description
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/17105682/57980665-d53a1480-7a4b-11e9-92ea-95b5e7245ebd.gif)

On plugins page, the webpage has two scrollable containers one for list of plugins and another for plugin details. When the plugin details container is scrolled and then if you try to scroll the plugin list container it won't scroll unless you select a

[2019-05-19 10:28] Hypothesis-github opened #14152 "How to pass a variable from gatsby-node.js to pages"
This is my part of my code at the moment

[code]

I was wondering how I can pass `date` as prop to _single.js_ or any other way I can pass the value down.

[2019-05-19 12:29] baerrach commented on #13072
#12336 is killing this for me.
I want those .htm/.html files served in develop.

I've just dropped a reference site in static/ so that I can link to it in Gatsby but because of #12336 everything but the html files are server.

[2019-05-19 13:05] LuudJanssen opened #14156 "[gatsby-source-contentful] Image transforms still have default width"
## Description

[This pull request](https://github.com/gatsbyjs/gatsby/pull/7680) removed the default image width for image transforms to enable you to only set a `height` and have the image infer the correct width automatically, just like it does with the height when setting a `width`.

This default still exists and can be removed in gatsby-source-contentful because [this pull request](https://gi

[2019-05-19 13:05] LuudJanssen commented on #14156
I'm working on a pull request.

[2019-05-19 13:08] jbmusso commented on #4357
This could also indicate a `@scoped` package located in `./node_modules/`, although I didn't check if `@src` scope is available there. In this context, maybe using `#` instead of `@` could help better distinguish between scoped-packages and internal/local packages resolved via `paths`.

Thanks for the `exports.onCreateWebpackConfig` info :-).

[2019-05-19 14:03] karanrajpal14 commented on #13989
If that's the case then maybe @KyleAMathews or @jlengstorf can look into this and change the label accordingly as this a (low-priority) feature that I'd like to see, eventually. Thank you once again, @jonniebigodes!

[2019-05-19 14:59] julsmon commented on #12370
Hello! Is there any news on the plugin you are working on @orangecms? I agree with you that GDPR is not a choice but a requirement for anyone running a site, so it should be tackled.

[2019-05-19 16:04] jonniebigodes commented on #13989
@karanrajpal14 like i said before, no need to thank, just glad i was able to help you out

[2019-05-19 16:14] jonniebigodes commented on #14152
@Hypothesis-github before all, are you using the `createPage` api to inject data into single components? or that single is actually a template? And what probably you want is somthing  like this:

[code]
Feel free to provide feedback

[2019-05-19 16:16] orangecms commented on #12370
Thanks for the bump! So here's what happened:
My boss eventually overruled me and decided that we should just show a hint to our visitors. And since the response here was rather negative, I hadn't followed up very much.
Nevertheless, I had forked the two tracking plugins for HubSpot and Google Analytics such that you could at least turn off the site navigation tracking. I kept it very simple and c

[2019-05-19 16:19] jimcal commented on #14139
I have similar issue with @tonystaark, here is my `gatsby info`.

[code]

[2019-05-19 17:02] yesh opened #14160 "[gatsby-source-contentful] possible bug? new contentful model field does not show up in graphql response"
## Summary

I created a new boolean field in a Contentful model and I really can't get it to show up in gatsby graphql output.

I tried the following:
- deleted `.cache` folder and restarted `gatsby develop` several times
- created new fields in the same and other models in my space
- deleted and created a new API token for the Contentful space
- modified `gatsby-node.js` to force a cache reset

a

[2019-05-19 17:06] interglobalmedia commented on #12370
I will definitely check out your plugins @orangecms. For my site, I ended up adding a plugin called react-cookie-consent which turns off cookies, but adding gatsby-plugin-tracking-consent and gatsby-plugin-google-analytics couldn't hurt for sure. Thanks for sharing!

[2019-05-19 17:10] agentofuser opened #14161 "Enable generating relative (as opposed to root-relative) URL websites"
## Summary

Currently, Gatsby users can set the `pathPrefix` [property](https://www.gatsbyjs.org/docs/path-prefix/) in `gatsby-config.js` to enable websites to be hosted on subdirectories of the root path, eg routes built using `pathPrefix: "my-path-prefix"` are rendered as `/my-path-prefix/a-route/`.

However, `pathPrefix` is taken to be a [root-relative](https://mor10.com/html-basics-hyperlink-s

[2019-05-19 17:27] #11429 closed

[2019-05-19 17:27] #13427 closed

[2019-05-19 18:57] diondiondion opened #14162 "Node type mapping messes up order of lists"
## Description

When using node type mapping, queries for fields that are affected by it don't return items in the order that they were originally defined in.

### Steps to reproduce

- Set up a node type mapping [as described in the docs](https://www.gatsbyjs.org/docs/gatsby-config/#mapping-node-types) for a field that contains a list of items (for example a playlist in markdown frontmatter):
[co

[2019-05-19 19:15] #14152 closed

[2019-05-19 19:47] LuudJanssen commented on #14160
I'm using gatsby-source-contentful myself, so here's just a couple of sanity checks that have helped me in the past:

- Have you checked if the `Field ID` of the `Is highlight` is `isHighlight`? Contentful doesn't allow you to update the `Field ID` once you've created a field, so if you change the name the `Field ID` stays the same.
- Have you refreshed the GraphiQL interface as well after running

[2019-05-19 20:35] yesh commented on #14160
sure

thousands times, removing cache and restarting the local server too.

absolutely

yep, but it should work anyway returning a `null` if there is not value.

the thing is that, as I experienced it a couple of times before (e.g.: with the `cover` field), it's like something gets stuck randomly.
I "solved" it just restarting the local server, deleting `.cache` folder dozen times and ultimately c

[2019-05-19 21:06] yesh commented on #14160
Update:

I started the server 15 minutes ago and it worked, restarted it just to make sure I was not dreaming and the issue reappeared. this without making any changes to code or contentful. it's getting ridiculous :D

I just recoded and uploaded a video now to show the behaviour.

[https://www.youtube.com/watch?v=I4hvsIaiYR8](https://www.youtube.com/watch?v=I4hvsIaiYR8
)

[2019-05-19 21:15] montylounge opened #14163 "Caching with layout.css and <Layout>?"
## Description

I'm seeing layout.css referenced after starting a new site with gatsby when using `gatsby develop` but I'm not referencing this stylesheet in my project.

### Steps to reproduce

[Screenshot](https://cl.ly/4d17f07715d7)

Then, stop dev server.

Replace ./pages/index.js with the below...

    import React from "react"

    const IndexPage = () => (
    <>
        <h1>Hi people</h1>

[2019-05-19 22:25] SigmundurMorkore commented on #14126
@jonniebigodes That does reaffirm my guess that all characters not in ASCII break Gatsby.

[2019-05-19 22:49] LuudJanssen commented on #14160
Sure seems like a bug. I dived into the code and it seems they're [using a sync token](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-contentful/src/gatsby-node.js#L80) to get delta updates of the contentful data. However, I can't find where the contentful data is cached (whether that's actually the `.cache` folder or a different one)? If it's a different folder, that would

[2019-05-19 22:59] dakebl commented on #10662
I don't think this is strictly an issue with Gatsby, but a mismatch of context when Storybook is rendering components that expect the GraphQL data mesh for data fetching:

https://github.com/storybooks/frontpage/issues/43#issuecomment-493798728

[2019-05-19 23:05] DavidHe1127 commented on #9121
@vickywane what errors did you get?

[2019-05-19 23:10] bryndyment commented on #5801
On macOS, I believe you need to have file sharing enabled (`System Preferences` -> `Sharing`).

Also, the `Computer Name` field can be used in your URL.  For example, my computer name is `kyoto` and I'm able to access my dev site via `http://kyoto.local:8000`.

[2019-05-19 23:26] tombunn commented on #6654
It seems to be related to massive images and slow internet connections. Netlify was able to build the site but my local connection was not as it is only 1MB/s download which caused it to timeout after 30s and fail on the large image.

[2019-05-20 02:24] baerrach opened #14168 "gatsby-remark-images changes to image don't cause regeneration"
## Description

When an image changes that is used in a markdown file then `gatsby-remark-images` does not process the image.

This may fall into a feature request because searching through the code it looks like `gatsby-source-filesystem` is watching for file changes and these cause `createNode()` to occur.

Because the markdown file does not change it does not get processed by `gatsby-transforme

[2019-05-20 02:54] dustinhorton commented on #6654
I have 1gb fiber and no 'massive' images.

[2019-05-20 03:09] dustinhorton commented on #14047
Started a repro repo, but couldn't replicate: https://github.com/dustinhorton/gatsby-home-issue/commit/7fe9092c14c1c6010173aae710ba84d470557889

I'll start adding my plugins and see where the issue starts occurring.

[2019-05-20 03:20] baerrach commented on #14168
GraphQL does exactly this node + dependency stuff `https://www.gatsbyjs.org/docs/page-node-dependencies/`

Is there an Node equivalent for non-GraphQL?

[2019-05-20 05:01] d4rekanguok opened #14169 "[gatsby-plugin-netlify-cms] how to import 3rd-party css into custom widgets?"
## Summary

What is the right way to include css for netlify-cms custom widget?

Hi folks! I'm building a custom upload widget with [uppy](https://uppy.io/docs/react/dashboard/). The package comes with a few css files:
[code]

When I navigate to the generated `public` directory, I can see uppy's css being extracted & bundled into `cms.css` (`public/admin/cms.css`). However, they're missing from th

[2019-05-20 06:28] heshanfu opened #14170 "A nice collection of often useful examples done in Gatsby"
A nice collection of often useful examples done in Gatsby.
https://gatsbyawesome.com/

[2019-05-20 06:32] jnsrikanth opened #14172 "Integrating Gatsby into my existing Godaddy site for only blogging"
## Summary
I am having an existing HTML/CSS/PHP website hosted on GoDaddy using a cPanel. Now Everything works 100% fine there. I just need to add Blogging functionality locally into this site by creating a separate folder but want to serve up such blog post content using GatsbyJS.

Has anyone tried this before? If not, how can this be achieved? It would be good to know.

My plan is to eventually

[2019-05-20 06:49] xuweiwei117526 opened #14173 "fetch data from wordpress, Failed to process remote content."
during our Gatsby build,fetch data from wordpress, we will see images which say Failed to process remote content.

Any assistance would be appreciated!

.source and transform nodes
.source and transform nodesFailed to process remote content http://site-url/sites/default/files/Name%20of%20file_2018_1.jpg
Failed to process remote content http://site-url/sites/default/files/Name%20of%20file_2018_1.jp

[2019-05-20 07:28] xuweiwei117526 commented on #12848
@jacobsilver2 I have the same problem,but not solved. @wardpeet @bakeruk Can you give the detail change about the wordpress that can not process remote images.Thank you very much.

[2019-05-20 07:30] jacobsilver2 commented on #12848
Yes, I also am still having this problem with Wordpress!

[2019-05-20 08:40] yesh commented on #14160
thanks anyway  @LuudJanssen.
I think this is pretty much cache related. I just found plenty of closed issues like this one without solution :(

like this one: #3495

[2019-05-20 08:48] paschalidi commented on #13642
@hydrosquall hey good Monday morning! 🌸 Hm there are not services that provide this out of the box but its not so difficult to build ourselves!

Imagine a process like this once a PR is open
1. project is being build.
2. the static files are now being deployed in a url like `gatsby.pr-xxx.dev`

And a process like this when you close a PR.
1. deletes url that has been deployed.

I have done this co

[2019-05-20 09:05] wardpeet commented on #13642
I don't think surge fits the need here. With surge we'll need to add a new step in circle-ci which will take a lot of resources. Now.sh might have the same issue though, that it needs to be built on circle-ci.

We probably want to lower the amount of starters/showcases as @DSchau mentioned. Of course we are open for other ideas. If you can get it up on now.sh we're happy to try!

[2019-05-20 09:18] wardpeet commented on #14172
Sure you can! If you want a gatsby site to live in example.com/blog that's possible with [path-prefix](https://www.gatsbyjs.org/docs/path-prefix).

To get started, please check out https://www.gatsbyjs.org/tutorial/

[2019-05-20 09:22] wardpeet commented on #14151
Thanks for reporting, I wonder if this is a browser bug or something we can actually fix.

[2019-05-20 09:26] wardpeet commented on #14170
Hey thanks for sharing this website with us. We have https://www.gatsbyjs.org/showcase/ that does the same. It would be cool if we could add gatsbyawesome.com to our showcase but sadly it's not a gatsby site :cry:

[2019-05-20 09:26] #14170 closed

[2019-05-20 09:28] wardpeet commented on #14163
what happens if you remove `node_modules/.cache` as this could be a babel cache issue. If it's the case we can look into this further.

[2019-05-20 09:43] josh-meredith commented on #14173
I have experienced this same issue, and it seems the only fix for now is to manually reduce the limit of concurrent downloads within the `gatsby-source-filesystem` plugin. The problem is most likely due to server/network overload.

Please see #13073 for the fix I'm referring to. Unfortunately it doesn't look like there has been much progress with the PR.

[2019-05-20 10:02] Francesco-Lanciana opened #14175 "Data attribute hydration is broken"
## Description
A data attributes value can differ between **develop** and **build**.

I have some data attributes on DOM elements whose value depends on the size of the window. If less than a certain size the attribute will be set to ```true``` otherwise it will be set to ```false```. It is also set to ```false``` if the window object does not exist.

When developing locally using ```gatsby develo

[2019-05-20 10:16] wardpeet commented on #14160
@pieh I believe you have more insights in this one.

[2019-05-20 10:18] jessepinho commented on #14077
@pieh Note that I included a regex for the slug field to ensure that the slug field _specifically_ is filled in in the given locale. That's why I expected it to return only entries with the Portuguese locale.

Also, note that the Contentful API supports what I'm trying to do! See, for example, the API call I'm making for [this page](https://helloclue.com/pt/artigos/ciclo-a-z) on helloclue.com for

[2019-05-20 10:30] bakeruk commented on #14173
@wardpeet This looks like the same issue as the recent `gatsby-source-drupal` that was merged into master (#13943).

All to do with unresolved promises overloading the callstack using with using `Promise.all` in the code

[code]

I don't have the time to fix this currently, nor do I have a project to test once the change has been made. However, we could definitely get set **labels** against this 😊

[2019-05-20 10:33] bakeruk commented on #12848
Noted.

Please keep all comms in #14173 for now as this is a closed issue.

I have had a look and put the details of my findings regarding your issues in that ticket 👍🏼

[2019-05-20 10:45] olizilla commented on #14161
Static sites are nice. **Portable** static sites are awesome. As it's possible to know the entire layout of the site at build time, it'd be great to allow users to generate sites that dont assume a path prefix but use relative urls that can work just fine on both a staging url like `/<unique-id>/about` and a production url like `/about`

[2019-05-20 10:52] wardpeet commented on #14175
Let me look into this issue. One thing I can already say is that develop does not do any Server side rendering. That's probably the real issue but let me see if I can give you better insights.

[2019-05-20 10:54] wardpeet commented on #14173
Yes, indeed, lets fix this asap.

[2019-05-20 11:02] xuweiwei117526 commented on #14173
Excuse me, please ask the code with the ellipsis above is not the final one.How to change this question specifically, I still don’t quite know.This problem has plagued me for a long time.If you can specifically write how to change this problem, I must be very grateful.

[2019-05-20 11:06] freiksenet commented on #14162
Thank you, fix here https://github.com/gatsbyjs/gatsby/pull/14176

[2019-05-20 11:27] diondiondion commented on #14162
Thanks a lot for the quick fix!

[2019-05-20 11:31] antoinerousseau commented on #6643
fixed in https://github.com/gatsbyjs/gatsby/pull/12348

[2019-05-20 11:37] antoinerousseau opened #14178 "[gatsby-source-filesystem] unhandled rejection in createRemoteFileNode even if caught"
## Description

When calling `createRemoteFileNode` in `gatsby-node`'s `sourceNodes`, if a remote URL fails to download (e.g. if it's a 404), the whole process crashes with an `UNHANDLED REJECTION` error, even if we `.catch`.

https://github.com/antoinerousseau/gatsby-bug-mvce

### Steps to reproduce

- Create a new Gatsby project (`gatsby new gatsby-bug-mvce`)
- Add these lines to `gatsby-node.js

[2019-05-20 12:21] pieh commented on #14160
Hey, do you have any values set for that field in any of your entries? Right now we infer schema from data, so if no entry has any values, we can't infer type and that's why field is missing.

There is open PR that will fix that ( https://github.com/gatsbyjs/gatsby/pull/12816 ), but it didn't land yet. But in meantime please make sure at least one entry set `isHighlight` (in this example) to eithe

[2019-05-20 12:26] DevelopwithTom opened #14179 "Menu icon flashing when clicked. Is it possible to stop this?"
I have set up a sidebar that upon hovering, reveals the menu item name. The menu item also goes green when the user goes on that particular page. I am using Gatsbys 'Link to=' to link these pages.

The problem is that upon clicking the menu item, the icon flashes for a split second ([see gif](https://i.stack.imgur.com/vPCNk.gif)). I would like to stop this from happening and just have the text tur

[2019-05-20 12:26] pieh commented on #14160
I've missed some comments before my earlier reply:

as mentioned in my comment - right now we rely on inferring so if there are only `null` values, we can't infer and can't create field on graphql because we can't know the type (without mentioned PR)

It would be great to be able to reproduce it if this happens when you have actual content in those fields, not quite sure how to approach it yet

[2019-05-20 12:29] pieh commented on #14160
Looking at the code - one thing comes to mind:
we store sync token for next fetch before we actually process updates - this means that if something fails to process updates we will miss those in next sync which can cause issues, but it's hard to know what fails - do you get any errors in terminal when this is happening?

[2019-05-20 12:32] #14162 closed

[2019-05-20 12:44] wardpeet commented on #14179
Hi, do you mind putting your code somewhere on github so we can have a look at it? It probably has to do something with your css and not gatsby itself. We are happy to assist.

[2019-05-20 12:44] leonfs commented on #14178
Have you checked your `package-lock.json` is pointing to the right version?

[2019-05-20 12:54] DevelopwithTom commented on #14179
Thanks a lot for the quick reply wardpeet. Thats really kind of you. I've just made the code public.

https://github.com/DevelopwithTom/portfolio_site

Let me know if that doesn't work

[2019-05-20 12:57] lannonbr commented on #14148
Closing as @tanayv's PR which resolved this has been merged

[2019-05-20 12:57] #14148 closed

[2019-05-20 12:57] eadistar commented on #13019
@cdaringe  Remove .cache folder and try again. It will work.

[2019-05-20 13:16] rori4 commented on #13918
I can confirm I have the same issue. When I change the title in the gatsby config, the title just disappears. I have to redeploy the project in order for it to run properly and apply the change

[2019-05-20 13:31] antoinerousseau commented on #14178
@leonfs https://github.com/antoinerousseau/gatsby-bug-mvce/blob/master/yarn.lock#L4673

[2019-05-20 13:44] daniloef commented on #14124
Hi @jonniebigodes

Thank you very much for your answer and the dedication you applied in test step by step.

I have about 40 sites, which some of them has more than 800 posts. So, it's a lot of work!

[2019-05-20 13:47] wardpeet commented on #14178
@antoinerousseau fix is up :)

[2019-05-20 13:47] jakeherp opened #14181 "[gatsby-plugin-sitemap] Incorrect http header content-type: "text/html; charset=UTF-8" (expected: "application/xml")"
## Description

The header content type for the sitemap.xml generated by `gatsby-plugin-sitemap` has an incorrect header type (text/html), but will need the header type `application/xml` to be parsed by Google correctly.

### Steps to reproduce

Basic set up of the plugin in a fresh Gatsby installation

### Expected result

`sitemap.xml` should send the header content-type: "application/xml"

###

[2019-05-20 13:50] wardpeet commented on #12370
@interglobalmedia yes it's enough to just add `anonymizeIp: true`.

@orangecms we aren't against the plugin, feel free to create your own plugins with your gdpr consent enabled. If you publish them to your own namespace, we just don't want to add it to the official ones as it's not mandatory.

[2019-05-20 13:55] wardpeet commented on #13918
@rori4 we sadly don't do HMR for gatsby-node, gatsby-config or gatsby-browser. You'll need to rerun `gatsby develop` or `gatsby build`

[2019-05-20 13:58] antoinerousseau commented on #14178
@wardpeet wow you are way too fast! :D 👍

[2019-05-20 13:59] AGreenObject commented on #13918
@sidharthachatterjee I'll check this out when I get home this evening.

[2019-05-20 13:59] wardpeet commented on #14124
@daniloef mind sharing an image url with us or your wordpress api so we can patch gatsby-source-filesystem. Feel free to send me a personal email on ward@gatsbyjs.org

[2019-05-20 14:00] wardpeet commented on #14181
This seems like a hosting issue. What provider do you use to host your website?

[2019-05-20 14:00] jakeherp commented on #14181
The site is hosted with Netlify

[2019-05-20 14:05] yesh commented on #14160
thank you @pieh, after this note of yours I finally got it to work after the fifth `.cache` delete e restart, and I can confirm that the issue is in fact the "no entry with value" case.

I didn't solve it earlier because, stressed out by the issue, after putting a value in an entry I tried only one time to restart it, and then erratically tried with different approaches.

so this could be the caus

[2019-05-20 14:08] jakeherp commented on #14181
Sorry, disregard what I just said - while the site is hosted on Netlify, it is accessed through a Pantheon server with a rewrite and a redirect. The sitemap.xml works on Netlify directly, but not under the final domain.
Will have to investigate on Pantheon.

[2019-05-20 14:08] #14181 closed

[2019-05-20 14:23] m-allanson commented on #7064
There's a WIP PR that will resolve this: https://github.com/gatsbyjs/gatsby/pull/14111

There's also a plugin that allows you to manually specify `node_modules` packages to compile: https://www.gatsbyjs.org/packages/gatsby-plugin-compile-es6-packages/

[2019-05-20 14:35] hellosmithy commented on #3746
For anyone stumbling across this now close issue... I'd go a step further and advocate defaulting to `Content-Security-Policy: default-src 'none';` and relaxing from there as per your requirements. For example there's no reason for most sites to allow `object-src` at all, even from same-origin. So just blocking it outright is a sensible default.

A good article worth checking out (a fews years old

[2019-05-20 14:42] pieh commented on #14160
Those errors are result of missing field and not cause for it, so those won't help in tracing down potential cache issue (if there is cache issue here - hard to determine that without concrete reproduction steps that fails when at least one entry in contentful has data for that missing field).

This is general gatsby issue and not just gatsby-source-contentful. We very recently added ability in ga

[2019-05-20 14:42] jlengstorf commented on #13473
Hey, @KartSriv! I can see you're still busy, according to GitHub, so I'm going to label this one as available for someone to pick up. If you find free time and it's still unclaimed, we'd love to have your help!

[2019-05-20 14:43] Rajarml commented on #13555
For some reason, I need this feature too: excluding the first and starter page being cached by the sw in order to force the load of authentication connexion page.

[2019-05-20 14:45] jlengstorf commented on #13708
@calcsam thanks! I edited the original issue to reflect that.

[2019-05-20 14:46] prestonso commented on #13708
@jlengstorf I don't think #13170 covers video handling — should that be separated out into another workflow?

[2019-05-20 14:48] tonystaark commented on #12187
Anyone able to get google Adsense on Gatsby?

[2019-05-20 14:51] tonystaark commented on #11216
@omrllm so did u able to get it work in the end? I am not able to get Google Adsense on my newly created blog. Need help.

[2019-05-20 14:53] tonystaark commented on #11160
@idesignpixels You sure it works? I tried following your tutorial but it does not render any ads, just a thick blue line that is rendered by the Adsense tag

[2019-05-20 14:55] wardpeet commented on #14126
oh yeah, there are a few upstream issues but we can definitely fix this.

[2019-05-20 14:59] wardpeet commented on #13885
is it worth the effort when we're thinking of a complete redesign? We might just want to make sure we do this in our redesign?

[2019-05-20 15:03] wardpeet commented on #14162
[code]

[2019-05-20 15:04] DevelopwithTom commented on #14179
If it helps:

[This is a sidebar working on someone elses site](https://jacekjeznach.com/portfolio/) without the icons flashing when being clicked

[2019-05-20 15:12] wardpeet commented on #13555
cc @davidbailey00

[2019-05-20 15:24] montylounge commented on #14163
Issue still exists @wardpeet after `rm -rf node_modules/.cache` and then running `gatsby develop` to view the site again. Figured I'd share in case anyone else is running into the same issue. Thank you.

[2019-05-20 15:36] m-allanson commented on #4746
Related to #13004

[2019-05-20 15:41] m-allanson commented on #11934
Looks like this was fixed in #13713

[2019-05-20 15:51] cdaringe commented on #13019
@eadistar, since last time I suffered the issue, purging the cache did not work

[2019-05-20 15:53] m-allanson commented on #10706
This would be a great improvement, but this issue doesn't feel very actionable right now. Is there a more focussed issue we can link to?

[2019-05-20 15:56] m-allanson commented on #12300
WIP for this is at https://github.com/pieh/develop-runner

[2019-05-20 15:59] Jared-Dev commented on #14151
I tested in FF and Edge and the issue is specific to Chrome. I'm guessing it is actually something that should be reported to their team.

[2019-05-20 16:01] Jared-Dev commented on #14151
Also, I did a quick conversion to `grid` to eliminate any possible overflow bugs that the `contents` `padding` might have been causing and the issue persisted.

[2019-05-20 16:02] m-allanson commented on #7064
Could this be enabled via a CLI flag so people can opt-in or out themselves?

[2019-05-20 16:02] jlengstorf commented on #13989
To clarify, `site` filters will find any site node that matches the filters. It isn't intended to filter the subfields of the node.

One way to solve this problem is to filter in your JS:

[code]

Sub-filtering on field nodes probably won't get added as a default feature, but you can [add this on your own using schema customization APIs](https://github.com/gatsbyjs/gatsby/issues/10990#issuecomment

[2019-05-20 16:02] #13989 closed

[2019-05-20 16:11] m-allanson commented on #5951
This would be interesting to experiment with, but the perf savings may not be that huge. Would need good testing to ensure no breakage.

[2019-05-20 16:13] m-allanson commented on #11996
cc @jamo are you able to find out what percentage of build failures are related to sharp?

[2019-05-20 16:14] vstanyshevskyy commented on #14105
Hey @m-allanson,
indeed. `npm update` helped. Thanks for your time!

[2019-05-20 16:14] #14105 closed

[2019-05-20 16:15] m-allanson commented on #11240
Thanks @David - let's close this for now.

[2019-05-20 16:15] #11240 closed

[2019-05-20 16:16] jlengstorf commented on #13708
@prestonso great question — I think @marcysutton already did a bunch of work on the video workflows, though. Maybe she can add more info here?

[2019-05-20 16:18] m-allanson commented on #5834
I'm going to close this for now as it's not specifically actionable. @KyleAMathews will open new issues where appropriate.

[2019-05-20 16:18] #5834 closed

[2019-05-20 16:20] ciokan opened #14184 "[gatsby-plugin-sharp] generates same avatar hundreds of times"
I have a blog with close to 200 hundred posts where one of the GraphQL queries fetches the author for each post (name, info, avatar). The problem is that I only have 2 authors in there but, when building the site, Gatsby is re-creating that avatar over and over...for each post. I can see it in Netlify's console log:

    8:13:53 PM: warning
    8:13:53 PM:                  The requested width "120

[2019-05-20 16:22] Siyfion opened #14185 "Automatic TypeScript Definitions Generation"
## Summary

This feature request stems from a conversation on the Gatsby discord server that I had with @DSchau in which I asked:

### Basic example & Motivation

### Progress so far

I have managed to get the `apollo:codegen` tool to recognise the queries Gatsby uses by changing imports to `import { graphql as gql } from 'gatsby'`, as I believe it's looking for `gql` tags. However, as stated abov

[2019-05-20 16:23] #14134 closed

[2019-05-20 16:25] m-allanson commented on #10890
Question for folks - is this something that should be moved in to core? What should be optional, what should be enabled for everyone? Is this something that always needs to be configured, so people would be better served by using the https://github.com/bejamas/gatsby-plugin-csp plugin?

[2019-05-20 16:31] ppsirius commented on #14076
@daydream05 Not at all, thanks to You I notice that I use a different plugin that doesn't support image optimization. I switch to right plugin and everything works fine :sunglasses:

[2019-05-20 16:40] hyperknot opened #14186 "Blurred image never shown"
## Description

In the default configuration of gatsby-starter-blog, the blurred image from markdown visible in `/hello-world` (salty_egg.jpg 684 KB), is never shown.

### Steps to reproduce
gatsby new test https://github.com/gatsbyjs/gatsby-starter-blog
cd test
yarn build
yarn serve
put Chrome network panel to disable cache + slow 3G (+ clear site data for worker cache if needed)
load http://loca

[2019-05-20 16:42] travi commented on #10890
i think the community would benefit greatly from some good defaults in this area. gatsby does a great job in other areas of making it easier to do the right thing than the wrong thing, but this is an area that is currently quite difficult to do the right thing.

that said, it may be quite difficult to get to that point that would work out of the box for all configurations, but even warnings to hel

[2019-05-20 16:51] bakeruk commented on #10339
PR created with working fix #14187

[2019-05-20 16:55] marcysutton commented on #13885
For the site chrome issue, that does make sense to do in the scope of the redesign. The plugins page thing seems worth investigating anyway to know why it's happening.

[2019-05-20 16:57] hyperknot opened #14188 "[gatsby-remark-images]: bug: uses filename as alt text when showCaptions is true"
## Description

Since https://github.com/gatsbyjs/gatsby/pull/13489, when using `showCaptions:true` `gatsby-remark-images` inserts the file name, when using the standard img snippet:

[code]

### Steps to reproduce
1. Enable showCaptions:true with latest version of plugin
2. Add `![](./img.jpg)` to a markdown

### Expected result
Shouldn't be any caption shown

### Actual result
The file name is i

[2019-05-20 16:58] hyperknot commented on #14186
I see, this is simply because the starter is still using 2.x of gatsby-remark-images.

[2019-05-20 17:18] marcysutton commented on #13708
Hey there. #13170 did add more docs for working with video, but it doesn't quite go all the way for HTML5 video. The page has a callout for requesting more details and there's an open issue:
- https://www.gatsbyjs.org/docs/working-with-video/#hosting-your-own-html5-video-files
- https://github.com/gatsbyjs/gatsby/issues/3346#issuecomment-483814732

[2019-05-20 17:26] KyleAMathews opened #14190 "Remove 3x images from gatsby-plugin-sharp"
From Twitter Engineering blog: https://blog.twitter.com/engineering/en_us/topics/infrastructure/2019/capping-image-fidelity-on-ultra-high-resolution-devices.html

So removing support for generating 3x images would both speed up loading images for users & it'd speed up generating the site since it'd be one fewer thumbnail to generate.

This wouldn't be a breaking change since thumbnail generation i

[2019-05-20 17:27] #13429 closed

[2019-05-20 17:27] marcysutton commented on #11524
To echo Kyle's statement above, we need reproducible demo sites to be able to help. http://gatsby.dev/reproduction

[2019-05-20 17:31] lannonbr commented on #14185
CC: @pieh I recall you having something similar to this if I am not mistaken

[2019-05-20 17:33] DSchau commented on #14190
This seems super easy to implement, and _could_ be reasonably impactful at getting build speeds down slightly.

I'll provide some details for implementation if it helps others.

## Details

1. Remove [this line](https://github.com/gatsbyjs/gatsby/blob/4131a09d03ed835ec0887fa674c64693975c8b61/packages/gatsby-plugin-sharp/src/index.js#L319) and [this line](https://github.com/gatsbyjs/gatsby/blob/413

[2019-05-20 17:40] jonniebigodes commented on #14126
some more information [here](https://github.com/gatsbyjs/gatsby/issues/13429#issuecomment-494079144), same issue but with portuguese/spanish typed characters

[2019-05-20 17:43] shannonbux commented on #13996
Yes, I'll spearhead testing the #14085 implementation and if it goes well, then try expanding it to include more! I'm glad we're exploring this now before themes become more mainstream

[2019-05-20 18:15] wardpeet commented on #14190
Yes! I believe I saw this in a Google io talk too. Let's do it! Let me slap some labels on it.

[2019-05-20 18:26] pieh commented on #14185
@Siyfion I'm not sure if this still works - but you can try checking https://github.com/pieh/gatsby-query-result-type-gen

[2019-05-20 18:36] pieh commented on #14185
Yep, it doesn't work anymore after some refactoring done in gatsby (as I was importing some gatsby internals there), but it probably can be updated to work again.

The fragment blocker you mentioned - please check my code - I was importing "queries" directly from gatsby redux store (and not parsing your project directly). This ensures that any fragments that were used will be attached to queries (

[2019-05-20 18:45] bitttttten opened #14192 "error UNHANDLED REJECTION Error: Failed to process image"
## Description

When running `yarn develop` sometimes it fails with the error from the title. Note that it sometimes fails.. maybe 2 out of 3 times it will fail. I am not sure what is causing this so any input is appreciated :)

[code]

### Environment

I am running Ubuntu on Windows (WSL), Windows 10.

[code]

[2019-05-20 18:52] lfalcao commented on #14139
I had the same problem with node 8.0.0, using 10.15.3 as @jimcal said and worked... :taco:

[2019-05-20 18:59] iamskok opened #14193 "Invariant Violation: Encountered an error trying to infer a GraphQL type"
To reproduce the error please clone **[this repo](https://github.com/iamskok/gatsby-shopify-invariant-violation-example)**

Useful Links:

  - [Retrieving metafields with the Storefront API
](https://help.shopify.com/en/api/custom-storefronts/storefront-api/guides/metafields)
  - [Shopify GraphQL Admin API](https://help.shopify.com/en/api/graphql-admin-api)
  - [Shopify GraphQL Storefront API](htt

[2019-05-20 19:14] KyleAMathews commented on #14190
Cool! Thanks for the feedback — let's get going on this!

[2019-05-20 19:15] DSchau commented on #12953
Note: we tried this in #13256 and didn't see a big speed-up, or really any discernible difference. Hard to merge that PR in the absence of a clear and obvious benefit due to the additional (small!) complexity of using another tool like ncc.

It's possible we don't necessarily have the kind of project that would benefit from this (e.g. _tons_ of require statements that slow down the Node.js process

[2019-05-20 19:15] #12953 closed

[2019-05-20 19:18] marcysutton commented on #14017
This looks good to me. I added a "1a" to the docs scope to link to the Breadcrumb and TOC component issues, so they are considered for way-finding through the docs. One of my TODOs is to scope out MDX components for docs–I can link to that from here once I've got something to review. Those seem easy enough to slot into individual pages once the overall design is figured out, while a bigger need fo

[2019-05-20 19:19] #11490 closed

[2019-05-20 19:44] jonathanphz commented on #7003
Seems the file in "2. Created a .babelrc file in the project root and pasted in the sample file from the gatsby website https://www.gatsbyjs.org/docs/babel/#how-to-use-a-custom-babelrc-file" has changed. Anyone has a copy?

[2019-05-20 19:57] KyleAMathews commented on #14017
Echoing what @shannonbux said — all of the items in (2) might not best be handled on the home page. E.g. 2a is already handled very nicely by clicking "Get Started" and arriving at https://www.gatsbyjs.org/docs/

It's not clear that anything past the diagram on the homepage is particularly effective. Looking at Google Analytics, less than 1% of visitors people click on links further down the page.

[2019-05-20 20:09] thecodingaviator commented on #14190
I'd take this up please

[2019-05-20 20:17] KyleAMathews commented on #14190
Awesome thanks!

[2019-05-20 20:22] KyleAMathews commented on #14017
I'd also like added to this document an indication of how we'll know we're meeting the outcomes. Also what is the current state of things.

The starters page seems like it should be focused on more than plugins. Both are heavily used but the starters page is viewed more and earlier than the plugins page. And the starters page is much lower quality than the plugins page and has been iterated on les

[2019-05-20 20:24] KyleAMathews commented on #14017
For starters some things that could be done:

it should be easier to find — highlight more our official starters, the categories should be sorted by the most common category & those be audited, same with dependencies, etc.

[2019-05-20 20:27] KyleAMathews commented on #14139
It looks like the prompts package broke us. We should look into pinning it to an older version if we can.

[2019-05-20 20:31] pieh commented on #14139
Or swap to https://github.com/SBoudrias/Inquirer.js which does claim to support node 6+

[2019-05-20 20:38] ZhenWang-Jen commented on #9047
One workaround is to include all files that you gonna use in the component and then provide variable names when you actually access the data.

One example I'm using is a reusable hero image component.

In my hero.js, I have something like:
`    <StaticQuery
        query={graphql`
          {
            home: file(relativePath: { eq: "heros/home/hero-1.png" }) {
              childImageSharp {

[2019-05-20 20:53] KyleAMathews commented on #14017
Put yet another way. These are all important outcomes but how do we know which ones currently need the most help and how will we determine whether any chance we've made has reached our desired outcome?

[2019-05-20 20:57] KyleAMathews commented on #14017
I don't know that we should frame this work as "gatsbyjs.org is in need of a facelift!"

.org in general works really well. We need to identify specific incremental improvements we can make.

[2019-05-20 21:28] calcsam commented on #14017
Re: the conversation on point (2), it makes me think that the most important things to convey from the homepage -- for casual visitors who aren't planning on getting started right now but might in the future -- is the sense that there _is_ a rich ecosystem, comprehensive documentation, and vibrant community. How much we actually share about each of these could be totally variable, the most importa

[2019-05-20 21:29] DSchau commented on #14192
@bitttttten this will be a fairly challenging one to debug, but we're happy to help!

First -- could you [supply a reproduction](https://gatsby.dev/reproduction)? That will help us best use our time to help you here, since otherwise we'd just be guessing and wouldn't be able to help as efficiently or quickly!

Thanks!

[2019-05-20 21:40] kwiechmann opened #14195 "[bug]: Escape patterns in regex filtering do not work consistently"
## Description

[code]
is unable to find an image. The relativePath regex is deliberately longer so that similar but different URLs: `https://www.foo.com/panda+(2).jpg` (Remote Img) and `panda+(2).jpg` (Local Img) do not unexpectedly match.

### Steps to reproduce

1. Start with a remote Img.
2. Put query into index.js
3. `gatsby develop`
4. Get a NULL error if not found.

### Expected result

Fou

[2019-05-20 21:47] DSchau commented on #14188
This is due to [these lines](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/index.js#L142-L148) in gatsby-transformer-remark.

Specifically, we fallback to a default alt tag, which is a normalized variant of the file name. This is a good heuristic to apply for the actual `alt` tag applied to the HTML image. However, it's less clear if this is something we'd want t

[2019-05-20 21:54] hkr86 commented on #8089
This is not fixing the issue for me. If I run gatsby build all the index.html files have an empty title tag (<title></title>). On client side it gets rendered. Looks like ssr is not working. Any solutions?

[2019-05-20 21:55] hyperknot commented on #14188
I'm quite sure no one was using this with filenames inserted as captions.

The bigger question here is how should caption-less images work. The problem is that showCaptions substantially changes the DOM layout with figures + captions vs. when it's off and we only have a simple img.

What should be the behaviour?
1. Make caption-less images look the same as with showCaptions:false and thus have 2 d