[2020-03-12 06:34] tsriram commented on #21447
@pvdz awesome! This has brought down the "source and transform nodes" to ~40s. Yeah, ideally I'd like to avoid the link altogether, but if you all think that's not the best way, I think this is the best we can get for now :)

[2020-03-12 06:54] spielers commented on #21142
@arshadkazmi42 @LekoArts help us to get started.

[2020-03-12 06:57] visshaljagtap commented on #21142
Please add me in maintainers (visshaljagtap)

[2020-03-12 06:59] visshaljagtap commented on #21142
@spielers Please add me in maintainers (visshaljagtap)

[2020-03-12 07:09] winstonma commented on #13956
I got the same issue and problem solved by using [gatsby-plugin-react-helmet](https://www.gatsbyjs.org/packages/gatsby-plugin-react-helmet) plugin. See if this solves your problem.

[2020-03-12 07:54] spielers commented on #21142
@visshaljagtap added you as a maintainer let @arshadkazmi42 @LekoArts suggest the path for getting started

[2020-03-12 07:56] arshadkazmi42 commented on #21142
@spielers some moderator will setup the repository for you, whenever they are online.

[2020-03-12 09:09] #20692 closed

[2020-03-12 09:39] #22164 closed

[2020-03-12 09:46] pieh commented on #22193
Hey @k4y4k! The feature / docs you linked to are in experimental phase and was actually very recently released, so there are rough edges there.

Gatsby right now just output those files when using a flag (`newPages.txt` and `deletedPages.txt`) and for now it's up to you / your CI setup to make use of them. Gatsby doesn't take any input from that files - those are more of a "report" style thing or

[2020-03-12 09:49] pieh commented on #22191
Hey this is likely caused by outdated `@babel/helper-compilation-targets` dependency of dependency (which had problem in some versions to work in Node 13) - please try to delete package-lock.json or yarn.lock (depending which package manager you use and re-install dependencies).

[2020-03-12 09:59] pieh commented on #22190
Best bet here is that Ptj.js tries to use `window` object at import time.

I would suggest using something like `React.lazy` and dynamically import `bg-art.js` (from repro). This should prevent trying the render of ptj.js in SSR

[2020-03-12 10:03] pieh commented on #22151
I'm not sure if it was ever intended to return promise (and thus typings are wrong). Making navigate return promise might be difficult to implement (because we would actually wait for new path template to render before resolving the promise)

[2020-03-12 10:06] pieh commented on #22159
`gatsby-source-git` already creates `File` nodes from git imported files, so adding another `gatsby-source-filesystem` that checks `.cache` is creating duplicates - you shouldn't need additional `gatsby-source-filesystem` here

[2020-03-12 10:25] snitin315 commented on #22194
@moonmeister I would like to help with this one.

[2020-03-12 10:26] k4y4k commented on #22193
Ah, cheers fam :smile:. Yeah, I was afraid you might say that, but oh well. Cheers!

[2020-03-12 10:26] #22193 closed

[2020-03-12 10:39] moonmeister commented on #22194
Go for it! Thanks! Ping me when you open the PR and I'll give it a look.

[2020-03-12 11:02] pieh commented on #21791
We are waiting for few more days for response of `decompress` maintainers and if there won't be any, we will likely fork `imagemin-x` packages and replace usage of `decompress` there

[2020-03-12 11:15] pieh commented on #20815
Can't remove those deps or move to dev deps because of https://github.com/gatsbyjs/gatsby/issues/20815#issuecomment-577703587 - the additional 3 deps there are peer deps of `eslint-config-react-app` so they also need to stay

[2020-03-12 11:15] #20815 closed

[2020-03-12 11:19] SamBenson commented on #20918
Still having this issue - any fixes in sight? Updating doesn't appear to make any difference.

[2020-03-12 11:19] kevrowe commented on #21977
I'm getting this same error with newer versions, updated to 4.1.41 because I was having issues at 4.1.6

[code]

[2020-03-12 11:30] kevrowe commented on #21977
Updating to `gatsby@2.19.40` resolved this for me

[2020-03-12 12:03] fcsm82 commented on #22191
Thanks, It resolved ERROR #98123 WEBPACK

[2020-03-12 12:09] #22072 closed

[2020-03-12 12:16] santoshdahal12 commented on #22159
@pieh Thanks. I initially understood that from the documentation of `gatsby-source-git`.  But, how to tell `gatsby-transformer-remark` to read from from the file node. I thought `gatsby-source-filesystem` makes it easy to source markdown data.

[2020-03-12 12:33] jnsrikanth commented on #21934
@jonniebigodes  thanks for a detail drill down into the issue and providing some improvements/tips for running graphql queries inside MDX pages and a few options. The search functionality that you developed and provided seems very useful, although in a different context such as a site search itself.

What I was looking for in a more precise fashion is my ability to go directly to the path of a blo

[2020-03-12 12:42] jimmyandrade commented on #21791
@pieh thanks for the answer. An issue reporting this was created by @medikoo two weeks ago in https://github.com/kevva/download/issues/189 and another by @simotae14 in https://github.com/kevva/decompress/issues/76, and we've had no response from maintainers so far.

The last commit on `decompress` repo was on Aug 22, 2017 (https://github.com/kevva/decompress/commit/74a462a139cc2561b6695e696266c8dc

[2020-03-12 12:52] visshaljagtap commented on #21923
@yurist38 Please review the changes!

[2020-03-12 13:08] LekoArts commented on #21923
Hi!

Unfortunately this issue has some problems I'd like to explain so that you all can react better to that in the future.

The initial issue was a suggestion which we would have closed as we don't want to do that right now. So in the future @kanolato and @yurist38 please wait for an approval/comment from an employee of Gatsby first.
@kanolato did in theory the right thing and assigned it to hims

[2020-03-12 13:08] #21923 closed

[2020-03-12 13:10] visshaljagtap commented on #21923
@Leko Understood! Thanks for the clarification :)

[2020-03-12 13:35] SajithRAP opened #22203 "Is there a way to add preloader animation i.e during the initial loading of the website, a animation should happen till the page is loaded completely"
Is there a way to add preloader animation i.e during the initial loading of the website, a animation should happen till the page is loaded completely

[2020-03-12 13:36] SajithRAP commented on #22203
I have reference nplugin it is a loader post the page load. I'm looking for something pre-load of the webiste

[2020-03-12 13:37] #20630 closed

[2020-03-12 13:41] pieh commented on #22124
Ok, so seems like reach/router fixed this only when using reach/router Link components, but we do overwrite this and call `navigate` in reach/router directly (thus skipping path where checks in reach/router happen).

I'm not exactly sure when `replace` should happen - do all url parts (domain, pathname, hash, query string) need to match - or just domain and pathname -  I think reach checks for all

[2020-03-12 13:55] pieh commented on #18866
I just want to mention we just published new version of gatsby (`gatsby@2.19.41`) with bit improved loader resilience (PR that I mentioned - https://github.com/gatsbyjs/gatsby/pull/18051 was merged). It will not fix all the issues, but large chunk of them are handled.

We also re-added some e2e tests to verify navigation correctness in bunch of scenarios when resources fail to load (for whatever r

[2020-03-12 13:58] pieh commented on #22148
The example you found is probably most correct way of doing this right now.

There are plans to make it nicer to adjust webpack config that come from core (like changing option, or even bumping loader versions), but it's not done yet (and it's TBD if we will try to do it ultimately)

[2020-03-12 14:00] 3nvi commented on #22124
Exactly, gatsby uses the imperative `navigate` instead of wrapping the actual component. Since it has been identified as an issue in the underlying navigation library, I feel that Gatsby should adjust as well.

I'm not aware whether removing the `onClick` and delegating it to `@react/router` will create any issues though :/

[related code](https://github.com/gatsbyjs/gatsby/blob/4e97b1542fc336dbd3

[2020-03-12 14:02] pieh commented on #22124
It's not that simple, because our navigation code also handle resource loading (primary reason why we don't use reach/router link components really) before doing actual navigation. Otherwise we would have flashes of content if use reach navigation and only after load resources

[2020-03-12 14:04] pieh commented on #22124
We also can't use something like Suspend because minimal react version supported by gatsby@2 doesn't have Suspend support :S (not to mention that data loading with Suspense is not yet stable AFAIK and throwing method to suspend might not be the final API in react (?) )

[2020-03-12 14:06] pieh commented on #22124
Maybe solution here would be to move the checks in `@reach/router` so they are not in Link component, but rather in `navigate` function. Other options are to re-implement this in gatsby runtime.

I wonder what @blainekasten thinks about this ;)

[2020-03-12 14:06] 3nvi commented on #22124
Gotcha, yeah I didn't dig into the "whys" at all. Understood. Perhaps mimicking the same logic that exists in `@reach/router`?

Would you accept a PR to add a behavior similar to [this](https://github.com/reach/router/blob/85f7560bc0b4fd59c439c0c1d0fb5d32c3c273f8/src/index.js#L414-L422)?

[2020-03-12 14:16] jamessimone commented on #20630
@stephencweiss did you ever figure out anything to address this?

[2020-03-12 14:17] Ciantic opened #22206 "gatsby-plugin-react-helmet orders the components too late in <head>"
## Description

When I use `gatsby-plugin-react-helmet` I notice that the `<Helmet />` components come way too late in the head tag. I have noticed that on occasion for instance Facebook does not always parse the `og` tags if they come too late in the head.

### Steps to reproduce

Just use `<Helmet />`, and notice in the static output files there is a lot of CSS related stuff etc. above the helme

[2020-03-12 14:24] rnwolf opened #22207 "Color of text in WSL terminal such that it is invisible after running gatsby develop"
## Color of text in WSL terminal such that it is invisible after running gatsby develop

Using Gatsby in WSL2/ubuntu environment, and when I run `gatsby develop` and then escape to the terminal prompt again, the terminal text color is such that I cannot see the text that is typed.

### Steps to reproduce

I am using https://github.com/rnwolf/rnwolf.net.github.io
cd ~
cd rnwolf.net.github.io
gatsby

[2020-03-12 14:27] gusbmurphy commented on #22190
@pieh that seems to have done it! Thanks so much Michal, and also @jonniebigodes. I essentially copy-pasted the example from [React's docs on code splitting](https://reactjs.org/docs/code-splitting.html). Good to know it's something so simple and well-implemented.

[2020-03-12 14:27] #22190 closed

[2020-03-12 14:32] luishocke opened #22208 "texts gets highlighted when clicking on not related area"
## Description

When clicking and dragging somewhere on a page, text that is above gets highlighted, even if there is no relation between the element (if any) where the click/drag event happens and the text element.

### Steps to reproduce
1) create project or use [https://gatsby-starter-hello-world-demo.netlify.com/](url)
1a)
`gatsby new gatsby-starter-hello-world https://github.com/gatsbyjs/gats

[2020-03-12 14:42] stephencweiss commented on #20630
I did not. It’s on my list to switch over to mdx and some more standard styling to see if that helps, but haven’t had a chance to test it.

Stephen Weiss | 651.233.6827
On Mar 12, 2020, 9:16 AM -0500, James Simone <notifications@github.com>, wrote:

[2020-03-12 14:43] pieh commented on #22208
This is not Gatsby issue - if you have following html snippet (no gatsby):

[code]

It will behave the same:
![Kapture 2020-03-12 at 15 42 24](https://user-images.githubusercontent.com/419821/76533284-1dfa0880-6478-11ea-8b95-d8a198a195c9.gif)

[2020-03-12 14:43] #22208 closed

[2020-03-12 14:44] pieh commented on #22207
Would use `--no-color` switch help here? to avoid gatsby from having any color outputs?

[2020-03-12 15:02] rnwolf commented on #22207
No that does not seem to work. Just to add the colours have been removed from the output to the screen.
I still need to `reset` in order to see typing at the terminal.

![Annotation 2020-03-12 150030](https://user-images.githubusercontent.com/117415/76535198-67475980-6472-11ea-8559-a74e1ac1a38d.png)

[2020-03-12 15:31] mujeex opened #22211 "Can't access contentful space from gastby."
## Description

I have been trying to get my gatsby project to connect to my contentful space. I made sure I added all the required fields (spaceId, accesstoken) in the config files, but I keep on getting the following error message.
[code]

### Steps to reproduce

Here is a bug repo to reproduce the error.
https://github.com/mujeex/gatsby-bug-repo
### Expected result

I expected the site to build

[2020-03-12 15:44] pieh commented on #22211
Do you have `develop` environment in your contentful space?

Our contentful example site ( https://github.com/gatsbyjs/gatsby/tree/master/examples/using-contentful ) is working correctly, so this have to be configuration issue.

[2020-03-12 15:45] benrobertsonio opened #22212 "[gatsby-source-drupal]: Cannot destructure property `attributes` of 'undefined' or 'null'"
## Description

Received a bug report for people using the gatsby-source-drupal plugin in Gatsby Cloud - they sometimes see this error on their when saving content.

[Drupal.org Issue](https://www.drupal.org/project/gatsby/issues/3118764)

It's possible there could be an underlying issue in the Drupal Gatsby module, but I think we could get past this error for now by doing a safe check for `datum`

[2020-03-12 15:45] mujeex commented on #22211
Yes I do have that configured in my contentful space.

[2020-03-12 15:52] nickwarters commented on #21263
I've experienced the same issue, but only with some links. After trying a number of things I found it was only an issue with url paths with a capital letter in them. As soon as I switch them all lowercase they work fine.
To get around this, I have tried using a slugify function to convert all each everything to a lowercase URL in my Gatsby-Node but it doesn't seem to be wanting to play ball.

[2020-03-12 16:07] WilcoFiers opened #22214 "keyboard accessibility of "Trusted by" widget on the Gatsby homepage"
I noticed this issue when running [axe](https://chrome.google.com/webstore/detail/axe-web-accessibility-tes/lhdoppojpmngadmnindnejefpokejbdd) on the www.gatsbyjs.org. The "Trusted by" widget shows a series of logos that can be scrolled horizontally. Because the scrollable element is not focusable, and there is no focusable element inside the `div` there is no way for a keyboard user to scroll this

[2020-03-12 16:10] jbampton opened #22215 "Broken built by url in sites.yml"
Hey @marcfehr your built by url is broken.

Should it be [https://www.marcfehr.ch/](https://www.marcfehr.ch/)

https://github.com/gatsbyjs/gatsby/blob/eb94fe9d4bbe4a51e03127d3596a92838fba8176/docs/sites.yml#L7521

[2020-03-12 16:16] nickwarters commented on #21263
Okay ... I managed to fix it for me. I had pages which were created with slugified paths, however some of my links were pointing to un-slugified paths of the pages. Theoretically this should have just returned a 404 Page not Found however instead it threw this error.

Resolved for me now though.

[2020-03-12 16:22] pieh commented on #22214
Thanks for report and suggestion how to fix it!

Drilling down code a bit - seems like `<LogoGrup>` does need `tabindex` attribute ( https://github.com/gatsbyjs/gatsby/blob/eb94fe9d4bbe4a51e03127d3596a92838fba8176/www/src/components/homepage/homepage-logo-banner.js#L93 )

[2020-03-12 16:28] marcfehr commented on #22215
Thanks, added pull request for this.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, 12. March 2020 18:11, John Bampton <notifications@github.com> wrote:

[2020-03-12 16:33] mujeex commented on #22211
I don't think this issue was encountered in the version of the gatsby-source-contentful plugin used in your project. It worked perfectly fine in version 2.1.42

[2020-03-12 16:36] pieh commented on #22211
I used latest version of `gatsby-source-contentful` - `2.1.96`

[2020-03-12 16:38] mujeex commented on #22211
Mine is 2.1.92. Let me try getting it to your version and see how it goes.

[2020-03-12 16:40] pieh commented on #22206
Do you have any "sources" about facebook skipping trying to extract `og` tags if they are not early enough?

I'm not sure but ordering of this stuff shouldn't matter as long as it's there.

[2020-03-12 16:43] pieh commented on #22206
In https://html.spec.whatwg.org/multipage/semantics.html#the-meta-element I don't see any notion about ordering. Only ordering restrictions relate to charset meta - https://html.spec.whatwg.org/multipage/semantics.html#charset :

[2020-03-12 16:44] pieh commented on #22206
So if facebook don't pick up those tags if they are later on in <head> - it seems like it's facebook that doesn't follow spec?

[2020-03-12 16:49] mujeex commented on #22211
Still not working after upgrading to the latest

[2020-03-12 17:01] pieh commented on #22211
Hmm it does here regardless of using environment (other than default `master`). Do you have your access token setup to be allowed in this `develop` environment? By default previous access tokens doesn't seem to be allowed for other branches in Contentful (branches other than `master` were ticked off for me). So initially I saw same message, but after fixing access token in contentful to allow for

[2020-03-12 17:06] mujeex commented on #22211
Yes, I made sure I ticked both environments as well. I initially didn't even create any other environment, and was using the **master** env as the default, then I tried to add another env to see if the problem was from my **master** env which turned out to not be the case.

[2020-03-12 17:08] mujeex commented on #22211
This is really weird as I have another site fetching data from the contentful space with no issues whatsover.

[2020-03-12 17:15] Ciantic commented on #22206
No I don't have sources, this is a few years ago, I had the problem in entirely different stack. I watched the FB bot crawling and downloading only n-amount of bytes from the top, and if the og tags was not there it didn't parse them.

[2020-03-12 17:16] mujeex commented on #22211
Okkk... It works now! Turns out I was using a **personal access token**

[2020-03-12 17:19] mujeex commented on #22211
Sorry for all the troubles. It's safe to say that updating to the latest version of the **gatsby-contentful-plugin** solved this problem for me, because I only switched to trying **personal access token** when I exhausted all the approaches using the default content delivery API

[2020-03-12 17:21] szimek commented on #19491
I've got the same issue with Contentstack:
[code]

[2020-03-12 17:25] #22148 closed

[2020-03-12 17:37] OWMC commented on #7713
I saw this in search console. It seems Json data is not being seen by Google because of this. Which has SEO implications.

[2020-03-12 17:55] #22211 closed

[2020-03-12 18:11] sh1mmer commented on #20705
FWIW I saw this too and running `rm -rf ./.cache` and restarting `npm run develop` didn't work for me but running `gatsby clean` did. I don't know if `gatsby clean` is doing some magic.

[2020-03-12 18:43] mbwatson opened #22221 "Hash Params, after OpenID Redirect"
## Summary

I'm attempting to integrate a Gatsby app with an external authentication tool that uses OIDC. I link over to their external login page, enter credentials, log in, then the redirect URL contains a bunch of hash parameters, `token_type`, `id_token`, etc.

The problem I'm having is that Gatsby seems to want to check the DOM for an element with an ID given by the hash string appended to th

[2020-03-12 19:03] pvdz commented on #21447
While I wouldn't mind another 50% cut, I think this is acceptable without becoming too specific.

If you have further ideas please share them. I'm super happy we were able to merge this fix. Thanks a lot! :D

[2020-03-12 19:03] #21447 closed

[2020-03-12 20:00] brycefranzen commented on #21913
I'm having the same issue -- working in a mono repo with yarn workspaces.  Worked on version `2.1.23`.  Any higher version, it fails during build/develop.

[2020-03-12 20:07] Ciantic commented on #8998
I actually agree with @axe-z the apollo should be more integrated. Sure if your site is only static site apollo is not that interesting, but most sites I get use some sort of dynamic queries.

Now it's hassle to get it working similarily as `useStaticQuery` e.g. the `gatsby-plugin-typegen` of course does not support apollo by default so I need to find two different ways to generate types.

[2020-03-12 20:48] nitishbhushan2013 commented on #564
thanks @lucalanca  your solution fixed my issue..

[2020-03-12 20:51] danielmgzzg commented on #21791
kind petition to replace usage of `decompress`? Who's with me?

[2020-03-12 21:03] xmflsct commented on #20984
I can confirm about @axe312ger that no two static queries should have the same name.

[2020-03-12 21:18] herecydev opened #22229 "Provide better explanation of staleness during page loading"
## Summary

Gatsby has a mechanism to prevent staleness by forcing a `window.location` refresh when the site has changed on the server-side. This isn't an obvious behavior, or at least not for me initially. Gatsby acts like a SPA until the point it detects a content change. This can be problematic if the site is being used to track any state, e.g. Redux.

What adds to the problem is that it only h

[2020-03-12 21:36] KyleAMathews commented on #22229
Curious to hear more about what problems this causes. Do you only load data into redux on certain routes? People can refresh the app at any moment which is the same thing as Gatsby triggering a refresh on a route change right?

Also is this during clientside routes? I can see us not triggering refreshes there as being a good thing as no content is changing while there

[2020-03-12 21:44] marcysutton commented on #16095
There's a meeting next week to discuss plugin authoring material for first-class integrations, so this issue could be satisfied as part of that discussion!

[2020-03-12 22:09] tesseralis commented on #21739
@nshaphan Thanks! Aside from these files, I think the next biggest thing that we could use tests for is the sidebar. It's definitely the biggest and most intricate of all our components, and we're probably about to do some feature changes on it. Do you think you could take a look at it and see what functionality needs to be tested? If you write some tests, could you put it in a different PR than t

[2020-03-12 22:27] jimmyandrade commented on #21791
There is a joint effort by the community to address this vulnerability directly in decompress (see https://github.com/kevva/decompress/pull/73) and related repositories. I believe they are waiting for a timely response from the maintainers to make the decision to fork the project 😄

[2020-03-12 23:08] jimmyandrade commented on #17865
I'm experiencing the same issue.

[2020-03-13 00:03] alexfromesper opened #22233 "Optional media file download for gastby-source-wordpress"
**Summary:**

Currently the plugin downloads all the media files when the media path is added to the included routes. This means that even images that are not being used on the site, are downloaded locally.

A solution would be to have a field under options where you can specify whether you want to have the plugin download the media for you, or you could download them manually after the nodes are

[2020-03-13 01:50] connorlindsey commented on #22206
This API gives you some more control over the head component: https://www.gatsbyjs.org/docs/ssr-apis/#onPreRenderHTML

You could re-order the SEO tags like the example shows for TypographyStyles.

[Customizing html.js](https://www.gatsbyjs.org/docs/custom-html/) could also give some potential solutions.

[2020-03-13 03:04] chuyenlee opened #22234 "gatsby-plugin-create-client-paths not working with build command"
## Description

Gatsb + Contentful

I following this document https://medium.com/the-couch/live-preview-in-gatsby-without-the-cost-21f8ac0337bb to create a dynamic link to present data from a content type without generate content type page.

The idea is use gatsby-plugin-create-client-paths plugin to create link.

I see this working with development stage. but when build i got 404 page when access

[2020-03-13 03:19] igigi opened #22235 "XMLHttpRequest cannot load http://localhost:8000/page-data/app-data.json due to access control checks."
## Description

safari don't work, chrome is ok

safari debug display " XMLHttpRequest cannot load http://localhost:8000/page-data/app-data.json due to access control checks."

"XMLHttpRequest cannot load http://localhost:8000/page-data/qrcode/page-data.json due to access control checks."

### Steps to reproduce
1. open https://smallsticker.com website, add a product to cart.
2. open cart, click "

[2020-03-13 03:27] zwl1619 opened #22236 "How to do authentication and RBAC authorization?"
How to do authentication and RBAC authorization when using gatsby?
Not using Netlify Identity and Auth0.

[2020-03-13 05:23] JustFly1984 commented on #22235
well, it is not a bug of Gatsby, you need to run localhost:8000 with HTTPS.

[2020-03-13 07:03] herecydev commented on #22229
As a hypothetical example: A pet store selling pet products. Each product has it's own route and pages are generated for them (SEO + perf benefits 👍 ). A typical flow looks like the following:

Lands on pet product page => chooses to purchase => goes to payment details screen => payment is handed off to paypal/stripe

During the payment details screen they need to enter some brief personal details

[2020-03-13 09:01] mkloar commented on #22125
We didn't reproduce this error on gatsby develop until now.

![errorThrown](https://user-images.githubusercontent.com/17946736/76605886-89dc7f80-6511-11ea-812b-1945b98a07c9.PNG)

We deleted some images inside our content folders.

[2020-03-13 09:09] sasurau4 commented on #21995
I'll work on `stack-trace-utils.js`

[2020-03-13 09:12] magnusarinell commented on #21998
I'm facing the exact same issue.

[2020-03-13 09:23] martijnjanssen commented on #21995
I'm working on `jobs-manager.js`

[2020-03-13 09:37] styxlab opened #22238 "Gatsby Cloud builds should not fail on deprecation warnings"
# Description

Deprecation warnings from the Node environment should not lead to failing Gatsby Cloud builds.
Currently [gatsby-starter-try-ghost](https://github.com/styxlab/gatsby-starter-try-ghost) is hit by #18433. As this is only a warning, it should not lead to failing builds on Gatsby Cloud.

# Reproduction

Simply try to build a starter affected by #18433, e.g. [gatsby-starter-try-ghost](ht

[2020-03-13 09:40] styxlab commented on #22238
gatsbyjs/gatsby/issues/#22238

[2020-03-13 09:45] frank-26 opened #22239 "gatsby-transformer-remark not surport node v13.8"
I think this need update.

[2020-03-13 10:00] LekoArts commented on #22238
Thank you for opening this!

Please contact support@gatsbyjs.com - the repository is not the right place for inquiries about Gatsby Cloud.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contributing/community/#where-to-get-su

[2020-03-13 10:00] #22238 closed

[2020-03-13 10:17] LekoArts commented on #22064
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-13 10:22] shivaylamba opened #22241 "Fix typos across project"
## Description
A lot of typos across docs.

### Expected result
Typos are resolved.

### Actual result
Typos are resolved

[2020-03-13 10:31] styxlab commented on #22238
I think this issue should be kept open as it looks like a `Gatsby-cli` issue and is probably best solved here.

[2020-03-13 10:35] svandersteene commented on #22203
I have the same question.

I'm trying to add page transition animations.
I used the react-transition-group dependency to wrap my page element in a transition-component as suggested on the web. However, this transition happens after the initial page-data loader.

Preferred behaviour;
The page animation starts just before the page load and animates whilst the page-data is loading.

[2020-03-13 10:56] tomyates commented on #13645
I get a 403 before render. Trying to work out a solution.

[2020-03-13 10:58] MichalMoravik commented on #13141
Hey guys, @yongelee I have the same problem you had before. After I did:

[code]
It didn't show the error BUT scrollmagic does not work after **gatsby build** and **gatsby serve**.  It just lost its functionality in production build. In development mode it works.

Could you, please, help me and tell me how you fixed this before? I would appreciate that! Thank you!

Here are versions of my packages

[2020-03-13 10:59] vladar commented on #22016
@henricazottes You are right about `first` - it is a node id that you can use to find a root ancestor node. I guess the best advice I can give is to try to restore [this line]( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/infer/type-conflict-reporter.js#L25)

The implementation of this function still exists [here](https://github.com/gatsbyjs/gatsby/blob/master/packages

[2020-03-13 11:01] Ciantic commented on #22206
I gave the workaround in my main post already. If this is not actionable at the moment I will close this.

[2020-03-13 11:14] vladar commented on #21996
@jordanlesich `gatsby-plugin-sharp` has those dependencies as it's sub-dependencies. So if you have `gatsby-plugin-shart` (or `gatsby-transformer-sharp`) they are installed for you by `npm`.

[2020-03-13 11:21] vladar commented on #22191
Thank you for opening this, @fcsm82

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-03-13 11:30] vladar commented on #22112
@MRDRMUFN One of the options is to use `__refresh` endpoint for develop. You will need to pass `ENABLE_GATSBY_REFRESH_ENDPOINT` environment variable to `gatsby develop` to enable this feature. [See related docs](https://www.gatsbyjs.org/docs/environment-variables/#reserved-environment-variables).

So any time when you need to refetch you could call this endpoint (I think you can even open it as a

[2020-03-13 11:51] Ekwuno commented on #20527
I created the first draft of PR #21961 to close this issue. I still need to add more context as reviewed by Laurie. We should get this wrapped up soon. Thanks for the input @pvdz 😄.

[2020-03-13 11:57] mimoid-prog commented on #14815
Doesn't work in `Gatsby version: 2.19.28`. The value of location.state is null

[2020-03-13 12:28] igigi commented on #22235
The production environment with HTTPS is same bug.

"XMLHttpRequest cannot load https://www.smallsticker.com/page-data/qrcode/page-data.json due to access control checks."

"XMLHttpRequest cannot load https://www.smallsticker.com/page-data/app-data.json due to access control checks.

[2020-03-13 12:33] JustFly1984 commented on #22235
Do you have static page qrcode, or is it dynamic page?

[2020-03-13 12:34] vladar commented on #22125
@mkloar We need to reproduce this locally somehow to help you. We'd very much appreciate if you could [provide a minimal reproduction][reproduction] and we'll be able to take another look.

Thanks for using Gatsby! 💜

[reproduction]: https://gatsby.dev/reproduction

[2020-03-13 12:37] JustFly1984 commented on #22235
If I remember correctly, Link component imported from gatsby preloads data with added functionality. Try to import Link from @reach/router directly for dynamic pages.
Sorry can’t type code from phone, will publish something to npm later

[2020-03-13 12:38] Abderrahmenla opened #22243 "gatsby-plugin-sitemap returned an error ==> SyntaxError: Unexpected template string"
### Description
executing gatsby build command fails after adding , gatsby-plugin-sitemap .

### Steps to reproduce
![1](https://user-images.githubusercontent.com/29304794/76621622-20b83480-6530-11ea-955f-2f52aa4f1132.png)

### Expected result
Build must be successful with sitemap.xml file created

### Actual result
Getting Error

error Plugin gatsby-plugin-sitemap returned an error
SyntaxError: U

[2020-03-13 12:41] vladar commented on #22128
Thank you for opening this, @zhuiks

We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion.

And thank you @yaacovCR for fixing this!

[2020-03-13 12:41] #22128 closed

[2020-03-13 12:47] vladar commented on #22132
This usually means that your JPEG images were corrupted somehow while downloading.

[2020-03-13 12:58] mkloar commented on #22125
I manage to figure it out. It was a broken png image which causes this error. After removing that picture everything worked as expected. You can close this up.

[2020-03-13 12:59] vladar commented on #22159
Remark should transform nodes coming from `gatsby-source-git` the same way it transforms nodes coming from `gatsby-source-filesystem`.

Have you tried removing `gatsby-source-filesystem` (which points to .cache)? You should still get the markdown parsed.

[2020-03-13 13:04] KoltesDigital opened #22244 "gatsby-source-filesystem's publicURL should keep file name"
## Summary

Change the file publicURL pattern from `${file.name}-${file.internal.contentDigest}${details.ext}` to `${file.internal.contentDigest}/${file.base}`.

https://github.com/gatsbyjs/gatsby/blob/2c089098a841fc74c4db57cc111ebf68988f3397/packages/gatsby-source-filesystem/src/extend-file-node.js#L17

### Motivation

My concern is that files which should be downloaded are renamed, and visitors

[2020-03-13 13:06] fcsm82 commented on #22191
Hi  @vladar it resolved only last issue ERROR #98123 WEBPACK, but I still have ERROR #11321 and ERROR #85925

[2020-03-13 13:08] santoshdahal12 commented on #22159
I have tried so many times.  I cant query normally like I do with source-filesystem. It always fails to start. Should I push the code to a branch .

The following is the query in my index.js to list all the posts. It fails to get allMarkdownRemark although the files are in .cache folder.
[code]

[2020-03-13 13:09] styxlab commented on #18433
Is there a chance to getting this solved quickly? Issue is hitting me on Gatsby Cloud and it's been a couple of months now that it was decided to wait for other dependencies.

[2020-03-13 13:16] pvdz commented on #22125
Glad you resolved it. Changed the title for better visibility. Hopefully it'll help somebody else looking for this error.

[2020-03-13 13:16] #22125 closed

[2020-03-13 13:23] vladar commented on #22169
Thanks for the great bug report!

I think we should try your solution and see if it works for all possible cases. So feel free to submit the PR!

[2020-03-13 13:28] vladar commented on #22191
Oh, sorry, I didn't realize it was a partial fix. The other error seems similar to #20698

Have you tried the fix proposed there:

[code]

[2020-03-13 13:33] vladar commented on #22207
@LekoArts I am curious have you seen something like this on WSL?

[2020-03-13 13:35] #22212 closed

[2020-03-13 13:38] mbwatson commented on #22221
So I realized this is in conflict with the plugin 'gatsby-plugin-anchor-links'. I suppose a workaround would be to tell that plugin to ignore the redirect route from my OIDC provider.

[2020-03-13 13:46] vladar commented on #22243
I think you need another `}` on line 46? The one on line 45 is for `options` key, not for the whole `gatsby-plugin-robots-txt` plugin section.

[2020-03-13 13:49] kapilgorve commented on #11090
I found that if I wanted to dynamically import any components. I had to do import them inside class components. If you import them in functional component , the props passed to imported component are not accessible.

[2020-03-13 13:51] vladar commented on #22241
Thanks for the suggestion. I think it would be helpful to mention at least several examples so that other people at least knew where to start?

[2020-03-13 13:53] gojutin opened #22248 "Question about gatsby-plugin-mdx"
`gatsby-plugin-mdx` does not seem to be including code blocks or JSX (imported or not) as part of an excerpt. I am not sure if this is by design, but I wanted to ask if there was a way to change this behavior? I am using the excerpt to send data to Algolia and would like code blocks and components output to show up as part of the excerpt.

I have included examples of an `mdx` and the related Graph

[2020-03-13 14:06] FranciscoImanolSuarez commented on #22191
The Webpack error  #98123  what is it due to? I'm in the same situation

[2020-03-13 14:07] vannio commented on #10233
I had the same issue, only mine was with `gatsby-source-contentful 2.1.96`. I just asked the IT admin to whitelist the filepath/folder that kept getting blocked and it was fine

[2020-03-13 14:16] LeeRob97 commented on #16763
@qramilq I am running into a strange issue with the media queries, when I am in development mode things work fine, but as soon as I create my production build the first element in the array is always loaded in, regardless of the media query. I have to resize my window in order for things to start working correctly.

[2020-03-13 14:23] LekoArts commented on #22207
No, I never run into this. Neither in VSCode internal terminal nor while using ConEmu. WSL sometimes has hiccups so I do a 'Ctrl + C' two or three times. But I always saw the text.

[2020-03-13 14:30] 1natsu172 commented on #21995
I'll take on `src/redux/actions/types.js`

[2020-03-13 15:04] Okazari opened #22250 "Issue using 'docz' since FastRefresh has been implemented"
## Description

I've got an issue that i believe is related to yarn but just in case i want to point it to you as it affect gatsby/docz users using react-native.

It's due to this committ https://github.com/gatsbyjs/gatsby/commit/205847b833c5f7783182ea54a3ddd72f6369ee47 adding `@pmmmwh/react-refresh-webpack-plugin` as a dependency.

see https://github.com/yarnpkg/yarn/issues/7987
see also https://

[2020-03-13 15:16] grgr-dkrk commented on #21995
I'd like to try `packages/gatsby-image/src/index.js`.

[2020-03-13 15:17] fcsm82 commented on #22191
@vladar It works! Thanks! Also helped to remove globally installed libvips

[2020-03-13 15:31] giupas commented on #19512
Hi @pvdz,

I manage a couple of news websites with over >500k contents and looking to use Gatsby as staticizer. Right now we're using a custom solution that staticize a single content via API. This has the advantage that a single page can be online in less than a second, a critical requirement for news websites. On the other end, changing templates requires a very slow republish of each content.

[2020-03-13 16:12] #21621 closed

[2020-03-13 16:14] igigi commented on #22235
It is page, should be dynamic, display a QR code with attributes through link

[2020-03-13 16:16] igigi commented on #22235
I will try it, thank you! But why is chrome ok?

[2020-03-13 16:19] sidharthachatterjee commented on #21621
Fix published in `gatsby@2.19.43` courtesy of @pieh and @blainekasten

[2020-03-13 16:36] barbalex commented on #21621
Yep, that solved my issue. Thanks!

[2020-03-13 17:01] #22215 closed

[2020-03-13 17:06] DSchau commented on #21853
@nikbelikov You can do something like this: https://github.com/gatsbyjs/gatsby/blob/master/www/src/components/script-loader.js (and then you'd use a component for those ads that uses that component, and then you'd use that wrapping component in MDX)

Please in the future be a bit more careful in how you approach soliciting help from this community. We're glad to have you here, and value you using

[2020-03-13 17:15] nikolayval commented on #21853
**Dschau**, thank you very much for answer. You are the best, and thank you thank you thank you thank you thank you!

But sorry, it's bullshit solution.

If I want to display specific script (in my case - it's Yandex Ads, like Google Adsense) in MDX-posts (or markdown files), then I should create a custom script components with specific attributes. It's very hard and not convenient.

Maybe Gatsby

[2020-03-13 17:18] KoltesDigital commented on #22244
Well, even though the link href is exactly the same, the manual link opens the 404 page, and when the browser reloads it opens the PDF (using the component Link imported from gatsby), whereas with the Markdown link the PDF opens directly. And I can't see any hook in the code.

[2020-03-13 17:38] kwibus2000 commented on #16455
The same... after adding an image in Contentful, the issue is gone. The weirdest thing I ever have seen ... ;-9

[2020-03-13 17:39] jquense commented on #19959
@blainekasten FYI i can reproduce this fairly easily one a gatsby site with no pages. e.g. empty pages directory. which is a confusing error

[2020-03-13 17:51] chris-erickson commented on #20000
Who owns this code and can help move it forward, @wardpeet?  We're hitting this problem too with a blog that has a lot of captions and don't really have a way around it.

[2020-03-13 17:54] Js-Brecht commented on #22250
I've actually had this problem periodically when running yarn 2 in a Gatsby site.  It happens because `@pmmmwh/react-refresh-webpack-plugin` is not a dependency of the project, and that file is being run from the `.cache` directory.  I just haven't done anything about it because it's intermittent, and I was trying to figure out _**why**_ it's intermittent... that kind of issue is supposed to be ta

[2020-03-13 17:54] KoltesDigital commented on #22244
Ah I shouldn't use `Link` actually. It makes sense. Using `a` instead, both work fine.

I can make a PR if you want. It's only about this single line.

[2020-03-13 18:12] wardpeet commented on #21932
@elliott-greaves-babylon-health can you link us to a real url? This might be a browser issue that we have to workaround

[2020-03-13 18:13] DSchau commented on #21853
Then you would do something slightly different. It's hard to predict what you want, because it's not clear what you want.

Here's an example Codesandbox that gets _closer_ to what you want, but it's still not working. This being said, I also wasn't even able to get the snippet you pasted above working, so I'm skeptical of the general approach.

[React Codesandbox](https://codesandbox.io/s/angry-su

[2020-03-13 18:15] shan-hua commented on #20000
Hi, I'm waiting for a week and made some changes finally by myself. I've just sent a [PR #22256](https://github.com/gatsbyjs/gatsby/pull/22256), we will see if it can be merged up, or someone may have a better solution

[2020-03-13 18:31] #19102 closed

[2020-03-13 18:49] Js-Brecht commented on #22203
@SajithRAP  I have a couple of ideas for how that could be done.  I haven't done this myself, so I'm just brainstorming here.

* If you wanted to, you could make an "app shell" that shows the loading animation, and in `useEffect()`/`componentDidMount()`, load the rest of the page.  However, that will stop your page from being rendered during SSR (it will only render the animation)... and it makes

[2020-03-13 19:14] apolopena opened #22257 "MDXRenderer: components available globally as shortcodes not working"
## Description

I am trying to get JSX components to work globally in my markdown files for my blog as per the documentation: [Importing and Using Components in MDX](https://www.gatsbyjs.org/docs/mdx/importing-and-using-components/#make-components-available-globally-as-shortcodes)

The proper html is not being rendered from my custom component inthe markdown, Rather I get a plain <div> tag with th

[2020-03-13 20:07] AishaBlake commented on #21142
Thanks for the heads up, @tesseralis! @spielers, @gamitics, and @visshaljagtap, please make sure you've read the [maintainer guide](https://www.gatsbyjs.org/contributing/translation/maintainers/). I'll take care of creating that repo for you. Thanks for your willingness to manage the English to Marathi translation!

[2020-03-13 20:46] greatwitenorth commented on #14502
@lablancas Thanks, that worked for development, but when I got to build the site and test on ie11 I get errors again. Did you have the same issue?

[2020-03-13 20:52] #22191 closed

[2020-03-13 22:18] devboldly commented on #17865
**If you're using `react-helmet` version `5.x.x`, try upgrading to v6, which is currently `6.0.0-beta.2`:**

[code]

This fixed the issue for me.

[2020-03-13 22:20] Okazari commented on #22250
These is two thing i would love to understand :
 - Why does `yarn` hoist `@pmmmwh/react-refresh-webpack-plugin` when using `docz` alone and it doesn't hoist it when using both `docz` and `react-native`
 - Why does `npm` hoist `@pmmmwh/react-refresh-webpack-plugin` when using both `docz` and `react-native` when `yarn` doesn't.

I really feel that there is some core concept about `yarn` behavior tha

[2020-03-13 22:55] Js-Brecht commented on #22250
I can't answer that with certainty... I think it has to do with how they do dependency resolution.  `npm` is less deterministic about what it hoists... I think

Another thing I've noticed: with `react-native` as a direct dependency, if you add `gatsby` as a direct dependency, too, then `yarn` will hoist `@pmmmwh/react-refresh-webpack-plugin`.  So, perhaps there are version conflicts between `@pmmm

[2020-03-13 23:15] marcysutton commented on #22214
@WilcoFiers, thanks for reporting! Question for you: does the `tabindex` on a DIV without an interactive role provide an issue for assistive technology users, who won't have that signal? Or even issues with interaction modes in NVDA/JAWS? I can test it later if someone doesn't beat me to it. cc @madalynrose.

[2020-03-13 23:49] mortscode commented on #21885
Same issue. However, it was working for co-worker who set it up and pushed to repo.

Used NVM to set my node version to v12.8 to match co-worker (was on v12.12) and for some reason it started working.

Switched back to v12.12 and it's still working. 🤷‍♂

[2020-03-14 00:05] #21343 closed

[2020-03-14 00:05] #21308 closed

[2020-03-14 00:05] #21298 closed

[2020-03-14 00:05] #21286 closed

[2020-03-14 00:05] #20621 closed

[2020-03-14 00:36] gjpsiqueira opened #22261 "Problem with SEO using Wordpress + Gatsby"
My gatsby is at domain.com, and my wordpress at wp.domain.com. When I post in Wordpress, create a slug wp.domain.com/slug, and domain.com/slug.
The problem than Google is indexed only the wp.domain.com/slug and exclude the domain.com/slug.
I try to Disallow: / in Robots.txt, but not working.

How I do to fix it ?

[2020-03-14 02:14] igigi commented on #22235
The production environment is same bug.

"XMLHttpRequest cannot load https://www.smallsticker.com/page-data/qrcode/page-data.json due to access control checks."

"

just check code, go to the page is not through "Link", it is through "navigate". how to do it?

[2020-03-14 03:12] TylerBarnes commented on #20160
@joebentaylor1995 my email is tyler@gatsbyjs.com

[2020-03-14 03:13] TylerBarnes commented on #6291
Same here! So excited to see this fixed. Amazing job @pvdz

[2020-03-14 03:18] TylerBarnes commented on #22235
Hi @igigi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a mi

[2020-03-14 03:20] TylerBarnes commented on #22261
Hi @gjpsiqueira I'm not entirely sure what you mean. Can you provide some more info about how you're hosting your backend and frontend?

[2020-03-14 04:13] #22233 closed

[2020-03-14 04:16] dewaleolaoye commented on #15038
I encounter this issue as well but I noticed it's coming from the way I run the command,
I have this in my package.json `develop: "env-cmd --file .env.development gatsby develop"`.

If I run `gatsby develop`, I got errors because it can't read the .env file variables hence, it throws undefined, but when I use `yarn develop`.
Everything seems to work fine.

[2020-03-14 04:18] #21142 closed

[2020-03-14 05:06] igigi commented on #22235
This is source code https://github.com/smallsticker/smallsticker-client.

it is base on Gatsby store, add order fix service, you can build it directly.

### Steps to reproduce
1. open https://smallsticker.com website, add a product to cart.
2. open cart, click "结算".
3. input order information, "支付方式" field select "微信支付"
4. submit order, bug display

Thanks!

[2020-03-14 07:02] sreenathkspanikker commented on #11618
When I open index.html in the browser showing the below-listed errors,
Does anybody know how to fix this?

GET file:///D:/component---src-pages-index-js-d97aff637f10d79d7db7.js net::ERR_FILE_NOT_FOUND
index.html:1 Access to link element resource at 'file:///D:/page-data/index/page-data.json' from origin 'null' has been blocked by CORS policy: Cross origin requests are only supported for protocol s

[2020-03-14 07:29] flikteoh commented on #22257
I believe the correct place for your custom components to work is to put them into MDXProvider, @apolopena

https://mdxjs.com/blog/shortcodes

[2020-03-14 08:00] Okazari commented on #22250
Many thanks for your help :)
I'll look further and will make a PR accordingly.

[2020-03-14 08:36] runningIris commented on #20389
@Chad97 Problem is not solved, still presents
[code]

[2020-03-14 08:53] Enter-tainer opened #22264 "gatsby-plugin-offline: Cannot overwrite workboxConfig.runtimeCaching"
## Description

Cannot overwrite `workboxConfig.runtimeCaching`.

### Steps to reproduce

Install `gatsby-plugin-offline` and use the config below. And then open the generated `sw.js`, and you will find that the default options of runtimeCaching are not overwritten.

### Expected result

[code]

What should happen?

I expected that my own rule will **overwrite** the default ones.

### Actual resul

[2020-03-14 11:53] jrmarqueshd commented on #13723
It's works for me!

[2020-03-14 12:03] #20573 closed

[2020-03-14 12:57] steverandy commented on #21086
@erezrokah looking at this code https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-netlify-cms/src/gatsby-browser.js

The netlify-identity-widget should be lazy loaded. But in my project the netlify-identity-widget module is actually preloaded. Any idea why?

[2020-03-14 15:46] algebrathefish opened #22277 "process.env is an empty object"
I am trying to access env variables on development environment

I added dotenv to gatsby config, and created a .env.development file with

`GATSBY_API_URL=https://dev.example.com/api`

as stated https://www.gatsbyjs.org/docs/environment-variables/

When I console log process.env it is an empty object

## Summary

## Relevant information

### Environment (if relevant)

Gatsby CLI version: 2.8.30
Ga

[2020-03-14 16:25] DSchau commented on #22277
Hi @algebrathefish!

This is intentional, so that variables aren't accidentally linked/viewable and the "plucking" of them is deliberate.

In other words -- if you log `process.env.GATSBY_API_URL` that will contain the value you want. Technically we do this by iterating through all the GATSBY_ environment variables, and use Webpack's definePlugin to make these "strings" available.

So, long answer

[2020-03-14 16:25] #22277 closed

[2020-03-14 16:27] xirapo commented on #2270
Make sure you are under a page component because graphql works for page components and useStaticQuery works better in non-page components, that can be causing the error.

`const data = useStaticQuery(
    graphql`
      query {
        site {
          siteMetadata {
            title
          }
        }
      }
    `
  )`

[2020-03-14 18:00] Abderrahmenla commented on #22243
It works now...I didn't pay attention to the missing '}',thanks man ^^

[2020-03-14 18:00] #22243 closed

[2020-03-14 18:30] algebrathefish commented on #22277
Thank you @DSchau !! yes, it Helps

[2020-03-14 18:35] jimmyandrade commented on #17865
@devboldly worked for me. Thank you so much 😄

[2020-03-14 18:41] pburtchaell commented on #4103
This was the solution for me as well. Wanted to signal boost this because it seems to be the solution on this thread that reliably works.

[2020-03-14 20:00] stevus commented on #20082
@Grsmto also had the same issue and adding "http://" to `siteUrl' fixed it. Feels like a Gatsby bug.

[2020-03-14 20:11] DavidSabine opened #22282 "Yes, remark-images options should be configurable in theme-blog-core."
## Reference

I am referring to the comment on this line of `gatsby-config.js` in `gatsby-theme-blog-core` package:
 https://github.com/gatsbyjs/gatsby/blob/6874ccad594c67d87de6d5030a900a32ee834558/packages/gatsby-theme-blog-core/gatsby-config.js#L32

## Summary

That comment in the source code is evidence that the thought has crossed others' minds. I appreciate that.

## Motivation

I have a smal

[2020-03-14 22:37] algebrathefish commented on #22277
@DSchau it is undefined unless I do

`NODE_ENV=development gatsby develop `

it seems the .env.* file is ignored

[2020-03-14 23:29] algebrathefish opened #22285 "How to overwrite ESLint rules"
## Summary

## Relevant information

I tried with the steps here: https://www.gatsbyjs.org/docs/eslint/

`npm install --save-dev eslint-config-react-app`
Created the` .eslintrc.js` file

The file´s content looks like this

[code]

When I do that normal errors like unused vars or imports cease showing.

I would like to know what I am doing wrong. Thank you

### Environment (if relevant)

### File c

[2020-03-14 23:49] Enter-tainer commented on #22264
Lodash's `_.merge` performs weirdly on arrays:

[code]

[2020-03-15 00:05] #20442 closed

[2020-03-15 01:13] DekiGk commented on #8560
I had similar issue while conditionally trying to load a component based on the cookie value. Of course, this did not work as you have SSR on production (not sure why it works in dev mode though). Anyway, what I ended up doing is wrapping my check inside `useEffect` and checking which component to render once React takes over (rehydrates) on the client. You can use `componentDidMount()` for class

[2020-03-15 01:13] DekiGk commented on #5734
I had similar issue while conditionally trying to load a component based on the cookie value. Of course, this did not work as you have SSR on production (not sure why it works in dev mode though). Anyway, what I ended up doing is wrapping my check inside `useEffect` and checking which component to render once React takes over (rehydrates) on the client. You can use `componentDidMount()` for class

[2020-03-15 01:13] DekiGk commented on #9911
I had similar issue while conditionally trying to load a component based on the cookie value. Of course, this did not work as you have SSR on production (not sure why it works in dev mode though). Anyway, what I ended up doing is wrapping my check inside `useEffect` and checking which component to render once React takes over (rehydrates) on the client. You can use `componentDidMount()` for class

[2020-03-15 02:23] conspireagency commented on #15322
@gregwhitworth @itesainnovation running into this as well still.

[2020-03-15 05:23] crutchcorn opened #22287 "Regression: `setNodeField` in plugin `index.js` file value is always `null`"
### Description

I'm trying to use `setNodeField` in a plugin of mine. However, instead of the value being set, there is simply `null` being set for the field's value. This code previously worked, but sometime recently on upgrading the `gatsby` versions, it does not work any longer, which is why I feel that this is a regression.

### Steps to reproduce

https://github.com/unicorn-utterances/unicor

[2020-03-15 06:59] jlkiri commented on #22287
If I add `inlineCount` manually to the query in the blog post, it is fetched properly. I personally have never seen using TS interface as GraphQL fragment so maybe that is the reason?

[code]

[2020-03-15 08:06] faizhameed opened #22288 "Can't perform a React state update on an unmounted component. When adding useeffect on navigation component"
## Summary
I am getting the following error
[code]
when using `useEffect` hook scroll event listener in the navigation component

## Relevant information
navigation.jsx
[code]
and then on return
[code]

So how to produce this error
when i am on my home page i can scroll no error occurs
then I navigate to blog page. but navigation is not unmounted only the children from home to blog happens, then w

[2020-03-15 08:22] 1natsu172 commented on #21995
`redux/actions/restricted.js` also depends on type.js, so I will take it.

[2020-03-15 09:01] crutchcorn commented on #22287
I apologize @jlkiri but I'm not sure I follow. As I understand the code, `PostInfo` **is** a GQL fragment here:

https://github.com/unicorn-utterances/unicorn-utterances/blob/integration/src/components/layout/layout.tsx#L113

My TS interface is just meant to enforce that GQL fragment (as I've yet to put in the time to figure out how to generate TS types from the fragments themselves)

[2020-03-15 09:21] jlkiri commented on #22287
@crutchcorn Ah, my bad. I didn't notice the fragment in `layout.tsx` and got confused.

[2020-03-15 09:40] Kornil commented on #21995
I'm taking care of the `/redux` folder on `gatsby-cli` on https://github.com/gatsbyjs/gatsby/pull/22292

[2020-03-15 10:19] herecydev commented on #22288
Is the navigation component part of a page or is it at a higher level, i.e. through [wrapPageElement](https://www.gatsbyjs.org/docs/browser-apis/#wrapPageElement)?

[2020-03-15 10:46] mujeex opened #22293 "Unable to load custom fonts using Typefaces"
## Summary
Good day everyone. I am currently trying to use Typefaces to import fonts into my gatsby project, but for some reason I am not aware of, the fonts do not get loaded to the browser in the network request tab in the chrome dev tools.
## Relevant information
I however, have implemented the usage of typefaces successfully in my previous gatsby project which was 2~3months ago. I tried going

[2020-03-15 10:48] dvrylc commented on #21995
I'd like to start with `packages/gatsby/src/utils/eslint-config.js`!

[2020-03-15 10:50] andrico1234 commented on #21296
My bad for forgetting to upload the video.

As you can see here, when i run locally the nav bar always displays correctly.

On home page it's yellow, on page two the background's white.

When I build and server my gatsby application, it looks like regardless of the page I enter, the default yellow background is displayed. Once the components rerender, everything works as expected.

![ezgif com-vid

[2020-03-15 12:03] #21270 closed

[2020-03-15 12:03] #21242 closed

[2020-03-15 12:03] #21235 closed

[2020-03-15 12:03] #21232 closed

[2020-03-15 12:03] #21124 closed

[2020-03-15 12:03] #20906 closed

[2020-03-15 12:03] #20818 closed

[2020-03-15 12:14] bebyx commented on #2008
@KyleAMathews There's a lack of support for Reach Router's `<NavLink>` though.

[2020-03-15 12:23] herecydev commented on #22293
There's 2 issues I think, both easy to solve 👍

1. [You've used font-family: 'typeface-ibm-plex-sans'](https://github.com/mujeex/gatsby-bug-repo/blob/master/src/components/layout.css#L3), which isn't a font family. The font family is `IBM Plex Sans`
2. There will be some specificity issues as font-family is declared in a number of places, such as in [Line 204](https://github.com/mujeex/gatsby-bug-

[2020-03-15 14:04] frantic1048 commented on #11829
Hi there, any update on this issue ?

[2020-03-15 14:41] mujeex commented on #22293
Thank you very much sir! You saved my day! Turns out I assigned the wrong naming to the font family and I only needed to declare that property in the body block. Thank again!

[2020-03-15 14:41] #22293 closed

[2020-03-15 14:55] orta opened #22299 "Add some kind of error message when you are creating redirects, but don't have a plugin to act on them"
## Description

I guess I expected by default gatsby would make client-side redirects, and then plugin APIs would allow more complex setups - however, a few months down the line I discovered that the redirect API is _basically_ a NOOP unless you have a plugin like `gatsby-plugin-client-side-redirect` installed to actually do something.

Took a few bug reports to get there, so it might be worth hav

[2020-03-15 15:26] orta commented on #22299
Hrmmmm, this might be me holding it wrong 🍡

[2020-03-15 15:31] maciejmyslinski commented on #20420
@nolandg that's helpful although hot reloading stops working when there is an error detected 😢

[2020-03-15 16:37] lablancas commented on #14502
@greatwitenorth no. I have my site working on IE11 and it's live. What errors are you getting from IE11?

[2020-03-15 16:54] louMoxy commented on #5826
@davidcetinkaya just wanted to say thanks for sharing Embla, works great with gatsby, and even accepts [Gatsby image](https://www.gatsbyjs.org/packages/gatsby-image/) as a child component which is perfect. 👍

[2020-03-15 17:27] ElijahCano33 commented on #21962
Hi, I am a new contributor and this particular issue interests me a lot. May I begin opening up a pull request to address this ticket?

[2020-03-15 17:40] maciejmyslinski commented on #20420
👌 I had to remove `eslint-loader` from webpack config
[code]

[2020-03-15 17:53] bogdansoare commented on #18433
Same issue with Node 13

[2020-03-15 18:34] davidcetinkaya commented on #5826
Hi @louMoxy,

You’re welcome. And thank you for confirming that it works and using [Embla](https://github.com/davidcetinkaya/embla-carousel) 👍🏻.

Best,
David

[2020-03-15 19:54] PulsarMedia commented on #3954
boundActionCreators is now deprecated - I've modified the code with the new actions parameter

`exports.sourceNodes = ({ getNodes, actions }) => {
  const { createNodeField } = actions;
  const pageNodes = getNodes().filter(
    node => node.internal.type === "wordpress__PAGE"
  );

  pageNodes.forEach(pageNode => {
    let pathFragments = [];
    let tmpNode = pageNode;
    do {
      pathFragmen

[2020-03-15 20:52] cmr624 commented on #21263
Having a similar issue, I am using Gatsby-Image, and reloading or hot reloads crash with the error.

How would I go about reverting to the correct version of @reach/router ? I have Gatsby installed, but no @reach/router in my `package.json`

[2020-03-15 21:49] #15486 closed

[2020-03-15 23:49] jlengstorf opened #22302 "new starter installs fail as soon as something else is installed"
## Description

after creating a new Gatsby site using `gatsby new`, things appear to work until another package is installed with `npm install`, at which point weird errors start to show up

[Video of the errors + steps to fix here](https://www.dropbox.com/s/9lyqs2eslykt0or/gatsby-starter-error.mp4?dl=0)

### Steps to reproduce

[code]
this results in the error:
[code]

if you run `npm install`,

[2020-03-15 23:52] jlengstorf opened #22303 "default starter throws sharp errors"
## Description

when creating a new site with the default starter, an error is immediately thrown before any code changes are made

<img width="878" alt="Screen Shot 2020-03-15 at 4 50 00 PM" src="https://user-images.githubusercontent.com/163561/76713322-0ec7c480-66dd-11ea-8ac5-99c076d4335c.png">

### Steps to reproduce

1. create a new site with the default starter (`gatsby new mysite`)
2. start

[2020-03-15 23:52] jlengstorf commented on #22302
this also happens when using `gatsby-starter-hello-world`, FYI

[2020-03-16 00:53] femesq commented on #22303
Found this issue when search for problems with `gatsby-source-filesystem@2.1.55`...
Was using `2.1.54` on a project and it was working fine... after upgrading to `2.1.55` started throwing error trying to find some images on `cache` dir...

[2020-03-16 01:08] samajammin commented on #10410
Thanks for sharing your solution @jeremylynch!

As an FYI for others, I believe you meant:
[code]

[2020-03-16 02:07] lukePeavey commented on #22257
To expand on @flikteoh's comment...

In your code, you are passing your components  to `MDXRenderer`.  Instead, you should pass custom component to `MDXProvider`.

From [the docs](https://www.gatsbyjs.org/docs/mdx/importing-and-using-components/#make-components-available-globally-as-shortcodes):

[code]

 The `MDXProvider` in this example is in a layout component that wraps all MDX pages, you can

[2020-03-16 02:30] lannonbr commented on #15486
Why was this closed @rwieruch? I don't believe this has been solved yet

[2020-03-16 04:27] idmontie commented on #18271
It would be nice if [this documentation](https://www.gatsbyjs.org/docs/working-with-images-in-markdown/) was updated to reflect that you need to customize the schema.

[2020-03-16 05:01] faizhameed commented on #22288
@herecydev its part of the layout component which is used to wrap around each page

[2020-03-16 05:21] ZeeEssDoubleU opened #22304 "What built-in function saves previous scroll data (and can I manipulate it)?"
## What built-in function saves previous scroll data (and can I manipulate it)?

**I'm familiar with the shouldUpdateScroll function and know how to use it.**  My question is, is there a function already built into to Gatsby, where I can manipulate how the scroll information is saved?

I ask because I'm using an animation library (framer-motion) to manipulate page transitions, which requires me to

[2020-03-16 06:32] urjit2498 commented on #16455
You have to add image in [contentful](https://www.contentful.com/) site because in body part you select rich textbox so add any image and then restart your server and these error will be gone.

[2020-03-16 06:34] urjit2498 commented on #16455
You have to add image in [contentful](https://www.contentful.com/) site because in body part you select rich textbox so add any image and then restart your server and these error will be gone.

Give feedback or suggestion for better solution rather than this solution. #happyCoding :)

[2020-03-16 06:39] richardnguyen99 commented on #21664
I had the exact problem but solved by upgrading package via `yarn upgrade`

[2020-03-16 07:00] rwieruch commented on #15486
Yesterday I updated to the recent Gatsby versions and I was able to remove the workaround code. I think this is fixed.

[2020-03-16 07:35] andrico1234 commented on #21296
Updated my last comment to add video

[2020-03-16 08:44] qramilq commented on #16763
@LeeRob97 did you tried to cleat .cache and public folders before run build? Cause I don't think, that production version makes so seriously changes instead of development version.
Also, you can look to the gatsby-image source code, especially, at this line https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L87 to understand, how it works)

[2020-03-16 08:56] vai0 opened #22305 "Recommended method for creating pages"
It's mentioned [here](https://www.gatsbyjs.org/docs/scaling-issues/#switch-off-type-inference-for-sitepagecontext) that it is not recommended to pass down large amounts of data via the page context when creating pages with `createPage`. If this is not recommended for performance reasons - _what is_ the recommended method to dynamically create pages that do require large amounts of data?

For conte

[2020-03-16 09:07] ovsw commented on #21392
not stale?

[2020-03-16 09:08] herrwitzi opened #22306 "two div's with id "gatsby-announcer" when root element gets wrapped with an Fragment"
## Description

when wrapping the root Element with the Gatsby-Browser-API wrapRootElement() with an React.Fragment it creates two div's with the id "gatsby-announcer"

### Steps to reproduce

use gatsby version 2.19.43
https://github.com/herrwitzi/gatsby-bug

### Expected result

wrapping the root Element with an React.Fragment should have the same behavior as wrapping it with an Component or an

[2020-03-16 09:17] LekoArts commented on #22304
Thank you for opening this!
I'm not sure if I understand your question 🤔

We use https://github.com/taion/scroll-behavior to save the information and then read it: https://github.com/gatsbyjs/gatsby/blob/a2e8e718eb1e6146dca1c3a560cd281ba65d49b8/packages/gatsby/cache-dir/navigation.js#L121-L127

There is also this project: https://github.com/ryanwiemer/gatsby-using-page-transitions
Or this codesand

[2020-03-16 09:38] ygkn commented on #20160
This problem may be due to incorrect usage of Gatsby's `<Link>` component: to use this component to in-route navigation.

If you use this component for external link, similar issue will occurs.

Use `a` tag for in-route navigation or  external link.

For more information, check the [Gatsby Link API documentation](https://www.gatsbyjs.org/docs/gatsby-link/).

[2020-03-16 09:40] LekoArts commented on #22303
Hi Jason,

I followed your steps but couldn't reproduce it. I installed the starter via our CLI, updated all packages to latest version and run a `yarn develop`. No error was thrown.

I could imagine this being an issue with sharp alone, have you recently updated e.g. your node version so that the sharp version is out of sync?

For reference, my setup:

[code]

[2020-03-16 09:50] LekoArts commented on #22299
Hi, thanks for the issue!

Seems reasonable to add some kind of warning (e.g. single line note) to the build output. In theory the API page already mentions that: https://www.gatsbyjs.org/docs/actions/#createRedirect

However, I understand that those pages are not too discover able. A dedicated documentation page would also be reasonable to solve this issue in my opinion.

[2020-03-16 09:51] LekoArts commented on #22288
Thank you for opening this!

This doesn't seem related to Gatsby and thus I'd recommend asking in communities like Reactiflux, general React reddits or StackOverflow to get an answer.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyj

[2020-03-16 09:51] #22288 closed

[2020-03-16 09:54] LekoArts commented on #22287
It would be important to know if this is actually true or some recent error in userland/your code. Can you pinpoint the version?

[2020-03-16 10:00] LekoArts commented on #22285
Thank you for opening this!

You're extending `react-app` (eslint-config-react-app) which contains those rules: https://unpkg.com/browse/eslint-config-react-app@5.2.0/index.js

If you don't want them or want to use another ruleset to extend, you'll need to handle that yourself by e.g. disabling those warnings/errors or installing a different preset.

We're marking this issue as answered and closin

[2020-03-16 10:00] #22285 closed

[2020-03-16 10:04] jlkiri commented on #21296
As a current workaround, you could access current `path` through `props` of your page components and make your navbar a part of layout instead. See a couple of possible approaches here: https://github.com/gatsbyjs/gatsby/issues/8787#issuecomment-427216043

[2020-03-16 10:05] LekoArts commented on #22282
Thank you for opening this!

The options is already configurable more or less. You'll need to set `mdxOtherwiseConfigured` to true and copy/paste the config of `gatsby-plugin-mdx` into your own config. This is a workaround until we find a reasonable API to expose such plugin options. Because surfacing every option as public API isn't an option really.

Hence this issue could be closed really.

Thi

[2020-03-16 10:10] LekoArts commented on #21682
@johno @gatsbyjs/learning This will also need some documentation work.

[2020-03-16 10:11] LekoArts commented on #22257
Thank you for opening this!

As others have said you'll need to use `MDXProvider` to provide the shortcodes. The confusing behavior of `MDXRenderer` accepting this in the first place is tracked here: https://github.com/gatsbyjs/gatsby/issues/21682

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also

[2020-03-16 10:11] #22257 closed

[2020-03-16 10:26] kilburn commented on #19658
Sometimes this turns into a significant issue. In my case, the "word" being truncated is precisely the path to the file I should fix. As it stands right now I cannot deal with this warning because I don't know how to locate the problematic file!

![image](https://user-images.githubusercontent.com/116100/76747133-f4dbbf80-6778-11ea-9865-2b7c6e156a4d.png)

[2020-03-16 10:35] LekoArts commented on #22244
We'd appreciate a PR fixing this. Thanks a lot!

[2020-03-16 10:36] LekoArts commented on #22241
Let's close this issue. If you found a typo feel free to open a PR. Thanks!

[2020-03-16 10:36] #22241 closed

[2020-03-16 10:37] LekoArts commented on #22239
Thank you for opening this!

Please follow our issue template for filing a bug, especially the section about creating a minimal reproduction: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

Feel free to open a new issue where you followed these instructions and included such a project. Thanks!

[2020-03-16 10:37] #22239 closed

[2020-03-16 10:44] LekoArts commented on #22236
Thank you for opening this!

As this isn't a bug report or feature request or a question related to Gatsby I'll have to close this. In a nutshell you'll be able to do authentication with Gatsby like with any other React app since you'll have a client-side only portion: https://www.gatsbyjs.org/docs/client-only-routes-and-user-authentication/

Following guides/articles on that (which reference gene

[2020-03-16 10:44] #22236 closed

[2020-03-16 10:57] LekoArts commented on #22234
Thank you for opening this!

Quickly skimming over the article it seems it's intended behavior that it only works in development mode (which makes sense). Reach out to the author to clarify your question :)

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communiti

[2020-03-16 10:57] #22234 closed

[2020-03-16 10:59] LekoArts commented on #22221
So can you confirm that when removing the said plugin it works as expected? If yes, I'd recommend closing this issue and opening an issue on the plugin's repo.

[2020-03-16 11:06] LekoArts commented on #22203
Thank you for opening this!

First and foremost, I don't think such an animation is necessary with pages built on Gatsby. You'd be artificially slowing down your website and annoying your user with a wait time that is unnecessary. If you load something heavy on the site you can lazy load it and show most of the page nevertheless.

Regarding Jeremy's suggestions, I'd also go with the last option as

[2020-03-16 11:06] #22203 closed

[2020-03-16 11:08] LekoArts commented on #22159
Yeah, please create a [minimal reproduction][reproduction]. Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2020-03-16 11:17] LekoArts commented on #21970
cc @gatsbyjs/learning

[2020-03-16 11:19] LekoArts commented on #21944
Let's close this issue. Feel free to open a new one following our issue template and providing a minimal reproduction. Thanks!

[2020-03-16 11:19] #21944 closed

[2020-03-16 11:24] KoltesDigital commented on #22244
Here's the PR!

[2020-03-16 11:24] #22244 closed

[2020-03-16 11:49] kearfy commented on #20163
For everyone experiencing this issue on windows, make sure you have got "C:\Users\mtdev.MICHA-TECLAST\AppData\Roaming\npm" and git added to the system's PATH environment variable. after adding it and reopening my command prompt, it all works fine again.

[2020-03-16 11:56] erezrokah commented on #21086
Hi @steverandy what do you mean by lazy loaded? As long as you have `enableIdentityWidget` set to `true` (the default) the identity widget will be loaded with your site **and** the CMS.
Loading the widget with your site is required, as by default Netlify Identity user invites links send the user to the root page which need the widget to finalize email confirmation.

When `enableIdentityWidget` is

[2020-03-16 12:28] steverandy commented on #21086
Looking at this line https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-netlify-cms/src/gatsby-browser.js#L16

The `netlify-identity-widget` module should not be loaded if the route does not match.
However in the latest version of gatsby-plugin-netlify-cms, it seems the module is always loaded no matter what.

I think this is a bug.

[2020-03-16 13:18] jperasmus commented on #18866
"large **chunk** of them" 😂

[2020-03-16 13:40] algebrathefish commented on #22285
Hi @LekoArts thanks for answering

What I want to achieve is to have the same rules that come with the gatsby starter except for `'jsx-a11y/no-static-element-interactions' `which I want to overwrite

[2020-03-16 14:03] gjpsiqueira commented on #22261
Hi, @TylerBarnes , Thank you for response! I will try explain. Sorry for my English.
I'm using the Wordpress like Backend in my app and Gatsby as FrontEnd. In same domain, I'm hosting the backend and frontend. So, the mysite.com is hosted the frontend and the subdomain wp.mysite.com, is the backend.

When I do create a post within Wordpress, the slug wp.mysite.com/slug is created and index at Goog

[2020-03-16 14:13] andyhmltn commented on #20569
Sorry for taking a while to come back with a reproduction (we hadn't launched.) You can see this in play on our homepage: juggle.jobs

[2020-03-16 14:15] erezrokah commented on #21086
I recommend reading https://www.gatsbyjs.org/docs/how-code-splitting-works/ to understand how code splitting works in Gatsby.
Gatsby uses preloading and script tags with `async` attributes when doing code splitting.
This way the script doesn't block loading the page and is still available to execute as soon as possible.

[2020-03-16 14:23] #21913 closed

[2020-03-16 14:29] muescha commented on #20926
most of the wrong languages comes from external readme (plugins)

maybe it helps a little bit, to also print to the console the file/doc/repo where this happening

[2020-03-16 14:36] pveen2 opened #22333 "Disable scrolltop on context change"
After adding preact plugin to my eCommerce website the site scroll to top when i change the site context. For example with opening the menu, adding an item to the cart, etc.

Has anyone encountered this problem and has some advice on how to prevent this behavior. For example when I fire the add to cart function the page scroll to the top.

`  const handleAddToCart = async e => {
    await addItemT

[2020-03-16 14:37] #22333 closed

[2020-03-16 14:40] wardpeet commented on #21913
We reverted it in version `gatsby-plugin-typescript@2.2.5` thanks for pointing this out! And sorry for the troubles ❤️

[2020-03-16 14:44] muescha opened #22334 "chore(www): prism language is not visible"
## Description

code block prims language is not visible above the codeblock.

I remember that i see it at least for this languages:
- `md`
- `po`

### Steps to reproduce

open:
- `po` -> https://www.gatsbyjs.org/contributing/translation/ui-messages/#opening-and-closing-tags

![Bildschirmfoto 2020-03-16 um 15 40 31](https://user-images.githubusercontent.com/184316/76769452-ce2f8000-679c-11ea-90ad-

[2020-03-16 14:58] JustFly1984 commented on #18866
Currently I can’t test 41 version, cos it contains 2 typescript errors and fails on test

[2020-03-16 15:05] pieh commented on #21913
I was diving into this issue and here's gist of it:
`eslint-config-react-app` already adds `.ts` specific rules - that's why it worked nicely in non-workspaces examples. Problem is that the "criteria" for `ts` is `**/*.ts?(x)` ( https://github.com/facebook/create-react-app/blob/master/packages/eslint-config-react-app/index.js#L57 ) - the `**` prefix seems to prevent it from matching files outside

[2020-03-16 15:55] pburtchaell commented on #17824
Hi! I created a plugin here for a similar use case: https://github.com/pburtchaell/gatsby-remark-blocks

I'm taking the approach of framing each Markdown AST element in an HTML `div` to create a block in the layout. The use case is a novel design that's a bit more complex than the Medium style photo/text width design. Using CSS grid, I can position the blocks in whatever x/y position or at whateve

[2020-03-16 16:38] DavidSabine commented on #22282
I'll try that. Thank you for the tip.

And about your other comment:

I posted this at Spectrum a few weeks ago: https://spectrum.chat/gatsby-js/general/generating-image-thumbnails-endless-loop~35f1a7d1-e4c6-4ea9-abb1-d6fe2a6840c9

The problem seems to have improved with recent updates to gatsby's packages. I'll continue to watch this problem and will raise an issue in future if I can reproduce it

[2020-03-16 16:38] #22282 closed

[2020-03-16 17:24] mbwatson commented on #22221
yes, thanks for the reminder. [i did do that](https://github.com/brohlson/gatsby-plugin-anchor-links/issues/4) and forgot to close this. closing now. thanks!

[2020-03-16 17:24] #22221 closed

[2020-03-16 17:33] taylorchance opened #22341 "Convert svg's to inline during build time"
I have a gatbsy site sourcing a very secure wordpress database. I am using gatsby-image and its working perfectly to pull the data down using graphql and compress and move over to the /static folder for png/jpg images.

I am using react-inlinesvg to convert the svg images to inline, but I only just realized now that this happens during client side run time, not during the build time. Is there anyt

[2020-03-16 17:42] mikaelmoller commented on #19512
Hi @pvdz - we are building a large enterprise site on Gatsby and are experiencing incredibly long build times. We know that some of the time is due to a big chunk of content, but we are desperate to find the root cause and get it fixed.
Do you have the time and are you up for this challenge? :) And what would you need from our side to initially be able to understand our setup and do an analysis?

[2020-03-16 18:08] herecydev commented on #22305
I don't think that would be considered overly large, so it's not of too much concern

Pass something unique to the page (like an ID or a slug) and use page queries and static queries in the components to pull the data back in for consumption. It helps keep data clean as it's obvious what components need and you only source exactly that data. By passing through a pageContext, it's just one huge obj

[2020-03-16 18:10] knpwrs opened #22345 "MdxFrontmatter doesn't have all of my fields after introducing a new source"
## Summary

I was originally using `gatsby-plugin-page-creator` to create pages out of MDX files. I found myself wanting to add some graphql queries based on frontmatter to these pages and I cannot access all of my frontmatter fields.

## Relevant information

I am getting the following error message:

[code]

For instance, I have a page with the following frontmatter:

[code]

When I query this i

[2020-03-16 18:43] pieh commented on #22306
Hey @herrwitzi! You have `wrapRootElement` with additional DOM markup in [`gatsby-browser`](https://github.com/herrwitzi/gatsby-bug/blob/master/gatsby-browser.js), but not in [`gatsby-ssr`](https://github.com/herrwitzi/gatsby-bug/blob/master/gatsby-ssr.js). This cause DOM markup mismatch and problems for react to reconcile the difference.

As noted in https://www.gatsbyjs.org/docs/browser-apis/#wr

[2020-03-16 18:44] pieh commented on #22306
As for reason that started happening recently - we fixed SSR bug, which apparently was masking this behaviour

[2020-03-16 18:46] lifeiscontent commented on #19899
@moonmeister if there is any other information I can provide, please let me know, I'd love to help figure out how to move forward with this 👍

[2020-03-16 18:56] MRDRMUFN commented on #22112
Found that running gatsby clean works. Turns out the default starter npm dev script no longer runs gatsby clean first. Or it could be that I'm just used to the Netlify starter which has that as default.

[2020-03-16 19:12] crutchcorn commented on #22287
Okay, I think I've pinpointed more specifically what's gone wrong. It doesn't seem that Gatsby version #s have got anything to do with it (apologies).

While this commit works:

https://github.com/unicorn-utterances/unicorn-utterances/pull/144/commits/c05a63ba2871f7ff1d57f9fb85eb4108278d9875

I had to upgrade dependencies at some point and when I did so, it gave me an error that I hadn't seen befo

[2020-03-16 19:53] jlengstorf commented on #22303
@LekoArts have you tried using npm and not updating packages before running `develop`?

I was able to fix by updating packages, but that's not an obvious debugging step unless someone is already familiar with npm, etc., so it's not very friendly to new devs

[2020-03-16 20:07] DSchau commented on #22277
@algebrathefish what's your gatsby-config.js look like? That shouldn't be necessary since Gatsby sets that environment variable by default.

[2020-03-16 20:29] TimFletcher commented on #14502
None of these suggested fixes work for me on a simple `gatsby new ie-11-test`. IE 11 (run via the official MS VM in VirtualBox on a Mac) throws:

[code]

This appears to be due to object destructuring:

<img width="881" alt="Screen Shot 2020-03-16 at 1 26 40 PM" src="https://user-images.githubusercontent.com/72888/76797145-227d3480-678a-11ea-926b-52e7a3730765.png">

Which (obviously) is foreign to

[2020-03-16 20:46] TimFletcher commented on #14502
Ahh.... I've made some progress. If I tweak @DSchau's solution to use `react-refresh-webpack-plugin` instead of `react-hot-loader` then it seems to work:

[code]

[2020-03-16 20:52] drake-smith commented on #21252
Not stale

[2020-03-16 21:14] tommaton opened #22348 "Error when writing test using @testing-library/react and Gatsby Link"
## Description

Hi,
I'm trying to write some unit tests using `@testing-library/react` which is working absolutely fine on other components but as soon as I introduce Gatsby Link (`import { Link } from 'gatsby'`) as a child component then my tests fail and complain about Gatsby Link.

It's never happened on previous projects, on difference is the way it's imported now.

### Steps to reproduce

Cle

[2020-03-16 22:23] apolopena commented on #22257
Thanks to all of you. Turns out I did not read the docs properly. It is useful to see [#21682](https://github.com/gatsbyjs/gatsby/issues/21682)

[2020-03-16 22:25] apolopena commented on #22184
Thanks!

[2020-03-17 00:45] Js-Brecht commented on #20949
@keirwilliams Just submitted #22351 to fix `gatsby-plugin-offline`

[2020-03-17 00:47] KyleAMathews commented on #21452
@jamessimone hey this is as expected. The placeholder is in the page data so it isn't actually downloaded separately as it's base64 encoded. That's what "memory cache" means. The full image will be served from the cache if your server is setup to do so which I believe the local dev server is not. So I believe everything is working correctly!

[2020-03-17 00:47] #21452 closed

[2020-03-17 03:05] moonmeister commented on #19899
You're welcome to submit a PR. I may have time, I may not...Zombie apocalypse and all...

[2020-03-17 03:08] tschaub commented on #14161
Perhaps some hope in https://github.com/NTmatter/gatsby/commit/921b5f4b2999d9dd6104a5e59055718ffd0c787b.

[2020-03-17 03:27] algebrathefish commented on #22277
@DSchau

[code]

Thanks

[2020-03-17 04:00] Joey-Robinson opened #22352 "Using createPages with User Auth and static content (blog posts)? (Bonus routing question inside)"
So I'm writing a small app and I came across an issue that I haven't been able to solve. First, I have this here: https://www.gatsbyjs.org/tutorial/authentication-tutorial/ which allows me to use this:

[code]

Then I'm using a graphql query to query static data (blog posts). The issue is that I'm unable to do both, for some reason.

When I run the following, I'm greeted with an error of 'Cannot r

[2020-03-17 06:47] lifeiscontent commented on #19899
@moonmeister can you point me to the code that might be relevant for a PR? I haven't contributed before.

[2020-03-17 07:45] tarasmatsyk commented on #20705
`gatsby clean` removes `public` folder, either use `clean` or remove manually `.cache` and `public` folders.

[2020-03-17 07:59] Js-Brecht commented on #22352
You can't put this in `createPages`, because the `page` property in the first line is not a valid property for that API endpoint.  That's why you're getting the `Cannot read property 'path' of undefined` error.

`onCreatePage()` is triggered by the `createPage()` action, so the `page` property in it represents the page that was just created.  If you keep that whole section in `onCreatePage()`, and

[2020-03-17 08:09] LekoArts commented on #22303
I tried running it before upgrading and it worked :) I only upgraded because your versions were the latest ones.

Our renovate bot got stalled a bit so when you cloned the repo the dependencies were a bit outdated. The lock files are now up-to-date and hence all dependencies. I cloned the starter, ran npm install and develop and everything works 🤷‍♂

[2020-03-17 10:02] jlkiri commented on #22287
Apparently plugins for `gatsby-transformer-remark` are run within a call to `setFieldsOnGraphQLNodeType` API. What *should* happen when `createNodeField` is used within `setFieldsOnGraphQLNodeType`?

[2020-03-17 10:23] nshaphan commented on #21739
I will look into that too @tesseralis what do think about the testing approach? can I continue like that?

[2020-03-17 10:50] NTmatter commented on #14161
Not a whole lot of hope for ergonomics -- I'm hitting an issue with reach/router, as it insists on prefixing everything with a leading slash. Since Gatsby-Link depends on reach/router's Link, this loses many of the benefits that Gatsby Link provides. Perhaps that'll just be a cost of using prefix-independent sites?

[2020-03-17 10:57] kachkaev commented on #14161
Please don’t close this issue, it’s a major blocker for many users of docz: https://github.com/doczjs/docz/issues/763 🙏

[2020-03-17 11:05] metalcamp opened #22354 "Documentation page about A/B testing with Google Analytics and Netlify not available"
## Description

Documentation page about A/B testing with Google Analytics and Netlify isn't available.
URL: https://www.gatsbyjs.org/docs/ab-testing-with-google-analytics-and-netlify/

[2020-03-17 12:03] herecydev commented on #22348
A reproduction would have been ideal, but I'll assume you're not mocking any of Gatsby (it looks that way from the stacktrace).

The Gatsby Link component expects ___loader to be defined and testing in isolation with react testing library will cause issues. You could either define these in your environment or mock the Gatsby Link to render an anchor element instead. Depends on your view of testing

[2020-03-17 12:03] #21119 closed

[2020-03-17 12:08] winstonma opened #22357 "How to debug a source plugin on Gatsby side?"
## Summary
I am using the plugin [gatsby-source-datocms](https://github.com/datocms/gatsby-source-datocms) and I faced that **createNodeField** doesn't create anything. I believe it is not related to the Gatsby side but I would like to know how can I trace down the root cause of my additional fields can't be queried.

I would like to place some logs on the Gatsby side to see the node content, afte

[2020-03-17 13:43] cillurzom commented on #7862
Got it working thanks to this!

[2020-03-17 13:46] jamessimone commented on #21452
@KyleAMathews thanks for the context and the detailed response — much appreciated

[2020-03-17 14:21] flogy commented on #22169
Thank you, the PR is now online and can be reviewed and tested. Hope this helps & happy to hear about the results :)

[2020-03-17 14:35] Joey-Robinson commented on #22352
So for the `onCreatePage()` and the `createPages()` I should just leave separated to achieve what I'm after?

For the pathing on the blog pages: I had usually put then in the pages directory, but after reading your comment and looking at other peoples repos, it seems that that's not the best way, so I'll change that.

[2020-03-17 14:46] connorlindsey commented on #22357
You can use the `reporter` to log info to your terminal from gatsby-node. That may help.

[Reporter API](https://www.gatsbyjs.org/docs/node-api-helpers/#reporter)

[2020-03-17 14:47] JustFly1984 commented on #22070
Updating to current version gatsby 2.19.28 and babel-preset-gatsby 0.2.36 provides more typescript errors than before:

[code]

if I'm turning esModuleInterop: true - I'm getting issues with importing json files which renders resolveJsonModule: true useless.

[2020-03-17 15:04] connorlindsey commented on #22354
I'm having trouble reproducing the bug. Are you still having this issue?

Could you provide more information like the browser you're using?

[2020-03-17 15:09] metalcamp commented on #22354
I just figured out that this particular page was blocked due to PiHole. Sorry for false bug report.

[2020-03-17 15:09] #22354 closed

[2020-03-17 16:03] lmnnarciso opened #22360 "Error 95313 on gatsby build no hints"
## Description
[https://imgur.com/LmM6kVs](url)
I'm encountering error #95313 but no hints on why or where its happening. Okay when running

and errors on

### Steps to reproduce

I just build it

### Actual result
Build error #95313

### Environment

$ gatsby info --clipboard

  System:
    OS: Windows 10 10.0.18362
    CPU: (8) x64 Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz
  Binaries:
    Node:

[2020-03-17 16:08] averysmithproductions commented on #16233
Under Integrations, it seems as though the second bullet encompasses the first bullet. (Since 50+ is greater than 20+ then 50+ would include 20+). Am I missing something here?
<img width="703" alt="Screen Shot 2020-03-17 at 12 07 55 PM" src="https://user-images.githubusercontent.com/261457/76876184-f32cfd00-6847-11ea-9f1a-fdad69de24d9.png">

[2020-03-17 16:22] Js-Brecht commented on #22352
Yup, that's correct 🙂.

What's happening under the hood is Gatsby is using [gatsby-plugin-page-creator](https://www.gatsbyjs.org/packages/gatsby-plugin-page-creator/) to process your `pages` directory.  As it collects the files, it calls the `createPage()` action, which will trigger your `onCreatePage()` event.

Looks pretty good to me.  One thing that will happen [here](https://github.com/Joey-Ro

[2020-03-17 17:18] jlengstorf commented on #22303
just ran it again — still broken

here's what I'm doing:
[code]

error:
[code]

<img width="922" alt="Screen Shot 2020-03-17 at 10 16 43 AM" src="https://user-images.githubusercontent.com/163561/76882821-6fb7df80-6838-11ea-8342-82f9648dbd73.png">

it doesn't fail the dev server (I didn't check to see what the UI looks like), but it's not a great experience for first-time users to create a new site

[2020-03-17 17:21] jlengstorf commented on #22302
bumping this, because it seems like a pretty big deal that Gatsby breaks as soon as you install a dependency @gatsbyjs/core

[2020-03-17 18:11] esentai8 opened #22367 "gatsby build leads to an error"
## Description

When I run command `gatsby develop` everything works fine and I can see the website working properly, however when I run `gatsby build` command below error is logged to the terminal. While error seem to be related to contentful-plugin, the same error is not present when `gatsby develop` command is ran

` ERROR

Problems with gatsby-source-contentful plugin options:
spaceId: undefin

[2020-03-17 18:55] funkfinger commented on #22113
Thanks, and you're absolutely correct. I didn't understand how `gatsby-ssr.js` and `gatsby-browser.js` were in play (and still don't) but I know now that they are more related than I believed. I would like to make a PR for updating some of the documentation on this - which states something to the order of:

[2020-03-17 19:26] anicholls commented on #15601
Agreed - this needs to be resolved ASAP! I've tried all the alias removal/remapping fixes suggested above and cannot seem to get past these `Can't resolve 'core-js/modules/*` webpack errors (conflicting with `core-js@3` in storybook).

This is currently completely preventing me from using gatsby/docz with an existing storybook project.

[2020-03-17 19:31] funkfinger commented on #8560
My problem was that I was using `wrapPageElement` and `wrapRootElement` in `gatsby-browser.js` but not in  `gatsby-ssr.js`. Once I copied what I had over to `gatsby-ssr.js` things started working as expected. Please see @jlkiri 's response: https://github.com/gatsbyjs/gatsby/issues/22113#issuecomment-597432337

[2020-03-17 19:44] connorlindsey commented on #22367
It looks like accessToken and spaceId are not defined in production. Using [Environmental Variables in Gatsby](https://www.gatsbyjs.org/docs/environment-variables/) requires that you prefix the variable with GATSBY_ which may be causing the problem.

You may also need to define the environmental variables in Netlify in wherever you're building your website.

[2020-03-17 19:45] connorlindsey commented on #22360
Could you provide more information? Please provide a [minimal reproduction](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) or share your code.

[2020-03-17 21:27] crutchcorn commented on #22287
I personally would love to see the `createNodeField` to work within a `remark` plugin. It seems to make logical sense and docs aren't clear enough to suggest otherwise. Alternatively, I think docs should be clearer about this (including a mention in the `createNodeField` docs)

[2020-03-17 21:49] elweab commented on #20576
@pieh Hey I'm wondering if there has been any progress on this issue?

[2020-03-17 21:49] crutchcorn commented on #22287
Furthermore, if I change the file to:

[code]

I STILL get `null` as the value instead of what I might otherwise expect

[2020-03-17 21:57] pieh commented on #20576
There wasn't any progress yet on this, but it's up for the taking.

The code for refresh endpoint is in https://github.com/gatsbyjs/gatsby/blob/c3eccce997585d6136bdd0289472c602631681cf/packages/gatsby/src/commands/develop.ts#L199-L230

What we need is to make sure that calling `refresh` is delayed if there is already one in progress. There might be some trickiness with passing `webhookBody` - if t

[2020-03-17 22:15] Js-Brecht commented on #22357
@winstonma I wonder what the root type is that you're adding fields to.  I see that plugin adds several different types, and there are some that are set to _not_ infer types, which means that for those types, your fields won't be picked up automatically.

[2020-03-17 22:39] nehalist commented on #21493
[code]

Should do the trick in this case, right?

[2020-03-17 23:27] pieh commented on #21913
I created PR for `eslint-config-react-app` ( https://github.com/facebook/create-react-app/pull/8666 ), will see if we can revert the revert / restore TS linting with workspaces support

[2020-03-17 23:29] hawyar opened #22373 "Fix error in add-seo-component doc"
There is an error in the **Adding an SEO Component** section on creating a new boilerplate component. When you copy/paste the following code snippet it results in an error as it expects an expression from the const SEO.

[code]
The following should produce the correct output

[code]

[2020-03-17 23:54] pdeka commented on #10668
What is this issue closed. This is an issue if you create a common lib, add gatsby to it and import Link. Its quite simple to reproduce as well. Am I missing something?

It effectively stops us from using gatsby in a common lib. We have 3 templates a common libs across the templates. https://share.getcloudapp.com/YEuADNnn

Importing 'gatsby-link' also does not work for the reasons mentioned above

[2020-03-18 01:51] PulsarMedia commented on #15118
Hi, just came across this post and not sure if it still matters to anyone but i have a custom rest api script in my WordPress starter theme that fetches widgets assigned to a specific sidebar...and it works in GraphQL.

You can download the theme here:
https://github.com/PulsarMedia/Gatsby-WordPress-Starter-Theme

or if you just want the rest api class then the file you would need is here:
https:/

[2020-03-18 02:36] winstonma commented on #22357
@connorlindsey Thanks for the info.

I saw the log from the `onCreateNode` that the new item is added onto my node. However I couldn't saw the item in GraphQL. The API would be perfect but where should I place the `reporter` to see the node content after the function `onCreateNode` is being executed? Thank you very much.

[2020-03-18 02:38] winstonma commented on #22357
@Js-Brecht I am adding fileNode, using `createRemoteFileNode`. I also tried string but I have no luck getting my desired result.

[2020-03-18 03:36] Js-Brecht commented on #22357
Do you mean you're trying to link a `File` node to your DatoCMS node via `createFileNode()`?

One thing you could do here is subscribe to the store events, and look for the `ADD_FIELD_TO_NODE` event.  Something kind of like this:
[code]

That will show you what the payload looked like that went into the redux store (after `createNodeField()` is executed).  Or you could look for `CREATE_NODE` to se

[2020-03-18 03:50] esentai8 commented on #22367
I thought I define accessToken and spaceId in the .env file and used environment variables in the options setup of gatsby-source-contentful plugin. Previously it worked perfectly. I don't know what has changed now.

On a separate note, what do you mean 'are not defined in production'? in what file I would separately define them?

[2020-03-18 05:23] winstonma commented on #22357
@Js-Brecht  Thanks

I just have a look at the source code of the plugin and find no `onCreateNode` in src/gatsby-node.js. Would that be a sign?

[2020-03-18 07:11] Somiona opened #22376 "Crash when any page includes graphql query"
## Description
When any of pages used graphql query and run `gatsby develop` will lead to crash at the state of `onPostBootstrap`
But if I start develop server with no query first, and then add a new query into page, everything will work just fine.
I'm using yarn. But npm results the same thing.
### Steps to reproduce
I'm using typescript.

core code:
[code]
[code]
and `gatsby-config.js` is config

[2020-03-18 07:14] Js-Brecht commented on #22357
It seems odd to me that they would wipe out any transformations that are being done by consumers, but I guess it's not outside the realm of possibility.

The store subscription event will be fired after `createNode()` is called, so it is not dependent on `sourceNodes` or `onCreateNode`.

Try doing `getNodes()` in `onPostBootstrap` to see the entire collection of nodes that have been generated by t

[2020-03-18 07:51] willm commented on #18866
@pieh We upgraded to 2.19.41 yesterday, but are still getting ChunkLoadErrors quite frequently. If we can provide more information, please let me know.

[2020-03-18 08:01] dvrylc commented on #21995
I'm working on `packages/gatsby/src/utils/gatsby-dependents.js`

[2020-03-18 09:51] tommaton commented on #22348
@herecydev

I do have `___loader` in my jest config as this is how I set it up for `gatsby-link` previously.

[code]

Silly question but how would I mock the Gatsby Link?

[2020-03-18 10:12] turistua commented on #10668
As far as I understand the issue, webpack config for storybook should be aware of gatsby package.

I've fixed the issue by adding additional line of code to storybook webpack config:
  config.module.rules[0].include = path.resolve(__dirname, '../../..');

which allows webpack to find gatsby package.

The reason why changing import from gatsby to gatsby-link works is proably because gatsby-link is

[2020-03-18 10:39] Levino commented on #10668
I guess using yarn and "nohoist" for gatsby could also do the trick.

[2020-03-18 11:01] ascorbic commented on #22376
Hi. Thanks for the report. From the error message, this looks like an issue with gatsby-plugin-generate-typings. Could you file the issue there. If it turns out to be an issue with Gatsby then please do open a new ticket here and include the full plugin config and a link to the ticket on gatsby-plugin-generate-typings.

[2020-03-18 11:01] #22376 closed

[2020-03-18 11:11] ascorbic commented on #22367
Hello. Prefixing with `GATSBY_` is only required if you need the variables in the browser, not for build.

You need to ensure that you have a `.env.production` file if you're running gatsby build locally. If you look at your `gatsby-config.js` file, you can see that dotenv is trying to load a different file depending on the NODE_ENV variable, so you need both files. If you don't need different set

[2020-03-18 11:11] #22367 closed

[2020-03-18 11:13] wadkar commented on #15601
@wardpeet / other maintainers : can we please get an acknowledgement again that their is some work going on?

It would also be helpful if you can give me/others pointers on how one may approach on resolving the issue and I would be happy to create a PR. Having such a PR that aims to resolve this issue will let people see that the issue is being worked and what the progress is on the issue. (Assumi

[2020-03-18 11:15] hlolli commented on #17506
This causes chrome not to lazy load at all, and the lighthouse/audit rankings are down the drain because of this.

[2020-03-18 11:24] ascorbic commented on #22341
Sharp doesn't process SVG files, and there's no benefit to using gatsby-image with them as they already resize to whatever size you need. If you want to use SVGs loaded from Wordpress you should load them as files rather than childImageSharp. You can get a path in your graphql query and load that in a normal img tag. If you want them inline then that isn't supported directly. There's [a plugin](ht

[2020-03-18 11:24] #22341 closed

[2020-03-18 11:28] ascorbic commented on #22357
I'm not sure about this specific issue, but if you haven't updated the Dato plugins in the last few days then you really should, as there have been some significant updates that @sidharthachatterjee in the Gatsby team has been contributing. He will be opening more PRs later this week, but our whole company has been on leave for the past two days.

[2020-03-18 11:51] winstonma commented on #22357
@ascorbic I am using the latest verison

[2020-03-18 12:02] SajithRAP opened #22379 "Gatsby build form run on own server issue with nodemailer error on webpack"
I tried to implement the **Run your own server** concept given in the gatsby document link [https://www.gatsbyjs.org/docs/building-a-contact-form]. But it throws lots of webpack error in nodemailer.

I have refershed the node modules and also reinstalled the nodemailer package. But still didnt work.

I have tried both the import and also declaring as const. But both did't work.

Below is my code a

[2020-03-18 12:07] froddd commented on #20569
We have noticed the same issue, which you can clearly see by inspecting the network tab for images at the following URL with the window resized narrow enough to ensure lower images aren't loaded straight away: https://co-operate.coop.co.uk/choose-area/. All images are loaded straight away in Chrome, but are lazy-loaded in Firefox.

Incidentally, we're not seeing the issue on this other page: https

[2020-03-18 13:14] connorlindsey commented on #22379
Based on the tutorial you linked, you should be creating a completely separate application from your gatsby website. This node application would require it's own package.json, index.js (which you have above), and node_modules. You'd want to host that on another service like Heroku. Here are some good [ways to host a node app](https://flaviocopes.com/nodejs-hosting/).

Once you have it hosted, you'

[2020-03-18 13:26] herecydev commented on #22348
See [Unit testing](https://www.gatsbyjs.org/docs/unit-testing/#mocking-gatsby)

For the above ___loader is not a string it's an object. It'll also need to have an enqueue function as referenced by `TypeError: ___loader.enqueue is not a function`

[2020-03-18 13:52] jmaroa commented on #13698
How did get into this solution?

[2020-03-18 14:26] winstonma commented on #22357
@Js-Brecht Thanks again

After digging in the plugin code, it seems to me that the `CreateNode` is being called too late. Therefore I modified the source code and added an item. Also by using `getNodes` I could confirm that my added items are displayed on the node.

[2020-03-18 14:59] #22229 closed

[2020-03-18 15:05] l19861225q commented on #22303
The same problem to me, I can't dev & build, please help ~

[2020-03-18 15:08] steverandy commented on #20126
It seems the issue is related to this line https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/src/index.js#L395

When I change it to `imgCached: false`, the fade animation works for both safari and chrome.

[2020-03-18 15:30] seblemeur commented on #13322
`gatsby clean` worked for me !

[2020-03-18 15:30] seblemeur commented on #13322
gatsby clean worked for me after hours of debug !

[2020-03-18 15:46] jlengstorf commented on #22303
@l19861225q you can remove the configuration for `gatsby-plugin-manifest` if you want to get unblocked immediately — it's not a fix, but it'll work around the problem for now

[2020-03-18 15:57] jonniebigodes commented on #22379
@SajithRAP you can take two routes here:
1- One create a separate repo and put the server code in there and deploy where you'll want it to be deployed. [Here](https://github.com/jonniebigodes/gatsby_wizard_form_dummy_server) is a sample for you, this repo was used to answer another issue, but it will get you some insights.
2- You can use a lambda function with express and with that you can have th

[2020-03-18 15:57] dcastil commented on #18271
@Idmontie That’s a good idea! Maybe you can create a PR or an issue and someone might pick it up.

[2020-03-18 16:00] jindal368 commented on #22132
how  i can fix it. plz help

[2020-03-18 16:48] kblizeck commented on #2096
Appears to still be an issue in gatsby 2.19.45, gatsby-transformer-remark: 2.6.59, even with quotes around the date -
[code]

[2020-03-18 16:59] Js-Brecht commented on #22357
@winstonma without anything more to go on, it's difficult to provide any more direction.  My suggestion would be to work with the plugin's team on it.  However, since @ascorbic says @sidharthachatterjee is working on the plugin, I think it's in very good hands.

[2020-03-18 17:45] algebrathefish opened #22384 "Redux applyMiddleware not working"
## Summary

## Relevant information

I followed  [this](https://www.freecodecamp.org/news/how-to-get-started-with-gatsby-2-and-redux-ae1c543571ca/)  to add redux to gatsby, but changed the wrapper to

[code]

I am getting no logs for reducers

Is there some other way to configure this?

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`:

[code]

`package.json`: N/A

[2020-03-18 17:57] Js-Brecht commented on #22352
@Joey-Robinson did that answer your questions?

[2020-03-18 19:55] joshcummingsdesign opened #22385 "Minimist vulnerability warning"
## Description

Running `yarn audit` exposes a warning that the package "minimist" contains a vulnerability.

### Steps to reproduce

Run `yarn audit` and see the following warnings:

[code]

### Expected result

`yarn audit` should pass.

### Actual result

Running `yarn audit` returns the warnings seen above.

### Environment

[code]

[2020-03-18 20:26] erezrokah opened #22386 "Bug (plugin-netlify-cms): Netlify identity iframe is created twice when using netlify cms plugin"
## Description

Context: https://community.netlify.com/t/user-invitation-through-mail-opens-index-page-instead-of-login-form-asking-a-password/10684/7?u=erez

When using `gatsby-plugin-netlify-cms` with `enableIdentityWidget: true` (the default), Netlify Identity Widget iframe is created twice.

### Steps to reproduce

1. Clone https://github.com/netlify-templates/gatsby-starter-netlify-cms
2. Run

[2020-03-18 20:35] demostanis-worlds commented on #16076
Another workaround would be to set `dom.serviceWorkers.enabled` to `false` in `about:config`.

[2020-03-18 20:36] jonniebigodes commented on #22384
@algebrathefish by logs do you mean with the devtools?

if that's the case take a look at #17661 to see if it helps

[2020-03-18 20:52] kelvindecosta commented on #22303
Hi @jlengstorf & @LekoArts ,

I failed to reproduce the bug but I noticed something interesting in the output generated by `gatsby info`.

When run from within @jlengstorf 's reproduction, it shows that the `gatsby-source-graphql` package is present:

[code]

This package is not present / used in the [default starter](https://github.com/gatsbyjs/gatsby-starter-default/blob/master/gatsby-config.js)

[2020-03-18 21:03] #21814 closed

[2020-03-18 21:12] xuchen509 commented on #16281
The workaround doesn't work for me. I'm on Gatsby 2.15.x and please address the issue thanks!

[2020-03-18 22:23] jlengstorf commented on #22303
@kelvindecosta there's another bug (#22302) that I was creating a repro for as well, so that's unrelated to this bug

[2020-03-18 22:42] elliott-greaves-babylon-health commented on #21932
@wardpeet the site isn't public yet so I'm not able to share a link. I can confirm this is only an issue in Google Chrome.

[2020-03-18 23:11] olegKusov opened #22389 "Gatsby Website main container shifted to the right"
## Summary

Make text on website docs closer to left menu. Now it centred inside main container.

### Basic example
Here -> https://www.gatsbyjs.org/tutorial/
<img width="2032" alt="image" src="https://user-images.githubusercontent.com/28058268/77015927-52455b80-6987-11ea-947e-c35338626af0.png">

I have to look at the right side of my monitor. Moreover because of Google people used to watch most o

[2020-03-18 23:23] TylerBarnes commented on #22261
@gjpsiqueira , thanks for the additional info. What do you mean when you say Google can't index your Gatsby urls? Is it that they just aren't showing up in search results or are you seeing some other issue?

If google is somehow crawling your backend WP instance, you probably need to [check the option to discourage search engines from indexing](https://www.wpbeginner.com/beginners-guide/how-to-sto

[2020-03-18 23:23] #22261 closed

[2020-03-18 23:38] winstonma commented on #22357
@Js-Brecht Thanks

I guess I learn a bit debugging method from this

[2020-03-19 00:03] #21238 closed

[2020-03-19 00:55] knpwrs commented on #22345
I figured it out! One of my `slug` fields was a number whereas the others were strings, so the schema couldn't infer a type.

[2020-03-19 00:55] #22345 closed

[2020-03-19 01:07] lucasholder opened #22390 "Weird bug with pruneLength and Chinese text"
## Description

When the Chinese text in a MDX file is too long, `excerpt(pruneLength: 250)` returns an empty string. When the text is a bit shorter, it returns the expected string of length 250.

### Steps to reproduce

I'm a gatsby noob, not sure how to make a smaller reproduction of the bug... Basically, I did `gatsby new gatsby-prunelength-bug https://github.com/vim-labs/gatsby-theme-sky-lite-

[2020-03-19 01:45] ssijak commented on #17691
@jacksaunders Hey, have you found a solution for this? I need the same thing.

[2020-03-19 04:06] blainekasten commented on #21837
Hey @leafac

So sorry it's been 19 days with no response. I'm going to try and look into this soon. Our team is running in a limited capacity due to Covid-19 which is a bit to explain why it took so long. But I just wanted to drop a comment to let you know I'll be looking into this (ideally) this week.

[2020-03-19 04:12] dvrylc opened #22394 "PackageJson typing"
## Summary

https://github.com/gatsbyjs/gatsby/blob/d2d32d4f61619da5200f2dd15a034cd51f5e9932/packages/gatsby/index.d.ts#L1184-L1202

I'm currently working on something that uses the `PackageJson` interface and was wondering why `dependencies`, `devDependencies`, `peerDependencies`, `optionalDependencies` and `bundledDependencies` are typed as `Array<Record<string, string>>`?

From the [package.jso

[2020-03-19 04:36] luizcieslak commented on #13305
Hi guys. This issue was staled for a few months and I decided to solve it. Feedbacks appreciated!

[2020-03-19 04:39] jlkiri opened #22396 "feat:(www) Use Storybook for gatsbyjs.org"
## Summary

Consider implementing Storybook for gatsbyjs.org. Is it too costly?

### Motivation

Improved testing and  improved pretty much everything related to styling

[2020-03-19 04:49] steverandy commented on #20569
I'm seeing pagespeed result impact when using native lazy load.
By disabling the native lazy load we got improvement of page speed from 80 → 89.

I would think having the option to opt out native lazy load is a good idea.

[2020-03-19 05:55] vnugent commented on #12858
google took me to this issue. How do I tell gatsby cli to create a project inside an existing git dir without creating a subdirectory?  Similar to `create-react-app .`

My steps:
1. Create a project in github/gitlab
2. Clone to local machine
3. If I run `gatsby new my-site` inside the new project, my-site is created as a subdir.  If I run it outside I'd get the error below

[code]
gatsby -v
Gatsby

[2020-03-19 06:00] algebrathefish commented on #22384
yes @jonniebigodes I mean with the devtools, I will check your answer in that thread.

Thank you very much

[2020-03-19 06:00] #22384 closed

[2020-03-19 08:22] LekoArts commented on #22396
Hi, thanks for the issue!
We don't plan to do that in the near future :)

Hence closing this.

[2020-03-19 08:22] #22396 closed

[2020-03-19 09:02] sethburtonhall commented on #10689
I am able to get `location.pathname` locally at run time, but error is thrown on Netlify at build time.

Error on Netlify: `WebpackError: TypeError: Cannot read property 'pathname' of undefined`

[2020-03-19 09:18] muhzulzidan opened #22398 "my inline image of markdown from cockpit cms is not transformed by gatsby-remark-image or by gatsby-remark-images-anywhere"
my config :

module.exports = {
  siteMetadata: {
    title: `muhzulzidan`,
    author: `muhzulzidan`,
    description: `A student`,
    siteUrl: `https://muhzulzidan.com/`,
    social: {
      twitter: `muhzulzidan`,
    },
  },
  plugins: [
    `gatsby-plugin-react-helmet`,
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `images`,
        path: `${__dirname}/src/i

[2020-03-19 11:41] glenna commented on #20450
We are also seeing this error in Sentry a lot for some of our pages on 8fit.com, on various devices and browsers. We're currently on v2.19.5

[2020-03-19 12:03] #21329 closed

[2020-03-19 12:44] olegKusov opened #22401 "Make good adaptive design for iPad"
## Summary

![изображение](https://user-images.githubusercontent.com/28058268/77068732-1bf3f480-69f8-11ea-946a-e38bcafc1faa.png)
iPad Mini has menu on the left side of the screen. Very uncomfortable to read. It will be better to set mobile design for 768px. Now it's changes to mobile on 745px.

### Basic example

![изображение](https://user-images.githubusercontent.com/28058268/77068880-6ffed900-6

[2020-03-19 13:25] Joey-Robinson commented on #22352
Oh sorry, forgot to update. Absolutely! Everything works like a charm and as expected. Thank you so much.

[2020-03-19 13:36] dvrylc commented on #22394
@blainekasten could I get your help on this? Ran into it while migrating `gatsby-dependents` to TS.

[2020-03-19 13:59] mikepuglisi commented on #10531
Babel 7 Working Example:

`yarn add @babel/core @babel/register @babel/preset-env @babel/preset-react`

// gatsby-node.js
[code]

// gatsby-node.mjs

[code]

React added for my specific use-case

[2020-03-19 14:41] blainekasten commented on #22394
@dvrylc yeah this isn't correct. It shouldn't be wrapped as an Array. Try and make the change and see if `yarn typecheck` throws any errors. Maybe we are doing some goofy transform in the codebase, but I think this should just be `Record<string, string>`

[2020-03-19 14:44] matjack1 commented on #22357
hello, I'm chiming in from DatoCMS!

I've tried to reproduce the issue and following your suggestion I've tried to inspect the nodes with `getNodes` in `onPostBootstrap`.

I can find the added field in the `fields` attribute correctly, but the I cannot see it in the GraphiQL. Are we doing something strange on our source plugin?

I'm trying with latest versions of both Gatsby (2.19.49) and our plug

[2020-03-19 14:48] blainekasten commented on #22070
@JustFly1984 what version of TS are you using? This feels peculiar that your local is failing because of some typings within the @types dependencies.

[2020-03-19 15:49] Js-Brecht commented on #22352
Glad to hear it!

I'm closing this issue as answered, but if you have anymore questions, please feel free to come back and comment.

[2020-03-19 15:49] #22352 closed

[2020-03-19 15:52] Js-Brecht commented on #22357
@matjack1 is there any `infer: false` or `@dontinfer` on the type that the field is being added to?

[2020-03-19 16:00] dvrylc commented on #22394
Made the changes, `yarn typecheck` looks good!

[2020-03-19 16:51] JustFly1984 commented on #22070
@blainekasten We are using latest "typescript": "3.8.3", node 13.11.0

our tsconfig.json

[code]

how else can I help to solve this issue?

I have same kind of import issue with other package - `react-use` - crosslink issue: https://github.com/streamich/react-use/issues/892

[2020-03-19 17:35] karlsander commented on #18689
@manuelJung are you still working on this idea / using it? Could you share the work you did in a fork to create a POC? I'm very interested in this for my own work.

Seems like a killer feature for gatsby if it could be supported in a generic way.

[2020-03-19 17:43] beliayeu opened #22409 "Unable to exclude an imported css file from static build"
## Description

Given a css file is excluded leveraging null-loader from static build
When gatsby build triggered
Then error is thrown

### Steps to reproduce

1. npx gatsby new gatsby-site
2. adjust gatsby-node.js
[code]
3. gatsby build

or try to build from

https://github.com/beliayeu/gatsby-starter-default/tree/bug/null-loader

### Expected result

gatsby build finishes without errors. layout.

[2020-03-19 18:01] MohammedAl-Mahdawi opened #22411 "Recipe to clone Gatsby documentation website"
I want to create a documentation website and I really like how Gatsby documentation website looks like, I know about Docz but it is not cool like Gatsby documentation website.

Is there any recipe, advises about how to achieve this?

[2020-03-19 19:13] #22394 closed

[2020-03-19 19:33] NiviJah opened #22412 "Possible I hit a Graphql size/length limit ?"
## Description

One of my pages is constructed with multiple GQL fragments, which in turn, have their own fragments.
Everything was working fine until I added one more component/fragment.

Now i'm getting `Response not successful: Received status code 400`

I ruled out any code issues, null, typos, duplications etc.
I found out that by removing any sufficient number of fields from any part of the

[2020-03-19 19:50] Macil commented on #18689
I think a good solution to this could be made by using React.lazy and Suspense, but React doesn't support those yet for server-side rendering. It might make sense to wait on React to make progress in this area before trying to attack this issue. (+1 to re-opening the issue though.)

[2020-03-19 19:58] xveganxxxedgex opened #22414 "Links that match collection names are getting replaced in GraphQL query"
## Description

We have a project using netlify-cms and have an issue where frontmatter links are getting manipulated when returned by the GraphQL queries when the values match a collection name. It doesn't seem to affect markdown content, just frontmatter values.

We have an `about` collection that supports each site in our monorepo to have their own About page. If we try to link to `/about` from

[2020-03-19 21:41] #22386 closed

[2020-03-19 21:42] tommaton commented on #22348
So the `___loader` wasn't actually the problem, I needed to add a Mock in for the Gatsby Link https://www.gatsbyjs.org/docs/unit-testing/#3-useful-mocks-to-complete-your-testing-environment

Once I done this, the tests all passed with no errors from Gatsby Link

[2020-03-19 21:42] #22348 closed

[2020-03-19 21:57] anneramey opened #22418 "Contentful-Gastby-Netlify 503 errors"
## Summary
When I build, I am consistently getting 503 errors. This happened last week and then just magically went away, but now it's back.

## Relevant information
When I build, I am consistently getting 503 errors. This happened last week and then just magically went away. Ideas why I'm getting a 503? I can't offer steps to reproduce because it doesn't happen with a local build and it happens f

[2020-03-19 22:15] anneramey opened #22419 "Getting stuck on createPages when building. Gatsby+Contentful"
## Summary

About 60% of the time, when I locally do a gatsby build or gatsby develop, the build gets hung on createPages

## Relevant information

This happens with complete inconsistency. It will happen many times in a row or not for days. Clearing the cache and public folders doesn't seem to help. This is for my contentful site. Not sure what I'm doing wrong. I'm on windows 10. My mac coworker

[2020-03-19 22:58] marcysutton commented on #22214
Following up on this, I created a Codepen demo to test it: https://codepen.io/marcysutton/pen/xxGJgNy

In Chrome and Voiceover, it works fine from a keyboard mechanics perspective. It will also read out the alt text for images by default, but this isn't necessarily clear to AT users.

In Safari and Voiceover, additional keys are needed to scroll: I was able to navigate through the content using Sh

[2020-03-19 23:22] apolopena opened #22420 "How to configure a webpack loader for markdown files (gatsby-plugin-netlify-cms)"
I need to load data from frontmatter in an `.md` file generated by a CMS from a `.js` file where graphql is not available (that would be my cms module `.js` file for `gatsby-plugin-netlify-cms`). The error message I continue to receive leads me to believe that all I need to do is add a webpack loader to handle frontmatter ([frontmatter-markdown-loader](https://github.com/hmsk/frontmatter-markdown-

[2020-03-19 23:36] DavidSabine commented on #21528
The `gatsby-plugin-stripe` repository has been archived. And Stripe advises the use of `@stripe/react-stripe-js` instead of their older `react-stripe-elements`.

Both Gatsby docs referenced in this thread still advise the use of those older modules.

https://www.gatsbyjs.org/docs/processing-payments-with-stripe/
and
https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/

Please don't close this iss

[2020-03-19 23:39] EnKrypt commented on #18433
Followed up with other members in the org, and this now seems to be in the process of happening.

https://github.com/gatsbyjs/gatsby/pull/22400

Once support for Node 8 is dropped, my PR above will be merged and this should be fixed.

[2020-03-20 00:34] joeldbirch commented on #14990
I wish I understood enough of this thread to get any of the workarounds working 😔

[2020-03-20 00:43] Js-Brecht commented on #14990
#18703 is really, really close to being merged.  Just waiting on one more review

[2020-03-20 00:44] freedamoore commented on #19863
I had this issue using while using the terminal in VS Code. Seems like it's case sensitive, so make sure the drive letter and all the folders match the actual cases.

So for me, the issue occurred because I had initially  navigated to my destination folder by using a lower case "b" for my blog folder when I had created it with a capital "B".
I fixed it by changing **blog** to **Blog** as per below

[2020-03-20 01:52] winstonma commented on #22357
Thanks @Js-Brecht

After I changed the last `infer: false` to `infer: true` in https://github.com/datocms/gatsby-source-datocms/blob/master/src/hooks/sourceNodes/createTypes/item/index.js

I can see my added field in GraphQL.

[2020-03-20 01:54] Js-Brecht commented on #22357
I had a feeling it was that one, but it was hard to be sure without knowing what data was going into it, so I could extrapolate the result

[2020-03-20 02:33] moonmeister commented on #19899
@lifeiscontent Alright, here is the link where we simply extract the first and theoretically smallest icon and use it for the favicon.

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-manifest/src/gatsby-ssr.js#L33

In the `gataby-node.js` file in that same package we need to explicitly create the 32px variant if the favicon generation is happening.

[2020-03-20 03:00] zachtylr21 commented on #21995
I'd love to help with this, @blainekasten. Any suggestions for a first time contributor?

[2020-03-20 03:28] seaneking commented on #21946
Also ran into this, using `location.href` for meta tags, which have to be SSRd. I think Gatsby should:

- Document what's available on `location` in SSR/buildtime
- Error if trying to access `location.href` when it's not available
- Document using `location.pathname` and the site's canonical URL instead

I don't think Gatsby should try and construct `location.href` in SSR envs. It's pretty trivial

[2020-03-20 03:44] connorlindsey commented on #22418
A [503 error](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503) indicates that the service is overloaded or unavailable, so this likely has nothing to do with Gatsby, but with whatever service is building your website.

[2020-03-20 06:03] kdev29 commented on #19863
I was facing the same issue on my Windows 10 machine, and indeed is a case sensitivity thing, in my case I changed the C:\Users\leoc_\**d**ocuments\ to C:\Users\leoc_\**D**ocuments\ and it built successfully in the powershell terminal on VSCode.

[2020-03-20 06:08] soobing opened #22425 "SEO and Social sharing cards tutorial - Unused variable and wrong propTypes"
## Summary

I am trying to apply [seo and social sharing cards tutorial](https://www.gatsbyjs.org/tutorial/seo-and-social-sharing-cards-tutorial/#querying-with-graphql) to my project.

While developing this tutorial to my project, I found unused variable even declared and wrong propTypes.

Some recommended topics to cover:

- `const { previous, next } = this.props.pageContext` should be erased.
[c

[2020-03-20 07:36] vovalukashov opened #22428 "gatsby-plugin-stylus: translate3d(0, 0, 0) -> translateZ(0)"
## Description

Hi! I often write css animations, and therefore often use translate3d (0,0,0), but when compiling it turns into translazeZ (0). In safari, when creating @keyframes, animation stops working because of this.

### Steps to reproduce

before:

@keyframes animation {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 5%, 0);
  }
}

after:
@keyframes

[2020-03-20 08:00] JGeiser9 commented on #9911
@m-allanson I am encountering a similar issue in a simple gatsby-starter-template when incorporating my own my own styled components / ThemeProvider / GlobalStyles.

I am working on a simple codesandbox reproduction.

Happy to invite you to a repo with the code in the meantime if that helps as well

[2020-03-20 08:27] iamsrk opened #22429 "Gatsby-source-filesystem plugin graphql returns null"
## Summary
I created a gatsby-site and used gatsby-source-filesystem for generating dynamic pages as well as get images. But my Image is not rendered and when I check GraphiQl, I got null.

## Relevant information
I asked a question in [stackoverflow](https://stackoverflow.com/questions/60769666/gatsby-image-plugin-not-working-properly-for-my-web-site#60769841)

### File contents (if changed)
my g

[2020-03-20 09:02] matjack1 commented on #22357
@Js-Brecht should we remove that? We stop inferring because we had some compatibility issues and it was going to be deprecated in the future?

What's the recommended behaviour there? Thank you!

[2020-03-20 09:16] thorsten-stripe commented on #21528
@DavidSabine I've opened PR #22431  to remove the outdated information from https://www.gatsbyjs.org/docs/processing-payments-with-stripe/. Would appreciate your feedback!

I updated https://www.gatsbyjs.org/tutorial/ecommerce-tutorial/ a couple weeks ago, see #21675. You mention that it "still advise the use of those older modules", but I can't see that. Could you point me to where you're seeing

[2020-03-20 09:21] Floriferous commented on #7810
Has anyone found a solution using babel? It'd be great if I could drop my babel config in a gatsby project, and have it all work.

Using gatsby, but then having to go back to `module.exports` really feels like a massive step back.

`Modern web tech without the headache` -> not so much :(

[2020-03-20 09:37] Floriferous commented on #10531
@mikepuglisi I'm getting the following error with your setup:

`Error: [ERR_REQUIRE_ESM]: Must use import to load ES Module: /path/to/gatsby-node.mjs`

Running node 12.14.0.

[2020-03-20 10:39] #18433 closed

[2020-03-20 10:41] #22409 closed

[2020-03-20 10:44] muuvmuuv commented on #21824
It is not stale...

[2020-03-20 11:00] LekoArts commented on #21824
Thank you for opening this!

This sounds a bit like an edge-case so I don't think that this should be integrated. You can pull out that part into a function that returns that string or separate the whole plugin into another file and push it into the array. There are multiple possibilities for that.

We're marking this issue as answered and closing it for now but please feel free to comment here if

[2020-03-20 11:00] #21824 closed

[2020-03-20 11:02] #22425 closed

[2020-03-20 11:07] Ekwuno commented on #21962
Hi @ElijahCano33 , Thanks for showing interest in working on this. Sure you can open a PR and specify that it is aimed at closing this issue and I will happily review. 💜

[2020-03-20 11:13] adonig commented on #21637
I get this error since upgrading. What's the best way to fix it? Should I go back to 2.19.35 or will this get fixed soon?

[2020-03-20 11:21] #21934 closed

[2020-03-20 11:22] jnsrikanth commented on #21934
closing this ticket.

[2020-03-20 11:33] pieh commented on #22420
I think this might be the case of plugin ordering - my guess is that we run webpack for cms portion before you add your `.md` webpack rule.

Could your try creating local plugin and test it out:
 - in root of your project create `plugins/gatsby-plugin-frontmatter-markdown-loader` directory
 - create package.json with just
[code]
 - create `gatsby-node.js` with your `onCreateWebpackConfig` there
 -

[2020-03-20 11:55] LekoArts commented on #22302
Hi Jason,

this is an issue with npm and not necessarily with Gatsby. As per https://github.com/gatsbyjs/gatsby/issues/10607#issuecomment-450290701 the starters ship with both lock files. As per https://github.com/gatsbyjs/gatsby/issues/13210 the lock file that is not from your default package manager gets deleted.
You have `yarn` as your default package manager set.

If you now try to use npm it

[2020-03-20 11:55] #22302 closed

[2020-03-20 12:03] #21558 closed

[2020-03-20 12:03] #21500 closed

[2020-03-20 12:04] LekoArts commented on #22357
I would suggest moving that issue to the plugin repo then as it doesn't seem to be an issue with Gatsby - and the initial question was answered. Thanks!

[2020-03-20 12:04] #22357 closed

[2020-03-20 12:06] LekoArts commented on #22429
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-20 12:10] LekoArts commented on #22428
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-20 12:13] LekoArts commented on #22412
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-20 12:15] LekoArts commented on #22411
Thank you for opening this!

You could look for documentation themes on our plugins search: https://www.gatsbyjs.org/plugins/
Or study our `www` code: https://github.com/gatsbyjs/gatsby/tree/master/www
Or the starters: https://www.gatsbyjs.org/starters/?c=Documentation&v=2

But besides that you can't reuse our own site. I'd advise trying out one of the above mentioned options.

We're marking this

[2020-03-20 12:15] #22411 closed

[2020-03-20 12:28] LekoArts commented on #22398
Thank you for opening this!

You probably use the plugin `gatsby-remark-images-anywhere` incorrectly. As the normal plugin only works for local files. Please contact the plugin author for help on that as we don't maintain it.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading ove

[2020-03-20 12:28] #22398 closed

[2020-03-20 12:29] LekoArts commented on #22389
Thanks for the issue, but that is nothing we will or want to fix.

[2020-03-20 12:29] #22389 closed

[2020-03-20 12:32] LekoArts commented on #22379
Thank you for opening this!

As Connor said this is probably the Gatsby setup interfering with the setup you should to separately. Hence this isn't an issue with Gatsby.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](https://www.gatsbyjs.org/contribu

[2020-03-20 12:32] #22379 closed

[2020-03-20 12:33] LekoArts commented on #22373
Closing this as it's not an issue.

[2020-03-20 12:33] #22373 closed

[2020-03-20 12:35] LekoArts commented on #22305
Thank you for opening this!

As our tutorial explains you should pass a unique identifier via context and use that as a variable in your template query: https://www.gatsbyjs.org/tutorial/part-seven/

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [communities](http

[2020-03-20 12:35] #22305 closed

[2020-03-20 13:18] mikepuglisi commented on #10531
@Floriferous

I was running node 10.

Here is an example for all versions (Note no more mjs file extension)

// gatsby-node.js
[code]

// gatsby-node-es6.js
[code]

[2020-03-20 13:24] iamsrk commented on #22429
I just updated the way to reproduce

[2020-03-20 13:31] HiltonGiesenow opened #22437 "Gatsby site not rendering in IE 11"
I've created a new site using the https://github.com/codebushi/gatsby-starter-photon template, and I've upgraded to the latest version of Node.js (12.16.1) and the latest Gatsby (2.20.1), but I can't get the site to render in IE or the original Edge browsers. I've tried a ton of things I've found on the net, and I'm injecting polyfill.js as well. In fact, I've tried injecting another polyfill dire

[2020-03-20 14:05] I-Valchev opened #22439 "gatsby-plugin-offline only caches page-data.json"
Hi, I am trying to get a website working offline using `gatsby-offline-plugin`.

It is set up correctly and caches all the files I want cached. However, the service worker only caches `page-data.json` files, not the `.html` files, which means that when offline, I get a page 'No internet' error.

config is:

[code]

Any idea on how to fix it?

![Screenshot 2020-03-20 at 15 04 06](https://user-image

[2020-03-20 14:56] NiviJah commented on #22412
Thank you for your reply @LekoArts.
I completely understand how much this would make it easier to debug.
But since the issue is most likely a very long page query, i don't see how can create a replicate without my actual data and tokens.
I will try to see if I can mock something up.
But I would very much appreciate if can at least begin to see if you can get a clue of what's going on

[2020-03-20 15:08] wesbos commented on #7810
`npm i esm`

and then modify your commands to look like this:

https://github.com/wesbos/awesome-uses/blob/master/package.json#L39-L42

[2020-03-20 15:33] NiviJah commented on #22412
@LekoArts I invited you to a private repo replicating this issue
https://github.com/NiviJah/gatsby-issue-22412/

[2020-03-20 15:36] olegKusov commented on #16450
I have same issue

[2020-03-20 15:40] olegKusov commented on #16450
Try to delete .cache folder and public folder and build it again

[2020-03-20 15:49] antoine-doolaeghe opened #22440 "Main Bundle JS Too large with PrismicJS and Gatsby image (600kb!)"
# Summary
Hard time to debug large Gatsby main bundle size after build **(600kb!)**

## Relevant information

I'm having a hard time to understand why the index bundle is so heavy, nearly 600kb ! With nearly 3sec initial load. This slows the loading of index page images using gatsby-image (even when using the critical loading tag).

Here is the live version (make sure you are on the European store

[2020-03-20 16:03] pvdz commented on #6291
Sharp has been bumped by https://github.com/gatsbyjs/gatsby/pull/22432 and that means this issue should now be closed. Please report back if you have Sharp related segfaults or see warning messages that have been reported in this thread.

This change has been published in the following packages:

- gatsby-plugin-manifest@2.3.1
- gatsby-plugin-sharp@2.5.1
- gatsby-remark-images-contentful@2.2.1
- g

[2020-03-20 16:03] #6291 closed

[2020-03-20 16:52] julianruizsa commented on #21982
Have anyone figure it out how to solve this issue? I now its related to VSCode remote with WSL, but is particullary annoying with gatsby projects.

I've downgraded Gatsby version but still the same, although it kind a works, still creates redux folders every time I save changes so it reloads the webserver.

[2020-03-20 16:59] muescha opened #22444 "docs: Suggestion: unify npm / remove --save from npm install"
## Summary

Unify `npm install` commands in docs and all README

Suggested changes:

- [ ] 1) remove `--save` from `npm install`
- [ ] 2) replace `npm i` with `npm install`
- [ ] 3) put `--save-dev` as first param after install
  (`npm install dep1 dep2 --save-dev` -> `npm install --save-dev dep1 dep2`)
- [ ] 4) put commands in code blocks for better copy paste

### Motivation

- `--save` is not a

[2020-03-20 17:00] muescha commented on #22444
it makes sense to have 4 PR after each step?

[2020-03-20 17:20] muescha commented on #20797
should also an update code snippets for the `Link` imports in the examples in  https://www.gatsbyjs.org/contributing/docs-templates/ ?

_PS: Note the PR #21574 `feat(docs): Split up Docs Templates into Different Pages`) for this page_

[2020-03-20 17:46] wfendler commented on #21982
@julianruizsa I'm not longer experiencing [the problem I reported](https://github.com/gatsbyjs/gatsby/issues/21879#issuecomment-594195048) in the related issue #21879

So, if it's helpful, I'm on:

- Gatsby CLI version: 2.10.11
- Gatsby version: 2.19.45
- Visual Studio Code Version: 1.43.1

[2020-03-20 18:10] pieh commented on #22303
This seems related with https://github.com/gatsbyjs/gatsby/issues/21032 / https://github.com/libvips/libvips/issues/1539

Where globally installed `libvips` mess with `sharp` - can you try running `vips --version` (to verify if you have it globally installed and if you do what version you have)?

[2020-03-20 18:29] AishaBlake commented on #20797
@muescha, I think that's a fair point. Would you mind opening an issue?

[2020-03-20 18:35] muescha opened #22446 "docs: add section about LocalizedLink"
## Summary

there should be a section about the `LocalizedLink` in docs (for example in https://www.gatsbyjs.org/contributing/docs-and-blog-components/ )

### Motivation

`LocalizedLink` is introduced with:
- #20797 `[www] Use `localizedLink` for all links`
- #20820 `[www] Update links to use localizedLink`

## Steps to resolve this issue

### Draft the doc

- [ ] Write the doc, following the form

[2020-03-20 18:35] muescha commented on #20797
added:
- issue #22446 `docs: add section about LocalizedLink`

[2020-03-20 18:48] adam-hanna opened #22448 "Property 'mockImplementationOnce' does not exist on type 'typeof StaticQuery'."
## Description

Trying to follow this [doc](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/testing-components-with-graphql.md).

Using `"typescript": "^3.7.5"` and `"gatsby": "^2.18.12"`

Am getting the following error:
[code]

### Steps to reproduce

[code]

### Expected result

Should run tests and pass.

### Actual result

[code]

### Environment

[code]

[2020-03-20 20:07] apolopena commented on #22420
Yeah that was it. Thank you so much @pieh.
I will look into making it an external plugin and submitting it to the plugin library.

[2020-03-20 20:30] raRaRa opened #22450 "Gatsby cloud doesn't seem to respect the build in packages.json"
## Description

I'm creating a Gatsby blog which should be located inside the directory `/blog`, so I've added the path prefix `/blog` to `gatsby-config.js` and the build inside packages.json has the --prefix-paths prefix:

```"build": "gatsby build --prefix-paths"```

This looks good locally, but Gatsby cloud doesn't seem to respect it.

### Expected result

I expected Gatsby cloud to run the bui

[2020-03-20 20:56] alveshelio commented on #17557
I'm running into this issue too and I'm on a Mac but my setup is within a monorepo. If I create a new project outside of the monorepo I have no issues, however, if I create a new project within my monorepo or if I create it outside and move it to the monorepo I start having this issue.

One way I found was to remove node_modules and instead of using `yarn`, I've used `npm install` and it works jus

[2020-03-20 20:59] herecydev commented on #22448
Have you definitely mocked Gatsby? Check here: https://www.gatsbyjs.org/docs/unit-testing/#mocking-gatsby

[2020-03-20 21:10] adam-hanna commented on #22448
Ah, no I haven't seen that. Thanks @herecydev

There's a broken link in the docs which currently, points [here](https://github.com/gatsbyjs/gatsby/blob/master/docs/unit-testing). Maybe all that's needed is updating that to the link you posted?

[2020-03-20 21:15] herecydev commented on #22448
Where did you find the broken link sorry?

[2020-03-20 21:20] adam-hanna commented on #22448
Here:
https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/testing-components-with-graphql.md

[2020-03-20 21:23] herecydev commented on #22448
Sure I see what you're saying now. However these docs aren't meant to be referenced directly from github. They are build and displayed in the Gatsby docs site. So that markdown file is here:

https://www.gatsbyjs.org/docs/testing-components-with-graphql/

And you can see that the link (because it's relative) is pointing to the correct place there.

[2020-03-20 21:31] kuworking opened #22451 "Repeated JSON schema due to service worker?"
When analyzing my site with a schema tester like [google's one](https://search.google.com/structured-data/testing-tool), I see that the JSON schema is there two times

The first one appears in the head, but it is not completely correct

The second one is an almost identical copy (but with all data correct) and appears at the end, after the `html` end tag, like this:

[code]

Where this script is f

[2020-03-20 21:35] timhagn opened #22452 "Accordion Items in FAQ on Gatsby Cloud / Pricing has an infinite animation"
## Description

On FF: 74.0, Chrome 80.0.3987.149 & Chromium 82.0.4083.0 (Developer Build) Built on Ubuntu 18.04, running on LinuxMint 19.3 (64-bit) your Pricing site has an infinite animation Problem.
The up and down arrows spin endlessly, when an Item's header is opened and focused.

### Steps to reproduce

Open [Pricing | Gatsby Cloud](https://www.gatsbyjs.com/pricing/) on one of the mentioned

[2020-03-20 22:20] parikshitgupta1 commented on #21995
There are quite a few globals/window variables: __BASE_PATH__, ___navigate, ___push, ___replace, __PATH_PREFIX__, ___loader.

[2020-03-20 23:29] hhimanshu opened #22454 "How to I change image paths in meta tag during production build?"
## Summary
I want to use `Helmet` to add the twitter card. However, I am confused about what path do I mention in **content** attribute?
Assuming I have an image at `src/imgs/post1.jpg`, how can I specify the path once that works in both `dev` and `production` builds?

#### Local Build
[code]
#### Production Build
And what path will be in production build? and how will it get replaced? Do I need t

[2020-03-20 23:46] eVocaTiv commented on #9911
What worked for me :-

I was facing similar issues and none of the suggestions posted here worked for me.
I had been using 2 different versions of styled-components - the open source one for most of the components  I made from scratch and the one from google's material UI for the components I took from that library, however the latter ones weren't reflecting on initialClientRender.

Ended up disca

[2020-03-21 00:29] zachtylr21 commented on #21995
If nobody is opposed, @blainekasten, I think I'll try converting `babel-plugin-remove-graphql-queries`.

[2020-03-21 00:33] carloslsilva opened #22457 "npm audit security vulnerabilities"
## Description

#### After install gatsby I was notified with this:

Run  npm update mkdirp --depth 5  to resolve 1 vulnerability

  Low             Prototype Pollution

  Package         minimist

  Dependency of   gatsby

  Path            gatsby > eslint-loader > loader-fs-cache > find-cache-dir >
                  mkdirp > minimist

  More info       https://npmjs.com/advisories/1179

[2020-03-21 00:53] #22448 closed

[2020-03-21 00:53] NiviJah commented on #22412
New information we found may indicate a limit in Appollo's HTTP GET

[code]

[2020-03-21 01:11] NiviJah commented on #22412
maybe a long shot but I am putting this here anyway, seems somewhat related to this:
https://github.com/gatsbyjs/gatsby/issues/3094
<img width="823" alt="Screen Shot 2020-03-20 at 6 06 02 PM" src="https://user-images.githubusercontent.com/2770112/77216232-af601f00-6af7-11ea-9ea9-6e416fb797f2.png">

[2020-03-21 01:14] greglobinski commented on #22452
Thank you @timhagn  The fix is on the way.

[2020-03-21 01:21] #22452 closed

[2020-03-21 01:23] kuworking commented on #22451
Closing, somehow the problem existed only when there were differences in constructing the schema between build time and execution time, and then the service worker somehow inserted the different schema at the end of the document

Once I've used variables that were also available during build time, the issue has disappeared

[2020-03-21 01:23] #22451 closed

[2020-03-21 01:37] ROODAY opened #22459 "Erratic 404 when deploying to GitHub Pages"
## Description

Sometimes when deploying my gatsby page to gh-pages, going to the site gives the github pages 404. However, going to a subpage like /about loads properly, and the whole site is usable, including the home page. However, reloading on the home page or trying to go to it in the address bar results in the 404. After a while it resolves itself, but this is super confusing and I'd like to

[2020-03-21 02:56] juanvs23 commented on #11406
Is work!!

[2020-03-21 03:37] jlengstorf commented on #22303
@pieh yeah, looks like I have it installed globally

[code]

what's the fix, do you think? uninstall?

[2020-03-21 07:51] ahmad-reza619 commented on #19870
Hey @matanui159 , i already opened pull request documenting your issue, check it out in #22462

[2020-03-21 09:30] fabiobarbosa commented on #17506
I'd also like to see this being addressed. Adding attributes to images, even when fluid, is slowly becoming a new best practice.

[2020-03-21 09:33] converge commented on #17462
if you guys need a working example, it's using Gatsby+Markdown+Prism:

https://github.com/converge/personal-website

[2020-03-21 10:15] herecydev commented on #22437
It should be fine, I can definitely get the photon starter to work in ie11. Do you want to push a repo with your changes, so we can see what additions are breaking?

[2020-03-21 11:33] parikshitgupta1 commented on #21995
@zachtylr21 alright

[2020-03-21 12:03] #21515 closed

[2020-03-21 12:30] dgrcode opened #22463 "gatsby-source-filesystem returns '.' as the extension when the url ends in '...'"
## Description

Calling `createRemoteFileNode` without an `ext` argument and with the `url` argument ending in `...` results in the wrong file extension. This plugin uses `.` as the extension, causing issues with other plugins down the pipe, like `gatsby-image`.

### Steps to reproduce

This is happening to me when importing an image from airtable and that image's url is ellipsized because the nam

[2020-03-21 13:45] ilyas-shah commented on #9802
Sometimes you may forget to restart the gatsby development server because of that you won't be able to see changes in **graphiql**.  Always make sure to restart the gatsby development server. For me, this was the issue.

[2020-03-21 13:52] jlkiri commented on #21640
Added in #21762

[2020-03-21 13:53] #21640 closed

[2020-03-21 14:14] elias-thok commented on #21664
Same problem here, started today all of a sudden.
Error appears in node version 13.11, NPM-6.14.

`Generating SSR bundle failed

/Users/test/repo/.cache/loader.js: Unknown helper createSuper

File: .cache/loader.js`

Switching between node versions with n, as well as deleting node_modules didn't change anything.

[2020-03-21 14:47] herecydev commented on #22440
Looks like you've taken the right first steps in analyzing. I can't say that prismic or gatsby-image are causing you problems here but you can see why you're app is so big with varying different 3rd party libs you've added. Do you have any specific questions about why it's big otherwise it just seems like you need to weigh up the value each package adds vs the cost associated.

[2020-03-21 15:21] pieh commented on #22303
I would call it workaround, but uninstalling (if you don't need it for anything else) will probably be best solution

[2020-03-21 18:24] HiltonGiesenow commented on #22437
Sorry if this is a silly question, but what does "push" a repo mean? I've got two private repos here on GH, which I've invited you to check, if that works? The one is described as above, the other is a Docz site, with the same problem (but using a default Docz template, not the Photon starter)

[2020-03-21 19:11] zachtylr21 commented on #21995
@parikshitgupta1 Oh, was your previous comment directed at me? I can work on those too, if needed.

[2020-03-21 19:57] kerembaydogan commented on #4610
To be able to build a gatsby site that does not require a webserver to run is a huge feature.

This is greatly needed for embedded/offline web sites where a web server is not available or not feasible.

I am developing an offline documentation site and it will be embedded in a mobile app with a web view as UI.

I need no webserver for this simple app. Please give us a way to prefix our paths with

[2020-03-21 19:57] kerembaydogan commented on #4610
@KyleAMathews can you please reopen this issue?

[2020-03-21 20:12] NiviJah commented on #22412
Update,
Not sure yet, but this may be a Contentful issue and not a Gatsby issue.

In any case, splitting a very long query to aliases (not fragments), seem to have solve the issue

very rough POC
[code]

I will update

[2020-03-21 20:23] kerembaydogan commented on #14161
Without relative path support, I can not serve my site from the file system.

To be able to build a gatsby site that does not require a webserver to run is a huge feature.

This is greatly needed for embedded/offline web sites where a web server is not available or not feasible.

I am developing an offline documentation site and it will be embedded in a mobile app with a web view as UI.

I need no

[2020-03-21 21:15] ROODAY commented on #22459
Update: Deploying another version of the site seemed to fix the issue. I'm starting to suspect that pushing to gh-pages with a build issue present causes this? Not sure why the site semi-works in this state though (going to a subpage load normally)

[2020-03-21 22:02] TheFirstMe commented on #20493
Not stale

[2020-03-21 22:09] udaypydi commented on #22457
@carloslsilva `yarn audit` shows 105784 vulnerabilites. if there is a plan to fix this, I would like to take this up. (Fix one package at a time...).
![Screenshot 2020-03-22 at 3 37 27 AM](https://user-images.githubusercontent.com/15953242/77237504-b7e75100-6bee-11ea-8e1d-a0ea47f82ba7.png)

[2020-03-21 22:09] KyleAMathews commented on #22437
Have you tried building the site to see if the production version works? Babel isn't setup to do polyfilling during development.

[2020-03-21 22:35] AntoineBourin commented on #17506
We can’t use fluid images for now. I’m using only fixed images without the possibility to set attributes on fluid images...

[2020-03-21 23:42] siawyoung opened #22477 "`typography-plugin-cache-endpoint` not found"
After upgrading `react-plugin-typography` from `2.3.22` to `2.4.0`, `npm install` gives me the following error:

[code]

Not sure if it has anything to do with this change: https://github.com/gatsbyjs/gatsby/commit/b28c27aa9eb8b7d29692c7d6bca54350bdc057e9#diff-f0581f3936b2499afc86d794aa16310a

[2020-03-22 05:12] AishaBlake commented on #20790
They haven't been solved. We had two sort of related PRs last month that only addressed a couple of instances each. I'm going to add it to the backlog and get it done in a batch next week.

I think it _also_ makes sense to alter the search behavior if we can. Reading the Algolia documentation on [replacing words](https://www.algolia.com/doc/guides/managing-results/rules/detecting-intent/#replacing

[2020-03-22 05:34] HiltonGiesenow commented on #22437
Yes, I should have specified - both sites (Photon and Docz) I've tried dev, build+serve, and even running live on the internet - same result in both, separate, sites.

[2020-03-22 05:36] HiltonGiesenow commented on #22437
Here are the sites, live:
https://www.chitchattr.com/ <- In this one it's complaining about forEach
https://apps.chitchattr.com/Help/Shortlinks <- In this one it's complaining about scrollTo

[2020-03-22 06:49] jorgeorpinel commented on #21982
Hi! I'm experiencing this exact problem with Gatsby 2.20.2 (CLI 2.11.0) on Ubuntu WSL (with Windows Terminal) when I use VSCode 1.43.1 🙁

[2020-03-22 06:54] jorgeorpinel commented on #21982
p.s. seems related to https://code.visualstudio.com/docs/remote/wsl#_i-see-eaccess-permission-denied-error-trying-to-rename-a-folder-in-the-open-workspace

[2020-03-22 07:51] herecydev commented on #22437
Right so the issue is that you're not doing an array `forEach` you're doing it on a `NodeList` which is a different `forEach` and that is both:

1. Not supported in ie11
2. Not polyfilled by corejs 2. It is done in corejs 3 but Gatsby has [yet to migrate](https://github.com/gatsbyjs/gatsby/issues/15601)

So you can either rewrite the `forEach` or polyfill it like so:

[code]

[2020-03-22 08:18] HiltonGiesenow commented on #22437
Thanks @herecydev , I appreciate your help on this. I've tried the polyfill you've suggested, but it's still not working - same error (I haven't tried live www, only build+serve). I can't even see how to track down which object it's trying to execute the forEach on - how are you seeing that?

[2020-03-22 08:33] HiltonGiesenow commented on #22437
ah, I figured it out - I wasn't using the browser tools correctly to track the error stack - now I see where the forEach is that's giving the trouble! It was in Photon's TopNav.js, so I've just replaced:

[code]
with
[code]
and now it's working perfectly - thanks so much for the help tracking this down! I'll look more into the docz site now, with this knowledge

[2020-03-22 10:44] elias-thok commented on #13442
Has anyone ever figured out how to fix this for good?

I feel like all I do when I try to build something with Gatsby is fixing these weird errors, deleting node_modules, caches and all sorts of random stuff to get it to work. Very frustrating tbh.

I did the following and it works for now:

* globally & locally updated all npm packages with `npm update`
* clear global NPM cache with `npm cache cl

[2020-03-22 10:51] herecydev commented on #22437
@HiltonGiesenow You're most welcome, reach out if you need any further assistance.

[2020-03-22 11:27] HiltonGiesenow commented on #22437
I got it working for Docz as well, albeit with some ugliness, in case it can help others. Posted here: https://github.com/doczjs/docz/issues/1428

[2020-03-22 11:27] #22437 closed

[2020-03-22 12:02] #21601 closed

[2020-03-22 14:02] jlabs commented on #21263
Having the same issue using the same starter template.

For me, removing the line `<MDXRenderer>{post.body}</MDXRenderer>` in src/templates/blog-post.js made all the pages under /blog load instantly. I'd not made any changes to the starter project up to this point (other than fixing all the errors OOTB). The content on each blog post page still loads, and there's no console errors. Yet.

[2020-03-22 14:19] codyml opened #22481 "@link field extension returns null when destination field has @proxy"
## Description

I'm writing a schema that looks like this:
[code]
I'm sourcing data from CSVs and I don't have control over the column header names, hence the `@proxy`s everywhere.  For `Client.transfers`, I wrote a custom extension `@split` that does `String.prototype.split` on the pipe-delimited transfer IDs that it proxies from the source `client-transfers` field.  I was hoping that I could the

[2020-03-22 15:25] djma777 commented on #15601
Hi guys! I managed to fix mine somehow...

My initial install was with the default started fine with `develop`. I got the error after installing styled-components and the plugins. -deprecated core-js

The steps I took to fix:
1. npm outdated -- check packages

2. npm install -- still got errors
3. npm update -- worked!

[2020-03-22 15:31] codyml commented on #22481
Update: I'm sure this is ill-advised but copying the `link` resolver into my own code with the following change at [`resolvers.js`:177](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/src/schema/resolvers.js#L177) from
[code]
to
[code]
got it working for now for my specific case.

[2020-03-22 15:44] olegKusov commented on #4123
i restarted my dev server with "gatsby clean" and it doesn't help me. Look like bag

[2020-03-22 16:25] olegKusov commented on #13322
it doesnt help me (

[2020-03-22 17:20] julianruizsa commented on #21982
Excelent! Thank's a lot. I've just read the issue and seems that is the problem. Currently I'm on WSL1, but I will only get WSL2 when is GA (cuz I don't want to be In any ring in Windows Insider).

Will check the .cache clean option and let you know if works.

Awesome comunity.

[2020-03-22 18:16] sujinleeme commented on #13322
@olegKusov Perhaps, you can check image filename or path is correct.
`"image": "../images/projects/sendtinel.jpg"`

[2020-03-22 19:17] rbelow commented on #21362
Hi, @robmarshallhome! If I understand it corectly the `gatsby-plugin-google-tagmanager` should have a plugin option where you can pass your custom event name like in this example:

[code]

I can take a look on this if @wardpeet agrees.

[2020-03-22 19:34] b0nbon1 commented on #22401
I'd love to work on this one

[2020-03-22 20:00] digitalcolony opened #22482 "MaxWidth is ignored when Markdown image is displayed"
The good news is that the images I have inside Markdown are displaying. However, they are displaying full-sized. The MaxWidth parameter is being ignored. What am I missing?

gatsby-config.js

module.exports = {
  /* Your site config here */
  siteMetadata: {
    title: "My Site",
  },
  plugins: [
    {
      resolve: `gatsby-source-filesystem`,
      options: {
        name: `src`,
        path:

[2020-03-22 20:26] saschwarz opened #22483 "[gatsby-plugin-mdx] Code blocks on docs site are not pre-rendered"
## Description

Pasting https://www.gatsbyjs.org/contributing/docs-templates/#plugin-readme-template into Chrome, Firefox or Safari on Mac loads the correct page on the gatsbyjs.org website but the site doesn't scroll to the correct location in the document.

I've checked the HTML in the dev tools and there is only one element on the page with that `id` and it is on the correct `h` element. There

[2020-03-22 21:13] ElijahCano33 commented on #21962
Awesome, will do!

[2020-03-22 22:40] coreyward commented on #1789
+1 — this is more than an issue of case, though; Gatsby should offer a way to specify the collation ordering. Otherwise accented characters are also not westernized before sorting, so “épicerie” shows up after “zulu”, which is not what is actually desired in the vast majority of cases.

@KyleAMathews What are your thoughts on the above? Would this sort of change be accepted into Gatsby? If so, can

[2020-03-22 23:21] TravisHi commented on #13442
@elias-thok following your instructions worked for me. It seems like my issue related to changing local environment.

[2020-03-22 23:34] nickmcmillan commented on #17887
I had what was probably the same issue as @muuvmuuv. I was able to solve my issue with the following `gatsby.config.js` settings;

`
{
  resolve: `gatsby-plugin-sass`,
  options: {
    postCssPlugins: [require('postcss-easing-gradients')],
  },
},
`

So I actually didn't need `gatsby-plugin-postcss` at all, because as it turns out, `gatsby-plugin-sass` already comes with postcss; https://www.gatsb

[2020-03-23 00:04] #21055 closed

[2020-03-23 00:57] leafac commented on #21837
Don’t worry about it. We all have bigger fish to fry.

[2020-03-23 01:14] LpmRaven commented on #10595
I'm having a similar issue. I have ~2000 images in an S3 bucket. When I build the production version it is timing out, I increased the memory and CPU of the build server but that didn't work. The website is for e-commerce and the number of images is only going to increase which makes me think I am not going to be able to use gatsby to process the images.

I welcome any suggestions.

[2020-03-23 01:59] LpmRaven opened #22486 "Dealing with a large number of images"
I'm looking for some advice on dealing with a large number of images. I currently have an e-commerce website with ~2000 images (which could increase 100x). Up to this stage in development, I have not been using images for each product, but I now have an AWS S3 bucket for the images. Gatsby is referencing that S3 bucket using `gatsby-source-s3-image` through my image component. I'm not sure if it i

[2020-03-23 02:33] ZLevine commented on #21462
This is definitely still an issue, not sure why more people haven’t experienced it. It’s possible people don’t know their mdx links are broken if they’re using assetPrefix. We got alerted because we’ve programmed a crawler to check our links.

[2020-03-23 02:50] guaputao commented on #20389
how to solve it ,this problem occured when I yarn install

[2020-03-23 03:38] crutchcorn commented on #22287
I'd love some guidance on how my code is _supposed_ to look in order to get the functionality I'm looking for. I've tried various methods to no avail and my progress on various tasks on my site is blocked as a result of my misunderstanding of the code mentioned.

[2020-03-23 04:58] beckzayi commented on #5835
@jonniebigodes Thanks for your advice. I finnaly used "load-component" to fix the [problem](https://www.gatsbyjs.org/docs/using-client-side-only-packages/#workaround-3-load-client-side-dependent-components-with-loadable-components).

My scenario: try to use "swagger-ui-react" in Gatsby, but receive `ReferenceError: window is not defined`.

Firstly, I tried adding some code to gatsby-browser.js, bu

[2020-03-23 05:33] patspam commented on #6945
Just wasted an hour on this - a note in the doc would be much appreciated by the next N people who run into this..

[2020-03-23 07:05] flogy commented on #21818
Hi @pvdz and @johno
Thanks for taking over the issue. Just wanted to ask if there is any update and I could help in any way? Sorry for the hurry but my other issue related to this is going stale: https://github.com/gatsbyjs/gatsby/issues/21804 😕

[2020-03-23 08:12] SajithRAP commented on #22379
Thanks I will give a try on that

[2020-03-23 08:13] SajithRAP commented on #22379
Thanks. That helped much. I will try on that.

[2020-03-23 08:44] konradserafin opened #22487 "gatsby develop – gatsby-node.js": ENOENT: no such file or directory, scandir '../packages'"
## Description

Following the [Instructions](https://www.gatsbyjs.org/contributing/website-contributions/) got error described below.
Tried to use both npm and yarn to install dependencies (on fresh cloned copies of "www" dir).
Tried to delete `node_modules` and `yarn.lock` and then running again `yarn install` but no luck here.

### Steps to reproduce

1. Cloned only "www' dir via SVN from [Gatsb

[2020-03-23 09:08] robmarshallhome commented on #21362
@rbelow I have seen that in the options, but if you look at the gatsby-browser.js file, this option is not implemented. So the page change has the default name always.

[2020-03-23 09:37] konradserafin commented on #22487
I downloaded the whole gatsby repo and now it works perfectly. (Thats how it ends when you try to make shortcuts and save time)
Sorry for making the noise 😇
Issue resolved.

[2020-03-23 09:37] #22487 closed

[2020-03-23 10:14] LekoArts commented on #22486
Thank you for opening this!

Short answer: Keep your `.cache` and `public` around. Gatsby already has a good caching mechanism in place with these two folders. This way you will only generate the added images with changes (after an initial build of all images of course). And if that initial build times out, build it on a more powerful machine once and push the build artifacts to that cache.

You c

[2020-03-23 10:14] #22486 closed

[2020-03-23 10:15] LekoArts commented on #22482
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-23 10:19] LekoArts commented on #22477
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-03-23 10:22] LekoArts commented on #22459
Hi!

Can you provide a [minimal reproduction][reproduction]?

This sounds more like a caching issue with e.g. Cloudflare? Can you share a live URL where it happens? What happens if you do a hard refresh, so ctrl + F5?
Do you use `gatsby-plugin-offline`?

[reproduction]: https://gatsby.dev/reproduction

[2020-03-23 10:23] LekoArts commented on #22457
This is a duplicate of https://github.com/gatsbyjs/gatsby/issues/22385

[2020-03-23 10:23] #22457 closed

[2020-03-23 10:24] jsbrain commented on #13454
@Eyas thanks for sharing your approach I will check it out in the near future. I find your arguments are pretty solid why those plugins don't really do the job in the right way. As Gatsby gets more and more popular and more people use it in the business context (as I) gatsby should really support this in the first place as it, as said earlier, can make a big difference in terms of SEO ranking and

[2020-03-23 10:25] LekoArts commented on #22385
Hi, thanks for the issue!

There is nothing much we can do here, we'll have to wait for upstream packages to update their relevant packages. If it calms you down: The vulnerability won't affect the security of your live production site, we use `eslint-loader` for DX in `gatsby develop`.

[2020-03-23 10:28] LekoArts commented on #22454
Thank you for opening this!

Please have a look at our docs: https://www.gatsbyjs.org/docs/images-and-files/

Especially at the sections:

- Importing Assets Directly into Files
- Using the Static Folder
- Working with Images in Gatsby

You have three options to include the image:

- Import it and let Webpack do the work
- Place the image in `static` folder and reference it
- Use GraphQL to fetch

[2020-03-23 10:28] #22454 closed

[2020-03-23 10:28] LekoArts commented on #22450
Hi!

This isn't the right place for issue about Gatsby Cloud, please reach out to support@gatsbyjs.com

Thanks!

[2020-03-23 10:28] #22450 closed

[2020-03-23 10:32] LekoArts commented on #22440
Thank you for opening this!

Your source (Prismic) isn't causing this as the data is pulled at build time. So this doesn't add any weight. If you use reasonable sizes for your Gatsby image usage, this also shouldn't cause these slowdowns.

As Dan said, your 3rd party libs are adding weight, e.g. the PDF library or Material UI. You should make sure that you lazy-loading is working correctly. Gatsby

[2020-03-23 10:32] #22440 closed

[2020-03-23 10:39] LekoArts commented on #22439
Hi!

Can you please be more specific of what behavior you're trying to achieve? Your current description is a bit too cryptic to me.

Is this something you want to achieve? https://github.com/gatsbyjs/gatsby/pull/21794

Otherwise, I would expect the service worker to not cache the page-data.json files according to https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-offline#overri

[2020-03-23 10:40] mad-gav commented on #13442
The build appears to work now. Nothing has changed content or code wise. Wondering if either prismic have improved performance or the connection is faster so not getting any timesouts on the images? Very strange

[2020-03-23 10:41] LekoArts commented on #22429
Please provide a repository that one can clone. Thanks!

[2020-03-23 10:48] LekoArts commented on #22412
Thanks for the investigation on this!

This indeed doesn't seem to be an issue with Gatsby, I'd suggest going with the aliases (which are nicer anyways).

Thus closing this but feel free to comment more if you get more information from e.g. Contentful's support. Thanks!

[2020-03-23 10:48] #22412 closed

[2020-03-23 10:51] LekoArts commented on #22127
We'd gladly accept a PR from you fixing the docs! :)

[2020-03-23 10:51] LpmRaven commented on #22486
Cheers @LekoArts. I'm not sure how I'll be able to retain those between builds but I'll take a look, thanks for the guidance.

[2020-03-23 11:18] LekoArts commented on #22264
Since the related PR was closed, also close this :)

[2020-03-23 11:26] Enter-tainer commented on #22264
Actually the issue is not solved. Have you seen [this reply](https://github.com/gatsbyjs/gatsby/pull/22266#issuecomment-601478745)?

[2020-03-23 11:29] bhavikji opened #22488 "Inline images from markdown are showing blur."
## Description
Hey folks, I recently moved my blog to Gatsby, and here I am using Netlify as my CMS, the images which I added via Netlify CMS inline in Markdown aren't showing up properly, instead, it is appearing blurred the live URL of the same is here [Demo](https://lucid-khorana-64c793.netlify.com/blog/test)

### Steps to reproduce

Here I am attaching my repo to reproduce this issue **[REPO L

[2020-03-23 11:30] Enter-tainer commented on #22264
Changing the merging policy maybe is not enough, my own workaround for this issue is adding more than 3 routing strategies to completely overwrite the default ones.

[2020-03-23 11:42] rbelow commented on #21362
Ok. Seems clear to me. Should we then move forward on this? I would implement it if nobody disagrees.

[2020-03-23 12:02] #21507 closed

[2020-03-23 12:02] #21418 closed

[2020-03-23 12:36] babyPrince opened #22489 "Incremental Builds question"
Hi there,

I just discovered Gatsby now offers Incremental Builds. Are incremental builds offered only for Gatsby Cloud or they are by default working with Netlify for eg.?

Asking because I'm planning to use gatsby for medium/large editorial site (lots of articles) and having concerns about build time (rebuilding the same pages again and again).

[2020-03-23 13:03] LekoArts commented on #22489
Thank you for opening this!

Thank you for opening this!

Where have you read that? As it's (factual) not correct (yet). We announced Gatsby Builds here and said that they will follow: https://www.gatsbyjs.org/blog/2020-01-27-announcing-gatsby-builds-and-reports/

"Incremental" is really only a scale, not something absolute. We're working on quicker and quicker builds to eventually get to e.g. bui

[2020-03-23 13:03] #22489 closed

[2020-03-23 13:09] LekoArts commented on #22264
Ah, okay!

[2020-03-23 13:55] Crayon-ShinChan opened #22491 "gatsby-source-medium return the wrong number of posts"
## Description

On Mar. 23, 2020, I tested a medium account with 4 articles.`gatsby-source-medium` didn't return the number of articles it should have return. It just returned totalCount: 3, which should be 4. Additionally, I tested an account with more than 4 articles, it just returned 4 articles.

Then I tried to use `https://medium.com/${nameOfBlogHere}/?format=json&limit=10`. There were just 3

[2020-03-23 14:20] muescha opened #22492 "www: error with documentationjs at comments in TS files"
## Note

this issue created from comments from this PR:
- #22455 `fix(www): remove comments that are causing builds to fail`

## Description

When #22381 was merged builds started failing for `www` (the docs site). The error looks like this:

[code]

[code]

This error pointed at the `documentationjs` transformer and the lines it identified didn't seem problematic, but removing them is enough to f

[2020-03-23 15:05] #22169 closed

[2020-03-23 15:51] #8697 closed

[2020-03-23 16:07] #20947 closed

[2020-03-23 16:25] ROODAY commented on #22459
- This sounds more like a caching issue with e.g. Cloudflare: Don't think so, I turned on development mode (disable cache) when the issue occurred and it didn't cause any changes
- Can you share a live URL where it happens: https://quaranteen.university/ however the error isn't there right now
- What happens if you do a hard refresh, so ctrl + F5: When the bug is present this doesn't do anything u

[2020-03-23 16:26] muescha commented on #19267
#22461 `update link to json section`

[2020-03-23 16:50] marcysutton commented on #9350
Hey @alexlbr, checking up on this issue–are you still able to work on this, or should we open it back up for someone else to take on?

[2020-03-23 16:54] marcysutton commented on #17670
In general, we aren't going to take on work related to site showcase as there is a proposal to move it all out of the repo. Therefore, I'm going to close this issue as it's not something we're going to do. We appreciate your thinking here though!

[2020-03-23 16:54] #17670 closed

[2020-03-23 16:56] marcysutton commented on #20022
Hey @nik72619c, sorry for the delay! This page could live under Adding App and Site Functionality, potentially as a new subpage under [Adding Forms](https://www.gatsbyjs.org/docs/adding-forms/).

[2020-03-23 17:06] jonniebigodes commented on #5835
@beckzayi no need to thank, just glad that you managed to solve your issue aswell.

[2020-03-23 17:08] muescha commented on #17670
thanks for feedback

is there a link to this showcase proposal to read more about this change	?

[2020-03-23 17:13] marcysutton commented on #17670
Not at this time. I can say that we're still merging showcase PRs, but not taking on more substantial changes. We'll create a new issue for it when we have info to share.

[2020-03-23 17:18] marcysutton commented on #20384
Following up on this, my apologies for the delay! @jeffpascal this issue is about creating a recipe, while that doc is a Reference Guide. They are different formats, and a recipe is meant to be short and actionable (like a stripped-down tutorial with only the essentials). You can read more about the recipe format here: https://www.gatsbyjs.org/contributing/docs-templates/

[2020-03-23 17:59] cpboyd opened #22499 "[bug/docs] caching issues with pages dependent upon data from other pages"
## Description

I've followed https://www.gatsbyjs.org/docs/adding-tags-and-categories-to-blog-posts/ and used it to help create tags and categories pages.

I've also added graphQL to the pages to render links to other pages within the same category:

[code]

This information now seems to remain cached if a new page is added to the same category, because Gatsby doesn't realize that the page is dep

[2020-03-23 18:26] gayatri89 commented on #21515
hey thank you so much , it's working for me

[2020-03-23 18:34] loganmccaul opened #22500 "gatsby-plugin-mdx: jsxFrag should be set with latest version of @babel-plugin-transform-react-jsx"
### Description

I'm getting the following error when compiling mdx files that contain a React fragment, `<></>` on a Gatsby site.

[code]

The issue is because MDX specifies `/* @jsx mdx */ as the pragma, but never specifies a pragmaFrag which is now a requirement with `babel-plugin-transform-react-jsx@7.9.x`

See the note here:
https://babeljs.io/docs/en/next/babel-plugin-transform-react-jsx.htm

[2020-03-23 18:57] Js-Brecht commented on #22488
Hey @bhavikji, it looks like you are trying to use `webp` format for your images.  Can you add `withWebp: true` to your options for `gatsby-remark-image` in your `gatsby-config.js`?  I just ran your repo, and noticed the problem you mentioned.  Adding that option fixed it for me, for the most part.

The other part I had to fix was your image paths.  They worked fine for me in develop, but when I d

[2020-03-23 19:08] bhavikji commented on #22488
Hey @Js-Brecht: Thank you for helping me out can you please share your repo so that, I will match my config with yours

[2020-03-23 19:19] Js-Brecht commented on #22488
I used your example repository.

I made `gatsby-remark-images` in `gatsby-config.js` look like this:
[code]

and your `test.md` file I changed to this:
[code]

If I remember correctly, you won't be able to make the `featuredImage` frontmatter field a relative path like that with Netlify CMS.  However, you can use a custom resolver to get the actual `File` node that is generated for that image, and

[2020-03-23 19:25] loganmccaul commented on #22500
Based on https://github.com/babel/babel/issues/11321#issuecomment-602797032 it seems like up until https://github.com/babel/babel/commit/748897be0772d3569c92c26e061ba05ac26563b4#diff-8c3c9c6362e23bd456da3fb129f49a57L10 mdx-js has been relying on React.Fragment being passed in from preset-react. Since that has now been removed, I think a fix would be to add

`/* @jsxFrag React.Fragment */`

Anywher

[2020-03-23 19:27] bhavikji commented on #22488
@Js-Brecht: Hey this resolves the issue this works like charm! <3

[2020-03-23 19:28] Js-Brecht commented on #22488
Good to hear!  I'm going to close this now, but feel free to comment again if you have more issues.

[2020-03-23 19:28] #22488 closed

[2020-03-23 19:40] muescha opened #22503 "docs: starter missing in README and in /starters/"
## Summary

when i look at this places:

- https://github.com/gatsbyjs/gatsby/tree/master/starters
- https://www.gatsbyjs.org/starters?s=gatsby-starter&v=2
- https://www.gatsbyjs.org/docs/starters/
- https://www.gatsbyjs.org/docs/gatsby-cli/
- https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-cli/README.md
- https://github.com/gatsbyjs/gatsby/blob/f79f26b268c635874fb4eb8199a8231b31fd8

[2020-03-23 19:53] xveganxxxedgex commented on #22414
Here's my replication repo:

https://github.com/xveganxxxedgex/gatsby-starter-netlify-cms

Here, I have a title of `/blog`, where `blog` is the name of the collection. You can see the data file with the `title: '/blog'` here:

https://github.com/xveganxxxedgex/gatsby-starter-netlify-cms/blob/master/src/pages/blog/2020-03-23-blog.md

But query manipulates the title, causing no title to appear in th

[2020-03-23 20:08] tesseralis opened #22506 "(docs) Upgrade to Prettier 2.0"
## Overview

Upgrade to [Prettier 2.0](https://prettier.io/blog/2020/03/21/2.0.0.html) and reformat all files that use it.

## Motivation

The new version of Prettier fixes a bug that's causing nested markdown in MDX to fail: #21743. This leads to awkwardly formatted Markdown in a couple of places (paragraphs being hard-wrapped instead of soft-wrapped, requiring `<a>` tags instead of using markdow

[2020-03-23 20:39] bhavikji commented on #22488
@Js-Brecht : Just a quick question for `.jpeg` files, the above solve working perfect with `.jpg`, `.png` but not working with `.jpeg` is there any wayaround?

[2020-03-23 21:08] devfive commented on #8790
@sigmasoldi3r I ran into the same issue. I found that @whmountains used Prismic in his setup (like me) and I started to debug against issue with this plugin. Turned out, that when I disabled `gatsby-source-prismic-graphql` (and all graphql queries related to prismic) it started to work correctly.

So, I found an issue related to `gatsby-source-prismic-graphql` - it seems that this plugin somehow b

[2020-03-23 21:15] stephencweiss opened #22508 "gatsby-transformer-remark: Throws an error when `constructor` is used as a field value"
## Description

I use a tag system for my website's blog. I recently wrote a post about instantiating classes using a `constructor` function -- I added this as a tag to the post and `gastsby-node` broke.

So too did my graphql query on my `tags` page.

I _think_ this is likely because of some conversion where the runtime is viewing `constructor` as a reserved word... though this is the _only_ rese

[2020-03-23 21:27] Js-Brecht commented on #22488
I don't seem to have any problems with files with `.jpeg` extensions.  I just changed the files in the example to be `.jpeg`, and they loaded up just fine.

[2020-03-23 21:30] AmyShackles commented on #21995
If you’re still looking for help, I’d love to do what I can.  Anything specific you’d like help converting that hasn’t been assigned yet?

[2020-03-23 21:42] parikshitgupta1 commented on #21995
Hey @AmyShackles thanks for asking, although from my side there's nothing left, although let's see in the thread.

[2020-03-23 21:43] marcysutton commented on #22492
Although we've seen this in the past week, I'm not getting this error when I run the site locally. Are you sure you're on the latest `master`?

[2020-03-23 21:46] anneramey commented on #22418
Netlify or Contentful? ei. builder or CMS? Contentful says it can't be them, but it would need to be them, right? Since they are the ones serving the data?

[2020-03-23 21:57] marcysutton opened #22511 "[contributing] Document available Frontmatter keys for blog posts and docs"
## Summary

When writing a blog post on the Gatsbyjs.org website, it's very unclear what the available options are for frontmatter–particularly around images and social sharing. One has to look at other content in the repo to see what's in use, which is not easy for content contributors to do.

This issue is about documenting available Frontmatter fields in the contributing docs. These additions c

[2020-03-23 22:08] Js-Brecht commented on #22488
It still seems a little strange to me that it's not working unless you do `webp`.  That shouldn't be happening, because the images URLs are valid.  BUT, the `<img>` elements are being created with the property `data-src`, instead of `src`, so I'm trying to track down why it's not:
1. getting the correct property in the first place
2. not being changed to the correct property when it's loaded.

Usi

[2020-03-23 22:18] nicolo-ribaudo commented on #22500
Note: we are restoring the old behavior of not throwing when using the preset, but I recommend enabling the fragment option since we'll re-introduce the error in Babel 8.

[2020-03-23 22:24] Js-Brecht commented on #22488
Okay, I've figured out why it's not loading correctly.

You are using the `gatsby-remark-lazy-load`, which changes the properties of the elements that it wants to lazy load.  So, for images, it will change `src` to `data-src`, and then when the image has loaded, it will change it back.

For it to do that, you have to have `lazysizes` installed, and them import it (for side effects) into `gatsby-br

[2020-03-23 22:39] deammer opened #22514 "Get link to compiled stylesheet without inserting in the document"
## Summary

I'm attempting to embed React components inside of an iframe to document my codebase. The most difficult problem to solve has been *passing CSS to that iframe*. I have a working prototype where I am adding the stylesheet to the entire page and then copying its `href` to the iframe's body.

**My question is:** is there is a cleaner way to reference that stylesheet? I don't want to impor

[2020-03-23 23:39] item4 opened #22519 "gatsby-plugin-emotion: error with yarn@2"
## Description

With gatsby-plugin-emotion and yarn@2, build must fail.

### Steps to reproduce

1. Make minimal gatsby project
2. `yarn add gatsby-plugin-emotion @emotion/core @emotion/styled`
3. Write some code with `@emotion/styled` like this:

[code]

### Expected result

Build site with emotion styling.

### Actual result

Stuck in build step

### Environment

(Sorry, I lost yarn@2 setup. I p

[2020-03-23 23:47] item4 commented on #22519
ref: https://github.com/emotion-js/emotion/blob/master/packages/babel-plugin-emotion/src/index.js#L9-L13

[2020-03-23 23:53] muescha commented on #22492
it was fixed with #22455 with removing the comments

[2020-03-24 00:09] johnayoung opened #22521 "Uneven .md vs. .mdx build times"
## Description

We run a documentation website that has hit a performance bottleneck at around 1000 pages. This led us to test the difference between **gatsby-transformer-remark** and **gatsby-plugin-mdx** to compare .md and .mdx build times.

We realize that these are not the same plugin, but our expectations were that the build times of each would be closer in-line with one another (for the exac

[2020-03-24 00:15] muescha commented on #22492
but i check it with current master

[2020-03-24 00:43] muescha commented on #20926
-> `prism language 'gatsby_graphql_endpoint=http://localhost:20002/graphql'`
- https://github.com/praisegeek/gatsby-plugin-appsync/pull/2

[2020-03-24 00:58] rayjencode opened #22526 "Cannot destructure property `wpgraphql` of 'undefined' or 'null'"
## Description

Always getting an error "Cannot destructure property `wpgraphql` of 'undefined' or 'null'"
See Screesnhot: https://imgur.com/hQCGxaR

### Steps to reproduce

Im using wpgraphql ACF CPT UI. At first I registered a Custom Post type for "Event" then everything works. fetching wpgraphql schema and creating pages works like a charm. Then suddenly when I registered a new one "Courses" cu

[2020-03-24 01:11] muescha commented on #22492
steps to reproduce:
- updated gatsby-cli
- checkout master
- start `gatsby develop`
- i see no errors
- changed code with adding comments
- i get the error in the console

[2020-03-24 01:11] TylerBarnes commented on #22526
@vladar , Rayjens brought this up on the WPGraphQL slack. To me it sounds like a `gatsby-source-graphql` bug but I'm not entirely sure. Do you have any thoughts on what it could be?

[2020-03-24 01:14] TylerBarnes commented on #22526
@rayjencode are you able to put your WP instance up on a server somewhere so we can use it to reproduce the issue?

[2020-03-24 02:23] miguelpduarte commented on #5100
For those that might be using [Material UI](material-ui.com/) and running into this problem, it was simply a matter of installing [gatsby-plugin-material-ui](https://www.gatsbyjs.org/packages/gatsby-plugin-material-ui/) for me! :smile:

[2020-03-24 02:31] zslabs commented on #21789
This sounds like a really interesting topic that I think would be useful to go along with https://github.com/gatsbyjs/gatsby/issues/18570

[2020-03-24 02:41] rayjencode commented on #22526
Hello Tyler, you mean I have to host it online or just the root file of WP?

[2020-03-24 03:46] nextriot commented on #15118
Anyone found a workaround for this using `gatsby-source-wordpress`.

I'm using this version of the API: [WP Rest API V2](https://github.com/mrpharderwijk/wp-rest-api-sidebars-v2) and having the same issue - no way to pass ID and return the `rendered` prop.

[2020-03-24 04:00] rayjencode commented on #22526
I manage to host my wordpress to live sir.
http://melon.rankdepartment.com/wp-admin (user & pass: admin)

My project repo: https://github.com/rayjencode/gatsby-wp-university

Hope it helps

[2020-03-24 04:23] Shashankd48 opened #22529 "I am trying to deploy a gatsby project on netlify using github. Everything work fine but at the end i am facing these issue."
9:32:45 AM: node: symbol lookup error: /opt/build/repo/node_modules/gatsby-source-contentful/node_modules/sharp/build/Release/sharp.node: undefined symbol: vips_foreign_heif_compression_get_type
9:32:45 AM: Skipping functions preparation step: no functions directory set
9:32:45 AM: Caching artifacts
9:32:45 AM: Started saving node modules
9:32:45 AM: Finished saving node modules
9:32:45 AM: Starte

[2020-03-24 04:44] bhavikji commented on #22488
@Js-Brecht : Ok let me give me a try!

[2020-03-24 04:45] Eyas opened #22531 "gatsby-telemetry "isTrackingEnabled" is always truthy (returns a function)"
## Description

gatsby-telemetry's index.js exports an ["isTrackingEnabled" function](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-telemetry/src/index.js#L31).

That function is defined as:

[code]

where `instance` is:

[code]

but `isTrackingEnabled` on `Telemetry` is a **boolean returning function**, not a boolean.

Elsewhere in the code, e.g. in [`gatsby commands/build.js`](h

[2020-03-24 05:09] LorenAmelang commented on #21920
I'm not clear how to tell if this has been put on someone's ToDo list or not...
@laurieontech suggested I create this issue to get it handled.

https://www.gatsbyjs.org/docs/gatsby-on-windows/ still has no explanation of why python 2.7 is needed! Until that is fixed I think this issue is a valuable clue for dedicated searchers.

[2020-03-24 06:11] ParamagicDev commented on #22529
Ok, I've encountered this error before when using Docker with Alpine Linux. The issue is you're using version 6.8 of Libvips but Sharp requires 6.9. What operating system are you using??

This is an issue with [gatsby-plugin-sharp](https://github.com/gatsbyjs/gatsby/tree/HEAD/packages/gatsby-plugin-sharp)

Where / How are you trying to deploy the site?

[2020-03-24 06:17] maulikserantec opened #22534 "i got this error how to fixd owlcarousel error"
how to fixd : https://user-images.githubusercontent.com/47684990/77394423-588f6980-6dc5-11ea-8630-042a32458afb.png

  Please fill out each section below, otherwise, your issue will be closed. This info allows Gatsby maintainers to diagnose (and fix!) your issue as quickly as possible.

  Useful Links:
  - Documentation: https://www.gatsbyjs.org/docs/
  - How to File an Issue: https://www.gatsbyjs.

[2020-03-24 06:45] zainzafar90 commented on #8984
Thank you 🙏

[2020-03-24 07:39] vladar commented on #22526
Your [GraphQL schema](http://melon.rankdepartment.com/graphql) has no `events` field on RootQuery type. And you are [querying it here](https://github.com/rayjencode/gatsby-wp-university/blob/a21ac51ebbb46a48df1c4e05b6d0b5bce71e5247/gatsby/createEvents.js#L7-L10).

So either your query is wrong (maybe you must change it to `eventFields`?) or something is wrong with server-side schema.

[2020-03-24 08:13] rayjencode commented on #22526
Thank you so much guys :) Fixed it :D

[2020-03-24 08:13] #22526 closed

[2020-03-24 08:28] Douglasacost commented on #19518
interesting. now i'm looking to use that

[2020-03-24 08:35] LekoArts commented on #22534
Thank you for opening this!

This is an error in how you use that particular package. I'd advise opening an issue on their repository. You don't have access to `window` on the build process and the library should guard against it. Alternatively you can read https://www.gatsbyjs.org/docs/debugging-html-builds/ to fix it.

We're marking this issue as answered and closing it for now but please feel f

[2020-03-24 08:35] #22534 closed

[2020-03-24 08:53] Tooluloope commented on #1645
`tags: {in: []}` making the array empty returns an empty node. Also, it returns an empty array if I don't completely input all the tags

[2020-03-24 09:21] manuelJung commented on #18689
@karlsander yes ic can share with you. give me a week to setup a clean gatsby repo where i can create a POC. I think it would be best if we can have a zoom-call where i can explain my thoughts behind this

[2020-03-24 09:51] danny-0805 commented on #12706
Got same error:
[code]

[2020-03-24 10:12] pvdz commented on #22521
Hi. Thanks for flagging it. Markdown is a concern of mine in general but this mdx hockey sticking is pretty bad. We'll have to take a look at it sooner or later.

[2020-03-24 10:32] devrsi0n commented on #21462
@ZLevine Same here, I didn't realize my MDX links are broken until yesterday, but the `assetPrefix` change made a month ago 😱. Looking for a solution, and I will add some integrated test cases definitely.

[2020-03-24 10:48] addisonschultz commented on #12155
Here to also say this would be awesome! I use the same query in `gatsby-node` as in other parts of my app, which can be long and I'd rather not repeat them 😬

[2020-03-24 12:22] myerzman commented on #2567
Double build worked for me as well...

[2020-03-24 12:31] laurieontech commented on #21920
I'm open to someone submitting a PR with a note about why this is still the recommendation.

[2020-03-24 12:37] PedroLamas commented on #22529
I'm seeing the same issue with the automated dependabot upgrade of gatsby-plugin-manifest from 2.2.48 to 2.3.2:

PR:
https://github.com/PedroLamas/pedrolamas.com/pull/938

PR build details:
https://github.com/PedroLamas/pedrolamas.com/pull/938/checks?check_run_id=530394749

Build details in azure devops:
https://pedrolamas.visualstudio.com/pedrolamas.com/_build/results?buildId=4006&view=logs&j=12f

[2020-03-24 13:02] johnatspreadstreet commented on #22521
@pvdz Thank you so much for hopping on. I am happy to assist in any way that I can, as this interaction is pretty critical for us moving forward.

We currently have ~1,000 pages and another ~9,000 queued up for when we can fix the build time issue.

[2020-03-24 13:08] LekoArts commented on #21995
Feel free to take whatever item from that list. We appreciate any PR, no matter if small/easy or big/complicated file :)