[2020-09-18 05:33] KevinTss commented on #26169
Had the same issue, this is a workaround who works for me:

`
exports.shouldUpdateScroll = () => {
  const gatsbyWrapper = document.getElementById('gatsby-focus-wrapper');
  gatsbyWrapper && (gatsbyWrapper.scrollTop = 0);

  return false;
};
`

Since 'gatsby-focus-wrapper' is the scrollable wrapper you can directly play with this one.

[2020-09-18 05:43] #26287 closed

[2020-09-18 05:55] wardpeet commented on #26287
Successfully published:
 - gatsby@2.24.63

[2020-09-18 06:37] tadeas22 commented on #26920
Ouuhh :( but many thanks for the reply. Do you have any advice on which way to go (doc, tutorial)? Is it something in webpack?

[2020-09-18 06:51] ehannes commented on #24411
This seems to be resolved now :)

[2020-09-18 07:03] wardpeet commented on #22757
I've created a canary version based on @moonmeister PR. Please try it out by running one of the two commands:

[code]

[2020-09-18 07:07] wardpeet commented on #26920
you'll need to run a separate webpack/rollup/bundler command before you run gatsby build or run it during gatsby process.

Easiest would be to use [microbundle](https://github.com/developit/microbundle):
The command you want is something like:
[code]

You'll have to change your offline config to this:
[code]

[2020-09-18 07:37] huyz commented on #23518
I have the exact same question, with the exact same issue. And I think most people misunderstand the question because they conflate protecting routes with protecting static content (i.e. the sensitive `page-data.json` for certain subpaths).

I would think it's possible that the Gatsby SPA could pass an
Authorization header, when retrieving the static JSON from some subpath of
`/public` (in Gatsby,

[2020-09-18 07:43] LekoArts commented on #26925
Hi!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a minimal r

[2020-09-18 07:44] huyz commented on #23518
@arunrajnayak did you find a solution?

[2020-09-18 07:51] LekoArts commented on #26931
Sorry to hear that you encounter problems. Gatsby is certainly safe to use and we're happy to look into bug reports that enable us to see a reproduction. As this issue here isn't actionable I'll close this in favour of https://github.com/gatsbyjs/gatsby/issues/26925. Please post a reproduction there 👍

Sometimes these issues arise due to local environment, sometimes due to a bug on our side, e.g.

[2020-09-18 07:51] #26931 closed

[2020-09-18 07:56] LekoArts commented on #26798
You could install the packages (same version as your current system) bit by bit to the VM.

[2020-09-18 07:58] LekoArts commented on #26803
Sounds like a good idea! I also was in the need to customise the feed title in the past programmatically. Since we currently won't have time to implement this would you be interested in sending in a PR for this? Let us know if you need guidance or pointers for the start.

[2020-09-18 07:58] LekoArts commented on #26817
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-09-18 07:58] #26817 closed

[2020-09-18 08:07] birksy89 commented on #11934
@wardpeet - I've just had a run through this, and yeah, very clear. Thank you.

Not sure about others, but I discovered it via the console warning... Rather than encountering any failure of functionality.

Adding the steps to resolve the issue within the console by specifying the required version to install is perfection 🎉

[2020-09-18 08:11] LekoArts commented on #26831
Thank you for opening this!

As you already mentioned inlining styles is mostly done for critical path styles which is true in this case as the announcer should not be visible at all. We also don't want to use a specific styling solution (e.g. CSS modules). I think you can also look at https://github.com/gatsbyjs/gatsby/issues/24707 for a solution to your specific problem.

We're marking this issu

[2020-09-18 08:11] #26831 closed

[2020-09-18 08:16] LekoArts commented on #26945
Hi, thanks for the issue!

You'll need to explain this a bit more as your description is very vague.

- When does this error happen? How does the error look like in the CLI?
- What is your project like? Which source plugins do you use?
- What APIs do you request that could cause an "internal server error"?

[2020-09-18 08:24] LekoArts commented on #26939
We'd be happy to receive a PR updating this, if you need help feel free to reach out here.

[2020-09-18 08:27] huyz commented on #1100
So glad to have found this discussion.  There's nothing out there, in the docs or blog articles, even discussing this needs.  Strange.

[2020-09-18 08:32] wardpeet commented on #26608
We won't be able to prioritize this change but we're happy to get a pull request for it. Make sure to add tests to test this behavior in one of our e2e tests.

https://github.com/gatsbyjs/gatsby/blob/55052eff7d00cdccb4a8439972b124e10dd06b7d/packages/gatsby/cache-dir/navigation.js#L200-L233

This is a nice graph on why this bug exists:
https://projects.wojtekmaj.pl/react-lifecycle-methods-diagram/

[2020-09-18 08:42] LekoArts commented on #26944
Thank you for opening this!

You'll need to add a `key` prop to the `noindex` and also change `charset` to `charSet`.
This is working in a codesandbox: https://codesandbox.io/s/add-script-to-body-u7lrn

[code]

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We also recommend heading over to our [commun

[2020-09-18 08:42] #26944 closed

[2020-09-18 08:42] MitchEff commented on #26945
Haha, totally understood @LekoArts, sorry about that.

It's frankly more likely an Apollo issue, as we get the same issue with Gatsby as we do Node etc.

FWIW, if it helps anyone, we ended up getting some more valuable insights from logging $request in Request.php in wp-graphql's source.

Probably shoulda put this issue in another repo - perhaps disregard.

[2020-09-18 09:20] wardpeet commented on #24320
Hey @ivands,

I'm going to close this issue as you'll likely have more issues along the way than just this one. We're happy to accept a pr to fix staticQueries in Gatsby with coffeescript.

Thanks for understanding and using Gatsby 💪

[2020-09-18 09:20] #24320 closed

[2020-09-18 10:54] LekoArts commented on #26945
Yeah, seems like not Gatsby is swallowing the error there but the initial logging already has this shape. So I'd recommend opening the issue on the other repository :)

[2020-09-18 10:54] #26945 closed

[2020-09-18 11:13] chlorophyllkid commented on #26939
Currently the build in the PR fails but I'm not sure if it's due to the changes in package.json and in yarn.lock 🤔

[2020-09-18 11:14] woeterman94 commented on #10698
When I try to access a context parameter in the HTML by using

`  <p>test: {data.pageContext.id}</p>`

I get: TypeError: Cannot read property 'id' of undefined

[2020-09-18 11:15] wardpeet commented on #26925
@daydream05 do you have proper caching headers in place?

[2020-09-18 11:19] #21743 closed

[2020-09-18 11:55] wardpeet commented on #26563
@jack0wsky @barbalex @Jaikant could you please create a reproduction for us or share your repository. We haven't been able to reproduce this issue. You can always sent me an email at ward@gatsbyjs.com

[2020-09-18 12:08] sarathAvantari commented on #12967
after configuring how to how acces gatg and fbq in the project in order to emit events fbq('init', '1234567'); fbq('track', 'PageView'); like this and fbq('track', 'checkout'); in a particular pages like this

[2020-09-18 12:09] wardpeet commented on #26708
What do we need to do to fix the issue and close it? Anything on gatsby's end?

[2020-09-18 12:16] wardpeet commented on #19618
I'll add some extra info to the logged error so hopefully, we can find the issue

[2020-09-18 12:19] huyz commented on #1100
@pieh wrote:

I'm more interested in the above solution: grouping of all assets next to the `index.html` (`page-data/..../page-data.json` is under a separate directory but the path is still deterministic).  The reason this solution works better for me than the creation of an assset manifest is that I want to implement the backend authorization check using Apache's [mod_auth_opendic](https://github

[2020-09-18 13:02] alex-tgk commented on #26875
@daydream05 not an ideal solution, but now that Contentful offers its GraphQL API to all space levels, you could use the gatsby-source-graphql plugin to source from Contentful manually for your second space.

[2020-09-18 13:31] anisometropie commented on #9121
Had the same problem, with style not loading initially (it created a really awful visual glitch).

I use JSS to style my components, and because the gatbsy-plugin-jss doesn’t offer ways to configure my own global style sheet, at some point I completely removed the plugin from my project and did the configuration manually in my gatsby-browser.js

Having that one line in `gatsby-config.js`, without

[2020-09-18 14:41] stvngrsh commented on #7747
Getting the exact same issue. Can't seem to use static queries in any way whatsoever. The site fails with a `Can't resolve` error looking for the json file of a static query.

[2020-09-18 15:23] connor4312 commented on #26708
@wardpeet removing any manual --inspect or --inspect-brk flag that you pass should be sufficient https://github.com/gatsbyjs/gatsby/issues/26708#issuecomment-686604631

[2020-09-18 15:24] connor4312 commented on #26708
@wardpeet the one change would probably be to not try to reactive debugging if the process is already being debugged, preventing a crash https://github.com/gatsbyjs/gatsby/issues/26708#issuecomment-686604631

[2020-09-18 16:51] wardpeet commented on #26563
I've had a call with a customer and they were using cloudfront CDN. Everything was cached, please make sure you do not cache HTML, page-data folder! See https://www.gatsbyjs.com/docs/caching/

[2020-09-18 16:59] barbalex commented on #26563
Being a complete noob in these matters: Does https://vercel.com/docs/edge-network/caching mean that that happened in my case too?

[2020-09-18 17:29] kuworking commented on #19618
I am experiencing the same issue with a page that originated another bug posted at https://github.com/gatsbyjs/gatsby/issues/26706

In my case it happens in (at least) desktop chrome, and it only happens the first time I load the page, if I hit refresh then everything renders as expected

Then if I try to replicate that first time, even with `incognito` mode and trying to erase every cache I can t

[2020-09-18 18:31] machineghost commented on #14395
It would be helpful if, when `ENABLE_GATSBY_REFRESH_ENDPOINT=true`, an extra log line appeared, so you'd see something like:

    You can now view yoursite in the browser.
⠀
      http://localhost:8000/
⠀
    View GraphiQL, an in-browser IDE, to explore your site's data and schema
⠀
      http://localhost:8000/___graphql

    You have enabled the refresh feature at:

      http://localhost:8000/__

[2020-09-18 18:34] aharbis commented on #26941
I was able to resolve this build issue by taking the following steps:

1. Revert changes to `package.json` and `package-lock.json` (essentially reverting my previous `npm update`)
2. `rm -rf node_modules`
3. `npm ci`
4. Upgrade `gatsby-theme-carbon` to `1.26.10` (this step also updated `gatsby-plugin-mdx` to `1.2.40`)
5. `npm run build` (logs from `gatsby build` showed that plugin changes were det

[2020-09-18 18:34] #26941 closed

[2020-09-18 19:53] viniciuspardini commented on #10890
Maybe for #3 the workaround is to make something similar to what they are doing here: [https://github.com/DeveloPassion/website/commit/c31120ccccefed43c266c8ef862ec696bd36c7a8](url). A process that at build time, get the meta tag from the index.html file, but instead of adding it to a configuration file, add the directive to the web server, or in my case, to the Lambda@Edge function. I didn't test

[2020-09-18 20:15] meganesu commented on #26211
Hi there @freethebit! Totally understand that it's confusing to get generic warning messages.

The above warning message comes from React, not Gatsby. If there are particular examples in the docs that show incorrect usage (like missing the key attribute), then we'd be open to changes to correct those mistakes. But at this time, we are not planning to add a reminder to use a key for each method tha

[2020-09-18 23:14] DWShuo opened #26952 "CSS breaking when using multiple themes"
## Description
The two themes works fine when they are on their own, but when used together the css seems to break. I am using the gatsby-theme-blog and @wkocjan/gatsby-theme-intro to be more specific.

Another thing i found is that when used together gatsby-theme-blog does not appear to be picking up the content in the default location `content/posts`, i had to use contentPath option to point it

[2020-09-18 23:27] Isaac-Tait commented on #26893
I am having this same issue. I tried removing all of my md files, then running `gatsby clean` and then `npm run develop` but I am still getting the

[code]

I am getting this error on three files:

`blog-post.js`
graphql query in question:
[code]
`search.js`
graphql query in question:
[code]

`index.js`
graphql query in question:
[code]

Interestingly after deleting all the md files I got a new me

[2020-09-18 23:27] djun-kim commented on #16765
Having the same issue here. This is a blocker for enabling multi-lingual sites.

[2020-09-18 23:32] Isaac-Tait opened #26953 "Unknown argument "formatString" on field "date" of type "MarkdownRemarkFrontmatter"."
Referencing:  #26893 (and from a few years ago #2096) I tried removing all of my md files, then running `gatsby clean` and then `npm run develop` but I am still getting the

[code]

I am getting this error on three files:

`blog-post.js`
graphql query in question:
[code]
`search.js`
graphql query in question:
[code]

`index.js`
graphql query in question:
[code]

Interestingly after deleting all th

[2020-09-18 23:34] Isaac-Tait commented on #26953
Failed to compile
[code]

[2020-09-18 23:37] Isaac-Tait commented on #26953
Just in case it is helpful:
[code]

[2020-09-19 00:53] Wyrd00 opened #26954 "The path passed to gatsby-source-filesystem does not exist on your file system: undefined"
## Description
When I run `gatsby develop`, I get the following error message:

[code]

In my `gatsby-config`
[code]

There's no doubt my `src` folder exist.
Also tried downgrading the gatsby-source-filesystem to a version that worked in my previous projects - no luck.

### Environment
[code]

[2020-09-19 03:10] #26954 closed

[2020-09-19 13:14] don-esteban opened #26959 "Anchor link / fragment Link back button issue"
Back button with anchor/fagmenmt links don't go back to last position. Tested with Firefox 80.0, Chrome 85.0.4183.83 and Safari 13.1.2 on macOS 10.15.6.

Reproduction steps (and many pages in the online docs):

`gatsby new my-blog-starter https://github.com/gatsbyjs/gatsby-starter-blog`
`npm update`

Insert this two lines somewhere in `content/blog/new-beginnings/index.md`

`[Go to (markdown link)

[2020-09-19 13:37] liuuuk311 commented on #19618
I ran `npm auidit fix` and the problem was fixed for me.

[2020-09-19 14:28] ardalis opened #26960 "No Indenting"
## Description

Code sections lose all indentation. Mainly using C#.

### Steps to reproduce

Full source: https://github.com/ardalis/ardalis-com-gatsby
Example Page: https://ardalis.com/group-your-constants-and-enums/
Source File: https://github.com/ardalis/ardalis-com-gatsby/blob/master/src/pages/blog/group-your-constants-and-enums.md

Sample code:
[code]

Result:
![image](https://user-images.gi

[2020-09-19 14:28] don-esteban opened #26961 "gatsby-remark-autolink-headers: option to disable style="position: relative""
## Summary
`gatsby-remark-autolink-headers` adds `style="position: relative"` to `<h..>` Tags. Adding the style attribute to `<h..>` Tags is intrusive and not always wanted. It should be possible to disable this behavior.

### Motivation

Not all designs work well with relative positioned heading elements. One example is `"float:right"`

[2020-09-19 15:15] schwenzner opened #26962 "Warning: Each child in a list should have a unique "key" prop."
No code details are required. I was simply following the tutorial in the docs. I was at part 6, "Transformer Plugins". The code is copied as is in the docs. This is on Windows 10, using node 14.4, latest chrome and VS Code.
The warning is generated when attempting to use node.id  as key (please refer to last code displayed on the tutorial page for the file index.js).
Observations:
1. When changing

[2020-09-19 18:52] arthurjdam commented on #26962
Followed the tutorial and it works just fine: [https://github.com/arthurjdam/gatsby-issues-26962](https://github.com/arthurjdam/gatsby-issues-26962)
A code sample of your current state would help what's going on. A node's id is generated but needs to be requested. Is "node.id" a part of your GraphQL query?

[2020-09-19 19:47] ttstauss commented on #24332
Removing just gatsby-image (home hero image and any background images) improves my score anywhere from 10-20 points.

[2020-09-19 19:59] Jimmydalecleveland commented on #24332
In some recent testing I was doing I found that using `tracedSVG` actually dramatically improved the performance score of Largest Contentful Paint. I imagine this will be fixed in Lighthouse, but as of now this happens because the SVG is considered to be the same dimensions as the full resolution image, so it never swaps from the SVG as the LCP target to the full image.

When using base64, the sma

[2020-09-19 22:02] daydream05 commented on #26875
@alex-tgk Oh thank you i'll look into that! That might actually be better since pulling multiple spaces causes field collusions anyway.

[2020-09-19 23:43] jungenWerthers commented on #8206
I believe this bug has returned. My current version is ^2.23.12 in my project.

[2020-09-20 04:02] schwenzner commented on #26962
Today is a new day...! and I was afraid something like this was going to happen. I turned on my PC to continue the tutorial and guess what?!, the console log output on the browser now had the id listed under each node

[2020-09-20 04:02] #26962 closed

[2020-09-20 04:07] schwenzner commented on #26962
Today is a new day...! and I was afraid something like this was going to happen. I turned on my PC to continue the tutorial and guess what?!, the console log output on the browser now have the id listed under each node. I changed the key to reference the node.id and all is back to normal. I suspected somethin like this was going to happen. I regret, and apologize, for quickly jumping into adding t

[2020-09-20 04:50] gcko commented on #21299
I'm running into this issue while using `docker-compose up`, specifically "gatsby-plugin-extract-schema". The plugin is in  package.json and is indeed downloaded and added to `node_modules/gatsby-plugin-extract-schema`. I have verified by running `docker-compose build --no-cache && docker-compose run web sh`, and indeed the directory is there. In addition, running `npx gatsby develop --host 0.0.0.

[2020-09-20 06:49] rburgst commented on #26953
the type of your frontmatter date field has changed from `Date` to `String`. Most likely the reason (at least for me) it is that one of your posts has an invalid date (in my case I had `date: 2020-079-20T08:11:45+02:00`). Check all your frontmatter dates and ensure that they are valid.

[2020-09-20 09:22] oknoorap commented on #24332
Why v5 more better result than v6? I'm using NextJS the result always changed from 60 to 85.

[2020-09-20 09:30] adonig commented on #26707
Using yarn instead of npm allowed me to build with gatsby-plugin-sitemap again. But I also did a lot of updates including gatsby and gatsby-plugin-sitemap, so I'm not really sure why it works again.

[2020-09-20 09:53] chivongv commented on #21271
@hayyaun I solved this by using @emotion/styled and theme-ui. Hope you will find it helpful

[2020-09-20 09:56] hayyaun commented on #21271
hi, I was searching for this issue, thanks for replying.
I found out that gatsby-plugin-minify was the reason why all my styles flickered for some seconds.
And I still don't know the reason. But in my case removing it solved my problem.

[2020-09-20 10:59] dougwithseismic opened #26963 "On Gatsby Update, built page will not render when using <Location> from @reach/router -"
## Description

    "gatsby": "^2.13.73",  --> Builds and deploys just fine **WHEN USING AN OLDER VERSION OF GATSBY-CLI**
    "gatsby": "^2.24.61", -- > "Builds fine, but renders a flash of page before removing all content"

I have a project that uses <Location> to allow useLocation() to be used in a global SiteContext HOC - I've recently wanted to upgrade to the newest version of gatsby and found

[2020-09-20 11:41] SimonKlausLudwig opened #26964 "gatsby-plugin-emotions: Add style in header"
## Summary

I added Gatsby-plugin-emotions to my project. The plugin adds the styles tags right above the element. The w3c show me an error that "Element style not allowed as child of element div in this context".

Is there a way to add the styles generated by emotions into the head of the document ?

### Basic example

[code]

[2020-09-20 12:06] #25783 closed

[2020-09-20 12:06] #25433 closed

[2020-09-20 14:41] creotip commented on #16765
Same problem here.
The solution with decodeURIComponent not working for me

[2020-09-20 15:57] Isaac-Tait commented on #26953
Thank you @rburgst you were spot on. I had wrapped the date fields in my md files with `""`, which made it a string... Somehow though my mistake did not throw the error for several commits... Thanks again for your help.

[2020-09-20 15:57] #26953 closed

[2020-09-20 18:29] GYETROH commented on #24420
Does someone have the answer to this?
Same problem here, I don't know hot to fix it. 😢

[2020-09-20 22:58] polarathene commented on #20126
I received another report of the issue that answered enough of what I had requested from a Safari user, sorry for how long you've all been affected by this.

[PR available](https://github.com/gatsbyjs/gatsby/pull/26965), I've not tested it, but it should make Safari users of `gatsby-image` happy once more.

[2020-09-20 23:30] Axiol opened #26966 "Gatsby develop won't start inside a Docker container"
## Description

I'm trying to run a Gatsby installation inside a Docker container. But when `gatsby develop` it return:

[code]

But if I check what's in the container before the command, I can see the Gatsby modules inside `node_modules`.

### Steps to reproduce

Clone [this repository](https://github.com/Axiol/wordpress-gatsby) and run `docker-compose up` inside

### Expected result

Dev server

[2020-09-20 23:49] AlmogRnD commented on #12552
I just got this issue when trying GatsbyImageSharpFluid_tracedSVG anyone solves this?

[2020-09-21 00:13] #25871 closed

[2020-09-21 00:34] deoxyshub opened #26967 "Error: The result of this StaticQuery could not be fetched"
## Description

Error: The result of this StaticQuery could not be fetched.
This is likely a bug in Gatsby and if refreshing the page does not fix it, please open an issue in (https://github.com/gatsbyjs/gatsby/issues)

- Production environment
- White page in some clients
- Mobile client for the most part

### Steps to reproduce

Impossible to reproduce, because it never happens in development wi

[2020-09-21 00:44] moonmeister commented on #26707
@adonig did you update to gatsby-plugin-sitemap@next or just the latest stable? The `next` tag is available now for testing.

[2020-09-21 02:01] polarathene commented on #26526
not stale

[2020-09-21 03:55] isaobushi commented on #26662
Any update on the matter ?

[2020-09-21 05:50] mlenser commented on #9207
This is indeed the case.

Here is how your netlify config should look like:
![image](https://user-images.githubusercontent.com/235857/93735929-e9ad9480-fbde-11ea-9870-a4cb7568d227.png)

Disabling optimization at the top level apparently turns on the pretty URLs, even though it visually looks like that isn't the case:
![image](https://user-images.githubusercontent.com/235857/93735960-ff22be80-fbde-

[2020-09-21 07:04] serenahappyhacking commented on #26915
Hi  wardpeet !
Thanks so much for leaving the reply of how to cope with the issue. But I have no idea about " create a minimal reproduction " ?  would you mind giving me a further explanation about how to do it?

thank you very much!
Have a great day!

[2020-09-21 07:14] codepunkt commented on #26608
If you consider this a bug, i would expect you to fix it.
If you consider this working as expected, please close this issue and be done about it.

Your intention is not clear. What does "won't be able to prioritize" mean for you in this context?

[2020-09-21 07:55] LekoArts commented on #26037
Since the original issue was solved, I'll close this in favour of https://github.com/gatsbyjs/gatsby/issues/26563 where also the issues about `gatsby-plugin-offline` could be discussed.

[2020-09-21 07:55] #26037 closed

[2020-09-21 07:56] LekoArts commented on #26798
I'll close this as a duplicate of https://github.com/gatsbyjs/gatsby/issues/26563 - please give your reproduction there when possible. Thanks!

[2020-09-21 07:56] #26798 closed

[2020-09-21 07:57] LekoArts commented on #26967
Hi, thanks for the issue! Sadly we can't do much without a reproduction and thus this issue is not actionable. You can follow https://github.com/gatsbyjs/gatsby/issues/26563 or comment there when you have a reproduction. Thanks!

[2020-09-21 07:57] #26967 closed

[2020-09-21 08:02] LekoArts commented on #23761
Hey, thanks for the issue and sorry for the long wait without an answer :(
I'll close this in favour of https://github.com/gatsbyjs/gatsby/issues/26564 as it has clearer reproduction steps and later Gatsby versions but please follow the issue for more information on this issue. Thanks!

[2020-09-21 08:05] LekoArts commented on #26440
I'll close this as a duplicate of https://github.com/gatsbyjs/gatsby/issues/26099 so that we can discuss this in a single space.

[2020-09-21 08:05] #26440 closed

[2020-09-21 08:17] wardpeet commented on #25918
That seems to be a bug indeed with our remark parser. Thank you for raising it

[2020-09-21 08:31] #26966 closed

[2020-09-21 08:38] LekoArts commented on #26964
Hi!

If you look at the HTML of https://using-emotion.gatsbyjs.org/ you'll see all the style tags in the `<head>`. This is the default behavior for production builds.

If this is not the case for you please [provide a minimal reproduction][reproduction] and we'll be able to take another look.

[reproduction]: https://gatsby.dev/reproduction

[2020-09-21 08:43] lipis opened #26969 "gatsby-plugin-countly: We are trying to include Countly in our Gatsby site and it looks like this plugin is gone."
https://www.gatsbyjs.com/plugins/gatsby-plugin-countly/

What would be the best way to include it? What happened to the plugin?

P.S. It seems that it's removed from the repo, but still available on plugin search..

[2020-09-21 08:44] SimonKlausLudwig commented on #26964
Hey LekoArts, unfortunately even in your example the style tags are within the html code (See attached image)
![Uploading Bildschirmfoto 2020-09-21 um 10.44.26.png…]()

[2020-09-21 08:57] LekoArts commented on #26961
Hi, thanks for the issue!

The inline style is needed for the `icon` option to function as it positions said icon with style of absolute or inline-block.

However, the plugin could conditionally add this inline style depending on whether the `icon` option is used or not.

It should be solvable by moving:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-autolink-headers/src/in

[2020-09-21 09:00] wardpeet commented on #26563
@barbalex I'm not sure, if I believe their source code it should have the correct cache-control:
https://github.com/vercel/vercel/blob/35fd7b5f9c628f9304cd9d2dcce9446ec4a2c1c7/packages/now-static-build/src/frameworks.ts#L72-L76

Perhaps it's something else, could you send me your url? Perhaps through ward@gatsbyjs.com if you don't want to share it publicly?

[2020-09-21 09:08] wardpeet commented on #18048
This issue should have been resolved in the latest gatsby-cli. If you already had it before please run the following command:
[code]

This will reset gatsby-cli to using npm and not yarn

[2020-09-21 09:09] LekoArts commented on #26964
Ah, now I see what you mean.

You're looking at the generated HTML, I was referring to the HTML after Rehydration on the client (I was using the DevTools). Still, what you're describing is expected behavior as outlined here: https://emotion.sh/docs/ssr#default-approach

`gatsby-plugin-emotion` implements this default approach (and uses `babel-plugin-emotion`).

If you want a different behavior you

[2020-09-21 09:09] #26964 closed

[2020-09-21 09:18] chrisk8er commented on #24854
this works for me:
sudo lsof -i tcp:8000 and then simply ran kill -9 PID

[2020-09-21 09:18] LekoArts commented on #26969
Thank you for opening this!

We're not the authors of the plugin and thus can't change the status on npm (e.g. deprecating it) or changing the tags that Algolia uses to index plugins. As long as they have certain tags and are not deprecated it'll be indexed and thus be available on the plugin search.

It seems like the source code is here: https://github.com/squarecat/gatsby-plugin-countly

You'll

[2020-09-21 09:18] #26969 closed

[2020-09-21 09:47] lesagi commented on #26777
Hi,

have you tried using the 'gtasby clean' cmd?
try deleting '.cache' folder completely and the content in 'public' as well

[2020-09-21 09:50] LekoArts commented on #26960
Thank you for opening this!

I created an example project at https://codesandbox.io/s/remark-prismjs-csharp-copwm and it's working as expected. Looking a bit at your CSS with the DevTools (on the live site) I saw that you overwrote the `white-space` attribute: https://github.com/ardalis/ardalis-com-gatsby/blob/master/src/components/style.css#L368

If you remove this line and keep the `white-space:

[2020-09-21 09:50] #26960 closed

[2020-09-21 09:55] LekoArts commented on #26952
Thank you for opening this!

Sadly we can't give any immediate help with this as the underlying issue is that both themes use different CSS styling solutions (gatsby-theme-blog uses Theme UI, the other one postcss) and thus the styles will most likely overlap, override themselves and not work together. Which is unfortunate of course! If e.g. both themes would use Theme UI you could unify the style

[2020-09-21 09:55] #26952 closed

[2020-09-21 09:56] ziyafenn commented on #17725
@devboldly this didn't work for me.

Each time when i import the `firebase/analytics`, during build it still throws an error.

[2020-09-21 10:04] LekoArts commented on #26019
Hi!

Since we didn't receive an answer for 7 business days or more about the ask of a reproduction I'm going to close this now, as we can't do much to help without a reproduction. If you are able to [create a minimal reproduction](https://gatsby.dev/reproduction) for this then please do answer here or reopen the issue. Thanks!

[2020-09-21 10:04] #26019 closed

[2020-09-21 10:15] LekoArts commented on #26934
Thank you for opening this!

I tried this locally with an example project:

![image](https://user-images.githubusercontent.com/16143594/93755482-aa456f00-fc03-11ea-8a9d-aaa53344ae92.png)

The output of the store that plugins that interact with `createRedirect` is correct:

[code]

So you'll need to make sure to insert the correct `toPath` into the action and make sure that the plugin you're using

[2020-09-21 10:15] #26934 closed

[2020-09-21 10:22] LekoArts commented on #26926
Thank you for opening this!

You should put your Global Context into the [`wrapRootElement`](https://www.gatsbyjs.com/docs/browser-apis/#wrapRootElement) where you can also use `useStaticQuery` to access data. Then set this data as the default for the React context.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this

[2020-09-21 10:22] #26926 closed

[2020-09-21 10:33] #26761 closed

[2020-09-21 10:44] LekoArts commented on #26963
Hi, thanks for the issue!

I think you're mixing some things up here and the `gatsby` package update fixed some unintended bugs in the meantime or updated some dependencies. Anyhow, the `useLocation` hook works as expected as you can see in this codesandbox: https://codesandbox.io/s/use-location-pyint - I've also tried this locally with `build` and `serve`.

You can always use `useLocation` in eve

[2020-09-21 10:58] dougwithseismic commented on #26963
My hero -

Everything makes sense and you're right on me doubling up work - All
stemming from using wrapRootElement instead of wrapPageElement. Tried it
now and it's far simpler.

Thanks :)

On Mon, 21 Sep 2020 at 12:44, Lennart <notifications@github.com> wrote:

--
Doug Silkstone
*Performance Marketing Director*

*Seismic - **B2C Performance Marketing For Brands That Get It.*

doug@withseismic.co

[2020-09-21 11:56] pavan-elisetty opened #26975 "Error while installing gatsby cli"
![image](https://user-images.githubusercontent.com/57026704/93763702-87c94b00-fc2f-11ea-985c-7e5205c2a4d3.png)

## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2020-09-21 12:03] LekoArts commented on #26963
Awesome to hear, you're welcome :)

[2020-09-21 12:03] #26963 closed

[2020-09-21 12:08] pavan-elisetty commented on #25764
same issue , though @mxstbr said these are warnings but we will be able to use gatsby , but i am unable to use gatsby cli
![image](https://user-images.githubusercontent.com/57026704/93764714-391cb080-fc31-11ea-88cd-7da2014f6ab4.png)

[2020-09-21 12:18] pieh commented on #25918
Pending fix for this problem: https://github.com/gatsbyjs/gatsby/pull/26976

[2020-09-21 12:48] czabaj commented on #26375
Regarding [nested collections](https://github.com/gatsbyjs/gatsby/issues/26375?utm_campaign=Product%20Announcements&utm_medium=email&_hsmi=93142808&_hsenc=p2ANqtz-9oZ_ktXu9NqNWO0-1mFopXYWrOmrgrmtrMfiTnQUEqCsKWiqWPSGF9DTqTOqaJMc2VVU6LeVyZlu9eNFusZOTS9gRuyA&utm_content=93142808&utm_source=hs_automation#issuecomment-689531533), how about support also dynamic _directories_? Given example above, one co

[2020-09-21 12:52] LekoArts commented on #26975
Hi!

The error message says that it can't access npm. Please make sure that you have not blocked npm and have internet access and try again.

If you're up for it, we'd very much appreciate if you could [provide a minimal reproduction][reproduction] and we'll be able to take another look.

[reproduction]: https://gatsby.dev/reproduction

[2020-09-21 13:01] LekoArts commented on #26912
Can you maybe set up a new site and try to reproduce it there and link it? Without a possibility to see a reproduction (also live) it's hard to pin point the issue.

[2020-09-21 13:05] LekoArts commented on #26917
Hi!

Since this could be caused by different versions it would be incredibly helpful if you could [provide a minimal reproduction][reproduction] and we'll be able to take another look.

Thanks for using Gatsby! 💜

[reproduction]: https://gatsby.dev/reproduction

[2020-09-21 13:14] barbalex commented on #26563
@wardpeet
It was this repository: https://github.com/FNSKtZH/ae2. If you check it out at commit 5673e1d282e67e0c52ffff116e27c41d089e912e you get the version that errored.

The repository is open source. Only the data in the postgresql database backing it up is not.

I just realized that this is the only one of my projects that I do _not_ deploy via vercel (sorry for the noise!) but rather via the

[2020-09-21 13:15] kuworking commented on #26706
This is still a bug from my understanding, so do not stale

[2020-09-21 13:36] Amilight commented on #19900
Hi all,
I have hit the same error as well and [article ](https://www.gatsbyjs.com/blog/2017-10-17-building-i18n-with-gatsby/)present on Gatsby blog is a good start but it leaves us at nowhere at ssr part.
Went to other thread provided by @LekoArts but even this does not solve the problem.
I hope we get more beginner friendly articles.
Hope it gets solved.

Anyways , Thank you!

[2020-09-21 13:40] ardalis commented on #26960
Ah, that could certainly do it. However, the reason that was added is that without it every code block started with a leading indentation. So, maybe that has magically disappeared but if not I may be sending another issue this way soon. :)

Thanks!

[2020-09-21 13:58] gazben commented on #24225
This happens without the plugin also on my setup.

[2020-09-21 14:12] LekoArts commented on #26960
As the codesandbox is not showing that behavior I guess this is also a (CSS) issue on your end then :)

[2020-09-21 14:33] osseonews commented on #26953
FYI, we are still encountering this issue on all new MD files. We created a new MD file which was an exact copy of another file that didn't throw any errors on the date field. Then when we tried to re-run "gatsby develop" we again got the error: Unknown argument "formatString" on field "date" of type "MarkdownRemarkFrontmatter".

We checked our dates and everything is formatted correctly, and the

[2020-09-21 15:10] #25918 closed

[2020-09-21 15:17] daydream05 commented on #26925
There might be an issue there actually since I'm not entirely sure if I set up our headers correctly. I tried to base it off [here](https://www.gatsbyjs.com/docs/caching/#javascript-and-css)

We use docker and here's our nginx config.

[code]

Am I missing something? (Like the `app-data.json` maybe?)

[2020-09-21 16:40] Isaac-Tait commented on #26953
@osseonews Per chance did you try `gatsby clean` before running `gatsby develop`? I read that had helped some folks... Fortunately for me I only 16 md files to go through, but 14 of them had been wrapped in `""` which was causing my error. I ended up going in and changing all the date fields into this format: `date: 2015-04-15T03:13:00+02:00` running `gatsby clean` and then `gatsby develop` and th

[2020-09-21 16:41] hs737 opened #26978 "Support Overrides in gatsby-plugin-canonical-urls"
## Summary
I would like to introduce an `overrides` option in `gatsby-plugin-canonical-urls`. This plugin is really useful for adding the canonical tag across all the pages created in Gatsby. But it has an all-or-nothing approach about it. If I want just one page to reference another page, then I need to remove this plugin and manually add a canonical URL to every page.

My proposal for an `overri

[2020-09-21 16:49] gaearon opened #26979 "Gatsby doesn't work with React 17 RC"
1. Update `react` and `react-dom` to `17.0.0-rc.1`
2. Update `gatsby` to latest
3. Run `yarn dev`

This is the result:

<img width="706" alt="Screenshot 2020-09-21 at 17 45 55" src="https://user-images.githubusercontent.com/810438/93796148-50a86900-fc32-11ea-917b-164cfbe98812.png">

While there's ongoing work to make Fast Refresh the default for compatible setups, in the meantime, can we figure ou

[2020-09-21 17:33] ZPanic0 commented on #26798
There is already reproduction steps given here. We have already concluded
this particular issue is the result of something on my machine.

I also don’t use Vercel, so I can’t see how they are related.

On Mon, Sep 21, 2020 at 3:56 AM Lennart <notifications@github.com> wrote:

[2020-09-21 17:47] nsavareika commented on #13806
Another possible solution to prevent a content flash on initial load is to perform hydration only after translation file has loaded. Gatsby browser api provides [replaceHydrateFunction](https://www.gatsbyjs.com/docs/browser-apis/#replaceHydrateFunction) which allows replacing `ReactDOM.hydrate`/ `ReactDOM.render` function with the custom one. You could use it to load translation file depending on

[2020-09-21 18:27] AlmogRnD opened #26980 "Gatsby Image webp fallback not working on Safari"
## Description

I'm using the Gatsby Image plugin with webp spefificly `GatsbyImageSharpFluid_withWebp` in the docs its says _If you want to automatically use WebP images when the browser supports the file format, use the withWebp fragments. If the browser doesn’t support WebP, gatsby-image will fall back to the default image format._

How very when I test it on Safari its not falling back attache

[2020-09-21 18:32] AlmogRnD commented on #26980
Ok foud out the issue

[2020-09-21 18:32] #26980 closed

[2020-09-21 19:15] TrevPennington opened #26981 "gatsby - javascript heap out of memory"
## Description

I have come across the 'Javascript heap out of memory' problem. I am using netlify cms if that matters. I've tried downgrading versions of various npm's as mentioned in other threads. None seem to work. I've also tried the 'export NODE_OPTIONS=--max_old_space_size=4096' solution. No success there either.

### Steps to reproduce

This is my project to reproduce: https://github.com/T

[2020-09-21 19:27] rajuashok commented on #24340
I've deleted .cache several times and tried building again and am still running into this same error. Here are my versions:

[code]

Any other ways to solve this?

[2020-09-21 19:48] Zequez commented on #18382
Having same issue, although it seems a little more complex than "double save". Most of the time it works, but sometimes it doesn't, and I have to keep saving until it updates. The times it doesn't update, there is no network activity on the site tab, and the "Re-building development bundle" time says around 0.100ms instead of the usual 0.500ms when the changes stick. It doesn't seem to be anything

[2020-09-21 21:57] gunjanmimo commented on #21112
May I take this issue?
May you please assign me this problem?

[2020-09-21 22:33] daydream05 opened #26983 "How do you stop page-data.json from being cached using nginx?"
I'm following this [doc](https://www.gatsbyjs.com/docs/caching/) that we shouldn't cache `page-data.json`

I'm using nginx and for some reason I couldn't set the cache control to `cache-control: public, max-age=0, must-revalidate`

Here's my location directive:

[code]

[2020-09-21 22:42] daydream05 commented on #19618
Following! Have the same issue as well

[2020-09-22 00:09] Js-Brecht opened #26984 "More flexible default Typescript transpiler handling"
## Summary

I am opening this issue primarily for the purpose of tracking discussion regarding potential alternative ways to handle the "typescript by default" feature.

### Motivation and Context

Adding `gatsby-plugin-typescript` to the plugin array by default causes issues when trying to use other methods for handling Typescript transpiling via Webpack.  `gatsby-plugin-typescript` removes all o

[2020-09-22 00:13] #25607 closed

[2020-09-22 00:16] rori4 commented on #24822
not stale. please make this happen 😕

[2020-09-22 00:16] Dan503 commented on #24822
Please keep this issue open. I would really like to be able to skip the image processing step when developing.

[2020-09-22 00:58] DWShuo commented on #26952
Didn't realize they were using different CSS styling, thanks for pointing me in the right direction. In case someone else comes across the same problem here is a stack overflow post that helped a lot. https://stackoverflow.com/questions/55551076/how-to-combine-two-gatsby-sites-together

[2020-09-22 02:42] theKashey commented on #26979
Reason: `RHL` "hot-patch" was not applied to `createFiberFromTypeAndProps` and `AppContainer` was left _unpatched_ ("as is")
Tracked at: https://github.com/gaearon/react-hot-loader/pull/1557

[2020-09-22 02:52] bwalsh commented on #13072
surprised this is an issue. need to serve static html so remote services can id site

[2020-09-22 04:01] vpicone commented on #24822
I've been using a clumsy workaround by disabling `gatsby-remark-images` with a `dev:fast` script. It can come in handy if your work has nothing to do with images/page layout.

 It reminds me what developing Gatsby sites used to feel like haha.

[2020-09-22 04:15] pvaladez commented on #19188
I was researching something unrelated to this thread, but I happened to see this plugin: https://www.gatsbyjs.com/plugins/gatsby-plugin-no-javascript/

I haven't tried it, but it sounds like it may help @gusbemacbe

[2020-09-22 07:10] guillaumepotier commented on #19618
Hi there,

We're having this issue too in production only. We reproduce this bug 100% of the time of specific urls. Let's se the tree structure of our `public`dir:

[code]

When we enter these urls `https://domain.com/usages/brainstorming` it works perfectly, `https://domain.com/usages/seminaries` too. It we enter an unknown url like`https://domain.com/doesnotexist` we rightfully have the 404 page

[2020-09-22 07:36] #22503 closed

[2020-09-22 07:46] LekoArts commented on #21112
@gunjanmimo This issue got stale but you can look at the other ["help wanted" issues](https://github.com/gatsbyjs/gatsby/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22help+wanted%22).

[2020-09-22 07:46] #21112 closed

[2020-09-22 07:50] l-u-m-e opened #26987 "Development bundle stuck"
## Description

While creating the development bundle, sometimes it stucks on `onPostBoostrap` and `Build manifest and related icons`. The problem is related with the plugin _gatsby-plugin-manifest_ or with the cache:

- If I comment out the plugin in _gatsby-config.js_  the problem will not occur again

- If I delete the cache with the command `gatsby clean` the problem will not occur again

The

[2020-09-22 08:44] sunshine940326 commented on #25657
I have the same issue from today.

[2020-09-22 09:29] Bbahri commented on #25982
@jack0wsky Hi mister. Could you explain what was wrong with your env variable declaration ? I'm facing the exact same probleme but I can't fin a solution.
Thank you !

[2020-09-22 09:34] jack0wsky commented on #25982
Actually I don't remember right now, but I will check later and let you know.

[2020-09-22 09:44] orblazer opened #26988 "Error when redirect route '/' to '/lang/'"
## Description

When i make localized paths like routes `/en/`, `/fr/`, etc, and for that i have delete the page `/` for recreate with localized path. But i have error when access to `/`.

### Steps to reproduce

1. Clone my repo https://github.com/orblazer/gatsby-i18n-issues/tree/page-errors (branch `page-errors`)
2. Run `gatsby develop`
3. Go to `http://localhost:8000/`
4. Open console and see e

[2020-09-22 09:47] pvdz commented on #26981
The dependencies in the project are super old. I wouldn't be surprised if that was causing the problems. Your Gatsby version is over a year old, for example.

The problem appears to stem from using styled-icons where the css pruning plugin does not do its job properly. The build also ends in a crash for me, due to syntax errors.

I would suggest to first make sure your dependencies are up to date

[2020-09-22 09:47] #26981 closed

[2020-09-22 10:00] davesnx commented on #20111
Where you able to reproduce it in local with gatbsy build? @obedparla

[2020-09-22 10:06] ascorbic commented on #26981
Hi @TrevPennington
@pvdz is correct that you should upgrade to latest Gatsby. Hwoever I think I've fixed your immediate issue. You need to change your styled-icons import to import the specific icon. In `src/components/AboutMe.js`

[code]

[2020-09-22 10:07] mvasilkov opened #26989 "gatsby-plugin-manifest: incorrect SVG resizing"
## Description

[gatsby-plugin-manifest](https://www.gatsbyjs.com/plugins/gatsby-plugin-manifest/) resizes SVG incorrectly.

### Steps to reproduce

Add the following line to the plugin options:
[code]

Using the following SVG file as `icon.svg`:
[code]

I put the SVG here for reference: https://codepen.io/mvasilkov/pen/LYNgXYy

### Expected result

Should generate apple-touch-icons properly from

[2020-09-22 10:14] pvdz commented on #26987
Is there any chance you could post a reproduction? A minimal repo we can download and reproduce this problem with?

[2020-09-22 10:51] najimali commented on #17372
@marcysutton Thank you it worked for me😊

[2020-09-22 10:56] Bbahri commented on #25982
@jack0wsky Ok I thank you very much but I don't need it anymore in fact. It was just a stupid check I forgot to do. I just copied '.env.xxxxxxxxx'  files a colleague sent me, but he removed the "." at the beginning of the filename, and I didn't check if the filename was correct. Without the '.' at the beginning of the filename the dotenv config wasn't able to find my env files... :D

[2020-09-22 10:58] derykmarl opened #26990 "lots of paga-data.json errors logged (nginx), with paths using backslashes"
I noticed when checking the nginx error logs I'm seeing a lot of lines like this:

`2020/09/22 11:35:59 [error] 42962#0: *17590 open() "/var/www/example.com/public/page-data\news\2018\07\page-data.json" failed (2: No such file or directory), client: IP.REDACTED, server: www.example.com, request: "GET /page-data\news\2018\07\page-data.json HTTP/1.1", host: "www.example.com"`

Not seeing any errors

[2020-09-22 10:59] Console32 opened #26991 "Material UI Styles are broken in Production."
## Description

The Material UI Styles are applied to the wrong components on the 2nd render.

### Steps to reproduce

Clone the Repo here:  https://github.com/Console32/BrokenCss
run `npm i && npm run build && npm run serve`

### Expected result

Styles are applied to the correct components

### Actual result

index.js
[code]

Header.js
[code]

A style from one button is applied to the Box around

[2020-09-22 11:17] Amilight commented on #25232
Hi @balibebas @samOpenforce .

Thank you for discussion, Gave me some idea how to unblock myself. I also got tripped off by the Post on gtasby.
One small issue though, importing these json files inside of i81next initiation makes the initial build app.js file bigger packet size and it gets added there. is there a way to lazy load these json files seeing Suspense is not working for this.

Thanks.

[2020-09-22 11:30] samOpenforce commented on #25232
hey @Amilight

I've not actually done this personally as our translation files are still small enough to serve in our initial load, however I think this section of the docs describes your situation [Seperating translation files](https://react.i18next.com/guides/multiple-translation-files#separating-translation-files) (or at least it lets you know what you want to do is possible).

[2020-09-22 12:10] mvasilkov commented on #26989
Update: it seems to work fine if I pin the latest `sharp` in `package.json`:
[code]

[2020-09-22 12:17] TrevPennington commented on #26981
@pvdz and @ascorbic thank you. The downgrading was an attempt to use other threads' solutions on this. Turns out it was the styled-icon! I appreciate it.

[2020-09-22 12:19] #26027 closed

[2020-09-22 12:22] #16760 closed

[2020-09-22 12:26] Amilight commented on #25232
Hey @samOpenforce .
Thank you for getting back to me. I have about 8 pages with 11 languages each.
Now we are planning to go with one page's translation. So as per I understand now -
1 - We create the i18n instance and pass everything before hand (resources and configs & dependencies)
2 - Create a wrapper component with this i18n instance injected.
3 - Exposing this wrapper on top of our app using

[2020-09-22 12:50] #26688 closed

[2020-09-22 12:55] wu-lee commented on #25562
Just to be clear, I don't want this to be left to go stale. The work-around given in https://github.com/gatsbyjs/gatsby/issues/25562#issuecomment-684399348 seems to be doing the job for me, and it should therefore be relatively straightforward to integrate into into gatsby, as I think it is already for certain other file types?

Certainly `gatsby develop` should not be vulnerable to arbitrary cont

[2020-09-22 12:56] theKashey commented on #26979
`hot-loader/react-dom`(17.0.0-rc.2) and `react-hot-loader`(4.13.0) were updated and should not cause the issue anymore.

[2020-09-22 13:06] Levino commented on #24577
This is still an issue.

[2020-09-22 13:11] pvdz commented on #22390
Going to close this due to lack of response. If this is still the case please reopen or open a new issue pointing to this issue. Thanks!

[2020-09-22 13:11] #22390 closed

[2020-09-22 13:15] pvdz commented on #22651
This issue hasn't seen any updates or "me toos". I'm inclined to close it without a reproduction or more reports. @doverradio please let us know.

[2020-09-22 13:38] gaearon commented on #26979
Thank you so much!

[2020-09-22 13:38] #26979 closed

[2020-09-22 13:49] pvdz commented on #25151
Hello. Looking through the replies I think the original issue was resolved as being a problem with computer settings. Since I'm worried the generic title will attract a lot of "me toos" I am going to close this issue. If you have problems accessing your Contentful space, it may help to read through replies in this thread and to verify that your settings / tokens / keys are correct. If all else fai

[2020-09-22 13:49] #25151 closed

[2020-09-22 13:56] gaearon commented on #26979
Concretely, if you're running this error, the fix is to run `npm update`.

If this didn't help, delete your lockfile (`yarn.lock` or `package-lock.json`) and re-run your package manager.

[2020-09-22 13:56] pvdz commented on #25314
Looking through the thread I think the original issue has been resolved. I'm closing this but feel free to continue the discussion if you want to :)

[2020-09-22 13:56] #25314 closed

[2020-09-22 14:15] pvdz commented on #25858
I'm going to close this issue as the topic is very generic and is bound to attract unrelated issues.

If you've come here to find a solution for an OOM ("Out Of Memory") issue, please try to bump the memory first (either `NODE_OPTIONS=--max-old-space-size=8192 gatsby develop` or `node --max-old-space-size=8192 node_modules/.bin/gatsby develop` and see if that works.

If you think you have a relati

[2020-09-22 14:15] #25858 closed

[2020-09-22 15:45] daydream05 commented on #19618
@guillaumepotier do ya'll happen to use nginx as well?

I think it might be caused by faulty response headers.

[2020-09-22 15:50] jaytommy commented on #24176
This is absolutely bonkers! I am a Gatsby newbie and have a similar issue to so many here.  I installed the sass plugin (along with node-sass) and the gatsby develop command fails.  I've had the cannot find React error.  Now I am getting the issue where it cannot interpret my scss file.
![image](https://user-images.githubusercontent.com/38990412/93905783-f60a1e00-fcc0-11ea-94a5-e09a3ef95f0a.png)

[2020-09-22 15:50] obedparla commented on #20111
if I recall correctly, it was working on prod (build). The issue was only on dev

[2020-09-22 15:58] guillaumepotier commented on #19618
@daydream05 yes indeed we're using nginx. We saw in our logs some 304 Not modified content headers, and sometimes 200 responses.

[2020-09-22 16:22] theskillwithin commented on #19618
using AWS S3 bucket

[2020-09-22 16:26] gillkyle commented on #26421
To try and respond to the follow up question. The state of `www` is that it is good to keep around for now for at least a few reasons I'd cite:

1. it keeps the existing code and implementation of some Gatsby best practices in the open (the only things that have moved in the last month are changes to order of docs in the sidebar)
2. it allows contributors to the docs to preview additions to the do

[2020-09-22 16:26] #26421 closed

[2020-09-22 16:33] gillkyle commented on #19127
I'm embarrassed I didn't see that I got mentioned here sooner 🙈 so sorry!

The code for these pages have been moved over under the gatsbyjs.com wing with our [unified site](https://www.gatsbyjs.com/blog/announcing-unified-gatsby/), so the changes would no longer be in this repo. I can open an internal ticket to revisit this behavior since I believe these pages are ones we'd like to revisit soon an

[2020-09-22 16:33] #19127 closed

[2020-09-22 17:28] ibraheemdev commented on #24577
It is an issue, but clearing the cache almost always fixes it. Any thoughts on a potential solution?

[2020-09-22 19:28] servrox commented on #26311
@TijlB99 thanks for your input here! 🙏

I'm using a nx monorepo with gatsby. when i added plugins containing jsx i got errors above.

your solution worked for me too! ..i was already going crazy :J

[code]

[2020-09-22 20:05] lukekarrys commented on #25778
This seems like too simple of a fix for it to be right, but does this work for anyone else? I noticed that in the [`gatsby-react-router-scroll/scroll-handler`](https://github.com/gatsbyjs/gatsby/blob/510370d0cd71e1d2c3e88f89f29317659310e961/packages/gatsby-react-router-scroll/src/scroll-handler.tsx#L64) it was checking for a scroll position of 0 in order to scroll to the hash node. I confirmed on

[2020-09-22 20:56] doigo commented on #24332
+1

[2020-09-22 21:29] jasonbiondo opened #26995 "What is the best approach for someone with thousands of images?"
## Summary
I have a shopify store with over 10,000 images and when I try to use gatsby-image the query takes too long to run.  In this situation should people be using gatsby-image or should they be using another lazyloading library?  What is the best approach for someone with thousands of images on a CDN like shopify?  I didn't see this outlined in the docs so I want to ask.

[2020-09-22 22:11] emmadigital opened #26997 "Graphql Query Error"
## Summary
I get graphql query error for featuredImage field, sometime it works fine but sometimes I get below error but when I run `gatsby clean` command 3 - 4 times the error goes away. I want to know the permanent solution to this.

## Relevant information
Here is the screenshot of the error and my graphql query for fetching featuredImage:

![image](https://user-images.githubusercontent.com/646

[2020-09-22 22:23] rootlinux2 commented on #9325
Hi guys, I have this Issue too
 "gatsby": "^2.24.49"

[2020-09-22 22:40] EliotSlevin commented on #7363
So I did this and it kidna bit me in the ass. Turns out a page's graphql queries need to be in the _top level component_. So once I figured out I had to put the queries on the index then pass down to your 'folder' home page - problem solved right?

Well no, turns out that works for `develop` but not `build`. Save yourself some time, don't be all fancy about it - just have an index.js in the root -

[2020-09-22 22:42] KyleAMathews commented on #26995
You can use image processing tools like Cloudinary to offload image process e.g. https://cloudinary.com/blog/how_to_improve_your_shopify_s_store_loading_times_using_cloudinary

You can still use gatsby-image with Cloudinary as you can create a component which generates the cloudinary URLs for all the different URLs that gatsby-image expects as props e.g.

[code]

[2020-09-22 23:31] PeterDekkers commented on #19618
Same here, hosting in AWS S3 (with CloudFront CDN).

[2020-09-22 23:33] Titou325 opened #26998 "Invalid Hook Call when using gatsby-starter-mdx-basic"
## Description

It seems that creating a new project with `gatsby-plugin-mdx` always throws an `Error: Invalid hook call.` when using the dev server.

### Steps to reproduce

Clone MDX starter, start dev server and browse to http://localhost:8000

[code]

### Expected result

The page should be accessible.

### Actual result

The following error is encountered:

[code]

### Environment
[code]

##

[2020-09-22 23:53] jasonbiondo commented on #26995
@KyleAMathews Does this CloudinaryImage component already exist?  Also, regardless of cloudinary for optimization, shopify already has the images on a CDN, why can't I just use those?

[2020-09-23 00:11] KyleAMathews commented on #26995
There's this — https://cloudinary.com/blog/introducing_cloudinary_s_gatsby_plugins

You absolutely can use the images directly from Shopify — the only issue I believe is that Shopify doesn't optimize the images  for you so if e.g. you upload a very large image for a product, it'll load very slowly. Image processing + gatsby-image solves that problem for you.

[2020-09-23 00:13] #25485 closed

[2020-09-23 00:18] jasonbiondo commented on #26995
Cool, but my main issue is not the image optimization itself, but that fact that the query is heavy and seems to try and store the files locally via

`query MyQuery {
  allShopifyProduct(sort: {fields: [title]}) {
    edges {
      node {
        metafields {
          key
          value
        }
        title
        shopifyId
        description
        handle
        priceRange {
          mi

[2020-09-23 00:51] tbrannam commented on #26899
Additional detail. If both assetsPrefix and pathPrefix are set on page URLs (e.g. `/assetprefix/pathprefix/page-slug`) - note that rendered HTML markup is referenced as `/pathprefix/page-slug`

It would appear to me that the asset prefix should not be on the page URL reference, but should be referenced in the link headers.

[code]

[2020-09-23 01:29] KyleAMathews commented on #26995
I'm not very familiar with the Shopify API or the source plugin. You could explore in graphiql if the CDN file is available. It does look like we don't query it — https://github.com/gatsbyjs/gatsby/blob/510370d0cd71e1d2c3e88f89f29317659310e961/packages/gatsby-source-shopify/src/queries.js#L130-L132 — I assume the Shopify API has the link to the original URL so you could PR adding it to the source

[2020-09-23 01:56] nerdi-caveman commented on #25778
I had this issue too with but I worked around it by hard coding click events on all links and ` window.scroll({ top: ElementTop, behavior: "smooth" })`. Don't forget to `e.preventDefault()` on click event. Something like this:
[code]

[2020-09-23 02:00] nerdi-caveman commented on #25778
Keep in mind this removes setting the hash on the location

[2020-09-23 02:00] jasonbiondo commented on #26995
It is already available in the Shopify API. I can get the CD and URL but I am not sure how to pass that to Gatsby images. In the Gatsby image documentation it says to use the source set and pass that. There is no documentation on how to pass just one image URL. Any ideas?

Jason Biondo

[2020-09-23 02:51] jasonbiondo commented on #18902
I'm also seeing this in the prismic plugin as well.

[2020-09-23 03:27] developer0116 opened #27000 "Code Split in Gatsby"
Currently I am building up a website using Gatsby and I need to optimize the performance in mobile devices.

I want to minimize the main thread work, but code split is not supported in Gatsby.

Look forward to your support.

Thanks

[2020-09-23 06:31] usamahbass commented on #27000
Hay @developer0116 try you back to this issue [https://github.com/gatsbyjs/gatsby/issues/11960](url) or this link [https://www.gatsbyjs.com/docs/how-code-splitting-works](url) or [https://github.com/gatsbyjs/gatsby/issues/18689](url) , hope it can help :)

[2020-09-23 08:20] LekoArts commented on #27000
Thank you for opening this!

As https://www.gatsbyjs.com/docs/how-code-splitting-works/ explains Gatsby supports and does code-splitting by default. If you further want to remove expensive parts from the initial bundle you can lazy-load those pieces. For example with `loadable-components` or React.lazy().

We're marking this issue as answered and closing it for now but please feel free to comment

[2020-09-23 08:20] #27000 closed

[2020-09-23 08:35] axe312ger commented on #26941
I found this issue and similar ones with `gatsby-plugin-mdx` when upgrading, especially with `yarn upgrade-interactive`.

If you end up with multiple version of the plugin, you might have multiple versions of `@mdx-js/react` as well. As the React implementation uses a global context, you might end up doubling it. This can happen in combination with `theme-ui` as well.

My fix:

* Reduce dependency

[2020-09-23 09:06] pascaloliv commented on #13146
@amicidellaschola @tomhanlon  I'm experiencing the same issue at the moment on my 404 page on when using `gatsby develop` the image is displaying properly (`<picture>` and `<noscript>` elements).

But when I'm building the app, there is no `<picture>` element.

Did you find any cause or solution?
Thx

[2020-09-23 09:06] wardpeet commented on #26990
Seems like our paths are wrong when built on windows. I'll take care of it.

[2020-09-23 09:49] afonsorp commented on #22822
Hi @thandaanda and @blurr83, how did you guys solve this? Having some similar issue and can't find any solution

[2020-09-23 09:51] ascorbic commented on #26997
Hi @emmadigital ,
The issue here is that `featuredImage` is being identified as a file, meaning it will be converted from a string into a `File` object. This is possibly down to gatsby-remark-relative-images, which looks for images in the frontmatter. That said, I can't reproduce this at all locally, so I can't say for sure, and I don't know why it's intermittent. As a start, can I suggest upgradi

[2020-09-23 10:26] emmadigital commented on #26997
Hi @ascorbic Thank you for reviewing my issue. Is this how we install latest version as listed below:
`npm install --save gatsby-remark-relative-images@1.1.1`
`npm install --save gatsby-cli`

_You also seem to have a few cases where a filename in the markdown has different casing from the file on disk._ Can you please share anysuch file so I can fix it.

[2020-09-23 10:38] ascorbic commented on #26997
@emmadigital I didn't do a comprehensive search, but the ones I saw at first were the pdfs listed in guides.md.

The latest version of gatsby-remark-relative-images looks like it's 2.0.2. I should clariufy that as thus is a third party plugin, if this is where the issue lies you will need to raise a ticket there instead.

[2020-09-23 11:45] stanislawosinski opened #27002 "'Duplicate "graphql" modules' error when developing a theme"
## Description

I'm trying to convert a Gatsby plugin/starter I've been developing into a proper theme. I started with the [theme starter workspace](https://github.com/gatsbyjs/gatsby-starter-theme-workspace) and added the relevant code and plugin dependencies. All the code is available at https://github.com/carrotsearch/gatsby-theme-apidocs.

The theme appears to be working when published to the

[2020-09-23 12:00] tomhanlon commented on #13146
@pascaloliv The project I was working on was hosted on Netlify. I found once I cleared the cache and re-deployed the images rendered properly. Can you try that?

[2020-09-23 12:08] ascorbic commented on #26991
Hi. Thanks for the report. This looks like it's an issue related to a community theme. Could you file this against [the gatsby-theme-material-ui repo](https://github.com/hupe1980/gatsby-theme-material-ui) please.

[2020-09-23 12:08] #26991 closed

[2020-09-23 12:15] ascorbic commented on #26998
Hi. Thanks for the report. The problem here is that multiple versions of React have been installed, and it is using a different one in each place. This is an issue that we are aware of and actively working on a fix which should be ready soon. You can track the underlying issue here: #19827

I'm going to close this as a duplicate, because it is the same underlying cause even if the symptom is diffe

[2020-09-23 12:15] #26998 closed

[2020-09-23 12:18] ascorbic commented on #26988
Hi. I think I've worked out what's wrong here, and I have opened a PR with a fix. However I should point out that as it stands it will not work even when the fix is in. The "Language" is a custom addition that only works for Netlify, and isn't supported for client redirects.

[2020-09-23 12:18] #26988 closed

[2020-09-23 12:29] ascorbic commented on #26942
Hi @jordan314,
I think this is a scenario when the offline plugin isn't a good fit, at leats in its default configuration, precisely because you don't want it to serve a cached page to logged-out users. If you don't want to exclude these pages, you might be able to work around it by changing the caching strategy in workbox to ensure that it revalidates the pages. See [the instructions for overridi

[2020-09-23 12:29] #26942 closed

[2020-09-23 12:35] ascorbic commented on #26777
Hey. Is this specific to unified routes? Do you get the same error without it? My feeling is that the answer to this is in the wp plugin, as that's what is defining the types

[2020-09-23 12:46] adonig commented on #26707
@moonmeister I tried to update to gatsby-plugin-sitemap@next when it was not available yet, but the problem went away when I switched to yarn. So I think it is not because of the new gatsby-plugin-sitemap version. Sadly I can't reproduce it anymore.

[2020-09-23 13:06] Titou325 commented on #19827
I've had an issue seemingly linked to this problem #26998

Solved using a custom webpack config to resolve `react` and `react-dom`:

[code]

[code]

Everything runs smoothly now.

[2020-09-23 13:09] Titou325 commented on #26998
Should anyone stumble upon the same problem, here are the resolution steps I have taken:

https://github.com/gatsbyjs/gatsby/issues/19827#issuecomment-697352108

[2020-09-23 13:24] LekoArts commented on #25095
`GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES` is an experimental feature (hence the EXPERIMENTAL tag) and since `gatsby-remark-relative-images` is causing this we won't spend time on fixing it with this particular plugin. Feel free to reach out to the plugin maintainer and see if you can work out a fix (we're happy to review PRs, too) but we won't work on this.

[2020-09-23 13:24] #25095 closed

[2020-09-23 13:27] vladar commented on #27002
Hi @stanislawosinski !

Usually, this error means that you have multiple versions of the `graphql` package in your project. But I've just followed your steps to reproduce and it worked fine for me. So this is likely some issue with dependency installation.

Maybe you've run `npm install` previously which messed up your `node_modules`? I have the same `yarn.lock` so it should be the same for me.

W

[2020-09-23 13:39] #19105 closed

[2020-09-23 13:43] #23302 closed

[2020-09-23 13:44] #20853 closed

[2020-09-23 13:49] #20587 closed

[2020-09-23 13:51] #21566 closed

[2020-09-23 13:52] #19383 closed

[2020-09-23 13:53] #19368 closed

[2020-09-23 13:53] #19351 closed

[2020-09-23 13:53] #19369 closed

[2020-09-23 14:29] kumaresan-subramani opened #27006 "error There was a problem parsing the GraphQL query in file:"
## Description

I am using below mentioned gatsby verison, my compilation getting failed fro 4pm today

`"[gatsby](https://npmjs.com/package/gatsby)": "^2.24.27",`

### Steps to reproduce

My  application is huge i can share  my entire application

### Expected result

get compiled

### Actual result

[code]

### Environment

[EJ2-13795-gatsby-automation-6SSPORWHIBTZVEP3ULARN7IOUBUZRIK4MULEBTPLVFG

[2020-09-23 15:17] laradevitt commented on #20493
Regarding comment above by @JordanHoffman and @benbehringer - I'm also still getting blur-up effect with GatsbyImageSharpFluid_withWebp_noBase64. On the upside, the LCP hit is apparently something that's being worked on in Lighthouse so I'm not going to fuss about it too much.

See:
Kyle Mathews comment: https://github.com/gatsbyjs/gatsby/issues/24332#issuecomment-650799066
Twitter exchange betwee

[2020-09-23 15:20] rmhartog opened #27007 "Proposal: remove direct calls to `resolve` and `resolveType`"
Apologies if this should be an RFC instead, but the suggested changes are not changing anything outside of Gatsby's internals.

## Motivation
While attempting to implement an addition to the GraphQL schema of Gatsby (an `@projection` directive), I wrapped the internal schema with a transform, so that the functionality would work regardless of the underlying schema (on internal nodes, 3rd party sch

[2020-09-23 15:29] #17774 closed

[2020-09-23 15:30] #21828 closed

[2020-09-23 15:30] #21746 closed

[2020-09-23 15:31] #21383 closed

[2020-09-23 15:34] #19356 closed

[2020-09-23 15:38] #21104 closed

[2020-09-23 15:38] #19358 closed

[2020-09-23 15:41] stanislawosinski commented on #27002
Hi @vladar !

The problem is that this is happening on the fresh checkout, so this is probably not a case of stale `node_modules`. Just to make sure I removed `yarn.lock` and `node_modules` from the checkout, ran `yarn install` and `yarn develop` still gives me the same error.

I include output of `yarn why graphql` below. Maybe there's some problem in the dependencies of the theme or the plugins

[2020-09-23 15:42] #20932 closed

[2020-09-23 15:44] #20732 closed

[2020-09-23 15:45] #20928 closed

[2020-09-23 15:45] #20930 closed

[2020-09-23 15:47] daydream05 commented on #26983
Just figured out that i had to add `root /usr/share/nginx/html;` for each directive and also had a directive that was adding +1 year to all .json files

[2020-09-23 15:47] #26983 closed

[2020-09-23 16:07] #21780 closed

[2020-09-23 16:08] #24283 closed

[2020-09-23 16:09] #21751 closed

[2020-09-23 16:09] #18704 closed

[2020-09-23 16:10] #21109 closed

[2020-09-23 16:11] #21775 closed

[2020-09-23 16:11] moonmeister commented on #26707
Thank you for opening this,

We're marking this issue as closed for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-09-23 16:11] #26707 closed

[2020-09-23 16:12] #23931 closed

[2020-09-23 16:13] moonmeister commented on #26777
My site works fine, when I tried to implement unified routes this comes up. Disabling the unified route stops this error. @TylerBarnes Any ideas?

[2020-09-23 16:27] vladar commented on #27002
I am puzzled as I can't reproduce it on a fresh setup. Maybe try creating a project on https://codesandbox.io to make sure we're on the same page?

[2020-09-23 16:57] pvdz commented on #26707
@adonig what is your build time currently? Asking out of curiosity. And is there a public repo I can take a look at?

[2020-09-23 17:00] stanislawosinski commented on #27002
Oh, thanks for the confirmation that it works for you. This must be something local then (same thing on two machines though :-)), let me dig into this. Is it possible that a global gatsby-cli install might be the cause?

[2020-09-23 17:01] stanislawosinski commented on #27002
Probably not, I don't have a global gatsby-cli on one of the failing machines. Weird.

[2020-09-23 17:09] adonig commented on #26707
@pvdz The last time it was around 2300 seconds. 35k pages mostly from CSV. No public repo.

[2020-09-23 17:11] ascorbic commented on #26777
Do uri or gatsbyPath have custom resolvers?

[2020-09-23 17:17] TylerBarnes commented on #26777
Everything in the WP plugin is custom resolvers but I'm not familiar with the `gatsbyPath` field. @moonmeister how is that added to the schema?

[2020-09-23 17:18] pvdz commented on #26707
@adonig that could be much faster. Looking at the config I'm not seeing any transforms. Are you importing the csv and injecting the values as-is, without further transform?

How many images, if any, are in this build (you're using the sharp plugin, so...). Are they causing the biggest problem? Can you post the CLI of a build in gist? :)

[2020-09-23 17:20] adonig commented on #26707
@pvdz I didn't share my config. I think you confuse me with @allanjsx 😅

[2020-09-23 17:24] moonmeister commented on #26777
`gatsbyPath` is part of unified routes. It's how gatsby tracks what Path you put a page at so you can easily link to it. https://www.gatsbyjs.com/docs/file-system-page-creation/

[2020-09-23 17:25] moonmeister commented on #26777
I don't believe so @ascorbic but all the code is here for the collection:

https://github.com/moonmeister/moonmeister.net/blob/refactor/unified-routes/src/pages/%7BWpPost.uri%7D.js

[2020-09-23 17:26] tbrannam opened #27010 "page-data.json should not be prefixed with `assetPrefix`"
the `assetPrefix` is mentioned as a method for segmenting static/highly cacheable content to another CDN.   the Gatsby caching page states that page-data.json should always be re-validated.

Should all the assets mentioned as must-revalidate ignore the `assetPrefix` config option?

--- see issue mentioned in page-data.json hash discussion
it's not a gatsby bug, page-data.json shouldn't be cached.

[2020-09-23 17:42] jsl15c commented on #24612
@TylerBarnes
I would love to create a minimal reproduction for this but do not want to have my creds for contentful accessible.
I am still experiencing this issue and it does not seem to be clear, other than that gatsby-source-contentful is not error handling this case:
`var defaultInline = function (type, node) {
1:39:16 PM: > 1068 |     return "<span>type: " + type + " id: " + node.data.target.s

[2020-09-23 17:55] pvdz commented on #26707
Ah dangit, you're right. How many pages is your site?

@alanjsx what is your build time currently? :)

[2020-09-23 18:51] pvdz commented on #26707
Well, my _baseline_ benchmarks (zero images, minimal config) for markdown put 32k at roughly 2 minutes. Now you're not doing baseline and you probably have images so 2 minutes will be a stretch, but with half an hour sounds like there's room for improvement.

If you're able to share it with me, privately or otherwise, I can have a look. No promises, but I can't really make it worse :)

[2020-09-23 19:27] #27010 closed

[2020-09-23 19:28] tbrannam commented on #27010
Closed - issue one is not considering assetPrefix appears to always assume it is a URL and not just a path prefix

[2020-09-24 00:16] michelpf commented on #17991
In my case, changing from ```import { Link } from react-router-dom``` to ```import { Link } from @reach/router```, solved the issue!

Thanks!

[2020-09-24 00:42] souporserious commented on #26192
Thanks for looking into this! In my case it still wasn't working which I boiled down to the use of `chokidar` cli that was running two builds, after removing that and running the processes separately, all seems to work well!

[2020-09-24 01:55] tschaub commented on #14161
It looks like Hugo has support for a `relativeURLs` configuration option for this same purpose.

[2020-09-24 07:50] SimonKlausLudwig commented on #26964
One of the main reasons to use Gatsby is the huge impact it has on your SEO.

You will get warnings in most of the SEO-Checking-Tools (Seranking e.g.). That's why I think it makes sense to add the possibility to enable this option.

Here are 6 Reasons why Valid HTML is important: https://www.searchenginejournal.com/google-valid-html/258881/#close

[2020-09-24 07:57] adonig commented on #26707
@pvdz Thank you for your offer. I cannot share any source code but I'll investigate what parts of the code cause it to become slow.

[2020-09-24 08:51] stanislawosinski commented on #27002
This is reproducible only on my two Windows desktops, other machines work fine, weird indeed. Closing but still curious what the reason is.

[2020-09-24 08:51] #27002 closed

[2020-09-24 08:54] amirmeimari commented on #26877
Thanks, I'm currently trying v4 but I faced some [issues](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/172). But the overall very good update 👍

[2020-09-24 09:10] adonig commented on #26707
@pvdz I've created a gist with the build log. It takes 1623 s of which around 300 s are spend in a loop that calculates similar products to be added to the context of each product page. The generation of image thumbnails takes around 730 s. It spends mostly the rest of the time creating static HTML.

https://gist.github.com/adonig/2a386e34b8ec066dd78fea315d8bbee1

[2020-09-24 10:31] pvdz commented on #26707
@adonig perfectly reasonable. In the trace I'm seeing this

If you supply a schema this step should be a sub-5 second step, probably much less.

The node cound seems well below problematic threshhold. In fact, looks really good at only 2 * page count.

I wonder what's going on in the createPages step. 7 minutes is quite excessive for this size. Any chance you can share that file? If not, is there

[2020-09-24 11:43] diegomadeit opened #27014 "Post sorting not working properly"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Hi,

Recently we experienced an issue in the way the posts are displayed in our blog.

In our Gatsby app we sort the posts in the query this way: sort: { fields: [date], order: DESC } but the order they are displayed doesn’t match the criteria. We get the posts from DatoCMS.

In local is working and showing the post in

[2020-09-24 11:44] Sarah86 commented on #21392
I am also experiencing this random error only when I try to deploy on Netlify.

[2020-09-24 12:11] adonig commented on #26707
@pvdz Thank you for making me look into that! It was a not-so-smart loop firing a graphql query for each of the ~30k products to determine a small bunch of "similar" products from the same product category. I thought about it twice and found a way to reuse the graphql results from the category page creation step to create a category-to-products mapping in memory. That way it was possible to get th

[2020-09-24 12:30] runchuks commented on #13469
Hello. I have the same problem and none of these suggestions help. Plugin order don't work. I am using Forestry CMS and deploying site in Netlify.
This code works on Netlify
`image{
  childImageSharp {
    fluid(maxWidth: 200, quality: 100) {
       ...GatsbyImageSharpFluid
     }
  }
}`
But on my local development server it shows error.
Someone else got the error after changing plugin order? I ev

[2020-09-24 12:35] pvdz commented on #26707
It always loops. Loops and loops and loops.

[2020-09-24 12:56] vladar commented on #27002
I am on windows too and couldn't reproduce this. Maybe `gatsby-cli` uses some globally installed GraphQL package (not the project-specific one)? Check if you have graphql installed globally maybe and which version it has?

Still pretty weird 🤷‍♀️

[2020-09-24 14:23] stanislawosinski commented on #27002
I removed all the globals and still no luck.

To make things even weirder, if I do `yarn install` in Git Bash (on my Windows workstation), then `yarn develop` works fine both in Bash and cmd. If I do `yarn install` in cmd, then `yarn develop` throws the exception in both Bash and cmd.

I checked that both Bash and cmd use the same yarn binaries:

[code]

Super weird, but at least I have a workarou

[2020-09-24 14:56] ascorbic commented on #27006
Hi

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it would be really helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2020-09-24 14:59] ascorbic commented on #27014
Hi

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it would be really helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

Thanks!

[reproduction]: https://gatsby.dev/reproduction

[2020-09-24 15:42] #26194 closed

[2020-09-24 15:47] ascorbic commented on #26850
Hi @chmac
If you update to the latest verison of `gatsby` and `gatsby-plugin-sharp` you should be able to see more detailed errors. The change landed here: https://github.com/gatsbyjs/gatsby/pull/26806
Let me know if this helps

[2020-09-24 15:49] ascorbic commented on #26863
Could you look at the discussion about caching headers in #26925 and see if that fixes it for you?

[2020-09-24 15:53] ascorbic commented on #26917
Hi. I'm going to close this issue, because it relates to a third-party plugin. It's best if you open an issue on [the plugin's repo](https://github.com/borgfriend/gatsby-remark-embed-video) first. If it can be established that it's an issue with gatsby itself then please open a new issue, linking to the issue on the third party plugin so that we can have the context needed to track it down.

[2020-09-24 15:53] #26917 closed

[2020-09-24 15:57] l-u-m-e commented on #26987
I will reproduce the problem as soon as possible. But now I'm sure that the problem is related with the *gatsby-plugin-manifest*.

[2020-09-24 16:15] ascorbic commented on #26301
Hi all,
While it's true that the `extend` syntax isn't supported, the original example should work: Gatsby merges type definitions. If it doesn't then that means it's a bug. To help us best begin debugging the underlying cause, it would be really helpful if you're able to create a [minimal reproduction][reproduction]. Can you ensure that you're using the latest version of Gatsby and all of the plu

[2020-09-24 16:18] ascorbic commented on #26185
Hi. I'm going to close this for now. Components from GraphQL is a feature planned for the future, but we don't have a specific date for it.

[2020-09-24 16:18] #26185 closed

[2020-09-24 16:39] Mrtenz commented on #26301
Looks like this was fixed in one of the updates. :+1: Using the following code, I was able to query `foo`, as well as `body`, `excerpt`, etc.

[code]

[2020-09-24 16:39] #26301 closed

[2020-09-24 17:03] daydream05 commented on #26863
@ascorbic I second that. I was able to fix mine when I fixed my header caching.

@tommaton do you happen to use nginx or amazon s3 for your hosting?

[2020-09-24 17:15] developer0116 opened #27020 "navigate() function load the url but the page is not refreshed on mobile"
the current url is "/abc/?tag=a" and I navigated it to "abc/?tag=b".
But the url on the browser is changed, but the page is not refreshed on mobile.

Look forward to your support.

Best

[2020-09-24 18:10] blimpmason commented on #23842
@blainekasten this API is crucial for orchestrating page transitions.

I'm having the same issue in which the saved position is always returned as 0 or null despite the fact that the scroll positions are saved in session storage.

[2020-09-24 18:34] guilhemeyraud commented on #19618
I had the same issue, it was working perfectly locally but was crashing on S3.
I fixed it by removing all the redirections using `window.location.href` even if they weren't used :
e.g `if( typeof window !== 'undefined' ) window.location.href = "/";`

[2020-09-24 19:25] tlgimenes commented on #25506
Hello guys. I've run into the same issue here. Do you have any plans on supporting it ? I think this is a very important feature, since it allows us to shadow themes with graphql fragments.

Thanks !

[2020-09-24 19:33] muescha commented on #25290
not stale

[2020-09-24 19:50] jerehut opened #27024 "Add "sizes" attribute inside the <Img> without adding it to the query?"
_Edit: this is specific to **Gatsby Image** plugin, didn't realize it went directly under Gatsby repo_

This might be really simple, but I can't figure out how to add the `sizes` attribute inside a fluid `<Img>` that Gatsby Image provides, none of the documentation are helping.

I'm looking to do something like this: `<Img fluid={...} sizes="(min-width: 710px) 400px, 100vw" />`
Adding the `sizes`

[2020-09-24 20:20] daniloab opened #27025 "improve docs explaining about how retrieve the state from route"
## Summary
Improve navigate docs to understand more easily how to retrieve state set on the route by `navigate` help.

### Motivation
Trying to implement the navigate helper to set a `state` on my router I've found some difficulty retrieving this state after being redirected.

I had a function after success redirects the user to another page. But on this page, I need to know the email from this us

[2020-09-24 20:41] vitordino commented on #27025
@daniloab i think this state is passed to the page component (or whatever template you used to render) can you check all props that the page/template is recieving?

[2020-09-24 20:45] daniloab commented on #27025
@vitordino I checked but I was receiving only an empty object `{}`

[2020-09-24 20:46] daniyal8 opened #27026 "how to add image in gatsby"
## Summary

## Relevant information

### Environment (if relevant)

### File contents (if changed)

`gatsby-config.js`: N/A
`package.json`: N/A
`gatsby-node.js`: N/A
`gatsby-browser.js`: N/A
`gatsby-ssr.js`: N/A

[2020-09-24 20:48] dawood6 commented on #27026
you can add image in gatsby as you can add in reat like:

import logo from './logo.svg

and in return (
<img src={logo} />
)

[2020-09-24 20:50] daniyal8 commented on #27026
thank you so much

[2020-09-24 20:50] #27026 closed

[2020-09-24 21:23] brandondorner commented on #3104
I am experiencing the same issue as @kaisanjay and @mustofa-binary
I am not using pathPrefix and everything works fine while in gatsby develop, but once I build it starts to slightly fail.
It works as intended for the most part until I click the link for the same page that is rendered

[2020-09-24 22:29] PeterDekkers commented on #19618
Interesting @liuuuk311. I tried it on our project and possibly it has resolved the issue for us, too. Time will tell, but so far after 48h there are no occurrences in our logs.

[2020-09-24 22:38] blurr83 commented on #22822
Hi @afonsorp, @thandaanda, and @meganesu = it has been hectic on my end project-wise as this has been on my agency backburner.

Most of the fix ended up being lots of trial and error (and making sure caches were cleared out). One thing I/we came across, especially on iPad/iPhone, was that if a "bad" version had been rolled out - until the cache was cleared from Safari's system settings, the update

[2020-09-24 22:55] grgcnnr opened #27034 "[gatsby-plugin-manifest] PNG favicons are preferred by chromium over SVG ones without the rel='icon alternate' attribute"
## Description

gatsby-plugin-manifest provides an option to generate a SVG icon with PNG fallback. This is great because it allows us to embed `@media (prefers-color-scheme: dark) {}` queries in our icons. Unfortunately, the fallback icon is preferred by chome.

### Steps to reproduce

Check out the minimal repro https://github.com/grgcnnr/gatsby-plugin-manifest-Support-SVG-favicons-23923

run ga

[2020-09-24 22:55] grgcnnr commented on #23923
Here's a minimal repro:
https://github.com/grgcnnr/gatsby-plugin-manifest-Support-SVG-favicons-23923

And a new issue:
https://github.com/gatsbyjs/gatsby/issues/27034

It appears that chromium based browsers (have tested in brave & chrome) continue to prefer the png option over the svg one.

adding `rel='icon alternate'` resolves this but i'm unsure if its semantically correct or has other side ef

[2020-09-24 22:56] grgcnnr commented on #27034
Adding rel='icon alternate' to the png source resolves this but i'm unsure if its semantically correct or has other side effects.

[2020-09-24 23:26] dsm23 opened #27035 "TypeScript Example in Documentation for gatsby-link"
## Summary

What problem(s) did you run into that caused you to request additional documentation? What questions do you think we should answer? What, if any, existing documentation relates to this proposal?

So I was implementing the Link component laid out in https://www.gatsbyjs.com/docs/gatsby-link/#reminder-use-link-only-for-internal-links. I'm using TypeScript in my project so I tried to add

[2020-09-24 23:44] daydream05 opened #27036 "CSS code is showing on first load"
Here's the url: https://magmawallet.io/

Here's the screenshot

<img width="508" alt="Screen Shot 2020-09-24 at 7 41 27 PM" src="https://user-images.githubusercontent.com/11723413/94210864-f90e3580-fe9d-11ea-9b0c-810f09536240.png">

Sorry for the low quality jpg. I had to use the profiler. But as you can see on the left side of the apple button, it's the css showing.

I use `theme-ui` for styling.

[2020-09-25 01:53] daydream05 commented on #27036
I also usu contentful rich text renderer to render those buttons. So that might be causing it. Triaging it right now

[2020-09-25 02:01] samsherwood commented on #24221
Just wanted to say 'thank you' for attaching this. I've been beating my head against a wall for weeks now trying to track down a solution.

[2020-09-25 02:44] grapgrap commented on #20949
I installed gatsby-cli as devDependency.
And i get this.
[code]

And then i solve this problem to add this on `.yarnrc.xml`
[code]

[2020-09-25 02:58] daydream05 commented on #27036
So i think was causing it is styling inside a component that maps another component.

[2020-09-25 02:58] #27036 closed

[2020-09-25 03:04] #21280 closed

[2020-09-25 03:34] dmithamo commented on #16076
Thanks!
Oh and btw, `Manage Permissions` is `Manage Exceptions` on `FDE 82` now.
![image](https://user-images.githubusercontent.com/33679184/94223559-f3920900-fef8-11ea-97ec-8a6fa9519cff.png)

[2020-09-25 04:25] moonmeister commented on #27034
Thanks for reporting, though this does appear to be a duplicate of #26083. Though last I checked the `alternate` tag did not fix this. Can you confirm this is a duplicate or not, if is we'll close infavor of #26083. In the mean time, this could be fixed in the plugin my switching the order of the tags in head or (if the `alternate` tag does work) adding the `alternate` tag.

[2020-09-25 04:27] grgcnnr commented on #27034
Yea this is a dupe, Sorry.

[2020-09-25 04:27] #27034 closed

[2020-09-25 06:16] SamnnyWong opened #27039 "A plugin tried to update a node field that it doesn't own:"
I am building a website base on this template: https://www.gatsbyjs.com/starters/netlify-templates/gatsby-starter-netlify-cms/
 This error occurred after I added new markdown files inside folders of pages.
The full error message is listed below:

ERROR #11321  PLUGIN

"gatsby-node.js" threw an error while running the onCreateNode lifecycle:

A plugin tried to update a node field that it doesn't ow

[2020-09-25 08:07] nerdess commented on #19319
so do i understand this right: shortcodes/tokens are only supported in markdown/mdx nodes but not inside plain HTML right now?

this is kind of a bummer because what would be a smart way to enrich html content coming from a headless cms?

[2020-09-25 10:02] l-u-m-e commented on #26987
The issue can be closed since today I run `yarn upgrade` and all the problem related to *gatsby-plugin-manifest* are gone!

[2020-09-25 11:50] Inambe commented on #1634
I'm in the same situation which I think is fairly common case and after reading this thread; best and non-hacky solution, in my opinion, is:
[code]
My `projects` type of content is in `/content/projects/`.

[2020-09-25 12:29] mhirst commented on #17042
Thanks @danspratling! That did the trick for me.

[2020-09-25 13:57] ecbrodie commented on #9121
I'm also running into this problem on my website. It's a simple site I built fairly recently. It was built off of a Gatsby site starter and I then integrated the MUI theme in order to provide some CSS-in-JS styling options, as well as pre-styled components.

When I run the production build (`yarn build && yarn serve`), the styling in my app is completely broken. It's as if the CSS has not loaded o

[2020-09-25 14:17] iamkratos commented on #13931
I've experiencing the same issue. The Gatsby docs function snippet isn't working for me, as my repeaters are still not showing up in the GraphQL explorer tab. I've tried gatsby clean, and restarting a few times, but it hasn't worked. Was anyone able to move past this one?

[2020-09-25 14:51] jakezien commented on #25729
+1 on this — my styled components break in production but look fine in dev.

[2020-09-25 14:55] #21423 closed

[2020-09-25 15:01] pindjur commented on #27025
see  [pass state as props to linked page](https://www.gatsbyjs.com/docs/gatsby-link/#pass-state-as-props-to-the-linked-page)

[2020-09-25 15:13] pindjur commented on #27024
gatsby image without query is useless, unless you want to add data manually.
you can pass object to fluid prop with sizes key

fluis object types

`  aspectRatio: PropTypes.number.isRequired,
  src: PropTypes.string.isRequired,
  srcSet: PropTypes.string.isRequired,
  sizes: PropTypes.string.isRequired,
  base64: PropTypes.string,
  tracedSVG: PropTypes.string,
  srcWebp: PropTypes.string,
  srcSe

[2020-09-25 15:18] wardpeet commented on #20044
We're marking this issue as answered and closing it for now but please feel free to reopen this and comment if you would like to continue this discussion. We hope we managed to help and thank you for using Gatsby! 💜

[2020-09-25 15:18] #20044 closed

[2020-09-25 15:20] wardpeet commented on #26041
Hi @abedziak!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a minimal reproduction. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could provide a minimal reproduc

[2020-09-25 16:07] gillkyle commented on #5929
I just made an update to our screenshot on WordPress to fix the site for calpa.me, feel free to let me know if you encounter other sites with this issue. If it's a bigger problem across many sites we can investigate a better automated audit of these kinds of issues, but for now I'm going to close this issue since we no longer use the plugin to take screenshots through a Lambda function anyway 🙂

[2020-09-25 16:07] #5929 closed

[2020-09-25 16:26] LekoArts commented on #24137
This should be solved with https://github.com/gatsbyjs/gatsby/pull/27040 once Aloglia updates its index.

[2020-09-25 16:26] #24137 closed

[2020-09-25 16:33] ecbrodie commented on #9121
I had some issues on my application that uses gatsby alongside MUI (`gatsby-theme-material-ui`). My problem turned out to be with loading a value from a cookie in order to render a component. I solved the issue by loading the cookie value instead from a `useEffect` hook. This approach was based on this issue comment: https://github.com/gatsbyjs/gatsby/issues/8560#issuecomment-599154610

[2020-09-25 18:15] gabrielashirley commented on #14160
I have a similar issue, I added a new entry on Contentful but this published production-ready content cannot be shipped to my Gatsby app without showing any errors. I tried:
1. ```gatsby clean``` then ```gatsby build```
2. Resetup my contentful
3. Change things on contentful many times then rebuild, but my new entry still not showing up
Anyone has resolved this?

[2020-09-25 18:39] alexfornuto commented on #14282
I know this is a closed thread, but hopefully it will ping someone who can help. I've set `noInlineHighlight: true` and went through **every single** code block in my project to make sure it has a language specified. But I still get `warn code block language not specified in markdown. applying generic code block`.

Much like the `Each child in a list should have a unique "key" prop.`, I wish this

[2020-09-25 19:20] GiorgioMartini opened #27061 "react-p5 with Gatsby deploy on github pages not showing up in prod, but running fine locally"
Repo: https://github.com/GiorgioMartini/webthisisgiorgio/tree/dev

Deploy: https://giorgiomartini.github.io/webthisisgiorgio/

I have gatsby with react-p5.

I am also using `@loadable/component` to get rid of an issue where Gatsby doesnt find the window object.

It runs fine locally but when deployed the p5 sketch is not there.

my main branch is dev, as master is used in github pages to build the

[2020-09-25 19:24] Danamorah commented on #20082
I had the same issue and did a reinstall of the dependencies and was fixed

[2020-09-25 19:54] Gabriel-Andy commented on #13764
I got the same issue on netlify and namecheap.
gatsby develop is ok. however, when I built thing for deployment, things doesn't work as expected.
this is my site fonoandy.com

[2020-09-25 19:55] muescha commented on #14282
You can put a breakpoint in the code where the error message is printed to find the doc where the warning comes from

[2020-09-25 20:06] alexfornuto commented on #14282
->->->->->inserting breakpoints into submodules of Gatsby ->->->->

        O <- My head
        /|\
        / \

[2020-09-25 20:32] alexfornuto commented on #14282
So I did try to set a breakpoint, and I found this in `gatsby-remark-prismjs/highlight-code.js`:

[code]

Am I reading this correctly, that you get the warning regargless of the value of `noInlineHighlight`? Should that be the case?

[2020-09-25 21:02] barretb commented on #15322
For the benefit of @gregwhitworth and others who run into this on Azure app service and spend hour upon hour trying to figure out what's wrong with their Gatsby deployment that works perfectly on their local machine:

Azure App Service, by default, doesn't have a proper mime type set up for JSON files. For Gatsbyjs, this will result in a bunch of errors, including 404 and page resources for / not

[2020-09-25 21:04] tusharf5 opened #27063 "Get Page --> Nodes Dependency"
## Summary

Is there a way to access page ---> node dependency in the node api file? Based on what I read in the documentation gatsby does track a dependency similar to that internally to know when to rebuild pages i.e when there is a change in the nodes used by a page only then rebuild that page.

Can we get access to that information as a plugin developer?

We are working on a plugin that will u

[2020-09-25 21:18] llgdd commented on #22651
Same error.
`Ubuntu 18.04.5 LTS on Windows 10 x86_64
`Node `v14.4.0`
NPM `v6.14.5`

[2020-09-25 21:52] Kallirroi opened #30315 "gatsby-source-wordpress: PNG images with enabled alpha channel are marked as missing on deploy"
I noticed this error on some builds (Vercel) and managed to fix it by just uploading the same image without alpha transparency, so I thought I should post it here.

[code]

[2020-09-25 22:15] meganesu commented on #24692
Hi @DecliningLotus, thanks for your patience while we talked about this internally. At this time, our hope is to get Typefaces back up to date by opening it up to community contributors. We're still nailing down the details for how to do that.

In the meantime, I'm going to close this issue, since we aren't planning on moving the docs away from Typefaces. Thanks for bringing this to our attention!

[2020-09-25 22:15] #24692 closed

[2020-09-25 22:50] meganesu opened #27065 "Update analytics doc to include google-plugin-gtag"
## Summary

The existing [docs about adding Google analytics](https://www.gatsbyjs.com/docs/adding-analytics/) recommend using the `gatsby-plugin-google-analytics`. Under the hood, this plugin uses Google's `analytics.js` file.

However, Google has a [guide recommending users upgrade to `gtag.js` instead](https://developers.google.com/analytics/devguides/collection/upgrade/analyticsjs). There is a

[2020-09-25 22:54] meganesu commented on #27065
There's still an open question around what to do with the existing section for how to use `gatsby-plugin-google-analytics`.

* Option 1: Keep the section, and add some guidance on how users should decide whether to use `gatsby-plugin-google-analytics` or `gatsby-plugin-gtag`.
* Option 2: Always recommend using `gatsby-plugin-gtag`. Remove the section on `gatsby-plugin-google-analytics` and instead

[2020-09-25 23:39] meganesu commented on #26055
Adding some extra notes so that hopefully someone can pick this issue up during Hacktoberfest!

## Steps to resolve this issue

- [ ] Update the [Processing Payments with Square](https://www.gatsbyjs.com/docs/processing-payments-with-square/) documentation to include steps for how to capture a payment.
    - If this requires setting up Netlify functions, include steps to show users how to do that.

[2020-09-26 02:09] vineckb commented on #14930
@mattoni I see you fix this on your link(https://docs.cycle.io/).

Can you tell me how to solve this problem?

[2020-09-26 03:31] 98lenvi commented on #27065
Hi @meganesu, I can help with this! Can you assign the issue to me?

I think going with option 1 will be a better choice.

[2020-09-26 05:29] jonathanlinat commented on #16076
It works as described. :+1:

![image](https://user-images.githubusercontent.com/14064112/94331070-09a6d480-ffa0-11ea-8b52-e3c196986ffb.png)

[2020-09-26 08:25] #26975 closed

[2020-09-26 08:42] camburns opened #27093 "Confusing error on onCreateNode / createFilePath"
###  Description

When providing a data source via a headless CMS and running "gatsby develop", the node.fileAbsolutePath (on gatsby-node.js) is empty, this produces an unclear error, that I (and many others - based on my searching online) have struggled with:

"TypeError: Cannot read property 'replace' of undefined"

This is unclear and intimidating to new developers (that are working through the

[2020-09-26 10:38] GiorgioMartini commented on #16072
Which file is this? package.json?

[2020-09-26 10:39] lukebennett88 commented on #16072
`gatsby-config.js`

[2020-09-26 12:06] #26059 closed

[2020-09-26 12:42] Neychok commented on #26912
Well, I updated some of the dependencies, including gatsby, and the problem seems to have disappeared.

[2020-09-26 12:56] subreena commented on #14758
Hi ! so I I am trying to route between pages in gatsby by using Link. It works perfectly in local host but sadly not in netlify.
The route link is My-site.com/about/ The page appears blank. It doesn't work in netlify but when I reload the page the route become My-site.com/About/ and the page content shows.

[2020-09-26 13:31] 3200creative opened #27095 "Composable Theme - Hot Reloading Not Working + Dependency Error"

[2020-09-26 14:08] yudyananda opened #27096 "gatsby createSchemaCustomization API in typescript"
My motivation is to convert `gatsby-node.js` to typescript then split up into separate module #21209 it's working as i expected (onCreateNode and createPages) but typescript start to complain when i try to create `createSchemaCustomization`

![schema](https://user-images.githubusercontent.com/29258979/94342554-fa756480-003b-11eb-8938-4e6c8117aed2.jpg)

try to run develop but no luck

[code]

[code

[2020-09-26 14:11] ncarchedi commented on #18048
@wardpeet shouldn't that be this?

[code]

[2020-09-26 14:59] Gabriel-Andy commented on #25899
I have a gatsby 2.24.7 and he still the same result.

[2020-09-26 17:09] karlhorky opened #27097 "gatsby-remark-copy-linked-files: Add `path` property to file object in destinationDir function"
## Summary

Currently [`gatsby-remark-copy-linked-files`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-copy-linked-files) offers no way to keep the path part of the file, as is possible with [`gatsby-remark-copy-relative-linked-files`](https://github.com/akabekobeko/npm-gatsby-remark-copy-relative-linked-files), as in the following example:

[code]

One solution would be t

[2020-09-26 19:45] jordan-git commented on #25216
This is happening to me now too. [Repository](https://github.com/jordan-git/jordan-git.github.io). It started happening a little before my current commit, but I was able to get passed it by running the command again so I kept working. My page seems to have gotten slower and to the point where the JS breaks with my most recent addition so I'm going to have to look in to if that is something I cause

[2020-09-26 20:14] jordan-git commented on #25216
It seems the problem was my Node not being up to date. I was able to develop my site fine up until some point where this started happening. Updating Node fixed that issue. I'm still having the issue of my application being dead when I deploy a build.

[2020-09-26 20:27] owenbean400 commented on #24815
@laurieontech I tried the setting fs to empty, however I get another error
TypeError: fs.existsSync is not a function
hasBinary
function hasBinary(binaryPath) {

[2020-09-26 21:28] SubstanceP opened #27102 "CSS caching issue"
=
## Description

CSS not updating on live site called scientifikz.io (using foreign domain via nameservers).  The old CSS is still apparent regardless of changes made to global.css
To attempt to update I use:
gatsby develop

**gatsby build**
success open and validate gatsby-configs - 0.016s
success load plugins - 0.057s
success onPreInit - 0.024s
success delete html and css files from previous bu

[2020-09-26 22:31] MaxVynohradov commented on #11717
@PieterT2000 , @onderbakirtas , just faced with the same issue.
But fixed this, it was mistake in my code!
From docs: https://www.gatsbyjs.com/docs/page-query/

Hope, this will be useful.

[2020-09-26 23:21] onderbakirtas commented on #11717
Thanks for taking time to answer it. I have solved it just like you. Mistakes here to be made.

[2020-09-27 02:19] anasbouzid commented on #23755
@jzabala I don't think `onPreRouteUpdate` is the correct API. I've done some testing on https://xzvto-8000.sse.codesandbox.io/page-2/ ([source](https://codesandbox.io/s/jolly-newton-xzvto?file=/gatsby-browser.js)) and on a simulated slow network, the `onRouteUpdateDelayed` event is fired before `onPreRouteUpdate` (make sure you click a link before it's prefetched)

[2020-09-27 03:11] alixander commented on #18248
More specifically, add `siteUrl` as a field into `siteMetadata` in gatsby-config.js, not a top level field

[2020-09-27 03:26] tranlehaiquan commented on #23239
I try the same, but I got this error when build:

wrap-with-provider.tsx

[code]

[code]

My public/page-data/sq/d/63159454.json

[code]

[2020-09-27 03:47] tranlehaiquan commented on #7747
I got the same error when try use StaticQuery in gatsby-ssr.js (wrapRootElement).

My error:

[code]

Check in `public/page-data/sq/d/63159454.json`

[code]

[2020-09-27 05:18] T04435 commented on #26637
I runned into similar issue after I **deleted** the `/public` forlder the solution was to also delete the `/.cache` folder

[2020-09-27 06:00] jerelmiller opened #27120 "Support MDX v2's new AST for custom heading IDs"
Hey there 👋

I have an interesting situation where we need to be able to define custom IDs for headings generated from markdown. I am part of a team in the process of moving an old docs site written in drupal over to Gatsby/MDX. We have lots and lots of pages within the docs site (5000+) and many of them link to each other. Because we want to maintain backwards compatibility with the existing site

[2020-09-27 07:32] karlhorky commented on #19267
Not stale

[2020-09-27 08:14] arualana opened #27123 "How to remove comments on production build"
This is my gatsby-node.js file

exports.onCreateWebpackConfig = ({ stage, loaders, actions }) => {
  if (stage === 'build-javascript') {
    actions.setWebpackConfig({
      devtool: false
    })
  }
  actions.setWebpackConfig({
    optimization: {
      minimize: false
    }
  })
.....

How would I have the comments removed on the production build?

I am looking at this https://github.com/webpack

[2020-09-27 08:23] AdamSiekierski commented on #27102
Maybe clean your browser cache? The colors you described are visible on the page.

![image](https://user-images.githubusercontent.com/24841038/94360084-4f9c8f00-00ab-11eb-963d-96059f27154a.png)

[2020-09-27 08:45] Js-Brecht commented on #23239
@tranlehaiquan have you tried a `gatsby clean`?

[2020-09-27 11:26] tranlehaiquan commented on #23239
@Js-Brecht Yes, I have just tried it and it not helping.

[2020-09-27 11:35] herecydev commented on #27123
It should be done already for you if you run `gatsby build`. Are you not seeing this?

[2020-09-27 11:53] karlhorky commented on #27097
Ok, I've come up with a potential solution here (called the new property `relativeDirectory` to match the `linkNode` name): https://github.com/gatsbyjs/gatsby/pull/27126

If this is an acceptable approach, I will document it too.

[2020-09-27 12:06] #26066 closed

[2020-09-27 12:06] #26064 closed

[2020-09-27 13:19] barbareshet commented on #16765
@adamgen solution for Hebrew is working well

[2020-09-27 14:27] trm217 commented on #11934
How is it possible that this issue hasn't been resolved in over a year??

[2020-09-27 17:14] arualana commented on #27123
@herecydev It doesn't, may it have anything to with it this in the node js?

[code]

[2020-09-27 17:18] herecydev commented on #27123
Well yes that would turn all minification off so comments will remain

[2020-09-27 17:44] Js-Brecht commented on #23239
Hmm... it’s hard to tell what might be happening, but I can tell you it’s not a redux thing.  It should probably be a new ticket

[2020-09-27 18:00] parulc7 commented on #26961
@don-esteban can you please review my PR?

[2020-09-27 18:49] don-esteban commented on #26961
Hi Parul,

sorry, I'm not familiar with the review process.

As I see, the code seems good to me. But I don't know, how to apply the
patch and test it in our app. Could You please give me a hint, how to apply
your patch? I'm very thankful for Your help and really apologize this basic
question. But it's my first time and I'm not a very experienced developer.

Thanks
Stefan

Am So., 27. Sept. 2020 u

[2020-09-27 19:10] teleaziz commented on #24856
Adding this to my env fixed it for me:
[code]

[2020-09-27 19:53] hayyaun commented on #13667
I was using my Provider component only in gatsby-browser, just found out it actually needs gatsby-ssr for compiling...

[2020-09-27 21:01] herecydev commented on #27096
I'm certain you can't use TypeScript in any gatsby-X files yet. Currently it's only your "userland" files, i.e. pages. Hope that helps

[2020-09-27 21:27] Salaheddin12 commented on #17051
Hi I am having this same problem in build.
**Tried switching to different versions but still nothing.
[code]

[2020-09-27 23:35] #27095 closed

[2020-09-28 00:13] #8463 closed

[2020-09-28 02:29] bsgreenb commented on #2583
If you're using TypeScript make sure to add:

`declare module "*.ttf";`

[2020-09-28 02:58] alexnault commented on #13764
I was using a Gatsby starter with outdated dependencies. So **I've upgraded every Gatsby-related packages to latest versions** and it fixed the issue for me: https://github.com/alexnault/alexnault.dev/commit/4cfd976bab722c5e3757e31e6d9f815cf212c0e1#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2020-09-28 04:36] AjayDhimanELS opened #27138 "Hosting a gatsby site on cPanel (Shared Hosting)"
I have a gatsby site (with node.js and express for little backend)

**What I have done so far :**
The project is copied on the cPanel. and the `gatsby-config.js` was changed with the appropriate changes(mysql connections and other plugins).
My simple/noob question is that `gatsby run develop` on cPanel teminal runs the site on `http://localhost:8000/`.

How can I change this? I want to run this on

[2020-09-28 04:43] spk2dc opened #27140 "GitHub Pages environment variables not working"
## Description

I am trying to use environment variables in my Gatsby site deployed on GitHub pages, but it is only working locally and not on the live site.

### Steps to reproduce

I added a secret variable in my github repository settings, created a workflow file so that it could be accessed as an environment variable, added the dotenv requirement with a path configuration in my gatsby-config.j

[2020-09-28 05:08] cpboyd opened #27142 "react-helmet className doesn't work"
## Description

I'm trying to easily use different styles for the home page.

### Steps to reproduce

Add `react-helmet` and:

[code]

Repro: https://github.com/cpboyd/gatsby-helmet-bug

### Expected result

The `className` should be properly reflected to `class` on the `html` or `body` tag (depending on `htmlAttributes` or `bodyAttributes` respectively).

### Actual result

Unfortunately, while `

[2020-09-28 07:11] Nilovra commented on #18702
Is this issue still open? Can i contribute something?

[2020-09-28 07:26] canadianeagle commented on #9087
A good habit that saves me a lot of headache on Gatsby projects is to always use `typeof window !== "undefined" && window` instead of just `window`

[2020-09-28 07:27] LekoArts commented on #26912
Glad to hear that! :) Then I'll close this one.

[2020-09-28 07:27] #26912 closed

[2020-09-28 07:37] #26961 closed

[2020-09-28 07:45] janosh commented on #22757
@moonmeister @wardpeet Thanks for your work! Just tried out `gatsby-plugin-sitemap@next`. It's throwing the error

[2020-09-28 08:09] LekoArts commented on #27140
Thank you for opening this!

Your `dotenv` config is looking for `.env.*` files (e.g. `.env.development`) so make sure that your script is generating a `.env.production` file. Since this isn't a bug with Gatsby and more a question about using GitHub workflows and GitHub Pages I'd recommend looking on StackOverflow or GitHub's help pages to see how to use environment variables. You'll find answers

[2020-09-28 08:09] #27140 closed

[2020-09-28 08:15] LekoArts commented on #27138
Thank you for opening this!

As outlined in https://www.gatsbyjs.com/docs/preparing-for-deployment/ you'll want to run `gatsby build` and copy the `public` folder to your folder that holds the contents of your website (e.g. `www`). Gatsby's output isn't special in any way, it's just HTML, CSS and JS so any guide that explains how to host these files will work with Gatsby, albeit you'll need to run

[2020-09-28 08:15] #27138 closed

[2020-09-28 08:23] LekoArts commented on #27102
Thank you for opening this!

As Adam said I'm also seeing the white paragraph text and green headings. You'll need to check your deployment, cache headers or local cache/browser cache in cases like these. So this is not an issue with Gatsby itself.

We're marking this issue as answered and closing it for now but please feel free to comment here if you would like to continue this discussion. We als

[2020-09-28 08:23] #27102 closed

[2020-09-28 09:46] AjayDhimanELS commented on #27138
@LekoArts I can't run `gatsby develop` with the hosted db config. When I change the `gatsby-config.js` with the hosted db config, It says  `Error establishing db connection ER_BAD_DB_ERROR: Unknown database '<Hosted_DB_Name>'`. How can I resolve this then?
I'm confused. Please help.
Thanks.

[2020-09-28 10:49] chrsep opened #27151 "[gatsby-plugin-preact] fast-refresh/prefresh stops working on ^4.0.11"
## Description

Hi, it seems that fast-refresh/prefresh stops working while using gatsby-plugin-preact version ^4.0.11. It works if I revert back to 4.0.10. Seems like the only change on 4.0.11 is an upgrade of  @prefresh/webpack to version ^1.0.2 from ^0.8.1.

### Steps to reproduce

Can be reproduced on a barebone gatsby + preact project that i've made.
1. Clone https://github.com/chrsep/test-pr

[2020-09-28 11:19] wardpeet commented on #27151
I'll publish a new version today and test it with your site first. :) Thanks for reporting

[2020-09-28 12:06] #26131 closed

[2020-09-28 12:06] #26130 closed

[2020-09-28 12:06] #25636 closed

[2020-09-28 12:22] lucis opened #27152 "matchPath with named parameter wrongly acting like catch-all"
## Description

I'm creating the following pages:
![image](https://user-images.githubusercontent.com/18706156/94428354-f42fd700-0166-11eb-9f8c-f9c191afeb19.png)

Here, for example, the route`/app/login` is catched by the `/:slug` route.

**If I change `/:slug` to `/*`, everything works fine.** So, it seems like a problem with named parameters being used.

### Steps to reproduce

https://codesandbo

[2020-09-28 13:02] lucis commented on #27152
I was playing with [getMatchPaths](https://github.com/gatsbyjs/gatsby/blob/3e9279563f76cef4e6a25ccb52aef85b5f6c2b6d/packages/gatsby/src/bootstrap/requires-writer.ts#L79) and, indeed, `/:slug` will have preference over `/app/*`. Is there some reason behind it I'm not seeing?

![image](https://user-images.githubusercontent.com/18706156/94435523-9e146100-0171-11eb-8624-5f16ea564eb4.png)

[2020-09-28 13:03] karlhorky commented on #24822
@muescha Skipping unnecessary work is a great idea!

However, it would be cool if the thumbnail data could still be visible on the page. Eg. generate thumbnail once per image content, and retain this cache (similar to [Conditional Page Builds (the `GATSBY_EXPERIMENTAL_PAGE_BUILD_ON_DATA_CHANGES` flag)](https://github.com/gatsbyjs/gatsby/pull/21523))

Would you be open to changing the request to ma

[2020-09-28 13:46] tu4mo commented on #26580
Also have a similar problem. Changes are not reloading. Sometimes saving twice helps, sometimes not. Works fine on 2.24.9.

[2020-09-28 13:59] proidit commented on #11406
tanks!!!

[2020-09-28 14:41] karlhorky opened #27153 "`gatsby-plugin-sharp` / `gatsby-remark-images`: Set destination directory with destinationDir option"
## Summary

For the plugins `gatsby-plugin-sharp` and/or `gatsby-remark-images` (whichever makes sense and is necessary), an option `destinationDir` (string or function) that works similarly to [the option in `gatsby-remark-copy-linked-files`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-copy-linked-files#advanced-usage)...

[code]

...also with the new `relativeDirectory`

[2020-09-28 14:46] pvdz commented on #25923
@peter3bweb any chance I could take a look at this csv? I'm hoping maybe it's open public transport data.

Either way, CSV has a very straightforward encoding scheme:
- replace all double quotes with two double quotes
- wrap fields with unpredictable input in double quotes

The algo will start from a double quote and keep consuming until the first double quote that is not escaped by another double

[2020-09-28 14:48] sidharthachatterjee commented on #27020
@developer0116 This doesn't sound Gatsby specific. Could you provide more details or possibly a [minimal reproduction](https://www.gatsbyjs.com/contributing/how-to-make-a-reproducible-test-case)?

[2020-09-28 14:52] sidharthachatterjee commented on #27142
Seems to me like this is a bug in `react-helmet` and not `gatsby`?

[2020-09-28 14:53] wardpeet commented on #24332
I've been working on a gatsby-image successor. It's not 100% there yet, still need to write a composable version so you can create your own gatsby-image flavor but it will fix most of the bad lighthouse scores.

You can already use it but it's not yet battle-tested.
https://github.com/wardpeet/gatsby-image-nextgen/tree/main/gatsby-image

You can install it by `npm install --save @wardpeet/gatsby-i

[2020-09-28 15:00] sidharthachatterjee commented on #27096
Yup, like @herecydev correctly mentioned, TypeScript doesn't work in `gatsby-*` files yet...

[2020-09-28 15:08] don-esteban commented on #26959
This seems to be a nontrivial issue. Does anyone know a work-around? Our visitors use this functionality intensively jumping between table of contents and content. We can't go productive with our Gatsby-site.

[2020-09-28 15:18] sidharthachatterjee commented on #27024
@jerehut Like @pindjur correctly mentioned, sizes can't be passed in as a prop. It is meant to be part of fluid or fixed key included in the query response.

[2020-09-28 15:19] pieh commented on #27063
We don't have public APIs for this right now, because for the most part this is considered implementation detail to enable query result caching for now. Can you describe what kind of plugin are you working on? It might warrant public adding some public APIs

[2020-09-28 15:20] sidharthachatterjee commented on #27153
This makes a lot of sense. Happy to receive a PR adding this!

[2020-09-28 15:24] pieh commented on #27039
Are you able to share your code? You mentioned:

But I don't know what "this template" is

[2020-09-28 15:30] Jimmydalecleveland commented on #24332
@wardpeet Your pagespeed-insights link for the current demo goes to nextgen so they show the same scores.
Awesome work, btw. Really exciting to see progress.

[2020-09-28 15:34] pieh commented on #27093
I'm a little confused - `createFilePath` doesn't use `fileAbsolutePath` ( https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-filesystem/src/create-file-path.js ). So I'm not sure that diagnosis here that it's `createFilePath` / `fileAbsolutePath` is correct?

I do agree about not great error on this. Are you able to provide way to reproduce this error?

[2020-09-28 15:38] wardpeet commented on #24332
Thank you fixed!

[2020-09-28 15:39] cpboyd commented on #27142
@sidharthachatterjee `react-helmet` does have an open issue about how `toString()` and `toComponent()` behave differently: https://github.com/nfl/react-helmet/issues/300

`gatsby-plugin-react-helmet` uses `toComponent()` in SSR :https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-react-helmet/src/gatsby-ssr.js

Shouldn't the plugin have a similar setup for `gatsby-browser.js` to

[2020-09-28 15:39] KyleAMathews commented on #27039
What does `fmImagesToRelative` do?

[2020-09-28 15:43] pieh commented on #27039
I assume that's helper function that previous version of https://github.com/danielmahon/gatsby-remark-relative-images#v2-breaking-changes plugin were exposing. It was causing problems because it was mutating node objects inline (but afaik ignored `internals` which is where field owners are stored right now)

[2020-09-28 15:46] moonmeister commented on #22757
Hi {name}!

Sorry to hear you're running into an issue. To help us best begin debugging the underlying cause, it is incredibly helpful if you're able to create a [minimal reproduction][reproduction]. This is a simplified example of the issue that makes it clear and obvious what the issue is and how we can begin to debug it.

If you're up for it, we'd very much appreciate if you could [provide a mi

[2020-09-28 16:05] karlhorky commented on #27153
Nice! Could you weigh in on where the changes should be made? In `gatsby-plugin-sharp`? Or `gatsby-remark-images` / `gatsby-images`? Or all three?

[2020-09-28 16:21] pieh commented on #27152
The path ranking algorithm we use is pretty much copy of reach/router internals ( which are documented in https://reach.tech/router/ranking ).

Using example route you provided it seems like both `/:slug` and `/app/*` rank exactly the same with score of `6`, which is problematic. In case of same rank we do use alphabetic order ( https://github.com/gatsbyjs/gatsby/blob/3e9279563f76cef4e6a25ccb52aef

[2020-09-28 16:48] tusharf5 commented on #27063
Thank you for the response.

We are planning to work a plugin which would take in page data dependencies (for eg. if it is a blog post page, our plugin would access the blog post's content, category, tags, etc) for ever page of our website and send it to our backend. The backend will analyze the data (for eg. it would run it against our AI models) and send back some insights which would then be ma

[2020-09-28 16:57] yudyananda commented on #27096
ok then looks like I have to wait, thank you for the clarification

[2020-09-28 16:57] #27096 closed

[2020-09-28 17:00] janosh commented on #22757
@moonmeister Thanks for the quick reply! It's difficult to create a minimal repro as I'm unsure how to use the sitemap plugin. [The `next` docs](https://www.npmjs.com/package/gatsby-plugin-sitemap/v/2.4.12-v3.35) state differing function signatures. E.g. for `serialize` [the default is said to be](https://www.npmjs.com/package/gatsby-plugin-sitemap/v/2.4.12-v3.35#example)

[code]

whereas [the lis

[2020-09-28 17:10] moonmeister commented on #22757
Hey good catch. So "the default is said to be" is not the defaults, it's an example and I'm using de-structuring to extract those fields from the page object. and not using the `resolvePagePath` provided. The list of options is incorrect though.,..good catch, I'll fix that, `serialize(page, { resolvePagePath })` is indeed the correct signature. Thanks!

[2020-09-28 17:49] pieh commented on #27063
You can. `store` is actually passed to gatsby-node API hooks which was done in early days as escape hatch for lack of APIs, but this historically prove to cause a lot of problems, because things were often breaking due to internal changes so we strongly discourage use of it because it's quite brittle (this is most important for plugins that would get published on `npm` and users of those would the

[2020-09-28 18:24] KyleAMathews commented on #26995
These are the proptypes — https://github.com/gatsbyjs/gatsby/blob/d8ed76c7724ea9016bda226b917bedc3703dc1a6/packages/gatsby-image/src/index.js#L718-L742

Both the `fixed` & `fluid` prop take a `src` key.

[2020-09-28 18:58] tusharf5 commented on #27063
That makes sense. Although it's an internal project we still wouldn't want it to be that brittle so I agree with you that accessing the `store` approach wouldn't be a good choice. Is there any way we could know early on what `Node` is creating a page?

For eg. in a blog, we would have multiple blog posts pages sourced from Markdown files. Let's say we are not interested in specific field values ex

[2020-09-28 19:40] herecydev commented on #26978
Could you use `react-helmet` to override the canonical url for those pages? Or does it duplicate it? What's the use case for needing overrides?

[2020-09-28 19:48] 5minpause commented on #24577
I had the same issue.
[code]
worked for me. That was the only solution that worked for me. I used yarn before.

[2020-09-28 20:32] spk2dc commented on #27140
Thanks for your response! Glad I know what the problem is now, but I am still unsure how to solve it even after reading through that link.

Do you know how I should modify my workflow to create a .env.production file that is usable by the live Gatsby website but that does not reveal the environment variables inside it and maintains their secrecy?

[2020-09-28 21:00] satcreative opened #30314 "gatsby-source-wordpress: handle 429 errors"
I have a Gatsby build, hosted on Netlify, using gatsby-source-wordpress-experimental. It has been working fine for the past 2 month. However today it repeatedly fails to build. No new code has been pushed, just a new post added to the linked Wordpress site.

The error indicates it's due to a single "mediaItem" node, although it doesn't state the source.

Is anyone else experiencing this issue?

Se

[2020-09-28 21:27] arualana commented on #27123
Yes @herecydev , sorry for the dumb question, will close now

[2020-09-28 21:27] #27123 closed

[2020-09-29 06:00] camburns commented on #27093
yes, that's correct it is not needed, I removed it after I realized it wasn't needed (I'm a new gatsby developer) - this wasn't immediately obvious when integrating my Drupal source and from what I've seen online (while searching for a solution) a few other developers have bumped into this error not knowing what it means.

== fileAbsolutePath question ==
From memory, I think this was my guess of w

[2020-09-29 06:06] simonjoom opened #27161 "There was a problem parsing ... any GraphQL fragments or queries in this file were not processed."
Hi,
Here sometimes gatsby cannot finish processing query and give this error because some bad code ...

In my case i found out  that if you important 2 times same lib it's creating the error and unfortunately there is no help to know where is the line in cause... i spent hours to find the problem. and it wasn't from graphql query.

i did
import { ApolloProvider } from "react-apollo";

import { gra

[2020-09-29 06:31] SamnnyWong commented on #27039
Sorry I forget to put the template url in.
this is the template i am referring to: https://www.gatsbyjs.com/starters/netlify-templates/gatsby-starter-netlify-cms/

[2020-09-29 06:36] janosh commented on #22757
@Thanks for the clarification. I read through the next docs some more. Maybe this sentence should be highlighted more, perhaps as a `blockquote` instead of a sentence in a paragraph.

Also, small typo "definately" -> definitely.

Regarding the minimal repro, if I create a new barebones project and simply add

[code]

and just `yarn add gatsby-plugin-sitemap@next` without any custom config,

[code]

[2020-09-29 07:25] #24625 closed

[2020-09-29 08:50] airtonix opened #27163 "[GraphQL] Group by formatted result of date."
## Summary

## Relevant information

Trying to craft a query that results in grouped posts by year or year-month... but it seesm i can only group by the value of date:

[code]

results in
[code]

I'm not really familiar with GraphQL yet so the only suggestion i can see is maybe have another parameter that lets me format the value to be grouped?

[code]

[2020-09-29 08:54] em-vo commented on #20179
Hello @AishaBlake
Do you have any update on this issue ?
I wanted to add images with an empty alt in a blog post, and just discovered it was not possible.
I would be happy to work on this if needed

[2020-09-29 09:20] gupon commented on #26775
Having been trapped in the same issue, this thread really helped me a lot. Thank you.
Looking forward for having a way to copy files to /public which is referred in custom component in mdx,
somehow in the future. (sorry I can't contribute being a begginer around here...)

[2020-09-29 10:13] DannyHinshaw commented on #24332
This update has pointed out something to me that I didn't connect before, I'm not using `gatsby-image` but actually `gatsby-background-image` which apparently doesn't use `gatsby-image` under the hood... I may have to rewrite that component with this new `@wardpeet/gatsby-image-nextgen` if that's possible....

[2020-09-29 10:30] nikhog commented on #24332
This article lists some additional tips https://www.freecodecamp.org/news/gatsby-perfect-lighthouse-score/ although I think many of them have already been mentioned in this thread...

[2020-09-29 11:11] adiusz opened #27168 "Change url/path of page"
Hello there.
I decided to post this question here, since I found this issue very popular.
So I'm using gatsby-plugin-intl for internationalization my website but since plugin's author stopped answering on Github issues I'm gonna ask here. So the thing is it didnt allow you to translate pages' url/path. I'm wondering if it is possible to use onCreatePages to translate url/path of pages? For example

[2020-09-29 11:37] herecydev commented on #27168
Something like:

[code]

[2020-09-29 12:25] adiusz commented on #27168
Thanks @herecydev, it works fine like this:

[code]

but unfortunetly it doesn't solve problem entirely. Link from gatsby-plugin-intl doen't know how to map the urls when switching  currentLocale...
Perfect solution would be arrays of paths, but I find it hard to implement.

[2020-09-29 12:54] Braulio-Ticona commented on #11406
Thank you very match, why does this setting have that low number of file watches by default? mmm

[2020-09-29 12:55] Braulio-Ticona commented on #11406
Thank you very match :), why does this setting have that low number of file watchers by default? mmm

[2020-09-29 12:57] alexfornuto commented on #26747
FYI when I load [this doc](https://www.gatsbyjs.com/docs/adding-search-with-algolia/) (and others I assume) and hit tab, I'm not given the skip to content button, but focus is given to the current page in the ToC on the left. Scrolling with the keyboard is still not working.

[2020-09-29 13:07] vladar commented on #27007
Hey @rmhartog !

The proposal sounds pretty reasonable - running a query instead of running `resolveRecursive` should work in theory. There are several factors that make me a bit skeptical though:

1. It may affect performance because we call this `resolveRecursive` for every single node of the type. Full GraphQL queries will add overhead which may be significant at scale. This can be addressed by

[2020-09-29 13:53] rmhartog commented on #27007
Hey @vladar,

thanks for taking the time to respond. Honestly, after looking at https://github.com/gatsbyjs/gatsby-graphql-toolkit, I myself started thinking a little bit differently about Nodes versus GraphQL queries.

The feature I was attempting to unblock is an `@projection` directive, that works on both the internal schema of gatsby, as well as 3rd party schema's and schema customizations. Th

[2020-09-29 14:44] ShahAnuj2610 commented on #22109
just use `yarn` instead of `npm`, it will work

[2020-09-29 16:54] blangsmgi opened #27172 "Gatsby-CLI Peer Dependencies issue?"
## Description

My terminal window shows a long list of missing peer dependencies on a fresh install of Gatsby-CLI:

![image](https://user-images.githubusercontent.com/48220374/94586943-bd28f680-0236-11eb-9f21-4d02e499836f.png)

As far as I know it's not best practice to install some of these packages globally. I think this may be a bug?

### Steps to reproduce
I have just installed Gatsby-CLI as

[2020-09-29 17:43] shripadk opened #27174 "Gatsby not creating page with filename "template-create""
## Description

Gatsby is not picking up a file with the name `template-create` in any folder/sub-folder within the `src/pages` directory. Works perfectly fine with other names.

### Steps to reproduce

Create a `template-create.js` or `template-create.tsx` file anywhere in the `src/pages` directory and try navigating in the browser.

Have provided a minimal reproduction case here for anyone wanti

[2020-09-29 17:44] imshubhamsingh commented on #26055
Hi @meganesu. I just recently started learning Gatsby. This would be a great start for me as well. I would love to pick this up. I'll share PR by the end of this weekend. Thanks ✌️

[2020-09-29 17:58] hzhu opened #27177 "Questions regarding @typescript-eslint/eslint-plugin & @typescript-eslint/eslint-parser updates"
## Summary

I noticed that there are only Renovate PRs opened for minor versions of `@typescript-eslint/eslint-plugin` and `@typescript-eslint/eslint-parser`, e.g. https://github.com/gatsbyjs/gatsby/pull/27080.

It seems like a [requirement](https://github.com/typescript-eslint/typescript-eslint/issues/2540#issuecomment-692866111) to use the latest versions of `@typescript-eslint/eslint-plugin` an

[2020-09-29 18:18] jonniebigodes commented on #26055
@meganesu the starter's dependencies will be updated towards the end of the week. I've been trying but i haven't got around to get some time and update it. Once i've applied the changes i'll let you know.

[2020-09-29 19:12] herecydev commented on #27168
Yer it's difficult when the plugin has to manage page creation and linking. I'm fairly knowledgable on this because I've created a package that provides a similar outcome: https://github.com/herecydev/gatsby-plugin-internationalization

Solving translation of routes is non-trivial, but it is possible. Some configuration would have to be provided to alter route names. There's also rumblings of file

[2020-09-29 19:18] moonmeister commented on #22757
So we don't use `rx.lite` in sitemap, I'm skeptical this is an `gatsby-plugin-sitemap@next` issue. Can you confirm the site breaks by toggling the next vs current plugin? You may try updating the gatsby version or other dependencies to see if that resolves the issue as well.

[2020-09-29 20:07] meganesu commented on #26213
Hi there @juan871003! Thanks for bringing this up. I agree that adding an example would help make these docs clearer.

I'm adding the Hacktoberfest label to this issue so that hopefully a contributor from our community can pick this up.

## Steps to resolve this issue

- [ ] Add an example to the docs for `printTypeDefinitions`, to show that the first object parameter is required (even though all

[2020-09-29 20:25] Kolkies commented on #26213
Can I take this @meganesu?

[2020-09-29 20:26] Kolkies opened #27178 "Hacktoberfest 2020"
Does Gatsby do something special this year like last year with hacktoberfest?
[https://www.gatsbyjs.com/blog/2019-10-08-hacktoberfest-2019/](https://www.gatsbyjs.com/blog/2019-10-08-hacktoberfest-2019/)

[2020-09-29 20:29] meganesu commented on #26213
@Kolkies of course, go for it! Feel free to reach out if you have any questions.

[2020-09-29 20:49] meganesu commented on #26055
@imshubhamsingh @jonniebigodes sounds good to both! Feel free to reach out if you have any questions.

[2020-09-29 21:06] oneextra opened #27179 "Build slows down from 7 minutes to 100+ minutes in contentful + Gatsby implementation"
## Description

We are experiencing extremely slow builds for Gatsby + Contentful. The issue arises sporadically when content is changed in contentful. (Using bitbucket pipelines). Builds usually take 5-8 minutes on pipelines, but for no apparent reason suddenly things start taking up 90+ minutes and it stays this way, until I revert all the changes to this point. Reverting makes the build fast ag

[2020-09-29 21:21] meganesu commented on #25805
Adding some details so that hopefully this can be picked up by a community contributor for Hacktoberfest.

## Steps to resolve this issue

- [ ] Add a note to the Node APIs doc ([`docs/docs/node-apis.md`](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/node-apis.md)) about the shared arguments for all `gatsby-node` hooks.
    - This note should include a link to the separate page listing

[2020-09-29 22:12] oneextra commented on #27179
Again sometimes while building locally I get the following error as well - maybe this helps somehow?

[code]

[2020-09-29 22:32] blangsmgi commented on #27172
### Another Attempt
Tried again on my home iMac just now.

I again used the command to install Gatsby CLI globally. Here is the result of the installation:

![image](https://user-images.githubusercontent.com/48220374/94623249-9c799480-0268-11eb-984a-b1d89d93ec49.png)
![image](https://user-images.githubusercontent.com/48220374/94623273-ab604700-0268-11eb-9f6e-9c0a4e44d364.png)

Installation was suc

[2020-09-29 23:11] wardpeet commented on #24332
@DannyHinshaw when the plugin is feature complete. I'll have a look at that plugin as well. I have to look at remark images too

[2020-09-30 03:27] cpboyd opened #27181 "gatsby-image: WebP image sources do not generate PNG fallback"
## Description

Using a WebP image, only `.webp` files are generated.

### Steps to reproduce

[code]

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

### Expected result

A fallback type should be generated, ideally PNG since WebP supports transparency.

### Actual result

Only WebP images are created.

### Environment

Run `gatsby

[2020-09-30 03:30] oneextra commented on #27179
In search of a solution I disabled all base64 encoding by adding the _noBase64 to all image GatsbyContentfullFluid queries. It does not give the above mentioned error anymore, but the 2hr duration of the build still persists.

[2020-09-30 06:17] tu4mo commented on #26580
I should probably add that I'm using `GATSBY_HOT_LOADER=fast-refresh`.

[2020-09-30 06:21] tikicoder commented on #19988
If you prefer I can create a new one.  I know there have been several conversations around this before, and the current CSS was done for performance.  From SEO standpoint the recommendation seems that the CSS should be external.

https://github.com/gatsbyjs/gatsby/issues/20710

https://github.com/gatsbyjs/gatsby/issues/2289#issuecomment-517276598

[2020-09-30 07:00] LekoArts commented on #27178
Hi, thanks for asking! We'll have something planned for this year and will announce it on [Twitter](https://twitter.com/gatsbyjs?lang=de) and on the [blog](https://www.gatsbyjs.com/blog/) so keep a look at that :)

[2020-09-30 07:00] #27178 closed

[2020-09-30 07:16] LekoArts commented on #27161
Thank you for opening this!

This isn't necessarily something that Gatsby can fix, I'd say you can catch those issues with a linter like https://eslint.org/. Gatsby had problems parsing the file because it was invalid but it should have given the file name that was problematic. This way you can pin point the issue -- anyways, a linter will help you with these issues in the future.

We're marking t

[2020-09-30 07:16] #27161 closed

[2020-09-30 07:31] Kolkies commented on #27178
Nice! I'll keep an eye out!

[2020-09-30 07:46] LekoArts commented on #27163
Thank you for opening this!

You can add additional fields to your `MarkdownRemark` nodes to have more options for filtering. Add this to your `gatsby-node.js`:

[code]

Then you'll be able to query the files like:

[code]

You can also see this in this codesandbox :) https://codesandbox.io/s/sort-by-year-hdmvy

We're marking this issue as answered and closing it for now but please feel free to co

[2020-09-30 07:46] #27163 closed

[2020-09-30 07:49] nbaosullivan commented on #24137
Hey @LekoArts - #27040 was just specific to one package (gatsby-plugin-postcss) due to a redundant `readme` property in the `package.json` file

[2020-09-30 07:51] LekoArts commented on #27168
Thank you for opening this!

While it might feel tempting to open issues here, we don't maintain said plugin and thus can't help with specific issue on it. You'll also need to recognize that most open-source packages are maintained by people in their free-time so there shouldn't be any expectations that you get answers immediately. The initial question of yours was answered and as Dan said your re

[2020-09-30 07:51] #27168 closed

[2020-09-30 07:54] LekoArts commented on #24137
My colleague added a commit to your PR removing the same entry from the other packages mentioned here :)

[2020-09-30 07:59] l-u-m-e commented on #26987
I need to reopen this issue because unfortunately the problem has come back again. The problem is maily related to the creation of the manifest icon, i will try to reproduce it.

[2020-09-30 08:05] LekoArts commented on #27177
Seems like Gatsby is not at fault? https://github.com/zendeskgarden/react-components/pull/871#issuecomment-700910188

[2020-09-30 08:09] #21527 closed

[2020-09-30 08:37] LekoArts commented on #27174
Thank you for opening this!

This is expected behavior as Gatsby [ignores files starting with `template-`](https://github.com/gatsbyjs/gatsby/blob/293b471fcfea2ed530686af560dfaa313a2dc832/packages/gatsby-page-utils/src/validate-path.ts#L25). This was added back in 2017 -- probably with the intention to bring people to put their templates into a `src/templates` folder or that people can store their

[2020-09-30 08:37] #27174 closed

[2020-09-30 08:42] LekoArts commented on #15277
Remove behavior that `template-` files in `src/pages` are ignored (see https://github.com/gatsbyjs/gatsby/issues/27174)

[2020-09-30 08:52] nbaosullivan commented on #24137
Ah fantastic, thanks for letting me know 👍

[2020-09-30 09:59] shripadk commented on #27174
@LekoArts Thank you so much for the clarification. I did not know this as it wasn't documented anywhere. Makes complete sense.

[2020-09-30 11:44] emmadigital opened #27183 "Importing SVG in Gatsbyjs"
## Summary
I want to import SVG in gatsbyjs to apply CSS animation on SVG icons.

## Relevant information
I have installed the plugin and configure it as below:

https://www.npmjs.com/package/gatsby-plugin-react-svg

**gatsby-config.js**

[code]
This is how I am importing svg as a component inside index.page

[code]
Below is the sandbox where I am testing it. It's not loading the SVG and throws an

[2020-09-30 12:28] wardpeet commented on #27172
Thank you, we're aware and currently fixing the situation :)

Both PRs should fix the issue:
https://github.com/gatsbyjs/gatsby/pull/27058
https://github.com/gatsbyjs/gatsby/pull/27057

[2020-09-30 12:32] wardpeet commented on #27183
Hey :wave:,

We don't have an official way to do it but I would recommend looking at https://www.gatsbyjs.com/plugins/gatsby-plugin-svgr/ which uses https://react-svgr.com/ under the hood. What also is commonly done is copy your svg into a react component.

[code]

Converting it yourself is faster and does not require an extra build step/plugin

We're marking this issue as answered and closing it

[2020-09-30 12:32] #27183 closed

[2020-09-30 12:33] probablyup commented on #26790
Bump

[2020-09-30 12:45] wardpeet commented on #27181
@cpboyd, I'm not sure what issue you're having but it should create a png fallback
![image](https://user-images.githubusercontent.com/1120926/94686742-8f71a980-032b-11eb-9dd7-952f196f39ab.png)

Can you post a reproduction?

[2020-09-30 12:58] wardpeet commented on #27179
@oneextra Without a repository, there is not much we can do. Make sure you install the latest gatsby. A few things you could try is running `gatsby build --verbose` and paste in the information you see. We're mostly interested in:
[code]

gatsby-source-contentful@next has some improvements that you can try setting the env var `EXPERIMENTAL_CONTENTFUL_SKIP_NORMALIZE_IDS` to true.

[2020-09-30 13:00] LekoArts commented on #26790
Bump for what? 😅 I answered and asked a question 😬

[2020-09-30 13:22] jo3rn opened #27184 "gatsby build stuck at "100% Generating image thumbnails""
## Description

Build gets stuck at this stage indefinitely:
[code]

Also on netlify it does not build anymore:
[code]

Maybe related to [#14078](https://github.com/gatsbyjs/gatsby/issues/14078), but the proposed workaround (downgrading node) does not fix the problem.

### Steps to reproduce

Checkout: [https://github.com/jo3rn/jo3rn.de](https://github.com/jo3rn/jo3rn.de)
Run `gatsby develop`

###

[2020-09-30 13:26] probablyup commented on #26790
@LekoArts https://github.com/netlify/cli/issues/1300 it's not usable

[2020-09-30 13:40] DannyHinshaw opened #27185 "Gatsby Theme Shadowing Not Pulling In SCSS File"
## Description

I have a mono-repo where I plan to have a few different layout themes as well as a few different color themes, the main idea being that I will be able to combine different layouts and color themes to create unique themes. However, I am running into a seemingly fundamental issue with how Gatsby themes work, that is, I cannot get shadowed SCSS (or CSS) files to be substituted out whe

[2020-09-30 14:03] JimLynchCodes opened #27186 "Badge"
Hey, the gatsby badge on my profile just disappeared! 😢

Is Gatsby going away? Maybe it got bought out and is being privatized?

Welp, RIP Gatsby. It was great while it lasted! ♥️

[2020-09-30 14:25] LekoArts commented on #26790
Ok! Thinking a bit more about this I don't think this is something we want to do anyways, the Netlify CLI is the correct approach to those Netlify specific things.

[2020-09-30 14:25] #26790 closed

[2020-09-30 14:28] LekoArts commented on #27186
Hi! I think you're misunderstanding some GitHub features here. You had the badge because you were a member of the GitHub organization. As explained in https://www.gatsbyjs.com/blog/2020-08-04-gh-community-permissions-changes-gatsbyjs we removed those permissions.

Nothing else changed with Gatsby and the open-source project :)

[2020-09-30 14:28] #27186 closed

[2020-09-30 14:42] LekoArts commented on #27185
Hi, thanks for the issue!

I think I understand what you're trying to do and looked at your repository -- the behavior you're looking for can't work this way because you're shadowing incorrectly.

For brevity sake I'll stick to `default` and `light`.

So you want your `light` theme to override the `default` theme. But you're importing `light` into `default`. It needs to be the other way around.

O

[2020-09-30 15:13] probablyup commented on #26790
Honestly shit like this is why I don't enjoy using the gatsby ecosystem. I am forced into it because of work but I would never choose this ecosystem otherwise; every time I've raised a legitimate concern the people involved have opted-out of a good dev experience. It's very disappointing.

[2020-09-30 15:15] emmadigital commented on #27183
Thanks, @wardpeet for your guidance. I manage to import SVGs with your suggested method. But I noticed it's removing the ids associated with SVG. Do you have a solution to that too? for example in below SVG **"logo"** and **"logo_body"** ids get removed when SVG is imported

[code]

[2020-09-30 15:51] blangsmgi commented on #27172
Good to hear. Thank you!

[2020-09-30 15:51] #27172 closed

[2020-09-30 16:01] hzhu commented on #27177
Hi @LekoArts 👋

I pointed to the incorrect link earlier. It should have pointed here instead: https://github.com/zendeskgarden/website/pull/184#pullrequestreview-497945525

[2020-09-30 16:06] oneextra commented on #27179
@wardpeet Thanks for your reply and the offer to help us! I will check with legal, how much of repo I can share. Would love to have it resolved.

[code]

Here is the output of the build, it works now. and using Gatsby serve, page looks good.

After countless hours I think I narrowed the error down to https://github.com/gatsbyjs/gatsby/issues/11364 this issue. It seems to be some endless circular r

[2020-09-30 16:39] oneextra commented on #27179
after further trial and error... now it seems that gatsby-plugin-graphql-codegen is breaking my build and letting it become and endless loop. Removed it, works really fast and fine now, using the generated graphql-types file so the code still works and doesn't create any errors and should continue doing so, unless I change the model in contentful.

The documentation for gatsby-plugin-graphql-codeg

[2020-09-30 16:47] oneextra commented on #27179
is there maybe a possibility to configure gatsby-plugin-graphql-codegen so that it only runs once the build process is started and not on every change?

[2020-09-30 17:24] stuckj commented on #2384
I have a use case for selective disabling preloading. I have a link in a menu that goes to a page that requires basic auth. If you mouse over the link a basic auth prompt pops up as gatsby tries to pre-load it. Seems like a perfect case for being able to turn pre-loading off on a specific link.

[2020-09-30 17:24] ervasive commented on #26553
not stale?

[2020-09-30 17:26] stuckj commented on #13759
I have a use case for selective disabling preloading. I have a link in a menu that goes to a page that requires basic auth. If you mouse over the link a basic auth prompt pops up as gatsby tries to pre-load it. Seems like a perfect case for being able to turn pre-loading off on a specific link.

For now I'll just make those links a tags though.

[2020-09-30 19:07] icy-meteor commented on #26580
Can confirm, facing this issue.

[2020-09-30 20:04] veerreshr commented on #25805
could I work on this issue?

[2020-09-30 20:25] cpboyd commented on #27181
@wardpeet See https://github.com/cpboyd/gatsby-image-bug/commit/2cd70a4dc7f478e1116f7207da2ad8e9e9120547

I'm using a lossless WebP image (with transparency) as a source, which is 1MB vs a 1.8MB PNG.

[2020-09-30 20:39] cpboyd commented on #27142
Closing in place of https://github.com/nfl/react-helmet/issues/618

[2020-09-30 20:39] #27142 closed

[2020-09-30 20:50] wardpeet commented on #27179
gatsby-plugin-graphql-codegen is a custom plugin and hooks into our redux store which is a private API that we use for internal usage. There is no proper API to do this so he has no choice but we can't disable it from a gatsby point of view on updates, you could ask the author to add a feature there.

Any chance you can update gatsby cause I think the rebuilding part is fixed by https://github.com

[2020-09-30 20:57] prabhakarnikhil14 commented on #19400
It was happening on my site too. The issue was that I didn't change the font-family in the autogenerated layout.css instead given font-family to individual components. Setting my desired font in the layout.css fixed the issue for me.

[2020-09-30 21:26] #25359 closed

[2020-09-30 23:09] joeldbirch commented on #13072
Quick update on my earlier comment. Using the above workaround, in development I'm serving HTML from an app or theme's `static` folder instead of the app's `public` folder to avoid the issue where code changes have no effect.

[2020-10-01 01:53] ProteanCode opened #27193 "How to throw 401/403 for anything that matches /admin/*"
I am writing a CMS that fetches a lot of content from API, and one thing I know for sure is that if user access the url like `/admin/invoices` without being authorized by `authorize()` method.

My way of thinking about that comes from Laravel framework, so lets say we have such a page in our src directory:

`/src/pages/admin/invoices`

When we enter the `/admin/invoices` URL in the browser, I expe

[2020-10-01 02:43] jstormail2 commented on #15277
I’d be remiss if I didn’t throw in my two cents.

For me, the strengths of Gatsby are its source plugins, graphql data layer, image optimizations, and SEO.  The drags on my productivity are long build times and lack of delta updates.

Of course, the other popular framework I’ve used often is Next.js.  Their strengths are its SEO and incremental static regeneration (delta updates / preview).  Their

[2020-10-01 03:23] jlarmstrongiv commented on #15277
The summary talks about “Perf budgets”, but I would also like to see this issue addressed:

Performance is a never ending battle, but Gatsby makes it a breeze.  Keep up the good work!

[2020-10-01 03:37] kalzen15 commented on #25805
Can I be assigned this issue?

[2020-10-01 03:48] ProteanCode commented on #19228
Can we at least have something to work with on a server side? Some header that could tell us whenever that 404 is real or not? Something like X-GATSBY-ROUTED?

Without that my prometheus / grafana dashboard would blow up with these 404s

[2020-10-01 04:45] Zauberfisch commented on #4718
This is still an issue.
The examples provided here https://www.gatsbyjs.com/docs/ssr-apis/#onPreRenderHTML are therfore not working.

Converting it to ES6 fixed it for me, but having this fail silently with examples from the official docs is problematic and took me some time to figureout.

[2020-10-01 06:40] Lundbyit commented on #20982
Hi can I give this one a try?

[2020-10-01 06:45] peduarte commented on #8665
npx would be sweet. just sayin'

[2020-10-01 06:48] wardpeet commented on #26608
I'm sorry I feel like I gave enough information for community members to pick it up. We have many things in flight and we have to juggle where we put most of our effort in. I hope you understand and feel free to create a PR!

[2020-10-01 06:50] LekoArts commented on #27177
Ok, I see. We'll have to look into the breaking changes for the major change. In the meantime you can force the version by using `yarn resolutions`: https://classic.yarnpkg.com/en/docs/selective-version-resolutions/

[2020-10-01 06:52] kalzen15 commented on #25805
Hi @meganesu!!!
I'd like to work on this issue.

[2020-10-01 06:52] wardpeet commented on #11837
Going to close this :)

[2020-10-01 06:52] #11837 closed

[2020-10-01 07:04] wardpeet commented on #20982
Definitely! This will style the svg
[code]

[2020-10-01 07:09] jablonski opened #27196 "Using Link from @reach/router is broken in Dev-Mode since 2.24.65"
## Description

Up to Gatsby 2.24.64 is was possible to use Link from @reach/router to link between pages. Starting from 2.24.65 you get 404-errors. We need to use Link from @reach/router in our project because we have to rebundle our components without a Gatsby dependency. With Link from "gatsby" it works fine.

I suspect that this issue is related to this fix, but I'm not totally sure:

[https:/

[2020-10-01 07:23] wardpeet commented on #27193
You're using client side routes I assume so PrivateRoute is sadly the way you have to go.
https://www.gatsbyjs.com/docs/client-only-routes-and-user-authentication/

Gatsby can't set a 403 itself but you can configure your hosting to do it if you have control over it.

[2020-10-01 07:31] wardpeet commented on #27065
@meganesu I would try to promote gtag as much as we can (option 2). If you follow Google's developer docs and/or copy-paste from analytics itself you get a gtag code and not an analytics code anymore.

I don't think our docs need to be talking about the difference between gtag or analytics. It would only confuse people. We don't want to give users to many options :joy:, users who are invested in a

[2020-10-01 07:32] hzhu commented on #27177
Awesome, that sounds great. Yarn's resolution should work in the meantime. Thank you! 🙏

[2020-10-01 07:40] #23663 closed

[2020-10-01 07:43] Lundbyit commented on #20982
Thanks :)

[2020-10-01 08:06] ascorbic commented on #15277
Hey @jlarmstrongiv. That's not an issue that needs to wait for a major release. You can see the progress in there, so it should be fixed sooner.

[2020-10-01 08:07] wardpeet commented on #18702
We're always open to get improvements on our docs :)

[2020-10-01 08:34] wardpeet commented on #27153
@karlhorky could you tell us more about tooling that would be beneficial here? I feel that adding an option `destinationDir` might cause more problems than it fixes.

[2020-10-01 08:40] LekoArts commented on #18702
Yeah, this is still open :) @carolstran wrote a post about it here, too: https://dev.to/meeshkan/how-to-remove-condescending-language-from-documentation-4a5p

[2020-10-01 08:48] wardpeet commented on #7027
Converting this plugin using [schema-customization](https://www.gatsbyjs.com/docs/schema-customization/) should fix these issues as no inference will be done.

[2020-10-01 08:57] wardpeet commented on #15732
I'll be closing this, we have coverage setup but without the fail when we regress. We don't have proper ways right now to enforce this. We'll revisit this in the future!

[2020-10-01 08:57] #15732 closed

[2020-10-01 08:57] wardpeet commented on #17941
This will be handled in the next gatsby-image 👍

[2020-10-01 09:00] wardpeet commented on #10347
I'm going to close this as this should be fixed with https://www.gatsbyjs.com/plugins/gatsby-source-wordpress-experimental/. We'll soon move this to the next version of gatsby-source-wordpress

[2020-10-01 09:00] #10347 closed

[2020-10-01 09:04] #26939 closed

[2020-10-01 09:06] wardpeet commented on #15233
We're happy to get updates on https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/sourcing-from-netlify-cms.md.

[2020-10-01 09:07] regulus33 commented on #3104
same here as @brandondorner I'm using aws Amplify, could it be something related to the way aws handles the build process?

[2020-10-01 09:10] regulus33 commented on #3104
ah nevermind, looks like this is my issue https://github.com/aws-amplify/amplify-console/issues/991

[2020-10-01 09:16] ramojej commented on #24332
@wardpeet in the Upgrading from the gatsby-image@2 section, it says:

`import { GatsbyImage } from 'gatsby-image/compat';`

should it be:

`import { GatsbyImage } from '@wardpeet/gatsby-image-nextgen/compatt';`

?

[2020-10-01 09:17] LekoArts commented on #26939
We published this on `gatsby-plugin-postcss@3.0.0` :)

[2020-10-01 09:38] pieh commented on #27184
Hi @jo3rn

I was checking this out and there seem to be few things here that cause stucks:

- One is related to https://github.com/gatsbyjs/gatsby/issues/21885 (and `gatsby-plugin-styled-jsx-postcss`) (and in here the workaround is to use node < 12 - which you already do locally from what I see from your environment information, but not sure what node version would be used in Netlify).
- The other

[2020-10-01 10:10] pieh commented on #27184
https://github.com/jo3rn/jo3rn.de/blob/d319f29f73436a746906cbbdadeccff81cf8e0ff/src/components/Header/Header.js#L101

This seems to be exact cause of it - this opens comment that is never closed. After removing just this line I'm able to build

[2020-10-01 10:10] #27184 closed

[2020-10-01 10:44] DannyHinshaw commented on #27185
@LekoArts hello, thank you for your reply. I'm still a bit puzzled by this, I feel like the documentation could be a little clearer about how to order the imports, nevertheless I've tried a few different things and none have worked.

Firstly, I need to make a correction, I didn't describe the original import order correctly in my initial report (which you may have seen looking at the repo but I wi

[2020-10-01 11:05] DannyHinshaw commented on #27185
@LekoArts I just saw what I was missing in your post, specifically that I need I needed to add another directory level to the light theme package: `src/gatsby-layout-default/theme/styles.scss` not just `src/theme/styles.scss`.

Once I added that extra layer `gatsby-layout-default` it does indeed work on the `site-theme-layout` branch. While re-reading the documentation for 100th time I see it does

[2020-10-01 11:05] #27185 closed

[2020-10-01 11:11] DannyHinshaw commented on #27185
I will just not one more thing, my original design does indeed also work by just adding that extra shadow directory layer, so the problem doesn't appear to have been the order of imports at all, just that missing directory level.

You can see it [here on master branch](https://github.com/DannyHinshaw/test-gatsby-themes).

[2020-10-01 11:46] LekoArts commented on #27185
Glad to hear that you sorted out your problem! I didn't account for the `site` in my answer but yeah, if you have the correct path the shadowing will work :)

[2020-10-01 12:03] jo3rn commented on #27184
Ah sorry to waste your time, that was totally something on my side. Thank you!

May I ask what tool you are using in your screenshot?

[2020-10-01 12:08] vvkpd commented on #18702
I would like to work on this card, could you please assign to me.
Thanks

[2020-10-01 12:16] jquense commented on #7027
The plugin most does that already the warnings are happening because gatsby still tried to infer explicit JSON fields. Using dontInfer creates unfixable issues with auto added child fields (either warnings that can't be silenced, or broken  code bc the fields are necessary for inactions with other plugins)

[2020-10-01 12:53] ltjds commented on #20078
YES! This is awesome. Thank you!

_PS: For those of you using Hugo and Markdown content, I recommend using the [CDN Option](https://github.com/goblindegook/littlefoot#usage-from-a-cdn), and pasting the `<script>` elements at the bottom of the **footer** partial._

[2020-10-01 13:33] shashwat28nov opened #27209 "Dead Links in the documentation"
## Description

In the documentation, I see a lot of dead links.

### Steps to reproduce

Check out the following documentation: https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/themes.md

It has a lot of broken links. There are other files too that have broken links.

### Expected result

There shouldn't be any broken links in the documentation.

### Actual result

There are broken links

[2020-10-01 13:43] karlhorky commented on #27153
@wardpeet in lieu of an Asset Manifest (see https://github.com/gatsbyjs/gatsby/issues/20745), I would like the built assets to better match the inputs (in order to achieve server-side authentication and access control - eg. https://github.com/gatsbyjs/gatsby/issues/1100):

[code]

This is a good point, and maybe also something that should be applied to [the `destinationDir` callback in `gatsby-rem

[2020-10-01 13:55] LekoArts commented on #27209
Hi, thanks for the issue. The docs need to be read on https://gatsbyjs.com and not on GitHub :)

[2020-10-01 13:59] pieh commented on #27184
This is chrome dev tools profiler. There is some write up in https://www.gatsbyjs.com/docs/debugging-the-build-process/#running-gatsby-with-the-inspect-flag on how to set this up and connect to it, but it lacks a bit of nuance:
 - for `gatsby build` you need to run: `node --inspect-brk node_modules/.bin/gatsby build`
 - for `gatsby develop` you need to run `node node_modules/.bin/gatsby develop --

[2020-10-01 14:05] mwlai288 commented on #22444
Hi, if this still needs to be worked on, I can help out.

[2020-10-01 14:23] muescha commented on #26552
Not stale

[2020-10-01 14:39] semireg opened #27212 "Flow Type in gatsby-node.js "Invalid or unexpected token""
## Description

When I import a flow type in gatsby-node.js I get an invalid or unexpected token error. I have gatsby-plugin-flow installed and configured. This same file works OK when imported from a component.

### Steps to reproduce

It seems like flow types don't work when imported from gatsby-node.js.

Importing a file that starts with:
[code]

Results in:
![2020-10-01 at 9 33 AM](https://use

[2020-10-01 14:59] bmds commented on #21995
Would like to take a stab at packages/gatsby/src/utils/api-node-helpers-docs.js and /packages/gatsby-link/src/parse-path.js

packages/gatsby/src/utils/profile.js seems like a pointless change although could just update the extension while i was on other things

[2020-10-01 15:49] pieh commented on #27212
`gatsby-node.js` (as well as `gatsby-config.js`) doesn't support either flow or typescript (that would be variant with .ts extension) even with their respective plugins. If you wish to use flow (or typescript) today for those you would need to have your own transpilation step that runs before `gatsby build/develop` or maybe try to use something like https://www.npmjs.com/package/flow-node#use-the-

[2020-10-01 17:04] tw15egan commented on #20179
Also interested in having a fix for this, seems like we're running into this issue here: https://github.com/carbon-design-system/carbon-website/issues/1819

[2020-10-01 17:04] pieh commented on #27193
`gatsby develop` that by default have server listening on 8000 is development server used with development bundles and it's not meant for production scenarios. Similarly `gatsby serve` (which defaults to port 9000) is really just thin wrapper around `express` setup with `express.static` to serve static assets produced by `gatsby build` - while this "serves" production version of the site, goal of

[2020-10-01 17:07] josephmarkus commented on #17402
Just ran into the same - deleted page that has a corresponding page-data.json would load soon after user sees 404 page. Are there any updates on this?

[2020-10-01 17:12] pieh commented on #17402
Oh, I missed this issue. https://github.com/gatsbyjs/gatsby/pull/26937 which we merged and released few days ago was looking to fix this problem. It was released in `gatsby@2.24.65`. So please upgrade and let us know if the problem is fixed completely. If you already are on this version and it's not fixed - please let us know too (ideally with some steps to reproduce)

[2020-10-01 17:12] seht commented on #1878
I mean, this answer - what kind of argument is that? Spreading every asset onto the root folder is simply unthinkable let alone . I can think of several reasons why this is a bad practice... But the one that's briging me here is regex for cdn caching eg firebase... So where is this at? This can easily be done with webpack...

'static' here would be the prefix...

[code]

[code]

Since it appears t

[2020-10-01 17:14] pieh commented on #17402
To add to above - the PR I linked above only handled `gatsby build` part - similar issue still is there in `gatsby develop` (but if you mix develop and build, the build should clean everything).

[2020-10-01 17:15] zlobizlobi opened #27215 "GraphQL error: Cannot read property dir of null."
## Description

Hi there! I am using Gatsby together with `gatsby-plugin-mdx` and `netlify-cms` for blog content creation - meaning I am sourcing mdx files from a `netlify-cms` content folder into my Gatsby project. At some point during the development GraphQL started to throw the following internal error for the images coming from my mdx frontmatter:

[code]

Nevertheless,

- The images from my q

[2020-10-01 17:22] josephmarkus commented on #17402
Thanks @pieh! Will give an upgrade a go!

[2020-10-01 17:26] digitalkaoz commented on #1878
All discussions about simply moving things around in bash doesnt solve the Problem running gatsby in a readonly Filesystem (Lambda). so gatsby is simply not usable within cloudfunctions: so a big nope for gatsby. I recommend react-static (where it was clean to implement and contribute)

[2020-10-01 17:35] lumenwrites opened #27216 "How can I prevent gatsby-plugin-mdx from automatically creating mailto links?"
Hi! Right now the mdx plugin seems to automatically detect emails in my mdx files (hello@mywebsite.com), and replacing them with mailto links. Is there a way to prevent that? I want to keep emails as plain text.

[2020-10-01 17:47] ProteanCode commented on #27193
Thanks. This explains a lot and helps me to understand why my routing / authorization approach is invalid. Not sure if this should be noted in https://www.gatsbyjs.com/docs/quick-start/ or rather obvious to most of people that spent some time with node-based solutions.

[2020-10-01 17:47] #27193 closed

[2020-10-01 17:51] mzedeler commented on #1878
My project is using automated build on github followed by publishing to github pages. The folder name on github is `docs`, so we have to move things, which is the current workaround. I just find it peculiar and an obvious code smell that such a basic thing can't be implemented easily. At the same time, I do acknowledge that such a change may require a lot of work due to the way the project was con

[2020-10-01 18:31] KyleAMathews commented on #15277
@jstormail2 docs for setting up a preview server are here — https://www.gatsbyjs.com/docs/running-a-gatsby-preview-server/ — let us know if you need any more help there.

Appreciate your feedback!

[2020-10-01 18:40] motou commented on #20179
I can take this issue since it should be helpful to generate an image with an empty alt attribute

[2020-10-01 19:18] schwiet opened #27219 "gatsby-plugin-sharp | Support withoutEnlargement"
## Summary

The Sharp [resize()](https://sharp.pixelplumbing.com/api-resize#resize) function has a useful option: [withoutEnlargement](https://sharp.pixelplumbing.com/api-resize#parameters) that can be used to prevent source images from being enlarged beyond their original size, which helps prevent undesirable degradation in image quality. It would be nice if Gatsby Plugin Sharp exposed this optio

[2020-10-01 19:34] PseudoNerd commented on #18702
Can I take this up ?

[2020-10-01 19:57] pieh commented on #27216
Not ideal, only way I can think of is to use `gfm: false` in plugin options for `gatsby-plugin-mdx` (that's not really documented, I had to dig in the code pretty deep for that). GFM = GitHub Flavoured Markdown which adds few features like autolinking - but it's not limited to that and it might cause issues elsewhere - so use with caution.

[2020-10-01 20:05] pieh commented on #27216
This is also maybe question better directed at `@mdx-js/mdx` package / repository - `gatsby-plugin-mdx` does pass plugin options to that package and it's not doing autolinking on gatsby level (it happens in mdx and even more precisely in `remark-parse` package - there's multiple levels in there).

https://github.com/remarkjs/remark/blob/main/packages/remark-parse/lib/tokenize/email.js is the actua

[2020-10-01 20:05] #27216 closed

[2020-10-01 20:09] Inambe commented on #22792
I'm facing same in gatsby-source-contentful @ 2.3.48
[code]
returns `null` or `undefined` but works other way:
[code]

I'm new to Gatsby, so I thought I didn't understand the concept thus spent the last 2 days in Gatsby docs and QA sites but I think it should work when it is not.

[2020-10-01 20:19] mgienow opened #27222 "🍁🎃 Gatsby Hacktoberfest 2020 🎃👻!"
<h1 align="center"> Welcome to Gatsby Hacktoberfest 2020!</h1>
<p align="center">
  <a href="https://www.gatsbyjs.com/">What is Gatsby?</a>  |  <a href="https://www.gatsbyjs.com/docs/">Gatsby Docs</a>
</p>
<p align="center">
<img alt="Linus from Peanuts in pumpkin patch" src="https://lh3.googleusercontent.com/uHB83llNLu9S4Ysjog7gvPS9oVqZKNhLSMD1IUJ0rI536JI0VetJm8tP0NBs92oQxLpZzCSe1pRWDwXyARAXqPEdQ

[2020-10-01 20:21] meganesu commented on #25805
@veerreshr since you commented first, I'm going to assign this issue to you.

@kalzen15, we'd love to have you contribute on another one of our [open issues](https://github.com/gatsbyjs/gatsby/issues)!

Let me know if either of you have any questions!

[2020-10-01 20:25] Inambe commented on #22792
I can confirm that `gatsby-source-contentful@2.1.100`  has solved my problem but it's not the latest version of course.

[2020-10-01 20:25] meganesu commented on #27065
@wardpeet sounds good, thanks for the recommendation!

@98lenvi thanks for tackling this issue. Could you please update your PR to match @wardpeet's recommendation? Feel free to reach out if you have any questions about the changes.

[2020-10-01 20:34] coreyward commented on #23629
Bump. Not stale.

[2020-10-01 20:39] clovis1122 commented on #26608
I'll take a look and see if I can submit a PR for this one.

[2020-10-01 20:42] pieh commented on #27215
Did you confirm it happens in provided reproduction? I can't reproduce reported errors locally with your reproduction. I did try to play with netlify cms admin messing with content a little bit as well as adding some new posts, but I couldn't hit that error.

Not great solution - but can you try stop `gatsby develop`, temporarily rename `.cache` directory to something like `.cache.bak` and restart

[2020-10-01 20:57] narliecholler opened #27223 "Error: The result of this StaticQuery could not be fetched."
## Description

So, I have a layout component using static query hook, fetching data from WordPress. The query works, as I have tested it in the __graphql environment, however - no matter how I use this hook or static query component, I always get the error of if 'could not be fetched.' I've downgraded / upgraded packages and I still get the same error. It worked when I first started the stater-si

[2020-10-01 21:06] ThakurKarthik commented on #21995
@LekoArts @blainekasten I would like to work on these
[code]
as i am new to typescript I will start with these files.
Thanks !

[2020-10-01 21:08] semireg commented on #27212
Thanks, installing and adding `require('flow-remove-types/register')` above the require worked great.

What this looks like in practice:

[code]

[2020-10-01 21:08] #27212 closed

[2020-10-01 21:34] #27223 closed

[2020-10-01 21:34] narliecholler commented on #27223
Found it was to do with rendering the component within pages.

[2020-10-01 22:39] coreyward commented on #13072
@joeldbirch Oh shit, I could have totally been more careful in reviewing what was going on and saved you some time there. I found the same, and I always just use the `static` folder for this in development as well. Sorry about that!

[code]

[2020-10-01 22:59] Lucas-Dalamarta commented on #18702
I would like to contribute to this issue, may i ?

[2020-10-01 23:36] kzuri commented on #18280
Hello @marcysutton, I would like to contribute to this issue

[2020-10-02 00:53] seht commented on #1878
I think react-static is exactly what I was looking for.

Surely there must be a reason. But unfortunately somthing like this won't work with gatsby..

[code]

--> https://www.gatsbyjs.com/docs/add-custom-webpack-config/

-> setWebpackConfig would be the place to look how these options are possibly being overwritten.. would be worth looking into. (perhaps a deep diff) Imma try react-static - thanks

[2020-10-02 01:40] seht commented on #1878
According to RTFM something like this won't work with gatsby...

[code]
[code]
example loaders...
[code]

--> https://www.gatsbyjs.com/docs/add-custom-webpack-config/

-> setWebpackConfig left it to https://github.com/survivejs/webpack-merge rightly so perhaps, but not entirely... -> I'm not sure yet I could get away w building a plugin for this since the only one available is not cutting cut the

[2020-10-02 02:04] tnorlund opened #27225 "Multiple Queries in createPages"
## Summary

How do I query a page using the results from a previous query in `createPages`?

## Relevant information

So I'm currently using [async](https://github.com/caolan/async) to synchronize the different queries required to create the pages for my blog. I'm currently getting the warning that createPage is called outside of its async lifecycle. Can I query using results from a previous query

[2020-10-02 02:06] seht commented on #1878
According to RTFM something like this won't work with gatsby...

--> https://www.gatsbyjs.com/docs/add-custom-webpack-config/

[code]
Example of a webpack config continued...
[code]
example loaders...
[code]

-> setWebpackConfig left it to https://github.com/survivejs/webpack-merge rightly so perhaps; but this would be a solution.

[2020-10-02 03:19] jlkiri commented on #21995
I'm sorry if anyone wants to take  src/redux/actions/public.js (@jlkiri in #22274) - you can take - I might not have free time to finish it for a while.

[2020-10-02 05:58] ROHIT498 commented on #27225
There is some problem in your code

[2020-10-02 06:01] ROHIT498 commented on #27177
I have the same problem, although it's for all files.

$ yarn list --pattern "typescript"
yarn list v1.22.4
├─ @babel/plugin-syntax-typescript@7.8.3
├─ @babel/plugin-transform-typescript@7.8.3
├─ @babel/preset-typescript@7.8.3
├─ @typescript-eslint/eslint-plugin@2.24.0
├─ @typescript-eslint/experimental-utils@2.24.0
├─ @typescript-eslint/parser@2.24.0
├─ @typescript-eslint/typescript-estree@2.24.0

[2020-10-02 06:14] hzhu commented on #27177
Are you using Gatsby? How come it isn't listed in your `yarn list` tree? It doesn't seem like the same problem as this issue.

[2020-10-02 06:29] talohana commented on #21995
@LekoArts  @blainekasten

Wanted to update that `packages/gatsby-page-utils` is already migrated to TypeScript.
Also I would like to work on `load-themes/index.js` if possible

Thanks!

[2020-10-02 06:36] ROHIT498 commented on #27177
Ya but i have provided to just give an idea of using yarn

[2020-10-02 07:08] talohana commented on #20069
Hi @vladar I would like to help and learn, is gatsby-source-wikipedia is a beginner friendly one?

Thanks!

[2020-10-02 07:48] ashishch-98 commented on #18742
I also have the same issue. Can you please provide the solution that worked for you?

[2020-10-02 08:08] wardpeet commented on #17952
Hey @jzabala & @onestopjs,

Could you clarify a little bit more about what benefit this would give you? I don't think this is the right approach to get to the solution you're after. This would fix your issue in certain cases but you would need to add onPreload for the same link every time. Let's say you have a header & footer navigation, it means you'll have to add onPreload to both on them to mak

[2020-10-02 08:27] Purii opened #27232 "Licensing issues with big amount of production dependencies"
## Summary

It's quite hard to find out which Dependencies are actually bundled and shipped with a Gatsby App.

I have the issue, that some (nested) dependencies of `gatsby-cli` seem to be published under licenses that might be critical for a commercial app (Copyleft).

I'm aware that Gatsby is a generator. But I'm wondering if it's possible to differ between some kind of `"Gatsby Core"` (shipped

[2020-10-02 09:06] LekoArts commented on #18702
Feel free to send in a PR although please notice that we won't accept PRs that just search/grep for `easily` and remove everything. Please read https://dev.to/meeshkan/how-to-remove-condescending-language-from-documentation-4a5p and especially point 3 to understand that sometimes the removal is not necessary or that with the removal the sentence needs to be restructured to have the same meaning.

[2020-10-02 09:35] pieh opened #27234 "just testing peril"
I'm just testing peril

[2020-10-02 09:44] #27234 closed

[2020-10-02 09:53] LekoArts commented on #27225
Hi, thanks for the issue!

You can't use multiple queries that depend on each other in that way. What you'll want to do is:

1) Query the projects including the list of posts with their unique identifier
2) Pass those unique identifiers via `pageContext` to the template and in the page query itself query for the posts of those projects.

---

See this codesandbox for an example: https://codesandbo

[2020-10-02 11:01] WillMayger opened #27237 "Documentation on .env files is hidden"
## Summary

When searching for how to make use of `.env` files with Gatsby, the current documentation is not clear enough and causes confusion.

Documentation link: https://www.gatsbyjs.com/docs/environment-variables

When understanding how to use project-wide environment variables with `.env` files, the documentation frequently references using `.env.*`, `.env.development`, or `.env.production` a

[2020-10-02 11:20] lumenwrites opened #27240 "Gatsby doesn't report the location of the error"
Hi! I often encounter this issue, gatsby tells me that there's an error, but doesn't say which component or mdx file is causing it, so the only way to find out is through the guesswork or trial and error.

For example, right now I'm getting the following logs telling me about the failed build:

<img width="1182" alt="Screenshot 2020-10-02 at 12 16 17" src="https://user-images.githubusercontent.com

[2020-10-02 12:06] zlobizlobi commented on #27215
Hi @pieh,  Thanks for replying 😃 !

I see that there are indeed no errors right now.  I think something in combination with `gatsby-plugin-graphql-codegen` is giving this error. I removed this dependency in the reproduction because I thought it would not serve a purpose and therefore the error is gone now for some reason. See the [updated repo](https://github.com/zlobizlobi/netlify-cms-inline-imag

[2020-10-02 12:10] #26188 closed

[2020-10-02 12:10] #26149 closed

[2020-10-02 12:41] axe312ger commented on #26909
The plugin changed the way it caches sync API data. Unfortunately that broke the support for using multiple spaces.

We will have a look into this, it might be not too much effort.

[2020-10-02 12:43] pavelloz commented on #1878
I guess we all agree :)

[2020-10-02 12:44] axe312ger commented on #25868
Did anybody yet figure out what data is bloating the memory? Or which call is causing it? Any help in research is very much appreciated :)

[2020-10-02 12:49] axe312ger commented on #26094
I'll check what we can do in the plugin and will talk to the Contentful team if there are any options/plans to change this on API level.

[2020-10-02 12:57] axe312ger commented on #26909
@jankohofmann Did you fix the issue? Just checked, the way the plugin uses the SDK should support environments.

This issue usually is due some wrong environment variable or some copy & paste mix up.

If you still running into this let me know, then I'll have a closer look.

[2020-10-02 12:59] axe312ger commented on #10592
Closing here, lets continue further discussion in #25249

[2020-10-02 12:59] #10592 closed

[2020-10-02 13:00] axe312ger commented on #25433
This will be fixed in https://github.com/gatsbyjs/gatsby/pull/27244 which will be released soon :)

[2020-10-02 13:02] axe312ger commented on #26875
We will fix this in #27244 which contains most of the fixes of the rich text canary :)

[2020-10-02 13:04] axe312ger commented on #24612
Please check the canary release from #25249. This should fix your issue.

[2020-10-02 13:47] ays14 commented on #21995
Hey @blainekasten

I found `/packages/gatsby/src/schema/print.js` is not taken and I also did look at the file in the repo. I would like to take it up to migrate. Please confirm me on the same.

[2020-10-02 13:50] oneextra commented on #27179
@wardpeet I am using 2.24.66 for this endless compilation to occur. So unfortunately this does not resolve it. I am pretty sure though that this is a thing of either "gatsby-plugin-graphql-codegen" or "gatsby-plugin-graphql-codegen + gatsby".
The workaround of commenting and uncommenting the plugin whenever I have substantial changes in the queries, works alright so far. I will check the gatsby-pl

[2020-10-02 13:56] oneextra commented on #27179
TL;DR if anyone ever comes across it:

1. Remove links in your rich text fields
2. add _noBase64 for all your images.
3. if you are using "@contentful/gatsby-transformer-contentful-richtext", don't. just use "documentToReactComponents" instead and only pull the json from your rich text fields.  => At least a 30% build performance increase for us.
4. uncomment "gatsby-plugin-graphql-codegen" if you

[2020-10-02 13:56] #27179 closed

[2020-10-02 14:28] jarodpeachey commented on #25446
Hey @sidharthachatterjee I've renamed the package to gatsby-plugin-netlify-comments, and it still gives the error.

This is my .babelrc file:

{
"presets": [
"@babel/preset-env",
"@babel/preset-react"
],
"plugins": [
"babel-plugin-styled-components",
"@babel/plugin-proposal-class-properties",
"@babel/plugin-syntax-dynamic-import",
"@babel/plugin-transform-runtime",
"babel-plugin-macros",
"babel-pl

[2020-10-02 14:33] zlobizlobi commented on #27215
Hi there @pieh!

Thanks to your comment I was able to understand partly where the error was coming from. In the reproduction scenario I left out the `gatsby-plugin-graphql-codegen` as I did not see any purpose for it in this case. When I included the dependency - the error re-appeared. Then I took a closer look at my `gatsby-config.js` and saw a possibility that you may need to source from `../sta

[2020-10-02 15:07] tnorlund commented on #27225
Thanks for the explanation. I don't think I explained my situation though. I'd like to:
1. Query for all the Projects and Blog Posts (sort the date for the Blog posts)
2. Query for the respective Posts for each Project (sort the date for the Posts for each Project)
3. `CreatePage` using the respective template/component

So I can currently produce all the pages, but the "Posts for each Project" wo

[2020-10-02 15:56] tnorlund commented on #27225
So I ended up programmatically choosing the respective Posts for each Project. Should I close this, or do you know a better way to approach this?

[code]

[2020-10-02 16:15] 98lenvi commented on #27065
@meganesu, Hi! can you check the PR now? I have made the changes.

[2020-10-02 16:35] axe312ger commented on #26909
I found an internal ticket confirming this issue.

Looks like for now your access token needs to have access to master environment, even when content is loaded from a different environment.

I will keep u posted.

[2020-10-02 17:46] carolstran commented on #18702
Totally regret letting this fall off my plate 🙈  Apologies to the maintainers for all of the extra effort dealing with this now 🤪

[2020-10-02 18:03] abdullahe commented on #7581
I have the latest version of react-icons and gatsby, but still having this issue. I am very new to this, so I might be missing something. Is it just me, or something is broken with this lib?

Here is webpack bundle analyzer result:
![image](https://user-images.githubusercontent.com/699010/94954764-3dc74b80-04f2-11eb-9559-f6c09c5cfc43.png)

I load icons like this:

`import { FaChevronDown } from "r

[2020-10-02 18:23] tom-raley commented on #27237
I'd be happy to take this on if you're still looking for someone!

[2020-10-02 19:31] #27225 closed

[2020-10-02 21:44] ImOnSmoko commented on #25868
I’m not aware of a specific question around this. The only hard data we have is the output in the Gatsby Cloud dashboard. Local runs show that the ‘Building production JavaScript and CSS bundles’ is the longest step.

I think it be more valuable to arrange a call so that all involved are up-to-date and doing our utmost to provide the information needed>

Thanks,

Richard George  •  Application Dev

[2020-10-02 21:45] Kevin-Carlos opened #27251 "Google Optimize Implementation"
Sorry if this is the incorrect place, I aimed for Discussions, but ended here.

I've searched high and low of Google Optimize implementations which of course is going to differ project to project.

I've finally found a working combination within my codebase which can be seen below.

Plugins that implement Google Tag Manager, Analytics, and Optimize haven't worked and result in an incorrect Optimiz

[2020-10-02 22:55] sever1an commented on #19228
It might be helpful if Gatsby could provide a standardized/documented manifest of what routing it expects in the build artifacts.

My plan, before we switched to a full SSR solution, was to determine what client-side routes existed using Lambda@Edge, where we were already handling the other routing using a hacked together rewrite function.

[2020-10-02 23:04] pattimcletchie commented on #25290
@muescha is this still open and needing to be worked on?

[2020-10-02 23:31] noahsburroughs commented on #18702
I removed/replaced the vast majority of occurrences of non-inclusive language in the docs. I used @carolstran wonderful guide to do so. There's still a need for some granular issues, but this tackles near all of them.

[2020-10-03 00:13] #26208 closed

[2020-10-03 00:13] #22894 closed

[2020-10-03 00:38] Gabriel-Andy opened #27253 "graphql shows : "no schema is available""
hello everyone.
it is my first time opening an issue on github.
I am building my portfolio website with gatsby.js and strapi.
I set all my contentTypes and data on on strapi.
I open two terminals, one for strapi and one for gatsby.
to test everything, I ran the command "npm run develop " on strapi and I have a status 200.
this is the response https://www.screencast.com/t/YcIiZv9n
also, I made a re

[2020-10-03 01:24] mohmmad0505 commented on #21599
EEEERR

[2020-10-03 01:25] mohmmad0505 commented on #21599
Www
[code]
e
[code]
t

[2020-10-03 02:41] pvaladez commented on #5997
It would be nice to get an answer on this(iDVB's questions) for 2020... I just created a [pull request](https://github.com/gatsbyjs/gatsby/pull/27250) to update the link on the documentation for the [shared layout component method](https://www.gatsbyjs.com/docs/global-css/) and I found that the link is still pointing to the Gatsby v1 "special layout component" method... this no longer works in v2.

[2020-10-03 03:05] tnorlund opened #27254 "Help with Amplify"
## Summary

So after adding stuff to my Gatsby page, I can't build it on my Amplify app.

## Relevant information

So I can build and develop this locally, but I don't know how to push it to Amplify. I know there is a build script, so I've attempted to change it to match what I'm doing locally:
[amplify.txt](https://github.com/gatsbyjs/gatsby/files/5320972/amplify.txt)

Here's the Repo:
https://gi

[2020-10-03 03:53] #27254 closed

[2020-10-03 06:50] khanakia opened #27256 "I cannot edit css in Chrome Developer tools using gatsby develop"
## Summary
I just started using gatsby and i am running gatsby using `gatsby develop` and i have css include but when i go to the chrome developer tools and try to make changes to css i cannot. Css options are disabled. I saw on internet it's because of CSSDOM Injection so how to disable CSS DOM Injection so i can edit css or is there any other solution >

## Relevant information
CSS are disabled

[2020-10-03 08:53] alpeer opened #27258 "URL Validation on non-ascii characters"
## Description

Ggatsby can't validate my domain(https://kürşat.com) in config to start development environment.

### Steps to reproduce

1-) edit gatsby-config.js
[code]

2-) start project in terminal
[code]
### Expected result

Should successfully start development environment

### Actual result

[code]

### Environment

[code]

[2020-10-03 09:32] jeffreymeng commented on #21995
I’m down to try refactoring `hats by/src/bootstrap/page-hot-reloader.js`

[2020-10-03 09:49] WillMayger commented on #27237
Hi @tom-raley, thanks however I already have a PR for this one here:  https://github.com/gatsbyjs/gatsby/pull/27239

[2020-10-03 11:10] antoinerousseau commented on #24229
Followup at #27149

[2020-10-03 12:07] #25658 closed

[2020-10-03 12:55] janosh commented on #22757
Sorry, I wasn't able to get the current version of the sitemap plugin to work with my blog either as explained in #25019. But if I remove the `next` version from `gatsby-config.js`, the `rx.lite` error disappears and my site builds fine. This seems to indicate the issue is at least related to `gatsby-plugin-sitemap`.

[2020-10-03 13:24] WillMayger commented on #26608
👋 Hi everyone, is it alright if I also take a look at this one? Seems pretty interesting!

[2020-10-03 14:56] clovis1122 commented on #26608
@WillMayger sure thing! I'm still exploring the repo. I don't mind if your fix is merged instead of mine -- will be mostly a learning experience for me, haha.

[2020-10-03 15:05] WillMayger commented on #26608
@clovis1122 Ah I see! - thanks for letting me take a look 😄 & I have a PR ready for review at https://github.com/gatsbyjs/gatsby/pull/27261

[2020-10-03 15:31] clovis1122 commented on #26608
Woah that was fast! Great job, I'll drop and see if I can tackle other issues haha.

[2020-10-03 19:40] WillMayger commented on #26608
Thanks 😄! and haha I think it seems faster than it actually was, I started playing around with it right after I asked about it 😅 also @wardpeet had already done a lot of the work!

[2020-10-03 20:38] soosgyul commented on #21995
I might have jumped a gun but I quickly refactored the gatsby-link/src/parse-path.js and test. Pr can be seen here:
https://github.com/gatsbyjs/gatsby/pull/27264

[2020-10-03 21:30] Aboumicho opened #27266 "Deploy on Netlify Blank"
## Description

The gatsby project builds locally but on deploy, displays blank page.

### Steps to reproduce
Go on this link:
https://5f7593ca12c348e273bbf67d--vigorous-snyder-c8c0c4.netlify.app/

### Expected result

Website should appear.

### Actual result

Blank Page.

### Environment

  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
  Binarie

[2020-10-03 23:42] nickmccurdy commented on #27222
It looks like you'll need an admin to add the `hacktoberfest` topic to the repository or all pull requests will be ignored https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 01:33] clovis1122 commented on #21995
I'll help with `babel-preset-gatsby`! the index.js + tests part.

[2020-10-04 01:40] clovis1122 commented on #21995
I'll help with `load-themes/index.js`.

[2020-10-04 02:38] adriatic commented on #25764
This issue is still unresolved (I tripped on it today in a different context, running ` npm install react-router-dom`). Does this mean that that it is the responsibility of the team that maintains the `react-router-dom` module, or the Gatsby team od Strapi team? Either way why is the process of addressing this issue taking so long?

[2020-10-04 06:20] mohmmad0505 opened #27268 "ا"
## Description

Describe the issue that you're seeing.

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your issue _much_ easier to diagnose (seriously).

How to Make a Minimal Reproduction: https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/

### Expected result

What should happ

[2020-10-04 07:01] herecydev commented on #25764
@adriatic See this comment: https://github.com/gatsbyjs/gatsby/pull/25797#issuecomment-669392219

If you can help migrate that file; that will unblock this PR.

[2020-10-04 07:50] acagastya commented on #27268
@mohmmad0505 Did this happen by mistake?  Or are you facing any problems?

[2020-10-04 10:46] Marius-Adam opened #27269 "Gatsby localhost different to Netlify deploy"
Hi,

I'm fairly new to Gatsby. I actually came across it when was looking for templates for my portfolio.

I found a great example and I started customizing it following the guide on Gatsby's website.
I managed to customize the Hero/Intro section and that worked well, however when I moved on to the About section and Footer the changes would not take place when deploying to Netlify.

I removed all

[2020-10-04 10:51] freesh commented on #3446
@holloway Did you find a solution? I've exact the same problem. :-/

[2020-10-04 11:23] oschade opened #27270 "[gatsby-plugin-mdx] + [gatsby-transformer-react-docgen]: JS files appear in allMdx queries"
## Description

If I'm using "gatsby-plugin-mdx" along with "gatsby-transformer-react-docgen", js-files (my component-files) appear in GraphlQL allMdx query.

### Steps to reproduce

I created a repo, so you can easily reproduce it:

`git clone https://github.com/oschade/gatsby-mdx-docgen-test.git`
`yarn && yarn develop`

Then open [http://localhost:8000/__graphql?query=query%20MyQuery%20%7B%0A%20