[2019-03-13 13:22] arturhenryy commented on #10347
@sidharthachatterjee can you please reopen this ticket as it is not resolved yet and i am not able to attack the not stale label here

[2019-03-13 13:24] hesselberg commented on #10347
@arturhenryy Just discovered it wasn't actually related to this. I ended up deleting a couple of Wordpress pages where the issue was, then rebuilt them, then it worked.

Cannot really say why it happened, but everything seems to work fine now.
I still think this issue in general is valid, but at least my problem was solved by removing the Wordpress pages, and then recreating them.

[2019-03-13 14:01] jerus1403 commented on #12527
Hi Pieh,
Thank you for your quick response. So both of the 2 sites is a part of a multisite project that we are working for a client. Is there any way that we can message the urls in private because it's a part of the privacy policy. My apologies for the inconvenience.

[2019-03-13 14:05] pieh commented on #12527
Sure, You can DM me privately via Twitter - https://twitter.com/mipiechowiak

[2019-03-13 14:17] danboyle8637 opened #12542 "Getting Facebook Messenger into site"
I am thinking about how to get the Facebook Messenger div into my site.

Here's what it looks like:

[code]

I just hashed out my page id btw.

Initially I was thinking of using setPostBodyComponents in my gatsby-ssr file...

But the attribution=setup_tool is messing things up because the compiler is looking for setup_tool and it's not found.

I am using Google Tagmanager currently to inject the F

[2019-03-13 14:38] #12497 closed

[2019-03-13 14:46] pieh commented on #12534
Try something like this:
[code]
It seems to work here. Just note that IE11 doesn't support `object-position` so this will not work there, but seems to work at least on chrome

[2019-03-13 14:55] pieh commented on #12542
You can try something like this:
[code]
which will inject html string as is and react should not meddle with it. Downside there is extra wrapping div (`dangerouslySetInnerHTML` need this, last time I checked it didn't work with `React.Fragment`)

[2019-03-13 15:06] xlinbsd commented on #12538
@pieh tried, but not related. queries are not available, not loaded by graphql.

or example
[this graph-i-ql query](http://localhost:8000/___graphql?query=%7B%0A%20%20all%0A%7D)
should provide `allMarkdownRemark` query in the contextual help when typing `all` or `ctrl-space`.

[2019-03-13 15:22] jerus1403 commented on #12527
I just messaged you on twitter. Thank you for helping me with this

[2019-03-13 15:41] jonniebigodes commented on #12539
@mavam i have a addition to the documentation that will target that case especifically. It needed some work done. and i put it hold as another pull request i made was simmering and waiting for review and go through. As it was not touched in any shape or form, i'll make the final adjustments till the end of the week and submit it. Do you mind waiting a little longer?

[2019-03-13 15:44] pieh commented on #12539
In gatsby we do that via GraphQL, but if you don't want to use that, you should be able to do `import data from "../file.yaml"` - we do have webpack loader for yaml files

[2019-03-13 15:54] pieh commented on #12539
As example of it - we use importing yaml in gatsby website - https://github.com/gatsbyjs/gatsby/blob/95155e0338bf8f6ba3bdc6e50d03ef267d4d39c7/www/src/utils/sidebar/item-list.js#L1-L4

[2019-03-13 16:11] flowen commented on #9357
I'm receiving similar warnings but a different error on my netlify build as well after installing subfont:

[code]

[2019-03-13 16:27] jonathancary commented on #12534
Perfect, thanks!

[2019-03-13 16:27] #12534 closed

[2019-03-13 16:35] zachgaskin commented on #2470
@ooloth your work has been very helpful. Thank you.

Is it possible to use "background-attachment: fixed; " ? If so, where exactly. I can get it working but not with safari. When I get it working the behavior is that the image looks good until I add more components in the page. The more components added the bigger the picture gets. So, then I polyfill for the safari issue but then the "background-

[2019-03-13 16:45] lannonbr opened #12545 "[www]: Implement testing for www site"
## Summary

After discussion during today's Community Meeting, we discussed that it would be good to start working on adding some forms of testing whether it be with Jest or Cypress to test parts of the site as well as the business logic for some pages. This is going to be an open issue to discuss what would be best to implement for the .org site

### Resources

* @DSchau had a example reference t

[2019-03-13 17:14] missmatsuko commented on #12506
I didn't know about the `gatsby-plugin-netlify-cache` plugin. I'm not sure why, but that `gatsby-starter-netlify-cms` starter deletes public and cache on every build.

I tried adding the plugin and updating the build script so it doesn't clear out public and cache. Then I tried deploying on Netlify a few times, and it took about 10 minutes each build.

From the deploy details, it looks like the ma

[2019-03-13 17:30] ooloth commented on #2470
@zachgaskin I wish I could help!

This sounds like it's probably a CSS issue (i.e. not related to Gatsby or `gatsby-image`) and I'm afraid I don't have much experience using `background-attachment: fixed` and haven't encountered the issue you're describing. If you're able to post a link to a minimal reproduction of this issue, I'd be happy to take a look, though.

According to [caniuse.com](https:

[2019-03-13 18:02] danielkov opened #12549 "[gatsby-plugin-typography] fails to compile when headerComponents include null"
## Description

After upgrading from `v1` to `v2` following the official guide I am witnessing the following issue:

[code]

I realise this is because in the following method:

[code]

the value of `headComponents` is `React.ReactNode[]`, which can include `null` as valid values. In my project one of the other plugins injects a `null` into this array, which shouldn't cause an issue to this plugin

[2019-03-13 18:06] jeliasson commented on #10882
Also got this problem using gatsby version `2.1.31` and the starter template (`gatsby new <name>`) together with a Dockerfile based of `node:alpine`. Thoughts?

[2019-03-13 18:09] NickyMeuleman commented on #12510
Awwww yeah. This means soon, I won't have to dig into the Gatsby store to get the schema anymore?
https://github.com/NickyMeuleman/gatsby-plugin-extract-schema

[2019-03-13 18:22] pieh commented on #12536
There are couple of things to unpack here:
Current implementation of offline plugin was supposed to serve blank app shell (essentially white page) until js which is cache by service worker is processed/compiled and actually mount react application. The `gatsby-plugin-layout` or directly using `wrapPageElement` (or `wrapRootElement`) is causing this blank page to be wrapped by layout, which cause p

[2019-03-13 18:25] mavam commented on #12539
@pieh. This was exactly what I need. Thanks!
@jonniebigodes I appreciate your offer, but my issue has been solved.

To make my above example work, the only missing piece was adding a single line:

[code]
I knew there was a simple way!

[2019-03-13 18:25] #12539 closed

[2019-03-13 18:34] pieh commented on #12549
While this is is valid `ReactNode` - we probably should filter out any `null` values from components array in Gatsby I think:

In https://github.com/gatsbyjs/gatsby/blob/95155e0338bf8f6ba3bdc6e50d03ef267d4d39c7/packages/gatsby/cache-dir/static-entry.js#L71-L111

We could add utility

[code]

And then adjust `setXComponents`:
[code]
and `replaceXComponets`
[code]

That would be great too. As mentio

[2019-03-13 18:36] colbyfayock opened #12550 "Docs: Storybook - Webpack override documentation"
## Description

Looks like the webpack override documentation may be out of date, possibly due to it's new release? Running through the steps, the custom webpack configuration example now doesn't properly work.

https://www.gatsbyjs.org/docs/visual-testing-with-storybook/

Simply changing the wrapping method and object definitions as described in Storybook documentation worked: https://storybook.j

[2019-03-13 18:44] missmatsuko commented on #12506
Sure, this is my project: https://github.com/missmatsuko/matsuko-ca

It doesn't take so long locally, I was told here that it was because we only have 1 CPU on Netlify: https://github.com/netlify-templates/gatsby-starter-netlify-cms/issues/191#issuecomment-470425337

I could try reducing the size of the source SVG, I'm not sure if that would help. I made it have a large viewbox because very blurry

[2019-03-13 18:47] PHironaka commented on #11550
@isaac-martin There is a pages object in the Storefront api: https://help.shopify.com/en/api/custom-storefronts/storefront-api/reference/object/page

[2019-03-13 18:54] danielkov commented on #12549
I've approached it from the plugin side - as it targets this particular issue - and added fault tolerancy and tests.

[2019-03-13 18:57] baobabKoodaa opened #12552 "[bug]: potrace fails randomly with "cannot read property bitmap of undefined""
Running `gatsby develop` works most of the time, but I randomly get this error. It seems that I'm _more likely_ to get the error after running `gatsby clean`. Today I ran `gatsby develop` 3 times in a row with no changes to anything. The first 2 times I got this error and the 3rd time it worked.

[code]

[2019-03-13 19:15] danielkov opened #12553 "[gatsby] headComponents can be empty (null or empty array) values"
## Description

This is related to #12549 and as discussed in the comments, sanitizing `headComponents` would ensure that plugins that do similar transformations as the one in that issue can assume that all elements are actual components.

### Steps to reproduce

As of now it is possible to call `setHeadComponents` or `replaceHeadComponents` with any values and there are no sanity checks in place.

[2019-03-13 19:35] maru3l opened #12554 "Page won't rebuild after modification in develop mode"
## Description
When I start `gatsby develop`, every page is build and served. But when I edit a page in the `pages` folder, I'm redirect to the 404 page with the list of all pages but all the page in the `pages` folder is not part of this list anymore.

### Steps to reproduce

1. Start gatsby develop
2. Open a page from `pages` folder in your browser
3. Edit the page in your code editor
4. Return

[2019-03-13 20:08] joperron commented on #12554
This works fine with a fresh install, did you try to remove plugins to find the culprit? Perhaps `gatsby-plugin-offline`? Uninstall it with `gatsby-plugin-remove-serviceworker`.

[2019-03-13 20:14] DSchau commented on #12550
Correct - yeah. Looks like you're probably using Storybook@5, and the docs haven't been updated beyond Storybook@4.

Would you be able to take a look at gatsbyjs/gatsby#12350 and validate whether those instructions work for you?

If so - we can get that merged so everyone gets the benefit 🎉

Thanks for opening this issue!

[2019-03-13 20:16] #12549 closed

[2019-03-13 20:39] maru3l commented on #12554
@joperron It didn't change anything.

I have some strange warning in the console

[code]

I also have this record in the console
`React-Hot-Loader: react-🔥-dom patch is not detected. React 16.6+ features may not work.`

[2019-03-13 20:54] #12219 closed

[2019-03-13 21:01] joperron commented on #12554
Can we see NewsletterFormFooter.jsx?

[2019-03-13 21:09] guibulator commented on #5572
@acewf
I created a repo based on your gist with latest packages. I had some issues because I didn't know the packages' versions you were using. Hope it's alright with you -> [gatsby-starter-i18next-ssr](https://github.com/guibulator/gatsby-starter-i18next-ssr)

[2019-03-13 21:40] maru3l commented on #12554
shure
[code]

[2019-03-13 21:46] kristojorg commented on #9895
Did you ever find a solution here? I am seeing the same issue for gatsby-source-shopify. Can't tell if it's because my internet is bad right now and failing to download the images or what.

[2019-03-13 21:51] kristojorg commented on #10347
I am seeing a similar issue with gatsby-source-shopify. If anybody had any luck resolving I would love to know. Not sure if it is rate limited APIs or bad internet or some internal problem.

[2019-03-13 21:58] kristojorg opened #12559 "[gatsby-source-shopify] product image localFile is null"
## Description

I have a shopify store with approximately 100 products and associated images. When running `npm run build` I am not seeing any errors, though the request is taking a while. However, when I explore my data in GraphiQL, some of the `localFile` nodes are `null`. These images do exist however, and have valid `originalSrc` urls.

### Steps to reproduce

1. Store with many products and i

[2019-03-13 22:00] kristojorg commented on #12559
I am investigating if this is an API rate limit on Shopify, or if it is a timeout while downloading files. Either way, the plugin should fail more gracefully and hopefully I'll have a PR for this.

[2019-03-13 22:01] NubSoup opened #12560 "Page Refresh Not retaining scroll position"
## Description

When i refresh a page with a scroll bar, after i have scrolled down, the page reloads but i am back at the top of the page, not at the same scroll position.

### Steps to reproduce

Go to: http://gatsby-starter-default-demo.netlify.com/

shrink window down to ensure a decent amount of vertical scrolling. Hit refresh (note it sometimes works right away but once it breaks it's broken

[2019-03-13 22:13] elie222 opened #12561 "Storybook v5, TypeScript and SVG loader"
## Description

I have been struggling to get Storybook v5, Gatsby working with SVG loader and TS to work nicely together.

### Steps to reproduce

Install the `gatsby-plugin-svgr` plugin.
Import an SVG into a `.tsx` file. Gatsby should load this fine.
Run Storybook.

### Expected result

Storybook should run and import the SVG.

### Actual result

Storybook does not load. The error is:

[code]

#

[2019-03-13 22:19] elie222 commented on #12561
I have tried to update the Storybook `webpack.config.js` file in lots of different ways, but have not had any luck getting it working.

I have tried both the Storybook v4 and v5 notes in the Gatsby readme.

Attempt with Gatsby Storybook v5 instructions:

[code]

[2019-03-13 22:22] kristojorg commented on #12559
This appears to have been an issue with ungraceful handling of timeout errors. I'll try to make a PR soon

[2019-03-13 22:34] joperron commented on #12554
Does it work if you dont import it?
Does if work if you do a full reload?

[2019-03-13 23:01] JonJamesDesign commented on #2044
@KyleAMathews being able to re-run graphql queries at runtime would be a game changer, specifically in the context of getting preview modes to work with headless CMS', such as the one offered by Prismic.

Ideally, I'd determine what type of content I need to load as a preview (based on a URL param from the CMS), then render the appropriate template for that content type, passing a prop to said tem

[2019-03-13 23:10] #4120 closed

[2019-03-13 23:52] polishedwp commented on #12519
Okay, so I spent some time on this today. I found a few problems:
- The first code box of `src/components/header.js` should be an edit and not a DIFF.
- In the first was originally a `<header></header>` and was changed to a `<div></div>`
- Also, the tutorial needed some additional styling.

I will be glad to edit the page if it would help.
Chuck

[2019-03-14 00:15] humphreybc commented on #12149
Also stuck with this one. Here's my relevant code. You can see that the generated types have things like `aspectRatio: number | null` and `srcSet: string | null` but GatsbyImage expects simply `aspectRatio: number` and doesn't handle the null case. The workaround is to map over the generated FluidObject and handle all the null cases, but that's not so great.

## Page query

[code]

## Generated ty

[2019-03-14 00:34] polarathene commented on #10882
Suggestion for fix is to have a method that can verify the image's mime type matches the extension, and if it doesn't, throw an Error so the developer is aware there was an issue during Sharp processing for the file.

[2019-03-14 00:55] calcsam opened #12563 "Add David Eads' blogpost to blog"
David Eads has given us permission to cross-post his blog post on The Ticket Trap on our blog!

We need to:

* Add the blog post text, found at https://www.propublica.org/nerds/the-ticket-trap-news-app-front-to-back-david-eads-propublica-illinois
* Add images. Tweets can be embedded just by pasting the link to the tweet
* Add an analytics tracking pixel _only_ to that one page. First create a ProP

[2019-03-14 00:57] deltaskelta commented on #12149
@DSchau I would expect that whatever Gatsby returns from the query to be a valid object for Img. If Gatsby can possibly return null for the image query `fluid` prop then there will be uncaught build error when it does, regardless of using Typescript or not. Is that correct?

If that is the case, and it is also the case that `Img` fails without the `fluid` prop then I would think Gatsby should retu

[2019-03-14 01:07] TomFreudenberg commented on #12412
Hi Dustin @DSchau

I have prepared a second branch on https://github.com/TomFreudenberg/gatsby-build-demo-melted/blob/feature-source-filesystem/pdf_melted_app

Therefor I have used gatsby-source-filesystem plugin and add the pdf pages during `onCreateNode` event instead dropping them in `onCreatePage` event.

If you had to choose for _better style_ or _preferred approach_ what would you prefer.

T

[2019-03-14 01:22] hesamkaveh commented on #12279
Yes It is not resolved and I'm using old version

[2019-03-14 01:37] emckay opened #12564 "StaticQueries do not load when their components are invoked by `ReactDOMServer.renderToString`"
## Description

StaticQueries do not load when their components are used by `ReactDOMServer.renderToString` or `ReactDOMServer.renderToStaticMarkup` on the client.

Locally, I am using the `useStaticQuery` hook and see this error:

[code]

In the demo repo linked below, I am using the `StaticQuery` component and I see `<div>Loading (StaticQuery)</div>`

### Steps to reproduce

Call `ReactDOMServer

[2019-03-14 01:40] humphreybc commented on #12149
FYI if it's helpful for anyone, here's my temporary workaround:

[code]

[2019-03-14 01:44] DSchau commented on #12564
Thanks for the reproduction!

So--I'm not _really_ sure what you're trying to do here, but it's not really expected that this would work with ReactDOMServer.renderToString. We invoke those APIs _for_ you when you're writing a Gatsby app.

Is there a reason you're invoking those APIs here? Maybe there's a use case I'm not understanding here!

Something like [this Codesandbox](https://codesandbox.io

[2019-03-14 02:04] maru3l commented on #12554
No, I'm getting the same issue. But I found a old package.json on a other branch and I don't have the issue with this configuration. I will try to upgrade one package at the time to see with one make the issue.

[code]

[2019-03-14 02:12] emckay commented on #12564
Admittedly this is a very unusual use-case! I should have given more background in the original question because I can see that it looks like I have no idea what I'm doing ;)

I don't want to render the actual DOM elements (as done by your codesandbox) -- I want to render the html string, as shown by the `ExampleComponentWithoutStaticQuery` in [my original sandbox](https://codesandbox.io/s/1r6x310

[2019-03-14 02:33] marcysutton commented on #5581
Update: I'll do some more testing of my own once the CSUN Assistive Tech conference is over, but I'm also doing prototype testing with people with disabilities to try and establish a best practice: https://marcysutton.com/prototype-testing-accessible-clientside-routing/

[2019-03-14 03:52] itrevex commented on #12537
Calling the navigate function inside the React Component class constructor was causing the problem. I resolved the issue by changing my logic and calling the `navigate()` function inside `componentDidMount()` method

[2019-03-14 03:52] #12537 closed

[2019-03-14 05:01] TemporalAgent7 opened #12566 "JavaScript heap out of memory"
## Description

I believe `gatsby develop` may have a memory leak. I'm seeing the same thing on different machines (16Gb and 32Gb RAM); the **graphql queries** step runs until the node process reaches roughly ~1.5GB memory usage then crashes with a message like:

[code]

`gatsby build` does succeed; the node process maintains a constant memory usage (of around 320Mb) and constantly pegs a single c

[2019-03-14 05:04] arturfsousa commented on #11667
Hey guys, I've sent a PR to add the warning #12565. Let me know if you need any changes.

Thank you 😀

[2019-03-14 05:15] KyleAMathews commented on #12149
Gatsby's types are nullable as we can't guarantee that data will be available when queries are run. gatsby-image doesn't have the same contract so isn't nullable.

[2019-03-14 05:15] #12149 closed

[2019-03-14 06:50] hilja commented on #12272
This does not touch the threading of schema building, right?

Referring to the comment: https://github.com/gatsbyjs/gatsby/issues/7373#issuecomment-413570634

Only one Node process working (this screencap is _not_ from the beta release, just adding it here to illustrate my point):

<img width="750" alt="Screenshot 2019-01-10 10 14 07" src="https://user-images.githubusercontent.com/2558021/54336496

[2019-03-14 07:02] stefanprobst commented on #12272
@hilja The new schema customization API is not about *running queries*, but about schema generation, so this has not changed yet. There is experimental work going on to allow field resolvers to offload work to other processes, but that is not ready yet.

[2019-03-14 07:07] rhysforyou opened #12567 "Generate fully qualified URLs when building"
## Summary

When building my site, I want the URLs used in things like `Link` components, meta tags, and so on to be fully qualified. That means rather than `/posts/` I'd want `http://example.com/posts/`. This could be achieved by allowing a base URL to be specified in `gatsby-config.js` or with a command line flag.

### Basic example

Given the following component:

[code]

I'd want `gatsby build

[2019-03-14 08:07] dcorb commented on #9398
I'm having the same issue, probably because in my case the destination page is a dynamic page created with `createPages` hook
In this case, what component should receive the  `props.location.state`?  The template `tpl.js` file  ?

Btw, notice that don't follow the docs from  https://reach.tech/router/api/navigate. They are wrong https://github.com/reach/router/issues/96 ,  but Gatsby docs are corr

[2019-03-14 08:22] Paddy888 opened #12568 "Help with formatting frontmatter?"
I am using the Netlify starter, and the pages are written as .md files with the content all in the frontmatter. As I am new to all of this, I am having a lot of difficulty in formatting the results. For example, the products page. I am unable to break sections into multiple lines or paragraphs. It all displays as 1 block of text. I looked at the yaml docs and thought I could use | to preserve line

[2019-03-14 08:22] masimplo opened #12569 "StaticQuery result cannot be fetched if component in different monorepo package"
## Description

I have a StaticQuery inside a component that is not executed. The component is part of a shared-ui package of a monorepo. Another package of the monorepo imports the shared-ui package in order to use it.

### Steps to reproduce
Following [this Gatsby blog post](https://www.gatsbyjs.org/blog/2019-01-01-publish-multiple-gatsby-sites/) I have created a project that has 3 packages. One

[2019-03-14 08:28] robinmetral commented on #11901
Thanks gatsbot, but I don't think the issue is stale!

This is a possible solution:

[2019-03-14 08:33] RikoSmith commented on #12563
Hello, is it possible to accept this as an issue for Pair Programming? I'm a newcomer to the community and I think it would be good first issue and excellent choice for Pair Programming session

[2019-03-14 08:35] jariz commented on #12536
Alright, thanks for the explanation, I sorta understand what's happening now.
I'll close this in favour of #11006, and I'll remove the stale label from there.

[2019-03-14 08:35] #12536 closed

[2019-03-14 09:30] arturhenryy commented on #10347
@hesselberg that might be a temporary fix, but at the next build you could encounter the same issues again. at least thats how it was with our page. so basically what i do right now is building countless times until i get a build with all necessary images haha.

[2019-03-14 09:36] jeliasson commented on #10882
In my case, I'm not even trying to convert it to JPEG from what I can tell.
[code]

Also, how can I include support for MozJPEG and/or MozPNG on a alpine-image. Whhat `apk` packages may that me? Thanks!

[2019-03-14 09:50] johngrasty commented on #6654
@njmyers

Thanks so much. Your version solved some problems that I was having. I combined that with a line or two to filter out downloading 25 GB of mp3s, and I am now set!

[2019-03-14 09:59] lucasfrey commented on #5229
I had similar a similar issue recently. I wanted to use a different environment and in the API Key setting of my second environment wasn't check.
Hope that help someone :)

[2019-03-14 10:16] hesamkaveh opened #12571 "Change source url of gatsby-plugin-i18next"
Source url in [this post](https://www.gatsbyjs.org/packages/gatsby-plugin-i18next/#gatsby-starter-i18next) must replace with this:
https://github.com/ikhudo/gatsby-i18n-plugin/blob/HEAD/starters/gatsby-starter-i18next

[2019-03-14 10:34] nickcolley commented on #5581
@marcysutton thanks Marcy, let me know if you need any help!

[2019-03-14 10:42] martzoukos commented on #10592
Hello there,

I am Contentful's product manager working on our Rich Text editor and we recently released an improvement in the `gatsby-source-contentful` plugin where it doesn't return a flattened HTML string anymore but the Rich Text AST as a JSON object, with all the embedded entries and assets resolved. Then you can use our [rendering libraries](https://github.com/contentful/rich-text) in order

[2019-03-14 10:44] martzoukos commented on #10592
Hello there,

I am Contentful's product manager working on our Rich Text editor and we recently released an improvement in the `gatsby-source-contentful` plugin where it doesn't return a flattened HTML string anymore but the Rich Text AST as a JSON object, with all the embedded entries and assets resolved. Then you can use our [rendering libraries](https://github.com/contentful/rich-text) in order

[2019-03-14 10:53] JoshLong23 opened #12572 "Gatsby + NetlifyCMS image src not correct and srcset not being used"
## Description

After gatsby develop and build, the src attribute of images in markdown files(coming from NetlifyCMS) tries to look at where the image has been saved in the repo - ../../../static/assets/image.jpg

This occurred after updating a number of packages:
"gatsby": "^2.1.31",
"gatsby-plugin-netlify": "^2.0.12",
"gatsby-plugin-netlify-cms": "^3.0.14",
"gatsby-plugin-sharp": "^2.0.28",
"gat

[2019-03-14 11:06] kepi0809 commented on #8301
Yeah this is unfortunately not a production ready solution... :/ On a blog with over 300 Posts the build time would radically increase :(

[2019-03-14 11:31] pieh commented on #12279
I think You need to adjust your queries that use categories filter to something like

[code]
check graphiql for exact syntax - above might not work

[2019-03-14 11:59] colbyfayock commented on #12550
yup, thats exactly what i have 👍 thanks

[2019-03-14 12:27] nodox opened #12576 "[help] how do you configure expressJS to visit client-only routes directly?"
## Summary

I'm trying to setup my gatsby site to handle direct links to [client-only](https://www.gatsbyjs.org/docs/building-apps-with-gatsby/#client-only-routes--user-authentication) routes as mentioned here in the docs.

While its useful to know that I will need to talk to my server to handle the case of accessing links directly, how exactly would one go about setting this up with an express/no

[2019-03-14 12:30] pieh commented on #12571
Hey, we use https://github.com/algolia/npm-search to get npm packages with `gatsby-plugin` keyword and get readme from it

It seems like readme in that index is outdated for some reason:
![Screenshot 2019-03-14 at 13 27 37](https://user-images.githubusercontent.com/419821/54356977-39f87d80-465d-11e9-984c-7850fd7a44bf.png)

[2019-03-14 12:32] pieh commented on #12571
Ohhh - actually, it's not outdated - it just uses relative path and we don't transform it to be relative to your github. Not sure how to solve this easily - but you could change Source url to be absolute, which should workaround this problem

[2019-03-14 12:53] pieh commented on #12566
Hey @TemporalAgent7
In develop we do hold query results in memory. It seems like page query results (at least for "crew" paths) are very large -
![Screenshot 2019-03-14 at 13 50 40](https://user-images.githubusercontent.com/419821/54358316-55b15300-4660-11e9-89e0-5004afe1d518.png). So those piles up for that develop vs build memory usage difference.

So while this out of memory should definitely b

[2019-03-14 12:57] wardpeet commented on #12560
It seems like an issue with `scroll-behaviour` package we use. We restore the original scrollRestoration value on page navigation but I guess when doing a lot of refreshes onbeforeunload does not have time to actually run code.

https://github.com/taion/scroll-behavior/blob/6bbb7f0d462a3c084a5b13758a7077f19d752a40/src/index.js#L44. we could create a PR to actually force it to auto instead of the l

[2019-03-14 13:02] pieh commented on #12567
You can do `<meta property="og:url" content={`${domain}${location.href}`} />` and you can specify `domain` however you want - be it in gatsby-config or even hard code

[2019-03-14 13:08] #12550 closed

[2019-03-14 13:12] pieh commented on #12569
We currently don't support static queries defined in places other than current site. This is something we will need to implement, just not yet sure how exactly we will do that, because we need to parse all files to extract those queries and examining all files in `node_modules` is just very expensive and not very viable.

This is also why we didn't yet publish standalone SEO component that we use

[2019-03-14 13:22] pieh commented on #12568
The `description` string should have line-breaks in it, but it doesn't convert to html line breaks or paragraphs automatically.

To format your text you need to manipulate that string in some ways.

Here's one example:
I will treat 2 line breaks as paragraph delimiter, and single line break just as `<br>`:

[code]

This will render something like this:

[code]

[2019-03-14 13:25] pieh commented on #12568
Alternatively you can use packages like https://www.npmjs.com/package/lines-to-paragraphs that do similar thing:

[code]

[2019-03-14 13:28] pieh commented on #12576
We have this implemented in `gatsby serve` - see https://github.com/gatsbyjs/gatsby/blob/3b3153d410800890c87af25df192136e2a4af97b/packages/gatsby/src/commands/serve.js#L13-L41 (and how it's called with `express`/`router` below that

[2019-03-14 13:32] pieh commented on #12572
I've seen some problems when using `gatsby-remark-relative-images` plugin, which afaik is needed to be able to use image processing with NetlifyCMS. I will take a look at this

[2019-03-14 13:47] JoshLong23 commented on #12572
You’re a star, thanks for having a look at this!

What I find weird (frustrating!), is that before it broke, it was working brilliantly, to the point where I was surprised at how easy it was to set up!

[2019-03-14 13:53] polarathene commented on #10882
@jeliasson Then your issue is unrelated to this bug, MozJPEG is only for JPEG outputs, there are versions that can take PNG images as inputs(but it's unclear that will be supported in newer versions built with CMake).

I haven't touched my Docker alpine gatsby image for a few months now, it wasn't very reliable(npm packages installed binaries for png/webp and maybe jpg that were not compatible for

[2019-03-14 14:22] hesamkaveh commented on #12279
Oh i searched for syntax and i find a syntax that work correctly with new gatsby!

My Previous syntax:
`allWordpressPost(filter: {tags: {id: {eq: $id}}}) {`

And my new syntax:
`allWordpressPost(filter: {tags: { elemMatch:{id: {eq: $id}}}}) {`

thanks:)

[2019-03-14 14:36] phacks commented on #12198
Hi!

I’m interested in following-up on this memory leak. Could also reproduce the problem by reproducing the steps given by @atomiks.

It’s even clearer on the Memory Timeline view: each “step” appears when I navigate through another page:

![image](https://user-images.githubusercontent.com/2587348/54364788-de82bb80-466d-11e9-9af0-501468a7cad9.png)

I dug around in the React issues and found https

[2019-03-14 14:46] Paddy888 commented on #12568
Thank you for the reply. I am unclear on how to actually implement this though. For example using the product page here: https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/src/templates/product-page.js

I import paragraphs, but I do not understand what to do next. I tried this:

` <Features gridItems={intro.blurbs} />
              <div className="columns">

[2019-03-14 15:05] aengl opened #12577 "[gatsby-react-router-scroll] Console warnings in production version"
## Description

When accessing the deployed website with cookies disabled, the console is spammed with the following error when scrolling:

[code]

Relevant code lines: https://github.com/gatsbyjs/gatsby/blob/421ec9dba71f8048d5351d6a499b2d0b3df7cbaf/packages/gatsby-react-router-scroll/src/StateStorage.js#L42-L44

### Steps to reproduce

• Go to https://www.gatsbyjs.org/
• Disable cookies and refre

[2019-03-14 15:07] pieh commented on #12572
It seems like there is problem with `gatsby-remark-copy-linked-files` - after commenting this out of gatsby-config it works again - I will investigate this further - just wanted to share progress on this

[2019-03-14 15:11] DSchau commented on #12198
@phacks those are peerDependencies, so Gatsby doesn't really tie to a specific version. You can use anything in that range, which would basically be anything less than a major version bump.

However, since this is reactjs.org that we're talking about, we can see that they're on [16.8.3](https://github.com/reactjs/reactjs.org/blob/master/yarn.lock#L10286) so while a super good idea--not sure that b

[2019-03-14 15:22] JoshLong23 commented on #12572
Interesting... when you say it works, what result did you get?

I’ve just tried commenting out that plugin, cleaned cache, removed package.lock and then did a build & serve, but still have the same results in terms of the image src being incorrect?

[2019-03-14 15:27] phacks commented on #12198
@DSchau Indeed, good catch! I’ll try and think of other possible causes, will keep you updated 👍

[2019-03-14 15:28] zslabs commented on #12568
`dangerouslySetInnerHTML` is the key as @pieh mentioned above.

[code]

[2019-03-14 15:30] nodox commented on #12576
This is helpful! @pieh

Though am I correct to notice that this assumes the site is served from the express backend? I'm not sure how this would work if my gatsby site is hosted on netlify while talking to an express backend.

[2019-03-14 15:33] Paddy888 commented on #12568
I tried that and a few other variations and it won't compile. It breaks the JSX?

`Syntax Error: SyntaxError: C:\Users\abark\Documents\ProGritSanding\gatsby-starter-netlify-cms\src\templates\product-page.js: Expected corresponding JSX closing tag for <div> (64:90)`

[2019-03-14 15:36] Paddy888 commented on #12568
That seemed to work-- thanks!

[2019-03-14 15:41] #12362 closed

[2019-03-14 15:47] #12568 closed

[2019-03-14 15:57] pieh commented on #12572
Yeah, after doing more investigating it seems like this was accidental - it seems somewhere else we have some problem with async code actually - I'm still checking this out - debugging async code is just the worst ;(

[2019-03-14 16:15] jeliasson commented on #10882
@polarathene Thanks for your extended answer! I don't mind having larger images, but are more concerned about build times. I'll see what I can come up with. Thanks again!

[2019-03-14 16:20] pieh commented on #12572
Ok, seems like last release of `gatsby-transformer-remark` introduced some regresssions with async code ( https://github.com/gatsbyjs/gatsby/pull/7512 )

please pin version of `gatsby-transformer-remark` to `2.3.2` (remove `^` before the version in package.json)

[2019-03-14 16:27] vermario commented on #3344
I have seen the new API in preview: however it's not clear to me how that could be used to "snapshot" the existing graphql schema to solve the issue that was discussed in this ticket. I saw there is for example https://www.gatsbyjs.org/packages/gatsby-plugin-extract-schema/ with some simple code to extract the schema to a json file. Would the idea be that then something like that could be "fed aga

[2019-03-14 16:51] JoshLong23 commented on #12572
Tried doing that, did the same clean cache, delete node modules and .lock then did build and serve but still all the image src attributes are looking for ../../../static/assets.

Should that have been resolved now by pinning the version?

[2019-03-14 16:54] danboyle8637 opened #12579 "Conditionally setPostBodyComponents using pathname... what does pathname look like?"
I use setPostBodyComponents to create my Facebook Messenger div... but I don't want to show it on every single page...

I have code like...

[code]

On my last deploy this doesn't seem to work. The Messenger chicklet gets rendered on all pages.

What does pathname look like?

I tried console logging but in production it doesn't log the pathname out.

Can I do what I'm tryning?

[2019-03-14 16:55] robinmetral commented on #6273
Thank you @TN1ck, you solved my issue too! Please submit this PR, or I will :wink:

[2019-03-14 16:55] pieh commented on #12572
at least temporarirly, yes - when you remove `^` it "pins" version to be exact - yesteday release of `gatsby-transformer-remark` introduced some bugs (and this issue is example of problems it introduced), so using earlier release should solve the problem.

I just openend Pull Request with fix ( https://github.com/gatsbyjs/gatsby/pull/12578 ), but it's not merged and released yet

[2019-03-14 16:58] JoshLong23 commented on #12572
Hmm, where it still isn’t working for me, does that mean I’ve probably got another error somewhere else that’s causing the src paths to be incorrect?

[2019-03-14 17:02] pieh commented on #12572
can you paste `gatsby info` again?

[2019-03-14 17:11] pieh commented on #12579
You can check `.cache/pages.json` - this will be array of objects and `path` field in those objects is your `pathname`

But in here there is different issue - your condition should use `&&` (not `||`)

because `pathname !== '/' || pathname !== '/privacy' will always be true (no matter what pathname is used one of those will be always true)

[2019-03-14 17:14] pieh commented on #12577
@aengl I'm not sure I totally agree about leaking internals, but I don't oppose to make that conditional and wrap this `console.warn` in `if (process.env.NODE_ENV !== `production`)` - would you be interested in creating Pull Request with that change?

[2019-03-14 17:17] pieh commented on #12576
Oh, I probably didn't understood the use case correctly then. Can you elaborate on how you serve (or want to serve) your application? (I just extracted `express` from it and thought question was how to configure express server)

[2019-03-14 17:20] pieh commented on #3344
@vermario It doesn't support creating schema snaphost just yet. But it should solve the issue better than creating snapshot. Once this is merged we will start implementing type definitions to plugins (including Drupal one). If Drupal has introspection endpoint (I'm not expert on drupal). Then we will be able to generate correct schema even without any data, so snapshot wouldn't be needed at all

[2019-03-14 17:23] pieh commented on #12198
We do lazy load js bundles and query result json files, so it is expected that memory gets more and more saturated as you navigate the page. Question is if there is some unnecessary memory usage / memory leaks

[2019-03-14 17:30] danboyle8637 commented on #12579
@pieh Thanks! Yes... right... Always messing up my conditionals. Thanks for the help!

[2019-03-14 17:31] lannonbr commented on #11946
Switching this to not stale as @johno and @ChristopherBiscardi are working on switching the .org site to mdx here: https://github.com/gatsbyjs/gatsby/pull/12514

[2019-03-14 17:33] aengl commented on #12577
@pieh Sure, will do.

[2019-03-14 17:34] DevSide opened #12580 "Exclude .gitkeep from gatsby-source-filesystem scan"
## Description

Exclude .gitkeep from gatsby-source-filesystem scan

### Expected result
No File node for .gitkeep files

### Actual result
A File node is created for each .gitkeep

[2019-03-14 17:37] baobabKoodaa commented on #12552
Additional information: today I saw this error on a Netlify build. After hitting "retry build" it worked. So this issue affects not only `gatsby develop` but also `gatsby build`.

[2019-03-14 17:39] phacks commented on #12198
@pieh Is going back & forth between two pages supposed to generate new queries (and thus memory usage grow)?

[2019-03-14 17:51] docwhat commented on #11952
I like @DSchau's idea.

[2019-03-14 17:51] docwhat commented on #11952
@wardpeet You have this marked as need more information;  Is that still true?

[2019-03-14 18:12] iantbarker commented on #5729
@frostyweather Did you ever find a resolution to this? I am running into the same issue.

[2019-03-14 18:18] DSchau commented on #11952
@docwhat I probably won't have time anytime soon to continue work on this--but I have a WIP PR implementation of this algorithm [here](https://github.com/DSchau/gatsby/pull/9/files).

More than happy to pair with you on this to get it a little further along if you're interested!

[2019-03-14 18:20] iantbarker commented on #5021
@blakenoll Thanks so much for your showdown tip. Super helpful and did what I needed to use HTML in frontmatter. That said, seems a clunky approach to using Markdown to create a web page that needs to pass different pieces of content to different parts of the page.

[2019-03-14 18:51] pieh commented on #12572
I've merged the fix to `gatsby-transformer-remark` and published new version ( `gatsby-transformer-remark@2.3.4` ) which should fix this. I've also opened PR against your reproduction repo that bumps that package version - https://github.com/JoshLong23/barebones-NetlifyCMS/pull/1

[2019-03-14 19:12] pieh commented on #12580
`.gitkeep` is convention but is not really a formal standard, so I don't really want to put this in global ignore list.

But you can add this yourself:

[code]

[2019-03-14 19:50] #12572 closed

[2019-03-14 19:51] robinmetral commented on #12527
Same question here, did you ever find out why @jerus1403?

[2019-03-14 19:54] pieh commented on #12527
Problem in this case was that referenced image was not in `/wp-json/wp/v2/media` wordpress REST endpoint response in one of the sites (one that had `url` instead of `source_url`), so it didn't convert field to Media object (so it wouldn't allow to run image processing)

While we can't fix that in gatsby as this is something on wordpress side, we should be able to show some meaningful warning in ca

[2019-03-14 19:57] jschuler commented on #10990
I am also looking for this feature so that i can filter on a nested array of objects and get just the items back that fulfill my criteria

[2019-03-14 20:26] JoshLong23 commented on #12572
Just tried it again now and we're all good! Thank you for working this out for me, I'd have never managed on my own!

I'm pretty new to the web dev community as a whole, only been doing this for 8 months or so, so I was just wondering what your process for working all this out was?

[2019-03-14 20:33] pieh commented on #12572
lot of trial error, console.log(s), checking git history with related packages and educated guesses ;)

[2019-03-14 20:37] robinmetral commented on #11901
I tried to upgrade `pupetteer` and to test it locally, but it didn't fix it.

Here's what I did:

1. [Set up my local environment](https://www.gatsbyjs.org/contributing/setting-up-your-local-dev-environment/)
2. Updated `pupetteer` to v.1.11.0 in [`packages/gatsby-transformer-screenshot/lambda/package.json`](https://github.com/gatsbyjs/gatsby/blob/d33b3ec1185feef75e1242962e915eff07b9b43a/packages/

[2019-03-14 20:52] robinmetral commented on #12527
Thanks @pieh! I had a similar case where `url` showed up for a misconfigured WordPress. So a working endpoint should expose `source_url` :slightly_smiling_face:

[2019-03-14 23:03] jerus1403 commented on #12527
@robinmetral it was the way we imported the images. So now we have to do it manually to ensure all the images are imported to the same place.

[2019-03-14 23:17] eghan commented on #10867
I'm having this issue as well, clearing cache does work but is less than optimal for every dev build.  The problem definitely started when I added a component with a static query that fetches a large number of images...  curious if I've done something wrong or if this behavior is expected?  is there a way to avoid this?
full source --> https://github.com/eghan/gatsby-storefront/blob/master/src/com

[2019-03-14 23:28] NubSoup commented on #12560
@wardpeet,  Thanks for looking into this. i didn't go deep enough into the packages it seems.

This problem is also not only against quick refreshing, but first page load to first and only reload. I am able to start up a clean new gatsby starter project locally. Load the home page in browser, resize it, scroll, refresh once and see that it's not retaining the scroll position.

I did some quick con

[2019-03-14 23:59] Steffi3rd opened #12587 "Bug when access directly to client-only page. Works using navigate()"
Hello
Guys, you have to save me please.

I have client-only pages in my app.
I have this in my `gatsby-node.js` :

[code]

When I navigate using `<Link to="/account">` or `navigate("/account")`, my page `account` is loaded fine 👍

But when I tried to access directly by typing in the address bar `/account` —  it's redirects me to "/", so I never reached this page. It's like page doesn't exist...

W

[2019-03-15 00:02] ryancharris commented on #12291
@ChristopherBiscardi Sounds good to me. I have the top level keys stuff pretty much working. Just gotta take care of the suggestions.

[2019-03-15 00:08] marcysutton commented on #11490
Sorry for the delay on this, I'd say go ahead with the restructuring! I look forward to seeing what you come up with.

[2019-03-15 00:55] pieh commented on #12587
You need server side rewrites (because your hosting isn't aware of `/account/` path. This is mentioned in https://www.gatsbyjs.org/docs/building-apps-with-gatsby/#client-only-routes--user-authentication

What are you using for hosting?

[2019-03-15 02:14] daniellizik commented on #8238
I don't get this issue if I make a new project with gatsby cli. This only seems to happen for me if I need to migrate a project to gatsby (without cli) and just copy/paste lots of files.

[2019-03-15 03:18] atomiks commented on #12198
Yeah I was thinking visting pages already in the cache shouldn't cause it to continue to grow

[2019-03-15 04:18] jasonblalock commented on #6688
Closing the loop on this in case somebody comes here again. This was fixed by https://github.com/gatsbyjs/gatsby/pull/12474

[2019-03-15 04:39] calcsam commented on #12563
David now suggested it would be easier to have a Q&A session with him, so I'll be doing that!

[2019-03-15 04:39] #12563 closed

[2019-03-15 05:07] Jvalal commented on #1846
I'm still getting this error. I tried adding the patch from 1846, but no dice.

![image](https://user-images.githubusercontent.com/3803053/54409739-8e275000-46a5-11e9-8636-3a6c63e5e5de.png)

[2019-03-15 05:20] ArpitaSrivas opened #12588 "Is there a way to provide variables to the graphql query accepted by gatsby-plugin-feed?"
I would like to pass a dynamic query to the` feeds` option: something like this
[code]
By looking into the code at [gatsby-plugin-feed internals](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-feed/src/internals.js#L7), I could interpret that it passes only a single argument to graphql.

Is there a work around or any other way I could achieve this?

[2019-03-15 05:45] TemporalAgent7 commented on #12566
I trimmed the queries down to only the needed fields, and the situation didn't really improve. Now the build sometimes fails on Netlify (due to their 15 minute timeout); the most expensive step is still the [run graphql queries](https://app.netlify.com/sites/datacore/deploys/5c8b376d8e95ed00077ffeca) (709.850 s — 726/726 1.02 queries/second).

I have a many-to-many relationship between 2 large JSO

[2019-03-15 06:12] jserrao commented on #12510
Would be great to see if we can deal with the upstream issues around including GraphQL fragments in GraphiQL.

[2019-03-15 06:44] robinmetral commented on #11490
Thanks @marcysutton, I will :slightly_smiling_face:

[2019-03-15 07:35] PHironaka commented on #12559
@kristojorg  I'm experiencing the same issue with my images.

[2019-03-15 07:42] dumblole opened #12589 "gatsby-browser onRoutChange in layout?"
## Summary
I understand how onRouteChange works for gatsby-browser and I use it to log whenever a user changed page. The problem is is that I want to load in a loading page while the new route is loading like videos or something. I use a layout currently to add footer and header functionality to all my pages and I'm planning on adding my loading page to the layout component. Is there a way to impo

[2019-03-15 07:59] Steffi3rd commented on #12587
But does I need client-only route.

What I only trying do to is is :
- Nested url like `/account/settings`, `/projects/:projectName`
- And the content of these pages are generated (or filled) using `fetch(...)` `setState...`
- And one of these pages requires `token` doesn't exist redirect to `/login`

It's seems weird we can do that with gatsby, even with React it works.

I'm using free Netilfy

[2019-03-15 09:28] Steffi3rd commented on #12587
The things is on `yarn develop`, everything works! Even on refresh.
But on `yarn serve`, it fails when access directly or reload a client-only route.

[2019-03-15 09:30] pieh commented on #12588
Can you show example of dynamic string? If it's some value you can use [template string](https://developer.mozilla.org/pl/docs/Web/JavaScript/Referencje/template_strings) in query string:

[code]

[2019-03-15 09:39] Steffi3rd commented on #11966
Hello guys,

Can you help me please?

I think it's maybe the same problem: https://github.com/gatsbyjs/gatsby/issues/12587

but I don't understand how do solve that.

[2019-03-15 09:52] pieh commented on #12587
Please add `gatsby-plugin-netlify` to your config - this should fix accessing client only paths directly on netlify

[2019-03-15 09:54] Steffi3rd commented on #12587
:O !!!! OMG let me try this...

[2019-03-15 09:57] ArpitaSrivas commented on #12588
Thanks for the quick help. This worked!

[2019-03-15 10:03] Steffi3rd commented on #12587
@pieh I added but not yet deploy on Netlify. I tried before using `yarn serve` and it's doesn't, is it normal?

[2019-03-15 10:17] Undistraction commented on #12399
This is what I ended up doing:

I opted not to use `gatsby-plugin-compile-es6-packages` as I don't think this approach scales. It might if the only modules that were causing problems were top level dependencies, but given that it could be a module deep in the dependency tree that needs polyfilling, I feel this is an ineffective solution. I was also concerned with potential side-effects by transpil

[2019-03-15 10:21] Undistraction commented on #12409
@DSchau I've added a writeup as to how I got things working in https://github.com/gatsbyjs/gatsby/issues/12399.

In terms of improving things I think it would be great if `babel-preset-gatsby` exposed:

- `useBuiltIns` so that a developer can opt to use `entry` instead of `usage`.
- `debug` so that a developer can clearly see what polyfills and transforms are being applied.

I'd be happy to put a

[2019-03-15 10:28] rnitta opened #12590 "Gatsby-plugin-sitemap should remove the trailing slash of siteUrl"
## Summary

If you have such config file as:

[code]

then, the generated sitemap will be like:

[code]

So the plugin should do something avoid generating double-slashed url.

### Basic example

### Motivation

https://github.com/gatsbyjs/gatsby/blob/9298fa374736aa9a88941b3de5b5dfd916bbfd3c/packages/gatsby-plugin-sitemap/src/internals.js#L28

As you can see here, the all paths has a prefixed slas

[2019-03-15 10:45] supermoos opened #12591 "pages-manifest[chunk].js should be cacheable / renamed, otherwise every single page' html get's changed on every build. Causing huge deploy upload times on netlify for example."
## Summary

pages-manifest[chunk].js get's generated on each build, so if I add a single page, then the chunk name changes, and because every single page*.html file has an inline reference to this page-manifest[chunk].js file, then every single page*.html file get's a new checksum / content, even though nothing changed in those files besides the file reference. This causes netlify to re-upload all

[2019-03-15 10:47] MTayyabYounas commented on #9899
i dont have any extension like this but i also have same error.

[2019-03-15 10:59] #12279 closed

[2019-03-15 12:03] pieh commented on #12591
See https://github.com/gatsbyjs/gatsby/issues/11982 for more details - we are aware of it (and that it doesn't scale very well)

[2019-03-15 12:19] jkodu opened #12592 "Documentation does not have right color contrast/ readability when using dark reader"
Using the plugin
- https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh?hl=en

I use the plugin Dark Reader, and it does not seem to play well for gatsby documentation pages:

![image](https://user-images.githubusercontent.com/20978252/54430776-82c33b80-471c-11e9-951e-a0a07f4c09fb.png)

[2019-03-15 12:37] vermario commented on #3344
@pieh sounds great: we will keep watching this space. In the meantime we are adding "test" content ( :/ ) and excluding the content from graphql queries at build time. Feels "dirty" :) Thanks!

[2019-03-15 13:46] aengl commented on #12577
Let me know if you want the commit or PR name changed, there seem to be some loosely followed naming conventions but I didn't want to make too many assumptions.

[2019-03-15 14:40] jonniebigodes commented on #12552
@baobabKoodaa that's not a gatsby error per se. The problem is Potrace package throwing a "fit", i've been observing the behaviour while answering some issues that popped up around here ranging from people with markdown issues to simple image import issues. While i was coming up with a code reproduction for those people, I've seen that package throw that exact error with .png files, to .jpg files

[2019-03-15 14:46] baobabKoodaa commented on #12552
Wow, that's surprising. I thought it must be a concurrency issue with multiple Gatsby plugins doing things to images concurrently.

[2019-03-15 14:58] ergunpp commented on #12082
No. The weird thing is i did another site with gatsby and the same issue is
not happening there. I just need help how to solve that problem.

On Wed, Feb 27, 2019 at 8:04 PM Kyle Mathews <notifications@github.com>
wrote:

[2019-03-15 15:43] hesselberg commented on #10347
@arturhenryy I see. And I agree, I ran into the same issue now. Hmmpf. Not good.

[2019-03-15 15:49] rilexus commented on #3778
I have one related issue!
After building the project, my animation are not triggered. Any other styles are applied correctly. In development everything is fine.
I use "emotion" styled component and the "react-transition-group"(CSSTransition) for the animation.
How ever! When i **un-minify the relalated html file** after build, all animation are triggered correctly.

[2019-03-15 15:50] DSchau commented on #12399
Did you try `.babelrc.js`? If that doesn't work--that's a bit concerning. If .babelrc works, though, then the .js variant should as well.

You see our concern with us transpiling node_modules globally, then! Generally - I think this is pretty safe, but I see your point.

_Kinda_ agree with this. I think smart defaults but also allowing these defaults to be customized is the right approach. I like

[2019-03-15 15:50] pieh commented on #12577
The PR names itself don't matter much - we only change those to follow conventional commits, so merge commit is later on using them as this is helpful to generate automatic changelog entries. But yours is fine

[2019-03-15 15:56] hesselberg commented on #12559
Seems to be related here as well? https://github.com/gatsbyjs/gatsby/issues/10347

[2019-03-15 16:18] amanrathore10 commented on #4123
Thanks mate, it fixed my error too.

[2019-03-15 16:23] Undistraction commented on #12399
I completely see your concern. I'm absolutely not being down on you guys. It's a tricky problem to solve, and getting into transpiling third party modules is a big thing and one that will bring its own batch of obscure issues.

I think that would be helpful yes.

Unfortunately I'm still having intermittent issues with `babel-preset-env` being unable to find the `import @babel/polyfill`. Whether ru

[2019-03-15 16:31] #12577 closed

[2019-03-15 16:37] jcbaey commented on #12554
I have exactly the same issue. Have you found the root cause?

[2019-03-15 16:49] arturhenryy commented on #10347
@sidharthachatterjee could you please reopen this ticket?

[2019-03-15 16:58] immbudden opened #12594 "Cannot query field "localFile" with prismic.io"
## Description

I am very new to react and have been working on my first gatsby site for a client. Having previously used `gatsby-image` to compress and serve images uploaded in prismic.io CMS - I had a version working using 2.0.0-alpha.5 of `gatsby-source-prismic`. I am using prismic.io as the CMS for the news section of the site.

Project has been on hold for a month and after making a few chang

[2019-03-15 17:27] #9611 closed

[2019-03-15 17:27] #11675 closed

[2019-03-15 17:27] #11680 closed

[2019-03-15 17:30] kristojorg commented on #10347
I believe the source library needs to wrap the call to `createRemoteFileNode` in a try catch block if they want to handle the case of that function failing. I tried this with a local copy of source-shopify and it did work. I was able to retry the download and also throw a console error or else fail more gracefully

[2019-03-15 17:32] kristojorg commented on #12559
I believe it's related. I can work on a fix this weekend or next week. For now I am querying the `originalSrc` in my graphql query and then displaying a standard `img` tag if the `localFile` is `null`.

[2019-03-15 17:33] kristojorg commented on #12559
See the issue @hesselberg linked for my description of how to fix in source-shopify if you want to make a PR before I get to it

[2019-03-15 17:36] pieh commented on #12592
I would think that this is issue more with this browser extension and not with gatsby website directly. I have no idea how this extension works and what's needed on our website to make it play nice with it

[2019-03-15 17:39] pieh commented on #12592
It seems like this extension doesn't support SPAs that loads extra styles after initial load.

[2019-03-15 17:41] pieh commented on #12592
Also - there is open issue to provide toggle on gatsbyjs.org that would switch between default light theme and dark theme - https://github.com/gatsbyjs/gatsby/issues/8789, which would solve this better than generic browser extension (IMO)

[2019-03-15 17:48] pieh commented on #12589
We do have `gatsby-plugin-nprogress` plugin that does show loading indicator if page didn't load fast. Reason for not showing this progress immediately is that, this actually decrease "perceived" performance.

But before diving into that - are your pages loading so long that showing videos seems like needed "distraction"? To me long page loading seems like true problem here?

[2019-03-15 17:54] pieh commented on #12590
This does make sense. I think that adjusting query result handler - https://github.com/gatsbyjs/gatsby/blob/9298fa374736aa9a88941b3de5b5dfd916bbfd3c/packages/gatsby-plugin-sitemap/src/internals.js#L13-L32

and adding:
[code]

does make sense - would you be interested in opening Pull Request with that change?

[2019-03-15 18:05] jkodu commented on #12592
I have tested the extension on several SPA, and it works fine.

But if they're is a roadmap to toggle styles that's cool with me.

[2019-03-15 18:05] #12592 closed

[2019-03-15 18:07] pieh commented on #12594
In your `gatsby-config.js` in `gatsby-source-prismic` you have this section:
https://github.com/immbudden/Lanyon/blob/master/gatsby-config.js#L113-L121

and because you never do `return true` there - it means that images are never downloaded and therefore `localFile` is not available. Just putting `return true` should fix this

[2019-03-15 18:25] pieh commented on #12592
But do those SPA add extra styles? Or just load one stylesheet? Gatsby does code split and lazy load styles and from few checks I did it seem like this browser extension does handle inital style (inverting etc), but does not handle any styles that are added after that

[2019-03-15 18:41] kristojorg commented on #11747
I have been having some issues with the cache as well, but on the other side. I have pretty bad internet for the time being, and having gatsby clear the cache every time I change a config is pretty frustrating. Rebuilds can take ~15 minutes. Wondering if we should cache different objects (images vs configs or built files) differently?

[2019-03-15 19:05] immbudden commented on #12594
@pieh - you're a star, that's worked a treat!

Thank you!

[2019-03-15 19:06] #12594 closed

[2019-03-15 19:17] VinSpee commented on #12552
I just started experiencing it this week. This has been a killer of my productivity. I'd love any possible workaround, even temporary

[2019-03-15 19:39] quiaro commented on #8301
Same as @DanielAlejandroMontesRodriguez, I'm using Gatsby + Contentful and deploying to Netlify. Locally, the builds are running fine all the time, but on Netlify I kept getting the same error that @tylermenezes originally reported.

I followed @alisonjoseph's advice and replaced all my `...GatsbyContentfulFluid_tracedSVG` fragments with `...GatsbyContentfulFluid`, and Netlify's build finally came

[2019-03-15 20:17] JhonathaNunes commented on #12283
The problem solved when I updated gatsby.

[2019-03-15 20:18] #12283 closed

[2019-03-15 20:20] MariuszDabrowski commented on #9348
Having the same issue, has there been any other developments in regards to fixing this issue?

[2019-03-15 20:43] codekiln opened #12600 "graphql filter for frontmatter image not null results in error"
## Description

When performing a GraphQL filter for image not null in markdown frontmatter, an unexpected error `The "path" argument must be of type string. Received type object` is thrown. This is using a modified query from Gatsby's `/examples/graphql-reference/src/pages/index.js`:

[code]

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a

[2019-03-15 20:48] takuyahara opened #12601 "[Cypress] cy.clock() causes unexpected behavior when timeout function has passed"
## Description

I'm using Gatsby with Cypress and trying to use `cy.clock()`. When certain function name has passed it causes unexpected and different behavior in development and production environment. Since the issue doesn't reproduce on React project it may Gatsby related.

### Steps to reproduce

Clone [this repository](https://github.com/takuyahara/issue-gatsby-cypress-clock) and run `npm run

[2019-03-15 21:58] BPScott commented on #12484
Heya folks, Throwing my two cents in here too.

This is throwing off my analytics as page views aren't registered when I navigate to the same path with a different querystring, as @pieh pointed out earlier.

[2019-03-15 22:49] garrettbear commented on #1767
I've run into this issue a handful of times and it always leads to something is running on that port. So just make sure to kill the PID running on that port

Find the PID:
 lsof -i :3000

Kill:
kill -9 <PID>

[2019-03-15 23:55] sarahannnicholson opened #12608 "[gatsby-source-wordpress] Multi-site config looses data"
## Summary

I am running into an issue where `gatsby-source-wordpress` is merging content from both of my WordPress configs. This is resulting in a loss of content. So I was wondering, **is there a way, in a multi site WordPress config, to specify which site you are querying?**
By 'multi-site WordPress config' I mean, two gatsby-source-wordpress definitions in the `gatsby-config.js` where each WP

[2019-03-16 00:41] zachfeldman commented on #12068
@fwielstra @freiksenet we have the same exact problem with our app, we get the Gatbsy 404 page when running Cypress tests:
![image](https://user-images.githubusercontent.com/1437644/54468406-a3ae7f80-4762-11e9-98cb-96d71864795e.png)

Is this just due to a configuration problem? We're pretty new to Gatsby! Thanks for any ideas.

[2019-03-16 01:35] TomFreudenberg commented on #9383
Hi Carsten @cardiv

have you managed to get an answer for your question? I have a similar approach and also looking für offline plugin documentation. Would be really nice if you would share your results.

Thanks in advance
Tom

[2019-03-16 01:45] pieh commented on #12608
Probably `gatsby-source-wordpress` is just not ready to support more than single site at a time. Most likely there is `id` collision (one site overriding data from the other site).

Most likely this could be done in here:
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/src/normalize.js#L179-L190

We would need to use some identifier of site when producing new `id`s.

[2019-03-16 01:53] pieh commented on #12484
You can listen to `@reach/router` history (for example in gatsby-browser.js):
[code]

[2019-03-16 05:27] jonathancary opened #12610 "Gatsby Image with Netlify CMS - 'childImageSharp' of null"
Hey, so I'm trying to get images working for blog posts for Netlify CMS. Had things working fine using regular MD with the gatsby-starter-blog but can't get it working with Netlify CMS. I think it may be something with the relative image path since it's showing up as null when it worked before but not sure. Have looked through blog posts and past issues but can't figure it out. Probably have been

[2019-03-16 05:52] tistudios opened #12611 "Can't find any mention of an error 508 that occurs when trying to integrate the drupal-gatsby-"
Issue: Getting error 508 - no mention of it online as far as I can find.
Expected: No errors, should connect as standard.

[code]

[2019-03-16 05:55] tistudios commented on #12611
I just noticed that it's doubling the URL in each query. Not sure what is causing that.

[2019-03-16 07:14] dumblole commented on #12589
I understand what you are trying to say. Thanks for showing the plugin. The pages aren't loading very long its just that one of my images doesn't use the lazy loading that gatsby-image utilizes and wish that the user sees the whole image instead of it loading layer by layer.

[2019-03-16 15:25] krismorf commented on #12610
It's probably caused by the relative path of the images.
Instead of this:
[code]

try [this](https://github.com/netlify-templates/gatsby-starter-netlify-cms/blob/master/gatsby-node.js#L77).

[2019-03-16 17:04] #12590 closed

[2019-03-16 17:27] #6949 closed

[2019-03-16 17:27] #8674 closed

[2019-03-16 17:27] #10020 closed

[2019-03-16 17:27] #11283 closed

[2019-03-16 17:27] #11284 closed

[2019-03-16 17:27] #11707 closed

[2019-03-16 17:29] pieh commented on #12611
This is http error code ( https://httpstatuses.com/508 )coming from drupal server

[2019-03-16 19:08] marcysutton commented on #12545
Love this idea. I would love to see tests added with PRs for bigger site changes, and having a foundation to build on would make that more feasible.

I think a combination of Jest and Cypress tests would be useful; business logic and individual components in Jest as you could test things in isolation, and Cypress for integrating components together and testing overall pages. I would be happy contr

[2019-03-16 19:18] t2ca commented on #7454
The same issue currently exists when using semantic-ui-react and it's because of the following css code:
[code]
So i fixed it with the following:
[code]

[2019-03-16 19:35] xlinbsd commented on #12538
Sorry my mistake, I put a .md file into src/, which is pointed to `gatsby-source-filesystem`, restarted the service and boom, that works.

Thanks @pieh

[2019-03-16 19:35] #12538 closed

[2019-03-16 20:13] marcysutton commented on #6989
@AniaMakes I found this issue while searching, and I'm wondering if it's unique to Gatsby-link or if you can reproduce it with Styled Components alone. Have you looked into isolating it to ensure it's caused by gatsby-link?

That said, I would recommend using a button element if it looks like a button, for reasons I describe here: https://marcysutton.com/links-vs-buttons-in-modern-web-applications

[2019-03-16 20:16] fivetwelve commented on #10142
Anyone else read this issue searching for a dynamic static image import? `require` does work but if you have es-lint enabled for your project you will need cirvumvent the warnings with `// eslint-disable-next-line global-require, import/no-dynamic-require`.

Gatsby provides a linter-friendly solution with `withPrefix`. Use this approach to reference the static folder when you're authoring your pag

[2019-03-16 21:11] cardiv commented on #9383
@TomFreudenberg We do not need this anymore – maybe in the future.

[2019-03-16 21:28] dengeist opened #12619 "Accessible name of gatsbyjs.com link is unclear"
## Description

The gatsbyjs.com link (visible label `.com`) is a little confusing.

### Steps to reproduce

1. Go to www.gatsbyjs.org (or any path in the .org site)
2. Use a screen-reader to listen to the `.com` nav link
3. OR observe the label as a sighted keyboard/mouse user.

### Expected result

Whether visually or aurally, the visible label of the link should clearly tell users its destinati

[2019-03-16 22:18] danoc opened #12621 "Support JSX nodes in `gatsby-remark-copy-linked-files`"
## Summary

Hello! A [recent change to MDX](https://github.com/mdx-js/mdx/pull/429) prevents `gatsby-remark-copy-linked-files` from recognizing `<img>`, `<a>`, and other tags in MDX files. This happens because `gatsby-remark-copy-linked-files` is now receiving `jsx` nodes, not `html`.

`gatsby-remark-copy-linked-files` has support for visiting `html` nodes: https://github.com/gatsbyjs/gatsby/blob/

[2019-03-16 22:32] ergunpp commented on #7454
Hi, my repo is ergunpp/chefschoice

On 9 Mar 2019 Sat at 18:05 David Bailey <notifications@github.com> wrote:

[2019-03-17 00:58] mouhsnimohamed opened #12623 "React-animate-on-scroll"
I'm using react-animate-on-scroll package for animating blocks on scroll, it woks great on develop env but not on production env! I don't know why? Is there someone who can help me to fix this problem pls.
https://github.com/dbramwell/react-animate-on-scroll/issues/52

[2019-03-17 01:03] niclaslovdahl commented on #4983
Also had this problem trying to add file path link to html.js and you saved me, thank's a lot! This solution would be a great addition to the docs.

[2019-03-17 01:04] ullibodnar opened #12624 "Create redux store with Gatsby's initialstate"
## Summary
Hi! I'm trying to create a survey app that uses [gatsby-src-google-sheets](https://www.gatsbyjs.org/packages/gatsby-source-google-sheets/) to fetch survey questions. I'm using redux, but I haven't been able to figure out how to set the initialState in [wrap-with-provider.js](https://www.gatsbyjs.org/docs/browser-apis/#wrapRootElement) to the fetched data.

  Useful Links:
  - Documentat

[2019-03-17 01:31] jonathancary commented on #12610
Tried that but still getting the same error. This is what the update gatsby-node.js file looks like:
[code]

[2019-03-17 03:52] amykapernick commented on #10347
I wonder whether something has happened recently, because I've also been having this issue and unable to resolve in the last few days and it looks like a lot of people are having the same issue.

[2019-03-17 05:07] universse commented on #12624
I'm not entirely sure you can use createStore with data from gatsby to set initial state. What you can consider doing instead is create a component that uses StaticQuery to query your google sheets data. Then you can dispatch an action once that component mounts to inject the data into redux store.

[2019-03-17 06:53] ChristopherBiscardi commented on #12621
yep, looks good to me. For some additional context: MDX can be considered two layers for the purpose of this discussion.

* User Interface
* Remark AST Representation

# User Interface

The UI for Remark is Markdown and HTML tags. The UI for MDX is Markdown and JSX. Consider the following valid file in both formats

[code]

## Remark AST

In gatsby-transformer-remark, the initial AST is

[code]

#

[2019-03-17 07:14] guyinpv commented on #10482
I have this use-case as well, for dynamically passing in an image name to the component.

I want to use StaticQuery for the obvious benefit of the image sharp stuff, src for different screens etc.

It seems to me that in a certain sense, the variables are already immutable, since those variables would start life as a prop on the component reference somewhere.

So Gatsby needs to be able to quickly

[2019-03-17 07:31] ashikur11 commented on #9899
in my case that last error was coming for hola vpn extension. after disabling it now the last error is gone.

[2019-03-17 07:50] vijaybritto commented on #7381
@ooloth how did you add the field 'firebaseConfig' to the type "Site"? We have to extend that graphql definition somewhere?

[2019-03-17 07:51] electron-space commented on #9899
Not sure why, but you're correct. Can confirm disabling did the trick for me as well.

[2019-03-17 08:08] #10880 closed

[2019-03-17 12:00] CodeAndWeb opened #12627 "Page not found with gatsby-plugin-remove-trailing-slashes installed"
## Description

First rendering with `gatsby develop` is ok and all pages work. After changing a page I get a warning about `A page wasn't found for "/studio"` and an error `TypeError: undefined is not an object (evaluating 'dev404Page.componentChunkName')` in root.js

The only thing that helps is restart gatsby develop.

The issue seems to be somehow related to `gatsby-plugin-remove-trailing-slas

[2019-03-17 13:34] ernsheong commented on #9899
For those coming here to debug this error in Chrome 73, it is because Chrome 73 onwards disallows cross-origin requests in content scripts.

More reading:
1. https://www.chromestatus.com/feature/5629709824032768
2. https://www.chromium.org/Home/chromium-security/extension-content-script-fetches

This affects many Chrome extension authors, who now need to scramble to fix the extensions because Chro

[2019-03-17 14:12] Truemedia opened #12633 "Mozjpeg bad dep"
When creating a new gatsby instance I now get this error when installing node modules via yarn

ENONET: No such file lstat, mozjpeg (bunch of weird Unicode characters printed out).

[2019-03-17 14:22] DanielRuf commented on #12633
Hi, please provide the full terminal output (error & stacktrace).

[2019-03-17 14:56] Truemedia commented on #12633
Sure here is the full error:
`error An unexpected error occurred: "ENOENT: no such file or directory, lstat '/home/pi/Code/forks/gridsome/node_modules/mozjpeg/\u0001�\u0017@@�\u000f\f@8\b@\u001eu0006\u0005@@@@@�\u0001�\u0001\b\u0003\u0004\u0002\u0002@\u0002@\u001c\u001c\u0001\u0001\u0005@@\u001c�'".
info If you think this is a bug, please open a bug report with the information provided in "/home/p

[2019-03-17 15:04] DanielRuf commented on #12633
Sounds like a bug in Yarn with latest Node.js. Please try Node.js 10 and Yarn 1.13.0.

[2019-03-17 15:10] DanielRuf commented on #12633
Sounds like a bug in Yarn. Please try to downgrade Yarn and try npm too.

[2019-03-17 15:20] Truemedia commented on #12633
So Iv'e tried npm before downgrading yarn and got this error (similar issue by look of it):

[code]

Wiil try downgrading yarn now and post the results shortly.

[2019-03-17 15:25] DanielRuf commented on #12633
Can you remove `node_modules` before the next try?
This is another bug. Did you use another user or sudo to run the commands?

[2019-03-17 15:42] Truemedia commented on #12633
Same result with yarn 1.13 before and after removing node_modules

[2019-03-17 15:42] Truemedia commented on #12633
I use sudo as last resort but that didn't work either

[2019-03-17 15:54] DanielRuf commented on #12633
And previous Node.js versions have the same problem? Can this be reproduced with your lockfile?

In this case a small repo for reproducing and debugging this would be helpful.

[2019-03-17 16:08] Truemedia commented on #12633
Had one last attempt running yarn under sudo, no node_modules folder, no lock files (npm or yarn) and get same result.

This is only from running gatsby new with default starter, and then attempting to run yarn manually when it fails at that step being triggered automatically. The only other info I have is that I'm running this on raspian (32bit OS) Rasperry Pi 3B+ (ARM7)

[2019-03-17 16:24] DanielRuf commented on #12633
Please create a small repo with which we can reproduce this.

[2019-03-17 16:30] kristojorg commented on #10347
If so, I think it would be in the gatsby-source-filesystem `createRemoteFileNode` API. That is what is responsible for downloading the remote images, and what is returning null when it fails for whatever reason. We should discuss what a better option would be than returning null. I tried wrapping it in a try catch block, which is catching the error case. I suggest source packages wrap it in try ca

[2019-03-17 17:27] #11070 closed

[2019-03-17 17:27] #11726 closed

[2019-03-17 17:27] #11731 closed

[2019-03-17 17:31] lannonbr commented on #11665
@dharric Are you still running into this issue?

[2019-03-17 19:46] hesselberg commented on #10347
@kristojorg do you possibly have a gist or a PR? I'm quite new to Gatsby let alone the source packages. Would definitely prefer if it would retry. It appears to work if you keep rebuilding, although I don't have any specific pattern.

[2019-03-17 20:01] kristojorg commented on #10347
I don't have a PR ready yet, and I'm working on the source-shopify. However if I get that figured out today or tomorrow I can try to quickly do the same for the wordpress source and at least you'll have a starting point : )

[2019-03-17 20:04] hesselberg commented on #10347
@kristojorg great! Hope you succeed :-)

[2019-03-17 20:39] iFarmGolems commented on #10867
I'd also like to know how to deal with this effectively

[2019-03-17 20:45] Schmerb commented on #7310
@skinenbayev @colmtuite
Or with flex,
[code]

[2019-03-17 21:37] Truemedia commented on #12633
Sorry @DanielRuf I felt I was running in circle repeating myself with the simple command so I did some digging.

Found that the gatsby sharp plugin is where this issue stems from (only root package present that has imagemin as dep).

Imagemin includes mozjpeg which apparently has broken binaries/build at the moment:
https://github.com/mozilla/mozjpeg/issues/329

Because of this it fails at that st

[2019-03-17 21:59] rhysforyou commented on #12567
This approach worked great for me, thanks!

[2019-03-17 21:59] #12567 closed

[2019-03-17 22:01] DanielRuf commented on #12633
Can you lock it down using a lockfile?

[2019-03-17 22:03] DanielRuf commented on #12633
Not sure if this is really the cause as it does not mention your issue or did I oversee something?

What does the error log say?

[2019-03-17 22:12] Truemedia commented on #12633
Looks like a bad version getting caught with a ^version flag but outside the scope of node (mozjpeg is not node based). Not something than be reminded from the node side directly but will try my workaround after work tomorrow.

[2019-03-17 22:32] adityasrini commented on #5329
Hi! I haven't found any resolution to this and it doesn't seem like a PR that fixes this has been made.

[2019-03-18 00:13] ooloth commented on #7381
@vijaybritto I added it to the `siteMetadata` object in `gatsby-config.js`:

[code]

Hope that helps!

[2019-03-18 00:17] urketadic commented on #9899
WhatFont was causing it for me.

[2019-03-18 00:20] polarathene commented on #12633
@DanielRuf The gibberish in the mozjpeg package directory is likely binary. Problem might be hard for you to reproduce since the environment is 32-bit ARM v7 , not 64-bit x86 (what you're more than likely using).

@Truemedia Imagemin and sharp will attempt to use any pre-built binaries if they think they'll work. Sometimes though(such as with Alpine) they choose incompatible binaries, this is usua

[2019-03-18 02:51] strongSoda opened #12637 "Scope to become a maintainer"
Is there a well defined path by following which a contributor will be added as a maintainer for this project?

[2019-03-18 04:59] DanielRuf commented on #12633
In this case we would probably see another error or he did not post the full error / stacktrace.

[2019-03-18 07:03] prajapati-parth commented on #9770
This issue makes working on web notifications difficult. Does the same issue exist in Gatsby v2?

[2019-03-18 07:20] polarathene commented on #10882
While my suggestion for checking the image output data is what it should be(and not just a different extension) is still worthwhile to consider it appears that [the package being used for this doesn't actually support PNG input at all.](https://github.com/imagemin/imagemin-mozjpeg/blob/master/index.js#L17)

Gatsby support should then raise an error or convert to JPG(at 100% quality?) before passin

[2019-03-18 07:29] vijaybritto commented on #7381
@ooloth Thanks! It did help. I made similar modifications and it worked.
But if you run this query  at http://localhost:8000/___graphql it will throw an error saying that "field firebaseConfig is not defined". I'm guessing that the schema is auto generated but somewhere graphiql UI is not informed of the new schema.

[2019-03-18 07:40] polarathene commented on #12633
@DanielRuf eh,

- 1st error says it couldn't find a file at the location(mainly because it was directory path + some binary as text presumably which obviously isn't valid),
- 2nd error states it's not happy because the directory isn't empty, which for whatever reason was a problem.

@Truemedia could first delete the node_modules directory(and perhaps clear the local package cache for npm/yarn), an

[2019-03-18 07:45] DanielRuf commented on #12633
Is this the full error / stacktrace and nothing before this?
Because node-gyp and Python and the rest of the native build stack would throw errors if they could not build the binaries or could not download them.

[2019-03-18 07:46] DanielRuf commented on #12633
Sure, it is a normal Node.js package, see https://www.npmjs.com/package/mozjpeg

[2019-03-18 07:47] DanielRuf commented on #12633
Do you mean `vendor/linux`?
https://github.com/imagemin/mozjpeg-bin/tree/master/vendor/linux

[2019-03-18 07:48] DanielRuf commented on #12633
Also see https://github.com/gatsbyjs/gatsby/issues/12633#issuecomment-473677642

[2019-03-18 08:01] 0x80 commented on #10704
@jbolda Yes, I think this can be closed in light of the new schema customization branch. So happy about that major update. Awesome work!

[2019-03-18 08:01] #10704 closed

[2019-03-18 08:06] freiksenet commented on #12510
@jserrao Could you link to the issue?

[2019-03-18 08:12] polarathene commented on #12633
@DanielRuf I'm not OP :) That would be @Truemedia

It doesn't seem like it's a build error from compiling or downloading. Does seem like it compiled successfully but with incompatible ABI to libjpeg-turbo.

The npm mozjpeg package is also maintained by Imagemin org on github, it hasn't been updated since Oct 2018 and fetches pre-builts from it's own releases page. I just saw the earlier linked com

[2019-03-18 08:14] jcbaey commented on #12554
That's weird. Looks like I had some stuff in my working dir that broke Webpack HMR.
I did a `git reset --hard origin/master`, delete the `cache` and `node_modules` and install again the dependencies and everything was back to normal.

[2019-03-18 08:15] DanielRuf commented on #12633
With the full error log we could say more ;-)

[2019-03-18 08:37] freiksenet commented on #12272
Released `2.2.0-rc.1`. Soon.

[2019-03-18 08:49] MarcCoet commented on #12272
Query sorting on a newly created fields seems buggy.

I can create a new field by doing:
[code]

But then if I query:
[code]
results are not sorted and appear in original order.

If I sort on `id` everything is fine of course.

[2019-03-18 09:00] stefanprobst commented on #12272
@MarcCoet Thanks for testing! This is a known issue - we don't call field resolvers for sort fields currently, see #11368. It's the next thing we'll tackle once this is merged!

[2019-03-18 09:04] KyleAMathews commented on #9770
@prajapati-parth it does. Would you like to create a PR removing the code that does the unregistration?

[2019-03-18 09:08] MarcCoet commented on #12272
Oh, sorry. I didn't think about looking for `setFieldsOnGraphQLNodeType` issues. My bad.
I am happy to know it is being worked on.

[2019-03-18 09:15] sidharthachatterjee commented on #12579
Closing this as it seems answered but please feel free to comment or reopen if there's anything else related to this that we can help you with

[2019-03-18 09:15] #12579 closed

[2019-03-18 09:19] sidharthachatterjee commented on #12587
@Steffi3rd Yes, as mentioned in the documentation, `gatsby-plugin-netlify` will create redirects and headers files for you. These will let Netlify set up the appropriate redirects so that you reach the client side routes correctly.

They won't have any effect locally using `yarn serve`

Marking this as answered and closing for now but please feel free to comment or reopen if you still see this.

[2019-03-18 09:19] #12587 closed

[2019-03-18 09:22] sidharthachatterjee commented on #12588
Great, marking this as answered and closing for now. Thank you for using Gatsby!

[2019-03-18 09:22] #12588 closed

[2019-03-18 09:35] sidharthachatterjee commented on #12589
@dumblole It isn't possible to use the `gatsby-browser` hooks including onRouteUpdate and onRouteUpdateDelayed in your components and I suppose this is a pretty specific use case.

You could manipulate the DOM yourself in `gatsby-browser` like the gatsby-plugin-nprogress plugin does in https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-nprogress/src/gatsby-browser.js

Closing th

[2019-03-18 09:35] #12589 closed

[2019-03-18 09:37] sidharthachatterjee commented on #12591
Thank you for opening this and the detailed summary, @supermoos

As @pieh mentioned, this is being discussed in https://github.com/gatsbyjs/gatsby/issues/11982

Marking this as a duplicate and closing this issue but please feel free to follow along in the linked issue!

[2019-03-18 09:37] #12591 closed

[2019-03-18 09:43] MarcCoet commented on #12272
so there is really no way to get around this with the new API? We have to stick with the old ways of `createNodeField`?

I tried with `buildObjectType` but same result.
[code]
Any other undocumented way to achieve filtering on new nodes by chance?

[2019-03-18 09:46] MarcCoet commented on #12272
Appart of that I just had a syntax error with the `@infer()` directive. But I guess that is what 'Allow inference options on non-SDL types' means in the known issues above?!

[2019-03-18 10:05] stefanprobst commented on #12272
@MarcCoet

Does this work for you?
[code]

As for the sorting issue: this problem is a bit orthogonal to the schema customization refactor. The issue is: when we want to filter or sort on fields that are not on the node object itself but added by field resolvers, we need to call those resolvers before so we have the full nodes available for filtering and sorting. E.g. in your example, the node obj

[2019-03-18 10:09] sidharthachatterjee commented on #12600
Thank you for the detailed issue and linked reproduction @codekiln

I can reproduce this and this _does_ seem to be a bug

cc @freiksenet

[2019-03-18 10:14] sidharthachatterjee commented on #12611
@tistudios Closing this since it seems unrelated to Gatsby but please feel free to comment or reopen if we can help further

[2019-03-18 10:14] #12611 closed

[2019-03-18 10:22] sidharthachatterjee commented on #12623
Thank you for opening this @mouhsnimohamed

Could you link to the repository or make a minimal reproduction? That will help in debugging this!

[2019-03-18 10:34] jserrao commented on #12510
@freiksenet - I'm not sure anything is broken, but functionally it's non optimal DX.

The most Gatsby-related issue is around `gatsby-image`, which makes heavy use of fragments. Let's say a beginning Gatsby user wants to test how to do an image query...

In on a Gatsby page, you would do something like this:
[code]

If you get that working, that's a nice little confidence boost when you're trying

[2019-03-18 10:46] Undistraction opened #12640 "Babel Preset Env Doesn't Work Correctly When Using 'entry'"
## Description

As discussed in https://github.com/gatsbyjs/gatsby/issues/12399, Gatsby uses `babel-preset-env` with `useBuiltins` set to `usage`. This means it adds polyfill imports for the chosen browser range when required. However, it doesn't do this for any node_modules that are used, so if a node module needs a polyfill that hasn't been added via 'usage', the polyfill will be missing at runt

[2019-03-18 10:49] wardpeet commented on #10882
we could convert it to a jpg buffer before passing it to mozjpg if it's not a jpg

[2019-03-18 10:52] Undistraction commented on #12627
@CodeAndWeb FWIW We found `gatsby-plugin-remove-trailing-slashes ` to be really problematic, especially in production and had to remove it. Depending on your server, it may or may not treat urls with no trailing slash as directories which can cause issues.

[2019-03-18 11:23] pieh commented on #12587
For `yarn serve` you would need to update `gatsby` version. We adjusted `gatsby serve` in `gatsby@2.1.7` to handle client only paths

[2019-03-18 11:46] VinSpee commented on #12552
^ My bad, sorry!

[2019-03-18 11:58] pieh commented on #10950
PR was merged :)

[2019-03-18 11:58] #10950 closed

[2019-03-18 12:10] gurpreet-hanjra commented on #12637
I think when you start contributing and first PR is merged, you will be added as maintainer.

[2019-03-18 12:29] ooloth commented on #7381
@vijaybritto Hmm...did you try rerunning `gatsby develop` after updating your `gatsby-config.js` file? Generally any changes to your `gatsby-*` files or `graphql`-related data requires restarting your development server to see the updates.

If so, this may be a case where you need to delete your `.cache` folder and rerun `gatsby develop` one more time. This sometimes helps when your `graphql` quer

[2019-03-18 12:58] CodeAndWeb commented on #12627
Ok - found the issue...

The problem was that I mixed markdown pages and .js pages in the same `pages` folder.

        {
            resolve: `gatsby-source-filesystem`,
            options: {
                name: "markdown-pages",
                path: `${__dirname}/src/pages`,
            },
        },

I don't know what exactly is happening but after moving the .md files to pages-md and using

[2019-03-18 12:59] #12627 closed

[2019-03-18 13:03] vijaybritto commented on #7381
Its for a mini side project. I'll probably get into debugging this while I start my office issue tracker app which we are moving to gatsby. So you'll have to wait for some time to help me 😄. Thanks!
________________________________
From: Michael Uloth <notifications@github.com>
Sent: Monday, March 18, 2019 6:00 PM
To: gatsbyjs/gatsby
Cc: Vijay Britto; Mention
Subject: Re: [gatsbyjs/gatsby] [questi

[2019-03-18 13:37] sidharthachatterjee commented on #12553
Thank you for opening this and the pull request @danielkov 👍

[2019-03-18 13:56] jcbaey commented on #12143
The issue comes from the line

[code]
that has been updated to

[code]
The comparison is now working and pages are deleted (which was not the case in 2.1.09):

[code]
https://github.com/gatsbyjs/gatsby/pull/11831/files/863acf14c81b792aca18e3e1e9df5390ade3907c#diff-deed9a141e906a882e5f3b2d2c4e21ae

[2019-03-18 14:12] sidharthachatterjee commented on #12637
@strongSoda You will be invited as a member automatically once your first PR is merged! In case you're not sure where to start, we have documentation on how to get started at https://www.gatsbyjs.org/contributing/where-to-participate

Closing this for now but would love to have you as a Gatsby contributor and we'll look forward to your first contribution!

[2019-03-18 14:12] #12637 closed

[2019-03-18 14:16] jcbaey commented on #12143
One workaround (not sure about all the side effects) is to add a dummy exported function `createPagesStatefully` in your `gatsby-node.js` file so that `gatsby-source-filesystem` will be listed in the `statefulPlugins` in `page-hot-reloader.js`:

[code]

[2019-03-18 14:20] sidharthachatterjee commented on #12564
Thank you for opening this and for the detailed writeup @emckay

This seems like more of a React gotcha (correct me if I'm wrong) as opposed to Gatsby since the reason the reproduction is stuck at `<div>Loading (StaticQuery)</div>` is that the component renders  to String once in the call to renderToStaticMarkup (while data is loading in `develop`) and has no way to render again when the data is a

[2019-03-18 14:20] #12564 closed

[2019-03-18 14:39] Steffi3rd commented on #12587
Thanks!!! @pieh @sidharthachatterjee

[2019-03-18 15:34] primerano commented on #2444
under "Asset pipelines" I think Jekyll should be listed as plugins available.  I've been using this one for a few years now -> https://github.com/envygeeks/jekyll-assets

[2019-03-18 15:34] lucasjohnston opened #12644 "Flicker of Unstyled Content (FOUC) with Gatsby"
## Description

I'm experiencing some rather unpleasant FOUC on loading our Progression Framework site (progression.monzo.com).

In past issues, it seems `styled-components` plugins were the issue, but it looks okay:

[code]

Others also had this issue when touching the same API methods as the plugin does, but I'm not touching `onCreateBabelConfig` which is the only API method I can see. I'm also

[2019-03-18 15:41] #11667 closed

[2019-03-18 16:53] lannonbr commented on #12545
So @DSchau and I just finished up a pair session on tackling the framework for this.

Some remaining tasks left include the following:

- [ ] add a task to Circle CI to run the www tests
- [ ] create an issue on GitHub to reach out to the community to build unit tests for various components in `www/`

We should have a PR later this week to add this.

As well, it may be useful to have a docs page t

[2019-03-18 17:07] lannonbr commented on #12545
So the first PR is going to push unit testing with Jest. We haven't started looking to integrate Cypress yet, but I think it is a good idea and likely should belong in a separate PR given they are kinda tackling two fronts

[2019-03-18 17:27] #7713 closed

[2019-03-18 17:27] #11247 closed

[2019-03-18 17:27] #11756 closed

[2019-03-18 17:27] #11769 closed

[2019-03-18 17:27] #11576 closed

[2019-03-18 17:48] Undistraction commented on #12399
@DSchau I've created a repro showing the issue using 'entry' here: https://github.com/gatsbyjs/gatsby/issues/12640

[2019-03-18 17:53] #12067 closed

[2019-03-18 18:20] tistudios commented on #12611
It's related to Gatsby - I used instructions from Gatsby's tutorial pages.
https://www.gatsbyjs.org/blog/2018-08-13-using-decoupled-drupal-with-gatsby/#reach-skip-nav

[2019-03-18 18:49] jonniebigodes commented on #12561
@elie222 i've picked up on your issue and based on the information you supplied i have circunvented that issue and i'm able to get build with storybook and gatsby.
I'm going to break down my answer into smaller parts for better understanding:

- Created a new website based on a template that uses typescript. I used [gatsby-casper](https://github.com/scttcper/gatsby-casper).
- Installed the plugin

[2019-03-18 19:05] skinenbayev commented on #7310
@Schmerb I think setting 100vh to your css dedicated class is more convenient way than manipulating with some generated code.

[2019-03-18 19:20] stefanprobst commented on #12050
Related: https://github.com/gatsbyjs/rfcs/pull/31

[2019-03-18 19:23] robinmetral opened #12649 "[gatsby-source-wordpress] Support non-pretty permalinks"
## Summary

I'd like to reopen the discussion that was started in [this PR last june](https://github.com/gatsbyjs/gatsby/pull/5053) about supporting non-pretty urls in `gatsby-source-wordpress`.

As mentioned in [WordPress's REST API Handbook](https://developer.wordpress.org/rest-api/#routes-endpoints), the typical WP API endpoint is `http://oursite.com/wp-json/`, unless we have **non-pretty perma

[2019-03-18 19:27] t2ca commented on #12644
Have you tried using the size prop in the font awesome component to fix the github icon issue.

[2019-03-18 19:27] robinmetral commented on #12649
(also I think that [this part of the plugin's docs](https://www.gatsbyjs.org/packages/gatsby-source-wordpress/#test-your-wordpress-api) can be updated: changing permalinks to anything other than Plain won't work if WordPress is hosted on a subdomain)

[2019-03-18 19:50] Schmerb commented on #7310
@skinenbayev
I guess I should have clarified...`100vh` is great if you want your app to have a fixed height the same size as your viewport...

<b>BUT</b>  if you need the app to take up all available space

(essentially what everyone with `height: 100%` is attempting but is most likely failing due to parent not having a set height)

then <b>`Flexbox`</b> to the rescue.

To further clarify my speci

[2019-03-18 20:04] kennedyrose commented on #12272
I'm trying to set the schema for the frontmatter nodes generated by gatsby-transformer-remark and always run into this error: `Error: Schema must contain unique named types but contains multiple types named "MarkdownRemarkFrontmatter".`

My schema looks like this:
[code]

[2019-03-18 20:27] stefanprobst commented on #12272
@kennedyrose Thanks for testing! Does the following work for you?
[code]

Only top-level types, i.e. node types generated by source and transformer plugins (like `MarkdownRemark` or `ImageSharp`) should implement the Node interface.
(Although we *do* seem to have a bug when targeting nested infered types directly)

[2019-03-18 20:52] kennedyrose commented on #12272
That works. Thanks!

[2019-03-18 21:35] DSchau opened #12651 "[www]: GuessJS not preloading expected routes"
## Description

Recently, GuessJS support was added to gatsbyjs.org (see: #12351).

This seems to have worked, but doesn't seem like the preloading is working as we'd expect.

### Steps to reproduce

1. Go to [gatsbyjs.org](https://gatsbyjs.org)
1. Open up the console
1. Inspect errors as you click around, e.g.

### Expected result

Pages that are pre-fetched are _actual_ pages.

### Actual result

[2019-03-18 21:43] fool commented on #12438
Hi folks!  I work at Netlify and while I didn't create this feature I do know the answer here:  large media images are ONLY available at serve time, not build time.  Even fetching them with a `git lfs pull` will be super challenging since we drop git access permissions before you can run that command as part of your build pipeline.  There are no plans at this time to provide those assets for use d

[2019-03-18 23:54] th0th opened #12653 "[feat]: integrate WebGazer - uptime monitoring and analytics"
I am not sure if this is the right place to post this but I couldn't find a better way to contact, so, here it is...

I am an indie-ish hacker and built the [WebGazer - Uptime monitoring and analytics platform](https://www.webgazer.io). And I want to support the free/open source projects that enabled me to build WebGazer. It was such a relief to migrate previous jQuery'ied website to React with Ga

[2019-03-19 00:27] ullibodnar commented on #12624
I've been using this approach as a current workaround, but components do a quick jump once the action is dispatched and the props are updated.

[2019-03-19 03:43] wulucxy opened #12656 "need demo to combine with mdx and gatsby-transformer-remark"
## Summary

my first blog just use `gatsby-transformer-remark` to convert `markdown` files，and now i want to add some interactivity，so I think `gatsby-mdx` is a good choice。actually `gatsby-transformer-remark` does't have some plugins to support mdx。so how can I use both
`gatsby-transformer-remark` and `gatsby-mdx`?

## Relevant information

### Environment (if relevant)

gatsby-v2

### File conte

[2019-03-19 05:02] rafcontreras commented on #12576
I use gatsby-plugin-express and do not set express router

[2019-03-19 05:41] prajapati-parth commented on #9770
Sure. I removed some code from the file mentioned by the author of this issue and seems like many tests are failing. I tried setting up in development by cloning and doing `yarn`. For testing I did `npm test`. Did I miss anything or do we have a getting started for development link?

[2019-03-19 08:26] robinmetral commented on #12649
There seems to have been a problem on my end, a brand new installation of WordPress on a subdomain exposes as expected the `/wp-json` endpoint.

[2019-03-19 08:35] cdtinney commented on #4459
Agree w/ @StormPooper.  The ability for `pruneLength` to ignore HTML tags is ideal. As of now, I have to artificially inflate `pruneLength` in order for there to be a reasonable amount of content but it's not consistent as different excerpts will have different HTML tags.

[2019-03-19 08:42] sidharthachatterjee commented on #12580
@DevSide Marking this as answered and closing for now but please feel free to comment or reopen if there is anything else we can help with

[2019-03-19 08:42] #12580 closed

[2019-03-19 08:44] sidharthachatterjee commented on #12651
Looks like this was fixed by @wardpeet in https://github.com/gatsbyjs/gatsby/pull/12658

[2019-03-19 08:44] #12651 closed

[2019-03-19 08:48] sidharthachatterjee commented on #12438
Thank you for the response, @fool

Closing this issue for now since it can't be explicitly handled by Gatsby if not available at build time

[2019-03-19 08:48] #12438 closed

[2019-03-19 09:09] MisterRaj commented on #3425
Similar issue happened to me, in my case I keep getting the 404 file not found error. I created one inside the build, then I keep seeing the same 404 file I created whenever I run. Then I removed some no-script and script tags inside my jsx. then its working fine.

[2019-03-19 09:20] Steffi3rd commented on #12587
Hello,

Works well on desktop but On smartphone I still have the problem for client only route.

When I tried to access it to client only route from smartphone (Safari or Chrome), I have a white screen.

Why?

[2019-03-19 09:42] ollelauribostrom commented on #12545
Nice job, seems like a good approach. I'm definitely up for adding some component tests once this is all set up 🎉

[2019-03-19 09:53] #12553 closed

[2019-03-19 10:24] lwz7512 commented on #12610
In my experience, the reason is that your featuredImage file are not recognized as an image File type by build process, just a normal string. So, in order to solve this, you must add the file path into source system, or check the featuredImage value, if it is right and in the assets directory.

If you had used images in assets directory, and image path is also right, then modify the gatsby-transfo

[2019-03-19 10:29] Steffi3rd opened #12661 "Bug when access directly to client-only route : BLANK PAGE (on smartphone ONLY)"
Hello guys

You helped to solve client route only not accessible on build. I needed `gatsby-plugin-netlify`.

It works on desktop, but on mobile/smartphone when I tried to access my website, is turns as a blank page few seconds after loading. Some page is blank page by default.

Why? How to solve that please?

[code]

[2019-03-19 11:22] freiksenet commented on #12272
Published `gatsby@2.2.0-rc.2`.

[2019-03-19 13:20] freiksenet commented on #12272
Published `gatsby@2.2.0`. Thank you everyone!

[2019-03-19 13:32] #12429 closed

[2019-03-19 13:34] LubomirGeorgiev commented on #6540
This issue has been fixed in #12636

[2019-03-19 13:35] yusk24 commented on #2567
Thanks to you solved my problem.
It was caused by cache.

[2019-03-19 13:36] LubomirGeorgiev commented on #7013
This issue has been fixed in #12636

[2019-03-19 13:48] lannonbr opened #12665 "[docs] Continue to flesh out gatsby-node api functions descriptions"
## Summary

We have currently documented each of the various Node APIs here: https://www.gatsbyjs.org/docs/node-apis

That said, a large portion of them are just the name and a small description of it. What would be useful would be to add further context about each one that can include things like
* Parameters specific to this API
* an example of using the API

### Basic example

the `onCreateWebp

[2019-03-19 14:17] universse commented on #12624
what do you mean by a quick jump? What do you render when props is not yet updated? Perhaps you could do something like
[code]

[2019-03-19 14:18] lannonbr commented on #6591
Closing this as it has been implemented in #12351

[2019-03-19 14:18] #6591 closed

[2019-03-19 14:32] bravokiloecho commented on #11928
Hello! Sorry for the long delay.

I've put together a repo here: https://github.com/bravokiloecho/gatsby-three-js

The files where it would be good to have forced page refreshing are `./src/scene/SceneBasic.js` as well as `./components/SceneComponent.jsx`

I really appreciate your help with this, thank you!

[2019-03-19 15:31] pieh commented on #12143
I've opened PR with fix https://github.com/gatsbyjs/gatsby/pull/12671
The workaround from @jcbaey have potential of side effects of not deleting stale pages create in `createPages` API, but that issue is less problematic than deleting pages from `src/pages` - so I would advise to use that at least until that PR is merged

[2019-03-19 15:40] garethweaver commented on #2538
@charlesgiroux new config edit here:

[code]

[2019-03-19 15:41] elie222 commented on #12561
What an awesome response! Thanks for taking the time. Will take a look at this soon!

[2019-03-19 15:45] DSchau commented on #12653
Sure - we can definitely check this out.

How does it work? Performance is a priority (™️) for Gatsby, so if we can avoid any heavy client-side scripts, would certainly prefer to go that route.

What would it take to begin trialing this and setting it up?

[2019-03-19 15:58] quakeglen commented on #9899
For me it was **Video Downloader PLUS** extension

[2019-03-19 16:02] EliasJorgensen opened #12674 "gatsby-image randomly fails on bitbucket pipelines"
## Description

I have a project that downloads content from Google Drive to a `content` folder. This folder contains images, among other things. To be able to use gatsby-image with these images dynamically, i have made an `Image` component as seen below. When i build the project on my local machine, or my coworkers' machines, it succeeds. However, when the Bitbucket Pipeline for the project runs,

[2019-03-19 16:24] NickScottKortical commented on #2538
If anyone is using gatsby with nginx and kubernetes pods/canary deployments, they may need to ensure they enable sticky sessions within their nginx config. This solved the issue for me so that the js requests would go to the same pod that served the html content.

[code]

[2019-03-19 16:48] SammyIsra opened #12676 "[gatsby-image] Images rendered with `gatsby-image` "blink" in and out of the page"
## Description

Images that are rendered with `gatsby-image` seem to not always be present on the page. In Chrome v72, the images seem sometimes loading in and out of the page, while maintaining their position. The images also are not placed where they are supposed to, as seen in the same page rendered in other browsers.

The issue does not happen if no `gatsby-image` is used, and instead a plain

[2019-03-19 17:05] mouhsnimohamed commented on #12623
Hi,

Its actually when i'm using **pathPrefix**(gatsby build --prefix-paths)  and in my gatsby-config.js I have **pathPrefix: "/next"**

If I just do gatsby build it works great as in **DEVELOP** ENV

[2019-03-19 17:27] #11799 closed

[2019-03-19 17:27] #11604 closed

[2019-03-19 18:06] Ronva commented on #2114
Hey, sorry about the radio silence. A bunch of stuff came up resulting in me not being to continue working on this feature. Still really hoping to see this get done, please let me know of there's anything I can help with!

[2019-03-19 18:08] jonniebigodes commented on #12561
@elie222 no need to thank, glad i could be of some assistance. Sorry that i could not fix the issue entirely.

[2019-03-19 19:20] jonearley commented on #7543
Still experiencing this issue with the latest package versions. I try every month or so to see if this works.

[2019-03-19 19:38] tfaieta commented on #2212
Hi all, really loving Gatsby, but I'm running into the same issue when I'm trying to build my site. Running `gatsby develop` works fine but I get this error when I run `gatsby build`:

[code]

The problems started after I added gatsby-mdx and reconfigured my gatsby-config and gatsby-node files. I currently have no .MD files and only have one .MDX file.

Here's a link to the repo if you all can hel

[2019-03-19 20:24] elie222 commented on #12561
Just read through it all now. Thanks for the help.

This is my attempt at getting things working:

https://github.com/elie222/elie-tech/tree/storybook

But no luck either. To see the issue at hand:

[code]

[2019-03-19 20:44] jsbrain opened #12680 "gatsby-plugin-google-gtag window.gtag not working"
Hi, I'm trying to send a custom event with the gatsby-plugin-google-gtag plugin.

But window.gtag is not available. I really don't get it. What am I doing wrong?

Thanks

[2019-03-19 20:55] jonniebigodes commented on #2212
@tfaieta i've cloned your repo, installed the dependencies and issued `gatsb build && gatsby serve`. And i'm presented with this:
![tfaieta_error](https://user-images.githubusercontent.com/22988955/54640843-9fe36b80-4a88-11e9-8af0-6f9c0ec21d18.png)

Doing a bit of digging it looks like you have installed `gatsby-plugin-feed` and activated it in the `gatsby-config.js`.
Disabling it will allow a suc

[2019-03-19 21:01] ooloth commented on #4021
Alrighty, I was finally able to carve out some time to resolve this puppy!

I've created a new PR (#12681) that allows users who want `object-fit/object-position` support in IE to `import Img from "gatsby-image/withIEPolyfill"` instead of importing from `"gatsby-image"`.

Thanks to @KyleAMathews and @jlengstorf for suggesting this approach.

Please feel free to review the PR and let me know if the

[2019-03-19 21:21] tfaieta commented on #2212
@jonniebigodes Awesome! Thanks so much!

[2019-03-19 21:31] gu-stav opened #12684 "createRemoteFileNode can't deal with special characters"
## Description

In some cases `localFile` was null, when pulling media from wordpress.

### Steps to reproduce

I ran into the issue, while working with gatsby-source-wordpress:

[code]

In some cases `image.localFile` was `null` which made me wonder. After some time I found out, that the difference in the files appeared to be an `ä` (a german Umlaut), which is currently not normalized by default

[2019-03-19 21:42] coreyward commented on #12561
@elie222 It doesn't look like you're declaring `@svgr/webpack` in your dependencies; is it being loaded by Storybook? Can you go ahead and add it and see if that resolves your issue? For what it's worth, `gatsby-plugin-svgr` 2.0.2 resolves an incorrect (overly narrow) peer dependency and could be related.

[2019-03-19 21:44] coreyward commented on #12680
@jsbrain Mind reader is busted today, can you manually provide details for debugging (I know, I know, it's archaic).

[2019-03-19 21:49] coreyward commented on #12684
@tsimons wrote this code, perhaps he can shed some light.

[2019-03-19 21:57] coreyward commented on #12676
I can confirm the effect is present in the provided Netlify demo using Chrome 72.0.3626.121 on Mac OS.

Video demonstrating: https://media.giphy.com/media/1msHufSJWODw1g5jfM/giphy.mp4

[2019-03-19 21:58] lucasjohnston commented on #12644
@t2ca I don’t _believe_ so (I’ll have a look tomorrow though), but even if that were the case the illustration image and some parts of the css like the logo and shadows are being loaded first

[2019-03-19 22:16] coreyward commented on #12676
After looking a little closer, this is almost certainly not related to Gatsby image. The reason it's appearing on the top images in the second and third column is because you're using `column-count` (i.e. text column wrapping) and your images are relatively sized. The flashing is happening when the image gets shifted back into the prior column before it overflows and gets redrawn at the top of the

[2019-03-19 22:16] #12676 closed

[2019-03-19 22:20] jlengstorf commented on #12510
I'm so into this new work! I've run into two things while playing with this.

1. I think we need util functions for e.g. dealing with root query resolvers.
2. We need a blessed best practice for creating node IDs in custom types.

## Util function for making root query resolvers

For example, if I create a `Post` type:

[code]

Gatsby will automatically create a `post` and `allPost` query. The sch

[2019-03-19 22:28] marcysutton commented on #11810
This one shouldn't be closed! There is work being done in https://github.com/gatsbyjs/gatsby/pull/12406

[2019-03-19 23:36] #12608 closed

[2019-03-20 00:07] master12 opened #12686 "[v2] Css Modules @values not working when importing from file"
## Description

When I used css modules in Gatsby[v1] i was importing variables from files into my css module files. That seems to now be broken in [v2]

### Steps to reproduce

I have a file named colors.css
@value gray-pale: #f0f6fa;
@value gray-lighter: #ebf3f7;
@value gray-light: #d3dfe6;

I have another file that tries to import the color variables
@value colors: "../../../css-global/colors.c

[2019-03-20 00:27] th0th commented on #12653
Thank you @DSchau, glad to hear :)

I will upgrade the account once you sign up on the website. Then for the HTTP monitoring, we will need to add URLs to be monitored, these monitors are called **gazers**. We add a gazer, set the URL and request parameters (request method, headers, data etc.) if necessary and we are done. No client-side alterations needed! Then WebGazer sends a request every minut

[2019-03-20 00:48] airtonix commented on #11990
Also experienced this yesterday. will update with details this evening.

[2019-03-20 01:41] pieh commented on #12552
Can any of you share site you are seeing this problem with? I was able to kind of reproduce it (but I needed to disable memoization that we use, which should exactly prevent this problem).

[2019-03-20 01:55] pieh commented on #12552
Few notes for anyone who could be interested in tracking this down - this is changes I made in gatsby-plugin-sharp to disable memoization:

https://github.com/gatsbyjs/gatsby/commit/f235e9ebdd89225f6243150090f1900c449ef9ba

And this is custom code to excisively call not memoized `traceSVG` function - can be placed in `gatsby-node.js`

[code]

This crashes after some random time with exact same err

[2019-03-20 03:55] andrejarboe commented on #1567
date must be: 2000-01-01
NOT 2000-1-1

that was my problem

[2019-03-20 04:24] codingfunwoody commented on #12104
it's still not resolved. Is anything i said unclear?

[2019-03-20 04:54] jonathancary commented on #12610
Still didn't work, this is the build error I keep getting from Netlify after I try adding a blog post and it rebuilds:

[code]

[2019-03-20 05:21] master12 commented on #12686
Ok found an updated way of sharing variables.

use export: in the colors.css and use :import in the module.css
:export{
	grayPale: #f0f6fa;
	grayLighter: #ebf3f7;
	grayLight: #d3dfe6;
}
:import('../../../css-global/colors.css') {
  $gray-pale: grayPale;
  $gray-light: grayLight;
  $gray-lighter: grayLighter;
}

[2019-03-20 05:21] #12686 closed

[2019-03-20 08:31] krismorf commented on #12610
@jonathancary can you please share a [reproducible](https://www.gatsbyjs.org/contributing/how-to-make-a-reproducible-test-case/) example we can have a look at?

[2019-03-20 08:39] jsbrain commented on #12680
@coreyward Yeah, that's what I thought reading the docs of the plugin.

The plugin says:

This plugin automatically sends a “pageview” event to all products given as “trackingIds” on every Gatsbys route change.

or you can target a specific product:

In either case don’t forget to guard against SSR:

And I am trying something like:

[code]

but it says that window.gtag is undefined. So obviously I

[2019-03-20 08:42] jsbrain commented on #12680
Btw in case this question comes up: Yes, I tested in production ;)

[2019-03-20 09:41] freiksenet commented on #12510
@jlengstorf I think with interfaces the id thing  will be a bit easier because they'll always have the same ids as nodes of the underlying backing types.

[2019-03-20 10:15] MarcCoet commented on #12272
@stefanprobst

It does! It is just [the original article](https://www.gatsbyjs.org/blog/2019-03-04-new-schema-customization/) that is misleading then.

I guess the fog will raise with the arrival of proper documentation. ;)

About the sorting issue, thanks a lot for the clarifications. That is really helpful.
The workaround seems to be working so this is perfect for now.

I am very excited about t

[2019-03-20 10:22] cdtinney commented on #4983
You can now use `withPrefix` to reference static assets from any page as well:

https://www.gatsbyjs.org/docs/static-folder/#referencing-your-static-asset

[2019-03-20 10:54] sidharthachatterjee commented on #12684
Thank you for pointing this out @gustavpursche

Just took a look at the code for the `valid-url` package that we use. The regular expression here seems to be the issue
https://github.com/ogt/valid-url/blob/8d1fc52b21ceab99b68f415838035859b7237949/index.js#L62

A great next step would be to open an issue in that repository and maybe a failing test. We can then hear what the author has to say and ge

[2019-03-20 10:56] KyleAMathews opened #12689 "Speedup loading non-critical gatsby-image components on the initial page load"
We use a react component gatsby-image to power our responsive and lazy loading image behaviors. But this method does have one big downside, that it relies on the main js bundle to be loaded before images will start downloading. This can lead to late loading images especially on slow connections or mobile.

We added the `critical` prop for this sort of thing but that requires manual adjustment (whi

[2019-03-20 11:00] sidharthachatterjee commented on #12661
@Steffi3rd Could you link to a minimal reproduction of this? Just tried it out and it seems to work fine for me. Did you check the console for any thrown error or warning?

[2019-03-20 11:10] sidharthachatterjee commented on #12680
@jsbrain Just tried this out

Here's what I added to `gatsby-config.js`
[code]

And I added a log in the index page component in the starter (this will be run after mount just like componentDidMount in your comment)
[code]
![Screenshot 2019-03-20 16 39 10](https://user-images.githubusercontent.com/7701981/54679998-b80dc600-4b2e-11e9-9afb-4bda3bed9613.png)
And it seems to work like the screenshot a

[2019-03-20 11:18] sidharthachatterjee commented on #12656
@wulucxy Can you elaborate on why you would like to use both `gatsby-transformer-remark` and `gatsby-mdx` at the same time? If you need to use gatsby-remark plugins with mdx you can do so as documented in https://gatsby-mdx.netlify.com/api-reference/options/gatsby-remark-plugins/

Here is an example config to get you started:
[code]

[2019-03-20 11:23] sidharthachatterjee commented on #12674
Hey @EliasJorgensen

This looks like sharp isn't able to process this particular image for some reason (and only on pipelines since you mentioned that it works fine locally)

Is there anything special about the image? Does the build succeed if you remove this particular image? If yes, could you create a minimal reproduction on BitBucket (with the pipeline) and link to it here?

[2019-03-20 11:28] sidharthachatterjee commented on #12644
Just did a preliminary check, this is what the page looks like without JavaScript.
![Screenshot 2019-03-20 16 56 37](https://user-images.githubusercontent.com/7701981/54680948-2e132c80-4b31-11e9-82b4-325fcc708830.png)
That explains the flicker (till the JavaScript loads). Cloning the source and taking a deeper look now.

[2019-03-20 11:33] gustavpursche commented on #12684
@sidharthachatterjee I think you are right. After reading a bit about the difference of IRI and URI today, I also think the regex shouldn't be part of the authors `is_iri` function.

However - the author hasn't replied to any issues since 2015 or commited anything since then. Similar issues are open already, so maybe the only thing that could convince him is, that Gatsby is so popular. I'll try :)

[2019-03-20 11:44] sidharthachatterjee commented on #12644
Just took a look at the source and it seems that the sidebar is only made visible on `componentDidMount`. `componentDidMount` doesn't get called during SSR and hence the built site (using `gatsby build`) doesn't have the sidebar and looks like the image attached above. Once the JavaScript loads and componentDidMount is called (after mount) the sidebar is then rendered (`isSidebarVisible` is set to

[2019-03-20 11:57] richhiggins commented on #10937
I know this is closed.. _but_ is the conclusion here simply to avoid using transparent PNGs with blur-up? Is the blurring up approach incompatible with transparency?

My solution was to re-save my PNGs without transparency as I'm a fan of the blur-up approach.

[2019-03-20 12:40] bennetthardwick opened #12692 "New Gatsby type inference is slow on 60k pages"
## Description

After the `onPreExtractQueries` step of the build process, Gatsby gets when looking through 60k or so pages. Specifically, the `isDate` method (which is run on every string to check whether it's a string or a date string), is taking up the most time. These methods are all being run from the [example-value.js](https://github.com/gatsbyjs/gatsby/blob/07e69be2038de51bdd829bb8298cf2e72

[2019-03-20 12:51] baobabKoodaa commented on #12552
I can't reliably reproduce it, but this is the site that I'm working on which occasionally throws this error: https://github.com/baobabKoodaa/blog

[2019-03-20 12:55] polarathene commented on #10937
@richhiggins you won't be able to avoid some overlap due to transparency if you embed base64 as a placeholder graphic until the full version is available.

[I've submitted a PR](https://github.com/gatsbyjs/gatsby/pull/12468) about a week ago that does fix this to a degree though. It's mostly focused on skipping any CSS transition when the full image is in the browser cache, but you'll have momenta

[2019-03-20 13:10] shabith commented on #10401
Hi @aofolts,

I'm having a similar issue like this.  Where I can find `[postcss]/lib/input.js:130:16` in the project?

Thanks

[2019-03-20 13:18] Steffi3rd commented on #12661
https://v2.edgebase.com

You can check the bug here.

[2019-03-20 13:43] jonathancary commented on #12610
Not sure if you were wanting me to create a public repo for it or just looking for the instructions to reproduce. Here are the steps. Let me know if you need any further details. Thanks!

1. Install the Gatsby Blog Starter:
`gatsby new gatsby-blog https://github.com/gatsbyjs/gatsby-starter-blog`

2. Add Netlify CMS: `npm install --save netlify-cms gatsby-plugin-netlify-cms`

3. Add it to gatsby-co

[2019-03-20 14:06] ciruz opened #12696 "working with images in an array context, something changed in the latest gatsby version"
## Description

Today I updated gatsby from 2.1.39 to latest 2.2.2, and now gatsby wont recognize some images as files anymore, only as strings.

After updating gatsby, I get this error now:
``error GraphQL Error Field "logo" must not have a selection since type "String" has no subfields.``

### Steps to reproduce

This is my json file (partner.json):
[code]

My query:

[code]

``/content`` - fold

[2019-03-20 14:26] #12656 closed

[2019-03-20 14:33] shabith commented on #10401
Nevermind I followed the debugging guide and manage to find the solution.
https://www.gatsbyjs.org/docs/debugging-the-build-process/
Thanks anyway 😄

[2019-03-20 14:39] stefanprobst commented on #12692
Thanks for the report and for providing a testing repo!

We are indeed now checking every string if it is a date string -- we did not do this before but only checked on a randomly picked field value which unfortunately made type inference non-deterministic. We are aware though that this does not scale very well.

I'll test with the provided repo soon -- in the meantime: if it hangs after `onPreExt

[2019-03-20 15:11] liamfd commented on #7064
I hope this is the right place to ask this question, I wound up here from [the polyfills section of the migration guide](https://www.gatsbyjs.org/docs/migrating-from-v1-to-v2/#remove-explicit-polyfills):

I'm confused by this because my understanding is that `babel-polyfill` makes its changes globally (as opposed to injecting things into the scope of each module). That seems to match what [its doc

[2019-03-20 15:19] LechuckThePirate commented on #9899
In my case it was FBDown video downloader... already disabled it and contacted the author to fix the problem

[2019-03-20 16:01] tadeas22 commented on #12696
Exactly the same problem.

[2019-03-20 16:40] ooloth commented on #12696
Same here. Reverting to `2.1.39` worked as a temporary fix.

[2019-03-20 16:45] DSchau commented on #12272
Want to x-post gatsbyjs/gatsby#12696, specifically [this post](https://github.com/gatsbyjs/gatsby/issues/12696)

Looks like file inference/detection may have been slightly tweaked here? Updating to `2.2.2` broke, whereas `~2.1.0` seems to correctly infer the file node.

[2019-03-20 17:27] #10816 closed

[2019-03-20 17:27] #10445 closed

[2019-03-20 17:27] #10909 closed

[2019-03-20 19:35] markvital commented on #12384
I have similar problems.
When I use export default build fails with the following errors:

[code]

I've tried to install [@babel/plugin-proposal-export-default-from](https://github.com/babel/babel/tree/master/packages/babel-plugin-proposal-export-default-from) pluging, as suggested in error log, but it did not help.

When this will be fixed?

[2019-03-20 20:04] DSchau commented on #12384
@markvital ah! OK - so that's separate to this issue, but thanks for letting us know!

Here's a [quick example](https://github.com/DSchau/gatsby-export-default-from) I just whipped up that shows how to do that.

So -- unless I misunderstand, there's nothing to "fix" here re: that proposal, specifically.

[2019-03-20 20:22] millette commented on #12692
Me too! I am using a single 60 MiB JSON file for my data. Was taking about 10-15 minutes to build with gatsby < 2.2.0 but with the most recent, it's taking 2h30.

[2019-03-20 20:22] jonniebigodes commented on #12561
@coreyward `@svgr/webpack` is added to the project's dependencies, as you can see [here](https://github.com/elie222/elie-tech/blob/master/package.json#L29). @elie222 i'm currently making some tests to see if i have figured out is actually the problem here. I'll post my findings as soon as i can. Sounds good?

[2019-03-20 21:11] wardpeet commented on #12692
PR #12700 is a quickfix to make it a little bit faster again. Do you mind trying it out?

[2019-03-20 21:34] violy opened #12702 "gatsby-plugin-subfont file paths isn't escaped in execSync command"
## Description

In the `gatsby-plugin-subfont` plugin, **file paths aren't escaped** in `execSync` command.
I've get the error _locally_, in development context, during the build, **because the absolute path of my project root contains spaces** (Ok, it’s bad.)

### Steps to reproduce

1. install gatsby **in a directory containing some space** in there dirname (or other character to be escaped)
2.

[2019-03-20 21:34] #12143 closed

[2019-03-20 21:37] jonniebigodes commented on #12661
@Steffi3rd just opened the url in a old iphone 4s using wireless and nothing wrong there, tried it once more with 3g, same result. Grabbed another phone this case a galaxy s9. Same tests, same results. All loads instantly. Nothing blank there.

[2019-03-20 21:42] violy commented on #12702
To fix the problem, I've simply add _double quotes_ `"` `"` to wrap the paths.

in `node_modules/gatsby-plugin-subfont/gatsby-node.js:14`
[code]

But the _path escape_ resolution is not strict with this simple _double quotes_ fix.
I think using `shell-escape` package would be a best resolution ?

[2019-03-20 22:00] TemporalAgent7 opened #12703 "Webpack worker-loader causes CSS error during"
## Description

I'm trying to add a webworker, using [worker-loader](https://github.com/webpack-contrib/worker-loader). As soon as I add the require / import line (`import ComputeWorker from 'worker-loader!../wasm/wasmWorker';`), the gatsby / webpack build fails in a seemingly unrelated page build, while looking for a CSS file.

### Steps to reproduce

[code]

### Expected result

A functional bui

[2019-03-20 22:03] stefanprobst commented on #12696
Could you provide a testing repo to reproduce the error? Or try if the fix in #12704 works for you? That would be very helpful! Thanks!

[2019-03-20 22:10] millette commented on #12692
Thanks @wardpeet I'm giving it a shot, hopefully with an answer in less than 2 hours :-)

[2019-03-21 00:04] antonioc57 opened #12706 "Error Building static HTML failed for path "/home/""
Hello, I have the error when I run the build, error has failed for the path, I have no idea where this error occurs.

[code]

[2019-03-21 00:47] TemporalAgent7 commented on #12703
I got it working by (counter-intuitively) setting the worker-loader both inline and in onCreateWebpackConfig in gatsby-node.js.

[2019-03-21 00:47] #12703 closed

[2019-03-21 00:48] KyleAMathews commented on #12692
What did schema creation take before?

[2019-03-21 00:53] Steffi3rd commented on #12661
Thanks @jonniebigodes, really weird... I’ll try to upload videos to show you

[2019-03-21 00:58] me4502 commented on #12692
They mentioned in an earlier comment that it was taking 10-15 minutes. I'm going to try this on our codebase as we were taking 15 seconds before, but >30 minutes after.

[2019-03-21 01:03] Steffi3rd commented on #12661
Here, when we click on item after typing in the search input (yeah responsive not done yet)

https://imgur.com/a/WIj9Dda

[2019-03-21 03:35] truthiswong commented on #9899
Extension plugin problem, close some plugins to have a look, hope can help you.

[2019-03-21 05:02] stefanprobst commented on #12692
I also tried with swapping `momentjs` for `date-fns@2` and the difference is *enormous*. The problem with how things are done currently is that we check 55 different ISO format strings with moment.

[2019-03-21 05:48] MarkSalabutin opened #12709 "gatsby-plugin-canonical-urls query params and hash"
Could you let me know why you added `location.hash` and `location.search` to canonical url? I faced with a problem that search engines treat pages `example.com/page` and `example.com/page?search=query` as different, but in practice, they are the same.

[2019-03-21 07:11] secondary-school55 opened #12710 "Add new gatsby lifecycle"
## Summary

In Gatsby there are sourceNodes api and it works fine for most cases. But it not works very good with transformers plugins. For example gatsby-transformer-yaml. When sourceNodes is called there are no gatsby-transformer-yaml nodes created yet. I suggest lifecycle api similar for sourceNodes: transformNodes. It will be called when all source and transform plugins done their work.

[2019-03-21 07:50] freiksenet commented on #12692
We will merge Ward's PR as a temporary optimization. Sadly `date-fns` parser is a bit too loose (like it allows dates with arbitrary trailing characters), so that would be a potential breaking change.

As a long term solution to this, we will provide an opt-out from inference that will considerably speed up sites with lots of nodes. This will be done by specifying the GraphQL types for the nodes t

[2019-03-21 07:57] schalkventer commented on #8122
@KyleAMathews Can you re-open this issue and assign it to me?

[2019-03-21 08:05] #12696 closed

[2019-03-21 08:13] #12142 closed

[2019-03-21 08:23] millette commented on #12692
Closing (it's merged); further steps will require more specific issues.

[2019-03-21 08:57] danielo515 commented on #7310
All that I see are workarounds for a problem that should not even exist.
What if your target browser does not support flexbox?

[2019-03-21 09:04] danechitoaie commented on #12692
Just to throw an idea out there. What about if the source-plugins would be able to specify the data type when they create the nodes?

Something like `name: gatsby.StringType(something.name)`, etc. ?

(as a proposal for a future improvement)

[2019-03-21 09:30] arnorhs commented on #12552
just a theory, but could it be that there are conflicting job IDs in the reducer for each task in `createJob`?
https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-plugin-sharp/src/scheduler.js#L91

you'd think that maybe the id should contain the inputFileKey instead of the filename.. just a random idea, since it's kind of peculiar that there'd be a different key chosen for the set in `

[2019-03-21 10:00] LekoArts opened #12713 "[examples]: Add "using-i18n" example"
Since more and more people show interest in "How to use i18n with Gatsby" a first step can & should be adding a `using-i18n` example. There are various third-party libaries like [react-i18next](https://react.i18next.com/) or [lingui](https://github.com/lingui/js-lingui) and also already multiple gatsby-plugins like:
- https://github.com/angeloocana/gatsby-plugin-i18n
- https://github.com/ikhudo/ga

[2019-03-21 10:21] grubersjoe opened #12717 "gatsby-source-graphql breaks after upgrading Gatsby from v2.1 to v2.2: GraphQLError: Unknown type"
## Description

After upgrading from Gatsby v2.1.31 to v2.2.3 my project fails to compile all of a sudden, because  the `gatsby-source-graphql` plugin throws the following error. I'm using this plugin to query data from the [GitHub GraphQL API (v4)](https://developer.github.com/v4/). No source code has been changed, and I checked in the online explorer of GitHub's API: the query is still valid. I

[2019-03-21 10:41] bogdan-calapod commented on #11665
I'm also running into this issue. Windows 10 1809 with Ubuntu WSL and Gatsby 2.0.91 installed.

[2019-03-21 10:41] sami616 commented on #3344
I have discovered some strange behaviour, perhaps i am doing something wrong? When i define a type where one of its fields references itself, i always get a value of ```null``` back for that field?

[code]

[2019-03-21 10:51] JoshLong23 commented on #7310
I've had issues as well with a bug when setting `height: 100vh' where when scrolling is required, I get a double scrollbar in chrome.

The way I've solved a similar problem is rather than use `height: 100vh;`, is to add `min-height: 100vh;` to my wrapping `Layout` component. When you combine that with something like setting:
`grid-template-areas: 'Header' 'Content' 'Footer';`
`grid-template-rows:

[2019-03-21 10:52] lannonbr commented on #11665
@bogdan-calapod can you try updating to Gatsby 2.2.0 or later and try again to check that this hasn’t been resolved

[2019-03-21 11:23] secondary-school55 commented on #12480
Bug is fixed with #12671

[2019-03-21 11:23] #12480 closed

[2019-03-21 11:30] stefanprobst commented on #12717
Thanks for the detailed report! Could you try if #12720 fixes the issue for you? Thanks a lot!

[2019-03-21 11:34] elie222 commented on #12561
Sounds awesome ❤️ . This may be a problem with the latest version of Storybook. v5 just came out and there were a fair number of issues related to importing svgs/pngs on SB repo. I have posted there too:

https://github.com/storybooks/storybook/issues/6188

[2019-03-21 11:56] bogdan-calapod commented on #11665
Just upgraded all packages to the latest version (gatsby is at 2.2.5) and it still locks up. The weird thing is that the port somehow remains blocked, as killing the terminal and restarting gatsby doesn't restore connection.

Restarting LxssManager from `services.msc` and then restarting `gatsby` fixes the problem after a while.

Let me know if I can be of help in tracking this bug down.

[2019-03-21 12:03] lucasjohnston commented on #12644
Ahh right - that makes a lot of sense.
Thanks for looking into this @sidharthachatterjee 👍

[2019-03-21 12:03] #12644 closed

[2019-03-21 12:03] freiksenet commented on #12717
Sorry about that, it should be fixed in #12721.

[2019-03-21 12:14] wardpeet commented on #12692
@danechitoaie that's something we're going to move to.

@millette @bennetthardwick I did some more perf improvements #12722 could you guys give it a spin and report if something is wonky

[2019-03-21 12:18] lannonbr commented on #11665
Okay. I'll mark it as not stale as the issue is still persisting

[2019-03-21 12:58] lannonbr commented on #12713
I like the idea of having it without using any 3rd party plugin so rather than abstracting things away, you can focus in on the key architecture of doing internationalization.

With the blogpost strategy, I'm thinking the 2nd option is going to be cleaner in the long run so if you want to create a blog post and then have other people translate it, you can just tell them to duplicate the file in th

[2019-03-21 12:58] amad-person commented on #12517
A possible fix for this bug is to add the `fixed` prop to the `<LHSFilter>` components for "Categories" and "Gatsby Dependencies" in `www/src/views/starter-library/filtered-starters.js`.

The reason the "Gatsby Version" accordion doesn't exhibit this behaviour is because its `<LHSFilter>` has the prop `fixed={150}`. On removing it, it disappears instead of collapsing too.

P.S. I can open a PR for

[2019-03-21 13:45] AAverin opened #12725 "TypeError: Cannot read property 'componentChunkName' of undefined"
## Description

After implementing some generated pages (blog posts) often dev version of Gatsby breaks with `TypeError: Cannot read property 'componentChunkName' of undefined`

<img width="1084" alt="Screen Shot 2019-03-21 at 14 45 10" src="https://user-images.githubusercontent.com/1481332/54756185-f7e4b400-4be7-11e9-95f8-99bbd9143dd2.png">

Only restarting `gatsby develop` solves the problem

##

[2019-03-21 14:12] dharric commented on #11665
I also updated and it still happens. I also develop node and plain react apps but have never run into this issue there

[2019-03-21 14:41] AAverin commented on #12725
After starting `gatsby develop` everything works for a while, but then randomly breaks and page no longer opens

[2019-03-21 15:32] fk commented on #12517
Hey @amad-person! 👋

That'd be great! 🙏

[2019-03-21 15:38] wardpeet commented on #12485
After our pair programming session, it's a duplicate of https://github.com/gatsbyjs/gatsby/issues/9362.

Could you try if you still have the issue when running Lokiedb instead of file system. you can run it by using `GATSBY_DB_NODES=loki gatsby build` and see if it still crashes?

[2019-03-21 15:47] morenoh149 commented on #12068
@fwielstra your minimal example doesn't run for me. Error
[code]
[code]
please add a readme and doublecheck you can run the repo yourself to get more help.

[2019-03-21 15:57] jrhicks commented on #12104
I have the same issue on my project.  Everything works fine when "gatsby develop", but "gatsby build" fails.

I was able to "work around" the issue by using ||

[code]

[2019-03-21 16:00] jcursoli commented on #12680
Hello I am experiencing the same issue, heres my config since i dont see anyone elses posted

[code]
and im using the window.gtag like this
```window.gtag('event', `blah blah`);```

and im getting `Uncaught TypeError: window.gtag is not a function`
[code]

[2019-03-21 16:20] jsbrain commented on #12680
Hi, thank you for your help.

I was able to resolve the issue. My browser cache was serving me an old version of my site 🤦‍♂️ So I removed all application data from chrome and voila it worked!

@jcursoli Make sure to run in production mode (eg. `gatsby build && gatsby serve`). It is not working with `gatsby develop`, as stated in the docs ;)

[2019-03-21 16:30] jcursoli commented on #12680
@jsbrain Yes i tried it in production, cleared cache etc.

[2019-03-21 16:33] dbrookes commented on #12725
I have the same issue on hot reload, any chance you're using `gatsby-plugin-remove-trailing-slashes`?

Removing `gatsby-plugin-remove-trailing-slashes` from `gataby-config.js` brings back hot reloading in dev for me

[2019-03-21 16:45] mahhan opened #12728 "Featured media in elasticlunr search index"
Having implemented the plugin 'gatsby-plugin-elasticlunr-search' I have managed to create a fully working site index search. However, is there any way to add a post types featured media in the search to show the product being searched for.

I have the current setup in `gatsby-config.js`:
[code]

This search input field component `SearchInput.js`
[code]

And this search component, which handles the

[2019-03-21 16:51] jcursoli commented on #12680
Okay i think i got it, the problem is when you specify `respectDNT` option as true, it becomes undefined even though i dont have do not track options set on my browser. once i remove it, it works. But I still would like to have that option available. @sidharthachatterjee

[2019-03-21 17:02] AAverin commented on #12725
I have this, maybe some of the plugins use `remove-trailing-slashes` internally?
[code]

[2019-03-21 17:06] frank3stein commented on #12706
I get a similar error for the path "/404/", which I have not modified. This happened after running npm update and only in npm run build.

<pre><font color="#CC0000">error</font> Building static HTML failed for path &quot;<b>/404/</b>&quot;

See our docs page on debugging HTML builds for help https://gatsby.dev/debug-html

 <font color="#555753">  8 | </font>	<font color="#06989A">else</font>
 <fon

[2019-03-21 17:27] #11704 closed

[2019-03-21 17:32] AAverin commented on #6668
@pieh Do you know if there were any updates on better error handling?
I get the same error with `split`, but I would love to somehow see the original error and understand where it comes from

[2019-03-21 17:32] chrisfitkin commented on #3318
@kripod thanks your code snippet worked great for my site!

I used it to write a small demo with instructions in case it helps anyone in the future.

demo code: https://github.com/chrisfitkin/gatsby-smooth-scroll-demo/
instructions: https://medium.com/@chrisfitkin/how-to-smooth-scroll-links-in-gatsby-3dc445299558

[2019-03-21 17:46] sarahannnicholson commented on #12725
I am seeing this as well, I haven't tried installing `remove-trailing-slashes` yet.

But I have a question for everyone. When you do `gatsby build` then `gatsby serve` and go to http://localhost:9000 do you get the same error? Just wondering if what I am seeing with `gatsby serve` is related to this

[2019-03-21 17:50] AAverin commented on #12725
I am still struggling to build, get some error inside error message prettifier similar to #6668
Will post a message when I build the project
Also, maybe look to #4360. Once I applied a fix from there I think I stopped getting the componentChunkName  message

[2019-03-21 17:55] pauleveritt commented on #11151
@pieh How do I prevent the bot from trying to close this? I commented 11 days ago. I don't have permission to put the "not stale" label nor re-open.

I put a lot of work into this ticket.

[2019-03-21 18:02] DSchau commented on #11151
@pauleveritt I've done it for you. Thanks for making us aware!

[2019-03-21 18:04] danoc commented on #12621
I'd be happy to take a look at this if the "add support for JSX nodes" approach is the desired one.

[2019-03-21 18:22] ndotmdot commented on #8475
Is there a way to to this for all images that are within fromtmatter. for example node.frontmatter.product.image and not just node.frontmatter.image?

[2019-03-21 18:24] DSchau commented on #12717
I get a different error than you--could you maybe push a branch where we can reproduce your exact issue?

I did `yarn add gatsby@2.2.0` and then `GITHUB_TOKEN=hunter2 yarn build` and I receive:

Of course--can validate that it works in gatsby@~2.1.0--so this definitely seems like a regression.

[2019-03-21 18:30] ndotmdot commented on #2995
@waywardm  What if my frontmatter has images defined in different places? like node.frontmatter.intro.image and node.frontmatter.product.image. Is there a function that can deal with all of these cases?

[2019-03-21 18:42] stefanprobst commented on #12717
@DSchau The error you are seeing was fixed in `gatsby@2.2.1` with #12668

[2019-03-21 18:47] DSchau commented on #12717
@stefanprobst 🎉 yup yup.

With `gatsby@2.2.1` I get:

with `gatsby@2.2.5` I get:

[2019-03-21 18:58] jonniebigodes commented on #12561
@elie222 looks like it worked. I'm going to break down the answer into smaller bits so that you can make adjustments as you go along.
Going to start off with the typescript part and then move onto the storybook part.

- When i was working on your issue, one thing kept bugging me while i was trying to make the reproduction work and it's that when you import a svg file into any component a squigly l

[2019-03-21 19:08] ArcanisCz commented on #7810
I would very well consider adding that esm approach to documentation, since Gatsby is indicating es6 modules should work inside gatsby-node.js file. This error message is printed, when you mix modules:

`error This plugin file is using both CommonJS and ES6 module systems together which we don't support.`

It clearly indicates, you CAN use es6 modules.

[2019-03-21 19:08] grubersjoe commented on #12717
I'm seeing the same error. So I fear this is still broken :sweat_smile:.

[2019-03-21 19:44] stefanprobst commented on #12717
yes, so sorry, this is indeed not yet fully fixed (but almost :wink:). Btw `GitHub.relay` is the weirdest field I have ever seen, even the field description says it's a hack.

[2019-03-21 20:25] Truemedia commented on #12633
Sorry I ran out of time to test this during week, will take a look again this weekend

[2019-03-21 20:50] KyleAMathews opened #12734 "gatsby commands fail if "sysctl" isn't on the $PATH"
`physical-cpu-core` doesn't try/catch around their system calls.

The package also isn't on GitHub so we can't PR a fix 🤦‍♂️

Here's the existing code. I recommend we vendor it with the fix:

[code]

[2019-03-21 21:02] zachfeldman commented on #12068
Upgrading from 3.1.1 to 3.2.0 fixed this for us!

[2019-03-21 21:19] jumpalottahigh commented on #12306
This has been quiet for a while and I had some time to put together #12736 , hope you don't mind @JABedford .

[2019-03-21 21:54] marcysutton opened #12739 "[gatsby-site] Accessibility issues in rotating plugin feature"
## Description

I didn't get a chance to review the [plugin tagline rotator PRs](https://github.com/gatsbyjs/gatsby/pull/12530) before they were merged, so I went through the feature today and here's what I found!

The nav arrow buttons are real button elements with labels, which is so appreciated. I love how you used `matchMedia` to lean on `prefers-reduced-motion` for animating based on user a p

[2019-03-21 22:49] dg1234uk opened #12741 "Moderate Vulnerability - gatsby-plugin-sharp"
**version**: Globally installed gatsby-cli 2.4.17 (gatsby-starter-default)
**version**: Package installed gatsby 2.2.6
**npm**: 6.9.0
**node**: v11.12.0

`npm audit` currently gives the following:

[code]

`npm ls js-yaml` output

[code]

[2019-03-21 23:37] Wolfsun commented on #12272
Just found this when experimenting with creating custom interfaces using the API. Using the resolveType function on the interface works, but using isTypeOf functions instead on the objects that share the interface does not. I think this is down to the below code in schema.js, which assumes the resolveType should be node, when no function is declared. This assumption is now incorrect with custom in

[2019-03-22 01:04] codingfunwoody commented on #12104
yes, but it cannot be solved if you import a 3rd package, unless you modify their coding.

[2019-03-22 01:15] jlengstorf opened #12743 "[gatsby-plugin-sharp] Density should be ignored for non-SVG images"
We saw a few reports of itty bitty images come in from @joelhooks and @kentcdodds. The `max-width` from `gatsby-remark-images` was coming out with tiny values like `38px`, which, of course, is bad.

Digging into this, @ChristopherBiscardi and I (with an assist from the all-knowing @pieh) traced the issue back to `gatsby-plugin-sharp` and this code:
https://github.com/gatsbyjs/gatsby/blob/74e1063f5

[2019-03-22 01:17] jlengstorf commented on #12743
I _think_ the kludgy fix here would be to replace lines 380–383 with:
[code]

😄

[2019-03-22 01:26] pieh commented on #12741
Thanks for reporting this.

We are currently block on this, because `svgo` pins `js-yaml` version - and newest version of `svgo` uses `ja-yaml@3.12.0` (so still affected by it). This is issue on `svgo` repository to track https://github.com/svg/svgo/issues/1088

[2019-03-22 01:45] ChristopherBiscardi commented on #12621
it is. We've basically exhausted all of the other options at this point. Feel free to ping me to ask any questions if you need to.

[2019-03-22 02:14] interglobalmedia opened #12744 "Error: Cannot find module 'core-js/modules/es6.object.assign'"
## Description

Describe the issue that you're seeing.
When I first ran gatsby develop, I got the warning:

[code]
So I installed core-js@3. Then I ran gatsby develop again, and this time I got the error which exited me out of gatsby build:

[code]

### Steps to reproduce

Clear steps describing how to reproduce the issue. Please please please link to a demo project if possible, this makes your is

[2019-03-22 02:22] WriteCodeEveryday opened #12745 "Support for Tabbed Content"
## Summary

I'd like support for tabbed content or some documentation on how to do tabbed-like behaviour.

### Basic example

DocFX has extension for tabbed content here (https://github.com/dotnet/docfx/issues/1659) that could be some limited use.

### Motivation

When generating developer documentation using Gatsby, it would be amazing to nest a whole bunch of examples kinda like these [twilio on

[2019-03-22 02:37] chenrico commented on #12552
I had this issue in a project querying Contentful images.
I simple change `GatsbyImageSharpFluid_tracedSVG` to `GatsbyImageSharpFluid`and the issue seems to be solved.

[2019-03-22 02:52] ryuheiyokokawa commented on #12237
Having the same regression here.  Using normal WP 5.1 (self-hosted).  Can confirm that the media asset exists via REST API, but doesn't show on graphql side (FYI, all media has been unattached).  Seems to only affect featured_media for me, but unsure as that is where it got stuck first.  I've also tagged at 3.0.2 to prevent issues for now.  Thanks @ShawnBaek !

[2019-03-22 03:15] yogeshkotadiya commented on #12014
Merged in #12174

[2019-03-22 03:15] #12014 closed

[2019-03-22 03:19] SammyIsra commented on #12676
@coreyward thank you! Your answer clued me into using a `fixed` query instead of a `fluid` one. That mostly solved my issue, but not I am facing a new one where the images are zoomed in the container. However, I don't think that may be in the scope of this issue anymore, thank you very much!

[2019-03-22 03:28] dustinhorton commented on #12399
I'm experiencing this error but unsure which modules need transpilling—any tips on how to identify them?

[2019-03-22 03:59] ar-stackrox commented on #11830
+1 for network first

[2019-03-22 05:16] arnars commented on #12399
@dustinhorton which error exactly?

I had the most luck with just uncommenting a lot of stuff, and then do gatsby build > gatsby serve (delete .cache and public before) and run in browserstack.

[code]

[2019-03-22 05:21] stefanprobst commented on #12272
Hi @Wolfsun Yes, since providing `resolveType` via SDL isn't possible we provide a default which should work in most cases, and allow providing a custom one via `graphql-js` types. It's true this does not play well with `isTypeOf`. Out of curiosity: is there a reason for using `isTypeOf` over `resolveType`?

[2019-03-22 05:25] dustinhorton commented on #12399
@arnars `Error: Missing resources for <path>`

[2019-03-22 06:30] lufinka commented on #12744
I really want to encounter the same problem. How did you solve it?

[2019-03-22 07:19] moonmeister opened #12751 "Phantom of the gatsby-dev"
## Description

My sanity is at stake here ya'll, so please help. Basically `gatsby-dev` just seems not to work...but it's also working perfectly. 🤯

I'm trying to make changes to the `gatsby-cli`, so I've done my edits in `gatsby` and `gatsby-cli` packages, and I've got `yarn run watch --scope={gatsby,gatsby-cli}` running happily.

In my test Gatsby site (created from `gatsby new` with no changes

[2019-03-22 07:21] moonmeister commented on #12751
FYI: the gatsby info output above is from the test repo.

[2019-03-22 07:21] arnars commented on #12399
@dustinhorton and others that come across this thread:

I have created a gist where I share my experiences when getting Gatsby to work with IE.
https://gist.github.com/arnars/2bb1d81fc0955d57fe88a8348695f594

If you have any solutions that are not mentioned already, please feel free to share them.

[2019-03-22 07:41] lushijie commented on #12744
[code]

[2019-03-22 08:45] #12717 closed

[2019-03-22 08:58] sidharthachatterjee commented on #12624
Hey @ullibodnar

It's currently only possible to fetch data using
- a page query
- a static query in a React component

Since the `preloadedState` needs to be passed into the redux store when creating it (and since it is typically created outside the scope of a React component) it currently isn't possible to query data and pass it in as `preloadedState`

[2019-03-22 09:02] freiksenet commented on #4261
This is released now in 2.2.x.

[2019-03-22 09:02] #4261 closed

[2019-03-22 09:05] EliasJorgensen commented on #12674
Hey @sidharthachatterjee, the problem has persisted since i made the issue, but it has now gotten weirder. As you see in the below screenshot, the pipeline apparently only fails sometimes? The image(s) have not been changed since pipeline #132 ran. This makes no sense to me at all. The only thing "special" about that image, is that a large portion of it is transparent.

![image](https://user-image

[2019-03-22 09:09] sidharthachatterjee commented on #12674
@EliasJorgensen Seems like an issue with `sharp` not being able to process it (sometimes) 🤔

Could you create a small reproduction with the same image and a pipeline? We've seen issues with sharp before but haven't managed to reproduce a lot of these.

[2019-03-22 09:11] sidharthachatterjee commented on #12661
@Steffi3rd Can you inspect the console on the mobile device and see if it throws anything?

[2019-03-22 09:19] polarathene commented on #12674
Try disabling the webp part. Assuming you no longer run into issues, it may be due to webp conversion.

If that is the case, you want to find out if you're using webp provided by sharp. Have your yarn command also use the verbose log output option, should be able to scan through that looking for webp. It'll either install and pass the binary test fine or if that fails attempt to build from source.

[2019-03-22 09:23] sidharthachatterjee commented on #12680
@jcursoli Just tested out setting `respectDNT` to `true`. It works fine when DNT is set to false in my browser. When setting DNT to true in [Chrome browser settings](https://support.google.com/chrome/answer/2790761), it becomes `undefined` (which is correct behaviour)

[2019-03-22 09:24] sidharthachatterjee commented on #12717
Published in gatsby@2.2.7

[2019-03-22 09:46] Steffi3rd commented on #12661
I don’t know how to see console log on iPhone X

Homepage works fine because it on client route only.

But company pages are client only like this one are blank : https://v2.edgebase.com/company/social-cloud

[2019-03-22 09:49] robthompsonweb commented on #12717
Have run into the same issue the last few days as well - @2.2.7 just fixed it

[2019-03-22 09:50] EliasJorgensen commented on #12674
@polarathene Where do you suggest that i add verbose logging?
I cannot find anything about log levels, in the `gatsby` documentation.

[2019-03-22 09:55] amanrathore10 opened #12753 "How to strip of the lazy loading scripts from the output html to get the amp version?"
The gatsby amp plugins are not too useful and are failed by the ampvalidator tools.

[2019-03-22 09:59] anonimoconiglio commented on #12744
I have similar problem, the warning about core-js started to appear since the last update (v2.2.x)

[2019-03-22 10:18] millette commented on #12692
@wardpeet I didn't have a chance to try #12722 but on first sight it looks like a lot of code compared to first patch. Also, my project should be redesigned somewhat since it's already pretty slow and doesn't make the best usage of gatsby, so it shouldn't be too significant to proper gatsby usage.

(reopening the issue since we're not done, it seems)

[2019-03-22 10:21] b0gd4n commented on #11053
We've update the site packages - no other changes and this is now working perfectly fine.

[2019-03-22 10:21] #11053 closed

[2019-03-22 10:26] jakeherp opened #12754 "Netlify deploy failing (Invalid filename 'icons/icon-96x96.png?v=a19f3881b4ae7f39c6f8740545bdbfb6915cf4b0'. Deployed filenames cannot contain # or ? characters)"
## Description

Since a couple of days ago it keeps failing to deploy to Netlify with the following error:
`8:20:02 AM: failed during stage 'deploying site': Invalid filename 'icons/icon-96x96.png?v=a19f3881b4ae7f39c6f8740545bdbfb6915cf4b0'. Deployed filenames cannot contain # or ? characters`

I have confirmed this to be a problem with `gatsby-plugin-manifest` by locking its version to 2.0.18. In

[2019-03-22 10:28] EliasJorgensen commented on #12674
@sidharthachatterjee I actually just got the error on my local machine, also.

[code]

If there is anything i can do, to improve the detail level of the log, please let me know!

[2019-03-22 10:30] millette opened #12755 "Wrong issue links in plugin changelogs"
## Description

Links to issues appear wrong in many package changelogs. Gatsby's own is ok:
<https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby/CHANGELOG.md>

But not so for the plugins, such as:
<https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-image/CHANGELOG.md>

Instead of markdown like:
[code]

The manual link could be removed in favor of a simple:
[code]

### Expec

[2019-03-22 10:36] EliasJorgensen commented on #12674
I have possibly found the issue, i will investigate further and get back to you.
If i on my local machine get a problem, convert the problematic image to a text file and open it, i get an error message from the google drive API i'm using, about rate limiting.

I will find a way to fix that rate limiting issue, and see if it resolves the problem - both locally and in the pipeline.

[2019-03-22 10:41] sami616 commented on #3344
Im running into an issue when using the new schema customisation with gatsby-source-contentful.

Defining a type where one of the fields points to a reference array always returns ```null```

Ie:

[code]

[2019-03-22 10:47] dantesolis commented on #7986
not stale, fuudge why does time passes so quickly ??? gonna push tis weekend or latest end of next week. Have been hammered at work
Thanks and sorry for the delay

[2019-03-22 10:52] wardpeet commented on #11982
@Moocar sorry for taking so long to get back to you but compilation hash seems great, I was looking at file hashes, so don't mind that comment 😄 Looking forward to some code!

[2019-03-22 11:10] JABedford commented on #12306
No, absolutely not. I just never had the time to look into it properly.

[2019-03-22 11:24] sami616 commented on #4261
Im running into an issue when using the new schema customisation with gatsby-source-contentful.

Defining a type where one of the fields points to a reference array always returns ```null```

Ie:

[code]

[2019-03-22 11:41] hugo-marques-m3 commented on #12399
@arnars You're my hero. I needed to do this https://gist.github.com/arnars/2bb1d81fc0955d57fe88a8348695f594#include-babelpolyfill-in-your-webpackconfig but I thought it wasn't possible anymore. Thanks a lot.

[2019-03-22 11:41] rzubrycki commented on #11123
Hi, got the same issue as author. Any update on this one?

[2019-03-22 11:43] rakeshpai commented on #12744
Does this belong in `babel-preset-gatsby`? How would @lushijie's fix work with it?

[2019-03-22 12:00] grubersjoe commented on #12717
Thank you for the quick fix. It's working now :).

[2019-03-22 12:08] polarathene commented on #12674
I was actually thinking of yarn verbose option flag(`yarn --verbose`) and meant to compare it to npm, sorry for the confusion.

Ok, so the png image wasn't really a png image? Seems similar to the issue in #10882#issuecomment-473796603 . Having a more helpful error that can confirm if the image type is what the extension suggests it is would probably be useful.

[2019-03-22 12:22] EliasJorgensen commented on #12674
Yeah, the png image was actually a json file, with a .png extension.
This has nothing to do with Sharp however, but the gatsby-plugin-drive plugin, which fetches the files from Google Drive. But agreed, it would probably be beneficial to probe the file for a media type, and not just trusting the extension completely.

[2019-03-22 12:40] #12306 closed

[2019-03-22 12:56] cccccui commented on #12744
I really want to encounter the same problem. How did you solve it?
--

[2019-03-22 13:03] polarathene commented on #12674
Oh I know it's not causing it, but it is where the error is being raised from right? (I tried to locate where the logged error was defined but failed miserably) If it is, it'd still be useful to provide the additional context if the image is what it claims to be :)

[2019-03-22 13:05] EliasJorgensen commented on #12674
Yes, the error message in the log comes from gatsby-image, and thus by proxy, sharp :)

[2019-03-22 13:05] elie222 commented on #12561
Thanks so much for the help. Working through this now, but just fixing the TS import and reverting to SB 5.0.3 has got SB loading again at least!

Can I buy you a coffee (or 3), on something like: https://www.buymeacoffee.com/? Or send you a tip in Bitcoin/Eth?

[2019-03-22 13:45] gvocale commented on #11109
I ran into the same issue as well. I did delete a folder within /pages (a page and a css file), while gatsby develop was running. When I restarted `gatbsy develop`, I got `TypeError: Cannot read property 'children' of undefined`. Deleting `rm -rf .cache` and restarting `gatsby develop` solved the issue.

[2019-03-22 13:46] pierrenel commented on #10867
Having the same issue - via the gatsby shopify source plugin 🤔

[2019-03-22 14:06] Wolfsun commented on #12272
Hi @stefanprobst, thanks for the explanation. Using resolveType is perfectly workable for me at this stage, however using with isTypeOf would be slightly cleaner as I have one interface with lots of implementing objects. I'm using a data structure to represent fairly complex grid based layouts, I have a Card interface, and many CardTypes implementing this interface, which are stored in the data st

[2019-03-22 14:29] sidharthachatterjee commented on #12661
@Steffi3rd https://v2.edgebase.com/company/social-cloud is blank on desktop for me as well

[2019-03-22 14:31] elie222 commented on #12561
Also, I didn’t quite understand what you meant about me exposing items to graphql. I do load the data on the homepage using graphql so that I can use gatsby image. Is there another place I’m doing this for no need?

[2019-03-22 14:32] khades commented on #12725
that issue was fixed in recent 2.2.4 gatsby build, try to update gatsby itself, not cli

[2019-03-22 14:32] sidharthachatterjee commented on #12674
Glad you found the issue @EliasJorgensen

https://github.com/gatsbyjs/gatsby/blob/d5c3351732f5f683202161d83b3708c1de111517/packages/gatsby-plugin-sharp/src/process-file.js#L38

We should log the error here as well so that errors have more context in the future. Would you like to add this?

[2019-03-22 14:47] millette commented on #12692
@wardpeet I finally tried the new patch with gatsby 2.2.8.

gatsby 2.2.8:
[code]

gatsby 2.2.8 with new patch:
[code]

[2019-03-22 14:50] sidharthachatterjee commented on #12706
@antonioc57 This typically occurs when there is an error during server side rendering in `gatsby build`

Based on your stack trace, it looks like it is coming from `react-router-dom`. Gatsby v2 includes reach router for routing so you shouldn't need to include react-router-dom.

[2019-03-22 14:55] sidharthachatterjee commented on #12709
From what I understand `location.hash` is ignored by most search engines and `location.search` should be included because its values often represent unique pages.

[2019-03-22 14:57] cherenkor commented on #12744
try npm install --save core-js@2

[2019-03-22 15:02] jonniebigodes commented on #12561
@elie222 i'm glad i could be of assistance. No need for the coffee but thanks for the offer. Also ok...i didn't go through the code with a fine tooth comb, just focused on the storybook part, so disregard the exposing items to graphl part of the comment.

[2019-03-22 15:02] sidharthachatterjee commented on #12725
@sarahannnicholson This shouldn't occur when running `gatsby build` then `gatsby serve` since the error looks like it's coming from the Dev 404 code, which isn't included in the production build

@AAverin Can you link to a minimal reproduction of this if possible?

[2019-03-22 15:07] sidharthachatterjee commented on #12710
@secondary-school55 Can you elaborate on your use-case? Sounds like this might be rendered void by schema customization

[2019-03-22 15:10] MarkSalabutin commented on #12709
But what about cases when `location.search` don't represent unique page? For example, `fbclid` which facebook add to every external link. If canonical URL includes that parameter search engine will treat this URL as a different page.

[2019-03-22 15:10] jonniebigodes commented on #12661
@Steffi3rd i'm thinking that the problem is not actually with gatsby. The problem stems from a whole diferent place.
I'm getting a 500 error in there, could be the source of it.
This is the errror:
![stepphierderror](https://user-images.githubusercontent.com/22988955/54832688-8e7ea700-4cb4-11e9-9030-b74dda161b1f.png)

[2019-03-22 15:33] pieh commented on #12728
Hey @mahhan

I'm not sure if this is solvable (at least with current implementation of `@gatsby-contrib/gatsby-plugin-elasticlunr-search`). The raw node data doesn't actually look like one you have in your `resolvers` config option.

`node.featured_media.localFile.childImageSharp.fixed.src` is not really there in *raw* node data - the graphql layer does normalize those things to make and creates o

[2019-03-22 15:53] rakeshpai commented on #12744
So far I've tried both gatsby 2.1.x and 2.2.x, with and without core-js, at versions 2 and 3, deleting caches in between changes. Nothing seems to work.

What's surprising is that 2.1.x used to work until I upgraded to 2.2.x. Seems like some child dependency has been upgraded without a lockfile.

[code]

[2019-03-22 16:14] Wolfsun opened #12762 "gatsby-source-filesystem sourceInstanceName query filter sensitive to plugin declaration order"
## Description

It is possible to query the filesystem using a filter defining sourceInstanceName. However, if two or more directories are defined within the plugins section of gatsby-config.js, where the directories are nested within each other, the query only works as expected if the deepest directory is defined first.

### Steps to reproduce

Using the standard gatsby starter, within the images

[2019-03-22 16:28] sidharthachatterjee commented on #12709
@MarkSalabutin That’s a fair. We could add options to configure this, I suppose. Would you like to pick this up?

[2019-03-22 16:29] vileven commented on #12744
same problem

[2019-03-22 16:32] sidharthachatterjee commented on #12745
Thank you for opening this @WriteCodeEveryday

Could you elaborate a little on what you mean? If I understand correctly, you’re requesting for support for tabs in Markdown in gatsby-transformer-remark?

[2019-03-22 16:35] sidharthachatterjee commented on #12744
I think we need to update babel-gatsby-preset with @lushijie comment. @rakeshpai Would you like to open a PR  for this?

[2019-03-22 16:37] DSchau commented on #12745
Also just to clarify--I wouldn't really call what you're asking for _tabs_!

You're asking for a navigable sidebar, right? [Gatsby themes](https://www.gatsbyjs.org/docs/themes/) are going to be a great fit for this--particularly with themes already available like [docz](https://twitter.com/pedronauck/status/1108763903411007488) which support similar use-cases.

That being said--you could also buil

[2019-03-22 16:38] khades commented on #12725
https://github.com/gatsbyjs/gatsby/pull/12671 this pull fixes pages deletion (even 404) in development mode, its live in version 2.2.4

[2019-03-22 16:39] rakeshpai commented on #12744
Oh man. Would have loved to, but I'm not too familiar with gatsby's codebase, and the last time I tried to get a fork running locally, I faced tons of issues getting the build going.

[2019-03-22 16:39] sidharthachatterjee commented on #12753
@amanrathore10 Can you elaborate on what’s failing? If you’re referring to
https://github.com/jafaircl/gatsby-plugin-amp then I’d recommend ole Ingram issue there? 🙂

[2019-03-22 16:42] sidharthachatterjee commented on #12725
Thank you @khades

@AAverin Can you confirm if updating to 2.2.4 fixes your issue?

[2019-03-22 16:44] DSchau commented on #12751
Yup, there are (minimally) at least one or two gotchas with gatsby-dev-cli that you've uncovered. We're working on them :)

Note here (and we should document this), upgrade any packages you're using _locally_ to the latest releases before running gatsby-dev-cli. What's happening is that your version was a little older, we've added dependencies, and those dependencies aren't available in `node_modu

[2019-03-22 16:49] AAverin commented on #12725
I'll update and keep testing, thanks

[2019-03-22 16:55] renanpupin commented on #5329
Same problem here.

[2019-03-22 16:56] ryaholm commented on #12209
I implemented Github Issues as comments on my gatsby blog. Here's the javascript file:
https://github.com/HolmSchool/holm-school-site/blob/master/src/js/github-comments.js
Then on my blogpost template I add at the bottom:
[code]
as found here: https://github.com/HolmSchool/holm-school-site/blob/master/src/templates/blog-post.js

Example comments on a live Gatsby page:
https://holm.school/bootstrap

[2019-03-22 17:01] sondrele commented on #10990
@sidharthachatterjee Has this issue been ignored due to gatsbot, or is it still being considered?

[2019-03-22 17:05] janosh commented on #12209
@ryaholm That's cool. You might want to submit a PR that extends the docs to cover your method once the initial guide at #12458 has been merged.

[2019-03-22 17:07] janosh opened #12765 "Per-file custom LaTeX macros in gatsby-remark-katex"
It's currently possible to specify custom macros in the package options as suggested in #11320.

[code]

However, there doesn't seem to be a way to define `\newcommands` on per-markdown-file level (or am I missing something)? Would this functionality be difficult to add?

[2019-03-22 17:23] Steffi3rd commented on #12661
SORRY guys, wrong example they delete the company...

On this : https://v2.edgebase.com/company/teads

[2019-03-22 17:27] #11834 closed

[2019-03-22 17:27] #11852 closed

[2019-03-22 17:27] #11856 closed

[2019-03-22 17:27] #11826 closed

[2019-03-22 17:27] #11832 closed

[2019-03-22 17:28] pieh commented on #12751
for cli changes - instead of running global `gatsby-(dev-)cli` - I use these aliases:
[code]
(not ideal naming, but they do the work)

and if your changes are just in cli packages - you don't even need `gatsby-dev` (so this helps with any dependency changes there).

[2019-03-22 17:29] maru3l commented on #12554
solve with the PR #12671

[2019-03-22 17:29] #12554 closed

[2019-03-22 17:29] gswirrl commented on #12151
I think this is still fresh! Sorry.

[2019-03-22 17:34] DSchau commented on #12661
@Steffi3rd just tried to reproduce and was unable.

I am guessing one of your dependencies (e.g. in node_modules) may have some code that's not transpiled that is crashing the browser. It would seem to be specific to the company page?

If you have an iOS device (and a Mac) you should be able to [attach a debugger](https://appletoolbox.com/2014/05/use-web-inspector-debug-mobile-safari/) which will

[2019-03-22 17:49] stjepangolemac commented on #12485
With this var it seems it can go further but in the end it still crashes with the same `Illegal Instruction` error.

[2019-03-22 17:57] stefanprobst commented on #10990
@sondrele We currently don't have any plans to add query arguments to fields other than root query fields. However, we have recently added [new APIs for schema customization](https://www.gatsbyjs.org/blog/2019-03-18-releasing-new-schema-customization/) that (hopefully) make building something like this on your own quite straightforward. There are different approaches you could take (also depending

[2019-03-22 18:03] stefanprobst commented on #12272
For discoverability I'm linking to [this example](https://github.com/gatsbyjs/gatsby/issues/10990#issuecomment-475720442) that maybe others find useful as well. Hope this is ok.

[2019-03-22 18:44] KyleAMathews opened #12767 "Move ecosystem links into top docs nav"
<img width="429" alt="Screenshot 2019-03-22 11 40 32" src="https://user-images.githubusercontent.com/71047/54845704-5321af80-4c97-11e9-96b3-f2923c56220d.png">

I've heard a number of reports that people have to google the starters library to find it e.g. https://github.com/gatsbyjs/gatsby/pull/12622. I often have trouble finding the link as well.

The problem arises because a) you have to know to

[2019-03-22 18:48] KyleAMathews commented on #12710
Transformer plugins should use https://www.gatsbyjs.org/docs/node-apis/#onCreateNode

Which is in fact what gatsby-transformer-yaml uses ;-) https://github.com/gatsbyjs/gatsby/blob/546c3d2d79ef09be2bb583b0944cc5d1446562e6/packages/gatsby-transformer-yaml/src/gatsby-node.js#L5

Nodes can be added at any time and in any order so there's no lifecycle hook that could be called for when "sourcing" node

[2019-03-22 18:48] #12710 closed

[2019-03-22 19:21] marcysutton commented on #12767
Could those items go into the top level of the sidebar instead of being in a collapsed accordion? That might help with discoverability too.

[2019-03-22 19:32] kentcdodds opened #12769 "fail fast/eslint plugin that checks for `window`"
## Summary

I wish I could say I never make this mistake, but I make it pretty often. The error message I get when building is:

[code]

The problem is I'm referencing `window` in the render method. This works fine in `dev`, but it doesn't work when running `gatsby build`.

### Motivation

I know that it's my problem. But it'd be cool if `gatsby develop` would give me a warning if it detected some

[2019-03-22 19:59] wesleylhandy commented on #11587
@laurenskling @jonniebigodes

I think I have a better solution. I need to run some tests, but I'll put in a pull request shortly if you are okay with it. I ran with some of your ideas, so I hate to take credit for everything, but I think the solution helps us all.

I imported your dataset @jonniebigodes and started working out a solution.

Basically, instead of using `.toString()`, MongoDB provide

[2019-03-22 20:04] zslabs opened #12770 "Error: Can't determine type for "null" in `SitePlugin.pluginOptions.postCssPlugins`"
## Description

`gatsby build` and `gatsby develop` fails to compile recently upgraded dependencies. I'm not seeing any changes to `gatsby-plugin-sass` that would cause this issue, as there are no other config changes.

[code]

### Steps to reproduce

Before upgrade:

[code]

After upgrade:

[code]

[2019-03-22 21:07] zslabs commented on #12770
1. Delete `.cache`
2. 🤦‍♂️

[2019-03-22 21:14] zslabs commented on #12770
After clearing `.cache` it does boot up, but then when trying to `gatsby build` the project it fails again.

[2019-03-22 21:16] DSchau commented on #12770
Hey Zach!

Could you share a [reproduction](https://gatsby.dev/reproduction) here? This is super weird--would love to take a look!

[2019-03-22 21:19] cadejscroggins commented on #12744
@lushijie why v2 instead of v3?

[2019-03-22 21:24] zslabs commented on #12770
Hey @DSchau unfortunately not on that project, but https://github.com/gremlin/chaoskit/ is experiencing the same issue. For that one, please:

1. Pull-down
2. Install deps as-is
3. `gatsby build`
4. Upgrade just gatsby dependency to latest
5. `gatsby build` (May work the first time or two, but then errors out for me)

So, for that case - it's something between `2.2.3` and `2.2.8`

[2019-03-22 21:40] stefanprobst commented on #4261
@sami616 Could you file a bug report for this, and if possible include a test repo to reproduce the error? That would be very helpful, thank you!

[2019-03-22 21:59] kennedyrose opened #12776 ""registerPreviewStyle" error with gatsby-plugin-netlify-cms"
## Description

The latest gatsby-plugin-netlify-cms doesn't seem to work with the latest netlify-cms.

### Steps to reproduce

Install gatsby-plugin-netlify-cms@3.0.0-rc.1 and netlify-cms@2.8.0 and load up the /admin/ page.

### Expected result

User should see the admin page with no console errors

### Actual result

A blank screen with the following error is seen when loading up the Netlify CMS

[2019-03-22 22:53] stefanprobst commented on #12770
Looks like this is about handling of sparse arrays. I can look at this more closely next week, in the meantime you could test if this (probably not optimal) approach works for you:

https://github.com/gatsbyjs/gatsby/compare/master...stefanprobst:sparse-arrays-in-example-value

Thanks!

[2019-03-22 23:12] jonniebigodes commented on #11587
@wesleylhandy go for it. I havent' had the time to test it out, but if you say it works it's fine by me, good luck with the pull request.

Side note, regarding the large collections you mentioned, for now and if you and the team does not mind, probably start with a modification in the appropriate documentation mentioning that people should be aware that large to extremely large collections can hav

[2019-03-22 23:23] moonmeister commented on #12751
@pieh @DSchau Thanks gents. It sounds like some of this is expected but that I should try using local gatsby-dev-cli and not a global copy and go from there. Thanks for the hints on the aliases (I've tried similar things but not these exact ones). I'll let ya'll know how it goes!

FYI:  I'm trying to work on #10294

[2019-03-22 23:32] wesleylhandy commented on #11587
@jonniebigodes you bring up a good point about large collections. It makes me think a few things. 1) how many large collections would use a relational approach over an aggregation approach to their architecture and 2) perhaps it's better to pass a parameter to the plugin to opt in to this feature.

[2019-03-22 23:32] KyleAMathews commented on #12767
Yeah hmm, not sure why "documentation" is collapsible. /cc @shannonbux @fk

[2019-03-23 01:07] WriteCodeEveryday commented on #12745
You're correct, I was just looking for tabbed content being nested that could be tabbed through.

The twilio example is probably the best: you can choose different languages and get relevant code snippets.

[2019-03-23 01:36] polarathene commented on #12674
So this part is coming from the sharp package?

[code]

Sharp should be the one adding context that clarifies that the data matches the image type the extension suggests? There's a similar issue with the mozjpeg silently failing(extension changes, but no conversion or change to file) with non jpg inputs.

Were you suggesting updating the error to add some context of where it's coming from?

[2019-03-23 02:13] spwisner opened #12782 "Plugin option to access renamed dataLayer for gatsby-plugin-google-tagmanager"
## Summary

Google Tag Manager allows users to rename the dataLayer in GTM (https://developers.google.com/tag-manager/devguide#renaming).  The current configuration of gatsby-plugin-google-tagmanager does not accommodate a renamed dataLayer and data pushed to a renamed dataLayer is inaccessible.  The proposed feature would include a plugin option (which would be optional) in gatsby-config.js to in

[2019-03-23 02:28] jonniebigodes commented on #11587
@wesleylhandy regarding your points. For the first one, while being involved in the "industry" for as long as i have, one thing that i've learned early, was that people never cease to amaze and come up with inventive ways to have data stored. Regarding your second point, a option parameter sounds perfect. If people have the data shaped that way, pass in the said parameter in `gatsby-config.js`, un

[2019-03-23 04:05] Terry-Su opened #12784 "Support disabling gatsby core to turns React components in src/pages into pages automatically"
## Description
For some reason, I'd like to use `createPage` api in `createPages` to create a home page with some custom data,like:
[code]
However, when visiting "/", it turns out the context hasn't been injected, that is, the home page is still the page create automatically by gatsby core as [docs demonstrates](https://www.gatsbyjs.org/docs/creating-and-modifying-pages/).

So I tried to look for

[2019-03-23 05:51] moonmeister commented on #12754
@jakeherp Thanks for the report. I wrote that cache busting code and will see if I can reproduce.

Is there any more context for that error? That should be the url link provided in the html head, not the actual file name I'm not sure from this error which it's complaining about.

It is possible Netlify doesn't support url queries on files. Cache busting can be set to `name` or `none`  mode to fix

[2019-03-23 06:00] moonmeister commented on #12754
I will note that The gatsbyjs.org site is on Netlify and using query base cache busting with no problem. Though maybe someone already made a work around.

[2019-03-23 06:09] moonmeister commented on #12754
@jakeherp I just deployed the default gatsby starter no problem. If you could post your env info using `gatsby info --clipboard` and please also post the configuration for `gatsby-plugin-manifest` and if you've added a netlify config via `gatsby-plugin-netlify` or a `netlify.toml` those configs as well. Thanks!

[2019-03-23 06:55] kharrop commented on #3228
This worked for me, thank you!

[2019-03-23 07:00] sami616 commented on #4261
@stefanprobst will try to file a bug report today - thanks!

[2019-03-23 08:26] sami616 opened #12787 "Gatsby custom schema API fails with Contentful multi reference"
## Description

The new Gatsby customize schema API returns null on multi reference fields when used with ```gatsby-source-contentful``` even when the field is populated

In this case specifically the ```sections``` field:

[code]

### Steps to reproduce

1. clone: git clone https://github.com/sami616/gatsby-contentful-custom-schema-bug.git
2. yarn install
2. yarn start

### Expected result

A lis

[2019-03-23 08:28] sami616 commented on #4261
@stefanprobst #12787 👍🏻

[2019-03-23 08:55] laurenskling commented on #11736
I would still love to see a fix for this, dear gatsbot :)

[2019-03-23 09:22] bjrn commented on #12776
I get this too, at first I thought it had something to do with us having a custom config setup, running `manualInit: true` etc.

[2019-03-23 09:35] bjrn commented on #12776
in `node_modules/gatsby-plugin-netlify-cms/cms.js`,
registerPreviewStyle is called via the default export:
`_netlifyCms.default.registerPreviewStyle('cms.css');`

but logging the module `console.log(_netlifyCms);`, indicates that `default` ought to be left out from that call … `_netlifyCms.registerPreviewStyle('cms.css');` works.

Likely a deeper issue behind this, like mismatching babel configura

[2019-03-23 10:50] janosh commented on #12438
Ah, that's too bad. It would certainly be a great feature to pull in large files at build time!

[2019-03-23 11:06] acollien commented on #1754
Me too! Started happening after I tried with a new theme. Switched back and now it's fail-city.

Logs here: https://pastebin.com/7rZ2nH7C

[2019-03-23 11:28] universse commented on #12784
You can use the gatsby-node onCreatePage API to inject context into automatically created page.
Something like this
[code]

For more info, visit https://www.gatsbyjs.org/docs/creating-and-modifying-pages/

[2019-03-23 12:42] jakeherp commented on #12754
The full log from Netlify is:

[code]

I am now not in the office, from where I have had the issue, but the system report for my Macbook with the same configuration is:

[code]

`gatsby-plugin-netlify` or `netlify.toml` are not set up, but I'll look into that now.

[2019-03-23 13:13] moonmeister commented on #12754
Looks like it is the file names it's complaining about. I'll  see if in can re-create this. Send me the config if you get a chance.

[2019-03-23 14:49] moonmeister commented on #12751
Okay, actually got work done on this thanks gentlemen! Ya'll are the best.

[2019-03-23 14:49] #12751 closed

[2019-03-23 15:25] wesleylhandy commented on #11587
@jonniebigodes Good points. I made this an opt-in feature by setting `preserveObjectIds: true` within the plugin options

[2019-03-23 15:32] Terry-Su commented on #12784
@universse Thankful to your solution! Yes, it's one of solutions. However, it would be better if we can create "/"  page under `createPages`,  because it's more sensible and it's more convenient if there're some reused data under `createPages`.  Otherwise, we would  contract the reused data to outside for both `createPages` and `onCreatePage` apis.

[2019-03-23 15:36] Terry-Su commented on #12784
Btw, for people who encountered similar problem, I solved that by changing the target component's path:
[code]

[2019-03-23 15:49] Brzonka opened #12790 "How context in createPage really works?"
## Summary

Context in createPage is not provided. I have no idea how proper pass values to the context. Additionally `onCreatePage` log no value into console if needed -> It logs only for files in folder `src/pages`. Do you have any solution?

## Relevant information

My code:

[code]

[2019-03-23 15:54] vojtechruz opened #12792 "Markdown rich link to other md file"
I would kindly like to ask for guidance with a plugin I would like to write.

I have a Gatsby blog with markdown posts. In the middle of a blog post, I want to reference another post with a rich link. Something like this:

![link](https://user-images.githubusercontent.com/7038612/54868247-d1ab4980-4d8a-11e9-81cb-e14a7e795d7a.png)

You can see, it is not a simple text link, but it contains a whole

[2019-03-23 16:20] universse commented on #12784
If I'm not wrong, with that approach you would create an extra /home path since it is automatically created.

[2019-03-23 16:36] kripod opened #12793 "[plugin-manifest] Option to generate maskable favicons"
## Summary

Currently, [icon masks](https://www.w3.org/TR/appmanifest/#icon-masks) are not supported by gatsby-plugin-favicon, thus, Android releases with circular icons may present the application icon as a rectangle inside a circle:

![image](https://user-images.githubusercontent.com/14854048/54868837-2ce03a80-4d91-11e9-88bd-5fb97039ed8b.png)

### Basic example

Add a boolean `icon_maskable` opt

[2019-03-23 16:54] moonmeister commented on #12793
@kripod Check out the ["Hybrid" mode](https://github.com/gatsbyjs/gatsby/pull/10294#issuecomment-444376919) in the docs. It allows you to specify your on `icons` array where you could set these features. As far as supporting it by default, I'm not sure how we could guarantee it's safe to mask anything the dev provides. If any thing it seems like `purpose:` could be set to `any`?

[2019-03-23 17:01] kripod commented on #12793
@moonmeister I already took a peek on hybrid mode, but as far as I understand, I would have to specify the `icons` array as follows in order to keep all the sizes generated by default:

[code]

Please see #12794 for a possible implementation of `icon_options`.

[2019-03-23 17:15] moonmeister commented on #12793
Yeah, that'd be correct. This doesn't seem unreasonable. IMO this plugin is already getting an un-wiedly set of features, and I don't see a lot of benefit in this but plenty of opportunity for confusion. If you were maintaining a manifest without the plugin it'd be no different. We can see some of the core maintainers think but that's my 2 cents. // CC: @gatsbyjs/core

[2019-03-23 17:27] #11722 closed

[2019-03-23 17:27] #11793 closed

[2019-03-23 17:27] #11807 closed

[2019-03-23 17:27] #11814 closed

[2019-03-23 17:27] #11829 closed

[2019-03-23 17:27] #11864 closed

[2019-03-23 17:27] #11871 closed

[2019-03-23 17:27] #11889 closed

[2019-03-23 17:27] #11891 closed

[2019-03-23 17:27] #11908 closed

[2019-03-23 17:27] #11910 closed

[2019-03-23 18:30] janosh commented on #25
I think when filtering out draft content for the production build, it's best to do it as close to the source as possible. There might be multiple places where draft content shows up on your site and if you don't do the filtering until you've reached `gatsby-node`'s page creation, you would have to implement the filtering in all of these places places individually. For blog posts that might be your

[2019-03-23 18:49] RikoSmith opened #12796 "[gatsby-starter-default] Multiple text-shadows in the header with typography.js"
## Description

Header title has several text-shadows after adding to [gatsby-starter-default](https://github.com/gatsbyjs/gatsby-starter-default) according to [tutorial-3](https://www.gatsbyjs.org/tutorial/part-three/#using-plugins). Although there is not any `text-shadow` in _[layout.css](https://github.com/gatsbyjs/gatsby-starter-default/blob/master/src/components/layout.css)_ and `textShadow`

[2019-03-23 19:34] eddiemf commented on #12272
I'm having exactly the same problem as @kennedyrose , but in my case the solution provided by @stefanprobst didn't quite help, although I'm not really sure what I'm doing, I just tried every possible way of creating this schema but it always returns an error regarding `multiple types named...`.

Here's the code:

[code]

At first I tried setting only the types I needed (the first 3) with their fie

[2019-03-23 19:47] fodkastir commented on #8833
@jaredsilver Hi Jared, we are having a similar issue and I am trying to put all assets to a different sub-folder like public/assets. I am wondering if this is what you were trying to achieve? Or you wanted to put them into a different folder like /assets? The reason I asked is that it seems to me that my goal could be achieved by doing some custom webpack config but I am trying to confirm that bef

[2019-03-23 20:03] eddiemf commented on #12272
Well, after more digging around and trying stuff without actually know what I'm doing, I came up with this snippet that solved the problem:

[code]

Although I'm still not sure why my first solution didn't work. This seems to be a lot easier to maintain though.

Final thoughts is that I'm not sure if I just lack the knowledge of Gatsby APIs or the docs are misleading for this specific issue. I thi

[2019-03-23 20:51] aprather51 opened #12798 "Render a text from query??"
**Objective:** fetch, parse, and render array of data in string.

**Create:**
created json _asset/data/_**link.json**
[code]

installed `gatsby-transformer-json` package, setting up `gatsby-source-filesystem` **gatsby-config.js**...

**gatsby-config.js**
[code]

set up query using useStaticQuery method

_hooks_/**useUrls.js**
[code]

Components to fetch query and render text in array.
_components_

[2019-03-23 22:57] interglobalmedia commented on #12744
Hi, just wanted to share that I have one vulnerabilty showing at the root of my gatsby blog. It is:

[code]
However, when I went in deeper to fix this, there were much more vulnerabilities and some even critical (I am on gatsby 2.2.5. And many as also mentioned by @rakeshpai did not have lock files. When I would add one, more vulnerabilities revealed themselves. Including for babel related stuff.

[2019-03-23 23:40] joshlongerbeam commented on #10713
@jonniebigodes thank you as well! Though I'm not using Gatsby (yet), I just hit the same issue with Vagaro. The only piece of the puzzle I was missing was `ref={...}` and `this.instance.appendChild` instead of `document.body.appendChild`.

[2019-03-24 00:40] KyleAMathews opened #12800 "<link rel="prefetch"> downloads aren't persisted as expected — use XHR to save"
In Gatsby v2 we shifted to using `<link rel="prefetch">` to prefetch resources as it allows the browsers to be smarter about sharing network bandwidth between competing downloads as it can deprioritize our prefetching when there's higher priority API calls / image requests / etc.

One of our assumptions when we made this design decision was that resources we prefetch would well, stay prefetched. S

[2019-03-24 00:51] KyleAMathews commented on #12800
A code sample:

[code]

[2019-03-24 00:53] addyosmani commented on #12800
So the logic here is..

- Prefetch URL with a low priority
- When the resource is prefetched, force a fetch() which consumes the resource and persists it to the browser cache based on cache-control rules
- Everything prefetched is now persisted under the assumption it will be needed at some point

If we can do further analysis on how well this holds up, it might work. cc @yoavweiss as a sanity che

[2019-03-24 02:47] rakeshpai commented on #12744
+1 for missing lockfiles. My local install of gatsby is now fubar, and I can't seem to go back to an older version. My error is the same as pasted above - about `_semver(...).coerce is not defined` in `@babel/preset-env`, and switching to older versions of gatsby doesn't get rid of it. The inability to go back to a previous known good state is a little frustrating. Deleting my project's lockfile i

[2019-03-24 03:34] Terry-Su commented on #12784
@universse  Yep. It's not the best solution, so I hope there should be a "switch" in gatsby to toggle the feature: "turns React components in src/pages into pages automatically" so that we needn't create extra /home route.

[2019-03-24 06:59] maxlibin opened #12801 "Unable to get data from wordpress source"
Getting error with fetching data, i tired directly accessing wp-json looks fine, not sure whats the problem.

[code]

[2019-03-24 07:56] GlynL commented on #2470
@zachgaskin @ooloth I've come across this too. It's not ideal but the solution I have come up with is adding `position: 'fixed'` to the image.  Although, this means it is in the background of the whole page. You need to make sure you have a background specified everywhere else. The `z-index: -1` will make sure it is hidden behind your other backgrounds.

[code]

[2019-03-24 08:51] ramusbucket commented on #11507
@JustFly1984  @Timothy-Guyon  @pxlla,  I'm on ` Gatsby v2.4.8` and still facing issues. Linked issue above by @millette; does not seem to solve my problems. Thank you guys for your hard work on this awesome project.

[2019-03-24 09:09] pgilad opened #12802 "gatsby-plugin-google-analytics should pre-connect to https://www.google-analytics.com"
Running `lighthouse-4.2.0` on Gatsby blog, that includes `gatsby-plugin-google-analytics` will result in the following note:

![image](https://user-images.githubusercontent.com/4533329/54877296-30bd9c80-4e25-11e9-9c32-298855dda99e.png)

I ran `lighthouse` from the cli, with Gatsby info:

[code]

[2019-03-24 09:48] dougbacelar commented on #9016
After hours debugging, I found this section [in the docs](https://www.gatsbyjs.org/packages/gatsby-image/#fragments) that explained my problem:

They work in the code but not in `localhost:8000/___graphql`

[2019-03-24 10:54] s-appdeveloper commented on #12272
Declaring a field as an array of files doesn't work for me.

[code]
Probably has something to do with https://github.com/gatsbyjs/gatsby/issues/12696

[2019-03-24 11:41] maxlibin commented on #12801
protocol:https does not work,

[2019-03-24 11:41] #12801 closed

[2019-03-24 11:42] yogeshkotadiya commented on #12802
Add this in `gatsby-ssr.js`

[code]

[2019-03-24 12:02] mostearly commented on #10550
@diondiondion Yes, you can create the required fields through `actions.createNodeField`. The explanation of the official documentation is also to create the required fields with this function. I used this function and the `getNode` function to supplement those Markdown documents that don't want to fill in YAML.

[2019-03-24 13:17] anonimoconiglio commented on #12744
I notice that I have this exactly same issue.
Even removing `package-lock.json` (along with `node_modules` folder and `.cache`; I tried everything).
The only way to "fix" it is installing core-js v2 `npm install --save core-js@2`.

[2019-03-24 13:27] ademilter opened #12804 "css order incorrect"
## Summary
global style comes under the header when it should be at the top

## Relevant information
layout.js
<img width="360" alt="Screen Shot 2019-03-24 at 16 09 22" src="https://user-images.githubusercontent.com/187922/54880013-2a451a00-4e51-11e9-811a-85fd4264c6a6.png">

source-code
<img width="483" alt="Screen Shot 2019-03-24 at 16 09 09" src="https://user-images.githubusercontent.com/187922/

[2019-03-24 13:51] pgilad commented on #12802
Thanks! Maybe it should be added to the plugin code?

[2019-03-24 13:51] muescha commented on #12798
`urls.url` -> `node.url`

[2019-03-24 14:11] aprather51 commented on #12798
`node.url`!  feeling sick. Thank you @muescha

[2019-03-24 14:11] #12798 closed

[2019-03-24 14:44] erikdstock commented on #12776
I haven't looked deeply into this but anecdotally i have two projects, both on `gatsby-plugin-netlify-cms@3.0.16`.
One works with `netlify-cms@2.6.0`. The other with `netlify-cms@2.7.0` is throwing this error.

[2019-03-24 15:01] stefanprobst commented on #12787
@sami616 Thanks for reporting! Would you be able to test if #12806 fixes the issue for you?

[2019-03-24 15:11] ramusbucket commented on #11507
Here are the steps I followed -
`gatsby new hello-world`
`npm install`
`npm i gatsby-source-pg`
added config for `gatsby-source-pg` in gatsby-config.js
`gatsby develop`

when I try to execute graphql query in playgroud (http://localhost:8000/___graphql), I get following errors -

[code]

[2019-03-24 15:21] muescha commented on #12798
But anyhow. You can turn your issue into a doc/tutorial?

It shows how to query a json file with hooks and the new useStaticQuery :)

What you mean: @core/docs ?